article.comics #social dd,
article.attachment #social dd,
article.format-quote #social dd,
article.format-status #social dd {
    float: left;
}

article.comics #social .minisocial,
article.format-quote #social .minisocial,
article.format-status #social .minisocial {
    width: 54px;
    margin-left: 2em;
}

article.attachment #social .bztotalshare{
    display: none;
}

article.attachment #social .share-number {
    line-height: 0;
}

article.category-foto-del-giorno .entry-meta.social,
article.category-foto-del-giorno .entry-meta.social.alto {
    position: relative;
    left: auto;
    float: none;
}

article.category-foto-del-giorno #social .minisocial {
    width: 54px;
    float: left;
    padding-right: 2em;
}

#social {
  float: left;
}

#social .old {
  margin-left: -1em;
}

#social .minisocial {
    width: 50px;
    max-width: 50px;
    text-align: center;
    margin: 0 auto 2em;
}

#social dd.minisocial:last-child {
    padding-right: 0;
}

#social .share-number {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    font-size: 1.7em;
    color: #808080;
    padding: 0.5em 0;
    overflow: hidden;
    font-family: "Open Sans Condensed"; font-weight: 700;
    background-color: #FFFFFF;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0; 
    -moz-border-radius: 3px 3px 0 0;
}

#social i {
    cursor: pointer;
}

#social .fa {
    background-color: lightblue;
    width: 100%;
    color: #FFF;
    padding: 0.6em 0 0.45em;
    position: relative;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px; 
    -moz-border-radius: 0 0 3px 3px;
    font-size: 1.7em;
}

#social .fa:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 6px 0px;
    border-color: #FFF transparent transparent;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 19px;
}

#social .social-fb .fa {
    background-color: #4460aa;
}

#social .social-tw .fa {
    background-color: #1cadea;
}

#social .social-gp .fa {
    background-color: #dd5648;
}

#social .social-pn .fa {
    background-color: #c92228;
}

#social .social-wa .fa {
    background-color: #5EBA55;
}

/* Social come il mobile nelle categorie foto e gallery */
    .single-post-new article .entry-meta.social.horizontal.center  {
        text-align: center;
    }
    .single-post-new article .entry-meta.social.horizontal.center #social {
        float: none;
        width: initial;
        display: inline-block;
    }
    
    .single-post-new article .entry-meta.social.horizontal #social, 
    .single-post-new article.category-foto-del-giorno  .entry-meta.social #social,
    .single-post-new article.category-foto-di-archivio .entry-meta.social #social {
        width: 100%;
    }

    .single-post-new article .entry-meta.social.horizontal, 
    .single-post-new article.category-foto-del-giorno  .entry-meta.social,
    .single-post-new article.category-foto-di-archivio .entry-meta.social {
        width: 100%;
    }
    
    @media only screen and (max-width: 780px) {
        .single-post-new article .entry-meta.social.horizontal, 
        .single-post-new article.category-foto-del-giorno  .entry-meta.social,
        .single-post-new article.category-foto-di-archivio .entry-meta.social {
            padding-left: 0;
        }
    
    }
    @media only screen and (max-width: 384px) {
        .single-post-new article .entry-meta.social.horizontal, 
        .single-post-new article.category-foto-del-giorno  .entry-meta.social,
        .single-post-new article.category-foto-di-archivio .entry-meta.social {
            padding-left: 2%;
        }        
    }

    article .entry-meta.social.horizontal #social .minisocial, 
    article.category-foto-del-giorno #social .minisocial,
    article.category-foto-di-archivio #social .minisocial,
    article.comics #social .minisocial,
    body.attachment #social .minisocial {
        max-width: 85px;
        width: 85px;
        height: 40px;
        float: left;
        padding-right: 1.5em;
        
        max-width: none;
        width: auto;
    }
    
    article .entry-meta.social.horizontal #social .minisocial, 
    body.attachment #social .minisocial,
    article.comics #social .minisocial {
        padding-right: 1em;
    }
    
    body.attachment #social #social_pn {
        display: none;
    }
    
    article .entry-meta.social.horizontal #social .share-number, 
    article.category-foto-del-giorno #social .share-number,
    article.category-foto-di-archivio #social .share-number,
    article.comics #social .share-number,
    body.attachment #social .share-number {
        float: right;
        display: inline-block;
        max-width: 50%;
        height: 100%;
        border-bottom: 1px solid #e5e5e5;
        border-left: none;
        border-radius: 0px 3px 3px 0px;
        padding: 0.6em 0;
        width: 43px;
    }
    article.attachment #social .share-number {
        line-height: 0.7em;
        width: 43px;
        max-width: none;
    }

    article .entry-meta.social.horizontal #social .minisocial a, 
    article.category-foto-del-giorno #social .minisocial a,
    article.category-foto-di-archivio #social .minisocial a,
    article.comics #social .minisocial a,
    body.attachment #social .minisocial a {
        float: left;
        display: inline-block;
        width: 50%;
        
        width: 43px;
    }
    
    article .entry-meta.social.horizontal #social .fa,     
    article.category-foto-del-giorno #social .fa,
    article.category-foto-di-archivio #social .fa,
    article.comics #social .fa,
    body.attachment #social .fa {
        border-radius: 3px 0px 0px 3px;
        height: 28px;
        padding: 0.7em 0 0em;
    }
    
    article .entry-meta.social.horizontal #social .fa:after,        
    article.category-foto-del-giorno #social .fa:after,
    article.category-foto-di-archivio #social .fa:after,
    article.comics #social .fa:after,
    body.attachment #social .fa:after {
        border-color: transparent #FFF transparent transparent;
        border-width: 5px 5px 5px 0px;
        top: 15px;
        left: auto;
        right: 0;
    }

@media only screen and (max-width: 480px) {
    
    .single-post-new article .entry-meta.social.alto {
        position: relative;
        left: auto;
        margin-left: 18px;
    }

    #social .minisocial {
        max-width: 85px;
        width: 85px;
        height: 40px;
        float: left;
        padding-right: 1.5em;
    }
    
    #social .share-number {
        float: right;
        display: inline-block;
        max-width: 50%;
        height: 100%;
        border-bottom: 1px solid #e5e5e5;
        border-left: none;
        border-radius: 0px 3px 3px 0px;
        padding: 0.6em 0;
    }
    #social .minisocial a {
        float: left;
        display: inline-block;
        width: 50%;
    }
    
    #social .fa {
        border-radius: 3px 0px 0px 3px;
        height: 28px;
        padding: 0.7em 0 0em;
    }
    
    #social .fa:after {
        border-color: transparent #FFF transparent transparent;
        border-width: 5px 5px 5px 0px;
        top: 15px;
        left: auto;
        right: 0;
    }
    
}

#social .social-tw {
    width: 100%;
    color: #FFF;
    padding: 0.6em 0px 0.45em;
    position: relative;
    border-radius: 3px;
    font-size: 1.7em;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1cadea;
    cursor: pointer;
    margin-bottom: 1em;
}

.social-tw:before {
    content:"\f099";    
}

body.attachment #social .minisocial.social-wa,
#social .social-wa {
    border-radius: 3px;
    overflow: hidden;
    padding-right: 0;
    display: none;
}

#social .fa.fa-whatsapp::after {
    display: none;
}

body.attachment #social .minisocial.social-tw,
article.comics #social .social-tw,
.single-post-new article .entry-meta.social.horizontal #social .social-tw,
.single-post-new article.category-foto-del-giorno  .entry-meta.social #social .social-tw,
.single-post-new article.category-foto-di-archivio .entry-meta.social #social .social-tw {
    width: 43px;
    margin-bottom: 0;
    max-width: 43px;
    padding: 0.7em 0px 0em;
    height: 28px;
    float: left;
    margin-right: 0.6em;
}

body.attachment #social .minisocial.social-wa,
article.comics #social .social-wa,
.single-post-new article .entry-meta.social.horizontal #social .social-wa,
.single-post-new article.category-foto-del-giorno  .entry-meta.social #social .social-wa,
.single-post-new article.category-foto-di-archivio .entry-meta.social #social .social-wa {
    width: 43px;
    max-width: 43px;
    padding-right: 0;
}

body.attachment #social .minisocial.social-wa a,
article.comics #social .social-wa a,
.single-post-new article .entry-meta.social.horizontal #social .social-wa a,
.single-post-new article.category-foto-del-giorno  .entry-meta.social #social .social-wa a,
.single-post-new article.category-foto-di-archivio .entry-meta.social #social .social-wa a {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    #social .social-tw {
        width: 43px;
        margin-bottom: 0;
        max-width: 43px;
        padding: 0.7em 0px 0em;
        height: 28px;
        float: left;
        margin-right: 1em;
    }
    #social .social-gp {
        display: none;
    }
    body.attachment #social .minisocial.social-wa,
    #social .social-wa {
        display: inline-block;
        width: 43px;
    }
    body.attachment #social .minisocial.social-wa a,
    #social .social-wa a {
        width: 100%;
    }
}

/*SOCIAL PER I COMIC*/

article.comics #social {
	float: none;
	display: inline-block;
	vertical-align: top;
	padding-right: 50px;
	padding-bottom: 2.1em;
}
article.comics #social .minisocial,
article.format-quote #social .minisocial,
article.format-status #social .minisocial {
	margin-left: 16px;
}

@media only screen and (max-width: 567px) {
	article.comics #social .share-number {
		display: none;
	}
	article.comics #social {
		padding-right: 0;
		display: block;
		width: 100%;
	}
	article.comics #social dl {
		display: inline-block;
	}
	article.comics #social .minisocial {
		width: 40px;
		margin-left: 0;
	}
	article.comics #social .minisocial a {
		width: 100%;
	}
	article.comics #social .fa {
		border-radius: 3px;
	}
	article.comics #social .fa:after {
		display: none;
	}
}

/*FIX SOCIAL CON ZERO SHARE*/

#main-content #social .share-number.count0 {
    display: none;
}

#main-content #social .share-number.count0 + a i {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#social .share-number.count0 + a i:after {
    content: none;
}