@charset "utf-8";
/* CSS Document */

/* Reset
------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote {
	margin: 0;
	padding: 0;
}
address, em {
	font-style: normal;
}
th {
	text-align: left;
}
hr, legend {
	display: none;
}
img, fieldset {
	border: 0;
}
/* Fonts
------------------------------------------------------------*/
body {
	font-size: 75%; /* IE */
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif!important;
}
html>/**/body {
	font-size: 12px;
}
/* Except IE */
/* clearfix
------------------------------------------------------------*/
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height:0;
}
.clearfix {
	zoom: 1;
} /* IE */
.content p {
	line-height: 160%;
	margin-left: 0px;
}
/* ---------------------------------------------------------
common
----------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
html {
	color: #373737;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	padding-bottom:0px;
	margin-bottom: 0px;
	text-align:center;
	background:#FFFFFF;
}
a:focus {
	outline: thin dotted
}
a:active, a:hover {
	outline: 0
}
h2 {
	font-size: 200%;
}
h3 {
	font-size: 164%;
	margin-left:0px;
}
h4 {
	font-size: 140%;
	color:#666;
	text-align:left;
}
.read {
	font-size: 130%;
}
a {
	text-decoration:none;
	color:#a46702;
}
li {
	list-style-type: none;
}
a:hover, a:active {
	color: #e79203;
	text-decoration: underline;
}
input {
	font-size:           12px;
	color:               #000000;
}
/* ---------------------------------------------------------
16pt=100%
17pt=107%
18pt=113%
19pt=119%
20pt=125%
21pt=131%
22pt=137%
23pt=144%
24pt=150%
25pt=156%
----------------------------------------------------------*/

/* ---------------------------------------------------------
header
----------------------------------------------------------*/
header {
	width: 100%;
	margin-bottom:0;
	box-shadow: none;
}
#headerContents {
	display: block;
	max-width:950px;
	margin: 0 auto;
	text-align: left;
	padding:0 10px;
}
#headerContents h1{
	float:left;
	color: #fff;
	margin-left:50px;
	margin-top:25px;
	font-size:1.1em;
	font-weight: 100;
}
#headerContents img {
	width:240px;
}
.topLogo {
	float:left;
}
/* ---------------------------------------------------------
本文
----------------------------------------------------------*/

/*-------------- Section #Block01 --------------*/
section {
	background-color:#FFF;
	max-width:950px;
	margin:0 auto;
}
#block01 {
	text-align:left;
	/*border:solid 1px #666666;*/
	margin:0px auto;
	max-width: 100%;
}
/*-------------- 枠つく --------------*/
.honmon {
	padding:0px;
	margin:0px auto;
	text-align:center;
	background-color:#34a21a;
}
.honmon h1 {
	font-size: 14px;
	color: rgb(102, 102, 102);
	text-align:left;
}
.honmon h2 {
	font-size: 22px;
	color: #fff;
	text-align:left;
	font-weight:bold;
	position: absolute;
	top: 33px;
	left: 30px;
	width: 650px;
	font-family: "Hiragino Maru Gothic ProN","ヒラギノ丸ゴ ProN W4";
	line-height: 32px;
}
.honmon p {
	color: rgb(102, 102, 102);
}
.topImg {
	width:960px;
	margin:0px auto;
}
.topCatch{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/*-------------- 枠つく --------------*/

.pTitle {
	line-height:         130%;
	color:               #666666;
	font-weight:         bold;
	border-bottom:       3px solid #999;
	padding:             15px 0px 5px;
	text-align:left;
	font-size: 26px !important;
	margin-bottom:10px;
}
.mTitle {
	height: 22px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-left: 4px solid #999;
	padding: 0px 0px 0px 5px;
	font-size: 18px;
	font-weight: bold;
}
.contents01 p {
	text-align:left;
}
input[type=text] {
	margin:10px 0px 2px;
	height:17px;
	font-size:14px;
	width:300px;
	height:25px;
	line-height:17px;
	padding:4px
}
textarea {
	margin:10px 0px;
	width:300px;
	height:170px;
	line-height:17px;
	font-size:14px;
	padding:4px
}
#eventBox .icon-flag{
	color: #2e9400;
	padding-right: 10px;
}
/*-------------- editEventページ --------------*/

input:hover, input:active {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

input[type=text]:hover, input[type=text]:active {
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

footer {
	margin-top: 0;
}

body {
	font-family:"Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}
#col11 {
	float:left;
	width:300px;
	color:#666666;
	font-size:1.1em;
	line-height:25px;
}
#col12 {
	float:left;
	margin:0px 0px 20px 30px;
	width:630px;
	color:#666666;
	font-size:1.1em;
	line-height:25px;
}
#col13 {
	float:left;
	margin-left:30px;
	width:300px;
	margin-bottom:15px;
}
.stepH401 {
	background-image: url("/assets/img/new_chousei/step1.png");
	background-size:65px auto;
	background-repeat: no-repeat;
	height:22px;
	width:100%;
	margin-top:20px;
	margin-bottom:10px;
	padding: 0px 0px 0px 70px;
	font-size:18px;
	-ms-behavior: url("/assets/js/css/backgroundsize.min.htc");
	font-weight: bold;
}
.stepH402 {
	background-image: url("/assets/img/new_chousei/step2.png");
	background-size:65px auto;
	background-repeat: no-repeat;
	height:22px;
	width:200px;
	margin-top:20px;
	margin-bottom:10px;
	padding: 0px 0px 0px 70px;
	font-size:18px;
	-ms-behavior: url("/assets/js/css/backgroundsize.min.htc");
	font-weight: bold;
}
.ui-datepicker {
	font-size: 150% !important;
}
h4 {
	font-size:18px;
	font-weight:bold;
}
.submitBtn input[type="submit"] {
	font-size: 23px;
	color: #fff;
	text-align:center;
	font-weight:bold;
	padding: 20px 50px;
	width:70%;
	display:block;
	background-color:#56b238;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style:none;
	-moz-box-shadow:
 0px 3px 3px rgba(000, 000, 000, 0.2), inset 0px 0px 0px rgba(087, 087, 087, 0);
	-webkit-box-shadow:
 0px 3px 3px rgba(000, 000, 000, 0.2), inset 0px 0px 0px rgba(087, 087, 087, 0);
	box-shadow:
 0px 3px 3px rgba(000, 000, 000, 0.2), inset 0px 0px 0px rgba(087, 087, 087, 0);
	margin:5px auto 35px auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	letter-spacing:10px;
	-ms-behavior:url("/assets/js/css/backgroundsize.min.htc");
	background-image: url('/assets/img/new_top/flag.png');
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 32% 24px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	letter-spacing: 10px;
	text-indent: 57px;
}
.submitBtn input[type="submit"]:hover {
	opacity:1.0;
	cursor:pointer;
	background-color:#2e9400;

}
.submitBtn .icon-flag{
	color: #fff;
}
#alertArea {
	z-index:100;
	position:fixed;
	background-color:rgba(0, 0, 0, 0.8);
	width:100%;
	height:100%;
	display:none;
}
#alertContents {
	z-index:110;
	position:absolute;
	top:5%;
	left:50%;
	margin-left:-425px;
	width:850px;
}
#greenArea {
	background-color:#eaf4e5;
	margin:0 auto;
}
#eventBox {
	width:960px;
	margin:0 auto;
	padding:20px 0px;
}
#newEventForm {
	position:relative;
}
#datepicker {
	width:310px;
	position:absolute;
	top:60px;
	left:650px;
}
#datepicker p {
	margin-bottom:5px;
	font-size:1.4em;
	width:300px;
	color: #666;
}
.sp_top_p {
	text-align:center !important;
	padding-bottom:5px;
	width:960px;
}

.pointArea{
	padding: 20px 0px 20px;
	background-color: #fff;
}
.point-box{
	width: 960px;
	margin: 0 auto;
}
.icon-star{
	color: #2e9400;
	padding-right: 10px;
}
.point-img{
	margin: 30px auto 0;
	color: #666;
}
.point-col{
	float: left;
	max-width: 296px;
	margin: 0 auto;
	padding: 0px 12px;
}
.point-img .col-title{
	font-size: 20px;
	padding-bottom: 6px!important;
	border-bottom: 3px dotted #e70012!important;
	margin: 10px 0;
	font-weight: bold;
}
.point-col p{
	font-size: 14px;
	font-weight: 100;
}
.col-text{
	margin: 0 auto;
}

.chousei-pr-div{
	padding: 20px 0px 40px;
	background-color: #F2F2F5;
}

.chousei-pr-inner-div{
	width: 960px;
	margin: 0 auto;
}

.chousei-pr-div ul{
	padding:20px 0px 0px;
	list-style: none;
}
.chousei-pr-div ul li{
	float: left;
	width:50%;
	text-align: center;
}
.chousei-pr-div ul li img{
	width:456px;
}



/*-------------- input error --------------*/
.alert{
     background: #fcf3c9;
     border: 1px solid #999;
     padding: 7px 10px;
     margin: 10px 0px;
     width:940px;
     height:34px;
     display:table-cell;
     vertical-align:middle;
     color:#DC143C;
}

/*-------------- lp link ------------------*/
.categoryLink{
  width:950px;
  margin:0 auto;
  text-align:center;
}

.categoryLink ul li.theme {
  color: #CCCCCC;
  font-weight: bold;
}

.categoryLink ul li {
  display: inline;
  font-size: 86%;
  line-height: 1.4;
  color: #CCCCCC;
}

.categoryLink ul li a {
  color: #CCCCCC;
}

.categoryLink ul li a:hover {
  color: #949499;
}

.categoryLink ul {
  display: block;
  padding-top: 6px;
}
