@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?phyf0a');
  src:  url('fonts/icomoon.eot?phyf0a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?phyf0a') format('truetype'),
    url('fonts/icomoon.woff?phyf0a') format('woff'),
    url('fonts/icomoon.svg?phyf0a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e939";
}
.icon-hints:before {
  content: "\e93a";
}
.icon-head-line2:before {
  content: "\e938";
}
.icon-manager-menu-blank:before {
  content: "\e925";
}
.icon-manager-menu-document:before {
  content: "\e926";
}
.icon-manager-menu-home:before {
  content: "\e927";
}
.icon-manager-menu-import:before {
  content: "\e928";
}
.icon-manager-menu-list:before {
  content: "\e929";
}
.icon-manager-menu-mail:before {
  content: "\e92a";
}
.icon-manager-menu-person:before {
  content: "\e92b";
}
.icon-manager-menu-plus-one:before {
  content: "\e92c";
}
.icon-manager-menu-ranking-suggest-banner:before {
  content: "\e92d";
}
.icon-manager-menu-star:before {
  content: "\e92e";
}
.icon-manager-menu-tag:before {
  content: "\e92f";
}
.icon-manager-menu-text:before {
  content: "\e930";
}
.icon-manager-project-ad:before {
  content: "\e931";
}
.icon-manager-project-chouseisan-calendar:before {
  content: "\e932";
}
.icon-manager-project-chouseisan-media:before {
  content: "\e933";
}
.icon-manager-project-chouseisan:before {
  content: "\e934";
}
.icon-manager-project-general:before {
  content: "\e935";
}
.icon-manager-project-ranking-suggest:before {
  content: "\e936";
}
.icon-manager-project-zeppin-deli:before {
  content: "\e937";
}
.icon-crown:before {
  content: "\e90a";
}
.icon-mypage:before {
  content: "\e924";
}
.icon-item-arrow:before {
  content: "\e923";
}
.icon-check:before {
  content: "\e903";
}
.icon-head-line:before {
  content: "\e922";
}
.icon-log-out:before {
  content: "\e921";
}
.icon-mail-magazine:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-pause:before {
  content: "\e902";
}
.icon-exclamation-point:before {
  content: "\e904";
}
.icon-human:before {
  content: "\e905";
}
.icon-circle:before {
  content: "\e906";
}
.icon-outline-circle:before {
  content: "\e907";
}
.icon-key:before {
  content: "\e908";
}
.icon-flag:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\e90d";
}
.icon-chouseisan:before {
  content: "\e90e";
}
.icon-kakugo-one:before {
  content: "\e90f";
}
.icon-kakugo-two:before {
  content: "\e910";
}
.icon-kakugo-three:before {
  content: "\e911";
}
.icon-kakugo-four:before {
  content: "\e912";
}
.icon-kakugo-five:before {
  content: "\e913";
}
.icon-kakugo-six:before {
  content: "\e914";
}
.icon-kakugo-seven:before {
  content: "\e915";
}
.icon-kakugo-eight:before {
  content: "\e916";
}
.icon-kakugo-nine:before {
  content: "\e917";
}
.icon-marugo-one:before {
  content: "\e918";
}
.icon-marugo-two:before {
  content: "\e919";
}
.icon-marugo-three:before {
  content: "\e91a";
}
.icon-marugo-four:before {
  content: "\e91b";
}
.icon-marugo-five:before {
  content: "\e91c";
}
.icon-marugo-six:before {
  content: "\e91d";
}
.icon-marugo-seven:before {
  content: "\e91e";
}
.icon-marugo-eight:before {
  content: "\e91f";
}
.icon-marugo-nine:before {
  content: "\e920";
}

