﻿body{font-family:"宋体";font-size:12px;background:#fff;color:#fff;margin:0;padding:0}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0}
li{list-style:none}
table{border-collapse:collapse}
h1,h2,h3,h4,h5,h6,p,select,td{margin:0;padding:0;font-size:12px}
/*全局设置*/
a{color:#fff;text-decoration:none}
a:hover{color:#fff;text-decoration:none}
a:hover p{text-decoration:none}
.blank10{height:10px;clear:both;overflow:hidden}
/*娱乐首屏*/
.focus_box{
    width:640px;
	height:316px;
	padding:0px;
	margin:0px
}
.focus{
	width:640px;
	height:316px;
	float:left;
	position:relative
}
.focus #pic{
	width:507px;
	height:285px;
	top:31px;
	left:0px;
	overflow:hidden;
	position:relative
}
.focus #pic ul{
	width:5070px;
	height:285px;
	float:left;
	position: relative
}
.focus #pic li{width:507px;height:285px;float:left}
.focus #pic li img{width:507px;height:285px;float:left}
.focus #tip{	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1000;}
.focus #tip ul li{
	float:left;
	display:block;
	width:12px;
	height:12px;
	background-color:#bebebe;
	overflow:hidden;
	cursor:pointer;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:9px;
}
.focus #tip ul li.current{
	float:left;
	display:block;
	width:12px;
	height:12px;
	background-color:#e60012;
	overflow:hidden;
	cursor:pointer;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:9px;
}

.content{
    width:507px;
	height:285px;
	position:relative
}
.pic{
	position:absolute;
	top:0px;

}
.prev{
	position:absolute;
	top:228px;
	left:28px;
	width:29px;
	height:53px;
	display:block;
	z-index:101;
	cursor:pointer;
	background-image:url('left1.png')
}
.next{
	position:absolute;
	top:228px;
	width:29px;
	height:53px;
	display:block;
	z-index:101;
	right:43px;
	cursor:pointer;
	background-image: url(right1.png)
}
.H5{
    z-index:2;
    position: relative;
	left:10px;
	margin-top:15px;
	float:left;
	width:115px;
	line-height:20px;
	display:block;
	font-family:宋体;
	font-size:12px;
	color:#fff
}
.H1{
	z-index:2;
	position:relative;
	left:10px;
	top:18px;
	float:left;
	text-align:left;
	width:115px;
	line-height:24px;
	display:block;
	font-family:微软雅黑;
	font-size:18px;
	color:#fff;
	margin-bottom:5px;
}
.H1 a ,.H5 a{
	color:#fff;
	text-decoration:none
}
.H1 a:hover{
	color:#fff;
	text-decoration:underline
}
.bg{
	background:#000;
	width:133px;
	top:0px;
	position:absolute;
	height:285px;
	left:0px;
}
.bg1{
	width:640px;
	height:31px;
	background-color:#f2f2f2;
	top:0px;
	left:0px;
	position:absolute
}
.title{
	top:2px;
	left:8px;
	position:absolute
}
.greyb18{
	font-family:微软雅黑;
	font-size:18px;
	color:#333;
        letter-spacing:2px
}
a.greyb18:hover{
	color:#333;
	text-decoration:underline
}
.text{top:31px;position:relative;float:left;overflow:hidden;width:133px;height:285px;}
.part2 {display:none;}
.grey12{color:#333}
a.grey12:hover{color:#333}
.tg {z-index:5;position:absolute;top:10px;left:300px;width:200px;background:#f2f2f2 url(/images/index2014/tg.png) 0 0 no-repeat;height:20px;cursor:auto;padding-left:20px;}