﻿body{font-family:"宋体";font-size:12px;background:#000;color:#fff;margin:0;padding:0}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0}
li{list-style:none}
table{border-collapse:collapse}
h1,h2,h3,h4,h5,h6,p,select,td{margin:0;padding:0;font-size:12px}
/*全局设置*/
a{color:#fff;text-decoration:none}
a:hover{color:#fff;text-decoration:none}
a:hover p{text-decoration:none}
/*娱乐首屏*/
.focus_box{
    width:960px;
	height:415px;
	border:1px solid red;
	padding:0px;
	margin:0px auto;
	overflow:hidden;
}
.focus{
	width:960px;
	height:415px;
	float:left;
	position:relative
}
.focus #pic{
	width:960px;
	height:415px;
	overflow:hidden;
	position:relative
}
.focus #pic ul{
	width:9999px;
	height:415px;
	float:left;
	position: relative
}
.focus #pic li{width:960px;height:415px;float:left}
.focus #tip{
    margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: absolute;
	left: 0px;
	top: 500px;
	z-index: 1000;}
.focus #tip ul li{
	float:left;
	display:block;
	width:12px;
	height:12px;
	overflow:hidden;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:10px;
}
.focus #tip ul li.current{
	float:left;
	display:block;
	width:12px;
	height:12px;
	overflow:hidden;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:10px;
}
.content{
    width:960px;
	height:415px;
	position:relative
}
.pic{
	position:absolute;
	top:0px;
	left:0px
}
.prev{
	position:absolute;
	top:70px;
	left:0px;
	width:0px;
	height:0px;
	display:none;
	z-index:10;
	cursor:pointer;
	background-image:url('left1.png');

}
.next{
	position:absolute;
	top:70px;
	width:0px;
	height:0px;
	display:none;
	z-index:10;
	right:0px;
	cursor:pointer;
	background-image: url(right1.png);

}
.fl{float:left}
.pic1{width:290px;height:415px}
.pic1bg{width:290px;height:30px;margin-top:-30px;background-color:#000;filter:alpha(opacity=60);moz-opacity:0.60;opacity:0.60}
.pic1tx{width:290px;height:22px;position:relative;z-index:2;margin-top:-22px;left:10px;overflow:hidden}
.piclist3{width:670px;overflow:hidden}
.piclist3s{width:310px;height:195px;padding:0 0 25px 25px;float:left;overflow:hidden}
.piclist3s .pic2bg{width:310px;height:30px;margin-top:-30px;background-color:#000;filter:alpha(opacity=60);moz-opacity:0.60;opacity:0.60}
.piclist3s .pic2tx{width:310px;height:22px;position:relative;z-index:2;margin-top:-22px;left:10px;overflow:hidden}
.white14{font-size:14px;color:#fff}