/* This file is referenced by all Batch 2 Pages and the Buyflow */

/* Sprite references - added by FED */
#footer-general a {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/oo_icon.gif') no-repeat 0 0;}
#footer-comcast span {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/footer.png') no-repeat 0 5px;}
#footer-container {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/footer-repeat-bg.png') repeat-x top left; }
#footer-share li {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/footer.png');}
.comcast-logo, .xfinity-logo, .header-nav a, .header-nav li.selected span, .header-signin-container, .subheader-nav.dropdown-header a span, .subheader-nav.dropdown-header h3 span, .subheader-nav.dropdown-header li.expanded span, .subheader-nav.dropdown-header li:hover h3, .subheader-nav.dropdown-header li.expanded h3, .subheader-search-container .cart-inactive, .subheader-search-container .cart-active, .subheader-search-container input[type='submit'], .header-backarrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header.png'); background-repeat: no-repeat;}
#header-checkout #header-logo, #header-checkout .completed span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-buyflow.png');}
#header-checkout ul {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/header-checkout-bg.png');}
.hgroup .text, .subtitle .text {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/global-repeat-bg.png') repeat top left;}
.global-product-header-wrapper {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-header-bg.png') no-repeat top center;}
.blue-bars {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat}
.secondary-content > .hgroup, .secondary-content > .hgroup .subtitle, .secondary-content > .hgroup .subtitle span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-more-info.png');}
.subline-link.bottom-button {background: transparent url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-buyflow.png') no-repeat scroll -2px -764px;}
div.support-computer {background-image: url('/internet-service//cdn.comcast.com/~/Media/ImageLibrary/Batch2/Internet/support-computer.png?rev=bd8601b7-61c6-407f-8027-5679a260118f'); background-repeat: no-repeat;}
body, .tab-content #package-details .hgroup .text, .tab-content #package-details .subtitle .text {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/global-repeat-bg.png'); background-repeat: repeat;}
.share .option:first-child {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-boxes.png') no-repeat -734px -1808px transparent;}
.share, .share-options, .share .email > a, .share .close, .learn-more-promo, .learn-more-promo .learn-more-promo-close, .share .arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-boxes.png'); background-repeat: no-repeat;}
.ie7 #overlay-background, .ie8 #overlay-background {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/images/overlay-background.png');}
.callout-plans-avail .features li span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat;}
.bundle-tabs .arrow, .bundle-tabs .nav .nav-border  {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-bundle-tabs.png');}
.tabs-lob .tab-nav {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/bg.jpg'); background-repeat: repeat;}
.btn-promo .icon-gift, .btn-white span.icon-refresh {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-column.png') no-repeat scroll transparent;}
.btn-switch .lob-arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-ui.png');}
.tab-btn-arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-ui.png');}
.install-header, .install-month-table td.available, .install-table-previous, .install-table-next, .install-table-selected, .guarantee {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-install-technician.png') no-repeat top left;}
.install-table-overlay .arrow {background: url("sprites/sprite-install-technician.png") no-repeat -442px -107px transparent;}
.install-table-overlay .icon-check {background:  url("sprites/sprite-install-technician.png") no-repeat scroll -334px -137px transparent;}
.install-month-times .unavailable, .install-month-table .unavailable td {background:  url("sprites/blocked-bg.jpg") repeat #fff;}
.icon-timer {background: url("sprites/sprite-header-icons.png") no-repeat left -2174px transparent;}
.carousel-container + .promo {background: transparent url(//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-tv.png) -268px bottom no-repeat;}
.product-tv-sports .carousel-container + .promo .promo-description {background: transparent url(//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-sports-logos.png) 30px -748px no-repeat;}
.carousel .watch-preview, .carousel-top, .carousel-container {background-image: url(//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-tv.png); background-repeat: no-repeat;}
#carousel-items li {background: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-tv.png") no-repeat scroll left top transparent;}
.slide-desc {background-image: url(//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/bg-slide-description.png);}
.arrow-left, .arrow-right, .carousel .dot-pagination .popup, .carousel .dot-pagination, .carousel .dot-pagination .page, .carousel .dot-pagination .green-dot {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-carousel-elements.png');}
.req-product-icon{background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-carousel-requires-icons.png');}
.pagination-title li.hover, .pagination-title .selected, .carousel-tooltip .arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-carousel-elements.png'); background-repeat: no-repeat;}
.carousel-xfinity-home-features .dot-pagination, .carousel-xfinity-home-features .dot-pagination .green-dot{background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/carousel-long-dots.png');}
.carousel-24-7 .dot-pagination .green-dot {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/carousel-long-dots.png') left -12px;}
.icon-arming, .icon-touchscreen, .icon-mobile, .icon-video, .icon-pet {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png'); background-repeat: no-repeat;}
.icon-credit-check, .icon-approved {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png'); background-repeat: no-repeat;}
.customize-home-system .checkout-content-section {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/home-equipment-header.jpg') no-repeat right 117px;}
.credit-check-verisign {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-buyflow.png') no-repeat 0px -60px;}
.order-details .question {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/mini-cart.png');}
.content-couple-list .green-check {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat;}
.deals-wrapper .deals-header h2, .deals-wrapper .deals-header h2 span, .deals-wrapper .checkbox {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-deal-finder-tab.png'); background-repeat:no-repeat;}
.deal-finder_icon_tv, .deal-finder_icon_phone, .deal-finder_icon_internet, .deal-finder-button .checkbox, .featured-new-customer-offers .find_local_offers {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards.png'); background-repeat: no-repeat;}
.promo-device-number .promo-match-slider .slider_handle, .ie7 .promo-device-number .device-number-spinner, .ie8 .promo-device-number .device-number-spinner, .promo-device-number .device-controller .increment-btn, .promo-device-number .device-controller .decrement-btn {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-device-number.png'); background-repeat: no-repeat;}
.promo-device-number .device-computer .device-icon, .promo-device-number .device-tv .device-icon, .promo-device-number .device-console .device-icon, .promo-device-number .device-tablet .device-icon, .promo-device-number .device-appliance .device-icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-device-number-icons.png'); background-repeat: no-repeat;}
.module-dropdown a > span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-dropdown.png'); background-repeat: no-repeat;}
.equipment-compare .checked, .equipment-compare .question {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-column.png');}
.trigger {background:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png');}
.icon-schedule {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
#footer-container {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/footer-repeat-bg.png') repeat-x top left;}
#footer-share li, #footer-comcast span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-footer.png'); background-repeat: no-repeat;}
#footer-general a {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/oo-icon.gif'); background-repeat: no-repeat;}
#form-account-info #legend-1 { background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -363px 0 #F2F2F2;  }
#form-account-info #legend-2 { background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -363px -70px #F2F2F2;  }
#form-account-info #legend-3 { background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -363px -145px #F2F2F2; }
.dropdown a > span {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-radioboxes.png') no-repeat scroll -619px -398px transparent;}
span.checkbox {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-radioboxes.png') no-repeat scroll -40px 0 transparent;}
.ssn #ssn-question {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -164px -5px transparent;}
.tooltip-arrow-tip-left, .tooltip-arrow-tip-right, .tooltip-close-btn, .tooltip-top, .tooltip-tall, .tooltip-wide-tall, .tooltip-short-dark-border, .tooltip-dark-header, .tooltip-bigarrow-tip {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/tooltip.png');}
.form-row #verisign {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -292px -56px transparent;}
.form-field .icon-card-logo {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png');}
#ccv-question {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') no-repeat scroll -165px -5px transparent;}
.medium-verisign {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-forms.png') repeat scroll 0 0 transparent;}
#form-account-info #verisign {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-buyflow.png') no-repeat scroll -292px -56px transparent;}
#global-product-tabs .icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-feature-icon.png'); background-repeat: no-repeat;}
.tall-tabs .icon {background-image: url('//cdn.comcast.com/~/Media/engbf_comcast_com/images/upgrade-center-icons.png'); background-repeat: no-repeat;}
.customer-content  .comcast-guarantee {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-support.png');}
.carousel-item .features .icon, .features.icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-feature-icon.png');}
#mini-cart .live-chat, #mini-cart .call-comcast, .mini-cart-expand-arrow, .mini-cart-question {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/mini-cart.png'); background-repeat: no-repeat;}
#overlay-terms .icon-terms{background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
.overlay-container .overlay-close-btn {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-overlay.png') !important; background-repeat: no-repeat;}
.overlay-wrapper .cell-contents .checked, .overlay-container .cell-contents .checked {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat;}
.overlay-bundles .details-content ul li {*background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/bullet_grey_dark.gif'); *background-repeat: no-repeat }
.overlay-close-btn, .overlay-top-end, .overlay-corner-right, .overlay-footer-corner {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/overlay.png');}
#overlay-tech-plan .chart-header li:first-child, #overlay-protection-plan .chart-header li:first-child {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-ui.png') no-repeat scroll -2px -1372px transparent;}
#overlay-modem .checker {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-modem-overlay.png');}
#pagination .next, #pagination .previous {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/search-pagination.png');}
.overlay-black .overlay-close-btn {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/overlay.png');}
.overlay-content .icon-email-this-page, .overlay-content .icon-order-details {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
.overlay-content .arrow {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-ui.png');}
.bundle-details .switch-buttons .selected, .bundle-details .switch-buttons .selected span {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-boxes.png');}
.overlay-content-bottom .icon-print {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-tv.png') no-repeat left -310px;}
.home-security #chart .add span {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-boxes.png') no-repeat -794px -1255px;}
.price-savings .gray-arrow {background: transparent url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-existing-customer.png') -2px -192px no-repeat;}
.overlay-content .icon-house-cross, .overlay-content .icon-plug, .overlay-content .icon-house, .overlay-content .icon-date, .overlay-content .icon-credit-check, .overlay-content .icon-credit-check-deposit, .overlay-content .icon-retail, .overlay-content .icon-pin, .overlay-content .icon-notepad, .overlay-content .icon-print, .overlay-content .icon-schedule, .overlay-content .icon-contact, .overlay-content .icon-terms, .overlay-content .icon-contract, .overlay-content .icon-warning, .overlay-warning, .overlay-content .icon-approved, .overlay-content .icon-equipment, .overlay-content .icon-email-this-page, .overlay-content .icon-order-details, .overlay-content .icon-stop {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
.overlay-equipment-details .equipment-slides .zoom, .overlay-equipment-details .equipment-large-image .close-slide, .overlay-equipment-details .equipment-large-image .arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-overlay-slides-show.png');}
.overlay-multi-column .print .icon-print, .overlay-multi-column .print-channelLineup .icon-print  {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-channel-lineup-overlay.png');}
.standalone-channel-lineup .title-row .print .icon-print, .standalone-channel-lineup .title-row .print-channelLineup .icon-print {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-tv.png'); background-repeat: no-repeat;}
.overlay-init-localize .close-button.ur-overlay-close {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
.overlay-init-localize .service-address {background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png');}
.overlay-init-localize .ur-overlay-bottom {background:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/ur-overlay-bg-bottom.png') no-repeat left bottom;}
.overlay-init-localize .ur-overlay-top {background:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/ur-overlay-bg-top-test.png') no-repeat left top;}
.overlay-billing-details .content-header > h2 {padding: 30px 0 30px 70px; background: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png") 15px -1540px no-repeat #F2F2F2;}
.product-cards-icons .tabs-container {background: #f5f5f5 url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 100% no-repeat;}
.product-cards-icons .tabs-arrow {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards-icons.png') 100% -378px repeat;}
.product-cards-icons .contracts .price {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards-icons.png') -5px -372px no-repeat}
.product-cards-icons .contract-upgrade {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards-icons.png') 150px -415px no-repeat;}
.product-cards-icons .contract-offer-switch-buttons .arrow {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-column.png'); background-repeat: no-repeat;}
.product-cards-icons .contract-offer-switch-buttons a {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-column.png') no-repeat scroll -730px -270px transparent;}
.product-cards-icons .gradient {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-fade-bg.png') 0 -0px repeat;}
.product-cards-icons .contract-offer-switch-buttons .first.selected {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-column.png') no-repeat scroll -490px -270px transparent !important;}
.product-cards-icons.expanded .reveal-init .reveal-btn {text-indent: 78px; background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards-icons.png') 0 -266px no-repeat;}
.product-cards-icons .reveal-init .reveal-btn {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards-icons.png') 0 -304px no-repeat;}
.product-cards-icons.bundle .reveal-init {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-expand-bg.png') 0 -0px repeat;}
.product-cards-icons {background: #fff url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-tabs-bg.png') left 0 repeat-y;}
.product-cards-icons.double .details, .product-cards-icons.triple .details {background: #f0f0f0 url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat;
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 40%); /* FF3.6+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#e5e5e5)); /* Chrome,Safari4+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 40%); /* Opera 11.10+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 40%); /* IE10+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 40%); /* W3C */}
.product-cards-icons.single .details {background: #f0f0f0 url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat;
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -o-linear-gradient(top,  #ffffff 65%,#e5e5e5 100%); /* Opera 11.10+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, -ms-linear-gradient(top,  #ffffff 65%,#e5e5e5 100%); /* IE10+ */
	background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/product-cards-icons-contract-bg.png') right 0 no-repeat, linear-gradient(to bottom,  #ffffff 65%,#e5e5e5 100%); /* W3C */
}
.product-cards-icons .contract-upgrade div.question {background: url("sprites/sprites-product-column.png") no-repeat scroll -350px -233px transparent;}
#carouselItems li, #carouselMarker, #col-justwant .icon, #package-details .arrow, #homepage #whyXfinity li{background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/homepage_sprite.png'); background-repeat: no-repeat;}
#deal_finder .deal-finder-icon, .deal-finder-button .checkbox, .package-list .tick, .package-list .package .learnMore, .featured-new-customer-offers .find_local_offers, .more_tv_offers_btn span, .package-list .package .hideDetails {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-product-cards.png'); background-repeat: no-repeat;}
#bundle_list li, #bundle_list a, .package-list th, .package-list .tick, .package-list-compare .tick, .package-list .learnMore, .package-list .hideDetails, #featured_new_customer_offers .learnMore, #featured_new_customer_offers .hideDetails, .sprite, #my_service, #my_service_top, #service_list, #service_list_top, .package-list .more_info, .package-list .info_popup, .info_popup .top, .package-list.doubleplay .num, .package-list.tripleplay .num, .package-list .best-price-icon, #more_tv_offers_btn span, #package-details .dropdown a > span, .deal-finder-results .dropdown a > span {background-color:transparent; background-image:url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/june_hp_product_sprite.png'); background-repeat:no-repeat;}
.details_content ul li {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/bullet_grey_dark.gif'); background-repeat: no-repeat;}
#homepage-tabbed-content {background: url('wwwb.comcast.com//cdn.comcast.com/~/Media/ImageLibrary/homepage/tab_content_shadow.png?rev=625c5de1-3c61-458a-93c0-c9f420c6f013') no-repeat scroll 0 0 transparent;}
#homepage #comcastGuarantee {background: url('wwwb.comcast.com//cdn.comcast.com/~/Media/ImageLibrary/homepage/guarantee_logo.gif?rev=53fd446b-a1be-4c70-93f3-db422d652a44') no-repeat scroll 0 0 transparent;}
#lnkComcastBusiness {background: url('wwwb.comcast.com//cdn.comcast.com/~/Media/ImageLibrary/homepage/Common/business_customer_icon.gif?rev=0e5c55dd-3689-497e-9155-9a996101b3ba') no-repeat scroll right 4px transparent;}
#deal_finder .deal_finder_icon, #deal_finder .deal_finder_button, #deal_finder .show_offers_button, #deal_finder .inactive_button, #carouselItems li, #carouselMarker, #col-justwant .icon, #package-details .arrow, #homepage #whyXfinity li{background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites//homepage_sprite.png'); background-repeat: no-repeat;}
#bundle_list li, #bundle_list a, .package-list th, .package-list .tick, .package-list-compare .tick, .package-list .learnMore, .package-list .hideDetails, #featured_new_customer_offers .learnMore, #featured_new_customer_offers .hideDetails, .btnStartShopping, .sprite, #my_service, #my_service_top, #service_list, #service_list_top, .package-list .more_info, .package-list .info_popup, .info_popup .top, .package-list.doubleplay .num, .package-list.tripleplay .num, .package-list .best-price-icon, #more_tv_offers_btn span, #package-details .dropdown a > span {background-color: transparent; background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/june_hp_product_sprite.png'); background-repeat: no-repeat;}
#homepage #deal_finder_container {background: #f9f9f9 url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/verticle-shadow-both-sides.png') -7px 0 repeat-y;}
.icon-security, .icon-home-automation, .icon-energy-savings, .icon-home-compare {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-feature-icon.png'); background-repeat: no-repeat;}
.home-security-plans .icon-service-warning {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png') no-repeat 0 -2550px;}
.product-hero .sign-in a {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png') no-repeat 0 -2593px;}
.table-plans-contents td {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/table-td-border.png');}
.table-viewport-shade {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/table-viewport-shade.png'); background-repeat: repeat-y;}
.table-pagination {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/existing-support.png'); background-repeat: no-repeat;}
.table-plans .arrow {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-ui.png') no-repeat -246px 0px;}
.table-plans-wrapper .cell-contents .checked {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat;}
.table-plans-wrapper .table-plans-heading, .table-plans-wrapper .table-plans-list li {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/table-viewport-shade-left.png');}
.table-plans-heading, .table-plans-header li:last-child, .table-plans-list li {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/table-viewport-shade-left.png');}
.table-viewport .scrollbar-container {background: #fff url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/table-viewport-shade-left.png') repeat-y left 0;}
.progress-step, .progress-step a, .progress-step .not-link, .progress-step-finished .step-text {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-progress-bar.png');}
.two-column .tab-promo-btn {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprites-product-boxes.png')}
.ie7 .promo-featured {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-promo-featured.png');}
span.radio, .included, .required, .dropdown a > span, .add-connection span, .has-connection .close-button, #tv-connection-popup .close-button, .form-select-connection .close-button, .kit-options .question, span.checkbox, .form-select-tv.just-added .activated-icon, .form-select-tv.activated .activated-icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-radioboxes.png'); background-repeat:no-repeat; background-color: transparent;}
.plan-item .icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-feature-icon.png'); background-repeat: no-repeat; background-color: transparent;}
.offer-package-wrapper .icon-feature, .offer-package-wrapper .icon-feature span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-banner.png'); background-repeat: no-repeat;}
.sports-events .icon-details {background: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png') no-repeat -171px -92px;}
.module-view-offers {background-image: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/internet/internet-price-bg.jpg");}
.module-view-offers .offer-content {background-image: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/includes/images/sprite-product-boxes.png");}
.module-available-offers {background-image: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/internet/internet-price-bg.jpg");}
.question {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/mini-cart.png'); background-repeat: no-repeat;}
.tooltip-arrow-tip-left, .tooltip-arrow-tip-right, .tooltip-close-btn, .tooltip-top, .tooltip-tall, .tooltip-wide-tall, .tooltip-short-dark-border, .tooltip-dark-header, .tooltip-bigarrow-tip {background-image: url("sprites/tooltip.png");}
.sublayout.two-column .features-list .icon-check {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-mini-ui-icons.png'); background-repeat: no-repeat;}
.white-feature-list-item .white-feature-badge, .white-feature-list-item .white-feature-badge span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-banner.png'); background-repeat:no-repeat;}
.white-feature-list-item .icon {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-feature-icon.png'); background-repeat: no-repeat;}
.green-check{background: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/sprites-product-column.png") no-repeat  -450px -230px transparent;}
.home-security-save-money .video-container {background: url("//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/home-security/video-shadow.png") no-repeat scroll center bottom transparent;}
.deal-finder-red .deal-finder-header, .deal-finder-red .deal-finder-header span {background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-deal-finder-tab.png');}
.deal-finder-black .deal-finder-icon {background-image: url('//cdn.comcast.com/~/Media/ngbf_comcast_com/Default/Images/homepage_sprite.png');}
#homepage #deal_finder_container.deal-finder-black-wrapper {background-image: url('//cdn.comcast.com/~/Media/ngbf_comcast_com/Default/Images/verticle-shadow-both-sides.png');}
.deal-finder-black-wrapper .offer-links,
.deal-finder-red .offer-information .offer-links {background-image: url("//cdn.comcast.com/~/Media/ngbf_comcast_com/Common/Images/product-sprites.png");}
.movers-header {background-image: url(//cdn.comcast.com/~/Media/ImageLibrary/movers/landing_page/movers_top_banner_bck.png);}
.movers-form-header { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/movers/movers-form-header-bkg.jpg'); }
.movers-section-title { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/movers/logo-mover-edge-white'); }
.movers-form-header h1:before, .movers-thank-you-message:before { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png'); }
.movers-form-nav, .movers-confirm-header { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/global-repeat-bg.png'); }
.movers-confirm-header .movers-section-title { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/movers/logo-movers-edge.png'); }
.movers-summary-bottom { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/movers/bkg-thank-you-summary-divider.png'); }
.ui-datepicker-trigger { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/movers/icon-calendar.png'); }
.sprite-header-icons { background-image: url('//cdn.comcast.com/~/Media/www_comcast_com/Includes/Images/Batch2/sprites/sprite-header-icons.png'); background-repeat: no-repeat; background-position: -150px 0;}

/* **************** */
/* BATCH 2 CSS MODS */

/* GLOBAL HERO */
.product-hero  { height:328px;padding:0 0 0 75px; }
.product-hero > img { float:left;margin: 30px 0 0; }
.best-price { text-transform: uppercase; }
.product-hero .button-wrap { width: 190px;float: left;padding-top: 23px; }
.product-hero-promo .product-selling-copy { padding-top: 22px;padding-left:400px; }
.product-selling-cta-wrapper { margin: 18px 0 -22px; }
.product-selling-copy-main { padding-left: 0; }
.best-price-hero { background-image:url(//cdn.comcast.com/~/Media/ImageLibrary/qw-products/best-price.png?rev=85ba6ba5-9278-4118-b76d-89edc48492a9);width:70px;height:52px;float:right;margin:-35px -35px 0 0; }
.allplans { color: #444444; font-size: 12px; font-weight: bold; line-height: 18px; }
.per-month { width:155px;position:absolute;margin-top: 5px; }

/* DEFAULT HERO */
.default-hero ul { list-style-type: disc; line-height:18px; padding-left:18px; padding-top:10px; }
.default-hero li { font-size:12px; }
.default-hero .product-selling-cta-wrapper { margin: 18px 0 -42px; }
.default-hero .product-hero-promo .product-selling-copy { padding-top: 42px; }
.default-hero .product-hero .price-wrap { width: 136px;float: left; }
.default-hero .global-product-header { height:300px; }

/* SEGMENTED HERO */
.segment-hero .price-wrap { width:125px;margin:27px 60px 0 0; }
.segment-hero .product-hero-promo .product-selling-copy { padding-top:52px; }
.segment-hero .product-selling-cta-wrapper { margin: 0px 0 -22px; }
.segment-hero .product-hero .button-wrap { width: 190px;float: left;padding-top: 23px; }

/* INTERNET */
.internet-security-computer  { top: 40px; left: -140px; }

/* OFFER FINDER */
.btnStartShopping { width:146px !important;padding:10px 0 0 20px; }

/* CHANNEL LINEUP */
.standalone-channel-lineup {margin-top: 20px;}

/* UPGRADE CENTER */

#mainform .content p { margin: 0 0 10px 0; }

/* UPGRADE CENTER - BULLETPOINT DESCRIPTION */

.offercard-details ul.copy-list li:before {
	content: "\2022";
	margin: 0 3px 0 0;
}
