/* Global Elements */


/* Font */

@font-face {
    font-family: 'XFINITY-sans';
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSThin.ashx?rev=8cee992a-3e96-4702-a364-2df7ae967c96");
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSThin.ashx?rev=8cee992a-3e96-4702-a364-2df7ae967c96&#iefix") format("embedded-opentype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSThin.ashx?rev=82c34671-d9b2-4872-86ed-4b9e03eca089") format("woff"), url("//cdn.comcast.com/~/Media/2016/fonts/XSThin.ashx?rev=571c5844-9003-4f40-812d-924ef4f2265c") format("truetype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSThin.svg?rev=5902bac1-692b-4a23-81ee-b37064cfcfd2#XFINITY-sans") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'XFINITY-sans';
    src: url("//cdn.comcast.com/~/Media/fonts/XFINITYSans-Lgt.ashx?rev=6b99659b-123c-4b5c-b708-aa17e05cc7e1");
    src: url("//cdn.comcast.com/~/Media/fonts/XFINITYSans-Lgt.ashx?rev=6b99659b-123c-4b5c-b708-aa17e05cc7e1&#iefix") format("embedded-opentype"), url("//cdn.comcast.com/~/Media/fonts/XFINITYSans-Lgt.ashx?rev=258c690f-b3ef-4e60-b7fe-4ceeb64d658e") format("woff"), url("//cdn.comcast.com/~/Media/fonts/XFINITYSans-Lgt.ashx?rev=c05b1dd7-0268-4ea3-b216-91edfcc5ac86") format("truetype"), url("//cdn.comcast.com/~/Media/fonts/XFINITYSans-Lgt.svg?rev=eb28b028-c31a-4666-8fa8-fc14df79fd99#XFINITY-sans") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'XFINITY-sans';
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSReg.ashx?rev=cf133320-6a2e-472c-97ca-231adae805df");
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSReg.ashx?rev=cf133320-6a2e-472c-97ca-231adae805df&#iefix") format("embedded-opentype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSReg.ashx?rev=0f3a2be3-6bf0-4be4-a594-4dc9b30ae642") format("woff"), url("//cdn.comcast.com/~/Media/2016/fonts/XSReg.ashx?rev=695ea737-f88a-4904-a173-6c95050d116d") format("truetype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSReg.svg?rev=400d0be7-366e-4f40-b587-72b8df27d777#XFINITY-sans") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'XFINITY-sans';
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSBold.ashx?rev=de247fcd-1e79-49e8-b70e-85e467539492");
    src: url("//cdn.comcast.com/~/Media/2016/fonts/XSBold.ashx?rev=de247fcd-1e79-49e8-b70e-85e467539492&#iefix") format("embedded-opentype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSBold.ashx?rev=5f5a6fc3-7017-415a-9f87-babe4845d10b") format("woff"), url("//cdn.comcast.com/~/Media/2016/fonts/XSBold.ashx?rev=24ec9606-06b6-439e-9105-82fcfeffd2bb") format("truetype"), url("//cdn.comcast.com/~/Media/2016/fonts/XSBold.svg?rev=c9e2808e-6409-4aea-bf12-25ad7b829fec#XFINITY-sans") format("svg");
    font-weight: bold;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html {
    text-rendering: optimizeLegibility !important;
}

*,
div {
    font-family: 'XFINITY-sans', 'Open Sans', sans-serif;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div,
a,
p {
    font-size: 14px;
}

body a {
    color: #2b9cd8;
    font-weight: 400;
}

body {
    background: #fff;
    overflow-x: hidden;
}

sup {
    line-height: 100%;
}

#footer-general span {
    color: #bbb;
    font-size: 11px;
}

.main-content p,
.secondary-content p {
    line-height: 1.5em;
}

.global-wrapper {
    position: relative;
}

h1 {
    -webkit-font-smoothing: antialiased;
}

.global-wrapper a:hover {
    text-decoration: none;
}


/* Navigation */

body .global-header .logo img {
    display: none;
}

body .global-header a.seo-logo {
    background: url(//cdn.comcast.com/~/Media/2015/xfinity-white.ashx) no-repeat;
    background-size: 100%;
    width: 80px;
    margin: 10px 30px 10px 0;
    height: 30px;
}

.global-header {
    height: 50px;
    background: #171717;
    padding: 0 10px;
}

.global-header .content {
    max-width: 1280px;
    width: 100%;
    background-image: none;
    height: 50px;
}

.global-header .item .link {
    display: block;
    padding: 18px 30px 14px;
    font-weight: 400;
    border-bottom: none;
    font-size: 16px;
    height: 50px;
}

.global-header .item-active .link {
    position: relative;
    border-bottom: 3px solid #2b9cd8;
    background-color: #171717;
    background-image: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.global-header .item-active .link:after {
    display: none;
}

.global-header .item .link:hover {
    background-image: none;
    background-color: #171717;
    border-bottom: 3px solid #2b9cd8;
    text-decoration: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.global-header .user-panel .authentication a,
.global-header .user-panel .services a {
    color: #fff;
    display: inline-block;
    height: 50px;
    padding: 18px 30px 14px;
    margin: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.global-header .user-panel .authentication,
.global-header .user-panel .services,
.global-header .user-panel .sign-in {
    height: 50px;
}

.global-header a.sign-in:hover,
.global-header .user-panel .services a:hover {
    text-decoration: none;
    background-color: #171717;
    background-image: none;
    border-bottom: 3px solid #2b9cd8;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.global-header .business-portal {
    float: right;
    margin: 10px 0 10px 0;
    border-left: 1px solid #5e5e5e;
    padding: 5px 20px 5px 30px;
    font-size: 14px;
    line-height: 20px;
}

.global-header .link:hover {
    text-decoration: none;
}

.global-header .user-panel .user-panel-info {
    padding: 10px 0 0 5px;
}

.subheader-container {
    border-bottom: 1px solid #e8e8e8;
    box-shadow: none;
    clear: both;
    font-weight: bold;
    height: 50px;
    background: #fff;
    position: relative;
    z-index: 198;
}

.header,
.subheader {
    max-width: 1280px;
    width: 100%;
    height: 50px;
    position: relative;
}

.subheader-nav-list > li {
    position: relative;
    margin: 0;
    padding: 0;
    border-left: none;
    font-size: 14px;
}

.subheader-nav-list.dropdown-header a.sub-header-visual {
    z-index: 101;
    height: 50px;
    position: relative;
    color: #333;
    background-image: none;
    text-decoration: none;
    margin: 0 40px 0 0;
    padding: 18px 30px 14px 10px;
    font-size: 16px;
    line-height: 16px;
}

a.sub-header-visual:before,
a.sub-header-visual:after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background-color: #333;
    position: absolute;
    right: 16px;
    top: 23px;
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    transform: rotate(130deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.sub-header-visual:after {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    transform: rotate(50deg);
    right: 10px;
}

.subheader-nav-list.dropdown-header > li > a:hover,
.subheader-nav-list.dropdown-header > li > a:hover span {
    font-size: 16px;
    border-bottom: 3px solid #2b9cd8;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.subheader-nav-list.dropdown-header > li:hover a.sub-header-visual,
.subheader-nav-list.dropdown-header > li.expanded a.sub-header-visual {
    background-image: none;
}

.subheader-nav-list.dropdown-header > li:hover > a.sub-header-visual:before,
.subheader-nav-list.dropdown-header > li.expanded > a.sub-header-visual:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 1px;
    background-image: none;
    color: #333;
    left: auto;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    transform: rotate(50deg);
}

.subheader-nav-list.dropdown-header > li:hover > a.sub-header-visual:after,
.subheader-nav-list.dropdown-header > li.expanded > a.sub-header-visual:after {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    transform: rotate(130deg);
}

.subheader-nav-bg {
    border-radius: 0px;
    box-shadow: none;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: auto;
    padding: 0;
    z-index: 9999;
    border: none;
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.subheader-nav-list ul {
    width: auto;
    padding: 0;
}

.subheader-nav-list ul a {
    padding: 15px 20px 15px 17px;
    border-left: 3px solid #fff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    width: 220px;
    position: relative;
    z-index: 999;
    color: #333;
}

.subheader-nav-list ul li:hover a {
    background: transparent;
    border-left: 3px solid #2b9cd8;
    outline: none;
    text-decoration: none;
    color: #333;
    padding-left: 17px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.subheader-search-container {
    border: none;
    width: 420px;
    height: 50px;
    padding: 0;
    float: right;
}

.subheader-search {
    float: left;
    height: 35px;
    padding: 0;
    width: auto;
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    box-shadow: none;
}

.subheader-search input[type="text"] {
    font: 400 14px 'XFINITY-sans';
    width: 180px;
    height: 35px;
    border: none;
    padding: 10px;
    background: none;
    outline: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.subheader-search .autocomplete {
    left: 1px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    width: 100%;
}

p#suggestions {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 5px;
}

.autocomplete_item {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 100;
}

.comcast-logo,
.xfinity-logo,
.header-nav a,
.header-nav li.selected span,
.header-signin-container,
.subheader-nav.dropdown-header a span,
.subheader-nav.dropdown-header h3 span,
.subheader-nav.dropdown-header li.expanded span,
.subheader-nav.dropdown-header li:hover h3,
.subheader-nav.dropdown-header li.expanded h3,
.subheader-search-container .cart-inactive,
.subheader-search-container .cart-active,
.subheader-search-container input[type='submit'],
.header-backarrow {
    background-color: transparent;
}

.subheader-search-container a:hover {
    text-decoration: none;
}

.subheader-search-container .cart-inactive {
    background: url('//cdn.comcast.com/~/Media/2016/Home Page/desktop-inactive.png?rev=5f4742e3-a255-40fb-bfc3-8a9d5383621c') no-repeat center 3px;
    background-size: 40px;
    float: left;
    height: 40px;
    width: 43px;
    margin: 5px 10px;
    padding: 8px;
    position: relative;
    cursor: default;
}

.subheader-search-container .cart-active {
    background: url('//cdn.comcast.com/~/Media/2016/Home Page/desktop-active.png?rev=de6f42cd-e156-43df-988d-ffec39d8e159') no-repeat center 3px;
    background-size: 40px;
    float: left;
    height: 40px;
    width: 43px;
    margin: 5px 10px;
    padding: 8px;
    position: relative;
    cursor: pointer;
}

.subheader-search-container .cart-active:hover {
    background-position: center 3px;
    margin: 5px 10px;
}

.subheader-search-container .search-header {
    position: relative;
    float: left;
    margin: 8px 25px 8px 0;
}

a#hyperlinkMP {
    float: left;
    padding: 0 6px;
    height: 50px;
    margin: 0;
    line-height: 50px;
}

a#hyperlinkMP:hover {
    text-decoration: none;
}

#hyperlinkMP span {
    font-size: 14px !important;
    color: #333;
}

#hyperlinkMP span:hover {
    text-decoration: none;
}


/* Footer */

#footer-container {
    background: #2c2c2c;
}

#footer-container #footer-share {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 0px;
}

#footer-container #footer-share li {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    border: none;
    height: auto;
    float: none;
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

#footer-container #footer-share a {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    color: #fff;
}

#footer-container #footer-comcast span {
    background-position: 50px -5px;
    display: block;
    width: 245px;
    height: 30px;
    text-indent: -9999px;
}

#footer-container #footer-twitter {
    padding: 0 0 0 43px;
    background-position: 0px -36px;
}

#footer-container #footer-youtube {
    padding: 0 0 0 68px;
    background-position: 0px -68px;
}

#footer-container #footer-facebook {
    padding: 0 0 0 28px;
    background-position: 17px -102px;
}

#footer-container #footer-links-container,
#footer-container #footer-links-container a {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

#footer-container #footer-links-container #footer-general a {
    font-weight: bold;
}

#footer-container #footer-links-container {
    background: #2c2c2c;
    padding: 70px 0 0;
    border-top: 1px solid #434343;
}

#footer-container #footer-links ul {
    width: 100%;
    margin: 0;
    padding: 0 45px 0 0;
}

#footer-container #footer-links > li {
    display: inline-block;
    width: 15%;
    font-size: 12px;
}

#footer-container #footer-links > li:last-child {
    width: 10%;
}

#footer-container #footer-links ul li {
    margin: 10px 0 0;
    line-height: 1.4em;
}

#footer-container #footer-links li:last-child ul {
    padding: 0;
}

#footer-container #footer-links h3 {
    font-size: 12px;
    color: #fff;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#footer-container #footer-links {
    width: 1160px;
    margin: 0 auto;
    font-size: 0px;
}

#footer-container #footer-general {
    width: 100%;
    margin: 65px auto 0;
    padding: 32.5px 0;
    line-height: 14px;
    border-top: none;
    background: #242424;
}

#footer-container #footer-general span {
    background: url('//cdn.comcast.com/~/Media/2015/xfinity-white.ashx') no-repeat 10px 0;
    background-size: 75px;
    max-width: 1160px;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    float: none;
    height: 25px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 25px;
}


/* END of Footer */


/* Overlays */

.overlay-yellow,
.overlay-green,
.overlay-gray,
.overlay-white,
.overlay-black,
.overlay-speed,
.overlay-bundles {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.overlay-gray .overlay-top {
    position: relative;
    height: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #4e4e4e;
}

.overlay-content {
    background: #5b5b5b;
    border-radius: 3px;
}

.overlay-gray h2 {
    background-color: #4e4e4e;
    padding: 0 25px;
    border-bottom: none;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    height: 90px;
    line-height: 55px;
}

#overlay-localize input.text {
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#overlay-localize .icon-house {
    height: 50px;
    background: url('//cdn.comcast.com/~/Media/2016/Home Page/localize-houseicon.png?rev=b6663123-06e5-423a-96ad-e252c74c9f8a') no-repeat center top;
    margin: 16px 16px 16px 0;
}

#overlay-localize h2 a {
    font-size: 14px;
    float: none;
    position: relative;
    display: block;
    line-height: 0;
    right: 0;
    font-weight: 400;
}

.overlay-close-btn {
    height: 55px;
    width: 55px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background: transparent !important;
    border: 0;
    overflow: hidden;
    color: #4e4e4e;
}

.overlay-close-btn a {
    color: #4e4e4e;
}

#overlay-terms h2 {
    height: 65px;
}

.overlay-close-btn:before,
.overlay-close-btn:after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay-close-btn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

.overlay-close-btn span {
    visibility: hidden;
}

#overlay-localize .overlay-viewport {
    padding: 25px;
}

#overlay-localize .overlay-viewport p {
    margin: 0;
    color: #fff;
}

#overlay-localize #form {
    border: none;
    border-radius: 0px;
}

#overlay-localize .form-row {
    margin: 0;
    padding: 20px 0;
}

.form-row .form-field {
    float: left;
    margin: 0 0 0 20px;
}

.form-row .input-5,
.form-field .input-5 {
    width: 80px;
}

.form-field label {
    font-family: 'XFINITY-Sans';
    font-size: 14px;
    font-weight: normal;
}

.form-row input.text {
    border: 1px solid #d5d5d5;
}

.form-row input.text:focus {
    border: 2px solid #2B9CD8;
}

.form-row input:focus::-webkit-input-placeholder {
    color: #fff;
}

.form-row input:focus:-moz-placeholder {
    color: #fff;
}

.form-row input:focus::-moz-placeholder {
    color: #fff;
}

.form-row input:focus:-ms-input-placeholder {
    color: #fff;
}

#overlay-localize .form-row label,
#overlay-login .form-row label {
    font-size: 14px;
    color: #fff;
}

.overlay-viewport span {
    color: #fff;
}

#localize-content .form-footer,
#overlay-localize .form-footer {
    background: transparent;
    border-top: none;
    height: auto;
}

#overlay-service-switch .btn span {
    width: 180px;
    height: 50px;
}

#overlay-localize .form-checkbox {
    float: none;
    margin: 0;
}

#localize-content .form-checkbox label,
#overlay-localize .form-checkbox label {
    display: inline;
    font-size: 14px;
    color: #fff;
}

#overlay-localize .btn {
    float: none;
    width: 200px;
    margin: 25px auto 0;
}

.addresscomplete {
    font-family: 'XFINITY-sans', 'Open Sans', sans-serif;
    color: #3b3b3b;
    border: none;
}

.addresscomplete .addresscomplete_item {
    padding: 10px;
    margin: 0;
    float: none;
    font-weight: normal;
    font-size: 14px;
}

.addresscomplete_item_highlighted {
    background-color: #2b9cd8;
    color: #fff;
    float: none;
    padding: 10px !important;
    margin: 0;
}

#overlay-background {
    z-index: 199;
}

.overlay-tabbed .overlay-viewport .panel.active {
    background: #5b5b5b;
    height: 400px;
}

.overlay-gray p {
    color: #fff;
}

#overlay-offerdetails .overlay-content h2 {
    height: 55px;
    font-weight: 100;
}

.overlay-offerdetails .overlay-body {
    margin-left: 0;
}

#overlay-heading {
    font-size: 24px;
    font-weight: 100;
    display: block;
    line-height: 20px;
    padding: 5px 0;
}

#overlay-terms .overlay-viewport {
    margin: 0;
    padding: 20px;
    width: auto;
    min-height: 330px;
}

#overlay-terms-content {
    color: #fff;
    line-height: 18px;
}

#overlay-terms .icon-terms {
    display: none;
}

#overlay-terms .overlay-content,
#overlay-terms .overlay-content h2 {
    border-radius: 3px 3px 0 0;
}

#overlay-terms .overlay-footer {
    background-color: #5B5B5B;
    border-radius: 0 0 3px 3px;
}

.overlay-yellow .overlay-top {
    background-color: #4e4e4e;
}

.overlay-viewport p {
    color: #fff;
}

.overlay-content-bottom {
    background-color: #5B5B5B;
    padding: 15px 0;
    margin-top: 0;
    text-align: center;
    border-top: none;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.overlay-viewport ul {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}

.overlay-yellow h2 {
    background-color: #4e4e4e;
    padding: 10px 70px 10px 20px;
    border-bottom: none;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.overlay-viewport ul {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}

.btn-gray {
    padding: 0;
    width: 200px;
    margin: 0 auto 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    background: #2b9cd8;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.btn-gray:hover {
    background: #2b9cd8;
}

.btn-gray span {
    width: 100%;
    height: 50px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    padding: 0;
    line-height: 50px;
}

#overlay-service-switch .btn span {
    min-width: 100%;
}

.btn-gray.overlay-cancel {
    background: transparent;
    color: #2b9cd8;
    height: 20px;
}

.btn-gray.overlay-cancel span {
    height: 20px;
    line-height: 20px;
}

#overlay-localize .form-row span.validation-error {
    position: absolute;
    bottom: -18px;
    clear: both;
    color: #ff3030!important;
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    font-weight: bold;
    min-width: 100px;
}


/* END of Overlays */


/* New Loading Overlay */

.overlay-waiting {
    background: transparent;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}

.spinner {
    margin: 0 auto;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    background: #434444;
    height: 100px;
    border-radius: 50px;
    padding: 41px 0;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-block;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #727272;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin: 0 10px;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.6);
    }
    40% {
        -webkit-transform: scale(1.0);
        background-color: #d1d1d1;
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        background-color: #d1d1d1;
    }
}


/* END of Loader */


/* Offer Stack */

.main-content {
    width: 100%;
}

.content,
#deal_finder_container,
#package-details,
#package-details .package-list,
.deal-finder-results .package-list,
#more_offer,
.deal-finder-results .more-offer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.package-list .more_info {
    width: 16px;
    height: 16px;
}

.deals-wrapper {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.deal-finder-red {
    color: #2d2d2d;
}

.package-list.internet .email-more .position-stable,
.package-list.internet .constant-guard .position-stable {
    height: auto;
    text-transform: capitalize;
}

.deal-finder-red .deal-finder-header,
.deal-finder-red .deal-finder-header span {
    background-image: none;
}

.deal-finder-red .deal-finder-header {
    position: relative;
    height: auto;
    z-index: 1;
    display: block;
    padding-left: 0;
    font-size: 36px;
    border-bottom: none;
    background-position: 0 0;
    background-color: transparent;
    top: 0;
    background: transparent;
    padding: 70px 0px 0px 0px;
}

.deal-finder-red .deal-finder-header span {
    height: auto;
    margin: 0 auto;
    display: block;
    padding-right: 0;
    padding-top: 0;
    font-size: 42px;
    font-weight: 100;
    padding: 0 0 50px;
    -webkit-font-smoothing: antialiased;
}

.deal-finder-red .deal-container {
    border-radius: 0;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}

.deal-finder-red .deal-finder-options {
    max-width: 825px;
    width: 100%;
    border-radius: 0;
    background: transparent;
    margin: 0 auto;
    padding: 40px 0;
}

.deal-finder-red .three-lobs .lob-option {
    width: 23%;
    max-width: 23%;
    padding: 18px 25px;
    margin: 0 1%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 60px;
    cursor: pointer;
}

.deal-finder-red .three-lobs .lob-option:hover {
    border: 1px solid #2b9cd8;
}

.deal-finder-red .lob-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    padding: 0;
    text-shadow: none;
    filter: none;
    border-bottom: none;
    box-shadow: none;
    text-align: left;
    color: #2d2d2d;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    vertical-align: top;
}

p.lob-description,
p.localization {
    display: none;
}

.deal-finder-red .three-lobs .deal-finder-controls {
    margin-top: 0;
}

.deal-finder-red .featured-new-customer-offers {
    margin-bottom: 0;
}

.deals-wrapper .group-list .btn-yellow {
    margin: 10px auto 0;
}

.deals-wrapper .group-list .btn-yellow {
    margin: 5px auto 0;
    width: 160px;
    text-align: center;
}

button.btn-yellow,
.btn-yellow-anchor,
.btn-yellow input.submit,
.btn-yellow span {
    font-family: 'XFINITY-Sans';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 0 25px 0 20px;
    margin: 0;
    display: inline-block;
    border: 2px solid #2b9cd8;
    border-radius: 25px;
    box-shadow: none;
    background: #2b9cd8;
}

button.btn-yellow:hover,
.btn-yellow-anchor:hover,
.btn-yellow input.submit:hover,
.btn-yellow span:hover {
    background: #2b9cd8;
    color: #fff;
    text-decoration: none;
}

span.linkText {
    font-size: 12px;
}

.deal-finder-red .deal-finder-results {
    width: 100%;
}

.find_local_offers.right_col {
    position: absolute;
    right: 102px;
    top: -150px;
    margin: 0;
    padding: 3px 0 0 15px;
    border: 0;
    border-left: 1px solid #666;
    border-radius: 0;
    width: auto;
    height: 20px;
    display: none;
}

h2.resultsheading {
    margin: 20px 0 20px 10px;
}

.featured-new-customer-offers .right_col h3 {
    color: #3b3b3b;
    float: left;
    width: auto;
    margin: 0;
    font-weight: 400;
}

.deal-finder-black .deal-finder-button,
.find_local_offers .enter-address {
    background: transparent;
    filter: transparent;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #2b9cd8;
    padding: 0 0 0 5px;
    margin: 0;
    text-transform: capitalize;
}

.find_local_offers.right_col p {
    display: none;
}

.deal-finder-black-wrapper .offer-information h2,
.deal-finder-red .offer-information h2,
.offer-information h2 {
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    padding: 0 20px 0 0;
    border-right: 1px solid #666;
}

.deal-finder-black-wrapper .offer-information,
.deal-finder-red .offer-information {
    float: none;
    line-height: 1.4em;
    max-width: 1280px;
    padding: 0;
    position: absolute;
    top: -25px;
    width: 100%;
    z-index: 99;
    text-align: center;
}

.deal-finder-black-wrapper .offer-information p,
.deal-finder-red .offer-information p,
#mainform .content .offer-information p {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 0 0 0 15px;
}

a#change_location {
    padding-right: 15px;
    border-right: 1px solid #666;
}

.deal-finder-black-wrapper .offer-links,
.deal-finder-red .offer-information .offer-links,
.offer-information .offer-links {
    background: none;
    padding: 0 0 0 5px;
}

.deals-wrapper .checkbox {
    width: 24px;
    height: 24px;
    margin: 0;
    display: inline-block;
    float: none;
    background: transparent;
    vertical-align: top;
}

.deal-finder-red .lob-option .lob-name span.checkbox {
    float: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.deal-finder-red .lob-option .lob-name span.checkbox.selected {
    background: url('//cdn.comcast.com/~/Media/2015/OmniChannel/HPTest/checked.ashx') no-repeat center top;
    margin: 0;
    width: 24px;
    height: 24px;
    border: none;
}

.deal-finder-red .lob-option .lob-name span.checkbox,
.deal-finder-red .lob-option .lob-name span.checkbox.selected {
    display: inline-block;
    margin: 0 5px 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#package-details th,
.deal-finder-results th,
.package-list th {
    position: relative;
    height: 12px;
    padding: 0 10px;
    background: transparent;
    color: #777;
    font-size: 12px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;
    border: none;
}

#package-details .firstTh,
#package-details .lastTh,
.deal-finder-results .firstTh,
.deal-finder-results .lastTh,
.package-list .firstTh,
.package-list .lastTh,
.deal-finder-results .offer_row > td:first-child,
.deal-finder-results .offer_row > td:last-child {
    display: none;
}

.package-list.tripleplay .ondemand,
.package-list.doubleplay .ondemand {
    display: none;
}

#homepage #deal_finder_container.deal-finder-black-wrapper #package-details .package-list th[scope="row"].package,
.deal-finder-red .package-list th[scope="row"].package {
    font-size: 16px !important;
    text-transform: none;
    color: #444;
    vertical-align: middle;
    font-weight: 400 !important;
    line-height: 20px;
}

.package-list .btnStartShopping.disabled {
    border-radius: 25px;
    height: 50px;
    padding: 18px 0;
    font-weight: 400;
    width: 160px !important;
    box-shadow: none;
    border: 1px solid #eaeaea;
}

.deal-finder-red .deal-finder-results tbody .package {
    width: 15%;
    padding: 20px;
}

#featured_new_customer_offers .learnMore,
#featured_new_customer_offers .hideDetails,
.package-list .package .learnMore,
.package-list .package .hideDetails {
    color: #2b9cd8;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    height: 19px;
    margin-top: 20px;
    padding: 2px 0 0 26px;
    line-height: 14px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#deal_finder .deal-finder-icon,
.deal-finder-button .checkbox,
.package-list .package .learnMore,
.featured-new-customer-offers .find_local_offers,
.more_tv_offers_btn span,
.package-list .package .hideDetails {
    background: transparent;
}

#more_tv_offers_btn:hover span {
    color: #fff;
}

a.learnMore,
a.hideDetails {
    position: relative;
}

a.learnMore:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 10px;
    background: #2b9cd8;
    left: 6px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 3px;
}

a.learnMore:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 10px;
    background: #2b9cd8;
    left: 12px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 3px;
}

a.hideDetails:before {
    content: '';
    display: block;
    background: #2b9cd8;
    width: 2px;
    height: 10px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left: 10px;
    top: 0;
}

a.hideDetails:after {
    content: '';
    display: block;
    background: #2b9cd8;
    width: 2px;
    height: 10px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: 6px;
}

.package-list tbody .offer_details td:first-child {
    display: none;
}

.details_content_box h3 {
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 10px;
}

.details_content ul li {
    line-height: 20px;
    font-size: 14px;
}

.details_content ul li:last-child {
    margin-bottom: 30px;
}

#package-details p,
.deal-finder-results p,
.deal-finder-results p a {
    line-height: 20px;
    font-weight: 400;
}

#package-details .offer_row .package,
.deal-finder-results .offer_row .package,
.package-list .offer_row .package {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 5px 0 0 5px;
}

.package-list.tripleplay .channels,
.package-list.doubleplay .channels {
    width: 15%;
}

#package-details .package-list .channels table,
.deal-finder-results .package-list .channels table {
    width: 100%;
}

#package-details .package-list .num,
.deal-finder-results .package-list .num,
.package-list.home-security-plans .num {
    background: none !important;
    font-size: 30px;
    width: auto;
    padding: 0 18px 0 0;
    font-weight: 100;
}

#package-details .package-list .channels img,
#package-details .package-list .sports-package,
.deal-finder-results .package-list .channels img,
.deal-finder-results .package-list .sports-package {
    width: auto;
}

.deal-finder-results .package-list .sports-package {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
}

.deal-finder-results tbody .inetVoice {
    width: 16%;
}

.deal-finder-results #_tvOfferRow .package {
    width: 280px;
}

.package-list.tripleplay .inetVoice span div:first-child {
    font-weight: 400 !important;
    height: auto !important;
    display: inline;
    font-size: 14px !important;
}

.package-list.tripleplay .inetVoice span div:first-child:before {
    content: 'Download speeds up to ';
    font-size: 14px;
    font-weight: 400;
}

.package-list.tripleplay .inetVoice span div:nth-child(2) {
    display: inline-block;
    float: none !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.package-list.tripleplay .inetVoice span div:nth-child(3) {
    width: 100% !important;
    font-size: 14px !important;
    float: none !important;
    line-height: 18px;
}

.package-list.tripleplay .inetVoice span div:nth-child(4) {
    font-weight: 100 !important;
    margin: 5px 0 0;
}

.package-list.tripleplay .inetVoice span div:nth-child(5) {
    font-size: 14px !important;
    margin: 18px 0 0 5px !important;
    font-weight: 400 !important;
}

.package-list.tripleplay .inetVoice span div:nth-child(6) {
    font-weight: 400 !important;
    font-size: 12px !important;
}

.package-list.doubleplay .inetVoice span div {
    display: inline;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px;
    width: auto !important;
    margin: 0 !important;
    height: auto !important;
    float: none !important;
}

.deal-finder-results .internet-voice .num:before {
    content: 'Up to';
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 8px;
}

.deal-finder-results .package-list.internet .num {
    padding: 5px 0 0;
}

#content .package-list tbody .extras,
.package-list tbody .extras {
    font-size: 14px;
    color: #444444;
    width: 24%;
    font-weight: 400;
    line-height: 18px;
}

.package-list .extras li {
    list-style-type: none;
    margin: 0 0 10px;
}

.package-list .extras li:last-child {
    margin: 0;
}

#package-details .offer_row .price,
.deal-finder-results .offer_row .price,
.package-list .offer_row .price {
    width: 30%;
}

.price-container {
    width: 100%;
}

.package-list .total-price {
    float: left;
    font-size: 40px;
    width: 45%;
    text-align: left;
    font-weight: 100;
}

.package-list .best {
    font-size: 10px;
    font-weight: bold;
    color: #c8001d;
    display: block;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.package-list td.price sup {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 0px;
    vertical-align: super;
}

.package-list td.price .month {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    width: auto;
    top: 0;
    vertical-align: super;
    display: block;
    padding: 5px 0;
}

.package-list .total-price a {
    font-weight: normal;
    font-size: 12px;
}

span.best-price-icon {
    display: none !important;
}

#package-details .offer_row .price .custom-select,
.deal-finder-results .offer_row .price .custom-select {
    float: right;
    margin: 0 0 10px;
}

.deal-finder-results .dropdown a > span {
    background: #fff;
    background-image: none;
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    padding: 8px 25px 10px 14px;
}

.deal-finder-results .dropdown a > span:before {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    background: #2b9cd8;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 10px;
}

.deal-finder-results .dropdown a > span:after {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    background: #2b9cd8;
    position: absolute;
    right: 19px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.dropdown ul a:hover,
.dropdown ul a.selected {
    background: none repeat scroll 0 0 #2b9cd8;
    color: #fff;
}

.dropdown ul a {
    background: none repeat scroll 0 0 #fff;
    color: #2b9cd8;
    padding: 12px;
    font-weight: 400;
    font-size: 12px;
}

#package-details .package-list .num,
.deal-finder-results .package-list .num,
.package-list.home-security-plans .num {
    background: none !important;
    font-size: 30px;
    padding: 0 0 5px;
    font-weight: 100;
    display: block;
    text-align: center;
    width: 100%;
}

.deal-finder-results .btn span {
    width: 160px;
}

.btn-yellow-anchor,
.btn.btn-yellow span {
    height: 50px;
    padding: 16px;
}

.details-restrictions-tooltip {
    text-align: center;
    color: #2b9cd8;
    width: 160px;
}

#product-header.tooltip-hero .details-restrictions-tooltip .linkText,
.details-restrictions-tooltip .linkText {
    color: #2b9cd8;
}

.deal-finder-red #more_offer,
.deal-finder-black-wrapper #more_offer {
    height: 50px;
    margin: 15px 0 30px;
    padding: 0;
}

#more_tv_offers_btn {
    position: relative;
    top: 0;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #2b9cd8;
    border: 2px solid #2b9cd8;
    text-decoration: none;
    background-position: right 0;
    background: #fff;
    height: 50px;
    width: 250px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

#more_tv_offers_btn span {
    background: transparent;
    background-image: none;
    display: block;
    text-align: center;
    color: #2b9cd8;
    line-height: 46px;
    padding: 0;
}

#more_tv_offers_btn:hover {
    color: #fff;
    background: #2b9cd8;
}

.info_popup {
    box-sizing: content-box;
}

#package-details table,
.deal-finder-results table {
    margin: 0px 20px 0 10px;
    left: 2px;
}

.deal-finder-red.deals-wrapper .inactive-button {
    color: #ccc;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 5px auto;
    padding: 10px;
    background: #eaeaea;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 25px;
}

.deals-wrapper .img {
    padding: 0px 5px 0px 10px;
    width: 100px;
}

.deal-finder-results .package-list .channels img {
    margin: 0 auto;
    display: block;
    width: 50px;
}

.deals-wrapper .inactive-button span {
    height: auto;
    padding: 10px 33px 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    background-color: transparent;
}

.ondemand {
    display: none;
}

.package-list .num a {
    display: block;
    width: auto;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 400;
    padding: 5px 0 0;
}

#package-details #_tvOfferRow .channels table,
.deal-finder-results #_tvOfferRow .channels table {
    width: 269px;
}

.package-list .constant-guard.online_protection,
.package-list.internet .constant-guard.smarter-voicemail,
.package-list.internet .constant-guard.calling-features,
.package-list.internet td.email_more,
.package-list.internet td.email-more {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 400;
}

.package-list .constant-guard,
.package-list .email-more,
.package-list tbody .bandwidth {
    font-size: 14px;
    font-weight: 400;
}

#featured_new_customer_offers.h_clearfix {
    border-top: none !important;
}

#package-details .package-list .channels td,
.deal-finder-results .package-list .channels td {
    /* width: 100%; */
    /*  padding: 0 10px; */
}

.deal-finder-results tbody .voice {
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.package-list tbody .bandwidth {
    width: 140px;
}

.deal-finder-results #_voiceInternetOfferRow .package {
    width: 185px;
}

.package-list.internet-voice tbody .extras {
    width: 250px;
}

.deal-finder-results #_internetOfferRow .package {
    width: 180px;
}

.deal-finder-results #_voiceOfferRow .package {
    width: 22%;
}

.package-list tbody .bandwidth.local-calling {
    width: 12%;
}

.deal-finder-results tbody .long-distance {
    width: 12%;
}

.deal-finder-results tbody .smarter-voicemail {
    width: 12%;
}

.deal-finder-results tbody .calling-features {
    width: 12%;
}

.package-list .info_popup {
    top: 100px;
    left: -33px;
}

.package-list .tick,
.package-list-compare .tick {
    background-image: url('//cdn.comcast.com/~/Media/ImageLibrary/Learn Pages/2016/blue-check.png?rev=0f41f35f-5197-4c49-9c19-f36b86c7ca07') !important;
    background-repeat: no-repeat;
    background-position: 0 !important;
}


/* XFINITY Home */

.home-security-plans .price .price-container {
    /* width: 100%; */
    position: relative;
    height: 120px;
}

.home-security-plans .price .total-price {
    top: 35px;
    left: 10px;
    width: 200px;
}

.home-security-plans .price div,
.home-security-plans .price .btnStartShopping {
    margin: 0 !important;
    position: absolute;
}

.home-security-plans .price-container div {
    position: absolute;
}

.home-security-plans .price .price-container {
    width: 350px;
    position: relative;
    height: 160px;
}

.home-security-plans .price-container div:first-child {
    width: 50%;
}

#package-details .dropdown,
.deal-finder-results .dropdown {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin: 10px 0px 0px 0px;
}

.home-security-plans .price-container div:nth-child(4), .home-security-plans .price-container div:nth-child(2) {
    /*top: -50px;
    width: 180px;
    right: 0;
	top: 0px;*/
    width: 180px;
    right: -25px;
	bottom:0;
}

.home-security-plans .details-restrictions-tooltip {
    padding: 0;
    margin: 0 !important;
}

.home-security-plans span.linkText {
    /*display: block; AS PER INC0030437*/
    text-align: center;
    padding: 190px 0px 0px 0px;
    width: 180px;
}

.home-security-plans .price p {
    /*display: none; AS PER INC0030437*/
}

.home-security-plans .price-container .custom-select {
    right: 0;
    top: 0;
    width: 180px;
}

.deal-finder-results .home-security-plans .price-container .btn-yellow {
    position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
}
.deal-finder-results .home-security-plans .btn span {
    width: 180px;
}

.package-list.home-security-plans .total-price a {
    font-weight: normal;
    font-size: 11px;
    display: block;
    margin: 0;
}

.package-list .offer_details .details_content {
    width: 100%;
}

.package-list.home-security-plans .tv {
    width: 100px;
    vertical-align: middle;
}

.package-list.home-security-plans .internet {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.package-list.home-security-plans .tv .num {
    font-size: 18px;
    font-weight: 400;
}

.package-list.home-security-plans .num sup {
    position: relative;
    top: 5px;
    left: 2px;
}

.package-list.home-security-plans .home {
    width: 180px;
    font-size: 12px;
    line-height: 16px;
}

.package-list.home-security-plans .offer_row .price {
    height: 200px;
}

.home ul {
    list-style: disc;
    padding: 0px 0px 5px 20px;
    font-size: 14px;
}

.home li {
    font-size: 14px;
    margin-bottom: 5px;
}

.home-security-plans td {
    padding: 10px;
}

.deal-finder-results .table-spacer td {
    padding: 0;
}

.package-list.internet .email-more .info_popup {
    top: 30px;
    left: -40px;
}

.package-list.internet .constant-guard .info_popup {
    top: 30px;
    left: -25px;
}

.offer_details_list p {
    display: block;
    font-size: 14px !important;
    clear: both;
}


/* Formats Deal Finder for XFINITY HOME LOB */

.deal-finder-red .lob-option {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
}

.deal-finder-red .deal-finder-options {
    max-width: 980px;
}

.deal-finder-red .four-lobs .lob-option {
    width: 18.3%;
    max-width: 25.3%;
    padding: 20px 20px 15px;
}

.deal-finder-red .four-lobs .deal-finder-controls {
    margin-top: 0;
}

.deal-finder-red.deals-wrapper .inactive-button {
    display: none;
}

.home-security-plans .features li {
    height: 30px;
    width: 240px;
    margin-bottom: 20px;
    padding: 5px 0 0 40px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.home-security-plans b {
    font-weight: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.home-security-plans .equipment ul {
    margin-bottom: 15px;
    margin-top: 15px;
}

.home-security-plans .equipment {
    width: 300px;
    font-size: 14px;
}

.home-security-plans .equipment li {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.home-security-plans .installation .add-space {
    display: block;
    margin: 0px 0 10px 0;
    border-top: none;
    font-size: 14px;
}

.home-security-plans .installation {
    width: 260px;
    font-size: 14px;
}

.package-list td .inludes li {
    margin: 5px 0 5px 15px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.package-list .home-security-plans p {
    font-size: 14px;
}

.home-security-plans .price div,
.home-security-plans .price .btnStartShopping {
    margin: 0 !important;
}

.home-security-plans .column ul.offer-details-list {
    width: 360px;
}

.home-security-plans .column {
    float: left;
    width: 360px;
}

.home-security-plans .column .offer-details-list li {
    width: 360px;
}


/* END of Deal Finder */


/* Alert message for Deal Finder */

.error {
    width: 100%;
    padding: 17px 0px 50px 0px;
}

#mainform .content .error p {
    font-size: 16px;
    color: #3b3b3b;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
}

span.red {
    color: #c8001d;
}

.error img {
    float: left;
    margin-right: 10px;
}


/* END of Alert message for Deal Finder */

<!--[if lte IE 8]> .global-wrapper {
    max-width: 1200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.subheader-nav-bg {
    border: 1px solid #ccc;
}

.global-wrapper table.package-list {
    width: 99%;
}

.slick-prev:before,
.slick-prev:after,
.slick-next:before,
.slick-next:after {
    width: 20px;
}

body .global-header .logo img {
    display: none;
}

<![endif]-->
/* END of Global Elements */


/* FED */

a[href]:not([tabindex='-1']):focus,
area[href]:not([tabindex='-1']):focus,
input:not([disabled]):not([tabindex='-1']):focus,
select:not([disabled]):not([tabindex='-1']):focus,
textarea:not([disabled]):not([tabindex='-1']):focus,
button:not([disabled]):not([tabindex='-1']):focus,
iframe:not([tabindex='-1']):focus,
[tabindex]:not([tabindex='-1']):focus,
[contentEditable=true]:not([tabindex='-1']):focus {
    outline-color: #2b9cd8;
    outline-style: dotted;
    outline-width: 2px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}


/* Responsive */

@media screen and (max-width: 1200px) {
    #footer-container {
        min-width: 100%;
    }
    #footer-container #footer-share {
        width: 100%;
    }
    #footer-container #footer-links {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1100px) {
    .global-header .item .link,
    .global-header .user-panel .authentication a,
    .global-header .user-panel .services a {
        padding: 18px 20px 14px;
    }
    .subheader-nav-list.dropdown-header a.sub-header-visual {
        margin: 0 20px 0 0;
    }
    .subheader-search-container {
        width: 380px;
    }
    #footer-container #footer-links ul {
        padding: 0 25px 0 0;
    }
}

@media screen and (max-width: 980px) {
    .global-header .item .link,
    .global-header .user-panel .authentication a,
    .global-header .user-panel .services a,
    .subheader-nav-list.dropdown-header a.sub-header-visual,
    .subheader-nav-list.dropdown-header > li > a:hover,
    .subheader-nav-list.dropdown-header > li > a:hover span,
    .subheader-nav-list ul a {
        font-size: 14px;
    }
    .subheader-nav-list.dropdown-header a.sub-header-visual {
        margin: 0 10px 0 0;
    }
    .global-header .item .link,
    .global-header .user-panel .authentication a,
    .global-header .user-panel .services a {
        padding: 18px 15px 14px;
    }
    .global-header .business-portal {
        padding: 5px 20px;
    }
    .subheader-search-container {
        width: 350px;
    }
    .subheader-search input[type="text"] {
        width: 160px;
    }
    body .global-header a.seo-logo {
        margin: 10px 20px 10px 0;
    }
    #footer-container #footer-links {
        display: none;
    }
    #footer-container #footer-links-container {
        padding: 0;
    }
    #footer-container #footer-general {
        margin: 0 auto;
    }
}

@media screen and (max-width: 865px) {
    .subheader-container {
        display: none;
    }
    body .global-header a.seo-logo {
        width: 60px;
        margin: 15px 20px 15px 0;
    }
    .global-header .main-navigation {
        min-width: 350px;
    }
    #footer-container #footer-share {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .global-header .user-panel {
        display: none;
    }
}
