@charset "utf-8";
#inputSearch {
	width: 350px;
	border: solid 1px #000;
	padding: 3px;
	
}
#inputSearch2 {
	width: 350px;
	border: solid 1px #000;
	padding: 3px;
	
}
#divResult {
	position: relative;
	width: 350px;
	display: none;
	border: solid 1px #dedede;
	border-top: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	box-shadow: 0px 0px 5px #999;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #333 #DEDEDE #DEDEDE;
	background-color: white;
	z-index: 2;
}
#divResult2 {
	position: relative;
	width: 350px;
	display: none;
	border: solid 1px #dedede;
	border-top: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	box-shadow: 0px 0px 5px #999;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #333 #DEDEDE #DEDEDE;
	background-color: white;
	z-index: 3;
}


.display_box {
	padding: 4px;
	border-top: solid 1px #dedede;
	font-size: 12px;
	height: 70px;
	direction: ltr;
}
.display_box:hover {
	background: #3bb998;
	color: #FFFFFF;
	cursor: pointer;
}
.display_box2 {
	padding: 4px;
	border-top: solid 1px #dedede;
	font-size: 12px;
	height: 70px;
	direction: ltr;
}
.display_box2:hover {
	background: #3bb998;
	color: #FFFFFF;
	cursor: pointer;
}
