@charset "utf-8";
.next-page-btn {
    margin: 10px 0 10px 20px;
    float: left;
    width: 77px;
    height: 87px;
    background: url(../image/new/next-h.png) no-repeat;
}
.next-page-btn:hover {
	background: url(../image/new/next.png) no-repeat;
}
.prev-page-btn {
	margin: 10px 20px 10px 0;
	float: right;
	width: 99px;
	height: 87px;
	background: url(../image/new/prev.png) no-repeat;
}
.prev-page-btn:hover {
	background: url(../image/new/prev-h.png) no-repeat;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}