@media (min-width: 768px) and (max-width: 1200px) {

	.login-content .heading h2 {
		font-size:16px;
	}

}
@media (max-width: 1200px) {

	.table th, .table td {
		padding:8px;
	}

}
@media (min-width: 1200px) {

	.container {
		width:1200px;
		}
	
}
@media (min-width: 768px) {

	.common-home #content .box {
		padding:40px 0 10px;
	}
	.common-home #content .box .box-heading {
		color:#fff;
	}
	.common-home #content .price {
		color:#fff;
	}
	#content .box.featured:after, #content .box.featured:before {
		display:block;
		content:'';
		top:0;
		height:100%;
		width:100%;
		left:-100%;
		position:absolute;
		background-color:#3a79c8;
	}
	#content .box.featured:after {
		right:-100%;
		left:auto
	}
	#content .box.featured {
		position:relative;
		background-color:#3a79c8;
	}
	#content .box.new-products:after, #content .box.new-products:before {
		display:block;
		content:'';
		top:0;
		height:100%;
		width:100%;
		left:-100%;
		position:absolute;
		background-color:#fb2c40;
	}
	#content .box.new-products:after {
		right:-100%;
		left:auto
	}
	#content .box.new-products {
		position:relative;
		background-color:#fb2c40;
	}
	#content .box.specials:after, #content .box.specials:before {
		display:block;
		content:'';
		top:0;
		height:100%;
		width:100%;
		left:-100%;
		position:absolute;
		background-color:#27ae60;
	}
	#content .box.specials:after {
		right:-100%;
		left:auto
	}
	#content .box.specials {
		position:relative;
		background-color:#27ae60;
	}
	#content {
		position:relative;
	}
	#page {
		overflow:hidden;
	}
	.banner>div{
		height:472px;
	}
	.banner {
		width:2050px;
		
		right:50%;
		margin-right:-1025px;
		position:relative;
		}
	.top-search1 i{
		vertical-align:top;
		line-height:34px;
		color:#fff;
		font-size:16px;
	}
	.top-search1:hover {
		background-color:#3a79c8;
	}
	.top-search1 {
		background-color:#27ae60;
		text-align:center;
		font-size:16px;
		color:#fff;
		text-align:center;
		line-height:34px;
		width:34px;
		height:34px;
		border-radius:50%;
		cursor:pointer;
	}
	#search:before {
		background:url(../image/search-before.png) no-repeat right top;
		width:13px;
		height:13px;
		content:'';
		display:block;
		position:absolute;
		top:-13px;
		left:14px;
	}
	#search {
		margin:0;
		background-color:#fff;
		display:none;
		position:absolute;
		top:40px;
		left:0;
	}
	.pr {
		position:relative;
		float:left;
	}
	.wishlist , .compare  {
		display:inline-block;
		margin-top:13px;
	}
	.box .box-content .box-product ul li .wishlist a:hover i,.box .box-content .box-product ul li .compare a:hover i {
		color:#f5d61c
	}
	.box .box-content .box-product ul li .wishlist a i,.box .box-content .box-product ul li .compare a i {
		color:#fff
	}
	.box .box-content .box-product ul li .wishlist a,.box .box-content .box-product ul li .compare a  {
		float:none;
	}
	.box .box-content .box-product ul li.last_line {
		margin-bottom:0;
	}
	.box .box-content .box-product ul li {
		margin-bottom:30px;
	}
	.box .box-content .box-product ul li .cart  {
		float:none;
	}
	.box .box-content .box-product ul li .padding:hover .name a {
		color:#fff;
	}
	.box .box-content .box-product ul li .padding:hover .f-right {
		display:block;
	}
	.box .box-content .box-product ul li .padding:hover .inner .price{
		color:#fff;
	}
	
	#content .box .box-content .box-product ul li .padding:hover .inner {
		background-color:#333333;
		margin-bottom:-79px;
		position:relative;
		z-index:15;
		box-shadow:0 0 10px rgba(0,0,0,0.5)
	}
	.box .box-content .box-product ul li .f-right {
		display:none;
	}
	.box .box-content .box-product ul li .inner {
		text-align:center;
		padding:15px 10px;
		border-radius:0 0 5px 5px;
		
	}
	.product-grid ul li  {
		text-align:center;
	}
	.product-grid .cart {
		float:none;
	}
	aside .box .box-content .box-product ul li .f-right {
		display:block;
	}
	aside .box .box-content .box-product ul li .padding .name a {
		color:#fff;
	}
	aside .box .box-content .box-product ul li .padding .f-right {
		display:block;
	}
	aside .box .box-content .box-product ul li .padding .inner .price{
		color:#fff;
	}
	
	aside .box .box-content .box-product ul li .padding .inner {
		background-color:#333333;
		position:relative;
		z-index:15;
		box-shadow:0 0 10px rgba(0,0,0,0.5)
	}

}
@media (min-width: 768px) and (max-width: 1199px) {
	a.button span {
		white-space:normal
	}
	.compare-info td img {
		max-width:100px
	}
	.outer {
		max-width:940px;
	}
	aside .box .box-content .box-product ul li .padding:hover .inner {
		margin-bottom:-74px;
	}

}
@media (min-width: 980px) and (max-width: 1199px) {

	.product-info .cart-top-padd {
		margin-bottom:10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.product-info .review .btn-rew {
		margin-top:15px;
	}
	.checkout-content {
		padding:20px;
	}
	.compare-info td img {
		max-width:90px
	}
	.compare-info td a.button span {
		font-size:11px; padding:7px 6px
	}
	.compare-info td:first-child {
		max-width:80px;
		word-wrap: break-word;
	}
	.compare-info .prod-stock {
		font-size:12px;
	}
	.preview .cart {
		margin-left:0;
	}
	.login-content .form-horizontal .control-label {
		max-width:100%;
		text-align:right;
	}
	.login-content .form-horizontal .controls{
		margin-right:0px;
	}
	.related {
		padding: 0 80px
	}
	.product-filter .display {
		clear:both;
		float:none
	}
	footer .fa.fa-phone {
		display:none;
	}
	.login-content .heading h2 {
		font-size:13px;
	}
	.login-content .heading i {
		font-size:20px;
	}
	aside a.button span {
		font-size:10px;
		white-space:normal
	}
	.compare-block .image {
		float:none;
		text-align:center;
		margin-bottom:8px;
	}
	a.button i {
		display:none;
	}
	a.button span {
		font-size:12px;
	}
	.outer {
		max-width:720px
	}
	.banner .s-desc p{
		max-width:400px
	}
	aside .box .box-heading {
		font-size:15px;
	}
	.price {
		font-size:18px;
	}
	header .links a {
		font-size:12px;
	}
	.box .box-content .box-product ul li .padding:hover .inner {
		margin-bottom:-85px;
	}
	aside .box .box-content .box-product ul li .padding:hover .inner {
		margin-bottom:-84.5px;
	}

}

@media (max-width: 991px) {

	#menu-gadget {
		display:block;
	}
	.product-grid .cart, .box .box-product .cart {
		float:none;
	}
	.preview .wishlist a,.preview .compare a {
		margin:0 0 0 10px
	}
	.wishlist a, .compare a {
		margin:10px 10px 0 0
	}
	.product-list .wishlist a, .product-list .compare a {
		margin:0px 0px 0 10px
	}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) { 

	#full_gallery {
		display:block;
	}
	#default_gallery {
		display:none;
	}
	.box .box-content .box-product ul li:hover .quick-view-button {
		display:none !important; 
		visibility:hidden; 
	}

}

@media (max-width: 767px) {

	#page {
		overflow:hidden;
	}
	a.button span {
		font-size:12px;
	}
	#menu-gadget {
		float:none;
		clear:both;
		width:100%;
	}
	.banner {
		margin:0 -20px 20px;
	}
	.banner .s-desc {
		padding:0 40px;
	}
	.price {
		font-size:18px;
	}
	.top-search1 {
		display:none;
	}
	#cart .heading span.link_a i.fa.fa-shopping-cart{
		font-size:26px;
		line-height:50px;
		vertical-align:top;
	}
	#cart .heading span.link_a {
		line-height:50px;
		width:auto;
		height:auto;
		padding:0 10px;
		text-align:right;
		border-radius:0
	}
	header #cart.active .content {
		top:50px
	}
	.checkout-content {
		padding:20px;
	}
	.about-page i {
		display:none;
	}
	#cboxContent .about-page {
		padding:0
	}
	#copyleft {
		text-align:center;
	}
	.name a:hover {
		text-decoration:none;
	}
	.name a {
		text-decoration:underline
	}
	aside #compare {
		display:none !important;
	}
	#full_gallery {
		display:block;
	}
	#default_gallery {
		display:none;
	}
	.tabs .tab-heading:hover {
		cursor:pointer;
	}
	.tabs .tab-content {
		display:none;
	}
	#content {
		margin-bottom:20px;
	}
	.product-info .cart-top-padd {
		margin-bottom:10px;
	}
	.box {
		margin-bottom:10px;
		padding-bottom:0;
		}
	aside .box.info .box-heading {
		margin-bottom:0;
	} 
	aside .box .box-heading {
		margin-bottom:10px;
	}
	.product-grid .name {
		height:auto;
	}
	.product-list .description {
		display:none;
	}
	.product-info h1 {
		display:none;
	}
	.product-info h1.view {
		display:block;
	}
	.product-filter .display {
		display:none;
	}
	#content .box {
		margin-bottom:5px;
	}
	.box .box-heading {
		margin-bottom:15px;
	}
	.box .box-content .box-product ul li:hover .quick-view-button {
		display:none !important; 
		visibility:hidden; 
		opacity:0
	}
	#compare-total, .cart-button .compare  {
		display:none;
	}
	#content .box-product li {
		border-bottom:1px dotted #D7D7D7;
		margin-bottom:15px !important;
		padding-bottom:15px;
	}
	.cart-button > div.wishlist {
		display:none;
	} 
	.box-product .name {
		margin:0
	}
	footer > div.container {
		display:none;
	}
	footer .socials,
	footer .footer {
		display:none;
	}
	footer > div+div.container {
		display:block;
	}
	footer {
		padding:0;
		margin-top:5px;
	}
	#copyleft {
		margin-top:0;
		padding:15px 20px;
	}
	header #logo {
		margin:78px 0 29px 10px
	}
	.cart-position {
		position:fixed;
		top:0;
		left:0px;
		margin:0;
		z-index:100;
	}
	/* box product */
	#content .box-product  .image2{
		float:right;
		width:30%
	}
	#content .box-product .inner {
		width:58%;
		float:right;
		margin-right:30px;
	}
	#content .box-product li{
		margin-bottom:30px;
	}
	/* search */
	#search {
		position:fixed;
		top:50px;
		right:0px;
		z-index:101;
		display:none;
		width:100%;
		margin:0;
		z-index:10;
	}
	#search .inner {
		padding:4px 5px;
		background-color:#4a4a4a;
		overflow:hidden;
		position:relative;
	}
	#search input {
		width:100%;
		max-width:none;
		height:44px;
		border-radius:4px;
		box-shadow:inset 0 0 11px rgba(0,0,0,0.22);
		padding:10px 40px 10px 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	#search .button-search {
		position:absolute;
		top:7px;
		left:10px;
	}
	/* Cart */
	.cart-position #cart .heading span.link_a b,
	.cart-position #cart .heading span.link_a #cart-total,
	.cart-position #cart .heading span.link_a i.fa.fa-angle-down {
		display:none;
	}
	.cart-position{
		min-width:83px;
		z-index:101
	}
	.cart-position #cart .heading span.link_a #cart-total2 {
		background:url(../image/cart-total2.png) no-repeat right top;
		display:block;
		position:absolute;
		top:14px;
		right:47px;
		height:22px;
		line-height:22px;
		width:30px;
		text-align:center;
		overflow:hidden;
	}
	header #cart.active .content {
		display: block;
	}
	.toprow-1 .cart-position {
		display:block;
		margin:0;
	}
	.col-sm-3 .box-content {
		display:none;
	}
	aside .box-heading:hover {
		cursor:pointer;
	}
	.box-heading i {
		float:left;
		line-height:30px;
	}
	aside .box-product .name {
		height:auto !important; 
		margin:5px 0
	}
	/* swipe menu */
	.swipe-control i {
		font-size:26px; 
		color:#7e7e7e; 
		line-height:50px;
	}
	.swipe-control:hover i {
		text-decoration:none;
	}
	.swipe-control {
		display: block;
		height: 50px;
		width: 64px;
		z-index: 100;
		text-align:center;
		border-left:1px solid #000;
		float:right;
	}
	body #page {
		height:100%
	}
	body.ind div.shadow{
		right:0;
		top:0;
		display:block;
		width:100%;
		height:100%;
		position:absolute;
		background:url("../image/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		z-index:99;
		opacity:0.7
	}
	body.ind #page {
		margin-right: 237px;
		width:100%;
		position:fixed;
		right:0;
		top:0;
		z-index:2
	}
	body #body .swipe .swipe-menu{
		background-color: #323232;
		height:100%;
		overflow:scroll;
	}
	body #body .swipe {
		display:none;
	}
	body.ind #body .swipe {
		display:block;
		background-color:#323232;
		position:fixed;
		color:#fff;
		width:237px;
		top:50px;
		right:0px;
		z-index:100;
		overflow:hidden;
		z-index:101;
	}
	header .box-currency,
	header .block-language,
	header .toprow .links{
		display:none;
		}
	header .toprow {
		padding:0;
		background:none;
		margin:0;
	}
	header .toprow-1 {
		display:block;
	}
	#livesearch_search_results {
		display:none !important; 
	}
	/* product list */
	.product-list ul li .image {
		width:35%;
		float:right;
	}
	.product-list ul li .right {
		width:65%;
		float:right;
	}
	/* product grid */
	.product-grid ul li {
		overflow:hidden;
	}
	.product-grid ul li .image {
		width:30%;
		float:right;
	}
	.product-grid ul li .right {
		width:65%;
		float:right;
		margin-right:5%;
	}
	/* box-category */
	.box-product.box-subcat li {
		height:auto !important;
		overflow:hidden;
	}
	.box-product.box-subcat li .image {
		float:right;
		width:30%;
		max-width:170px;
	}
	.box-product.box-subcat li .name {
		width:65%;
		float:right;
		margin-right:5%;
	}
	/* order */
	.order-list .order-info {
		text-align:right;
	}
	.order-content{
		padding-top:0;
	}
	.order-content>div>div {
		margin-top:20px;
	}
}

@media (max-width: 555px) {

	.banner .s-desc h1 {
		font-size:22px;
	}
	.banner .s-desc p {
		font-size:11px;
	}
	.banner .s-desc a {
		font-size:14px;
		padding:5px 10px
	}
	.about-page i {
		display:none;
	}
	#cboxContent .about-page {
		padding:0
	}
	.content-border h2{
		margin-bottom:20px;
	}
	.content-border {
		border:0;
		padding:0px;
		margin-bottom:0px;
	}
	.checkout .checkout-product .table td {
		font-size:12px !important;
		padding:4px 2px !important;
	}
	.product-list .cart-button {
		position:static;
		float:none;
		margin:10px 0 0 0
	}
	.shop-cart .table.table-bordered {
		border:0
	}
	.shop-cart .table {
		display:block;
		width:100%
		}
	.shop-cart .table thead {
		display:none;
		}
	.shop-cart .table tbody {
		display:block;
		border:0;
	}
	.shop-cart .table tbody tr {
		display:block;
		margin-bottom:30px; 
		border:1px solid #d7d7d7;
		border-bottom:0;
	}
	.shop-cart .table tbody td {
		display:block;
		text-align:center;
		border:0;
		border-bottom:1px solid #d7d7d7;
	}

}
@media (max-width: 515px) {

	img#captcha {
		margin-right:0px;
	}

}

@media (max-width: 450px) {

	.banner .s-desc {
		bottom:15px;
	}
	.banner .s-desc p, .banner .s-desc h1  {
		display:none;
	}
}
@media (max-width: 410px) {

	.product-info .review img {
		margin-bottom:10px;
		float:none;
	}
	.product-info .review .btn-rew {
		float:none;
	}
	.product-filter .sort {
		float:none;
	}
	.product-filter .limit {
		float:none;
		margin:10px 0 0 0;
	}

}

@media (max-width: 480px) {

	.checkout .checkout-product .table td {
		font-size:10px !important;
		padding:4px 2px !important;
	}
}

@media (max-width: 979px) {

	.product-filter .product-compare {
		margin-top:2px;
	}
	/* table wishlist */
	.wishlist-product .table.table-bordered {
		border:0;
	}
	.wishlist-product .table thead{
		display:none;
	}
	.wishlist-product .table tbody{
		display:block;
		border:0
	}
	.wishlist-product .table tr {
		display:block;
		margin-bottom:30px;
		border:1px solid #d7d7d7;
		border-bottom:0;
	}
	.wishlist-product .table td {
		display:block;
		border:0;
		border-bottom:1px solid #d7d7d7
	}
}

@media (max-width: 372px) {

	a.button-prod {
		margin-right:0;
	}

}
@media (max-width: 440px) {

	.login-content .heading i {
		font-size:30px;
	}
	.about-page i {
		display:none;
	}
	#cboxContent .about-page {
		padding:0
	}
	.login-content .heading h2 {
		font-size:13px;
	}
	.checkout-content {
		padding:10px;
	}
	header #cart.active .content {
		height:250px;
		overflow:hidden;
	}
	header #cart.active .content .content-scroll {
		height:100%;
		overflow:scroll;
		webkit-overflow-y:scroll
	}
	.cart-bottom .buttons .center {
		text-align:left;
	}
	.about-page i {
		display:none;
	}
	#confirm .name a {
		font-size:11px;
		text-transform:none;
		font-weight:400;
	}

}