html {
	direction: rtl;
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
}
body {
	color: #7e7e7e;
	margin: 0px;
	background: #ffffff;
	font-size: 13px;
	line-height: 18px;
	min-width: 260px;
	font-family: 'Roboto Slab', Tahoma;
}
td, th, input, textarea, select, a {
	font-size: 13px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
iframe {
	border: 1px solid #E6E6E6;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #E6E6E6;
}
img {
	max-width: 100%
}
legend small {
	font-size: 15px;
	color: #999999;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
input, button, select, textarea {
	font-family: 'Roboto Slab', Tahoma;
}
label {
	margin-bottom: 5px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	height: 34px
}
input, textarea, .uneditable-input {
	width: 280px;
	max-width: 100%
}
textarea {
	height: auto;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	outline: 0;
	outline: thin dotted \9;/* IE6-9 */
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
 *margin-top: 0;
	line-height: normal;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width: auto;
}
select, input[type="file"] {
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */

	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
}
select {
	width: 280px;
	max-width: 100%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
select[multiple], select[size] {
	height: auto;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a:focus {
	color: #323232;
	cursor: pointer;
	text-decoration: none;
	outline: none
}
a:hover {
	text-decoration: none;
	color: #f5d61c
}
a img {
	border: none;
}
form {
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto Slab', Tahoma;
	font-weight: bold;
}
h1 {
	font-size: 23px;
	color: #3a79c8;
}
h2 {
	font-size: 17px;
	color: #3a79c8;
}
h3 {
	color: #323232;
	font-size: 16px;
}
.p0 {
	padding: 0px !important
}
.m0 {
	margin: 0px !important
}
.mt0 {
	margin-top: 0px !important
}
/***********************/
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fright {
	float: right;
}
.fleft {
	float: left;
}
.tcenter {
	text-align: center !important;
}
.fancybox {
	text-decoration: none;
}
.fancybox:hover {
	text-decoration: underline;
}
.account-success #content p {
	margin-bottom: 5px;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.extra-wrap {
	overflow: hidden;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
a#hidden {
	display: none;
	visibility: hidden
}
/* back to top */
#back-top {
	position: fixed;
	bottom: 30px;
	z-index: 9999;
	right: 50%;
	margin-right: 640px;
}
#back-top a:hover {
	color: #79ec3e;
}
#back-top span {
	width: 42px;
	height: 26px;
	display: block;
	margin-bottom: 7px;
	background: url(../image/up-arrow.png) no-repeat right 0px;
}
#back-top a:hover span {
	background-position: right bottom;
}
/* header-style */
.header-modules {
	position: relative;
	z-index: 1;
}
/* layout */
#container {
	text-align: right;
}
/* header */
.common-home header {
	margin-bottom: 0;
}
header {
	position: relative;
	color: #9d9d9d;
	background-color: #000000;
	margin-bottom: 30px;
}
header #logo a img {
	vertical-align: top;
	max-width: 100%;
	width: 100%;
}
header #logo {
	float: right;
	margin: 0px 0px 63px 0px;
}
.block-language {
	color: #999;
	line-height: 17px;
}
.block-language img {
	cursor: pointer;
}
.header-top1 {
	float: left;
}
/* currency */
.swipe-right {
	width: 20px;
	right: 0;
	top: 0;
	position: fixed;
	height: 100%;
	z-index: 98
}
body.ind .swipe-right {
	display: none !important;
	visibility: hidden
}
.swipe {
	display: none;
}
.swipe-control {
	display: none;
}
.box-currency {
	float: left;
}
.box-currency >div .heading-1 {
	display: none;
}
.swipe-menu .box-currency {
	float: none;
}
.swipe-menu .box-currency form {
	margin: 0;
}
.swipe-menu .box-currency .ul {
	display: none;
	top: 0;
	right: 0;
	left: auto;
	position: relative;
	width: 100%;
	background: #2b2b2b;
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0;
}
.swipe-menu .box-currency .ul a:first-child {
	margin-right: 30px;
}
.swipe-menu .box-currency .ul a {
	display: inline-block;
	padding: 20px;
	line-height: 20px;
	color: #fff
}
.swipe-menu .box-currency .ul a:hover, .swipe-menu .box-currency .ul a span.act {
	color: #f5d61c
}
#body .swipe .swipe-menu .box-currency .heading {
	display: none;
}
#body .swipe .swipe-menu .box-currency>div {
	display: block;
}
#body .swipe .swipe-menu .box-currency .heading-1 {
	display: block;
	padding: 11px 20px;
	float: none;
	border-bottom: 1px solid #000;
	font-size: 13px;
	font-weight: bold;
}
#body .swipe .swipe-menu .box-currency .heading-1 i {
	display: inline-block;
	font-size: 26px;
	line-height: 26px;
	vertical-align: middle;
	margin-top: 0px;
	color: #7e7e7e;
	padding-right: 0;
	margin-left: 9px;
}
#body .swipe .swipe-menu .box-currency .heading-1 i.fa.fa-angle-down {
	font-size: 21px;
	text-align: center;
	float: left;
}
/* language */
.block-language {
	float: left;
}
.toprow .block-language>div.heading1 {
	display: none;
}
.swipe-menu .block-language {
	float: none;
}
.swipe-menu .block-language .ul {
	position: relative;
}
.swipe-menu .block-language .heading {
	display: none;
}
.swipe-menu .block-language {
	float: none;
}
.swipe-menu .block-language .ul {
	display: none;
	top: 0;
	right: 0;
	left: auto;
	position: relative;
	width: 100%;
	background: #2b2b2b;
	border: 0;
	border-bottom: 1px solid #000000;
	padding: 0
}
.swipe-menu .block-language .ul a:hover {
	color: #f5d61c;
}
.swipe-menu .block-language .ul a:first-child {
	margin-right: 30px;
}
.swipe-menu .block-language .ul a {
	display: inline-block;
	padding: 20px;
	line-height: 20px;
	color: #fff;
}
.swipe-menu .block-language .ul a.act {
	color: #f5d61c
}
#body .swipe .swipe-menu .block-language .heading {
	display: none;
}
#body .swipe .swipe-menu .block-language>div {
	display: block;
}
#body .swipe .swipe-menu .block-language .heading1 {
	display: block;
	padding: 11px 20px;
	float: none;
	border-bottom: 1px solid #000;
	font-size: 13px;
	font-weight: bold;
	color: #fff
}
#body .swipe .swipe-menu .block-language .heading1 i {
	display: inline-block;
	font-size: 26px;
	line-height: 26px;
	vertical-align: middle;
	margin-top: 0px;
	color: #7e7e7e;
	text-align: center;
	margin-left: 9px;
}
#body .swipe .swipe-menu .block-language .heading1 i.fa.fa-angle-down {
	font-size: 21px;
	float: left;
}
/*********************************************************************************************header button*******************************************************************************************/
.header-button {
	position: relative;
	z-index: 28
}
.header-button>ul {
	display: none;
	position: absolute;
	background-color: grey;
	width: 200px;
}
.header-button>div:hover {
	cursor: pointer;
}
.toprow .header-button>div i {
	font-size: 13px;
	margin-right: 6px;
}
.toprow .header-button.active>div, .toprow .header-button>div:hover {
	color: #fff
}
.toprow .header-button>div {
	font-family: 'Roboto Slab', Tahoma;
	display: inline-block;
	font-size: 14px;
	line-height: 34px;
	vertical-align: top;
	color: #fff;
	text-transform: capitalize;
	margin-right: 17px;
}
.toprow .header-button .ul {
	display: none;
	position: absolute;
	background-color: #27ae60;
	width: 30px;
	right: auto;
	left: 0
}
.toprow .header-button .ul a {
	text-align: center;
}
.toprow .header-button .ul a span:hover {
	background-color: #3a79c8;
}
.toprow .header-button .ul a span {
	padding: 5px 0;
	display: block;
	font-size: 14px;
	text-transform: capitalize;
	cursor: pointer;
	color: #fff;
}
/* Swipe Control */
body div.shadow {
	display: none;
}
#body .swipe .swipe-menu li a:hover {
	color: #f5d61c
}
#body .swipe .swipe-menu li a {
	color: #7E7E7E
}
#body .swipe .swipe-menu li a i {
	color: #7e7e7e;
	font-size: 26px;
	margin-left: 9px;
}
#body .swipe .swipe-menu > ul li a {
	display: block;
	font-size: 13px;
	line-height: 26px;
	color: #fff;
	padding: 10px 20px 11px;
	border-bottom: 1px solid #000;
	position: relative;
}
#body .swipe .swipe-menu .foot li a:before {
	content: "\f05a";
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: 'Roboto Slab', Tahoma;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: baseline;
	width: auto;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-size: 26px;
	color: #7e7e7e;
	margin-left: 9px;
}
#body .swipe .swipe-menu .foot li+li a:before {
	content: "\f0d1"
}
#body .swipe .swipe-menu .foot li+li+li a:before {
	content: "\f06a"
}
#body .swipe .swipe-menu .foot li+li+li+li a:before {
	content: "\f085"
}
#body .swipe .swipe-menu .foot.foot-1 li a:before {
	content: "\f0ac"
}
#body .swipe .swipe-menu .foot.foot-1 li+li a:before {
	content: "\f079"
}
#body .swipe .swipe-menu .foot.foot-1 li+li+li a:before {
	content: "\f0e8"
}
#body .swipe .swipe-menu .foot.foot-2 li a:before {
	content: "\f02c"
}
#body .swipe .swipe-menu .foot.foot-2 li+li a:before {
	content: "\f06b"
}
#body .swipe .swipe-menu .foot.foot-2 li+li+li a:before {
	content: "\f0c0"
}
#body .swipe .swipe-menu .foot.foot-2 li+li+li+li a:before {
	content: "\f0a3"
}
#body .swipe .swipe-menu .foot.foot-3 li a:before {
	content: "\f0cb"
}
#body .swipe .swipe-menu .foot.foot-3 li+li a:before {
	content: "\f003"
}
/* header-cart */
.cart-position {
	float: left;
	position: relative;
	margin-right: 5px;
}
#cart .heading span.link_a i {
	font-size: 16px;
	line-height: normal;
	color: #333333;
}
#cart .heading span.link_a i.fa.fa-angle-down {
	font-size: 21px;
	margin-right: 15px;
	display: none;
}
#cart .heading span.link_a strong, #cart .heading span.link_a b {
	font-weight: normal;
	display: none;
}
#cart .heading span.link_a {
	display: block;
	background-color: #f5d61c;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	line-height: 34px;
	width: 34px;
	height: 34px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer
}
#cart.active .content {
	display: block;
}
.cart-position #cart .heading span.link_a #cart-total, .cart-position #cart .heading span.link_a #cart-total2 {
	display: none;
}
#cart {
	z-index: 25;
	position: relative;
}
#cart .content {
	clear: both;
	display: none;
	position: absolute;
	top: 34px;
	background: #fff;
	width: 257px;
	padding: 20px;
	float: left;
	box-shadow: 0px 5px 13px rgba(0,0,0,0.13);
	left: 0px;
	border: 1px solid #e6e6e6;
}
header #cart.active .content {
	display: block;
}
header #cart.active .content .mini-cart-info {
	display: block;
}
header #cart .cart {
	width: 100%;
	margin-bottom: 5px;
}
header #cart .cart td.price {
	font-size: 12px;
	line-height: 12px;
}
header #cart .cart td.total {
	font-size: 12px;
}
header #cart .cart td.name a i {
	text-decoration: none;
}
header #cart .cart td.name a {
	margin-top: 0px;
	display: inline-block;
}
header #cart .cart td .total {
	font-size: 11px;
	font-weight: bold;
	color: #000;
}
header #cart .cart .item-cart-1 td {
	padding-top: 0;
}
header #cart .cart td {
	color: #000;
	vertical-align: top;
}
header #cart .cart .image {
	padding-left: 15px;
}
.cart tr {
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: block;
	border-bottom: 1px solid #e6e6e6;
}
.cart-module .cart tr {
	background: none;
}
header #cart .cart .image img {
	text-align: right;
	max-width: inherit
}
header #cart .cart .name small {
	color: #666;
}
header #cart .cart .quantity {
	font-family: 'Roboto Slab', Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #a6a4a4;
	text-transform: uppercase;
}
header #cart .cart td.total {
	font-size: 12px;
	color: #c81908;
	text-align: left;
}
.cart-module .remove img:hover {
	overflow: hidden;
	margin-top: -11px;
}
.cart-module .cart .remove img {
	float: right;
}
.remove span:hover i {
	color: #f5d61c
}
.cart-module .cart .remove span {
	width: 11px;
	height: 11px;
	overflow: hidden;
	display: inline-block;
}
.cart-module .cart .remove {
	width: 20px;
	text-align: center!important;
	padding-top: 8px;
}
.cart-module .cart .remove img {
	cursor: pointer;
}
header #cart .cart .remove i:hover {
	cursor: pointer
}
header #cart .cart .remove i {
	font-size: 14px;
	line-height: normal;
	margin-left: 3px;
}
header #cart .cart .remove img:hover {
	overflow: hidden;
	margin-top: -11px;
}
header #cart .cart .remove img {
	float: right;
}
header #cart .cart .remove {
	padding: 10px 0
}
header #cart .cart .remove>span:hover {
	color: ##f5d61c
}
header #cart .cart .remove>span {
	font-size: 15px;
	cursor: pointer
}
header #cart .cart .remove img {
	cursor: pointer;
}
header #cart table.total {
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	float: left;
	clear: right;
	margin-bottom: 5px;
}
header #cart table.total tr {
	padding: 0px 10px 0px 10px;
}
header #cart table.total td b {
	color: #7e7e7e;
	font-size: 13px;
	font-style: italic;
}
header #cart table.total td {
	color: #323232;
	padding-right: 5px;
	padding-left: 10px;
}
header #cart table.total td .t-price {
	font-size: 13px;
	font-weight: bold
}
header #cart .content .checkout a.button {
	margin-bottom: 5px;
}
header #cart .content .checkout {
	text-align: left;
	clear: both;
	padding-left: 8px;
	padding-bottom: 0px;
	padding-top: 5px;
}
header #cart .empty {
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}
/* menu 
============================================================================================== */
header .toprow {
	width: 100%;
	background-color: #333333;
	padding: 5px 0 6px;
	margin-bottom: 55px;
}
header .toprow-1 {
	z-index: 100;
	position: fixed;
	display: none;
	background-color: #323232;
	width: 100%;
	right: 0;
	top: 0;
}
/* header links 
============================================================================================== */
header .links {
	font-size: 12px;
}
header .links li a i {
	display: none;
}
header .links li:first-child {
	background: none;
	padding-right: 0;
}
header .links li {
	float: right;
	padding: 0px 10px;
}
header .links a.active, header .links a:hover {
	color: #6baaf9;
	text-decoration: none;
}
header .links a {
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	color: #ffffff;
	line-height: 18px;
	line-height: 34px;
	vertical-align: top;
}
.toprow .links .login_h a {
	max-height: 34px;
	max-width: 104px;
	overflow: hidden;
	white-space: nowrap;
}
/* menu-gadget 
============================================================================================== */
#menu-gadget {
	display: block;
	position: relative;
	z-index: 1;
	width: 270px;
	float: left;
}
/* search 
============================================================================================== */
.top-search {
	line-height: 50px;
	border-left: 1px solid #000;
	display: inline-block;
	padding: 0 20px;
}
.top-search:hover {
	cursor: pointer
}
.top-search i {
	font-size: 26px;
	color: #7e7e7e;
}
.top-search #search {
	display: none;
}
#search {
	position: relative;
	z-index: 25;
}
#search .button-search {
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	margin: 10px;
	position: absolute;
	top: 0;
	left: 0;
	color: #27ae60;
	font-size: 16px;
}
#search .button-search:hover {
	color: #333;
	cursor: pointer;
}
#search input {
	
	border-radius: 0;
	line-height: 20px;
	
	margin: 0;
	padding: 8px 40px 8px 8px;
	background-color: #fff;
	border: 0;
}
/* name 
============================================================================================== */
.name a {
	font-family: 'Roboto Slab', Tahoma;
	text-decoration: none;
	font-size: 14px;
	color: #000000;
}
.name a:hover {
	text-decoration: underline;
}
/* price 
============================================================================================== */
.price.price-min {
	display: none;
}
.price {
	font-size: 23px;
	font-family: 'Roboto Slab', Tahoma;
	color: #313131;
}
.price .price-new {
	margin-left: 5px;
}
.price .price-old {
	
	font-size: 14px;
}
/* box price 
============================================================================================== */
.box-product .price {
	line-height: normal;
	margin-bottom: 3px;
}
.box-product .price .price-new {
	margin-left: 8px;
}
.box.box-filter input[type="checkbox"] {
	float: right;
	margin-top: 7px;
}
/* tooltip 
============================================================================================== */
.related-info .tooltip-inner {
	max-width: 120px !important;
	white-space: normal !important
}
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}
.tooltip.left {
	padding: 0 5px;
	margin-right: 3px;
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}
.tooltip.right {
	padding: 0 5px;
	margin-right: -3px;
}
.tooltip-inner {
	white-space: nowrap;
	max-width: 300px;
	padding: 5px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #3a79c8;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	right: 50%;
	margin-right: -5px;
	border-top-color: #3a79c8;
	border-width: 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #3a79c8;
	border-width: 5px 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #3a79c8;
	border-width: 5px 0 5px 5px;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	right: 50%;
	margin-right: -5px;
	border-bottom-color: #3a79c8;
	border-width: 0 5px 5px;
}
.tooltip-1 {
	white-space: nowrap
}
/* Icon: wishlist and Comapare
========================================================*/
.wishlist span, .compare span {
	display: none;
}
.wishlist a, .compare a {
	display: block;
	font-size: 16px;
	color: #c9c8c8;
	float: right;
	margin-right: 10px;
}
.wishlist a:hover i, .compare a:hover i {
	color: #f5d61c
}
.wishlist a i, .compare a i {
	font-size: 16px;
	color: #3a79c8;
	vertical-align: top;
}
/* aside link style
========================================================*/
aside .info li {
	position: relative;
	clear: both;
	padding: 2px 0
}
aside .info li a i, .afine li a i, .acount li a i {
	font-size: 17px;
	margin-left: 7px;
	color: #f5d61c;
}
aside .info li a, .afine li a, .acount li a {
	line-height: 20px;
	font-size: 14px;
}
aside.info li, .afine li, .acount li {
	padding: 3px 0;
}
aside .info li a + a i, .afine li a + a i, .acount li a + a i {
	display: none;
}
aside .info li a + a, .afine li a + a, .acount li a + a {
	padding-right: 0;
	background: none;
}
aside .info li a:hover, .afine li a:hover, .acount li a:hover {
	color: #f5d61c
}
.about-page h3 {
	text-transform: capitalize;
}
/* box-filter button
========================================================*/
.box-filter .box-content .button {
	margin-top: 10px
}
/* warning
========================================================*/
.breadcrumb a.last {
	color: #fff
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.breadcrumb a {
	color: #fff;
}
.breadcrumb {
	background-color: #3a79c8;
	border-radius: 0;
	padding: 12px 20px;
	color: #fff;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #e6e6e6;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	padding-right: 30px!important;
}
.attention>span {
	float: left;
	font-size: 20px;
}
.attention {
	background: #FFF5CC;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: left;
	cursor: pointer;
}
.required {
	color: #ff7409;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: 'Roboto Slab', Tahoma;
	display: block;
}
table.form {
	width: 100%;
	margin-bottom: 20px;
}
.checkout-product thead td .checkout-product thead td {
	text-align: center!important;
}
.checkout-content .buttons #button-payment {
	margin-top: 10px;
}
.checkout-product td.price {
	font-size: 12px;
}
.checkout-product td.total {
	text-align: center!important;
}
table.list thead td a, .list thead td {
	text-decoration: none;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
}
table.list .right {
	text-align: right;
}
table.list .left {
	text-align: left;
}
table.list .center {
	text-align: center;
}
.pagination {
	display: inline-block;
	width: 100%;
}
.account-order .button-order-left {
	float: left;
	margin-top: -3px;
}
.account-order .pagination {
	margin-bottom: 25px;
}
.pagination .links {
	float: right;
	margin-left: 10px;
}
.pagination .links a {
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none;
	border: 1px solid #e6e6e6;
}
.pagination .links a:hover {
	border: 1px solid #f5d61c;
}
.pagination .links b:hover {
	cursor: default
}
.pagination .links b {
	border: 1px solid #f5d61c;
	display: inline-block;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}
.pagination .results {
	float: right;
	margin: 5px 0px;
}
/* button
========================================================*/
a.button.details {
	margin-right: 10px;
}
a.button i {
	float: left;
	background-color: #f5d61c;
	height: 42px;
	width: 42px;
	display: block;
	text-align: center;
	color: #333333;
	font-size: 16px;
	line-height: 42px;
	vertical-align: top;
	border-radius: 0 5px 5px 0
}
a.button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: #27ae60;
	font-size: 14px;
	line-height: 18px;
	border-radius: 5px;
}
.cart-button a.button span {
	display: block;
	float: right;
}
a.button span {
	font-family: 'Roboto Slab', Tahoma;
	color: #fff;
	display: inline-block;
	padding: 12px 12px;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
a.button:hover {
	background: #f5d61c;
}
a.button:hover i {
	background-color: #27ae60;
	color: #fff
}
a.button:hover span {
	color: #fff;
}
a.button-i {
	display: inline-block;
	padding: 5px;
}
a.button-i i {
	font-size: 26px;
	color: #f5d61c
}
a.button-i i:hover {
	color: #7E7E7E
}
/* image products
========================================================*/
.image2 {
	position: relative;
}
.image img, .image2 img, .image3 img {
	vertical-align: top;
}
.product-grid .image, .box-product .image2 {
	text-align: center;
}
.buttons {
	overflow: hidden;
}
.checkout-content .buttons {
	overflow: hidden;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .left .mt {
	margin-top: 10px
}
.buttons .left a.button {
	margin-top: 10px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#module_cart .content {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 2px 2px #DDDDDD;
	clear: both;
	display: none;
	padding: 8px;
	position: relative;
	top: -1px;
}
#module_cart.active .heading {
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	margin-top: 5px;
	padding-bottom: 6px;
	padding-top: 10px;
}
#module_cart.active .content {
	display: block;
}
#module_cart .cart .name {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#module_cart .cart {
	margin-bottom: 10px;
	width: 100%;
}
#module_cart .cart td .quantity {
	font-weight: bold;
}
#module_cart .cart td {
	border-bottom: 1px solid #e6e6e6;
	padding: 2px 3px;
	vertical-align: top;
}
#module_cart .cart td a {
	font-weight: normal;
}
#module_cart .cart .image {
	display: none;
}
#module_cart .cart .image img {
	border: 1px solid #e6e6e6;
	text-align: right;
}
#module_cart .cart .name small {
	line-height: 14px;
}
#module_cart .cart td.quantity {
	font-family: 'Roboto Slab', Tahoma;
	padding-top: 0px;
	vertical-align: middle;
}
#module_cart .cart td.total {
	text-align: center;
	vertical-align: middle;
}
#module_cart .cart .remove {
	text-align: left;
	padding: 2px 2px;
	vertical-align: middle;
}
#module_cart .cart .remove img {
	cursor: pointer;
}
#module_cart table.total {
	clear: right;
	float: left;
	margin-bottom: 10px;
	padding: 5px;
}
.total-left {
	text-align: left!important;
}
#module_cart .total-right {
	padding-left: 18px;
}
#module_cart table.total td b {
}
#module_cart table.total td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	text-align: right;
}
#module_cart .checkout .button {
	margin-bottom: 10px;
}
#module_cart .checkout {
	clear: both;
	text-align: left;
}
#module_cart .empty {
	text-align: right;
	line-height: 17px;
	padding: 5px 0;
}
.product-list #image {
	float: right;
	margin-top: 0px;
	z-index: 0;
}
.product-grid #image {
	float: right;
	margin-top: 0px;
	z-index: 0;
}
.home-block #image {
	float: right;
	margin-top: 0px;
	z-index: 0;
}
/* box */
.box {
	margin-bottom: 20px;
}
.box.info {
	padding: 20px;
	background-color: #27ae60;
	border-radius: 5px;
	color: #fff;
}
.box.info#compare {
	background-color: #fb2c40;
}
.box.info .box-heading {
	color: #fff;
}
.box.info a:hover {
	color: #f5d61c;
}
.box.info a {
	color: #fff;
}
#content .box {
	margin-bottom: 0;
}
.box .box-heading {
	font-family: 'Roboto Slab', Tahoma;
	font-size: 23px;
	line-height: 30px;
	color: #313131;
	margin-bottom: 25px;
}
#content .box.specials {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
aside .box .box-heading {
	margin-bottom: 20px;
}
/* box products */
.box .box-content .box-product ul li.first-in-line {
	clear: right
}
aside .box .box-content .box-product ul {
	width: auto;
	margin: 0;
}
aside .box .box-content .box-product ul>li {
	width: 100%;
	margin: 0;
	max-width: 270px;
	padding: 0
}
.box-filter li {
	line-height: 25px;
}
.box-filter label {
	cursor: pointer;
	display: inline;
	padding-right: 5px;
}
.prod-stock {
	font-style: italic;
	color: #6ba239;
	font-size: 16px;
}
.box-product {
	width: 100%;
	margin: 0;
	padding: 0;
}
.box.subcat {
	border-bottom: 0;
	padding-bottom: 0;
}
.box-product.box-subcat {
	margin-top: 0 !important
}
.box-product.box-subcat .name.subcatname {
	padding-top: 4px;
	height: 42px;
	overflow: hidden;
}
.box-product.box-subcat .name.subcatname a:hover {
	color: #323232
}
.box-product.box-subcat .name.subcatname a {
	margin-bottom: 0;
	color: #f5d61c;
	font-style: normal
}
#content .box .box-content .box-product ul li.cat-height {
	border: 0px;
}
.zoom-top img {
	opacity: 0;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.zoom-top a:hover {
	background-color: #7E7E7E;
}
.zoom-top a {
	display: block;
	width: 30px!important;
	height: 30px!important;
	background-color: #f5d61c;
	color: #fff;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 25;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
}
.zoom-top a:before {
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: 'Roboto Slab', Tahoma;
	font-style: normal;
	font-weight: normal;
	height: auto;
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: baseline;
	width: auto;
	content: "\f00e";
	width: 30px;
	line-height: 30px;
}
.box-product > li.tree-div {
	margin-left: 0;
}
.box-product > li {
	width: 176px;
	display: inline-block;
	vertical-align: top;
	margin-left: 42px;
	margin-bottom: 28px;
}
#module_cart .cart .name a {
	text-decoration: none;
	line-height: 17px;
}
#module_cart .cart .name a:hover {
	text-decoration: underline;
}
.box-product .image {
	display: block;
	text-align: center;
}
.box-product .name a {
	display: inline;
}
.box-product .rating {
	display: block;
	margin-top: 7px;
	margin-bottom: 0px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.afine {
	list-style: none;
	margin: 0;
	padding: 0;
}
.afine li:first-child, .acount li:first-child {
	border: 0px
}
.afine li, .acount li {
}
.afine li a + a {
	background: none;
	padding-right: 0;
}
.acount {
	list-style: none;
}
.content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.content ul li a {
	text-decoration: none;
	line-height: normal;
}
.content ul li:first-child {
	border: none;
}
.content ul li {
	padding-bottom: 4px;
	padding-top: 4px;
}
.content ul li a i {
	font-size: 17px;
	margin-left: 9px;
}
.wishlist-product td a {
	text-decoration: none;
}
.wishlist-product td {
	vertical-align: middle!important;
	text-align: center;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* box category
========================================================*/
.fa.fa-angle-up:before {
	content: "\f106" !important;
}
li.parent> i:hover {
	cursor: pointer
}
li.parent> i {
	float: left;
	font-size: 21px;
	position: absolute;
	left: 0;
	top: 4px;
}
.box.category li {
	position: relative
}
.box.category .box-content {
	padding-bottom: 20px;
}
.box-category > ul > li.active>a i, .box-category > ul > li > a:hover i {
	color: #7e7e7e
}
.box-category > ul > li > a i {
	font-size: 21px;
	color: #f5d61c
}
.box-category > ul > li > a {
	display: inline-block;
	font-weight: bold;
	color: #323232;
}
.box-category > ul > li.active>a, .box-category > ul > li>a:hover {
	color: #f5d61c
}
.box-category > ul > li:first-child {
	border: 0
}
.box-category > ul > li {
	position: relative;
	padding: 5px 0
}
.box-category > ul > li strong {
	display: none;
}
.box-category > ul > li.last {
	border: none;
}
.box-category > ul > li ul {
	display: none;
	margin: 10px 0 10px 25px;
}
.box-category > ul > li span.close:hover {
	cursor: pointer;
}
.box-category > ul > li li.parent> i {
	line-height: 20px;
	vertical-align: middle;
	;
}
.box-category > ul > li ul > li.active > a, .box-category > ul > li ul > li > a:hover {
	color: #f5d61c;
}
.box-category > ul > li ul > li {
	padding: 3px 0;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: inline-block;
	color: #323232;
}
.box-category > ul > li ul > li > a.active {
	color: #f5d61c
}
.box-category > ul > li:first-child {
	border-top: 0
}
.act-cat {
	position: absolute;
	top: 9px;
	left: 6px;
}
.info-about2, .info-about3, .info-about4 {
	display: none;
}
/* category page*/
h1.style-1 {
	border-bottom: 1px solid #e6e6e6;
	line-height: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: right;
	width: 25%;
	list-style: none;
	padding: 0;
}
.capcha {
	width: 143px;
}
.sitemap-info ul li {
	padding-bottom: 4px;
	padding-right: 14px;
	padding-top: 4px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: bold;
	color: #f5d61c;
}
.sitemap-info ul li a i {
	color: #f5d61c;
	font-size: 17px;
	margin-left: 9px;
}
.sitemap-info ul li a:hover i {
	color: #7E7E7E
}
.sitemap-info ul li a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
}
.category-list .div a {
	text-decoration: underline;
}
/* manufacturer */
.manufacturer-list {
	overflow: auto;
	margin-bottom: -1px;
	border: 1px solid #e6e6e6;
}
.manufacturer-heading span {
	background: #323232;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	padding: 10px 0;
	width: 50px;
	text-align: center;
}
.manufacturer-heading {
	background: #f9f9f9;
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 6px;
	border-bottom: 1px solid #e6e6e6;
}
.manufacturer-content {
	padding: 30px 40px;
	overflow: hidden;
}
.manufacturer-list ul li a i {
	color: #f5d61c;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	margin-left: 9px;
}
.manufacturer-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box.manufacturers li {
	padding: 5px 0;
}
.box.manufacturers li a {
	display: inline-block;
	text-decoration: none;
}
/* product */
.product-filter .product-compare {
	float: right;
	margin-right: 10px;
}
.product-filter select {
	margin-bottom: 0;
}
.product-filter {
	overflow: hidden;
	line-height: 32px;
	border: 1px solid #e6e6e6;
	border-width: 1px 0;
	padding: 20px 0;
	margin-bottom: 30px;
}
.product-filter .display {
	float: left;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort b {
	padding-left: 7px;
	color: #323232;
	text-transform: uppercase;
}
.product-filter .sort select {
	width: 150px;
}
.product-filter .sort {
	float: right;
	font-weight: bold;
}
.product-filter .limit select {
	width: 72px;
}
.product-filter .limit b {
	padding-left: 5px;
	color: #323232;
	text-transform: uppercase;
}
.product-filter .limit {
	margin-right: 13px;
	float: right;
}
.product-list ul li:first-child {
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}
.product-list ul li {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #e6e6e6;
}
.product-list .right {
	position: relative;
}
.product-list .left {
	text-align: right;
}
.product-list .name {
	margin-bottom: 10px;
}
#grid_a, #list_a, #grid_b, #list_b {
	vertical-align: top;
	font-size: 28px;
	float: right;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	font-weight: normal;
	font-size: 28px;
}
#list_b i, #grid_b i {
	color: #f5d61c;
	cursor: default
}
.product-filter .display {
	position: relative;
}
.product-filter .display b {
	float: right;
	color: #323232;
	text-transform: uppercase;
	display: none;
}
.product-list .description {
	overflow: hidden;
	margin-bottom: 5px;
}
.product-grid ul li {
	text-align: right;
	position: relative;
	margin-bottom: 30px;
}
.product-grid ul li.first-in-line {
	clear: right
}
.extra-prod input {
	padding-bottom: 4px;
}
.extra-prod {
	padding-top: 6px;
}
.or {
	padding-top: 3px;
}
.product-grid .image {
	display: block;
	margin: 0 0 15px 0;
	text-align: center;
}
.product-grid .name {
	height: 40px;
	margin-bottom: 5px;
	overflow: hidden;
	direction: ltr;
}
.product-grid .description {
	overflow: hidden;
	display: none;
}
.product-grid .rating {
	display: block;
	height: 13px;
	margin-bottom: 10px;
}
.product-list .price, .product-grid .price {
	display: block;
	margin-bottom: 5px;
	line-height: normal;
}
.cart-button .cart {
	float: right;
}
.product-list .price-tax {
	font-size: 12px;
	display: block;
}
.product-grid .price-old {
	
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .price-old {
	font-weight: normal;
}
.product-grid .cart {
	float: right;
}
.content-border h2 {
	margin-bottom: 30px;
}
.content-border {
	border: 1px solid #e6e6e6;
	padding: 30px 40px;
	margin-bottom: 30px;
}
/* Product */
#compare {
	display: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#full_gallery {
	display: none;
	max-width: 270px;
	position: relative;
}
#full_gallery .prev {
	right: 0
}
#full_gallery .next {
	left: 0
}
#full_gallery .prev:hover, #full_gallery .next:hover {
	color: #f5d61c
}
#full_gallery .prev, #full_gallery .next {
	color: #7e7e7e;
	font-size: 19px;
	position: absolute;
	top: 50%;
	margin-top: -23px;
}
.bx-controls-direction a.bx-prev {
	margin-right: -10px;
}
.bx-controls-direction a.bx-next {
	margin-left: -10px;
}
.bx-controls-direction a {
	padding: 10px;
}
.product-info {
	padding-bottom: 7px;
	margin-top: 20px;
}
.product-info h1.view {
	display: none;
}
.product-info h1 {
	color: #323232;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 10px;
	padding-bottom: 15px;
	direction: ltr;
}
.product-info .right {
	position: relative;
	z-index: 5;
	margin-bottom: 20px;
}
.product-info .image {
	float: right;
	width: 100%;
	max-width: 270px;
	max-height: 424px;
	height: 100%;
	margin-bottom: 7px;
	background-color: #efeeee;
}
.product-info .image-additional {
	overflow: hidden;
	max-width: 270px;
	position: relative;
	clear: both;
	padding: 0 20px;
}
.product-info .image-additional li {
	float: right;
	max-width: 70px;
}
.product-info .image-additional li.last {
	margin-left: 0;
}
.product-info .image-additional img {
	background: #efeeee;
}
#zoom1 img {
	background: #efeeee;
}
.product-info .image-additional a {
	display: block;
}
.image-additional .next:hover, .image-additional .prev:hover {
	color: #f5d61c
}
.image-additional .prev {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	top: 40%;
	margin: 0;
	font-size: 19px;
	color: #7e7e7e
}
.image-additional .next {
	color: #7e7e7e;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 40%;
	margin: 0;
	font-size: 19px;
}
.product-info .share >span {
	margin-bottom: 20px;
	display: inline-block;
}
.product-info .description .product-section {
	font-weight: bold;
	color: #27ae60;
	text-transform: uppercase;
	line-height: 24px;
	margin-bottom: 20px;
}
.product-info .description .product-section a {
	color: #f5d61c
}
.product-info .description .product-section a:hover {
	color: #323232
}
.product-info .description .product-section span {
	color: #323232;
	font-weight: bold;
}
.product-info .description .product-section .prod-stock {
	display: inline-block;
	background-color: #6ba239;
	color: #fff;
	font-style: normal;
	padding: 0 7px;
	margin: 0 9px;
}
.product-info .price {
	text-transform: uppercase;
	color: #323232;
	font-size: 13px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
	padding: 23px 0;
	margin-bottom: 20px;
}
.product-info .price .price-new {
	color: #fb2c40;
	font-size: 31px;
}
.product-info .price .price-old {
	color: #7e7e7e;
	margin-right: 10px;
}
.product-info .price .price-tax {
	color: #27ae60;
	text-transform: none;
	font-weight: normal;
	margin-right: 10px;
}
.product-info .price .discount {
	text-transform: none;
	font-weight: normal;
}
.product-info .price .reward {
	padding-top: 10px;
	display: block;
}
.tab-content ul {
	margin-right: 25px;
	margin-bottom: 20px;
	list-style-type: disc
}
.product-info .minimum {
	margin-top: 5px;
}
.product-info .cart-top-padd {
	float: right;
}
.product-info .extra-button {
	float: right;
}
.product-info .wishlist a span, .product-info .compare a span {
	display: inline-block;
}
.product-info .wishlist a i, .product-info .compare a i {
	margin-left: 9px;
	font-size: 17px;
	line-height: 24px;
}
.product-info .wishlist a:hover, .product-info .compare a:hover {
	color: #323232
}
.product-info .wishlist, .product-info .compare {
	display: block;
	margin: 0
}
.product-info .wishlist a, .product-info .compare a {
	display: inline;
	color: #f5d61c;
	line-height: 24px;
	width: auto;
	height: auto;
	font-size: 13px;
	float: none;
	margin: 0;
	padding: 0;
	border: 0px;
	background: none;
	text-align: right;
}
.product-info .options {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.product-info .cart-top {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.q-mini {
	width: 30px;
}
img#captcha {
	vertical-align: top;
	margin-bottom: 20px;
}
#tab-review input[name="captcha"] {
	margin-left: 20px;
	margin-bottom: 10px;
}
.border {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.product-info .gallery li {
	max-width: 270px;
	float: right;
	height: 424px
}
.ps-carousel-item img {
	background-color: #EFEEEE;
}
.ps-zoom-pan-rotate img {
	background-color: #EFEEEE;
}
.product-info .gallery li img {
	background-color: #EFEEEE;
}
a.button-prod i {
	font-size: 26px;
	vertical-align: middle;
	margin-left: 9px;
}
a.button-prod:hover {
	background-color: #fb2c40;
}
a.button-prod {
	display: inline-block;
	background-color: #27ae60;
	font-size: 15px;
	color: #ffffff;
	padding: 9px 19px 10px 11px;
	margin: 0 20px;
	line-height: 31px;
	border-radius: 5px;
}
.product-info .review {
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 20px;
}
.product-info .review a:hover {
	color: #f5d61c
}
.product-info .review a {
	color: #7e7e7e;
}
.product-info .review a+a:hover {
	color: #7e7e7e
}
.product-info .review a+a {
	color: #f5d61c;
	margin-right: 20px;
}
.product-info .review img {
	float: right;
	margin-left: 20px;
}
.product-info .review .btn-rew {
	float: right;
}
.product-info .review .btn-rew a i {
	font-size: 26px;
	color: #7e7e7e;
	line-height: 16px;
	width: 1.25em
}
.tabs {
	margin-bottom: 10px;
}
.tabs .tab-heading i {
	font-size: 26px;
	color: #7e7e7e;
	float: left;
}
.tabs .tab-heading {
	padding: 13px 20px;
	line-height: 32px;
	color: #323232;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #e6e6e6;
	border-bottom: 4px solid #f5d61c;
	background-color: #f9f9f9;
}
.tabs .tab-content {
	padding: 20px 0;
}
#tab-review.tabs .tab-content {
	padding: 20px 0 0;
}
/* compare block */
.compare-block {
	margin-bottom: 20px;
}
.compare-block .image {
	margin-left: 10px;
}
.compare-block .remove a {
	font-size: 19px;
	line-height: normla;
}
.compare-info {
	width: 100%;
}
.block-compare {
	position: relative;
	overflow: hidden;
}
.td-price {
	font-weight: bold;
	font-size: 16px;
}
.compare-info .prod-stock {
	margin: 0 auto;
	float: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #6BA239;
	color: #FFFFFF;
	display: inline-block;
	font-style: normal;
	margin: 0 9px;
	padding: 0 7px;
}
.compare-info td.name a:hover {
	color: #7e7e7e
}
.compare-info td.name a {
	text-decoration: none;
	font-size: 12px;
	color: #f5d61c
}
.compare-info td.last {
	border-left: 0;
}
.compare-info thead td:first-child {
	text-align: right;
}
.compare-info td:first-child {
	background-color: #F9F9F9;
	color: #323232;
	font-weight: bold;
	text-align: left;
}
.compare-info td.image2 {
	text-align: center;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	text-align: right;
	vertical-align: top;
}
.compare-info .price-old {
	font-weight: normal;
	
	display: block;
	font-size: 13px;
}
.compare-info td.td-price .price-old {
	color: #7E7E7E
}
.compare-info td.td-price {
	font-weight: bold;
	font-size: 13px;
	line-height: normal;
	color: #f5d61c
}
/* wishlist */
.wishlist-product2 {
	display: none;
}
.wishlist-product {
	margin-bottom: 25px;
}
.wishlist-product tbody .name a:hover {
	color: #4a4a4a
}
.wishlist-product tbody .model {
	text-align: center;
	font-size: 17px;
}
.wishlist-product tbody .stock {
	text-align: center;
}
.wishlist-product tbody .quantity {
	text-align: left;
}
.checkout-product .table td.price {
	text-align: right;
	font-size: 13px;
	color: ##7E7E7E
}
.table .total, .table .price {
	text-align: center;
	font-size: 17px;
	color: #f5d61c;
	font-weight: bold;
}
.table thead td {
	font-size: 12px !important;
}
.table .price s {
	color: #323232;
	font-weight: normal;
	display: block;
}
input#sub_category {
	background: none;
	float: right;
	margin-right: -20px;
}
/* contact page */
.contact-info {
	border: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	padding: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.contact-info .contact-box i {
	color: #f5d61c;
	font-size: 26px;
	width: 1.25em;
}
.contact-info .contact-box {
	margin-bottom: 20px;
	line-height: 26px;
}
.contact-info .contact-box b {
	color: #323232;
	text-transform: uppercase;
	margin-right: 10px;
}
.contact-info iframe {
	min-height: 200px;
	max-height: 300px
}
.contact-info figure {
	margin: 0;
}
.content.contact-f textarea {
	max-width: 100%;
}
.content.contact-f {
	border: 1px solid #e6e6e6;
	padding: 40px 40px 20px;
}
.content.contact-f div.buttons, .content.contact-f div.captcha {
	margin-top: 20px;
}
/* checkout page */
.checkout-heading {
	background-color: #f9f9f9;
	color: #323232;
	text-transform: uppercase;
	border: 1px solid #e6e6e6;
	border-top: 4px solid #f5d61c;
	font-weight: bold;
	padding: 15px 100px 15px 15px;
	margin-top: 10px;
}
.checkout-content {
	display: none;
}
.checkout-content {
	margin-top: -1px;
	padding: 20px 40px;
	border: 1px solid #e6e6e6;
}
.checkout-content .login-content .heading h2 {
	font-size: 20px;
}
.checkout-content .login-content p.login-padd {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 6px;
}
.checkout-heading {
	position: relative;
}
.checkout-heading>a {
	position: absolute;
	left: 20px;
	top: 15px
}
.checkout-content label a:hover {
	text-decoration: underline;
}
.checkout-content label a {
	color: #f5d61c;
}
/* login page */
.login-content .left, .login-content .right {
	border: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	padding: 30px;
	margin-bottom: 30px;
}
.login-content .heading {
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.login-content .content>p {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 20px;
}
.login-content .heading i {
	font-size: 56px;
	color: #f5d61c;
	float: right;
	margin-left: 14px;
}
.login-content .heading h2 {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 23px;
	color: #323232;
}
.login-content .heading b {
	font-size: 13px;
	color: #737373;
	font-style: italic;
	font-weight: normal;
}
.login-content .form-horizontal .controls input {
	width: 94%;
	max-width: 100%
}
.login-content .login-buttons {
	border-top: 1px solid #e6e6e6;
	padding-top: 20px;
}
.buttons .left label {
	text-align: right;
}
.login-content {
	overflow: hidden;
}
.login-content .right p + p {
	margin-bottom: 16px;
}
.link-login {
	text-decoration: underline;
	display: inline-block;
	color: #f5d61c;
	font-style: italic;
	margin-right: 15px;
	margin-top: 5px;
}
.link-login:hover {
	text-decoration: none;
}
.padd-form {
	display: block;
	padding-bottom: 5px;
}
.login-content .left .content p {
	margin-bottom: 15px;
}
.login-content .left .content b {
	display: block;
}
#register .content {
	border: none!important;
	padding: 0!important;
}
/* orders */
.order-list, .return-list {
	border: 1px solid #e6e6e6;
	margin-bottom: 30px;
}
.order-content span, .heading-order-list span {
	color: #f5d61c
}
.heading-order-list {
	background-color: #f9f9f9;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #323232;
	padding: 20px;
}
.order-list .order-id, .return-list .return-id {
	width: 49%;
	float: right;
}
.order-list .order-status, .return-list .return-status {
	font-weight: bold;
}
.order-list .order-status {
	width: 49%;
	float: left;
	text-align: left;
}
.order-list .order-content, .return-list .return-content {
	padding: 20px;
	color: #323232;
	font-weight: bold;
}
.order-list .order-content div .button {
	margin-top: 3px;
}
.order-list .order-info {
	text-align: left;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-box-2 {
	padding: 15px 20px 19px 20px;
	margin-bottom: 10px;
}
.return-box-2 .buttons .left {
	float: right;
}
.return-box-2 .buttons {
	padding-right: 0;
	padding-top: 12px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.return-p {
	padding-right: 17px;
}
.return-p p {
	margin-bottom: 13px;
}
.return-list {
	margin-bottom: 10px;
}
#content .content.return-box {
	padding: 14px 10px 11px 20px;
	margin-bottom: 10px;
}
.content.return-box h2 {
	margin-bottom: 14px;
}
#content .content.return-box .right {
	width: 320px;
}
#content .content.return-box .left {
	width: 320px;
}
.content.return-box label {
	font-size: 12px;
	font-weight: bold;
}
.content.return-box input {
	margin-top: 6px;
	margin-bottom: 7px;
	width: 310px;
}
.content.return-box .error {
	padding-bottom: 5px;
	display: block;
}
.return-box-3 {
	margin-bottom: 20px;
	padding: 14px 10px 10px 20px;
}
.return-box-3 h2 {
	margin-bottom: 15px;
}
.return-box-3 textarea {
	width: 310px;
	height: 188px;
	max-width: 310px;
	max-height: 188px;
}
.return-box-3 .return-captcha {
	width: 320px;
	margin-top: -3px;
}
.return-box-3 .return-captcha b {
	padding-bottom: 6px;
	display: block;
}
.return-box-3 .return-captcha input {
	width: 170px;
	margin-bottom: 10px;
}
.return-box-3 .return-additional {
	margin-bottom: 11px;
}
.return-box-3 .buttons {
	padding: 0;
	margin-bottom: 0;
}
/* button */
.button-return-left-i:hover, .button-return-left:hover {
	color: #f5d61c;
	cursor: pointer;
}
.button-return-left {
	border: 0px;
	background: none;
	font-weight: bold;
	color: #757475;
	padding: 0;
	line-height: 32px;
	min-height: 32px;
	display: inline-block;
}
#return-product .button-return-left-i {
	position: relative;
}
#return-product .button-return-left-i i.fa.fa-arrow-circle-left {
	position: absolute;
	left: 0;
	z-index: 4;
	top: 3px
}
#return-product input.button-return-left {
	padding-left: 31px;
	position: relative;
	z-index: 5
}
a.button-return-right:hover, a.button-return-left:hover, a.button-order-left:hover, a.button-cont-left:hover, a.button-back-right:hover, a.button-inf-right:hover {
	color: #f5d61c
}
a.button-return-right, a.button-return-left, a.button-order-left, a.button-cont-left, a.button-back-right, a.button-inf-right {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	padding-left: 0px;
	color: #7e7e7e;
	vertical-align: top;
}
a.button-back-right i, .button-back-right i, .button-return-left-i i, a.button-return-right i, a.button-cont-left i {
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
	margin: 0 9px
}
i.fa.fa-arrow-circle-left {
	margin-left: 0 !important;
}
a.button-order-left {
	padding: 0;
}
a.button-return-right span, a.button-return-left span, a.button-order-left span, a.button-cont-left span, a.button-back-right span, .wishlist-product a.button-wislish-right span, a.button-inf-right span {
	line-height: 1.2em;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
a.button-return-right span, a.button-back-right span, a.button-wislish-right span {
	padding: 5px 0px 5px 14px;
	background: url('../image/marker-button-right.png') right 8px no-repeat;
}
a.button-return-left span, a.button-order-left span, a.button-cont-left span, a.button-inf-right span {
	padding: 5px 14px 5px 0px;
	background: url('../image/marker-button-left.png') left 8px no-repeat;
}
.cart-bottom a i.fa.fa-check {
	margin-left: 0;
}
.cart-bottom a.button-cont-left {
	margin-left: 20px;
}
/* button */
.return-list .return-id {
	width: 49%;
	float: right;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: left;
	text-align: left;
	margin-bottom: 2px;
}
.return-list .return-info {
	text-align: left;
}
.return-remove {
	float: right;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: right;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: left;
	text-align: left;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.download-list .download-content div {
	float: right;
	width: 33.3%;
}
.download-list .download-info {
	text-align: left;
}
/* cart */
a {
	outline: none;
}
a:hover i.fa.fa-trash-o-o {
	color: #f5d61c
}
a i.fa.fa-trash-o-o {
	color: #7e7e7e
}
i.fa.fa-trash-o-o {
	font-size: 26px;
}
.shop-cart {
	border-bottom: none;
	overflow: hidden;
	position: relative;
}
.cart-info2 .table td+td {
	text-align: center;
}
.shop-cart .table td.quantity, .shop-cart .table td.image {
	text-align: center;
}
.shop-cart .table td {
	vertical-align: middle;
}
.cart-module .cart-content {
	padding: 18px 0px 19px 18px;
	display: none;
	overflow: auto;
	border-top: none;
}
.cart-info2 {
	display: none;
}
.cart-info {
	overflow: hidden;
	margin: 20px 0;
}
.cart-info td.name a:hover {
	color: #323232
}
.cart-info td.name a {
	color: #f5d61c;
	font-size: 16px;
	font-style: italic;
}
.content.shop-cart-content>p {
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	margin: 0;
	padding: 20px;
}
.mt5 {
	margin-top: 5px;
}
a.input-update i {
	color: #7E7E7E;
	font-size: 26px;
}
a.input-update:hover i {
	color: #f5d61c;
}
#cboxLoadedContent td>input[type="radio"] {
	margin: 0px;
	float: none
}
td.quantity>input[type="text"] {
	width: 40px
}
table#total td {
	background-color: #f9f9f9;
	padding: 20px;
	text-transform: uppercase;
	width: 80%
}
table#total td+td {
	background-color: #fff;
	color: #f5d61c;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}
td.price {
	font-weight: bold;
	font-size: 17px;
}
table.radio {
	padding: 0
}
.cart-module>div {
	padding: 20px 20px;
	display: none;
	border: 1px solid #e6e6e6;
	border-top: 0;
	border-bottom: 0;
}
table.radio tbody td {
	width: 100%
}
.sitemap-info ul {
	margin-top: 10px;
}
.sitemap-info li a {
	text-decoration: none;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
#newsletter .content {
	margin: 0;
	padding: 0;
	border: none;
}
.sitemap-info .right {
	float: right;
	width: 48%;
}
#newsletter .form tr td:first-child {
	width: 58px;
}
.sitemap-info .left {
	float: right;
	width: 48%;
}
/* footer */
.common-home footer {
	margin-top: 0;
}
footer {
	background-color: #333333;
	clear: both;
	margin-top: 30px;
	overflow: hidden;
}
.footer {
	padding: 45px 0;
}
footer h3 {
	color: #fff;
	line-height: normal;
	font-size: 17px;
	font-weight: 400;
	margin: 0 0 15px;
	word-wrap: break-word;
}
footer li {
	padding: 3px 0
}
footer .row li a:hover {
	color: #6baaf9
}
footer .row li a {
	font-size: 14px;
	color: #989898;
	line-height: 20px;
	word-wrap: break-word
}
footer .foot-phone div {
	color: #f5d61c;
	line-height: 24px;
}
footer .foot-phone div.fright {
	margin-top: 5px;
}
footer .foot-phone i {
	line-height: normal;
	font-size: 36px;
	color: #7e7e7e;
	width: 1.25em;
	margin-left: 10px;
}
span.toggle {
	display: none;
}
#copyleft br {
	display: none;
}
#copyleft a {
	font-size: 12px;
	text-decoration: none;
	color: #989898;
}
#copyleft a:hover {
	color: #f5d61c;
}
#copyleft {
	padding: 18px 0;
	font-size: 12px;
	color: #989898;
}
.return-captcha input img {
	vertical-align: top;
}
.return-captcha input {
	margin-bottom: 10px;
	vertical-align: top;
}
.socials {
	background-color: #000;
	padding: 50px 0 52px;
}
.socials li {
	padding: 0;
	float: right;
	margin-left: 30px;
}
.socials li a {
	display: block;
	width: 128px;
	height: 128px;
}
.socials li a:hover {
	opacity: 0.8
}
.socials li a.fb {
	background: url(../image/fb.png) no-repeat right top;
}
.socials li a.tw {
	background: url(../image/tw.png) no-repeat right top;
}
.socials li a.rss {
	background: url(../image/rss.png) no-repeat right top;
}
/* banner */
.outer {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
}
.banner {
	margin-bottom: 0px;
}
.banner .banner-desc {
	position: relative;
}
.banner>div {
	position: relative;
	overflow: hidden;
}
.banner>div>a {
	overflow: hidden;
	display: block;
	position: relative;
}
.banner img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.banner .s-desc {
	font-family: 'Roboto Slab', Tahoma;
	display: block;
	position: absolute;
	bottom: 6px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100%;
	color: #f5d61c;
	font-size: 14px;
}
.banner .s-desc h1 {
	font-size: 41px;
	line-height: 145%;
	color: #ffffff;
	font-weight: 400;
	text-transform: none;
	margin: 0px;
}
.banner .s-desc a i {
	margin-right: 5px;
}
.banner .s-desc a:hover {
	background-color: #3a79c8;
	color: #fff;
}
.banner .s-desc a {
	display: block;
	float: left;
	background-color: #f5d61c;
	font-size: 23px;
	line-height: 33px;
	color: #000000;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
}
/* AJAX Add to Cart Confirm */
.success, .warning, .attention, .information, .rev-success {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	color: #555;
}
.success a, .warning a, .attention a, .information a {
	color: #333;
}
#cart-success {
	position: fixed;
	z-index: 9998;
}
.success i.fa.fa-times-circle {
	font-size: 26px;
	padding: 10px;
}
.success .close i {
	padding: 10px
}
.success {
	color: #000
}
.success>img {
	max-width: 70px;
	height: auto;
	float: right;
	background-color: #efeeee;
	margin-left: 10px;
	border: 1px solid #e6e6e6
}
.success a:hover {
	text-decoration: none;
	color: #f5d61c
}
.success a {
	text-decoration: none;
	color: #252525
}
.success span:hover img {
	margin-top: -11px;
}
.success p {
	margin-bottom: 11px;
	font-size: 24px;
	color: #1b1b1b;
}
.success span:hover {
	cursor: pointer;
	color: #f5d61c
}
.success span {
	overflow: hidden;
	position: absolute;
	left: 8px;
	top: 8px;
	opacity: 1
}
.success i {
	color: #6d6d6d
}
.success i:hover {
	color: #f5d61c;
}
.success i.fa.fa-thumbs-up {
	font-size: 31px;
	color: #f5d61c;
	margin-left: 10px;
}
.close {
	color: transparent;
	text-shadow: none
}
.success a {
	color: #f5d61c;
}
.success a:hover {
	text-decoration: underline;
}
.success {
	width: 100%;
	position: fixed;
	z-index: 99999!important;
	/*box-shadow:0 0 20px rgba(0,0,0,0.13);*/
	top: 0;
	right: 0;
	padding: 20px 20%;
	z-index: 9999;
	line-height: 18px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: none;
	background: #323232;
	display: none;
	font-size: 13px;
	color: #fff;
}
#tab-review .success {
	display: block !important;
	position: static;
	color: #333;
	text-align: right;
	background: none;
	padding: 10px 15px 10px 30px;
	background: url("../image/success.png") no-repeat scroll 10px center #EAF7D9;
	border: 1px solid #E6E6E6;
}
#wrap {
	z-index: 10!important;
}
.rev-success {
	background: #EAF7D9 url('../image/success.png') right no-repeat;
	border: 1px solid #e6e6e6;
	padding-right: 20px;
}
/* related */
.prev {
	float: right;
	margin-right: 10px;
}
.next {
	float: left;
	margin-left: 10px;
}
td.image {
	position: static
}
.image {
	position: relative
}
.related-info .cart-button .cart {
	float: none;
}
.related-info .rating {
	display: inline-block;
}
.related-info .wishlist, .related-info .compare {
	display: inline-block;
}
.related-info .wishlist a, .related-info .compare a {
	margin: 0px 5px 0
}
.related-info {
	display: inline-block;
	float: right;
	text-align: center;
	position: relative;
	border-bottom: 0 !important;
}
.related {
	padding: 0 50px;
	position: relative;
}
.related .name {
	height: 40px;
	overflow: hidden;
}
.related .prev:hover, .related .next:hover {
	color: #f5d61c
}
.related .prev, .related .next {
	position: absolute;
	top: 50%;
	font-size: 26px;
	color: #7e7e7e;
	margin-top: -31px;
}
.related .prev {
	right: 0
}
.related .next {
	left: 0
}
/* about-page */
.about-page i:before {
	text-indent: 0
}
.about-page i {
	display: block;
	color: #f5d61c;
	font-size: 56px;
	float: right;
	width: 56px;
	height: 56px;
	margin-left: 15px;
	overflow: hidden;
}
/* colorbox */
#colorbox {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.preview {
	padding: 15px;
}
.preview .marg {
	margin-bottom: 25px;
}
.preview .price {
	width: 100%;
	overflow: hidden;
}
.preview .price span {
	float: right;
	margin-left: 10px;
}
.preview .left .inf span {
	display: block;
	margin-bottom: 10px;
}
.preview .left .inf span.text-price {
	margin-right: 0;
}
.preview .left h2 {
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 0;
}
.preview .inf .prod-stock {
	margin-bottom: 10px;
}
.preview .description {
	height: 160px;
	padding: 15px;
	overflow: auto;
	border: 1px solid #e6e6e6;
}
.preview .cart {
	float: right;
}
.preview .extra-button {
	float: right;
	width: 150px;
	margin-top: 3px;
	margin-right: 15px;
}
#cboxContent #cboxTitle {
	width: 60%;
	padding: 0 20%;
}
#colorbox {
	z-index: 100 !important;
}
#cboxOverlay {
	z-index: 100 !important;
}
.preview .rating {
	margin-top: 15px;
}
.box li .padding, .box li {
	position: relative
}
.box .box-content .box-product ul li .quick-view-button, .box .box-content .box-product ul li .image2 img, .box .box-content .box-product ul li {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.box .box-product .cart {
	float: right;
}
.box .box-content .box-product ul li .image2 {
	overflow: hidden;
}
.box .box-content .box-product ul li .quick-view-button:hover {
	color: #fff;
	background-color: #333333;
}
.box .box-content .box-product ul li .quick-view-button i {
	width: 30px;
	vertical-align: top;
	line-height: 30px;
}
.box .box-content .box-product ul li .quick-view-button {
	opacity: 0;
	visibility: hidden;
	right: 0;
	position: absolute;
	top: 0px;
	font-size: 22px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #f5d61c;
	color: #333333;
}
.box .box-content .box-product ul li:hover .quick-view-button {
	opacity: 1;
	visibility: visible
}
/* bootstrap reset */
.table-bordered {
	border-radius: 0
}
.table thead td {
	text-transform: uppercase;
	font-weight: bold;
	color: #323232 !important;
	font-family: 'Roboto Slab', Tahoma;
	font-size: 13px;
	background-color: #f9f9f9;
}
.table th, .table td {
	padding: 20px;
	border-color: #d7d7d7;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.block-compare .table th, .block-compare .table td {
	padding: 7px
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 13px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0;
	box-shadow: none
}
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
	border-radius: 0
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
	border-radius: 0;
}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
	border-radius: 0
}
.table-bordered {
	border-color: #d7d7d7
}
label, input, button, select, textarea {
	font-size: 13px;
	color: #323232
}
label {
	font-weight: bold;
}
textarea {
	resize: none
}
label {
	cursor: default
}
.close:hover, .close:focus {
	opacity: 1
}
.pp_gallery ul a img {
	width: 50px;
	height: 50px;
	max-width: none
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 1px
}
table.radio {
	margin: 0;
	display: table
}
.table > tbody + tbody {
	border-width: 1px;
}
.stButton .stButton_gradient, .stButton .chicklets, .stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 22px !important;
}
#fancybox-content>div {
	background-color: #fff;
}
#cboxContent .about-page {
	padding: 0 25px
}
#fancybox-content {
	background-color: #fff;
}
.zoomContainer {
	z-index: 8;
}
