body{
	background: white; 
}
h2 {padding:0;margin:0}
.index_intro_text {
	font-size: 25px;
	font-weight: normal;
	text-align: center;
	padding: 50px 0 30px;
	font-family: 'Open Sans',Meiryo,sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.index_intro_text2 {
	font-size: 25px;
	font-weight: normal;
	text-align: center;
	padding: 50px 0 10px;
	font-family: 'Open Sans',Meiryo,sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.index_category_wrapper{
	width: 100%;
	font-family: 'Open Sans',Meiryo,
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.index_category_wrapper h6 {
    font-size: 14px;
    font-weight: 300;
    height: 100px;
    margin: 0;
    padding: 15px 30px;
    text-align: center;
}
.index_category_tech {
	float:left;width:312px;margin-right:29px;
	border:1px solid #eeeeee;
	padding:0 0 10px;
}
.index_category_link {
	margin:0 auto;
	text-align:center;
}
a.index_category_button {
	font-size:15px;
	color:#000000;
	border:1px solid #616161;
	font-weight: 300;
	padding:5px 20px;
	transition: .2s ease-out;
}
a:hover.index_category_button {
	background:#616161;
	color:#ffffff;
}
.index_left_category_wrapper{
	width: 487px;
	float: left;
}
.index_category_title {
	font-size: 20px;
	font-weight: lighter;
	margin-top: 10px;padding:0;
	text-align: left;
}
.index_category_title2 {
	font-size: 20px;
	font-weight: lighter;
	margin-top: 10px;padding:0;
	text-align: center;
}
.index_category_photo1{
	width: 275px;
	height: 262px;
	margin-right: 6px;
}
.index_category_photo2{
	width: 206px;
	height: 128px;
	margin-bottom: 6px;
}
.index_category_photo3{
	width: 206px;
	height: 128px;
}

.index_category_vector1{
	width: 225px;
	height: 262px;
	margin-right: 6px;
}
.index_category_vector2{
	width: 256px;
	height: 128px;
	margin-bottom: 6px;
}
.index_category_vector3{
	width: 256px;
	height: 128px;
}

.index_category_icon1{
	width: 112px;
	height: 112px;
	margin-bottom: 6px;
}
.index_category_icon2{
	width: 112px;
	height: 112px;
	margin-bottom: 6px;
}
.index_category_icon3{
	width: 230px;
	height: 112px;
}

.index_category_ed1{
	width: 112px;
	height: 230px;
	margin-right: 6px;
}
.index_category_ed2{
	width: 112px;
	height: 112px;
	margin-bottom: 6px;
}
.index_category_ed3{
	width: 112px;
	height: 112px;
}

.index_category_footage1{
	width: 230px;
	height: 112px;
	margin-bottom: 6px;
}
.index_category_footage2{
	width: 112px;
	height: 112px;
}
.index_category_footage3{
	width: 112px;
	height: 112px;
}

.index_category_audio1{
	width: 112px;
	height: 112px;
	margin-right: 6px;
	margin-bottom: 6px;
}
.index_category_audio2{
	width: 112px;
	height: 112px;
	margin-right: 6px;
}
.index_category_audio3{
	width: 112px;
	height: 230px;
}
.index_stock_category {
	background:#f9f9f9;
	margin:70px auto 0;
	padding: 0 0 90px;
}
.index_stock_category h2 {
    font-size: 25px;
	font-weight: normal;
	text-align: center;
	padding: 70px 0 30px;
	font-family: 'Open Sans',Meiryo,sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.index_newimages_link {
	font-size: 14px;
    font-weight: 200;
    position: absolute;
    text-align: center;
    top: 123px;
    width: 100%;
	margin:0 auto;
	text-align:center;
}
.index_newimages_inside {
	background:#f9f9f9;
	display:inline-block;
	padding:0 50px
}
.index_signup_container {
	background-image: url("/images/v5/index_signup_bg2.jpg");
    background-position: 50% center;
    background-size: cover;
    height: 565px;
    position: relative;
    z-index: 1;
}
.index_signup_wrapper {
	position: relative;
	font-family: 'Open Sans',Meiryo,sans-serif;
	margin:0 auto;
	width:1000px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.index_signup_wrapper h2 {
    font-family: "Open Sans",Meiryo,sans-serif;
    font-size: 25px;
    font-weight: 200;
    padding: 70px 0 30px;
    text-align: center;
    color:#ffffff;
}
.index_signup_left {
	float:left;color:#ffffff;width:475px;
}
.index_signup_left h2 {
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	padding: 0 0 20px 0;margin:0;
	font-family: 'Open Sans',Meiryo,sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.index_signup_right {
	background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    float: right;
    height: 300px;
    padding: 30px;
    width: 420px;
}
.index_signup_icon {
	float:left;
	margin:15px 15px 15px 0;
}
.index_signup_desc {
	float:left;
	font-size: 15px;
	margin-top:15px;margin-bottom: 15px;
	width:420px;
	font-weight: 400;
}
.stc_list-container {
	position: relative;
	font-family: 'Open Sans',Meiryo,sans-serif;
	margin:0 auto;
	width:1000px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.stc_list-wrap {
	border: 1px solid #e5e5e5;
    margin: 0 auto;
    padding: 30px 0;
    width: 1000px;
}
.stc_list-sect {
	float:left;
	width:250px;
	text-align: center;
}
.stc_list-sect ul {margin:0;padding:0;list-style-type:none}
.stc_list-sect ul li {font-size:14px;padding: 10px 0;}

.stc_list {
	width:1000px;font-family: 'Open Sans',Meiryo,sans-serif;margin:20px 0 30px 0;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.stc_listlft {float:left;width:267px;height:200px;margin:0 5px 0 0;text-align:center;font-size:25px;font-style:italic;line-height:30px}
.stc_listlft:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.stc_listlft .centered {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}
.stc_listrgt{float:left;width:668px;padding:30px;}
.stc_catlist {float:left;width:167px;}
.stc_catlist ul {margin:0;padding:0;list-style-type:none}
.stc_catlist ul li {font-size:14px;padding: 3px;}
.stc_hdr {font-size:16px;font-weight:bold;color:#ffffff;padding:10px 15px;}

.stc_listrgt {
    border: 1px solid #e5e5e5;
    float: left;
    padding: 30px;
    width: 100%;
}
.index_category_link{
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding: 20px 0px;
	font-weight: 200;
}
.separate {
	height: 1px;
	background: -moz-linear-gradient(left, #FFFFFF 0%,#dddddd 50%,#FFFFFF 100%);
	background: -webkit-linear-gradient(left, #FFFFFF 0%,#dddddd 50%,#FFFFFF 100%);
	background: linear-gradient(left, #FFFFFF 0%,#dddddd 50%,#FFFFFF 100%);
	width: 100%;
	display: block;
	margin: 0 0 20px 0;
}

.srchbar_pos {
	position:absolute;z-index:300px;left:200px;top:145px;
	width:600px;
}
.srchbar_pos2 {
	left: 50%;
	margin-left:-330px;
    position: absolute;
    top: 43%;
    width: 660px;
    z-index:300px;
}
.srchbar_index {
	position:relative;
	padding:5px;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(70, 70, 70);
	/* RGBa with 0.4 opacity */
	background-color: rgba(70, 70, 70, 0.4);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99707070, endColorstr=#99707070);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99707070, endColorstr=#99707070)";
}
.srchbar_index { padding:5px 5px 1px 5px\0/;} /* IE8, IE9 */}
. ie10 .srchbar_index {padding:5px;} /* IE 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.srchbar_index {padding:5px;}
} /* IE 11 */
.srchbar_outer {
	display:table;
	width:100%;
	z-index:1000;
}
.srchbar_inner {
	display:table-row
}
.srchbar_left {
	display:table-cell;vertical-align:top;
	width:100%;
	border:1px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.6);
}
.srchbar_container {
	/*display:table-cell;
	width:100%;*/
	width:460px;
	padding-right:0;
	display:inline-block
}
.srchbar_container2 {
	width:520px;
	padding-right:0;
	display:inline-block
}
.srchbar_input {
	width:92% !important;
	background-color: rgba(255, 255, 255, 0.6);
	border:0;	
	height:24px;
	margin:0;
	padding:14px 21px 15px;
	font-family:'Open Sans',Meiryo,sans-serif;font-weight:400;font-size:18px;
	font-style:italic;color:#999999;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.srchbar_input {padding:14px 23px 15px;}
} /* IE 11 */
.srchbar_input {padding:14px 23px 15px\0/;} /* IE8, IE9 */
.srchbar_input:focus{color:#333333;font-style:normal;outline: 0;}
.srchbar_right {display:table-cell;width:100%}
.srchbar_submit_green{
	background:#6dbd45;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6dbd45), color-stop(1, #5EAD2F));
	background:-moz-linear-gradient(center top, #6dbd45 20%, #5EAD2F 100%);
	border:0;
	cursor:pointer;
  	text-shadow:1px 1px 3px #666666;filter:shadow(color=#666666, direction=135, Strength=2);
  	height:55px;
  	color:#fff;
	font-size:18px;font-weight:200;
	font-family: 'Open Sans',Meiryo,arial;
	margin:0;padding:0 15px;
	min-width:95px;
}
.srchbar_advanced{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#333333');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#333333')";
	background-image: -moz-linear-gradient(top, #333333, #333333);
	background-image: -ms-linear-gradient(top, #333333, #333333);
	background-image: -o-linear-gradient(top, #333333, #333333);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#333333), to(#333333));
	background-image: -webkit-linear-gradient(top, #333333, #333333);
	background-image: linear-gradient(top, #333333, #333333);
	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	filter: alpha(opacity = 70);
	z-index:3000;
	
	background:#000;width:590px;left:-5px;top:-20px;position:absolute;padding:5px;
}
.srchbar_advanced2{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#333333');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#333333')";
	background-image: -moz-linear-gradient(top, #333333, #333333);
	background-image: -ms-linear-gradient(top, #333333, #333333);
	background-image: -o-linear-gradient(top, #333333, #333333);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#333333), to(#333333));
	background-image: -webkit-linear-gradient(top, #333333, #333333);
	background-image: linear-gradient(top, #333333, #333333);
	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	filter: alpha(opacity = 70);
	z-index:3000;
	
	background:#000;width:160px;left:385px;top:-20px;position:absolute;padding:5px;
}

.content_container{
	margin-top: 39px;
}
.search_ddl_menu{
	position: absolute;
	right: 0;
	z-index: 1000;
	list-style-type: none;
	padding: 5px 10px;
	margin: 0;
	top: 54px;
	border: 1px solid rgba(0,0,0,.15);
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search_ddl_menu li{
	text-align: left;
	cursor: pointer;
	border-bottom: 0;
	/*line-height: ;*/
}
.search_ddl_menu li label{
	display: block;
	margin-bottom: 0;
	min-width: 80px;
	padding: 5px;
	cursor: pointer;

}
.search_ddl_menu .line{
	border-top: 1px solid #E5E5E5;
	margin-top: 4px;
	margin-bottom: 4px;
}
#anonymous_element_1{
	width: 100%!important;
	border-right:1px solid rgb(204, 204, 204)!important;
}
#Autocomplete_searchtext{
	width: 100%!important;
}
#searchtext{
	font-style: normal;
	color: #333333;
}

/* PROMO */

.searchicon {
	/*background-image: url("<?=$mediacacheserver?>/images/big-search.png");*/
	background-position: center;
	background-repeat: no-repeat;
	background-color:#6dbd45;
	background-color:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6dbd45), color-stop(1, #5EAD2F));
	background-color:-moz-linear-gradient(center top, #6dbd45 20%, #5EAD2F 100%);
	border: 0 none;
	color: #fff;
	cursor: pointer;
	font-family: "Open Sans",Meiryo,arial;
	font-size: 18px;
	font-weight: 200;
	height: 55px;
	min-width: 60px;
	margin: 0;
	padding: 0 15px;
}
.create-hover {
	float:right;font-size:24px;font-weight:400;border:1px solid #ffffff;width:300px;height:42px;text-align:center;padding-top:8px;margin-top:14px;
    transition: all 0.3s ease 0s; 
    color:#ffffff;
}
.create-hover2 {
	float:right;
	font-size:20px;font-weight:400;
	border:1px solid #ffffff;width:200px;height:38px;text-align:center;
	padding-top:8px;
	margin:17px 20px 0 0;
    transition: all 0.3s ease 0s; 
    color:#ffffff;
}
.create-hover:hover, .create-hover2:hover, .create-hover_all:hover  {
	/*box-shadow: inset 0 0 0 4px #ffffff;*/
	 color:#ffffff;
	 background:#6dbd45;
}
.corp-main-title {
	font-size:34px;font-weight:700;
	margin:0;padding:0;
}
.corp-circle_7 {
	background: url(/images/v5/corp/corp-circle-7.png) no-repeat;
	height:10px;width:10px;
	background-position:0% 50%;
}
.corp-subtitle {
	font-size:13px;
	font-weight:400;
	color:#ffffff;
	margin:-10px 0 0 0;padding:0;
	text-transform:uppercase;
}
.corp-blue-index {
	font-size:14px;
	font-weight:700;

	-webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);

	float:right;
	font-weight:700;
	/*border:1px solid #ffffff;*/
	background:#54bcea;
	text-align:center;
	margin:15px 20px 0 0;
    transition: all 0.3s ease 0s; 
    color:#ffffff;
    text-transform: uppercase;


}
.corp-blue-index:hover {
	background: #23a1d8;
}
.corp-green-index:link, .corp-green-index:visited {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);

	/*
  	background:#6dbd45;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6dbd45), color-stop(1, #5EAD2F));
  	background:-moz-linear-gradient(center top, #6dbd45 20%, #5EAD2F 100%);
	*/

	background:#54bcea;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #54bcea), color-stop(1, #54bcea));
  	background:-moz-linear-gradient(center top, #54bcea 20%, #54bcea 100%);

	border:0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;

	padding:15px 30px;margin:0;
	text-align:center;overflow:hidden;
	
	color:#ffffff;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
}
.corp-green-width:link {
	width:250px;
}
.corp-green-index:hover, .corp-green-index:active {
	/*
	background:#6dbd45;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #5EA534), color-stop(1, #519327));
  	background:-moz-linear-gradient(center top, #5EA534 20%, #519327 100%);
  	*/

  	background:#6dbd45;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #23a1d8), color-stop(1, #23a1d8));
  	background:-moz-linear-gradient(center top, #23a1d8 20%, #23a1d8 100%);
  	
  	color:#ffffff;
}
.create-hover_all {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.4);

	float:right;
	font-weight:700;
	/*border:1px solid #ffffff;*/
	background:#529e21;
	text-align:center;
	margin:15px 50px 0 0;
    transition: all 0.3s ease 0s; 
    color:#ffffff;
    text-transform: uppercase;
}
.create-hover_kr {
	float:right;
	font-weight:700;
	background:#6dbd45;
	margin:15px 20px 0 0;
    transition: all 0.3s ease 0s; 
    color:#ffffff;
    text-transform: uppercase;
}
.create-hover_kr:hover  {
	background:#529E21;
	 color:#ffffff;
}
.create-hover_EN {
	font-size:14px;
	padding:15px 30px;
}
.create-hover_ES {
	font-size:14px;
	padding:15px 15px;
}
.create-hover_FR {
	font-size:13px;
	padding:15px 15px;
}
.create-hover_DE {
	font-size:13px;
	padding:8px 13px;
}



.special-index-link a {color:#ffffff;text-decoration: none;border-bottom: 1px solid #ffffff}
.special-index-link a:hover {color:#f5f5f5;text-decoration: none;border-bottom: 1px solid #f5f5f5}

.panel_input_wrapper1 {
    margin: 5px 0 0;
    position: relative;
    width: 420px;
}
.panel_input_wrapper2 {
    margin: 30px 0 0;
    position: relative;
    width: 195px;
}
.panel_input1, .panel_select1 {
    background-color: #e5e5e5;
    background-image: none;
    border: 1px solid #e5e5e5;
    color: #333;
    font-family: "Open Sans light",sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px 5px 10px;
    width: 388px;
}
.panel_input2, .panel_select2 {
    background-color: #e5e5e5;
    background-image: none;
    border: 1px solid #e5e5e5;
    color: #333;
    font-family: "Open Sans light",sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px 5px 10px;
    width: 163px;
}
.panel_msg_box {
	position: absolute;
    background: none;
    font-weight: bold;
    margin:0;
    padding: 0;
    line-height: 13px;
}
