/* Variables */
.textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transitionP2, .bg, .container-left, .videoContent, .video-shares .vs-right .vr-light {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

/* Variables */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {
    .ir {
        display: block;
        border: 0;
        text-indent: -999em;
        overflow: hidden;
        background-color: transparent;
        background-repeat: no-repeat;
        text-align: left;
        direction: ltr;
        *line-height: 0;
    }
    .ir br {
        display: none;
    }
    .hidden {
        display: none !important;
        visibility: hidden;
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    .invisible {
        visibility: hidden;
    }
    .clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .clearfix {
        *zoom: 1;
    }
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    /* h5bp.com/t */
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

li {
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: #000;
}

head {
    display: block;
}

a {
    outline: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-family: "texgyreadventorregular";
    min-width: 320px;
}

*, input, select {
    box-sizing: border-box;
}

/* Reset Tools */
/* General Tools */
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.tl {
    text-align: left !important;
}

.tc {
    text-align: center !important;
}

.tr {
    text-align: right !important;
}

.vm tr td {
    vertical-align: middle !important;
}

.vt tr td {
    vertical-align: top !important;
}

.vb tr td {
    vertical-align: bottom !important;
}

.vt {
    vertical-align: top !important;
}

.vm {
    vertical-align: middle !important;
}

.vb {
    vertical-align: bottom !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs15 tr td {
    font-size: 15px !important;
}

.full {
    width: 100%;
    float: left;
}

.half {
    width: 50%;
    float: left;
}

.full-table {
    width: 100%;
    float: left;
}

.full-table tr td {
    padding: 5px;
}

.center {
    width: 1040px;
    height: auto;
    margin: 0 auto;
}

.full-label {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}

.full-select,
.full-input {
    width: 100%;
    height: 38px;
    float: left;
    border: none;
    background: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.5px;
    outline: none;
    font-family: "texgyreadventorregular";
    border: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: inset 0 -1px 4px rgba(4, 4, 4, 0.1);
    border-radius: 2px;
}

.full-textarea {
    width: 100%;
    height: 120px;
    float: left;
    border: none;
    background: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.5px;
    outline: none;
    font-family: "texgyreadventorregular";
    border: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: inset 0 -1px 4px rgba(4, 4, 4, 0.1);
    border-radius: 2px;
}

.triple-select {
    width: 32%;
    height: 38px;
    float: left;
    border: none;
    margin-right: 1%;
    background: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.5px;
    outline: none;
    font-family: "texgyreadventorregular";
    border: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: inset 0 -1px 4px rgba(4, 4, 4, 0.1);
    border-radius: 2px;
}

.auto-button {
    width: auto;
    height: 35px;
    float: right;
    color: #fff !important;
    line-height: 35px;
    padding: 0 15px;
    background: #ea5167;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-family: "texgyreadventorregular";
    font-size: 13px;
    font-weight: 600;
}

.auto-button:hover {
    opacity: .8;
}

.auto-button.dark {
    background: #666666;
}

.lr-title {
    width: 100%;
    height: 100px;
    float: left;
    color: #fff;
    font-size: 13px;
    font-family: "texgyreadventorbold";
    font-weight: 300;
    line-height: 138px;
    background: url("../img/logo.png") center center no-repeat;
    padding-right: 81px;
    text-align: right;
}

.lr-input {
    width: 100%;
    height: 40px;
    float: left;
    margin: 7px 0;
    position: relative;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: inset 0 -1px 4px rgba(4, 4, 4, 0.1);
    border-radius: 2px;
}

.lr-input select,
.lr-input input {
    width: 100%;
    height: 38px;
    float: left;
    border: none;
    background: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.5px;
    outline: none;
    font-family: "texgyreadventorregular";
}

.lr-input:after {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
}

.lr-input:before {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    border: 2px solid #ea5167;
    content: ' ';
    background: #fff;
    box-sizing: border-box;
    z-index: 9;
}

.lr-input.username:before {
    background-image: url("../img/log-reg-icons/username.png");
}

.lr-input.password:before {
    background-image: url("../img/log-reg-icons/password.png");
}

.lr-input.e-mail:before {
    background-image: url("../img/log-reg-icons/mail.png");
}

.lr-input.gender:before {
    background-image: url("../img/log-reg-icons/gender.png");
}

.lr-input.birthday select {
    width: 33%;
}

.lr-input.birthday:before {
    background-image: url("../img/log-reg-icons/date.png");
}

.bt-center {
    width: 100%;
    float: left;
    text-align: center;
}

.lr-button {
    width: 130px;
    height: 40px;
    display: inline-block;
    background: #ea5167;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    font-family: "texgyreadventorregular";
    border: none;
    border-radius: 2px;
    margin: 7px 0;
    text-align: center;
    cursor: pointer;
}

.lr-button:hover {
    background: #d14a60;
}

.lr-label {
    width: 100%;
    height: auto;
    float: left;
    margin: 7px 0 2px 0;
    color: #999999;
    font-size: 12px;
}

.lr-label.center {
    text-align: center;
}

.lr-label a {
    color: #666666;
}

.lr-label a:hover {
    text-decoration: underline;
}

.lr-warning {
    width: 100%;
    height: auto;
    float: left;
    margin: 7px 0 2px 0;
    color: #CF8F8F;
    font-size: 12px;
    text-align: center;
}

/* General Tools */
/* Background */
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000 url("../img/main-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bg.dark {
    background-image: url("../img/dark.jpg");
}

.bg:before {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url("../img/bg-filter.png");
    content: ' ';
}

.bg:after {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    content: ' ';
}

.bg video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/video-bg.jpg") no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

/* Background */
/* Main */
.main {
    width: 100%;
    height: auto;
    min-height: 100%;
    float: left;
    position: absolute;
    z-index: 99;
    min-width: 320px;
}

/* Main */
/* Header */
.header {
    width: 100%;
    height: 60px;
    float: left;
    background: url("../img/header-bg.jpg");
}

.header .logo {
    width: 170px;
    height: 60px;
    float: left;
    background: url("../img/logo.png");
}

.header .header-right {
    width: auto;
    height: 60px;
    float: right;
}

.header .header-right > div {
    width: auto;
    height: 60px;
    float: left;
    line-height: 60px;
    color: #999999;
    font-size: 15px;
    cursor: pointer;
    padding: 0 15px;
}

.header .header-right > div:hover {
    background: #222222;
}

.header .header-right > div.hr-green {
    background: #ea5167;
    color: #fff;
    font-family: "texgyreadventorbold";
}

.header .header-right > div.hr-green:hover {
    background: #d14a60;
}

/* Header */
/* Main Menu */
.main-menu {
    width: auto;
    height: 50px;
    float: left;
}

.main-menu ul {
    width: 100%;
    float: left;
}

.main-menu ul li {
    width: auto;
    float: left;
}

.main-menu ul li a {
    width: auto;
    height: 60px;
    float: left;
    line-height: 60px;
    color: #b2b2b2;
    font-size: 15px;
    padding: 0 20px;
}

.main-menu ul li a:hover {
    background: #2a2a2a;
}

.main-menu ul li:last-child {
    float: right;
}

/* Main Menu */
/* Home Container */
.home-container {
    width: 100%;
    height: 95%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

.home-container table {
    width: 100%;
    height: 100%;
}

.home-container table tr td {
    vertical-align: middle;
}

.home-container img {
    max-width: 100%;
}

.home-container .home-text {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    font-family: "texgyreadventorbold";
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

.home-container .home-text:before {
    width: 34px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    content: ' ';
    margin-left: -17px;
}

.home-container .home-bts {
    width: auto;
    height: 56px;
    display: inline-block;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.home-container .home-bts > div {
    line-height: 52px;
    padding: 0 20px;
    color: #fff;
    float: left;
    font-family: "texgyreadventorbold";
    font-size: 18px;
    cursor: pointer;
}

.home-container .home-bts > div:hover {
    background: rgba(255, 255, 255, 0.2);
}

.home-container .home-bts > div.signUp {
    background: #ea5167;
}

.home-container .home-bts > div.signUp:hover {
    background: #d14a60;
}

/* Home Container */
/* Footer */
.footer {
    min-width: 320px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(23, 23, 23, 0.7);
    text-align: center;
    padding: 7px 0;
    color: #999999;
    font-size: 12px;
}

.footer a {
    color: #999999;
}

.footer a:hover {
    color: #CACACA;
    text-decoration: underline;
}

.footer.float {
    float: left;
    margin-top: 20px;
    position: static;
}

/* Footer */
/* Main Popup */
.mainPopup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 99999;
}

.mainPopup .mpClose {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../img/mpClose.png");
    cursor: pointer;
    z-index: 999;
}

.mainPopup .mpClose:hover {
    opacity: .7;
}

.mainPopup .mpFilter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.7);
}

.mainPopup .mpContent {
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    background: #333;
    top: 15%;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Main Popup */
/* Container */
.container {
    width: 100%;
    float: left;
    margin: 10px 0;
}

/* Container */
/* Full Center Pane */
.full-center-pane {
    width: 100%;
    float: left;
    margin: 10px 0 30px 0;
    text-align: center;
}

.full-center-pane .aligner {
    width: auto;
    display: inline-block;
}

/* Full Center Pane */
/* Container Left */
.container-left {
    width: 720px;
    height: auto;
    float: left;
}

.container-left.full {
    width: 100%;
}

.container-left.full .videoContent {
    height: 580px;
}

.container-right {
    width: 300px;
    float: right;
}

.container-right.full {
    width: 100%;
    text-align: center;
}

.container-right.full .cr-item {
    width: 300px;
    display: inline-block;
    float: none;
}

/* Container Left */
/* Container Right Item */
.cr-item {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}

/* Container Right Item */
/* Video Content */
.videoContent {
    width: 100%;
    height: 400px;
    float: left;
    position: relative;
}

.videoContent > * {
    width: 100%;
}

.video-title {
    width: 100%;
    height: auto;
    float: left;
    font-size: 25px;
    font-family: "texgyreadventorbold";
    color: #fff;
    margin-bottom: 10px;
}

.video-shares {
    width: 100%;
    height: 90px;
    float: left;
    padding: 30px 0;
    background: url("../img/video-shares-bg.png") center no-repeat;
}

.video-shares .vs-label {
    width: auto;
    height: 30px;
    float: left;
    color: #666666;
    font-size: 13px;
    line-height: 30px;
    margin-right: 5px;
}

.video-shares .shareBt {
    width: auto;
    height: 30px;
    float: left;
    line-height: 28px;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 5px;
    padding: 0 7px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.video-shares .shareBt:hover {
    background: rgba(255, 255, 255, 0.4);
}

.video-shares .shareBt:before {
    width: 20px;
    height: 20px;
    float: left;
    background: url("../img/shareDefault.png");
    content: ' ';
    margin: 4px 5px 0 -3px;
}

.video-shares .shareBt.fb {
    background: #4e69a2;
    background: linear-gradient(#4e69a2, #3c5a98);
    border: 1px solid #354f84;
}

.video-shares .shareBt.fb:before {
    background: url("../img/shareFb.png");
}

.video-shares .shareBt.fb:hover {
    opacity: .8;
}

.video-shares .shareBt.tw {
    background: #54a9eb;
    background: linear-gradient(#54a9eb, #468fc8);
    border: 1px solid #3478ad;
}

.video-shares .shareBt.tw:before {
    background: url("../img/shareTw.png");
}

.video-shares .shareBt.tw:hover {
    opacity: .8;
}

.video-shares .shareBt.gp {
    background: #dd4b39;
    background: linear-gradient(#dd4b39, #cd4a38);
    border: 1px solid #bf4836;
}

.video-shares .shareBt.gp:before {
    background: url("../img/shareGp.png");
}

.video-shares .shareBt.gp:hover {
    opacity: .8;
}

.video-shares .shareBt:hover .more-drop {
    display: block;
}

.video-shares .more-drop {
    width: 160px;
    height: auto;
    padding: 5px;
    position: absolute;
    left: -30px;
    bottom: 29px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.video-shares .more-drop .more-bt {
    width: 100%;
    height: 34px;
    float: left;
    padding: 5px;
    position: relative;
    padding-left: 35px;
    line-height: 24px;
    color: #666666;
    font-size: 13px;
    cursor: pointer;
    z-index: 999;
}

.video-shares .more-drop .more-bt:hover {
    background: #f1f1f1;
}

.video-shares .more-drop .more-bt:before {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 5px;
    top: 5px;
    content: ' ';
}

.video-shares .more-drop .more-bt.pnt:before {
    background: url("../img/share-pnt.png");
}

.video-shares .more-drop .more-bt.rdt:before {
    background: url("../img/share-rdt.png");
}

.video-shares .more-drop .more-bt.stm:before {
    background: url("../img/share-stm.png");
}

.video-shares .more-drop .more-bt.gop:before {
    background: url("../img/share-gop.png");
}

.video-shares .more-drop .more-bt.mai:before {
    background: url("../img/share-mai.png");
}

.video-shares .vs-right {
    width: auto;
    height: 30px;
    float: right;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.video-shares .vs-right .vr-label {
    width: auto;
    height: 30px;
    float: left;
    padding-left: 7px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.video-shares .vs-right .vr-quality {
    width: auto;
    height: 30px;
    float: left;
    padding-left: 5px;
    padding-right: 17px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    position: relative;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.video-shares .vs-right .vr-quality:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.video-shares .vs-right .vr-quality .vrq-drop {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 30px;
    background: #fff;
    border-radius: 2px;
    display: none;
    padding: 5px;
}

.video-shares .vs-right .vr-quality .vrq-drop.active {
    display: block;
}

.video-shares .vs-right .vr-quality .vrq-drop a {
    width: 100%;
    height: auto;
    float: left;
    line-height: normal;
    padding: 7px;
    cursor: pointer;
    color: #333333;
}

.video-shares .vs-right .vr-quality .vrq-drop a:hover {
    background: #f1f1f1;
}

.video-shares .vs-right .vr-quality:Before {
    border: solid transparent;
    border-top-color: #fff;
    border-width: 3px;
    right: 6px;
    top: 15px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.video-shares .vs-right .vr-screen {
    width: 40px;
    height: 30px;
    float: left;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: url("../img/vr-screen-button.png") left top;
}

.video-shares .vs-right .vr-screen.active {
    background-position: bottom left;
}

.video-shares .vs-right .vr-screen:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.video-shares .vs-right .vr-light {
    width: 40px;
    height: 30px;
    float: left;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: url("../img/vr-light-button.png") left top;
}

.video-shares .vs-right .vr-light.active {
    background-position: bottom left;
}

.video-shares .vs-right .vr-light:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.video-shares .vs-right .vr-embed {
    width: auto;
    height: 30px;
    float: left;
    padding-right: 10px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    position: relative;
    opacity: .8;
    cursor: pointer;
}

.video-shares .vs-right .vr-embed:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
}

.video-shares .vs-right .vr-embed:Before {
    width: 16px;
    height: 16px;
    float: left;
    background: url("../img/vr-embed-button.png");
    content: ' ';
    margin: 7px;
}

/* Video Content */
/* Embed Input */
.embed-input {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.embed-input .ei-left {
    width: 75%;
    float: left;
}

.embed-input .ei-right {
    width: 24%;
    float: right;
}

.embed-input .ei-right .auto-button {
    height: 38px;
}

/* Embed Input */
/* Text Container */
.text-container {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 30px 0;
    font-size: 13px;
    color: #fff;
}

.text-container .tc-title {
    width: 100%;
    height: auto;
    float: left;
    font-size: 22px;
    margin-bottom: 10px;
}

/* Text Container */
ul.dot {
    width: 100%;
    padding-left: 40px;
    float: left;
}

ul.dot li {
    width: 100%;
    float: left;
    list-style: outside disc;
    margin: 15px 0;
}

/* ------------------------------------- */

img {
    width: 100%;
    height: 100%;
    display: block;
}

.hi-title {
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #AEAEAE;
    margin: 10px;
    padding: 4px 15px;
    background-color: rgba(255, 255, 255, 0.09);
}
.inline-block {
    font-size: 0;
}
.vid-right {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
.video-box {
    position: relative;
    width: 245px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.38);
    margin: 10px;
}
.video-box .video-image {
    width: 100%;
    height: 128px;
    display: block;
    overflow: hidden;
    position: relative;
}
.video-box .video-image .play-button {
    width: 68px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -34px;
    background: url("../img/video-box-play-bt.png");
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 0;
}
.video-band {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.10);
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}
.video-band span {
    width: auto;
    height: 30px;
    padding-left: 30px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
    position: relative;
}
.video-band span:before {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 0px;
    background: url("../img/featured-box-views.png");
    content: ' ';
}
.video-box .video-detail {
    width: 100%;
    height: 46px;
    padding: 7px 10px;
}
.video-box .video-detail h2 {
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    overflow: hidden;
    line-height: 15px;
    color: #6b6b6b;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.2px;
}
.video-box .video-detail h2 a{
    color: #fff;
}
.video-box .video-detail h2 a:hover{
    text-decoration: underline;
}
.video-box .video-detail .video-text {
    width: 100%;
    height: 15px;
    line-height: 15px;
    color: #b1b1b1;
    letter-spacing: -0.5px;
    font-size: 12px;
}
.play-button, .video-box .video-image:hover .play-button {
    opacity: 1;
}
.w1070 {
    width: 1070px;
    padding-bottom: 40px;
}
.center {
    width: 1060px;
}


/* Text Container */
ul.dot {
    width: 100%;
    padding-left: 40px;
    float: left;
}

ul.dot li {
    width: 100%;
    float: left;
    list-style: outside disc;
    margin: 15px 0;
}




@media (min-width: 800px) {
    .video-box.featured {
        width: 720px;
        height: 360px;
    }
    .video-box.featured .video-image {
        width: 720px;
        height: 290px;
    }
    .video-box.featured .video-image .play-button {
        opacity: .7 !important;
    }
    .video-box.featured .video-detail {
        width: 600px;
        padding: 13px;
        height: 45px;
    }

    .video-box.right {
        width: 300px;
        height: 170px;
    }
    .video-box.right .video-image {
        width: 300px;
        height: 115px;
    }
    .video-box.right .video-detail {
        width: 284px;
        padding: 5px 8px;
        height: 45px;
    }
}

@media (max-width: 1100px) {
    .header .logo {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -85px;
    }
    .header .mobileMenuTrigger {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        background: url("../img/mobileMenuTrigger.png");
        cursor: pointer;
    }
    .header .userMenuTrigger {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        background: url("../img/mobileUserTrigger.png");
        cursor: pointer;
    }
    .header .main-menu {
        width: 280px;
        height: auto;
        position: absolute;
        left: 10px;
        top: 65px;
        background: #fff;
        z-index: 999;
        display: none;
        border-radius: 3px;
    }
    .header .main-menu.show {
        display: block;
    }
    .header .main-menu:Before {
        border: solid transparent;
        border-bottom-color: #fff;
        border-width: 7px;
        left: 13px;
        top: -13px;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
    }
    .header .main-menu ul li {
        width: 100%;
        float: left;
    }
    .header .main-menu ul li a {
        width: 100%;
        color: #333333;
    }
    .header .main-menu ul li a:hover {
        background: #fff;
    }
    .header .header-right {
        width: 150px;
        height: auto;
        position: absolute;
        right: 10px;
        top: 65px;
        display: none;
        background: #fff;
        z-index: 999;
        border-radius: 3px;
    }
    .header .header-right.show {
        display: block;
    }
    .header .header-right:Before {
        border: solid transparent;
        border-bottom-color: #fff;
        border-width: 7px;
        right: 13px;
        top: -13px;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
    }
    .header .header-right div {
        width: 100%;
        float: left;
        color: #333333 !important;
        background: none !important;
    }
    .center {
        width: 96%;
        margin: 0 2%;
    }
    .container {
        text-align: center;
    }
    .container .container-left {
        float: none;
        display: inline-block;
    }
    .container .container-right {
        width: 100%;
        text-align: center;
    }
    .container .container-right .cr-item {
        width: 300px;
        display: inline-block;
        float: none;
    }
    .text-container {
        text-align: left;
    }
    .vid-right{width: 100%}
}

@media (max-width: 800px) {
    .full-center-pane {
        overflow: hidden;
    }
    .container-left {
        width: 100%;
    }
    .video-shares {
        text-align: center;
        height: auto;
        padding: 10px 0;
        background: none;
    }
    .video-shares .vs-right,
    .video-shares .fl {
        float: none !important;
        display: inline-block;
    }

    .home-container {
        height: 550px;
        float: left;
        position: relative;
    }

    .footer {
        float: left;
        position: static;
    }
    .home-container {
        height: 650px;
        float: left;
        position: relative;
    }

    .video-box{overflow: hidden}
    .video-box.featured{
        width: 100%;
        height: auto;
        float: left;
        margin: 0;
    }
    .video-box.featured .video-image{
        width: 100%;
        height: auto;
    }
    .video-box.featured .video-image img{
        width: 100%;
        height: auto;
    }
    .video-box.featured .video-detail .video-text {
        display: none;
    }
}

@media (max-width: 600px) {
    .home-container .home-text {
        font-size: 20px;
    }
    .videoContent {
        height: 300px;
    }
    .video-title {
        font-size: 20px;
    }
    .home-container {
        height: 450px;
        float: left;
        position: relative;
    }

    .video-box{
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 500px) {
    .videoContent {
        height: 250px;
    }
    .video-shares .vs-label {
        display: none;
    }
    .footer {
        display: none;
    }
    .home-container {
        height: 100%;
        position: absolute;
    }
}

@media (max-width: 400px) {
    .videoContent {
        height: 200px;
    }
}