@charset "UTF-8";#encabezado #topEncabezado{background:black;height:27px}#topEncabezado .contentAsistencia{padding-top:4px}ul.asistencia{float:right}#topEncabezado ul.asistencia li{padding-right:7px}ul.asistencia li.tabLanguage{width:38px}#asistance li{float:left}#topEncabezado ul.asistencia li.boxSearch{padding-right:0;padding-left:6px;width:158px!important;height:21px}#topEncabezado #hora{color:#b0b0b0;margin:2px 15px 0 0}ul.asistencia li a{display:block}ul.asistencia li a:hover{text-decoration:none}ul.asistencia legend{display:none}ul.asistencia li a,ul.asistencia li{color:#FFF;font-size:11px;font-weight:bold}
ul.asistencia li a.atencionCliente{background:url(../images/home/sprite_nuevo_home.png) no-repeat scroll 104px -241px transparent;display:block;float:left;padding:2px 10px 4px 5px;width:110px;}
ul.asistencia li a.atencionCliente:hover,ul.asistencia li.hovered a.atencionCliente{color:#666;background:url(../images/home/sprite_nuevo_home.png) no-repeat scroll 104px -256px transparent;background-color:#fff;text-decoration:none}
ul.asistencia li a.language{padding-top:2px;display:block;margin-left: -8px;}ul.asistencia li a.language:hover{padding-top:2px;display:block;margin-left: -8px;color:#5aa1b8;text-decoration:none}
li.boxSearch input.search,li.boxSearch .glass{display:block;float:left;border:0}
li.boxSearch input.search{background:url(../images/home/sprite_nuevo_home.png) 0px -147px no-repeat;width:133px;font:11px Arial,Helvetica,sans-serif;color:#FFF;padding:2px 0 0 3px;height:17px}
li.boxSearch:hover .glass{background-position:-137px -147px!important;}
li.boxSearch .glass{background-image:url(../images/home/sprite_nuevo_home.png); background-position:-137px -147px; background-repeat:no-repeat;width:21px;height:19px;cursor:pointer;}
li.boxSearch .glass:hover{background-image:url(../images/home/sprite_nuevo_home.png)!important; background-position:-137px -147px!important; background-repeat:no-repeat;width:21px;height:19px;cursor:pointer;}
#topEncabezado #ie6advertencia{color:#c00;margin:3px 5px 0 0;}
ul.asistencia li .link_header{color:#FFFFFF;font-size:11px;font-weight:bold;padding:2px 10px 4px 5px;}
ul.asistencia li .link_header:hover{color:#5AA1B8;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,applet,a,acronym,big,strike,sub,tt{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
b{font-weight:bold;}
i{font-style:italic;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;*font-size:small;}
select, input, textarea, button{font:99% sans-serif;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
html{overflow-y:scroll;}
a:hover, a:active{outline:none;}
ul, ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul, nav li{margin:0;list-style:none;list-style-image:none;}
small{font-size:85%;}
strong, th{font-weight:bold;}
td{vertical-align:top;}
sub, sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px;}
textarea{overflow:auto;}
.ie6 legend, .ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label, input[type="button"], input[type="submit"], input[type="image"], button{cursor:pointer;}
button, input, select, textarea{margin:0;}
input:valid, textarea:valid{}
input:invalid, textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#4d94ae;color:#fff;text-shadow:none;}
::selection{background:#4d94ae;color:#fff;text-shadow:none;}
a:link{-webkit-tap-highlight-color:rgba(0,0,0,0)}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before, .clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media all and (orientation:portrait){}
@media all and (orientation:landscape){}
@media screen and (max-device-width:480px){}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}
a, a:visited{color:#444 !important;text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:"";}
pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr, img{page-break-inside:avoid;}
@page{margin:0.5cm;}
p, h2, h3{orphans:3;widows:3;}
h2, h3{page-break-after:avoid;}
}
p.circular{font-size:10px;line-height:12px;border-top:1px solid #d2d2d2;padding-top:10px}
html,body{height:100%;}
a:focus{outline:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a:link, a:visited{text-decoration:none;}
a:hover, a:active{text-decoration:underline;}
textarea{resize:none;}
input[type="radio"]{vertical-align:central;margin-right:5px!important;}
input[type="checkbox"]{vertical-align:text-top;margin-right:5px!important;}
body{font:12px Arial,Helvetica,sans-serif;color:#666;}
#container,#contenedor{width:100%;}
#contenido,#contenidoMicrositio, #pie, #topEncabezado .contentAsistencia{width:960px;margin:0 auto;}
#menuPrincipal{width:980px;margin:0 auto;}
#contenedorMicrositio{width:100%;}
#contenido, #menuPrincipal{overflow:hidden;}
#contenedorMenuPrincipal.mini{height:30px;}
#contenedorMenuPrincipal.maxi{height:49px;}
#contenidoBottom{overflow:visible;clear:both;margin-top:27px;*margin-top:-35px;float:left;}
.contentNoticias{background-color:#FFF;background:#F7F7F7;}
#contenidoMicrositio{height:400px;}
.oe_overlay{background:url(../images/bg-overlay.png) repeat;position:fixed;top:0;left:0px;width:100%;height:100%;overflow:hidden;display:none;z-index:10;}
ul.oe_menu li.tabsMenu{ margin-left: 3px !important;}
ul.oe_menu li.tabsMenu a:hover, ul.oe_menu_der li.tabsNoMenu a:hover, ul.oe_menu_der li.tabBanca a:hover{text-decoration:none;}
ul.oe_menu_der{margin-left:-20px!important;margin-top:5px; float:right; /*margin-right:10px!important*/}
ul.oe_menu li.tabsMenu a span, ul.oe_menu_der li.tabsNoMenu a span, ul.oe_menu_der li.tabBanca a span{padding:18px 10px 15px 10px;color:#FFFFFF;display:block;font-size:11px;}
ul.oe_menu_der li.tabBanca span.flecha{background:url(../images/sprite.gif) right -284px no-repeat!important;padding:18px 10px 15px 10px;color:#FFFFFF;display:block;position:relative;top:0;}
ul.oe_menu_der li.tabBanca span.tri{display:none;background-image:url(../images/home/sprite_nuevo_home.png); background-position: -26px -246px; background-repeat:no-repeat!important;width:10px!important;height:10px!important;position:absolute;margin:19px 0 0 99px;*margin:19px 0 0 99px;*position:absolute;}
ul.oe_menu li.tabsMenu.hover a.aPest, ul.oe_menu_der li.tabBanca.hover a.aPest{background:url(../images/sprite.gif) -307px -44px no-repeat!important;padding-left:10px;display:block;z-index:1000;position:relative;top:0;}
ul.oe_menu li.tabsMenu.hover span{background:url(../images/sprite.gif) right -184px no-repeat!important;padding:18px 10px 15px 0;color:#666666;display:block;z-index:1000;position:relative;top:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	ul.oe_menu li.tabsMenu a span, ul.oe_menu_der li.tabsNoMenu a span, ul.oe_menu_der li.tabBanca a span{
    text-align: center;
  }
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
	#linkCorporativo{
    width:170px !important;
  }
}


ul.oe_menu_der li.tabBanca.hover span.flecha{background:url(../images/sprite.gif) right -234px no-repeat!important;padding:18px 10px 15px 0;color:#666!important;display:block;z-index:1000;position:relative;top:0;}
ul.oe_menu_der li.tabBanca.hover span.tri{ display:none;}
ul.oe_menu li.tabsMenu.selected .aPest{background:url(../images/sprite.gif) -309px 2px no-repeat;padding-left:5px;display:block;position:relative;top:0;}
ul.oe_menu li.tabsMenu.selected span{background:url(../images/sprite.gif) right -129px no-repeat;padding:18px 10px 15px 0;display:block;position:relative;top:0;}
ul.oe_menu_der li.tabsNoMenu{margin-right:5px}
ul.oe_menu_der li.tabsNoMenu.hover a{background:url(../images/sprite.gif) -292px -472px no-repeat;padding-left:10px;display:block;position:relative;top:0;}
ul.oe_menu_der li.tabsNoMenu.hover span{background:url(../images/sprite.gif) right -518px no-repeat;color: #333;padding:18px 10px 15px 0;display:block;position:relative;top:0;}
ul.oe_menu_der li.tabsNoMenu.selected a{background:url(../images/sprite.gif) -309px 2px no-repeat;padding-left:10px;display:block;position:relative;top:0;}
ul.oe_menu_der li.tabsNoMenu.selected span{background:url(../images/sprite.gif) right -129px no-repeat;padding:18px 10px 15px 0;display:block;position:relative;top:0;}
#perfiles li.hovered a, #BancaServicios li.hovered a, #topEncabezado ul.asistencia li.hovered{position:relative;z-index:10;}
ul.oe_menu div, ul.oe_menu_der div, ul.asistencia div{position:absolute;display:none;}
ul.oe_menu div#contentPersonas{left:-200px;top:-3px}
ul.oe_menu div#contentPymes{left:-280px;top:-3px}
ul.oe_menu div#contentCorporativo{left:-345px;top:-3px}
ul.oe_menu div#contentGobierno{left:-510px;top:-3px}
ul.oe_menu li.tabPersonas.hover div, ul.oe_menu_der li.tabBanca.hover div, ul.asistencia li.tabAtencionCliente.hover div, ul.oe_menu li.tabPymes.hover div, ul.oe_menu li.tabCorporativo.hover div, ul.oe_menu li.tabGobierno.hover div{display:block;z-index:1000;position:relative;top:0}
ul.asistencia li.tabAtencionCliente.hover div{display:inline-block;}
#contenedorMenuPrincipal{background:url(../images/home/sprite_nuevo_home.png) 0px -8px;height:62px;clear:both;}
#contenedorMenuPrincipal.mini a.logo{background:url(../images/logo-mini.png) no-repeat 0 0;width:150px;height:20px;margin:5px 0 0 10px;}
#menuPrincipal a.logo, #contenedorMenuPrincipal.maxi a.logo {background-image: url(../images/home/sprite_nuevo_home.png);background-position: 10px -73px;background-repeat: no-repeat;height: 72px;margin: -2px 0 0 -12px;width:205px;}
a.logo, #perfiles li.tabPersonas, li#linkpymes, #linkSeguros, li#linkCorporativo, #linkgobierno, #BancaServicios li{float:left;margin-left:-5px!important;}
#audiomatico li.tabPersonas{display:block;}
#perfiles li.tabPersonas, li#linkpymes, #linkSeguros, li#linkCorporativo, #linkgobierno, ul.oe_menu_der li {margin: 0;}
ul.oe_menu li.hover a.personas, #perfiles li.hovered a,
.oe_menu_der li a:hover.online, #BancaServicios li.hovered a{position:relative;z-index:13;}
#asistance .tabAtencionCliente a{position:relative;z-index:1;}
ul.oe_menu li a.personas, ul.oe_menu li a.pymes,ul.oe_menu li a.Seguros, ul.oe_menu li a.corporativo, ul.oe_menu li a.gobierno, ul.oe_menu_der li a.economia, ul.oe_menu_der li a.online{height:47px}
#contentPersonas, #contentPymes, #contentCorporativo, #contentGobierno{width:902px;margin-left: 30px;margin-left: 10px\0/;}
#contentPersonas .bottomPersonas, #contentPymes .bottomPymes, #contentCorporativo .bottomCorporativo, #contentGobierno .bottomGobierno{background:url(../images/submenu/bg-bottom.png) no-repeat left bottom;padding-bottom:20px}
.menuTop{clear:both;background:url(../images/submenu/bg-middle.png) repeat-y;overflow:hidden;position:relative;padding:0 15px;overflow:hidden}
#contentPersonas .topPersonas, #contentPymes .topPymes, #contentCorporativo .topCorporativo, #contentGobierno .topGobierno{background:url(../images/submenu/bg-top.png) top left no-repeat;padding-top:20px;}
#contentPersonas .bottomPersonas, #contentPymes .bottomPymes, #contentCorporativo .bottomCorporativo, #contentGobierno .bottomGobierno{background:url(../images/submenu/bg-submenu.gif) no-repeat left bottom;padding-bottom:20px}
.menuTop{clear:both;background:#FFFFFF;overflow:hidden;position:relative;padding:0 15px;overflow:hidden}
#contentPersonas .topPersonas, #contentPymes .topPymes, #contentCorporativo .topCorporativo, #contentGobierno .topGobierno{background:url(../images/submenu/bg-submenu.gif) top left no-repeat;padding-top:20px;}
.segundaColumna, .terceraColumna, .cuartaColumna, .quintaColumna{display:none}
.segundaColumna ul, .terceraColumna ul, .cuartaColumna ul, .quintaColumna ul{display:none}
.primeraColumna, .segundaColumna, .terceraColumna, .cuartaColumna, .quintaColumna{float:left;margin-bottom:auto;padding-bottom:auto;}
.terceraColumna, .cuartaColumna, .quintaColumna{border-left:0px solid #ccc;}
.segundaColumna p{float:left;margin-right:8px}
.terceraColumna{padding-left:8px}
.cuartaColumna, .quintaColumna{margin-left:5px;padding-left:8px}
 .primeraColumna{width:182px;background:url(../images/submenu/bg-fold.jpg) repeat-y right top;margin-right:10px}
ul.oe_menu li .primeraColumna a{color:#666;font-weight:bold;font-size:14px;display:block;border-bottom:1px solid #ccc;background:url(../images/submenu/arrow-gray-big.gif) no-repeat 161px center !important;padding:12px 6px 12px 10px}
ul.oe_menu li .primeraColumna a:hover{text-decoration:none;}
ul.oe_menu li .primeraColumna a.linkActivo{background:#FFF url(../images/submenu/arrow-blue-big.gif) no-repeat 161px center !important;color:#004785;text-decoration:none;}
#menuPrincipal li.primeraColumna ul li a, #contentPymes li.primeraColumna ul li a, #menuCorporativo li.primeraColumna ul li a, #menuGobierno li.primeraColumna ul li a{background-position:0 0;width:167px}
#menuPersonas li, #contentPymes li, #menuCorporativo, #menuGobierno{overflow:hidden;}
#menuPrincipal li.terceraColumna a, #menuPrincipal li.cuartaColumna a, #menuPrincipal li.quintaColumna a{color:#666;display:block;text-decoration:none;padding:3px 0 3px 4px;font-size:11px;width:148px;border-bottom:1px solid #FFF;border-top:1px solid #FFF;margin-right:7px}
#menuPrincipal li.segundaColumna a{color:#666;display:block;text-decoration:none;padding:3px 0 3px 4px;font-size:11px;width:155px;border-bottom:1px solid #FFF;border-top:1px solid #FFF;border-color:transparent;margin-right:7px;}
#menuPrincipal a.arrowGray, #menuEconomico a.arrowGray{background:url(../images/submenu/arrow-gray.gif) no-repeat right center !important;}
#menuPrincipal a.arrowGray.linkActivo, #menuEconomico a.arrowGray.linkActivo{background:url(../images/submenu/arrow-blue-light.gif) no-repeat right center !important;border-bottom:1px solid #ccc!important;border-top:1px solid #ccc!important;color:#00bdf2!important;overflow:hidden;}
ul.oe_menu li .cuartaColumna a:hover, ul.oe_menu li .segundaColumna a:hover, ul.oe_menu li .terceraColumna a:hover, li.cuartaColumna a:hover, li.quintaColumna a:hover{color:#00bdf2!important;}
#menuPrincipal a.arrowGray:hover{color:#666 !important;}
#menuPrincipal .terceraColumna{width:156px}
li.dobleColumna{width:340px}
li.dobleColumna a{width:158px;float:left}
li.dobleColumna ul.linksDobleColumna{float:left;display:block;width:157px;margin-left:10px}
.ui-tabs .ui-tabs-hide{display:none !important;}
ul.navegacion{width:750px;margin:91px 270px 60px 232px;*margin:90px 270px 60px 232px;z-index:9999;}
ul.navegacion li{float:left;width:180px;height:72px;position:relative;cursor:pointer;margin:0 0 0 2px;}
ul.navegacion li a{text-decoration:none;-webkit-user-select:none;}
ul.navegacion li #cont_text{width:180px;height:56px;background-color:#93b5cf;opacity:0.85;float:left;margin:14px 0 0 0;}
ul.navegacion li #cont_text:hover{background:none;}
ul.navegacion li.selected #cont_text{background:none;}
ul.navegacion li:hover{float:left;width:180px;height:72px;}
ul.navegacion li:hover #cont_text{background-color:#8AA8BA;*cursor:pointer}
ul.navegacion li.selected:hover #cont_text{background:none;-webkit-user-select:none;}

.text_inn_tabs p.titulo{font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#FFF;margin:10px 0 0 10px;opacity:1.0;}
.text_inn_tabs p{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#FFF;margin:5px 0 0 10px;width:160px;}
#backHome{height:241px}
#backHome li{float:left;}
.contenCambiaImagen{position:absolute;margin:176px 0 0px 53px;color:#000;float:left;font-family:Arial, Helvetica, sans-serif;font:14px/20px Arial,Helvetica,sans-serif;*width:500px;}
.contenCambiaImagen .btn_naranja{width:auto;height:35px;margin:19px -3px 0 0px;float:none;*cursor:pinter;*text-decoration:none;overflow:hidden;padding:0;}
.contenCambiaImagen p{width:290px;float:left;text-align:left;font-family:Arial, Helvetica, sans-serif;font:inherit;font-weight:bold;margin:8px 0 0 0;clear:both;*width:300px;}
.contenCambiaImagen p.titulo_up_1{float:left;text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight:bold;margin:8px 0 0 0;clear:both;font-size:16px;}
.contenCambia_{display:none;}
.p2{width:290px;color:#0058a8;float:left;text-align:left;font-family:Arial, Helvetica, sans-serif;font-weight:bold;margin-top:15px;font-size:16px;margin:15px 0 0 0;display:block}
.btn_img_up{width:138px;height:30px;margin:65px 0 040px;}
.btn_img_up img{border:none;}
.contenCambiaImagen_2{position:absolute;margin:78px 0 0px 53px;color:#000;float:left;font-family:Arial, Helvetica, sans-serif;font-size:15px;}
.contenCambiaImagen_2 p.titulo_azul_img{font-size:26px;font-family:'Interstate',Arial,Helvetica;color:#00589f;}
li.box-abrecuenta-1, li.box-renuevaHogar-2, li.box-seguroRetiro-3, li.box-grandesDescuentos-4{display:none}
#pantalla_middle{width:auto;height:auto;background:#F7F7F7;float:left;background-color:#F7F7F7;}
ul#noticias{padding:13px 0 0 10px;margin-right:10px;margin-bottom:6px;margin-top:5px;background:#F7F7F7;float:left;}
ul#noticias li{float:left;width:320px;padding-top:5px;margin-bottom:15px;}
ul#noticias li.first{width:308px;}
ul#noticias li a.noticiasHome span.sub_t{padding:0 5px 5px;line-height:15px;float:left;margin:0px 0 0 3px;width:180px;font-size:12px}
ul#noticias li a{color:#666}
ul#noticias li a:hover{color:#666;text-decoration:none;}
ul#noticias li.last{border:none;width:305px;}
ul#noticias li a.noticiasHome span.tituloNoticia{no-repeat scroll 0 4px;padding:0 9px;color:#22A0D5;font-size:16px;margin-left:0px;margin-bottom:4px;display:block;float:left;width:195px;line-height:18px;}
ul#noticias li a:hover.noticiasHome span.tituloNoticia{color:#FFA202;no-repeat scroll 0 3px;float:left;}
ul#noticias li a:hover.noticiasHome span{text-decoration:underline;*cursor:pointer}
ul#noticias li span.img{float:left;width:82px;height:64px;margin:0 0 0 5px;}
ul#marketing{float:left;margin:0 0 15px 0;padding:0;*padding:15px 0 0 0;}
ul#marketing li{float:left;width:308px;height:146px;margin:0 0 0 5px;}
ul#marketing li.promo1{float:left;width:308px;height:146px;margin:0 0 0 10ppx;}
ul#marketing li.promo2{float:left;width:308px;height:146px;margin:0 0 0 10px;}
ul#marketing li.promo3{float:left;width:308px;height:146px;margin:0 0 0 10px;}
ul#marketing li a{text-decoration:none;}
ul#marketing li a:hover{text-decoration:none;}
ul#marketing li img{border:none;}
ul#institucional{float:left;margin:0 0 10px 0;padding:15px;font-family:Arial, Helvetica, sans-serif;float:left;background-color:#f9f9f9;width:930px;}
ul#institucional li{width:260px;height:auto;padding:5px 5px 5px 40px;float:left;margin:0 0 0 15px;}
ul#institucional li .tr{background:url(../images/home/sprite_nuevo_home.png) -44px -247px no-repeat;width:11px;height:11px;float:left;margin:3px 0 0 5px;*margin:0px 0 0 0}
ul#institucional li a{text-decoration:none;color:#666;}
ul#institucional li a:hover span{text-decoration:underline;}
ul#institucional li.first_inst{width:260px;height:auto;padding:5px 5px 5px 0px;float:left;margin:0 0 0 15px;}
ul#institucional li.first_inst a{text-decoration:none;color:#666;}
ul#institucional li.first_inst a:hover span{text-decoration:underline;}
ul#institucional li.last_inst{width:260px;height:auto;padding:5px 5px 5px 36px;float:left;margin:0 0 0 15px;}
ul#institucional li.last_inst a{text-decoration:none;color:#666;}
ul#institucional li.last_inst a:hover span{text-decoration:underline;}
ul#institucional li span.subtitulo_inst{font-size:12px;float:left;font-weight:bold;padding:0 15px 0 0;color:#22A0D5;width:auto;*width:190px;}
ul#institucional li a:hover span.subtitulo_inst{color:#FFA202}
ul#institucional li span.txt{width:100%;float:left;}
#MenuCompleto{margin:0 auto;padding:11px 0;overflow:hidden;clear:both;width:940px;}
ul#listMenu li{float:left;width:144px;border-right:1px solid #ccc;font-size:11px;padding-left:11px;}
ul#listMenu li a{color:#787879;margin-top:5px;display:block;padding-right:5px}
ul#listMenu li h4{font-weight:bold;color:#4e4e4e}
ul#listMenu li.lastColumn{border:none}
ul#listMenu li ul{clear:both;}
ul#listMenu li ul li{border:none;padding-left:0}
.bg-banamex-patrimonial{background:url(../images/internas/bg-banamex-creditos.jpg) no-repeat center 9px;}
.top-destacado{height:303px;}
#topContenido{padding:17px 0 0;}
.leftContenido, ul.tipoServ{float:left}
.leftContenido{width:340px;padding:0 20px 60px 25px}
ul.tipoServ{width:564px;padding-top:10px;margin-bottom:30px}
ul.tipoServ li{display:block;margin-bottom:20px;overflow:hidden}
ul.tipoServ li ul li{float:left;margin-bottom:-1000px;padding-bottom:1000px;padding-left:13px;padding-right:20px;padding-top:10px;border-left:1px solid #e8e8e8;width:153px}
ul.tipoServ li ul li a span.titleProd{color:#666;display:block;font-size:12px;padding-top:7px}
ul.tipoServ li ul li a:hover{text-decoration:none}
ul.tipoServ li ul li a:hover span{color:#cc0000}
ul.tipoServ li ul li a:hover span.titleProd{color:#666}
ul.tipoServ li ul li span{color:#177495;font-size:15px;font-weight:normal}
ul.tipoServ li.last{border-right:1px solid #e8e8e8}
.leftContenido h2{font-size:24px;line-height:29px;margin-bottom:10px;padding:0;width:248px;}
.leftContenido p.bajada{font-size:16px;line-height:19px;clear:both;}
div[id^=texto] p.alert,#formContratacion p.alert, #graciasContratacion p.alert,, .textoSeguridad p.alert{font-size:13px;color:#FFA202;margin:15px 0;font-weight:bold;background:url(../images/icon-alert.gif) no-repeat scroll 0 0 transparent;padding:0 0 0 25px;}
div[id^=texto] p, #formContratacion p, #graciasContratacion p{line-height:16px;}
div[id^=texto] p, #formContratacion p, .textoSeguridad p{margin:0 0 13px;}
div[id^=texto] h2, #formContratacion h2, #graciasContratacion h2, .textoSeguridad h2{color:#004785;font-size:1.5em;margin-bottom:10px;line-height:1em}
div[id^=texto] p.contacto{color:#666666;border-bottom:1px solid #e5e5e5;padding:0 0 10px 0;}
div[id^=texto] p.contacto span{width:100%;padding:0 0 0 20px;display:block;}
div[id^=texto] p.contacto span.first{margin:10px 0 0 0;}
div[id^=texto] ul.descarga{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;overflow:hidden;margin:20px 0;padding:10px 0;width:100%;}
div[id^=texto] ul.descarga li{float:left;width:235px;}
div[id^=texto] ul.descarga a{color:#787879;padding-left:28px;margin:5px 0;}
div[id^=texto] ul.descarga a:hover{color:#219dc8;}
ul.subitems{padding-top:5px}
ul.subitems li{margin:10px;background:url(../images/internas/icon-dot-gray.gif) no-repeat scroll 0 4px;}
ul.navegacion-interna li a.desplegable{width:248px}
ul.navegacion-interna li a:hover.desplegable{}
ul.navegacion-interna li.last{margin-right:0}
.bg-video{background:url(../images/internas/bg-gris-video.jpg) repeat-x top center;}
.topBoxVideo{height:315px;overflow:hidden}
.boxTitleVideo h1.titleVideo{background:url(../images/internas/title-video.png) no-repeat;width:267px;height:128px}
.boxTitleVideo{width:290px;padding:84px 0 0 25px}
#player-swf{width:630px;margin-top:15px;text-align:right;margin-right:6px}
#pie{padding:25px 5px 25px 10px;clear:both;font-size:11px;width:925px;overflow:hidden;}
#pie ul.navegacionPie{overflow:hidde;float:left;}
#pie ul.navegacionPie li{float:left;border-right:1px solid #d2d2d2;overflow:hidden;margin-right:10px}
#pie ul.navegacionPie li a{padding-right:5px}
#pie ul.navegacionPie li.ultimo{border:none;}
#pie ul.followUs{float:right;}
#pie ul.followUs li{float:left;}
#pie ul.followUs li.siguenos{width:65px;padding:0 20px 0 17px;border-left:1px solid #d2d2d2}
#pie p{line-height:16px}
#pie a{color:#666;}
#pie img{margin-top:4px;width:22px}
#pie img.facebook{margin-right:10px}
.separator{clear:both;}
.hidden-text{text-indent:-9999px;display:block;font-size:1px;line-height:1px;}
.activo{display:block !important;}
.wrapper-lightbox, .wrapper-chat{padding:12px 0 0;margin:0 auto}
.lightbox-middle{padding:0 10px 0 20px;overflow:hidden;margin-bottom:6px}
.lightbox-middle .gracias{margin-bottom:30px}
.lightbox-middle .gracias span{line-height:18px}
.lightbox-middle h1{font-size:22px;color:#004785;}
h1.icon-sobre{background:url(../images/lightbox/icon-sobre.gif) no-repeat;padding-left:40px}
h1.icon-speech{background:url(../images/lightbox/icon-speech.gif) no-repeat;padding-left:40px}
h1.icon-persona{background:url(../images/lightbox/icon-persona.gif) no-repeat;padding-left:40px}
.titlePasoUno, .titlePasoDos, .titlePasoTres{padding:0 0 7px 32px;color:#00BDF2;font-weight:normal;font-size:16px;}
.titlePasoUno{background:url(../images/bg-numero-uno.gif) no-repeat;}
.titlePasoDos{background:url(../images/bg-numero-dos.gif) no-repeat;}
.titlePasoTres{background:url(../images/bg-numero-tres.gif) no-repeat;}
span.bajadaForm{display:block;margin-top:15px;margin-right:10px}
.wrapper-lightbox fieldset{margin-top:25px}
.wrapper-lightbox fieldset{border-bottom:1px dotted #000;padding-bottom:7px;}
.wrapper-lightbox #pasoUnoAmigo{border-bottom:none;}
.wrapper-lightbox h3{color:#d80303;font-size:14px;}
.wrapper-lightbox h3.enviarotroAmigo{border-top:1px dotted #666;padding-top:15px;margin-top:15px}
ul#tipoAyuda, ul#consulta, ul#asistenciaProd, ul#tipoSugerencia{padding:11px 0 0 31px}
#clientesSi, ul#datosPersonales{padding:3px 0 0 31px}
ul#datosAmigo{padding:3px 0 0 31px}
ul#tusDatos{padding:3px 0 0 31px}
ul#tusDatos li.last{padding-bottom:20px;border-bottom:1px dotted #666;}
ul#datosPersonales li, ul#consulta li, ul#consulta label.comentarios, ul#consulta textarea, ul#asistenciaProd li{overflow:hidden;clear:both;}
ul#datosPersonales li input.cliente{border:none;padding:0 9px 0 0;display:inline;margin-bottom:0;}
.wrapper-lightbox label, #datosChat label{margin-bottom:6px;font-weight:bold;display:block}
ul#consulta li label, ul#consulta li input{float:left}
.wrapper-lightbox input, .wrapper-lightbox select, .wrapper-lightbox textarea, .wrapper-chat input, .wrapper-chat select, .wrapper-chat textarea{margin-bottom:17px;font-family:Arial, Helvetica, sans-serif;color:#666;font-size:11px;display:block;border:1px solid #bdbdbd;}
input.largeField, ul#datosPersonales li select, input.smallField, input.MediumField, #clientesSi input, input.extralargeField{height:21px;padding-left:5px}
input.largeField{width:318px;}
#enviarAmigo textarea, #enviarAmigo-gracias textarea{width:490px;height:120px;padding:5px}
#enviarAmigo .copia, #enviarAmigo-gracias .copia{float:left;border:0}
#enviarAmigo .copia span{float:left;}
#enviarAmigo #pasoRemitente{border-bottom:none;}
#enviarAmigo-gracias span{font-size:14px}
#mantenmeInformado ul#mantenme{margin-left:35px;}
#mantenmeInformado ul#mantenme li.divider{border-top:1px dotted #000;margin-top:30px;padding:20px 0 0 0;}
#mantenmeInformado #mantenme .btn_mantenme{background:url("../images/lightbox/btn-enviar.gif") no-repeat scroll 0 0 #FFFFFF;border:medium none;float:right;height:30px;text-indent:-1000em;width:115px;cursor:pointer;}
#mantenmeInformado fieldset{padding-bottom:7px;border:none;}
ul#datosPersonales select.largeField, ul#tipoAyuda select, ul#asistenciaProd select, ul#tipoSugerencia select{width:326px;height:25px;padding-left:5px}
#datosChat select{height:25px;padding-left:5px}
ul#datosPersonales input.smallField{width:78px;margin-right:21px;float:left}
ul#datosPersonales input.MediumField{width:211px;float:left}
ul#consulta textarea, ul#asistenciaProd textarea, ul#tipoSugerencia textarea{width:492px;height:174px;padding-left:5px}
ul#consulta select{width:322px;height:25px;float:left;}
ul#consulta input.MediumField{width:316px}
ul#consulta label{width:176px;padding-top:3px}
input.check{border:none!important}
.wrapper-lightbox fieldset#modoContacto{border:none;margin-top:15px}
fieldset#modoContacto input, fieldset#modoContacto label, fieldset#modoContacto label{display:inline}
fieldset#modoContacto input{margin-right:10px;float:left}
fieldset#modoContacto label.typemail{padding-right:30px;margin-bottom:0;float:left}
input.radioB{border:none!important}
span.legendConsulta{padding-top:2px;display:block}
.enviarContacto{background:url(../images/lightbox/btn-enviar.gif) no-repeat;width:115px;height:30px;}
.accept, .enviarContacto{margin:40px 3px 0 0;float:right;}
.acceptCall{margin:0 0 0 0;float:right;}
#enviarAmigo-gracias .btn_enviarAmigo, #enviarAmigo .btn_enviarAmigo{margin-top:20px;}
ul#serCliente{padding:10px 0 0 27px;overflow:hidden}
ul#serCliente input{border:none;float:left}
ul#serCliente li{float:left;width:43px}
ul#serCliente label{display:block;margin-bottom:0!important;float:left;width:43px}
#clientesSi, #clientesNo{clear:both}
#clientesNO, #infoProductos, #sugerencias{display:none;}
ul.screenUno{padding:30px 0 0 0}
ul.screenDos{padding:20px 0 0 0}
ul#datosChat li{overflow:hidden;clear:both}
ul#datosChat select{width:536px;height:25px;padding-left:5px;margin-bottom:0!important}
ul#datosChat select optgroup{color:#CC0000;font-style:normal;margin:10px 0 0 5px}
ul#datosChat select optgroup option{color:#666;}
ul#datosChat textarea{width:525px;padding-left:5px;height:205px}
ul#datosChat li.last{line-height:16px;margin:10px 0;overflow:hidden;}
ul#datosChat span.disclaimer{float:left;width:400px;display:block}
ul#datosChat input.mediumField{width:400px;padding-left:5px;margin-right:10px;height:25px;float:left}
ul#datosChat input.extralargeField, #datosCliente input.extralargeField{width:529px;}
#datosCliente span.telNumero, #datosCliente span.codNumero{display:block;float:left}
#datosCliente li{overflow:hidden;}
span.codNumero{width:99px}
span.telNumero{width:240px}
ul#tipocita li{float:left;overflow:hidden}
#tipocita .elegirDia{width:271px}
#tipocita .bandaHorario{width:128px}
#tipocita .bandaDe{width:105px;padding-left:10px}
ul#datosCliente input.smallField{width:78px;margin-right:21px;}
ul#datosCliente input.MediumField{width:211px;}
ul#datosCliente select{height:24px;float:left;display:block}
ul#datosCliente select.largeList{width:270px;}
ul#datosCliente select.smallList{width:73px;}
.bandaHorario label, .bandaDe label, span.horas{float:left;width:17px;font-weight:normal!important;text-align:center;}
span.horas{padding:3px 0 0 10px}
.bandaHorario label, .bandaDe label{padding:3px 5px 0}
#datosCliente input.formaContacto{float:left;width:15px;border:0!important}
.wrapper-lightbox fieldset.last{border-bottom:0}
ul#datosCliente li.divider{border-top:1px dotted #000;margin-top:7px;padding:15px 0 0 0}
span.bajadaDatos{display:block;margin:15px 10px 20px 0;font-weight:bold}
dl.first{border-top:1px dotted #000;}
dl.dataContacto{clear:both;overflow:hidden;font-weight:bold}
dl.dataContacto dt, dl.dataContacto dd{float:left;padding:0 0 5px;margin-top:5px}
dl.dataContacto dt{width:129px;border-bottom:1px dotted #000;}
dl.dataContacto dd{width:240px;border-bottom:1px dotted #000;}
.lightbox-middle a.btn-continuar{background:url(../images/lightbox/btn-continuar.jpg) no-repeat;width:125px;height:30px;margin-top:25px;float:right}
.infoDomicialiaria li.first{clear:both;display:block;width:680px}
#formContratacion .datosClientesNo li, #formContratacion .datosClientesSi li, .infoDomicialiaria li{float:left;overflow:hidden;width:328px;margin-top:17px}
#elegirOpcion{margin-top:20px}
#formContratacion input, #formContratacion select{border:1px solid #bdbdbd;font-family:Arial, Helvetica, sans-serif;color:#666;font-size:11px;display:block}
#formContratacion label{font-weight:bold;display:block;margin-bottom:6px}
.datosClientesSi input, .datosClientesNo input, .infoDomicialiaria input.generic{width:320px;height:20px;padding-left:5px}
#formContratacion .datosClientesNo select, .infoDomicialiaria select{width:328px;height:24px;padding-left:5px}
#contratalo input.error{border:1px solid #cc0000;}
.datosClientesSi, .datosClientesNo, .separador, #formContratacion fieldset, .contentPerfiles, p.textPdf, .infoDomicialiaria p{overflow:hidden;clear:both}
.datosClientesSi, #formContratacion h3, .infoDomicialiaria, .datosClientesNo, #elegirProd label, .captcha li.contentImagen{padding-left:27px}
.separador, .captcha li.endContratacion{border-top:1px dotted #000;margin-top:20px;padding-top:20px}
#formContratacion h3{color:#1b93be;font-size:12px;text-transform:uppercase;font-weight:bold;clear:both;line-height:12px}
.datosClientesSi li.izquierda, .datosClientesNo li.izquierda, .infoDomicialiaria li.izquierda{margin-right:27px}
.datosClientesNo select.year, .datosClientesNo select.dia, .datosClientesNo select.mes{float:left;padding-left:5px}
.datosClientesNo select.year{width:75px!important;margin-right:20px}
.datosClientesNo select.dia{width:140px!important}
.datosClientesNo select.mes{width:70px!important;margin-right:20px}
.infoDomicialiaria input{height:20px;padding-left:5px}
.infoDomicialiaria input.large{width:672px;}
.infoDomicialiaria input.medium{width:213px;float:left}
.infoDomicialiaria input.small{width:84px;float:left;margin-right:14px}
.infoDomicialiaria input.movil{width:283px;float:left;}
.infoDomicialiaria span.codPais{width:35px;float:left;display:block;padding-top:5px}
#elegirProd input{float:left}
#elegirProd label{margin-top:15px}
.captcha{padding-top:25px}
.captcha li{margin-left:25px;margin-bottom:5px}
.captcha li input{height:24px;margin-bottom:5px;width:323px;}
#graciasContratacion p.finalizar{font-size:13px;border-bottom:1px dotted #000;padding-bottom:35px;margin-top:10px}
#graciasContratacion h3{color:#1b93be;font-style:italic;font-weight:bold;font-size:15px;margin-top:20px}
.abreCuentaGracias, .renuevaHogarGRacias, .seguroGracias{width:222px;height:108px;float:left;margin:20px 0 25px 0}
.abreCuentaGracias{background:url(../images/sprite-gracias.jpg) no-repeat;margin-right:20px}
.renuevaHogarGRacias{background:url(../images/sprite-gracias.jpg) no-repeat scroll -241px 0;margin-right:20px}
.seguroGracias{background:url(../images/sprite-gracias.jpg) no-repeat scroll -485px 0;}
.bajarPDF{background:url(../images/icon-pdf.jpg) no-repeat;width:23px;height:29px;float:left;margin-right:10px;margin-top:25px}
#graciasContratacion span{display:block}
#graciasContratacion span.titleLey{text-transform:uppercase;color:#1b93be;margin-top:25px}
#graciasContratacion span.comisiones a{text-decoration:underline;color:#666}
p.textPdf{border-top:1px dotted #000;}
#formContratacion label{clear:both;overflow:hidden;}
#formContratacion span.explain{font-weight:normal;float:right;display:block;width:216px;}
#formContratacion span.nameLabel{float:left;width:78px;}
#formContratacion span.explainShort{font-weight:normal;float:right;display:block;width:132px;text-align:right}
#formContratacion span.nameLabelarge{float:left;width:132px;}
#containerLlamanos{background-color:#FFF;margin:0 auto;min-height:300px}
#containerLlamanos #content{padding:25px;overflow:hidden}
#containerLlamanos #content h2,#llamanos_modal{background:url("../images/sprite-atencionlinea-titulos.png") no-repeat scroll -9px -81px transparent;color:#004785;font-size:22px;font-weight:normal;height:32px;line-height:32px;margin:0 0 15px;padding:0 0 0 30px;}
#containerLlamanos #content p{margin:0 0 30px;}
#containerLlamanos .col-left, .col-right{width:300px;}
#containerLlamanos .col-left{float:left;}
#containerLlamanos .col-right{float:right;}
#containerLlamanos #content h3{color:#cc0000;font-size:18px;margin:0 0 15px;font-weight:normal;}
#content_call{padding:25px;overflow:hidden; min-height: 300px;}
.panel span.location{color:#00BDF2;}
.panel ul{margin:0 0 12px;}
.panel ul li{padding:0 0 0 20px;background:transparent url(../images/bullet-disc.png) no-repeat scroll 10px 7px;}
.panel .red{color:#FFA202;}
.paneles{float:left;width:300px;}
ol.llamanos{border-bottom:1px solid #CCCCCC;float:left;list-style:none;padding-left:0;width:300px;}
.llamanos li{background:transparent url(../images/llamanos-panel-titulo.png) repeat-x scroll 0 1px;}
.llamanos li.ui-accordion-li-fix{float:left;margin-right:15px;}
.paneles a.titulo{background:transparent url(../images/llamanos-panel-arrow-down.png) no-repeat scroll 280px 16px;border-top:1px solid #CCC;color:#666666;display:inline-block;font-weight:bold;padding:10px 25px 10px 10px;text-decoration:none;width:265px;}
.paneles .contactoPrimer{border-bottom:none;border-top:1px solid #CCC;}
.paneles .contactoLast{border-bottom:1px solid #CCC;border-top:none;}
.paneles a.titulo:hover{text-decoration:none;}
.paneles a.ui-state-active{background:transparent url(../images/llamanos-panel-arrow-up.png) no-repeat scroll 280px 16px;}
.paneles div.panel{width:280px;}
.paneles div.panel div{height:auto;padding:0 10px 5px;width:280px;}
.paneles div.panel div p{width:300px;}
col{position:absolute;left:400px;top:20px;border-bottom:1px solid #ccc}
span.montoInicio, span.montoFinal, span.plazoInicio, span.plazoFinal{margin-top:20px;color:#605e5e;font-family:Arial, Helvetica, sans-serif;}
span.montoInicio, span.plazoInicio{float:left;}
span.montoFinal, span.plazoFinal{float:right;}
#barraCentro{background:url(../images/bg-black.png) repeat-x center 303px;width:100%}
.bg-banamex-empresarial{background:url(../images/internas/bg-banamex-empresarial.jpg) no-repeat center top;}
.empresariaLeft, .empresariaRight{float:left;margin-top:30px;margin-bottom:20px}
.empresariaLeft{width:510px;padding:0 20px 0 25px;margin-right:20px;border-right:1px solid #e5e5e5;overflow:hidden}
.empresariaLeft legend{background:url(../images/internas/tit-encuentra.gif) no-repeat;height:28px;display:block;width:510px}
.empresariaRight{width:370px;margin-left:0px}
.empresariaLeft h3, .empresariaRight h4{color:#177495;font-size:18px;margin-bottom:4px}
.empresariaLeft select{display:block;float:left;width:255px;height:21px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;padding:0 0 0 5px}
.empresariaLeft label{display:block;float:left;width:255px;font-size:14px;}
.formSector{margin-top:30px}
.formSector li{margin-bottom:23px;overflow:hidden}
.formSector-right{border-bottom:1px solid #E5E5E5;margin-bottom:20px;margin-top:20px;padding-bottom:10px}
.formSector-right li{margin-bottom:23px;overflow:hidden;width:400px;}
.empresariaRight label{display:block;float:left;width:200px;font-size:12px;}
.empresariaRight select{display:block;float:left;width:167px;height:21px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;padding:0 0 0 5px}
.empresariaRight legend{display:none;}
.dateline-left{width:245px;float:left;}
.dateline-right{width:262px;float:right;}
.dateline-left li{float:left;border-right:1px solid #e5e5e5;margin-bottom:10px;height:45px;overflow:hidden;padding:5px 5px 5px 0;width:240px;}
.dateline-right li{margin-bottom:10px;height:45px;overflow:hidden;padding:5px 0 5px 15px;}
.date{width:35px;float:left;}
.dateline-left li p.date span, .dateline-right li p.date span{display:block;color:#177495;text-transform:uppercase;line-height:15px;}
.dateline-left p.date span.fecha, .dateline-right p.date span.fecha{font-size:23px}
.dateline-left .dateContent, .dateline-right .dateContent{}
.dateline-left .dateContent a, .dateline-right li .dateContent a{color:#666;display:block;}
.dateline-left li .dateContent a span, .dateline-right a span{display:block;font-size:15px}
.dateline-left .dateContent a span.link, .dateline-right .dateContent a span.link{color:#d80303;display:block;font-size:12px}
.dateline-left .dateContent a:hover span.link, .dateline-right .dateContent a:hover span.link{text-decoration:underline}
.simuladores-left{float:left;width:180px;border-right:1px solid #e5e5e5;}
.simuladores-left ul.list-arrow{border-top:1px solid #e5e5e5;width:165px;margin-bottom:20px;}
.simuladores-left .list-arrow li{height:15px;padding:5px;border-bottom:1px solid #e5e5e5;background:url(../images/internas/icon-arrow.gif) no-repeat right center #FFF;}
.simuladores-left .list-arrow li a, .descargas-right .list-arrow li a{color:#666666;}
.simuladores-left a{color:#d80303;display:block;}
.simuladores-left a.masInformacion{display:block;margin-top:5px}
.descargas-right ul.list-arrow{line-height:18px;border-top:1px solid #E5E5E5}
.descargas-right .list-arrow li{padding:2px 5px;border-bottom:1px solid #e5e5e5;background:url(../images/internas/icon-arrow.gif) no-repeat right center #FFF;}
.descargas-right{float:right;width:175px;margin-left:5px;}
.descargas-right .link{margin-top:20px;float:left;margin-left:5px;color:#d80303;}
.descargas-right h4, .simuladores-left h4{color:#177495;font-size:15px;margin-bottom:10px;}
.simuladores-left h4.solicita{margin-bottom:5px!important}
.listDesplegable{border-bottom:1px solid #ccc;padding:12px 0 5px 0;background:url(../images/internas/arrowgris.gif) no-repeat 30px 0;margin-bottom:14px}
.listDesplegable li{border-top:1px solid #ccc;padding:5px 0;overflow:hidden;}
.listDesplegable li.last{border-bottom:1px solid #ccc;padding:5px 0;}
.listDesplegable li a.activeLink span.masInfo, .listDesplegable li a.inactiveLink span.masInfo{float:right;font-size:11px}
.listDesplegable li a.activeLink span.masInfo{color:#bf1639;}
.listDesplegable li a.inactiveLink span.masInfo{color:#ccc;}
.listDesplegable li a.activeLink span{text-decoration:none;color:#666;float:left}
.listDesplegable li a.inactiveLink span{text-decoration:none;color:#ccc;float:left}
.listDesplegable li a:hover.activeLink{text-decoration:underline;color:#666}
.listDesplegable li a:hover.inactiveLink{text-decoration:none;}
.listDesplegable li a:hover.activeLink span.masInfo{text-decoration:underline}
.cambiaImagen{display:none;width:100%;position:absolute;height:460px;z-index:-3;}
.cambiaImagen.prepara{display:block;z-index:-2;}
.cambiaImagen.select{display:block;z-index:-1;}
#backgroundPreloader{display:none;}
#backgroundPreloader{position:absolute;top:150px;width:42px;height:42px;left:420px;background:url(../images/bg-ajax.png) no-repeat;text-align:center;padding:5px 0}
#destacado{position:relative;*position:none;}
.rightFinanciero h2, .leftConoce h2, .leftTransparencia h2{color:#004785;font-size:18px;font-weight:normal;}
.rightFinanciero p{margin-top:20px;line-height:16px;font-size:14px}
.leftFinanciero p{margin-top:15px;line-height:16px;margin-bottom:17px}
.leftFinanciero p.circular{font-size:10px;line-height:12px;border-top:1px solid #d2d2d2;padding-top:10px}
.leftFinanciero h3{color:#1B93BE;font-size:16px}
.leftFinanciero h3.titleRed{color:#00BDF2!important;}
.leftFinanciero #descargarPDF a{color:#00BDF2;float:left;margin-right:10px;text-decoration:underline;}
.leftFinanciero #descargarPDF span{background:url("../images/ico-pdf.png") no-repeat;float:left;padding:0 0 0 25px;width:160px;}
.leftFinanciero #tableDescarga thead, .comisiones thead{color:#004785;font-size:14px;}
#tableDescarga a, .leftTransparencia table a{background:url("../images/ico-pdf.png") no-repeat scroll right top transparent;color:#00BDF2;line-height:20px;padding:0 25px 10px 0;}
.yearList{margin:20px 0}
.yearList a{display:block;background:url(../images/internas/bg-accordion-conoce.jpg) no-repeat;height:25px;font-size:14px;text-decoration:none;color:#666;padding:5px 0 0 10px}
.yearList a.ui-state-active{background:url(../images/internas/bg-accordion-conoce-active.jpg) no-repeat}
.yearList p{margin:8px 15px 15px 15px}
.yearList2{margin:20px 0}
.yearList2 a{display:block;background:url(../images/internas/bg-accordion-prod.gif) no-repeat;height:25px;font-size:14px;text-decoration:none;color:#666;padding:5px 0 0 10px}
.yearList2 a.ui-state-active{background:url(../images/internas/bg-accordion-prod-active.gif) no-repeat}
.yearList2 p{margin:8px 15px 15px 15px}
.leftConoce ol{padding:20px 0}
.leftConoce ol li{list-style-type:decimal;margin:0 0 5px 20px;line-height:20px;}
.leftConoce ol li li, .leftConoce ol li li li{list-style-type:none;}
.leftConoce ol .caracteristicasTextos{margin:6px 0 18px 0}
.leftConoce ol .caracteristicasTextos li{list-style:none;background:url("../images/internas/icon-dot.gif") no-repeat scroll 0 7px;padding-left:13px;margin-bottom:0}
.rightConoce ul.listItemsConcurso a{display:block;background:url(../images/internas/bg-conoce-menu-izq.jpg) no-repeat;height:23px;padding:7px 0 0 0;color:#0c5873}
.rightConoce ul.listItemsConcurso a:hover, .rightConoce ul.listItemsConcurso a.selected, .rightTransparencia ul.listItemsConcurso a.selected, .rightTransparencia ul.listItemsConcurso a:hover{color:#00BDF2;text-decoration:none;}
.rightConoce .contentArticulo{background:url(../images/internas/bottom-buscador-articulo.gif) no-repeat bottom center;padding-bottom:5px}
.rightConoce .contentArticuloMiddle{background:url(../images/internas/middle-buscador-articulo.gif) repeat-y center;padding:9px 10px 0 13px}
.rightConoce .titleArticulos{background:url(../images/internas/title-buscador-articulo.gif) no-repeat center top;display:block;height:23px;padding-top:10px;padding-left:10px;color:#fff;}
.contentArticuloMiddle p{color:#dbdbdb}
.contentArticuloMiddle select{display:block;margin-top:13px;width:165px;font-family:Arial, Helvetica, sans-serif;color:#415361}
.leftConoce span{font-size:11px;margin-bottom:5px;}
.leftConoce span.legalArticulo{font-size:11px;margin-bottom:5px;color:#CCCCCC;margin-top:25px;display:block;}
.leftConoce p{margin-top:13px;line-height:18px}
.leftConoce p.first{border-bottom:1px solid #e5e5e5;padding-bottom:10px;text-transform:uppercase;font-size:11px;line-height:14px}
.leftConoce h3{color:#605e5e;font-size:18px;margin-top:30px;font-weight:normal}
.leftConoce ul.prensaList{padding:15px 0 0 0}
.leftConoce ul.prensaList li{overflow:hidden;border-bottom:1px solid #e5e5e5;padding-bottom:7px;margin-bottom:10px}
.leftConoce ul.prensaList span.datePrensa{background:url(../images/internas/arrow-date.gif) no-repeat;font-size:11px;color:#b3b1b1;padding:2px 15px 3px 5px;text-align:center;display:block;float:left;width:16px}
.leftConoce ul.prensaList a{color:#177495;display:block;padding:2px 0 0 0;width:680px;float:left}
.leftConoce ul.prensaList a:hover{color:#CC0000;text-decoration:none}
.leftConoce p.textResultados{font-size:14px}
.leftConoce .boxNoRsultados{background:#fcf2f2;border:1px solid #f5cccc;padding:10px;margin-top:13px}
.leftConoce .boxNoRsultados p{font-size:14px;margin:0;}
.leftConoce span.red{font-size:14px;color:#CC0000;}
.leftConoce h2.title-conoce-resultados{background:url(../images/internas/h3-resultados-conoce.gif) no-repeat;height:32px}
.leftConoce a.volverListadoArticulos{background:url(../images/internas/btn-volver-listado-articulos.gif) no-repeat top left;width:212px;height:22px;display:block;margin-top:25px;color:#FFFFFF;padding:8px 0 0 48px;font-size:11px;}
.leftConoce a.volverListadoArticulos:hover{text-decoration:none;}
.qtip{width:317px!important;padding:0 0 0 0!important;margin-left:-35px!important;margin-top:-5px!important;}
.qtip-contentWrapper{background:url(../images/internas/experiencia/bg-tooltip-bottom.png) no-repeat bottom center!important;padding:0 0 20px 0!important;}
.qtip-wrapper{background:url(../images/internas/experiencia/bg-tooltip-top.png) no-repeat top center;padding:7px 0 0 0!important;}
.qtip canvas{display:none!important}
.qtip-wrapper .qtip-contentWrapper, .qtip-content{border:0!important}
.qtip-content{background:url(../images/internas/experiencia/bg-tooltip.png) repeat-y!important;color:#FFF!important}
.titleTool{width:15px;float:left;display:block;position:relative;top:28px}
.generalError{width:480px;padding:200px 0;margin:0 auto;overflow:hidden;}
.generalError img{float:left;width:84px}
.generalError p{float:left;width:386px;padding:5px 0 0 10px}
.generalError p, .generalError p a{color:#4c93ad;font-size:20px;line-height:24px;}
.generalError p span{display:block;font-size:14px;color:#666;font-weight:bold}
#containerFaq{width:680px;background-color:#FFF;margin:0 auto;min-height:300px}
#containerFaq #content{padding:25px;overflow:hidden}
#containerFaq #content h2{background:url("../images/icon-preguntas-frecuentes.png") no-repeat;color:#004785;font-size:22px;font-weight:normal;height:32px;line-height:32px;margin:0 0 15px;padding:0 0 0 40px;}
#containerFaq #content p{margin:0 0 10px 10px;color:#177495;font-size:12px;line-height:16px}
#containerFaq .col-left, #containerfaq .col-right{width:300px;}
#containerFaq .col-left{float:left;}
#containerFaq .col-right{float:right;}
#containerFaq .paneles div.panel div p{width:280px;}
#containerFaq .paneles div.panel div{padding:0 0 5px;}
#containerModalTexto{width:570px;background-color:#FFF;margin:0 auto;min-height:300px}
#containerModalTexto p{margin-bottom:20px;}
#containerModalTexto #content{padding:25px;overflow:hidden}
#containerModalTexto h2{color:#004785;font-size:22px;font-weight:normal;line-height:32px;margin:0 0 15px;}
#textoHerramientas h2,#textoTools h2,#textotools h2{margin-bottom:17px}
#recursos{overflow:hidden;margin-bottom:50px}
#recursos img{position:relative;top:5px;margin-right:10px}
#recursos a:hover img, #recursos a:hover{text-decoration:none}
#recursos a:hover span{text-decoration:underline}
#recursos li{float:left;width:340px;border-bottom:1px solid #e5e5e5;padding:12px 0}
#recursos li.first{border-top:1px solid #e5e5e5;}
#recursos li.right{margin-right:15px}
#recursos a{color:#00BDF2;}
#textoHerramientas table span,#textoTools table span,#textotools table span{display:block;}
#textoHerramientas th,#textoTools th,#textotools th{color:#00BDF2;padding:0 7px 10px 0;border-bottom:1px solid #E5E5E5;}
#textoHerramientas td,#textoTools td,#textotools td{border-bottom:1px solid #e5e5e5;padding:10px 15px 10px 0}
#textoHerramientas th.last,#textoTools th.last,#textotools th.last{padding:0 0 10px 0}
.player-swf{width:630px;margin-top:15px;text-align:right;margin-right:6px;float:right;}
.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}
.overflow{overflow:hidden;}
.display{display:block;}
.noDisplay{display:none;}
.marginR6{margin-right:6px;}
.marginT13{margin-top:13px;}
.marginT20{margin-top:20px!important;}
.marginB4{margin-bottom:4px;}
.marginB30{margin-bottom:30px!important;}
.marginL15{margin-left:15px;}
.ancho570{width:570px!important;}
.ancho400{width:400px!important;}
.ancho100p{width:100%!important;}
.ancho70p{width:70%!important;}
.ancho50p{width:50%!important;}
.ancho45p{width:45%!important;}
.ancho30p{width:30%!important;}
.titleRedes{display:block;font-size:14px;color:#177495;padding-top:10px;}
span.redesForm{display:block;margin-top:5px;}
.bold{font-weight:bold;}
.Clasica, .Oro, .BSmart, .BSmartU, .Platinum, .TravelPass, .TravelPassE, .AeromexicoOro, .AeromexicoPlatinum, .DSuper, .Teleton, .APAC, .ITAM, .UIA, .LaSalle, .UDLA, .LaVerde, .FCBarcelona, .Santos, .Tigres, .Necaxa, .CitiAAdvantage, .Affinity, .OfficeDepot, .Deporteismo, .DeporteismoPremium, .America, .Pumas, .CruzAzul, .Toluca, .HomeDepot, .Costco, .BestBuy, .Soriana{display:none;}
.D_Clasica, .D_Oro, .D_BSmart, .D_BSmartU, .D_Platinum, .D_TravelPass, .D_TravelPassE, .D_AeromexicoOro, .D_AeromexicoPlatinum, .D_DSuper, .D_Teleton, .D_APAC, .D_ITAM, .D_UIA, .D_LaSalle, .D_UDLA, .D_LaVerde, .D_FCBarcelona, .D_Santos, .D_Tigres, .D_Necaxa, .D_CitiAAdvantage, .D_Affinity, .D_OfficeDepot, .D_Deporteismo, .D_DeporteismoPremium, .D_America, .D_Pumas, .D_CruzAzul, .D_Toluca, .D_HomeDepot, .D_Costco, .D_BestBuy, .D_Soriana{display:none;}
object{border:none!important;}
#content-video{background:#000000;width:500px;height:280px;float:right;padding:10px;}
#video-mostrado{width:500px;height:230px;background:#fff;}
.menu-reproductor{background:url(../images/reproductor/menu.gif) repeat-x;height:24px;margin-top:20px;padding-top:7px;padding-left:15px;}
.play-video{background:url(../images/reproductor/play.gif) no-repeat;width:15px;height:17px;float:left;cursor:pointer;}
.puse-video{background:url(../images/reproductor/puse.gif) no-repeat;width:15px;height:17px;float:left;cursor:pointer;}
.barra-video{width:200px;float:left;height:17px;background:#333333;margin-left:20px;}
.minutos-video{color:#FFFFFF;float:left;margin-left:50px;padding-top:3px;}
.volumen-video{background:url(../images/reproductor/volumen.gif) no-repeat;width:30px;height:19px;margin-left:50px;float:left;cursor:pointer;}
.pantalla-video{background:url(../images/reproductor/pantalla_completa.gif) no-repeat;width:16px;height:17px;float:left;margin-left:15px;cursor:pointer;}
.qtip-qtip{width:315px;}
.qtip-content{width:auto;position:relative;border-right-width:2px;border-right-style:solid;border-right-color:#2F62D7;}
#fecha{width:auto;height:auto;float:left;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#FFF;margin:3px 0 0 15px;font-weight:bold;}
#fecha #texto{width:auto;height:auto;float:left;font:inherit;}
#fecha #diahr{width:auto;height:auto;float:left;font:inherit;margin-left:8px;}
#login_cont{width:177px;height:170px;color:#FFF;margin:25px 0 0 5px;font-size:10px;z-index:88888;float:left;}
#grisf{width:172px;height:115px;padding:5px 0 0 5px;float:left;margin-top:18px;background:url(../images/home/bg_login.png);-moz-border-radius-topright:7px;-moz-border-radius-topleft:7px;-webkit-radius-topleft:7px;-moz-border-radius-topright:7px;}
#grisf a{text-decoration:none;font:inherit;color:#003399;}
#form_login{float:left;margin:5px 5px 5px 5px;width:177px;height:170px;font-family:inherit;}
#form_login a{text-decoration:none;font:inherit;color:#0058a8;}
#form_login a:hover{text-decoration:underline;font:inherit;color:#0058a8;}
#form_login p{float:left;color:#FFFFFF;font:inherit;font-size:14px;font-weight:bold;width:155px;}
#form_login .p1{float:left;color:#FFFFFF;font:inherit;margin:5px 0 0 0px;font-size:11px;width:155px;}
#form_login input{margin:8px 0 0 0;font-size:9px;font-family:inherit;width:145px;}
#form_login select{margin:5px 0 0 0;font-family:inherit;font-size:12px;width:155px;padding:0 !important;}
.s_inactive{font-family:inherit;font-size:11px;color:#CCC;}
.s_active{font-family:inherit;font-size:11px;color:#000;}
#square_down{
    width:177px;height:170px;float:left;
    background:#F5F5F5;
}

#square_down h4{font-weight:bold;font-size:12px;color:#039;margin:10px 0 0 10px;}
#square_down p{font-family:Arial, Helvetica, sans-serif;font-size:12px;;margin:5px 0 0 5px;color:#0058a8;}
#square_down ul{font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:10px 0 0 30px;list-style:none;color:#0058a8;}
#square_down ul li{color:#0058a8;width:200px;margin:0 0 0 -20px;}
#square_down ul li .bullet{background:url(../images/home/sprite_home.png) 48px -37px transparent;height:10px;margin-top:2px;width:10px;float:left;}
#square_down ul li a{text-decoration:none;color:#0058a8;font-size:11px;width:250px;}
#square_down ul li a:hover{text-decoration:underline;color:#0058a8;}
#square_down ul#lista_square{width:174px;height:auto;padding:0;margin:0;}
#square_down ul#lista_square li{width:150px;height:auto;color:#CCC;padding:8px;padding-bottom:10px;border-bottom:1px solid #666;margin:0 0 0 5px;}
#square_down ul#lista_square li.ultimo{width:150px;height:auto;color:#666;padding:8px;margin:0;padding-bottom:10px;border-bottom:none;margin:0 0 0 5px;}
#square_down ul#lista_square li a{text-decoration:none;}
#square_down ul#lista_square li a:hover{text-decoration:underline;}
#square_down ul#lista_square li a:hover p.titulo{text-decoration:underline;color:#22A0D5;}
#square_down ul#lista_square li a:hover p.texto{text-decoration:underline;color:#666;}
#square_down ul#lista_square li p.titulo{color:#22A0D5;font-size:12px;text-decoration:none;margin:0 0 0 0px;}
#square_down ul#lista_square li p.texto{color:#666;font-size:11px;tex-decoration:none;margin:0 0 0 0px;line-height:12px;}
.contenCambiaImagen_2{font:32px/34px Arial, Helvetica, sans-serif;color:#00589f;!important}
.separateur{width:1px;height:80px;background-color:#CCC;float:left;*float:right;*margin:-43px 0 0 0px}
ul#institucional li a:hover.noticiasHome span{text-decoration:underline;*cursor:pointer}
.quintaColumna,.terceraColumna ,.cuartaColumna{border-left:1px solid #ccc}
#cmb_style{margin:15px 0 0 0;cursor:pointer;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000;width:150px;height:21px;padding:5px 0 0 5px;float:left;background-color:#FFF;border:1px solid #CCC;position: relative;}
#list_options{display:none;width:auto;height:auto;float:left;margin:0px 0 0 1px;}
#list_options ul.list_cmb{width:145px;margin:0;padding:0;font-size:12px;font-family:Arial, Helvetica, sans-serif;list-style:none;background-color:#FFF;color:#000;float:left;position:relative;z-index:5;padding:5px;}
#list_options ul.list_cmb li{background:none;list-style:none;float:left;font-size:12px;width:100%;}
#list_options ul.list_cmb li a{text-decoration:none;padding:3px 0 3px 0;color:#000;width:100%;float:left;}
#list_options ul.list_cmb li a:hover{text-decoration:none;padding:3px 0 3px 0;color:#FFF;background-color:#00589F;width:100%;float:left;}
.btn_cmb{cursor:pointer;width:21px;height:26px;background:url(../images/home/sprite_nuevo_home.png) -62px -242px no-repeat;float:right;margin:-5px 0 0 0;*margin:-20px -1px 0 0;}
.contenCambiaImagen .tapa_left{width:6px;height:35px;background:url(../images/home/sprite_nuevo_home.png) -109px -237px no-repeat;float:left;}
.contenCambiaImagen .tapa_middle{width:auto;height:25px;background:url(../images/home/sprite_nuevo_home.png) 0 -278px;float:left;margin:0px 0 0 0;padding:7px 5px 5px 5px;}
.contenCambiaImagen .tapa_middle:hover{width:auto;height:25px;background:url(../images/home/sprite_nuevo_home.png) 0 -320px;float:left;margin:0px 0 0 0;padding:7px 5px 5px 5px;}
CambiaImagen .tapa_middle:active{width:auto;height:25px;background:url(../images/home/sprite_nuevo_home.png) 0 -362px;float:left;margin:0px 0 0 0;padding:7px 5px 5px 5px;}
.contenCambiaImagen .tapa_middle p.in_btn{width:auto;float:left;margin:0;font:14px/20px Arial,Helvetica,sans-serif;color:#FFF;*cursor:pointer}
.in_btn:hover{width:auto;float:left;margin:0;color:#FFF;*cursor:pointer;*text-decoration:none;}
.contenCambiaImagen .tapa_right{width:6px;height:35px;background:url(../images/home/sprite_nuevo_home.png) -123px -237px no-repeat;float:left;*margin:0px 0 0 0px;}
ul.navegacion li.selected{background:none;float:left;width:180px;height:72px;background:url(../images/home/sprite_nuevo_home.png) -2px -167px no-repeat;opacity:0.95;}
ul#institucional li span.subtitulo_inst .tr{background:url(../images/home/sprite_home.png) -201px -36px no-repeat;width:11px;height:11px;float:right;margin:3px 0 0 5px;*margin:-13px 0 0 0}
sup.sup_1{top:1px !important;font-size:10px !important;*top:-10px !important;*font-size:14px !important;}
ul.BlockInfo li a.centro_canje{background:url("../images/sprite-mas-informacion.png") no-repeat scroll -8 -226px transparent;}
ul.BlockInfo li a.centro_canje:hover{background:url("../images/sprite-mas-informacion.png") no-repeat scroll 0 -282px transparent;}
@charset "UTF-8";#cotizaciones{background:url(../images/bg-cotizaciones.gif) repeat-x scroll 0 1px;clear:both;overflow:hidden;margin:0 10px;border-top:1px solid #DEDFDF;padding:20px 0 40px 11px}
#cotizaciones a.economiaLink{color:#177495;font-size:18px;line-height:16px;float:left;width:94px;display:block;height:53px;}
#cotizaciones a.economiaLink{text-decoration:none;color:#177495;font-size:18px;line-height:16px;float:left;width:94px;display:block;height:53px;}
#cotizaciones a.economiaLink span{color:#177495;font-size:11px;padding-left:2px;padding-top:10px;line-height:16px;}
#cotizaciones a.economiaLink span:hover{color:#cc0000;font-size:11px;padding-left:2px;padding-top:10px;line-height:16px;}
#cotizaciones table{color:#c4c4c4}
#cotizaciones .content-table{float:right;padding-right:31px}
#cotizaciones table#monedas, #cotizaciones table#bolsas{float:left;}
#cotizaciones table#monedas{width:385px;}
#cotizaciones table#bolsas{width:393px;}
#cotizaciones table thead th{color:#787878;font-weight:bold !important}
#cotizaciones th.titleTable{font-weight:bold;color:#474e56;text-transform:uppercase;text-align:right}
#cotizaciones th.typeTrasaction{text-align:right}
#cotizaciones table th, #cotizaciones table td{border-right:1px solid #e4e4e4;padding:0 9px;font-size:11px;color:#aeaeaf;height:17px;vertical-align:bottom}
#cotizaciones table th.last, #cotizaciones table td.last, ul.contenidoTarjCred li.last{border-right:none}
span.up{background:url(../images/ico-alza-baja.gif) no-repeat scroll 0 3px;color:#85bf24}
span.down{background:url(../images/ico-alza-baja.gif) no-repeat scroll 0 -10px;color:#ff8a00}
span.up, span.down{padding-left:20px}
@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}html,body{height:100%}a:focus{outline:0}ol,ul{list-style:none}table{border-collapse:collapse}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a:link,a:visited{text-decoration:none}a:hover,a:active{text-decoration:underline}textarea{resize:none}input[type="radio"]{vertical-align:text-bottom;margin-right:5px!important}input[type="checkbox"]{vertical-align:bottom;margin-right:5px!important}body{font:12px Arial,Helvetica,sans-serif;color:#666}
li.tabServicios{width:157px}li.tabBanca{width:136px}ul.oe_menu_der div#contentBanco{left:-420px;top:-3px;z-index:10}#contentBanco{width:565px;margin:0 auto;color:#787879}#contentBanco .topContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left top;padding-top:10px}#contentBanco .middleContentBanco{*width:484px;background:#fff;overflow:hidden;padding:10px 10px 20px;*padding:10px 40px 20px}#contentBanco .bottomContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left bottom;padding-bottom:10px}#contentBanco object{border:0}ul.bancas li h2{height:20px;margin-top:10px;width:152px}ul.bancas li.rightColumn,ul.bancas li.leftColumn{margin-right:0;float:left}ul.bancas li.rightColumn{width:176px;padding-right:30px;border-right:1px solid #e6e7e8}ul.bancas li.leftColumn{width:237px;padding-left:21px}ul.bancas li h2.titleBancaLinea{font-size:18px;color:#c00}ul.bancas li h2.titleBancaNet{margin-bottom:0;font-size:18px;color:#c00}ul.links{margin-top:16px;clear:both;border-top:1px solid #e6e7e8;width:165px;position: relative;}ul.links li{clear:both}
li.rightColumn ul.links li a{margin-top:4px;padding-bottom:4px;display:block;border-bottom:1px solid #e6e7e8;width:165px;color:#787879}
li.rightColumn ul.links li a:hover{margin-top:4px;padding-bottom:4px;display:block;border-bottom:1px solid #e6e7e8;width:165px;color:#22A0D5}
#logForm ul.formBancaNet{margin-top:0}#logForm ul.formBancaNet li{clear:both;margin-right:0;width:240px}ul.formBancaNet li.opciones,#logForm ul.formBancaNet li.user,#logForm ul.formBancaNet li.password{overflow:hidden}ul.formBancaNet li.opciones{margin-bottom:25px!important;margin-top:20px}#logForm ul.formBancaNet li label{color:#787879}#logForm ul.formBancaNet li label.error{color:#c00;font-size:11px;margin-bottom:6px;display:block}#logForm ul.formBancaNet li label.check{margin-top:20px;float:left;margin-right:6px}li.user{padding-top:10px!important}li.password{margin-top:3px!important}label.bg-user,label.bg-userError{height:32px;display:block;float:left}input.spaceUser,input.UserError{height:31px;display:block;float:left}
label.required{font-size:11px;color:#c00!important;display:block;margin-top:10px}li.acceder{width:80px;float:right}li.acceder .olvidaste{color:#666;float:left;font-size:.9em;margin-top:12px;width:150px}li.acceder a.olvidaste:hover{text-decoration:underline}
#tu_banco_en_linea{position:absolute;top:0;width:564px!important;overflow:hidden!important;display:none;}.contenido_tubanco{clear:both;overflow:hidden;position:relative;top:-2px;}#tu_banco_en_linea .topContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left top;padding-top:10px;}#tu_banco_en_linea .middleContentBanco{background:#FFFFFF;overflow:hidden;padding:10px 45px 20px;overflow:hidden;}#tu_banco_en_linea .bottomContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left bottom;padding-bottom:10px}
#tu_banco_en_linea{position:absolute;top:0;width:564px!important;overflow:hidden!important;display:none;}
.contenido_tubanco{clear:both;overflow:hidden;position:relative;top:-2px;}
#tu_banco_en_linea .topContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left top;padding-top:10px;}
#tu_banco_en_linea .middleContentBanco{background:#FFFFFF;overflow:hidden;padding:10px 35px 20px;overflow:hidden;}
#tu_banco_en_linea .bottomContentBanco{background:url(../images/submenu/bg-banco.gif) no-repeat left bottom;padding-bottom:10px}
#pie{clear:both;font-size:11px;overflow:hidden;padding:40px 5px 0 10px;width:925px;}
#cont_tags{float:right;height:auto;margin:-45px auto 0;overflow:hidden;width:280px;}
#cont_tags ul.followUs{float:right;overflow:hidden;}
#cont_tags ul.followUs li{float:left;}
#cont_tags ul.followUs li.app img{width:93px!important;height:29px!important;padding:0 20px 0 0px;float:left;}
#cont_tags ul.followUs li.facebook img{width:22px!important;height:22px!important;padding:0 7px 0 0px;float:left;}
#cont_tags ul.followUs li.twitter img{width:22px!important;height:22px!important;padding:0 7px 0 7px;float:left;}
#cont_tags ul.followUs li.ytube img{width:58px!important;height:22px!important;padding:0 0 0 7px;float:left;}
#cont_tags ul.followUs li .app{width:93px!important;height:29px!important;padding:0 20px 0 0px;float:left;background-image:url(../images/home/sprite_nuevo_home.png);background-position:-200px -176px;background-repeat:no-repeat;margin:5px 0 0 0;}
#cont_tags ul.followUs li .facebook{width:22px!important;height:22px!important;padding:0 7px 0 0px;float:left;background-image:url(../images/home/sprite_nuevo_home.png);background-position:-170px -145px;background-repeat:no-repeat;margin:5px 0 0 0;}
#cont_tags ul.followUs li .twitter{width:18px!important;height:22px!important;padding:0 7px 0 7px;float:left;background-image:url(../images/home/sprite_nuevo_home.png);background-position:-206px -145px;background-repeat:no-repeat;margin:5px 0 0 0;}
#cont_tags ul.followUs li .ytube{width:55px!important;height:22px!important;padding:0 0 0 7px;float:left;background-image:url(../images/home/sprite_nuevo_home.png);background-position:-243px -145px;background-repeat:no-repeat;margin:5px 0 0 0;}

#cont_tags img.facebook{margin-right:10px}
#cont_tags #leyenda_redes{clear:both;float:right;font-family:Arial,Helvetica,sans-serif;font-size:9px;margin:18px 7px -7px 128px;width:124px;}
.mt-top{margin:9px 0 0 0 !important;}
.mt-top_2{margin:3px 0 0 0 !important;}
#cont_tags .ElemFooter{border-right:1px solid #d2d2d2;}
#cont_tags .conten_footer_red_social{float:right;height:auto;margin:0 0px 0 0;overflow:hidden;width:auto !important;*width:250px !important;}
#cont_tags p.tag_1{font-size:11px;font-weight:bold;float:left;width:230px;margin:28px 0 0 21px;*margin:35px 0 0 21px;}
#last_box{width:960px;margin:0 auto;height:auto;overflow:hidden;padding:0 0 30px 0;}
#last_box .separateur{width:960px;height:2px;border-bottom:1px solid #666;margin:10px 0 10px 0;float:left;}
#last_box .tag_1{width:350px;height:auto;float:left;margin:0 0 0 15px;}
#last_box .tag_2{float:right;font-size:8.5px;height:auto;width:311px;*width:272px;}
#last_box .mt-l{margin:0 0 0 25px !important;color:#666;text-decoration:none;}
.bottomLinks a.adquieralo{background:url(../images/sprite.gif) 0 -130px no-repeat;display:block;width:139px;height:22px;font-size:11px;color:#ffffff!important;padding-top:33px;padding-left:17px!important;}
.bottomLinks a.adquieralo:hover{background:url(../images/sprite.gif) 0 -130px no-repeat;display:block;width:139px;height:22px;font-size:11px;color:#ffffff!important;padding-top:33px;padding-left:17px!important;text-decoration:none!important;}
.btn-verde{background:url(../images/sprite.gif) 0 -73px no-repeat;width:70px!important;height:20px !important;border:none!important;color:#fff!important;font-size:10px!important;cursor:pointer;}
.btn-verde-2{background:url(../images/sprite.gif) -90px -98px no-repeat;width:85px!important;height:30px !important;border:none!important;color:#fff!important;cursor:pointer;}
.btn-rojo{background:url(../images/sprite.gif) 0 -98px no-repeat;font-size:11px;color:#FFFFFF;width:87px;height:30px;cursor:pointer;border:none!important;color:#ffffff!important;}
select{height:auto!important;padding:5px 0 5px 0!important;}
/*#form_login ul{float:left;color:#FFFFFF;font:inherit;margin:20px 0 0 15px;color:#FFF;list-style:url(../images/home/bullet2.png);font-size:12px;}*/
label.bg-user{background:url(../images/sprite.gif) no-repeat;width:86px}
li.error label.bg-user{background:url(../images/sprite.gif) 0 -36px no-repeat;width:86px}
label.bg-userError{background:url(../images/sprite.gif) 0 -36px no-repeat;width:86px}label.bg-user span,label.bg-userError{display:block;padding:10px 0 0 10px;font-size:11px}
input.spaceUser,input.UserError{border:0;width:146px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#787879;padding-left:3px}input.spaceUser{background:url(../images/sprite.gif) no-repeat scroll -88px 0}
li.error input.spaceUser.error{background:url(../images/sprite.gif) no-repeat scroll -88px -36px}input.UserError{background:url(../images/sprite.gif) no-repeat scroll -88px -36px}
.btnAcceder{background:url(../images/sprite.gif) 0 -98px no-repeat;font-size:11px;color:#fff;width:87px;height:30px;position:relative;top:5px;right:6px;cursor:pointer;border:0;padding-bottom:2px}
.accept, .acceptCall, .acceptContrato, .btn_enviarAmigo, .enviarChat{background:url(../images/sprite.gif) 0 -186px no-repeat;height:24px!important;border:0;width:102px!important;cursor:pointer;color:#FFFFFF!important;padding-top:10px;padding-left:15px;font-size:11px;border:none!important;text-align:left!important;display:block;}
.accept:hover, .acceptCall:hover, .acceptContrato:hover, .btn_enviarAmigo:hover, .enviarChat:hover{background:url(../images/sprite.gif) 0 -186px no-repeat;height:24px!important;border:0;width:102px!important;cursor:pointer;color:#FFFFFF!important;padding-top:10px;padding-left:15px;font-size:11px;text-decoration:none;border:none!important;display:block;}
#boxAtencionCliente{width:187px;position:absolute;top:18px;left:0;z-index:9999}
.bottomAtencionCliente{background:white no-repeat left bottom;padding-bottom:6px}
.middleAtencionCliente{background:#fff;padding:0 15px;overflow:hidden}ul.linksAtencion li{border-bottom:1px solid #ecebeb;width:157px;padding-right:0!important;font-size:11px!important;color:#636364!important}
ul.linksAtencion li:hover{border-bottom:1px solid #ecebeb;width:157px;padding-right:0!important;font-size:11px!important;color:#00bdf2!important}
ul.linksAtencion li a{height:33px;clear:both;font-size:10px;padding-left:57px;padding-top:17px;color:#636364!important}
ul.linksAtencion li a:hover{height:33px;clear:both;font-size:10px;padding-left:57px;padding-top:17px;color:#00bdf2!important}
ul.BlockInfo li.last{border-bottom:none;height:35px}
ul.linksAtencion li.last{border-bottom:none;height:50px}
ul.BlockInfo li.video{border-bottom:none}
ul.asistencia li.hovered .glass{background-images:url(../images/home/sprite_nuevo_home.png); background-position: -152px -120px; background-repeat: no-repeat}
.bnr div.tapa_left{width:6px;height:35px;background:url(../images/home/sprite_nuevo_home.png) -109px -237px no-repeat;float:left;}
.bnr div.tapa_right{width:6px;height:35px;background:url(../images/home/sprite_nuevo_home.png) -123px -237px no-repeat;float:left;*margin:0px 0 0 0px;}
.bnr div.tapa_central{width:auto;height:25px;background:url(../images/home/sprite_nuevo_home.png) 0 -278px;float:left;margin:0px 0 0 0;padding:7px 5px 5px 5px;}
.bnr div.tapa_central a{color:#fff;}
.bnr div.tapa_central a:hover{color:#fff;}
.bnr a{font:14px/20px Arial,Helvetica,sans-serif;color:#fff;}
.bnr a:hover{font:14px/20px Arial,Helvetica,sans-serif;color:#fff;text-decoration:underline;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;overflow:hidden;}
#cboxLoadedContent{overflow:hidden!important;}
#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxOverlay{background:url(../images/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px;height:25px;background-image:url(../images/colorbox/controls.png);background-repeat:no-repeat;background-position:-100px 0;position:static;}
#cboxTopRight{width:21px;height:25px;background:url(../images/colorbox/controls.png) no-repeat -124px 0;position:relative;}
#cboxBottomLeft{width:21px;height:25px;background:url(../images/colorbox/controls.png) no-repeat -100px -25px;position:relative;}
#cboxBottomRight{width:21px;height:25px;background:url(../images/colorbox/controls.png) no-repeat -124px -25px;position:relative;}
#cboxMiddleLeft{width:21px;background:url(../images/colorbox/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px;background:url(../images/colorbox/controls.png) right top repeat-y;}
#cboxTopCenter{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 11px;
    margin-top: 14px;}
#cboxBottomCenter{height:25px;background:#FFFFFF;}
#cboxContent{background:#fff;}
#cboxTitle{position:absolute;top:4px;left:0;text-align:left;width:100%;color:#949494;}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494;}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef;}
/*#cboxPrevious{position:absolute;bottom:0;left:0px;background:url(../images/colorbox/controls.png) no-repeat -75px 0px;width:25px;height:25px;text-indent:-9999px;}*/
#cboxPrevious.hover{background-position:-75px -25px;}
/*#cboxNext{position:absolute;bottom:0;left:27px;background:url(../images/colorbox/controls.png) no-repeat -50px 0px;width:25px;height:25px;text-indent:-9999px;}*/
#cboxNext.hover{background-position:-50px -25px;}
#cboxClose{position:absolute;top:12px;right:12px;background:url(../images/sprite.gif) -18px -476px no-repeat;height:24px;width:75px;text-indent:-9999px;}

    ul.linksAtencion li a.llamanos{height:30px!important;background:url(../images/sprite-atencionlinea.png) no-repeat scroll -8px -137px;padding-top:20px!important;}
    ul.linksAtencion li a.llamanos:hover{height:30px!important;background:url(../images/sprite-atencionlinea-h.png) no-repeat scroll -8px -137px;padding-top:20px!important;}


	ul.linksAtencion li a.contactar{background:url(../images/sprite-atencionlinea.png) no-repeat scroll -8px -182px}
    ul.linksAtencion li a.contactar:hover{background:url(../images/sprite-atencionlinea-h.png) no-repeat scroll -8px -182px}

.lines_menu{width:auto; height:auto; background-position:0 -15px; background-repeat:repeat-y;float:left;}
.cont_beneficios{width:938px; max-widht:938px;float:left;margin:10px 0 10px 0;padding:0px 0 0 0; height:86px;border-bottom:3px solid #00bdf2; background-image:url(../images/back_bene.png); background-position:0 0; background-repeat:repeat-x;}
.cont_beneficios .text_bene{width:280px;padding:25px  25px 0 18px;height:53px;border-bottom:8px solid #00bdf2;color:#0c5b88;float:left; font-size:17px;}
.cont_beneficios .text_bene strong{color:#0c5b88; font-size:20px;}
.cont_beneficios ul.beneficios_n{ width:auto; height:85px; padding:0; margin:0 0 0 30px; float:left; list-style:none!important;}
.cont_beneficios ul.beneficios_n li{width:auto; height:auto; float:left;margin:0 0 0 0;}
.cont_beneficios ul.beneficios_n a{padding:0 5px;}
.cont_beneficios ul.beneficios_n a.bnet{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:18px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.app{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-58px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.edocta{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-132px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.alertas{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-209px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.audio{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-286px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.atm{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-361px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.bnet_emp{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene.png); background-position:-437px 15px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.bnetE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:18px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.appE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-58px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.edoctaE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-132px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.alertasE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-209px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.audioE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-286px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.atmE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-361px 16px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.bnet_empE{width:70px; height:86px;display:block;float:left; margin:0;background-image:url(../images/sprite_bene_eng.png); background-position:-437px 15px; background-repeat:no-repeat;}
.cont_beneficios ul.beneficios_n a.bnet:hover{background-position:18px -67px;}
.cont_beneficios ul.beneficios_n a.app:hover{background-position:-58px -67px;}
.cont_beneficios ul.beneficios_n a.edocta:hover{background-position:-132px -67px;}
.cont_beneficios ul.beneficios_n a.alertas:hover{background-position:-209px -67px;}
.cont_beneficios ul.beneficios_n a.audio:hover{background-position:-286px -67px;}
.cont_beneficios ul.beneficios_n a.atm:hover{background-position:-361px -67px;}
.cont_beneficios ul.beneficios_n a.bnet_emp:hover{background-position:-437px -67px;}
.cont_beneficios ul.beneficios_n a.bnetE:hover{background-position:18px -67px;}
.cont_beneficios ul.beneficios_n a.appE:hover{background-position:-58px -67px;}
.cont_beneficios ul.beneficios_n a.edoctaE:hover{background-position:-132px -67px;}
.cont_beneficios ul.beneficios_n a.alertasE:hover{background-position:-209px -67px;}
.cont_beneficios ul.beneficios_n a.audioE:hover{background-position:-286px -67px;}
.cont_beneficios ul.beneficios_n a.atmE:hover{background-position:-361px -67px;}
.cont_beneficios ul.beneficios_n a.bnet_empE:hover{background-position:-437px -67px;}
#perfiles li.tabPersonas, li#linkpymes, #linkSeguros, li#linkCorporativo, #linkgobierno, ul.oe_menu_der li {margin: 0;padding-top: 2px;padding-left:15px;}+
.l_130{float:left;margin:0px 0 0 0}
ul#perfiles{margin-top:3px; float:left; margin-left:5px!important;}
 .bg_login_bottom{clear: both;width: 100%;height: 15px;background-image: url("/recursos/images/home/bg_login_bottom.png");background-repeat: no-repeat;}       

/*-------- select blue menu --------------*/
ul.oe_menu li.tabsNoMenu_izq a.aPest{text-decoration: none;}
ul.oe_menu li.tabsNoMenu_izq a.aPest{padding-left:10px;display:block;position:relative;top:0;}
ul.oe_menu li.tabsNoMenu_izq span{
    padding:18px 10px 15px 0;
    display:block;
    position:relative;
    top:0;
     color: #FFFFFF;
   font-size: 11px;
   
}
ul.oe_menu li.tabsNoMenu_izq.hover a.aPest,
ul.oe_menu li.tabsNoMenu_izq:hover a.aPest,
ul.oe_menu li.tabsNoMenu_izq.selected a.aPest{background:url(../images/sprite.gif) -292px -472px no-repeat;}
ul.oe_menu li.tabsNoMenu_izq.hover span,
ul.oe_menu li.tabsNoMenu_izq:hover span,
ul.oe_menu li.tabsNoMenu_izq.selected span{background:url(../images/sprite.gif) right -518px no-repeat;color: #333;}

#perfiles li.tabPersonas, li#linkpymes, #linkSeguros, li#linkCorporativo, #linkgobierno, ul.oe_menu_der li{
	margin: 0;
}
body:nth-of-type(1) ul.oe_menu_der{margin-top:6px;}
/*----------------------*/
.buro_logo {
	width: 30px;
	height: 30px;
	background-image:url("/recursos/images/home/logo_buro.jpg");
	background-repeat: no-repeat;
	margin-top: 7px;
margin-right: 4px;
}

.algo_1, .algo_2, .algo_3, .algo_4{
	z-index: -3;float: left; width: 100%; height: 460px; margin-top: 89px; position:absolute; }

.bluewave_bg{
	background: url(/recursos/images/home/bluewave_bg.jpg) repeat-x; float: left; width: 100%; height: 460px; margin-top: 89px; position:absolute; }

.algo_1.select, .algo_2.select, .algo_3.select, .algo_4.select{display:block;z-index:-1;}

/*new footer*/
.obmx-footer-cont{
font: 11px/15px Arial, Helvetica, sans-serif;
color: #333;
}
.obmx-footer-cont a{
color: #333;
text-decoration: none;
outline: 0;
color: #00bdf2;
}
.obmx-footer-cont a:hover{
text-decoration: underline; 
}
.clearfix:before,
    .clearfix:after{
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }
.obmx-footer {
width: 940px;
margin: 10px auto;
}
ul.obmx-legal-ul {
list-style: none;
float: left;
padding: 0;
margin-top: 0;
margin-bottom:10px;
}
ul.obmx-legal-ul li {
float: left;
padding: 5px;

}
ul.obmx-legal-ul li a{
color: #002d72;
text-decoration: none;
border-right:1px solid #666;
padding-right: 10px;
font-weight: bold;
}
ul.obmx-legal-ul li a:hover{
text-decoration: underline;
}
.obmx-copycont-left {
float: left;
}
.obmx-copycont-right {
float: right;
text-align: right;
}
.remove-bottom{
	margin-bottom: 0px;
}
.obmx-legal-m {
border-bottom: 1px solid #666;
margin-bottom: 10px;
}
p.obmx-yt-text {
/* color: #999;
font-size: 9px; */
color: #333;
font-size: 10px;
font-family: Helvetica, Arial;
}
.obmx-legal-icons-cont {
float: right;
}
.obmx-legal-icons-cont a span {
margin-right: 5px;
}
span.obmx-buro-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat -94px 0;
	width: 28px;
	height: 27px;
	float: left;
}
span.obmx-app-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 -115px;
	width: 82px;
	height: 27px;
	float: left;
}
span.obmx-fb-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 0;
	width: 27px;
	height: 27px;
	float: left;
}
span.obmx-tw-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat -28px 0;
	width: 27px;
	height: 27px;
	float: left;
}
span.obmx-yt-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat -56px 0;
	width: 37px;
	height: 27px;
	float: left;
}
span.obmx-buro-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat -94px -30px;
}
span.obmx-app-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 -87px;
}
span.obmx-fb-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 -30px;
}
span.obmx-tw-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat -28px -30px;
}
span.obmx-yt-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat -56px -30px;
}

span.obmx-buro-icon:active, .obmx-buro-icon.active {
	background: url('/recursos/images/icon_legales.png') no-repeat -94px -60px;
}
span.obmx-app-icon:active, .obmx-app-icon.active {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 -143px;
}
span.obmx-fb-icon:active, .obmx-fb-icon.active {
	background: url('/recursos/images/icon_legales.png') no-repeat 0 -60px;
}
span.obmx-tw-icon:active, .obmx-tw-icon.active {
	background: url('/recursos/images/icon_legales.png') no-repeat -28px -60px;
}
span.obmx-yt-icon:active, .obmx-yt-icon.active{
	background: url('/recursos/images/icon_legales.png') no-repeat -56px -60px;
}
span.obmx-appen-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat -90px -115px;
	width: 82px;
	height: 27px;
	float: left;
}span.obmx-appen-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat -90px -87px;
}

span.obmx-appen-icon:active, .obmx-app-icon.active {
	background: url('/recursos/images/icon_legales.png') no-repeat -90px -143px;
}
span.obmx-lkn-icon:active, .obmx-yt-icon.active{
	background: url('/recursos/images/icon_legales.png') no-repeat -123px -60px;
}
span.obmx-lkn-icon:hover {
	background: url('/recursos/images/icon_legales.png') no-repeat -123px -30px;
}
span.obmx-lkn-icon {
	background: url('/recursos/images/icon_legales.png') no-repeat -123px 0;
	width: 28px;
	height: 27px;
	float: left;
}
.bmx-footershow:hover > span.bmx-footershow-down{
display: block;
}
.bmx-footershow-down{
display: none;
font-size:10px;
}
.a_cin{color: #eca10a!important;font-size: 18px;padding: 4px 0px 9px 0!important;}
.cintillo span{color:#eca10a!important;
font-size: 12px!important;
padding: 0px 0 0 0!important;text-align: left!important;}
.cintilloimg{position: absolute;right: -24px;top: -6px;}
li.cintillo:hover a {
   color:#22A0D5!important;
}
li.cintillo:hover a span {
    color:#22A0D5!important;
}

#conten_cmb_style{position: absolute!important;z-index: 1!important;}
.btn_cmb{position: absolute!important;
right: 0px!important;
z-index: 2!important;}

.full-accord-title, .accord-cont, .accord-title, .accord-body, .accord-light-blue, .accord-light-grey, .accord-orange{    	
 		font: 12px Helvetica, sans-serif;
		color: #666;
    }
 	.accord-left{
 		width: 300px;
 		margin-right: 10px;
 		float: 	left;
 	}
 	.accord-right{
 		width: 300px;
 		float: 	left;	
 	}
 	.full-accord-title{
 		color: 	#c00;
 		font-size: 	18px;
 	}
 	.accord-title{
 	font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    background-color: #eee;
    background: transparent url(/recursos/images/llamanos-panel-titulo.png) repeat-x;
    position: 	relative;
    border-top: 1px solid #ccc;	
    padding-left: 10px;

 	}
 	.accord-light-blue{
 		color: #00bdf2;
 		margin-bottom: 	5px;
 	}
 	.accord-orange{
 		color: #ffa202;
 	}
 	.accord-light-grey{
 		margin-top: 	0px;
		background: transparent url(/recursos/images/bullet-disc.png) no-repeat 10px 4px;
		padding-left: 20px;
 	}
	.accord-arrowdown{
		background: transparent url(/recursos/images/llamanos-panel-arrow-down.png) no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    	position: absolute;
    right: 10px;
    top: 10px;
	}
	.accord-arrowup{
		background: transparent url(/recursos/images/llamanos-panel-arrow-up.png) no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    	position: absolute;
    right: 10px;
    top: 10px;
	}
 	.accord-body {
    padding-left: 10px;
        display: none;
}


