@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}

body {
	background:#333333;
	margin:0;
	font-family: Tahoma,sans-serif;
	letter-spacing:0.025em;
font-size: 14px	
}

p{ line-height:20px;}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {border-style:none;}

a,a:link,a:visited,a:active {
    text-decoration:none;
    color:#000000;
}
a:hover {
    text-decoration:underline;
    color:#000000;
}

*:focus {outline: none;}

.clear{ clear:both;}

/* wrapper */
#wrapper {
    max-width:888px;
	border-left: 5px solid #000;
    border-right: 5px solid #000;
    margin: 0 auto;
    background: #FFF;
}
 

#header{max-width:880px; height:auto; margin:auto; }
	#logo{
	width: 462px;
	height: 182px;
	margin: auto;
	position: absolute;
top: 14px;
left: 178px;

}

#enterBtn{ 	max-width: 343px; height: auto;  margin:auto; margin-top:10px;}


#contents{ max-width:890px; height:auto; margin-top:20px; }

.textarea {
padding: 20px 15px 0px 15px;
}

.txtleft {
width: auto;
text-align: justify;
font-family: Tahoma,sans-serif;
font-size: 14px;
color: black;
letter-spacing: 0px;
}

.links {
	padding:20px;
margin:20px auto;
max-width: 530px;
height: auto;
border-width: 1px;
border-style: solid;
border-color: #000000;
}

.links ul{ margin: 0; padding: 0; }
.links li {list-style: none; display: inline;    padding-right:7px;    padding-left:7px;}
.links li a{color:#000; text-decoration: none;}
.links li a:hover{color:#000; text-decoration: underline;}


.footerlinks {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #000000;
text-align: center;
}

.copyright {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: black;
text-align: center;
margin-top: 10px;
}
#biller{ text-align:center; color:#000;}
#biller a{ text-decoration:underline; color:#000;}
#biller a:hover{ text-decoration:none; color:#000;}
Inner: 1157 x 692
Outer: 1173 x 805