/* Enter Your Custom CSS Here */

.social-box .social-buttons {
    width: 270px;
    height: 113px; 
margin-left:auto;
margin-right:auto;}
    .social-box .social-buttons .link {
      background: url(http://www.tilestwra.com/wp-content/themes/tilestwra/images/sidebar-social-icons.png) no-repeat 0 0;
     float: left;
      margin-top: 18px;
      margin-bottom: 12px;
      margin-left: 20px;
     
     
      width: 56px;
      height: 56px; 

overflow:visible;
}
    .social-box .social-buttons .social-widget {
      float: left;
      text-align: center;
      width: 100%;
  overflow:visible;
       }
    .social-box .social-buttons .button {
      float: left;
      background: #FFF;
      width: 147px;
      padding-bottom: 5px; 
overflow:visible;}
      .social-box .social-buttons .button.facebook {
        
        -moz-border-radius-top-left: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px; }
       .social-box .social-buttons .button.facebook .link {
          background-position: 0 0; 
margin-left:45px;}
      .social-box .social-buttons .button.gplus {
        margin-right: -2px; }
        .social-box .social-buttons .button.gplus .link {
          background-position: -56px 0;
          margin-left: 22px; }
      .social-box .social-buttons .button.twitter {
        margin-right: 0;
width:120px;}
.button.twitter .social-widget
{
  padding-top:3px;
}


.pop-layout-v div.pop-inside ul li .pop-overlay {
    padding: 5px 0;
    font-weight: 700;
    /*margin-left: -25px; */
    position: relative;
    display: table;
  	margin-bottom: -20px;
}

.pop-layout-v div.pop-inside ul
{
    list-style-type: none;
    text-decoration:none;
}

.pop-layout-v div.pop-inside ul:hover
{
    
    text-decoration:none;
}
.pop-layout-v div.pop-inside li a:hover
{
    
    text-decoration:none;
}

.pop-widget-tabs-1 {display:none;}
.pop-layout-v div.pop-inside ul li img {
    
   /* margin-left: -20px !important;*/
    
}



        .social-box .social-buttons .button.twitter .link {
          background-position: -112px 0; 
margin-left:33px;}
  .social-box .social-text-line {
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px; }

#sidebar .fb_iframe_widget iframe, #sidebar .fb_iframe_widget_lift  {
    position: absolute;
  width:450px !important;
  overflow:visible !important;
 max-width:none !important;
  
}
#sidebar .fb_iframe_widget_lift {
    z-index: 1;
  max-width:none !important;
}
#searchform input[type="text"]
{
  width:255px !important;
}
#searchsubmit
{
  margin-left:5px;
}
@media all and (max-width:460px)
{
  #fbBottomWrapper
  {
    padding-left:5px !important;
  }
#fbBottomWrapper #fbWrapper
{
  margin-left:0px !important;
  clear:none !important;
  float:left !important;
  width:65% !important;
 
}
}
.fbwithcount
{
  width:647px;
  height:58px;
  clear:both;
  margin:0 auto;
  margin-bottom:20px;
}
@media all and (max-width:465px)
    {
  .fbwithcount
{
  width:100%;
  }
  .pw-button-counter
  {
    display:none;
  }
}
.pw-button-counter{
	padding: 0 0 0 10px;
	/* margin: 1px; */
	background: white;
	min-width: 58px;
	height:57px;
	text-align: center;
	display: none;
	position: relative;
	font: 16px/24px Arial,Helvetica,sans-serif;
}

.pw-button-counter__brd {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 9px 9px 0px;
    border-color: transparent #ADADAD;
    display: block;
    width: 0px;
    z-index: 2;
    left: 2px;
    top: 41%;
}
.pw-button-counter__count.ra1-pw-button-counter-value {
    border: 1px solid #ADADAD;
    padding: 0px 6px;
  min-width:80px;
    border-radius: 6px;
    color: #333333;
    height: 100%;
    display: table;
    text-align: center;
}

.pf-counter-value {
    display: table-cell;
    vertical-align: middle;
}
@media all and (min-width:461px) and (max-width:519px)
    {
  .fbwithcount
  {
    width:100%;
  }
  .fbwithcount #fbWrapper
  {
    width:79%;
  }
}
@media all and (min-width:520px) and (max-width:650px)
    {
  .fbwithcount
  {
    width:100%;
  }
  .fbwithcount #fbWrapper
  {
    width:84%;
  }
}
@media all and (max-width:465px)
    {
  .fbwithcount
{
  width:80%;
  }
  .pw-button-counter
  {
    display:none !important;
  }
  .fbwithcount #fbWrapper
  {
    margin-right:auto;
    margin-left:auto;
    width:100%;
  }
}
#fbBottomWrapper
{
  padding-left:5.25% !important;
}
@media all and (min-width:769px) and (max-width:1183px)
    {
  #fbBottomWrapper
{
  padding-left:12% !important;
}
}

.fb_iframe_widget, .fb_iframe_widget iframe, .fb_iframe_widget span:first-child
{
  width:100%!important;
}

@media all and (max-width:416px) and (max-height:600px)
    {
  .dark-div .navbar-toggle
  {
    padding:8px !important;
    margin:2px 0px 0px 15px !Important;
  }
  .logo img
  {
    
    margin-top:0px !important;
    width:auto !important;
  }
  .logo
  {
    
  }
  a.logo
  {
    margin-top:2px !important;
  }
  .navbar
  {
  min-height: 40px;
}
}

@media all and (max-width:900px)
{
.aligncenter
{
margin:0px auto !important;
}
}
.hideonsmall
{
  display:inline-block; 
  width:220px; 
  padding-top:6px; 
  font-size:14px; 
  color:#4e5665; 
  font-weight:normal; 
  float:right;
}
.likecenters
{
  display:inline-block; 
  width:150px; 
  float:right;
}
@media all and (max-width:765px)
{
	.hideonsmall
  {
    display:none !important;
  }
}
@media all and (max-width:455px)
{
  .likecenters
  {
    display:none;
  }
}
.footer_social
{
  float:left;
}
.footer_social li
{
  list-style:none;
  float:left;
  margin-left:10px;
}
.footer_social li a
{
  color:#202020;
  width:25px; height:25px;
  border-radius:50%;
  display:inline-block;
  text-align:center;
  background:#e9e9e9;
  vertical-align:middle;
}
.footer_social li a.fbme:hover
{
  background:#336aa6;
}
.footer_social li a.twitterme:hover
{
  background:#00c2f6;
}
.footer_social li a:hover
{
  color:#fff;
}
.footer_social li i 
{
  
  line-height:20px;
  font-size:17px;
  padding:none;
  margin:none;
  
}
.fa-facebook::before
{
  position:absolute;
  top:6px;
  left:8.5px;
}
.fa-twitter::before
{
  position:absolute;
  top:5.5px;
  left:6px;
}
.row-copyright
{
  background:#202020;
}
@media all and (max-width:767px)
    {
  .footerlg img
  {
    float:none !important; clear:both;
    margin:0px auto;
  }
}
#bottom-nav
{
  padding-bottom:3px;
}

.pop-layout-v .pop-inside ul{margin:0; padding:0;}
.pop-layout-v .pop-inside ul li{padding-left:0;}

@media(max-width:1200px){
	.pop-layout-v .pop-inside-5 ul{margin:0 auto; padding:0; max-width:356px;}
	.pop-layout-v div.pop-inside ul li img { margin:0 auto!important; float:none;}
	div.pop-inside ul li a{display: block!important; text-align:left!important;}
	.pop-layout-v div.pop-inside ul li .pop-overlay{display:block!important; margin:0 auto!important;    width: 100% !important; padding:5px 0!important}
.pop-inside-17.pop-inside > ul{margin: 0 auto; padding: 0;max-width: 356px;}
#text-34 .adcenter img{width:356px; height:auto;}
	
}

@media (max-width:480px){
	.pop-layout-v div.pop-inside ul li img { margin:0 auto!important; float:none;}
	.pop-layout-v div.pop-inside ul li .pop-overlay{display:block!important; margin:0 auto!important;    width: 100% !important;}
.pop-inside-17.pop-inside > ul{margin: 0 auto; padding: 0;max-width: 356px;}
#text-34 .adcenter img{width:100%; height:auto;}


}


@media (min-width:1025px){
   .smart-box-content .smart-item .row .col-md-3{min-height: 270px; width: 33.3%;}
   .smart-box-content .smart-item .row .col-md-3 .item-thumbnail img{height:auto;}
.smart-box-content .smart-item .row .col-md-3:last-child{display:none;}
.mobileno .video-item .item-thumbnail img{height: 160px !important; object-fit: cover;}
}

@media (min-width: 1200px){

   #top-nav .navbar-inverse {padding-bottom:10px; padding-top:10px; }
}

@media(max-width: 768px) {
    #new-top-ad {
  margin-top:65px; }
  #content {
    margin-top: 5px;!important;
    }


