/**
 * Image Store - Front-end
 *
 * @file pop-widget.css
 * @package Popular Widget
 * @author Hafid Trujillo
 * @copyright 20010-2013
 * @filesource  wp-content/plugins/image-store/_css/pop-widget.css
 * @since 0.5.0
 */

ul.pop-widget-tabs {
    list-style: none;
    clear: both;
    width: 100%;
    border: none;
    margin: 0!important;
    padding: 0!important;
}
ul.pop-widget-tabs li {
    padding: 0;
    float: left;
    display: none;
    line-height: 30px;
    font-weight: bold;
    margin: 0 1px 1px 0;
    font-size: 11px;
    list-style: none;
    cursor: pointer;
}
ul.pop-widget-tabs li a {
    float: left;
    display: block;
    padding: 0 5px;
    background: #fff;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -.05em;
}
ul.pop-widget-tabs li a {
    display: none;
    padding: 0 3px;
    font-size: 11px
}
ul.pop-widget-tabs.pop-widget-tabs-3 li span,
ul.pop-widget-tabs.pop-widget-tabs-4 li span,
ul.pop-widget-tabs.pop-widget-tabs-5 li span {
    display: none
}
ul.pop-widget-tabs li a:hover,
ul.pop-widget-tabs li a.active,
ul.pop-widget-tabs li a:active,
ul.pop-widget-tabs li a:focus {
    text-decoration: none
}
div.pop-inside {
    clear: both;
    padding: 0;
    border: 1px solid #fff;
    margin: 5px 0px 0px;
}
div.pop-inside ul {
    border: none;
    padding: 0;
    display: block;
    list-style: none;
    position: relative;
    margin: 0;
}
div.pop-inside ul li {
    margin: 0;
    list-style: none;
    position: relative;
    padding: 8px 5px;
}
div.pop-inside ul li .entry-summary {
    clear: none;
    display: block;
    margin: 0 0 5px;
    padding: 0;
    font-size: .9em;
}
div.pop-inside ul li .pop-title {
    clear: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 0;
}
div.pop-inside ul li .pop-summary {
    display: block;
}
div.pop-inside ul li a {
    cursor: pointer;
    text-decoration: none;
    font-weight: normal
}
div.pop-inside ul li:hover,
div.pop-inside ul li:active,
div.pop-inside ul li:focus {
    background: none
}
div.pop-inside ul li a:hover,
div.pop-inside ul li a:active,
div.pop-inside ul li a:focus {
    text-decoration: none;
}
div.pop-inside ul li p {
    margin: 0;
    padding: 0;
}
div.pop-inside ul li img {
    display: block;
    margin: 0 auto;
    height: auto
}
div.pop-inside br.pop-cl {
    clear: both;
    content: '';
    display: block;
}
div.pop-inside br.pop-cl:after,
div.pop-inside br.pop-cl:before {
    content: ''
}
div.pop-inside ul li .pop-overlay {
    display: block;
    bottom: 0;
    opacity: .8;
    display: block;
    padding: 5px;
    background-color: #444;
    position: absolute;
    display:block;
}
div.pop-inside ul li .pop-rating {
    float: left;
    width: 12px;
    color: #FFF;
    font-size: .9em;
    padding: 0 3px;
    display: block;
    margin-right: 5px;
    text-align: center;
    line-height: 120%;
    background-color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.pop-inside ul li:last-child {
    border-bottom: none;
    margin: 0;
}
.pop-layout-v div.pop-inside ul li .pop-overlay {
    opacity: 1;
    display: inline !important;
    padding: 0;
    background: none;
    position: static;
 }
.pop-layout-v div.pop-inside ul li img {
    margin: 0;
    float: left;
    height: auto;
    margin-right: 10px;
}
div.pop-inside ul.wp-tag-cloud {
    width: auto;
    height: auto;
    padding: 5px 8px !important;
}
div.pop-inside ul.wp-tag-cloud li {
    padding: 0;
    width: auto;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    border-bottom: none;
}
div.pop-inside ul.wp-tag-cloud a:hover,
div.pop-inside ul.wp-tag-cloud a:focus,
div.pop-inside ul.wp-tag-cloud a:active {
    text-decoration: underline
}