body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, img, blockquote, pre, form, fieldset, legend, input, button, textarea, hr, span {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    width: 100%;
    height: 100%;
    color: #333;
    font: 12px/1.25 Arial, Helvetica, sans-serif
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

li, ul, ol, dl, dd, dt {
    list-style: none
}

em, i {
    font-style: normal
}

b {
    font-weight: 100
}

fieldset, img {
    border: 0
}

img {
    vertical-align: top
}

input, button {
    outline: none
}

select, input {
    vertical-align: middle
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: springgreen;
    text-decoration: none
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}

* html .clearfix {
    height: 1%
}

.clearfix {
    zoom: 1
}

.clear {
    clear: both;
    font: 0/0 Arial;
    visibility: hidden
}

.left, .fl {
    float: left
}

.right, .fr {
    float: right
}

.f700 {
    font-weight: 700
}

.f100 {
    font-weight: 100
}

.f13 {
    font-size: 13px
}

.f12 {
    font-size: 12px
}

.f14 {
    font-size: 14px
}

.f15 {
    font-size: 15px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f20 {
    font-size: 20px
}

.fyahei {
    font-family: "Microsoft YaHei", "??"
}

.fhei {
    font-family: "??"
}

.ta_l {
    text-align: left
}

.ta_c {
    text-align: center
}

.ta_r {
    text-align: right
}

.pos_rel {
    position: relative
}

.pos_abs {
    position: absolute
}

.pos_fix {
    position: fixed
}

.mar10 {
    margin: 10px
}

.mar_t5 {
    margin-top: 5px
}

.mar_t10 {
    margin-top: 10px
}

.mar_t15 {
    margin-top: 15px
}

.mar_t20 {
    margin-top: 20px
}

.mar_t30 {
    margin-top: 30px
}

.mar_r10 {
    margin-right: 10px
}

.pad10 {
    padding: 10px
}

.pad_b5 {
    padding-bottom: 5px
}

.pad_b10 {
    padding-bottom: 10px
}

.pad_b20 {
    padding-bottom: 20px
}

.indent {
    text-indent: 2em
}

.cursor {
    cursor: pointer
}

.hd {
    padding-left: 10px;
    height: 30px;
    background: #2D2D2D;
    line-height: 30px;
    position: relative;
    z-index: 999
}

.hd .translate {
    float: left;
    display: inline-block;
    padding: 0 7px;
    color: #ccc;
    font-size: 13px;
    cursor: pointer;
    border-top: 2px solid #2D2D2D;
    height: 27px;
    line-height: 27px
}

.hd .translate:hover {
    background-color: #4C4C4C;
    border-top: 2px solid #4C4C4C
}

.translate-word {
    visibility: hidden
}

.hd a.selected {
    color: #fff;
    font-weight: bold;
    border-top: 2px solid #DD4B39
}

.hd a.selected:hover {
    background-color: #4C4C4C;
    border-top: 2px solid #DD4B39
}

.s-box {
    width: 118px;
    height: 111px;
    margin: 90px auto 5px
}

#ban-tab{
    margin-top: 20px;
    height: 130px;
}

.search-box {
    width: 666px;
    margin: 20px auto 25px;
    height: 36px;
    line-height: normal;
}

.search-box *, .search-box *:after, .search-box *:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.search-box input.q {
    height: 23px;
    line-height: 28px \9;
    width: 550px;
    overflow: hidden;
    padding: 3px 6px 3px;
    color: #333;
    float: left;
    text-align: left;
    background: #FFF;
    font-size: 17px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.search-box input.q:hover {
    border-color: #b9b9b9;
    border-top-color: #a0a0a0;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1)
}

.search-box input.q:focus {
    border: #4d90fe solid 1px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2)
}

.search-box .btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    display: inline;
    vertical-align: top;
    border-radius: 2px;
    width: 90px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    margin-left: 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center
}

.search-box .btn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333
}

.autocomplete-suggestions {
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    background: #FFF;
    overflow: auto;
    margin-left: 1px
}

.autocomplete-suggestion {
    font-size: 14px;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden
}

.autocomplete-selected {
    background: #F0F0F0
}

.autocomplete-suggestions strong {
    font-weight: normal
}

.container-hp {
    width: 100%;
    min-height: 100%;
    _height: 100%;
    position: relative;
}

.hd {
    padding-left: 10px;
    height: 30px;
    background: #2D2D2D;
    line-height: 30px;
    position: relative;
    z-index: 999
}

.hd .translate {
    float: left;
    display: inline-block;
    padding: 0 7px;
    color: #ccc;
    font-size: 13px;
    cursor: pointer;
    border-top: 2px solid #2D2D2D;
    height: 27px;
    line-height: 27px
}

.hd .translate:hover {
    background-color: #4C4C4C;
    border-top: 2px solid #4C4C4C
}

.translate-word {
    visibility: hidden
}

.hd a.selected {
    color: #fff;
    font-weight: bold;
    border-top: 2px solid #DD4B39
}

.hd a.selected:hover {
    background-color: #4C4C4C;
    border-top: 2px solid #DD4B39
}

.coupon-in {
    float: left;
    position: relative
}

.coupon-in .couponTalk {
    position: absolute;
    display: table;
    width: 255px;
    height: 86px;
    background: url(http://a.thanksearch.com/ftpup/vres/v2/images/cuponkit/images/cuponkitfilter3.png) no-repeat 0 3px;
    z-index: 1000;
    left: -3px;
    top: 28px
}

.coupon-in .closeCoupon {
    position: absolute;
    width: 21px;
    height: 18px;
    right: 7px;
    top: 10px;
    z-index: 1001
}

.coupon-in .Coupombubble {
    overflow: hidden;
    display: table-cell;
    width: 224px;
    vertical-align: middle;
    line-height: 17px;
    padding: 8px 15px 0 10px;
    color: #969494
}

.coupon-in .couponNewIcon {
    position: absolute;
    width: 42px;
    height: 12px;
    top: 5px;
    background: url(http://a.thanksearch.com/ftpup/vres/v2/images/common/images/couponQP.png) no-repeat;
    background-size: 30px 14px
}

.gotoCupom {
    float: left;
    padding: 0 7px;
    color: #ccc;
    font-size: 13px;
    cursor: pointer;
    border-top: 2px solid #2D2D2D;
    height: 27px;
    line-height: 27px
}

.gotoCupom:hover {
    color: #ccc;
    background-color: #4C4C4C;
    border-top: 2px solid #4C4C4C
}

.hot-icons {
    margin-top: 40px;
    height: 220px;
    overflow: hidden
}

.pic-popular-list {
    clear: both;
    overflow: hidden;
    width: 660px;
    margin: 0 auto
}

.site-link-image {
    background-repeat: no-repeat
}

.pic-popular-images li {
    float: left;
    width: 94px;
    height: 64px;
    display: inline;
    position: relative;
    text-align: center;
    margin: 8px 0 0 0;
    padding: 8px 0;
    background: #fff;
    -moz-transition: background 50ms ease-in;
    -webkit-transition: background 50ms ease-in;
    -o-transition: background 50ms ease-in;
    transition: background 50ms ease-in
}

.pic-popular-images li a {
    display: block;
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.pic-popular-images li:hover {
    background: #f9f9f9
}

.pic-popular-images li i {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.hot-web-intro {
    display: block;
    height: 36px;
    font-weight: normal;
    line-height: 36px;
    background: #fff;
    border: #dedede solid 1px
}

.hot-web-intro li {
    float: left;
    display: inline;
    cursor: pointer;
    line-height: 36px;
    height: 36px;
    padding: 0 20px;
    font-size: 13px;
    border-right: #dedede solid 1px;
    position: relative
}

.hot-web-intro .cur, .hot-web-intro .select {
    color: #0063C6;
    font-weight: 700;
    height: 36px;
    background: #fff;
    position: relative;
    top: 0;
    border-bottom: #fff solid 1px
}

.spread-intro {
    float: left;
    width: 360px;
    margin-top: 15px
}

.intro-scroll-left {
    width: 720px;
    position: absolute;
    left: 0
}

.pic-popular-images {
    width: 660px;
    float: left
}

.intro-scroll-out {
    position: relative;
    height: 310px;
    overflow: hidden
}

.hot-web-intro li {
    position: relative
}

.pic-popular-ul {
    display: inline
}

.footList {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 680px;
    height: 40px;
    z-index: 9999;
    text-align: left;
    background: #f2f2f2;
    border-top: #e4e4e4 solid 1px;
    line-height: 40px
}

.footList a, .footList .clang {
    padding-left: 27px;
    font-size: 13px;
    color: #666
}

.footList .selector .more {
    font-size: 13px;
    color: #666;
    padding-left: 6px
}

.footList a:hover, .footList .selector .more:hover {
    text-decoration: underline
}

.langs {
    float: right;
    margin-right: 10px;
    position: relative;
    z-index: 9999
}

.langs .selector .more, div.langs .selector .icon {
    cursor: pointer
}

.langs .selector .icon {
    position: relative;
    left: 5px;
    display: inline-block;
    width: 0;
    top: 3px;
    height: 0;
    margin: 12px 5px 0 0;
    border: 4px dashed transparent;
    border-top: 4px solid #000
}

.langs .options {
    position: absolute;
    right: 0;
    bottom: 46px;
    background: #fff;
    width: 128px;
    display: none;
    border: #ddd solid 1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.langs .options a {
    display: block;
    line-height: 24px;
    height: 24px;
    padding-left: 10px;
    color: #666;
    text-decoration: none
}

.langs .options a:hover {
    background: #f4f4f4
}

#humorHidden {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100
}

#nextPage {
    position: fixed;
    right: 0;
    bottom: 42px;
    z-index: 100
}

.iframe-ad {
    width: 300px;
    height: 340px;
    margin: 25px auto 0
}

@media screen and (max-height: 500px) {
    .footList {
        position: static;
        width: 100%;
        min-width: 680px;
        height: 40px;
        text-align: left;
        background: #f2f2f2;
        border-top: #e4e4e4 solid 1px;
        line-height: 40px;
        color: #999
    }

    #f-note {
        display: none;
    }
}

.loading, .ajax-load {
    min-height: 80px
}

.s-box {
    width: 118px;
    height: 111px;
    margin: 90px auto 5px
}

.search-box {
    margin-top: 25px
}

.im-quick-links {
    height: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
    margin-right: 13px;
    padding-left: 138px;
}

.scanfile {
    float: left;
    height: 20px;
    width: 18px;
    margin-top: 10px;
    margin-left: 12px;
}

.scanwebsite {
    float: left;
    height: 20px;
    width: 18px;
    margin-top: 10px;
    margin-left: 12px;
}

.im-link {
    float: left;
    height: 20px;
    width: 18px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 100px;
}

.im-span {
    color: #ccc;
    font-size: 13px;
    float: left;

}

.shine {
    display: block;
    background: url("/img/shine.png") -60px -80px no-repeat;
    transition-property: all;
    transition-duration: .8s;
    z-index: 50;
}

.shine:hover {
    background-position: 100px 100px;
}

.shine-search {
    display: block;
    background: url("/img/search.png") -64px -64px no-repeat;
    transition-property: all;
    transition-duration: .5s;
    z-index: 500;
}

.shine-search-item:hover img {
    opacity: 0.7;
}

.shine-search:hover {
    background-position: 0 0;
}

.h-link {
    color: #ccc;
    font-size: 13px;
    float: right;
    display: block;
    margin-left: 20px;
}

#f-note {
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 50px;
    color: #a0a0a0;
    font-size: 10px;
}