@media screen and (max-width: 1280px) {
    .tb-list-name {
        display: none !important;
        width: 0 !important;
    }
}

@media screen and (max-width: 670px) {
    body {
        overflow-x: auto !important;
    }
}

@media screen and (max-height: 287px) {
    body {
        overflow-x: auto !important;
    }
}

@media screen and (max-width: 1003px) {
    #widgets-area {
        display: none !important;
    }
}

@media screen and (max-width: 690px) {
    #left-widgets-area {
        display: none !important;
    }
}

@media screen and (max-height: 335px) {
    body {
        overflow-y: auto !important;
    }
}

@media screen and (max-height: 735px) {
    .footList {
        position: static;
        width: 100%;
        min-width: 680px;
        height: 40px;
        text-align: left;
        background: #dfdfdf;
        border-top: #e4e4e4 solid 1px;
        line-height: 40px;
        color: #999
    
    }
    #f-note{
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    min-width: 455px;
}

#toolbarBody {
    position: relative;
}

#toolbarBody, #toolbarBody *, #searchForm .q {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

div[role="tabpanel"] .panel-body{
    margin: 0;
    padding: 0;
}

#accordion-media{
    padding-bottom: 0;
    margin-bottom: 0;
}

.hidden,
.collapsed .collapsible {
    display: none;
}

#widgets-area {
    float: right;
}

#left-widgets-area {
    float: left;
}

#left-widgets-area .close_btn {
    width: 16px;
    height: 16px;
    background-image: url('/img/close_btn.png');
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 5px;
}

#left-widgets-area .dropdown-menu .dropdown_list {
    height: 327px;
    background-color: #f7f7f7;
    padding-top: 2px;
    border-bottom: 1px solid #d7d7d7;
}

#left-widgets-area .carousel-outer {
    position: relative;
    padding-top: 2px;
}

#left-widgets-area a.left.carousel-control {
    display: inline;
    background: url('/img/arrow-left.png') center center no-repeat;
    z-index: 1000;
}

#left-widgets-area a.right.carousel-control {
    display: inline;
    background: url('/img/arrow-right.png') center center no-repeat;
    z-index: 1000;
}

#left-widgets-area .carousel-control, #left-widgets-area .carousel-control:focus {
    opacity: .5;
    transition: opacity 100ms linear;
}

#left-widgets-area .carousel-control {
    width: 46px;
    height: 323px;
    display: none;
}

#left-widgets-area .carousel-music {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
}

#left-widgets-area .carousel-music > .carousel-inner {
    width: 20000em;
    max-height: 450px;
    cursor: default;
    margin-left: 4px;
}

#left-widgets-area .row2 {
    height: 325px;
    width: 102px;
    float: left;
    margin-left: 0;
    margin-top: 0;
}

#left-widgets-area .album {
    display: inline-block;
    width: 99px;
    height: 161px;
    float: left;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 2px;
    border-width: 1px;
}

#left-widgets-area .itemDialog {
    width: 99px;
    height: 158px;
    float: left;
    cursor: pointer;
    overflow: hidden;
}

#left-widgets-area .itemDialog:hover img {
    border: 5px #16aae7 solid;
    box-sizing: border-box !important;
}

.widgets-inner {
    -webkit-transition: left 0.4s linear;
    white-space: nowrap;
    width: auto;
    left: 0;
    padding-right: 20px;
}

#search-area {
    float: left;
    background-color: inherit;
}

/* Search button */
#search-area > .toolbar-item:last-child {
    margin-left: 5px;
}

#search-area > .toolbar-item:last-child .icon {
    padding-left: 0;
}

#arrow-container {
    visibility: hidden;
    float: right;
}

#rightSide-container {
    float: right;
    padding: 0 5px;
    border-left: 1px solid #B6BAC0;
}

#toolbar-item-container {
    width: 100%;
    height: 27px;
    padding: 1px 2px;
    background-color: #dfdfdf;
    border-bottom: 1px solid #b6bac0;
    z-index: 100000;
    display: block;
}

#toolbar-item-container.part-of-page {
    height: 28px;
    border-top: 1px solid #dfdfdf;
    border-bottom: none;
}

#left-widgets-area .dropdown-menu {
    position: absolute !important;
    width: 100% !important;
    display: block !important;
    padding: 0;
    border: 0;
    margin: 0;
    top: -400px;
    opacity: 0;
    left: 0;
    right: 0;
    overflow: hidden !important;
    transition: top .5s ease-in-out, opacity .5s ease-in-out, z-index .5s linear;
    z-index: -1000;
}

#left-widgets-area .accordion-tab{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

#left-widgets-area .widgets-inner .dropdown-menu {
    text-align: center;
}

#left-widgets-area .widgets-inner.open .dropdown-menu {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    border: 0;
    padding: 0;
    top: 100%;
    opacity: 1;
    transition: top 1.5s ease-in-out, opacity 1.5s ease-in-out, z-index 1.5s linear;
    z-index: 100;
}

#searchfor {
    display: inline-block;
    border: 1px solid #AAA;
    padding: 2px 2px 2px 35px;
    background: #FFF;
    -webkit-border-radius: 2px;
    -webkit-padding-start: 32px;
    vertical-align: middle;
    position: relative;
    top: 2px;
    height: 16px;
    font-size: 11px;
    min-width: 320px;
}

.loader_list {
    background: url('/img/loading.gif') center center no-repeat;
    width: 100%;
    height: 330px;
}

.tb-search-btn {
    opacity: 0.8;
    cursor: pointer !important;
}

.tb-search-btn img {
    vertical-align: top !important;
}

.tb-search-btn:hover {
    opacity: 1;
}

.no-select {
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-border {
    border: none !important;
}

.no-border:focus {
    outline: none;
}

.pointer {
    cursor: pointer;
}

#searchCombo {
    float: left;
}

#searchCombo button {
    border: 0;
}

#searchCombo button:hover {
    cursor: pointer;
}

#searchCombo div, #searchCombo button {
    position: absolute;
    z-index: 1005;
    top: 1px;
    left: 2px;
}

#searchMenu {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 23px;
    height: 22px;
    z-index: 10;
    border: none;
    background-color: transparent;
}

#searchfor.extract-search-icon {
    -webkit-padding-start: 3px;
}

#sbutton {
    vertical-align: middle;
}

#accordion-media .panel-default>.panel-heading{
    background-color: lavender;
}

.toolbar-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    cursor: default;
    -webkit-transition: background-color 0.2s linear;
    position: relative;
}

.toolbar-item .icon, .toolbar-item .label-item {
    vertical-align: middle;
}

.toolbar-item .label-item, .toolbar-item .arrow {
    margin-left: 4px;
    height: 12px;
    text-shadow: 1px 0 #CCC;
}

.toolbar-item.button {
    -webkit-border-radius: 4px;
    -webkit-user-select: none;
    border: 1px solid #dfdfdf;
    color: #444;
    padding: 0 0;
    background-color: #dfdfdf;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2px;
}

.toolbar-item.button div {
    float: left;
}

.toolbar-item.button .icon {
    padding: 0 0 3px 5px;
}

.toolbar-item.no-label .icon {
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar-item.button .label-item {
    padding-right: 5px;
}

.toolbar-item:hover .arrow {
    border-left: 1px solid #c5c5c5;
}

.toolbar-item.button.active,
.toolbar-item.button:hover {
    background-color: #f3f5f8;
    border: 1px solid #c5c5c5;
}

#search-area .toolbar-item:first-child .arrow {
    background-position: center right;
    padding-left: 10px;
    border: 0;
}

#search-area .toolbar-item:first-child .arrow:hover {
    border: 0;
}

#toolbar-item-container .flare {
    -webkit-transition-property: background-color, border;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    background-color: #FFC9EE;
    border: 1px solid #FF77D2;
}

.toolbar-item .arrow {
    -webkit-border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    position: relative;
    background: url('/img/down_arrow.png') no-repeat transparent center center;
    border-left: 1px solid transparent;
    float: right;
    width: 15px;
    height: 25px;
    line-height: 25px;
}

.toolbar-search-item {
    margin-left: 0 !important;
}

.ticker {
    overflow: hidden;
}

.ticker .items {
    position: absolute;
    top: 0;
}

.ticker .item {
    cursor: pointer;
}

.modal-content {
    width: 100%;
}

.watch-movies-body {
    height: 417px;
}

.watch-movies-body {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

.modal-body {
    height: 470px;
    padding: 0;
    background-color: #FCFCFC;
}

.watch-movies-gallery {
    width: 153px;
    height: 400px;
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
}

.watch-movies-gallery .image {
    width: 127px;
    height: 190px;
    position: relative;
    top: 13px;
    left: 13px;
    overflow: hidden;
    background: url(/img/loader-mini.gif) center center no-repeat;
}

.homepage_link {
    position: absolute;
    top: 268px;
    left: 11px;
    color: #608CE6;
}

.imdb_link {
    position: absolute;
    top: 248px;
    left: 11px;
    color: #608CE6;
}

.trailer_link {
    position: absolute;
    top: 228px;
    left: 11px;
    color: #608CE6;
}

.watch_movies_info {
    width: 505px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 153px;
    border-bottom: 1px solid #D7D7D7;
}

.info_title {
    width: 450px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info_star {
    width: 240px;
    height: 18px;
    position: absolute;
    top: 45px;
    left: 20px;
}

.info_details {
    height: 18px;
    top: 70px;
    font-size: 14px;
    text-transform: capitalize;
}

.info {
    width: 350px;
    left: 20px;
    position: absolute;
}

.info_actors, .info_description{
    white-space: normal;
}

.info_description {
    height: 120px;
    top: 98px;
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    word-wrap: break-word;
    width: 350px;
}

.info_affiliation{
    top: 230px;
}

.info_director {
    height: 16px;
    top: 293px;
    font-size: 12px;
}

.info_actors {
    height: 33px;
    top: 310px;
    font-size: 12px;
    overflow: hidden;
}

.modal-dialog{
    width: 658px;
}

.modal-dialog .close_modal_btn {
    width: 14px;
    height: 14px;
    background-image: url('/img/close_btn.png');
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 7px;
}

.watch_movies_info{
    white-space: nowrap;
}

.watch-list{
    background-color: #fcf8e3;
    position: absolute;
    width: 100px;
    top: 70px;
    right: 15px;
    list-style: none;
}

.watch-list li{
    margin: 0 0 5px 0;
    padding: 0;
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.watch-list li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
}

.watch-list li a img{
    border: none;
    width: 100px;
    height: 25px;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 0.75;
}

.watch-list li:hover a img{
    opacity: 1;
    transition: opacity 100ms linear;
}

.credits{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.pointer{
    cursor: pointer;
}

@-webkit-keyframes greenPulse {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

a.green.button {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

a.info_slink{
    width: auto;
    top: 250px;
    left: 15px;
    padding: 5px;
    color: blue;
    text-decoration: underline;
    font-size: 10pt;
    font-weight: bold;
    position: absolute;
}