.invisible{visibility:hidden;}.hidden{display:none;}::-webkit-input-placeholder{color:#C3BFBF;opacity:1;}::-moz-placeholder{color:#C3BFBF;opacity:1;}:-ms-input-placeholder{color:#C3BFBF;opacity:1;}:-moz-placeholder{color:#C3BFBF;opacity:1;}::placeholder{color:#C3BFBF;opacity:1;}.clearfix{clear:both;}html{height:100%;width:100%;overflow:hidden;}body{padding:0;margin:0;width:100%;height:100%;font-family:'Lato',sans-serif;background:darkgrey;overflow-y:auto;overflow-x:hidden;}img{max-width:100%;padding:0;margin:0;}a{padding:0;margin:0;text-decoration:none;}.wrapper{padding:0;margin:0 auto;width:100%;background:white;box-sizing:border-box;min-height:100%;}.maincontainer{max-width:1100px;width:100%;padding:0;margin:0 auto;box-sizing:border-box;}#main{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:1100px;width:100%;padding:2em;margin:0 auto;}.top_bar{padding:3px 15px;margin:0;width:100%;background-size:100% 480px;background-position:top center;box-sizing:border-box;}.tos .top_bar{margin-bottom:0;}.bar{max-width:1100px;padding:0;margin:0;width:100%;}.bar_lft{padding:3px 0;margin:0 auto;max-width:340px;width:100%;float:left;}.exit_page .bar_lft{float:none;}.home_page .bar_lft{float:none;margin:0 auto;}.home_page.mode2 .bar_rght{position:relative;float:right;text-align:right;width:57.2%;width:calc(100% - 373px);max-width:none;padding:10px 0;}.home_page.mode2 .bar_rght:after{position:absolute;content:url(/img/red-arrow-dn-l.png);right:0;bottom:-216px;z-index:3;}.home_page.mode2 .time_txt{font-family:'Oswald',sans-serif;font-weight:700;color:#3d3d3d;font-size:30px;text-transform:capitalize;text-align:center;float:none;display:inline-block;width:auto;max-width:309px;vertical-align:top;}.red{color:red;}.flip-clock{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;width:260px;height:130px;background:#3d3d3d;float:none;border-radius:10px;vertical-align:middle;color:#b1afaf;text-align:center;text-transform:uppercase;padding:20px 0;}.flip-clock .mins,.flip-clock .secs{display:inline-block;margin:0 10px;height:100%;}.flip-clock h3{margin-top:0;margin-bottom:6px;}.flip-clock .num-wrap{width:87px;height:60px;padding:0;font-size:0;}.flip-clock .num-left,.flip-clock .num-right{width:41px;height:60px;margin:0;display:inline-block;}.flip-clock .num-left{float:left;}.flip-clock .num-right{float:right;}@media(max-width:999px){
    .home_page .bar_rght{
        display: none;
    }
}
@media(min-width:1000px){
    .home_page.mode2 .bar_lft{
        float: left;
    }
}
.bar_rght{
    padding: 0;
    margin: 0;
    max-width: 400px;
    width: 100%;
    float: right;
    margin-bottom: -12px;
    margin-top: 23px;
}
.time_txt{
    padding: 10px 0 0 0;
    margin: 0;
    float: left;
    max-width: 225px;
    width: 100%;
    font-size: 18px;
    color: #71CDD5;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
}
.time{
    padding: 0;
    float: right;
    margin: 0;
    max-width: 135px;
    width: 100%;
}
.banner{
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(#4D4E4F,#060606);
    /* background-size: cover; */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.banner_content{
    padding: 0;
    margin: 0;
    max-width: 1100px;
    width: 100%;
}
.banner_heading{
    padding: 30px 0 18px 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.banner_heading h5{
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.watch_txt{
    padding: 15px 0 0 0;
    margin: 0;
    max-width: 100%;
}
.banner_row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 4px;
}
.banner_lft{
    padding: 0 10px 0 5px;
    margin: 0;
    max-width: 622px;
    /*width: 100%;*/
    float: left;
	
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.banner_rght{
    padding: 0;
    margin: 0;
    float: right;
    /*width: 100%;*/
    max-width: 450px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flag{
    padding: 0 0 10px 0px;
    margin: 0 auto;
    /* align-self: flex-start; */
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
.flag_img{
    float: left;
    max-width: 51px;
    width: 100%;
    padding: 0 8px 0 0;
    margin: 0;
}
.flag p{
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    font-weight: 700;
    line-height: 41px;
    display: inline-block;
}
.form{
    padding: 0;
    margin: 0;
    max-width: 444px;
    width: 100%;
    border: 3px solid #ffde00;
    border-radius: 10px;
    background: #6FC8D0;
    box-shadow: inset 0 0 130px #306B77;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form{
    width: 90%;
    padding: 20px 5% 10px 5%;
    margin: 0;
}
.form_heading{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.form_heading p{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.form_heading h2{
    font-size: 33px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}
.banner_rght .form{
    margin-bottom: 0;
}
.fields{
    width: 100%;
    padding: 18px 0 12px 0;
    margin: 0 auto;
    max-width: 403px;
}
.form_control{
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;
}
.input_field{
    padding: 15px 4%;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 400;
    width: 100%;
	-webkit--webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
	-moz--webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
}
.btn_form{
    padding: 20px 0;
    margin: 0;
    width: 100%;
    max-width: 403px;
    background: url(/img/btn_form.png) no-repeat;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-size: 100% 100%;
}
.btn_form:hover{
    background: url(/img/btn_form_hover.png) no-repeat;
    background-size: 100% 100%;
}
.section_1{
    padding: 70px 0 65px 0;
    margin: 0;
    background: white;
    width: 100%;
}
.section1_heading{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1080px;
}
.section1_content{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1100px;
}
.section1_heading p{
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 31px;
    text-transform: uppercase;
    color: #1c1c1c;
    font-weight: 400;
    /* max-width: 834px; */
    float: left;
    line-height: 1;
    margin-left: 20px;
}

.section_2{
    padding: 70px 20px 65px 20px;
    margin: 0;
    background: url(/img/sect_bg3.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
}
.section2_heading{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1080px;
}
.section2_content{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1100px;
}
.section2_heading p{
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 31px;
    text-transform: uppercase;
    color: #1c1c1c;
    font-weight: 400;
    /* max-width: 834px; */
    float: left;
    line-height: 1;
}
.txt_next{
    padding: 0;
    margin: 0;
    float: right;
    max-width: 240px;
    width: 100%;
}
.videos{
    padding: 40px 0 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
.video_colm{
    position: relative;
    padding: 0;
    margin: 15px;
    /*! float: left; */
    max-width: 516px;
    width: 100%;
    font-size: 0;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}
.video_colm_content_wrap{
    background: rgba(0,0,0,0.6);
    padding: 10px;
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*
.video_colm_content_wrap:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}*/
.video_colm_content{
   /* display: inline-block;
    vertical-align: middle;*/
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.video_colm_content h5{
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
.video_colm_content p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.video_colm_content h3{
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #fee400;
    font-weight: 700;
}
.section_3{
    padding: 70px 0;
    margin: 0;
    width: 100%;
}
.section3_content{
    padding: 0;
    margin: 0;
    max-width: 1100px;
    width: 100%;
}
.section3_heading{
    max-width: 417px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.section3_heading p{
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #232c3b;
    text-align: center;
    line-height: 1;
}
.question_text{
    padding: 0;
    margin: 0;
}
.q_bg {
    padding: 13px 0 19px 18px;
    max-width: 80px;
    margin: 1px 15px 1px 1px;
    width: 100%;
    float: left;
    background: url(/img/accordion_arrow.png) no-repeat;
    background-size: 100%;
    font-size: 36px;
    color: #595959;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
}
.koalapse__content h2{
    padding: 0;
    margin: 0;
    display: table-cell;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    width: 10%;
    /* line-height: 144px; */
    text-align: center;
    vertical-align: middle;
}
.footer_wrapper{
    padding: 30px 15px;
    margin: 0;
    background: #2E2E2E;
    box-sizing: border-box;
    width: 100%;
}
/*
.footer_wrapper:after{
    position: absolute;
    z-index: 0;
    content:'';
    display:block;
    height:500px;
    width: 100%;
    background: #2E2E2E;
    margin-left: -15px;
    margin-right: -15px;
}
*/
.footer_wrapper .maincontainer{
    z-index: 1;
}
.footer{
    max-width: 1010px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.copy{
    padding: 0;
    margin: 0;
    max-width: 320px;
    float: left;
}
.copy h6{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #828282;
    font-weight: 400;
}
.footer_links{
    padding: 0;
    margin: 0;
    max-width: 300px;
    float: right;
    width: 100%;
}
.footer_links ul{
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0;
}
.footer_links ul li{
    padding: 0 8px;
    margin: 0;
    list-style: none;
    display: inline;
    border-right: 1px solid #838ea1;
    font-size: 12px;
}
.footer_links ul li a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #828282;
    font-weight: 400;
}
.footer_links ul li:last-child{
    border-right: none;
    padding-right: 0;
}
.footer_links ul li a:hover{
    color: #B3B3B3;
}
.footer_sep{
    background: url(/img/footer_sep.png?1) repeat-x;
    width: 100%;
    max-width: 1010px;
    padding: 0;
    margin: 20px 0 0 0;
}
.footer p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #828282;
}
.copies {
    position: fixed;
    right: 0;
    top: 10%;
    max-width: 219px;
    width: 100%;
    display: none;
}
.right_form{
    position: fixed;
    right: 0;
    bottom: 5%;
    width: 408px;
    display: none;
}
.form2{
    padding: 0 20px;
    margin: 0;
    max-width: 365px;
    width: 100%;
    border-left: 3px solid #ffde00;
    border-bottom: 3px solid #ffde00;
    border-top: 3px solid #ffde00;
    border-radius: 10px 0 0 10px;
    background: #d73030;
    box-shadow: inset 0 0 130px #930303;
    border-right: none;
    text-align: center;
}
.input_field2{
    padding: 21px 4%;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 400;
    width: 92%;
    text-align: center;
}
.form3{
    width: 100%;
    padding: 20px 0 10px 0;
    margin: 0;
}
.btn_form2{
    padding: 20px 0;
    margin: 0;
    width: 100%;
    max-width: 345px;
    background: url(/img/btn_form2.png) no-repeat;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-size: 100%;
}
.btn_form2:hover{
    background: url(/img/btn_form2_hover.png) no-repeat;
    background-size: 100%;
}
.form_control2{
    padding: 0 4%;
    margin: 0 0 10px 0;
    width: 92%;
}
.logo2{
    padding-bottom: 20px;
}
.fields h6{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
}
#Stage_jbeeb_3{
    position: relative!important;
    float: right!important;
}
.time{
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 150px;
}
#TextBox_jbeeb_7{
    background: #2C6674;
    border-radius: 6px!important;
    font-family: 'Lato', sans-serif!important;
    font-size: 30px!important;
    max-width: 55px!important;
    width: 100%;
    height: 55px!important;
    line-height: 52px!important;
}
#Box_jbeeb_8{
    display: none;
}
#Container_jbeeb_6{
    background-image: none!important;
         font-size: 30px!important;
     max-width: 55px!important;
     width: 100%;
     height: 55px!important;
}
#TextBox_jbeeb_9{
    font-family: 'Lato', sans-serif!important;
    font-size: 13px!important;
    text-transform: lowercase!important;
    padding: 0!important;
    margin: 0!important;
    top: 60px!important;
    left: -7px!important;
    /* right: 0; */
    color: #2C6674!important;
}
#TextBox_jbeeb_11{
    background: #2C6674!important;
    border-radius: 6px!important;
    font-family: 'Lato', sans-serif!important;
    font-size: 30px!important;
    max-width: 55px!important;
    width: 100%;
    height: 55px!important;
    line-height: 52px!important;
}
#Box_jbeeb_12{
    display: none;
}
#Container_jbeeb_10{
    background-image: none!important;
         font-size: 30px!important;
     max-width: 55px!important;
     width: 100%;
     height: 55px!important;
}
#TextBox_jbeeb_13{
    font-family: 'Lato', sans-serif!important;
    font-size: 13px!important;
    text-transform: lowercase!important;
    padding: 0!important;
    margin: 0!important;
    top: 60px!important;
    right: -7px!important;
    /* right: 0; */
    color: #2C6674!important;
}
.banner2{
    margin: 0;
    padding: 0;
    /*background: url(/img/nyse.jpg) no-repeat;
    background-size: 100% 47%;*/
    width: 100%;
    background-image: linear-gradient(#4D4E4F,#060606);
    background-size: 100% 491px;
    background-repeat: no-repeat;
}
.gray_bg{
    background: #f4f4f4;
    background: linear-gradient(white, #f4f4f4 50%);
    padding: 60px 0;
    margin: -80px 0 0 0;
    width: 100%;
}
.inner_heading{
    padding: 3px 0 0 0;
    margin: 0 auto;
    /* max-width: 850px; */
    text-align: center;
    width: 100%;
}
.inner_heading p{
    color: #FADA00;
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.47;
}
.inner_heading p.world_text{
    color: white;
    font-size: 41px;
}
.mac2{
    max-width: 840px;
    padding: 0 0 0 0;
    margin: 5px auto 0 auto;
    text-align: center;
}
.flag2{
    padding: 60px 0 30px 0;
    margin: 0 auto;
    max-width: 816px;
    width: auto;
    text-align: center;
}
.flag2 p{
    font-size: 30px;
    text-align: right;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #1c1c1c;
    /* float: right; */
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}
.flag_img2{
	padding: 0;margin: 0 0.33em 0 0;max-width: 51px;
	width: 100%;vertical-align: middle;
}
.flag3{
	display: none;
}
@media(min-width:1355px){
    .flag3{
        position: absolute;
        display: block;
        right: 100%;
        margin-right: 8px;
        top: 130px;
        width: 200px;
        background: #eaeaea;
        border-radius: 10px;
        font-size: 24px;
        padding: 18px;
    }
    .flag3 p{
        margin: 0;
    }
    .flag_img3{
        margin-top: -7px;
        width: 64px;
        margin-bottom: -15px;
    }
    .flag3 .spots-remain{
        color: #e10101;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin: 11px 0;
    }
}
.form4 {
    padding: 0;
    margin: 0 auto;
    max-width: 816px;
    width: 100%;
    border: 3px solid #ffde00;
    border-radius: 10px;
    background: #6FC8D0;
    box-shadow: inset 0 0 130px #306B77;
    box-sizing: border-box;
}
.input_half{
    /* max-width: 379px; */
    padding: 0 5px 0 0;
    margin: 0;
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.input_tel_c{
    width: 25%;
    width: calc(25% - 5px);
    float: left;
}
.input_tel_c input{
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
    padding-left: 16%;
    width: 100%;
}
.input_tel_r{
    width: 70%;
    width: calc(75% - 5px);
    float: right;
}
.input_tel_r input{
    padding-left: 5.333%;
    width: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
}
.input_half2{
    /* max-width: 379px; */
    padding: 0 0 0 5px;
    margin: 0;
    float: right;
    width: 50%;
    box-sizing: border-box;
}
.fields2{
    width: 100%;
    padding: 18px 0 12px 0;
    margin: 0 auto;
    max-width: 778px;
}
.form5 {
    width: 96%;
    padding: 5px 2% 0px 2%;
    margin: 0;
}
.btn_form3{
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 484px;
    background: url(/img/join_btn.png) no-repeat;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-size: 100%;
        margin-left: 19%;
    margin-right: 19%;
    margin-top: 10px;
}
.btn_form3:hover{
    background: url(/img/join_btn_hover.png) no-repeat;
    background-size: 100%;
}
.about_wrapper{
    padding: 0;
    width: 100%;
    margin: 60px 0 0 0;
    overflow: hidden;
    position: relative;
}
.about_wrapper .maincontainer {position:relative;}
.white_bg{
    position: absolute;
    top: 0;
    left: 160px;
    z-index: 1;
    height: 100%;
    width: 200%;
    background: #fff;
}
.about_left {
    float: left;
    padding: 67px 0 0 0;
    margin: 0;
    max-width: 284px;
    width: 100%;
    z-index: 99999;
    position: relative;
}
.about_right {
    padding: 50px 0 30px 0;
    margin: 0;
    float: right;
    max-width: 762px;
    width: 100%;
    z-index: 9999;
    position: relative;
}
.about_right h3{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: #7f7f7f;
}
.about_right h3 span{
    font-weight: 700;
    color: #232c3b;
    text-transform: uppercase;
}
.about_right h6{
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #232c3b;
}
.about_right p{
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #7f7f7f;
}
.about_right h4{
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    color: #45aa24;
}
.certificate{
    padding: 0;
    margin: 0;
    width: 100%;
}
.signature{
    float: left;
    padding: 30px 0 0 0;
    margin: 0;
    max-width: 95px;
    width: 100%;
}
.certif{
    padding: 0;
    margin: 0;
    max-width: 97px;
    width: 100%;
    float: right;
}
.story_wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    background: url(/img/story_bg.png) no-repeat;
    background-size: cover;
}
.story_content{
    max-width: 1100px;
    width: 100%;
    padding: 65px 0;
    margin: 0;
}
.story_heading{
    padding: 0;
    margin: 0 auto;
    max-width: 395px;
    width: 100%;
}
.scuess_txt{
    float: left;
    padding: 6px 0 0 0;
    margin: 0;
    max-width: 205px;
    width: 100%;
}
.story_heading p{
    font-size: 60px;
    color: #fff;
    padding: 0;
    float: right;
    margin: 0;
    line-height: 1;
}
.about_left img{
    max-width: 110%;
}
.para{
    font-size: 16px;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0 auto;
    color: #d4d4d4;
    max-width: 700px;
    width: 100%;
}
.mobile{
    padding: 50px 0 0 0;
    margin: 0 auto;
    max-width: 746px;
    width: 100%;
}
.mobile_btm{
    padding: 70px 0 0 0;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    text-align: center;
}
.mobile_btm h2{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}
.mobile_btm p{
    padding: 15px 0 0 0;
    margin: 0;
    text-align: center;
    color: #c7c7c7;
    font-size: 18px;
}
.facebook_txt{
    margin: 0 auto;
    padding-top: 20px;
}
.facebook_coments{
    padding-top: 45px;
}
.feeds{
    background: #f4f4f4;
    padding: 60px 0 70px 0;
    margin: 0;
    width: 100%;
}
.facebook_feed{
    max-width: 1100px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.feed_heading{
    padding: 0;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    text-align: center;
}
.feed_heading h3{
    padding: 0 0 10px 0;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #232c3b;
    font-size: 40px;
}
.feeds_img{
    padding: 50px 0 0 0;
    margin: 0 auto;
    max-width: 910px;
    width: 100%;
}
.facebook_lft{
    padding: 0 50px 0 0;
    margin: 0;
    float: left;
    max-width: 429px;
    width: 100%;
}
.twitter_rght{
      padding: 0;
    margin: 0;
    float: right;
    max-width: 429px;
    width: 100%;  
}
.result_bg{
    padding: 65px 0;
    margin: 0;
    background: url(/img/result_bg.png) no-repeat;
    background-size: cover;
    width: 100%;
}
.result{
    max-width: 1100px;
    padding: 0;
    width: 100%;
    margin: 0;
}
.result_heading{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 452px;
    width: 100%;
}
.result_heading h2{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: #fff;    
}
.result_txt{
    padding-top: 10px;
}
.box{
    padding: 10px;
    margin: 0 auto;
    max-width: 975px;
     width: 100%;
    background: rgba(0, 0, 0, .1);
    border: 1px solid #fff;
    margin-top: 50px;
}
.whit_bg{
    padding: 30px;
    margin: 0;
    background: #fff;
    width: 100%;
    max-width: 915px;
}
.colm{
    padding: 0;
    margin: 0;
    width: 100%;
}
.row{
    padding:0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.name{
    padding: 0;
    margin: 0;
    width: 30%;
    float: left;
    border-right: 1px solid #e1e1e1;
}
.trade{
    padding: 0;
    margin: 0;
    width: 23%;
    float: left;
    border-right: 1px solid #e1e1e1;
}
.profit{
    padding: 0;
    margin: 0;
    width: 13%;
    float: left;
    border-right: 1px solid #e1e1e1;
}
.currency{
    padding: 0;
    margin: 0;
    width: 17%;
    float: left;
    border-right: 1px solid #e1e1e1;
}
.tick{
    padding: 0;
    margin: 0;
    width: 15%;
    float: left;
}
.name h6{
    font-weight: 700;
    padding: 12px 0 15px 0;
    margin: 0;
    text-align: left;
    font-size: 18px; 
    color: #55b6d9;    
}
.trade h6{
    padding: 12px 0 15px 0;
    margin: 0;
    font-size: 18px; 
    color: #55b6d9;    
    text-align: center;
}
.profit h6{
    font-weight: 700;
    padding: 12px 0 15px 0;
    margin: 0;
    font-size: 18px; 
    color: #55b6d9;   
    text-align: center;
}
.currency h6{
    font-weight: 700;
    padding: 12px 0 15px 0;
    margin: 0;
    font-size: 18px; 
    color: #55b6d9;    
    text-align: center;
}
.tick h6{
    font-weight: 700;
    padding: 12px 0 15px 0;
    margin: 0;
    font-size: 18px; 
    color: #55b6d9;    
    text-align: center;
}
.row2{
    padding:0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.name p{
    font-weight: 400;
    padding: 22px 0;
    margin: 0;
    text-align: left;
    font-size: 18px; 
    color: #232c3b;    
}
.trade p{
    padding: 22px 0;
    margin: 0;
    font-size: 18px; 
    color: #232c3b;    
    text-align: center;
    font-weight: 400;
}
.profit p{
    font-weight: 400;
    padding: 22px 0;
    margin: 0;
    font-size: 18px; 
    color: #232c3b;   
    text-align: center;
}
.currency p{
    font-weight: 400;
    padding: 22px 0;
    margin: 0;
    font-size: 18px; 
    color: #232c3b;    
    text-align: center;
}
.tick p{
    font-weight: 400;
    padding: 15px 0;
    margin: 0;
    font-size: 18px; 
    color: #232c3b;    
    text-align: center;
}
br.xs{
	display: none;
}
.exit_page .banner_content{
    text-align: center;
}
.btn_exit{
    margin: 30px auto;
    width: 95%;
    min-width: 152px;
    max-width: 608px;
    cursor: pointer;
}

.popup{
	visibility: hidden;
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 15px;
	align-items: center;
	justify-content: center;
	color: #585b5a;
	z-index: 9999;
	text-align: center;
}
.popup *{
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;
}
.popup .maincontainer{
    position: relative;
    background: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    max-width: 1000px;
}
.popup form{
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    font-size: 16px;
    padding: 20px;
    width: 100%;
}
.popup .fields2{
    padding-top: 5px;
}
.popup hr{
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #ededed;
    margin: 17px 0;
    width: calc(100% + 40px);
    margin-left: calc(0% - 20px);
}
@keyframes slider{
    0%{margin-left: -70%}
    50%{margin-left: 95%;}
    100%{margin-left: -70%}
}
.popup .bar{
    width: 100%;
    background: #f1f1f1;
    border-radius: 5px;
    height: 33px;
    overflow: hidden;
}
.popup .bar-fill{
    height: 100%;
    width: 75%;
    margin-left: 0;
    background-image: url(/img/bar-fill.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation: slider 5s ease-in-out infinite;
}
.popup p.completion{
    margin-top: 0;
}
.popup div.almost{
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 6px;
}
.popup p.almost-1{
    margin-top: 0;
    margin-bottom: 10px;
}
.popup p.almost-2{
    font-size: 34px;
    font-size: 4vh;
    font-weight: 800;
    margin:  0;
}
.exit_page .red{
    color: red;
}
.popup .logo-pop img{
    max-height: 8vh;
    height: auto;
    width: auto;
}
.popup .input-wrap{
    position: relative;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.popup .input-wrap:before{
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50px;
}
.popup .input-wrap.input-name:before{
    background-image: url(/img/ico-user.png);
}
.popup .input-wrap.input-email:before{
    background-image: url(/img/ico-lock.png);
}
.popup input{
    border: 1px solid #a8a8a8;
    margin-top: 15px;
}
.popup .input-wrap input{
    padding-left: 50px;
    margin-top: 0;
}
.popup input[type=image]{
    border: 0;
    max-width: 608px;
    margin-bottom: 0;
}
.popup p.privacy{
    margin: 0;
}
.popup .secure{
    margin: 15px auto 0px auto;
    max-width: 848px;
    max-width: 80vh;
    width: 100%;
}
.popup button{
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}
.exit_page .inner_heading p{
    font-size: 32px;
}
@media(max-width: 767px){
    .exit_page .inner_heading p{
        font-size: 24px;
    }
}
@media(max-width: 400px){ 
    .exit_page .inner_heading p{
        font-size: 18px;
    }
}
@media(max-width: 400px){
    .exit_page .inner_heading p{
        font-size: 16px;
    }
}
.exit_page .banner_content .btn_exit{
    margin-bottom: 5px;
}
.exit_page .banner_content .secure{
    max-width: 500px;
    width: 90%;
    margin-bottom: 5px
}
.top_bar .logo img{
    max-width: 162px; 
    margin: 0 auto;
    display: block;
}
.exit_page .action{
    text-align: center;
    padding: 10px;
    padding-bottom: 25px;
}
.exit_page .action img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wait {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;
    background: #323334;
    background: linear-gradient(#4A4B4C,#0D0D0D);
    text-align: center;
    padding: 15% 15px 0;
    border-radius: 10px;
    visibility: hidden;
    border: 3px solid #5F5F5F;
    opacity: 0;
	display: block;
}
.wait.show{
    opacity: 1;
    transition: opacity 0.2s ease-in;
    visibility: visible;
}

.wait .status{
    /* font-weight: bold; */
    color: #E4E4E4;
    font-size: 15px;
    font-style: italic;
    margin-top: 20%;
    display: none;
}
.wait .status .elipses{
    display: inline-block;
    width: 1em;
    text-align: left;
}

.form{
    position: relative;
    overflow: hidden;
}

.banner_rght form{
    text-align: center;
}
.banner_rght form .form_control{
    height: 46px;
}
.banner_rght form .form_control.submit{
    height: 45px;
}
.banner_rght form input {
    width: 100%;
    height: 46px;
    opacity: 1;
}
.banner_rght form input[type=button]{
    height: 56px;
}
.banner_rght form.dissappear .form_heading{
	display: none;
}
.banner_rght form.dissappear input{
    width: 50%;
    opacity: 0;
    transition: width 0.5s linear, height 0.5s linear, opacity 0.5s ease-in;
}