/* html { font-size:100%; } */
@font-face { font-family: OfficinaSansC; font-style: normal; font-weight: normal; src: url("/ui-css/OfficinaSansC-Regular.otf") format("opentype"); }
@font-face { font-family: OfficinaSansC; font-style: normal; font-weight: bold; src: url("/ui-css/OfficinaSansC-Bold.otf") format("opentype"); }
@font-face { font-family: OfficinaSansC; font-style: italic; font-weight: bold; src: url("/ui-css/OfficinaSansC-Bold-Italic.otf") format("opentype"); }
@font-face { font-family: OfficinaSansC; font-style: italic; font-weight: normal; src: url("/ui-css/OfficinaSansC-Italic.otf") format("opentype"); }

.body-stretch { max-width:1200px; min-width: 1005px; margin:0 auto; background:#FFF; }
A { COLOR: #000000; TEXT-DECORATION: none; }
A:hover {COLOR: #039785; }
BODY { FONT-SIZE: 16px;   COLOR: #000000; link-color: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica; font-weight:normal; font-family:OfficinaSansC, Times new roman; background:#027C71; }

a#smth {
	color:blue;
	font-weight:bold;
	text-decoration:none;
}
a#smth:hover {
	color:red;
	font-weight:bold;
	text-decoration:underline;
}
a#smth1 {	
	color:#black;
	font-weight:bold;
	text-decoration:none;
}
a#smth1:hover {
	color:red;
	font-weight:bold;
	text-decoration:underline;
}

input {font-family: Verdana,Arial,sans-serif; color: #000000}
/*
#1 {border-style: ridge; border: 1px solid #114455; width: 125px; background: #1F181F ; font-size: 11; color:"#ffffff"}
#2 { border-style: ridge; height: 18px; width: 60px;  cursor: hand; background: #1F181F;  font-size: 11; color:"#ffcc99"; border: 1px solid #114455} 
*/
#hello { font-size:11px; color:black; font-family:arial;}

#datetxt { font-size:11pt; color:#858F97;  }
.datetxt { font-size:15px; color:#858F97; }
#newslink { font-size:15px;  }
.newslink { font-size:15px;  line-height:18px; }
.newslink A { font-size:15px; line-height:18px; }
#maintbl { width:100%; margin-top:20px; }
#maintbl TD A { font-size:15px; line-height:18px; }

.blk-title { background:#9AD4BC; border-top:1px solid #1F4E48;border-bottom:1px solid #1F4E48; padding:1px 8px 1px 50px;color:#1F4E48;font-weight:bold;letter-spacing:0.5pt;font-size:15px; }
HTML.mobile { font-size:18px; }
HTML.mobile .newslink { font-size:1.8rem; line-height:1.9rem; }
HTML.mobile TD { max-height:1000em; }
HTML.mobile #maintbl TD A { font-size:1.8rem !important; line-height:1.9rem !important; }
HTML.mobile .blk-mainnews { font-size:2rem !important; line-height:2rem !important; }
HTML.mobile .blk-title { font-size:2rem !important; line-height:2.1rem !important; }
HTML.mobile .tr-video-portal { display:none; }
HTML.mobile #yp_portal TD A { font-size:1rem !important; }
/*
HTML.mobile #video-portal TD { width:25%; }
HTML.mobile #video-portal TR TD:last-child { display:none; }
HTML.mobile #video-portal TD IMG { width: 100px; }
*/
.blk-mainnews .newslink { font-size:16px; }
.block-impnews .newslink { line-height:15px !important; }
/* HTML.mobile .block-impnews .newslink { line-height:1.8rem !important; } */
HTML.mobile .impnews-part { width:100% !important; padding: 8px 0; border-bottom: 1px solid #BBB; }
HTML.mobile .impnews-part A DIV { width:160px !important; height:120px !important;  padding-right:20px; }
HTML.mobile .block-impnews .newslink { font-size:3rem !important; line-height:3.2rem !important; }

#maintbl TD { /*padding-left: 0; padding-right:0;*/ padding: 1px 2px; line-height:18px; }
#maintbl TD A { font-family:OfficinaSansC, Times new roman; }
#maintbl TD.datetxt { font-family:OfficinaSansC, Times new roman; }

/* #maintbl LI { font-size:12pt; } */

/* #marqueelink {font-size:8pt;} */

#down { font-family: Verdana; font-size: 11px; color: #DEE6E8; }

.limon{
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	width:150px;
	border:1px solid #e24242;
}
.limon a{
	color:#19458D;
	text-decoration:none;
}
.limon a:hover{
	text-decoration:underline;
}
.doska{
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	width:150px;
	border:1px solid #e24242;
}
.doska a{
	color:#333333;
	text-decoration:none;
}
.doska a:hover{
	text-decoration:underline;
}
.doska td{
	background:#f0f0f0;
	padding:2px;
	padding-right:0px;
	border:1px solid #e24242;
}
.doska img{
	padding-right:3px;
}
.doska th{
	background:#e24242;
	padding:1px;
	text-align:left;
	padding-left:5px;
	color:#ffffff;
	padding-right:0px;
}
.doska li{
	list-style-image:url('data:image/gif;base64,R0lGODlhAwAFAIABAG9vb////yH5BAEAAAEALAAAAAADAAUAAAIFRG4ZGgUAOw==');
	padding:1px;
}

.topadv {padding:0px;border-collapse:collapse; background:#01776E; }
.topadv td {margin:0px;border:0px solid #333333; width:33%; }
.adv_blocks{font-family:Verdana;font-size:10px;}

#edoska6 { width:100%; height: 70px; border: 1px solid #ddd; background: #fffeb8; border:0px solid black; }
#edoska6 A { color:#0060c3; text-decoration:none; }
#edoska6 A:hover { color:#0060c3; text-decoration:underline; }
#edoska6 div {height: 70px; padding: 3px; color: #333; text-align: left; font-size: 11px; }
		
#edoska62 { width:100%; height: 70px; border: 1px solid #ddd; background: #fffeb8; border:0px solid black; }
#edoska62 A { color:#0060c3; text-decoration:none; }
#edoska62 A:hover { color:#0060c3; text-decoration:underline; }
#edoska62 div {height: 70px; padding: 3px; color: #333; text-align: left; font-size: 11px; }
		
#edoska63 { width:100%; height: 70px; border: 1px solid #ddd; background: #fffeb8; border:0px solid black; }
#edoska63 A { color:#0060c3; text-decoration:none; }
#edoska63 A:hover { color:#0060c3; text-decoration:underline; }
#edoska63 div { height: 70px; padding: 3px; color: #333; text-align: left; font-size: 11px; }
.billboard {background: #53A290; border:1px #2F5C51 solid; width:100%;}
.billboard A {font-size:13px;text-decoration:none;font-weight:bold;font-family:Tahoma;color:#FFFFFF;display:block;}
.billboard A:hover {text-decoration:underline;}


#carouselhouse, #carousel { visibility:hidden; width:200px; overflow:hidden; padding-top:5px; }
#carouselhouse, #carousel ul { list-style: none; width:1600px; margin: 0; padding: 0; position:relative; }
#carouselhouse, #carousel li { display:inline; float:left; }
#carouselhouse .carouseladv , #carousel .carouseladv { background:#B3D1D0; width:200px; height:150px; font-family:arial,tahoma,verdana; color:#333; font-size:11px; overflow:hidden; }
#carouselhouse .carouseladv H1, #carousel .carouseladv H1{ font-family: 'Times New Roman',serif; font-size-adjust:none; font-style:normal; font-variant:normal; font-weight:normal; line-height:18px; margin:0px; margin-bottom:5px; }
#carouselhouse .carouseladv H1 { font-size:24px; }
#carousel .carouseladv H1 { font-size:14px; color:#007973; }
#carouselhouse .carouseladv span, #carousel .carouseladv span{ font-family: 'Times New Roman',serif; font-size:14px; color: #923000; }
#carouselhouse .carouseladv DIV, #carousel .carouseladv DIV { height:120px; margin:5px; overflow:hidden; }
#carouselhouse A, #carousel A { color: #333; text-decoration: none; font-size:11px; }
#carouselhouse A:hover, #carousel A:hover { text-decoration: underline; }
#carouselhouse A.carouselrub:hover { color: blue; }

/**carousel Billboard**/
/*
#newsticresort.gifker-demo { visibility:hidden; width:963px;border:1px solid #CDDDB0;background:#F3FCE9;font-family:Verdana,Arial,Sans-Serif;font-size:12px;}
#newsticker-demo a { text-decoration:none;}
#newsticker-demo a:hover { text-decoration:underline;}
.newsticker-jcarousellite img { padding:11px 0px; }
#newsticker-demo .title {float:left;text-align:center; padding-top:8px;}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px;}
.newsticker-jcarousellite .thumbnail { float:left; }
.newsticker-jcarousellite .info {float:left;width:110px;margin:16px 2px 2px 6px;}
.newsticker-jcarousellite .info a{color:#555555; font-weight:bold; }
*/
.clear { clear: both; }
/*****************Billboard Tabs***************/
ul.bb_tabs {list-style:none;margin:0 !important;padding:0;border-bottom:1px solid #3B6555;height:26px;width:975px;}
ul.bb_tabs li {font-family:arial;float:left;text-indent:0;padding:0;margin:0 !important;list-style-image:none !important; }
ul.bb_tabs a {background:transparent url(http://static.akipress.org/css/images/blue.png) no-repeat scroll -420px -31px;color:#FFFFFF;display:inline-block;font-size:11px;height:25px;line-height:30px;margin:0;padding:0 8px 0 8px;position:relative;text-align:center;text-decoration:none;top:1px;}
ul.bb_tabs a:hover {background-position: -420px -62px;color:#3B6555;border:0;font-size:11px;}

#lightBox { width:400px; margin:0; padding:0; list-style-type:none; }
#lightBox img { border:1px solid #000; margin-left:5px; }
#lightBox li { float:left; }

#yp_portal { font:11px Verdana; width:150px; background:#F5F5F5; border:1px solid #D4D4D4; text-align:left; }
#yp_portal_title { background:  url("http://static.akipress.org/img/ypportal.png") no-repeat; height:40px; color:black; text-align:center; padding:4px 0; }
.yp_portal_link { padding:3px 7px; } 
.yp_portal_link a { color:#0055C9; text-decoration:none; }
.yp_portal_link a:hover{ text-decoration:underline; }

.skazki{ padding:3px;margin:0px; text-align:left; background:#FFF}
.skazki div{padding:0px;margin: 2px 0;}
.skazki a { font-size: 11px; font-weight: normal; color: #000;  text-decoration: none; }
.skazki a:hover { text-decoration: underline; }

/*-------------video------------*/

#video-portal {
      background:#F4FCEA;
/*       width:615px; */
}
#video-portal td{
      padding: 4px;
}
#video-portal-title {
      background:#3B7366;
      text-align:right;
}
.video-item {
	font-family: Verdana,Arial,Tahoma, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 11px;
	float:left;
	min-height:150px;
	width:144px;
}
.video-image {
      text-align:center;
      background:#FFFFFF;
      border:1px solid #D3D3D3;
}
.video-image img{
      border:0;
}
.video-image a{
      margin:3px;
      display:block;
      background:#000000;
}

.video-title {
      line-height:15px;
}
.video-title a{
      color:#222222;
      display:block;
      line-height:14px;
      padding:3px 4px;
      text-decoration:none;
}
.video-title a:hover{
      color:#FA3508;
}
.video-cat a{
      color:#A0A0A0;
      padding:0 5px;
      text-decoration:none;
}
.video-cat {
      display:block;
      padding:0 4px 0 1px;
}
.video-cat a:hover{
      text-decoration:underline;
}
.video-views {
      color:#A0A0A0;
      font-size:11px;
      padding:2px 4px;
}
.video-views span {
      color:#FF5614;
}

/* limon mister run */
  .mister{
/*     width: 200px;background: url('http://limon.kg/mister/final/img/portalbg.jpg'); */
    font-size: 12px;
    padding: 0px;margin: 0px;margin-bottom: 3px;
  }
  .mr-id{margin-bottom: 6px; border-bottom: 1px solid #555;}
  .mr-id img{width: 50px;float:left;padding-right: 7px;cursor: pointer}
  .mr-inform:hover{text-decoration: underline;cursor: pointer;}
  .mr-input{padding: 5px;margin: 5px;}
  .mr-readmore{text-decoration: none;padding-top: 7px;}
  .mr-readmore:hover{text-decoration: underline;cursor: pointer;}
  .mr-cvotes{font-size: 11px;color: green;}
  .mr-votes{text-align: right;}
  .mr-votes input{float: right}
  .mr-descs{
/*     background: url(http://limon.kg/mister/final/img/bg.jpg); */
    color: white;
    display:none;
    width: 350px;
    padding: 10px;
    position: absolute;
    -moz-box-shadow: 0px 0px 6px #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    box-shadow: 0px 0px 6px #000;
  }
  .mr-aboutbtn{font-weight: bold;cursor: pointer;color: white;text-decoration: none;}
  .mr-aboutbtn:hover{text-decoration: underline;}
  .mr-closebtn{text-align: right; margin-top: 3px; cursor: pointer;}
  .mr-closebtn:hover{text-decoration: underline;}
  .clear{clear: both;}
	#lightBox { width:400px; margin:0; padding:0; list-style-type:none; }
	#lightBox img { border:1px solid #000; margin-left:5px; }
	#lightBox li { float:left; }
/* limon mister end */
/*
	#autocarousel { visibility:hidden;  width:200px; overflow:hidden; padding-top:5px; text-align:left; background:#B3D1D0; }
	#autocarousel ul { list-style: none; width:1600px; margin: 0; padding: 0; position:relative; }
	#autocarousel li { display:inline; float:left; }
	#autocarousel .carouseladv { background:#B3D1D0; width:200px; height:185px; font-family:arial,tahoma,verdana; color:#333; font-size:11px; overflow:hidden; }
 	#autocarousel .carouseladv DIV { margin:3px 5px; overflow:hidden; }
	#autocarousel A { color: #333; text-decoration: none; font-size:11px; }
	#autocarousel A:hover { text-decoration: underline; }
*/
	.comments { padding:5px;margin:0 6px; text-align:left; background:#FFF}
	.comments a { font-size: 15px; color: #000;  text-decoration: none;font-weight: normal}
	.comments a:hover { text-decoration: underline; }

	.presscenter {background: #FFF; }
	.presscenterban{margin-bottom: 2px;border:1px solid #2B4289;background: white;padding: 2px;}
	.presscenterban IMG { width:190px; }
	.presscenter div{text-align: left;}
	.presscenter-a {color: black;text-decoration: none; font-size:8pt; }
	.presscenter A { font-size:13px; }
	.presscenter-a:hover{color: black;text-decoration: underline;}
	.presscenter-date { color:black;padding:0 13px;margin:0px;margin-top:2px;text-align:center; color:#08718E;}

	.TopM { 
		padding:0; margin:0; width:100%;  
		background: #039785;
/* 		background: -moz-linear-gradient(center top , #039785, #028575) repeat scroll 0 0 transparent; */
		-moz-border-radius: 6px;
	}
	.TopM TD { 
		text-align:center;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #BECECC;
	}
	.TopM TD.last { border-right: medium none; }
	.TopM A {
		font-size: 10px;
		font-family: arial;
		display: block;
		color: #FFFFFF;
		font-weight: bold;
		text-transform: uppercase;
		padding: 4px 0;
	}

	.TopMlvl0 TD, .TopMlvl1 TD { 
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #BECECC;
	}
	.TopM A:hover { background:#015E50; }
	.TopM A.businessHV:hover { background:#9A0000; }
	.TopM A.sportHV:hover { background:#4c5e8c; }
	.TopM A.canewsHV:hover { background:#1c6295; }
	.TopM A.kgnewsHV:hover { background:#007973; }
	.TopM A.svodkaHV:hover { background:#222222; }
	.TopM A.ferganaHV:hover { background:#fdd06b; color:#015E50; }
	.TopM A.barakeldeHV:hover { background:#da241c; }
	.TopM A.whoHV:hover { background:#264173; }
	.TopM A.skazkiHV:hover { background:#0f9dcf; }
	.TopM A.limonHV:hover { background:#fbed1a; color:#E27D96;}
	.TopM A.resumeHV:hover { background:#6F6F6F; }
	.TopM A.doskaHV:hover { background:#80CAE3; }
	.TopM A.autoHV:hover { background:#D7130B; }
	.TopM A.ypHV:hover { background:#FFEE00; color:#E27D96; }
	.TopM A.analitHV:hover { background:#FF0000; }
	.TopM A.pressHV:hover { background:#C7E6E4; color:#E27D96; }
	.TopM A.zdorovieHV:hover { background:#0472BF; }
	.TopM A.billboardHV:hover { background:#284168; }
	.TopM A.partyHV:hover { background:#5C6567; }
	.TopM A.bulbulHV:hover { background:#E63B31; }
	.TopM A.kghistHV:hover { background:#EFD47E; color:#625120; }
	.TopM A.reporterHV:hover { background:#6556FE; }
	.TopM A.peopleHV:hover { background:#254097; }
	.TopM A.travelHV:hover { background:#FF6E1B; color:#FFF; }
	
	.TopM A.tabloHV { /*background:#da241c;*/ background:#F1FDE9; color:000; }
	.TopM A.tabloHV:hover { /*background:#fdd06b; color:#015E50;*/ background:#da241c; color:#FFF; }

	.TopMlvl0 TD.first A:hover { -moz-border-radius: 6px 0 0 0; }
	.TopMlvl0 TD.last A:hover { -moz-border-radius: 0 6px 0 0; }
	.TopMlvl2 TD.first A:hover { -moz-border-radius: 0 0 0 6px; }
	.TopMlvl2 TD.last A:hover { -moz-border-radius: 0 0 6px 0; }

	.reporteradd { background:url('http://static.akipress.org/img/reporter/bgmenu2.png') repeat-x;text-align:right;height:24px; }
	.reporter-descr { font:9pt tahoma; color:#6356FD; font-style: italic; text-align:center;}
	.reporteradd A { color:#FFF;font:9pt tahoma;padding:0 4px;padding-top:6px; display:block; text-decoration:none; }
	.reporteradd A:hover { text-decoration:underline; }
	
	A.addilng { text-decoration:none;display:block;width:40px;text-align:center;float:left; font:bold 11px Tahoma; }
	A.addilng:hover { text-decoration:underline; }
	
	#last50 { width:100%; /*font-size:18px;*/ }
	#last50 TD, #akinext TD, #imp50 TD, #view50 TD, #dis50 TD { padding:4px 0; }
	HTML.mobile #last50 TD, HTML.mobile #akinext TD, HTML.mobile #imp50 TD, HTML.mobile #view50 TD, HTML.mobile #dis50 TD { padding:7px 0; }
	
/*  	#last50 TD A { font-size:16px; } */
	#akiopennext, #akiopennextvn, #akiopennextdn,#impnews-next, #akiopenday, .akiopenthisday, .akigiganext { border:1px solid #1F4E48; color:#1F4E48;background:#FFF; margin:0 auto; display:block; width:150px;text-align:center; padding:4px; font-family:georgia; }
	#akiopennext:hover, #akiopennextvn:hover, #akiopennextdn:hover,#impnews-next:hover,#akiopenday:hover, .akiopenthisday:hover, .akigiganext:hover { background:#9AD4BC; }
	
	.datecnt { font-size:13px; color:#006596; font-family:arial; text-align:center; }
	#akiakikg { color:#1E4D43; font-weight:bold;letter-spacing:0.5pt; }
	#akiview:hover, #akiimp:hover, #akinew:hover, #akidis:hover, #akiakikg:hover { color:blue; }
	
	#totop { position: fixed; top:80px; cursor: pointer; display: none; font: bold 13px tahoma; color:#1F4E44; padding: 5px; background:#FFF; z-index:2; }

.click-blocks { float:left;padding:3px 10px;cursor:pointer; font-weight:bold; }
.click-blocks:hover { color:blue; }

#block-impnews { width:99%; margin:0 auto; }
.impnews-line { clear:both;border-top:2px solid white;margin:8px 0; }

span.views { font-size: 12px; color:#666; }
span.views:before { padding:2px 5px; }

.search-formblock { width:400px; text-align:center; }
.search-formblock-run { margin:50px auto; }
#form-search { margin:10px; padding:0; }
.form-search INPUT { border:1px solid #2D7061; font-size:14px; -moz-box-sizing: content-box; box-sizing: content-box; }
.form-search INPUT[type=text] { width:70%; float:left; }
.form-search INPUT[type=submit] { width:20%; float:right; }

#last-updated-company { height:400px; overflow-y: hidden; border-bottom:2px solid #ED1C24; }

.ui-lock {
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAS9JREFUKM9tka9OHGEUxX+/CZQiMDQgIDV18ARAdZMmSFQfoUln5IwhwTQku45dzyuApo4QkgreAFNTmtAqXOnmIHam+weuujf3nO+e7xzpqi6hP4S6RF1Jsqg+JnmgP8SmIr0BAAVzpX4ELtRr4Ju6D5Bkgplh1OUa8F39ClwmeQ8cqXvpDX51sIW5QzvAn/QGp+18S11+TrILnHWggrqcJr0GHgFsqu7Bv+ryf2lNNZFnU30BDjMWv9JKD/DQ9sf0h4MZI5JsJSnUqL/VG/W+nVW3bapZ99TRmJskuU7yIeEqE9tGXTt9CbVzdAN4p2yqTtv9Yk5tvVLfAktzGT6zvJharCb5BLzpgEmKl3L6CRRJFtR19QD4B2SsMHf0h89IJ0nO1fnASTJSf3Q/ewIHn37EHEgyOQAAAABJRU5ErkJggg==") no-repeat scroll left center;
    padding-left: 15px;
}