@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88824128');
  src: url('../font/fontello.eot?88824128#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?88824128') format('woff'),
       url('../font/fontello.ttf?88824128') format('truetype'),
       url('../font/fontello.svg?88824128#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88824128#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-ok-outline:before { content: '\e802'; } /* '' */
.icon-info-outline:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-rss-outline:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-play-outline:before { content: '\e807'; } /* '' */
.icon-chart-alt-outline:before { content: '\e808'; } /* '' */
.icon-search-outline:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-at:before { content: '\e80b'; } /* '' */
.icon-users-outline:before { content: '\e80c'; } /* '' */
.icon-cancel-outline:before { content: '\e80d'; } /* '' */
.icon-home-outline:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-cog-outline:before { content: '\e810'; } /* '' */
.icon-left-open-outline:before { content: '\e811'; } /* '' */
.icon-record-outline:before { content: '\e812'; } /* '' */
.icon-spin6:before { content: '\e813'; } /* '' */
.icon-heart-filled:before { content: '\e814'; } /* '' */
.icon-star-filled:before { content: '\e815'; } /* '' */
.icon-user-outline:before { content: '\e816'; } /* '' */
.icon-picture-outline:before { content: '\e817'; } /* '' */
.icon-plus-outline:before { content: '\e818'; } /* '' */
.icon-whatsapp:before { content: '\e819'; } /* '' */
.icon-vk:before { content: '\e81a'; } /* '' */
.icon-odnoklassniki:before { content: '\e81b'; } /* '' */
.icon-right-open-outline:before { content: '\e81c'; } /* '' */
.icon-power:before { content: '\e81d'; } /* '' */
.icon-doc:before { content: '\e81e'; } /* '' */
.icon-eye-outline:before { content: '\e81f'; } /* '' */
.icon-th-list-outline:before { content: '\e820'; } /* '' */
.icon-attach-outline:before { content: '\e821'; } /* '' */
.icon-camera-outline:before { content: '\e822'; } /* '' */
.icon-minus-outline:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-doc-add:before { content: '\e825'; } /* '' */
.icon-wrench-outline:before { content: '\e826'; } /* '' */
.icon-up-outline:before { content: '\e827'; } /* '' */
.icon-gift:before { content: '\e828'; } /* '' */
.icon-lock:before { content: '\e829'; } /* '' */
.icon-th-list:before { content: '\e82b'; } /* '' */
.icon-facebook:before { content: '\e82c'; } /* '' */
.icon-twitter-3:before { content: '\e82d'; } /* '' */