*{margin: 0; padding: 0;}
html{height: 100%;}
body{
    width: 100%;
    height: 100%;
    background: url(http://tn.tubexclips.com/img/bg.gif) repeat left top;
    font-family: Tahoma, "Geneva CY", sans-serif;
    font-size: 11px;
    color: #fff;
}
input{vertical-align: top;}
input:focus{outline: 0 none;} 
textarea:focus{outline: 0 none;}
.clear{clear: both;}
.alignleft{float: left;}
.alignright{float: right;}
ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    color: #801d1d;
    text-decoration: underline;
    outline: 0;
}
a:hover{
    text-decoration: none;
}

#top{
    width: 100%;
    height: 2px;
    background: url(http://tn.tubexclips.com/img/top.gif) repeat-x left top;
    position: absolute;
    left: 0;
    top: 0;
}
#wrapper{
/*	max-width: 1000px;*/
/*	width: 1650px;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


/* Header
************************************************/
#header{}
.logo img{
    display: block;
    margin-top: 5px;
	margin-right: 8px;
    float: left;
}
#login{
    width: 130px;
    height: 27px;
    float: right;
    background: url(http://tn.tubexclips.com/img/login.png);
    overflow: hidden;
	margin-left: 10px;
    line-height: 27px;
    text-align: center;
    color: #4e4d4d;
    text-shadow: 1px 1px 0 #f1f1f1;
}
#login a{
    text-decoration: none;
    font-weight: bold;
}
#login a:hover{
    text-decoration: underline;
}
.bookmark{
    display: block;
    float: right;
/*	margin-top: 18px;*/
}
.addthis_toolbox{
    float: right;
    margin-top: 11px;
    margin-left: 5px;
}
.desc{
    color: black;
/*    margin: 0 140px 0 320px;*/
    padding: 9px 10px 7px 10px;
    font-size: 12px;
}


/* Menu area
************************************************/
.menu-line{
    height: 42px;
    background: url(http://tn.tubexclips.com/img/menu-line.png);
    overflow: hidden;
    text-shadow: 1px 1px 0 #f3f3f3;
    font-size: 11px;
    color: #000;
    line-height: 46px;
}
.menu-line a{
    color: #000;
    font-weight: bold;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    height: 42px;
    background: url(http://tn.tubexclips.com/img/menu-delim.png) no-repeat 0 55%;
}
.menu li a{
    display: block;
    height: 42px;
    padding: 0 20px;
    text-decoration: none;
}
.menu li a:hover{
    color: #ae0303;
}
.categories{
    height: 32px;
    background: url(http://tn.tubexclips.com/img/menu-delim.png) no-repeat 0 55%;
    padding: 11px 20px 0;
    float: left;
    margin-right: 10px;
}
.s-label{
    font-weight: bold;
    vertical-align: middle;
    float: left;
    background: url(http://tn.tubexclips.com/img/menu-delim.png) no-repeat 0 50%;
    padding-left: 20px;
}
.form{
	line-height: normal;
	margin-top: 1px;
}
.select{
	height: 24px;
}
.search{
    width: 206px;
    height: 26px;
    margin: 11px 10px 0;
    background: url(http://tn.tubexclips.com/img/search.png);
    float: left;
}
.search input{
    width: 170px;
    height: 26px;
    border: 0;
    background: transparent;
    padding: 0 5px;
    color: #141414;
    font-family: Tahoma, "Geneva CY", sans-serif;
    text-shadow: 1px 1px 0 #fff;
    font-size: 11px;
    line-height: 24px;
    vertical-align: top;
    *line-height: 8px;
}
input.search-bttn{
    width: 20px;
    height: 26px;
    padding: 0;
    cursor: pointer;
    margin: 0;
}


/* CSelect
**************************************************/
.cselect{
    width: 173px;
    height: 26px;
    background: url(http://tn.tubexclips.com/img/sel.png) no-repeat;
    margin: 0 4px;
    color: #141414;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: normal;
    overflow: hidden;
}
.ui-selectmenu{
    width: 173px !important;
    display: block;
    height: 26px;
    text-decoration: none !important;
    font-size: 11px;
    text-align: left;
}
.ui-selectmenu-status{
    display: block;
    line-height: 26px;
    padding: 0 25px 0 10px;
    color: #141414;
    font-family: Tahoma, "Geneva CY", sans-serif;
    text-shadow: 1px 1px 0 #fff;
    font-weight: normal;
}
.ui-selectmenu-menu {
    width: 169px !important;
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 2;
    border: 1px solid #262626;
    padding: 1px;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.ui-selectmenu-open {
    visibility: visible;
}
.ui-selectmenu-menu li{
    color: #000;
    margin: 1px 0;
}
.ui-selectmenu-menu li a{
    color: #000;
    display: block;
    text-decoration: none;
    padding: 0 2px;
    line-height: 15px;
}
li.ui-selectmenu-item-selected, li.ui-state-hover{
    background: #2a2a2a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
li.ui-selectmenu-item-selected a, li.ui-state-hover a{
    color: #fff;
}


/* Content
**************************************************/
.title{
    height: 39px;
    line-height: 35px;
/*    padding: 0 5px 0 40px;*/
    text-shadow: 1px 1px 0 #460404;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background: url(http://tn.tubexclips.com/img/title-bg.gif) repeat-x left top;
    overflow: hidden;
    margin: 0 auto;
    margin: 2px 0;
}
.title h2{
    font-size: 18px;
	padding: 0 5px 0 40px;
	background: url(http://tn.tubexclips.com/img/title-ico.gif) no-repeat 0 0;
}
.list{
    padding: 0 0 1px 1px;
    margin-bottom: 5px;
    overflow: hidden;
    *padding: 0 0 1px 0;
}
.list ul{
    float: left;
    width: 25%;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
.list ul li{
    margin: 1px 1px 0 0;
    background: #ececec;
    padding: 2px 4px;
}
.list ul:first-child li{
    *margin-left: 1px;
}
.list ul li a{
    color: #7b0303;
    text-decoration: none;
}
.list ul li a:hover{
    text-decoration: underline;
}
.bullets ul{
    width: 20% !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: normal !important;
}
.bullets ul li{
    background: #ececec url(http://tn.tubexclips.com/img/list-bullet.png) no-repeat 5px 2px;
    padding-left: 25px !important;
}
.bullets ul li a{
    text-decoration: underline !important;
    font-weight: bold;
}
.bullets ul li a:hover{
    text-decoration: none !important;
}
.pages{
    height: 31px;
    background: url(http://tn.tubexclips.com/img/pages.png) repeat-x left top;
    line-height: 29px;
    margin-bottom: 2px;
    padding: 0 10px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 1px 1px 0 #f4f4f4;
}
.nav{
    font-size: 13px;
    color: #000;
}
.nav a{
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}
.nav a:hover{
    text-decoration: underline;
}
.nav a.page{
    font-size: 11px;
    color: #fff;
    text-shadow: 1px 1px 0 #333;
    background: #515151;
    padding: 4px 2px;
    margin: 0;
    text-decoration: none;
}
.nav a.page:hover, .nav a.page.active{
    background: #972727;
    text-shadow: 1px 1px 0 #502121;
}
.sort{
    font-size: 12px;
    color: #801d1d;
}
.sort span{
    color: #000;
}
.sort a{
    color: #801d1d;
    text-decoration: none;
}
.sort a:hover{
    text-decoration: underline;
}


/* Thumbs
**************************************************/
.thumbs{
/*	width: 110%;*/
}
.thumb{
    font-weight: bold;
/*	float: left;*/
    color: #000;
    border: 2px solid #d8d6d6;
    margin: 1px;
	display: inline-block;
	vertical-align: top;
}
.thumb img{
	width: 320px;
	height: 240px;
    display: block;
    border: 1px solid #000;
    margin-bottom: 3px;
    margin: 0 auto;
}
.thumb a, a.thumb{
    color: #a40000;
    text-decoration: none;
}
.thumb a:hover, a.thumb:hover{
    color: #000;
}
.thumb a:hover img, a.thumb:hover img{
    border-color: #a40000;
}
.cat .thumb{
    width: 322px;
    background: url(http://tn.tubexclips.com/img/thumb-big-bg.png) repeat-y top center;
    overflow: hidden;
    padding: 1px;
    text-align: center;
/*	display: block;*/
    font-size: 12px;
/*	padding-top: 3px;*/
	vertical-align: middle;
}
.cat .thumb img{
    width: 320px;
	height: 240px;
}
.cat .thumb a{
    font-size: 18px;
}
.cat .thumb p{
/*	height: 23px;*/
    line-height: 23px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
    background: url(http://tn.tubexclips.com/img/th-info.png) repeat-x left center;
}
.film .thumb{
    width: 322px;
    background: url(http://tn.tubexclips.com/img/thumb-big-bg.png) repeat-y top center;
    padding: 1px;
}
.site .thumb{
/*	display: block;*/
    width: 242px;
    background: url(http://tn.tubexclips.com/img/thumb-sm-bg.png) repeat-y top center;
    padding: 1px;
    text-align: center;
    font-size: 17px;
    padding-bottom: 3px;
}
.site .thumb img{
	width: 240px;
	height: 180px;
    margin-bottom: 5px;
}
.film .thumb{
    font-size: 11px;
}
.film .thumb p{
    margin: 0 3px;
    line-height: 14px;
}
.video .thumb p{
    margin: 0 3px;
    line-height: 14px;
}
.film .thumb p span{
    font-weight: normal;
}
.descr{
    display: block;
    font-size: 13px;
    line-height: 14px;
    max-height: 28px;
    overflow: hidden;
    padding: 1px 3px;
}
.downl{
    color: #f60909 !important;
    text-decoration: underline !important;
}
.downl:hover{
    text-decoration: none !important;
}
.tags{
    overflow: hidden;
/*	height: 28px;*/
}
.video .tags{
/*	height: 36px;*/
}
.tags a{
    text-decoration: underline;
    color: #000;
}
.tags a:hover{
    text-decoration: none;
}


/* Footer
**************************************************/
#footer{
    height: 145px;
    background: url(http://tn.tubexclips.com/img/footer.gif) repeat-x left bottom;
    margin-top: 20px;
}
#foot{
    max-width: 1000px;
    height: 145px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 11px;
    color: #000;
    line-height: 13px;
    text-align: center;
}
#foot span{
    font-size: 12px;
}

@media all and (min-width: 1010px) {
	#wrapper {width: 990px;}
}

@media all and (min-width: 1340px) {
	#wrapper {width: 1320px;}
}

@media all and (min-width: 1670px) {
	#wrapper {width: 1650px;}
}

	#im { display:none; position: fixed; bottom: 0; right: 0; z-index: 99; border-style: dashed; border-width: 1px; }
	#im-close { position: absolute; top: -4px; left: -4px; width: 16px; height: 16px; background-color: #000000; color: #ffffff; text-align: center; border-radius: 16px; line-height: 16px; cursor: default; }
	#im-close:hover { background-color: #ffffff; color: #000000; }