.valuation input:focus, .valuation textarea:focus, .valuation keygen:focus, .valuation select:focus {
  outline-offset: 0;
}

.valuation i {
  position: relative;
}

.valuation i.fa-dot-circle-o::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #E7F2F8;
  position: absolute;
  left: -6px;
  top: 25px;
}

.valuation select {
  padding: 0 0 0 10px;
}

.valuation .rainbow-bar .bars .bar {
  box-shadow: none;
  width: 45px;
  height: 10px;
  float: left;
  margin-right: 1px;
  background: #2AA3CE;
  /*
        &:not(.active) {
          &:hover {
            transform: scale(1.2);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
            position: relative;
            z-index: 10;
          }
        }
        */
}

.valuation .rainbow-bar .bars .bar.active {
  transform: scale(1.2, 2);
  box-shadow: 0 0 0 1px #fff, 0 0 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 8;
}

.valuation .rainbow-bar .bars .bar:nth-child(-n+3) {
  background: #E7F2F8;
}

.valuation .rainbow-bar .bars .bar:nth-child(4), .valuation .rainbow-bar .bars .bar:nth-child(5) {
  background: #91C0D4;
}

.valuation .rainbow-bar .bars .bar:nth-last-child(3), .valuation .rainbow-bar .bars .bar:nth-last-child(2), .valuation .rainbow-bar .bars .bar:last-child {
  background: #017BBC;
}

.valuation .rainbow-bar .scales .scale {
  width: 45px;
  height: 1px;
  margin: 10px 1px 10px 0;
  border-top: 1px solid #eff1f0;
  box-shadow: none;
  position: relative;
  float: left;
}

.valuation .rainbow-bar .scales .scale::before {
  content: " ";
  position: absolute;
  height: 10px;
  top: -5px;
  left: 50%;
  border-left: 1px solid #eff1f0;
  width: 100%;
}

.valuation .rainbow-bar .values .value {
  float: left;
  width: 45px;
  text-align: center;
  margin-right: 1px;
  line-height: 8px;
}

.valuation .features label {
  font-size: 13px;
}

.valuation .features label.w250 {
  width: 250px;
}

.valuation .features label.w240 {
  width: 240px;
}

.valuation .features label.w230 {
  width: 230px;
}

.valuation .features label.w190 {
  width: 190px;
}

.valuation .features label input:checked + span {
  background: #1174B9;
  border-color: #1174B9;
}

.valuation .features label input:disabled + span {
  background: #f0f0f0;
  border-color: #c8c8c8;
  cursor: default;
}

.valuation .features label input:disabled + span:after {
  opacity: 0;
}

.valuation .features label span {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #b9b9b9;
  background: #fff;
  vertical-align: text-bottom;
  display: inline-block;
  margin: 0 6px;
  user-select: none;
  margin-left: -17px;
  cursor: pointer;
}

.valuation .features label span:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.valuation.mobile .banner div.col:first-child {
  width: 50%;
}

.valuation.mobile .banner div.col:last-child {
  width: 49%;
}

@media all and (max-width: 450px) {
  .valuation.mobile .banner div {
    text-align: center;
  }
  .valuation.mobile .banner div.col:first-child {
    width: 100%;
  }
  .valuation.mobile .banner div.col:last-child {
    width: 100%;
  }
}

.valuation.mobile .create-ann-btn {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background: #E52630;
  padding: 10px 20px 8px 20px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #A62A35;
  top: -2px;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
}

.valuation.mobile .create-ann-btn:hover {
  color: #fff !important;
  background: #d81a24;
  text-decoration: none;
}

.valuation.mobile .main-features {
  padding: 15px 0 15px 15px;
}

.valuation.mobile .main-features p {
  white-space: nowrap;
  padding: 0 15px 0 30px;
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  position: relative;
}

.valuation.mobile .main-features p::before {
  position: absolute;
  left: -5px;
  line-height: 1px;
  content: "";
  height: 25px;
  width: 35px;
  background-repeat: no-repeat;
  background-image: url(/static/images/mobile/autoplius/svg/view-pk0.svg);
}

.valuation.mobile .main-features p.engine::before {
  background-position: -35px -175px;
}

.valuation.mobile .main-features p.body::before {
  background-position: 0 -175px;
}

.valuation.mobile .main-features p.gearbox::before {
  background-position: 0 0;
}

.valuation.mobile .main-features p.doors::before {
  background-position: 0 -25px;
}

.valuation.mobile .main-features p.color::before {
  background-position: -35px 0;
}

.valuation.mobile .main-features p.kilometrage::before {
  background-position: -35px -200px;
}

@media all and (max-width: 450px) {
  .valuation.mobile .main-features p {
    width: 55%;
  }
  .valuation.mobile .main-features p:nth-child(odd) {
    width: 35%;
  }
  .valuation.mobile .main-features p.engine {
    width: 100%;
  }
}

.valuation.mobile .rainbow-bar {
  text-align: center;
}

.valuation.mobile .rainbow-bar .bars {
  display: inline-block;
  width: 95%;
}

.valuation.mobile .rainbow-bar .bars .bar {
  width: 9.7%;
}

@media all and (max-width: 320px) {
  .valuation.mobile .rainbow-bar .bars .bar {
    width: 9.665%;
  }
}

.valuation.mobile .rainbow-bar .scales {
  display: inline-block;
  width: 95%;
}

.valuation.mobile .rainbow-bar .scales .scale {
  width: 9.7%;
}

@media all and (max-width: 320px) {
  .valuation.mobile .rainbow-bar .scales .scale {
    width: 9.665%;
  }
}

.valuation.banner span {
  position: relative;
}

.valuation.banner span::before {
  position: absolute;
  background: transparent url(/static/images/svg/arrow.svg) no-repeat;
  left: -45px;
  top: -10px;
  line-height: 1px;
  content: "";
  height: 35px;
  width: 35px;
}

.valuation .main-slidepanel {
  width: 100%;
}

.valuation .main-slidepanel .main-slide {
  width: inherit;
}

.valuation .main-slidepanel .main-slide ul {
  width: inherit;
}

.valuation .main-slidepanel .main-slide ul li {
  padding: 9px;
  margin-bottom: 0;
}
