@charset "utf-8";
/* CSS Document */

/* reset */
html, body, div, span, p, a, font, img, tt, dl, dt, dd, ol, ul, li, table, tr, td, input, select, textarea, h1 {
	margin:0px;
	padding:0px;
	border:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
html,body {
	height:100%;
	width:100%;
	text-align:left;
	font-size:16px;
	-webkit-text-size-adjust:none;
	background-color:#FFFFFF;
	font-family: \5FAE\x8F6F\6B63\9ED1\4F53, "Microsoft Jhenghei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	line-height:18px;
	color:#222;
}
table {border-collapse:collapse;border-spacing:0;}
input, select, textarea{ padding: 0px 0px; border:0px;}
ul, li { list-style:none; }
p { text-align:justify; font-size:13px; }
a:link, a:visited{ color: #222; text-decoration:none; }
a:hover{ text-decoration: underline; }
a img{ border:0px; }
option, textarea{}
h3{ color: #666666;}
span{ color: #222;font-size: 15px; }
.clear { clear:both;}



/*rest end*/
#wrapper{
	width:100%;
}
#page {
	width: 1190px;
	background-color: #FFF;
	margin: 0 auto;
	position:relative;
	z-index:1;
	padding-top:5px;
}

#header_bar{
	width:100%;
	min-width:1007px;
	height: 30px;
	font-size:16px;
	background:#FF7500;
	position:fixed;
	top:0;
	z-index:99999999;
	box-shadow:0 0 0px 0px rgba(255,177,0,0);
	transition: box-shadow 1s;
}

#header_bar .bar_content { width: 1190px; margin:0 auto;}
#header_bar .header_logo { width:82px; height:22px; float:left; margin-top: 3px; display:none;}

.bar_right{
	text-align:right; /* Old browsers */
	max-width: 1190px;
	height: 30px;
}
.bar_right a img{
	position: static;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.bar_right a {
	  color: #fff;
	  vertical-align: middle;
}
.bar_right a span{
	color:#fff;
	font-size: 14px;
	padding: 1px 5px;
	height: 30px;  
	line-height: 22px !important;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.bar_right span{
	color:#fff;
	font-size: 17px;
	padding: 1px 5px;
	height: 30px;  
	line-height: 24px !important;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.bar_right .login_btn{
	padding: 1px 5px;
}
.bar_right .reg_btn{
	padding: 1px 5px;
}
.bar_right a span:hover{
	text-decoration:underline;
	cursor:pointer;
}
.member_icon{  
	width: 22px;
	height: 22px;
	display: inline-block;
	max-height: 25px;  
	position: static;  left: 0;  top: 0;  right: 0;  bottom: 0;  
	margin: 4px auto auto;
	cursor:pointer;
}
#top_function_gp{
	float:right;
	position:relative;
	max-width: 270px;
	height: 30px;
	/*width: 100px;*/
	display:block;
	margin-left: 10px;
}
#top_function_gp>div{
	float:left;
}
.top_btn{
	margin:  0px;
	width:30px;
	height: 29px;
	padding-top:
	/* background-image:url(../images/top_bar.png); */
	background-repeat:no-repeat;
	display:block;
	float: left;
	cursor: pointer;
}

.top_btn img{
	height: 50%;
	width: 50%;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
	margin: 7px auto;
	display: block;
}


.top_btn:hover{
	background-color:#FF6600;
}

/*search bar*/
#search{
	height: 30px;
	width: 195px;
	float:right;
	position:relative;
	margin-left: 5px;
}
#searchcontainer form > div{
	position:absolute;
	width:60px;
	left:0px;
	top: 4px;
	height:30px;
	text-align:left;
}
#searchcontainer form > div select{
	display:block;
	height: 20px;
	line-height: 19px;
	color:#666;
	text-decoration:none;
	font-size:12px;
	background-color:#FFF;
	margin-left: 10px;
	border:1px solid #999;
	border-right:0px;
	background-image: url(/images/search-arrow.png);
	background-position: 38px 7px;
	width: 50px;
	background-repeat:no-repeat;
	-webkit-appearance: none;       
    -moz-appearance: none;    
    appearance: none;
}
#searchcontainer form > div  #currentsearchitem{
	line-height:20px;
	text-indent:5px;
}

#searchcontainer #srchtxt{
	position:absolute;
	left: 60px;
	top: 4px;
	height:20px;
	line-height:20px;
	border:1px solid #999;
	border-left:0px;
	padding:0px;
	margin:0px;
	width: 135px;
	-webkit-appearance: none;
    
	outline: none;
	border-radius: 0;
}
#search .submit{
	background-image:url(/images/r13/home/uwants-interface-element.png);
	background-position:-90px -30px;
	text-indent:-999px;
	width: 16px;
	height: 16px;
	position:absolute;
	top: 4px;
	left: 170px;
	padding:0px;
	border: none;
}
#search .submit:hover{
	background-position:-110px -30px;
}
/* stephen, 20150201 */
#searchcontainer form > div a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: url("/images/r13/home/search-arrow.png");
    background-position: 38px 7px;
    background-repeat: no-repeat;
    /*border-color: #999 -moz-use-text-color #999 #999;*/
    border-color: #999 #999 #999;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #666;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    text-decoration: none;
}
#search #searchbox_menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #999 #999;
    border-image: none;
    border-right: 1px solid #999;
    border-style: solid;
    border-width: 1px;
    color: #666;
    font-size: 12px;
    left: 10px;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 50px;
}
#search #searchbox_menu ul li a {
    color: #666;
    display: block;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    text-indent: 5px;
}
#search #searchbox_menu ul li a:hover {
    background-color: #eee;
}


.sub_top_bar{
	width: 1190px;
	margin:0 auto;
	padding-top: 40px;
	position: relative;	
}
.sub_logo{    
    margin: 10px 30px 20px 0px;      
    text-align: center;
    display: inline-block; 
    height: auto;
    vertical-align: middle;
}
.forumbanner{
	text-align: center;    
	margin: 8px 0px 8px 0px;
	display: inline-block;     
	height: auto;    
	vertical-align: middle;
}
#weather-info{
	width: 300px;
	text-align:right;
	font-size:12px;
	height: 26px;
	line-height: 26px;
	color:#666;
	float:right;
	z-index: 333;
	top: 35px;
	position: absolute;
	right: 0;
}
#weather-info .cur_date{
	margin-right:10px;
}
#weather-info .weekday{
	margin-right:5px;
}
#weather-info .temperature{
	margin-right:5px;
}
#weather-info .blue{
	color:#00F;
}
#weather-info img{
	vertical-align:middle;
	height:26px;
}
#weather-info span{
    font-size:12px;
}


/*left*/
#left{
    width: 290px;
    float: left;
}
#left span:hover{
	/*color:#ff7500; !important
    text-decoration:underline;*/
}
#left a span:hover{
	color:#ff7500; !important
    text-decoration:underline;
	text-decoration: underline;
}

.left_tab_function{
	padding: 5px 0px;
    display: inline-block;
    position: relative;
}
.left_tab_function .right_more{
    cursor: pointer;
    /* display: inline-block; */
    font-size: 14px;
    margin: 0px;
    padding: 0;
    vertical-align: middle;
}
.left-top-box1{
    /*  border: solid 1px #ccc; */
    width: 290px;
    height: auto;
    margin-bottom: 3px;
    box-sizing: border-box;        -moz-box-sizing:border-box;        -webkit-box-sizing:border-box;

}
.left-top-box1 img{
    vertical-align: middle;
}

/* .platform_list img { float:left; } /* stephen, 20150202 */ 

.mobile_gameTopic .game-title{ /* stephen, 20150202 */
	height: 24px; 
	overflow: hidden; 
	width: 87px; 
	float: left; 
	line-height: 24px;
}

.forum_banner{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
.ad{
	margin: 0 0 3px 0;
}
.ad img{    
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;        
}
.w1024{
  display:none;
}
.left-top-box1 li{
    display: inline-block;
    width: 87px;
    /*float: left;
    text-align: left;
    /*height: 35px;*/
    line-height: 35px;
    margin: 0px 0px;
    padding: 0px 0px;
    /*border-top: 1px dotted #7f7f7f;*/
}
.left-top-box1 li :hover{
	color:#ff7500;	
	text-decoration: none;
}
.left-top-box1 a :hover{
	text-decoration:underline;
}

.left-top-box1 li.mobile_game {
    width:100%;
    height: auto;
}
.left-top-box1 li.mobile_game ul li {
    border:none;
	text-align:center;
	padding-bottom: 5px;
}
.left-top-box1 .left_tab_function li a{
	/*padding-left: 32px;*/
    height: 29px;
	text-overflow : ellipsis;
	font-size:14px;
}

.left-top-box1 .left_tab_function li a:hover{
	text-decoration:underline;
}

.left-top-box1 .left_tab_function li ul li a, .left-top-box1 .left_tab_function li a.fourmtypeicon {
   padding-left: 0px;
   /*margin-left:5px;*/
}

.left-top-box1 .left_tab_function li ul { margin:5px 0;}
.left-top-box1 .mobile_game_line span{
    margin: 0px 2px !important; !important;
    vertical-align: middle;
    line-height: 32px;
}
.fourmtypeicon a{
    font-size: 15px;
}
.icon {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 30px;
    max-width: 150px;
    background-image: url(/images/r15/platform_list.png?v=20160122) ;
}
.platform_list{
    width: 290px;
    padding: 0px 0px;    
    margin: 0px 0px;
}
.platform_list span{
    font-size: 14px;
    color: #666;
}
.ps4{
    background-position: -14px -4px;
}
.ps3{
    background-position: -144px -4px;
}
.xbox1{
    background-position: -14px -44px;
}
.xbox360{
    background-position: -144px -42px;
}
.nds{
    background-position: -14px 199px;
}
.psvpsp{
    background-position: -144px 199px;
}
.wiiu{
    background-position: -14px 159px;
}
.olg{
    background-position: -144px -121px;
}
.cpgame{
    background-position: -14px 119px;
}
.oldgame{
    background-position: -144px 119px;
}
.anime{
    background-position: -14px 79px;
}
.comic{
    background-position: -144px 79px;
}
.toys{
    background-position: -14px 39px;
}
.cosplay{
    background-position: -144px 39px;
}
.mobile_game{
    border: none !important;
}

.mobile_game a{
    font-size: 14px;
    line-height: 32px;
    word-break: break-all;  word-wrap: break-word;
    color: #666;
}
.mobile_game_line{
    border-bottom: 1px dotted #7f7f7f;
}
.mobile_game .fourmtypeicon{
    line-height: 32px;
}
.left-top-box2{
    height: auto;
    padding: 0px;
    margin: 0px 0px;
}
.left-top-box2 .title span{
    left: 0;
    line-height: 32px;
    font-size: 15px;
}
.left-top-box2 .title span:hover{
	text-decoration:none;
	color: #222 !important;
}
.left-top-box2 .title {
	background:url(../images/line.jpg) bottom left no-repeat;
	height: 30px;
    margin-bottom: 4px;
}
.left-top-box3{
	border-bottom: solid 1px #ff7500;
    height: 410px;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;        -moz-box-sizing:border-box;        -webkit-box-sizing:border-box;
}
.index-link-list{
    border-top: 0px;
    padding: 0px;
    margin: 0px 6px;
}
.index-link-list span{
      margin-left: 27px;
    font-size: 15px;
    line-height: 40px;
}

.index-link-list a.index-link{
    display:block;
    width: 47%;
    float:left;
    text-align: left;
    height: 40px;
    text-decoration:none;
    color:#222;
}
.index-link-list a.index-link:hover{
	text-decoration: none;
}
.indexlist_icon{
    display: inline-block;
    width: 24px;
    height: 24px;
 /*   margin-right: 7px;*/
    text-decoration: none;
    background-image: url(/images/r15/icon_list.png);
    overflow: hidden;
    position: relative;
    /* background-repeat: no-repeat; */
}
.i_1{
    background-position: -10px 0px;
}
.i_2{
    background-position: -138px 0px;
}
.i_3{
    background-position: -10px -40px;
}
.i_4{
    background-position: -138px -40px;
}
.i_5{
    background-position: -10px -80px;
}
.i_6{
    background-position: -138px -80px;
}
.i_7{
    background-position: -10px -120px;
}
.i_8{
    background-position: -138px -120px;
}
.i_9{
    background-position: -10px -160px;
}
.i_10{
    background-position: -138px -160px;
}
.i_11{
    background-position: -10px -200px;
}
.i_12{
    background-position: -138px 208px;
}
.i_13{
    background-position: -10px -240px;
}
.i_14{
    background-position: -138px 167px;
}
.i_15{
    background-position: -10px -280px;
}
.i_16{
    background-position: -138px -280px;
}
.i_17{
    background-position: -10px -320px;
}
.i_18{
    background-position: -138px 88px;
}
.i_19{
    background-position: -10px 48px;
}

/*main_content*/
#content{
	width: 585px;
	position: relative;
	float: left;  
	margin: 0 7px;
}

.topic_content_main {
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.content { border:1px solid #ccc; margin-bottom:15px;}
.content a.right_more { line-height:22px;}

.topic_content_bottom .content { margin-bottom:0px; min-height:700px; }
.topic_content a:hover{
	color:#ff7500; !important
    text-decoration:underline;
}
.topic_content p a:hover{
	color:#ff7500;
    text-decoration:underline;
}
.topic_ctag{
	margin-bottom: -1px;
	z-index: 10;
	overflow: hidden;
}
.topic_ctag li{
	float: left;
	margin-right: 2px;
}
.topic_ctag li:last-child{
	margin-right: 0px;
}
.topic_ctag a{
	display: inline-block;	
	border: 1px solid #CCCCCC;
	font-size:15px;
	line-height: 23px;
	height: 23px;
	padding: 0 8px;
	text-align: center;
	min-width: 40px;
	background: #e9e9e9;
	color: #999999;
}
.topic_ctag a:hover, .topic_ctag .ui-state-active a{
	display: inline-block;	
	border: 1px solid #CCCCCC;
	line-height: 23px;
	height: 23px;
	padding: 0 8px;
	text-align: center;
	min-width: 40px;
	border-bottom: none;
	background: #fff;
	color: #222222;
	text-decoration:none;
}

.topic h3{ 
	margin: 0;
	font-size: 18px;
	color: #222;
	line-height: 24px;
}
.topic p{ 
	font-size: 14px;
	color: #222;
	line-height: 19px;
	word-break: break-all;  word-wrap: break-word;
}
.topic_hot_head{
    border-bottom: 1px dotted #CCCCCC;
    margin: 8px;
    padding: 0px 0px 10px 0;
}

.topic_hot_head .hot-topic-img{ /* stephen, 20150202 */
	overflow: hidden; 
	height: 185px;
}
.topic_hot_head .hot-topic-img a{ /* stephen, 20150202 */
	width: 567px;
	height: 185px;
	background-position: center center;
	background-size: cover;
	display: block;
}

.topic_hot_head .hot-topic-img img { /* stephen, 20150202 */
	width: 567px;
}

.topic_hot_pic_box{
	/* border-bottom: 1px dotted #CCCCCC; */
	overflow: hidden;    
	margin: 5px 0px;  
	padding: 5px 0px;
}
.topic_hot_pic_box div.hot-topic-box{
	float: left;
	width: 180px;
	line-height: 1.3;
  text-align: left;  
	padding: 0;
	margin: 0px 7px;
}

.topic_hot_pic_box .hot-topic-img{ /* stephen, 20150202 */
	overflow: hidden; 
	height: 101px;
}

.topic_hot_pic_box .hot-topic-img a{ /* stephen, 20150202 */
	width: 180px;
	height: 101px;
	background-position: center center;
	background-size: cover;
	display: block;
}

.topic_hot_pic_box .hot-topic-img img { /* stephen, 20150202 */
	max-height: 180px;
}

.topic_hot_list{
	padding: 0;
	border-top: 1px dotted #CCCCCC;
	margin: 0 10px;
}
.topic_hot_list p{
	border-bottom: 1px dotted #CCCCCC;
	padding: 8px 0;
}
.topic_hot_list a{
	font-size: 16px;
	/* stephen, 20150202 */
	display:block;    
	margin-left:93px; 
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.topic_hot_list span{
	display: inline-block;
	width: 100px;
	margin-right: 6px;
	line-height: 18px;
	text-align: center;
	background-color: #ffe0cc;
	color: #ff7500;
	font-size: 13px;
	padding: 2px;
	height: auto;
	/* stephen, 20150202 */
	overflow:hidden;
	max-height:22px;
	display:block;
	float:left;
}

/*bottom*/
.topic_life{
	width: 585px;
	padding: 0px 10px 0px 10px;
}


.topic_life .box_normal a, .topic_life .box_normal_img a{
	font-size: 15px;
	line-height: 22px;
}

.box_normal{
	float: left;
	width: 565px;
	text-align: center;
	height: auto;
	vertical-align: middle;
	position: relative;
	border-bottom: 1px dotted #CCCCCC;
	padding: 10px 0px;
}
.box_normal img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 90px;
	max-height: 90px;
}
.box_normal div{
	float: left;
	width: 100px;
	text-align: center;
	height: 100px;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}
.box_normal p, .box_normal_img p{ 
	line-height: 24px;
	word-break: normal;
	word-wrap: break-word;
	text-align: left;
}
.box_normal span, .box_normal_img span{
	display: block;
	text-align: right;
	color: #666666;
	margin: 0 auto;
	position: absolute;  
	right: 0px;
	top: 15px;
	font-size: 13px;
}
.box_normal span:hover, .box_normal_img span:hover{
    text-decoration:underline;
   	color: #ff7500 !important;
}
.box_normal_h1{
	font-weight: normal;
  display: block;
	padding: 3px 0;
  margin-bottom: 5px;
	color: #ff7500 !important;
	margin: 0;
	font-size: 15px;  
	text-align: left;
	line-height: 22px;
	/* stephen, 20150202 */
	max-width: 435px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.box_normal_h1 a{
		color: #ff7500 !important;
}
/*right*/
#right{
	width: 300px;
	float: left;  
	margin: 0;
}
.right-top-youtube{
    background-image:url(/images/r15/tvshape.png);
	height: 240px;
	width: 300px;
    display: block;
    margin-bottom: 3px;
    background-repeat: no-repeat;
	
}

.right-top-youtube object{
	 margin: 0px auto;
	 position: relative;
	 display: block;
	 padding: 25px 0px;
	 padding: 20px 5px \9; /*IE8 */
}

.right-top-ad1{
    margin-bottom: 3px;
}
.right-top-facebook{
	width: 300px;
	height: 184px;
	margin-bottom: 6px;
}
.right-top-ad2{
    margin-bottom: 14px;	
}
.right-top-ad4{
	padding-top:6px;
}

/*----------footer------------*/
#footer-container{
	position:relative;
	width:100%;
	height:150px;
}
#footer{
	width:100%;
	height:100%;
	min-width:580px;	
	font-size:13px;
	color:#FFF;
	z-index:20;
	position:absolute;
	bottom:0px;
	left:0px;
 	line-height:180%; clear:both;;
}

#footer-area{
	width:580px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}
#footer-area a{
	color:#999999;
	text-decoration:none;
}
#footer-area a:active{
	color:#F00;	
}
#footer-area a:hover{
	text-decoration:underline;
}

#footer-area .basic-info{
	color:#999999;
	clear:both;
	text-align:center;
}
#footer-area .basic-info a{
	display:inline-block;
	*display: inline;
	zoom: 1;
	padding: 5px 3px;
}
#footer-area p{
	text-align: center;
}
#footer-area .hidden{
	color:#999999;
}

/* stephen, 20150210 */
#footer-area #debuginfo{
	font-size: 13px;
	color: #999;
}

.align-left{
	text-align:left;
}
a.right_more{
    text-align: right;
    border-bottom: none;
    float: right;
    color: #ff7500 !important;
    font-size: 16px;
    margin: 9px 0px;
    display: inline-block;
    cursor: pointer;
}
.right_more img{
    margin-right: 5px;
}
.right_more span{
	color: #ff7500 !important;
	line-height: 40px !important;
}

/*youtube btn*/
.youtube_sub{
	text-indent: 170px;
	margin: 0px;
	padding: 0px;
	border-style: none;
	float: none;
	line-height: normal;
	font-size: 1px;
	vertical-align: baseline;
	display: inline-block;
	width: 118px;
	height: 24px;
	background: transparent;
}


/* stephen, 2016-01-22 */
.left-top-box3 { height: auto; }

.left-top-box3 .index-link-group{
	float:left;
	width:47%;
	margin-bottom:15px;
}
    	
.index-link-list a.index-link{
	width: 100%;
}
    	
.left-top-box3 .index-link-list .content{
	font-size: 13px;
	height: 55px;
	overflow: hidden;
	padding: 0;
	border: 0;
	float: left;
	margin-bottom: 10px;
	width: 125px;
}

.left-top-box3 .index-link-list .content ul{
	margin: 0 0 0 20px;
  list-style: outside none none;
  padding: 0;
}
    
.left-top-box3 .index-link-list .content .gid_list_style {
	list-style-image: url("/images/r13/gid_dots_news.png");
}

.left-top-box3 .index-link-list .content .gid_list_style a {
	/*display: list-item;*/
	overflow: hidden;
	width: 125px;
	white-space: nowrap;
}
		
.left-top-box3 .index-link-list .gid_more {
	background-color: #f3f3f3;
	background-image: none;
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	border-radius: 3px;
	color: #666 !important;
	/*display: inline-block;*/
	margin-left: 15px;
	margin-top: 10px;
	overflow: hidden;
	padding: 1px 11px;
	text-decoration: none;
	width: 11px;
}
		
.left-top-box3 .index-link-list .gid_more .gid_more_text {
	display: none;
	margin-left: 10px;
	width: 0;
	white-space: nowrap;
	line-height:0;
}

.left-top-box3 .index-link-list .gid_more:hover .gid_more_text {
	display: inline-block;
	color:#333;
	width:25px;
}

.left-top-box3 .index-link-list .gid_more:hover{ /*width:42px;*/ }
		
a.gid_more:link, a.gid_more:visited, span.gid_more_text {
	color: #333;
}
		
.left-top-box3 .index-link-list .gid_more, .left-top-box3 .index-link-list .gid_more span.gid_more_text {
	font-size: 13px;
}

@media screen and (max-width: 1190px) {
	.left-top-box2 .title { margin-bottom:5px;}
	.ad{
    margin: 0 0 4px 0;		
	}
	#page{
		width: 980px;
	}
	#header_bar .bar_content{
		width: 980px;
	}
	.sub_top_bar{
	  width: 980px;
	}
	.w1024{
		display: block;
	}
	.w1400{
		display: none;
	}
    #left{
      width: 80px;    
      margin-left: 0px;
     }  
    .icon{    
    	background-image: none;
    }
    .platform_list{
    	display: none;
    }
    .left-top-box1{
    	width: 100%;    
    	margin: 0 auto;    
    	margin-top: -3px;
    }
    .left_tab_function{
    	width: 100%;    
    	margin: 0px;
    }
    .mobile_game_line{
    	border: none;
    }
    .left-top-box1 li{
    	width: 100%;
		height:40px;
    	line-height: 40px;
		text-align:center;        
    }    
    .left_tab_function .right_more, .left_tab_function .hot_right_more{
    	display: none;
    }
    .left-top-box1 img {
        display:none;
    }
    .left-top-box1 .left_tab_function li a {
		font-size: 13px;
    }
	.left_tab_function { padding:0;}
	.left-top-box1 .left_tab_function li ul li a, .left-top-box1 .left_tab_function li a.fourmtypeicon { margin:0;}
	
	.left-top-box1 .left_tab_function a.oldgame , .left-top-box1 .left_tab_function a.olg, .left-top-box1 .left_tab_function a.fourmtypeicon{
		font-size: 15px;
		line-height: 40px; 
	}

    /*bottom*/
    .left-top-box3{
    	height: auto;
		border: #c9c9c9 1px solid !important;
    	margin-top: 10px;
    }
    .index-link-list a.index-link{
    	width: 100%;    
    	height: auto;
    }
    .index-link-list a span{
    	margin: 0;
      	line-height: 25px;
    }
    .indexlist_icon{
    	background-image: none;
    }
    
    .left-top-box3 .index-link-list .content, .left-top-box3 .index-link-list .gid_more{
    	display:none;
    }
    
    .left-top-box3 .index-link-group{
			width:100%;
			margin-bottom: 10px;
		}
}



/*20160531*/
.acg-title{ border-bottom: solid 1px #ff7500;}

.acg-title span{ color: #a4a4a4;
				 font-size: 18px;
				 padding-left: 8px;
				 vertical-align: middle;}

.acg-title a img{ vertical-align: middle; }

.acg-title a:hover{
	color: #ff7500;
    text-decoration: none;
	}
	
.featured-title{ border-bottom: solid 1px #ff7500;}

.featured-title span{ color: #a4a4a4;
				 font-size: 18px;
				 padding-left: 8px;
				 vertical-align: middle;}

.featured-title img{ vertical-align: middle;}

a.fourmtypeicon { color: #ff7500; margin-left:10px}

.right_more {width:116px;}

.mobile_title_large_icon {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 88px;
    max-width: 150px;
}

.mobile_title_small_icon {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 64px;
    max-width: 150px;
}

.mobile_game_large {
    display: inline-block;
    width: 290px;
    text-align: center;
	padding-bottom: 5px;
    padding-top: 5px;
}

.mobile_game_large>li {
	margin-left: 10px;
    margin-right: 10px;
}

.mobile_game_small {
    display: inline-block;
	padding-left: 10px;
    padding-right: 10px;
}

#more-button {
	  border-style: none;
	  background: url(/images/r16/home_expand.png) no-repeat;
	  letter-spacing: 2px;
	  color: #a89e98;
	  font-size:14px;
	  width:250px;
	  height:55px;
	  cursor: pointer;
	  margin: 0 10px;
	  }
	  
#more-button:focus {outline:0;}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

.ps4-icon, .ac-icon{
    width: 132px;
    height: 55px !important;
    position: relative;
    display: inline-block;
}

.ps4-icon:before, .ps4-icon:after, .ac-icon:before, .ac-icon:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
	cursor: pointer;
}
.ps4-icon:before {
    background-image: url('/images/r16/ps4_icon.png');
    z-index: 1;
    transition: opacity 0.3s;
}

.ps4-icon:after {
    background-image: url('/images/r16/ps4_icon_hover.png');
}

.ac-icon:before {
    background-image: url('/images/r16/ac_icon.png');
    z-index: 1;
    transition: opacity 0.3s;
}

.ac-icon:after {
    background-image: url('/images/r16/ac_icon_hover.png');
}


.ps4-icon:hover:before, .ac-icon:hover:before{
    opacity: 0;
}

.left-top-box1b{
	text-align: center;
	}

.left-top-box1b li{
	display: inline-block;
    width: 135px;
    margin: 0px 0px;
    padding: 0px 0px;
	}

.fourmtypeicon-other{
	margin-left:10px;
	margin-bottom:10px;
	font-size: 14px;
    display: block;
    color: #ff7500;}

.left-top-box1c{
	padding-top:10px;
	padding-left:9px;
	}

.left-top-box1c li{
	display: inline-block;
    width: 65px;
    margin: 0px 0px;
    padding: 0px 0px;
	vertical-align: middle;
	padding-bottom: 10px;
	}

.left-top-box1c li a:hover{
	text-decoration: none !important;}
	
	
.o-btn{
	cursor: pointer;
	display: block;
	outline: none;
	position: relative;
	line-height: 15px;
	}
	
.o-btn:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;}

.o-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.o-btn:before {
	speak: none;
	text-transform: none;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.o-btn-2 {
	background: #FFFFFF;
	width:62px;
	height:55px !important;
	border:#c9c9c9 1px solid;
	color: #a1a1a1!important;
	text-align: center;
	display: inline-block;
	padding-top: 12px;
}

.o-btn-2a:hover, .o-btn-2a:active {
	color: #fff!important;
	background: #fd7829;
	background-size: 62px 55px;
	border:#fd7829 1px solid; 
}

.ps3-one-row{
	padding-top:20px !important;}
	

.left_tab_function .hot_right_more{
    cursor: pointer;
    /* display: inline-block; */
    font-size: 14px;
    margin: 0px;
    padding: 0;
    vertical-align: middle;
}

.content a.hot_right_more { line-height:22px;}

a.hot_right_more{
	/*text-align:right;*/
	border-bottom: none;
	float:right;
	color: #919191 !important;
	font-size: 16px;
	margin: 9px 0px;
	display: inline-block;
	cursor:pointer;
	background-image: url(/images/r16/acg_title_bg.png);
	background-repeat: no-repeat;
	background-position:top;
	padding-left: 20px !important;
}

.hot_right_more img{
    margin-right: 5px;
}
.hot_right_more span{
	color: #ff7500 !important;
	line-height: 40px !important;
}

a.hot_right_more:hover{ color: #ff7500 !important; background-image: url(/images/r16/acg_title_bg.png);
					background-repeat: no-repeat; 
					background-position:bottom;
					}
					
.hot_right_more {width:116px;}



.others-title{ border-bottom: solid 1px #ff7500;
			   padding-top:10px;
			   }

.others-title span{ color: #a4a4a4;
				 font-size: 18px;
				 padding-left: 8px;
				 vertical-align: middle;}

.others-title a img{ vertical-align: middle; }

.others-title a:hover{
	color: #ff7500;
    text-decoration: none;
	}
	
.left-top-box1 .left-top-box1c li a {
	    padding: 12px 10px;
	}


	

@media screen and (max-width: 1190px) {
	.left-top-box1c{
		text-align: inherit;
		padding-left:inherit;
		}
	
	.o-btn-2{
		width: 80px;
		}
		
	.left-top-box1 .left_tab_function li a{

		}
		
	.o-btn-2{
		height: 41px !important;
		}
	.ps4-icon, .ac-icon{
		background: #FFFFFF !important;
    	border: #c9c9c9 1px solid !important;
    	color: #a1a1a1 !important;
    	text-align: center !important;
    	display: inline-block !important;
		width: 80px;
		height: 41px !important;
		cursor: pointer !important;
    	outline: none !important;
		text-decoration:none !important;
		}
		
	.ps4-icon:hover, .ps4-icon:active, .ac-icon:hover, .ac-icon:active {
    	color: #fff!important;
    	background: #fd7829!important;
    	background-size: 62px 55px !important;
    	border: #fd7829 1px solid !important;
		-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
		}
	
	.ps4-icon:before, .ps4-icon:after, .ac-icon:before, .ac-icon:after{
		background-image:none;
		}
	
	.left-top-box1b li{
		width:100%;
		}
		
	.left-top-box1c{
		padding-top:inherit;
		}
		
	.left-top-box1 .left-top-box1c li a{
		padding: inherit;
    	padding-top: 12px;
		}
			
	.ps3-one-row{
		padding-top:12px !important;
		}
	
	.fourmtypeicon-other{
		display:none;
		}
		
	#left .game div{
		padding:inherit !important;
		border: 1px solid #CCC;
		}
	
	#left .game div a{
		padding: 10px 0 !important;
		}
	
	.acg-title span, .featured-title span, .others-title span{
		font-size:15px;}
		
	.acg-title a img, .featured-title img, .others-title a img{
		display:none;
		}
		
	.acg-title, .featured-title{
		padding-top:10px;
		}
	
	.index-link-list span{
		font-size:13px;
		}
		
	.index-link-list{
		margin:inherit !important;
		padding: 0 13px;
		}
		
	.left-top-box3{
		padding:inherit !important;
		}
		
	.others-title{
		text-align: center;
		}
	
	.others-title span{
		padding-left:inherit !important;
		}

}

/* 20161130 hmpg hot topic section */

.topic_content_bottom  .topic_ctag {
    background-image: url(/images/r16/tab_line.png);
    background-repeat: repeat-x;
    background-position: 0 20px;
    width: 100%;
    padding-bottom: 0px;
}

.topic_content_bottom  .topic_ctag a {
    display: inline-block;
    border: none;
    font-size: 15px;
    line-height: 23px;
    height: 23px;
    padding: 0 8px;
    text-align: center;
    min-width: 40px;
    background: none;
    color: #999999;
		outline:0;
	
}

.topic_content_bottom .ui-tabs-active, .topic_content_bottom .ui-state-active, .topic_content_bottom .topic_ctag a:hover, .topic_content_bottom .topic_ctag .ui-state-active a {
	color:#ff7815;
	font-size: 18px;
	background-image: url(/images/r16/tab_line_active.png);
	background-repeat: no-repeat;
	background-position: center 20px;
	padding-bottom: 10px;
}

.topic_content_bottom .topic_content_main {
    border: none;
}

.topic_content_bottom .topic_content_main .box_normal, .topic_content_bottom .topic_content_main .box_normal_img  {
    float: left;
    width: 565px;
    text-align: center;
    height: auto;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px dotted #CCCCCC;
    padding: 10px 0px;
}

.topic_content_bottom .topic_content_main .box_normal span, .topic_content_bottom .topic_content_main .box_normal_img span{
    color: #999;
    top: 11px;
}

.box_normal div{
	height: auto;
}

.topic_content_bottom  .topic_content_main .box_normal_img .box_normal_left {
    float: left;
    width: 160px;
}

.topic_content_bottom .topic_content_main .box_normal_img .hot_topic_img{
	height: 90px;
	width: 160px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 5px 0;
}

.topic_content_bottom .topic_content_main  .box_normal .box_normal_right{
	width: 100%;
	
}

.topic_content_bottom .topic_content_main  .box_normal_img .box_normal_right{
	float: left;
	width: calc(100% - 170px);
	margin-left: 10px;
}

.topic_content_bottom .topic_content_main  .box_normal .box_normal_h1, .topic_content_bottom .topic_content_main  .box_normal_img .box_normal_h1{
	max-width: calc(100% - 60px);
	padding: 0;
}

.topic_content_bottom .topic_content_main .box_normal_right p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* end of 20161130 hmpg hot topic section */