.member_icon img{
	width: 22px;
	height: 22px;
}

.bar_content #top-login-box {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #666;
    display: none;
    font-size: 12px;
    height: 190px;
    line-height: 16px;
    position: absolute;
    right: 305px;
    text-align: left;
    top: 30px;
    width: 270px;
}


#top-login-box .login-box-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 230px;
}
#top-login-box .login-box-content .login-box-field {
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 15px;
    text-indent: 5px;
}
#top-login-box .login-box-content .login-box-field::-moz-placeholder {
    color: #aaa;
}
#top-login-box .login-box-content .login-box-field:focus {
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(38, 121, 255, 0.2);
}
#top-login-box .login-box-content .full-width {
    padding: 1px 0;
    width: 228px;
}
.bar_content #top-login-box .top-arrow {
    background-image: url("http://n2.hk/images/r13/home/uwants-interface-element.png");
    background-position: -75px -30px;
    height: 10px;
    position: absolute;
    right: 115px;
    top: -10px;
    width: 10px;
}
.login-box-field-title {
    color: #333;
    font-size: 12px;
}
#top-login-box .login-box-content .login-box-btn-login, #top-login-box .login-box-content .login-box-btn-reg {
    background-color: transparent;
    background-image: url("http://n2.hk/images/r13/home/uwants-interface-element.png");
    background-position: 0 -115px;
    background-repeat: no-repeat;
    border: 0 solid #fff;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    text-indent: -999px;
    width: 110px;
}
#top-login-box .login-box-content .login-box-btn-login {
    margin-right: 10px;
}
#top-login-box .login-box-content .login-box-btn-login:hover {
    background-position: -110px -115px;
}
#top-login-box .login-box-content .login-box-btn-login:active {
    background-position: -220px -115px;
}
#top-login-box .login-box-content .login-box-btn-reg {
    background-position: 0 -145px;
}
#top-login-box .login-box-content .login-box-btn-reg:hover {
    background-position: -110px -145px;
}
#top-login-box .login-box-content .login-box-btn-reg:active {
    background-position: -220px -145px;
}
#top-login-box .login-box-additional-info {
    bottom: 10px;
    position: absolute;
    right: 20px;
}
#top-login-box .login-box-additional-info a {
    color: #06f;
    text-decoration: none;
}
#top-login-box .login-box-additional-info a:hover {
    text-decoration: underline;
}



#top-service-box {
    background-image: url("http://n2.hk/images/r13/home/black-70.png");
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 620px;
    z-index: 16;
}
#top-service-box .box-title {
    color: #fff;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 2px;
    text-align: left;
}
#top-service-box .service-with-logo {
    background-color: #fff;
    height: 129px;
    margin: 0 10px;
    overflow: hidden;
}
#top-service-box .service-with-logo a {
    background-color: #fff;
    border-color: #fff #ddd #ddd #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: left;
    height: 65px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 150px;
}
#top-service-box .service-with-logo a:hover {
    background-color: #f9f9f9;
    border-color: #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-style: solid;
    border-width: 1px;
}
#top-service-box .service-with-logo a img {
    display: block;
    margin: auto;
}
#top-service-box .service-with-logo a span {
    display: none;
    font-size: 12px;
}
#top-service-box .service-text {
    background-color: #eee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    clear: both;
    height: 28px;
    margin: 0 10px 10px;
    overflow: hidden;
}
#top-service-box .service-text a {
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
    display: block;
    float: left;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-decoration: none;
}
#top-service-box .service-text a:hover {
    background-color: #e6e6e6;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


.bar_content .top-index-box {
    background-image: url("http://n2.hk/images/r13/home/black-70.png");
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 776px;
    z-index: 16;
}
.bar_content .top-index-box-on {
    display: block;
}
.bar_content .top-index-box .index-box-area {
    padding: 0 10px 10px;
}
.bar_content .top-index-box .index-box-area .index-box-title {
    color: #fff;
    font-size: 11px;
    margin-top: 2px;
    text-align: left;
}
.bar_content .top-index-box a, .bar_content .top-index-box .g_blank {
    background-color: #f3f3f3;
    background-image: url("http://n2.hk/images/r13/home/top-index-bg.png");
    border-color: #fff #fff #ccc #ccc;
    border-left: 1px solid #ccc;
    border-style: solid;
    border-width: 1px;
    color: #555;
    display: block;
    float: left;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width: 126px;
}
.bar_content .top-index-box .g_blank {
    background-image: none;
}
.bar_content .top-index-box a.special {
    color: #046ebf;
}
.bar_content .top-index-box a:hover {
    background-color: #046ebf;
    border-color: #fff;
    border-left: 1px solid #fff;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    overflow: hidden;
    text-shadow: none;
}
.bar_content .top-index-box a span {
    left: 38px;
    position: absolute;
    top: 7px;
}
.bar_content .top-index-box a.g621 {
    background-position: 0 0;
}
.bar_content .top-index-box a.g255 {
    background-position: -124px 0;
}
.bar_content .top-index-box a.g976 {
    background-position: -248px 0;
}
.bar_content .top-index-box a.g922 {
    background-position: -372px 0;
}
.bar_content .top-index-box a.g978 {
    background-position: -496px 0;
}
.bar_content .top-index-box a.g630 {
    background-position: -620px 0;
}
.bar_content .top-index-box a.g274 {
    background-position: -744px 0;
}
.bar_content .top-index-box a.g982 {
    background-position: -868px 0;
}
.bar_content .top-index-box a.g239 {
    background-position: -992px 0;
}
.bar_content .top-index-box a.g541 {
    background-position: -1116px 0;
}
.bar_content .top-index-box a.g974 {
    background-position: 0 -35px;
}
.bar_content .top-index-box a.g610 {
    background-position: -124px -35px;
}
.bar_content .top-index-box a.g981 {
    background-position: -248px -35px;
}
.bar_content .top-index-box a.g626 {
    background-position: -372px -35px;
}
.bar_content .top-index-box a.g979 {
    background-position: -496px -35px;
}
.bar_content .top-index-box a.g266 {
    background-position: -620px -35px;
}
.bar_content .top-index-box a.g629 {
    background-position: -744px -35px;
}
.bar_content .top-index-box a.g1181 {
    background-position: -868px -35px;
}
.bar_content .top-index-box a.g254 {
    background-position: -992px -35px;
}
.bar_content .top-index-box a.g1182 {
    background-position: -1116px -35px;
}
.bar_content .top-index-box a.g627 {
    background-position: 0 -70px;
}
.bar_content .top-index-box a.g620 {
    background-position: -124px -70px;
}
.bar_content .top-index-box a.g628 {
    background-position: -248px -70px;
}
.bar_content .top-index-box a.g618 {
    background-position: -372px -70px;
}
.bar_content .top-index-box a.g1180 {
    background-position: -496px -70px;
}
.bar_content .top-index-box a.g10 {
    background-position: -620px -70px;
}
.bar_content .top-index-box a.g14 {
    background-position: -744px -70px;
}
.bar_content .top-index-box a.g983 {
    background-position: -868px -70px;
}
.bar_content .top-index-box a.g1412 {
    background-position: -992px -70px;
}
.bar_content .top-index-box a.g484 {
    background-position: -1116px -70px;
}
.bar_content .top-index-box a.g1179 {
    background-position: 0 -105px;
}
.bar_content .top-index-box a.g975 {
    background-position: -124px -105px;
}
.bar_content .top-index-box a.g617 {
    background-position: -248px -105px;
}
.bar_content .top-index-box a.g977 {
    background-position: -372px -105px;
}
.bar_content .top-index-box a.g619 {
    background-position: -496px -105px;
}
.bar_content .top-index-box a.g980 {
    background-position: -620px -105px;
}
.bar_content .top-index-box a.g356 {
    background-position: -744px -105px;
}
.bar_content .top-index-box a.g719 {
    background-position: -868px -105px;
}
.bar_content .top-index-box a.g6 {
    background-position: -992px -105px;
}
.bar_content .top-index-box a.g31 {
    background-position: -1116px -105px;
}
.bar_content .top-index-box a.g621.special {
    background-position: 0 -420px;
}
.bar_content .top-index-box a.g255.special {
    background-position: -124px -420px;
}
.bar_content .top-index-box a.g976.special {
    background-position: -248px -420px;
}
.bar_content .top-index-box a.g922.special {
    background-position: -372px -420px;
}
.bar_content .top-index-box a.g978.special {
    background-position: -496px -420px;
}
.bar_content .top-index-box a.g630.special {
    background-position: -620px -420px;
}
.bar_content .top-index-box a.g274.special {
    background-position: -744px -420px;
}
.bar_content .top-index-box a.g982.special {
    background-position: -868px -420px;
}
.bar_content .top-index-box a.g239.special {
    background-position: -992px -420px;
}
.bar_content .top-index-box a.g541.special {
    background-position: -1116px -420px;
}
.bar_content .top-index-box a.g974.special {
    background-position: 0 -455px;
}
.bar_content .top-index-box a.g610.special {
    background-position: -124px -455px;
}
.bar_content .top-index-box a.g981.special {
    background-position: -248px -455px;
}
.bar_content .top-index-box a.g626.special {
    background-position: -372px -455px;
}
.bar_content .top-index-box a.g979.special {
    background-position: -496px -455px;
}
.bar_content .top-index-box a.g266.special {
    background-position: -620px -455px;
}
.bar_content .top-index-box a.g629.special {
    background-position: -744px -455px;
}
.bar_content .top-index-box a.g1181.special {
    background-position: -868px -455px;
}
.bar_content .top-index-box a.g254.special {
    background-position: -992px -455px;
}
.bar_content .top-index-box a.g1182.special {
    background-position: -1116px -455px;
}
.bar_content .top-index-box a.g627.special {
    background-position: 0 -490px;
}
.bar_content .top-index-box a.g620.special {
    background-position: -124px -490px;
}
.bar_content .top-index-box a.g628.special {
    background-position: -248px -490px;
}
.bar_content .top-index-box a.g618.special {
    background-position: -372px -490px;
}
.bar_content .top-index-box a.g1180.special {
    background-position: -496px -490px;
}
.bar_content .top-index-box a.g10.special {
    background-position: -620px -490px;
}
.bar_content .top-index-box a.g14.special {
    background-position: -744px -490px;
}
.bar_content .top-index-box a.g983.special {
    background-position: -868px -490px;
}
.bar_content .top-index-box a.g1412.special {
    background-position: -992px -490px;
}
.bar_content .top-index-box a.g484.special {
    background-position: -1116px -490px;
}
.bar_content .top-index-box a.g1179.special {
    background-position: 0 -525px;
}
.bar_content .top-index-box a.g975.special {
    background-position: -124px -525px;
}
.bar_content .top-index-box a.g617.special {
    background-position: -248px -525px;
}
.bar_content .top-index-box a.g977.special {
    background-position: -372px -525px;
}
.bar_content .top-index-box a.g619.special {
    background-position: -496px -525px;
}
.bar_content .top-index-box a.g980.special {
    background-position: -620px -525px;
}
.bar_content .top-index-box a.g356.special {
    background-position: -744px -525px;
}
.bar_content .top-index-box a.g719.special {
    background-position: -868px -525px;
}
.bar_content .top-index-box a.g6.special {
    background-position: -992px -525px;
}
.bar_content .top-index-box a.g31.special {
    background-position: -1116px -525px;
}
.bar_content .top-index-box a.g621:hover {
    background-position: 0 -210px;
}
.bar_content .top-index-box a.g255:hover {
    background-position: -124px -210px;
}
.bar_content .top-index-box a.g976:hover {
    background-position: -248px -210px;
}
.bar_content .top-index-box a.g922:hover {
    background-position: -372px -210px;
}
.bar_content .top-index-box a.g978:hover {
    background-position: -496px -210px;
}
.bar_content .top-index-box a.g630:hover {
    background-position: -620px -210px;
}
.bar_content .top-index-box a.g274:hover {
    background-position: -744px -210px;
}
.bar_content .top-index-box a.g982:hover {
    background-position: -868px -210px;
}
.bar_content .top-index-box a.g239:hover {
    background-position: -992px -210px;
}
.bar_content .top-index-box a.g541:hover {
    background-position: -1116px -210px;
}
.bar_content .top-index-box a.g974:hover {
    background-position: 0 -245px;
}
.bar_content .top-index-box a.g610:hover {
    background-position: -124px -245px;
}
.bar_content .top-index-box a.g981:hover {
    background-position: -248px -245px;
}
.bar_content .top-index-box a.g626:hover {
    background-position: -372px -245px;
}
.bar_content .top-index-box a.g979:hover {
    background-position: -496px -245px;
}
.bar_content .top-index-box a.g266:hover {
    background-position: -620px -245px;
}
.bar_content .top-index-box a.g629:hover {
    background-position: -744px -245px;
}
.bar_content .top-index-box a.g1181:hover {
    background-position: -868px -245px;
}
.bar_content .top-index-box a.g254:hover {
    background-position: -992px -245px;
}
.bar_content .top-index-box a.g1182:hover {
    background-position: -1116px -245px;
}
.bar_content .top-index-box a.g627:hover {
    background-position: 0 -280px;
}
.bar_content .top-index-box a.g620:hover {
    background-position: -124px -280px;
}
.bar_content .top-index-box a.g628:hover {
    background-position: -248px -280px;
}
.bar_content .top-index-box a.g618:hover {
    background-position: -372px -280px;
}
.bar_content .top-index-box a.g1180:hover {
    background-position: -496px -280px;
}
.bar_content .top-index-box a.g10:hover {
    background-position: -620px -280px;
}
.bar_content .top-index-box a.g14:hover {
    background-position: -744px -280px;
}
.bar_content .top-index-box a.g983:hover {
    background-position: -868px -280px;
}
.bar_content .top-index-box a.g1412:hover {
    background-position: -992px -280px;
}
.bar_content .top-index-box a.g484:hover {
    background-position: -1116px -280px;
}
.bar_content .top-index-box a.g1179:hover {
    background-position: 0 -315px;
}
.bar_content .top-index-box a.g975:hover {
    background-position: -124px -315px;
}
.bar_content .top-index-box a.g617:hover {
    background-position: -248px -315px;
}
.bar_content .top-index-box a.g977:hover {
    background-position: -372px -315px;
}
.bar_content .top-index-box a.g619:hover {
    background-position: -496px -315px;
}
.bar_content .top-index-box a.g980:hover {
    background-position: -620px -315px;
}
.bar_content .top-index-box a.g356:hover {
    background-position: -744px -315px;
}
.bar_content .top-index-box a.g719:hover {
    background-position: -868px -315px;
}
.bar_content .top-index-box a.g6:hover {
    background-position: -992px -315px;
}
.bar_content .top-index-box a.g31:hover {
    background-position: -1116px -315px;
}
.bar_content .index-btn {
    background-position: -60px 0;
}
.bar_content .index-btn:hover {
    background-position: -90px 0;
}


.bar_content #top-mine-box {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 350px;
}
.bar_content .mine-box-on {
    display: block !important;
}
.bar_content #box-area {
    color: #999;
    margin: 10px;
    text-align: left;
}
.bar_content #box-area .title {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    position: relative;
}
.bar_content #box-area .title .more {
    background-color: #046ebf;
    bottom: 2px;
    color: #fff;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    padding: 0 3px;
    position: absolute;
    right: 0;
    text-decoration: none;
}
.bar_content #box-area .title .more:hover {
    background-color: #083e69;
}
.bar_content #top-mine-box .activity {
    margin: 0;
    padding: 0;
}
.bar_content #top-mine-box .activity li {
    font-size: 12px;
    list-style: outside none none;
}
.bar_content #top-mine-box .activity li a {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 3px 0;
    text-decoration: none;
}
.bar_content #top-mine-box .activity li a:hover {
    background-color: #fcfcfc;
}
.bar_content #top-mine-box .activity li a .type {
    color: #999;
    float: left;
    height: 20px;
    overflow: hidden;
    width: 80px;
}
.bar_content #top-mine-box .activity li a .text {
    margin-left: 85px;
}
.bar_content #top-mine-box .mine-link {
    margin: 5px 0 0;
    padding: 0;
}
.bar_content #top-mine-box .mine-link li {
    background-color: #eee;
    display: block;
    float: left;
    font-size: 16px;
    height: 55px;
    list-style: outside none none;
    margin-bottom: 3px;
    margin-right: 3px;
    position: relative;
    width: 107px;
}
.bar_content #top-mine-box .mine-link li:hover {
    background-color: #046ebf;
}
.bar_content #top-mine-box .mine-link li.last {
    margin-bottom: 10px;
    margin-right: 0;
}
.bar_content #top-mine-box .mine-link li a {
    color: #666;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
.bar_content #top-mine-box .mine-link li:hover a {
    color: #fff;
}
.bar_content #top-mine-box .mine-link li a .notification-bulb-on {
    background-image: url("http://n2.hk/images/r13/home/uwants-interface-element.png");
    background-position: -74px -180px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.bar_content #top-mine-box .mine-link li a .text {
    font-size: 12px;
    padding: 1px;
    text-align: center;
}
.bar_content #top-mine-box .mine-link li a .icon {
    background-image: url("http://n2.hk/images/r13/home/uwants-interface-element.png");
    background-position: 0 -310px;
    height: 35px;
    width: 110px;
}
.bar_content #top-mine-box .mine-link li a .threads {
    background-position: 0 -310px;
}
.bar_content #top-mine-box .mine-link li a .shortcuts {
    background-position: -110px -310px;
}
.bar_content #top-mine-box .mine-link li a .favorites {
    background-position: -220px -310px;
}
.bar_content #top-mine-box .mine-link li a .subscriptions {
    background-position: -330px -310px;
}
.bar_content #top-mine-box .mine-link li a .buddylist {
    background-position: -440px -310px;
}
.bar_content #top-mine-box .mine-link li a .profile {
    background-position: -550px -310px;
}
.bar_content #top-mine-box .mine-link li a .pm {
    background-position: -660px -310px;
}
.bar_content #top-mine-box .mine-link li a .weibo {
    background-position: -770px -310px;
}
.bar_content #top-mine-box .mine-link li a .myinfo {
    background-position: -880px -310px;
}
.bar_content #top-mine-box .mine-link li:hover a .threads {
    background-position: 0 -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .shortcuts {
    background-position: -110px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .favorites {
    background-position: -220px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .subscriptions {
    background-position: -330px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .buddylist {
    background-position: -440px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .profile {
    background-position: -550px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .pm {
    background-position: -660px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .weibo {
    background-position: -770px -345px;
}
.bar_content #top-mine-box .mine-link li:hover a .myinfo {
    background-position: -880px -345px;
}
.bar_content #top-mine-box #mine-box-footer {
    margin-bottom: 5px;
    margin-top: 5px;
}
.bar_content #top-mine-box #mine-box-footer a {
    background-color: #aaa;
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}
.bar_content #top-mine-box #mine-box-footer a:hover {
    background-color: #f00;
}