/**
* / CSS by Bartlomiej Tadych
*   b4rtaz@gmail.com /
*
* 00. Globals
* 01. Header
* 02. Body
*
*/
/* 01. Globals
   ------------------------------------------------------- */
.gMenu {
  position: absolute;
  display: none;
  padding: 10px 0;
  background: #FFF;
  border: 1px solid #DBDBDB;
  border-top: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gMenu li.mi a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  white-space: pre;
  color: #666666;
}
.gMenu li.mi a:hover,
.gMenu ul.gMenu li.mi.current a {
  background: #F5F5F5;
  color: #EE7F01;
}
.gRobotoButton {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  color: #FFF !important;
  background: #B2B2B2;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  text-decoration: none !important;
  border-radius: 5px;
  cursor: pointer;
}
.gRobotoButton:hover {
  background-color: #BFBFBF;
}
.gRobotoButton.orange {
  background-color: #EE7F01;
}
.gRobotoButton.orange:hover {
  background-color: #C46700;
}
.gRobotoButton.blue {
  background-color: #2C6CAE;
}
.gRobotoButton.blue:hover {
  background-color: #24578C;
}
.gRobotoButton.yellow {
  color: #000 !important;
  background-color: #F8C80D;
}
.gRobotoButton.yellow:hover {
  color: #F8C80D !important;
  background-color: #000;
}
.gRobotoButton.red {
  background-color: #FF0000;
}
.gRobotoButton.red:hover {
  color: #FF0000 !important;
  background-color: #000;
}
.gRobotoButton.lightGreen {
  background-color: #8AD639;
}
.gRobotoButton.lightGreen:hover {
  background-color: #6AB417;
}
.gRobotoButton.right {
  float: right;
}
.gRobotoTileEdit {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  text-align: right;
}
.gRobotoTileEdit a {
  display: block;
  float: right;
  background: #EE7F01;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 15px !important;
  color: #ffffff !important;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 33px !important;
  border-radius: 50%;
  padding: 0 !important;
  margin: 5px 5px 0 0;
  opacity: 1 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out !important;
}
.gRobotoTileEdit a:hover {
  background: #C46700;
}
.gRobotoTileEdit.header {
  height: 75px;
}
.gRobotoTileEdit.header a {
  font-size: 20px !important;
  width: 50px;
  height: 50px;
  line-height: 54px !important;
}
.gRobotoTileEdit.lower {
  padding-top: 75px;
}
.gRobotoTileEdit.higher {
  top: -50px;
}
.gRobotoTileEdit.smaller a {
  font-size: 10px !important;
  width: 18px;
  height: 18px;
  line-height: 20px !important;
  margin: 4px 4px 0 0;
}
.gRobotoTileEdit.left a {
  float: left;
  margin: 5px 0 0 5px;
}
.gRobotoTileLink {
  position: relative;
}
.gRobotoTile {
  position: relative;
  width: 100%;
  height: 100%;
}
.gRobotoTile a {
  display: block;
  text-decoration: none;
}
.gRobotoTile a img {
  position: relative;
  z-index: 10;
}
.gRobotoTile a span.title {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 2px;
  transition: bottom 0.15s;
}
.gRobotoTile a span.title strong {
  position: relative;
  z-index: 13;
  display: block;
  padding: 7px 10px;
  color: #1B5F9F;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
}
.gRobotoTile a span.title span.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  opacity: 0.90;
  filter: alpha(opacity=90);
  transition: opacity 0.15s, filter 0.15s;
}
.gRobotoTile a:hover span.title {
  bottom: 8px;
}
.gRobotoTile a:hover span.title span.bg {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gRobotoTile h5 {
  color: #BFBFBF;
}
.gRobotoTile h6.ribbon {
  position: absolute;
  display: block;
  top: 10px;
  right: 0;
  z-index: 12;
  color: #ffffff;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  height: 19px;
  padding: 1px 10px;
  background: #3A4446;
  border-radius: 4px 0 0 4px;
}
.gRobotoTile h6.ribbon a {
  color: #ffffff;
}
.gRobotoTile .product {
  padding-top: 15px;
}
.gRobotoTile .product a.title {
  color: #1B5F9F;
}
.gRobotoTile .product a.title:hover {
  text-decoration: underline;
}
.gRobotoTile .product p.price {
  font-size: 12pt;
  line-height: 1em;
  color: #999999;
  padding: 10px 0;
}
.gRobotoTile .product p.price em {
  color: #000000;
}
.gRobotoTile .product p.price strong {
  color: #AD0000;
  font-weight: bold;
}
.gRobotoTile .product a.title,
.gRobotoTile .product p.price {
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  padding-left: 15px;
}
.gRobotoTile .product a.title,
.gRobotoTile .product p.price em,
.gRobotoTile .product p.price strong {
  font-size: 13pt;
  line-height: 1em;
}
.gRobotoTile .product p.thumb {
  float: left;
  width: 160px;
}
.gRobotoTile .product p.showMore {
  float: right;
  padding-top: 35px;
}
.gRobotoTile .product p.showMore a:hover {
  text-decoration: underline;
}
.gRobotoTile.product h5 {
  padding-left: 15px;
}
.gRobotoTile.black a span.title strong {
  color: #FFF;
}
.gRobotoTile.black a span.title span.bg {
  background-color: #000;
  opacity: 0.50;
  filter: alpha(opacity=50);
}
.gRobotoTile.black:hover a span.title span.bg {
  opacity: 0.70;
  filter: alpha(opacity=70);
}
.gRobotoOneTile {
  position: relative;
}
.gRobotoOneTile a {
  display: block;
  text-decoration: none;
}
.gRobotoOneTile a img {
  position: relative;
  z-index: 10;
}
.gRobotoOneTile a span.title {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 8px;
  padding: 20px 30px 14px;
  text-align: center;
  transition: bottom 0.15s;
}
.gRobotoOneTile a span.title strong {
  position: relative;
  z-index: 13;
  display: block;
  padding: 0 0 10px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 44px;
  line-height: 1em;
  letter-spacing: -0.02em;
}
.gRobotoOneTile a span.title span.preamble {
  position: relative;
  z-index: 13;
  font-size: 16px;
  line-height: 1.3em;
}
.gRobotoOneTile a span.title span.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  opacity: 0.90;
  filter: alpha(opacity=90);
  transition: opacity 0.15s, filter 0.15s;
}
.gRobotoOneTile a:hover span.title {
  bottom: 12px;
}
.gRobotoOneTile a:hover span.title span.bg {
  opacity: 1;
  filter: alpha(opacity=100);
}
.gRobotoOneTile.black a span.title {
  color: #FFF;
}
.gRobotoOneTile.black a span.title strong {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.gRobotoOneTile.black a span.title span.bg {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.gRobotoLinkList li {
  position: relative;
}
.gRobotoLinkList li:first-child {
  border-top: 0;
}
.gRobotoLinkList li::after {
  position: absolute;
  z-index: 2;
  left: 8px;
  top: 14px;
  display: block;
  content: ' ';
  width: 8px;
  height: 8px;
  background: #336699;
  border-radius: 50% 50%;
}
.gRobotoLinkList li::before {
  position: absolute;
  z-index: 2;
  left: 25px;
  top: 0;
  right: 0;
  display: block;
  content: ' ';
  height: 1px;
  background: #F4F4F4;
}
.gRobotoLinkList li:first-child::before {
  display: none;
}
.gRobotoLinkList li a {
  position: relative;
  z-index: 3;
  display: block;
  padding: 7px 0 7px 25px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.2em;
  color: #336699;
}
.gRobotoLinkList li a:visited {
  color: #666666;
}
.gRobotoLinkList li.highlight {
  background: #F3F3F3;
}
.gRobotoCommentsCount {
  display: block;
  position: relative;
  width: 64px;
  height: 53px;
  text-align: center;
  background: url('../i/article-sprites-0.png') no-repeat 0 -117px;
}
.gRobotoCommentsCount a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.gRobotoCommentsCount em {
  position: absolute;
  width: 52px;
  display: block;
  left: 0;
  top: 20px;
  color: #FFF;
  font-size: 13pt;
  line-height: 1em;
  font-weight: bold;
}
/* 02. Header
   ------------------------------------------------------- */
@media (min-width: 960px) {
  body {
    padding-top: 84px !important;
  }
  body.noPadding {
    padding-top: 0 !important;
    padding-bottom: 1px;
    background: #ffffff;
  }
}
#header {
  z-index: 9999;
  background: #FFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
#header h2 a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
}
#header .search h4 {
  display: none;
}
#header .search p {
  float: left;
}
#header .search input[type=text] {
  float: left;
  background: #F6F6F6;
  height: 23px;
  padding: 5px 10px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  color: #666666;
}
#header .search input[type=submit] {
  float: left;
  width: 35px;
  height: 33px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  background: #4285F4 url('../i/header-sprites-0.png') no-repeat 9px -151px;
  transition: background-color 0.3s ease;
}
#header .search input[type=submit]:hover {
  background-color: #2C6FE5;
}
#header .loginPanel h5 {
  display: none;
}
#header .loginPanel a.login {
  display: inline-block;
  color: #FFF;
  height: 24px;
  padding: 0 10px;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  transition: background-color 0.53s ease;
  background: #EE7F01;
}
#header .loginPanel a.login:hover {
  background: #C46700;
}
#header .userInfo h5 {
  display: none;
}
#header .userInfo > a {
  text-decoration: none;
}
#header .userInfo > a span.user {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 0 5px 0 0;
  color: #4285F4;
  transition: color 0.53s ease;
}
#header .userInfo > a img {
  vertical-align: top;
}
@media (min-width: 960px) {
  #header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 84px;
  }
  #header.fixed {
    position: fixed;
    height: 70px;
  }
  #header h2 {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    top: 0;
    width: 84px;
    height: 84px;
    background: url('../i/header-sprites-0.png') no-repeat 0 0;
  }
  #header.fixed h2 {
    width: 56px;
    height: 56px;
    background-position: 0 -84px;
  }
  #header span.openNav {
    display: none;
  }
  #header ul.sections {
    position: absolute;
    z-index: 9;
    left: 50%;
    bottom: 9px;
    padding: 0 0 0 5px;
  }
  #header ul.sections li.s {
    position: relative;
    float: left;
    border-right: 1px solid #DADBDC;
  }
  #header ul.sections li.s:last-child {
    border: 0;
  }
  #header ul.sections li.s > a {
    float: left;
    padding: 2px 12px;
    color: #666666;
    font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
  }
  #header ul.sections li.s.home > a {
    width: 20px;
    background: url('../i/header-sprites-0.png') no-repeat -30px -155px;
    text-indent: -99999px;
  }
  #header ul.sections li.s.home > a:hover {
    background-position: -30px -193px;
  }
  #header ul.sections li.s > a:hover,
  #header ul.sections li.s.current > a {
    color: #EE7F01;
  }
  #header ul.sections li.s.menu > a {
    padding-right: 25px;
    background: url('../i/header-sprites-0.png') no-repeat right -295px;
  }
  #header ul.sections li.s.menu ul.gMenu {
    left: 0;
    top: 21px;
  }
  #header ul.sections li.s.menu:hover ul.gMenu {
    display: block;
  }
  #header.default ul.sections {
    margin-left: -396px;
  }
  #header.default ul.sections li.s > a {
    font-size: 17px;
    line-height: 1em;
  }
  #header.default ul.sections li.s.home {
    display: none;
  }
  #header.fixed ul.sections {
    margin-left: -424px;
  }
  #header.fixed ul.sections li.s > a {
    font-size: 15px;
    line-height: 1em;
  }
  #header.fixed ul.sections li.s.menu ul.gMenu {
    top: 19px;
  }
  #header ul.categories {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -396px;
  }
  #header ul.categories li.cat {
    position: relative;
    float: left;
    margin-right: 4px;
  }
  #header ul.categories li.cat > a {
    float: left;
    display: block;
    color: #FFF;
    height: 24px;
    padding: 0 10px;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: background-color 0.53s ease;
    background: #B2B2B2;
  }
  #header ul.categories li.cat:hover > a {
    background-color: #EE7F01;
  }
  #header ul.categories li.cat ul.gMenu {
    left: 0;
    top: 24px;
  }
  #header ul.categories li.cat:hover ul.gMenu {
    display: block;
  }
  #header ul.categories li.cat.current > a {
    background: #4285F4;
    border-radius: 0;
  }
  #header ul.categories li.cat.current:hover > a {
    background-color: #2C6FE5;
  }
  #header.default ul.categories {
    top: 11px;
    padding-left: 50px;
  }
  #header.default ul.categories li.cat.current > a {
    margin-top: -11px;
    height: 44px;
    font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
    font-weight: bold;
    font-size: 16px;
    line-height: 2.8em;
  }
  #header.default ul.categories li.cat.current ul.gMenu {
    top: 33px;
  }
  #header.fixed ul.categories {
    top: 6px;
    padding-left: 22px;
  }
  #header.fixed ul.categories li.cat.current > a {
    margin-top: -6px;
    height: 31px;
    line-height: 2.8em;
  }
  #header.fixed ul.categories li.cat.current ul.gMenu {
    top: 25px;
  }
  #header .search {
    position: absolute;
    z-index: 9;
    right: 50%;
    margin-right: -480px;
    bottom: 2px;
  }
  #header.default .search input[type=text] {
    width: 170px;
    font-size: 17px;
    line-height: 1em;
  }
  #header.fixed .search {
    padding-right: 45px;
  }
  #header.fixed .search input[type=text] {
    width: 150px;
    font-size: 15px;
    line-height: 1em;
  }
  #header .loginPanel {
    position: absolute;
    z-index: 10;
    right: 50%;
    margin-right: -480px;
  }
  #header .loginPanel .panel {
    position: absolute;
    z-index: 10;
    display: none;
    padding: 15px 16px 20px;
    right: 0;
    top: 26px;
    width: 230px;
    color: #FFF;
    background: #EE7F01;
    border-radius: 3px;
  }
  #header .loginPanel .panel a {
    color: #FFF;
  }
  #header .loginPanel .panel h6 {
    padding: 0 0 16px;
    font-size: 20px;
    line-height: 1em;
  }
  #header .loginPanel .panel p.input {
    clear: both;
    padding-bottom: 16px;
  }
  #header .loginPanel .panel p.input label {
    float: left;
    width: 45px;
    padding: 5px 5px 0 0;
  }
  #header .loginPanel .panel p.input input[type=text],
  #header .panel p.input input[type=password] {
    width: 165px;
    padding: 5px 7px;
    background: #FFF;
    border-radius: 2px;
  }
  #header .loginPanel .panel ul.links {
    float: left;
  }
  #header .loginPanel .panel ul.links li {
    display: block;
    padding-bottom: 10px;
    line-height: 1.5em;
  }
  #header .loginPanel .panel ul.links li a {
    display: block;
  }
  #header .loginPanel .panel p.submit {
    float: right;
    margin-left: 10px;
  }
  #header .loginPanel .panel p.submit input[type=submit] {
    padding: 0 15px;
    line-height: 1.85em;
    color: #FFF;
    background: #373F44;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
  }
  #header .loginPanel .panel p.submit input[type=submit]:hover {
    background-color: #434B4D;
  }
  #header .loginPanel .panel p.remember {
    clear: both;
    text-align: right;
  }
  #header .loginPanel .panel p.remember label {
    cursor: pointer;
  }
  #header .loginPanel .panel p.remember input[type=checkbox] {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  #header.default .loginPanel {
    top: 11px;
  }
  #header.fixed .loginPanel {
    top: 6px;
  }
  #header .userInfo {
    position: absolute;
    z-index: 10;
    right: 50%;
    margin-right: -480px;
    top: 1px;
  }
  #header .userInfo ul.gMenu {
    right: 0;
  }
  #header .userInfo:hover span.user {
    color: #666666;
  }
  #header .userInfo:hover ul.gMenu {
    display: block;
  }
  #header.default .userInfo > a span.user {
    padding-top: 6px;
  }
  #header.default .userInfo > a span.user span.word {
    display: block;
  }
  #header.default .userInfo > a img {
    width: 43px;
    height: 43px;
  }
  #header.default .userInfo ul.gMenu {
    top: 43px;
  }
  #header.fixed .userInfo > a span.user {
    padding-top: 10px;
  }
  #header.fixed .userInfo > a img {
    width: 32px;
    height: 32px;
  }
  #header.fixed .userInfo ul.gMenu {
    top: 32px;
  }
}
@media (max-width: 959px) {
  #header {
    position: relative;
    height: 70px;
  }
  #header h2 {
    float: left;
    margin: 2px 0 0 1px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../i/header-sprites-0.png') no-repeat 0 -84px;
  }
  #header span.openNav {
    float: left;
    margin: 14px 0 0 15px;
    padding: 10px 10px 10px 38px;
    font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
    background: #B2B2B2 url('../i/header-sprites-0.png') no-repeat 13px -221px;
    color: #545454;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.53s ease;
  }
  #header span.openNav:hover {
    background-color: #BFBFBF;
  }
  #header nav {
    position: absolute;
    top: 58px;
    left: 0;
    display: none;
    width: 100%;
    max-width: 500px;
  }
  #header nav.visible {
    display: table;
  }
  #header nav ul.sections {
    display: table-cell;
    width: 50%;
    padding: 15px 0;
    background: #F5F5F5;
  }
  #header nav ul.sections li.s {
    padding: 2px 0 2px 20px;
  }
  #header nav ul.sections li.s a {
    font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
    font-weight: bold;
    font-size: 17px;
    line-height: 1em;
    text-transform: lowercase;
    color: #666666;
  }
  #header nav ul.sections li.s.home {
    display: none;
  }
  #header nav ul.categories {
    display: table-cell;
    width: 50%;
    padding: 15px 0;
    background: #FFF;
  }
  #header nav ul.categories ul.gMenu {
    display: none;
  }
  #header nav ul.categories li.cat {
    padding: 2px 0 2px 20px;
  }
  #header nav ul.categories li.cat > a {
    display: inline-block;
    color: #FFF;
    height: 24px;
    padding: 0 10px;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: background-color 0.53s ease;
    background: #B2B2B2;
  }
  #header nav ul.categories li.cat > a:hover {
    background-color: #BFBFBF;
  }
  #header .search {
    clear: right;
    float: right;
    margin: 0 8px 0 0;
  }
  #header .search input[type=text] {
    width: 90px;
    font-size: 16px;
    line-height: 1em;
  }
  #header .loginPanel {
    float: right;
    margin: 6px 8px 3px 0;
  }
  #header .loginPanel .panel {
    display: none !important;
  }
  #header .userInfo {
    float: right;
    margin: 0 8px 3px 0;
  }
  #header .userInfo > a span.user {
    padding-top: 8px;
  }
  #header .userInfo > a img {
    width: 30px;
    height: 30px;
  }
  #header .userInfo ul.gMenu {
    display: none;
  }
}
@media (max-width: 959px) and (max-width: 350px) {
  #header span.openNav {
    text-indent: -9999px;
    padding-right: 5px;
    overflow: hidden;
  }
}
@media (min-width: 960px) {
  #inTop {
    position: relative;
    z-index: 9998;
    width: 920px;
    background: #FFF;
    padding: 16px 20px 10px;
    margin: 0 auto;
  }
  #inTop h4 {
    display: inline-block;
    font-weight: bold;
    color: #EE7F01;
    text-transform: uppercase;
    padding: 0 8px 0 0;
  }
  #inTop h4 > a {
    color: #EE7F01;
  }
  #inTop ul.links {
    display: inline-block;
  }
  #inTop ul.links li.link {
    display: inline-block;
    padding: 0 8px;
    border-left: 1px solid #DADBDC;
  }
  #inTop ul.links li.link > a {
    display: inline-block;
    color: #666666;
  }
  #inTop ul.links li.link.more {
    position: relative;
    padding-right: 0;
  }
  #inTop ul.links li.link.more span.more {
    padding: 2px 20px 2px 6px;
    color: #FFF;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1em;
    text-transform: lowercase;
    cursor: pointer;
    background: #666666 url('../i/header-sprites-0.png') no-repeat right -266px;
  }
  #inTop ul.links li.link.more ul.gMenu {
    right: 0;
    top: 16px;
  }
  #inTop ul.links li.link.more:hover ul.gMenu {
    display: block;
  }
}
@media (max-width: 959px) {
  #inTop {
    display: none;
  }
}
/* 02. Body
   ------------------------------------------------------- */
#wideSlider {
  position: relative;
  width: 856px;
  margin: 0 auto;
}
#wideSlider ul.slides {
  position: relative;
  overflow: hidden;
  height: 448px;
}
#wideSlider ul.slides span.header,
#wideSlider ul.slides h2,
#wideSlider ul.slides h3,
#wideSlider ul.slides h4 {
  display: none;
  padding: 15px 0;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
  color: #B2B2B2;
}
#wideSlider ul.slides span.header {
  float: left;
}
#wideSlider ul.slides h2 a,
#wideSlider ul.slides h3 a,
#wideSlider ul.slides h4 a {
  color: #336699;
}
#wideSlider ul.slides li.slide {
  position: relative;
  width: 856px;
  height: 448px;
}
#wideSlider ul.slides li.slide:not(:first-child) {
  opacity: 0;
}
#wideSlider ul.slides li.slide .gRobotoOneTile a span.title {
  bottom: 4px;
}
#wideSlider ul.slides li.slide .gRobotoOneTile a:hover span.title {
  bottom: 8px;
}
#wideSlider ul.slides li.slide ul.tiles {
  position: relative;
  min-height: 448px;
}
#wideSlider ul.slides li.slide ul.tiles.overlay {
  top: -448px;
}
#wideSlider ul.slides li.slide ul.tiles li {
  position: absolute;
  width: 280px;
  height: 220px;
}
#wideSlider ul.slides li.slide ul.tiles li.leftTop {
  left: 0;
  top: 0;
}
#wideSlider ul.slides li.slide ul.tiles li.leftBottom {
  left: 0;
  bottom: 0;
}
#wideSlider ul.slides li.slide ul.tiles li.centerTop {
  left: 288px;
  top: 0;
}
#wideSlider ul.slides li.slide ul.tiles li.centerBottom {
  left: 288px;
  bottom: 0;
}
#wideSlider ul.slides li.slide ul.tiles li.rightTop {
  right: 0;
  top: 0;
}
#wideSlider ul.slides li.slide ul.tiles li.rightBottom {
  right: 0;
  bottom: 0;
}
#wideSlider ul.slides li.slide ul.oneTile li {
  width: 856px;
  height: 448px;
}
#wideSlider.withTitle ul.slides {
  height: 510px;
}
#wideSlider.withTitle ul.slides span.header,
#wideSlider.withTitle ul.slides h2,
#wideSlider.withTitle ul.slides h3,
#wideSlider.withTitle ul.slides h4 {
  display: block;
}
#wideSlider.withTitle ul.slides li.slide {
  height: 510px;
}
#wideSlider ol.flex-control-nav {
  padding: 14px 0;
  height: 30px;
  text-align: center;
}
#wideSlider ol.flex-control-nav li {
  display: inline;
}
#wideSlider ol.flex-control-nav li a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  overflow: hidden;
  background: #D8D8D8;
  border-radius: 50% 50%;
  cursor: pointer;
  transition: width 0.15s linear, height 0.15s linear;
}
#wideSlider ol.flex-control-nav li a.flex-active {
  width: 30px;
  height: 30px;
  background: #EE7F01;
}
#wideSlider ul.flex-direction-nav a {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -57px;
  width: 33px;
  height: 54px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  background: url('../i/article-rotator-sprites.png') no-repeat -9999px -9999px;
  transition: opacity 0.15s, filter 0.15s;
}
#wideSlider.withTitle ul.flex-direction-nav a {
  margin-top: -27px;
}
#wideSlider ul.flex-direction-nav a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#wideSlider ul.flex-direction-nav a.flex-prev {
  left: -45px;
  background-position: 0 0;
}
#wideSlider ul.flex-direction-nav a.flex-next {
  right: -45px;
  background-position: -33px 0;
}
.ourAuthors {
  padding: 0 0 15px 0;
}
.ourAuthors h4 {
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
  padding: 0 0 7px 15px;
}
.ourAuthors ul {
  padding: 0 0 0 15px;
}
.ourAuthors ul li {
  float: left;
  margin: 0 9px 0 0;
}
.ourAuthors ul li a {
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: opacity 0.15s, filter 0.15s;
}
.ourAuthors ul li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ourAuthors ul li strong {
  display: none;
}
.newsBrowser {
  min-height: 1005px;
  padding: 0 0 15px;
}
.newsBrowser div.tiles {
  width: 330px;
  box-sizing: border-box;
  padding: 0 0 0 50px;
  float: left;
}
.newsBrowser div.browser {
  width: 630px;
  box-sizing: border-box;
  float: left;
  padding: 0 50px 0 30px;
}
.newsBrowser div.aside {
  width: 0px;
  box-sizing: border-box;
  float: right;
  padding: 0 15px 0 0;
}
.newsBrowser span.header,
.newsBrowser h2,
.newsBrowser h3,
.newsBrowser h4 {
  padding: 0 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
  color: #B2B2B2;
}
.newsBrowser span.header {
  float: left;
}
.newsBrowser h2 a,
.newsBrowser h3 a,
.newsBrowser h4 a {
  color: #336699;
}
.newsBrowser p.seeOldest {
  padding: 15px 0 0;
  text-align: right;
}
.newsBrowser div.tiles ul li.gRobotoTile {
  margin: 8px 0 0;
  width: 280px;
  height: 220px;
}
.newsBrowser div.tiles ul li.gRobotoTile:first-child {
  margin-top: 0;
}
.newsBrowser div.tiles.hide ul {
  display: none;
}
.newsBrowser div.tiles.hide p.seeOldest {
  display: none;
}
.newsBrowser div.browser div.tabs,
.newsBrowser div.browser div.tabsEdit {
  padding: 0 0 15px;
}
.newsBrowser div.browser div.tabs .gRobotoButton,
.newsBrowser div.browser div.tabsEdit .gRobotoButton {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 14px;
  border-radius: 4px;
}
.newsBrowser div.browser div.tab {
  display: none;
}
.newsBrowser div.browser ul.gRobotoLinkList li {
  position: relative;
}
.newsBrowser div.browser ul.gRobotoLinkList li div.details {
  position: absolute;
  background: #ffffff;
  z-index: 15;
  width: 224px;
  left: -251px;
  top: 0;
  display: none;
}
.newsBrowser div.browser ul.gRobotoLinkList li div.details p.preamble {
  font-size: 15px;
  line-height: 1.4em;
  color: #666666;
  padding: 10px 0;
}
.newsBrowser div.browser ul.gRobotoLinkList li.hover div.details {
  display: block;
}
.newsBrowser div.browser ul.gRobotoLinkList li.forum.hover div.details {
  display: none;
}
.newsBrowser div.browser ul.gRobotoLinkList li a {
  font-weight: 400;
}
.newsBrowser div.browser ul.gRobotoLinkList li a span.info {
  font-size: 13px;
}
.singleOneTile {
  position: relative;
  width: 920px;
  height: 505px;
  margin: 0 auto 24px;
}
.singleOneTile div.gRobotoOneTile {
  position: relative;
  z-index: 2;
}
.singleOneTile span.anchor {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 3;
}
.singleOneTile span.anchor a {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  background: #333333;
  color: #FFF;
}
.threeTiles {
  position: relative;
  padding: 35px 50px 60px 50px;
  margin: 0 0 24px;
}
.threeTiles span.header,
.threeTiles h2,
.threeTiles h3,
.threeTiles h4 {
  padding: 0 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #FFF;
}
.threeTiles span.header {
  float: left;
}
.threeTiles h2 a,
.threeTiles h3 a,
.threeTiles h4 a {
  color: #FFF;
}
.threeTiles p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #FFF;
}
.threeTiles ul li.gRobotoTile {
  float: left;
  width: 280px;
  height: 220px;
  margin: 0 0 0 8px;
}
.threeTiles ul li.gRobotoTile:first-child {
  margin-left: 0;
}
.threeTilesAndLogo {
  position: relative;
  padding: 15px;
  margin: 0 0 24px;
}
.threeTilesAndLogo div.headerLeft {
  float: left;
  max-width: 300px;
  padding-left: 10px;
}
.threeTilesAndLogo div.headerLeft img {
  margin-bottom: 10px;
}
.threeTilesAndLogo span.header,
.threeTilesAndLogo h2,
.threeTilesAndLogo h3,
.threeTilesAndLogo h4 {
  padding: 100px 0 0;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 90px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #FFF;
}
.threeTilesAndLogo span.header {
  float: left;
}
.threeTilesAndLogo span.logo img {
  max-width: 74px;
}
.threeTilesAndLogo h2 a,
.threeTilesAndLogo h3 a,
.threeTilesAndLogo h4 a {
  color: #FFF;
}
.threeTilesAndLogo p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  color: #FFF;
}
.threeTilesAndLogo ul {
  float: right;
  max-width: 856px;
}
.threeTilesAndLogo ul li.gRobotoTile {
  float: left;
  width: 280px;
  margin: 0 0 0 8px;
}
.threeTilesAndLogo ul li.gRobotoTile:first-child {
  margin-left: 0;
}
.threeTilesAndLogo ul li.gRobotoTile a span.title {
  position: relative;
  text-align: center;
}
.threeTilesAndLogo ul li.gRobotoTile a span.title strong {
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.3em;
  font-weight: 400;
  padding: 10px 5px 0 5px;
}
.threeTilesAndLogo ul li.gRobotoTile a span.title span.bg {
  display: none;
}
.threeTilesAndLogo ul li.gRobotoTile.black a span.title strong {
  color: #000000;
}
.threeTilesAndLogo ul li.gRobotoTile.white a span.title strong {
  color: #ffffff;
}
.threeTilesAndLogo.two ul {
  max-width: 608px;
}
.threeTilesAndLogo.two ul li.gRobotoTile {
  width: 300px;
}
.threeTilesAndLogo.one ul {
  max-width: 610px;
}
.threeTilesAndLogo.one ul li.gRobotoTile {
  width: 610px;
}
.threeTilesAndLinks {
  position: relative;
  padding: 0 14px 25px;
}
.threeTilesAndLinks span.header,
.threeTilesAndLinks h2,
.threeTilesAndLinks h3,
.threeTilesAndLinks h4 {
  padding: 0 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
  color: #B2B2B2;
}
.threeTilesAndLinks span.header {
  float: left;
}
.threeTilesAndLinks h2 a,
.threeTilesAndLinks h3 a,
.threeTilesAndLinks h4 a {
  color: #336699;
}
.threeTilesAndLinks p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.threeTilesAndLinks div.tiles {
  float: left;
  width: 462px;
}
.threeTilesAndLinks div.tiles ul li.gRobotoTile {
  float: left;
  width: 223px;
  height: 175px;
  margin: 0 8px 8px 0;
}
.threeTilesAndLinks div.links {
  float: right;
  width: 465px;
  margin: 0;
}
.threeTilesAndLinks div.links ul li a {
  font-weight: 400;
}
.fiveTilesAndLinks {
  position: relative;
  padding: 0 14px 25px;
}
.fiveTilesAndLinks span.header,
.fiveTilesAndLinks h2,
.fiveTilesAndLinks h3,
.fiveTilesAndLinks h4 {
  padding: 14px 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #B2B2B2;
}
.fiveTilesAndLinks span.header {
  float: left;
}
.fiveTilesAndLinks h2 a,
.fiveTilesAndLinks h3 a,
.fiveTilesAndLinks h4 a {
  color: #336699;
}
.fiveTilesAndLinks p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.fiveTilesAndLinks div.tiles {
  float: left;
  width: 702px;
}
.fiveTilesAndLinks div.tiles ul li.gRobotoTile {
  float: left;
  width: 223px;
  height: 175px;
  margin: 0 8px 8px 0;
}
.fiveTilesAndLinks div.latest {
  position: relative;
  float: right;
  width: 230px;
}
.fiveTilesAndLinks div.latest h4 {
  position: absolute;
  left: 10px;
  top: 0;
}
.fiveTilesAndLinks div.latest ul {
  margin-top: 0;
}
.fiveTilesAndLinks div.latest ul li {
  padding: 15px;
}
.fiveTilesAndLinks div.latest ul li:nth-child(even) {
  background: #F6F5F5;
}
.fiveTilesAndLinks div.latest ul li a {
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  color: #336699;
  font-size: 17px;
  line-height: 1.1em;
  font-weight: 400;
  letter-spacing: -0.01em;
}
.fiveTilesAndLinks div.moveLink {
  position: absolute;
  right: 14px;
  bottom: 24px;
}
.fiveTilesAndLinks div.moveLink a.gRobotoButton {
  padding: 20px 35px;
}
.productCompareSimilar {
  padding: 0 14px 25px;
  overflow: hidden;
}
.productCompareSimilar span.header,
.productCompareSimilar h2,
.productCompareSimilar h3,
.productCompareSimilar h4 {
  position: relative;
  margin: 14px 0 20px;
  padding: 0;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #B2B2B2;
}
.productCompareSimilar span.header {
  float: left;
}
.productCompareSimilar h2 a,
.productCompareSimilar h3 a,
.productCompareSimilar h4 a {
  color: #336699;
}
.productCompareSimilar h4.square {
  min-height: 50px;
  padding: 3px 0 3px 50px;
  background: url('../i/discriminant-0.png') no-repeat 0 0;
}
.productCompareSimilar h4.orange {
  color: #EF6D0E;
}
.productCompareSimilar p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.productCompareSimilar div.products ul {
  position: relative;
}
.productCompareSimilar div.products ul li {
  float: left;
  width: 20%;
  text-align: center;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
}
.productCompareSimilar div.products ul li h5 {
  font-size: 14pt;
  line-height: 1.1em;
  font-weight: bold;
  padding-bottom: 15px;
  margin: 0 4px;
}
.productCompareSimilar div.products ul li p.price {
  padding: 10px 0;
  margin: 0 4px;
  color: #999999;
  font-size: 12pt;
  line-height: 1em;
}
.productCompareSimilar div.products ul li p.price strong {
  color: #AD0000;
  font-size: 14pt;
  line-height: 1em;
  font-weight: bold;
}
.productCompareSimilar div.products ul li p.check {
  width: 34px;
  height: 34px;
  margin: 10px auto 0;
  background: #F1F1F1;
}
.productCompareSimilar div.products ul li p.check label {
  display: block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.productCompareSimilar div.products ul li p.check label input.checkbox {
  margin: 10px auto 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.productCompareSimilar div.products ul li:hover h5,
.productCompareSimilar div.products ul li:hover p.price {
  background: #f5f5f5;
}
.productCompareSimilar div.compare {
  padding: 20px 0 0;
  text-align: center;
}
.productCompareSimilar div.compare input.submit {
  padding: 6px 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1em;
  cursor: pointer;
  background-image: none;
}
.productCompareSimilar div.compare input.submit:hover {
  border-color: #B9B9B9;
  color: #3B3B3B;
}
.productCompareSimilar.noSidePadding {
  padding-left: 0;
  padding-right: 0;
}
.pointTopics {
  padding: 0 14px 0;
}
.pointTopics span.header,
.pointTopics h2,
.pointTopics h3,
.pointTopics h4 {
  padding: 14px 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #B2B2B2;
}
.pointTopics span.header {
  float: left;
}
.pointTopics h2 a,
.pointTopics h3 a,
.pointTopics h4 a {
  color: #336699;
}
.pointTopics p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.pointTopics ul {
  display: table;
  width: 100%;
  margin: 0 0 14px;
}
.pointTopics ul li {
  display: table-cell;
  position: relative;
  padding: 35px;
  width: 25%;
  vertical-align: bottom;
  border-left: 1px solid #BFBFBF;
}
.pointTopics ul.three li {
  width: 33%;
}
.pointTopics ul li:first-child {
  border: none;
}
.pointTopics ul li a {
  display: block;
  color: #1B5F9F;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: -0.01em;
}
.pointTopics ul.comments li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pointTopics ul.comments li a {
  padding-top: 60px;
}
.pointTopics ul.comments li a span.gRobotoCommentsCount {
  position: absolute;
  top: 10px;
  right: 35px;
}
.pointTopics.textCenter ul li {
  text-align: center;
}
.pointTopics.aggregator ul li {
  width: 20%;
}
.forumTopics {
  padding: 0 80px 25px 240px;
}
.forumTopics span.header,
.forumTopics h2,
.forumTopics h3,
.forumTopics h4 {
  padding: 0 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
  color: #B2B2B2;
}
.forumTopics span.header {
  float: left;
}
.forumTopics h2 a,
.forumTopics h3 a,
.forumTopics h4 a {
  color: #336699;
}
.forumTopics ul.gRobotoLinkList li a span.info {
  color: #666666;
  font-weight: normal;
  font-family: Arial, Tahoma, Verdana;
  font-size: 9pt;
  line-height: 1em;
}
.topics {
  position: relative;
  padding: 35px 50px 10px 50px;
  margin: -24px 0 24px 0;
}
.topics span.header,
.topics h2,
.topics h3,
.topics h4 {
  padding: 0 0 20px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 34px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: #999999;
}
.topics span.header {
  float: left;
}
.topics h2 a,
.topics h3 a,
.topics h4 a {
  color: #336699;
}
.topics p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.topics ul.group {
  display: block;
  float: left;
  width: 260px;
  padding-left: 25px;
  margin: 0 0 15px;
}
.topics ul.group li.link {
  position: relative;
  margin: 0 0 6px;
}
.topics ul.group li.link a {
  color: #336699;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.3em;
}
.topics ul.group li.link.favorite::after {
  position: absolute;
  display: block;
  content: ' ';
  left: -24px;
  top: 3px;
  width: 16px;
  height: 16px;
  background: url('../i/icons-0.png') no-repeat 0 0;
}
.topics ul.group li.gRobotoTile {
  width: 250px;
  height: 196px;
}
.topics ul.group li.gRobotoTile a img {
  width: 250px;
  height: 196px;
}
.topics ul.group li.gRobotoTile a span.title strong {
  font-size: 18px;
}
.threeProductsRotator {
  margin: 0 0 30px;
}
.threeProductsRotator span.header,
.threeProductsRotator h2,
.threeProductsRotator h3,
.threeProductsRotator h4 {
  padding: 0 0 20px 25px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: -0.05em;
  color: #999999;
}
.threeProductsRotator span.header {
  float: left;
}
.threeProductsRotator h2 a,
.threeProductsRotator h3 a,
.threeProductsRotator h4 a {
  color: #336699;
}
.threeProductsRotator p.explain {
  clear: both;
  margin: -10px 0 15px;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  font-weight: 400;
  color: #B2B2B2;
}
.threeProductsRotator div.tabs {
  position: relative;
  z-index: 10;
  padding: 0 55px;
}
.threeProductsRotator div.tabs ul {
  display: table;
  width: 90%;
}
.threeProductsRotator div.tabs ul li {
  position: relative;
  display: table-cell;
  padding: 11px 50px 11px 0;
}
.threeProductsRotator div.tabs ul li.selected:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 100%;
  height: 11px;
  content: ' ';
  display: block;
  background: url('../i/aggregator-separator.gif') no-repeat 0 0;
}
.threeProductsRotator div.tabs ul li a {
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 22px;
  line-height: 1em;
  color: #A7A7A7;
}
.threeProductsRotator div.tabs ul li.selected a {
  color: #50AECC;
}
.threeProductsRotator div.rotator {
  position: relative;
  z-index: 9;
  min-height: 440px;
  background: #ECFCFF;
  overflow: hidden;
}
.threeProductsRotator div.rotator ul.splint li.slide {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  float: left;
  width: 850px;
  padding: 25px 55px;
}
.threeProductsRotator div.rotator ul.splint li.slide:first-child {
  display: block;
}
.threeProductsRotator div.rotator ul.splint li.slide h3 {
  padding: 0;
  font-family: 'Roboto Condensed', Roboto, Arial, Verdana, Tahoma;
  font-weight: bold;
  font-size: 44px;
  line-height: 1em;
  color: #000000;
}
.threeProductsRotator div.rotator ul.splint li.slide div.description {
  width: 700px;
  padding: 20px 0 15px;
  line-height: 1.5em;
}
.threeProductsRotator div.rotator ul.splint li.slide div.description p {
  padding: 0 0 10px;
}
.threeProductsRotator div.rotator ul.splint li.slide div.description a {
  color: #1B5F9F;
}
.threeProductsRotator div.rotator ul.splint li.slide div.thumbnail {
  float: left;
}
.threeProductsRotator div.rotator ul.splint li.slide div.thumbnail img {
  box-shadow: 0 0 3px #A5A5A5;
}
.threeProductsRotator div.rotator ul.splint li.slide div.shops {
  float: left;
  margin-left: 50px;
}
.threeProductsRotator div.rotator ul.splint li.slide div.shops div.gRobotoRatingBox div.ratingsRight {
  padding-left: 35px;
}
.threeProductsRotator div.rotator ul.splint li.slide div.shops div.gRobotoShopListBox {
  width: 310px;
}
.threeProductsRotator div.rotator ul.splint li.slide div.shops div.gRobotoShopListBox ul li span.more strong.price {
  padding: 9px 0 10px 0 !important;
}
.threeProductsRotator div.rotator a.pager {
  position: absolute;
  top: 50%;
  width: 33px;
  margin-top: -27px;
  z-index: 21;
  height: 54px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('../i/article-rotator-sprites.png') no-repeat -9999px -9999px;
}
.threeProductsRotator div.rotator a.pager:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.threeProductsRotator div.rotator a.pager.prev {
  left: 10px;
  background-position: 0 0;
}
.threeProductsRotator div.rotator a.pager.next {
  right: 10px;
  background-position: -33px 0;
}
/* 03. Footer
   ------------------------------------------------------- */
#footer {
  position: relative;
  z-index: 10;
  color: #C6D3DA;
  border-top: 3px solid #99A6AD;
  background: #3B4348 url('/i/fotter-bg.png') repeat-x 0 -230px;
}
#footer div.body {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 30px 10px;
}
#footer div.body div.about {
  float: left;
  width: 40%;
}
#footer div.body div.about img.logo {
  max-width: 100%;
}
#footer div.body div.about p.description {
  padding: 5px 0 20px 0;
  line-height: 1.5em;
}
#footer div.body div.about p.date {
  font-style: italic;
}
#footer div.body div.links {
  float: right;
  width: 60%;
}
#footer div.body div.links a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
#footer div.body div.links ul {
  display: block;
  float: left;
  padding-left: 40px;
  padding-bottom: 40px;
}
#footer div.body div.links ul a {
  display: block;
  padding-bottom: 13px;
}
#footer div.body div.links p {
  text-align: center;
  padding-right: 150px;
}
#footer div.body div.links p.copyright {
  font-size: 8pt;
  padding-bottom: 15px;
}
@media (max-width: 959px) {
  #footer div.body {
    width: 94%;
    padding: 30px 3%;
  }
  #footer div.body div.about p.description {
    font-size: 8pt;
  }
  #footer div.body div.about p.date {
    display: none;
  }
  #footer div.body div.links ul {
    width: 45%;
    padding-left: 5%;
    padding-bottom: 0;
  }
  #footer div.body div.links ul a {
    padding-bottom: 5px;
  }
  #footer div.body div.links ul.left {
    float: left;
  }
  #footer div.body div.links ul.right {
    float: right;
  }
  #footer div.body div.links p {
    padding-right: 0;
  }
  #footer div.body div.links p.copyright {
    padding-top: 15px;
  }
}
