
/**
* / CSS by Bartlomiej Tadych
*   b4rtaz@gmail.com /
*
* 00. reset CSS
* 01. base
* 02. header
* 03. footer
* 04. content
* 04.1 content > article
* 04.2 content > comments
* 04.3 content > articles list
* 04.4 content > login panel
* 05. sidebar
* ..
* 98. colorbox
* 99. promotions & ads section
*
*/

@import url(//fonts.googleapis.com/css?family=Roboto:400&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

/* 00. reset CSS
   ------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, input, textarea, legend, caption
{
    margin:0; padding:0; border:0; outline:0; font-size:100%; font-weight:inhert; font-style:inhert;
    vertical-align:baseline; background:transparent;
}
h1, h2, h3, h4, h5, h6, strong, b {font-weight:normal;}
i, em {font-style:normal;}

ol, ul {list-style:none;}
a, a:hover {text-decoration:none;}
table {border-collapse:collapse; border-spacing:0;}

/* 01. base
   ------------------------------------------------------- */
body, html {background:#DFE4E7; /*min-width:960px;*/}
html, body, input, textarea {font:9pt Arial,Verdana,Tahoma,Serif; color:#000;}
a {color:#666666;}
a:hover {text-decoration:underline;}
span.both, span.clear {display:block !important; clear:both !important;}

#adsTop, #adsBottom {width:960px; margin:0 auto;}
#adsTop.bgWhite, #adsBottom.bgWhite {background:#FFF;}
#adsTop.paddingTop {padding-top:10px;}
#adsBottom.paddingBottom {padding-bottom:10px;}

#body {position: relative; width:960px; margin:0 auto; background:#FFF;}
#content {float:left; width:630px; padding:10px 0 0 10px;}
#sidebar {float:right; width:300px; padding:10px 10px 0 0;}
#sidebar.review-gallery { padding:120px 10px 0 0;}

#wide {width:100%; background:#FFF;}
#wide #wideBody {width:960px; margin:0 auto;}
#wide #wideBody .fiveTilesAndLinks div.latest h4 {position:relative;}

#breadcrumb {padding:10px 10px 5px;}
#breadcrumb a {display:inline; color:#345AAF;}

#breadcrumb2 {padding:20px 20px 0;}
#breadcrumb2 ul li {display:inline-block; font-size:14px; line-height:1em;}
#breadcrumb2 ul li.atom a {display:inline-block; color:#345AC4; padding:5px; background:#F1F1F1;}
#breadcrumb2 ul li.atom a:hover {background:#345AAF; color:#FFF !important;}

#breadcrumbProductAware #breadcrumb {padding: 10px 10px 5px 0px;}

#breadcrumbWithArea {position:relative; padding:10px 10px 0 10px; margin:0 0 15px;}
#breadcrumbWithArea div.path {height:27px; overflow:hidden; padding:0 0 0 14px; margin-right:300px; border-top-left-radius:6px; background-color:#484848; background-repeat:repeat-x; background-position:0 -109px;}
#breadcrumbWithArea div.path ul {width:9999px; color:#FFF;}
#breadcrumbWithArea div.path ul li span.nomargin {padding: 0px; margin: 0px;}
#breadcrumbWithArea div.path a {height:27px; float:left; line-height:2.2em; color:#FFF;}
#breadcrumbWithArea div.path a.area {margin-top:3px; padding:0 38px 0 10px; line-height:1.9em; height:24px; background-color:#FFF; color:#484848; background-repeat:no-repeat; background-position:right -72px; border-top-left-radius:6px; border-top-right-radius:6px;}
#breadcrumbWithArea div.path span {height:27px; margin:0 6px; float:left; line-height:2.2em;}
#breadcrumbWithArea div.areaInfo {padding:0 0 0 14px; height:29px; line-height:2.4em; margin-right:300px; background:#ffffff; background:-moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5)); background:-webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); background:-o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%); background:-ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%); background:linear-gradient(to bottom,#ffffff 0%,#f5f5f5 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);}
#breadcrumbWithArea div.areaInfo a {color:#F57C21;}
#breadcrumbWithArea div.areaImage {position:absolute; top:10px; right:10px; width:300px; height:66px; background-color:#484848; background-repeat:repeat-x; background-position:0 0; border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
#breadcrumbWithArea div.areaImage a.go {position:absolute; top:20px; right:12px; padding:5px 13px; background:#F57C21; color:#FFF; border-radius:6px;}

.newPassageProducts {margin:0 0 10px; padding:0 0 12px; background:#F1F1F1;}
.newPassageProducts h4 {padding:17px 12px 0; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:16px; font-weight:bold; line-height:1em; color:#14609E;}
.newPassageProducts h4 a {color:#14609E;}
.newPassageProducts ul {margin:14px 0 0 12px !important;}
.newPassageProducts ul li {position:relative; float:left; margin:0 0 0 12px; width:83px; list-style-type:none;}
.newPassageProducts ul li:first-child {margin-left:0;}
.newPassageProducts ul li h5 {margin:5px 0; line-height:1.4em;}
.newPassageProducts ul li h5 a {color:#7F7F7F;}
.newPassageProducts ul li p {margin:0;}
.newPassageProducts ul li p.checkPrice a {color:#AD0000;}
.newPassageProducts ul li:hover div.gPassageTooltip {display:block; left:-10px; top:-140px; z-index:9999;}

div.gPassageTooltip {display:none; padding:14px 14px 4px; width:190px; position:absolute; color:#4B4B4B; background:#FFF; border:1px solid #BFBFBF; font-size:8pt; border-radius:6px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2);}
div.gPassageTooltip h6 {font-weight:bold; color:#1B5F9F !important; font-size:12pt;}
div.gPassageTooltip h6 a {color:#1B5F9F !important; line-height: 1.4em;}
div.gPassageTooltip p {margin:0; padding:0 0 10px; line-height:1.4em;}
div.gPassageTooltip p a {color:#4B4B4B;}
div.gPassageTooltip p.price {padding-top:10px;}
div.gPassageTooltip p.buy a {color:#F56521;}

span.rate {position:relative; display:inline-block; overflow:hidden;}
span.rate span.rateBar {position:absolute; left:0; top:0; text-indent:-9999px; line-height:99em; font-size:0; overflow:hidden;}
span.rate.medium {width:100px; height:18px; background:url('/i/rate-medium.png') repeat-x 0 -18px;}
span.rate.medium span.rateBar {height:18px; background:url('/i/rate-medium.png') repeat-x 0 1px;}
span.rate.medium.blue span.rateBar {background-position:0 -36px;}
span.rate.medium span.r1p5 {width:18px;}
span.rate.medium span.r2p5 {width:36px;}
span.rate.medium span.r3p5 {width:54px;}
span.rate.medium span.r4p5 {width:72px;}
span.rate.medium span.r5p5 {width:90px;}

span.priceBox {padding:0 0 0 3px; display:inline-block; color:#FFF; font-size:11pt; line-height:1.3em; font-weight:bold; overflow:hidden; background:#CC0000; border:1px solid #CC0000;}
span.priceBox em {background:#FFF; padding:10px 2px; margin:0 0 0 3px; font-size:7pt; line-height:1em; font-weight:bold; color:#CC0000;}

div.rotatorDotted {position:relative; overflow:hidden; margin-bottom:20px;}
div.rotatorDotted.height294 {height:294px; margin-bottom: 0!important;}
div.rotatorDotted.height380 {height:380px;}
div.rotatorDotted.height433 {height:433px;}
div.rotatorDotted.height480 {height:480px;}
div.rotatorDotted.height639 {height:639px;}
div.rotatorDotted.height713 {height:713px;}
div.rotatorDotted.withoutMargin {margin-bottom:0;}
div.rotatorDotted ul {position:absolute; left:0; top:0; z-index:5;}
div.rotatorDotted ul li {position:absolute; left:-9999px; top:-9999px;}
div.rotatorDotted ul li:first-child {left:0; top:0;}
div.rotatorDotted .control {position:absolute; width:100%; height:16px; bottom:10px; left:0; z-index:40; text-align:center;}
div.rotatorDotted .control a {display:inline-block; width:16px; height:16px; overflow:hidden; text-indent:-9999px; background:url('/i/article-rotator-sprites.png') no-repeat -16px -54px;}
div.rotatorDotted .control a.select, #article .welcomeSplash .control a:hover {background-position:0 -54px;}
div.rotatorDotted .control a.prev {position:absolute; left:0; top:-150px; width:33px; height:54px; background-position:0 0;}
div.rotatorDotted .control a.prev:hover {opacity:0.8; filter:alpha(opacity=80);}
div.rotatorDotted .control a.next {position:absolute; right:0; top:-150px; width:33px; height:54px; background-position:-33px 0;}
div.rotatorDotted .control a.next:hover {opacity:0.8; filter:alpha(opacity=80);}
div.rotatorDotted.height294 .control a.prev, div.rotatorDotted.height294 .control a.next {top:-160px;}
div.rotatorDotted.height480 .control a.prev, div.rotatorDotted.height480 .control a.next {top:-250px;}
div.rotatorDotted.height639 .control a.prev, div.rotatorDotted.height639 .control a.next {top:-330px;}
div.rotatorDotted.height713 .control a.prev, div.rotatorDotted.height713 .control a.next {top:-365px;}
div.rotatorDotted.height639.converted {height:433px;}
div.rotatorDotted.height639.converted ul {left:153px;}
div.rotatorDotted.height639.converted .control a.prev, div.rotatorDotted.height639.converted .control a.next {top:-200px;}

div.gRobotoRatingBox {padding:0;}
div.gRobotoRatingBox h4 {padding:10px 0 15px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:30px; line-height:1em;}
div.gRobotoRatingBox div.ratingsLeft {float:left;}
div.gRobotoRatingBox div.ratingsRight {float:right; text-align:right;}
div.gRobotoRatingBox h6 {padding:4px 0 12px; font-size:12px; line-height:1em; color:#999999;}
div.gRobotoRatingBox p.yourRate {padding:0 0 12px; font-size:14px; line-height:1em; color:#666666;}
div.gRobotoRatingBox p.yourRate strong {padding:0 6px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:15px; line-height:1em; font-weight:bold;}
div.gRobotoRatingBox p.yourRate a {color:#3366CC;}
div.gRobotoRatingBox p.showMore {padding:0 0 15px; text-align:right;}
div.gRobotoRatingBox div.box23left {float:left; width:58%;}
div.gRobotoRatingBox div.box23right {float:right; width:40%;}

div.gRobotoShopListBox {padding:0;}
div.gRobotoShopListBox.boxInNews {padding:0 12px 10px; margin-bottom:10px; background-color:#F1F1F1; font-size:12px;}
div.gRobotoShopListBox h5 {padding:15px 0 0; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:17px; text-align:right; line-height:1em; color:#14609E;}
div.gRobotoShopListBox h5 a {color:#14609E;}
div.gRobotoShopListBox h4 {padding:10px 0 7px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:26px; text-align:right; line-height:1em; border-bottom:1px solid #BDC7D1;}
div.gRobotoShopListBox h4 em {font-size:16px; color:#999999; font-style:normal !important;}
div.gRobotoShopListBox h4 strong {font-weight:bold;}
div.gRobotoShopListBox h4 strong.price {color:#AD0000;}
div.gRobotoShopListBox ul {margin:0 !important;}
div.gRobotoShopListBox ul {padding:0 !important; margin:0 !important;}
div.gRobotoShopListBox ul li {clear:both; padding:10px 0 0 !important; margin:0 !important; position:relative; overflow:hidden;}
div.gRobotoShopListBox ul li span.shop {float:left; padding:10px 0 0; color:#7F7F7F;}
div.gRobotoShopListBox ul li span.shop a {color:#7F7F7F !important;}
div.gRobotoShopListBox ul li span.more {float:right;}
div.gRobotoShopListBox ul li span.more strong.price {position:relative; float:left; padding:5px 0; margin:0 10px 0 0; color:#7CB000; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:17px;}
div.gRobotoShopListBox ul li span.more strong.price:after {position:absolute; display:block; content:' '; bottom:0; right:0; width:9999px; height:1px; background:#DDDDDD;}
div.gRobotoShopListBox ul li span.more .gRobotoFreshButton,
div.gRobotoShopListBox ul li span.more .gRobotoBuyButton {float:left;}
div.gRobotoShopListBox ul li span.more .gRobotoBuyButton.play-operator { background: linear-gradient(to bottom,#592e7d 0%,#4b206f 100%); color: #ffffff; border: 1px solid #421a64; }
div.gRobotoShopListBox p.showMore {padding:20px 0 20px !important; margin:0 !important; text-align:right;}
div.gRobotoShopListBox div.boxLeft {float:left; width:45%;}
div.gRobotoShopListBox div.boxLeft h5, div.gRobotoShopListBox div.boxLeft h4 {text-align:left;}
div.gRobotoShopListBox div.boxRight {float:right; width:50%;}

div.gRobotoShopListBox.boxInNews ul {list-style-type: none !important;}
div.gRobotoShopListBox.boxInNews ul li span.more .gRobotoBuyButton {margin-top:2px;}

div.gRobotoProsAndCons {padding:0 8px 0 0; line-height:1.5em; color:#333333;}
div.gRobotoProsAndCons h5 {padding:0 0 8px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:16px; font-weight:bold; line-height:1em; text-transform:uppercase;}
div.gRobotoProsAndCons h5.plus {color:#FF6600;}
div.gRobotoProsAndCons h5.minus {color:#4F4F4F;}
div.gRobotoProsAndCons p {padding:0 0 10px 10px;}

div.gRobotoProsAndCons div.comparatorWidget {padding-bottom:10px;}
div.gRobotoProsAndCons div.comparatorWidget div.title {float:left; width:98px; color:#010101; line-height:1em;}
div.gRobotoProsAndCons div.comparatorWidget div.title img {margin:5px 0 0 10px;}
div.gRobotoProsAndCons div.comparatorWidget div.links {padding-left:100px;}
div.gRobotoProsAndCons div.comparatorWidget div.links p.showList a {color:#14609E; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:16px; font-weight:bold; line-height:1em;}
div.gRobotoProsAndCons div.comparatorWidget div.links p.showMore {text-align:left !important;}
div.gRobotoProsAndCons div.comparatorWidget.review {padding-bottom:20px;}
div.gRobotoProsAndCons div.comparatorWidget.review div.links {padding-left:120px;}

.gRobotoWhiteButton {display:inline-block; padding:9px 25px 9px 20px; color:#010101 !important; border:1px solid #CECECE; border-radius:3px; box-shadow:0 1px 1px rgba(0,0,0,0.2); text-transform:lowercase; background:#FFF  no-repeat right -308px;}
.gRobotoBuyButton {display:inline-block; padding:10px 14px; font-size:12px; line-height:1em; color:#FFFFFF !important; border:0; border-radius:1px; background:#7cb000;}
.gRobotoFreshButton {display:inline-block; padding:10px 14px; font-size:12px; line-height:1em; color:#FFFFFF !important; background:#7CB000;}

/* 04. content
   ------------------------------------------------------- */
#bigSplash {width:630px; padding-bottom:10px;}
#bigSplash h5 {display:none;}
#bigSplash .splash {position:relative; width:630px; height:275px; overflow:hidden;}
#bigSplash .splash ul {position:absolute; left:0; top:0; width:9999px; z-index:10;}
#bigSplash .splash ul li {position:absolute; left:-999px; top:-9999px; width:640px; height:275px; background:#DFE4E7;}
#bigSplash .splash ul li:first-child {left:0; top:0;}
#bigSplash .splash ul li h3 {position:relative; z-index:20; width:350px; padding:22px 0 0 20px; line-height:0.9em;}
#bigSplash .splash ul li h3, #bigSplash .splash ul li h3 a {font-weight:normal; color:#000; font-size:20pt; letter-spacing:-0.03em; line-height:1.03em; text-decoration:none !important;}
#bigSplash .splash ul li p {position:relative; z-index:20; padding:5px 0 0 20px; width:350px; line-height:1.4em;}
#bigSplash .splash ul li p a {color:#1B5F9F; font-weight:bold;}
#bigSplash .splash ul li p strong, #bigSplash .splash ul li p b {font-weight:bold;}
#bigSplash .splash ul li p a span {color:#F97C00; font-weight:bold;}
#bigSplash .splash ul li p.thumb {position:absolute; left:0; top:0; z-index:10; padding:0;}
#bigSplash .splash .control {position:absolute; bottom:10px; right:10px; z-index:20;}
#bigSplash .splash .control a {padding:1px 6px; background:#303A3E; color:#FFF; font-size:8pt; font-weight:bold; margin-left:3px; border-radius:2px; text-decoration:none !important;}
#bigSplash .splash .control a.select, #bigSplash .splash .control a:hover {background:#F57F20;}
#bigSplash .splash .control a.next, #bigSplash .splash .control a.prev {background:#246BA7; padding:1px 7px;}
#bigSplash .splash .control a.next:hover, #bigSplash .splash .control a.prev:hover {background:#347CBC;}
#bigSplash .promo {padding-top:10px;}
#bigSplash .promo ul li {position:relative; width:145px; float:left; margin-left:16px; padding:0 0 18px; background:url('/i/bigsplash-promo-bg.png') repeat-x 0 80px;}
#bigSplash .promo ul li:first-child {margin-left:0;}
#bigSplash .promo ul li a {text-decoration:none !important;}
#bigSplash .promo ul li em {position:absolute; z-index:30; left:0; top:60px; padding:0 5px; width:135px; height:20px;}
#bigSplash .promo ul li em span {position:relative; z-index:10; text-transform:uppercase; font-size:8pt; color:#FFF; line-height:1.9em;}
#bigSplash .promo ul li em:after, #bigSplash .promo ul li em .ieAfter {content:' '; display:block; position:absolute; left:0; top:0; z-index:3; width:100%; height:100%; background:#000; opacity:0.6; filter:alpha(opacity=60);}
#bigSplash .promo ul li strong {display:block; padding:3px 2px 0; color:#1B5F9F; font-weight:bold; line-height:1.4em;}
#bigSplash .promo ul li strong span {font-weight:bold; color:#F58220;}
#bigSplash .promo ul li:hover strong {text-decoration:underline;}

.newsBox {position:relative; padding-bottom:10px;}
.newsBox .header {position:relative; z-index:10; height:25px; overflow:hidden; background:#303A3E; color:#FFF; border-radius:6px;}
.newsBox .header h3 {float:left; background:#F58220 url('/i/icons-1.png') no-repeat right -149px; padding:0 25px 10px 15px; line-height:2.1em; border-top-left-radius:6px;}
.newsBox .header h3 a {display:block; float:left; text-decoration:none !important;}
.newsBox .header h3, .newsBox .header h3  a {color:#FFF; text-shadow:#D36A12 1px 1px; }
.newsBox .header ul.sub {float:right; padding-right:10px; line-height:2.1em;}
.newsBox .header ul.sub li {display:inline; padding-right:10px;}
.newsBox .header ul.sub li a {color:#FFF;}
.newsBox .header span.control {float:right; background:#14426C; font-size:8pt; line-height:1.5em; padding:4px 10px 15px 10px; border-top-right-radius:6px;}
.newsBox .header span.control a {display:inline-block; vertical-align:middle; width:16px; height:16px; overflow:hidden; text-indent:-9999px; background:#FFF url('/i/icons-1.png') no-repeat 0 -46px;}
.newsBox .header span.control a.up {margin-left:0; margin-right:-3px;}
.newsBox .header span.control a.up:hover {background-position:-32px -46px;}
.newsBox .header span.control a.down {background-position:-16px -46px;}
.newsBox .header span.control a.down:hover {background-position:-48px -46px;}
.newsBox .body {padding-top:10px; min-height:210px;}
.newsBox .body h5 {display:none;}
.newsBox .body .promo {position:relative; float:left; width:202px; height:209px; background:#DFE4E7;}
.newsBox .body .promo p.thumb {position:relative; z-index:10;}
.newsBox .body .promo .bar {position:absolute; left:0; bottom:0; z-index:12; color:#FFF; padding:10px 10px 5px 10px;}
.newsBox .body .promo .bar:after, .newsBox .body .promo .bar .ieAfter {content:' '; display:block; position:absolute; left:0; bottom:0; z-index:11; background:#000; width:202px; height:100%; opacity:0.6; filter:alpha(opacity=60);}
.newsBox .body .promo .bar h4 {position:relative; z-index:20; font-weight:bold; font-size:10pt; line-height:1.1em; padding-bottom:5px;}
.newsBox .body .promo .bar h4 a {color:#FFF; text-decoration:none !important; font-weight:bold;}
.newsBox .body .promo .bar h4 span {color:#F58220; font-weight:bold;}
.newsBox .body .promo .bar p {position:relative; z-index:25; padding-bottom:5px; line-height:1.3em; font-size:8pt;}
.newsBox .body .promo .bar p a {color:#FFF; text-decoration:none !important;}
.newsBox .body ul {margin-left:226px; padding:0 10px 0 0; color:#1B5F9F; list-style-type:disc;}
.newsBox .body.noPromo ul {margin-left:20px;}
.newsBox .body ul li {padding-bottom:4px;}
.newsBox .body ul li a {color:#1B5F9F;}
.newsBox .body ul li a:visited {color:#373F44;}
.newsBox .body ul li strong {font-weight:bold;}
.newsBox .body ul li strong a {font-weight:bold;}
.newsBox .body ul li a:visited {color:#555555;}
.newsBox .body ul li em {color:#898989; font-size:8pt;}

.newsBox.blue .header, .newsBox.blue .header h3 {background:#21639B;}
.newsBox.blue .header h3, .newsBox.blue .header h3 a {text-shadow:#124879 1px 1px;}

.recommendBox {padding:0 0 15px; color:#505050;}
.recommendBox h4 {line-height:2em; padding-left:10px; height:25px; background:#373F44; color:#FFF; border-radius:6px;}
.recommendBox ul {padding:15px 0 0 8px;}
.recommendBox ul li {float:left; width:142px; margin-left:15px;}
.recommendBox ul li:first-child {margin-left:0;}
.recommendBox ul li p.thumb img {border:1px solid #DCDCDC;}
.recommendBox ul li h5 {padding:6px 0; font-size:16px;}
.recommendBox ul li h5 a {color:#0762BD;}
.recommendBox ul li p.rate {padding-top:4px;}
.recommendBox ul li p.price {padding-top:2px; font-size:10pt;}
.recommendBox ul li p.price a {color:#505050;}
.recommendBox ul li p.price strong {color:#C1272D;}
.recommendBox ul li p.lead {line-height:1.4em; padding:3px 0 0;}

.changePage {position:relative; padding:20px 0;}
.changePage a {text-decoration:none;}
.changePage a.prev {float:left; text-align:left;}
.changePage a.next {float:right; text-align:right;}
.changePage a strong {display:block; height:18px; font-weight:bold; font-size:12pt; cursor:pointer; background:url('/i/article-sprites-0.png') no-repeat -9999px -9999px;}
.changePage a span {padding:10px 0 0; display:block; width:250px; color:#5F5F5F; cursor:pointer; font-size:11pt;}
.changePage a:hover {color:#DE7E08;}
.changePage a:hover span {color:#DE7E08;}
.changePage a.prev strong {background-position:0 -81px; padding-left:25px;}
.changePage a.next strong {background-position:right -99px; padding-right:25px;}
.changePage select {position:absolute; width:300px; top:15px; left:50%; margin:0 0 0 -153px; border:5px solid #FFF; outline:1px solid #C4C4C4;}

#content .split2 .left {float:left;}
#content .split2 .right {float:right;}
#content .split2 .left, #content .split2 .right {width:315px;}

#content .simpleBox {border-top:8px solid #D3D3D3; padding-bottom:10px;}
#content .simpleBox h3 {font-size:11pt; padding:11px 0 10px;}
#content .simpleBox h3, .simpleBox h3 a {color:#000;}

#content .simpleBox ul.simpleList {color:#1B5F9F; list-style-type:disc; margin-left:20px; margin-right:20px;}
#content .simpleBox ul.simpleList li {padding-bottom:4px;}
#content .simpleBox ul.simpleList a {color:#1B5F9F;}
#content .simpleBox ul.simpleList a:visited {color:#555555;}

#content .simpleBox ul.thumbsList li {position:relative; min-height:70px; padding-left:85px;}
#content .simpleBox ul.thumbsList li p.thumb {position:absolute; left:0; top:0; width:75px; height:60px; overflow:hidden; paddin-bottom:0;}
#content .simpleBox ul.thumbsList li h4 {font-size:10pt; padding-bottom:3px;}
#content .simpleBox ul.thumbsList li h4, #content .simpleBox ul.thumbsList li h4 a {color:#1B5F9F;}
#content .simpleBox ul.thumbsList li h4 a:visited {color:#555555;}
#content .simpleBox ul.thumbsList li p {font-size:8pt; line-height:1.4em; padding-bottom:10px;}

#content .adsense {padding-top:10px; padding-bottom:20px; text-align:center;}

/* 04.1 content > article
   ------------------------------------------------------- */
#article {width:630px;}
#articleHeader {padding:0 12px;}
#content #articleHeader {padding-top:0; padding-left:0; padding-right:0;}

#articleHeader p {padding:0 0 5px; font-size:9pt; color:#666666;}
#articleHeader p a {color:#3366CC;}
#articleHeader h1 {padding:8px 0 16px; font-size:40px; font-weight:normal; letter-spacing:-0.01em; line-height:0.98em;}
#articleHeader h1 a {color:#000; text-decoration:none; font-weight:normal;}
#articleHeader p.category {padding-top:7px;}
#articleHeader p.category a {display:inline-block; margin:1px 1px; padding:3px 7px; color:#FFF; background:#BFBFBF; text-transform:uppercase; border-radius:3px; font-weight:bold;}
#articleHeader p.category a:hover {background:#B2B2B2; text-decoration:none;}

#articleHeaderSimpleInfo {padding:5px 0 15px 0;}
#articleHeaderSimpleInfo div.shortcut {float:left; padding-right:30px;}
#articleHeaderSimpleInfo div.shortcut p.avatar {float:left; padding:0; width:50px; height:50px;}
#articleHeaderSimpleInfo div.shortcut p.author {margin:0 0 0 70px; padding:0;}
#articleHeaderSimpleInfo div.shortcut h4 {padding:0 0 4px; margin:0 0 0 70px; font-size:29px; color:#AFAFAF; font-family:'Roboto Condensed', Roboto, Arial, Verdana, Tahoma; font-weight:bold; line-height:1em;}
#articleHeaderSimpleInfo div.explain {margin-left:0;}
#articleHeaderSimpleInfo div.explain p {padding:4px 0 0 0; line-height:1.9em; color:#898989;}

#article .welcomeSplash {position:relative; height:433px; overflow:hidden; margin-bottom:20px;}
#article .welcomeSplash ul {position:absolute; left:0; top:0; z-index:5;}
#article .welcomeSplash ul li {position:absolute; left:-9999px; top:-9999px;}
#article .welcomeSplash ul li:first-child {left:0; top:0;}
#article .welcomeSplash .control {position:absolute; width:100%; height:16px; bottom:10px; left:0; z-index:40; text-align:center;}
#article .welcomeSplash .control a {display:inline-block; width:16px; height:16px; overflow:hidden; text-indent:-9999px; background:url('/i/article-rotator-sprites.png') no-repeat -16px -54px;}
#article .welcomeSplash .control a.select, #article .welcomeSplash .control a:hover {background-position:0 -54px;}
#article .welcomeSplash .control a.prev {position:absolute; left:0; top:-200px; width:33px; height:54px; background-position:0 0;}
#article .welcomeSplash .control a.prev:hover {opacity:0.8; filter:alpha(opacity=80);}
#article .welcomeSplash .control a.next {position:absolute; right:0; top:-200px; width:33px; height:54px; background-position:-33px 0;}
#article .welcomeSplash .control a.next:hover {opacity:0.8; filter:alpha(opacity=80);}

.productSummary {display:none; margin-bottom:0; font-size:14px;}
.productSummary div.rate {float:left;}
.productSummary div.rate h5 {padding:0 0 6px; font-weight:bold;}
.productSummary div.rate p.rateText {color:#636363; padding:6px 0 20px;}
.productSummary div.toShop {float:right; text-align:right;}
.productSummary div.toShop a.shop {display:inline-block; width:180px; height:32px; text-indent:24px; text-align:left; font-size:11pt; line-height:2.2em; text-decoration:none; color:#363636; background:#FDC937 url('/i/article-buttons-0.png') no-repeat 0 0;}
.productSummary div.toShop a.shop:hover {background-position:0 -32px;}
.productSummary div.toShop p.price {padding:8px 0 20px; color:#838383; font-size:18px; font-weight:bold;}
.productSummary div.details {clear:both; padding:15px 0 5px; font-size:11pt; line-height:1.6em; border-top:1px solid #E2E2E2;}
.productSummary div.details p {margin-bottom:10px;}
.productSummary div.details p strong {font-weight:bold; color:#DE0404;}

.productSummary2 {padding:6px 0 0; margin:0 0 10px;}
.productSummary2 div.summaryLeft {float:left; width:48%;}
.productSummary2 div.summaryRight {float:right; width:48%;}
.productSummary2 div.summaryRight div.gRobotoProsAndCons {line-height:1.6em;}

#body .content {font-size:16px; line-height:1.6em; padding-top:15px;}
#body .content.news {padding-top:0;}
body.increaseFonts #body .content {font-size:18px; line-height:1.6em;}
#body .content h3 {font-size:18px; line-height:1em; padding:25px 0 20px;}
#body .content p {margin:0 0 20px;}
#body .content b, #body .content strong {font-weight:bold !important;}
#body .content q {display:block; padding-left:50%; color:#FF8C00; font-size:18px; font-weight:bold; font-style:italic;}
#body .content q:before, #body .content q:after {display:none;}
#body .content p.infographic {overflow:hidden; text-align:center; position:relative;}
#body .content p.infographic a.show {display:block; position:absolute; left:50%; margin-top:-30px; height:30px; background:#000; color:#FFF; font-size:10pt; font-weight:bold; text-align:center; line-height:2.2em; text-decoration:none;}
#body .content p.withDescription {overflow:hidden; text-align:center; position:relative;}
#body .content p.withDescription span.imageDescription {display:block; position:absolute; left:50%; bottom:0;}
#body .content p.withDescription span.imageDescription span.text {position:relative; z-index:5; display:block; padding:5px 10px 7px; line-height:1.6em; font-size:8pt;}
#body .content p.withDescription span.imageDescription span.bg {background:#FFF; position:absolute; left:0; top:0; width:100%; height:100%; opacity:0.9; filter:alpha(opacity=90);}
#body .content p.source {color:#797979; font-style:italic;}

#body .content table {width:100%; margin-bottom:20px;}
#body .content table tr td {padding:2px;}
#body .content table.silver {background:#EEEEEE;}
#body .content table.silver td {padding:10px; border:1px solid #D7D8D9;}
#body .content a {color:#1B5F9F;}
#body .content a:hover {text-decoration:underline;}
#body .content em, #body .content i {font-style:italic; color:#797979;}
#body .content ol {list-style-type:decimal; margin:0 0 20px 30px; padding:0;}
#body .content ul {list-style-type:circle; margin:0 0 20px 30px; padding:0;}
#body .content ol li, #body .content ul li {padding:0 0 0 0; border:0;}

#body .content div.moreTopics {margin:0 15px 15px 0; float:left; width:200px; border-top:1px solid #C7C7C7; border-bottom:1px solid #C7C7C7;}
#body .content div.moreTopics h5 {padding:15px 0 20px; font-size:16px; font-weight:bold; color:#567089;}
#body .content div.moreTopics ul {color:#1B5F9F; margin-left:15px;}
#body .content div.moreTopics ul li {padding-bottom:10px; border:0;font-family:"arial";font-size: 12px;text-align: left;}

#body .content div.top10list ol {list-style-type:none; margin:0 0 15px; padding:0;}
#body .content div.top10list ol li h2 {font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:35px; line-height:1em;}
#body .content div.top10list ol li h2 a {color:#000;}
#body .content div.top10list ol li h5 {margin:10px 0 0 10px; border-bottom:1px solid #EAEAEA; font-size:12px; font-weight:bold; color:#FF813A; text-transform:uppercase;}
#body .content div.top10list ol li p.price {margin:0 0 0 10px; padding:15px 0 0; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:26px; line-height:1em;}
#body .content div.top10list ol li p.price em {font-size:16px; color:#999999; font-style:normal;}
#body .content div.top10list ol li p.price strong {font-weight:bold;}
#body .content div.top10list ol li p.price strong.price {color:#AD0000;}
#body .content div.top10list ol li p.priceSeeMore {padding:15px 0 0 60px;}
#body .content div.top10list ol li p.priceSeeMore a {line-height:1em;}
#body .content div.top10list ol li p.productPhoto {float:right; margin-left:0 !important;}
#body .content div.top10list ol li blockquote.description {margin-left:10px;}
#body .content div.top10list ol li p.wantMore {clear:both;}
#body .content div.top10list ol li dl {margin:5px 0 5px 10px;}
#body .content div.top10list ol li dl dt {display:block; float:left; margin-right:5px;}
#body .content div.top10list ol li dl dd {display:block; font-weight:bold;}

#body .content div.inlineGallery {width:630px; margin:0 0 20px -44px;}
#body .content div.inlineGallery h5 {padding:5px 0 15px 44px; font-size:26px; color:#567089;}
#body .content div.inlineGallery div.container {position:relative; padding:20px 0; background:#EFF2F3; border-top:1px solid #C7C7C7; border-bottom:1px solid #C7C7C7;}
#body .content div.inlineGallery div.container div.frame {position:relative; width:540px; height:110px; overflow:hidden; margin:0 auto;}
#body .content div.inlineGallery ul {position:absolute; left:0; top:0; width:9999px; list-style-type:none; margin:0; padding:0 0 0 20px;}
#body .content div.inlineGallery ul li {float:left; width:140px; margin:0 40px 0 0; padding:0;}
#body .content div.inlineGallery .control a {display:inline-block; width:16px; height:16px; overflow:hidden; text-indent:-9999px; background:url('/i/article-rotator-sprites.png') no-repeat -16px -54px;}
#body .content div.inlineGallery .control a.prev {position:absolute; left:0; top:50%; margin-top:-29px; width:33px; height:54px; background-position:0 0;}
#body .content div.inlineGallery .control a.prev:hover {opacity:0.8; filter:alpha(opacity=80);}
#body .content div.inlineGallery .control a.next {position:absolute; right:0; top:50%; margin-top:-29px; width:33px; height:54px; background-position:-33px 0;}
#body .content div.inlineGallery .control a.next:hover {opacity:0.8; filter:alpha(opacity=80);}

#body .content div.benchmarkResults {}
#body .content div.benchmarkResults div.chart {position:relative; float:left; width:50%; margin:0 0 20px;}
#body .content div.benchmarkResults div.chart h3 {padding:5px 0; margin:0 10px 10px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:21px; line-height:1em; font-weight:bold; border-bottom:1px solid #9B9B9B;}
#body .content div.benchmarkResults div.chart div.badge {position:absolute; top:2px; right:10px; padding:2px 4px; text-align:center; color:#FFFFFF; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:15px; font-weight:bold; letter-spacing:-0.01em; border-radius:3px; background-color:#EA6300;}
#body .content div.benchmarkResults div.chart div.column {position:relative; overflow:hidden; margin:0 10px 4px; background-color:#BBBBBB; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:13px; line-height:1.2em; font-weight:bold; color:#FFFFFF; text-transform:uppercase; border-radius:3px;}
#body .content div.benchmarkResults div.chart div.column div.bar {position:absolute; top:0; left:0; bottom:0;}
#body .content div.benchmarkResults div.chart div.column div.name {position:relative; padding:5px 0 5px 10px; max-width:70%;}
#body .content div.benchmarkResults div.chart div.column div.name a {color:#FFFFFF;}
#body .content div.benchmarkResults div.chart div.column div.score {position:absolute; top:5px; right:6px;}
#body .content div.benchmarkResults div.chart div.columnOrange div.bar {background-color:#EA6300;}
#body .content div.benchmarkResults div.chart div.columnBlue div.bar {background-color:#398AC6;}
#body .content div.benchmarkResults div.chart div.columnGreen div.bar {background-color:#69C48B;}
#body .content div.benchmarkResults div.chart div.columnGray div.bar {background-color:#999999;}

#body .content div.compareProducts {padding:0 10px;}
#body .content div.compareProducts div.product {margin:0 0 20px; width:50%;}
#body .content div.compareProducts div.product a.gRobotoWhiteButton {line-height:1em;}
#body .content div.compareProducts div.product.productLeft {float:left; margin-left:-10px;}
#body .content div.compareProducts div.product.productRight {float:right; margin-right:-10px;}
#body .content div.compareProducts div.product h3 {padding:0 10px; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-size:23px; line-height:1.2em; font-weight:bold;}
#body .content div.compareProducts div.product h3 a {color:#EB6300;}
#body .content div.compareProducts div.product h3 a strong {color:#000;}
#body .content div.compareProducts div.product.productLeft h3 {text-align:right;}
#body .content div.compareProducts div.product div.specs {padding:5px 10px;}
#body .content div.compareProducts div.product div.specs {color:#EB6300;}
#body .content div.compareProducts div.product div.specs span.spec {color:#000;}
#body .content div.compareProducts div.product.productLeft div.specs {text-align:right;}
#body .content div.compareProducts div.product div.image {margin:10px 0; position:relative;}
#body .content div.compareProducts div.product div.image span.hot {position:absolute; bottom:10px; width:88px; height:40px; background:url('/i/article-product-hot.png') no-repeat 0 0;}
#body .content div.compareProducts div.product div.image span.hot span.hotBar {position:absolute; left:0; bottom:0; height:40px; background:url('/i/article-product-hot.png') no-repeat 0 -42px;}
#body .content div.compareProducts div.product.productLeft div.image span.hot {right:0;}
#body .content div.compareProducts div.product.productRight div.image span.hot {left:0;}
#body .content div.compareProducts div.product div.review {float:left; width:50%;}
#body .content div.compareProducts div.product div.review h6 {font-family:'Roboto Condensed',Roboto, Arial, Verdana, Tahoma; font-size:14px; line-height:1.2em; font-weight:bold; color:#8A8A8A;}
#body .content div.compareProducts div.product div.review span.rate {margin:10px 0 7px 0;}
#body .content div.compareProducts div.product div.description {float:right; width:50%; text-align:right;}
#body .content div.compareProducts div.product div.description a.openDescr {font-family:'Roboto Condensed',Roboto, Arial, Verdana, Tahoma; font-size:14px; line-height:1.1em; font-weight:bold;}
#body .content div.compareProducts div.product div.description div.price {margin:6px 0 10px 0; font-family:'Roboto Condensed', Roboto, Arial, Verdana, Tahoma; font-size:14px; line-height:1.4em; font-weight:bold; color:#BA262B;}
#body .content div.compareProducts div.product div.description div.price em {font-style:normal; color:#8A8A8A;}
#body .content div.compareProducts div.product div.description div.price strong {color:#000;}

#body .content div.poll {width:300px; margin:0 auto;}
#body .content div.poll p {margin:0 0 2px;}

div.poll2 {width:300px; margin:0 auto;padding-top: 20px}
div.poll2 p {margin:0 0 2px;}

#body .content div.chat p {position:relative; width:274px; padding:20px 16px; border-radius:13px;}
#body .content div.chat p:after {position:absolute; display:block; bottom:-7px; width:16px; height:14px; content:' '; background:url('/i/entry-chat-ballons-arrow.png') no-repeat -9999px -9999px;}
#body .content div.chat p.from {float:left; background:#0A86B4; color:#FFF; border-bottom-right-radius:0; background:-moz-linear-gradient(top, #58adcc 0%, #0a86b4 15%, #0a86b4 85%, #4dacce 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#58adcc), color-stop(15%,#0a86b4), color-stop(85%,#0a86b4), color-stop(100%,#4dacce)); background:-webkit-linear-gradient(top, #58adcc 0%,#0a86b4 15%,#0a86b4 85%,#4dacce 100%); background:-o-linear-gradient(top, #58adcc 0%,#0a86b4 15%,#0a86b4 85%,#4dacce 100%); background:-ms-linear-gradient(top, #58adcc 0%,#0a86b4 15%,#0a86b4 85%,#4dacce 100%); background:linear-gradient(to bottom, #58adcc 0%,#0a86b4 15%,#0a86b4 85%,#4dacce 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#58adcc',endColorstr='#4dacce',GradientType=0 );}
#body .content div.chat p.from:after {right:-7px; background-position:0 0;}
#body .content div.chat p.to {float:right; background:#D7D7D7; border-bottom-left-radius:0; background: #d7d7d7; background:-moz-linear-gradient(top, #eaeaea 0%, #d7d7d7 23%, #d7d7d7 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(23%,#d7d7d7), color-stop(100%,#d7d7d7)); background:-webkit-linear-gradient(top, #eaeaea 0%,#d7d7d7 23%,#d7d7d7 100%); background:-o-linear-gradient(top, #eaeaea 0%,#d7d7d7 23%,#d7d7d7 100%); background:-ms-linear-gradient(top, #eaeaea 0%,#d7d7d7 23%,#d7d7d7 100%); background:linear-gradient(to bottom, #eaeaea 0%,#d7d7d7 23%,#d7d7d7 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea',endColorstr='#d7d7d7',GradientType=0 );}
#body .content div.chat p.to:after {left:-8px; background-position:-21px 0;}

#article div.learMore {padding:0 0 10px;}
#article div.learMore a.learMore {display:inline-block; width:180px; height:32px; text-indent:14px; overflow:hidden; text-align:left; font-size:11pt; line-height:2.2em; text-decoration:none; color:#363636; background:#FDC937 url('/i/article-buttons-0.png') no-repeat 0 -64px;}
#article div.learMore a.learMore:hover {background-position:0 -96px;}
#article div.learMore p.explain {padding:6px 0 0; color:#636363;}

#article .footer {padding:0px 0 0px;}
#article .footer .learnMore {padding:0 0 20px;}
#article .footer .learnMore a.more {display:inline-block; width:180px; height:32px; text-indent:14px; text-align:left; font-size:11pt; line-height:2.2em; text-decoration:none; color:#363636; background:#FDC937 url('/i/article-buttons-0.png') no-repeat 0 -64px;}
#article .footer .learnMore a.more:hover {background-position:0 -96px;}
#article .footer .learnMore p.explain {padding:6px 0 0; color:#636363;}
#article .footer .recommend {float:left; color:#636363;}
#article .footer .recommend h4 {display:block; padding:0 0 10px; font-size:16px; font-weight:bold;}
#article .footer .recommend p {display:inline;}
#article .footer .recommend p.stats {}
#article .footer .recommend p.stats span {padding-left:20px;}
#article .footer .recommend p.stats span strong {font-weight:bold;}
#article .footer .recommend p button {display:inline-block; padding:0 20px 0 0; width:52px; height:27px; font-size:7pt; border:0; cursor:pointer; line-height:2em; margin:0 10px 0 0; text-decoration:none !important; text-transform:uppercase; color:#727272; background:url('/i/article-sprites-0.png') no-repeat -9999px -9999px;}
#article .footer .recommend p button.vote.plus {background-position:0 0;}
#article .footer .recommend p button.vote.plus:hover {background-position:0 -27px;}
#article .footer .recommend p button.vote.plus.select {background-position:0 -54px;}
#article .footer .recommend p button.vote.minus {background-position:-52px 0;}
#article .footer .recommend p button.vote.minus:hover {background-position:-52px -27px;}
#article .footer .recommend p button.vote.minus.select {background-position:-52px -54px;}
#article .footer .views {float:right; padding:0px 20px 20px 0; color:#666666; font-size:7pt;}
#article .footer .views strong {color:#F58220;}

#articleGallery {position:relative; width:940px; height:484px; margin:30px 10px 0 10px;}
#articleGallery ul {position:relative; z-index:10;}
#articleGallery ul li {position:absolute; left:-9999px; top:-9999px; width:940px; height:484px; background:#FFF;}
#articleGallery ul li:first-child {left:0; top:0;}
#articleGallery ul li div.image {float:left; width:630px; height:484px;text-align: center}
#articleGallery ul li div.image p.photo {}
#articleGallery ul li div.text {float:right; width:298px; line-height:1.7em;}
#articleGallery ul li div.text h3 {padding:0 0 15px; font-size:18pt; line-height:1em;}
#articleGallery ul li div.text p {padding:0 0 15px; font-size: 14px;}
#articleGallery ul li div.text a {color:#1B5F9F;}
#articleGallery ul li div.text a:hover {text-decoration:underline;}
#articleGallery ul li div.text b, #articleGallery ul li div.text strong {font-weight:bold !important;}
#articleGallery span.currentIndex {position:absolute; top:-30px; right:324px; height:30px; padding:0 15px; font-size:8pt; z-index:40; line-height:3em; background:#FFF; color:#666666;}
#articleGallery span.currentIndex em {font-size:15pt;}
#articleGallery div.control {position:absolute; left:0; top:0; z-index:20; width:630px; height:484px; background:url('/i/article-gallery-pager-bg.png') no-repeat -9999px -9999px; /* load image before show */}
#articleGallery div.control a.pager {position:absolute; top:0; width:308px; display:block; text-indent:-9999px; height:484px;}
#articleGallery div.control a.pager:hover { /* background:url('/i/article-gallery-pager-bg.png') repeat-y -9999px -9999px; */}
#articleGallery div.control a.pager span {position:absolute; top:0; left:0; display:block; width:100%; height:100%; cursor:pointer;}
#articleGallery div.control a.pager.item {display:none;}
#articleGallery div.control a.pager.prev {left:0;}
#articleGallery div.control a.pager.prev:hover {background-position:0 0;}
#articleGallery div.control a.pager.prev span {background:url('/i/colorbox-prev.png') no-repeat 10px center;}
#articleGallery div.control a.pager.next {right:0;}
#articleGallery div.control a.pager.next span {background:url('/i/colorbox-next.png') no-repeat 280px center;}
#articleGallery div.control a.pager.next:hover {background-position:-308px 0;}
#articleGalleryControl {position:relative; width:616px; margin-bottom:20px;}
#articleGalleryControl a.pager {position:absolute; top:16px; width:33px; height:54px; background:url('/i/article-rotator-sprites.png') no-repeat -9999px -9999px;}
#articleGalleryControl a.pager:hover {opacity:0.7; filter:alpha(opacity=70);}
#articleGalleryControl a.pager.prev {left:0; background-position:0 0;}
#articleGalleryControl a.pager.next {right:0; background-position:-33px 0;}
#articleGalleryControl div.frame {position:relative; margin:0 0 0 35px; width:546px; height:91px; overflow:hidden;}
#articleGalleryControl div.frame ul {position:absolute; top:0; left:0; width:9999px;}
#articleGalleryControl div.frame ul li {float:left;}
#articleGalleryControl div.frame ul li img {border:5px solid #FFF;}
#articleGalleryControl div.frame ul li.select img {border-color:#F67F0C;}

#ultrabooksSplash {}
#ultrabooksSplash div.control div.items {position:absolute; right:60px; top:15px; z-index:10;}
#ultrabooksSplash div.control div.items a.item {display:block; float:left; margin-right:3px; width:10px; height:10px; background:#0294DF; text-indent:-9999px; overflow:hidden; border-radius:5px;}
#ultrabooksSplash div.control div.items a.item.selected {background-color:#064370;}
#ultrabooksSplash div.control a.pager.move {position:absolute; z-index:10; top:0; width:45px; height:100%; overflow:hidden; cursor:pointer; text-indent:-9999px; background:url('/i/article-gallery-pager-bg.png') repeat-y -9999px 0;}
#ultrabooksSplash div.control a.pager.move span {position:absolute; left:0; top:0; width:45px; height:100%; opacity:0.3; filter:alpha(opacity=30);}
#ultrabooksSplash div.control a.pager.move:hover {background:transparent;}
#ultrabooksSplash div.control a.pager.move:hover span {opacity:1; filter:alpha(opacity=100);}
#ultrabooksSplash div.control a.pager.move.prev {left:0; background-position:left 0;}
#ultrabooksSplash div.control a.pager.move.prev span {left:0; background:url('/i/colorbox-prev.png') no-repeat center center;}
#ultrabooksSplash div.control a.pager.move.next {right:0; background-position:right 0;}
#ultrabooksSplash div.control a.pager.move.next span {right:0; background:url('/i/colorbox-next.png') no-repeat center center;}
#ultrabooksSplash #ultrabooksProducers div.control a.pager.move.prev {left:0; background-image: none;}
#ultrabooksSplash #ultrabooksProducers div.control a.pager.move.next {right:0; background-image: none;}

#ultrabooksRotator {width:960px; height:392px; position:relative; overflow:hidden;}
#ultrabooksRotator ul {position:relative; z-index:5; top:0; width:100%;}
#ultrabooksRotator ul li {position:relative; float:left; width:870px; height:392px;}
#ultrabooksRotator ul li.second div.info {display:block;}
#ultrabooksRotator ul li div.info {width:300px; height:100%; position:absolute; top:0; right:0; background:#CBEBF8;}
#ultrabooksRotator ul li div.info div.infoBody {position:absolute; left:0; bottom:0; padding:0 12px; z-index:5;}
#ultrabooksRotator ul li div.info span.infoBg {display:block; width:100%; height:100%; position:absolute; left:0; top:0; background:#CBEBF8; opacity:0.9; filter:alpha(opacity=90);}
#ultrabooksRotator ul li div.info h2 {padding:0 0 15px; font-size:22pt; line-height:1em;}
#ultrabooksRotator ul li div.info h2 a {color:#0294DF;}
#ultrabooksRotator ul li div.info p.preamble {padding:0 0 15px; font-size:11pt; line-height:1.6em; font-weight:bold; color:#064370;}
#ultrabooksRotator ul li div.info p.seeMore {padding:0 0 11px; text-align:right;}
#ultrabooksRotator ul li div.info p.seeMore a {display:inline-block; padding:9px 35px 9px 0; color:#0294DF; font-size:11pt; line-height:1em; font-weight:bold; background:url('/i/ultrabooks-ratator-arrow.png') no-repeat right 0;}

#ultrabooksProducers {height:135px; border-top:3px solid #1282C2; background:#1282C2;}
#ultrabooksProducers h4 {float:left; width:45px; height:135px; overflow:hidden; text-indent:-9999px; background:url('/i/ultrabook-producers-select-text.gif') no-repeat center center;}
#ultrabooksProducers div.frame {position:relative; float:left; width:915px; height:135px; overflow:hidden;}
#ultrabooksProducers div.frame ul {position:absolute; left:0; top:0; width:9999px;}
#ultrabooksProducers div.frame ul li {position:relative; float:left; width:227px; height:135px; overflow:hidden; margin-left:3px;}
#ultrabooksProducers div.frame ul li label {cursor:pointer;}
#ultrabooksProducers div.frame ul li img {position:relative; z-index:5;}
#ultrabooksProducers div.frame ul li strong {position:absolute; z-index:6; left:0; bottom:0; width:100%;}
#ultrabooksProducers div.frame ul li strong span.title {position:relative; display:block; z-index:8; padding:7px 0; width:100%; text-align:center; color:#FFF; font-weight:bold;}
#ultrabooksProducers div.frame ul li:hover strong span.title {padding-top:13px; padding-bottom:13px;}
#ultrabooksProducers div.frame ul li strong span.bg {position:absolute; display:block; left:0; top:0; z-index:7; width:100%; height:100%; background:#1383C5; opacity:0.7; filter:alpha(opacity=70);}
#ultrabooksProducers div.frame ul li.selected strong span.bg {background-color:#F68E1F;}
#ultrabooksProducers div.frame ul li input {position:absolute; left:0; top:0; visibility:hidden;}

#nextEntryNotify {position:fixed; bottom:0; right:0; display:none; z-index:9998; width:350px; background:#F5F9FC; border:1px solid #DADADA;}
#nextEntryNotify h5 {padding:5px 15px; font-size:14px; font-weight:bold; text-transform:uppercase; background:#2F393D; color:#FFF;}
#nextEntryNotify a.close {display:inline-block; padding:0 5px; position:absolute; top:4px; right:15px; background:#FFF; text-decoration:none; border:1px solid #DADADA; border-radius:2px;}
#nextEntryNotify a.close:hover {background:#FFF2E5;}
#nextEntryNotify p.thumb {padding:10px 10px 10px 15px; float:left;}
#nextEntryNotify p.thumb img {border:1px solid #DBDBDB;}
#nextEntryNotify h4 {padding:10px 15px 5px 0; margin-left:140px; font-size:16px;}
#nextEntryNotify h4 a {color:#0762BD;}
#nextEntryNotify p.lead {padding:0 15px 10px 0; margin-left:140px; color:#505050;}
#nextEntryNotify p.lead a {color:#FF7912;}

#socialEntryBar {position:absolute; left:50%; top:0; display:none; margin-left:-570px; width:90px; padding:30px 0 8px 0; background:#FFF; border-top-left-radius:5px;}
#socialEntryBar.fixed {position:fixed; top:70px !important;}
#socialEntryBar strong.group {display:block; padding:10px 0; text-align:center; color:#777777; font-size:8pt; line-height:1em; text-transform:uppercase;}
#socialEntryBar p.commentsCount {position:relative; width:64px; height:53px; margin:4px auto 5px; text-align:center; background:url('/i/article-sprites-0.png') no-repeat 0 -117px;}
#socialEntryBar p.commentsCount em {position:absolute; width:52px; display:block; left:0; top:20px; color:#FFF; font-size:13pt; line-height:1em; font-weight:bold;}
#socialEntryBar p.commentsCount a {position:relative; display:block; width:100%; height:100%;}
#socialEntryBar div.social {position:relative; margin:2px 0 6px; height:44px; background:#CCCCCC url('/i/article-sprites-0.png') no-repeat -9999px -9999px; border-left:6px solid #000;}
#socialEntryBar div.social > a {display:block; width:100%; height:100%; text-decoration:none; text-indent:-9999px;}
#socialEntryBar div.social div.widget {position:absolute; top:12px; left:1px; display:none;}
#socialEntryBar div.social.hover div.widget {display:block;}
#socialEntryBar div.social.pinterest {border-color:#CC1E2D; background-color:#C5C5C5; background-position:-50px -350px;}
#socialEntryBar div.social.pinterest.hover {background-color:#CC1E2D; background-position:-9999px -9999px;}
#socialEntryBar div.social.pinterest div.widget {top:26px; left:20px;}
#socialEntryBar div.social.fb {border-color:#3B5998; background-color:#CCCCCC; background-position:-50px -170px;}
#socialEntryBar div.social.fb.hover {background-color:#3B5998; background-position:28px -170px;}
#socialEntryBar div.social.twitter {border-color:#28AAE1; background-color:#C8C8C8; background-position:-50px -214px;}
#socialEntryBar div.social.twitter:hover {background-color:#28AAE1; background-position:28px -214px;}
#socialEntryBar div.social.rss {border-color:#F58432; background-position:-50px -398px;}
#socialEntryBar div.social.rss.hover {background-color:#F58432; background-position:28px -398px;}
#socialEntryBar div.social.wykop {border-color:#2E6E99; background-color:#C6C6C6; background-position:-50px -302px;}
#socialEntryBar div.social.wykop.hover {background-color:#2E6E99; background-position:-9999px -9999px;}
#socialEntryBar div.social.gplus {border-color:#DF3D1B; background-color:#CACACA; background-position:-50px -258px;}
#socialEntryBar div.social.gplus.hover {background-color:#DF3D1B; background-position:28px -258px;}

#marketplaceProductBox {width:300px; max-height:250px; margin-bottom:10px; overflow:hidden;}
#marketplaceProductBox h4 {color:#BFBFBF;}
#marketplaceProductBox div.product {padding:15px 0 0 15px;}
#marketplaceProductBox div.product a.title {font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:13pt; line-height:1em; color:#1B5F9F;}
#marketplaceProductBox div.product p.price {padding:10px 0; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:12pt; color:#999999;}
#marketplaceProductBox div.product p.price em {color:#000000; font-size:13pt;}
#marketplaceProductBox div.product p.price strong {color:#AD0000; font-size:13pt; font-weight:bold;}
#marketplaceProductBox div.product p.thumb {float:left; width:160px;}
#marketplaceProductBox div.product p.thumb.aggregator {width:100px;}
#marketplaceProductBox div.product p.thumb a {display:block;}
#marketplaceProductBox div.product p.showMore {float:right; padding-top:35px;}
#marketplaceProductBox div.product p.showMore a.gRobotoWhiteButton {padding:10px 0; width:120px; text-align:center;}
#marketplaceProductBox div.product p.showMore.aggregator {padding-top:30px; padding-right:10px;}
#marketplaceProductBox.marketplaceProductNewsBox {position:absolute; padding-top:65px; padding-left:640px;}
#marketplaceProductBox.marketplaceProductReviewBox {position:absolute; padding-top:65px; padding-left:640px;}

#newIndexPage {display:block; padding:13px 50px;}
#newIndexPage strong {display:block; font-family:'Roboto Condensed',Roboto,Arial,Verdana,Tahoma; font-weight:bold; font-size:25px; line-height:40px; color:#1B5F9F;}
#newIndexPage span {display:block; font-size:12px; color:#666666;}

/* 04.2 content > comments
   ------------------------------------------------------- */
.comments {position:relative; width:100%; padding:0 0 10px; margin:0; background:#FFF;}
.comments.noPadding {padding:0;}
.comments .head h3 {padding:0 0 0 14px;}
.comments .head h3 a {display:inline-block; vertical-align:middle; font-weight:bold; font-family:'Roboto Condensed', Roboto, Arial, Verdana, Tahoma; font-size:34px; line-height:1em; letter-spacing:-0.01em; color:#999999;}
.comments .head h3 span.count {display:inline-block; vertical-align:middle; position:relative; width:64px; height:53px; margin:0 0 0 15px; text-align:center; background:url('/i/article-sprites-0.png') no-repeat 0 -117px;}
.comments .head h3 span.count em {position:absolute; width:52px; display:block; left:0; top:20px; color:#FFF; font-size:13pt; line-height:1em; font-weight:bold;}

.comments .body {clear:both; width:100%;}
.comments .body ol {width:100%; padding-bottom:5px;}
.comments .body > ol {overflow:hidden;}
.comments .body ol ol {background:none; padding-bottom:0;}
.comments .body li {margin:10px 10px 10px 29px;}
.comments .body li li {margin-right:0;}
.comments .body li .author {position:relative; padding:8px 0 0; width:100%; height:25px; overflow:hidden; background:#FAFAFA;}
.comments .body li .author h5 {position:relative; z-index:1; height:25px; margin:0 10px; padding-left:2px;}
.comments .body li .author h5 a {font-size:10pt; font-weight:bold; color:#000; line-height:1.8em;}
.comments .body li .author h5 a:hover {color:#1B5F9F;}
.comments .body li .author h5 a.silentHide {color:#777; text-decoration:line-through}
.comments .body li .author span {display:block; position:absolute; top:8px; right:0; z-index:10; text-align:right; font-size:7.5pt; line-height:2.4em; width:185px; height:25px; padding-right:8px;}
.comments .body li .author span em {display:none;}
.comments .body li .author strong.vote {font-weight:bold; color:#F06423; font-size:9pt; display:block; float:left; margin-right:5px;}
.comments .body li .author strong.vote.minus {color:#727272;}
.comments .body li .author strong.vote a {font-size:7pt; color:#A6A6A6; margin-right:4px;}
.comments .body li .author strong.vote a:hover {font-weight:bold; color:#000;}
.comments .body li .author strong.date, .comments .body li .author strong.time {padding-left:14px; margin-left:4px; background:url('/i/comments-icons.gif') no-repeat 0 -92px;}
.comments .body li .author strong.date {padding-left:12px; background-position:0 -111px;}
.comments .body li .author a.vote_plus, .comments .body li .author a.vote_minus {display:block; width:14px; height:21px; float:left; margin:2px 0 0 4px; text-indent:-9999px; overflow:hidden; background:url('/i/comments-icons.gif') no-repeat 0 0;}
.comments .body li .author a.vote_plus.disabled, .comments .body li .author a.vote_minus.disabled {pointer-events:none; cursor:default;}
.comments .body li .author a.vote_plus:hover, .comments .body li .author span.voted a.vote_plus {background-position:0 -21px;}
.comments .body li .author a.vote_minus {background-position:-20px 0; margin-right:8px;}
.comments .body li .author a.vote_minus:hover, .comments .body li .author span.voted a.vote_minus {background-position:-20px -21px;}
.comments .body li li .author {background-position:left -451px;}
.comments .body li li .author h5 {background-position:0 -476px;}
.comments .body li li .author span {background-position:right -501px;}

.comments .body blockquote {padding:5px 10px 10px; margin-top:-5px; font-size:11pt; line-height:1.5em; background:#FAFAFA;}
.comments .body blockquote div.hide {display:none;}
.comments .body blockquote p {padding-top:5px;}
.comments .body blockquote p span {font-size: 8pt;}
.comments .body blockquote p.unhide a {font-size:8pt; color:#7E7E7E; font-weight:normal;}
.comments .body blockquote p.unhide a:hover {color:#000;}
.comments .body blockquote a {color:#000; font-weight:bold; text-decoration:underline;}
.comments .body blockquote a:hover {color:#F48123;}
.comments .body blockquote strong, .comments .body blockquote b {font-weight:bold;}
.comments .body blockquote p.reply a {font-size:7.5pt; font-weight:normal; color:#F48123; text-decoration:none;}
.comments .body blockquote p.reply a:hover {color:#1B5F9F; border-bottom:1px dotted #1B5F9F;}
.comments .body blockquote p.reply a.hideComment {color:red; text-decoration:none;}
.comments .body blockquote p.reply a.silentComment {color:#FF00D1; text-decoration:none;}
.comments .body blockquote p.reply a.editComment {color:#1B5F9F; text-decoration:none;}

.comments .writebox {padding:0 10px;}
.comments .writebox .welcome {height:30px; position:relative;}
.comments .writebox .welcome h4 {position:absolute; left:0; top:4px; font-size:11pt; font-weight:bold; color:#F48123;}
.comments .writebox .welcome span {position:absolute; right:0; top:6px;}
.comments .writebox .welcome span a {font-size:11pt; color:#565656;}
.comments .writebox .welcome span a:hover {color:#000; text-decoration:underline;}
.comments .writebox form {border-top:1px solid #CBCBCB;}
.comments .writebox form legend {display:none;}
.comments .writebox form p.law {padding:10px; font-size:11pt; color:#ffffff; background-color:#ff6600; margin: 0 0 15px;}
.comments .writebox form p.law a {color:#1b5f9f;}
.comments .writebox form p.law a:hover {text-decoration:underline;}
.comments .writebox form p.error {font-size:11pt; font-weight:bold; color:#C93434; padding:0 0 10px;}
.comments .writebox form p.error a {color:#C93434; text-decoration:underline;}
.comments .writebox form p.error a:hover {color:#000;}
.comments .writebox form div.phCharsCounter {padding:0 0 10px;}
.comments .writebox form div.phCharsCounter strong {font-weight:bold;}
.comments .writebox form div.phReplyTo {padding:0 0 10px;}
.comments .writebox form div.phReplyTo strong {font-weight:bold;}
.comments .writebox form div.phReplyTo a.cancel {margin-left:20px; color:#C93434;}
.comments .writebox form label {padding-top:3px; margin-right:10px; float:left; cursor:pointer;}
.comments .writebox form label strong {font-weight:bold;}
.comments .writebox form textarea {padding:10px; line-height:1.5em; width:370px; height:240px; border:1px solid #CBCBCB; resize:vertical; color:#272727; background:#FDFDFD; font:10pt Tahoma,Arial,Verdana,Serif;}
.comments .writebox form textarea.size2 {width:450px;}
.comments .writebox form textarea:focus {background:#FFF; border-color:#BCBCBC;}
.comments .writebox form select {width:80px;}
.comments .writebox div.columna {float:left;}
.comments .writebox div.columna label {display:block; float:none; padding-bottom:8px;}
.comments .writebox div.columnb {float:right; padding:25px 0 0 0;}
.comments .writebox div.columnb label {width:120px;}
.comments .writebox p {clear:both; padding-top:5px;}
.comments .writebox p.submit {padding:10px 0 10px; text-align:center; clear:both;}
.comments .writebox input.submit {width:60px; padding:4px 0 8px; height:24px; text-transform:lowercase; color:#FFF; cursor:pointer; background:#373F44; border-radius:4px;}
.comments .writebox input.submit:hover {background-position:-17px -24px; background:#464D52;}

.comments .footer {position:relative; height:4px; width:100%; overflow:hidden;}
.comments .footer span {width:5px; height:4px; display:block; position:absolute; z-index:10; top:0; left:0; background:url('/i/comments-bg.gif') no-repeat 0 -526px;}
.comments .footer span.r {left:auto; right:0 !important; background-position:right -534px;}

.comments .body .opinion {padding:11px 0 8px 20px; float:right;}
.comments .body .opinion p {position:relative; padding:4px 0 5px; font-size:9pt;}
.comments .body .opinion em {display:block; padding-right:40px; font-weight:bold; text-align:right;}
.comments .body .opinion strong {display:block; position:absolute; right:0; top:0; width:40px; height:21px; text-indent:-9999px; background:url('/i/comments-opinion-icons.gif') no-repeat 5px 6px;}
.comments .body .opinion strong.bad {background-position:5px -49px;}
.comments .body .opinion p.summary {font-size:10pt; color:#F16521; padding:10px 0;}
.comments .body .opinion p.summary strong {height:32px; background-position:7px -110px;}
.comments .body .opinion p.summary strong.bad {background-position:7px -186px;}

.comments .body .adsense {padding:0 0 10px 10px;}

/* 04.3 content > articles list
   ------------------------------------------------------- */
#articles {}

#articles h1 { color:#8092A2; font-size:34px; font-weight:bold; }
#articles h2 { color:#8092A2; font-size:28px; font-weight:bold; }
#articles h3 { color:#8092A2; font-size:21px; font-weight:bold; }

#articles p.hdesc {color: #464646; padding-top: 10px; padding-bottom: 10px;line-height: 1.4em;}

#articles #promoArticle {margin:0 0 15px; height:330px; overflow:hidden; position:relative;}
#articles #promoArticle div.box {position:absolute; right:0; top:0; width:290px; padding:0 20px; height:100%; background:#313131;}
#articles #promoArticle div.box p.head2 {padding:20px 0 15px; color:#FFF; font-size:32px; font-weight:bold; line-height:1.2em;}
#articles #promoArticle div.box p.head2 a {color:#FFF; text-decoration:none;}
#articles #promoArticle div.box p.head2 a:hover {color:#DEDEDE;}
#articles #promoArticle div.box p.descr {font-size:16px; color:#CFCFCF; line-height:1.4em;}
#articles #promoArticle div.box p.readMore {padding:12px 0 0; font-size:16px;}
#articles #promoArticle div.box p.readMore a {color:#CD7005;}

#articles #dontMiss {margin:0 0 15px;}
#articles #dontMiss a {color:#4B555F;}
#articles #dontMiss a:hover {color:#F58220;}
#articles #dontMiss a:visited {color:#8092A2;}
#articles #dontMiss h3 {padding:0 0 10px; font-size:26px; font-weight:bold; color:#8092A2;}
#articles #dontMiss div.hotNews {float:left; width:300px; padding-bottom:15px; border-bottom:1px solid #D5D5D5;}
#articles #dontMiss div.hotNews h4 {padding:7px 0; font-size:20px; line-height:1.2em; font-weight:bold; color:#4B555F;}
#articles #dontMiss div.hotNews p.descr {color:#8C8C8C; line-height:1.55em;}
#articles #dontMiss div.other {float:right; padding-bottom:15px; border-bottom:1px solid #D5D5D5;}
#articles #dontMiss div.other div.warmNews {float:left; width:150px; margin-right:20px;}
#articles #dontMiss div.other div.warmNews h4 {padding:7px 0; font-size:16px; line-height:1.15em; color:#4B555F; font-weight:bold;}
#articles #dontMiss div.other div.warmNews p.descr {color:#8C8C8C; line-height:1.55em;}
#articles #dontMiss div.other div.list {float:left; width:135px;}
#articles #dontMiss div.other div.list ul li {padding:8px 0; border-top:1px solid #D5D5D5; line-height:1.4em;}
#articles #dontMiss div.other div.list ul li:first-child {padding-top:0; border-top:0;}

#articles div.articlesList {padding:1px 0 16px;}
#articles div.articlesList h3 {padding:0 0 10px; font-size:26px; font-weight:bold; color:#8092A2;}
#articles div.articlesList ul li {padding:15px 0; border-top:1px solid #D5D5D5;}
#articles div.articlesList ul li:first-child {padding-top:0; border-top:0;}
#articles div.articlesList ul li h4 {padding:0 0 10px; font-size:22px; line-height:1.2em; font-weight:bold; color:#4B555F;}
#articles div.articlesList ul li h4 a {color:#4B555F;}
#articles div.articlesList ul li h4 a:hover {color:#F58220;}
#articles div.articlesList ul li h4 a:visited {color:#8092A2;}
#articles div.articlesList ul li p.thumb {float:left; padding-bottom:10px;}
#articles div.articlesList ul li div.info {float:right; width:480px;}
#articles div.articlesList ul li div.info p.publish {float:left; font-size:7pt; color:#666666; background:transparent;}
#articles div.articlesList ul li div.info p.publish a {color:#666666;}
#articles div.articlesList ul li div.info p.categories {float:right; font-size:8pt; color:#666666;}
#articles div.articlesList ul li div.info p.categories a {color:#F58220;}
#articles div.articlesList ul li div.info p.descr {clear:both; padding:10px 0; line-height:1.55em;}
#articles div.articlesList ul li div.statistics {clear:both; position:relative; padding:5px 10px; width:280px; font-size:7pt; color:#666666; border-radius:3px; border:1px dotted #C1C8C8;}
#articles div.articlesList ul li div.statistics p.commentsCount {padding-bottom:4px;}
#articles div.articlesList ul li div.statistics p.commentsCount a {color:#F58220;}
#articles div.articlesList ul li div.statistics p.vote {position:absolute; top:8px; right:10px;}
#articles div.articlesList ul li div.statistics p.vote em {display:inline-block; padding-right:10px;}
#articles div.articlesList ul li div.statistics p.vote a.vote {display:inline-block; width:22px; height:24px; overflow:hidden; text-indent:-9999px; vertical-align:middle; background:url('/i/comments-opinion-icons.gif') no-repeat -9999px -9999px;}
#articles div.articlesList ul li div.statistics p.vote a.vote:hover, #articles div.articlesList ul li div.statistics p.vote a.vote.selected {opacity:0.8; filter:alpha(opacity=80);}
#articles div.articlesList ul li div.statistics p.vote a.vote.plus {cursor: pointer; background-position:-3px -268px;}
#articles div.articlesList ul li div.statistics p.vote a.vote.minus {cursor: pointer; background-position:-3px -348px;}
#articles div.articlesList ul li div.statistics p.vote strong {display:inline-block; font-size:8pt; font-weight:bold; margin:0 5px;}
#articles div.articlesList ul li div.statistics p.vote strong.selected {color:#DF5D00;}

div.articlesUltrabooksFilter {height:22px;margin: 10px 10px 10px;}
div.articlesUltrabooksFilter ul li {position:relative; float:left; width:156px; height:22px; overflow:hidden; text-align:center; margin-left:1px; color:#FFF; line-height:1.9em; background:#1383C5 url('/i/ultrabooks-filter-arrow.png') no-repeat 140px 8px;}
div.articlesUltrabooksFilter ul li.selected {background-color:#F68E1F !important;}
div.articlesUltrabooksFilter ul li:first-child {width:159px; margin-left:0;}
div.articlesUltrabooksFilter ul li:hover {background-color:#F68E1F;}
div.articlesUltrabooksFilter ul li label {display:block; cursor:pointer;}
div.articlesUltrabooksFilter ul li label a, div.articlesUltrabooksFilter ul li label a:hover {color: #fff; text-decoration: none;}
div.articlesUltrabooksFilter ul li label input {position:absolute; left:0; top:0; visibility:hidden;}

#articles ul.articlesUltrabooksList {padding:0 0 20px;}
#articles ul.articlesUltrabooksList li {clear:both; padding:14px 10px;}
#articles ul.articlesUltrabooksList li.a {background-color:#F2FAFD;}
#articles ul.articlesUltrabooksList li p.thumb {float:left; margin:0 10px 0 0;}
#articles ul.articlesUltrabooksList li h2 {padding:0 0 6px; font-size:18pt; font-weight: normal; line-height:1.1em;}
#articles ul.articlesUltrabooksList li h2 a {color:#009AE7;}
#articles ul.articlesUltrabooksList li h2 a:hover {color:#55C6FF; text-decoration:none;}
#articles ul.articlesUltrabooksList li p.preamble {display:block; margin-left:150px; line-height:1.6em;}

#articles p.getMore {margin:0 0 18px; border:1px solid #D9DADA; border-radius:7px;}
#articles p.getMore a {display:block; padding:9px 0; text-align:center; background:#E6E6E6 url('/i/articles-getmore-bg.gif') no-repeat center center; color:#4B555F; text-decoration:none; font-size:15px; border:1px solid #FFF; border-radius:7px;}
#articles p.getMore a:hover {opacity:0.8; filter:alpha(opacity=80);}

/* 04.4 content > login panel
   ------------------------------------------------------- */
#loginPanel {padding:20px 30px; color:#636363;}
#loginPanel div.loginFormBody {padding:10px; width:415px; border-radius:5px; background:#F1F1F1;}
#loginPanel div.loginForm.left {float:left;}
#loginPanel div.loginForm.right {float:right;}
#loginPanel div.loginFormBody h2 {font-size:24px; padding:10px 20px;}
#loginPanel div.loginFormBody p {clear:both; padding-top:12px;}
#loginPanel div.loginFormBody p.error {padding-left:100px; padding-top:10px; margin-bottom:-6px; font-weight:bold; color:#BF171A;}
#loginPanel div.loginFormBody p.note {margin-bottom:-6px; text-align:right; padding-top:5px; padding-right:20px; font-size:7pt;}
#loginPanel div.loginFormBody p.noteBold  {font-weight: bold; margin-bottom:6px; text-align:right; padding-top:5px; padding-right:20px; font-size:7pt;}
#loginPanel div.loginFormBody p label {float:left; padding:5px 10px 0 0; width:90px; text-align:right;}
#loginPanel div.loginFormBody p input[type=text], #loginPanel div.loginForm p input[type=password] {background:#FFF; width:275px; padding:5px 10px;}
#loginPanel div.loginFormBody p input[type=text]:focus, #loginPanel div.loginForm p input[type=password]:focus {box-shadow:0 0 2px rgba(245,126,32,0.7);}
#loginPanel div.loginFormBody p.regimen label {float:none; padding:0 0 0 100px; cursor:pointer;}
#loginPanel div.loginFormBody p.regimen input[type=checkbox] {vertical-align:middle; cursor:pointer;}
#loginPanel div.loginFormBody p.submit {text-align:right; padding-right:20px; padding-bottom:10px;}
#loginPanel div.loginFormBody p.submit input[type=submit] {padding:4px 10px; color:#FFF; background:#F68B1E; cursor:pointer; border-radius:4px; text-shadow:0 1px #D86A15;}
#loginPanel div.loginFormBody p.submit input[type=submit]:hover {background-color:#FF952C;}
#loginPanel div.loginFormBody p.submit input[type=button] {padding:4px 10px; color:#FFF; background:#F68B1E; cursor:pointer; border-radius:4px; text-shadow:0 1px #D86A15;}
#loginPanel div.loginFormBody p.submit input[type=button]:hover {background-color:#FF952C;}
#loginPanel div.loginFormBody p.submit.withExtraInfo input[type=submit] {float:right; margin-left:15px;}
#loginPanel div.loginFormBody p.submit.withExtraInfo span.extraInfo {display:block; font-size:7pt; line-height:1.5em;}
#loginPanel div.loginFormBody #g-recaptcha { display: inline-block; float: right; margin-right: 17px; }
#loginPanel div.loginForm p.link {padding-top:10px; padding-left:10px; font-size:8pt;}
#loginPanel div.loginForm p.link a {color:#5A8AB7;}

/* 05. sidebar
   ------------------------------------------------------- */
#sidebar .free {padding-bottom:10px;}
#sidebar .free.fix4px img {margin-bottom:-4px;}
#sidebar .b4nner {margin-bottom:8px;}

.block h4 {line-height:2em; padding-left:10px; height:25px; background:#373F44; color:#FFF; border-radius:6px;}
.block h4 a {color:#FFF; text-decoration:none !important;}
.block .body {padding:10px 2px 0;}
.block .body.center {text-align: center}
.block.silver h4 {background:#D2D7DA; color:#1B5F9F;}
.block.silver.shop h4 {background-image:url('/i/icons-1.png'); background-repeat:no-repeat; background-position:right -65px;}
.block.silver h4 a {color:#1B5F9F;}
.block.orange h4 {background:#F58120;}
.block.silverBlue {margin-bottom:10px; background:#EEF1F1; border:1px solid #DCDCDC; border-top-left-radius:10px; border-top-right-radius:10px;}
.block.silverBlue h4 {margin:-1px -1px 0 -1px; background:#1B5F9F;}

.block ul.simpleList {color:#1B5F9F; list-style-type:disc; margin-left:20px; padding-bottom:6px;}
.block ul.simpleList li {padding-bottom:4px;}
.block ul.simpleList a {color:#1B5F9F;}
.block ul.simpleList a:visited {color:#555555;}

.block ul.simpleGallery li {display:inline-block; vertical-align:top; width:140px; text-align:center;}
.block ul.simpleGallery li.b {margin-left:12px;}
.block ul.simpleGallery li a {text-decoration:none !important;}
.block ul.simpleGallery li a strong {display:block; padding:4px 0 10px; color:#1B5F9F;}
.block ul.simpleGallery li a:visited strong {color:#555555;}
.block ul.simpleGallery li a:hover strong {text-decoration:underline;}

.block .contest ul.live li {position:relative; min-height:110px; padding-left:150px;}
.block .contest ul.live li a {text-decoration:none;}
.block .contest ul.live li img {position:absolute; top:0; left:0;}
.block .contest ul.live li strong {color:#1B5F9F; display:block; line-height:1.2em; padding-bottom:5px;}
.block .contest ul.live li:hover strong {text-decoration:underline;}
.block .contest ul.live li em {display:block; font-size:8pt; line-height:1.3em; margin-bottom:10px;}
.block .contest h5 {color:#1B5F9F; font-weight:bold; padding:0 0 3px 6px;}
.block .contest ul.old {color:#555555; font-size:8pt; line-height:1.3em; padding-bottom:10px; list-style-type:disc; margin-left:25px;}
.block .contest ul.old li {padding-top:3px;}
.block .contest ul.old li a.result {color:#1B5F9F; font-size:7pt;}

.block ul.notebookList {padding:0 5px;}
.block ul.notebookList li {padding-top:10px; border-top:1px solid #D4D6D7;}
.block ul.notebookList li:first-child {padding-top:0; border-top:none;}
.block ul.notebookList h5 {line-height:1.3em; padding-bottom:5px;}
.block ul.notebookList h5 a {color:#1B5F9F;}
.block ul.notebookList p {color:#252525; line-height:1.4em;}
.block ul.notebookList p.thumb {float:left; padding:0 10px 5px 0;}
.block ul.notebookList p.descr {clear:both; font-size:8pt; color:#555555; padding:0 0 10px 0; margin-top:10px; line-height:1.3em;}
.block ul.notebookList p.descr a, .block ul.notebookList p.descr strong {color:#1B5F9F;}

.block ul.notebooksListB {}
.block ul.notebooksListB li {clear:both; position:relative; min-height:110px; padding-top:10px; border-top:1px solid #D5D5D5;}
.block ul.notebooksListB li:first-child {border-top:0; padding-top:0;}
.block ul.notebooksListB li div.left {float:left;}
.block ul.notebooksListB li div.left p.thumb {padding-bottom:8px;}
.block ul.notebooksListB li div.left p.see {text-align:center; padding-bottom:8px;}
.block ul.notebooksListB li div.left p.see a {display:inline-block; height:17px; color:#515151; font-size:8pt; padding:0 10px; line-height:1.55em; text-decoration:none; border:1px solid #FBC500; border-radius:3px; background:#FAC212 url('/i/button-gradients.png') repeat-x 0 0;}
.block ul.notebooksListB li div.left p.see a:hover {background-position:0 -17px;}
.block ul.notebooksListB li div.right {margin-left:110px;}
.block ul.notebooksListB li div.right h5 {padding-bottom:10px;}
.block ul.notebooksListB li div.right h5 a {color:#1B5F9F;}
.block ul.notebooksListB li div.right p.descr {padding-bottom:10px; color:#464646;}
.block ul.notebooksListB li:first-child p.see {top:90px;}

.block ul.thumbsList {padding:0 5px; font-size:14px}
.block ul.thumbsList li {clear:both; padding-top:10px; border-top:1px solid #D4D6D7;}
.block ul.thumbsList li:first-child {padding-top:0; border-top:0;}
.block ul.thumbsList li p.thumb {float:left; padding:0 10px 10px 0;}
.block ul.thumbsList li p.thumb img {margin-bottom:-4px; border:1px solid #DADADA;}
.block ul.thumbsList li h5 {display:block; padding:0 0 10px;}
.block ul.thumbsList li h5 a {color:#0762BD;}

.block ul.ratedList {padding:0 5px; overflow:hidden;}
.block ul.ratedList li {clear:both; padding:10px 0 0; border-top:1px solid #D4D6D7;}
.block ul.ratedList li:first-child {padding-top:0; border-top:none;}
.block ul.ratedList li p.thumb {float:left; padding:0 10px 5px 0;}
.block ul.ratedList li p.thumb img {border:1px solid #DADADA;}
.block ul.ratedList.thumb75 li div {margin-left:85px;}
.block ul.ratedList li div h5 a {font-size:15px; color:#0762BD;}
.block ul.ratedList li div p.price {color:#505050; padding:5px 0;}
.block ul.ratedList li div p.price a {color:#505050;}
.block ul.ratedList li div p.price strong {color:#C1272D;}
.block ul.ratedList li div p.rate {padding:0 0 10px;}

.block ul.articleIndex {margin:5px 10px 11px 35px; list-style-type:decimal; color:#1B5F9F; font-size:16px; line-height:1.25em;}
.block ul.articleIndex li {padding:0 0 4px;}
.block ul.articleIndex li a {color:#1B5F9F;}
.block ul.articleIndex li.select {color:#2E3539;}
.block ul.articleIndex li.select a {font-weight:bold; color:#2E3539;}

.block ul.cycles {padding:0 0 0 5px;}
.block ul.cycles li {float:left; width:90px; padding-bottom:10px; font-size:8pt; margin-left:9px;}
.block ul.cycles li:first-child, .block ul.cycles li.line {margin-left:0;}
.block ul.cycles li a {text-decoration:none;}
.block ul.cycles li strong {display:block; color:#1B5F9F;}
.block ul.cycles li a:visited strong {color:#555555;}
.block ul.cycles li:hover strong {text-decoration:underline;}
.block ul.cycles li.line {clear:left;}

.block ul.hotTopics {margin:0 2px 10px 10px;}
.block ul.hotTopics li {position:relative; padding:10px 10px 10px 60px; min-height:28px; border-top:1px dotted #B4B8B9; background:#83898B;}
.block ul.hotTopics li:first-child {border:0; border-top-right-radius:6px;}
.block ul.hotTopics li:last-child {border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
.block ul.hotTopics li a {color:#FFF;}
.block ul.hotTopics li cite {font-size:7pt; color:#E78B0D;}
.block ul.hotTopics li cite a {color:#E78B0D; font-size:8pt;}
.block ul.hotTopics li.bg4 {background:#6E7578;}
.block ul.hotTopics li.bg3 {background:#596165;}
.block ul.hotTopics li.bg2 {background:#444D51;}
.block ul.hotTopics li.bg1 {background:#303A3E;}
.block ul.hotTopics li span {position:absolute; left:-10px; top:-5px; display:block; width:57px; height:46px; color:#FFF; font-size:7pt; background:url('/i/icons-1.png') no-repeat 0 0; text-align:center;}
.block ul.hotTopics li span strong {display:block; padding:5px 0 1px; color:#000; font-weight:bold; font-size:10pt;}

.block.newsletter {background:#B7CCDF; margin-bottom:10px; border-radius:6px;}
#sidebar .block.newsletter h4 {position:relative; z-index:1; background:#DFE5E8; color:#1B5F9F;}
#sidebar .block.newsletter h4 a {color:#1B5F9F;}
.block.newsletter .body {z-index:2; position:relative; height:135px;}
.block.newsletter .body p {font-size:8pt;}
.block.newsletter .body p strong {font-weight:bold;}
.block.newsletter .body p.info {padding-left:8px; width:190px;}
.block.newsletter .body p.thanks {padding:40px 0 0 8px; width:190px;}
.block.newsletter .body p.submit {position:absolute; z-index:3; bottom:10px; left:0; width:100%; text-align:center;}
.block.newsletter .body span.icon {z-index:3; position:absolute; right:10px; top:-12px; overflow:hidden; width:80px; height:123px; background:url('/i/newsletter-icon.png') no-repeat -9999px -9999px;}
.block.newsletter .body span.icon.warning {background-position:0 0;}
.block.newsletter .body span.icon.mail {background-position:-86px 0;}
.block.newsletter .body input[type=text] {position:absolute; left:50px; z-index:3; bottom:40px; padding:5px 10px; width:170px; background:#FFF; border:1px solid #8CAECD; text-align:center; color:#555555; font-size:8pt;}
.block.newsletter .body input[type=text]:focus {border-color:#7198B7; background:#FAFAFA;}
.block.newsletter .body input[type=submit] {padding:3px 10px; color:#FFF; background:#14426A; cursor:pointer; border-radius:5px;}
.block.newsletter .body input[type=submit]:hover {background:#1A588B;}

.block .poll h5 {font-weight:bold; padding-bottom:10px; line-height:1.3em;}
.block .poll fieldset {padding:0 5px;}
.block .poll fieldset legend {display:none;}
.block .poll fieldset p {padding:2px 0 2px 3px; line-height:1.3em;}
.block .poll fieldset p.submit {padding:8px 10px 10px 0; text-align:right;}
.block .poll fieldset label {cursor:pointer;}
.block .poll fieldset input[type=radio] {vertical-align:middle; margin:-1px 2px 0 0;}
.block .poll fieldset input[type=submit] {color:#FFF; background:#F4851F url('/i/header-fotter-bg.png') repeat-x 0 0; padding:2px 10px; cursor:pointer; border-radius:3px;}
.block .poll fieldset input[type=submit]:hover {background:#F99E21;}
.block .poll fieldset input[type=submit]:active {background:#C47915;}

.block .poll > h5 {padding: 10px; font-size: 15px;}
.block .poll > p {padding:0 10px 10px; font-size: 15px;}
.block .poll > p span.graph {margin-left:4px; display:inline-block; width:30px; height:10px;}
.block .poll > p span.graph span {position:relative; display:block; height:10px; background:#F58220; cursor:help;}
.block .poll > p span.graph em {position:absolute; right:-35px; top:0; display:block; width:30px; padding-left:5px; color:#838383; font-size:8pt;}
.block .poll > p.more {padding-bottom:10px; padding-top:6px;}
.block .poll > p.more a {color:#1B5F9F; font-size:8pt;}

#sidebar .videoChanel {padding:10px; border:5px solid #D8DEE1; margin-bottom:10px; position:relative;}
#sidebar .videoChanel h4 {position:relative; padding-bottom:14px;}
#sidebar .videoChanel h4 a {color:#1B5F9F;}
#sidebar .videoChanel h4 small {display:block; position:absolute; right:0; top:-3px; font-size:7pt; color:#B7B7B7;}
#sidebar .videoChanel h4 small a {display:inline-block; overflow:hidden; vertical-align:middle; margin-left:4px; text-indent:-9999px; width:54px; height:22px; background:url('/i/icons-1.png') no-repeat -10px -91px;}
#sidebar .videoChanel ul a {text-decoration:none;}
#sidebar .videoChanel ul a:hover strong {text-decoration:underline;}
#sidebar .videoChanel ul a:visited strong {color:#555555;}
#sidebar .videoChanel ul li.first {float:none; width:auto; text-align:center; padding-bottom:10px;}
#sidebar .videoChanel ul li.first strong {text-align:left; font-size:9pt; padding-left:5px; text-align: center;}
#sidebar .videoChanel ul li {float:left; width:130px;text-align:center;}
#sidebar .videoChanel ul li strong {display:block; padding-top:5px; font-size:8pt; color:#1B5F9F; text-align: center;}

#sidebar .timeMachine {padding:10px 15px; margin:0 0 10px; color:#464646; overflow:hidden; background:#EEF1F1 url('/i/timemachine-icon.png') no-repeat 10px 10px; box-shadow:inset 0 0 1px #FFF, inset 0 0 1px #FFF, inset 0 0 1px #FFF; border:1px solid #D4D4D4;}
#sidebar .timeMachine h4 {padding:17px 0 25px 65px; font-size:26px; font-weight:bold; line-height:1em; letter-spacing:-0.01em; white-space:pre; text-shadow:0 1px #FFF;}
#sidebar .timeMachine ul {position:relative;}
#sidebar .timeMachine ul li {position:relative; clear:both; border-top:1px solid #D4D5D5;}
#sidebar .timeMachine ul li:after {position:absolute; left:0; top:0; content:' '; width:100%; height:1px; background:#FFF;}
#sidebar .timeMachine ul li:first-child {border-top:0;}
#sidebar .timeMachine ul li:first-child:after {display:none;}
#sidebar .timeMachine ul li h5 {padding:7px 0; font-size:15px;}
#sidebar .timeMachine ul li h5.silver5, #sidebar .timeMachine ul li h5.silver5 a {color:#252525;}
#sidebar .timeMachine ul li h5.silver4, #sidebar .timeMachine ul li h5.silver4 a {color:#363636;}
#sidebar .timeMachine ul li h5.silver3, #sidebar .timeMachine ul li h5.silver3 a {color:#555555;}
#sidebar .timeMachine ul li h5.silver2, #sidebar .timeMachine ul li h5.silver2 a {color:#707070;}
#sidebar .timeMachine ul li h5.silver1, #sidebar .timeMachine ul li h5.silver1 a {color:#959595;}
#sidebar .timeMachine ul li h5 a {text-decoration:none;}
#sidebar .timeMachine ul li h5 strong {font-weight:bold;}
#sidebar .timeMachine ul li p.thumb {float:left; padding:0 10px 10px 0;}
#sidebar .timeMachine ul li div a {color:#0762BD;}

#sidebar .ultrabooksCategories ul {border-top:2px solid #034F8D;}
#sidebar .ultrabooksCategories ul li {height:94px; overflow:hidden; border-bottom:2px solid #034F8D; background:url('/i/ultrabooks-categories-icon.png') no-repeat 200px 0;}
#sidebar .ultrabooksCategories ul li a {padding:35px 100px 50px 20px; display:block; color:#245F90; font-size:12pt; font-weight:bold; line-height:1.4em;}
#sidebar .ultrabooksCategories ul li a:hover {text-decoration:none; color:#1F86D8;}
#sidebar .ultrabooksCategories ul li.twoLines a {padding-top:25px;}
#sidebar .ultrabooksCategories ul li.encyclopedia {background-position:200px 5px;}
#sidebar .ultrabooksCategories ul li.top10 {background-position:200px -93px;}
#sidebar .ultrabooksCategories ul li.compare {background-position:200px -189px;}
#sidebar .ultrabooksCategories ul li.guide {background-position:200px -285px;}
#sidebar .ultrabooksCategories ul li.cpuRanking {background-position:200px -381px;}
#sidebar .ultrabooksCategories ul li.gpuRanking {background-position:200px -477px;}

#sidebar div.ad300px.fixed {position:absolute; top:10px; right:10px;}

/* 98. colorbox
   ------------------------------------------------------- */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#cboxOverlay{background:#000;}
#colorbox{}
#cboxContent{margin-top:32px;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #989898;}
#cboxLoadedContent{background:#000; padding:1px;}
#cboxLoadingGraphic{background:url('/i/colorbox-loading.gif') no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxClose{text-indent:-9999px; width:17px; height:17px; position:absolute; top:-20px; background:url('/i/colobox-close.png') no-repeat 0 0;}
#cboxPrevious, #cboxNext {text-indent:-9999px; width:50%; height:100%; position:absolute; top:0; z-index:15;}
#cboxPrevious {left:-30px; padding-left:30px; background:url('/i/colorbox-prev.png') no-repeat left center;}
#cboxPrevious:hover {opacity:0.6; filter:alpha(opacity=60);}
#cboxNext {right:-30px; paddin-right:30px; background:url('/i/colorbox-next.png') no-repeat right center;}
#cboxNext:hover {opacity:0.6; filter:alpha(opacity=60);}
#cboxClose{background-position:0 0; right:0;}
#cboxClose:hover{background-position:-17px 0;}

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/* 99. promotions & ads section
   ------------------------------------------------------- */
#recommendByEditors {position:relative; padding:0 0 20px; margin:6px 10px 0; overflow:hidden; background:url('/i/recommend-by-editors.png') no-repeat 20px 0;}
#recommendByEditors h3 {position:absolute; left:0; top:16px; padding:0 40px 0 80px; line-height:2.2em; font-size:17px; color:#F7C713; font-weight:bold; background:#363636 url('/i/recommend-by-editors.png') no-repeat 20px -16px; height:36px;}
#recommendByEditors h3 span {color:#FFF;}
#recommendByEditors ul {padding-top:80px;}
#recommendByEditors ul li {padding:0 10px; width:270px; float:left; border-left:1px solid #DDDDDD;}
#recommendByEditors ul li:first-child {border-left:0;}
#recommendByEditors ul li p.thumb {padding:0 10px 0 0; float:left;}
#recommendByEditors ul li h5 {font-weight:bold; font-size:8pt;}
#recommendByEditors ul li h5 a {font-weight:bold;}
#recommendByEditors ul li p.price {padding-top:10px;}

/* asus newsBox */
#content .newsBox.promoAsus:after {content:' '; display:block; width:100%; height:8px; position:absolute; left:0; top:17px; background:#30393E; z-index:1;}
#content .newsBox.promoAsus .header {background:#17A9E0 url('/i/promo-asus.gif') no-repeat right 3px;}
#content .newsBox.promoAsus .header h3 {background:#17A9E0;}
#content .newsBox.promoAsus .header h3, #content .newsBox.promoAsus .header h3 a {text-shadow:#0A719B 1px 1px;}
#content .newsBox.promoAsus .header ul.sub {padding-right:100px;}
#content .newsBox.promoAsus .body {background:#30393E;}
#content .newsBox.promoAsus .body ul, #content .newsBox.promoAsus .body ul a {color:#FFF;}
#content .newsBox.promoAsus .body ul a:visited {color:#A7AFB2;}
#content .newsBox.promoAsus .body .promo p.thumb {background:transparent;}

/* bannerDBB */
#bannerDBB {width:960px; margin:0 auto; text-align:center; background:#ffffff;}
div#gplus {clear:both; margin-top: 10px;}
div.banner300{padding-bottom: 5px;}
img.mailme {margin-bottom: -5px;}
p.noComments {font-size:9pt; font-weight:normal; color: #565656; margin-left: 10px;margin-top: 10px;margin-bottom: 20px;}
p.clear {clear: both;}
div.clear { clear: both; }
#article .content table td {font-size:15px; line-height: normal;}
#article .content table img { margin-top: 1px; margin-left: 1px }

#article .contentDesc { font-size: 12pt; border-left: 3px #FF9C00 solid; margin-bottom: 20px; padding-left: 10px;}
.asist{ text-align: center; width: 100% }
#sidebar h1 { color: #245F90; font-size: 18pt }

.previewDesc { font-size: 11pt; border: 5px #FF0000 solid; margin-bottom: 10px; padding-left: 10px;color: #FF0000}
div.poll2 div.poll { width:350px; margin: 0 auto; }
div.poll2 {margin:0 auto;padding-bottom: 25px}
div.poll2 p {margin:0 0 2px;}

div.poll2 div.poll.columns div.poll, div#poll div.poll.columns div.poll { width:100%; }
div.poll2 div.poll.columns, div#poll div.poll.columns, div#poll div.poll.columns div.body.poll { width:100%; }
div.poll2 div.poll.columns div.poll p, div#poll div.poll.columns div.poll p { width:290px; float: left; }

.block.biznes h4 {background:#F3BE11;}
div#sidebar div.ad300px {margin-bottom: 10px;}
#loginPanel div.loginFormBody p.submit.withExtraInfo label {padding:5px 10px 0 0; text-align:right;float: none;}
.fbLikeUs{height: 35px; position: absolute; top: 55px;}

#loginPanel div.loginFormBody div.regimen {float:none; padding:20px 0 0 100px; cursor:pointer;}
#articleHeader p.category{font-size: 8pt; line-height: 25px; }
#articleHeader p.category label {float: left;margin-bottom: 5px;margin-right: 5px; }
#articleHeader p.category label.button a {color: #FFFFFF;font-size: 8pt;font-weight: 700;text-decoration: none;text-transform: uppercase;}
#articleHeader p.category label.button {background-color:#BFBFBF;border-radius: 3px;color: #FFFFFF;cursor: pointer;font-family: "Arial", "Verdana", "Tahoma";font-size: 17px;float: left;font-weight: 700;padding-left: 5px;padding-right: 5px;}
#articleHeader p.category label.button:hover {background-color:#B2B2B2;}

.adblock {background-color: #ffffff; width: 100%;}
.adblock1 {font-size: 27px;line-height: 34px;font-weight: bold;background-color: #ffffff;}
.adblock2 {color: #999999;font-style: italic;font-size: 12pt;background-color: #ffffff;margin-top: 10px;}
.adblock3 {font-size: 17px;line-height: 23px;background-color: #ffffff;margin-top: 20px;}
.adblock3 a {color: #1B5F9F;font-size: 17px;}
.adblock4 {font-size: 50px;color: #FFFFFF;font-weight: bold;border-top-width: 25px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #FF0000;border-right-color: #FF0000;border-bottom-color: #FF0000;border-left-color: #FF0000;border-right-width: 20px;border-bottom-width: 25px;border-left-width: 20px;background-color: #FF0000;width: 100px;margin-top: 60px;margin-left: 20px;float: left;}
.adblock5 {text-align: left; float: left; width: 750px; padding-left: 20px;padding-right: 20px;margin-top: 30px; }
.adblock6 {text-align: right;padding-top: 30px;padding-bottom: 30px; }
.adblock6 a {color: #1B5F9F;font-size: 11pt;}
/* Add line to refresh frontend cache */