.banner1{
	width:1160px;
	height:120px;
	margin-top:30px;
	padding:5px 20px 0px 20px;
	background:#65cced;
	font-family:"Microsoft YaHei";
	}
.banner1 li{
	width:386px;
	display:inline-block;
	float:left;
	}
.banner1_img{
	margin-right:15px;
	float:left;
	}
.banner1_text{
	margin-top:25px;
	float:left;
	}
.ad_text1{
	margin-bottom:10px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	}
.ad_text2{
	color:#fff;
	font-size:18px;
	}