﻿@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, input {
	padding:0;
	margin: 0;
	}
body {
	font-family: SimSun, Arial, Verdana, Helvetica, sans-serif;
	color:#333;
	background:#fff;
	font-size:12px;
	}
fieldset, img {
	border:0;
	}
table {
    border-collapse:collapse; 
    border-spacing:0;
	}
h1, h2, h3, h4, h5, h6 {
	 font-weight:normal;
	 font-size:100%;
	 }
a {
	cursor:pointer;
	text-decoration:none;
	}
ul {
	list-style-position:outside;
	list-style:none;
	}
textarea {
	resize:none;
	}
.clear {
	height:0px;
	line-height:0px;
	font-size:0;
	overflow:hidden;
	clear:both;
	float:none;
	}
.font_w {
	font-weight:bold;
	}
.color_f {
	color:#fff;	
	}
.color_0 {
	color:#000;
	}
.color_c {
	color:#ccc;
	}
.color_3 {
	color:#333;
	}
.color_6 {
	color:#666;
	}
.color_9 {
	color:#999;
	}
.color_b {
	color:#096cb2;
	}
.color_o {
	color:#ff2600;
	}
.color_f7 {
	color:#f7f7f7;
	}	
/*公共部分*/
/*ggbf*/
/*ggbf_t*/
.ggbf_t {
	height:31px;
	}
.ggbf_tc {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) repeat-x;
	background-position:0px -90px;
	height:31px;
	line-height:31px;
	font-family:"微软雅黑";
	color:#999;
	}
.ggbf_tc1200 {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) repeat-x;
	background-position:0px -90px;
	width:1200px;
	height:31px;
	line-height:31px;
	margin:0 auto;
	}
.ggbf_tc a {
	color:#666;
	}
.ggbf_tc a:hover {
	color:#333;
	text-decoration:underline;
	}
.ggbf_tc li {
	float:left;
	display:inline-block;
	padding:0 9px;
	}
.ggbf_tc li span {
	display:inline-block;
	}
.ggbf_tc li span.sp_ico1 {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) no-repeat;
	background-position:0px 0px;
	padding-left:20px;
	}
.ggbf_tc li.li_h_wdxx {
	}
.ggbf_tc li span.sp_ico2 {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) no-repeat;
	background-position:0px -30px;
	padding-left:20px;
	}
.ggbf_tc li span.sp_ico_1 {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) no-repeat right;
	background-position:right 0px;
	padding-right:20px;
	}
.ggbf_tc li.li_h:hover {
	background:#fff;
	height:29px;
	line-height:29px;
	padding:0 8px;
	border-bottom:1px solid #fff;
	border-left:1px solid #999;
	border-right:1px solid #999;
	border-top:1px solid #999;
	position:relative;
	z-index:9999;
	}
.ggbf_tc li.li_h:hover div.d_l {
	background:#999;
	width:1px;
	height:31px;
	overflow:hidden;
	position:absolute;
	top:-1px;
	left:-1px;
	z-index:999;
	}
.ggbf_tc li.li_h:hover div.d_r {
	background:#999;
	width:1px;
	height:31px;
	overflow:hidden;
	position:absolute;
	top:-1px;
	right:-1px;
	z-index:999;
	}
.ggbf_tc li.li_h1:hover div.d_r {
	top:-1px;
	left:84px;
	}
		
.ggbf_tc li.li_h:hover span.sp_ico_1 a {
	color:#333;
	}
.ggbf_tc li.li_h:hover span.sp_ico2 {
	background-position:0px -31px;
	}
.ggbf_tc li.li_h:hover span.sp_ico_1 {
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) no-repeat right;
	background-position:right -31px;
	}
.ggbf_tc li span.sp_ico3 {
	height:30px;
	background:url(http://image.weitainet.com/images/ggbf_top_ico.png) no-repeat;
	background-position:0px -60px;
	padding-left:20px;
	}
.ggbf_tc li span.sp_p3 {
	padding:0 3px;
	color:#ff3333;
	display:inline;
	}
.ggbf_tc li span.sp_p4 {
	padding:0px;
	color:#ff3333;
	display:inline;
	}
/*ggbf_tc_l*/
.ggbf_tc li.li_h:hover .ggbf_tc_wdxx1 {
	background-position:0px -1px;
	display:block;
	}
.ggbf_tc_l {
	float:left;
	display:inline-block;
	}
.ggbf_tc_l a.a_yhm {
	color:#bb2d2b;
	}
.ggbf_tc_l a.a_yhm:hover {
	color:#bb2d2b;
	text-decoration:underline;
	}
/*ggbf_tc_wdxx*/
.ggbf_tc_wdxx1 {
	position:relative;
	top:1px;
	left:-9px;
	display:none;
	}
.ggbf_tc_wdxx {
	background:#fff;
	width:220px;
	border:1px solid #999;
	border-top:none;
	position:absolute;
	top:0px;
	left:0px;
	}
.ggbf_tc_wdxx_1 {
	width:220px;
	height:60px;
	line-height:60px;
	font-size:30px;
	color:#999;
	text-align:center;
	}
.ggbf_tc_wdxx ul {
	overflow:hidden;
	}
.ggbf_tc_wdxx li {
	height:24px;
	line-height:24px;
	padding:0;
	}
.ggbf_tc_wdxx li span {
	color:#4c4c4c;
	}
.ggbf_tc_wdxx li a {
	background:#fff;
	width:202px;
	height:24px;
	line-height:24px;
	padding:0 9px;
	display:inline-block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.ggbf_tc_wdxx li a:hover {
	background:#f7f7f7;
	text-decoration:none;
	}
.ggbf_tc_wdxx_b {
	height:24px;
	line-height:24px;
	padding-right:14px;
	text-align:right;
	}
.ggbf_tc_wdxx_b a {
	color:#096cb2;
	}
.ggbf_tc_wdxx_b a:hover {
	color:#096cb2;
	text-decoration:underline;
	}
/*ggbf_tc_wdxx end*/
/*ggbf_tc_l end*/
/*ggbf_tc_r*/
.ggbf_tc_r {
	padding-right:12px;
	float:right;
	display:inline-block;
	}
/*ggbf_tc_wdwt*/
.ggbf_tc li.li_h_wdwt:hover .ggbf_tc_wdwt1 {
	background-position:0px -1px;
	display:block;
	}
.ggbf_tc_wdwt1 {
	position:relative;
	top:1px;
	left:-9px;
	display:none;
	}
.ggbf_tc_wdwt {
	background:#fff;
	width:160px;
	border:1px solid #999;
	border-top:none;
	position:absolute;
	top:0px;
	left:0px;
	}
.ggbf_tc_wdwt ul {
	overflow:hidden;
	}
.ggbf_tc_wdwt li {
	display:inline-block;
	}
.ggbf_tc_wdwtt {
	}
.ggbf_tc_wdwtt li {
	width:68px;
	height:30px;
	line-height:30px;
	padding:0 0 0 10px;
	}
.ggbf_tc_wdwtt li a {
	}
.ggbf_tc_wdwtt li a:hover {
	color:#bb2d2b;
	text-decoration:underline;
	}
.ggbf_tc_wdwtb {
	background:#f7f7f7;
	}	
.ggbf_tc_wdwtb p {
	height:24px;
	line-height:24px;
	padding:0 9px;
	color:#333;
	}
.ggbf_tc_wdwtb p a {
	float:right;
	color:#096cb2;
	}
.ggbf_tc_wdwtb p a:hover {
	color:#096cb2;
	text-decoration:underline;
	}
.ggbf_tc_wdwtb ul {
	padding:4px 8px 5px;
	}
.ggbf_tc_wdwtb li {
	width:40px;
	height:40px;
	padding:3px 4px;
	display:inline-block;
	}
/*ggbf_tc_wdwt end*/
/*ggbf_tc_mjzx*/
.ggbf_tc li.li_h_mjzx:hover .ggbf_tc_mjzx1 {
	background-position:0px -1px;
	display:block;
	}
.ggbf_tc_mjzx1 {
	position:relative;
	top:1px;
	left:-9px;
	display:none;
	}
.ggbf_tc_mjzx {
	background:#fff;
	width:95px;
	padding:0 0 4px 0;
	border:1px solid #999;
	border-top:none;
	position:absolute;
	top:0px;
	left:0px;
	}
.ggbf_tc_mjzx ul {
	overflow:hidden;
	}
.ggbf_tc_mjzx li {
	height:24px;
	line-height:24px;
	display:inline-block;
	}
.ggbf_tc_mjzx li a:hover {
	color:#bb2d2b;
	}
/*ggbf_tc_mjzx end*/
/*ggbf_tc_wzdh*/
.ggbf_tc li.li_h_wzdh:hover .ggbf_tc_wzdh1 {
	background-position:0px -1px;
	display:block;
	}
.ggbf_tc_wzdh1 {
	position:relative;
	top:1px;
	left:-85px;
	display:none;
	}
.ggbf_tc_wzdh {
	background:#fff;
	width:160px;
	padding:0 0 4px 0;
	border:1px solid #999;
	border-top:none;
	position:absolute;
	top:0px;
	left:0px;
	}
.ggbf_tc_wzdh p {
	height:30px;
	line-height:30px;
	padding:0 0 0 8px;
	font-size:13px;
	color:#333333;
	}
.ggbf_tc_wzdh ul {
	overflow:hidden;
	}
.ggbf_tc_wzdh li {
	width:62px;
	height:24px;
	line-height:24px;
	display:inline-block;
	padding:0 0 0 9px;
	}
.ggbf_tc_wzdh li a:hover {
	color:#bb2d2b;
	}
/*ggbf_tc_wzdh end*/


/*ggbf_tc_r*/
/*ggbf_t end*/

/*ggbf_c*/
.ggbf_c {
	height:1f50px;
	}
.ggbf_c1200 {
	width:1200px;
	height:100px;
	padding:25px 0;
	margin:0 auto;
	}
.ggbf_cl {
	width:378px;
	height:100px;
	float:left;
	display:inline-block;
	position:relative;
	}
.ggbf_c_logo {
	margin:0px 0 0 12px;
	position:relative;
	top:-12px;
	left:0;
	}
.ggbf_c_logo img {
	width:320px;
	height:128px;
	} 
/*ggbf_cc*/	
.ggbf_cc {
	width:510px;
	height:100px;
	float:left;
	display:inline-block;
	font-family:"微软雅黑";
	}
.ggbf_cc_t {
	height:22px;
	line-height:22px;
	padding:13px 0 0 0;
	overflow:hidden;
	}
.ggbf_cc_t li {
	float:left;
	display:inline-block;
	}
.ggbf_cc_t li a {
	padding:0 6px;
	font-size:13px;
	color:#333;
	display:inline-block;
	}
.ggbf_cc_t li a:hover {
	background:#bb2b2b;
	color:#fff;
	}
.ggbf_cc_t li a.a_h {
	background:#bb2b2b;
	color:#fff;
	}
	
.ggbf_cc_c {
	width:510px;
	height:34px;
	line-height:34px;
	position:relative;
	*margin-top:-1px;
	}
@-moz-document url-prefix() { .ggbf_cc_c { top:-1px; } }
.ggbf_cc_c input {
	vertical-align:middle;
	}
.ggbf_cc_c input.in_t {
	width:408px;
	height:30px;
	line-height:30px;
	padding:0 6px;
	border:2px solid #999;
	border-right:none;
	outline:none;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	}
.ggbf_cc_c input.in_th {
	background:url(http://image.weitainet.com/images/ggbf_c_ss.png) center left no-repeat;
	color:#333;
	}
.ggbf_cc_c input.in_bu {
	background:#bb2b2b;
	width:88px;
	height:34px;
	line-height:34px;
	border:none;
	cursor:pointer;
	outline:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#fff;
	}	
.ggbf_cc_c input.in_bu:hover {
	background:#cc3333;
	}
.ggbf_cc_cxl {
	background:#fff;
	width:418px;
	border:1px solid #ccc;
	position:absolute;
	top:32px;
	left:2px;
	*top:33px;
	}
.ggbf_cc_cxl li {
	height:24px;
	line-height:24px;
	display:inline-block;
	}
.ggbf_cc_cxl li a {
	width:406px;
	padding:0 0 0 12px;
	display:inline-block;
	color:#666;
	}
.ggbf_cc_cxl li a:hover {
	background:#eeeeee;
	color:#333;
	}
	
.ggbf_cc_b {
	height:26px;
	line-height:26px;
	}
.ggbf_cc_b li {
	margin:0 5px 0 2px;
	float:left;
	display:inline-block;
	}
.ggbf_cc_b li a {
	color:#666;
	}
.ggbf_cc_b li a.a_1 {
	color:#ff3333;
	}
.ggbf_cc_b li a:hover {
	color:#666;
	text-decoration:underline;
	}
.ggbf_cc_b li a.a_1:hover {
	color:#ff3333;
	}
/*ggbf_cc end*/	
.ggbf_cr {
	width:300px;
	height:100px;
	padding-right:12px;
	float:left;
	display:inline-block;
	}
.ggbf_crl {
	margin:15px 0 0 12px;
	float:left;
	display:inline-block;
	}
.ggbf_crl1 {
	margin:15px 0 0 12px;
	float:left;
	display:inline-block;
	}	
/* .ggbf_crr { */
/* 	margin:15px 0 0 0; */
/* 	float:right; */
/* 	display:inline-block; */
/* 	} */
.ggbf_crr {
	width:122px;
	height:72px;
	margin:15px 0 0 0;
	float:right;
	display:inline-block;
	position:relative;
	top:0;
	left:0;
	}
.ggbf_crr:hover {
	z-index:9999999;
	}
.ggbf_crr:hover span {
	display:block;
	}
.ggbf_crr span {
	background:url(http://image.weitainet.com/images/ggbf_c_2wm_h.jpg) no-repeat center;
	width:132px;
	height:132px;
	display:none;
	position:absolute;
	top:-25px;
	left:0px;
	}
/*ggbf_c end*/

/*ggbf_b1*/
.ggbf_b1 {
	}
.ggbf_b1t {
	background:#cc9999;
	height:3px;
	line-height:3px;	
	}
.ggbf_b1t1200 {
	background:#cc9999;
	width:1200px;
	height:3px;
	line-height:3px;
	margin:0 auto;
	}
.ggbf_b1c {
	background:#f7f7f7;
	font-family:"微软雅黑";
	color:#333;
	}
.ggbf_b1c1200 {
	background:#f7f7f7;
	width:1198px;
	margin:0 auto;
	padding:01px;
	}
.ggbf_b1c dl {
	width:244px;
	float:left;
	padding-left:54px;
	display:inline-block;
	}
.ggbf_b1c dt {
	width:210px;
	height:24px;
	line-height:24px;
	margin:24px 0 8px 0;
	padding:0 0 0 34px;
	font-size:15px;
	font-weight:bold;
	display:inline-block;
	}
.ggbf_b1c dt.dt_ico1 {
	background:url(http://image.weitainet.com/images/ggbf_bot_ico.png) no-repeat;
	background-position:0px 0px;
	}
.ggbf_b1c dt.dt_ico2 {
	background:url(http://image.weitainet.com/images/ggbf_bot_ico.png) no-repeat;
	background-position:0px -24px;
	}
.ggbf_b1c dt.dt_ico3 {
	background:url(http://image.weitainet.com/images/ggbf_bot_ico.png) no-repeat;
	background-position:0px -48px;
	}
.ggbf_b1c dt.dt_ico4 {
	background:url(http://image.weitainet.com/images/ggbf_bot_ico.png) no-repeat;
	background-position:0px -72px;
	}
.ggbf_b1c dl.dl_w2 {
	background:#fff;
	width:1px;
	height:88px;
	margin:14px 0 17px 0;
	padding:0;
	border-left:1px solid #dddddd;
	}
.ggbf_b1c dd {
	height:24px;
	line-height:24px;
	padding:0 0 0 34px;
	font-size:13px;
	float:left;
	display:inline-block;
	}
.ggbf_b1c dd.dd_l24 {
	width:120px;
	padding:0 0 0 24px;
	font-size:13px;
	color:#333;
	}
.ggbf_b1c dd a {
	color:#333;
	}
.ggbf_b1c dd a:hover {
	color:#ff9933;
	text-decoration:underline;
	}
/*ggbf_b1 end*/
/*ggbf_b2*/
.ggbf_b2 {
	background:#ededed;
	font-family:"微软雅黑";
	}
.ggbf_b21200 {
	background:#ededed;
	width:1200px;
	margin:0 auto;
	}
.ggbf_b2_h {
	line-height:24px;
	padding-top:16px;
	text-align:center;
	}
.ggbf_b2_h a {
	margin:0 8px;
	color:#000000;
	}
.ggbf_b2_h a:hover {
	text-decoration:underline;
	}
.ggbf_b2_p {
	text-align:center;
	}
.ggbf_b2_p p {
	height:20px;
	line-height:20px;
	color:#666;
	}
.ggbf_b2_i {
	padding:14px 0 24px 0;
	text-align:center;
	}
.ggbf_b2_i a {
	margin:0 8px;
	}	
/*ggbf_b2 end*/
/*ggbf_b2_yl*/
.ggbf_b2_yl {
	width:1100px;
	margin:0 50px 0 50px;
	padding:20px 0px 12px 0px;
	border-bottom:1px solid #f7f7f7;
	color:#aaa;
	}
.ggbf_b2_yl .div_h {
	background:url(http://image.weitainet.com/images/index/sc_yqlj_ico.png) no-repeat center left;
	padding-left:22px;
	color:#ef8200;
	}
.ggbf_b2_yl .div_c {
	padding:12px 0 0 0;
	}
.ggbf_b2_yl ul {
	}
.ggbf_b2_yl li {
	width:100px;
	height:22px;
	line-height:22px;
	padding:0 10px 0 0;
	overflow:hidden;
	float:left;
	display:inline-block;
	}
.ggbf_b2_yl a {
	color:#666;
	}
.ggbf_b2_yl a:hover {
	color:#ff9933;
	}
/*ggbf_b2_yl end*/
/*ggbf end*/
/*公共部分 end*/
/*2016.8.23 ggbf_cc_tab*/
.ggbf_cc_tab {
	position:absolute;
	top:1px;
	*top:2px;
	left:1px;
	z-index:1000;
}
@-moz-document url-prefix() { .ggbf_cc_tab {top:2px;} } 
.ggbf_cc_tab ul {
	background:#fff;
	border:1px solid #999;
	height:30px;
	overflow:hidden;
}
.ggbf_cc_tab li {
	width:76px;
	height:30px;
	line-height:30px;
}
.ggbf_cc_tab li.li_h a {
	background:url(http://image.weitainet.com/images/ggbf_cc_tab.png) no-repeat;
	background-position:60px 0px;
}
.ggbf_cc_tab ul:hover li.li_h a {
	background-position:60px -30px;
}
.ggbf_cc_tab ul:hover {
	height:auto;
}
.ggbf_cc_tab li a {
	width:65px;
	color:#333;
	padding:0 0 0 8px;
	display:inline-block;
}
.ggbf_cc_tab li:hover,.ggbf_cc_tab li.li_h {
	background:#f5f5f5;
}

.ggbf_cc_c input.in_t {
	width:335px;
    padding:0 6px 0 79px;
}
.ggbf_cc_cxl {
	width:354px;
	left:66px;
}
.ggbf_cc_cxl li a {
    width: 342px;
}
.ggbf_cc_t ul{
	padding-left: 78px;
}
/*2016.8.23 ggbf_cc_tab end*/
/*2016920 scsy_cb*/
.scsy_cb {
	background:#cd2f2d;
	width:36px;
	height:100%;
	font-family:Microsoft YaHei;
	position:fixed;
	top:0;
	right:0;
	z-index:9999991;
}
.scsy_cb_hd {
	background:#cd2f2d;
	padding:52px 0 0 0;
}
.scsy_cb_t {
	padding:12px 0 0 0;
}
.scsy_cb_jz {
	position:absolute;
	top:50%;
	left:0;
	margin:-240px 0 0 0;
}
.scsy_cb_t ul {
}
.scsy_cb_t li {
	margin:12px 0 0 0;
	position:relative;
	top:0;
	left:0;
	text-align:center;
}
.scsy_cb_t li a.a_a {
	background:url(http://image.weitainet.com/images/index/scsy_cb_ico.png) no-repeat;
	background-position:0px 0px;
	width:36px;
	padding:38px 0 6px;
	line-height:14px;
	color:#fff;
	display:inline-block;
}
.scsy_cb_t li a.a_wd {
	background-position:-36px 0px;
}
.scsy_cb_t li a.a_gwc {
	background-position:-110px 4px;
	padding:42px 0 6px;
}
.scsy_cb_t li a.a_sc {
	background-position:-180px 0px;
}
.scsy_cb_t li a.a_zj {
	background-position:-252px 0px;
}
.scsy_cb_t li:hover {
	background:#fff;
}
.scsy_cb_t li:hover a.a_a {
	color:#a73124;
}
.scsy_cb_t li:hover a.a_wd {
	background-position:0px 0px;
}
.scsy_cb_t li:hover a.a_gwc {
	background-position:-74px 4px;
}
.scsy_cb_t li:hover a.a_sc {
	background-position:-144px 0px;
}
.scsy_cb_t li:hover a.a_zj {
	background-position:-216px 0px;
}
.scsy_cb_twd {
	background:#f7f7f7;
	width:170px;
	padding:15px 15px 0 15px;
	border-radius:3px;
	box-shadow: 0px 5px 5px rgba(190,190,190,0.18);
	position:absolute;
	top:0;
	right:36px;
	display:none;
}
.scsy_cb_t li:hover .scsy_cb_twd {
	display:block;
}
.scsy_cb_twd .d_img {
	padding:0 52px;
}
.scsy_cb_twd .d_img a {
	width:64px;
	height:64px;
	border:1px solid #dcdcdc;
	display:block;
}
.scsy_cb_twd p {
	line-height:20px;
	padding:5px 0;
}
.scsy_cb_twd p a {
	white-space:nowrap;
	color:#982121;
}
.scsy_cb_twd dl {
	height:50px;
	padding:12px 0;
	border-top:1px solid #e5e5e5;
}
.scsy_cb_twd dt {
	width:84px;
	height:50px;
	float:left;
}
.scsy_cb_twd dd {
	width:1px;
	height:50px;
	border-left:1px solid #e5e5e5;
	float:left;
}
.scsy_cb_twd dl a {
	background:url(http://image.weitainet.com/images/index/scsy_cb_ico.png) no-repeat;
	line-height:20px;
	padding:30px 0 0 0;
	color:#8e8e8e;
	display:inline-block;
}
.scsy_cb_twd dl a.a_wddd {
	background-position:-86px -110px;
}
.scsy_cb_twd dl a.a_wddd:hover {
	background-position:-10px -110px; 
	color:#982121;
}
.scsy_cb_twd dl a.a_wdxx {
	background-position:-242px -110px;
}
.scsy_cb_twd dl a.a_wdxx:hover {
	background-position:-166px -110px;
	color:#982121;
}
.scsy_cb_t a.a_gwc ins {
	width:14px;
	height:14px;
	line-height:14px;
	border:1px solid #fff;
	border-radius:14px;
	font-size:9px;
	-webkit-text-size-adjust:none; 
	position:absolute;
	top:4px;
	left:12px;
	text-decoration:none;
}
.scsy_cb_t li:hover a.a_gwc ins {
	border:1px solid #920f0f;
}
.scsy_cb_b {
	background:#cd2f2d;
	width:36px;
	padding:0 0 12px 0;
	position:absolute;
	bottom:0;
	left:0;
}
.scsy_cb_bewm {
	height:40px;
	position:relative;
	top:0;
	left:0;
}
.scsy_cb_bewm i {
	background:url(http://image.weitainet.com/images/index/scsy_cb_ico.png) no-repeat;
	background-position:-324px 0px;
	width:36px;
	height:40px;
	display:block;
}
.scsy_cb_bewm img {
	position:absolute;
	top:-168px;
	left:-196px;
	display:none;
}
.scsy_cb_bewm:hover {
	background:#fff;
}
.scsy_cb_bewm:hover i {
	background-position:-288px 0px;
}
.scsy_cb_bewm:hover img {
	display:block;
}
.scsy_cb_btop {
	background:#cd2f2d;
	margin:5px 0 0 0;
}
.scsy_cb_btop a {
	background:url(http://image.weitainet.com/images/index/scsy_cb_ico.png) no-repeat;
	background-position:-396px 0px;
	width:36px;
	height:18px;
	line-height:18px;
	padding:18px 0 0 0;
	display:inline-block;
	font-size:9px;
	color:#fff;
	text-align:center;
}
.scsy_cb_btop:hover {
	background:#fff;
}
.scsy_cb_btop:hover a {
	background-position:-360px 0px;
	color:#a73124;
}
/*2016920 scsy_cb end*/
/*2016926 scsy_mjcb*/
.scsy_cb_twd {
	top:-15px;
}
.scsy_cb_twd ins {
	background:url(http://image.weitainet.com/images/index/scsy_cbsj_ico.png) no-repeat;
	background-position:-144px -39px;
	width:5px;
	height:10px;
	position:absolute;
	top:25px;
	right:-5px;
	display:block;
}
.scsy_mjcb_twd {
	background:#f5f5f5;
	padding:5px 15px 0 15px;
}
.scsy_mjcb_twd dl.dl_bbn {
	border:none;
}
.scsy_mjcb_twd ins {
	background:url(http://image.weitainet.com/images/index/scsy_cbsj_ico.png) no-repeat;
	background-position:-144px -26px;
}
.scsy_mjcb_twd dl a {
	background:none;
	padding:0;
}
.scsy_mjcb_twd dl a:hover {
	color:#cd2f2d;
}
.scsy_mjcb_twd dl i {
	background:url(http://image.weitainet.com/images/index/scsy_cbsj_ico.png) no-repeat;
	width:36px;
	height:36px;
	display:inline-block;
	position:relative;
	top:0;
	left:0;
}
.scsy_mjcb_twd dl i span {
	min-width:14px;
    height:14px;
    line-height:14px;
    border:1px solid #a0a0a0;
    border-radius:14px;
	text-align:center;
    font-size:9px;
	font-style:normal;
    position:absolute;
    top:-5px;
    left:29px;
}
.scsy_mjcb_twd dl a:hover i span {
	border:1px solid #cd2f2d;
}
.scsy_mjcb_twd dl i.i_df {
	background-position:-0px -26px;
}
.scsy_mjcb_twd dl a:hover i.i_df {
	background-position:-72px -26px;
}
.scsy_mjcb_twd dl i.i_dfd {
	background-position:-36px -26px;
}
.scsy_mjcb_twd dl a:hover i.i_dfd {
	background-position:-108px -26px;
}
.scsy_mjcb_twd dl i.i_qxd {
	background-position:-0px -62px;
}
.scsy_mjcb_twd dl a:hover i.i_qxd {
	background-position:-72px -62px;
}
.scsy_mjcb_twd dl i.i_dhp {
	background-position:-36px -62px;
}
.scsy_mjcb_twd dl a:hover i.i_dhp {
	background-position:-108px -62px;
}
.scsy_mjcb_twd dl i.i_csp {
	background-position:-180px -26px;
}
.scsy_mjcb_twd dl a:hover i.i_csp {
	background-position:-252px -26px;
}
.scsy_mjcb_twd dl i.i_czp {
	background-position:-144px -62px;
}
.scsy_mjcb_twd dl a:hover i.i_czp {
	background-position:-216px -62px;
}
.scsy_mjcb_twd dl i.i_tp {
	background-position:-180px -62px;
}
.scsy_mjcb_twd dl a:hover i.i_tp {
	background-position:-252px -62px;
}

.scsy_mjcb_t a.a_aa {
	width:36px;
	line-height:14px;
	padding:10px 0 6px 0;
	color:#fff;
	display:block;
}
.scsy_mjcb_t li:hover a.a_aa {
	color:#a73124;
}
.scsy_mjcb_t li a.a_aa span {
	border:1px solid #fff;
	padding:0 3px;
	border-radius:5px;
	font-size:9px;
}
.scsy_mjcb_t li:hover a.a_aa span {
	border:1px solid #a73124;
}
.scsy_mjcb_t a.a_aa i {
	background:url(http://image.weitainet.com/images/index/scsy_cbsj_ico.png) no-repeat;
	width:36px;
	height:28px;
	display:block;
}
.scsy_mjcb_t a.a_aa i.i_dd {
	background-position:-36px 0px;
}
.scsy_mjcb_t li:hover a.a_aa i.i_dd {
	background-position:0px 0px;
}
.scsy_mjcb_t a.a_aa i.i_sp {
	background-position:-108px 0px;
}
.scsy_mjcb_t li:hover a.a_aa i.i_sp {
	background-position:-72px 0px;
}
.scsy_mjcb_t a.a_aa i.i_wl {
	background-position:-180px 0px;
}
.scsy_mjcb_t li:hover a.a_aa i.i_wl {
	background-position:-144px 0px;
}
.scsy_mjcb_t a.a_aa i.i_sh {
	background-position:-252px 0px;
}
.scsy_mjcb_t li:hover a.a_aa i.i_sh {
	background-position:-216px 0px;
}
.scsy_mjcb_t a.a_aa i.i_tx {
	background-position:-324px 0px;
}
.scsy_mjcb_t li:hover a.a_aa i.i_tx {
	background-position:-288px 0px;
}
/*2016926 scsy_mjcb end*/
