.jssorb01 {
	position: absolute;
	bottom: 16px;
	left: 50%;
	margin-left: -43px;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	width: 14px;
	height: 14px;
	filter: alpha(opacity=100);
	overflow: hidden;
	cursor: pointer;
	border-radius: 7px;
}
.jssorb01 div {
	background-color: #D2D2D2;
}
.jssorb01 div:hover, .jssorb01 .av:hover {
	background-color: #DA2C2C;
}
.jssorb01 .av {
	background-color: #DA2C2C;
}
.jssorb01 .dn, .jssorb01 .dn:hover {
	background-color: #DA2C2C;
}
.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	width: 28px;
	height: 62px;
	cursor: pointer;
	background: url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	overflow: hidden;
}
.jssora05l {
	background-position: -250px -438px;
}
.jssora05r {
	background-position: -306px -438px;
}
.jssora05l:hover {
	background-position: -278px -438px;
}
.jssora05r:hover {
	background-position: -334px -438px;
}
.lbtn {
	position: absolute;
	width: 28px;
	height: 62px;
	top: 200px;
	left: 0px;
}
.rbtn {
	position: absolute;
	width: 28px;
	height: 62px;
	top: 200px;
	right: 0px;
}
