/*scsy*/
.scsy {
	margin:12px 0 24px;
	font-family:"microsoft yahei";
	}
/*scsy_menu*/
.scsy_menu {
	width:1200px;
	margin:0 auto;
	height:36px;
	line-height:36px;
	}
/*scsy_mel*/
.scsy_mel {
	width:200px;
	height:36px;
	line-height:36px;
	float:left;
	display:inline-block;
	position:relative;
	z-index:999;
	}
.scsy_melh {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat left top;
	width:200px;
	height:36px;
	line-height:36px;
	}
.scsy_melh a {
	width:200px;
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	}
/*scsy_mel end*/
/*scsy_melc*/
.scsy_melc {
	background:url(http://image.weitainet.com/images/index/scsy_1.png) repeat;
	width:200px;
	height:420px;
	position:absolute;
	top:36px;
	left:0px;
	}
.scsy_melc ul.ul_pt12 {
	padding-top:12px;
	}
.scsy_melc li.li_w200 {
	width:200px;
	height:26px;
	line-height:26px;
	}
.scsy_melc li.li_w200:hover {
	background:#f7f7f7;
	width:198px;
	}
.scsy_melc li.li_1:hover {
	border-left:2px solid #5db5be;
	}
.scsy_melc li.li_2:hover {
	border-left:2px solid #d4595e;
	}
.scsy_melc li.li_3:hover {
	border-left:2px solid #268bb9;
	}
.scsy_melc li.li_4:hover {
	border-left:2px solid #0acad1;
	}
.scsy_melc li.li_5:hover {
	border-left:2px solid #dd2334;
	}
.scsy_melc li.li_6:hover {
	border-left:2px solid #674941;
	}
.scsy_melc li.li_7:hover {
	border-left:2px solid #ff649d;
	}
.scsy_melc li.li_8:hover {
	border-left:2px solid #b0638a;
	}
.scsy_melc li.li_9:hover {
	border-left:2px solid #f44a64;
	}
.scsy_melc li.li_10:hover {
	border-left:2px solid #dd2334;
	}
.scsy_melc li.li_11:hover {
	border-left:2px solid #37bea0;
	}
.scsy_melc li.li_12:hover {
	border-left:2px solid #dd7d24;
	}
.scsy_melc li.li_13:hover {
	border-left:2px solid #ff5e0f;
	}
.scsy_melc li.li_14:hover {
	border-left:2px solid #ef7f7b;
	}
.scsy_melc li.li_15:hover {
	border-left:2px solid #dd2334;
	}
.scsy_melc li span.sp_li {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-250px 0px;
	width:154px;
	height:26px;
	line-height:26px;
	padding-left:46px;
	display:inline-block;
	}
.scsy_melc li.li_1 span.sp_li {
	background-position:-250px 0px;
	}
.scsy_melc li.li_2 span.sp_li {
	background-position:-250px -26px;
	}
.scsy_melc li.li_3 span.sp_li {
	background-position:-250px -52px;
	}

.scsy_melc li.li_4 span.sp_li {
	background-position:-250px -104px;
	}
.scsy_melc li.li_5 span.sp_li {
	background-position:-250px -130px;
	}
.scsy_melc li.li_6 span.sp_li {
	background-position:-250px -156px;
	}
.scsy_melc li.li_7 span.sp_li {
	background-position:-250px -182px;
	}
.scsy_melc li.li_8 span.sp_li {
	background-position:-250px -208px;
	}
.scsy_melc li.li_9 span.sp_li {
	background-position:-250px -234px;
	}
.scsy_melc li.li_10 span.sp_li {
	background-position:-250px -260px;
	}
.scsy_melc li.li_11 span.sp_li {
	background-position:-250px -286px;
	}
.scsy_melc li.li_12 span.sp_li {
	background-position:-250px -312px;
	}
.scsy_melc li.li_13 span.sp_li {
	background-position:-250px -338px;
	}
.scsy_melc li.li_14 span.sp_li {
	background-position:-250px -78px;
	}
.scsy_melc li.li_15 span.sp_li {
	background-position:-250px -364px;
	}
.scsy_melc li a.a_li {
	font-size:14px;
	color:#666666;
	}
.scsy_melc li a.a_li:hover {
	text-decoration:underline;
	}
.scsy_melc li.li_w200 span.sp_li:hover div.scsy_melf  {
	display:block;
	}
/*scsy_melc end*/
/*scsy_melf end*/
.scsy_melf {
	width:1000px;
	position:absolute;
	top:0px;
	left:200px;
	display:none;
	}
.scsy_melf_t {
	background:url(http://image.weitainet.com/images/index/scsy_1.png) repeat;
	height:2px;
	line-height:2px;
	overflow:hidden;
	}
.scsy_melf_c {
	background:#f7f7f7;
	width:1000px;
	min-height:416px;
	position:relative;
	overflow:hidden;
	}
.scsy_melf_img {
	position:absolute;
	right:0px;
	bottom:0px;
	}
.scsy_melf_cl {
	width:784px;
	min-height:400px;
	padding:0 6px;
	padding-top:12px;
	float:left;
	}
.scsy_melf_cl dl {
	width:780px;
	line-height:24px;
	padding:3px 0;
	overflow:hidden;
	border-bottom:1px dashed #ccc;
	}
.scsy_melf_cl dt {
	width:92px;
	text-align:right;
	float:left;
	display:inline-block;
	vertical-align:top;
	}
.scsy_melf_cl dt a {
	color:#333;
	font-weight:bold;
	}
.scsy_melf_cl dt a:hover {
	color:#b22031;
	}
.scsy_melf_cl dd {
	width:670px;
	margin-left:16px;
	padding-bottom:6px;
	float:left;
	display:inline-block;
	}
.scsy_melf_cl dl.dl_n {
	border-bottom:none;
	}
.scsy_melf_cl dd a {
	color:#333;
	}
.scsy_melf_cl dd a:hover {
	color:#b22031;
	text-decoration:underline;
	}
.scsy_melf_cl dd a.a_h {
	color:#b22031;
	}
.scsy_melf_cl ul {
	}
.scsy_melf_cl li {
	height:14px;
	line-height:14px;
	padding:5px 0px;
	float:left;
	display:inline-block;
	white-space:nowrap;
	}
.scsy_melf_cl li span {
	padding:0 12px;
	border-left:1px solid #ccc;
	display:inline-block;
	}
.scsy_melf_cr {
	background:#f0f0f0;
	width:188px;
	min-height:416px;
	padding:0 6px;
	float:right;
	}
.scsy_melf_cr div.d_t {
	height:30px;
	line-height:30px;
	padding:4px 0 0 16px;
	border-bottom:1px dashed #ccc;
	font-weight:bold;
	color:#666;
	}
.scsy_melf_cr ul {
	padding-top:4px;
	overflow:hidden;
	}
.scsy_melf_cr li {
	width:78px;
	height:24px;
	line-height:24px;
	padding-left:16px;
	float:left;
	display:inline-block;
	}
.scsy_melf_cr li a {
	color:#5db5be;
	}
.scsy_melf_cr li a:hover {
	text-decoration:underline;
	}
.scsy_melf_cr div.d_h200 {
	height:220px;
	}
/*scsy_melf1*/
.scsy_melf1 div.scsy_melf_cr li a {
	color:#5db5be;
	}
/*scsy_melf1 end*/
/*scsy_melf2*/
.scsy_melf2 div.scsy_melf_cr li a {
	color:#c96268;
	}
/*scsy_melf2 end*/
/*scsy_melf3*/
.scsy_melf3 div.scsy_melf_cr li a {
	color:#268bb9;
	}
/*scsy_melf3 end*/
/*scsy_melf4*/
.scsy_melf4 div.scsy_melf_cr li a {
	color:#0acad1;
	}
/*scsy_melf4 end*/
/*scsy_melf5*/
.scsy_melf5 div.scsy_melf_cr li a {
	color:#dd2334;
	}
/*scsy_melf5 end*/
/*scsy_melf6*/
.scsy_melf6 div.scsy_melf_cr li a {
	color:#674941;
	}
/*scsy_melf6 end*/
/*scsy_melf7*/
.scsy_melf7 div.scsy_melf_cr li a {
	color:#ff649d;
	}
/*scsy_melf7 end*/
/*scsy_melf8*/
.scsy_melf8 div.scsy_melf_cr li a {
	color:#b0638a;
	}
/*scsy_melf8 end*/
/*scsy_melf9*/
.scsy_melf9 div.scsy_melf_cr li a {
	color:#f44a64;
	}
/*scsy_melf9 end*/
/*scsy_melf10*/
.scsy_melf10 div.scsy_melf_cr li a {
	color:#dd2334;
	}
/*scsy_melf10 end*/
/*scsy_melf11*/
.scsy_melf11 div.scsy_melf_cr li a {
	color:#37bea0;
	}
/*scsy_melf11 end*/
/*scsy_melf12*/
.scsy_melf12 div.scsy_melf_cr li a {
	color:#dd7d24;
	}
/*scsy_melf12 end*/
/*scsy_melf13*/
.scsy_melf13 div.scsy_melf_cr li a {
	color:#ff5e0f;
	}
/*scsy_melf13 end*/
/*scsy_melf14*/
.scsy_melf14 div.scsy_melf_cr li a {
	color:#ef7f7b;
	}
/*scsy_melf14 end*/
/*scsy_melf15*/
.scsy_melf15 div.scsy_melf_cr li a {
	color:#dd2334;
	}
/*scsy_melf15 end*/
/*scsy_melf end*/
/*scsy_mer*/
.scsy_mer {
	width:1000px;
	height:36px;
	line-height:36px;
	float:left;
	display:inline-block;
	}
.scsy_mer ul {
	}
.scsy_mer li {
	margin:0 22px 0 32px;
	float:left;
	display:inline-block;
	position:relative;
	}
.scsy_mer li a {
	font-size:16px;
	color:#000;
	}
.scsy_mer li a:hover {
	color:#b22d2b;
	}
.scsy_mer li div.p_a1 {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-232px -28px;
	width:18px;
	height:18px;
	position:absolute;
	top:-8px;
	right:-15px;
	}
/*scsy_mer end*/
/*scsy_menu end*/
/*scsy_bac*/
.scsy_banner {
	height:420px;
	}
.scsy_banner1200 {
	width:1200px;
	height:420px;
	margin:0 auto;
	position:relative;
	}
/*scsy_bar*/
.scsy_bar {
	width:200px;
	height:420px;
	font-size:0px;
	font-family:"宋体";
	overflow:hidden;
	position:absolute;
	top:0px;
	right:0px;
	}
/*scsy_bar end*/
/*scsy_bac*/
.scsy_bac {
	width:800px;
	height:420px;
	overflow:hidden;
	position:relative;
	top:0px;
	left:200px;
	}
.scsy_bac ul {
	width:4000px;
	}
.scsy_bac li {
	width:800px;
	height:420px;
	font-size:0px;
	font-family:"宋体";
	float:left;
	display:inline-block;
	}
.scsy_bac_pa {
	width:800px;
	height:14px;
	line-height:14px;
	text-align:center;
	position:absolute;
	top:385px;
	left:0px;
	}
.scsy_bac_pa ul {
	height:14px;
	line-height:14px;
	}
.scsy_bac_pa span {
	width:14px;
	height:14px;
	margin:0 4px;
	*margin:0 6px;
	display:inline-block;
	}
.scsy_bac_pa span a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-236px -14px;
	width:14px;
	height:14px;
	line-height:14px;
	display:inline-block;
	}
.scsy_bac_pa span a:hover {
	background-position:-236px 0px;
	}
.scsy_bac_pa span a.a_h {
	background-position:-236px 0px;
	}
.scsy_bac_lpa {
	width:28px;
	height:62px;
	position:absolute;
	top:180px;
	left:0px;
	display:none;
	}
.scsy_bac_lpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-250px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_bac_lpa a:hover {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-278px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_bac_rpa {
	width:28px;
	height:62px;
	position:absolute;
	top:180px;
	right:0px;
	display:none;
	}
.scsy_bac_rpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-306px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_bac_rpa a:hover {
	background-position:-334px -438px;
	}
.scsy_bac:hover .scsy_bac_rpa,.scsy_bac:hover .scsy_bac_lpa {
	display:block;
	}
/*scsy_bac end*/
/*scsy_banner end*/
/*scsy_banner_h*/
.scsy_banner_h {
	width:1200px;
	height:90px;
	margin-top:30px;
	overflow:;
	font-family:"宋体";
	font-size:0px;
	}
/*scsy_banner_h end*/
/*scsy_c*/
.scsy_c {
	width:1200px;
	margin:0 auto;
	}
/*scsy_c end*/
/*scsy_hd*/
.scsy_hd {
	margin-top:30px;
	}
/*scsy_hd_h*/
.scsy_hd_h {
	background:#da2c2c;
	height:30px;
	line-height:30px;
	}
.scsy_hd_h div.d_r {
	height:30px;
	line-height:30px;
	padding-right:24px;
	float:right;
	display:inline-block;
	font-family:"宋体";
	}
.scsy_hd_h div.d_r a {
	font-size:12px;
	color:#fff;
	}
.scsy_hd_h div.d_r a:hover {
	text-decoration:underline;
	}
.scsy_hd_h div.d_l {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-468px -473px;
	height:30px;
	line-height:30px;
	padding-left:48px;
	float:left;
	display:inline-block;
	font-weight:bold;
	font-size:16px;
	color:#fff;
	}
.scsy_hd_h div.d_lsj {
	height:30px;
	padding:0px 0 0px 52px;
	float:left;
	display:inline-block;
	font-size:26px;
	color:#fff;
	}
.scsy_hd_h div.d_lsj span {
	width:20px;
	height:24px;
	line-height:24px;
	text-align:center;
	float:left;
	display:inline-block;
	overflow:hidden;
	}
.scsy_hd_h div.d_lsj span.sp_sj {
	background:#fff;
	width:24px;
	height:24px;
	line-height:24px;
	margin:3px 0;
	font-family:Arial;
	font-size:18px;
	color:#bd1e24;
	}

/*scsy_hd_h end*/
/*scsy_hd_c*/
.scsy_hd_c {
	height:400px;
	font-family:Arial;
	font-size:0px;
	}
.scsy_hd_cl {
	width:398px;
	height:400px;
	border-right:2px solid #fff;
	float:left;
	}
.scsy_hd_cl_t {
	width:398px;
	height:200px;
	border-bottom:2px solid #fff;
	overflow:hidden;
	}
.scsy_hd_cl_bl {
	width:198px;
	height:198px;
	border-right:2px solid #fff;
	float:left;
	overflow:hidden;
	}
.scsy_hd_cl_br {
	width:198px;
	height:198px;
	float:left;
	overflow:hidden;
	}
.scsy_hd_cc {
	width:400px;
	height:400px;
	float:left;
	position:relative;
	overflow:hidden;
	}
.scsy_hd_cc_pa ul {
	width:1200px;
	height:400px;
	}
.scsy_hd_cc_pa li {
	width:400px;
	height:400px;
	float:left;
	display:inline-block;
	}
.scsy_hd_cc_pa {
	width:400px;
	height:14px;
	line-height:14px;
	text-align:center;
	position:absolute;
	top:370px;
	left:0px;
	}
.scsy_hd_cc_pa span {
	width:14px;
	height:14px;
	margin:0 4px;
	*margin:0 6px;
	display:inline-block;
	}
.scsy_hd_cc_pa span a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-236px -14px;
	width:14px;
	height:14px;
	line-height:14px;
	display:inline-block;
	}
.scsy_hd_cc_pa span a:hover {
	background-position:-236px 0px;
	}
.scsy_hd_cc_pa span a.a_h {
	background-position:-236px 0px;
	}
.scsy_hd_cr {
	width:398px;
	height:400px;
	border-left:2px solid #fff;
	float:left;
	}
.scsy_hd_cc_lpa {
	width:28px;
	height:62px;
	position:absolute;
	top:170px;
	left:0px;
	display:none;
	}
.scsy_hd_cc_lpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-250px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_hd_cc_lpa a:hover {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-278px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_hd_cc_rpa {
	width:28px;
	height:62px;
	position:absolute;
	top:170px;
	right:0px;
	display:none;
	}
.scsy_hd_cc_rpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-306px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_hd_cc_rpa a:hover {
	background-position:-334px -438px;
	}
.scsy_hd_cc:hover .scsy_hd_cc_rpa,.scsy_hd_cc:hover .scsy_hd_cc_lpa {
	display:block;
	}
/*scsy_hd_c end*/
/*scsy_hd end*/
/*scsy_f*/
.scsy_f {
	margin-top:11px;
	height:448px;
	overflow:hidden;
	}
/*scsy_fl*/
.scsy_fl {
	width:220px;
	margin-top:19px;
	float:left;
	display:inline-block;
	}
.scsy_fl div.d_f {
	background:url(http://image.weitainet.com/images/index/scsy_f.png) no-repeat;
	height:145px;
	}
.scsy_fl div.d_f p {
	height:26px;
	line-height:26px;
	padding-right:12px;
	padding-top:15px;
	text-align:center;
	}
.scsy_fl div.d_f a {
	padding-top:56px;
	font-size:22px;
	color:#fff;
	display:inline-block;
	}
.scsy_fl_img {
	width:208px;
	height:208px;
	font-family:"宋体";
	font-size:0px;
	overflow:hidden;
	position:relative;
	}
.scsy_fl_img ul {
	width:624px;
	}
.scsy_fl_img li {
	width:208px;
	height:208px;
	float:left;
	display:inline-block;
	}
.scsy_fl_img div.d_lpa {
	width:11px;
	height:18px;
	position:absolute;
	top:95px;
	left:2px;
	}
.scsy_fl_img div.d_lpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-362px -438px;
	width:11px;
	height:18px;
	display:inline-block;
	}
.scsy_fl_img div.d_lpa a:hover {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-362px -456px;
	width:11px;
	height:18px;
	display:inline-block;
	}
.scsy_fl_img div.d_rpa {
	width:11px;
	height:18px;
	position:absolute;
	top:95px;
	right:2px;
	}
.scsy_fl_img div.d_rpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-373px -438px;
	width:11px;
	height:18px;
	display:inline-block;
	}
.scsy_fl_img div.d_rpa a:hover {
	background-position:-373px -456px;
	}
.scsy_fl_txt {
	overflow:hidden;
	}
.scsy_fl_txt ul {
	}
.scsy_fl_txt li {
	width:60px;
	height:22px;
	line-height:22px;
	padding-left:10px;
	float:left;
	display:inline-block;
	}
.scsy_fl_txt li a {
	color:#333;
	}
.scsy_fl_txt li.li_r a {
	color:#b22031;
	}
.scsy_fl_txt li a:hover {
	text-decoration:underline;
	}
/*scsy_fl end*/
/*scsy_fr*/
.scsy_fr {
	width:980px;
	float:right;
	display:inline-block;
	}
/*scsy_ft*/
.scsy_ft {
	height:34px;
	line-height:34px;
	border-bottom:4px solid #5db5be;
	overflow:hidden;
	}
.scsy_ft ul {
	margin-right:26px;
	float:right;
	display:inline-block;
	}
.scsy_ft li {
	width:116px;
	text-align:center;
	float:left;
	display:inline-block;
	}
.scsy_ft li a {
	font-size:16px;
	color:#666;
	display:inline-block;
	}
.scsy_ft li a:hover {
	background:url(http://image.weitainet.com/images/index/scsy_ft.png) no-repeat;
	background-position:center 0px;
	color:#5db5be;
	}
.scsy_ft li a.a_h {
	background:url(http://image.weitainet.com/images/index/scsy_ft.png) no-repeat;
	background-position:center 0px;
	color:#5db5be;
	}
/*scsy_ft end*/
/*scsy_fc*/
.scsy_fc {
	width:980px;
	height:410px;
	font-family:"宋体";
	font-size:0px;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
	}
.scsy_fc lu {
	width:4900px;
	}
.scsy_fc li {
	width:980px;
	height:410px;
	float:left;
	display:inline-block;
	}
.scsy_fc_t {
	height:200px;
	border-bottom:10px solid #fff;
	}
.scsy_fc_b {
	height:200px;
	}
.scsy_fc_l {
	width:350px;
	height:200px;
	float:left;
	display:inline-block;
	}
.scsy_fc_r {
	width:200px;
	height:200px;
	margin-left:10px;
	float:left;
	display:inline-block;
	}
.scsy_fc_lpa {
	width:28px;
	height:62px;
	position:absolute;
	top:173px;
	left:0px;
	display:none;
	}
.scsy_fc_lpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-250px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_fc_lpa a:hover {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-278px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_fc_rpa {
	width:28px;
	height:62px;
	position:absolute;
	top:173px;
	right:0px;
	display:none;
	}
.scsy_fc_rpa a {
	background:url(http://image.weitainet.com/images/index/scsy_menu.png) no-repeat;
	background-position:-306px -438px;
	width:28px;
	height:62px;
	display:inline-block;
	}
.scsy_fc_rpa a:hover {
	background-position:-334px -438px;
	}
.scsy_fc:hover .scsy_fc_rpa,.scsy_fc:hover .scsy_fc_lpa {
	display:block;
	}
/*scsy_fc end*/
/*scsy_fr end*/
/*1f*/
.scsy_1f {
	}
.scsy_1f div.scsy_fl div.d_f {
	background-position:0px 0px;
	}
.scsy_1f div.scsy_ft {
	border-bottom:4px solid #5db5be;
	}
.scsy_1f div.scsy_ft li a:hover {
	background-position:center 0px;
	color:#5db5be;
	}
.scsy_1f div.scsy_ft li a.a_h {
	background-position:center 0px;
	color:#5db5be;
	}
/*1f end*/
/*2f*/
.scsy_2f {
	}
.scsy_2f div.scsy_fl div.d_f {
	background-position:-220px 0px;
	}
.scsy_2f div.scsy_ft {
	border-bottom:4px solid #d4595e;
	}
.scsy_2f div.scsy_ft li a:hover {
	background-position:center -34px;
	color:#d4595e;
	}
.scsy_2f div.scsy_ft li a.a_h {
	background-position:center -34px;
	color:#d4595e;
	}
/*2f end*/
/*3f*/
.scsy_3f {
	}
.scsy_3f div.scsy_fl div.d_f {
	background-position:-440px 0px;
	}
.scsy_3f div.scsy_ft {
	border-bottom:4px solid #268bb9;
	}
.scsy_3f div.scsy_ft li a:hover {
	background-position:center -68px;
	color:#268bb9;
	}
.scsy_3f div.scsy_ft li a.a_h {
	background-position:center -68px;
	color:#268bb9;
	}
/*3f end*/
/*4f*/
.scsy_4f {
	}
.scsy_4f div.scsy_fl div.d_f {
	background-position:-660px 0px;
	}
.scsy_4f div.scsy_ft {
	border-bottom:4px solid #0acad1;
	}
.scsy_4f div.scsy_ft li a:hover {
	background-position:center -102px;
	color:#0acad1;
	}
.scsy_4f div.scsy_ft li a.a_h {
	background-position:center -102px;
	color:#0acad1;
	}
/*4f end*/
/*5f*/
.scsy_5f {
	}
.scsy_5f div.scsy_fl div.d_f {
	background-position:-880px 0px;
	}
.scsy_5f div.scsy_ft {
	border-bottom:4px solid #dd2334;
	}
.scsy_5f div.scsy_ft li a:hover {
	background-position:center -136px;
	color:#dd2334;
	}
.scsy_5f div.scsy_ft li a.a_h {
	background-position:center -136px;
	color:#dd2334;
	}
/*5f end*/
/*6f*/
.scsy_6f {
	}
.scsy_6f div.scsy_fl div.d_f {
	background-position:0px -145px;
	}
.scsy_6f div.scsy_ft {
	border-bottom:4px solid #674941;
	}
.scsy_6f div.scsy_ft li a:hover {
	background-position:center -170px;
	color:#674941;
	}
.scsy_6f div.scsy_ft li a.a_h {
	background-position:center -170px;
	color:#674941;
	}
/*6f end*/
/*7f*/
.scsy_7f {
	}
.scsy_7f div.scsy_fl div.d_f {
	background-position:-220px -145px;
	}
.scsy_7f div.scsy_ft {
	border-bottom:4px solid #ff649d;
	}
.scsy_7f div.scsy_ft li a:hover {
	background-position:center -204px;
	color:#ff649d;
	}
.scsy_7f div.scsy_ft li a.a_h {
	background-position:center -204px;
	color:#ff649d;
	}
/*7f end*/
/*8f*/
.scsy_8f {
	}
.scsy_8f div.scsy_fl div.d_f {
	background-position:-440px -145px;
	}
.scsy_8f div.scsy_ft {
	border-bottom:4px solid #b0638a;
	}
.scsy_8f div.scsy_ft li a:hover {
	background-position:center -238px;
	color:#b0638a;
	}
.scsy_8f div.scsy_ft li a.a_h {
	background-position:center -238px;
	color:#b0638a;
	}
/*8f end*/
/*9f*/
.scsy_9f {
	}
.scsy_9f div.scsy_fl div.d_f {
	background-position:-660px -145px;
	}
.scsy_9f div.scsy_ft {
	border-bottom:4px solid #f44a64;
	}
.scsy_9f div.scsy_ft li a:hover {
	background-position:center -272px;
	color:#f44a64;
	}
.scsy_9f div.scsy_ft li a.a_h {
	background-position:center -272px;
	color:#f44a64;
	}
/*9f end*/
/*10f*/
.scsy_10f {
	}
.scsy_10f div.scsy_fl div.d_f {
	background-position:-880px -145px;
	}
.scsy_10f div.scsy_ft {
	border-bottom:4px solid #dd2334;
	}
.scsy_10f div.scsy_ft li a:hover {
	background-position:center -306px;
	color:#dd2334;
	}
.scsy_10f div.scsy_ft li a.a_h {
	background-position:center -306px;
	color:#dd2334;
	}
/*10f end*/
/*11f*/
.scsy_11f {
	}
.scsy_11f div.scsy_fl div.d_f {
	background-position:-0px -290px;
	}
.scsy_11f div.scsy_ft {
	border-bottom:4px solid #37bea0;
	}
.scsy_11f div.scsy_ft li a:hover {
	background-position:center -340px;
	color:#37bea0;
	}
.scsy_11f div.scsy_ft li a.a_h {
	background-position:center -340px;
	color:#37bea0;
	}
/*11f end*/
/*12f*/
.scsy_12f {
	}
.scsy_12f div.scsy_fl div.d_f {
	background-position:-220px -290px;
	}
.scsy_12f div.scsy_ft {
	border-bottom:4px solid #dd7d24;
	}
.scsy_12f div.scsy_ft li a:hover {
	background-position:center -374px;
	color:#dd7d24;
	}
.scsy_12f div.scsy_ft li a.a_h {
	background-position:center -374px;
	color:#dd7d24;
	}
/*12f end*/
/*13f*/
.scsy_13f {
	}
.scsy_13f div.scsy_fl div.d_f {
	background-position:-440px -290px;
	}
.scsy_13f div.scsy_ft {
	border-bottom:4px solid #ff5e0f;
	}
.scsy_13f div.scsy_ft li a:hover {
	background-position:center -408px;
	color:#ff5e0f;
	}
.scsy_13f div.scsy_ft li a.a_h {
	background-position:center -408px;
	color:#ff5e0f;
	}
/*13f end*/
/*14f*/
.scsy_14f {
	}
.scsy_14f div.scsy_fl div.d_f {
	background-position:-660px -290px;
	}
.scsy_14f div.scsy_ft {
	border-bottom:4px solid #ef7f7b;
	}
.scsy_14f div.scsy_ft li a:hover {
	background-position:center -442px;
	color:#ef7f7b;
	}
.scsy_14f div.scsy_ft li a.a_h {
	background-position:center -442px;
	color:#ef7f7b;
	}
/*14f end*/
/*15f*/
.scsy_15f {
	}
.scsy_15f div.scsy_fl div.d_f {
	background-position:-880px -290px;
	}
.scsy_15f div.scsy_ft {
	border-bottom:4px solid #d4595e;
	}
.scsy_15f div.scsy_ft li a:hover {
	background-position:center -476px;
	color:#dd2334;
	}
.scsy_15f div.scsy_ft li a.a_h {
	background-position:center -476px;
	color:#dd2334;
	}
/*15f end*/
/*scsy_f end*/
/*scsy_ff*/
.scsy_ff {
	background:#fff;
	width:36px;
	height:526px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-263px;
	margin-left:-656px;
	z-index:99999;
	display:none;
	}
.scsy_ff1 {
	background:url(http://image.weitainet.com/images/index/scsy_ff.png) no-repeat;
	width:36px;
	height:526px;
	}
.scsy_ff ul {
	}
.scsy_ff li {
	width:36px;
	height:35px;
	line-height:35px;
	}
.scsy_ff a {
	width:34px;
	height:34px;
	line-height:34px;
	display:inline-block;
	border:1px solid #b3b3b3;
	border-bottom:none;
	}
.scsy_ff a.a_h {
	background:#fff;
	color:#b22031;
	}
.scsy_ff a span {
	width:34px;
	font-size:12px;
	color:#fff;
	text-align:center;
	display:none;
	}
.scsy_ff a.a_h span {
	color:#b22031;
	display:inline-block;
	}
.scsy_ff a:hover {
	width:32px;
	height:32px;
	position:relative;
	border:2px solid #b22031;
	}
.scsy_ff a:hover span {
	background:#b22031;
	width:32px;
	font-size:12px;
	color:#fff;
	text-align:center;
	display:inline-block;
	}
/*scsy_ff end*/
/*scsy_go*/
.scsy_go {
	width:158px;
	height:257px;
	position:fixed;
	top:52px;
	right:50%;
	margin-right:-730px;
	z-index:999999;
	display:none;
	}
.scsy_go ul {
	}
.scsy_go li {
	background:url(http://image.weitainet.com/images/scsy_gd.png) no-repeat;
	background-position:center -72px;
	height:27px;
	line-height:27px;
	padding:0px 35px 10px 29px;
	text-align:center;
	}
.scsy_go li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	}
.scsy_go li a:hover {
	color:#ffffcc;
	}
.scsy_go li.li_t {
	background-position:center 0px;
	height:52px;
	line-height:52px;
	padding:20px 35px 0px 29px;
	text-align:center;
	}
.scsy_go li.li_t a {
	font-size:20px;
	}
.scsy_go li.li_b {
	background-position:center -219px;
	height:27px;
	line-height:27px;
	padding:0px 54px 11px 29px;
	text-align:right;
	}
.scsy_go li.li_b a {
	font-size:12px;
	}
/*scsy_go end*/
/*scsy_ss*/
.scsy_ss {
	background:url(http://image.weitainet.com/images/index/scsy_ss.png) repeat-x;
	width:100%;
	height:52px;
	position:fixed;
	top:0px;
	z-index:999999;
	display:none;
	}
.scsy_ss1200 {
	width:1200px;
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-600px;
	}
.scsy_ss_logo {
	width:220px;
	margin:2px 0 0 24px;
	float:left;
	display:inline-block;
	font-family:"宋体";
	font-size:0px;
	}
.scsy_ss_logo img {
	width:112px;
	height:45px;
	}
.scsy_ss_c {
	width:710px;
	height:34px;
	line-height:34px;
	margin:7px 0 0 0;
	position:relative;
	float:left;
	display:inline-block;
	}
.scsy_ss_c input {
	vertical-align:middle;
	}
.scsy_ss_c input.in_t {
	width:608px;
	height:30px;
	line-height:30px;
	padding:0 6px;
	border:2px solid #999;
	border-right:none;
	outline:none;
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
	}
.scsy_ss_c input.in_bu {
	background:#bb2b2b;
	width:88px;
	height:34px;
	line-height:34px;
	border:none;
	cursor:pointer;
	outline:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#fff;
	}	
.scsy_ss_c input.in_bu:hover {
	background:#cc3333;
	}
.scsy_ss_cxl {
	background:#fff;
	width:618px;
	border:1px solid #ccc;
	position:absolute;
	top:32px;
	left:2px;
	*top:33px;
	}
.scsy_ss_cxl li {
	height:24px;
	line-height:24px;
	display:inline-block;
	}
.scsy_ss_cxl li a {
	width:606px;
	padding:0 0 0 12px;
	display:inline-block;
	color:#666;
	}
.scsy_ss_cxl li a:hover {
	background:#eeeeee;
	color:#333;
	}
/*scsy_ss end*/
/*scsy end*/
@media screen and (max-width: 1366px) 
	{ 
		.scsy_ff {
			left:0px;
			margin-left:0px;
			} 
		.scsy_go {
			right:0px;
			margin-right:0px;
			} 
	} 

/*2016905 scsy_ss_tab*/
.part2 {
	overflow:inherit;
}
.scsy_ss {
}
.scsy_ss input {
	float:left;
}
.scsy_ss input.in_t {
	width:534px;
    padding:0 2px 0 84px;
}

.scsy_ss_tab {
	position:absolute;
	top:1px;
	left:1px;
}
.scsy_ss_tab ul {
	background:#fff;
	border:1px solid #999;
	height:30px;
	overflow:hidden;
}
.scsy_ss_tab li {
	width:76px;
	height:30px;
	line-height:30px;
}
.scsy_ss_tab li.li_h a {
	background:url(http://image.weitainet.com/images/index/scsy_ss_tab.png) no-repeat;
	background-position:60px 0px;
}
.scsy_ss_tab ul:hover li.li_h a {
	background:url(http://image.weitainet.com/images/index/scsy_ss_tab.png) no-repeat;
	background-position:60px -30px;
}
.scsy_ss_tab ul:hover {
	height:auto;
}
.scsy_ss_tab li a {
	width:68px;
	color:#333;
	padding:0 0 0 8px;
	display:inline-block;
}
.scsy_ss_tab li:hover,.scsy_ss_tab li.li_h {
	background:#f5f5f5;
}
.scsy_ss_tab li a:hover {
	background:none;
}
.scsy_ss_tab li.li_h a:hover {
	background:url(http://image.weitainet.com/images/index/jch_top_cl_b_tab.png) no-repeat;
	background-position:60px -24px;
}

.scsy_ss_cxl {
	width:542px;
    top:32px;
    left:78px;
}
.scsy_ss_cxl li {
}
.scsy_ss_cxl li a {
	width: 530px;
}
/*2016905 scsy_ss_tab end*/
