/* Media queries */
@media only screen and (max-width: 1300px) {
	.tn-mainres-r {width: 495px;}
	.tn-mainres-r .tn-listcol2 > li {
		width: 33.3333%;
	}
}
@media only screen and (max-width: 1250px) {
	.tn-fnav a {margin:0 4px;}
}
@media only screen and (max-width: 1142px) {
	.tn-nolist_carousel2 > ul > li {width:25%;}
	.tn-mainres-r {width: 335px;}
	.tn-mainres-r .tn-listcol2 > li {
		width: 50%;
	}
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 990px) {
	
}
@media only screen and (max-width: 850px) {
}
@media only screen and (max-width: 675px) {
}
@media only screen and (max-width: 420px) {
}
@media only screen and (max-width: 320px) {
}
#loading{position:fixed;_position:absolute;top:expression(3+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');right:expression(3+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');right:3px;top:3px;display:none;height:25px;box-shadow:0px 0 2px 1px #FFFFFF;width:80px;background:#ccc url(../images/loading_2.gif) 10px center no-repeat;border:1px solid #ccc;font-size:11px;line-height:25px;font-weight:bold;color:#666;padding-left:35px}
.paginationEpMovies span:hover, .paginationEpMovies span.active {
    background-color: #7bda37;
    background-image: linear-gradient(to top, #73d32d, #64c61c);
    color: #fff !important;
}