body{color:#cac8c8;font-weight:400;height:100%;font-family:'Open Sans',sans-serif;}
a:hover, a:focus { outline: 0 none; }
.tn-breadcrumb { background-color: #1a1a1a; padding: 12px 0 12px 20px; position: relative; }
.breadcrumb { background-color: transparent; margin: 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; list-style: none outside none; padding: 8px 15px; }
.breadcrumb > .active { color: #77d539; }
.breadcrumb a { color: #FFF; text-decoration: none }
.breadcrumb a:hover { color: #77d539; }
.breadcrumb>li+li:before { content: ""; width: 20px; background-image: url(../images/arr-right-sm.png); background-repeat: no-repeat; background-position: center center; display: inline-block; height: 10px; }
.form-control-def { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; font-family: Arial, Helvetica, sans-serif; }
.box-bglight { background-color: #FFF; padding: 10px 5px; }
.box-bglight .mCSB_scrollTools { width: 6px; }
.box-bglight .mCSB_inside > .mCSB_container { margin-right: 10px; }
.row20.row { margin-left: -10px; margin-right: -10px; }
.row20.row .col-xs-1, .row20.row .col-sm-1, .row20.row .col-md-1, .row20.row .col-lg-1, .row20.row .col-xs-2, .row20.row .col-sm-2, .row20.row .col-md-2, .row20.row .col-lg-2, .row20.row .col-xs-3, .row20.row .col-sm-3, .row20.row .col-md-3, .row20.row .col-lg-3, .row20.row .col-xs-4, .row20.row .col-sm-4, .row20.row .col-md-4, .row20.row .col-lg-4, .row20.row .col-xs-5, .row20.row .col-sm-5, .row20.row .col-md-5, .row20.row .col-lg-5, .row20.row .col-xs-6, .row20.row .col-sm-6, .row20.row .col-md-6, .row20.row .col-lg-6, .row20.row .col-xs-7, .row20.row .col-sm-7, .row20.row .col-md-7, .row20.row .col-lg-7, .row20.row .col-xs-8, .row20.row .col-sm-8, .row20.row .col-md-8, .row20.row .col-lg-8, .row20.row .col-xs-9, .row20.row .col-sm-9, .row20.row .col-md-9, .row20.row .col-lg-9, .row20.row .col-xs-10, .row20.row .col-sm-10, .row20.row .col-md-10, .row20.row .col-lg-10, .row20.row .col-xs-11, .row20.row .col-sm-11, .row20.row .col-md-11, .row20.row .col-lg-11, .row20.row .col-xs-12, .row20.row .col-sm-12, .row20.row .col-md-12, .row20.row .col-lg-12 { padding-left: 10px; padding-right: 10px; }
.row10.row { margin-left: -5px; margin-right: -5px; }
.row10.row .col-xs-1, .row10.row .col-sm-1, .row10.row .col-md-1, .row10.row .col-lg-1, .row10.row .col-xs-2, .row10.row .col-sm-2, .row10.row .col-md-2, .row10.row .col-lg-2, .row10.row .col-xs-3, .row10.row .col-sm-3, .row10.row .col-md-3, .row10.row .col-lg-3, .row10.row .col-xs-4, .row10.row .col-sm-4, .row10.row .col-md-4, .row10.row .col-lg-4, .row10.row .col-xs-5, .row10.row .col-sm-5, .row10.row .col-md-5, .row10.row .col-lg-5, .row10.row .col-xs-6, .row10.row .col-sm-6, .row10.row .col-md-6, .row10.row .col-lg-6, .row10.row .col-xs-7, .row10.row .col-sm-7, .row10.row .col-md-7, .row10.row .col-lg-7, .row10.row .col-xs-8, .row10.row .col-sm-8, .row10.row .col-md-8, .row10.row .col-lg-8, .row10.row .col-xs-9, .row10.row .col-sm-9, .row10.row .col-md-9, .row10.row .col-lg-9, .row10.row .col-xs-10, .row10.row .col-sm-10, .row10.row .col-md-10, .row10.row .col-lg-10, .row10.row .col-xs-11, .row10.row .col-sm-11, .row10.row .col-md-11, .row10.row .col-lg-11, .row10.row .col-xs-12, .row10.row .col-sm-12, .row10.row .col-md-12, .row10.row .col-lg-12 { padding-left: 5px; padding-right: 5px; }
.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.ml05 { margin-left:05px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.mr05 { margin-right:05px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }
/*
  01_2.Title
--------------------------------------------------------------*/
/*
  01_3.Icon
--------------------------------------------------------------*/
.sparrow-up { width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #FFFFFF; }
.sparrow-down { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #f00; }
.sparrow-right { width: 0; height: 0; border-top: 60px solid transparent; border-bottom: 60px solid transparent; border-left: 60px solid green; }
.sparrow-left { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid blue; }
.tnico-news, .tnico-movie, .tnico-drama, .tnico-tvshow, .tnico-more, .tnico-search { height: 44px; width: 64px; display: block; background-image: url(../images/icon-menu.png); margin-bottom: 5px; }
.tnico-movie { background-position: 0 0; }
.tnico-drama { background-position: -64px 0; }
.tnico-tvshow { background-position: -128px 0; }
.tnico-more { background-position: -192px 0; }
.tnico-search { background-position: -256px 0; }
li:hover .tnico-movie { background-position: 0 -44px; }
li:hover .tnico-drama { background-position: -64px -44px; }
li:hover .tnico-tvshow { background-position: -128px -44px; }
li:hover .tnico-more { background-position: -192px -44px; }
li:hover .tnico-search { background-position: -256px -44px; }
/*
  01_4.Button
--------------------------------------------------------------*/
/*.btn{-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}*/
.btn:hover, .btn:focus, .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 none; }
.tn-btn-view { color: #FFF; background-color: #67c920; border-color: #67c920 }
.tn-btn-view2 { color: #FFF; background-color: #aeaeae; border-color: #aeaeae }
.btn-link.facebookLogin { background-color: #3b559f; color: #FFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-decoration: none !important; font-size: 12px; font-weight: bold }
.btn-link.googleLogin { background-color: #da4835; color: #FFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-decoration: none !important; font-size: 12px; font-weight: bold }
.btn-link.facebookLogin .fa { font-size: 24px; position: relative; top: 5px; margin-right: 5px; margin-top: -5px; }
.btn-link.googleLogin .fa { font-size: 24px; position: relative; top: 5px; margin-right: 5px; margin-top: -5px; }
.tn-btn-default { background-color: #7bda37; background-image: -webkit-linear-gradient(bottom, #73d32d, #64c61c); background-image: -moz-linear-gradient(bottom, #73d32d, #64c61c); background-image: -o-linear-gradient(bottom, #73d32d, #64c61c); background-image: linear-gradient(to top, #73d32d, #64c61c); color: #FFF !important; text-transform: uppercase; font-weight: 400 }
.tn-btn-default2 { background-color: #7bda37; background-image: -webkit-linear-gradient(bottom, #7e7e7e, #a3a3a3); background-image: -moz-linear-gradient(bottom, #7e7e7e, #a3a3a3); background-image: -o-linear-gradient(bottom, #7e7e7e, #a3a3a3); background-image: linear-gradient(to top, #7e7e7e, #a3a3a3); color: #FFF !important; text-transform: uppercase; font-weight: bold }
.btn-actions, .btn-actions:focus { background-color: #0e0e0e; color: #cac8c8; padding: 6px 20px; text-decoration: none; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; display: inline-block; }
.btn-actions:hover, .btn-actions.active, .btn-actions:focus.active { background-color: #7bda37; color: #FFF; text-decoration: none; }
.btn-actions .fa { margin-right: 5px; }
.btn-default2 { background-color: #f5f5f5; border: 1px solid #cdcdcd; color: #a9a9a9; font-family: Arial, Helvetica, sans-serif; padding-left: 50px; padding-right: 50px; }
.tn-spbtn { background-color: transparent; text-transform: uppercase; font-weight: 400; display: inline-block; font-size: 14px; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; }
.tn-btn-warning { background-color: #e74c3c; background-image: -webkit-linear-gradient(bottom, #e74c3c, #e74c3c); background-image: -moz-linear-gradient(bottom, #e74c3c, #e74c3c); background-image: -o-linear-gradient(bottom, #e74c3c, #e74c3c); background-image: linear-gradient(to top, #e74c3c, #e74c3c); color: #FFF !important; text-transform: uppercase; font-weight: 400 }
.btn-pad2 { padding-left: 30px !important; padding-right: 30px !important; }
.btn-gray { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #d8d7d7; background-image: -webkit-linear-gradient(bottom, #9d9d9d, #ccc); background-image: -moz-linear-gradient(bottom, #9d9d9d, #ccc); background-image: -o-linear-gradient(bottom, #9d9d9d, #ccc); background-image: linear-gradient(to top, #9d9d9d, #ccc); color: #454545; border-color: #ccc; text-transform: uppercase; }
.btn-gray:hover { background-image: none; background-color: #d8d7d7; }
/*
  01_5.Color
--------------------------------------------------------------*/
.tn-pcolor1, a.tn-pcolor1 { color: #6ecf28;font-weight: 400; text-transform: uppercase; }
.tn-pcolor2 { color: #ffc000 }
.tn-pcolor3, a.tn-pcolor3 { color: #e74c3c }
/*====================================================================================
─ 02.Layout
====================================================================================*/
.tn-wrapper { }
.tn-header-full, .tn-main-full, .tn-footer-full { width: 100%; margin: auto; }
.tn-header, .tn-main, .tn-footer, .tn-wrapfix, .tn-searchtop .input-group { position: relative; max-width: 1600px; min-width: 990px; margin: 0 auto; }
.tn-main2 { width: 960px; margin: 0 auto; }
/*header*/
.tn-header-full { -webkit-box-shadow: 2px 3px 3px rgba(1, 2, 2, .18); -moz-box-shadow: 2px 3px 3px rgba(1, 2, 2, .18); box-shadow: 2px 3px 3px rgba(1, 2, 2, .18); position: relative; z-index: 3; }
.tn-main-full { position: relative; z-index: 2; }
.tn-header { }
.tn-logo { float: left; margin: 0 0px 0 0; padding: 0; }
.tn-logo a { position: relative; display: inline-block; width: 155px; height: 80px; padding-left: 25px; padding-top: 5px; }
.tn-logo a img { height:auto; width:auto; }
.tn-gnav { float: left; margin-top: 8px; }
.tn-gnav > ul { margin: 0; padding: 0; }
.tn-gnav > ul > li { list-style-type: none; float: left; }
.tn-gnav > ul > li > a { text-decoration: none; text-align: center; display: inline-block; margin: 0 25px; color: #000000 }
.tn-gnav > ul > li:hover > a { color: #7bda37 }
.tn-gnav > ul > li > a > span:after { display: block; content: " "; }
.tn-gnav > ul > li:hover .tn-gnavsub { display: block; }
.tn-gnavsub { position: absolute; width: 100%; left: 0; top: 75px; z-index: 2000; display: none; }
.gnavsub { margin-top: 5px; border-top: 3px solid #76d439; background-color: #FFF; padding: 10px 0; }
.gnavsub > ul { margin: 0 0 0 175px; padding: 0; width: 560px; }
.gnavsub > ul > li { float: left; width: 25%; list-style-type: none; }
.gnavsub > ul > li > a { display: block; padding: 5px 10px; color: #000000; }
.gnavsub > ul > li > a:hover { color: #7bda37; text-decoration: none; }
.tn-notif { float: right; margin-top: 21px; padding-right: 20px; }
.tn-notif > ul { margin: 0; padding: 0; }
.tn-notif > ul > li { float: left; list-style-type: none; }
.tn-notif > ul > li > a { display: inline-block; height: 40px; width: 40px; padding: 10px; background-color: #f4f4f4; margin-left: 10px; position: relative; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.tn-notif > ul > li.avatarHeader > a { padding: 0; }
.tn-notif > ul > li > a > i { font-size: 20px; color: #d4d4d4; }
.haveNotifications { position: absolute; top: -5px; right: -5px; display: inline-block; padding: 0 5px 2px; color: #FFF; background-color: #F00; font-size: 12px; line-height: 20px; }
.tn-notif > ul > li.open > a { -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); }
.tn-notif > ul > li.open > a .sparrow-up { display: block; }
.tn-notif > ul > li > a .sparrow-up { position: absolute; bottom: -12px; left: 50%; margin-left: -12px; z-index: 1010; display: none; }
.tn-notif > ul > li > .dropdown-menu { margin-top: 10px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: 0 0 21px rgba(1, 2, 2, .35); -moz-box-shadow: 0 0 21px rgba(1, 2, 2, .35); box-shadow: 0 0 21px rgba(1, 2, 2, .35); }
.tn-notif > ul > li > .dropdown-menu a { color: #808080; padding-top: 8px; padding-bottom: 8px; }
.tn-notif > ul > li > .dropdown-menu a .fa { margin-right: 5px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-txt { padding-top: 8px; padding-bottom: 8px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-txt a { display: inline; margin: 0; padding: 0; color: #5baa26 }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-txt a:hover { background-color: transparent; text-decoration: underline; background-image: none; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-txt > li { padding-left: 10px; padding-right: 10px; min-width: 215px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media { padding-top: 9px; padding-bottom: 9px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media a { display: inline; margin: 0; padding: 0; color: #5baa26 }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media a:hover { background-color: transparent; text-decoration: underline; background-image: none; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media > li { padding-left: 10px; padding-right: 10px; min-width: 215px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media a.pull-left { margin-right: 10px; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media > li.media-end a { display: block; text-decoration: none; margin-top: 10px; padding: 10px; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.tn-notif > ul > li > .dropdown-menu.tn-dropdown-media > li.media-end a:hover { -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); }
.bannersld-control a {
    display: block;
    opacity: 0;
    outline: medium none;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    z-index: 1000;
}
.bannersld-control a:hover, .tn-banner:hover .bannersld-control a {
    opacity: 1;
}
.bannersld-control a.tn-prevsty { height: 100%; left: 0;  margin-left: 0;  width: 70px; }
.bannersld-control a.tn-nextsty { height: 100%;  margin-right: 0;  right: 0;  width: 70px; }
.bannersld-control a.tn-nextsty:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 0, 0, 0), rgba(73, 71, 71, 1)) repeat scroll 0 0;
}
.bannersld-control a.tn-prevsty:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(73, 71, 71, 1), rgba(255, 0, 0, 0)) repeat scroll 0 0;
}
.nav-circlepop a { margin: 0 30px; width: 50px; height: 50px; }
.nav-circlepop a::before {
	content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 100%;
}
.nav-circlepop .icon-wrap { position: relative; display: block; margin: 10% 0 0 10%; width: 50px; height: 80px;top: 40%; }
.nav-circlepop a.tn-nextsty .icon-wrap { transform: rotate(180deg); }
.nav-circlepop .icon-wrap::before, .nav-circlepop .icon-wrap::after {
	backface-visibility: hidden;
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 50%;
    left: 25%;
    position: absolute;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
    width: 3px;
}
.nav-circlepop .icon-wrap::before {
transform: translateX(-50%) rotate(30deg);
transform-origin: 0 100%;
}
.nav-circlepop .icon-wrap::after {
top: 50%;
transform: translateX(-50%) rotate(-30deg);
transform-origin: 0 0;
}
.nav-circlepop a:hover::before {
opacity: 0.3;/* -webkit-transform: scale(1); transform: scale(1);*/
}
.nav-circlepop a:hover .icon-wrap::before, .nav-circlepop a:hover .icon-wrap::after {
background: #7bda37 none repeat scroll 0 0;
}
.nav-circlepop a:hover .icon-wrap::before {
transform: translateX(-50%) rotate(45deg);
}
.nav-circlepop a:hover .icon-wrap::after {
transform: translateX(-50%) rotate(-45deg);
}
.tn-bannersld { max-width: 100%; height: auto; }
.bannersld-in a { display: block; }
.bannersld-in img { width: 100%; height: auto; }
.bannersld-txt { position: absolute; left: 190px; bottom: 35px; z-index: 500; height: 42px; line-height: 42px; background-color: #FFF; background-color: rgba(255, 255, 255, 0.8); color: #434343; font-size: 18px; margin: 0; padding: 0 20px; }
.bannersld-paper { position: absolute; left: 35px; bottom: 35px; z-index: 500 }
.bannersld-paper { margin: 0; padding: 0; }
.bannersld-paper > li { float: left; list-style-type: none; margin-right: 10px; height: 42px; width: 42px; overflow: hidden; cursor: pointer; border: 2px solid #FFF; border-radius: 50%;}
.bannersld-paper > li.cycle-pager-active { border-color: #7bda37 }
.bannersld-paper > li img { width: 40px; height: auto; }
.tn-newsBox { background-color: #fff; -webkit-box-shadow: 0 2px 3px rgba(1, 2, 2, .11); -moz-box-shadow: 0 2px 3px rgba(1, 2, 2, .11); box-shadow: 0 2px 3px rgba(1, 2, 2, .11); text-align: center; padding-top: 5px; padding-bottom: 10px; font-size: 18px; color: #000000; position: relative; }
.newsBox-in { width: 100%; }
.newsBox-in p { margin: 3px 0; }
.newsBox-prev, .newsBox-next { font-size: 35px; color: #d6d6d6; position: absolute; z-index: 500; left: 50%; margin-left: -20px; display: inline-block; height: 35px; width: 40px; line-height: 35px; cursor: pointer; transition: color 0.3s ease; -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; }
.newsBox-prev:hover, .newsBox-next:hover { color: #7bda37 }
.tn-newsBox { margin-bottom: 40px; }
.tn-newsBox { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.tn-newsBox p { -webkit-user-select: initial; -khtml-user-select: initial; -moz-user-select: -moz-all; -o-user-select: initial; user-select: initial; }
.newsBox-prev .fa, .newsBox-next .fa { display: inline-block; height: 35px; width: 40px; line-height: 35px; }
.newsBox-prev { top: 5px; }
.newsBox-next { bottom: 5px; }
.tn-boxsty-tt:after { content: ""; display: block; clear: both; }
.tn-boxsty-tt h2, .tn-boxsty-tt h4, .tn-boxsty-tt h3.similar { float: left; margin: 0 10px 0 0; padding: 0; font-size: 500; font-size: 18px; line-height: 40px; text-decoration: none; padding-right: 20px; color: #FFF; text-transform: uppercase; font-weight: 300; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.tn-boxright .tn-boxsty-tt h2, .tn-boxright .tn-boxsty-tt h4 { float: none; display: inline-block; }
.tn-boxsty-tt h2 a, .tn-boxsty-tt h4 a, .tn-boxsty-tt h3.similar a { display: block; color: #fff; font-weight:normal; text-decoration: none; }
.tn-boxsty-tt h2 .fa, .tn-boxsty-tt h4 .fa, .tn-boxsty-tt h3.similar .fa { font-size: 14px; margin-left: 10px; position: relative; top: -2px; }
.tn-boxsty-tt ul { margin: 0; padding: 0; float: left; }
.tn-boxsty-tt ul li { list-style-type: none; float: left; line-height: 40px; }
.tn-boxsty-tt ul li a { padding: 0 15px; line-height: 40px; color: #808080; display: inline-block; }
.tn-boxsty-tt ul li a:hover, .tn-boxsty-tt ul li a.active { cursor: pointer; color: #67c920; text-decoration: none; }
.tn-boxsty-tt-search ul li a:hover, .tn-boxsty-tt-search ul li a.active { background: red !important; color: #ffffff; }
.boxsty-tt-all { float: right; line-height: 40px; display: inline-block; color: #67c920 }
.boxsty-tt-all:hover, .boxsty-tt-all:focus { color: #67c920 }
.tn-boxsty { margin: 20px 15px; }
.tn-boxsty:after { content: ""; display: block; clear: both; }
.tn-list_carousel { width: auto; margin: 0; padding: 0; position: relative; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.tn-list_carousel ul { margin: 0; padding: 0; list-style: none; display: block; }
.tn-list_carousel ul:after { content: ""; display: block; clear: both; }
.tn-list_carousel li { float: left; width: 180px; }
.tn-bxitem { width: 180px; height: 260px; overflow: hidden; position: relative; margin: auto; }
.bxitem-txt {
    background-color:hsla(0,0%,0%,0.71);
    bottom: 0;
    color: #fff;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.bxitem-link { display: inline-block; width: 180px; cursor: pointer !important; }
.bxitem-img { display: block; height: 260px; overflow: hidden; width: 180px; }
.bxitem-over_play { background-image: url(../images/overlay_rich.png); background-size: cover;height: 60px; width: 60px; display: inline-block; position: absolute; left: 50%; margin-left: -40px; top: 50%; margin-top: -40px; opacity: 0; filter: alpha(opacity=0); transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.bxitem-link:hover .bxitem-over_play { opacity: 1; filter: alpha(opacity=100); }
.bxitem-episodes span {
    background-color: rgba(125, 217, 56, 0.8);
    border-radius: 25px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    z-index: 2;
}
.tagsInfo { display: inline-block; width: 35px; height: 35px; color: #fff; text-align: center; line-height: 35px; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; margin: 0 3px; }
.tagsInfo.tagsInfo-hd { line-height: 14px; font-size: 10px; padding-top: 5px; }
.tagsInfo.tagsInfo-hd strong { font-weight: normal; font-size: 14px; display: block; }
.tagsInfo.tagsInfo-500 { font-size: 12px; line-height: 14px; padding: 2px 0; }
.tagsInfo.tagsInfo-500 strong { font-weight: normal; display: block; border-top: 1px solid #FFF; margin-left: 3px; margin-right: 3px; }
.greenTag { background-color: #7bda37; }
.orangeTag { background-color: #e67e22; }
.redTag { background-color: #e74c3c; }
.cluetip-inner .name-vi { color: #6ecf28; text-transform: uppercase; font-weight: 500 }
.cluetip-inner .name-en { width: 310px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.cluetip-inner p { margin-bottom: 5px; }
.tn-contentdecs { border-top: 1px solid #cccccc; color: #727272; padding-top: 8px; text-align: justify; }
.tip-info-bottom { margin: 0 0 10px; padding: 0; }
.tip-info-bottom:after { display: block; content: ""; clear: both; }
.tip-info-bottom > li { float: left; list-style-type: none; }
.tip-info-bottom > li .tn-btn-view { margin-top: 2px; margin-right: 15px; }
.tn-main-full {background-color:#1a1a1a;}
.tn-main { min-height: 500px; padding-bottom: 1px; overflow: hidden; }
.tn-boxsty-dv .tn-list_carousel { margin: 0 -9px; }
.tn-bxitem { margin: 20px auto; }
.tn-prevsty2, .tn-nextsty2 { position: absolute; top: 50%; margin-top: -22px; display: inline-block; width: 42px; height: 42px; text-indent: -9999px; cursor: pointer; z-index: 600; opacity: 0; filter: alpha(opacity=0); transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.tn-prevsty2 { left: -10px; background-image: url(../images/arr-left.png) }
.tn-nextsty2 { right: -10px; background-image: url(../images/arr-right.png) }
.tn-boxsty-dv:hover .tn-list_carousel .tn-prevsty2 { left: 0; opacity: 0.7; filter: alpha(opacity=100); }
.tn-boxsty-dv:hover .tn-list_carousel .tn-nextsty2 { right: 0; opacity: 0.7; filter: alpha(opacity=100); }
.tn-ico-cycle i { display: inline-block; font-size: 0px; cursor: pointer; margin: 5px 10px; width: 40px; height: 40px; border-radius: 50%; text-align: center; position: relative; z-index: 1; color: #fff; }
.tn-ico-cycle i:after { pointer-events: none; position: absolute; width: 100%; height: 100%; moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; content: ''; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.tn-ico-cycle i:before { speak: none; font-size: 28px; line-height: 40px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; display: block; -webkit-font-smoothing: antialiased; }
/* Effect 3 */
.tn-ico-cycle i { -moz-box-shadow: 0 0 0 4px #313030; -webkit-box-shadow: 0 0 0 4px #313030; box-shadow: 0 0 0 4px #313030; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; }
.tn-ico-cycle i:after { top: -2px; left: -2px; padding: 2px; z-index: -1; background: #fff; -webkit-transition: -webkit-transform 0.2s, opacity 0.3s; -moz-transition: -moz-transform 0.2s, opacity 0.3s; transition: transform 0.2s, opacity 0.3s; }
/* Effect 3a */
.tn-ico-cycle i { color: #FFF; }
.tn-ico-cycle i:hover { color: #313030; background-color: #FFF }
.tn-ico-cycle i:hover:after { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); opacity: 0; }
.tn-ico-cycle i.icon-facebook:after { background-color: #3f67a9 }
.tn-ico-cycle i.icon-facebook:hover { color: #3f67a9; -moz-box-shadow: 0 0 0 4px #3f67a9; -webkit-box-shadow: 0 0 0 4px #3f67a9; box-shadow: 0 0 0 4px #3f67a9; }
.tn-ico-cycle i.icon-google-plus:after { background-color: #c63727 }
.tn-ico-cycle i.icon-google-plus:hover { color: #c63727; -moz-box-shadow: 0 0 0 4px #c63727; -webkit-box-shadow: 0 0 0 4px #c63727; box-shadow: 0 0 0 4px #c63727; }
.tn-ico-cycle i.icon-yahoo:after { background-color: #9f1891 }
.tn-ico-cycle i.icon-yahoo:hover { color: #9f1891; -moz-box-shadow: 0 0 0 4px #9f1891; -webkit-box-shadow: 0 0 0 4px #9f1891; box-shadow: 0 0 0 4px #9f1891; }
.tn-ico-cycle i.icon-twitter:after { background-color: #00ABF0 }
.tn-ico-cycle i.icon-twitter:hover { color: #00ABF0; -moz-box-shadow: 0 0 0 4px #00ABF0; -webkit-box-shadow: 0 0 0 4px #00ABF0; box-shadow: 0 0 0 4px #00ABF0; }
/*.cycle_green*/
.tn-ico-cycle_green i { display: inline-block; font-size: 0px; cursor: pointer; margin: 5px 5px; width: 36px; height: 36px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-align: center; position: relative; z-index: 1; color: #FFF; }
.tn-ico-cycle_green i:after { pointer-events: none; position: absolute; width: 100%; height: 100%; /*border-radius: 50%;*/ moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; content: ''; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.tn-ico-cycle_green i:before { speak: none; font-size: 24px; line-height: 36px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; display: block; -webkit-font-smoothing: antialiased; }
/* Effect 5 */
.tn-ico-cycle_green i { box-shadow: 0 0 0 1px #7bda37; background: #7bda37; overflow: hidden; -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s; -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s; transition: background 0.3s, color 0.3s, box-shadow 0.3s; }
.tn-ico-cycle_green i:after { display: none; }
.tn-ico-cycle_green:hover i { background: #FFFFFF; color: #7bda37; box-shadow: 0 0 0 1px #7bda37; }
/* Effect toRightFromLeft */
.tn-ico-cycle_green:hover i:before { -webkit-animation: toRightFromLeft 0.3s forwards; -moz-animation: toRightFromLeft 0.3s forwards; animation: toRightFromLeft 0.3s forwards; }
 @-webkit-keyframes toRightFromLeft { 49% {
 -webkit-transform: translate(100%);
}
 50% {
 opacity: 0;
 -webkit-transform: translate(-100%);
}
 51% {
 opacity: 1;
}
}
@-moz-keyframes toRightFromLeft { 49% {
 -moz-transform: translate(100%);
}
 50% {
 opacity: 0;
 -moz-transform: translate(-100%);
}
 51% {
 opacity: 1;
}
}
@keyframes toRightFromLeft { 49% {
 transform: translate(100%);
}
 50% {
 opacity: 0;
 transform: translate(-100%);
}
 51% {
 opacity: 1;
}
}
.no-touch .hi-icon-effect-5b .hi-icon:hover:before { -webkit-animation: toLeftFromRight 0.3s forwards; -moz-animation: toLeftFromRight 0.3s forwards; animation: toLeftFromRight 0.3s forwards; }
 @-webkit-keyframes toLeftFromRight { 49% {
 -webkit-transform: translate(-100%);
}
 50% {
 opacity: 0;
 -webkit-transform: translate(100%);
}
 51% {
 opacity: 1;
}
}
@-moz-keyframes toLeftFromRight { 49% {
 -moz-transform: translate(-100%);
}
 50% {
 opacity: 0;
 -moz-transform: translate(100%);
}
 51% {
 opacity: 1;
}
}
@keyframes toLeftFromRight { 49% {
 transform: translate(-100%);
}
 50% {
 opacity: 0;
 transform: translate(100%);
}
 51% {
 opacity: 1;
}
}
.no-touch .hi-icon-effect-5c .hi-icon:hover:before { -webkit-animation: toTopFromBottom 0.3s forwards; -moz-animation: toTopFromBottom 0.3s forwards; animation: toTopFromBottom 0.3s forwards; }
 @-webkit-keyframes toTopFromBottom { 49% {
 -webkit-transform: translateY(-100%);
}
 50% {
 opacity: 0;
 -webkit-transform: translateY(100%);
}
 51% {
 opacity: 1;
}
}
@-moz-keyframes toTopFromBottom { 49% {
 -moz-transform: translateY(-100%);
}
 50% {
 opacity: 0;
 -moz-transform: translateY(100%);
}
 51% {
 opacity: 1;
}
}
@keyframes toTopFromBottom { 49% {
 transform: translateY(-100%);
}
 50% {
 opacity: 0;
 transform: translateY(100%);
}
 51% {
 opacity: 1;
}
}
.no-touch .hi-icon-effect-5d .hi-icon:hover:before { -webkit-animation: toBottomFromTop 0.3s forwards; -moz-animation: toBottomFromTop 0.3s forwards; animation: toBottomFromTop 0.3s forwards; }
 @-webkit-keyframes toBottomFromTop { 49% {
 -webkit-transform: translateY(100%);
}
 50% {
 opacity: 0;
 -webkit-transform: translateY(-100%);
}
 51% {
 opacity: 1;
}
}
@-moz-keyframes toBottomFromTop { 49% {
 -moz-transform: translateY(100%);
}
 50% {
 opacity: 0;
 -moz-transform: translateY(-100%);
}
 51% {
 opacity: 1;
}
}
@keyframes toBottomFromTop { 49% {
 transform: translateY(100%);
}
 50% {
 opacity: 0;
 transform: translateY(-100%);
}
 51% {
 opacity: 1;
}
}
.tn-tagf { background-color: #FFF; padding: 10px 25px 5px; }
.tn-socialf { float: left; margin-right: 10px; }
.tn-tagfin { float: left; padding-top: 7px; color: #cac8c8; }
.tn-atag { display: inline-block; background-color: #7bda37; color: #FFF; text-decoration: none; padding: 0 8px; line-height: 32px; margin-bottom: 3px; }
.tn-atag:hover, .tn-atag:focus { text-decoration: none; color: #333; }
.tn-logof { float: left; }
.tn-fnav { float: left; padding-left: 10px; border-left: 1px solid #3b3b3b; line-height: 36px; color: #FFF; }
.tn-fnav a { color: #FFF; display: inline-block; text-transform: uppercase; text-decoration: none; margin: 0 10px; }
.tn-fnav a:hover { color: #5baa26 }
.tn-footer-full { background-color: #161616 }
.tn-footer { padding: 7px 0 5px }
.tn-footer-r { text-align: center; font-weight: normal; color: #585858; line-height: 36px; }
.tn-bg-popup { background-color: rgba(0, 0, 0, 0.6); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9001; display: none; }
.tn-popup-in { position: fixed; z-index: 9010; left: 50%; top: 50px; display: none; background-color: #ffffff; color: #808080; }
.tn-popup-head { height: 60px; padding-top: 10px; color: #7bda37; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; text-align: center; font-weight: bold; font-size: 26px; line-height: 50px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-left-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
a.tn-popup-in-close { display: block; color: #a2a2a2; background-color: #f7f7f7; font-weight: bold; text-align: center; padding-top: 15px; padding-bottom: 13px; font-size: 14px; }
a.tn-popup-in-close:hover, a.tn-popup-in-close:focus { text-decoration: none; color: #FFF; background-color: #5baa26 }
.pp-xxlarge { width: 900px; margin-left: -450px; }
.pp-large { width: 660px; margin-left: -330px; }
.pp-medium { width: 450px; margin-left: -225px; }
.pp-small { width: 272px; margin-left: -136px; }
.tn-popup-txt { padding: 20px; color: #808080; }
.tn-popup-txt a {/* color: #808080 */ }
.tn-popup-title { text-transform: uppercase; line-height: normal; padding-bottom: 5px; border-bottom: 1px dashed #ADACAC; color: #ffffff; font-size: 20px; margin-bottom: 20px; }
.tn-popup-txt .socialLogin { margin-top: 30px; }
.tn-searchtop { height: 80px; position: absolute; z-index: 4001; top: 0; left: 0; width: 100%; background-color: #FFF; /*-webkit-box-shadow: 2px 3px 3px rgba(1, 2, 2, .18); -moz-box-shadow: 2px 3px 3px rgba(1, 2, 2, .18); box-shadow: 2px 3px 3px rgba(1, 2, 2, .18);*/ display: none; }
.tn-searchtop .form-control { font-size: 30px; height: 80px; border-color: transparent; }
.tn-searchtop .form-control, .tn-searchtop .form-control:focus { -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
#searchtop-close.btn { background-color: #ebebeb; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border-color: transparent; background-image: none; margin-left: 0; padding:0; line-height:15px; width:25px; height:25px; text-align:center; margin-right:5px; }
#searchtop-close.btn .fa { font-size: 14px; color: #FFF; }
#searchtop-close.btn:hover .fa { color: #5baa26 }
#tn-afilter { position: absolute; right: 30px; top: 50%; margin-top: -16px; display: inline-block; z-index: 100; color: #77d539; text-decoration: none; }
#tn-afilter .fa-angle-down { display: inline-block; }
#tn-afilter .fa-angle-up { display: none; }
#tn-afilter.active .fa-angle-up { display: inline-block; }
#tn-afilter.active .fa-angle-down { display: none; }
.tn-filterdv { position: absolute; width: 100%; left: 0; top: 60px; background-color: #1a1a1a; display: none; z-index: 3000; }
.tn-filterdv-wrap { padding: 1px 30px 30px }
.tn-filter-in { display: table; width: 100%; }
.tn-filter-in ul { margin: 0; padding: 0; }
.tn-filter-in ul li { list-style-type: none; }
.tn-filter-in > ul { display: table-row; }
.tn-filter-in > ul > li { display: table-cell; padding-right: 20px; }
.tn-filter-in > ul > li.last { padding-right: 0; }
.filter-item-lst:after { content: ""; clear: both; display: block; }
.filter-item-lst { max-width: 400px; }
.filter-item-lst > li { min-width: 110px; }
.filter-cat .filter-item-lst > li, .filter-country .filter-item-lst > li { width: 33.3333%; float: left; }
.filter-item-lst > li a { display: block; color: #FFF; margin: 5px 0; font-weight: 600; text-decoration: none; }
.filter-item-lst > li a:hover, .filter-item-lst > li a.active { color: #77d539; }
.filter-title { font-size: 14px; font-weight: bold; color: #77d539; display: block; margin-bottom: 10px; text-transform: uppercase; }
.tn-nolist_carousel > ul { margin: 0; padding: 0; }
.tn-nolist_carousel > ul:after { content: ""; display: block; clear: both; }
.tn-nolist_carousel > ul > li { list-style-type: none; float: left; }
.tn-boxsty-dv .tn-nolist_carousel { margin: 0 -9px; }
/*#searchtop-autocomp .tn-boxsty-dv .tn-nolist_carousel { height: 300px; overflow: hidden; }
#searchtop-autocomp .tn-boxsty { margin: 0 0 20px; }*/
#searchtop-autocomp { background-color: #FFF; position: absolute; display:block;}

.tn-nolist_carousel2 > ul { margin: 0; padding: 0; }
.tn-nolist_carousel2 > ul:after { content: ""; display: block; clear: both; }
.tn-nolist_carousel2 > ul > li { list-style-type: none; float: left; width: 16.6666%; padding: 0 10px; }
.tn-boxsty-dv .tn-nolist_carousel2 { margin: 0 -10px; }
.tn-boxsty-dv .tn-nolist_carousel2 { height: 95px; overflow: hidden; }
.tn-bxitem2 { padding: 20px 0; }
.tn-bxitem2 > a.pull-left { height: 65px; width: 65px; display: block; overflow: hidden; margin-right: 20px; }
.tn-bxitem2 > a.pull-left img { width:100%; height:auto; }
.tn-bxitem2 > p.media-body { padding-top: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; }
.tn-bxitem2 > p.media-body a { color: #767575; text-decoration: none; }
.tn-bxitem2 > p.media-body a:hover { color: #5baa26 }
.tn-pagination { text-align: center; margin-bottom: 30px; }
.pagination > li > a, .pagination > li > span { margin: 0 5px; }
.pagination > li > a, .pagination > li > span { color: #FFF; border-color: #808080; font-weight: bold; }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus { background-color: #F44336; color: #FFF; border-color: #F44336; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #F44336; color: #FFF; border-color: #F44336; }
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.tn-taginline, .tn-taginline a { color: #808080; font-weight: 600; }
.tn-taginline a:hover { color: #5baa26; text-decoration: none; }
.tn-playerdv { background-color: #1a1a1a }
.tn-wrapfix.playerdv-in { padding: 15px 45px; }
.tn-lockup-title { font-size: 16px; color: #cac8c8; text-transform: uppercase; margin: 10px auto 20px; width: 960px; }
.player-container { margin-bottom: 15px; }
.tn-sentiment-actions { text-align: center; }
.tn-sentiment-actions a { margin: 0 5px; }
.tn-filminfo { border-bottom: 1px solid #dfdede; position: relative; margin-bottom: 20px; }
.filminfo-view { position: absolute; right: 0; bottom: 0px; z-index: 10; font-size: 16px; color: #cac8c8; }
.filminfo-view .fa { color: #d5d5d5; font-size: 20px; }
.filminfo-tab:after { content: ""; display: block; clear: both; }
.filminfo-tab { margin: 0; padding: 0 }
.filminfo-tab > li { float: left; list-style-type: none; }
.filminfo-tab > li a { text-decoration: none; color: #cac8c8; border-bottom: 3px solid transparent; display: inline-block; padding: 5px 10px; margin-bottom: -1px; font-weight: 500; }
.filminfo-tab > li.active a { border-bottom: 3px solid #7bda37 }
.tn-main2 { padding-top: 40px; }
.tn-main-l { float: left; width: 600px; padding-bottom: 20px; padding-top: 1px; }
.tn-main-r { float: right; width: 320px; padding-top: 1px; }
.tn-main .tn-main2 { padding-top: 20px; }
.tn-mainres-l { float: left; margin-top: 20px; }
.tn-mainres-r { float: right; width: 655px; padding-left: 15px; margin-top: 20px; }
.tn-mainres-r .tn-listcol2 > li { width: 25%; }
.tn-breadcrumb-dv { overflow: hidden; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; color: #767575; text-transform: uppercase; }
.tn-breadcrumb-dv > div { display: inline-block; font-size: 14px; }
.tn-breadcrumb-dv > div a { color: #767575 }
.tn-breadcrumb-dv > h1 { display: inline-block; margin: 0; font-size: 14px; font-weight: 700; }
.media-filminfo { font-weight: 400; }
.media-filminfo.media > .pull-left { margin-right: 20px; }
.filminfo-fields { margin: 0 0 10px; padding: 0; }
.filminfo-fields > li { list-style-type: none; color: #cac8c8; }
.filminfo-fields > li a { color: #7bda37; }
.tn-texth3 { font-size: 14px; color: #767575; font-weight: bold; text-transform: uppercase; }
.group-filminfo-ul { margin: 0; padding: 0; }
.group-filminfo-ul > li { list-style-type: none; float: left; width: 50%; margin: 0 0 30px; }
.group-filminfo-ul > li a.pull-left { width:66px; height:66px; display:inline-block; overflow:hidden; }
.group-filminfo-ul > li a.pull-left img { width:100% !important; height:auto !important; }
.tn-boxright { margin-bottom: 30px; }
.tn-main-r .tn-boxsty-tt h4, .tn-boxsty-tt h3.similar { padding-left: 15px; padding-right: 15px; }
.tn-boxright .tn-boxsty-tt { margin-bottom: 20px; }
.tn-cus-scroll { }
.film-lienquan { max-height: 680px; }
.tn-listcol2 { margin: -10px -10px 0; padding: 0; }
.tn-listcol2:after { content: ""; display: block; clear: both; }
.tn-listcol2 > li { list-style-type: none; float: left; width: 50%; padding: 0 10px; }
.tn-listcol2 > li { }
.tn-boxright .tn-bxitem { margin: 10px 0; }
.tn-boxright .tn-bxitem, .tn-boxright .bxitem-link, .tn-boxright .bxitem-img { width: auto; height: 210px; overflow: hidden; }
.tn-boxright .tn-bxitem img { width: 100%; height: auto; }
.mCSB_inside > .mCSB_container { margin-right: 15px; }
.tn-uldef { margin: 0; padding: 0; }
.tn-uldef > li { list-style-type: none; }
.filmlist-danhsach, .filmlist-lichphatsong { max-height: 340px; }
.filmlist-danhsach .media-body p { margin-bottom: 5px; }
.filmlist-search { margin-bottom: 10px; }
.filmlist-tab { margin: 0 0 10px; padding: 0; }
.filmlist-tab > li { display: inline-block; margin: 0 10px 0 0; }
.filmlist-tab > li.last { margin-right: 0; }
.filmlist-tab > li a { text-transform: uppercase; color: #686868; font-weight: 500; font-size: 14px; text-decoration: none; }
#pictureF img { max-width: 100%; height: auto; }
.profile-ImageContainer { display: block; position: relative; }
.profile-ImageContainer:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; background-image: url(../images/bg-transpro.png); background-repeat: repeat-x; width: 100%; height: 190px; }
.profile-ImageContainer img { width: 100%; height: auto; }
.profile-ImageContainer-ch { position: absolute; right: 20px; top: 50%; margin-top: -15px; line-height: 30px; color: #333; background-color: #FFF; border: 1px solid #d7d7d7; padding: 0 10px; opacity: 0; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.profile-ImageContainer:hover .profile-ImageContainer-ch { opacity: 1; }
.profile-avatar { width: 160px; height: 160px; border: 5px solid #FFF; overflow: hidden; margin-top: -130px; margin-right: 10px; position: absolute; left: 20px; bottom: 20px; }
.profile-avatar a { display: block; }
.profile-avatar img { width: 100%; height: auto; }
.profile-avatar-ch { position: absolute; bottom: -30px; left: 0; width: 100%; padding: 0 10px; background-color: #000; background-color: rgba(0, 0, 0, 0.5); color: #FFF; line-height: 30px; height: 30px; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.profile-avatar a:hover .profile-avatar-ch { bottom: 0; }
.profile-name { position: absolute; left: 190px; bottom: 20px; color: #FFF; font-size: 28px; font-weight: 300; line-height: 30px; margin: 0; }
.profile-name a { color: #FFF; }
.profile-actions { position: absolute; right: 20px; bottom: 20px; }
.profile-actions > ul > li { float: left; margin-left: 20px; line-height: 34px; }
.profile-actions > ul > li.dropdown > a { color: #FFF; font-size: 16px; text-decoration: none; }
.profile-actions > ul > li.dropdown.open > a { color: #7bda37 }
.profile-actions > ul > li .dropdown-menu { padding: 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; margin-top: 20px; }
.profile-actions > ul > li .dropdown-menu > li { border-bottom: 1px solid #cdcdcd; padding: 0; }
.profile-actions > ul > li .dropdown-menu > li a { padding: 10px; }
.tn-box-maxheight { line-height: 20px; }
.tn-box-maxheight p { margin-bottom: 20px; }
.maxheightline-1 .tn-box-maxheight-in { max-height: 20px; overflow: hidden; }
.maxheightline-2 .tn-box-maxheight-in { max-height: 40px; overflow: hidden; }
.maxheightline-3 .tn-box-maxheight-in { max-height: 60px; overflow: hidden; }
.maxheightline-4 .tn-box-maxheight-in { max-height: 80px; overflow: hidden; }
.maxheightline-5 .tn-box-maxheight-in { max-height: 100px; overflow: hidden; }
.maxheightline-6 .tn-box-maxheight-in { max-height: 120px; overflow: hidden; }
.maxheightline-7 .tn-box-maxheight-in { max-height: 140px; overflow: hidden; }
.maxheightline-8 .tn-box-maxheight-in { max-height: 160px; overflow: hidden; }
.maxheightline-9 .tn-box-maxheight-in { max-height: 180px; overflow: hidden; }
.maxheightline-10 .tn-box-maxheight-in { max-height: 200px; overflow: hidden; }
.maxheightline-11 .tn-box-maxheight-in { max-height: 220px; overflow: hidden; }
.maxheightline-12 .tn-box-maxheight-in { max-height: 240px; overflow: hidden; }
.tn-box-maxheight.open .tn-box-maxheight-in { max-height: none; overflow: inherit; }
a.tn-btn-maxheight { text-decoration: none; color: #4db900; }
.tn-article-star h2 { font-weight: 300; }
.tn-main-mail { width: 960px; margin: 0 auto; background-color: #FFF; padding: 40px 0 1px; }
.main-mail-l { float: left; width: 180px; padding: 0 20px; }
.main-mail-r { overflow: hidden; padding-right: 20px; min-height: 400px; }
.main-mail-nav { margin: 0; padding: 0; }
.main-mail-nav > li { list-style-type: none; }
.main-mail-nav > li a { color: #808080; font-weight: 500; display: block; padding: 5px 0; }
.main-mail-nav > li a span { color: #7bda37; }
.mail-lst { font-weight: 500; margin: 0 0 20px; padding: 0; }
.mail-lst > li { list-style-type: none; padding: 5px; position: relative; line-height: 20px; overflow: hidden; }
.mail-lst > li.active .mail-lst-name { color: #7bda37 }
.mail-lst > li:hover { background-color: #f0f0f0; }
.mail-lst > li > span { display: inline-block; float: left; }
.mail-lst-name { width: 320px; overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; }
.mail-lst-sender { width: 130px; }
.mail-lst-time { width: 180px; }
.mail-lst-status { width: 110px; text-align: right; color: #7bda37 }
.mail-lst-link { position: absolute; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: transparent; }
.mail-content { min-height: 300px; }
.mail-content a { color: #7bda37 }
.pager li > a, .pager li > span { color: #7bda37 }
.mail-content-top h1 { margin: 0 0 5px; font-size: 22px; }
.tn-notif > ul > li > a.tnico-off { background-color: #7bda37; background-image: -webkit-linear-gradient(bottom, #73d32d, #64c61c); background-image: -moz-linear-gradient(bottom, #73d32d, #64c61c); background-image: -o-linear-gradient(bottom, #73d32d, #64c61c); background-image: linear-gradient(to top, #73d32d, #64c61c); color: #FFF !important; }
.tn-notif > ul > li > a.tnico-off > i { font-size: 24px; color: #FFF; }
.tn-popup-txt .form-horizontal .form-group { margin-left: -5px; margin-right: -5px; }
.tn-popup-txt .form-group .col-xs-1, .tn-popup-txt .form-group .col-sm-1, .tn-popup-txt .form-group .col-md-1, .tn-popup-txt .form-group .col-lg-1, .tn-popup-txt .form-group .col-xs-2, .tn-popup-txt .form-group .col-sm-2, .tn-popup-txt .form-group .col-md-2, .tn-popup-txt .form-group .col-lg-2, .tn-popup-txt .form-group .col-xs-3, .tn-popup-txt .form-group .col-sm-3, .tn-popup-txt .form-group .col-md-3, .tn-popup-txt .form-group .col-lg-3, .tn-popup-txt .form-group .col-xs-4, .tn-popup-txt .form-group .col-sm-4, .tn-popup-txt .form-group .col-md-4, .tn-popup-txt .form-group .col-lg-4, .tn-popup-txt .form-group .col-xs-5, .tn-popup-txt .form-group .col-sm-5, .tn-popup-txt .form-group .col-md-5, .tn-popup-txt .form-group .col-lg-5, .tn-popup-txt .form-group .col-xs-6, .tn-popup-txt .form-group .col-sm-6, .tn-popup-txt .form-group .col-md-6, .tn-popup-txt .form-group .col-lg-6, .tn-popup-txt .form-group .col-xs-7, .tn-popup-txt .form-group .col-sm-7, .tn-popup-txt .form-group .col-md-7, .tn-popup-txt .form-group .col-lg-7, .tn-popup-txt .form-group .col-xs-8, .tn-popup-txt .form-group .col-sm-8, .tn-popup-txt .form-group .col-md-8, .tn-popup-txt .form-group .col-lg-8, .tn-popup-txt .form-group .col-xs-9, .tn-popup-txt .form-group .col-sm-9, .tn-popup-txt .form-group .col-md-9, .tn-popup-txt .form-group .col-lg-9, .tn-popup-txt .form-group .col-xs-10, .tn-popup-txt .form-group .col-sm-10, .tn-popup-txt .form-group .col-md-10, .tn-popup-txt .form-group .col-lg-10, .tn-popup-txt .form-group .col-xs-11, .tn-popup-txt .form-group .col-sm-11, .tn-popup-txt .form-group .col-md-11, .tn-popup-txt .form-group .col-lg-11, .tn-popup-txt .form-group .col-xs-12, .tn-popup-txt .form-group .col-sm-12, .tn-popup-txt .form-group .col-md-12, .tn-popup-txt .form-group .col-lg-12 { padding-left: 5px; padding-right: 5px; }
.socialLogin.row { margin-left: -5px; margin-right: -5px; }
.socialLogin.row .col-xs-1, .socialLogin.row .col-sm-1, .socialLogin.row .col-md-1, .socialLogin.row .col-lg-1, .socialLogin.row .col-xs-2, .socialLogin.row .col-sm-2, .socialLogin.row .col-md-2, .socialLogin.row .col-lg-2, .socialLogin.row .col-xs-3, .socialLogin.row .col-sm-3, .socialLogin.row .col-md-3, .socialLogin.row .col-lg-3, .socialLogin.row .col-xs-4, .socialLogin.row .col-sm-4, .socialLogin.row .col-md-4, .socialLogin.row .col-lg-4, .socialLogin.row .col-xs-5, .socialLogin.row .col-sm-5, .socialLogin.row .col-md-5, .socialLogin.row .col-lg-5, .socialLogin.row .col-xs-6, .socialLogin.row .col-sm-6, .socialLogin.row .col-md-6, .socialLogin.row .col-lg-6, .socialLogin.row .col-xs-7, .socialLogin.row .col-sm-7, .socialLogin.row .col-md-7, .socialLogin.row .col-lg-7, .socialLogin.row .col-xs-8, .socialLogin.row .col-sm-8, .socialLogin.row .col-md-8, .socialLogin.row .col-lg-8, .socialLogin.row .col-xs-9, .socialLogin.row .col-sm-9, .socialLogin.row .col-md-9, .socialLogin.row .col-lg-9, .socialLogin.row .col-xs-10, .socialLogin.row .col-sm-10, .socialLogin.row .col-md-10, .socialLogin.row .col-lg-10, .socialLogin.row .col-xs-11, .socialLogin.row .col-sm-11, .socialLogin.row .col-md-11, .socialLogin.row .col-lg-11, .socialLogin.row .col-xs-12, .socialLogin.row .col-sm-12, .socialLogin.row .col-md-12, .socialLogin.row .col-lg-12 { padding-left: 5px; padding-right: 5px; }
.tn-rankingbar { position: relative; padding-left: 70px; border-bottom: 1px solid #e9e9e9; margin-left: 10px; }
.tn-rankingbar .bootstrap-select { width: 130px !important; }
.tn-rankingbarst { position: absolute; left: 0; top: 0; text-transform: uppercase; line-height: 34px; }
.tn-rankingbar .dropdown-menu { border-width: 0; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.tn-rankingbar .dropdown > a { color: #636363 }
.selectpicker { }
.tn-rankingdv { padding: 20px 10px; background-color: #f1f1f1 }
.tn-rankinglist { margin: 0; padding: 0; }
.tn-rankinglist > li { border-bottom: 1px solid #e9e9e9; list-style-type: none; margin: 0; padding: 0 70px 10px 10px; margin-bottom: 10px; position: relative; color: #b6b6b6 }
.tn-rankinglist > li.first { margin-top: 10px; }
.tn-irank { display: inline-block; width: 30px; height: 30px; line-height: 30px; background-color: #f9f9f9; text-align: center; -webkit-box-shadow: 0px 0px 1px rgba(1, 2, 2, .18); -moz-box-shadow: 0px 0px 1px rgba(1, 2, 2, .18); box-shadow: 0px 0px 1px rgba(1, 2, 2, .18); color: #898989; }
.irank-red { background-color: #e74c3c !important; color: #FFF !important; font-weight: bold; }
.irank-green { background-color: #77d539 !important; color: #FFF !important; font-weight: bold; }
.tn-rankinglist > li .tn-irank { position: absolute; right: 20px; top: 50%; margin-top: -20px; }
.tn-spview { color: #2d2c2c; }
.tn-spview-sp { position: relative; display: inline-block; padding: 3px 10px; font-size: 12px; background-color: #f9f9f9; line-height: 16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-left: 5px; }
.tn-spview-sp:before { position: absolute; left: -6px; top: 4px; display: inline-block; content: ""; border-bottom: 6px solid transparent; border-top: 6px solid transparent; border-right: 6px solid #f9f9f9; }
.tn-rankinglist > li .media-heading a { color: #000; font-weight: bold; text-decoration: none; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; }
.tn-rankinglist > li .media-heading a:hover { color: #77d539 }
.film-hdodc { max-height: 900px; }
.tn-rankingdv .tn-pagination { margin-bottom: 0; }
.tn-rankingdv .tn-pagination .pagination { margin-bottom: 0; }
.tn-p404 { min-height: 605px; text-align: center; padding: 100px 0; }
.tn-notidv { padding: 20px; background-color: #fff; -webkit-box-shadow: 0 0 5px rgba(1, 2, 2, .06); -moz-box-shadow: 0 0 5px rgba(1, 2, 2, .06); box-shadow: 0 0 5px rgba(1, 2, 2, .06); margin: 50px 200px; font-size: 18px; }
.tn-notidv a { color: #66c81e }
.tn-rankinglist .tn-spview { display: inline-block; height: 25px; line-height: 25px; }
.tn-spview .tn-spview-sp { display: none; }
.tn-spview:hover .tn-spview-sp { display: inline-block; }
.tagstoEV { position: relative; overflow: hidden; }
.tagstoEV i { font-style: normal; transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease; width: 35px; text-align: center; }
.tagstoEV-en { position: absolute; right: -35px; }
.tagstoEV:hover .tagstoEV-en { right: 0px; }
.tagstoEV-vi { position: absolute; left: 0; }
.tagstoEV:hover .tagstoEV-vi { left: -35px; }
.tn-form-head { color: #7bda37; font-family: Arial, Helvetica, sans-serif; font-size: 26px; font-weight: 400; line-height: normal; text-transform: uppercase; }
#lichcapnhat .filmlist-lichphatsong { border-top: 1px solid #ddd }
#lichcapnhat .filmlist-lichphatsong table { border: 0 none !important; width: 100% !important; }
#lichcapnhat .filmlist-lichphatsong table td, #lichcapnhat .filmlist-lichphatsong table th { border: 0 none !important; line-height: 1.42857; padding: 8px; vertical-align: top; max-width: 140px; }
#lichcapnhat .filmlist-lichphatsong table th.text-center { text-align: center; }
.tn-boxsty-news { background-color: #fff; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .18); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .18); box-shadow: 0 0 5px rgba(0, 0, 0, .18); }
.tn-boxsty-newsdt { background-color: #fff; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .18); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .18); box-shadow: 0 0 5px rgba(0, 0, 0, .18); padding:25px; }
.tn-boxsty-news .tn-pagination { margin-bottom:0; }
.tn-boxsty-news > .media { padding:25px; border-bottom:1px solid #eeeeee; margin:0; }
.tn-boxsty-news > .media .media-heading { font-size:16px; }
.tn-boxsty-news > .media .media-heading a { color:#000; text-decoration:none; }
.tn-boxsty-news > .media .media-heading a:hover { color:#5baa26 }
.tn-boxsty-news > .media time { color:#5baa26; display:block; margin-bottom:10px; }
.tn-boxsty-news > .media .pull-left.tn-imgcover { margin-right:30px; }
.tn-boxnews { margin-bottom:40px; }
.tn-boxsty-newsdt > .media-heading { font-size:20px; margin-bottom:20px; }
.tn-contentnews .pull-left { margin-right:20px; }
.tn-contentnews .pull-right { margin-left:20px; }
.spec_footer { width: 25%; float: left; }
.spec_footer { padding-left: 10%; }
.spec_footer ul { padding: 0px; }
.spec_footer ul li { list-style: none; }
.spec_footer ul li a { color: #b0a6a6; text-decoration: none; }
.spec_footer h4 { color: #fff; font-size: 14px; line-height: 20px; padding-bottom: 10px; }
.footer_two { background: none repeat scroll 0 0 #1e1e1e; padding: 30px 5%; width: 100%; color: #FFF; }
.paginationEpMovies { text-align: center; margin: 10px 5px; right: 0px; z-index: 500; }
.paginationEpMovies span {
    background-color: #808080;
    border-color: #808080;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.malert-popup, .mconfirm-popup { z-index: 9012; width:500px; text-align: center; }
#trailer-popup { z-index: 9012; }
.malert-bg-popup { display: none; background-color: rgba(0, 0, 0, 0.6); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9011; }
.tn-confirm-yes, .tn-confirm-no { width: 50%; float: left; }
.h1_slidetop { font-size: 12px; position: absolute; left: 35px; bottom: 0px; z-index: 500; color: #ffffff; }
.h1_slidetop h1 { font-size: 12px; color: #ffffff; display: inline-block; }
.h1_slidetop a { color: #ffffff; }
.bannersld-txt h2 { line-height: 42px; font-size: 18px; margin: 0; font-weight: inherit; }
.tn-bxitem h3, .tn-bxitem h1 { font-size: 15px; font-weight: inherit; margin: 0px; line-height: 1.2; }
.tabMovie h3 { font-weight: inherit; font-size: 14px; margin-top: 0px; margin-bottom: 0px; }
.tabMovie h3 a { font-weight: inherit; font-size: 14px; }
.tn-tagfin h3 { margin-bottom: 0px; margin-top: 0px; display: inline-block; font-weight: inherit; font-size: 13px; color: #cac8c8; }
.tn-tagf h5, .tn-tagfin h4 { margin-bottom: 0px; margin-top: 0px; display: inline-block; font-weight: inherit; font-size: 13px; }
.breadcrumb h2 { font-size: 14px; margin: 0px; line-height: 1; display: inherit; font-weight: inherit; }
.tn-breadcrumb-dv h2 { line-height: 1; margin: 0px; font-size: 15px; font-weight: 700; display: inline-block; }

.box-opps{width:500px;text-align:center;padding:50px;font-size:20px;margin:0 auto;min-height:500px;}
.filminfo-social{left: 85px;top: 43px;z-index: 10;position: fixed;width: 60px;display: none}
.filminfo-social .fb-like {bottom: 7px;}
#hdoplayer_wrapper{margin: 0px auto;z-index: 301}
.tn-contentmt{text-align: justify;}
.lightout {position: fixed; top:0px; left: 0px; width: 100%; height: 100%;z-index: 300;background: #000; opacity: 0.8;display: none;cursor: pointer;}
.fluid_width_video_wrapper {height: 100%;width: 90%}
#twitter-widget-0{width:50px !important}
.bxitem-newmovie { background-color: #D93838; color: #FFF; padding: 5px 10px; position: absolute; z-index: 2; top: 0; right: 0; font-size: 12px; }
.user-tool { position: absolute; margin-top: -40px; right: 10px; }
.user-tool a { display: inline-block; width: 25px; height: 25px; color: #fff; text-align: center; line-height: 25px; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; background-color: #7bda37; text-decoration: none; }
.user-tool a:hover { background-color: #e74c3c; }

.cluetip{width:330px !important;}
.tip-info-bt > span.tn-pcolor1{line-height:40px;font-style: italic;}
.tnico-news {
    background-image: url("../images/icon_news.png");
    background-position: 27px center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 33px;
    margin-bottom: 10px;
    margin-top: 5px;
}
li:hover .tnico-news {
    background-image: url("../images/icon_news_hover.png");
}
.wrap-search-input {
    margin: 5px;
    width: 450px;
}
.search-img {
    float: left;
    margin-right: 5px;
    padding: 2px;
}
#searchtop-autocomp li {
    list-style: outside none none;
}
.clr {
    clear: both;
    width: 100px;
}

#searchtop-autocomp a {
    color: #000000;
    display: block;
    padding: 5px;
}
#scrollUp {
    background-image: url("../images/scrollUp.png");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 20px;
    height: 45px;
    opacity: 0.5;
    right: 20px;
    width: 45px;
}
#scrollUp-active {
    display: none !important;
}
.search a.search-submit {
    display: inline-block;
    font-size: 18px;
    height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 34px;
}
.search .search-content {
    position: relative;
}
.search {
    float: right;
    margin-top: 25px;
    padding-right: 20px;
    position: relative;
    width: 295px;
}
.search .search-submit i {
    line-height: 30px;
}
.bannersld-info {
    background-color: rgba(18, 17, 17, 0.7);
    color: #fff;
    height: 100%;
    padding: 15px;
    position: absolute;
    right: -350px;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 350px;
}
.bannersld-info .info-title {
    color: #73d32d;
    display: block;
    font-size: 1.3em;
    padding-bottom: 20px;
}
.bannersld-info .info-content {
    display: block;
    font-size: 1em;
    text-align: justify;
}
.bannersld-info .info-description {
    background-color: #676767;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 30px;
    padding: 11px;
}
.bannersld-info .info-description .info-year {
    display: block;
    line-height: 1.5em;
}
.bannersld-info .info-watch-more {
    bottom: 60px;
    left: 20px;
    position: absolute;
}
.btn-watch-movie {
    background: #7bda37 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
}