.playlist{font: 14px verdana,arial,tahoma,"sans serif";}
.spectrum-container{display:none;}
ul.use-spectrum li.sm2_playing .spectrum-container{position:absolute;left:0px;top:0px;margin-left:-266px;margin-top:-1px;display:block;background-color:#5588bb;border:1px solid #99ccff;border-radius:4px;}
ul.use-spectrum .spectrum-box {position:relative;width:258px;font-size:1em;padding:2px 0px;height:1.2em;overflow:hidden;}
ul.use-spectrum .spectrum-box .spectrum {position:absolute;left:0px;top:-2px;margin-top:20px;display:block;font-size:1px;width:1px;height:1px;overflow:hidden;background-color:#fff;}
ul.playlist {list-style-type:none;margin:0px;padding:0px;margin-right:3px;}
ul.playlist li {margin-bottom:1px;position:relative;display:block;width:auto;color:#fff;border:1px solid #000;padding:2px 4px;letter-spacing:-1px;border-radius:2px;background:#181818;transition: background-color 0.15s linear 0s;}

ul.playlist li a {display:block;text-decoration:none;font-weight:normal;color:#ffffff;font-size:11px;outline:none;position:relative;z-index:2;}
ul.playlist li.sm2_playing,ul.playlist li.sm2_paused,ul.playlist li.sm2_playing a {color:#fff;}

ul.playlist li:hover {background-color:#eee;}
ul.playlist li:hover a {color:#333;}
ul.playlist li.sm2_playing,ul.playlist li.sm2_playing:hover {background-color:#333333;}
ul.playlist li.sm2_paused {background-color:#999;}
ul.playlist li.sm2_playing:hover a,ul.playlist li.sm2_paused a {color:#fff;}
ul.playlist li .controls {display:none;}

ul.playlist li .peak,ul.playlist.use-peak li .peak {display:none;position:absolute;top:2px;right:4px;height:11px; width:17px;}

ul.playlist li.sm2_playing .controls,ul.playlist li.sm2_paused .controls {position:relative;display:block;}
ul.playlist.use-peak li.sm2_playing .peak,ul.playlist.use-peak li.sm2_paused .peak {display:inline;display:inline-block;}
ul.playlist.use-peak li .peak {display:none; /* IE 7 */}
ul.playlist li.sm2_paused .controls {background-color:#666;}

ul.playlist li:hover .controls .statusbar {position:relative;cursor:move;}
ul.playlist li.sm2_paused .controls .statusbar {background-color:#ccc;}
ul.playlist li .controls {position:relative;margin-top:0.25em; margin-bottom:0px;background-color:#333333;}

ul.playlist li .controls .statusbar{position:relative;height: 5px;background:#666666;border: 1px solid #444444;border-radius:2px;overflow:hidden;cursor:move;}

ul.playlist li .controls.dragging .statusbar{cursor:-moz-grabbing;cursor:grabbing;}
ul.playlist li .controls .statusbar .position,ul.playlist li .controls .statusbar .loading,ul.playlist li .controls .statusbar .annotation {position:absolute; left:0px; top:0px; height:5px;}
ul.playlist li .controls .statusbar .position {background:#666666;border-right:3px solid #444444;border-radius:3px;}
ul.playlist li.sm2_paused .controls .statusbar .position {background-color:#666;border-color:#666;}
ul.playlist li .controls .statusbar .loading {background-color:#444444;}
ul.playlist li .controls .statusbar .position,ul.playlist li .controls .statusbar .loading {width:0px;}
ul.playlist li.sm2_playing a.sm2_link,ul.playlist li.sm2_paused a.sm2_link{margin-right:76px;}

ul.playlist li .timing {position:absolute;display:none;right:28px;top:2px;height:11px;padding:2px;background-color:#222222;border:1px solid #444444;border-radius:2px;font: 10px monaco,"VT-100","lucida console",courier,system;}

ul.playlist li:hover .timing {z-index:2;}
ul.playlist li .timing div.sm2_timing {margin:0px;padding:0px;margin-top:-1em;}
ul.playlist li.sm2_playing .timing,ul.playlist li.sm2_paused .timing {display:block;}
ul.playlist li.sm2_paused .timing .sm2_position {text-decoration:blink;}
ul.playlist li.sm2_paused .timing,ul.playlist.use-peak li.sm2_paused .peak {background-color:#888;border-color:#ccc;}
ul.playlist.use-peak li .peak {display:none;zoom:1;border:1px solid #444444;padding:2px;border-radius:2px;background:#222222;}

ul.playlist.use-peak li .peak-box {position:relative;width:100%;height:11px;overflow:hidden;}

.peak-m{position:absolute;top:142px;left:4px;height:60px;width:11px;zoom:1;border:1px solid #444444;padding:2px 1px;border-radius:2px;background:#222222;}
.peak-box-m{position:relative;width:17px;height:60px;overflow:hidden;}

.peak-m .peak-l{position:absolute;left:0px;top:0px;}
.peak-m .peak-r{position:absolute;left:5px;top:0px;}
.peak-m .peak-l,.peak-m .peak-r{width:4px;height:99px;background:#6FAAE4;border:1px solid #444;border-radius:1px;margin-top:1em;}
ul.playlist li .peak .l,ul.playlist li .peak .r{position:absolute;left:0px;top:0px;width:7px;height:99px;background:#999999;border:1px solid #444;border-radius:1px;margin-top:1em;}
.peak-m .peak-l,ul.playlist li .peak .l {margin-right:1px;}
ul.playlist li .peak .r {left:10px;}
#control-template {display:none;}
ul.playlist li a,ul.playlist li a:hover{background:transparent;line-height:15px;}
html.isSafari ul.playlist.use-peak li .peak{margin-top:-4px; /* dumb tweak */}
.peak-m .peak-l,ul.playlist li .peak .l {margin-right:0px;}
ul.playlist li .peak .l,ul.playlist li .peak .r {width:6px;}
ul.playlist li .peak .r {left:9px;}

ul.playlist li a.not-supported {text-decoration:line-through;color:#666; opacity:0.25;}

.c2 ul.playlist li a {margin:0px;padding:0px;letter-spacing: -0.02em;}
ul.inline-playlist { min-height:49px; min-width:512px; margin-top:4em;}
ul.inline-playlist li { float:left; display:inline; width:45%; margin-right:0.25%;}

body.home .sm2-inline-list .ui360-vis {margin-right:0px;}
body.home .columnar .c2 p {font-size: 1.1em;line-height:1.6em;color:#333;}
body.home .c2 ul.playlist li a {_color:#000; /* stupid IE */}
body.home .c2 ul.playlist li.sm2_paused a,body.home .c2 ul.playlist li.sm2_playing a {_color:#fff; /* argh */}
body.home .c2 ul.standard { _margin-left:1.5em;}
body.home .ie7sucks { *display: none !important;}

#sm2-container {position: absolute;width: 1px;height: 1px;overflow: hidden;_overflow: hidden;}
#sm2-container object,#sm2-container embed {width: 48px;height: 48px;max-width: 48px;max-height: 48px;}
#sm2-container.swf_timedout {position: relative;width: 48px;height: 48px;}
#sm2-container.swf_timedout,#sm2-container.swf_timedout object,#sm2-container.swf_timedout embed {min-width: 48px;min-height: 48px;}
#sm2-container.swf_unblocked {width: 1px;height: 1px;}
#sm2-container.swf_loaded object,#sm2-container.swf_loaded embed,#sm2-container.swf_unblocked object,#sm2-container.swf_unblocked embed {left: -9999em;top: -9999em;}
#sm2-container.swf_error {display: none;}
#sm2-container.high_performance,#sm2-container.high_performance.swf_timeout {position: absolute;position: fixed;}
#sm2-container.high_performance {overflow: hidden; _top: -9999px; /* IE 6 hax, no position:fixed */
                                 _left: -9999px;bottom: 0px;left: 0px;z-index: 99;}

#sm2-container.high_performance.swf_loaded,#sm2-container.high_performance.swf_unblocked {z-index: auto;}
#sm2-container.high_performance.swf_loaded,#sm2-container.high_performance.swf_unblocked,#sm2-container.high_performance.swf_unblocked object,#sm2-container.high_performance.swf_unblocked embed {height: 8px;width: 8px;}
#sm2-container.high_performance.swf_loaded {top: auto;bottom: 0px;left: 0px;}
#sm2-container.high_performance.swf_loaded object,#sm2-container.high_performance.swf_loaded embed,#sm2-container.high_performance.swf_unblocked object,#sm2-container.high_performance.swf_unblocked embed {left: auto;top: auto;}
#sm2-container.high_performance.swf_timedout {z-index: 99;}

/*showcase*/
#formats_c{background:#0a1616;position:absolute;top:185px;right:309px;padding:3px;border-radius:4px;}
.formats{float:left;height:23px;width:37px;background:url(../images/formats.gif);opacity:0.7;display:none;}
#FL{background-position: 2px 1px;width:23px;}
#VST{background-position: -22px 0;}
#AU{background-position: -60px 0;}
#Win{background-position: -118px 1px;width:23px;}
#Mac{background-position: -96px -1px;width:23px;}

#showcase_image_span canvas{margin-top:1px;}
#showcase{
    position:relative;
    width:910px;
    height:520px;
    overflow:hidden;
    background: #3d383c;
    background: radial-gradient(#3d383c,#141213);
}
#showcase_frame{position:absolute;left:25px;right:25px;top:438px;height:78px;overflow:hidden;position:absolute;}
#showcase_scroller{position:absolute;left:0;top:0;height:78px;width:1720px;display:none;}
#showcase_nav_prev,#showcase_nav_next{cursor:pointer;position:absolute;top:463px;width:20px;height:50px;display:block;background:#403c3a;border-radius:2px;}
#showcase_nav_prev{left:1px;}
#showcase_nav_next{right:1px;}
.fa-chevron-left,.fa-chevron-right{color:#b2b2b1;padding: 5px;font-size:17px;line-height:43px;}
.fa-power-off{color:#b2b2b1;padding-left: 10px;padding-top:5px;font-size:17px;line-height:17px;}
#showcase_image_span{position: absolute;top:75px;left:-300px;width:300px;}
#showcase_header,#showcase_slogan{position: absolute;text-align:right;letter-spacing:-1px;text-shadow: 0 0 1px rgba(0,0,0,0.3);}
#showcase_header{top:67px;right:57px;height:74px;color:#cacaca;font: bold 74px/74px 'Cuprum',arial,serif;}
#showcase_slogan{top:146px;right:57px;height:20px;color:#acacac;font: 20px/20px 'Cuprum',arial,serif;}
#showcase_desc{position: absolute;top:226px;right:57px;width:408px;}
#showcase_desc_inner{text-align:justify;color:#888888;font: 14px/17px 'Cuprum',arial,serif;padding-bottom:13px;}
#showcase_desc_inner_btn{margin-top:8px;position:relative;}
.fb_showcase{position:absolute;top:-2px;right:-15px;}
#more_button,#buy_button,#demosong_button,#youtube_button{
    border-radius:2px;
    color:#2a2a2a;
    font: 14px 'Cuprum',arial,serif;text-decoration:none;
    padding: 3px 7px;
    display:none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    background: #a7a7a7;
    background: linear-gradient(#a7a7a7,#8f8f8f);
}
#more_button,#buy_button,#demosong_button,#youtube_button{position:absolute;}
#more_button{top:187px;right:57px;}
#buy_button{top:187px;right:149px;}
#demosong_button{top:-4px;left:1px;}
#youtube_button{top:-4px;left:134px;}
#youtube_button,#demosong_button{margin-top:4px;}
#more_button:hover,#buy_button:hover,#demosong_button:hover,#youtube_button:hover{background:#837e81;}

.thumb{position:relative;float:left;}
.thumb_title{display:none;position:absolute;top:1px;left:1px;font: 10px/10px tahoma;text-align:center;width:64px;}
.thumb_title.selected,.thumb_title.tactive{display:block;}
.thumb_ima{margin: 0 1px;border: 2px solid transparent;border-top-width:24px;width:60px;height:52px;}
.thumb_ima.selected,.thumb_ima.tactive{border: 2px solid #ffa200;border-top-width:24px;}

#hdp_57{
    position:absolute;
    display:none;
    z-index: 1057;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(43,43,43,0.27);
}
#hd_hdp_57{
    display:block;
    padding: 5px 20px 5px 5px;
    background: #1A2225;
    background: linear-gradient(#1A2225,#000);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:4px;
    min-height:150px;}
#hdps_hdp_57{
    position:relative;
}
#hdpc_hdp_57{
    display:block;
    position:absolute;
    z-index:10000;
    top:2px;
    right:4px;
}
.ctrlup, .ctrldo{border:none;}

