a, img{
    border:none;
    outline:none
    text-decoration: none;
}

.display_none{
	display:none;
}
.gallery{
	position: absolute;
	background-color: #626262;
	cursor: pointer;
	width: 158px;
	height: 135px;
	overflow: hidden;
}

.gallery .mpm_contains{
	cursor: pointer;
}


.gallery .mpm-mask {
	bottom: 0;
	height: 30px;
	position: absolute;
	width: 100%;
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=80);
	left:0;
}

.gallery .mpm-desc {
	bottom: 0;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	overflow: hidden;
	left:0;
}

.mpm_overlay{
	width: 158px;
	height: 135px;
	-webkit-transition: all .6s ease;
}

.mpm_overlay:hover{
	width: 158px;
	height: 135px;
	opacity: 0.8;
}
.gallery img {
	width: 158px;
	height: 135px;
}
#gallery-1{
	left: 0px;
	top: 0px;
	width: 317px;
	height: 135px;
}
#gallery-1 .mpm_overlay{
	width: 317px;
	height: 135px;
}
#gallery-1 img{
	width: 317px;
	height: 135px;
}
#gallery-2{
	left: 318px;
	top: 0px;
}
#gallery-3{
	left: 477px;
	top: 0px;
}
#gallery-5{
	left: 318px;
	top: 136px;
}
#gallery-6{
	left: 477px;
	top: 136px;
}
#gallery-7{
	left: 318px;
	top: 272px;
	width: 317px;
	height: 135px;
}
#gallery-7 .mpm_overlay{
	width: 317px;
	height: 135px;
}
#gallery-7 img{
	width: 317px;
	height: 135px;
}
#gallery-8{
	left: 636px;
	top: 272px;
}
#gallery-9{
	left: 795px;
	top: 272px;
}
