#mpm-p1 {
	left: 0px; top: 0px; width: 317px; height: 135px;
}
#mpm-p1-bg {
	left: 0px; top: 0px; width: 317px; height: 135px;
}
#mpm-p2 {
	left: 318px; top: 0px; width: 158px; height: 135px;
}
#mpm-p2-bg {
	left: 318px; top: 0px; width: 158px; height: 135px;
}
#mpm-p3 {
	left: 477px; top: 0px; width: 158px; height: 135px;
}
#mpm-p3-bg {
	left: 477px; top: 0px; width: 158px; height: 135px;
}
#mpm-p4 {
	left: 0px; top: 136px; width: 317px; height: 271px;
}
#mpm-p4-bg {
	left: 0px; top: 136px; width: 317px; height: 271px;
}
#mpm-p5 {
	left: 318px; top: 136px; width: 158px; height: 135px;
}
#mpm-p5-bg {
	left: 318px; top: 136px; width: 158px; height: 135px;
}
#mpm-p6 {
	left: 477px; top: 136px; width: 158px; height: 135px;
}
#mpm-p6-bg {
	left: 477px; top: 136px; width: 158px; height: 135px;
}
#mpm-p7 {
	left: 318px; top: 272px; width: 317px; height: 135px;
}
#mpm-p7-bg {
	left: 318px; top: 272px; width: 317px; height: 135px;
}
#mpm-p8 {
	left: 636px; top: 272px; width: 158px; height: 135px;
}
#mpm-p8-bg {
	left: 636px; top: 272px; width: 158px; height: 135px;
}
#mpm-p9 {
	left: 795px; top: 272px; width: 158px; height: 135px;
}
#mpm-p9-bg {
	left: 795px; top: 272px; width: 158px; height: 135px;
}