/*
Style Name: Blue
Color: #206ba4
Description: Blue color scheme
Author: digitalnature
Version: 3.0

*/

/* all theme styles must be prefixed with "style-" and have all the meta data fields as above */


a{color:#206ba4;}
a:hover{color: #54a4de;}

span.alt{color:#54a4de;}

#logo a:hover span.alt{color:#bbd9ee;}


.block .title h3,
.block .title .br,
.block .title .bl{
  background-image: url(../images/style-blue/block-t.png);
}

#meta .navi{border-color: #4a4a4a;}

#meta .navi li,
#meta .navi li a{
  background-image: url(../images/style-blue/tabs.png);
}

.comment .comment-head,
.comment .comment-head .ext{
  background-image:url(../images/style-blue/comment.png);
}


.comment.role-administrator > .comment-head,
.comment a.show:hover,
.no-fx .block a.more:hover, .block .fadeThis a.more .hover,
table.calendar td.today a, table.calendar td.today span,
.tagcloud a:hover,
.nav-footer .active > a,
.nav-footer .active-parent > a,
.nav-footer li.open > a,
.nav-footer li:hover > a{
  background-color:#206ba4;
}

.page-navi a:hover{
  border:1px solid #206ba4;
  background-color:#206ba4;
}

.search-form fieldset,
.search-form a.submit,
.search-form .fadeThis a.submit .hover{
  background-image:url(../images/style-blue/search.png);
}