.page .entry-title {
   display: none;
}
.post-entry-media{
  display:none;
}
h3:hover{
  color: #06BCF9;
}
.site-info {
  display: none;
}
.username {
  display: none;
}
.display-name {
  display: none;
}
.vcard{
display:none;
}

.author{
display:none;
}
.sec-authors {
display: none;
}
.page-title {
  display: none;
}