/* Mime Types CSS Document */

a.mime-access {
    padding-right: 1.5em;   
    line-height: 1em;
    background-image: url("/_files/images/css/msaccess.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-alert {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/alert.gif");
    background-repeat: no-repeat;
    background-position: right;
    
}

a.mime-confirm {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/confirm2.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-excel {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/xls.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-flash {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/flash.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-html {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/icon-html.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-new {
    padding-right: 37px;    
    line-height: 1em;   
    background-image: url("/_files/images/css/new.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-pdf {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/pdf.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

a.mime-ppt {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/ppt.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-quicktime {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/quicktime.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-wmv {
    padding-right: 1.5em;   
    line-height: 1em;   
    background-image: url("/_files/images/css/windows-media.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-word {
    padding-right: 1.5em;   
    line-height: 1em;
    background-image: url("/_files/images/css/doc.gif");
    background-repeat: no-repeat;
    background-position: right;
}


a.mime-webex {
    padding-right: 1.5em;   
    line-height: 1em;
    background-image: url("/_files/images/css/webex.gif");
    background-repeat: no-repeat;
    background-position: right;
}

a.mime-video {
    padding-right: 1.5em;   
    line-height: 1em;
    background-image: url("/_files/images/css/mov.gif");
    background-repeat: no-repeat;
    background-position: right;
}
a.mime-zip {
    padding-right: 1.5em;   
    line-height: 1em;
    background-image: url("/_files/images/css/zip.gif");
    background-repeat: no-repeat;
    background-position: right;
}