/* ------------------------ MAIN LAYOUT DIVS ---------------------- */  

.fullwidth {
    margin-top: 85px;
}

.mnscu-layout {
    margin-top: 35px;
}


.mnscufooter {
    margin-top: 20px;
    text-align: center;
}

.rt_col {
     float: right; 
     margin-left: 20px; 
     margin-bottom: 20px; 
     max-width: 320px;
}

#sidebar-offcanvas {
    z-index: 5;
}


/* ------------------------ GLOBAL CONTENT STYLES ---------------------- */  

.content ol, ul li {
    margin-bottom: 10px;
    }
    
.content table td, th {
    padding: 6px;
}    

/* CONTENT HYPERLINK STYLES */  

.content a:link {
   color:#0167a4;
   font-weight: bold;
    }
    
.content a:visited {
   color: #0273b7;
   font-weight:bold;
    }
    
.content a:hover, a:active, a:focus {
    text-decoration: underline;
    color:#01578b;
    font-weight: bold;
    }   

/* ------------------------ RT NAVBAR STYLES (BOOTSTRAP COLOR OVERRIDE) ---------------------- */  
    
.list-group a:link.active   {
    background: #0275ba;
}

.list-group  a:visited.active  {
    background: #0275ba;
}

.list-group a:hover.active, a:active.active, a:focus.active {
    background: #0167a4;
}


/* ------------------------ PHOTO STYLES ---------------------- */  
.photoright {
    position: relative; 
    float: right; 
    margin-left: 20px; 
    margin-bottom: 20px; 
    margin-top: 15px; 
    margin-right: 0;
    }
    
.photoleft {
    position: relative; 
    float: left; 
    margin-left: 0; 
    margin-bottom: 15px; 
    margin-top: 15px; 
    margin-right: 20px;
    }
    
.photocenter {
    margin: 15px;
    }
    
.photoright_notopmargin {
    position: relative; 
    float: right; 
    margin-left: 20px; 
    margin-bottom: 20px; 
    margin-top: 0; 
    margin-right: 0;
    }
    
.photoleft_notopmargin {
    position: relative; 
    float: left; 
    margin-left: 0; 
    margin-bottom: 15px; 
    margin-top: 5px; 
    margin-right: 20px;
    }
    
.photoright-border {
    position: relative; 
    float: right; 
    margin-left: 20px; 
    margin-bottom: 15px; 
    margin-top: 15px; 
    margin-right: 0;
    border: 1px solid #222222;
    }
    
.photoleft-border {
    position: relative; 
    float: left; 
    margin-left: 0; 
    margin-bottom: 15px; 
    margin-top: 15px; 
    margin-right: 20px;
    border: 1px solid #222222;
    }
    
.photocenter-border {
    text-align: center; 
    font-size: .95em;
    margin: 15px;
    border: 1px solid #222222;
    }
    
.photoright_notopmargin-border {
    position: relative; 
    float: right; 
    margin-left: 20px; 
    margin-bottom: 15px; 
    margin-top: 5px; 
    margin-right: 0;
    border: 1px solid #222222;
    }
    
.photoleft_notopmargin-border {
    position: relative; 
    float: left; 
    margin-left: 0; 
    margin-bottom: 15px; 
    margin-top: 5px; 
    margin-right: 20px;
    border: 1px solid #222222;
    }
    


/* GOOGLE SEARCH FORM STYLES */

.cse input.gsc-input, input.gsc-input, input.gsc-input-hover, input.gsc-input-focus {
    background-image: none !important;
}

.gsc-input {
    height: 18px;
    margin-right: 135px;
    padding-top: 1px;

}

#searchBox {
    background: url("../images/css/searchbox.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); 
    border: 0 none;
    border-radius: 5px;
    margin: 21px 0px 0px 10px;
    padding: 0px 0px 0px 25px;
    width: 175px;
    height: 26px;
}

#searchBox input.gsc-input {
    border: 0px solid #fff; 
}

input.gsc-search-button {
    display: none;
}

.gsc-clear-button {
    display: none;
}

input.gsc-clear-button {
    display: none;
}

.board-search .gsc-search-box {
    width: 225px;
}

.board-search .gsc-input {
    width: 200px;
    margin-left: -5px;
    margin-right:0px;
}

.board-search .gsc-control-cse {
    padding: 0;
    margin:0;
}

.board-search input.gsc-search-button {
    display: block;
    margin-left: 0px;
}  



/* ------------------------ RNT iFrame ---------------------- */        

.iframe {
    background: #f1f1f1;
    border: none;
    width: 575px;
    height: 600px;
    border: none;
}

#cse-search-results iframe {
    border: none;
}

iframe.form {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}


/* INFO BOX */


.infoBox {
    background: url("../images/css/infobox-header.png") no-repeat;
    margin-top:25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
    min-width:320px;
    text-decoration: none;
    padding: 20px;
    text-align: left;
}


.infoBox h3 {
    height: 48px; 
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: -8px;
}


/* ------------------------ Hidden Form Labels CSS ---------------------- */

.google_search {
    display: none;
}

.alphalist_label {
    display: none;
}

.keyword_label {
    margin: 4px 2px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    color: #2062a8;
    }

.cat_label {
    margin: 4px 2px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    color: #2062a8;
    }

.subcat_label {
    margin: 4px 2px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    color: #2062a8;
    }

.school_label {
    margin: 4px 2px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    color: #2062a8;
    }
    
/* ------------------------ TABLES ---------------------- */ 

table.mnscutable {
    margin:20px 0 20px 0;
}

table.mnscutable td {
    border: 1px solid #ccc;
    padding: 6px;
}

table.mnscutable th {
    border: 1px solid #ccc;
    padding: 6px;
}

.tablemenuheader {
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .8em;
    margin-top: .8em;
    color: #363636;
    letter-spacing: .1em;
}

#tablemenuheader {
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .8em;
    margin-top: .8em;
    color: #363636;
    letter-spacing: .1em;
}
    
    
/* ------------------------ COLORED FILLS AND BOXES ---------------------- */   


.mnscu_infobox {
    padding: 10px;
    margin: -15px 0 15px 0; 
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    }


.box-clear {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    border: 1px solid #aaaaaa;
    border-radius: 12px;
    }
    
.box-clear h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }
    
.box-clear-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/
    width: 40%;
    }
    
.box-clear-narrow h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   

.box-gold {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #ffc862;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-gold h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-gold-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #ffc862;
    /*border: 1px solid #aaaaaa;*/
    width: 40%;
    border-radius: 12px;
    }
    
.box-gold-narrow h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }           
    
.box-gold-medium {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #ffe6b0;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-gold-medium h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-gold-medium-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #ffe6b0;
   /* border: 1px solid #aaaaaa;*/
    width: 40%;
    border-radius: 12px;
    }
    
.box-gold-medium-narrow h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }       
    
.box-gold-light-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    width: 40%;
    /*border: 1px solid #aaaaaa;*/
    background-color: #ffe6b0;
    border-radius: 12px;
    }   
    
.box-gold-light-narrow h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-gold-light {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #fff8ea;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-gold-light h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-blue {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #2062a8;
    /*border: 1px solid #aaaaaa;*/
    color: #ffffff;
    border-radius: 12px;
    }
    
.box-blue-right {
    min-width: 35%;
    max-width: 50%;
    float: right; 
    margin: 0px 0px 15px 20px; 
    line-height: 1.2em;
    padding: 8px 15px 10px 15px;
    background-color: #c0e0f7;
    border-radius: 12px;
    }    
    
.box-blue-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #2062a8;
    /*border: 1px solid #aaaaaa;*/
    color: #ffffff; 
    width: 40%;
    float: left;
    border-radius: 12px;
    }   
    
.box-blue h2 {
    padding: 3px 0 0 0;
    margin: 0;
    color: #ffffff;
    }   
    
.box-blue-medium {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #c0e0f7;
   /* border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-blue-medium-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #c0e0f7;
    /*border: 1px solid #aaaaaa;*/
    width: 40%;
    float: left;
    border-radius: 12px;
    }   
    
.box-blue-medium h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-blue-light {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #e6f2fa;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-blue-light-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0;
    background-color: #e6f2fa;
    /*border: 1px solid #aaaaaa;*/
    width: 40%;   
    float: left;
    border-radius: 12px;
    }   
    
.box-blue-light h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-red {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #990000;
    /*border: 1px solid #aaaaaa;*/
    color: #ffffff;
    border-radius: 12px;
    }
    
.box-red h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-red-medium {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #ffcccc;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-red-medium h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-red-light {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #fff4f4;
    /*border: 1px solid #aaaaaa;*/
    border-radius: 12px;
    }
    
.box-red-light h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
        
.box-gray {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #000000;*/  
    background-color: #aaaaaa;
    border-radius: 12px;
    }
    
.box-gray h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-gray-medium {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/
    background-color: #cccccc;
    border-radius: 12px;
    }
    
.box-gray-medium h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-gray-light {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/
    background-color: #eeeeee;
    border-radius: 12px;
    }
    
.box-gray-light h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-green {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/ 
    background-color: #1f8061;
    color: #ffffff;
    border-radius: 12px;
    }
    
.box-green h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
        
.box-green-medium {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/
    background-color: #9fc1b5;
    border-radius: 12px;
    }
    

.box-green-medium h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.box-green-light {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    /*border: 1px solid #aaaaaa;*/
    background-color: #d3e2dd;
    border-radius: 12px;
    }
    
.box-green-light-narrow {
    padding: 8px 8px 5px 8px;
    margin: 15px 0 15px 0; 
    background-color: #d3e2dd;
    /*border: 1px solid #aaaaaa;*/
    width: 40%;
    border-radius: 12px;
    }       
    
.box-green-light h2 {
    padding: 3px 0 0 0;
    margin: 0;
    }   
    
.border {
        border: 1px solid #aaaaaa;
        border-radius: 12px;
    }    
    
    
.color-gold {
    background-color: #ffc862;
    }
    
.color-gold-medium {
    background-color: #ffe6b0;
    }

.color-gold-light {
    background-color: #fff8ea;
    }

.color-blue {
    background-color: #2062a8;
    color: #ffffff;
    }
    
.color-blue-medium {
    background-color: #c0e0f7;
    }

.color-blue-light {
    background-color: #e6f2fa;
    }

.color-red {
    background-color: #990000;
    color: #ffffff;
    }
    
.color-red-medium {
    background-color: #ffcccc;
    }       
    
.color-red-light {
    background-color: #fff4f4;
    }   

.color-gray {
    background-color: #aaaaaa;
    }
    
.color-gray-medium {
    background-color: #cccccc;
    }   

.color-gray-light {
    background-color: #eeeeee;
    }
    
.color-green {
    background-color: #1f8061;
    color: #ffffff;
    }
    
.color-green-medium {
    background-color: #9fc1b5;
    }   

.color-green-light {
    background-color: #d3e2dd;
    }
    
.color-gold-padded {
    background-color: #ffc862;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-gold-medium-padded {
    background-color: #ffe6b0;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-gold-light-padded {
    background-color: #fff8ea;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }

.color-blue-padded {
    background-color: #2062a8;
    color: #ffffff;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-blue-medium-padded {
    background-color: #c0e0f7;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }   

.color-blue-light-padded {
    background-color: #e6f2fa;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }

.color-red-padded {
    background-color: #990000;
    color: #ffffff;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-red-medium-padded {
    background-color: #ffcccc;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }       
    
.color-red-light-padded {
    background-color: #fff4f4;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }   

.color-gray-padded {
    background-color: #aaaaaa;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-gray-medium-padded {
    background-color: #cccccc;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }

.color-gray-light-padded {
    background-color: #eeeeee;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-green-padded {
    background-color: #1f8061;
    color: #ffffff;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
.color-green-medium-padded {
    background-color: #9fc1b5;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }   

.color-green-light-padded {
    background-color: #d3e2dd;
    padding: 8px 8px 5px 8px;
    margin: 8px 0 8px 0; 
    }
    
/* ------------------------ END COLORED FILLS AND BOXES ---------------------- */   


/* INFO BOX */


.infoBox {
    background: url("../images/css/infobox-header.png") no-repeat;
    margin-bottom: 20px;
    width: 280px;
    border-bottom: 1px solid #b9b9b9;
    text-decoration: none;
    padding: 20px;
    text-align: left;
}


.infoBox h2 {
    height: 48px; 
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: -12px;
}

/* ---------------- BEGIN Online Contact Box ----------------- */

.online_contactbox {
    position: relative;
    padding: 8px 10px 15px 10px;
    background-image: url("../images/css/online_contactbox.png");
    border-bottom: 1px solid #0065a4;
    font-size: .9em;
}

.online_contactbox h2 {
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 2px;
}

.online_contactbox p.white {
    color: #ffffff;
    font-size: .9em;
    margin-top: 0;
    padding: 0;
}

/* ---------------- END Online Contact Box ----------------- */

/* Bottom Nav Tweetbox */

.panel .tweetbox {
    min-height: 200px;
}

.TwitterCardsGrid {
    display: none;
    }


/* ------------------------ BUTTONS AND FORMS ---------------------- */ 

#startsearch {
    position: relative;
    height: 45px;
    width: 130px;
    margin: 10px 0 10px 0;
}

#startsearch span {
    display: none;
}

#startsearch a {
    height: 45px;
    width: 130px;
    z-index: 1000;
    cursor: pointer;
}   

/* #startsearch a:hover {
    background-image: url("../images/css/startsearch-over.png") no-repeat;  
}

#startsearch a:active {
    background-image: url("../images/css/startsearch-down.png") no-repeat;  
}

#startsearch a:focus {
    background-image: url("../images/css/startsearch-down.png") no-repeat;  
} */


select #noncredit {
    vertical-align: middle;
}

select #coursesearch {
    vertical-align: middle;
}

.goButton { /* Go submit buttons */
    background: url("../images/css/go-up.png") no-repeat scroll !important;     
    border: 0 none;
    padding: 0;
    height: 20px;
    width: 27px;    
    vertical-align: top;
    margin-top: 0px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.goButton:active { /* Go submit buttons */
    background: url("../images/css/go-over.png") no-repeat scroll !important;    
    border: 0 none; 
    padding: 0;
    height: 20px;
    width: 27px;    
    vertical-align: top;
    margin-top: 0px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}


.viewprofileBtn { /* View profile button on ss institution landing page. */
    background: url("../images/collegesearch/viewprofile-up.png") no-repeat scroll !important;     
    border: 0 none;
    padding: 0;
    height: 20px;
    width: 92px;    
    vertical-align: top;
    margin: 0 0 0 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.viewprofileBtn:active { /* View profile button on ss institution landing page. */
    background: url("../images/collegesearch/viewprofile-over.png") no-repeat scroll !important;    
    border: 0 none; 
    padding: 0;
    height: 20px;
    width: 92px;    
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.requestBtn { /* View profile button on ss institution landing page. */
    background: url("../images/css/requestinfo-up.png") no-repeat scroll !important;     
    border: 0 none;
    padding: 0;
    height: 20px;
    width: 146px;   
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.requestBtn:active { /* View profile button on ss institution landing page. */
    background: url("../images/css/requestinfo-over.png") no-repeat scroll !important;    
    border: 0 none; 
    padding: 0;
    height: 20px;
    width: 146px;   
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.submitBtn { /* View profile button on ss institution landing page. */
    background: url("../images/css/submit-up.png") no-repeat scroll !important;     
    border: 0 none;
    padding: 0;
    height: 20px;
    width: 63px;    
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.submitBtn:active { /* View profile button on ss institution landing page. */
    background: url("../images/css/submit-over.png") no-repeat scroll !important;    
    border: 0 none; 
    padding: 0;
    height: 20px;
    width: 63px;    
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.resetBtn { /* View profile button on ss institution landing page. */
    background: url("../images/css/reset-up.png") no-repeat scroll !important;     
    border: 0 none;
    padding: 0;
    height: 20px;
    width: 47px;    
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

.resetBtn:active { /* View profile button on ss institution landing page. */
    background: url("../images/css/reset-over.png") no-repeat scroll !important;    
    border: 0 none; 
    padding: 0;
    height: 20px;
    width: 47px;    
    vertical-align: top;
    margin-top: 10px;
    cursor: pointer;    
    color: transparent;
    text-transform: capitalize;
    line-height: 999px; /* Set it higher than your image height */
    overflow: hidden; /* Hide the text */
    font-size: 0; /* FF2 doesn?t like the above */
}

#beginappBtn {
    height: 29px;
    width: 150px;
    margin: 15px 0 15px 0;
}

#beginappBtn span {
    display: none;
}

#beginappBtn a {
    height: 29px;
    width: 150px;
    z-index: 1000;
    cursor: pointer;
}   


.enlargemap {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    float: right;
    margin-bottom: -15px;
    font-size: 1.4em;
    font-weight: bold;
    z-index: 1;
}



/* -------------------------- MnSCU Campus Map ------------------------ */

.mnscu-map {
    margin-top: 20px;
}

.mnscu-map-mobile {
    margin-top: 20px;
}



/* -------------------------- online distance learning quiz ------------------------ */

 ul.ulnone {
    list-style-type: none; 
}

 ul.ulnone li label {
    font-weight: normal;
}

/* -------------------------- online tuition calculator ------------------------ */

#calcSavings,
#calcReset {
    border: 0 none;
    height: 22px;
    cursor: pointer;
}

#calcSavings {
    background: url("../images/css/btn_calcSavings.png") no-repeat;
    width: 135px;
}

#calcReset {
    background: url("../images/css/btn_reset.png") no-repeat;
    width: 50px;
}

#tuitionResults {
  width: 295px;
    font-size: 12px;
    margin-left: 5px;
}

#tuitionResults .tableHead {
    color: #003366;
    font-size: 14px;
    font-weight: bold;
}

#tuitionResults td,
#tuitionInfo td {
    padding: 10px;
}

#tuitionResults .label {
  width: 85%;
    border-bottom: 1px solid #dcdcdc;
}

#tuitionResults .cost {
  width: 15%;
  font-weight: bold;
    color: #003366;
    border-bottom: 1px solid #dcdcdc;
}

#tuitionResults .labelLong,
#tuitionResults .costLong {
    width: 100%;
    text-align: center;
}

#tuitionResults .costLong {
  font-weight: bold;
    color: #003366;
    font-size: 15px;
    padding-top: 0px;
}

#tuitionInfo {
    width: 100%;
    border: 0;
    font-size: 12px;
}

#tuitionInfo .dollar {
    width: 1%;
    text-align: right;
    padding-right: 0px;
}

#tuitionInfo .input {
    width: 14%;
    padding-left: 5px;
}

#tuitionInfo .info {
    width: 85%;
}

#tuitionCalcP {
    padding-left: 20px;
    font-size: 12px;
}

#tuitionError {
    color: red;
    font-size: 1.3em;
}

.labelLong {
    text-align: left;
}

/* ------------------------ END tuition ---------------------- */   

   
   
 /* ---------------- NEWS RSS FEED FORMAT ----------------- */  
    
#content #fullPage dl dd.newslink a {
    text-decoration: none;
    font-weight: normal;
    }
    
#content #fullPage dl dd.newslink a:visited {
    text-decoration: none;
    font-weight: normal;
    }
    
#content #fullPage dl dd.newslink a:hover, a:active, a:focus {
    text-decoration: none;
    font-weight: normal;
    }  
    
 #content #fullPage dl {
     margin-top: 5px;
     margin-bottom: -3px;
 }   
    
#content #fullPage dl dd {
    padding-bottom: 18px;
    line-height: 1.35em;
    }   
    
/* ---------------- END NEWS RSS FEED FORMAT ----------------- */     





    
/* FONT STYLES - for hyperlink styles see below */

/*h1, h2, h3, h4, h5, h6 {
    font-family:Calibri,'Trebuchet MS',Helvetica,sans-serif;
    /*font-family:"Georgia", "Cambria", Times New Roman, Times, serif!important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif!important;
    font-family:Helvetica, Arial, sans-serif!important;
    font-family: "trebuchet ms", sans-serif;*/
    line-height: 1;
    letter-spacing:0px;
    padding-top:0px;
    padding-bottom:10px;}


h1 {
    font-size: 1.75em; 
    font-weight: bolder;    
    padding-bottom: 20px;
    } 
    
h1.main {
    margin-top: -10px;
    margin-bottom: 20px;
    }
    
.container h1 {
    margin-bottom:20px;
    font-size: 2.2em;
}    


    
h2 {
    font-size: 1.6em; 
    margin-top:20px;
    margin-bottom:15px;
    }
    
h3 {
    font-size: 1.4em; 
    margin-top:20px;
    margin-bottom: 15px;
    } 
    
h4 {
    font-size: 1.2em; 
    margin-top:20px;
    margin-bottom: 15px;
    } 
    
h5 {
    font-size: 1em; 
    font-weight: bold; 
    }
    
h6 {
    font-size: .9em; 
    font-weight: bold; 
    }   
    
p { 
    font-size: 1em; 
    }
    
    
img {
    border: 0;
    }
    
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    }
    
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    }
    
abbr {
    speak:normal; 
    border: none;
    }

acronym {
    speak:spell-out; 
    border: none;
    }
    
fieldset, label, legend {
    border: 0;
    margin: 0;
    padding: 0;
}
    
.indent {
    margin-top: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 2em;    
    }

b, strong {
    font-weight: bolder; 
    }
    
.bold {
    font-weight: bolder; 
    }
    
.reversebold {
    font-weight: bolder; 
    color: #ffffff;
    }
    
.bold_black {
    font-weight: bolder; 
    color: #000000;
    }
    
.boldital {
    font-style: oblique; 
    font-weight: bolder; 
    }
    
.reverseboldital {
    font-style: oblique; 
    font-weight: bolder; 
    color: #ffffff;
    }   

.asterisk {
    font-weight: bolder; 
    color: #990000;
    }
    
.red {
    color: red;
}

.redbold {
    color: red;
    font-weight: bolder;
}

.green {
    color: green;
}

.greenbold {
    color: green;
    font-weight: bolder;
}
        
i, em {
    font-style: oblique;
    }   
    
.ital {
    font-style: oblique;
    }
    
u {
    text-decoration: underline;
    }       
    
.underline  {
    text-decoration: underline;
    }   


.alphalist {
    list-style-type: lower-alpha;
    }
    
.alphalist-lower {
    list-style-type: lower-alpha;
    }
    
.alphalist-upper {
    list-style-type:upper-alpha
    }

.romanlist-upper {
    list-style-type:upper-roman;
    }
    
.romanlist-lower {
    list-style-type:lower-roman;
    }
    
.strikethrough {
    text-decoration: line-through;
    }   
    
.strikethrough-red {
    text-decoration: line-through; 
    color: #CC0000;
    }     

.blockquote {
     margin-left: 1em; 
     margin-right: 1em;
     }   
    
.right {
    text-align: right;
    }
    
.left {
    text-align: left;
    }
    
.center {
    text-align: center;
    }
    
        
.cutline {
    font-size: .85em; 
    color: #000000; 
    padding-bottom: 8px; 
    padding-top: 2px; 
    padding-right: 0px; 
    padding-left: 0px; 
    text-align: center;
    }
    
.cutlineleft {
    font-size: .85em; 
    color: #000000; 
    padding-bottom: 8px; 
    padding-top: 2px; 
    padding-right: 0px; 
    padding-left: 0px; 
    text-align: left;
    }   
    
.cutlinecenter {
    font-size: .85em; 
    color: #000000; 
    padding-bottom: 8px; 
    padding-top: 2px; 
    padding-right: 0px; 
    padding-left: 0px; 
    text-align: center;
    }   
    
.cutlineright {
    font-size: .85em; 
    color: #000000; 
    padding-bottom: 8px; 
    padding-top: 2px; 
    padding-right: 0px; 
    padding-left: 0px; 
    text-align: right;
    }   

/************************ ACCORDIONS ***********************/

.content.supcontent {
  background-color: #FFF;
  padding-bottom: 40px;

}

#accordion {
  margin-top: 30px;
  margin-bottom: 70px;
}


.content-page .acc-only #accordion {
    margin-bottom: -190px;
}


.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-width: 0 !important;
}
/** Zebra **/
.panel-group .panel-heading.odd, .panel-group .accordionContent.odd {
  background-color: #e9e9e9 !important;
}
.panel-group .panel-heading.even, .panel-group .accordionContent.even {
  background-color: #FFF !important;
}

.panel-heading {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.panel-heading a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #666;
}
.panel-heading a:after {
    font-family: 'fontawesome';
    font-size: 14px;
    content: "\f068"; /*"\f107"; arrow down */
    float: right;
    color: #666;
    margin-top: 4px;
}
.panel-heading a.collapsed:after {
    content: "\f067"; /*"\f105"; arrow right */
}
.accordionHeader {
  margin-bottom: 0.12em;
}

#accordion h4 {
    margin-top: 6px;
    margin-bottom: 3px;
    line-height: 1.25;
    font-size: 16px;
    font-size: 1.6rem;
}

#accordion p {
    line-height: 1.25;
}

#accordion .panel-body .gray {
    background-color: #dedede;
    font-weight: normal;
    margin: 15px;
    padding: 15px;
      -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#accordion .panel-body .white {
    font-weight: normal;
    background-color: #fff; 
      -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 15px;
    padding: 15px;
}

#accordion .panel-body .black {
    font-weight: normal;
    color: #fff;
    background-color: #000; 
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 15px;
    padding: 15px;
}

#accordion .panel-body .red {
    font-weight: normal;
    color: #fff;
    background-color: #b40938; 
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 15px;
    padding: 15px;
}

#accordion .panel-body .blue {
    font-weight: normal;
    color: #fff;
    background-color: #25497a; 
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 15px;
    padding: 15px;
}

#accordion .panel-body .transparent {
    font-weight: normal;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    margin: -15px 15px -15px 15px;
}



/************************ LINK COLOR STATE FIXES/OVERRIDES ***********************/

#accordion h4 a:hover, a:focus {
    color: #80151A;
}



/* ------------------------ BOOTSTRAP OVERRIDES ---------------------- */  

blockquote {
    font-size: 1em;
    border: none;
}

.navbar-brand {
    padding-top: 17px;
}

.navbar-header a.navbar-brand {
    color: #ecc43c;
}

.navbar-nav {
    padding-top: 6px;
}

.navbar-nav .dropdown-toggle {
    padding-top: 23px;
}

.navbar-nav .dropdown-menu li a {
        text-align: left;
}

.navbar-nav li {
    margin-bottom: -7px;
}

.navbar-nav li br {
    content: "A" !important;
    display: block !important;
    margin-top: -5px !important;
}

.navbar-nav li a {
    text-align: center;
}

.navbar-header button {
    padding-top: 12px;
    margin-top: 15px;
}

.navbar {
    padding-bottom: 8px;
}

.navbar ul.visible-xs li a {
    text-align: left; 
    font-size: 1.2em;
}

/* footer styles */


.mnscufooter .footer-left {
    text-align: left;
    margin-bottom: 40px;
}

.mnscufooter .footer-left p {
    margin-right: 30px;
}

.mnscufooter .footer-middle {
    text-align: center;
    margin-bottom: 40px;
}

.mnscufooter .footer-right {
    text-align: right;
    margin-bottom: 40px;
}

/* Homepage slideshow carousel */

.slider-pro {
    font-family: 'Open Sans', Arial;
}

.sp-thumbnail-title {
    font-size: .95em;
    }

.sp-thumbnail-description {
    font-size: .75em;
    }

.sp-caption-container {
    font-size: 1.3em;
    }

.sp-thumbnail-image-container {
    width: 100px;
    height: 80px;
	overflow: hidden;
	float: left;
}

.sp-thumbnail-image {
	height: 100%;
}

.sp-thumbnail-text {
	width: 170px;
    float: right;
    padding: 8px;
    background-color: #F0F0F0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
}

.sp-thumbnail-description {
	font-size: 14px;
	color: #333;
}



/* ---------------- START CHARTING THE FUTURE CSS ------------ */ 
.ctf-box {
    width: 35%; 
    float: right; 
    margin: 0px 0px 15px 20px; 
    line-height: 1.2em;
    padding: 8px 15px 10px 15px;
    background-color: #c0e0f7;
    border-radius: 12px;
}

.ctf-p-bottom-margin {
     margin-bottom: .5em;
}

.ctf-h2 {
    line-height: 1.3em;
}

.ctf-list {
    margin-left: 0;
}

.ctf-p-indent {
    margin-left: 1.5em; 
    margin-top: .2em;
}

.ctf-h1 {
    margin-bottom: 15px;
}




/* ---------------- END CHARTING THE FUTURE CSS --------------- */  

/* PULL-DOWN MENU STYLES */
.pulldownleft {
    text-align: left; 
    margin-bottom: 15px;
    }
    
.pulldownright {
    text-align: right; 
    float: right; 
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 0px;
    }
    
.pulldownmenu {
    text-align: right; 
    right: 0px; 
    margin-bottom: 15px;
    }
    
.pulldownmenu1 {
    text-align: right; 
    right: 10px; 
    margin-bottom: 45px; 
    margin-left: 15px;
    position: absolute;
    }
    
.pulldownmenu2 {
    text-align: right; 
    right: 10px; 
    margin-bottom: 15px; 
    margin-left: 15px; 
    position: absolute; 
    margin-top: 55px;
    }
    
.board_ul {
    margin-top: -8px;
    margin-bottom: 9px;
    padding: 0px;
}

.board_ul li {
    line-height: auto;
    padding-top: 0;
    padding-bottom:0;
    margin-top: 0;
    margin-bottom:0;
}

.guideline_ul {
    margin-top:6px;
    margin-bottom: 10px;
    padding: 0px;
}

/* END PULL-DOWN MENU STYLES */


/* Additional conditions for responsive display */
/* Large desktops and laptops */
@media (min-width: 1200px) {
       .sp-image-container {
    padding-top: 60px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 801px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (min-width: 701px) and  (max-width: 800px) {
    
    
    .mnscufooter .footer-left {
    text-align: center;}

    .mnscufooter .footer-right {
    text-align: center;}
    
    
    .sp-image-container {
    padding-top: 55px;
    }   

}



/* Landscape phones and portrait tablets */
@media (min-width: 501px) and  (max-width: 700px) {
    
    .mnscufooter .footer-left {
    text-align: center;}

    .mnscufooter .footer-right {
    text-align: center;}
    
    
    .sp-image-container {
    padding-top: 35px;
    }   

}

/* Portrait phones and smaller */
@media (max-width: 500px) {
    .mnscufooter .footer-left {
    text-align: center;}

    .mnscufooter .footer-right {
    text-align: center;}

       
    .sp-thumbnail {
    display:none;
    }
     
    .sp-bottom-thumbnails {
        display:none;
    }

    .sp-has-pointer .sp-selected-thumbnail {
    display:none;
    }
    
    .sp-image-container {
    padding-top: 35px;
    }  
    
}


   
