/*!
Plugin Name: WashU Emergency Alerts
*/

.emergency-alert {
	background-color: #ffcc00;
	padding: 1.25em 1.5em;
	position: relative;
	font-size: 1.25em;
	line-height: 1.25;
}

.emergency-container {
    content: "";
    display: table;
    margin: 0 auto;
    max-width: 56.8em; /* this = 71rem, due to larger font size */
    width: 100%;
}

.banner {
	text-transform: uppercase;
	font-weight: 800;
}
.emergency-alert .banner, .emergency-alert .rssdesc {
	margin-bottom: 0;
	padding: 0;
}

.emergency-link {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	text-decoration: none;
	/* edit: added z-index */
	z-index: 10;
	/* edit: fixes overlap error in IE7/8,
	 make sure you have an empty gif */
	background-image: url('../img/transparent.gif');
}
.emergency-link:hover {
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity: 0.3;

}
.emergency-link-text {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}