@charset "utf-8";
/* CSS Document */

/*================================================||
	GLOBAL
||================================================*/

*{
	padding:0;
	border:0;
	outline:0;
	margin:0;
}

html{
	height:100%;
	/*overflow-y:auto;*/
}

	body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		height:100%;
		width:100%;
	}

		a{
			text-decoration:none;
		}
		
		.addthis_button_email{
			color:#ff4404 !important;
		}
		
		.addthis_button_email:hover{
			color:#000 !important;
		}
		
		a:hover{}
		
		ul{list-style:none;}
		
		.clear{
			font-size:0;
			line-height:0;
			clear:both;
		}

/*================================================||
	HEADER 
||================================================*/

#header{
	width:100%;
	height:130px;
	background-color:#ff4404;
	background-image:url(../img/top_bg.png);
	background-repeat:repeat-x;
	background-position:top;
	text-align:center;
}

	#header_top{
		width:950px;
		height:90px;
		margin:0 auto;
		background-color:#ff4404;
		background-image:url(../img/top_bg.png);
		background-repeat:repeat-x;
		background-position:top;
		padding:0 20px;
	}
	
		#header_title{
			float:left;
		}
		
		#header_search{
			float:right;
			margin-top:34px;
		}
		
			#header_search input{
				width:200px;
				height:26px;
				line-height:26px;
				padding:0 10px 0 10px;
				background-color:#ffffff;
				color:#d43600;
				font-size:11px;
				float:left;
			}
			
			#header_search a{
				display:block;
				background-image:url(../img/search_btn_sprite.png);
				background-repeat:no-repeat;
				background-position:0px 0px;
				width:32px;
				height:26px;
				float:left;
			}
			
			#header_search a:hover{
				background-position:0px -26px;
			}
			
			#header_search .search_box{
				width:200px;
				height:26px;
				line-height:26px;
				padding:0 10px 0 10px;
				background-color:#ffffff;
				color:#d43600;
				font-size:11px;
				float:left;
				
				vertical-align:middle;
			}
			
			#header_search .search_btn{
				display:block;
				background-image:url(../img/search_btn_sprite.png);
				background-repeat:no-repeat;
				background-position:0px 0px;
				width:32px;
				height:26px;
				float:left;
				
				cursor:pointer;
				vertical-align:middle;
			}
			
	
	#header_menu{
		width:950px;
		height:32px;
		margin:0 auto;
		background-color:#d43600;
		padding:0 20px;
	}
	
		#header_menu_nav{
			float:left;
		}
		
			#header_menu_nav ul li{
				float:left;
			}
			
			#header_menu_nav ul li a{
				display:inline-block;
				color:#ffffff;
				font-weight:bold;
				padding:0 10px 0 10px;
				height:32px;
				line-height:32px;
				vertical-align:middle;
			}
			
			#header_menu_nav ul li a:hover{
				background-image:url(../img/menu_selected.png);
				background-repeat:repeat-x;
				background-position:top;
			}
		
			.nav_selected{
				background-image:url(../img/menu_selected.png);
				background-repeat:repeat-x;
				background-position:top;
				cursor:default;
			}
			
			.menu_sep{
				background-image:url(../img/menu_sep.png);
				background-repeat:repeat-y;
				background-position:top;
				width:2px;
				height:32px;
				line-height:32px;
				font-size:1;
				
			}
		
		#header_menu_networks{
			float:right;
		}
		
			#header_menu_networks ul li{
				float:left;
			}
			
			#menu_share{
				margin:6px 10px 0 10px;
			}
			
			#menu_facebook{
				display:block;
				background-image:url(../img/facebook_btn_sprite.png);
				background-repeat:no-repeat;
				background-position:0px 0px;
				height:32px;
				width:28px;
			}
			
			#menu_facebook:hover{
				background-position:0px -32px;
			}
			
			#menu_twitter{
				display:block;
				background-image:url(../img/twitter_btn_sprite.png);
				background-repeat:no-repeat;
				background-position:0px 0px;
				height:32px;
				width:33px;
			}
			
			#menu_twitter:hover{
				background-position:0px -32px;
			}
		
	#header_spacer{
		width:950px;
		height:8px;
		margin:0 auto;
		background-color:#ff4404;
		padding:0 20px;
		line-height:8px;
		font-size:1px;
	}

/*================================================||
	CONTENT
||================================================*/

#content{
	width:100%;
	text-align:center;
}

	#content_wrapper{
		width:950px;
		margin:0 auto;
		padding:0 20px;
		text-align:left;
	}
	
	
		/*================================================||
		||================================================||
			HOME
		||================================================||
		||================================================*/
			

		/*================================================||
			FEATURED
		||================================================*/
		
		#featured{
			/*position:relative;*/
			padding-top:20px;
			border-bottom:2px solid #ff4404;
		}
		
			#big_headlines{
				float:left;
				width:460px;
				text-align:left;
				padding-bottom:20px;
				position:relative;
			}
				
				#big_headlines .big_headline{
					display:none;
					background-color:#ffffff;
					position:absolute;
					top:0;
					left:0;
				}
				
				#big_headlines .title_block{
					width:460px;
				}
				
					#big_headlines .title_block .title{
						display:block;
						float:left;
						width:424px;
						font-size:18px;
						line-height:24px;
						font-weight:bold;
						color:#ff4404;
						min-height:48px;
					}
					
					#big_headlines .title_block .title:hover{
						color:#000000;
					}
					
					.go_to_btn{
						display:block;
						background-image:url(../img/go_to_btn_sprite.png);
						background-repeat:no-repeat;
						background-position:0px 0px;
						height:26px;
						width:26px;
					}
					
					.go_to_btn:hover{
						background-position:0px -26px;
					}
				
				#big_headlines .description_block{
					margin-top:10px;
				}
				
					.left{
						float:left;
					}
					
					.right{
						float:right;
					}
					
					#big_headlines .description_block .left{
						width:220px;
						height:310px;
					}
					
						#big_headlines .description_block .left .description{
							width:220px;
							height:295px;
							text-align:justify;
							font-size:12px;
						}
				
						.big_headlines_nav{
							display:block;
						}
						
							.big_headlines_nav li{
								float:left;
								margin-right:10px;
							}
							
								.big_headlines_nav li a{
									display:block;
									background-image:url(../img/headlines_btn_sprite.png);
									background-repeat:no-repeat;
									background-position:0px 0px;
									height:16px;
									width:16px;
									line-height:16px;
									text-align:center;
									color:#ffffff;
									font-size:10px;
									cursor:pointer;
								}
								
								.big_headlines_nav li a:hover{
									background-position:0px -16px;
								}
								
								.big_headlines_nav li .selected{
									background-position:0px -32px;
									cursor:default !important;
								}
				
				#big_headlines .description_block .right{
					position:relative;
					width:220px;
					height:310px;
					/*background-color:#000000;*/
					background-color:#f0f0f0;
				}
				
					#big_headlines .description_block .right img{
						position:absolute;
						top:0;
						left:0;
						width:220px;
						clip:rect(0 220px 310px 0);
					}
		
		#small_headlines{
			float:right;
			width:490px;
		}
		
			.small_headlines_line{
				padding-bottom:20px;
			}
			
				.small_headline{
					float:left;
					padding-left:22px;
					width:100px;
					position:relative
				}
				
					.small_headline_thumb{
						position:relative;
						width:100px;
						height:110px;
						background-color:#000000;
					}
					
						.small_headline_thumb img{
							position:absolute;
							top:0;
							left:0;
							width:100px;
							clip:rect(0 100px 110px 0);
						}
					
					.small_headline_title, .small_headline_title a{
						margin-top:10px;
						width:100px;
						font-size:12px;
						font-weight:bold;
						color:#ff4404;
						text-align:left;
					}
					
						.small_headline_title a:hover{
							color:#000000;
						}

		/*================================================||
			PUB
		||================================================*/
		
		.pub{
			position:relative;
			width:100%;
			margin-top:20px;
			background-color:#dddddd;
			background-image:url(../img/pub_bg.png);
			background-repeat:no-repeat;
			background-position:left center;
			text-align:center;
		}
		
		.pub .pub_link{
			display:inline-block;
			position:absolute;
			top:0; left:50%;
			margin-left:auto;
			margin-right:auto;
			background-image:url(../img/x.png);
			background-repeat:repeat;
			cursor:pointer;
			z-index:999;
		}
		
		.mrec_pub{
			position:relative;
			width:300px;
			text-align:left;
		}
		
		.mrec_pub span{
			display:block;
			color:#999999;
			font-size:10px;
			line-height:16px;
			padding-bottom:5px;
		}
		
		.mrec_pub a{
			display:block;
			margin-top:0px;
		}
		
		.mrec_pub .pub_link{
			display:inline-block;
			position:absolute;
			top:21px; left:0;
			width:300px;
			height:250px;
			background-image:url(../img/x.png);
			background-repeat:repeat;
			cursor:pointer;
			z-index:999;
		}
		
		.pub object, .mrec_pub object{
			position:relative;
			z-index:1;
		}
		
		/*================================================||
			MORE SMALL HEADLINES
		||================================================*/
		
		#small_headlines2{
			margin-bottom:20px;
			text-align:left;

		}
		
			#small_headlines2 .small_headline{
				float:left;
				padding-left:0px;
				padding-right:21px;
				width:100px;
				position:relative
			}
				
		
			#small_headlines2 .last{
				margin:0 !important;
				padding:0 !important;
			}
		
		
		/*================================================||
			YOUTUBE VIDEOS
		||================================================*/
		
		#youtube_videos{
			margin-top:20px;
			font-size:12px;
			text-align:left;
		}
		
			#youtube_videos_header{
				font-weight:bold;
				color:#999999;
				border-bottom:1px solid #999999;
				height:25px;
			}
			
			#youtube_videos_items{
				padding-top:15px;
			}
			
				#youtube_videos_items .item{
					float:left;
					margin-right:18px;
					width:120px;
				}
				
				#youtube_videos_items .last{
					margin-right:0px !important;
				}
				
					#youtube_videos_items .item .thumb{}
					
					#youtube_videos_items .item .thumb img{
						width:120px;
					}
					
					#youtube_videos_items .item .title{
						padding-top:4px;
					}
					
					#youtube_videos_items .item .title a{
						color:#000000;
					}
					
					#youtube_videos_items .item .title a:hover{
						color:#ff4404;
					}
					
					#youtube_videos_items .item .link{
						padding-top:10px;
					}
					
					#youtube_videos_items .item .link a{
						font-size:11px;
						color:#757575;
					}
					
					#youtube_videos_items .item .link a:hover{
						color:#ff4404;
					}

		/*================================================||
			LIST LAST ITEMS BY CATEGOTY
		||================================================*/
		
		.list_last_line{
			padding-top:20px;
		}
			.list_last_block{
				width:300px;
				font-weight:bold;
				text-align:left;
				margin-right:25px;
			}
			
			.last{
				margin-right:0px !important;
				padding-right:0px !important;
			}
			
				.list_last_block .title{
					font-size:18px;
					padding-bottom:5px;
					border-bottom:1px solid #cccccc;
				}
				
				.list_last_block ul{
					padding-top:10px;
				}
				
					.list_last_block ul li{
						background-image:url(../img/list_item_bg.png);
						background-repeat:no-repeat;
						background-position:left center;
						padding-left:25px;
						line-height:22px;
						vertical-align:middle;
					}
					
						.list_last_block ul li a{
							width:275px;
							color:#ff4404;
						}
						
						.list_last_block ul li a:hover{
							color:#000000;
						}

		/*================================================||
			MISCELANEOUS BLOCKS
		||================================================*/
		
		.misc_line{
			padding-top:20px;
		}
		
			.misc_block{
				width:300px;
				text-align:left;
				margin-right:25px;
			}
			
			.misc_line .last{
				margin-right:0px !important;
			}
			
				.misc_block .title{
					font-size:14px;
					color:#151515;
					padding-bottom:5px;
				}
				
				.misc_block .content{
					width:300px;
					height:250px;
					background-color:#151515;
					font-size:12px;
					color:#ffffff;
				}
			
			#foto_destaque .content{
				text-align:center;
			}
			
			#questionario .content, 
			#newsletter .content{
				width:260px !important;
				height:210px !important;
				padding:20px;
				position:relative;
				line-height:20px;
				overflow:auto;
			}
			
			#questionario li{
				margin-bottom:2px;
				vertical-align:middle;
			}
			
			#questionario li img{
				vertical-align:middle;
			}

			
			#questionario input{
				margin-right:10px;
				vertical-align:middle;
				
			}
			
			#questionario .loader{
				display:none;
				margin-bottom:10px;
			}
			
			#questionario .notice{
				display:none;
				margin-bottom:10px;
				font-size:11px;
				padding:5px;
				font-weight:bold;
			}
			
			#questionario .resposta_txt{
				margin-bottom:1px;
				font-size:10px;
				line-height:12px;
			}
			
			#questionario .resposta_line{
				padding-top:4px;
				height:29px;
			}
			
			#questionario .content .questao, 
			#newsletter .content .questao{
				font-size:14px;
				font-weight:bold;
				margin-bottom:10px;
			}
			
			#newsletter .content input{
				width:240px;
				height:26px;
				padding:0 10px;
				background-color:#ffffff;
				font-size:12px;
				line-height:26px;
				color:#151515;
			}
			
			#newsletter .content .remove{
				margin-top:10px;
				font-size:10px;
				line-height:12px;
			}
			
			#newsletter .content .remove a{
				color:#ff4404;
				cursor:pointer;
			}
			
			#newsletter .content .remove a:hover{
				color:#ffffff;
			}
			
			#newsletter .content .loader{
				display:none;
				margin-bottom:10px;
			}
			
			#newsletter .content .notice{
				display:none; 
				line-height:26px;
				padding:0 10px; 
				margin-bottom:5px;
				font-size:11px;
				font-weight:bold;
			}
					
			.misc_block .submit_btn{
				text-align:right;
				position:absolute;
				top:204px;
				right:20px;
				cursor:pointer;
			}
			
			.misc_block .submit_btn a{
				position:absolute;
				top:0;
				right:36px;
				font-weight:bold;
				color:#ff4404;
				line-height:26px;
				width:230px;
			}
			
			.misc_block .submit_btn a:hover{
				color:#ffffff;
			}
			
		/*================================================||
		||================================================||
			ARTICLES
		||================================================||
		||================================================*/
			

		/*================================================||
			ARTICLE
		||================================================*/
		
		#article_block{
			float:left;
			margin-top:20px;
			width:620px;
		}
			
			#article_block .title{
				font-size:24px;
				font-weight:bold;
			}
			
			#article_block .info{
				margin-top:10px;
				font-size:11px;
			}
			
			#article_block .content{
				margin-top:20px;
				text-align:justify;
				font-size:14px;
			}
			
				#article_block .content img{
					float:left;
					margin-right:15px;
					margin-bottom:8px;
				}
			
			
			#comments{
				width:580px;
				padding:0 20px;
			}
			
				#comments .title{
					margin-top:20px;
					font-size:14px;
					font-weight:bold;
					color:#151515;
					padding-bottom:10px;
					border-bottom:1px solid #cccccc;
				}
				
				#comments .comment{
					margin-top:15px;
					font-size:12px;
					color:#656565;
					text-align:justify;
				}
				
					#comments .comment .name{
						color:#151515;
						font-weight:bold;
					}
					
					#comments_block .comment .location{
						color:#151515;
					}
					
				#comments .nav{
					margin-top:15px;
					height:15px;
				}
				
					#comments .nav a{
						display:block;
						cursor:pointer;
						color:#ff4404;
						font-size:11px;
						font-weight:bold;
					}
					
					#comments .nav a:hover{
						color:#151515;
					}
				
				#comments table{
					/*border:1px solid #cccccc;*/
				}
				
					#comments .input_text{
						width:240px;
						height:26px;
						line-height:26px;
						background-color:#eeeeee;
						border:1px solid #cccccc;
						padding:0 10px;
					}
					
					#comments .textarea{
						width:525px;
						height:100px;
						background-color:#eeeeee;
						border:1px solid #cccccc;
						padding:10px;
					}
					
					#comments td a{
						padding-left:10px;
						color:#ff4404;
						font-size:11px;
					}
					
					#comments td a:hover{
						color:#000000;
					}
					
					#comments .go_to_btn{
						/*margin-top:10px;*/
						width:200px;
						background-position:right top;
						text-align:right;
					}
					
					#comments .go_to_btn:hover{
						background-position:right -26px;
					}
					
					#comments .go_to_btn a{
						color:#ff4404;
						font-size:12px;
						line-height:26px;
						font-weight:bold;
						cursor:pointer;
						margin-right:36px;
					}
					
					#comments .go_to_btn a:hover{
						color:#000000;
					}
					
					#comment_form .notice{
						display:none;
						/*margin-bottom:10px;
						margin-left:10px;*/
						padding:10px;
						font-size:11px;
						text-align:right;
						font-weight:bold;
					}
					
					#comment_form .loader{
						display:none;
						/*margin-bottom:10px;*/
						text-align:right;
					}
					
					.loader{
						width:128px;
						height:15px;
						background-image:url(../img/loader.gif);
						background-repeat:no-repeat;
						background-position:center center;
					}


		/*================================================||
			CATEGORIES
		||================================================*/
		
		#categoria_block{
			float:left;
			/*margin-top:20px;*/
			width:620px;
		}
			
			#categoria_block .cat{
				margin-top:20px;
				text-align:left;
				height:24px;
			}
			
				#categoria_block .cat .name{
					color:#000000;
					font-size:24px;
					font-weight:bold;
				}
				
				#categoria_block .cat .page{
					color:#656565;
					font-size:14px;
					font-weight:normal;
					line-height:24px;
					vertical-align:middle;
				}
					
			#categoria_block .line{
				width:620px;
				margin-top:20px;
				text-align:left;
	
			}	
				
				#categoria_block .line .thumb{
					position:relative;
					width:100px;
					height:110px;
					background-color:#000000;
					margin-right:10px;
				}
				
					#categoria_block .line .thumb img{
						position:absolute;
						top:0;
						left:0;
						width:100px;
						clip:rect(0 100px 110px 0);
					}
				
				#categoria_block .line .title,
				#categoria_block .line .title a{
					width:510px;
					color:#000000;
					font-size:14px;
					font-weight:bold;
					text-align:left;
				}
				
					#categoria_block .line .title a{
						color:#ff4404;
					}
					
					#categoria_block .line .title a:hover{
						color:#000000;
					}
				
				#categoria_block .line .description{
					width:510px;
					color:#656565;
					font-size:12px;
					text-align:justify;
					margin-top:5px;
				}
				
				#categoria_block .line .date{
					width:510px;
					color:#656565;
					font-size:10px;
					text-align:left;
					margin-top:5px;
				}
				
			
			#categoria_block .nav{
				margin-top:20px;
				height:15px;
			}
			
				#categoria_block .nav a{
					display:block;
					cursor:pointer;
					color:#ff4404;
					font-size:11px;
					font-weight:bold;
				}
				
				#categoria_block .nav a:hover{
					color:#151515;
				}
				
				
		/*================================================||
			VIDEOS REGISTRY
		||================================================*/
		
		#videos_registry_block{
			float:left;
			/*margin-top:20px;*/
			width:620px;
		}
			
			#videos_registry_block .cat{
				margin-top:20px;
				text-align:left;
				height:24px;
			}
			
				#videos_registry_block .cat .name{
					color:#000000;
					font-size:24px;
					font-weight:bold;
				}
				
				#videos_registry_block .cat .page{
					color:#656565;
					font-size:14px;
					font-weight:normal;
					line-height:24px;
					vertical-align:middle;
				}
					
			#videos_registry_block .line{
				width:620px;
				margin-top:20px;
				text-align:left;
	
			}	
				
				#videos_registry_block .line .thumb{
					/*position:relative;
					width:100px;
					height:110px;
					background-color:#000000;
					margin-right:10px;*/
					width:120px;
				}
				
					#videos_registry_block .line .thumb img{
						/*position:absolute;
						top:0;
						left:0;
						width:100px;
						clip:rect(0 100px 110px 0);*/
						width:120px;
					}
				
				#videos_registry_block .line .title,
				#videos_registry_block .line .title a{
					width:490px;
					color:#000000;
					font-size:14px;
					font-weight:bold;
					text-align:left;
				}
				
					#videos_registry_block .line .title a{
						color:#ff4404;
					}
					
					#videos_registry_block .line .title a:hover{
						color:#000000;
					}
				
				#videos_registry_block .line .description{
					width:490px;
					color:#656565;
					font-size:12px;
					text-align:justify;
					margin-top:5px;
				}
				
				#videos_registry_block .line .date{
					width:490px;
					color:#656565;
					font-size:10px;
					text-align:left;
					margin-top:5px;
				}
				
			
			#videos_registry_block .nav{
				margin-top:20px;
				height:15px;
			}
			
				#videos_registry_block .nav a{
					display:block;
					cursor:pointer;
					color:#ff4404;
					font-size:11px;
					font-weight:bold;
				}
				
				#videos_registry_block .nav a:hover{
					color:#151515;
				}
				
				
		/*================================================||
			MISC PAGES
		||================================================*/
		
		#misc_page_block{
			float:left;
			/*margin-top:20px;*/
			width:620px;
		}
		
			#misc_page_block .title{
				margin-top:20px;
				color:#000000;
				font-size:24px;
				font-weight:bold;
			}
			
			#misc_page_block .description{
				margin-top:20px;
				color:#656565;
				font-size:12px;
			}
			
				#misc_page_block .description .highlight{
					font-size:10px;
					color:#ff4404;
				}
				
			#misc_page_block .form{
				margin-top:20px;
			}
			
			#mail_form td{
				padding-top:10px;
			}
			
			#mail_form input{
				height:26px;
				line-height:26px;
				background-color:#eeeeee;
				border:1px solid #cccccc;
				padding:0 10px;
			}
			
			#mail_form textarea{
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				width:598px;
				height:400px;
				line-height:26px;
				background-color:#eeeeee;
				border:1px solid #cccccc;
				padding:10px;
				line-height:normal;
			}
			
			#mail_form .go_to_btn{
						margin-top:10px;
						width:200px;
						background-position:right top;
						text-align:right;
					}
					
			#mail_form .go_to_btn:hover{
				background-position:right -26px;
			}
			
				#mail_form .go_to_btn a{
					color:#ff4404;
					font-size:12px;
					line-height:26px;
					font-weight:bold;
					cursor:pointer;
					margin-right:36px;
				}
				
				#mail_form .go_to_btn a:hover{
					color:#000000;
				}
			
			#mail_form .notice{
				display:none;
				line-height:26px;
				padding:0 10px;
				margin-top:10px;
				font-size:11px;
				font-weight:bold;
			}
		
		/*================================================||
			RIGHT PAGE CONTENT
		||================================================*/
		
		#right_page_block{
			float:right;
			margin-top:20px;
			width:300px;
		}
		
		
		.vertical{
			margin-top:20px;
			margin-right:0;
			padding-right:0;
		}
		
		/*================================================||
			ERRORS
		||================================================*/
		
		.error_page{
			margin-top:20px;
			padding:20px;
		}
		
		.error_code{
			margin-bottom:20px;
			font-size:24px;
			font-weight:bold;
			color:#ff4404;
		}

/*================================================||
	FOOTER
||================================================*/

#footer{
	width:950px;
	margin:20px auto 0 auto;
	padding:0 20px;
	text-align:center;
}

	#footer_wrapper{
		width:950px;
		margin:0 auto;
		padding-top:10px;
		padding-bottom:20px;
		border-top:2px solid #ff4404;
	}
	
	#footer_wrapper .left, #footer_wrapper .right{font-size:11px;}
	
	#footer_wrapper .left a, #footer_wrapper .right a{color:#ff4404;}
	
	#footer_wrapper .left a:hover, #footer_wrapper .right a:hover{color:#000000;}
	




















