#compare-table {
    margin: 0 auto;
}
#compare-table {
}
#compare-table td {
    border-right: 1px solid #cbcbcb;
}
#compare-table td > span{
    padding-left: 5px;
}
#compare-table table {
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
}
#compare-table td:first-child,
.compare-column-subheader:first-child,
.compare-column-header:first-child {
    border-left: 1px solid #cbcbcb;
}
.compare-column-group {
    text-align: center;
    background-color: #fff;
    border: 1px solid #cbcbcb;
}
.compare-column, .compare-column-group {
    width: 19.84%;
}
.device0 {
    font-weight: bold;
}
.compare-column-header-wrapper {
    padding-left: 5px;
}
.compare-column ul {
    margin: 0;
}
.compare-column li {
    border-bottom: 1px solid #eee;
    padding: 3px;
}
.compare-column input[type=text] {
    width: 190px;
}
.device0, .device2, .device4 {
    background-color: #f2f2f2;
}
.device1, .device3{
    background-color: #f7f7f7;
}