#smaa_container {
    text-align: left;
}

.smaa_content {
    min-height: 0;
}

.smaa_content .wp-smiley {
    display: inline;
}

.smaa_question_table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display: table;
    text-align: left;
    padding: 0;
}

.smaa_question_row {
    color: #1e1e1e;
    text-decoration: none;
    display: table-row;
    border-bottom: solid 1px #d8d7d7;
}

.smaa_question_cell {
    text-align: left;
    padding: 10px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

.smaa .article-text:empty,
.smaa_question_cell .smaa-expand-container:empty,
.smaa_question_cell .smaa-text-container:empty {
    display: none;
}

.smaa_question {
    cursor: pointer;
    font-weight: bold;
}

.smaa_answer {
    padding: 10px;
    display: none;
}

.smaa_device_image {
    width: 95px;
    height: 95px;
    background-size: cover;
}

.smaa .smaa-text-container {
    overflow: hidden;
}

.smaa .smaa-bottom-fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 4em;
}

.smaa .article .max-height {
    max-height: 480px;
    overflow: hidden;
}

.smaa-read-more {
    background: url("../img/double-down.png");
    width: 60px;
    height: 60px;
    display: block;
    margin: 5px auto 15px;
    text-decoration: none;
    background-size: cover;
}

.smaa-rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.smaa-read-more img {
    display: none;
    margin: 0 auto 30px auto;
    border: 0;
    outline: 0;
    border-top: solid 10px #fff;
}

.smaa .article .article-text .author-avatar {
    border-radius: 0;
    display: block !important;
}

.smaa .article .article-content {
    min-height: 0;
}

.smaa .article .article-content .article-text p:last-child {
    margin: 0;
}

.apk-version-list {
    width: auto;
    vertical-align: top;
}

@media (max-width: 520px) {
    .smaa_question_row {
        display: block;
    }

    .apk-version-list {
        display: block;
    }
}

.smaa_question_row .max-height {
    max-height: 39px;
    overflow: hidden;
}

.smaa_question_row .smaa-text-container {
    position: relative;
}

.smaa_question_row .smaa-read-more {
    background: none !important;
}

.smaa_question_row .smaa-bottom-fade:after {
    height: 2em;
}

.smaa_question_row ul {
    list-style: disc;
    padding: 0 25px;
}


.smaa_question_row ul li {
    list-style: disc;
    padding-left: 0px;
}

.apk-version-list img {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

.apk-version-list .meta {
    display: block;
    margin: 0 10px 0 0;
}

.apk-version-list .meta .article-meta {
    margin-left: 50px;
}

.smaa_question_row .article-text {
    display: inline-block;
    vertical-align: inherit;
    font-size: small;
}

/* -------------- */
.table-latest-smaa {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display: table;
    text-align: left;
    padding: 0;
}

.smaa-table-header {
    font-weight: bold;
}

.smaa-table-row {
    color: #1e1e1e;
    text-decoration: none;
    display: table-row;
    border-bottom: solid 1px #d8d7d7;
}

a.smaa-table-row:hover {
    background: #eff0f1 !important;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
    text-decoration: none;
    color: #2b2b2b;
}

.smaa-table-cell {
    text-align: left;
    padding: 10px;
    /*white-space: nowrap;*/
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}