#smhd_container {
    text-align: left;
}

.smhd_content {
    min-height: 0;
}
.smhd_content .wp-smiley {
    display: inline;
}

.smhd_question_table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display: table;
    text-align: left;
    padding: 0;
}

.smhd_question_row {
    color: #1e1e1e;
    text-decoration: none;
    display: table-row;
    border-bottom: solid 1px #d8d7d7;
}

.smhd_question_cell {
    text-align: left;
    padding: 10px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}
.smhd_question {
    cursor: pointer;
    font-weight: bold;
}
.smhd_answer {
    padding: 10px;
    display: none;
}
.smhd_device_image {
    width: 95px;
    height: 95px;
    background-size: cover;
}
.smhd .article .article-text {
    margin-left: 0px;
}
.smhd .maxi-news-list ul li {
    padding: 15px 30px 0 30px;
}

.smhd .maxi-news-list ul a {
    padding: 0 0 15px 0;
    color: #26a3d9;
}

.smhd .breadcrumb-container {
    margin-bottom: 0;
}

.smhd .breadcrumb {
    margin-top: -15px
}

.smhd-ad {
    margin-bottom: 30px;
}