/*---------------------------------------------------------------------- 
------------------------------------------------------------------------
CONTENIDO BASE.CSS
    1-RESET
    2-FUENTES
    3-GRID
    4-HELPERS
    5-MEDIA QUERYS
------------------------------------------------------------------------
------------------------------------------------------------------------*/


/*----------1-RESET----------*/

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; min-width: 320px; }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent;}
body { padding-top: 46px; font-family: arial, helvetica, sans-serif; font-size: 14px; line-height: 1.42857143; color: #333;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {  display: block;}
caption { display: none; }
audio, canvas, progress, video {  display: inline-block;  vertical-align: baseline;}
audio:not([controls]) {  display: none;  height: 0;}
[hidden],template {  display: none;}
img { display: block; padding: 0; margin: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) {  overflow: hidden;}

/*Textos*/
ul, ol, dl, dt, dd { padding: 0; margin: 0; list-style-type: none; }
dt { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-size:13px; }
abbr[title] { border-bottom: 1px dotted #666; cursor: help;}
abbr { text-decoration: none; }
b, strong {  font-weight: bold;}
dfn {  font-style: italic;}
mark {  background: #ff0;  color: #000;}
small {  font-size: 80%;}
sub, sup {  font-size: 75%;  line-height: 0;  position: relative;  vertical-align: baseline;}
sup {  top: -0.5em;}
sub {  bottom: -0.25em;}

/* Links */
a { text-decoration: none; outline: none; cursor:pointer;  background-color: transparent; color: #101010; }
a:active, a:hover { outline: 0;}
a:hover { text-decoration: none; }
a:active { color: #000 }
a img { border: none; }
a abbr { cursor: pointer; }

/* Forms */
button, input, optgroup, select, textarea {  color: inherit;   font: inherit;   margin: 0; outline:0; }
button {  overflow: visible; padding: 0; background: none; border: 0;}
button, select { text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled] { cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {  border: 0;  padding: 0;}
input {  line-height: normal;}
input[type="checkbox"], input[type="radio"] {  box-sizing: border-box; padding: 0; }
input[type="search"] {   -webkit-appearance: textfield; -moz-box-sizing: content-box;  -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
input:focus, textarea:focus { outline: none!important; }
legend {  border: 0; padding: 0;}
textarea { overflow: auto;}
optgroup { font-weight: bold;}

/* Tables */

table { border-collapse: collapse;  border-spacing: 0; width: 100%; }

thead > tr > th, 
tbody > tr > th, 
tfoot > tr > th, 
thead > tr > td,
tbody > tr > td, 
tfoot > tr > td {
    border: 1px solid #f2f2f2;
    line-height: 1.42857;
    padding: 7px;
    vertical-align: middle;
    font-size: 13px; 
}

thead > tr > th, 
tbody > tr > td{ text-align: center; }
tbody > tr > th{ text-align: left; }

.table {
    max-width: 100%;
    width: 100%;
}


/*---------2-FUENTES----------*/

@font-face {
    font-family: 'ascombold';
    src: url('../fonts/ascombold-webfont.eot');
    src: url('../fonts/ascombold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ascombold-webfont.woff') format('woff'),
         url('../fonts/ascombold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ascombold';
    src: url('../fonts/ascombolditalic-webfont.eot');
    src: url('../fonts/ascombolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ascombolditalic-webfont.woff') format('woff'),
         url('../fonts/ascombolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'sourcesans';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sourcesansbold';
    src: url('../fonts/sourcesanspro-bold.eot');
    src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold.woff') format('woff'),
         url('../fonts/sourcesanspro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sourceblack';
    src: url('../fonts/sourcesansproblack.eot');
    src: url('../fonts/sourcesansproblack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesansproblack.woff') format('woff'),
         url('../fonts/sourcesansproblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*----------3-GRID----------*/

* {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.row {  margin-right: -10px;  margin-left: -10px;}
.container {  padding-right: 10px;  padding-left: 10px;  margin-right: auto;  margin-left: auto; width: 992px; /*width: 970px; ajuste para roba es 960*/ min-width: 320px;}

.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-sm-2, .col-md-2, .col-xs-3, .col-sm-3, .col-md-3, .col-xs-4, .col-sm-4, .col-md-4, .col-xs-5, .col-sm-5, .col-md-5, .col-xs-6, .col-sm-6, .col-md-6, .col-xs-7, .col-sm-7, .col-md-7, .col-xs-8, .col-sm-8, .col-md-8, .col-xs-9, .col-sm-9, .col-md-9, .col-xs-10, .col-sm-10, .col-md-10, .col-xs-11, .col-sm-11, .col-md-11, .col-xs-12, .col-sm-12, .col-md-12 {
  position: relative;  min-height: 1px;  padding-right: 10px;  padding-left: 10px;
}
    
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666666666666%; }
  .col-md-10 { width: 83.33333333333334%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666666666666%; }
  .col-md-7 { width: 58.333333333333336%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666666666667%; }
  .col-md-4 { width: 33.33333333333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.666666666666664%; }
  .col-md-1 { width: 8.333333333333332%; }
 


/*----------4-HELPERS----------*/

.cf { *zoom: 1; }
.cf:before, .cf:after, .row:before, .row:after, .container:before, .container:after { content: " "; display: table; }
.cf:after, .row:after, .container:after { clear: both; }

.s-pr { position: relative;}
.s-pa { position: absolute; }

.s-left{ float: left;}
.s-right{ float: right;}

.s-tcenter { text-align: center; }
.s-tleft { text-align: left; }
.s-tright { text-align: right; }

.s-block { display: block;}
.s-inline { display: inline;}
.s-inb { display: inline-block; *zoom: 1; *display: inline; vertical-align: middle;  }
.hidden-text { overflow: hidden; display: block; text-indent: -9999px; width: 0px; height: 0px;}
.s-ov { overflow: hidden; }
.hide {display: none}
.s-hidden {display: none}
.no-border { border: 0 none !important; }
.underline { text-decoration: underline; }
.disabled { opacity: 0.4; }

.m-t-5 { margin-top: 5px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-r-5 { margin-right: 5px; }
.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }
.m-b-5 { margin-bottom: 5px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-l-5 { margin-left: 5px; }
.m-l-10 { margin-left: 10px; }
.m-l-20 { margin-left: 20px; }

.m-t-s { margin-top:10px; }
.m-t-m { margin-top:15px; }
.m-t-l { margin-top:20px; }
.m-t-xl { margin-top:40px; }
.m-r-s { margin-right:10px; }
.m-r-m { margin-right:15px; }
.m-r-l { margin-right:20px; }
.m-r-xl { margin-right:40px; }
.m-b-s { margin-bottom:10px; }
.m-b-m { margin-bottom:15px; }
.m-b-l { margin-bottom:20px; }
.m-b-xl { margin-bottom:40px; }
.m-l-s { margin-left:10px; }
.m-l-m { margin-left:15px; }
.m-l-l { margin-left:20px; }
.m-l-xl { margin-left:40px; }

.img-responsive{ display: inline-block; max-width: 100%; height: auto;}
.img-max-size{ max-width: 100%; max-height: 100%; }

.table-responsive { overflow-y: hidden; width: 100%; } 

.center-block { display: block; margin-left: auto; margin-right: auto;}


/*---------5- MEDIA QUERYS ---------*/

@media (max-width: 767px) {

    .container {width: 100%}
    
    .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 { width: 100%; }  
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      float: left;
    }

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666666666666%; }
    .col-xs-10 { width: 83.33333333333334%; }
    .col-xs-9 { width: 75%; }
    .col-xs-8 { width: 66.66666666666666%; }
    .col-xs-7 { width: 58.333333333333336%; }
    .col-xs-6 { width: 50%; }
    .col-xs-5 { width: 41.66666666666667%; }
    .col-xs-4 { width: 33.33333333333333%; }
    .col-xs-3 { width: 25%; }
    .col-xs-2 { width: 16.666666666666664%; }
    .col-xs-1 { width: 8.333333333333332%; }

    thead > tr > th, 
    tbody > tr > th, 
    tfoot > tr > th, 
    thead > tr > td, 
    tbody > tr > td, 
    tfoot > tr > td { font-size: 12px; }

    .hidden-xs { display: none!important; }

    
}

@media (min-width: 768px) and (max-width: 991px) { 
 
  .container {/*width: 750px ancho scrollbar*/ width: 768px;}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666666666666%; }
  .col-sm-10 { width: 83.33333333333334%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666666666666%; }
  .col-sm-7 { width: 58.333333333333336%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666666666667%; }
  .col-sm-4 { width: 33.33333333333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.666666666666664%; }
  .col-sm-1 { width: 8.333333333333332%; }

  .hidden-sm { display: none!important; }


}

@media (min-width: 992px) {

  .hidden-md { display: none!important;}

} 
