﻿.body{margin:0;direction:rtl;overflow:auto;background-color:#e5f4ff;}
.bodyW{margin:0;direction:rtl;overflow:hidden;}
.newbody{margin:0;direction:rtl;overflow:auto;}
.table{width:100%;border:0;padding:0;border-spacing:0;border-collapse:collapse;}
.table2{width:100%;height:350px;border:0;padding:0;border-spacing:0;}
.table3{width:100%;height:100%;border:0;padding:0;border-spacing:0;}
.table4{border-style: none;
    border-color: inherit;
    border-width: 0;
    width:100%;    border-spacing:0;    font-family:Tahoma;    font-size:9pt;    color:Navy;    text-align:justify;
    height: 270px;
}
.menu:hover{color:#194b7d;cursor:pointer;}
.p_link{font-family:Tahoma;font-size:9pt;text-align:left;text-decoration:underline;cursor:pointer;}
.p_link:hover{color:#194b7d;}
.p_link2{font-family:Tahoma;font-size:8pt;font-weight:bold;text-align:left;text-decoration:underline;cursor:pointer;color:Maroon;}
.p_link2:hover{color:#194b7d;}
.p_link1{text-align:right;cursor:pointer;font-family:Tahoma;font-weight:normal;font-size:8pt;}
.p_link1:hover{color:#194b7d;text-decoration:underline;}
.p_link3{text-align:right;cursor:pointer;font-family:Tahoma;font-weight:bold;font-size:7.5pt;}
.p_link3:hover{color:#194b7d;text-decoration:underline;}
.link{text-decoration:underline;cursor:pointer;color:Blue;}
.img_link{cursor:pointer;}
.boxhead{color:#194b7d;background-image:url('../images/bg1.gif');width:100%;height:25px;font-family:Tahoma;font-size:8pt;font-weight:bold;text-align:right;}
.boxbody{text-align:justify;vertical-align:top;width:100%;font-family:Tahoma;font-size:9pt;padding:5px 10px 5px 10px;}
.boxbody2{text-align:justify;vertical-align:top;width:100%;font-family:Tahoma;font-size:9pt;border-left:solid 0.5pt #dbebf3;border-right:solid 0.5pt #dbebf3;border-bottom:solid 0.5pt #dbebf3;padding:5px 10px 5px 10px;height:50px;}
.ltrtext{direction:ltr;}
.loadingText{font-family:Verdana;font-size:10px;color:#999999;font-weight:bold;text-align:right;direction:rtl;position:absolute;top:300;visibility:hidden;}
.loadingText2{font-family:Verdana;font-size:10px;color:#999999;font-weight:bold;text-align:right;direction:rtl;position:absolute;top:300;visibility:visible;}
.loadingText img{vertical-align:middle;}
.frameMain{visibility:hidden;}
.frameMain2{visibility:visible;}
.td_label_ltr{text-align:left;font-family:Tahoma;font-size:9pt;vertical-align:top;}
.td_label_ltr_nowidth{text-align:left;font-family:Tahoma;font-size:9pt;vertical-align:top;width:1%;}
.td_label_rtl{text-align:right;font-family:Tahoma;font-size:9pt;vertical-align:middle;}
.td_label_center{text-align:center;font-family:Tahoma;font-size:9pt;vertical-align:middle;}
.td_section{text-align:right;font-family:Tahoma;font-size:10pt;font-weight:bold;background-color:Green;color:White;vertical-align:middle;cursor:pointer;}
.textbox1{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:100px;}
.textbox1_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:100px;}
.textbox2{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:200px;}
.textbox2_fixed{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:200px;resize:none;}
.textbox3{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:300px;}
.textbox4{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:400px;}
.textbox4_fixed{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:400px;resize:none;}
.textbox5{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:500px;}
.textbox8{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:800px;}
.textbox5_fixed{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:500px;resize:none;}
.textbox100{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:100%;}
.textbox100_fixed{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:100%;resize:none;}
.textbox2_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:200px;}
.textbox3_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:300px;}
.textbox4_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:400px;}
.textbox5_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:500px;}
.Entextbox{direction:ltr;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;}
.Entextbox1{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:100px;}
.Entextbox1_5{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:150px;}
.Entextbox2{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:200px;}
.Entextbox1_e{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:100px;}
.Entextbox2_e{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt red;width:200px;}
.Entextbox8{direction:ltr;text-align:left;font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:800px;}
.ddl{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;}
.ddl_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;}
.normaltext{font-family:Tahoma;font-size:9pt;}
.highlightBtn{font-family:Tahoma;font-size:9pt;font-weight:bold;color:White;background-color:Navy;}
.normaltextG{font-family:Tahoma;font-size:9pt;color:Green;}
.normaltext_hide{font-family:Tahoma;font-size:9pt;display:none;}
.normaltext_e{font-family:Tahoma;font-size:9pt;border:solid 1pt red;}
.td_error{border:solid 1pt #ff5050;text-align:right;font-family:Tahoma;font-size:9pt;vertical-align:middle;}
.return_link{cursor:pointer;position:absolute;top:220px;left:10px;font-family:B Roya;color:Blue;}
#UpdateProgress1{background-color:White;color:#194b7d;top:200px;width:300px;height:70px;right:0px;position:absolute;font-family:Tahoma;font-size:10pt;font-weight:bold;text-align:center;border-style:outset;border:outset 2pt #599ec7;}
#UpdateProgress1 img{vertical-align:middle;margin:2px;}
#Panel1{font-family:Tahoma;font-size:9pt;}
.red{color:Red;}
.actMenu2{padding:5px 5px 5px 5px;text-align:center;cursor:pointer;background-color:#ecaf6a;color:White;font-family:Tahoma;font-size:8pt;font-weight:bold}
.actMenu{padding:5px 5px 5px 5px;text-align:center;cursor:pointer;background-color:#244b9f;color:White;font-family:Tahoma;font-size:8pt;font-weight:bold}
.actMenu:hover{background-color:#ecaf6a;color:#244b9f;}
.actMenu2:hover{color:#244b9f;}
.textbox_op{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:300px;height:100px;resize:none;}
.textbox_banner{font-family:Tahoma;font-size:9pt;border:solid 1pt gray;width:400px;height:60px;resize:none;}
.tickerpane{padding:3px 12px 3px 25px;color:rgb(178, 8, 21);font-family:Tahoma;font-style:normal;font-variant:normal;font-weight:bold;font-size:12px;line-height:150%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;}
#theTicker{margin:0px;font-family:Tahoma;font-style:normal;font-variant:normal;font-weight:normal;font-size:12px;line-height:150%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;text-align:right;direction:rtl;}
a:hover{color:rgb(187, 0, 3);}
.ntitle{font-family:tahoma;font-size:13px;font-weight:bold;text-decoration:none;text-align:right;direction:rtl;line-height:130%;color:rgb(0, 0, 127);}
.ntext{font-family:tahoma,arial,'Times New Roman';font-style:normal;font-variant:normal;font-weight:normal;font-size:11px;line-height:170%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;color:rgb(0, 0, 0);text-decoration:none;-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:none;-moz-text-decoration-style:solid;text-align:justify;}
.ntextl{font-family:tahoma,arial,'Times New Roman';font-style:normal;font-variant:normal;font-weight:normal;font-size:11px;line-height:170%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;color:rgb(0, 0, 0);text-decoration:none;-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:none;-moz-text-decoration-style:solid;text-align:left;}
.ntextr{font-family:tahoma,arial,'Times New Roman';font-style:normal;font-variant:normal;font-weight:normal;font-size:11px;line-height:170%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;color:rgb(0, 0, 0);text-decoration:none;-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:none;-moz-text-decoration-style:solid;text-align:right;}
.ntextc{font-family:tahoma,arial,'Times New Roman';font-style:normal;font-variant:normal;font-weight:normal;font-size:11px;line-height:170%;font-size-adjust:none;font-stretch:normal;-x-system-font:none;-moz-font-feature-settings:normal;-moz-font-language-override:normal;color:rgb(0, 0, 0);text-decoration:none;-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:none;-moz-text-decoration-style:solid;text-align:center;}body {
}
