/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
---------------------------------------- */
.nrkno-header {
	background-color: #000; color: #fff; padding: 5px 0 5px 0;
}

.nrkno-header a, .nrkno-header a:link, .nrkno-header a:visited, .nrkno-header a:hover {
	color: #fff;
	background: url("/wp-content/themes/p3v2/images/nrk_back.png") no-repeat scroll 0 50% transparent;
	text-decoration:none;	
    padding: 0 0 0 30px;
    text-indent: 0;
    width: 10em;	
}

/* sombi embed */
.mfp-wrap {
	z-index: 12000 !important;
}

.vspacebottom {

	margin-bottom: 20px !important;

}


.vspacetop {
	margin-top: 20px !important;
}

.r-img img {
    display: block;
    height: auto;
    width: 100%;
}

.byline {
	margin-right: 10px; 
	float: left !important;
	display: block;
}

.share {
	margin-left: 10px; 
	margin-top: 10px;
	margin-bottom: 15px;
	float: right !important;
	display: block;
}

.byline .avatar {
	margin-right: 10px; 
	float: left !important;
	display: inline-block;
}

.byline p {
	color: #999 !important;
	font-size: 1.0em !important;
	font-family: "Helvetica Neue",Arial,freesans,sans-serif;
	line-height: normal;
}

.byline p a,.byline p a:link, .byline p a:hover, .byline p a:visited {
	color: #555 !important;
	font-weight: bold;
	font-size: 1.0em !important;	
	font-family: "Helvetica Neue",Arial,freesans,sans-serif;
	display: block;
	line-height: normal;
}

.byline .email img { max-width: 16px; }


.globalmenu-collapsed .p3logo {
	float: left;
}


.globalmenu .programlogo {
	margin-top: 5px;
}

.entry-content .alignleft, .entry-content .alignright {
	max-width: 40%;
}

.entry-content .alignright {
	float:right;
}

.entry-content .alignleft {
	float:left;
}

.entry-content .size-medium {
	width: 100% !important;
}

#full-width-slider {
	display: none;
}
.royalSlider { height: 400px !important; }

.archive hr { width: 100% !important; }


.sections-heading.nav #slick-toggle { 
	text-decoration: none !important;
}

/* galleria */

#galleria { 
	width:100%;
}

/* siste-poster */

.siste-poster-kategori ul { 
	margin-left: 0 !important;
 }

.siste-poster-kategori li { 
	list-style: none;
 }
 

/* lenker */
.entry-content a { text-decoration: underline; }
	
#p3-footer a { text-decoration: underline; }
#nrkfooter a { color: #fff; text-decoration: underline; }


/* jetpack comments */

#jp-carousel-comment-form-container, #jp-carousel-comment-form, #jp-carousel-comments-loading {

	display: none;

}


.repriselenke {
	border: 4px solid #a0a0a0; 
	padding: 4px 4px 5px 4px; 
	text-decoration: none; 
	color: #787878;
	text-transform: uppercase;
	font-size: 140%;
	font-weight: bold;
	font-family: 'WebOswald', sans-serif;
	letter-spacing: 1px;
	display: inline-block;
	margin-top: 10px;
}

.repriselenke:hover {
	border: 4px solid #000; 
	color: #000;
	font-size: 150%;
}

/* jetpack infinite scroll */

#infinite-footer {
	background: rgba( 255, 255, 255, 0.8 );
	border-color: #ccc;
	border-color: rgba( 0, 0, 0, 0.1 );
	border-style: solid;
	border-width: 1px 0 0;
}

#infinite-footer .container {
	border: 0 !important;
}

.divider {
	padding-bottom: 20px;
}

/* faktaboks */

.faktaboks ul li {
	line-height: 22px;
	font-size: 14px;
	font-size: 1.4rem;
}

.faktaboks ul li {
	margin-bottom: 5px;
}


/* omboks */

.omboks ul li {
	line-height: 24px;
	font-size: 15px;
	font-size: 1.5rem;
}

.omboks ul li {
	margin-bottom: 15px;
}



.embed-youtube {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}

.embed-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dumpalogop3no {
	padding-right:50px;
}

#post-nav .post-previous {
	float: left;
}

#post-nav .post-next {
	float: right;
}

#post-nav .post-previous a, #post-nav .post-next a {
	background: #333;
    border-radius: 1px;
    color: #eee;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 16px;
}




/* -----------------------------------------
   Footer
----------------------------------------- */
.social-tabs .active a {
	/* background-color: #fff; */
}

.social-tabs img{ 
	max-width: 30px;
}

#nrkfooter .nrk-om {
	float:left; 
	padding-right:10px;
}

#nrkfooter  .nrk-hjelp {
	float:right;
	text-align: right;
}

#p3-footer p {
	margin-top: 10px;
}


/* -----------------------------------------
   Foto
----------------------------------------- */

.tt-flickr-Original img, #photo img { width: 100% !important; padding-top: 40px; }

#photo img { margin-top: 20px !important; }

.all-albums { clear: both; display: block !important; padding-top: 20px !important;}

.album { margin-top: 30px !important;}


/* -----------------------------------------
   IE-fiks
----------------------------------------- */


.no-margin { margin-left: 0 !important; }
.fr { float: right !important; }


/* -----------------------------------------
   Frontpage musikk
----------------------------------------- */

.videorama {
	background-color: #000;
}

.laatliste {
	background-color: #000; 
	min-height: 275px;
}

.videorama h3, .laatliste h3 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.7em !important;
	text-transform: uppercase;
	margin-top: 20px;
	
}

.videorama h3 span, .laatliste h3 span {
	color: #fff;
	background-color: #b61113;
	padding: 2px 4px;
}

.laatliste p {
	color: #fff;
	text-align: center;
	font-size: 1.0em !important;
}

.laatliste h1 {
	color: #fff;
	font-size: 36px; font-size: 4.6rem;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:3px
}

.videorama h1 {
	color: #fff;
	font-size: 16px; font-size: 1.6rem;
	padding-right: 20px;
	
}

.videorama p {
	color: #fff;
	font-size: 1.0em !important;
	padding-right: 20px;
}	

.videorama a, .laatliste a {
	color: #777;
}

.videorama a:hover, .laatliste a:hover {
	color: #b61113;
}

.fp-siste-kommentarer ul li a, #sisteTab ul li a {
	font-weight: bold;
}

.fp-siste-kommentarer ul ul li a, #sisteTab ul ul li a {
	font-weight: normal;
}

#sisteTab h2 {
	display: none;
}


/* -----------------------------------------
   Dokumentarunivers
----------------------------------------- */


.dokumentar .item {
	width: 20%;
	position: relative;
}

.dokumentar .featured {
	width: 60%;
	position: relative;
}

.dokumentar .item h1 {
	color: #82bf40;
	font-size: 3.5em;
	margin-bottom: 0;
}

.dokumentar .item p {
	color: #fff;
} 


.dokumentar .item h2 {
	color: #fff;
    padding: 3px;
	margin: 0 !important;
	line-height: 1;
	height: 100%;
	font-size: 1.0em;
	position: relative;
	bottom: 0;
	left: 0;
	font-family: Helvetica,Arial,sans-serif;
}

.dokumentarunivers-meta-flap {
	top:0;
	right: 0;
	position: absolute;
}

.dokumentar .dokumentarunivers-meta-stor {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 10%;
    left: 0;
    margin: 0 100px 0 0;
    padding: 10px 20px 0 20px;
    position: absolute;
    text-align: left;
}

.dokumentar .dokumentarunivers-meta-liten {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
}

.dokumentar .item img {
	margin: 0 !important;
	padding: 0 !important;
	display: block;
	width: 100%
}

/* 5 sek univers */

.humorsek .item h1 {
	color: #a5227f !important;
	font-size: 3.5em;
	margin-bottom: 0;
}

/* 5080 sek univers */

.humor5080 .item h1 {
	color: #b5232a !important;
	font-size: 3.5em;
	margin-bottom: 0;
}


/* -----------------------------------------
   p3.no/leo - ulandslaget
----------------------------------------- */

.ulandslagetheader p a {
	color: #ead278;
}

.ulandslagetmeny {
	
	width:100%;
	text-align:center;

}

.ulandslagetmeny a{

	color: #ead278;
	font-size: 1.7em;
	line-height: 2.2;
}

.ulandslagetmeny a.kommer{
	
	text-decoration: line-through;
	color: #998c5a;

}




.ulandslagetmeny ul{

	display:inline-block;

}

.ulandslagetmeny li{

	margin: 0 15px 0 15px;
	float:left;
}



.ulandslaget-episodeinfo {

	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	/*
	padding-left: 12%;
	padding-right: 12%;
	*/
}

.ulandslaget-episodeinfo h1{
	padding-left: 12%;
	padding-right: 12%;
	font-style:italic;
}

.ulandslaget-episodeinfo p{
	padding-left: 12%;
	padding-right: 12%;
	font-size:2em;

}



.ulandslaget-episodeinfo .facebook{

	margin-right: 15px;
	
}


.ulandslaget-episodeinfo .twitter{

	margin-left: 15px;
	
}

.ulandslaget-episodeinfo .twitter .twitter-share-button { vertical-align:top }




.soyacam {


	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.soyacam p {

	color: #fff;
	font-size: 1.4em;
	margin: 20px 20% 20px 20%;
}

.ulandslaget-bio h3 {
	text-align: center;
	margin-top: 150px;
	color: #0f2342; 
	font-style: italic;
}

.ulandslaget-bio {
	border-bottom: 1px solid #d8d8d8;
}

/* -----------------------------------------
   p3.no/prosjektperfekt - prosjektperfekt
----------------------------------------- */


.prosjektperfektmeny {
	
	width:100%;
	text-align:center;

}

.prosjektperfektmeny a{

	color: #ff8f06;
	font-size: 1.7em;
	line-height: 1.2; 
	padding-bottom: 10px;
}


.prosjektperfektmeny b{

	color: #000;
	font-size: 1.7em;
	line-height: 1.2; 
	padding-bottom: 10px;
}


.prosjektperfektmeny span{

	color: #777;
	font-size: 1.7em;
	line-height: 1.2; 
	padding-bottom: 10px;
}


.prosjektperfektmeny ul{

	display:inline-block;

}

.prosjektperfektmeny li{

	margin: 0 15px 0 15px;
	float:left;
}

/* -----------------------------------------
   P3 Gull 2014
----------------------------------------- */


.p3gullcilmobil {
	
	display: none;

}

.p3gullplayer .flex-video {
	margin-bottom: 0 !important;
}

.p3gullplayer .carousel {
	margin: 0 auto !important;
}


.p3gullplayer .flex-video.widescreen {
	padding-bottom: 56.55% !important;
}


.p3gullplayer .carousel-nav .prev {
	background: url(http://p3.no/saus/p3gull/2014/images/arrow_l_slider.png) no-repeat !important;
}

.p3gullplayer .carousel-nav .next {
	background: url(http://p3.no/saus/p3gull/2014/images/arrow_r_slider.png) no-repeat right !important;
}


.p3gullplayer .play img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}


.p3gullinfo {
	color: #000 !important; padding:10px 60px 10px 60px; text-align: center; font-size: 140%; line-height: 0.7 !important;
}

.p3gullticker2hide {
	display: inline-block;
}
	
.p3gullticker2show {
	display: none;
}	

/* -----------------------------------------
   p3.no/20 - P3 20 aar
----------------------------------------- */


.p320nav .p320prev, .p320nav .p320next {

	width: 20%; 
	float: left;

}

.p320nav .p320backtoarchive {

	width: 60%; 
	float: left;

}

.p320nav a {
	text-decoration: none !important;
}

.p320nav .p320backtoarchive a h1 {
	text-align:center;
}

.p320nav .p320next a h1 {
	text-align:right;
}

.p320stikktittel span {
	text-transform: uppercase;
	display: inline;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.bursdagsprotokoll {
	margin-top: 10px;
	text-align: center;
}

.spreordet {
	margin-top: 2px;
	text-align: center;
}

.bursdagsprotokoll a, .bursdagsprotokoll a:link, .bursdagsprotokoll a:visited {
	border: 4px solid #a0a0a0; 
	padding: 4px 4px 5px 4px; 
	text-decoration: none; 
	color: #787878;
	text-transform: uppercase;
	font-size: 140%;
	font-weight: bold;
	font-family: 'WebOswald', sans-serif;
	letter-spacing: 1px;
}

.bursdagsprotokoll a:hover {
	border: 4px solid #000; 
	color: #000;
	font-size: 150%;
}

.spreordet span {
	border: 4px solid #a0a0a0; 
	padding: 4px 0px 4px 4px;
	text-decoration: none; 
	color: #787878;
	text-transform: uppercase;
	font-size: 140%;
	line-height: 2.0;
	font-weight: bold;
	font-family: 'WebOswald', sans-serif;
	letter-spacing: 1px;
}

.spreordet span img {
	vertical-align:top;
}

.p3gullbreak { 
	display:none;
}

/* -----------------------------------------
   p3.no/utkant - Utkant
----------------------------------------- */

.utkantheader h2 {
	color: #fff;
}

.utkantheader p a {
	color: #FFE57F;
}

.utkantmeny {
	
	width:100%;
	text-align:center;

}

.utkantmeny a{

	color: #FFE57F;
	font-size: 1.7em;
	line-height: 2.2;
}

.utkantmeny a.kommer{
	
	text-decoration: line-through;
	color: #998c5a;

}




.utkantmeny ul{

	display:inline-block;

}

.utkantmeny li{

	margin: 0 15px 0 15px;
	float:left;
}



.utkant-episodeinfo {

	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	/*
	padding-left: 12%;
	padding-right: 12%;
	*/
}

.utkant-episodeinfo h1{
	padding-left: 12%;
	padding-right: 12%;
}

.utkant-episodeinfo h1 a {
	color: #FFE57F;
	background-color: #0A5539;
	padding: 0 20px 0 20px;
}

.utkant-episodeinfo p{
	padding-left: 12%;
	padding-right: 12%;
	font-size:2em;

}



.utkant-episodeinfo .facebook{

	margin-right: 15px;
	
}


.utkant-episodeinfo .twitter{

	margin-left: 15px;
	
}

.utkant-episodeinfo .twitter .twitter-share-button { vertical-align:top }


.utkant-bio h3 {
	text-align: center;
	margin-top: 150px;
	color: #0f2342; 
	font-style: italic;
}

.utkant-bio {
	border-bottom: 1px solid #d8d8d8;
}


/* -----------------------------------------
   p3.no/utkant - Skaperverket
----------------------------------------- */

.skaperverketheader {
	width: 100%; 
	height: auto; 
	min-height: 300px; 
	background: #000 url('/wp-content/themes/p3v2/images/skaperverket/skaperverket_logo2.jpg') no-repeat center center ; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	text-align: center;
}


.skaperverketheader p {
	color: #fff; 
	font-size: 1.5em;
	padding-bottom: 40px;
}

.skaperverketheader h2 {
	color: #fff;
}

.skaperverketheader p a {
	color: #a7ae28;
}

.skaperverketmeny {
	
	width:100%;
	text-align:center;

}

.skaperverketmeny li {
	padding: 0 10px 0 10px;
	background:rgba(26, 34, 30, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a221e,endColorstr=#  1a221e);
}

.skaperverketmeny a{

	color: #FFF;
	font-size: 1.7em;
	line-height: 1.9;
	text-transform: uppercase;
}

.skaperverketmeny a.kommer{
	
	text-decoration: line-through;
	color: #6d6d6d;

}




.skaperverketmeny ul{

	display:inline-block;

}

.skaperverketmeny li{

	margin: 0 15px 0 15px;
	float:left;
}



.skaperverket-episodeinfo {

	text-align: center;
	margin-top: 20px;
	margin-bottom: 90px;
	/*
	padding-left: 12%;
	padding-right: 12%;
	*/
}

.skaperverket-episodeinfo h1{
	padding-left: 12%;
	padding-right: 12%;
	line-height: normal;
	position: relative;
}

.skaperverket-episodeinfo h1 a {
	color: #FFF;
	background-color: #1a221e;
	padding: 0 20px 0 20px;	
}

.skaperverket-episodeinfo h1 a span {
	position: relative; left:20px; background:#1a221e;
}

.skaperverket-episodeinfo h1 a span span { position: relative; left:-40px; background: #1a221e; }

.skaperverket-episodeinfo h1 a span span span { position: relative; left:20px; background: #1a221e; }

.skaperverket-episodeinfo p{
	padding-left: 12%;
	padding-right: 12%;
	font-size:2.0em;

}



.skaperverket-episodeinfo .facebook{

	margin-right: 15px;
	
}


.skaperverket-episodeinfo .twitter{

	margin-left: 15px;
	
}

.skaperverket-episodeinfo .twitter .twitter-share-button { vertical-align:top }


.skaperverket-bio h3 {
	text-align: center;
	margin-top: 150px;
	color: #0f2342; 
	font-style: italic;
}

.skaperverket-bio {
	border-bottom: 1px solid #d8d8d8;
}


/* -----------------------------------------
   p3.no/typentil - Typen til
----------------------------------------- */

.typentilheader #typentilheader-logo-wrapper {
	position:absolute; 
  	bottom: 0;
	width:100%;
	left:0;
	text-align:center; /* IE 5.x centering */
}	

.typentilheader #typentilheader-logo-wrapper-inner {
	line-height:2em;
	width:100%;
	color:#FFF;
	margin:0 auto;
}

.typentil .datometa::before { border-top: 1px solid #b30dac !important; }

.typentilsesong2014 .datometa::before { border-top: 1px solid #FFE16C !important; }

.typentil blockquote { border-left: 4px solid #b30dac !important; }

.typentilsesong2014 blockquote { border-left: 4px solid #FFE16C !important; }

.typentil a { color: #b30dac !important; }

.typentilsesong2014 a { color: #e7b800 !important; }

.typentil-episodeinfo a { color: #b30dac !important; }

.typentil-episodeinfo .sesong2014 a { color: #FFE16C !important; }

.typentilheader p a {
	color: #ead278;
}

.typentilmeny {
	
	text-align:center;
	
}

.typentilmeny a{

	color: #000;
	font-size: 1.05em;
	line-height: 1.0;
	font-family: 'WebOswald', sans-serif;
	
}

.typentilmeny a.kommer{
	
	text-decoration: line-through;
	color: #998c5a;

}




.typentilmeny ul{

	display:inline-block;

}

.typentilmeny li{

	margin: 0 10px 0 10px;
	float:left;
	text-align: center;
}


.typentilmeny li img{
	display:block;
	width: 120px;
	margin-bottom: 10px;
}

.typentilmeny .sesong2014 li { margin: 0; }

.typentilmeny .sesong2014 a { color: #666 !important; margin: 0 10px 0 10px; }

.typentilmeny .sesong2014 .active { color: #000 !important; font-weight: bold; border-bottom: 3px solid #FFE16C; }


.typentil-episodeinfo { cursor: pointer; }

.typentil-teaser { cursor: default; }

.typentil-episodeinfo h1, .typentil-episodeinfo p { margin: 0 10px 0 10px; } 

.typentil-episodeinfo p { font-weight: bold; font-size: 20px; color: #b30dac; line-height: 1.5; margin-bottom: 15px; }

.typentil-episodeinfo .sesong2014 p { color: #fff; }

.typentil-episodeinfo .light { color: #da65d3 !important; }
.typentil-episodeinfo .dark { color: #590656 !important; }

.typentil-episodeinfo .sesong2014 .dark { color: #332904 !important; }



.typentil-episodeinfo .facebook{

	margin-right: 15px;
	
}


.typentil-episodeinfo .twitter{

	margin-left: 15px;
	
}

.typentil-episodeinfo .twitter .twitter-share-button { vertical-align:top }

img.desaturate{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
-ms-filter: grayscale(100%); -o-filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: gray;
-webkit-filter: grayscale(1);
}


/* -----------------------------------------
   p3.no/linejordarundt - Line jorda rundt
----------------------------------------- */

.linejordarundtheader #linejordarundtheader-logo-wrapper {
	position:absolute; 
  	bottom: 0;
	width:100%;
	left:0;
	text-align:center; /* IE 5.x centering */
}	

.linejordarundtheader #linejordarundtheader-logo-wrapper-inner {
	line-height:2em;
	width:100%;
	color:#FFF;
	margin:0 auto;
}
	
	


/* -----------------------------------------
   Musikk feature
----------------------------------------- */

.feature-heading .musikk-feature-entry-title {
	font-family: 'Lato', sans-serif; 
	font-weight: 300; 
	color: #fff;
	font-size: 99px;
	font-size: 9.9rem;	
	
}

.musikk-feature-dato .datometa span {
	

}

.musikk-feature-dato .datometa {

}

.musikk-feature-caption-right {
	padding: 5px 0;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 18px;
	color: #555;
}

.musikk-feature-caption, .musikk-feature-caption-responsive {
	padding: 5px 0;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 18px;
	color: #555;
	text-align: right;
}

.musikk-feature-caption-responsive { display: none; }

.bylarmikon { padding-top: 15px; }

.page-template-page-feature-blank-php .post-box p, .p3feature .post-box p {
    line-height: 26px;
    font-size: 17px;
    font-size: 1.7rem;
}

.page-template-page-feature-blank-php .post-box .fakta p {
    line-height: 24px;
    font-size: 16px;
    font-size: 1.6rem;
}

/* -----------------------------------------
   Instagram slider
----------------------------------------- */

.insta-tabs { padding: 0 20px 0 0 !important; }

.insta-tabs dd { float:right !important; }

.insta-tabs dd a.active { background-color: #f7f7f7 !important; border-bottom: 1px solid #f7f7f7 !important; } 

.insta-tabs dd a { background-color: #fff !important; border-bottom: 1px solid #fff !important; }

.insta-tabs dd a h4 { font-size: 20px; font-size: 2.0rem; color: #4f4f4f; padding-top: 2px; }

.insta-tabs dd a.active h4 { color: #000; }

#instagram { padding: 0 20px 0 20px; }

#instagram p { font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important; font-size: 14px; font-size: 1.4rem; }

#instagram .bx-wrapper .bx-viewport { background-color: #f7f7f7 !important; }

#instagram .bx-wrapper .bx-pager.bx-default-pager a:hover, #instagram .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #3f729b !important;
}

#instagram .bx-wrapper .bx-pager.bx-default-pager a { border: 1px solid #3f729b !important; background-color: #f7f7f7 !important; }

#instagram .bx-wrapper .bx-pager, #instagram .bx-wrapper .bx-controls-auto { bottom: -40px !important; }

.instasocial { text-align: center; }

.instasocial ul { margin: 0 auto; display: inline-block; }

.instasocial ul li { float: left;  }

.instasocial img { width:35px; margin: 5px  5px 0 5px; }

#instagram188374779 {
padding: 0 5px 0 5px;
}    

#instagram188374779 .bx-wrapper {
margin: 0 auto 40px;
}

#instagram188374779 .bx-wrapper .bx-pager.bx-default-pager a {
border: 0 !important; width: 11px; height: 11px;	
/* background: #542db3; */
}

#instagram188374779 .bx-wrapper .bx-pager.bx-default-pager a:hover, #instagram188374779 .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #542db3 !important;
}


/* -----------------------------------------
   P3aksjonen
----------------------------------------- */

.p3aksjonenstatus table { background: transparent !important; border: 0 !important;  }


.p3aksjonenstatus table tbody tr:nth-child(even) { background: transparent !important; }

.p3aksjonenstatus table tbody tr td { color: #fff !important; padding: 4px 5px !important; font-size: 1.5em; }

.p3aksjonenstatus table tbody tr td.sum { text-align: right; font-weight: bold; }

.p3aksjonenstatus table tbody tr.totalsum { border-top: 1px solid #fff;  }

.p3aksjonen2014wave a { color: #fff; font-weight: bold; }

#p3aksjonenteller, #p3aksjonenmaal { display: none; }

.p3aksjonenplayer #spillklipp { padding-top: 0; }

.p3aksjonenplayer .slag { position:relative; }

.p3aksjonenplayer .playicon { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/p3aksjonen2014-playicon.png) no-repeat center center; }

.p3aksjonenplayer .playicon .playtext { position: absolute; bottom: 5px; left:5px; right: 5px; }

.p3aksjonenplayer a.play, .p3aksjonenplayer a.play:hover { font-weight: bold; color: #fff; font-size: 110%; text-transform: uppercase; }

.qxloverskrift a, .qxloverskrift a:hover { color: #fff !important; }

.fotop3aksjonen .galleria-bar { background: none; }

.fotop3aksjonen .galleria-container.notouch .galleria-thumblink:hover, .fotop3aksjonen .galleria-container.touch .galleria-thumblink:active, .fotop3aksjonen .galleria-thumblink.open, .fotop3aksjonen .galleria-container.notouch .galleria-fullscreen:hover, .fotop3aksjonen .galleria-container.touch .galleria-fullscreen:active, .fotop3aksjonen .galleria-container.notouch .galleria-play:hover, .fotop3aksjonen .galleria-container.touch .galleria-play:active, .fotop3aksjonen .galleria-container.notouch .galleria-popout:hover, .fotop3aksjonen .galleria-container.touch .galleria-popout:active {
background-color: #8c6895;
}

.p3aksjonensupport {
	color: #fff; font-size: 140%; font-weight: bold; padding: 0 10px 0 10px; vertical-align: top; line-height: 1.8; 
}

.altomp3aksjonen { background-color: #480e55; height:100%; }

.altomp3aksjonen h2, .altomp3aksjonen p { margin: 10px;}

.p3aksjonenplayer .carousel-nav .prev {
	opacity: 1.0;
	background: url(http://p3.no/saus/p3gull/2014/images/arrow_l_slider.png) no-repeat;
	/*background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/arrow_l_slider.jpg) no-repeat;*/
	text-indent: -9999px;
	width: 38px;
	height: 35px;
}

.p3aksjonenplayer .carousel-nav .next {
	opacity: 1.0;
	background: url(http://p3.no/saus/p3gull/2014/images/arrow_r_slider.png) no-repeat right;
	/*background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/arrow_r_slider.jpg) no-repeat right;*/
	text-indent: -9999px;
	width: 38px;
	height: 35px;
}

.p3aksjonenplayer2015 .carousel-nav .prev {
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen2015/arrow_l_slider.jpg) no-repeat;
}

.p3aksjonenplayer2015 .carousel-nav .next {
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen2015/arrow_r_slider.jpg) no-repeat right;
}


.auksjoner3aksjonen .carousel-nav .prev {
	opacity: 1.0;
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/arrow_l_auksjon.jpg) no-repeat;
	text-indent: -9999px;
	width: 38px;
	height: 35px;
}

.auksjoner3aksjonen .carousel-nav .next {
	opacity: 1.0;
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/arrow_r_auksjon.jpg) no-repeat right;
	text-indent: -9999px;
	width: 38px;
	height: 35px;
}

.auksjoner3aksjonen2015 .carousel-nav .prev {
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen2015/arrow_l_auksjon.jpg) no-repeat;
}

.auksjoner3aksjonen2015 .carousel-nav .next {
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen2015/arrow_r_auksjon.jpg) no-repeat right;
}

.auksjoner3aksjonen2015 .carousel-item .slag {
	background-color: #92ca9b !important;
}

.fullskjermchat {

background-image: url(http://p3.no/saus/galleria2/themes/twelve/fullscreen.png);
background-position: 8px 7px;
background-repeat: no-repeat;
background-position: top right;
padding-right: 24px;
}


ul.p3aksjonen-2014-saksnav {}


ul.p3aksjonen-2014-saksnav   {
list-style: none !important;
text-align: left;
height: 100px;
margin-top:20px;
margin-left: 0;
}

ul.p3aksjonen-2014-saksnav li {
vertical-align: middle;
margin: 30px 0 0 0;
width: 223px; 
float: left; 
}

ul.p3aksjonen-2014-saksnav li  a {
height: 45px; 
margin-right: 10px;
padding-left: 70px;
font-size: 18px;
line-height: 20px; 
color: #000;
font-weight: 400;
display: block !important;
text-decoration:none;
text-indent: 0;

}

ul.p3aksjonen-2014-saksnav li.kommentar a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 0;
padding-left:75px;
}

ul.p3aksjonen-2014-saksnav li.soundslide a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -60px;
padding-left:80px;
}

ul.p3aksjonen-2014-saksnav li.fakta a{
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -120px;
padding-left:65px;
/*margin-left:20px;*/
}

ul.p3aksjonen-2014-saksnav li.video a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -180px;
padding-left:66px;

}

ul.p3aksjonen-2014-saksnav li.videoekstern a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat -310px -180px;
padding-left:66px;

}

ul.p3aksjonen-2014-saksnav li.musikk a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -240px;
}

ul.p3aksjonen-2014-saksnav li.foto a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -300px;
}

ul.p3aksjonen-2014-saksnav li.tekst a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -360px;
padding-left: 50px;
}

ul.p3aksjonen-2014-saksnav li.quiz a{
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -420px;
}

ul.p3aksjonen-2014-saksnav li.lyd  a {
background: url('http://p3.no/wp-content/themes/p3v2/images/p3aksjonen/sprite_p3aksjonen.png') no-repeat 0 -480px;
}

.p3aksjonen2015 .fp h2 a, .p3aksjonen2015 .fp h2 a:hover, .p3aksjonen2015 .fp h2 a:visited, .p3aksjonen2015 .fp a, .p3aksjonen2015 .fp a:hover, .p3aksjonen2015 .fp a:visited, .p3aksjonen2015 .fp p {
	
	color: #fff;
}

.category-p3aksjonen-2010 .divider, .category-p3aksjonen-2015 .divider {	
	margin: 20px auto;
	background: url(/wp-content/themes/p3v2/images/p3aksjonen2015/divider_stor.jpg) no-repeat top center;
	height: 50px;
	
	/* text-decoration: line-through; */
}

.category-p3aksjonen-2015-fadein { position:relative; height:71px; width:300px; }
.category-p3aksjonen-2015-fadein img { position:absolute; left:0; top:0; }


.p3aksjonen2015-sharehover {display:block; float:left; height: 100px; width: 100px; margin: 0 0 0 0; text-align: center;}
.p3aksjonen2015-sharehover img {height:75px; width:75px;  padding-top:10px; vertical-align: middle;}

.p3aksjonenmeny-ikon { position: absolute; top: 10px; right: 10px; z-index: 20; cursor: pointer; }


/* p3gull */
.p3gullplayer2015 .carousel-nav .prev {
	background: url(http://p3.no/saus/p3gull/2015/gfx/arrow_l_slider.jpg) no-repeat;
}

.p3gullplayer2015 .carousel-nav .next {
	background: url(http://p3.no/saus/p3gull/2015/gfx/arrow_r_slider.jpg) no-repeat right;
}

/* onenightstand */

.onenightstandplayer .playicon {
	background: url(http://p3.no/wp-content/themes/p3v2/images/multibox-carousel-play.png) no-repeat center center;
}


/* d16 overlay menu */

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(75,169,91,0.95);
	z-index: 90;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(http://p3.no/wp-content/themes/p3v2/images/p3aksjonen2015/cross@2x.png) no-repeat center center;
	background-size: 100%;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 34px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 7);
	min-height: 34px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-size: 34px;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #5d5d5d;
}


/* Effects */
.overlay-p3aksjonen {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-p3aksjonen.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-p3aksjonen nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-p3aksjonen nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-p3aksjonen.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-p3aksjonen.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 50.5em) {
	.overlay nav {
		height: 70%;
	}

	.overlay nav ul li a {
		font-size: 24px;
	}	
	
	.overlay ul li {
		min-height: 24px;
	}	
	
	.overlay .overlay-close {
		width: 40px;
		height: 40px;
		padding: 0;
	}	
	
}


/* -----------------------------------------
   Feature nav
----------------------------------------- */

ul.feature-nav {width: 100%;}

ul.feature-nav   {
list-style: none;
text-align: left;
margin-top:20px;
margin-left: 0;
}

ul.feature-nav li {
vertical-align: middle;
margin: 15px 0 15px 0;
width: 223px; 
float: left; 
list-style-type:none;
}

ul.feature-nav li  a {
height: 45px; 
margin-right: 10px;
padding-left: 70px;
font-size: 18px;
line-height: 20px; 
color: #000;
font-weight: 400;
display: block !important;
text-decoration:none;
text-indent: 0;

}

ul.feature-nav li.kommentar a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 0;
padding-left:75px;
}

ul.feature-nav li.soundslide a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -60px;
padding-left:80px;
}

ul.feature-nav li.fakta a{
background: url('../images/feature_nav_sprite.png') no-repeat 0 -120px;
padding-left:65px;
/*margin-left:20px;*/
}

ul.feature-nav li.video a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -180px;
padding-left:66px;

}
ul.feature-nav li.videoekstern a {
background: url('../images/feature_nav_sprite.png') no-repeat -310px -180px;
padding-left:66px;

}

ul.feature-nav li.musikk a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -240px;
}

ul.feature-nav li.foto a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -300px;
}

ul.feature-nav li.tekst a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -360px;
padding-left: 50px;
}

ul.feature-nav li.quiz a{
background: url('../images/feature_nav_sprite.png') no-repeat 0 -420px;
}
ul.feature-nav li.lyd  a {
background: url('../images/feature_nav_sprite.png') no-repeat 0 -480px;
}






/* -----------------------------------------
   Frontpage
----------------------------------------- */


.fp50 h2, .fp h2 { font-size:1.7em; }
.fp p { font-size: 1.2em; }

.fp h1 a, .fp h2 a, .fp h3 a, .fp h4 a, .fp h5 a, .fp h6 a { color: #000; text-decoration: none; }
.fp h1 a:hover, .fp h2 a:hover, .fp h3 a:hover, .fp h4 a:hover, .fp h5 a:hover, .fp h6 a:hover { color: #333; text-decoration: none; }


.no-margin { margin-left: 0 !important; }
.fr { float: right !important; }

.reverie-header .globalmenu-collapsed { display:none; }

.fp-clear-invert { display: none;}

.fp-list ul li { border-bottom: 1px dotted #ccc; padding-bottom: 5px; }

.fp-list ul li h6 { font-size:16px; font-size:1.6rem; }

.fp-rund img { margin-top: 20px; }
.fp-rund h3 { margin-top: 20px; }

.fp-kommentarer { display: none; }

@media only screen and (max-width: 1050px) { 

.linejordarundtheader p { display:none; }

}

@media only screen and (max-width: 767px), only screen and (max-device-width: 768px) and (max-device-height: 1024px) and (orientation:portrait) {	

	.fp-column { }
	.fp50 { margin-left: 4.4% !important; float: left !important; min-height: 1px !important; position: relative !important; }
	.fp-column div:first-child, .fp-list div:first-child { margin-left: 0 !important; }
	.fp50 	{ width: 47.8% !important; }
	.fp-scroll { width: 65.2% !important; float: left !important; }
	.fp-scroll .row div:first-child { margin-left: 0 !important; }	
	.fp-scroll .row div:last-child { display: none !important; }
	.fp-scroll .fp50, .fp-scroll .row .fp50 { width: 47.8% !important; }	
	.fp-scroll-info { width: 30.37% !important; float: right !important;}
	.fp50-l { margin-left: 0 !important; }
	.nettradio { height: 100px !important; }

	.royalSlider { height: 300px !important; }


	/* .reverie-header { display: none; } */
	.reverie-header .globalmenu { display:none; }
	.reverie-header .globalmenu-collapsed { display:block; }
	
	.fp50 h2 { font-size:1.6em; }
	.fp50 p { font-size: 1.0em;  }	
	.fp h6 { font-size:0.8em !important; }
	
	.fp-clear { display:none; }
	
	.fp-clearfloat { clear:both; }	
	
	.globalmenu-collapsed .p3logo {
		width: 60px;
	}
	
	.globalmenu-collapsed .programlogo {
		height: 24px;
		margin: 18px 0 0 10px;
	}	

	.globalmenu-collapsed .tidsprogramlogo {
		height: 24px;
		margin: 28px 0 0 10px;
	}	
	
	.globalmenu-collapsed .nav {
		float: right; margin: 20px 0 0 0; font-size: 1.2em;
	}
	
	.headerslider-meta-stor h1 {
		font-size: 3.5em !important;
		padding: 10px 0 !important;
		line-height: 1.0em !important;
	}
	
	.headerslider-meta-stor a { text-decoration: none !important; }
	
	#sidebar a { text-decoration: none; }
	
	.headerslider-meta-stor h1 span {
		padding: 3px 12px !important;
	}		
	
	.headerslider-meta-stor p {
		font-size: 1.2em !important;
		margin: 10px 0 !important;
		line-height: 1.8em !important;
	}
	
	.headerslider-meta-stor p span {
		padding: 4px 12px !important;
	}		
	
	.entry-title {
		font-size:6.0em !important;
	}

	.fp-kommentarer { display: block !important; border-bottom: 1px solid #dddddd !important; }
	.fp-mest-kommentert, .fp-siste-kommentarer { display: none !important; }
	
	.videorama-wrapper {
		padding-left: 20px;
	}	

	article header .terning {
		height: 60px;
		padding-top: 40px !important;
		padding-left: 30px !important;

	}	

	/* dokumentarunivers */	
	
	.dokumentar .item:last-child { display: none !important; }
	
	.dokumentar .item {
		width: 33.33%;
	}
	
	.dokumentar .featured {
		width: 100%;
	}	
	
	.dokumentar .item h1 {
		font-size: 2.5em;
	}
	
	.dokumentar .item p {
		font-size: 1.2em;
	}
	
	/* ulandslaget */
	
	.ulandslaget-bio h3 	{ margin-top: 75px; font-size: 2.8rem;}
	
	.ulandslaget-episodeinfo p{
		font-size:1.6em;
	}	
	
	.soyacam p {	
		margin: 20px 10% 20px 10%;
	}	
	
	/* utkant */
	
	.utkant-bio h3 	{ margin-top: 75px; font-size: 2.8rem;}
	
	.utkant-episodeinfo p{
		font-size:1.6em;
	}	
	
	.soyacam p {	
		margin: 20px 10% 20px 10%;
	}	
	
	/* p3aksjonen */
		
	.p3aksjonchat {  }		
	
	.amnestylogo { text-align: center !important; }
	
	.instap3aksjonen { margin-top: 30px !important; }
	
	.auksjoner3aksjonen { margin-top: 10px !important; }
	
	.p3aksjonensupport { font-size: 100%; line-height: 2.2 }
	
	
	/* royalslider */
	
	.rsMinW .rsBullets {
		bottom: 5px !important;
		text-align: center !important;
		margin-left: auto !important;
	    margin-right: auto !important;
	    left: 0 !important;
	    right: 0 !important;
	}	
	
	.rsArrow {
		display: none !important;
	}
	
	
	/* musikk-feature */
	
	
	.feature-heading .musikk-feature-entry-title { font-size: 44px; font-size: 4.4rem; }
	.musikk-feature-caption-responsive { display: block; }
	.musikk-feature-caption-right { display: none; }
	
	
	/* typentil */
	
	.typentilheader .typentilheader-logo { margin-top:100px !important; }
	
	.typentilheader .typentilheader-leo { left:65% !important; }
	
	.typentil-episodeinfo, .typentil-episodeinfo-img { height: 500px !important; min-height: 500px !important; }
	#ep1, #parallax-ep1-img { height: 600px !important; min-height: 600px !important; }
	#om, #parallax-om-img { height: 400px !important; min-height: 400px !important; }
	
	.typentil-episodeinfo h1 { margin-top:250px !important; font-size: 50px !important; }
	
	.typentil-episodeinfo p { font-size: 16px; }
	
	.typentilmeny .sesong2014 li { width: 33.33%; }
	
	/* linejordarundt */
	
	.linejordarundtheader .linejordarundtheader-logo { margin-top:50px !important; width: 30%;   }	
	
	.linejordarundtheader p { display:none; }	
		
	
	
	/* p320 */
	.p320nav a h1 {
		font-size: 22px;
		font-size: 2.2rem;
	}
	
	.spreordet {
		margin-top: 20px;
	}
		
	/* p3gull */
	.p3gulllyn {
		display: none;
	}	
	
	.p3gullbreak { 
		display:block;
	}	
	
	.p3gullinfo {
		padding:10px 10px; text-align: center; font-size: 140%; line-height: 1.2 !important;
	}
	
	/* dumpa */
	.dumpalogop3no {
		padding-right:0;
	}		
	
}

@media only screen and (max-device-width: 768px) and (orientation:landscape) {

	.reverie-header li a {
		font-size: 0.85em;
	}
	
	/* typentil */
	
	.typentilheader .typentilheader-logo { margin-top:100px !important; }	

	.typentil-episodeinfo, .typentil-episodeinfo-img { height: 600px !important; min-height: 600px !important; }
	#ep1, #parallax-ep1-img { height: 700px !important; min-height: 700px !important; }
	#om, #parallax-om-img { height: 500px !important; min-height: 500px !important; }
	
	.typentil-episodeinfo h1 { margin-top:300px !important; font-size: 110px !important; }
	
	.typentil-episodeinfo p { font-size: 16px; }

	/* p320 */
	.p320nav a h1 {
		font-size: 33px;
		font-size: 3.3rem;
	}

}


@media only screen and (max-device-width: 768px) and (orientation:portrait) {

	.fp-list ul li h6 { font-size: 1.6rem !important; }
	
	/* skaperverket */
	
	.skaperverketmeny a{	
		color: #FFF;
		font-size: 1.4em;
		line-height: 1.7;
		text-transform: uppercase;
	}	
	
	

}

@media only screen and (max-width: 639px) {	

	.fp-column { }
	.fp50 { margin-left: 4.4% !important; float: left !important; min-height: 1px !important; position: relative !important; }
	.fp-column div:first-child, .fp-list div:first-child { margin-left: 0 !important; }
	.fp50 	{ width: 47.8% !important; }
	.fp-scroll { width: 100% !important; }
	.fp-scroll .row div:first-child { margin-left: 0 !important; }	
	.fp-scroll .row div:last-child { display: none !important; }
	.fp-scroll .fp50, .fp-scroll .row .fp50 { width: 47.8% !important; }	
	.fp-scroll-info { width: 100% !important; }
	.fp-list .fp50 { width: 100% !important; margin-left: 0 !important; }
	.fp50-l { margin-left: 0 !important; }
	
	.royalSlider { height: 170px !important; }
	.nettradio { height: 100px !important; }
	
	.reverie-header .globalmenu-collapsed { display:block; }	
	
	.fp50 h2 { font-size:1.4em; }
	.fp50 p { font-size: 0.9em;  }
	.fp h6 { font-size:0.8em !important; }

	.fp-clear { display:none; }
	
	.fp-clearfloat { clear:both; }	
	
	/* instagram slider */
	#instagram .fp50 { width: 100% !important; margin-left: 0 !important; }
	
	#instagram .instameta { margin-top: 20px !important; }
	
	
	/* publisert dato */
	.datometa time {
		font-size:0.6em !important;
	}
	
	.datometa:before {
	    top: 5px !important;
	}	
	
	.byline .avatar {
		max-width: 30px
	}
	
	.byline p {	
		font-size: 0.8em !important;
	}
	
	.share iframe {
		display: block;
		margin-bottom: 10px;
	}
	
	
	/* anmelderunivers */
	
	.anmelderunivers-meta-stor h1 {
		font-size: 1.5em !important;
	}
	
	.anmelderunivers-meta-stor h3 {
		font-size: 0.6em !important;
	}	
	
	.anmelderunivers-meta-stor p {
		font-size: 0.8em !important;
	}	
	
	.anmelderunivers-meta-stor .terning {
		height: 25px !important;
	}

	.fp-scroll-info .anmelderunivers-info {
		padding: 20px 0 0 0 !important;
	}

	.fp-rund img { width:50%; }
	.fp-rund h3 { font-size: 1.0em !important; }
	
	.fp-list img { width: 100px; }
	
	
	.globalmenu-collapsed .p3logo {
		width: 40px;
	}
	
	.globalmenu-collapsed .programlogo {
		height: 16px;
		margin: 10px 0 0 10px;
	}	
	
	.globalmenu-collapsed .tidsprogramlogo {
		height: 16px;
		margin: 20px 0 0 10px;
	}		

	#p320tidslinjefpimg {
		display: block !important;
	}	
	
	.globalmenu-collapsed .nav {
		float: right; margin: 10px 0 0 0; font-size: 1.0em;
	}
	
	.fp-list ul li h6 { font-size: 1.4rem !important; }
	
	
	.headerslider-meta-stor h1 {
		font-size: 1.2em !important;
		padding: 0 !important;
		line-height: 1.8em !important;
	}

	.headerslider-meta-stor h1 span {
		padding: 2px 6px !important;
	}
	
	.headerslider-meta-stor p {
		font-size: 0.8em !important;
		margin: 2px 0 !important;
		line-height: 1.6em !important;
	}
	
	.headerslider-meta-stor p span {
		padding: 2px 6px !important;
	}	
		
	.entry-title {
		font-size:3.0em !important;
		margin-top: 10px !important;
	}
	
	.entry-excerpt {
		font-size:0.7em !important;
	}
	
	.fp-kommentarer { display: block !important; border-bottom: 1px solid #dddddd !important; }
	.fp-mest-kommentert, .fp-siste-kommentarer { display: none !important; }
	
	.videorama-wrapper {
		padding-left: 20px;
	}
	
	article header .terning {
		height: 40px;
		padding-top: 15px !important;
		padding-left: 10px !important;

	}	

	/* dokumentarunivers */	
	
	.dokumentar .item:nth-last-child(-n+1) { display: none !important; }	

	
	.dokumentar .item {
		width: 33.33%;
	}
	
	.dokumentar .featured {
		width: 100%;
	}	
	
	.dokumentar .item h2 {
		font-size: 0.7em;
	}

	.dokumentar .item h1 {
		font-size: 1.1em;
	}
	
	.dokumentar .item p {
		font-size: 0.8em;
	}
	
	.resbr { display: none !important; }
	
	
	/* ulandslaget */
	
	.ulandslagetheader-logo { height: 150px; }

	
	.ulandslaget-bio h3 	{ margin-top: 25px; font-size: 1.4rem;}
	
	
	.ulandslaget-episodeinfo p{
		font-size:1.0em;
	}
	
	.soyacam p {	
		font-size: 1.0em;
		margin: 20px 10% 20px 10%;
	}	
	
	/* utkant */
	
	.utkantheader-logo { height: 120px; }
	
	.utkantheaderborder { height: 10px; }
	
	.utkantheader p { font-size: 1.2em !important; padding-left: 10px; padding-right: 10px; }	
	
	.utkant-bio h3 	{ margin-top: 25px; font-size: 1.4rem;}
	
	
	.utkant-episodeinfo p{
		font-size:1.0em;
	}
	
	.soyacam p {	
		font-size: 1.0em;
		margin: 20px 10% 20px 10%;
	}	
	
	
	/* p3aksjonen */
	
	.p3aksjonenheaderlogo { height: 50px; }	
	
	.p3aksjonenheader p { font-size: 1.0em !important; }
	
	.p3aksjonenstatus table tbody tr td { font-size: 1.0em !important; }
	
	.p3aksjonchat { margin-top:20px; background-color: #8c6895 !important; }
	
	.qxlinfo { display:none !important; }
	
	.qxlinfomobil { display:block !important; }
	
	.qxloverskrift { font-size: 1.0em !important; }
	
	.amnestylogo { text-align: center !important; }
	
	.instap3aksjonen { margin-top: 30px !important; }
	
	.auksjoner3aksjonen { margin-top: 10px !important; }
	
	.p3aksjoneninfo { font-size: 1.0em !important; }
	
	.p3aksjonenplayer a.play { font-size: 0.8em !important; }
		
	.qxloverskrift { font-size: 1.0em !important; }
	


	/* skaperverket */
	
	.skaperverketheader {
		width: 100%; 
		height: auto; 
		min-height: 300px;		
		background: #000 url('/wp-content/themes/p3v2/images/skaperverket/skaperverket-mob-back.jpg') no-repeat center center; 
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover; 
		text-align: center;		
	}
	
	.skaperverketheader p {
		color: #fff; 
		font-size: 1.4em;
		padding-left: 10px;
		padding-right: 10px; 
		padding-bottom: 25px;
	}
	
	.skaperverketmeny a{	
		color: #FFF;
		font-size: 2.0em;
		line-height: 1.7;
		text-transform: uppercase;
	}	
	
	.skaperverketmeny li{
		margin: 0 5px 0 5px;
		float:left;
	}
	
	.skaperverket-episodeinfo p{
		padding-left: 8%;
		padding-right: 8%;
		font-size:1.4em;

	}	

	/* musikk-feature */
	
	.feature-heading .musikk-feature-entry-title { font-size: 20px; font-size: 2.0rem; line-height: 1.2; }
	.feature-heading h4 { font-size: 14px; font-size: 1.4rem; }
	.musikk-feature-caption-responsive { display: block; }
	.musikk-feature-caption-right { display: none; }
	
	.bylarmikon { width: 25%; }
	
	
	/* typentil */
	
	.typentilheader .typentilheader-logo { margin-top:170px !important; width: 80% }
	
	.typentilheader p { display:none; }
	
	.typentilheader .typentilheader-leo { left:20% !important; }
	
	.typentil-episodeinfo, .typentil-episodeinfo-img { min-height: 300px !important; height: 300px !important; }
	#ep1, #parallax-ep1-img { min-height: 400px !important; height: 400px !important; }
	#om, #parallax-om-img { min-height: 200px !important; height: 200px !important; }
	
	
	.typentil-episodeinfo h1 { margin-top:100px !important; font-size: 40px !important; }
	
	.typentil-episodeinfo p { font-size: 12px; }
	
	.typentilmeny .sesong2014 li { width: 50%; margin-bottom: 4px; }
	
	
	/* linejordarundt */
	
	.linejordarundtheader .linejordarundtheader-logo { margin-top:50px !important; width: 40% }
	
	
	
	
	

	/* p3 20 */

	
	.aarinfo img {
		display:none;
	}
	
	.aarinfo .Absolute-Center {
		position: relative !important;
	}	
	
	#p320tidslinjefp {
		display:none;
	}	
	
	.spreordet {
		margin-top: 20px;
	}	
	
	/* pistolshrimps */
	#animatefromleft {
		width: 40% !important;
		display: none;
	}
	
	/* raadet */
	
	.radetheader {
		min-height: 260px !important;
	}

	.radetheader-logo {
		width: 30% !important;
		padding-bottom: 40px;
	}
	
	.radetrundt {
		max-width: 60% !important;
	}
	
	/* p3gull */
	.p3gulllyn {
		display: none;
	}

	.p3gullbreak { 
		display:block;
	}		
	
	.p3gullcilmobil {
		
		display: block;
	
	}	
	
	.p3gullcil {
		display: none;
	}	
	
	
	.p3gullinfo {
		padding:10px 10px; text-align: center; font-size: 140%; line-height: 1.2 !important;
	}
	
	.p3gullticker2show {
		display: inline-block;
	}
	
	.p3gullticker2hide {
		display: none;
	}	
	
	/* dumpa */
	.dumpalogop3no {
		padding-right:0;
	}			
				
}


@media only screen and (max-width: 639px) and (orientation:portrait) {

	#nrkfooter .nrk-hjelp {
		text-align: left;
		width: 100%;
		padding-top: 20px;
	}
	
	#nrkfooter .nrk-hjelp ul li {
		float: left;
		padding-right: 10px;
	}	
	
	#nrkfooter .nrk-hjelp ul li:last-of-type {
		padding-right: 0;
	}	
	
	
	.anmelderunivers-meta-stor h1 {
		font-size: 1.3em !important;
	}
	
	.anmelderunivers-meta-stor h3 {
		font-size: 0.6em !important;
	}	
	
	.anmelderunivers-meta-stor p {
		font-size: 0.8em !important;
		display: none !important;
	}		
	
	.fp-list ul li h6 { font-size: 1.4rem !important; }
	
	.anmelderunivers-stor {
		min-height: 80px !important;
	}	
	
	.laatliste h1 {
		font-size: 2.6rem !important;
		letter-spacing: 2px !important;
	}
	
	.laatliste p {
		font-size: 0.9em !important;
	}	

	/* dokumentarunivers */	
	
	.dokumentar .item:nth-last-child(-n+2) { display: none !important; }	

	
	.dokumentar .item {
		width: 50%;
	}

	.dokumentar .featured {
		width: 100%;
	}

	.dokumentar .item h2 {
		font-size: 0.8em;
	}

	.dokumentar .item h1 {
		font-size: 1.0em;
	}

	.dokumentar .item p {
		display:none;
	}
	
	.dokumentarunivers-meta-flap {
		width: 80px;
	}
	
	/* skaperverket */
	
	.skaperverketheader p {
		color: #fff; 
		font-size: 0.9em;
		padding-left: 5px;
		padding-right: 5px; 
		padding-bottom: 15px;
	}
	
	.skaperverketmeny a{	
		color: #FFF;
		font-size: 1.2em;
		line-height: 1.4;
		text-transform: uppercase;
	}			
	
	/* typentil */
	
	.typentilheader .typentilheader-leo { left:0 !important; }
	
	.typentilmeny .sesong2014 li { width: 100%; margin-bottom: 4px; }

	/* p3 20 */

	
	.aarinfo img {
		display:none;
	}
	
	.aarinfo .Absolute-Center {
		position: relative !important;
	}	
	
	#p320tidslinjefp {
		display:none;
	}	
	
	.spreordet {
		margin-top: 20px;
	}	
	
	/* raadet */
	
	.radetheader {
		min-height: 20px !important;
	}
	
	.radetheader-logo {
		padding-bottom: 40px !important;
	}	
	
	.p3gull2013univers h4 {
		font-size: 16px !important;
		font-size: 1.6rem !important;
	}		
	
	.p3aksjonchat, #cil { background: none !important; }
	
	.p3aksjonensupport { display: block; }
	
	.p3aksjoneninfo { padding: 20px !important; }
	
	/* p3gull */
	
	.p3gullticker h2 {
		font-size: 90%;
	}
	
}

@media only screen and (max-width: 639px) and (-webkit-min-device-pixel-ratio: 3) {

.linejordarundtheader .linejordarundtheader-logo { margin-top:10px !important; width: 16% }

}		

.fp-rund h3 {

	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
	font-size: 1.4em;
	font-weight: normal;
	font-style: italic;
}



/* -----------------------------------------
	Univers
----------------------------------------- */

.anmelderunivers{
	
	border-bottom: 3px solid #2176cc;
	margin-bottom: 20px;
}





.film {
	border-bottom-color: #2176cc;
}

.musikk {
	border-bottom-color: #b4121b;
}   

.bylarm {
	border-bottom-color: #e0a6b5;
}


.dokumentar {
	border-bottom-color: #82bf40;
}   

.humorsek {
	border-bottom-color: #a5227f;
}  

.humor5080 {
	border-bottom-color: #b5232a;
} 



/*
.anmelderuniversheader{

	border-top: 6px solid #2176cc;
	margin-bottom: 5px;
}

.anmelderuniversheader h3{

	text-transform:uppercase;		
	color: #2176cc;
	font-size: 1.2em;
	margin: 10px;
	text-align: right;

}
*/

.anmelderuniversheader h3 {
    position: relative;
    margin-top: 20px;
	text-transform:uppercase;		
	color: #2176cc;
	font-size: 1.2em;
	text-align: left;    
  }
  
 h3 a,  h3 a:hover,  h3 a:visited {
	color: #2176cc;
}

.musikk h3 a, .musikk h3 a:hover, .musikk h3 a:visited {
	color: #b4121b;
}  

.bylarm h3 a, .bylarm h3 a:hover, .bylarm h3 a:visited {
	color: #b4121b;
}  

 
.dokumentar h3 a, .dokumentar h3 a:hover, .dokumentar h3 a:visited {
	color: #82bf40;
}  


.humorsek h3 a, .humorsek h3 a:hover, .humorsek h3 a:visited {
	color: #a5227f !important;
}  

.humor5080 h3 a, .humor5080 h3 a:hover, .humor5080 h3 a:visited {
	color: #b5232a !important;
}  
  
.anmelderuniversheader h3 {
    margin-top: 0;
  }
  
.anmelderuniversheader h3:before {
    content: "";
    display: block;
    border-top: 6px solid #2176cc;
    width: 100%;
    height: 6px;
    position: absolute;
    top: 40%;
    z-index: 1;
  }
  
 h3:before {
	border-top-color: #2176cc;
}

.musikk h3:before {
	border-top-color: #b4121b;
}    

.bylarm h3:before {
	border-top-color: #e0a6b5;
}    

.dokumentar h3:before {
	border-top-color: #82bf40;
}  

.humorsek h3:before {
	border-top-color: #a5227f;
}

.humor5080 h3:before {
	border-top-color: #b5232a;
}  
  
  
.anmelderuniversheader h3 span {
    background: #fff;
    padding: 0 20px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
  }
 

.anmelderunivers-meta-stor{

    bottom: 8%;
    left: 3%;
    margin: 0 10.5px;
    padding: 10px 20px;
    position: absolute;
    text-align: left;
    background-color: #000;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.anmelderunivers-stor {
	min-height: 200px;
}


.anmelderunivers-meta-stor h1{

	color: #2176cc;
	font-size: 6.0em;
	text-transform:uppercase;
	margin:0;
	line-height: 1;
}

 .anmelderunivers-meta-stor h1 a{
	color: #2176cc;
}

.musikk .anmelderunivers-meta-stor h1 a{
	color: #b4121b;
}

.bylarm .anmelderunivers-meta-stor h1 a{
	color: #b4121b;
}


.dokumentar .anmelderunivers-meta-stor h1 a{
	color: #82bf40;
}

 .anmelderunivers-meta-stor figure{
	background-color: #2176cc !important;
}

.musikk .anmelderunivers-meta-stor figure{
	background-color: #b4121b !important;
}

.bylarm .anmelderunivers-meta-stor figure{
	background-color: #b4121b !important;
}


.dokumentar .anmelderunivers-meta-stor figure{
	background-color: #82bf40 !important;
}

.anmelderunivers-meta-stor h3{

	color: #fff;
	font-size: 1em;
	text-transform:uppercase;
	margin:5px;
	padding: 0;
	/* padding: 0 0 0 4px; */
	/* border-left: 10px solid #2176cc; */
	line-height:1;
} 



.anmelderunivers-meta-stor p{

	color: #fff;
	font-size: 1.4em;
	font-weight:bold;
	margin: 10px 0 5px 4px;
}

.anmelderunivers-meta-stor .terning {
	margin: 0 0 0 10px; 
	vertical-align: bottom;
}

.anmelderunivers-meta-liten h3 {
	font-size: 1.2em; font-size: 1.2rem; font-family: Helvetica,Arial,sans-serif; text-transform: uppercase; padding-top: 5px;
	margin: 5px 0 !important;
}

.anmelderunivers-meta-liten .terning, .archive .terning {
	height: 25px; 
	margin: 0 5px 0 0; 
	vertical-align: bottom;
	float: left;
}


.anmelderunivers-meta-liten h2 {

}

 .fp-scroll-info,  .fp-scroll-info .row {
	background-color: #2176cc !important;
}

.musikk .fp-scroll-info, .musikk .fp-scroll-info .row {
	background-color: #b4121b !important;
}


.bylarm .fp-scroll-info, .bylarm .fp-scroll-info .row {
	background-color: #e0a6b5 !important;
}


.dokumentar .fp-scroll-info, .dokumentar .fp-scroll-info .row {
	background-color: #82bf40 !important;
}

.fp-scroll-info .anmelderunivers-info {
	color: #fff; 
	padding: 70px 20px 20px 20px; 
	text-align: center;
}

.wellx::after {
    background-color: inherit;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;  
}



/* -----------------------------------------
	Headerslider
----------------------------------------- */

.headerslider-meta-stor {
    bottom: 8%;
    left: 3%;
    margin: 0 10.5px;
    padding: 10px 20px;
    position: absolute;
    text-align: left;
}


.headerslider-meta-stor h1 {

	color: #fff;
	font-size: 5.0em;
	text-transform:uppercase;
	margin:0;
	padding: 20px 0;
	line-height: 1.0em;
}

.headerslider-meta-stor h1 span {

	padding: 6px 20px;
	background-color: #000;
	line-height: 1;
}


.headerslider-meta-stor p {

	color: #fff;
	font-size: 1.4em;
	font-weight:bold;
	margin: 8px 0;
	line-height: 1.4em;
}

.headerslider-meta-stor p span {
	margin: 0;
	padding: 6px 24px;
	background-color: #000 !important;
	line-height: 1;
}




/* -----------------------------------------
   Navigation
----------------------------------------- */

	.reverie-header ul {
		position:relative;
		margin:0;
		width:inherit;
		float:right;
		padding:20px 0 0 0;	
	}
	
	.reverie-header ul li {
		float:left;
		list-style:none;
		margin:0;
		padding:0 10px 0 10px;
	}

	.reverie-header ul li:first-child {padding-left: 0;}
	.reverie-header ul li:last-child {padding-right: 0;}
	
	.reverie-header li a {
		display:block;
		color:black;
		/* text-decoration:#333; */
		text-decoration: none;
		/*
		padding-left: 10px;
    	padding-right: 10px;
		*/		
	}
	
	/*
	first-child {padding-left: 0;}
	last-child {padding-right: 0;}
	*/
	
	/* musikk */
	
	.reverie-header .musikk ul {
		padding:10px 0 0 0;	
	}	
	
	.reverie-header .musikk li a {
		color:#c33330;
		font-weight: bold;
	}	
	
	/* spiral */
	
	.reverie-header .spiral ul {
		padding:10px 0 0 0;	
	}	
	
	.reverie-header .spiral li a {
		color:#000;
		font-weight: bold;
	}
	
	/* humor */
	
	.reverie-header .humor ul {
		padding:10px 0 0 0;	
	}	
	
	.reverie-header .humor li a {
		color:#a5227f;
		font-weight: bold;
	}		

/* -------------------------------------- */


#sm-access {
	width:100%;
	float:left;
	padding:0;
	margin:0;
}

#sm-access *, #sm-access h1, #sm-access h2 {
	font-size: 14px;
	color:black;
	text-decoration:none;
	font-weight:100;
    font-family:arial;
}

#sm-access a {
	padding:5px;
	display:block;
}

#sm-access .faux-menu {
	float:left;
	height:inherit;
    width:100%;
}

	#sm-access .nav {
		float:left;
		margin:0;
	}
	
	#sm-access #slickmenu {
		margin: 0;
		padding:0;
		width:100%;
		display:none;
		float:left;
		clear:both;
		background-color: #fff;
		margin-top: 20px !important;
	}
	#sm-access #slickmenu ul {
		position:relative;
		margin:0;
		width:inherit;
		float:left;
		padding:0;	
		border-top:1px solid #333;
		border-bottom:1px solid #333;
	}
	#sm-access #slickmenu ul li {
		float:left;
		list-style:none;
		margin:0;
		padding:0;		
		width:50%;
		border-right:1px solid #efefef;
		margin-left:-1px;
		border-bottom:1px solid #efefef;
		
	}

	#sm-access #slickmenu ul li:nth-child(even) {
		border-right:0;
	}	

	#sm-access #slickmenu ul li:last-of-type {
		border-bottom:0;
	}	
	
	#sm-access #slickmenu ul li a, #sm-access #slickmenu ul li a:link, #sm-access #slickmenu ul li a:hover, #sm-access #slickmenu ul li a:visited {
		color: #000;
		font-weight: bold;
		margin: 2px 5px 2px 5px;
	}
		
	#sm-access #slickmenu .musikkmeny {
		border: 0 !important;
		background-color: #c33330 !important;
	}				

	#sm-access #slickmenu .musikkmeny li {
		border-right:1px solid #fff !important;
		border-bottom:1px solid #fff !important;
	}	
	
	#sm-access #slickmenu .musikkmeny li:nth-child(even) {
		border-right:1px solid #c33330 !important;
	}	
	
	#sm-access #slickmenu .musikkmeny li a {
		color: #fff !important;
	}	
	
	#sm-access #slickmenu .spiralmeny {
		border: 0 !important;
		background-color: #000 !important;
	}				

	#sm-access #slickmenu .spiralmeny li {
		border-right:1px solid #fff !important;
		border-bottom:1px solid #fff !important;
	}	
	
	#sm-access #slickmenu .spiralmeny li:nth-child(even) {
		border-right:1px solid #000 !important;
	}	
	
	#sm-access #slickmenu .spiralmeny li a {
		color: #fff !important;
	}		
	
	#sm-access #slickmenu .humormeny {
		border: 0 !important;
		background-color: #a5227f !important;
	}				

	#sm-access #slickmenu .humormeny li {
		border-right:1px solid #fff !important;
		border-bottom:1px solid #fff !important;
	}	
	
	#sm-access #slickmenu .humormeny li:nth-child(even) {
		border-right:1px solid #a5227f !important;
	}	
	
	#sm-access #slickmenu .humormeny li a {
		color: #fff !important;
	}	
		
	
		@media only screen and (max-width: 319px) { /* extra small screen */
			#sm-access #slickmenu {
				margin-top:-1px;
				border-bottom:0;
			}
			#sm-access #slickmenu ul {
				border-top:1px solid #333;
				border-bottom:1px solid #333;
			}
			
			#sm-access #slickmenu ul li {
				float:left;
				width:100%;
				border-right: 0;
				margin-bottom:-1px;				
			}
						
		}
		
		

#sm-access ul li ul {
	display:none;
}


/* -----------------------------------------
   p3.no/musikk
----------------------------------------- */
.musikk .dsq-widget-title {
	display:none;
}

.musikk .dsq-widget-meta {
	/* display:none; */
}

article header .terning {
	float: right;
	padding-top: 30px;
	padding-left: 20px;
}

.site-musikk a { color: #c33330; text-decoration: none; }
.site-musikk .fp h1 a:hover, .site-musikk .fp h2 a:hover, .site-musikk .fp h3 a:hover, .site-musikk .fp h4 a:hover, .site-musikk .fp h5 a:hover, .site-musikk .fp h6 a:hover { color: #c33330; text-decoration: none; }

.site-musikk .datometa:before { border-top: 1px solid #c33330; }

.site-musikk blockquote { border-left: 4px solid #c33330; }

/* -----------------------------------------
   p3.no/humor
----------------------------------------- */

.site-humor a { color: #a5227f; text-decoration: none; }
.site-humor .fp h1 a:hover, .site-humor .fp h2 a:hover, .site-humor .fp h3 a:hover, .site-humor .fp h4 a:hover, .site-humor .fp h5 a:hover, .site-humor .fp h6 a:hover { color: #a5227f; text-decoration: none; }

.site-humor .datometa:before { border-top: 1px solid #a5227f; }

.site-humor blockquote { border-left: 4px solid #a5227f; }


/* -----------------------------------------
   p3.no/typentil
----------------------------------------- */

.site-typentil a { color: #b30dac; text-decoration: none; }
.site-typentil .fp h1 a:hover, .site-typentil .fp h2 a:hover, .site-typentil .fp h3 a:hover, .site-typentil .fp h4 a:hover, .site-typentil .fp h5 a:hover, .site-typentil .fp h6 a:hover { color: #b30dac; text-decoration: none; }

.site-typentil .datometa:before { border-top: 1px solid #b30dac; }

.site-typentil blockquote { border-left: 4px solid #b30dac; }

#typentil-quiz form ol li { }

#typentil-quiz form ol div:nth-child(2),#typentil-quiz form ol div:nth-child(4),#typentil-quiz form ol div:nth-child(6),#typentil-quiz form ol div:nth-child(8),#typentil-quiz form ol div:nth-child(10),#typentil-quiz form ol div:nth-child(11),#typentil-quiz form ol div:nth-child(13),#typentil-quiz form ol div:nth-child(15),#typentil-quiz form ol div:nth-child(17),#typentil-quiz form ol div:nth-child(19),#typentil-quiz form ol div:nth-child(20),#typentil-quiz form ol div:nth-child(22),#typentil-quiz form ol div:nth-child(24),#typentil-quiz form ol div:nth-child(26),#typentil-quiz form ol div:nth-child(28),#typentil-quiz form ol div:nth-child(29),#typentil-quiz form ol div:nth-child(31),#typentil-quiz form ol div:nth-child(33),#typentil-quiz form ol div:nth-child(35),#typentil-quiz form ol div:nth-child(37),#typentil-quiz form ol div:nth-child(38),#typentil-quiz form ol div:nth-child(40),#typentil-quiz form ol div:nth-child(42),#typentil-quiz form ol div:nth-child(44),#typentil-quiz form ol div:nth-child(46),#typentil-quiz form ol div:nth-child(47),#typentil-quiz form ol div:nth-child(49),#typentil-quiz form ol div:nth-child(51),#typentil-quiz form ol div:nth-child(53),#typentil-quiz form ol div:nth-child(55),#typentil-quiz form ol div:nth-child(56),#typentil-quiz form ol div:nth-child(58),#typentil-quiz form ol div:nth-child(60),#typentil-quiz form ol div:nth-child(62),#typentil-quiz form ol div:nth-child(64),#typentil-quiz form ol div:nth-child(65),#typentil-quiz form ol div:nth-child(67),#typentil-quiz form ol div:nth-child(69),#typentil-quiz form ol div:nth-child(71),#typentil-quiz form ol div:nth-child(74),#typentil-quiz form ol div:nth-child(76),#typentil-quiz form ol div:nth-child(78),#typentil-quiz form ol div:nth-child(80),#typentil-quiz form ol div:nth-child(82),#typentil-quiz form ol div:nth-child(83),#typentil-quiz form ol div:nth-child(85),#typentil-quiz form ol div:nth-child(87),#typentil-quiz form ol div:nth-child(89),#typentil-quiz form ol div:nth-child(91) { background-color: #f7e6f7 !important; }

#typentil-quiz form ol div input { float: left !important; }
#typentil-quiz form ol div label { float: left !important; font-size: 14px !important; }
#typentil-quiz form ol div { clear: both !important; display: table;  width: 100%; }
#typentil-quiz form .submit input { 
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#fff;
	background-color:#b30dac;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	/* text-shadow:#222 0 1px 0 */
 }

/* -----------------------------------------
   p3aksjonen
----------------------------------------- */

.flex-video.chat {
	padding-bottom: 100%;
}


/* -----------------------------------------
   topp20
----------------------------------------- */

#topp20 h2 span {
	color: #fff !important;
}

.nrkinstagram .nrk-masonry-datepicker {
	/* display: none; */
	/* background-color: #d2ebf3; */
	background: none !important;
	color: #fff !important;
}

.nrkinstagram .nrk-masonry-load button {
	background-color: #c0c0c0;
}

.twittertopp20 #twitter-widget-1 {
	width: 100% !important;
}

.nrk-masonry-datepicker {
	padding: 0 0 15px 0 !important;
}
.nrk-masonry-datepicker .push-button {
	display: none !important;
}

.nrkinstagram .nrk-masonry-load button {
	background-color: #221e1f !important;
	color: #fff !important;
}

/* -----------------------------------------
   oya 2013
----------------------------------------- */

.oya2013univers dl.tabs dd a.active { 

 color: #ce3e34;
 font-weight: bold;
 background-color: #fbf5e8;
 border-color: #ce3e34;
 /*
 border-bottom: 1px solid #fbf5e8;
 border-right: 1px solid #ce3e34;
 margin-left: 1px;
 margin-right: 1px;
 */
 

}

.oya2013univers dl.tabs dd a {


 color: #585653;
 background-color: #efcbbe;
 border-color: #ce3e34;
 border-bottom: 0 !important;
 
 /*
 border-bottom: 1px solid #ce3e34;
 */

}

.oya2013univers dl.tabs {
 border-color: #ce3e34;

}

.oya2013univers dl.tabs dd a img {
 
 vertical-align:text-top;
 margin-right: 4px;

}


/* -----------------------------------------
   p3gull 2013
----------------------------------------- */

.p3gull2013univers dl.tabs dd a.active { 

 color: #4b4b4b;
 font-weight: bold;
 background-color: #dbdbdb;
 border-color: #4b4b4b;
 /*
 border-bottom: 1px solid #fbf5e8;
 border-right: 1px solid #ce3e34;
 margin-left: 1px;
 margin-right: 1px;
 */
 background-image: url(http://p3.no/wp-content/uploads/2013/11/yellowgradient.png);
 background-repeat: repeat-x;
 

}

.p3gull2013univers dl.tabs dd a {


 color: #585653;
 background-color: #dbdbdb;
 border-color: #4b4b4b;
 border-bottom: 0 !important;
 
 /*
 border-bottom: 1px solid #ce3e34;
 */

}

.p3gull2013univers dl.tabs dd a.active h4 {
	color: #181818;
}

.p3gull2013univers dl.tabs dd a h4 {
	color: #4f4f4f;
}


.p3gull2013univers dl.tabs {
 border-color: #4b4b4b;

}

.p3gull2013univers dl.tabs dd a img {
 
 vertical-align:text-top;
 margin-right: 4px;

}

.p3gull2013univers h4 {
	font-size: 20px;
	font-size: 2.0rem;
}


.p3gull2013univers dl.tabs dd a {
	/* padding: 2px 9px !important; */
}


.page-id-185188 .post-box h1 {
	text-align: center;
}

.p3gull2013univers p a {
	font-weight: bold;
}

.p3gullsocial {
	padding-top: 15px;
}

.p3gullsocial a img {
	margin:0 2px;
	width: 10%;
}

/* bx.slider */

.slidemeta {
	position:absolute; padding: 15px 15px 15px 15px; bottom:0; width:100%; background-color:rgba(0,0,0,0.5);
}

.slidemeta h2,.slidemeta p { color: #fff !important; }

.slidemeta p { margin: 0 !important; }

/* polldaddy */

.linepoll .PDS_Poll { width: 95%; overflow:auto; }
.linepoll .PDS_Poll .pds-box { width: 90% !important; }
.linepoll .PDS_Poll .pds-input-label { width: 90% !important; }


.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;   
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;  
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


