/* Brukes til one off eventer og sider med spesialstyling */
/* Artfully masterminded by Morten  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Programoversikt
:: Spillelister
:: Audioplayer
:: Valg2013
*/

.clr {clear: both;}

.programoversikt .item {line-height: 0; float: left; position: relative; margin: 0 1px 1px 0; padding: 0; overflow: hidden; width: 14.161490683229813664596273291925%; min-width: 124px;}
.programoversikt .item.featured {padding: 0; overflow: hidden; width: 28.322981366459627329192546583851%; min-width: 249px;}
.programoversikt figure.figure figcaption {position: absolute; color: #FFF; bottom: 0px; /* background: #000; */ padding: 0; width: 100%;}
.programoversikt figure.figure figcaption div.programtittel {
	background-image: url('http://p3.no/wp-content/themes/p3v2/images/program_bg_transp.png'); background-repeat:repeat;
	display: inline-block;
}
#liveplayer {
	width: 100%;
	display: block;
	position: relative;
}

#liveplayer SPAN{
	text-shadow: 1px 1px 1px black; 
	font-size: 1.3em;
}

.programoversikt .item.featured figure.figure figcaption div.programtittel {
	font-size: 1.4em;
	padding: 8px 8px;
}

.programoversikt .item.featured figure.figure figcaption div.programtittel span.live_sendetidspunkt {
	font-size: 0.7em;
	color:#CCC;
	display:inline-block;
	margin-left:3px;

}

.programoversikt figure.figure figcaption div {
padding: 6px 8px;
}
.programoversikt figure.figure figcaption div.player {
font-weight: bold;
}
.programoversikt figure.figure figcaption div.player img{
	width: 36px;
	vertical-align: middle;
}
.programoversikt figure.figure figcaption div.player span{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

.programoversikt figure.figure figcaption div.sendetidspunkt {
	padding: 0;
}

.programoversikt figure.figure {margin: 0;}
.programoversikt figure.figure figcaption a {color:#FFF; }

@media only screen and (max-width: 893px) {
	.programoversikt .item {width: 16.521739130434782608695652173913%;}
	.programoversikt .item.featured {width: 33.043478260869565217391304347826%;}

}
@media only screen and (max-width: 785px) {
	.programoversikt .item {width: 19.826086956521739130434782608696%;}
	.programoversikt .item.featured {width: 39.652173913043478260869565217391%;}
}
@media only screen and (max-width: 644px) {
	.programoversikt .item {width: 24.78260869565217391304347826087%;}
	.programoversikt .item.featured {width: 49.565217391304347826086956521739%;}
}
@media only screen and (max-width: 519px) {
	.programoversikt .item {width: 33.043478260869565217391304347826%;}
	.programoversikt .item.featured {width: 66.086956521739130434782608695652%;}
	H1.progs_tittel{
			font-size:3rem;
	}
}
@media only screen and (max-width: 402px) {
	.programoversikt .item {width: 49.565217391304347826086956521739%;}
	.programoversikt .item.featured {width: 99.130434782608695652173913043478%;}
}

.programoversikt{
	
	margin-top:15px;

}

/* #knapp_alle_programmer, #knapp_dagens_programmer, #knapp_podkaster{ */
.nav_sortering A{
	padding:6px;
	font-weight:bold;		
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size:16px;
	
} 



a.knapp_aktiv, a.knapp_aktiv:hover, a.knapp_aktiv:visited{
	color:#FFF !important;
}
a.knapp_aktiv {
	background-color:#000;
}


.sendetidspunkt{
	font-size: 1.2rem;
	color:#CCC;	
	margin-bottom: -2px;
}

	.programoversikt figure.figure figcaption {
		
	/*	padding:6px 8px; */
	}

.programoversikt .item .figure IMG{
	
/*	-webkit-filter: saturate(50%); */
}

.programoversikt .item .figure.program_ferdig IMG{

	-webkit-filter: saturate(0);
}

.programoversikt .item .figure IMG:hover{
	
	-webkit-filter: saturate(100%);
}

.programoversikt .item.featured .figure IMG{
/*	-webkit-filter: saturate(100%); */
}

/* AudioPlayer plugin */
.audioplayer_container object {height: 30px; margin:0;}
p.audioplayer_container {margin:0;}

/* Valg2013 */
blockquote.valg-quote-sv {border-left: 4px solid #FF009D;}
blockquote.valg-quote-r {border-left: 4px solid #BF0F2C;}
blockquote.valg-quote-a {border-left: 4px solid #FF3D1F;}
blockquote.valg-quote-mdg {border-left: 4px solid #3F800D;}
blockquote.valg-quote-sp {border-left: 4px solid #99CC00;}
blockquote.valg-quote-krf {border-left: 4px solid #f5CC00;}
blockquote.valg-quote-kp {border-left: 4px solid #006F80;}
blockquote.valg-quote-v {border-left: 4px solid #00D19A;}
blockquote.valg-quote-h {border-left: 4px solid #00B8E6;}
blockquote.valg-quote-dem {border-left: 4px solid #0A3880;}
blockquote.valg-quote-frp {border-left: 4px solid #6666FF;}

.valg.anmelderunivers{
	border-bottom: 3px solid #000;
}

.valg {
	border-bottom-color: #000000;
}


.valg.anmelderuniversheader h3:before {
	border-top: 6px solid #000;
}






.faktaboks{
	margin-bottom:30px;
	clear:both;
	position: relative;
	background-color: #F0F0F0;
	padding:5px;
}

.faktaboks .updated {
	position: relative;
	text-transform: uppercase;
}

.faktaboks STRONG {
	font-family:oswald;
}


.faktaboks li {
	list-style-type: none;
	border-bottom: 1px dotted #CCC;
	/* font-family: oswald, sans-serif; */
	font-family: Georgia, Verdana, Geneva, sans-serif; 
	color:#181818;
	/* word-spacing:2px; */
	font-size:13px;

}


.faktaboks li.anmeldertittel {
	border: 0;
	font-size:22px;
		font-weight:bold;

}

.faktaboks IMG{
	margin-bottom:10px;	
}


DIV.entry-content .faktaboks{

	width: 190px;
	
	margin-left:10px;
}

DIV.entry-content .faktaboks ul{
	
	margin-left:0 !important;
}






@media only screen and (max-width: 767px), only screen and (max-device-height: 1024px) and (max-device-width: 768px) and (orientation: portrait) {


DIV.entry-content .faktabox.right, .faktabox.left {float: none;}

DIV.entry-content .faktaboks 
	{width: 100%; 
	float: none; 
	padding: 0;
	margin: 0;}

	.faktaboks IMG{
	
		/*float:left;*/
		margin-right:20px;
	}
	
	.faktaboks UL{
		padding: 10px;
    	}

}





@media only screen and (max-width: 545px){
		
DIV.entry-content .faktaboks {width: 100%; float: none; }

	.faktaboks IMG{
		width:100%;
	}

	/*DIV.faktaboks{width:135px !important;}*/
	DIV.faktaboks LI{font-size:12px;}


}




@media only screen and (max-width: 767px), only screen and (max-device-height: 1024px) and (max-device-width: 768px) and (orientation: portrait) {
	.valg .promobanner{
		display:none;	
	}
}
