/*
Theme Name:         P3.no v2
Theme URI:          http://p3.no/
Description:        Responsive P3.no built on Reverie 2.0.0
Version:            1.0.0
Author:             P3.no
Author URI:      
*/

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Customized Adjustments of Foundation for WordPress
:: Styling Basic WordPress Outputs
:: Customize Foundation Style Pagination for WP-Pagenavi
:: Customize for BuddyPress
:: Your Customized Style
*/

/* ---------------------------------------------------
   Customized Adjustments of Foundation for WordPress
--------------------------------------------------- */

	/* ZURB Navi for Foundation */
	dl.nav { display: block; width: auto; height: 27px; margin: 0 0 18px; }
	dl.nav dt, dl.nav dd { float: left; display: inline; }
	dl.nav dt { color: #999; font-weight: normal; }
	dl.nav dd a { text-decoration: none; margin-left: 6px; padding: 5px 12px;
	 -webkit-border-radius: 12px; -moz-border-radius: 12px; }
	dl.nav dd a:hover { background: #eee; }
	dl.nav dd.current-menu-item a,
	dl.nav dd.current-post-ancestor a,
	dl.nav dd.current-menu-parent a,
	dl.nav dd.current-post-parent a
	 { background: #2A85E8; color: #fff; }
 
	/* Foundation-specific presentation CSS by ZURB */
	body {padding-bottom:0; width: 100%; background: #fff; border: none; max-width: 100%; }
	div.reverie-header { margin: 0 0 30px 0; padding: 20px 0 0 0; }
	div.reverie-header h1 { margin-bottom: 0; padding: 0; }
	div.reverie-header h1 a { color: #181818; }
	div.reverie-header h1 a:hover { color: #181818; }
	div.reverie-header .subheader { margin-bottom: 9px; }
	div.highlight { margin-bottom: 12px; }
	img.beta { position: absolute; top: 0px; right: 0px; }

/* -----------------------------------------
   Styling Basic WordPress Outputs
----------------------------------------- */
	
	/* Resizing the Blog Post */
	.post-box p { line-height: 24px; font-size: 16px; font-size: 1.6rem; }
	.post-box h1 { font-weight: bold; font-size: 56px; font-size: 5.6rem; line-height: 1.25; margin-bottom: 8px; margin-top:30px; }
	.post-box h2 { font-weight: bold; font-size: 46px; font-size: 4.6rem; line-height: 1; margin-bottom: 6px; margin-top: 26px;}
	.post-box h3 { font-size: 36px;	font-size: 3.6rem; margin-bottom: 6px;}
	.post-box h4 { font-size: 28px;	font-size: 2.8rem; margin-bottom: 6px;}
	.post-box h5 { font-size: 22px;	font-size: 2.2rem; margin-bottom: 4px;}
	.post-box h6 { font-size: 18px;	font-size: 1.8rem; margin-bottom: 4px;}
	
	/* Add Divider for Listed Posts */
	.dividerx { background:url(images/divider.png) no-repeat center top; height:36px; margin:20px 0 27px; }	
	
	/* Add Align Class for Images */
	img.alignright { float: right; margin: 0 0 18px 18px; }
	img.alignleft { float: left; margin: 0 18px 18px 0; }
	img.aligncenter { display: block; margin: 18px auto; }
	
	/* Add HTML5 Caption Class for Images display: inline-block; */
	figure.figure {	/* background: #fff; */ margin: 0 0 18px;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;  }
	figure.figure figcaption { padding: 5px 0; font-size: 13px; font-size: 1.3rem; line-height: 18px; color: #555; }
	figure.alignright.figure { float: right; margin: 0 0 18px 18px; }
	figure.alignleft.figure { float: left; margin: 0 18px 18px 0; }
	
	/* Sidebar Adjustment */
	.sidebar-section { padding-bottom: 10px; padding-top: 20px;	font-size: 13px; font-size: 1.3rem; font-weight: normal; }
	
	/* Footer Nav */
	.footer-section { padding-bottom: 10px; padding-top: 20px; font-size: 13px; font-size: 1.3rem; font-weight: normal; }
	.footer-nav li { display: block; float: right; padding-left: 3%; margin-bottom: 0; }
	
	/* Breadcrumb Adjustment */
	ul.breadcrumbs li span { padding-left: 12px; }
	ul.breadcrumbs li a { padding-left: 0; }

/*  -------------------------------------------------------
    Customize Foundation Style Pagination for WP-Pagenavi
    ---------------------------------------------------- */ 
    
    div.wp-pagenavi { display: block; height: 24px; margin-left: -5px; color: #555; }
    div.wp-pagenavi a, div.wp-pagenavi span { float: left; display: block; padding: 6px 7px 4px; height: 24px; color: #555; font-size: 15px; font-size: 1.5rem; margin-left: 5px; }
    div.wp-pagenavi span.pages { padding-left: 0; }
    div.wp-pagenavi .current, div.wp-pagenavi a:hover { border-bottom: solid 2px #00a6fc; color: #141414; }
    div.wp-pagenavi span.unavailable:hover { border-bottom: none; }
    
    
/*  ---------------------------
    :: Customize for BuddyPress
    --------------------------- */

	.padder label + textarea { margin-top: 0; }
	.padder #item-body #message-threads .thread-avatar img { max-width: 50px; }
	ul.item-list.activity-list li.new_blog_post { padding-bottom: 15px; }
    .padder select { display: inline-block; }
    .padder div.item-list-tabs { margin: 25px 0; }
    .padder form#whats-new-form textarea { height: 30px; }
    .padder .button { display: inline; }
    
	
/*  --------------------------
    Your Customized Style
    ----------------------- */


/* -------
	Typo
   ------- */

.notice {

	color: red !important;

}


/*------
	Sidebar
-------*/


.widget_RecentDisqus ul li{

	font-size: 1.3em;
	margin-top:20px;
	border-bottom: 1px dotted #efefef;
}


.widget_RecentDisqus ul li a{

	color: #333;

}


.widget_RecentDisqus ul ul li{

	font-size: 1em;
	margin:0;
	border-bottom: 0;
	margin-left:10px;
	margin-bottom: 6px;
}

.widget_RecentDisqus ul ul li a{

	font-weight:bold;

}




/* -------
	Footer
   ------- */


html,body {
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}

#content-info {
border-top: 1px solid #ccc;
width:100%;
position: absolute;
background-color: #fff;
padding: 0;
margin-top: 20px;
}


.p3-footer-container {
	padding: 0 10px 0 10px;
	margin: 0 auto;
}
 

#nrkfooter {
background-color: #000;
margin:0 auto !important;
color: #fff;
padding: 20px 10px 20px 10px;
display: block;
}


#nrkfooter ul, #nrkfooter ul li {
	margin: 0;
}






.entry-content ul {

list-style-type:disc;
margin-left: 30px;

}


/* -------
	Soundquote
   ------- */

.entry-content .soundquote-container .player .soundquote-controls {
	margin: 0; 
}

.soundquote-play-bar {
    background: #fa3e26 !important;
}

.soundquote-progress {
    background: #eee !important;
}

.soundquote-progress .text p {
	color: #000 !important;
}

div.soundquote-container div.player:hover .soundquote-controls .soundquote-play {
	background: url("http://p3.no/wp-content/themes/p3v2/images/soundquote_sprite_player.png") -250px 0 no-repeat !important;
}


.soundquote-controls .soundquote-play {
	background: url("http://p3.no/wp-content/themes/p3v2/images/soundquote_sprite_player.png") -200px 0 no-repeat !important;
}

div.soundquote-container div.player:hover .soundquote-controls .soundquote-pause {
	background: url("http://p3.no/wp-content/themes/p3v2/images/soundquote_sprite_player.png") -250px -50px no-repeat !important;
}


.soundquote-controls .soundquote-pause {
	background: url("http://p3.no/wp-content/themes/p3v2/images/soundquote_sprite_player.png") -200px -50px no-repeat !important;
}

/*
div.soundquote-container {
	width: 100% !important;
}

.soundquote-progress {
	width: 100% !important;
} 	
*/



/* P3 20 */


@media only screen and (max-width: 767px), only screen and (max-device-width: 768px) and (max-device-height: 1024px) and (orientation:portrait) {
	
	.row .eight{
		width: 100%;
	}
}


/* NRK SVG SHARE */

.skin-fill {
    fill: #8f8f8f;
}

.sr-only  {position: absolute; overflow:hidden; height: 1px; width: 1px;}

.share-button-bar > a.share-button {
    position: relative;
    display: block;
    float:left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-bottom:none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.share-button-bar > a.share-button:after {
    display: block;
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: transparent;
}

.share-button-bar > a.share-button:last-child {
    margin-right: 0;
}

.share-button svg {
    color:transparent;
}

.share-button .normal {
    opacity: 1;
    transition: all 150ms;
}

.share-button .hover {
    opacity: 0;
    transition: all 150ms;
}

.share-button:hover .normal {
    opacity: 0;
}

.share-button:hover .hover {
    opacity: 1;
}

.share-button-bar-toggle {
    position: relative;
    float: right;
    font-size: 12px;
}
.share-button-bar-toggle:after {
    content: "";
    display: table;
    clear: both;
}

.share-toggle-button {
    border: none;
    outline: none;
    display: block;
    height: 38px;
    width: 38px;
    padding: 0;
    cursor: pointer;
    z-index: 200;
    position: relative;
    background: #fff;
}

.share-toggle-button .skin-background {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    display: inline-block;
}

.share-toggle-button .article-only {
    display: none;
}

.share-button-bar-toggle.share-toggle-on .share-button-bar {
    display: block;
    right: 38px;
    border-left: 1px solid #e0e0e0;
    background: #fff;
}

.share-button-bar-toggle .share-button-bar {
    display: none;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    padding-left: 10px;
    padding-top: 4px;
}

.csstransforms .share-button-bar-toggle .share-button-bar {
    display: block;
    opacity: 0;

    transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);

    transition: transform 500ms, opacity 500ms;
    -webkit-transition: -webkit-transform 500ms, opacity 500ms;
}

.csstransforms .share-button-bar-toggle.share-toggle-on .share-button-bar {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);

    opacity: 1;
}



/* FACEBOOK MESSENGER-SAMTALE */

.somedialog p.video{
	width: 375px;
}


.somedialog{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.somedialog h2{
    padding: 16px;
    background-color:#f8f8f8;
    border-bottom: 1px #b2b2b2 solid; 
    text-align: center;
    font-weight: bold;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;

}


.somedialog.fbmessenger div{
    margin-top:4px;
    display:flex;
    flex-direction:column;
}

.somedialog.fbmessenger .datestamp, .somedialog.sms .datestamp{
    text-align: center;
    max-width: 100%;
    color:#999;
    font-size: 12px;
    padding:16px 0 0 0;
    display:block;
}

.somedialog.fbmessenger p{
    padding:8px 16px;
    margin: 1px 0;
    display: table;
}

.somedialog.fbmessenger .wrapper{
    max-width: 70%;
    margin: 0 8px;
}

.somedialog.fbmessenger .a .wrapper{
    align-self: flex-end;
}

.somedialog.fbmessenger .a p{
    background-color: #007ffc;
    color:#fff;
    align-self: flex-end;
    border-radius: 20px 4px 4px 20px;
}
.somedialog.fbmessenger .a p:first-child{
    border-top-right-radius:20pxrem;
}

.somedialog.fbmessenger .a p:last-child{
    border-bottom-right-radius:20px;
}


.somedialog.fbmessenger .b, .somedialog.sms .b{
    flex-direction: row;
    display: flex;
}

.somedialog.fbmessenger .b p{
    background-color: #e5e5e5;
    align-self: flex-start;
    border-radius: 4px 20px 20px 4px;
}

.somedialog.fbmessenger .b p:first-child{
    border-top-left-radius:20px;
}

.somedialog.fbmessenger .b p:last-child{
    border-bottom-left-radius:20px;
}

.somedialog .b .avatar{
    width:44px;
    align-self:flex-end;
    margin-left:8px;
    margin-top:0;
}

.somedialog.fbmessenger .avatar img{
    width:44px;
    height:44px;
    border-radius: 50%;
}


.somedialog.fbmessenger img{
    display: block;
    border-radius: 50%;
    width:100%;
}

.somedialog.fbmessenger .img{
    padding: 0;
}

.somedialog.fbmessenger .img span{
    padding:0.5rem 1rem;;
    display:block;
}

.somedialog.fbmessenger .img :nth-child(2){
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.somedialog .emoji{
    font-size: 24px;
    vertical-align: middle !important;
    font-style: normal;
}

/* SMS-SAMTALE */

    .somedialog.sms .a .wrapper{
        background: url(http://p3.no/saus/div/media/gfx/smsdialog/boblesnutt-a.svg);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 16px 22px;
        display: flex;
        flex-direction: column;
        margin: 16px 4px;
    }

        .somedialog.sms .b .wrapper{
        background: url(http://p3.no/saus/div/media/gfx/smsdialog/boblesnutt-b.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 16px 22px;
        display: flex;
        flex-direction: column;
        margin: 16px 4px 0;
    }


    .somedialog.sms .wrapper p{
        /*max-width: 70%;*/
        border-radius: 24px;
        display: table;
        padding: 10px 16px;
        margin: 1px 7px;
    }

    .somedialog.sms .a p{
        align-self: flex-end;
        background-color: #03d054;
        color:#fff;
    }

    .somedialog.sms .b p{
        background-color: #e5e5e5;
	align-self: flex-start;
	max-width:375px;
    }

.somedialog.sms .avatar{
    background-color: #ccc;
    border-radius: 50%;
    width: 36px;
	min-width:36px;
    height: 36px;
    color: #fff;
}

.somedialog.sms .avatar img{
    vertical-align: top;
    width:36px;
    height:36px;
    border-radius: inherit;
}

.somedialog.sms .avatar .initials{
    font-size: 18px;
    margin-top: 9px;
    text-align: center;
    height: 36px;
}

.somedialog.sms .wrapper .name{
    color:#999;
    font-size: 12px;
background-color: none;
padding:0;
margin: 0 0 4px 23px;

}

.somedialog.sms .wrapper .img{
    padding: 0;
}

.somedialog.sms .img img{
    width: 100%;
    border-radius: inherit;
    vertical-align: top;
}

.somedialog .b svg{
    -webkit-filter: drop-shadow( 0 1px 2px #999 );
    filter: drop-shadow( 0 1px 2px #999 ); /* Same syntax as box-shadow */

}