html {
  line-height: 13px;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
body {
  line-height: 1.53rem;
  font-size: 1rem;
}
.text-display-4 {
  font-size: 8.6rem;
  font-weight: 300;
  line-height: 8.6rem;
}
.text-display-3 {
  font-size: 4.3rem;
  font-weight: 400;
  line-height: 8.6rem;
}
.text-display-2 {
  font-size: 3.46rem;
  font-weight: 400;
  line-height: 3.69rem;
}
.text-display-1,
.jumbotron h1 {
  font-size: 2.61rem;
  font-weight: 400;
  line-height: 3.07rem;
}
.text-headline {
  font-size: 1.84rem;
  font-weight: 400;
  line-height: 2.46rem;
}
.text-title {
  font-size: 1.53rem;
  font-weight: 500;
}
.text-subhead,
.text-subhead-2,
.jumbotron p {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.84rem;
}
.text-subhead-2 {
  font-weight: 500;
  line-height: 2.15rem;
}
.text-caption {
  font-size: 0.92rem;
  font-weight: 400;
}
.text-body-2 {
  font-weight: 500;
  line-height: 1.84rem;
}
.text-light {
  color: #757575;
}
.text-headline > a {
  color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.text-h1 {
  font-size: 36px;
}
.text-h2 {
  font-size: 30px;
}
.text-h3 {
  font-size: 24px;
}
.text-h4 {
  font-size: 18px;
}
.text-h5 {
  font-size: 14px;
}
.text-default {
  color: #6e7882;
}
.text-primary {
  color: #26a69a;
}
.buttons-spacing-vertical .btn + .btn {
  margin: 3px 2px;
}
.btn {
  font-weight: 500;
}
.btn-white {
  color: #444444;
  background-color: #ffffff;
  border-color: #efefef;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  color: #444444;
  background-color: #e6e6e6;
  border-color: #d0d0d0;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #ffffff;
  border-color: #efefef;
}
.btn-white .badge {
  color: #ffffff;
  background-color: #444444;
}
.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.btn-white .open > .dropdown-toggle.btn-white {
  background: #efefef;
  border-color: #efefef;
}
.btn-inverse {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #292929;
  border-color: #232323;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #424242;
  border-color: #424242;
}
.btn-inverse .badge {
  color: #424242;
  background-color: #ffffff;
}
.btn-stroke {
  background: none;
}
.btn-stroke.btn-default {
  color: #212121;
}
.btn-stroke.btn-default:hover {
  background: #efefef;
  color: #212121;
}
.btn-stroke.btn-primary {
  color: #26a69a;
}
.btn-stroke.btn-primary:hover {
  background: #26a69a;
  color: #ffffff;
}
.btn-stroke.btn-success {
  color: #8bbf61;
}
.btn-stroke.btn-success:hover {
  background: #8bbf61;
  color: #ffffff;
}
.btn-stroke.btn-info {
  color: #4193d0;
}
.btn-stroke.btn-info:hover {
  background: #4193d0;
  color: #ffffff;
}
.btn-stroke.btn-danger {
  color: #bd362f;
}
.btn-stroke.btn-danger:hover {
  background: #bd362f;
  color: #ffffff;
}
.btn-stroke.btn-inverse {
  color: #424242;
}
.btn-stroke.btn-inverse:hover {
  background: #424242;
  color: #ffffff;
}
.btn-stroke.btn-warning {
  color: #f0ad4e;
}
.btn-stroke.btn-warning:hover {
  background: #f0ad4e;
  color: #ffffff;
}
.btn-circle {
  border-radius: 50%;
}
.btn-circle.btn {
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.btn-circle.btn-lg {
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.btn-circle.btn-xs {
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.btn-circle > [class*="play"] {
  margin-left: 4px;
}
.btn-icon-stacked {
  text-align: left;
  padding: 10px 10px 10px 45px;
  position: relative;
}
.btn-icon-stacked i {
  display: block;
  position: absolute;
  left: 12px;
  top: 18px;
}
.bootstrap-select .btn-white {
  color: #797979;
}
.btn-group-footer {
  border-top: 1px solid #eeeeee;
}
.btn-group-footer .btn {
  color: #777777;
  border: none;
  border-right: 1px solid #eeeeee;
}
.btn-group-footer .btn:last-of-type {
  border-right: none;
}
.btn-group-footer .btn:hover {
  color: #26a69a;
}
.badge.badge-primary {
  background: #26a69a;
  color: #fff;
}
.badge.badge-danger {
  background: #bd362f;
  color: #fff;
}
.progress {
  box-shadow: none;
  border-radius: 0;
  height: 14px;
  line-height: 14px;
}
.progress-bar-default {
  background-color: #6e7882;
}
.progress-striped .progress-bar-default {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-inverse {
  background-color: #424242;
}
.progress-striped .progress-bar-inverse {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-mini {
  height: 8px;
}
.ribbon-mark {
  position: relative;
  z-index: 5;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 5px 10px;
}
.panel-body .ribbon-mark:not(.absolute) {
  margin-top: -15px;
}
.ribbon-mark:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ribbon-mark:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ribbon-mark .text {
  position: relative;
  z-index: 3;
  display: block;
  margin-bottom: 55px;
}
.ribbon-mark.absolute {
  top: 0;
}
.ribbon-mark.absolute.right {
  right: 10px;
}
.ribbon-mark.absolute.left {
  left: 10px;
}
.ribbon-mark.ribbon-default:before {
  background: -webkit-linear-gradient(290deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
  background: linear-gradient(160deg, rgba(0, 0, 0, 0.2) 50%, transparent 50%);
}
.ribbon-mark.ribbon-default:after {
  background: -webkit-linear-gradient(250deg, #ffffff 50%, transparent 50%);
  background: linear-gradient(-160deg, #ffffff 50%, transparent 50%);
}
.ribbon-mark.ribbon-default .text {
  color: #212121;
}
.ribbon-mark.ribbon-primary:before {
  background: -webkit-linear-gradient(290deg, #22958b 50%, transparent 50%);
  background: linear-gradient(160deg, #22958b 50%, transparent 50%);
}
.ribbon-mark.ribbon-primary:after {
  background: -webkit-linear-gradient(250deg, #26a69a 50%, transparent 50%);
  background: linear-gradient(-160deg, #26a69a 50%, transparent 50%);
}
.ribbon-mark.ribbon-primary .text {
  color: #ffffff;
}
.ribbon-mark.ribbon-danger:before {
  background: -webkit-linear-gradient(290deg, #ad312b 50%, transparent 50%);
  background: linear-gradient(160deg, #ad312b 50%, transparent 50%);
}
.ribbon-mark.ribbon-danger:after {
  background: -webkit-linear-gradient(250deg, #bd362f 50%, transparent 50%);
  background: linear-gradient(-160deg, #bd362f 50%, transparent 50%);
}
.ribbon-mark.ribbon-danger .text {
  color: #ffffff;
}
.ribbon-heading {
  position: relative;
  padding: 6px 12px;
  text-align: center;
  margin-left: -12px;
  margin-right: -12px;
}
.ribbon-heading:before,
.ribbon-heading:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
}
.ribbon-heading.bottom-left:before {
  top: 100%;
  left: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
}
.ribbon-heading.bottom-right:before {
  top: 100%;
  right: 0;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
}
.ribbon-heading.top-left:before {
  bottom: 100%;
  left: 0;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
}
.ribbon-heading.top-right:before {
  bottom: 100%;
  right: 0;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
}
.ribbon-heading.top-left-right:before {
  bottom: 100%;
  left: 0;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
}
.ribbon-heading.top-left-right:after {
  bottom: 100%;
  right: 0;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
}
.ribbon-heading.bottom-left-right:before {
  top: 100%;
  left: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
}
.ribbon-heading.bottom-left-right:after {
  top: 100%;
  right: 0;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
}
.ribbon-heading.inline {
  display: inline-block;
}
.ribbon-heading[class*="bottom"] {
  margin-bottom: 22px;
}
.ribbon-heading[class*="top"] {
  margin-top: 22px;
}
.ribbon-headingh1,
.ribbon-headingh2,
.ribbon-heading.text-h1,
.ribbon-heading.text-h2,
.ribbon-heading.h1,
.ribbon-heading.h2 {
  padding: 10px 16px;
  margin-left: -16px;
  margin-right: -16px;
}
.ribbon-headingh1.bottom-left:before,
.ribbon-headingh2.bottom-left:before,
.ribbon-heading.text-h1.bottom-left:before,
.ribbon-heading.text-h2.bottom-left:before,
.ribbon-heading.h1.bottom-left:before,
.ribbon-heading.h2.bottom-left:before {
  border-width: 16px 0 0 16px;
}
.ribbon-headingh1.bottom-right:before,
.ribbon-headingh2.bottom-right:before,
.ribbon-heading.text-h1.bottom-right:before,
.ribbon-heading.text-h2.bottom-right:before,
.ribbon-heading.h1.bottom-right:before,
.ribbon-heading.h2.bottom-right:before {
  border-width: 16px 16px 0 0;
}
.ribbon-headingh1.top-left:before,
.ribbon-headingh2.top-left:before,
.ribbon-heading.text-h1.top-left:before,
.ribbon-heading.text-h2.top-left:before,
.ribbon-heading.h1.top-left:before,
.ribbon-heading.h2.top-left:before {
  border-width: 0 0 16px 16px;
}
.ribbon-headingh1.top-right:before,
.ribbon-headingh2.top-right:before,
.ribbon-heading.text-h1.top-right:before,
.ribbon-heading.text-h2.top-right:before,
.ribbon-heading.h1.top-right:before,
.ribbon-heading.h2.top-right:before {
  border-width: 0 16px 16px 0;
}
.ribbon-headingh1.top-left-right:before,
.ribbon-headingh2.top-left-right:before,
.ribbon-heading.text-h1.top-left-right:before,
.ribbon-heading.text-h2.top-left-right:before,
.ribbon-heading.h1.top-left-right:before,
.ribbon-heading.h2.top-left-right:before {
  border-width: 0 0 16px 16px;
}
.ribbon-headingh1.top-left-right:after,
.ribbon-headingh2.top-left-right:after,
.ribbon-heading.text-h1.top-left-right:after,
.ribbon-heading.text-h2.top-left-right:after,
.ribbon-heading.h1.top-left-right:after,
.ribbon-heading.h2.top-left-right:after {
  border-width: 0 16px 16px 0;
}
.ribbon-headingh1.bottom-left-right:before,
.ribbon-headingh2.bottom-left-right:before,
.ribbon-heading.text-h1.bottom-left-right:before,
.ribbon-heading.text-h2.bottom-left-right:before,
.ribbon-heading.h1.bottom-left-right:before,
.ribbon-heading.h2.bottom-left-right:before {
  border-width: 16px 0 0 16px;
}
.ribbon-headingh1.bottom-left-right:after,
.ribbon-headingh2.bottom-left-right:after,
.ribbon-heading.text-h1.bottom-left-right:after,
.ribbon-heading.text-h2.bottom-left-right:after,
.ribbon-heading.h1.bottom-left-right:after,
.ribbon-heading.h2.bottom-left-right:after {
  border-width: 16px 16px 0 0;
}
.ribbon-headingh1[class*="bottom"],
.ribbon-headingh2[class*="bottom"],
.ribbon-heading.text-h1[class*="bottom"],
.ribbon-heading.text-h2[class*="bottom"],
.ribbon-heading.h1[class*="bottom"],
.ribbon-heading.h2[class*="bottom"] {
  margin-bottom: 26px;
}
.ribbon-headingh1[class*="top"],
.ribbon-headingh2[class*="top"],
.ribbon-heading.text-h1[class*="top"],
.ribbon-heading.text-h2[class*="top"],
.ribbon-heading.h1[class*="top"],
.ribbon-heading.h2[class*="top"] {
  margin-top: 26px;
}
.panel-body .ribbon-heading {
  margin-left: -27px;
  margin-right: -27px;
}
.panel-body .ribbon-headingh1,
.panel-body .ribbon-headingh2,
.panel-body .ribbon-heading.text-h1,
.panel-body .ribbon-heading.text-h2,
.panel-body .ribbon-heading.h1,
.panel-body .ribbon-heading.h2 {
  margin-left: -31px;
  margin-right: -31px;
}
.ribbon-heading.ribbon-default {
  background-color: #f0f0f0;
  color: #212121;
}
.ribbon-heading.ribbon-default.bottom-left:before,
.ribbon-heading.ribbon-default.bottom-right:before,
.ribbon-heading.ribbon-default.bottom-left-right:before,
.ribbon-heading.ribbon-default.bottom-left-right:after {
  border-top-color: #e6e6e6;
}
.ribbon-heading.ribbon-default.top-left:before,
.ribbon-heading.ribbon-default.top-right:before,
.ribbon-heading.ribbon-default.top-left-right:before,
.ribbon-heading.ribbon-default.top-left-right:after {
  border-bottom-color: #e6e6e6;
}
.ribbon-heading.ribbon-primary {
  background-color: #26a69a;
  color: #ffffff;
}
.ribbon-heading.ribbon-primary.bottom-left:before,
.ribbon-heading.ribbon-primary.bottom-right:before,
.ribbon-heading.ribbon-primary.bottom-left-right:before,
.ribbon-heading.ribbon-primary.bottom-left-right:after {
  border-top-color: #22958b;
}
.ribbon-heading.ribbon-primary.top-left:before,
.ribbon-heading.ribbon-primary.top-right:before,
.ribbon-heading.ribbon-primary.top-left-right:before,
.ribbon-heading.ribbon-primary.top-left-right:after {
  border-bottom-color: #22958b;
}
.ribbon-heading.absolute {
  z-index: 5;
}
.ribbon-heading.right {
  right: 0;
}
.ribbon-heading.left {
  left: 0;
}
.ribbon-corner-wrapper {
  min-height: 135px;
}
.ribbon-corner {
  background-color: #26a69a;
  overflow: hidden;
  white-space: nowrap;
  top: 35px;
  box-shadow: 0 3px 0 #22958b;
  position: absolute;
  z-index: 5;
}
.ribbon-corner a {
  color: #ffffff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 250px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.ribbon-corner.left {
  left: -70px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.ribbon-corner.right {
  right: -70px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.panel {
  box-shadow: none;
}
.panel-group .panel-heading {
  padding: 15px;
}
.panel-overlay {
  background: rgba(255, 255, 255, 0.9);
  border: none;
}
.panel-overlay .panel-heading {
  background: rgba(255, 255, 255, 0.2);
}
.panel-collapse-trigger {
  cursor: pointer;
}
.panel-collapse-trigger.panel-heading {
  position: relative;
}
.panel-collapse-trigger.panel-heading:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  position: absolute;
  right: 15px;
  top: 10px;
  display: block;
}
.panel-collapse-trigger.panel-heading.collapsed:after {
  content: "\f105";
}
.panel-body.list-group {
  padding: 0;
  margin: 0;
}
.panel-body.list-group .list-group {
  margin: 0;
}
.panel-body.list-group .list-group .list-group-item {
  border-left: none;
  border-right: none;
}
.panel-body.list-group .list-group .list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}
.panel-body.list-group .list-group .list-group-item:last-child {
  border-bottom: none;
  border-radius: 0;
}
.panel-body.list-group + .panel-footer {
  border-top: 1px solid #e2e9e6;
}
.panel-heading > *:first-child {
  margin-top: 0;
}
.panel-heading > *:last-child {
  margin-bottom: 0;
}
.panel-body > *:last-child {
  margin-bottom: 0;
}
.panel-body + hr {
  margin: 0;
}
.panel.panel-default > .split-vertical > .panel-heading {
  border-bottom-color: #e2e9e6;
}
.tabbable {
  margin-bottom: 20px;
  border-radius: 4px;
}
.tabbable > .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.tabbable > .nav-tabs > li {
  float: none;
  display: inline-block;
}
.tab-content {
  padding: 15px;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tab-content h1.tab-content-heading,
.tab-content h2.tab-content-heading,
.tab-content h3.tab-content-heading,
.tab-content h4.tab-content-heading,
.tab-content h5.tab-content-heading,
.tab-content h6.tab-content-heading {
  margin: 0 0 10px;
}
.nav-tabs {
  font-weight: 500;
  border-bottom: none;
}
.nav-tabs > li > a {
  color: #a4abb2;
}
.nav-tabs > li > a:hover {
  background: transparent;
  border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active a:focus,
.nav-tabs > li.active a:hover {
  color: #26a69a;
}
.nav-tabs > li:first-of-type > a,
.nav-tabs > li:first-of-type > a:hover {
  border-left-color: transparent;
}
[class*="tabs-highlight"] .nav-tabs {
  border-bottom: 1px solid #e2e9e6;
}
[class*="tabs-highlight"] .nav-tabs > li.active:after {
  display: block;
  position: absolute;
  background-color: #26a69a;
  content: " ";
  left: 0;
  right: 0;
  height: 2px;
}
.tabs-highlight-top .nav-tabs > li.active:after {
  top: 0;
}
.tabs-highlight-bottom .nav-tabs > li.active:after {
  bottom: 0;
}
.tabs-primary > .nav-tabs > li.active > a,
.tabs-primary > .nav-tabs > li.active > a:focus,
.tabs-primary > .nav-tabs > li.active > a:hover {
  background-color: #26a69a;
  color: #fff;
  border-right-color: #26a69a;
}
.tabs-vertical > .tab-content {
  position: relative;
  overflow: hidden;
}
.tabs-vertical:after {
  clear: both;
  display: block;
  content: "";
}
@media (min-width: 768px) {
  .tabs-vertical.tabs-left > .nav-tabs,
  .tabs-vertical.tabs-right > .nav-tabs {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left > .nav-tabs > li,
  .tabs-vertical.tabs-right > .nav-tabs > li {
    display: block;
    float: none;
  }
  .tabs-vertical.tabs-left > .nav-tabs > li.active,
  .tabs-vertical.tabs-right > .nav-tabs > li.active {
    margin-bottom: 0;
    border-top: 1px solid #e2e9e6;
    border-bottom: 1px solid #e2e9e6;
  }
  .tabs-vertical.tabs-left > .nav-tabs > li.active:first-of-type,
  .tabs-vertical.tabs-right > .nav-tabs > li.active:first-of-type {
    border-top: none;
  }
  .tabs-vertical.tabs-left > .nav-tabs > li.active:last-of-type,
  .tabs-vertical.tabs-right > .nav-tabs > li.active:last-of-type {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left > .nav-tabs > li.active a,
  .tabs-vertical.tabs-right > .nav-tabs > li.active a {
    margin: 0;
    border: none;
  }
  .tabs-vertical.tabs-left > .nav-tabs {
    float: left;
  }
  .tabs-vertical.tabs-left .tab-content {
    border-top-right-radius: 4px;
  }
  .tabs-vertical.tabs-right > .nav-tabs {
    float: right;
  }
  .tabs-vertical.tabs-right .tab-content {
    border-top-left-radius: 4px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tabs-vertical.tabs-left-md > .nav-tabs,
  .tabs-vertical.tabs-right-md > .nav-tabs {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left-md > .nav-tabs > li,
  .tabs-vertical.tabs-right-md > .nav-tabs > li {
    display: block;
    float: none;
  }
  .tabs-vertical.tabs-left-md > .nav-tabs > li.active,
  .tabs-vertical.tabs-right-md > .nav-tabs > li.active {
    margin-bottom: 0;
    border-top: 1px solid #e2e9e6;
    border-bottom: 1px solid #e2e9e6;
  }
  .tabs-vertical.tabs-left-md > .nav-tabs > li.active:first-of-type,
  .tabs-vertical.tabs-right-md > .nav-tabs > li.active:first-of-type {
    border-top: none;
  }
  .tabs-vertical.tabs-left-md > .nav-tabs > li.active:last-of-type,
  .tabs-vertical.tabs-right-md > .nav-tabs > li.active:last-of-type {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left-md > .nav-tabs > li.active a,
  .tabs-vertical.tabs-right-md > .nav-tabs > li.active a {
    margin: 0;
    border: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tabs-vertical.tabs-left-md > .nav-tabs {
    float: left;
  }
  .tabs-vertical.tabs-left-md .tab-content {
    border-top-right-radius: 4px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tabs-vertical.tabs-right-md > .nav-tabs {
    float: right;
  }
  .tabs-vertical.tabs-right-md .tab-content {
    border-top-left-radius: 4px;
  }
}
@media (min-width: 1200px) {
  .tabs-vertical.tabs-left-lg > .nav-tabs,
  .tabs-vertical.tabs-right-lg > .nav-tabs {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left-lg > .nav-tabs > li,
  .tabs-vertical.tabs-right-lg > .nav-tabs > li {
    display: block;
    float: none;
  }
  .tabs-vertical.tabs-left-lg > .nav-tabs > li.active,
  .tabs-vertical.tabs-right-lg > .nav-tabs > li.active {
    margin-bottom: 0;
    border-top: 1px solid #e2e9e6;
    border-bottom: 1px solid #e2e9e6;
  }
  .tabs-vertical.tabs-left-lg > .nav-tabs > li.active:first-of-type,
  .tabs-vertical.tabs-right-lg > .nav-tabs > li.active:first-of-type {
    border-top: none;
  }
  .tabs-vertical.tabs-left-lg > .nav-tabs > li.active:last-of-type,
  .tabs-vertical.tabs-right-lg > .nav-tabs > li.active:last-of-type {
    border-bottom: none;
  }
  .tabs-vertical.tabs-left-lg > .nav-tabs > li.active a,
  .tabs-vertical.tabs-right-lg > .nav-tabs > li.active a {
    margin: 0;
    border: none;
  }
}
@media (min-width: 1200px) {
  .tabs-vertical.tabs-left-lg > .nav-tabs {
    float: left;
  }
  .tabs-vertical.tabs-left-lg .tab-content {
    border-top-right-radius: 4px;
  }
}
@media (min-width: 1200px) {
  .tabs-vertical.tabs-right-lg > .nav-tabs {
    float: right;
  }
  .tabs-vertical.tabs-right-lg .tab-content {
    border-top-left-radius: 4px;
  }
}
.tabs-icons > .nav-tabs > li {
  margin-left: 0;
}
.tabs-icons > .nav-tabs > li a i {
  font-size: 18px;
}
.tabs-blocks .nav-tabs > li > a {
  height: 60px;
  line-height: 18px;
  text-align: center;
  padding: 10px 15px;
}
.tabs-blocks .nav-tabs a i {
  display: block;
  font-size: 18px;
  padding: 0;
}
.tabs-center-h > .nav-tabs {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.tabs-center-h > .nav-tabs > li {
  float: none;
  display: inline-block;
}
*:focus,
.bootstrap-select .btn:focus,
input[type=file]:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus + label::before,
input[type=radio]:focus + label::before {
  outline: 0 !important;
  outline-offset: 0 !important;
}
.form-control:focus {
  box-shadow: none;
}
.has-success .form-control {
  background: #cee4bc;
}
.has-warning .form-control {
  background: #fae3c4;
}
.has-error .form-control {
  background: #f1c9c7;
}
.input-group-addon {
  color: #cccccc;
}
.form-horizontal .control-label {
  text-align: right;
}
.form-horizontal .bootstrap-select {
  width: 100% !important;
}
.form-control-default {
  padding: 6px 12px;
  background-color: #f7f7f7;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
}
.form-control-default label {
  display: block;
  margin: 6px 0 0;
  line-height: 1.42857143;
}
.form-control-default .form-control {
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: none;
          transition: none;
  border: none;
  padding: 6px 0;
}
.form-control-default.required:after {
  color: #bd362f;
  content: "*";
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 6px;
}
.datepicker {
  box-shadow: none !important;
  border-radius: 0 !important;
}
.datepicker table tr td.active.active {
  font-weight: bold;
  background: #26a69a !important;
}
.datepicker table tr td span.active.active {
  background: #26a69a !important;
}
.minicolors-swatch {
  border: none !important;
}
.daterangepicker_start_input,
.daterangepicker_end_input {
  float: none;
  padding: 0 !important;
}
.daterangepicker .ranges .range_inputs > div {
  float: none;
}
.daterangepicker .ranges .input-mini {
  border: 1px solid #efefef;
  color: #333333;
  font-size: 14px;
  background: #f7f7f7;
  height: auto;
  line-height: 30px;
  padding: 0 12px;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.daterangepicker .ranges li {
  font-size: 14px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #212121;
  padding: 0 12px;
  line-height: 30px;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #26a69a;
  border: 1px solid #26a69a;
  color: #fff ;
}
.daterangepicker .btn {
  font-size: 14px;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background: #f5f5f5;
}
.daterangepicker td.in-range {
  background: #f5f5f5;
}
.daterangepicker td.in-range:hover {
  background: #e8e8e8;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #26a69a;
  border-color: #26a69a;
  color: #fff;
}
.daterangepicker.dropdown-menu {
  padding: 0;
}
.daterangepicker [class*="fa-"]::before {
  font-family: FontAwesome;
}
.daterangepicker:before,
.daterangepicker:after {
  display: none !important;
}
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -webkit-transition: all border 0.15s ease-in-out, color 0.15s ease-in-out ease-out;
          transition: all border 0.15s ease-in-out, color 0.15s ease-in-out ease-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #26a69a;
  border-color: #26a69a;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #bd362f;
  border-color: #bd362f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #4193d0;
  border-color: #4193d0;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #8bbf61;
  border-color: #8bbf61;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #efefef;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  -webkit-transition: all border 0.15s ease-in-out ease-out;
          transition: all border 0.15s ease-in-out ease-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #26a69a;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #26a69a;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #26a69a;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #bd362f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #bd362f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #bd362f;
}
.radio-info input[type="radio"] + label::after {
  background-color: #4193d0;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #4193d0;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #4193d0;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
  background-color: #8bbf61;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #8bbf61;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #8bbf61;
}
.checkbox label:after {
  text-align: center;
  padding: 0;
}
.checkbox.checkbox-single label {
  width: 0;
  height: 16px;
  visibility: hidden;
}
.checkbox.checkbox-single label:before,
.checkbox.checkbox-single label:after {
  visibility: visible;
}
/*! Select2 Bootstrap 3 CSS v1.4.6 | MIT License | github.com/t0m/select2-bootstrap-css */
/**
 * Reset Bootstrap 3 .form-control styles which - if applied to the
 * original <select>-element the Select2-plugin may be run against -
 * are copied to the .select2-container.
 *
 * 1. Overwrite .select2-container's original display:inline-block
 *    with Bootstrap 3's default for .form-control, display:block;
 *    courtesy of @juristr (@see https://github.com/fk/select2-bootstrap-css/pull/1)
 */
.select2-container.form-control {
  background: transparent;
  border: none;
  box-shadow: none;
  display: block;
  /* 1 */
  margin: 0;
  padding: 0;
}
/**
 * Adjust Select2 inputs to fit Bootstrap 3 default .form-control appearance.
 */
.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
  background: none;
  padding: 0;
  border-color: #efefef;
  border-radius: 4px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-search input {
  border-color: #efefef;
  border-radius: 4px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select2-container .select2-choices .select2-search-field input {
  box-shadow: none;
}
/**
 * Adjust Select2 input heights to match the Bootstrap default.
 */
.select2-container .select2-choice {
  height: 34px;
  line-height: 1.42857143;
}
/**
 * Address Multi Select2's height which - depending on how many elements have been selected -
 * may grown higher than their initial size.
 */
.select2-container.select2-container-multi.form-control {
  height: auto;
}
/**
 * Address Bootstrap 3 control sizing classes
 * @see http://getbootstrap.com/css/#forms-control-sizes
 */
.select2-container.input-sm .select2-choice,
.input-group-sm .select2-container .select2-choice {
  height: 30px;
  line-height: 1.5;
  border-radius: 3px;
}
.select2-container.input-lg .select2-choice,
.input-group-lg .select2-container .select2-choice {
  height: 46px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  height: 32px;
}
.select2-container-multi.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-container-multi .select2-choices .select2-search-field input {
  height: 28px;
}
.select2-container-multi.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-container-multi .select2-choices .select2-search-field input {
  height: 44px;
}
/**
 * Adjust height and line-height for .select2-search-field amd multi-select Select2 widgets.
 *
 * 1. Class repetition to address missing .select2-chosen in Select2 < 3.3.2.
 */
.select2-container-multi .select2-choices .select2-search-field input {
  margin: 0;
}
.select2-chosen,
.select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
  padding: 6px 12px;
}
.input-sm .select2-chosen,
.input-group-sm .select2-chosen,
.input-sm .select2-choice > span:first-child,
.input-group-sm .select2-choice > span:first-child,
.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-choices .select2-search-field input {
  padding: 5px 10px;
}
.input-lg .select2-chosen,
.input-group-lg .select2-chosen,
.input-lg .select2-choice > span:first-child,
.input-group-lg .select2-choice > span:first-child,
.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-choices .select2-search-field input {
  padding: 10px 16px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
  margin-bottom: 3px;
}
.select2-container-multi.input-sm .select2-choices .select2-search-choice,
.input-group-sm .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 3px;
  margin-bottom: 2px;
}
.select2-container-multi.input-lg .select2-choices .select2-search-choice,
.input-group-lg .select2-container-multi .select2-choices .select2-search-choice {
  line-height: 24px;
}
/**
 * Adjust the single Select2's dropdown arrow button appearance.
 *
 * 1. For Select2 v.3.3.2.
 */
.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice div {
  border-left: none;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.select2-dropdown-open .select2-choice .select2-arrow,
.select2-dropdown-open .select2-choice div {
  border-left-color: transparent;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/**
 * Adjust the dropdown arrow button icon position for the single-select Select2 elements
 * to make it line up vertically now that we increased the height of .select2-container.
 *
 * 1. Class repetition to address missing .select2-chosen in Select2 v.3.3.2.
 */
.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice div b {
  background-position: 0 3px;
}
.select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 3px;
}
.select2-container.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-container .select2-choice .select2-arrow b,
.select2-container.input-sm .select2-choice div b,
.input-group-sm .select2-container .select2-choice div b {
  background-position: 0 1px;
}
.select2-dropdown-open.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-sm .select2-choice div b,
.input-group-sm .select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}
.select2-container.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-container .select2-choice .select2-arrow b,
.select2-container.input-lg .select2-choice div b,
.input-group-lg .select2-container .select2-choice div b {
  background-position: 0 9px;
}
.select2-dropdown-open.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-lg .select2-choice div b,
.input-group-lg .select2-dropdown-open .select2-choice div b {
  background-position: -18px 9px;
}
/**
 * Address Bootstrap's validation states and change Select2's border colors and focus states.
 * Apply .has-warning, .has-danger or .has-succes to #select2-drop to match Bootstraps' colors.
 */
.has-warning .select2-choice,
.has-warning .select2-choices {
  border-color: #f0ad4e;
}
.has-warning .select2-container-active .select2-choice,
.has-warning .select2-container-multi.select2-container-active .select2-choices {
  border-color: #ec971f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8d9ac;
}
.has-warning.select2-drop-active {
  border-color: #ec971f;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #ec971f;
}
.has-error .select2-choice,
.has-error .select2-choices {
  border-color: #bd362f;
}
.has-error .select2-container-active .select2-choice,
.has-error .select2-container-multi.select2-container-active .select2-choices {
  border-color: #942a25;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dd7a75;
}
.has-error.select2-drop-active {
  border-color: #942a25;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #942a25;
}
.has-success .select2-choice,
.has-success .select2-choices {
  border-color: #8bbf61;
}
.has-success .select2-container-active .select2-choice,
.has-success .select2-container-multi.select2-container-active .select2-choices {
  border-color: #71a944;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0dcaa;
}
.has-success.select2-drop-active {
  border-color: #71a944;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #71a944;
}
/**
 * Make Select2's active-styles - applied to .select2-container when the widget receives focus -
 * fit Bootstrap 3's .form-element:focus appearance.
 */
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
  border-color: #dfdfdf;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(223, 223, 223, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
          transition: all border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s ease-out;
}
.select2-drop-active {
  border-color: #dfdfdf;
}
.select2-drop-auto-width,
.select2-drop.select2-drop-above.select2-drop-active {
  border-top-color: #dfdfdf;
}
/**
 * Select2 widgets in Bootstrap Input Groups
 *
 * When Select2 widgets are combined with other elements using Bootstrap 3's
 * "Input Group" component, we don't want specific edges of the Select2 container
 * to have a border-radius.
 *
 * In Bootstrap 2, input groups required a markup where these style adjustments
 * could be bound to a CSS-class identifying if the additional elements are appended,
 * prepended or both.
 *
 * Bootstrap 3 doesn't rely on these classes anymore, so we have to use our own.
 * Use .select2-bootstrap-prepend and .select2-bootstrap-append on a Bootstrap 3 .input-group
 * to let the contained Select2 widget know which edges should not be rounded as they are
 * directly followed by another element.
 *
 * @see http://getbootstrap.com/components/#input-groups
 */
.input-group.select2-bootstrap-prepend [class^="select2-choice"] {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.input-group.select2-bootstrap-append [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.select2-dropdown-open [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  background: #efefef;
  -webkit-filter: none;
          filter: none;
}
.input-group.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.input-group.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.input-group.input-group-sm.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 6px !important;
}
.input-group.input-group-sm.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 6px !important;
}
/**
 * Adjust Select2's choices hover and selected styles to match Bootstrap 3's default dropdown styles.
 */
.select2-results .select2-highlighted {
  color: #ffffff;
  background-color: #26a69a;
}
/**
 * Adjust alignment of Bootstrap 3 buttons in Bootstrap 3 Input Groups to address
 * Multi Select2's height which - depending on how many elements have been selected -
 * may grown higher than their initial size.
 */
.select2-bootstrap-append .select2-container-multiple,
.select2-bootstrap-prepend .select2-container-multiple,
.select2-bootstrap-append .input-group-btn,
.select2-bootstrap-prepend .input-group-btn,
.select2-bootstrap-append .input-group-btn .btn,
.select2-bootstrap-prepend .input-group-btn .btn {
  vertical-align: top;
}
/**
 * Make Multi Select2's choices match Bootstrap 3's default button styles.
 */
.select2-container-multi .select2-choices .select2-search-choice {
  color: #333333;
  background: #efefef;
  border-color: #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #dadada;
  border-color: #c8c8c8;
  color: #444444;
  box-shadow: none;
}
/**
 * Address Multi Select2's choice close-button vertical alignment.
 */
.select2-search-choice-close {
  margin-top: -7px;
  top: 50%;
}
/**
 * Adjust the single Select2's clear button position (used to reset the select box
 * back to the placeholder value and visible once a selection is made
 * activated by Select2's "allowClear" option).
 */
.select2-container .select2-choice abbr {
  top: 50%;
}
/**
 * Adjust "no results" and "selection limit" messages to make use
 * of Bootstrap 3's default "Alert" style.
 *
 * @see http://getbootstrap.com/components/#alerts-default
 */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background-color: #eea236;
  color: #f0ad4e;
}
/**
 * Address disabled Select2 styles.
 *
 * 1. For Select2 v.3.3.2.
 * 2. Revert border-left:0 inherited from Select2's CSS to prevent the arrow
 *    from jumping when switching from disabled to enabled state and vice versa.
 */
.select2-container.select2-container-disabled .select2-choice,
.select2-container.select2-container-disabled .select2-choices {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #efefef;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow,
.select2-container.select2-container-disabled .select2-choices .select2-arrow,
.select2-container.select2-container-disabled .select2-choice div,
.select2-container.select2-container-disabled .select2-choices div {
  background-color: transparent;
  border-left: 1px solid transparent;
  /* 2 */
}
/**
 * Address Select2's loading indicator position - which should not stick
 * to the right edge of Select2's search input.
 *
 * 1. in .select2-search input
 * 2. in Multi Select2's .select2-search-field input
 * 3. in the status-message of infinite-scroll with remote data (@see http://ivaynberg.github.io/select2/#infinite)
 *
 * These styles alter Select2's default background-position of 100%
 * and supply the new background-position syntax to browsers which support it:
 *
 * 1. Android, Safari < 6/Mobile, IE<9: change to a relative background-position of 99%
 * 2. Chrome 25+, Firefox 13+, IE 9+, Opera 10.5+: use the new CSS3-background-position syntax
 *
 * @see http://www.w3.org/TR/css3-background/#background-position
 *
 * @todo Since both Select2 and Bootstrap 3 only support IE8 and above,
 * we could use the :after-pseudo-element to display the loading indicator.
 * Alternatively, we could supply an altered loading indicator image which already
 * contains an offset to the right.
 */
.select2-search input.select2-active,
.select2-container-multi .select2-choices .select2-search-field input.select2-active,
.select2-more-results.select2-active {
  background-position: 99%;
  /* 4 */
  background-position: right 4px center;
  /* 5 */
}
/**
 * To support Select2 pre v3.4.2 in combination with Bootstrap v3.2.0,
 * ensure that .select2-offscreen width, height and position can not be overwritten.
 *
 * This adresses changes in Bootstrap somewhere after the initial v3.0.0 which –
 * in combination with Select2's pre-v3.4.2 CSS missing the "!important" after
 * the following rules – allow Bootstrap to overwrite the latter, which results in
 * the original <select> element Select2 is replacing not be properly being hidden
 * when used in a "Bootstrap Input Group with Addon".
 **/
.select2-offscreen,
.select2-offscreen:focus {
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
}
.select2-search-choice-close {
  background: none;
  font-size: 12px;
}
.select2-search-choice-close,
.select2-search-choice-close:hover,
.select2-search-choice-close:focus {
  color: #444444;
}
.select2-search-choice-close:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  display: block;
}
.select2-search {
  padding: 12px 6px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  color: #444444;
  background: #efefef;
  border-color: #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: none;
}
.select2-container .flag,
.select2-results .flag {
  width: 28px;
  margin-right: 12px;
  margin-top: -1px;
}
.form-inline .label-block {
  display: block;
  margin-bottom: 5px;
}
.bootstrap-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .btn {
  width: 100%;
  padding-right: 25px;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select .btn:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}
.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}
.input-append .bootstrap-select.btn-group {
  margin-left: -1px;
}
.input-prepend .bootstrap-select.btn-group {
  margin-right: -1px;
}
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: #64b1d8;
  color: rgba(100, 177, 216, 0.4);
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 1036;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #cccccc;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bs-searchbox,
.bs-actionsbox {
  padding: 4px 8px;
}
.bs-actionsbox {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}
.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox input.form-control {
  margin-bottom: 0;
  width: 100%;
}
.mobile-device {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #e7e7e7;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
          transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #26a69a;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #4193d0;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #8bbf61;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #bd362f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #444444;
  background: #efefef;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
}
.bootstrap-switch input[type='radio'].form-control,
.bootstrap-switch input[type='checkbox'].form-control {
  height: auto;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  -webkit-transition: all margin-left 0.5s ease-out;
          transition: all margin-left 0.5s ease-out;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #dfdfdf;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 223, 223, 0.6);
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}