body
{
	background: #6583A9;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px 10px 10px 10px;
	padding: 0px;
}
A:link {
	COLOR: #365630;
}
A:visited {
	COLOR: #365630;
}
A:hover {
	COLOR: #933A3D;
}
A:active {
	COLOR: #67ae06
}
TD {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
TH {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
P {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.tableborder {
    background: #C1D1E4;
	color: #000000;
}
.mainbody {
	BACKGROUND-COLOR:#FFFFFF;
}
.header {
	FONT: 11px verdana, geneva, arial;BORDER-RIGHT: #d3d8db 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d8db 1px solid; PADDING-LEFT: 3px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d3d8db 1px solid; BACKGROUND-COLOR: #faf8f8
}
.headrow {
	BACKGROUND: #FFB900; FONT: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff;HEIGHT: 32px;
}
.headrow A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.headrow A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.headrow A:hover {
	COLOR: #d0f4ff; TEXT-DECORATION: underline
}

.titlerow
{
	background: #2E5A7A;
	color: #E2ECF3;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

.warn {
	COLOR: #ffffff; BACKGROUND-COLOR: #528c00
}
.warn A:link {
	COLOR: #ffffff
}
.warn A:visited {
	COLOR: #ffffff
}
.warn A:hover {
	COLOR: #ddffae
}
.warn A:active {
	COLOR: #ddffae
}
.textinput {
    background: #E5EFF6;
	color: #607FA6;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.bginput
{
	background: #E5EFF6;
	color: #607FA6;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	background: #2E5A7A;
	color: #E5EFF6;
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 0px
}
textarea
{
	background: #E5EFF6;
	color: #607FA6;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	background: #E5EFF6;
	color: #607FA6;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tdrow1 {
	color: #607FA6; background: #E5EFF6;
}
.tdrow2 {
	color: #000000; background: #E2ECF3;
}
.pagenav {
    text-decoration: none;
}
.actionlink {
    text-decoration: none;
}

.info {
	FONT: 11px verdana, geneva, arial;BORDER-RIGHT: #d3d8db 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d8db 1px solid; PADDING-LEFT: 3px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d3d8db 1px solid; BACKGROUND-COLOR: #faf8f8
}
.small{
	FONT: 10px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.normal{
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.large{
	FONT: 13px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}

.footer {
	FONT: 10px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #202c33
}
.footer A:link {
	FONT-WEIGHT: bold; COLOR: #202c33; TEXT-DECORATION: underline
}
.footer A:visited {
	FONT-WEIGHT: bold; COLOR: #202c33; TEXT-DECORATION: underline
}
.footer A:hover {
	FONT-WEIGHT: bold; COLOR: #40505a; TEXT-DECORATION: underline
}
/** progress bar */
.progOutter {
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
.progInner {height: 17px;
	background-color: red;
	color: black;
}
/** edit in place  */
.editable, edit_text{
	background-color: #FFB900;
	font-family:verdana;
	font-size:12px;
    width:500px;
}

edit_text{
	width: 95%;
	font-size: 100%;
}

img.progress{
	vertical-align: middle;
	padding: 0 10px;
}

.showText {
	font-family:verdana;
	font-size:12px;
	width:200px;
}

#sponsorAdDiv {position:absolute; height:1px; width:1px; top:0; left:0;}

#hintbox
{
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}
.hintanchor{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: navy;
margin: 1px 1px;
}

#content{
background-color:#fafcff;
width:730px;
border:1px solid #909090;
color:#2a2a2a;
padding:5px;
text-align:justify;
}


#content h1{
background-color:inherit;
color:#606060;
font-size:16px;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 15px;
padding:0;
}

#content2{
background-color:#fafcff;
width:720px;
border:1px solid #909090;
color:#2a2a2a;
padding:5px;
text-align:justify;
}


#content2 h1{
background-color:inherit;
color:#606060;
font-size:16px;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 15px;
padding:0;
}
