/*** Ads ***/
.cbc-big-box-ad{
	margin: 20px auto;
	padding: 14px 0 0;
	min-width: 300px;
	background: url(/includes/ads/gfx/ad_label_h.gif) no-repeat center top;
}
.cbc-leaderboard-ad-wrap, .cbc-rising-star-ad-wrap {
    text-align: center;
}
.cbc-leaderboard-ad, .cbc-rising-star-ad {
	margin: 0 auto;
	padding-right: 10px;
	max-width: 728px;
	background:url(/i/o/globalnav/v10/gfx/rs-ad.gif) no-repeat right center;
}
.cbc-rising-star-ad{
	max-width:970px;
}
#gnadww .cbc-leaderboard-ad{
	float:right;
}
