/*simple resets*/
* {
	margin:0;
	padding:0;
}

body {
	background-color: #f1f1f1;
	font:12px arial,sans-serif;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/*960 grid*/
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12,
.wrap1, .wrap2, .wrap3, .wrap4, .wrap5, .wrap6, .wrap7, .wrap8, .wrap9, .wrap10, .wrap11, .wrap12,
.sep1, .sep2, .sep3, .sep4, .sep5, .sep6, .sep7, .sep8, .sep9, .sep10, .sep11, .sep12 {
	float:left;
	display:inline;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	margin:0 10px;
}

.col1 { width:60px; }
.col2 { width:140px; }
.col3 { width:220px; }
.col4 { width:300px; }
.col5 { width:380px; }
.col6 { width:460px; }
.col7 { width:540px; }
.col8 { width:620px; }
.col9 { width:700px; }
.col10 { width:780px; }
.col11 { width:860px; }
.col12 { width:940px; }

.wrap1 { width:80px; }
.wrap2 { width:160px; }
.wrap3 { width:240px; }
.wrap4 { width:320px; }
.wrap5 { width:400px; }
.wrap6 { width:480px; }
.wrap7 { width:560px; }
.wrap8 { width:640px; }
.wrap9 { width:720px; }
.wrap10 { width:800px; }
.wrap11 { width:880px; }
.wrap12 { width:960px; }

.sep1, .sep2, .sep3, .sep4, .sep5, .sep6, .sep7, .sep8, .sep9, .sep10, .sep11, .sep12 {
	background-image:url(/i/gfx/colsep.gif);
	background-repeat:repeat-y;
	margin-bottom:20px;
}
.sep1.join, .sep2.join, .sep3.join, .sep4.join, .sep5.join, .sep6.join, .sep7.join, .sep8.join, .sep9.join, .sep10.join, .sep11.join, .sep12.join {
	margin-bottom:0;
}
.sep1 { background-position:80px top; }
.sep2 { background-position:160px top; }
.sep3 { background-position:240px top; }
.sep4 { background-position:320px top; }
.sep5 { background-position:400px top; }
.sep6 { background-position:480px top; }
.sep7 { background-position:560px top; }
.sep8 { background-position:640px top; }
.sep9 { background-position:720px top; }
.sep10 { background-position:800px top; }
.sep11 { background-position:880px top; }


#gnwrap,
#footer.v10,
.cbcwrap {
	width:986px;
	margin:0 auto;
	padding:0;
}

.cbcwrap {
	background-color:#fff;
	padding:15px 0 35px;
	-o-box-shadow:0 2px 6px 0 #888;
	-ms-box-shadow:0 2px 6px 0 #888;
	-khtml-box-shadow:0 2px 6px 0 #888;
	-moz-box-shadow:0 2px 6px 0 #888;
	-webkit-box-shadow:0 2px 6px 0 #888;
	box-shadow:0 2px 6px 0 #888;
}
.cbcwrap a {
	color:#115278;
	text-decoration:none;
}
.cbcwrap a:hover {
	text-decoration:underline;
}

.body {
	padding:0 13px;
}

/*util*/
.ad-300x250 {
	margin:0 0 30px;
	padding:14px 0 0;
}

.module {
	padding-bottom: 20px;
}

.screenreader,
.offLeft {
	width:1px;
	height:1px;
	position:absolute;
	left:-10000px;
	top:auto;
	overflow:hidden;
}

/*clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* IE7 Fix */
.clearfix { zoom: 1; }
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;
}
/* End hide from IE-mac */