/**
 * @file footer-fixed.scss
 *
 * Fixed-width styles for the Global Footer navigation element.
 */
/* Variables */
/* Mixins */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/i/o/globalnav/v14/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  font-weight: 700;
  src: url("/i/o/globalnav/v14/fonts/OpenSans-Bold.ttf") format("truetype");
}
footer#cbc-globalfooter {
  background-color: #ececec;
  border-top: 1px solid #bdbdbd;
  color: #5b5b5b;
  font-family: "Open Sans", Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.7);
  clear: both;
}
footer#cbc-globalfooter h2 {
  color: #515151;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  margin-right: 15px;
  padding: 0 0 0 20px;
}
footer#cbc-globalfooter ul {
  list-style-type: none;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  border-bottom: 1px solid #bdbdbd;
  font-size: 15px;
  font-weight: normal;
  padding: 0 0 10px 20px;
  margin: 0 0 15px 0;
  line-height: 30px;
}
footer#cbc-globalfooter ul li {
  list-style: none;
}
footer#cbc-globalfooter a {
  font-weight: normal;
}
footer#cbc-globalfooter div.cbc-globalfooter-bottom {
  background-color: #000000;
  margin: -15px 0 0 0;
  color: #FFFFFF;
  padding: 20px 20px;
  /*@include column-count(3);*/
}
footer#cbc-globalfooter div.cbc-globalfooter-bottom p {
  padding: 0;
  margin: 0;
}
footer#cbc-globalfooter div.cbc-globalfooter-bottom div.clear {
  clear: both;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo, footer#cbc-globalfooter div.cbc-globalfooter-copyright {
  float: left;
}
footer#cbc-globalfooter div.cbc-globalfooter-bottom-link {
  float: right;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo {
  margin-right: 50px;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo p, footer#cbc-globalfooter div.cbc-globalfooter-logo a {
  display: inline-block;
  font-size: 22px;
}
footer#cbc-globalfooter a {
  color: #5b5b5b;
  text-decoration: none;
}
footer#cbc-globalfooter img.cbc-globalfooter-logo {
  position: relative;
  top: 10px;
  margin: 0 7px;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: baseline;
  border: none;
}
footer#cbc-globalfooter div.cbc-globalfooter-copyright p {
  font-size: 12px;
  color: #ececec;
}
footer#cbc-globalfooter div.cbc-globalfooter-bottom-link {
  font-size: 12px;
  margin-top: 17px;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo a,
footer#cbc-globalfooter div.cbc-globalfooter-bottom-link a {
  color: #ececec;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo p.cbc a, footer#cbc-globalfooter div.cbc-globalfooter-logo p.rc a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
footer#cbc-globalfooter div.cbc-globalfooter-logo {
  margin-top: -10px;
}
footer#cbc-globalfooter div.cbc-globalfooter-copyright {
  margin-top: 17px;
}

/* footer#cbc-globalfooter */
footer#cbc-globalfooter {
  width: 986px;
}
