body{
margin: 0;
padding: 0;
}

.module h2.marketsquare{
margin-bottom: .4rem;
margin-bottom: .4em;
}

.marketsquare-widget{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
overflow: hidden;
list-style: none;
padding: 0px;
width: 940px;
/* height: 270px; */
}

.marketsquare-widget > li{
display: inline-block;
vertical-align: top;
/* Disabled June 15 2015 */
/* width: 49%; */
}

.marketsquare-widget > li.north{
width: 100%;
}

/* Disabled June 15 2015 */
/*
.marketsquare-widget li.left-column{
margin-right: 1%;
}

.marketsquare-widget li.left-column.north{
margin-bottom: 0;
margin-right: 0;
}

.marketsquare-widget li.right-column{
margin-left: 1%;
}
*/
/* end Disabled June 15 2015 */

/* Enabled June 15 2015 */
.marketsquare-widget li.left-column{
display: none;
}

.marketsquare-widget li.right-column{
width: 100%;
}
/* end Enabled June 15 2015 */

.marketsquare-widget .sub-section > div > header,
.widget-rev-deals > div > header{
/* Old browsers */
background: rgb(219,219,219);
/* Standard */
background: linear-gradient(top,rgb(255,255,255),rgb(219,219,219));
/* Firefox 3.6+ */
background: -moz-linear-gradient(top,rgb(255,255,255),rgb(219,219,219));
/* IE6-9 */
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='dbdbdb',GradientType=0 );
/* IE 10 */
background: -ms-linear-gradient(top,rgb(255,255,255),rgb(219,219,219));
/* Opera 11.10+ */
background: -o-linear-gradient(top,rgb(255,255,255),rgb(219,219,219));
/* Safari 4-5,Chrome 1-9 */
background: -webkit-gradient(linear,0% 0%,0% 100%,from(rgb(255,255,255)),to(rgb(219,219,219)));
/* Safari 5.1,Chrome 10+ */
background: -webkit-linear-gradient(top,rgb(255,255,255),rgb(219,219,219));
border: 1px solid rgb(215,215,215);
border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
-webkit-border-radius: 4px;
font-size: 1.6em;
margin-bottom: 1%;
padding: 1%;
text-align: center;
}

.widget-rev-deals > div > header{
font-size: 1.4em;
}

.marketsquare-widget .sub-section.north > div > header{
margin-bottom: .4%;
padding: .2%;
}