.at-widget{
display: block;
font-size: 2em;
text-align: center;
padding-top: 90px;
}

#at_content{
background-color: rgb(240,240,240);
border: 1px solid rgb(216,216,216);
border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
-webkit-border-radius: 4px;
/* height: 230px; */
margin-bottom: 1px;

/* Enabled June 15 2015 */
text-align: center;
}

#at-text-link a{
color: rgb(201,9,46);
font-weight: 600;
}

#at_content header{
font-size: 1.5em;
/* Disabled June 15 2015 */
/* margin: 10px 0 0 32px; */

/* Enabled June 15 2015 */
margin-top:10px;
}

#at-browse-link a{
color: rgb(20,112,158);
font-weight: 600;

/* Enabled June 15 2015 */
display:inline-block;
text-align: left;
width: 400px;
}