#gnadww{
    width: 986px;
    padding-left: 0;
}

/* Uncomment below for Apple ad */
/*
.cbcwrap {
	padding: 0px 0px 35px;
	border: none !important;
}

.cbc-risingstar-ad-wrap .cbc-rising-star-ad,
.cbc-rising-star-ad-wrap .cbc-rising-star-ad,
.cbc-billboard-ad-wrap .cbc-billboard-ad{
width: auto;
height: auto;
margin: 0 auto;
padding-right: 0;
border: none !important;
}

#gnwrap {
    -o-box-shadow: 0 2px 6px 0 #888;
    -ms-box-shadow: 0 2px 6px 0 #888;
    -khtml-box-shadow: 0 2px 6px 0 #888;
    -moz-box-shadow: 0 2px 6px 0 #888;
    -webkit-box-shadow: 0 2px 6px 0 #888;
    box-shadow: 0 2px 6px 0 #888;
}

#gnadww {
	padding-left: 0;
	padding: 0px 0 5px 9px !important;
    background: rgb(26,26,26);
	border: none !important;
}

.cbc-risingstar-ad-wrap,
.cbc-rising-star-ad-wrap,
.cbc-billboard-ad-wrap{
background: rgb(26,26,26);
background: rgb(255,255,255);
text-align: center;
border: none !important;
	margin: 0 auto;
}

.cbc-risingstar-ad-wrap.cbc-rising-star-ad {
	margin: 0;
	padding-right: 0;
}

.cbc-risingstar-ad-wrap, iframe,
.cbc-rising-star-ad-wrap iframe,
.cbc-billboard-ad-wrap iframe{
	margin: 0 auto;
	border: none !important;
}

#tvradioschedule {
	margin: 0;
}

.ad-300x250 {
	padding: 0;
	background: none;
	height: auto;
	margin-bottom: 10px;
}
*/
/* end Apple ad */

/* Don't uncomment even for Apple Ad */
/*
.cbc-risingstar-ad-wrap,
.cbc-rising-star-ad-wrap,
.cbc-billboard-ad-wrap{
	width: 970px;
	padding-top: 5px;
	padding-bottom: 5px;
}
*/
/* end Don't uncomment even for Apple Ad */