/* basic style */
/* basic style */
/* basic style */
@font-face {
    font-family: 'seravek-webfont';
    src: url('../fonts/seravek-regular-webfont.eot');
    src: local('☺'), url('../fonts/seravek-regular-webfont.woff') format('woff'),
    url('../fonts/seravek-regular-webfont.ttf') format('truetype'),
    url('../fonts/seravek-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* nacholibre */
.not_reg_offset {
    margin-bottom:270px;
}

.reg_message_container {
    display:none;
    position:fixed;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:156px;
    left:0;
    right:0;
    margin:0 auto;
    z-index:10;
    bottom:0;
    -webkit-animation-duration: 500ms !important;
    animation-duration: 500ms !important;
    -webkit-animation-delay: 0;
    margin-bottom:10px;
}

.reg_message .sign_in_up {
    /*margin-top:20px;*/
}

.reg_message .close_button {
    position:absolute;
    top:5px;
    right:5px;
    font-size:20px;
    cursor:pointer;
    z-index:99;
}

.reg_message {
    padding-top:20px;
    box-shadow: 0 2px 50px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
    background-color:#fff;
    height:156px;
    border-radius:6px;
}

@media screen and (max-width: 768px) {
    .reg_message {
        height:120px;
        padding-top:10px;
    }

    .reg_message_container {
        height:120px;
    }
}

.headerContainer {
    display:table;
}

.headerContainer .navbar-brand {
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.headerContainer .d-index {
    display:table-cell;
    width:100%;
    float:none;
    padding:0;
    margin:0;
    padding-left:10px;
    vertical-align:middle;
}

.headerContainer .menuBar {
    display:table-cell;
    vertical-align:middle;
    width:auto;
    padding-left:10px;
}

.headerContainer .menuBar .icon {
    color:#006bbd;
    font-size:33px;
}
#interestsModal .title {
    font-size:28px;
    text-align:center;
    padding:15px;
    border-bottom: 1px solid #e5e5e5;
}

#interestsModal .title .main {
    color:#e45171;
}

#interestsModal .modal-body .row.interests {
    max-height: 400px;
    overflow-x: auto;
}

#interestsModal .modal-body.interests .interest .ovr {
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    border-radius:5px;
    color:white;
    display:none;
}

#interestsModal .modal-body.interests .interest.selected .ovr {
    display:block;
}

#interestsModal .modal-body.interests .interest .ovr i {
    position:absolute;
    top:50%;
    left:50%;
    width:40px;
    height:40px;
    text-align:center;
    margin-left:-20px;
    margin-top:-20px;
    font-size:40px;
}

#interestsModal .modal-body.interests .interest {
    position:relative;
    height:100%;
    cursor:pointer;
}

#interestsModal .modal-body.interests .intContainer {
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

#interestsModal .modal-body.interests .interest .name {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    left:0;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
    line-height:20px;
}

#interestsModal .modal-body.interests .interest img {
    border-radius:5px;
    width:100%;
    vertical-align:middle;
}

.loginPage .benefit .btitle, .reg_message .btitle {
    font-size:26px;
    color:#19bb19;
}

@media screen and (max-width: 768px) {
    .reg_message .btitle {
        font-size:16px;
    }

    .reg_message {
    }
}

.loginPage .line {
    height:100%;
    width:1px;
    position:absolute;
    right:0;
    top:0;
    background-color:#ccc;
}

.loginPage .regCol .whatBoxes {
    margin-bottom:30px;
}

.loginPage .benefit .btitle {
    font-size:22px;
}

.loginPage .benefit .bdesc {
    font-size:14px;
}
.register h1, .login h1 {
    font-size:3em;
}

.socialLoginContainer {
    text-align:center;
    width:100%;
}

.socialLogin.facebook {
    background-color:#4267b2;
}

.socialLogin.google {
    background-color:#dd4b34;
}

.socialLogin {
    border-radius:2px;
    display:inline-block;
    width:230px;
    color:white;
    font-size:17px;
    line-height:40px;
}

.socialLogin:hover, .socialLogin:focus {
    text-decoration:none;
    color:white;
}

.socialLogin i {
    display:table-cell;
    width:40px;
    color:white;
    padding-left:10px;
    font-size: 24px;
    vertical-align: middle;
}

.socialLogin span {
    display:table-cell;
    width:100%;
    text-align:center;
    vertical-align:middle;
    padding-top:2px;
}
/* nacholibre */


.carousel-control.index.left.sg, .carousel-control.index.right.sg {
    font-size: 48px;
}

.carousel-control.index.left.sg {
    left:8px;
}

.carousel-control.index.right.sg {
    right:8px;
}

button.followUnfollow:focus {
    outline:none;
}

.carousel-control, .carousel-control:hover {
    color: #404040;
}

.carousel-control.slick-disabled {
    opacity: 0.2;
}

.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before {
    content: '←';
}

.followUnfollow.loadingCase, .followUnfollow.following.loadingCase {
    color:#eaeaea;
    border:1px solid #eaeaea;
    background-color:#eaeaea;
    cursor:default;
}

.followUnfollow.loadingCase:hover, .followUnfollow.following.loadingCase:hover {
    color:#eaeaea;
    border:1px solid #eaeaea;
    background-color:#eaeaea;
    cursor:default;
}

.followUnfollow .loadingBtn {
    display:none;
}

.followUnfollow.loadingCase .loadingBtn {
    display:block;
}

button.followUnfollow {

    -moz-user-select: none;
    border: 0 solid transparent;
    background: #006bbd;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;

    transition:             all 0.30s linear 0s;
    -moz-transition:        all 0.30s linear 0s;
    -webkit-transition:     all 0.30s linear 0s;
    -o-transition:          all 0.30s linear 0s;
}

button.followUnfollow:hover {
    background: #284177;
}

button.followUnfollow.following {
    background: #00bd28;
    color:#ffffff;
}

button.followUnfollow.following:hover {
    background: #007419;
}

.followUnfollow img.loadingBtn {
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -9px;
}

.followUnfollow span.follow, .followUnfollow span.following {
    display:none;
}

.followUnfollow span.following {
    display:none;
}

.followUnfollow span.follow {
    display:block;
}

.followUnfollow.following span.following {
    display:block;
}

.followUnfollow.following span.follow {
    display:none;
}

#loadingBottom .loadingText {
    display: none;
    font-size: 18px;
    color: #e45171;
}

.mobileShare {
    display:none;
}

.modal-body .caption {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.postShare #shareButton {
    height: 43px;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.postShare #shareButton .link {
    margin: 5px 2px;
}

#shareButton {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin: 15px 0;
    text-align: left;
    width: 100%;
}

#shareButton .shareButton {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#shareButton .shareButton:hover {
    opacity: 0.8;
}

#shareButton .fb {
    background: url('/assets/old/img/png/share_icons.png') 0 0;
}

#shareButton .twitter {
    background: url('/assets/old/img/png/share_icons.png') -35px;
}

#shareButton .gplus {
    background: url('/assets/old/img/png/share_icons.png') -70px;
}

#shareButton .reddit {
    background: url('/assets/old/img/png/share_icons.png') -105px;
}

#shareButton .tumblr {
    background: url('/assets/old/img/png/share_icons.png') -175px;
}

#shareButton .pinterest {
    background: url('/assets/old/img/png/share_icons.png') -140px;
}

#shareButton .vk {
    background: url('/assets/old/img/png/share_icons.png') -210px;
}

#shareButton .whatsapp {
    background: url('/assets/old/img/png/share_icons.png') 67px;
}

#shareButton .viber {
    background: url('/assets/old/img/png/share_icons.png') 32px;
}

#shareButton input.link
{
    border: 1px solid #d3d3d3;
    height: 32px;
    vertical-align: middle;
    width: auto;
    margin: 0 0 0 15px;
    padding: 8px;
}

.columns.index .caption {
    display:none;
}

/* index photos */
.box-insta
{
    background: #006bbd;
    width: 100%;
    float: left;
}
.log-insta
{
    color: #eaeaea;
    float: right;
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;

    transition:             all 0.30s linear 0s;
    -moz-transition:        all 0.30s linear 0s;
    -webkit-transition:     all 0.30s linear 0s;
    -o-transition:          all 0.30s linear 0s;
}
.log-insta:hover
{
    color: #ffffff;
}
.userm
{
    padding: 5px;
    float: left;
    text-transform: none;
}

.user-namem:hover
{
    background-color: #006bbd;
    color: #ffffff;
    text-decoration: none;
}
.userm img
{
    display: block;
    height: auto;
    width: 100%;
    max-width: 24px;
    float: left;
    margin: 5px 0;

    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.columns.index .image-upload, .columns.index .dimOverlay, .columns.index .item {
    height: 237px;
    width: 237px;
}

.columns.index .image-upload {
    display: block;
    padding: 0;

    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.columns.index .item .video-icon
{
    top: 100px;
}

.columns.index .item
{
    background: none;
    border: 0;
    padding:1px;
    margin: 0 0 1px;
    box-shadow: none;

    -webkit-border-radius: 0 0 0 0;
    -khtml-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.columns.index .descriptions
{
    display: none;
}

ul#search li
{
    float: left;
    line-height: 20px;
    padding: 2px 4px 4px;
}

ul.tagit li.tagit-choice-editable
{
    margin: 6px 2px;
}

ul.tagit input[type="text"]
{
    font-size: 18px;
    margin: 4px 0 0;
    width: 500px;
}

.tagit-label
{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding: 0 14px 0 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0 solid transparent;
    background: #006bbd;
    color: #ffffff;

    -webkit-border-radius: 4px 4px 4px 4px; -khtml-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -o-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px;
}

#loadingOverlay
{
    border-top: 1px solid #cccccc;
    background: #eaeaea;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10000;
    display: none;
}

#loadingOverlay.index {
    top: 248px;
}

.underTop {
    margin: 20px 0 0;
}

.searchTitle {
    color: #404040;
    float: left;
    font-size: 36px;
    margin: 6px 0;
    padding: 0 8px 8px 10px;
    text-transform: uppercase;
}

.searchTitle.edit
{
    padding: 0 !important;
}

.photoRemovedMessage
{
    background: #284177 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 26px;
    line-height: 298px;
    position: absolute;
    width: 298px;
}

.box-left
{
    width: 100%;
    float: left;
}
.p-box
{
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 10px 10px 4px;
    margin: 0 0 12px;
}
.popular-box
{
    float: left;
    width: 100%;
    background: #ffffff;
    margin: 0 0 12px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
}
.popularImages
{
    float: left;
    font-size: 18px;
    margin: 0 0 10px 25px;
    text-align: left;
}
.popularImages a
{
    font-size: 18px;
}

.btn-trend
{
    color: #404040;
    float: left;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.btn-trend.mobile
{
    color: #ffffff;
    margin: 4px;
}

.trend-icon
{
    float: right;
    height: 24px;
    margin: 0 0 0 10px;
    width: 24px;

    transition:             all 0.30s linear 0s;
    -moz-transition:        all 0.30s linear 0s;
    -webkit-transition:     all 0.30s linear 0s;
    -o-transition:          all 0.30s linear 0s;
}

.mediaModal .modal-body
{
    background-color: #fff;
    height: 640px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    padding: 0;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}

#mediaModal .image img
{
    display: block;
    height: auto;
    width: 100%;
    max-width: 640px;
    float: left;
}

.mediaLinkInList
{
    color: #707070;
}

.item .fullCaption
{
    display: none;
}

.modal .content .image
{
    width: 640px;
    float: left;
}

.modal .content .desc
{
    background: #ffffff none repeat scroll 0 0;
    width: 560px;
    padding: 20px;
    height: 580px;
    overflow-x: auto;
}

.adsm
{
    display: block;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 1200px;
}

.adsm img
{
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.headerField {
    float: left;
    margin: 26px 0 0 15px;
}

.headerField a.btn {
    background-color: #E8E8E8;
    line-height: 24px;
}

.headerField a.btn.active {
    background-color: #1d4982;
    color: #fff;
    cursor:default;
}

.headerField a.btn:hover {
    background-color:#ABABAB;
}

.headerField a.btn.active:hover {
    color:#fff;
    background-color: #1d4982;
}

.desktop-image {
    font-size:34px;
    padding-right:6px;
}

.mobile-profile-img {
    font-size:34px;
    padding-right:6px;
}

.icon-category.fa {
    font-size:50px;
    line-height:112px;
}
.loader-page
{
    background: url("/assets/old/img/gif/loader_96x96.gif") no-repeat scroll 0 0 transparent;
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

/* BACKGROUNDS */

.bg-light           {background: rgba(254, 254, 254, 1.0) !important;}
.bg-gray            {background: rgba(230, 230, 230, 1.0) !important;}
.bg-gray-light      {background: rgba(242, 244, 244, 1.0) !important;}
.bg-gray-dark       {background: rgba(144, 144, 144, 1.0) !important;}
.bg-dark            {background: rgba(51, 51, 51, 1.0) !important;}
.bg-blue            {background: #006bbd !important;}
.bg-blue-l          {background: #2b66b2 !important;}
.bg-blue-g          {background: #3278d3 !important;}
.bg-blue-m          {background: #3f92fd !important;}
.bg-blue-d          {background: #75b0fd !important;}

#wrap:after         {content: ""; display: block;}

.gradient_bg            {background: #dddddd; /* Old browsers */ background: -moz-linear-gradient(top,  #dddddd 0%, #ffffff 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #dddddd 0%,#ffffff 100%); /* IE10+ */ background: linear-gradient(to bottom,  #dddddd 0%,#ffffff 100%); /* W3C */}
.gradient_bg_reverse    {background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */ background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */}


/* FONT COLORS */

.font                   {font-family: Arial, Helvetica, sans-serif;}

.font-light             {color: rgba(254, 254, 254, 1.0) !important;}
.font-gray              {color: rgba(230, 230, 230, 1.0) !important;}
.font-gray-dark         {color: rgba(144, 144, 144, 1.0) !important;}
.font-gray-new          {color: rgba(112, 112, 112, 1.0) !important;}
.font-dark              {color: rgba(51, 51, 51, 1.0) !important;}
.font-blue              {color: #1d4982 !important;}
.font-blue-l            {color: #2b66b2 !important;}
.font-blue-g            {color: #3278d3 !important;}
.font-blue-m            {color: #3f92fd !important;}
.font-blue-d            {color: #75b0fd !important;}
.font-white             {color: rgba(255, 255, 255, 1.0) !important;}
.font-black             {background: rgba(0, 0, 0, 1.0) !important;}

.f-s-16                 {font-size: 16px !important;}

/* FONT STYLE */

.text-l         {text-align: left !important;}
.text-r         {text-align: right !important;}
.text-c         {text-align: center !important;}
.text-j         {text-align: justify !important;}
.text-caps      {text-transform: uppercase !important;}
.text-b         {font-weight: bold !important;}
.text-n         {font-weight: normal !important;}
.text-u         {text-decoration: underline;}

.cursor-p       {cursor: pointer;}

/* POSITIONS STYLE */

.position-r     {position: relative;}
.clear-b        {clear: both;}
.float-l        {float: left;}
.float-r        {float: right;}
.float-n        {float: none !important;}
.center-img     {bottom: 10px; left: 22px; margin: auto; position: absolute; right: 0; top: 0;}
.center-box     {position: fixed; width: 100%; top: 0; left: 0; z-index: 1;}
.full-box       {float: left; width: 100%;}
.z-2            {position: relative; z-index: 2;}


/* NONE STYLE */

.htag-n             {font-size: inherit; margin: 0;}
.margin-n           {margin: 0 !important;}
.padding-n          {padding: 0 !important;}
.display-n          {display: none !important;}
.border-n           {border: 0 transparent !important;}
.text-shadow-n      {text-shadow: none !important;}
.box-shadow-n       {-moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;}
.border-radius-n    {-webkit-border-radius: 0 0 0 0 !important; -khtml-border-radius: 0 0 0 0 !important; -moz-border-radius: 0 0 0 0 !important; -o-border-radius: 0 0 0 0 !important; border-radius: 0 0 0 0 !important;}

.border-radius-6    {-webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;}
.border-radius-6-l  {-webkit-border-radius: 6px 0 0 6px; -khtml-border-radius: 6px 0 0 6px; -moz-border-radius: 6px 0 0 6px; -o-border-radius: 6px 0 0 6px; border-radius: 6px 0 0 6px;}
.border-radius-6-r  {-webkit-border-radius: 0 6px 6px 0; -khtml-border-radius: 0 6px 6px 0; -moz-border-radius: 0 6px 6px 0; -o-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0;}
.border-radius-6-t  {-webkit-border-radius: 6px 6px 0 0; -khtml-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;}
.border-radius-6-b  {-webkit-border-radius: 0 0 6px 6px; -khtml-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -o-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px;}
.border-radius-50   {-webkit-border-radius: 50% 50% 50% 50%; -khtml-border-radius: 50% 50% 50% 50%; -moz-border-radius: 50% 50% 50% 50%; -o-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%;}

/* PADDING and MARGIN */

.padding-l-6        {padding: 0 0 0 6px !important;}
.padding-r-6        {padding: 0 6px 0 0 !important;}
.padding-2          {padding: 2px !important;}
.padding-4-8        {padding: 4px 8px !important;}

.m-m-20             {margin: 20px 0 0;}
.m-t-60             {margin: 60px 0 0;}
.m-t-85             {margin: 85px 0 0;}

/* ANIMATIONS STYLE */

/* .hover              {transition: all 0.25s linear 0s; -moz-transition: all 0.25s linear 0s; -webkit-transition: all 0.25s linear 0s; -o-transition: all 0.25s linear 0s; -ms-transition: all 0.25s linear 0s;} */
::-moz-selection    {background-color: #284177; color: rgba(255, 255, 255, 1.0);}
::selection         {background-color: #284177; color: rgba(255, 255, 255, 1.0);}

/* Fix footer page */

html {height: 100%;}

.page-wrap
{
    min-height: 100%;
    /* equal to footer height */
    position: relative;
    overflow: hidden;
}

.page-wrap .body.noIG {
    margin: 72px 0 100px;
}

.page-wrap .body
{
    margin: 105px 0 100px;
}
.page-wrap .footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;   /* Height of the footer */
}

/* NAVIGATION */
.cd-header
{
    position: absolute;
    top: 32px;
    z-index: 1;
}

.cd-header.noIG
{
    top: 0;
}

.cd-header
{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-header.is-fixed
{
    /* when the user scrolls down, we hide the header right above the viewport */
    background: #eaeaea none repeat scroll 0 0;
    position: fixed;
    z-index: 9998;
    top: -74px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
}
.cd-header.is-visible
{
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.box-head
{
    width: 100%;
    float: left;
    background: url("/assets/old/img/png/bg_images_cover_2560x1600.png") no-repeat scroll center 0 transparent;
    height: 100%;
    min-height: 1024px;
    margin: -75px 0 0;
}
.l-box
{
    width: 254px;
    margin: 100px auto 0;
    position: relative;
}
.sing-in-meta
{
    color: #484848;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin: 30px 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    width: 40%;
}
.search-desktop                 {width: 74%; margin: 20px 0 0 20px;}
.search-box                     {float: left; width: 100%;}
.input-icon                     {height: 24px; left: 12px; position: absolute; top: 12px; width: 24px;}
.search-icon                    {background: url("/assets/old/img/icons/search_icon_24x24.png") no-repeat scroll 0 0 transparent;}

.searchButton {
    border-radius: 6px;
    font-size: 24px;
    line-height: 34px;
    position: absolute;
    right: 0;
    top: 0;
}

.searchButton:hover {
    background-color: #3f92fd;
}

.search-mobile              {display: none; position: absolute; left: 0; top: 0; width: 100%;}
.search-but                 {
    height: 46px;
    width: 26px;
    display:inline;
    margin: 0 0 0 10px;
    text-indent: -9999px;
    transition: all 0.30s linear 0s;
    -moz-transition: all 0.30s linear 0s;
    -webkit-transition: all 0.30s linear 0s;
    -o-transition: all 0.30s linear 0s;
    z-index:2;
}

#countries {
    display:none;
}

.countries .fa-map-marker
{
    color: #284177;
    float: left;
    font-size: 30px;
    padding: 0 8px 8px 0;
}
.maps-text
{
    color: #284177;
    float: left;
    font-size: 18px;
    line-height: 34px;
}

.popularText
{
    color: #404040;
    float: left;
    font-size: 34px;
    padding: 10px 0 20px;
    text-transform: uppercase;
    width: 100%;
}
select.custom
{
    background-color: #ffffff;
    background-image: url("../img/svg/select_down_arrow_16x9.svg");
    background-position: right 20px top 16px;
    background-repeat: no-repeat;
    background-size: 24px auto;
    color: #cccccc;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    outline: 0 none;
    padding: 2px 30px 0 8px;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
option
{
    background-color: #ffffff;
    border: medium none;
    color: #404040;
    float: left;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: 0 none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.15s linear 0s; -moz-transition: all 0.15s linear 0s; -webkit-transition: all 0.15s linear 0s; -o-transition: all 0.15s linear 0s;
}
option:hover
{
    background-color: #006bbd;
    color: #ffffff;
}

.suggestions a.btn:link,
.suggestions a.btn:visited,
.suggestions a.btn:active
{
    background-color: #404040;
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 5px;
    padding: 8px;
    text-transform: none;

    transition: all 0.15s linear 0s; -moz-transition: all 0.15s linear 0s; -webkit-transition: all 0.15s linear 0s; -o-transition: all 0.15s linear 0s;
}

.suggestions a.btn:hover
{
    background-color: #284177;
}

.atags-box
{
    position: absolute;
    right: 56px;
    top: 12px;
}

.atags
{
    color: #404040;
    font-size: 16px;
}

.overlay
{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.tag-box
{
    float: left;
    width: 100%;
}

.slick-list {
    margin: 0 12px;
}

.suggestions .slick-list {
    margin: 5px 0 0;
}

.suggestions
{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.tag-s.full
{
    line-height: 18px;
}

.tag-s
{
    background: #dddddd none repeat scroll 0 0;
    color: #707070;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    margin: 0 4px 8px 0;
    padding: 12px 6px;
    overflow: hidden;
    word-break: break-all;

    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;

    transition: all 0.30s linear 0s;
    -moz-transition: all 0.30s linear 0s;
    -webkit-transition: all 0.30s linear 0s;
    -o-transition: all 0.30s linear 0s;
}

.tag-s:hover
{
    background: #006bbd none repeat scroll 0 0;
    color: #ffffff;
    text-decoration: none;
}

.tag-s.blue
{
    background: #284177 none repeat scroll 0 0;
    color: #ffffff;
}
.tag-s.blue:hover
{
    background: #e45171 none repeat scroll 0 0;
}

.home .suggestions
{
    width: auto;
}
.home .slick-slider
{
    display: inline-block;
    text-align: center;
}
.home .slick-track
{
    width: 100% !important;
}
.home .tag-s
{
    margin: 0 5px 5px 0;
}
.home .tag-s.blue
{
    padding: 0 15px;
    width: auto !important;
}


/* INDEX */
.home
{
    background: #eaeaea;
    left: 0;
    position: absolute;
    top: -72px;
    width: 100%;
    padding: 15px;
}
.home li a
{
    float: left;
    color: #006bbd;
    font-size: 20px;
    font-weight: normal;
    padding: 0 15px 0 0;
}
.home li a:hover
{
    color: #284177;
}
.pstb
{
    display: inline-block;
    width: 50%;
}
.item
{
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 0 0 35px;
    padding: 30px;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}
.item img
{
    border: 1px solid #ffffff;
    float: left;
    height: auto;
    margin: 0 0 -2px;
    width: 100%;
    max-width: 396px;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}
.item .cat
{
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 7px;
    display: block;
}
.item .cat a:hover
{
    text-decoration:underline;
}
.item h2
{
    font-size: inherit;
    line-height: normal;
    margin: 0;
}
.item h2 a
{
    font-size: 26px;
    color: #284177;
    font-weight: 400;
    line-height: 1.35em;
    float: left;
    text-align: left;
    width: 100%;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
}
.item h2 a:hover
{
    color:#006BBD;
}
.item p
{
    color: #202020;
    float: left;
    font-size: 16px;
    line-height: 1.45em;
    margin: 15px 0 0;
    text-align: left;
    width: 100%;
}
.item .date
{
    color: #999;
    float: left;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left;
    width: 100%;
}


/* HEADER */
.box-images
{
    float: left;
}
.box-images img
{
    float: left;
    height: auto;
    margin: 1px;
    max-width: 300px;
    width: 100%;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}

.name-category
{
    color: #ffffff;
    float: left;
    font-size: 92px;
    font-weight: normal;
    padding: 65px 0 0;
    text-align: left;
    text-decoration: none;
    width: 372px;
}
.name-category.view
{
    color: #ececec;
    font-size: 22px;
    padding: 0;
}

.banners-home                   {width: 100%; float: left; margin: 20px 0 30px;}
.headerBanners                  {text-align: center; margin: 20px 0 20px;}


/* FEATURED*/
.cover-img
{
    border-top: 1px solid #cccccc;
    background: #eaeaea url("../img/png/texture_img_1920x160.png") no-repeat scroll top center;
    position: relative;
    width: 100%;
    padding: 10px 0 0;
    margin: 0 0 10px;
}
.s-index .fa-search,
.d-index .fa-search
{
    color: #006bbd;
    font-size: 32px;
    padding: 0;
}
.s-index
{
    width: 40%;
    display: inline-block;
}
.text-head                      {font-size: 36px; font-weight: lighter; padding: 0 0 20px; text-align: center; text-decoration: none;}
.tags                           {font-size: 14px; color: #202020; font-weight: lighter; text-decoration: none; float: left; padding: 6px 6px 6px 0;}

.sing-in-head
{
    color: #006bbd;
    font-size: 38px;
    font-weight: normal;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}
.sing-in-desc                   {color: #909090; font-size: 32px; font-weight: lighter; text-align: center; text-decoration: none; padding: 0 0 5px;}
.sing-in-desc.login             {margin: 85px 0 20px;}

.category                       {margin: 0 auto; width: 100%; text-align: center;}
.category li                    {display: inline;}
.category li a                  {
    border: 2px solid #FAFAFA;
    margin: 30px 37px 10px;
    width: 160px;
    height: auto;
    font-size: 26px;
    color: #C13F3F;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 10px;
}

.category li a:hover {
    text-decoration:underline;
}

.category li a.active           {border: 2px solid #309574;}
.text-cat                       {background: transparent; color: rgba(51, 51, 51, 1); float: left; font-size: 16px; font-weight: lighter; line-height: 20px; text-transform: uppercase; padding: 6px; text-align: left; word-wrap: break-word;}

.d-index
{
    float: left;
    margin: 12px 0 12px 24px;
    width: 93%;
}
.icon-f
{
    float: left;
    height: 18px;
    margin: 0 4px 0 0;
    width: 14px;
}
.icon-f.menu
{
    fill: #ffffff;
    height: 32px;
    width: 18px;
    margin: 0;
}


/* FOOTER */

.list-footer            {float: left; width: 220px;}
.list-footer li a       {font-size: 16px; color: #ffffff; font-weight: lighter; text-align: left; float: left; padding: 0 0 24px; width: 100%; transition:             all 0.30s linear 0s; -moz-transition:        all 0.30s linear 0s; -webkit-transition:     all 0.30s linear 0s; -o-transition:          all 0.30s linear 0s;}
.list-footer li a:hover {color: rgba(29, 126, 181, 1.0); font-weight: bold;}
.list-footer li h3      {color: #909090; font-size: 20px; font-weight: lighter; margin: 0 0 52px; text-transform: uppercase;}

.vertical-line          {background: #ffffff; float: left; margin: 0 20px; width: 2px; height: 220px;}

.footer-box
{
    background: #284177 none repeat scroll 0 0;
    float: left;
    padding: 15px 0;
    width: 100%;
}
.s-text
{
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    float: left;
    padding: 0;
}
.s-icon
{
    color: #ffffff;
    float: left;
    height: 18px;
    margin: 10px;
    width: 18px;

    transition: all 0.30s linear 0s;
    -moz-transition: all 0.30s linear 0s;
    -webkit-transition: all 0.30s linear 0s;
    -o-transition: all 0.30s linear 0s;
}
.s-icon:hover
{
    color: #e45171;
    margin: 8px 10px;
}
.flb
{
    float: left;
}
.frb
{
    float: right;
}
.ftbr {
    border-right: 1px solid #cccccc;
    color: #cccccc;
    float: left;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    padding: 8px 20px;
    text-align: left;

    transition: all 0.30s linear 0s;
    -moz-transition: all 0.30s linear 0s;
    -webkit-transition: all 0.30s linear 0s;
    -o-transition: all 0.30s linear 0s;
}
.ftbr:hover
{
    color: #ffffff;
}
.footer-bottom
{
    background: #e45171 none repeat scroll 0 0;
    float: left;
    padding: 2px 0;
    width: 100%;
}
.footer-text
{
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    float: left;

    transition:             all 0.30s linear 0s;
    -moz-transition:        all 0.30s linear 0s;
    -webkit-transition:     all 0.30s linear 0s;
    -o-transition:          all 0.30s linear 0s;
}
.footer-text.reserved   {padding: 0 10px 0 0;}

.back-to-top            {background: url("../img/svg/top_arrow_icon_18x24.svg") no-repeat scroll center center #284177; width: 48px; height: 48px; position: fixed; bottom: 7em; right: 1em; display: none; z-index: 9998; transition: all 0.30s linear 0s; -moz-transition: all 0.30s linear 0s; -webkit-transition: all 0.30s linear 0s; -o-transition: all 0.30s linear 0s;}

@media only screen and (min-width: 960px) and (max-width: 2560px) {
    .back-to-top:hover      {background: url("../img/svg/top_arrow_icon_18x24.svg") no-repeat scroll center center #cccccc;}
}


/* Elastic columns styles */

.columns
{
    color: #202020;
    font-weight: lighter;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 100%;
}
.columns.share                  {width: 300px; float: left; margin: 0 auto; padding: 0;}
.columns.users .item            {display: block; float: left;}
.columns.userResults .item      {border: medium none; box-shadow: none;}
.columns.userResults .item:hover{border-bottom:none;}
.columns .item
{
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 4px solid #404040;
    margin: 0 0 40px;
    width: 298px;

    -webkit-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;

    -moz-box-shadow:    -12px -6px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -12px -6px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow:         -12px -6px 20px 0 rgba(0, 0, 0, 0.2);
}
/*
.columns .item:hover
{
    -moz-box-shadow:    -12px -6px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -12px -6px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow:         -12px -6px 20px 0 rgba(0, 0, 0, 0.1);
}
*/
.item .video_overlay            {position: absolute; font-size: 40px; left: 25px; opacity: 0.7;}

.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus        {border: none; outline: none; background: url("/assets/old/img/icons/video_icon_60x60.png") no-repeat scroll 0 0 transparent;}
.vjs-default-skin .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:hover        {border: none; outline: none;}
.vjs-default-skin .vjs-big-play-button:before       {content: none;}

.video-icon {
    background: url("/assets/old/img/icons/video_icon_60x60.png") no-repeat scroll 0 0 transparent;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    border-radius: 30px;
    right: 0;
    top: 130px;
    content: none;
    transition: none;
    opacity: 0.6;
}

.video-icon.in {
    top: 107px;
    left: 20px;
}

.vjs-default-skin .vjs-big-play-button              {background: url("/assets/old/img/icons/video_icon_60x60.png") no-repeat scroll 0 0 transparent; height: 64px; width: 64px; position: absolute; z-index: 1; margin: auto; left: 0; border-radius: 30px; right: 0; top: 290px; content: none; transition: none; opacity: 0.6;}
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus        {background-color: none;}
.vjs-default-skin .vjs-big-play-button              {background-color: none;}
.vjs-default-skin .vjs-volume-level                 {background: #006bbd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;}
.vjs-default-skin .vjs-play-progress                {background: #006bbd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat;}
.vjs-default-skin .vjs-load-progress                {background: #006bbd /* IE8- Fallback */;}

.item .bh
{
    border-bottom: 8px solid #284177;
    float: left;
    height: 298px;
    margin: -30px 0 0 -30px;
    overflow: hidden;
    width: 298px;
    display: flex;
    /*Uncomment below to center horizontally*/
    /*justify-content: center;*/
    align-items: baseline;

    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;

    -moz-box-shadow:    -4px -4px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -4px -4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow:         -4px -4px 10px 0 rgba(0, 0, 0, 0.2);
}
.item .bh .image-upload
{
    float: none;
    height: auto;
    vertical-align: middle;
}
.columns .image-upload
{
    display: block;
    float: left;
    height: 298px;
    width: 298px;

    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;

    transition:             all 1s ease-in-out 0s;
    -moz-transition:        all 1s ease-in-out 0s;
    -webkit-transition:     all 1s ease-in-out 0s;
    -o-transition:          all 1s ease-in-out 0s;
}

.item .dimOverlay {
    background-color: #000;
    opacity: 0;
    width:300px;
    height:300px;
    position:absolute;
    top:0;
    left:0;
}

.item:hover .dimOverlay {
    opacity: 0.1;
}

/*
.item .dimOverlay:before,
.item .dimOverlay::after {
    bottom: 0;
    content: "";
    height: 280px;
    left: 20px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 280px;
    z-index: 1;

    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;

    transition:             opacity 900ms ease 0s;
    -moz-transition:        opacity 900ms ease 0s;
    -webkit-transition:     opacity 900ms ease 0s;
    -o-transition:          opacity 900ms ease 0s;
}
.item .dimOverlay::before {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #000 0%, transparent 100%) repeat scroll 0 0;
    opacity: 0.4;
}
.item .dimOverlay::after {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #006bbd 0%, rgba(181, 159, 98, 0) 90%) repeat scroll 0 0;
    opacity: 0;
}
.item .dimOverlay:hover .image-upload {
    transform: scale(1.1);
}
.item .dimOverlay:hover::after {
    opacity: 1;
}
.item .dimOverlay:hover::before {
    opacity: 0;
}
*/

.columns .descriptions
{
    background: #eaeaea none repeat scroll 0 0;
    color: #202020;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    white-space: inherit;
    width: 267px;
    word-wrap: break-word;
}

.columns .descriptions a
{
    font-size: 14px;
}

.descriptions.caption .more
{
    display: block;
}

.descriptions.caption .more.hidden
{
    display: none;
}

.readMore
{
    color: #006bbd;
    font-size: 14px;
    cursor: pointer;
    display: block;
    float: right;
    margin: 15px 0;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
}
.readMore:hover
{
    color: #284177;
}

.readMore.hidden
{
    display: none;
}

.descriptions.caption .readLess
{
    display: block;
}

.descriptions.caption .readLess.hidden
{
    display: none;
}

.columns .profile-info
{
    float: left;
    width: 100%;
}

.columns .img-box                   {float: left; width: 60px; height: 100%;}
.columns .box-information           { width: 100%; height: 100%;}
.columns .box-information .full
{
    width: 100%;
    height: 100%;
    font-size:14px;
}

.columns .box-information .name
{
    border-top: 1px solid #cccccc;
    background: #ffffff;
    display: block;
    padding: 10px 0;
}

.columns .box-information a
{
    color: #e45171;
    display: block;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    word-break: break-all;
    padding: 5px;

    transition:             all 0.15s linear 0s;
    -moz-transition:        all 0.15s linear 0s;
    -webkit-transition:     all 0.15s linear 0s;
    -o-transition:          all 0.15s linear 0s;

    -webkit-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.columns .box-information a.none:hover {
    background-color: inherit;
    color: inherit;
    cursor:default;
}

.columns .box-information a:hover
{
    background-color: #006bbd;
    color: #ffffff;
}

.columns .box-information.users     {width: 100%;}
.user a
{
    color: #e45171;
    float: left;
    font-size: 20px;
    margin: 6px 0 18px;
    width: 100%;
}
.mgbox
{

}

.loader-more                {background: url("/assets/old/img/gif/loader_instagravity_transparent_40x40.gif") no-repeat scroll 0 0 transparent; width: 40px; height: 40px; margin: 20px auto 60px;}
.loader-more.preview        {background: url("/assets/old/img/gif/loader_instagravity_transparent_40x40.gif") no-repeat scroll 0 0 transparent; margin: 0 auto;}

/* SEARCH MASK */

.text-head.search       {margin: 40px 0 25px; padding: 0;}
.text-head.error        {margin: 25% 0; padding: 0;}
.text-head.users        {color: #a3a3a3 !important; font-size: 32px; font-weight: lighter; margin: 20px 0 0; padding: 0; text-shadow: none;}
.tags-results           {color: #202020; font-size: 18px; font-weight: lighter; line-height: 28px; margin: 20px 0 0; padding: 0; text-align: center; text-decoration: none; width: 100%; word-wrap: break-word; float: left;}
.tags-but               {font-size: 14px; line-height: 16px; display: block; float: left; margin: 0; text-align: left; width: auto; word-break: break-all; word-wrap: break-word;}
.tags-number            {color: #707070; float: right; font-size: 16px; line-height: 18px; padding: 0 10px; text-align: left; text-decoration: none;}
.profile-info .decs     {font-size: 16px; line-height: 18px; padding: 6px 0 0; float: left; word-wrap: break-word; word-break: break-all; width: 200px; text-align: left;}

/* DETAILS */

.container-media        {width: 1170px; height: 640px; position: relative; margin: 0 auto 80px;}
.container-media.sign   {
margin: 0 auto 80px;
margin-top:80px;
}
.box-image              {float: left; width: 640px; overflow: hidden; position: relative;}
.box-info               {float: left; width: 523px; overflow: hidden;}

.details_bg             {float: left; position: relative; width: 100%;}
.details-box            {margin: 48px auto 0; width: 62%;}
.image-details          {max-width: 640px; width: 100%; border: 0 none;}

.box-profile.details                {padding: 12px 0; margin: 0; height: 640px; position: relative; overflow: hidden;}
.box-profile .cover.details         {height: 64px; margin: 0 0 0 12px; width: 64px;}
.box-profile .name.details          {color: #8f268f; font-size: 20px; margin: 0 0 6px 12px; width: 80%; word-break: break-all; word-wrap: break-word;}
.box-profile .username.details      {color: #909090; float: left; font-size: 16px; font-weight: lighter; line-height: 12px; margin: 0 0 0 12px; text-align: left;}
.box-profile .date                  {color: #424242; float: left; font-size: 16px; font-weight: lighter; line-height: 18px; text-align: left; text-decoration: none; word-wrap: break-word; white-space: inherit; max-height:120px; overflow-y:auto;}
.box-profile .date.web              {width: 100%;}
.box-profile .likes                 {background: none repeat scroll 0 0 #ffffff; color: rgba(143, 38, 143, 1); float: left; font-size: 20px; font-weight: lighter; line-height: 20px; margin: 12px 16px 12px 0; padding: 6px; text-align: left;}
.box-profile .user-likes            {float: left; padding: 0 6px 6px 0;}
.scroll-div-h                       {float: left; width: 100%; overflow-y: hidden; overflow-x: hidden;}
.wrap-box-like                      {float: left; overflow: hidden; height: 38px;}
.wrap-box                           {float: left; widthxxx: 3000px;  }
.fix-comments                       {bottom: 0; left: 0; position: absolute; right: 0; margin: 20px 15px 15px;}
.box-profile .header                { background: none repeat scroll 0 0 #ffffff; border-bottom: 1px solid #909090; color: #909090; float: left; font-size: 20px; font-weight: lighter; line-height: 26px; padding: 6px; text-align: left; width: 100%;}
.box-profile .comments              {border-bottom: 1px solid #909090; background: none repeat scroll 0 0 #ffffff; color: #909090; float: left; font-size: 20px; font-weight: lighter; line-height: 26px; padding: 6px; text-align: left; width: 100%;}
.box-comments                       {bottom: 0; left: 0; overflow-y: auto; overflow-x: hidden; position: absolute; right: 0; top: 45px;}
.box-profile .comments.more         {font-size: 16px; font-style: normal; line-height: 20px; font-weight: lighter; padding: 0 12px 12px;}
.box-profile .comments .dates       {float: right; font-size: 14px; font-weight: lighter; padding: 6px 0 0;}
.box-profile .comments .box-users   {float: left; margin: 12px 0 6px;}

.user-details           {color: rgba(255, 255, 255, 1); float: left; font-size: 16px; font-weight: bold; line-height: 28px; padding: 0 6px; text-align: left; transition:             all 0.30s linear 0s; -moz-transition:        all 0.30s linear 0s; -webkit-transition:     all 0.30s linear 0s; -o-transition:          all 0.30s linear 0s;}
.user-details:hover     {color: rgba(29, 126, 181, 1); text-decoration: underline;}
.image-user-details     {float: left; height: 32px; width: 32px;}
.line-box               {border-bottom: 1px dashed #f2f2f2; margin: 6px 0 8px; padding: 0 0 8px !important;}
.slimScrollDiv          {float: left;}
.slimScrollBar          {opacity: 0.6 !important;}
.fb-like                {float: left;}
.twett-but              {float: left; margin: 2px 0 0 6px;}
.no-found               {text-align: center; width: 100%;}
.small_banner           {display: none;}
.category-mobile        {display: none;}
.small_banner           {display: none; width:300px; margin-left:auto; margin-right:auto;}
.big_banner             {width:728px; margin-left:auto; margin-right:auto; margin-bottom:15px;}

.headerBanners .small_banner,
.headerBanners .big_banner          {margin-top: 0; margin-bottom: 20px;}
.headerBanners .small_banner        {margin-top: 5px; margin-bottom: 5px;}
.headerBanners.logged .small_banner {margin-top: 70px;}
.headerBanners.logged .small_banner,
.headerBanners.logged .big_banner   {margin-top: 85px; margin-bottom: 15px;}


.mobile-search-form {
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    display:none;

    transition: all 0.50s linear 0s;
    -moz-transition: all 0.50s linear 0s;
    -webkit-transition: all 0.50s linear 0s;
    -o-transition: all 0.50s linear 0s;
}

.mobile-search-form.showMe  {display: block; opacity: 1;}

.slide-icon
{
    height: 32px;
    width: 32px;
    float: left;
    margin: 14px;
}
.slide-icon.prev
{
    background: transparent url("/assets/old/img/icons/prev_icon_15x24.png") no-repeat scroll center center;
}
.slide-icon.next
{
    background: transparent url("/assets/old/img/icons/next_icon_15x24.png") no-repeat scroll center center;
}
.loading
{
    background: #ffffff none repeat scroll 0 0;
    height: 40px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    right: auto;
    top: 44%;
    width: 40px;
    z-index: 2;
}

/* DISCOVER */
.discover .sing-in-meta
{
    font-size: 22px;
    margin: 30px 0 0;
    width: auto;
}
.discover .sing-in-head
{
    font-size: 56px;
    margin: 0;
}
.discover select.custom {
    margin: 15px 0;
    width: 300px;
}
.dpi
{
    float: left;
    width: 48px;
    height: 48px;
}
.dcvr
{
    background: #ffffff none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}
.dcvr img
{
    background: #ffffff none repeat scroll 0 0;
    padding: 2px;
    width: 100%;
    max-width: 320px;
    height: auto;

    -moz-box-shadow:    0 0 10px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    box-shadow:         0 0 10px rgba(0, 0, 0, 0.20);

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}

/* PROFILE SLIDE MENU */
.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}
.cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    z-index: 2;
    background-color: #eaeaea;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}
.cd-menu-trigger
{
    position: relative;
    z-index: 9999;
}
.cd-menu-trigger.is-clicked.profile-but-mob
{
    display: block;
}
#cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
}
#cd-lateral-nav .cd-navigation {
    float: left;
    width: 100%;
}
#cd-lateral-nav a {
    border-bottom: 1px solid #eaeaea;
    color: #284177;
    display: block;
    float: left;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
    width: 256px;
    word-wrap: break-word;

    transition: all 0.30s linear 0s; -moz-transition: all 0.30s linear 0s; -webkit-transition: all 0.30s linear 0s; -o-transition: all 0.30s linear 0s;
}
#cd-lateral-nav a:hover {
    color: #e45171;
}
#cd-lateral-nav a.active {
    color: #e45171;
}
#cd-lateral-nav a.active:hover {
    color: #284177;
}
.no-touch #cd-lateral-nav a:hover {
    color: #284177;
}
#cd-lateral-nav .sub-menu a:hover {
    text-decoration: underline;
}
#cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
}

/* ANIMATION SEARCH MOBILE */
.cd-main-content
{
    text-align: center;
}

.cd-panel
{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity:0;

    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.cd-panel.search {
    top:45px;
}

.cd-panel::after
{
    /* overlay layer */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s;
}

.cd-panel.is-visible {
    display:block;
    visibility: visible;
    opacity: 1;
}

.cd-panel:active {
    -webkit-transition: opacity 1s ease-out;
}

@-webkit-keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@-moz-keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@-webkit-keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
@-moz-keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
@keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.cd-panel-close
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    /* image replacement */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after
{
    /* close icon created in CSS */
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #424f5c;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-panel-close::before
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-panel-close::after
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover
{
    background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after
{
    background-color: #ffffff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before
{
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after
{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-panel-container
{
    position: fixed;
    width: 100%;
    top: 0;
    background: #dbe2e9;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.from-right .cd-panel-container
{
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container
{
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
.i-box
{
    float: left;
    margin: 0 0 0 15px;
    width: 150px;
}
.userbox
{
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin: 0 0 20px;
    padding: 20px 5px;
    width: 100%;
}
.user-img
{
    border: 1px solid #284177;
    float: left;
    height: auto;
    max-width: 150px;
    width: 100%;
}
.user-name
{
    color: #284177;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.user-info
{
    color: #000000;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 0 12px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.info-b
{
    background: #eaeaea none repeat scroll 0 0;
    border-right: 1px solid #ffffff;
    color: #202020;
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.timeAgo
{
    background: #eaeaea none repeat scroll 0 0;
    border-right: 1px solid #ffffff;
    color: #202020;
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    width: 100%;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}
.photo
{
    width: 640px;
    margin: 0 auto;
}
.photo img
{
    display: block;
    height: auto;
    width: 100%;
    max-width: 640px;

    -webkit-border-radius: 6px 6px 6px 6px; -khtml-border-radius: 6px 6px 6px 6px; -moz-border-radius: 6px 6px 6px 6px; -o-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px;
}
.description
{
    width: 100%;
    float: left;
    margin: 0 0 60px;
}
.user
{
    width: 100%;
    float: left;
    margin: 10px 0;
}
#post .timeAgo
{
    text-align: center;
    background: #ffffff;
}
.caption
{
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #404040;
    display: block;
    float: left;
    font-size: 16px;
    padding: 6px 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.head-terms
{
    float: left;
    font-size: 20px;
    margin: 15px 0 5px 10px;
    text-align: left;
    width: 100%;
}
.list-group {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}
.list-group-item {
    border: 1px solid #cccccc;
    border-radius: 6px;
    float: left;
    width: 100%;
    display: list-item;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px;
    padding: 6px 12px;
    text-align: left;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child,
.list-group-item:first-child {
    border-radius: 6px;
}
label
{
    color: #000000;
    display: block;
    float: left;
    font-size: 16px;
    padding: 6px 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.g-recaptcha
{
    float: left;
}
.mobile-view
{
    display: none;
}
.txt-sml
{
    color: #202020;
    background-color:#fff;
    display: inline-block;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    padding: 30px 0;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
}
