* {margin: 0; padding: 0;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea, input
{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; text-decoration: none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section      {display: block;}

body                {background: #f2f2f2; font-family: 'seravek-webfont', Arial, Helvetica, sans-serif; height: 100%; width: 100%; color: #333333;}
blockquote, q       {quotes: none;}

blockquote:before,
blockquote:after,
q:before, q:after                       {content: ''; content: none;}
table                                   {border-collapse: collapse; border-spacing: 0;}
input[type=submit]::-moz-focus-inner    {padding: 0; border: 0}

sub                 {vertical-align: sub;}
a                   {color: #006bbd; font-size: 16px;}
a:active, a:focus   {outline: none;}
p                   {color: #ffffff; font-size: 16px;}

ul, li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

h1 {font-size: 2em; margin: 0.67em 0;}
h2 {font-size: 1.5em; margin: 0.83em 0;}
h3 {font-size: 1.17em; margin: 1em 0;}
h4 {font-size: 1em; margin: 1.33em 0;}
h5 {font-size: 0.83em; margin: 1.67em 0;}
h6 {font-size: 0.75em; margin: 2.33em 0;}
