hr.title, hr.title2 { background: -webkit-linear-gradient(left, #cccccc, #cccccc, white); background: -moz-linear-gradient(left, #cccccc, #cccccc, white); background: -ms-linear-gradient(left, #cccccc, #cccccc, white); background: -o-linear-gradient(left, #cccccc, #cccccc, white); background: linear-gradient(to right, #cccccc, #cccccc, #ffffff); /* Standard syntax; must be last */ }

#test-buttonLarge, #test-buttonSmall, #test-buttonMed, #test-buttonSmallPadded, #test-buttonMedPadded, #test-buttonLargePadded { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px; }

.search-button { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -khtml-border-radius: 3px; }

/*---------------------------------------------------------------------------------- Stylized Box 1 CSS ----------------------------------------------------------------------------------*/
.stylized-box-2 { background: #FFF; -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; border: 1px solid #c8c8c8; display: inline; float: left; border: 5px solid #E4E4E4; padding: 10px; min-width: 185px; width: 100%; margin-bottom: 20px; }

.sectionlanding-left4 .stylized-box-2 { width: 185px\9 !important; }

.stylized-box-2 h3, p, ul { margin-bottom: 10px; }

.stylized-box-2 h3 { font-size: 12px; color: #274466; margin-bottom: 0; line-height: normal; padding-bottom: 0 !important; }

.stylized-box-2 li { margin-bottom: 5px; }

/*----------------------------------------------------------------------------------
Stylized Box 1 CSS
----------------------------------------------------------------------------------*/
.description-abstract { color: #9A9A9A; font-style: italic; font-family: Helvetica, sans-serif; }

/*----------------------------------------------------------------------------------
List Styles
----------------------------------------------------------------------------------*/
.grey-square { list-style-image: url(/ecms/images/list-icon-grey-square.png) !important; }

.blue-chevron { list-style-image: url(/ecms/images/list-icon-blue-chevron.png) !important; }

.indentedList ul { margin-left: 20px; list-style: disc; font-size: 13px; color: #6f7479; }
.indentedList ul a { font-size: 15px; }

.indentedList.subscript ul { color: #6f7479; }

.indentedList2 ul { list-style: none; font-size: 13px; }
.indentedList2 ul a { font-size: 15px; }

/* Unordered list with right-facing blue arrows for bullets */
ul.arrowright_dkblue { margin-left: 35px; list-style-image: url(/ecms/images/list-icon-blue-chevron.png); }

#formsListTable > thead:hover, .table-thead:hover { cursor: pointer; }

/* ------------------------------------------------------------------------------------------ .accordion (see http://jquerytools.org/demos/tabs/accordion.html) ------------------------------------------------------------------------------------------ */
/* base object */
#reports .accordion { background: #fff !important; color: #000 !important; }

#reports .accordion p { color: #000 !important; }

#reports .accordion-key { font-family: Helvetica, sans-serif !important; font-size: 12px !important; }

#sec-orders .accordion { background: #fff !important; color: #000 !important; }

#sec-orders .accordion p { color: #000 !important; }

#sec-orders .accordion-key { font-family: Helvetica, sans-serif !important; font-size: 12px !important; }

.js #reports .accordion { overflow: hidden; }

.js #reports .accordion .accordion-key { background-repeat: no-repeat; margin: 0; }

.js #reports .accordion .test-accordion { /* IE10 Consumer Preview */ background-image: -ms-linear-gradient(top, #dddddd 0%, #eeeeee 50%, #dddddd 100%); /* Mozilla Firefox */ background-image: -moz-linear-gradient(top, #dddddd 0%, #eeeeee 50%, #dddddd 100%); /* Opera */ background-image: -o-linear-gradient(top, #dddddd 0%, #eeeeee 50%, #dddddd 100%); /* Webkit (Safari/Chrome 10) */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(0.5, #eeeeee), color-stop(1, #dddddd)); /* Webkit (Chrome 11+) */ background-image: -webkit-linear-gradient(top, #dddddd 0%, #eeeeee 50%, #dddddd 100%); /* W3C Markup, IE10 Release Preview */ background-image: linear-gradient(to bottom, #dddddd 0%, #eeeeee 50%, #dddddd 100%); background-color: #EEEEEE; border: 1px solid #CCC; }

/*    .js #reports .accordion .accordion-key > a { color:#2f64b2; }
*/
.js #reports .accordion-slide { display: none; margin: 0; }

/* skin 1 */
.js #reports .accordion-1 { border: solid #ddd; border-width: 0 1px 1px 1px; }

.js #reports .accordion-1 .accordion-key { background-color: #ddd; background-image: url(/ecms/images/rightArrow.png); background-position: 1% 50%; border-top: 1px solid #ddd; font-weight: normal !important; padding: 6px 5px 6px 20px; }

.js #reports .accordion-1 .accordion-key-is-current { background-color: #fff; background-image: url(/ecms/images/downArrow.png); background-position: 1% 50%; border-top: 1px solid #fcc236; font-weight: bold; }

.js #reports .accordion-1 .accordion-slide { padding: 10px 10px 10px 20px; }

/* skin 2 */
.js .accordion-2 .accordion-key { background-color: #fff; background-image: url(/ecms/images/expand-plus-aaaaaa-10x10.gif); background-position: 7px 10px; background-repeat: no-repeat; font-weight: normal; padding: 6px 5px 6px 23px; }

.js .accordion-2 .accordion-key { border-top: 1px solid #ddd; font-weight: normal !important; }

.js .accordion-2 .accordion-key:first-child { border-top: none; }

.js .accordion-2 .accordion-key-is-current { background-image: url(/ecms/images/collapse-minus-aaaaaa-10x10.gif); background-position: 7px 10px; background-repeat: no-repeat; font-weight: bold; }

.js .accordion-2 .accordion-slide { padding: 10px 10px 10px 23px; }

/* ------------------------------------------------------------------------------------------ .margin-bottom-n ------------------------------------------------------------------------------------------ */
.margin-bottom-0 { margin-bottom: 0; }

.margin-bottom-1 { margin-bottom: 3px; }

.margin-bottom-2 { margin-bottom: 6px; }

.margin-bottom-3 { margin-bottom: 9px; }

.margin-bottom-4 { margin-bottom: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-left-n ------------------------------------------------------------------------------------------ */
.margin-left-0 { margin-left: 0px; }

.margin-left-1 { margin-left: 3px; }

.margin-left-2 { margin-left: 6px; }

.margin-left-3 { margin-left: 9px; }

.margin-left-4 { margin-left: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-right-n ------------------------------------------------------------------------------------------ */
.margin-right-1 { margin-right: 3px; }

.margin-right-2 { margin-right: 6px; }

.margin-right-3 { margin-right: 9px; }

.margin-right-4 { margin-right: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-top-n ------------------------------------------------------------------------------------------ */
.margin-top-1 { margin-top: 3px; }

.margin-top-2 { margin-top: 6px; }

.margin-top-3 { margin-top: 9px; }

.margin-top-4 { margin-top: 12px; }

/* ------------------------------------------------------------------------------------------ .media ------------------------------------------------------------------------------------------ */
.media, .media > .media-body { overflow: hidden; _overflow: visible; zoom: 1; }

.media > .media-media { float: left; margin-right: 10px; }

.media > .media-media img { display: block; }

.media > .media-media-ext { float: right; margin-left: 10px; }

.media > .media-body, .media > .media-body h2 { margin-bottom: 0; }

.media > .media-media img, .media > .media-media-ext img { margin-top: 5px; }

/* ------------------------------------------------------------------------------------------ .no-bullet ------------------------------------------------------------------------------------------ */
.no-bullet { list-style: none; list-style-type: none; }

/* ------------------------------------------------------------------------------------------ .no-indent ------------------------------------------------------------------------------------------ */
.no-indent { margin-left: 0; padding-left: 0; }

/* ------------------------------------------------------------------------------------------ .padding-n ------------------------------------------------------------------------------------------ */
.padding-0 { padding: 0; }

.padding-1 { padding: 5px; }

.padding-2 { padding: 10px; }

.padding-3 { padding: 15px; }

.padding-4 { padding: 20px; }

/* ------------------------------------------------------------------------------------------ .padding-bottom-n ------------------------------------------------------------------------------------------ */
.padding-bottom-0 { padding-bottom: 0; }

.padding-bottom-1 { padding-bottom: 3px; }

.padding-bottom-2 { padding-bottom: 6px; }

.padding-bottom-3 { padding-bottom: 9px; }

.padding-bottom-4 { padding-bottom: 12px; }

/* ------------------------------------------------------------------------------------------ .padding-left-n ------------------------------------------------------------------------------------------ */
.padding-left-0 { padding-left: 0; }

.padding-left-1 { padding-left: 3px; }

.padding-left-2 { padding-left: 6px; }

.padding-left-3 { padding-left: 9px; }

.padding-left-4 { padding-left: 12px; }

/* ------------------------------------------------------------------------------------------ .padding-right-n ------------------------------------------------------------------------------------------ */
.padding-right-0 { padding-right: 0; }

.padding-right-1 { padding-right: 3px; }

.padding-right-2 { padding-right: 6px; }

.padding-right-3 { padding-right: 9px; }

.padding-right-4 { padding-right: 12px; }

/* ------------------------------------------------------------------------------------------ .width-n ------------------------------------------------------------------------------------------ */
.width-100 { width: 100%; }

/*stylized button large */
#test-buttonLarge { width: 200px; background-color: #003768; min-height: 80px; color: #fff; cursor: pointer; border-width: 1px; font-size: 14px; }

/*---------------------------------------------------------------------------------- Icon CSS ----------------------------------------------------------------------------------*/
.icon { background: #fbfbfb; -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; border: 1px solid #ccc; display: block; width: 40px; height: 56px; line-height: 36px; margin-right: 20px; font-family: Helvetica, sans-serif; /* font-size: 16px; */ font-size: 12px; font-weight: bold; color: #666666; text-decoration: none; text-align: center; vertical-align: middle; -webkit-border-radius: 0px 10px 0px 0px; -moz-border-radius: 0px 10px 0px 0px; border-radius: 0px 20px 0px 0px; }

.triangle { width: 0px; height: 0px; border-style: solid; border-width: 15px 0px 0px 15px; border-color: #fff #fff #fff #ccc; margin-left: 26px; position: relative; }

/* Biography Query Module List*/
.bio-querymodule-title { width: 100%; display: inline; float: left; }

/* Dynamic Query Module */
.querymodule-title { width: 67%; display: inline; float: left; }

.querymodule-share { z-index: 5; width: 30%; display: inline; float: right; }

/* OPA Button */
.opa-button { position: relative; color: white; background-color: #0a3668; border: 1px solid #052549; font-size: 12px; line-height: 5.1em; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; text-align: center; text-decoration: none solid white; padding: 15px; box-shadow: inset 0px 1px 0px #7b93ad; }
.opa-button:hover { background-color: #1d63bb; border: 1px solid #4181cd; }

/* Bordered table */
.bordered-table tbody tr td { border: 1px solid #000 !important; }

/*---------------------------------------------------------------------------------- Search Button ----------------------------------------------------------------------------------*/
.search-button { background-color: #ddd; border: 1px solid #aaa; color: #333; cursor: pointer; font-size: 12px; line-height: normal !important; margin-left: 5px; margin: 0; padding: 2px 3px; }

.search-button:hover { background-color: #A7A7A7; }

.search-button:focus { background-color: #457ea5; color: #fff; }

.search-button::-moz-focus-inner { border: 0; }

/* ------------------------------------------------------------------------------------------ 404 page ------------------------------------------------------------------------------------------ */
#main-content.grid_8 ul { margin-bottom: 18px; }

#main-content.grid_8 li { margin-top: 0px; }

#main-content.grid_8 h1 { font-size: 22px; color: #003768; margin-bottom: 18px; font-family: sans-serif; -webkit-font-variant-ligatures: no-common-ligatures; font-variant-ligatures: no-common-ligatures; }
.wf-active #main-content.grid_8 h1 { font-family: "Raleway", sans-serif; }

#main-content.grid_8 h3 { font-size: 12px; font-family: Helvetica, sans-serif; color: #333; margin-bottom: 18px; padding-bottom: 0px; }

 /*----------------------------------------------------------------------------------
Wide Stylized Box CSS
----------------------------------------------------------------------------------*/
.stylized-box-2-wide { background: #FFF; -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; border: 1px solid #c8c8c8; display: inline; float: left; border: 5px solid #E4E4E4; padding: 10px; /*min-width:180px;*/ width: 100%; margin-bottom: 20px; font-size: 11px; font-family: Helvetica, sans-serif; }
.stylized-box-2-wide h3, .stylized-box-2-wide p, .stylized-box-2-wide ul { margin-bottom: 10px; }
.stylized-box-2-wide h3 { font-size: 12px; color: #274466; }
.stylized-box-2-wide li { margin-bottom: 5px; list-style-image: url(/ecms/images/list-icon-blue-chevron.png); }

/*---------------------------------------------------------------------------------- Search Button ----------------------------------------------------------------------------------*/
.search-button { background-color: #ddd; border: 1px solid #aaa; color: #333; cursor: pointer; font-size: 12px; line-height: normal !important; margin-left: 5px; margin: 0; padding: 2px 3px; }
.search-button:hover { background-color: #A7A7A7; }
.search-button:focus { background-color: #457ea5; color: #fff; }
.search-button::-moz-focus-inner { border: 0; }

.clear { clear: both; overflow: hidden; visibility: hidden; }

/*----------------------------------------------------------------------------------
Brick Red Gradient Bar
----------------------------------------------------------------------------------*/
.brick-red-grad { background-image: url(/ecms/images/oig_submit_titlebar.jpg); /* For IE 9 */ background-image: -webkit-linear-gradient(top, #b04a4a, #922e2e, #812625, #711b1c, #6c1818, #621213); /* For Chrome and Safari */ background-image: -moz-linear-gradient(top, #b04a4a, #922e2e, #812625, #711b1c, #6c1818, #621213); /* For old Fx (3.6 to 15) */ background-image: -ms-linear-gradient(top, #b04a4a, #922e2e, #812625, #711b1c, #6c1818, #621213); /* For pre-releases of IE 10*/ background-image: -o-linear-gradient(top, #b04a4a, #922e2e, #812625, #711b1c, #6c1818, #621213); /* For old Opera (11.1 to 12.0) */ background-image: linear-gradient(to bottom, #b04a4a, #922e2e, #812625, #711b1c, #6c1818, #621213); /* Standard syntax; must be last */ }

/* ------------------------------------------------------------------------------------------ blockquote ------------------------------------------------------------------------------------------ */
blockquote.ecms-blockquote { margin-left: 20px; margin-right: 20px; text-indent: -5px; }

p.blockquote { margin-left: 20px; margin-right: 20px; }
p.blockquote span.attribution { font-style: italic; }

a.more { float: right; background: url(/ecms/images/right-arrow-blue.gif) center right no-repeat; padding-right: 13px; display: inline-block; }

span.float_left { float: left; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; }

span.float_right { float: right; margin-top: 10px; margin-left: 10px; margin-bottom: 10px; }

table.data_panel { border: 1px solid #cccccc; font-family: Arial, Helvetica, sans-serif; font-size: .92em; }

.data_panel td { border: 1px solid #cccccc; margin: 3px; padding: 4px; }

.data_panel th { background-color: #E1EFFF; font-weight: 700; border: 1px solid #cccccc; }

.data_panel tr:hover { background: #E1EFFF; }

.data_panel th { font-size: .9em; }

button, .button { background-color: #dddddd; border: 1px solid #aaaaaa; color: white; padding: 6px; }

/* ------------------------------------------------------------------------------------------ dl, dt & dd ------------------------------------------------------------------------------------------ */
dt { font-weight: bold; }

/* ------------------------------------------------------------------------------------------ form and related ------------------------------------------------------------------------------------------ */
.black { color: black; text-decoration: none; }

.blue { color: #003768; text-decoration: none; }

/* ------------------------------------------------------------------------------------------
h1-h6, .h1-.h6
------------------------------------------------------------------------------------------ */
/* h1.ecms-h1 { color:$darkBlue; font-family: sans-serif; .wf-active & { 	font-family:$secondary-font-family;} font-size:22px;
}

h1.ecms-pageTitle { line-height:24px; margin-bottom:15px;
}


h1.ecms-articleTitle { font-family: $primary-font-family;  font-size: 20px; font-weight: normal;  padding-bottom: 10px; line-height:30px;
}

h2.ecms-h2 { color:$black; font-family: sans-serif; .wf-active & { 	font-family:$secondary-font-family;} font-size:18px;
}

h2.ecms-mainContent {  font-size: 18px;  font-weight: bold; padding-bottom: 10px;
}

h3, .ecms-h3 { color:$gray3; font-size:13px; font-weight:bold;
}

h3.ecms-mainContent { font-size: 16px; font-weight: bold; text-transform: none; padding-bottom: 10px;
}
h4, .ecms-h4 { color:$gray3; font-size:13px; font-style:italic; font-weight:normal;
}

h4.ecms-mainContent {  font-style: italic; font-size: 15px;  padding-bottom: 10px;
}

h5, .ecms-h5 { color:$gray6; font-size:10px;
}

h5.ecms-mainContent { font-size: 14px; padding-bottom: 10px;
}

h6, .ecms-h6 { color:$gray6; font-size:10px; font-weight:normal;
}*/
/* ------------------------------------------------------------------------------------------ hr ------------------------------------------------------------------------------------------ */
/* hr.ecms-hr {  color: #B3B3B3; border-bottom: 1px solid; margin-bottom: 10px;
} */
hr.title { border-bottom: 1px solid white; height: 2px; box-shadow: 1px 1px 2px 2px #eeeeee; }

hr.title2 { border: 0; color: #B3B3B3; border-bottom: 1px solid; margin-bottom: 10px; filter: progid:DXImageTransform.Microsoft.Shadow(color='$gray7', Direction=90, Strength=4); box-shadow: 3px 4px 10px 2px #eeeeee, 0 0 4px white; }

/* ------------------------------------------------------------------------------------------ img ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ ol & ul ------------------------------------------------------------------------------------------ */
ol.ecms-ol, ul.ecms-ul { margin-left: 0; }

ol.ecms-ol { padding-left: 25px; }

ul.ecms-ul { padding-left: 20px; list-style-type: square; color: #999999; }

/* ------------------------------------------------------------------------------------------ p ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ pre ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ table and related ------------------------------------------------------------------------------------------ */
/* table.ecms-table { border-collapse:collapse; font-size:11px; width:100%;
}
.ecms-table thead { background-color:$darkBlue; color:$white;
}
.ecms-table th,
.ecms-table td { padding:6px 5px; vertical-align:top;
}
.ecms-table th { border-right:1px solid $white; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; color: #FFFFFF;
}
.ecms-table th:last-child { border-right:none;
}
.ecms-table td { border-bottom:1px solid $gray13;
}
.ecms-table tfoot td { font-weight:bold;
}

*/
.test-button { border: 1px solid #aaaaaa; float: left; font-size: 12px; line-height: normal !important; margin: 5px; padding: 2px 3px; }

#test-buttonSmall { width: 60px; background-color: #dddddd; height: 26px; color: #333333; cursor: pointer; border-width: 1px; }

#test-buttonMed { width: 72px; background-color: #dddddd; height: 31px; color: #333333; cursor: pointer; border-width: 1px; }

#test-buttonLarge { width: 200px; background-color: #003768; min-height: 80px; color: white; cursor: pointer; border-width: 1px; font-size: 14px; }

#test-buttonSmallPadded { padding: 5px 10px 5px 10px; /* width: 60px; */ background-color: #dddddd; /* height: 26px; */ color: #333333; cursor: pointer; border-width: 1px; max-width: 100%; white-space: normal; }

#test-buttonMedPadded { padding: 10px 20px 10px 20px; /*  width: 72px; */ background-color: #dddddd; /* height: 31px; */ color: #333333; cursor: pointer; border-width: 1px; max-width: 100%; white-space: normal; }

#test-buttonLargePadded { padding: 25px 40px 25px 40px; /*width: 200px; */ background-color: #003768; /* min-height: 80px; */ color: white; cursor: pointer; font-size: 14px; max-width: 100%; white-space: normal; }

.test-button-padded { border: 1px solid #aaaaaa; float: left; font-size: 12px; line-height: normal !important; margin: 5px; padding: 2px 3px; }

#global-search-box { width: 200px; }

#global-search-menu { border: 2px solid #aaaaaa; float: left; margin: 0 5px; width: 140px; }

#global-search-hidden-div { display: none; }

.global-search-button { background-color: #fff; color: #333333; cursor: pointer; margin-left: 5px; }

.global-search-button:hover { background-color: #A7A7A7; }

.global-search-button:focus { background-color: #457ea5; color: white; }

.global-search-button::-moz-focus-inner, .test-button::-moz-focus-inner { border: 0; }

.test-button { background: -ms-linear-gradient(top, white 0%, #e3e3e3 100%); /* Mozilla Firefox */ background: -moz-linear-gradient(top, white 0%, #e3e3e3 100%); /* Opera */ background: -o-linear-gradient(top, white 0%, #e3e3e3 100%); /* Webkit (Safari/Chrome 10) */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e3e3e3)); /* Webkit (Chrome 11+) */ background: -webkit-linear-gradient(top, white 0%, #e3e3e3 100%); /* W3C Markup, IE10 Release Preview */ background: linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%); }
.test-button:hover { background: -ms-linear-gradient(top, white 0%, #e3e3e3 100%); /* Mozilla Firefox */ background: -moz-linear-gradient(top, white 0%, #e3e3e3 100%); /* Opera */ background: -o-linear-gradient(top, white 0%, #e3e3e3 100%); /* Webkit (Safari/Chrome 10) */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e3e3e3)); /* Webkit (Chrome 11+) */ background: -webkit-linear-gradient(top, white 0%, #e3e3e3 100%); /* W3C Markup, IE10 Release Preview */ background: linear-gradient(to bottom, #ffffff 0%, #e3e3e3 100%); background-color: #eeeeee; }
.test-button:focus { background-color: #457ea5; color: black; }

.test-buttonLarge { background: -ms-linear-gradient(top, #0a5588 0%, #003768 100%); /* Mozilla Firefox */ background: -moz-linear-gradient(top, #0a5588 0%, #003768 100%); /* Opera */ background: -o-linear-gradient(top, #0a5588 0%, #003768 100%); /* Webkit (Safari/Chrome 10) */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0a5588), color-stop(1, #003768)); /* Webkit (Chrome 11+) */ background: -webkit-linear-gradient(top, #0a5588 0%, #003768 100%); /* W3C Markup, IE10 Release Preview */ background: linear-gradient(to bottom, #0a5588 0%, #003768 100%); }
.test-buttonLarge:hover { background: -ms-linear-gradient(top, #003768 0%, #0a5588 100%); /* Mozilla Firefox */ background: -moz-linear-gradient(top, #003768 0%, #0a5588 100%); /* Opera */ background: -o-linear-gradient(top, #003768 0%, #0a5588 100%); /* Webkit (Safari/Chrome 10) */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #003768), color-stop(1, #0a5588)); /* Webkit (Chrome 11+) */ background: -webkit-linear-gradient(top, #003768 0%, #0a5588 100%); /* W3C Markup, IE10 Release Preview */ background: linear-gradient(to bottom, #003768 0%, #0a5588 100%); background-color: #2f64b2; }
.test-buttonLarge:focus { background-color: #003768; color: black; }

/* ------------------------------------------------------------------------------------------ .bg-gray-n ------------------------------------------------------------------------------------------ */
.bg-gray-1, .gray-1 { background-color: #111111; }

.bg-gray-2, .gray-2 { background-color: #222222; }

.bg-gray-3, .gray-3 { background-color: #333333; }

.bg-gray-4, .gray-4 { background-color: #444444; }

.bg-gray-5, .gray-5 { background-color: #555555; }

.bg-gray-6, .gray-6 { background-color: #666666; }

.bg-gray-7, .gray-7 { background-color: #777777; }

.bg-gray-8, .gray-8 { background-color: #888888; }

.bg-gray-9, .gray-9 { background-color: #999999; }

.bg-gray-10, .gray-10 { background-color: #aaaaaa; }

.bg-gray-11, .gray-11 { background-color: #bbbbbb; }

.bg-gray-12, .gray-12 { background-color: #cccccc; }

.bg-gray-13, .gray-13 { background-color: #dddddd; }

.bg-gray-14, .gray-14 { background-color: #eeeeee; }

/* ------------------------------------------------------------------------------------------ .block-center ------------------------------------------------------------------------------------------ */
.block-center { display: block; margin-left: auto; margin-right: auto; }

/* ------------------------------------------------------------------------------------------ .bold ------------------------------------------------------------------------------------------ */
.bold { font-weight: bold; }

/* ------------------------------------------------------------------------------------------ .bullet-n ------------------------------------------------------------------------------------------ */
.bullet-1 { list-style-image: url(/ecms/images/right-pointing-single-arrow-203759.gif); }

.bullet-2 { list-style-image: url(/ecms/images/square-bullet-dddddd-5x5.gif); }

/* ------------------------------------------------------------------------------------------ .button-large ------------------------------------------------------------------------------------------ */
.button-large { padding-bottom: 9px; padding-top: 9px; }

/* ------------------------------------------------------------------------------------------ .button-small ------------------------------------------------------------------------------------------ */
.button-small { padding-bottom: 3px; padding-top: 3px; }

/* ------------------------------------------------------------------------------------------ .clear-both ------------------------------------------------------------------------------------------ */
.clear-both { clear: both; }

/* ------------------------------------------------------------------------------------------ .clear-left ------------------------------------------------------------------------------------------ */
.clear-left { clear: left; }

/* ------------------------------------------------------------------------------------------ .clear-right ------------------------------------------------------------------------------------------ */
.clear-right { clear: right; }

/* ------------------------------------------------------------------------------------------ .color-n ------------------------------------------------------------------------------------------ */
.color-1 { color: black; }

.color-2 { color: #1c1d22; }

.color-3 { color: #3a3f50; }

.color-4 { color: #003768; }

.color-5 { color: #0059ec; }

.color-6 { color: #0a5588; }

.color-7 { color: #457ea5; }

.color-8 { color: #ae0405; }

.color-9 { color: #ef940c; }

.color-10 { color: #fcc236; }

.color-11 { color: white; }

/* ------------------------------------------------------------------------------------------ .float-left ------------------------------------------------------------------------------------------ */
.float-right { float: right; }

/* ------------------------------------------------------------------------------------------ .float-right ------------------------------------------------------------------------------------------ */
.float-left { float: left; }

/* ------------------------------------------------------------------------------------------ .gradient ------------------------------------------------------------------------------------------ */
/* gray */
.gradient-1 { background: #dddddd; background: -moz-linear-gradient(top, #dddddd, #bbbbbb); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray13', endColorstr='$gray11'); /* for IE */ }

a.gradient-1:focus, button.gradient-1:focus, input.gradient-1:focus { background: #dddddd; background: -moz-linear-gradient(top, #bbbbbb, #dddddd); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray11', endColorstr='$gray13'); /* for IE */ }

a.gradient-1:hover, button.gradient-1:hover, input.gradient-1:hover { background: #eeeeee; background: -moz-linear-gradient(top, #eeeeee, #cccccc); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray14', endColorstr='$gray12'); /* for IE */ }

a.gradient-1:active, button.gradient-1:active, input.gradient-1:active { background: #dddddd; background: -moz-linear-gradient(top, #bbbbbb, #dddddd); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray11', endColorstr='$gray13'); /* for IE */ }

/* blue */
.gradient-2 { background: #457ea5; background: -moz-linear-gradient(top, #62aee3, #457ea5); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62aee3', endColorstr='$lightBlue'); /* for IE */ color: white; }

a.gradient-2:hover, button.gradient-2:hover, input.gradient-2:hover { background: #5497c4; background: -moz-linear-gradient(top, #70c2fa, #5497c4); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70c2fa', endColorstr='#5497c4'); /* for IE */ }

a.gradient-2:active, button.gradient-2:active, input.gradient-2:active { background: #457ea5; background: -moz-linear-gradient(top, #457ea5, #62aee3); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$lightBlue', endColorstr='#62aee3'); /* for IE */ }

/* red */
.gradient-3 { background: #ae0405; background: -moz-linear-gradient(top, #ed0506, #ae0405); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0506', endColorstr='$red'); /* for IE */ color: white; }

a.gradient-3:hover, button.gradient-3:hover, input.gradient-3:hover { background: #bf0405; background: -moz-linear-gradient(top, #ff0809, #bf0405); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0809', endColorstr='#bf0405'); /* for IE */ }

a.gradient-3:active, button.gradient-3:active, input.gradient-3:active { background: #ae0405; background: -moz-linear-gradient(top, #ae0405, #ed0506); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red', endColorstr='#ed0506'); /* for IE */ }

/* yellow */
.gradient-4 { background: #fcc236; background: -moz-linear-gradient(top, #fce3a7, #fcc236); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fce3a7', endColorstr='$yellow'); /* for IE */ color: black; }

a.gradient-4:hover, button.gradient-4:hover, input.gradient-4:hover { background: #ffd570; background: -moz-linear-gradient(top, #fceecc, #ffd570); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceecc', endColorstr='#ffd570'); /* for IE */ }

a.gradient-4:active, button.gradient-4:active, input.gradient-4:active { background: #fcc236; background: -moz-linear-gradient(top, #fcc236, #fce3a7); /* for Firefox */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$yellow', endColorstr='#fce3a7'); /* for IE */ }

/* ------------------------------------------------------------------------------------------ .highlight ------------------------------------------------------------------------------------------ */
.highlight { background-color: #fcc236; }

/* ------------------------------------------------------------------------------------------ .hr ------------------------------------------------------------------------------------------ */
.hr { background: transparent url(/ecms/images/gray-dot.gif) repeat-x center center; clear: both; height: 1px; padding: 9px 0; }

.hr > hr { display: none; }

/* ------------------------------------------------------------------------------------------ .img-left ------------------------------------------------------------------------------------------ */
.img-left { float: left; margin: 6px 10px 6px 0; }

/* ------------------------------------------------------------------------------------------ .img-right ------------------------------------------------------------------------------------------ */
.img-right { float: right; margin: 6px 0 6px 10px; }

/* ------------------------------------------------------------------------------------------ .italic ------------------------------------------------------------------------------------------ */
.italic { font-style: italic; }

/* ------------------------------------------------------------------------------------------ .line-height-n ------------------------------------------------------------------------------------------ */
.line-height-1 { line-height: 1; }

/* ------------------------------------------------------------------------------------------ .list-clear ------------------------------------------------------------------------------------------ */
.list-clear { list-style-type: none; margin-left: 0; padding-left: 0; }

/* ------------------------------------------------------------------------------------------ .margin-bottom-n ------------------------------------------------------------------------------------------ */
.margin-bottom-0 { margin-bottom: 0; }

.margin-bottom-1 { margin-bottom: 3px; }

.margin-bottom-2 { margin-bottom: 6px; }

.margin-bottom-3 { margin-bottom: 9px; }

.margin-bottom-4 { margin-bottom: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-left-n ------------------------------------------------------------------------------------------ */
.margin-left-1 { margin-left: 3px; }

.margin-left-2 { margin-left: 6px; }

.margin-left-3 { margin-left: 9px; }

.margin-left-4 { margin-left: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-right-n ------------------------------------------------------------------------------------------ */
.margin-right-1 { margin-right: 3px; }

.margin-right-2 { margin-right: 6px; }

.margin-right-3 { margin-right: 9px; }

.margin-right-4 { margin-right: 12px; }

/* ------------------------------------------------------------------------------------------ .margin-top-n ------------------------------------------------------------------------------------------ */
.margin-top-1 { margin-top: 3px; }

.margin-top-2 { margin-top: 6px; }

.margin-top-3 { margin-top: 9px; }

.margin-top-4 { margin-top: 12px; }

/* ------------------------------------------------------------------------------------------ .media ------------------------------------------------------------------------------------------ */
.media, .media > .media-body { overflow: hidden; _overflow: visible; zoom: 1; }

.media > .media-media { float: left; margin-right: 10px; }

.media > .media-media img { display: block; }

.media > .media-media-ext { float: right; margin-left: 10px; }

.media > .media-body, .media > .media-body h2 { margin-bottom: 0; }

.media > .media-media img, .media > .media-media-ext img { margin-top: 5px; }

/* ------------------------------------------------------------------------------------------ .no-bullet ------------------------------------------------------------------------------------------ */
.no-bullet { list-style: none; list-style-type: none; }

/* ------------------------------------------------------------------------------------------ .no-indent ------------------------------------------------------------------------------------------ */
.no-indent { margin-left: 0; padding-left: 0; }

/* ------------------------------------------------------------------------------------------ .padding-n ------------------------------------------------------------------------------------------ */
.padding-0 { padding: 0; }

.padding-1 { padding: 5px; }

.padding-2 { padding: 10px; }

.padding-3 { padding: 15px; }

.padding-4 { padding: 20px; }

/* ------------------------------------------------------------------------------------------ .padding-bottom-n ------------------------------------------------------------------------------------------ */
.padding-bottom-0 { padding-bottom: 0; }

.padding-bottom-1 { padding-bottom: 3px; }

.padding-bottom-2 { padding-bottom: 6px; }

.padding-bottom-3 { padding-bottom: 9px; }

.padding-bottom-4 { padding-bottom: 12px; }

/* ------------------------------------------------------------------------------------------ .spacing-n > li ------------------------------------------------------------------------------------------ */
.spacing-1 > li { margin-bottom: 3px; }

.spacing-2 > li { margin-bottom: 6px; }

.spacing-3 > li { margin-bottom: 9px; }

.spacing-4 > li { margin-bottom: 12px; }

/* ------------------------------------------------------------------------------------------ .text-center ------------------------------------------------------------------------------------------ */
.text-center { text-align: center; }

/* ------------------------------------------------------------------------------------------ .text-justify ------------------------------------------------------------------------------------------ */
.text-justify { text-align: justify; }

/* ------------------------------------------------------------------------------------------ .text-large ------------------------------------------------------------------------------------------ */
.text-large { font-size: 18px; }

/* ------------------------------------------------------------------------------------------ .text-left ------------------------------------------------------------------------------------------ */
.text-left { text-align: left; }

/* ------------------------------------------------------------------------------------------ .text-normal ------------------------------------------------------------------------------------------ */
.text-normal { font-size: 12px; }

/* ------------------------------------------------------------------------------------------ .text-right ------------------------------------------------------------------------------------------ */
.text-right { text-align: right; }

/* ------------------------------------------------------------------------------------------ .text-small ------------------------------------------------------------------------------------------ */
.text-small { font-size: 11px; }

/* ------------------------------------------------------------------------------------------ .text-xlarge ------------------------------------------------------------------------------------------ */
.text-xlarge { font-size: 22px; }

/* ------------------------------------------------------------------------------------------ .text-xsmall ------------------------------------------------------------------------------------------ */
.text-xsmall { font-size: 10px; }

/* ------------------------------------------------------------------------------------------ .underline ------------------------------------------------------------------------------------------ */
.underline { border-bottom: 1px solid #dddddd; }

/* ------------------------------------------------------------------------------------------ .uppercase ------------------------------------------------------------------------------------------ */
.uppercase { text-transform: uppercase; }

/*----------------------------------------------------------------------------------
Icon CSS
----------------------------------------------------------------------------------*/
.icon { background: #fbfbfb; -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; border: 1px solid #cccccc; display: block; width: 40px; height: 56px; line-height: 36px; margin-right: 20px; font-family: Helvetica, sans-serif; /* font-size: 16px; */ font-size: 12px; font-weight: bold; color: #666666; text-decoration: none; text-align: center; vertical-align: middle; -webkit-border-radius: 0px 10px 0px 0px; -moz-border-radius: 0px 10px 0px 0px; border-radius: 0px 20px 0px 0px; }

.triangle { width: 0px; height: 0px; border-style: solid; border-width: 15px 0px 0px 15px; border-color: white white white #cccccc; margin-left: 26px; position: relative; }

/*----------------------------------------------------------------------------------
Stylized Box 1 CSS
----------------------------------------------------------------------------------*/
.alert-box { background: white; -webkit-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; -moz-box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; box-shadow: inset rgba(255, 255, 255, 0.8) 0 1px 1px; border: 1px solid #c8c8c8; display: inline; float: left; border: 5px solid #fcc236; padding: 10px; width: 180px; height: auto; margin-left: 20px; margin-bottom: 20px; font-size: 11px; font-weight: bold; }

.alert-box p { font-family: Arial, Helvetica, sans-serif; }

.pageTitleSpacer { clear: both; margin-bottom: 5px; height: 0px; }

.callout { clear: both; display: block; padding: 20px; background: #ffc057; }

th.header { background: #cdcdcd url("/ecms/images/tablesorter/neutral.gif") no-repeat right center; }

th.header:hover { background: white url("/ecms/images/tablesorter/neutral.gif") no-repeat right center; }

th.headerSortUp { background: white url("/ecms/images/tablesorter/asc.gif") no-repeat right center; }

th.headerSortDown { background: white url("/ecms/images/tablesorter/desc.gif") no-repeat right center; }

th.sorter-false, th.sorter-false:hover { background: none; }

/* Incorporating scrollpane css from sec.gov */
/* ---------------------------------------------------------------------- jscrollpane ---------------------------------------------------------------------- */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 15px; height: 100%; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 15px; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { position: relative; }

.jspDrag { position: relative; top: 0; left: 0; cursor: pointer; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; }

.jspVerticalBar .jspArrow { height: 15px; }

.jspHorizontalBar .jspArrow { width: 15px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

.jspHorizontalBar, .jspVerticalBar, .jspTrack { background: #eee; }

.jspDrag { background: #ccc; }

.jspTrack .jspActive, .jspTrack .jspHover, .jspDrag:hover { background: #bbb; }

.jspArrow { background: #dddddd url(/ecms/images/scroll-arrows-000000.gif) no-repeat; /* scrollable */ }

.jspVerticalBar > .jspActive, .jspArrow:hover { background-image: url(/ecms/images/scroll-arrows-0059ec.gif); /* hover/active */ }

.jspVerticalBar > .jspDisabled, .jspVerticalBar > .jspDisabled:hover, .jspHorizontalBar > .jspDisabled, .jspHorizontalBar > .jspDisabled:hover { background-color: #ddd; background-image: url(/ecms/images/scroll-arrows-888888.gif); /* unscrollable */ }

.jspVerticalBar .jspArrow { height: 15px; }

.jspHorizontalBar .jspArrow { width: 15px; }

.jspArrowUp { background-position: 0 0; }

.jspArrowDown { background-position: -15px 0 !important; }

.jspArrowLeft { background-position: -30px 0 !important; }

.jspArrowRight { background-position: -45px 0 !important; }

/* ---------------------------------------------------------------------- investor alert buttons ---------------------------------------------------------------------- */
.button-box { position: relative; margin: 6px; height: 96px; background-color: #273a56; font-size: 12px; line-height: 1.1; font-family: sans-serif; -webkit-font-variant-ligatures: no-common-ligatures; font-variant-ligatures: no-common-ligatures; text-align: center; }
.wf-active .button-box { font-family: 'Raleway', sans-serif; }

.button-box:hover, .button-box:focus { background-color: #2f64b2; text-decoration: none; }

.button-box .main-description { font-size: 14px; position: absolute; margin: 10px; top: 0px; left: 0; right: 0; text-align: center; }

.button-box .division-office { position: absolute; top: 72px; left: 0; right: 0; margin: 0px 10px 10px 10px; text-align: center; font-size: 12px; font-style: italic; }

.button-box .balloon { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }

.button-box > a { display: block; height: 96px; color: white; }

.button-box > a:focus { border: 2px solid #F00; color: white; }

.button-box > a::moz-focus { border: 0; }

.button-box.button-active { background-color: #1D63BB; }

.investgovDelivery input[type="text"] { width: 225px; }

.button-header { font-size: 20px; font-weight: bold; }

menu { color: red; }

navigation { background-color: #333333; }

.appIconsDetail { visibility: hidden; }

.typeahead-query input[type="search"] { font-size: 12px; }

.hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/*------------------------------------*\ LAYOUT
\*------------------------------------*/
.typeahead-container { position: relative; z-index: 998; background-color: #fff; color: rgba(0, 0, 0, 0.7); }

.typeahead-container.result, .typeahead-container.filter { z-index: 999; }

.typeahead-field { text-align: left; border-spacing: 0; border-collapse: separate; }

.typeahead-field > span { vertical-align: middle; }

.typeahead-field .typeahead-query { width: 96%; }

.typeahead-field .typeahead-filter { width: 2%; min-width: 60px; }

.typeahead-field .typeahead-button { width: 2%; min-width: 50px; }

.typeahead-result { position: absolute; top: 20px; left: 0; background-color: #fff; padding: 1px; -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset; }

.typeahead-result > ul { width: 100%; padding: 0; margin: 0; font-size: 12px; text-align: left; list-style: none; -webkit-background-clip: padding-box; background-clip: padding-box; }

.typeahead-result > ul > li:first-child { border-top: none; }

.typeahead-result > ul > li { border-top: solid 1px rgba(0, 0, 0, 0.15); margin-top: 0px !important; }

.typeahead-result > ul > li > a { display: block; padding: 6px 16px; white-space: nowrap; text-decoration: none; color: #333; clear: both; background-color: #fff; position: relative; }

.typeahead-result > ul > li.active > a { background-color: #84cfff; }

.typeahead-result > ul > li.typeahead-group a { background-color: #37a3eb; background: -webkit-linear-gradient(top, #37a3eb 0, #2181cf 100%); background: linear-gradient(to bottom, #37a3eb 0%, #2181cf 100%); font-size: 12px; color: #fff; text-transform: uppercase; font-weight: bold; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); }

.typeahead-result > ul > li > a small { position: relative; left: -9999px; padding-left: 16px; color: #b6b6b6; }

/*------------------------------------*\ INPUT, BUTTON & DROPDOWN
\*------------------------------------*/
.typeahead-container * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.typeahead-container .typeahead-filter { position: relative; }

.typeahead-container .typeahead-dropdown { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 140px; margin: 2px 0 0; font-size: 12px; text-align: left; list-style: none; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.typeahead-container .typeahead-filter { text-transform: capitalize; }

.typeahead-container .typeahead-dropdown a { display: block; padding: 7px 16px; white-space: nowrap; text-decoration: none; color: #333; text-transform: capitalize; }

.typeahead-container .typeahead-dropdown a:hover, .typeahead-container .typeahead-dropdown a:focus { color: #262626; background-color: #f5f5f5; }

.typeahead-container .caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; }

.typeahead-container .typeahead-dropdown .divider { height: 1px; overflow: hidden; background-color: #e5e5e5; }

.typeahead-container button[type="submit"] { padding: 12px 16px; margin: 0; cursor: pointer; vertical-align: middle; min-width: 60px; outline: none; border: none; background-color: #FAFAFA; text-align: center; text-decoration: none; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05))); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)); border-radius: 0 4px 4px 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease; transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease; -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset; }

.typeahead-container button[type="submit"]:hover { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08))); background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08)); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08)); color: rgba(0, 0, 0, 0.7); }

.typeahead-container .search-icon { width: 16px; height: 16px; display: block; margin: 0 auto; background: url(icon-search-16px.png) no-repeat scroll left top transparent; }

.clearall-button { font-size: 10px; background: #646464; border: none; font-weight: normal; padding: 4px; padding-right: 6px; padding-left: 6px; margin-bottom: 0px; position: relative; text-transform: uppercase; }

.jshide { display: none !important; }

input[type="text"] { width: 100%; }
input[type="text"]:focus { border: thin solid #457ea5; -webkit-box-shadow: 0px 0px 5px #457ea5; -moz-box-shadow: 0px 3px 5px #457ea5; box-shadow: 0px 0px 5px #457ea5; }

#Filter .overlabel, #Filter_bottom .overlabel, #Filter_mobile .overlabel { color: graytext; position: absolute; top: 2px; left: 5px; }
#Filter input[type=search], #Filter_bottom input[type=search], #Filter_mobile input[type=search] { display: inline-block; margin: 0px; }
#Filter input[type=search]:focus, #Filter_bottom input[type=search]:focus, #Filter_mobile input[type=search]:focus { border: thin solid #457ea5; -webkit-box-shadow: 0px 0px 5px #457ea5; -moz-box-shadow: 0px 3px 5px #457ea5; box-shadow: 0px 0px 5px #457ea5; }
#Filter select[name="year"], #Filter select[name="month"], #Filter_bottom select[name="year"], #Filter_bottom select[name="month"], #Filter_mobile select[name="year"], #Filter_mobile select[name="month"] { height: 20px; }
#Filter select[name="year"]:focus, #Filter select[name="month"]:focus, #Filter_bottom select[name="year"]:focus, #Filter_bottom select[name="month"]:focus, #Filter_mobile select[name="year"]:focus, #Filter_mobile select[name="month"]:focus { border: thin solid #457ea5; -webkit-box-shadow: 0px 0px 5px #457ea5; -moz-box-shadow: 0px 3px 5px #457ea5; box-shadow: 0px 0px 5px #457ea5; }

td.table-td span p { display: inline; }

 /* div.custom-panel-a.radius.mobileRow p[class*="SECListPageDetails"] { &, +*{
	   	display:inline;
	   } } */
#formsListTable tr p, #formsListTable tr ul { margin: 0px 0px; line-height: 1.16667em; }

#formsListTable .section-style-a-accordion { margin: 0px 0px; }

.section-style-a-accordion > section > .title-style-a:hover { background-color: #e2e2e2; }

.section-style-a-accordion > section.active > .title-style-a { background: url(/ecms/images/minus-dkblue.gif) no-repeat scroll 0 center; }

.section-style-a-accordion > section > .title-style-a { background: url(/ecms/images/plus-dkblue.gif) no-repeat scroll 0 center; padding-left: 15px; }

.section-style-a-accordion > section.active > [data-section-content], .section-style-a-accordion > section.active > .content { display: block; }

.section-style-a-accordion > section > [data-section-content], .section-style-a-accordion > section > .content { display: none; }

.person-chair, .person-commissioner, .person-other, .person-bio-history-title { font-weight: bold; }

.bioOtherTitle { font-style: italic; font-size: 75%; }

.page-header, .querymodule-header { position: relative; display: inline-block; clear: both; }

.querymodule-header { margin-bottom: -10px; }

.page-header-title { float: left; }

.page-header-actions, .querymodule-share { position: absolute; right: 0px; bottom: 4px; }

.title-header { position: relative; }

.title-addthis { position: absolute; bottom: 25px; right: 9px; }

.view-more { text-align: left; float: left; margin-bottom: 15px; }

@media all and (min-width: 700px) { .view-more { text-align: right; float: right; }
  span.userAction.hide-for-small { display: inline !important; } }
