/*
    Global navigation (see http://htmldog.com/articles/suckerfish/dropdowns/)
    */
    #global-nav2 {
      font-size:11px;
      left:149px;
      position:absolute;
      top:100px;
	  text-decoration:underline;
    }
    #global-nav2 ul {
      list-style:none;
      margin:0;
      padding:0;
    }
    #global-nav2 li {
      display:inline;
      float:left;
      height:33px;
      margin:0 10px 0 0;
      padding:0;
      position:relative;
    }
    #global-nav2 a, 
    #global-nav2 span {
      border-left:1px solid transparent;
      color:#fff;
      display:block;
      padding:7px 10px 9px 11px;
      text-transform:uppercase;
    }
    #global-nav2 a:hover {
      text-decoration:none;
    }
    #global-nav2 li ul {
      border:solid #aaa;
      border-width:0 1px 1px 1px;
      left:-999em;
      position:absolute;
      top:33px;
      width:199px;
    }
    #global-nav2 li li {
      background-color:#eee;
      height:auto;
    }
    #global-nav2 li li a, 
    #global-nav2 li li span {
      border-bottom:1px solid #ddd;
      border-left:none;
      color:#333;
      display:block;
      float:left;
      padding:9px 10px 8px 10px;
      text-transform:none;
      width:179px;
    }

        /* last link in submenu */
        #global-nav2 li li a.last {
          border-bottom:none;
        }
        /* list items on hover */
        #global-nav2 li:hover, 
        #global-nav2 li.over {
          background-color:#eee;
        }
        /* main menu links when tab is hovered over */
        #global-nav2 li:hover a, 
        #global-nav2 li.over a, 
        #global-nav2 li:hover span, 
        #global-nav2 li.over span {
          border-left:1px solid #aaa;
          color:#003768;
          padding-bottom:10px;
        }
        /* submenu when tab is hovered over */
        #global-nav2 li:hover ul, 
        #global-nav2 li.over ul {
          left:0;
        }
        /* submenu list items when main menu tab is hovered over */
        #global-nav2 li:hover li, 
        #global-nav2 li.over li {
          border:none;
        } 
        /* submenu links, span when main menu tab is hovered over */
        #global-nav2 li:hover li a, 
        #global-nav2 li.over li a, 
        #global-nav2 li:hover li span, 
        #global-nav2 li.over li span {
          background-color:#eee;
          border-left:none;
          color:#333;
          padding-bottom:8px;
        }
        /* submenu links when hovered over */
        #global-nav2 li:hover li a:hover, 
        #global-nav2 li.over li a:hover, 
        #global-nav2 li.over li a:focus, 
        #global-nav2 li.over li a:active {
          background-color:#fcc236;
        }