/* =========== HOMEPAGE CUSTOM STYLES ============
============ by Nick Doyle on 9/8/2016 =========== */

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?42826859');
  src: url('fonts/fontello/font/fontello.eot?42826859#iefix') format('embedded-opentype'),
       url('fonts/fontello/font/fontello.woff?42826859') format('woff'),
       url('fonts/fontello/font/fontello.ttf?42826859') format('truetype'),
       url('fonts/fontello/font/fontello.svg?42826859#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* UNIVERSAL
================================================== */
a:visited {color: #273a56;}
img:not([id=banner-seal]) {width: 100%;}
.no-bullet {list-style: none !important;}
.table-block {display: table !important;}
.inline-table-block {display:inline-table !important;}
.cell-block {display: table-cell !important;}
.vtop {vertical-align: top !important;}
.vcenter {vertical-align: middle !important;}
.show-for-sr {
  text-indent: -9999px;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}
.hide {display: none !important;}


/* ----------------------------------------------------------------------
   Flex Video
   ---------------------------------------------------------------------- */
.flex-video {
    position: relative;
    /*padding-top: 1.5625em;*/
    padding-bottom: 67.5%;
    height: 0;
    /*margin-bottom: 1em;*/
    overflow: hidden;
}

.flex-video.widescreen {
    padding-bottom: 56.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ----------------------------------------------------------------------
   Icons
   ---------------------------------------------------------------------- */
  .svg-icon {
    display: inline-block;
    font-family: "fontello";
    font-size: 100%; /*16px*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-transform: none;
  }
  .svg-icon-xs {font-size: 125%;} /*20px*/
  .svg-icon-sm {font-size: 187.5%;} /*30px*/
  .svg-icon-md {font-size: 250%;} /*40px*/
  .svg-icon-lg {font-size: 375%;} /*60px*/
  .svg-icon-xlg {font-size: 500%;} /*80px*/

  .svg-icon-box {display: inline-block; width: 16px !important; height: 16px !important;}
  .svg-icon-box-xs {width: 20px !important; height: 20px !important;}
  .svg-icon-box-sm {width: 30px !important; height: 30px !important;}
  .svg-icon-box-md {width: 40px !important; height: 40px !important;}
  .svg-icon-box-lg {width: 60px !important; height: 60px !important;}
  .svg-icon-box-xlg {width: 80px !important; height: 80px !important;}


  /* Edgar Search Button Icon */
  #edgar button > i {background-color: transparent; color: rgb(255, 255, 255);}
  #edgar button:hover > i, #edgar button:focus > i {color: rgb(39, 58, 86);}

  /* Tips/Complaints/Admin Button Icons */
  .custom-btn > i {color: #273A56;}
  .custom-btn:hover > i, .custom-btn:focus > i {color:#FFC057;}

  /* Footer Social Icons */
  .footer-icon {
    background-color: #2f64b2;
    border-radius: 4px;
    color: #fff;
  }
  #global-footer-social a {padding: .5em .25em;}
    /* Less than 700px */
    @media only screen and (max-width: 700px) {
      #global-footer-social a {padding: .5em;}
    }
  #global-footer-social a:hover span > span,
  #global-footer-social a:focus span > span {color: #FFF !important; text-decoration: underline;}
  #global-footer-social a:hover i.footer-icon,
  #global-footer-social a:focus i.footer-icon {background-color: #FFC057; color: #273a56 !important;}
  i.footer-icon + span > span {padding: 0 0 0 .5em;}

/* ----------------------------------------------------------------------
   Typography
   ---------------------------------------------------------------------- */
  .text-uppercase {text-transform: uppercase;}
  .text-capitalize {text-transform: capitalize;}
  #spotlight-request-info-block h2, #news-releases h2 {color: #273a56; font-weight: 300 !important; letter-spacing: -0.01em;}
  #spotlight-request-info-block h2 > a, #news-releases h2 > a {font-size: 95%; font-weight: inherit;}
  #spotlight-request-info-block h2 > a:hover, #news-releases h2 > a:focus {color: #2F64B2;}

/* ----------------------------------------------------------------------
   MOBILE NAV
   ---------------------------------------------------------------------- */

  /* Mobile Header */
  #global-header {margin-bottom: 0em !important;}
  #smallTopBar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,f6f6f6+50,e9e9e9+100 */
    background: #e9e9e9 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #e9e9e9 0%, #f6f6f6 50%, #e9e9e9 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #e9e9e9 0%,#f6f6f6 50%,#e9e9e9 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #e9e9e9 0%,#f6f6f6 50%,#e9e9e9 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 */
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
  }
  h1#pageTitle {
    color: #273a56;
    line-height: inherit;
    margin-top: 0;
    padding: .25em 0
  }
    /* Less than 700px */
    @media only screen and (max-width: 700px) {
      #global-header {height: 87px !important;}
      #sidebarOffCanvas {top: 87px !important;}
    }


/* ----------------------------------------------------------------------
   Carousel Slider - SlickJS
   ---------------------------------------------------------------------- */
  .slick-slide {
    position: relative;
    z-index: 4998;
    overflow: hidden;
  }
  .slick-slide figure.image img {
    /* Safari hack */
    left: -1px !important;
    position: relative;
  }
  .slick-prev:before, .slick-next:before {
    color: rgba(255, 255, 255, .5);
    display: block;
    font-family: "fontello";
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    speak: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: none;
  }
  .slick-prev:hover:before, .slick-next:hover:before,
  .slick-prev:focus:before, .slick-next:focus:before {
    color: rgba(255, 255, 255, 1);
  }
  .slick-prev, .slick-next {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 0;
    height: 30px;
    line-height: 0;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 15px);
    width: 30px;
    z-index: 4999;
  }
  .slick-prev:hover, .slick-next:hover,
  .slick-prev:active, .slick-next:active,
  .slick-prev:focus, .slick-next:focus {
    background-color: inherit;
    border: inherit;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
  }
  .slick-prev:before {
    content: "\66" !important;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next:before {
    content: "\67" !important;
  }
  .slick-next {
    right: 0;
  }
    /* Less than 800px */
    @media only screen and (max-width: 800px) {
      .slick-prev, .slick-next {
        top: calc(50% - 20px);
        height: 40px;
        width: 40px;
      }
      .slick-prev:before {
        padding-left: .5em;
      }
      .slick-next:before {
        padding-right: .5em;
      }
    }
    /* Between 700px and 800px */
    @media only screen and (max-width: 800px) and (min-width: 700px) {
      .slick-prev:before {
        padding-left: 0 !important;
      }
      .slick-next:before {
        padding-right: 0 !important;
      }
    }
  .slick-dots {
    height: 25px;
    position: absolute;
    top: .8333em;
    left: .8333em;
    margin-bottom: 0;
    z-index: 4999;
  }
    @media only screen and (max-width: 700px) {
      .slick-dots {
        left: 1.6666em;
      }
    }
    @media only screen and (max-width: 800px) {
      .slick-dots {
        height: 30px;
      }
    }
  .slick-dots li {
    display: inline-block;
    height: inherit;
    list-style: none;
    list-style-type: none;
    margin-right: 5px;
    width: 25px;
  }
  .slick-dots li button {
    background-color:#ddd;
    border: none;
    color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px 0px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px 0px inset;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    background-color:#fff;
  }
  .slick-dots li.slick-active button,
  .slick-dots li.slick-active button:focus {
    background-color: rgba(56, 60, 63, .6);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px 0px inset;
    color: #fff;
  }
    @media only screen and (max-width: 800px) {
      .slick-dots li {
        margin-right: 10px;
        width: 30px;
      }
    }
  .slick-dots button {
    border-radius: 4px;
    height: inherit;
    /*line-height: inherit; */
    margin-bottom: 0;
    padding: 0;
    width: inherit;
  }
  .slick-slide > figure.image > a {
    z-index: inherit;
  }
  .slick-slide figcaption {
    background: rgba(0, 0, 0, 0.5) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1 ); /* IE6-9 */
    bottom: 0;
    left: 0;
    padding: .8333em;
    position: absolute;
    width: 100%;
    z-index: 4999;
  }
  .slick-slide figcaption.alt-style-2 {
    background: transparent !important;
    filter: none; /* IE6-9 */
    padding: 0 3em 2em;
    padding-right: calc(50% - 3em) !important;
  }

  .slick-slide figcaption.alt-style-2 > a.button {
    margin-bottom: 0em;
    margin-top: 1em;
    background-color: #f04b44;
    padding: 1.5em !important;
    font-size: 1.2em;
    border: 4px solid #fff;
    font-weight: 600;
  }
  .slick-slide figcaption.alt-style-2 > a:hover,
  .slick-slide figcaption.alt-style-2 > a:focus {
    background-color: #2f64b2;
  }
  .slick-slide figcaption h2 {
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
  }
  .slick-slide figcaption h2 a {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  .slick-slide figcaption p {
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    margin: .5em 0;
  }
  .slick-slide figcaption.alt-style-2 h2 {
    font-size: 2em;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }
    /* Less than 600px */
    @media only screen and (max-width: 600px) {
      .slick-slide figcaption.alt-style-2 {
        padding: 0 3em 2em 3em !important;
      }
      .slick-slide figcaption.alt-style-2 h2 {
        font-size: 1.6em;
      }
      .slick-slide figcaption.alt-style-2 p {
        font-size: 1.2em;
      }
      .slick-slide figcaption.alt-style-2 > a.button {
        font-size: 1em;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    /* Less than 500px */
    @media only screen and (max-width: 500px) {
      .slick-slide figcaption {padding: .5em;}
      .slick-slide figcaption h2 {
        font-size: 1.4em;
      }
      .slick-slide figcaption.alt-style-2 h2 {
        font-size: 1.4em;
        font-weight: bold;
      }
      .slick-slide figcaption.alt-style-2 p {
        font-size: 1em;
      }
      .slick-slide figcaption.alt-style-2 > a.button{
        padding: 1em !important;
        font-size: 1em;
        border: 2px solid #fff;
      }
    }
    /* Less than 400px */
    @media only screen and (max-width: 400px) {
      .slick-slide figcaption.alt-style-2 {
        padding: 0 3em .8333em 3em !important;
      }
      .slick-slide figcaption h2 {
        font-size: 1.2em;
        letter-spacing: -.025em;
      }
      .slick-slide figcaption.alt-style-2 h2 {
        font-size: 1.1em;
      }
      .slick-slide figcaption p {
        font-size: 1em;
      }
      .slick-slide figcaption.alt-style-2 p {
        font-size: .75em;
        margin: .25em 0;
      }
      .slick-slide figcaption.alt-style-2 > a.button{
        font-size: .8em;
        margin-top: .5em;
      }
    }


/* ----------------------------------------------------------------------
   Content Blocks
   ---------------------------------------------------------------------- */
  #slider, #media-story {
    margin-top: 1.66666em;
    margin-bottom: 1.66666em;
  }
  #news-releases, #edgar, #subscribe,
  #admin-proceedings, #tips-complaints {
    margin-top: 0;
    margin-bottom: 1.66666em;
  }
    /* Less than 800px */
    @media only screen and (max-width: 800px) {
      #media-story {
        margin-top: 0;
        margin-bottom: 0.83333em;
      }
      #slider, #spotlight-request-info-block, #news-releases, #edgar, #subscribe,
      #admin-proceedings, #tips-complaints {
        margin-top: 0.83333em;
        margin-bottom: 0.83333em;
      }
    }
    /* Less than 700px */
    @media only screen and (max-width: 700px) {
      #media-story {
        margin-top: 0.83333em;
        margin-bottom: 0.83333em;
      }
    }

  #spotlight, #req-pub-comment, #info {
    margin-bottom: 1.66666em;
  }
  #info > [class*="block-grid-"] > li {
    padding-bottom: 0.8333em;
  }

  #news {min-height: 100px;}
  #news ul li,
  #spotlight-request-info-block ul li {margin-bottom: 1em;}

  #news .date,
  .news .date {
    display: block;
    font-size: 1.1em; /*13px*/
    color: #646464;
    font-weight: 600;
  }

  .news ul {
    margin-bottom: 1em;
  }

  figure.panel, .alert-box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,f6f6f6+50,e9e9e9+100 */
    background: #e9e9e9 !important; /* Old browsers */
    background: -moz-linear-gradient(left,  #e9e9e9 0%, #f6f6f6 50%, #e9e9e9 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #e9e9e9 0%,#f6f6f6 50%,#e9e9e9 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #e9e9e9 0%,#f6f6f6 50%,#e9e9e9 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 */
  }
  figure.panel {/*display: inline-table;*/ display: block; margin: 0;}
  figure.panel figcaption {color: #585858; padding: 1.5em;}


/* ----------------------------------------------------------------------
   Custom Buttons
   ---------------------------------------------------------------------- */
  .custom-btn {background-color: #273A56; box-shadow: none; display: table; padding: 0 !important; -webkit-box-shadow: none;}
  .custom-btn, .custom-btn:visited, .custom-btn:hover, .custom-btn:focus {color:#FFF; font-weight: normal; text-decoration: none;}
  .custom-btn > .svg-icon + span {
    font-size: 1.25em;
    font-weight: 100;
    line-height: 1.25;
    padding: 0 2em 0 .5em;
    height: 80px;
    width: calc(100%-80px);
  }
  .custom-btn:hover > .svg-icon + span, .custom-btn:focus > .svg-icon + span {color:#FFF;}
  .custom-btn.expand {border:none;}
  .custom-btn.admin-proceedings,
  .custom-btn.tip-complaint {
    background-color: #e9e9e9;
    color:#273A56;
    margin-bottom: 0;
  }
  .custom-btn.admin-proceedings:hover, .custom-btn.admin-proceedings:focus, .custom-btn.tip-complaint:hover, .custom-btn.tip-complaint:focus {background-color: #273A56;}
  /*.custom-btn:hover > img.svg-icon {background-color:#FFC057;}*/
  .custom-btn:hover > img.svg-icon, .custom-btn:focus > img.svg-icon {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1); /* IE6-9 */
  }

/* ----------------------------------------------------------------------
   Alerts
   ---------------------------------------------------------------------- */
  .alert-box {
    border:none;
    display: block;
    float: none;
    padding: 1.5em;
    position: relative;
    margin: 0 0 1.66666em;
    width: 100%;
  }
  #alert .alert-box {
    margin-top: 1.66666em;
  }
    /* Less than 800px */
    @media only screen and (max-width: 800px) {
      #alert .alert-box.webcast {margin-top: 0; margin-bottom: .83333em;}
    }
    /* Less than 700px */
    @media only screen and (max-width: 700px) {
      #alert .alert-box {margin-top: .83333em !important; margin-bottom: .83333em;}
    }
  .alert-box:not(.webcast):before {
    content:"";
    display: inline-block;
    height: calc(100% - 3em);
    position: absolute;
    top:0;
    left:0;
    margin-left: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width:5px;
  }
  .alert-box.error:before {background-color: #b10000;}
  .alert-box.notice:before {background-color: #ffc057;}
  .alert-box.complete:before {background-color: #589f73;}

  .alert-box:not(.webcast) {border-radius: 4px; padding-left: calc(3em + 5px);}

  .alert-box.error h2 {color: #b10000;}
  .alert-box.notice h2 {color: #ffc057;}
  .alert-box.complete h2 {color: #589f73;}

  .alert-box.webcast > .table-block {
    margin-bottom: 1em;
  }
  .alert-box.webcast h2 {color: #273a56; font-size: 1.75em; padding-right: .5em;}
  .alert-box.webcast h2:before {
    content: "\f03d";
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: .25em;
  }
    /* Less than 800px */
    @media only screen and (max-width: 800px) {
      .alert-box.webcast h2 {font-size: 2em;}
    }
  .alert-box.webcast date {
    border-left: 2px solid #2f64b2;
    padding-left: 1em;
  }
  .alert-box h2 {font-size: 2em; /*22px*/ line-height: 1; /*22px*/ margin-bottom: .5em; /*11px*/}
  .alert-box p {color: #101f36; font-size: 1.2em; /*15px*/ font-weight: normal; line-height: 1.2; /*19px*/ margin-bottom: .7em; /*8px*/}


/* ----------------------------------------------------------------------
   EDGAR SEARCH
   ---------------------------------------------------------------------- */
  #edgar .panel {
    background-color:#273a56;
    margin: 0;
    padding: 1.5em;
  }
  #edgar h2 {font-size:2em; line-height:1; margin-bottom: .25em;}
  #edgar h2 a {color: #fff; font-size: 100%; font-weight: 300;}
  #edgar p {color: #fff; font-size: 1.2em;}
  #edgar .row.collapse {margin-bottom: 1em;}
  #edgar input[type='text'] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    -moz-box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    color:#b1b1b1;
    /*content:"Company Name";*/
    height: 40px;
    margin: 0;
    padding: .5em;
  }
  #edgar input[type='text']:focus {color:#000; /*content:"";*/}
  #edgar button {background-color: #FFC057; border: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px; height: 40px !important; margin-bottom: 0; min-width: 40px !important; float: right;}
  #edgar button:hover, #edgar button:focus {background-color: #ffc057; }
  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .tt-hint {
    color: #999
  }
  .tt-menu {
    width: inherit;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }
  .tt-suggestion {
    padding: 3px 20px;
    font-size: 1em;
    line-height: 24px;
  }
  .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2f64b2;
  }
  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #2f64b2;
  }
  .tt-suggestion p {
    margin: 0;
  }
  .twitter-typeahead {
    width: 100%;
  }



  /* ----------------------------------------------------------------------
   EMAIL SUBSCRIBE
   ---------------------------------------------------------------------- */
  #subscribe .panel {
    background-color:#e9e9e9;
    margin: 0;
    padding: 1.5em;
  }
  #subscribe h2 {color: #273A56; font-size:2em; font-weight: 300; line-height:1; margin-bottom: .25em;}
  #subscribe p {color: #273A56; font-size: 1.2em;}
  #subscribe .row.collapse {margin-bottom: 1em;}
  #subscribe input[type='text'] {
    border-radius: 4px;
    -webkit-box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    -moz-box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    box-shadow: inset rgba(0, 0, 0, .3) 2px 2px 3px –1px;
    color:#b1b1b1;
    height: 40px;
    margin: 0;
    padding: .5em;
  }
  #subscribe input[type='text']:focus {color:#000; /*content:"";*/}
  #subscribe input[type='submit'] {background-color: #2f64b2; border: none; border-radius: 4px; box-shadow: none; -webkit-box-shadow:none; float:right; margin-bottom: 0;}
  #subscribe input[type='submit']:hover, #subscribe input[type='submit']:focus {background-color: #273A56; }
