@charset "Shift_JIS";

/* -----------------------------------------------------

 Support Class

----------------------------------------------------- */
.indent {
  text-indent: 1em;
}

.underline {
  text-decoration: underline;
}

.fontS {
  font-size: 92%;
}

.fontSS {
  font-size: 91%;
}

.font13 {
  font-size: 100%;
}

.fontL {
  font-size: 123%;
}

/* ----- Position Adjust ----- */
.al {
  text-align: left !important;
}

.ac {
  text-align: center !important;
}

.ar {
  text-align: right !important;
}

.at {
  vertical-align: top !important;
}

.am {
  vertical-align: middle !important;
}

.ab {
  vertical-align: bottom !important;
}

/* ----- Margin Adjust ----- */
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mt105 {
  margin-top: 105px !important;
}

.mr105 {
  margin-right: 105px !important;
}

.mb105 {
  margin-bottom: 105px !important;
}

.ml105 {
  margin-left: 105px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mr110 {
  margin-right: 110px !important;
}

.mb110 {
  margin-bottom: 110px !important;
}

.ml110 {
  margin-left: 110px !important;
}

.mt115 {
  margin-top: 115px !important;
}

.mr115 {
  margin-right: 115px !important;
}

.mb115 {
  margin-bottom: 115px !important;
}

.ml115 {
  margin-left: 115px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mr120 {
  margin-right: 120px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.ml120 {
  margin-left: 120px !important;
}

.mt125 {
  margin-top: 125px !important;
}

.mr125 {
  margin-right: 125px !important;
}

.mb125 {
  margin-bottom: 125px !important;
}

.ml125 {
  margin-left: 125px !important;
}

.mt130 {
  margin-top: 130px !important;
}

.mr130 {
  margin-right: 130px !important;
}

.mb130 {
  margin-bottom: 130px !important;
}

.ml130 {
  margin-left: 130px !important;
}

.mt135 {
  margin-top: 135px !important;
}

.mr135 {
  margin-right: 135px !important;
}

.mb135 {
  margin-bottom: 135px !important;
}

.ml135 {
  margin-left: 135px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mr140 {
  margin-right: 140px !important;
}

.mb140 {
  margin-bottom: 140px !important;
}

.ml140 {
  margin-left: 140px !important;
}

.mt145 {
  margin-top: 145px !important;
}

.mr145 {
  margin-right: 145px !important;
}

.mb145 {
  margin-bottom: 145px !important;
}

.ml145 {
  margin-left: 145px !important;
}

.mt150 {
  margin-top: 150px !important;
}

.mr150 {
  margin-right: 150px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.ml150 {
  margin-left: 150px !important;
}

.mt5- {
  margin-top: -5px !important;
}

.mb5- {
  margin-bottom: -5px !important;
}

.mt10- {
  margin-top: -10px !important;
}

.mb10- {
  margin-bottom: -10px !important;
}

.mt15- {
  margin-top: -15px !important;
}

.mb15- {
  margin-bottom: -15px !important;
}

.mt20- {
  margin-top: -20px !important;
}

.mb20- {
  margin-bottom: -20px !important;
}

.mt25- {
  margin-top: -25px !important;
}

.mb25- {
  margin-bottom: -25px !important;
}

.mt30- {
  margin-top: -30px !important;
}

.mb30- {
  margin-bottom: -30px !important;
}

.mt35- {
  margin-top: -35px !important;
}

.mb35- {
  margin-bottom: -35px !important;
}

.mt40- {
  margin-top: -40px !important;
}

.mb40- {
  margin-bottom: -40px !important;
}

.mt45- {
  margin-top: -45px !important;
}

.mb45- {
  margin-bottom: -45px !important;
}

.mt50- {
  margin-top: -50px !important;
}

.mb50- {
  margin-bottom: -50px !important;
}

/* ----- Padding Adjust ----- */
.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

/* ----- Width Adjust ----- */
.w-5per {
  width: 5% !important;
}

.w-10per {
  width: 10% !important;
}

.w-15per {
  width: 15% !important;
}

.w-20per {
  width: 20% !important;
}

.w-25per {
  width: 25% !important;
}

.w-30per {
  width: 30% !important;
}

.w-35per {
  width: 35% !important;
}

.w-40per {
  width: 40% !important;
}

.w-45per {
  width: 45% !important;
}

.w-50per {
  width: 50% !important;
}

.w-55per {
  width: 55% !important;
}

.w-60per {
  width: 60% !important;
}

.w-65per {
  width: 65% !important;
}

.w-70per {
  width: 70% !important;
}

.w-75per {
  width: 75% !important;
}

.w-80per {
  width: 80% !important;
}

.w-85per {
  width: 85% !important;
}

.w-90per {
  width: 90% !important;
}

.w-95per {
  width: 95% !important;
}

.w-100per {
  width: 100% !important;
}

/* ----- font-size ----- */
.fts-65per{
  font-size:65%;
}
.fts-107per{
  font-size:107%;
}
.fts-120per{
  font-size:120%;
}

/* ----- RWD Adjust ----- */
.rwd .sp-only {
  display: none;
}

/* ----- Border ----- */
.brdb {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}

.bb-none{
  border-bottom:none !important;
}

/* ----- reset link color ----- */
body.gateway .link-color-cancel a{
  color: #584916;
}
body.gateway .link-color-cancel a:hover, body.gateway a:active, body.gateway a:focus {
  color: #ff3c00;
}
body .link-color-cancel a{
  color: #292726;
}
body .link-color-cancel a:hover, body.gateway a:active, body.gateway a:focus {
  color: #ff3c00;
}

/* ----- Display ( for campaign.js ) ----- */
.open {
  display: block;
}

.close {
  display: none;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.cf_ie6 {
  clear: both;
}
.cf_ie6:after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
}

.hide {
  display:none;
}


/* -----------------------------------------------------

 for campaign

----------------------------------------------------- */
.remove_cp_item {
  display:none !important;
}

.js-cp-item {
*width: 237px !important;
}

.js-cp-item img {
*width: 227px !important;
}

.js-cp-item a {
*width: 220px !important;
}

.js-cp-item .ttl {
 *display: inline !important;
 *zoom: 1 !important;
}



/* -----------------------------------------------------
　　　　　　　　保護画像のスタイル
----------------------------------------------------- */
.no-reproduction .rwd-support{
background-size: 100%;
margin: auto;
}

/*end*/