@charset "Shift_JIS";

/* -----------------------------------------------------

reset

----------------------------------------------------- */
/* Base Style
----------------------------------------------------- */
/* ----- html,body ----- */
html {
  margin: 0;
  padding: 0;
  font-size: 13px;
  *font-size: 81.25%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #292726;
  font-family: \30e1\30a4\30ea\30aa, \30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33, "Hiragino Kaku Gothic Pro", \FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF, Arial, sans-serif;
  line-height: 1.62;
  -webkit-text-size-adjust:100%;
}

h1, h2, h3, h4, h5, h6, dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

ul, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input, select {
  font-family: \30e1\30a4\30ea\30aa, \30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33, "Hiragino Kaku Gothic Pro", \FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF, Arial, sans-serif;
  vertical-align: middle;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

img.pm100 {
  width:100px !important;
  height:100px !important;
}

em {
  font-weight: bold;
  font-style: normal;
}

strong {
  font-weight: bold;
  color: #ff3c00;
}

/* ----- sub,sup ----- */
sub,
sup {
  position: relative;
  font-size: 85%;
  vertical-align: baseline;
}

sub {
  top: 4px;
}

sup {
  top: -4px;
}

/* ----- link ----- */
a {
  color: #024d99;
}
p a {
  text-decoration: underline;
}

a:link {
  color: #024d99;
}
p a:link {
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  color: #ff3c00;
}

a[href^='tel:'] {
  display: inline;
  text-decoration: underline;
}

button {
  font-family: \30e1\30a4\30ea\30aa, \30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33, "Hiragino Kaku Gothic Pro", \FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF, Arial, sans-serif;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: none;
}

dl, ul, li, dt, dd {
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

table {
  margin-bottom: 26.2px;
  border-collapse: collapse;
  font-size: 100%;
}

th, td {
  empty-cells: show;
}

form {
  *margin-bottom: 0;
  *padding: 0;
}

/* -----------------------------------------------------

 Support Style - hasLayout switch

----------------------------------------------------- */
/* ----- hasLayout Switch ----- */
h1, h2, h3, h4, h5, h6,
blockquote, div,
ul, ol, dl, dt, dd,
table, th, td,
form, fieldset, legend, label {
  *zoom: 1;
}

ul li,
ol li {
  zoom: normal;
}


/* -----------------------------------------------------

desktop

----------------------------------------------------- */
#header .header-content,
#nav-global ul,
#nav-global-sub ul,
#nav-location,
#content,
#footer .nav-footer .nav-content,
#footer .info-site{
  max-width:1000px;
  width:auto;
}

@media (max-width:1028px){
#content-main{
  padding-left:14px;
  padding-right:14px;
  box-sizing:border-box;
}
}

/* #home */
body#home #content{
  margin-top:20px;
  max-width:none;
}
body#home #content #content-main {
  float: none;
  width: 100%;
}


@media (max-width:1028px){
#header .header-content{
  padding-left:14px;
  padding-right:14px;
}
}
@media (max-width:640px){
#header .header-content{
  padding-left:0;
  padding-right:0;
}
}

@media (max-width:767px){
#header .group-utility ul.utility-01{
  font-size:90%;
}
#header .group-utility ul.utility-01 li{
  margin-left:13px;
}
#header .group-utility ul.utility-02 li{
  padding-right:15px;
}
#header .group-utility ul.utility-02 li a{
  font-size:82%;
}
}
@media (max-width:640px){
#header .group-utility ul.utility-02 li a{
  font-size:92%;
}
}

#nav-global{
  min-width:inherit;
}
@media (max-width:900px){
#header #nav-global ul{
  display:table;
  width:100%;
  box-sizing:border-box;
}
#header #nav-global ul li{
  display:table-cell;
  float:none;
  vertical-align:middle;
}
#header #nav-global ul li a span{
  right:0;
  padding:2px 14px;
  text-align:center;
}
#header #nav-global ul li.home a span,
#header #nav-global ul li.home_bus a span,
#header #nav-global ul li.home_par a span{
  padding-left:14px;
  min-width:3em;
}
#header #nav-global ul li:last-child a span{
  border-right:none;
}
#header #nav-global ul li a:hover span, #header #nav-global ul li a:focus span{
  padding-right:14px;
}
#header #nav-global ul li.current{
  border-top:#ff3c00 4px solid;
  background:#6e6c6b;
  padding-top:0;
}
#header #nav-global ul li.current a{
  padding-top:4px;
  color:white;
  text-shadow:-1px -1px 1px #54514f;
  background:none;
}
#header #nav-global ul li.current span{
  border:none;
  padding-right:14px;
}
}
@media (max-width:640px){
#header #nav-global ul{
  display:block;
}
#header #nav-global ul li{
  display:block;
}
#header #nav-global ul li a span{
  text-align:left;
  right:-1px;
}
#header #nav-global ul li a:hover span, #header #nav-global ul li a:focus span{
  padding-right:14px;
}
}

#header #nav-global-sub{
  min-width:inherit;
}

#footer{
  min-width:inherit;
}
@media (max-width:1028px){
#footer .nav-footer div.nav-content,
#footer .info-site{
  padding-left:14px;
  padding-right:14px;
}
}

@media (max-width:1028px){
#footer .nav-footer ul.dir{
  background-size:contain;
}
#footer .nav-footer ul.dir li{
  width:25%;
  box-sizing:border-box;
}
#footer .nav-footer ul.dir > li:nth-child(3){
  width:26%;
}
#footer .nav-footer ul.dir li.dir-campaign,
#footer .nav-footer ul.dir li.dir-support,
#footer .nav-footer ul.dir li.dir-other{
  width:24%;
  float:left;
  overflow:inherit;
  padding-right:18px;
}
#footer .nav-footer ul.dir li.dir-support{
  border-bottom:none;
}
}
/* tabletで3カラムにする場合 */
/*
@media (max-width:1020px){
#footer .nav-footer ul.dir li{
  width:33%;
  box-sizing:border-box;
}
#footer .nav-footer ul.dir li.dir-campaign,
#footer .nav-footer ul.dir li.dir-support,
#footer .nav-footer ul.dir li.dir-other{
  float:left;
  overflow:inherit;
  padding-right:18px;
}
#footer .nav-footer ul.dir li.dir-support{
  border-bottom:none;
}
#footer .nav-footer ul.dir li.dir-other{
  border-top:none;
  padding-right:18px;
  padding-top:0;
  width:33%;
}
}
*/
@media (max-width:767px){
#footer .nav-footer ul.dir{
  background:none;
}
#footer .nav-footer ul.dir li{
  width:50%;
}
#footer .nav-footer ul.dir > li:nth-child(3),
#footer .nav-footer ul.dir li.dir-campaign,
#footer .nav-footer ul.dir li.dir-support,
#footer .nav-footer ul.dir li.dir-other{
  width:50%;
}
#footer .nav-footer ul.dir li:nth-child(3),
#footer .nav-footer ul.dir li.dir-campaign{
  margin-top:30px;
}
#footer .nav-footer ul.dir li.dir-support,
#footer .nav-footer ul.dir li.dir-other{
  float:none;
  overflow:hidden;
  padding-right:0;
}
#footer .nav-footer ul.dir li.dir-other{
  border-top:1px solid #E0DFDE;
  padding-top:10px;
  padding-left:0;
  padding-right:0;
  position:relative;
}
#footer .nav-footer ul.dir li.dir-other:before{
  content:"";
  position:absolute;
  top:1px;
  left:0;
  display:block;
  height:1px;
  width:100%;
  background:#fff;
}
}
@media (max-width:640px){
#footer .nav-footer ul.dir li:nth-child(3),
#footer .nav-footer ul.dir li.dir-campaign{
  margin-top:0;
}
}

#footer .info-site .copyright{
  left:auto;
  right:10px;
}
@media (max-width:767px){
#footer .info-site{
  position:static;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding-right:14px;
  padding-left:14px;
}
#footer .info-site ul.utility{
  margin-right:0;
}
#footer .info-site ul.utility li{
  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:50%;
  margin-right:0;
  margin-bottom:5px;
  padding-right:16px;
}
#footer .info-site .copyright{
  position:static;
  text-align:center;
}
}

.attention-browser-01{
  text-align:center;
  color:#ff3c00;
  font-weight:bold;
}

#sp-login-menu-body .str-nav{
  padding:14px;
}
dl.nav-eorico-02{
  border-left:solid 1px #e0e0e0;
  border-right:solid 1px #e0e0e0;
  border-bottom:solid 1px #e0e0e0;
  position:relative;
  padding:24px 0;
  margin-bottom:12px;
  box-sizing:border-box;
}
@media (max-width:767px){
dl.nav-eorico-02{
  margin-bottom:5px;
}
}
dl.nav-eorico-02:before{
  position:absolute;
  content:"";
  display:block;
  background:#fc7c26;
  background:-moz-linear-gradient(left,  #fc7c26 0%, #fcbd3f 100%);
  background:-webkit-linear-gradient(left,  #fc7c26 0%,#fcbd3f 100%);
  background:linear-gradient(to right,  #fc7c26 0%,#fcbd3f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7c26', endColorstr='#fcbd3f',GradientType=1 );
  top:0;
  left:-1px;
  width:100%;
  box-sizing:content-box;
  padding:0 1px;
  height:4px;
}
dl.nav-eorico-02 dt,
dl.nav-eorico-02 dd{
  text-align:center;
  margin-bottom:0;
}
dl.nav-eorico-02 dt{
  margin-bottom:14px;
}
@media (max-width:767px){
dl.nav-eorico-02 dt{
  margin-bottom:17px;
}
}
dl.nav-eorico-02 dd ul.navlist{
  margin-bottom:0;
}
dl.nav-eorico-02 dd ul.navlist li{
  text-align:center;
}
dl.nav-eorico-02 dd ul.navlist li.detail{
  margin-bottom:18px;
  font-size:92.3%;
  line-height:1.1;
}
@media (max-width:767px){
dl.nav-eorico-02 dd ul.navlist li.detail{
  margin-bottom:22px;
}
}
dl.nav-eorico-02 dd ul.navlist li.detail a{
  padding-left:12px;
  position:relative;
  text-decoration:none;
  color:#292726;
}
dl.nav-eorico-02 dd ul.navlist li.detail a:hover{
  text-decoration:underline;
}
dl.nav-eorico-02 dd ul.navlist li.detail a:before{
  position:absolute;
  content:"";
  display:block;
  top:0.4em;
  left:0;
  border-right:solid 2px #fc8433;
  border-top:solid 2px #fc8433;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
dl.nav-eorico-02 dd ul.navlist li.login{
  margin-bottom:20px;
  line-height:1.3;
}
dl.nav-eorico-02 dd ul.navlist li.login a{
  display:block;
  background:#ff3c00;
  background:-moz-linear-gradient(left,  #ff3c00 0%, #fc7c26 100%);
  background:-webkit-linear-gradient(left,  #ff3c00 0%,#fc7c26 100%);
  background:linear-gradient(to right,  #ff3c00 0%,#fc7c26 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3c00', endColorstr='#fc7c26',GradientType=1 );
  color:#fff;
  position:relative;
  font-size:123%;
  width:100%;
  box-sizing:content-box;
  padding:17px 1px 15px;
  margin-left:-1px;
  text-decoration:none;
}
@media (max-width:767px){
dl.nav-eorico-02 dd ul.navlist li.login a{
  padding:27px 1px 25px;
  font-size:115.3%;
}
}
@media (max-width:920px){
dl.nav-eorico-02 dd ul.navlist li.login a span.txt{
  display:inline-block;
  padding-right:35px;
  padding-left:10px;
  letter-spacing:-2px;
}
}
@media (max-width:767px){
dl.nav-eorico-02 dd ul.navlist li.login a span.txt{
  display:inline;
  padding-right:0;
  padding-left:0;
  letter-spacing:normal;
}
}
dl.nav-eorico-02 dd ul.navlist li.login a:before{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  border:solid 1px #fff;
  border-radius:8px;
  right:16px;
  width:15px;
  height:15px;
  margin-top:-7px;
}
dl.nav-eorico-02 dd ul.navlist li.login a:after{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  margin-top:-1px;
  right:23px;
  border-right:solid 1px #fff;
  border-top:solid 1px #fff;
  transform:rotate(45deg);
  width:4px;
  height:4px;
}
dl.nav-eorico-02 dd ul.navlist li.login a:hover{
  opacity:0.7;
  transition:all 0.6s;
}
dl.nav-eorico-02 dd ul.navlist li.regist{
  margin-bottom:23px;
}
dl.nav-eorico-02 dd ul.navlist li.regist a{
  border:solid 1px #999999;
  border-radius:20px;
  display:inline-block;
  width:90%;
  padding:9px 0 5px;
  font-size:107.6%;
  position:relative;
  text-decoration:none;
  color:#292726;
}
dl.nav-eorico-02 dd ul.navlist li.regist a:before{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  margin-top:-4px;
  right:15px;
  border-right:solid 1px #999;
  border-top:solid 1px #999;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
dl.nav-eorico-02 dd ul.navlist li.regist a:hover{
  border:solid 1px #fc7c26;
}
dl.nav-eorico-02 dd ul.navlist li.regist a:hover:before{
  border-right:solid 1px #fc7c26;
  border-top:solid 1px #fc7c26;
}
@media (max-width:920px){
dl.nav-eorico-02 dd ul.navlist li.regist a{
  font-size:92.3%;
}
}
@media (max-width:767px){
dl.nav-eorico-02 dd ul.navlist li.regist a{
  font-size:107.6%;
}
}
dl.nav-eorico-02 dd ul.navlist li.forget{
  font-size:92.3%;
  line-height:1.3;
  margin-bottom:0;
  padding:0 10px;
}
dl.nav-eorico-02 dd ul.navlist li.forget a{
  padding-left:22px;
  position:relative;
  text-decoration:none;
  color:#292726;
  display:inline-block;
  text-align:left;
}
dl.nav-eorico-02 dd ul.navlist li.forget a:hover{
  text-decoration:underline;
}
dl.nav-eorico-02 dd ul.navlist li.forget a:before{
  position:absolute;
  content:"";
  display:block;
  background:url(/shared2016/css/images/icon-attention_01.png) no-repeat 0 0;
  background-size:contain;
  top:0.7em;
  left:0;
  width:15px;
  height:15px;
}

.list-btn-eorico-01 li{
  margin-bottom:12px;
  position:relative;
}
@media (max-width:767px){
.list-btn-eorico-01 li{
  margin-bottom:5px;
}
}
.list-btn-eorico-01 li img{
  vertical-align:bottom;
}
.list-btn-eorico-01 li a{
  display:block;
  border:solid 1px #e0e0e0;
  text-align:center;
  padding-bottom:17px;
  position:relative;
}
.list-btn-eorico-01 li a:hover{
  border:#e83a18 solid 1px;
}
.list-btn-eorico-01 li.point a:hover{
  border:#cd002c solid 1px;
}
.list-btn-eorico-01 li.app a:hover{
  border:#ff3c00 solid 1px;
}
.list-btn-eorico-01 li a:hover:after{
  position:absolute;
  content:"";
  display:block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:#e83a18 solid 1px;
}
.list-btn-eorico-01 li.point a:hover:after{
  border:#cd002c solid 1px;
}
.list-btn-eorico-01 li.app a:hover:after{
  border:#ff3c00 solid 1px;
}
.list-btn-eorico-01 li.app a{
  padding-bottom:15px;
}
.list-btn-eorico-01 li a span.lead{
  display:block;
  position:relative;
  padding:15px 0 0;
  line-height:1.1;
  margin-bottom:15px;
}
.list-btn-eorico-01 li.app a span.lead{
  margin-bottom:7px;
}
.list-btn-eorico-01 li a span.lead:before{
  position:absolute;
  content:"";
  display:block;
  bottom:0.6em;
  left:-1px;
  width:100%;
  box-sizing:content-box;
  padding:0 1px;
  height:2px;
  background-color:#e83a18;
  z-index:0;
}
.list-btn-eorico-01 li.point a span.lead:before{
  background-color:#cd002c;
}
.list-btn-eorico-01 li.app a span.lead:before{
  background-color:#ff3c00;
}
.list-btn-eorico-01 li a span.lead .txt{
  display:inline-block;
  padding:0 8px;
  background:#fff;
  position:relative;
  z-index:100;
  font-weight:bold;
  color:#e83a18;
  font-size:107.6%;
}
.list-btn-eorico-01 li.point a span.lead .txt{
  color:#cd002c;
}
.list-btn-eorico-01 li.app a span.lead .txt{
  color:#ff3c00;
}
.list-btn-eorico-01 li a span.logo{
  display:block;
  position:relative;
  padding-right:19px;
}
.list-btn-eorico-01 li a span.logo:before{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  margin-top:-1px;
  right:17px;
  border-right:solid 1px #999;
  border-top:solid 1px #999;
  transform:rotate(45deg);
  width:4px;
  height:4px;
}
.list-btn-eorico-01 li a span.logo:after{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  border:solid 1px #999;
  border-radius:8px;
  right:10px;
  width:15px;
  height:15px;
  margin-top:-7px;
}
.list-btn-eorico-01 li:hover a span.logo:before{
  border-right:solid 1px #e83a18;
  border-top:solid 1px #e83a18;
}
.list-btn-eorico-01 li:hover a span.logo:after{
  border:solid 1px #e83a18;
}
.list-btn-eorico-01 li.point:hover a span.logo:before{
  border-right:solid 1px #cd002c;
  border-top:solid 1px #cd002c;
}
.list-btn-eorico-01 li.point:hover a span.logo:after{
  border:solid 1px #cd002c;
}
.list-btn-eorico-01 li.app:hover a span.logo:before{
  border-right:solid 1px #ff3c00;
  border-top:solid 1px #ff3c00;
}
.list-btn-eorico-01 li.app:hover a span.logo:after{
  border:solid 1px #ff3c00;
}
@media (max-width:920px){
.list-btn-eorico-01 li a span.logo img{
  width:80%;
}
}
@media (max-width:767px){
.list-btn-eorico-01 li a span.logo img{
  width:auto;
}
}

.lb-wrapper .lb-box{
  max-width:1000px;
  width:90% !important;
  box-sizing:border-box;
}
.lb-wrapper .lb-content{
  width:100% !important;
}
@media (max-width:640px){
.lb-wrapper .lb-box {
  width: 100% !important;
  box-shadow: 1px 1px 2px #d9d9d9;
  padding: 75px 0 20px 0;
}
body.rwd.modal1 #content #content-main,
.lb-wrapper .lb-box #content #content-main {
  width: auto;
}
body.rwd.modal1 #btn-close-modal,
.lb-wrapper .lb-box #btn-close-modal {
  width: 100%;
}
body.rwd.modal1 .box-em-01,
.lb-wrapper .lb-box .box-em-01 {
  margin-right: -14px;
  margin-left: -14px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 0;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content span.icon-customer,
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content span.icon-orico,
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content span.icon-other1,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content span.icon-customer,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content span.icon-orico,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content span.icon-other1 {
  position: relative;
  top: 0;
  float: none;
  margin-left: 0;
  margin-bottom: 0;
  background-color: #fff;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title {
  padding-right: 0;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .list-content-body .lay-image .img,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .list-content-body .lay-image .img {
  display: none;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title {
  padding-right: 0;
  padding-left: 0;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-customer,
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-orico,
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-other1,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-customer,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-orico,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-other1 {
  position: relative;
  top: 7px;
  width: auto;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-other1,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title span.icon-other1 {
  width: auto;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title .text,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title .text {
  display: block;
  padding-left: 37px;
}
body.rwd.modal1 ol.list-flow-01.listf1-lay1 li.list-content .title2,
.lb-wrapper .lb-box ol.list-flow-01.listf1-lay1 li.list-content .title2 {
  font-weight: bold;
  font-size: 123%;
}
body.rwd.modal1 .box-access-01 .listf-04-col3 li.list-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col3 li.list-content {
  width: 174px;
}
body.rwd.modal1 .box-access-01 .listf-04-col3 li.list-content .list-content-body,
.lb-wrapper .lb-box .box-access-01 .listf-04-col3 li.list-content .list-content-body {
  width: 154px;
}
body.rwd.modal1 .box-access-01 .listf-04-col3 li.last-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col3 li.last-content {
  width: 172px;
}
body.rwd.modal1 .box-access-01 .listf-04-col3 li.last-content .list-content-body,
.lb-wrapper .lb-box .box-access-01 .listf-04-col3 li.last-content .list-content-body {
  width: 151px;
}
body.rwd.modal1 .box-access-01 .listf-04-col5 li.list-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col5 li.list-content {
  width: 93px;
}
body.rwd.modal1 .box-access-01 .listf-04-col5 li.list-content .list-content-body,
.lb-wrapper .lb-box .box-access-01 .listf-04-col5 li.list-content .list-content-body {
  width: 83px;
  padding-right: 4px;
  padding-left: 4px;
}
body.rwd.modal1 .box-access-01 .listf-04-col5 li.last-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col5 li.last-content {
  width: 92px;
}
body.rwd.modal1 .box-access-01 .listf-04-col6 li.list-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col6 li.list-content {
  width: 73px;
}
body.rwd.modal1 .box-access-01 .listf-04-col6 li.list-content .list-content-body,
.lb-wrapper .lb-box .box-access-01 .listf-04-col6 li.list-content .list-content-body {
  width: 63px;
  padding-right: 4px;
  padding-left: 4px;
}
body.rwd.modal1 .box-access-01 .listf-04-col6 li.last-content,
.lb-wrapper .lb-box .box-access-01 .listf-04-col6 li.last-content {
  width: 71px;
}
body.rwd.modal1 .list-flow-container-01,
.lb-wrapper .lb-box .list-flow-container-01 {
  position: relative;
  margin-right: 0;
  padding-right: 42px;
}
body.rwd.modal1 .list-flow-container-01 .main,
.lb-wrapper .lb-box .list-flow-container-01 .main {
  width: auto;
  margin-right: 0;
}
body.rwd.modal1 .list-flow-container-01 .sub,
.lb-wrapper .lb-box .list-flow-container-01 .sub {
  position: absolute;
  top: 0;
  right: 0;
}
.lb-wrapper p.close,
.lb-wrapper2 p.close {
  position: fixed;
}
}