@charset "Shift_JIS";

/* box-app-pagetop */
.box-app-pagetop{
  display:none;
}
@media (max-width:640px){
.box-app-pagetop{
  background:#f1e9e4;
  padding:10px;
  width:100%;
  box-sizing:border-box;
  display:table;
}
.box-app-pagetop .closebtn,
.box-app-pagetop .logo,
.box-app-pagetop .txt,
.box-app-pagetop .linkbtn{
  display:table-cell;
  vertical-align:middle;
}
.box-app-pagetop .closebtn{
  width:28px;
}
.box-app-pagetop .closebtn span.btn{
  position:relative;
  display:block;
  width:28px;
  height:28px;
}
.box-app-pagetop .closebtn span.btn:hover{
  opacity:0.7;
  transition:all 0.6s;
  cursor:pointer;
}
.box-app-pagetop .closebtn span.btn:before{
  position:absolute;
  content:"";
  display:block;
  background:#fff;
  top:50%;
  margin-top:-14px;
  left:0;
  border-radius:50%;
  width:28px;
  height:28px;
}
.box-app-pagetop .closebtn span.btn:after{
  position:absolute;
  content:"";
  display:block;
  background:url(/shared2016/css/images/icon-close_01.png) no-repeat 0 0;
  top:50%;
  margin-top:-6px;
  left:9px;
  border-radius:50%;
  width:10px;
  height:10px;
}
.box-app-pagetop .closebtn span.btn > span{
  display:none;
}
.box-app-pagetop .logo{
  padding-left:9px;
  width:50px;
}
.box-app-pagetop .logo img{
  vertical-align:bottom;
}
.box-app-pagetop .txt{
  font-size:84.6%;
  padding-left:9px;
  padding-right:5px;
  letter-spacing:-0.8px;
  line-height:1.2;
}
.box-app-pagetop .txt b{
  font-size:136.6%;
  color:#ff3c00;
}
.box-app-pagetop .linkbtn{
  text-align:right;
}
.box-app-pagetop .linkbtn a{
  display:inline-block;
  background:#fc7c26;
  background:-moz-linear-gradient(left,  #fc7c26 0%, #fcbd3f 100%);
  background:-webkit-linear-gradient(left,  #fc7c26 0%,#fcbd3f 100%);
  background:linear-gradient(to right,  #fc7c26 0%,#fcbd3f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7c26', endColorstr='#fcbd3f',GradientType=1 );
  color:#fff;
  font-weight:bold;
  padding:10px 10px;
  text-decoration:none;
  letter-spacing:-1px;
  font-size:92.3%;
  border-radius:20px;
}
.box-app-pagetop .linkbtn a:hover{
  opacity:0.7;
  transition:all 0.6s;
}
}


/* content-end */
#content-end{
  max-width:1000px;
  margin:0 auto;
}

/* box-carousel-top */
.box-carousel-top{
  margin-bottom:25px;
  width:100%;
  max-width:732px;
}
.box-carousel-top .bnr{
  margin-bottom:13px;
  overflow: hidden;
}
.box-carousel-top .bnr ul {
  margin-bottom: 0;
}
.box-carousel-top .bnr ul li {
  width: 732px;
  margin-bottom: 0;
  text-align: center;
}
.box-carousel-top .bnr ul li a {
  display: block;
}
.box-carousel-top .bnr ul li img {
  vertical-align: bottom;
  width: 100%;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 {
  margin: 0 auto 0 auto;
  text-align: center;
  overflow: hidden;
  padding-right: 27px;
  padding-left: 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
.box-carousel-top .group-nav-carousel .nav-carousel1 ul {
  margin:0 auto;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 2px 4px 2px 4px;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 ul li a{
  display: block;
  width:10px;
  height:10px;
  border-radius:5px;
  background:none;
  border:solid 1px #999999;
  box-sizing:border-box;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 ul li a img {
  width: 0;
  height: 0;
  border: none;
  vertical-align: middle;
  display:none;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 ul li.current a{
  border:solid 1px #fc7c26;
  background-color:#fc7c26;
}
.box-carousel-top .group-nav-carousel .nav-carousel1 ul li.current a img {
  border: none;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 {
  margin-bottom: 0;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev,
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next{
  position: relative;
  margin-bottom: 0;
  margin-top:-26px;
  position:relative;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.next a{
  background:none;
  border:solid 1px #999999;
  border-radius:50%;
  display:block;
  height:19px;
  width:19px;
  position:relative;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:after{
  position:absolute;
  content:"";
  display:block;
  top:6px;
  left:7px;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(225deg);
  width:5px;
  height:5px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev img,
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next img {
  position: relative;
  top: 7px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev {
  float: left;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev img {
  left: 6px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next {
  float: right;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next img {
  left: 8px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:after{
  position:absolute;
  content:"";
  display:block;
  top:6px;
  left:5px;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:hover,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:hover,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:focus,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:focus{
  border:solid 1px #ff3c00;
  background:none;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:hover:after,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:hover:after,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:focus:after,
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:focus:after{
  border-right:solid 2px #ff3c00;
  border-top:solid 2px #ff3c00;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li img{
  display:none;
}
@media (max-width:640px){
.box-carousel-top{
  margin-bottom:20px;
}

.box-carousel-top .group-nav-carousel .nav-carousel1 ul li{
  display:inline-block;
  margin:2px 4px 2px 4px;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel1 ul li a{
  display:block;
  width:10px;
  height:10px;
  border-radius:5px;
  border-radius:5px;
  background:none;
  border:solid 1px #999999;
  box-sizing:border-box;
}
body.rwd .box-carousel-top .group-nav-carousel .nav-carousel1 ul li.current a{
  border:solid 1px #fc7c26;
  background-color:#fc7c26;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev,
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next{
  margin-top:-25px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a,
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next a{
  height:19px;
  width:19px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.prev a:after{
  top:6px;
  left:7px;
}
.box-carousel-top .group-nav-carousel .nav-carousel2 li.next a:after{
  top:6px;
  left:5px;
}
}
