/* =====================================================


 Styles for Print


===================================================== */
.btn-print {
  display: none;
}

/* -----------------------------------------------------

body.partner

----------------------------------------------------- */
body.partner {
  *zoom: 80%;
}
body.partner #header,
body.partner #nav-location,
body.partner #content-sub,
body.partner #content-end,
body.partner #footer {
  display: none;
}
body.partner #content #content-main {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
.scur img {
  opacity: 0!important;
  display: none;
}

.no-reproduction{
display: none;
}
