@charset "Shift_JIS";

.str-topcontent{
  max-width:1000px;
  width:auto;
  margin:0 auto;
}
.str-topcontent:after{
  content: "";
  display: table;
  clear: both;
  line-height: 0;
}

#content-01{
  float:right;
  width:73.2%;
  margin-bottom:75px;
}
#content-02{
  float:left;
  width:21.8%;
  margin-bottom:75px;
}
#content-03{
  clear:both;
}
@media (max-width:767px){
#content-01,
#content-02{
  float:none;
  width:auto;
}
#content-01{
  margin-bottom:50px;
}
#content-02{
  margin-bottom:40px;
}
}

/* ////////////////////////////////////////////////////////////////////////// */
.box-topimportant{
  background:#f5f5f5;
  padding:13px 30px 8px 30px;
  position:relative;
  margin-bottom:25px;
}
.box-topimportant .list-info a{
  padding-left:22px;
  position:relative;
  text-decoration:none;
  display:block;
}
.box-topimportant .list-info a:hover{
  text-decoration:underline;
  color:#024d99;
}
.box-topimportant .list-info a:before{
  position:absolute;
  content:"";
  display:block;
  background:url(/shared2016/css/images/icon-attention_01.png) no-repeat 0 0;
  background-size:contain;
  top:10px;
  margin-top:-7px;
  left:0;
  width:15px;
  height:15px;
}
@media (max-width:767px){
.box-topimportant{
  margin-bottom:20px;
}
}
@media (max-width:640px){
.box-topimportant{
  padding:13px 20px 8px;
}
.box-topimportant:before{
  left:14px;
}
}


/* ///////////////////////////////////// content-01 ///////////////////////////////////// */
.heading-content_01{
  font-size:153.8%;
  text-align:center;
  margin-bottom:10px;
  font-weight:normal;
  position:relative;
  margin-bottom:21px;
}
.heading-content_01 span.txt{
  background:#fff;
  padding:0 13px;
  position:relative;
  z-index:10;
}
.heading-content_01:before{
  position:absolute;
  content:"";
  display:block;
  top:49%;
  background:#e0e0e0;
  left:0;
  width:100%;
  height:1px;
  z-index:0;
}
@media (max-width:640px){
.heading-content_01{
  font-size:138.4%;
  letter-spacing:-1px;
}
.heading-content_01 span.txt{
  padding:0 8px;
}
}

.list-recommend-card{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}
@media (max-width:640px){
.list-recommend-card{
  display:block;
  margin-bottom:20px;
}
}
.list-recommend-card li{
  width:32%;
  margin-bottom:0;
}
@media (max-width:640px){
.list-recommend-card li{
  width:auto;
  margin-bottom:15px;
}
}
.list-recommend-card li a{
  text-decoration:none;
  color:#292726;
}
.list-recommend-card li a.card{
  display:block;
  background-color:#f1e9e4;
  padding:25px 0 35px;
  text-align:center;
  position:relative;
}
@media (max-width:640px){
.list-recommend-card li a.card{
  height:auto !important;
  padding:8px 0 30px;
}
}
.list-recommend-card li a.card:hover{
  opacity:0.7;
  transition:all 0.6s;
}
.list-recommend-card li a.card span.icon{
  position:absolute;
  top:10px;
  left:10px;
}
.list-recommend-card li a.card span.card{
  display:block;
}
.list-recommend-card li a.card span.card img{
  vertical-align:bottom;
}
.list-recommend-card li a.card span.name{
  display:block;
  font-weight:bold;
  line-height:1.4;
  margin-bottom:5px;
}
.list-recommend-card li a.card:hover span.name{
  text-decoration:underline;
}
.list-recommend-card li a.detail{
  display:block;
  text-align:center;
  font-size:123%;
  padding:20px 0;
  line-height:1.1;
}
@media (max-width:640px){
.list-recommend-card li a.detail{
  padding:18px 0;
}
}
.list-recommend-card li a.detail:hover{
  text-decoration:underline;
}
.list-recommend-card li a.detail span.txt{
  padding-right:30px;
  position:relative;
}
@media (max-width:920px){
.list-recommend-card li a.detail span.txt{
  letter-spacing:-1px;
}
}
@media (max-width:767px){
.list-recommend-card li a.detail span.txt{
  letter-spacing:normal;
}
}
.list-recommend-card li a.detail span.txt:before{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  border-radius:10px;
  background:#fc7c26;
  right:0;
  width:20px;
  height:20px;
  margin-top:-12px;
}
.list-recommend-card li a.detail span.txt:after{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  margin-top:-5px;
  right:8px;
  border-right:solid 2px #fff;
  border-top:solid 2px #fff;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}

.list-link-cardmenu{
  display:flex;
  justify-content:space-between;
  width:100%;
}
@media (max-width:640px){
.list-link-cardmenu{
  display:block;
}
}
.list-link-cardmenu a{
  font-size:123%;
  width:33%;
  box-sizing:border-box;
  border:solid 1px #e0e0e0;
  padding:95px 10px 14px;
  text-decoration:none;
  color:#292726;
  position:relative;
}
@media (max-width:640px){
.list-link-cardmenu a{
  font-size:107.6%;
  display:block;
}
.list-link-cardmenu a.regist{
  float:left;
  width:49%;
  margin-bottom:4px;
}
.list-link-cardmenu a.search{
  float:right;
  width:49%;
  margin-bottom:4px;
}
.list-link-cardmenu a.campaign{
  width:100%;
  clear:both;
  padding:14px 10px;
  height:auto !important;
}
}
.list-link-cardmenu a .inner{
  display:table;
  height:100%;
  width:100%;
}
.list-link-cardmenu a .inner .txt{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  padding:8px 0;
  line-height:1.3;
}
@media (max-width:640px){
.list-link-cardmenu a.campaign .inner .txt{
  padding-left:40%;
  background:url(/shared2016/css/images/icon-campaign_01.png) no-repeat 20%  45%;
  text-align:left;
  height:37px;
}
}
.list-link-cardmenu a.regist{
  background:url(/shared2016/css/images/icon-card_01.png) no-repeat center 32px;
}
.list-link-cardmenu a.search{
  background:url(/shared2016/css/images/icon-cardsearch_01.png) no-repeat center 22px;
}
.list-link-cardmenu a.campaign{
  background:url(/shared2016/css/images/icon-campaign_02.png) no-repeat center 26px;
}
@media (max-width:640px){
.list-link-cardmenu a.campaign{
  background:none;
}
}
.list-link-cardmenu a:hover{
  border:solid 1px #fc7c26;
}
.list-link-cardmenu a:hover:after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:100%;
  left:0;
  top:0;
  border:solid 1px #fc7c26;
  box-sizing:border-box;
}

/* ///////////////////////////////////// content-02 ///////////////////////////////////// */
.heading-content_02{
  font-size:153.8%;
  text-align:center;
  margin-bottom:14px;
  font-weight:normal;
  line-height:1.1;
}

.list-btn-side-01:after{
  content: "";
  display: table;
  clear: both;
  line-height: 0;
}
.list-btn-side-01 a{
  font-size:107.6%;
  display:block;
  width:49%;
  box-sizing:border-box;
  border:solid 1px #e0e0e0;
  padding:60px 5px 10px;
  text-decoration:none;
  color:#292726;
  position:relative;
}
.list-btn-side-01 a.campaign{
  background:url(/shared2016/css/images/icon-campaign_01.png) no-repeat center 15px;
  float:left;
}
.list-btn-side-01 a.faq{
  background:url(/shared2016/css/images/icon-q_01.png) no-repeat center 13px;
  float:right;
}
.list-btn-side-01 a:hover{
  border:solid 1px #fc7c26;
}
.list-btn-side-01 a:hover:after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:100%;
  left:0;
  top:0;
  border:solid 1px #fc7c26;
  box-sizing:border-box;
}
.list-btn-side-01 a .inner{
  display:table;
  height:100%;
  width:100%;
}
.list-btn-side-01 a .inner .txt{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  line-height:1.3;
}

/* **************** JS :togglebox ******************* */
.str-nav.togglebox a.togglebtn{
  display:none;
}
@media (max-width:640px){
.str-nav.togglebox{
  position:relative;
  padding-bottom:0;
}
.str-nav.togglebox .toggle-hidecontent{
  /*display:none;*/
}
.str-nav.togglebox a.togglebtn{
  background:#f5f5f5;
  display:block;
  padding:10px;
  margin-top:15px;
  text-align:center;
  padding:15px 0 13px;
  text-decoration:none;
  color:#292726;
}
.str-nav.togglebox a.togglebtn:hover{
  opacity:0.7;
}
.str-nav.togglebox a.togglebtn span{
  display:inline-block;
  padding-left:25px;
  position:relative;
}
.str-nav.togglebox.toggle-open a.togglebtn span:after{
  position:absolute;
  content:"";
  display:block;
  top:0.5em;
  left:0;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(-45deg);
  width:5px;
  height:5px;
}
.str-nav.togglebox.toggle-close a.togglebtn span:after{
  position:absolute;
  content:"";
  display:block;
  top:0.4em;
  left:0;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(135deg);
  width:5px;
  height:5px;
}
}


/* ///////////////////////////////////// content-03 ///////////////////////////////////// */
#content-03 .innercontent{
  max-width:1000px;
  margin:0 auto;
}
.heading-content_03{
  font-size:307.6%;
  text-align:center;
  font-weight:normal;
  margin-bottom:55px;
  position:relative;
}
@media (max-width:640px){
.heading-content_03{
  font-size:246.1%;
}
}
.heading-content_03:after{
  position:absolute;
  content:"";
  display:block;
  bottom:-11px;
  left:50%;
  margin-left:-40px;
  width:80px;
  height:4px;
  background:#fc7c26;
  background:-moz-linear-gradient(left,  #fc7c26 0%, #fcbd3f 100%);
  background:-webkit-linear-gradient(left,  #fc7c26 0%,#fcbd3f 100%);
  background:linear-gradient(to right,  #fc7c26 0%,#fcbd3f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7c26', endColorstr='#fcbd3f',GradientType=1 );
}

.heading-content_04{
  font-size:200%;
  font-weight:normal;
  margin-bottom:20px;
}
@media (max-width:640px){
.heading-content_04{
  font-size:169.3%;
  margin-bottom:15px;
  padding-bottom:5px;
  border-bottom:solid 1px #e0e0e0;
}
.heading-content_04.expandhead{
  position:relative;
  cursor:pointer;
}
.heading-content_04.expandhead:before{
  position:absolute;
  content:"";
  display:block;
  border-radius:10px;
  border:solid 1px #fc7c26;
  width:19px;
  height:19px;
  top:50%;
  right:0;
  margin-top:-9px;
}
.expand_open .heading-content_04.expandhead:after{
  position:absolute;
  content:"";
  display:block;
  background:#fc7c26;
  width:11px;
  height:1px;
  top:50%;
  right:5px;
  margin-top:1px;
}
.expand_close .heading-content_04.expandhead:after{
  position:absolute;
  content:"";
  display:block;
  background:url(/shared2016/css/images/icon-open_01.png) no-repeat 0 0;
  background-size:contain;
  width:11px;
  height:11px;
  top:50%;
  right:5px;
  margin-top:-4px;
}
}

.list-link-pickup{
  background:#f1e9e4;
}
@media (max-width:1028px){
.list-link-pickup{
  margin-left:-14px;
  margin-right:-14px;
}
}
@media (max-width:767px){
.list-link-pickup{
  padding:40px 14px;
}
}
.list-link-pickup .linklist{
  max-width:1000px;
  width:auto;
  background:#f1e9e4;
  display:flex;
  justify-content:space-between;
  margin:0 auto;
}
@media (max-width:767px){
.list-link-pickup .linklist{
  display:block;
}
}
.list-link-pickup .linklist > a{
  width:20%;
  display:block;
  position:relative;
  text-align:center;
  padding:200px 10px 60px;
  margin:0;
  text-decoration:none;
  color:#292726;
}
@media (max-width:767px){
.list-link-pickup .linklist > a{
  width:100%;
  text-align:left;
  padding:0 0 0 104px;
  display:table;
  box-sizing:border-box;
}
.list-link-pickup .linklist > a .linkbox{
  height:85px;
  display:table-cell;
  vertical-align:middle;
}
.list-link-pickup .linklist > a + a{
  margin-top:28px;
}
}

.list-link-pickup .linklist > a.point{
  background:url(/shared2016/css/images/icon-point_01.png) no-repeat center 50px;
}
.list-link-pickup .linklist > a.strong{
  background:url(/shared2016/css/images/icon-strong_01.png) no-repeat center 50px;
}
.list-link-pickup .linklist > a.payment{
  background:url(/shared2016/css/images/icon-payment_01.png) no-repeat center 50px;
}
.list-link-pickup .linklist > a.loan{
  background:url(/shared2016/css/images/icon-loan_01.png) no-repeat center 50px;
}
.list-link-pickup .linklist > a.knowledge{
  background:url(/shared2016/css/images/icon-knowledge_01.png) no-repeat center 50px;
}
@media (max-width:767px){
.list-link-pickup .linklist > a.point,
.list-link-pickup .linklist > a.strong,
.list-link-pickup .linklist > a.payment,
.list-link-pickup .linklist > a.loan,
.list-link-pickup .linklist > a.knowledge{
  background-size:85px 85px;
  background-position:0 0;
}
}
.list-link-pickup .linklist > a span.title{
  font-size:138.4%;
  line-height:1.1;
}
@media (max-width:767px){
.list-link-pickup .linklist > a span.title{
  display:inline-block;
  margin-bottom:10px;
}
.list-link-pickup .linklist > a:hover span.title{
  text-decoration:underline;
}
}
.list-link-pickup .linklist > a .detail{
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  background-color:rgba(235,220,205,1);
  height:100%;
  width:100%;
  text-align:center;
  padding-top:25px;
  box-sizing: border-box;
}
@media (max-width:767px){
.list-link-pickup .linklist > a .detail{
  opacity:1;
  position:static;
  background:none;
  height:auto;
  width:auto;
  text-align:left;
  display:block;
}
}
.list-link-pickup .linklist > a:hover .detail{
  opacity:1;
  transition:all 0.6s;
}
@media (max-width:767px){
.list-link-pickup .linklist > a:hover .detail{
  transition:none;
}
}
.list-link-pickup .linklist > a .detail .textbox{
  display:table;
  transform: translateY(-25px);
  width:100%;
}
@media (max-width:920px){
.list-link-pickup .linklist > a .detail .textbox{
  margin-top:0;
}
}
@media (max-width:767px){
.list-link-pickup .linklist > a .detail .textbox{
  display:block;
  margin-top:0;
}
}
.list-link-pickup .linklist > a:hover .detail .textbox{
  transform: translateY(0);
  transition:all 0.2s ease-in-out;
}
@media (max-width:767px){
.list-link-pickup .linklist > a:hover .detail .textbox{
  transform: translateY(-25px);
}
}
.list-link-pickup .linklist > a .detail .textbox .inner{
  display:table-cell;
  vertical-align:middle;
  padding:30px 15px 25px;
  font-size:123%;
  line-height:1.4;
}
@media (max-width:767px){
.list-link-pickup .linklist > a .detail .textbox .inner{
  display:block;
  padding:0;
  height:auto !important;
  font-size:100%;
  margin-bottom:0;
}
}
.list-link-pickup .linklist .link{
  display:inline-block;
  padding:10px 44px 8px;
  background:#fff;
  border-radius:20px;
  font-size:107.6%;
  position:relative;
}
@media (max-width:920px){
.list-link-pickup .linklist .link{
  padding:10px 30px 8px;
}
}
@media (max-width:767px){
.list-link-pickup .linklist .link{
  display:none;
}
}
.list-link-pickup .linklist .link:hover{
  opacity:0.7;
}
.list-link-pickup .linklist .link:after{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  margin-top:-4px;
  right:19px;
  border-right:solid 2px #fc7c26;
  border-top:solid 2px #fc7c26;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
@media (max-width:920px){
.list-link-pickup .linklist .link:after{
  right:12px;
}
}

.str-topservice{
  background:#f7f7f7;
  padding:75px 0 96px;
  margin-bottom:75px;
}
@media (max-width:1028px){
.str-topservice{
  padding:45px 14px 35px;
  margin-left:-14px;
  margin-right:-14px;
  margin-bottom:40px;
}
}
@media (max-width:640px){
.str-topservice{
  padding-left:0;
  padding-right:0;
}
}
.str-topservice .heading-content_03{
  margin-bottom:50px;
}

/* **************** JS :tab ******************* */
.lyt-tab_01{
  max-width:1000px;
  margin:0 auto;
}
.lyt-tab_01 .list-tab{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
@media (max-width:640px){
.lyt-tab_01 .list-tab{
  padding:0 14px;
}
}
.lyt-tab_01 .list-tab a{
  width:32.6%;
  display:block;
  padding:20px 20px;
  height:80px;
  box-sizing:border-box;
  position:relative;
  font-size:200%;
  text-decoration:none;
  color:#fc7c26;
  font-weight:bold;
  margin-bottom:30px;
  text-align:center;
  vertical-align:middle;
  background:#fff;
  border:solid 1px #fc7c26;
}
@media (max-width:640px){
.lyt-tab_01 .list-tab a{
  padding:12px 10px 10px;
  font-size:123%;
  letter-spacing:-1px;
  height:auto;
}
}
.lyt-tab_01 .list-tab a:hover,
.lyt-tab_01 .list-tab a.current{
  background:url(/shared2016/css/images/bg-tab_o_01.png) no-repeat center 0;
  color:#fff;
  border:none;
  background-size:cover;
}
.lyt-tab_01 .list-tab a.current:after{
  position:absolute;
  content:"";
  display:block;
  bottom:-18px;
  left:50%;
  margin-left:-13px;
  background:url(/shared2016/css/images/bg-tab_o_02.png) no-repeat 0 0;
  width:26px;
  height:18px;
}
@media (max-width:640px){
.lyt-tab_01 .list-tabcontent{
  padding-left:14px;
  padding-right:14px;
}
}

.list-link-service{
  max-width:1000px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
}
@media (max-width:640px){
.list-link-service{
  display:block;
}
}
.list-link-service a{
  width:24.5%;
  display:block;
  padding:20px 20px 43px;
  box-sizing:border-box;
  background:#fff;
  position:relative;
  font-size:107.6%;
  text-decoration:none;
  color:#292726;
  margin-bottom:4px;
  line-height:1.5;
  margin-left:0.5%;
  border:solid 1px #e0e0e0;
}
.list-link-service a:nth-child(4n+1){
  margin-left:0;
}
@media (max-width:640px){
.list-link-service a{
  width:auto;
  padding:20px 20px 30px;
}
}
.list-link-service a:hover{
  border:solid 2px #fc7c26;
  padding:19px 19px 42px;
}
@media (max-width:640px){
.list-link-service a:hover{
  padding:19px 19px 29px;
}
}
.list-link-service a:before{
  position:absolute;
  content:"";
  display:block;
  border-radius:8px;
  border:solid 1px #fc7c26;
  width:15px;
  height:15px;
  bottom:15px;
  right:15px;
}
.list-link-service a:after{
  position:absolute;
  content:"";
  display:block;
  bottom:20px;
  right:22px;
  border-right:solid 1px #fc7c26;
  border-top:solid 1px #fc7c26;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
.list-link-service a:hover:before{
  bottom:14px;
  right:14px;
}
.list-link-service a:hover:after{
  bottom:19px;
  right:21px;
}
.list-link-service a .title{
  font-weight:bold;
  margin-bottom:10px;
  display:block;
  font-size:114.2%;
}

.str-topinformation{
  max-width:1000px;
  margin:0 auto;
}
@media (max-width:640px){
.str-topinformation{
  padding-bottom:50px;
}
}
.str-topinformation .btn-topinformation{
  margin-bottom:35px;
  text-align:right;
}
.str-topinformation .list-link-01.listl1-degrade1 li{
  font-size:107.6%;
  padding-bottom:0;
  padding-left:14px;
  margin-bottom:7px;
  position:relative;
}
.str-topinformation .list-link-01.listl1-degrade1 li a{
  color:#024d99;
  text-decoration: none;
}
.str-topinformation .list-link-01.listl1-degrade1 li a:hover{
  text-decoration:underline;
}
.str-topinformation .list-link-01.listl1-degrade1 li:after{
  position:absolute;
  content:"";
  display:block;
  top:0.5em;
  left:0;
  border-right:solid 2px #024d99;
  border-top:solid 2px #024d99;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
.str-topinformation .list-link-01.listl1-degrade1 li span.link01{
  display:none;
}
.str-topinformation .lyt-col{
  display:table;
  width:100%;
}
@media (max-width:640px){
.str-topinformation .lyt-col{
  display:block;
  width:auto;
}
}
.str-topinformation .lyt-col .col{
  display:table-cell;
  width:50%;
}
@media (max-width:640px){
.str-topinformation .lyt-col .col{
  display:block;
  width:auto;
}
}
.str-topinformation .lyt-col .col + .col{
  padding-left:20px;
}
@media (max-width:640px){
.str-topinformation .lyt-col .col + .col{
  padding-left:0;
}
}
.str-topinformation .box1-attention1{
  border:solid 2px #ff5926;
  font-weight:bold;
  padding:15px 20px;
  font-size:107.6%;
  margin-bottom:50px;
  border-radius:0;
}
@media (max-width:640px){
.str-topinformation .box1-attention1{
  font-weight:normal;
}
}
.str-topinformation .box1-attention1 p{
  margin-bottom:0;
}

a.btn-toplink-01{
  display:inline-block;
  padding:7px 32px 6px 18px;
  border:solid 1px #999999;
  text-decoration:none;
  color:#292726;
  position:relative;
  border-radius:20px;
}
p a.btn-toplink-01{
  text-decoration:none;
}
a.btn-toplink-01:after{
  position:absolute;
  content:"";
  display:block;
  top:50%;
  right:15px;
  margin-top:-5px;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
a.btn-toplink-01:hover{
  border:solid 1px #fc7c26;
}
a.btn-toplink-01:hover:after{
  border-right:solid 2px #fc7c26;
  border-top:solid 2px #fc7c26;
}

.box-attention-01{
  border:solid 1px #e0e0e0;
  padding:37px 39px 40px;
  max-width:1000px;
  width:auto;
  margin:0 auto 100px;
  box-sizing:border-box;
}
@media (max-width:640px){
.box-attention-01{
  padding:30px 20px;
  margin:0 auto 40px;
}
}
.box-attention-01 .title{
  text-align:center;
  margin-bottom:18px;
}
.box-attention-01 .title span.txt{
  display:inline-block;
  padding-left:42px;
  background:url(/shared2016/css/images/icon-attention_01.png) 0 3px no-repeat;
  font-size:200%;
  font-weight:normal;
}
@media (max-width:640px){
.box-attention-01 .title span.txt{
  font-size:185%;
}
}
.box-attention-01 .link-attention{
  text-align:center;
  margin-bottom:23px;
}
.box-attention-01 .link-attention a{
  display:inline-block;
  padding-left:30px;
  font-size:123%;
  position:relative;
  text-decoration:none;
  color:#292726;
}
@media (max-width:640px){
.box-attention-01 .link-attention a{
  padding-left:25px;
  letter-spacing:-1px;
}
}
.box-attention-01 .link-attention a:hover{
  text-decoration:underline;
}
.box-attention-01 .link-attention a:before{
  position:absolute;
  content:"";
  display:block;
  top:3px;
  border-radius:8px;
  border:solid 1px #fc7c26;
  left:0;
  width:15px;
  height:15px;
}
.box-attention-01 .link-attention a:after{
  position:absolute;
  content:"";
  display:block;
  top:8px;
  left:5px;
  border-right:solid 1px #fc7c26;
  border-top:solid 1px #fc7c26;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
.box-attention-01 .list-link{
  display:flex;
  flex-wrap:wrap;
  margin-bottom:35px;
}
@media (max-width:640px){
.box-attention-01 .list-link{
  display:block;
  margin-bottom:30px;
}
}
.box-attention-01 .list-link li{
  font-size:107.6%;
  margin-bottom:5px;
  width:34%;
  padding-left:20px;
  box-sizing:border-box;
  line-height:1.3;
}
@media (max-width:640px){
.box-attention-01 .list-link li{
  width:auto;
  padding-left:0;
  margin-bottom:10px;
}
}
.box-attention-01 .list-link li:nth-child(3n+1){
  padding-left:0;
  width:32%;
  padding-right:10px;
}
@media (max-width:640px){
.box-attention-01 .list-link li:nth-child(3n+1){
  width:auto;
  padding-right:0;
}
}
.box-attention-01 .list-link li a{
  padding-left:14px;
  display:inline-block;
  color:#024d99;
  text-decoration:none;
  position:relative;
}
.box-attention-01 .list-link li a:hover{
  text-decoration:underline;
}
.box-attention-01 .list-link li a:after{
  position:absolute;
  content:"";
  display:block;
  top:0.3em;
  left:0;
  border-right:solid 2px #024d99;
  border-top:solid 2px #024d99;
  transform:rotate(45deg);
  width:5px;
  height:5px;
}
.box-attention-01 .boxinner{
  border-top:solid 1px #e0e0e0;
  padding-top:25px;
  text-align:center;
}
.box-attention-01 .list-bnr{
  display:table;
  margin:auto;
}
@media (max-width:640px){
.box-attention-01 .list-bnr{
  display:block;
}
}
.box-attention-01 .list-bnr li{
  display:table-cell;
  margin-bottom:0;
  vertical-align:top;
}
@media (max-width:640px){
.box-attention-01 .list-bnr li{
  display:block;
  margin-bottom:20px;
}
}
.box-attention-01 .list-bnr li img{
  vertical-align:bottom;
}
.box-attention-01 .list-bnr li a:hover{
  opacity:0.7;
  transition:all 0.6s;
}
.box-attention-01 .list-bnr li + li{
  padding-left:30px;
}
@media (max-width:640px){
.box-attention-01 .list-bnr li + li{
  padding-left:0;
}
.box-attention-01 .list-bnr li:last-child{
  margin-bottom:0;
}
}
.box-attention-01 .list-bnr li.cheack{
  padding-top:15px;
}
@media (max-width:640px){
.box-attention-01 .list-bnr li.cheack{
  padding-top:0;
}
}
.box-attention-01 .list-bnr li.fishing{
  padding-top:30px;
}
@media (max-width:640px){
.box-attention-01 .list-bnr li.fishing{
  padding-top:0;
}
}
/* **************** JS :togglebox ******************* */
.box-attention-01.togglebox a.togglebtn{
  display:none;
}
@media (max-width:640px){
.box-attention-01.togglebox{
  position:relative;
  padding-bottom:0;
}
.box-attention-01.togglebox .toggle-hidecontent{
  /*display:none;*/
}
.box-attention-01.togglebox a.togglebtn{
  background:#f5f5f5;
  display:block;
  margin-left:-20px;
  margin-right:-20px;
  padding:10px;
  margin-top:20px;
  text-align:center;
  padding:15px 0 13px;
  text-decoration:none;
  color:#292726;
}
.box-attention-01.togglebox a.togglebtn:hover{
  opacity:0.7;
}
.box-attention-01.togglebox a.togglebtn span{
  display:inline-block;
  padding-left:25px;
  position:relative;
}
.box-attention-01.togglebox.toggle-open a.togglebtn span:after{
  position:absolute;
  content:"";
  display:block;
  top:0.5em;
  left:0;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(-45deg);
  width:5px;
  height:5px;
}
.box-attention-01.togglebox.toggle-close a.togglebtn span:after{
  position:absolute;
  content:"";
  display:block;
  top:0.4em;
  left:0;
  border-right:solid 2px #999999;
  border-top:solid 2px #999999;
  transform:rotate(135deg);
  width:5px;
  height:5px;
}
}

.list-media{
  width:320px;
  margin-top:13px;
  display:table;
  float:left;
}
@media (max-width:640px){
.list-media{
  width:100%;
  margin-top:0;
  float:none;
  margin-bottom:30px;
}
}
.list-media .title{
  font-size:153.8%;
  display:table-cell;
  vertical-align:middle;
  width:50%;
}
@media (max-width:640px){
.list-media .title{
  font-size:138.4%;
  width:auto;
}
}
.list-media .linklist{
  display:table-cell;
  width:50%;
  letter-spacing:-4px;
}
@media (max-width:640px){
.list-media .linklist{
  width:160px;
}
}
.list-media .linklist a{
  width:50px;
  height:50px;
  border:solid 1px #e0e0e0;
  display:inline-block;
  letter-spacing:normal;
  position:relative;
  padding-top:10px;
  text-align:center;
  box-sizing:border-box;
}
.list-media .linklist a + a{
  margin-left:4px;
}
.list-media .linklist a:hover{
  border:solid 1px #fc7c26;
}
.list-media .linklist a:hover:after{
  position:absolute;
  content:"";
  display:block;
  width:100%;
  height:100%;
  left:0;
  top:0;
  border:solid 1px #fc7c26;
  box-sizing:border-box;
}

.str-privacy{
  float:right;
  margin-bottom:60px;
}
@media (max-width:640px){
.str-privacy{
  float:none;
  margin-bottom:30px;
}
}
.str-privacy *:last-child{
  margin-bottom:0;
}

.str-subtxt{
  clear:both;
  margin-bottom:40px;
}
.str-subtxt *:last-child{
  margin-bottom:0;
}
.topsubtxt{
  color:#6e6c6b;
  line-height:1.6;
  font-size:92.3%;
}


/* **************** JS :carousel ******************* */
.str-bnr-carousel{
  background-color:#f1e9e4;
  padding:60px 0 55px;
  margin-bottom:67px;
}
@media (max-width:1028px){
.str-bnr-carousel{
  margin-left:-14px;
  margin-right:-14px;
}
}
@media (max-width:640px){
.str-bnr-carousel{
  margin-bottom:40px;
  padding:36px 0 35px;
}
}
.box-bnr-carousel{
  position:relative;
  padding:6px 0 0;
}
.box-bnr-carousel .cassette{
  margin:0 auto;
  overflow:hidden;
}
.box-bnr-carousel .cassette ul{
  position:relative;
  top:0;
  left:0;
  margin:0;
  overflow:hidden;
  z-index:1;
}
.box-bnr-carousel .cassette ul li{
  width:228px;
  text-align:center;
  float:left;
  margin:0 15px;
  position:relative;
}
.box-bnr-carousel .cassette ul li:last-child{
  margin-right:0px;
}
.box-bnr-carousel .cassette ul:after{
  content:"";
  display:table;
  clear:both;
  line-height:0;
}

.box-bnr-carousel .cassette .btn-prev{
  width:40px;
  height:40px;
  position:absolute;
  z-index:0;
  top:50%;
  margin:-24px 0 0;
}
@media (max-width:640px){
.box-bnr-carousel .cassette .btn-prev{
  width:28px;
  height:28px;
  margin:-14px 0 0;
}
}
.box-bnr-carousel .cassette .btn-next{
  width:40px;
  height:40px;
  position:absolute;
  text-align:right;
  z-index:0;
  top:50%;
  margin:-24px 0 0;
}
@media (max-width:640px){
.box-bnr-carousel .cassette .btn-next{
  width:28px;
  height:28px;
  margin:-14px 0 0;
}
.box-bnr-carousel .cassette .btn-next{
  width: 244px !important;
}
}
.box-bnr-carousel .cassette .btn-prev a:before,
.box-bnr-carousel .cassette .btn-next a:before{
  display:inline-block;
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  background:#fff;
  border-radius:50%;
  width:40px;
  height:40px;
}
.box-bnr-carousel .cassette .btn-prev a:after,
.box-bnr-carousel .cassette .btn-next a:after{
  border-right:2px solid #999999;
  border-top:2px solid #999999;
  content:"";
  display:block;
  height:9px;
  left:12px;
  position:absolute;
  top:15px;
  width:9px;
}
.box-bnr-carousel .cassette .btn-prev a:after{
  transform:rotate(-135deg);
  left:16px;
}
.box-bnr-carousel .cassette .btn-next a:after{
  transform:rotate(45deg);
}
.box-bnr-carousel .cassette .btn-prev a:hover:after,
.box-bnr-carousel .cassette .btn-next a:hover:after{
  border-right:2px solid #fc7c26;
  border-top:2px solid #fc7c26;
}
@media (max-width:640px){
.box-bnr-carousel .cassette .btn-prev a:before,
.box-bnr-carousel .cassette .btn-next a:before{
  width:28px;
  height:28px;
}
.box-bnr-carousel .cassette .btn-prev a:after,
.box-bnr-carousel .cassette .btn-next a:after{
  border-right:2px solid #999999;
  border-top:2px solid #999999;
  content:"";
  display:block;
  height:7px;
  left:8px;
  position:absolute;
  top:9px;
  width:7px;
}
.box-bnr-carousel .cassette .btn-prev a:after{
  left:12px;
}
}
.box-bnr-carousel .cassette .btn-next a{
  right:-50px;
  display:inline-block;
  position:relative;
}
.box-bnr-carousel .cassette .btn-prev a{
  left:-50px;
  display:inline-block;
  position:relative;
}
@media (max-width:640px){
.box-bnr-carousel .cassette .btn-next a{
  right:-38px;
  width:28px;
  height:28px;
}
.box-bnr-carousel .cassette .btn-prev a{
  left:-24px;
}
}
.box-bnr-carousel .cassette .btn-prev a img,
.box-bnr-carousel .cassette .btn-next a img{
  opacity:0;
}