img,.articleImg,.articleImg-list .listItem,.itemImg,.rankBlock,.mu-icon-ranking,.mu-icon.mu-icon-boxed {border:0 !important;}

/*goPost*/
.goPost {background:#f3f3f3; border:1px solid #ddd; margin-top:-1px;}
.goPost a {display:block; color:#b2b2b2; text-align:center;line-height:12px; padding:15px 0;}
.goPost a:hover {text-decoration:underline;}

/* brand moreView */
.moreViewTriger, .moreViewCloser {text-decoration:underline;}

/* tagMode */
.tagList .tagCbox {display:none;}
.tagList .tagVmodeBtnOpen {display:inline-block; font-size:16px; font-weight:bold; font-family:arial;}
.tagList .tagVmodeBtnClose {display:none; font-size:16px; font-weight:bold; font-family:arial;}
.tagVmodeOpen .tagCbox {display:inline-block !important;}
.tagVmodeOpen .tagVmodeBtnOpen {display:none !important;}
.tagVmodeOpen .tagVmodeBtnClose {display:inline-block !important;}

/* cool color */
#good_inc,.good_inc {color:#09f}

/* tag tool */
.tagGray {background:#f3f3f3;}

/* write sample */
.writeTopGuide {color:#000; font-weight:bold; font-family:gulim; padding:0 0 20px 0;}
.wsample {height:520px; background:url(//image.musinsa.com/mfile_outsrc/img/wsample_form.png) no-repeat left top; border:1px solid #ddd; border-top:0; padding-left:864px;}
.wsample span {display:block; width:100%; height:60px; background:url(//image.musinsa.com/mfile_outsrc/img/wsample_form_bar.png) repeat-x;}
.wsampleBottom {text-align:center; padding:30px 0}
.wsampleBottom span {cursor:pointer; color:#b2b2b2; text-decoration:underline;}

/* forum hit point */
.hitPoint {border-left:1px solid #ddd; border-right:1px solid #ddd; padding-top:15px;}
.hitPoint div {display:block; padding:15px; color:#09f; border:1px solid #09f; margin:0 15px;}
.hitPoint a {font-weight:bold; text-decoration:underline;}
.hitPoint_mobile div {display:block; padding:15px; color:#09f; border:1px solid #09f; margin-bottom:10px;}
.hitPoint_mobile a {font-weight:bold; text-decoration:underline;}

/**/
.bottombox {}
.writeBtn-submit {width:93px; height:54px; font-size:16px !important; background:#000 !important; color:#fff; margin-right:7px}
.writeBtn-cancel {color:#b2b2b2; text-decoration:underline; margin-left:7px}

/* form app */
.fromApp {color:#ccc; font-size:11px;}

  /* 2016.02.26 left header del */
.list.option-list > .listItem .header {display:none}

/* icon size */
.mu-icon.mu-icon-size {
  font-family:'Doppio One';
  font-size:11px;
  position:absolute;
}

/* btn-black */
.btn-black {background:#000; color:#fff !important;}

/* now view */
.hover {background:#f2f2f2 !important;}

/* mobile header search */
.searchWord-box .column .list .listItem.title-listItem .btn {margin-right:0 !important;}

/* mobile head menu :: allView */
.headMenu menu {padding-right:45px !important;}
.headMenu menu:after {clear: both; display: block; content: '';}
.headMenu .nav_btn {position:absolute; right:0; top:0; width:45px; height:45px; cursor:pointer; z-index:2; font-size:16px;}
.headMenu .nav_btn a {display:inline-block; width:44px; height:43px; line-height:43px; text-align:center; background:#f3f3f3; border:1px solid #ddd; border-right:0;}
.headMenu .nav_grd {position:absolute; right:45px; z-index:2; width:30px; height:37px; background: url(/skin/m_musinsa/images/nav_grd.png) no-repeat;}
.nav_extend{position:absolute; top:0; z-index:1; width:100%; height:auto; background-color:#fff; box-sizing:border-box; -webkit-box-sizing:border-box}
.nav_extend_tit{padding:16px 0 14px 10px; border-bottom:1px solid #ddd; color:#b2b2b2; font-weight:bold; font-size:14px; line-height:14px; }
.nav_extend menu{width:100% !important; height:auto !important; padding-top:8px !important; padding-bottom:4px !important; padding-right:0 !important; border-bottom:1px solid #ddd; box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}
.nav_extend li a span{padding:8px 0 7px !important; border:0 !important;}
.nav_extend li.active a span{border-bottom:none}
.nav_extend li i{margin-top:4px !important;}
.mMode .headMenu .nav_extend menu{width:100% !important; height:auto !important;}

.bottom-column .main-content-wrapper {
  border-bottom: 0 !important;
}

/* no comment */
.noComment {height:12px; padding:40px 0; line-height:12px; text-align:center; border-top:1px solid #ddd;}
.noComment a {font-weight:bold;}
.noComment-mobile {padding:20px 0; line-height:18px; text-align:center; border-top:1px solid #ddd;}
.noComment-mobile a {font-weight:bold;}

/* #poll write */
#poll {z-index:1; background:#fff;}

/* pc main runway */
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .runway-article-list {
  margin: 0;
  padding: 5px 4px 0 15px;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .runway-article-list .listItem {
  width: 33.33333333%;
  min-width: 0;
  height: 350px;
  padding: 10px 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.runway {
  margin: 0;
  padding: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.runway .showMoreBtnBox {
  padding: 0 15px 20px;
}
.list.article-list.runway-article-list {
  padding-right: 0;
  margin: -15px -20px 0 -10px;
}
.list.article-list.runway-article-list .listItem {
  width: 25%;
  min-width: 234px;
  *width:234px;
  height: 497px;
  border: none;
}
.list.article-list.runway-article-list .listItem .articleImg {
  width: 180px;
  height: 242px;
  margin: 0 auto 13px;
  float: none;
}
.list.article-list.runway-article-list .listItem .articleImg img {
  width: 100%;
  height: 100%;
}
.list.article-list.runway-article-list .listItem .articleInfo {
  margin: 0 15px;
  clear: both;
}
.list.article-list.runway-article-list .listItem .articleInfo .title {
  margin-top: 10px;
}
.list.article-list.runway-article-list .listItem .articleInfo .info {
  margin-top: 8px;
}
.list.article-list.runway-article-list .listItem .articleInfo .description {
  margin-top: 10px;
  line-height: 20px;
}

.clear45 {clear:both; height:45px;}

/* main outer banner 20161030 */
.banner20161030 .btnBlock {position:relative; width:100%; height:50px; background:#f3f3f3; border-bottom:1px solid #ddd;}
.banner20161030 .btnBlock a {position:absolute; left:50%; bottom:-1px; margin-left:-143px; width:286px; height:40px; display:block; background:url(//image.musinsa.com/mfile_s01/musinsa/20161030_btn_open.jpg) no-repeat; text-indent:-100000em; overflow:hidden;}
.banner20161030 .imgBlock {position:relative; width:100%; height:289px; background:#b0a2ce; display:none;}
.banner20161030 .imgBlock .leftBlock {position:absolute; left:0; top:0; width:50%; height:100%; background:#7f9749;}
.banner20161030 .imgBlock .imgBanner {position:absolute; left:50%; top:0; margin-left:-961.5px; width:1923px; height:289px; background:url(//image.musinsa.com/mfile_s01/musinsa/20161030_banner1.jpg) no-repeat center; z-index:1;}
.banner20161030 .imgBlock .imgBanner a {position:absolute; top:20px; display:block; width:240px; height:250px; text-indent:-1000000em; cursor:pointer;}
.banner20161030 .imgBlock .imgBanner .ty1 {left:459px;}
.banner20161030 .imgBlock .imgBanner .ty2 {left:714px;}
.banner20161030 .imgBlock .imgBanner .ty3 {left:969px;}
.banner20161030 .imgBlock .imgBanner .ty4 {left:1224px;}
.banner20161030.v2 .imgBlock {background:#e9506e}
.banner20161030.v2 .imgBlock .leftBlock {background:#007bc1}
.banner20161030.v2 .imgBlock .imgBanner {background:url(//image.musinsa.com/mfile_s01/musinsa/20161030_banner2.jpg) no-repeat center;}
.banner20161030.open .imgBlock {display:block;}
.banner20161030.open .btnBlock a {background:url(//image.musinsa.com/mfile_s01/musinsa/20161030_btn_close.jpg) no-repeat;}

/* pc left brand tab */
.list.option-list .brand-option-list > .listItem .spell {margin-left:5px !important; font-family:'Verdana' !important; font-size:13px !important; font-weight:bold;}
.list.option-list .brand-option-list > .listItem .spell input {width:135px !important;}