/* ==========================================================================
   헤더 header
   ========================================================================== */
.top-column .header {
  min-width: 1240px;
  border-bottom: 1px solid #dddddd;
  position:relative;
}
.top-column .header .gnb-list a {color:#fff;}

/* ==========================================================================
   유저메뉴 userMenu
   ========================================================================== */
.top-column .header .main-wrapper {
  width: 100%;
  height: 32px;
  display: block;
  padding: 23px 0 23px 0;
  background-color: #000000;
}
.top-column .header .main-wrapper > .wrapper {
  float: left;
}
.top-column .header .main-wrapper h1.title {
  margin: 0 0 0 20px;
  font-size: 22px;
  font-family: 'Doppio One', sans-serif;
  font-weight: normal;
  line-height: 22px;
  display: inline;
  position: relative;
  top: 5px;
  float: left;
  color:#ffffff;
}
.top-column .header .main-wrapper .search-wrapper {
  margin-left: 19px;
  position: relative;
}
.top-column .header .main-wrapper .search-wrapper .box {
  float: left;
}

/* searchInput-box */
.box.searchInput-box {
  position: relative;
}
.box.searchInput-box input {
  height: 30px;
  line-height: 32px;
  box-sizing: content-box;
  border: 1px solid #373737;
}
.box.searchInput-box input.search {
  width: 218px;
  background:#fff;
}
.box.searchInput-box input.search:focus {
  outline: 0;
}
.box.searchInput-box input.search:focus + .search-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.box.searchInput-box .search-btn {
  width: 30PX;
  top: 1px;
  left: 189px;
  line-height: 30px;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  display: none;
}
.box.searchInput-box .search-btn:hover {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.top-column .header .main-wrapper .gnb {
  float: right;
  margin-right: 33px;
  line-height: 32px;
}
.top-column .header .main-wrapper .gnb .gnb-list li {
  font-size: 16px;
  font-weight: bold;
  float: left;
  position: relative;
}
.top-column .header .main-wrapper .gnb .gnb-list li a {
  padding: 0 9px;
  border-left: 1px solid #666666;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 14px;
  *line-height: 16px;
}
.top-column .header .main-wrapper .gnb .gnb-list li a:hover {
  text-decoration: none;
}
.top-column .header .main-wrapper .gnb .gnb-list li:first-child a {
  padding-left: 0;
  border-left: none;
}
.top-column .header .main-wrapper .gnb .gnb-list li.snap .hoverTarget {
  width: 111px;
  left: -31px;
}
.top-column .header .main-wrapper .gnb .gnb-list li.db .hoverTarget {
  width: 78px;
  left: -18px;
}
.top-column .header .main-wrapper .gnb .gnb-list li.news .hoverTarget {
  width: 78px;
  left: -18px;
}
.top-column .header .main-wrapper .gnb .gnb-list li.store .hoverTarget {
  width: 112px;
  left: -21px;
}
.top-column .header .main-wrapper .gnb .gnb-list li .hoverTarget {
  padding-top: 6px;
  font-family: "gulim", "굴림";
  font-size: 16px;
  color: #000000;
  position: absolute;
  z-index: 2000;
}
.top-column .header .main-wrapper .gnb .gnb-list li .hoverTarget li {
  background-color: #ffffff;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border: 1px solid #dddddd;
  margin-bottom: -1px;
  text-align: center;
}
.top-column .header .main-wrapper .gnb .gnb-list li .hoverTarget li a {
  width: 100%;
  height: 100%;
  line-height: 44px;
  border-left: none;
  padding: 0;
  color:#000;
}
.top-column .header .main-wrapper .gnb .gnb-list li .hoverTarget li:hover {
  background-color: #f3f3f3;
}
.top-column .header .userMenu-wrapper {
  position: relative;
}
.userMenu-wrapper .userMenu-list {
  position: relative;
  margin: 15px 15px 16px 20px;
  color: #000000;
  padding: 0;
}
.userMenu-wrapper .userMenu-list > .listItem {
  height: 11px;
  margin-left: -4px;
  display: inline-block;
  *zoom: 1;
  zoom: 1;
  *display: inline;
  position: relative;
  line-height: 13px;
  *line-height: 14px;
  border-left: 1px solid #dddddd;
}
.userMenu-wrapper .userMenu-list > .listItem .new {
  font-size:12px; font-family:'Doppio One'; color:#f00;
}
.userMenu-wrapper .userMenu-list .listItem_feed {
  padding:0 10px;
}
.userMenu-wrapper .userMenu-list > .listItem > a:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 10px;
}
.userMenu-wrapper .userMenu-list > .listItem .pm.new:after {
  content: "N";
  font-family: 'Doppio One', "gulim", "굴림";
  font-weight: bold;
  font-size: 10px;
  position: relative;
  top: -2px;
  left: 3px;
  color: #ff0000;
}
.userMenu-wrapper .userMenu-list > .listItem .infoLayout {
  width: 82px;
  margin-right: -1px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: none;
}
.userMenu-wrapper .userMenu-list > .listItem:first-child {
  border-left: none;
}
.userMenu-wrapper .userMenu-list > .listItem:first-child > a {
  border-left: none;
  font-weight:bold;
  font-family:gulim;
}
.userMenu-wrapper .userMenu-list > .listItem.division:after {
  margin-right: 0;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed {
  position: relative;
  padding: 0 10px;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget {
  width: 320px;
  position: absolute;
  z-index: 2000;
  left: -120px;
  top: 20px;
  background-color: #ffffff;
  display: none;
  padding-top: 10px;
  background: url(//www.musinsa.com/layouts/community/image/tritop.png) no-repeat center top;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget.active {
  display: block;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget > .heading {
  width: 100%;
  line-height: 41px;
  background-color: #ffffff;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget > .heading .title {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  font-weight: bold;
  float: left;
  padding-left: 10px;
  width: 140px;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget > .heading .toggle-btn {
  width: 140px;
  text-align: right;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  color: #999999;
  float: right;
  padding-right: 10px;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox {
  height: 330px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  overflow-y: scroll;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem {
  border-top: 1px solid #dddddd;
  padding: 10px;
  *zoom: 1;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem:before,
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem:after {
  content: " ";
  display: table;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem:after {
  clear: both;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem .feedImg {
  float: left;
  margin-right: 10px;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem .feedInfo {
  padding: 2px 0 0 10px;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem .feedInfo .feed {
  line-height: 140%;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem .feedInfo .date {
  line-height: 16px;
  color: #999999;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .newsFeedBox .feed-list .listItem:first-child {
  border-top: none;
}
.userMenu-wrapper .userMenu-list > .listItem.newsFeed .toggleTarget .showAll-btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
}
.userMenu-wrapper .userMenu-list > .listItem.activityInfo:after,
.userMenu-wrapper .userMenu-list > .listItem.shoppingInfo:after {
  margin-left: -9px;
  margin-right: 10px;
  content: "↓";
}
.userMenu-wrapper .userMenu-list > .listItem:hover.activityInfo,
.userMenu-wrapper .userMenu-list > .listItem:hover.shoppingInfo {
  padding-top: 6px;
  margin-top: -6px;
  border-top: 1px solid #dddddd;
}
/*
.userMenu-wrapper .userMenu-list > .listItem:hover.activityInfo + .listItem,
.userMenu-wrapper .userMenu-list > .listItem:hover.shoppingInfo + .listItem {
  padding-top: 8px;
  margin-top: -8px;
}
*/
.userMenu-wrapper .userMenu-list > .listItem:hover.activityInfo:after,
.userMenu-wrapper .userMenu-list > .listItem:hover.shoppingInfo:after {
  content: "↑";
}
.userMenu-wrapper .userMenu-list > .listItem:hover .infoLayout {
  left: -1px;
  margin-top: -1px;
  padding-bottom: 9px;
  text-indent: 11px;
  display: block;
  border-top: none;
  z-index: 1000;
}
.userMenu-wrapper .userMenu-list > .listItem:hover .infoLayout li {
  margin-top: 9px;
}
.userMenu-wrapper .userMenu-list > .listItem:hover .infoLayout li a:hover span {
  text-decoration: underline;
}
.userMenu-wrapper .userMenu-list > .listItem:hover .infoLayout li a .point {
  display:block;
  color:#001eff;
  margin-top:7px;
  font-family:gulim;
  text-decoration: none;
}
.userMenu-wrapper .userMenu-list > .listItem:hover .infoLayout li a:hover .point {
  text-decoration: none;
}
.userMenu-wrapper .userMenu-list > .listItem.activityInfo {
  margin-right: -1px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-login {
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login {
  margin: 0 8px 0 -1px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login span {font-weight:bold;}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login b {margin-left:5px}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login .openLogin {display:inline-block; *display: inline; *zoom: 1;}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login .closeLogin {display:none;}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login.active .openLogin {display:none;}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.login.active .closeLogin {display:inline-block; *display: inline; *zoom: 1;}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.social-listItem {
  width: 115px;
  padding: 0 9px 0 3px;
  border-left: none;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.social-listItem .btn {
  width: 55px;
  top: -6px;
  line-height: 23px;
  background: url('../../img/btn_social.png') 0 0 no-repeat;
  text-indent: -9999px;
  position: relative;
  float: left;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.social-listItem .btn.facebook-btn {
  margin-right: 5px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .listItem.social-listItem .btn.twitter-btn {
  background-position: -60px 0;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox {
  width: 100%;
  height: 0;
  overflow: hidden;
  position:relative;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .spacer {
  padding-top: 34px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .column {
  float: left;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .column .notification {
  color: #b2b2b2;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column {
  width: 265px;
  margin-left: 5px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box {
  float: left;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.input-box input {
  width: 183px;
  height: 21px;
  border: 1px solid #dddddd;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.input-box input.pw {
  margin-top: 7px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.loginBtn-box input[type="submit"] {
  width: 53px;
  height: 53px;
  margin-left: 7px;
  border: 1px solid #dddddd;
  background: #ffffff;
  -webkit-appearance: none;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.checkbox-box {
  margin-top: 15px;
  clear: left;
  width:125px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.checkbox-box input {
  float:left;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .left-column .box.checkbox-box .description {
  margin-left: 4px;
  word-break:keep-all;
  white-space: nowrap;
  float:left;
  line-height:12px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .right-column {
  width: 390px;
  padding-left: 19px;
  border-left: 1px solid #dddddd;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox .right-column .banner-loginOpen img {
  display:block;
  margin:0 auto;
  height:110px;
}
.userMenu-wrapper .userMenu-list.userMenu-list-notLogin .loginBox.active {
  height: 149px;
}
.top-column .header .searchWord-box {
  display: none;
  color: #000000;
  border: 1px solid #dddddd;
  border-top: none;
  background-color: #ffffff;
  position: absolute;
  z-index: 2000;
}
.top-column .header .searchWord-box .column {
  float: left;
}
.top-column .header .searchWord-box .column .list {
  border-top: 1px solid #dddddd;
  margin-bottom: 7px;
}
.top-column .header .searchWord-box .column .list .listItem {
  margin: 0 4px;
  padding:0 10px;
  line-height: 28px;
  color: #b2b2b2;
}
.top-column .header .searchWord-box .column .list .listItem:hover {
  background-color: #f3f3f3;
}
.top-column .header .searchWord-box .column .list .listItem.title-listItem {
  margin: 0 0 7px;
  line-height: 41px;
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}
.top-column .header .searchWord-box .column .list .listItem.title-listItem .title {
  margin-left: 14px;
  font-weight: bold;
  float: left;
}
.top-column .header .searchWord-box .column .list .listItem.title-listItem .btn {
  margin-right: 12px;
  float: right;
}
.top-column .header .searchWord-box .column.left-column {
  border-right: 1px solid #dddddd;
  margin-right: -1px;
  width:288px;
}
.top-column .header .searchWord-box .column.left-column .recentSearchWord-list .listItem {
  *zoom: 1;
}
.top-column .header .searchWord-box .column.left-column .recentSearchWord-list .listItem:before,
.top-column .header .searchWord-box .column.left-column .recentSearchWord-list .listItem:after {
  content: " ";
  display: table;
}
.top-column .header .searchWord-box .column.left-column .recentSearchWord-list .listItem:after {
  clear: both;
}
.top-column .header .searchWord-box .column.left-column .recentSearchWord-list .word {
  color: #b2b2b2;
}
.top-column .header .searchWord-box .column.right-column {
  border-left: 1px solid #dddddd;
  width:308px;
}
.top-column .header .searchWord-box .column.right-column .popularSearchWord-ranking-list .listItem .word {
  margin-left: 5px;
}
.top-column .header .searchWord-box.global-searchWord-box {
/*
  width: 483px;
*/
  width: 296px;
  height: 336px;
  left: 1px;
  top: 31px;
}
.top-column .header .searchWord-box.global-searchWord-box .column.left-column {
  width: 296px;
}
.top-column .header .searchWord-box.global-searchWord-box .column.left-column .recentSearchWord-list .listItem.title-listItem {
  color: #000000;
}
.top-column .header .searchWord-box.global-searchWord-box .column.left-column .recentSearchWord-list .listItem .word {
  max-width: 231px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.top-column .header .searchWord-box.global-searchWord-box .column.left-column .recentSearchWord-list .listItem .delete-btn-red {
  float: right;
}
.top-column .header .searchWord-box.global-searchWord-box .column.right-column .popularSearchWord-ranking-list .listItem {
  color: #000000;
}
.top-column .header .searchWord-box.global-searchWord-box .column.right-column .popularSearchWord-ranking-list .listItem .word {
  width: 102px;
}
.top-column .header .searchWord-box.store-searchWord-box {
  font-family: "gulim";
  top:55px;
  left:134px;
}
.top-column .header .searchWord-box.store-searchWord-box .column .title-listItem .title {
  color: #000000;
}
.top-column .header .searchWord-box.store-searchWord-box .column.left-column .recommendSearchWord-list .recommendSearchWord .word {
  width: 255px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.left-column strong {
  font-style: normal;
  color: #0099ff;
}
.top-column .header .searchWord-box.store-searchWord-box .column.left-column .recommendSearchWord-list .recommendSearchWord .delete-btn-red {
  margin-left: 21px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .title-listItem {
  margin-bottom: 11px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .title-listItem .closeBtn {
  float: right;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct {
  line-height: 1em;
  padding: 4px 10px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productImg {
  width: 50px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  float: left;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productImg img {
  width: 100%;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo {
  margin-top: 3px;
  line-height: 19px;
  color: #000000;
  float: left;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .brand {
  font-weight: bold;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .brand,
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .product {
  width: 176px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .original {
  color: #b2b2b2;
  text-decoration: line-through;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .discount {
  font-weight: bold;
  margin-left: 4px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .rating-star,
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .replyCnt {
  color: #ff0000;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .rating-star {
  margin-left: 7px;
  line-height: 19px;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .rating-star-0 {
  display:none !important;
}
.top-column .header .searchWord-box.store-searchWord-box .column.right-column .recommendProduct-list .recommendProduct .productInfo .replyCnt {
  margin-left: 4px;
}

/* popularSearchWord-ranking */
.popularSearchWord-ranking-list-wrapper {
  width:217px;
  height: 32px;
  margin-left: 14px;
  float: left;
  position:relative;
}
.popularSearchWord-ranking-list-wrapper .rollingRanking {
  position:relative; 
  height:32px; 
  overflow:hidden;
}
.popularSearchWord-ranking-list-wrapper .rollingRanking dl {
  position:absolute;
  width:217px;
  left:0;
  top:0;
}
.popularSearchWord-ranking-list-wrapper .rollingRanking dd .rank {
  font-weight:bold;
}
.popularSearchWord-ranking-list-wrapper .rollingRanking dd .word {
  font-weight:bold;
}
.popularSearchWord-ranking-list-wrapper .listItem {
  display:block;
  width:100%;
  height:32px;
  overflow:hidden;
}
.popularSearchWord-ranking-list-wrapper .listItem a {
  display:block;
  height:32px;
  color:#ffffff;
}
.popularSearchWord-ranking-list-wrapper .listItem a span {
  float:left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height:32px;
  line-height:32px;
}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation {float:right;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-up .down {display:none;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-up .even {display:none;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-down .up {display:none;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-down .even {display:none;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-even .up {display:none;}
.popularSearchWord-ranking-list-wrapper .listItem a span.rank-variation-even .down {display:none;}

.popularSearchWord-ranking-list-wrapper .keywordLayer {
  width: 259px;
  position:absolute;
  left:-1px;
  top:-1px;
  background:#fff;
  z-index:3000;
  padding:13px 0 0;
  border:1px solid #ddd;
  display:none;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .snbBox {
  padding:0 10px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordH {
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordList .navBtnBox {
  height:24px;
  padding:10px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordList .navBtnBox .title {
  float:left;
  text-decoration:underline;
  color:#999;
  display:block;
  line-height:24px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordR .title {
  text-decoration:none !important;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordList .navBtnBox .btnBox {
  float:right;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordList .navBtnBox .btnBox .first {
  margin-right:-1px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink {
  clear:both;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem {
  border-top:1px solid #ddd;
  height:41px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem a {
  font-weight:bold;
  color:#000000 !important;
  height:41px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem a:hover {
  background:#f3f3f3;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem a span {
  height:41px;
  line-height:41px;
  font-family:"굴림", Gulim, Arial, sans-serif;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem .rank {
  margin-left:14px;
  width:22px;
}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem .rank b {color:#999; font-weight:normal;}
.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordLink .listItem .rank-variation {
  margin-right:14px;
}

.layerOn .keywordLayer {display:block !important;}

.popularSearchWord-ranking-list-wrapper .keywordLayer .step2 {display:none;}
.popularSearchWord-ranking-list-wrapper .keywordLayer .step2_on .listItem {display:none;}
.popularSearchWord-ranking-list-wrapper .keywordLayer .step2_on .step2 {display:block;}

.popularSearchWord-ranking-list-wrapper .keywordLayer .keywordR .rank {width:100% !important;}

/* quick cart */
.q-cart {width:661px; height:543px; padding-top:26px; position:absolute; left:1px; top:-7px; z-index:999; display:none;}
.qcart:hover .q-cart {display:block !important;}
.q-cart-header {width:96px; height:26px; line-height:26px; border:1px solid #ddd; border-bottom:0; text-align:center; background:#fff; position:absolute; left:0; top:0;}
.q-cart-body {width:659px; height:514px; border:1px solid #ddd; background:#fff; font-family:gulim; }
.q-cart-body .c-header {padding:0 15px; margin-bottom:14px;}
.q-cart-body .c-header a {display:block; height:12px; line-height:12px; color:#b2b2b2; margin-top:22px;}
.q-cart-body .c-header .btnCart {float:left; padding-right:8px; margin-right:8px; border-right:1px solid #ddd;}
.q-cart-body .c-header .btnGoods {float:left;}
.q-cart-body .c-header .active {color:#000; font-weight:bold;}
.q-cart-body .c-header .linkCart {float:right; text-decoration:underline; color:#000; font-weight:bold;}
.q-cart-body .c-header .linkOrder {float:right; text-decoration:underline; color:#000; font-weight:bold; margin-left:15px; margin-right:15px;}
.q-cart-body .c-header .arrowLeft {float:right; width:25px; height:25px; margin-top:13px; background:url(//image.musinsa.com/skin/musinsa/images/arrow_rankingLeft.gif) no-repeat;}
.q-cart-body .c-header .arrowRight {float:right; width:24px; height:25px; margin-top:13px; background:url(//image.musinsa.com/skin/musinsa/images/arrow_rankingRight.gif) no-repeat;}
.q-cart-body .c-header .inActive {opacity:0.8;}

.body-cart {width:469px; height:514px; border-right:1px solid #ddd; float:left;}
.body-cart ul {padding:15px 14px 0 14px; clear:both;}
.body-cart li {float:left; position:relative; width:100px; height:228px; margin:0 5px;}
.body-cart li .del {display:block; cursor:pointer; position:absolute; right:0; top:0; width:15px; height:15px; background:url(//image.musinsa.com/skin/musinsa/images/btn_quickcart_delete.gif) no-repeat; z-index:1;}
.body-cart li .img {display:block; width:100px; height:120px;}
.body-cart li .img img {width:100px; vertical-align:middle; display:inline}
.body-cart li .brand {margin-top:5px; display:block; width:100px; height:12px; line-height:12px; overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.body-cart li .name {margin-top:10px; display:block; width:100px; height:12px; line-height:12px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.body-cart li .price {margin-top:10px; display:block; width:100px; height:12px; line-height:12px; overflow:hidden; font-weight:bold;}
.body-cart li .cnt {margin-top:10px; display:block; width:100px; height:12px; line-height:12px; overflow:hidden; color:#b2b2b2;}
.body-cart li.nodata {width:100%; color:#b2b2b2;}

.body-goods {width:469px; height:514px; border-right:1px solid #ddd; float:left;}
.body-goods .c-header {height:34px;}
.body-goods-menu {clear:both; margin:15px 0 20px; padding:0 0 0 15px;}
.body-goods-menu a {display:block; float:left; border-left:1px solid #ddd; height:12px; line-height:12px; padding-left:12px; margin-left:12px;cursor:pointer; color:#b2b2b2;}
.body-goods-menu a:first-child {margin-left:0; border:0; padding:0; margin:0;}
.body-goods-menu a.active {color:#000; font-weight:bold;}

.body-goods ul {padding:15px 14px 0 14px; clear:both;}
.body-goods ul li {float:left; position:relative; width:220px; height:84px; margin:0 0 23px 0;}
.body-goods ul li .del {display:block; cursor:pointer; position:absolute; left:55px; top:0; width:15px; height:15px; background:url(//image.musinsa.com/skin/musinsa/images/btn_quickcart_delete.gif) no-repeat; z-index:1;}
.body-goods ul li .img {display:block; width:70px; height:84px; float:left;}
.body-goods ul li .img img {width:70px; vertical-align:middle; display:inline}
.body-goods ul li .brand {float:left; margin-top:7px; margin-left:13px; display:block; width:125px; height:12px; line-height:12px; overflow:hidden; font-weight:bold; text-overflow:ellipsis; white-space:nowrap;}
.body-goods ul li .name {float:left; margin-top:10px; margin-left:13px; display:block; width:125px; height:12px; line-height:12px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.body-goods ul li .price {float:left; margin-top:10px; margin-left:13px; display:block; width:125px; height:12px; line-height:12px; overflow:hidden; font-weight:bold;}
.body-goods ul li .price del {font-weight:normal; color:#b2b2b2;}
.body-goods ul li.nodata {width:100%; color:#b2b2b2;}

.body-brand {width:189px; float:left;}
.body-brand ul {padding:0 15px; clear:both;}
.body-brand li {line-height:12px; margin-bottom:15px; color:#b2b2b2;}
.body-brand li .del {color:#f00; cursor:pointer;}
.body-brand li.nodata {width:100%; color:#b2b2b2;}

/* google recaptcha */
.recaptchaOn.active {height:200px !important;}
.recaptchaOn .left-column {width:320px !important;}
.loginBox .g-recaptcha {clear:both; padding-top:10px;}
.loginBox .g-recaptchaIE7 {position:absolute; left:0; top:35px; width:260px; height:111px;}
.loginBox .g-recaptchaIE7 .screen {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.9; filter:alpha(opacity=90, style=1, finishopacity=90)}
.loginBox .g-recaptchaIE7 p {position:absolute; left:0; top:0; color:#fff; padding:10px 15px; line-height:18px; z-index:1;}