/*FIXME 임시 적용 스타일 END*/
.bottom-column .sidebar .recentViewNav {
  margin: 15px 15px 0;
}
.bottom-column .sidebar .recentViewNav .header {
  height: 23px;
  text-align: center;
}
.bottom-column .sidebar .recentViewNav .header .nav-btn.prev {
  float: left;
}
.bottom-column .sidebar .recentViewNav .header .nav-btn.next {
  float: right;
}
.bottom-column .sidebar .recentViewNav .header .title {
  width: 194px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  line-height: 23px;
  font-size: 14px;
  font-weight: bold;
  display: none;
}
.bottom-column .sidebar .recentViewNav .header .title.active {
  display: inline;
}
.bottom-column .sidebar .recentViewNav .content {
  margin-top: 10px;
  overflow:hidden;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper {
  display: none;
  height: 240px;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list {
  border-top: 1px solid #dddddd;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list li {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 80px;
  *width:79px;
  height: 80px;
  border:1px solid #dddddd;
  text-align: center;
  float: left;
  overflow: hidden;
  margin-right: -1px;
  margin-bottom:-1px
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list li .delete-item-btn {
  line-height: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list:first-child {
  border-top: none;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item .item-wrapper {
  padding: 6px;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item .item-wrapper img {
  height: 100%;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item .btn {
  float: right;
  display: none;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item .name {
  width: 50px;
  margin: 5px auto 0 auto;
  line-height: 14px;
  color: #b2b2b2;
  display: none;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item .price {
  display: none;
  font-weight: bold;
  margin-top: 6px;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item:hover img {
  display: none;
}
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item:hover .name,
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item:hover .price,
.bottom-column .sidebar .recentViewNav .content .content-wrapper .item-list .item:hover .btn {
  display: block;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.product {
  margin: 0 -1px -1px 0;
  display: block;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.brand {
  margin: 0 -1px -1px 0;
  display: block;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.brand .item-list {
  line-height: 80px;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.brand .item-list .item img {
  height: 73px;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.brand .item-list .item .name {
  width: 63px;
  margin: auto;
  color: #000000;
  font-weight: bold;
  line-height: 18px;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.brand .item-list .item:hover .name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.searchWord {
  height: 230px;
  padding-top: 10px;
  display: block;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.searchWord .wordBox {
  width: 94px;
  padding: 5px 10px 6px 15px;
  float: left;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.searchWord .wordBox .word {
  float: left;
  width: 80px;
  height:15px;
  overflow:hidden;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.searchWord .wordBox .delete-item-btn {
  color: #ff0000;
  float: right;
}
.bottom-column .sidebar .recentViewNav .content-wrapper.searchWord .wordBox:hover {
  background-color: #f3f3f3;
}
.bottom-column .sidebar .shoppingTab {
  margin: 20px 15px 25px;
  border-top: none;
  position: relative;
}
.bottom-column .sidebar .shoppingTab .content-wrapper {
  *zoom: 1;
}
.bottom-column .sidebar .shoppingTab .content-wrapper:before,
.bottom-column .sidebar .shoppingTab .content-wrapper:after {
  content: " ";
  display: table;
}
.bottom-column .sidebar .shoppingTab .content-wrapper:after {
  clear: both;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .snb {
  margin-bottom: -1px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox {
  color: #b2b2b2;
  padding: 11px 15px 0 15px;;
  text-align: right;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox .title {
  float: left;
  line-height: 22px;
  text-decoration: underline;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox .pageNum {
  float: left;
  margin-left: 10px;
  line-height: 22px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox .btnBox {
  float: right;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox .btnBox .nav-btn {
  float: left;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .navBtnBox .btnBox .nav-btn.prev {
  margin-right: -1px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-top: none;
  width:238px;
  height:343px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .vamHelper {
  width:0;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list {
  width: 19999px;
  position:absolute;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem {
  float: left;
  width:238px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem .nodata {
  text-align:center;
  line-height:100px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem .slide-wrapper {
  padding: 0 15px;
  border-top: none;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item {
  width: 208px;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
  position: relative;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item:hover {
  background-color: #f2f2f2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .description {
  width: 150px;
  height: 55px;
  float: left;
  margin-top:5px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .description .replyCnt {
  font-size: 11px;
  font-weight: normal;
  color: #b2b2b2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .description .notification {
  height: 32px;
  overflow: hidden;
  word-break:break-all;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .description .info {
  width: 100%;
  margin-top: 5px;
  color: #b2b2b2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .itemImg {
  width: 50px;
  height: 60px;
  overflow:hidden;
  border: 1px solid #dddddd;
  float: right;
  margin-bottom:10px;
  background:#fff;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item .itemImg img {
  width:50px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.newArrival .slide-wrapper .item:first-child {
  border-top: none;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking {
  padding-top:11px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper {
  padding-right: 0;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item {
  width: 62px;
  height: 153px;
  float: left;
  padding:4px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item:hover {
  background:#f2f2f2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item .itemImg {
  width: 60px;
  height: 72px;
  border: 1px solid #dddddd;
  white-space: nowrap;
  background:#fff;
  position:relative;
  text-align:center;
  overflow:hidden;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item .itemImg img {
  vertical-align: middle;
  width:100%;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item .rankInfo {
  text-align: left;
  font-weight: bold;
  margin-top: 7px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.ranking .slide-wrapper .item .description {
  height: 46px;;
  line-height: 1.4em;
  margin-top: 4px;
  color: #b2b2b2;
  overflow: hidden;
  word-break:break-all;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking {
  padding-top:6px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper {
  padding-right: 0;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper .item {
  width: 64px;
  height: 88px;
  float: left;
  padding:4px;
  margin-bottom:10px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper .item:hover {
  background:#f2f2f2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper .item .itemImg {
  width: 62px;
  height: 62px;
  border: 1px solid #dddddd;
  white-space: nowrap;
  text-align: center;
  overflow:hidden;
  position:relative;
  background:#fff;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .rankBlock {
  position:absolute;
  left:0;
  top:0;
  display:block;
  width:20px;
  height:15px;
  line-height:15px;
  border:1px solid #ddd;
  border-top:0;
  border-left:0;
  text-align:center;
  font-weight:bold;
  background:#fff;
  font-size:11px;
  font-family:"Doppio One";
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper .item .itemImg img {
  vertical-align: middle;
  width:52px;
  height:52px;
  margin:5px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .slide-wrapper .item .rankInfo {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  line-height:12px;
  height:12px;
  overflow:hidden;
  color:#000;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .endLinkTrunk {
  padding:10px 15px 0 15px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .endLinkBox {
  border-top:1px solid #ddd;
  padding-top:8px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .endLink {
  clear:both;
  display:block;
  height:29px;
  line-height:29px;
  border:1px solid #ddd;
  color:#b2b2b2;
  text-align:center;
  margin-bottom:6px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .endLink:hover {
  background:#f2f2f2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.brandRanking .endLink {
  margin-right:15px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special {
  padding-top:15px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemImg {
  text-align: center;
  width:100%;
  height:150px;
  overflow:hidden;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemImg img {
  width:125px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemInfo {
  margin-top: 15px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemInfo .brand {
  font-weight: bold;
  overflow: hidden;
  margin-bottom:5px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemInfo .title {
  font-weight: bold;
  overflow: hidden;
  height:18px;
  line-height:18px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.special .slide-wrapper .itemInfo .desc {
  margin-top:10px;
  overflow: hidden;
  color: #b2b2b2;
  line-height:20px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale {
  padding-top:15px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemImg {
  text-align: center;
  width:100%;
  height:150px;
  overflow:hidden;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemImg img {
  width:125px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo {
  margin-top: 13px;
  text-align: center;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .title.kor {
  margin-bottom: 4px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .title.eng {
  margin-bottom: 9px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .price.original {
  text-decoration: line-through;
  color:#999;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .price.discount {
  margin-top: 4px;
  color: #ff6600;
  font-family: 'Verdana', "gulim", "굴림";
  font-weight: bold;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .price.discount .number {
  font-size: 18px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .price.discount .unit {
  font-size: 12px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .countdown {
  margin-top: 10px;
  font-family: 'Doppio One', "gulim", "굴림", sans-serif;
  font-size: 24px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemInfo .desc {
  margin-top: 15px;
  overflow: hidden;
  color: #b2b2b2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale {
  width: 62px;
  height: 153px;
  float: left;
  padding:4px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .itemImg {
  width: 60px;
  height: 72px;
  white-space: nowrap;
  background:#fff;
  position:relative;
  text-align:center;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .itemImg img {
  vertical-align: middle;
  width:100%;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .articleInfo {
  text-align: left;
  margin-top: 7px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .articleInfo .title {
  color:#b2b2b2;
  display:block;
  overflow:hidden;
  height:38px;
  line-height:18px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .articleInfo .title b {
  color:#000;
  display:block;
  margin-bottom:2px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .slide-wrapper .itemSale .articleInfo .price {
  color:#b2b2b2;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .saleBlock {
  position:absolute;
  left:0;
  top:0;
  display:block;
  height:15px;
  line-height:15px;
  border:1px solid #ddd;
  border-top:0;
  border-left:0;
  text-align:center;
  font-weight:bold;
  background:#fff;
  font-size:11px;
  font-family:"Doppio One";
  color:#f00;
  padding:0 5px;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .wrapperSale .endLinkTrunk {
  padding-left:0 !important;
}
.bottom-column .sidebar .shoppingTab .content-wrapper .iscroll-wrapper .slide-list .listItem.sale .wrapperSale {
  padding-right:0 !important;
}
.bottom-column .main-content-wrapper {
  position: relative;
}
.bottom-column .main-content-wrapper .main-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
}
.bottom-column .main-content-wrapper .main-content .section > .header {
  line-height: 14px;
  padding: 19px 15px 14px;
}
.bottom-column .main-content-wrapper .main-content.main-content-top {
  height: 320px;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .banner-list {
  width: 100%;
  position: absolute;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .banner-list li {
  width: 100%;
  height:320px;
  display: none;
  float: left;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .banner-list li.active {
  display: block;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .banner-list li a {
  display:block;
  width:100%;
  height:100%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .banner-list li .bannerImg {
  height: 100%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .bannerNav-list {
  min-width: 981px;
  position: relative;
  background-color: transparent;
  z-index: 1;
  top: 290px;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .bannerNav-list li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #dddddd;
  border-right: none;
  float: left;
  height: 31px;
  overflow:hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  text-align: center;
  font-family: 'Doppio One', "gulim", "굴림", sans-serif;
  background-color: #ffffff;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .bannerNav-list li:first-child {
  border-left: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-4 li {
  width:25%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-5 li {
  width:20%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-6 li:first-child {
  width:17.5%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-6 li {
  width:16.5%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-7 li:first-child {
  width:14.2%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-7 li {
  width:14.3%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-8 li {
  width:12.5%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-9 li:first-child {
  width:12%;
}
.bottom-column .main-content-wrapper .main-content.main-content-top .tabCnt-9 li {
  width:11%;
}

.bottom-column .main-content-wrapper .main-content.main-content-top .bannerNav-list li.active {
  text-indent: -9999px;
  background-color: transparent;
  border-top: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-left {
  width: 64%;
  border-right: 1px solid #dddddd;
  *margin-right: -1px;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header {
  padding-bottom: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header .snb .tab-btn {
  font-size: 14px;
  float: left;
  text-align: center;
  font-weight: bold;
  color: #b2b2b2;
  border-left: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header .snb .tab-btn span {
  padding: 0 7px;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header .snb .tab-btn:first-child {
  border-left: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header .snb .tab-btn:first-child span {
  padding-left: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .header .snb .tab-btn.active {
  color: #000000;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .article-list .listItem:hover {
  background-color: #f2f2f2;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .news-article-list .listItem {
  border-top: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .news-article-list .listItem .articleInfo .description {
  height: 57px;
  overflow: hidden;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .news-article-list .listItem:first-child {
  border-top: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem {
  width: 100%;
  height: 112px;
  border-top: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem .articleInfo {
  width: auto;
  padding-right: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem .articleInfo .description {
  height: 38px;
  overflow: hidden;
  padding-top:8px !important;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem:first-child {
  border-top: none;
  padding-top: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .lookbook-article-list {
  margin: 0;
  padding: 5px 4px 0 15px;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .lookbook-article-list .listItem {
  width: 33.33333333%;
  min-width: 0;
  height: 350px;
  padding: 10px 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .btn.showMore {
  width: 100%;
  margin-top: 15px;
  padding: 8px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.lookbook {
  margin: 0;
  padding: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.lookbook .showMoreBtnBox {
  padding: 0 15px 20px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right {
  width: 36%;
  margin-left: -1px;
  border-left: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section {
  border-top: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .header .snb .tab-btn {
  font-size: 14px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .header .snb .tab-btn.division {
  padding-right: 8px;
  margin-right: 3px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .content-wrapper {
  padding-top: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .content-wrapper .word-list .listItem > a {
  *zoom: 1;
  display: block;
  padding-right:40px;
  position:relative;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .content-wrapper .word-list .listItem > a:before,
.bottom-column .main-content-wrapper .main-content.main-content-right .section .content-wrapper .word-list .listItem > a:after {
  content: " ";
  display: table;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section .content-wrapper .word-list .listItem > a:after {
  clear: both;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section:first-child {
  border-top: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .header .snb .division:after {
  margin: 0 2px 0 4px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list {
  padding-right: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem {
  min-width: 100px;
  width: 100px;
  height: 197px;
  margin: 0 0 5px 0;
  padding: 5px 5px 0 5px;
  border: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem .articleImg {
  width: 98px;
  height: 148px;
  margin: 0;
  border: 1px solid #dddddd;
  float: none;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem .articleImg img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem .articleInfo {
  margin: 11px 0 0 0;
  text-align: left;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem .articleInfo .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.snap .snap-article-list .listItem .articleInfo .title .category {
  margin-bottom: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr {
  margin-bottom: 20px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .content-wrapper {
  padding-bottom: 0;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.galleryIssue {
  margin-bottom: 15px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.galleryIssue .content-wrapper {
  /*TODO  리팩토링 필요*/
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.galleryIssue .content-wrapper .articleImg-list {
  margin-left: -10px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.galleryIssue .content-wrapper .articleImg-list .listItem {
  margin-left: 9px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem {
  clear:both;
  height:39px;
  line-height: 39px;
  overflow:hidden;
  border-bottom: 1px solid #dddddd;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem a:visited,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem a:visited {
  color: #b2b2b2;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem:hover,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem:hover {
  background-color: #f3f3f3;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem:first-child,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem:first-child {
  margin-top: -14px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem span,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .section.brandPr .word-list .listItem .title,
.bottom-column .main-content-wrapper .main-content.main-content-right .section.commIssue .word-list .listItem .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 3px;
  max-width:240px;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .word-list .listItem .date {
  position:absolute;
  right:0;
  top:0;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .showMoreBtnBox {
  margin-top:15px;
  width:100%;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .showMoreBtnBox .plain-btn {
  display:block;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .showMoreBtnBoxLink {
  margin-top:15px;
  width:100%;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .showMoreBtnBoxLink .plain-btn {
  display:block;
}
/* ===============
   IE Fix
   =============== */
html {
  /* ===============
    IE 8 Fix
   =============== */
}
html.lt-ie9 .bottom-column .main-content-wrapper .main-content.main-content-right .section.snap {
  height: 256px;
  overflow: hidden;
  position:relative;
}
/* ==========================================================================
   Media Queries
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 1400px) {
  .magazine-article-list .listItem {
    width: 33% !important;
  }
}
@media only screen and (min-width: 1557px) {
  .lookbook-article-list.center .listItem {
    width: 25% !important;
  }
  .magazine-article-list .listItem {
    width: 33% !important;
  }
}
@media only screen and (min-width: 1874px) {
  .lookbook-article-list.center .listItem {
    width: 20% !important;
  }
  .magazine-article-list .listItem {
    width: 25% !important;
  }
}
@media only screen and (min-width: 2191px) {
  .lookbook-article-list.center .listItem {
    width: 16.66666667% !important;
  }
  .magazine-article-list .listItem {
    width: 25% !important;
  }
}
@media only screen and (min-width: 2508px) {
  .lookbook-article-list.center .listItem {
    width: 14.28571429% !important;
  }
  .magazine-article-list .listItem {
    width: 20% !important;
  }
}
@media only screen and (min-width: 2825px) {
  .lookbook-article-list.center .listItem {
    width: 12.5% !important;
  }
  .magazine-article-list .listItem {
    width: 20% !important;
  }
}
@media only screen and (min-width: 3142px) {
  .lookbook-article-list.center .listItem {
    width: 12.5% !important;
  }
  .magazine-article-list .listItem {
    width: 20% !important;
  }
}

/* pc main magazine update 2015.10.26  */
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.news {padding-top:5px;}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.magazine {padding-top:10px;}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.lookbook {padding-top:5px;}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper.runway {padding-top:5px;}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem {
	width: 50%;
	height: 267px;
	border:0;
	padding: 10px 0 !important;
	float: left;
	margin:0;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem .articleImg {
  margin:0 auto 13px auto;
  width:220px !important;
  float:none;
}
.bottom-column .main-content-wrapper .main-content.main-content-left .section .content-wrapper .magazine-article-list .listItem .articleImg img {
  width:220px !important;
}
.bottom-column .main-content-wrapper .main-content.main-content-right .snap .content-wrapper {
  padding:0 0 30px 15px;
}
.list.article-list.magazine-article-list .listItem .articleInfo {margin:0 auto; width:220px !important;}
.list.article-list.magazine-article-list .listItem .articleInfo .info {line-height:18px;}

/* main link visited */
.list.article-list > .listItem a:visited .title {color:#999;}

/* recruit Recent */
.recruitRecent {border-top:1px solid #ddd; min-width:760px; background:#fff;}
.recruitRecent h3 {display:block; padding:20px 15px; font-size:14px; line-height:13px;}
.recruitRecent h3 b {float:left;}
.recruitRecent h3 .clear {display:block;}
.recruitRecent h3 a {font-weight:normal;}
.recruitRecent-list {padding:0 15px;}
.recruitRecent-list li {position:relative; display:block; float:left; width:50%; height:190px;}
.recruitRecent-list li .img {position:absolute; display:block; left:0; top:15px; width:208px; height:158px; border:1px solid #ddd; text-align:center;}
.recruitRecent-list li .img img {display:inline;}
.recruitRecent-list li .icon {position:absolute; left:1px; top:16px; display:block; width:61px; height:22px; line-height:22px; text-align:center; border-right:1px solid #ddd; border-bottom:1px solid #ddd; font-size:12px; font-family:'Doppio One'; z-index:1;}
.recruitRecent-list li p {margin-left:220px; margin-top:23px; padding-right:20px;}
.recruitRecent-list li .title {display:block; font-size:16px; font-weight:bold; line-height:22px; margin-bottom:9px;}
.recruitRecent-list li .title span {font-size:12px; font-family:gulim; font-weight:normal;}
.recruitRecent-list li .info {display:block; font-size:12px; font-family:gulim; line-height:18px; color:#b2b2b2; margin-bottom:12px;}
.recruitRecent-list li .cate {display:block; font-size:12px; font-family:gulim; line-height:12px; color:#b2b2b2; }
.recruitRecent-list li.fr {height:175px; border-bottom:1px solid #ddd;}
.recruitRecent-list li.fr p {margin-top:8px;}
.recruitRecent-list li.fr .img {top:0;}
.recruitRecent-list li.fr .icon {top:1px;}