@charset "utf-8";
/* CSS Document */

/* Home */

.newHome2{
	position:relative;
}
#rtoaster_home_bookmark01 {
    position: absolute;
    left: 0px;
    top: 101px;
    padding:0;
}
#rtoaster_home_bookmark01 a{
	display:block;
}
#rtoaster_home_bookmark01 .bookmark01 a span.icn{
	padding-left:18px;
	background:url(//w.gimg.golfdigest.co.jp/resource/images/index/headings/icn_bookmark.png) left 50% no-repeat;
}
#rtoaster_home_bookmark01 .home01 a span.icn{
	padding-left:18px;
	background:url(//w.gimg.golfdigest.co.jp/resource/images/index/headings/icn_home.png) left 50% no-repeat;
}
#rtoaster_home_bookmark02 {
	width:278px;
	margin:0 auto;
	padding:0 10px;
}

#pnlLogout #rtoaster_home_bookmark02 {
	width:278px;
	margin:0 auto;
	padding:0 10px 10px 0;
}
#rtoaster_home_bookmark02 .bookmark02 a{
	background:#f6f6f6;
	width:278px;
	padding:7px 0;
	border:dotted 1px #dddddd;
	text-align:center;
	display:block;
}
#rtoaster_home_bookmark02 .bookmark02 a span.icn{
	padding-left:18px;
	background:url(//w.gimg.golfdigest.co.jp/resource/images/index/headings/icn_bookmark.png) left 50% no-repeat;
}
#rtoaster_home_bookmark02 .home02 a{
	background:#f6f6f6;
	width:278px;
	padding:7px 0;
	border:dotted 1px #dddddd;
	text-align:center;
	display:block;
}
#rtoaster_home_bookmark02 .home02 a span.icn{
	padding-left:18px;
	background:url(//w.gimg.golfdigest.co.jp/resource/images/index/headings/icn_home.png) left 50% no-repeat;
}
