@charset "utf-8";
/* CSS Document */
#rt_gbu_center .sectionGray220 {
	margin-bottom:0;
	 float:left;
	 width:225px;
}

#rt_gbu_center .sectionGray220 .inner{
	padding:5px 4px !important;
	border:solid 1px #c8c8c8;
	border-top:none;
	overflow:hidden;
}

#rt_gbu_center .sectionGray220 .inner div {
	float:left;
	display: inline;
	width:90px;
}

#rt_gbu_center .sectionGray220 .inner p {
	line-height:1;
	display:block;
}

#rt_gbu_center .sectionGray220 .inner dl {
	float:right;
	display: inline;
	width:115px;
	height:70px;
	margin:0;
	overflow:hidden;
}

#rt_gbu_center .sectionGray220 .inner dl dt {
	font-weight:bold;
}

#rt_gbu_center .sectionGray220 .inner dl dd {
	margin:0;
}

#rt_gbu_center .sectionGray220 .inner dl dd span {
	color:#eb4055;
	font-weight:bold;
}

#rt_gbu_center .sectionGray220 .inner dl#hotpriceList dd {
	color:#eb4055;
	font-weight:bold;
}

#rt_gbu_center .sectionGray220 .inner dl#hotpriceList dd span{
	font-size:18px;
}

#rt_gbu_center .sectionGray220 .headingBlack220{
	background:#c22;
	padding:5px 7px;
}

#rt_gbu_center .sectionGray220 .headingBlack220 h3{
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
}

#rt_gbu_center .sectionGray220 .headingBlack220 h3 span{
	color:#face02;
}
