@charset "utf-8";

/* ==========================================================================
ホームメインエリア
=========================================================================== */

#sectionCenterTop{
	width:470px;
	margin-bottom:10px;
	padding-top:8px;
	background:url(//i.gimg.jp/resource/www/resource/images/index/contents/centertop_frame_top.gif) left top no-repeat;
}

#sectionCenterTopInner{
	padding-bottom:8px;
	background:url(//i.gimg.jp/resource/www/resource/images/index/contents/centertop_frame_bottom.gif) left bottom no-repeat;
}

.bannerList01 ul{
	width:460px;
	height:103px;
	margin:0;
	overflow: hidden;
}

.bannerList01 ul li{
	width:82px;
	margin-left:10px;
	line-height:1;
	float: left;
	display: inline;
	overflow: hidden;
}

.bannerList01 ul li img{
	padding-bottom:4px;
}


#sectionCenterTop02{
	wdith:470px;
	margin-bottom:10px;
	padding-top:9px;
	background:url(//i.gimg.jp/resource/www/resource/images/index/contents/centertop_frame_top.gif) left top no-repeat;
}

#sectionCenterTop02Inner{
	padding-bottom:4px;
	background:url(//i.gimg.jp/resource/www/resource/images/index/contents/centertop_frame_bottom.gif) left bottom no-repeat;
}

.bannerList02 ul{
	width:460px;
	height:105px;
	margin:0 0 0 8px;
}

.bannerList02 ul li{
	width:454px;
	margin-left:1px;
}
