@font-face {
    font-family: 'Lato';
    src: url('files/lato/lato-regular-webfont.eot');
    src: url('files/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/lato/lato-regular-webfont.woff') format('woff'),
         url('files/lato/lato-regular-webfont.ttf') format('truetype'),
         url('files/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}