
@font-face {
    font-family: 'open_sans_regular';
    src: url('files/opensans/OpenSans-Regular-webfont.eot');
    src: url('files/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('files/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('files/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('files/opensans/OpenSans-Bold-webfont.eot');
    src: url('files/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/opensans/OpenSans-Bold-webfont.woff') format('woff'),
         url('files/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('files/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semi_bold';
    src: url('files/opensans/OpenSans-Semibold-webfont.eot');
    src: url('files/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('files/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('files/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}