
@font-face {
    font-family: 'ralewayregular';
    src: url('files/raleway/raleway-regular-webfont.eot');
    src: url('files/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/raleway/raleway-regular-webfont.woff') format('woff'),
         url('files/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('files/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('files/raleway/raleway-semibold-webfont.eot');
    src: url('files/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/raleway/raleway-semibold-webfont.woff') format('woff'),
         url('files/raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('files/raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('files/raleway/raleway-medium-webfont.eot');
    src: url('files/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('files/raleway/raleway-medium-webfont.woff') format('woff'),
         url('files/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('files/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
