.bottom-footer{
    height:50px;
}

div#footer-links {
    text-align:center;
    padding: 0px 10px;
}

#footer-links ul {
    display:inline;
    list-style-type:none;
}

#footer-links li {
    display:inline;
    padding:0px 5px;
}

#footer-links img {
    padding-top:5px;
}