@charset "utf-8";
body{ background:#FFF; font:normal 12px/1.5 Tahoma, Verdana, Arial, Helvetica, sans-serif; color:#333;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:underline; color:#F30;}

/*页面结构*/
#header{ background:url(/themes/images/main/bg_header.jpg) repeat-x 0 -83px;}
#wrapper{ width:1000px; margin:5px auto 10px auto;}
#sidebar{ float:left; width:230px;}
#main{ float:right; width:760px;}
#mainContent{ float:right; width:760px; background:url(/themes/images/main/bg_main_content.png) no-repeat;}
#footer{ height:90px; background:url(/themes/images/main/sprites_header.png) repeat-x 0 -350px #D9D9D6;}

/*公用样式*/
input,textarea,select{ font-size:12px;}
.colTitle{ height:29px; background:url(/themes/images/main/sprites_sidebar.png) repeat-x; border-bottom:1px solid #D0D0D0; font:bold 14px/29px Tahoma; padding-left:20px; color:#FFF;}
.colTitle span{ float:left;}
.colTitle .more{ float:right; font:normal 12px/18px Tahoma; padding:5px 10px 0 0;}
.colTitle .more a{ color:#FFF;}
.colTitle .more a:hover{ color:#FF0;}
.textRed{ color:#F30;}
.textGreen{ color:#067700;}
.border{ border:1px solid #C3C3C3;}
.b{ font-weight:bold;}

/*头部*/
#logo{ float:left; width:200px; margin:5px 0 0 5px; _display:inline; font:0/0 Arial;}
.headerContent{ width:1000px; height:83px; margin:0 auto; background:url(/themes/images/main/bg_header.jpg) no-repeat;}

/*站点连接*/
.siteNav{ float:right; text-align:right; margin-top:55px;}
.siteNav li{ display:inline; padding:0 10px 0 8px; *padding:0 5px 0 10px; line-height:14px; background:url(/themes/images/main/sprites_ico.png) no-repeat right 1px;}
.siteNav li a{ color:#F78431;}
.siteNav li.reg{ background-position:10px -47px; padding:0 8px 0 25px; font-weight:bold;}

/*用户信息*/
.memberInfo{ float:right; margin-top:15px; height:48px;}
.memberFace{ float:right; width:38px; height:38px; padding:5px; font:0/0 Arial; background:url(/themes/images/main/sprites_ico.png) no-repeat 0 -380px;}
.memberInfo dl{ float:right; text-align:right;}
.memberInfo dt{ padding:5px 10px 5px 0;}
.memberInfo dd{ display:inline; padding:0 10px 0 8px; *padding:0 5px 0 10px; line-height:18px; background:url(/themes/images/main/sprites_ico.png) no-repeat right 2px;}
.memberInfo dd.last{ background:none;}
.memberInfo a{ color:#F78431;}

/*导航*/
.nav{ height:40px; background:url(/themes/images/main/sprites_header.png) repeat-x;}
.nav ul{ width:990px; margin:0 auto; padding-left:10px; background:url(/themes/images/main/sprites_header.png) repeat-x;}
.nav li{ float:left; margin-top:6px; height:32px; background:url(/themes/images/main/sprites_header.png) no-repeat right -100px; padding:0 3px 0 2px; font:bold 14px/30px Tahoma; letter-spacing:2px;}
.nav li.last{ background:none;}
.nav li a{ float:left; display:block; height:32px; color:#FFF;}
.nav li a:hover{ text-decoration:none; color:#FF0;}
.nav li a span{ float:left; display:block; height:32px; padding:0 14px; cursor:pointer;}
.nav li a.current,.nav li a.current:hover{ background:url(/themes/images/main/sprites_header.png) no-repeat right -164px; color:#F26520;}
.nav li a.current span{ background:url(/themes/images/main/sprites_header.png) no-repeat -195px -132px;}
.nav li.myGames{ float:right; margin-top:0; width:147px; height:40px; padding:0; background:none;}
.nav li.myGames a{ float:none; display:block; width:147px; height:40px; text-indent:-999em; overflow:hidden; background:url(/themes/images/main/sprites_header.png) no-repeat 0 -200px;}
.nav li.myGames a:hover,.nav li.myGames a.seleted{ background-position:0 -240px;}

/*游戏列表*/
.myGames{ width:1000px; height:84px; margin:0 auto; background:url(/themes/images/main/bg_my_games.png) no-repeat;overflow:hidden;}
.myGamesNav{ float:right; width:154px; height:84px;}
.myGamesNav li{ height:28px;}
.myGamesNav li a{display:block; width:154px; height:28px; background:url(/themes/images/main/bg_my_games.png) no-repeat right -90px; text-indent:48px; font:bold 12px/28px Tahoma;}
.myGamesNav li.s1 a:hover,.myGamesNav li.s1 a.seleted{ background-position:right -118px; text-decoration:none; color:#333;}
.myGamesNav li.s2 a:hover,.myGamesNav li.s2 a.seleted{ background-position:right -146px; text-decoration:none; color:#333;}
.myGamesNav li.s3 a:hover,.myGamesNav li.s3 a.seleted{ background-position:right -174px; text-decoration:none; color:#333;}
.myGamesSlide{ clear:both; width:1000px; height:84px;}
.myGamesSlide ul{ float:left; padding-left:30px; width:947px; height:84px;}
.myGamesSlide li{ float:left; width:142px; height:76px; font:0/0 Arial; margin:3px 7px; _display:inline;}
.myGamesSlide li a{ display:block; padding:2px; width:138px; height:72px;}
.myGamesSlide li a:hover,.myGamesSlide li a.seleted{ background:url(/themes/images/main/bg_my_games.png) no-repeat 0 -100px;}
.myGamesSlide .close{ float:right; margin:6px 10px 0 0; width:13px; height:13px; overflow:hidden; _display:inline; background:url(/themes/images/main/sprites_ico.png) no-repeat 0 -150px;}
.myGamesSlide .close a{ display:block; text-indent:-999em; overflow:hidden;}

/*底部*/
#footer ul{ width:1000px; margin:0 auto;}
#footer .logo{ float:left; margin:20px 0 0 150px; _display:inline; width:145px; font:0/0 Arial;}
.copyright{ float:left; width:320px; margin-top:20px; line-height:20px;}
#footer .ico{ float:left; margin:14px 0px 0 5px; _display:inline;}
#footer .ico img{ float:left; display:block;}
#footer .ico span{ float:left; padding:12px 0 0 8px; line-height:14px;}
#footer .ico .police{ padding-top:20px;}

/*左侧内容*/
.sideBorder{ border:1px solid #ED9C62; margin-bottom:2px;}
.memberLogin{ width:226px; background:#FFF; padding:1px;}
.memberLogin ul{ background:#F9E760; padding:5px;}
.memberLogin li.btn{ float:left; margin:0 5px; _display:inline; font:0/0 Arial;}

.quickCharge{ padding:1px; background:#FFF;}
.quickCharge dl{ width:226px; background:url(/themes/images/main/sprites_sidebar.png) no-repeat 0 -50px #FFF8C2;}
.quickCharge dt{ height:35px; text-indent:-999em; overflow:hidden;}
.quickCharge dd{ width:226px; overflow:hidden; padding-top:5px;}
.quickCharge label{ display:block; float:left; width:76px; text-align:right; color:#E95F04; line-height:20px;}
.quickCharge div{ float:left; width:150px;}
.quickCharge dd.btn{ padding:5px 0 5px 76px; width:150px;}

.quickLink{ padding:3px; background:url(/themes/images/main/sprites_sidebar.png) no-repeat 1px -249px;}
.quickLink dl{ height:20px; padding-top:6px; border-bottom:1px dashed #CCCAB0;}
.quickLink dt{ float:left; padding:0 2px 0 22px; font-weight:bold;}
.quickLink dd{ float:left; padding-left:5px; white-space:nowrap;}
.quickLink a.red{ color:#FF3366;}

.calendar{ width:226px; background:url(/themes/images/main/sprites_sidebar.png) no-repeat 0 -400px #FFF; padding:1px;}
.calendarHead{ padding:3px; height:18px; font-family:Verdana;}
.calendarHead dt{ font-weight:bold; float:left; line-height:20px;}
.calendarHead .game{ float:left; width:85px; text-align:center;}
.calendarHead .btn{ float:left; font-weight:bold; margin-top:1px;}
.calendar th,.calendar td{ border:1px solid #C6C6C6; border-collapse:collapse; text-align:center; width:32px; height:22px;}
.calendar td a{ display:block; height:22px; color:#F30; line-height:22px;}
.calendar td a:hover{ text-decoration:none; background:#F90; color:#FFF;}
.calendar td.today{background:url(/themes/images/main/bg_today.png) no-repeat center;}
.calendar .brief{ display:block; width:158px; position:absolute; z-index:2;}
.calendar .brief dt{ height:20px; font:bold 12px/20px Tahoma; padding:8px 0 0 60px; background:url(/themes/images/main/sprites_sidebar.png) no-repeat 0 -667px; color:#F00;}
.calendar .brief dd{ padding:0 10px 10px 60px; background:url(/themes/images/main/sprites_sidebar.png) no-repeat left bottom; min-height:50px; _height:40px;}
.calendar .brief dd a{ text-decoration:underline;}

.sideNewbie{ border:1px solid #D0D0D0; background:#FAFAFA;}
.sideNewbie ul{ padding:5px 8px 8px 8px;}
.sideNewbie li{ background:url(/themes/images/main/sprites_ico.png) no-repeat 2px -243px; height:18px; border-bottom:1px dashed #C8C8C8; padding:5px 0 0 18px;}

/*首页内容*/
.mainFooter{ clear:both; width:760px; height:10px; background:url(/themes/images/main/bg_main_content.png) no-repeat right top; overflow:hidden;}
.slidePlayer{ float:left; width:410px; height:260px; padding:1px; background:#FFF; border:1px solid #B8B8B8; font:0/0 Arial; margin:10px 10px 6px 10px; _display:inline;}
.update{ float:left; width:315px;}
.topNews{ padding:7px 0; border-bottom:1px solid #E3E3E3;}
.topNews dt{ color:#F26520; text-align:center; padding:5px 0; font:bold 18px/24px Tahoma;}
.topNews dt a{ color:#F26520;}
.topNews dd{ padding:0 5px; text-indent:24px;}
.update ul{ margin-top:10px;}
.update li{ padding:3px;}
.update li.more{ text-align:right;}
.newsTime{ float:right;}
.lastAct{ clear:both; width:738px; height:112px; background:url(/themes/images/main/bg_main_content.png) no-repeat -760px -19px; margin:0 10px;}
.lastAct .btnPrev,.lastAct .btnNext{ float:left; width:80px; height:13px; margin:0 318px 0 240px; overflow:hidden; _display:inline;}
.lastAct .btnPrev a,.lastAct .btnNext a{ display:block; width:80px; height:13px; overflow:hidden; text-indent:-999em; background:url(/themes/images/main/bg_main_content.png) no-repeat;}
.lastAct .btnNext a{ background-position:-920px -150px;}
.lastAct .btnNext a:hover{ background-position:-920px -163px;}
.lastAct .btnPrev a{ background-position:-1010px -150px;}
.lastAct .btnPrev a:hover{ background-position:-1010px -163px;}
.lastActTime{ float:left; margin:16px 0 16px 8px; width:92px; height:80px; _display:inline; background:url(/themes/images/main/bg_main_content.png) no-repeat -760px -200px;}
.lastActTime dt{ height:35px; font:bold 14px/35px Tahoma; text-align:center;}
.lastActTime dd{ font:bold 24px/28px Georgia; text-align:center;}
.lastActMain{ float:left; width:638px; height:81px; overflow:hidden; padding:2px 0 3px 0;}
.lastActMain dl{ float:left; width:300px; height:81px; margin-left:15px; _display:inline; overflow:hidden;}
.lastActMain dt{ float:left; width:78px; height:78px; border:1px solid #A09E98; font:0/0 Arial;}
.lastActMain dd{ float:left; margin-left:10px; width:175px; _display:inline; line-height:20px;}
.lastActMain .title{ font:bold 14px/20px Tahoma; padding:5px 0;}
.lastActMain dd.btn{ width:26px; margin:13px 0 0 5px;}
.lastActMain dd.btn a{ display:block; height:49px; background:url(/themes/images/main/bg_main_content.png) no-repeat -870px -200px; text-indent:-999em; overflow:hidden;}
.lastActMain dd.btn a:hover{ background-position:-896px -200px;}
.mainContentCol{ float:left; margin:8px 0 0 9px; width:362px; border:1px solid #D0D0D0; _display:inline; background:#EBEBEB;}
.mainContentCol ul{ margin:4px; border:1px solid #E1E1E1; background:#FFF;}
.mainContentCol .forum{ padding:5px 8px;}
.mainContentCol .forum li{ height:18px; background:url(/themes/images/main/sprites_ico.png) no-repeat 0 -193px; padding:2px 0 1px 10px;}
.mainContentCol .author{ float:right;}
.mainContentCol .video{ padding:5px 2px; height:168px;}
.mainContentCol .video li{ float:left; width:154px; margin:0 10px; _display:inline;}
.mainContentCol .video dt{ border:1px solid #BEBEBE; width:152px; height:114px; font:0/0 Arial; margin:8px 0;}
.mainContentCol .video dd{ margin:5px 0 8px 0; background:url(/themes/images/main/sprites_ico.png) no-repeat 0 -196px; padding-left:8px; line-height:14px;}

/*内页左侧*/
.sideCol{ border:1px solid #D0D0D0; background:#FAFAFA; margin-bottom:2px;}
.sideHot{ padding:5px 8px;}
.sideHot li{ height:20px;}

/*内页公用*/
.breadcrumb{ width:756px; height:28px; padding:1px;}
.breadcrumb ul{ height:28px; background:url(/themes/images/main/bg_repeat.png) repeat-x;}
.breadcrumb li{ float:left; margin:5px 0 0 8px; _display:inline; background:url(/themes/images/main/sprites_subpage.png) no-repeat right -46px; padding-right:12px;}
.breadcrumb li.local{ background:url(/themes/images/main/sprites_subpage.png) no-repeat left 1px; padding:0 0 0 15px;}
.breadcrumb li.last{ background:none;}
.subBanner{ margin-top:5px; font:0/0 Arial;}
#content{ width:756px; padding:1px; background:#FFF; margin-top:5px;}
.contentHead{ height:30px; border-bottom:1px solid #C3C3C3; background:url(/themes/images/main/bg_repeat.png) repeat-x 0 -200px;}
.contentHead h2{ padding:6px 0 0 20px; background:url(/themes/images/main/sprites_subpage.png) no-repeat 6px 6px; font:bold 14px/18px Tahoma;}
#content .bg{ background:url(/themes/images/main/bg_repeat.png) repeat-x 0 -230px; min-height:150px; _height:150px;}
.pageInfo{ margin:10px 0 20px 0; text-align:center;}
.pageInfo li{ display:inline; padding:0 3px;}

/*新闻*/
.newslist{ padding:10px 15px;}
.newslist li{ padding:4px; height:20px; background:url(/themes/images/main/sprites_subpage.png) repeat-x left bottom;}
.artContent{ margin:10px 15px;}
.artContent h3{ background:url(/themes/images/main/sprites_subpage.png) repeat-x left bottom; font:bold 14px/20px Tahoma; padding:10px; text-align:center;}
.artContent h4{ text-align:center; padding:8px; color:#666;}
.artView{ width:716px; line-height:20px; padding:5px; overflow:hidden; margin-top:10px;}
.artView p{ margin-bottom:16px; text-indent:24px;}
.moreList{ margin:10px 15px; background:url(/themes/images/main/sprites_subpage.png) repeat-x left -599px; padding-top:10px;}
.moreList li{ padding:2px 5px;}

/*活动*/
.activity{ width:756px;}
.activity dl{ padding:15px; width:726px;}
.activity dt{ float:left; width:250px; height:125px; padding:1px; background:#FFF; font:0/0 Arial;}
.activity dd{ float:left; margin-left:18px; _display:inline; width:450px;}
.activity dd.title{ font:bold 14px/20px Tahoma;}
.activity dd.title .status{ font:normal 12px/20px Tahoma; color:#f00; padding-left:15px;}
.activity dd.brief{ margin:5px 0 5px 18px; text-indent:24px;}
.activity dd.time{ height:18px; background:#E5E5E5; padding:2px 10px; width:430px;}
.activity dd.time .detail{ float:right;}

/*视频*/
.videoList{ padding:10px; width:736px;}
.videoList dl{ float:left; margin:10px; _display:inline; width:348px;}
.videoList dt{ width:120px; height:90px; float:left; font:0/0 Arial;}
.videoList dd{ float:left; margin-left:12px; width:216px; _display:inline; line-height:22px;}
.videoList dd.title{ padding-bottom:5px; font-weight:bold; color:#699B00;}
.videoList dd.title a{ color:#699B00;}
.videoView{ padding:25px; text-align:center;}

/*下载*/
.dlNav{ height:30px; background:url(/themes/images/main/bg_repeat.png) repeat-x 0 -200px;}
.dlNav ul{ height:30px; background:url(/themes/images/main/sprites_subpage.png) repeat-x 0 -121px;}
.dlNav li{ float:left; margin:0 12px; _display:inline; font:bold 14px/30px Tahoma;}
.dlNav li a{ color:#666; float:left; display:block; height:30px;}
.dlNav li a:hover{ text-decoration:none; color:#F60;}
.dlNav li.current{ background:url(/themes/images/main/sprites_subpage.png) no-repeat right -230px;}
.dlNav li.current a{ background:url(/themes/images/main/sprites_subpage.png) no-repeat -406px -200px; padding:0 10px; color:#F18300;}

.client{ width:726px; padding:10px 15px;}
.client dl{ padding:10px 5px 15px 5px; margin-bottom:10px; background:url(/themes/images/main/sprites_subpage.png) repeat-x left bottom; height:80px;}
.client dt{ float:left; width:78px; height:78px; border:1px solid #A09E98; font:0/0 Arial;}
.client dd.intro{ float:left; width:515px; margin:0 15px; _display:inline;}
.client dd .title{ font:bold 14px/20px Tahoma; padding-bottom:5px;}
.client dd.btn{ float:left; width:90px; font-size:14px; text-align:center;}
.client dd.btn a.dlClient{ display:block; width:88px; height:36px; margin-bottom:15px; text-indent:-999em; overflow:hidden; background:url(/themes/images/main/sprites_subpage.png) no-repeat 0 -300px;}
.client dd.btn a{ color:#F15500;}

.inputDl{ width:696px; padding:10px 30px;}
.inputDl dl{ float:left; padding:15px 28px; width:291px;}
.inputDl dt{ width:285px; height:95px; padding:2px; background:#FFF; border:1px solid #BABABA; font:0/0 Arial; margin-bottom:8px;}
.inputDl dd{ padding:0 8px; font-weight:bold; line-height:24px;}
.inputDl dd .btn{ float:right;}
.inputDl dd .btn a{ display:block; width:81px; height:24px; text-indent:-999em; overflow:hidden; background:url(/themes/images/main/sprites_subpage.png) no-repeat 0 -350px;}

.wallpaper{ padding:10px 5px; width:746px;}
.wallpaper dl{ float:left; width:234px; margin:10px 7px; display:inline;}
.wallpaper dt{ padding:1px; background:#FFF; border:1px solid #BABABA; font:0/0 Arial; width:230px; height:140px;}
.wallpaper dd{ height:20px; border-bottom:1px dashed #DDD; padding:5px 5px 0 5px;}
.wallpaper dd a{ margin-right:13px;}