﻿.loading
{
 width:100%;
 height:100%;
 position:relative;
}

.loading img
{
 position:absolute;
 top:350px;
 left:45%;
}

.wrapcontiner
{
	background-image:url("http://img.babylon.com/site/images/babylon10/homepage/bg_img.jpg");
	background-repeat:no-repeat;
	background-position: center 103px;
	height:1149px;
	margin-top: 35px;
	background-size:2050px 1149px;
}

.wrapcontiner2
{
	background-image:url("http://img.babylon.com/site/images/babylon10/homepage/bg_img2.jpg");
	background-repeat:no-repeat;
	background-position: center 103px;
	height:1149px;
	margin-top: 35px;
	background-size:2050px 1149px;
}

.wrapcontiner3
{
	background-image:url("http://img.babylon.com/site/images/babylon10/homepage/bg_img3.jpg");
	background-repeat:no-repeat;
	background-position: center 103px;
	height:1149px;
	margin-top: 35px;
	background-size:2050px 1149px;
}

.wrap_footer
{
	background-color:transparent;
}
/*
.wrapNav
{
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=90);
	position: fixed;
  top: 64px;
}
*/
.content
{
	height: 850px;
}

.continer
{
	width:960px;
	margin:0 auto;
}

.goglobal
{
	font-family: 'Museo-500', arial;
	color:#18496d;
	font-size:144px;
	text-align:center;
	font-weight: 500;
	padding-top: 190px;
	margin-top: -36px;
	letter-spacing: -6px;
}

.slogenH2
{
	font-family: 'MuseoSans-500', arial;
	font-size:22px;
	color:#0b5891;
	text-align:center;
	font-weight: 500;
	margin-top: -14px;
}

.slogenH2[lang="ger"]{font-size: 16px}
.goglobal[lang="fre"]{font-size: 93px}
.goglobal[lang="ita"]{font-size: 135px; margin-bottom:10px;letter-spacing: -4px;}
.goglobal[lang="ptg"]{font-size: 120px; margin-bottom:10px;letter-spacing: 2px;}
.goglobal[lang="jpn"]{font-size: 90px; margin-bottom:10px;font-family:Arial Unicode MS;}
.slogenH2[lang="ptg"]{font-size: 18px}

.get_personal
{
	font-family: 'Museo-500', arial;
	color:#18496d;
	font-size:120px;
	text-align:center;
	font-weight: 500;
	padding-top: 220px;
	margin-top: -36px;
	letter-spacing: -4px;
}

.get_personal[lang="ita"]
{
 font-size:90px;
 letter-spacing:-2px;
 padding-top:300px;
}

.get_personal[lang="ptg"]
{
 font-size:90px;
 letter-spacing:2px;
 padding-top:300px;
}

.get_personal[lang="jpn"]
{
 font-size:82px;
 letter-spacing:-6px;
 padding-top:300px;
 font-family:Arial Unicode MS;
}

.slogen_bht
{
	font-family: 'MuseoSans-500', arial;
	font-size:24px;
	color:#0b5891;
	text-align:center;
	font-weight: 500;
	margin-top: -10px;
}

.go_premium
{
	font-family: 'Museo-500', arial;
	color:#fff;
	font-size:120px;
	text-align:center;
	font-weight: 500;
	padding-top: 190px;
	margin-top: -36px;
	letter-spacing: -2px;
}

.go_premium[lang="jpn"]
{
 font-size:110px;
 letter-spacing:-2px;
 font-family:Arial Unicode MS;
}

.go_premium[lang="ptg"]
{
 font-size:100px;
 letter-spacing:2px;
}

.slogen_premium
{
	font-family: 'MuseoSans-500', arial;
	font-size:24px;
	color:#fff;
	text-align:center;
	font-weight: 500;
	margin-top: -14px;
}

.wrapDownloadLeft
{
	background-image:url("http://img.babylon.com/site/images/babylon10/homepage/hr_shadow_left.png");
	background-repeat:no-repeat;
	background-position: left 35px;
	width:590px;
	height:70px;
	margin:0 auto;
}

.wrapDownloadRight
{
	background-image:url("http://img.babylon.com/site/images/babylon10/homepage/hr_shadow_right.png");
	background-repeat:no-repeat;
	background-position: right 35px;
	width:590px;
	height:70px;
}

.download
{
	width: 260px;
	height: 60px;
	border: 5px solid #cfcfcf;
	background-color: #80B946;
	border-radius: 5px;
	margin: 15px auto 0;
	font-family: 'MuseoSans-500', arial;
	font-size: 21px;
	color: #fff;
	text-align:center;
	line-height: 1.2;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.download[lang="ger"], .download[lang="fre"], .download[lang="spa"], .download[lang="ptg"]
{
 font-size: 22px;
 line-height: 1.3;
}

.download[lang="eng"], .download[lang="ara"], .download[lang="ita"], .download[lang="heb"], .download[lang="jpn"]{line-height: 2.8;}

.download[lang="ita"]
{
 font-size: 20px;
}

.download:hover{ background-color: #6da436; }

.btn_bht
{
	width: 240px;
	height: 60px;
	border: 5px solid #c9c8c8;
	background-color: #10aed1;
	border-radius: 5px;
	margin: 15px auto 0;
	font-family: 'MuseoSans-500', arial;
	font-size: 30px;
	color: #fff;
	text-align:center;
	line-height: 1.9;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.btn_bht:hover{ background-color: #1896b2;}

.btn_bht[lang="spa"]
{
 font-size: 28px;
 line-height: 2;
}


.btn_shop
{
	width: 240px;
	height: 60px;
	border: 5px solid #a1a2a4;
	background-color: #f1be2e;
	border-radius: 5px;
	margin: 15px auto 0;
	font-family: 'MuseoSans-500', arial;
	font-size: 30px;
	color: #484848;
	text-align:center;
	line-height: 1.9;
	cursor:pointer;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.btn_shop:hover{ background-color: #d5a621;}

.btn_shop[lang="fre"]
{
 font-size: 26px;
 line-height: 1.1;
}

.facebook_fotter:hover 
{
	background-image: url("http://img.babylon.com/site/images/babylon10/nav/fb_hover_hp.png");
}

.plus_footer:hover 
{
	background-image: url("http://img.babylon.com/site/images/babylon10/nav/gp_hover_hp.png");
}

.twitter_footer:hover
{
	background-image: url("http://img.babylon.com/site/images/babylon10/nav/tw_hover_hp.png");
}

.insta_footer:hover
{
	background-image: url("http://img.babylon.com/site/images/babylon10/nav/insta_hover_hp.png");
}

.liveChat{display:none;}

.ajaxLoaderClass
{
	background-image:url("http://img.babylon.com/site/images/babylon10/nav/ajax-loader-site.gif"); 
	background-position:center center; 
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
}

.footer
{
	padding-top:70px !important;
}

.copy_footer[lang="heb"], .copy_footer[lang="ara"]
{
 color:#b1b1b1;
}

/* * * * * *   Slider CSS * * * * * */
#dss {display:none;}
#dss .slide{}
#dss .slide-container{}
#dss .separator{}

#dss .control{cursor:pointer;}

#dss .control-container
{
 width:960px;
 position:absolute;
 top:585px;
 left:0;
 right:0;
 margin-left:auto;
 margin-right:auto;
}

.dssControl[direction="-1"], .dssControl[direction="1"]
{
 font-size:90px !important;
 color:#fff;
 font-family: 'MuseoSans-100', arial;
}

.dssControl[direction="-1"]:hover, .dssControl[direction="1"]:hover
{
 color:#484848;
}

.dssControl[direction="1"]
{
 float:right !important;
}

.dssControl[page="0"], .dssControl[page="1"], .dssControl[page="2"]
{
 width:13px;
 height:12px;
 background-image:url("http://img.babylon.com/site/images/babylon10/homepage/nav.png");
 background-repeat:no-repeat;
 background-position: 0 0;
 color:transparent;
 font-size:0;
 margin:100px 0 0 15px;
}

.control-active
{
 width:13px;
 height:12px;
 background-image:url("http://img.babylon.com/site/images/babylon10/homepage/nav.png");
 background-repeat:no-repeat;
 background-position: 0 -12px !important;
 color:transparent;
}

.dssControl[page="0"]
{
 margin-left:415px;
}
