body{background-color:#cdced2;}

.aside{border-right:0; }

.aside #sNav  {margin:0 2em 0 0;}

.aside #sNav ul{margin: 0.8em 0 2em}

.aside #sNav li {background: url('http://www.gla.ac.uk/1t4/generic/images/bulletcontent.png') 0 0.3em no-repeat;
font-size: 1.4em!important;
line-height: 1.4!important;
margin: 0.5em 0 0 0 !important;
padding-left: 1.2em!important;
list-style: none !important;
font-family: Georgia, "Times New Roman", Times, serif;
font-family: 'PT Sans', sans-serif;
}

#sNav h1{
font-size: 2em;
margin-bottom: 2%;
}

#sNav a{
	font-size:1em;
	padding:0;
}



.jumpLink.solid { background: #444; border-width: 0px; width: 48.5%; margin-bottom: 2em!important; }


.jumpLink h2 { font-size: 2em; margin: 0em 0 0.5em; font-family: 'PT Sans', sans-serif; font-weight: 400; color:#fff; padding: 0.7em 0.3em 0.1em 1rem; }


.jumpLink .container ul{margin-left:0.5rem}
.jumpLink .container li a { list-style: none;
margin: 0 0 0.5em 0em;
border: none;
padding-right: 3%;
float: left;
font-size: 1.4em;
line-height: 1.4;
color: #fff;
background: url('http://www.gla.ac.uk/1t4/generic/images/bulletcontent.png') 1em 4px no-repeat!important;
width: 92%;
padding-left: 24px !important;

}
.jumpLink.inline .image { width: 45%; height: 100%; position: absolute; bottom: 0; right: -2px; }

.row .contentPanel .container{padding:0; }
.row .contentPanel .container p {margin-left:1rem; }

.contentPanelContainer0 .row .contentPanel .container h3 { color:#fff;  padding:0.7em 0.3em 0.1em 10%; margin:0; }


.contentPanelContainer0 .row .contentPanel .container li a{background: url('http://www.gla.ac.uk/1t4/generic/images/bulletcontent.png') 0.6em 0.3em no-repeat;}

@media only screen and (max-width: 680px) { 
	#mainpage{position:relative; margin:2em 0 0 0; padding-top:2em}
	.aside{display:block; background:none; position:relative; width:auto; padding:0 2em 2em 2em;}
	.aside .nav{border:1px solid #e8e6e4; padding:1em;}
	.aside #sNav{margin:0}
	.dropdownNav{display:none}
}

@media only screen and (min-width: 680px){

	#mainpage{position:absolute; margin-left:2em}
	.aside{float:right!important;position:relative;background:none;}

}