 * focus,embed,object,player {outline:none}

}
 * {
    outline: medium none;
}

* { padding:0; margin:0;}
 

	html { font-size:100.01%;}

	
.jw-tab-focus:focus {
    outline: 0;
}

:focus {
	outline: 0;
}
	/*body { background:url(images/bg.gif) repeat scroll 50% 0; font-size:80.5%; font-family: Arial, Helvetica, sans-serif; color:#ffffff;}*/

	body { background-color:#000; font-size:80.5%; font-family: Arial, Helvetica, sans-serif; color:#ffffff;}

.clear { clear: both;}



	table, td, div, img { border:0; border-collapse:collapse;}

	td {vertical-align:top;}

	ul { list-style: none;}

	p { padding:0px 0px 18px 0px;}

		

a {text-decoration: underline; color:#ff9228; font-size:80.5%; outline:none;}

a:hover {text-decoration: none;}

	.font12 {font-size:12px;}
	.font14 {font-size:14px;}
	.font12Bold {font-size:12px;font-weight:bold}
	.font14Bold {font-size:14px;font-weight:bold}

	input, select, textarea, html body textarea { vertical-align:middle; font-size:14px; color:#949494; font-family:Arial;}

	input.text, select, textarea { padding:2px 0px 3px 6px; border:1px solid #272727; background: #fff;}

	.top-box-right{float:right}
	
	.alphabet{float:left}
	
	.alphabet ul li {float:left;display:inline;padding:8px 8px}
	.alphabet ul li a {font-size:14px;text-decoration:none}
	
	.movies-alphabet .label{letter-spacing:1px;font-size:14px}
	
	.movies-alphabet a{text-decoration:none;color:#ce7f07;font-size:14px;}
	.movies-alphabet a:hover{text-decoration:underline;color:#f3b85f;font-size:14px;}
	
	
	.mymenu{color:#FFFFFF;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:none}
	div .mainlevel-nav ul li	{float:left; list-style:none; height:45px; text-align:center; vertical-align:middle;padding-left:7px;padding-right:7px; background:url('images/img_10.png') no-repeat right;}
	div .mainlevel-nav ul li .divider{padding:0px 0px 0px 0px}
	div .mainlevel-nav ul li a 			{color:#FFFFFF; font-size:12px; font-weight:bold; text-decoration:none; display:list-item; height:30px; padding:10px 0px 0px 0px;}
	div .mainlevel-nav ul li a:hover		{text-decoration:none; color:#f27300; font-size:12px; font-weight:bold; display:block; height:30px; padding:10px 0px 4px 0px;}
	.navleft {background:url('images/img_03.png') no-repeat; width:10px;height:45px}
	.navcenter {background:url('images/img_12.png') repeat-x}
	.navright {background:url('images/img_14.png') no-repeat; width:129px;height:45px}
	
	/*** Main ***/

	.main { overflow:hidden; height:100%;/* width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 990px)? "990px" : "100%");*/ min-width:990px;}

	

	.tail-right {

		position:absolute;

		float:right; right:0; 

		display:block;

		width:100%; height:440px;

		background:url(images/tail-right.jpg) repeat-x 0 0; 

		}

	

	/*.main { background:url(images/tail.gif) repeat-x scroll 50% 0; }*/


	

	.main-bg { overflow:hidden; height:100%; padding:0px 0px 0px 0px; background:url() no-repeat center 0; position:relative;}

    /* .main-bg { overflow:hidden; height:100%; padding:0px 0px 0px 0px; position:relative;} */

	.main-top {}

	

	.main-tail {}

	

	.main-width { width:963px; margin:0 auto; height:100%;}

	

	

	.header { height:410px; padding:0px 1px 0px 0px;}

	

	

	/*.last-page .tail-right { display:none;}*/

	.last-page .main-bg { overflow:hidden; height:100%; padding:0px 0px 0px 0px; background:url() no-repeat center 0; position:relative;}

	

	.last-page .header { height:130px;}
	
	.last-page .tail-right {

		position:absolute;

		float:right; right:0; 

		display:block;

		width:100%; height:160px;

		background:url(images/tail-right2.jpg) repeat-x 0 0; 

		}
	

	

/*** Menu ***/

	.header .main-menu { float:right; height:50px;}

	.header .menu-bg { padding:0px 0px 0px 0px;}

	

	.header .menu {}

	

	.header .menu ul { float:left; /*overflow:hidden;*/ margin:0px 0px 0px 0px; list-style:none;}

	.header .menu ul li {  float:left; /*overflow:hidden;*/ padding:14px 5px 2px 23px;}

	

	.header .menu ul li a {

		font-size:14px; display:block; height:100%;

		color:#fff;  text-decoration:none;

		}

	

	.header .menu ul li a:hover { color:#ff8b18; text-decoration:none;}

	

	.header .menu ul li.current_page_item a { color:#ff8b18;}

	

	#dropmenu .menu ul li.current_page_item ul li a:hover {}

	#dropmenu .menu ul li.current_page_item ul li a span { background: none;}



	/*dropmenu*/

		#dropmenu .menu ul ul {

			position:absolute; z-index:300;

			float:left; clear:both;

			width:150px;

			border:1px solid #2f2f2f; margin:3px 0px 0px 0px; *margin:-3px 0px 0px 5px;

			background:url(images/bg.png) repeat 0 0;

			}

		

		#dropmenu .menu ul ul li {

			float: none; position:relative; padding:6px 5px 8px 10px; line-height:inherit;

			height:auto; text-align:left; margin:0px 0px 0px 0px; *margin:0px 0px -3px 0px;

			}

		#dropmenu .menu ul ul li a { background: none; width:auto; height:auto; float:none; font-size:12px; color:#fff; overflow:hidden; text-transform:none;}

		#dropmenu .menu ul ul li a span { background: none; padding:0px 0px 0px 0px;}

			

		#dropmenu .menu ul ul a:hover {color:#ff8b18;}

		

		#dropmenu .menu ul ul li a:hover span { }

		#dropmenu .menu ul ul li a:hover span span {}

		

			#dropmenu .menu ul ul ul { left:70px; float:left; margin:-18px 0px 0px 0px;}

			

			#dropmenu .menu ul ul ul a {}

			#dropmenu .menu ul ul ul li a span {}

			#dropmenu .menu ul ul ul li a span span {}

		

		.current_page_item {}

	

/*** Logo ***/

	.logo { float:left; position:absolute;}

	.logo .indent { /*overflow:hidden; height:100%;*/ padding:18px 0px 0px 7px;}

	

	.description { font-size:10px; color:#5a5b5b; padding:3px 0px 0px 0px;}

	

/*** Slogan ***/

	.slogan {}

	

/*** Search ***/

	.search { clear:both; float:right; width:259px; height:52px;}

	.search .indent { /*height:100%;*/float:right; padding:0px 0px 0px 0px;}

	

	.search form { float:right; background:url(images/search-input-bg.png) no-repeat 0px 0px; padding:8px 11px 10px 0px;}

	

	.search .text { width:205px; padding:2px 0px 3px 9px; border:0; background: transparent; margin:0px 9px 0px 0px;}

	.search .but { cursor: pointer; margin:0px 0px 0px 0px;}




/*** Flash ***/

	.flash {}

	.flash .indent {overflow:hidden; height:100%;}





/*** Slider ***/

	.featured { clear:both; overflow:hidden; padding:0px 49px 0px 50px; position:relative;}

	.featured-box { clear:both; overflow:hidden; border:1px solid #040303; background:#000;}

	

	.featured .indent { overflow:hidden; height:100%;}

	

	

	.featured #loopedSlider { }

	

	

	.featured .nav { position:absolute; z-index:111; top:0; }

	.featured .nav a { position:absolute; display:block; width:47px; height:45px; overflow:hidden; text-indent:-1000em; margin:0px 0px 0px 0px;}

	

	.featured .nav a.previous { background:url(images/left.gif) no-repeat 0 0; left:0; margin:164px 0px 0px -52px;}

	.featured .nav a.next { background:url(images/right.gif) no-repeat 0 0; margin:163px 0px 0px 841px;z-index:1111;}

	

	

	#loopedSlider { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}

	

	.container { width:836px; height:353px; margin:0px 0px 0px 0px; overflow:hidden; cursor:pointer; }

	.slides {  width:836px; height:353px;  position:absolute; top:0; left:0; z-index:1; }

	.slides .slideer-img {  position:absolute; top:0; left:0; z-index:1; width:836px; height:353px;  float:left; display:none; }

	

	.slides .slideer-img img { height:auto; overflow:inherit;}

	

	

		.featured .custom-text { float:right; right:0; width:263px; height:353px; overflow:hidden; position:absolute; z-index:111; background:url(images/px.png) repeat 0 0; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}

		

		.featured .custom-text .text { padding:36px 10px 0px 30px; overflow:hidden; height:100%;}

		.featured .custom-text h1 { overflow:hidden; font-size:24px; line-height:1.25em; padding:4px 0px 17px 1px; color:#fff; font-weight: normal;}

		.featured .custom-text p { font-size:13px; color:#818181; padding:0px 0px 14px 1px; line-height:1.55em;}

	





	

/*** Rss ***/

	.categories .rss { display:block; float:right; width:32px; height:32px; background:url(images/rss.gif) no-repeat 0 0; overflow:hidden; text-indent:-1000em;}



/* Category dropdown */

	.categories { clear:both; height:65px; position:absolute; width:963px; z-index:111;}

	.categories .center { height:65px; float:left; background:url(images/categories-bg.png) repeat-x;width:947px}	

	.categories .corner-left { float:left;background:url(images/categories-left.png) no-repeat;height:65px;width:8px}

	.categories .corner-right { float:left; background:url(images/categories-right.png) no-repeat; height:65px;width:8px}

	.categories .indent { padding:8px 11px 0px 16px; /*overflow:hidden; height:100%;*/position:relative;}



	#categorybox ul, #categorybox li{ margin:0; border:0; padding:0; list-style:none;}

	

	#categorybox {

		width:226px; height:27px;

		background:url(images/categories.gif) no-repeat 0 0;	

		font-size:12px;

		padding:0px; margin-top:3px;

		}

	

	#categorybox .menu li {

		height:27px;

		float:left;

		margin-right:10px;

		}

		

	#categorybox .menu li a {

		color:#878787;

		text-decoration:none;

		/*padding:0 10px;*/

		height:27px; width:226px;

		line-height:27px; text-indent:12px;

		display:block;

		float:left;

		}

	

	#categorybox .menu li a:hover{color:#ddd;}

	

	#categorybox ul .submenu {

		background:#0b0b0b; z-index:1111;

		position: absolute;

		top:35px;

		padding:6px 0;

		clear:both;

		z-index:2;

		display:none;

		width:226px;

		}

		

	#categorybox ul .submenu li{

		background:none;

		display:block;

		float:none;

		margin:0 6px;

		border:0;

		height:auto;

		line-height:normal;

		}

		

	#categorybox .submenu li a{

		background:none; text-transform:none;

		display:block;

		float:none;

		padding:6px 6px;

		margin:0;

		border:0; width:auto;

		height:100%;

		color:#555;

		line-height:normal;

	}

	#categorybox .submenu li a:hover{

		color:#222;

		background:#ddd;

	}



	

/*** Column ***/

	.content { clear:both; padding:65px 0px 40px 0px;}

	

	.content-bg {}

	.content-indent { overflow:hidden; height:100%;  padding:0px 0px 0px 0px;}

	

	.column-right { float:right; width:278px; margin:0px 0px 0px 4px; _margin:0px 0px 0px 1px;}

	

/*** Widgets  ***/

	.widget {

		clear:both;

		overflow:hidden; height:100%;

		padding:0px 0px 0px 0px;

		margin:0px 0px 20px 0px;

		}

	

	.widget .widget-bg {

		overflow:hidden; height:100%;

		padding:0px 0px 7px 0px;

		background:url(images/widget-bot.png) no-repeat 0 bottom;

		}

	

	.widget .indent {

		overflow:hidden; height:100%;

		background:url(images/widget-bg.gif) repeat-y 0 0;

		padding:0px 9px 9px 9px; color:#fff;

		}

	

	.widget .title {

		overflow:hidden; /*height:100%;*/ position:relative;

		background:url(images/widget-title-bg.gif) repeat-y 0 0;

		margin:0px -9px 1px -9px;

		}

		

	.widget .title div { background:url(images/widget-title-top.gif) no-repeat 0 0;}

	.widget .title div div { background:url(images/widget-title-bot.gif) no-repeat 0 bottom;}

		

	.widget h2 {

		overflow:hidden; height:100%;

		/*font-weight: normal;*/ font-size:1.2em;

		color:#fff; line-height:1.1em;

		padding:16px 10px 15px 15px;

		}

	

	.widget ul {

		clear:both; line-height:1.55em;

		font-size:13px; overflow:hidden; height:100%;

		color:#fcfcfc;

		padding:0px 0px 0px 0px;

		margin:0px 0px 0px 0px;

		

		}

	

	.widget ul li {

		overflow:hidden; height:100%;

		border-bottom:1px solid #2b2b2b;

		padding:8px 10px 6px 7px;

		margin:0px 0px 1px 0px;

		}

	

	.widget ul li span { display:block; font-size:14px;}

	

	.widget ul li a {

		font-size:13px; color:#8d8d8d;

		}

	

		.widget ul li a { text-decoration:none;}

		.widget ul li a:hover { color:#fff;}

		

		



	

	.widget ul ul { font-size:100%; margin:0px 0px 0px 18px;}

	.widget ul ul li { border:0;}

	

	.widget_follow {}

	.follow {}

	.follow img { margin:0px 18px 0px 0px;}



	

	/*** widget_categories ***/

		.widget_categories ul li { background:url(images/marker.gif) no-repeat 0px 5px;}

		

		.widget_categories ul li a { color:#ce7f07;}

	

	/*** .widget_archive ***/

		

	/*** widget_meta ***/

	

	/*** widget_links  ***/

		

	/*** widget_page ***/

		.widget_pages {}

		.widget_pages ul ul { margin:0px 0px 0px 0px;}

		

		.widget_pages ul ul li {}

	

	/*** widget_recent_entries  ***/

		

	/*** widget_recent_comments  ***/

	

		.widget_recent_comments ul li { padding:4px 0px 6px 1px; font-weight: bold; color:#fff;}

		.widget_recent_comments ul li a { background: none; padding:0px 0px 0px 0px; font-weight: normal;}



	/*** widget_tag_cloud ***/

		.widget_tag_cloud .indent div { padding:0px 10px 15px 7px;}

		

		.widget_tag_cloud a { padding:0px 6px 0 0;  font-size:12px; line-height:1.6em;}

		

		.widget_tag_cloud .indent .title { padding:0px 0px 0px 0px;}

		.widget_tag_cloud .indent .title h2 { padding:0px 0px 14px 1px;}

		.widget_tag_cloud .indent .title div { padding:0px 0px 0px 0px;}

		.widget_tag_cloud .indent .title div div { padding:0px 0px 0px 0px;}

		

		.widget_tag_cloud a { text-decoration:none;}

		.widget_tag_cloud a:hover { text-decoration: underline;}

	

	/*** widget_text ***/

		.textwidget { font-size:1.3em; line-height:1.3em; padding:20px 10px 0px 9px;}

		.textwidget p {line-height:1.6em;}

		.textwidget p span { color:#fff; font-size:14px; line-height:1.4em;}

		.textwidget a {}

	

	/*** widget_other ***/

		.widget_our ul li a { color:#717171;}

		.widget_our ul li {

			margin:0px 0px 0px 0px;

			padding:13px 10px 17px 9px;

			}

		.widget_our .indent { padding:0px 9px 16px 9px;}

		

		.content #wp-calendar * { color:#fff; font-size:12px;}

		

		.widget_calendar .widget-bg { padding-bottom:10px;}

	

		#search form { padding:10px 0px 0px 10px;}

		

		#search form .text { display:block; margin:0px 0px 8px 0px; padding:2px 0px 3px 6px; width:150px;}

		

		.search_page { padding:0px 0px 0px 10px;}

		.search_page .text-box { padding:10px 0px 0px 0px;}

		.search_page .text-box p { padding:12px 0px 0px 3px;}

		

		.search_page .text {  width:170px; padding:4px 0px 5px 5px; margin:0px 10px 0px 0px;}

		

		#search form .but { margin:0px 0px 0px -3px;}

		

		.widget_calendar table { margin:10px 0px 0px 0px;}

	

/*** Content  ***/



		.content .border-top { background:url(images/border.gif) repeat-x 0 0 #1e1e1e; border:1px solid #2b2b2b; overflow:hidden; height:100%;padding:0px 10px 20px 0px;}



	.column-center { overflow:hidden; height:100%;}



		.column-center .indent { clear:both; overflow:hidden; /*height:100%;*/ padding:0px 0px 0px 0px;}

		

		.column-center .bgnone { background: none;}

		

		

		

	.custom { float:left; width:219px; height:350px; background:url(images/custom.png) no-repeat 0 0; margin:0px 8px 0px 0px;}

		

	/*** Title wrapper ***/

		.column-center .title {

			overflow:hidden;/* height:100%;*/

			padding:0px 18px 8px 0px;

			margin:0px 0px 0px 0px;

			}

		

		.post-ratings { padding:13px 0px 0px 14px; width:auto; overflow:hidden;}

		.post-ratings img.post-ratings-image { margin:0px 2px 0px 0px; padding:0;}

		

		.column-center .title h2 {

			clear:both;

			overflow:hidden; 

			font-size:1.2em; font-weight: normal;

			color:#fff; line-height:1.2em; margin:0px 0px 0px 0px;

			padding:22px 0px 0px 15px;

			}

			

		.column-center	.custom .title h2 { height:20px; overflow:hidden;}

		.column-center	.custom .title h3 { height:14px; overflow:hidden;}

			

		.column-center .title h3 {

			clear:both;

			overflow:hidden;

			font-size:1.2em; font-weight: normal;

			color:#fff; line-height:1.2em; margin:22px 0px 0px 0px;

			padding:0px 0px 0px 15px;

			}

				

		.column-center .title h2 a,

		.column-center .title h3 a { color:#fff; text-decoration:none;}

		

		.column-center .title h2 a:hover,

		.column-center .title h3 a:hover { text-decoration: underline;}

		

	/******/

		.title-page01 { padding:20px 0px 0px 15px;}

		

		.title-page02 { padding:20px 0px 0px 15px;}

		.title-page03 { padding:0px 0px 0px 0px;}

		

		

		.title-page01 *, .title-page02 *,.title-page03 *, .pagetitle { color:#fff;}

		.title-page01 * {  font-size:1.8em; font-weight: normal;}

		.title-page02 * {  font-size:1.6em; font-weight: normal;}

		.title-page03 * {  font-size:1.3em; /*font-weight: normal;*/}

		

	/*** Date ***/

		.column-center .date {

			/*float:left;*/ 

			font-size: 1em; color:#5c5c5c;

			padding:4px 0px 0px 16px;

			}
			
			.column-center .subtitle h2 {


			font-size: 1em; color:#5c5c5c;

			padding:4px 0px 0px 0px;

			}

		

	/*** author ***/

		.column-center .author {

			/*float: right;*/

			font-size: 1em; color:#5c5c5c;

			padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;

			}

		

		.column-center .date span { text-decoration:underline;}

		.column-center .author span {}

		

	/*** Text box ***/

		.text-box {

			clear:both;

			overflow:hidden; /*height:100%;*/

			font-size:1.1em; line-height:1.5em;

			padding:0px 0px 0px 0px;

			}

			

			.thumb { padding:0px 0px 0px 0px; text-align: center; }
			
			 

			.thumb a img { border:1px solid #000;width:150px;height:225px;}

			.thumb a:hover img { border:1px solid #fff;}

		

		.text-box p { padding:0px 0px 16px 0px;}

		

		.text-box p strong {}

		.text-box p span { color:#fff;}

		

		.text-box .fleft {

			float:left; /*display: inline;*/

			overflow:hidden; height:100%;

			padding:0; margin:0px 21px 0px 0px; _margin:0px 17px 0px 0px;

			}

		

		.text-box .fleft img { margin:0px 0px 20px 0px;}

			

		.text-box img {}

		

		.text-box p.img { padding:0px 0px 25px 0px;}

		

		.text-box .pd {}

		

		.line { clear:both; display:block; height:1px; overflow:hidden; background:#202020; margin:0px 0px 22px 0px;}

		

		/******/

			.raiting { float:left; overflow:hidden; width:125px;}

			

			.comments {

				float:right;  width:26px; height:26px; text-align:center;

				background:url(images/comments.png) no-repeat 0 0; padding:0; margin:10px 0px 0px 0px;

				}

					

			.comments a {

				display:block;

				color:#000; font: normal 11px tahoma;

				padding:3px 0px 0px 0px;

				}

					

			.comments a { text-decoration:none;}

			.comments a:hover { text-decoration: underline;}

		

		/******/

			.more-link {

				font-size:12px; clear:both; display:block;

				color:#fff; font-weight: bold; padding:7px 0px 10px 0px;

				}

			

			.more-link a { text-decoration:none;}

			.more-link a:hover { text-decoration: underline;}

			

		/******/

			.postmetadata { clear:both; font-size:1.1em; color:#fff; line-height:1.4em; padding:0px 0px 8px 0px;}

			.postmetadata a { padding:0px 1px 0px 0px;}

			

		/******/

			.link-edit { float:right; padding:11px 0px 0px 0px; margin:0px 0px 0px 0px;}

			.link-edit a { font-size:11px; font-weight: bold; color:#fff;}

			

		/******/

			.navigation { overflow:hidden; height:100%; color:#fff; padding:5px 0px 5px 0px;}

			.navigation a {

				font-size:10px; color:#fff;

				}

			

			.nav-top { clear:both; margin:-0px 0px 0px 0px; padding:20px 0px 0px 0px;}

			

			.nav-top .alignleft a { }

			.nav-top .alignright a {}

			

			/*.nav-top a { text-decoration:none;}

			.nav-top a:hover { text-decoration: underline;}*/

			

			.wp-pagenavi { clear:both; float:right; /*overflow:hidden; height:100%; */padding:0px 8px 0px 0px;}

			

			.wp-pagenavi span { display:block; float:left;}

			

			.wp-pagenavi a, .wp-pagenavi span { display:block; float:left; width:27px; height:27px; font: bold 12px tahoma; line-height:27px; color:#fff; text-align:center; margin:0px 0px 0px 12px;}

			

			

			

			.wp-pagenavi a { text-decoration:none;color:#fff; background:url(images/page-off.gif) no-repeat 0 0;}

			.wp-pagenavi a:hover, .wp-pagenavi span {color:#000; background:url(images/page-on.gif) no-repeat 0 0;}

	

		/*******/

			.single { padding:0px 10px 0px 0px; overflow:hidden; height:100%;}

			.single .indent { padding:0px 10px 0px 15px;}

			

			.single .title { padding:0px 0px 20px 0px;}

			.single .title h2 { padding-left:0;}

			.single .title .date { padding-left:0}

			.single .text-box { padding:0px 0px 0px 0px;}

			

			.single .text-box p object { background:#666; margin:0px 0px 10px 0px;}

			

	/*******/

		.text-box h1, .text-box h2, .text-box h3, .text-box h4, .text-box h5, .text-box h6 { color:#fff; font-family:Arial; line-height:1.5em;}

		.text-box h1 { font-size:19px; font-weight: normal; line-height:1.2em; display:block; height:100%; padding:0px 0px 13px 0px;}

		.text-box h2 { font-size:17px; font-weight: normal;}

		.text-box h3 { font-size:16px;}

		.text-box h4 { font-size:15px; font-family:Arial;}

		.text-box h5 { font-size:14px;}

		.text-box h6 { font-size:12px;}

	

	/*** OL UL style***/

		.text-box ul { padding:0px 0px 5px 0px; margin:-3px 0px 0px 0px; overflow:hidden; height:100%;line-height:1.4em;}

		.text-box ul li {background:url(images/marker.gif) no-repeat 0 7px; padding:0px 0px 6px 16px; list-style-image:none; list-style:none; font-weight:normal;}

		.text-box ul li ul { margin-left:10px;}

		.text-box ul li ol { margin-left:15px;}

		.text-box ul li ol li { list-style-type:decimal;}

		

		.text-box ol { padding-left:2px;}

		.text-box ol li { padding:0px; margin-left:13px;  font-weight:normal;list-style-type:decimal;}

		.text-box ol li ul { padding:2px 0px 5px 2px;}

		.text-box ol li ul li { font-weight:normal; background:url(images/marker.gif) no-repeat 0 3px; padding:0px 0px 8px 25px;}

		

		.text-box ul li { list-style-image:none; list-style:none;}

		

		.text-box ul li a { /*text-decoration:none;*/ color:#73b7ff;}

		/*.text-box ul li a:hover { text-decoration:underline;}*/

		

		.text-box ul li ul { margin-left:15px;}

		.text-box ul li ol {margin-left:20px;}

		.text-box ul li ol li { list-style-type:decimal;background:none;}

		.text-box ul li ol li a {}

		

		.text-box ol { padding:5px 0px 5px 2px;}

		.text-box ol li{ padding:0px; margin-left:20px;}

		.text-box ol li a { padding-left:0px; text-decoration:none; font-weight:normal;}

		.text-box ol li a:hover{ text-decoration:underline; }

		.text-box ol li ul li a { font-weight:normal; text-decoration:underline;}

		.text-box ol li ul li a:hover {text-decoration:none;}

		

/*** Footer ****/

	.footer {

		clear:both;	overflow:hidden; height:100%; 

		font-size:1.3em; line-height:1.5em;

		color:#535353; background:url(images/footer.gif) repeat-x 0 0;

		}

		

	.footer .width { width:981px; overflow:hidden; margin: 0 auto;}

	

	.footer .corner-left {}

	.footer .corner-right {}

	

	.footer .indent {

		overflow:hidden; height:100%;

		padding:14px 0px 15px 6px;

		}

		

	.footer span {}

		

	.footer a { color:#fcfcfc;}

	

	.footer a { text-decoration:none; }

	.footer a:hover { text-decoration: underline;}

	

	.footer p { padding:0px 0px 0px 0px;}



	

/* -----------------------------------------------------------------

---------------------------- WP ------------------------------------

----------------------------------------------------------------- */

	.info-sidebar { overflow:hidden; padding:10px 10px 27px 0px; color:#fff; width: auto; font-size:1.2em; line-height:1.4em;}

	.info-sidebar a { text-transform:none; color:#fff;}

	

	.pagetitle { font-size:2.1em; font-weight: normal; overflow:hidden; text-align:center; padding:0px 12px 20px 12px; *padding:0px 12px 20px 12px;}



/*--- Navigations ---*/

	.navigation { /*clear:both;*/ overflow:hidden; /*line-height:13px;*/}

	.navigation .alignleft { float: left; width:45%; text-align:left;}

	.navigation .alignright { float: right; width:45%; text-align:right;}

	.nav-top .alignright a { float: right; }

	

	

	.pd-nav { padding:0; margin:0;}

	.pd-nav .alignleft { padding:0; margin:0;}

	.pd-nav .alignright { padding:0; margin:0;}

	

	.pd-title {padding-bottom:0;}

	

	.marg { margin-bottom:10px;}



/*--- Begin Images ---*/

	p img {

		padding: 0;

		max-width: 100%;}

	

	img.centered {

		display: block;

		margin-left: auto;

		margin-right: auto;}

	

	img.alignright { float: right;display:inline;

		padding: 0;

		margin: 3px 0px 10px 20px;}

	

	img.alignleft {	padding: 0;	margin: 3px 25px 5px 0; float:left; display:inline;}

	

/*------*/

	#tag_cloud .widget-bottom-left { padding-bottom:15px;}

	#tag_cloud .widget-heading { margin-bottom:15px;}

	#tag_cloud a { padding-left:3px;}

	

	/*--- Popup styles ---*/

	#commentspopup {}

	#commentspopup #header {background:#2F3F99 url(images/popup_header_bg.gif) top repeat-x;}

	#commentspopup .page-padding {padding:0 5px;}

	#commentspopup .page-width {width:538px; margin:0 auto;}

	#commentspopup .header-top {background:url(images/popup_header_bg_top.jpg) top repeat-x;}

	#commentspopup .header-top-right {background:url(images/popup_header_bg_top_right.jpg) top right no-repeat;}

	#commentspopup .header-top-left {background:url(images/popup_header_bg_top_left.jpg) top left no-repeat; width:100%; height:160px;}

	#commentspopup .header-padding {padding:39px 0 0 89px;}

	#commentspopup h1 {font-size:1em; margin:0; padding:0; color:#E1E7EC; text-indent:-1000em; width:141px; height:27px;}

	#commentspopup h1:hover {text-decoration: none; cursor:pointer;}

	#commentspopup .description {width:141px; height:9px; text-indent:-1000em; margin-top:2px;}

	#commentspopup .description2 {width:249px; height:27px; text-indent:-1000em; margin-top:19px;}

	#commentspopup .border-bottom-left {padding:17px 37px 10px;}

	#commentspopup p {font-size:12px;}

	

	

/*--- Begin Typography & Colors ---*/

	small {	font-size: 1em; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}

	small * {font-size: 0.9em;}

	small p {font-size: 0.9em;}

	

	select { width: 130px;}

		

	#commentform { font-size:1.2em; overflow:hidden; height:100%; padding:0px 25px 0px 0px;}

	

	/*.commentform {float:left;}*/

	

	#commentform input {

		margin: 5px 5px 1px 0;}

	

	#commentform {

		margin: 5px 0px 0 0;}

		

	#commentform textarea {

		width: 100%;

		padding: 2px;}

		

	#respond:after {

			content: "."; 

			display: block; 

			height: 0; 

			clear: both; 

			visibility: hidden;}

		

	#commentform #submit {

		/*margin: 0 0 10px auto;

		float: right;*/ /*margin:0px 0px 0px 319px;*/}

		

	#respond p { padding:0px 0px 10px 0px; text-indent:0;}

	#respond form p { padding:0px 0px 10px 0px; text-indent:0;}

	

/*--- Begin Calendar ---*/

	#wp-calendar { empty-cells:show; width: 155px;}

	

	#wp-calendar th { padding:3px 0; text-align:center; color:#fff;}

	#wp-calendar td { padding:3px 0; text-align:center; color:#fff;}

	

	#wp-calendar a { display: block; font-weight:bold; color:#fff;}

	#wp-calendar #next a { padding-right: 10px;	text-align: right; font-weight: normal;}

	#wp-calendar #prev a { padding-left: 10px; text-align: left; font-weight: normal;}

	

	#wp-calendar caption { text-align: center; color:#fff; font-weight:bold; font-size:1.3em; padding:0px 0px 6px 0px;}

	

	

/* Begin Various Tags & Classes */

	acronym, abbr, span.caps {

		cursor: help;

		}

	

	acronym, abbr {

		border-bottom:1px dashed #1001;

		}

	

	blockquote {

		border:1px solid #000; color:#fff;

		background:#111; padding:15px 10px 10px 20px; margin:5px 0;

		}

	

	blockquote cite {

		margin: 5px 0 0;

		display: block;

		}

	

	

/* Captions */

	.aligncenter,

	div.aligncenter {

		display: block;

		margin-left: auto;

		margin-right: auto;}

	

	.wp-caption {

		border: 1px solid #ddd;

		text-align: center;

		background-color: #f3f3f3;

		padding-top: 4px;

		margin: 10px;

		-moz-border-radius: 3px;

		-khtml-border-radius: 3px;

		-webkit-border-radius: 3px;

		border-radius: 3px;}

	

	.wp-caption img {

		margin: 0;

		padding: 0;

		border: 0 none;}

	

	.wp-caption p.wp-caption-text {

		font-size: 11px;

		line-height: 17px;

		padding: 0 4px 5px;

		margin: 0;}

	

	

/* Begin Comments*/

	.alt { clear:both; padding-bottom:20px; font-weight: normal;}

	

	.alt a { padding:0px 0px 0px 0px; text-decoration:underline;}

	

	.commentlist { color:#fff;

		text-align: justify;

		}

	.commentlist a { color:#fff}

	.commentlist span { color:#fff; font-weight: bold;}

	

	ol.commentlist  li { list-style: none; font-size:12px;

		margin:6px 0px 6px 0px;

		padding: 5px 10px 3px;

		/*list-style: none;*/

		border:1px solid #000; color:#fff;

		background:#111;

		}

		

	.commentlist li .avatar { 

		float: right;

		border: 1px solid #000;

		padding: 2px;

		background: #fff; /*margin:0px 20px 15px 0px;*/

		}

	

	.commentlist p {

		margin: 10px 5px 10px 0;

		}

	

	#commentform p {

		margin: 5px 0;

		padding-left:15px;

		}

	

	.nocomments {

		text-align: center;

		margin: 0;

		padding: 0;

		}

	

	.commentmetadata {

		margin: 0;

		display: block;

		}
		
h2.labels {
	display:block;
	height:21px;
	background:url(images/line.jpg) repeat-x;
	padding:0px 0px 0px 30px;
	margin:5px 10px 0px 10px;
	color:#FFFFFF;
	font-size:17px;
	overflow:hidden;
}
h2.labels span {
	background-color:#1e1e1e;
	display:inline;
	padding:0px 10px;
}