/* ie6 trash */
* html #gritter-notice-wrapper {
	position:absolute; 
	font-family: Tahoma;
	right: 5px;
}
* html .gritter-top {
	margin-bottom:-10px;
}
* html .gritter-item {
	padding-bottom:0;
}
* html .gritter-bottom {
	margin-bottom:0;
}
* html .gritter-close {
	background:url(./../images/gritter-close-ie6.gif);
	width:22px;
	height:22px;
	top:7px;
	right:7px;
}

/* the norm */
#gritter-notice-wrapper {
	position:fixed;
	bottom:20px;
	/*right:20px;*/
	width:301px;
	z-index:9999999999;
	font-family: Tahoma;
	right: 5px;
}
.gritter-item-wrapper {
	position:relative;
	margin:0 0 10px 0;
	background:url('.'); /* ie7/8 fix */ 
	font-family: Tahoma;
}
.gritter-top {
	background:url(./../images/gritter.png) no-repeat left -30px;
	height:10px;
	font-family: Tahoma;
}
.hover .gritter-top {
	background-position:right -30px;
}
.gritter-bottom {
	background:url(./../images/gritter.png) no-repeat left bottom;
	height:8px;
	margin:0;
}
.hover .gritter-bottom {
	background-position: bottom right;
}
.gritter-item {
	display:block;
	background:url(./../images/gritter.png) no-repeat left -40px;
	color:#fff;
	padding:2px 11px 8px 11px;
	font-size: 12px;
	font-family: Tahoma;
}
.hover .gritter-item {
	background-position:right -40px;
}
.gritter-item p {
	padding:0;
	margin:0;
	direction: rtl;
	text-align: right;
}
.gritter-close {
	position:absolute;
	top:5px;
	right:3px;
	background:url(./../images/gritter.png) no-repeat left top;
	cursor:pointer;
	width:30px;
	height:30px;
}
.gritter-title {
	font-size:12px;
	font-weight:bold;
	padding:0 20px 17px 0;
	text-align: right;
	display:block;
	text-shadow:1px 1px #000; /* Not supported by IE :( */
	font-family: Tahoma;
}
.gritter-image {
	width:48px;
	height:48px;
	float:left;
}
.gritter-with-image,
.gritter-without-image {
	padding:0 0 5px 0;
}
.gritter-with-image {
	width:220px;
	float:right;
}
