﻿@charset "utf-8";
/* cinematicket CSS Document */
html,body{
  width:100%;
  height:100%;
  background:#fff url(../images/bg.gif) top repeat-x;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:9pt;
  margin:0;
  padding:0;
}
@font-face {
  font-family:'Droid';
  font-style:normal;
  font-weight:400;
  src:url(DroidNaskh-Regular.eot);
  src:url(DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
   url(DroidNaskh-Regular.woff2) format('woff2'),
   url(DroidNaskh-Regular.woff) format('woff'),
   url(DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family:'Droid';
  font-style:normal;
  font-weight:700;
  src:url(DroidNaskh-Bold.eot);
  src:url(DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
   url(DroidNaskh-Bold.woff2) format('woff2'),
   url(DroidNaskh-Bold.woff) format('woff'),
   url(DroidNaskh-Bold.ttf) format('truetype');
}
*{
  padding:0;
  margin:0;
}
.r{
  float:right;
  width:550px;
}
.l{
  float:left;
}
#container{
  min-height:100%;
  height:auto !important;
  height:100%;
  margin-bottom:-240px;
  position:relative;
}
img{
  border:0;
}
.clear{
  clear:both;
}
.clearfooter{
   height:240px;
   clear:both;
}
.toplinks{
  width:980px;
  height:25px;
  margin:2px auto;
  overflow:hidden
}
.toplinks span{
  padding:0 0 0 5px;
  line-height:17pt;
  float:left
}
.toplinks a{
  text-decoration:none;
  color:#333;
  padding:0
}
.toplinks a:hover{
  color:#f00
}
.header{
  width:990px;
  height:142px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:0 auto 5px auto;
}
.header .logo{
  float:right;
  margin:20px 30px 0 !important;
  margin:20px 20px 0
}
.logo img{
  border:0
}
.header .ads{
  float:left;
  border:1px solid #aaa;
  border-radius:3px;
  padding:3px;
  margin:5px 0 0 5px;
}
.header .ads img{
  border:0;
}
ul#TopMenu{
  float:right;
  width:980px;
  height:25px;
  margin:5px 5px 0 0;
  list-style:none;
  padding:0;
}
#TopMenu li{
  float:right;
  margin:0;
  padding:0;
}
#TopMenu a{
  color:#fff;
  display:block;
  float:left;
  margin:0;
  height:20px;
  padding:5px 12.7px 0;
  margin-left:2px;
  text-decoration:none;
  border-radius:3px;
  background:url(../images/topmenubg.gif) repeat-x;
}
#TopMenu a:hover,#TopMenu .selected{
  background:url(../images/topmenubgover.gif) repeat-x;
}
#TopMenu .hilight{
  background:#A1DD26;
  color:#000
}
.search{
  float:left;
  background:url(../images/topmenubgover.gif) repeat-x;
  width:139px;
  height:25px;
  margin:5px 0 0 5px;
  border-radius:3px;
  text-align:center
}
.search .input{
  width:104px;
  margin:3px 0 0 0;
  padding:2px 2px 1px 19px;
  background:#fff;
  border:1px solid #fff;
  border-radius:3px;
  text-align:right;
  direction:rtl;
  font-size:8pt;
  color:#666;
  font-family:tahoma
}
.search .sbtn{
  position:relative;
  top:-15px;
  left:-54px;
}
.page{
  width:990px;
  margin:5px auto
}
.content{
  float:right;
  width:707px;
}
.sidebar{
  float:left;
  width:283px;
}
.sidebar .box{
  width:271px;
  border:1px solid #aaa;
  background:#fff;
  border-radius:5px;
  padding:5px;
  margin-bottom:5px;
  overflow:hidden
}
.sidebar .box .content{
  width:271px;
  border-radius:5px;
  background:#efefef; /* Old browsers */
  background:-moz-linear-gradient(top, #e8e8e8 0%, #ffffff 50%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* IE10+ */
  background:linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  direction:rtl;
}
.sidebar .box .redcontent{
  width:271px;
  border-radius:5px;
  background:#c60404;
  direction:rtl;
  overflow:hidden
}
.sidebar .box#ban{
  text-align:center
}
.sidebar .box#ban p{
  margin-bottom:3px;
}

.baax#ban{
  text-align:center
}
.baax#ban p{
  margin-bottom:3px;
}
.newsletter{
  float:right;
  width:179px;
  text-align:left;
  padding:2px;
  height:10pt;
  border:1px solid #c60404;
  border-radius:3px
}
.sidebar .box .title{
  color:#c00;
  margin:5px 10px;
  font-family:Arial;
  font-size:13pt;
  font-weight:700
}
.sidebar .box .txt{
  text-align:justify;
  line-height:16pt;
  color:#3e3e3e;
  margin:10px;
}
.news ul{
  list-style:none;
  margin:0;
}
.news li{
  list-style:none;
  background:url(../images/tiketbullet.png) right 8px no-repeat;
  padding:3px 13px 3px 0;
  border-bottom:1px dotted #dbdbdb;
}
.news li:last-child{
  border:0
}
.news li a{
  color:#343434;
  text-decoration:none;
  font-size:8pt;
}
.news li a:hover{
  color:#c00;
}
.boxoffice{
  float:right;
  width:275px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:5px 0;
}
.boxoffice h3{
  width:254px;
  margin:3px auto 0 auto;
  font-family:Arial;
  font-size:13pt;
  font-weight:700;
  direction:rtl;
  padding:7px 15px 3px 0;
  background:#3d3d3d;
  color:#fff;
  border-radius:3px 3px 0 0;
  background-clip:padding-box
}
.boxoffice p{
  width:259px;
  height:18px;
  background:url(../images/pbg.gif) repeat-x;
  color:#000;
  direction:rtl;
  margin:0 auto;
  padding:5px 5px 0 5px;
  font-size:8pt;
  overflow:hidden
}
.boxoffice p a{
  text-decoration:none;
  color:#000;
}
.boxoffice p a:hover{
  color:#c00
}
.boxoffice p.noback{
  background:#fff;
  color:#c00;
  border-bottom:1px solid #eee
}
.boxoffice p .right{
  float:right;
  width:48%
}
.boxoffice p .left{
  float:left;
  width:75px;
  text-align:center
}
.boxoffice .foot{
  width:269px;
  height:23px;
  margin:3px auto;
  padding-top:5px;
  background:#ededed;
  border-radius:0 0 5px 5px;
  border-top:1px dotted #bbb;
  background-clip:padding-box;
  text-align:center;
}
.boxoffice .foot a{
  background:url(../images/stat.gif) right no-repeat;
  color:#434343;
  direction:rtl;
  padding-right:20px;
  text-decoration:none
}
.boxoffice .foot a:hover{
  color:#c00
}
.filmbox{
  float:right;
  width:418px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:5px 5px 5px 0;
}
.filmbox.rg{
  float:right;
  width:275px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:5px 0;
}
.filmbox .title h2{
  width:393px;
  margin:3px auto 0 auto;
  font-family:Arial;
  font-size:13pt;
  font-weight:700;
  direction:rtl;
  padding:7px 15px 3px 0;
  background:#3d3d3d;
  color:#fff;
  border-radius:3px 3px 0 0;
  background-clip:padding-box
}
.filmbox .con{
  width:398px;
  height:60px;
  background:#f4f4f4;
  color:#000;
  direction:rtl;
  margin:0 auto 1px auto;
  padding:1px 5px 1px 5px;
  font-size:8pt;
}
.filmbox.rg .con{
  width:260px;
}
.filmbox .con .right{
  float:right;
  margin-left:5px;
}
.filmbox .con .right a, .filmbox .con .right h5{
  text-decoration:none;
  color:#454545;
  font-weight:bold;
  font-size:9pt;
}
.filmbox .con .right h5{
    display: inline;
}
.filmbox .con .right.margin{
  margin-top:7px;
  line-height:17pt;
  width:240px
}
.filmbox.rg .con .right.margin{
  width:205px
}
.filmbox .con .right a:hover{
  color:#c00;
}
.filmbox .con .right:hover{
  color:#c00;
}
.filmbox .con:hover{
  background:#eee;
}
.filmbox .con .right .pic img{
  border:0;
  width:43px;
  height:60px;
}
.filmbox .con .left{
  float:left;
}
.filmbox .con .left img{
  border:0;
  margin-top:12px;
  margin-left:10px;
}
.filmbox .con .left .mess{
  position:relative;
  float:right;
  left:-116px;
  top:-13px;
  z-index:10;
  height:52px;
}
.filmbox .foot{
  width:100%;
  height:25px;
  margin:3px auto;
  padding-top:5px;
  background:#f9e3e3;
  border-radius:0 0 5px 5px;
  border-top:1px dotted #c00;
  background-clip:padding-box;
  text-align:center;
}
.filmbox .foot a{
  background:url(../images/allfilm.gif) right no-repeat;
  color:#c00;
  direction:rtl;
  padding-right:20px;
  text-decoration:none
}
.filmbox .foot a:hover{
  color:#c00
}
.bax{
  width:265px;
  border:1px solid #aaa;
  background:#fff;
  border-radius:5px;
  padding:5px 5px 0 5px;
  margin-bottom:5px;
  overflow:hidden
}
.bax .content{
  width:265px;
  border-radius:5px;
  background:#efefef; /* Old browsers */
  background:-moz-linear-gradient(top, #e8e8e8 0%, #ffffff 50%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* IE10+ */
  background:linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.bax .title{
  color:#c00;
  margin:7px 10px;
  font-family:Arial;
  font-size:13pt;
  font-weight:700;
  direction:rtl
}
.adver{
  float:right;
  width:418px;
  border:1px solid #aaa;
  border-radius:5px;
  text-align:center;
  margin-bottom:5px;
  margin-right:5px
}
.adver p{
  margin:7px auto
}
/* slider */
.slidecontainer{
  float:right;
  width:702px;
  height:199px;
  margin:0 auto;
}
* html .slidecontainer{position:relative;z-index:-1} /* for IE6 */
*+html .slidecontainer{position:relative;z-index:-1} /* for IE7 */
.theme-default .nivoSlider{
  position:relative;
  background:url(../images/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img{
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
.theme-default .nivoSlider a{
  border:0;
  display:block;
}
.theme-default .nivo-directionNav a{
  display:block;
  width:30px;
  height:30px;
  background:url(../images/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}
.theme-default a.nivo-nextNav{
  background-position:-30px 0;
  right:5px;
}
.theme-default a.nivo-prevNav{
  left:5px;
}
.theme-default .nivo-caption{
  font-family:tahoma;
  line-height:15pt;
}
.theme-default .nivo-caption a{
  text-decoration:none
}
.theme-default .nivo-caption a:hover{
}
/* The Nivo Slider styles */
.nivoSlider{
  position:relative;
}
.nivoSlider img{
  position:absolute;
  top:0px;
  left:0px;
}
.theme-default #slider{
  margin:0 auto;
  width:702px; /* Make sure your images are the same size */
  height:199px; /* Make sure your images are the same size */
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  border:0;
  padding:0;
  margin:0;
  z-index:6;
  display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice{
  display:block;
  position:absolute;
  z-index:5;
  height:100%;
}
.nivo-box{
  display:block;
  position:absolute;
  z-index:5;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a{
  position:absolute;
  top:45%;
  z-index:9;
  cursor:pointer;
}
.nivo-prevNav{
  left:0px;
}
.nivo-nextNav{
  right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a{
  position:relative;
  z-index:9;
  cursor:pointer;
}
.nivo-controlNav a.active{
  font-weight:bold;
}
.jcarousel-skin-tango .jcarousel-container{
}
.jcarousel-skin-tango .jcarousel-direction-rtl{
  direction:rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal{
  width:210px;
  padding:10px 20px;
  margin-bottom:40px;
  margin-left:7px;
}
.jcarousel-skin-tango .jcarousel-clip{
  overflow:hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal{
  width:203px;
  margin:0 auto;
  height:138px;
}
.jcarousel-skin-tango .jcarousel-item{
  width:96px;
  height:138px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal{
  margin-left:0;
  margin-right:10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal{
  margin-left:10px;
  margin-right:0;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal{
  position:absolute;
  top:70px;
  right:0px;
  width:18px;
  height:18px;
  cursor:pointer;
  background:transparent url(../images/next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal{
  left:5px;
  right:auto;
  background-image:url(../images/prev.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus{
  background-position:-18px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active{
  background-position:-36px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{
  cursor:default;
  background-position:-54px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal{
  position:absolute;
  top:70px;
  left:0px;
  width:18px;
  height:18px;
  cursor:pointer;
  background:transparent url(../images/prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal{
  left:auto;
  right:5px;
  background-image:url(../images/next.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus{
  background-position:-18px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active{
  background-position:-36px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{
  cursor:default;
  background-position:-54px 0;
}
#preview{
  position:absolute;
  border:1px solid #ccc;
  display:none;
  color:#fff;
  z-index:1000
}
#preview img{
  width:150px
}
.footerbg{
  position:relative;
  background:#eee;
  width:100%;
  height:225px;
  padding-top:15px;
  margin-top:20px;
  font-size:8pt
}
.footer{
  margin:30px auto 10px auto;
  width:990px;
  /*background:url(../images/footerlogo.png) left 10px no-repeat;*/
  overflow:hidden;
}
.footer ul{
  list-style:none;
  margin:0;
  padding:0;
  float:right;
  height:130px;
  border-right:1px solid #a3a3a3;
  border-left:1px solid #fff;
  direction:rtl;
  padding-right:10px;
  padding-left:10px;
  line-height:13pt
}
.footer ul li{
  list-style:square;
  color:#c00;
  margin-right:20px;
}
.footer ul h1{
  font-weight: bold;
  font-size: 10pt;
}

.footer ul li a{
  color:#333;
  text-decoration:none
}
.footer ul li a:hover{
  text-decoration:underline
}
.footer ul:first-child{
  border-right:0;
}
.footer ul:last-child{
  border-left:0;
}
.footer ul a{
  color:#c00;
  text-decoration:none
}
.footer ul a:hover{
  text-decoration:underline
}

ul#footermenu{
  width:990px;
  margin:0 auto;
  list-style:none;
  padding:0;
}
#footermenu li{
  float:right;
  margin:0;
  padding:0;
}
#footermenu li a{
  color:#fff;
  display:block;
  float:right;
  margin:0;
  height:20px;
  padding:5px 12px 0 12px;
  margin-right:2px;
  text-decoration:none;
  border-radius:3px;
  background:#a3a3a3;
  text-align:right
}
#footermenu li a:hover,#footermenu li .selected{
  background:#c00;
}
/* Film Details*/
.detailbox{
  width:695px;
  border:1px solid #aaa;
  background:#fff;
  border-radius:5px;
  padding:5px;
  margin-bottom:5px;
  height:auto !important;
  height:500px;
  overflow:hidden
}
.detailbox .contain{
  width:685px;
  border-radius:5px;
  background:#efefef; /* Old browsers */
  background:-moz-linear-gradient(top, #e8e8e8 0%, #ffffff 50%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* IE10+ */
  background:linear-gradient(top, #e8e8e8 0%,#ffffff 50%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  direction:rtl;
  padding:10px 5px;
  overflow:hidden
}
.detailbox .contain.wback{
  background:#fff; /* Old browsers */
  background:-moz-linear-gradient(top, #ffffff 0%, #ffffff 50%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #ffffff 0%,#ffffff 50%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, #ffffff 0%,#ffffff 50%); /* IE10+ */
  background:linear-gradient(top, #ffffff 0%,#ffffff 50%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.detailbox .contain .imgside{
  float:right;
  margin:10px;
}
.detailbox .contain .imgside p{
  margin:0 auto 10px auto;
  text-align:center
}
.detailbox .contain .imgside .image{
  width:200px;
  border:1px solid #fff;
  -moz-box-shadow:4px 4px 4px #999;
  -o-box-shadow:4px 4px 4px #999;
  -webkit-box-shadow:4px 4px 4px #999;
  box-shadow:4px 4px 4px #999;
  /* For IE 8 */
  -ms-filter:progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
  /* For IE 5.5 – 7 */
  filter:progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
}
.detailbox .contain .film{
  float:right;
  margin:10px 0;
  direction:rtl;
  width:450px;
}
.detailbox .contain .film h1{
  font-family:arial;
  color:#cf2b32;
  font-weight:700;
  font-size:14pt;
}

.detailbox .contain .film p{
  margin:0 auto;
  width:450px;
  border-bottom:1px dotted #ccc;
  padding:10px 0;
  line-height:16pt;
  overflow:hidden
}
.detailbox .contain .film .ddd{
  float:left;
  background:url(../images/3d.png) left no-repeat;
  height:17px;
}
.detailbox .contain .film .dob{
  float:left;
  background:url(../images/dob.png) left no-repeat;
  height:17px;
}
.detailbox .contain .film .anm{
  float:left;
  background:url(../images/anm.png) left no-repeat;
  height:17px;
}
.detailbox .contain .film .aec{
  float:left;
  background:url(../images/aec.png) left no-repeat;
  height:17px;
}
.detailbox .contain .film label{
  float:right;
  display:block;
  clear:both;
  width:85px;
  color:#686868
}
.detailbox .contain .film .info{
  float:right;
  width:365px;
  text-align:justify
}
.detailbox .contain .title{
  font-family:arial;
  color:#cf2b32;
  font-weight:700;
  font-size:13pt;
  margin:10px;
  padding:0;
}
.detailbox .contain h1{
  background:url(../images/redbulet.png) right no-repeat;
  font-family:arial;
  color:#cf2b32;
  font-weight:700;
  font-size:13pt;
  margin:10px 15px 10px 0;
  padding:0 10px 0 0;
}
.detailbox .contain h2{
  background:url(../images/redbulet.png) right no-repeat;
  margin:20px 15px 10px 0;
  padding:0 10px 0 0;
}
.detailbox .contain h2 a{
  text-decoration:none;
  color:#000;
  font-weight:600;
  font-size:10pt;
}
.detailbox .contain h2 a:hover{
  text-decoration:underline;
}
.detailbox .contain .summery{
  direction:rtl;
  color:#444;
  text-align:justify;
  line-height:16pt;
  margin:10px 25px 0 20px;
  border-bottom:1px dotted #ccc;
  padding-bottom:10px
}
.paging{
  float:right;
  position:relative;
  left:-50%;
  margin:30px auto;
}
.paging ul{
  list-style:none;
  position:relative;
  left:50%;
}
.paging li{
  float:left;
  position:relative;
  list-style:none;
}
.paging li a{
  float:left;
  background:#fff;
  color:#c00;
  text-align:center;
  border:1px solid #ccc;
  margin-left:3px;
  padding:3px 5px;
  text-decoration:none;
}
.paging li a:hover, .paging li .current-page{
  background:#c00;
  color:#fff;
  border:1px solid #c00;
  text-decoration:none;
}
.pagetxt{
  margin:20px 40px;
  line-height:19pt;
  direction:rtl;
  text-align:justify;
  font-size:10pt;
  color:#333
}
.pagetxt a{
  color:#c00;
}
.pagetxt a:hover{
  color:#c00;
  text-decoration:none;
}
.pagetxt p{
  margin:10px auto;
}
.button{
  margin:10px auto;
  width:80px;
  height:22px;
  font-family:tahoma;
  text-align:center;
  color:#fff;
  font-size:9pt;
  background:#c00;
  padding:2px;
  border:1px solid #c00;
  border-radius:5px;
}
.button:hover{
  cursor:pointer;
  background:#f00;
  border:1px solid #f00;
}
.source{
  font-size:8pt;
  margin-top:20px;
  border-top:1px dotted #ccc;
  width:100%;
  direction:rtl;
  overflow:hidden
}
.short{
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  padding:5px 0;
  font-size:9pt;
  margin:20px 0;
  color:#000;
  overflow:hidden
}
.short img{
  margin-right:10px;
}
/* Star Rating */
.rate_right{
  background:url(../images/star.png) no-repeat;
  float:right;
  width:65px;
  height:35px;
  text-align:center;
  padding-top:22px;
  font-weight:700
}
.rate_left{
  float:right;
  width:250px;
  margin-right:20px
}
.rate_left span{
  float:right;
  margin-left:10px;
  margin-top:20px;
}
.rate_count{
  float:left;
  margin-right:10px;
  margin-top:20px;
  font-size:8pt;
}
.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel{
  width:16px;
  height:16px;
  font-size:2px;
  float:right;
  text-decoration:none;
  vertical-align:bottom;
  background-image:url(../images/star.gif);
  background-repeat:no-repeat;
  margin-top:20px
}
.ui-rating a{
  cursor:pointer;
}
.ui-rating-full{
  background-position:left top;
}

.ui-rating-half{
  background-position:left -16px;
}

.ui-rating-empty{
  background-position:left -32px;
}

.ui-rating-cancel-empty{
  background-position:left -64px;
}

.ui-rating-cancel-full{
  background-position:left -80px;
}

.ui-rating-hover{
  background-position:left -48px;
}
.gallery{
  margin:20px auto;
  border-bottom:1px dotted #ccc;
  padding:10px 0;
  overflow:hidden;
}
.gallery ul{
  list-style:none;
  margin:10px auto;
}
.gallery li{
  float:right;
  list-style:none;
  margin:5px;
}
.gallery li img{
  height:100px;
  border:1px solid #eee;
  padding:1px;
}
.toggletop{
  height:20px;
  padding:5px 5px 0 5px;
  margin:0;
  font-size:9pt;
  background:#eaeaea;
  cursor:pointer;
  margin-bottom:2px;
  margin-top:3px;
  border:1px solid #ccc;
  border-radius:4px;
}
.toggletop a{
  text-decoration:none;
  color:#333
}
.toggletop a:hover{
  text-decoration:none;
  color:#c00
}
.togglebox{
  float:right;
  background:#fff;
  display:none;
  padding:10px;
  border:1px solid #e5e5e5;
  overflow:hidden
}
.togglebox .content{
  padding:10px;
  width:640px;
}
.ddd{
  float:right;
  background:url(../images/3D.png) right no-repeat;
  height:17px;
  padding-right:25px;
}
.dob{
  float:right;
  background:url(../images/dob.png) right no-repeat;
  height:17px;
  padding-right:25px;
}
.aec{
  float:right;
  background:url(../images/aec.png) right no-repeat;
  height:17px;
  padding-right:25px;
}
.anm{
  float:right;
  background:url(../images/anm.png) right no-repeat;
  height:17px;
  padding-right:25px;
}
.sance{
  float:left;
  width:475px;
  margin-right:10px;
}
.sancebox{
  float:right;
  width:68px;
  height:37px;
  padding:0;
  margin:5px 0 5px 5px;
  text-align:center;
  border-radius:3px;
  overflow:hidden
}
.sancebox.enable{
  background:url(../images/buyticket.png) bottom no-repeat;
}
.sancebox.disable{
  background:url(../images/buyticket_dis.png) bottom no-repeat;
}
.sancebox .s{
  background:#eaeaea;
  border-radius:2px 2px 0 0;
  padding:2px;
  color:#333;
  font-size:8pt;
  height:18px;
  line-height:13pt
}
.sancebox .s:hover{
  background:#d3d3d3;
  color:#000;
}
.sancebox .s img{
  float:right;
  margin-right:6px;
  margin-top:2px
}
.sancebox .s.gift{
  background:#eaeaea url(../images/giftico.png) right 3px top 4px no-repeat;
}
.sancebox .s.of{
  background:#eaeaea url(../images/saleico.png) right 3px top 4px no-repeat;
}
.sancebox .s.gift:hover{
  background:#d3d3d3 url(../images/giftico.png) right 3px top 4px no-repeat;
  color:#000;
}
.sancebox .s.of:hover{
  background:#d3d3d3 url(../images/saleico.png) right 3px top 4px no-repeat;
  color:#000;
}
.sancebox .s.star{
  background:#eaeaea url(../images/starico.png) right 3px top 4px no-repeat;
}
.sancebox .s.star:hover{
  background:#d3d3d3 url(../images/starico.png) right 3px top 4px no-repeat;
  color:#000;
}

.lf{
  float:left;
  background:url(../images/viewsance.gif) no-repeat;
  width:84px;
  height:18px;
  margin-top:-2px
}
.fajr_filmlist{
  background:#fff url(../images/fajr34_1.png) right no-repeat;
  width:325px;
  height:86px;
  float:right;
  margin-right:10px;
  margin-bottom:10px;
  border:1px solid #e2e2e2;
  border-radius:4px;
  color:#6d6d6d;
  font:9pt 'Droid';
  line-height:15pt;
}
.fajr_filmlist .sp{
	margin:10px 60px 0 0;
}
.fajr_filmlist h3{
  font:bold 10pt 'Droid';
  color:#4b4b4b;
}
.fajr_filmlist:hover{
  border:1px solid #ccc;
}
.fajr_filmlist:hover h3{
  color:#c00;
}
.form{
  width:100%;
  float:right;
}
.form .title{
  color:#000;
  font-weight:600;
  border-bottom:1px dotted #ccc;
  direction:rtl;
  padding-bottom:8px;
  margin:20px auto
}
.form p{
  margin:5px auto;
  overflow:auto;
  width:100%;
}
.form label{
  color:#000;
  width:80px;
  display:block;
  clear:both;
  float:right;
  text-align:right;
}
.form .inpt{
  float:right;
  width:140px;
  height:17px;
  font-family:tahoma;
  text-align:right;
  direction:rtl;
  color:#333;
  font-size:9pt;
  background:#f1f1f1;
  padding:2px;
  border:1px solid #cecece;
  border-radius:3px;
}
.form .btn{
  float:right;
  width:50px;
  height:22px;
  font-family:tahoma;
  text-align:center;
  direction:rtl;
  color:#000;
  font-size:9pt;
  background:#feea00;
  padding:2px;
  margin:2px;
  border:1px solid #feea00;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px 3px 3px 3px;
}
.form .btn:hover{
  background:#cebe04;
  border:1px solid #cebe04;
  cursor:pointer
}
.boxofficebig{
  width:680px;
  *width:685px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:5px 0;
  padding:1px;
  font-size:8pt;
}
.boxofficebig .topic{
  margin:1px;
  font-family:Arial;
  font-size:13pt;
  font-weight:700;
  direction:rtl;
  padding:7px 15px 3px 0;
  background:#3d3d3d;
  color:#fff;
  border-radius:5px 5px 0 0;
}
.boxofficebig p{
  width:98%;
  *width:100%;
  background:#f6f6f6;
  border-top:1px dotted #999;
  color:#000;
  direction:rtl;
  margin:0 auto;
  line-height:16pt;
  padding:5px 5px 0 5px;
  *padding:0;
  overflow:hidden
}
.boxofficebig p:hover{
  background:#f2f2f2;
}
.boxofficebig p a{
  text-decoration:none;
  color:#c00;
  font-weight:700
}
.boxofficebig p a:hover{
  color:#b54b4b
}
.boxofficebig p.noback{
  background:#fff;
}
.boxofficebig p.noback:hover{
  background:#fdfdfd;
}
.boxofficebig p .cell{
  padding:5px 0;
  display:table-cell;
  *display:inline-block;
  vertical-align:middle
}
.boxofficebig p .cell.c{
  text-align:center
}
.boxofficebig p .cell img{
  border:0;
  width:60px;
  margin-left:5px;
}
.boxofficebig .foot{
  width:269px;
  height:23px;
  margin:3px auto;
  padding-top:5px;
  background:#ededed;
  border-radius:0 0 5px 5px;
  border-top:1px dotted #bbb;
  background-clip:padding-box;
  text-align:center;
}
.boxofficebig .foot a{
  background:url(../images/stat.gif) right no-repeat;
  color:#434343;
  direction:rtl;
  padding-right:20px;
  text-decoration:none
}
.boxofficebig .foot a:hover{
  color:#c00
}
.ticketbox{
  width:95%;
  margin:10px auto;
  background:#fff;
  border:1px solid #c1c1c2;
  border-radius:5px;
  padding:10px;
  line-height:18pt;
  color:#333;
  overflow:hidden
}
.ticketbox .oldrice{
  font-size:11pt;
  text-decoration:line-through;
  color:red
}
.ticketbox .oldrice span{
  color:black;
}
.ticketbox .discount{
  font-size:11pt;
  font-weight:700;
  color:#F00;
}
.ticketbox .tit{
  color:#c00;
  font-weight:700;
  border-bottom:1px dotted #ccc;
  padding-bottom:5px;
  margin-bottom:10px
}
.ticketbox .image{
  width:100px;
  float:right;
  margin:0 10px;
  border:1px solid #fff;
  -moz-box-shadow:4px 4px 4px #999;
  -o-box-shadow:4px 4px 4px #999;
  -webkit-box-shadow:4px 4px 4px #999;
  box-shadow:4px 4px 4px #999;
  /* For IE 8 */
  -ms-filter:progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
  /* For IE 5.5 – 7 */
  filter:progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
}
.ticketbox p{
  margin-bottom:10px;
  overflow:hidden;
}
.ticketbox p span{
  font-size:9pt;
  margin:0 3px;
  color:#333
}
.ticketbox label{
  float:right;
  display:block;
  clear:both;
  width:110px;
}
.ticketbox .textbox{
  float:right;
  font-family:tahoma;
  font-size:9pt;
  border:1px solid #999;
  border-radius:5px;
  width:180px;
  padding:3px;
}
.ticketbox .textbox2{
  float:right;
  font-family:tahoma;
  font-size:9pt;
  border:1px solid #999;
  border-radius:5px;
  width:400px;
  padding:3px;
}
.ticketbox .select{
  float:right;
  font-family:tahoma;
  font-size:9pt;
  border:1px solid #999;
  border-radius:5px 5px 5px 5px;
  width:50px;
  padding:2px 2px 2px 3px;
}
.ticketbox a{
  text-decoration:none;
  color:#36C
}
.ticketbox a:hover{
  text-decoration:underline;
}
.tab_box{
  float:right;
  width:275px;
  border:1px solid #aaa;
  border-radius:5px;
  background:#fff;
  margin:5px 0;
}
ul.tabs{
  width:269px;
  margin:3px 3px 0;
  padding:0;
  list-style:none;
  height:28px;
  border-bottom:1px solid #1f469b;
  overflow:hidden;
}
ul.tabs li{
  float:right;
  margin:0 0 0 1px;
  padding:0;
  overflow:hidden;
  position:relative;
  background:#aeadad;
  border-radius:5px 5px 0 0;
}
ul.tabs li:last-child{
  margin:0
}
ul.tabs li a{
  color:#fff;
  display:inline-block;
  padding:6px 28px 7px 28px;
  padding:6px 28px 7px 27px\0/;
  *padding:6px 28px 7px 27px;
  text-decoration:none;
  outline:none;
}
ul.tabs li a:hover{
  background:#1f469b;
  color:#fff;
  border-radius:5px 5px 0 0;
  padding-bottom:8px;
  *padding-bottom:7px;
}
html ul.tabs li.active{
  background:#1f469b;
  color:#fff;
  border-radius:5px 5px 0 0;
  padding-bottom:8px;
  *padding-bottom:1px;
}
html ul.tabs li.active a:hover{
  background:#1f469b;
  color:#fff;
  border-radius:5px 5px 0 0;
  padding-bottom:8px;
}
div.tab_content{
  float:right;
  width:269px;
  margin:1px 3px 3px 3px;
  min-height:150px;
  height:auto !important;
  height:150px;
  direction:rtl;
  padding-top:20px;
  text-align:justify;
  border-radius:0 0 5px 5px;
  background:#eaeaea; /* Old browsers */
  background:-moz-linear-gradient(top, #eaeaea 0%, #ffffff 50%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #eaeaea 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, #eaeaea 0%,#ffffff 50%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, #eaeaea 0%,#ffffff 50%); /* IE10+ */
  background:linear-gradient(top, #eaeaea 0%,#ffffff 50%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
div.tab_content p{
  width:226px;
  margin:0 auto 10px auto;
  color:#262626;
  overflow:hidden;
}
div.tab_content label{
  float:right;
  display:block;
  clear:both;
  width:45px;
  padding-top:3px;
}
div.tab_content .inpt{
  float:right;
  font-family:tahoma;
  font-size:9pt;
  border:1px solid #c8c8c8;
  border-radius:4px;
  width:180px;
  height:23px;
  padding:2px;
  overflow:hidden;
}
.comment .box{
  direction:rtl;
  padding:7px 10px;
  margin:5px auto;
  background:#f3f3f3;
  border-radius:5px
}
.comment .box .title{
  border-top:1px dotted #ccc;
  color:#369;
  padding:2px 0;
  font-family:tahoma;
  font-size:8pt;
  font-weight:100;
  text-align:center;
  overflow:hidden
}
.comment .box .author{
  float:right;
}
.comment .box .date{
  float:left;
}
.comment .box .like{
  position:relative;
  float:left;
}
.comment .box .like span{
  float:left;
  color:#444
}
.comment .box p{
  margin:0 15px;
  line-height:14pt;
}
.comment .box .reply{
  direction:rtl;
  padding:7px 10px;
  margin:5px 20px;
  background:#fff;
  border-radius:5px;
  color:#575757;
}
.reply-form{
  width:603px;
  background:#eaeaea;
  border:1px solid #ccc;
  border-radius:5px;
  background:#fff;
  padding:10px;
  margin-right:20px;
  overflow:hidden;
  display:none
}
.reply-form label{
  float:right;
  display:block;
  clear:both;
  width:85px;
  color:#686868
}
.reply-form .txbox{
  float:right;
  width:250px;
  color:#686868;
  border:1px solid #ddd;
  padding:3px;
  border-radius:3px;
}
.reply-form p{
  overflow:hidden;
}
.reply-btn{
  cursor:pointer;
  margin-right:20px;
  margin-left:20px;
}
.cancel-btn{
  cursor:pointer;
  margin-right:20px;
  margin-left:20px;
}
ul.cintabs{
  float:right;
  width:707px;
  padding:0;
  margin-right:1px\0/;
  list-style:none;
  height:33px;
  border-bottom:2px solid #c51514;
  overflow:hidden;
}
ul.cintabs li{
  float:right;
  margin:0 0 0 1px;
  padding:0;
  overflow:hidden;
  position:relative;
  background:#b9b9ba;
  border-radius:5px 5px 0 0;
}
ul.cintabs li a{
  display:inline-block;
  padding:7px 50px 7px 50px;
  text-decoration:none;
  outline:none;
}
ul.cintabs li a:hover{
  background:#c51514;
  border-radius:5px 5px 0 0;
}
html ul.cintabs li.active{
  background:#c51514;
  border-radius:5px 5px 0 0;
}
html ul.cintabs li.active a:hover{
  background:#c51514;
  border-radius:5px 5px 0 0;
}
div.cintab_content{
  float:right;
  width:705px;
  border:1px solid #aaa;
  border-top:0;
  margin:0;
  min-height:350px;
  height:auto !important;
  height:350px;
  direction:rtl;
  padding:15px 0;
  border-radius:0 0 5px 5px;
  background:#fff
}
.cinbox{
  width:95%;
  margin:4px auto;
  border:1px solid #ddd;
  padding:5px;
  background:#f6f6f6;
  border-radius:5px;
  overflow:hidden;
}
.cinbox:hover{
  background:#eee;
}
.cinimg{
  float:right;
}
.cinimg img{
  width:90px;
  border:0;
  border-radius:4px
}
.cin{
  float:left;
  margin-right:7px;
  color:#000;
}
.cin .right{
  float:right;
  width:450px;
  *width:440px;
  direction:rtl;
  line-height:13pt
}
.cin .right h2 a{
  background:url(../images/redbulet.png) right 5px no-repeat;
  color:#dd0202;
  padding-right:8px;
  font-size:9pt;
  text-decoration:none;
  display:inline-block
}
.cin .right h2 a:hover{
  text-decoration:underline;
}
.cin .right span{
  float:right;
  color:#686868;
  display:block;
  clear:both
}
.cin .left{
  float:left;
  width:120px;
  text-align:left
}
.cin .left img{
  border:0
}
.cin .left .tel{
  background:url(../images/tel.png) left no-repeat;
  padding-left:20px;
}
table.fajr{
  margin:10px auto;
  font-family:'B Nazanin','Nazanin','2 Nazanin',tahoma;
  font-weight:700
}
table.fajr th{
  background:#333;
  color:#fff;
  padding:4px;
  line-height:16pt;
  text-align:center;
  font-size:13pt;
}
table.fajr td{
  background:#ccc;
  padding:4px;
  line-height:16pt;
  text-align:center;
  font-size:12pt;
}
table.fajr td div:last-child{
  font-size:11pt;
  font-weight:100
}
table.fajr td div:first-child{
  font-size:12pt;
  font-weight:700
}
table.fajr tr td:first-child{
  background:#666;
  color:#fff
}
table.fajr tr th:first-child{
  background:#c00;
  color:#fff
}
.ticker {
  width:100%;
  overflow:hidden;
  list-style:none;
}
#ticker {
  height:110px;
}
.ticker li {
  width:250px;
  list-style:none;
  background:url(../images/tiketbullet.png) right 5px no-repeat;
  border-bottom:1px dotted #d1d1d1;
  line-height:20pt
}
.ticker li a{
  color:#343434;
  text-decoration:none;
  padding:5px 15px 5px 0;
}
.ticker li a:hover{
  color:#c00;
}
.bar-main-container {
  margin:10px auto;
  width:260px;
  height:42px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  color:#FFF;
}

.wrap { padding:4px }

.bar-percentage {
  float:right;
  background:#c00;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:2px 0px;
  width:18%;
  height:30px;
  font-size:8pt;
  line-height:11pt;
  text-align:center
}

.bar-container {
  float:right;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  height:10px;
  background:#eaeaea;
  width:200px;
  margin:12px 5px 12px 0;
  overflow:hidden;
}
.total{
  float:left;
  position:relative;
  top:-12px;
  left:3px;
  color:#777;
  font-size:8pt;
  z-index:1000
}
.zero{
  float:right;
  position:relative;
  top:-12px;
  right:50px;
  color:#777;
  font-size:8pt;
  z-index:1000
}
.bar {
  float:right;
  background:#c00;
  height:100%;
  -webkit-border-radius:10px 0px 0px 10px;
  -moz-border-radius:10px 0px 0px 10px;
  border-radius:10px 0px 0px 10px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}
.red{ background:#ccc; }

table.trlist{
  margin:10px auto;
  font-size:9pt;
  border:1px solid #999;
  border-radius:3px
}
table.trlist th{
  background:#c00;
  color:#fff;
  padding:4px;
  line-height:16pt;
  text-align:center;
  font-weight:700;
  border-radius:3px
}
table.trlist td{
  background:#ebebeb;
  padding:4px;
  line-height:16pt;
  text-align:center;
  border-radius:3px
}
.signin{
  float:right;
}
.redbtn{
  background:#C00;
  padding:2px 10px;
  color:#fff;
  font:9pt tahoma;
  border:0;
  cursor:pointer
}
.redbtn a{
  color:#fff;
  text-decoration:none
}
.rdobank{
  position:relative;
  width:13pt;
  height:13pt;
  top:-7px
}
.coupon{
  float:left;
  background:#eee;
  border-radius:5px;
  padding:10px;
  width:242px;
}
.coupon .textbox{
  width:90px;
  height:18px;
  float:right;
  font:10pt tahoma;
  direction:ltr
}
.coupon .btn{
  width:130px;
  height:26px;
  float:right;
  color:#fff;
  background:#39F;
  border:0;
  border-radius:5px;
  margin-right:5px;
  font:10pt tahoma;
  cursor:pointer;
}
.coupon .btn:hover{
  background:#36F;
}
.drp{
  font:bold 10pt 'Droid';
  float:right;
  padding:1px 3px;
  width:200px;
  margin:15px 7px 15px 5px;
  border-radius:3px;
  box-shadow:inset 0 0 3px #ccc;
  direction:rtl
}
.drpbtn{
  font:bold 10pt 'Droid';
  float:right;
  background:#489242;
  color:#fff;
  border:0;
  border-radius:3px;
  box-shadow:inset 0 0 5px #ccc;
  padding:2px 15px 3px 15px;
  margin:15px 0;
  cursor:pointer
}
.drpbtn:hover{
  background:#447540;
  box-shadow:inset 0 0 3px #ccc;
}
.vote p{
  margin:10px 30px 10px 0;
  font-size:10pt
}
.offhead figure{
  position:relative;
  float:right;
  background:#fff;
  padding:10px;
  margin:10px 14px;
  width:150px;
  box-shadow:0 0 5px 1px #ccc;
  overflow:hidden
}
.offhead figure:hover{
  box-shadow:0 0 5px 1px #aaa;
}
.offhead figure img{
  width:150px
}
.offhead h2{
  margin-right:20px;
  color:#000;
  font:bold 18pt 'Droid';
  padding:5px;
}
.offhead h3{
  margin-right:20px;
  color:#000;
  font:12pt 'Droid';
  padding:5px;
}
.offbox{
  margin:10px 0;
  overflow:hidden
}
.offbox h4{
  background:#0063ab;
  color:#fff;
  padding:5px;
  direction:rtl;
  font:12pt 'Droid';
}
ul.off{
  list-style:none
}
ul.off li a{
  text-decoration:none;
}
ul.off li{
  background:url(../images/takhfif_bg_red.png) no-repeat;
  width:216px;
  height:101px;
  float:right;
  margin:5px;
  font:12pt 'Droid';
}
ul.off li .date{
  background:url(../images/dateico.gif) right no-repeat;
  padding-right:20px;
  color:#000;
  font:10pt 'Droid';
  position:relative;
  top:10px;
  right:10px
}
ul.off li .time{
  background:url(../images/timeico.png) right no-repeat;
  padding-right:20px;
  color:#000;
  font:10pt 'Droid';
  position:relative;
  top:10px;
  right:10px
}
ul.off li .basket{
  width:70px;
  background:url(../images/basketico.png) right no-repeat;
  padding-right:20px;
  color:#f42729;
  font:10pt 'Droid';
  position:relative;
  top:15px;
  right:65px
}
ul.off li .remain{
  float:left;
  width:45px;
  color:#fff;
  font:9pt/12pt 'Droid';
  position:relative;
  top:-15px;
  left:6px;
  text-align:center
}
ul.off li .percent{
  float:left;
  width:45px;
  color:#fff;
  font:bold 15pt Arial;
  position:relative;
  top:-8px;
  left:7px;
  text-align:center
}
ul.off li.dis{
  background:url(../images/takhfif_bg_dis.png) no-repeat;
}
ul.off li.dis .basket{
  color:#9d9d9d;
  background:url(../images/basket_dis_ico.png) right no-repeat;
  right:80px
}
ul.off li.dis .date{
  background:url(../images/date_disico.gif) right no-repeat;
  color:#9d9d9d;
}
ul.off li.dis .time{
  background:url(../images/time_disico.png) right no-repeat;
  color:#9d9d9d;
}
ul.offlist{
	list-style:none
}
ul.offlist li figure{
  position:relative;
  float:right;
  background:#fff;
  padding:10px;
  margin:10px 14px;
  width:180px;
  box-shadow:0 0 5px 1px #ccc;
  overflow:hidden
}
ul.offlist li figure:hover{
  box-shadow:0 0 5px 1px #aaa;
}
ul.offlist li figure img{
  width:180px
}
ul.offlist li h4{
  background:#0289cb;
  color:#fff;
  font:9pt 'Droid';
  padding:5px;
  height:40px;
  text-align:center;
}
ul.offlist.km li figure{
  padding:3px;
  margin:10px 10px;
  width:145px;
}
ul.offlist.km li figure img{
  width:145px;
  height:190px
}
ul.offlist.km li h4{
  background:#D2203A;
  color:#fff;
  padding:3px;
  text-align:center
}
.img-title{
  position:absolute;
  top:3px;
  margin:0;
  height:190px;
  width:145px;
  text-align:center;
  opacity:0.7;
  display:none;
  background-color:#000;
}
.img-title h5{
  color:#fff;
  width:80%;
  text-align:center;
  font:12pt 'Droid';
  margin:40px auto 10px auto
}
.thumb {
  position:relative;
  width:500px;
  height:335px;
  overflow:hidden;
}
.thumb img {
  width:100%;
  padding:0;
}
.thumb > div {
  background-color:rgba(0,0,0,0.75);
  opacity:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  -webkit-transition:opacity 0.3s linear;
  text-shadow:#000 1px 1px 0;
  color:#ccc;
}
.thumb:hover > div {
  display:block;
  opacity:1.0;
}
.thumb > div div {
  padding:20px 40px;
}
.thumb h2 {
  font-size:1.2em;
  letter-spacing:0.2em;
  text-transform:uppercase;
  margin-bottom:10px;
}
.thumb p {
  margin-bottom:10px;
}


.offerbox{
  font:8pt 'Droid';
  width:200px;
  float:left;
  background:#f2f2f2;
  border:1px solid #e9e9e9;
  padding:10px;
  text-align:justify
}
.offerbox h3{
  font-size:10pt;
}
.bold{
	font-weight:700
}
.htitle{
	background:#46b18a;
	color:#fff;
	border-radius:5px;
	padding:5px;
	direction:rtl;
  font:10pt 'Droid';
}
.hbox{
  width:45%;
  float:right;
  margin:5px;
  background:#fff;
  border:1px solid #c1c1c2;
  border-radius:5px;
  padding:10px;
  line-height:18pt;
  color:#333;
  min-height:180px
}
.hbox:hover{
  box-shadow:1px 1px 5px #aaa
}
.hbox img{
	width:180px;
	margin:0 auto;
}
.hbox span{
	float:right
}
.hbox h3{
	color:#c00;
	font-size:10pt;
}
.hbox h4{
	color:c00;
	font-size:10pt;
	font-weight:100
}
a.selectbtn{
  background:#C00;
  float:left;
  padding:5px 10px;
  color:#fff;
  font:9pt tahoma;
  border:0;
  cursor:pointer;
  border-radius:5px;
  color:#fff;
  text-decoration:none
}
a.selectbtn:hover{
  background:#8e0202;
}
.picbtn{
  float:left;
  margin-top:2px
}
a.picbtn{
  background:rgb(204, 67, 0);
  padding:3px 7px 5px;
  font:9pt tahoma;
  color:#fff;
  text-decoration:none;
  border-radius:4px
}
a.picbtn:hover{
  background:rgb(173, 66, 1);
}
.picbtn.nw{
	margin-right:3px
}
a.picbtn.nw{
  background:rgba(0, 100, 255, 0.82);
}
a.picbtn.nw:hover{
  background:rgba(0, 159, 255, 0.96);
}
a.glbutton {
  background-color: #004A7F;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: tahoma;
  font-size: 13px;
  padding: 1px 10px 3px;
  text-align: center;
  text-decoration: none;
}
@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

a.glbutton {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
a.glbutton:hover{
color:#fff
}