
* { padding:0; margin:0; -webkit-tap-highlight-color:rgba(0,0,0,0); }
body { width:100%; margin:0; padding:0;  font-family:"微软雅黑";}
h1,h2,h3,h4,h5,p { margin:0; padding:0; }
img { max-width:100%; /* height:auto;*/ border-width:0; }
a { text-decoration:none; cursor:pointer; color:#444; }
a:hover{color:#ff6a00;}

.width-pic img {width:100%;}

.list-box li a:hover { text-decoration:none; color:#000; text-decoration: underline;}
.list-ul li a:hover { text-decoration:none; color:#f60;}
input { -webkit-appearance: none; }
li { display:inline-block; *display:inline; *zoom:1; vertical-align:top;list-style: none;}
.clear{ clear:both;}
.imgborder{border:0.5px solid #B1B1B1;}
.shouxing,.orderby-sp{ cursor:pointer;}
.cur { color:#ff6a00;}
.cur dd a{ position:relative\9;top:-28px\9;left:22px\9;}
.pup p{text-align: center;color:#fff;height: 19px;overflow: hidden;}
.pup p a{color:#444;}
.pup .p2{color: #444;}
.width-pic{clear: both;padding-top: 10px;}

.a-h{padding-right:6px;padding-left:6px; border-right: 1px solid #ccc;}

/*分页*/
.operatepage{width:100%;text-align:center;color:#7A7A7A;padding-top: 15px;}
.operatepage p{display:inline;}
.operatepage p span{padding:0.5% 1%;border:1px solid #E1E1E1;margin:0 0.4%;cursor:pointer;}
.operatepage input{border:1px solid #E1E1E1;padding:0.5%;color:#7A7A7A; margin: 8px;}
.operatepage .inputok{padding:0.5%;margin:8px;}
.operatepage .inputtext{width:2%;padding:0.5%;text-align:center; margin: 8px;}
.sp-color{color:#AD5802;background:#FCEAA6;border:1px solid #F3C762;}

/*颜色强调*/
.stress { color:#ff6a00; }
.stress-red { color:#c80000; }

/*边框*/
.border-right { border-right:1px solid #d3d3d3; }
.border-bottom { border-bottom:1px solid #d3d3d3; }

/*浮动*/
.left { float:left; }
.right { float:right; }

/*列表position:relative; */
.list-box { width:100%; }
.list-box ul{ padding:0 5px 10px 3px;overflow: hidden; }




/*阴影*/
.shadow-curve { position:relative; background-color:#fff; }
.shadow-curve:before {-webkit-transform: skew(-17deg) rotate(-9deg);-moz-transform: skew(-17deg) rotate(-9deg);
transform: skew(-17deg) rotate(-9deg); left: 16px;}
.shadow-curve:after {-webkit-transform: skew(17deg) rotate(9deg);-moz-transform: skew(17deg) rotate(9deg);
transform: skew(17deg) rotate(9deg); right: 16px;}


/*图片并列*/
.img-tied { width:100%; float:left;height:194px; overflow:hidden;text-align: center;}


.img-look{width:100%; margin-top:8px;text-align: center;}


/*阴影*/
.shadow-curve2:before {-webkit-transform: skew(-22deg) rotate(-12deg);-moz-transform: skew(-22deg) rotate(-12deg);transform: skew(-22deg) rotate(-12deg); left: 16px;}.shadow-curve2:after{-webkit-transform: skew(22deg) rotate(12deg);-moz-transform: skew(22deg) rotate(12deg);transform: skew(22deg) rotate(12deg); right: 16px;}
.shadow-curve2:before, .shadow-curve2:after { width: 70%; height: 55%; content: ' ';position: absolute; bottom: 10px; z-index: -1;
-webkit-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);}

/*列表小图标*/
.icon-list { float:right; position:absolute; right:5px; top:3px; width:8%; }


/*居中块*/
    .page-wrap{ color:#000; margin:0 auto;}


/*----------------------------顶部banner------------------------*/
.top-banner {width:100%;height:129px;}
.top-banner .img-x{position:absolute;right:10px;top:10px;}

/*----------------------------顶部导航------------------------*/
.top-nav { width:100%; padding-top:7px; color:#3e3e3e; background-color:#f5f5f5; border-bottom:1px solid #d8d8d8; }
.top-nav a { color:#3e3e3e; }

.top-nav a:hover { text-decoration:underline; }
.top-nav-left a { padding-right:15px; }
.top-nav-right a { margin-right:15px; padding-left:10px;}
.top-nav-right a s{background: url('http://www.jqw.com/china/images/topicon_1207.png') no-repeat scroll -19px 1px transparent;width: 12px;height: 12px;line-height: 22px;color: #888;font-family: Verdana;
font-size: 12px;text-align: left;list-style: none outside none;padding: 0 6px;margin-left:2px;}
.top-nav-right {float:right; mragin-right:8px; } 
.top-nav-left{display: inline-block;}

/*-----------------------------搜索块-------------------------*/

.header-wrap a { color:#000 }
.header-wrap a:hover { color:#ff6a00; }

/*-----搜索框块------*/
.header-wrap .search-wrap * { vertical-align:middle; }

/*标题与热门关键词*/
.search-wrap .caption,
.search-wrap .caption {padding-left:10px; }
.search-wrap .caption span{ margin-right:4%;padding-left:5px;cursor:pointer; }

.search-wrap .caption .cur { color:#ff6a00;}
.search-wrap .hot-keys a { margin-right:7px; }
/*搜索按钮*/
.bnt1{ width:50px;}
.bnt2{ width:100px;}
.search-wrap .search-button,
.search-wrap .search-button2 { border:1px solid #99370b;  height:30px;font-family:"微软雅黑"; color: #9E5D4B;cursor: pointer;}
.search-wrap .search-button { background-image: url(../images/search-button-bg.png); }
.search-wrap .search-button2 { background-image: url(../images/search-button-bg2.png);}

/*登录块*/

.login-block .login-short { width:44%; }

/*------------------------------搜索导航--------------------*/
.header-nav .center-content p{margin-left:10px;}
.header-nav .center-content b { margin-left:10px}
.header-nav a { color:#fff;}
.header-nav a:hover { color:#000; }

/*最新提示块*/
.latest-tips { width:100%; overflow:hidden; text-align:center; padding:0 1px 1px 1px; border:1px solid #d4aa00; background:url(../images/latest-tips-bg.png); }
.latest-tips * { vertical-align:middle; }
.latest-tips a { width:105px; margin-right:30px; text-align:center; height:25px; line-height:25px; background-color:#ffde54; border-radius:15px; display:inline-block; *display:inline; *zoom:1; -webkit-box-shadow: 0 2px 0px 0px #ccc; -moz-box-shadow:   0 2px 0px 0px #ccc; box-shadow:   0 2px 0px 0px #ccc; }
.latest-tips img { margin-right:10px; }

/*-----------------------------分类块--------------------*/
.categorykuai p a{margin:0 1%;line-height:30px;}

/*修改 开始*/
	.memberHead ul li{float: left;/*width: 980px;width: 816px;*/overflow: hidden; position: relative;}
	.huang_r b.selected{
		background: #FF6A00;
	}
	.memberHead ul li a img{
		width:100%;
		display: block;
	}
	.preNext{
		z-index: 99999;
	}
/*修改 结束*/


		/*首页内容*/
.memberHead ul li div{position: absolute;overflow: hidden;}
.memberHead .btnBg{position: absolute;width: 980px;height: 20px;left: 0;bottom: 0;background: #000;}
.memberHead .btn{position: absolute;width: 980px;height: 10px;padding: 5px 10px;right: 0;bottom: 0;text-align: right;}
.memberHead .btn span{display: inline-block;_display: inline;_zoom: 1;width: 25px;height: 10px;_font-size: 0;margin-left: 5px;cursor: pointer;background: #fff;}
.memberHead .btn span.on{background: #fff;}

.memberHead .pre{left: 0;width: 45px; height: 100px;position: absolute;top: 60px;background: url(http://www.jqw.com/china/images/product/sprite.png) no-repeat 0 0;cursor: pointer;}
.memberHead .next{position: absolute;top: 60px;right:0;width:50px;height:100px; background: url(http://www.jqw.com/china/images/product/sprite.png);background-position:right top;cursor: pointer;}
/*.memberHead .next{right: 0;background-position: right top;width: 45px; height: 100px;position: absolute;top: 60px;background: url(http://www.jqw.com/china/images/product/sprite.png) no-repeat 0 0;cursor: pointer;}*/

.mfpSlide-nav span{display: block;float: left;background-color: #B5B5B5;border-radius: 50% 50% 50% 50%;cursor: pointer;height: 18px;margin: 0 4px;overflow: hidden;width: 18px;}
.mfpSlide-nav span.selected{background-color: #df0505;}


/*---------------------内容第一部分-----------------*/

/*-----第一部分左边------*/
.content-one .left .list-box{ border-bottom:1px dashed #919191;margin-bottom: 9px; }
.content-one .left .shadow-curve{ border:0px; }
.bg { width:100%;height:15px;}
/*-----第一部分中间------*/
 .content-one .mid .one-pic-box { margin-top:0; position:relative;}
/*-----第一部分右边------*/
.content-one .right .list-box { border:1px solid #e4e4e4; }


/*---------------内容第二部分---------------------*/
/*楼层版块*/
.floor { float:left; width:100%; overflow:hidden; margin-top:8px; margin-bottom:5px; }
.floor .caption {color:#115599;border-bottom:2px solid #d6d6d6; letter-spacing:0; }
.floor .caption a{color:#115599; font-weight:bold;font-size:1em;margin:5px;}
.floor .caption a:hover{color:#f60;}
.floor .caption span{ padding-bottom:5px;}
.floor .caption span a{color:#353C45;font-size:18px;font-weight:bold; height:36px; font-family:"Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti; }
.floor .caption img { margin-right:10px; position:relative; bottom:3px; }
.floor .caption * { vertical-align:middle; }
.floor .mid li a:hover{color:#f60;text-decoration: none;}
.floor .mid p a:hover { color:#ff6a00; }
.floor .left ul{margin-top: 8px;}
.floor .right_1 img {/*width:180px;height:240px;*/ float:right;padding: 8px 22px; width: 75%;}
.floor .left .list-box li a{padding:0 15px;}
.floor .mid li.full-width-li:hover ,.floor .mid li.light:hover{background: #f5ffff; border:1px solid #e5f9ff; margin:-1px; }
.img-t{clear:both; float:left; text-align:center;background: #ffffff;}
/*楼层版块左侧图文与文本*/

.image-text  .little-img{width:239px;height:110px;min-height:110px;border-bottom: 0px solid #ccc;}
.image-text * { vertical-align:middle; }
.floor .width-auto { width:auto; }


/*展会中心*/
.exhibition { margin-bottom:10px; }


/*--------------------------底部版权-------------------------*/

.footer-wrap p {  text-align:center;    color:#aaa;  }
.footer-wrap img{height:auto;}
.footer-wrap .botlsit a{ margin:0 8px;}
.footer-wrap .botbanq a{ margin:0 3px;  }
.footer-wrap .botbanq .linoth{ margin-top:9px; }
.footer-wrap .botbanq .botrz{ margin-top:5px; }
.footer-wrap .botbh{ margin:2px auto 10px auto; color:#555555; clear:both; }
.footer-wrap .botbh a { margin-right:5px;  }
.footer-wrap .botbh span{font-size:14px;}
.footer-wrap li a { line-height:28px; display: inline-block;width:70px;text-align: center; }
.footer-wrap li b a{width:120px;font-weight: normal;}
.footer-wrap li a:hover{color:#999;text-decoration: underline;}
.footer-wrap li h1 { line-height:33px;  font-size:14px;margin-left: 8px;}
.footer-wrap .img-li { width:17%; padding:0; }
/*------------------------------------
.footer-wrap p { border-top:1px solid #ff6a00; text-align:center;  margin-top:8px; padding:20px 0; color:#aaa; }
.footer-wrap span { margin-right:10px; }
----------------------------------*/

/*--------------------------返回顶部-------------------------*/
.topspancss{background:url(http://www.jqw.com/images/top.png) 0 0 no-repeat; opacity:0.6;display:block;width:100%;height:100%;color:black;font-size:20px;font-weight:bold;}
.topshow{display:none;width:40px;height:40px; right:2%;position:fixed;bottom:1%;border:1px solid #FFB47D; background:#ffffff;}

/*--------------------------分类导航栏-------------------------*/
.categorydaohang  ul{background:#F5F5F5;width:100%;}
.categorydaohang  ul li{width:100%;text-align:center;padding:4% 0;}
.categorydaohang  ul li a{color:#797979;}
/*mid图片并列*/
	.mid .img-tied ul{width:654px;}
	.img-tied ul li { width:160px; }

	
	.Navigation-ul { margin:0 auto;}
	.search-wrap .input-block input .inputone { width:520px; }
	.latest-tips a { margin-right:63px; }
	.latest-tips img { margin-right:30px; }
	.mid .img-tied ul{width:100%;margin-left: 3px;}
	.icon-list { width:10%; }
	/*.floor {margin-bottom:10px; }*/
	.search-wrap .hot-keys a { margin-right:11px; }

	/*news页面*/
	.content-mid{width: 100%;}
	.mid-top{border-bottom:3px solid #FE5F02;}
	.mid-top-spanone{ float:right;}
	.mid-mid-top{height:30px; clear:both; border:1px solid #D6D6D6;width:99.8%;}
	.mid-mid-top span{ height:30px;line-height:30px;text-align:center; float:left;width:10%;}
	.mid-mid-top-spanone{ display:block; background: #F3F1F2;}
    .mid-mid-top-spanpart{color:#58649D;}
	.mid-mid-top-more{float:right; height:26px;line-height:26px;text-align:center; }
	.mid-left{width:79%;float:left; margin-top:1%; color:#8E8E8E;}
	.mid-left ul {width:100%;}
	.mid-right{width:20%;float:right;margin-top:1%;}
	.mid-right-top-p{color:red;}
	.mid-right-mid-p{background:#F2F2F2; height:30px;line-height:30px; margin-top:5%;}
	.mid-right-mid-p-spanone{font-weight:bold;color:#131313;float:left;padding: 0 10px;}
	.mid-right-mid-p-spantwo{float:right;padding: 0 10px}
	.mid-right-mid-ul-pone{color:#0500F7; text-align:center;padding: 5px;}
	.mid-right-mid-ul-ptwo{color:#5a9962;text-align:center;margin-bottom: 5px;}
	.mid-right ul li {text-align:center;width:100%;}
	.mid-left .p-content{ margin-top:1%;}
	.mid-left .p-title a:link{color:#3358A7;}
	.mid-left .p-title a:hover{color:#ff6a00; text-decoration:underline;}
	.mid-left .p-title a:visited{color:#3358A7;}
	.mid-left ul li{border-bottom:1px solid #cecece;padding:1% 0;width:100%;}
	.mid-left ul li .sp-type{color:#C3DBF2; margin-right:2%;}
	.div-foot{border-top:1px solid #d6d6d6; display: none;}
	.p-title{font-size:14px;}
	.zhongdian {color:#f81f01;}
	.time{padding:5px 0;}
	.time span{height:25px;line-height:25px;}
	.pbox .pup a img {width: 95%;margin:4px 5px 0 4px;}
	.pbox .pup:hover p{background:#ff6a00;color:#fff;}
	.pbox .pup:hover p a{color:#fff;}
	.pbox .pup{border: 2px solid #fff;}
	.pbox .pup:hover{border: 2px solid #ff6a00;}
	/*产品页面*/
	.div-typedaohan{border-left:2px solid #CCCCCC;border-right:2px solid #CCCCCC;width:100%; clear:both;}
	.div-typedaohan p{height:26px;line-height:26px;width:100%; border-bottom:1px solid #CCCCCC;}
	.div-typedaohan p a:link{color:#2B5EA3}
	.div-typedaohan p a:hover{color:#2B5EA3}
	.div-typedaohan p a:visited{color:#2B5EA3}
	.div-typedaohan p .p-sp-one{display:block;width:6%; background:#F6F6F6;float:left;text-align:right;}
	.div-typedaohan p .p-sp-alt{margin:0 2%;}
	.div-typedaohan p .p-sp-right{display:block;width:6%; clear:right;float:right; margin-right:1%;}
	.div-typedaohan p .p-sp-duo{ border:1px solid #CCCCCC;}
	.div-orderby{border-bottom:1px solid #E7E7E7;background:#F6F6F6; padding:0.5% 2%;}
	.div-orderby span{padding:0.3% 0.6%; cursor:pointer;}
	.div-orderby input {width:5%;;border: 1px solid #9e9e9e;padding:0.2% 0;font-size:12px;}
	.sp-zonghe{background:#FC984F;color:white;}
	.orderby-sp{border:1px solid #E2E2E2;padding: 3px;margin-left: 4px;}
	.orderby-sp:hover{}
	.producecss{clear:both; width:100%; border-bottom:1px solid #E6E6E6;margin:2% 0;height:350px;}
	.producecss ul li{float:left;width:19.6%;padding-left:0.3%;}
	.producecss .p-company{color:#C0C0C0}
	.producecss p{width:94%;}
	.producecss p a:link{text-decoration:none;color:#2B5EA3;} 
	.producecss p a:hover{text-decoration:underline;color:#2B5EA3;} 
	.producecss p a:visited{text-decoration:none;color:#2B5EA3;} 
	.sp-right{float:right;color:#C0C0C0;}
	.sp-left{float:left;color:#E6E6E6;}
	.colorred{color:red;font-weight:bolder;}
	.p-margin{margin:2%;}

	/*产品切换页面*/
	#producelist{margin-top:20px;}
	.pro_left{width:65%;height:auto;float:left;}
	.pro_rigt{width:19%;height:auto;float:right;}
	.left_lie{ padding:15px 0;clear:both; }
	.lieb_cent { width:40%;padding:0 10px;}
	.lieb_cent h1 {font-size:16px;height:25px;line-height:25px;}
	.lieb_cent h1 a {color:#052d9e;}
	.lieb_cent h1 span {padding:20px; font-size:14px;font-weight:normal;text-decoration:underline;color:#9e9e9e;}
	.lieb_cent p{padding:5px 0;color:#5d5d5d;}
	.lieb_cent .last{font-weight:normal;color:#3e3e3e;}
	.lieb_cent .last a,.lieb_mony span {color:#f70832;font-weight:bold;}
	.lieb_rig {display:block; width:18%; text-align:right;padding:10px 0 ;}
	.lieb_mony{ width:15%; text-align:center;padding:10px 0 0 30px;}
	.lieb_lf {width:20%;}
	.lieb_lf img{padding:20px 0;width: 150px;height: 150px;}
	.lieb_lf, .lieb_cent, .lieb_rig, .lieb_mony {float:left;}
	.righead { background:#f2f2f2;height:30px;}
	.righead h3 { display: inline-block;height:30px;line-height:30px;padding: 0 8px;}
	.righead a{float: right;display: inline-block;height: 30px;line-height: 30px;padding: 0 6px;color: #696969;}
	.rigmid {margin-top:5px;border-right:1px solid #efeef3;border-left:1px solid #efeef3;}
	.rigmid ul {border-top:1px solid #ebefe2;}
	.rigmid ul p {width: 100%;display: block;text-align: center;padding: 5px;color: #006be7;}
	.rigmid ul span {display: block;text-align: center;padding: 2px 5px 7px 5px;color: #009001;}
	.rigmid ul img {padding:7px;width:100%;}
	.operatepage, left_lie{clear:both;}


	/*供求页面*/
	.div-topimg{width:100%; }
	.div-daohancss{background:#F6F6F6;border-top:2px solid #6884B7;width:100%;padding:0.5% 0;margin:1% 0;}
	.div-ul  ul li{width:100%; margin:1% 0;}
	.div-ul  ul li .div-kuai{border:1px solid #F0F2F6;width:24%;float:left; height:170px;}
	.div-ul  ul li .div-kuai .div-kuaititle{color:#4A619B;font-weight:bold;}
	.div-ul  ul li  .marginlr{margin-left:1%;}
	.div-ul ul li .div-kuaitop{background:#F1F6FC;height:15%;padding:5%;}
	.div-ul ul li .div-kuaifoot{padding:5%;}
	.div-ul ul li .div-kuaifoot p{margin:2%;color:#5B5B5B;}
	.div-ul ul li .div-kuaifoot .pss{border-top:1px dotted #F0F2F6;margin:5% 0;}
	.div-ul ul li .div-kuaifoot .sp-kuai{color:#9D9D9D;}
	.pro_rigt ul {text-align: center;border-top: 1px solid #f0f0f0;margin-top: 3%;}
	.pro_rigt ul li a img {padding: 3% 0;width: 100%;}
	.pro_rigt ul li { width:100%;}
	.pro_rigt ul p{color:#0500f7;padding:5px 0;}
	.pro_rigt span {width: 100%;display: block;padding: 0 0 5px 0;color: #5a9962;}

	/*供求切换页面*/
	.gqmain{ width: 1174px; margin: 0 auto;}
	.gqleft { width: 75%; float: left; }
	.gqkuai{border-bottom: 1px solid #f2f2f2;width:100%;float:left;}
	.p-shenyi{display: inline-block;float: left;width: 15%;text-align: center;padding-top:10px;}
	.p-shenyi span a{color:#ff03b0;}
	.p-shenyi span{padding:0 5px;}
    .nave{width: 85%;float: left;}
    .nave2{width: 120px;float: left; margin-left: 15px; margin-top: 15px;}
	.nave2 span{margin-right: 10px;}
	.nave2 span a{ color: red;}
	.nave2 p{ line-height: 10px;}
	.sp3{font-size: 13px;margin:5px 0;display: inline-block;float: left;width: 15%;text-align: center;margin-left: -20px;}
	.nave h1{ height: 25px;line-height: 25px;}
	.nave h1 a{font-size: 15px;color: #022b83;}
	.nave h1 span{font-size: 12px;color: #000000;margin-left: 15px;}
	.spa1{font-size: 12px;color: #6a6a6a;line-height: 20px;padding: 10px 0;}
	.spa2{font-size: 13px;color: #000000;margin-bottom: 10px;}

	/*分类页面*/
	.bodycss{background:#F3F3F3;}
	.content-mid-part{ height:530px;clear:both;}
	.fl_1{border-top: 2px solid #f392ec;border-bottom:1px solid #d8d8d8;}
	.fl_2{border-top: 2px solid #ad9b44;border-bottom: 1px solid #D8D8D8;}
	.fl_3{border-top: 2px solid #d1a2b2;border-bottom: 1px solid #D8D8D8;}
	.fl_4{border-top: 2px solid #ff767e;border-bottom: 1px solid #D8D8D8;}
	.fl_5{border-top: 2px solid #81d630;border-bottom: 1px solid #D8D8D8;}
	.fl_6{border-top: 2px solid #fed233;border-bottom: 1px solid #D8D8D8;}
	.fl_7{border-top: 2px solid #bed6e4;border-bottom: 1px solid #D8D8D8;}
	.content-mid-part h1 {font-size: 2em;margin: 3% 0 1% 1%;}
	.content-mid-part .partone{width:18%;height:100%; float:left;background:white;}
	.content-mid-part .partone .partone-one{width:100%;height:33%;position:relative;}
	.content-mid-part .partone .partone-two{width:100%;height:33%;color:#B8B8B8;font-weight:bold;}
	.content-mid-part .partone .partone-three{width:100%;height:33%;color:#B8B8B8;font-weight:bold;}
	.content-mid-part .partone .partone-one img{width:100%;height:100%;}
	.content-mid-part .partone .partone-one span{color:white;font-weight:bold;}
	.content-mid-part .partone .partone-two ul{width:80%;height:100%;margin-left:10%; border-bottom:1px dashed #B8B8B8;}
	.content-mid-part .partone .partone-two ul li{width:100%;height:auto;padding:5% 0;text-align:center;}
	.content-mid-part .partone .partone-two ul li a{ color:#ADADAD;margin:0 2%;}
	.content-mid-part .partone .partone-two ul li stress{color:#ff6a00;}
	.content-mid-part .partone .partone-two ul li a:hover{color:#FF6A00;}
	.content-mid-part .partone .partone-three ul{width:80%;height:100%;margin-left:10%; }
	.content-mid-part .partone .partone-three ul li{width:100%;height:auto;padding:5% 0;text-align:center;}
	.content-mid-part .partone .partone-three ul li a{ color:#ADADAD;margin:0 2%;}
	.content-mid-part .partone .partone-three ul li a:hover{color:#FF6A00;}
	.content-mid-part .parttwo{width:81%;float:left;height: 85%;}
	.content-mid-part .parttwo img{display:block;width:100%;height:100%;}
	.content-mid-part .partthree{display: inline-block;border: 1px solid;width: 81%;float: left;height: 10%;margin: 1% 0;}
	.content-mid-part .partthree img{float:left;width:49%;height:50%;}
	.sp-postionone{position:absolute;top:50%;left:20%;}
	.sp-postiontwo{position:absolute;top:50%;left:60%;}

	/*供应商页面*/
	.div-category {color:#707070}
	.div-category  a:link{color:#466FB2}
	.div-category .categoryone a:hover{color:#FF6A00;text-decoration:underline;}
	.div-category  a:visited{color:#466FB2}
	.div-category  a:link{color:#466FB2}
	.div-category .categorytwo a:hover{color:#FF6A00}
	.div-category  a:visited{color:#466FB2}
	.div-category  a:link{color:#466FB2}
	.div-category .categorythree a:hover{color:#FF6A00}
	.div-category  a:visited{color:#466FB2}
	.div-category .categoryone{border:2px solid #E7E7E7;border-top:2px solid #FF6A00;width:100%;height:60px;}
	.div-category .categoryone .fenge{display:block; background:#F1F1F1;width:4%;float:left;height:100%;text-align:right;line-height:200%;}
    .div-category .categoryone .mianliao{display:block;background:#F1F1F1;width:4%;float:left;height:100%;text-align:right;line-height:200%;}
	.div-category .categoryone .div-hang{border-bottom:1px solid #F1F1F1;height:50%;}
	.div-category .categoryone .sp-cate{margin:0 2%;line-height:200%;}
	.div-category .categoryone .div-hang .sp-right{margin-right:1%;width:10%;line-height:200%;}
	.div-category .categorytwo{border:1px solid #E7E7E7;border-top:none;width:100%;height:50px;}
	.div-category .categorytwo .div-hang span{margin:0 2%; line-height:200%;}
	.div-category .categorytwo .div-hang{height:50%;}
	.div-category .categorythree{width:100%;height:25px;}
	.div-category .categorythree .div-hang{width:100%;height:100%;border:1px solid #F1F1F1;border-top:none;}
	.div-category .categorythree .div-hang span{line-height:200%;margin:0 1%;}
	.div-category .categoryfour {width:100%;height:30px;border:1px solid #FFF1DC;margin:1% 0;background:#FEFBF6;line-height:30px;}
	.div-category .categoryfour .sp-kuais span{border:1px solid #D2D2D2;color:#262626;padding:3px;margin:0 0; cursor:pointer;}
	.div-category .categoryfour .select-mar{margin-left:1%;}
	.backgroundwhite{background:white;}
	.backgroundgrey{background:#F5F5F5;}
	.mid-content{width:100%;}
	.mid-content ul{width:100%;}
	.mid-content ul li{width:100%;margin-bottom:2%;}
	.mid-content ul li dl{width:50%;float:left;}
	.mid-content ul li .div-prolist{width:50%;float:left;}
	.mid-content ul li dl dt{color:#2550A7;font-weight:bold;margin-top:2%;margin-left:2%;}
	.mid-content ul li dl dd{width:49%;float:left;}
	.mid-content ul li dl dd p{margin:4% 0;margin-left:3%;}
	.mid-content .spcolor{color:#3A3A3A;}
	.mid-content .yellowcolor{color:#EA9A45;}
	.mid-content .redcolor{color:#D72C25;}
	.mid-content .bluecolor{color:#214F99;}
	.mid-content ul li dl dd p  a:link{color:#466FB2;}
	.mid-content ul li dl dd p a:hover{color:#FF6A00;text-decoration:underline;}
	.mid-content ul li dl dd p  a:visited{color:#466FB2;}
	.mid-content .div-prolist .div-pro{width:28%;float:left;margin-top:2%;float:right;margin-right:4%;border: 1px solid #ececec;height:170px;}
	.div-pro img {width:92%; padding:5px;}


    /*咨询过度页*/
	 .bdsharebuttonbox {display: inline-block;float: right;margin-top: -2px;margin-right: 40px;*display: inline;*margin-top:-30px;}
	 .bdsharebuttonbox a{float:right; margin:0 0;}
	.gd_nav{ width:100%; border:1px solid #ccc; float:left;	}
	.nav_txt{ padding-top:1%;float: left;width: 19%;}
	.nav_txt ul li {padding: 1.5%;}
	.nav_txt ul li span { color:#f80011;}
	.min_nav {padding:8px; display:block; clear:both; font-size:110%; font-weight:bold; padding:1% 0 0.8% 0;}
	.min_nav  a { margin-right:0.5%; color:#000;}
	.min_nav  a:hover {text-decoration:underline; color:#ff6a00;}
	.min_nav span { color:#ff6a00; margin-left:0.5%;}
	.con_left  h1{text-align: center;padding: 5%;text-overflow: ellipsis;font-size: 1.8em;font-size: 1.6em\9;
overflow: hidden;
white-space: nowrap;}
	.con_left .con_text p{line-height: 200%;clear: both;font-size: 14px;}
	.text_1 {padding: 0px 5% 1% 5%;color: #8F8F8F;height: 20px;display: inline-block;width: 100px;}
	.text_1 a{padding: 0 2%;color: #8F8F8F;float: left;}
	.text_1 span{float: right;}
	.text_1 span img {padding: 0 5px;cursor: pointer;vertical-align: bottom;}
	.text_1 a:hover {color:#ff6a00;}
	.text_3 a{ padding:2%;}
	
	.text_4 ul {width: 48%;float: left; margin-right:2%;}
	.text_4 ul li {width:100%;padding:1% 5%; background:url(../images/ulbg.png) no-repeat left center;}
	.content-wrap .pro_rigt{width:178px;}
	.con_bot1 ul li,.con_bot2 ul li{line-height: 1.8em;float: left;display: block;white-space: nowrap;overflow: hidden;background:url(../images/zixun_li_list.png) no-repeat left center;width:100%;}
	.pic-1{ display:block; border:1px solid #9b9b9b;background: #EEE;}
	.gd_right .pic-1 img { width:90%; padding:0 5%;}
	.pic-2{ margin-top:10px;height: 80px;overflow: hidden;}
	.gd_right img{ width:100%;}
	.con_text h3 {float: right;display: block;font-weight: normal;font-size: 12px;margin: 20px 5px 0 0;}
	.con_text h3 b {font-weight: normal;}
	 
	 .xg h3 span { margin:0 20%; }
	 .xg h3 span a{ color:#2977a8;}
	 .xg h3 a { font-size:12px;}
	 .xg p { width:49.5%; float:left;margin-bottom: 5%;}
	 
	 .xg p span a{  color:#ff6a00;display: none;}
	 .xg p img{ width:80%; display:block;margin-top: 8px;border: 1px solid #ccc;}
	 .right_bot{ clear:both;display: block;border: 1px solid #b9b9b9;margin-top: 4%; float:left;}
	 .right_bot ul { width:45%;float:left; margin:3% 0 3% 4%; }
	 .right_bot ul li{ height: 4%;line-height: 200%;}
	 .pro_txt { margin-bottom:3%;}
	 .pro_txt p { margin-bottom:1%;}
	 .pro-txt  a { color:#ff5353;}
	.zixun-pic img {margin: 10px 0 0 0;border: 1px solid #ccc;width: 338px;}
	.gd_left div ul li a{margin-left: 20px;}

	/*标王*/
	.bwbox a .cmp_logo0 {border: 1px solid #ccc;padding: 5px;}

/*友情链接*/
.layout {zoom: 1;}
.hz-lianmeng {margin-top: 5px;clear: both;width: 99%;}
.hz-lianmeng .header {
background: url(http://www.jqw.com/china/images/bg_jqw.gif) repeat-x 0px -184px;
height: 40px;
width: 100%;
border-top: #DDDDDD solid 1px;
border-left: #DDDDDD solid 1px;
border-right: #DDDDDD solid 1px;
float: left;
height: 34px;
line-height: 34px;
line-height: 34px\0;
_line-height: 36px;
font-size: 13px;
font-weight: bold;}
.hz-lianmeng .header，.link-friend .header .cel {
						background: url(http://www.jqw.com/china/images/bg_jqw.gif) repeat-x 0px -184px;
						height: 40px;
						width: 978px;
						border-top: #DDDDDD solid 1px;
						border-left: #DDDDDD solid 1px;
						border-right: #DDDDDD solid 1px;
						float: left;
						height: 34px;
						line-height: 34px;
						line-height: 34px\0;
						_line-height: 36px;
						font-size: 13px;
						font-weight: bold;
}
.cell-header {width: 60px;float: left;}
.hz-lianmeng .header .cell-header {width: 500px;}
.header .title {font-weight: bold;color: #000;}
.hz-lianmeng .cell-header .title dt {float: left;background: url(http://www.jqw.com/china/images/icon_jqw.gif) no-repeat 0px -145px;height: 25px;padding-left: 20px;margin-top: 2px;}
.hz-lianmeng .cell-header .title dd {float: left;margin-left: 2px;padding-top: 2px;color: #09439D;font-size: 14px;}
.hz-lianmeng .header .title dd {float: left;margin-left: 2px;}
.hz-lianmeng-list {border: #DDDDDD solid 1px;border-top: 0;width: 100%;clear: both;padding: 10px 0;}
.hz-lianmeng-list ul {overflow: auto;}
.hz-lianmeng-list ul li {float: left;line-height: 22px;width: 75px;padding-left: 35px;white-space: nowrap;}
.link-friend {margin-top: 5px;margin-bottom: 10px;clear: both;}
.link-friend .header {background: url(http://www.jqw.com/china/images/bg_jqw.gif) repeat-x 0px -779px;height: 40px;width: 99%;border-left: #DDDDDD solid 1px;border-right: #DDDDDD solid 1px;}
.link-friend .cell-header dl dt {float: left;background: url(http://www.jqw.com/china/images/icon_jqw.gif) no-repeat 0px -170px;height: 25px;padding-left: 20px;margin-top: 2px;}
.link-friend .header dl dd {margin-left: 2px;font-size: 14px;padding-top: 8px;width: 500px;}
.link-friend a.a-more {color: #09439D;font-weight: 100;vertical-align: bottom;float: right;margin-right: 15px;margin-top:12px;}
.link-friend .a-more span {position: absolute;background: url(http://www.jqw.com/china/images/bg_jqw.gif) no-repeat 0px -853px;width: 10px;height: 10px;margin-top: 2px;}
.link-friend-list {border: #DDDDDD solid 1px;border-top: 0;width: 99%;padding: 10px 0;}
.link-friend-list ul {overflow: hidden;}
.link-friend-list ul li {float: left;line-height: 22px;width: 90px;/*78px*/padding-left: 28px;overflow: hidden;white-space: nowrap; font-size:13px;}

.jqw-link dl {overflow: auto;}
.jqw-link dt {background: url(http://www.jqw.com/china/images/icon_jqw.gif) no-repeat 0px -198px;height: 35px;width: 44px;float: left;}
.jqw-link i {margin-top: -6px;display: block;overflow: auto;}
.jqw-link h2 {float: left;font-weight: 600;margin-top: 3px;overflow: visible;overflow: auto;width: 92px;font-size:20px\9;}
.jqw-link dd span {position: absolute;margin-left: -95px;margin-top: 10px\9;min-width: 114px;overflow: auto;}

.header-wrap .jqw-logo { position:relative\9; *top:-1px; display:inline-block\9; *display:inline; *zoom:1;float:left\9;margin-left: 15px\9;}

.purchasetitle{ height:36px;width:100%;background-image:url(http://www.jqw.com/images/latest-purchase1.jpg);text-align:center;font-size:18px;color:#ffffff;padding-top:4px;}
.purchasetitle a{color:#ffffff;}
.purchasetitle a:hover{color:#ffffff;}

.qualitytitle{ height:36px;width:100%;background-image:url(http://www.jqw.com/images/quality.png);text-align:center;font-size:18px;color:#ffffff;padding-top:4px;}
.qualitytitle a{color:#ffffff;}
.qualitytitle a:hover{color:#ffffff;}
/*--------------media条件判断-------------------*/
@media screen and (max-width:1366px){
	body{font-size:0.7em; }
	.center-content { width:980px;padding-bottom: 3px; }
	.categorykuai p {width:980px; font-weight:bold; margin:0 auto;display:none;}
	.content-wrap { margin:0 auto; width:980px; position:relative; z-index:0;padding: 8px 8px;clear: both}
	.header-nav a { margin-right:7px;}
	.search-wrap .input-block  .inputone { border:1px solid #99370b;  width:360px; height:30px; outline:none; font-family:"微软雅黑";line-height: 30px;padding-left: 6px;}
	.content-one .left { background-color:#ffffff;border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; width:225px;_width:200px}
	.left, .right{width:225px;}
	.mid { width:520px; margin-left:4px; *margin-left:6px;   display:inline-block; *display:inline; *zoom:1; float: left;/*margin-top: 4px;*/_width:400px;}

/*修改 开始*/
	.mid_ban {display:none;}
	.memberHead{clear: both;float: left;width: 520px;clear: both;overflow: hidden;position: relative;height: 265px;_width:500px;}
	.memberHead ul{ /*width: 540px;*/width:520px;height: 265px;float: left;}
	.memberHead ul li img{width: 520px;position: relative;height: 262px;}
	.huang_r{
		/*width:170px;
		height:295px;*/
		border:0px;
		overflow:hidden;
		position:absolute;
		bottom:20px;
		left:0;
		text-align:center;
		width:520px;
		font-size:0;
		z-index: 9999999;
	}
	.huang_r b{
		width:12px;
		height:12px;
		background:#666;
		color:#fff;
		text-align:center;
		line-height:20px;
		border-radius:50%;
		font-size:16px;
		display:inline-block;
		margin:0 6px;
		cursor:pointer;
	}
	/*修改 结束*/

	/*.memberHead{clear: both;float: left;width: 520px;clear: both;overflow: hidden;position: relative;height: 265px;_width:500px;}*/
	.floor .right_1 { display:none;}
	.floor .mid { width:534px; height:182px; margin-left:9px; margin-top:8px; }
	.floor .mid li.full-width-li { width:534px; *width:534px; overflow:hidden; height:90px;}
	.floor .mid li.light{ width:267px; height:90px;}
	.floor .right { width:210px; height:176px;margin-top: 5px; border:1px solid #ccc; display:inlink-block; float:right; }
	.img-look li img{ width:95%;padding:5px 0 0 0;}
	.img-look li span{color:#69695B;width:132px;display: inline-block;height: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
	<!–[if gte IE 8]>.mid_ban{display:none;}- <![endif]-->
	.mid_ban{display:none;}
	.text_4 table tr td{width: 260px;margin-right: 60px;height: 20px;overflow: hidden;display: inline-block;text-overflow: ellipsis;white-space: nowrap;background:url(../images/all-li-lis.jpg) no-repeat center left;}
	.text_4{margin: 0px 38px 10px 38px;}
	.text_4 table{width:646px;}
	.categorydaohang{width:8%;position:fixed;right:0%;top:100px;display:none;list-style: none;}
	.con_bot1 h3,.con_bot2 h3 { display:inline-block;border-bottom: 1px solid #ccc;width: 98%;height: 25px;line-height: 30px;padding-left: 8px;font-size: 14px\9;line-height: 25px\9;}
	.categorydaohang  ul li span{text-align:center;padding:2% 10%;display:block;margin:0 auto;}
	.con_bot1 ul,.con_bot2 ul {margin:6px 30px;color:#000;overflow: hidden;font-size: 12px\9;}
	.categroylicss{color:white;background:#888888;border-radius:20px; }
	.new_zx ul li {padding: 1px 0;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background:url(../images/all-li-lis.jpg) no-repeat center left;*list-style: none;}
	.new_zx ul li a,.jiaodian ul li a,.text_4 table tr td a{padding-left:10px;}
	.new_zx ul {padding:0 5%;height:150px;*height:140px;overflow: hidden;white-space:nowrap; text-overflow:ellipsis;font-size: 12px\9;}
	.new_zx{  margin-top:10px; border:1px solid #b9b9b9;height:192px;}
	.jiaodian h3 {display: block;padding: 5px 3%;border-bottom: 1px solid #ccc;background: #f2f2f2;font-size: 14px\9;}
	 .jiaodian ul li {margin:2px 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 93%;background:url(../images/all-li-lis.jpg) no-repeat center left;}
	.header-nav { padding:7px 0; background-color:#ff6a00;width:100%;clear:both;min-width:996px;float: left; }
	.header-nav .center-content { text-align:left; color:#fff; margin:0 auto;clear:both;font-size: 12px;padding: 0 8px;overflow: hidden;white-space: nowrap;float: left;width: 884px;}
	.header-nav  .pos {display: inline-block;float: right;position: relative;right: 8px;}
	.top-banner .img-banner{width:100%;height:129px;min-width:980px;}
	.Navigation{min-width:996px}
	.center-content { margin:0 auto;padding: 0 8px;}
	.hot-keys{width:452px;overflow: hidden;white-space: nowrap;}
	.header-wrap .search-wrap { display:inline-block; *display:inline; *zoom:1; *width:760px; margin-left:2%;width:56%;}
	.search-wrap .input-block { background-color:#ff6a00; padding:5px 5px 5px 6px; }
	.login-block {display: inline-block;margin-right: 6.2%;margin-right: 5.5%\9;margin-top: -90px;width: 17%;padding: 10px;float: right;clear: both;_width: 180px;_margin-right: 2%;}
	.login-block a {  text-align:center; padding-right:3px;padding-left:3px; display:inline-block; *display:inline; *zoom:1; }
	.header-wrap .jqw-logo { position:relative; *top:-1px; display:inline-block; *display:inline; *zoom:1;float:left;margin-left: 15px;}
	.header-nav .hot-lis{width:980px;margin: 0 auto;}
    
	#tab-right{height:202px;overflow: hidden;}
	
	.img-t li a img { display:block;margin:auto;_padding:2px;_float:left;_width:158px;}
	.img-t li {width:24.1%;margin: 5px auto;*margin: 5px auto;}
	/*------二维码------*/
	.QR-code img { border:1px solid #c8c8c8; background-color:#fff; }
	.QR-code {float:right; display:inline-block; *display:inline; *zoom:1;margin-top:-85px;clear: both; *top:-1px;margin-top:-83px\9;}

	.purchasetitle{ height:28px;width:100%;background-image:url(http://www.jqw.com/images/latest-purchase1.jpg);text-align:center;font-size:16px;color:#ffffff;padding-top:7px;}
	
	.list-box li{cursor:pointer; word-wrap:break-word; overflow:hidden; height:20px; line-height:22px; width:220px; font-size: 1em;text-overflow: ellipsis;}
	
	.list-uls li {height:23px;}
	.list-box li span { background:url(../images/li-img.png) no-repeat 0 -20px; overflow:hidden; width:18px; height:18px; display:inline-block; *display:inline; *zoom:1;  }
	.list-box li:hover span,
	.list-box li:hover span { background-position:0px 0px; } 
	/*.list-box li a{position: relative;top: -3px;*position: none;}*/
	.list-box ul{ padding:0 5px 2px 3px;overflow: hidden; }
	.memberHead .preNext{}
	.mfpSlide-nav{display: block;bottom: 0px;left: 100%;height: 25px;margin-left: -150px;position: absolute;z-index: 10;top: 235px;}
	.img-tied li img { display:block;margin:auto;}
	.floor .image-text { border:1px solid #d3d3d3; text-align:center; height: 110px;width: 223px; overflow:hidden}
	.floor .right img{width:194px; height:160px; margin:8px; border: 1px solid #e8e8e8;}
	.floor .mid li span { height:19px; margin-right:15px; width:74px; overflow:hidden; float:left; }/*white-space:nowrap;*/
	
	.image-text p .pic-txt {font-size: 15px;display: inline-block;overflow: hidden;text-align: center;white-space: nowrap;text-overflow: ellipsis;padding: 9px 5px;width: 215px; }
	.exhibition .img-tied li { width:19%; border:1px solid #ccc;margin-top: 10px;margin-left:3px; }
	.header-wrap { padding:8px 0 0 0; background:#fff;}
	.img-look li{ width:15.5%;border:1px solid #c0bfbf;text-align:center;margin:0 2px;height:190px;line-height:24px; position:relative;}
	.footer-wrap li { width:17.5%; padding:0 10px; text-align:left;overflow: hidden; height: 115px;}
	.image-text .border-bottom {width: 90.5px;font-size: 12px;display: inline-block;text-align: center;height: 37px;overflow: hidden;text-align: center;padding: 14px 10px;float: left; }
	/*--------------------------底部版权-------------------------*/
	.footer-wrap { width:980px; clear:both; border-top:1px solid #ff6a00;  padding-top:10px; margin:0 auto;text-align:center; }
	.footer-wrap .botbanq{ margin:5px auto 0 auto; display:block; width:860px; overflow:hidden; float: left;margin-left: 60px; }
	/*咨询过度页面*/
	.con_mid{float: left;width: 980px;margin-bottom: 20px;}
	.gd_nav img { display:inline-block; float:left; width:100%;height: 100px;}
	.gd_left{ width:70%; float:left;}
	.con_left{border:1px solid #b6b6b6;float: left;margin-bottom:8px;width:684px;}
	.gd_right{ width:29%; float:left;margin-left:1%; }
	.xg{ border:1px solid #b9b9b9; margin-top:8px;float: left;height:180px;overflow:hidden;width:283px;}
	.xg p span { display:block;margin:5%;margin-left:15px;white-space: nowrap;text-overflow: ellipsis;width: 100px;overflow: hidden;text-align: center;}
	.jiaodian{border:1px solid #b9b9b9; margin-top:4px;overflow:hidden;height:163px;}
	.xg h3 {padding:2%;border-bottom: 1px solid #ccc;background: #f2f2f2;font-size: 1.125em;}
	.zixun_pic{margin:3px 0}
	.text_4{display: block;color:#b9b9b9;overflow: hidden;height: 126px;clear: both;font-size: 12px\9;}
	.jiaodian ul {margin:1.5%;height:125px;overflow: hidden;}
	.text_2 {background:#EDEDED;text-align: center;border: 1px solid #b9b9b9; color:#b9b9b9;}
	.text_2 span img {vertical-align:middle;padding:4% 5%;width: 5%;}
	.text_2 span {width: 49%;display: inline-block;text-align: center;margin-top: 0.5%;line-height: 430%;}
	.con_bot1{ float:left;width:49%; border:1px solid #b9b9b9;height:225px;overflow: hidden;}
	.con_bot2{ float:right;width:49%;border:1px solid #b9b9b9;height: 225px;overflow: hidden;}
	.floor .left .list-box li{background:url(../images/a_bg1.png) no-repeat 3px 6px; }

	.floor .left .list-box li:hover{background:url(../images/a_bg2.png) no-repeat 3px 6px; }
	.floor .left { width:225px; float:left; height:182px; margin-top:5px; }
	.img-tied li span { width:95%; padding:4px; display:inline-block; *display:inline; *zoom:1; text-align:center; white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; }
	.content-wrap .pro_rigt {display:none;}
	
	.floor .mid p a { color:#115599; font-weight:bold;line-height: 25px; width: 150px;*width: 150px;*line-height: 28px;*height:28px;}
	.floor .mid li { width:267px;*min-width:267px;overflow: hidden; height: 90px;*height:90px; float:left; zoom:1}
	.floor .mid .lis-h {height:115px;*height:122px;}
	.floor .mid li p { font-size:16px;height:22px;border-bottom:1px dashed #ccc; float:left;display:block;width:255px;*min-width:255px;margin-bottom: 8px; }
	.floor .mid .light p{ width:255px;margin-bottom:8px;}
	.floor .mid .full-width-li p{ width:522px;margin-bottom: 8px;}
	.floor .list-box { margin-top:8px; }
	.jqw-link {overflow: hidden;width: 153px;height: 45px;float: right;margin-right:5px;margin-right:20px\9;margin-bottom: 5px;}
	.jqw-link dd {float: left;margin-left: 5px;color: #FF6500;font-weight: bold;font-size: 12px;text-align: left;overflow: auto;}
	.jqw-link dd span {position: absolute;margin-top: 7px;min-width: 114px;overflow: auto;}
	.text_3 {display: block;padding: 5px 30px 0px 30px;font-size: 14px;font-weight: bold;}
	.con_text {margin: 0 5%;margin-bottom: 1.8%; border-top:1px dashed #cbcbcb;height:310px;overflow: hidden;}
	/**新增热门行业部分 开始**/
	#zero{height:150px; margin-top:8px;}
	#zero .caption span a{color:#ff7200;}
	#zero .left{height:110px;}
	#zero .left .image-text{height:110px;}
	#zero .mid{height:auto; margin-top:20px;}
	#zero .right{height:110px;}
	#zero .right img{height:94px;}
	#zero .right_1{height:110px;}
	#zero .right_1 img{height:80px;}
	#zero .mid li span{height:30px;}
	#zero .mid li span a{text-decoration: underline;}
	/**新增热门行业部分 结束**/
}
/*----------------------max-width:1366px End---------------------- */

@media screen and (min-width:1367px){
	body{font-size:13px; }
	.floor .mid li.full-width-li:hover ,.floor .mid li.light:hover{background: #f5ffff repeat 0 0;border:0px solid #e5f9ff; margin:0px;}
	.floor .mid li.full-width-li:hover ,.floor .mid li.light2:hover{background: #f5ffff repeat 0 0;border:0px solid #e5f9ff; margin:0px;}
	.content-two .floor { width:1344px; height:240px;}
	.center-content { width:1360px;padding-bottom: 3px; margin:0 auto;}
	.image-text  .little-img{ width:239px;height:130px;border:0px;}
	.categorykuai p {padding-left:22px; width:1360px; font-weight:bold; margin:0 auto;display:none;}
	.content-wrap { margin:0 auto; width:1344px; position:relative; z-index:0;clear: both;padding: 8px ;}
	.search-wrap .input-block  .inputone { border:1px solid #99370b;  width:560px; height:30px; outline:none; font-family:"微软雅黑";line-height: 30px;padding-left: 7px;*line-height: 28px;}
	.header-nav a { margin-right:5px;}
	.header-nav .hot-lis .pos{display: inline-block;float: right;width:34px;}
	.content-one .left,.content-one .right { background-color:#ffffff;border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; width:248px;}
	.content-one .left img {width:100%;}
	.mid { border:solid #ccc 0px;width:824px; margin-left:15px;*margin-left:15px;  display:inline-block; *display:inline; *zoom:1; float: left;_width:649px;overflow: hidden;}
	.content-two .floor .mid{ width:672px; height:210px; margin-top:0px;padding-top:6px; margin-left:0px;padding-left:12px; overflow:hidden;}

	/*.memberHead{clear: both;float: left;width: 645px;overflow: hidden;position: relative;height:295px;}*/

/*修改 开始*/
	.memberHead{clear: both;float: left;width:816px;/*width: 645px;*/overflow: hidden;position: relative;height:295px;}
	.memberHead ul{ /*width: 648px;*/width: 816px;float: left;}
	.memberHead ul li{width: 816px;}
	.huang_r{
		float:left;
		/*width:170px;
		height:295px;*/
		margin-right:6px;
		border:0px;
		overflow:hidden;
		position:absolute;
		bottom:20px;
		left:0;
		text-align:center;
		width:816px;
		font-size:0;
		z-index: 9999999;
	}
	.huang_r b{
		width:15px;
		height:15px;
		background:#666;
		color:#fff;
		text-align:center;
		line-height:20px;
		border-radius:50%;
		font-size:16px;
		display:inline-block;
		margin:0 8px;
		cursor:pointer;
	}
/*修改 开始*/


    /*.huang_r{ background-color:#ffffff;float:left; width:171px;height:295px;margin-right:6px; border:0px;overflow:hidden;}*/
    .huang_r img{float:left; min-height:99px; height:auto !important; height:99px;width:168px; overflow:hidden;
	            opacity:0.3; transition:opacity 500ms ease 0s;}
	.huang_r img.selected{/*position:relative;left:1px;top:1px;border:2px solid #e7e7e7;width:168px;*/opacity:1; transition:opacity 500ms ease 0s;}

	/*.memberHead ul{ width: 648px;float: left;}*/
	.floor .left{ width: 241px; height:198px; margin-top:6px;padding-top:0px; overflow:hidden;}
	.floor .right{ border:1px solid #e7e7e7; margin-top:6px; width:238px; height: 198px;}
	.floor .mid .lis-h {height:115px;*height:118px;margin-top: 3px;padding-top: 2px;*margin-top: 0px;*padding-top: 0px;}
	.floor .mid li.full-width-li {width:672px; height:111px; overflow:hidden; padding-bottom: 0px;}
	.floor .mid .full-width-li p{width:657px; margin-right:15px;margin-bottom: 8px;}

	.floor .mid .light p{width:321px; margin-right:15px;margin-bottom: 8px;}
    .floor .mid .light2 p{width:321px; margin-right:15px;margin-bottom: 8px;}

	.floor .right_1 { width:176px; height:198px; border:1px solid #e7e7e7; float:right; margin-top:6px;}
	.img-look li img{margin:10px 3%;position:absolute;left:2%; width:90%;}
	.img-look li span{color:#69695B;position:absolute;bottom:4px;left:5%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;width: 165px;padding:0 8px;}
	<!–[if gte IE 8]>.mid_ban{ height:485px;float:left;}- <![endif]-->
	.mid_ban{ height:485px;float:left;}
	.mid_ban img{ height:auto;width:180px;_width:170px;}
	.categorydaohang{width:110px;position:fixed;right:0%;top:100px;display:none;list-style: none;}
	.text_4 table{width:740px;}
	.text_4 table tr td{width: 315px;margin-right: 50px;height: 20px;overflow: hidden;display: inline-block;white-space: nowrap;background:url(../images/all-li-lis.jpg) no-repeat center left;}
	.text_4{margin: 0px 38px 10px 38px;}
	.new_zx ul li a,.jiaodian ul li a,.text_4 table tr td a{padding-left:10px;}
	.con_bot1 h3,.con_bot2 h3 { display:inline-block;width:98%;padding: 5px 0px 5px 8px;border-bottom: 1px solid #ccc;font-size: 1.125em;}
	.con_bot1 ul,.con_bot2 ul {margin:8px 10px;color:#000;height: 230px;overflow: hidden;}
	.categroylicss{color:white;background:#888888;border-radius:20px;display:block;padding:4px 0; }
	.new_zx{  margin:8px 0; border:1px solid #b9b9b9;height:200px;}
	.new_zx ul li {line-height: 1.7em;display: block;overflow: hidden;overflow: hidden;white-space: nowrap;background:url(../images/all-li-lis.jpg) no-repeat center left;}
	.new_zx ul {padding:0 8px;height:155px;overflow: hidden;white-space:nowrap;  overflow:hidden; text-overflow:ellipsis;}
	.jiaodian h3 {display: block;padding:2%;font-size: 1.125em;;border-bottom: 1px solid #ccc;background: #f2f2f2;}
	.jiaodian ul li {line-height: 1.8em;margin:0 4%;display: block;overflow: hidden;white-space: nowrap;background:url(../images/all-li-lis.jpg) no-repeat center left;}
	.header-nav { padding: 7px 0px;background-color: #FF6A00;width: 100%;clear: both;min-width: 1360px;overflow:hidden;}
	.header-nav .center-content { height:20px; text-align:left; color:#fff; margin:0 auto;clear:both;font-size: 14px;width: 1268px;float:left;overflow: hidden;}
	.top-banner .img-banner{width:100%;height:129px;min-width: 1360px;}
	.Navigation{min-width:1360px}
	.header-wrap .search-wrap { display:inline-block; *display:inline; *zoom:1; *width:760px; margin-left:6%;width:55%;*padding-top:15px;}
	.search-wrap .input-block { background-color:#ff6a00; padding:8px 0 8px 10px; }
	.login-block {  display:inline-block; *display:inline; *zoom:1;margin-right:5%;margin-top:-90px;width:16%;padding:10px;float: right;clear: both;}
	.login-block a {  text-align:center;  display:inline-block; *display:inline; *zoom:1; }
	.header-wrap .jqw-logo { position:relative; top:5px;  *top:18px;*left:20px; display:inline-block; *display:inline; *zoom:1;float:left;margin-left: 15px;}
	.header-nav .hot-lis{width:1320px;margin:0 auto;}
	.hot-keys{margin-top: 2px;}
	/*------二维码------*/
	.QR-code img { border:1px solid #c8c8c8; padding:3px; background-color:#fff; }
	.QR-code { float:right; display:inline-block; *display:inline; *zoom:1;margin-top:-85px;margin-top:-83px\9;  margin-right:10px;clear: both;}

	.list-box li{ cursor:pointer; word-wrap:break-word; overflow:hidden; height:20px; line-height:20px; width:236px; font-size: 13px;padding: 0 2px;text-overflow: ellipsis;}
	.list-uls{margin-bottom:6px;}
	.list-uls li{height:26px;}
	.list-ul li {height:20px;}
	.list-box li span { background:url(../images/li-img.png) no-repeat 0 -15px; overflow:hidden; width:18px; height:20px; display:inline-block; *display:inline; *zoom:1; *height:25px; }
	.list-box li:hover span { background-position:0px 5px; }
	.list-box ul{ padding:0 5px 7px 3px;overflow: hidden; }
	.list-ul {margin-bottom:6px;}
	
	.memberHead .preNext{}
	
	.mfpSlide-nav{display: block;bottom: 0px;left: 100%;height: 25px;margin-left: -150px;position: absolute;z-index: 10;}
	.img-t{width: 816px;height:202px;overflow: hidden;background-color:#ffffff}
	.img-t li a img { display:block;margin:auto;_padding:2px;_float:left;_width:158px;}
	.img-t li { margin-right:5px;padding-top:6px; padding-right:1px;float: left;display: inline;width:157px;}
	.exhibition .img-tied{height:250px;}
	.img-tied li img { display:block;margin:auto; padding:5px;}
	.width-pic img {width:100%;}
	.image-text {  border: 1px solid #d3d3d3; text-align:center; height: 130px; /*width: 242px; */ }
	.floor .right img{ width:218px; height:176px; margin:10px; border: 1px solid #ececec;}
	.floor .right_1 img{ width:156px; height:176px; margin:10px; padding:0px;}
	.floor .mid li span { line-height:21px; margin-right:15px; width:97px; height:20px; display:inline-block; overflow:hidden; float:left; padding-left: 0px;}
	.image-text p .pic-txt {display: block;font-size: 15px;display: inline-block;overflow: hidden;text-align: center;margin: 9px 10px;width: 230px;white-space: nowrap; text-overflow:ellipsis; }
	.image-text .border-bottom {width: 99px;font-size: 12px;display: inline-block;text-align: center;height: 35px;overflow: hidden;text-align: center;padding: 15px 10px;float: left; }
	.exhibition .img-tied li { width:18.9%; border:1px solid #ccc;margin-top: 10px;margin-left: 6px; }
	.img-look li{ width:15.4%;border:1px solid #c0bfbf;text-align:center;height:225px;line-height:24px; position:relative;margin-left:8px;}
	
	/**新增热门行业部分 开始**/
	#zero{height:166px;}
	#zero .caption span a{color:#ff7200;}
	#zero .left{height:126px;}
	#zero .left .image-text{height:124px;}
	#zero .mid{height:auto; margin-top:20px;}
	#zero .right{height:126px;}
	#zero .right img{height:106px;}
	#zero .right_1{height:126px;}
	#zero .right_1 img{height:106px;}
	#zero .mid li span{height:30px;}
	#zero .mid li span a{text-decoration: underline;}
	/**新增热门行业部分 结束**/

	.footer-wrap li { width:245px; padding:0 10px; text-align:left;overflow: hidden; height: 115px;}
	.header-wrap { padding:8px 0; background:#fff;*padding:0;}

	/*--------------------------底部版权-------------------------*/
	.footer-wrap { width:1344px; clear:both;  padding-top:10px; border-top: 1px solid #FF6A00; margin: 0 auto;text-align:center; }
	.footer-wrap .botbanq{ margin:5px auto 0 auto; display:block; width:1100px; overflow:hidden; float: left;margin-left: 100px; }

	/*咨询过度页面*/
	.con_mid{float: left;width: 1155px;margin-bottom: 20px;}
	.gd_nav img { display:inline-block; float:left; width:100%;}
	.gd_left{ width:800px; float:left;}
	.con_left{border:1px solid #b6b6b6;float: left;margin-bottom:10px;width:800px;}
	.gd_right{ width:340px; float:left;margin-left:1%; }
	.xg{ border:1px solid #b9b9b9; margin-top:8px;float: left;height:440px;overflow:hidden;width:338px;height: 212px\9;}
	.xg p span { display:block; padding:4%;margin-left:15px;white-space: nowrap;text-overflow: ellipsis;width: 120px;overflow: hidden;}
	.jiaodian{border:1px solid #b9b9b9; margin-top:4px;overflow:hidden;height:280px;}
	.xg h3 {padding:3%;border-bottom: 1px solid #ccc;background: #f2f2f2;padding:2% 2% 1.5% 2%\9;font-size: 1.125em;}
	.text_4{display: block;float: left;color:#b9b9b9;overflow: hidden;height: 143px;}
	.zixun_pic{margin-bottom: 4px;}
	.text_2 span img {vertical-align:middle;padding:1% 5%;}
	.text_2 {height: 16%;background:#EDEDED;text-align: center;border: 1px solid #b9b9b9; color:#b9b9b9;}
	.text_2 span {width: 49%;display: inline-block;text-align: center;line-height:592%;margin-top:0.5%;}
	.jiaodian ul {margin:1.5% 0;height:228px;overflow: hidden;}
	.con_bot1{ float:left;width:49%; border:1px solid #b9b9b9;height:272px;height: 280px\9;}
	.con_bot2{ float:right;width:49%;border:1px solid #b9b9b9;height: 272px;height: 280px\9;}
	.floor .left .list-box li{background:url(../images/a_bg1.png) no-repeat left 6px; }
	.floor .left .list-box li:hover{background:url(../images/a_bg2.png) no-repeat left 6px; }
	.img-tied li span { width:95%; padding:4px; display:inline-block; *display:inline; *zoom:1; text-align:center; white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; }
	.floor .mid p a { color:#115599; font-weight:bold; width:150px; line-height: 20px;}
	.floor .mid li { width:45%; overflow: hidden;height: 90px;*height: 94px;padding-left: 0px;padding-top: 0px;*padding-top: 0px; float:left;}
	.floor .mid .light{ width:336px; height:111px; padding: 0px;margin-bottom: 0px;}
    .floor .mid .light2{ width:336px; height:111px; padding: 0px;margin-bottom: 0px;}

	.floor .mid li p { font-size:16px; border-bottom: 1px #CCC dashed; height:20px;}
	.left .wenzi {height:130px;overflow:hidden;}
	.floor .list-box { margin-top:8px; }
	.jqw-link {width: 153px;height: 45px;float: right;margin-right: 63px;margin-bottom: 6px;margin-bottom: 0px\9;overflow: hidden;}
	.jqw-link dd {float: left;margin-left: 5px;color: #FF6500;font-weight: bold;font-size: 14px;text-align: left;overflow: auto;}
	.jqw-link dd span {position: absolute;margin-left: -95px;margin-left: -105px\9;margin-top: 7px;margin-top: 5px\9;min-width: 114px;overflow: auto;}
	.pro_rigt .win .winTitle h3{display: inline-block;float: left;padding: 4px;background: #ededed;}
	.pro_rigt .win .winTitle .sp_ammadd{background: #ededed;padding-top: 3px;text-align: right;}
	.text_3 {display: block;padding: 9px 30px 0px 30px;font-size: 14px;font-weight: bold;}
	.con_text {margin: 0 5%;margin-bottom: 1.8%; border-top:1px dashed #cbcbcb;height:650px;overflow: hidden;min-height:650px}
}

@media screen and (max-width:1366px){

	@-moz-document url-prefix(){
						.floor .mid li a { width: 67px;}/*white-space:nowrap;*/
						.floor .mid p a{width:150px;}
						.hot-keys{width:460px;}
					
}