BODY {
	font-size: 14px;
	color: #000000;
	text-decoration: none; 
}
.body {
	margin: 0px; 
	color: #666666; 
	text-decoration: none;
	line-height:18px; 
}
.body2 {
	margin: 0px; 
	color: #666666; 
	text-decoration: none; 
	line-height:18px; 
}
a.body2:link {
	margin: 0px; 
	color: #666666; 
	text-decoration: underline;
	line-height:18px;  
}
a.body2:visited {
	margin: 0px; 
	color: #666666; 
	text-decoration: none; 
	line-height:18px; 
}
.body3 {
	margin: 0px; 
	color: #FFFFFF; 
	text-decoration: none;
	line-height:18px;  
}
.body4 {
	margin: 0px; 
	color: #000000; 
	text-decoration: none;
	line-height:18px;  
}
a.body4:link {
	margin: 0px; 
	color: #000000; 
	text-decoration: none;
	line-height:18px;  
}
a.body4:visited {
	margin: 0px; 
	color: #000000; 
	text-decoration: none;
	line-height:18px;  
}
.MsoNormal {
	color: #000000; 
	text-decoration: none;
	line-height:18px; 
}
.date {
	font-size: 11px; 
	color: #cc6600; 
	text-decoration: none;
	line-height:18px; 
}
.list1 {
	color: #000066; 
	text-decoration: underline;
	margin-top:5px;
	margin-bottom:5px;
	line-height:18px;
}
.list2 {
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.list2:link {
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.list2:hover {
	color: #CC6600; 
	text-decoration: none;
	line-height:18px; 
}
a.list2:visited {
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
.list3 {
	color: #993300; 
	text-decoration: none;
	line-height:18px; 
}
a.list3:link {
	color: #993300; 
	text-decoration: none;
	line-height:18px; 
}
a.list3:hover {
	color: #CC6600; 
	text-decoration: none; 
	line-height:18px;
}
a.list3:visited {
	color: #993300; 
	text-decoration: none;
	line-height:18px; 
}
.headline { 
	font-weight: bold;
	font-size: medium; 
	color: #000099; 
	text-decoration: none;
	line-height:18px; 
}
a.headline:link { 
	font-weight: bold;
	font-size: medium; 
	color: #000099; 
	text-decoration: underline;
	line-height:18px; 
}
a.headline:visited { 
	font-weight: bold;
	font-size: medium; 
	color: #000099; 
	text-decoration: none; 
	line-height:18px;
}
a.headline11:link { 
	font-weight: bold;
	font-size: medium; 
	color: #000099; 
	text-decoration: none;
	line-height:18px; 
}
a.headline11:visited { 
	font-weight: bold;
	font-size: medium; 
	color: #000099; 
	text-decoration: none; 
	line-height:18px;
}
.headline2 { 
	font-weight: bold;
	color: #000099; 
	text-decoration: none; 
}
a.headline2:link{ 
	font-weight: bold;
	color: #000099; 
	text-decoration: underline; 
	line-height:18px;
}
a.headline2:visited{
	font-weight: bold;
	color: #000099; 
	text-decoration: none; 
	line-height:18px;
}
.headline3 { 
	font-weight: bold;
	color: #930000; 
	text-decoration: none;
	line-height:18px; 
}
a.headline3:link{ 
	font-weight: bold;
	color: #930000; 
	text-decoration: underline;
	line-height:18px; 
}
a.headline3:visited{ 
	font-weight: bold;
	color: #930000; 
	text-decoration: none; 
	line-height:18px;
}
.headline4 { 
	font-weight: bold;	 
	color: #000000; 
	text-decoration: none; 
	line-height:18px;
}
a.headline4:link{ 
	font-weight: bold;
	color: #000000; 
	text-decoration: underline; 
	line-height:18px;
}
a.headline4:visited{ 
	font-weight: bold;
	color: #000000; 
	text-decoration: none; 
	line-height:18px;
}
.headline5 { 
	font-weight: bold;
	color: #FFFFFF; 
	text-decoration: none; 
	line-height:18px;
}
a.headline5:link{ 
	font-weight: bold;
	color: #FFFFFF; 
	text-decoration: underline; 
	line-height:18px;
}
a.headline5:visited{ 
	font-weight: bold;
	color: #FFFFFF; 
	text-decoration: none; 
	line-height:18px;
}
.menu1 { 
	font-weight: normal;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
.menu2 {
	color: #333366; 
	text-decoration: none; 
	line-height:18px;
}
.menu3 { 
	font-weight: normal;
	color: #FFFFFF; 
	text-decoration: none; 
	line-height:18px;
}
.subheadline { 
	font-weight: bold;
	color: #ff0000; 
	text-decoration: none;
	line-height:18px; 
}
.writer {
	color: #0000aa; 
	font-style: italic; 
	text-decoration: none; 
	line-height:18px;
}
.s1 {
	font-size: 11px; 
	color: #000000; 
	text-decoration: none; 
	line-height:18px;
}
.small {
	font-size: 11px; 
	text-decoration: none;
	line-height:18px; 
}
.Image {
	color: #666666; 
	font-weight: bold; 
	text-decoration: none; 
	line-height:18px;
}
A.Image:link {
	color: #666666; 
	font-weight: bold; 
	text-decoration: none;
	line-height:18px;
}
a.Image:visited {
	color: #666666; 
	font-weight: bold; 
	text-decoration: none;
	line-height:18px; 
}
a.Image:hover {
	color: #CC6600; 
	font-weight: bold; 
	text-decoration: none;
	line-height:18px;
}
.PageTab {
	font-size: 11px;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.PageTab:link {
	font-size: 11px; 
	color: #333333; 
	text-decoration: underline; 
}
a.PageTab:visited {
	font-size: 11px; 
	color: #333333; 
	text-decoration: underline;
	line-height:18px; 
}
a.PageTab:hover {
	font-size: 11px; 
	color: #CC6600; 
	text-decoration: underline;
	line-height:18px; 
}
.WebTools {
	font-size: 11px; 
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.WebTools:link {
	font-size: 11px;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.WebTools:visited {
	font-size: 11px; 
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.WebTools:hover {
	font-size: 11px; 
	color: #CC6600; 
	text-decoration: none;
	line-height:18px; 
}
a.blackred:link {
	color: #000000; 
	text-decoration: none;
	line-height:18px; 
}
a.blackred:visited {
	color: #000000; 
	text-decoration: none;
	line-height:18px; 
}
a.blackred:hover {
	color: #BD0000;
	line-height:18px; 
}
a.linkblack:link {
	color: #000000; 
	text-decoration: none;
	line-height:18px; 
}
a.linkblack:visited {
	color: #000000; 
	text-decoration: none;
	line-height:18px; 
}
a.linkblack:hover {
	color: #353535;
	line-height:18px; 
}
a.menu1:link { 
	font-weight: normal;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.menu1:visited { 
	font-weight: normal;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a.menu1:hover { 
	font-weight: normal;
	color: #333333; 
	text-decoration: none;
	line-height:18px; 
}
a:hover { 
	color: #cc6600; 
	text-decoration: none;
	/*line-height:18px; */
}
a:visited { 
	color: #330066; 
	text-decoration: none;
	/*line-height:18px; */
}
.innerlink { 
	color: #ff6600; 
	text-decoration: none;
	line-height:18px; 
}
.innerlink:hover { 
	color: #ffba00; 
	text-decoration: none;
	line-height:18px; 
}
.gameNews {	 
	margin: 0px; 
	color: #ff6600; 
	text-decoration: none;
	line-height:18px; 
}
.gameNews:hover {	 
	margin: 0px; 
	color: #ffba00; 
	text-decoration: none;
	line-height:18px; 
}
.group {	 
	color: #2d65d0; 
	text-decoration: none;
	line-height:18px; 
}
.newstar:link {
	color: #004499; 
	text-decoration: none;
	line-height:18px; 
}
a.daily:link { 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none;
	line-height:18px; 
}
a.daily:visited { 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none;
	line-height:18px; 
}
a.daily:hover { 
	font-weight: bold; 
	color: #CCCCCC; 
	text-decoration: none;
	line-height:18px; 
}
a.sci:link { 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none;
	line-height:18px; 
}
a.sci:visited { 
	font-weight: bold; 
	color: #003399; 
	text-decoration: none;
	line-height:18px; 
}
a.sci:hover { 
	font-size:14px; 
	font-weight: bold; 
	color: #1B5B8F; 
	text-decoration: none;
	line-height:18px; 
}
a.mgrbutton:link { 
	font-weight: normal; 
	color: #333333; 
	text-decoration: none ;
	line-height:18px; 
}
a.mgrbutton:visited { 
	font-weight: normal; 
	color: #333333; 
	text-decoration: none ;
	line-height:18px; 
}
a.mgrbutton:hover { 
	font-weight: normal; 
	color: #636363; 
	text-decoration: none ;
	line-height:18px; 
}
a.menu4:link { 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
a.menu4:visited { 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none; 
}
a.menu4:hover { 
	font-size:14px; 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
.hit { 
	font-weight: bold; 
	color: #990000; 
	text-decoration: none;
	line-height:18px; 
}
a.hit:link { 
	font-weight: bold; 
	color: #990000; 
	text-decoration: none;
	line-height:18px; 
}
a.hit:visited { 
	font-weight: bold; 
	color: #990000; 
	text-decoration: none;
	line-height:18px; 
}
a.hit:hover { 
	font-size:14px; 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
.textpink { 
	font-weight: bold; 
	color: #E20050; 
	text-decoration: none;
	line-height:18px; 
}
a.textpink:link { 
	font-weight: bold; 
	color: #E20050; 
	text-decoration: none;
	line-height:18px; 
}
a.textpink:visited { 
	font-weight: bold; 
	color: #E20050; 
	text-decoration: none;
	line-height:18px; 
}
a.textpink:hover { 
	font-size:14px; 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
a.headwhitesm:link { 
	font-size: 14px; 
	font-weight: bold; 
	color: #ffffff; 
	line-height:18px;
}
a.headwhitesm:visited { 
	font-size: 14px; 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none; 
	line-height:18px;
}
a.headwhitesm:hover { 
	font-size:14px; 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none;
	line-height:18px; 
}
a.headwhite:link { 
	font-weight: bold; 
	color: #ffffff;
	line-height:18px; 
}
a.headwhite:visited { 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none;
	line-height:18px; 
}
a.headwhite:hover { 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: none;
	line-height:18px; 
}
a.politic:link { 
	font-weight: bold; 
	color: #4D5EA6; 
	text-decoration: none;
	line-height:18px; 
}
a.politic:visited { 
	font-weight: bold; 
	color: #4D5EA6; 
	text-decoration: none;
	line-height:18px; 
}
a.politic:hover { 
	font-weight: bold; 
	color: #0066CC; 
	text-decoration: none;
	line-height:18px; 
}
a.around:link { 
	font-weight: bold; 
	color: #EA6B04; 
	text-decoration: none;
	line-height:18px; 
}
a.around:visited { 
	font-weight: bold; 
	color: #EA6B04; 
	text-decoration: none;
	line-height:18px; 
}
a.around:hover { 
	font-weight: bold; 
	color: #FF9933; 
	text-decoration: none;
	line-height:18px; 
}
a.crime:link { 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
a.crime:visited { 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	line-height:18px; 
}
a.crime:hover { 
	font-weight: bold; 
	color: #FFB3B5; 
	text-decoration: none;
	line-height:18px; 
}
a.list5:link { 
	font-weight: bold; 
	color: #373737; 
	text-decoration: none;
	line-height:18px; 
}
a.list5:hover { 
	font-weight: bold; 
	color: #B10000; 
	text-decoration: none;
	line-height:18px; 
}
a.list5:visited { 
	font-weight: bold; 
	color: #373737; 
	text-decoration: none;
	line-height:18px; 
}
a.life:link { 
	font-weight: bold; 
	color: #8B4F19; 
	text-decoration: none;
	line-height:18px; 
}
a.life:visited { 
	font-weight: bold; 
	color: #8B4F19; 
	text-decoration: none;
	line-height:18px; 
}
a.life:hover { 
	font-weight: bold; 
	color: #F7CFAD; 
	text-decoration: none;
	line-height:18px; 
}
a.motor:link { 
	font-weight: bold; 
	color: #3970B3; 
	text-decoration: none;
	line-height:18px; 
}
a.motor:visited { 
	font-weight: bold; 
	color: #3970B3; 
	text-decoration: none;
	line-height:18px; 
}
a.motor:hover { 
	font-weight: bold; 
	color: #3399FF; 
	text-decoration: none;
	line-height:18px; 
}
a.sme:link { 
	font-weight: bold; 
	color: #21980A; 
	text-decoration: none;
	line-height:18px; 
}
a.sme:visited { 
	font-weight: bold; 
	color: #21980A; 
	text-decoration: none;
	line-height:18px; 
}
a.sme:hover { 
	font-weight: bold; 
	color: #A8E39C; 
	text-decoration: none;
	line-height:18px; 
}
a.sport:link { 
	font-weight: bold; 
	color: #2E9EA9; 
	text-decoration: none;
	line-height:18px; 
}
a.sport:visited { 
	font-weight: bold; 
	color: #2E9EA9; 
	text-decoration: none;
	line-height:18px; 
}
a.sport:hover { 
	font-weight: bold; 
	color: #A9EEF5; 
	text-decoration: none;
	line-height:18px; 
}
a.busi:link { 
	font-weight: bold; 
	color: #C47307; 
	text-decoration: none;
	line-height:18px; 
}
a.busi:visited { 
	font-weight: bold; 
	color: #C47307; 
	text-decoration: none;
	line-height:18px; 
}
a.busi:hover { 
	font-weight: bold; 
	color: #FFD6A1; 
	text-decoration: none;
	line-height:18px; 
}
a.region:link { 
	font-weight: bold; 
	color: #44529D; 
	text-decoration: none;
	line-height:18px; 
}
a.region:visited { 
	font-weight: bold; 
	color: #44529D; 
	text-decoration: none;
	line-height:18px; 
}
a.region:hover { 
	font-weight: bold; 
	color: #C7CEF7; 
	text-decoration: none;
	line-height:18px; 
}
a.deep:link { 
	font-weight: bold; 
	color: #A73CA6; 
	text-decoration: none;
	line-height:18px; 
}
a.deep:visited { 
	font-weight: bold; 
	color: #A73CA6; 
	text-decoration: none;
	line-height:18px; 
}
a.deep:hover { 
	font-weight: bold; 
	color: #F6BBF8; 
	text-decoration: none; 
	line-height:18px;
}
a.travel:link { 
	font-weight: bold; 
	color: #6A8E24; 
	text-decoration: none;
	line-height:18px; 
}
a.travel:visited { 
	font-weight: bold; 
	color: #6A8E24; 
	text-decoration: none;
	line-height:18px; 
}
a.travel:hover { 
	font-weight: bold; 
	color: #D8F59A; 
	text-decoration: none;
	line-height:18px; 
}
a.campus:link { 
	font-weight: bold; 
	color: #0092C5; 
	text-decoration: none;
	line-height:18px; 
}
a.campus:visited { 
	font-weight: bold; 
	color: #0092C5; 
	text-decoration: none;
	line-height:18px; 
}
a.campus:hover { 
	font-weight: bold; 
	color: #C0EBFA; 
	text-decoration: none;
	line-height:18px; 
}
a.cyber:link { 
	font-weight: bold; 
	color: #3249A9; 
	text-decoration: none;
	line-height:18px; 
}
a.cyber:visited { 
	font-weight: bold; 
	color:#3249A9; 
	text-decoration: none;
	line-height:18px; 
}
a.cyber:hover { 
	font-weight: bold; 
	color: #D4DBF7; 
	text-decoration: none;
	line-height:18px; 
}
a.telecom:link { 
	font-weight: bold; 
	color: #0000CC; 
	text-decoration: none;
	line-height:18px; 
}
a.telecom:visited { 
	font-weight: bold; 
	color:#0000CC; 
	text-decoration: none;
	line-height:18px; 
}
a.telecom:hover { 
	font-weight: bold; 
	color: #3737FD; 
	text-decoration: none;
	line-height:18px; 
}
a.game:link { 
	font-weight: bold; 
	color: #6E6F74; 
	text-decoration: none;
	line-height:18px; 
}
a.game:visited { 
	font-weight: bold; 
	color: #6E6F74; 
	text-decoration: none;
	line-height:18px; 
}
a.game:hover { 
	font-weight: bold; 
	color: #ECECEC; 
	text-decoration: none;
	line-height:18px; 
}
a.ent:link { 
	font-weight: bold; 
	color: #FF830D; 
	text-decoration: none;
	line-height:18px; 
}
a.ent:visited { 
	font-weight: bold; 
	color: #FF830D; 
	text-decoration: none;
	line-height:18px; 
}
a.ent:hover { 
	font-weight: bold; 
	color: #FFD7B0; 
	text-decoration: none;
	line-height:18px; 
}
a.z1:link { 
	color: #3970B3; 
	text-decoration: underline;
	line-height:18px; 
}
a.z1:visited { 
	color: #666666; 
	text-decoration: none;
	line-height:18px; 
}
a.z1:hover { 
	color: #0A3972; 
	text-decoration: none;
	line-height:18px; 
}
.headline3 {
	color: #990000;  
	text-decoration: none;
	line-height:18px; 
}
.highlight { 
	
	text-decoration: none; 
	background: #75EFFD;
	line-height:18px; 
}
.headlinegreen { 
	font-weight: bold; 
	font-size: medium; 
	color: #009900; 
	text-decoration: none;
	
}
.bold { 
	font-style: normal; 
	font-weight: bold; 
	font-variant: normal; 
	color: #000000; 
}
.white { 
	font-weight: bold; 
	color: #FFFFFF; 
}
.form_container {
	
	/*color: #FFF;
	font-family: Arial, Helvetica, sans-serif;*/
	display:block;
	border:dotted;
	border-color:#C4BD97;
	border-width:2px;
	/*text-align:left;	*/
}