.drama-box{
	position:relative;
	display:block;
	
	width:300px;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(30, 50, 230);
	background: -moz-linear-gradient(30deg, #CCC 5%, #CfCfCf 30%, rgb(250, 250, 250) 70% , rgb(180, 180, 180) 80%);
	background: -webkit-linear-gradient(30deg, #CCC 5%, #CfCfCf 30%, rgb(250, 250, 250) 70%, rgb(180, 180, 180) 80%);
	background: -o-linear-gradient(30deg, #CCC 5%, #CfCfCf 30%, rgb(250, 250, 250) 70%, rgb(180, 180, 180) 80%);
	background: -ms-linear-gradient(30deg, #CCC 5%, #CfCfCf 30%, rgb(250, 250, 250) 70%, rgb(180, 180, 180) 80%);
	background: linear-gradient(120deg, #CCC 5%, #CfCfCf 30%, rgb(250, 250, 250) 70%, rgb(180, 180, 180) 80%);
	-webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
}
.drama-box iframe{
	left:-5px;
}
.drama-frame{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.52);
	-moz-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.52);
	box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.52);
	overflow:hidden;
	height:150px;
}
.drama-header{
	position:absolute;
	top:110px;
	left:8px;
	width:80px;
	height:80px;
}
.drama-logo{
	position:absolute;
	width:80px;
	height:80px;
	background-image:url(/home/images/LOGO-Dama.png);
	background-position:center;
	background-repeat:no-repeat;
	z-index:10;
}
.drama-bg{
	position:absolute;
	margin-top:5px;
	margin-left:5px;
	width:70px;
	height:70px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}

.drama-box ul{
	margin:0px;
	font-size:12px;
	background: rgb(255, 255, 255);
	padding-top:30px;
	padding-bottom:10px;
	padding-left:0px;
	list-style:inside;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
.drama-box li{
	padding:7px;
	margin:1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.drama-box li.odd{
	background-color:rgba(220,220,220,0.2);
}
.drama-box li.even{
	background-color:rgba(230,230,230,0.2);
}
.drama-box li:hover{
	background-color:rgba(255,255,0,0.2);
}
.drama-box li a{
	text-decoration:none;
	color:rgba(30,30,30,1);
}