@import url(../fonts/rsu.css);
@import url(../fonts/icomoon.css);
body {
	color:#333;
	background-color:rgba(236, 240, 241,1.0);
	font-family: "Tahoma";
	font-size:14px;
	background-image:url(../images/BACKGROUND-tweed.png);
}
* {
	font-family: "Tahoma";
	font-size:14px;
}
#wrapper {
	position:relative;
	display:block;
	padding:0px;
	margin:0px;
	top:0px;
}
#topContainer {
	
	padding:0px;
	margin:0px;
	min-width:1200px;
	width:100%;
	background-color:rgba(230,230,230,1);
	-moz-box-shadow:inset 0px 0px 1px 0px rgba(200,200,200,0.5),0px 7px 5px -5px rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0px 0px 1px 0px rgba(200,200,200,0.5),0px 7px 5px -5px rgba(0,0,0,0.2);
	box-shadow:inset 0px 0px 1px 0px rgba(200,200,200,0.5),0px 7px 5px -5px rgba(0,0,0,0.2);
}
#topContainer.on {
	position:fixed;
	top:-56px;
	z-index:20000;
	
}
#topContainer.off {
	position:absolute;
	top:0px;
	z-index:19999;
	
}
img,a{
	display:inline;
}
a,a:visited {
	text-decoration:none;
	color:rgba(51,51,51,1); 
}
td {
	padding:0px 0px;
	/*line-height:18px;*/
}
span {
	display:inline;
}
.header{
	text-align:center;
	
	height:90px;
}
.header_Inner{
	position:relative;
	background-image:url(../images/LOGO-MGR_A.png);
	width:1200px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-position: 10 center;
	height:90px;
}
.on .header_Inner{
	display:none;
}
.off .header_Inner{
	display:block;
}
.webBar{
	position:relative;
	display:block;
	border-bottom:5px solid rgba(150, 150, 150,1.0);
	
}
.on .webBar{
	background: rgba(240, 240, 240,1);
}
.off .webBar{
	background: rgba(240, 240, 240,0);
}
.toolBar{
	position:relative;
	display:block;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	
	font-size:0px;
	vertical-align:top;
}
.on .toolBar_Inner{
	position:absolute;
	display:block;
	bottom:5px;
	width:1200px;
	padding-left:0px;
	height:30px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	/*background: rgba(230, 230, 230,0);*/
	font-size:0px;
	vertical-align:top;
}
.off .toolBar_Inner{
	position:absolute;
	display:block;
	top:-60px;
	width:1200px;
	padding-left:150px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	/*background: rgba(230, 230, 230,0);*/
	font-size:0px;
	vertical-align:top;
}
.homeBtn ,.menuBtn ,.searchBtn{
	position:relative;
	display:inline-block;
	text-align:center;
	width:auto;
	min-width:30px;
	height:auto;
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:rgba(50,50,50,1);
	overflow:hidden;
	cursor:pointer;
}

.faceBtn ,.instagramBtn {
	position:relative;
	display:inline-block;
	text-align:center;
	width:34px;
	height:34px;
	margin-top:5px;
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:rgba(50,50,50,1);
	cursor:pointer;
}
.youtubeBtn{
	position:relative;
	display:inline-block;
	text-align:center;
	width:44px;
	height:34px;
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:rgba(50,50,50,1);
	cursor:pointer;
}

.faceBtn div{
	position:absolute;
	width:34px;
	height:34px;
	background-image:url(../images/LOGO-facebook-normal.png);
	background-position:center;
	background-repeat:no-repeat;
}
.faceBtn:hover div{
	background-image:url(../images/LOGO-facebook-hover.png);
}
.instagramBtn div{
	position:absolute;
	width:34px;
	height:34px;
	background-image:url(../images/LOGO-instagram-normal.png);
	background-position:center;
	background-repeat:no-repeat;
}
.instagramBtn:hover div{
	background-image:url(../images/LOGO-instagram-hover.png);
}
.youtubeBtn div{
	position:absolute;
	width:44px;
	height:34px;
	background-image:url(../images/LOGO-youtube-normal.png);
	background-position:center;
	background-repeat:no-repeat;
}
.youtubeBtn:hover div{
	background-image:url(../images/LOGO-youtube-hover.png);
}

.dailyBtn ,.weeklyBtn ,.adsBtn {
	position:relative;
	text-align:center;
	min-width:30px;
	height:24px;
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:rgba(50,50,50,1);

}

.on .dailyBtn ,.on .weeklyBtn {
	display:none;
}
.off .dailyBtn ,.off .weeklyBtn {
	display:inline-block;
}
.adsBtn {
	display:inline-block;
	width:39px;
	cursor:pointer;
}
.weeklyBtn {
	width:102px;
}
.dailyBtn {
	width:121px;
}
.adsBtn div{
	position:absolute;
	top:-4px;
	left:-4px;
	width:39px;
	height:37px;
	background-image:url(../images/LOGO-ads.png);
	background-size:cover;
	background-repeat:no-repeat;
	opacity:0.7;
}
.adsBtn:hover div{
	position:absolute;
	top:-4px;
	left:-4px;
	width:39px;
	height:37px;
	background-image:url(../images/LOGO-ads.png);
	background-size:cover;
	background-repeat:no-repeat;
	opacity:1;
}
.weeklyBtn div{
	position:absolute;
	top:-4px;
	left:-4px;
	width:102px;
	height:37px;
	background-image:url(../images/LOGO-weekly.png);
	background-size:cover;
	background-repeat:no-repeat;
	opacity:0.5;
}
.dailyBtn div{
	position:absolute;
	top:-4px;
	left:-4px;
	width:121px;
	height:37px;
	background-image:url(../images/LOGO-daily.png);
	background-size:cover;
	background-repeat:no-repeat;
	opacity:0.5;
}
.homeBtn:hover ,.menuBtn:hover ,.faceBtn:hover ,.youtubeBtn:hover ,.searchBtn:hover{
	color:rgba(0,0,0,1);
}
.on .searchBar{
	position:absolute;
	top:-10px;
	right:0px;
	width:auto;
	text-align:center;
	height:auto;
	font-size:0px;
	padding:0px;
	color:rgba(150,150,150,1);
	   
}
.off .searchBar{
	position:absolute;
	top:-15px;
	right:0px;
	width:auto;
	text-align:center;
	height:auto;
	font-size:0px;
	padding:0px;
	color:rgba(150,150,150,1);
	   
}
.searchBar form{
	display:inline-block;
}
.searchBar span{
	position:relative;
	display:inline-block;
	margin-top:5px;
	height:24px;
	font-size:14px;
	padding:0px;
	/*font-family:'rsu';*/
	word-spacing:5px;
	font-weight:bold;
	line-height:20px;
	vertical-align: top;
}
.searchBar input{
	position:relative;
	display:inline-block;
	margin-top:4px;
	padding:0px;
	height:22px;
	vertical-align: top;   
	
}

.menuBar{
	background: rgba(250, 250, 250,1.0);
	height:0px;
	border-top:2px solid rgba(150, 150, 150,0.4);
	margin-bottom:2px;
	overflow-y:hidden;
}
.menu-Group{
	position:relative;
	/*background: rgba(150, 150, 150,0.5);*/
	display:block;
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
	padding-bottom:8px;
	font-size:0px;
}
.menu-Headline{
	position:relative;
	display:inline-block;
	width:100%;
	font-size:18px;
	padding:0px;
	/*font-family:'rsu';*/
	word-spacing:5px;
	font-weight:bold;
	line-height:20px;
	color:rgba(150,150,150,1);
	border-bottom:dashed 1px rgba(162,162,162,1);
	p
	margin-top:4px;
	margin-bottom:4px;
	
}
.menu-Item{
	position:relative;
	display:inline-block;
	width:204px;
	font-size:14px;
	padding:0px;
	padding-left:8px;
	word-spacing:5px;
	line-height:24px;
}
.menu-Item a{
	text-decoration:none;
	color:rgba(150,150,150,1);
}
#container {
	position:relative;
	width:1200px;
	padding:0px;
	padding-top:100px;
	display:block;
	position:relative;
	margin:0px auto 0px auto;
}

.section_Container{
	position:relative;
	display:table;
	margin:5px 0px;
	width:100%;
	max-width:100%;
	min-width:100%;
	text-align:center;
	table-layout:fixed;
}

.inner_Container{
	position:relative;
	display:table;
	margin:5px 2px;
	/*width:100%;
	max-width:100%;
	min-width:100%;*/
	text-align:center;
	table-layout:fixed;
}
.inbox_Container{
	position:relative;
	display:table;
	margin:0px;
	width:100%;
	max-width:100%;
	min-width:100%;
	text-align:center;
	table-layout:fixed;
}

[class^="column-"]{
	vertical-align:top;
	display:table-cell;
	box-sizing:border-box;
	font-size:14px;
	height:100%;
}
.column-1-12{
	width:8.33%;
}
.column-2-12{
	width:16.66%;
}
.column-3-12{
	width:25%;
}
.column-4-12{
	width:33.33%;
}
.column-5-12{
	width:41.66%;
}
.column-6-12{
	width:50%;
}
.column-7-12{
	width:58.33%;
}
.column-8-12{
	width:66.66%;
}
.column-9-12{
	width:75.33%;
}
.column-10-12{
	width:83.33%;
}
.column-11-12{
	width:91.66%;
}
.column-12-12{
	/*display:block;*/
	width:100%;
}

.sectionBox{
	position:relative;
	/*display:block;*/		
	-moz-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
	margin:2px;
	padding:5px;
	text-align:left;
}
.sectionBox2{
	position:relative;
	/*display:block;*/		
	-moz-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
	padding:5px;
	text-align:left;
}
.sectionBox3{
	position:relative;
	/*display:block;*/		
	-moz-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
	margin:0px;
	padding:2px;
	text-align:left;
}
.innerBox{
	position:relative;
	display:block;
	color:#333333;
	margin:2px;
	padding:5px;
	text-align:left;
}
.innerBox2{
	position:relative;
	display:block;
	color:#333333;
	margin:0px;
	padding:2px 10px;
	text-align:left;
}
.sportBox{
	position:relative;
	display:block;		
	-moz-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,1);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#333333;
	margin:0px;
	padding:0px;
	text-align:left;
	overflow:hidden;
}
.banner_970x250{
	position:relative;
	display:block;
	width:100%;
	/*background-color:rgba(51,51,51,0);*/
	color:rgba(255,255,255,1);
	margin:2px 0px 2px 0px;
	text-align:center;
}
.banner_970x250 iframe{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.banner_300x150{
	display:block;
	width:302px;
	margin:5px auto;
	/*background-color:rgba(51,51,51,1);*/
}

.banner_300x250{
	display:block;
	width:304px;
	margin:5px auto;
}
.banner_600x250{
	display:block;
	width:604px;
	margin:5px auto;
	/*background-color:rgba(51,51,51,1);*/
}
.banner{
	position:relative;
	display:block;
	width:auto;
	height:auto;
	padding:2px;
	/*background-color:rgba(204,204,204,1);*/
}
.banner div[id^="imp"]{
	position:relative;
	display:block;
	margin:0px;
	overflow:hidden;
}

.breakingNews_Container{
	position:relative;
	margin:2px;
	height:auto;
	overflow:hidden;
	height:24px;
	background: rgba(240,240,240,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
	text-align:left;
}

.breakingNews_Headline{
  	display:inline-block;
  	position: relative;
  	width:auto;
  	height:24px;
  	padding:2px 10px;
  	background: rgba(192, 57, 43,1);
  	/*font-family:'rsu';*/
	font-size:14px;
	word-spacing:5px;
	font-weight: bold;
   	line-height: 20px;
  	color: rgba(255, 255, 255,1.0);
	z-index:10;
}
.breakingNews_Headline::after {
  	content: ' ';
 	position: absolute;
  	display: block;
  	top: 0px;
  	right: -10px;
  	border-top: 12px solid transparent;
  	/*border-right: 8px solid  transparent;*/
  	border-left: 10px solid  rgba(192, 57, 43,1);
  	border-bottom: 12px solid transparent;
	z-index:10;
}
.breakingNews_Endline{
  	display:inline-block;
  	position:absolute;
	top:0px;
	right:0px;
  	width:100px;
  	height:24px;
  	padding:3px 10px;
  	background: rgba(192, 57, 43,1);
  	/*font-family:'rsu';*/
	font-size:12px;
	word-spacing:5px;
	font-weight: bold;
   	line-height: 20px;
  	color: rgba(255, 255, 255,1.0);
	z-index:11;
}
.breakingNews_Endline a{
  	
  	color: rgba(255, 255, 255,1.0);
	
}
.top_ticker{
	position:absolute;
	display:block;
	overflow:hidden;
	top:5px;
	right:5px;
	/*padding:0 5px;*/
	width:900px;
	height:100px;
	-moz-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	box-shadow:inset 0px 0px 25px 0px rgba(240,240,240,0.2),0px 7px 30px -5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.2);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.breaking_Ticker{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	margin-left:140px;
	margin-right:10px;
	height:24px;
	background: rgba(240,240,240,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
	text-align:left;
}
.timer{
	position:absolute;
	display:block;
	width:0px;
	height:0px;
	overflow:hidden;
}
.breaking_Ticker ul{
	position:relative;
	display:block;
	width:100%;
	height:24px;
	overflow:hidden;
}
.breaking_Ticker li{
	position:absolute;
	display:none;
	top:0px;
	left:0px;
	font-size:14px;
	width:100%;
	height:24px;
	padding:6px 10px;
	vertical-align:middle;
	overflow:hidden;
}


.stockNews_Container{
	margin:10px 10px 10px 10px;
	height:auto;
	overflow:hidden;
	height:30px;
	background: rgba(240,240,240,1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333333;
}

.stockNews_Headline{
  	display:inline-block;
  	position: relative;
  	width:auto;
  	height:30px;
  	padding:5px 10px;
  	background: rgba(192, 57, 43,1);
  	/*font-family:'rsu';*/
	font-size:20px;
	word-spacing:5px;
	font-weight: bold;
   	line-height: 20px;
  	color: rgba(255, 255, 255,1.0);
}

.stockNews_Headline::after {
  	content: ' ';
 	position: absolute;
  	display: block;
  	top: 0px;
  	right: -10px;
  	border-top: 15px solid transparent;
  	/*border-right: 8px solid  transparent;*/
  	border-left: 10px solid  rgba(192, 57, 43,1);
  	border-bottom: 15px solid transparent;
}



.main-NewsItem {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:rgba(240,240,240,1);
	/*min-height:350px;*/
}
.main-NewsItem[value='1'] .main-NewsTitle {
	background: rgba(192, 57, 43,1.0);
	color:rgba(240,240,240,1);
}
.main-NewsItem[value='1'] .main-NewsTitle a , .main-NewsItem[value='1'] .main-NewsTitle a:hover{
	color:rgba(240,240,240,1);
}
.main-NewsItem[value='2'] .main-NewsTitle {
	background: rgba(243, 156, 18,1.0);
	color:rgba(240,240,240,1);
}
.main-NewsItem[value='2'] .main-NewsTitle a , .main-NewsItem[value='2'] .main-NewsTitle a:hover{
	color:rgba(240,240,240,1);
}
.main-NewsItem[value='3'] .main-NewsTitle {
	background: rgba(41, 128, 185,1.0);
	color:rgba(240,240,240,1);
}
.main-NewsItem[value='3'] .main-NewsTitle a , .main-NewsItem[value='3'] .main-NewsTitle a:hover{
	color:rgba(240,240,240,1);
}

.main-NewsPic {
	background-color:rgba(150,150,150,1);
	-moz-border-radius:3px 3px 0px 0px;
	-webkit-border-radius:3px 3px 0px 0px;
	border-radius:3px 3px 0px 0px;
	overflow:hidden;
	height:173px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.main-NewsPic img{
	position:relative;
	display:block;
	opacity:0;
	width:100%;
	height:100%;
}
.main-NewsContent {
	
}
.main-NewsTitle {
	margin:0px -3px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	/*font-family:'rsu';*/
	font-size:18px;
	word-spacing:5px;
	font-weight: bold;
   	line-height: 22px;
	min-height:35px;
	padding: 10px 10px 3px 10px;	
	-moz-box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
   	-webkit-box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
   	box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
}
.main-NewsTitle a ,.main-NewsTitle a:hover {
	color:rgba(251,251,251,1);
}
.main-NewsData {
	padding: 10px 7px 15px 7px;
	font-size:14px;
	line-height: 20px;
}
.main-NewsData a ,.main-NewsData a:hover{
	color:rgba(51,51,51,1);
}
.ribbon {
  display: block;
  position: relative;
  width:150px;
  height:30px;
  padding:0px;
  background: rgba(192, 57, 43,1);
  vertical-align:middle;  
  font-size:20px;
  font-weight: bold;
  color: rgba(255, 255, 255,1.0);
  text-transform: uppercase;
  font-family: sans-serif;
  text-align:center;
}

/*.ribbon::before {
  content: ' ';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-top: 2.3em solid transparent;
  border-left: 2em solid #ffffff;
  border-bottom: 2.3em solid transparent;
}*/

.ribbon::after {
  content: ' ';
  position: absolute;
  display: block;
  top: 0px;
  right: -10px;
  border-top: 15px solid transparent;
  /*border-right: 8px solid  transparent;*/
  border-left: 10px solid  rgba(192, 57, 43,1);
  border-bottom: 15px solid transparent;
}
.section-Headline{
	position:relative;
	display:block;
	margin-top:10px;
	height:25px;
	border-bottom:3px solid rgba(142, 142, 142,0.4);
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:22px;
	font-weight:bold;
	font-style:normal;
	margin-bottom:5px;
}
.section-Headline .left{
	position:absolute;
	left:0px;
	display:block;
	height:25px;
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:22px;
	font-weight:bold;
	font-style:normal;
}
.section-Headline .right{
	position:absolute;
	right:0px;
	display:block;
	height:25px;
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:22px;
	font-weight:bold;
	font-style:normal;
}
.section-List{
	position:relative;
	font-size:0px;
}
.section-NewsItem{
	display:inline-table;
	width:100%;
	padding:2px;
}
.section-NewsItem2{
	display:inline-table;
	width:50%;
	padding:2px;
}
.section-NewsItem.main{
	display:inline-table;
	width:50%;
	padding:2px;
}
.section-NewsItem.main .section-NewsPic{
	position:relative;
	display:block;
	background-color:rgba(153,153,153,1);
	width:100%;
	height:84px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.section-NewsItem .section-NewsPic{
	position:relative;
	display:none;
}
.section-NewsItem2 .section-NewsPic{
	position:relative;
	display:none;
}
.section-NewsItem2 .button{
	position:relative;
	color: rgb(234, 234, 234);
	font-size: 12px;
	padding: 3px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(165, 60, 39);
	background: -moz-linear-gradient(90deg, rgb(165, 60, 39) 30%, rgb(250, 20, 20) 70%);
	background: -webkit-linear-gradient(90deg, rgb(165, 60, 39) 30%, rgb(250, 20, 20) 70%);
	background: -o-linear-gradient(90deg, rgb(165, 60, 39) 30%, rgb(250, 20, 20) 70%);
	background: -ms-linear-gradient(90deg, rgb(165, 60, 39) 30%, rgb(250, 20, 20) 70%);
	background: linear-gradient(0deg, rgb(165, 60, 39) 30%, rgb(250, 20, 20) 70%);
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
	margin-bottom:8px;
}
.section-NewsPic img{
	position:relative;
	display:block;
	opacity:0;
	width:100%;
	height:100%;
}
.section-NewsItem  .section-NewsTitle{
	position:relative;
	display:list-item;
	
	padding:5px 3px 5px 3px;
	font-size:14px;
	font-style:normal;
	line-height:20px;
	list-style-position:outside;
	list-style-type:disc;
	margin-left:30px;
	/*overflow:hidden;*/
}
.section-NewsItem2  .section-NewsTitle{
	position:relative;
	display:list-item;
	
	padding:5px 3px 5px 3px;
	font-size:14px;
	font-style:normal;
	line-height:20px;
	list-style-position:outside;
	list-style-type:disc;
	margin-left:30px;
	/*overflow:hidden;*/
}
.section-NewsItem.main  .section-NewsTitle{
	position:relative;
	display:block;
	width:100%;
	padding:7px 3px;
	font-size:14px;
	font-style:normal;
	line-height:20px;
	font-weight:bolder;
	margin-left:0px;
	overflow:hidden;
	word-break: break-all;
}
/*.section-NewsItem.main  .section-NewsTitle{
	position:relative;
	display:block;
	width:100%;
	
	padding:7px 3px;
	font-size:18px;
	font-style:normal;
	line-height:22px;
	font-weight:bolder;
	overflow:hidden;
}*/
.section-NewsTitle a ,.section-NewsTitle a:hover{
	color:rgba(51,51,51,1);
}

.socialLive-Group{
	position:relative;
	display:block;
	margin:10px 10px 10px 10px;
	font-size:0px;
}
.socialLive-Headline{
	position:relative;
	display:block;
	margin-top:10px;
	height:25px;
	border-bottom:3px solid rgba(142, 142, 142,0.4);
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:28px;
	font-weight:bold;
	font-style:normal;
	margin-bottom:5px;
}
.socialLive-List{
	position:relative;
	display:inline-block;
	width:66%;
	min-height:260px;
	font-size:0px;
	vertical-align:top;
}
.socialLive-NewsItem{
	display:inline-table;
	width:25%;
	height:100px;
	padding:2px 6px;
}
.socialLive-NewsPic{
	position:relative;
	display:block;
	background-color:rgba(153,153,153,1);
	width:100%;
	height:84px;
}
.socialLive-NewsPic img{
	position:relative;
	display:block;
	opacity:0;
	width:100%;
	height:100%;
}
.socialLive-NewsTitle{
	position:relative;
	display:block;
	width:100%;
	/*height:50px;*/
	padding:7px 3px;
	font-size:14px;
	font-style:normal;
	line-height:20px;
	overflow:hidden;
}
.socialLive-NewsTitle a , .socialLive-NewsTitle a:hover{
	color:rgba(51,51,51,1);
}
.socialLive-banner{
	position:relative;
	display:inline-block;
	width:34%;
	height:100%;
	min-height:260px;
	font-size:0px;
	margin-top:-10px;
	
}
.horo{
	background-color:#FCE0A9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
   	-webkit-box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
   	box-shadow:0px 3px 4px -1px rgba(10,10,10,.5);
	padding:5px;
	margin-left:5px;
	background: rgb(255, 222, 181);
background: -moz-linear-gradient(90deg, rgb(255, 222, 181) 2%, rgb(255, 254, 249) 27%);
background: -webkit-linear-gradient(90deg, rgb(255, 222, 181) 2%, rgb(255, 254, 249) 27%);
background: -o-linear-gradient(90deg, rgb(255, 222, 181) 2%, rgb(255, 254, 249) 27%);
background: -ms-linear-gradient(90deg, rgb(255, 222, 181) 2%, rgb(255, 254, 249) 27%);
background: linear-gradient(180deg, rgb(255, 222, 181) 2%, rgb(255, 254, 249) 27%);

}
.horo div{
	color:rgba(204,102,0,1);
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
	padding-top:5px;
}
.horo div b{
	color:rgba(153,102,0,1);
	font-size:18px;
	font-weight:bold;
}


.newsClip-Group{
	position:relative;
	display:block;
	margin:10px 10px 10px 10px;
	font-size:0px;
}
.thai360-Group{
	position:relative;
	display:block;
	margin:10px 10px 10px 10px;
	font-size:0px;
}
.newsClip-Headline{
	position:relative;
	display:block;
	margin-top:10px;
	height:25px;
	border-bottom:3px solid rgba(142, 142, 142,0.4);
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:22px;
	font-weight:bold;
	font-style:normal;
	text-align:right;
	margin-bottom:5px;
}
.thai360-Headline{
	position:relative;
	display:block;
	margin-top:10px;
	height:25px;
	border-bottom:3px solid rgba(142, 142, 142,0.4);
	color:rgba(192, 57, 43,1);
	/*font-family:'rsu';*/
	font-size:22px;
	font-weight:bold;
	font-style:normal;
	text-align:left;
	margin-bottom:5px;
}
.newsClip-List1{
	position:relative;
	display:inline-block;
	width:100%;
	font-size:0px;
}
.newsClip-List2{
	position:relative;
	display:inline-block;
	width:33.5%;
	font-size:0px;
}
.newsClip-List1 .newsClip-NewsItem{
	display:inline-table;
	width:16.66%;
	height:100px;
	padding:2px 7px;
}
.newsClip-List2 .newsClip-NewsItem{
	display:inline-table;
	width:50%;
	height:100px;
	padding:2px 7px;
}
.newsClip-NewsPic{
	position:relative;
	display:block;
	background-color:rgba(153,153,153,1);
	width:100%;
	height:84px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.newsClip-NewsPic img{
	position:relative;
	display:block;
	opacity:0;
	width:100%;
	height:100%;
}
.newsClip-NewsTitle{
	position:relative;
	display:block;
	width:100%;
	/*height:50px;*/
	padding:7px 3px;
	font-size:14px;

	font-style:normal;
	line-height:20px;
	overflow:hidden;
}
.newsClip-NewsTitle a , .newsClip-NewsTitle a:hover{
	color:rgba(51,51,51,1);
}
.newsClip-banner{
	position:relative;
	display:inline-block;
	width:66.5%;
	height:100%;
	min-height:260px;
	font-size:0px;
}
.sport-Header{
	position:relative;
	display:block;
	background-image:url(../../home/images/sport/bg_head.jpg);
}
.sport-scoreBar{
	position:absolute;
	display:block;
	top:0px;
	right:15px;
}
.sport-menu{
	position:relative;
	display:block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7deed+0,71ceef+35,21b4e2+36,b7deed+100 */
	background: rgb(183,222,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 35%, rgba(33,180,226,1) 36%, rgba(183,222,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(35%,rgba(113,206,239,1)), color-stop(36%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 35%,rgba(33,180,226,1) 36%,rgba(183,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 35%,rgba(33,180,226,1) 36%,rgba(183,222,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 35%,rgba(33,180,226,1) 36%,rgba(183,222,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 35%,rgba(33,180,226,1) 36%,rgba(183,222,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
	padding:5px;
	font-size:18px;
	/*font-family:'rsu';*/
	font-weight:bold;
}


.style-line-horizontal{

	border-bottom:rgba(204,204,204,1) 1px dashed;
	width:100%;
	height:1px;
	margin:5px 0px;
	
}
.style-2line-vertical{
	border-left:rgba(204,204,204,1) 1px dashed;
	border-right:rgba(204,204,204,1) 1px dashed;
	
}
.style-2line-vertical{
	border-right:rgba(204,204,204,1) 1px dashed;
}
.style-space-horizontal{

	width:100%;
	height:1px;
	margin:5px 0px;
}

.style-headline{
	font-size:22px;
	/*font-family:'rsu';*/
	font-weight:bold;
}















.blockimage{
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
}
.showtitleimages{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:auto;
	background-image:url(/home/images/sport/transparent-bg.png);
	text-align:left;
	cursor:pointer;
	font-size:14px;
	color:#FFFFFF;
	padding:5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */

}










#ibizframe1{
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	
}
.ibiz_section a{
	position:relative;
	display:block;
	text-decoration:none;
}
.ibiz_section{
	position:relative;
	display:block;
}
.ibiz_header{
	position:relative;
	display:block;
	background-image:url(/home/images/ibiz/ibiz_bg.jpg);
	height:100px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.ibiz_header_inner1{
	position:relative;
	display:block;
	float:left;
	background-image:url(/home/images/ibiz/logo_ibiz.jpg);
	width:165px;
	height:100px;
	-moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.ibiz_header_inner2{
	position:relative;
	display:block;
	float:left;
	background-image:url(/home/images/ibiz/logo_ibiz2.jpg);
	width:796px;
	height:100px;
}
.ibiz_bannerA{
	position:absolute;
	display:block;
	top:5px;
	left:0px;
	right:0px;
	width:728px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	background-color:#999;
}
.stock_box{	
	background-image:url(/home/images/ibiz/block_bg1.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#AAAAAA;
	margin:5px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.ibiz_box{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#EFEFEF;
	padding:0px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}
.ibiz_box2{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg2a.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#333;
	padding:0px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}
.ibiz_box3{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg3.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#F60;
	padding:0px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}

.ibiz_box4{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg4.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#9C0;
	padding:2px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}
.ibiz_box5{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg5.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#A3A3A3;
	padding:0px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}
.ibiz_box6{
	position:relative;
	display:inline-table;
	background-image:url(/home/images/ibiz/block_bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#EFEFEF;
	padding:2px;
	margin:2px;
	min-height:150px;
	width:99%;
	height:100%;
	max-height:1000px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
}

.ibiz_head_spe{
	position:relative;
	display:block;
	margin-top:-2px;
	margin-left:-2px;
	margin-right:-2px;
	padding-top:5px;
	background-color:#FFFFFF;
	background-repeat:no-repeat;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.ibiz_head_spe2{
	color:#FFF;
	/*font-family:'rsu';*/
	font-weight:bold;
	font-size:20px;
	position:relative;
	display:block;
	padding-top:5px;
	padding-left:5px;
	background-color:#eee;
	background-image:url(/home/images/ibiz/h_bar_gr.png);
	background-repeat:no-repeat;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.ibiz_head1{
	color:#FFF;
	/*font-family:'rsu';*/
	font-weight:bold;
	font-size:20px;
	position:relative;
	display:block;
	padding-top:5px;
	padding-left:5px;
	background-color:#eee;
	background-image:url(/home/images/ibiz/h_bar_r.png);
	background-repeat:no-repeat;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.ibiz_head2{
	color:#FFF;
	/*font-family:'rsu';*/
	font-weight:bold;
	font-size:20px;
	position:relative;
	display:block;
	padding-top:5px;
	padding-left:5px;
	background-color:#eee;
	background-image:url(/home/images/ibiz/h_bar_b.png);
	background-repeat:no-repeat;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.ibiz_head3{
	color:#FFF;
	/*font-family:'rsu';*/
	font-weight:bold;
	font-size:20px;
	position:relative;
	display:block;
	padding-top:5px;
	padding-left:5px;
	background-color:#eee;
	background-image:url(/home/images/ibiz/h_bar_g.png);
	background-repeat:no-repeat;
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#h1{
	background-position:-230px 0px;
}
#h2{
	background-position:-150px 0px;
}
#h3{
	background-position:-210px 0px;
}
#h4{
	background-position:-260px 0px;
}
#h5{
	background-position:-260px 0px;
}
#h6{
	background-position:-200px 0px;
}
#h7{
	background-position:-300px 0px;
}
#h8{
	background-position:-160px 0px;
}
.ibiz_line{
	position:relative;
	display:block;
	background-color:#666;
	height:2px;
}
.ibiz_line_spe{
	position:relative;
	display:block;
	background-color:#666;
	margin-left:-2px;
	margin-right:-2px;
	height:2px;
}
.ibiz_line_spe2{
	position:relative;
	display:block;
	background-color:#222;
	height:2px;
}
.ibiz_line1{
	position:relative;
	display:block;
	background-color:#755;
	height:2px;
}
.ibiz_line2{
	position:relative;
	display:block;
	background-color:#557;
	height:2px;
}
.ibiz_line3{
	position:relative;
	display:block;
	background-color:#575;
	height:2px;
}
.ibiz_bar{
	color:#FFF;
	font-size:14px;
	position:relative;
	display:block;
	background-color:#333;
	padding-left:5px;
}
.ibiz_news{
	position:relative;
	display:block;
	padding:5px;	
}
.socialBox{
	position:relative; 
	float:right; 
	display:block; 
	margin:5px;
}
.socialBox a{
	position:relative; 
	display:inline-block; 
	margin:5px;
}
.socialBox2{
	position:relative; 
	float:right; 
	display:block;
	margin-right:5px;
}
.ibiz_news img{
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.menu2 {	
	margin:0px;
	padding:0px;
}

.menu2 ul{
	height:33px;
	width:100%;
	margin-top:10px;
	margin-bottom:-20px;
	list-style:none;	
	padding:0px;
	background-color:#333;
	text-align:center;
}


.menu2 li.greenbutton {
	background-color: #347100;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ACC20), to(#347100));
	background-image: -webkit-linear-gradient(top, #9ACC20, #347100);
	background-image: -o-linear-gradient(top, #9ACC20, #347100);
	background-image: linear-gradient(to bottom, #9ACC20, #347100);
	background-image: -moz-linear-gradient(top, #9ACC20, #347100);
	border-color: #347100 #347100 #4C650F;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);

}
.menu2 li.redbutton {
	background-color: #580000;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC2020), to(#580000));
	background-image: -webkit-linear-gradient(top, #CC2020, #580000);
	background-image: -o-linear-gradient(top, #CC2020, #580000);
	background-image: linear-gradient(to bottom, #CC2020, #580000);
	background-image: -moz-linear-gradient(top, #CC2020, #580000);
	background-repeat: repeat-x;
	border-color: #580000 #580000 #650F0F;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc46262', endColorstr='#ffa35151', GradientType=0);
}
.menu2 li.bluebutton {
	background-color: #002260;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#209ACC), to(#002260));
	background-image: -webkit-linear-gradient(top, #209ACC, #002260);
	background-image: -o-linear-gradient(top, #209ACC, #002260);
	background-image: linear-gradient(to bottom, #209ACC, #002260);
	background-image: -moz-linear-gradient(top, #209ACC, #002260);
	border-color: #002260 #002260 #0F4C65;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff6262c4', endColorstr='#ff5151a3', GradientType=0);
}

.menu2 li{
	display:block;
	margin:0px;
	color: #ffffff;
	border: 1px solid #bbbbbb;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	padding: 2px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius:4px;
	line-height: 20px;
}

.menu2 li a{
	display:block;
	width:100%;
	height:100%;	
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
text-decoration:none;
}

.menu2 li:hover {
	-webkit-transition:background 1s linear 2s;
	-moz-transition:background 1s linear 2s;
	-o-transition:background 1s linear 2s;
	transition:background 1s linear 2s;
}
.menu2 li.greenbutton:hover {
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CDFF53), to(#67A433));
}
.menu2 li.redbutton:hover {
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF5353), to(#8B3333));
}

.menu2 li.bluebutton:hover {
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53CDFF), to(#335593));
}










.motor-section{
	font-size:10px;
	min-width:970px;
	background-color:#EEEEEE;
	padding:5px;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/head-bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.motor-section td{
	position:relative;
	display:table-cell;
	padding:3px;
	font-size:10px;
	color:#333333;
}
.motor-slide1-box{
	position:relative;
	display:inline-table;
	width:100%;
	height:100%;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/slide1-bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#000;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.motor-slide1-box .header-box{
	position:relative;
	display:none;
	
}
.motor-slide1-box .content-box{
	position:relative;
	display:table-cell;
	height:100%;
	vertical-align:middle;
	width:460px;
	text-align:center;
	
}
.motor-slide1-box .content-box iframe{
	position:relative;
	display:block;
	margin:auto;
	
}
.motor-slide1-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:70px;
	height:30px;

}
.motor-slide1-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:70px;
	right:2px;
	height:30px;
}


.motor-news-box{	
	position:relative;
	display:inline-table;
	width:100%;
	height:100%;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#FFFFFF;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.motor-news-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-news-box .content-box{
	position:relative;
	display:block;
	width:100%;
	min-height:30px;
}
.motor-news-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:70px;
	height:30px;

}
.motor-news-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:70px;
	right:2px;
	height:30px;
}



.motor-pretty-box{
	position:relative;
	display:inline-table;
	width:100%;
	height:100%;	
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#FFFFFF;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.motor-pretty-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-pretty-box .content-box{
	position:relative;
	display:block;
	min-height:30px;
}
.motor-pretty-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:72px;
	height:30px;

}
.motor-pretty-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:72px;
	right:2px;
	height:30px;
}


.motor-motorcycle-box{
	position:relative;
	display:inline-table;
	width:98%;
	height:100%;		
	/*background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-bg.jpg);*/
	background-repeat:repeat-x;
	background-position:top;
	
}
.motor-motorcycle-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-motorcycle-box .content-box{
	position:relative;
	display:block;
	min-height:30px;
}
.motor-motorcycle-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/motorcycle-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:157px;
	height:30px;

}
.motor-motorcycle-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/motorcycle-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:157px;
	right:2px;
	height:30px;
}



.motor-event-box{
	position:relative;
	display:inline-table;
	width:98%;
	height:100%;		
	/*background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-bg.jpg);*/
	background-repeat:repeat-x;
	background-position:top;
	
}
.motor-event-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-event-box .content-box{
	position:relative;
	display:block;
	min-height:30px;
}
.motor-event-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/event-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:95px;
	height:30px;

}
.motor-event-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/event-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:95px;
	right:2px;
	height:30px;
}




.motor-interview-box{
	position:relative;
	display:inline-table;
	width:98%;
	height:100%;	
	/*background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-bg.jpg);*/
	background-repeat:repeat-x;
	background-position:top;
	
}
.motor-interview-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-interview-box .content-box{
	position:relative;
	display:block;
	min-height:30px;
}
.motor-interview-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/interview-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:132px;
	height:30px;

}
.motor-interview-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/interview-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:132px;
	right:2px;
	height:30px;
}




.motor-scoop-box{
	position:relative;
	display:inline-table;
	width:98%;
	height:100%;	
	
}
.motor-scoop-box .header-box{
	position:relative;
	display:block;
	height:30px;

}
.motor-scoop-box .content-box{
	position:relative;
	display:block;
	min-height:30px;
}
.motor-scoop-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/scoop-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:105px;
	height:30px;

}
.motor-scoop-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/scoop-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:80px;
	right:2px;
	height:30px;
}




.motor-slide2-box{
	position:relative;
	display:inline-table;
	width:100%;
	height:100%;
	/*background-image:url(http://mgr.manager.co.th/home/images/motor2013/pretty-bg.jpg);*/
	overflow:hidden;
	background-repeat:repeat-x;
	background-position:top;
	background-color:#AAAAAA;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.motor-slide2-box .header-box{
	position:relative;
	display:none;
	
}
.motor-slide2-box .content-box{
	position:absolute;
	display:block;
	margin:0px;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.motor-slide2-box .content-box iframe{
	position:absolute;
	display:block;
	margin:0px;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.motor-slide2-box .title-box{
	position:relative;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-h.png);
	background-repeat:repeat-x;
	background-position:top;
	width:70px;
	height:30px;

}
.motor-slide2-box .line-box{
	position:absolute;
	display:block;
	background-image:url(http://mgr.manager.co.th/home/images/motor2013/news-l.png);
	background-repeat:repeat-x;
	background-position:center;
	top:0px;
	left:70px;
	right:2px;
	height:30px;
}

.content-box img.imgnews{
	background-color:#AAAAAA;
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.content-box td{
	font-size:12px;
	color:#333333;
}
.content-box a{
	font-size:12px;
	color:#333333;
	text-decoration:none;
}
.content-box .title{
	font-size:13px;
	color:#333333;
	text-decoration:none;
}
.title2{
	position:relative;
	width:auto;
	font-size:20px;
	color:#F90;
	/*height:25px;*/
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}











.border { border-left:#666666 dotted 1px; border-right:#666666 dotted 1px;}
#spacer { height: 5px;}

.linetop-bot { border-top:#000000 solid 1px; border-bottom:#000000 solid 1px;}
.linetop-bot-bold { border-top:#000000 solid 3px; border-bottom:#000000 solid 3px;}
.line { border-bottom:#ccc solid 1px;}
.line-white { border-bottom:#fff solid 1px;}
.line-gray { border-bottom:#ccc solid 1px;}
.linetop { border-top:dotted #999999 1px;}
.lineright { border-right:dotted #999999 1px;}
.lineright-white { border-right:solid #fff 1px;}

.text2 {font-size: 14px; color: #94226e; font-family: "Tahoma";}
A.text2:link { font-size: 14px; color: #94226e; font-family: "Tahoma"; text-decoration: none;}
A.text2:hover { font-size: 14px; color: #94226e; font-family: "Tahoma"; text-decoration: none;}
A.text2:visited { font-size: 14px; color: #94226e; font-family: "Tahoma"; text-decoration: none;}

.text3 { font-size:medium; color: #fff; font-family: "Tahoma";}
A.text3:link { font-size: medium; color: #fff; font-family: "Tahoma"; text-decoration: none;}
A.text3:hover { font-size: medium; color: #fff; font-family: "Tahoma"; text-decoration: none;}
A.text3:visited { font-size: medium; color: #fff; font-family: "Tahoma"; text-decoration: none;}

.text4 { font-size:14px; color: #000; font-family: "Tahoma";}
A.text4:link { font-size: 14px; color: #000; font-family: "Tahoma"; text-decoration: none;}
A.text4:hover { font-size: 14px; color: #000; font-family: "Tahoma"; text-decoration: none;}
A.text4:visited { font-size: 14px; color: #000; font-family: "Tahoma"; text-decoration: none;}

/**************** LOGO ******************/
#logo { position:relative; }
#namelink { position:absolute; right:2px; bottom:2px; }
#namelink2 { position:absolute; left:2px; bottom:2px; }

/**************** MENU ******************/
.menu{
	margin:0 auto;
	padding:0px;
	font-family: "Tahoma", "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
.menu ul{
	background:#fff;
	height:25px;
	list-style:none;
	margin:0;
	padding:0;
	padding-left:0px;
}
.menu li{
	float:left;
	padding:0px;
}
.menu li a{
	color:#000;
	display:block;
	font-weight:normal;
	line-height:25px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.bullet{
padding-top: 5px;

}

.menu li a:hover, .menu ul li:hover a{
	color:#94226e;
	text-decoration:none;
}


.menu li ul{
	background:#000;
	color:#fffff;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:180px;
	z-index:200;

}

.menu li:hover ul
{
  display: block;
}
.menu ul.parent_hover
{
  display: block;
}


.menu li li {
	display:block;
	float:none;
	margin:0px; 
	width:180px;
}
.menu li:hover li a{
	background: url('/home/images/celeb2011/bullet_white.png') center left no-repeat;
	color:#fff;
}
.menu li ul a{
	color:#ffffff;
	display:block;
	height:25px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 20px;
	text-align:left;
	background: url('/home/images/celeb2011/bullet_white.png') center left no-repeat;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#94226e url('/home/images/celeb2011/bullet_white.png') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
.menu p{
	clear:left;
}
/**************** END MENU ******************/

.event { background-color:#888; height:30px; min-width:210px;}
.head-f-guru { background-image:url(/home/images/celeb2011/bg.jpg); border-bottom:#666 solid 1px; border-top:#666 solid 1px; margin-top:2px; padding:2px 0px; background-color:#fff; color:#000000;}
.guru1 { background-image:url(/home/images/celeb2011/bg-guru-left-mid.gif); background-repeat:repeat-y;}
.guru2 { background-image:url(/home/images/celeb2011/bg-guru-right-mid.gif); background-repeat:repeat-y;}
.guru3 { background-image:url(/home/images/celeb2011/bg-guru.gif); background-repeat:repeat-x;}
.bg { background-image:url(/home/images/celeb2011/bg-fashion.gif); background-repeat:repeat-x;}
.beauty-left { border-left:#cccccc solid 1px;}
.beauty-bot { border-bottom:#cccccc solid 1px;}
.lifestyle { border-left:#FFFFFF solid 1px;}


.InfoGraphicBG{
	background: rgb(237, 237, 237);
background: -moz-linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 78%);
background: -webkit-linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 78%);
background: -o-linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 78%);
background: -ms-linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 78%);
background: linear-gradient(180deg, rgb(237, 237, 237) 0%, rgb(255, 255, 255) 78%);


}

.InfoGraphicItem,.InfoGraphicLogoItem{
	display:inline-block;
	overflow:hidden;
	width:300px;
	height:368px;
	margin:5px;
}
.InfoGraphicLogoItem{
	background-repeat:no-repeat;
	background-position:center center;
}
.TopInfoGraphic .InfoGraphicLogoItem{
	background-image:url(../images/logo2.png);
}
.NewInfoGraphic .InfoGraphicLogoItem{
	background-image:url(../images/logo3.png);
}
.InfoGraphicItem{
	background-color:rgba(250,252,255,1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.30);
	-moz-box-shadow:    0px 0px 10px rgba(30, 30, 30, 0.30);
	box-shadow:         0px 0px 10px rgba(30, 30, 30, 0.30);
	cursor:pointer;
}
.InfoGraphic-image{
	position:relative;
	display:block;
	margin:5px;
	height:290px;
	background-color:rgba(54,54,54,1);
	background-position:center top;
	background-size:cover;
	background-repeat:no-repeat;
}
.InfoGraphic-title{
	position:relative;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:rgba(50,50,50,1);
	margin-left:5px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:2px;
	height:40px;
}
.topic_liner{
	height: 2px;
	margin-top:5px;
	margin-bottom:5px;
}

.smemenu{
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #000000;
 background: #fff;
padding:1px;
}


a.smemenu1 {display: block;background:url(/home/images/sme_howto.jpg); width: 125px; height: 25px; background-position:0 0px;}
a.smemenu2 {display: block;background:url(/home/images/sme_gallery.jpg); width: 125px; height: 25px; background-position:0 0px;}
a.smemenu3 {display: block;background:url(/home/images/sme_move.jpg); width: 125px; height: 25px; background-position:0 0px;}

a.smemenu1:hover, a.smemenu2:hover , a.smemenu3:hover {
	background-position:0 25px;
}
