@-webkit-keyframes large1 {
  0% {
    background-position: 0px 0px;
  }
}
@keyframes large1 {
  0% {
    background-position: 0px 0px;
  }
}
@-webkit-keyframes large6 {
  0% {
    background-position: 0px 0px;
  }
  17% {
    background-position: -130px 0px;
  }
  34% {
    background-position: -260px 0px;
  }
  51% {
    background-position: -390px 0px;
  }
  68% {
    background-position: -520px 0px;
  }
  85% {
    background-position: -650px 0px;
  }
}
@keyframes large6 {
  0% {
    background-position: 0px 0px;
  }
  17% {
    background-position: -130px 0px;
  }
  34% {
    background-position: -260px 0px;
  }
  51% {
    background-position: -390px 0px;
  }
  68% {
    background-position: -520px 0px;
  }
  85% {
    background-position: -650px 0px;
  }
}
@-webkit-keyframes small2 {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -75px 0px;
  }
}
@keyframes small2 {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -75px 0px;
  }
}
@-webkit-keyframes large9 {
  0% {
    background-position: 0px 0px;
  }
  12% {
    background-position: -130px 0px;
  }
  24% {
    background-position: -260px 0px;
  }
  36% {
    background-position: -390px 0px;
  }
  48% {
    background-position: -520px 0px;
  }
  60% {
    background-position: -650px 0px;
  }
  72% {
    background-position: -780px 0px;
  }
  84% {
    background-position: -910px 0px;
  }
  96% {
    background-position: -1040px 0px;
  }
}
@keyframes large9 {
  0% {
    background-position: 0px 0px;
  }
  12% {
    background-position: -130px 0px;
  }
  24% {
    background-position: -260px 0px;
  }
  36% {
    background-position: -390px 0px;
  }
  48% {
    background-position: -520px 0px;
  }
  60% {
    background-position: -650px 0px;
  }
  72% {
    background-position: -780px 0px;
  }
  84% {
    background-position: -910px 0px;
  }
  96% {
    background-position: -1040px 0px;
  }
}
.sticker {
  background-repeat: no-repeat;
}
.sticker.small {
  width: 75px;
  height: 75px;
}
.sticker.large {
  width: 130px;
  height: 130px;
}
.sticker.animate.large1 {
  -webkit-animation: large1 0.5s step-start infinite;
  animation: large1 0.5s step-start infinite;
}
.sticker.animate.large1 {
  -webkit-animation: large1 0.5s step-start infinite;
  animation: large1 0.5s step-start infinite;
}
.sticker.animate.large6 {
  -webkit-animation: large6 0.5s step-start infinite;
  animation: large6 0.5s step-start infinite;
}
.sticker.animate.small2 {
  -webkit-animation: small2 0.5s step-start infinite;
  animation: small2 0.5s step-start infinite;
}
.sticker.animate.large9 {
  -webkit-animation: large9 0.5s step-start infinite;
  animation: large9 0.5s step-start infinite;
}
.sticker.angelCat.large1 {
  background-image: url('angelCat/angelCat.large.1.svg');
}
.sticker.bdsmCat.large1 {
  background-image: url('bdsmCat/bdsmCat.large.1.svg');
}
.sticker.botanCat.large1 {
  background-image: url('botanCat/botanCat.large.1.svg');
}
.sticker.drinkingCat.large1 {
  background-image: url('drinkingCat/drinkingCat.large.1.svg');
}
.sticker.evilCat.large1 {
  background-image: url('evilCat/evilCat.large.1.svg');
}
.sticker.flowerCat.large1 {
  background-image: url('flowerCat/flowerCat.large.1.svg');
}
.sticker.greetingCat.large1 {
  background-image: url('greetingCat/greetingCat.large.1.svg');
}
.sticker.gunCat.large1 {
  background-image: url('gunCat/gunCat.large.1.svg');
}
.sticker.inloveCat.large1 {
  background-image: url('inloveCat/inloveCat.large.1.svg');
}
.sticker.kissingCat.large1 {
  background-image: url('kissingCat/kissingCat.large.1.svg');
}
.sticker.noCat.large1 {
  background-image: url('noCat/noCat.large.1.svg');
}
.sticker.onskatesCat.large1 {
  background-image: url('onskatesCat/onskatesCat.large.svg');
}
.sticker.painedCat.large1 {
  background-image: url('painedCat/painedCat.large.1.svg');
}
.sticker.phoneCat.large1 {
  background-image: url('phoneCat/phoneCat.large.1.svg');
}
.sticker.relaxedCat.large1 {
  background-image: url('relaxedCat/relaxedCat.large.1.svg');
}
.sticker.shockedCat.large1 {
  background-image: url('shockedCat/shockedCat.large.1.svg');
}
.sticker.sleepingCat.large1 {
  background-image: url('sleepingCat/sleepingCat.large.1.svg');
}
.sticker.sorryCat.large1 {
  background-image: url('sorryCat/sorryCat.large.1.svg');
}
.sticker.vomitCat.large1 {
  background-image: url('vomitCat/vomitCat.large.1.svg');
}
.sticker.applicationTest.large6 {
  background-image: url('applicationTest/applicationTest.large.6.svg');
}
.sticker.applicationTest.small2 {
  background-image: url('applicationTest/applicationTest.small.2.svg');
}
.sticker.evilCat.large9 {
  background-image: url('evilCat/evilCat.large.9.svg');
}
.no-svg .sticker {
  background-repeat: no-repeat;
}
.no-svg .sticker.small {
  width: 75px;
  height: 75px;
}
.no-svg .sticker.large {
  width: 130px;
  height: 130px;
}
.no-svg .sticker.angelCat.large1 {
  background-image: url('angelCat/angelCat.large.1.png?version=53b40951ef6a57a8f7d96242ec2cc2c3');
}
.no-svg .sticker.bdsmCat.large1 {
  background-image: url('bdsmCat/bdsmCat.large.1.png?version=75733d0d1a7208c8fda88323c472a945');
}
.no-svg .sticker.botanCat.large1 {
  background-image: url('botanCat/botanCat.large.1.png?version=8a9f68ade52130d148797fc951fe48b3');
}
.no-svg .sticker.drinkingCat.large1 {
  background-image: url('drinkingCat/drinkingCat.large.1.png?version=19a346c2357833998c122d6cb10ac375');
}
.no-svg .sticker.evilCat.large1 {
  background-image: url('evilCat/evilCat.large.1.png?version=ea941b6f538d69cea12bac3de2c32cc4');
}
.no-svg .sticker.flowerCat.large1 {
  background-image: url('flowerCat/flowerCat.large.1.png?version=6e64193fb130a8050b1e20b5fe99b085');
}
.no-svg .sticker.greetingCat.large1 {
  background-image: url('greetingCat/greetingCat.large.1.png?version=46f98e776e86ecc731c2eddd2f39089b');
}
.no-svg .sticker.gunCat.large1 {
  background-image: url('gunCat/gunCat.large.1.png?version=4dd3f050fbc26e5dad86085980744f94');
}
.no-svg .sticker.inloveCat.large1 {
  background-image: url('inloveCat/inloveCat.large.1.png?version=3df79f17a00d43523135dc0733f77097');
}
.no-svg .sticker.kissingCat.large1 {
  background-image: url('kissingCat/kissingCat.large.1.png?version=adbe3a192326b9813651249d1de407b4');
}
.no-svg .sticker.noCat.large1 {
  background-image: url('noCat/noCat.large.1.png?version=4b38ca8b78be02c01dd1627556859ce0');
}
.no-svg .sticker.onskatesCat.large1 {
  background-image: url('onskatesCat/onskatesCat.large.png?version=a8fc4f6eac776a428faa6d808d77749e');
}
.no-svg .sticker.painedCat.large1 {
  background-image: url('painedCat/painedCat.large.1.png?version=04432f4761bf7587f88492cd6e3e372f');
}
.no-svg .sticker.phoneCat.large1 {
  background-image: url('phoneCat/phoneCat.large.1.png?version=26cb9df41eed8ba2467416634d8d882e');
}
.no-svg .sticker.relaxedCat.large1 {
  background-image: url('relaxedCat/relaxedCat.large.1.png?version=32d25ef755dcdc1177ba8fb17e65d1ce');
}
.no-svg .sticker.shockedCat.large1 {
  background-image: url('shockedCat/shockedCat.large.1.png?version=c099778edaf4d6e955ab57492a80fd79');
}
.no-svg .sticker.sleepingCat.large1 {
  background-image: url('sleepingCat/sleepingCat.large.1.png?version=20701f9149ed99d4864dd0c45a8b6e0f');
}
.no-svg .sticker.sorryCat.large1 {
  background-image: url('sorryCat/sorryCat.large.1.png?version=ec45718506667553ff724c1ed5bcc33c');
}
.no-svg .sticker.vomitCat.large1 {
  background-image: url('vomitCat/vomitCat.large.1.png?version=c592d055420badcbbf3e4c4c31faf855');
}
.no-svg .sticker.applicationTest.large6 {
  background-image: url('applicationTest/applicationTest.large.6.png?version=13a1ab50837c54702818750f9b4609b1');
}
.no-svg .sticker.applicationTest.small2 {
  background-image: url('applicationTest/applicationTest.small.2.png?version=13a1ab50837c54702818750f9b4609b1');
}
.no-svg .sticker.evilCat.large9 {
  background-image: url('evilCat/evilCat.large.9.png?version=cbabc132cd13b44a406ac842be2c10a1');
}
