﻿/* CSS Document */
body,div,form,font,ul,ol,li,dl,dt,dd,table,td,th,input,textarea,table,th,td,iframe,fieldset,pre,blockquote,p{ padding:0; margin:0; font:14px;}
body{font-family:Microsoft Yahei }
input,textarea,button,select { outline:none;}
textarea { resize:none;}
ul,ol,li { list-style-type:none}
h1,h2,h3,h4,h5,h6{ padding:0; margin:0;font-weight: normal;}
img,object{ border:0; vertical-align:middle}
a{blr:expression(this.onFocus=this.blur());outline: none;}
a{blr:expression(this.onFocus=this.blur());outline: none;}
a:link,a:visited{ color:#666; text-decoration:none}
a:hover,a:active{color:#b92127}
i,em { font-style:normal}
.cls{ font:0/0 Arial; height:0; clear:both;}
.clearfix{zoom:1}
.clearfix:after{ content:"."; display:block; height:0; clear:both; overflow:hidden; visibility:visible}
table{ width:100%; border-collapse:collapse;}

/*头部 */
.header{color: #222;background:#ededed;}
.hdTop{width:100%;height: 30px;/*background: url(../i/topBg.png) repeat-x;*/border-bottom:1px solid #ddd}
.hdCon{width:1200px;height: 30px;margin: 0 auto;}
.hdConLf{float: left;}
.hdTel{float: left;background: url(../i/tel.png) no-repeat left center;padding-left: 30px;color: #222;font-size: 14px;font-family: Microsoft Yahei;height:30px;line-height: 30px;}
.hdTel span{font-size: 16px;margin-left: 5px;color: #b5030e;}
.hdCs{float: left;font-size: 14px;font-family: Microsoft Yahei;background: url(../i/cs.png) no-repeat left center;height:30px;line-height: 30px;padding-left: 30px;margin-left: 20px;}
a.changeCs{color: #af383f;cursor: pointer;}
a.changeCs:hover{text-decoration: none;}
.hdConRt {float: right;height: 30px;line-height: 30px;}
.q_top_contact{float: right;background:none;}
.q_top_contact dl{float:left; display:inline; position:relative;z-index:9;}
.q_top_contact dt{position:relative; z-index:2;text-align:center;float:left;background:url(../i/dtbg.png) no-repeat right center;padding:0 25px;}
.q_top_contact .firtdl dt{background: none;}
.q_top_contact .logindl dt{background: none;}
.q_top_contact dt a{font-size:14px;color:#555;font-family:Microsoft Yahei;}
.q_top_contact dt a:hover{color:#b92127}
.q_top_contact dd{position:absolute; top:30px; left:0; z-index:10;width: 110px;display: none;border: 1px solid #ddd; background:rgba(255,255,255,0.8);*background:#fff;background:#fff; filter:alpha(opacity=80);}
.q_top_contact dd a{display:block; width:94px; line-height:30px; padding:2px 8px; height:30px;font-size: 14px;}
.q_top_contact dd a:hover{background:#eee;}

/*--------------------------------中间导航----------------------------*/
.new_main{width: 1200px;margin: 0 auto;}
.c_nav_lf{float: left;height: 130px; margin-top:5px;}
.car_lg {margin-bottom: 13px;margin-top: 20px;text-align: center;}
.car_lg img {height: 52px;width: 210px;}
.c_nav_mid{float: left;margin-left:80px;}
.brand_sch a{color: #666;font-size: 12px;margin-right: 15px;font-family: Microsoft YaHei;}
.guanzhu .subbox{width: 9999em;height:109px;position: absolute;left:0;top:0;}
.tabcon_wx{overflow:hidden;height:109px;position: relative;border: 1px solid #ddd;border-bottom: 0;}
.tabcon_wx .sublist{float: left;display: inline;}
.tabcon_wx .sublist p img{width: 95px;height: 95px;}
.tabcon_wx .sublist p{font-size: 12px;font-family: Microsoft Yahei;color: #666;text-align: center;}
.wx_ul{border:1px solid #ddd;border-top:none;padding:4px 0 4px 2px;}
.wx_ul li{float: left;display: inline;margin-right: 1px;width: 29px;height: 3px;background: #b9b9b9;cursor:pointer;}
.wx_ul li.current{background: #e62626;}


/*搜索框*/
.search_dv{margin-top: 20px;margin-bottom:10px;background: url(../i/search.png) no-repeat left top;width: 610px;height: 39px;}
.search_city{width: 150px;height: 39px;line-height:39px;margin-left: 18px;color: #888;font-size: 16px;font-family: Microsoft Yahei;float: left;display: inline;cursor: pointer;}
.search_input{float: left;display: inline;margin-left: 27px;height: 33px;margin-top:3px;line-height:36px;color: #888;font-size: 16px;font-family: Microsoft Yahei;width: 415px;border: none;}
.search_btn{width: 113px;float: left;height: 39px;}
.search_btn input{ cursor:pointer; width: 113px;height: 39px;background-color:transparent;border: none;}

.brand_sch a:hover{color:#b81c22}
/*列表导航*/
.listnav{width: 247px;position: relative;z-index: 60;}
.tit{background: #FAFAFA;-webkit-box-shadow:0 0 5px 0 #111; -moz-box-shadow:0 0 5px 0 #111; padding-bottom:0px; border-left:2px solid #BB140C; border-bottom:2px solid #BB140C; border-right:1px solid #bb140c;}
.tit .on{background: #fff;padding-left: 17px;padding-left: 20px; width:225px; border-bottom:1px solid #BB140C; border-top:1px solid #BB140C;}
.tit .on .floornum{color: #b81c22;}
.tit .on .floortxt{color: #b81c22;}
.tit .on .floortxt{line-height:53px;}
/*2015/1/16*/
.floortxt a{color:#444;}
.tit .on .floortxt a{color:#b81c22}
/*2015/1/16*/
.perinro{display: none;}
.tit .on .perinro{display:inline-block;color: #666;font-size: 12px;position: absolute;bottom: -4px;left: 0;}
.mod_cate_hd{width: 247px;height:45px;}
.mod_cate{height: 54px;*+height:50px;background: #FAFAFA;padding-left: 20px; background:url(../i/bottom_bg.jpg) no-repeat bottom center; border-bottom: 1px solid #FAFAFA;border-top: 1px solid #FAFAFA; }
.floornum,.floorimg{float: left;color: #BD140F;height: 53px;display: inline-block;}
.floorimg{width: 40px;height: 40px;margin-top:9px;margin-left: 15px;-moz-border-radius:50%; -webkit-border-radius:50%;border-radius:50%;}
.floornum{font-size: 20px;line-height: 53px;}

.floor1{background: url(../i/listbg.png) no-repeat 8px -90px;}
.floortxt{float: right;font-size: 18px;color: #444;line-height:53px;height: 53px;display: inline-block;text-align: left;width: 135px;text-align: left;position: relative;}
.floor2{background: url(../i/listbg.png) no-repeat 6px 11px;}
.floor3{background: url(../i/listbg.png) no-repeat 7px -40px;}
.floor4{background: url(../i/listbg.png) no-repeat 8px -345px;}
.floor5{background: url(../i/listbg.png) no-repeat 11px -245px;}
.floor6{background: url(../i/listbg.png) no-repeat 8px -195px;}
.floor7{background: url(../i/listbg.png) no-repeat 7px -143px;}
.floor8{background: url(../i/listbg.png) no-repeat 6px -297px;}
/*.on .floor1{background:url(../i/listbg2.png) no-repeat left top;}
.on .floor2{background:url(../i/listbg2.png) no-repeat left -70px;}
.on .floor3{background:url(../i/listbg2.png) no-repeat left -140px;}
.on .floor4{background:url(../i/listbg2.png) no-repeat left -210px;}
.on .floor5{background:url(../i/listbg2.png) no-repeat left -280px;}
.on .floor6{background:url(../i/listbg2.png) no-repeat left -350px;}
.on .floor7{background:url(../i/listbg2.png) no-repeat left -420px;}
.on .floor8{background:url(../i/listbg2.png) no-repeat left -490px;}*/

/*-----------------------第二部分---------------------------------*/
.wrapper2{padding-left: 247px;}
.banner{width: 950px;height: 485px;}
/*焦点图*/
.d_banner_img_new{ height:485px; width:949px; position:absolute;overflow:hidden}
.i_banner{width:1200px; height:90px; margin:15px auto;}
.d_bg_guide{background:#fff; padding:15px 0 0 0;}
.d_bg_white{background:#fff; padding:5px 0;}
.d_bg_gray{background:#f0f0f0; padding:15px 0;}
.d_quick h2{line-height:56px; font-size:24px; color:#f0f0f0; text-align:center;}
.d_quick{margin-left:-7px;}
.d_quick li{float:left; overflow:hidden; width:194px; height:333px; display:inline; margin-left:7px; position:relative;}
.d_quick em{text-align:center; display:block;}
.d_quick em input{border:none; width:122px; padding:0 12px; height:30px; line-height:30px; color:#999;}
.d_quick em input.ico_wang{ background:url(../i/ico_wang.png) no-repeat 110px 1px #fff;}
.d_quick em select{border:none; width:146px; text-indent:6px; height:30px; line-height:30px; color:#999;} 
.d_quick s{height:235px; width:194px; display:block; position:absolute; bottom:-235px; left:0; background:url(../i/d_gray50_bg.png) repeat;}
.d_quick s p{padding:16px; color:#fff;}
.d_quick i{width:122px; height:30px; line-height:30px; display:block; position:absolute; bottom:20px; left:50%; margin-left:-61px; border-radius:15px; color:#fff; font-size:18px; text-align:center; z-index:2;}
#q_flash_btn{position:absolute; z-index:6; left:0; bottom:8px; width:100%; text-align:center; font-size:0;}
#q_flash_btn a{width: 40px;height: 4px;background: #fff;display: inline-block;text-indent:-999em;margin-right: 2px;}
#q_flash_btn a.activeSlide{background: #b81c22;}

/*限时购、十人帮*/
.wrapper_btm{margin-top: 7px; margin-right:-25px;}
.xianshi{margin-right:23px;width:385px;float: left;position: relative;margin-top: 6px;background: #eee;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;}
/*即将开始 1-14加*/
.xianshi .jjks{position:absolute; top:0px; left:0px; width:385px; height:335px;background:rgba(0,0,0,0.3);*background:#000;background:#000\3; filter:alpha(opacity=30); line-height:335px; text-align:center; color:#fff; font-size:16px; z-index:2;}
/*end*/
.xianshi_tle{height: 31px;overflow: hidden;}
.xianshi:hover{background:#f7f6e3;-webkit-box-shadow:0 0px 5px 0 #9f9b9c;  
  -moz-box-shadow:0 0px 5px 0 #9f9b9c;box-shadow:0 0px 5px 0 #9f9b9c;}
.wrapper_btm .carimg img{width: 313px;height: 220px;}
.mengban{background: #000;height: 26px;position: absolute;bottom: 0;left: 0;filter:alpha(opacity=40);opacity:0.4;zoom:1;width: 100%;}
.menbantxt{position: absolute;bottom: 0;left: 0;height: 26px;width: 100%;}
.menbantxt span{float: left;height: 26px;line-height: 26px;padding-left: 8px;font-size: 14px; color:#fff;overflow: hidden;width: 190px;}
.menbantxt span a{color: #f1f1f1;}
.menbantxt em{float: right;padding-right: 8px;color: #fff;font-size: 13px;height: 26px;line-height: 26px;}
.menbantxt em i{text-decoration: line-through;}
.graybtm{height: 50px;}
.orderdv{float: right;width: auto;text-align: right;padding-right: 8px;}
.orderdv .liang{font-size: 12px;color: #666; line-height:18px;}
a.order_btn{width: 90px;height: 26px;line-height: 26px;color: #fff;font-size: 16px;text-align: center;display:inline-block;background:#d71112;behavior: url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}
.btndv{}
.gray_rgt{float: left;padding-left: 8px;}
.gray_rgt div{font-size: 14px;}
.gray_rgt .prc2{color: #b81c22;font-size: 24px;}
.gray_rgt .diqu{margin-top: -3px;}
.gray_rgt .dq2{margin-top: 0;line-height: 50px;}
.comlg{position: absolute;top:-6px;left:0;}
.srb_tle{background: url(../i/bg2.jpg) repeat-x;}
.daiding{margin-right: 0;}
.dd_tle{background: url(../i/ddicon.jpg) repeat-x;}
.dd_tle em{font-size: 14px;line-height: 37px;margin-left: 10px;}
.gray_rgt .zdprc{text-decoration: line-through;}
.graybtm .daili div{margin-top: 5px;}

.colockbox{line-height: 31px;color: #fff;}
.colockbox span{font-size: 17px;font-weight: bold;}

/*---------------------------------广告1---------------------*/
.ad1{margin: 13px 0;}
.ad3{margin:15px 0;}
.q_ad{margin-top:15px;}
/*---------------------------------第三部分-----------------------*/
.jxs_ph{float: left;width: 250px;}
.jxs_ph h3{height: 35px;line-height: 35px;background: #c01c1c;padding-left: 12px;font-size: 16px;color: #fff;}

/*-------------------------排行修改15-2-5 end-----------------------*/

.wrp3_rgt{float: right;width: 935px;}
#leftcon2{height: 370px;position: relative;overflow: hidden;}
#leftcon2 .subbox{width: 99999em;position: absolute;top: 0;}
#leftcon2 .sublist{width: 935px;float: left;position: relative;}
a.ph_order_btn{position:absolute;top: 294px;bottom: 42px;right: 112px;width: 128px;height: 35px;}
#move-animate-left2 li{width: 80px;height: 60px;padding:2px 18px;float: left;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;background: #fff;position: relative;}
#move-animate-left2 li.current{background: #c01c1c;border-left: 1px solid #c01c1c;}
.cursjx{width: 17px;height: 7px;background: url(../i/sjx.png) no-repeat;position: absolute;left: 45%;top:-7px;display: none;}
#move-animate-left2 li.current .cursjx{display: block;}
#move-animate-left2 .widthli{width: 78px;border-right: 1px solid #eee;}
.ad2{margin-top: 4px;}

/*---------------------------第四部分------------------------*/
.saletle{background: url(../i/sale.jpg) no-repeat 8px 4px;border-bottom: 2px solid #c5171e;font-size: 21px;color: #222;line-height: 30px;height: 30px;padding-left: 40px; padding-bottom:5px;}
.saletle .tledtl{font-size: 13px;color: #666;margin-left: 15px;}
a.more{font-size: 14px;background: #c5171e;width: 58px;height: 30px;line-height: 30px;text-align: center;color: #fff;display: inline-block;float: right;}
.sale_type{float: right; margin-top:5px;}
.sale_type a{width: 100px;height: 30px;line-height:30px;display: inline-block;background:url(../i/type.jpg) no-repeat right center;font-size: 14px;text-align: center;}
.sale_type .lsta{background: none;}
.sale_type a.now{background: #c5171e;font-size: 16px;color: #fff;line-height: 28px;}
.sltdv{margin-right: 40px;float: right; margin-top:5px;}
.sltdv .select-nice-box{padding: 3px 0;}
.sltdv .select-nice-box s{height: 26px;}
.sltdv .select-nice-option li{font-size: 12px;}
.sltdv .select-nice-box span{font-size: 14px;}
#select0{display: none;}
.salecars{margin-top: 10px;width: 1220px;}
.salecars ul{margin-right: -15px;}
.salecars li{position: relative;width: 290px;float: left;display: inline;margin-right: 11px;margin-top: 12px;border: 1px solid #ecebec;border-top: 0;-webkit-box-shadow:0 0 5px #ddd; -moz-box-shadow:0 0 5px #ddd;box-shadow:0 0 5px #ddd;}
.car_txts{width: 280px;padding-right: 8px; padding-bottom:8px;}
.salecars li:hover{ background:#f1f1f1;}
.car_txts_lf{width: 180px;float: left;padding-left: 10px; height:48px;}
.car_txts_lf p{margin-top: 5px; height:45px; overflow:hidden;}
.car_nm a{color: #222;font-size: 18px;}
a.sale_order{width: 82px;height: 30px;line-height: 30px;}
.car_txts_rgt{float: right;padding-top: 15px;}
.saleicon{position:absolute;top: 5px;right: 10px; width: 60px;height: 60px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;filter:alpha(opacity=80);opacity:0.8;zoom:1;}
.saleicon_con{position:absolute;top: 5px;right: 10px; width: 60px;height: 60px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;font-size: 18px;line-height: 60px;text-align: center;color: #fff;}
.redicon{background: #aa2f34;}
.yellowicon{background: #dfb536;}
.blueicon{background: #2d80ba;}

.cars_mb{width: 290px;height: 204px;position: absolute;left:0;top:0;z-index:0;background: #000;filter:alpha(opacity=50);opacity:0.5;zoom:1;display: none;}
.cars_prc_dtl{width: 290px;height: 129px;padding-top:75px;position: absolute;left:0;top:0;z-index:0;display: none; cursor:pointer;}
.cars_prc_dtl p{color: #fff;font-size: 18px;line-height: 22px;color: #fff;text-align: center;}

/*----------------------------------今日最低价--------------------------*/
.wrapper5{margin-top: 15px;}
.min_prc{background: url(../i/min.png) no-repeat 0 8px;padding-left: 30px;}
.min_con{margin-top: 10px;}
#normaltab{float: right;height: 30px; margin-top:5px}
#normalcon{height: 640px;overflow: hidden;}
#normalcon ul{margin-right: -22px;height: 322px;}
#normaltab li{width: 100px;height: 30px;line-height:30px;background: url(../i/type.jpg) no-repeat right center;font-size: 14px;color: #666;text-align: center;float: left;cursor: pointer;}
#normaltab li.lstli{background: none;}
#normaltab li.current{background: #c5171e;font-size: 16px;color: #fff;line-height: 28px;}
#normalcon li{position:relative;width: 285px;margin-right: 16px;_margin-right: 8px;margin-top: 12px;float: left;transition: 0.3s all;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;-o-transition: 0.3s all;-webkit-box-shadow:0 0 3px #ccc; -moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc; margin-left:2px;_margin-left:1px; overflow:hidden;}
#normalcon li .imgdv{width: 283px;border: 1px solid #ecebec;position: relative;border-bottom: 0; overflow:hidden;}
.imgdv_mb{height: 25px;background: #000;width: 285px;position: absolute;bottom: 0;left: 1px;filter:alpha(opacity=50);opacity:0.5;zoom:1;}
.imgdv_nm{height: 25px;width: 285px;position: absolute;bottom: 0;left: 1px;line-height: 25px;text-align: center;}
.imgdv_nm a{font-size: 16px;color: #fff;}
#normalcon li .imgdv img{border-top:0;border-bottom: 0;width: 288px;height: 216px; margin-left:0;transition: 0.3s all;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;-o-transition: 0.3s all; }
#normalcon li .imgdv img:hover{margin-left:-5px;}
.min_con_btm{height: 80px;padding-top:7px;width: 283px;border: 1px solid #ecebec;border-top: 0;}
.yuanprc{float: left;width: 100%; margin-bottom:4px;font-size: 12px;color: #666;padding-left: 15px;}
.yuanprc .redprc{width:90px; float:left;font-size: 18px;color: #b92127;margin-left: 15px; _margin-left: 7px;margin-right: 0px;font-weight: bold;display: none}
.yuanprc .redon{display: inline-block;}
.asdv{padding: 0 6px;margin-top: 8px;}
a.ylw_more{float:right;font-size: 12px;background: #ff8a00;width: 35px;height: 20px;text-align: center;line-height: 20px;color: #fff;display: inline-block;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.asdv span{float: left;}
.asdv span a{border: 1px solid #d2d2d2;width: 33px;height: 20px;font-size: 12px;text-align: center;line-height: 20px;display: inline-block;behavior: url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color: #222;margin-right: 3px; background:#fff;float: left;}
.asdv span a:hover{background: #b81c22;border: 1px solid #b81c22;color: #fff;}



/*----------------------------------------合并footer.css-----------------------------*/
.q_friendlink{border:1px solid #e9e9e9; font-size:14px; margin-top:15px;}
.q_friendlink dt{float:left;  line-height:54px; width:74px; padding-left:18px;color:#666;}
.q_friendlink dd{float:left; width:1080px; padding-top:14px; border-left:1px solid #e9e9e9; padding-bottom:10px;}
.q_friendlink dd a{display:inline-block; float:left; margin-left:25px; line-height:30px;font-size:14px;color:#888;}
.q_friendlink dd a:hover{color:#993300;}

.mnBtm{background: #fff;width: 100%;}
.mbCon{width: 1200px;margin: 0 auto;padding:10px 0;}
.mbCon dl{float: left;width:215px;height: 110px;overflow: hidden;margin-right:30px;}
.dtPrc{font-family: Microsoft Yahei;font-size:24px; line-height: 44px;border-bottom: 1px solid #e7e7e7;width:250px;}
.zhiPrc{color: #da9472;}
.mbCon dt{margin-right: 20px;padding-top: 10px;}
.mbCon dt,.mbCon dd{float: left;}
.mbCon dd{width: 120px;}
.prcDtl{font-size: 12px;color: #888;line-height: 18px;margin-top:5px;}
.truePrc{color: #f7a57f}
.mbCon .lastDl{margin-right: 0;}
.localPrc{color: #f793a1;}
.footPrc{color:#5baec0;}
.sdPrc{color:#67c787;}

.q_wrap{width: 1200px;margin: 0 auto;}
#q_wrp .q_wrap dt{color:#555;font-family:"宋体";font-weight:bold;margin-top:5px;margin-bottom:10px;}
#q_wrp .d_service{border-top:1px solid #fff; background:#eee;-webkit-box-shadow: #ccc 0px 0px 0px 1px;-moz-box-shadow: #ccc 0px 0px 0px 1px;box-shadow: #ccc 0px 0px 0px 1px;}
#q_wrp .d_service_left{float:left; padding-top:10px; padding-bottom:30px;border-right:none;box-shadow:none;width:1200px;}
#q_wrp .d_service_left dl{float:left; display:inline; margin-right:22px;}
#q_wrp .d_service_left li{line-height:22px; padding-left:13px; background:url(../i/d_service_list_icon.png) no-repeat left center;}
#q_wrp .d_service_left dl li a{color: #888;font-size: 12px;}
#q_wrp .d_service_left dl li a:hover{color:#666;}
#q_wrp .d_service_left dl{width:180px;}
#q_wrp .d_service_left .item3{width:270px;}
#q_wrp .d_service_left dl.item5{margin-right: 0}
#q_wrp .gz_div{background:url(../i/gz.png) no-repeat left center;width:270px;height:130px;padding:15px;}
#q_wrp .gz_div h4{font-size:12px;margin-top:10px;margin-bottom:15px;color:#666;}
#q_wrp .gz_div p{text-indent:22px;line-height:22px;margin-left:5px;font-size: 12px;}
#q_wrp dl dt{font-size:12px;font-weight:bold;color:#555;margin-top:5px;margin-bottom:10px;}
#q_wrp .syy{ width:260px; height:120px; line-height:10px; overflow-y: scroll;color:#666; } 

.d_service{border-top:1px solid #fff; background:#eee;-webkit-box-shadow: #ccc 0px 0px 0px 1px;-moz-box-shadow: #ccc 0px 0px 0px 1px;box-shadow: #ccc 0px 0px 0px 1px;}

.d_foot_link{text-align:center; color:#fff; line-height:34px; background:#b81c22;}
.d_foot_link s{display:inline-block; padding:0 12px;}
.d_foot_link a{color:#fff;font-size: 12px;}
.d_copyright{text-align:center; padding-bottom:20px; background:#eee;}
.d_copyright p{display:block; padding:20px 0; line-height:2;color: #888;font-size: 12px;}
.d_copyright ul a{display:inline-block; margin:0 8px;}
s{font-style: normal;text-decoration: none;}
.d_foot_link a:hover{text-decoration: none;}

/*--------------------------------侧边栏--------------------------------*/
.slider{position: fixed;bottom: 210px;right: 11px;z-index: 299;width: 35px;}
.slider li a{height: 35px;line-height: 35px;display: inline-block;border-bottom: 1px solid #fff;position: relative;}
.slider li a span{width: 88px;height: 31px;border: 0px solid #dcdcdc;position: absolute;right: 35px;top:0;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;color: #a01717;font-size: 14px;display: inline-block;text-align: center;line-height: 31px; overflow:hidden; width:0;background:#fff;}
#retop{position: fixed;bottom:90px;right: 11px;z-index: 299;width: 35px;}
#retop a{height: 35px;line-height: 35px;display: inline-block;border-bottom: 1px solid #fff;position: relative;}
#retop a span{width: 0px;height: 31px;border: 0px solid #dcdcdc;position: absolute;right: 100%;top:0;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;color: #a01717;font-size: 14px;display: inline-block;text-align: center;line-height: 31px; overflow:hidden; background:#fff;}
.bsj{position: absolute;width: 5px;height: 10px;background: url(../i/bsj.png) no-repeat;right: 5px;bottom: 56px;display: inline-block;}
.wmdv{width: 97px;height:125px;padding:9px;background: #dcdcdc;position: absolute;right:35px;top:-62px; transition: width 0.3s ease 0s;}
.wmdv .subbox{width: 9999em;height:112px;position: absolute;left:0;top:0;}
.gztxt{height: 20px;line-height: 20px;}
.wmdv .tabcon_wx{height: 112px;background: #fff;}
.wmdv .wx_ul{background: #fff;}

/*----------------------e购车展开----------------*/
.mod_subcate{width: 951px;height: 493px;border:1px solid #e11515;border-left: 0;background:#fff;position: absolute;left: 247px;top:45px;}
.flr1_lft{width: 645px;float: left;padding-top: 15px;padding-left: 30px;}
.perchoose li{height: 48px;line-height: 48px;border-bottom: 1px solid #ddd;*+height:44px;*+line-height: 44px;}
.choosetle{width: 58px;line-height: 48px;text-align: left;font-size: 14px;color: #b81c22;float: left;display: inline-block;padding-left: 10px;*+line-height: 44px;}
.choosetxt{float: left;}
.choosetxt a{float: left;width: 95px;height: 48px;text-align:left;line-height: 48px;color: #666;display: inline-block;font-size: 14px;*+height:44px;*+line-height: 44px;}
.choosetxt a:hover{color:#b92127}
.moreyh{width: 614px;background: #ffffee;border: 1px solid #ddddc0;padding: 15px 14px 15px 15px;margin-top: 10px;}
.moreyh h3{color: #e11515;text-align: left;font-size: 16px;}
a.moreyh_m{float:right;width: 40px;height: 20px;line-height: 20px;display: inline-block;color: #fff;font-size: 12px;background:#c01c1c url(../i/sj2.png) no-repeat 40px center;padding-left: 10px;margin-right: 4px;margin-top: 2px;cursor: pointer;}
.yhul{margin-top: 12px;}
.yhul li{float: left;margin-right: 4px;}
.yhcarimg{margin-bottom: 15px;}
.yhcarimg img{width: 200px;height: 150px;}
.yhcarnm a{color: #222;font-size: 14px;}
.yhcardtl{color: #666;font-size: 12px;}
.flr1_rgt{float: right;margin-right: 15px;padding-top: 4px;}
.flr1_rgt p{margin-bottom: 5px;}
.flad1 img{width: 220px;height: 175px;}
.flad2 img{width: 220px;height: 70px;}

/*-------------------------今日聚焦 展开--------------------*/
.flr2_mod{padding: 23px 25px 0 25px;}
.topic_lft{padding-top: 35px;padding-bottom: 15px;}
.tl_con{background: #bb161a;}
.cheping{float: left;padding: 10px 10px 10px 5px;position: relative;}
.cp_top{background: #fff;width: 375px;height: 180px;position: relative;}
.cp_top .imgp{position: absolute;right: 0;top:8px;}
.cp_top .cp_time{position: absolute;left: 10px;bottom:5px;font-size: 14px;font-family: Microsoft Yahei;color: #9f9f9f}
.cp_btm{margin-top: 10px;padding: 0 5px;}
.cp_btm_tle{font-size: 18px;font-family: Microsoft Yahei;color:#ffea00;line-height: 25px;}
.cp_btm_tle a{color:#ffea00;}
.cp_btm_dtl{color: #eaccc0;font-size: 12px;line-height: 22px;height: 65px;width:365px;text-overflow:ellipsis; overflow:hidden;}
.cp_lg{position: absolute;width: 112px;height: 168px;left: 15px;top:-46px;background: url(../i/hot.png) no-repeat;}
.cp_lg img{position: absolute;width: 80px;height: 60px;position: absolute;left: 18px;top: 40px;}
.newhf{float:left;margin-left: 10px;margin-top:5px;position: relative;padding: 5px 5px 0 20px;background: #fff;width:460px;*+padding-right: 10px;}
.topic_ul li{padding-bottom: 8px;border-bottom: 1px dashed #e5e5e3;height: 40px;padding-top: 8px;*+padding-bottom: 6px;padding-top: 6px;}
.hf_img{width: 40px;height: 40px;float: left;margin-right: 10px;}
.hf_img img{width: 40px;height: 40px;behavior:url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.hf_dtl{float: left;width: 390px;}
.hf_dtl .time{float: right;color: #ccc;font-size: 14px;}
.yellow{color: #ff7800;font-size: 14px;}
.graycl{color: #ccc;margin:0 5px;font-size: 14px;}
.ht_txt{color: #666;margin-top: 3px;height: 17px;overflow: hidden;font-size: 14px;}
.newhf_lg{position: absolute;width: 72px;height: 29px;display: inline-block;background: url(../i/newhf.png) no-repeat;left: 10px;top:-20px;}
.bbsj{width: 10px;height: 18px;background: url(../i/bbsj.png) no-repeat;display: inline-block;position: absolute;left: -10px;top: 85px;}
.newtopic{width: 888px;padding-left:10px;padding-top:10px;background: #ffffee;border: 1px solid #ddddc0;}
.newtopic h3{font-size: 16px;color: #222;}
.newtopic h3 .moreyh_m{margin-right: 10px;}

.newtpc li{float: left;margin-right: 10px;/*width: 285px;*/border-bottom: 0;padding: 18px 0;*+padding: 15px 0;}
.tr_tle{height: 35px;line-height: 35px;background: url(../i/hotsm.png) no-repeat left center;padding-left: 30px;margin-left: 15px;font-size: 18px;font-family: Microsoft Yahei;color: #e01116;}
.tr_btm{border: 1px solid #d19b9c;border-top: 2px solid #bb161a;padding:5px 15px 0 25px;margin-top: 7px;}
.hf_nm{float: left;color: #666;font-size: 14px;}
.hf_nm span{color: #ccc;margin-left: 5px;font-size: 14px;}
.hf_options{float: right;}
.hf_options .see{background: url(../i/see.png) no-repeat left center;color: #d9000d;padding-left: 23px;float: right;}
.hf_options .grayxx{background: url(../i/gray_xx.png) no-repeat left center;color: #d9000d;padding-left: 21px;margin-right: 5px;float: right;}
.hf_brand{color: #ccc;float: right;margin-right: 10px;font-size: 14px;}
.hf_dtl_txt{margin-top:3px;height: 16px;overflow: hidden;}
.hf_dtl_txt a{color: #fe0000;font-size: 14px;height: 20px;line-height: 15px;display: inline-block;}
.hf_dtl_txt a:hover{color: #fe0000}
.tp_li{float: left;width: 235px;*+width:210px;}

/*-------------------------极速查询 展开--------------------*/
.jisu_mod{padding-left: 30px;padding-right: 15px;}

.gc_lb_list .select-list{padding:0;}
.gc_lb_list dl{zoom:1;position:relative;line-height:24px;}
.gc_lb_list dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.gc_lb_list dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:left;color:#666;height:24px;line-height:24px; padding-left:20px;}
.gc_lb_list dd{float:left;display:inline;margin:0 0 5px 5px;}
.gc_lb_list a{display:inline-block;white-space:nowrap;padding:0;text-decoration:none;border-radius:2px; cursor:pointer;}

.gc_lb_list .selected a{color:#fff;background-color:#BB1719}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.gc_lb_list .select-result a{padding-right:20px;background:#f60 url("../i/close.gif") right 9px no-repeat}
.gc_lb_list .select-result a:hover{background-position:right -15px}
.l1{width:770px;overflow:hidden;float:left;margin-left:10px}
.m1{height:26px;width:770px;line-height:26px; border-bottom:1px solid #ddd;}
.m1 li{float:left;text-align:center; padding:0px !important; margin:0 !important;}
.m1 li:hover{background:none !important;}
.m1 li .zr{/*width:46px;*/margin-right:0}
.m1 li a{color:#4a4a4a;display:block;width:18px;margin:0 1px;font-family:Arial;height:26px;line-height:26px; padding:0 6px;font-weight: bold;}
.m1 li a:hover{color:#7890b4;text-decoration:none;font-family:Arial}
.m1 li .choose{font-weight:bold;border-left:solid 1px #ddd;border-right:solid 1px #ddd;border-top:solid 1px #ddd;width:18px;text-decoration:none;background:#fff; color:#C30}
.m2{height:65px;width:779px;position:relative;padding-top:10px;clear:both;padding-right:1px;z-index:1;}
.m2 a{display:block}


.o1{height:70px}
.o1 li{padding:0; text-align:center;}
.o1 .a img{padding:0 7px;}

.po_re{ position:relative;}
.clear{ zoom:1;}
.clear:after{ display:block; content:""; clear:both;}
.autobox{ width:1200px; margin:0 auto;}
.gc_lb_list{ position:relative; padding-bottom:10px; overflow:hidden; height:256px; width:1198px; border:1px solid #ddd; margin-bottom:12px;}
.show_more{ height:22px; line-height:22px; cursor:pointer; background:url(../i/b_sj2.png) no-repeat 84px 9px #fff; font-size:12px; font-family:"微软雅黑"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:100px; left:550px; bottom:-1px;}
.hide_more{ height:22px; line-height:22px; cursor:pointer; background:url(../i/b_sj.png) no-repeat 84px 9px #fff; font-size:12px; font-family:"微软雅黑"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:100px; left:550px; bottom:-1px;}
.show_more:hover{background:url(../i/b_sj2.png) no-repeat 84px 8px #eee;}
.hide_more:hover{background:url(../i/b_sj.png) no-repeat 84px 8px #eee;}
.lb_list_box{margin:0px auto 0;}
.tj_list{ border-bottom:1px solid #ddd;}
.tj_topic{ float:left; width:50px; height:75px; line-height:75px; font-size:14px; font-family:"微软雅黑"; color:#b81c22;}
.tj_list ul{ float:left;} 
.tj_list li{margin-bottom:12px; float:left; padding:4px 8px; text-align:center; cursor:pointer; line-height:16px;position:relative; font-size:14px; color:#666;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; cursor:pointer;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;margin-right:8px;}
.tj_list li:hover{color:#f60;background-color:#f3edc2}
.tj_list .active{ background:#BB1719; color:#fff;}
.tj_list .active a{color:#fff;}
.tj_list li:hover{color:#f60;background-color:}
.tj_list .here{ height:19px; width:19px; position:absolute; right:0px; bottom:0px; border:none; background:url(../i/icon.png) no-repeat left -461px; display:none;}
.tj_list .active .here{ display:block;}
.tj_list .first{ margin-right:14px;margin-top: 25px; float:left; width:auto; }
.tj_list .active span{ background:#BB1719; padding:4px 8px 3px 8px; height:20px;border-radius: 2px;}

.list_jb li{/*background:url(../i/ico_che.png) no-repeat;*/}


.list_zm li{ float:left;margin-right:5px;width:26px; height:26px; padding:0px;}
.list_jb .li1{background-position: -96px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li2{background-position: -258px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li3{background-position: -434px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li4{background-position: -622px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li5{background-position: -825px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li6{background-position: -1012px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li7{background-position: -1186px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li8{background-position: -1373px 0; height:20px; width:70px; padding-top:50px;}
.list_jb .li9{background-position: -1548px 0; height:20px; width:70px; padding-top:50px;}

.list_gq li{/*background:url(../i/l_gq.png) no-repeat;*/}
.list_gq .active{/*background:url(../i/l_gq.png) no-repeat #BB1719;*/}
.list_gq .gq1{background-position: -58px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq2{background-position: -155px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq3{background-position: -251px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq4{background-position: -348px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq5{background-position: -445px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq6{background-position: -545px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq7{background-position: -645px 6px; height:20px; width:60px; padding-top:50px;}
.list_gq .gq8{background-position: -745px 6px; height:20px; width:60px; padding-top:50px;}

.list_zm a{ float:left;border:1px solid #e6e6e6; text-align:center; width:24px; height:24px; line-height:24px; font-size:14px; color:#000;}
.list_zm .end,.yhq_list .r_li{ margin-right:0px;}
.list_zm a:hover{ color:#1d7ad9;}
.list_zm .active,.list_zm .active a:hover,.list_zm .active a{ background:#1d7ad9; color:#fff;}
.tj_box{  padding-left:5px;}
.pl123{ padding-left:123px; margin-top:0px;}
.tj_px{ height:38px; border:1px solid #ddd;}
.tj_px li{ float:left; height:19px; padding:0 36px 0 15px; border:0; background:#fff; margin-right:10px; line-height:19px; margin-top:10px;}
.tj_px li.moren{ background:url(../i/reload.png) no-repeat 80px -2px;}
.tj_px li.moren:hover{ background:url(../i/reload-hover.png) no-repeat 81px 0px;}
.tj_px li.moren_choose{ background:url(../i/reload-hover.png) no-repeat 81px 0px;}
.tj_px li.jiage{ background:url(../i/search_index.png) no-repeat 50px -40px;}
.tj_px li.jiage:hover{ background:url(../i/search_index.png) no-repeat 50px -20px;}
.tj_px li.jiage_choose{ background:url(../i/search_index.png) no-repeat 50px -20px;}
.tj_px li.lidu{ background:url(../i/search_index.png) no-repeat 75px 0px;}
.tj_px li.lidu:hover{ background:url(../i/search_index.png) no-repeat 75px -60px;}
.tj_px li.lidu_choose{ background:url(../i/search_index.png) no-repeat 75px -60px;}
.tj_px li a{ color:#333; font-size:14px;}
.tj_px li a:hover{ color:#BB1719;}
.tj_px .active{ background:#e3eff8;}
/*列表切换*/
.picbox .jcarousel-prev,.picbox .jcarousel-next{width:20px; height:62px;position:absolute; z-index:99; cursor:pointer;filter:alpha(opacity=90); opacity:0.9;}
.picbox .jcarousel-prev{left:-10px; background:url(../i/pre.jpg) no-repeat;}
.picbox .jcarousel-next{right:0; background:url(../i/next.jpg) no-repeat;}
.jcarousel-prev-disabled,jcarousel-next-disabled{display:none!important;}

.tj_topic2{height: 48px;line-height: 48px;}
.tj_list .first_nrm{margin-top: 12px;}
#list_jg li,#list_guobie li,#list_cxjb li{margin-top: 12px;margin-right: 10px; margin-left:10px;}
#list_jg li.first, #list_guobie li.first, #list_cxjb li.first{margin-left:0px;}
.chsbtn{border-bottom: none;text-align: center;padding-top: 3px;}
a.comredbtn{width: 148px;height: 39px;border: 1px solid #9a0b00;background: #c81201;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size: 18px;color: #fff;letter-spacing: 2px;line-height: 39px;text-align: center;display: inline-block;}
a.clear_tj{width: 148px;height: 39px;border: 1px solid #787878;background: #9f9f9f;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size: 18px;color: #fff;letter-spacing: 2px;line-height: 39px;text-align: center;display: inline-block;margin-left: 14px;}

.hotcar{background: #ffffee;border: 1px solid #ddddc0;padding-top: 10px;padding-left: 20px;margin-top: 25px; padding-bottom:5px;}
.hotcar h3{font-size: 16px;color: #222;}
.hotcar ul{margin-right: 60px;float: left;padding-bottom: 5px;padding-top: 5px;}
.hotcar ul li a{color: #555;font-size: 14px;line-height: 22px;}

/*---------------------------------五步--------------------------*/
.wubu_mod{width: 896px;padding: 5px 20px 0 30px;}
.wubu_mod .hotcar{margin-top: 35px;}
.fivestep{background: url(../i/redwub.jpg) no-repeat;height: 228px;margin-bottom: 10px;}

/*---------------------------五步选车 1203-----------------------*/
.spp1{height: 47px;}
.pcon{display: inline-block;height: 45px;line-height:45px;width:757px;float: right;}
.buxian{width: 80px;height:46px;display:inline-block;text-align: center;float: left;}
.buxian a{font-size: 14px;font-family: Microsoft Yahei;color: #666;width: 51px;height: 28px;line-height:28px;line-height: 30px;display: inline-block;margin-top: 9px;background: #fff;border: 1px solid #fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.buxian_act a{color: #fff;border: 1px solid #9a0b00;background: #bb1719;}
.pcon_dtl{height: 45px;width: 757px;display: inline-block;float: left;}

/*第二步*/
.spp2 .pcon{}
.pcon_dt2 a{color: #666;font-size: 14px;font-family: Microsoft Yahei;height: 38px;padding:0 15px;line-height: 38px;display: inline-block;border: 1px solid #fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; margin-top:3px;}
.pcon_dt2 a:hover{color: #f60;background: #f3edc2;}
.pcon_dt2 a.active{background:#bb1719;color: #fff;border: 1px solid #9a0b00;}
.pcon_prc a{padding: 0 15px;}
.mb2{background: url(../i/spzk2.jpg) no-repeat left top;height: 111px;}

.comul{margin-top:11px;height: 86px;overflow: hidden;}
.comul li{float: left;margin-right: 12px;}
.comul li{position: relative;width: 77px;height: 85px;}
.coms{position: absolute;z-index9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display: inline-block;background: #f7faff;border: 1px solid #f7faff;}
.s1{width: 75px;height: 83px;}
.comul .hhover .coms{border: 1px solid #4f6ba2;background: #7c94c4;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;}
.comul li.hhover i{color: #fff;}
.conspan{position: absolute;z-index: 10;text-align: center;cursor: pointer;width: 65px;height: 43px;padding: 20px 5px;}

.comul li i{font-family: Microsoft Yahei;font-size: 14px;color: #666;display:block;}
.comul li em{display: inline-block;*+display:block;margin-bottom: 12px;}
.comul li .emhv{background-position: left bottom;}

/*第三步*/
.sp3{background: url(../i/spzk3.jpg) no-repeat left top;height: 111px;}
.sp3_ul .conspan{padding: 10px;width: 60px;}

/*第四步*/
.sp4{background: url(../i/spzk4.jpg) no-repeat left top;height: 111px;}
.sp4 .comul li{width: 102px;}
.sp4 .s1{width: 100px;}
.sp4 .conspan{padding: 5px;width: 92px;height: 73px;}
.sp4 .conspan2{padding: 17px 5px;height: 49px;}

/*第五步*/
.spp5 .pcon_dt2 a{}
.sp5{background: url(../i/spzk5.jpg) no-repeat left top;height: 111px;}
.sp5 .conspan{padding: 10px 5px;height: 63px;width: 73px;}
.sp5 .comul li{width: 85px;}
.sp5 .comul li em{margin-bottom: 10px;}
.sp5 .s1{width: 83px;}


.buxian2 a{line-height: 30px;background: #b81c22;color: #fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;}
.pcon a.spp1_num{color: #fff;border: 1px solid #9a0b00;background: #c81201;transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;}

/*-----------------------------星座选车--------------------------*/
.xingzuo_top{border-bottom: 1px dashed #dcdcdc;height: 125px;padding-left: 330px;}
.xzt_lf{width: 90px;float: left;text-align: center;line-height: 125px;}
.xzt_lf span{color: #cd0b0b;font-size: 16px;background: url(../i/hsj.png) no-repeat right center;padding-right: 15px;}
.xue_con{float: left;}
.xue_con li{margin-top:15px;float: left;width:81px;}
.xue_con ul li p{text-align: center;line-height: 18px;}
.xue_con ul li p a{font-size: 14px;color: #666;}
.xue_con ul li p a.hva{color: #c72d2d;}
.xue_con ul li.active p a{color: #c72d2d;}
.xue_img{width: 75px;border: 3px solid #fff;height: 71px;padding-top: 4px;}
.xue_con ul li.active .xue_img{border-color: #e8393b;behavior:url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}

.xingzuo_btm{background: #fcfeff;}
.xz_chs{width: 518px;float: left;}
.xz_chs_top{margin-top: 20px;text-align: center;}
.xz_chs_top span{width: 110px;height: 26px;display: inline-block;border: 1px solid #eee;background: #fff;line-height: 26px;text-align: center;color: #cd0b0b;font-size: 16px;}

.xz_con ul{padding-bottom: 20px;*+padding-bottom:0;border-right: 1px solid #efefef;margin-top: 15px;}
.xz_con ul li{margin-top: 10px;margin-left:15px;float: left;width:70px;}
.xz_con ul li p{text-align: center;line-height: 18px;}
.xz_img{width: 54px;height: 50px;padding-top: 4px;border: 3px solid #fff;}
.xz_con ul li p a{color: #666;font-size: 12px;}
.xz_con ul li p a.hva{color: #c72d2d;}
.xz_con ul li.active p a{color: #c72d2d;}
.xz_con ul li.active .xz_img{border-color: #e8393b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}

.xz_img img{width: 47px;height: 47px;}
.xz_xuexing{float: left;width: 220px;}

.xue{padding-left: 30px;padding-bottom: 14px;*+padding-bottom:28px;border-right: 1px solid #efefef;margin-top: 14px;}
.xue .xue_img2 img{width: 53px;height: 53px;}
.xue_img2{width: 61px;border: 3px solid #fff;height: 57px;padding-top: 4px;}
.xue li{width: auto;margin-top: 11px;margin-right: 15px;margin-bottom: 10px;}

.xz_age{width: 208px;float: left;}
.age img{width: 53px;height: 53px;}
.age ul{padding-left: 30px;}
.age ul li{margin-top: 11px;margin-right: 15px;width: auto;margin-bottom: 10px;}
.age .xue_img{width: 61px;border: 3px solid #fff;height: 57px;padding-top: 4px;}
.sex li{margin-left: 25px;*+margin-left: 15px;}

.xz_btn{text-align: center;margin-top: 10px;}
.xz_btn{background: #fcfeff;}
.redborder{border-color: #e8393b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.age .redborder{border-color: #e8393b;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}

/*-----------------------------------专家-------------------------*/
.zhuanjia_mod{padding: 20px 20px 0 28px;}
.zj_mod_lf{float: left;width: 283px;height: 433px;background: #ffffee;border: 1px solid #ddddc0;padding: 0 20px 20px 20px;}
.zj_mod_lf h3{height: 40px;line-height: 40px;color: #e11515;font-size: 16px;}
.ques{background: #fff;padding: 10px 10px 0;position:relative;border: 1px solid #e5e5e5;color: #555;font-size: 12px;}
.rednm{color: #bb1719;}
.ques p{line-height: 24px;border-bottom: 1px dotted #cecece;padding-bottom: 10px; height:66px;overflow: hidden;}
.ques .tmm{height: 30px;line-height: 30px;color: #888;}
.sj3{width: 6px;height: 11px;background: url(../i/sj3.png) no-repeat;position: absolute;display:inline-block;left: -6px;top: 25px;}
.anss{background: #f7f7f7;border-top: none;}
.sj4{width: 6px;height: 11px;background: url(../i/sj4.png) no-repeat;position: absolute;display:inline-block;right: -6px;top: 25px;}
.ansquestio{margin-top: 20px;}
.ansquestio p{line-height: 30px;font-size: 14px;color: #222;}
.ques_bt{text-align: center;margin-top: 15px;}
a.findzj{width: 67px;height: 33px;display: inline-block;background: #c72d2d url(../i/ren.png) no-repeat 12px center;line-height: 30px;padding-left: 45px;behavior:url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;font-size: 14px;text-align: left;}
a.tiwenti{width: 57px;height: 33px;display: inline-block;background: #fa7d3c url(../i/bi.png) no-repeat 12px center;line-height: 33px;padding-left: 35px;behavior:url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff;font-size: 14px;text-align: left;margin-left: 10px;}

.zj_mod_rgt{float: right;width:555px;}/*0109*/
.per_zjdv{border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;}/*0109*/
.per_zj1{float: left;width: 135px;margin-right: 15px;position: relative;}
.per_zj1 img{width: 135px;height: 135px;}
.per_zj_icon{width: 40px;height: 40px;display: inline-block;color: #fff;font-size: 16px;position: absolute;left: 0;top: 0;background: #b81c22;text-align: center;line-height: 18px;}
.per_zj_icon span{font-size: 12px;display: inline-block;}
.per_zj2{float: left;width: 208px;height: 135px;position: relative;}/*0109*/
.per_zj2 div{height: 24px;width: 208px;overflow: hidden;}
.per_zj2 label{color: #666;width: 104px;float: left;font-size: 14px;line-height: 24px;}/*0109*/
.per_zj2 label .tle11{color: #222;font-size: 14px;}
a.tiwen{width: 100px;height: 26px;background: #c72d2d;display: inline-block;color: #fff;font-size: 14px;line-height: 26px;text-align: center;behavior:url("http://www.5dcar.com/plus/pie.php");-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position: absolute;bottom: 0;right: 0}

.per_zj3{float: right;width: 180px;}/*0109*/
.ques2{height: 63px;padding-top: 5px;}/*0109*/
.anss2{height: 63px;padding-top: 5px;}/*0109*/
.ques2 p,.anss2 p{line-height: 19px;height: 51px;border-bottom:none;overflow: hidden;}/*0109*/
/*-----------------------0109---------------------------*/
.ques2 .sj3{right: -6px;top: 25px;left:auto;background: url(../i/sj5.png) no-repeat;}
.anss2 .sj4{left: -6px;top: 25px;right:auto;background: url(../i/sj6.png) no-repeat;}

/*-----------------------0109弹框城市切换-----------------------*/
.exoperation{ width:100%; height:120%; background:#000; display:none; position:absolute; bottom:-100px; left:0; z-index:300;top:0;}
.change_city{ position:absolute; left:50%; display:none; background:#fff; z-index:301;width:394px; height:320px; border:3px solid #a61616; margin-left:-190px; top:160px;}
.change_city h1{ color:#fff; font-size:16px; background-color:#a61616; height:43px; line-height:42px; padding-left:18px;font-weight: bold;letter-spacing: 1px;}
.close{ float:right; margin-right:10px; margin-top:12px; line-height:1;}
.change_city_cont{ width:394px; overflow:hidden; clear:both;}
.change_city_cont ul{ float:left; width:50%; height:272px; overflow-y:scroll;}
.change_city_cont ol{ float:left; width:50%; height:272px; overflow-y:scroll;}
.change_city_cont ol li{display:none;}
.change_city_cont ol li.on{display:block;}
.change_city_cont li a{ display:block; margin:1px 0 0 10px; width:130px; padding-left:20px; height:30px; line-height:30px;position:relative;font-size: 12px;}
.change_city_cont li a.on,.change_city_cont li a:hover{ background:#eee; color:#333;text-decoration: none;}
/*已开通城市 新增加*/
.change_city_cont li a.already_open{color:#a8130b;font-size:14px;font-weight:bold;background:#eee;}
.change_city_cont li a.already_open:hover{background:#a8130b;color:#fff;text-decoration: none;}
.change_city_cont li .already_open em{width:60px;height:18px;position:absolute;top:6px;margin-left:5px;}

/*---------------------------------旗舰店--------------------------*/
.qjd_mod{width: 896px;padding: 20px 20px 0 30px;}
.qjd_mod .s_k_box{float:left; width:288px; border:1px solid #e6e6e6;}
.s_k_box dl{float:left; padding:4px;}
.s_k_box dl dt{position:relative;}
.s_k_box dl dt img{width:280px; height:280px;}
.s_k_box dl dd{width:90%; height:28px; line-height:28px; text-align:center; font-size:18px; color:#b92127}
.s_k_box dl dd a{ color:#b92127;}
.s_k_box dl dd a:hover{text-decoration:underline;}

.s_k_box dl dt em{position:absolute; left:-4px; top:5px; width:240px; height:28px; line-height:22px; text-align:center; color:#fff; font-size:14px; }
.s_k_box dl dt em span.q_l{background:url(../i/ico_qjd.png) no-repeat left top; width:15px; float:left; height:28px;}
.s_k_box dl dt em span.q_c{background:url(../i/ico_qjd_c.png) repeat-x; width:auto; float:left; height:28px;}
.s_k_box dl dt em span.q_r{background:url(../i/ico_qjd.png) no-repeat right top; width:25px; float:left; height:28px;}

.s_k_box ul{float:left; width:288px; background:#feffef; border-top:1px solid #e6e6e6; padding:4px 0;}
.s_k_box ul li{float:left; line-height:32px; height:32px; padding-left:10px; color:#555; overflow:hidden; width:98%;}
.mr12{margin-right:12px;} .r_line{border-right:1px dashed #e7e7e7;}
.s_k_box ul li a:hover{text-decoration:underline;}

/*---------------------------------寰球视野--------------------------*/
.pic_hq{float:left; width:400px; height:300px; position:relative;}
.pic_hq h1{position:absolute; line-height:30px; color:#fff; height:30px; width:100%; text-align:center; overflow:hidden; bottom:0; font-size:14px;background:rgba(0,0,0,0.8);*background:#000;background:#000\8; filter:alpha(opacity=80);}
.pic_hq h1 a{color:#fff;}
.r_hqcw{float:right; width:440px;padding: 4px 14px;border: 1px solid #ddd; position:relative;}
.r_hqcw .icon_hq{position:absolute; top:10px; left:-5px; width:30px; height:34px; background:url(../i/icon_hq.png) no-repeat;}
.r_hqcw dl{border-bottom:1px dotted #e7e7e7; padding-bottom:6px; text-align:center;}
.r_hqcw dl a:hover{color:#}
.r_hqcw dl dt{line-height:30px; font-size:16px;}
.r_hqcw dl dt a{color:#555;}
.r_hqcw dl a:hover{ color:#b92127; text-decoration:underline;}
.r_hqcw dl dd{line-height:21px; font-size:12px; height:21px; overflow:hidden;}
.r_hqcw dl dd a{color:#888; padding-left:8px; padding-right:8px;}
.hqcw_b{background:#feffef; border:1px solid #e7e7e7; float:left; margin-top:12px;width: 894px;padding-bottom:6px;}
.hqcw_b h2{width:100%; text-align:center; line-height:50px; color:#b92127; font-size:18px;}
.hqcw_b h2 a{ color:#b92127;}
.hqcw_b h2 a:hover{ color:#b92127; text-decoration:underline;}
.hqcw_b ul{width:20%; float:left; padding-left:30px;}
.hqcw_b ul li{width:90%; float:left; padding-left:15px;/* background:url(../i/dian.jpg) no-repeat 2px 12px;*/ line-height:24px; margin-bottom:5px;*+margin-bottom: 3px; font-size:14px;}
.hqcw_b ul li a:hover{ color:#b92127;}

/*今日最低价切换增加—kuang*/
.yuanprc em{display:none;}
.yuanprc i{float:left; width:auto; line-height:24px;}
.yuanprc .on{display:block;}
.asdv span a.ok{background: #b81c22;border: 1px solid #b81c22;color: #fff;}

/*-----------星座修改-----------*/
.age{margin-top: 14px;}

/*-------------报价弹框-----------------*/
/*.prc_tck{width: 540px;border: 5px solid #808080;position: relative;width: 540px;height: 372px;display:none;z-index: 301;}*/

.prc_tck{ position:absolute; left:50%; display:none; background:#fff; z-index:301;width:540px; height:372px; border: 5px solid #808080; margin-left:-270px; top:160px;}

.prc_tck_top{background: url(../i/hua.jpg) no-repeat;padding-top: 20px;padding-left: 80px;padding-bottom: 14px;}
.prc_tck_nm{color: #bb1719;font-size: 26px;}
.prc_tck_yj{color: #222;font-size: 16px;}
.tck_prc_tbl td{height: 30px;line-height: 30px;text-align: center;border: 1px solid #e4e4e4;font-size: 14px;color: #222;}
.tck_prc_tbl .td1{width: 84px;height: 30px;background: #f7f7f7; }
.tck_prc_tbl td span{color: #bb1719;margin-left: 7px;}
.prc_tck_cls{position: absolute;right: 0px;top: 0px;background: url(../i/prccls.png) no-repeat;width: 20px;height: 20px;display: inline-block;}

/*------------------------视频------------------*/
.d_video_big{width:999px; height:556px; left:50%; margin-left:-500px; position:absolute;/* background:url(../i/d_gray30_bg.png) repeat;*/ z-index:400; display:none;}
.d_video_big dl{padding:10px;z-index:60}
.d_video_big s{width:31px; height:31px; display:block; position:absolute; right:0; top:0; background:url(../i/d_video_zoom_small.png) no-repeat; cursor:pointer; z-index:80}
.d_video_big i{width:31px; height:31px; display:block; position:absolute; right:0; top:0; background:url(../i/d_video_zoom_small.png) no-repeat; cursor:pointer; z-index:90;}
.d_video_small_new{width:17px; height:123px; padding:2px; background:url(../i/video_s.png) repeat; position:absolute; z-index:200; right:10px; bottom:220px; padding:45px 10px 0; text-align:center; color:#333; font-size:16px; line-height:16px; cursor:pointer;}
.d_video_small_new s{width:31px; height:31px; display:block; position:absolute; right:6px; top:6px;  cursor:pointer;}


/*分享*/
#fenxiang_div{
	background-color: #fff;
	height: 28px;
	position: absolute;
	right: 35px;
	top: 72px;
	display:none;
	overflow:hidden;
	border: 2px solid #dcdcdc;
	text-align: center;
	padding-top: 3px;
}
/*2015/8/6*/
.fxbtn{border-bottom: 1px solid #fff;
	display: inline-block;
	height: 35px;
	line-height: 35px; cursor:pointer;
}

/*2015/1/14*/
.tit{*+padding-bottom: 0;}

/*-----------------------------------优化css----------------------------*/
#fenxiang_div .bdshare-button-style0-24 a,#fenxiang_div .bdshare-button-style0-24 .bds_more{margin:0 0 0 6px;}
.bdshare_popup_box{left: 1310px !important;}
.sltdv .select-nice-option {
                    max-height: 200px;
                    overflow-y: scroll;
                }

/*-----2015-01-23 Lazyload 图片异步加载 loading 图------*/

#normalcon li .imgdv,#leftcon2 .sublist,.wrapper4 .wrapper4-img,.d_banner_img_new{
background:url("http://img.5dcar.com/static/auto_5dcar/i/loadv2.gif") no-repeat scroll 50% 50% #fff;
}
#normalcon li .imgdv{
height:216px;
}
#leftcon2 .sublist{
height:370px;
}
.wrapper4 .wrapper4-img{
height:204px;
}

/*-----2015-03-02 friendlink------*/
.friendlink{background: url(../i/link.jpg) no-repeat 8px 4px;border-bottom: 2px solid #c5171e;font-size: 21px;color: #222;line-height: 30px;height: 30px;padding-left: 40px; padding-bottom:5px; margin-top:10px;}
.linkbox{width:1170px; padding:15px; float:left;-webkit-box-shadow:0 0 5px #ddd; -moz-box-shadow:0 0 5px #ddd;box-shadow:0 0 5px #ddd; margin-bottom:15px;}
.linkbox a{float:left; margin-right:20px; width:auto; line-height:30px;}

/*-----2015-03-04 搜索下拉------*/
.search_dv form{position:relative;}
.autoCompleteBar{display:none;position:absolute;left:180px;top:39px;width:315px;border:1px solid #c3c8cd;background-color:#fff;z-index:11;overflow:hidden; color:#666; font-size:13px;}
.autoCompleteBar li{padding:3px 15px;height:24px;line-height:24px;}
.autoCompleteBar li a{display:block;}
.autoCompleteBar li.auto-item{border-top:1px dotted #bbb;}
.autoCompleteBar .item-hover{background-color:#f4f4f4;color:#555;font-weight:300; cursor:pointer;}
.autoCompleteBar .item-shu{float:right;font-family:aral}
.autoCompleteBar .item-name{float:left;height:24px;width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.autoCompleteBar .item-bname{line-height:35px; height:35px; color:#333; font-size:14px; border-top:0;}
.autoCompleteBar li.auto-item{border-top: 1px solid #eaeaea;}
.autoCompleteBar li:hover{background:#ededed}

/*---------------------------限时购 0324--------------------*/
.com_tle h3{margin-top: 15px;height: 32px;border-bottom: 2px solid #c01c1c;font-size: 21px;color: #333;padding-left: 45px;line-height: 27px;}
.com_tle h3 span{color: #888;font-size: 12px;font-family: Microsoft Yahei;margin-left: 20px; }
.xian_shi{width: 385px;background: none;margin-top: 15px;margin-right: 23px;}
.xian_shi .carimg img{width: 385px;height: 285px;}
.red_opc{background:#871414;width: 220px;height: 32px;filter:alpha(opacity=80);opacity:0.8;zoom:1;position: absolute;left: 1px;top: 2px;z-index: 9;}
.xian_shi .xianshi_tle{width: 220px;height: 32px;position: absolute;left: 1px;top: 2px;z-index: 9;}
.carimg{position: relative;}
.graybtm{background: #eee;}
.yuanfh{color: #b81c22;}
.zhidao{float: left;color: #888;font-size: 14px;line-height: 50px;margin-left: 5px;}
.zhidao i{text-decoration: line-through;}
.xs_out{margin-right: -25px;}
.xianshi_tle .colockbox{float: none;padding-right: 5px;}
.xian_shi .xianshi_tle .colockbox{float: none;padding-right: 5px;text-align: right;width: auto;}
.gc_buy h3{background: url(../i/mcg.jpg) no-repeat 12px center;padding-left: 50px;}
.yellow_opc{background: #e82368;}
.xian_shi .gray_rgt .prc2{font-size: 30px;}
.xian_shi .btndv{margin-top: 12px;}

#move-animate-left2{margin-top:7px;}
.paihang{padding:0 13px;}

/*-------------------------新店入驻 0327--------------------*/
#newshop{padding:12px 0px; text-align:center;background: none repeat scroll 0 0 #fff;border: 1px solid #ddd; height:350px; width:248px; overflow:hidden;}
#newshop p{text-align:left; font-size:12px; color:#666; padding:5px 15px; line-height:18px;}
em.jxsbb{width:100%; background:#eee; height:40px; line-height:40px; font-size:12px; color:#666; margin-bottom:8px;}
em.jxsbb span{float:left; padding-left:20px; height:40px; line-height:36px;}
em.jxsbb span b{font-size:20px; color:red;}
#newshop li{top:12px !important; font-size:15px;height:350px; width:248px; overflow:hidden;}
#newshop li img{width:210px; height:246px;}
#newshop li a{color:#333; line-height:28px;}

.jxs_ph h3 span{float:right; font-size:14px; padding-right:10px;}
.jxs_ph h3 span b{color:#fff000;}
.hot_kb{padding-left:36px; background:url(../i/tit_che.jpg) no-repeat 0 6px;}
.kb_box li{position:relative;width: 285px;margin-right: 10px;_margin-right: 5px;margin-top: 12px;float: left;transition: 0.3s all;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;-o-transition: 0.3s all;-webkit-box-shadow:0 0 3px #ccc; -moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc; margin-left:15px;_margin-left:7px; overflow:hidden;}
.kb_box{width:933px; border:1px solid #ddd; float:left; margin-bottom:15px;}
.kb_box li img{width:285px;}
.kb_box li img{border-top:0;border-bottom: 0;width: 288px;height: 216px; margin-left:0;transition: 0.3s all;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;-o-transition: 0.3s all; }
.kb_box li img:hover{margin-left:-5px;}
.kb_con{width:100%; position:relative;}
.star{width:80%; padding:5px 0px 5px 20px;}
.star span{float:left; line-height:22px; width:65px; height:20px; font-size:12px; color:#666;}
.star span.xx1{ background:url(../i/ico_star.gif) no-repeat -5px -226px; width:85px;}
.star span.xx2{ background:url(../i/ico_star.gif) no-repeat -5px -206px; width:85px;}
.star span.xx3{ background:url(../i/ico_star.gif) no-repeat -5px -184px; width:85px;}
.star span.xx4{ background:url(../i/ico_star.gif) no-repeat -5px -164px; width:85px;}
.star span.xx5{ background:url(../i/ico_star.gif) no-repeat -5px -141px; width:85px;}
.star b{color:#F90;}
.xcon{background:url(../i/kb_bg.jpg) no-repeat 0px 0px; padding:6px 10px 6px 16px; float:right; width:170px; height:100px; margin-right:20px; font-size:12px; color:#666;}
.xpic{float:left; width:40px; margin-left:20px;}
.xpic img{width:40px !important; height:40px !important;}
#q_flash_btn2{position:absolute; z-index:6; left:0; bottom:8px; width:100%; text-align:center; font-size:0;}
#q_flash_btn2 a{width: 40px;height: 4px;background: #eee;display: inline-block;text-indent:-999em;margin-right: 2px;}
#q_flash_btn2 a.activeSlide{background: #b81c22;}
.wrkb_rgt{float: right;width: 935px; border:1px solid #ccc;}
#normaltab2{float: right;height: 30px; margin-top:5px}
#normalcon2{height: 380px;overflow: hidden;}
#normalcon2 ul{margin-right: -22px;height: 322px;}
#normaltab2 li{width: 86px;height: 30px;line-height:30px;background: url(../i/type.jpg) no-repeat right center;font-size: 14px;color: #666;text-align: center;float: left;cursor: pointer;}
#normaltab2 li.lstli{background: none;}
#normaltab2 li.current{background: #c5171e;font-size: 16px;color: #fff;line-height: 28px;}

/*-------------------------2015年4月23日 新加样式css start--------------------*/
.s_k_box dl dd{height:0px;}
.s_k_box dl dt img{width:450px; height:220px;}
.qjd_mod .s_k_box{width:458px;}
.qjd_mod{padding:0px; width:946px;}
.mr12{ margin:11px 0px 0px 9px;}
/*-------------------------2015年4月23日 新加样式css end--------------------*/

/*-------------------------2015/5/22 新加样式css start--------------------*/
.title a{display:inline-block;}
.title a.a1{width:45px; height:20px; transition:all 0.5s ease 0s; line-height:20px; border:1px solid #dcdcdc; color:#666;
background:-ms-linear-gradient(top,#f9f9f9,#eee);background:-moz-linear-gradient(top,#f9f9f9,#eee);background:-webkit-gradient(linear,top,from(#f9f9f9),to(#eee));background:-webkit-linear-gradient(top,#f9f9f9,#eee);background:-o-linear-gradient(top,#f9f9f9,#eee);
}
.title a.a1:hover{background:#f18a00;background:-ms-linear-gradient(top,#f79500,#eb7e00);background:-moz-linear-gradient(top,#f79500,#eb7e00);background:-webkit-gradient(linear,top,from(#f79500),to(#eb7e00));background:-webkit-linear-gradient(top,#f79500,#eb7e00);background:-o-linear-gradient(top,#f79500,#eb7e00);color: #fff;border: 1px solid #f79200;font-weight: bold;}
.uy_i{position:relative;}
.uy_i span.sp2a{width:19px; position:absolute;right:35px; top:14px; display:block; height:13px; background:url(../i/new1.png) no-repeat;}
.mod_cate:hover span.sp2a{top:8px; background:url(../i/new2.png) no-repeat;}
.div_font{width:145px;overflow:hidden;background:#333; position:absolute; left:12px; top:12px; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; display:none; z-index:10002;}
.mod_cate:hover .div_font{display:block;}
.div_font p{font-size:12px; color:#fff; text-align:left; line-height:18px; padding:8px;}
/*-------------------------2015/5/22 新加样式css end--------------------*/

/*------------------------2015/8/7------------------------------*/
.xianshi_tle .colockbox{width:250px;}
.red_xs_tle{width:250px; background:#8d1a1d;filter:alpha(opacity=80);
	-moz-opacity:0.8; 
	opacity:0.8; position:absolute; left:1px;top:2px; z-index:1000;}
.xianshi_tle .colockbox{text-align:left;}
.xianshi_tle .colockbox{padding-left:4px;}
.wrapper_btm .carimg img{width:385px; height:285px;}
.wrapper_btm .carimg{width:385px; height:285px;position: relative;}
.gray_rgt .prc2{font-size:20px; font-weight:bold; font-family:微软雅黑;}

.zhidao {color: #fff;float: right;font-size: 14px;line-height: 26px;margin-right: 10px;}
.xian_shi .gray_rgt .prc2{font-size:20px; font-family:微软雅黑; font-weight:bold;}
.btndv p{font-size:12px; color:#636363;}
.xian_shi .btndv{margin-top:2px;}
.advertising_img{width:1200px; height:90px; margin-top:15px;}
.wrapper4 .wrapper4-img{position:relative;}
.wrapper4 .wrapper4-img span{background:#000; height:25px; line-height:25px; text-align:center; display:block; position:absolute; bottom:0px; left:0px; width:290px;

filter:alpha(opacity=80);
-moz-opacity:0.8; 
opacity:0.8;
}
.wrapper4-img span a{color:#fff;}
.salecars li{transition:all 0.3s ease 0s;}
.salecars li:hover{box-shadow:0 0 3px #666;}
#normalcon li:hover{box-shadow:0 0 3px #666; background:#f1f1f1;}

#q_wrp .d_service_left dl.item4{width:80px;}
#q_wrp .d_service_left dl.item5{width:400px;}
.wx_img{width:107px; height:133px; float:left; margin-left:26px;}
.wx_img_m{width:107px; height:107px; text-align:center; display:table-cell; vertical-align:middle; background:#fff;}
.wx_img p{font-size:14px; color:#656565; text-align:center; margin-top:10px;}
.guanzhu{width:215px; height:75px; float:right; margin-top:20px; margin-right:4px;}
.c_nav_lf{height:113px;}
#n_banner{width:485px}
.mod_subcate{top:18px;}
.yellow_opc{background:#8d1a1d;}
.c_i {height: 18px;width: 243px;}
#newshop{height:374px;}
#q_flash_btn2{bottom:20px;}

.wrapper3,.wrapper4{margin-top:15px;}
#newshop{height:374px !important;}
#normalcon {height: 660px;}
/*------------------------2015/8/7------------------------------*/

/*美化表单样式*/
.select-nice {
	position: relative;
	width: auto;
	height: 28px;
	line-height: 28px;
	z-index: 999;
	display: inline-block;
 *width:120px;
 *float:left;
 *margin:0 5px;
}
.select-nice select {
	position: absolute;
	left: -999px;
	top: 0;
}
.select-nice-box {
	height: 20px;
	line-height: 20px;
	border: 1px solid #CCC;
	font-size: 12px;
	color: #999;
	padding: 5px 0;
	position: relative;
	cursor: pointer;
}
.select-nice-box span {
	display: block;
	overflow: hidden;
	height: 20px;
 	padding: 0 28px 0 10px;
 }
.select-nice-box s {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	background: #fff url(../i/rect.gif) no-repeat center center;
}
.select-nice-option {
	list-style: none;
	margin: 0;
	padding: 0;
	height: auto;
	border: 1px solid #CCC;
	border-top: none;
	background-color: #FFF;
	display: none;
	position: absolute;
	left: 0;
	top: 28px;
	width: 100%;
}
.select-nice-option li {
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	color: #666;
	border-top: 1px solid #dedede;
}
.select-nice-option li.selected {
	background-color: #EAEAEA;
}
.select-nice-option li:hover, .select-nice-option li.hover {
	background-color: #2897D2;
	color: #fff;
	cursor: pointer;
}
.select-nice-option li span {
	display: block;
}
.select-nice-option li span i {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 3px 5px 0 0;
	*width:2px;
  }
.select-nice-option li.selected span i {
	background-color: #0C3;
	border-color: #090
}