/* 车城口碑 */
.l_box_kb{width:910px; height:477px; margin:0 auto;}
.l_box_kbl{width:696px; height:477px; float:left;}
.l_box_kbr{width:188px; height:477px; float:right;}
.l_box_kblt{width:696px; overflow:hidden;}
.l_box_kblb{width:696px; overflow:hidden;}
.l_border{width:696px; height:24px; border-bottom:2px solid #ba1a1a;}
.l_border_l{width:100px; height:24px; float:left;}
.l_border_l p{font-size:16px; color:#666; margin:0px; background:url(../i/l_o.png) no-repeat 0 center; padding-left:30px; font-family:microsoft yahei;}
.l_border_l p.p1{font-size:16px; color:#666; margin:0px; font-weight:bold; background:url(../i/l_i.png) no-repeat 0 center; padding-left:30px; font-family:microsoft yahei;}

.l_border_r{width:160px; height:24px; float:right;}
.l_border_r a{display:block; font-size:12px; color:#fff; line-height:26px; float:left; text-align:center; text-decoration:none; font-family:microsoft yahei;}
.l_border_r a.a1{width:87px; height:24px; background:url(../i/l_img1.png) no-repeat;}
.l_border_r a.a2{width:55px; height:24px; background:url(../i/l_img2.png) no-repeat; float:right;}
.l_img_box{width:696px; overflow:hidden;}
.l_img_big{width:208px; height:204px; float:left;margin-left:36px; margin-top:5px;}
.l_img_t{width:208px; height:114px;}
.l_img_t span{width:21px; height:21px; border:1px solid #acacac; font-size:14px; color:#acacac; text-align:center; line-height:21px; display:block; float:left;}
.l_img_t a{width:152px; height:114px; float:left; margin-left:5px; font-family:microsoft yahei;}
.l_img_b{width:208px; overflow:hidden;}
.l_img_b h2{ margin:7px 0px !important; font-family:microsoft yahei;}
.l_img_b h2 a{overflow:hidden; font-size:12px; color:#BA1A1A; font-weight:bold; text-decoration:none; font-family:microsoft yahei;}
.l_img_x{width:208px; overflow:hidden;}
.l_img_x span{display:block; float:left; font-size:12px; color:#989898; font-family:microsoft yahei;}
.l_img_x span.sp1{margin-left:4px;}
.l_img_x span.sp2{font-size:16px; font-weight:bold; margin-left:4px; color:#FF9900; line-height:15px;}
.l_img_b p{font-size:12px; color:#989898; margin:3px 0px; line-height:20px; font-family:microsoft yahei;}
.l_img_b p a{font-size:12px; text-decoration:none; color:#C01C1C; font-family:microsoft yahei;}
.l_i_box{width:696px; overflow:hidden; margin-top:10px;}
.l_i_l{width:21px; height:21px; float:left;}
.l_i_l span{display:block; background:#BA1A1A; font-size:14px; line-height:21px; color:#fff; text-align:center;}
.l_i_r{width:666px; overflow:hidden; float:right;}
.l_i_rt{width:666px; height:59px;}
.l_i_rtl{width:78px; height:59px; float:left;}
.l_i_rtl img{width:78px; height:59px; float:left;}
.l_i_rtr{width:570px; float:right;}
.l_i_rtr h2 {margin:0px; position:relative; font-family:microsoft yahei; font-family:microsoft yahei;}
.l_i_rtr h2 span{display:block;position:absolute; right:135px; top:0px; background:url(../i/l_tj.gif) no-repeat 0 center; width:41px; height:18px; font-family:microsoft yahei;}

.l_i_rtr h2 a{font-size:16px; color:#BA1A1A; text-decoration:none; font-family:microsoft yahei;}
.l_i_rtr p{font-size:12px; color:#000; line-height:20px; margin-top:2px;margin-bottom:0px; font-family:microsoft yahei;}
.l_i_rtr p a{font-size:12px; color:#C01C1C; text-decoration:none; font-family:microsoft yahei;}
.l_i_rb{width:664px; height:25px; border:1px dashed #ccc; margin-top:5px;}
.l_i_rbl{width:405px; height:25px; float:left;}
.l_i_rbl p{font-size:12px; color:#666; margin:0px; line-height:25px; padding-left:15px; font-family:microsoft yahei;}
.l_i_rbr{width:215px; height:25px; line-height:25px; float:left;}
.l_i_rbr span{display:block; float:left; font-size:12px; color:#BA1A1A; font-weight:bold;}
.l_i_rbr span a{display:block; float:left; font-size:12px; color:#BA1A1A; font-weight:bold;}
.l_i_rbr a{display:block; float:left; font-size:12px; color:#666; text-decoration:none; margin-left:20px; font-family:microsoft yahei;}
.l_i_rbr a em{font-size:12px; color:#BA1A1A;font-style:normal; font-family:microsoft yahei;}
.l_i_rbr a.a1{background:url(../i/l_pl.png) no-repeat 0 center; padding-left:20px;}
.l_i_rbr a.a2{background:url(../i/l_dz.png) no-repeat 0 center; padding-left:20px;}
.l_i_rtr h2 span{font-size:12px; color:#fff; width:41px; height:18px; padding-left:10px; line-height:18px;}

.l_boxt{width:188px; height:33px;background:#BA1A1A;}
.l_boxt p{font-size:18px; color:#fff; font-family:microsoft yahei; line-height:33px; padding-left:20px;margin:0px;}
.l_boxb{width:186px; height:443px; border:1px dashed #dcdcdc; broder-top:0px;}
.l_boxm{width:160px; overflow:hidden; margin:0 auto;}
.box_ip{width:160px; overflow:hidden; padding:8px 0px; background:url(../i/l_b.png) no-repeat bottom center;}
.box_ipl{width:70px; height:70px; float:left; background:url(../i/l_bg1.gif) no-repeat 0 center; position:relative;}
.box_ipr {width:84px; float:right;}
.box_ipr p{font-size:12px; color:#666; font-family:microsoft yahei; margin:0px; line-height:20px;}
.box_ipr p.p1{margin-top:25px;}
.box_ipl img{margin:0 auto; width:60px; height:60px; display:block;  margin-top:5px;}
.box_ipl span{display:block; width:21px; height:21px; background:#BA1A1A; font-size:14px; color:#fff; line-height:21px; text-align:center; position:absolute; left:0px; bottom:0px; font-family:microsoft yahei; }
.box_ipl span.sp1{background:#EB6100;}
.box_ipr p em{font-size:12px; color:#BA1A1A;font-style:normal ; font-family:microsoft yahei; }

/* 新加css */
.l_i_rtr h2 a{display:block !important; float:left !important;}
.l_i_rtr h2 span{display:block !important; float:left !important; position:static !important; margin-left:15px;}
.l_i_rtr h2{overflow:hidden;}
.l_box_kbl{margin-top:5px !important;}
.l_boxb{height:437px !important;border-top:0px !important;}

.l_zj_boxmur a.a_0{color:#c01c1c;}
.l_zj_list a{disabled:block; width:66px; height:24px; float:right; font-size:0px; color:#fff;background:url(../i/l_ccs.gif) no-repeat;}
.l_box_kbr{margin-top:10px;}
.l_i_rtr p{font-size:12px; color:#666 !important;}
.box_ipl img{border-radius:6px !important;}

/* 专家解疑 */
.l_zj{width:600px; overflow:hidden; float:left;}
.l_zj_m{width:600px; height:30px; border-bottom:2px solid #BA1A1A;}
.zhuanjia_mod{padding-top:10px !important;}
.l_zj_ml{width:155px; overflow:hidden; line-height:30px; float:left;}
.l_zj_ml p{font-size:16px; color:#666; font-family:microsoft yahei; background:url(../i/l_i.png) no-repeat 0 center; padding-left:35px;}
.l_zj_mr{width:65px; overflow:hidden; line-height:30px; float:right;}
.l_zj_mr a{font-size:14px; color:#fff; text-decoration:none; display:block; float:left; text-align:center; line-height:24px;}
.l_zj_mr a.a1{width:87px; height:24px; background:url(../i/l_img1.png) no-repeat;}
.l_zj_mr a.a2{width:55px; height:24px; background:url(../i/l_img2.png) no-repeat; margin-left:10px;}
.l_zj_b{width:600px; overflow:hidden;}
.l_zj_box{width:600px; overflow:hidden; padding:10px 0px; border-bottom:1px solid #E5E5E5;}
.l_zj_boxt{width:600px; height:24px;}
.l_zj_boxtl{width:600px; overflow:hidden; float:left;}
.l_zj_boxtl span{font-size:12px; color:#BB1719; font-family:microsoft yahei; display:block; float:left;}
.l_zj_boxtl span.sp1{color:#fff; width:15px; height:15px; text-align:center; background:url(../i/ti_bg.png) no-repeat 0 center; margin-right:3px;}
.l_zj_boxtl a{display:block; float:right; width:50px; height:23px; line-height:23px; text-align:center; font-size:12px; color:#C20C0B; font-family:microsoft yahei;}
.l_zj_boxm{width:530px; overflow:hidden; margin-left:20px; margin-top:1.5px;}
.l_zj_boxm p{font-size:14px; height:22px; color:#666; font-family:microsoft yahei; line-height:22px;overflow:hidden;}
.l_zj_boxmi{width:600px; height:26px; line-height:26px; background:#FEFFEF url(../i/l_hf.gif) no-repeat 0 center; margin-top:3px;}
.l_zj_boxmi p{font-size:12px; color:#666;font-family:microsoft yahei; padding-left:55px; font-family:microsoft yahei; }
.l_zj_boxmu{width:600px; overflow:hidden;margin-top:5px;}
.l_zj_boxmul{width:600px; overflow:hidden; float:left;}
.l_zj_boxmur{width:225px; overflow:hidden;float:right;}
.l_zj_boxmul p{font-size:12px; color:#666; font-family:microsoft yahei; text-align:right;}
.l_zj_boxmur a{display:block; float:left; font-size:12px; color:#666; margin-left:15px; font-family:microsoft yahei;}
.l_zj_boxmur a.a1{color:#C01C1C;}
.l_zj_boxmur a.a2{background:url(../i/l_z.gif) no-repeat 0 center; padding-left:15px;}
.l_zj_boxmur a.a2 em{font-size:12px; color:#BA1A1A;}
.l_zj_boxmur a.a3{background:url(../i/l_cn.gif) no-repeat 0 center; padding-left:20px; color:#1BBD00;}

.l_zj_ui{width:285px; overflow:hidden; float:right;}
.zhuanjia_mod {padding: 20px 10px 0 15px;}
.l_zj_list{width:285px; overflow:hidden; border-bottom:2px solid #BA1A1A; line-height:30px;}
.l_zj_list ul li{font-size:16px; color:#666; font-family:microsoft yahei; width:74px; height:30px; float:left; line-height:30px; text-align:center; cursor:pointer;}
.l_zj_list ul li.cur{background:#BB1719; color:#fff;}
.box1{width:285px; overflow:hidden;}
.box1_m{width:300px; overflow:hidden; margin:0 auto; padding:13px 0px; border-bottom:1px solid #DCDCDC;}
.box1_ml{width:158px; height:78px; float:left; border:1px solid #dcdcdc;}
.box1_img{width:78px; height:78px; float:left;}
.box1_ml img{width:78px; height:78px;}
.box1_mr{width:135px; height:78px; float:right;}
.l_box1_ph{width:78px; height:78px; float:right;}
.l_box1_ph h2{font-size:16px; color:#666; font-family:microsoft yahei; margin:0px; padding-left:6px; margin:8px 0px;}
.l_box1_ph p{font-size:12px; color:#666; font-family:microsoft yahei; margin:0px; padding-left:6px; margin:2px 0px;}
.l_box1_ph p span{color:#BB1719;}
.box1_mr dl{overflow:hidden;}
.box1_mr dl dt{width:40px; float:left;font-size:12px; color:#666; font-family:microsoft yahei;}
.box1_mr dl dd{width:68px; float:left;font-size:12px; color:#666; font-family:microsoft yahei;}
.box1_mr p{overflow:hidden;}
.box1_mr p a{display:block; width:76px; heigt:20px; line-height:20px; text-align:center; color:#fff; font-size:12px; font-family:microsoft yahei; background:#E60012; margin:0 auto;}
.box1_mr p span{font-size:12px; color:#666; }
.box1_mr p span em{color:#BB1719;}
.box1_mr p.p1{margin:3px 0px;}



/*2015年9月16日 新加css样式*/ /*7f问问专家*/

.sp_w a{font-size:14px; color:#666; font-weight:bold; padding-left:5px;}
.sp_w a:hover{color:#C01C1C;}
.sp_d span{font-size:12px; color:#666;padding-left:5px;}
.sp_d span.w_sp,.sp_w span.w_sp{font-size:14px; color:#c01c1c; padding-left:0px;}

.l_zj_list p {
    background:url(../i/d_bg.png) no-repeat 0 center;
    color: #666;
    font-family: microsoft yahei;
    font-size: 16px;
    padding-left: 25px;
}
.box1 ul li{overflow:hidden; padding:13px 0px; border-bottom:1px solid  #e5e5e5;}
.ex_l{width:86px; height:86px; float:left; border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;}
.ex_l img{width:86px; height:86px;border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;}
.ex_r{width:175px; float:right;}
.ex_p span{display:block; float:left;}
.ex_r span.sp1{font-size:16px; color:#666;}
.ex_r span.sp2{font-size:12px; color:#666;}
.ex_r  p{font-size:12px; color:#666; line-height:22px; overflow:hidden;}
.ex_r p a{display:block;width:82px; height:20px; background:url(../i/tw_bg.png) no-repeat; font-size:0px;}
.hz_sp{margin:4px;}


/*2015年9月23日 新加样式*//*1f极速选车*/
.x_one{height:40px; width:100%; border-bottom:2px solid #C11813;}
.x_one p{font-size:16px; color:#666; line-height:40px; background:url(../i/x_one.jpg) no-repeat 0 center; padding-left:35px; }
.conste {background:url("../i/xz_bg.jpg") no-repeat 0 center;color: #666; display: inline-block;float: right;font-size: 14px;margin-top: 13px;padding-left: 28px;}

/*3f新加样式*/
.l_activity_t{width:100%; height:40px; height:40px; border-bottom:2px solid #E01519;}
.l_activity_t p{font-size:16px; color:#666; line-height:40px; background:url(../i/hd_bg.jpg) no-repeat 0 center; padding-left:35px;}
.l_activity_b{width:220px; height:425px; margin-top:10px;}
.l_activity_b img{width:220px; height:425px;}

/*5f车型口碑*/
.l_box_kblt {overflow: hidden;width: 625px;}
.l_box_kbl{width:625px;}
.l_border { border-bottom: 2px solid #ba1a1a;height: 30px;width: 625px;}
.models_kb{width:625px; overflow:hidden;}
.models_kb ul li{overflow:hidden; width:625px; border-bottom:1px dashed #E7E7E7;}
.models_kb ul li{overflow:hidden;}
.models_kb_left{width:200px; height:150px; float:left;}
.models_kb_right{width:415px; height:150px; float:right;}
.models_kb_right p{font-size:12px; color:#666; overflow:hidden;}
.models_kb_right p.p1{font-size:14px; color:#333;padding: 20px 0 15px;}
.models_kb_right p.p1 a{
    color: #333;
    font-size: 14px;
}
.models_kb_right p.p1 a:hover{color:#BE120E}
.user_pf{font-size:14px; color:#666;}
.xing {
    background:url("../i/xing_bg.png") no-repeat left top;
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    width:113px;
}
.xing1{background-position: left -80px;}
.xing2{background-position: left -60px;}
.xing3{background-position: left -40px;}
.xing4{background-position: left -20px;}
.xing5{background-position: left -0px;}
.xing_num{font-size:24px; color:#efa717;}
.user_ui a{display:inline-block; float:left; background:url(../i/xs_bg.png) no-repeat left top;}
.user_ui a.user_a1{width:85px; height:30px; background:#F4F4F4 url(../i/xs_bg.png) no-repeat left 9px; font-size:12px; color:#941415; padding-left:20px; line-height:30px; 
}
.user_ui a.user_a2{width:85px; height:30px; background:#F4F4F4 url(../i/xs_bg.png) no-repeat left -17px; font-size:12px; color:#666; padding-left:20px; line-height:30px; margin-left:15px;}
.user_ui a.user_a3{float:right; font-size:12px; color:#888; margin-top:5px;background:none;} .user_ui a.user_a3:hover{color:#BE120E;}
.user_ui{margin-top:10px;}
.l_box_kbr{width:260px; overflow:hidden;}
.kb_list_t{width:260px;border-bottom: 2px solid #ba1a1a;height: 30px;}

.kb_list_t p {background:url("../i/kb_list_bg.png") no-repeat 0 center; color: #666; font-size: 16px; padding-left: 36px;}
.l_box_kbl {margin-top: 8px !important;}
.l_box_kbr {margin-top: 8px;}
.kb_list_b{width:260px; overflow:hidden;}
.kb_list_li{width:260px; height:31px; border-bottom:1px solid #CCC; margin-top:10px; position:relative;}
.kb_list_li ul{position:absolute; left:0px; top:0px;}
.kb_list_li ul li{width:40px; height:30px; line-height:30px; font-size:14px; color:#333; float:left; text-align:center; margin:0px 22px; cursor:pointer;}
.kb_list_li ul li.cur{border-bottom:2px solid #E1100B;}
.kb_list_box{width:260px; overflow:hidden; display:none;}
.kb_list_box ul li{width:260px; overflow:hidden; border-bottom:1px solid #F3F3F3; height:47px; line-height:47px;}
.list_box_l{float:left;}
.list_box_r{float:right;}
.list_box_l span{width:20px; height:20px; background:#C7C7C7; display:inline-block; line-height:20px; text-align:center; color:#fff;}
.list_box_l span.span_col{background:#E30D0F;}
.list_box_l em{font-size:14px;color:#333; margin-left:10px;}
.list_box_l em a{font-size:14px;color:#333;}
.list_box_l em a:hover{font-size:14px;color:#BE120E;}

.list_box_r span{padding:2px 10px; background:#f4f4f4; font-size:12px; color:#888;}
.list_box_r span a {
    color: #888;
    font-size: 12px;
}
/*8f 看图说出*/
.figure_car{padding:20px;}
.figure_car_t{height:30px; border-bottom:2px solid #C41710;}
.figure_car_tl{float:left; width:185px;}
.figure_car_tr{float:right;  height: 24px;width:60px;}
.figure_car_tl p{font-size:16px; color:#666; background:url(../i/figure_bg.png) no-repeat 0 center;  padding-left:43px;}
.figure_car_tr a.a2 {background:url("../i/l_img2.png") no-repeat;float: right;height: 24px;width: 55px; color: #fff;
    display: block;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;}
.figure_car_b ul li{overflow:hidden; border-bottom:1px solid #E5E5E5; height:55px; line-height:55px;}
.figure_car_b ul li span{color: #b81c22;display: inline-block;float: left; font-weight:bold; font-size: 14px;line-height:55px; padding-left:35px;text-align: left;width: 58px;}
.figure_car_list{float:left;}
.figure_car_list a {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    text-align: left;
    width: 95px;
}
.figure_car_box2{padding:20px;}
.figure_car_b{padding:0px 20px;}
.figure_car_list a:hover{color:#b92127;}
.car_voide{width:195px; height:185px; float:left; margin-top:20px; margin-left:15px;}
.car_vo p{background:url(../i/car_v_bg.png) no-repeat 0 center; padding-left:35px;}
.figure_car_tr a.a3{font-size:14px; color:#888; line-height:28px;}  .figure_car_tr a.a3:hover{color:#BE120E;}
.figure_car_voide{padding:0px 25px;}
.car_volid_box{width:193px; height:144px; border:1px solid #E6E6E6;}
.car_voide p{font-size:12px; color:#666; line-height:40px;}
/*新的入驻和车城优惠css样式*/
.new_shop{width:290px; height:435px; float:left;}
.car_discount{width:910px; height:435px; float:left;}
.new_shop_t{width:290px; height:32px; border-bottom:2px solid #BD1D1F;}
.new_shop_t h3{color:#333; font-size:21px;background:url(../i/new_shop_bg.png) no-repeat 0 center; padding-left:35px;}
.new_shop_b{width:288px; overflow:hidden; border:1px solid #DDD;border-top:0px;}

.new_shop_b ul li {
    border-bottom: 1px solid #dedede;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 11px;
    width: 275px;
}
.new_shop_bt{width:277px; overflow:hidden;}
.new_shop_btl{width:80px; height:60px; float:left;}
.new_shop_btr{float:right; width:195px;}
.new_shop_btr p a{font-size:14px; color:#333;}
.new_shop_btr p a:hover{color:#C5171E;}
.new_shop_btr p {padding-top:15px;}
.new_shop_bb p{font-size:12px; color:#666; padding-left:10px; line-height:23px;}
.car_discount_t {width:910px; height:32px; border-bottom:2px solid #BD1D1F;}
.car_discount_t  h3{color:#333; font-size:21px;background:url(../i/discount_bg.png) no-repeat 15px center; padding-left:45px;}

.car_discount_b {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    padding: 5px 0 15px;
    width: 909px;
}
.car_img_width{width:221px; height:373px; float:left; overflow:hidden; margin-left:5px; margin-top:5px;}
.car_volid_box a{display:block;/* background:url(../i/voide_bg.jpg) no-repeat; */ height:144px; width:194px; text-align:center;}
.car_volid_box a img{/* margin-top:5px; */ height:113px;}
.car_volid_bg{display:block; background:url(../i/voide_bg.png) no-repeat; height:144px; width:193px; text-align:center; position:absolute; left:0px; top:0px;}
.new_shop_bb p.pho_red{color:#c01c1c;}
.car_volid_box{position:relative;}
