@media print and (color) {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .nonprintable {
        display: none;
    }
}

.close {
    /* http://stackoverflow.com/questions/10577906/how-to-make-my-click-function-work-with-ios */
    cursor: pointer;
}

.background-red {background-color:#ff0000 !important;}

.white {color:#fff !important;}
.grey {color:#a8a8a8 !important;}
.grey-light {color:#d8d8d8 !important;}
.white {color:#fff !important;}
.red {color:#ff0000 !important;}
.green {color:#398439 !important;}
.blue {color: #0000FF !important;}
.orange {color:orange !important;}

.dashed {border-bottom: dashed 1px;}

ul.notifier {
    margin:0px;
    padding:0;
    list-style-type:none;
    position:fixed;
    z-index:9999999;
    bottom:5px;
    right:5px;
}
ul.notifier li {
    padding: 0px;
    margin: 0px;
}
ul.notifier li .alert {
    min-width:250px;
}

.heading {
    padding: 5px 10px 5px 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}
.heading h1 {
    margin-top: 10px;
    line-height: 1.2;
}
.heading .btn-group-small-right {
    position:absolute;
    top: 8px;
    right: 0px;
}

.table-list-wrapper {border:1px dotted #ddd; padding:5px; background-color: #f7f7f7;}
.table-list-wrapper.table-list-wrapper-top {border-bottom: none;}
.table-list-wrapper.table-list-wrapper-bottom {border-top: none;}
.table-list-wrapper.table-list-wrapper-bt {border-bottom: none;}
.table-list-wrapper.table-list-wrapper-bb {border-top: none;}
.table-list-wrapper.table-list-wrapper-middle {border-top: none; border-bottom: none;}
.table-list-wrapper .pagination {margin:0px;}
.table-list-wrapper .displaying {}
table.table-list {width:100%; border:1px dotted #ddd;}
table.table-list td {border:1px solid #ddd; padding:5px;}
table.table-list thead td {
    border:none; vertical-align:top; background-color: #f7f7f7;
    font-size:80%; color: #a8a8a8;
}
table.table-list thead .sortable {border-bottom: dashed 1px;}
table.table-list thead td.sortable {cursor:pointer; position:relative;}
#sorttable_sortrevind, #sorttable_sortfwdind {display:block; position: absolute; top:0px; right: 3px;}
table.table-list thead td.sortable:hover {background-color:#e8e8e8;}
table.table-list thead td a.active {color:#ff0000;}
/*table.table-list tbody tr:hover {background-color: #f7f7f7;}*/
table.table-list tbody tr:not(.nohover):hover {background-color: #f7e1b5;}
table.table-list td.center {text-align: center;}
table.table-list td.small {font-size: 11px;}
table.table-list tr.colored, table.table-list td.colored {background-color:#f7f7f7;}
table.table-list tr.colored2 {background-color:#D9EDF7;}
table.table-list tr.colored3 {background-color:#d6e9c6;}
table.table-list tr.td-noborders td {border:0px !important;}
table.table-list tr.break {border-top:2px solid #aaa !important;}

table.table-list td.border-left-wide {border-left:3px solid #aaa !important;}
table.table-list td.border-left-narrow {border-left:2px solid #aaa !important;}

table.padding-tiny td,
table.padding-tiny tr,
table.padding-tiny th {
    padding:3px !important;
}

.padding {padding:10px !important;}
.padding-top {padding-top:10px !important;}
.padding-right {padding-right:10px !important;}
.padding-bottom {padding-bottom:10px !important;}
.padding-left {padding-left:10px !important;}

.padding-none {padding:0px !important;}
.padding-top-none {padding-top:0 !important;}
.padding-right-none {padding-right:0 !important;}
.padding-bottom-none {padding-bottom:0 !important;}
.padding-left-none {padding-left:0 !important;}

.padding-tiny {padding: 3px !important;}
.padding-top-tiny {padding-top:3px !important;}
.padding-right-tiny {padding-right:3px !important;}
.padding-bottom-tiny {padding-bottom:3px !important;}
.padding-left-tiny {padding-left:3px !important;}

.padding-small {padding: 5px !important;}
.padding-top-small {padding-top:5px !important;}
.padding-right-small {padding-right:5px !important;}
.padding-bottom-small {padding-bottom:5px !important;}
.padding-left-small {padding-left:5px !important;}

.margin-none {margin:0px !important;}
.margin-top-none {margin-top: 0px !important;}
.margin-right-none {margin-right: 0px !important;}
.margin-bottom-none {margin-bottom: 0px !important;}
.margin-left-none {margin-left: 0px !important;}

.margin {margin:10px !important;}
.margin-top {margin-top: 10px !important;}
.margin-right {margin-right: 10px !important;}
.margin-bottom {margin-bottom: 10px !important;}
.margin-left {margin-left: 10px !important;}

.margin-small {margin: 5px !important;}
.margin-top-small {margin-top: 5px !important;}
.margin-right-small {margin-right: 5px !important;}
.margin-bottom-small {margin-bottom: 5px !important;}
.margin-left-small {margin-left: 5px !important;}

.margin-tiny {margin:3px !important;}
.margin-top-tiny {margin-top: 3px !important;}
.margin-right-tiny {margin-right: 3px !important;}
.margin-bottom-tiny {margin-bottom: 3px !important;}
.margin-left-tiny {margin-left: 3px !important;}

.adtargeting-entity {position:relative;}
.adtargeting-entity .close-box {position:absolute; top:3px; right:5px;}
.adtargeting-entity-heading {font-weight:bold; border-bottom:1px dotted #ddd; margin-bottom:10px;}
.adtargeting-entity-line {margin-top:10px;}
ul.adtargeting-list {list-style-type:none; margin:0px; padding:0px;}
ul.adtargeting-list li {float:left; padding:0px 10px 0px 10px; border-left: 1px solid #ddd;}
ul.adtargeting-list li:first-child {border-left:0px;}

table.table-form {border:none;}
table.table-form td.td-label {padding-right:10px;}
table.table-form td {padding-bottom:5px; border:none;}
table.table-form tr:hover td {background-color:#fff !important;}

.bg-active {background-color:#468847;}   /*see .alert-success*/
.bg-inactive {background-color:#d43f3a;} /*see .alert-danger*/
.bg-pause  {background-color:#3a87ad;}   /*see .alert-info*/




.campaign-rates-inline {font-weight:bold;}
.campaign-rates-item {}


.flag {
    width: 16px;
    height: 11px;
    background:url(/img/flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}

table#adDuplicateTable object {max-width: 100%; max-height: 100%}

/** SEARCH START **/

.search-modal {
    z-index: 2000;
}

.search-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.search-modal .modal-content img {
    margin-bottom: 30px;
}

.search-modal .modal-content .item-details {
    margin: 30px 0;
}

.search-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.search-modal .close-modal:hover {
    opacity: .3;
}

.search-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search-input {
    margin: 10px;
}

.search-result-item {
    margin: 15px 0;
    border-top: 1px dashed #E7EAEC;
    border-bottom: 1px dashed #E7EAEC;
}
.search-result-item.selected {
    border-color: #5cb85c;
    border-width: 2px;
}

.search-result-body {
    margin: 5px 10px;
}

.search-result-body label {
    margin-right: 5px;
}

.search-result-body h4 {
    margin-bottom: 0;
}

.search-result-list h3.not-found {
    margin: 10px;
    color: #A9A9A9;
}

.search-desc {
    margin: 0;
}

.search-result-body p {
    font-size: 12px;
}

.highlight {
    background-color:#FFFF00;
}

#scroll-loader {
    text-align: center; margin: 5px 0px;
    display: none;
}

#scroll-loader span {
    font-size: 30px;
}

.panelSearchNav.selected {
    background: #2cc2d4;
}

/** SEARCH FINISH **/

.pubQSZoneTypeBox:hover {
    background-color:#f1f1f1;
}

/** SELFSERVICE START **/

.drop-box {
    background: #F5F5F5;
    border:2px dashed #ccc;
    /*width: 200px;*/
    text-align: center;
    padding: 20px 0px;
}
.drop-box:hover,.dragover  {
    color: #337AB7;
    border-color: #337AB7;
}

.week_hour_table * {
    padding:0px !important;
    margin:0px !important;
}

.week_hour_table td, .week_hour_table tr {
    padding:0px !important;
    margin:0px !important;
}
.week_hour_table, .week_hour_table td, .week_hour_table tr, .week_hour_table .th {
    border-collapse:collapse !important;
}

.week_hour_table .title_hour_box_collection {
    clear:both;
    text-align: center;
}

.week_hour_table *[data-day="all"] {
    background-color:#ebebeb !important;
}
.week_hour_table *[data-hour="all"] {
    background-color:#ebebeb !important;
}

.week_hour_table thead * {
    font-weight: normal !important;
}

.week_hour_table .title_hour_box {
    width: 25px;
    height: 25px;
    margin-left:1px !important;
    display: inline-block;
}

.week_hour_table .hour_box_collection {
    clear:both;
    text-align: center;
}

.week_hour_table .hour_box {
    width: 25px;
    height: 25px;
    margin-left:1px  !important;
    background-color: #d1d1d1;
    display: inline-block;
}

.week_hour_table .hour_box:hover {
    cursor: pointer;
}

.week_hour_table .day_targeting_selected {
    background-color: #4cae65;
}

.week_hour_table .all_day_container td:first-child {
    padding-right:5px !important;
    text-align: right;
}

.week_hour_table .day_container td:first-child {
    padding-right:5px !important;
    text-align: right;
}

.day_parting_panel .clock_section {
    float: left;
    margin-bottom: 10px;
}

.day_parting_panel .timezone_section {
    float: right;
    margin-bottom: 10px;
}
/** SELFSERVICE END **/


/* NAV TREE LEFT */
.nav-tree-container {
    background-color: #F7F7F7;
}

.nav-tree {
    margin-bottom: 0;
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-tree .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    /*line-height: 20px;*/
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

}
.nav-tree .nav-header a {
    color: #999999;
}

.nav-tree .not-active {
    display: none;
}

.nav-tree>li>a {
    padding: 3px 15px;
}

.nav-tree .nav-tree-list {
    list-style-type: none;
    padding: 0;

}

.nav-tree .nav-tree-list li {
    padding: 5px 0px 5px 30px;
}
.nav-tree .nav-tree-list li.active {
    text-decoration: none;
    background-color: #E7E7E7;
}
.nav-tree .nav-tree-list li:hover {
    text-decoration: none;
    background-color: #E7E7E7;
}
/* NAV TREE LEFT END */

.bottom-left-2px {
    position:fixed;
    bottom: 2px;
    left: 2px;
    padding: 10px;
}

.bottom-right {
    position:fixed;
    bottom: 5%;
    right: 5%;
    padding: 10px;
}

.grey-box {
    margin-top: 100px;
    padding: 10px;
    background-color: #F7F7F7;
}

.input-checkbox-big {
    width:20px;
    height:20px;
}

.scrollbar {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
