body {
    background-color: #eee;
    margin:           0;
    padding:          20px 50px;
    color:            #595959;
    font-family:      Verdana, Tahoma, Arial, Helvetica;
    font-size:        14px;
    font-style:       normal;
    font-weight:      normal;
}

form, pre {
    padding: 0;
    margin: 0;
}

a {
    text-decoration:   underline;
}
a:hover {
    text-decoration:   none;
}

#upload_box {
    border: 1px dashed #595959;
    padding: 20px;
}

#upload_form {
    padding-top: 20px;
}

.error {
    color: #a00;
}

.done {
    color: #0a0;
}

