﻿@charset "UTF-8";

/* CSS Document */

@media (max-width: 1700px) {}
@media (max-width: 1490px) and (min-width: 1290px){
    body.fixed-ad-active .container {
    width: 970px;
}
    body.fixed-ad-active .copy-right{display: none;}
    body.fixed-ad-active .date {
    display: none;
}

   body.fixed-ad-active .video-news-title > span {
    font-size: 14px;
}

body.fixed-ad-active a.article-block p {
    display: none;
}

body.fixed-ad-active a.article-block span {
    width: calc(100% - 42px);
}

.fixed-ad-active .topstory-news a > span {
    height: 82px;
}

.fixed-ad-active .gallery-img {
    height: 180px;
}

.fixed-ad-active div#gallery-section .gallery-img {
    height: 108px;
} 
}
@media (max-width: 1200px) {
    ul#topstorySlider li {
        height: auto !important;
    }
    ul.lSPager.lSGallery {
        display: none;
    }
    .lSSlideOuter.vertical {
        padding-right: 0px !important;
    }
    div#gallery-section .gallery-img {
        height: 176px;
    }
}
@media (max-width: 1290px) {
    .fixed-ads{display: none !important;}
}
@media (max-width: 992px) {
    .topstory-arrow-r,
    .video-arrow-r {
        right: 10px;
        top: 40%;
    }
    .topstory-arrow-l,
    .video-arrow-l {
        left: 10px;
        top: 40%;
    }
    div#gallery-section .gallery-img {
        height: 206px;
    }
}
@media (max-width: 850px) {}
@media (max-width: 560px) {
    div#gallery-section .gallery-img {
    height: 332px;
}
}
@media (max-width: 767px) {
    .video-news-date {
        display: none;
    }
    .topstory-block-title {
        position: static;
    }
}
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 991px) {
    .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
@media only screen and (max-width: 767px) {
    
    ul.nav.navbar-nav li:first-child {
        display: none;
    }
    ul#topstorySlider li {
        height: auto !important;
    }
    ul.lSPager.lSGallery {
        display: none;
    }
    .lSSlideOuter.vertical {
        padding-right: 0px !important;
    }
    .topstory-text-area {
    position: static;
    background: #9f2042;
}
}
@media only screen and (max-width: 443px) {
    div#gallery-section .gallery-img {
    height: 212px;
}
    
}
@media (min-width: 992px) {
    .navbar-toggle {
        display: none !important;
    }
}
