﻿@charset "utf-8";

/* CSS Document */

body {
    font-family: 'Droid Arabic Naskh', serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0 none;
}
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
span,
img,
li,
div,
h3,
h4,
a,
*:before {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

/**margin**/

.margin-top {
    margin-top: 10px !important;
}
.margin-bottom {
    margin-bottom: 20px !important;
}
.margin-top2 {
    margin-top: 10px !important;
}
.margin-top3 {
    margin-top: 10px !important;
}
.margin-bottom2 {
    margin-bottom: 20px !important;
}
.margin-top5 {
    margin-top: 50px !important;
}
.margin-left {
    margin-left: 10p !importantx;
}
.test0 {
    background: #f00;
    height: 200px !important;
}
.test1 {
    background: #19b5fe;
    height: 90px !important;
}