.featured-area {
  float: right;
  width: 100%;
  padding: 15px 0;
}

#main-slider {
  width: 100%;
  height: 505px;
  direction: ltr;
}

.rsDefault .rsArrow .rsArrowIcn {
  border-radius: 0;
  border: 0;
  background-color: transparent;
}

.feature-slider {
  margin-bottom: 15px;
}

.feature-slider .rsImg {
  width: 100%;
  height: auto;
  margin-top: 0 !important;
}

@media (max-width: 768px) {
  .feature-slider .rsImg {
    width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
  }
}

.feature-slider .rsTmb {
  width: 100%;
  height: 74px;
  padding: 10px 0px 10px 10px;
}

.feature-slider .rsABlock {
  width: 100%;
  height: 187px;
  background-color: #2b2d42;
  position: relative;
}

.feature-slider .rsThumbs {
  width: 270px;
  width: 260px;
  float: left;
}

.feature-slider .rsThumbs .rsThumb {
  width: 260px;
  padding: 0;
  width: 260px;
  height: 74px;
  border-bottom: 1px solid #282924;
  position: relative;
  direction: rtl;
}

.feature-slider .rsThumbs .rsThumb:after {
  content: '';
  position: absolute;
  right: -10px;
  width: 10px;
  height: 74px;
  top: 0;
  background-color: #fff;
}

.feature-slider .rsThumbs .rsThumb .img {
  position: absolute;
  width: 120px;
  right: 5px;
  height: 68px;
  top: 10px;
}

.feature-slider .rsThumbs .rsThumb .img img {
  width: 100%;
  height: auto;
  opacity: 1 !important;
  border: 2px solid #fff;
}

.feature-slider .rsThumbs .rsThumb .txt {
  float: right;
  width: 100%;
  padding-right: 105px;
  font-weight: bold;
  line-height: 16px;
  overflow: hidden;
  font-size: 14px;
  height: 53px;
}

.feature-slider .rsThumbs .rsThumb:hover {
  background: #2b2d42;
}

.feature-slider .rsThumbs .rsThumb.rsNavSelected {
  background-color: #fff;
}

.feature-slider .rsThumbs .rsThumb.rsNavSelected:after {
  background-color: #2b2d42;
}

.feature-slider .rsThumbs .rsThumb.rsNavSelected .txt {
  color: #2b2d42;
}

.feature-slider .rsThumbs .rsThumb.rsNavSelected .img img {
  border: 2px solid #2b2d42;
}

@media (max-width: 767px) {
  .feature-slider .rsThumbs {
    width: 100%;
    height: 74px;
  }
  .feature-slider .rsThumbs .rsThumb {
    height: 74px !important;
    width: 100px;
  }
}

.feature-slider .rsABlock {
  float: right;
  width: 100%;
  direction: rtl;
  display: block !important;
}

.feature-slider .rsABlock .overlay {
  position: relative;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #2b2d42;
  padding: 10px 0px 0px 5px;
  transition: 0.35s;
}

.feature-slider .rsABlock .overlay:before {
  content: "\f0d8";
  position: absolute;
  top: -20px;
  right: 26px;
  color: #2b2d42;
  width: 26px;
  height: 24px;
  text-align: center;
  text-shadow: none;
  transition: 0.35s;
  font: normal normal normal 48px/24px FontAwesome;
}

.feature-slider .rsABlock .overlay .txt-block {
  float: right;
  width: 100%;
  padding-right: 35px;
  position: relative;
  color: #fff;
  font-weight: bold;
}

.feature-slider .rsABlock .overlay .txt-block:before {
  content: "\f100";
  position: absolute;
  background-color: #221e1e;
  right: 0px;
  color: #fff;
  width: 26px;
  height: 24px;
  text-align: center;
  font: normal normal normal 18px/24px FontAwesome;
}

.feature-slider .rsABlock .overlay .txt-block p {
  margin-bottom: 5px;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .feature-slider .rsABlock .overlay .txt-block p {
    font-size: 16px;
    height: 56px;
    overflow: hidden;
  }
}

.feature-slider .rsABlock .overlay .txt-block .desc {
  float: right;
  width: 100%;
  max-height: 42px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .feature-slider .rsABlock .overlay .txt-block .desc {
    display: none;
  }
}

.feature-slider .rsABlock .overlay .post-cat {
  float: right;
  width: 100%;
  margin-top: 10px;
  background-color: #3e3e3e;
  padding: 5px 15px;
}

.feature-slider .rsABlock .overlay .post-cat .cat-name {
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  background-color: #3e3e3e;
  float: left;
  line-height: 1;
  margin-left: 5px;
  padding: 3px 5px;
  display: inline-block;
}

.feature-slider .rsABlock .overlay .post-cat .time {
  float: right;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

@media (max-width: 768px) {
  .feature-slider .rsABlock {
    position: absolute;
    bottom: 0;
    height: auto;
    top: auto;
  }
}

.top-slider {
  height: 380px;
  background-color: #3e3e3e;
  float: right;
  width: 100%;
  min-height: 250px;
}

.top-slider .rsImg {
  width: 100%;
  height: auto;
  margin-top: 0 !important;
}

@media (max-width: 768px) {
  .top-slider .rsImg {
    width: 100% !important;
    height: auto !important;
    margin-left: 0 !important;
  }
}

.top-slider .sp-thumbnail-image-container {
  width: 100px;
  height: 82px;
  overflow: hidden;
  float: right;
  position: relative;
  text-align: center;
}

.top-slider .sp-thumbnail-image-container:before {
  content: '\f01d';
  width: 30px;
  height: 28px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 100;
  color: #fff;
  font: normal normal normal 24px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.7;
}

.top-slider .sp-thumbnail-image {
  height: 100%;
  width: auto !important;
}

.top-slider .rsNavSelected .rsTmb {
  background-color: #3e3e3e;
}

.top-slider .sp-thumbnail-text {
  width: 140px;
  float: right;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
  padding: 5px;
  background-color: transparent;
  box-sizing: border-box;
}

.top-slider .layer-icn {
  z-index: 1000;
  font-size: 86px;
  text-align: center;
  color: #fff;
  opacity: 0.4 !important;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-slider .rsTmb {
  width: 100%;
  height: 74px;
  padding: 0;
  background-color: #2b2d42;
}

.top-slider .rsABlock {
  width: 100%;
  position: relative;
}

.top-slider .rsABlock .sp-red {
  color: #FFF;
  font-size: 16px !important;
  font-weight: bold;
  float: right;
  width: auto;
  display: inline-block;
  top: auto !important;
  white-space: normal !important;
  padding: 5px !important;
  height: auto !important;
  bottom: 15px !important;
}

.top-slider .rsABlock .sp-red .txt-color {
  background-color: #2b2d42;
  line-height: 1.3;
  padding: 3px;
}

.top-slider .rsThumbs {
  width: 270px;
  width: 260px;
  float: left;
}

.top-slider .rsThumbs .rsThumb {
  width: 260px;
  padding: 0;
  width: 260px;
  height: 74px;
  border-bottom: 1px solid #282924;
  position: relative;
  direction: rtl;
}

.top-slider .rsThumbs .rsThumb:after {
  content: '';
  position: absolute;
  right: -10px;
  width: 10px;
  height: 74px;
  top: 0;
  background-color: #fff;
}

.top-slider .rsThumbs .rsThumb .img {
  position: absolute;
  width: 90px;
  right: 5px;
  height: 53px;
  top: 10px;
}

.top-slider .rsThumbs .rsThumb .img img {
  width: 100%;
  height: auto;
  opacity: 1 !important;
  border: 2px solid #fff;
}

.top-slider .rsThumbs .rsThumb .txt {
  float: right;
  width: 100%;
  padding-right: 105px;
  font-weight: bold;
  line-height: 16px;
  overflow: hidden;
  font-size: 14px;
  height: 53px;
}

.top-slider .rsThumbs .rsThumb:hover {
  background: #2b2d42;
}

.top-slider .rsThumbs .rsThumb.rsNavSelected {
  background-color: #fff;
}

.top-slider .rsThumbs .rsThumb.rsNavSelected:after {
  background-color: #2b2d42;
}

.top-slider .rsThumbs .rsThumb.rsNavSelected .txt {
  color: #2b2d42;
}

.top-slider .rsThumbs .rsThumb.rsNavSelected .img img {
  border: 2px solid #2b2d42;
}

@media (max-width: 767px) {
  .top-slider .rsThumbs {
    width: 100%;
    height: 74px;
  }
  .top-slider .rsThumbs .rsThumb {
    height: 74px !important;
    width: 100px;
  }
}

.top-slider .rsABlock {
  float: right;
  width: 100%;
  direction: rtl;
  display: block !important;
}

.top-slider .rsABlock .overlay {
  position: relative;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #2b2d42;
  padding: 10px 0px 0px 5px;
  transition: 0.35s;
}

.top-slider .rsABlock .overlay:before {
  content: "\f0d8";
  position: absolute;
  top: -20px;
  right: 26px;
  color: #2b2d42;
  width: 26px;
  height: 24px;
  text-align: center;
  text-shadow: none;
  transition: 0.35s;
  font: normal normal normal 48px/24px FontAwesome;
}

.top-slider .rsABlock .overlay .txt-block {
  float: right;
  width: 100%;
  padding-right: 35px;
  position: relative;
  color: #fff;
}

.top-slider .rsABlock .overlay .txt-block:before {
  content: "\f100";
  position: absolute;
  background-color: #221e1e;
  right: 0px;
  color: #fff;
  width: 26px;
  height: 24px;
  text-align: center;
  font: normal normal normal 18px/24px FontAwesome;
}

.top-slider .rsABlock .overlay .txt-block p {
  margin-bottom: 5px;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .top-slider .rsABlock .overlay .txt-block p {
    font-size: 16px;
    height: 56px;
    overflow: hidden;
  }
}

.top-slider .rsABlock .overlay .txt-block .desc {
  float: right;
  width: 100%;
  max-height: 42px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .top-slider .rsABlock .overlay .txt-block .desc {
    display: none;
  }
}

.top-slider .rsABlock .overlay .post-cat {
  float: right;
  width: 100%;
  margin-top: 10px;
  background-color: #3e3e3e;
  padding: 5px 15px;
}

.top-slider .rsABlock .overlay .post-cat .cat-name {
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  background-color: #3e3e3e;
  float: left;
  line-height: 1;
  margin-left: 5px;
  padding: 3px 5px;
  display: inline-block;
}

.top-slider .rsABlock .overlay .post-cat .time {
  float: right;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

@media (max-width: 768px) {
  .top-slider .rsABlock {
    position: absolute;
    bottom: 0;
    height: auto;
    top: auto;
  }
}

.slider-sm {
  float: right;
  width: 100%;
}

.slider-sm .rsABlock,
.slider-sm .rsSBlock {
  top: auto;
  position: relative;
  float: left;
  width: 100%;
  z-index: 15;
  display: block !important;
  direction: rtl;
  padding: 10px;
  color: #fff;
  height: 57px;
}

.slider-sm .rsABlock .txt-block,
.slider-sm .rsSBlock .txt-block {
  font-size: 16px;
  font-family: 'gem';
}

.slider-sm .rsABlock .txt-block .time,
.slider-sm .rsSBlock .txt-block .time {
  font-size: 12px;
  position: absolute;
  top: -20px;
  height: 20px;
  border-top-right-radius: 13px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  padding: 0 5px;
  line-height: 20px;
  display: none;
}

.slider-sm .rsABlock .fa-angle-double-left,
.slider-sm .rsSBlock .fa-angle-double-left {
  background-color: #2b2d42;
  color: #fff;
  padding: 0 5px;
  line-height: 1.2;
}

.slider-sm .rsImg {
  width: 100%;
  height: auto;
  margin-top: 0 !important;
  float: left;
}

.slider-sm .rsThumbs {
  height: auto;
  margin-top: 10px;
  background: #1f1f1f;
}

.slider-sm .rsThumbs .rsThumb {
  padding: 10px 5px;
  width: 114px;
  height: auto;
  position: relative;
  direction: rtl;
}

.slider-sm .rsThumbs .rsThumb .img {
  text-align: center;
}

.slider-sm .rsThumbs .rsThumb .img img {
  width: 100%;
  height: auto;
  opacity: 1 !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.slider-sm .rsThumbs .rsThumb .txt {
  float: right;
  width: 100%;
  padding: 5px;
  height: 70px;
  overflow: hidden;
  color: #fff;
}

.slider-sm .rsThumbs .rsThumb.rsNavSelected {
  background-color: #2b2d42;
  position: relative;
  /* &:after {
                     position: absolute;
                     content: "";
                     top: -10px;
                     right: 40%;
                     left: 50%;
                     width: 0;
                     height: 0;
                     border-left: 10px solid transparent;
                     border-right: 10px solid transparent;
                     border-bottom: 10px solid $brand-primary;
                 }*/
}

.slider-sm.slider-v .rsABlock,
.slider-sm.slider-v .rsSBlock {
  height: auto;
}

.slider-sm.slider-v .rsABlock > h2,
.slider-sm.slider-v .rsSBlock > h2 {
  position: absolute;
  top: -39px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 10px;
  margin-right: -10px;
  margin-left: -10px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-sm.slider-v .rsABlock > h2,
  .slider-sm.slider-v .rsSBlock > h2 {
    position: relative;
    float: right;
    top: auto;
  }
}

.slider-sm.slider-v .rsABlock > .time,
.slider-sm.slider-v .rsSBlock > .time {
  position: absolute;
  top: -61px;
  left: 10px;
  border-radius: 20px;
  background-color: #333;
  padding: 0 5px;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-sm.slider-v .rsABlock > .time,
  .slider-sm.slider-v .rsSBlock > .time {
    top: -20px;
  }
}

.slider-sm.slider-v .rsABlock .txt-block,
.slider-sm.slider-v .rsSBlock .txt-block {
  font-family: 'gel';
  height: 100px;
  font-size: 15px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-sm.slider-v .rsABlock .txt-block,
  .slider-sm.slider-v .rsSBlock .txt-block {
    height: 92px;
  }
}

.slider-sm.slider-v .rsThumbsVer {
  width: 140px;
}

@media (min-width: 1300px) {
  .slider-sm.slider-v .rsThumbsVer {
    width: 180px;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .slider-sm.slider-v .rsThumbsVer {
    display: none;
    width: 0;
  }
}

.slider-sm.slider-v .rsThumbs {
  margin-top: 0;
}

.slider-sm.slider-v .rsThumbs .rsThumb {
  width: 100%;
  padding: 0 3px;
}

.slider-sm.slider-v .rsThumbs .rsThumb.rsNavSelected {
  background-color: #2b2d42;
  position: relative;
  /* &:after {
                         position: absolute;
                         content: "";
                         top: 40%;
                         right: -20px;
                         width: 0;
                         height: 0;
                         border-top: 10px solid transparent;
                         border-bottom: 10px solid transparent;
                         border-left: 10px solid $brand-primary;
                     }*/
}

.slider-sm.slider-v.slider-main {
  background-color: #000;
}

.slider-sm.slider-v.slider-main .rsSBlock,
.slider-sm.slider-v.slider-main .rsABlock {
  padding: 0;
}

.slider-sm.slider-v.slider-main .rsSBlock .txt-block,
.slider-sm.slider-v.slider-main .rsABlock .txt-block {
  height: 137px;
}

.slider-sm.slider-v.slider-main .rsSBlock .txt-block h2,
.slider-sm.slider-v.slider-main .rsABlock .txt-block h2 {
  background-color: #2b2d42;
  position: relative;
  top: 0;
  float: right;
  width: 100%;
  margin: 0;
  font-size: 16px;
  padding: 10px;
}

.slider-sm.slider-v.slider-main .rsSBlock .txt-block p,
.slider-sm.slider-v.slider-main .rsABlock .txt-block p {
  height: 48px;
  font-size: 14px;
  overflow: hidden;
  float: right;
  padding: 10px;
}

.slider-sm.slider-v.slider-main .rsSBlock .txt-block .cat,
.slider-sm.slider-v.slider-main .rsABlock .txt-block .cat {
  float: right;
  height: 24px;
  padding: 0 5px;
  border-radius: 25px;
  background-color: #2b2d42;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  margin-right: 20px;
}

.slider-sm.slider-v.slider-main .rsSBlock .txt-block .time,
.slider-sm.slider-v.slider-main .rsABlock .txt-block .time {
  float: right;
  position: relative;
  top: 0;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
}

.slider-sm.slider-v.slider-main .rsThumbsVer {
  width: 272px;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb {
  height: 66px;
  background-color: #333;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb.rsNavSelected {
  position: relative;
  background-color: #2b2d42;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb.rsNavSelected:after {
  display: none;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb.rsNavSelected .rsTmb {
  /* &:after {
                                 position: absolute;
                                 content: "";
                                 top: 40%;
                                 right: -12px;
                                 width: 0;
                                 height: 0;
                                 border-top: 10px solid transparent;
                                 border-bottom: 10px solid transparent;
                                 border-left: 10px solid $brand-primary;
                             }*/
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb .rsTmb {
  float: right;
  width: 100%;
  position: relative;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb .img {
  float: right;
  height: 66px;
  width: 117px;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb .img img {
  height: 66px;
  width: auto;
}

.slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb .txt {
  float: right;
  width: calc(100% - 117px);
  height: 66px;
  padding: 5px;
  background-color: transparent;
  color: #fff;
}

@media (min-width: 460px) and (max-width: 768px) {
  .slider-sm.slider-v.slider-main .rsThumbsVer {
    width: 117px !important;
  }
  .slider-sm.slider-v.slider-main .rsThumbsVer .rsThumb .txt {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .slider-sm.slider-v.slider-main .rsThumbsVer {
    display: none;
    width: 0;
  }
}

.slider-sm.slider-v.slider-wide .rsABlock,
.slider-sm.slider-v.slider-wide .rsSBlock {
  /*   position: absolute;
    left: 40px;
      top: 280px;
    width: 395px;
    z-index: 100;
    float: none;
    height: auto;
    z-index: 1212;
    background-color: rgba($brand-primary, 0.7);
    border-top-right-radius: 30px;
    padding: 10px 15px;
    
*/
  float: right;
  width: 90%;
  margin-right: 10%;
  padding-left: 50px;
  position: relative;
  top: auto;
  left: auto;
  margin-top: -80px;
  background-color: rgba(62, 62, 62, 0.9);
  border-right: 10px solid #2b2d42;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-sm.slider-v.slider-wide .rsABlock,
  .slider-sm.slider-v.slider-wide .rsSBlock {
    float: right;
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
  }
}

.slider-sm.slider-v.slider-wide .rsABlock .txt-block,
.slider-sm.slider-v.slider-wide .rsSBlock .txt-block {
  height: auto;
}

.slider-sm.slider-v.slider-wide .rsABlock .txt-block h2,
.slider-sm.slider-v.slider-wide .rsSBlock .txt-block h2 {
  margin: 0;
  font-size: 18px;
  float: right;
  width: 100%;
  background: transparent;
}

.slider-sm.slider-v.slider-wide .rsABlock .txt-block p,
.slider-sm.slider-v.slider-wide .rsSBlock .txt-block p {
  font-size: 14px;
  font-family: 'gel', 'Myriad pro';
  float: right;
  width: 100%;
  height: 36px;
  overflow: hidden;
  display: none;
}

.slider-sm.slider-v.slider-wide .rsABlock .txt-block .time,
.slider-sm.slider-v.slider-wide .rsSBlock .txt-block .time {
  float: right;
  position: relative !important;
  top: 0;
  border-radius: 20px;
  display: none;
}

.slider-sm.slider-v.slider-wide .rsABlock .txt-block .cat,
.slider-sm.slider-v.slider-wide .rsSBlock .txt-block .cat {
  display: none;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer {
  width: 272px;
}

@media (min-width: 992px) {
  .slider-sm.slider-v.slider-wide .rsThumbsVer {
    width: 293px;
  }
}

@media (min-width: 1200px) {
  .slider-sm.slider-v.slider-wide .rsThumbsVer {
    width: 360px;
  }
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb {
  height: 66px;
  background-color: #333;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb.rsNavSelected {
  position: relative;
  background-color: #2b2d42;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb.rsNavSelected:after {
  display: none;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb.rsNavSelected .rsTmb {
  /* &:after {
                                 position: absolute;
                                 content: "";
                                 top: 40%;
                                 right: -12px;
                                 width: 0;
                                 height: 0;
                                 border-top: 10px solid transparent;
                                 border-bottom: 10px solid transparent;
                                 border-left: 10px solid $brand-primary;
                             }*/
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .rsTmb {
  float: right;
  width: 100%;
  position: relative;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .img {
  float: right;
  height: 66px;
  width: 117px;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .img img {
  height: 66px;
  width: auto;
}

.slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .txt {
  float: right;
  width: calc(100% - 117px);
  height: 66px;
  padding: 5px;
  background-color: transparent;
  color: #fff;
}

@media (min-width: 1200px) {
  .slider-sm.slider-v.slider-wide .rsThumbsVer {
    width: 360px;
  }
  .slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb {
    height: 100px;
  }
  .slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .img {
    height: 100px;
    width: 177px;
  }
  .slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .img img {
    height: 100px;
    width: auto;
  }
  .slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .txt {
    width: calc(100% - 177px);
    height: 100px;
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (min-width: 460px) and (max-width: 768px) {
  .slider-sm.slider-v.slider-wide .rsThumbsVer {
    width: 117px !important;
  }
  .slider-sm.slider-v.slider-wide .rsThumbsVer .rsThumb .txt {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 460px) {
  .slider-sm.slider-v.slider-wide .rsThumbsVer {
    display: none;
    width: 0;
  }
}

.slider-sm.slider-v.slider-wide.thumbs-r .rsThumbsVer {
  left: auto;
  right: 0;
}

.slider-sm.slider-v.slider-wide.thumbs-r .rsOverflow {
  float: left;
}

.col-md-6 .slider-lg-h .rsThumbs .rsThumb, .col-md-8 .slider-lg-h .rsThumbs .rsThumb {
  width: 180px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-6 .slider-lg-h .rsThumbs .rsThumb, .col-md-8 .slider-lg-h .rsThumbs .rsThumb {
    width: 195px;
  }
}

@media (min-width: 1290px) and (max-width: 1490px) {
  .col-md-6 .slider-lg-h .rsThumbs .rsThumb, .col-md-8 .slider-lg-h .rsThumbs .rsThumb {
    width: 195px;
  }
}

.slider-lg-h {
  margin-bottom: 12px;
}

.slider-lg-h .rsABlock,
.slider-lg-h .rsSBlock {
  /*   position: absolute;
    left: 40px;
      top: 280px;
    width: 395px;
    z-index: 100;
    float: none;
    height: auto;
    z-index: 1212;
    background-color: rgba($brand-primary, 0.7);
    border-top-right-radius: 30px;
    padding: 10px 15px;
    
*/
  float: right;
  width: 90%;
  margin-right: 10%;
  padding-left: 50px;
  position: relative;
  top: auto;
  left: auto;
  margin-top: -80px;
  background-color: rgba(62, 62, 62, 0.9);
  border-right: 10px solid #2b2d42;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-lg-h .rsABlock,
  .slider-lg-h .rsSBlock {
    float: right;
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
  }
}

.slider-lg-h .rsABlock .txt-block h2,
.slider-lg-h .rsSBlock .txt-block h2 {
  margin: 0;
  font-size: 18px;
  float: right;
  width: 100%;
}

.slider-lg-h .rsABlock .txt-block p,
.slider-lg-h .rsSBlock .txt-block p {
  font-size: 14px;
  font-family: 'gel', 'Myriad pro';
  float: right;
  width: 100%;
  height: 36px;
  overflow: hidden;
}

.slider-lg-h .rsABlock .txt-block .time,
.slider-lg-h .rsSBlock .txt-block .time {
  float: right;
  position: relative !important;
  top: 0;
  border-radius: 20px;
}

.slider-lg-h .rsThumbs {
  margin-top: 0;
}

.slider-lg-h .rsThumbs .rsThumb {
  width: 220px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider-lg-h .rsThumbs .rsThumb .txt {
    display: none;
  }
}

.slider-lg-h.slider-half {
  /*
          @media (min-width: 768px){
           .rsImg {
            width: 70%; 
             border-left:4px solid $brand-red;

           }
           .rsABlock {
            width: 30%;
           }
          }

     @media (min-width: 992px){
           .rsImg {
            width: 60%;
           }
           .rsABlock {
            width: 40%;
           }
          }
 */
}

.slider-lg-h.slider-half .rsSlide {
  background: #f4f4f4;
}

.slider-lg-h.slider-half .rsImg {
  float: right;
  width: 100%;
}

.slider-lg-h.slider-half .rsABlock {
  float: right;
  width: 100%;
  background: #f4f4f4;
  height: auto;
  margin: 0;
  color: #000;
  font-family: "JeFlat";
  padding: 10px;
  border: 0;
}

.slider-lg-h.slider-half .rsABlock .overlay {
  position: relative;
  background: transparent;
}

.slider-lg-h.slider-half .rsABlock .overlay p {
  font-weight: normal;
}

.slider-lg-h.slider-half .rsABlock .overlay .cat, .slider-lg-h.slider-half .rsABlock .overlay .time {
  display: block;
  float: right;
  line-height: 18px;
  background: #2b2d42;
  color: #fff;
  margin: 10px 0;
  border-radius: 0;
  font-size: 14px;
  padding: 0 5px;
}

.slider-lg-h.slider-half .rsABlock .overlay .cat {
  background: #d90429;
}

.slider-lg-h.slider-half .rsABlock .overlay h2, .slider-lg-h.slider-half .rsABlock .overlay p, .slider-lg-h.slider-half .rsABlock .overlay .cat, .slider-lg-h.slider-half .rsABlock .overlay .time {
  height: auto;
}

.slider-lg-h.slider-half .rsABlock .overlay h2 {
  font-size: 20px;
  font-weight: bold;
  color: #d90429;
  font-family: "JeFlat";
  line-height: 26px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .slider-lg-h.slider-half .rsImg {
    width: 70%;
  }
  .slider-lg-h.slider-half .rsABlock {
    width: 30%;
    max-height: 287px;
  }
}

.slider-lg-h.slider-half .rsThumbs {
  background: #d0d0d0;
}

.slider-lg-h.slider-half .rsThumbs .txt {
  color: #2b2d42;
}

.slider-lg-h.slider-half .rsThumbs img {
  border: 1px solid #fff;
}

.slider-lg-h.slider-half .rsThumb.rsNavSelected {
  background: #d90429;
}

.slider-lg-h.slider-half .rsThumb.rsNavSelected .txt {
  color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  #main-slider .rsTmb {
    padding: 6px 8px;
  }
  #main-slider .rsTmb h5 {
    font-size: 12px;
    line-height: 17px;
  }
  #main-slider .rsThumbs.rsThumbsVer {
    width: 100px;
    padding: 0;
  }
  #main-slider .rsThumbs .rsThumb {
    width: 100px;
    height: 47px;
  }
  #main-slider .rsTmb span {
    display: none;
  }
  #main-slider .rsOverflow,
  #main-slider.videoGallery {
    height: 300px !important;
  }
  .sampleBlock {
    font-size: 14px;
  }
}

.slider-sm .rsThumb {
  float: left;
}
