﻿@charset "UTF-8";

/* CSS Document */

@import url("../css/font.css");
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url("../css/reset.css");
.first-nav {
    background: #2196f3;
}

.date,
.time {
    float: right;
    color: #fff;
    padding: 15px 0px;
}

.date span,
.time span {
    float: right;
    margin-left: 10px;
}

.date p,
.time p {
    float: right;
    font-size: 12px;
}

ul.social li:first-child {
    padding-left: 0px;
}
 .social  {
     float: left;
     padding-top: 5px;
 }
 .social   a {
    color: #fff;
    float: right;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 35px;
   border-radius: 50%;
   margin: 0 2px;
}
 .social a:hover {
     background: #2b2d42;
     color#fff;
 }
 .social li {
    float: left;
    padding: 5px;
}

ul.social li:last-child {
    padding-right: 0px;
}

.time {
    margin-right: 20px;
}

.second-nav {
    background: #d90429;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 4px 8px 0px rgba(0, 0, 0, 0.28);
}
.header-ad {
    background: #dcdcdc;
    width: 728px;
    height: 90px;
}
.advertising,
.contact-us {
    float: left;
    color: #fff;
    padding: 15px 0px;
    margin-right: 20px;
}

.advertising span,
.contact-us span {
    float: right;
    margin-left: 10px;
}

.advertising p,
.contact-us p {
    float: right;
    font-size: 12px;
}

.advertising a,
.contact-us a {
    color: #fff;
}

.marquee {
    direction: ltr;
    overflow: hidden;
}

.marquee a strong {
    padding: 0px 20px;
    color: #2b2d42;
}

.marquee a strong {
    padding: 0px 20px;
}

span.important-title {
    display: block;
    float: right;
    color: rgba(255, 138, 128, 0.87);
    padding-left: 10px;
}

.important-news {
    padding: 13px 10px;
    border-right: 1px rgba(255, 255, 255, 0.12) solid;
    border-left: 1px rgba(255, 255, 255, 0.12) solid;
}

.important-news a {
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
}

.leatest-title span {
    background: #2b2d42;
    display: block;
    float: right;
    padding: 8px 20px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font-family: "JeFlat";
}

.leatest-title {
    float: right;
    position: relative;
}

.leatest-title p:first-child {
    display: none;
}

.leatest-title p:first-child:before {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    background: #fff;
    right: 2px;
}

.leatest-title p:last-child {
    display: none;
}

.leatest-title p:last-child:before {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    background: #d32f2f;
    left: 2px;
}

div#leatest-news {
    padding: 6px 0px;
    border-left: 1px #e0e0e0 solid;
    padding-left: 1px;
    padding: 10px 0px;
}

div#leatest-news a {
    color: #fff;
    font-size: 14px;
}

.leatest-news {}

nav.navbar {
    background: #2b2d42;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.navbar-nav li a {
    color: #fff !important;
    text-shadow: initial !important;
    font-size: 15px;
    font-family: "JeFlat";
}

ul.dropdown-menu li a {
    color: #1f1f1f !important;
}

.navbar-toggle {
    margin: 10px auto;
    float: none;
    text-align: center;
}

span.icon-bar {
    background-color: #fff !important;
}

.navbar-toggle {
    border-color: #fff !important;
    display: block;
}

.topstory-news {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.topstory-news-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 6px;
}

.topstory-news-img img {
    border-bottom: 1px #fff solid;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.topstory-news-img p {
    position: absolute;
    bottom: -13px;
    right: 10px;
    background: #2196f3;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.topstory-news a > span {
    display: block;
    font-size: 14px;
    margin-top: 0px;
    padding: 3px 10px;
    height: 88px;
    overflow: hidden;
}

.topstory-news-date {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    display: none;
}

.adplace {
        float: right;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
.ad-area-wide.adplace {margin:0;}
.adplace img { float: right; width: 100%; height: auto;}
div#topstory .item {
    padding: 0px 4px;
    padding-bottom: 5px;
}

.topstory-news-date span {
    float: right;
    color: #d90429;
}

.topstory-news-date p {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.section-header {
    background: #2b2d42;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    float: right;
    width: 100%;
}


.section-header-title {
    float: right;
    font-size: 20px;
    color: #fff;
    padding: 2px 20px;
    font-weight: normal;
    background: #9f2042;
    position: relative;
    font-family: "JeFlat";
}

.section-header p {
    float: right;
    padding: 14px 0px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.54);
    border-right: rgba(255, 255, 255, 0.12) solid 1px;
}

.section-header .fa {
    float: left;
    padding: 2px 0px;
    margin-left: 15px;
    color: #d90429;
}

.topstory-content {
    position: relative;
}

.topstory-arrow-l,
.video-arrow-l {
    position: absolute;
    z-index: 9;
    left: -55px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 12px 16px;
    border-radius: 50%;
    color: #2b2d42;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.topstory-arrow-r,
.video-arrow-r {
    position: absolute;
    z-index: 9;
    right: -55px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 12px 16px;
    border-radius: 50%;
    color: #2b2d42;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.topstory-news:hover {
    background: #9f2042;
}

.topstory-news:hover a > span {
    color: #fff !important;
}

.topstory-news:hover .topstory-news-date span {
    color: #fff !important;
}

.topstory-news:hover .topstory-news-date p {
    color: rgba(255, 255, 255, 0.54);
}

.topstory-news:hover .topstory-news-date {
    border-top: 1px rgba(255, 255, 255, 0.12) solid;
}

.topstory-news:hover .topstory-news-img p {
    background: #d32f2f;
}

.section-header-2 {
    background: #d32f2f;
}

.video-news {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    background: #fff;
}

.video-news-img img {
    border-left: 1px #fff solid;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.video-news-img {
    float: right;
    width: 50%;
    padding-left: 15px;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.video-news-title {
    float: right;
    width: 50%;
}

.video-news-date {
    position: absolute;
    bottom: 0px;
    width: calc(50% + 15px);
    left: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
}

div#video .item {
    padding: 5px 4px;
}

.video-news-title > span {
    display: block;
    font-size: 16px;
    \: 33px;
    padding-left: 10px;
    margin-top: 10px;
    height: 66px;
    overflow: hidden;
}

.video-news-date p {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.video-news-date span {
    float: right;
    color: #d32f2f;
}

.video-content.margin-top3 {
    position: relative;
}

.video-arrow-l {
    color: #d32f2f;
}

.video-arrow-r {
    color: #d32f2f;
}

div#reportes .video-news-img {
    width: 40%;
}

div#reportes .video-news-title {
    width: 60%;
}

div#reportes .video-news-date {
    width: calc(60% + 15px);
}

div#reportes .item {
    padding: 5px;
}

div#reportes .owl-dots {
    text-align: center;
    display: inline-block;
    width: calc(100% - 10px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 0px;
    margin-right: 5px;
    margin-top: 20px;
}

div#reportes .owl-dot {
    text-align: center;
    display: inline-block;
    padding: 0px 5px;
}

div#reportes .owl-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background: #d32f2f;
}

div#reportes .owl-dot.active span {
    background: #2196f3;
}

.reportes-arrow-l {
    position: absolute;
    bottom: 8px;
    z-index: 9;
    display: block;
    cursor: pointer;
    left: 30px;
    color: #d32f2f;
}

.reportes-arrow-r {
    right: 30px;
    position: absolute;
    bottom: 8px;
    z-index: 9;
    display: block;
    cursor: pointer;
    color: #d32f2f;
}

div#reportes .video-news-title span {
    line-height: 24px;
}

div#infograph .item,
#vedio-carousel .item {
    padding: 5px;
}

#gallery-carousel .item {
    padding: 5px;
}

.infograph-arrow-l,
.infograph-arrow-r,
.sidebar-arrow-l,
.sidebar-arrow-r {
    position: absolute;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 12px 16px;
    border-radius: 50%;
    color: #9f2042;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
}

.infograph-arrow-l,
.sidebar-arrow-l {
    left: 30px;
}

.infograph-arrow-r,
.sidebar-arrow-r {
    right: 30px;
}

div#infograph .topstory-news a > span,
#sidebar-carousel .topstory-news a > span {
    margin-top: 20px;
}

div#gallery .item {
    padding: 5px;
}

.gallery-thump {
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    padding-top: 20px;
}

.gallery-thump img {
    float: right !important;
    width: calc(50% - 15px) !important;
    border: 1px #fff solid;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.gallery-thump img:first-child {
    margin-left: 30px;
}

div#gallery .topstory-news-img p {
    background: #d32f2f;
}

div#gallery .topstory-news:hover .topstory-news-img p {
    background: #2196f3;
}

div#gallery .topstory-news:hover {
    background: #d32f2f;
}

div#gallery .topstory-news:hover .gallery-thump {
    border-top: 1px rgba(255, 255, 255, 0.12) solid;
}

div#gallery .owl-dots {
    text-align: center;
    display: inline-block;
    width: calc(100% - 10px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px 0px;
    margin-right: 5px;
    margin-top: 20px;
}

div#gallery .owl-dot {
    text-align: center;
    display: inline-block;
    padding: 0px 5px;
}

div#gallery .owl-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background: #d32f2f;
}

div#gallery .owl-dot.active span {
    background: #2196f3;
}

.gallery-arrow-l {
    position: absolute;
    bottom: 8px;
    z-index: 9;
    display: block;
    cursor: pointer;
    left: 30px;
    color: #d32f2f;
}

.gallery-arrow-r {
    right: 30px;
    position: absolute;
    bottom: 8px;
    z-index: 9;
    display: block;
    cursor: pointer;
    color: #d32f2f;
}

img.img-responsive {
    width: 100%;
}

.small-section .topstory-news a > span {
    margin-top: 5px;
    height: auto !important;
    line-height:1.6;
    font-size: 16px;
    text-align: center;
}

.news-section-4 .topstory-news a > span {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

.section-color-2 .progress-bar {
    background: #d32f2f !important;
}

a.vote-poll {
    margin: auto;
    text-align: center;
    display: block;
    background: #d90429;
    width: 30%;
    padding: 10px 0px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font-size: 16px;
}

a.article-block {
    display: block;
    float: right;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: calc(100% - 33.5px);
    margin-right: 33.5px;
}

a.article-block img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    float: right;
    margin-right: -33.5px;
}

a.article-block span {
    padding: 10px;
    display: block;
    float: right;
    width: calc(100% - 67px);
}

a.article-block p {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #d90429;
    font-family: "JeFlat";
}

footer {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 4px 8px 0px rgba(0, 0, 0, 0.28);
    border-bottom: 4px #2196f3 solid;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 4px 8px 0px rgba(0, 0, 0, 0.28);
}

footer img {
    padding: 12px 0px;
}

span.copy-right {
    font-size: 14px;
    color: #212121;
    padding: 12px 0px;
    float: right;
    display: block;
}


/** hover **/

.section-color-2 .section-header {
    background: #d32f2f;
}

.video-news:hover {
    background: #9f2042;
}
.video-news:hover h3 , .video-news:hover  span ,.video-news:hover  p  {
    color: #fff;
}
.video-news:hover .video-news-title > span {
    color: #fff;
}

.video-news:hover .video-news-date {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.video-news:hover .video-news-date span {
    color: #fff;
}

.video-news:hover .video-news-date p {
    color: rgba(255, 255, 255, 0.54);
}

.section-color-2 .video-news:hover {
    background: #d32f2f;
}

.section-color-2 .topstory-news:hover {
    background: #d32f2f;
}

a.article-block:hover {
    background: #9f2042;
}

a.article-block:hover span {
    color: #fff;
}

a.article-block:hover p {
    color: #fff;
}

.section-color-2 a.article-block:hover {
    background: #d32f2f;
}

a.vote-poll:hover {
    background: #fff;
    color: #d32f2f;
}

.progress-bar {
    background: #9f2042 !important;
    font-family: "JeFlat";
}

.post-details-fild span {
    float: right;
    margin-left: 10px;
    color: #d90429;
}

article {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 5px 5px;
    display: block;
    overflow: hidden;
    margin: 0px 15px;
    padding-bottom: 15px;
}

.post-details-fild p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    float: right;
    font-family: "JeFlat";
}

.post-details .row .col-xs-6:last-child .post-details-fild {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}

.post-details-fild {
    float: right;
    margin-left: 20px;
}

.post-details .row .col-xs-6 .post-details-fild:last-child {
    margin-left: 0px;
}

.post-details .row .col-xs-6:last-child .post-details-fild:last-child {
    margin-right: 0px;
}

figure.post-first-pic {
    display: block;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

figure.post-first-pic img {
    display: block;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

figure.post-first-pic figcaption {
    text-align: center;
    padding: 10px 0px;
    display: block;
    font-family: "JeFlat";
}

.post-text {
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
}

a.logo img {
    width: auto;
}

.video-news-title > p {
    font-size: 14px;
    font-family: tahoma;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 20px;
}

ul.pagination a:hover {
    background: #d32f2f;
    color: #fff;
}

ul.pagination a {
    color: rgba(0, 0, 0, 0.87);
}

ul.social li a span {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

a.topstory-block {
    position: relative;
    display: block;
    overflow: hidden;
}

.lSSlideOuter.vertical {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

a.topstory-block .leatest-title {
    position: absolute;
    top: 10px;
    right: 10px;
}

.topstory-block-title {
    position: absolute;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.topstory ul.lSPager.lSGallery {
    margin-left: 0px !important;
    width: 200px !important;
}

.topstory ul.lSPager.lSGallery li {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    height: 74px !important;
    border-radius: 0px !important;
}

.topstory ul.lSPager.lSGallery li.active {
    background: #2196f3;
}

ul.lSPager.lSGallery li.active span {
    color: #fff;
}

ul.lSPager.lSGallery li span {
    padding: 10px 5px;
    display: block;
}

.topstory a.lSPrev {
    background: url('../png/up.png');
    width: 61px;
    height: 61px;
    display: block;
    float: right;
}

.topstory a.lSNext {
    background: url('../png/down.png');
    width: 61px;
    height: 61px;
    display: block;
    float: right;
}

.topstory .lSAction {
    position: absolute;
    top: 2px;
    left: 2px;
}

.video-news.video-news-big .video-news-img {
    width: 35%;
}

.video-news.video-news-big .video-news-title {
    width: 65%;
}

.infograph .topstory-news-date {
    padding: 15px;
}

.infograph .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.infograph .owl-dot {
    text-align: center;
    display: inline-block;
    padding: 0px 5px;
}

.infograph .owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background: #2b2d42;
}

.infograph .owl-dot.active span {
    background: #9f2042;
}

.video-news.video-news-big .video-news-title > span {
    height: 44px;
}

.topstory-news-img .fa {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: 10px;
    color: #9f2042 !important;
}

.topstory-news.topstory-news-2 a > span {
    height: 44px;
    font-size: 16px;
}

.poll-bg {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 15px ;
  
}
.poll-bg h4 {
    line-height: 28px;
}
span.dev-by {
    text-align: left;
    display: block;
    padding: 11px 0px;
    font-size: 16px;
}

span.dev-by strong {
    color: #d32f2f;
}

.navbar-nav li a:hover,
.navbar-nav li a.active {
    background: #fff !important;
    color: #d32f2f !important;
}

.post-title {
    background: #9f2042;
    padding: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-top: 5px #fff solid;
}

.post-title h1 {
    font-size: 18px;
    color: #fff;
}

span.post-title-border {
    display: none;
}

div#post-arrow-r,
div#post-arrow-l {
    top: 53%;
}

.post-carousel .owl-dots {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.post-carousel .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-flex;
    background: #d32f2f;
    margin: 5px;
}

.post-carousel .owl-dot.active {
    background: #2196f3;
}

.post-carousel-item {
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

span.img-desc {
    position: absolute;
    z-index: 9;
    bottom: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
}

div#post-carousel .item {
    padding: 5px;
}

.topstory2 .lSAction {
    position: absolute;
    top: 2px;
    left: 2px;
}

.topstory2 a.lSPrev {
    background: url('../png/right.png');
    width: 61px;
    height: 61px;
    display: block;
    float: right;
}

.topstory2 a.lSNext {
    background: url('../png/left.png');
    width: 61px;
    height: 61px;
    display: block;
    float: right;
}

.topstory2 ul.lSPager.lSGallery li.active {
    border-radius: 0px !important;
    position: relative;
}

.topstory2 ul.lSPager.lSGallery li.active:before,
.topstory2 ul.lSPager.lSGallery li:hover:before {
    content: "";
    background: rgba(33, 150, 243, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0px !important;
    z-index: 0;
}

.mangers {
    overflow: hidden;
    border-right: 1px rgba(255, 255, 255, 0.12) solid;
    border-left: 1px rgba(255, 255, 255, 0.12) solid;
    padding: 0px 15px;
}

.chief,
.chief-web,
.chairman {
    font-size: 12px;
    color: #fff;
    padding: 6px 0px;
}

.chairman {
    float: right;
    margin-left: 122px;
    text-align: center;
}

.chief strong,
.chief-web strong,
.chairman strong {
    font-size: 10px;
    color: #fff;
}

.chief-web {
    float: right;
    text-align: center;
}

.chief {
    float: left;
    text-align: center;
}

.first-nav .form-group {
    float: right;
    width: 80%;
}

.first-nav button.btn.btn-default {
    float: left;
    width: 20%;
    border-radius: 0px;
    background: #d32f2f;
    border-left: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 34px;
    color: #fff;
    text-shadow: initial;
    border: 0px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 99;
    position: relative;
}

.first-nav form.navbar-form {
    width: 100%;
    /* overflow: hidden; */
    padding: 0px;
    border-radius: 0px !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-color: transparent !important;
    margin: 8px auto !important;
    float: left;
    position: relative;
}

.first-nav .form-group input.form-control {
    border: 0px;
    border-radius: 0px;
    transition: all .5s ease-in-out;
    float: left;
    left: 33px;
    width: 100%;
}

.time a {
    color: #fff;
}

.time i {
    float: right;
    margin-right: 5px;
}

.time a.collapsed.collapsed-close i.fa.fa-times {
    display: none;
}

.radio-player audio {
    display: block;
    margin: 10px auto;
}

body.fixed-header .second-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

.gallery-img {
    position: relative;
    height: 218px;
}

.gallery-img img {
    position: absolute;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    transform: rotate(5deg);
}

.gallery-img img:last-child {
    transform: rotate(-5deg);
}

.gallery-block span {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.gallery-block {
    margin-top: 30px;
}

.gallery-img i {
    position: absolute;
    z-index: 99;
    color: #fff;
    top: 10px;
    right: 20px;
}

.gallery-block:hover .gallery-img img {
    transform: rotate(0deg);
}

.gallery-block:hover span {
    background: #2196f3;
    color: #fff;
}

.last-vedio-title {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.topstory-news p.sec {
    text-align: center;
    background: #d32f2f;
    color: #fff;
    padding: 5px 0px;
}

.post-title h1 span {
    font-size: 20px;
    padding-left: 10px;
}

.first-nav .form-control:focus {
    position: absolute;
    width: 300px !important;
}

.fixed-header-2 nav.navbar.navbar-default.margin-top {
    position: fixed;
    width: 100%;
    top: 42px;
    z-index: 999;
    margin-top: 0px !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14), 0px 4px 8px 0px rgba(0, 0, 0, 0.28);
}

div#galleryPost {
    z-index: 999999999;
}

.modal-header .close {
    margin-top: 24px;
    margin-left: 16px;
    color: #fff;
    opacity: 1;
    text-shadow: 0 0 0;
}

.modal-header {
    border-bottom: 0;
    padding-bottom: 0px;
}

.gallery-block a {
    cursor: pointer;
}

.section-header:hover span.section-header-title {
    background: #fff;
    color: #9f2042;
}

.section-header:hover span.section-header-title:before,
.section-header:hover span.section-header-title:after {
    background: #2196f3;
}

.section-header:hover .fa {
    color: #fff;
    0
}

div#importantt-news .owl-dots,
#article-news .owl-dots,
div#gallery-section .owl-dots,
div#video-section .owl-dots {
    text-align: center;
    display: inline-block;
    width: 100%;
    
    padding: 10px 0px;
    
}

div#importantt-news .owl-dot,
#article-news .owl-dot,
div#gallery-section .owl-dot,
div#video-section .owl-dot {
    text-align: center;
    display: inline-block;
    padding: 0px 5px;
}

div#importantt-news .owl-dot span,
#article-news .owl-dot span,
div#gallery-section .owl-dot span,
div#video-section .owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background: #2b2d42;
}

div#importantt-news .item {
    padding: 6px 4px;
}

div#importantt-news .owl-dot.active span,
#article-news .owl-dot.active span,
div#gallery-section .owl-dot.active span,
div#video-section .owl-dot.active span {
    background: #9f2042;
}

div#importantt-news {
    margin-top: 24px;
}

div#article-news .owl-item img {
    width: auto;
}

div#article-news .item .col-xs-12 {
    padding-bottom: 5px;
}

.col-xs-12.article-news-2 a.article-block img {
    float: left;
    margin-left: -33.5px;
    margin-right: 0px;
}

.col-xs-12.article-news-2 a.article-block.margin-top3 {
    margin-left: 33.5px;
    margin-right: 0px;
}

.col-xs-12.article-news-2 a.article-block p {
    left: 40px;
}

.urgent-news {
    background: #9f2042;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    width: 100%;
    bottom: 10px;
    z-index: 99;
}

.urgent-news a {
    color: #fff;
}

.urgent-title {
    float: right;
    position: relative;
}

.urgent-title span {
    background: #2b2d42;
    display: block;
    float: right;
    padding: 9px 40px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font-family: "JeFlat";
}

.urgent-title p:last-child {
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    background: #fff;
    left: 0px;
}

.urgent-title p:last-child:before {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    background: #fff;
    left: 2px;
}

div#urgent-news {
    padding: 11px 0px;
    border-left: 1px #fff solid;
    padding-left: 1px;
    position: relative;
}

footer.margin-top {
    margin-top: 150px !important;
}

.footer-arived .urgent-news {
    bottom: 50px;
}

.special-news {
    position: fixed;
    width: 0;
    bottom: 100px;
    left: 0;
    transition: all 1s ease-in-out;
}

.footer-arived .special-news {
    width: 100%;
}

.special-news-closed {
    width: 0px !important;
}

div#gallery-section .item {
    padding: 6px 4px;
}

div#gallery-section .gallery-img {
    height: 136px;
}

div#video-section .item {
    padding: 6px 4px;
}

div#video-section .topstory-news {
    padding-bottom: 10px;
}

.right-section-ad,
.left-section-ad {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fixed-ads {
    /* position: fixed; */
    /* width: 100%; */
    /* z-index: 999; */
    /* top: 92px; */
}

.fixed-ads-right {
    position: fixed;
    right: 15px;
    top: 92px;
    z-index: 999;
}

.fixed-ads-left {
    position: fixed;
    left: 15px;
    top: 92px;
    z-index: 999;
}

.video-news-img:before,
.topstory-news-img:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.video-news:hover .video-news-img:before,
.topstory-news:hover .topstory-news-img:before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

a.topstory-block:hover .topstory-block-title {
    background: rgba(211, 47, 47, 0.9);
}

a.topstory-block:hover .topstory-block-title span {
    color: #fff;
}

a.topstory-block:hover .leatest-title span {
    background: #2196f3;
}

a.topstory-block:hover .leatest-title p:last-child {
    background: #2196f3;
}

a.topstory-block:hover .leatest-title p:last-child:before {
    background: #2196f3;
}

.radio-text {
    position: absolute;
}

.radio-text i {
    color: #d32f2f;
}

.video-news.video-news-big:hover p {
    color: #fff;
}

.service-block {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    margin-top: 30px;
}

.service-title {
    background: #2196f3;
    padding: 10px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.service-title span {
    color: #fff;
    font-size: 18px;
    display: block;
    padding-right: 10px;
    font-family: "JeFlat";
}

.service-title i {
    color: #fff;
    font-size: 30px;
}

.service-content {
    padding: 10px 0px;
}

.service-content span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
}

.custom-block {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    margin-top: 0px;
    overflow: hidden;
}

a.footer-links {
    float: right;
    padding: 12px 10px;
}

ul.sitemap-links li {
    margin: 10px 0px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    text-align: center;
}

.user-block {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    height: 60px;
    border-radius: 0px 30px 30px 0px;
}

.user-block img {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    float: right;
    margin-left: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.user-block span {
    font-size: 18px;
    color: #2196f3;
}

.user-block p {
    margin-top: 10px;
    padding-right: 20px;
    display: block;
}

.form-block button.btn.btn-default {
    background: #2196f3;
    color: #fff;
    text-shadow: 0 0 0;
}

.contact-block ul li {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 10px 0px;
    padding: 15px;
}

.contact-block ul li i {
    width: 40px;
    text-align: center;
    color: #2196f3;
}

.video-news.video-news-big .topstory-news-date {
    width: 100%;
    margin-top: 0px;
    float: right;
}

.video-news.video-news-big.video-news-left .video-news-img {
    padding-left: 0px;
    padding-right: 15px;
}

.video-news.video-news-big.video-news-left .video-news-img img {
    border-left: 0px;
    border-right: 1px #fff solid;
}

.video-news.video-news-big.video-news-left .video-news-title {
    padding-right: 15px;
}

.video-news:hover .topstory-news-date span {
    color: #fff;
}

i.cat-more {
    font-style: normal;
    float: left;
    margin-left: 10px;
    color: #d90429;
}

.video-news.video-news-big:hover i.cat-more {
    color: #fff;
}

.topstory2 ul.lSPager.lSGallery li {
    position: relative;
    border-radius: 0px !important;
}

.topstory2 ul.lSPager.lSGallery li span {
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #fff;
    z-index: 99999;
}

.topstory2 ul.lSPager.lSGallery li:hover span {
    opacity: 1;
}

.topstory2 ul.lSPager.lSGallery li.active span {
    opacity: 1;
}

ol.breadcrumb {
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

ol.breadcrumb li a {
    color: #d32f2f;
}

ol.breadcrumb li.active a {
    color: #2196f3;
}

.breadcrumb>li+li:before {
    color: #d32f2f;
    content: "\f060";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
}

.post-text a {
    color: #2196f3;
}

.post-tags {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 15px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-tags ul li {
    display: inline-flex;
    background: #2196f3;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 5px 5px;
}

.post-tags ul li a {
    color: #fff;
}

.post-tags ul li:hover {
    background: #d32f2f;
}

select.form-control {
    direction: ltr;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #9f2042;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 62px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.footer-arived .scroll-top-wrapper {
    bottom: 103px;
}

.section-header i.fa {
    float: right;
    margin: 7px 15px;
    color: #fff;
}

.small-section .topstory-news {
    padding-bottom: 10px;
}
.news-section {
    float: right;
    width: 100%;
}
.small-section .col-sm-6 .topstory-news a > p {
    font-size: 14px;
    height: 82px !important;
}

.sb-search {
  position: relative;
  width: 100%;
  min-width: 50px;
  height: 50px;
  float: left;
  overflow: hidden;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
  /*  @media (max-width:768px){
    	    position: absolute;
    left:0;
     width: 0%;


     .sb-icon-search, .sb-search-input {

      
     	border-radius: 32px;

     }

      
       // margin-bottom: 10px;

    }*/
}

.sb-search-input {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: #f0f0f0;
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 10;
  padding: 0px 0px 0px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 50px;
  color: #2c3e50;
}

.sb-search-open .sb-search-input {
  padding: 0px 20px 0px 62px;
}

.sb-search-input::-webkit-input-placeholder {
  color: #4a4a4a;
}

.sb-search-input:-moz-placeholder {
  color: #4a4a4a;
}

.sb-search-input::-moz-placeholder {
  color: #4a4a4a;
}

.sb-search-input:-ms-input-placeholder {
  color: #4a4a4a;
}

.sb-icon-search,
.sb-search-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .sb-icon-search,
  .sb-search-submit {
    width: 50px;
  }
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}
header .navbar .search {
  float: left;
  position: relative;
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  width: 50px;
}

@media (max-width: 992px) {
  header .navbar .search {
    width: 100%;
  }
}

.sb-icon-search {
  color: #fff;
  background: #9f2042;
  z-index: 90;
  font-size: 20px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 280px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #d90429;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}



.news-section-reportes .video-news-title > h3 {
     
        font-size: 18px;
    line-height: 26px;
    color: #d90429;
    padding: 5px 10px;
}

.video-news:hover h3 ,  .video-news:hover  span.more {
    color: #fff !important;
}
.news-section-reportes .video-news-title > span.more{
    float: left;
    margin-left: 10px;
    font-family: "JeFlat";
    font-size: 12px;
    color: #fff;
      background: #2b2d42;
    text-align: left;
    margin-top: 0;
    display:block;
    height: 20px;
        width: 50px;
        clear: both;
        margin-bottom: 5px;

}

.most-recent .video-news-title > span {
    font-size: 13.5px;
    line-height: 23px;
}

.video-section-gp {
    position: relative;
}

footer ul.social li a {
    color: #2b2d42;
}

.topstory a.topstory-news {
    position: relative;
    display: block;
}

.topstory a.topstory-news span {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    background: rgba(159, 32, 66, .9);
    padding: 5px;
    width: 100%;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    display: block;
    z-index: 9;
    text-align: center;
    color: #fff;
}

.topstory-main {
    position: relative;
}

.topstory-main .topstory-arrow-l.topstoryNextBtn {
    left: 15px;
}

.topstory-main .topstory-arrow-r.topstoryPrevBtn {
    right: 15px;
}

div#topstory a.topstory-news i {
    position: absolute;
    z-index: 9;
    background: #d90429;
    font-style: normal;
    color: #fff;
    font-family: "JeFlat";
    padding: 5px 20px;
    top: 10px;
}

.topstory-text-area {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    background: rgba(159, 32, 66, .9);
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.topstory-text-area h1 {
    font-size: 18px;
}

.topstory-text-area p {
    font-size: 12px;
    margin-top: 10px;
}

.margin-custom {
    margin-top: 23px;
}

.col-lg-4.hidden-md.hidden-sm.hidden-xs .section-header-title {
    padding: 5px 20px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(43, 45, 66, .9);
    z-index: 999999;
}

.overlay .overlay-close {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
}

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

a#trigger-overlay {
    cursor: pointer;
}

.overlay .input-group {
    width: 50%;
    right: 25%;
    left: 25%;
    top: 30%;
}

.overlay span.input-group-btn {
    float: left;
    width: 37px;
}

input#txtSearch {
    float: right;
    width: calc(100% - 37px);
}