﻿@font-face {
    font-family: 'iransans';
    src: url('../font/IRANSans-web.eot?#') format('eot'),
    url('../font/IRANSans-web.woff2') format('woff2'),
    url('../font/IRANSans-web.woff') format('woff'),
    url('../font/IRANSans-web.ttf?#') format('ttf');
    font-weight: normal;
}
@font-face {
  font-family: 'BYekan';
  src: url('../font/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
* {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.BYekan {
	font-family: BYekan, Arial, Helvetica, sans-serif;
}
.tahoma{
	font-family: Tahoma,Geneva,sans-serif;
}
.iransans{
	font-family: "iransans", Tahoma,Geneva,sans-serif;
}
body {
	font-family: "iransans" !important;
	font-size:13px;
	color:#333;
}
.red a{
	color:#D9534F;
}
#home-page-top{
	background-color:#F1F1F1;
}
#background-error{
	background-color:#0A0B06;
}
#home-page-top .stat{
	margin-top: 38px; font-size: 36px;
}
.ltr{
	direction:ltr;
}
.ltrb{
	direction:ltr;
	display:inline-block;
}
.bold{
	font-weight:bold;
}
#header {
	background: #FFF no-repeat;
	border-bottom: 1px solid #DDDDDD;
}
#header-inner {
	height: 118px;
}
.header-icon li{
	margin-right:15px;
}
.header-icon a{
	color: #4d4d4d;
}
.header-icon a:hover{
	color: #fff;
}
.notify {
    font-size: 11px;
    left: 18px;
    position: absolute;
    top: -2px;
}
#logo{
	height: 54px;
	margin-top: 37px;
}
.fixstyle{
	border-bottom: 1px solid #CCCCCC;
}

.container-inner{
  padding: 10px;
  margin: 25px 0;
}
.user-info{
	width:214px;
}
.navbar-inverse{
	margin-bottom: 0;
}
.pointer{
	cursor:pointer;
}
.loading-sm{
	 background-image: url("../images/loading-sm.png");
	 background-repeat: no-repeat; 
	 background-position: left top; 
	 display: inline-block;
     padding: 14px 14px 0 0;
}
.loading-lg{
	 background-image: url("../images/loading-lg.png");
	 background-repeat: no-repeat; 
	 background-position: left top; 
	 display: inline-block;
     padding: 30px 30px 0 0;
}
.list-group-item-success a{
	color:#fff;
}
.header-nav{
	margin-top:41px;
}
.stats{
	background-color:#333;
	height:50px;
}
.stats h4{
	color:#d2d2d1;
	margin-top: 14px;
}
.stats a{
	color: #d2d2d1;
    font-size: 16px;
}
.stats a:hover{
	color: #fff;
}
.stats-icon{
	font-size: 25px!important; margin-top: 15px;
}
.stats .dropdown-menu a{
	font-size:12px;
} 
.stats .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #333;
    border-color: #333;
}
.stats-home h3{
	font-size: 22px;
    margin-top: 12px;
    color: #fff;
}
.stats-home small{
    color: #fff;
}
.stats .nav > li > a:hover, .nav > li > a:focus {
    color: #fff;
}
.header-nav .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #333;
    border-color: #333;
}
.header-nav .nav > li > a:hover, .nav > li > a:focus {
    color: #428bca;
}
.message-home{
	background-color: #F1F1F1;
	height: 53px;
}
.message-home h2{
	margin-top:0;
	font-size:30px;
}
.projectlist-home ul li > div {
	overflow: hidden;
	height: 35px;
}
.projectlist-home .e{
	margin: 0;
}
.projectlist-home .list-group-item {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #ddd !important;
}
.quote{
	margin-top:20px;
}
.quote p{
	color:#d2d2d1;
}
.footer {
	background-color:#444444;
}
.footer-nav{
	margin-top:60px;
}
.footer a{
	color:#999999;
}
.footer a:hover{
	color:#fff;
}
.footer ul{
	line-height: 29px;
}
.subfoot{
	margin:40px 0 40px 0;
}
.subfoot p{
	color:#999999;
	margin-top: 7px;
}
.margin-bottom2{
	margin-bottom:2px;
}
.hide-2{
	display:none;
}

/* home page */
.hero-unit {
	background-clip: padding-box;
	background-color: #fff;
	border: 5px solid #669900;
	border-radius: 6px;
	margin:298px 0 20px 0;
	height: 165px;
	padding: 6px 8px;
}
.stat-unit {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #cccccc;
	border-radius: 6px 0 0 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	height: 221px;
	margin-right: -36px;
	margin-top: 25px;
	padding: 30px 40px;
	opacity: 0.7;
}
.hero-unit h1{
	color:#fff;
}
.hero-unit p{
	color:#fff;
}
.margin-bottom-2{
margin-bottom:2px;
}
.margin-top-50{
	margin-top: 50px;
}
.margin-top-25{
	margin-top: 25px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-6{
	margin-top: 6px;
}
.margin-top-4{
	margin-top: 4px;
}
.namad{
	left: 62px;
	top: -27px;
}
.top-24{
	top: -28px;
}
.container-empty {
	margin: 50px 0 30px;
	padding: 10px;
}
.e{
	border-bottom: 1px solid #cccccc;
}
.offline {
color: #ffffff;
}
.online, .offline {
	cursor: pointer;
	display: inline-block;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0 0 4px #777777;
}
.profile .rating-tiny {
margin-bottom: 5px;
}
.rating-tiny {
    background: url("../images/star-ratings-tiny.png") no-repeat scroll 0 100% rgba(0, 0, 0, 0);
    height: 16px;
    line-height: 16px;
    width: 70px;
}
.profile-skill .label{
	font-size:12px;
	font-weight:normal;
}
.caption > div {
	overflow: hidden;
	margin-bottom: 7px;
	height: 35px;
}
.label{
	display:inline-block;
	margin-top:1px;
}
.project-stat{
	margin-top: -20px;
	margin-bottom: 30px;
}
.edit-btn1 {
    height: 30px;
    margin: 2px 0;
    width: 100%;
}
.edit-btn1:hover > .btn-display {
    display: block;
    margin-right: 5px;
}
.btn-display {
    display: none;
}
.online {
    color: #0c0;
}
.f13{
	 font-size:13px;
}
.page-header2 {
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
					.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-right-width: 5px;
  border-radius: 0 69px 69px 0;
}
/* Variations */
.bs-callout-danger {
  border-right-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-success {
  border-right-color: #669900;
}
.bs-callout-success h4 {
  color: #669900;
}
.bs-callout-warning {
  border-right-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-right-color: #669900;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
/* change on bootstrap code */
.btn-warning {
  background-color: #f5af00;
}

.navbar-default {
    background-color: #fff;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
label{
	font-weight:normal;
}
.alert-success{
	background-color: #d8f1b4;
}
.popover{
	text-align:right;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #d8f1b4;
}
.progress {
	background-image: url("../images/bg_fabric.png");
}
.lead {
    font-size: 17px;
}
.project-brif-text ul, .project-brif-text ol{
	margin-right:40px;
}
.user-display{
	display: inline-block;
}
.btn-danger-g{
	background: url("../images/gp.png") no-repeat scroll 0 0 #D9534F;
	color: #fff;
    border-color: #d43f3a;
}
.btn-danger {
  
}
.btn-danger-g:hover,
.btn-danger-g:focus,
.btn-danger-g:active,
.btn-danger-g.active {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.lightgrey-b{
	background-color: rgb(230, 230, 230);
}
.lightgrey-c{
	color:#707070;
}



/* blog slider */
.f-slider{
	position:relative;
}
.f-slider .slider-nav.nav-prev {
border-radius: 0 4px 4px 0;
left: -16px;
}
.f-slider .slider-nav.nav-next {
    border-radius: 4px 0 0 4px;
    right: -16px;
}
.f-slider .slider-nav {
    cursor: pointer;
    display: block;
    height: 42px;
    margin: -42px 0 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 5;
}
.f-slider .slider-nav {
    background-color: #ddd;
    height: 80px;
    margin-top: -40px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out 0s;
    width: 20px;
}
.f-slider .slider-nav:hover {
	opacity:1;
	text-decoration:none;
	width: 26px;
}
.f-slider .slider-nav span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #000;
    height: 80px;
    line-height: 79px;
    text-align: center;
    width: 19px;
}
.f-content-hight{
	height:50px;
	overflow:hidden;
}
.f-title-hight{
	height:49px;
	overflow:hidden;
}
.form-control:focus {
    box-shadow: none;
}
#freelancer-randome .thumbnail{
	height: 224px;
}
.sidebar-contaner {
    padding: 10px 0;
}
.slider-links {
    padding: 20px;
}
.slider-links a {
    color: #fff;
}
.slider-links p {
    font-size: 16px;
    margin: 19px 0;
}
.user-image {
    margin: 20px 0;
}
.username p {
    color: #fff;
    font-size: 16px;
}
.user-info {
    margin-bottom: 21px;
	margin-left: auto;
	margin-right: auto;
}
.user-info a{
	color:#fff;
}
.user-info a:hover{
	color:#999;
}
.slider-img-circle{
	border: 7px solid #4d4d4d;
    border-radius: 50%;
}
.slider .list-group-item {
	color:#fff;
	background-color: #333;
    border: 1px solid #333;
    display: block;
    margin-bottom: -1px;
    padding: 10px 30px;
    position: relative;
}
.slider .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.slider a.list-group-item:hover, .slider a.list-group-item:focus {
    background-color: #4d4d4d;
    text-decoration: none;
}
.sb-slidebar hr{
		-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #4d4d4d;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.font-18{
	font-size:18px;
}
.font-40{
	font-size:40px;
}
.dropdown-menu{
	box-shadow: none;
}
.relative{
	position: relative;
}
/*upgrade*/
.upgrade-btn{
	height:68px;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^="col-"] {

    padding: 10px 0 10px 0;
}
.show-grid ul{
	list-style:none;
}
.upgrade-table{
	margin-top: 43px;
	padding-right:15px;
	padding-left:15px;
}
.p-table{
}
.p-table li{
	border-bottom: 1px solid rgba(86, 61, 124, 0.2);
	padding: 12px;
}
.pricing-title{
	border-bottom:none !important;
	padding-right: 9px;
	height: 90px;
	top: 13px;
}
.pricing-highlight {
	height: 104px;
}
.buy-me {
	background-color: #FFFFFF;
	box-shadow: 0 0 14px 0 rgba(102, 153, 0, 0.4);
	top: -14px;
	z-index: 1;
}
.p-border{
	border:1px solid #ccc;
}
.p-border-1{
	border:1px solid #ccc;
	margin-top:90px;
	border-left:none;
}
.p-border:hover{
	border:1px solid #669900;
}
.p-n-border{
	border-bottom:none !important;
}
.price-option{
	margin: 31px auto;
	width: 186px;
}
.price-option .right{
	float: right;
	line-height:36px;
}
.price-option .left{
	float: left;
	line-height:36px;
}

.triangle-border.right::before {
    border-color: transparent #5a8f00;
    border-width: 15px 0 15px 30px;
    bottom: auto;
    left: auto;
    right: -30px;
    top: 10px;
}
.triangle-border::before {
    border-color: #5a8f00 transparent;
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.triangle-border.right::after {
    border-color: transparent #fff;
    border-width: 9px 0 9px 21px;
    bottom: auto;
    left: auto;
    right: -21px;
    top: 16px;
}
.triangle-border::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.triangle-border.right {
    margin-right: 30px;
}
.triangle-border {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #5a8f00;
    border-radius: 10px;
    color: #333;
    margin: 1em 0 3em;
    padding: 15px;
    position: relative;
	width:116px;
}
.discount-position{
	position: absolute; left: 316px; top: -23px;
}
/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #d8f1b4;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #669900;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.img-responsive{
	width:100%;
}
.img-retina{
	width:50%;
}

.img-container-logout {
min-height: 500px;
background-image: url(http://ponisha.dev/images/takecare.jpg);
background-repeat: no-repeat;
background-size: 1920px 500px;
background-position: center top;
}
.image-message {
position: absolute;
right: 15%;
bottom: 20px;
left: 15%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.label-2 {
    border-radius: 0;
    color: #fff;
    display: inline;
    line-height: 1;
    padding: 3px 9px;
	margin: 0 3px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.label-2{
	display: inline-block;
}
.label-fix-width{
	width: 150px;
}
.label-feature{
	background-color:#f1c40f;
}
.label-hide{
	background-color:#2c3e50;
}
.label-private{
	background-color:#8e44ad;
}
.label-fulltime{
	background-color:#3498db;
}
.label-urgent{
	background-color:#d35400;
}
.label-highlight{
	background-color:#2ecc71;
}
.label-delete{
	background-color:#c0392b;
}

@media (max-width: 767px) {
.discount-position{
	position: absolute; left: 67px!important; top: -23px;
}
.message-home{
	height: 80px;
}
.buy-me {
	background-color: #FFFFFF;
	box-shadow: none;
	top: 0px;
	z-index: 1;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.discount-position{
	position: absolute; left: 108px!important; top: -23px;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
.discount-position{
	position: absolute; left: 209px!important; top: -23px;
}
}	
@media (min-width: 1200px) {
	.maxwidth{
		width: 1200px;
		margin: 0 auto;
	}
}