html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -44px;
}
.footer, .push {
    height: 44px;
}
body {
	width:100%;
    font-size : 80%;
    margin : 0px;
    color : #000000;
    background-color : #ffffff;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
td {
    font-size : 80%;
    margin : 0px 0px 0px 0px;
    color : #000000;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.header {
	padding:10px;
	background-color: #0A2746;
	color : #ffffff;
	font-size : 14px;
}
.header a {
	font-size: 50px;
	text-decoration: none;
	color: #ffffff;
}
.header h1 {
	margin:0;
}
.body {
    margin:0;
    padding:0;
}
.leftpane {
	width:148px;
	float:left;
	margin-left:3px;
	margin-top:3px;
}
.sidebar {
	width: 126px;
	padding:10px 0px 10px 10px;
	margin : 2px;
    font-size : 14px;
    background-color : #0A2746;
    color : #ffffff;
}
.sidebar div {
	padding-bottom:17px;
}
.sidebar a {
    color : #ffffff;
    font-weight: bold;
}
.sidebar a:hover {
    color : #ffffff;
}
.sidebar a:visited {
    color : #ffffff;
}
.mainpane {
	margin-left:148px;
	padding-top:5px;
}
.topbanner {
	background-color: #F1F0FF;
	padding:3px 0px;
}
.topad {
	height:92px;
	width:728px;
	margin:2px auto;
}
.maincontent {
	padding-top:10px;
	padding-left:7px;
	padding-right:10px;
}
.rightad {
	float:right;
	width:300px;
	height:610px;
	padding:17px 10px 12px 15px;
}
#div-gpt-ad-1361894497480-0 {
	width:300px;
	height:600px;
}
#contentContainer {
	padding-right:5px;
}
.footer {
    margin-top:45px;
    padding:5px;
    background-color : #0A2746;
}
.footer div, .footer a {
    font-size : 14px;
    color : #ffffff;
}
.privacy {
	float:right;
	padding-right:15px
}
.indent {
	margin:1em 2em;
}

.bgcolor1 {
    background-color : #F1F0FF;
}
.bgcolor2 {
    background-color : #FFF0E1;
}

#komoona {
	float:right;
	padding-left:60px;
	padding-right:10px;
	width:320px
}

.create-form {
	width:320px;
	margin:0 auto;
	padding:6px;
    background: #E7E7F7;
    overflow:hidden;
}

#url {
	width:185px;
}

#submit {
	width:110px;
}

#alias {
	width:90px;
}

.create-error {
    background: #E7E7F7;
    width: 80%;
}

.row {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    float:left;
}

.row:after {
	clear:both;
}

.col-md-4 {
	min-height: 1px;
    float: left;
    margin-left:10px;
    margin-right:10px;
    width:160px;
}

img.upsell {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:65px;
  height:65px;
}

.upgrade_upsell_header {
    font-family: Arial;
    font-size:14pt;
    color:#231F20;
    text-align:center;
    margin-bottom:20px;
}

.upgrade_upsell {
    font-family: Arial;
    font-size:8pt;
    color:#231F20;
    text-align:center;
}

img.upgrade {
	margin-top: 25px;
	height:36px;
}

.longurl {
	width:450px;
	word-wrap:break-word;
}

.longurl_err {
	width:500px;
	word-wrap:break-word;
}

.affiliate {
	width:420px;
	margin:10px auto;
	padding:5px;
	font-size: 80%;
	background-color:#E7E7F7;
	overflow:hidden;
}

.copybutton {
    text-align: center;
    border: 1px solid black;
    background-color: #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#success {
	margin-left:40px;
	display:inline;
}

#copy_div {
	display:inline;
	margin-left:5px;
}