@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: 0;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
}
html, body {
	background-color: #282828;
	background-image: url(../img/bg_main.png);
	background-repeat: repeat;
	font-family: myFirstFont;
	font-size: 14px;
	color: #ffffff;
}
a,a:hover,a:link{
	text-decoration: none;
	color:#83e3f3;
}
.clr{
	clear:both;
}
header{
	background-image: url(../img/bg_header.png);
	background-repeat: repeat-x;
	    min-width: 1176px;
}
.header{
	text-align: center;
	width: 1172px;
	margin:auto;
	padding-top: 32px;
	height: 86px;
}
section#main{
	width: 1172px;
	margin:auto;
}
.content{
	padding: 32px 0;
	float:left;
	width: 100%;
}
.content_l{
	width: 300px;
	float:left;
	height:600px;
}
.content_c{
	float:left;
	width: 538px;
	margin-left: 16px;
}
.content_c_bg{
	background-color: #1c1c1c;
	padding: 20px;
	min-height: 430px;
}
.content_r{
	width: 300px;
	float:right;
	height : 600px;
}
.content_c .name{
	text-transform: uppercase;
}
.content_c .sumer{
	float:left;
	width: 100%;
}
.content_c .watch{
	padding: 20px 0;
}
.content_c .sumer_l{
	float:left;
	width: 350px;
}
.content_c .sumer_r{
	float:right;
	width: 146px;
	text-align: right;
}
.sumer_l ul{
	margin: 0;
	padding: 0;
}
.sumer_l ul li{
	list-style: none;
	float:left;
	width: 100%;
	padding: 2px 0;
}
.sumer_l ul li label{
	float:left;
	width: 78px;
	color: #acacac;
}
.footer {
	color: #555555;
	margin-top: 120px;
}
.footer ul{
	margin: 0;
	padding: 0;
	text-align:center;
}
.footer ul li{
	list-style: none;
	display: inline-block;
	text-align:center;
	border-left: solid 1px #555555;
	padding: 0 5px;
}
.footer ul li:first-child{
	border: 0;
}
.footer ul li a{
	color: #555555;
	font-size: 14px;
	text-decoration: none;
}
.footer ul li a:hover{
	color: #FFF;
}
.copyright{
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}
.dowload{
	float:right;
	padding-bottom:10px;
}
.mirror_link .dowload{
    float: left;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-top: 10px;
}
.mirror_link .dowload.nopadr{
	padding-right: 0px;
}
.dowload a{
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	display: block;
	background-image: url(../img/dow.png);
	background-repeat: no-repeat;
	background-position: 14px center;
	background-color: #9a9a9a;
	padding: 12px 12px 12px 46px;
	    width: 150px;
    font-size: 12px;
    text-align: center;
}
.mirror_link .dowload a{
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	display: block;
	background-image: url(../img/dow.png);
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: #9a9a9a;
	padding: 4px 3px 4px 12px;
	width: 114px;
	font-size: 10px;
	text-align: center;
}
.dowload a:hover{
	background-color: #FFF;
}
.banner{
	margin-top: 20px;
}
.banner img{
	width: 100% !important;
}
.content_page ul{
    padding-left: 15px;
}
.sumer{
padding-bottom:10px;
border-bottom: 1px solid #8d8d8d;
margin-bottom : 10px;
}
h6{
font-size:15px;
}