@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: local('Hanuman'), url(http://fonts.gstatic.com/s/hanuman/v9/hRhwOGGmElJSl6KSPvEnOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 700;
  src: local('Hanuman Bold'), local('Hanuman-Bold'), url(http://fonts.gstatic.com/s/hanuman/v9/lzzXZ2l84x88giDrbfq76vesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
