	#headlineboxes {
		max-width: unset;
	}

	#headlineboxes .headlineboxes {
	 width: calc(25% - 24px);
 }
	
	#headlineboxes .headlineboxes li {
		width: 100%;
	}


/* CSS for View Full Site (nullifies responsive.css) */

	.rwd-display-options {
		text-align: left; 
		width: 100%;
		max-width: 970px !important;
		float: left; 
		color: #FFF;
		background: #333;
		padding: 5px 0px;
	}
	
	.rwd-display-options { cursor: pointer; }
	
	div.rwd-display-options span {
		position: relative;
		left: 10px;
	}

#view-responsive { display: none; }

@media only screen and (min-width: 900px) {
	#view-full { 
		display: none; 
	}
	
	#view-responsive { 
		display: inline; 
	}
}

/* End CSS for View Full Site */

@-ms-viewport {
	width: device-width;
}

@media screen and (max-width: 1024px) {
	
	#RFAvideo_player iframe/*, .galleria-container*/ {
		width:unset !important;
		height: unset !important;
	}
	
	#RFAvideo_player {
		position:relative;
		padding-bottom: 56.29%;
		height: 0;
		overflow: hidden;
	}
	
/*	.galleria-stage, .galleria-image, .galleria-image img {
		position:relative;
		padding-bottom: 65%;
		height: 0;
		overflow: hidden;
	}
	
	.galleria-image img {
		top: 0 !important;
	}
*/	
	#RFAvideo_player iframe, #RFAvideo_player object, #RFAvideo_player embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
	
/*	.galleria-bar {
		bottom: 0;
	}
*/	
	#topnews {
		width: unset;
	}
	
	.belowfoldwide div div.shadowbox, .belowfoldwide .graybox, .belowfoldwide div div.viewlet {
		width: 30% !important;
	}
	
.belowfoldwide div .viewlet a img {
		max-width: 100%;
	}
	
	

	#frontsidebar .videobox, .videobox object, .videobox embed {
		width: 100%;
	}
	
	#storyfooter .morevideothumb {
		width: 20%;
	}
	
	#storyfooter .morevideothumb img {
		width: 100%;
		height: auto !important;
	}
	
	span#defaultaudiolinktext.audiolinktext {
		max-width:500px;
		width: auto;
	}
	
	#frontchannelslisten1, #frontchannelschedule0 {
		width: 50% !important;
		background-size: 100% auto;
	}
	
	#topstorywideimg {
		width: 46%;
		float: left;
		padding-right: 25px;
	}
	
	#topstorywideimg img {
		height: auto;
	}
	
	#topstorywide, #topstorywideimg img {
		width: 100%;
	}
	
	#topstorywidetease {
		width: 98%;
	}
	
	#topstorywidetease, #topstorywideimg {
		padding-left: 10px;
	}
	
	#frontsidebar .shadowbox .sectionteaser p {
    max-width: 250px;
    width: 100% !important;
	}
	
	.graybox embed {
		width: 100%;
		height: auto;
	}
	
	.videosmall {
    max-width: 300px !important;
		width:100% !important;
    height: auto !important;
	}
	
	.kWidgetIframeContainer {
		width: 100% !important;
		height:auto !important;
	}
	
	.belowfoldwide .shadowbox {
		width: 46% !important;
	}
	
	.belowfoldwide .shadowbox .sectionteaser, .belowfoldwide .shadowbox .sectionteaser p  {
		width: 100% !important;
	}
    
    #topstories.slideshow .agile_carousel, #topstories.slideshow .agile_carousel .slides {
    	max-width: 622px;
        width: 100% !important;
    }
  
   
	#topstories.slideshow {
		background: #003366;
	}
	
  #topstories .agile_carousel .content_button_inner {
      max-width: 290px;
      width: 130% !important;
  }


	#RFAvideo_player, .kWidgetIframeContainer {
		width: 100% !important;
		max-with: 623px !important;

	}

	div#frontsidebar div#vidsearch form input.vidsearch {
		max-width: 260px !important;
		width: 81% !important;
	}
	
	.videoarchivethumb {
		max-width: 200px;
		width: 31.5%;
	}
		
	
	.videoarchivethumb img {
		max-width: 200px;
		width: 100%;
		height: auto;
		max-height: 130px;
	}

	.videoarchivethumb h5 {
		max-width: 180px;
		width: 90%;
		font-size: 80%;
	}
	
	#vidpagerelatedvid {
		max-width: 300px;
		width: 100%;
		padding-right: 10px;
	}
	
	#vidpagerelatedvid center button, .windowshadecategories center button {
		width: 75%;
	}
	
	.relatedvideohead {
		padding-right: 0;
		width: 100%;
	}
	
	#vidpagerelatedvid .morevideothumb, .windowshadecontent .morevideothumb {
		width: 45%;
	}
	
	#vidpagerelatedvid .morevideothumb a img, .windowshadecontent .morevideothumb a img {
		width: 100%;
		height: auto !important;
	}
	
	.windowshadecategories {
		max-width: 300px;
		width: 100%;
		padding-right: 10px;
	}
	
	.windowshadecategories .showhidebutton {
		float: right;
	}
	
	.windowshadecategories .showhidebutton img {
		width: 100%;
	}
	
	.windowshade {
		float: left;
		max-width: 300px;
		width: 100%;
	}
	
	.windowshade h3 {
		max-width: 225px;
		width: auto;
	}
	
	.windowshadecontent {
		width: 104% !important;
	}

	div#sectioncontent.clear div div.viewlet div {
		width: 100% !important;
		max-width: 600px !important;
	}
	
	#podcastcontent {
		width: 100% !important;
		padding-left: 1% !important;
	}
	
	#podcastlist {
		width: 23% !important;
	}
	
	#readbutton1, #readbutton0, #emailbutton1, #emailbutton0 {
		background-size: 100% 34px;
	}	
	
	#storytext object, #storytext object embed, #ss_img, .viewlet object embed {
		width: 100%;
	}	
	
	#abovefold {
		margin-left: none;
		padding-left: 10px;
	}

	#dateline {
		width: 90px !important;
	}
	
	#storytopsocial {
		width: auto;
		max-width: 210px;
		text-align: center;
		float: left;
	}
	
	#storytoptools {
		float: right;
	}	
	
	#frontcontent, #contentwell, .sendnewsform {
		width: 67%;
	}
	
	#storycontent {
		border: none;
	}
	
	#frontsidebar {
		float: left;
		width: 30%;
	}
	
	#specialpagecontent #frontsidebar {
		float: right !important;
		width: 30% !important;
		padding-right: 0 !important;
	}
	
	#listenlive, div#specialpagecontent div.categoryh1 {
		width: 67% !important;
	}
	
	#listenlive .legend img {
		max-width: 635px;
		width: 100% !important;
	}
	
	table#live {
		width: 100% !important;
	}
	
	table#live tbody tr {
		width: 100% !important;
	}
	
	.edpicksidebar, .edpicksidebar img {
		width: 100%;
		height: auto;
		float: left;
	}

	#h-nav, #h-nav ul, ul#menu {
		width: 100%;
		max-width: 880px;
		text-align: center;
		clear: both;
		box-shadow: none;
		left:0;
	}
	
	ul#menu li {
		border-bottom: 1px solid #E6E7E8;
	}
	
	#readbutton1, #readbutton0 {
		max-width: 150px;
		width: 50%;
	}
	
	#emailbutton1, #emailbutton0 {
		max-width: 150px;
		width: 50%;
		right: 0;
		left: auto;
	}
	
	#footer-logo-address {
		background-size: 100%;
		max-width: 980px;
		width: 100%;
	}

	div.gamewrap {
		width:100%;
		margin: 15px 0;
	}
	
	div.specialwrap {
		width: 44%;
		height:auto;
	}
	
	div.specialwrap a img.linkpic { /*for each game's headerimage button*/
		width: 100%;
	}
	
	div.specialwrap a {
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	
	div.otherwrap {
		max-width: 270px;
		width: 100%;
	}
	
	.galleria-info {
		width: 100% !important;
	}
	
	.gallery-wide-pt {
		margin-left: 5px;
		margin-right: 5px;
	}


}



@media screen and (max-width: 980px) {
	
	#abovefooter .shadowbox, #abovefooter .graybox {
		width: calc(33% - 20px) !important;
	}
	
	#abovefooter .shadowbox .sectionteaser, #abovefooter .shadowbox .sectionteaser p {
		width: 100%;
	}
	
	.storytoptoollanguage {
		border-top: none;
	}

		div.shadowbox.storyaudio {
		width: calc(100% - 20px);
		margin: 10px;
	}
	
	#addcomment span {
	display:none;
	}
	
	#storytoptools {
		border-top: 1px solid #DFDFDF;
		margin-top: -4px;
	}
	
	#h-nav-udm {
		width: 99%;
		max-width: 880px;
		text-align: center;
		box-shadow: bottom;
		clear: both;
	}
	
	#menu {
		width: 99%;
		box-shadow: -1px 0 5px rgba(50, 50, 50, 0.3), 1px 0 5px rgba(50, 50, 50, 0.3);
		position:absolute;
		left: 5px;
		clear: both;
	}
	
	.udm li a {
		border-bottom: 1px solid #EEEEEE !important;
		margin: 0px;
	}
	
	.udm li a:hover {
		border-bottom: 1px solid #003366 !important;
	}
	
	#abovefold {
		padding-top: 40px;
		width: 100%;
		max-width: 980px;
	}
	
	#pagewidth {
		box-shadow: none;
	}
	
	#editorspick {
		display: none;
	}
	

	#frontcontent, #storycontent, #contentwell {
		border-right: none;
	}
	
	.belowfoldtall {
		display: none;
    }
	
	#morenews {
		width: 100%;
		max-width: 900px;
	}
	
	#headlineboxes {
		max-width: 980px;
		width: 100%;
	}
	
	#belowfoldtalltrue {
		width: 100% !important;
		max-width: unset;
	}
	
	#belowfoldtalltrue .headlineboxes {
		max-width: 30%;
		width: 100%;
	}
	
	#belowfoldtalltrue .headlineboxes li {
		width: 100%;
		max-width: none;
		line-height: 2.5em;
	}
	
	#subfoldcategories .shadowbox .sectionteaser a, .belowfoldwide .shadowbox li, .belowfoldwide .graybox li, .belowfoldwide .viewlet li, .shadowbox ul li {
 		   line-height: 2.5em;
	}

	#headlineboxescolsCD, #insiderfa {
		display: none;
	}
	
	#morenews {
		border-top: none;
		width: 95%;
		max-width: 900px;
	}	
	
	#morenewsColA, #morenewsColB {
		width: 50%;
	}
	
	#morenewsColA .sectionteaser, #morenewsColB .sectionteaser {
		width: auto;
	}
	
	#topstory {
		margin-bottom: 10px;
	}
	
	#topnews, #topnews .sectionteaser, #sectioncontent, #sectioncontent .sectionteaser, #frontcontent #topstory, .narrowresults, .listingBar, #contentwell .sectionteaser {
		width: 100%;
		max-width: 622px;
	}
	
	#topnews .sectionteaser {
		float: left;
	}
		
	#topstory {
		width: 95%;
	}
	
	#topstory img {
		height: auto !important;
	}
	
	#topstory img, #topstorytease {
		width: 100%;
	}
	
	#topstorytease p {
		width: 95%;
	}
	
	.footercolumn {
		width: 20%;
		max-width: 194px;
	}
	
/*	#frontsidebar .viewlet, #frontsidebar .viewlet img {
		width: 100%;
	}  */
	
	#frontsidebar .shadowbox, #frontsidebar .shadowbox .sectionteaser {
		width: 99%;
	}
	
	#frontsidebar .shadowbox .sectionteaser p {
		max-width: 250px;
		width: 75%;
	}
	
	#frontchannel { min-height: 130px;
	}
		
	
	#commenttools {
		max-width: 640px;
		width: 100%;
	}
	
	#commentcount {
		width: 100px;
	}
	
	#addcomment {
		float: right;
		width: 70%;
	}

	#storyfooter #addcomment {
		float: left;
		width: 50px;
	}
	
	.commentbuttonlanguage {
		display: none;
	}
	
	#sectioncontent .shadowbox {
		max-width: 293px;
		width: 46%;
		float: left;
	}
	
	#storycontent, #storypagemaincol {
		width: 67%;
	}
	
	#storycontent #storypagemaincol, #storypagemaincol #storycontent {
		width: 100%;
	}
	

#jobscontent .shadowbox {
    float: left;
    margin-right: 9px;
    width: 48%;
}

#jobssection .graybox  {
    float: left;
    margin-right: 8px;
    max-width: 99%;
}
	.videoarchivethumb {
		width:48%;
		height: auto;
		max-width: none;
		max-height: none;
	}
	
	.videoarchivethumb img {
		max-width: none;
		max-height: none;
	}
	
	#abovefooter .viewlet {
		width: calc(33% - 26px) !important;
	}

	#abovefooter .viewlet img {
		width: 100%;
	}

}

@media screen and (max-width: 913px) {

	#headerimg img {
		width: 305px !important;
	}
	
	#zoomattribute img {
		width: initial !important;
	}

}
	
@media screen and (max-width: 900px) {

	#vidpagerelatedvid .morevideothumb, .windowshadecategories .morevideothumb {
		width: 43%;
	}
	
	#headlineboxes .headlineboxes {
		width: calc(33% - 24px);
 	}

	#left-slot-two-up .shadowbox, #left-slot-two-up .videobox {
		min-height: 160px;
	}

	#sectioncontent .graybox {
		max-width: none;
		width: 95%;
		float: left;
	}

	#left-slot-two-up .videobox {
		display: initial !important;
		box-shadow: none;
		margin: 0 0 15px 15px;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		width: 95%;
	}

	#left-slot-two-up .videobox embed {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#left-slot-two-up .videobox object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	
}
	
@media screen and (max-width: 768px) {
	
	/* -------------------------------------------- */
/*-- #topstories styles --*/
/* -------------------------------------------- */

/*-- outer container --*/
	
	#topstories.slideshow {
		border-right: 15px solid #003366;
	}

#topstories .agile_carousel {
-moz-box-shadow: 0px 0px0px #dfdfdf; /* FF3.5+ */
-webkit-box-shadow: 0px 0px 0px #dfdfdf; /* Saf3.0+, Chrome */
box-shadow: 0px 0px 0px #dfdfdf; /* Opera 10.5, IE9, Chrome 10+ */
}

/*-- .control_set_1 - includes: content_buttons --*/

	#left-slot-two-up .shadowbox, #left-slot-two-up .videobox {
		min-height: unset;
	}

#topstories .control_set_1 {
	width:100%;
}
#topstories .content_button {
width: 100% !important;
	bottom:0px;
}

#topstories .content_button_inner {
	padding-bottom: 10px;
}

.slide_inner .photo {
    width: 100%;
}

.content_button_inner {
   border-left: 15px solid #103564;
}

	
    #topstories .agile_carousel .content_button_inner {
			width:100% !important;
			max-width: 623px !important;
		}
	
	#topstories .agile_carousel .content_button_inner p, #topstories .agile_carousel .content_button_inner h2 {
		width: 100% ;
		height:auto;
	}
	
    .ac_click {
        display: none !important;
    }
  
    .ac_selected {
        display: block !important;
			position:absolute;
			bottom:-10px;
			margin-bottom:-14px;
    }
	
	/* END MULTIPLE TOP STORIES */
	
	.gallery-wide-pt {
		height: 450px;
	}

	#abovefooter .shadowbox, #abovefooter .graybox {
		width: calc(50% - 24px) !important;
		min-height: 200px;
	}
	
	.belowfoldwide .videobox {
		width: calc(50% - 30px);
	}

	.belowfoldwide .shadowbox {
		width: 92% !important;
		float:left;
	}

	#vidpagerelatedvid .morevideothumb, .windowshadecategories .morevideothumb {
		width: 100%;
		padding: 0 2px 10px 3px;
	}

	#morenews, #topstory {
		width: 90%;
	}
	
	#morenewsColA, #morenewsColB {
		width: 100%;
	}
	
	#footer-logo-address {
		height: 60px;
	}
	
	#sectioncontent .shadowbox {
		max-width: none;
		width: 100%;
		float: left;
	}

	#sectioncontent .graybox {
		max-width: none;
		width: 95%;
		float: left;
	}



	#left-slot-two-up .videobox {
		display: initial !important;
		box-shadow: none;
		margin: 0 0 15px 15px;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		width: 95%;
	}

	#left-slot-two-up .videobox embed {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#left-slot-two-up .videobox object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


	div#abovefold div div#storycontent div p, .emailform, form#emailstory div.clear p, form#emailstory div.clear p textarea#comment, .mailbuttons, form#sendnews, form#sendnews div.field textarea#comments {
		max-width: 622px;
		width: 100%;
	}
	
	#podcastlist {
		width: 31% !important;
	}
	

	
	#storyfooter .morevideothumb {
		width: 44%;
		height: 175px !important;
	}
	
	.multipletop {
		float: left;
		margin-bottom: 10px;
		width: 100%;
		max-height: 380px !important;
	}
}





@media screen and (max-width: 640px) {
	
	.640px {display: inline;}
	
	body {
		background: #004483;
	}
	
	#header-logo, #aboutnav {
		display: none !important;
	}
	
	#header {
		height: 0px !important;
	}
	
	#	 {
		border-bottom: 1px solid #004483;
		height: 22px !important;
	}
	
	.headersearch {
		height: 17px;
	}
	
	.headersearchbutton {
		margin-bottom: -4px !important;
	}
	
	#mobilesocial ul li a img {
		margin-top: 4px;
	}

	.slicknav_menu {
		margin: 0px;
		padding: 0px;
	}
	
	#mobilenav, #mobilehnav, #mobilelangnav {
		display: inline;
	}	
	
	.sidr ul li {
		text-align: left;
	}
	
	.sidr ul li a {
		margin-left: 10px;
	}
	
	#mobilenav img {
		text-decoration: none;
	}
	
	a#mobilelangnav img {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	a#mobilehnav img {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.galleria-fs {
		display: none;
	}
	
	.galleria-thumbs {
		right: 0px !important;
	}
	
	.galleria-dots {
		bottom: 40px !important;
	}
	
	.galleria-dots div {
		padding-bottom: 5px;
	}
	
	.gallery-wide-pt {
		height: 550px;
	}
	
	.galleria-more {
		right: 20px !important;
	}

	#headerimg {
		width: 95% !important;
		max-width: unset;
	}
	
	#left-slot-two-up .shadowbox {
		display: initial !important;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}

	#left-slot-two-up .videobox {
		display: initial !important;
		box-shadow: none;
		margin: 0 0 15px 15px;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	#left-slot-two-up .videobox embed {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#left-slot-two-up .videobox object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	#left-slot-two-up .shadowbox img {
		display: initial !important;
	}
	
	#abovefooter .viewlet {
		width: 95% !important;
	}
	
	#abovefooter .viewlet img {
		max-width: 640px;
		width: 100% !important;
		height: auto;
	}
	
	#abovefooter .shadowbox, #abovefooter .graybox {
		width: 100% !important;
		min-height: unset;
		max-width: unset;
		margin-left: 0;		
	}
	
	#abovefooter .shadowbox img, #abovefooter .graybox img {
		display: none;
	}

	#headlineboxes .headlineboxes, #abovefooter .shadowbox, #belowfoldtalltrue #headlineboxes .headlineboxes {
		box-shadow: none;
		background: #E5E6E7;
		margin: 5px 0 !important;
		width: 100%;
	}
	
	#headlineboxes, #abovefooter {
		margin: 0;
	}
	
	#abovefooter .shadowbox .sectionteaser, #abovefooter .shadowbox .sectionteaser p {
		width: 100% !important;
	}
	
	.belowfoldwide {
		display: none;
	}
	
	#storytext h3 {
		margin-left: 5px;
	}
	
	#storytoptools {
		margin-right: 5px;
	}
	
	#storyfooter .morevideothumb {
		width: 44%;
		height: 200px !important;
	}
	
	.belowfoldwide .shadowbox, .pullquote {
		display: none;
	}
	
	.image-inline, .image-inline div {
		width:100% !important;
	}
	
	.image-inline.captioned img {
		width: calc(100% - 20px);
		height: auto;
		margin: 0px 10px;
	}

	.image-right {
	    padding-right: 10px;
	}

	.image-left {
	    padding-left: 10px;
	}

	#storytext audio {
		width: 100%;
	}
	
	#storycontent #dateline {
		line-height: 14px !important;
	}

	.belowfoldwide {
		border-bottom: none;
	}

	div#abovefold div div#storycontent div p, .emailform, form#emailstory div.clear p, form#emailstory div.clear p textarea#comment, .mailbuttons, form#sendnews, form#sendnews div.field textarea#comments {
		width: 96%;
	}
	
	#header, #footerlogoaddress {
		max-width: 640px !important;
	}
	
	#footer-logo-address {
		height: 69px;
	}
	
	#storytoptools {
		border: none;
	}
	
	#morenewsColA, #morenewsColB {
		max-width: 640px;
		width: 100%;
		float: left;
	}
	
	#topstory {
		width: 99%;
	}
	
	.emailform {
		margin-left: 10px;
	}
	
	div.emailform form#emailstory div.clear p {
		padding: 0px !important;
	}
	
	#morenews, #morenewsColA, #morenewsColB, #morenewsColA .sectionteaser, #morenewsColB .sectionteaser {
		width: 98%;
		max-width: 640px;
	}
	
	#menu, #h-nav-udm, .aboutlogomap {
		display:none;
	}
	
	#header {
		height: 110px;
		width: 100%;
		padding: 0;
	}
	
	#aboutnavsearch {
		width: 100%;
		margin: 0;
		position: relative;
		top: 0;
		right: 0;
		height: 40px;
		padding-right: 0 !important;
		float: right;
	}
	
	#aboutnav {
		margin-top: 12px;
		display:block;
		text-transform: uppercase;
		position: relative;
		top: -40px;
		right: 20px;
		width: 100%;
		float: right;
		text-align: right;
	}
	
	#headersearch form {
		width: 100%;
	}
	
.headersearch {
    width: calc(100% - 27px) !important;
    position: absolute;
    right: 27px;
}
	
	.button {
		position: absolute;
		right: 0;	
	}
	
	
	.slicknav_menu {
		display:block;
	}
	
	#header {
		box-shadow: -1px 0 5px rgba(50, 50, 50, 0.3), 1px 0 5px rgba(50, 50, 50, 0.3);
	}
	
	#langnav {
		max-width: 40%;
	}
	
	#langnav img {
		height: 20px;
	}
	
	#storycontent h1, #contentwell h1 {
		font-size: 22px;
	}	


	#langnav, #frontsidebar, #belowfoldtall {
		display:none;
	}

	#frontcontent, #storycontent, #contentwell {
		width: 100%;
		max-width: 640px;
	}
	
	#frontcontent h1 {
		width: 100%;
		max-width: 640px;
	}
	
	#morenews .teaserimgdate {
		display: none;
	}
	
	/* THESE CHANGES MAKE PHONE VIEW LOOK MORE LIKE CURRENT MOBILE SITES */
	
	#contentwell .sectionteaser, #contentwell .sectionteaser a {
		font-size: 12px;
	}
	
	#contentwell .sectionteaser #story_date, #contentwell .sectionteaser .teaserimg, #contentwell .sectionteaser br {
		display: none;
	}
	
	#contentwell .sectionteaser {
		padding: 5px;
		width: 100%;
		max-width: 640px;
		background: #E5E6E7;
		margin-top: 0;
		margin-bottom: 1px;
	}
	
	#contentwell .sectionteaser {
		width: 99% !important;
	}
	
	.narrowresults {
		margin: 0;
		border: none;
		padding: 0 15px;
		width: 90%;
		max-width: 640px;
	}
	
	.listingBar {
		text-align: center;
	}
	
	#abovefold {
		margin-top: 0;
		padding-top: 0;
		margin-left: 0;
	}
	
	#topstoryimg img {
    	width: 33%;
		float: left;
		padding: 10px;
	}
  
	#topstory {
		min-height: 20px !important;
		width:100%;
		max-width: 640px !important;
	}
  
	#topstorytease p {
    	display: none;
  	}

	#topstorytease h2 {
		font-size: 16px;
	}
  
  #morenews {
		margin-left: 10px;
	}
	
	#morenews .teaser h2, #morenews .sectionteaser h2 {
		font-size: 12px;
	}

	#mobilesocial {
		display: block;
		vertical-align: top;
		color: #333;
		background: #e7e8e9;
		padding: 6px 10px;
		line-height: 20px;
		text-align: center;
	}
	
	#mobilesocial a {
		text-decoration: none;
	}

	#mobilesocial h5 {
		vertical-align: 25%;
		margin-right: 5px;
		text-transform: uppercase;
		font-size: 12px;
		display: inline;
	}

	#mobilesocial ul, #mobilesocial li {
		display: inline;
	}

	#mobilesocial ul {
		padding-left:10px;
	}
	
	#headlineboxes, #headlineboxes .headlineboxes {
		max-width: 640px;
		width: 100%;
		margin:0;
	}

	#belowfoldtalltrue .headlineboxes, .belowfoldwide div div.viewlet {
		max-width: 640px;
		float: left;
		width: 100%;
		box-shadow: none;
		background-color: #E6E7E8;
		margin: 1px 0;
  	}

	.headlineboxes li {
		max-width: 640px;
		width: 100%;
		line-height: 2.5em;
	}

	#subfoldcategories .shadowbox .sectionteaser a, .belowfoldwide .shadowbox li, .belowfoldwide .graybox li, .belowfoldwide .viewlet li, .shadowbox ul li {
 		line-height: 2.5em;
	}

	.headlineboxes h2:after {
		content: none;
	}
	
	.headlineboxes h2 {
		text-transform: uppercase;
	}
	
	#header-logo {
		width: 90%;
	}
	
	#storycontent h1, #contentwell h1 {
		font-size: 16px;
		padding: 10px;
	}
	
	#breadcrumbs {
		margin-top: 0;
		color: #FFF;
		background-color: #238D3D;
		width: 100%;
		max-width: 640px;
		padding: 1px 0px 1px 10px;
	}
	
	#breadcrumbs a {
		color: #FFF;
	}
  
	#breadcrumbs p {
		line-height: 5px;
	}
	
	#storycontent, #storycontentdiv {
		width: 100%;
	}
	
	#storycontent h1, #contentwell h1 {
		margin-bottom: 0;
		padding: 0 10px;
	}
		
	#storytext p {
                padding-left: 10px;
                padding-right: 10px;
	}
	
	#zoomattribute {
		display: none;
	}
	
	#storyfooter .relatedstories {
		padding: 10px;
	}
	
	.storytoptoollanguage {
		display: none;
	}
	
	.storytoptoolbutton {
		width: auto;
	}
	
	#storytop, #releasetop {
		border-top: none;
		border-bottom: none;
		padding-left: 10px;
	}
	
	#storycontent #dateline {
		width: 100%;
		float: left;
		line-height: 28px;
		margin-right: 20px;
	}
	
	#storytopsocial, #storytoptools {
		float: left;
		width: auto !important;
		margin-bottom: 0;
		display: inline-block;
		white-space: nowrap;
	}
	
	#storytopsocial {
		max-width: 220px !important;
		display: block;
	}
	
	#storytoptools {
		float: right !important;
		width: 90px;
	}
	
	.storytoolsprint {
		display:none;
	}

	#headerimg {
		margin: 0 0 20px;
	}
	
	#twitter-widget-0, .twitter-horizontal-count, .twitter-share-button {
		position: relative;
		top: 0px;
		width: 90px !important;
		float: left;
		display: inline;
	}
	
	.fb-share-button, .fb_iframe_widget {
		vertical-align: top;
		display: inline;
		float: left;
		width: auto !important;
	}

	#headerimg, #headerimg img {
		width: 100% !important;
	}

	#sectioncontent {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
		max-width: 640px;
		width: 100%;
	}
	
	div#sectioncontent.clear div div.shadowbox {
		display: none;
	}
	
	#topstory {
		margin-bottom: 5px;
	}
	
	#topnews .sectionteaser, #sectioncontent .sectionteaser {
		background: #E7E7E8;
		padding: 10px;
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 5px;
		min-height: 20px;
		float: left;
		max-width: 640px;
		width: 100%;

	}
	
	#topnews, #topstory, #topstorytease p, #topstorytease h2 a, #topnews .sectionteaser h2 a, #sectioncontent .sectionteaser h2 a, #topnews .sectionteaser, #sectioncontent .sectionteaser {
		max-width: 640px;
		width: 100%;
	}

	#abovefold #frontcontent #servicetopstory #topstory img, #abovefold #frontcontent #servicetopstory #topstoryimg { 		
		display: inline;
		width: 100%;
		padding-left: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	#abovefold #frontcontent #servicetopstory #topstory {
		background: #093465;
		color: #FFF;
		padding-top: 5px;
	}
	
	#abovefold #frontcontent #servicetopstory #topstory p {
		display: inline;
		color: #FFF;
		padding-left: -10px !important;
		width: 100%;
		position: relative;
		left: 10px;
		padding-right: 10px !important;
	}
	
	div#pagewidth div#abovefold div#frontcontent div#servicetopstory div#topstory div#topstorytease h2 a {
		margin-left: 0;
	}
	
	div#pagewidth div#abovefold div#frontcontent div#servicetopstory div#topstory {
		padding-left: 0;
	}

	#topstory, #topstorywide {
		display: flex;
		display: -webkit-box; /* old safari and ios */
		display: -webkit-flex; /* new chrome and safari */
		flex-direction: column-reverse;
		-webkit-box-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		padding-bottom: 1px;
	}
	
	#topstory h2 a, #topstorywide h2 a {
		font-size: 18px !important;
		line-height: 22px !important;
		margin-top: 5px;
	}
	
	#topstorytease p {
		display: initial;
		margin-left: 0;
	}
	
	#frontcontent #topstory #topstoryimg img {
		width: 100%;
		padding-left: 0;
		padding-bottom: 1px;
	}
	
	#frontcontent #topstorywide {
		margin: 0 !important;
		padding: 0 0 1px 0;
	}
	
	#frontcontent #topstorywide #topstorywidetease {
		padding-left: 0;
		margin-left: 0;
	}
	
	#frontcontent #topstorywide #topstorywideimg {
		width: 100%;
		max-width: 640px;
		padding: 0px !important;
	}
	
	#frontcontent #topstorywide #topstorywideimg img {
		margin: 0;
		padding: 0;
		widows: 100%;
		max-width: 640px; 
	}
	
	#abovefold {
		max-width: 640px;
		width: 100%;
	}
	
	.gotoarchive {
		margin: 0;
		float: right;
		margin-right: 10px;
	}
	
	div#pagewidth div#abovefold div#frontcontent div#topnews div.sectionteaser, div#pagewidth div#abovefold div#frontcontent div#topnews div.sectionteaser a, div#pagewidth div#abovefold div#frontcontent div#topstory div#topstorytease p, div#pagewidth div#abovefold div#frontcontent div#topstory div#topstorytease a, div#pagewidth div#abovefold div#frontcontent div#sectioncontent.clear div.sectionteaser, div#pagewidth div#abovefold div#frontcontent div#sectioncontent.clear div.sectionteaser a {
		font-size: 12px;
		line-height: 14px;
	}
	
	#frontcontent h1, #contentwell h1, h1.migratedtitle, #specialpagecontent .categoryh1 {
		padding: 10px;
		font-size: 18px;
	}
	
	div#abovefold div div#storycontent div p, #storyteaser em, div#abovefold div#storypagemaincol div#storycontent div {
		padding: 0 10px;
	}
	
	p.returnstory {
		margin-left: 10px;
	}
	
	#podcastcontent, #podcastcontent p {
		width: 98% !important;
		max-width: 640px !important;
		float: left;
	}
	
	div#podcastlist a.servicehome img.podcastimage {
		display: none;
	}
	
	#podcastlist {
		border: none !important;
		box-shadow: none !important;
		background: #e6e7e8;
		margin-bottom: 1px !important;
		margin-left: 0 !important;
		margin-right: 0 important;
		width: 100% !important;
		max-width: 640px !important;
	}	
	
	.podcasttitle, .podcasttitle .media_links {
		float: left !important;
	}
	
	#podcastlist .media_links ul {
		margin: 10px 0 !important;
		float: none !important;
	}
	
	li.playlistlink {
		margin-bottom: 5px !important;
	}
	
	a.servicehome {
		float: left;
		font-size: 12px;
		font-weight: bold;
	}
	
	#specialpagecontent {
		width: 100%;
		max-width: 640px;
		float: left;
	}
		
	#footerlinks {
		display:none;
	}
	
	#frontcontent, #contentwell, #storypagemaincol, .sendnewsform, form#sendews {
		width: 100%;
	}
	
	#abovefold {
		padding-left: 0;
	}
	
	div.specialwrap {
		width: 100%;
	}
	
	div.specialwrap a img.linkpic {
		max-width: 640px;
	}
	

#jobscontent .shadowbox {
    float: left;
    width: 98%;
}

#jobssection .graybox  {
    float: left;
    width: 99%; !important;
    max-width: 99%;
}

	#listenlive {
		margin-left: 0 !important;
	}	
	
	#listenlive, div#specialpagecontent div.categoryh1 {
		width: 100% !important;
	}
	
	#listenlive .legend img {
		max-width: 635px;
		width: 100% !important;
	}

	#listenlive table#live, #listenlive table#live tbody, #listenlive table#live tbody tr {
		width: 100% !important;
		max-width: 635px !important;
		table-layout: fixed;
	}
	
	#listenlive #table#live, #listenlive table#live td a  {
		font-size: 80%;
	}
	
	div#specialpagecontent div.categoryh1 {
		width: 90% !important;
	}
	
	#topnews .sectionteaser, #topstorytease, #sectioncontent .sectionteaser {
		padding-right: 20px;
		width: 98%;
	}
	
	#topstorytease p {
		line-height: 9px !important;
	}
	
	.videoarchivethumb {
		width: 100%;
		background: #e6e7e8;
		padding: 5px 5px 0px;
		margin-bottom: 1px;
	}
	
	.videoarchivethumb img {
		display: none;
	}
	
  	.videoarchivethumb h5 {
		display: inline;
		text-align: left;
		border: none;
		position: relative;
		right: 0;
		width: 100%;
		padding: 0;
		font-size: 12px;
		background-color: #e6e7e8;;
		}
	
	.videoarchivethumb h5 a, .videoarchivethumb h5 a:active, .videoarchivethumb h5 a:visited, .videoarchivethumb h5 a:hover  {
		color: #003366;
	}
		
	.videoarchivethumb h5 a:active, .videoarchivethumb h5 a:hover  {
		text-decoration: underline;
	}
	
	.videoarchivethumb:hover h5 {
		display: inline;
	}
	
	.zoomattribute {
		display: none;
	}

	#abovefooter .videobox.videosmall  {
		display: none;
	}
	.multipletop {
		float: left;
		margin-bottom: 10px;
		width: 100%;
		max-height: 380px;
	}
	#addcomment span {
	display:none;
	}
}

@media screen and (max-width: 500px) {

	.gallery-wide-pt {
		height: 450px;
	}

}

@media screen and (max-width: 383px) {

	#storyfooter .morevideothumb {
		width: 95%;
		height: auto !important;
	}
	
	.gallery-wide-pt {
		height: 350px;
	}
	
	.gallery-narrow-pt, .gallery-narrow-pt .galleria-container, .galleria-info {
		 width: 100% !important;
	}
	
	.gallery-narrow-pt {
		padding: 5px -1px;
	}
	
	.galleria-thumbs {
		right: 15px !important;
		padding: 0 !important;
	}
	
	.galleria-more {
		right: 34px !important;
	}

}

@media screen and (max-width: 328px) {

	#aboutnav {
		display: none;
	}
	
}



