body {
    margin-top: 0px; color: black; font-family: Arial, Helvetica, sans-serif; background-color: #FFFFFF; margin: 0px; font-size: 14pt; text-align:center; min-width: 980 }

.clear { clear: both; }
.floatleft { float: left; }
.floatright { float: right; }
.bold { font-weight: bold; }

a:hover { text-decoration: underline !important; }

/*search text highlighting*/
.highlight { background-color: yellow }

#pagewidth { /* this is the holder for the front page content */
	text-align: left;
	background-color: #FFFFFF;
    margin: 0px auto; /* this centers the container */
    max-width: 980px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.4), 0px 0px 10px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.4), 0px 0px 10px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.4), 0px 0px 10px rgba(50, 50, 50, 0.4);
}

#header {
	margin-top: 0px;
	position:relative;
	left:0;
	top:0;
	width:100%;
	height: 85px;
	background: #004483; /* Old browsers */
	background: -moz-linear-gradient(left,  #004483 0%, #004FA0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#004483), color-stop(100%,#004FA0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #004483 0%,#004FA0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #004483 0%,#004FA0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #004483 0%,#004FA0 100%); /* IE10+ */
	background: linear-gradient(left,  #004483 0%,#004FA0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004483', endColorstr='#004FA0',GradientType=1 ); /* IE6-9 */}

a img { border: none; }

.logo { position: relative; top: 0px; left: 30px; }

#header-logo {
	background-image: url(rfalogo.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 30px;
	width: 400px;
	height: 85px;
	cursor: pointer;
}
#mobilenav { display: none; }

#langnav {position: absolute; top: 0px; right: 15px; list-style-type: none; margin-top: 0;}

#langnav li {display: inline;}

#langnav a, #langnav a:hover { text-decoration: none !important; }
#aboutnavsearch {
    position: absolute;
    top: 45px;
    right: 27px;
    float: right;
}

#aboutnav { color: #CCCCCC; font-size: 8pt; padding-top: 6px; float: left; /* position: absolute; top: 51px; right: 268px; */  }

#aboutnav a { color: #CCCCCC; text-decoration: none; }

#headersearch { float: right; margin-top: 0px; /* position: absolute; top: 45px; right: 27px; */ }
.headersearch { border: none; border-left: 5px solid white; height: 20px; margin-left: 10px; margin-right: -6px; /*position: absolute; right: 22px; top: 0px;*/ color: #999999;}
.headersearch value { color: #CCCCCC; }
.headersearchbutton {
	margin-bottom: -7px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
 }

.searchpagesearch {
	border: none;
	height: 38px;
	padding-left: 15px;
	color: #999999;
	font-size: 15px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#searchpagesearch {
	height: 42px;
	background: #CCCCCC;
	color: #333333;
	width: 622px;
	padding: 2px;
	margin-bottom: 30px;
	float: left;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.resultcount {
	float: left;
	text-align: center;
	/* width: 280px; */
	width: 100%;
	padding: 10px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.narrowresults {
	text-align: center;
	color: #003366;
	line-height: 30px;
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 10px 0px;
}

.narrowresults a {
	text-decoration: none;
	color: #003366;
}

.searchresult {
	line-height: 20px;
	padding-left: 15px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.searchresulttitle {
	float: left;
	font-weight: bold;
}

.searchresultdate {
	clear: none;
	float: left;
	margin-left: 20px;
}

.searchresultteaser {
	clear: both;
	padding-left: 45px;
}

.newsalertemail { border: 1px solid #6A6A6A; padding-left: 5px; height: 25px; color: #999999; vertical-align: middle; }

#mobilesocial {
	display: none;
}

#h-nav-udm {
	position: relative;
	left: -5px;
	padding-left: 39px; /* This is a manual setting to push the English nav bar to the center - not needed for other languages*/
	top:0px;
	width: 990px;
	height: 34px;
	background: #FFFFFF;
	margin-bottom: -1px;
	z-index: 50;
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#h-nav ul.udm {
	position: relative;
	top: -1px;
	padding: 0px;
	height: 35px;
	width: 990px;
	list-style-type: none;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#h-nav {
	position: relative;
	left: -5px;
	float: left;
	top:0px;
	width: 990px;
	/* height: 35px; */
	background: #FFFFFF;
	z-index: 50;
	/* text-align: center; */
	font-size: 0px; /*  This is to remove spaces from between line items in h-nav.  Font size is restored in li style. It's a hack, but floating left won't allow centering of the h-nav and the only other solution is removing all spaces from between the li tags and that's an even worse hack since it's directly modding the template.  */
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#h-nav ul {
	position: relative;
	top: -1px;
	float: left;
	margin: 0px auto;
	padding: 0px;
	/* height: 35px; */
	width: 990px;
	list-style-type: none;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#h-nav li {
	float: left;
	font-size: 12px;
	line-height: 20px;
	v-align: middle;
	text-align: center;
	display: inline;
	padding: 10px 10px 11px 10px;
	border-left:1px solid #DDDDDD;
	margin: 0px auto;
	margin-top: 1px;
	margin-bottom: -1px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */

}

#h-nav li:after {
 content:"";
}


/* This removes the border decoration from the left side of the first li in the horizontal navigation, which should be fine because that link will always be template-based "home".  */
#h-nav li.h-navhome {
 border-left: 0px;
}

#h-nav li a {
	color: #000000;
	text-decoration: none;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */

}

#h-nav li:hover, #h-nav .current-section, .current-section{ background-color: #004081; }
#h-nav li:hover a, #h-nav .current-section a, .current-section a { color: #FFFFFF;  }

#h-nav .mobile_audio_archive {
	display:none;
	}
#printlogo { display: none; }

#abovefold {
	width: 100%;
	max-width: 950px;
	overflow: hidden;
	margin: 0px auto;
	padding-top: 15px;
	margin-top:10px;
	margin-bottom: -5px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#breakingnews {
    font-weight: bold;
    font-size: 14px;
}

#breakingnews marquee {
	margin-bottom: 10px;
}

#specialpagecontent {
	width: 100%;
	max-width: 980px;
	margin: 0px auto;
	padding: 0px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#storyteaser {
	margin-bottom: 10px;
	font-size: 14px;
}

#frontcontent, #storycontent, #contentwell {
 width: 100%;
 max-width: 622px;
 float: left;
 border-right: 1px solid #D7D7D7;
 padding-right: 14px;
 margin-bottom: 20px;
}

#frontcontent #maincol {
	width: 100%;
}

#contentwell {
 padding-bottom: 20px;
 margin-bottiom: -2000px;
 font-size: 13px;
}

#storycontent, #contentwell {
 margin-bottom: 20px;
}

#breadcrumbs {
 text-transform: uppercase;
 font-size: 10px;
 margin-bottom: 10px;
}

#breadcrumbs a {
 text-decoration: none;
 color: #000000;
}

#storycontent h1, #contentwell h1 {
 font-size: 32px;
 color: #003366;
 font-weight: normal;
 margin: 0px 0px 10px 0px;
 padding: 0px;
}

#contentwell p {
 margin-top: 20px;
 color: #333333;
 font-size: 13px;
}

#contentwell a {
 color: #003366;
 text-decoration: none;
}

#storytop, #releasetop {
max-width: 622px;
width: 100%;
border-top: 1px #DFDFDF solid;
border-bottom: 1px #DFDFDF solid;
padding-top: 3px;
padding-bottom: 1px;
font-size: 10px;
color: #666666;
-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
margin-bottom: 20px;
}

#dateline {
 margin: 0px 0px 6px 0px;
 padding: 0px;
 width: 180px;
 height: 25px;
 float: left;
}

#story_date {
 color: #6B6B6B;
 font-size: 12px;
 font-weight: bold;
}

#storytopsocial {
 width: 200px !important;
 height: 25px;
 float: left;
 padding-top: 4px;
}

.fb-like, div.fb-like {
 vertical-align: top;
 padding-bottom: 5px;
}

.fb_iframe_widget {

float: right;
}


#storytoptools {
 width: 200px;
 height: 25px;
 float: right;
 margin-bottom: 10px;
}

.storytoptoolbutton {
 text-align: center;
 width: 50px;
 float: left;
}

.storytoptoolbutton img {
 border: none;
}

.storytoptoollanguage {
 clear: both;
 max-width: 622px;
 width: 100%;
 margin-top: 10px;
 border-top: 1px #DFDFDF solid;
 padding-bottom:5px;
-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.storytoptoollanguage a {
 text-decoration: none;
 color: #666666;
}

#storytop li, #releasetop li {
 display: inline-block;
 margin: 0px;
 padding: 0px;
 float: right;
 width: 50px;
 text-align: center;
}

#headerimg, .additionalimg {
 float: left;
 margin: 0px 0px 20px 0px;
 display: table;
 width: 1%;
 margin-right: 15px;
 color: #333333;
}

#headerimg img {
  height: auto;
}

#zoomattribute img {
  width: 18px;
}

#headerimgcontents, .additionalimgcontents {
	height: auto;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#headerimgcaption, .image-caption, .additionalimgcaption {
 
 font-size: 12px;
 font-style:italic;
 float: left;
 margin: 0px;
-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
 padding: 0 10px 5px 0;
 width: 100%;
}

#headerimgcaption span, .additionalimgcaption span {
	display: block;
}

#zoomattribute, .zoomattribute {
 color: #333333;
 position: relative;
 top: 0px;
 font-size: 10px;
 float: right;
 width: 100%;
 margin: 0px;
 text-align: right;
 height: 100%;
 vertical-align: middle;
}

#zoomattribute img, .zoomattribute img {
	margin-right: 10px;
	vertical-align: top;
	border: 0px;
}

#storytext {
	font-size: 14px;
	color: #333333;
}

#storytext h2 {
 font-size: 20px;
 margin-bottom: 0px;
 margin-top: 35px;
 font-weight: 200;
}

#storytext p {
 margin-top: 0px;
 margin-bottom: 15px;
 line-height: 20px;
}

#storytext p object {
 float: left;
}

#storytext table {
	float: left;
}

.sidebar {
 clear: left;
 float: left;
 width: 230px;
 margin: 5px 20px 5px 0px;
}

#storytext .shadowbox, {
 float: left;
 margin-bottom: 20px;
 padding: 15px;
 width: 230px;
 clear: left;
}

.additionalimg {
	clear: left;
	float: left;
	margin-left: 3px;
	margin-bottom: 20px;
	width: 230px;
}

.additionalimg img {
	width: 230px;
	height: auto;
}

.additionalimgcontents {
	width: 230px;
}

.additionalimgcontents img {
	height: auto !important;
	width: auto !important;
}

#storytext .shadowbox h3 {
 width: 100%;
 background: #E1E1E1;
 color: #701111;
 font-size: 14px;
 text-transform: uppercase;
 padding: 5px;
 margin: 0px 0px 10px 0px;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */

}

.floatleft {
 float: left;
}

.audiolinks {
	color: #003366;
	clear: both;
	margin: 0px;
}

.audiolinks img {
 border: none;
}

.audiolinktext {
    max-width: 500px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 12px;
    padding-left: 48px;
}

.audiolinkicons {
 float: right;
 vertical-align: middle;
}

#storyfooter .relatedstories {
 border-top: 4px #D7D7D7 solid;
 max-width: 622px;
 width: 100%;
 margin-bottom: 15px;
 margin-top: 15px;
 float: left;
}


#storyfooter .relatedstories h3 {
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 16px;
}

#storyfooter .relatedstories ul {
	margin: 0px 0px 0px 15px;
	padding: 0px;
	color: #003366;
	font-size: 13px;
}

#storyfooter .relatedstories ul a {
	text-decoration: none;
	color: #003366;
}

#storyfooter .relatedstories .has_audio {
     background-image: url("graphics/has-audio.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 13px;
	}

#storyfooter .relatedstories .has_video, #storyfooter .relatedstories .has_audio_video {
     background-image: url("graphics/has-video.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 13px;
	}



#commenttools {
width: 622px;
border-top: 1px #DFDFDF solid;
border-bottom: 1px #DFDFDF solid;
padding-top: 3px;
padding-bottom: 1px;
font-size: 10px;
color: #666666;
float: left;
-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
margin-bottom: 20px;
}

#commentcount {
 margin: 5px 0px 2px 0px;
 padding: 0px;
 width: 150px;
 height: 25px;
 float: left;
 font-size: 14px;
 font-weight: bold;
}


#addcomment {
 width: 322px;
 height: 25px;
 float: left;
 padding-top: 4px;
 font-size: 12px;
 padding: 0px;
 margin: 0px;
}

#addcomment img {
	vertical-align: middle;
}

#addcomment a {
	text-decoration: none;
	color: #666666;
}

#commentbuttons {
 width: 150px;
 height: 25px;
 float: left;
}

.commentbutton {
 text-align: center;
 width: 50px;
 float: left;
}

.commentbutton img {
 border: none;
}

.commentbuttonlanguage {
 clear: both;
 width: 622px;
 margin-top: 10px;
 border-top: 1px #DFDFDF solid;
-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.commentbuttonlanguage a {
 text-decoration: none;
 color: #666666;
}

#commenttools li {
 display: inline-block;
 margin: 0px;
 padding: 0px;
 float: right;
 width: 50px;
 text-align: center;
}


.commentsubmission {
	margin-top: 20px;
	font-size: 12px;
	color: #666666;
	padding-bottom: 20px;
	border-bottom: 1px #DFDFDF solid;
}

.commentsubmission textarea {
	padding: 5px;
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #CCCCCC;
}

.commentsubmission form {
	padding-bottom: 10px;
}

.commentsubmission a {
	text-decoration: none;
	color: #003366;
}

.comment,
.commentreply {
	margin-top: 0px;
	font-size: 12px;
	color: #333333;
	margin-bottom: 0;
	border-bottom: 1px #DFDFDF solid;
	padding-bottom: 5px;
}

.comment h3,
.commentreply h3 {
	margin: 0px;
	padding: 0px;
}

.comment p,
.commentreply p {
	margin-top: 3px;
	margin-bottom: 20px;
}

p.commentercomment, p.commentdate {
	margin-bottom: 10px;
}


#topstory {
 float: left;
 background: #003366;
 color: #FFFFFF;
 width: 302px;
 height: auto;
 margin-right: 15px;
}

#topstory img {
 width: 302px;
}

#topstorytease h2 {
	font-size: 21px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	font-weight: bold;
	word-wrap: break-word;
}

#topstorytease .teaserdate {
	display: none;
}

#topstorytease a {
    color: white;
    text-decoration: none;
}

#topstorytease p {
	font-size: 14px;
	margin-left:10px;
	margin-top: 0px;
	padding:0px;
	width:282px;
}

#topstorywide {
 float: left;
 background: #003366;
 color: #FFFFFF;
 width: 622px;
 padding-top: 15px;
 padding-right: 15px;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#topstorywide img {
 float: left;
 margin-left: 15px;
 margin-right: 15px;
 margin-bottom: 15px;
}

#topstorywidetease {
	margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    width: 605px;
    word-wrap: break-word;
}

#topstorywidetease .has_audio_video, #topstorywidetease .has_video {
     background-image: url("graphics/has-video-white.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#topstorywidetease .has_audio {
     background-image: url("graphics/has-audio-white.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
	}

#topstorywidetease h2 {
	font-size: 26px;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 0px;
	font-weight: bold;
	margin-top: 0px;
}

#topstorywidetease a {
    color: white;
    text-decoration: none;
}

#topstorywidetease p {
	font-size: 14px;
	margin-left:10px;
	margin-top: 0px;
	padding:0px;
}

#topnews {
 padding-top: 0px;
 margin-top: -5px;
 max-width: 622px;
	width: 100%;
 text-align: left;
 font-size: 13px;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}


#frontcontent h1 {
	background: #FFFFFF;
	color: #003366;
	text-transform: none;
    margin: 0 0 5px;
	font-size: 30px;
	font-weight: normal;
}

#insiderfa {
	margin-top: 0px;
	float: right;
	color: #FFFFFF;
	font-size: 9pt;
	width: 302px;
	height: 375px;
	background: #1769a2; /* Old browsers */
	background: -moz-linear-gradient(left,  #1769a2 0%, #b1cfe7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1769a2), color-stop(100%,#b1cfe7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1769a2 0%,#b1cfe7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1769a2 0%,#b1cfe7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1769a2 0%,#b1cfe7 100%); /* IE10+ */
	background: linear-gradient(left,  #1769a2 0%,#b1cfe7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1769a2', endColorstr='#b1cfe7',GradientType=1 ); /* IE6-9 */
}

#insiderfa h1, .insiderfa, h1.insiderfa, .videobox h3 {
 width: 100%;
 background: #333333;
 position: relative;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 6px 0px 5px 15px;
 color: #FFFFFF;
 font-family: arial;
 text-transform: uppercase;
 font-size: 14px;
 font-weight: bold;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#insiderfacountries {
	width: 302px;
	position: relative;
	top: 0px;
	float: left;
	height: 309px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-image: url('graphics/skybluestripe.png');
	background-repeat: repeat;
}


#insiderfamap {
	height: 344px;
	margin: 0px;
	padding: 0px;
}

#mapnav {
	display: none;
}

#insiderfaMAN {
	position: absolute;
	top: 0px;
	left: 0px;
}

#insiderfaCAN, #insiderfaBUR, #insiderfaKOR, #insiderfaKHM, #insiderfaLAO, #insiderfaTIB, #insiderfaUYG, #insiderfaVIE  {
 	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}


#headlinesMAN, #headlinesCAN, #headlinesBUR, #headlinesKOR, #headlinesKHM, #headlinesLAO, #headlinesTIB, #headlinesUYG, #headlinesVIE {
	position: absolute;
	top: 150px;
	width: 282px;
	font-size: 8pt;
	margin: 0px auto;
	z-index: 80;
	color: #000000;
	float: right;
}


#headlinesLAO { font-family: "Saysettha OT"; font-size: 9pt; }
#headlinesKHM { font-family: Hanuman,"Khmer OS System","Khmer OS",Tahoma; }
#headlinesUYG { direction: rtl; text-align: right; font-size: 10pt; font-family: "Uyghuredit lotus","UKIJ Nasq","UKIJ Tuz Tom","UKIJ Basma","Uighursoft Web Tor","Alpida Unicode System","UKIJ Tuz","UKIJ Basma","Microsoft Uighur","Arial Unicode MS";}
#headlinesTIB { font-size: 11pt; font-family:'Microsoft Himalaya', 'Tib-US Unicode','Jomolhari','Tibetan Machine Uni','Tibetan Unicode','Uchen_05','Wangdi29','XenoType Tibetan New','XTashi','TCRC Youtso','TCRC Youtsoweb','TCRC Bodyig'; word-wrap: break-word; }
#headlinesBUR { font-family: Zawgyi-One;}

#headlinesMAN a, #headlinesCAN a, #headlinesBUR a, #headlinesKOR a, #headlinesKHM a, #headlinesLAO a, #headlinesTIB a, #headlinesUYG a, #headlinesVIE a {
	color: #000000;
	text-decoration: none;
}

#headlinesMAN ul, #headlinesCAN ul, #headlinesBUR ul, #headlinesKOR ul, #headlinesLAO ul, #headlinesKHM ul, #headlinesTIB ul, #headlinesUYG ul, #headlinesVIE ul {
	margin-top: 0px;
}

#headlinesMAN li, #headlinesCAN li, #headlinesBUR li, #headlinesKOR li, #headlinesLAO li, #headlinesKHM li, #headlinesTIB li, #headlinesUYG li, #headlinesVIE li {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 250px;
	list-style-position: inside;
}

#headlinesUYG ul { padding-right: 20px; margin-left: 15px;}

#headlinesMAN h2, #headlinesCAN h2, #headlinesBUR h2, #headlinesKOR h2, #headlinesLAO h2, #headlinesKHM h2, #headlinesTIB h2, #headlinesUYG h2, #headlinesVIE h2 {
	text-align: right;
	direction: ltr;
	margin-bottom: 0px;
	font-family: arial;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: right;
	padding: 0px;
}

#MANtemp, #CANtemp, #BURtemp, #KORtemp, #LAOtemp, #KHMtemp, #TIBtemp, #UYGtemp, #VIEtemp {
	position: absolute;
	bottom: 0px;
	width: 292px;
	height: 25px;
	margin-top: 4px;

}

#NOtemp {
	position: absolute;
	top: 10px;
	margin-left: 15px;
	height: 32px;
}

.countrytemp {
	position: relative;
	top: 309px;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 10px;
	width: 302px;
	height: 34px;
	background: #cb3f2a; /* Old browsers */
	background: -moz-linear-gradient(left,  #cb3f2a 0%, #eab534 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cb3f2a), color-stop(100%,#eab534)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #cb3f2a 0%,#eab534 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #cb3f2a 0%,#eab534 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #cb3f2a 0%,#eab534 100%); /* IE10+ */
	background: linear-gradient(left,  #cb3f2a 0%,#eab534 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb3f2a', endColorstr='#eab534',GradientType=1 ); /* IE6-9 */
}

.countrytemp table { /* This is getting rid of or modifying the styling that the showmyweather.com script creates */
	padding: 0px !important;
	text-align: left;
	float: left !important;
	line-height: 30px;
	font-size: 11px;
	font-weight: normal;
	border-collapse: collapse;
}

.countrytemp img.weatherImg {
 width: 20px; height: 20px;
}

.countrytemp iframe {
	margin-bottom: -1px;
	text-align: center;
	position: absolute:
	bottom: 3px;
}

.countrytemp .currentcity {
	position: absolute;
	bottom: 11px;
	font-size: 11px;
}

.currentcity:before {
	content:'\0000a0';
}

/* This hides extended forecast since showmyweather.com won't show Pyongyang weather without it */
#KORtemp strong, #KORtemp div.span, #KORtemp img {
 display: none;
}

/* This re-shows the image just for current weather for Pyongyang */
#KORtemp table img {
 display: block;
}

.temperatureclicks {
	visibility: hidden;
}

#morenews {
 margin-top: 15px;
 border-top: 4px solid #D7D7D7;
 padding-top: 10px;
 width: 100%;
 max-width: 622px;
 float: left;
 font-size: 13px;
}

#morestories {
 max-width: 622px;
 width: 100%;
 float: left;
 font-size: 13px;
}

#sectioncontent {
 margin-top: 15px;
 border-top: 4px solid #d7d7d7;
 padding-top: 15px;
 max-width: 622px;
 width: 100%;
 float: left;
 font-size: 13px;
}

#sectioncontent h1 {
 color: #701111;
 font-size: 15pt;
 text-transform: uppercase;
}

#sectioncontent .sectionteaser, #contentwell .sectionteaser {
 max-width: 622px;
	width:100%;
 font-size: 14px;
}

#sectioncontent .shadowbox {
	margin-right: 15px;
}

#sectioncontent, #left-slot-two-up {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

#sectioncontent .gotoarchive {
	width: 100%;
	padding-bottom: 40px;
}

#sectioncontent .shadowbox p {
	width: 100%;
}

#left-slot-two-up .slot_wrapper {
	width: 50%;
}

.slot_second .viewlet iframe {
	max-width: 100%;
}

.slot_second .viewlet b {
	word-wrap: break-word; 
}

#contentwell .sectionteaser {
	margin-bottom: 10px;
	margin-top: 10px;
}


#sectioncontent .has_audio_video, #sectioncontent .has_video {
     background-image: url("graphics/has-video.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#sectioncontent .has_audio {
     background-image: url("graphics/has-audio.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#servicetopstory .has_audio {
     background-image: url("graphics/has-audio.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
 }

 #servicetopstory .has_audio_video, #servicetopstory .has_video {
     background-image: url("graphics/has-video.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#morenews h1, #topstory h1, #topstorywide h1 {
 width: 100%;
 background: #003366;
 position: relative;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 6px 0px 5px 15px;
 color: #FFFFFF;
 font-family: arial;
 text-transform: uppercase;
 font-size: 13pt;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#topstory h1 {
	background: #FFFFFF;
	color: #003366;
	text-transform: none;
	padding: 0px 0px 15px 0px;
	font-size: 30px;
	font-weight: normal;
}

#morenews h1 { display: none; }

#morenewsColA {
	width: 302px;
	float: left;
}

#morenewsColB {
	width: 302px;
	float: right;
}

.teaserimg {
	float: left;
	margin-right: 10px;
}

.teaserimgimg {
	/* margin: 0px 15px 5px 0px; */
	border: 0px;
}

.teaserimg a {
	border: 0px;
}

.teaserimgdate, .teaserdate {
	color: #6B6B6B;
	font-size: 10px;
	margin-top: -2px;
	margin-bottom: 7px;
}

.teaser {
	width: 302px;
	float: left;
	margin-bottom: 20px;
}

.sectionteaser {
	width: 302px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 16px;
}

.teaser h2, .sectionteaser h2 {
	color: #003366;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0px;
}


.teaser h2 a, .sectionteaser h2 a {
	text-decoration: none;
	color: #003366;
}

#frontsidebar {
 width: 100%;
 max-width: 300px;
 float: right;
}

#frontsidebar div .viewlet, #frontsidebar div .viewlet img {
	width: unset;
	max-width: 100%;
}

#frontsidebar .title {
 font-weight: bold;
 -webkit-box-shadow: none;
 -moz-box-shadow-bottom: none;
 box-shadow: none;
 background: #E1E1E1;
 margin-bottom: -5px;
 width: 100%;
 max-width: 300px;
}

#frontsidebar .title a {
 color: #701111;
}

#frontsidebar .description {
 border-top: none;
 margin-top: -15px;
 font-size: 14px;
 box-shadow: none;
 background: #E1E1E1;
 width: 100%;
 max-width: 300px;
}

#frontsidebar div.viewlet {
	width: 98%;
}

#frontchannel {
	position: relative;
	top: 0px;
	left: 0px;
	background: #333333;
	color: #FFFFFF;
	font-size: 12px;
	width: 100%;
	max-width: 300px;
	margin-bottom: 15px;
	margin-top: 0px; padding-top: 0px;
	height: 120px;
	border-bottom: 3px solid #333333;
	clear: both;
}

#frontchannelbuttons {
	position: relative;
	left: 0px; top: 0px;
	padding: 0px;
	margin: 0px;
}

#frontchannelslisten0, #frontchannelslisten1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
}

#frontchannelschedule0, #frontchannelschedule1 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
}

#frontchannelschedule0 {
	cursor: hand;
}

#frontchannelslisten1, #frontchannelschedule0 {
	visibility: visible;
}

#frontchannelslisten0, #frontchannelschedule1 {
	visibility: hidden;
}

#frontchannelchannels, #frontchannelschedule {
	position: absolute;
	top: 33px;
	margin: 0px;
	color: #FFFFFF;
	font-size: 12px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	padding-left: 15px;
	padding-top: 5px;
	float: left;
}

#frontchannelchannels ol, #frontchannelchannels ul {
	margin-top: 7px;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
}

#frontchannelschedule {
	visibility: hidden;
	padding-left: 0px;
	height: 87px;
	width: 100%;
	max-width: 300px;
	overflow-y: auto;
}

#frontchannelschedule table {
	text-align: center;
	font-size: 10px;
}

#frontchannelchannels a {
	color: #FFFFFF;
	text-decoration: none;
}

#frontchannelchannels p {
	margin: 3px;
	line-height:100%;
}

#frontchannelchannels p#more { 
	padding-left: 50px; 
}

audio.listenLiveFront { 
	width: 40px; 
	height=37px; 
	display:none;
}



#videobox, .videobox {
	width: 100%
	max-width: 300px;
	float: left;
	background: #333333;
	padding-bottom: 0px;
	/* margin-bottom: 15px; */
	margin: 0 10px 15px;
}

#videobox h3 {
	color: #FFFFFF;
	margin: 2px 0px 2px 10px;
	width: 100%;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	display: none;
}

.videobox.videoinline {
   width: 620px;
   height: 188px;
   background: #FFFFFF;
   position: relative;
}

.videobox.videoinline .videocontainer{
   float: left;
   margin-right: 0px;
}
.videobox.videoinline .v_title {
   float: right;
   margin: 85px 35px 0px 0px;
   background: #FFFFFF;
   color: #000000;
   font-size: 14px;
   font-weight: bold;
   height: 42px;
   width: 300px;

}

#videobox iframe {
	z-index: 0;
}

#frontsidebar .videobox iframe {
	max-width: 100% !important;
	height: 100% !important;

}

#frontsidebar div, #frontsidebar div.viewlet iframe {
        max-width:100% !important
}

#pressbox {
	float: left;
	width: 100%;
	max-width: 293px;
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	padding: 15px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	margin-bottom: 15px;
	margin-left: 3px;
}

#pressbox h2 {
	color: #666666;
	text-transform: uppercase;
	font-size: 12px;
}

#pressbox h3 {
	font-size: 12px;
	font-weight: normal;
}

#pressbox a {
	text-decoration: none;
}

.shadowbox, .viewlet {
	float: left;
	margin-left: 3px;
	width: 293px;
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	padding: 15px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	margin-bottom: 15px;
}

.noshadow {
	-webkit-box-shadow: 0px 0px 0px rgba(100, 100, 100, 0.3), 0px 0px 0px rgba(100, 100, 100, 0.3);
	-moz-box-shadow: 0px 0px 0px rgba(100, 100, 100, 0.3), 0px 0px 0px rgba(100, 100, 100, 0.3);
	box-shadow: 0px 0px 0px rgba(100, 100, 100, 0.3), 0px 0px 0px rgba(100, 100, 100, 0.3);
}

.viewlet {
	font-size: 14px;
}

.shadowbox .sectionteaser {
 width: 270px;
 font-size: 13px;
}

.shadowbox h2 {
	font-size: 14px;
}

.shadowbox h2 a {
	color: #003366;
	text-decoration: none;
}

.shadowbox h3 {
	color: #333333;
}

.shadowbox #featuredstoryimg img {

    width: 100%;
    height: auto;
}

#topnews .sectionteaser {
 float: none;
 text-align: left;
 max-width: 622px;
	width: 100%;
 margin-right: 15px;
 min-height: 105px;
}

.graybox {
 background: #E1E1E1;
 border: none;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
 clear: both;
 margin-bottom: 15px;
 margin-top: 0px;
 font-size: 14px;
 line-height:16px;
 font-weight: normal;
 padding: 1px 15px 15px 15px;
 width: 100%;
 max-width: 300px;
}
.grayboxcontent {
 padding: 0px; margin: 0px;
}

.graybox h2, .graybox h3 {
 font-size: 13pt;
 text-transform: uppercase;
 margin: none;
 padding: none;
 color: #701111;
}

.graybox h3 {
 margin-bottom: 5px;
 font-size: 10pt;
 color: #333333;
}

.graybox ul {
 color: #003366;
 margin: 0px;
 padding-left: 15px;
 font-weight: normal;
}

.graybox a, .graybox p a, .graybox div p a, .graybox div a {
	text-decoration: none;
	color: #003366;
}

.graybox h2 a, .graybox li a {
 text-decoration: none;
 color: #003366;
}


.graybox img {
/* float: right;
 margin-left: 10px;
 margin-top: 15px; */
 float: left;
 margin-right: 10px;
 margin-top: 5px;
 vertical-align: text-top;
}

.graybox p {
 float: left;
}

.graybox div p {
	float: none;
	font-weight: normal;
}


#reademailcomment {
	float: left;
	background: #999999;
	width: 100%;
	max-width: 300px;
	font-size: 12px;
	height: 75px;
	margin-bottom: 80px;
}

.belowfoldtall #reademailcomment {
	margin-left: 3px;
}

#reademailcommentbuttons {
	position: relative;
	top: 0px;
}

#readbutton1, #readbutton0 {
	position: absolute;
	left:0px;
	top: 0px;
	width: 50%;
}

#emailbutton1, #emailbutton0 {
	position: absolute;
/*	left:83px;   */
	left:151px;
	top: 0px;
	width: 50%;
}

/*
#commentbutton1, #commentbutton0 {
	position: absolute;
	right: 0px;
	top: 0px;
}
*/

#readbutton0 {
	background-image: url(readbutton0.png);
	width: 150px;
	height:33px;
}

#readbutton1 {
	background-image: url(readbutton1.png);
	width: 150px;
	height:33px;
}

#emailbutton0 {
	background-image: url(emailbutton0.png);
	width: 150px;
	height:33px;
}

#emailbutton1 {
	background-image: url(emailbutton1.png);
	width: 150px;
	height:33px;
}

#reademailcontentlinks {
	position: relative;
	top: 33px;
	float: left;
	clear: both;
	width: 100%;
}

#reademailcontentlinks li {
    overflow: hidden;
    white-space: nowrap;
    list-style-position: inside;
    text-overflow: ellipsis;
}

#reademailcontentlinks li span{
    margin-left: -23px;
}

#mostread, #mostemailed, #mostcommented {
	background: #333333;
	padding-top: 5px;
	width: 100%;
	max-width: 300px;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#mostread a, #mostread ul, #mostemailed a, #mostemailed ul, #mostcommented a , #mostcommented ul {
	color: #FFFFFF;
	padding-left: 25px;
}

#mostread a, #mostemailed a, #mostcommented a {
	text-decoration: none;
}



#readbutton0, #emailbutton1, #commentbutton1, #mostemailed, #mostcommented {
	visibility: hidden;
}

#readbutton0 {
	background-image: url(readbutton0.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#readbutton1 {
	background-image: url(readbutton1.png);
	background-repeat: no-repeat;
	background-position: left top;
}


#socialmedia {
	width: 100%;
	max-width: 300px;
	background: #999999;
	color: #FFFFFF;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	padding-bottom: 10px;
	margin-bottom: 2px;
}

#socialmedia h3 {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0px;
	padding: 10px 0px 10px 10px;
}

#socialmedia img {
	border: none;
}

#socialmedia p {
	margin: 0px 0px 0px 10px;
}



#newsalerts {
	width: 100%;
	max-width: 300px;
	background: #333333;
	color: #FFFFFF;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	float: left;
	margin-bottom: 15px;
}

#newsalerts img {
	vertical-align: middle;
	padding-bottom: 4px;
	padding-right: 3px;
}

#newsalerts input {
	font-size: 9px;
	float: right;
}

#newsalerts br {
	clear: both;
}

#newsalerts a {
	color: #FFFFFF;
	text-decoration: none;
}

#newsalerts value, .newsalerts value { color: #CCCCCC; }

#storymainimagewide {
}

#storymainimagesmall {
}

.shadowbox h3, .viewlet a {
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.viewlet a {
	color: #660000;
	text-align: left !important;
	text-decoration: none;
	margin-bottom: 10px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.viewlet img, .viewlet iframe {
	max-width: 265px;
	margin-right: 10px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.shadowbox h3 a, .shadowbox a, .viewlet h3 a, .viewlet a {
	color: #333333;
	text-decoration: none !important;
}

.shadowbox p {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 6px;
}

.shadowbox .sectionteaser p {
  width: 280px;
}

.shadowbox p a {
 text-decoration: none;
 color: #701111;
}

.shadowbox ul{
 font-size: 14px;
 padding-left: 15px;
}

.edpicksidebar img {
	margin-bottom: 10px;
}

.edpicksidebar a {
	color: #003366;
	font-size: 14px;
	text-decoration: none;
}

.edpicksidebar p {
	background: #E1E1E1;
	padding: 15px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

#editorspick {
	position: relative;
	top:20px;
	left: 15px;
	background: #333333;
	color: #FFFFFF;
	width: 100%;
	max-width: 950px;
	/* height: 250px; */
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	margin-bottom: 25px;
}

#editorspick h1 {
 width: 100%;
 position: relative;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 15px 0px 5px 30px;
 color: #FFFFFF;
 font-family: arial;
 text-transform: uppercase;
 font-size: 13pt;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#editorspickitems {
 width: 100% !important;
 max-width:900px !important;
 margin: 0px auto;
 /* padding: 0px; */
 float: left;
 position: absolute:
 top:0px;
 left: 0px;
 height: 175px;
 margin-top: 6px;
 overflow: hidden;
}

#editorspickitems a {
	color: #FFFFFF;
	text-decoration: none;
}

#editorspickitems img {
	/* width: 200px; */
	height: 120px;
	border: none;
	max-width: 160px;
}

#editorspickitems li {
	display: table;
	/* width: 200px; */
	width: 1%;
	margin-right: 13px !important;
	float: left;
}

#editorspickitems h3 {
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

#editorspick #prev_btn {
 float: left;
 width: 25px;
 position: absolute;
 top: 90px;
 left: 12px;
 text-align: center;
 display: block;
}

#editorspick #next_btn {
 float: left;
 width: 25px;
 text-align: center;
 position: absolute;
 top: 90px;
 right: 12px;
 display: block;
}

.clearfix {
	float: none;
	clear: both;
}

#headlineboxes {
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	margin: 40px 0px;
	float: left;
	width: 100%;
}

.headlineboxes {
	display: inline;
	float: left;
	width: 222px;
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	padding: 10px 5px 10px 10px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	margin-bottom: 17px;
	margin-left: 18px;
	font-size: 13px;
}

.headlineboxes h2 {
	font-size: 16px;
	color: #003167;
	margin:0px;
	padding: 0px;
	margin-bottom: 5px;
}

.headlineboxes  a {text-decoration: none;}
.headlineboxes h2:after { content: " »"; }

.headlineboxes ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.headlineboxes li {
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow:ellipsis;
}

.headlineboxes ul a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

#headlineboxes .has_audio_video, #headlineboxes .has_video {
     background-image: url("graphics/has-video-gray.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 13px;
	}

#headlineboxes .has_audio {
     background-image: url("graphics/has-audio-gray.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 13px;
	}



#footerlinks {
	float: left;
	width: 100%;
	max-width: 980px;
	margin-top: 0px;
	border-top: 15px solid #003167;
	background: #e6e7e8;
	color: #666666;
	padding: 0px;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 20px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */

}

#footerlinks h3 {
	margin: 0px;
	padding: 0px;
}

#footerlinks a {
	color: #666666;
	text-decoration: none;
}

#footerlinks img {
	border: none;
	margin: 0px;
}

#footerlinks div:hover {
 background-image: url('graphics/bluetriangle.png');
 background-repeat: no-repeat;
 background-position: left top;
}

.footercolumn {
 width: 20%;
 padding: 30px;
 float: left;
 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}


#footerlang a img {
    border-bottom: 1px solid #E6E7E8;
}

#footerlang a:hover img {
     border-bottom: 1px solid #666666;
}

#footericonlinks {
 clear: both;
 float: right;
 margin-right: 100px;
}

#footerlinks #footericonlinks:hover {
 background-image: none;
}

#footerlogoaddress {
	background: #003366;
	border: none;
	text-decoration: none;
}

#footer-logo-address {
	background-image: url(footerlogoaddress.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 980px;
	height: 78px;
}

.podcast {
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	width: 622px;
	border: 2px solid #e7e7e7;
	padding: 10px 11px 10px 11px;
	font-size: 12px;
	float: left;
	line-height: 18px;
	margin-bottom: 10px;
}

.podcast a {
	color: #003366;
	text-decoration: none;
}

.podcast h3 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.podcast img {
	border: none;
}

.podcast img.podimg {
	padding: none;
	margin: 0px 20px 0px 0px;
	float: left;
}

.podcast div {
	width: 458px;
	float: right;
	text-align: left;
}

.freqtable {
	border: 2px solid #e6e6e6;
	padding: 3px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	float: left;
	font-size: 13px;
	color: #333333;
	margin-bottom: 15px;
}

.graybg {
	background: #E6E6E6;
}

.rightsmall {
	float: right;
	font-size: 12px;
}

.freqtable h3 {
	color: #003366;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 2px;
	float: left;
	width: 612px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}


.freqtable ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.freqtable li { clear: both; line-height: 18px; }

.freqtablelh {
	margin-top: 10px;
	width: 90px;
	float: left;
	margin-right: 35px;
	font-size: 11px;
}

.freqtime {
	width: 90px;
	float: left;
	text-align: center;
	margin-right: 45px;
}

.listenlinks {
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
}

.listenlinks a {
	color: #666666;
	text-decoration: none;
}

.listenlinks a:hover {
	color: #003366;
}

.pagination {
	margin: 0px auto;
	text-align: center;
	color: #333333;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 30px;
}

.gotoarchive {
	margin: 0px auto;
	text-align: right;
	color: #333333;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 60px;
	clear:both;
}


.pagination a, .gotoarchive a {
	color: #003366;
	text-decoration: none;
}

.audioarchive {
	border: 2px solid #E6E6E6;
	padding: 10px;
	margin-bottom: 10px;
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	max-width: 622px;
	width: 100%;
	float: left;
	clear: both;
	height: 60px;
}

.audioarchive img {
	float: left;
	margin: 0px 5px 0px 5px;
	v-align: top;
	text-align: center;
}

.audioarchivetext {
	float: left;
	width: 450;
	color: #333333;
	margin: 0px 5px 0px 5px;
}

.audioarchivetext h2 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 4px;
}

.audioarchivetext h3 {
	font-size: 13px;
	font-weight: normal;
	margin-top: 3px;
	margin-bottom: 0px;
}

.audioarchivelinks {
	margin: 0px 5px 0px 5px;
	float: right;
	width: 100px;
	font-size: 12px;
	line-height: 18px;
}

.audioarchivelinks a {
	color: #003366;
	text-decoration: none;
}

.emailform {
	width: 500px;
	float: left;
}

.emaillegend {
	width: 80px;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;
}

.emailinput {
	width: 345px;
	float: left;
	verticle-align: middle;
	margin-bottom: 15px;
}

.emailmessage {
	margin-bottom: 15px;
}

.mailbuttons {
	width: 450px;
	margin-bottom: 20px;
}

.sendnewsform {
	width: 500px;
	float: left;
}

.sendnewsform .field {
    margin-top: 20px;
}

.sendnewsbuttons {
	width: 450px;
    margin-top: 20px;
	margin-bottom: 20px;
}


/*! fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 10px;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('graphics/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8020;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('graphics/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	background: transparent url('graphics/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 20px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 20px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 0;
	overflow: visible;
	visibility: hidden;
}

/* Overlay helper */

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: #000;
}

#fancybox-overlay.overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8030;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	margin-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

#galleria {
	margin-bottom: 20px;
	background: #000;
}

#tabbed_content {
	background-color: #FFFFFF;
	width: 950px;
	margin: 15px;
	border: none;
}

#tabbed_content #menu { padding: 0; clear: both; width: 100%; max-width: 950; z-index: 20;}
#tabbed_content #menu li { display: inline; }
#tabbed_content #menu li a {  list-style-type: none; background: #CCCCCC; padding: 10px; float:left; border-right: 1px solid #F0F0F0; text-decoration: none; color: #666666; font-weight: bold;}
#tabbed_content #menu li.active a { background: #F0F0F0; }
.content { float: left; clear: both; border: 1px solid #D7D7D7; border-top: none; border-left: none; background: #FFFFFF; padding: 10px 20px 20px; }
#tabbed_content div {clear: both; background-color: #F0F0F0;}
#tabbed_content div ul { padding: 15px; line-height: 18px;}
#tabbed_content div li { list-style-type: none; font-size: 14px; }
#tabbed_content div li a { text-decoration: none; color: #666666; }


div.surround {
    display:none;
    visibility:hidden;
}

.promo1, .promo2, .promo3, .promonav {
 font-size: 14px;
}

.promo1 h3, .promo2 h3, .promo3 h3, .promonav h3 {
 margin-top: -15px;
}

.promo1 img, .promo2 img, .promo3 img, .promonav img {
 margin-right: 15px;
}


#frontcontent #sectioncontent .viewlet {
    width: 100%;
	max-width: 950px;
    margin-top: -80px;
    margin-bottom: -20px;
    margin-left: 0px;
    background: #FFFFFF;
    box-shadow: none;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

#storytext .videobox {
 width: 300px;
}

.image-inline, .image-inline img {
 float: left;
 margin-right: 10px;
 padding-bottom: 20px;
 max-width: 622px;
 height: auto;
}

.image-left {
 float: left;
 max-width: 230px !important;
 height: auto;
 margin-bottom: 20px;
 padding: 15px 15px 15px 0;

}

.image-right {
 float: right;
 width: 230px !important;
 margin-bottom: 20px;
 padding: 15px 0 15px 15px;
 clear: left;
}

.image-left img, .image-right img, .image-left .image-caption, .image-right .image-caption {
 width: 230px !important;
 height: auto;
 margin-bottom: -1px;
}

.image-caption {
 margin-top: -6px;
 padding-top: 5px;
 padding-bottom: 7px;
 margin-bottom: 0px;
 max-width: 622px;
}

.storyaudio {
 width: 622px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.storyaudio p {
 padding: 0;
 margin: 0;
 line-height: 28px;
}

.storyaudio .audiolinkicons {
 padding: 0;
 margin: 0;
}

.sectionteaser h2 .has_audio {
     background-image: url("graphics/has-audio.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

.sectionteaser h2 .has_audio_video, .sectionteaser h2 .has_video  {
     background-image: url("graphics/has-video.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#topstorytease h2 .has_audio {
     background-image: url("graphics/has-audio-white.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#topstorytease h2 .has_audio_video, #topstorytease h2 .has_video {
     background-image: url("graphics/has-video-white.png");
     background-repeat: no-repeat;
     background-position: left center;
     padding-left:20px;
     background-size: 15px;
}

#storypagemaincol {
	float: left;
	max-width: 620px;
	width: 100%;
	padding-right: 15px;
	/* border-right: 1px solid #D7D7D7; */
}

#storypagemaincol p {
	font-size: 12px;
}

.belowfoldtall {
	width: 317px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	float: right;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 15px;
	padding-left: 15px;
	border-left: 1px solid #D7D7D7;
}

.belowfoldwide {
	width: 100%;
	max-width: 961px;
	padding: 0;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
	float: left;
	margin: 8px 16px 0 10px;
	border-bottom: 1px solid #D7D7D7;
	margin-bottom: 15px;
}

.belowfoldwide .shadowbox, .belowfoldwide .graybox, #abovefooter .shadowbox, #abovefooter .graybox, .belowfoldwide .viewlet {
	margin: 0 10px 15px 10px;
	float: left;
	width: 300px;
	-moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

.belowfoldtall .shadowbox, .belowfoldtall .graybox {
	width: 300px;
}

.belowfoldwide .graybox img, .belowfoldtall .graybox img {
	margin-left: 0px;
	margin-top: 0px;
}

.belowfoldwide .graybox, .belowfoldtall .graybox {
	height: auto;
	float: left;
}

.belowfoldwide .graybox .sectionteaser h2, .belowfoldtall .graybox .sectionteaser h2 {
	margin-top: 15px;
	margin-bottom: 0px;
}

.belowfoldwide .graybox .sectionteaser, .belowfoldtall .graybox .sectionteaser {
	width: auto;
}

.belowfoldwide .graybox .sectionteaser p, .belowfoldtall .graybox .sectionteaser p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.belowfoldwide .graybox, #abovefooter .graybox {
	clear: none;
}


#belowfoldtalltrue {
	width: 66%;
	max-width: 643px;
}

#belowfoldtalltrue #headlineboxes .headlineboxes {
	width: 29%;
}

#belowfoldtalltrue .headlineboxes li {
	width: 100%;
}


/*
#abovefold a:visited, #belowfoldtall a:visited, #belowfoldwide a:visited, #headlineboxes a:visited, #abovefooter a:visited {
    color: #505066;
}

#topstory a:visited {
    color: grey;
}

#mostread a:visited {
    color: grey;
}
*/

.currentWeatherContainer {
	font-size: 10px !important;
}

#abovefooter {
	clear: both;
	margin-left: 10px;
}

#abovefooter .viewlet {
	margin-left: 9px;
	margin-right: 19px;
}

blockquote, .pullquote {
	background: #E1E1E1;
	padding: 15px;
	float: right;
	margin: 0 0 0 15px;
	width: 230px;
	clear: both;
	font-style: italic;
}

.pullquote:before {
	content:"“";
}

.pullquote:after {
	content:"”";
	padding-top: 10px;
}

.pullquote:before, .pullquote:after {
	font-size: 45px;
	font-weight: bold;
	font-family: serif;
	line-height: 0px;
	vertical-align: bottom;
	color: #721214;
}

.migratedtitle {
	font-size: 25px !important;
	font-weight: normal;
}

.migratedtitle a {
	text-decoration: none;
	color: #003366;
}

.storytoolbox {
	display: none;
}

#left-slot-two-up {
	/* margin-left: -15px; */
	margin-left: 1px;
	max-width: 632px;
	width: 100%;
}

#left-slot-two-up .shadowbox, {
	margin-right: 15px;
	width: 47%;
	min-height: 145px;
}


#left-slot-two-up .videobox {
	float:left;
	margin: 0px 0px 15px 15px;
	width:47%
}


#left-slot-two-up .videobox iframe {
	width: 100%;
	float:left;
}

#left-slot-two-up .shadowbox p {
	width: 100%;
}

#left-slot-two-up .graybox {
	float: left;
	clear: none;
	width: 47%;
	margin-left: 15px;
}

.caroufredsel_wrapper {
	left: -10px !important;
	width: 910px !important;
}

#frontsidebar .videobox {
 margin: 0 0 15px;
}

/* --------------------------------*/
/* ---- Flip's Kaltura Stuff ------*/
/* Edit at will
/* most html can be found in:
   RFA Specific: skins/rfa2_* kvideo_main kplaylist_main, etc.. 
   Kaltura default: src/rfa.kaltura/.../skins/default 
/* --------------------------------*/
/* would be nice to unify with existing .videobox... */


/* for viewlets / layout tab */
div.videobox { }

div.videobox h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 5px 3px 5px;
    color: #FFFFFF
}

div.videobox iframe {
   height: 225px;
}
    
/* for video Page */

.video-attribution {
	font-style: italic; 
	font-weight: bold;
}

.morevideothumb {
	float: left; 
	width: 136px;
	height: 160px;
	padding: 5px 6px 0 7px;
	margin-top: 7px;
}

.morevideothumb h5 {
    margin-top: 0px;
    font-size: 12px;
    line-height: 19px;
}

#storyfooter .morevideothumb img, #vidpagerelatedvid .morevideothumb img, .windowshadecontent .morevideothumb img {
    width: 130px;
	height: 77px !important;
}

#storyfooter .morevideothumb {
    border: .25px solid #E1E1E1;
    margin-right: 8px;
    width: 132px;
    height: 145px;
    min-height:110px;
}

#storyfooter .morevideothumb h5 {
    margin-top: 0;
    font-size: 12px;
    line-height: 15px;
}

.morevideothumb a, .video-keywords a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.relatedvideohead {
	background-color: #004081; 
	color: white; 
	width: 294px; 
	padding: 5px 10px; 
	font-size: 18px; 
	font-weight: bold;
}

#vidsearch {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -6px;
}

.vidsearch {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D7D7D7 -moz-use-text-color #D7D7D7 #D7D7D7;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    height: 20px;
    width: 264px;
    padding-left: 5px;
}

.vidsearchbutton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D7D7D7 #D7D7D7 #D7D7D7 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    margin-left: 0;
    position: relative;
    right: 5px;
    top: 8px;
}

#vidpagerelatedvid {
	/* margin-bottom: 20px; */
	background-color: #E1E1E1;
	margin-top: -9px;
}

#storyfooter center button, #vidpagerelatedvid button, .windowshade center button{
	margin-bottom: 15px;
	background-color: #959595;
	border: none;
	padding: 7px;
	color: #FFF;
	font-weight: bold;
	width: 270px;
}

.windowshadecontent button {
	margin-top: 10px;
}

#storyfooter center button {
	margin-top: 15px;
}

#vidpagerelatedvid button:hover {
	background-color: #797979;
}

.windowshadecategories {
	float: left;
	border-top: 1px #E1E1E1 solid;
	margin-top: 0px;
	width: 300px;
	color: #FFF;
	background-color: #004081;

}

.windowshade {
	width: 300px;
	float: left;
	
}

.windowshadecategories h3 {
	float: left;
	width: 255px;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	margin-left: 15px;
}

.showhidebutton {
   float: left;
   width: 20px;
	margin: 0px;
	padding: 0px;
}

.windowshadecontent {
	display: none;
	background-color: #E1E1E1 !important;
	float: left;
	z-index: 5;
	width:300px;
}

.videoarchivethumb { 
   position: relative; 
   width: 200px;
   float:left;
   margin-right: 5px;
}

.videoarchivethumb h5 { 
   position: absolute; 
   bottom: 5px; 
   right: 0; 
   width: 180px; 
   border-top: 1px solid #DEDEDE;
   border-bottom: 1px solid #DEDEDE;
   border-left: 1px solid #DEDEDE;
   color:white;
   background-color: #959595;
   padding:3px;
   display:none;
}

.videoarchivethumb h5 a, .videoarchivethumb h5 a:active, .videoarchivethumb h5 a:visited, .videoarchivethumb h5 a:hover {
color: white;
text-decoration: none;
}

.videoarchivethumb:hover img { 
filter: blur(3px); -webkit-filter: blur(3px); -moz-filter: blur(3px);
-o-filter: blur(3px); -ms-filter: blur(3px);
filter: url('graphics/blur.svg#blur');
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
position: relative \0/;
top: -10px \0/;
left: -10px \0/;
}

.videoarchivethumb img {
width:200px; height:113px; position:relative;
}

.videoarchivethumb:hover h5 {
display: block;
}

div.videobox.videolarge {
	height: auto !important;
	width: 98% !important;
}

div.videobox.videolarge .kWidgetIframeContainer {
	height: 379px !important;
	overflow: hidden;
	width: 100% !important;
}

div.videobox.videolarge h2 {
	margin-top: 0 !important;
	padding: 10px;
	text-transform: capitalize;
	font-size: 12px !important;
}

div.videobox.videosmall {
	height: auto !important;
	width: 99% !important;
		float: left;
	margin-left: 3px;
	background-color: #FFF;
	-webkit-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow: -1px 0px 5px rgba(50, 50, 50, 0.3), 1px 0px 5px rgba(50, 50, 50, 0.3);
	 -moz-box-sizing:border-box;box-sizing:border-box;  /* This makes the moz box model match the IE box model, so no double coding */
}

div.videobox.videosmall .kWidgetIframeContainer {
	height: 184px !important;
	overflow: hidden;
	width: 90% !important;
	padding: 0 15px 15px;
}

div.videobox.videosmall h2 {
	margin-top: 0 !important;
	padding: 10px;
	text-transform: capitalize;
	color: #333;
}


.belowfoldwide .videobox.videosmall,
#belowfoldtalltrue .videobox.videosmall,
#abovefooter .videobox.videosmall {
	width: calc(33% - 18px) !important;
	margin-left: 10px;
}

.belowfoldwide .videobox.videosmall h2,
#belowfoldtalltrue .videobox.videosmall h2,
#abovefooter .videobox.videosmall h2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.belowfoldwide .videobox iframe {
	width: 100%;
}
.belowfoldwide iframe, .belowfoldtall iframe, belowfoldtalltrue iframe {
	max-width: 100% !important
}

/* BEGIN SLICKNAV CSS */

/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: /*block*/ inline; width: 20em;} /*JDE EDIT*/
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: /*block*/ inline-block; } /*JDE EDIT*/
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #003366;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}
.slicknav_menu {
    background:#FFF;
    padding:5px;
}
.slicknav_nav {
    color:#003366;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#000;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
	border: 1px #DDDDDD;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_nav a:hover{
    /*-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;*/
    color:#FFF;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_menu {
	display:none;
}

/* JDE SLICKNAV ADDS */

.slicknav_nav li {
	border: 1px solid #ddd;
	display: inline-block;
	float: left;
	width: 32% !important;
	height: auto;
	padding: 0;
	margin: 1px;
}

.slicknav_nav li a {
	valign: middle;
}

.slicknav_nav li:hover {
	background-color: #003366;
}

.slicknav_nav li:hover a {
	color: #FFF;
}

ul.slicknav_nav {
	float:left;
	padding: 0;
	width:100%;
}

ul.slicknav_nav .current-section a {
	color: #FFF;
}

/* END SLICKNAV CSS */

/* CSS for View Full Site (nullifies responsive) */
/* Temporarily commented out--may not be needed in rfa.css if it lives completely in responsive.css */
/* .rwd-display-options {
	text-align: left; 
	width: 100%;
	color: #FFF;
	background: #333;
	padding: 5px 0px;
	}
.rwd-display-options { cursor: pointer; }

#view-responsive{ display: none; }
*/
/* End CSS for View Full Site */

#storypagemaincol div.videobox.videosmall {
   width: 50% !important;
}

.galleria-image img {
	display: block;
	max-height: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	width: auto !important;
	top: 0px;
	margin: 0px auto;
}

.galleria-container {
	height: 100%;
	padding-bottom: 20px !important;
	background-color: #FFF;
}

.galleria-stage {
	height: calc(100% - 50px) !important;
}

.galleria-info {
	height: 25px;
}

.galleria-dots {
	top: unset;
	bottom: 30px !important;
	background-color: #FFFFFF;
	left: 0;
}

.gallery-wide-pt .galleria-more {
	display: none !important;
}

.galleria-thumbnails .galleria-image, .galleria-thumbnails .galleria-image img {
	height: unset !important;
}

.gallery-wide-pt {
	margin-top: 10px;
	height: 550px;
}

.galleria-dots div {
    display: inline-block;
    height: 10px;
    width: 10px;
    font-size: 36px !important;
}

.galleria-info {
	left: 0px !important;
	width: 100% !important;
	margin-bottom: 10px;
}

.galleria-info-text {
	padding-right: 40px;
	line-height: 1.6em;
}

.galleria-info-title {
	font-style: italic;
	left: 0px !important;
	overflow: initial;
	text-overflow: initial;
	white-space: normal !important;
}

.galleria-thumbs, .galleria-fs {
	margin-bottom: 0px;
}


.galleria-thumbnails-container {
	display: block;
}

.galleria-thumbnails-container {
	overflow-y: scroll !important;
	margin-bottom: 20px;
}

.galleria-thumbnails .galleria-image {
	display: inline-block; 
	overflow: none; 
	position: relative; 
	visibility: visible !important; 
	width: auto; 
	height: 60px !important;
	background: none !important;
}

.galleria-thumbnails .galleria-image img {
	height: 60px !important;
	width: auto !important;
	z-index: 100 !important;
	opacity: .6 !important;
}

.galleria-theme-miniml.notouch .galleria-thumbnails .galleria-image img:hover {
	opacity: 1.0 !important;
}

.gallery-narrow-pt {
	float: left;
	padding: 5px;
	border: 1px solid #DFDFDF;
	margin: 10px 10px 10px 0px;
}

.gallery-wide-pt { /* DELETE IF SWITCHING TO DARK BG */
	padding: 5px;
	border: 1px solid #DFDFDF;
	margin-bottom: 20px;
}

.gallery-narrow-pt .galleria-thumbnails .galleria-image {
	height: 40px !important;
	width: 55px !important;
}

.gallery-narrow-pt .galleria-more {
	right: 35px;
}

.gallery-narrow-pt .galleria-desc p {
	display: none !important;
}

.gallery-narrow-pt .galleria-desc {
		width: 100%;
	  right: -5px !important;
	padding: 0;
	top: 0;
	opacity: .9;
	margin-bottom: 10px;
}

.gallery-narrow-pt .galleria-info-title {
	display: none !important;
}

#frontsidebar .gallery-narrow-pt {
	max-width: calc(100% - 12px) !important;
}

#frontsidebar .galleria-container {
	max-width: 100%;
	max-width: 287px\0/ !important; /* IE8 only */
}

#frontsidebar .galleria-stage {
	max-height: 200px\0/ !important; /*IE8 only */
}

.ps-caption .has_audio_video {

    background-image: url("graphics/has-video-white.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    background-size: 15px;
}

.ps-caption .has_video {

    background-image: url("graphics/has-video-white.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    background-size: 15px;
}

.ps-caption .has_audio {

    background-image: url("graphics/has-audio-white.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    background-size: 15px;
}

.pgwSlider a {
    display: initial !important
}

