body {
	color: black;
	font-face: helvetica, arial, sans-serif;
}

#fb-root, #langnav, #headersearch, #aboutnav, #header, #h-nav, #frontsidebar, .sidebar, #storyfooter, #footerlinks, #footerlogoaddress, #breadcrumbs, #storytopsocial, #storytoptools, #mobilenav, #sidr-lang, #sidr-main, #header-logo, .videobox, #mobilesocial, #view-full, .rwd-display-options, .storytoptoollanguage, .storyaudio {
	display: none;
}

#container {
	width: 100%;
	border: none;
	box-shadow: none;
}

#abovefold {
	width: 100%;
}

#storycontent {
	width: 100%;
	border: none;
	font-face: helvetica, arial, sans-serif;
}

#storycontent h1 {
	color: #000000;
	font-weight: bold;
	font-face: helvetica, arial, sans-serif;
}

#storytext h2 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-face: helvetica, arial, sans-serif;
}

#storytext p {
	font-size: 12pt;
	font-face: helvetica, arial, sans-serif;
}

#zoomattribute img {
	display: none;
}

#storytop {
	width: 100%;
	border: 0px;
	font-size: 12px;
	font-face: helvetica, arial, sans-serif;
}
