@font-face {
    font-family: "TCRC Youtsoweb";
    font-style:  normal;
    font-weight: normal;
    font-size: 120%;
    src: url(/tibetan/tcrcyoutsoweb.eot);
}

@font-face {
    font-family: "TCRC Youtso";
    font-style:  normal;
    font-weight: normal;
    font-size: 120%;
    src: url(/tibetan/TCRCYOU0.eot);
}

@font-face {
    font-family: "Tib-US Unicode";
    font-style:  normal;
    font-weight: normal;
    font-size: 120%;
    src: url(/tibetan/TIBUSUN0.eot);
}

@import url(http://fonts.googleapis.com/css?family=Hanuman:400,700);

@font-face {
    font-family: "Khmer OS";
    font-style:  normal;
    font-weight: normal;
    font-size: 14pt;
    src: url(/khmer/KHMEROS0.eot);
}

@font-face {
    font-family: "Kaoh Kong";
    font-style:  normal;
    font-weight: normal;
    font-size: 14pt;
    src: url(/khmer/KAOHKON0.eot);
}

@font-face {
    font-family: "Saysettha OT";
    font-style:  normal;
    font-weight: normal;
    src: url(/lao/SAYSETT0.eot);
}

@font-face {
    font-family: Zawgyi-One;
    font-style:  normal;
    font-weight: 500;
    font-size: 16pt;
    src:url(/burmese/zawgyi-one.eot);
    src: local("☺"),
      url(/burmese/zawgyi-one.ttf) format('truetype');
}

@font-face {
    font-family: "Uyghuredit lotus", "UKIJ Tuz Tom", "UKIJ Basma", "Uighursoft Web Tor", "Alpida Unicode System", "UKIJ Tuz", "UKIJ Basma", "Microsoft Uighur", "Arial Unicode MS";
    src:url(/uyghur/UYGHURE0.eot);
}

@font-face {
    font-family: "UKIJ Nasq";
    src:url(/uyghur/UKIJNsq.ttf);
}

#topnews .teaserdate, #morenews .teaserdate, #sectioncontent .teaserdate {
 display: none;
}

#h-nav {
	text-align: center;
}

#h-nav li {
	position: relative;
	left: 2%
}

#servicetopstory #topstory {
	min-height: 375px;
}

.graybox {
	font-weight: normal;
	line-height: 16px;
}

.graybox h2a, .graybox li a, .graybox a, .graybox p a, .graybox div p a, .graybox div a {
	color: #003366;
}

.graybox h3 {
	color: #333333;
}

div.content {
  font-size: 12px;
  line-height: 20px;
}

#storycontent div {
	font-size: 12px;
	line-height: 20px;
}

#storycontent #dateline {
	line-height: 14px;
	width: 212px;
}

.twitter-horizontal-count, .twitter-share-button {
	width: 90px !important;
}

#storytopsocial {
	width: 210px;
}

.storytoptoollanguage li {
	font-size: 11px;
}

.emaillegend {
	width: 110px;
}

#storypagemaincontent p {
	font-size: 12px;
}

div.currentWeatherContainer {
	display: none;
}

#storycontent h1, #contentwell h1 {
        line-height: 1;
}

#editorspickitems h3 {
        font-size: 10px;
	overflow: visible;
	white-space: normal;
}

.caroufredsel_wrapper {
	height: 180px !important;
}


#sectioncontent.jobsinternships {
    border-top: none;
}

#sectioncontent.jobsinternships .shadowbox {
    float: left;
    margin-right: 15px;
    width: 293px;
}

#sectioncontent.jobsinternships .shadowbox h2.jobs {
    background: #0F4787;
    color: #FFFFFF;
    padding: 5px;
    width: 255px;
    font-size: 16px;
}

#sectioncontent.jobsinternships .shadowbox h2.internships {
    background: #1B8E38;
    color: #FFFFFF;
    padding: 5px;
    width: 255px;
    font-size: 16px;
}
#sectioncontent.jobsinternships .shadowbox p {
    width: 275px;
}

.jobsinternships .shadowbox .sectionteaser {
    width: 266px !important;
}

#sectioncontent.jobsinternships .graybox {
    width: 266px;
    margin-top: 10px;
}

#sectioncontent.jobsinternships .graybox div p {
    width: 245px;
}

.jobdescription {
    margin-top: 20px;
    width: 266px;
}

.jobdescription h2 {
    width: 266px;
}

@media screen and (max-width: 640px) {
	#footer-logo-address {
		background-image: url(/english/footerlogoaddress640.png);
	}
@media screen and (max-width: 303px) {

	#header-logo {
		background-size: 100%;
		margin-left: 10px;
	}

	
}
