
div.currentWeatherContainer { 
   /*font-family: Century Gothic, sans-serif;*/
   font-weight: 100;
   font-size: 11pt;
   text-align: left;
   width: 293px;
   padding: 0 0 0 8px;
}
div.currentWeatherContainer ul {
   list-style-type: none;
   padding-left: 0px;
   margin-left: auto;
   margin-right: auto;
   
}

div.currentWeatherContainer ul li {
   height: 1.5em;
   margin-left: auto;
   margin-right: auto;
   white-space: nowrap;
   width:98%
}

div.currentWeatherContainer ul li div{
   vertical-align:middle;
   display: inline-block;
}

div.currentWeatherContainer ul li div.city{
   width:115px;
}

div.currentWeatherContainer ul li div.image{
   width:26px;
}

div.currentWeatherContainer ul li div.temp{ 
   width:35px;
   text-align: right;
   margin-right: 2px;
}

div.currentWeatherContainer ul li div.wind{
   width:90px;
}

div.currentWeatherContainer ul li div div.data{
   text-align: right;
   vertical-align:bottom;
   
}

div.currentWeatherContainer ul li div img{
 max-width: 100%; max-height: 100%;
}

div.temp div.deg{
   float:right;
}
div.wind div.data{
   width: 17%;
   margin-right:1px;
}

div.temp div.data{
   width: 82%;
   
}



div.currentWeatherContainer div.forecastLink{
   float: right;
}
