
@font-face {
    font-family: 'FirminDidURW-Rom';
    src: url('../fonts/23AC04_0_0.eot');
    src: url('../fonts/23AC04_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/23AC04_0_0.woff') format('woff'),
         url('../fonts/23AC04_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'FirminDidURW-Bol';
    src: url('../fonts/243A93_0_0.eot');
    src: url('../fonts/243A93_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/243A93_0_0.woff') format('woff'),
         url('../fonts/243A93_0_0.ttf') format('truetype');
}


/* HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/* ----- BEGIN Overrides ----- */

body {
    margin: 0;
    background: #ffffff;
    color: #000000;
    font: 14px/16px "Times New Roman", Times, serif;
}

a {
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
}

div.wysiwygoutput a,
a:active,
a:focus,
a:hover {
    text-decoration: underline;
    outline: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    border: 0;
}

/* ----- /END Overrides ----- */

/* ----- BEGIN Colors ----- */

.content-bg {
    background-color: #ffffff !important;
}

/* ----- /END Colors ----- */

/* ----- BEGIN Dev-Utils ----- */

.dev-todo {
    margin-bottom: 20px;
    padding: 15px 25px 15px 25px;
    background: url(../images/dev-todo.png) left top;
    border: 1px solid #000000;
    color: #ffffff;
    font: 20px/24px Arial, sans-serif;
    text-shadow: -1px 1px 3px #000000;
}

/* ----- /END Dev-Utils ----- */

/* ----- BEGIN Layout ----- */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.main-container {
    position: relative;
    overflow: hidden;
}

.centered-content {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    overflow: visible;
    z-index: 1;
}

.centered-content > section {
    position: relative;
    /* padding-left: 10px; */
}

#content {
    position: relative;
    width: 980px;
    margin-bottom: 0;
    padding: 0 10px 30px 10px;
    background: url(../images/logo_bottom_857x90.png) 9px top no-repeat;
    font-size: 0px;
    line-height: 0px;
}

#content.home {
    background-image: none;
}

#content > aside {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin: 0;
}

#content > aside.column-left {
    /* used when aside is on the left (on homepage) */
    margin-right: 10px;
}

#content > article.column-left, /*for testing*/
#content > div.column-right,
#content > div.column-left {
    display: inline-block;
    width: 650px;
    margin: 0;
    vertical-align: top;
    /*overflow: hidden;*/
}

#content > article.column-left, /*for testing*/
#content > div.column-left {
    /* used when main content is on the left (i.e. on channels) */
    margin-right: 10px;
}

#content > div.column-left > p {
    font: 16px/20px "Times New Roman", Times, serif;
}

.column.double {
    /* two columns in master column */
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 650px;
}

.column.third {
    /* three columns in master column */
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin-left: 10px;
}

.column.third:first-child {
    margin-left: 0;
}

/* ----- /END Layout ----- */

/* ----- BEGIN Banner Ads ----- */

#superbanner {
    position: relative;
    width: 1000px;
    height: 120px;
}

#left_skyscraper {
    position: absolute;
    width: 161px;
    height: 600px;
    left: -161px;
    top: 120px;
}
#skyscraper {
    position: absolute;
    top: 120px;
    left: 1000px;
}

#masthead {
    width: 1000px;
    margin-bottom: 35px;
    text-align: center;
}

#content #masthead{
    margin-left: -10px;
}

aside > .ad-halfpage {
	padding: 0 10px;
	margin-bottom: 30px;
}

/* ----- /END Banner Ads ----- */

/* ----- BEGIN Header ----- */

#header {
    position: relative;
    width: 980px;
    height: 130px;
    padding: 27px 10px 5px 10px;
    z-index: 50;
}

/* Service Navigation */
#service-menu {
    position: absolute;
    top: 8px;
    left: 10px;
    margin: 0;
    padding: 0;
    list-style: none inside;
    z-index: 10;
}

#service-menu > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px;
}

#service-menu > li:first-child {
    margin-left: 0;
    border-left: 0;
}

/* Service Menu Links */
#service-menu > li > a {
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #cccccc;
    font: 10px/14px Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

#service-menu > li > a:hover {
    color: #b79346;
}

#service-menu > li:first-child a {
    padding-left: 20px;
    border-left: 0;
}

#service-horoscopes,
#service-videos,
#service-galleries {
    color: #a5a5a5;
}

#service-facebook {
    color: #3b5998;
}

#service-twitter {
    color: #009be5;
}

#service-tumblr {
    color: #3b5998;
}

#service-google-plus {
    color: #da402d;
}

#service-youtube {
    color: #da402d;
}

#service-pinterest {
    color: #cb1e22;
}

#service-spotify {
    color: #7ebc00;
}

#service-instagram {
    color: #000;
}

/* Service Menu Icons */
#service-menu > li > a:after {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    left: 10px;
    width: 16px;
    height: 15px;
    background: url(../images/sprite.png) left top no-repeat;
}

#service-menu > li > a.vogue-mail:after {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    left: 10px;
    width: 12px;
    height: 8px;
    background: url(../images/envelope_small.png) left top no-repeat;
}


#service-menu > li:first-child > a:after {
    left: 0;
}

#service-horoscopes:after {
    background-position: -1px -249px !important;
}

#service-videos:after {
    top: -1px !important;
    background-position: -19px -249px !important;
}

#service-galleries:after {
    top: -1px !important;
    background-position: -37px -249px !important;
}

#service-facebook:after {
    background-position: -55px -249px !important;
}

#service-twitter:after {
    background-position: -73px -249px !important;
}

#service-tumblr:after {
    background-position: -321px -249px !important;
}

#service-google-plus:after {
    background-position: -91px -249px !important;
}

#service-youtube:after {
    background-position: -91px -249px !important;
}

#service-pinterest:after {
    background-position: -109px -249px !important;
}

#service-spotify:after {
    background-position: -857px -249px !important;
}

#service-instagram:after {
    background-position: -831px -249px !important;
}

#service-menu .vogue-mail{
    color:#999;
}

#search {
    position: absolute;
    display: block;
    top: 6px;
    left: 708px;
    width: 150px;
    height: 22px;
    z-index: 10;
}

#search > input[type=search],
#search > input[type=text] {
    width: 125px;
}

#search > button[type=submit],
#search > input[type=submit] {
    position: absolute;
    top: 0px;
    left: 130px;
    width: 22px;
    height: 21px;
    padding: 0;
    background: url(../images/sprite.png) -703px -1px no-repeat;
    border: 0;
    color: transparent;
    cursor: pointer;
    font-size: 0px;
    line-height: 0px;
}

/* Logo */
#logo {
    display: block;
    width: 851px;
    height: 98px;
    background: url(../images/sprite.png) -1px -28px no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Cover */
#cover {
    position: absolute;
    display: block;
    top: 6px;
    left: 872px;
    width: 118px;
    height: 156px;
}

/* Navigation */
#navigation-menu {
    font-size: 0px;
    line-height: 0px;
}

#navigation-menu,
#navigation-menu  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none inside;
}

#navigation-menu > li {
    position: relative;
    display: inline-block;
}

#navigation-menu > li:hover:after,
#navigation-menu > li#abo.active:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -2px;
    left: 40%;
    width: 20px;
    height: 8px;
    background: url('../images/sprite.png') -858px -40px no-repeat;
    z-index: 30;
}

#navigation-menu > li#abo.no-layer:after {
	display: none;
}

#navigation-menu > li > a {
    display: block;
    padding: 6px 11px 7px 12px;
    background-color: transparent;
    color: #000000;
}

#navigation-menu > li.active > a,
#navigation-menu > li:hover > a {
    background-color: #b79346;
    color: #ffffff;
}

#navigation-menu > li > a {
    color: #000000;
    font: 18px/24px "Times New Roman", Times, serif;
    text-decoration: none;
    text-transform: uppercase;
}

/* Black Menu Items */
#navigation-menu > li.black > a {
    background-color: #000000;
    color: #ffffff;
}

#navigation-menu > li.black:hover > a {
    background-color: #000000;
    color: #b79346;
}

/* Gold Menu Items */
#navigation-menu > li.gold > a {
    position: relative;
    padding-right: 19px;
    background-color: #b79346;
    color: #000000;
}

#navigation-menu > li.gold:hover > a,
#navigation-menu > li#abo.active > a {
    background-color: #b79346;
    color: #ffffff;
}

#navigation-menu > li.gold > a:after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    right: -24px;
    width: 24px;
    height: 37px;
    background: url(../images/sprite.png) -858px -1px no-repeat;
}

/* Submenu */
#navigation-menu ul {
    position: absolute;
    display: none;
    top: 37px;
    width: 235px;
    padding: 0 10px;
    background-color: #ffffff;
    border: 2px solid #b79346;
    z-index: 25;
}

#navigation-menu ul > li {
    border-top: 1px solid #cccccc;
}

#navigation-menu ul > li:first-child {
    border-top: 1px solid transparent !important;
}

#navigation-menu > li:hover ul,
#navigation-menu > li:hover > .popover {
    display: block;
}

#navigation-menu ul a {
    display: block;
    padding: 5px 0;
    color: #000000;
    font: 14px/24px "Times New Roman", Times, serif;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation-menu ul a:hover {
    color: #b79346;
}

#navigation-menu .notify {
    display: inline-block;
    min-width: 23px;
    min-height: 23px;
    margin-left: 5px;
    background-color: #ff0000;
    color: #ffffff;
    font: 11px/23px Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: baseline;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
	position: relative;
	vertical-align: top;
	top: 1px;
}

#navigation-menu > li.black .notify {
    margin-top: 1px;
    vertical-align: top;
}

/* Gold Submenu */
#navigation-menu > li.gold > ul {
    left: -2px;
    width: 244px;
    background-color: #b79346;
    border: 2px solid #ffffff;
}

#navigation-menu > li.gold ul > li {
    border-top: 1px solid #ffffff;
}

#navigation-menu > li.gold ul > li:first-child {
    border: 0 !important;
}

#navigation-menu > li.gold ul a {
    color: #ffffff;
}

#navigation-menu > li.gold ul a:hover {
    color: #000000;
}

/* Popover */

.popover {
    position: absolute;
    display: none;
    left: -125px;
    width: 330px;
    padding: 10px 0 40px 10px;
    background-color: #ffffff;
	border: 2px solid #b79346;
    text-transform: none;
}

#navigation-menu > li:hover > .popover {
    display: block;
}

/* --- abo-layer --- */

#abo-layer {
	position: absolute;
    top: 162px;
    right: 10px;
    width: 316px;
    background-color: #fff;
    display: none;
    z-index: 25;
	border: 2px solid #b79346;
}

#abo-layer > ul {
	height: 230px;
    display: block;
    position: relative;
    list-style: none inside;
	margin: 0;
	padding: 0;
}

#abo-layer > ul > li {
	width: 85px;
    margin-left: 15px;
    float: left;
    height: 230px;
    position: relative;
    font: 13px/16px "Times New Roman", Times, serif;
}

#abo-layer > ul > li > a {
	display: block;
	color: #000;
    text-align: center;
    text-decoration: none;
	text-transform: uppercase;
}

#abo-layer > ul > li > a:hover {
	color: #b79346;
}

#abo-layer > ul > li > a > figure {
	display: block;
    width: 85px;
    height: 111px;
    margin: 35px 0 20px;
    box-shadow: 3px 3px 6px #444;
}

#abo-layer > ul > li > a > figure.tablet {
	margin-top: 36px;
	height: 109px;
	background: transparent url('../images/ipad.png') no-repeat center center;
	background-size: 85px 109px;
	box-shadow: none;
}

#abo-layer > ul > li > a > figure > img {
	width: 85px;
	height: 111px;
	display: block;
}

#abo-layer > ul > li > a > figure.tablet > img {
	width: 67px;
	height: 87px;
	position: relative;
	left: 9px;
	top: 10px;
}

#abo-layer > ul > li > a > figure.recent-issue {
	background: transparent url('../images/default100x150.jpg') no-repeat center center;
	background-size: cover;
}

/* ----- /END Header ----- */

/* ----- BEGIN Footer ----- */

#footer {
    clear: both;
    position: relative;
    width: 980px;
    height: 430px;
    padding: 0 10px 60px 10px;
}

#footer > nav {
    position: relative;
    vertical-align: top;
}

.footer-column {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 233px;
    margin-top: 3px;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 25px;
    border-top: 1px solid #b79346;
    border-top: 1px solid rgba(183, 147, 70, 0.5);
}

.footer-column:first-child {
    margin-left: 0;
}

.footer-column:before {
    content: "";
    position: absolute;
    display: block;
    top: -3px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #cccccc;
}

.footer-column > h2 {
    margin: 10px 0 0 0;
    color: #b79346;
    font: 24px/28px "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.footer-column > ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.footer-column li {
    color: #000000;
    font: 14px/18px "Times New Roman", Times, serif;
    font-style: italic;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;
}

.footer-column li:first-child {
    border-top: 0;
}

.footer-column a {
    position: relative;
    display: block;
    padding: 8px 0 8px 0;
    color: #000000;
    text-decoration: none;
}

.footer-column a:hover {
    color: #b79346;
}

.footer-column a:after {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    right: 10px;
    width: 8px;
    height: 10px;
    background: url(../images/sprite.png) -680px -1px no-repeat;
}

.footer-column a:hover:after {
    background-position: -680px -13px;
}

.footer-column a.oba_icon:after {
    content: "";
    position: absolute;
    display: block;
    top: 18px;
    right: 12px;
    width: 15px;
    height: 15px;
    background: url(../images/oba_icon_15x15.png) left center no-repeat;
}

.footer-column a.oba_icon:hover:after {
    background: url(../images/oba_icon_15x15.png) left center no-repeat;
}

.footer-column a.vdz_icon {
	text-align: center;
}

.footer-column a.vdz_icon:after {
    display: none;
}

/* Abo */

.footer-column.abo {
	width: 223px;
	padding-left: 10px;
}

.footer-column.abo > a {
	display: block;
	height: 119px;
	padding: 8px 0 0;
}

.footer-column.abo > a:after {
	content: "";
	display: none;
}

.footer-column.abo figure {
	position: relative;
	float: left;
}

.footer-column.abo a span {
	font: italic 14px/18px "Times New Roman", Times, serif;
	display: block;
	position: relative;
	text-transform: uppercase;
}

.footer-column.abo a span:after {
	content: "";
    position: absolute;
    display: block;
    bottom: 4px;
    right: 10px;
    width: 8px;
    height: 10px;
    background: url('../images/sprite.png') -680px -1px no-repeat;
}

.footer-column.abo a:hover span:after {
    background-position: -680px -13px;
}

.footer-column.abo a.print {
	margin-bottom: 20px;
}

.footer-column.abo a.digital > figure {
	width: 93px;
	height: 119px;
	background: transparent url('../images/ipad.png') no-repeat 0 0;
}

.footer-column.abo a span {
	margin: 40px 0 0 105px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.footer-column.abo a span:after {
	bottom: 9px;
}

.footer-column.abo a.digital > figure > img {
	width: 75px;
	height: 98px;
	position: absolute;
	left: 9px;
	top: 11px;
}

.footer-column.abo a.print > figure,
.footer-column.abo a.print > figure > img {
	width: 93px;
	height: 121px;
}

/* Brands */
#footer .brands {
    position: relative;
    width: 980px;
    margin-top: 3px;
    height: 71px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #FFFFFF;
}

#footer .brands:before,
#footer .brands:after {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 0px;
    width: 980px;
    height: 1px;
    background: #f1e9da;
}

#footer .brands:after {
    top: auto;
    bottom: 1px;
}

#footer .condenast,
#footer .glamour,
#footer .gq,
#footer .myself,
#footer .style,
#footer .architectural-digest,
#footer .wired {
    position: absolute;
    display: block;
    background: #999999 url(../images/sprite.png) -1px -1px no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#footer .condenast {
    top: 23px;
    width: 241px;
    height: 22px;
    left: 10px;
}

#footer .glamour {
    top: 26px;
    left: 315px;
    width: 87px;
    height: 20px;
    background-position: -245px -1px;
}

#footer .gq {
    top: 24px;
    left: 474px;
    width: 48px;
    height: 24px;
    background-position: -334px -1px;
}

#footer .myself {
    top: 24px;
    left: 605px;
    width: 82px;
    height: 25px;
    background-position: -384px -1px;
}

/*
#footer .style {
    top: 26px;
    left: 672px;
    width: 72px;
    height: 22px;
    background-position: -468px -1px;
}
*/

#footer .architectural-digest {
    top: 23px;
    left: 759px;
    width: 35px;
    height: 25px;
    background-position: -540px -1px;
}

#footer .wired {
    top: 26px;
    left: 868px;
    width: 101px;
    height: 21px;
    background-position: -577px -1px;
}

#footer .condenast:hover,
#footer .glamour:hover,
#footer .gq:hover,
#footer .myself:hover,
#footer .style:hover,
#footer .architectural-digest:hover,
#footer .wired:hover {
    background-color: #b79346;
}

/* Worldwide */
#footer .worldwide {
    position: relative;
    margin-top: 20px;
    list-style: none;
}

#footer .worldwide > li {
    position: relative;
    width: 221px;
    margin: 0 auto;
    padding: 5px 20px 5px 9px;
    background: #f2f2f2;
    border-top: 1px solid #c2c2c2;
    color: #000000;
    font-style: italic;
}

#footer .worldwide > li:after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 11px;
    height: 4px;
    background: url(../images/sprite.png) -690px -1px no-repeat;
}

#footer .worldwide > li:hover:after {
    display: none;
}

#footer .worldwide > li > ul {
    display: none;
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: 250px;
    padding-left: 0;
    background-color: #f2f2f2;
    border: 1px solid #c2c2c2;
    list-style: none;
    text-align: left;
}

#footer .worldwide > li:hover > ul {
    display: block;
    list-style: none;
}

#footer .worldwide > li > ul > li {
    display: block;
    margin-bottom: 2px;
}

#footer .worldwide a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 2px 10px;
    line-height: 16px;
}

#footer .worldwide a:hover {
    color: #b79346;
    background-color: #ffffff;
}

#footer .worldwide > li > ul > li:first-child {
    margin-top: 5px;
}

#footer .worldwide > li > ul > li:last-child {
    margin-bottom: 3px;
}

/* ----- /END Footer ----- */

/* ----- BEGIN Global Elements ----- */

/* More */
a.more {
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 12px 27px 10px 0;
    border-top: 1px solid #cccccc;
    color: #000000;
    font: 14px/16px "Times New Roman", Times, serif;
    font-style: italic;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

.inverse a.more {
    border-top: 1px solid #333333;
    color: #ffffff;
}

a.more:hover,
.inverse a.more:hover {
    color: #b79346;
}

a.more:after {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    right: 10px;
    width: 8px;
    height: 10px;
    background: url(../images/sprite.png) -680px -1px no-repeat;
}

.inverse a.more:after {
    background-position: -690px -13px;
}

a.more:hover:after {
    background-position: -680px -13px;
}

a.more.left {
    padding: 12px 0 10px 27px;
    text-align: right;
}

a.more.left:after {
    left: 10px;
    background: url(../images/sprite.png) -752px -1px no-repeat;
}

a.more.left:hover:after {
    background-position: -752px -13px;
}

/* More-Nav */
.more-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.more-nav > li {
    display: block;
    text-align: right;
}

.more-nav a {
    position: relative;
    display: inline-block;
    padding: 12px 27px 10px 0;
    border-top: 1px solid #bebebe;
    color: #000000;
    font: 14px/16px "Times New Roman", Times, serif;
    font-style: italic;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}

.more-nav a:hover {
    color: #b79346;
}

.more-nav a:after {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    right: 10px;
    width: 8px;
    height: 10px;
    background: url(../images/sprite.png) -680px -1px no-repeat;
}

.more-nav a:hover:after {
    background-position: -680px -13px;
}

/* Keywords */
.keywords {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 10px 10px 0 0;
    list-style: none;
}

.keywords > li {
    display: inline-block;
}

.keywords a {
    position: relative;
    display: block;
    color: #000000;
    font: 10px/16px Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.keywords a:visited {
    color: #777777;
}

.keywords a:active,
.keywords a:focus,
.keywords a:hover {
    color: #b79346;
}

.keywords a:before {
    content: "•";
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: #000000;
}

.keywords li:first-child > a:before {
    display: none;
}

/* Popup Button */
.popup-button-base {
    width: 100%;
    height: 25px;
    margin: 0 0 10px 0;
    padding: 0;
    background-color: #e1e1e1;
    border-top: 1px solid #b4b4b4;
    font: 16px/16px "Times New Roman", Times, serif;
    font-style: italic;
    list-style: none;
}

.popup-button {
    position: relative;
    display: block;
}

.popup-button > li {
    position: relative;
    display: block;
    height: 25px;
    background: #e1e1e1;
    color: #000000;
}

.popup-button-base > li:after,
.popup-button > li:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 11px;
    height: 4px;
    background: url(../images/sprite.png) -690px -1px no-repeat;
}

.popup-button-base > li:hover:after {
    background-position: -690px -7px;
}

/* @todo: bugfix - this overwrites the alphabet links in fashion show finder! */
.popup-button > li a,
.popup-button-base > li a {
    display: block;
    padding: 7px 30px 2px 10px;
    color: #000000;
    text-decoration: none;
}

.popup-button > li > a,
.popup-button-base > li > a {
    padding: 5px 30px 2px 10px;
}

.popup-button ul a:hover {
    color: #b79346;
}

.popup-button-popover {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    max-height: 310px;
    height: 310px;
    margin: 0;
    padding: 0;
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    z-index: -10;
}

.popup-button .scrollpane {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.popup-button > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    list-style: none;
    z-index: 20;
}

.popup-button > li:hover > ul {
    display: block;
}

.popup-button > li:hover > .popup-button-popover {
    display: block;
    z-index: 20 !important;
}

.popup-button .scrollpane-menu {
    position: relative;
    display: block;
    top: 0px;
    left: 0px;
    padding: 0;
    outline: none;
}

.popup-button ul > li {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

/* Horoscopes */
a.horoscope {
    float: left;
    position: relative;
    display: block;
    width: 80px;
    height: 20px;
    padding-top: 56px;
    background: url(../images/sprite_widget_horoscopes.png) left top no-repeat;
    color: #000000;
    font: 10px/12px "Times New Roman", serif;
    text-align: center;
    text-transform: uppercase;
}

a.horoscope.widder {
    background-position: left top;
}

a.horoscope.widder.active,
a.horoscope.widder:hover {
    background-position: left -228px;
}

a.horoscope.stier {
    background-position: -80px top;
}

a.horoscope.stier.active,
a.horoscope.stier:hover {
    background-position: -80px -228px;
}

a.horoscope.zwilling,
a.horoscope.zwillinge {
    background-position: -161px top;
}

a.horoscope.zwilling.active,
a.horoscope.zwillinge.active,
a.horoscope.zwilling:hover,
a.horoscope.zwillinge:hover {
    background-position: -161px -228px;
}

a.horoscope.krebs {
    background-position: -241px top;
}

a.horoscope.krebs.active,
a.horoscope.krebs:hover {
    background-position: -241px -228px;
}

a.horoscope.loewe {
    background-position: left -76px;
}

a.horoscope.loewe.active,
a.horoscope.loewe:hover {
    background-position: left -304px;
}

a.horoscope.jungfrau {
    background-position: -80px -76px;
}

a.horoscope.jungfrau.active,
a.horoscope.jungfrau:hover {
    background-position: -80px -304px;
}

a.horoscope.waage {
    background-position: -161px -76px;
}

a.horoscope.waage.active,
a.horoscope.waage:hover {
    background-position: -161px -304px;
}

a.horoscope.skorpion {
    background-position: -241px -76px;
}

a.horoscope.skorpion.active,
a.horoscope.skorpion:hover {
    background-position: -241px -304px;
}

a.horoscope.schuetze {
    background-position: left -152px;
}

a.horoscope.schuetze.active,
a.horoscope.schuetze:hover {
    background-position: left -380px;
}

a.horoscope.steinbock {
    background-position: -80px -152px;
}

a.horoscope.steinbock.active,
a.horoscope.steinbock:hover {
    background-position: -80px -380px;
}

a.horoscope.wassermann {
    background-position: -161px -152px;
}

a.horoscope.wassermann.active,
a.horoscope.wassermann:hover {
    background-position: -161px -380px;
}

a.horoscope.fische {
    background-position: -241px -152px;
}

a.horoscope.fische.active,
a.horoscope.fische:hover {
    background-position: -241px -380px;
}

a.horoscope.active,
a.horoscope.active > span,
a.horoscope:hover,
a.horoscope:hover > span {
    color: #b79346;
    text-decoration: none;
}

/* Headline Ornament */
.headline-ornament {
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.headline-ornament:before,
.headline-ornament:after {
    content: "";
    position: relative;
    display: inline-block;
    top: -3px;
    width: 65px;
    height: 1px;
    margin: 0 10px 0 0;
    border-top: 1px solid #b79346;
    border-top: 1px solid rgba(183, 147, 70, 0.5);
    border-bottom: 1px solid #808080;
    vertical-align: middle;
    width: 30%;
}

.headline-ornament:after {
    margin: 0 0 0 10px;
}

/* ----- /END Global Elements ----- */

/* ----- BEGIN Channel Header ----- */

.channel-header {
    position: relative;
    border-top: 1px solid #cccccc;
    text-align: center;
}

.channel-header:before {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #e2dccd;
}

.channel-header > .intro {
    position: relative;
    font: 16px/20px "Times New Roman", Times, serif;
}

.channel-header > .intro:before,
.channel-header > .intro:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 125px;
    height: 16px;
    margin: 15px 15px 0 15px;
    border-bottom: 1px solid #d6d6d6;
}

.channel-header > h1 {
    margin: 5px 0 0 0;
    padding-top: 10px;
    font: 66px/74px "FirminDidURW-Rom", "Times New Roman", Times, serif;
    text-transform: uppercase;
}

.channel-header > h1 > span {
    font: 66px/74px "FirminDidURW-Bol", "Times New Roman", Times, serif;
}

.channel-header > h1 > span.menkes {
	padding-left: 55px;
	position: relative;
}

.channel-header > h1 > span.menkes:after {
	content: '';
	height: 50px;
	width: 33px;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/suzy-menkes-logo.png') no-repeat center center;
}

.channel-header > p {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
}

.channel-header > p > .gold {
    margin-right: 2px;
    color: #b79346;
    font: 14px/20px Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.channel-header > .lang {
	position: absolute;
	left: 0;
	bottom: 0;
	font: 14px/20px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	z-index: 100;
	color: #bbb;
}

.channel-header > .lang a {
	margin: 0 3px;
	padding: 0 3px;
	color: #bbb;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
}

.channel-header > .lang a:hover {
	color: #000;
}

.channel-header > .lang a.active {
	color: #fff;
	font-weight: bold;
	background: #b79346;
}

.channel-header.news > h1 {
    margin-bottom: 0;
}

.channel-header.tags > h1,
.channel-header.videos > h1 {
    margin-bottom: 10px;
}

.channel-header .link-rss {
    position: relative;
    display: block;
    width: 149px;
    height: 15px;
    margin: 0 auto 5px;
    background: url(../images/sprite.png) -337px -249px no-repeat;
}

.channel-header .link-rss:hover {
    background-position: -488px -249px;
}

.channel-header .keywords {
    margin-bottom: 15px;
    padding: 0;
}

.channel-header p a {
	font: 14px/20px Arial,sans-serif;
	color: #000000;
	text-decoration: underline;
}

.channel-header p a:hover {
	color: #b79346;
}

/* ----- /END Channel Header ----- */

/* ----- BEGIN Breadcrumb ----- */

.breadcrumb {
    position: relative;
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb > li {
    display: inline-block;
    margin-right: 10px;
    color: #000000;
    font: 14px/30px "Times New Roman", Times, serif;
    font-style: italic;
}

.breadcrumb li:before {
    content: ">";
    position: relative;
    margin-right: 10px;
    color: #a5a5a5;
}

.breadcrumb li.adv:before {
    display: none;
}

.breadcrumb li.adv {
    float: right;
}

.breadcrumb li:first-child:before {
    content: "";
    display: none;
}

.breadcrumb a {
    position: relative;
    color: #a5a5a5;
    text-decoration: none;
    text-transform: uppercase;
}

.breadcrumb a:hover {
    color: #b79346;
}

/* ----- /END Breadcrumb ----- */

/* ----- BEGIN Blog Name ----- */

.blog-name {
    color: #000000;
    font: 14px/16px "FirminDidURW-Rom", "Times New Roman", Times, serif;
    font-style: normal;
    text-transform: uppercase;
}

.blog-name > b {
    font: 14px/16px "FirminDidURW-Bol", "Times New Roman", Times, serif;
}

/* ----- /END Blog Name ----- */

/* ----- BEGIN Pagination ----- */

.pagination {
    clear: both;
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    font-size: 0px;
    line-height: 0px;
    text-align: center;
}

/* List */
.pagination-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.pagination-list > li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    line-height: 18px;
}

.pagination-list a {
    position: relative;
    padding: 5px 5px 5px 5px;
    color: #777777 !important;
    font-size: 18px;
    font-style: italic;
    line-height: 18px;
    text-decoration: none !important;
}

.pagination-list li:before {
    content: "/";
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    color: #777777;
}

.pagination-list li:first-child:before {
    display: none;
}

.pagination-list a:hover {
    color: #b79346 !important;
}

.pagination-list a.active {
    color: #000000 !important;
    cursor: default;
}

/* Prev/Next */
.pagination .prev,
.pagination .next {
    position: relative;
    display: inline-block;
    top: 1px;
    width: 10px;
    height: 14px;
    margin-right: 10px;
    background: url(../images/sprite.png) -858px -50px no-repeat;
}

.pagination .next {
    margin-left: 10px;
    margin-right: auto;
    background-position: -858px -98px;
}

.pagination .prev:hover {
    background-position: -858px -66px;
}

.pagination .next:hover {
    background-position: -858px -114px;
}

/* ----- /END Pagination ----- */

/* ----- BEGIN Search Results ----- */

.search-results-form {
    display: block;
    position: relative;
    margin-left: 330px;
    margin-bottom: 20px;
}

.search-results-form > input[type=search],
.search-results-form > input[type=text] {
    width: 285px;
    padding: 7px 15px 8px 15px;
    border: 1px solid #a5a5a5;
    border-bottom: 1px solid #ededed;
    border-right: 0;
    font-size: 14px;
    line-height: 15px;
}

.search-results-form > button[type=submit],
.search-results-form > input[type=submit] {
    position: absolute;
    top: 0px;
    left: 316px;
    width: 35px;
    height: 34px;
    margin: 0;
    padding: 0;
    background: url(../images/sprite.png) -835px -266px no-repeat;
    border: 0;
    color: transparent;
    cursor: pointer;
    font-size: 0px;
    line-height: 0px;
}

/* Search Menu (in Aside) */
.search-menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font: 14px/30px "Times New Roman", Times, serif;
    font-style: italic;
}

.search-menu > li {
    display: block;
    border-top: 1px solid #cccccc;
}

.search-menu > li:first-child {
    border-top: 0;
}

.search-menu a {
    display: block;
    padding: 0 10px;
    color: #000000;
    text-decoration: none;
}

.search-menu .active,
.search-menu a:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-no-hits {
    font: italic 24px/24px "Times New Roman", Times, serif;
    font-style: italic;
	margin-bottom: 5px;
}

.search-spellcheck {
    color: #777777;
    font: italic 17px/24px "Times New Roman", Times, serif;
    margin-bottom: 25px;
}

.search-spellcheck a {
    color: #000000;
    text-decoration: underline;
}

.search-spellcheck a:hover {
    color: #b79346;
}

/* ----- /END Search Results ----- */

/* ----- BEGIN Tabs ----- */

.tabs {
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    font-size: 0px;
    line-height: 0px;
}

.tabs > li {
    display: inline-block;
    height: 25px;
    vertical-align: top;
}

.tabs a,
.tabs span{
    display: block;
    height: 23px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    color: #777777;
    font-size: 13px;
    line-height: 23px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}

.tabs > li:first-child a {
    border-left: 0;
}

.tabs a:hover {
    color: #b79346;
}

.tabs a.active,
.tabs span.active {
    border-top: 1px solid #cccccc;
    border-bottom: 0;
    color: #000000;
    cursor: default;
}

.tabs a.calendar {
	padding-left: 35px;
	background: transparent url('../images/icon_calendar.gif') 15px center no-repeat;
}

/* ----- /END Tabs ----- */

.tabs-with-search {
    position: relative;
    height: 25px;
    width: 650px;
    margin-bottom: 20px;
}

.tabs-with-search .media-search-form {
    top: 0 !important;
}

/* ----- BEGIN Social Services ----- */

.social-services {
    display: block;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    font-size: 0px;
    line-height: 0px;
    text-align: center;
}

.social-service {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 50px;
    margin-right: 1px;
    vertical-align: top;
    background: transparent url(../images/sprite.png) left top no-repeat;
}

.social-service:before {
    content: "";
    position: absolute;
    display: block;
    top: 12px;
    left: -1px;
    width: 1px;
    height: 26px;
    background-color: #cccccc;
}

.social-service:first-child:before {
    display: none;
}

.social-service.hover,
.social-service:hover {
    background-color: #000000;
}

.social-service.facebook {
    background-position: -241px -266px;
}

.social-service.facebook.hover,
.social-service.facebook:hover {
    background-position: -241px -318px;
}

.social-service.twitter {
    background-position: -331px -266px;
}

.social-service.twitter.hover,
.social-service.twitter:hover {
    background-position: -331px -318px;
}

.social-service.google {
    background-position: -421px -266px;
}

.social-service.google.hover,
.social-service.google:hover {
    background-position: -421px -318px;
}

.social-service.email {
    background-position: -511px -266px;
}

.social-service.email:hover {
    background-position: -511px -318px;
}

.social-service.facebook.hover:after,
.social-service.twitter.hover:after,
.social-service.google.hover:after,
.social-service.facebook:hover:after,
.social-service.twitter:hover:after,
.social-service.google:hover:after {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    left: 34px;
    width: 20px;
    height: 8px;
    background: url(../images/sprite.png) -858px -146px no-repeat;
}

.social-service > a {
    position: relative;
    display: block;
    height: 100%;
}

.social-service .popover {
    display: block;
    bottom: 50px;
    left: -5000px;
    width: 84px;
    height: 89px;
    padding: 10px 0 0 0;
}

.social-service.facebook .popover {
    display: block;
    bottom: 50px;
    left: -5000px;
    width: 109px;
    height: 110px;
    padding: 20px 0 0 0;
}

.social-service.hover .popover,
.social-service:hover .popover {
    left: 0px;
}

.social-service.facebook.hover .popover,
.social-service.facebook:hover .popover {
    left: -11px;
}

/* fix for google+ Iframe */
iframe{
    visibility: inherit !important;
}

/* ----- article ----- */

ul.social-issues,
ul.social-issues-top {
    display: block;
    padding: 0;
    list-style: outside none;
    text-align: center;
}

ul.social-issues {
	margin: 0 0 50px 0;
}

ul.social-issues > li {
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	margin-left: 60px;
}

ul.social-issues > li.facebook {
	width: 82px;
}

.fb_iframe_widget iframe {
	position: relative !important;
}

ul.social-issues > li.twitter {
	width: 69px;
}

ul.social-issues > li.google {
	width: 58px;
}

ul.social-issues > li.fb_share {
	width: 64px;
}

ul.social-issues > li.fb_share > a {
	background: url("../images/fb_sharer.png") no-repeat scroll 0 0 transparent;
	width: 64px;
	height: 61px;
	display: inline-block;
}

ul.social-issues > li.email a {
	background: url("../images/sprite.png") no-repeat scroll -543px -280px transparent;
	height: 22px;
	width: 22px;
	display: inline-block;
}

ul.social-issues > li.email-button a {
	width: 70px;
	height: 60px;
	display: inline-block;
	text-decoration: none;
}

ul.social-issues > li.email-button a .bubble {
	width: 70px;
	height: 35px;
	background: transparent url('../images/bubble-email.png') center center no-repeat;
	margin-bottom: 5px;
	font: 18px/28px "Times New Roman",Times,serif;
	color: black;
}

ul.social-issues > li.email-button a .text {
	width: 68px;
    border: 1px solid #bababa;
    border-radius: 3px;
    color: black;
    font: italic 12px/18px "Times New Roman",Times,serif;
    height: 18px;
    text-decoration: none;
	background: #ddd;
	background: -moz-linear-gradient(top, #f7f7f7, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#dddddd));
	background: -webkit-linear-gradient(top, #f7f7f7, #dddddd);
	background: -o-linear-gradient(top, #f7f7f7, #dddddd);
	background: -ms-linear-gradient(top, #f7f7f7, #dddddd);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dddddd')";
	background: linear-gradient(top, #f7f7f7, #dddddd);
}

ul.social-issues > li.email-button a:hover .text {
	background: #f7f7f7;
}

ul.social-issues > li:before {
    content: "";
    position: absolute;
	bottom: 0;
	left: -30px;
    width: 1px;
    height: 26px;
    background-color: #cccccc;
}

ul.social-issues > li:first-child {
	margin: 0;
}

ul.social-issues > li:first-child:before {
	display: none;
}

ul.social-issues-top {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	z-index: 8;
}

ul.social-issues-top > li {
	margin-left: 0px;
}

ul.social-issues-top > li {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	padding: 0 10px;
}

ul.social-issues-top > li.twitter {
	width: 90px;
}

ul.social-issues-top > li.facebook {
	padding-bottom: 2px;
}

/* ----- /END Social Services ----- */

/* ------ BEGIN Alphabet ----- */

.alphabet {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #ededed;
    text-align: center;
    list-style: none;
}

.alphabet > li {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    line-height: 30px;
    font-style: italic;
}

.alphabet a {
    display: block;
    color: #777777;
}

.alphabet a:hover {
    color: #b79346;
    text-decoration: none;
}

.alphabet a.active,
.alphabet span.active{
    color: #000000;
    cursor: default;
}

/* ------ /END Alphabet ----- */

/* ----- BEGIN Figure ----- */

figure {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 0px;
}

figure > a {
    display: block;
}

figcaption {
    position: relative;
    margin-top: 10px;
    color: #777777;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}

figcaption .headline {
    font: 32px/32px "Times New Roman", Times, serif;
    font-style: italic;
    color: #000000;
}

figcaption > p {
    display: block;
    margin: 0;
}

figcaption > p > strong {
    margin-right: 2px;
    color: #000000;
    font: 11px/17px Arial, sans-serif;
    font-weight: bold;
}

figcaption > p > a {
    color: #000000;
    font: 12px/17px Arial, sans-serif;
    text-decoration: none;
    text-decoration: underline !important;
}

figcaption .gold {
    color: #b79346 !important;
}

figcaption > p > .gold {
    margin-right: 2px;
}

figcaption .copyright {
    display: block;
    margin-top: 2px !important;
    font: 11px/20px Arial, sans-serif !important;
    font-style: normal !important;
}

figcaption .copyright > a {
    color: #000000;
    font: 10px/20px Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase !important;
}

figcaption > p > a:visited,
figcaption .copyright > a:visited {
    color: #777777;
}

figcaption > p > a:active,
figcaption > p > a:focus,
figcaption > p > a:hover,
figcaption .copyright > a:active,
figcaption .copyright > a:focus,
figcaption .copyright > a:hover {
    color: #b79346;
}

#article-gallery figcaption > p {
	margin-top: 12px;
}

#article-gallery figcaption > p:first-child {
	margin-top: 0;
}
figure.video-full {
    margin-bottom: 10px;
}
/* ----- /END Figure ----- */

/* ------ BEGIN Partner ----- */

#content-external {
  position: relative;
  width: 980px;
  margin-bottom: 0;
  padding: 15px 10px 30px 10px;
  font-size: 16px;
  line-height: 20px;
}

/* ------ END Partner ----- */

/* Mobile Switch link */
#mobile-switch{
    position: relative;
    width: 972px;
    padding: 1em;
    text-align: left;
}
#mobile-switch a {
    font:italic 18px/24px "Times New Roman", Times, serif;
    text-transform: uppercase;
    color: #B79346;
}

/* End Mobile Switch Link */

#footer .vdz_logo{
    bottom: 129px;
    left: 765px;
    position: absolute;
    display: inline-block;
    width: 203px;
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 5px;
}

/* */

.fsback {
	display: block;
	margin: 40px 0 20px;
	text-align: center;
}

.article-header .fsback {
	margin: 20px 0;
}

.fsback > a {
	padding-left: 22px;
    color: #777777;
    font-size: 15px;
    line-height: 26px;
    font-style: italic;
    text-decoration: none;
	display: inline-block;
	position: relative;
}

.fsback > a:after {
	content: "";
	width: 14px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 6px;
	background: transparent url('../images/icon_calendar.gif') center center no-repeat;
}

.fsback > a:hover {
	color: #b79346;
}

/* international redirect banner */

#intredir {
	 height: 50px;
	 opacity: 1;
	 background: #f5f5f5;
	 position: relative;
	 top: 0;
	 width: 100%;
	 overflow: hidden;
	 z-index: 99999;
	 transition: height .5s, 1s opacity 1s;
}

#intredir.collapsed {
	height: 1px;
	opacity: 0;
	transition: .5s height .5s, opacity .5s;
}

#intredir div {
	display: block;
	margin: 0 auto;
	color: #555;
	font: 13px/50px Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0 40px;
}

#intredir div a {
	text-decoration: none;
	color: #555;
}

#intredir div a:hover {
	color: #b79346;
	text-decoration: underline;
}

#intredir .close {
	position: absolute;
	right: 14px;
	top: 14px;
	height: 22px;
	width: 22px;
	cursor: pointer;
	background: transparent url('../images/close.svg') no-repeat 0 0;
	background-size: contain;
}
/* video */
.video.standalone .cnvideo-player-wrapper {
    margin: 65px 0 20px;
}
/* module */
.module p.adv {
    float:right;
    font-style: italic;
    color:#000000;
}
