/* TIPS form CSS */

#tips_iframe {
    width: 100%;
    border: 0;
}

body {
    font-family: "Mercury SSm A", "Mercury SSm B", Georgia, Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 1.662;
    color: #474746;
    background-color: #fefdfa;
}

@media screen and (min-width:768px) {
    body {
        font-size: 16px;
        line-height: 1.777;
    }
}

#tips-header {
    display: none;
}

.body-content {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: none;
}

a {
    color: #d00000;
}

form legend,
form label,
form input,
form select {
    font-family: "Gotham SSm A", "Gotham SSm B", Verdana, "Verdana Ref", Geneva, Tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form fieldset {
    padding-bottom: 1em;
}

form legend {
    font-size: 13px;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    form legend {
        font-size: 16px;
    }
}

form label {
    font-size: 12px;
}

@media screen and (min-width:768px) {
    form label {
        font-size: 13px;
    }
}

/* Override vendor styles */
.btn, .btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 1em 0;
    padding: 1.069em 1.333em 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B", Verdana, "Verdana Ref", Geneva, Tahoma, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 1;
    text-shadow: none;
    background-color: #137cbd;
    background-image: none;
}

@media screen and (min-width:768px) {
    .btn, .btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
        font-size: 12px;
    }
}

.btn:hover,
.btn-default:hover {
    color: #fff;
    background-color: #10679d;
}

.btn[disabled]:hover,
.btn-default[disabled]:hover {
    border-color: transparent;
    background-color: #10679d;
}

.btn:active,
.btn-default:active {
    color: #fff;
    background-color: #10679d;
}

.btn:disabled,
.btn-default:disabled {
	cursor: not-allowed;
}

.btn-sm {
    font-size: 9px;
}

@media screen and (min-width:768px) {
    .btn-sm {
        font-size: 10px;
    }
}
