﻿#header_Ad1_HeaderBanner{float:left;width:210px;margin-top:4px;margin-bottom:4px;}
.section_news_container_withborder1{border-right:1px solid #C9C7C8;float:left;width:680px;border-bottom:1px solid #C9C7C8;}
.subnewsheading_dropdown{float:right;margin-right:7px;margin-top:8px;padding-left:0;margin-bottom:4px;border-width:0;}
.red{color:Red!important;}
.social_Top_Header{float:right;margin-top:12px;}
.Google_Custom_Search{float:right;margin-top:0;margin-right:11px;}
.articleDetailVideoPlay{margin-left:153px;margin-top:130px;position:absolute;}
body{font-family:Latha,,sans-serif;word-wrap:break-word;margin:0 auto;}
.LatestNews{width:1000px;float:left;}
.SectionNewsClass{float:left;}
.descfontSizesmall{font-size:11px;line-height:22px;font-weight:400;color:#373737;}
.cinemaDescFontSize{font-size:11px;line-height:18px;color:#000; padding-right:10px;}
.BigDescFontStyle{font-size:12px;line-height:16px;font-weight:400;}
.descriptionHeadFontSize{font-size:12px;font-weight:700;}
.mainHeaderStyle_Big{font-size:18px;font-weight:700;}
.leftTowerAd{width:160px;margin:0 auto;}
.MainDetailHeader{font-size:14px;color:#245B91;font-weight:700;line-height:22px;}
.FormStyle{padding-top:0;margin:0 auto;}
.sideadvertiseDev{float:left;width:310px;}
.CommonMargin{margin-top:10px!important;}
.commonWidth{width:100%;}
.DevBottomBorder{border-bottom:1px solid #C9C7C8;}
.DevBottomBorderForAstrology{margin-left:10px;margin-bottom:10px;margin-top:10px;}
.DevBottomBorderForAstrologyFirst{margin-left:10px;margin-bottom:10px;}
.haderContainer{width:1000px;float:left;margin:0 auto;}
.header{float:left;width:1000px;border:1px solid #C9C7C8;margin:0 auto;}
.header2{float:left;width:1000px;margin:0 auto;}
.top1{width:100%;height:43px;background-color:#CBC7C6;clear:both;}
.header2_top1{width:100%;height:43px;background-color:#CBC7C6;clear:both;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;border-top:1px solid #C9C7C8;}
.daily_thanthi{float:left;margin-left:10px;width:155px;text-align:center;margin-top:7px;}
.thanthi_tv{float:left;margin-left:8px;width:105px;text-align:center;margin-top:7px;}
.rss{float:right;margin-right:11px;margin-top:6px;}
.share{margin-right:10px;float:right;margin-top:6px;}
.e_paper{margin-right:10px;float:right;margin-top:4px;}
.top3{float:left;width:100%;background-color:#FFF;display:block;}
.header2_top3{float:left;width:100%;display:block;background-color:#FFF;}
.ad1{float:left;width:200px;height:110px;border:1px solid #000;}
.ad_size4{width:234px;height:60px;}
.logo{float:left;width:300px!important;margin-left:133px;}
.ad2{float:right;width:200px;margin-top:4px;margin-bottom:4px;}
.ad2_left{float:left;width:200px;height:118px;margin-left:4px;}
.ad3{float:right;width:728px;height:90px;border:1px solid #000;margin-top:4px;margin-bottom:4px;}
.date{text-align:center;clear:both;font-size:10px;line-height:20px;width:210px;margin:0 auto;}
.startpage{float:left;margin-top:5px;margin-left:5px;font-size:10px;line-height:20px;color:#255794;}
.startpage1{float:left;margin-top:5px;margin-left:20px;font-size:10px;line-height:20px;color:#255794;}
a,img{border:none;text-decoration:none;}
.ad_728_90_container{border:1px solid #000;height:90px;width:728px;margin:5px auto;}
/*.logo_ad_div{float:left;width:979px;margin:11px;}*/

.logo_ad_div{float:left;width:996px;}
.footer{width:1000px;border-bottom:1px solid #C9C7C8;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;float:left;background-color:#FFF;clear:both;margin:0 auto;}
.first_div{width:100%;padding-bottom:10px;padding-top:15px;float:left;background-color:#A5CCDD;}
.second_div{width:100%;height:5px;background-color:#566465;margin-top:1px;float:left;}
.third_div{width:100%;float:left;clear:both;border-bottom:1px solid #C9C7C8;}
.bottom_div{width:100%;padding-top:10px;padding-bottom:10px;float:left;clear:both;}
.menu_ul1{padding-left:10px;margin:0;}
.menu_ul2{padding-left:10px;margin-top:0;float:left;}
.menu_ul10{padding-left:10px;margin-top:0;float:none;}
.ul_sitemap{list-style-type:none;}
.sitemap{float:none;width:195px;color:#fff;font-size:12px;list-style:none;margin:2px 0;}
.news{float:left;width:195px;color:#fff;list-style-type:none;font-size:12px;margin:2px 0;}
.a_text1{text-decoration:none;font-size:11px;font-weight:700;}
.a_text2{text-decoration:none;font-size:10px;font-weight:700;}
.a_text{text-decoration:none;color:#5F5E70;font-size:11px;}
.list1{clear:both;list-style-type:none;font-size:10px;margin-top:10px;line-height:15px;}
.ul1{float:left;width:195px;}
.ul2{float:left;width:145px;}
.logo1{float:left;margin-left:15px;}
.ul5{width:734px;float:left;}
.list2{float:left;list-style-type:none;font-size:10px;margin-left:16px;}
.copy_rights{clear:both;margin-top:10px;margin-left:200px;float:left;color:#5F5E70;font-size:11px;font-family:Latha;}
.company_name{float:left;font-size:11px;margin-top:10px;margin-left:5px;}
.company_name_link{color:#5F5E70;font-family:helvetica;font-size:11px;}
.menu_Css{border-bottom:1px solid #CBC7C6;border-right:1px solid #CBC7C6;border-left:1px solid #CBC7C6;float:left;width:1000px;background-color:#565656;}
.menu_Boarder{background-color:#C0BBB8;height:1px;}
.ul{list-style-type:none;width:100%;margin:0;padding:0;}
.li{float:left;border-right:1px solid #CBC7C6;font-size:11px;font-weight:400;vertical-align:middle;}
.li div{float:left;padding:1px 3px;}
.li div:hover{background-image:url(http://stat.dailythanthi.com/DailyThanthiUI/Images/Menu-grad-1px.jpg);color:#ffffff !important;}
.li a{float:left;display:block;color:#FFF;text-decoration:none;}
.subMenu_Css{float:left;width:100%;border-right:1px solid #CBC7C6;border-left:1px solid #CBC7C6;border-bottom:1px solid #CBC7C6;background-image:url(http://stat.dailythanthi.com/DailyThanthiUI/Images/Menu-grad-1px.jpg);}
.li1{float:left;line-height:25px;font-size:11px;border-right:1px solid #CBC7C6;}
.li1 a{float:left;display:block;color:#FFF;padding-left:5px;padding-right:5px;text-decoration:none;}
.li11{border-right:0 none!important;}
#body-cont{width:1000px;margin:0 auto;}
#body-cont1{border:1px solid hsl(12,5%,79%);width:1000px;margin:0 auto;}
.lblhome_css{border:1px solid #CBC7C6;float:left;width:100%;}
.lblColor a{color:#255992;font-size:14px;text-decoration:none;margin-left:1px;font-weight:bolder;}
.arrowcss{color:#000;font-size:10px;font-weight:bolder;float:left;margin-left:3px;margin-right:2px;margin-top:5px;}
.sideadvt{clear:both;margin-top:1px;margin-left:7px;border-bottom:10px;}
.BottomAdvertisement{clear:both;margin-top:10px;margin-left:8px;border-bottom:10px;padding-bottom:10px;}
.sideAdvertisment{float:left;width:314px;clear:both;border-left:1px solid #C9C7C8;}
.ad_300_250{width:300px;height:250px;border:1px solid #000;}
.ad_size3{width:300px;height:250px;}
/* Listing page advertisement changes*/
div.outer_div{clear:both;width:728px;border-top:1px solid #C9C7C8;border-bottom:1px solid #C9C7C8;padding:10px 136px;}
div.outer_divli{clear:both;width:728px; border-bottom:1px solid #C9C7C8;padding:0px 136px;}


div.ad728-60_outer_div{clear:both;float:left;width:728px;padding:10px 136px;}
#inner_div{width:728px;height:90px;border:1px solid #000;margin:0 auto;}
.ad_size1{width:728px;height:90px;}
#ad_300_100{width:300px;height:100px;border:1px solid #000;}
.ad_size2{width:300px;height:100px;}
.advertis1{border-bottom:1px solid #C9C7C8;padding:9px;}
.Sports_advertis1{width:312px;padding-top:10px;padding-left:10px;padding-bottom:12px;}
.advertis2{clear:both;width:300px;padding:9px;}
.advertis{float:left;width:316px;}
.advertis_home{float:right;width:316px;}
.Sports_advertis{float:left;width:318px;}
.add_main_div{border:1px solid #000;float:left;}
.sideBottomBoarder{border-bottom:1px solid#C9C7C8;margin-top:10px;width:319px;}
#flashnews{overflow:hidden;width:1000px;float:left;border-bottom:1px solid #C9C7C8;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;height:26px;background-color:#F1F1F1;overflow: hidden;}
.latest_label{float:left;margin-left:10px;font-size:12px;margin-top:1px;color:#3B60A3;font-weight:700;}
#latest_news_content{float:left;width:610px;margin-left:5px;margin-top:2px;color:Red;font-size:11px;font-weight:700;}
.search_box{float:left;width:225px;margin-left:25px;}
.search_image{float:left;width:28px;}
.search{width:228px;height:22px;border:none;background-image:url(../Images/input_bg.gif);padding-left:10px;background-repeat:no-repeat;  margin-bottom: 2px;
    margin-left: 14px;}
.bottom_border{border-bottom:1px solid #CBC7C6;float:left;width:680px;}
.bottom_border_last{float:left;width:680px;}
.bottom_border_First{border-bottom:1px solid #CBC7C6;border-top:1px solid #EEE;float:left;width:680px;margin-top:20px;}
.first_div1{width:340px;border-right:1px solid #CBC7C6;float:left;}
.second_div1{width:335px;float:left;}
.list_head_div{width:330px;margin-top:5px;margin-left:8px;}
.date_time{font-size:10px;margin-left:10px;margin-top:3px;margin-bottom:3px;color:#595959;}
.thump_image_div{margin-left:8px;float:left;margin-bottom:10px;padding-top:10px;}
.small_descrip{float:left;width:233px;padding-left:10px;padding-top:10px;text-align:left;}
.firstpart_pxcontainer{width:680px;}
.subnews_haeding{margin-left:10px;margin-top:10px;float:left;margin-bottom:10px;}
.Right_main_div1{float:left;margin-left:9px;}
.most_reading{float:left;margin-left:14px;font-size:12px;margin-top:10px;}
.most_reading_div{color:#fff;font-weight:700;height:35px;border-bottom:1px solid #CBC7C6;background-color:#8F2626;padding-left:8px;}
.li_padding{margin-top:10px;line-height:14px;}
.side_boreder{float:left;border:1px solid #CBC7C6;width:300px; margin-left:-7px;}

.side_boredercini{float:left;border:1px solid #CBC7C6;width:300px; margin-left:0px;}
.uldiv{color:#245C8F;font-size:10px;font-weight:700;}
.ulpadding{width:92%;padding:0 23px 10px;}
.cininews_pagination{float:left;margin-top:10px;margin-bottom:10px;margin-left:348px;}
.cininews_pagination_article_datil{float:left;margin-top:10px;margin-bottom:10px;margin-left:332px;}
.PaginationElemets{background-color:#E4E3E8;color:#3F608D;font-family:Latha;font-size:11px;float:left;border-right:1px solid #cbc7c6;border-bottom:2px solid #E4E3E8;font-weight:700;text-decoration:none;padding:5px 15px;}
.PaginationDiv a:hover{background:#fff;color:Gray;}
.PaginationDiv{float:right;clear:both;margin:0;padding:0;}
.description_Text{font-size:13px;color:#000;margin:0 10px 10px;}
.related_news_margin_padding{margin-top:10px;}
.PaginationElemets_next_prev{background-color:#E4E3E8;color:#3F608D;font-family:Latha;font-size:11px;float:left;border-right:1px solid #cbc7c6;border-bottom:2px solid #E4E3E8;font-weight:700;text-decoration:none;padding:5px;}
.border_line_big{background-color:#CBC7C6;height:1px;float:left;width:1000px;}
.detailtitlemargin{margin-bottom:0!important;}
.after_head_div{height:27px;background-color:#fff;clear:both;border:1px solid #C9C7C8;float:left;width:658px;margin:10px 10px 8px;}
.comments_div{font-size:xx-small;margin-left:5px;margin-top:5px;float:left;color:#777B7A;}
.heading{float:left;margin-left:10px;font-weight:700;margin-top:10px;margin-bottom:15px;font-size:14px;}
.print_image{float:left;margin-left:2px;margin-top:2px;}
.number_of_comments_div{background-color:#F98532;border-radius:5px;height:20px;float:left;margin-left:5px;margin-top:3px;text-align:center;font-family:helvatica;padding:0 5px;}
.add_paddingSports{margin-top:10px;margin-left:9px;}
.bookmark_style{margin-left:190px;margin-top:5px;float:left;}
.bookmark_style_Vimarsanam{margin-left:145px;margin-top:4px;float:left;}
.zoom_in_div{width:20px;height:20px;float:right;margin-top:4px;margin-right:10px;}
.printed_date_lbl{color:#29598A;font-size:12px;margin-top:6px;margin-left:12px;float:left;}
.modified_label{color:#29598A;font-size:12px;margin-top:10px;margin-left:20px;float:right;margin-right:13px;}
.modified_date_div{float:right;margin-top:6px;margin-right:20px;}
.space_div{background-color:#F1F1F1;height:30px;border-bottom:1px solid #BFBBBA;}
.margin_left{float:left;margin-left:10px;width:100%;}
.printed_date_label{font-size:9px;color:#245C8F;float:left;margin-left:3px;}
.Right_main_div{float:left;margin-left:0;width:304px;}
.Right_main_div_for_comments{float:right;margin-left:0;width:304px;}
.description_style{font-size:11px;font-family:Latha;line-height:22px;color:#373737;}
.left_main_div{width:677px;float:left;border-right:1px solid #CBC7C6;clear:both;min-height:810px;}
.Description_main_div{clear:both;float:left;margin-top:15px;}
.Descrip_img_div{margin-left:10px;margin-top:0;margin-right:10px;}
.Relatednews_main_div{width:680px;float:left;border-right:1px solid #CBC7C6;}
.relatednews_thump_image{margin-top:2px;}
.related_news_div{width:223px;margin-top:10px;float:left;font-size:12px;border-right:1px solid #CBC7C6;padding-top:10px;padding-bottom:10px;}
.related_news_wothoutborder_div{width:223px;float:left;font-size:12px;margin-top:10px;padding-top:10px;}
.related_small_description{width:120px;float:left;margin-left:10px;color:#245C8F;margin-right:5px;line-height:18px;}
.more_div{float:right;margin-bottom:10px;font-size:12px;color:#244C91;margin-right:10px;clear:both;}
.related_news_label1{font-size:12px;font-family:Latha;font-weight:700;margin-top:10px;margin-left:10px;}
.post_comments_div{background-image:url(../Images/post-comm-select.gif);background-repeat:no-repeat;height:30px;margin-left:15px;float:left;width:185px;}
.Read_comments_div{background-image:url(../Images/post-comm-unselect.gif);background-repeat:no-repeat;height:30px;margin-left:10px;float:left;width:185px;}
.postcoments_style{color:#FFF;float:left;margin-left:10px;}
.vimarsanam_post_commnts_main_div{width:680px;float:left;clear:both;border-top:1px solid #fff;padding-top:5px;}
.post_commnts_main_div{width:680px;float:left;clear:both;border-top:1px solid #000;padding-top:5px;}
.post_comments_border_div{border:2px solid #F1443D;margin-left:10px;margin-top:10px;float:left;width:655px;}
.post_com_lbl{font-weight:700;font-size:18px;float:left;margin-top:10px;margin-left:18px;font-family:Arial;}
.paragraph{clear:both;float:left;margin-left:18px;margin-top:20px;font-size:13px;color:#646464;font-family:Arial;margin-right:20px;}
.google_plus_div{float:left;margin-left:565px;}
.fb_img_align{margin-left:5px;}
.login_post_cooment_div{font-weight:700;font-size:15px;float:left;}
.login_lbl_div{float:left;margin-top:10px;margin-left:18px;}
.share_right_div{float:right;margin-top:10px;margin-right:65px;}
.place_holde_div{margin-top:20px;float:left;margin-left:8px;}
.place_holde_div_vimarsan{margin-top:20px;float:left;}
.maximum_character{float:right;color:Gray;font-size:12px;margin-top:5px;margin-right:21px;margin-bottom:10px;}
.post_comments_big_text{clear:both;margin-right:21px;margin-left:18px;font-size:11px;margin-top:10px;color:#5D5D5D;font-family:Arial;}
.post_comments_button_div{float:right;border-radius:4px;font-size:14px;color:#FFF;margin-top:15px;margin-right:10px;margin-bottom:10px;}
.post_comments_style{float:left;background-color:#E84639;height:32px;border-radius:5px;border:none;color:#FFF;font-weight:700;}
.reply_button_style{float:left;margin-left:11px;border-radius:4px;color:#FFF;font-size:12px;background-color:#E84639;border:none;height:23px;padding-bottom:3px;border-color:#E84639;}
.read_comments_div{float:left;clear:both;font-weight:700;font-size:20px;margin-left:10px;margin-top:10px;}
.reply_button_div{float:left;margin-top:15px;margin-bottom:18px;}
.commenter_image_div{clear:both;float:left;margin-top:10px;margin-left:10px;}
.comment_image_side_div{float:left;font-size:13px;padding:8px;}
.name_color_div{color:#3265C0;font-size:13px;font-weight:700;}
.followers_div{font-size:14px;}
.followers_label{color:#000;font-weight:700;float:left;}
.hours_div{color:gray;clear:both;float:left;margin-top:5px;}
.silver_gold_rate_div{background-image:url(../Images/silver.png);height:20px;margin-top:13px;margin-left:55px;width:110px;}
.follow_img{margin-left:8px;margin-top:5px;}
.silver_gold_img{margin-left:5px;margin-top:2px;float:left;}
.silver_gold_lbl{font-weight:700;margin-left:22px;font-size:12px;}
.relatednews_content{clear:both;font-size:12px;margin-left:10px;font-family:Arial;}
.like_dislike_div{float:Right;margin-top:10px;margin-left:10px;}
.like_img{float:left;margin-right:13px;}
.like_lislike_img{float:left;margin-right:13px;margin-top:4px;}
.textarea_color{margin-left:10px;color:gray;width:610px;}
.followers_height{height:17px;}
.read_comments_width{width:655px;float:left;}
.onepxline{background-color:#F34441;height:1px;width:680px;float:left;}
.onepxline1{background-color:#CBC7C6;margin-bottom:5px;height:1px;float:left;width:680px;}
.MelumLable{color:#FFF;margin-right:5px;font-size:11px;margin-bottom:3px;clear:both;float:right;}
.uldiv_for_cinema_seithikal{color:#FFF;font-size:10px;}
.uldiv_for_cinema_seithikal a{color:#FFF;}
.cinema_seithikal_for_munnottam{color:#FFF;font-weight:700;height:35px;border-bottom:1px solid #CBC7C6;}
.ClearBothimagesBottom{float:left;margin-top:10px;margin-left:0;}
.MunnottamTitleLable{clear:both;font-size:17px;color:#000;margin-left:5px;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #000;border-top:1px solid #000;}
.VimarsanamBorderBottom{clear:both;border-bottom:1px solid #FFF;margin-bottom:15px;}
.BorderBottom{width:681px;float:left;border-bottom:1px solid #FFF;}
.CinemaFirstImageMargin{float:left;height:177px;margin-bottom:15px;margin-left:12px;margin-right:6px; width:145px;}
.CinemaImageMargin{float:left;margin-bottom:25px;margin-left:10px;margin-right:11px;}
.CinemaSecondImageMargin{float:left;margin-bottom:25px;margin-left:13px;margin-right:5px;}
.CinemaTitleLable{color:#245c8f;font-size:12px;margin-top:5px;width:150px;line-height:19px;float:left;}
.CinemaTitleLableProfile a{color:#245c8f;font-size:12px;font-weight:bold;width:150px;line-height:19px;float:left;}
.titlemargin{margin-left:7px;}
.section_headline_image{float:left;width:93%;min-height:118px;margin:10px;}
.section_name{float:left;width:100%;font-size:12px;color:#000;}
.section_news_headline{float:left;width:120px;}
.section_news_image{float:left;width:80px;margin-top:5px;margin-left:10px;}
.news_heading3{text-decoration:none;font-size:11px;font-weight:700;line-height:20px;}
.headline_image{width:205px;}
.section{color:#000;}
.main_page_section_news_container{width:1000px;margin:0 auto;}
.section_with_news{float:left;width:225px;border-right:1px solid #C9C7C8;}
.section_with_news1{float:left;width:223px;}
.section_news_container{float:left;width:680px;border-right:1px solid #C9C7C8;}
.border_bottom_for_section_news{border-top:1px solid #CBC7C6;float:left;clear:both;width:679px;}
.headline_image_div{float:left;width:100%;margin-top:5px;}
.section_news{float:left;width:226px;list-style:none outside none;}
.section_news_ul{margin-left:25px;margin-bottom:10px;margin-top:0;float:left;list-style-image:url(../Images/list-style-bullat.jpg);width:194px;padding:0;}
.section_news_list{line-height:22px;padding-right:5px;}
.news_link{text-decoration:none;font-size:11px;}
.ad4{width:160px;height:632px;border:1px solid #000;margin:0 auto;}
.ad_200_110_container{width:200px;height:110px;border:1px solid #000;float:left;}
.common_outer_container{width:1001px;clear:both;margin:0 auto;}
.cine_menu_Css{border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;border-top:1px solid #C9C7C8;font-size:11px;font-weight:700;font-family:Latha;background-color:#FFF;clear:both;width:1000px;}
.ul_menu{height:37px;list-style-type:none;overflow:hidden;margin:0;padding:0;}
.li_menu{float:left;border-right:1px solid #000;padding:10px;}
.li_menu a{float:left;display:block;color:#245C8F;padding-left:5px;text-decoration:none;}
.cineselection{float:left;border-right:1px solid #000;background-color:#010133;padding:10px;}
.cineselection a{float:left;display:block;color:#fff;padding-left:5px;text-decoration:none;}
.sub_menu_Css{font-size:12px;font-family:Latha;background-color:#010133;width:1000px;float:left;border-left:1px solid #FFF;border-right:1px solid #fff;}
.ul_sub_menu{height:30px;list-style-type:none;overflow:hidden;margin:0;padding:0;}
.li_sub_menu a{float:left;display:block;color:#fff;padding-left:40px;text-decoration:none;font-family:Latha;}
.li_cinema_seithigal a{float:left;display:block;color:#fff;padding-left:10px;text-decoration:none;}
.cingallsubmenu a{float:left;display:block;color:#fff;font-size:14px;font-weight:bolder;padding-left:40px;text-decoration:none;font-family:Latha;padding-top:0;}
.CinemaTitleLable a{color:#245c8f;font-weight:700;}
.back-to-top{position:fixed;bottom:2em;right:70px;text-decoration:none;color:#000;font-size:12px;display:none;opacity:0.3;padding:1em;}
.back-to-top:hover{opacity:0.6;}
.noarticle{margin-top:50px;font-weight:700;text-align:center;}
.section_news_container_withborder,.section_news_container_withborder2{border-right:1px solid #C9C7C8;float:left;width:680px;}
.commoncolorStyles,.list_head_div a,.uldiv a,related_small_description div a{color:#245C8F;}
.top2,.header2_top2{width:100%;height:34px;background-color:#FFF;border-bottom:1px dotted #C9C7C8;float:left;}
.home,.printed_date_div{float:left;margin-left:13px;margin-top:6px;}
.small_logo,.ClearBothBottom{float:left;margin-top:10px;margin-left: 5px;}
/*.li:hover,.listSelected,.listSelected a,.li a:hover{color:#000!important;}*/
.lblColorJothidam,.lblColorJothidamForHome{float:left;padding-top:5px;text-decoration:none;width:100%;padding-bottom:0;border-color:#C9C7C8;border-style:none solid;border-width:0 1px medium;}
.most_reading_margin_top,.margin_top_for_ad{margin-top:10px;float:left;}
.clear_float,.face_book_div,.ClearBothStyle{clear:both;}
.li_menu:hover,ul_menu > a:hover{background-color:#F1F1F1;}
.li_sub_menu,.li_cinema_seithigal,.cingallsubmenu{float:left;padding:5px;}
.li_sub_menu a:hover,.li_cinema_seithigal a:hover{color:Orange;}
#___plusone_0{margin-left:5px !important;padding-top:5px;width:66px;}
.a2a_dd{padding-top:5px;float:left;margin-left:5px;}
 .sticky{border-top:0 none; position:fixed;top:0;width:1000px; margin:0 auto; z-index:100; background-color:Gray;}
     .sticky1{border-top:0 none; position:fixed;/*top:100;*/width:1000px ! important; margin:0 auto; margin-top:25px; z-index:100; background-color:#565656 ! important;}
       .sticky2{border-top:0 none; position:fixed;/*top:200;*/width:1000px !important; margin:0 auto; z-index:100; margin-top:50px;}