﻿#SportsDevStyle{width:680px;float:left;clear:both;border-right:1px solid #CBC7C6;border-bottom:1px solid #CBC7C6;}
.ul1copy{height:24px;list-style-type:none;overflow:hidden;margin:0;padding:0;}
.lblColor p{border-bottom:1px dotted #000;text-decoration:none;}
.lblColor{float:left;margin-left:10px;margin-bottom:2px;}
.lblColorJothidam a{color:#245C8F;font-size:12px;text-decoration:none;font-weight:bolder;}
.lblColorJothidam a:first-child{margin-left:10px;}
.anchorlink{color:#FFF;font-weight:bolder;font-size:15px;line-height:150%;}
.lblHeading{font-size:18px;width:660px;color:#000;font-weight:bolder;border-right:1px;clear:both;margin-left:8px;line-height:25px;background-color:#1AA7BB;padding:5px 2px;}
.IndruMainDev{float:left;clear:both;width:680px;border-right:1px solid #CBC7C6;}
.lblindruImage{float:left;clear:both;color:#000;font-size:12px;height:17px;margin-top:10px;margin-left:20px;}
.IndruImage{float:left;clear:both;list-style:none;margin:0 10px 10px 22px;}
.rasiPalan{float:left;width:680px;clear:both;margin-bottom:17px;border-top:1px solid #CBC7C6;padding-bottom:25px;}
.rasiPalanNew{float:left;width:680px;clear:both;margin-top:15px;margin-bottom:32px;}
.rasiCss{float:left;font-size:14px;width:655px;color:#FFF;font-weight:700;list-style:none;line-height:25px;margin-left:10px;margin-right:10px;margin-top:10px;background-color:#2788BA;padding:5px 3px;}
.rasiCssNew{float:left;font-size:12px;width:647px;color:#000;font-weight:700;list-style:none;line-height:28px;margin-left:10px;margin-right:15px;margin-top:1px;background-color:#E2E2E2;padding:5px 3px;}
.lblleftAlignment{margin-left:4px;}
.listSigns{float:left;margin-bottom:2px;list-style:none;margin-top:20px;margin-left:20px;width:75px;}
.listSignsSecondRow{float:left;margin-bottom:2px;list-style:none;margin-left:25px;width:75px;}
.listSignsNew{float:left;list-style:none;margin-left:25px;width:75px;}
.listingSportsNews{color:#245C8F;float:left;margin-top:15px;font-size:10px;padding-left:0;margin-left:25px;font-weight:bolder;}
.subDivcss{margin-top:10px;list-style:none;font-size:12px;margin-bottom:10px;text-align:center;}
.subDivcssNew{margin-top:5px;list-style:none;font-size:12px;margin-bottom:10px;text-align:center;}
.rasiImages{float:left;clear:both;margin-left:10px;width:660px;}
.rasiImagesNew{float:left;clear:both;margin-left:10px;width:660px;padding-bottom:25px;}
.halfDiv{float:left;width:680px;border-right:1px;clear:both;}
.lblsecond{clear:both;color:#FFF;margin-top:10px;margin-left:7px;font-size:13px;background-color:#2788BA;line-height:20px;width:300px;font-weight:700;padding:7px 3px;}
.lblsecond span{line-height:18px;vertical-align:middle;margin-left:5px;}
.sidelbl{margin-top:10px;margin-left:6px;font-size:13px;width:140px;float:left;}
.sidelblRight{margin-top:10px;float:Right;width:140px;}
.dateStyle{color:#0000FE;clear:both;font-size:11px;margin-bottom:10px;margin-left:14px;font-weight:700;}
.dateStyle span{border-bottom:1px solid #000;}
.commonStyle{float:left;margin-bottom:15px;width:314px;margin-left:7px;margin-right:7px;}
.detailsnakshthram{clear:both;width:280px;margin-left:14px;margin-top:29px;text-align:left;}
.lineStyle{background-color:#CBC7C6;width:680px;height:1px;clear:both;margin-top:8px;}
.dividerStyle{background-color:#CBC7C6;width:1000px;height:1px;float:left;margin-top:10px;}
.sportsImage{float:left;width:660px;border:1px solid #CBC7C6;border-bottom:none;border-left:none;border-right:none;}
.SportsnewsListing{float:left;clear:both;width:680px;border:1px solid #CBC7C6;border-bottom:none;border-top:none;border-left:none;}
.candidateImage{margin-top:0;width:375px;float:left;clear:both;}
.CandidateDescription{background-color:#000;width:285px;float:left;height:300px;margin-bottom:10px;line-height:115%;}
.MainHeading{color:#FF0;width:280px;margin-left:5px;margin-top:15px;font-size:17px;font-weight:700;}
.subheadingStyle{color:#FFF;width:280px;font-weight:bolder;margin-left:10px;margin-top:18px;clear:both;font-size:15px;line-height:150%;}
.mainDescription{color:#6D6D6D;width:280px;font-weight:100;margin-left:10px;margin-top:12px;clear:both;font-size:12px;}

.mainDescription_SportsTop{color:#F0F0F0;width:280px;font-weight:100;margin-left:10px;margin-top:12px;clear:both;font-size:12px;line-height:20px}

.buttonStyle{width:280px;margin-left:10px;margin-top:32px;}
.nextButtonStyle{float:right;margin-right:6px;}
.sliderStyle{float:left;margin-left:64px;margin-top:11px;}
.listingDevStyle{width:223.3px;float:left;border-right:1px solid #CBC7C6;font-size:13px;line-height:120%;}
.arrowcss1{margin-left:10px;font-size:11px;float:left;}
.lblAlignment{margin-left:5px;clear:both;}
.lblwidth{width:125px;float:left;color:#5D8AB1;font-weight:bolder;font-size:12px;margin-left:10px;margin-top:5px;list-style:none;text-decoration:none;}
.listingDevStylelast{width:225px;float:left;font-size:13px;border-right:none;}
.imageWidth{float:left;margin-right:10px;width:75px;margin-top:5px;}
.bordernone{border:none!important;}
.listStyle a{text-decoration:none;color:#5D8AB1;}
.listStyle{margin-bottom:10px;}
.devAdt{width:100%;float:left;}
.innserAdvt{background-color:Orange;width:730px;margin-left:135px;margin-top:10px;height:90px;}
.moreListing{width:100%;}
.moreListing a{float:right;text-decoration:none;color:#5D8AB1;font-weight:700;margin-right:10px;margin-bottom:10px;}
.sideDetails{float:left;margin-left:12px;width:294px;margin-top:10px;border:1px solid #CBC7C6;}
.sideInnerStyle{color:hsl(208,35%,53%);float:left;font-size:12px;font-weight:bolder;margin-left:30px;padding:10px 0;}
.sideInnerDetails{clear:both;border-top:1px solid #CBC7C6;}
.topBoarder{clear:both;width:100%;border-top:1px solid #CBC7C6;}
.borderLine{border-top:1px solid #CBC7C6;margin-top:15px;width:318px;}
.rasiDetailsCss{float:left;width:660px;}
.SpecificrasiImage{float:left;margin-top:25px;margin-left:10px;clear:both;margin-bottom:24px;}
.todayRasiMainDev{width:660px;float:left;}
.rasiLblColor{color:#30769F;float:left;margin-bottom:2px;}
.todayRasi{color:#000;clear:both;float:left;width:97%;font-size:13px;margin-left:17px;font-weight:700;background-repeat:no-repeat;background-position:right 10px;border-bottom:1px dotted #000;}
.rasiNameAlignment{margin-left:3px;}
.NatchatraRasipalan{color:#000;clear:both;float:left;width:97%;margin-top:10px;font-size:16px;margin-left:10px;font-weight:700;background-repeat:no-repeat;background-position:right 10px;}
.NatchatraRasipalanAstrotext{color:#000;clear:both;float:left;width:97%;margin-top:10px;font-size:12px;margin-left:17px;font-weight:700;background-repeat:no-repeat;background-position:right 10px;border-bottom:1px dotted #000;}
.weeklyRasi .rasiLblCurrent{color:#0B0B0B;}
.arrowImageAlignment{float:right;position:relative;top:10px;}
.detailrasiMainDev{width:678px;float:left;border-right:1px solid #CBC7C6;}
.todayRasiDescription{float:left;margin-top:10px;text-align:left;line-height:180%;width:615px;margin-left:17px;margin-bottom:20px;}
.hideDiv{display:none;}
.firstpart_px{float:left;clear:both;width:680px;padding-bottom:15px;}
.middle_div{float:left;width:415px;margin-right:4px;}
.img1_div{margin-left:10px;float:left;}
.img1_side_label{margin-left:10px;float:left;margin-bottom:2px;}
.img1_side_label a{color:#245C8F;}
.mostVisitedStyles{float:left;margin-top:10px;margin-left:15px;}
.current_date{padding-left:10px;font-size:10px;font-family:Latha;color:#595959;float:left;}
.description1{margin-left:10px;margin-top:5px;float:left;}
.first_add_div{float:left;width:680px;}
.add_padding_marginleft{padding-left:9px!important;}
.add_padding_news_listing{float:left;padding-top:1px;width:30%;}
.advertis33{clear:both;width:300px;padding-top:12px;padding-left:8px;padding-bottom:12px;}
.add_padding_new{float:left;margin-top:10px;width:312px;border-bottom:1px solid #CBC7C6;padding-bottom:10px;}

.vimarsanam_add_padding_new{float:left;width:312px;border-bottom:1px solid #CBC7C6;padding-bottom:10px;}
.add_padding_100{float:left;width:319px;}
.add_padding1{float:left;margin-top:5px;}
.float_clear{float:left;clear:both;}
.middle_border{background-color:#CBC7C6;width:1px;height:265px;float:left;}
.body_list_main_div{width:680px;float:left;border-right:1px solid #CBC7C6;}
.related_news_border{border-bottom:1px solid #CBC7C6;float:left;margin-bottom:0px;width:680px;padding-bottom:0px;}
.maindiv{width:1000px;border-bottom:1px solid #C9C7C8;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;margin:0 auto;}
.leftside_main{width:680px;float:left;border-right:1px solid #000;}
.add_margin{float:left;margin-top:36px;}
.movies_description{float:left;clear:both;margin-left:10px;font-size:11px;margin-top:10px;margin-bottom:0;width:658px;}
.margin_padding{float:left;clear:both;margin-top:20px;}
.margin_left_padding{float:left;clear:both;font-weight:700;font-size:20px;}
.munnotam_border_text{border-top:1px solid #fff;border-bottom:1px solid #fff;width:670px;margin-top:20px;float:left;clear:both;padding:5px;}
.melum_div{color:#FF7F28;float:Right;clear:both;font-size:12px;margin-right:10px;margin-bottom:5px;}
.cini_melum{float:right;font-size:10px;color:#CD6822;margin-right:10px;}
.clear_flo{clear:both;}
.actoractress{color:#000;float:left;margin-left:14px;margin-top:35px;width:250px;}
.nadigar{color:#000;float:left;font-size:12px;margin-bottom:10px;margin-top:2px;width:90px;}
.nadigai{color:#000;float:left;font-size:12px;margin-left:8px;margin-top:3px;width:145px;}
.nadigar1{float:left;clear:both;color:#000;margin-top:2px;font-size:12px;width:100px;margin-bottom:10px;}
.nadigai1{float:left;margin-left:10px;color:#000;margin-top:3px;font-size:12px;}
.margin_padding_name{float:left;margin-top:5px;width:258px;}
.above_cinema_seithigal{margin-top:10px;margin-left:10px;float:left;}
.aug{float:left;margin-top:10px;margin-left:10px;font-size:10px;color:Gray;clear:both;}
.date_with_day{float:left;clear:both;margin-left:10px;color:#3E332F;font-size:13px;font-weight:700;padding-bottom:5px;}
.makkal_ketkirarkal{float:left;clear:both;margin-top:10px;margin-left:10px;font-size:18px;}
.archives_border_div{width:300px;border-radius:5px;margin-left:10px;}
.archives_text_border_div{background-color:#FFA242;float:left;width:300px;  margin-left: 2px;
    margin-top: 2px;
    width: 296px;}
.archives_text{font-family:Latha;margin-top:3px;margin-bottom:3px;text-align:center;font-size:15px;}
.Empty_space{background-color:#F1F1F1;height:30px;border-bottom:1px solid #BFBBBA;}
.br_border{float:left;margin-left:10px;}
.margin_left{float:left;margin-left:10px;width:100%;}
.bordercolor_change{border:2px solid #000;}
.vimarsanam_post_comments_border_div{border:2px solid #0CAFB6;margin-left:10px;margin-top:10px;float:left;width:655px;}
.vimarsanam_post_com_lbl{font-weight:700;font-size:18px;float:left;margin-top:10px;margin-left:18px;font-family:Arial;}
.vimarsanam_paragraph{clear:both;float:left;margin-left:18px;margin-top:20px;font-size:13px;color:#A3A3A3;font-family:Arial;}
.vimarsanam_maximum_character{float:right;color:Gray;font-size:12px;margin-top:5px;margin-right:21px;margin-bottom:10px;}
.vimarsanam_post_comments_big_text{clear:both;margin-right:21px;margin-left:18px;font-size:11px;margin-top:10px;color:#A3A3A3;font-family:Arial;}
.vimarsanam_name_color_div{color:#DAA547;font-size:13px;font-weight:700;}
.vimarsanam_followers_div{font-size:14px;}
.vimarsanam_followers_label{color:#FFF;font-weight:700;float:left;}
.vimarsanam_hours_div{color:gray;clear:both;float:left;margin-top:5px;}
.vimarsanam_silver_gold_rate_div{background-color:Red;height:22px;margin-top:13px;margin-left:55px;width:110px;border-radius:4px;}
.vimarsanam_textarea_color{margin-left:18px;background-color:#0E0E34;color:#FFF;width:615px;}
.vimarsanam_silver_gold_lbl{color:#FFF;margin-left:8px;}
.vimarsanam_relatednews_content{clear:both;font-size:12px;margin-left:10px;font-family:Arial;color:#B2B2B2;font-weight:700;}
.followers_img_style{margin-left:8px;margin-top:3px;}
.readcomments_margin_top{clear:both;margin-left:10px;border-top:1px dotted #CBC7C6;}
.kar_after_head_div{height:27px;background-color:#0E0E34;margin-top:10px;clear:both;margin-left:10px;margin-right:10px;border:1px solid #363636;}
.karuthukal_comments_div{font-size:10px;margin-left:20px;margin-top:5px;float:left;color:#777B7A;}
.karuthukal_heading{float:left;margin-left:10px;font-weight:700;margin-top:10px;margin-bottom:15px;}
.karuthukal_number_of_comments_lbl{font-size:small;margin-left:2px;font-weight:700;}
.karuthukal_number_of_comments_div{background-color:#459CDF;border-radius:5px;width:20px;height:20px;float:left;margin-left:10px;margin-top:3px;}
.after_movie_name{margin-left:10px;width:659px;border-color:#000;border-style:solid;border-width:1px;}
.munnotam_border_above{float:left;clear:both;height:2px;background-color:#FFF;width:680px;margin-top:70px;}
.munnotam_border_below{float:left;clear:both;height:2px;background-color:#FFF;width:680px;}
.CinemaImageLableLMarginLeftOne{margin-left:5px;margin-right:10px;float:left;}
.CinemaImageLableMarginLeftTwo{margin-left:10px;margin-right:6px;float:left;}
.CinemaImageLableMarginLeftThree{margin-left:10px;margin-right:10px;float:left;}
.CinemaImageLableMarginLeftFour{margin-left:10px;margin-right:3px;float:left;}
.movie_name{margin-top:10px;margin-bottom:10px;color:#000;margin-left:10px;}
.movie_image{margin-top:10px;float:left;clear:both;margin-bottom:10px;}
.leftsidesmall{width:380px;float:left;color:#FFF;margin-left:10px;clear:both;}
.main_page_content{width:1000px;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;float:left;margin:0 auto;}
div.main_page_mid_div{width:1000px;margin:0 auto;}
div.main_page_vertical_menu{float:left;width:175px;}
.menu_div{width:155px;margin-left:7px;margin-right:10px;margin-bottom:0;line-height:23px;}
.ul_vertical_menu{padding-left:7px;margin-top:12px;}
.list_menu{list-style:none outside none;display:block;clear:both;margin-top:4px;}
.menu_link{text-decoration:none;line-height:15px;font-size:11px;font-weight:700;display:block;padding:0 0 6px 10px;}
div.main_page_mid_sub_div1{float:left;width:615px;border-left:1px solid #C9C7C8;border-right:1px solid #C9C7C8;}
.mid_div1{width:100%;float:left;border-bottom:1px solid #C9C7C8;}
.mid_div2{width:595px;height:300px;float:left;margin:10px;}
.mid_div3{float:left;width:373px;}
.mid_div4{float:left;width:222px;height:300px;background-color:#000;}
.mid_div5{margin-left:10px;margin-right:10px;margin-top:10px;width:201px;}
#news_heading5{color:#F0F0F0;text-decoration:none;line-height:27px;font-size:17px;}
#news_des{clear:both;float:left;color:#9A9A9A;font-size:13px;margin-left:10px;line-height:20px;width:200px;}

#news_des_HomeTop{clear:both;float:left;color:#F0F0F0;font-size:13px;margin-left:10px;line-height:20px;width:200px;}



.main_page_mid_sub_div3{float:left;width:615px;}
div.repeate_div{width:151px;float:left;border-right:1px solid #C9C7C8;min-height:550px;}
div.repeate_div1{width:150px;min-height:550px;float:left;}
.news_image1{width:142px;height:140px;padding:6px;}
.news_headline1{width:138px;margin-top:10px;margin-left:10px;margin-right:5px;}
.news_des1{width:131.5px;margin-left:10px;margin-right:5px;}
.month_date_div{clear:both;float:left;color:#9D9D9D;font-size:.5em;}
.time_div{float:left;width:45px;color:#9D9D9D;margin-left:5px;font-size:11px;}
.month_date_time{width:200px;float:left;margin-left:10px;padding-top:7px;padding-bottom:7px;font-size:17px}
.month_date_time1{width:130px;float:left;margin-left:10px;padding:2px;}
.month_date_time3{width:100%;float:left;margin-left:5px;padding:2px;}
.mid_right_side_ad{width:200px;height:200px;margin:2px;}
.ad_size5{width:200px;height:200px;}
.mid_right_side_div{width:202px;float:left;margin-top:9px;}
.headline_des{width:100%;margin-top:10px;float:left;}
.home_news_headline{width:100%;font-size:14px;float:left;margin-left:14px;}
.news_des2{width:100%;float:left;margin-left:5px;}
.news_heading{text-decoration:none;font-size:12px;line-height:20px;font-weight:700;}
.more_news{width:70px;float:right;margin-bottom:10px;clear:both;text-align:center;}
.more_label_text{text-decoration:none;font-size:11px;}
.district_page_body{font-family:Latha;}
.district_page_root_container{width:1000px;float:left;border-right:1px solid #C9C7C8;border-left:1px solid #C9C7C8;}
.left_container{float:left;width:200px;padding-right:3px;border-right:1px solid #C9C7C8;clear:both;}
.mid_container{float:left;width:468px;padding-right:3px;padding-left:3px;border-right:1px solid #C9C7C8;}
.right_container{float:left;width:312px;padding-left:4px;}
.dt_prev_next_div{border-bottom:1px solid #FFF;float:left;width:443px;padding:15px 15px 7px 10px;}
#district_name{border-bottom:1px solid #FFF;color:#45423D;float:left;font-size:12px;padding-bottom:4px;padding-left:10px;padding-right:10px;width:180px;}
.meyar_label_div{border-bottom:1px solid #FFF;color:#676765;font-size:12px;font-weight:700;width:250px;padding:12px 50px 10px 10px;}
.meyar_image{margin-bottom:17px;margin-left:40px;margin-right:40px;}
.district_page_photo{border-top:1px solid #FFF;height:117px;width:175px;padding:20px 11px 20px 12px;}
.type_of_place{border-bottom:1px solid #FFF;color:#474745;font-size:12px;font-weight:700;margin-top:10px;padding-bottom:5px;padding-left:15px;}
.ad460-60{clear:both;float:left;width:466px;height:60px;border:1px solid #000;margin-bottom:20px;background-color:#F7F6F2;}
.district_important_activities{width:448px;border-top:1px solid #000;border-bottom:1px solid #000;float:left;clear:both;padding:10px;}
.district_list_select{margin-top:10px;font-size:12px;border:none;width:180px;
/* background-image:url(../Images/district_search_img.png) center center no-repeat, linear-gradient(tobottom,@startColor,@endColor); */
padding:5px;}
.more_news_label3{width:468px;margin-top:15px;color:#4C4C4A;font-weight:700;font-size:12px;}
.more_news2{float:left;width:468px;margin-left:5px;margin-right:5px;}
.district_photo_gallary{width:196px;height:220px;}
.photo_gallary_label{clear:both;width:150px;margin-left:15px;margin-top:15px;color:#72716D;}
.more_news1{background-color:#F0EDE4;width:468px;clear:both;float:left;padding-bottom:5px;}
.dt_more_news_div{width:468px;clear:both;float:left;padding-bottom:5px;}
.distirct_top_news_container{width:468px;float:left;background-color:#F0EDE4;}
.dt_prev_next{float:left;display:none;}
.distict_news_label{width:386px;color:#676765;font-size:12px;font-weight:700;float:left;}
.dt_next_arrow{margin-left:20px;}
.news_headline{width:448px;padding-left:10px;padding-bottom:5px;padding-top:15px;}
.dt_meyar_name_div{width:312px;padding-left:6px;padding-bottom:5px;padding-top:15px;}
.district_news_link{text-decoration:none;color:#676765;font-size:12px;font-weight:700;line-height:20px;}
.distirct_image_des_container{float:left;width:448px;padding:5px;}
.distirct_news_image{float:left;width:140px;height:140px;margin-right:10px;padding:5px;}
.district_news_des{float:left;padding-left:10px;}
span.news_des{font-size:10px;color:#73706B;font-weight:700;line-height:18px;}
.image_headline_des_container{width:460px;margin-top:10px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #000;}
.img_headline{width:440px;}
.distirct_news_image1{float:left;width:73px;height:73px;margin-top:5px;margin-bottom:5px;margin-right:5px;}
.district_news_headline1{float:left;width:340px;margin:5px;}
.district_news_des1{clear:both;width:448px;}
span.dt_news_des1{color:#7F7F7D;font-size:10px;font-weight:700;line-height:16px;}
.district_news_link1{text-decoration:none;font-weight:700;line-height:20px;color:#676765;font-size:12px;}
.more_district_news{width:468px;}
.district_important_places{width:196px;background-color:#F0EDE4;}
.important_places_container{width:180px;background-color:#F0EDE4;float:left;margin:10px;}
.important_places_ul{clear:both;margin-left:22px;margin-top:0;list-style-image:url(../Images/District-arrow.png);padding:0;}
.important_places_list{display:list-item;padding-top:10px;}
.district_important_places_div{width:196px;margin-top:15px;margin-left:4px;float:left;}
.ad_div1{clear:both;float:left;margin-top:20px;}
.photo_div{width:196px;margin-left:4px;clear:both;float:left;margin-top:20px;}
.ad160-630{float:left;clear:both;width:160px;height:630px;margin-left:20px;margin-top:20px;}
.top_news_container{width:468px;float:left;margin-top:15px;}
.meyar_container{width:312px;float:left;margin-top:15px;}
.ad300-250{width:300px;height:250px;float:left;clear:both;margin:6px;}
.ad300-100{width:300px;height:100px;float:left;clear:both;margin:6px;}
.district_some_places{width:312px;margin-top:10px;float:left;clear:both;}
.dt_radius_div{background-color:#F0EDE4;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.important_places_ul2{clear:both;margin-left:30px;margin-top:8px;list-style-image:url(../Images/District-arrow.png);padding:0;}
.dt_menu_link{text-decoration:none;font-size:15px;color:#474641;line-height:20px;}
.important_places_container1{margin-left:10px;margin-bottom:10px;background-color:#F0EDE4;float:left;}
.dt_photo_link{font-size:14px;font-weight:700;color:#44443C;}
.dt_more_news{float:right;margin-right:15px;}
.dt_more_label_text{color:#494844;text-decoration:none;font-size:10px;font-weight:700;}
.dt_places_link{font-size:12px;font-weight:700;color:#75746F;}
.district_important_activities_link{font-size:15px;color:#474745;font-weight:700;}
.district_important_events{width:468px;float:left;clear:both;}
.most_reading_margin_Cinema{margin-left:0;}
.right_addmost{margin-top:5px;margin-right:8px;}
.right_add{margin-top:10px;margin-right:4px;}
.toplblAlignment,.margintop_padding,.above_post_comment{margin-top:10px;}
.previousButtonStyle,.Related_NewsWhole{float:left;}
.sectionSportsMainDevStyle,.JhothidamContent{border:1px solid #CBC7C6;float:left;width:1000px;border-top:0;}
.weeklyRasi,.weeklyRasiNachathiram{color:Blue;clear:both;float:left;width:97%;margin-top:10px;font-size:12px;margin-left:17px;font-weight:700;background-repeat:no-repeat;background-position:right 10px;border-bottom:1px dotted #000;cursor:pointer;}
.add_padding,.adove_add3{float:left;margin-top:15px; margin-left:15px;}
.side_main_div,.Right_side_div,.Right_sde_div{width:300px;float:left;}
.munnotam_margin,.munnotam_align{margin-top:10px;float:left;}
.colon1,.colon{float:left;margin-left:0;}
.more_news_container1,.distirct_top_news_container1,.top_news_container1{width:468px;float:left;}
.district_meyar_container,.district_page_right_side_container{width:312px;float:left;}