/*
 * Fonts
 *
 */
@font-face {
    font-family: 'eagle_bookregular';
    src: url('../fonts/eagle-book-webfont.eot');
    src: url('../fonts/eagle-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eagle-book-webfont.woff') format('woff'),
         url('../fonts/eagle-book-webfont.ttf') format('truetype'),
         url('../fonts/eagle-book-webfont.svg#eagle_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: Mission;
	src: url('../fonts/mission-script-webfont.eot');
	src: url('../fonts/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/mission-script-webfont.woff') format('woff'),
			 url('../fonts/mission-script-webfont.ttf') format('truetype'),
			 url('../fonts/mission-script-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {
	font-family: Londrina;
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot');
	src: url('../fonts/LondrinaSolid-Regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/LondrinaSolid-Regular-webfont.woff') format('woff'),
			 url('../fonts/LondrinaSolid-Regular-webfont.ttf') format('truetype'),
			 url('../fonts/LondrinaSolid-Regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*
 * Body/HTML
 *
 */
body {
	margin: 0;
	padding: 0;

	background-color: #102b34;

	font-family: 'gotham_bookregular', Helvetica, Arial;
	font-size: 12px;
	font-weight: normal;
}

a {
	border: 0;
	outline: 0;
	text-decoration: none;
	color: #102b34;
}

img {
	border: 0;
	outline: 0;
}

form {
	margin: 0;
	padding: 0;
}

/*
 * Titles (h1,h2,h3,h4,h5)
 *
 */
h1 {
	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 36px;
	font-weight: normal;
	color: #1f424d;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h2 {
	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 17px;
	font-weight: normal;
	color: #1f424d;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h3 {
	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 36px;
	font-weight: normal;
	color: #1f424d;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h4 {
	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 17px;
	font-weight: normal;
	color: #1b3e49;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

h5 {
	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 20px;
	font-weight: normal;
	color: #1b3e49;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

#errors, #errors-step2 {
	display: none;
	background-color: #fff4f2;
	border: 1px solid #ff0000;
	padding: 10px 5px;
	color: #000;
}

#errors li, #errors-step2 li {
	padding-bottom: 4px;
}

#errors a, #errors-step2 a {
    color: #1888D2;
    text-decoration: underline;
}

/*
 * Container
 *
 */
.container  {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	background-color: #98cb97;
}

.background  {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

/*
 * Header
 *
 */

.header-container  {
	position: fixed;
	top: 0;
	z-index: 200;
	width: 100%;
	height: 105px;
	/*background: url(../images/ning_mode_header.png) top center no-repeat;*/
	background: url(../images/ning_mode_header.png) 0 0 no-repeat;
}

.header  {
	width: 980px;
	height: 105px;
	margin: 0 auto;
	position: relative;
}

	/* Navigation */
	.navigation  {
		width: 980px;
		height: 105px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}

	.ning-logo {
		display: inline-block;
		position: absolute;
		left: 438px;
		top: 20px;
		width: 110px;
		height: 50px;
		z-index: 201;
	}

	.nav-btn-row-1 {
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-size: 17px;
		font-weight: normal;
		color: #FFF;
		text-shadow: 2px 2px 2px #102b34;
	}

	.nav-btn-row-2 {
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 28px;
		font-weight: normal;
		color: #efc536;
		text-shadow: 2px 2px 2px #102b34;
	}

	.what-is-ning {
		position: absolute;
		top: 13px;
		left: 100px;
		width: 240px;
		text-align: center;
		line-height: 1.7em;
		z-index: 202;
	}

	.cultivating-community {
		position: absolute;
		top: 13px;
		left: 644px;
		width: 240px;
		text-align: center;
		line-height: 1.7em;
		z-index: 203;
	}

	a.what-is-ning .nav-btn-row-2,
	a.cultivating-community .nav-btn-row-2 {
		color: #efc536;
	}

	a.what-is-ning:hover .nav-btn-row-2,
	a.what-is-ning:hover .nav-btn-row-1,
	a.cultivating-community:hover .nav-btn-row-1,
	a.cultivating-community:hover .nav-btn-row-2,
	a.cc-active .nav-btn-row-2,
	a.cc-active .nav-btn-row-1,
	a.ning-active .nav-btn-row-2,
	a.ning-active .nav-btn-row-1 {
		color: #a8eba6;
	}

	a.what-is-ning:hover .nav-btn-row-2, a.ning-active .nav-btn-row-2 {
		background: url(../images/win-line.png) bottom center no-repeat;
		padding-bottom: 8px;
	}

	a.cultivating-community:hover .nav-btn-row-2, a.cc-active .nav-btn-row-2 {
		background: url(../images/cc-line.png) bottom center no-repeat;
		padding-bottom: 10px;
	}

	/* Secondary navigation */
	.secondary-navigation {
		width: 980px;
		top: 71px;
		position: absolute;
	}

	.overlay-left {
		top: 0px;
		left: -14px;
		position: absolute;
		z-index: 100;
	}

	.secondary-navigation-left {
		top: 1px;
		left: -14px;
		width: 387px;
		position: absolute;
		z-index: 99;
	}

	.overlay-right {
		top: 0px;
		left: 621px;
		position: absolute;
		z-index: 100;
	}

	.secondary-navigation-right {
		top: 1px;
		left: 621px;
		width: 390px;
		position: absolute;
		z-index: 99;
	}

	.sec-nav-item {
		background-color: #4a7783;
		padding: 8px 20px;
		text-align: center;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 15px;
		font-weight: normal;
		color: #FFF;
		border: 1px solid #1e444e;

		/*-moz-box-shadow: 1px 1px 2px #307044;
		-webkit-box-shadow: 1px 1px 2px #307044;
		box-shadow: 1px 1px 2px #307044;*/

		text-shadow: 1px 1px 1px #102b34;
	}

	.sec-nav-item a {
		color: #FFF;
	}

	.sec-nav-item a:hover,
	.sec-nav-item a.active	{
		color: #a8eba6;
		/*text-decoration: underline;*/
		background: url(../images/nav-line.png) bottom center no-repeat;
		padding-bottom: 2px;
	}

	.secondary-navigation-left .sec-nav-item {
		float: right;
		margin-left: 20px;
	}

	.secondary-navigation-right .sec-nav-item {
		float: left;
		margin-right: 20px;
	}

    .simple-subnav-item {
        float: right;
        margin-right: 205px;
        z-index: 103;

        background: url(../images/paper.jpg) no-repeat;
        padding: 8px 20px;
        text-align: center;
        font-family: 'eagle_bookregular', Helvetica, Arial;
        font-size: 15px;
        font-weight: normal;

        font-family: 'eagle_bookregular', Helvetica, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #1f424d;

        -moz-box-shadow: 1px 1px 2px #307044;
        -webkit-box-shadow: 1px 1px 2px #307044;
        box-shadow: 1px 1px 2px #307044;
    }

    .simple-subnav-item a {
        color: #1f424d;
    }

    .simple-subnav-item a:hover {
        text-decoration: underline;
    }

	.try-ning-for-free {
		top: 86px;
		left: 405px;
		position: absolute;
		z-index: 102;

		background-color: #264751;
		padding: 5px;
		text-align: center;
		border: 1px solid #1f3738;

		-moz-box-shadow: 1px 1px 2px #16231a;
		-webkit-box-shadow: 1px 1px 2px #16231a;
		box-shadow: 1px 1px 2px #16231a;
	}

	.try-ning-for-free-button {
		background: url(../images/try-ning-for-free.png) top right no-repeat;
		height: 23px; /*26px*/
		padding: 3px 28px 0px 10px;
		text-align: center;

		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 16px;
		font-weight: normal;
		color: #1f424d;

		-moz-box-shadow: 1px 1px 2px #16231a;
		-webkit-box-shadow: 1px 1px 2px #16231a;
		box-shadow: 1px 1px 2px #16231a;
	}

	.try-ning-for-free-button a {
		color: #1f424d;
	}

	.try-ning-for-free-button a:hover {
		color: #FFF;
	}

	a.login {
		top: 73px;
        left: 866px;
		position: absolute;
		z-index: 103;

		background: url(../images/paper.jpg) no-repeat;
		padding: 6px 8px 6px 8px;

		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 14px;
		font-weight: normal;
		color: #1f424d;

		-moz-box-shadow: 1px 1px 2px #307044;
		-webkit-box-shadow: 1px 1px 2px #307044;
		box-shadow: 1px 1px 2px #307044;
	}

	a.login img {
		margin-left: 4px;
	}

	a.login:hover {
		text-decoration: underline;
	}

/*
 * Pages
 *
 */
.page {
	margin: 0 auto 0 auto;
	overflow: hidden;
}

.read-more {
	color: #efc536;
	padding: 8px 12px;
	background-color: #1a3e49;

	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 12px;
	font-weight: normal;

	border: 0;
}

.read-more img {
		margin-left: 4px;
}

a.read-more:hover {
	color: #FFF;
	text-decoration: none;
}

.read-more-yellow {
	color: #1a3e49;
	background-color: #efc536;
}

.banner-1 {
	position: relative;
	width: 902px;
	height: 8px;
	margin: 0 auto;
	background: url(../images/banner-1.png) no-repeat center center;

	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;

	padding: 0 0 80px 0;
}

.banner-1 span {
	color: #efc536;
}

.banner-1 p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.banner-1 .read-more {
	position: absolute;
	top: 24px;
	right: 50px;

	display: inline-block;

	-moz-transform: skewY(-5deg);
	-webkit-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	transform: skewY(-5deg);
}


/*
 * Pages: Front Page
 *
 */
.front-page {
	width: 980px;
	margin: 155px auto 40px auto;
}

	.front-page-columns {
		width: 940px;
		min-height: 250px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		position: relative;
	}

	.front-page-columns-customer-stories {
		min-height: 650px;
	}

	.front-page-video {
		float: left;
		width: 500px;
		height: 422px;
		position: relative;
		margin-bottom: 25px;
		background: url(../images/billboard-background.png) 28px 7px no-repeat; /*462x415*/
	}

	.front-page-video iframe, .front-page-video img {
		position: absolute;
		top: 24px;
		left: 58px;
	}

	/*.front-page-video a:hover {
		opacity: 0.75;
	}*/

	.front-page-body {
		float: right;
		width: 440px;
		padding-top: 15px;
	}

	.front-page-body h1,
	.front-page-body h2,
	.front-page-body p {
		line-height: 1.2em;
		color: #FFF;
		font-size: 15px;
	}

	.front-page-body h1 {
		line-height: 1em;
		font-size: 36px;
		text-shadow: 1px 1px 1px #000;
	}

	.front-page-body h1 div,
	.front-page-body h1 span {
		/*color: #efc536;*/
		color: #fff;
	}

	.front-page-body h2 {
		line-height: 1em;
		font-size: 22px;
		text-shadow: 1px 1px 1px #000;
	}

	.front-page-customer-story {
		float: left;
		width: 494px;
		margin-top: 10px;
	}

	.front-page-customer-story-quote {

		width: 361px; /*406px*/

		background-color: #f4f0df;
		border: 1px solid #539767;
		padding: 20px 14px 20px 26px;
		margin-bottom: 40px;

		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;

		box-shadow: 0px 2px 4px #396641;

		position: relative;
		z-index: 100;

		color: #476a73;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-style: italic;
		font-size: 16px;
	}

	.front-page-customer-story-quote span {
		color: #1f424d;
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 13px;
	}

	.front-page-customer-story-quote .arrow {
		position: absolute;
		bottom: 0;
		left: -39px;
		z-index: 101;
	}

	.front-page-customer-stories {
		float: right;
		width: 416px; /*446px*/
		margin-top: 10px;
		padding-left: 30px;
	}

	.front-page-customer-stories h4 {
		margin-bottom: 15px;
		padding-bottom: 10px;
		background: url(../images/customer-stories-underline.png) bottom left no-repeat;
	}

	.front-page-customer-stories-previews {
		overflow: hidden;
	}

	.front-page-preview {
		text-align: center;
		overflow: hidden;
		width: 33%;
		float: left;
		margin-bottom: 25px;
	}

	.front-page-preview a {
		display: inline-block;
	}

	.front-page-preview a h3 {
		text-decoration: none;
		color: #1f424d;
		line-height: 1em;
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-size: 12px;
		font-weight: normal;
	}

	.front-page-preview a h5 {
		text-decoration: none;
		color: #1f424d;
		line-height: 1em;
		font-size: 19px;
		text-shadow: 2px 2px #6f986e;
		margin-bottom: 2px;
	}

	.front-page-preview a:hover h5,
	.front-page-preview a:hover h3 {
		color: #efc536;
	}
	/* try if for free sign */
	.tiff-sign {
		overflow: hidden;
		margin: 0 auto 0 auto;
		text-align: center;
		float: none;
		clear: both;
		position: absolute;
		top: 285px;
	}

	.tiff-sign a {
		position: relative;
		margin-left: 30px;
		/*margin-left: 450px;*/
		display: inline-block;
		background: url(../images/sign-leg.png) bottom center no-repeat;
		padding-bottom: 30px;
	}

	.tiff-sign .arrow-left {
		width: 80px;
		float: left;
		text-align: center;
	}
	.tiff-sign .arrow-right {
		width: 80px;
		float: left;
		text-align: right;
		padding-top: 50px;
	}

	.sign-button {
		float: left;
		height: 106px; /*116px*/
		border: 4px solid #FFF;
		padding: 16px 20px 0 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 4px #144F42;
        background-color: #eac556;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eac556), to(#cb8f27)); /* Chrome, Safari 4+ */
        background-image: -webkit-linear-gradient(top, #eac556, #cb8f27); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
        background-image:    -moz-linear-gradient(top, #eac556, #cb8f27); /* Firefox 3.6-15 */
        background-image:      -o-linear-gradient(top, #eac556, #cb8f27); /* Opera 11.10-12.00 */
        background-image:         linear-gradient(to bottom, #eac556, #cb8f27); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	}

	.sign-button  p {
		line-height: 1em;
		padding: 0;
		margin: 0;
	}

	.sign-button  p.row1 {
		color: #FFF;
		font-size: 24px;
		text-align: center;
		padding-bottom: 10px;
        text-shadow: 2px -1px 2px #20424c;
	}

	.sign-button  p.row2 {
		color: #20424c;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 54px;
		text-align: center;
        text-shadow: 2px 2px 2px #fff;
	}

	.tiff-sign a:hover p.row2 {
		color: #152c32;
	}

	.tiff-sign a:hover .sign-button {
		background-color: #cb8f27;
		background-image: none;
	}


/*
 * Pages: "Default page" and About Us
 *
 */
	.page-default {
		width: 860px;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 40px 0 40px 0;
	}

	.page-default h1 {
		color: #efc536;
		margin-bottom: 2px;
	}

	.page-default h2 {
		color: #FFFFFF;
		font-size: 16px;
		margin-bottom: 10px;
	}

	.page-default h3 {
		color: #efc536;
		font-size: 16px;
		margin-bottom: 10px;
	}

	.page-default p {
		color: #FFF;
		line-height: 1.3em;
		font-size: 14px;
	}

	.page-about-left {
		float: left;
		overflow: hidden;
		width: 410px;
	}

	.page-about-right {
		float: left;
		overflow: hidden;
		width: 450px;
		text-align: right;
	}


/*
 * Pages: Customer Stories
 *
 */
	.page-customer-stories {
		width: 800px;
		position: relative;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 40px 0 40px 0;
	}

	.customer-stories-narrow {
		width: 711px;
	}

	/* Preview */
	h1.customer-stories-title {
		text-align: center;
		margin-bottom: 20px;
		height: 50px;
	}

	h1.customer-stories-title p {
		margin: 0;
		padding: 0;
	}

	h1.customer-stories-title span,
	h1.customer-stories-title div {
		color: #ffffff;
	}

	.customer-story-preview {
		float: left;
		width: 175px;
		margin-right: 22px;
		margin-bottom: 22px;
		position: relative;
	}

	.preview {
		width: 155px; /*175px*/
		padding: 110px 10px 20px 10px;
		position: relative;
		z-index: 20;
		background: url(../images/paper.jpg);

		-moz-box-shadow: 1px 1px 4px #307044;
		-webkit-box-shadow: 1px 1px 4px #307044;
		box-shadow: 1px 1px 4px #307044;
	}

	.preview-image {
		width: 100%;
		z-index: 21;
		position: relative;
		text-align: center;
		margin-bottom: -100px;
	}

	.preview h2 {
		text-align: center;
		line-height: 1em;
	}

	.preview p {
		font-size: 11px;
		line-height: 1.3em;
		color: #1f424d;
		padding: 0 10px 0 10px;
	}

	.customer-story-preview  .read-more {
		position: relative;
		z-index: 22;
		margin-top: -20px;
		left: 30px;

		display: inline-block;

		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

	/* Read More Stories */
	.read-more-stories-top {
		margin: 0 auto;
		height: 20px;
		background: url(../images/more-stories-background-top.png) top center no-repeat;
	}

	.read-more-stories-wrapper {
		overflow: hidden;
		margin: 0 auto;
		background: url(../images/background-read-more.jpg) top center no-repeat;
	}

	.read-more-stories {
		width: 800px; /*1024px*/
		overflow: hidden;
		margin: 0 auto;
		padding: 0 112px 40px 112px;
	}

	.read-more-stories h3 {
		text-align: center;
		font-size: 36px;
		color: #FFFFFF;
		margin-bottom: 15px;
		margin-top: 25px;
	}

	.read-more-story {
		overflow: hidden;
		width: 380px; /*400px*/
		margin-right: 20px;
		margin-bottom: 20px;
		color: #FFF;
		float: left;
	}

	.read-more-story h4 {
		font-size: 17px;
		color: #FFFFFF;
		padding-bottom: 2px;
		margin-bottom: 6px;
		background: url(../images/read-more-story-background.png) bottom left no-repeat;
		line-height: 1em;
	}

	.read-more-story h4 a {
		color: #FFFFFF;
	}

	.read-more-story .thumbnail {
		float: left;
		width: 115px;
	}

	.read-more-story .desc {
		float: left;
		width: 265px;
	}

	.read-more-story .desc p {
		margin: 0;
		padding: 0;
	}

	/* Customer story */
	.customer-story-info {
		width: 610px;
		margin: 0 auto;
		padding: 10px;
		position: relative;
		z-index: 22;
		min-height: 250px;
		background: #1f424d;
		margin-bottom: -100px;

		-moz-box-shadow: 1px 1px 3px #132e37;
		-webkit-box-shadow: 1px 1px 3px #132e37;
		box-shadow: 1px 1px 3px #132e37;
	}

	.prev-nav {
		position: absolute;
		top: 70px;
		left: 0;
	}

	.next-nav {
		position: absolute;
		top: 70px;
		right: 0;
	}

	.customer-story-image {
		width: 355px;
		height: 244px;
		float: left;
		position: relative;
	}

	.customer-story-image .frame {
		z-index: 2;
		position: absolute;
	}
	.customer-story-image .image {
		z-index: 1;
		position: absolute;
		top: 5px;
		left: 2px;
	}

	.customer-story-details {
		width: 211px; /*255px*/
		float: left;
		padding: 10px 22px 0 22px;
	}

	.customer-story-details p {
		border-bottom: 1px solid #c5ab3b;
		padding: 6px 0 6px 0;
		font-size: 13px;
		color: #FFF;
		margin: 0;
	}

	.customer-story-details p span {
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 13px;
		font-weight: normal;
	}

	.customer-story-details p span a {
		color: #FFF;
	}

	.customer-story-details p span a:hover {
		color: #efc536;
		text-decoration: underline;
	}

	.customer-story {
		width: 503px; /*671*/
		margin-left: 24px;
		padding: 130px 80px 80px 80px;
		position: relative;
		z-index: 20;
		background: url(../images/paper.jpg);

		-moz-box-shadow: 0px 0px 4px #307044;
		-webkit-box-shadow: 0px 0px 4px #307044;
		box-shadow: 0px 0px 4px #307044;

		color: #000;
	}

	.customer-story h1,
	.customer-story h2 {
		color: #000;
		line-height: 1em;
	}

	.customer-story h2 {
		font-size: 24px;
	}

	.customer-story p {
		line-height: 1.5em;
	}

	.customer-story blockquote {
		width: 40%;
		float: left;
		padding: 0 31px 0 0;
		background: url(../images/blockquote.png) center right no-repeat;
		margin: 5px 15px 10px -50px;
	}

	.customer-story blockquote p {
		margin: 0;
		padding: 15px 20px 15px 20px;
		color: #fff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 13px;
		line-height: 1.2em;
		font-weight: normal;
		background-color: #4c6e77;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

		/* OVERRIDES FOR FRONT-PAGE */
		.front-page-customer-story {
			position: relative;
			margin-bottom: 0;
		}

		.front-page-customer-story .customer-story-info {
			width: 490px; /*490px*/
			padding: 0;
			min-height: 190px;
			background: #1f424d;
			margin: 0 0 0 4px;

			-moz-box-shadow: 1px 1px 1px #132e37;
			-webkit-box-shadow: 1px 1px 1px #132e37;
			box-shadow: 1px 1px 1px #132e37;
		}

		.front-page-customer-story .read-more {
			position: relative;
			z-index: 22;
			top: -20px;
			left: 340px;

			display: inline-block;

			-moz-transform: skewY(-5deg);
			-webkit-transform: skewY(-5deg);
			-ms-transform: skewY(-5deg);
			transform: skewY(-5deg);
		}

		.front-page-customer-story .customer-story-image {
			width: 245px; /*255px*/
			height: 168px; /*178px*/
			float: left;
			padding: 10px 0 0 10px;
		}

		.front-page-customer-story .customer-story-image .image {
			top: 16px;
			left: 14px;
		}

		.front-page-customer-story .customer-story-details {
			width: 200px; /*235px*/
			padding: 10px 17px 0 18px;
		}

		.front-page-customer-story .customer-story-details p {
			border-bottom: 1px solid #c5ab3b;
			padding: 4px 0 4px 0;
			font-size: 12px;
		}

		.front-page-customer-story .customer-story-details p span {
			font-family: 'eagle_bookregular', Helvetica, Arial;
			font-size: 12px;
			font-weight: normal;
		}

		.front-page-customer-story .customer-story {
			width: 400px; /*490px*/
			margin: 0 0 4px 4px;
			padding: 30px 45px 30px 45px;
			background: url(../images/paper.jpg);

			-moz-box-shadow: 0px 2px 4px #307044;
			-webkit-box-shadow: 0px 2px 4px #307044;
			box-shadow: 0px 2px 4px #307044;
		}

		.front-page-customer-story .customer-story h1,
		.front-page-customer-story .customer-story h2 {
			line-height: 1em;
		}

		.front-page-customer-story .customer-story h1 {
			font-size: 34px;
		}

		.front-page-customer-story .customer-story h2 {
			font-size: 24px;
		}

		.front-page-customer-story .customer-story h3 {
			font-size: 20px;
		}

		.front-page-customer-story .customer-story h4 {
			font-size: 18px;
		}

		.front-page-customer-story .customer-story p {
			line-height: 1.5em;
		}

/*
 * Pages: Resources
 *
 */
	.page-resources {
		width: 620px;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 50px 0 70px 50px;
	}

	.resource:nth-child(1) {
		display: none;
	}

	.resource {
		float: left;
		width: 253px;
		height: 198px;
		margin-right: 50px;
		margin-bottom: 40px;
		position: relative;
	}

	.page-resources .end {
		margin-right: 0;
	}

	.resource h2 {
		text-align: center;
		color: #FFF;
		font-size: 24px;
		margin-bottom: 12px;
		text-shadow: 1px 1px 2px #2b493d;
		line-height: 1em;
	}

	.resource-description {
		position: relative;
		z-index: 19;
		height: 192px;
		background: url(../images/paper.jpg);

		margin-left: 4px;
		margin-top: 4px;

		-moz-box-shadow: 1px 1px 4px #307044;
		-webkit-box-shadow: 1px 1px 4px #307044;
		box-shadow: 1px 1px 4px #307044;
	}

	.resource-description .frame {
		z-index: 21;
		position: absolute;

		margin-left: -4px;
		margin-top: -4px;
	}

	.resource-description p {
		z-index: 22;
		position: absolute;
		font-size: 12px;
		line-height: 1.5em;
		color: #1f424d;
		padding: 4px 24px 0 24px;
	}

	.resource  .read-more {
		position: relative;
		z-index: 22;
		left: 70px;
		margin-top: -30px;

		display: inline-block;

		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

	.banner-resource p {
		margin: 0;
		text-align: center;
		width: 710px;
		padding-top: 14px;
		padding-left: 50px;
	}


/*
 * Pages: Pricing
 *
 */
	.page-pricing {
		width: 930px;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 0 0 10px 0;
	}

	.pricing-title p {
		margin: 0;
		padding: 0;
	}

	.pricing-title h1 {
		color: #efc536;
		text-align: center;
		margin-top: 15px;
	}

	.pricing-title h2 {
		color: #FFF;
		text-align: center;
		margin-bottom: 30px;
	}

	.most-popular {
		margin-top: -18px;
		margin-right: 3px;
		text-align: center;
		padding-bottom: 16px;

		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 12px;
	}

	.popular-badge {
		display: inline-block;
	}

	.most-popular .float {
		float: left;
	}

	.most-popular div.float {
		padding: 3px 12px;
		background-color: #efc536;
		border-top: 1px solid #ffffff;
		/*border-right: 1px solid #ffffff;
		border-left: 1px solid #ffffff;*/
	}

	.pricing-plans {
	}

	.pricing-plan {
		float: left;
		margin-right: 20px;
		width: 290px;
		min-height: 367px;
		border: 3px solid #94c793;
		background: url(../images/paper_white.jpg);

		position: relative;

		-moz-box-shadow: 1px 1px 4px #307044;
		-webkit-box-shadow: 1px 1px 4px #307044;
		box-shadow: 1px 1px 4px #307044;
	}

	.pricing-plan-highlight {
		margin-top: -20px;
		min-height: 390px;
	}

	.pricing-plan h3 {
		color: #1f424d;
		background-color: #94c793;
		width: 100%;
		text-align: center;
		padding: 15px 0 15px 0;
		text-shadow: 2px 2px 1px #77a177;
	}

	.pricing-plans .end {
		margin-right: 0px;
	}

	.pricing-highlight {
		width: 284px; /*290px*/
		border: 6px solid #1f424d;
		background: url(../images/paper.jpg);
	}

	.pricing-highlight h3 {
		color: #FFF;
		background: #1f424d;
		text-shadow: 2px 2px 1px #2b5b6a;
	}

	.pricing-plan div.row {
		font-size: 14px;
		overflow: hidden;
		padding: 8px 0 8px 0;
		margin: 0 20px 0 20px;
		border-top: 1px solid #a1a09f;
	}

	.pricing-plan div.clean {
		border-top: 0;
	}

	.pricing-plan div.last {
		border-bottom: 1px solid #a1a09f;
	}

	.pricing-plan div.price {
		margin: 0 0 0 20px;
	}

	.pricing-plan div.row p {
		line-height: 1.3em;
		padding: 0;
		margin: 0;
	}

	.pricing-plan div.row p span {
		font-size: 11px;
	}

	.pricing-plan div.row p.left {
		float: left;
	}

	.pricing-plan div.row p.right {
		float: right;
	}

	.pricing-plan div.row p.banner-small-g {
		float: right;
		width: 115px;
		height: 36px;
		color: #FFF;
		font-size: 20px;
		line-height: 33px;
		font-weight: bold;
		text-align: center;
		background: url(../images/banner-small-green.png);
	}

	.pricing-plan div.row p.banner-small-b {
		background: url(../images/banner-small-blue.png);
	}

	.banner-pricing {
    	margin-bottom: 5px;
    	margin-top: 0;
    	padding: 0 0 33px;
	}

    .banner-pricing a {
        color: #EFC536;
    }

	.start-trail {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 13px;
	}

	a.btn-start-trial {
		display: inline-block;
		height: 32px;
		font-size: 16px;
		color: #FFF;
		text-shadow: 1px 1px 1px #000;
		line-height: 30px;
		text-align: center;
		padding: 0 20px 0 20px;
		background: url(../images/btn-background-blue.png);

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		border: 1px solid #94a8b1;
	}

	a.btn-start-trial:hover {
		background: #198ad3;
	}

	/* All Plans Include */
	.all-plans-include-wrapper {
		margin: 0 auto 0 auto;
		overflow: hidden;
		background-color: #2c8571;
	}

    .front-page .all-plans-include-wrapper {
        margin: 5px auto -40px;
        overflow: hidden;
        background-color: transparent;
    }

	.all-plans-top {
		height: 17px;
		background: url(../images/all-plans-background-top.png) top center no-repeat;
	}

	.all-plans-bottom {
		height: 20px;
		background: url(../images/all-plans-background-bottom.png) top center no-repeat;
	}

	.all-plans-include {
		width: 930px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	}

	.all-plans-include h1 {
		color: #fff;
		margin-bottom: 5px;
		position: relative;
	}

    .front-page .all-plans-include h1 {
        color: #1b3e49;
        margin-bottom: 5px;
        position: relative;
        text-shadow: 1px 1px #ffffff;
    }

	.all-plans-include img {
    	height: 45px;
	}

	.plans {
		overflow: hidden;
		text-align: left;
	}

	.plan {
		float: left;

		width: 266px; /*290px*/
		min-height: 260px;
		padding: 14px 12px 14px 12px;

		margin-right: 20px;
		margin-bottom: 20px;

		background: url(../images/paper.jpg);
		overflow: hidden;
		font-size: 14px;

		-moz-box-shadow: 1px 1px 4px #144f42;
		-webkit-box-shadow: 1px 1px 4px #144f42;
		box-shadow: 1px 1px 4px #144f42;
	}

	.plan h2 {
		color: #1f424d;
		font-size: 22px;
		text-align: center;
		line-height: 1em;
		margin-bottom: 14px;
	}

	.plan p {
		margin: 0;
		color: #1b3d47;
	}

	.plan ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.plan li {
		color: #1b3d47;
		padding-left: 22px;
		padding-top: 4px;
		background-image: url(../images/point.png);
		background-repeat: no-repeat;
		background-position: 0 .5em;
		margin-bottom: 8px;
	}

	/* FAQ */
	.faq-wrapper {
		margin: 0 auto 0 auto;
		overflow: hidden;
		background: url(../images/background-light-green.jpg) top center no-repeat;
	}

	.faq {
		width: 900px; /*1024px*/
		margin: 0 auto;
		padding: 10px 62px 25px 62px;
		position: relative;
		overflow: hidden;
	}

	.faq h2 {
		margin-left: 30px;
		margin-bottom: -15px;
		z-index: 8;
		background: url(../images/faq-background.png);
		padding: 6px 12px 6px 20px;
		color: #fff;
		display: inline-block;
		font-size: 24px;
		position: relative;
	}

	.faq-qs {
		position: relative;
		z-index: 7;
		overflow: hidden;
		text-align: left;
		background-color: #bcddbb;
		border: 1px solid white;
		padding: 30px 30px 10px 30px;
	}

	.faq-q {
		border-bottom: 1px solid #799b8c;
		padding-bottom: 16px;
		margin-bottom: 16px;
		font-size: 14px;
		color: #1b3d47;
	}

	.faq-q p {
		margin: 0;
		padding: 0;
		color: #1b3d47;
	}


/*
 * "On boarding" sign up procees
 *
 */
.on-boarding-overlay {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background: url(../images/signup-overlay.png);
	display: block;
	width: 100%;
	height: 100%;
}

.on-boarding-breadcrumb {
	position: absolute;
	width: 700px;
	overflow: hidden;
	margin-left: -350px; /*700px*/
	/*margin-top: -350px;*/
	top: 70px; /*top: 50%;*/
	left: 50%;
	z-index: 50;
	text-align: center;
}

.on-boarding-breadcrumb .items {
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
}

.on-boarding-breadcrumb .item {
	text-align: center;
	float: left;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0;
	font-style: italic;
	display: none;

	font-family: 'eagle_bookregular', Helvetica, Arial;
	font-weight: normal;
	font-size: 12px;
	line-height: 1em;
}

.on-boarding-breadcrumb .item p {
	padding: 0;
	margin: 0;
}

.on-boarding-breadcrumb .item img {
	float: left;
}

.on-boarding-breadcrumb .item-1 p {
	float: left;
	height: 27px; /*35px*/
	padding: 5px 15px 2px 20px;
	border-left: 1px solid #1a3e49;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #6eada2; /*org*/
}

.on-boarding-breadcrumb .item-1-active p {
	float: left;
	height: 27px; /*35px*/
	padding: 5px 15px 2px 20px;
	border-left: 1px solid #1a3e49;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #8dd8cb; /*active*/
	color: #1a3e49;
}

.on-boarding-breadcrumb .item-2 p,
.on-boarding-breadcrumb .item-2-last p {
	float: left;
	height: 27px; /*35px*/
	padding: 5px 15px 2px 15px;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #6eada2; /*org*/
}

.on-boarding-breadcrumb .item-2-active p {
	float: left;
	height: 27px; /*35px*/
	padding: 5px 15px 2px 15px;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #8dd8cb; /*active*/
	color: #1a3e49;
}

.on-boarding-breadcrumb .item-3 p {
	height: 27px; /*35px*/
	padding: 5px 20px 2px 15px;
	border-right: 1px solid #1a3e49;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #6eada2; /*org*/
}

.on-boarding-breadcrumb .item-3-active p {
	height: 27px; /*35px*/
	padding: 5px 20px 2px 15px;
	border-right: 1px solid #1a3e49;
	border-top: 1px solid #1a3e49;
	border-bottom: 1px solid #1a3e49;
	background-color: #8dd8cb; /*active*/
	color: #1a3e49;
}

.on-boarding-breadcrumb .active {
	background-color: #8dd8cb;

}

.on-boarding-container {
	position: absolute;
	width: 700px;
	height: 650px;
	top: 85px; /*top: 50%;*/
	left: 50%;
	margin-left: -350px; /*700px*/
	/*margin-top: -325px; 650px*/
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	background: url(../images/paper.jpg);
}

.on-boarding-container-auto-height {
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

    input.btn-submit,
	a.btn-next-step, a.btn-prev-step {
		display: inline-block;
		height: 32px;
		font-size: 16px;
		color: #FFF;
		text-shadow: 1px 1px 1px #000;
		line-height: 30px;
		text-align: center;
		padding: 0 20px 0 20px;
		background: url(../images/btn-background-orange.png);

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		border: 1px solid #9dadb1;
	}

    input.btn-submit:hover,
	a.btn-next-step:hover, a.btn-prev-step:hover {
		background: #cb8f27;
	}

	.on-boarding-container .step h1 {
		position: relative;
		text-align: center;
		color: #396f7f;
		font-size: 18px;
		margin-top: 40px;
	}

	.on-boarding-container .step h2 {
		text-align: center;
		color: #1a3e49;
		font-size: 36px;
	}

	.on-boarding-container .step .tagline {
		width: 580px;
		margin: 0 auto;
		text-align: center;
		color: #000;
		font-size: 12px;
	}

	.on-boarding-container .step .subtitle1, .on-boarding-container .step .subtitle2 {
    	text-align: center;
    	position: relative;
    	top: 32px;
	}

	.on-boarding-container .step .subtitle1 {
    	font-size: 1.6em;
	}

	.on-boarding-container .step .form-columns {
		overflow: hidden;
		padding: 20px 30px 0 30px;
	}

	.on-boarding-container .step .form-user {
		width: 360px;
		margin-right: 40px;
		padding-right: 39px;
		float: left;
		border-right: 1px solid #b0b4aa;
		overflow: hidden;
	}

	.on-boarding-container .step.form-ning-info {
		float: left;
		width: 200px;
		text-align: center;
	}

	.on-boarding-container .step .row {
		overflow: hidden;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

    .on-boarding-container .step .have-account-sign-in {
        text-align: center;
    }

    .on-boarding-container .step .have-account-sign-in a {
        color: #1888D2;
        text-decoration: underline;
    }

	.on-boarding-container .step .form-user .label {
		width: 130px; /*140px*/
		padding-right: 10px;
		padding-top: 5px;
		text-align: right;
		color: #000;
		float: left;
	}

	.on-boarding-container .step .form-user input {
		width: 210px;
		float: left;
		background-color: white;
		border: 1px solid #b7b7b5;
		padding: 2px 4px 2px 4px;
	}

	.on-boarding-container .step .label-error {
		font-size: 11px;
		height: 20px;
		float: none;
		clear: both;
	}

	.on-boarding-container .step .label-error p {
		width: 220px;
		float: right;
		margin: 0;
		padding: 0;
		text-align: left;
		font-style: italic;
	}

	.on-boarding-container .step .form-ning-info .label-error p {
		text-align: center;
	}

	.on-boarding-container .step .form-ning-info .label {
		width: 200px;
		text-align: center;
		color: #000;
	}

	.on-boarding-container .step .form-ning-info input {
		width: 190px;
		background-color: white;
		border: 1px solid #b7b7b5;
		padding: 2px 4px 2px 4px;
	}

	.on-boarding-container .step .form-ning-info input#network_url {
		width: 120px;
	}

	.on-boarding-container .step .form-ning-info span {
		font-size: 10px;
	}

	.on-boarding-container .step .form-ning-info a {
		font-size: 12px;
	}

	.on-boarding-container .step .form-ning-info .row {
		padding: 0 0 0 0;
	}

	.on-boarding-container .step .form-ning-info .row #icon-success,
	.on-boarding-container .step .form-ning-info .row #icon-error {
		float: right;
	}

	.on-boarding-container .step .quotes {
		margin-top: 10px;
		overflow: hidden;
		color: #fff;
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
	}

	.on-boarding-container .step .quotes span{
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 12px;
		font-style: italic;
	}

	.on-boarding-container .step .quotes .q1 {
		width: 228px; /*268px*/
		height: 128px; /*168px*/
		padding: 20px;
		float: left;
		margin-left: 50px;
		margin-right: 20px;
		position: relative;
		background: url(../images/signup-q1.png) no-repeat;
	}

	.on-boarding-container .step .quotes .q1 img {
		margin-top: 4px;
	}

	.on-boarding-container .step .quotes .q2 {
		width: 231px; /*295px*/
		height: 108px; /*148px*/
		padding: 20px 20px 20px 44px;
		float: left;
		position: relative;
		background: url(../images/signup-q2.png) no-repeat;
	}

	.on-boarding-container .step .quotes .q2 img {
		margin-top: 4px;
		float: right;
	}

	.on-boarding-container .step .bottom-controls {
		width: 660px;
		position: relative;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		overflow: hidden;
		min-height: 90px;
	}

	.on-boarding-container-auto-height .step-1 .bottom-controls {
		margin-top: 20px;
		overflow: hidden;
	}

	.on-boarding-container .step .bottom-controls .certificate {
		float: left;
		margin-right: 10px;
	}

	.on-boarding-container .step .bottom-controls .digicert {
		float: none;
		clear: both;
	}

	.on-boarding-container .step .bottom-controls p {
		float: none;
		position: absolute;
		right: 130px;
		top: 10px;
		width: 400px;
		margin: 0;
		padding: 0;
		font-size: 12px;
		text-align: right;
	}

	.on-boarding-container .step-1 .bottom-controls p {
    font-size: 10px;
	}

	.on-boarding-container .step .bottom-controls p.trial-end-text {
		float: right;
		font-weight: bold;
		position: relative;
		right: 0px;
	}

	.on-boarding-container-auto-height .step .bottom-controls p {
		width: 270px;
	}

	.on-boarding-container .bottom-controls p.skip-to-site {
		position: absolute;
		right: 190px;
		width: 250px;
		padding: 0;
		font-size: 13px;
		text-align: center;
		font-weight: bold;
	}

	.loader-step-2, .loader-step-1, .loader-paypal {
		display: none;
	}

	.on-boarding-container .bottom-controls .btn-next-step,
	.on-boarding-container .bottom-controls .loader-step-1,
	.on-boarding-container .loader-step-2 {
		/*float: right;
		margin-right: 20px;*/
		position: absolute;
		right: 0;
		top: 10px;
	}

	.on-boarding-container .bottom-controls .btn-prev-step {
		/*float: left;
		margin-left: 10px;*/
		position: absolute;
		left: 0;
		top: 10px;
	}

	.on-boarding-container .step .bottom-controls p a {
		color: #1888d2;
		text-decoration: underline;
	}

	/* Overrides */
	.on-boarding-container .bottom-controls-override {
		height: 50px;
	}


	.on-boarding-container .bottom-controls-override .btn-next-step,
	.on-boarding-container .bottom-controls-override .btn-prev-step,
	.on-boarding-container .bottom-controls-override p.skip-to-site {
		top: auto;
		bottom: 0;
	}


	.on-boarding-container .step .billing {
		overflow: hidden;
		margin: 20px 40px 10px 40px;
	}

	.on-boarding-container .step .billing .option-1,
	.on-boarding-container .step .billing .option-2 {
		float: left;
	}

	.on-boarding-container .step .billing .option {
		width: 250px;
		overflow: hidden;
		position: relative;
		background-color: #ffffff;
		padding: 10px;
		font-size: 14px;
		border: 2px solid #ffffff;
		-moz-box-shadow: 1px 1px 4px #adaa9c;
		-webkit-box-shadow: 1px 1px 4px #adaa9c;
		box-shadow: 1px 1px 4px #adaa9c;
	}

	.on-boarding-container .step .billing .option-active {
		border: 2px solid #94c793;
	}

	.on-boarding-container .step .billing .option .corner {
		position: absolute;
		top: 0;
		left: 0;
	}

	.on-boarding-container .step .billing .option h4 {
		float: left;
		width: 140px;
		margin-right: 10px;
		margin-left: 10px;
		color: #1a3e49;
		font-size: 14px;
		text-align: center;
		border-bottom: 1px solid #1a3e49;
		padding-bottom: 2px;
		margin-bottom: 2px;
	}

	.on-boarding-container .step .billing .option .price {
		float: left;
		width: 140px;
		margin-right: 10px;
		margin-left: 10px;
		color: #1a3e49;
		font-size: 14px;
	}

	.on-boarding-container .step .billing .option .price span {
		font-size: 24px;
		color: #94c793;
	}

	.on-boarding-container .step .billing .option a.btn-start-trial {
		float: right;
		font-size: 11px;
		height: 23px;
		padding-top: 0;
		line-height: 24px;
		margin: 10px 0 0 0;
	}

	.on-boarding-container .step .billing .option-active a.btn-start-trial {
		background: #94c793;
		border-color: #94c793;
	}

	.on-boarding-container .step .billing .or {
		float: left;
		width: 60px;
		padding-top: 25px;
		font-size: 16px;
		color: #94c793;
		text-align: center;
		font-weight: bold;
	}

	.on-boarding-container .step .billing .offer {
		width: 100%;
		margin-top: 6px;
		text-align: center;
	}

	.on-boarding-container .step .billing .offer p {
		background-color: #94c793;
		margin: 0;
		padding: 3px;
		display: inline-block;
		font-weight: bold;
		font-size: 12px;
	}

	.on-boarding-container .step .headline {
		position: relative;
		margin: 30px 40px 10px 40px;
		border-top: 1px solid #1a3e49;
	}

	.on-boarding-container .step .headline p {
		background-color: #f6f2e0;
		padding: 0 6px;
		font-size: 14px;
		font-weight: bold;
		display: inline-block;
		margin: 0 0 0 20px;
		position: absolute;
		top: -10px;
	}

	.on-boarding-container .step .info {
		font-size: 12px;
		padding: 0;
		margin: 0 40px;
		color: #000;
	}

	.on-boarding-container .step .payment {
		margin-top: 15px;
		overflow: hidden;
		background-color: #ffffff;
		border: 1px solid #94c793;
		min-height: 230px;
	}

	.on-boarding-container .step .payment .payment-already-setup {
	    padding: 20px 20px 20px 40px;
	    overflow: hidden;
	}

	.on-boarding-container .step .payment .payment-already-setup .summary h2 {
    	font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
		color: #1a3e49;
		padding-bottom: 4px;
		margin-bottom: 10px;
		border-bottom: 1px solid #1a3e49;
		text-align: left;
	}

	.on-boarding-container .step .payment .payment-already-setup .summary-annual,
	.on-boarding-container .step .payment .payment-already-setup .summary-monthly,
	.on-boarding-container .step .payment .payment-already-setup .summary h2 {
		margin-left: 40px;
	}
	.on-boarding-container .step .payment .payment-already-setup .summary {
		float: right;
		width: 40%;
		border-left: 1px solid #ccc;
		overflow: hidden;
		min-height: 200px;
	}

	.on-boarding-container .step .payment .payment-already-setup .payment-summary-area {
		float: left;
		width: 58%;
	}

	.on-boarding-container .step .payment-button {
		float: left;
		width: 50%;
		padding: 8px 0;
		background-color: #94c793;
		color: #1a3e49;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 16px;
		text-align: center;
	}

	.on-boarding-container .step .payment-button-active {
		background-color: #ffffff;
		padding: 8px 0;
	}

	.on-boarding-container .step .payment-button .payment-link {
		display: inline-block;
		height: 24px;
		cursor: pointer;
	}

	.on-boarding-container .step .payment-button .creditcard {
		padding-right: 127px;
		background: url(../images/ax_visa_mc.png) top right no-repeat;
	}

	.on-boarding-container .step .payment-button .paypal {
		padding-right: 53px;
		background: url(../images/paypal.png) top right no-repeat;
	}

	.on-boarding-container .step .payment-button .paypal {
		padding-right: 53px;
		background: url(../images/paypal.png) top right no-repeat;
	}

	.payment-frames {
		padding: 20px;
		overflow: hidden;
	}

        /* Credit Card Form */

    .creditcard-form-wrapper {
        float: left;
        margin-left: 10px;
        max-width: 55%;
        line-height: 1.5;
    }

    /* Override browser default */
    .creditcard-form-fields {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .creditcard-form-field {
        font-weight: bold;
        display: table;
        margin-bottom: 15px;
    }

    .creditcard-form-label,
    .creditcard-form-value,
    .creditcard-form-field:after {
        display: table-cell;
    }

    .creditcard-form-message.error,
    .creditcard-form-field.error input,
    .creditcard-form-field.error select {
        background-color: #FFF2F4;
        border: 1px solid #F13535;
        padding: 5px;
    }

    /* Text indication for error fields */
    .creditcard-form-field.error:after {
        content: '*';
        padding-left: 5px;
        font-family: Arial;
        font-size: 20px;
        line-height: 1;
        vertical-align: bottom;
    }

    .creditcard-form-field.error:after,
    .creditcard-form-field.error .creditcard-form-label {
        color: #DF1515;
    }

    .creditcard-form-label {
        text-align: right;
        width: 120px;
        padding-right: 5px;
    }

    input.creditcard-form-value {
        background-color: #eee;
        outline: none;
        border: 1px solid #aaa;
        width: 200px;
        padding: 5px;
    }

    input.creditcard-form-value:focus {
        background-color: #fff;
        border: 1px solid #1a3e49;
    }

    .creditcard-form-message {
        font-size: 11px;
        margin: 0 0 15px;
    }

    .creditcard-form-submit {
        cursor: pointer;
        width: 210px;
    }

    .creditcard-form-footer {
        margin-left: 125px;
    }

	.frame-creditcard .iframe,
	.frame-paypal .iframe {
		float: left;
		width: 58%;
	}

	.frame-creditcard .summary,
	.frame-paypal .summary  {
		float: right;
		width: 40%;
		border-left: 1px solid #ccc;
		overflow: hidden;
		min-height: 200px;
	}

	.payment-frames .summary h2 {
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
		color: #1a3e49;
		padding-bottom: 4px;
		margin-bottom: 10px;
		border-bottom: 1px solid #1a3e49;
		text-align: left;
		margin-left: 40px;
	}

	.payment-frames .summary-annual, .payment-frames .summary-monthly {
		margin-left: 40px;
	}

	.payment-frames .summary .product {
		width: 50%;
		float: left;
	}

	.payment-frames .summary .annual-price, .payment-frames .summary .monthly-price {
		width: 50%;
		float: left;
		text-align: right;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
	}

	.frame-paypal .iframe .pp {
		text-align: left;
		font-size: 13px;
		color: #1a3e49;
		padding-top: 30px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.on-boarding-container .themes {
		overflow: hidden;
		width: 660px;
		margin: 20px auto 0 auto;
		padding-left: 38px;
	}

	.on-boarding-container .theme {
		text-align: center;
		float: left;
		height: 165px;
		font-weight: bold;
		margin-right: 30px;
		cursor: pointer;
	}

	.on-boarding-container .theme p {
		padding: 0;
		margin: 0;
		padding-bottom: 4px;
		font-weight: bold;
		text-align: center;
	}

	.on-boarding-container .theme img {
		border: 3px solid transparent;
	}

	.on-boarding-container .theme-active img {
		border: 3px solid orange;
	}

	.social-row {
		width: 640px;
		overflow: hidden;
		margin: 0 auto;
		padding-top: 10px;
		height: 65px;
	}

	.social-icon {
		float: left;
		margin-right: 25px;
	}

	.social-buttons {
		float: right;
		margin-left: 25px;
	}

	.social-buttons .social-remove {
		background: url(../images/btn-background-green.png);
	}

	.social-form {
		float: left;
	}

	.social-form input {
		padding-top: 15px;
	}

	.social-form input {
		width: 190px;
		background-color: white;
		border: 1px solid #b7b7b5;
		padding: 2px 4px 2px 4px;
	}

	.social-form p {
		padding: 4px 0 0 0;
		margin: 0;
		font-size: 11px;
		color: #1a3e49;
	}

	.community-options {
		width: 681px;
		overflow: hidden;
		margin: 0 auto;
		padding-top: 40px;
		padding-left: 30px;
	}

	.community-option {
		width: 195px;
		float: left;
		margin-right: 30px;
		border: 1px solid #7eb64e;
		background-color: white;
		min-height: 200px;
		position: relative;
		z-index: 19;
		margin-bottom: 20px;
	}

	.option-heading {
		position: relative;
		text-align: center;
		background-color: #7eb64e;
		padding: 10px 0;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-shadow: 1px 1px 1px #46751e;
		color: #fff;
	}

	.option-heading img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.option-body-btn .btn-start-trial {
		background: url(../images/btn-background-green.png);
	}

	.option-body {
		padding: 10px 20px 10px 20px;
	}

	.option-body p {
		margin: 0;
		padding: 0 0 10px 0;
		border-bottom: 1px solid #666;
		margin-bottom: 10px;
	}

	.option-body-btn {
		width: 100%;
		z-index: 20;
		text-align: center;
		position: absolute;
		bottom: -20px;
	}

	/* Active */
	.community-option-active {
		border: 1px solid #ccc;
	}

	.community-option-active .option-heading {
		text-shadow: 1px 1px 1px #000;
		background-color: #ccc;
		color: #1170ab;
	}

	.community-option-active .option-body-btn .btn-start-trial {
		background: url(../images/btn-background-blue.png);
	}



/*
 * Pages: Contact us
 *
 */
	.page-contact-us {
		width: 940px;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 40px 0 40px 0;
	}

	.contact-us {
		width: 400px;
		overflow: hidden;
		float: left;
		padding: 30px 45px 30px 45px;

		background: url(../images/paper.jpg);

		-moz-box-shadow: 1px 1px 4px #307044;
		-webkit-box-shadow: 1px 1px 4px #307044;
		box-shadow: 1px 1px 4px #307044;
	}

	.contact-customer-support {
		overflow: hidden;
		padding: 20px 0 10px 0;
		border-top: 1px solid #1a3e49;
		margin-top: 30px;
	}

	.contact-customer-support span {
		color: #1a3e49;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 18px;
	}

	.contact-customer-support .read-more {
		margin-left: 15px;
		display: inline-block;
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}


/*
 * Pages: Sign In
 *
 */
	.page-sign-in {
		width: 850px;
		overflow: hidden;
		margin: 105px auto 0 auto;
		padding: 40px 0 40px 0;
	}

	.sign-in {
		width: 520px;
		overflow: hidden;
		position: relative;
	}

	.sign-in p a {
		text-decoration: underline;
	}

	.sign-in .terms {
		font-size: 12px;
	}

	.sign-in h1 {
		font-size: 36px;
		color: #FFF;
		margin-bottom: 10px;
	}

	.sign-in p {
		color: #1a3e49;
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 1.3em;
	}

	.form-input {
		overflow: hidden;
		margin-bottom: 10px;
		color: #1a3e49;
	}

	.form-input label {
		float: left;
		width: 150px;
		font-size: 14px;
	}

	.form-input input {
		float: left;
		background-color: white;
		border-right: 1px solid #afafaf;
		border-bottom: 1px solid #afafaf;
		border-top: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;
		width: 200px;
	}

	.sign-in .error {
		overflow: hidden;
		margin-top: -8px;
		padding-bottom: 10px;
	}

	.sign-in .error label.error {
		color: red;
		font-size: 11px;
	}

	.form-input a {
		margin-left: 150px;
		color: #1a3e49;
	}

	.form-submit {
		margin-left: 150px;
	}

	.trust-e {
		position: absolute;
		right: 0px;
		top: 58px;
	}

	.sign-up-account {
		overflow: hidden;
		padding: 20px 0 10px 0;
		border-top: 1px solid #ffffff;
		margin-top: 30px;
	}

	.sign-up-account span {
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 18px;
	}

	.sign-up-account .read-more {
		margin-left: 15px;
		display: inline-block;
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}


/*
 * Pages: Careers
 *
 */
	.page-careers {
		overflow: hidden;
		margin: 0 auto 0 auto;
		padding: 40px 0 40px 0;
	}

	.careers-block-1 {
		padding-top: 105px;
		background: url(../images/background-careers.jpg) bottom center no-repeat;
	}

	.careers-block-1-bottom {
		height: 20px;
		margin-bottom: 40px;
		background: url(../images/careers-background-bottom.png) top center no-repeat;
	}

	.careers-block-2 {
		background: url(../images/background-read-more.jpg) bottom center no-repeat;
	}

	.career-columns {
		width: 860px;
		overflow: hidden;
		margin: 0 auto;
		font-size: 14px;
	}

	.career-columns p {
		margin: 0 0 10px 0;
	}

	.career-column-left {
		float: left;
		width: 380px;
		overflow: hidden;
		color: #193740;
		margin-bottom: 100px;
	}

	.career-column-right {
		float: left;
		width: 480px;
		overflow: hidden;
		text-align: right;
	}

	.apply-now {
		overflow: hidden;
		padding: 20px 0 10px 0;
		color: #193740;
		text-align: center;
	}

	.apply-now span {
		color: #193740;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 18px;
	}

	.apply-now .read-more {
		margin-left: 15px;
		display: inline-block;
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

	.career-column-right .apply-now span  {
		color: #FFF;
	}

	.why-join {
		color: #FFF;
	}

	.why-join h2, .why-join h3, .why-join h4 {
		color: #efc537;
	}

	.perks-and-benefits {
		margin-top: 40px;
	}

	.perks-and-benefits ul {
		background-color: #b6e2b5;
		padding: 20px;
		margin-top: 25px;
		list-style: none;
	}

	.perks-and-benefits li {
		padding-left: 22px;
		padding-top: 4px;
		background-image: url(../images/point.png);
		background-repeat: no-repeat;
		background-position: 0 .5em;
		margin-bottom: 6px;
	}


/*
 * Pages: Cultivating Community
 *
 */
	.cc td{
		line-height: 1.4em;
	}
	/* Backgrounds */
	.cc .row-1 {
		background: url(../images/background-blue-toys.jpg) bottom center no-repeat;
	}
	.cc .row-divider-1 {
		height: 20px;
		background: url(../images/blue-toys-background-bottom.png) top center no-repeat;
	}
	.cc .row-2 {
		background: url(../images/background-careers.jpg) bottom center no-repeat;
	}
	.cc .row-divider-2 {
		height: 20px;
		background: url(../images/careers-background-bottom.png) top center no-repeat;
	}
	.cc .row-3 {ive;
		z-index: 17;
		background: url(../images/background-crowd.jpg) top center no-repeat;
	}
	.cc .row-divider-3 {
		height: 20px;
		background: url(../images/crowd-background-bottom.png) top center no-repeat;
	}
	.cc .row-4 {
		background: url(../images/background-green-star.jpg) bottom center no-repeat;
	}
	.cc .row-divider-4 {
		height: 20px;
		background: url(../images/green-star-background-bottom.png) top center no-repeat;
	}
	.cc .row-5 {
		background: url(../images/background-waves.jpg) top center no-repeat;
	}

	/* Row 1 */
	.cultivating-a-community {
		width: 860px;
		overflow: hidden;
		margin: 55px auto 0 auto;
		padding: 105px 0 40px 0;
		color: #ffffff;
		font-size: 14px;
	}

	.cultivating-a-community h1 {
		color: #efc536;
		text-align: center;
		margin-bottom: 10px;
		line-height: 1em;
	}

	.cultivating-a-community h2 {
		color: #ffffff;
		text-align: center;
		margin-bottom: 35px;
		font-size: 24px;
		line-height: 1em;
	}

	/* Row 2 */
	.launch-your-commmunity {
		width: 860px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		padding: 40px 0 40px 0;
		color: #1a3e49;
		font-size: 14px;
		position: relative;
		z-index: 19;
	}

	.launch-your-commmunity h1 {
		color: #1a3e49;
		line-height: 1.1em;
	}

	.launch-your-commmunity-body {
		width: 55%;
		float: right;
	}

	img.computer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
	}

	/* Row 3 */
	.recruit-your {
		width: 860px;
		overflow: hidden;
		margin: 0px auto 0 auto;
		padding: 40px 0 40px 0;
		color: #1a3e49;
		font-size: 14px;
		position: relative;
	}

	.recruit-your h1 {
		color: #ffffff;
		text-align: center;
		margin-bottom: 20px;
	}

	.recruit-your h2 {
		color: #efc536;
		font-size: 28px;

		margin-bottom: 15px;
		padding-bottom: 8px;

		background: url(../images/recruit-line.png) bottom left no-repeat;
	}

	.recruit-your h3 {
		color: #1a3e49;
		font-size: 24px;
		margin-bottom: 15px;
		line-height: 1em;
	}

    .recruit-your > table {
        float: left;
    }

	.recruit-quote {
		float: right;
		width: 50%;
		height: 250px;
		padding-top: 10px;
		background: url(../images/cc-quote.png) bottom left no-repeat;
	}

	.recruit-quote .heading {
		margin-top: -10px;
		margin-left: 70px;
		background-color: #efc536;
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 23px;
		font-weight: normal;
		font-style: italic;
		padding: 4px 8px;
		display: inline-block;
	}
	.recruit-quote p {
		margin-left: 80px;
		margin-right: 20px;
		margin-top: 10px;
		color: #fff;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.1em;
	}

	/* Row 4 */
	.grow-your-community {
		width: 860px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		padding: 40px 0 40px 0;
		color: #ffffff;
		font-size: 14px;
	}

	.grow-your-community .title {
		text-align: center;
		margin-bottom: 15px;
	}

	.grow-your-community h1 {
		color: #efc536;
		text-align: center;
		height: 47px;
		/*background: url(../images/community-1.png) no-repeat;*/
		display: inline-block;
		/*padding-left: 57px;*/
	}

	.managing-your-community {
		width: 860px;
		overflow: hidden;
		margin: 40px auto 10px auto;
		text-align: center;
	}

	.managing-your-community h1 {
		background: none;
		padding-left: 0;
		margin: 0 10px;
	}

	.managing-your-community .title {
		display: inline-block;
	}

	.managing-your-community .float {
		float: left;
	}
	.managing-your-community .float {
		float: left;
	}
	.managing-your-community .float {
		float: left;
	}

	.grow-your-community .row1, .grow-your-community .row2, .grow-your-community .row3 {
		overflow: hidden;
		margin-bottom: 15px;
	}

	.grow-your-community .row2 {
		width: 840px;
		margin: 0 auto;
	}

	.grow-your-community .row2 .col-1 {
		float: left;
		width: 440px;
	}

	.grow-your-community .row2 .col-2 {
		float: left;
		width: 400px;
	}

	.grow-your-community .quote {
		margin: 0;
		color: #fff;
		font-size: 12px;
		padding: 20px 25px 0 25px;
		-webkit-border-top-left-radius: 18px;
		-webkit-border-top-right-radius: 18px;
		-moz-border-radius-topleft: 18px;
		-moz-border-radius-topright: 18px;
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
		line-height: 1.3em;
	}

	.grow-your-community .quote a {
		color: #efc536;
	}

	.grow-your-community .quote h4 {
		color: #fff;
		font-size: 24px;
		margin-bottom: 2px;
		font-style: italic;
	}

	.grow-your-community .q1 {
		width: 344px;
	}

	.grow-your-community .q2 {
		width: 336px;
	}

	.grow-your-community .quote-1 {
		background-color: #1c815a;
	}

	.grow-your-community .quote-2 {
		background-color: #5a917c;
	}
	.grow-your-community .quote-3 {
		background-color: #35735b;
	}

	.grow-your-community .quote-4 {
		background-color: #229065;
	}

	.grow-your-community .row3 h1 {
		/*background: url(../images/community-3.png) no-repeat;*/
	}

	.grow-your-community .row3 p {
	}

	.banner-2 {
		position: relative;
		width: 720px; /*763px*/
		height: 63px; /*73px*/
		margin: 0 auto 20px auto;
		background: url(../images/banner-2.png) no-repeat;

		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 18px;
		font-weight: normal;
		color: #FFF;

		padding: 10px 0 0 43px;
	}

	.banner-2 p {
		float: left;
		width: 50%;
	}

	.banner-2 .read-more {
		display: inline-block;
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

	.banner-2 .read-more-1 {
		position: absolute;
		top: 20px;
		right: 50px;
	}

	.banner-2 .read-more-2 {
		position: absolute;
		top: 20px;
		left: 270px;
	}

	/* Row 5 */
	.the-future {
		width: 860px;
		min-height: 330px;
		overflow: hidden;
		margin: 0 auto 0 auto;
		padding: 40px 0 40px 0;
		color: #ffffff;
		font-size: 14px;
	}

	.the-future h1 {
		color: #efc536;
		text-align: center;
		margin-bottom: 15px;
	}

	.the-future h2 {
		width: 50%;
		color: #ffffff;
		font-size: 24px;
		line-height: 1em;
	}

	.the-future p {
		width: 50%;
	}

	/* Row 6 (placement in footer) */
	.sign-wrap {
		position: realtive;
		width: 860px;
		margin: 0 auto;
	}

	.community-sign {
		position: relative;
		z-index: 102;
		margin-left: 550px;
		margin-top: -290px;
		margin-bottom: -157px;

		width: 273px; /*310px*/
		height: 400px;
		background: url(../images/sign.png) no-repeat;
		font-size: 14px;
		color: #fff;
		text-align: center;
		padding-right: 37px;
	}

	.community-sign h3 {
		text-align: center;
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;

		padding-top: 20px;
		padding-bottom: 6px;
		margin-bottom: 10px;

		background: url(../images/sign-line.png) bottom center no-repeat;
	}

	.community-sign a, .community-sign a:hover h3 {
		color: #fff;
	}

	.community-sign .start-your {
		margin: 0;
		padding: 0;
		margin-bottom: 22px;
	}

	.community-sign .plans-start {
		font-size: 11px;
		margin: 0;
		padding: 0;
	}

	.community-sign .plans-start p {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.community-sign .plans-start p {
		font-weight: bold;
		vertical-align: middle;
	}

	.community-sign .plans-start p.p {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 22px;
	}

	.community-sign .based-on {
		font-size: 9px;
		margin: 10px 0 0 0;
		padding: 0 0 0 130px;
	}
	.community-sign a .based-on {
		color: #102b34;
	}

/*
 * Footer
 *
 */
.footer  {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0 0 60px 0;
	margin: 0 auto;
	background: url(../images/footer.jpg) center 19px no-repeat;
	z-index: 101;
	min-height: 550px;
}

.footer-top  {
	height: 19px;
	background: url(../images/footer-top.png) top center no-repeat;
}

.footer-end {
	margin-top: 40px;
	width: 1024px;
	height: 2000px;
	background-color: #102b34;
	/*background-color: red;*/
}

.footer-win  {
	position: fixed;
	top: 640px;
	width: 100%;
	height: 1500px;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	background: url(../images/background-what-is-2.jpg) top center no-repeat;
	z-index: 101;
}

.footer-win-social {
	width: 980px;
	margin: 15px auto 0 auto;
	overflow: hidden;
}

.footer-win-social .icons {
	margin-right: 25px;
}
.footer-win-social .icons a {
	float: right;
	width: 31px;
	height: 36px;
	margin-left: 10px;
	display: block;
}
.footer-win-social .icons a.fb {
	background: url(../images/social-s-fb.png) no-repeat;
}
.footer-win-social .icons a.tw {
	background: url(../images/social-s-tw.png) no-repeat;
}
.footer-win-social .icons a.yt {
	background: url(../images/social-s-yt.png) no-repeat;
}
.footer-win-social .icons a.fb:hover {
	background: url(../images/social-s-fb-on.png) no-repeat;
}
.footer-win-social .icons a.tw:hover {
	background: url(../images/social-s-tw-on.png) no-repeat;
}
.footer-win-social .icons a.yt:hover {
	background: url(../images/social-s-yt-on.png) no-repeat;
}

	#secondary {
		float: right;
	}

	/* Sitemap */
	.sitemap {
        width: 871px;
        overflow: hidden;
		margin: 40px auto 0px auto;
		text-align: center;
	}

	#menu-footer {
		display: inline-block;
		margin: 0 auto;
	}

	#menu-footer {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#menu-footer li {
		float: left;
		list-style: none;
		margin: 0;
		padding: 8px 30px 8px 30px;
		border-left: 1px solid #365a64;
		font-size: 11px;
		font-weight: bold;
		text-align: left;
	}

	#menu-footer li ul {
		margin: 8px 0 0 0;
		padding: 0;
	}

	#menu-footer ul li {
		float: none;
		clear: both;
		margin: 0;
		border-left: 0;
		padding: 8px 0 8px 0;
		font-weight: normal;
	}

	#menu-footer li a {
		/*color: #dfe3e5;*/
		margin: 15px 0;
	}

	#menu-footer li a:hover {
		text-decoration: underline;
	}

	#menu-footer li:first-child {
		border-left: 0;
	}

	#menu-footer li a,
	#menu-footer li a:hover {
		color: #efc536;
		text-decoration: none;
	}

	#menu-footer ul li a {
		color: #dfe3e5;
	}

	#menu-footer ul li a:hover {
		color: #efc536;
		text-decoration: underline;
	}

	/* Legal */
	.legal {
		width: 960px; /*980px*/
		overflow: hidden;
		margin: 25px auto 0 auto;
		text-align: right;
		color: #dfe3e5;
		padding-right: 20px;
	}

	.legal a {
		color: #dfe3e5;
	}
	.legal a:hover {
		color: #efc536;
		text-decoration: underline;
	}

	/* Social icons */
	.follow-us-on {
		margin: 0 auto;
		width: 980px; /*980px*/
		overflow: hidden;
		text-align: center;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-size: 22px;
		font-weight: normal;
		color: #1f424d;
	}

	.follow-us-on-inside {
		display: inline-block;
		padding-top: 4px;
		padding-left: 30px;
	}

	.social-icons {
		margin: -4px auto 0 auto;
		width: 980px;
		text-align: center;
	}

	.social-icons ul, .social-small ul {
		list-style-type: none;
	}

	.social-icons ul li {
		display: inline-block;
		margin: 0 0 0 0;
	}

	.social-icons a {
		display: block;
		width: 85px;
		height: 87px;
	}

	.social-icons a.facebook {
		background: url('../images/social-icons.png') 0 0 no-repeat;
	}

	.social-icons ul a.twitter {
		background: url('../images/social-icons.png') -88px 0 no-repeat;
	}

	.social-icons ul a.youtube {
		background: url('../images/social-icons.png') -176px 0 no-repeat;
	}

	.social-icons ul a.linkedin {
		background: url('../images/social-icons.png') -265px 0 no-repeat;
	}

	.social-icons a.facebook:hover {
		background: url('../images/social-icons.png') 0 -90px no-repeat;
	}

	.social-icons ul a.twitter:hover {
		background: url('../images/social-icons.png') -88px -90px no-repeat;
	}

	.social-icons ul a.youtube:hover {
		background: url('../images/social-icons.png') -176px -90px no-repeat;
	}

	.social-icons ul a.linkedin:hover {
		background: url('../images/social-icons.png') -265px -90px no-repeat;
	}


/*
 * Scroll: What is Ning
 *
 */

	#skrollr-body {
		width: 100%;
		overflow: hidden;
	}

	/*.skrollr-mobile  #skrollr-body *{
		-webkit-transform: translate3d(0,0,0);
	}*/

	.skrollr-mobile *{
		-webkit-transform: translate3d(0,0,0);
	}

	.scroll-background {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		height: 900px;
		width: 100%;
		background: url(../images/background-what-is.jpg) top center no-repeat;
	}

	.scroll-frames {
		width: 100%;
		margin: 0 auto;
		position: fixed;
		z-index: 100;
		height: 587px;
		pointer-events: none;
	}

	.scroll-frames-wrapper {
		margin: 0 auto 0 auto;
		width: 980px;
		height: 640px;
		position: relative;
		overflow: hidden;
		pointer-events: none;
	}

	.scroll-frames .win-left {
		width: 10px;
		height: 640px;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}
	.scroll-frames .win-right {
		width: 10px;
		height: 640px;
		position: absolute;
		right: 0;
		top: 0;
		pointer-events: none;
	}

	.scroll-frames .win-bottom {
		width: 960px;
		height: 10px;
		position: absolute;
		left: 10px;
		top: 630px;
		pointer-events: none;
	}

	.scroll {
		/*z-index: 1;*/
		width: 980px;
		/*height: 15900px; 13000px org - 12020px all*/
		height: 13030px;
		margin: 0 auto;
		overflow: hidden;
	}

	.scroll-block {
		position: relative;
		z-index: 49;
		overflow: hidden;
		width: 980px;
	}

	.scroll-block-2 {
		width: 1960px;
	}

	.scroll-block-3 {
		width: 2940px;
	}

	.scroll-block-4 {
		width: 3920px;
	}

	.scroll-wrapper {
		position: relative;
		float: left;
		z-index: 50;
		overflow: hidden;
		width: 980px;
		height: 640px;
	}

	/* Common styles */
	.scroll-wrapper h1, .scroll-wrapper h2, .scroll-wrapper h3, .scroll-wrapper h4, .scroll-wrapper h5 {
		line-height: 1em;
	}
	.scroll-wrapper p {
		padding: 0 0 10px 0;
		margin: 0;
		line-height: 1.2em;
	}

	/* Backgrounds */
	.scroll-1 {
		background: url(../images/what-is-ning/1-background.jpg) no-repeat;
	}
	.scroll-2 {
		background: url(../images/what-is-ning/2-background.jpg) no-repeat;
	}
	.scroll-3 {
		background: url(../images/what-is-ning/3-background.jpg) no-repeat;
	}
	.scroll-4 {
		background: url(../images/what-is-ning/4-background.jpg) no-repeat;
	}
	.scroll-5 {
		background: url(../images/what-is-ning/5-background.jpg) no-repeat;
	}
	.scroll-6 {
		background: url(../images/what-is-ning/6-background.jpg) no-repeat;
	}
	.scroll-7 {
		background: url(../images/what-is-ning/7-background.jpg) no-repeat;
	}
	.scroll-8 {
		background: url(../images/what-is-ning/8-background.jpg) no-repeat;
	}
	.scroll-9 {
		background: url(../images/what-is-ning/9-background.jpg) no-repeat;
	}
	.scroll-9-2 {
		background: url(../images/what-is-ning/9-background-2.jpg) no-repeat;
	}
	.scroll-10 {
		background: url(../images/what-is-ning/10-background.jpg) no-repeat;
	}
	.scroll-10-2 {
		background: url(../images/what-is-ning/10-background-2.jpg) no-repeat;
	}
	.scroll-11 {
		background: url(../images/what-is-ning/11-background.jpg) no-repeat;
	}
	.scroll-11-2 {
		background: url(../images/what-is-ning/11-background-2.jpg) no-repeat;
	}
	.scroll-12 {
		background: url(../images/what-is-ning/12-background.jpg) no-repeat;
	}

	/* Scroll 1 */
	.scroll-1 .block-1 {
		position: absolute;
		left: 280px;
		top: 150px;
		overflow: hidden;
		width: 377px; /*437px*/
		height: 432px; /*392px*/
		background: url(../images/what-is-ning/1-frame.png) no-repeat;
		padding: 30px 30px 30px 30px;
	}

	.scroll-1 .block-1 h1 {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 36px;
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.scroll-1 .block-1 p {
		color: #ffffff;
		font-size: 14px;
	}

	.scroll-1 .block-1 .arrows {
		text-align: center;
		margin-top: 30px;
	}

	/* Scroll 2 */
	.scroll-2 .block-2 {
		position: absolute;
		left: 265px;
		top: 164px;
		width: 360px; /*450px*/
		height: 396px;
		padding: 0 45px 0 45px;
		overflow: hidden;
	}

	.scroll-2 .block-2 h1 {
		color: #a8eba6;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 36px;
		margin-bottom: 15px;
	}

	.scroll-2 .block-2 p {
		color: #ffffff;
		font-size: 14px;
	}

	.scroll-2 .block-2 p.highlight {
		color: #efc536;
		font-size: 18px;
	}

	.scroll-2 .quote {
		position: absolute;
		left: 270px;
		top: 430px;
		width: 284px;
		height: 139px;
		background: url(../images/what-is-ning/2-quote.png) no-repeat;
	}

	.scroll-2 .quote p {
		color: #143641;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 13px;
		line-height: 1.1em;
		margin: 0;
		padding: 57px 15px 0 18px;
	}

	.scroll-2 .quote span {
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 12px;
	}

	/* Scroll 3 */
	.scroll-3 h1.design {
		position: absolute;
		left: 69px;
		top: 200px;

		color: #efc536;
		font-family: Mission, Helvetica, Arial;
		font-weight: normal;
		font-size: 51px;

		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

	.scroll-3 .image-1 {
		position: absolute;
		left: 120px;
		top: 251px;

		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow:0px 0px 5px #000000;
	}

	.scroll-3 .image-2 {
		position: absolute;
		left: 713px;
		top: 358px;
	}

	.scroll-3 .block-3 {
		position: absolute;
		left: 480px;
		top: 251px;
		width: 375px;
	}

	.scroll-3 .block-3 h2 {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		margin-bottom: 10px;
	}

	.scroll-3 .block-3 p {
		color: #ffffff;
		font-size: 14px;
	}

	.scroll-3 .block-3 h3 {
		color: #efc536;
		font-size: 15px;
		text-transform: uppercase;
		margin: 10px 0 0 0;
		padding: 0;
	}

	/* Scroll 4 */
	.scroll-4 .people {
		z-index: 5;
		position: absolute;
		width: 980px;
		height: 540px;
		top: 200px;
		background: url(../images/what-is-ning/4-people.png) no-repeat;
	}

	.scroll-4 h1 {
		z-index: 4;
		position: absolute;
		top: 300px;
		left: 500px;

		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 59px;

		-moz-transform: skewY(5deg);
		-webkit-transform: skewY(5deg);
		-ms-transform: skewY(5deg);
		transform: skewY(5deg);
	}

	.scroll-4 .block-1 {
		z-index: 6;
		position: absolute;
		left: 70px;
		top: 200px;

		width: 427px;
		height: 130px;
		background: url(../images/what-is-ning/4-quote-1.png) no-repeat;
	}

	.scroll-4 .block-1 h2 {
		color: #3a6c74;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;

		margin-top: 22px;
		margin-left: 66px;
		margin-right: 20px;
	}

	.scroll-4 .block-2 {
		z-index: 6;
		position: absolute;
		left: 140px;
		top: 340px;

		width: 472px;
		height: 220px;
		background: url(../images/what-is-ning/4-quote-2.png) no-repeat;
	}

	.scroll-4 .block-2 p {
		color: #15434a;
		font-size: 14px;

		margin-right: 90px;
		margin-left: 25px;
		margin-top: 25px;
		line-height: 1.3em;
	}

	/* Scroll 5 */
	.scroll-5 {
		color: #243b4e;
	}

	.scroll-5 .block-1 {
		text-align: center;
		position: absolute;
		z-index: 1;
		width: 472px;
		height: 432px;
		top: 130px;
		left: 254px;
	}

	.scroll-5 .block-1 h1 {
		position: absolute;
		margin-top: 20px;
		margin-left: 40px;

		color: #ffffff;
		background-color: #123743;
		font-size: 24px;
		padding: 8px 20px;
		border: 1px solid #ffffff;

		-moz-transform: skewY(-10deg);
		-webkit-transform: skewY(-10deg);
		-ms-transform: skewY(-10deg);
		transform: skewY(-10deg);
	}

	.scroll-5 .block-1 h2 {
		color: #89ca8e;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 85px;
		padding: 0 80px 0 80px;
	}

	.scroll-5 .block-1 h2 span {
		color: #243b4e;
	}

	.scroll-5 .block-1 p {
		padding: 0 80px 0 70px;
		text-align: left;
		font-size: 13px;
	}

	.scroll-5 .block-1 p {
		margin-bottom: 10px;
	}

	.postit-1 p, .postit-2 p {
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
	}

	.postit-1 p span, .postit-2 p span {
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 12px;
	}

	.postit-1 {
		position: absolute;
		z-index: 2;
		top: 230px;
		left: 50px;
		width: 251px;
		height: 227px;
		background: url(../images/what-is-ning/5-postit-left.png) no-repeat;
	}

	.postit-1 p {
		padding: 30px 20px 0px 50px;
		-moz-transform: skewY(6deg);
		-webkit-transform: skewY(6deg);
		-ms-transform: skewY(6deg);
		transform: skewY(6deg);
	}

	.postit-2 {
		position: absolute;
		z-index: 2;
		top: 300px;
		left: 665px;
		width: 261px;
		height: 229px;
		background: url(../images/what-is-ning/5-postit-right.png) no-repeat;
	}

	.postit-2 p {
		padding: 30px 30px 0px 30px;
		-moz-transform: skewY(-7deg);
		-webkit-transform: skewY(-7deg);
		-ms-transform: skewY(-7deg);
		transform: skewY(-7deg);
	}

	/* Scroll 6 */
	.scroll-6 .block-1 {
		width: 361px; /*351px*/
		text-align: center;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		left: 150px;
		top: 190px;
	}

	.scroll-6 .block-1 img {
		margin-bottom: 10px;
		border: 6px solid #fff;
		-moz-box-shadow: 0px 0px 6px #000000;
		-webkit-box-shadow: 0px 0px 6px #000000;
		box-shadow: 0px 0px 6px #000000;
	}

	.scroll-6 .block-1 h2 {
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;
	}

	.scroll-6 .block-1 p {
		color: #ffffff;
		font-size: 14px;
		text-align: center;
	}

	.scroll-6 .block-2 {
		width: 310px;
		overflow: hidden;
		position: absolute;
		z-index: 2;
		left: 540px;
		top: 190px;
	}

	.scroll-6 .block-2 h3 {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 36px;
		padding-bottom: 20px;
		margin-bottom: 15px;
		background: url(../images/what-is-ning/6-line.png) bottom left no-repeat;
	}

	.scroll-6 .block-2 p {
		color: #ffffff;
		font-size: 14px;
	}

	.scroll-6 .block-2 h4 {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 18px;
	}

	.scroll-6 .block-2 .quote {
		color: #ffffff;
		font-weight: normal;
		font-size: 13px;
		text-align: center;
		padding: 40px 15px 0px 15px;
		background: url(../images/what-is-ning/6-quote.png) no-repeat;
		width: 222px; /*252px*/
		height: 84px; /*120px*/
	}

	.scroll-6 .block-2 .quote span {
		color: #efc536;
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 12px;
	}

	/* Scroll 7 */
	.scroll-7 .clouds {
		position: absolute;
		z-index: 1;
		width: 1120px;
		height: 499px;
		left: -360px;
		top: 139px;
		background: url(../images/what-is-ning/7-clouds.png) top left no-repeat;
	}

	.scroll-7 .birds {
		position: absolute;
		z-index: 2;
		width: 1119px;
		height: 980px;
		left: 0px;
		top: 0px;
		background: url(../images/what-is-ning/7-birds.png) top left no-repeat;
	}

	.scroll-7 .block-3 {
		position: absolute;
		width: 308px;
		overflow: hidden;
		left: 274px;
		top: 290px;
	}

	.scroll-7 .block-3 h2 {
		color: #9ee6c2;
		font-family: 'gotham_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 2px;
		margin-bottom: 6px;
		border-bottom: 1px solid #ffffff;
	}

	.scroll-7 .block-3 h3 {
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 36px;
		margin-bottom: 4px;
	}

	.scroll-7 .block-3 p {
		color: #ffffff;
		font-size: 14px;
	}

	.scroll-7 .block-4 {
		position: absolute;
		width: 330px;
		overflow: hidden;
		left: 650px;
		top: 277px;
	}

	.scroll-7 .block-4 h4 {
		color: #133e5d;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 21px;

		padding-bottom: 10px;
		margin-bottom: 10px;
		margin-top: 10px;

		background: url(../images/what-is-ning/7-line.png) bottom left no-repeat;
	}

	.scroll-7 .block-4 p {
		color: #133e5d;
		font-size: 12px;
	}

	/* Scroll 8 */
	.scroll-8 .bird-left {
		position: absolute;
		left: 193px;
		top: 386px;
	}

	.scroll-8 .bird-right {
		position: absolute;
		left: 688px;
		top: 155px;
	}

	.scroll-8 .block-1 {
		width: 440px;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		left: 294px;
		top: 233px;
		text-align: left;
	}

	.scroll-8 .block-1 .title {
		color: #8ec7d3;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 54px;

		text-align: center;
		line-height: 1em;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.scroll-8 .block-1 .title span {
		color: #ffffff;
	}

	.scroll-8 .block-1 p {
		color: #133e5d;
		font-size: 14px;
		padding: 0 20px 20px 20px;
	}

	.scroll-8 .block-1 .plus {
		color: #133e5d;
		font-size: 14px;
		font-weight: bold;
		padding: 0 20px 0 20px;
	}

	.scroll-8 .block-1 .plus img {
		float: left;
		margin-right: 15px;
	}

	/* Scroll 9 */
	.scroll-9 .moon {
		position: absolute;
		left: 783px;
		top: 99px;
	}

	.scroll-9 .block-1 {
		width: 300px;
		position: absolute;
		left: 340px;
		top: 200px;
		text-align: left;
	}

	.scroll-9 .block-1 .h1 {
		width: 110px;
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 54px;
		float: left;
		line-height: 1em;
	}

	.scroll-9 .block-1 p {
		width: 190px;
		color: #93c1e8;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 21px;
		padding-top: 4px;
		float: left;
	}

	.scroll-9 .block-1 .row-1 {
		overflow: hidden;
		border-bottom: 1px solid #c1a738;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.scroll-9 .block-1 .row-2 {
		overflow: hidden;
	}

	/* Scroll 10 */
	.scroll-10 .block-2 {
		width: 482px;
		position: absolute;
		left: 253px;
		top: 155px;
		text-align: left;
	}

	.scroll-10 .block-2 h2 {
		color: #efc536;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		border-bottom: 1px solid #103f7b;
		padding-bottom: 6px;
		margin-bottom: 15px;
	}

	.scroll-10 .block-2 h2 span {
		color: #ffffff;
	}

	.scroll-10 .block-2 p {
		color: #ffffff;
		font-size: 14px;
	}

	/* Scroll 11 */
	.scroll-11 .block-3 {
		width: 456px;
		height: 640px;
		position: absolute;
		left: 600px; /*480px*/
		top: 0px;

		background: url(../images/what-is-ning/11-cutout.jpg) no-repeat;

		-moz-box-shadow: 0px 0px 10px #000000;
		-webkit-box-shadow: 0px 0px 10px #000000;
		box-shadow: 0px 0px 10px #000000;
	}

	.scroll-11 .block-3-2 {
		background: url(../images/what-is-ning/11-cutout-2.png) no-repeat;
		-moz-box-shadow: 0px 0px 0px #000000;
		-webkit-box-shadow: 0px 0px 0px #000000;
		box-shadow: 0px 0px 0px #000000;
	}

	.scroll-11 .block-3 .quote {
		width: 239px;
		position: absolute;
		left: 142px;
		top: 277px;

		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;
	}

	.scroll-11 .block-3 h3 {
		width: 239px;
		position: absolute;
		left: 142px;
		top: 472px;

		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;

		text-shadow: 1px 1px 5px #000000;
	}

	/* Scroll 12 */
	.scroll-12 .computer {
		position: absolute;
		left: 103px;
		top: 215px;
	}

	.scroll-12 .block-4 {
		width: 400px;
		height: 640px;
		position: absolute;
		left: 470px;
		top: 190px;
	}

	.scroll-12 .block-4 h1 {
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 36px;
		text-align: center;

		padding-bottom: 10px;
		margin-bottom: 10px;
		background: url(../images/what-is-ning/12-line.png) bottom center no-repeat;
	}

	.scroll-12 .block-4 h2 {
		color: #ffffff;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;
		margin-top: 20px;
	}

	.scroll-12 .block-4 h1 span,
	.scroll-12 .block-4 h2 span {
		color: #efc536;
	}

	.scroll-12 .block-4 .box {
		position: relative;
		width: 275px;
		height: 110px;
		padding-top: 30px;
		margin-left: 63px;
		background: url(../images/what-is-ning/12-box.png) no-repeat;
	}

	.scroll-12 .block-4 .box h3 {
		color: #215520;
		font-family: 'eagle_bookregular', Helvetica, Arial;
		font-weight: normal;
		font-size: 24px;
		text-align: center;
		margin-top: 5px;
	}

	.scroll-12 .block-4 .box p {
		color: #303030;
		font-size: 14px;
		text-align: center;
	}

	.scroll-12 .block-4 .annual {
		color: #9bc89d;
		font-size: 12px;
		text-align: center;
		margin-top: 50px;
	}

	.scroll-12 .block-4 .box .read-more {
		position: absolute;
		bottom: 0;
		margin-left: 100px;
		-moz-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		-ms-transform: skewY(-5deg);
		transform: skewY(-5deg);
	}

/* BANDPAGE */
.bandpage .header-container { display: none;}
.bandpage .container { background-color: #FFFFFF; }
.bandpage .page-default {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

/* BandPage Typography and Links */
	.bandpage h1 {
		color: #1B3E49;
		font-size: 32px;
		text-align: center;
		margin-bottom: 40px;
	}

	.bandpage h2 {
		font-family: 'gotham_bookregular',Helvetica,Arial;
		font-size: 20px;
		font-weight: normal;
		color: #333;
		text-align: center;
	}

	.bandpage p {
		color: #333;
		font-size: 15px;
	}

	.bandpage a {color: #0087FC;}
	.bandpage a:hover {color: #EFC536;}


/* Bandpage Slides */
.bp-slide-1, .bp-slide-2, .bp-slide-3, .bp-slide-4 {width: 100%;} 

.bandpage .bp-slide-1 h1 {
	margin-bottom: 0;
}

.bp-slide-1 {

	background: url("/wp-content/themes/ning/images/bandpage/headerbg.jpg") repeat-x 0 0;
	padding-top: 80px;
}

.bp-slide-1 .logo-list {
	margin: 20px auto 40px;
	overflow: auto;
    width: 830px;
}

.bp-slide-1 .logos {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    float: left;
    padding: 30px 0;
    text-align: center;
    width: 310px;
}

.bp-slide-1 ul {
    float: left;
    margin: 0;
    padding-left: 60px;
}

.bp-slide-1 li {
    font-size: 15px;
    line-height: 1.8em;
}

.bp-slide-1 .setup-free {
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}

.bp-slide-1 .connect {
    margin: 0 auto 15px;
    text-align: center;
    width: 405px;
}

.bp-slide-1 .connect p {
    display: inline;
    float: left;
}

.bp-slide-1 .plans-start {
    clear: both;
    text-align: center;
}

.bp-slide-1 .based-on {float: right;}

.bp-slide-2 { background-color: #F1F1F2; }

.bp-slide-2 .musician {
	float: left;
	margin: 0 5px;
	text-align: center;	
	width: 296px;
}

.bp-slide-2 img {
	background-color: #FFF;
    border: 1px solid #0087FC;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    	box-shadow: 0 1px 2px rgba(0,0,0,.3);
    margin-bottom: 15px;
    padding: 8px;
}

.bp-slide-2 .musician:hover img {
	border: 1px solid #EFC536;
}

.musician a { font-size: 14px; }

.bp-slide-2 .musician:hover a {
	color: #EFC536;
}

.bp-slide-3 {
	background-color: #f9f9f9;
	text-align: center;
}

.bp-slide-4 { 
	background: url("/wp-content/themes/ning/images/bandpage/stars.png") no-repeat center center #EEE; 
	
}

.bp-block {
    margin: 0 auto;
    padding: 50px 20px;
    overflow: auto;
    width: 920px;
}

.bandpage-boxes { float: left; }

	.bandpage-box {
	    background-color: #FFFFFF;
	    border: 1px solid #0087FC;
	    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    			box-shadow: 0 1px 2px rgba(0,0,0,.3);
	    float: left;
	    margin-bottom: 10px;
	    margin-left: 10px;
	    min-height: 250px;
	    padding: 15px;
	    width: 262px;
	}

	.bandpage-box:nth-child(3n) {
		margin-right: 0;
	}

	.bandpage-box h2 {
		font-family: 'gotham_bookregular',Helvetica,Arial;
		font-size: 16px;
		text-align: left;
		font-weight: bold;
	}

	.bandpage-box > ul {
    	margin: 0;
    	padding: 0;
	}

	.bandpage-box li {
		border-bottom: 1px solid #d2d2d2;
		list-style: none outside none;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.bandpage-box li:last-of-type {
		border-bottom: 0 none;
		margin-bottom: 0;
    	padding-bottom: 0;
	}

.bp-connect {
    clear: both;
    padding-top: 50px;
    text-align: center;
}

.bandpage .footer {
	background: url("/wp-content/themes/ning/images/bandpage/footer_buildings.jpg") repeat-x scroll 0 -10px #858f97;
	

    min-height: 70px;
    padding: 0 0 25px;

}

	.bandpage .footer .footer-top,
	.bandpage .footer .follow-us-on, 
	.bandpage .footer .social-icons,
	.bandpage .footer .sitemap {
		display: none;
	}

	.bandpage .footer a, .bandpage .footer .legal {
		color: #FFF;
		font-weight: normal;

	}

.on-boarding-container .step-bp .tagline {
    padding-top: 7px;
}

.on-boarding-overlay .on-boarding-container .step-bp .bottom-controls a.bp-final-step {
    position: relative;
}

.on-boarding-overlay .on-boarding-container .step-bp .bottom-controls {
    padding-top: 10px;
    text-align: center;
}


/* NING FEATURE PAGES */
/* Typography */
.feature-pg h1 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: bold;
}
.feature-pg h2 {
	font-size: 20px;
	margin-bottom: .8em;
}
.feature-pg, .feature-pg h1, .feature-pg h2, .feature-pg p, .feature-pg li {
	color: #323231;
}
.feature-pg h2, .feature-pg strong {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.feature-pg strong {
	font-size: 1.1em;
}
.feature-pg p, .feature-pg li {
	font-size: 14px;
	line-height: 1.3em;
}
.feature-pg .slide a {
	color: #4b6871;
}
.feature-pg .slide a:hover {
	color: #94C793;
}
.feature-pg ul {
	margin: 0;
	padding-left: 16px;	
}
.feature-pg li {
	margin-bottom: 1em;
}
.feature-pg blockquote {
	border-width: 1px;
	background-color: #FFF;
	margin: 0 auto 14px;
	padding: 0 15px 20px;
}
.feature-pg blockquote, .feature-pg .content-block.main, .feature-pg .media iframe, .content-block .media img {
	border-color: #d4d3cf;
	border-style: solid;
	-webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);
			box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);
}
.feature-pg blockquote p {
	color: #444444;
	font-size: 17px;
}
.feature-pg blockquote cite {
	color: #7c7c7c;
	font-size: 12px;
}
.feature-pg blockquote a {
	border-bottom: 1px solid #4b6871;
}
.feature-pg blockquote a:hover {
	border-bottom: 1px solid #94C793;
}

/* Body */
.feature-pg {
	overflow: auto;
	width: 100%;
}
.feature-pg .container {
	background: url(../images/feature_city_bg.png) repeat-x center 120px #fbfaf4;
}
.feature-pg .slide {
	clear: both;
	overflow: auto;
	padding: 10px 0;
	width: 100%;
}
.feature-pg .slide:nth-child(2n+1) {
	background-color: #ecebe6;
	border-top: 1px solid #E1E1DB;
	border-bottom: 1px solid #E1E1DB;
}
.feature-pg .slide:first-of-type {
	background-color: transparent;
	border-top: 0 none;
	border-bottom: 0 none;
	margin-top: 155px;
}
.feature-pg .content-block {
	margin: 0 auto;
	overflow: auto;
	padding: 20px;
	width: 840px;
}
.feature-pg .content-block.main {
	border-width: 0 0 1px 0;
	padding-bottom: 30px;
}
.feature-pg .content-block.learn {
	background-color:#d8e6e9;
	border: 1px solid #c7d4d7;
	margin: 20px auto;
}
.feature-pg .content-block.learn h2 {text-align: center;}
.feature-pg .content-block.learn .lists {
	width: 620px;
	margin: 0 auto;
	overflow: auto;
}
.feature-pg .content-block.learn ul.list-left, .feature-pg .content-block.learn ul.list-middle, .feature-pg .content-block.learn ul.list-right {
	display: inline;
	float: left;
	margin: 0 10px;
	width: 170px;
}
.feature-pg .left-col, .feature-pg .right-col {
	float: left;
	width: 400px;
}
.feature-pg .left-col {
	margin-right: 40px;
}
.feature-pg .media iframe, .feature-pg .media img {
	padding: 8px;
	background-color: #FFF;
	border-width: 1px;
}

/*Qualaroo CSS*/
html div#ki_container {
	margin-right: 50px !important;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 4px;
}
.modal-close .xg_icon-close {
    display: block;
    background: #FFF url(../images/modal-close.png) no-repeat scroll 0 0;
    text-indent: -9999px;
    height: 16px;
    width: 16px;
}

