@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
img { border: 0 }
table {
border-collapse; border-spacing: 0; }
fieldest, img { borser: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul, li { list-style: none; margin:0; padding:0 }
a { text-decoration: none }
body { font-family: "微软雅黑"; font-size: 14px; background:#000; color:#fff}
.left { float: left }
.right { float: right }
.radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.clear:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clear { display:block }

body{ background:#fff; overflow:hidden;}
body{ width:1000px; margin:0 auto; }

.title{ height:20px; line-height:20px; margin-bottom:20px; color:#e3321b; font-size:20px;}
.title .arrow{background:url(http://eden.173.com/178/images/newmlogo_01.png) no-repeat -0px -190px; width:6px; height:12px; vertical-align:middle; display:inline-block; margin-left:10px;}
.title  .more{ color:#666666; font-size:12px; font-weight:normal; padding-top:4px;}
body .linediv{ width:1000px;}
body .videobox{overflow:hidden; position:relative; width:503px; height:281px;  cursor:pointer;}
body .videobox img{width:503px; height:281px;  border:none 0;position: relative; }
body .videobox .label{ text-overflow:ellipsis;white-space:nowrap;overflow:hidden;margin-right:5px;left:0; position:absolute; color:#fff; text-indent:14px;  bottom:0px; font-size:16px; line-height:32px; background:url(http://eden.173.com/178/images/imgmask_03.png) repeat; height:32px; width:503px;}
body .videobox .label .onlinenum{ margin-right:10px;}

 .videobox .live{font-family:"宋体"; font-size:12px; color:#fff;
	position:absolute;  right:0px; top:0px; height:16px; line-height:15px;z-index: 100}
 .videobox .live .arrow{ display:none; background:url(http://eden.173.com/178/images/tagarrow_03.png) no-repeat; width:14px; height:16px; }
.videobox .live .font{ background:url(../images/righttag_05.png) repeat;height:16px; padding:0 3px 0 1px; min-width:40px; text-align:center; padding:2px 4px 2px 4px;}	
	

 .videorooms.videorooms1{ width:496px;  margin-left:1px; }
 .videorooms.videorooms1 .recimgbox{ cursor:pointer; overflow:hidden; position:relative; width:247px; height:140px; margin:0 0 1px 1px;}
 .videorooms.videorooms1 .recimgbox:hover{ text-decoration:none;}
 .videorooms.videorooms1 .recimgbox img{width:247px; border:none 0;position: relative;  height:140px;}
 .videorooms.videorooms1 .recimgbox .recimask{ top:114px; position:absolute; background:url(http://eden.173.com/178/images/imgmask_03.png) repeat;width:247px; height:84px; padding:0px 0 0 15px; left:0;
	transition: all 0.5s;-moz-transition: all 0.5s;	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */-o-transition: all 0.5s;}
 .videorooms.videorooms1 .recimgbox:hover .recimask{ }
.videobox   .hoverbtn{ display:none; z-index:1000; background:url(../images/bg25_09.png) repeat; width:100%; height:100%; position:absolute; top:0; left:0;}
.videobox .hoverbtn em{   position:absolute; background:url(../images/178logo_01.png) no-repeat; width:48px; height:48px; top:50%; left:50%; margin: -24px 0 0 -24px; }

.videobox:hover  .hoverbtn{display:block; }
.videobox.rest .hoverbtn{ display:block;}
.videobox.rest .hoverbtn em{background-position: -60px 0; width:102px; height:38px; margin:-19px 0 0  -51px;}

.recimgbox   .hoverbtn{ display:none; z-index:1000; background:url(../images/bg25_09.png) repeat; width:100%; height:100%; position:absolute; top:0; left:0;}
.recimgbox .hoverbtn em{   position:absolute; background:url(../images/178logo_01.png) no-repeat; width:48px; height:48px; top:50%; left:50%; margin: -24px 0 0 -24px; }

.recimgbox:hover  .hoverbtn{display:block; }
.recimgbox.rest .hoverbtn{ display:block;}
.recimgbox.rest .hoverbtn em{background-position: -60px 0; width:102px; height:38px; margin:-19px 0 0  -51px;}

 
 .videorooms.videorooms1 .recimgbox .recimask span{ display:block; font-size:14px; color:#fff; line-height:25px;}
 .videorooms.videorooms1 .recimgbox .recimask span.name{ line-height:30px;margin-right: 30px;
    overflow: hidden;
    white-space: nowrap;text-overflow:ellipsis}
  .videorooms.videorooms1 .recimgbox:hover .recimask span.name{}
 .videorooms.videorooms1 .recimgbox .recimask span .earp{ background: url(http://eden.173.com/178/images/newmlogo_01.png) no-repeat -200px 0;
 width: 22px; height: 20px;display: inline-block;vertical-align: middle; margin-right: 4px}
 
 .videorooms.videorooms1 .live{font-family:"宋体"; font-size:12px; color:#fff;
	position:absolute;  right:0px; top:0px; height:16px; line-height:15px;z-index: 100}
 .videorooms.videorooms1 .live .arrow{  display:none;background:url(http://eden.173.com/178/images/tagarrow_03.png) no-repeat; width:14px; height:16px; }
.videorooms.videorooms1 .live .font{ background:url(../images/righttag_05.png) repeat; height:16px; padding:0 3px 0 1px;  min-width:40px; text-align:center; padding:2px 4px 2px 4px;}
 
  .videobox img{ transition: all 0.5s;-moz-transition: all 0.5s;	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */-o-transition: all 0.5s;}
 .videobox:hover  img{ transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2); transform-origin:50%;
  -webkit-transform-origin:50%; -o-transform-origin:50%; -ms-transform-origin:50%;-moz-transform-origin:50%;}
 .recimgbox img{ transition: all 0.5s;-moz-transition: all 0.5s;	-webkit-transition: all 0.5s;	/* Safari 和 Chrome */-o-transition: all 0.5s;}
 .recimgbox:hover  img{ transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2); transform-origin:50%;
  -webkit-transform-origin:50%; -o-transform-origin:50%; -ms-transform-origin:50%;-moz-transform-origin:50%;}