
*{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    line-height:1.5em;
}

html, body{
    height:100%;
}

body{
    background:#fff;
    font-family:'Open Sans', sans-serif;
    color:#333333;
    flex-direction:column;
    min-height:100%;
    overflow-y:scroll;
}

input, submit, select, textarea, button{
    font-size:inherit;
}

ul, ol{
    list-style-type:none;
}

a{
    color:inherit;
    text-decoration:inherit;
}

a:hover{
    cursor:pointer;
}

h1{
    display:block;
    font-size:1.6em;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'longmaneltdict';
    src:url(http://www.ldoceonline.com/external/fonts/longmaneltdict.eot?version=1.1.15);
    src:url(http://www.ldoceonline.com/external/fonts/longmaneltdict.eot?version=1.1.15) format('embedded-opentype'),
        url(http://www.ldoceonline.com/external/fonts/longmaneltdict.ttf?version=1.1.15) format('truetype'),
        url(http://www.ldoceonline.com/external/fonts/longmaneltdict.woff?version=1.1.15) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* transition */

a{
    -webkit-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
}

/* end */

/* shadow */

.csm,
.inputSuggestions{
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* end */

/* header */

.header{
    background:#314089; 
    position: relative;
}

.home .logo {
    width: 120%;
}

.logo{
    opacity:1;
    vertical-align:middle;
}

.home .logo_link {
    vertical-align:middle;
    width: 21%;
}


.logo_link{
    display:inline-block;
    margin-left: 40px;
}

.csl,
.search_input{
    vertical-align:middle;
    outline: none;
}

.search_input{
    font-family: 'Open Sans', sans-serif!important;
    font-size: 16px!important;
    background:none;
    color:#000;
    padding: 1em;
    padding-left: 1.5em;
    width: 90%;
    -webkit-appearance: none; /*Safari*/
}

.search_input::-webkit-input-placeholder{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: bold;
    color: #333333;
    font-size: 1.05em;
}

.home .search_form{
    vertical-align:middle;
    width: 43%;
}

.search_form{
    display: inline-block;
    border-radius:10px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 1);
    margin: 30px 50px;
    width: 45%;
}

.header_version {
    color: white;
    display: inline-block;
    font-size: 13px;
    margin-top: 30px;
    font-weight: 300;
    position: absolute;
    right: 45px;
    width: 13%;
    text-align: right;
}

.header_version .fa-globe {
    font-size: 2.5em;
    vertical-align: sub;
    margin-right: 15px;
}

/* end */

/* footer */


.footer .responsive_row div {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.footer .responsive_row .grey_part {
    background-color: #333333;
    text-align: center;
    padding: 70px 0;
}

.footer .share_links,
.footer .links,
.footer .responsive_row .blue_part div {
    display: inline-block;
    vertical-align: middle;
}

.footer .share_panel {
    margin: 0!important;
}

.footer .share_panel a{
    color: #333333;
    background-color: white;
}


.footer .links {
    color: white;
    font-size: 13px;
    text-align: left;
    font-weight: 300;
    padding-left: 200px;
}

.footer .links a {
    padding: 4px 0;
    display: table;
}

.footer .responsive_row .blue_part {
    background-color: #314089;
    text-align: center;
    padding: 8px 0;
}

.footer .responsive_row .blue_part div.always_learning,
.footer .responsive_row .blue_part div.pearson {
    width: 40%;
}

.footer .responsive_row .blue_part div.pearson {
    padding-left: 195px;
    text-align: left;
}

.footer .responsive_row .blue_part img.always_learning,
.footer .responsive_row .blue_part img.pearson {
    vertical-align: middle;
}

/* end */

/* browse */

.browse_letters,
.browse_dictionaries {
    margin-bottom: 20px;
}

.browse_letters li{
    display:inline-block;
}

.browse_letters li a{
    display:inline-block;
    padding:1em;
}

.browse_letters li a:hover{
    background:#222;
    color:#eee;
    display:inline-block;
}

.browse_groups,
.browse_results{
    list-style:disc outside;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin-bottom: 20px;
}

.browse_groups li,
.browse_results li{
    margin-left: 20px;
    padding:0.5em;
}

.browse_groups li a:hover,
.browse_dictionaries li a:hover,
.browse_results li a:hover{
    background:#222;
    color:#eee;
}

.browse_groups li a .head{
    display:inline;
}

.browse_results .pos,
.browse_panel .pos,
.searches .pos{
    font-size:0.8em;
    font-style:italic;
    vertical-align:top;
}

.browse_panel{
    margin-top: 20px;
    padding:20px;
    background:rgba(0, 0, 0, 0.1);
}

.browse_panel a{
    display:block;
    padding:8px 20px;
}

.browse_panel a:hover,
.browse_panel a.current{
    color:#ccc;
    background-color:#333;
}

.browse_panel a[class=seeAllResults],
.browse_panel a[class=seeAllTopics] {
    text-decoration: underline;
}

.browse_panel ul li pos,
.content .searches li pos {
    font-variant:small-caps;
    text-transform:lowercase;
    font-size: 0.8em;
}
/* end */

/* search results & did you mean */

.searches,
.didyoumean{
    list-style:disc outside;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-bottom: 10px;
}

.searches li,
.didyoumean li {
    margin-left: 20px;
    padding: 0.5em;
}

.searches li a,
.didyoumean li a {
    font-weight: bold;
}

.searches li a pos{
    font-weight: normal;
}

.searches li a:hover,
.didyoumean li a:hover{
    background:#222;
    color:#eee;
}

.searches li sup {
    vertical-align: top;
    font-size: 0.8em;
}

/* end */

/* topic cloud */
.cloud {
    margin-bottom: 10px;
}
.cloud li {
    display:inline-block;
}

/* end */

.content{
    position:relative;
    flex:1 0 auto;
    min-height: 500px;
}

.message{
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    height:100%;
    width:100%;
}

/* custom selector */

.csl{
    font-size:19.2px;
    background-color: white;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}

.csl .fa-search {
    font-weight: bold;
    color: lightgrey;
}

.csm{
    position:absolute;
    z-index:10;
}

.csm a{
    display:block;
    padding:10px 20px;
    background:#ccc;
}

.csm a:hover,
.csm a.current{
    color:#ccc;
    background-color:#333;
}

/* end */

/* autocomplete */

.inputSuggestions{
    font-size:16px;
    z-index:10;
    position:absolute;
    margin-left: 10px;
}

.inputSuggestions a{
    display:block;
    padding:10px 20px;
    background:#ccc;
}

.inputSuggestions a.footerLink{
    background:#aaa;
}

.inputSuggestions a:hover,
.inputSuggestions a.current{
    color:#ccc;
    background-color:#333;
}

/* end */

/* share panel */
.share_panel a{
    margin:0 10px;
    color: white;
    background-color: #333333;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 1.5em;
}
/* end */

/* entry content */

.entry_content, 
.page_content,
.error_content {
    margin: 28px 50px 20px 50px;
}

.EXAMPLE{
    color:#778899;
    margin-left:20px;
}

.entry_content .dictionary .defRef{
    border-bottom: thin dotted gray;
}

/* end */

/* error content */

.error_content p a {
    text-decoration: underline;
}

/* end */

/* about page */

.aboutlist{
    list-style-type: disc;
}

.aboutlist li{
    margin-left: 20px;
}
.aboutlist li a{
    text-decoration: underline;
}

.browse_dictionaries,
.browse_letters,
.aboutText,
.howtouseText{
    margin-bottom: 10px;
} 

/* end */

/* how to use page */

.howtouseText .howtouseP{
    margin-bottom: 20px;
    max-width: 1000px;
}

.howtouseText .howtouseP a{
    text-decoration: underline;
}

.howtouse_image{
    float: none!important;
    margin-bottom: 30px;
}

.howtouseText #consonants {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.howtouseText #vowels {
    margin-bottom: 10px;
}

/* end */.content .ENTRY .POSGR{
    margin-top:2em;
}

.content .ENTRY .SENSE{
    margin-top:1em;
}

.content .ENTRY .EXAS{
    margin-left:1em;
}

.content .ENTRY .EXACNT .attr-type{
    display:inline-block;
    margin-right:2em;
}

.content .ENTRY .EXACNT .attr-type:before{
    content:"[";
}

.content .ENTRY .EXACNT .attr-type:after{
    content:"]";
}

.content .ENTRY .EXA{
    font-style:italic;
}

.content .ENTRY .EXA:before{
    content:"'";
}

.content .ENTRY .EXA:after{
    content:"'";
}

.content img{
    float: right;
    width: 30%;
}

.content .speaker:hover{
    cursor: pointer;
}

.content td{
    padding-right: 2px;
}

.home .content {
    margin: 0;
}

.home .content .home_content {
    margin: 0 auto 60px auto;
}

.home .content .text_welcome {
    margin: 0 auto 0px;
    text-align: center;
    width: 80%;
}

.home .content .text_welcome h1 {
    font-size: 1.8em;
}

.home .content .cols {
    text-align: center;
}

.home .content .left_col,
.home .content .middle_col,
.home .content .right_col {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.home .content .box,
.responsive_cell2 .right_col .box {
    padding: 20px;
}

.home .content .grey_box {
    border: 1px solid lightgray;
    margin: 20px 20px 0 0;
    height: 270px;
}

.responsive_cell2 .right_col .grey_box {
    border: 1px solid lightgray;
    margin: 20px 20px 0 0;
}

.home .content .left_box {
    width: 280px;
}

.responsive_cell2 .right_col #wotd,
.responsive_cell2 .right_col #iotd {
    width: 300px;
}

.home .content .box_title,
.home .content .ldoceEntry .Sense,
.home .content .middle_col ul,
.home .content .left_col ul,
.home .content span.view_more,
.home .content #todays_topics,
.responsive_cell2 .right_col .box_title, {
    font-family: "Arial Unicode MS", "Open Sans";
}

.home .content div.box_title,
.responsive_cell2 .right_col div.box_title {
    margin-bottom: 10px;
}

.home .content .left_box.wotd .box_title {
    margin: 0;
}

.home .content span.box_title,
.responsive_cell2 .right_col span.box_title {
    color: white;
    padding: 0 20px 2px 7px;
}

.home .content #wotd,
.responsive_cell2 .right_col #wotd {
    overflow-y: auto;
}

.home .content #wotd .box_title,
.responsive_cell2 .right_col #wotd .box_title {
    background-color: red;
}

.home .content #latest_title {
    background-color: #f1d600;
}

.home .content .left_box .title_entry,
.responsive_cell2 .right_col .left_box .title_entry {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    display: inherit;
}

.home .content .ldoceEntry .Sense {
    margin: 0;
}

.home .content .left_box ul {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.home .content li,
.home .content span.view_more {
    font-weight: bold;
}

.home .content li {
    color: black;
}

.home .content span.view_more,
.home .content .topic_5 {
    color: blue;
}

.home .content div.view_more {
    margin-left: 20px;
}

.home .content .middle_box {
    width: 360px;
}

.home .content #todays_topics {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    background-color: #e5e5e5;
    padding: 0 27px 0 10px;
    width: 150px;
    margin-bottom: 20px;
}

.home .content .middle_box ul {
    text-align: center;
    font-size: 1.2em;
}

.home .content .middle_box ul li, 
.home .content .middle_box .text {
    font-family: Arial, Tahoma, Helvetica;
}

.home .content .middle_box ul li {
    display: inline-block;
}

.home .content .topic_1,
.home .content .topic_7,
.topic .content .topic_1,
.topic .content .topic_7{
    color: #B7BFCC;
}

.home .content .topic_4,
.home .content .topic_10,
.topic .content .topic_4,
.topic .content .topic_10 {
    font-size: 1.5em;
    color: #FF801A;
}

.home .content .topic_2, 
.home .content .topic_8,
.topic .content .topic_2, 
.topic .content .topic_8 {
    color: #2B6EFF;
}

.home .content .topic_3, 
.home .content .topic_9,
.topic .content .topic_3, 
.topic .content .topic_9 {
    color: #EC0F8C;
}

.home .content .topic_6,
.topic .content .topic_6  {
    font-size: 0.75em;
    color: #00A9FF;
}
.home .content #pictures_title,
.responsive_cell2 .right_col #pictures_title { 
    background-color: #35a3ff;
}

.home .content .middle_box .text {
    color: black;
    font-size: 0.95em;
}

.home .content .right_col {
    margin-top: 20px;
}

.responsive_cell2 .right_col {
    margin-top: 200px;
    margin-bottom: 20px;
    width: 300px;
}

.home .content .right_box,
.home .content .right_box .hover {
    height: 180px;
    width: 180px;
}
.home .content .right_box {
    margin-bottom: 10px;
    background-color: #fae660;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.home .content .right_box .symbols {
    font-size: 5em;
    font-family: 'longmaneltdict';
    margin-top: 15px;
}

.home .content .right_box .meanings:before {
    content: "\e616";
}

.home .content .right_box .corpus:before {
    content: "\e613";
}
.home .content .right_box .def:before {
    content: "\e610";
}

.home .content .right_box .hover {
    display: none;
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: left;
}

.home .content .right_box:hover .hover {
    display: block;
}

.home .content .right_box .hover div {
    color: #fae660;
    margin-bottom: 5px;
}

.home .content .right_box .hover li {
    color: white;
    font-weight: 300;
    font-size: 0.7em;
}

.home .content .right_box .hover li:before {
    content: "+";
    margin-right: 4px;
    color: #fae660;
}

.home .content .pictures,
.responsive_cell2 .right_col #iotd .pictures {
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    border-left: 0; /* EDGE */
    border-right: 0; /* EDGE */
    margin: 10px 0;
    border-image: radial-gradient(black, white);
    -webkit-border-image: radial-gradient(black, white);
    border-image-slice: 1;
}

.home .content .pictures img,
.responsive_cell2 .right_col #iotd .pictures img {
    text-align: center;
    margin: 5px 10px;
    width: 40%;
    height: 40%;
    float: none;
}

.home .content .carousel {
    background-color: #dedddd;
    text-align: center;
    padding: 40px 0 30px;
    float: none;
}

.home .content .fa {
    font-size: 6em;
    color: #9e9d9e;
    cursor: pointer;
}

.home .content .fa-angle-left {
    margin-right: 8%;
}

.home .content .fa-angle-right {
    margin-left: 8%;
}

.home .content .carousel img {
    width: 130px;
}

.home .content .carousel .parts,
.home .content .carousel .right_content,
.home .content .carousel .part_icon {
    display: inline-block;
}

.home .content .carousel .parts,
.home .content .fa {
    vertical-align: middle;
}

.home .content .carousel .parts {
    width: 310px;
}

.home .content .carousel .part1,
.home .content .carousel .part3 {
    margin-right: 40px;
}

.home .content .carousel .part3,
.home .content .carousel .part4 {
    display: none;
}

.home .content .dict_title,
.home .content .carousel .right_content  {
    text-align: left;
}

.home .content .carousel .right_content {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
}

.home .content .dict_title {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 0.95em;
}

.home .content .carousel .part_icon {
    text-align: center;
    margin: 0 10px 20px 13px;
}

.home .content .carousel .little_text {
    font-size: 0.7em;
    font-weight: bold;
}

.home .content .carousel .icon {
    width: 20px;
    height: 20px;
}

.home .content .more_info {
    background-color: #314089;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    display: table;
}.responsive_row{
    clear:both;
}

.responsive_row:before,
.responsive_row:after{
    display:table;
    content:"";
    clear:both;
}

    .responsive_cell1{
        width:10%;
    }
    .responsive_cell2{
        width:20%;
    }
    .responsive_cell3{
        width:30%;
    }
    .responsive_cell4{
        width:40%;
    }
    .responsive_cell5{
        width:50%;
    }
    .responsive_cell6{
        width:60%;
    }
    .responsive_cell7{
        width:70%;
    }
    .responsive_cell8{
        width:80%;
    }
    .responsive_cell9{
        width:90%;
    }
    .responsive_cell10{
        width:100%;
    }

[class*="responsive_cell"]{
    float:left;
}

.content h1.pagetitle,
.content h1.topicpagetitle {
    margin-bottom: 20px;
}

.topicCloud {
    margin-bottom: 20px;
}

#ad_topslot.am-home {
  margin: 15px 0;
  text-align: center;
}

#ad_topslot.am-default {
  margin: 15px 0 0 0;
}

#ad_btmslot.am-default {
  text-align: center;
}

#ad_rightslot.am-default {
  margin: 15px 0;
}

.mpuslot-container {
  min-width: 320px;
  width: 100%;
  padding: 0;
  z-index: 10000;
}

.mpuslot {
  width: 320px;
  margin: 0 auto;
}

/* mobile */

@media screen and (max-width: 761px){

    [class*="responsive_cell"]{
        float:none;
        width:auto;
    }

    .csl{
        margin:5px 5px 5px;
        font-size:1em;
    }

    .responsive_hide_on_smartphone,
    .responsive_hide_on_smartphone_tablet{
        display:none!important;
    }

    .logo{
        width: 120%;
    }
    
    .home .logo_link {
        margin: 0;
    }

    .logo_link{
        margin: 10px;
        width: 15%;
    }

    h1{
        font-size:1.6em;
        margin-top: 5px;
    }

    .searches,
    .browse_groups,
    .browse_results,
    .didyoumean {
        list-style:disc outside;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-bottom: 15px;
    }

    .home .search_form,
    .search_form {
        width: 73%;
        margin: 0;
    }

    .search_input{
        width: 78%;
    }

    .content{
        min-height: 200px;
        margin-bottom: 20px;
    }

    .content img{
        clear: both;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .responsive_cell2 .right_col #iotd .pictures img {
        display: inline;
    }

    .entry_content, 
    .page_content,
    .error_content {
        margin: 15px 10px 10px 10px;
}

    .content h1.pagetitle,
    .content h1.topicpagetitle,
    .dictionary,
    .topicCloud {
        margin-bottom: 10px;
    }

    .dictionary_intro,
    .topic_intro {
      margin:5px 0 10px 0px!important
    }


    .home .content .text_welcome h1 {
        font-size: 1em;
    }

    .home .content .text_welcome {
        width: 90%;
    }

    .home .content .middle_box,
    .home .content .left_box {
        width: 100%;
        height: auto;
    }

    .home .content .pictures {
        text-align: center;
    }

    .home .content .pictures img {
        display: inline-block;
        text-align: center;
    }

    .home .content .right_box,
    .home .content .right_box .hover {
        height: 280px;
        width: 280px;
    }

    .home .content .right_box {
        padding: 30px;
    }

    .home .content .right_box .hover div {
       font-size: 1.3em;
    }

    .home .content .right_box .hover li {
       font-size: 1em;
    }

    .home .content .fa-angle-right {
        margin-left: 2%;
        font-size: 3em;
    }

    .home .content .fa-angle-left {
        margin-right: 2%;
        font-size: 3em;
    }

    .responsive_cell2 .right_col {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .footer, 
    .home .content .fa {
        display:block;
    }

    .footer .links,
    .footer .responsive_row .blue_part div.pearson {
        padding: 0;
    }

    .home .content .carousel .part1,
    .home .content .carousel .part3 {
        margin: 0;
    }

    .footer .share_links {
        margin-bottom: 30px;
    }

    .footer .responsive_row .blue_part div {
        margin-left: auto;
        margin-right: auto;
        display: inline;
    }

    .logo_link {
        padding: 10px;
    }
    
    #ad_topslot.am-default {
      margin: 5px 0;
      text-align: center;
    }
}

/* tablet */

@media screen and (min-width: 762px) and (max-width: 948px){

    .responsive_hide_on_smartphone_tablet {
        display: none;
    }

    .content{
        margin: 0 0 30px 0;
        min-height: 500px;
    }

    .content img{
        width: 50%;
    }

    .responsive_cell2 .right_col #iotd .pictures img {
        display: inline;
    }

    h1 {
    margin-bottom: 10px;
    }

    .content h1.pagetitle,
    .content h1.topicpagetitle {
        margin-bottom: 10px;
    }
    .responsive_cell6 {
        width: 59%;
    }

    .logo {
        width: 90%;
    }

    .entry_content, 
    .page_content,
    .error_content {
        margin: 20px 20px 10px 20px;
    }

    .searches,
    .browse_groups,
    .browse_results,
    .didyoumean {
        list-style:disc outside;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-bottom: 10px;
    }

    .search_form{
        margin: 30px 40px;
    }

    .search_input {
        width: 85%;
    }

    .home .content .text_welcome h1 {
        font-size: 1em;
    }

    .home .content .fa-angle-right {
        margin-left: 2%;
        font-size: 3em;
    }

    .home .content .fa-angle-left {
        margin-right: 2%;
        font-size: 3em;
    }
    
    #ad_topslot.am-default {
      margin: 15px 0 0 15px;
    }

    .responsive_cell2 .right_col {
        margin-top: 180px;
    }

    .footer .links {
        padding-left: 100px;
    }
}

@media screen and (min-width: 762px){
    .responsive_hide_on_non_smartphone{
        display:none;
    }
    
    .home .logo_link {
        margin: 1% 7% 7% 6%;
    }
}

/* Desktop */

@media screen and (min-width: 948px){
    .home .search_input {
        width: 90%;
    }
    
    
    #ad_leftslot_container {
        width: 160px;
        float: left;
        margin: 125px 0 15px 15px;
    }
}

/* Small desktop screen */

@media screen and (min-width: 948px) and (max-width: 1224px){

    .entry_content, 
    .page_content,
    .error_content {
        margin: 28px 20px 20px 20px;
    }

    .content .responsive_cell2.left_col {
        width: 10%;
    }

    .responsive_cell6 {
        width: 48%;
    }

    .browse_groups,
    .browse_results {
        list-style:disc outside;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .footer .links {
        padding-left: 100px;
    }
}
/**** FREEONLINE****/
.page {
    font-family : "Arial Unicode MS", "Open Sans";
    font-size : 13pt;
    display : block;
}

h1.pagetitle,
h1.topicpagetitle {
    font-size : 1.6em;
    font-weight : bold;
}

.topicpagetitle a{
    font-style: italic;
}

.topicpagetitle a:hover{
    color: #314089;
}

.metadata,
.metadata {
    color : magenta;
    /*    display : block;*/
    display : none;
}

.infls,
.description,
.title,
.url,
.summary,
.og,
.infls,
.description,
.title,
.url,
.summary,
.og {
    display : block;
}

.infls:before,
.infls:before {
    content : 'inflections: ';
}

.description:before,
.description:before {
    content : 'description: ';
}

.summary:before,
.summary:before {
    content : 'summary: ';
}

.title:before,
.title:before {
    content : 'title: ';
}

.exaGroup .title:before,
.exaGroup .title:before {
    content : '';
}

.Crossrefto {
    color : blue;
    font-weight:bold
}

.suppressed {
    display : none;
}

.og .title:before,
.og .title:before {
    content : 'og.title: ';
}

.url:before {
    content : 'url: ';
}

.og .url:before,
.og .url:before {
    content : 'og.url: ';
}

.assetref,
.assetref {
    display : block;
}

.assettype {
    font-weight : bold;
    color : #364395;
}

.dictentry {
    display : block;
    margin-bottom : 25px;
}

.dictionary_intro,
.topic_intro {
    display : block;
    background-color:#35a3ff;
    color:#fff;
    padding-left:10px;
    margin:5px 0 10px -7px
}
.assets_intro,
.asset_intro {
    border : solid 1px ;
    border-color : #f1d600;
    background-color:#f1d600;
    color : #fff;
    font-weight:normal;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    padding-left : 3px;
    padding-right : 3px;
}

.right_col .yellow_box {
    margin-bottom: 10px;
    display: inline-block;
}

.yellow_box {
    margin-top: 22px;
}

/*****  LDOCE  ***************************/
.ldoceEntry .Entry
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-size : 11pt;
    text-align : justify;
    display : block;
    margin-top : 8px;
}

.ldoceEntry .Thesref {
    color : #364395;
}


.ldoceEntry .ABBR
{
    font-weight : bold;
}

.ldoceEntry .ACTIV
{
    display : none;
}

.ldoceEntry .AMEQUIV
{
    font-weight : bold;
}

.ldoceEntry .BOX
{
    display : none;
}

.ldoceEntry .BREQUIV
{
    font-weight : bold;
}

.ldoceEntry .COLLO
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .ColloExa
{
    display : block;
}

.ldoceEntry .COLLOINEXA
{
    font-weight : bold;
}

.ldoceEntry .COMMENT
{
    display : none;
}

.ldoceEntry .COMP
{
    font-weight : bold;
}

.ldoceEntry .Crossrefto
{
    font-weight : bold;
    font-size : 120%;
}

.ldoceEntry .DERIV
{
    font-weight : bold;
    font-size : 120%;
}

.ldoceEntry .Entry
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-size : 11pt;
    text-align : justify;
}

.ldoceEntry .ErrorBox
{
    display : block;
}

.ldoceEntry .EXAMPLE
{
    display : block;
    margin-left : 20px;
    color : gray;
}


.ldoceEntry .FIELD
{
    display : none;
}

.ldoceEntry .AC,
.ldoceEntry .synopp {
    color : #fff;
    border-color: #f1d600;
    background-color:#f1d600;
}

.ldoceEntry .FREQ
{
    color : red;
    border-color : red;
}

.ldoceEntry .LEVEL
{
    color : red;
    font-size : 120%;
}

.ldoceEntry .FULLFORM
{
    font-weight : bold;
}

.ldoceEntry .GEO,
.ldoceEntry .geo
{
    font-weight : normal;
    color : #364395;
}

.ldoceEntry .GLOSS
{
    color : #364395;
    font-weight : normal;
    font-style : normal;
    font-family : "Arial Unicode MS", "Open Sans";
}

.ldoceEntry .GRAM,
.bussdictEntry .GRAM
{
    color : green;
    font-weight:bold;
    margin:0 5px 10px 3px
}

.ldoceEntry .GramExa
{
    display : block;
}

.ldoceEntry .HINTBOLD
{
    font-weight : bold;
}

.ldoceEntry .HINTITALIC
{
    font-style : italic;
}

.ldoceEntry .HINTTITLE
{
    font-weight : bold;
}

.ldoceEntry .frequent .HOMNUM {
    vertical-align : super;
    font-size : 12pt;
    color : red;
    font-weight : bold;
}

.ldoceEntry .frequent .HYPHENATION {
    color : red;
    font-size : 160%;
}
.ldoceEntry .HOMNUM
{
    vertical-align : super;
    font-size : 12pt;
    color : red;
    font-weight : bold;
}

.ldoceEntry .HWD
{
    display : none;
}

.ldoceEntry .HYPHENATION,
.ldoceEntry .PHRVBHWD
{
    font-weight : bold;
    font-size : 160%;
    color : red;
}

.ldoceEntry .LEXUNIT,
.ldoceEntry .LEXVAR
{
    font-weight : bold;
}

.ldoceEntry .LINKWORD
{
    color : #364395;
}

.ldoceEntry .NOTE,
.ldoceEntry .Noteprompt
{
    display : none;
}

.ldoceEntry .OBJECT
{
    font-weight : normal;
}

.ldoceEntry .OPP,
.ldoceEntry .ORTHVAR,
.ldoceEntry .PASTPART,
.ldoceEntry .PASTTENSE
{
    font-weight : bold;
}

.ldoceEntry .PhrVbEntry
{
    display : block;
}

.ldoceEntry .PIC,
.ldoceEntry .PICCAL
{
    display : none;
}

.ldoceEntry .PLURALFORM
{
    font-weight : bold;
}

.ldoceEntry .POS,
.bussdictEntry .POS
{
    color : green;
    font-weight:bold;
    margin:0 0 0 10px
}

.ldoceEntry .PRESPART,
.ldoceEntry .PRESPARTX
{
    font-weight : bold;
}

.ldoceEntry .PROPFORM
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .PROPFORMPREP
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .PTandPP,
.ldoceEntry .PTandPPX
{
    font-weight : bold;
}

.ldoceEntry .REFHOMNUM
{
    vertical-align : super;
    font-size : 60%;
}

.ldoceEntry .REFHWD
{
    font-weight : bold;
    font-style : normal;
}

.ldoceEntry .REFLEX
{
    font-weight : bold;
}

.ldoceEntry .REGISTERLAB
{
    color : purple;
    font-style : italic;
}

.ldoceEntry .RELATEDWD
{
    font-weight : bold;
    color:blue;
}

.ldoceEntry .RunOn
{
    display : block;
    margin-bottom : 10px;
}

.ldoceEntry .Sense {
    display : block;
    margin-left : 20px;
    margin-bottom : 15px;
}

.ldoceEntry .SIGNPOST
{
    background-color: #f18500;
    color: white;
    font-weight: bold;
    font-size: 79%;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* padding-left: 3px; */
    /* padding-right: 3px; */
    padding: 0px 5px;
    letter-spacing: 1px;
}

.ldoceEntry .STRONG
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-style : italic;
}

.ldoceEntry .Subsense
{
    display : block;
    margin-left : 10px;
}

.ldoceEntry .SUPERL,
.ldoceEntry .SYN,
.ldoceEntry .T3PERSSING,
.ldoceEntry .T3PERSSINGX
{
    font-weight : bold;
}

.ldoceEntry .UNCLASSIFIED
{
    font-weight : bold;
}

.ldoceEntry .USAGE
{
    display : none;
}

.ldoceEntry .GramBox .CROSS .neutral {
    color: red;
    margin-right: 10px;
}

.ldoceEntry .neutral
{
    color : black;
    font-style : normal;
    font-weight : normal;
    font-variant : normal;
    font-family : Arial Unicode MS, "Open Sans";
}

 .ldoceEntry .EXPL .cross,
 .ldoceEntry .GramBox .EXPL .dont_say,
 .ldoceEntry .BADEXA
{
    color : red;
}

.ldoceEntry .italic
{
    font-style : italic;
    font-weight : normal;
    font-family : Arial Unicode MS, "Open Sans";
}

.ldoceEntry .infllab
{
    font-style : italic;
    font-weight : normal;
    font-family : Arial Unicode MS, "Open Sans";
}

.ldoceEntry .warning
{
    font-style : normal;
    font-weight : bold;
    font-family : Arial Unicode MS, "Open Sans";
    color : red;
}

.ldoceEntry .sensenum
{
    font-style : normal;
    font-weight : bold;
    color : black;
}

.ldoceEntry .synopp,
.ldoceEntry .FREQ,
.ldoceEntry .AC
{
    display : inline-block;
    font-style : normal;
    font-weight : bold;
    text-transform : uppercase;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid 1px;
    padding-left : 4px;
    padding-right : 4px;
}

.ldoceEntry .ColloBox,
.ldoceEntry .ThesBox,
.ldoceEntry .F2NBox,
.ldoceEntry .GramBox {
    display : block;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid #364395 1px;
    padding : 15px;
    margin : 8px 0;
}

.GramBox{
    background-color:#fff;
    color:#000
}

.GramBox .boxheader {
    line-height:2em
}

.ColloBox .heading {
    line-height:2em;
    margin:0 10px 0  0
}

.ThesBox .heading{
    line-height:2em
}

.ldoceEntry .HEADING,
.ldoceEntry .heading {
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

.ldoceEntry .HEADING.newline {
    display : block;
}

.ldoceEntry .SECHEADING,
.ldoceEntry .subheading {
    display : table;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid #6f469d 2px;
    padding-left : 4px;
    padding-right : 20px;
    margin:25px 0 10px 0;
    font-weight : bold;
    color : white;
    text-transform : uppercase;
    background-color : #6f469d;
}

.ldoceEntry .Collocate,
.ldoceEntry .Exponent {
    display : block;
    margin:15px 0 0 6px;
}

.ldoceEntry .EXPL {
    display : block;
}

.ldoceEntry .COLLOC,
.ldoceEntry .EXP,
.ldoceEntry .EXPR {
    font-weight : bold;
}

.ldoceEntry .keycollo {
    font-weight : bold;
    color : #364395;
}

.ldoceEntry .THESPROPFORM {
    font-weight : bold;
}

.ldoceEntry .COLLEXA,
.ldoceEntry .THESEXA {
    color : gray;
    display : block;
}


.ldoceEntry .LearnerItem {
    display : block;
}

.ldoceEntry .GOODCOLLO {
    font-style : italic;
}

.ldoceEntry .BADCOLLO {
    text-decoration : line-through;
}

.ldoceEntry .DEFBOLD {
    font-weight : bold;
}

.ldoceEntry .exafile {
    color : gray;
    font-style : normal;
    font-size : 120%;
    padding: 5px;
}

.ldoceEntry .amefile {
    color : #4693db;
    font-size : 130%;
    padding-left: 5px;
}

.ldoceEntry .brefile {
    color : #fa6360;
    font-size : 130%;
    padding-left: 5px;
}


/*****  BUSSDICT  ***************************/
.bussdictEntry .Entry
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-size : 11pt;
    text-align : justify;
    display : block;
    margin-top : 8px;
}

.bussdictEntry .supp
{
    background-color : gray;
}

.bussdictEntry .ABBR,
.bussdictEntry .AMEQUIV,
.bussdictEntry .BREQUIV,
.bussdictEntry .COLLO,
.bussdictEntry .COMP
{
    font-weight : bold;
}

.bussdictEntry .ACTIV,
.bussdictEntry .BOX,
.bussdictEntry .COMMENT
{
    display : none;
}

.bussdictEntry .ColloExa
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .COLLOINEXA
{
    font-style : italic;
    font-weight : bold;
}

.bussdictEntry .DERIV
{
    font-weight : bold;
    font-size : 120%;
}

.bussdictEntry .Entry
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-size : 11pt;
    text-align : justify;
}

.bussdictEntry .ErrorBox
{
    display : block;
}

.bussdictEntry .EXAMPLE
{
    display : block;
    margin-left : 15px;
    color : gray;
}

.bussdictEntry .FIELD
{
    display : none;
}

.bussdictEntry .FREQ,
.bussdictEntry .LEVEL
{
    font-weight : bold;
    color : red;
}

.bussdictEntry .FULLFORM
{
    font-weight : bold;
}

.bussdictEntry .GEO,
span.geo
{
    font-weight : normal;
    font-style : italic;
    color : #364395;
}

.bussdictEntry .GLOSS
{
    font-weight : normal;
    font-style : normal;
    color : #364395;
    font-family : "Arial Unicode MS", "Open Sans";
}

.bussdictEntry .GramExa
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .HINTBOLD,
.bussdictEntry .HINTTITLE
{
    font-weight : bold;
}

.bussdictEntry .HINTITALIC
{
    font-style : italic;
}

.bussdictEntry .HOMNUM
{
    vertical-align : super;
    font-size : 12pt;
    font-weight : bold;
}

.bussdictEntry .HWD
{
    display : none;
}

.bussdictEntry .HYPHENATION
{
    font-weight : bold;
    font-size : 160%;
}

.bussdictEntry .LEXUNIT,
.bussdictEntry .LEXVAR
{
    font-weight : bold;
}

.bussdictEntry .LINKWORD
{
    color : #364395;
}

.bussdictEntry .NOTE,
.bussdictEntry .Noteprompt
{
    display : none;
}

.bussdictEntry .OBJECT
{
    font-weight : normal;
}

.bussdictEntry .OPP,
.bussdictEntry .ORTHVAR,
.bussdictEntry .PASTPART,
.bussdictEntry .PASTTENSE
{
    font-weight : bold;
}

.bussdictEntry .PhrVbEntry
{
    display : block;
}

.bussdictEntry .PHRVBHWD
{
    font-weight : bold;
    color : #364395;
    font-size : 120%;
}

.bussdictEntry .PIC,
.bussdictEntry .PICCAL
{
    display : none;
}

.bussdictEntry .PLURALFORM
{
    font-weight : bold;
}

.bussdictEntry .PRESPART,
.bussdictEntry .PRESPARTX,
.bussdictEntry .PROPFORM,
.bussdictEntry .PROPFORMPREP,
.bussdictEntry .PTandPP,
.bussdictEntry .PTandPPX
{
    font-weight : bold;
}

.bussdictEntry .REFHOMNUM
{
    vertical-align : super;
    font-size : 60%;
}

.bussdictEntry .REFHWD
{
    text-transform : lowercase;
    font-style : normal;
    font-variant : small-caps;
}

.bussdictEntry .FIELDXX,
.bussdictEntry .Crossrefto .REFLEX {
    display : none;
}

.bussdictEntry .REFLEX
{
    font-weight : bold;
}

.bussdictEntry .REGISTERLAB
{
    color : #364395;
    font-style : italic;
}

.bussdictEntry .RELATEDWD
{
    font-weight : bold;
}

.bussdictEntry .Sense {
    display : block;
    margin-left : 20px;
    margin-bottom : 15px;
}

.bussdictEntry .SIGNPOST
{
    background-color : gray;
    color : white;
    font-weight : bold;
}

.bussdictEntry .STRONG
{
    font-family : "Arial Unicode MS", "Open Sans";
    font-style : italic;
}

.bussdictEntry .Subsense
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .SUPERL,
.bussdictEntry .SYN,
.bussdictEntry .T3PERSSING,
.bussdictEntry .T3PERSSINGX,
.bussdictEntry .UNCLASSIFIED
{
    font-weight : bold;
}

.bussdictEntry .USAGE
{
    display : none;
}

span.neutral
{
    font-style : normal;
    font-weight : normal;
    font-variant : normal;
    font-family : Arial Unicode MS, "Open Sans";
}

span.italic,
span.infllab
{
    font-style : italic;
    font-weight : normal;
    font-family : Times New roman;
}

span.warning
{
    font-style : normal;
    font-weight : bold;
    font-family : Arial Unicode MS, "Open Sans";
    color : red;
}

span.sensenum
{
    font-style : normal;
    font-weight : bold;
    margin-right : 5px;
    margin-left : 3px;

}

span.synopp
{
    font-style : normal;
    font-weight : bold;
    color : darkblue;
}

.bussdictEntry .ColloBox,
.bussdictEntry .ThesBox,
.bussdictEntry .F2NBox,
.bussdictEntry .GramBox,
.bussdictEntry .UsageBox {
    display : block;
    border-style : solid;
}

.bussdictEntry .GramBox.nobox {
    display : inline;
    border-style : none;
    background-color : none;
}

.bussdictEntry .GramBox.nobox .EXPL {
    display : inline;
}

.bussdictEntry .HEADING,
span.heading,
.bussdictEntry .Gramref {
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

.bussdictEntry .gramref {
    margin-left : 5px;
    margin-right : 5px;
}

.bussdictEntry .HEADING.newline {
    display : block;
}

.bussdictEntry .SECHEADING,
span.subheading {
    display : block;
    font-weight : bold;
    font-style : italic;
    text-decoration : underline;
}

.bussdictEntry .Collocate.newline,
.bussdictEntry .Exponent,
.bussdictEntry .GramBox .EXPL,
.bussdictEntry .EXPL.newline {
    display : block;
}

.bussdictEntry .Collocate.inline {
    display : inline;
}

.bussdictEntry .COLLOC,
.bussdictEntry .EXP,
.bussdictEntry .EXPR {
    font-weight : bold;
}

.bussdictEntry .COLLOC.key {
    color : #364395;
}

span.keycollo {
    font-weight : bold;
    color : #364395;
}

.bussdictEntry .THESPROPFORM {
    font-weight : bold;
}

.bussdictEntry .COLLEXA,
.bussdictEntry .THESEXA,
.bussdictEntry .GOODCOLLO {
    font-style : italic;
}

.bussdictEntry .LearnerItem {
    display : block;
}

.bussdictEntry .BADCOLLO,
.bussdictEntry .BADEXA {
    text-decoration : line-through;
}

.bussdictEntry .DEFBOLD {
    font-weight : bold;
}

.bussdictEntry .CompareWord,
.bussdictEntry .CompareWord,
.bussdictEntry .EXP {
    display : block;
}

.bussdictEntry .UNDERLINE {
    text-decoration : underline;
}

.bussdictEntry .boxheader {
    display : block;
    background-color : #364395;
    color : white;
    font-weight : bold;
}

.bussdictEntry .SubEntry.embedded {
    margin-top : -5px;
    margin-bottom : 0px;
    margin-left : 30px;
}

.bussdictEntry .SubEntry {
    display : block;
    margin-top : 2px;
    margin-bottom : 2px;
    margin-left : 20px;
}

.bussdictEntry .SubEntry .HWD {
    display : inline;
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

/****** VERB TABLE *****/
.verbTable .entry {
    margin-bottom : 20px;
}

.verbTable .lemma {
    color : black;
    font-size : 120%;
    font-weight : bold;
    margin:0 0 0 10px;  
}

.verbTable table {
    background-color: #fae660;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
}

.verbTable .Simple_Form .aux {
    font-weight: bold;
}

.verbTable td {
    padding: 0 10px;
}

.verbTable td.header {
    background-color: #333333;
    color : #fff;padding:0 0 0 10px;
    font-size : 120%;
}

.verbTable td.col1 {
    color : #333333;
    padding:20px 10px 0;
    font-weight:bold;
    font-size: 14px;
    text-decoration:underline
}

.verbTable td.col2 {
    color : gray;
    width:150px
}

.verbTable .view_more,
.verbTable .view_less {
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 40px 0 10px;
}

.verbTable .view_more span,
.verbTable .view_less span {
    cursor: pointer;
}

.verbTable .view_less {
    display: none;
}

.verbTable .next_tenses {
    display: none;
}

.verbTable .geo {
    font-style : italic;
    color : #000000;
    font-size : normal;
    font-weight : normal;
}

.verbTable .aux {
    color : black;
    font-weight : normal;
}

.verbTable .verb_form {
    color : black;
    font-weight : bold;
}

/***** EXAS ******/
.exaGroup .exaEntry {
    margin-bottom : 20px;
    display : block;
}

.exaGroup .exaGroup {
    display : block;
    margin-bottom : 20px;
}

.exaGroup .title {
    font-size : 110%;
    font-weight : bold;
    color : black;
    display : block;
    margin-left : 5px;
    margin-top: 15px;
}

.exaGroup .exa {
    display : block;
    color : gray;
    margin-left : 15px;
}

.exaGroup .NodeW {
    font-weight : bold;
}

.asset {
    margin-top : 30px;
}
/***** TOPIC ******/
.Entry .related_topics {
    padding: 0 4px 1px 0;
    font-size: 16px;
    font-family: Tahoma, Arial, Helvetica;
    color: #000;
}

.Entry .topic,
.topicCloud .topic_other{
    color: red;
    text-decoration:underline
}

.Entry .topic:hover,
.topicCloud .topic_other:hover {
    color: #4693db;
}