html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
ins { text-decoration: none; }
body { font: 12px/1.3 Tahoma, Arial, Helvetica, sans-serif; color: #626262; background-color: #f3f3f3; width: 100%;  }
a { text-decoration: none; color: #3268BA; font-family: Tahoma, Arial, Geneva, sans-serif }
a:hover { text-decoration: none; color: #F60; -webkit-transition: color 500ms linear; -moz-transition: color 500ms linear; -o-transition: color 500ms linear; -ms-transition: color 500ms linear; transition: color 500ms linear; }
.left { float: left; }
.right { float: right }
.clearfloat { clear: both; height: 0; font-size: 1px; line-height: 0px; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.nomargin { margin-right: 0 }
#wrapper { margin: auto; width: 964px; background-color: #F3F3F3; }
#options { height: 33px; line-height: 33px; border-radius: 0px 0px 4px 4px; margin-bottom: 10px; position: relative; text-shadow: 0px 1px #FFF; background-repeat: no-repeat; background-position: 0 9px; }
#options li { display: inline; }
#options li a { display: block; float: left; margin-right: 15px; font-family: Tahoma, Arial, Geneva, sans-serif; font-size: 11px; text-decoration: underline; background-repeat: no-repeat; background-position: 0 10px; padding-left: 15px; text-shadow: 0px 1px #FFF; }
a#set { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -810px no-repeat; display: block; width: 12px; height: 15px; text-indent: -5000px; position: absolute; top: 10px; left: -15px; }
#home { position:relative;}
.sethome { background-color: #FFFEF0; border: 3px solid #D5E1F7; position: absolute; z-index: 101; padding: 8px; border-radius: 3px; box-shadow: 0px 3px 5px #666; width: 430px; left: -120px; top: 35px; line-height: 1.4; }
.sethome b { font-size: 13px; font-weight: bold; display: block; padding-bottom: 7px; }
.sethome p { font-size:11px; font-family:Verdana, Geneva, sans-serif; padding-bottom:6px;}
.strelka { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -1360px no-repeat; width:24px; height:11px; position:absolute; z-index:1; top:-11px; left:30px;}
.closehome { position: absolute; z-index: 2; right: 10px; top: 10px; color: #900; background-color: #FFF; border: 1px solid #666; cursor: pointer; width: 15px; height: 15px; line-height: 11px; text-align: center; font-weight: bold; }
.sethome img { float: left; margin-right: 10px; }
#options li#home a { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -142px no-repeat; padding-left: 18px; }
#options li#chasa a { color: #666; text-decoration: none; font-family: Tahoma, Arial, Geneva, sans-serif; padding-left: 0px; }
#options li#chasa a:hover { color: #000; }
#options li#set2 a { background-image: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png); background-position: 0 -1298px; padding-left: 18px }
#switch { float: right; width: 290px; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) right -862px no-repeat; text-align: right; padding-right: 20px; }
#switch a { font-family: Verdana, Geneva, sans-serif; font-size: 11px; text-decoration: underline; }
#switch a:hover { color: #000; text-decoration: none; }
#switch2 { float: right; width: 186px; }
#switch2 a { font-family: Verdana, Geneva, sans-serif; font-size: 11px; text-decoration: underline; }
#switch2 a:hover { color: #000; text-decoration: none; }
#leftColumn { float: left; width: 474px; margin-right: 16px; }
#rightColumn { float: left; width: 474px; }
.block { border: 4px solid #E0E0E0; background-color: #FFF; border-radius: 4px; margin-bottom: 15px; border-color: #E9E9E9; box-shadow: 0px 0px 2px #F3F3F3; }
.block h2 { height: 34px; line-height: 32px; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png); background-position:0 -1240px; padding-left: 10px; font-size: 20px; font-weight: bold; text-shadow: 0px 1px #FFF; color: #004785; 
}
.block h2 a { font-size: 20px; font-weight: bold; text-shadow: 0px 1px #FFF; color: #004785; display: block; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 420px -73px no-repeat; width: 445px; }
.block h2 a:hover { color: #F60; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 420px 3px no-repeat; }
.topnews { padding: 10px 3px 0 10px; }
.topnews img { float: left; margin-right: 8px; }
.topnews a { display: block; height: 30px; line-height: 30px; }
.top-links { float: left; width: 320px; position: relative; top: -8px; z-index:22; }
.top-links a { border-bottom: 1px dotted #E2E2E2; overflow:hidden; }
#dnes a { color: #003A75; }
#dnes a:hover { color:#F60;} 
.last-news { background-color: #FFFFFF; padding: 0px 0 10px 30px; min-height:45px; }
#lastall { position:relative; z-index:20;}
.top-links .last { border-bottom: none }
.last-news a { display: block; width: 195px; font-size: 12px; float: left; margin-right: 20px; line-height: 1.4; color: #3268BA !important; }
.last-news a:hover { color:#F60 !important;}
.last-news a span { color: #999; display: block; padding-top: 3px; font-size: 10px; }
.last-news a img { float: left; margin-right: 5px; }
.last-news .last { margin-right: 0 }
#dnes-nav { background-color: #F5F5F5; padding: 8px 45px; position: relative; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png); background-position:0 -1240px; }
#dnes-nav a { color: #004284; font-weight: bold }
#dnes-nav a:hover { color: #000 }
#dnes.block { border-color: #E1EAFB; }
#dnes.block h2, #dnes-nav { background-image: none; background-color: #EEF4FB }
#news-count { background-color: #FFFFFF; border-radius: 0px 0px 3px 3px; position: absolute; width: 116px; text-align: center; z-index: 5; top: -1px; left: 50%; margin-left: -58px; font-size: 11px; color: #999; height: 28px; line-height: 32px; }
#news-count a { color: #F60 }
#weather-top { position: absolute; top: 0px; width: 230px; left: 50%; margin-left: -87px; z-index: 16; }
#weather-top img { position: relative; top: 5px; }
#weather-top b { font-weight: bold; }
#weather-top a { font-family: Verdana, Geneva, sans-serif; font-size: 11px; }
#weather-top a:hover { text-decoration: underline; }
.block-nav { background-color: #efefef; padding: 8px 10px; position: relative; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png); background-position: 0 -1240px; color: #B6B6B6; }
.block-nav a { color: #002953 }
.block-nav a:hover { color: #F60 }
.poletna img { position: relative; top: 4px; }
#life .last-news a { width: 185px; }
#life .last-news { padding: 10px 0 }
.previos { }
.next { float: right; display: block }
#fixinga { float: left; margin-right: 8px; width: 135px; }
a.fixing { border: 1px solid #FFD78C; height: 16px; text-align: center; width: 16px; line-height: 16px; margin: 0 4px 5px 0; float: left; }
#currencylayer a { height: 27px; line-height: 25px; }
#banksnav { position: relative; height: 27px; line-height: 27px; z-index:21; }
#banksnav a { color: #002953; display: inline; border-bottom: none; }
#banksnav a:hover { color: #F60 }
#corner .topnews a { height: 29px; line-height: 29px; }
#pochivki { padding: 10px 10px 15px 23px; }
#pochivki a { display: block; width: 203px; font-size: 11px; float: left; margin-right: 10px; line-height: 1.5; }
#pochivki a span { color: #F60; display: block; padding-top: 5px }
#pochivki a span ins { color: #999; display: block; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/promo.png); width: 45px; float: left; background-repeat: no-repeat; background-position: 0 center; }
#pochivki a img { float: left; margin-right: 5px; }
#pochivki a.last { margin-right: 0; }
#pochivki a.topofer { }
#promo { padding: 0px 10px 7px 23px; }
#promo a { display: block; width: 203px; font-size: 11px; float: left; margin-right: 10px; line-height: 1.5; margin-bottom: 10px; }
#promo a span { color: #F60; display: block; padding-top: 5px }
#promo a span ins { color: #999; display: block; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/promo.png); width: 45px; float: left; background-repeat: no-repeat; background-position: 0 center; }
#promo a img { float: left; margin-right: 5px; }
#promo a.last { margin-right: 0; }
.tabs { background-image: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png); background-position:0 -1240px; }
.tabs li { display: inline; }
.tabs a { height: 34px; display: block; line-height: 34px; float: left; font-size: 16px; font-family: Tahoma, Arial, Geneva, sans-serif; font-weight: bold; width: 90px; text-align: center; border-right: 1px solid #ccc; color: #004785; }
.tabs a:hover { color: #F60; }
.tabs a.last { border-right: none; width: 93px }
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a { background-color: #FFF !important;/* [disabled]color: #000000 !important; */ cursor: pointer !important; }
ul.tabs a.current:hover, ul.tabs li.current a:hover { color: #FF6600 !important; }
.overview { position: relative; top: -8px; }
.overview span { color: #AAAAAA; font-size: 10px; }
.overview span ins { color: #F60 }
#scrollbar1 { width: 445px; clear: both; margin: 8px 10px 10px 10px; }
#scrollbar1 .viewport { width: 425px; height: 170px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; height: 300px; }
#scrollbar1 .thumb .end, #scrollbar1 .thumb { background-color: #C3C3C3; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #E9E9E9; height: 100%; width: 6px; position: relative; padding: 0 1px; border-radius: 3px; box-shadow: inset 0px 0px 2px #CECECE; }
#scrollbar1 .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; border-radius: 3px; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 6px; }
#scrollbar1 .disable { display: none; }
#scrollbar1 .overview a { display: block; height: 31px; line-height: 31px; border-bottom: 1px dotted #E2E2E2; }
#spravlinks { padding: 0 10px; }
#spravlinks a { display: block; height: 27px; line-height: 27px; border-bottom: 1px dotted #E2E2E2; width: 100px; float: left; margin-right: 10px; width: 100px; }
#spravlinks a.last { margin-right: 0; }
#spravlinks a.bottom { border-bottom: none; }
#tvlinks { padding: 0 10px 5px 10px; }
#tvlinks a { display: block; height: 27px; line-height: 27px; border-bottom: 1px dotted #E2E2E2; width: 100px; float: left; margin-right: 8px; width: 445px; }
#tvlinks a.last { margin-right: 0; }
#tvlinks a.bottom { border-bottom: none; }
a#allchanels { font-weight: bold; font-family: Arial, Helvetica, sans-serif; width: 446px; margin: auto; text-align: center; height: 30px; line-height: 30px; }
#catlinks { padding: 0 0 0 10px }
#catlinks a { display: block; height: 27px; line-height: 27px; border-bottom: 1px dotted #E2E2E2; width: 102px; float: left; margin-right: 10px; }
#catlinks a.last { margin-right: 0; }
#catlinks a.bottom { border-bottom: none; }
/*calendar*/
.caltable { border-collapse: separate; border: 1px solid #9DABCE; border-width: 0px 0px 1px 1px; font-size: 11px; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 1; margin-top: 11px; }
.caltable td, .caltable th { width: 14px; height: 18px; text-align: center; vertical-align: middle; background: url(http://ni.dir-i.net/esspresso/images/calendar/cells.png); color: #444; position: relative; padding: 2px; }
.caltable th { height: 16px; font-weight: bold; font-size: 12px; }
.caltable td:hover, .caltable th:hover { background-position: 0px -81px; color: #222; }
.caltable td.date_has_event { background-position: 162px 0px; color: white; cursor: pointer; }
.caltable td.date_has_event a { color: #FFF; font-size: 18px }
.caltable td.date_has_event a:hover { color: #FFF; font-size: 18px; text-decoration: underline; }
.caltable td.date_has_event:hover { background-position: 162px -81px; }
.caltable td.padding { background-position: -335px -182px; border-top:1px solid #9DACBE }
.caltable td.today { background-position: 81px 0px; color: #FF0; }
.caltable td.today a { color: white; font-weight: bold; font-size: 18px }
.caltable td.today:hover { background-position: 81px -81px; }
.caltable td a { font-size: 11px !important; }
#calholder { float: left; margin-right: 7px; }
#cal { padding: 0 0 10px 10px; }
.events { width: 310px; float: left; }
.events a { display: block; height: 28px; line-height: 28px; border-bottom: 1px dotted #E2E2E2; }
.events a.last { border-bottom: none }
#weatherlinks a { display: block; height: 30px; line-height: 30px; border-bottom: 1px dotted #E2E2E2; }
#weatherlinks a.last { border-bottom: none }
#vremeto { position:relative; z-index:5;}
#vremeto img { margin-right: 20px; float: left }
#danni { float: left; width: 170px; line-height: 1.57; }
#now { font-size: 24px; font-weight: bold; color: #000; }
#weatherlinks { float: left; width: 170px; }
.m-time {font-weight:bold; background-image:url(http://i.dir.bg/dir5/dir-new/html/img/m-time.png); background-repeat:no-repeat; background-position:center right; padding-right:30px;}
#weathercontent { padding: 10px 10px 4px 10px; }
#zodialinks { padding: 10px 10px 0 10px; }
#zodialinks a { display: block; width: 73px; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/zodii/zodii-sprite2.png); background-repeat: no-repeat; float: left; padding-top: 30px; text-align: center; }
.z1 { background-position: 22px 0; width: 30px; height: 30px; }
.z10 { background-position: 22px -80px; width: 30px; height: 30px; }
.z11 { background-position: 22px -160px; width: 30px; height: 30px; }
.z12 { background-position: 22px -240px; width: 30px; height: 30px; }
.z2 { background-position: 22px -320px; width: 30px; height: 30px; }
.z3 { background-position: 22px -400px; width: 30px; height: 30px; }
.z4 { background-position: 22px -480px; width: 30px; height: 30px; }
.z5 { background-position: 22px -560px; width: 30px; height: 30px; }
.z6 { background-position: 22px -640px; width: 30px; height: 30px; }
.z7 { background-position: 22px -720px; width: 30px; height: 30px; }
.z8 { background-position: 22px -800px; width: 30px; height: 30px; }
.z9 { background-position: 22px -880px; width: 30px; height: 30px; }
.market-items { padding: 10px 30px; }
.market-items a { float: left; text-align: center; margin-right: 10px; width: 70px }
.market-items a span { color: #F60; font-weight: bold }
.market-items a.last { margin-right: 0 }
#footerlinks { background-color: #EBEBEB; border: 6px solid #fff; border-radius: 4px; padding: 10px; }
#footerlinks h5 { font-size: 16px; color: #F60; }
#footer { text-align: center; color: #666; padding: 15px 0; text-shadow: 0px 1px #FFF; }
#footer a { color: #666 }
#footer a:hover { color: #000 }
#movies { padding: 10px; }
.movieinfo { width: 218px; float: left; }
.movieinfo p { float: left; width: 150px; font-size: 11px; line-height: 1.5; }
.movieinfo img { float: left; margin-right: 5px; }
.movieinfo p a { font-size: 13px; }
#vic { padding: 10px 25px; min-height: 80px }
#toTop { display: none; text-decoration: none; position: fixed; bottom: 10px; right: 10px; overflow: hidden; width: 51px; height: 51px; border: none; text-indent: 100%; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) no-repeat 0 -1097px; }
#toTopHover { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) no-repeat 0 1148px; width: 51px; height: 51px; display: block; overflow: hidden; float: left; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); }
#toTop:active, #toTop:focus { outline: none; }
#searchForm fieldset { width: 240px; position: relative; display: block; }
/*#hot { font-family: Verdana, Geneva, sans-serif; height: 33px; line-height: 33px; padding-left: 35px; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 13px -208px no-repeat #fff; font-weight: bold; background-color: #EEF4FB; }*/
#hot { font-family: Verdana, Geneva, sans-serif; height: 33px; line-height: 33px; padding-left: 25px; font-weight: bold; background-color: #EEF4FB; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/hot.png); background-repeat: no-repeat; background-position: 5px 6px }
#hot a { font-weight: normal; color: #F60; }
#hot a:hover { color: #F60; }
#dneslinks { height: 33px; line-height: 33px; padding-left: 10px; color: #D3E2F5 !important }
#dneslinks a { font-weight: normal; color: #002953 }
.panes { height: 135px; overflow: hidden; }
a.next { height: 49px; width: 11px !important; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -449px no-repeat; display: block; margin-right: 0; text-indent: -5000px }
a.next:hover { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -350px no-repeat }
a.previos { height: 49px; width: 11px !important; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -647px no-repeat; display: block; text-indent: -5000px; }
a.previos:hover { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 0 -548px no-repeat; }
#trip a.next { position: absolute; top: 145px; right: 10px; }
#trip a.previos { position: absolute; top: 145px; left: 6px; }
#fun { position: relative; }
#fun a.next { position: absolute; top: 60px; right: 5px; z-index: 13 }
#fun a.previos { position: absolute; top: 60px; left: 5px; z-index: 14 }
#market a.next { position: absolute; top: 20px; right: 5px; z-index: 11; }
#market a.previos { position: absolute; top: 20px; left: 5px; z-index: 10 }
#dnes a.next { position: absolute; top: 2px; right: 5px; z-index: 11; }
#dnes a.previos { position: absolute; top: 2px; left: 5px; z-index: 10 }
a.autoarticle { width: 140px; display: block; float: left; margin-right: 11px; line-height: 1.2 }
a.autoarticle img { padding-bottom: 4px; }
.autonews { padding: 10px; }
.autonews .last { margin-right: 0 }
#saitofday { padding: 10px; }
#saitofday a { display: inline; }
#vip { background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 10px -921px no-repeat; padding: 10px 10px 10px 35px; }
#vip a { font-weight: bold; color: #004284; display: block; padding-bottom: 5px; }
#footerlinks .sites-all { width: 75px; float: left; margin-right: 13px; margin-bottom: 15px; }
#footerlinks .sites-all li { display: inline; }
#footerlinks .sites-all li a { display: block; height: 25px; line-height: 25px; border-bottom: 0px solid #06C; color: #666; }
#footerlinks .sites-all li a:hover { color: #000 !important; }
.orange a { color: #F60; }
.orange a:hover { color: #000; }
a.orange { color: #F60; }
a.orange:hover { color: #000; }
#feedbuttons li { display: inline }
#feedbuttons li a { display: block; height: 30px; line-height: 30px; border: 1px solid #999; border-radius: 2px; margin: auto; margin-top: 10px; width: 150px; }
#feedbuttons li a:hover { border: 1px solid #999; box-shadow: 0px 0px 1px #666 }
#life img, #it img { padding-bottom: 8px; }
#banks .top-links { width: 300px; margin-right: 10px; }
#feedback { border: 4px solid #C7DCEB; padding-top: 90px; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/feedback.png); background-repeat: no-repeat; padding-bottom:10px; background-position: center 10px; text-align: center; }
#trip { position: relative; }
#marketlinks { position: relative; }
a.grey { color: #666666; }
a.grey:hover { color: #000000; text-decoration: underline; }
.gradusi { color: #333333; }
/***for-livescore***/
.top-livescore { width: 426px; margin-bottom: 2px; height: 20px; background-color: #F2F9FF; text-align: center; }
.top-livescore a { font-weight: bold; font-size: 11px; color: #354E6A; }
.top-livescore a:hover { color: #F60; }
.corner-livescore { width: 208px !important; float: left !important; }
.corner-livescore li { display: block; float: left; width: 208px; background-color: #F9FCFF; border-bottom: 2px solid #FFF; }
.corner-livescore li.one-score { margin-left: 110px; }
.corner-livescore li.more-score { margin-left: 9px; }
.ls_blink { text-align: center; }
#dnes-nav a.unactive { color: #CCCCCC !important; cursor: default !important; }
.whatscore { float: left; width: 140px; padding-left: 25px; font-weight: bold; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 7px -278px no-repeat; }
.whatscore a { color: #000000; }
.onescore { position: relative; height: 30px; line-height: 30px; border-bottom: 1px dotted #E2E2E2; }
.corner-livescores { text-align: center; width: 330px; display: block; position: absolute; right: 0px; }
.one-score { width: 330px; }
#game { display: none; width: 550px; border: 7px solid #B8CFF1; border: 7px solid rgba(184, 207, 241, 0.698); font-family: Verdana, Geneva, sans-serif; padding: 15px; font-size: 12px; background-color: #FFFFF0; box-shadow: 0px 0px 11px #000; border-radius: 3px; line-height: 1.5; position: absolute; z-index: 20000; height: 230px; top: 50%; margin-top: -150px; left: 50%; margin-left: -275px; }
#game p { margin-bottom: 10px }
#game h2 { margin-bottom: 0px; color: #F60; padding: 5px 0; font-size: 20px; font-family: Tahoma, Arial, Geneva, sans-serif; }
#gamelink { background-color: #003A6F; border-radius: 3px 3px 3px 3px; box-shadow: 0 0 5px #002546 inset; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 6px; margin: 15px 0; }
#game .close { background-image: url(http://i.dir.bg/dir5/dir-new/html/img/close-overlay.png); width: 41px; height: 41px; position: absolute; right: -21px; top: -21px; cursor: pointer; }
.ispace { text-align: center; margin-bottom: 15px; background-color: #E0E0E0; border-radius: 3px; padding: 6px 0 }
.adblock { text-align:center;}
input#searchSubmit { top:5px !important}
.topnews img {cursor: pointer;}
#options li#home #ff a { display:inline; padding-left:0; margin-right:5px;}
.inactiven { cursor: default; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/nextnoactive.png) !important; background-position: 0 0 !important; }
.inactivep { cursor: default; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/prevnoactive.png) !important; background-position: 0 0 !important; }
#chooseother{ position: absolute; top: 3px; left: 282px; z-index: 10; color: #666; display: block; height: 30px; line-height: 30px; }
#chooseother:hover { color:#F60;}
#banerpole { text-align:center}
#banerpole .ispace{ text-align:center; background-color:#f3f3f3; }
.recepti { padding: 10px 3px 10px 10px; }
.recepti img { margin-right: 8px; float: left; }
.recepti a { display: block; width: 220px; float: left; }
.recepti a.first { margin-right:5px}
.recepti a ins{ display: block; color: #000; padding-top: 5px; font-size: 10px; }
.recepti a ins:hover { color:#F60;}
#party a { color: #3268BA; }
#party a b, #party a strong { color:#F60; font-weight:bold;}
#party a:hover, #party a b:hover, #party a strong:hover { color:#000}
.to-mobile { text-align:center; width:100%; height:30px; padding-top:4px; background-color:#069; border-bottom:1px solid #00356A; }
.to-mobile a { display:block; margin:0 auto; width:219px; height:25px; background-image:url(http://i.dir-i.net/dir.bg/img/to-mobile.png); background-repeat:no-repeat; text-indent:-5000px; outline:none; }
#hapni a { color:#002953}
#hapni a:hover { color: #FF6600}
#livenews { padding: 2px 2px 0 5px; }
#temata {font-weight: bold; background: url(http://i.dir.bg/dir5/dir-new/html/img/dir-sprites3.png) 7px -278px no-repeat; padding:5px 0 5px 25px;  }
#temata a { color:#000;}
#temata a:hover { color: #F60; }
#last { padding: 5px 5px 10px 5px; font-style: italic; border-bottom:1px dotted #E2E2E2 }
.anketa-right { float: left; width: 320px; position: relative; top: -8px; }
.anketa-links a { border-bottom: 1px dotted #E2E2E2; overflow:hidden; }
#otgovori { padding-bottom:5px; border-bottom: 1px dotted #E2E2E2; }
#otgovori a { float: left; margin-right: 8px; height: 24px; line-height: 24px; }
.whitecss { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ); background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color: #ededed; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #dcdcdc; display: inline-block; color: #545454; font-family: arial; font-size: 12px; font-weight: bold; padding: 0 20px; text-decoration: none; text-shadow: 1px 1px 0px #ffffff; }.whitecss:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.whitecss:active {
	position:relative;
	top:1px;
}
.anketa-right p { color: #333; font-size: 13px; padding-bottom: 11px; font-weight: bold; padding-top: 3px }
#img_ank { margin-bottom:5px; }
.marginleft { margin-left:75px}

h2 ins { font-family: Tahoma, Geneva, sans-serif; font-size: 14px; font-weight: normal; color: #999; position: relative; top: -3px; }
h2 img { position: relative; top: 3px; }
#izbori .whitecss { float: left; margin-right: 8px; height: 24px; line-height: 24px; padding: 0; width: 75px; margin-bottom: 6px; padding-left: 5px; }
.whitecss span { display:inline-block; width:9px; height:9px}

 .tooltip { display: none; font-size: 12px; padding: 10px; color: #333; background-color: #FFC; border:1px solid #FC3;  }
 #img_tripnews { margin-left: 13px }
 .top-links-trip { float: left; width: 340px; position: relative;/* [disabled]top: -8px; *//* [disabled]margin-bottom: 18px; */ }
.top-links-trip a { border-bottom: 1px dotted #E2E2E2; overflow:hidden; }
#toptripnews { padding-top: 10px; padding-bottom: 1px; }
.laifscore ins { color:#C00}
.futurescore { background-image:url(img/chas.png); background-position:6px center }
.endscore { background-image:url(img/svirka.png); background-position:3px center}

.tooltip_darkblue { /* GENERAL */ position: absolute; padding: 5px; margin: 1em 0 3em; width: 200px; color: #FFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px #0d3474; line-height: 18px; /* BORDER */ border: 1px solid #3b79df; border-bottom: 1px solid #2562c7; /* BORDER RADIUS */ -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 5px; /* BACKGROUND */ background: #4986e8; background: -moz-linear-gradient(top, #c1d7ff, #76b8fc 2%, #4986e8); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aadaf0), color-stop(.01, #76b8fc), to(#4986e8)); top: -55px; left: 180px; z-index: 120; text-align: center; display:none; }


.tooltip_darkblue:before {
	
	/* TRIANGLE ARROW - BIG */
	content:"\00a0";
	display:block;
	position:absolute;
	bottom:-28px;
	left:95px;
	width:0;
	height:0;
	border:14px solid transparent;
	border-top-color:#0f3980;
}

.tooltip_darkblue:after {

	/* TRIANGLE ARROW - SMALL */
	content:"\00a0";
	display:block;
	position:absolute;
	bottom:-26px;
	left:96px;
	width:0;
	height:0;
	border:13px solid transparent;
	border-top-color:#4986e8;
}
.protest { width: 120px; height: 75px; float: left; background-size: cover; margin-right: 20px; display: block }
.uchastvai { background-image: url(dirphoto.png); background-repeat: no-repeat; background-position: top center; width: 140px; height: 20px; float: left; text-align: center;/* [disabled]line-height: 190px; */ padding-top: 57px; display: block }
.snimki { padding:10px}
.snimki h3 { font-weight: bold; position: relative; top: -5px; padding-bottom: 4px; }
.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#333;
 
    width:675px;
    min-height:200px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
	position:absolute;
}

.simple_overlay .close {
    background-image:url(/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
 .details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:150px;
  }
 
  .details h3 {
  color:#aba;
  font-size:15px;
  }
  
#gallery .snimki {
padding: 10px;
}
#gallery .snimki h3 {
font-weight: bold;
position: relative;
top: -5px;
padding-bottom: 4px;
}
#gallery .protest
{
	width: 135px;
	height: 75px;
	background-size: cover;
	display: block;
	width: 135px;
}

.konkursi { margin-right: 20px; float: left; width: 135px; text-align: center; }
#gallery .uchastvai 
{
	background-image: url(dirphoto.png);
	background-repeat: no-repeat;
	background-position: top center;
	width: 140px;
	height: 75px;
	float: left;
	padding-bottom:auto !important;
	padding-top:auto !important;
	text-align: center;
	padding-top: 0 !important;
	display: block;
}	  
#gallery .nomargin { margin-right:0;}
@media screen and (orientation:portrait) {
body {overflow-x: hidden}	
#rightColumn, #leftColumn { float: none; width: 480px; margin: auto; }
.block { width: 480px; ; margin: auto; }
#weather-top { display: none; }
#wrapper { width: 520px; margin: auto; }
#options { width: 480px; margin: auto; display: none; }
#topslider { display:none;}
}
#party { float: left; width: 245px; }
#lifenews { }
#temata { }
.gamelinks { float:left}
.middle { margin: 0 4px; }
.gamesimages { padding: 7px }
#koleda-news { float:left; width:320px; padding-left:1px}
#koleda-news a { display:block; height:30px; line-height:30px; color:#006619; overflow: hidden;}
#koleda-news a:hover { color:#F60}
#kimage { float: left; padding: 0 29px; position:relative; top:4px; }
#koleda-news a.first {border-bottom: 1px dotted #E2E2E2;}
#televizii a { width: 112px; float: left; text-align: center; }
.allchanels { border:1px solid #CCC; border-radius:3px; margin:3px auto; display:block; width:445px; margin-bottom:7px;}
#all-chanels-container { padding-bottom:7px}

#back-to-mobile a {height: 60px !important; line-height: 60px !important; font-size: 30px !important; }
#back-to-mobile { width: 500px !important; margin: 15px auto !important;}
.konkursi a { position:relative;}
.konkursi a img { position:absolute; top:-7px; left:-7px;}

.eu-izbori { padding:0 10px; }
.eu-izbori a { display:block; float:left;}
.eu-flag { width:53px; height:41px; background-image:url(http://i.dir.bg/dir5/dir-new/html/img/eu-flag.png); background-repeat:no-repeat; margin-right:10px; text-indent:-5000px; outline:none; } 
.eu-links { width:380px; height:auto; float:left; margin-bottom:10px; }
.eu-links a { width:380px; margin-bottom:5px;}

/*new flags*/
.flags {display:inline-block;vertical-align:middle;width:19px;height:13px;overflow:hidden;background:transparent url(http://i.dir.bg/designs/worldcup2014/images/flagsp.png) no-repeat; margin:0 5px; *display: inline; zoom: 1;}
/*A*/
.flag_bra {background-position:-171px -26px;}
.flag_cro {background-position:-152px -52px;}
.flag_mex {background-position:-171px -143px;}
.flag_cmr {background-position:-19px -52px;}

/*B*/
.flag_esp {background-position:-57px -78px;}
.flag_ned {background-position:-76px -169px;}
.flag_chi {background-position:-152px -39px;}
.flag_aus {background-position:-38px -13px;}

/*C*/
.flag_col {background-position:-76px -52px;}
.flag_gre {background-position:-114px -91px;}
.flag_civ {background-position:-0px -52px;}
.flag_jpn {background-position:-114px -117px;}

/*D*/
.flag_uru {background-position:-133px -247px;}
.flag_crc {background-position:-133px -52px;}
.flag_eng {background-position:-0px -78px;}
.flag_ita {background-position:-57px -117px;}

/*E*/
.flag_sui {background-position:-76px -221px;}
.flag_ecu {background-position:-152px -65px;}
.flag_fra {background-position:-152px -78px;}
.flag_hon {background-position:-76px -104px;}

/*F*/
.flag_arg {background-position:-133px -0px;}
.flag_bih {background-position:-76px -26px;}
.flag_irn {background-position:-171px -104px;}
.flag_nga {background-position:-114px -169px;}

/*G*/
.flag_ger {background-position:-57px -91px;}
.flag_por {background-position:-0px -195px;}
.flag_gha {background-position:-76px -91px;}
.flag_usa {background-position:-152px -247px;}

/*H*/
.flag_bel {background-position:-152px -13px;}
.flag_alg {background-position:-76px -0px;}
.flag_rus {background-position:-114px -195px;}
.flag_kor {background-position:-0px -130px;}
#temite {color:#aaa; font-size:13px; padding:0 5px 10px 10px}
#temite b {color:#F60}
#temite a {color:#003974; font-size:13px}
#temite a:hover {color:#F60}

/*body {background-image:url(http://i.dir.bg/designs/dir/koleda/html/img/beautiful-snowflakes-background.png)}
#wrapper { background-color:transparent; }*/

.afishi { padding: 10px 3px 10px 23px; position:relative; }
.afishi img { margin-right: 8px; float: left; }
.afishi a { display: block; width: 203px; float: left; }
.afishi a.first { margin-right:5px}
.afishi a ins{ display: block; color: #000; padding-top: 5px; font-size: 10px; }
.afishi a ins:hover { color:#F60;}
.afishi a.previos { left: 6px; position: absolute; top: 25px; 
}
.afishi a.next {
    position: absolute;
    right: 10px;
    top: 25px;
}


.afishimg {background-size:cover; width:75px; height:75px; margin-right:5px;}
#choosecity{ position: absolute; top: 3px; left: 300px; z-index: 10; color: #666; display: block; height: 30px; line-height: 30px; cursor:pointer; }
#choosecity:hover { color:#F60;}
#afish { position:relative;}
#gradove-afish { position: absolute; left: 0px; top: 30px; background-color: #333; width: 120px; z-index: 200; display:none; }
#gradove-afish li a { display:block; padding:0px 10px; color:#FFF; border-bottom:1px solid #000}
#gradove-afish li a:hover { background-color:#000;}

a {
   outline: 0;
}

#temite_news .top-links { width:460px}

#temite_news .last-news.clearfix a{ width:140px !important; margin-right:10px; margin-top:8px; border-right:1px dotted #ccc;}
#temite_news .last-news a span { font-size: 11px; color: #999; display: inline; padding-left: 14px; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/sync.png); background-repeat: no-repeat; background-position: 0 6px; float: none; }
#temite_news .last-news a:hover span { color:#F60;}
#temite_news .last-news { padding-left:10px;}
#temite_news .last-news a p { display:inline-block; width:65px} 

.block h2 a.to-corner { background-image:none; width:300px }
.block h2 a.to-livescore { position: absolute; z-index: 11; width: 212px; top: 0; right: 0; background-image: url(http://i.dir.bg/dir5/dir-new/html/img/livescore-pic.png); height: 34px; background-position: 0 0; text-indent: -5000px }
#corner h2 { position:relative; z-index:3}

        #kursove { float: left; font-size:11px; margin-top:0; width:133px}
		#kursove strong { font-weight:bold;}
		#kursove li { padding-left:14px; height:30px; line-height:30px; background-repeat:no-repeat; background-position:left center; display:block; border-bottom: 1px dotted #e2e2e2;}
		#kursove li.usd { background-image:url(http://www.bnb.bg/bnbweb/fragments/bnb_iclude_fragment/images/currency/usd.gif)}
		#kursove li.gbp { background-image:url(http://www.bnb.bg/bnbweb/fragments/bnb_iclude_fragment/images/currency/gbp.gif)}
		#kursove li.chf { background-image:url(http://www.bnb.bg/bnbweb/fragments/bnb_iclude_fragment/images/currency/chf.gif)}
		#kursove li.kurs-data { padding-left:0; padding-top:0; color:#000;  border-bottom:none; height:19px; line-height:15px;}
		#kursove li.from { color:#999; font-size:10px; padding-left:0; border-bottom:none;}
		
		
#topslider { position:relative; margin-bottom:15px;}
#topslider li { background-color:#000}
#topslider a.topnews-sl { display: block; position: relative; overflow: hidden; }
#topslider a.topnews-sl.last { margin-right:0} 
#topslider a p { position: absolute; bottom: 0; height: 70px; padding: 60px 12px 0 12px; margin: 0; color: #fff; font-size: 12px; font-family: Arial, Helvetica, sans-serif; z-index: 5; font-weight: bold; text-shadow: 0 1px 0 #000; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+51,000000+90&0+0,0.96+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0.86) 90%, rgba(0,0,0,0.96) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.49) 51%,rgba(0,0,0,0.86) 90%,rgba(0,0,0,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.49) 51%,rgba(0,0,0,0.86) 90%,rgba(0,0,0,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f5000000',GradientType=0 ); /* IE6-9 */

}
#topslider a img { z-index:4}
.bx-wrapper .bx-viewport {
    background: #F3F3F3 none repeat scroll 0 0;
    border: 0px solid #fff;
    box-shadow: 0 0 0px #fff;
    left: 0px;
    transform: translateZ(0px);
}
.bx-pager { display:none;}

#topslider a img, .whatcat  {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
#topslider a:hover img {
filter: blur(10px); opacity:0.7
}
.whatcat { position:absolute; top:-86px; left:12px; background-color:#084A86; color:#FFF; font-size:11px; z-index:10; font-family:Tahoma, Geneva, sans-serif; padding:2px 7px 3px 7px; text-transform:lowercase; opacity:0 }
#topslider a:hover .whatcat { top:86px; opacity:1}
.bx-wrapper {
    margin: 0 auto 10px;
    padding: 0;
    position: relative;
}
.wrapper { width:964px; margin:auto;}
.slider-left-white { position:absolute; left:0px; top:0; height:190px; width:97px; background-image:url(img/slide-white-left2.png); background-repeat:repeat-y; z-index:15}
.slider-right-white { position:absolute; right:0px; top:0; height:190px; width:97px; background-image:url(img/slide-white-right2.png); background-repeat:repeat-y; z-index:16}
#slidecontrols { position:absolute; width:100%; z-index:20;}
#proprev { background-image:url(img/slide-left.png); width:34px; height:34px; display:block; position:absolute; left:5px; top:73px}
#pronext { background-image:url(img/slide-right.png); width:34px; height:34px; display:block; right:5px; top:73px; position:absolute;}
.bx-controls-direction { display:none;}
#topslider { position:relative;}		