
.flags {
    background-size: 130px 286px;
    height: 26px;
    vertical-align: middle;
    width: 26px; 
	background-image: url("http://i.dir.bg/designs/euro2016/html/img/flags.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0;
}

/*[class*=" flag-"], [class^="flag-"] {

}*/
.flag-ALB {
    background-position: 100% 100%;
}
.flag-AND {
    background-position: 25% 0;
}
.flag-ARM {
    background-position: 50% 0;
}
.flag-AUT {
    background-position: 75% 0;
}
.flag-AZE {
    background-position: 100% 0;
}
.flag-BEL {
    background-position: 0 10%;
}
.flag-BIH {
    background-position: 25% 10%;
}
.flag-BLR {
    background-position: 50% 10%;
}
.flag-BUL {
    background-position: 75% 10%;
}
.flag-CRO {
    background-position: 100% 10%;
}
.flag-CYP {
    background-position: 0 20%;
}
.flag-CZE {
    background-position: 25% 20%;
}
.flag-DAN, .flag-DEN {
    background-position: 50% 20%;
}
.flag-ENG {
    background-position: 75% 20%;
}
.flag-EST {
    background-position: 100% 20%;
}
.flag-FIN {
    background-position: 0 30%;
}
.flag-FRA {
    background-position: 25% 30%;
}
.flag-FRO {
    background-position: 50% 30%;
}
.flag-GEO {
    background-position: 75% 30%;
}
.flag-GER {
    background-position: 100% 30%;
}
.flag-GIB {
    background-position: 0 40%;
}
.flag-GRE {
    background-position: 25% 40%;
}
.flag-HUN {
    background-position: 50% 40%;
}
.flag-ISL {
    background-position: 75% 40%;
}
.flag-IRL {
    background-position: 100% 40%;
}
.flag-ISR {
    background-position: 0 50%;
}
.flag-ITA {
    background-position: 25% 50%;
}
.flag-KAZ {
    background-position: 50% 50%;
}
.flag-LAT, .flag-LVA {
    background-position: 75% 50%;
}
.flag-LIE {
    background-position: 100% 50%;
}
.flag-LIT, .flag-LTU {
    background-position: 0 60%;
}
.flag-LUX {
    background-position: 25% 60%;
}
.flag-MAL, .flag-MLT {
    background-position: 50% 60%;
}
.flag-MKD {
    background-position: 75% 60%;
}
.flag-MNE {
    background-position: 100% 60%;
}
.flag-MDA, .flag-MOL {
    background-position: 0 70%;
}
.flag-NED {
    background-position: 25% 70%;
}
.flag-NIR {
    background-position: 50% 70%;
}
.flag-NOR {
    background-position: 75% 70%;
}
.flag-POL {
    background-position: 100% 70%;
}
.flag-POR {
    background-position: 0 80%;
}
.flag-ROU {
    background-position: 25% 80%;
}
.flag-RUS {
    background-position: 50% 80%;
}
.flag-SER, .flag-SRB {
    background-position: 75% 80%;
}
.flag-SLO, .flag-SVN {
    background-position: 100% 80%;
}
.flag-SMR {
    background-position: 0 90%;
}
.flag-ESP {
    background-position: 25% 90%;
}
.flag-SUI {
    background-position: 50% 90%;
}
.flag-SVK {
    background-position: 75% 90%;
}
.flag-SWE {
    background-position: 100% 90%;
}
.flag-TUR {
    background-position: 0 100%;
}
.flag-UKR {
    background-position: 25% 100%;
}
.flag-WAL {
    background-position: 50% 100%;
}
.flag-SCO {
    background-position: 75% 100%;
}