div.input {
	width: 180px;
	padding: 3px 15px 4px 15px;
	border-radius: 4px;
	border: 1px solid #00509F;
	border-top: 1px solid #00468C;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.08);
	background-color: #031E46;
	float: right;
}

    div.input.focus { border: 1px solid #003162; box-shadow: 0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08); text-align:right; }

input#s { width: 100%; border: 0; border-radius: 8px; background: transparent; height: 16px; color: #6F9CE1; text-align:center
}

    input#s:focus {
        outline:none; text-align:left;
    }

input#searchSubmit {
    width:19px;
    height:19px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png) no-repeat;
    border:0;
    position:absolute;
    top:12px; right:9px;
    z-index:5;
    display:none;
    cursor:pointer;
	background-position: 0 -375px;
}
#lentaspace { height:43px; margin-bottom:8px; }
#lenta-all { background-image: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png); height: 43px; padding: 0;/* [disabled]min-width: 962px; */ background-repeat: repeat-x; color: #FFF; text-shadow: 0px 1px #333; width: 100%; position: fixed; z-index: 10000; background-position: 0 0; background-color: #0E398B }
#lenta-all a { color: #FFF; text-shadow: 0px 1px #333; margin: auto; }
#lenta-logo { background-image: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png); display: block; width: 159px; height: 44px; text-indent: -5000px; position: absolute; top: 0px; left: 20px; background-position: 0 -162px; }
#lenta-search fieldset { border:none; }
#lenta-search { height: 25px; width: 221px; padding: 8px 0 0 35px; position: absolute; left: 50%; margin-left: -172px; }
#lenta-searchfield { background-color: #00254A; border: 0px solid #00254A; color: #3A8BDC; width: 200px; zoom: 1; position: relative; }
#lenta-login { float: right; width: 100px; }
#lenta-login a { display: block; padding: 0 15px; height: 28px; line-height: 28px; background-color: #003162; border: 1px solid #00509F; color: #FFF; text-shadow: 0px 1px #000; border-radius: 2px; position: relative; top: 5px; width: 40px; text-align: center; float: right; font-family:Tahoma, Geneva, sans-serif; font-size:12px; }
#lenta-butoni li a:hover, #lenta-login a:hover, #lefb2:hover, #lefb1 a:hover, #lefb3 a:hover, #lefb4 a:hover, #lefb5 a:hover, #mylink a:hover, #hot:hover { -webkit-transition: background-color 500ms linear; -moz-transition: background-color 500ms linear; -o-transition: background-color 500ms linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;
 }
#lenta-login a:hover { background-color: #18528B; box-shadow:inset 0px 0px 3px #002953
 }
#lenta-butoni { float: right; width: 240px; }
#lenta-butoni li { display:inline;}
li.ikoni a { display: block; float: left; width: 42px; height: 42px; border-left: 1px solid #003162; text-indent: -5000px; background-repeat: no-repeat; background-image: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png); }
li.ikoni a:hover { background-color: #003162; box-shadow: inset 0px 0px 3px #002953;}
#lenta-but0 a { background-position: 10px -540px; }
#lenta-but1 a { background-position: 10px -82px; }
#lenta-but2 a { background-position: 8px -227px; }
#lenta-but3 a { background-position: 14px -296px; }
#lenta-but4 a { border-right: 1px solid #002D59; background-position: 12px -488px; }

#lenta-sites { background-image: url("http://i.dir.bg/dir5/zona/html/img/sites-backgr.png"); background-position: left bottom; display: none; height: 300px; line-height: 1; padding: 20px; position: absolute; text-align: left; top: 42px; width: 434px; z-index: 700; left: -11px; 
}
#lenta-sites h5 { padding: 0; margin: 0; color: #06C; font-weight: bold; padding-bottom: 5px; font-size: 14px; }
#lenta-butoni-left { position: absolute; top: 0px; left: -12px; ; width: 345px; z-index:1002 }
#lenta-butoni-left li { display: inline; }
#lefb1 a { background-image: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png); width: 113px; text-indent: -5000px; display: block; float: left; height: 42px; background-repeat: no-repeat; line-height: 42px; border-right: 1px solid #002D59; background-position: 14px -155px; }
#lefb1 a:hover { background-color: #003162; box-shadow:inset 0px 0px 3px #002953
 }
 #lefb3 a, #lefb4 a, #lefb5 a { width: 50px; display: block; float: left; height: 42px; background-repeat: no-repeat; line-height: 42px; border-right: 1px solid #002D59; background-position: 14px -155px; text-align: center; font-family:Tahoma, Geneva, sans-serif; font-size:13px; }
#lefb3 a:hover, #lefb4 a:hover, #lefb5 a:hover { background-color: #003162; box-shadow:inset 0px 0px 3px #002953
 }       
#lefb2 { width: 70px; text-align: center; background: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png) 80px center no-repeat; float: left; height: 42px; line-height: 42px; position: relative; border-right: 1px solid #003162; background-position: 30px -410px; font-family: Tahoma, Geneva, sans-serif; font-size: 13px; z-index:1001; cursor:pointer; }
#lefb2:hover { background-color: #003162; cursor: pointer; box-shadow: inset 1px 3px 3px #002953 }
#mylink a  { background-position: 10px -540px; background-image: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png); display: block; float: left; width: 42px; height: 42px; border-left: 1px solid #003162; text-indent: -5000px; background-repeat: no-repeat; }
#mylink a:hover { background-color: #003162; box-shadow: inset 0px 0px 3px #002953;}
.sites-all { width: 75px; float: left; margin-right: 13px; margin-bottom: 15px; }
.sites-all li { display: inline; }
.sites-all li a { display: block; height: 25px; line-height: 25px; border-bottom: 1px solid #06C; font-size:12px; text-decoration:none; }
.sites-all li a:hover { color: #06C !important; }
.sites-all2 { margin-bottom: 15px; display: block; }
.sites-all2 li { display: inline; }
.sites-all2 li a { display: block; height: 25px; line-height: 25px; border-bottom: 1px solid #06C; font-size: 12px; text-decoration: none; float: left; width: 75px; margin-right: 13px !important; }
.sites-all2 li a:hover { color: #06C !important; }
.sites-all2 li a.nomargin { margin-right:0 !important}
.nomargin { margin-right: 0 }
#lentawrapper { width: 970px; margin: auto; position: relative; z-index:1007; }

#idsettings { display: block; width: auto; height: 34px; border-radius: 0px; color: #FFF; font-family: Arial, Helvetica, sans-serif; line-height: 32px; background: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png) 46px -415px no-repeat; cursor: pointer; padding-right: 3px; position: relative; top: 5px; font-size: 11px; }
#idsettings img { float:left; position: relative; top: 3px; left: 4px; margin-right: 9px; }
#details { position: absolute; z-index: 999999999; background-image: url(details4.png); background-repeat: no-repeat; width: 174px; height: 160px; top: 31px; right: -10px; padding: 15px 0 0 15px; display: none; visibility: visible; }
#idsettings:hover { background-color: #003162; }
#details li { display:inline;}
#details li a { display:block; color:#FFF; padding-left:15px; height:35px; line-height:35px; background-position:3px center; font-size:11px; text-align:left; }
#details li a:hover { text-decoration:underline; }
#details li a ins { float:right; color:#F60}
#details li#notes a { padding-right: 25px }
#usernick { margin-right: 3px; }

#lenta-hots { background-image: url(http://i.dir.bg/dir5/zona/html/hots-backgr-new.png); background-position: left bottom; display: none; line-height: 1; padding: 20px; position: absolute; text-align: left; top: 42px; width: 220px; z-index: 700; left: -11px; 
}
#lenta-hots li { display:inline;}
#lenta-hots li a { display:block; height:30px; line-height:30px; border-bottom:1px solid #06C}
#lenta-hots li a:hover { color: #F60 }

#hot2 { width: 66px; text-align: center; background: url(http://i.dir.bg/dir5/zona/html/img/lenta/lenta-sprite2.png) 80px center no-repeat; float: left; height: 42px; line-height: 40px; position: relative; border-left: 1px solid #003162; background-position: 26px -410px; font-family: Tahoma, Geneva, sans-serif; font-size: 13px; z-index: 1001; cursor: pointer; background-color: #E15A00; }
#hot2:hover { background-color: #003162; cursor: pointer; box-shadow: inset 1px 3px 3px #002953 }


@media screen and (orientation:portrait) {
#lentawrapper { width:480px; display:block;
}
#lenta-all { display: block; }
#lentaspace { margin: auto; display: block; }
#lenta-search { display:none;}
#lefb2, #lefb3 a, #lefb4 a, #lefb3, #lefb4, #mylink a, #lefb5 a { display:none !important;}
#lenta-butoni-left { width:140px; left:0;}
#lenta-login a { float:none;}
#lefb1 a { border-right:none;}
}
#notifi { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFF; background-color: #FE4101; height: 14px; line-height: 14px; padding: 0 3px; float: left; position: relative; top: 8px; }
#back-to-mobile a { display: block; width: 100%; margin: auto; text-align: center; height: 70px; line-height: 70px; background-color: #06C; color: #FFF; font-weight: bold; border-radius: 3px; margin-bottom: 15px; margin-top: 5px; border: 1px solid #004891; font-size: 37px; }
#back-to-mobile a:hover { background-color: #004891 }
#back-to-mobile img { position:relative; top:3px}
#back-to-mobile { width: 580px; margin: auto; padding-top: 15px; }
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px; }