@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(https://fonts.gstatic.com/s/michroma/v7/-1qPjVU14dEdanR8MQuQPfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
