@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url(https://fonts.gstatic.com/s/anaheim/v4/Cvwn58PR0rYLGpoTMF4KMA.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: local('Eczar'), local('Eczar-Regular'), url(https://fonts.gstatic.com/s/eczar/v4/dLgrYcC21VVPiU9PrxrOlA.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  src: local('Eczar SemiBold'), local('Eczar-SemiBold'), url(https://fonts.gstatic.com/s/eczar/v4/T0qRTVJuIoBHnXEUGksKI_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: local('Eczar Bold'), local('Eczar-Bold'), url(https://fonts.gstatic.com/s/eczar/v4/uKkwaG-hOaYYy1abMy-byPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: local('Eczar ExtraBold'), local('Eczar-ExtraBold'), url(https://fonts.gstatic.com/s/eczar/v4/u27pht1U05Ce9ot8sLNgG_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
