/** Indicador de videos en Prevista de Artículos **/

.view-noticias.view-display-id-panel_pane_1
.views-field-field-video,
.view-noticias.view-display-id-panel_pane_2
.views-field-field-video,
.view-noticias.view-display-id-panel_pane_4
.views-field-field-video,
.view-noticias.view-display-id-panel_pane_5
.views-field-field-video,
.view-noticias-por-seccion.view-display-id-panel_pane_1
.views-field-field-video,
.view-noticias-por-seccion.view-display-id-panel_pane_2
.views-field-field-video,
.view-noticias-por-seccion.view-display-id-panel_pane_4
.views-field-field-video,
.view-noticias-por-seccion.view-display-id-panel_pane_5
.views-field-field-video {
    position:relative;
}

.view-noticias.view-display-id-panel_pane_1 .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_2 .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_4 .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_5 .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_1 .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_2 .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_4 .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_5 .views-field-field-video .field-content{
    position:absolute;
    width:30px;
    height: 30px;
    background:url('../images/noticia-con-video-1.png') no-repeat center;
    text-indent: -5000px;
    overflow:hidden;
    
    transition: all 0.2s ease-in-out;
}
.view-noticias.view-display-id-panel_pane_1 .views-row:hover .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_2 .views-row:hover .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_4 .views-row:hover .views-field-field-video .field-content,
.view-noticias.view-display-id-panel_pane_5 .views-row:hover .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_1 .views-row:hover .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_2 .views-row:hover .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_4 .views-row:hover .views-field-field-video .field-content,
.view-noticias-por-seccion.view-display-id-panel_pane_5 .views-row:hover .views-field-field-video .field-content{
    background:url('../images/noticia-con-video-hov.png') no-repeat center;
}
.view-noticias-por-seccion.view-display-id-panel_pane_4
.views-field-field-video .field-content {
    top:72px;
    left:68px;    
}


.view-noticias.view-display-id-panel_pane_5
.views-field-field-video .field-content {
    top:75px;
    left:150px;
}

.view-noticias-por-seccion.view-display-id-panel_pane_5
.views-field-field-video .field-content {
    top:110px;
    left:260px;
}

.view-noticias.view-display-id-panel_pane_4
.views-field-field-video .field-content {
    left:385px;
    top:257px;    
}

.view-noticias-por-seccion.view-display-id-panel_pane_1
.views-field-field-video .field-content {
    left:68px;
    top:80px;
}

.view-noticias-por-seccion.view-display-id-panel_pane_2
.views-field-field-video .field-content {
    left:260px;
    top:110px;
}

.view-noticias.view-display-id-panel_pane_1
.views-field-field-video .field-content {
    left:150px;
    top:75px;
}

.view-noticias.view-display-id-panel_pane_2
.views-field-field-video .field-content {
    left:385px;
    top:257px;
}


/** Parrilla **/

body.page-programacion
#block-system-main {
    margin-top:2em;
}


body.page-programacion
#quicktabs-container-view__parrilla_de_programacion__page {
padding-top: 80px!important;
}


body.page-programacion .seccion-dia {
color: #09AB9C;
font-size: 16px;
font-family: 'Open Sans Condensed', sans-serif;
text-transform: uppercase;
border-bottom: 1px dashed #09AB9C;
width: 560px;
margin-top: 40px;
}


body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae {
margin-top: 20px;
margin-right: 25px;
padding-left: 20px;
padding-bottom: 15px;
background: #F8931F;
color: #FFF;
position: static;
width: 624px;
display: block;
margin-left: 5px;
}

body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-parrilla-de-programacion {
    width:auto;
}

body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-parrilla-de-programacion .views-field-nothing {
color: #EE5300;
text-transform: uppercase;
padding-top: 25px;
font-weight: bold;
font-size:12px;
}

body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-parrilla-de-programacion .views-field-title {
    font-size: 26px;
    line-height: 100%;
}


body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-parrilla-de-programacion .views-field-id-programa {
position: absolute;
left: -10px;
}

body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-parrilla-de-programacion .views-field-description {
    display: none;
}


body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae .view-content {
    width:auto;
    position: relative;
    padding-left:140px;
    min-height: 95px;
    padding-top:10px;
    padding-bottom: 10px;
}

body.page-programacion
#block-views-218a6a6cd6ef9e310a707017614de5ae h2{
    display: none;
}


body.page-programacion
.view-parrilla-de-programacion .view-filters {
    width:642px !important;
}

body.page-programacion
.view-parrilla-de-programacion.view-display-id-page .view-filters .ctools-auto-submit-full-form {
padding-top: 4px;
}

body.page-programacion .view-id-parrilla_de_programacion.view-display-id-page {
width: 644px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky {
    position:relative;
}


body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.dia-ordenado {
    position:absolute;
    z-index: 1;
}


body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.lunes {
    left: 0px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.martes {
    left: 92px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.miercoles {
    left: 184px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.jueves {
    left: 276px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.viernes {
    left: 368px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.sabado {
    left: 460px;
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.domingo {
    left: 552px;
}




body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li.active {
    margin:-15px 2px 0 0;    
    width:90px;
    height: 55px;
    
}

body.page-programacion
.quicktabs_main.quicktabs-style-sky {
    top:0px;
}

body.page-programacion
.view-parrilla-de-programacion .view-filters {
    top:46px;
}

body.page-programacion .fecha-ref {
    color:#09ab9c;
    margin-top:7px;
    font-size: 20px;
}


body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs.quicktabs-style-sky li {
    width: 92px;
    margin:0;
    height: 42px;
    margin-top:-2px;
}

body.page-programacion .view-parrilla-de-programacion  #quicktabs-view__parrilla_de_programacion__page  ul.quicktabs-tabs.quicktabs-style-sky li a {
    padding:10px 0 0 0;
    margin:0px;
    position:static;
    width:100%;
    height: 32px;
    line-height: 20px;
    font-size: 16px;
    min-height: 0;
}

body.page-programacion .view-parrilla-de-programacion  #quicktabs-view__parrilla_de_programacion__page  ul.quicktabs-tabs.quicktabs-style-sky li.active a {
    background:#f2f2f2 !important;
    height: 54px;
    padding:0px;
    font-size: 14px;
}

body.page-programacion .view-parrilla-de-programacion  #quicktabs-view__parrilla_de_programacion__page  ul.quicktabs-tabs.quicktabs-style-sky li.active a .sinRef {
    padding-top:13px;
    display: block;
}




body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs li .fecha-ref,
body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs li .dia-nombre-numero,
body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs li.active .dia-nombre {
    display: none;    
}

body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs li.active .fecha-ref,
body.page-programacion .view-parrilla-de-programacion ul.quicktabs-tabs li.active .dia-nombre-numero {
    display: block;
}


body.page-programacion .view-parrilla-de-programacion.view-id-parrilla_de_programacion.view-display-id-page .twocol-float-last {
float: right;
width: 74%;
padding-top: 15px;
}

body.page-programacion .view-parrilla-de-programacion.view-id-parrilla_de_programacion.view-display-id-page .views-field-description {
    display: none;
}

body.page-programacion .view-parrilla-de-programacion span.programa-image {
    margin-left:10px;
}


body.page-programacion .view-parrilla-de-programacion .views-field-program-start {
    color:#d00f2e;
    font-size: 16px;
}

body.page-programacion .view-parrilla-de-programacion .views-field-title {
    font-size: 16px;
}

/** Resumen **/


#edit-field-titulo-twitter-und-0-value {
    width:100%;
}

.contador-resumen {
background: #E9E9E9;
text-align: center;
padding: 5px;
border-radius: 0px 0px 5px 5px;
}


/** Noticieros Front **/


/*
body 
.video-noticiero.active, .video-noticiero:hover {
background: transparent url('/sites/all/themes/ecuavisa/images/noticieros/select-noticiero-hover_1.png') center top no-repeat;
}
body
.video-noticiero.active, .video-noticiero:hover {
background: transparent url('/sites/all/themes/ecuavisa/images/noticieros/select-noticiero-hover_1.png') center top no-repeat;
}

body .video-noticiero .link-noticiero {
    border-bottom:none;
}

.siguientes_noticieros {
    padding-bottom:5px;
}

body .video-noticiero {
background: transparent url('/sites/all/themes/ecuavisa/images/noticieros/select-noticiero_1.png') center top no-repeat;
color: black;
display: inline-block;
float: left;
font-size: 0.7em;
height: 45px;
margin: 1% 0 1% 1%;
overflow: hidden;
padding: 15px 1.5% 0;
text-align: center;
width: 20.75%;
position:relative;
}

body .video-noticiero .ajax-progress.ajax-progress-throbber {
    position:absolute;
    bottom:0%;
    right:0%;
    display: block;
}


body .online .video-noticiero {
    width:45%;
    height: 35px;
}
*/
/** Search **/

body.page-search #block-system-main
.ds-search-extra {
margin-bottom: 1.5em;
color: #999;
}

body.page-search #block-system-main
.sin-resultados {
    margin-left:2em;
}

body.page-search #block-system-main
#search-form
#edit-submit {
    background:white url('../images/buscar-icono.png') center top no-repeat;
    width:30px;
    height: 24px;
    border:none;
    text-indent:-1000px;
    overflow:hidden;
    border-radius: 0px;
    margin-left:-36px;
}

body.page-search #block-system-main
#search-form
#edit-submit:hover {
    background-position:center bottom;
}


body.page-search #block-system-main
.ds-search-extra strong{
margin: 1.5em 0;
color: #777;
}

body.page-search #block-system-main
#search-form #edit-basic .form-item-keys label{
    display: none;    
}

body.page-search #block-system-main
#search-form #edit-basic .form-item-keys #edit-keys{
    padding-right: 35px;
    height: 30px;
    line-height: 30px;
    width: 250px;
    
}


body.page-search h1.title {
    margin:.5em 0;
}


body.page-search #block-system-main .group-left {
    width:20%;
}

body.page-search #block-system-main .group-right {
    width:80%;
}

body.page-search #block-system-main 
.pager {
    margin-top:1.5em;
}


body.page-search #block-system-main .node.view-mode-search_result {
    border-top:1px dashed #777;
    padding:1em 0px;
}

body.page-search #block-system-main .node.view-mode-search_result h3 {
    margin-bottom:.25em;
}

body.page-search #block-system-main .node.view-mode-search_result h3 a {
    color:black;    
    font-size: 16px !important;
}

body.page-search #block-system-main .node.view-mode-search_result h3 a:hover {
    color:#0062A0;
}

body.page-search #block-system-main .node.view-mode-search_result .field-name-post-date div{
    color:gray;
    font-size: 11px;
    line-height: 75%;
}

body.page-search #block-system-main .node.view-mode-search_result .field-name-resumen-en-articulo {
    margin:.5em 0;
}


/** Noticieros Anteriores **/

body .pane-quicktabs-anteriores-noticiero-unminuto {
    /* background:#1A1A1A  url('../images/icono-noticieros-anteriores.png') left center no-repeat; */
    background: #1A1A1A url('/sites/all/modules/custom/ecuabeto/images/icono-noticieros-anteriores.png') 20px 10px no-repeat;
    height: 410px;
    margin-bottom:20px;
}

body .pane-quicktabs-anteriores-noticiero-unminuto h2 {
    width:175px;
}

body #quicktabs-anteriores_noticiero_unminuto ul {
    width: 405px;
}

body #quicktabs-anteriores_noticiero_unminuto li {
    margin-right: 15px;
}

body #quicktabs-anteriores_noticiero_unminuto .quicktabs-tabs li {
    display: block;
    margin:0px;
    width:auto;
    padding:0px;
}


body #quicktabs-anteriores_noticiero_unminuto .quicktabs-tabs li a, body #quicktabs-anteriores_noticiero_unminuto .quicktabs-tabs li.active a {
display: block;
padding: 10px 8px 10px;
margin: 0px;
line-height: 120%;
white-space: normal;
width: 75px;
font-size: 11px;
top: 0px;
font-family: arial;
}


.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row {
    width: 33%;
    text-align: center;
    padding:10px 0px;
    float:left;
    line-height: 90%;
    height: 150px;
}

.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row .views-field-created a {
    font-size: 11px;
}



.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row .views-field-title,
.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row .views-field-created {
    width:auto;
    color:#E6E6E6;
    margin-top:5px;
}

.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row a {
    width: auto;
    color:#E6E6E6 !important;
    font-size:12px;
    text-decoration: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;;
}

.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row .views-field-field-video {
    width: auto; 
}

.page-noticieros-anteriores 
#quicktabs-container-anteriores_noticiero_unminuto
.quicktabs-tabpage .view-noticieros .view-content .views-row .views-field-field-video img{
   height: 90px;
   width:160px;
   background:url('../images/ecuavisa-noticias-anteriores-video-sin-imagen.png');
}


/** RANDOM **/

.page-devel-php #edit-code {
    border:1px solid blue;
}

body.page-seccion-entretenimiento #third-block {
    display: none;
}



/* Ver más */

.ver-mas {
    height: 32px;
    overflow:hidden;
    padding-right: 20px;
    border-top:1px solid #ccc;
}

.ver-mas a {
    background:url('../images/ver-mas.png') left -32px;
    height: 32px;
    float:right;
    display: block;
    padding-left:32px;
    padding-right: 16px;
    margin-right: -10px;
    position:relative;
    color:white;
    text-decoration: none;
    line-height: 32px;
}

.ver-mas a:hover {
    background-position: left 0px;
    z-index:1;
}

body.front #middle-forth .ver-mas a,
.page-seccion-entretenimiento .ver-mas a {
    background-position: left -160px;
}


body.front #middle-forth .ver-mas a:hover,
.page-seccion-entretenimiento .ver-mas a:hover {
    background-position: left -128px;
}

body.front #middle-third .ver-mas a,
.page-seccion-deportes .ver-mas a {
    background-position: left -96px;
}

body.front #middle-third .ver-mas a:hover,
.page-seccion-deportes .ver-mas a:hover {
    background-position: left -64px;
}




/* Noticias Relacionadas por Campo CCK en Artículo */

.node-type-articulo
.pane-node
.pane-noticias-relacionadas-cck,
.node-type-articulo
.block-noticias-relacionadas-cck-block{
float: right;
width: 35%;
background: white;
padding: 1% 1.5% 2%;
margin:0 0 1em .5em;
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
}

.node-type-articulo
.pane-node
.pane-noticias-relacionadas-cck h2,
.node-type-articulo
.block-noticias-relacionadas-cck-block h2{
    color:#CD032E;
    margin-bottom:.25em;
}


.node-type-articulo
.pane-node
.pane-noticias-relacionadas-cck .views-row a:hover,
.node-type-articulo
.block-noticias-relacionadas-cck-block .views-row a:hover{
    color:#0062A0 !important;
}


.node-type-articulo
.pane-node
.pane-noticias-relacionadas-cck 
.views-row,
.node-type-articulo
.block-noticias-relacionadas-cck-block 
.views-row{
    border-bottom:1px dotted #ccc;
    padding:.5em 0;
}

.node-type-articulo
.pane-node
.pane-noticias-relacionadas-cck 
.views-row.views-row-last,
.node-type-articulo
.block-noticias-relacionadas-cck-block 
.views-row.views-row-last{
    border-bottom:0px;
}



/** Selector Fechas **/

.selector-fechas {
height: 31px;
border-top:2px solid #cc0d2e;
border-bottom:1px solid #4c4c4c;
width: 100%;
color: white;
/* background:url("../images/selector-fechas/selector-meses.png") center repeat-x;   */ 
line-height: 31px;
text-align: center;
color:white;
background: #333;
}

.selector-fechas .selector-anios {
padding: 0px 10px;
margin-right: 0px;
cursor: pointer;
/* background:url("../images/selector-fechas/selector-anios.png") center right no-repeat; */
padding-right: 0px;
height: 31px;
line-height: 30px;
}


.page-noticieros-anteriores
#quicktabs-container-anteriores_noticiero_unminuto .quicktabs-tabpage {
height: 360px;
}

.page-noticieros-anteriores
#quicktabs-container-anteriores_noticiero_unminuto  .quicktabs-tabpage 
.view-noticieros.view-id-noticieros
.view-content{
height: 360px ;
}



.page-noticieros-anteriores .pane-quicktabs-anteriores-noticiero-unminuto .pane-title {
    height: 33px;
    margin-top:2px;
}

.page-noticieros-anteriores #quicktabs-anteriores_noticiero_unminuto .quicktabs-tabs li.active a {
    height: 30px;
    background: #CD032E;
}

.selector-fechas .selector-meses {
   /* width: 485px;*/
   width: 445px;
    height: 32px;
    overflow: hidden;
}

.selector-fechas .selector-anios div {
height: 20px;
padding: 1px 8px;
line-height: 20px;
border-radius: 3px;
margin-top: 5px;
margin-right: 5px;
}


.selector-fechas .selector-meses div {
    cursor:pointer;
    height: 31px;
}
.selector-meses div.anio-2014{
    display: none;
}
.selector-fechas .selector-meses div div {
    padding:0 .5em;
    color:#646464;
}


.selector-fechas .selector-meses div div:hover {
/*background: url("../images/selector-fechas/mes-hover.png") center no-repeat; */
}



.selector-fechas .selector-meses div div.activo:hover, 
.selector-fechas .selector-meses div div.activo {
/* background: url("../images/selector-fechas/mes-activo.png") center no-repeat; */
color:white;
}

.selector-fechas .selector-anios div.activo,
.selector-fechas .selector-anios div.activo:hover {
/* background: url("../images/selector-fechas/anio-activo.png") center no-repeat;*/
background:#4c4c4c;
}

.selector-fechas .selector-anios div:hover {
/* background: url("../images/selector-fechas/anio-hover.png") center no-repeat; */
background:#4c4c4c;
}



.selector-fechas div {
    float: left;
}



.page-noticieros-anteriores .view-noticieros .view-content .mCustomScrollBox {
    background: #1A1A1A;
    height: 325px !important;
}

.page-noticieros-anteriores #quicktabs-anteriores_noticiero_unminuto,
.page-noticieros-anteriores .pane-quicktabs-anteriores-noticiero-unminuto {
    width:640px;
}

