.frontpage-layout{
  width: 680px;
  float: left;
}

.panels-separator{
  clear: both;
  margin-top: 5px;
}

.panel-panel.column-first,
.panel-panel.column-last
{
  width: 49%;
  float: left;
  margin-bottom: 5px;
}

.panel-panel.column-last{
    float: right;
}

.panel-block{
  position: relative;
  clear: both;
  float: none;
  margin-left: 10px;
  margin-right: 10px;
}
