.page-noticiero-en-vivo h1#page-title{
	display: none;
}

.page-seccion-noticias #zone-header .region {
    margin-bottom: 3px;
}

.noticiero-container{
    background: #fff !important;
    color: #fff;
    margin-top: 2px;
}
.page-home .siguientes_noticieros.video-noticiero:last-child{
	display: none !important;

}
.video-noticiero{
    color: #fff !important;
    display: block;
	height: 19px;
    font-size: 0.65em !important;
    margin: 0px 0;
    overflow: hidden;
    padding: 5px 8px 5px 68px;
    background: #E1E1E1;
    border-bottom: dashed 1px silver;
}
.video-noticiero .ajax-progress{
    position: absolute;
}
.video-noticiero:before{
    position: absolute;
    background: #F2F2F2;
    font-size: 10pt;
    padding: 5px 6px;
    margin: -5px 5px 0 -68px;
    width: 51px;
    text-align: right;
    color: black;
    font-weight: 600;
}
.video-noticiero:after{
	font-family: 'Droid Sans',sans-serif !important;
    text-shadow: 0px 0px 0px black;
    font-size: 10pt;
    color: black;
    margin: 0 0px 0 73px;
    /* background: red; */
    position: absolute;
    width: 140px;
    left: 0;
	letter-spacing: 0.5px;
}
.video-noticiero:nth-child(1):after,
div.siguientes_noticieros.online .video-noticiero:nth-child(3):after{
	content: 'Contacto Directo';
}
.video-noticiero:nth-child(1):before,
div.siguientes_noticieros.online .video-noticiero:nth-child(3):before{
    content: '7h00';
}

.video-noticiero:nth-child(3):after{
	content: 'Televistazo';
}
.video-noticiero:nth-child(3):before{
    content: '13h00';
}

.video-noticiero:nth-child(5):after{
	content: 'Televistazo';
}
.video-noticiero:nth-child(5):before{
    content: '20h00';
}

.video-noticiero:nth-child(7):after{
	content: 'Telemundo';
}
.video-noticiero:nth-child(7):before{
    content: '23h00';
}

.video-noticiero:nth-child(9):after{
	content: 'Televistazo dominical';
}
.video-noticiero:nth-child(9):before{
    content: '22h00';
}
div.siguientes_noticieros.online .video-noticiero:nth-child(1):before{
    content: 'En Vivo';
    font-size: 9pt;
    padding: 6px 6px;
	background: #001540;
	color: white !important;
	left: 0;
    margin: -5px 0 0 3px;
}
div.siguientes_noticieros.online .video-noticiero:nth-child(1) a{
    color: white !important;
	text-align: center;
	font-size:10pt;
	letter-spacing: 0.5px;
	margin: 0 0 0 3px;
	font-weight: normal !important;
    text-shadow: 0px 0px 0px black;
}
div.siguientes_noticieros.online .video-noticiero:nth-child(1):after,
div.siguientes_noticieros.online .video-fechanova{
	display: none;
}
.video-fechanova{
    background: #001740;
    width: 80px;
    float: right;
    margin: -30px 0px 0;
    padding: 5px 2px;
    text-align: center;
     font-family: 'Droid Sans', sans-serif !important;
    font-weight: 500;
    font-size: 10pt;
    border-bottom: dashed 1px silver;
    transition: all 0.2s ease-in-out;
}

.video-noticiero.active,
.video-noticiero:hover{
    /*background: transparent url('/sites/all/themes/ecuavisa/images/noticieros/select-noticiero-hover_1.png') left top no-repeat;*/
    background:#326097;
        transition: all 0.2s ease-in-out;
}
.video-noticiero.active a,
.video-noticiero:hover a{
    color: transparent !important;
}
.video-noticiero.active:after,
.video-noticiero:hover:after{
	color:white !important;
}
.video-noticiero .link-noticiero{
     font-family: 'Droid Sans', sans-serif !important;
    font-weight: 600 !important;
    font-size: 10pt;
    color: transparent !important;
	    position: absolute;
    z-index: 2;
}

.noticiero-container a{
    text-decoration: none !important;
    color: #fff !important;

}
.noticiero-container h2.block_title{
    /*background: url("../images/noticieros/top-noticiero.png") no-repeat scroll left top #CC0D2E;*/
    /*background: #252525;
	color: #FFFFFF;
	font-size: 25px !important;
	line-height: 38px;
	margin: 0;
	padding-left: 15px;
	text-transform: uppercase;*/
    /*HIPANA SEGUROS: background: url("http://multimedia.ecuavisa.com/sites/default/files/cabecera_noticias_home.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background: url("/sites/all/themes/ecuavisa/images/ecuavisa2015/notitciero_en_vivo.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: transparent;
    font-size: 25px !important;
    line-height: 38px;
    margin: 0 -4px 8px;
    padding-left: 15px;
    text-transform: uppercase;
    width: 296px;
    background-size: 311px;
}
.page-seccion-noticias .noticiero-container h2.block_title{
     width: 292px;
}
@-moz-document url-prefix() {
		.noticiero-container h2.block_title{

		}
}

.noticiero-container a.noticiero-online-ampliar{
    background: url("../images/home/noticiero/ampliar2.png") no-repeat scroll left top transparent;
    display: block;
    float: right;
    height: 22px;
    margin: -36px 198px 0 0;
    width: 82px;
	position: relative;
	z-index: 999;
}
#noticiero_player{
  border: 1px solid #cccccc;
}
div.siguientes_noticieros{
    background: #E1E1E1;
    border: solid 1px #E1E1E1;
    border-left: none;
    border-right: none;
    border-bottom: solid 5px #E1E1E1;
}
div.ver_mas_noticieros{
     /*margin: 1px 0px 0px 0px;
   background: #CC0D2E url('../images/noticieros/bottom-modulo-noticiero.png') left top repeat;*/
    /* background: #252525;
    line-height: 30px;
    text-align: right;
    padding-right: 5px;
    border-top: 1px solid white;*/
   /* background: none repeat scroll 0 0 #001740;
    border-top: 1px solid white;
    line-height: 30px;
    margin: 1px 0 0;
    padding-right: 5px;
    text-align: right;*/

    margin: 1px 0px 0px 0px;
    background: url(/sites/all/themes/ecuavisa/images/noticieros/cross.png) 260px 2px no-repeat #053C7F !important;
    /* border-top: 1px solid white; */
    line-height: 30px;
    margin: -5px 0 -2px;
    padding: 4px 5px;
    text-align: left;
    /*border: solid 2px #001740;*/
}

div.ver_mas_noticieros a{
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
     font-weight: bold;
    /*background-color: #186BEB; */
    padding: 1px 95px 1px 10px;
     font-family: 'Droid Sans', sans-serif !important;
>>>>>>> 26c24913111c4a0ac89a75135624678494abd4cc
}
