div#lc_preview, div#lc_form {
	margin-top: 10px;
	padding: 10px;
}
div#lc_form p label {
	font-weight: bold;
}

div#lc_preview h2.lc_header{
}

div#lc_preview p.lc_message {
	margin-top: 5px;
}

div#lc_about {
	text-align: center;
	font-size: 8px;
	font-style: italic;
	color: #333;
}
