/*  
Theme Name: Simple Red Theme
Theme URI: http://www.profitblogger.com
Description: Fixed width 3-column "adspace-ready" WordPress theme.
Version: 2.2
Author: Profit Blogger
Tags: red, three-columns, fixed-width, theme-options
.
Released under the <a href="http://www.opensource.org/licenses/gpl-license.php">GPL</a>.
.

*/


/* CSS Document */
body { margin: 0; padding: 0; font-family: 'Trebuchet MS'; color: #40454b; font-size: 12px; background: #333333 url(images/body_pat.gif) center repeat-y; }



#content { width: 995px; margin:0px auto; clear:both; text-align:justify; }

/* General Links */
a:link { text-decoration : none; color : #E60D00; border: 0px;} 
a:active { text-decoration : underline; color : #E60D00; border: 0px;} 
a:visited { text-decoration : none; color : #E60D00; border: 0px;} 
a:hover { text-decoration : underline; color : #E50D00; border: 0px;} 


img { padding: 0px; margin: 0px; border: none;}
hr { border-left:0px solid #abb0b5; border-right:0px solid #abb0b5; border-top:1px dotted #abb0b5; border-bottom:0px solid #abb0b5; height : 1px;  }

input { font-family: 'Trebuchet MS'; color: #6a5555; font-size: 12px; }
textarea { font-family: 'Trebuchet MS'; color: #6a5555; font-size: 12px;  }
select { font-family: 'Trebuchet MS'; color: #6a5555; font-size: 12px;  }

h1, h2, h3 { font-family: 'Trebuchet MS'; font-weight:normal}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#bgcontain { width: 995px; margin:0px auto; } 

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.HeaderBG { width: 100%; height:146px; float: left; background: url(images/header.jpg) center top no-repeat; margin:0px auto;}
.Header { width: 964px; height:146px; position: absolute; margin: 0 auto; margin-left:16px; padding: 0px; border-bottom:1px solid #BDBDBD }
.Header h1 { font-family:Trebuchet MS; font-size: 45px; letter-spacing: 0px; line-height: 41px; padding: 10px 0px 0px 20px; margin: 0px; font-weight:normal}
.Header h1 a { text-decoration: none; color:white;}
.Header h1 a:visited { text-decoration: none; color:white;}
.Header h1 a:hover { text-decoration: none; color:white;}

.Desc { font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; color:#ccc; padding-left:23px;margin-top:7px; }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.TopMenu { margin: 0 0 0 5px; padding: 4px 3px 0px 3px; position: absolute; top: 111px; width:625px;}
.TopMenu ul { float:left; width:100%; padding:0px; margin: 0px; font-size: 0px; height:31px; }
.TopMenu li { padding: 0px; margin: 0px; height:31px; list-style-type: none; display: inline; font-size: 17px; font-weight: bold; float:left}
.TopMenu li a { color:white; line-height:31px; padding:6px 10px 6px 10px; border-left:1px solid white; border-right:1px solid white; margin-right:3px; background:url(images/menu_a.gif) left repeat-x;}
.TopMenu li a:visited { color:white;}
.TopMenu li a:hover { color:white; background:url(images/menu_hover.gif) left repeat-x; text-decoration:none; border-left:1px solid black; border-right:1px solid black; }

.subscribe {margin:0; position:absolute; top:81px; right:0px; z-index:1}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*\ IE/Win min height hack */ * html .Search  { height: 100px;} /* */ 
.Search { width: 280px; min-height: 100px; position: absolute; top: 0px; right: 0px;}
.Search  fieldset { border: none; padding: 0px; margin: 0px;}
.Search  legend { margin: 0; padding: 0; color:white}
.Search  form { padding: 30px 33px 0px 33px; margin: 0px 0px 0px 0px;}
.Search  input { color: #666; font-size: 12px; font-family: 'Trebuchet MS'; letter-spacing: -1px; font-weight: bold; }
.Search  input.search { width: 25px; height: 25px; background: url(images/SearchButton.png) no-repeat;}
.Search  input.search:hover { background: url(images/SearchButton.png) no-repeat 0 -25px; }
.Search  input.searchIE {width: 25px; height: 25px; background: url(images/SearchButton.png) no-repeat 0 -25px; }
.Search  input.keyword { margin:0px; height:17px; border: none; background: url(images/search_pat.gif) left repeat-x; padding: 4px 0px 5px 8px; width: 185px; } 


/* IE Win min height hack */ * html #buttonsearch { margin: -26px 0px 0px 190px; } /* */ 
#buttonsearch { padding: 0px; margin: -25px 0px 0px 195px; top: 0px; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.ContainerBG { width: 100%; float: left; margin:0px; padding:0px;}
.Container { width: 995px; position: relative; clear: left; margin: 0 auto; padding:20px 0; }

/* Central Column - Single Pages */
.SCS { float: left; width: 530px; padding:0 0 20px 30px}
.SCS h1 { font-size: 24px; line-height: 26px; letter-spacing: -1px; font-weight: normal; padding: 7px 0px; margin: 0px 0px 7px 0px; border-bottom: dashed 1px #ccc; color:#E50D00;}
.SCS h2 { font-size: 20px; line-height: 22px; letter-spacing: -1px; font-weight: normal; padding: 5px 0px; margin: 0px 0px 5px 0px; }
.SCS h3 { font-size: 17px; line-height: 19px; letter-spacing: -1px; font-weight: normal; padding: 5px 0px; margin: 0px 0px 5px 0px; }
.SCS p { font-size: 12px; line-height: 16px;}
.SCS img { padding: 1px; border: solid 1px #f0f0f0; margin: 0px 15px 15px 0px;}
.SCS blockquote {padding: 3px 15px; background: #F6F9F0; margin: 5px 0px; color:#376CA2; border: solid 1px #F6F9F0;}
.SCS blockquote p { font-size: 11px; padding: 5px 0px; margin: 5px 0px; line-height: 15px;}
.SCS ul { font-size: 11px; padding-left: 12px; }


/* Central Column */
.SC { float: left; padding:0 0 0 30px; width:530px }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.DateHeader { background: #f0f0f0; margin-bottom: 20px; margin-top: 10px;}
.DateHeader p { background:url(./images/DateHeaderIco.png) no-repeat left center; padding: 5px 0px 5px 20px; margin: 0px 0px 0px 10px; font-size: 18px; font-family: 'Helvetica'; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Post {	position: relative; clear: left; width: 530px;}
.Post h1 { font-size: 22px; line-height: 22px; letter-spacing: 0px; font-weight: normal; font-family: 'Trebuchet MS'; padding: 0px; margin: 0px; display: block;}
.Post h1 a { color:#E50D00;; text-decoration: none;}
.Post h1 a:visited { color: #E50D00; text-decoration: none;}
.Post h1 a:hover { color: #FF3328; text-decoration: none;}

.sticky {background:#eeeeee; border: 1px solid #dddddd; } 
.hentry {position: relative; margin: 0 0 10px 0;} 
.hentry h1 { font-size: 22px; line-height: 22px; letter-spacing: 0px; font-weight: normal; font-family: 'Trebuchet MS'; padding: 0px; margin: 0px; display: block;}
.hentry h1 a { color:#E50D00;; text-decoration: none;}
.hentry h1 a:visited { color: #E50D00; text-decoration: none;}
.hentry h1 a:hover { color: #FF3328; text-decoration: none;}

.PostHead { padding: 5px 0 20px 0px; }
.PostHead .title {padding: 0 0 0 70px;}
.PostInfo { padding: 0 0 0 70px; margin: 2px 0px; font-size: 11px; color: #828282;}
.PostInfo em { font-style: normal;}
.PostInfo em a { text-decoration: underline; color: #828282;}
.PostInfo em a:visited { text-decoration: underline; color: #828282;}
.PostInfo em a:hover { text-decoration: underline; color: #828282; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.PostDate { position: absolute; top: 1px; left: 0; text-align: center; margin: 0 0 0 0; padding: 10px 0px 0px 0px; list-style: none; background: url(images/date.jpg) no-repeat left top; width:62px; height:62px;}
.PostDate .month { display: block; font-size: 9px; line-height: 9px; color: #9B0000; text-transform: uppercase;}
.PostDate .day { display: block; font-size: 21px; font-family: Arial; font-weight: bold; line-height: 22px; color: #FA1800; }
.PostDate .year { display: block; font-size: 10px; font-family: Arial; font-weight: bold; line-height: 10px; color: #666; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.PostContent { padding: 5px 0px 10px 0px;  font-size: 14px; line-height: 16px; margin-top: 0; color:#333; }
.PostContent p { font-size: 13px; line-height: 18px; text-align:justify; }
.PostContent img { padding: 1px; border: solid 1px #f0f0f0; margin: 0px 15px 15px 0px;}
.PostContent blockquote { padding: 3px 15px; background: #FFDDDD; margin: 5px 0px; color:#E50D00; border: solid 1px #FFCCCC;}
.PostContent blockquote p { font-size: 13px; padding: 5px 0px; margin: 5px 0px; line-height: 15px;}
.PostContent ul { font-size: 14px; padding-left: 12px; }

.hentry .PostContent ul { font-size: 13px; padding-left: 8px; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.PostDetails { padding: 0px; margin: 0px; font-size: 13px; display: block; width:520px; background:#F9F9F9; height:40px; border-bottom:1px solid #FFC1BC; border-top:1px solid #E7E7E7}
.PostDetails li { padding: 0px; margin: 0px; list-style-type: none; float:right}

.PostDetails .PostCom {}
.PostDetails .PostCom a { padding: 0px 0px 0px 3px; float: left; text-decoration: none; font-size: 10px; text-transform:uppercase}
.PostDetails .PostCom a span { padding: 4px 15px 3px 5px; display: block; }
.PostDetails .PostCom a:hover { text-decoration: none; color:#9B0000}

.PostDetails .Tags { background: url(./images/PostDetailsTagsIco.png) no-repeat left center; padding: 5px 0px 5px 20px; margin-left: 0px;}


/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */
.RelatedPosts { margin: 20px 0 0 0;}
.RelatedPosts  h3 { background: url(images/RelatedPostsHeading.png) no-repeat left center; border-bottom: dashed 1px #376CA2; font-size: 14px; letter-spacing: -1px; padding: 5px 0px 5px 20px; margin: 10px 0; _height:18px;}
.RelatedPosts ol { padding: 10px 0px 0px 20px; margin: 0px;}
.RelatedPosts li { position: relative; padding: 0px 0px 0px 0px; margin: 0px;}


/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

.Comments { padding: 0px; margin: 30px 0; display:block; }
.Comments .List h3 { font-size: 14px; letter-spacing: -1px; background:url(images/CommentsListHeading.png) no-repeat left center; border-bottom: dashed 1px #87909e; padding: 5px 0px 5px 20px; margin: 0px; }
.Comments .List ol { padding: 10px 0px 0px 0px; margin: 0px;}
.Comments .List li { position: relative; padding: 5px; margin: 5px 0; list-style-type: none; font-size: 11px; border: 1px solid #C1C1C1; background-color: #ffffff;}
.Comments .List li.bypostauthor { position: relative; padding: 5px; margin: 5px 0; list-style-type: none; font-size: 11px; border: 1px solid #C1C1C1;background-color: #EBEBEB;}

/* 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

/*\ IE/Win min height hack */ * html .Comments .List .ListNr { left: 0px;} /* */ 
.Comments .List .ListNr { color:white; position: absolute; top: 15px; right:0px; font-size: 18px; line-height: 14px; font-family: "Trebuchet MS"; font-weight: normal; letter-spacing: 0px; width: 15px; height: 15px; padding: 5px; text-align: center; border: solid 1px #cee0f4; background: #B4E0F9;}
.Comments .List .ListUser { margin: 0px; padding: 5px 0px 0px 48px; font-size: 14px; line-height: 14px; font-family: 'Arial'; letter-spacing: 0px;  text-align:right;}
.Comments .List .ListUser a { text-decoration: none;}
.Comments .List .ListUser a:visited { text-decoration: none;}
.Comments .List .ListUser a:hover { text-decoration: none;}

.Comments .List .ListDate { color:#8c97a1; padding: 0px 0px 0px 48px; margin: 0px 0px 0px 0px; font-size: 11px; position:relative;  text-align:right; }
.Comments .List .ListDate a { color:#8c97a1; text-decoration: none;}
.Comments .List .ListDate a:visited { text-decoration: none;}
.Comments .List .ListContent { color:#333; font-size: 11px; line-height: 14px; border-top: solid 1px #8c97a1; margin: 10px 0px 0px 0px;}
.Comments .List .ListContent p { padding: 3px 0 3px 0px; margin: 3px 0px; font-size: 12px; line-height: 14px;}
.reply { width:99.5%; text-align:right; margin: 0 0 -10px 0;}
.avatar { position:absolute; top:5px; padding:0;}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.Comments .Form {}
.Comments .Form h3 { font-size: 14px; letter-spacing: -1px; background:url(images/CommentsFormHeading.png) no-repeat left center; border-bottom: dashed 1px #87909e; padding: 5px 0px 5px 20px; margin: 0px 0px 10px 0px;}

.Comments .Form form { padding: 20px; margin: 0px;}
.Comments .Form p { padding: 3px 0px; margin: 0px; font-size: 12px; color:#000033;}
.Comments .Form p label { padding-bottom: 11px; display: block;}
.Comments .Form p label small { font-size: 11px; color: #000033}

.Comments .Form .Note {  margin: 5px 0px; width: 390px;}
.Comments .Form .Note small { font-size: 10px;}
.Comments .Form .TextField { background: #fff; border: solid 1px #E7E7E7; padding: 5px; font-size: 11px; margin-right: 20px; color:#40454b;}
.Comments .Form .TextArea { background: #fff; border: solid 1px #E7E7E7; padding: 5px; font-size: 11px; color:#40454b;}

.Comments .Form input.SubmitComment { width: 150px; height: 26px; background: url(images/SubmitComment.png) no-repeat; margin-top: 7px;}
.Comments .Form input.SubmitComment:hover { background: url(images/SubmitComment.png) no-repeat 0 -26px; }
.Comments .Form input.SubmitCommentIE { width: 150px; height: 26px; background: url(images/SubmitComment.png) no-repeat 0 -26px; margin-top: 7px; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Right Column */
.SR { float: right; width: 404px; margin:0 10px 0 10px; padding:0px; background: url(images/sidebar_pat.gif) left top repeat-y;}
.SR h2 { font-size: 16px; letter-spacing: -1px; text-align:left; line-height:25px; padding: 0 0 1px 10px; margin: 0px; color:white; background:url(images/side_h2_bg.gif) left repeat-x; font-weight:bold }
.SR ul { padding: 10px 5px 0 5px; margin: 0px; margin-bottom:20px;}
.SR li { padding: 0px; margin: 0px; list-style-type: none;}
/*.SR li a { padding: 4px 0px 5px 5px; text-indent:20px; color: #666; text-decoration: none; background: url(images/bullet.gif) no-repeat left top; width: 160px; display: block;}*/
.SR li a { padding: 4px 0px 5px 5px; color: #666; text-decoration: none; width: 160px; display: block;}  
.SR li a:visited { color: #666; text-decoration: none;} 
.SR li a:hover { text-decoration: underline; color: #E60D00;} 

.SR_pat { clear:both; height:8px; width: 400px; margin:10px 0px; padding: 0px; background: url(images/SRBkg.gif) left bottom no-repeat;}

/* Right - First Column */
.SR .SRL { float: left; margin:0px; width: 187px; padding:20px 10px 0 0; background: url(images/SRLBkg.gif) no-repeat right top; }

/* Right - Second Column */
.SR .SRR { float: right; margin:0px; width: 187px; padding:20px 10px; background: url(images/SRRBkg.gif) no-repeat left top;}
 
 
.Categories { margin-bottom: 20px;}
.Categories h2 {  }

.Links { margin:0px; display:inline; margin-bottom:10px;}
.Archives { margin-bottom: 20px;}
.Meta {}
.Calendar { margin:0; }
.Calendar caption { background: none; padding: 5px 0px; width: 160px; }
.Calendar table { width: 187px; border: solid 1px #E7E7E7;margin-bottom:10px;}
.Calendar table th { text-align: center; letter-spacing: -1px; border-bottom: solid 1px #E7E7E7; padding: 3px 0px;}
.Calendar table td { text-align: center; border: solid 1px #E7E7E7;  padding: 3px 0px; font-size: 11px; }

#searchform {display:none}


#calendar_wrap {
	margin:0px;
}
#calendar_wrap a {
	padding: 3px 0px;
}
#calendar_wrap caption { background: none; padding: 5px 0px; width: 187px; }
#calendar_wrap table { width: 187px; border: solid 1px #E7E7E7; margin-bottom:10px;}
#calendar_wrap table th { text-align: center; letter-spacing: -1px; border-bottom: solid 1px #E7E7E7; padding: 3px 0px;}
#calendar_wrap table td { text-align: center; border: solid 1px #E7E7E7; padding: 3px 0px; font-size: 11px; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Extra Footer */
.ExtraBG { width: 100%; float: left; background: #003399; padding: 25px 0px;}
.Extra { width: 900px; position: relative; clear: left; margin: 0 auto; }
.Extra h3 { padding: 0px 0px 10px 0px; margin: 0px 0px 10px 0px; color:#fff; font-size: 17px; letter-spacing: -1px; border-bottom: dashed 1px #2658ad;}

.Extra ul { padding: 0px; margin: 0px;}
.Extra li { color:#fff; padding: 1px 0px 1px 11px; margin: 0px; list-style-type: none; font-size: 11px; background: url(images/ExtraIco.png) no-repeat left top;}
.Extra li a { color:#95c5e8; }
.Extra li a:visited { color:#95c5e8; }
.Extra li a:hover { color:#fff; }

.Extra .RecentPosts { width: 290px; float: left; }
.Extra .LastComments { width: 290px; float: left; margin: 0px 15px;}
.Extra .MostCommented { width: 290px; float: left;}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.FooterBG { width: 100%; float: left; text-align:center; background: url(images/footer.jpg) bottom center no-repeat;  padding: 27px 0px 25px 0px; }
.Footer { width: 995px; position: relative; margin: 0 auto; }
.Footer p { padding:  0px; margin:0; color:#FEFEFE; font-size: 11px;}
.Footer p a {color:#FEFEFE; text-decoration: underline; }
.Footer p a:hover {color:#FEFEFE; text-decoration: none;}

.Footer ul { display: inline; padding: 0px; margin: 0px; }
.Footer li { display: inline; padding: 0px; margin: 0px; list-style-type: none;}
.Footer .WP { text-indent: -35000px; background: url(images/FooterWPLogo.gif) no-repeat left top; width: 71px; height: 20px; float: left;}
.Footer .DD { text-indent: -35000px; background: url(images/FooterDDLogo.gif) no-repeat left top; width: 83px; height: 20px; float: left; margin-right: 10px; }



.more-link {
	float:left;
	margin:0 0 10px 0;
	font-size:11px;
}

/*ul#recentcomments li { width:160px; padding: 4px 0px 5px 10px; text-indent:15px; background: url(images/bullet.gif) left top no-repeat; }*/
ul#recentcomments li { width:160px; padding: 4px 0px 5px 10px;}
ul#recentcomments li a {background:none; color:#E50D00 }



#s {
	margin:10px;
}


.entry p {line-height:18px;}



/* Begin ADS Box */
.SR .advertisement { 
	background:#fff; margin:0; padding: 0 0 5px 0; height: auto; width:398px; float:left;
}

.ads {
	text-align:center;
	width:125px;
	height:125px;
	overflow:hidden;
	float:left;
	margin: 5px 5px 0 0;
	border:1px solid #ddd;
}


/* End ADS Box */



#commentform {
	background:#F9F9F9;
	border:1px dotted #FFC1BC;
	widows:300px
}





#newsletter {
	margin:0px;
	padding:0px;
	position:absolute;
	top:110px;
	right:50px;
	width:260px;

}
#newsletter p {
	margin:2px;
	padding:3px;
}
#newsletter .button {
	margin:0px 0 0 2px;
	height:20px;
	color:white;
	background-color:#D61011;
	border:1px solid #9B0000;
	font:9px Verdana, Arial, Helvetica, sans-serif;
}
#newsletter a {
	font-size:15px;
	text-decoration:none;
	color:white;
}
#newsletter .field {
	line-height:11px;
	height:15px;
	font-family: Verdana, Arial, Sans-Serif;
	font-size:11px;
	border:1px solid #D61011;
	margin:3px 0 1px 0;
}

.aligncenter {
	display:block;
margin-left:auto;
margin-right:auto;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
	
div.postmeta2 {
	width: 100%;
	font-size: 11px;
	margin-bottom: 0px;
	padding-top: 5px;
	color: #999999;
	}

div.postmeta2 p {
	font-weight:bold;
	margin:0;
	padding:0;
}

div.postmeta2 a, .postmeta2 a:visited {
	font-weight: normal;
	}
	
div.postmeta2 div.metasections {
	width: 60%;
	font-size: 11px;
	margin-bottom: 0px;
	float: left;
	}
	
div.postmeta2 div.metasections2 {
	width: 40%;
	font-size: 11px;
	margin-bottom: 0px;
	float: right;
	}
	
.post_navigation { width: 100%; }	
.navigation { float:right; margin: 5px 0; }
.navigation a { padding: 5px; }
.navigation a:hover { background: #ff0000; color:#fff}
.navigation .current{ padding: 5px; background: lightyellow;}

.adstable { margin:0; padding:0;}