@media (max-width: 479px) {
  .body{
	background-image:none !important;
  }
  .section-wrap.boxed{
	width: auto;
	background: #fff;
	margin: 0 auto;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .container {
	padding-left: 20px;
	padding-right: 20px;
  }
  .row-fluid {
	  margin-left: 0;
	  margin-right: 0;
  }
  .row-fluid .span1, .row-fluid .span2, .row-fluid .span3, .row-fluid .span4,
  .row-fluid .span5, .row-fluid .span6, .row-fluid .span7, .row-fluid .span8,
  .row-fluid .span9, .row-fluid .span10, .row-fluid .span11, .row-fluid .span12 {
	  padding-left: 0;
	  padding-right: 0;
	  width: 100%;
  }
  .lists-category{
	display:none;
  }
  .header-adds, .header-logo{
	width:100% !important;
	text-align:center;
  }
  .header-adds a, .header-logo a{
	line-height:1 !important;
	padding:10px 0;
  }
  .headersearch-button {
	position: absolute;
	right: 15px;
	top: 8px;
  }
  .headersearch .search-box input[type=text]{
	height: 40px;
	padding:10px 0;
  }
  .nav-container{
	height:inherit;
  }
  .navigation.sticky {
	position   : inherit;
	top        : inherit;
	z-index    : 1000;
	background:transparent;
	box-shadow: none;
	width:100%;
  }
  .navigation.sticky .nav-container{
	border-radius:0;
	height:inherit;
	border: 1px solid #e4e4e4;
    border-bottom: 5px solid #eaeced;
  }
  .icon-search.bg{
	line-height:40px;
  }
  .footer-left{
	width:100%;
	text-align:center;
  }
  .footer-right{
	width:100%;
	text-align:center;
  }
  .single-meta{
	padding:6px 10px;
  }
  .single-meta div{
	border:none;
	padding:0;
	padding-right:10px;
  }
  .single-tags, .single-share{
	width:100%;
	text-align:left;
  }
  .single-share{
	margin-top:10px;
  }
  .review-box.review-top{
	width:100%;
  }
  .magazine1 .big-post{
	margin-bottom:15px;
  }
  .related-posts .medium-post{
	margin-top:15px;
  }
  .slider1.owl_slider .item_slide_caption h1{
	font-size:18px;
  }
  .block4 .mediaholder h2{
	font-size:18px;
	min-width:250px;
  }
  .row-fluid.grid{
	margin: 0;
  }
  .row-fluid.grid .span12,
  .row-fluid.grid .span8,
  .row-fluid.grid .span6,
  .row-fluid.grid .span4{
	padding: 0;
	margin-bottom:10px;
  }
  .page404 .title-description .title{
	font-size:40px;
  }
  .etabs li{
	float:none;
	display:block;
  }
  .etabs li a{
	font-size:20px;
	padding:6px 12px;
  }
  .widget .small-post .mediaholder{
	display:block;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .section-wrap.boxed{
	width: 480px;
	background: #fff;
	margin: 0 auto;
  }
  .container {
    width: 480px;
  }
  .row-fluid {
    width: 100%;
  }
  .container {
	padding-left: 20px;
	padding-right: 20px;
  }
  .row-fluid {
	  margin-left: 0;
	  margin-right: 0;
  }
  .row-fluid .span1, .row-fluid .span2, .row-fluid .span3, .row-fluid .span4,
  .row-fluid .span5, .row-fluid .span6, .row-fluid .span7, .row-fluid .span8,
  .row-fluid .span9, .row-fluid .span10, .row-fluid .span11, .row-fluid .span12 {
	  padding-left: 0;
	  padding-right: 0;
	  width: 100%;
  }
  .lists-category{
	display:none;
  }
  .header-adds, .header-logo{
	width:100% !important;
	text-align:center;
  }
  .header-adds a, .header-logo a{
	line-height:1 !important;
	padding:10px 0;
  }
  .headersearch-button {
	position: absolute;
	right: 15px;
	top: 8px;
  }
  .headersearch .search-box input[type=text]{
	height: 40px;
	padding:10px 0;
  }
  .nav-container{
	height:inherit;
  }
  .navigation.sticky {
	position   : inherit;
	top        : inherit;
	z-index    : 1000;
	background:transparent;
	box-shadow: none;
	width:100%;
  }
  .navigation.sticky .nav-container{
	border-radius:0;
	height:inherit;
	border: 1px solid #e4e4e4;
    border-bottom: 5px solid #eaeced;
  }
  .icon-search.bg{
	line-height:40px;
  }
  .footer-left{
	width:100%;
	text-align:center;
  }
  .footer-right{
	width:100%;
	text-align:center;
  }
  .single-meta{
	padding:6px 10px;
  }
  .single-meta div{
	border:none;
	padding:0;
	padding-right:10px;
  }
  .single-tags, .single-share{
	width:100%;
	text-align:left;
  }
  .single-share{
	margin-top:10px;
  }
  .review-box.review-top{
	width:100%;
  }
  .magazine1 .big-post{
	margin-bottom:15px;
  }
  .blog1 .mediaholder{
	margin-bottom:15px;
  }
  .related-posts .medium-post{
	margin-top:15px;
  }
  .slider1.owl_slider .item_slide_caption h1{
	font-size:20px;
  }
  .block4 .mediaholder h2{
	font-size:18px;
	min-width:250px;
  }
  .row-fluid.grid{
	margin: 0;
  }
  .row-fluid.grid .span12,
  .row-fluid.grid .span8,
  .row-fluid.grid .span6,
  .row-fluid.grid .span4{
	padding: 0;
	margin-bottom:10px;
  }
  .page404 .title-description .title{
	font-size:45px;
  }
  .etabs li a{
	font-size:20px;
	padding:6px 12px;
  }
  .widget .small-post .mediaholder{
	display:block;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .section-wrap.boxed{
	width: 770px;
	background: #fff;
	margin: 0 auto;
  }
  .container {
    width: 750px;
  }
  .row-fluid {
	  margin-left: -10px;
	  margin-right: -10px;
  }
  .row-fluid .span1, .row-fluid .span2, .row-fluid .span3, .row-fluid .span4,
  .row-fluid .span5, .row-fluid .span6, .row-fluid .span7, .row-fluid .span8,
  .row-fluid .span9, .row-fluid .span10, .row-fluid .span11, .row-fluid .span12 {
	  padding-left: 10px;
	  padding-right: 10px;
  }
  .lists-category, .small-post .mediaholder.small, .reedwan_comments .mediaholder{
	display:none;
  }
  .header-adds, .header-logo{
	width:100% !important;
	text-align:center;
  }
  .header-adds a, .header-logo a{
	line-height:1 !important;
	padding:10px 0;
  }
  .headersearch-button {
	position: absolute;
	right: 15px;
	top: 8px;
  }
  .headersearch .search-box input[type=text]{
	height: 40px;
	padding:10px 0;
  }
  .nav-container{
	height:inherit;
  }
  .navigation.sticky {
	position   : inherit;
	top        : inherit;
	z-index    : 1000;
	background:transparent;
	box-shadow: none;
	width:100%;
  }
  .navigation.sticky .nav-container{
	border-radius:0;
	height:inherit;
	border: 1px solid #e4e4e4;
    border-bottom: 5px solid #eaeced;
  }
  .icon-search.bg{
	line-height:40px;
  }
  .footer-left{
	width:100%;
	text-align:center;
  }
  .footer-right{
	width:100%;
	text-align:center;
  }
  .single-meta{
	padding:6px 10px;
  }
  .single-meta div{
	border:none;
	padding:0;
	padding-right:10px;
  }
  .single-tags, .single-share{
	width:100%;
	text-align:left;
  }
  .single-share{
	margin-top:10px;
  }
  .review-box.review-top{
	width:100%;
  }
  .slider1.owl_slider .item_slide_caption h1{
	font-size:30px;
  }
  .block4 .mediaholder h2{
	max-width:160px;
	font-size:16px;
  }
  .block4 .mediaholder h2 a.block-cat{
	font-size:12px;
  }
  .etabs li{
	float:none;
	display:block;
  }
  .etabs li a{
	font-size:20px;
	padding:6px 12px;
  }
  .ads125 .ad-inner{
	width:100%;
  }
}
