/*
	Theme Name: Orion Press
    Theme URI: http://themeforest.net/user/ridwanreedwan
    Description: Retina and Responsive Magazine Theme
    Version: 1.4
    Author: Ridwan
    Author URI: http://themeforest.net/user/ridwanreedwan
    License: GNU General Public License version 3.0
    License URI: http://www.gnu.org/licenses/gpl-3.0.html
    Tags: white, light, right-sidebar, custom-menu, editor-style, featured-images, post-formats, sticky-post, translation-ready
*/
/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		 line-height:1.5; 
		 color:#333; 
		 margin:0;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 22px; }
	h2 { font-size: 20px; }
	h3 { font-size: 18px; }
	h4 { font-size: 14px; }
	h5 { font-size: 13px; }
	h6 { font-size: 12px; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }

	pre,
	code {
		font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
	}
	blockquote, blockquote p {  color: #999; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #999; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #999; }
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a{/*
		webkit-transition: all 0.3s ease-in;  
		-moz-transition: all 0.3s ease-in;  
		-ms-transition: all 0.3s ease-in;  
		-o-transition: all 0.3s ease-in;  
		transition: all 0.3s ease-in;*/
	}
	a, a:visited { color: #333; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #333; text-decoration:underline;}
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul { list-style: none outside; margin:0; padding:0; }
	ol { list-style: decimal; margin:0; padding:0; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	

/* #Images
================================================== */
	img {
		max-width: 100%; 
		height:auto;
		border:0; 
		-ms-interpolation-mode:bicubic; 
	}
	img.alignleft { float: left; margin-right:15px;}
	img.alignright { float: right; margin-left:15px;}
	img.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
		width:auto;
	}
	
/* #Field
================================================== */
	input[type=text], input[type=password] {
		background:transparent;
		border:1px solid #e4e4e4;
		width:100%;
		padding:10px;
		color:#888;
		font-size:12px;
		outline:none;
	}
	textarea{
		background:transparent;
		border:1px solid #e4e4e4;
		width:100%;
		outline:none;
		padding:10px;
		color:#888;
	}
	input[type="text"]:focus, 
	input[type=password]:focus,
	textarea:focus{
		border:1px solid #999;
	}
	input#submit, button[type="submit"], input[type="submit"]{
		color:#fff;
		padding:10px 15px;
		border-radius:2px;
		line-height:14px;
		cursor:pointer;
		border:none;
		background:#333;
		border:1px solid #333;
		font-size:16px;
		text-transform:uppercase;
	}
	input#submit:hover, button[type="submit"]:hover, input[type="submit"]:hover{
		background:#fff;
		color:#333;
	}

/* #Misc
================================================== */
	.wp-caption{
		border: 1px solid #eee;
		margin-bottom: 15px;
	}
	.wp-caption-text{
				color: #888 !important;
}
	.gallery-caption{}
	.alignright{ text-align:right;}
	.alignleft{ text-align:left;}
	.aligncenter{ text-align:center;}
	.alignRight{ text-align:right;}
	.alignLeft{ text-align:left;}
	.alignCenter{ text-align:center;}
	.right{ text-align:right;}
	.left{ text-align:left;}
	.center{ text-align:center;}
	.sticky{}
	.bypostauthor{}
	.wp-smiley{ display:inline;}
	
	iframe{display:block; width:100%;}
	.hidden { display: none; }
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
		width: auto!important;
	}
	.facebook-like-wrap{
		border:1px solid #e4e4e4;
		padding-top:7px;
		padding-left:5px;
		padding-right:5px;
	}
	.facebook-like-wrap iframe[style]{ 
		width:100% !important; 
	}
	.video-container {
		position: relative;
		padding-bottom: 56%;
		height: 0; 
		overflow: hidden;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
	}

.section-wrap{
	background:#fff;
}
.section-wrap.boxed{
	width: 1000px;
	background: #fff;
	margin: 0 auto;
	-webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
}
.section-wrap.boxed .navigation.sticky{
	width: 1000px;
}

/* #Header
================================================== */
.header-wrap{
	margin-bottom:30px;
}
.header-logo a{
	display:inline-block;
	position:relative;
	overflow:hidden;
}
.line-head{
	display: none;
}
.header-adds{
	text-align:right;
}
.header-adds a{
	display:inline-block;
}

/* #Navigation
================================================== */
.nav-wrap{
	margin:0 -1px;
}
.nav-load{
	display:none;
}
.nav-container{
	border:1px solid #e4e4e4;
	border-bottom:5px solid #eaeced;
	/*border-radius:2px;*/
	position:relative;
	height:47px;
	width:auto;
}
.fm-button{
	display:none;
	box-sizing:border-box;
	padding:10px;
	width:45px;
	margin-left:5px;
}
.fm-button:hover{
	cursor:pointer;
}

.fm-button .fm-bar{
	display:block;
	width:24px;
	height:4px;
	border-radius:2px;
	background-color:#ddd;
}
.fm-button:hover .fm-bar{
	background:#333;
}
.fm-button .fm-bar+.fm-bar{
	margin-top:4px
}
.flexmenu:after{
	clear:both;
}
.flexmenu a, .noMainmenu{
	text-decoration:none;
	font-size:16px;
	text-transform:uppercase;
}
.flexmenu.fm-toggle.fm-sm{
	display:none
}
.fm-outer{
	position:relative;overflow:hidden;height:100%;width:100%
}
.fm-inner{
	position:relative;height:100%;width:100%;left:0
}
.fm-inner.open{
	left:70%
}
.fm-inner.open .flexmenu.fm-sm{
	left:0
}
.flexmenu.fm-lg .icon-angle-down{
	position:absolute;
	right:15px;
	top:15px;
	border:1px solid #ccc;
	color:#4d4d4d;
	width:15px;
	height:15px;
	border-radius:3px;
	font-size:14px;
	text-align:center;
	line-height:15px;
}
.flexmenu.fm-lg>ul>li:hover > .icon-angle-down{
	color:#fff;
}
.flexmenu.fm-lg>ul>li{
	float:left;
	display:inline-block;
}
.flexmenu.fm-lg ul{
	margin:0;
	padding:0;
	list-style:none;
}
.flexmenu.fm-lg li{
	position:relative;
	white-space:nowrap;
}
.flexmenu.fm-lg li ul{
	position:absolute;
	left:0;
	top:100%;
	z-index:99;
}
.flexmenu.fm-lg li ul .icon-angle-down{
	width:0;
	height:0;
	right:10px;
	top:16px;
	border:5px solid transparent;
	border-left-color:#888;
	text-indent:-9999px;
	border-radius:0;
	line-height:1;
}
.flexmenu.fm-lg li ul ul{
	top:0;left:100%
}
.flexmenu.fm-lg>ul>li a, .noMainmenu{
	display:block;
	padding:11px 14px 8px 14px;
	color:#333;
}
.navigation.sticky .nav-container .flexmenu.fm-lg>ul>li a, .noMainmenu{
	padding:11px 14px 11px 14px;
}
.flexmenu.fm-lg>ul>li.menu-item-has-children > a,
.navigation.sticky .nav-container .flexmenu.fm-lg>ul>li.menu-item-has-children > a{
	padding-right:35px
}
.flexmenu.fm-lg>ul>li {
	padding-top:1px;
}
.flexmenu.fm-lg>ul>li.menu-item-has-children > a{
	padding-right:35px;
}
.flexmenu.fm-lg>ul>li:hover > a, 
.flexmenu.fm-lg>ul>li.current_page_ancestor > a, 
.flexmenu.fm-lg>ul>li.current-menu-item > a, 
.flexmenu.fm-lg>ul>li.current_page_item > a, 
.flexmenu.fm-lg>ul>li.current-menu-ancestor > a
{
	color:#fff;
	text-decoration:none;
	background:#222;
	position:relative;
}
.flexmenu.fm-lg>ul>li.current_page_ancestor > .icon-angle-down, 
.flexmenu.fm-lg>ul>li.current-menu-item > .icon-angle-down, 
.flexmenu.fm-lg>ul>li.current_page_item > .icon-angle-down, 
.flexmenu.fm-lg>ul>li.current-menu-ancestor > .icon-angle-down{
	color:#fff;
}
.flexmenu.fm-lg>ul>li:hover > a:before, 
.flexmenu.fm-lg>ul>li.current_page_ancestor > a:before, 
.flexmenu.fm-lg>ul>li.current-menu-item > a:before, 
.flexmenu.fm-lg>ul>li.current_page_item > a:before, 
.flexmenu.fm-lg>ul>li.current-menu-ancestor > a:before{
	content:'';
	position:absolute;
	top:-2px;
	left:0;
	width:100%;
	height:1px;
	background:#111;
}
.flexmenu.fm-lg>ul>li:hover > a:after, 
.flexmenu.fm-lg>ul>li.current_page_ancestor > a:after, 
.flexmenu.fm-lg>ul>li.current-menu-item > a:after, 
.flexmenu.fm-lg>ul>li.current_page_item > a:after, 
.flexmenu.fm-lg>ul>li.current-menu-ancestor > a:after{
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;
	width:100%;
	height:5px;
	background:#111;
}
.flexmenu.fm-lg>ul>li>ul>li a{
	color:#fff;
	text-transform:capitalize;
	padding:10px 20px;
}
.flexmenu.fm-lg>ul>li>ul>li:hover a{
	color:#fff;
	text-decoration:none;
	background:#111;
	position:relative;
}
.flexmenu.fm-lg li ul{
	background-color:#2e2e2e;
	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
	box-shadow:0 0 8px rgba(0,0,0,0.3);
}
.flexmenu.fm-lg li ul li{
	min-width:180px;
	border-top:1px solid #555;
}
.flexmenu.fm-lg li ul li:first-child{
	border:0;
}
.flexmenu.fm-sm ul{
	margin:0;
	padding:0;
	list-style:none;
}
.flexmenu.fm-sm ul li{
	position:relative;
}
.flexmenu.fm-sm ul li a{
	display:block;
	padding:12px 15px;
	font-size:16px;
	text-shadow:0 0 1px rgba(255,255,255,0.1);
	color:#eee;
}
.flexmenu.fm-sm ul li a:hover,.flexmenu.fm-sm ul li a.active{
	color:#fff;
	text-decoration:none;
}
.flexmenu.fm-sm ul li{
	border-top:1px solid #333;
}
.flexmenu.fm-sm ul li a{
	background-color:#111;
}
.flexmenu.fm-sm ul li a:hover,.flexmenu.fm-sm ul li a.active{
	background-color:#222;
}
.flexmenu.fm-sm ul ul li{
	border-top:1px solid #444;
}
.flexmenu.fm-sm ul ul li a{
	background-color:#222;
	padding-left:30px;
}
.flexmenu.fm-sm ul ul li a:hover,.flexmenu.fm-sm ul ul li a.active{
	background-color:#333
}
.flexmenu.fm-sm ul ul li ul li{
	border-top:1px solid #444;
}
.flexmenu.fm-sm ul ul li ul li a{
	background-color:#333;
	padding-left:45px;
}
.flexmenu.fm-sm ul ul li ul li a:hover,.flexmenu.fm-sm ul ul li ul li a.active{
	background-color:#444;
}
.flexmenu.fm-sm .icon-angle-down{
	position:absolute;
	top:0;
	right:2px;
	height:45px;
	width:45px;
	border-radius:2px;
	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 8px rgba(0,0,0,0.5);
	box-shadow:0 0 8px rgba(0,0,0,0.5);
	text-indent:-9999px;
}
.flexmenu.fm-sm .icon-angle-down:hover{
	cursor:pointer
}
.flexmenu.fm-sm .icon-angle-down:after{
	border:5px solid transparent;
	border-top-color:#888;
	content:"";
	position:absolute;
	right:18px;
	top:22px
}

/* #Sticky Navigation
================================================== */
.navigation.sticky {
  position   : fixed;
  top        : 0;
  z-index    : 1000;
  background:#fff;
  background:rgba(255,255,255,0.9);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  width:100%;
}
.navigation.sticky .nav-container{
	border:none;
	border-radius:0;
	height:43px;
}
.navigation.sticky .flexmenu.fm-lg>ul>li {
	padding-top:0;
}
.navigation.sticky .flexmenu.fm-lg>ul>li:hover > a:before, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current_page_ancestor > a:before, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current-menu-item > a:before, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current_page_item > a:before, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current-menu-ancestor > a:before{
	content:'';
	position:absolute;
	top:-2px;
	left:0;
	width:0;
	height:0;
	background:transparent;
}
.navigation.sticky .flexmenu.fm-lg>ul>li:hover > a:after, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current_page_ancestor > a:after, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current-menu-item > a:after, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current_page_item > a:after, 
.navigation.sticky .flexmenu.fm-lg>ul>li.current-menu-ancestor > a:after{
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;
	width:0;
	height:0;
	background:transparent;
}
.nav-container.sticky  .headersearch{
	padding:0 0 0 20px;
}


/* #Search Header
================================================== */
.headersearch-button{
	position:absolute;
	right:20px;
	top:12px;
}
.headersearch-button:hover{
	text-decoration:none;
}
.headersearch-button i{
	font-size:22px;
	color:#ccc;
}
.headersearch{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:100;
	background:#fff;
}
.icon-search.bg{
	float:left;
	width:45px;
	text-align:left;
	line-height:45px;
	font-size:28px;
	color:#ccc;
	position:absolute;
	left:20px;
}
.headersearch .search-box{
	float:left;
	width:100%;
}
.headersearch .search-box form {
	width: 100%;
	float: left;
	padding-left:60px;
	padding-right:40px;
}
.headersearch .search-box input[type=text] {
	width: 100%;
	color: #ccc;
	padding:6px 12px;
	outline:none;
	font-size:20px;
	position: relative;
	background-color: transparent;
	border: 0px;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	text-transform:uppercase;
}

/* #Headline News
================================================== */
.ticker-wrap{
	overflow:hidden;
	position:relative;
	background:#111;
	/*border-radius:0 0 3px 3px;*/
}
.ticker_container{
	overflow: hidden; 
	height: 30px;
	line-height:33px;	
	background:#2e2e2e;
	padding:0 15px;	
}
.titleticker{
	float:left;
	line-height:33px;
	padding:0 15px 0 20px;
	position:relative;
	display:block;
	color:#fff;
	margin:0;
	text-transform:uppercase;
}
.tickercontainer { 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}
.marquee-wrapper{
	overflow:hidden;
}
.marquee{
	overflow:hidden;
	height:30px;
	width: 9999px;
}
.marquee .marquee-list{
	margin: 0;
	padding: 0;
	padding-right:25px;
	float:left;
}
.marquee .marquee-list a {
	white-space: nowrap;
	padding: 0;
	color:#ddd;
} 
.marquee .marquee-list span {
	color:#aaa;
	padding-left:5px;
	font-style:italic;
}

/* #Block
================================================== */
.block{
	margin-bottom:40px;
}
.block-title, .comment-reply-title{
	border-bottom:1px solid #ccc;
	margin-bottom:30px;
	position:relative;
}
.block-title h2, .comment-reply-title span{
	display:inline-block;
	text-transform:uppercase;
	border-bottom:4px solid #333;
	margin-bottom:-1px;
}
.small-post{
	overflow:hidden;
	border-bottom:1px solid #e4e4e4;
	padding:15px 0;
}
.small-post.last{
	border-bottom:none;
}
.small-post.second{
	padding-top:0;
}
.small-post .mediaholder{
	float:left;
	margin-right:15px;
}
.small-post .detailholder .desc{
	display:block;
	font-size:12px;
}
.small-post .detailholder .more{
	position:relative;
}
.small-post .detailholder .more:after{
	content:'\203A';
	position:absolute;
	right:-12px;
	top:0;
	color:#333;
	font-size:20px;
	line-height:14px;
	margin-bottom:0;
	font-family:arial;
}
.medium-post{
	margin-top:25px;
	overflow:hidden;
}
.medium-post .detailholder.small{
	padding-top:10px;
}
.medium-post .detailholder.small .detailmeta span.stars-small{
	margin-left: 0px;
}
.medium-post .detailholder.small .detailmeta span.stars-small:before{
	content:'';
}
.magazine1 .small-post.last{
	padding-bottom:0;
}
.mediaholder{
	overflow:hidden;
	position:relative;
}
.mediaholder a{
	background:#000;
	display:block;
}
.mediaholder img{
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/*
.mediaholder:hover img{
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
*/
.mediaholder .caption-link{
	z-index:100;
	display:inline-block;
	position:absolute;
	left:50%;
	top:50%;
	width:69px;
	height:32px;
	margin:-16px 0 0 -34px;
}
.mediaholder .caption-link a{
	display:inline-block;
	border:1px solid #fff;
	color:#fff;
	font-size:14px;
	text-align:center;
	width:30px;
	height:30px;
	line-height:28px;
	border-radius:2px;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-moz-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	background:transparent;
}
.mediaholder .caption-carousel{
	z-index:100;
	display:block;
	position:absolute;
	top:0;
	left:0;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-moz-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	background:transparent;
	color:#fff;
	padding:15px 15px 0 15px;
	text-align:center;
}
.mediaholder .caption-carousel .title{
	margin-bottom:7px;
	font-size:18px;
	display:block;
}
.mediaholder .caption-carousel:hover{
	text-decoration:none;
}
/*
.mediaholder:hover .caption-link a, .mediaholder:hover .caption-carousel{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
*/
.mediaholder .caption-link a.first{
	margin-right:5px;
}
.mediaholder .caption-link a:hover{
	text-decoration:none;
}
.flickr-widget .caption-link, .author-pic .caption-link{
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
}
.mediaholder .point-final-score{
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	background:#111;
	z-index:100;
	min-width:50px;
	height:50px;
	text-align:center;
	padding-top:3px;
}
.mediaholder .point-final-score .percent{
	font-size:14px;
	padding-left:2px;
}
.mediaholder .point-final-score h3, .mediaholder .point-final-score h6{
	color:#fff;
	text-transform:uppercase;
}
.detailholder{
	overflow:hidden;
}
.detailholder.medium{
	margin-top:12px;
}
.detailholder.medium .detailmeta{
	font-size:12px;
	margin-top:5px;
	padding-bottom:6px;
	border-bottom:1px solid #e4e4e4;
}
.detailholder.medium .detailmeta span{
	margin-right:10px;
}
.detailholder.medium .detailmeta a{
	color:#888;
}
.detailholder.medium .detailmeta i{
	padding-right:3px;
	color:#999;
}
.detailholder.medium .detailmeta span.views{
	margin-right:0;
}
.detailholder.medium p, .detailholder.big p{
	margin-top:7px;
	margin-bottom:0;
}
.detailholder.big h3, .detailholder.big h2{
	margin-top:12px;
}
.detailholder.small h3{
	font-size:15px;
}
.detailholder.small .detailmeta{
	margin-top:3px;
}
.detailholder.small .detailmeta  p{
	margin:0;
	line-height:20px;
}
.detailholder.small .detailmeta span.time{
	font-size:12px;
	float:left;
	color:#b7b7b7;
	padding-right:11px;
}
.detailholder.small .detailmeta span.views,
.detailholder.small .detailmeta span.comments{
	font-size:12px;
	float:left;
	margin-left:11px;
	position:relative;
}
.detailholder.small .detailmeta span.stars-small{
	margin-top:5px;
	margin-left:13px;
}
.detailholder.small .detailmeta span.stars-small:before{
	content:'|';
	position:absolute;
	left:-13px;
	top:-4px;
}
.detailholder.small .detailmeta span.views:before,
.detailholder.small .detailmeta span.comments:before{
	content:'|';
	position:absolute;
	left:-11px;
	top:0;
}
.detailholder.medium.blog-desc{
	margin-top:0;
}
.detailholder.medium.blog-desc .detailmeta{
	background:#f2f2f2;
	border:1px solid #ececec;
	border-radius:2px;
	padding:3px 10px;
	margin-top:9px;
}
.detailholder.medium.blog-desc p{
	margin-top:8px;
}
.blog-item{
	margin-bottom:30px;
}
.blog-item.full{
	margin-bottom:40px;
}
.more-block{
	display:inline-block;
	margin-top:7px;
}
.more-block a, .more-block .format{
	background:#f2f2f2;
	border:1px solid #ececec;
	padding:0 13px;
	height:28px;
	line-height:25px !important;
	display:inline-block;
	color:#888;
	border-radius:2px;
	font-size:12px;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.more-block .format{
	width:28px;
	margin-right:5px;
	text-align:center;
	padding:0;
	color:#999;
	font-size:13px;
}
.more-block a:hover, .more-block:hover .format{
	background:#111;
	border:1px solid #111;
	color:#fff;
	text-decoration:none;
}
.review-posts{
	padding:15px;
	padding-bottom:12px;
}
.footer_widget .review-posts{
	padding:0;
}
.review-post{
	overflow:hidden;
	margin-bottom:12px;
}
.review-post .title {
	overflow:hidden;
	margin-bottom:5px;
}
.review-post .title h5{
	float:left;
	font-size:14px !important;
}
.review-post .title span{
	float:right;
}
.percent-bar{
	position:relative;
	height:5px;
	width:100%;
	background:#e5e5e5;
}
.percent-bar span{
	position:absolute;
	left:0;
	top:0;
	height:5px;
	background:#333;
}
/* #Carousel
================================================== */
.carousel{
	position:relative;
}
.owl_carousel{
	display:none;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.owl_carousel .owl-controls{
	position:absolute;
	top:0;
	right:0;
}
.owl_carousel .owl-controls .owl-buttons div,
.comment-navigation div a,
.single-nav a{
	color: #111;
	display: inline-block;
	width:20px;
	height:20px;
	font-size: 16px;
	border:1px solid #111;
	border-radius:2px;
	line-height:16px;
	text-align:center;
	margin-top:3px;
}
.owl_carousel .owl-controls .owl-buttons .owl-next{
	margin-left:4px;
}
.owl_carousel .owl-controls.clickable .owl-buttons div:hover,
.comment-navigation div a:hover,
.single-nav a:hover{
	background:#111;
	color:#fff;
	text-decoration: none;
}
.lists-category{
	float:right;
	margin-top:2px;
	margin-right:45px;
}
.lists-category li{
	display:inline-block;
	font-size:13px;
	margin-right:16px;
	text-transform:capitalize;
}
.lists-category li a{
	color:#888;
	font-size:14px;
}
.lists-category li a:hover, .lists-category .all-category, .lists-category .all-category a{
	color:#333;
}

/* #Block Grid
================================================== */
.row-fluid.grid{
	margin-left: -5px;
	margin-right: -5px;
}
.row-fluid.grid .span12,
.row-fluid.grid .span8,
.row-fluid.grid .span6,
.row-fluid.grid .span4{
	padding-left: 5px;
	padding-right: 5px;
}
.row-fluid.grid .second{
	padding-bottom:10px;
}
.row-fluid.grid2{
	margin-left: 0;
	margin-right: -1px;
}
.row-fluid.grid2 .span12,
.row-fluid.grid2 .span6,
.row-fluid.grid2 .span3{
	padding-left: 0;
	padding-right: 1px;
	padding-bottom:1px;
}
.block4 .mediaholder{
	position:relative;
}
/*
.block4 .mediaholder:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
*/
.block4 .mediaholder h2{
	position:absolute;
	bottom:20px;
	right:16px;
	text-align:right;
	max-width:200px;
	font-size:15px;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-moz-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
/*
.block4 .mediaholder:hover h2{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}*/
.block4 .mediaholder h2 a{
	background:transparent;
	color:#fff;
}
.block4 .mediaholder h2 a.block-cat{
	font-size:14px;
	text-transform:uppercase;
	display:inline-block;
	border:1px solid #fff;
	padding:3px 15px;
	margin-bottom:5px;
}

/* #Slider
================================================== */
.slider_block{
	margin-top:-15px;
	margin-bottom:30px;
}
.owl_slider{
	display:none;
	position:relative;
}
.item_slide{
	position:relative;
}
.item_slide a{
	display:block;
	background:#000;
}
.item_slide img {
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.item_slide:hover img{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.item_slide_caption{
	position:absolute;
}
.item_slide_caption h1 a{
	color:#fff;
	float:left;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}
.item_slide_caption h1 a.block-cat{
	text-transform:uppercase;
	font-size:18px;
	border:1px solid #fff;
	line-height:30px;
	padding:0 15px;
	margin:10px 0 0 20px;
	border-radius:2px;
}
.item_slide_caption a{
	background:transparent;
}
.owl_slider .owl-controls{
	position:absolute;
}
.owl_slider .owl-controls .owl-page{
	display: inline-block;
}
.owl_slider .owl-controls .owl-pagination{
	display:inline-block;
}
.owl_slider .owl-controls .owl-page span {
	display: block;
	width: 48px;
	height: 15px;
	margin-right:4px;
	background: #000;
	border:1px solid #fff;
}
.owl_slider .owl-controls .owl-page:hover span,
.owl_slider .owl-controls .owl-page.active span{
	background: #fff;
	border:1px solid #fff;
}
.slider1.owl_slider .item_slide_caption{
	bottom:48px;
	left:0;
	width:100%;
	display:block;
	text-align:center;
	padding:0 10%;
}
.slider1.owl_slider .item_slide_caption h1{
	font-size:40px;
	text-transform:uppercase;
	line-height:1.3;
}
.slider1.owl_slider .owl-controls{
	bottom:20px;
	left:0;
	width: 100%;
	text-align: center;
}
.blog.slider1.owl_slider .owl-controls{
	bottom:10px;
}
.slider2.owl_slider .owl-controls{
	top:0;
	right:0;
}
.slider2.owl_slider .item_slide_caption{
	bottom:0;
	left:0;
	height:50px;
}
.slider2.owl_slider .item_slide_caption h1{
	display:inline-block;
	font-size:20px;
	line-height:50px;
	padding:0 15px;
	background:#222;
	background:rgba(0,0,0,0.6);
	float:left;
}
.block_grid .mediaholder h3{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	color:#fff;
	background: #222;
	background: rgba(0,0,0,0.6);
	padding:5px 8px;
}
.block_grid .mediaholder h3 a{
	color:#fff;
	background:transparent;
}
.carousel-wrap{
	margin-top:-20px;
	margin-bottom:40px;
}
.latest-carousel{
	margin:0 -1px;
	position:relative;
	overflow:hidden;
}
.latest-carousel .owl_carousel .owl-controls{
	position:inherit;
}
.latest-carousel .owl_carousel .owl-controls .owl-buttons div{
	width:40px;
	height:40px;
	background:#fff;
	border-radius:0;
	border:0;
	font-size:25px;
	line-height:36px;
	margin:0;
	position:absolute;
	top:50%;
	margin-top:-20px;
}
.latest-carousel .owl_carousel .owl-controls .owl-buttons .owl-prev{
	left:-50px;
}
.latest-carousel .owl_carousel .owl-controls .owl-buttons .owl-next{
	right:-50px;
}
.latest-carousel-item{
	padding-left:1px;
	padding-right:1px;
}

/* #Single
================================================== */
.full-content{
	margin-bottom:10px;
}
.single-page{
	margin-bottom:50px;
}
.single-navs{
	float:right;
	margin-bottom:9px;
}
.single-nav.nav-prev{
	float:left;
}
.single-nav.nav-next{
	float:right;
	margin-left:4px;
}
.single-title h2{
	
}
.sticky-post{
	text-transform:uppercase;
}
.sticky-post:after{
	content:' -- ';
}
.single-video, .single-audio, .single-gallery, .single-image{
	margin-bottom:15px;
}
.single-meta{
	font-size:12px;
	background: #f2f2f2;
	border: 1px solid #ececec;
	border-radius: 2px;
	overflow:hidden;
	text-transform:capitalize;
	margin-top:10px;
}
.single-meta div{
	padding:5px 15px;
	border-right:1px solid #e8e8e8;
	overflow:hidden;
	float:left;
}
.single-meta a{
	color:#888;
}
.single-meta div i{
	padding-right:5px;
	color:#999;
}
.single-content{
	margin-top:10px;
}
.edit-link {
	display:block;
	margin-bottom:15px;
	overflow:hidden;
}
.edit-link a{
	float:right;
	background: #f2f2f2;
	border: 1px solid #ececec !important;
	padding:0 10px;
	font-size:12px;
	border-radius:2px;
	color:#888;
}
.edit-link a:hover{
	color:#fff;
	background:#333;
	border:1px solid #333;
}
.single-tags-share{
	border:1px solid #e4e4e4;
	border-radius:2px;
	padding:6px;
}
.single-tags{
	float:left;
}
.single-tags h5{
	text-transform:uppercase;
	float:left;
	background:#111;
	color:#fff;
	padding:4px 8px;
	line-height:1;
	margin-right:10px;
}
.single-tags .tags a{
	text-transform:capitalize;
	color:#888;
}
.single-tags .tags a:hover{
	color:#333;
}
.single-share{
	float:right;
	height:20px;
}
.single-share .item-share{
	float:left;
	margin-right:10px;
}
.twitter-share-button{
	width:85px !important;
}
.box-author{
	border:1px solid #e4e4e4;
	overflow:hidden;
	padding:10px;
	margin-top:40px;
}
.box-authors{
	margin-bottom:40px;
}
.box-author.archive{
	margin-top:0;
	margin-bottom:40px;
}
.box-author.list{
	margin-top:30px;
}
.author-pic{
	float:left;
}
.author-description{
	padding-left:115px;
}
.author-description p{
	margin:0;
}
.author-title-social{
	border-bottom:1px solid #e4e4e4;
	overflow:hidden;
	padding-bottom:5px;
	margin-bottom:7px;
}
.author-title-social .author-title{
	float:left;
	text-transform:uppercase;
	margin-right:20px;
}
.author-title-social .author-social{
	float:left;
}
.author-title-social .author-social a{
	color:#aaa;
	font-size:15px;
	line-height:24px;
	margin-right:20px;
}
.author-title-social .author-social a:hover{
	text-decoration:none;
	color:#333;
}
.related-posts{
	margin-top:40px;
}
.related-posts .medium-post{
	margin-top:0;
}

/* #Pagination
================================================== */
.pagination .pagi{
	width:28px;
	height:28px;
	border:1px solid #333;
	color:#333;
	border-radius:2px;
	line-height:26px;
	text-align:center;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	margin-right:5px;
}
.pagination .pagi.current{
	background:#111;
	border:1px solid #111;
	color:#fff;
}
.pagination .pagi.arrow{
	font-size: 17px;
	line-height: 23px;
}
/* #Single Typography
================================================== */
.single-content strong,
.single-content em,
.single-content del{
	color:#333;
}
.single-content a{
	color:#333;
}
.single-content img.alignleft,
.single-content img.alignright
.single-content img.aligncenter{
	margin-top:5px;
}
.single-content h1, 
.single-content h2, 
.single-content h3, 
.single-content h4,
.single-content h5,
.single-content h6{
	margin-bottom:10px;
}
.single-content .block-title h2{
	margin-bottom:-1px;
}
.single-content ul, 
.single-content ol  {  
	margin-bottom:20px; 
	margin-top:0; 
	margin-left: 26px;
}
.single-content ul li{ 
	list-style-type: circle;
	margin-bottom:10px;
}
.single-content ul li>ul, .single-content ol li>ol{
	margin-top:10px;
}
.single-content ol li { 
	list-style-type: decimal; 
	margin-bottom:10px;
}
.single-content blockquote { 
	overflow:hidden; 
	font-style:italic; 
	border:none;
	padding:0 0 0 20px;
	border-left:2px solid #333;
}
.single-content blockquote p { 
	padding:0; margin:0; 
	font-size:16px;
}
.hightlight{
	padding:3px 10px;
}
.dropcap {
	height:71px;
	width:71px;
	float:left;
	overflow:hidden;
	font-size:40px;
	line-height:71px;
	text-align:center;
	margin-top:5px;
	margin-right:10px;
}
.dropcap.style1{
	background:#333;
	color:#fff;
	border:2px solid #333;
}
.dropcap.style2{
	background:#fff;
	color:#333;
	border:2px solid #333;
}
.dropcap.style3{
	background:#e4e4e4;
	color:#333;
	border:2px solid #.dropcap.style3;
	border-radius:50%;
	line-height:69px;
}
.dropcap.style4{
	background:#fff;
	color:#333;
	border:2px solid #333;
	border-radius:50%;
	line-height:69px;
}
.gallery .gallery-item a img{
	border:none !important;
	width: 175px;
}

/* #Comment
================================================== */
.single-comments{
	overflow:hidden;
}
#comments .block-title{
	margin-top:40px;
}
.comment-navigation{
	float:right;
}
.comment-navigation div{
	overflow:hidden;
}
.comment-navigation .nav-previous{
	float:left;
}
.comment-navigation .nav-next{
	float:right;
	margin-left:4px;
}
.comment-reply-title span{
	font-size:20px;
}
#comments{
	clear:both;
}
#comments .navigation{
	padding:0 0 18px;
	overflow:hidden;
}
#comments .navigation a:hover{
	padding:0 7px;
	color:#f1f1f1;
}
#comments .navigation .nav-previous{
	float:left;
}
#comments .navigation .nav-next{
	float:right;
}

.commentlist{
	list-style:none;
	margin:0;
}
.single-comments ol li.comment{
	padding:0;
	position:relative;
}
.comment-wrap{
	border:1px solid #e4e4e4;
	overflow:hidden;
	margin-bottom:15px;
	padding:10px;
}
.commentlist .comment-author{
	top:0;
	left:0;
	float:left;
}
.commentlist li ul li .comment-author{
	width:85px;
}
.fn{
	text-transform:uppercase;
	float:left;
}
.single-comments ul.children{
	padding: 0px 0px 0px 125px; 
	margin: 0px 0px 0px 0px; 	
}
.single-comments ul li ul.children{
	padding: 0px 0px 0px 110px; 
}
.comment-meta{
	overflow:hidden;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:5px;
	margin-bottom:7px;
	height:30px;
}
.comment-info{
	float:left;
	text-transform:uppercase;
}
.comment-info h3, .comment-info h6{
	margin-left:8px;
	float:left;
}
.comment-info h3 a, .comment-info h3{
	color:#ccc;
}
.comment-info h6{
	line-height:2;
}
.reply-comment{
	float:right;
	text-transform:uppercase;
	line-height:1.7;
}
.comment-body{
	overflow:hidden;
	padding-left:15px;
}
.comment-body p{
	margin:0;
}
.comment-respond{
	margin-top:40px;
	margin-bottom:40px;
}
#cancel-comment-reply-link{
	text-transform:uppercase;
	float:right;
	line-height:2;
}
#comments .pingback p{
	display:block;
	line-height:18px;
	margin:0;
}
#comments .pingback .url{
	font-style:italic;
}
.comment-form input[type=text]{
	margin-bottom:20px;
	padding-top:12px;
	padding-bottom:12px;
}
.comment-form .text-name, .comment-form .text-email{
	width:50%;
	float:left;
}
.comment-form .text-email{
	padding-left:2px;
}
.comment-form .text-name{
	padding-right:2px;
}


/* #Reviews
================================================== */
.review-box{
	background: #f2f2f2;
	border: 1px solid #ececec;
	border-radius: 2px;
	padding:20px;
}
.review-box.review-percentage {
	padding:30px;
}
.review-box br{
	display: none;
}
.review-bottom{
	clear:both;
	margin-bottom:20px;
	margin-top:0;
}
.review-box.review-top{
	float:left;
	width:55%; 
	padding:15px;
	margin:10px 20px 10px 0;
}
.widget .review-bottom{
	margin-bottom:0;
}	
.taq-clear{
	clear:both;
}	
.review-item{
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}
.review-item h5{
	position:relative;
	z-index:2;
	text-transform:uppercase;
	float:left;
	line-height:30px !important;
	font-weight:bold !important;
	margin-bottom:0;
}
.review-percentage .review-item h5{ 
	color:#fff;
}
.review-item{
	margin-bottom:4px;
}
.review-item .base{
	position: relative;
	display: block;
	height: 30px;
	background:#fff;
	padding:0 15px;
}
.review-percentage .review-item  .bar{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 30px;
	background:#333;
}
.review-percentage .review-item p{
	margin:0;
	position:relative;
	float:right;
	line-height:30px;
}
.review-stars .stars-large{
	float:right;
	margin-top:9px;
}
.review-summary{
	overflow:hidden; 
	position:relative; 
	min-height: 110px;
	padding-bottom:30px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}
.review-short-summary{   
}
.review-short-summary p{
	margin:0;
	padding-top:5px;
}
.review-box-header{
	font-size:26px;
}
.review-final-score{
	background-color: #333;
	min-width:110px;
	height:110px;
	top:1px;
	text-align:center;
	color:#333;
	padding:14px 10px;
	float:left;
	border-radius:2px;
	margin-right:25px;
}
.review-final-score .post-large-rate{
	margin-top:5px;
}
.review-final-score h3{
	font-size: 48px;
	line-height:1;
	color:#fff;
	margin:0;
}
.review-final-score h3 span{
	font-size: 20px;
	color:#fff;
}
.review-final-score h4{
	margin-bottom:0;
	font-size: 26px;
	color:#fff;
	
}
span.post-small-rate, 
span.post-small-rate span, 
span.post-large-rate, 
span.post-large-rate span{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;	
}
span.post-small-rate,
span.post-small-rate span,
span.post-large-rate,
span.post-large-rate span{
	display: block; 
	background-image: url('images/stars.png');
	background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
        span.post-small-rate,
		span.post-small-rate span,
		span.post-large-rate,
		span.post-large-rate span{
			display: block; 
			background-image: url('images/stars-retina.png');
			background-repeat: no-repeat;
			background-size: 96px 44px; 
		}
}

span.post-large-rate{
	display: block;
	position: relative;
	float: left;
	width: 96px;
	height: 20px;
	background-position: -0px -24px;
	background-color: #ddd;
	margin-top:2px;
}
span.post-large-rate span{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	height: 20px;
	background-position: -0px -24px;
	background-color: #333;
}
span.post-small-rate{
	display: block;
	position: relative;
	float: left;
	width: 68px;
	height: 11px;
	background-position: -0px 0px;
	margin-top:2px;
}
span.post-small-rate span{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	height: 11px;
	background-position: -0px -12px;
}
.post-single-rate{
	float:left;
	margin-right:5px;
}
.user-rate-wrap{
	margin-top:10px;
	background: #fff;
	padding: 5px 10px 5px 15px;
}
.user-rate-wrap .stars-large{
	margin-top:2px;
}
.user-rate{	
	float:right; 
	width: 98px;
}
.user-rate-wrap .user-rating-text{ 
	float:left;
	color:#333;
}
.user-rate-wrap .user-rating-text strong{
	text-transform:uppercase;
}
ul.reviews-posts{
	list-style:none;
}
ul.reviews-posts li{ 
	overflow:hidden;
}
ul.reviews-posts .review-thumbnail{
	float:left;
	margin-right:10px;
}
ul.reviews-posts h3{ 
	margin-bottom:5px;
}
.user-rate-active span.post-large-rate span{
	cursor:pointer;
}
.taq-load{
	background:url(images/ajax-loader.gif) no-repeat center;
	width: 98px;
	height: 22px;
	display: block;
}


/* #Widgets
================================================== */
.widget{
	margin-bottom:30px;
}
.widgettitle{
	background:#333;
	text-transform:uppercase;
	color:#fff;
	padding:2px 10px;
	position:relative;
	margin-top:3px;
	margin-bottom:1px;
}
.widgettitle:before{
	content:'';
	width:100%;
	height:2px;
	background:#333;
	position:absolute;
	top:-3px;
	left:0;
}
.widget > ul, .widget_twitter > ul, .st-tab > ul{
	padding:15px 15px;
	border:1px solid #e4e4e4;
	color:#333;
	overflow:hidden;
}
.footer-widget .widget_twitter > ul{
	padding:0;
	border: none;
}
.widget ul li, .footer_widget ul li{
	margin-bottom:15px;
	position:relative;
	padding-left:15px;
}
.widget ul li ul, .footer_widget ul li ul{
	padding-top:15px;
}
.widget ul li:last-child, .footer_widget ul li:last-child{
	margin-bottom:0;
}
.widget ul li:before, .footer_widget ul li:before{
	content:'\203A';
	position:absolute;
	left:0;
	top:0;
	color:#333;
	font-size:18px;
	line-height:1;
	font-weight:700;
	margin-bottom:0;
	font-family:arial;
}
.footer-widget{
	padding-top:15px;
	border-top:1px solid #e4e4e4;
}
.footer_widget{
	margin-bottom:40px;
}
.footerwidgettitle{
	text-transform:uppercase;
	padding-bottom:0px;
	margin-bottom:20px;
	overflow:hidden;
	background:#333;
	color:#fff;
	display:inline-block;
	padding:0px 10px;
}
.widget  .textwidget{
	border:1px solid #e4e4e4;
	padding:15px;
	padding-bottom:0;
}
.cat-num{
	float:right;
	color:#333;
}
	
	/* Calendar */
	.widget_calendar table#wp-calendar caption  { 
		text-transform: uppercase;
		line-height: normal;
		font-weight: normal;
		font-size: 16px;
		color:#333;
		padding:7px 0;
		text-align:left;
		
	}
	.footer_widget.widget_calendar table#wp-calendar caption {
		padding-top:0 !important;
	}
	.widget_calendar table#wp-calendar {	
		width:100%;
	}
	.widget_calendar tbody .pad {
		background-color:transparent;
		border:0;
	}
	.widget_calendar table td {
		border:none;
	}
	.widget_calendar table#wp-calendar>tbody>tr>td>a:hover {
		background:none;
	}
	.widget_calendar thead>tr>th {
		width:14.2857%; 
		padding:5px 0px 6px 0px; 
		text-align:center; 
		border:1px solid #e4e4e4;
		color:#333;
	}
	.widget_calendar tbody>tr>td {
		width:14.2857%; 
		padding:5px 0px 6px 0px; 
		text-align:center;	
		border:1px solid #e4e4e4; 
	}
	.widget_calendar tfoot>tr>td>a, tfoot>tr>td>a:link, tfoot>tr>td>a:hover, tfoot>tr>td>a:visited, tfoot>tr>td>a:active {
		height:20px;	
	}
	.widget_calendar tfoot>tr>td#prev {
		width:58px;	
		height:20px;	
		text-align : left;
	}
	.widget_calendar tfoot>tr>td#next {
		width:58px; 
		height:20px;	
		text-align : right;
		border:none;	
	}

	/* Search */
	.search-sidebar form {
		position:relative;
	}
	.search-sidebar input{
		padding-right:37px;
	}
	.search-sidebar i{
		position:absolute;
		right:10px;
		top:8px;
		font-size:20px;
		color:#ccc;
	}
	
	/* Feedburner */
	.widget .feedburner-box{
		padding:15px;
		border:1px solid #e4e4e4;
	}
	.feedburner-box p{
		margin-bottom:10px;
	}
	
	/* Counter */
	.widget .social-counters, .st-tab .social-counters{
		border:1px solid #e4e4e4;
		padding:20px 15px 0 15px;
	}
	.counter{
		margin-bottom:20px;
	}
	.counter-icon, .counter-desc{
		float:left;
	}
	.counter-icon{
		color:#333;
		border:1px solid #333;
		width:40px;
		height:40px;
		border-radius:2px;
		font-size:20px;
		text-align:center;
		line-height:36px;
	}
	.counter-desc{
		padding-left:15px;
		font-size:12px;
	}
	.counter-desc .count{
		font-size:14px;
		font-weight:bold;
		color:#333;
	}
	.counter-button{
		float:right;
		height:38px;
		width:90px;
		line-height:36px;
		color:#fff !important;
		background:#333;
		text-align:center;
		border-radius:2px;
		font-size:14px;
		border:1px solid #333;
		display:none;
	}
	.counter-button:hover{
		background:#fff;
		text-decoration:none;
		color:#111 !important;
		font-weight:bold;
	}
	
	/* Tags */
	.widget .tagcloud, .st-tab .tagcloud{
		border:1px solid #e4e4e4;
		padding:15px;
		padding-bottom:5px;
	}
	.tagcloud a{
		font-size:13px !important;
		height:38px;
		border:1px solid #333;
		padding:0 25px;
		display:inline-block;
		line-height:35px;
		font-weight:bold;
		margin:0 10px 10px 0;
		position:relative;
	}
	.tagcloud.count a{
		padding-right:55px;
	}
	.tagcloud a span{
		position:absolute;
		right:13px;
		top:6px;
		font-size:12px;
		background:#333;
		color:#fff;
		height:25px;
		width:25px;
		border-radius:50%;
		line-height:25px;
		text-align:center;
	}
	.tagcloud a:hover{
		text-decoration:none;
	}
	.tagcloud a:before{
		content:'';
		height:100%;
		width:2px;
		background:#333;
		position:absolute;
		left:1px;
		top:0;
	}
	
	/* Widget Blocks */
	.widget .widget-block{
		border:1px solid #e4e4e4;
	}
	.widget .small-post{
		padding:15px 15px;
	}
	.footer_widget .small-post.first
	{
		padding-top:0;
	}
	.footer_widget .small-post.last
	{
		padding-bottom:0;
	}
	
	/* Tabber */
	.etabs{
		overflow:hidden;
		border-bottom:1px solid #ccc;
		margin-bottom:2px;
	}
	.etabs li{
		list-style:none;
		padding:0 !important;
		margin:0 !important;
		overflow:hidden;
		border-top:2px solid #fff;
		margin-right:2px !important;
		float:left;
		display:inline-block;
	}
	.etabs li:before, .etabs li:after{
		content:'' !important;
	}
	.etabs li a{
		text-transform:uppercase;
		font-size:17px;
		background:#e5e5e5;
		line-height:1;
		padding:6px 8px;
		display:block;
		margin-top:2px;
	}
	
	.etabs li a:hover, .etabs li.active a{
		text-decoration:none;
		background:#333;
		color:#fff;
	}
	.etabs li.active{
		border-top:2px solid #333;
	}
	.st-tab .small-post:hover{
		background:#fff;
	}
	.st-tab{
		background:#f2f2f2;
	}
	
	/* Flickr */
	.flickr-widget{
		padding:15px;
		overflow:hidden;
	}
	.footer-widget .flickr-widget{
		padding:0;
	}
	.flickr-widget .item{
		display:inline-block;
		width:33.3%;
		float:left;
		padding:0 2px 4px 2px;
		overflow:hidden;
	}
	
	/* Youtube Gallery */
	.youtube-gallery{
		padding:15px;
		border:1px solid #e4e4e4;
		overflow:hidden;
	}
	.footer_widget .youtube-gallery{
		padding:0;
		border:none
	}
	.youtube-gallery .youwrap{
		overflow:hidden;
		position:relative;
		cursor:pointer;
		width:100%;
		height:0;
		padding-top:56.25%;
	}
	.youtube-gallery .youwrap a{
		display:block;
	}
	.youtube-gallery .youframe{
		display:none;
		border:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
	}
	.youtube-gallery .youbg{
		position:absolute;
		top:-17%;
		left:0;
		width:100%;
	}
	.youtube-gallery .items {
		margin:0 -3px;
		padding-top:6px;
	}
	.youtube-gallery .items .item{
		float:left;
		width:33.3%;
		padding:0 3px;
	}
	.youtube-gallery .youplay-big{
		position:absolute;
		top:50%;
		left:50%;
		margin:-25px 0 0 -25px;
		font-size:60px;
		color:#fff;
		opacity:0.6;
	}
	.youtube-gallery .youplay-small{
		position:absolute;
		top:50%;
		left:50%;
		margin:-15px 0 0 -15px;
		font-size:30px;
		color:#fff;
		opacity:0.6;
		text-shadow:0 0 1px rgba(255,255,255,0.1);
	}
	.youtube-gallery .featured:hover .youplay-big,
	.youtube-gallery .items .item:hover .youplay-small{
		opacity:1;
	}
	.youtube-gallery a:hover {
		text-decoration:none;
	}
	
	/* About Us */
	.widget .about-wrap{
		border:1px solid #e4e4e4;
		padding:15px;
	}
	.widget .about-img{
		margin-top:5px;
	}
	.footer-wrap.dark .line-head, .widget .line-head{
		display:none;
	}
	.footer_widget.widget_widget-about .footerwidgettitle{
		display:none;
	}
	.footer_widget .about-img{
		position:relative;
		display:inline-block;
	}
	.footer_widget .line-head{
		top:-16px;
	}
	.about-text{
		margin:0;
		margin-top:22px;
	}
	.about-social{
		padding:0 !important;
		border:none !important;
		margin-top:25px;
	}
	.about-social li{
		display:inline-block;
		float:left;
		padding:0 !important;
		margin-right:10px;
		margin-bottom:10px !important;
	}
	.about-social li:last-child{
		margin-right:0;
	}
	.about-social li:before{
		content:'' !important;
	}
	.about-social li a{
		display:block;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
		border:1px solid #333;
		background:#333;
		color:#fff;
		border-radius:2px;
		font-size:16px;
	}
	.about-social li a:hover{
		text-decoration:none;
		background:#fff;
		color:#333;
	}
	.footer-wrap.dark .about-social li a{
		border:1px solid #999;
		background:transparent;
	}
	.footer-wrap.dark .about-social li a:hover{
		border:1px solid #fff;
		color:#fff;
	}
	
/* #Footer
================================================== */
.footer{
	border-bottom:4px solid #333;
	font-size:12px;
	border-top:1px solid #e5e5e5;
}
.footer-left{
	float:left;
	text-align:left;
	padding:8px 0;
}
.footer-right{
	float:right;
	text-align:right;
	padding:8px 0;
}
.bottom-menu ul li{
	display:inline-block;
	margin-right:15px;
}
.bottom-menu ul li:last-child{
	margin-right:0;
}
.footer-wrap.dark{
	background:#1e1e1e;
	color:#999;
}
.footer-wrap.dark .footer
{
	border-top-color:#303030;
	border-bottom-color:#383838;
}
.footer-wrap.dark .footer-widget{
	border:none;
}
.footer-wrap.dark h1,
.footer-wrap.dark h2,
.footer-wrap.dark h3,
.footer-wrap.dark h4,
.footer-wrap.dark h5,
.footer-wrap.dark h6,
.footer-wrap.dark .widget_calendar thead>tr>th,
.footer-wrap.dark .widget_calendar table#wp-calendar caption,
.footer-wrap.dark .counter-desc .count{
	color:#ccc;
}
.footer-wrap.dark .footerwidgettitle{
	background:transparent;
	border:1px solid #999;
}
.footer-wrap.dark .tagcloud a,
.footer-wrap.dark .widget_calendar thead>tr>th,
.footer-wrap.dark .widget_calendar tbody>tr>td,
.footer-wrap.dark .counter-icon
{
	border-color:#333;
}
.footer-wrap.dark .tagcloud a:before{
	background:#333;
}
.footer-wrap.dark .small-post{
	border-color:#303030;
}
.footer-wrap.dark a, 
.footer-wrap.dark .footer_widget ul li:before,
.footer-wrap.dark .cat-num,
.footer-wrap.dark .small-post .detailholder .more:after,
.footer-wrap.dark .search-sidebar i,
.footer-wrap.dark .counter-icon{
	color:#999;
}
.footer-wrap.dark input[type=text], 
.footer-wrap.dark input[type=password] {
	border-color:#333;
	color:#999;
}
.footer-wrap.dark  input[type="text"]:focus, 
.footer-wrap.dark  input[type=password]:focus,
.footer-wrap.dark  textarea:focus{
		border-color:#666;
}
.footer-wrap.dark input#submit:hover, 
.footer-wrap.dark button[type="submit"]:hover, 
.footer-wrap.dark input[type="submit"]:hover,
.footer-wrap.dark .counter-button:hover{
	border-color:#666;
	background:#1e1e1e;
	color:#fff !important;
}

/* #Contact Page
================================================== */
.contact-info, .contact-form{
	overflow:hidden;
	margin-bottom:50px;
}
.contact-info .info{
	margin:0;
	padding:10px 0;
	border-bottom:1px solid #e4e4e4;
}
.contact-info .info:last-child,
.contact-info .info.last{
	border-bottom:none;
	padding-bottom:0;
}
.contact-info .info .detail{
	min-width:140px;
	float:left;
}
.contact-input{
	width:50%;
	float:left;
	padding-bottom:20px;
}
.contact-input.contact-name{
	padding-right:4px;
}
.contact-subject, .contact-textarea{
	padding-bottom:20px;
}
.error-contact{
	color:red;
}
.thanks{
	color:green
}

/* #404 Page
================================================== */
.page404 .title-description{
	text-align:center;
	overflow:hidden;
	padding-bottom:30px;
}
.page404 .title-description .title{
	font-size:72px;
}
.page404 .title-description .description{
	font-size:24px;
	padding-top:20px;
}
.page404 .title-description .description2{
	font-size:16px;
}
.page404 .title-description .description2 a{
	font-weight:bold;
}

/* #Adds 336x280
================================================== */
.ads336-280, .ads300-250{
	background:#f2f2f2;
}
.ads336-280 .ad-inner{
	max-width:336px;
	max-height:280px;
	margin:0 auto;
	overflow:hidden;
}
.ads336-280 .ad-inner a, .ads300-250 .ad-inner a{
	display:block;
}
.ads336-280 .ad-inner img, .ads300-250 .ad-inner img{
	width:100%;
}
.ads300-250 .ad-inner{
	max-width:300px;
	max-height:250px;
	margin:0 auto;
	overflow:hidden;
}
.ads125{
	background:#f2f2f2;
	border:1px solid #e4e4e4;
	overflow:hidden;
	width:100%;
	padding:8px 10px;
}
.ads125 .ad-inner{
	width:50%;
	float:left;
}
.ads125.ads-one .ad-inner{
	width:100%;
}
.ads125 .ad-wrap{
	max-width:125px;
	max-height:125px;
	margin:0 auto;
	padding:7px 0;
}

/* #Back to top button
================================================== */
#back-top {
	position: fixed;
	bottom: 0;
	right:0;
}
#back-top a {
	width: 30px;
	height:40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background:#111;
}
#back-top span {
	font-size:28px;
	text-align:center;
	width: 30px;
	height:40px;
	display: block;
	color:#fff;
	line-height:43px;
}
#back-top span:before{
	margin:0;
}

/* #Layout
================================================== */
.widget .small-post .mediaholder{
	display:none;
}
@media (min-width: 1200px) {
	.ads336-280, .ads300-250{
		border:1px solid #e4e4e4;
	}
	.ads125{
		padding:17px 18px;
	}
	.ads125 .ad-wrap{
		padding:15px 0;
	}
	.ads336-280 .ad-inner{
		padding:12px 0;
	}
	.ads300-250 .ad-inner{
		padding:28px 0;
	}
	.section-wrap.boxed{
		width: 1200px;
		background: #fff;
		margin: 0 auto;
	}
	.section-wrap.boxed .navigation.sticky{
		width: 1200px;
	}
	.nav-container{
		height:51px;
	}
	.navigation.sticky .nav-container{
		height:47px;
	}
	.counter-button{
		display:block;
	}
	.flexmenu a, .noMainmenu{
		font-size:18px;
	}
	.flexmenu.fm-lg>ul>li a, .noMainmenu{
		padding:13px 20px 10px 20px;
	}
	.navigation.sticky .nav-container .flexmenu.fm-lg>ul>li a, .noMainmenu{
		padding:13px 20px 13px 20px;
	}
	.flexmenu.fm-lg>ul>li.menu-item-has-children > a,
	.navigation.sticky .nav-container .flexmenu.fm-lg>ul>li.menu-item-has-children > a{
		padding-right:43px;
	}
	.flexmenu.fm-lg .icon-angle-down{
		right:17px;
		top:15px;
	}
	.lists-category li{
		font-size:14px;
		margin-right:25px;
	}
	.block4 .mediaholder h2{
		max-width:250px;
		font-size:18px;
	}
	.headersearch .search-box input[type=text]{
		padding:8px 12px;
	}
	.widget .small-post .mediaholder{
		display:block;
	}
	.etabs li a{
		font-size:20px;
		padding:6px 11px;
	}
	
}


.single-content p{
	font-size: 17px !important;
	line-height: 24px;
	color: #000;
}

.related-posts span.comments{
	display:none;
}

.single-content a{
	text-decoration: underline;
  color: rgb(15, 124, 220) !important;
}

.sub-menu{
height: 500px;
overflow: scroll;
}

.views {
display:none;
}