.vc_clearfix:before, .vc_clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.vc_clearfix:after {
  clear: both;
}

.wpb_content_element {
	margin-bottom:20px;
}
/* Facebook
---------------------------------------------------------- */
.fb_type_standard {
  height: 25px;
}
.fb_type_standard iframe {
  height: 25px;
}
.fb_type_button_count {
  height: 20px;
}
.fb_type_button_count iframe {
  height: 20px;
}
.fb_type_box_count {
  height: 62px;
}
.fb_type_box_count iframe {
  height: 62px;
}
/* Google plus
---------------------------------------------------------- */
.wpb_googleplus_type_standard {
  height: 25px;
}
.wpb_googleplus_type_small {
  height: 19px;
}
.wpb_googleplus_type_medium {
  height: 21px;
}
.wpb_googleplus_type_tall {
  height: 21px;
}
/* Pinterest
---------------------------------------------------------- */
.wpb_pinterest_type_horizontal {
  height: 21px;
}
.wpb_pinterest_type_vertical {
  height: 60px;
}
.wpb_pinterest_type_none {
  height: 21px;
}
/* Buttons
---------------------------------------------------------- */
.wpb_button {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom:15px;
  margin-right:15px;
  margin-top: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  *margin-left: .3em;
  outline:none;
}
.wpb_button:hover,
.wpb_button:active,
.wpb_button.active,
.wpb_button.disabled,
.wpb_button[disabled] {
  background-color: #eaeaea;
   outline:none;
}
.wpb_button:active,
.wpb_button.active {
  background-color: #d1d1d1 \9;
   outline:none;
}
.wpb_button:first-child {
  *margin-left: 0;
}
.wpb_button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.wpb_button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
   outline:none;
}
.wpb_button.active,
.wpb_button:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
button.wpb_btn-large,
span.wpb_btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
button.wpb_btn-large [class^="icon-"],
span.wpb_btn-large [class^="icon-"] {
  margin-top: 1px;
}
button.wpb_btn-small,
span.wpb_btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
button.wpb_btn-small [class^="icon-"],
span.wpb_btn-small [class^="icon-"] {
  margin-top: -1px;
}
button.wpb_btn-mini,
span.wpb_btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.wpb_btn-primary,
.wpb_btn-primary:hover,
.wpb_btn-warning,
.wpb_btn-warning:hover,
.wpb_btn-danger,
.wpb_btn-danger:hover,
.wpb_btn-success,
.wpb_btn-success:hover,
.wpb_btn-info,
.wpb_btn-info:hover,
.wpb_btn-inverse,
.wpb_btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wpb_btn-primary.active,
.wpb_btn-warning.active,
.wpb_btn-danger.active,
.wpb_btn-success.active,
.wpb_btn-info.active,
.wpb_btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.wpb_button {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
}
.wpb_btn-primary {
  background-color: #0088cc;
}
.wpb_btn-primary:hover,
.wpb_btn-primary:active,
.wpb_btn-primary.active,
.wpb_btn-primary.disabled,
.wpb_btn-primary[disabled] {
  background-color: #0077b3;
}
.wpb_btn-primary:active,
.wpb_btn-primary.active {
  background-color: #005580 \9;
}
.wpb_btn-warning {
  background-color: #ff9900;
}
.wpb_btn-warning:hover,
.wpb_btn-warning:active,
.wpb_btn-warning.active,
.wpb_btn-warning.disabled,
.wpb_btn-warning[disabled] {
  background-color: #e68a00;
}
.wpb_btn-warning:active,
.wpb_btn-warning.active {
  background-color: #b36b00 \9;
}
.wpb_btn-danger {
  background-color: #ff675b;
}
.wpb_btn-danger:hover,
.wpb_btn-danger:active,
.wpb_btn-danger.active,
.wpb_btn-danger.disabled,
.wpb_btn-danger[disabled] {
  background-color: #ff4f42;
}
.wpb_btn-danger:active,
.wpb_btn-danger.active {
  background-color: #ff200f \9;
}
.wpb_btn-success {
  background-color: #6ab165;
}
.wpb_btn-success:hover,
.wpb_btn-success:active,
.wpb_btn-success.active,
.wpb_btn-success.disabled,
.wpb_btn-success[disabled] {
  background-color: #5aa855;
}
.wpb_btn-success:active,
.wpb_btn-success.active {
  background-color: #488644 \9;
}
.wpb_btn-info {
  background-color: #58b9da;
}
.wpb_btn-info:hover,
.wpb_btn-info:active,
.wpb_btn-info.active,
.wpb_btn-info.disabled,
.wpb_btn-info[disabled] {
  background-color: #43b0d5;
}
.wpb_btn-info:active,
.wpb_btn-info.active {
  background-color: #2a97bc \9;
}
.wpb_btn-inverse {
  background-color: #555555;
}
.wpb_btn-inverse:hover,
.wpb_btn-inverse:active,
.wpb_btn-inverse.active,
.wpb_btn-inverse.disabled,
.wpb_btn-inverse[disabled] {
  background-color: #484848;
}
.wpb_btn-inverse:active,
.wpb_btn-inverse.active {
  background-color: #2f2f2f \9;
}
button.wpb_button,
input[type="submit"].wpb_button {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.wpb_button::-moz-focus-inner,
input[type="submit"].wpb_button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.wpb_button.wpb_btn-large,
input[type="submit"].wpb_button.wpb_btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.wpb_button.wpb_btn-small,
input[type="submit"].wpb_button.wpb_btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.wpb_button.wpb_btn-mini,
input[type="submit"].wpb_button.wpb_btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
/* Button
---------------------------------------------------------- */
a.wpb_button_a {
  text-decoration: none;
  border: none;
}
a.wpb_button_a:hover {
  text-decoration: none;
}
.wpb_button:hover {
  background-image: none;
}
i.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  margin-left: 5px;
}
.wpb_btn-large i.icon {
  height: 19px;
  margin-left: 9px;
}
.wpb_btn-small i.icon {
  height: 15px;
}
.wpb_btn-mini i.icon {
  display: none;
}
.wpb_address_book i.icon,
option.wpb_address_book {
  background: url(../admin/js_composer/assets/images/icons/address-book.png) no-repeat right center;
}
.wpb_alarm_clock i.icon,
option.wpb_alarm_clock {
  background: url(../admin/js_composer/assets/images/icons/alarm-clock.png) no-repeat right center;
}
.wpb_anchor i.icon,
option.wpb_anchor {
  background: url(../admin/js_composer/assets/images/icons/anchor.png) no-repeat right center;
}
.wpb_application_image i.icon,
option.wpb_application_image {
  background: url(../admin/js_composer/assets/images/icons/application-image.png) no-repeat right center;
}
.wpb_arrow i.icon,
option.wpb_arrow {
  background: url(../admin/js_composer/assets/images/icons/arrow.png) no-repeat right center;
}
.wpb_asterisk i.icon,
option.wpb_asterisk {
  background: url(../admin/js_composer/assets/images/icons/asterisk.png) no-repeat right center;
}
.wpb_hammer i.icon,
option.wpb_hammer {
  background: url(../admin/js_composer/assets/images/icons/auction-hammer.png) no-repeat right center;
}
.wpb_balloon i.icon,
option.wpb_balloon {
  background: url(../admin/js_composer/assets/images/icons/balloon.png) no-repeat right center;
}
.wpb_balloon_buzz i.icon,
option.wpb_balloon_buzz {
  background: url(../admin/js_composer/assets/images/icons/balloon-buzz.png) no-repeat right center;
}
.wpb_balloon_facebook i.icon,
option.wpb_balloon_facebook {
  background: url(../admin/js_composer/assets/images/icons/balloon-facebook.png) no-repeat right center;
}
.wpb_balloon_twitter i.icon,
option.wpb_balloon_twitter {
  background: url(../admin/js_composer/assets/images/icons/balloon-twitter.png) no-repeat right center;
}
.wpb_battery i.icon,
option.wpb_battery {
  background: url(../admin/js_composer/assets/images/icons/battery-full.png) no-repeat right center;
}
.wpb_binocular i.icon,
option.wpb_binocular {
  background: url(../admin/js_composer/assets/images/icons/binocular.png) no-repeat right center;
}
.wpb_document_excel i.icon,
option.wpb_document_excel {
  background: url(../admin/js_composer/assets/images/icons/blue-document-excel.png) no-repeat right center;
}
.wpb_document_image i.icon,
option.wpb_document_image {
  background: url(../admin/js_composer/assets/images/icons/blue-document-image.png) no-repeat right center;
}
.wpb_document_music i.icon,
option.wpb_document_music {
  background: url(../admin/js_composer/assets/images/icons/blue-document-music.png) no-repeat right center;
}
.wpb_document_office i.icon,
option.wpb_document_office {
  background: url(../admin/js_composer/assets/images/icons/blue-document-office.png) no-repeat right center;
}
.wpb_document_pdf i.icon,
option.wpb_document_pdf {
  background: url(../admin/js_composer/assets/images/icons/blue-document-pdf.png) no-repeat right center;
}
.wpb_document_powerpoint i.icon,
option.wpb_document_powerpoint {
  background: url(../admin/js_composer/assets/images/icons/blue-document-powerpoint.png) no-repeat right center;
}
.wpb_document_word i.icon,
option.wpb_document_word {
  background: url(../admin/js_composer/assets/images/icons/blue-document-word.png) no-repeat right center;
}
.wpb_bookmark i.icon,
option.wpb_bookmark {
  background: url(../admin/js_composer/assets/images/icons/bookmark.png) no-repeat right center;
}
.wpb_camcorder i.icon,
option.wpb_camcorder {
  background: url(../admin/js_composer/assets/images/icons/camcorder.png) no-repeat right center;
}
.wpb_camera i.icon,
option.wpb_camera {
  background: url(../admin/js_composer/assets/images/icons/camera.png) no-repeat right center;
}
.wpb_chart i.icon,
option.wpb_chart {
  background: url(../admin/js_composer/assets/images/icons/chart.png) no-repeat right center;
}
.wpb_chart_pie i.icon,
option.wpb_chart_pie {
  background: url(../admin/js_composer/assets/images/icons/chart-pie.png) no-repeat right center;
}
.wpb_clock i.icon,
option.wpb_clock {
  background: url(../admin/js_composer/assets/images/icons/clock.png) no-repeat right center;
}
.wpb_play i.icon,
option.wpb_play {
  background: url(../admin/js_composer/assets/images/icons/control.png) no-repeat right center;
}
.wpb_fire i.icon,
option.wpb_fire {
  background: url(../admin/js_composer/assets/images/icons/fire.png) no-repeat right center;
}
.wpb_heart i.icon,
option.wpb_heart {
  background: url(../admin/js_composer/assets/images/icons/heart.png) no-repeat right center;
}
.wpb_mail i.icon,
option.wpb_mail {
  background: url(../admin/js_composer/assets/images/icons/mail.png) no-repeat right center;
}
.wpb_shield i.icon,
option.wpb_shield {
  background: url(../admin/js_composer/assets/images/icons/plus-shield.png) no-repeat right center;
}
.wpb_video i.icon,
option.wpb_video {
  background: url(../admin/js_composer/assets/images/icons/video.png) no-repeat right center;
}

/* Google maps
---------------------------------------------------------- */
.wpb_gmaps_widget .wpb_map_wraper iframe {
  margin-bottom: 0;
  padding: 0;
  display: block;
}

.wpb_content_element .wpb_tabs_nav li a:focus,
.wpb_accordion_section .wpb_accordion_header a:focus,
.wpb_tour_next_prev_nav a:focus {
  outline: none;
}
/** Tabs/Tour Common **/
.wpb_tabs{
	margin-bottom:40px;
}
.wpb_accordion{
	margin-bottom:40px;
}
.wpb_content_element .wpb_tour_tabs_wrapper,
.wpb_content_element .wpb_tabs_nav {
  padding: 0;
}
.wpb_content_element .wpb_tabs_nav {
  margin: 0;
  padding-left: 0 !important;
  text-indent: inherit !important;
  margin-bottom:-1px;
}
#content .wpb_content_element .wpb_tabs_nav {
  margin: 0;
}
.wpb_content_element .wpb_tabs_nav li {
  background-color: #333;
  white-space: nowrap;
  padding: 0;
  background-image: none;
  list-style: none !important;
  color:#fff;
  border:1px solid #333;
}
.wpb_content_element .wpb_tabs_nav li a{
  color:#fff;
}
.wpb_content_element .wpb_tabs_nav li:after,
.wpb_content_element .wpb_tabs_nav li:before {
  display: none !important;
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
.wpb_content_element .wpb_tabs_nav li:hover {
  background-color: transparent;
  border:1px solid #e4e4e4;
  border-bottom:1px solid #fff;
  border-top:4px solid #333;
  margin-top:-3px;
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a{
  cursor: default;
  color:#888;
}
.wpb_content_element .wpb_tabs_nav li:hover a{
	color:#888;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_ui-tabs-hide {
  display: none;
}
/** Tabs/Tour/Accordion Common **/
.wpb_accordion_section.group{
  margin-bottom:15px;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
  border-bottom: none;
  text-decoration: none;
  display: block;
  padding: 0.5em 1.5em;
  font-size:14px;
}
.wpb_content_element .wpb_accordion_header{
	outline:none;
}
.wpb_content_element .wpb_accordion_header a {
  border-bottom: 5px solid #333;
  text-decoration: none;
  display: block;
  padding:5px 0;
  outline:none;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background-color: transparent;
  border:1px solid #e4e4e4;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
  padding: 1em;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content{
  padding:1em 0 0 0;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab > .wpb_content_element:last-child,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content > .wpb_content_element:last-child,
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab .wpb_row:last-child > div > div.wpb_wrapper .wpb_content_element:last-child,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content .wpb_row:last-child > div > div.wpb_wrapper .wpb_content_element:last-child {
  margin-bottom: 0;
}
.wpb_tabs p:last-child, .wpb_accordion p:last-child{
	margin-bottom:0;
}
/** Tabs **/
.wpb_tabs .wpb_tabs_nav li {
  float: left;
  margin: 0 2px 0 0;
}
/** Tour **/
.wpb_tour .wpb_tabs_nav {
  float: left;
  width: 31.666666666666668%;
}
.wpb_tour .wpb_tabs_nav li {
  margin: 0 0 1px 0;
}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  width: 68.33333333333333%;
  padding: 0 0 0 21.739130434782606px;
}
.wpb_tour_next_prev_nav {
  margin-left: 31.666666666666668%;
  padding-left: 21.739130434782606px;
  font-size: 80%;
}
.wpb_tour_next_prev_nav a {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.wpb_tour_next_prev_nav a:hover {
  text-decoration: none;
  border-bottom: none;
}
.wpb_tour_next_prev_nav span {
  width: 48%;
  display: inline-block;
  padding-top: 1em;
  float: left;
}
.wpb_tour_next_prev_nav span.wpb_next_slide {
  text-align: right;
  float: right;
}
/** Accordion **/
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  margin: 0 0 1px 0;
  padding-top: 0;
  position: relative;
  text-transform: uppercase;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../admin/js_composer/assets/images/toggle_open.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0.7em;
  cursor:pointer;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  background-image: url(../admin/js_composer/assets/images/toggle_close.png);
}
/* Message Box
---------------------------------------------------------- */
.messagebox_text p:last-child{
	margin-bottom:0;
}
.wpb_alert {
  padding: 1em 35px 1em 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #c09853;
  clear: both;
  margin-bottom:20px;
}
.wpb_alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.wpb_alert-danger,
.wpb_alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.wpb_alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.wpb_alert .messagebox_text {
  padding-left: 28px;
  background: url(../admin/js_composer/assets/vc/alert.png) no-repeat left center;
}
.wpb_alert-info .messagebox_text {
  background: url(../admin/js_composer/assets/vc/info.png) no-repeat left center;
}
.wpb_alert-success .messagebox_text {
  background: url(../admin/js_composer/assets/vc/tick.png) no-repeat left center;
}
.wpb_alert-error .messagebox_text {
  background: url(../admin/js_composer/assets/vc/exclamation.png) no-repeat left center;
}
/* Flickr stream
---------------------------------------------------------- */
.flickr_badge_image {
  margin: 0 10px 10px 0px;
  width: 72px;
  height: 72px;
  float: left;
  background: none;
  padding: 0;
}
.flickr_badge_image a {
  border: none;
}
.flickr_badge_image img {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.wpb_flickr_widget p.flickr_stream_wrap {
  clear: both;
  margin-bottom: 0;
  font-size: 80%;
}
.wpb_flickr_widget p.flickr_stream_wrap a {
  background-image: url(../admin/js_composer/assets/images/flickr.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  display: inline-block;
}
/* Video widget
---------------------------------------------------------- */
.wpb_video_widget .wpb_wrapper .wpb_video_wrapper {
  padding-top: 56%;
  position: relative;
}
.wpb_video_widget .wpb_wrapper .wpb_video_wrapper > div {
  padding-top: 0 !important;
  position: static;
}
.wpb_video_widget .wpb_wrapper iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wpb_video_wrapper .fluid-width-video-wrapper {
  padding-top: 0 !important;
  position: static;
}