

@import url("/__export/1480946773042/system/modules/com.tfsla.diario.bigbang/resources/css/mobile.css");

@media ( min-width: 768px ) {
.my-tab{display:block !important}
#home_page #mas-reciente .banner {max-width: 292px; overflow: hidden;margin: 5px auto 0 auto;}
#home_page #mas-reciente .banner div {position: relative; right: 2px;}

}

@media ( min-width: 767px ) and ( max-width: 976px ) {
#mas-reciente .box-content article:nth-last-child(-n+3){display:none}
.my-slider .my-slider-gallery li{width:auto}
#form-suscribite-newsletter .form-group{width:100%;position:relative;margin:30px 0 30px}
.a-summ.a-gen .a-author{font-size:12px}
.col-sm-12 .banner{display:block;/*background:#f3f3f3;*/padding:20px 0}
/*[mz]*/ .alerta-block-4{height:700px !important}
form#form-login .form-group,form#form-register .form-group{margin-right:-40px}
#modal-login .pngs.img_registrate.sm{margin-left:-15px}
#article_page #article-share-bottom{margin-right:10%}
}

@media ( min-width: 976px ) {
.alerta-3 .a-summ.a-ultimo-momento .a-media img{height:100%;max-width:1000%}

}

@media ( max-width: 976px ) {
#bajar-app{ height: auto;padding-bottom: 30px;}
#bajar-app .center{padding: 10px 0 0;}
#bajar-app h5{margin-top: 0;display: none;}
#bajar-app p{display: none;line-height: 20px;}
#bajar-app .hide{display: block!important;}
#bajar-app .ic_bajarapp{top: 18px;left: 50%;margin-left: -59px;width:118px;height:135px;background-position: -143px -1380px;display:none;}
.articles-tile .banner .mod-content-banner {display: none;}


.alerta-3 .a-ultimo-momento .a-media{height:auto;overflow:visible;width:100%}
.alerta-3 .a-ultimo-momento .a-media img{height:auto;max-width:100%}
.alerta-3 h3.text-center{margin-top:17px;text-align: center;}
.alerta-3 h3 span.m-under:after{display:block!important;}
.alerta-block-4 .a-summ.video{padding-top:17px}
.alerta-block-3{border-left:0}
.alerta-block-4 .a-summ.video .a-media{width:100%;padding-bottom:56.25%;height:0 !important}
.alert-scroll-content > div{width:98%;margin-left:1%}
/*nota*/
.articles-tile .banner{position:relative;padding:0;margin:20px 0;min-height:250px;background:#f3f3f3;padding:20px 0}
.articles-tile .banner > *{position:relative;top:0;margin-top:0}
#banner-publish{padding:20px 10px;margin:1%;width:98%}
#banner-publish img, #banner-publish a.btn{left:50%;position:relative}
#banner-publish img{margin-left:-60px}
#banner-publish a.btn{margin-left:-123px}
#mas-en-famosos{margin-top:30px}
#article_page .carousel .ics.ic_prv, #article_page .carousel .ics.ic_nxt {-moz-transform: scale(.75);-webkit-transform: scale(.75);-o-transform: scale(.75);-ms-transform: scale(.75);transform: scale(.75);}
#article_page .carousel .carousel-control i {margin: 0px;position: absolute;top: 50%;margin-top:-16px;}

/*nota*/
#article_page .article-poll .form-poll.multiple .poll-answers label{line-height:1;padding:10px 0}
#article_page .article-poll .form-poll.multiple:not(.results) .poll-answers label{padding:10px 20px}
#article_page .article-poll #openPool_100 .poll-answers label .per-number{margin: 0px;}
#article_page .article-poll .poll-answers label .per-number{min-height:0;margin:-10px 0}
#footer .col-lg-12 .pull-right{float:left !important;margin-top:20px}
#article_page header #trigger-caption{float:right;cursor:pointer;position:absolute;bottom:-2px;right:5px;display:none !important;}
#article_page header .active #trigger-caption i{background-position:-107px -325px}
#article_page header #trigger-caption p {display: none}
#article_page header .title{margin-top:20px}
#article_page article.photo header{margin-bottom:0px}
/*#article_page .banner.b300x250>* {margin: 17px auto;}*/

/*\nota*/
#comments-block .comments-list li{padding:25px 0 44px 0}
#article_page header figcaption p{text-align:right;width:100%;padding-right:10px}
.modal-dialog.modal-md{max-width:94%;margin-left:3%;margin-right:3%}
.comunidad_page #lo-mas-leido .box-title{margin-top:20px}
#home_page.comunidad_page #banner-publish-me p, #tips_page #banner-publish-me p, #pautas_page #banner-publish-me p{display:none}
#home_page.comunidad_page #banner-publish-me h5, #tips_page #banner-publish-me h5, #pautas_page #banner-publish-me h5{font-size:16px !important}
#home_page.comunidad_page #banner-publish-me .btn, #tips_page #banner-publish-me .btn, #pautas_page #banner-publish-me .btn{width:100%}
#home_page.comunidad_page #banner-publish-me i.pngs, #tips_page #banner-publish-me i.pngs, #pautas_page #banner-publish-me i.pngs{margin-top:-10px !important}
/*perfiles*/
#perfiles #header .top-content .logo {margin-right:55px}
#perfiles #header .top-content .logo .ics {transform:scale(4.4);-moz-transform:scale(4.4);-webkit-transform:scale(4.4);-o-transform:scale(4.4)}
/*\publicar */
#preview_post .form-ok h5, #preview_post .form-ok p, #preview_post .form-ok .text-left{text-align:center !important}
/*\publicar */
body #header #s-element #navbar > ul > li:first-child, body #header #s-element #navbar .mCSB_container li:first-child{display:none;}
#s-element #navbar .mCSB_container .pull-left ul li:first-child{display: block !important;}
}

@media ( min-width: 992px ) {
/*#hdr-cont{overflow:hidden}*/
#header #s-element > div{width:52%;position:absolute;height:100%}
#header #navbar{width:80%}
.header-mini #header #s-element > div{width:100%;position:relative}
.header-mini #header #navbar{width:100%}
#header #weather{top:-87px;margin-left:5px}
#header #weather #clockbox{margin-top:15px;margin-left:0}
.hidden-md {display: none !important;}
}

@media ( min-width: 992px ) and ( max-width: 1187px ) {
#footer ul.txt-up{font-size:18px}
}

@media ( max-width: 992px ) {
/*footer*/
#footer{padding:5px 0 5px}
#footer ul.txt-up li{float:left;width:100%;text-align:center;padding:5px 0}
#footer ul.txt-up{padding-top:20px;clear:both;float:left;width:100%}
#footer .col-lg-12.col-md-12:first-child{border-bottom:0}
#footer .seguinos-block.pull-right{float: left !important;left:-100px;margin-left:50%;position:relative}
#footer #footer-cpright{border-top:9px solid #000;padding-top:20px;margin-top:10px;width:100%}
#footer .seguinos-block.pull-right{width:200px}

#header #clockbox{display:none !important}
#header #navbar a[href="/minitah/"]:after {top: -10px;left:54px;background-position: 0px 0px;height: 37px;}
#header #navbar .btn-group .pull-left ul li:first-child a:after{position: absolute;top: 2px;right: -110px;}
.ics.ic_house {background:url('/export/sites/bigbang/arte/icon-home-solo.svg')no-repeat;background-position: 4px 0px;}
#footer .ics.ic_house {background:url('/export/sites/bigbang/arte/ic.svg')no-repeat;background-position: -108px -400px;}
body #header{margin-bottom:20px}
.a-summ.a-gen.a-ultimo-momento{margin-top: 0}
body.header-mini #header{margin-bottom:33px}
body.header-mini.granhermano #header{margin-bottom:33px}
.alerta-2 > .row > .col-xs-12{padding:0}
.alerta-3 > .row > .col-xs-12{padding:0}
/*header vivo*/
#hd-vivo.no-vivo{padding-left:0;}
#hd-vivo.no-vivo > .jwplayer {max-height: 100%;margin-bottom:20px;}
#hd-vivo > .embed-responsive-6by5.iframe{margin-left: 0;width:100%;}
#hd-vivo > .a-summ .a-share{right:0;}
body.header-mini #header .hidden-poll-close .pitalic.results-closed{width:240px;font: 400 16px/42px "Oswald", sans-serif;}
body.header-mini #hd-vivo > .embed-responsive-6by5.iframe{width: 100%;margin-bottom:20px;}

body#article_page #content > article:not(.photo) {margin-top: -30px;}
body#article_page #content > article.photo{margin-top:-25px;}

#AlertaDestacadaFull .alerta-1 hgroup{margin-top: 0px;}
#content{padding-top:0}
body#perfiles #header{margin-bottom:57px}
body#article_page article:not(.photo) #article-container{margin-top:40px!important;}
#header #f-element, body.header-mini #header.hdm-poll #f-element{width:100%;border:0}
body.header-mini #hd-vivo{width:auto}
body.header-mini #header.hdm-vivo #f-element{width:100%}
body.header-mini.sticky #header, body.header-mini.sticky #header{padding-top:0;padding-bottom:0;border-top:0;border-bottom:0;position:static !important}
body.header-mini #hd-poll{width:auto}
#header #f-element > div{min-width:300px;margin:0 auto;}
#header #hd-vivo, #header #hd-poll{width:96%;margin:0 2%;height:auto;max-height:1000px}
#header #hd-poll .form-poll .poll-answers{width:100%;margin: 0 auto;}
#hd-poll .form-poll .poll-answers label{width:100%;}
#hd-poll .poll-controlbar{text-align:center;}
#header.hdm-banner #f-element > div{margin:0 auto;padding-bottom:3px;}
#header #f-element .b300x250 > *{/*position:relative;margin-left:50% !important*/}
#header .col-sm-12 .banner{background:none}
.container-fluid.content-bannerHeaderHome{display:none;}
#adLayer99b97308fde7501a, .banner640x484{display:none;}
/**barra mobile*/
#mobile-top{height:75px;background:#fff;clear:both;position:absolute;bottom:-79px;width:100%;padding:0 10px;left:0;border-bottom:4px solid #000;display: block !important;}
.hidden-sm {display: none !important;}
.header-mini #header.hdm-banner .container-fluid{padding-bottom:0;padding-top:0;border:0}
.header-mini #header #navbar{bottom:initial !important}
.header-mini #header.hdm-banner #mobile-top{bottom:-53px}
.header-mini #header.hdm-banner #mobile-top .logo .bb_logo {transform: scale(0.4);-webkit-transform: scale(0.4);top: -40px;}
#mobile-top .logo{margin-top:10px;height:89px;}
#mobile-top .logo .bb_logo{background:url('/export/sites/bigbang/arte/logo.svg')no-repeat;display: inline-block;width: 168px;height: 136px;-moz-transform: scale(0.65);-webkit-transform: scale(0.65);-o-transform: scale(0.65);-ms-transform: scale(0.65);transform: scale(0.65);position:relative;left:-15px;top:-25px;margin:0;}
#mobile-top .user-img{width:45px;height:45px;top:14px;position:absolute;right:10px}
#mobile-top .user-img button{width:100%;height:100%;background:none;border:0;padding:0}
#mobile-top .user-img button img{width:45px;height:45px;}
#mobile-top .user-img .user-options{background:#000;border-radius:4px;width:150px;padding:8px 17px;position:absolute;right:0;top:65px;z-index:100;z-index:1010;opacity:0;-moz-transform:scale(0.2);-webkit-transform:scale(0.2);-o-transform:scale(0.2);-ms-transform:scale(0.2);transform:scale(0.2);transform-origin:85% -2px 0;-webkit-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s;visibility:hidden;z-index:100;display:block}
#mobile-top .user-img .user-options a{font:italic 400 16px/20px "PT Serif", serif;color:#fff;display:block;padding:8px 0}
#mobile-top .user-img .user-options:before{content:" ";display:inline-block;width:0;height:0;border-style:solid;border-width:7px 7px 0 7px;border-color:#000 transparent transparent transparent;-webkit-transform:rotate(180deg);transform:rotate(180deg);position:absolute;top:-7px;right:15px}
#mobile-top .user-img.active .user-options{opacity:1;-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);visibility:visible}
#mobile-top .menu button{padding:18px 10px 10px 0;min-height:50px}
#mobile-top .menu button span{display:block;height:5px;background:#000;margin:2px 4px;width:40px}
#mobile-top .menu button .mobile-menu-icn{margin:0 5px;font-weight:bold;}
#mobile-top .menu button .cerrar-icn {margin:0;font-weight:bold;color:#fff;display:none;}
#toggle-navbar{/*width:40px;height:35px;*/width:auto;height:auto;background:none;border:0}
/*s-element*/
#header #s-element{position:fixed;left:-100%;width:100%;background:#000;height:100%;top:0;padding:0 0 10% 0;z-index:400;-webkit-transition:left 400ms;transition:left 400ms}
body.navbar #header #toggle-navbar{position:fixed;z-index:410;top:0;}
body.navbar #header #toggle-navbar span{background:#fff;}
body.navbar #header #toggle-navbar .mobile-menu-icn{display:none}
body.navbar #header #toggle-navbar .cerrar-icn{display:block}
body.navbar #wrapper{top:0;border-right:1px solid #ddd}
body.navbar #header #s-element{left:0}
body.navbar{overflow-x:hidden}
#header #navbar {border-top:none;}
#header #navbar > * {top:-60px}
#header #s-element #navbar{padding-bottom:62px}
#header #s-element #navbar ul a{font-size:20px;color:#fff;line-height:44px;font-weight:normal;}
#header #s-element #navbar ul{overflow-y:scroll;height:100%;width:100%}
#header #s-element #navbar ul li{display:block !important}
/*#header #s-element #navbar ul li:last-child{display:none !important}*/
#header #s-element #navbar .btn-group{width:92%;}
#header #s-element #navbar .btn-group > a{display:none}
#header #s-element #navbar .dropdown-menu{display: block!important;background-color: #000;top: 0;position: relative;right: auto;float: none;margin: 0;padding: 0;width: 100%;box-shadow: none;border: 0;max-width: 100%;}
#header .dropdown-menu > div{width:100%;float:none!important;}
#header .dropdown-menu > div > h3 {display: none;}
#header #s-element #navbar .dropdown-menu ul {padding-bottom: 0;margin: 0;overflow:hidden;}
#header #s-element #navbar .dropdown-menu ul li {width: 100%!important;margin-left: 0;}
body #header #s-element #navbar > ul > li{width:100%}
#header.hdm-not_logged #mobile-top .user-img{margin-right:15px}
#header.hdm-not_logged #mobile-top .user-img a{width:46px;height:46px;margin:-8px 0 0;display:inline-block}
#header #mobile-top .user-img i.ics.ic_user{-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);margin:0}
#header #form-nb-search .form-group{margin:0 -8px}
#header #form-nb-search .input-group-addon button{background:#000;border:0;padding:0}
#header #form-nb-search .input-group-addon{background:#000;border:0;-webkit-border-radius:0;border-radius:0;box-shadow:none;height:50px}
#header #form-nb-search input{background:#000;border:0;line-height:51px;height:51px;width:84px;float:right;}
#header #form-nb-search .form-control:focus{box-shadow:none}
#header #navbar{padding:0}
#header #form-nb-search{margin-bottom:10px;position:relative}
#header #form-nb-search .input-group-addon{padding:0;}
#header #box-header{position:absolute;bottom:-24px;left:-1px;height:55px;width:100%;background:#000;padding:0 20px;color:#fff;text-align:center;z-index:100;display: block !important;}
#header #box-header > span{font:italic 400 15px/55px "PT Serif", serif;display: inline-block;}
#header #box-header .seguinos-block{margin:0;position: static;display: inline-block;vertical-align: middle;/*top:-50px;right:-50px;left:initial;*/}
#header #box-header .seguinos-block li i{-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
#header #box-header .seguinos-block li i.ic_youtb{-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
#header #navbar > a.pull-right{display:none}
#header #weather{position:absolute;top:initial !important;color:#fff;padding:0 20px;bottom:189px}
.header-mini #header #weather{bottom:258px}
body.header-mini #header #s-element #navbar{padding-bottom:203px}
body.header-mini #box-header .seguinos-block {right:-135px !important;}
#header #s-element #navbar ul{/*padding-bottom:30px;*/text-align:center;top: 0;}
#header #weather > p{border-top:1px solid #fff;border-bottom:1px solid #fff;width:100%;padding:10px 0;position:relative}
#weather button > span{display:block}
#weather button{text-align:left;display: inline-block;vertical-align: top;margin:10px 6px 0 0;}
#weather #temp{/*padding-left:70px*/}
#header #weather > p .ics{display: inline-block;vertical-align: top;margin-right: 12px;-moz-transform:scale(1.3);-webkit-transform:scale(1.3);-o-transform:scale(1.3);-ms-transform:scale(1.3);transform:scale(1.3)}
#header #weather #temp{font: 400 40px/50px "Oswald", sans-serif;position: relative;top: 3px;}
#header #navbar{height:auto;position:absolute;top:75px;padding:0 20px;width:100%}
#header #s-element > div{height:100%}
#header .logo .ics.ic_bb_bb{background-position:0px -430px;width:120px;height:36px}
body.header-mini #header.hdm-vivo #s-element, body.header-mini #header.hdm-poll #s-element, .header-mini #header #s-element{padding:0 0 10%}
.header-mini #header #navbar{height:100%;position:absolute;top:75px;padding:0 20px 250px;width:100%}
.header-mini #header #s-element > div{height:100%}
.header-mini #header #weather{display:block}
.header-mini #header #navbar{line-height:30px}
body.header-mini #hd-vivo{max-height:1000px}
.header-mini #header .seguinos-block li .ics.ic_fb{background-position:-72px 0}
.header-mini #header .seguinos-block li .ics.ic_tw{background-position:-144px 0}
.header-mini #header .seguinos-block li .ics.ic_youtb{background-position: -45px -85px}

#p404_page{background:#0eccb0;padding-bottom:100px}
#p404_page hgroup{position:relative;height:300px;padding-top:100px}
#p404_page h1 span{font:700 48px/50px "Oswald", sans-serif;left:25px;bottom:95px}
#p404_page p{font:italic 400 16px/20px "PT Serif", serif;margin-top:2px;padding-left:19px}
#p404_page #e404-container i.ics.ic_404_cloud{margin:0}
#p404_page #e404-container i{-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
#p404_page #e404-container i.ic_logo_bbm{-moz-transform:scale(2);-webkit-transform:scale(2);-o-transform:scale(2);-ms-transform:scale(2);transform:scale(2)}
#p404_page h1 i.ic_logo_bbm{bottom:54%;left:5%}
#p404_page h1 i.ic_404_ss{left:135px;top:-13px}
#p404_page h2{left:25px;bottom:0px;font-size:30px !important;line-height:35px !important}
#header #f-element{min-height:initial !important}

/*header*/
/*home*/
#header #f-element,
body.header-mini #header.hdm-vivo #f-element{display:block;padding-top: 97px;}/*85px;*/
#header #hdr-cont{padding-top:0;padding-bottom:10px}
#header #mobile-top{top:0;}
#article_page .article-poll #openPool_100 .poll-answers label .per-number{margin: 0px;}
#article_page #header #f-element{padding-top: 55px;}
#article_page.header-mini #header.hdm-vivo #f-element{padding-top: 97px;}
/*resto*/
/*.header-mini #header #f-element{display:none}*/
.header-mini #header #hdr-cont{padding-top:0px;padding-bottom:0px;border:0px}
#header_comunidad.box-title.main h1{padding-top:10px}
#home_page #header_comunidad.box-title.main h1{padding-top:30px}
body.header-mini #header #mobile-top{bottom:-53px}
body#article_page #header{margin-bottom:22px !important; height:auto;}
#header_comunidad{margin-bottom:-1px;margin-top:-5px;background-color:#0DBBA0}
.page-acerca {padding-top: 20px;}
.page-acerca h1{font: 900 35px/40px "Lato", Arial, serif;}

/*Header nuevo*/
body{padding-top:71px!important;}
.content-header{transition: none;-ms-transition:none;-webkit-transition:none;-moz-transition:none;position: fixed;top:0;left:0;width:100%;border-bottom: 0;}
.content-header .site-header {display:none;}
.content-header-menu-mobile{display:block;}
.content-header #mobile-top-new{display:block;background-color: #000;text-align:center;position:relative;}
.logo-bbn{display:none;}
.content-header #mobile-top-new .content-elements-mobile{padding: 11px 8px;}
.content-header .btn-search-mobile {margin: 0;width: 100%;height: 100%;padding:0px;position:relative;}
.content-header .btn-search-mobile:after{content: "\e90f";width: 32px;height: 36px;position: absolute;top: 6px;left: 4px;color: #fff;font-family: icomoon;font-size: 24px;}
.content-header .btn-search-mobile.active:after{color:#10d6bb;}
.content-header .content-input-search{position:absolute;bottom:0px;left:0px;margin-bottom:-50px;width:100%;z-index:999;}
.content-header .content-input-search .input-group-mobile{display:none;}
.content-header .content-input-search.active .input-group-mobile{font: normal 400 14px "Lato",serif;color:#000;position:relative;}
.content-header .input-group-mobile:after {content: '';position: absolute;z-index: 99;right: 14px;top: -13px;width: 0;height: 0;border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 14px solid #dbdbdb;}
.content-header .form-control-mobile {display: block;width: 100%;height: 50px;padding: 6px 12px;font-size: 16px;line-height: 1.42857143;color: #555555;background-color: #dbdbdb;background-image: none;border-radius: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.content-header.sticky .logo-bbn{display:none;}
.content-header .form-group-mobile .input-group-mobile input[type="text"]::-webkit-input-placeholder {color:#000;font: normal 400 14px "Lato",serif;} 
.content-header .link-bg{margin:0px;}
.content-header .menu-mobile-new{float: left;color: #fff;}
.content-header .toggle-navbar-mobile{color:#fff;font-size:12px;padding:0px;margin-top:7px;}
.content-header .header-menu-cabecera .toggle-navbar-mobile{float:right;}
.content-header .header-menu-cabecera .toggle-navbar-mobile .cerrar-icn-mobile{font-size:12px;}
.content-header-menu-mobile{padding: 10px 8px;}
.content-header .toggle-navbar-mobile span {background: #fff;display: block;width: 28px;height: 3px;margin: 2px 4px;}
.content-header .header-menu-cabecera{position: fixed;top:0px;z-index: 999;background-color:#000;width:100%;height:100%;left: -100%;-webkit-transition: left 400ms;transition: left 400ms;	}
.content-header .header-menu-cabecera.active{left: 0%;}
.content-header .header-menu-cabecera .row{padding:0px;}
.content-header .search-mobile{float:right;width:35px;height:45px;}
.content-header.content-header .nav-media{background-color: #000;color: #fff;z-index: 999;}
.content-header .menu-main-container ul li>*{padding:0px;}
.content-header nav ul li {display: block!important;margin: 13px 0px !important;text-align: center;text-transform: uppercase;}
.content-header nav ul li .header-dropdown-menu li:first-child {margin-left: 0px !important;margin-top: 0!important;}
.content-header nav ul li:last-child{margin-top:0px;}
.content-header .btn-group{display: inline-block;}
.content-header .btn-group li a{font-size: 18px;font-weight:normal;padding:0px;display:block;}
.page_videogaleria .content-header .header-dropdown-menu ul li a{color:#fff;}
.content-header nav ul li a{font-size: 17px;}
.content-header nav ul li a[title="Minitah"]{position:relative;}
.content-header nav ul li a[title="Minitah"]:after{content: ' ';position: absolute;top: -11px;left: 45px;background-image: url('/export/sites/bigbang/arte/btn-minitah.png');background-size: 61px 57px;background-position: 0 0px;background-repeat: no-repeat;width: 61px;height: 34px;}
.content-header nav ul .icono-home a{text-indent:-666em;overflow:hidden;color: #000!important;position:relative;}
.content-header nav ul .icono-home a:after{content: "";width: 24px;height: 26px;background-image: url('/export/sites/bigbang/arte/icon-home-solo.svg');background-repeat: no-repeat;display: block;margin: 0 auto;position: absolute;top: 0px;left: 0;margin-left: 10px;}
.content-header nav ul .icono-home.active a:after{color:#000;background-image: url('/export/sites/bigbang/arte/ic.svg');background-position: -139px -400px;}
.content-header.sticky .btn-group li a{color:#fff;}
.content-header nav > ul > li:nth-child(n+3) {display: block;}
.content-header .menu-main-container .btn-group > a {display: none;}
.content-header #menu-main{height: 100%;margin:0 8px;overflow:hidden;}
.menu-main-container .menu .mCustomScrollBox, .menu-main-container .menu .mCSB_container{overflow: hidden;}
.content-header .header-dropdown-menu{position:static;display:block;box-shadow:none;min-width:160px;background-color: transparent;margin:0px;}
.content-header .header-dropdown-menu>div>h3 {display: none;}
.content-header .header-dropdown-menu>div{float:none !important;width:auto;}
.content-header .menu-main-container{float:none;}
.content-header .content-weather-social, .content-header.sticky .content-weather-social{display:block;width: 100%;}
.content-header .content-weather-social{padding:16px 14px;margin: 0px auto 0px auto;border-top: solid 1px #4d4d4d;position: absolute;left: 0;bottom: 0;}
.content-header .menu-main-container{margin: 0px auto 12px 0px;position: absolute;left: 0;top: 60px;bottom: 60px;width: 100%;}
.content-header .social-media li {display: inline-block;margin: 0 7px 0 6px;}
.content-header .social-media li a:after{color:#fff;font-size:21px;}
.content-header .social-media .bbn-tw a:after{font-size:19px;}
.content-header .header-weather:after{display:none;}
.content-header .social-media{float:right;}
.header-user-login-menu, .header-user-no-login-menu{float:left;position:relative;}
.header-user-login-menu .header-user-custom .img-circle-avatar{border-radius: 100%;}
.header-user-no-login-menu .header-ingreso-mobile{font: normal 14px/14px "Lato", Arial,sans-serif;color:#fff;float:left;margin:15px 0 0 10px;}
.header-user-no-login-menu .img-circle-avatar{float: left;margin-top: 10px;}
.header-user-login-menu .header-user-options{background: #0eccb0;border-radius: 4px;width: 150px;padding: 8px 17px;left: 0;top: 64px;position: absolute;z-index: 100;opacity: 0;visibility: hidden;display: block;-moz-transform: scale(0.2);-webkit-transform: scale(0.2);-o-transform: scale(0.2);-ms-transform: scale(0.2);transform: scale(0.2);-webkit-transition: all .2s ease-in-out 0s;transition: all .2s ease-in-out 0s;}
.header-user-login-menu.active .header-user-options {opacity: 1;-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);visibility: visible;z-index: 1000;}
.content-header .header-user-options:after {content: '';position: absolute;left:12px;top: -9px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 11px solid #0eccb0;}
#section_page .my-tabs.visible-xs-block .list-unstyled, #home_page .my-tabs.visible-xs-block .list-unstyled {top: 70px!important;}
.vertical-mujeres #content {padding-top: 0px;}
#content {padding-top: 0px;}
.layer-search.active{display:block;}
.a-summ.a-gen h5 a{margin-top: 8px;}
}

@media ( min-width: 599px ) and ( max-width: 1187px ) {
#article_page #append-me, #article_page article #article-container, #article_page article #mas-en-famosos{padding-left:30px;padding-right:30px}
}

@media ( min-width: 750px ) and ( max-width: 1187px ) {
.trending-bang li{font-size:15px}
.a-summ.a-gen h5{font-size:18px;line-height:20px}
.a-summ.hero-article h5{font-size:30px;line-height:30px}

.trending-bang ul li{float:left;width:33%}
.trending-bang .box-content{width:75%;float:left}
.trending-bang .box-title{width:25%;float:left}
.trending-bang .box-title h3{text-align:left !important}
#article_page #article-authors{margin-top:0px}
#article_page .col-lg-12.col-lg-pull-3.col-lg-push-0 .share-me{margin:20px 0}
#article_page #mas-en-famosos{margin-top:30px}
#article_page #banner-publish h3{margin:10px 30px 5px}
#article_page article .bloc-keyword-title{font:900 54px/56px "Lato", Arial, serif}
#article_page article h2{font:italic 400 22px/28px "PT Serif", serif}
#article_page .col-lg-7.col-md-8.col-sm-7.col-xs-12{padding-right:40px}
#article_page .ics.ic_prv, #article_page .ics.ic_nxt{-moz-transform:scale(2);-webkit-transform:scale(2);-o-transform:scale(2);-ms-transform:scale(2);transform:scale(2)}
/*#article_page .carousel .carousel-control{width:15%}*/
#article_page p{margin-bottom:10px}
#article_page article #article-authors{min-width:350px}
#article_page #article-authors .article-author > span:first-child{top:19px}
#article_page article h1{font:900 40px/40px "Lato", Arial, serif}
#article_page article h2{font:italic 400 20px/26px "PT Serif", serif}
#article_page .carousel .carousel-control i {-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
#perfiles #content .help-block.form-error{width:200px;margin-right:113px;margin-top:-2px;padding:10px}
.permalink code {width:164px}
}
@media (max-width:1180px){
    #header .seguinos-block{right:20px;}
    #header #logo .bb_logo{-moz-transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);margin-top:20px;}
    
    #article_page #cotizacion-dolar.main{max-width: 530px;}
    #article_page .compra-venta-dolar{margin: 0 9px 0 8px;}
    #article_page .compra-venta-dolar, #article_page .compra-venta-euro {float: left;padding: 12px 10px 8px 10px;background-color: #efefef;}
    #article_page .moneda-ofi .data-moneda, #article_page .moneda-euro .data-moneda {font-size: 25px;}
    #article_page #cotizacion-dolar.main .titulo{font-size: 27px;}
}
@media ( max-width: 1024px ) {
.a-summ.a-ultimo-momento h5 a{font-size:35px;line-height:35px}
.a-summ.a-ultimo-momento h5 a{font-size:45px;line-height:45px}
.alerta-3 .a-summ.a-ultimo-momento h5 a{font-size:38px;line-height:38px}
#mas-reciente .media{position:relative;padding-left:110px;min-height:75px;}
#mas-reciente .a-media.media-left{position:absolute;top:0;left:0;display:inline;}
#mas-reciente .a-title.media-body{display:inline;}
.vertical-mujeres .box-title.main h1 {background-image:url('/export/sites/bigbang/arte/mujeres/FdoMinitah_480.jpg');background-repeat: no-repeat;background-size: cover;background-position: center center;}
#mas-reciente .a-summ.a-mini:nth-child(n+15) {display: none;}
.granhermano .box-title.alter{background: url( '/export/sites/bigbang/arte/gran_hermano/bg_1024.jpg' );background-repeat: no-repeat; background-size: cover;background-position: center center;} 
.bailando2016 .box-title.alter{background: url( '/export/sites/bigbang/arte/bailando2016/bg_bailando_768.jpg' );background-repeat: no-repeat; background-size: cover;background-position: center center;} 
/*recetasdecocina*/
.recetasdecocina .box-title.alter{background-repeat: no-repeat; background-position: center center;}

#home-lo-mas-leido-bf .banner>* {background-color: #f3f3f3;margin-bottom:16px; padding: 20px 8px;}
#home-lo-mas-leido-bf .banner.b300x250>*{margin-bottom: 16px;}
.mod-minitah-chapa {padding: 12px 12px 0px 12px;background-size: contain;margin: 0 8px 25px 8px;}

.video-galeria.page-video-galeria .banner .mod-content-banner{width: 27.12%;}
.video-galeria.page-video-galeria .col-b.btn-vg-paginador{margin-bottom:30px;}
}

@media ( min-width: 976px ) and ( max-width: 1187px ) {
#home-lo-mas-leido-bf{/*margin-top:80px*/}
.trending-bang li{font-size:16px}
.a-summ.a-gen.hero-article .title-boxArticle, .a-summ.a-gen.short-full .title-boxArticle{font-size:40px;line-height:42px}
/*.a-summ.a-gen.short-full .title-boxArticle{font-size: 18px;line-height: 20px}*/
.a-summ.a-ultimo-momento h6{margin-top:10px}
#article_page article.photo #share-block-top{position:absolute;right:-98.5%}
#article_page article aside.col-lg-3.col-md-4.col-sm-12.col-xs-12{padding-top:50px}
#article_page article #title-divider{margin-bottom:0}
#article_page article.photo #mas-en-famosos{margin-top:60px}
.comunidad_page #lo-mas-leido .box-title{margin-top:-20px}
#p404_page h2{bottom:68px;left:102px}
#p404_page p{margin-top:-67px}
}

@media ( min-width: 1023px ) and ( max-width: 1187px ) {
.permalink{float:left}
.alerta2 .a-summ.a-ultimo-momento h5 a{font-size:60px;line-height:62px}
.alerta2 .a-summ.a-ultimo-momento h6{font-size:28px;line-height:32px}
.alerta-block-4 .a-summ.video .embed-responsive-16by9.iframe{padding-bottom:58.25%}
#article_page #content > article > .container-fluid{padding:0 36px}
#article_page section.container-fluid{padding:0 36px}
#banner-publish .btn{margin-left:-40px}
}

@media ( max-width: 1187px ) {
#modopinion .entry-opinion{max-width: 35%;}
#modopinion .entry-title {font: bold 14px/18px "Lato";}

#home_page.comunidad_page #banner-publish-me, #tips_page #banner-publish-me, #pautas_page #banner-publish-me{position:relative;padding:0 0 116.1554192%;margin-bottom:16px;height:0;background:#f1f1f1}
#home_page.comunidad_page #banner-publish-me h5, #tips_page #banner-publish-me h5, #pautas_page #banner-publish-me h5{font-size:20px}
#home_page.comunidad_page #banner-publish-me p, #tips_page #banner-publish-me p, #pautas_page #banner-publish-me p{font-size:16px}
#home_page.comunidad_page #banner-publish-me i.pngs, #tips_page #banner-publish-me i.pngs, #pautas_page #banner-publish-me i.pngs{margin-top:20px}
.load-more.append-trigger{margin-bottom:20px}
/*agregado x mz de harpo-web*/
#perfiles #header .top-content .en-vivo{padding-right:5px}
#perfiles #header .top-content .en-vivo .a-desc{right:5px}
#p404_page h2{font:400 50px/54px "Oswald", sans-serif}
.trending-bang li a{max-width:90%;overflow:hidden;display:block}
#perfiles #datos .user{min-width: 75%}
#header #weather #clockbox {position:absolute;top:16px}
#header #weather .pitalic{float:left;padding-left:0;position:absolute;top:40px;width:90%;text-align: left;}
#header #weather .pitalic:before{display:none;}
#header #navbar li ul li{width:90% !important}

/*VIDEOGALERIA*/
.video-galeria .col-a, 	.video-galeria .col-b{float:none;width: 100%;padding: 0 18px;}
.video-galeria .col-c{width: 25%;}
.video-galeria .container-fluid .row .col-b .a-summ.a-gen.a-video .a-desc{top: -35px;}
.video-galeria .container-fluid .row .a-list .a-summ.a-gen .title-videoModal{max-height: 92px;min-height: 40px;overflow: hidden;margin: 10px 0 0 0;}	
.video-galeria .text-center:after{bottom: -11px;}
/*SECCION VIDEO*/
.video-galeria.page-video-galeria .col-b {width: 100%;float: none;}
.video-galeria.page-video-galeria .col-c, .video-galeria.page-video-galeria .sumario-scroll .col-b.col-b2 .col-c{width:50%;}
.video-galeria.page-video-galeria .sumario-scroll .col-a, .video-galeria.page-video-galeria .sumario-scroll .col-b.col-b2{width: 100%;}
.video-galeria.page-video-galeria .sumario-scroll .col-a.a-main{padding-bottom: 0px;}
.video-galeria.page-video-galeria .col-d {width: 100%;float: none;}
.video-galeria .col-a.a-main, .video-galeria .col-b.col-b2.a-list, .append-videogaleria .col-b.a-list, .col-d#mas-visto  {padding:0 18px;}
.video-galeria.page-video-galeria .container-fluid .row .a-main .a-summ.a-gen.a-video .title-boxArticle{font: 900 35px/40px "Lato",Arial,serif;}
.video-galeria.page-video-galeria .container-fluid .row .a-list .a-summ.a-gen .title-videoModal{margin-top: 8px;}
/*.video-galeria.page-video-galeria .col-c .banner.b300x250, .video-galeria.page-video-galeria #mas-visto .box-content .banner > *{display:none;}*/
.video-galeria .swiper-button-next, .video-galeria .swiper-button-prev{display:none !important;}
.video-galeria.page-video-galeria .col-b#paginadorNota_1 { margin-bottom: 35px;}
.video-galeria.page-video-galeria #mas-visto .banner>*{left: 50%;margin-left: -153px;}
.video-galeria.page-video-galeria .banner img{margin-left: 0px;}
}

@media ( min-width: 976px ) and ( max-width: 1260px ) {
#comments-block .comments-list li{padding:25px 100px 44px 0}
}

@media ( max-width: 1024px ) {
#form-user-search{padding:0 20px}
#search_page.comunidad_page #search_results{padding:0 20px}
#ranking_page #lo-mas-leido{margin-top:20px}
#ranking_page #top-semana{margin-bottom:20px}
#ranking_page .ranked-articles article:nth-child(n+5){display:none}
#header #navbar > ul > li:nth-child(n+3){display:none}
.header-mini #header #navbar > ul > li:nth-child(n-3){display:inline-block}
.header-mini #header #navbar > ul > li:nth-child(n+3){display:none}
}

@media ( min-width: 1024px ) {
#home_page.comunidad_page .article-list.my-tab.ct-li .row.append-container{min-height:1500px}
}

@media ( max-width: 1190px ) {
#publicar_post .ttip{position:static;width:440px;margin:20px 0 -20px 80px;font-size:16px;text-align:center}
#publicar_post .ttip:before{border-width:9px 10px 0 9px;border-color:#000 transparent transparent transparent;margin-top:56px;top:0;left:50%;margin-left:-5px}
#publicar_post input{font:italic 400 20px "PT Serif",serif;height:60px}
#publicar_post #cont_new_tag .ttip{width:480px;margin:20px 40px 0}
#publicar_post #cont_new_tag .ttip:before{margin-top:73px}
#publicar_post .help-block.form-error{position:static;width:440px;margin:20px 0 0 80px;font-size:16px}
#publicar_post .help-block.form-error:before{border-width:0 9px 10px 9px;border-color:transparent transparent #fd8367 transparent;margin-top:0;top:-49px;left:50%;margin-left:-5px;position:relative}
#publicar_post #form_add_video .form-error{margin-top:0}
#header #navbar > ul > li:nth-child(n+3){display:none}
#header #navbar > ul > li:nth-child(5){display: inline-block;}
.header-mini #header #navbar > ul > li:nth-child(n-4){display:inline-block}
.header-mini #header #navbar > ul > li:nth-child(n+4){display:none}
.header-mini #header #navbar > ul > li:nth-child(5){display:inline-block}
#article_page .article-author{padding-bottom:0}
#header #navbar li ul li{width:43%}
#article_page article #share-block-top {margin-top:0}
#article_page article #share-block-top .share-me {float:left}
}
#article_page article #share-block-top .share-me + .banner {
    clear: both;
}


@media ( min-width: 1188px ) {
#header #weather{top:-45px}
#header #weather p.pitalic{margin-top:-5px}
}

@media ( max-width: 1310px ) {
#header_comunidad .pngs.img_mountains{position:absolute;top:-134px;right:0px}
}

@media ( min-width: 1260px ) {
#preview_post .form-error .col-lg-8.col-md-8 > *{padding-left:70px}
#article_page article.photo #article-subtitle h2{margin-bottom:43px}
#article_page .carousel.slide{width:912px;right:5px}
#article_page #article-content .carousel.slide{right:160px}
#article_page .author-group{font:400 13px/14px "Lato", Arial, serif;color:#000;display:block}
#article_page .no-authors time.date-time{padding-top: 0;}
#article_page #article-authors .article-author > span:first-child{position:static}
#article_page .col-lg-2.col-lg-pull-0{padding-right:30px}
#article_page #article-container{padding-right:30px}
#comments-block #comment-social{margin-top:-70px}
#comments-block #comment-social > span{clear:both;display:block}
#header #navbar{width:100%}
}

@media ( max-width: 1265px ) {
	/*#home_page .bbn-videoPublicidad-home, #article_page .bbn-videoPublicidad-nota, .bbn-videoPublicidad-nota-seccion{display:none;}*/
}
@media ( max-width: 1200px ) {
	.mods-blocks-home .mod-random, .banner300x600random{width: 50%;float: left;padding: 0 8px;}
	.mod-entusiastas-chapa-col{padding: 0 73px 0 22px;max-width: 368px;}
	.mods-blocks-home {padding: 0;}
	.mods-blocks-home .mod-random {width: 50%;min-width: 300px;float: left;padding: 0 8px;}
	.banner300x600random{width: 50%;min-width: 300px;float: right;padding: 0 8px;}
	.mod-countdown .mod-countdown-header .mod-countdown-data {max-width: 268px;}
	
	/*Header nuevo*/
	.content-header .row{padding-left: 13px;padding-right: 13px;}
	.content-header nav > ul > li:nth-child(n+8) {display: none;}
	.content-header nav > ul > li:last-child {display: inline-block;}
	.content-header .header-dropdown-menu{width: 100%;}
	.content-header.sticky .logo-bbn{margin-right:31px;}
	.content-search-sticky.active {width: 642px;}
	.content-weather-social{margin: 8px auto 1px 5px;}
}

@media ( max-width: 992px ) {
	.box-title.comunidad{margin-top:40px;}
	#header .seguinos-block li a{margin-left:0}
	#mobile-top{border-bottom:none;}
	#header .poll-launcher{max-width:100%;}
	#header .poll-launcher > div{max-width:254px;margin:0 auto;}
	#header .poll-launcher p.pitalic,.header-mini #header .poll-launcher p.pitalic{font-size:20px;line-height:22px;padding-top:20px;min-height: 1px;margin-bottom: 30px;}
	.header-mini #header .poll-launcher{padding:25px 0;}
	.header-mini #header .poll-launcher a.btn{width:100%;line-height: 42px;}
	#header .poll-launcher > div .pitalic{position: absolute;right: -110px;top: -8px;}
	#header .poll-launcher > div .pitalic.results-voted{position:static;}
	.header-mini #header .poll-launcher > div .pitalic{top:2px}
	#header .hidden-poll-close .poll-launcher > div .pitalic {position: relative;right: auto;top: 0;margin-top: 0;}
	.form-content-search{display:block;}
	#header #box-header > span{display:none;}
	#header #navbar>*{z-index: inherit;}
	#header #weather .pitalic {text-align: center;}
}
@media(max-width:1124px){
	.data-minitah-chapa {font: 300 60px/33px "PlayFair Display";margin:0;}
	.subtitle-minitah-chapa{line-height: 53px;}
	.img-minitah-chapa{max-width:200px;height:auto;}
	.title-minitah-chapa{margin-right: 13px;margin-top: 16px;}
	.media-minitah-chapa{margin-right: 19px;}
	.btn-minitah-chapa{    margin-top: 16px;padding: 10px 35px 10px 35px;}
	.icon-minitah-chapa-right,.icon-minitah-chapa-left{display:none;}
	
	.mod-entusiastas-chapa{padding: 20px 12px 26px 12px;}
	.mod-entusiastas-chapa .img-entusiastas-chapa{max-width:200px;height:auto;}
	.mod-entusiastas-chapa .title-entusiastas-chapa{margin-right: 13px;margin-top: 6px;}
	.mod-entusiastas-chapa .media-entusiastas-chapa{margin-right: 19px;}
	.mod-entusiastas-chapa .btn-entusiastas-chapa{    margin-top: 16px;padding: 10px 35px 10px 35px;}
	.mod-entusiastas-chapa .subtitle-entusiastas-chapa{font-weight: 400;font-size: 21px;}
}
@media ( max-width: 768px ) {
	body:not(.sticky) #header:before{border-top:none;}
	body:not(.sticky) #header:after{border-bottom: 6px solid #000;}
	body#article_page #header{height:auto;}
	#mobile-top{border-bottom: 6px solid #000;height: 79px;}
	#mobile-top .logo{height:60px;}
	#mobile-top .logo > a{position: relative;top: -78px;display: inline-block;}
	#mobile-top .logo .bb_logo{-moz-transform: scale(0.45);-webkit-transform: scale(0.45);-o-transform: scale(0.45);-ms-transform: scale(0.45);transform: scale(0.45);top:36px!important;left:-9px;}
	#header .poll-launcher{padding-top:0;}
	#header .poll-launcher p.pitalic{padding-top:3px;min-height:1px;font: italic 400 17px/21px "PT Serif", serif;margin-bottom:12px;}
	#header .poll-launcher > div {max-width: 290px;}
	#header .poll-launcher > div .pitalic{    position: relative;right: auto;line-height: 14px;font-size: 14px;padding: 11px 0 1px;}
	#header .poll-prewrap{padding:20px 15px}
	#header .poll-wrapper{padding:5px 15px 20px;}
	#header .poll-wrapper > a{top:-40px;right:0;}
	#header .poll-wrapper > a > span{float:right;top:-10px;margin-right:0;margin-left:5px;}
	#header #hd-poll{min-width:220px;max-width:260px;margin:0}
	#hd-poll .header-poll div:not(.title) > h6 span{left:-15px;}
	
	#header #f-element{display:none !important;}
	#mobile-top{position:static !important;border-bottom:0px !important;height: initial !important;padding-bottom:4px !important;}
	#mobile-top .user-img{top:15px !important;margin-right:10px !important;}
	.a-summ.a-gen.hero-article{margin-top: 2px !important;}
	#header #hdr-cont{padding-bottom: 0px !important;}
	.content-app {display: inline-block;position: absolute;left: 68px;right: 191px;min-width: 190px;text-align: center;}
	.btn-close {cursor: pointer;margin: 15px 5px 15px 15px;position: absolute;top: 4px;}
	.a-summ.a-summ-iframe .item-iframe{overflow:hidden;}
	.a-summ.a-summ-iframe iframe{right:50%;transform: translate (50%, 0);-webkit-transform::translate (50%, 0);}
	.a-summ.a-gen.hero-article{margin-top: 2px;}
	/*Banner y titulo gran hermano*/
	.granhermano .box-title.alter{background: url( '/export/sites/bigbang/arte/gran_hermano/bg_768.jpg' );background-repeat: no-repeat; background-size: cover;background-position: center center;} 
	

	.Content-SectionBanner970{display:none;}
	#content {padding-top: 0px;}
	
	/*MODULO ENERGÍA*/
	.mod-energia .mod-header .a-share{display:none;}
	
	/*CHAPA MINITAH*/
	.mod-minitah-chapa{position:relative;text-align:center;padding: 25px;background-image:url('/export/sites/bigbang/arte/mujeres/bg-minitah-chapa-mobile-tablet.png');background-position:center center;background-size:cover;margin: 25px 8px;}
	.title-minitah-chapa{margin:17px 18px 0 18px;}
	.data-minitah-chapa {font: 300 55px/33px "PlayFair Display";margin:0;}
	.media-minitah-chapa{/*bottom:0px;margin-right:10px;width: 200px;*/}
	.img-minitah-chapa{max-width:170px;}
	.link-minitah-chapa {margin-top: 16px;}
	.subtitle-minitah-chapa{font-size:15px;line-height: 16px;display: block;margin: 12px auto;}
	.btn-minitah-chapa {margin-top: 3px;}
	
	#comments-block .comments-list li .usr-author img{height: auto;}
	
	.a-summ.a-gen.short-full.a-video.a-play-videos .a-title.hide{display:block !important;}
	.a-summ.a-gen.short-full .title-boxArticle {font-size: 22px;line-height: 25px;}
	.a-summ.a-gen.short-full .title-boxArticle a{height: auto;}
	.medio .a-summ.a-gen .title-boxArticle, .col-lg-4 .a-summ.a-gen .title-boxArticle a { font: 900 24px/25px "Lato",Arial,serif;}
	.jw-skin-bigbang-yt .jw-display-icon-container, .jw-skin-bigbang .jw-display-icon-container{margin-top: -22px !important;}
	
	/*countdown-nota*/
	#getting-started span{width:22.17%;}
	.mod-countdown.countdown-nota{max-width: 262px;}
	.countdown-nota .countdown, .countdown-nota .mod-countdown-header p{max-width: none;margin:0 auto;}
	.countdown-nota .mod-countdown-header p{margin-bottom:10px;text-align:left;}
	.countdown-nota .countdown-data	{width: 64px;}
	.countdown-nota .mod-countdown-ask{display:none;}
	.countdown-nota #getting-started{font:700 32px/32px "Oswald";margin-bottom: -16px;}
	.countdown-nota #getting-started span {display: inline-block;width: 46px;margin: 0 6px;}
	.countdown-nota:after{display:none;}
	.countdown-nota .countdown-data:after{margin-bottom: -5.5px;}
	.countdown-nota.countdown:before{margin-bottom: -5.5px;}
	.mod-countdown.countdown-nota .mod-countdown-subtitle{text-align:left;margin:14px 0 14px 0;}
	.mod-countdown .mod-countdown-header .a-share, .title-transit .a-share {display:none;}
	
	
	/*VIDEOGALERIA*/
	.video-galeria .a-summ.a-gen.short-full .title-videoModal {font-size: 18px;line-height: 20px;}
	.video-galeria .a-summ.a-gen .a-author {font-size: 12px;}		
	.video-galeria .container-fluid .row .a-main .a-summ.a-gen.a-video .a-title{padding: 20px 20px 20px 108px;}
	.video-galeria .container-fluid .row .col-b .a-summ.a-gen.a-video .a-desc{top: -50px;left: 0px;}
	.video-galeria.page-video-galeria .col-b#paginadorNota_1 {margin-bottom:0px;}
	.video-galeria{padding-top:27px;}
	.video-galeria .a-summ.a-gen {margin-bottom: 15px;}
	.video-galeria .a-summ.a-gen a {color: #fff;text-shadow: none;position: relative;font-size: 16px;line-height: 20px;}
	.video-galeria .a-summ.a-gen .title-videoModal a {height: auto;text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
	.video-galeria .col-a.a-main .a-summ.a-gen title-videoModal a {height: auto;font-size: 22px;line-height: 25px;}
	.video-galeria.page-video-galeria .container-fluid .row .a-main .a-summ.a-gen.a-video .a-title{font: 400 11px/11px "Oswald",sans-serif;}
	.video-galeria.page-video-galeria .text-center{font: bold 30px/49px "Oswald",Arial,sans-serif;margin-top: 0px;}
	.video-galeria .a-summ.a-gen .a-media .a-ly, .a-summ.a-gen .a-author, .a-summ.a-gen .a-category {display: none;}
	.video-galeria .a-summ .a-share {display: none;}
	.video-galeria .a-summ.a-gen .a-title {position: relative;padding: 0;margin: 0;}
	.video-galeria .a-summ.a-video .a-desc{top: -56.5px;left: 0;}
	.video-galeria .container-fluid .row .col-a .a-summ.a-gen.a-video .a-desc{width: 40px;height: 40px;}
	.video-galeria .a-summ.a-video .a-desc:after{top: 6px;}	
	.video-galeria .container-fluid .row .a-list .a-summ.a-gen.a-video .a-desc{position: absolute;top: -33px;left: 10px; background-size: 80px 40px;background-position: -40px 0px;}
	.video-galeria .container-fluid .row .a-main .a-summ.a-gen.a-video .a-desc{background-image: url('/export/sites/bigbang/arte/btn-vg.jpg');position: absolute;top: 21px;left: 30px;background-repeat: no-repeat;background-size: 130px 60px;background-position:-68px center;width: 60px;height: 60px;}
	.video-galeria .col-a{margin-right:0px;}
	.video-galeria .col-c{width: 50%;}
	.video-galeria .a-summ.a-gen .a-category, .video-galeria .time-galeria{display:none;}
	.video-galeria.page-video-galeria .a-summ.a-gen .a-category, .video-galeria.page-video-galeria .time-galeria{display:inline-block;}
	.video-galeria .btn-videogaleria{float:none; text-align:center;margin:10px 0;display:block;}
	 .video-galeria.page-video-galeria .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 3px;margin: 20px auto;}
	/*SECCION VIDEO*/
	.video-galeria.page-video-galeria .banner{background-color: transparent;}
	.video-galeria.page-video-galeria .swiper-container{padding-bottom: 46px;}
	.video-galeria.page-video-galeria .sumario-scroll .append-videogaleria{padding-top: 23px;padding-bottom:0px;background-color: #212223;}
	.video-galeria.page-video-galeria .time-galeria{padding: 5px 10px 5px 10px;}
	/*.video-galeria.page-video-galeria .col-c .banner.b300x250{display:none;}*/
	.video-galeria.page-video-galeria .banner.b300x250{display:block;margin:0 18px;}	
	.video-galeria.page-video-galeria .video-galeria-slide .append-videogaleria{background-color: #212223;padding-top: 20px;}
	.video-galeria.page-video-galeria .banner .mod-content-banner{width: 72%;max-width:200px;margin: 40px auto;}

	/*search*/      
	#navbar .form-group{display:none;}
	.user-img{display:none;}
	.input-group-search-mobile{display:block;} 
	.form-content-search{display:block;}
	#mobile-top .user-img-mobile {top: 15px !important;margin-right: 10px !important;}
	.user-name-mobile{background-color: transparent;border: 0;}
	.hd-userimg-mobile {width: 60px;height: 60px;position: relative;z-index: 30;margin-top: 2px;}
	.hd-userimg-mobile .ics.ic_user.al{width: 47px;height:47px;}
	.ics.ic_user.md {-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1); position: absolute;left: 0px;top: 0px;}
	body.OcultarScroll{overflow: hidden;}
	.input-group-search-mobile .btn-search-mobile {margin: 0 0 0 63px;}
	#header #box-header > span{display:none;}
	
	/*weather*/
	#weather button > span{margin-top: 5px;font-size: 17px;line-height: 25px;}
	#header #weather #temp{font-size: 33px;}
	.header-mini #header .seguinos-block li{float:none;}
	#header #box-header .seguinos-block li .ics.ic_tw{margin: 0 10px 0 5px;}
	
	/*BANNER*/
	.banner970, .banner728, .SectionBanner970{display:none;}
	#home_page #mas-reciente .banner.b300x250 div {margin: 16px 0 16px 0;}
	#home_page #mas-reciente .banner div {margin:16px auto;}
	.banner-personal-fixed{/*display:block;*/}
	
	
	/*Entusiastas*/
	.mod-entusiastas-chapa {padding: 25px;}
	.mod-entusiastas-chapa .title-entusiastas-chapa {margin-right: 13px;margin-top: 16px;max-width: 255px;}
	
	/*Header nuevo*/
	.content-header .header-user-login-menu .ics.ic_user.md{position: static;}
	.btns-social{text-align: left;}
	
	/*AUTOR DE LA NOTA*/
	#article_page .article-author .ic_user {position: static;}
	

}
@media ( max-width: 736px ) {
	.recetasdecocina .box-title.alter {background-position: -31px center;}
	.recetasdecocina .box-title.main h1{margin-right: 95px;}
}
@media ( max-width: 655px ) {
	.mods-blocks-home .mod-random, .banner300x600random, .mod-entusiastas-chapa-col{float:none;width: 95%;max-width: 300px;margin: 0 auto;}
	.mod-entusiastas-chapa-col{margin: 0 auto 16px auto;padding: 0 0 0 22px;}
	.banner300x600random {width: 95%;float: none;margin: 0 auto;}
	.banner300x600random>*{margin-bottom:30px;}
}
@media (max-width: 600px){
	.granhermano .box-title.alter{background: url( '/export/sites/bigbang/arte/gran_hermano/bg_480.jpg' );background-repeat: no-repeat; background-size: cover;background-position: center center;} 
	.video-galeria .a-summ.a-gen .title-videoModal a{height: 55px;}
	.mod-minitah-chapa {background-image: url('/export/sites/bigbang/arte/mujeres/bg-minitah-chapa-mobile.png'); background-position: 0px bottom;background-size: cover;margin: 25px 8px;}
	.mod-minitah-chapa{padding: 18px 40px 120px 40px;}
	.media-minitah-chapa {position: absolute;bottom: 0px;right: 50%;margin-right: -100px;width: 200px;}
	.video-galeria .a-summ.a-gen .title-videoModal a{height: 55px;}
	#header #weather .pitalic{top:67px;}
	.a-summ.a-ultimo-momento .title-MegaFocal a{color:#000;}
	
	/*BANNER*/
	#home_page #mas-reciente .banner.b300x250 div {margin: 0px;}
	
	/*SEARCH*/
	.input-group-search-mobile .btn-search-mobile{margin-left: 33px;margin-top: 5px;}
	#header #navbar .user-img-mobile{left: 0px;}
	#header #navbar .user-img-mobile .user-options{left: -105px;top: 62px;}
	.header-mini #header #hdr-cont button.btn {margin: 0 ;}
	
	/*Entusiastas*/
	.mod-entusiastas-chapa{position:relative;min-width:240px;text-align:center;padding: 108px 40px 37px 40px;background-position:0px bottom;background-size:cover;}
	.mod-entusiastas-chapa .title-entusiastas-chapa{margin:0 auto;}
	.mod-entusiastas-chapa .media-entusiastas-chapa{position:absolute;bottom:0px;right: 50%;margin-right: -100px;width: 200px;}
	.mod-entusiastas-chapa .img-entusiastas-chapa{max-width:170px;}	
	.mod-entusiastas-chapa .subtitle-entusiastas-chapa{font-size: 17px;line-height: 27px;text-align: center;margin-bottom: 25px;}
	.mod-entusiastas-chapa .btn-entusiastas-chapa {margin-top: 3px;}
	.mod-entusiastas-chapa .media-entusiastas-chapa{ top:25px;} 
	.img-entusiastas-chapa{width:99%;}
	
	/*Header nuevo*/
	body{padding-top:54px!important;}
	.content-header .img-bbn {max-width: 185px;min-width: 163px;height: auto;margin-top: 8px;-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
	.content-header #mobile-top-new .content-elements-mobile{padding: 3px 8px;}

	#article-comments .box-title .l-under{text-align: center;border-bottom: 0;position: relative;}
	#article-comments .box-title .l-under:after{content: " ";width: 58px;height: 1px;border-bottom: 1px solid #000;margin-left: -29px;left: 50%;display: inline-block;position: absolute;bottom: -10px;}

	/*CHAPA MINITAH*/
	#home_page .title-minitah-chapa{margin:25px auto 0 auto;}


}
@media ( max-width: 480px ) {
	.box-title.comunidad h2{font-size: 32px;}
	#article_page #te-puede-interesar .alter.m-under{font-size: 22px;height: 18px;}
        #article_page #te-puede-interesar .list-unstyled.ul-articles-related{padding: 26px 30px 20px 30px;}
        #article_page #te-puede-interesar .alter.m-under:before{width: 141px;}
        #header .poll-launcher a.btn{width: 164px !important;float: left;margin: 0 15px 10px 15px;}
        #header .poll-launcher > div .pitalic{line-height:normal;padding: 0;float: left;}
        #header .poll-launcher > div .pitalic.results-closed{float:none;}
        .header-mini #header .poll-launcher a.btn{width: 130px;float: left;margin: 0 15px 10px 15px;}
        #header .poll-launcher p.pitalic, .header-mini #header .poll-launcher p.pitalic{margin-bottom: 15px;}
        
        #home_page .a-summ.a-gen.two-thirds{min-height: auto;}
        .a-summ.a-gen.hero-article,.a-summ.a-gen.one-thirds,.a-summ.a-gen.one-thirds.a-photo,.a-summ.a-gen.one-thirds.a-video{margin-top:0px;}
    	
        
         .no-authors{padding:0px 0px 0px 10px !important;text-align: left;border-bottom: 0px solid #e5e5e5!important;}
	.no-authors time.date-time {border-top: 0px !important;border-bottom: 0px solid #e5e5e5;float: none !important;padding-bottom: 11px;padding-top: 0 !important;}
        .twitter-video.twitter-video-rendered{min-width: 300px !important;}

          /*AUTOR DE LA NOTA y RESUMEN DE LA NOTA*/
        #article_page .article-author .AutorIcon.author-email{margin: 0;}
        #article_page .article-author .AutorIcon.author-tw{margin: 0 0 0 9px;}
        #article_page .author-group .draw_my_rank li{margin: -9px -7px;}
        #article-content .frst-lttr-big {margin-bottom: 23px !important;}
        #article-content .frst-lttr-big:first-letter{font:900 84px/95px "Lato", Arial, serif;float:left;margin:-10px 10px -15px -0px;}  
	#article_page #article-authors .content-author-data{position:relative;min-width: 188px;margin-bottom: 25px;}
	#article_page #article-authors .content-author-data .article-author {float: none;}
	#article_page .autor-contacto {display: none;position: absolute;background-color: #e9e9eb;top: -45px;left: 0;padding: 5px 9px 8px 8px;white-space: nowrap;}
	#article_page .autor-contacto:after{content: '';position: absolute;z-index: 99;left: 9px;bottom: -9px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #e9e9eb;}
	#article_page .content-modo-resumen {overflow: hidden;float:none;width: 200px;margin:0 auto;}
	.modo-resumen {float: none;min-width: 150px;margin: 0 auto 0px auto;}
	#article_page .author-name {pointer-events: none;margin: 0px 8px 4px 0;}
	#article_page #article-authors,#article_page #article-authors.no-authors, #article_page article.photo #article-authors{margin-top: 26px;margin-bottom:30px;}
	#article_page .article-author .AutorIcon.author-perfil{position: relative;background-image: url('/arte/autor-perfil.svg'); background-position: 0 0;width: 22px;height: 17px;margin: -2px 7px 0 0;vertical-align: middle;}
       #article_page .article-author .AutorIcon.author-tw:after {content: '';width: 1px;height: 25px;position: absolute;left: -7px;top: -3px;background-color: #c4c5c9;}
       /*#article_page .article-author .AutorIcon.author-email:after {content: '';width: 1px;height: 25px;position: absolute;left: -6px;top: -5px;background-color: #c4c5c9;}*/
       #share-special .share-me {bottom: -4px;text-align: center;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
       #share-special .share-me > li {max-width: 63px;float: none;display: inline-block;white-space: normal;overflow: hidden; margin-right: -5px;}
       #article_page .share-me .shm-wsp{display: inline-block;}
       #article_page .article-author .link-name-autor{float:none;}
       #article_page time.date-time{margin-top: 17px;float:none;}
       #article_page time.date-time .dt-Month:after{bottom: 1px;}
       #article_page .article-author .link-name-autor:after{display:none;}
       body#article_page article:not(.photo) #article-container {margin-top: 43px !important;}
       #article_page #title-divider{margin-top: 0px;margin-bottom: 10px;}
       #article_page .imagen-autor{display:none;}
       #article_page.nota-list .nota-resumenbox{margin-bottom: 23px;}
        #article_page article #article-subtitle{margin-bottom: 2px;}
       #article_page article #article-header-content #article-gallery .carousel-inner .item{margin: 17px 0 12px 0;}
       
        #article_page blockquote p{font: italic 400 19px/31px "PT Serif", serif; }
       #article_page blockquote p:last-child:after{display:none;}
        #article-content .frst-lttr-big:first-letter{font:900 84px/95px "Lato", Arial, serif;float:left;margin:-15px 15px -10px 0px;}
        
        .a-summ.a-gen.half, .a-summ.a-gen.short-full{min-height: inherit;margin-bottom: 15px;}
        .a-summ.a-gen.short-full .title-boxArticle{padding-top: 5px;}
         .a-summ.a-gen .title-boxArticle a{height: 69px;}
        .a-summ.a-gen.short-full.a-video.a-play-videos .title-boxArticle a{font-size: 22px;line-height: 22px;}
         .medio .a-summ.a-gen .title-boxArticle{margin-bottom: 8.5px;}
        .medio .a-summ.a-gen .title-boxArticle a {height: auto;max-height: inherit;overflow: visible;}
        .mod-taboola .box-title .text-center {margin-top: 0px;margin-bottom: 50px;}
        #lo-mas-leido {margin-bottom: 22px;}
       .a-summ.a-gen .title-boxArticle{padding-top:10px;}
        .a-summ.a-gen, .a-summ.a-gen.a-ultimo-momento {margin-bottom: 30px;}
        #bombas-fondo .title-lasbombasDelFondo{font-size: 30px;}
        .box-title.comunidad .title-comunidadBangers {margin: -5px 0 26px;font-size: 30px;}
        #el-enmascarado .a-summ.a-gen .title-boxArticle a{height: 75px;}
        .box-content.box-moreSection, .content-mas-leido-stiky .ranked-articles{margin-bottom:21px;}
        #article_page  .box-content.box-moreSection .text-center,  #article_page .content-mas-leido-stiky .ranked-articles .text-center {margin-bottom: 30px;}
        body#article_page #content > article.photo {margin-top: -3px;}
       #article_page .m-under.alter.title-article-more-news {text-align: center;margin: 20px auto 14px auto;}
       .rate-me h6{margin-top: 17.5px;}
       #article-comments .box-title{margin-top:0px;}
       #article-comments{margin:0px !important;}
       
       
        #staff .staff-member .row.member{text-align: center;padding: 14px 0px;}
	#staff .staff-member .datos, #staff .staff-member img{float:none;}
	.bailando2016 .box-title.alter{background: url( '/export/sites/bigbang/arte/bailando2016/bg_bailando_480.jpg' );background-repeat: no-repeat; background-size: cover;background-position: center center;} 
	 /*recetasdecocina*/
	.recetasdecocina .box-title.alter{background-image: url( '/export/sites/bigbang/arte/recetasdecocina/recetasdecocina_480.png' ); background-size: cover;background-position: 5px center;background-repeat: no-repeat;}
	.recetasdecocina .box-title.main h1{margin-right: 74px;}
        
        .video-galeria .text-center{font: bold 30px/47px "Oswald",Arial,sans-serif;margin-bottom: 32px;}
         .#home_page .video-galeria .text-center{font: bold 30px/47px "Oswald",Arial,sans-serif;margin-bottom: 32px;}
        .video-galeria.page-video-galeria .text-center {font: bold 24px/38px "Oswald",Arial,sans-serif;margin-top: 0px;margin-bottom: 32px;}
        .video-galeria .text-center:after{bottom: 9px;margin-bottom: -18px;}
         #home_page .video-galeria .text-center:after{bottom: 9px;margin-bottom: -18px;}
        .video-galeria .swiper-pagination-clickable .swiper-pagination-bullet{margin: 0 5px;width: 12px;height: 12px;}
        .video-galeria .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 18px;}
	.video-galeria .append-videogaleria{padding-top: 20px;}
	.video-galeria .a-summ.a-gen .title-videoModal a{height: 79px;}  
	.video-galeria .container-fluid .row .a-list .a-summ.a-gen .title-videoModal{padding-top:8px;} 
        .video-galeria .container-fluid .row .a-list .a-summ.a-gen.a-video .a-title {bottom: 5px;}
        .video-galeria.page-video-galeria .container-fluid .row .a-list .a-summ.a-gen.a-video .a-title {bottom: 3px;}
        .video-galeria.page-video-galeria .col-c .banner.b300x250 {top: 50%;margin-top: 23px;display:none;}
        .video-galeria .a-summ.a-gen {margin-bottom: 30px;}
         
          
        /*search*/
        .input-group-search-mobile .btn-search-mobile {margin-left: 21px;}
        .form-content-search .form-group .input-group:after{right: 16px;}
        
        /*MENU MOBILE*/
        #header #s-element #navbar{padding-bottom: 150px;}  
          
        #header #weather .pitalic{top:73px;}
        #header #form-nb-search input{padding:0px;}
        .bajar-app-fixed.active{display:block;}
       
       /*HEADER NUEVO*/
        #header #weather .pitalic{top: 52px;text-align: center;}
        #header #box-header{bottom: -14px;left: -15px;}
        #section_page .my-tabs.visible-xs-block .list-unstyled, #home_page .my-tabs.visible-xs-block .list-unstyled {top: 49px!important;}
        
        /*APP*/
        .follow-fb-fixed{display:none;}
        .follow-fb-fixed.active{display:none;}
        .bajar-app-fixed.active {display: block;}
        .content-app{display: inline-block;position: absolute;left: 60px;min-width: 190px;}
        
        /*Entusiastas*/
       .subtitle-entusiastas-chapa {font-size: 20px;line-height: 23px; } 
       .mod-entusiastas-chapa{ background-image: url( '/export/sites/bigbang/arte/recetasdecocina/banner-entusiastas-mobile.jpg');} 
       
       #header #s-element #navbar {padding-bottom: 50px;}
       
       
       .a-summ.a-tw_mud .a-type, .a-summ.a-exclusive .a-type, .a-summ.a-guide .a-type, .a-summ.a-featured .a-type, .a-summ.a-trend .a-type{left: -5px; }
       .a-summ.a-tw_mud .a-type:before, .a-summ.a-exclusive .a-type:before, .a-summ.a-guide .a-type:before, .a-summ.a-featured .a-type:before, .a-summ.a-trend .a-type:before {border-top: 6px solid #a3a3a3;border-left: 6px solid transparent;}
        
	/*keywords*/
       .mod-keyword.keyword-horizontal .bloc-keyword .bloc-keyword-list:first-child{margin-right: 44px;}
       .mod-keyword.keyword-horizontal:after {font-size: 171px;right: -5px;bottom: -65px;}
       
        /*MODO OPINION*/
	 #modopinion .box-title{padding-top: 180px;}
	 #modopinion .box-title p{padding-top: 45px;padding-bottom: 25px;}
	 
	  /*TABOOLA*/
	 #article_page .mod-taboola .box-title .text-center, #home_page .mod-taboola .box-title .text-center {line-height: 21px;margin-bottom: 35px;}
	 
	 /*MEDIDAS BANNERS Y MODULOS*/
	 .banner.b300x250>* {margin: 0 0 35px 0;}
	 .box-content {margin: 0 0 25px 0;}
	 .content-mas-leido-stiky .box-content {margin: 0 0 26px 0;}
	 .box-content .banner.b300x250>* {margin: 25px 0 14px 0;}
	 #article_page .mod-taboola .box-title .text-center, #home_page .mod-taboola .box-title .text-center {line-height: 22px;}
	 #article_page .box-content.box-moreSection .a-summ.a-mini:last-child {margin-bottom: 20px;}
	 
	 /*Margenes nota*/
	  #article_page article.photo .title-nota-template, #article_page article .title-nota-template{margin: 15px auto 14px auto;}   
	  #article_page article.photo header {margin-bottom: 18px;} 
	  
	  /*MINITAH*/
	  #home_page .mod-minitah-chapa{background-color: #edecee;position: relative;min-width: 240px;max-width: 300px;max-height: 136px;text-align: center;padding: 12px 10px 24px 10px;margin: 0 auto 25px auto;background-image: url('/export/sites/bigbang/arte/mujeres/bg-minitah-chapa-mobile.png');background-position: center;background-size: 300px 136px;background-repeat: no-repeat;}
	  #home_page .media-minitah-chapa{display:none;}
	  #home_page .mod-minitah-chapa .title-minitah-chapa, #home_page .mod-minitah-chapa .link-minitah-chapa{display:inline-block;}
	  #home_page .mod-minitah-chapa .title-minitah-chapa{max-height: 65px;margin-top: 0;margin-bottom: 4px;}
	  #home_page .mod-minitah-chapa .data-minitah-chapa{font: 300 55px/33px "PlayFair Display";margin: 0;text-transform:uppercase; }
	  #home_page .mod-minitah-chapa .subtitle-minitah-chapa{font-family: 'Playfair Display';font-style: italic;font-weight: 400;font-size:15px;line-height: 43px;margin: 0;color:#312c2c;}
	  #home_page .mod-minitah-chapa .link-minitah-chapa{vertical-align:top;margin-top:0px;}
	  #home_page .mod-minitah-chapa .btn-minitah-chapa{text-decoration:none;display:block;background-color: #fc4545;border:0px;cursor:pointer;padding:10px 45px 10px 45px;box-sizing: border-box;}
	  #home_page .mod-minitah-chapa .btn-minitah-chapa:hover{background-color:rgba(252,69,69,0.6);}
	  #home_page .mod-minitah-chapa .btn-minitah-chapa:focus{outline:0px;}
	  #home_page .mod-minitah-chapa .btn-minitah-chapa span{font: 100 22px/25px 'Roboto Condensed';color:#fff;text-transform:uppercase;}   
       
}
@media ( max-width: 375px ) {
	.recetasdecocina .box-title.alter{background-position: -5px center;}
}
@media ( max-width: 361px ) {
	.input-group-search-mobile .btn-search-mobile{margin-left: 11px !important;}
	#header #weather .pitalic{top: 67px;}
	
	 /*recetasdecocina*/
	.recetasdecocina .box-title.alter{background-image: url( '/export/sites/bigbang/arte/recetasdecocina/recetasdecocina_320.png' ); background-size: cover;background-position: 0px center;background-repeat: no-repeat;}
	.recetasdecocina .box-title.main h1{margin-right: 115px;}
	 
	  /*Header Nuevo*/
	.content-header .img-bbn {max-width: 163px;}
	body {padding-top: 49px!important;}
	
	/*MEDIDAS BANNERS Y MODULOS*/
	.banner.b300x250>* {margin: 0 0 30px 0;}
	#article_page #share-block-top .banner.b300x250>* {margin-top: 18px;margin-bottom: 0px;}
	#article_page .nota-list .banner.b300x250>*{margin: 0 0 22px 0;}
	 .box-content .banner.b300x250>* {margin: 24px 0 25px 0;}
	
	 /*Margenes nota*/
	body#article_page article:not(.photo) #article-container {margin-top: 41px !important;}
	#article_page article .title-nota-template {margin: 12px auto 14px auto;}
	#article_page article.photo .title-nota-template{margin: 16px auto 10px auto;}
	#article_page article #article-subtitle {margin-bottom: 6px;}
	 #article_page article.photo .title-nota-templatee{margin: 20px auto 8px auto;}
	 #article_page #article-authors .content-author-data{margin-bottom: 27px;}   
	 #article_page #article-authors, #article_page #article-authors.no-authors, #article_page article.photo #article-authors{margin-top: 24px;margin-bottom: 27px;}
}

/*animaciones*/
/*header*/
@media ( min-width: 1024px ) {
#header #navbar .btn-group #dropdown-hdmenu{opacity:0;transform-origin:70% 0 0;transition:all 0.2s ease-in-out 0s;visibility: hidden;z-index: 300;display:block !important}
#header #navbar .btn-group.open #dropdown-hdmenu{opacity:1;top:100%;visibility:visible}
#header #navbar .btn-group.open #dropdown-hdmenu li{float: left;}
    }
/*nota compartir*/
.share-me .shm-more.dropdown ul{border: 0px;top: 49px;left: 10px;border-radius: 0;padding: 6px;min-width: 55px;background: #e9e9e9;opacity:0;transform: scale(0.2);transform-origin:50% 0% 0;transition:all 0.2s ease-in-out 0s;visibility: hidden;z-index: 100;display:block !important;box-shadow:none;-webkit-box-shadow:none;}
.share-me .shm-more.dropdown ul:after{content: " ";width: 0;height: 0;border-style: solid;border-width: 0 8.5px 8px 8.5px;border-color: transparent transparent #e9e9e9 transparent;position: absolute;top: -8px;left: 20px;}
.share-me .shm-more.dropdown.open ul{opacity:1;transform:scale(1);visibility:visible}
/*\animaciones*/

/*retina*/
@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {

.globe {
    background-image: url('/export/sites/bigbang/arte/globex2X.png');
    background-size: 22px 22px;
}

}