.jw-icon{
	font-family:'jw-icons';
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	background-color:transparent;
	font-variant:normal;
	-webkit-font-feature-settings:"liga";
	-moz-font-feature-settings:"liga=1";
	-moz-font-feature-settings:"liga";
	-ms-font-feature-settings:"liga" 1;
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
	-moz-osx-font-smoothing:grayscale
}

/**SKIN MUTIMEDIA*/
.jw-skin-bigbang .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 50px;
}
.jw-skin-bigbang .jw-text{
	color:#fff;
	margin-bottom: 5px;
}
.jw-skin-bigbang .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-button-color{
	color:#767575
}
.jw-skin-bigbang .jw-button-color:hover{
	color:#0eccb0
}
.jw-skin-bigbang .jw-toggle{
	color:#fff
}
.jw-skin-bigbang .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-bigbang .jw-icon-display{
	color:#fff!important;
	font-size: 2em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.jw-skin-bigbang .jw-display-icon-container{
	border-radius:4px;
	height: 50px;
	width: 72px;
	background-color: #0eccb0!important;
	opacity:0.8;
}

.jw-skin-bigbang .jw-display-icon-container:hover{
	opacity: 1;
}

.jw-skin-bigbang .jw-rail{
	background:#7a7a7a
}
.jw-skin-bigbang .jw-buffer{
	background:#d3d3d3
}
.jw-skin-bigbang .jw-progress{
	background:#0eccb0
}
.jw-skin-bigbang .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-bigbang .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-bigbang .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-bigbang .jw-time-tip,
.jw-skin-bigbang .jw-volume-tip,
.jw-skin-bigbang .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-bigbang .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-bigbang .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-bigbang .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-bigbang .jw-time-tip .jw-text,
.jw-skin-bigbang .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-bigbang .jw-time-tip{
	bottom:1em
}
.jw-skin-bigbang .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-bigbang .jw-dock-button:hover{
	background:#000
}
.jw-skin-bigbang .jw-playlist-container{
	padding:0
}
.jw-skin-bigbang .jw-icon-inline,
.jw-skin-bigbang .jw-icon-tooltip,
.jw-skin-bigbang .jw-text-elapsed,
.jw-skin-bigbang .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-bigbang .jw-time-tip,
.jw-skin-bigbang .jw-volume-tip,
.jw-skin-bigbang .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-bigbang .jw-skip{
	border-radius:.25em
}
.jw-skin-bigbang .jw-option{
	color:#fff!important;
	text-align:left;
}
.jw-skin-bigbang .jw-option:hover{
	color:#0eccb0!important;
}
.jw-skin-bigbang .jw-option:hover,
.jw-skin-bigbang .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-bigbang .jw-playlist-container .jw-option,
.jw-skin-bigbang .jw-playlist-container .jw-text,
.jw-skin-bigbang .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-bigbang .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-bigbang .jw-playlist-container .jw-option:hover,
.jw-skin-bigbang .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-bigbang .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-bigbang .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-bigbang .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-bigbang .jw-slider-horizontal{
	height: auto;
   	 margin-top: 12px;
}
.jw-skin-bigbang .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-bigbang .jw-slider-horizontal .jw-rail,
.jw-skin-bigbang .jw-slider-horizontal .jw-progress,
.jw-skin-bigbang .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-bigbang .jw-slider-horizontal .jw-knob,
.jw-skin-bigbang .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-bigbang .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-bigbang .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-bigbang .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0;
	margin: 0 3px;
}
.jw-skin-bigbang .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-bigbang .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-bigbang .jw-slider-vertical .jw-rail,
.jw-skin-bigbang .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-bigbang .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-bigbang .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-bigbang.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}

/**SKIN AUDIO*/
.jw-skin-bigbang-audio .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 45px!important;
}
.jw-skin-bigbang-audio .jw-text{
	color:#767575;
	margin-bottom: 5px;
}
.jw-skin-bigbang-audio .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-button-color{
	color:#767575
}
.jw-skin-bigbang-audio .jw-button-color:hover{
	color:#0eccb0
}
.jw-skin-bigbang-audio .jw-toggle{
	color:#fff
}
.jw-skin-bigbang-audio .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-bigbang-audio .jw-icon-display{
	color:#fff!important;
	font-size: 1.5em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.jw-skin-bigbang-audio .jw-display-icon-container{
	border-radius:0;
	height: 41px;
	width: 41px;
	background-color: #0eccb0!important;
	top: 55%!important
}

.jw-skin-bigbang-audio .jw-rail{
	background:#7a7a7a
}
.jw-skin-bigbang-audio .jw-buffer{
	background:#d3d3d3
}
.jw-skin-bigbang-audio .jw-progress{
	background:#0eccb0
}
.jw-skin-bigbang-audio .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-bigbang-audio .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-bigbang-audio .jw-time-tip,
.jw-skin-bigbang-audio .jw-volume-tip,
.jw-skin-bigbang-audio .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-bigbang-audio .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-bigbang-audio .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-audio .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-bigbang-audio .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-bigbang-audio .jw-time-tip .jw-text,
.jw-skin-bigbang-audio .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-bigbang-audio .jw-time-tip{
	bottom:1em
}
.jw-skin-bigbang-audio .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-bigbang-audio .jw-dock-button:hover{
	background:#000
}
.jw-skin-bigbang-audio .jw-playlist-container{
	padding:0
}
.jw-skin-bigbang-audio .jw-icon-inline,
.jw-skin-bigbang-audio .jw-icon-tooltip,
.jw-skin-bigbang-audio .jw-text-elapsed,
.jw-skin-bigbang-audio .jw-text-duration{
	padding:0 .25em;
	line-height: 40px;
}
.jw-skin-bigbang-audio .jw-time-tip,
.jw-skin-bigbang-audio .jw-volume-tip,
.jw-skin-bigbang-audio .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-bigbang-audio .jw-skip{
	border-radius:.25em
}
.jw-skin-bigbang-audio .jw-option{
	color:#fff!important;
}
.jw-skin-bigbang-audio .jw-option:hover{
	color:#0eccb0!important;
}
.jw-skin-bigbang-audio .jw-option:hover,
.jw-skin-bigbang-audio .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-audio .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-bigbang-audio .jw-playlist-container .jw-option,
.jw-skin-bigbang-audio .jw-playlist-container .jw-text,
.jw-skin-bigbang-audio .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-bigbang-audio .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-bigbang-audio .jw-playlist-container .jw-option:hover,
.jw-skin-bigbang-audio .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-audio .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-bigbang-audio .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-bigbang-audio .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-bigbang-audio .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-bigbang-audio .jw-slider-horizontal{
	height: auto;
	margin-top: 4px;
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-rail,
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-progress,
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-knob,
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-bigbang-audio .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-bigbang-audio .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-bigbang-audio .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-bigbang-audio .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-bigbang-audio .jw-slider-vertical .jw-rail,
.jw-skin-bigbang-audio .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-bigbang-audio .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-bigbang-audio .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-bigbang-audio.jw-flag-audio-player .jw-controlbar{
	background:rgba(243,243,243,1);
}

/**SKIN HOME*/
.jw-skin-bigbang-home .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 50px;
}
.jw-skin-bigbang-home .jw-text{
	color:#fff;
	margin-bottom: 5px;
}
.jw-skin-bigbang-home .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-button-color{
	color:#767575
}
.jw-skin-bigbang-home .jw-button-color:hover{
	color:#0eccb0
}
.jw-skin-bigbang-home .jw-toggle{
	color:#fff
}
.jw-skin-bigbang-home .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-bigbang-home .jw-icon-display{
	color:#fff!important;
	font-size: 1.2em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.jw-skin-bigbang-home .jw-display-icon-container{
	border-radius:3px;
	height: 31px;
	width: 47px;
	background-color: #0eccb0!important;
	top: 55%!important;
	opacity:0.8;
}

.jw-skin-bigbang-home .jw-display-icon-container:hover{
	opacity: 1;
}

.jw-skin-bigbang-home .jw-rail{
	background:#7a7a7a
}
.jw-skin-bigbang-home .jw-buffer{
	background:#d3d3d3
}
.jw-skin-bigbang-home .jw-progress{
	background:#0eccb0
}
.jw-skin-bigbang-home .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-bigbang-home .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-bigbang-home .jw-time-tip,
.jw-skin-bigbang-home .jw-volume-tip,
.jw-skin-bigbang-home .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-bigbang-home .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-bigbang-home .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-home .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-bigbang-home .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-bigbang-home .jw-time-tip .jw-text,
.jw-skin-bigbang-home .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-bigbang-home .jw-time-tip{
	bottom:1em
}
.jw-skin-bigbang-home .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-bigbang-home .jw-dock-button:hover{
	background:#000
}
.jw-skin-bigbang-home .jw-playlist-container{
	padding:0
}
.jw-skin-bigbang-home .jw-icon-inline,
.jw-skin-bigbang-home .jw-icon-tooltip,
.jw-skin-bigbang-home .jw-text-elapsed,
.jw-skin-bigbang-home .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-bigbang-home .jw-time-tip,
.jw-skin-bigbang-home .jw-volume-tip,
.jw-skin-bigbang-home .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-bigbang-home .jw-skip{
	border-radius:.25em
}
.jw-skin-bigbang-home .jw-option{
	color:#fff!important;
	text-align:left;
}
.jw-skin-bigbang-home .jw-option:hover{
	color:#0eccb0!important;
}
.jw-skin-bigbang-home .jw-option:hover,
.jw-skin-bigbang-home .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-home .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-bigbang-home .jw-playlist-container .jw-option,
.jw-skin-bigbang-home .jw-playlist-container .jw-text,
.jw-skin-bigbang-home .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-bigbang-home .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-bigbang-home .jw-playlist-container .jw-option:hover,
.jw-skin-bigbang-home .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-home .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-bigbang-home .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-bigbang-home .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-bigbang-home .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-bigbang-home .jw-slider-horizontal{
	height:1.2em
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-rail,
.jw-skin-bigbang-home .jw-slider-horizontal .jw-progress,
.jw-skin-bigbang-home .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-knob,
.jw-skin-bigbang-home .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-bigbang-home .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-bigbang-home .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-bigbang-home .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-bigbang-home .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-bigbang-home .jw-slider-vertical .jw-rail,
.jw-skin-bigbang-home .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-bigbang-home .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-bigbang-home .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-bigbang-home.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}

/**SKIN YOUTUBE*/
.jw-skin-bigbang-yt .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 50px;
}
.jw-skin-bigbang-yt .jw-text{
	color:#fff;
	margin-bottom: 5px;
}
.jw-skin-bigbang-yt .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-button-color{
	color:#767575
}
.jw-skin-bigbang-yt .jw-button-color:hover{
	color:#0eccb0
}
.jw-skin-bigbang-yt .jw-toggle{
	color:#fff
}
.jw-skin-bigbang-yt .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-bigbang-yt .jw-icon-display{
	color:#fff!important;
	font-size: 2em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.jw-skin-bigbang-yt .jw-display-icon-container{
	border-radius:4px;
	height: 50px;
	width: 72px;
	background-color: #0eccb0!important;
	opacity: 0.8;
}
.jw-skin-bigbang-yt .jw-display-icon-container, .jw-skin-bigbang .jw-display-icon-container{
	margin-top: -64px;
}
#article_page .jw-skin-bigbang-yt .jw-display-icon-container, #article_page .jw-skin-bigbang .jw-display-icon-container{
	margin-top: -25px;
    	margin-left: -36px;
    	top: 50%;
    	left: 50%;
    	position: absolute;
}
#header .jw-skin-bigbang-yt .jw-display-icon-container, #header .jw-skin-bigbang .jw-display-icon-container{
	margin-top: -31px;
}

.jw-skin-bigbang-yt .jw-display-icon-container:hover{
	opacity: 1;
}

.jw-skin-bigbang-yt .jw-rail{
	background:#7a7a7a
}
.jw-skin-bigbang-yt .jw-buffer{
	background:#d3d3d3
}
.jw-skin-bigbang-yt .jw-progress{
	background:#0eccb0
}
.jw-skin-bigbang-yt .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-bigbang-yt .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-bigbang-yt .jw-time-tip,
.jw-skin-bigbang-yt .jw-volume-tip,
.jw-skin-bigbang-yt .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-bigbang-yt .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-bigbang-yt .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-bigbang-yt .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-bigbang-yt .jw-time-tip .jw-text,
.jw-skin-bigbang-yt .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-bigbang-yt .jw-time-tip{
	bottom:1em
}
.jw-skin-bigbang-yt .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-bigbang-yt .jw-dock-button:hover{
	background:#000
}
.jw-skin-bigbang-yt .jw-playlist-container{
	padding:0
}
.jw-skin-bigbang-yt .jw-icon-inline,
.jw-skin-bigbang-yt .jw-icon-tooltip,
.jw-skin-bigbang-yt .jw-text-elapsed,
.jw-skin-bigbang-yt .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-bigbang-yt .jw-time-tip,
.jw-skin-bigbang-yt .jw-volume-tip,
.jw-skin-bigbang-yt .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-bigbang-yt .jw-skip{
	border-radius:.25em
}
.jw-skin-bigbang-yt .jw-option{
	color:#fff!important;
	text-align: left;
}
.jw-skin-bigbang-yt .jw-option:hover{
	color:#0eccb0!important;
}
.jw-skin-bigbang-yt .jw-option:hover,
.jw-skin-bigbang-yt .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-yt .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-bigbang-yt .jw-playlist-container .jw-option,
.jw-skin-bigbang-yt .jw-playlist-container .jw-text,
.jw-skin-bigbang-yt .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-bigbang-yt .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-bigbang-yt .jw-playlist-container .jw-option:hover,
.jw-skin-bigbang-yt .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-bigbang-yt .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-bigbang-yt .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-bigbang-yt .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-bigbang-yt .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-bigbang-yt .jw-slider-horizontal{
	height: auto;
    	margin-top: 12px;
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-rail,
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-progress,
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-knob,
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-bigbang-yt .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-bigbang-yt .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0;
	margin: 0 2px;
}
.jw-skin-bigbang-yt .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-bigbang-yt .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-bigbang-yt .jw-slider-vertical .jw-rail,
.jw-skin-bigbang-yt .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-bigbang-yt .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-bigbang-yt .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-bigbang-yt.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}
.jw-skin-bigbang-yt .jw-icon-hd{
	display:none;
}
.jwplayer.jw-state-paused .jw-display-icon-container{
	display: table!important;
}

/**AGREGADO POR MOCRETICH*/
#article_page #header .jw-icon-display{
	font-size: 1em!important;
}
#article_page #header .jw-display-icon-container{
	border-radius:2px;height: 26px;width: 38px;top:60%!important;
}
#article_page #header .jw-controlbar{
	height:34px;
}
#article_page #header .jw-icon-inline,
#article_page #header .jw-icon-tooltip,
#article_page #header .jw-text-elapsed,
#article_page #header .jw-text-duration {
	line-height: 34px;
}
#article_page #header .jw-slider-horizontal{
	line-height: 1em!important;
}

/**PARA MINITAH*/
.jw-skin-minitah .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 50px;
}
.jw-skin-minitah .jw-text{
	color:#fff;
	margin-bottom: 5px;
}
.jw-skin-minitah .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-button-color{
	color:#767575
}
.jw-skin-minitah .jw-button-color:hover{
	color:#ff3333
}
.jw-skin-minitah .jw-toggle{
	color:#fff
}
.jw-skin-minitah .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-minitah .jw-icon-display{
	color:#fff!important;
	font-size: 2em!important;
}
.jw-skin-minitah .jw-display-icon-container{
	border-radius:4px;
	height: 50px;
	width: 72px;
	background-color: #ff3333!important;
	opacity: 0.8;
}

.jw-skin-minitah .jw-display-icon-container:hover{
	opacity: 1;
}

.jw-skin-minitah .jw-rail{
	background:#7a7a7a
}
.jw-skin-minitah .jw-buffer{
	background:#d3d3d3
}
.jw-skin-minitah .jw-progress{
	background:#ff3333
}
.jw-skin-minitah .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-minitah .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-minitah .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-minitah .jw-time-tip,
.jw-skin-minitah .jw-volume-tip,
.jw-skin-minitah .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-minitah .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-minitah .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-minitah .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-minitah .jw-time-tip .jw-text,
.jw-skin-minitah .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-minitah .jw-time-tip{
	bottom:1em
}
.jw-skin-minitah .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-minitah .jw-dock-button:hover{
	background:#000
}
.jw-skin-minitah .jw-playlist-container{
	padding:0
}
.jw-skin-minitah .jw-icon-inline,
.jw-skin-minitah .jw-icon-tooltip,
.jw-skin-minitah .jw-text-elapsed,
.jw-skin-minitah .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-minitah .jw-time-tip,
.jw-skin-minitah .jw-volume-tip,
.jw-skin-minitah .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-minitah .jw-skip{
	border-radius:.25em
}
.jw-skin-minitah .jw-option{
	color:#fff!important;
	text-align: left;
}
.jw-skin-minitah .jw-option:hover{
	color:#ff3333!important;
}
.jw-skin-minitah .jw-option:hover,
.jw-skin-minitah .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-minitah .jw-playlist-container .jw-option,
.jw-skin-minitah .jw-playlist-container .jw-text,
.jw-skin-minitah .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-minitah .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-minitah .jw-playlist-container .jw-option:hover,
.jw-skin-minitah .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-minitah .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-minitah .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-minitah .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-minitah .jw-slider-horizontal{
	height:1.2em
}
.jw-skin-minitah .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-minitah .jw-slider-horizontal .jw-rail,
.jw-skin-minitah .jw-slider-horizontal .jw-progress,
.jw-skin-minitah .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-minitah .jw-slider-horizontal .jw-knob,
.jw-skin-minitah .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-minitah .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-minitah .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-minitah .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-minitah .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-minitah .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-minitah .jw-slider-vertical .jw-rail,
.jw-skin-minitah .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-minitah .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-minitah .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-minitah.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}
.jwplayer.jw-state-paused .jw-display-icon-container{
	display: table!important;
}

/**AUDIO*/
.jw-skin-minitah-audio .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 45px!important;
}
.jw-skin-minitah-audio .jw-text{
	color:#767575;
	margin-bottom: 5px;
}
.jw-skin-minitah-audio .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-button-color{
	color:#fff
}
.jw-skin-minitah-audio .jw-button-color:hover{
	color:#ff3333
}
.jw-skin-minitah-audio .jw-toggle{
	color:#fff
}
.jw-skin-minitah-audio .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-minitah-audio .jw-icon-display{
	color:#fff!important;
	font-size: 1.5em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}
.jw-skin-minitah-audio .jw-display-icon-container{
	border-radius:0;
	height: 41px;
	width: 41px;
	background-color: #0eecb0!important;
	top: 55%!important
}

.jw-skin-minitah-audio .jw-rail{
	background:#7a7a7a
}
.jw-skin-minitah-audio .jw-buffer{
	background:#d3d3d3
}
.jw-skin-minitah-audio .jw-progress{
	background:#ff3333
}
.jw-skin-minitah-audio .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-minitah-audio .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-minitah-audio .jw-time-tip,
.jw-skin-minitah-audio .jw-volume-tip,
.jw-skin-minitah-audio .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-minitah-audio .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-minitah-audio .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-audio .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-minitah-audio .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-minitah-audio .jw-time-tip .jw-text,
.jw-skin-minitah-audio .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-minitah-audio .jw-time-tip{
	bottom:1em
}
.jw-skin-minitah-audio .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-minitah-audio .jw-dock-button:hover{
	background:#000
}
.jw-skin-minitah-audio .jw-playlist-container{
	padding:0
}
.jw-skin-minitah-audio .jw-icon-inline,
.jw-skin-minitah-audio .jw-icon-tooltip,
.jw-skin-minitah-audio .jw-text-elapsed,
.jw-skin-minitah-audio .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-minitah-audio .jw-time-tip,
.jw-skin-minitah-audio .jw-volume-tip,
.jw-skin-minitah-audio .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-minitah-audio .jw-skip{
	border-radius:.25em
}
.jw-skin-minitah-audio .jw-option{
	color:#fff!important;
}
.jw-skin-minitah-audio .jw-option:hover{
	color:#ff3333!important;
}
.jw-skin-minitah-audio .jw-option:hover,
.jw-skin-minitah-audio .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah-audio .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-minitah-audio .jw-playlist-container .jw-option,
.jw-skin-minitah-audio .jw-playlist-container .jw-text,
.jw-skin-minitah-audio .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-minitah-audio .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-minitah-audio .jw-playlist-container .jw-option:hover,
.jw-skin-minitah-audio .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah-audio .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-minitah-audio .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-minitah-audio .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-minitah-audio .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-minitah-audio .jw-slider-horizontal{
	height:1.2em
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-rail,
.jw-skin-minitah-audio .jw-slider-horizontal .jw-progress,
.jw-skin-minitah-audio .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-knob,
.jw-skin-minitah-audio .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-minitah-audio .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-minitah-audio .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-minitah-audio .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-minitah-audio .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-minitah-audio .jw-slider-vertical .jw-rail,
.jw-skin-minitah-audio .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-minitah-audio .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-minitah-audio .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-minitah-audio.jw-flag-audio-player .jw-controlbar{
	background: rgba(47,52,60,0.9);
}



/* Youtube sin HD */
.jw-skin-minitah-yt .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-controlbar{
	background: rgba(47,52,60,0.9);
    height: 50px;
}
.jw-skin-minitah-yt .jw-text{
	color:#fff;
	margin-bottom: 5px;
}
.jw-skin-minitah-yt .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-button-color{
	color:#767575
}
.jw-skin-minitah-yt .jw-button-color:hover{
	color:#ff3333
}
.jw-skin-minitah-yt .jw-toggle{
	color:#fff
}
.jw-skin-minitah-yt .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-minitah-yt .jw-icon-display{
	color:#fff!important;
	font-size: 2em!important;
}
.jw-skin-minitah-yt .jw-display-icon-container{
	border-radius:4px;
	height: 50px;
	width: 72px;
	background-color: #ff3333!important;
	opacity: 0.8;
}

.jw-skin-minitah-yt .jw-display-icon-container:hover{
	opacity: 1;
}

.jw-skin-minitah-yt .jw-rail{
	background:#7a7a7a
}
.jw-skin-minitah-yt .jw-buffer{
	background:#d3d3d3
}
.jw-skin-minitah-yt .jw-progress{
	background:#ff3333
}
.jw-skin-minitah-yt .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-minitah-yt .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-minitah-yt .jw-time-tip,
.jw-skin-minitah-yt .jw-volume-tip,
.jw-skin-minitah-yt .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-minitah-yt .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-minitah-yt .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-minitah-yt .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-minitah-yt .jw-time-tip .jw-text,
.jw-skin-minitah-yt .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-minitah-yt .jw-time-tip{
	bottom:1em
}
.jw-skin-minitah-yt .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-minitah-yt .jw-dock-button:hover{
	background:#000
}
.jw-skin-minitah-yt .jw-playlist-container{
	padding:0
}
.jw-skin-minitah-yt .jw-icon-inline,
.jw-skin-minitah-yt .jw-icon-tooltip,
.jw-skin-minitah-yt .jw-text-elapsed,
.jw-skin-minitah-yt .jw-text-duration{
	padding:0 .25em;
	line-height: 50px;
}
.jw-skin-minitah-yt .jw-time-tip,
.jw-skin-minitah-yt .jw-volume-tip,
.jw-skin-minitah-yt .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-minitah-yt .jw-skip{
	border-radius:.25em
}
.jw-skin-minitah-yt .jw-option{
	color:#fff!important;
	text-align: left;
}
.jw-skin-minitah-yt .jw-option:hover{
	color:#ff3333!important;
}
.jw-skin-minitah-yt .jw-option:hover,
.jw-skin-minitah-yt .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah-yt .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-minitah-yt .jw-playlist-container .jw-option,
.jw-skin-minitah-yt .jw-playlist-container .jw-text,
.jw-skin-minitah-yt .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-minitah-yt .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-minitah-yt .jw-playlist-container .jw-option:hover,
.jw-skin-minitah-yt .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-minitah-yt .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-minitah-yt .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-minitah-yt .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-minitah-yt .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-minitah-yt .jw-slider-horizontal{
	height:1.2em
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-rail,
.jw-skin-minitah-yt .jw-slider-horizontal .jw-progress,
.jw-skin-minitah-yt .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-knob,
.jw-skin-minitah-yt .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-minitah-yt .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-minitah-yt .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-minitah-yt .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-minitah-yt .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-minitah-yt .jw-slider-vertical .jw-rail,
.jw-skin-minitah-yt .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-minitah-yt .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-minitah-yt .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-minitah-yt.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}
.jw-skin-minitah-yt .jw-icon-hd{
	display:none;
}
.jw-flag-touch .jw-controlbar, .jw-flag-touch .jw-skip, .jw-flag-touch .jw-plugin {
	font-size: 1em!important;
}
#home_page .jwplayer.jw-state-paused .jw-display-icon-container{background-color: rgba(14,204,176,0.8)!important;opacity: 1!important;}
#home_page .jwplayer.jw-state-paused .jw-display-icon-container:hover{background-color: rgba(14,204,176,1)!important;opacity: 1!important;}

#home_page .jwplayer.jw-flag-fullscreen, #article_page .jwplayer.jw-flag-fullscreen, #video-staff.jwplayer.jw-flag-fullscreen {position: absolute;top: 50%;height: 0!important;padding-top: 56.25%;-moz-transform: translate(0,-50%);-webkit-transform: translate(0,-50%);transform: translate(0,-50%);}



