#cse {height: 50px; /*display:inline-block;*/ width: 290px; font-size: 18px; color: rgba(128, 128, 128, 0);}
#cse table, #cse tbody, #cse tr, #cse td { margin: 0; padding: 0;}
/*.gsc-control-cse { font-family: Arial, sans-serif; border-color: #FFFFFF; background-color: #FFFFFF; }*/
.gsc-control-cse { font-family: Arial, sans-serif; border: 0; background: transparent; }
.gsc-control-cse .gsc-table-result { font-family: Arial, sans-serif; }

/*input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus { border-color: #D9D9D9; }*/
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus { border: 0; filter: none; box-shadow: none;}

input.gsc-input {height: 26px !important; background-position: 5% 50% !important; display: block; margin-top: 2px !important; padding: 10px 0 10px 20px !important; width:auto !important; font-weight: 300 !important; font-size: 18px !important; color: #666;}
.gsc-input-box {height: 50px;}

/*input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus { border-color: #666666; background-color: #CECECE; background-image: none; filter: none; }*/
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus { height: 50px; width: 115px; border: 0; border-radius: 0; -webkit-border-radius: 0; background-image: none; filter: none; font-size: 20px; margin: 2px 0 0 0; opacity: 0; padding: 0; position: relative; z-index: 100; }
.gsc-search-button:after { height: 50px; width: 115px; background-color: #338cd8 !important; content: "Search" !important; color: #fff !important; display: block; line-height: 50px; margin-top: -53px; margin-left: 2px; opacity: 1; position: absolute; text-align: center; font-weight: 300 !important; font-size: 20px !important; z-index: 1; }
input.gsc-search-button-v2, input.gsc-search-button:hover, input.gsc-search-button:focus { margin-top: 50 !important; }
/* IE Hack */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.gsc-search-button { margin: 0 !important; font-size: 20px; }
}

a.gsst_a {padding-top: 10px !important;}

.gsc-tabHeader.gsc-tabhInactive { border-color: #FF9900; background-color: #FFFFFF; }
.gsc-tabHeader.gsc-tabhActive { border-color: #E9E9E9; background-color: #E9E9E9; border-bottom-color: #FF9900 }
.gsc-tabsArea { border-color: #FF9900; }
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult { border-color: #FFFFFF; background-color: #FFFFFF; }
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover { border-color: #FFFFFF; background-color: #FFFFFF; }
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b { color: #0000CC; }
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b { color: #0000CC; }
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b { color: #0000CC; }
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b { color: #0000CC; }
.gsc-cursor-page { color: #0000CC; }
a.gsc-trailing-more-results:link { color: #0000CC; }
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType { color: #000000; }
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl { color: #008000; }
.gs-webResult div.gs-visibleUrl-short { color: #008000; }
.gs-webResult div.gs-visibleUrl-short { display: none; }
.gs-webResult div.gs-visibleUrl-long { display: block; }
.gs-promotion div.gs-visibleUrl-short { display: none; }
.gs-promotion div.gs-visibleUrl-long { display: block; }
.gsc-cursor-box { border-color: #FFFFFF; }

.gsc-results-wrapper-visible { background-color: #fff; border: thin solid #ddd; padding: 10px; position: relative !important; text-align: left; z-index: 900; }

.gsc-results .gsc-cursor-box .gsc-cursor-page { border-color: #E9E9E9; background-color: #FFFFFF; color: #0000CC; }
.gsc-results .gsc-cursor-box .gsc-cursor-current-page { border-color: #FF9900; background-color: #FFFFFF; color: #0000CC; }
.gsc-webResult.gsc-result.gsc-promotion { border-color: #336699; background-color: #FFFFFF; }
.gsc-completion-title { color: #0000CC; }
.gsc-completion-snippet { color: #000000; }

.gsc-completion-container { color: #666; }

.gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link *, .gs-promotion .gs-snippet a:link { color: #0000CC; }
.gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited *, .gs-promotion .gs-snippet a:visited { color: #0000CC; }
.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover { color: #0000CC; }
.gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active *, .gs-promotion .gs-snippet a:active { color: #0000CC; }
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * { color: #000000; }
.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short { color: #008000; }

.gsc-search-box { width:290px !important; }

@media only screen and (min-width: 640px) {
	#cse { margin-left: -100px; width:539px; }
	input.gsc-input { width:370px !important; }
	.gsc-control-cse {width: 536px;}
	.gsc-input-box  { margin-right:4px; }
	.gsc-search-box { width:100% !important;
}

@media only screen and (min-width: 1024px) {
	#cse {margin-left: 0;}
	.gsc-control-cse {width: auto;}
}