

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
:focus{outline:0}
p{line-height:1.5}
del{text-decoration:line-through}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:helvetica;}
q:before,q:after{content:''}
fieldset,img,abbr,acronym{border:0}
.clear{clear:both}
.center{text-align:center}
.right{float:right}
.indent{text-indent:5%}
.gap{padding-top:5px}
.widepage{width:950px;margin:0 auto;min-height:300px;}
#page{font-family:tahoma;}
.ss{font-size:80%}
body{background:#474D5D;line-height:1.5}
a{text-decoration:none;color:#ececec;}
a:hover{text-decoration:underline;color:#FF828A}
input{height:23px;padding:2px 0}
select{height:22px;font-size:12px;float:left}
#login{background-color:#FFF;height:40px}
#login form{width:610px;float:left;height:20px;line-height:20px;margin:10px}
#login ul{float:right;width:300px;margin:10px}
#login ul li{float:right;height:20px;line-height:20px;margin-left:20px}
#login a:hover{color:#FF5509}
#login a{color:#014387;font-weight:400;padding:0 5px}
#login input{color:#909090;vertical-align:middle;margin-right:20px}
#corner{float:left;height:23px;line-height:23px}
#body form a{text-decoration:none;vertical-align:top}
#corner .box{width:150px;color:#909090}
#corner a{color:#FFEDB7;margin-right:15px;font-weight:400}
#corner .search a{text-decoration:underline;color:#FFF;margin-right:50px}
#corner .search a:hover{color:#ffedb7}
#colorselector{float:left;margin-top:19px;margin-left:10px}
#colorselector a img{border:1px solid #CCC;margin-right:5px;padding:1px}
#colorselector .highlight{border:1px solid #e3e300}
#colorselector a:hover img{border:1px solid #FFF}
ul#menu{float:right;margin-top:10px}
ul#menu li a{float:left;width:135px;height:30px;padding-top:10px;font-size:13px;text-decoration:none}
#searchform{clear:both;width:950px}
#searchform fieldset{font-size:12px;margin:0;padding:0}
#searchform .button{height:32px;border:0;overflow:hidden;cursor:hand;background:#FEFD7F}
#searchform .search_button{height:32px;width:121px;font-weight:bold;background:#FEFD7F;border:none;margin-left:15px;}
#searchform .search_button:hover{cursor:pointer;}
#searchform label{margin-right:10px;position:relative;font-weight:700;text-decoration:none}
#searchform #searchbar{background:#363845;height:74px;line-height:69px;color:#FEFD7F;font-size:20px;text-align:center}
#searchform fieldset ol li ul{float:left;width:710px;margin-left:5px}
#searchform fieldset ol li ul li{float:left;width:auto;margin-bottom:0;padding:0}
#searchform fieldset ol li ul li input{float:left;height:20px;line-height:20px}
#searchform fieldset ol li ul li label{text-align:left;width:100px;font-weight:400;height:20px;line-height:20px;margin:0 3px}
#searchform fieldset ol li ul#genres select{display:none}
#searchform fieldset ol li ul#genres label{width:130px;height:18px;line-height:18px}
#searchform fieldset ol li ul#genres label a{padding-left:20px;background:url(/images/genre_either.png) left center no-repeat;font-weight:400;font-size:12px;color:#595959}
#searchform fieldset ol li ul#genres label a.either{background-image:url('/images/genre_either.png')}
#searchform fieldset ol li ul#genres label a.include{background-image:url('/images/genre_include.png')}
#searchform fieldset ol li ul#genres label a.exclude{background-image:url('/images/genre_exclude.png')}
#searchform fieldset ol li ul#genres label a:hover{text-decoration:underline}
#searchform fieldset ol li ul.radios{float:left;list-style:none}
#searchform fieldset ol li ul.radios li{float:left;height:20px;width:auto}
#searchform fieldset ol li ul.radios li label{width:auto;margin:0 5px 1px 3px}
#searchform #searcharea{width:930px;background:url(/images/searchareabg.png) top left repeat-y;padding:12px}
#searchform #buttonarea{width:930px;background:url(/images/searchareabottom.png) bottom no-repeat;height:35px;padding-top:10px}
#searchform .adv{display:block}
.ad300x250{border:#dadada solid 1px;width:300px;height:250px;overflow:hidden;background:#fff;text-align:center;margin:0 5px;padding:2px}
.ad728x90{border:#dadada solid 1px;width:728px;height:90px;overflow:hidden;background:#fff;text-align:center;padding:2px}
.ad468x60{border:#dadada solid 1px;width:468px;height:60px;overflow:hidden;background:#fff;text-align:center;padding:2px}
ul.autocompleter-choices{display:none;position:absolute;list-style:none;border:1px solid #7c7c7c;border-left-color:#c3c3c3;border-right-color:#c3c3c3;border-bottom-color:#ddd;text-align:left;z-index:50;background:#fff;margin:4px 0 0;padding:0}
ul.autocompleter-choices li{position:relative;display:block;float:none!important;cursor:pointer;font-weight:400;font-size:1em;line-height:1.5em;padding:.2em 0 .2em 1em}
ul.autocompleter-choices li.autocompleter-selected{color:#fff;background:#444}
ul.autocompleter-choices span.autocompleter-queried{display:inline;float:none;font-weight:700;margin:0;padding:0}
ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried{color:#9FCFFF}
ul.autocompleter-choices .lookup-info{position:absolute;top:0;right:4px;font-size:.9em;color:#06F;padding:1px 2px}
ul.autocompleter-choices li.autocompleter-selected .lookup-info{position:absolute;top:0;right:4px;font-size:.9em;color:#CFF;padding:1px 2px}
.arrow{padding-left:10px}
.new{padding-right:33px;padding-top:2px;padding-bottom:2px}
#content{width:598px;padding:0 10px 10px}
#sidebar{padding-bottom:10px;width:322px}
.spotlight{border:1px solid #DADADA;width:596px;height:236px;clear:both;overflow:hidden;position:relative}
.spotlight .slider li{width:596px;height:236px;position:relative}
.slider a{display:block;height:236px;width:596px}
.spotlight .selector{position:absolute;right:20px;top:15px}
.spotlight .selector div{width:35px;height:35px}
.spotlight .selector li{float:left;margin:4px 5px}
.spotlight .selector li.on{margin:0 5px}
#hotnews{padding-top:9px}
#hotnews span{font-weight:700;color:#8B2F20}
#weeklymanga .icon{float:left;border:1px solid #DCDEE1;padding:1px;background:none 1px 1px no-repeat;}
#weeklymanga .icon div{width:39px;height:39px;}
#weeklymanga{border:1px solid #DECF92;width:300px;padding:10px;float:left;}
#weeklymanga th{line-height:14px;display:block;padding-right:5px;color:#272727;font-weight:700;vertical-align:top;font-size:11px}
#weeklymanga td{color:#696969;font-size:11px;line-height:14px}
#weeklymanga #cover{border:1px solid #DDD;margin-left:20px;padding:1px}
#weeklymanga #summary{color:#8b2f20;font-weight:700;padding:10px 0 3px;line-height:14px}
#weeklymanga p{color:#696969;font-size:11px;line-height:14px}
#weeklymanga a#more{padding-right:25px;color:#014387;font-weight:400;font-size:11px}
#updates{width:598px;margin-top:10px;color:#333}
#updates a{font-weight:400}
#updates dl dt a.chapter{margin-left:25px;color:#999}
#updates dl dt{font-size:11px;}
#updates .title{padding:0 5px;}
#updates .title a,#updates .title a:hover{color:#4f4993;font-size:12px}
#updates .title a{line-height:20px}
#updates em{float:right}
#updates div{line-height:12px;float:left;width:598px}
#updates dt{float:left;width:586px;clear:both;line-height:16px;padding:0 5px}
#updates .manga_open{background:url(/images/manga_open.png) left center no-repeat;padding:4px 5px 4px 23px}
#updates .manga_close{background:url(/images/manga_close.png) left center no-repeat;padding:4px 5px 4px 23px}
#sidebar .topless{border:1px solid #DECF92;width:300px;border-top:none;clear:both;float:left;padding:10px}
#statistics ul#second{margin-left:10px}
#statistics ul li{width:145px;height:22px;text-align:right;font-size:11px;line-height:22px}
#popular{color:#696969;font-size:11px}
#popular .icon{float:left;border:1px solid #DCDEE1;background:none 1px 1px no-repeat;padding:1px}
#popular .icon div{width:39px;height:39px}
#popular .icon .pop1{}
#popular .icon .pop2{}
#popular .icon .pop3{}
#popular .manga{float:left;background:#F5F5F5;margin-left:5px;height:39px;padding-top:4px;width:252px}
#popular .updated a{background:url(/images/updated.png) 5px no-repeat;float:right;padding:15px 40px}
#popular a img{float:right;padding:5px 15px 0 0}
#popular a.top{color:#FF5400}
#latest li{list-style:decimal;margin:10px 0}
.chapter{color:#909090;font-size:11px;font-weight:400}
#latest a.up{padding-right:25px}
#top .avatar{float:left;width:39px;height:39px;border:1px solid #DCDEE1;background:none 1px 1px no-repeat;padding:1px}
#top .contributor{float:left;width:252px;margin-left:5px;height:39px;padding-top:4px;background:#F5F5F5}
#weekly{border:1px solid #DECF92;width:170px;margin-left:10px;margin-bottom:16px;padding:10px}
#weekly li{margin-top:9px;list-style:decimal}
span.hotch{background:url("/images/hot.png") no-repeat scroll 4px 0 transparent;display:block;float:left;height:20px;width:20px;}
#information table td a.like{display:block;height:16px;width:50px;float:left;background-repeat:no-repeat;padding:0 0 0 18px}
#information table td a.share{}
#information table td a.bookmark{background-image:url(/images/heart_add.png);width:80px}
#information table td a.rss{background-image:url(/images/rss.gif);width:37px}
#information h3{padding-top:10px;color:#8b2f20;font-weight:700;margin-bottom:5px}
a.upload{padding-left:18px;padding-top:1px}
a.edit{padding-left:8px;padding-top:1px;}
#discussion{width:928px;border:1px solid #d7d7db;color:#696969;margin:0 auto 10px;padding:10px 0 0}
#discussion .right{padding-right:15px}
#discussion h3{color:#2A6900;font:bold 16px Arial, Helvetica, sans-serif;margin-bottom:10px;padding-left:10px}
#discussion .row{padding:3px 0;padding-bottom:0}
#discussion .row_alt{background:#f5f5f5;padding:3px 0;padding-bottom:0}
#discussion h2{font-size:24px;color:#BBB;padding:2px 5px}
#discussion div.post{float:left;width:870px;line-height:20px}
#discussion div.post p{font-size:90%}
.listing th{font-weight:700;color:#8B2F20;font:14px;vertical-align:top;}
.listing .no{text-align:right;color:#d5d5d3}
div.warning{border:2px solid #ac0008;margin-top:10px;height:64px;padding:20px 20px 20px 100px}
.login{width:649px;height:172px;background:#fffae7;border:1px solid #dfcf93;margin-top:31px;border-left:none;padding-left:15px;line-height:250%}
.biao a{color:#014387;font-weight:400;text-decoration:none;margin-left:5px}
.xiao{margin-left:50px;width:170px;height:300px;}
.login p{margin-bottom:20px;border-bottom:1px solid #e1d29a;line-height:150%;padding:10px 0}
.login p span{color:#8b301e;font-weight:700;font-size:16px}
.login fieldset input{margin-top:3px}
.login label{width:80px;float:left}
.login_bottom{padding-top:20px;margin-left:200px}
#attention{text-align:center;font-size:14px;font-weight:700;padding:30px 0;}
#error{width:930px;padding:10px;height:217px;}
#error .ren{background:url(/images/404.gif) no-repeat;width:133px;height:157px;position:relative;top:-38px;}
#error .wen{width:680px}
#error .left{color:#333;padding-left:15px;}
#error .left a{color:#4CCCA9;font-size:14px;font-weight:700;}
#bookmark ul{width:930px;margin-top:10px;color:#333}
#bookmark ul a{font-weight:400}
#bookmark ul dl dt a.chapter{margin-left:5px;color:#666}
#bookmark ul dl dt a.page{font-size:11px;color:#666}
#bookmark ul dl dt{font-size:11px;}
#bookmark ul h2{line-height:20px}
#bookmark ul h2 em{margin-right:10px}
#bookmark ul .title{padding:0 5px;}
#bookmark ul .title a,#updates .title a:hover{color:#4f4993;font-size:12px}
#bookmark ul .title a{line-height:20px}
#bookmark ul em{float:right;width:270px;display:block}
#bookmark ul dt em{margin-right:30px}
#bookmark ul div{line-height:12px;float:left;width:930px;padding-top:5px}
#bookmark ul div.series_grp{padding-bottom:5px;border-bottom:1px solid #ccc}
#bookmark ul li span.status{display:block;text-align:right;float:right;width:110px}
#bookmark ul li span.timing{display:block;text-align:right;float:right;width:160px}
#bookmark ul dt{float:left;width:920px;clear:both;line-height:16px;padding:0 5px}
#bookmark ul .manga_open{background:url(/images/manga_open.png) left center no-repeat;padding:4px 5px 4px 23px}
#bookmark ul .manga_close{background:url(/images/manga_close.png) left center no-repeat;padding:4px 5px 4px 23px}
#bookmark .remove{margin-left:22px}
#bookmark ul h2 a.bigremove{float:right;padding:1px;border:1px solid #eee}
#bookmark{width:930px}
#bmfilter{margin-bottom:10px}
#bmfilter li{float:left}
#bmfilter li a{font:normal 15px Arial, Helvetica, sans-serif;color:#014387;text-decoration:underline;margin:10px 3px;padding:0 3px}
#bmfilter li a:hover{font-weight:700;color:#8B2F20;text-decoration:none}
#bmfilter li a.selected{color:#f60;font-weight:700}
.nomark{font-size:14px;line-height:30px;border:1px solid #ddd2a4;padding:10px}
#faq ol{border:1px solid #ddd2a4;border-top:none;width:908px;padding:10px}
.text a{color:#014387;text-decoration:underline}
#faq li{color:#696969;line-height:25px}
#faq span{color:#8b2f20;font-size:14px;font-weight:700}
#message{border:1px solid #ddd2a4;border-bottom:none;background:#fffae7;color:#2a6900;font-size:14px;font-weight:700;padding:7px 5px}
ins,.text a:hover{text-decoration:none}
.b,#discussion div.post h1 a{font-weight:700}
.left,#corner ul,#corner ul li,#statistics ul,#statistics b,#filter li{float:left}
.no,.nowrap{white-space:nowrap}
.middle,#corner *,#colorselector img,#rss *,#searchform *,#bookmark ol img,#bookmark ol span{vertical-align:middle}
#login .button,.login_bottom .button{vertical-align:middle;border:0;overflow:hidden;cursor:hand;margin:0 10px}
form>#login .button,form>#corner .button,form>#rss .button,form>#searchform .button{height:0}
#hotnews a,#rss a,#top a.arrow,#discussion a{color:#014387;font-weight:400}
#weeklymanga h3,#sidebar h3{color:#2A6900;font:bold 16px Arial, Helvetica, sans-serif;margin-bottom:10px}
#weeklymanga h2,#weeklymanga h2 a{color:#8b2f20;font-size:28px;padding-bottom:10px}
#weeklymanga a,#information table a,#sliderContent ul li a{font-weight:400}
#rss,#statistics,#latest,#advertisment{background:#FFFAE7}
#popular a:hover,#top a:hover,.listing th a:hover{color:#8F2F20}
#popular li,#top li{float:left;padding-top:10px}
#popular .updated a:hover,#sliderContent .updated a:hover{background:url(/images/updated_bro.png) 5px no-repeat}
#latest ol,#weekly ol{padding-left:30px}
#top,#weekly li span{color:#909090;font-size:11px}
span.newch,span.updatedch{background:url("/images/update.png") no-repeat scroll 0 1px transparent;display:block;float:left;height:20px;width:20px;}
.listing a.edit{float:right;padding-right:5px}
.login form,.login fieldset{padding-left:100px}
#searchform .text{font-size:14px;}
#searchform .select{display:none;}
#showcase .prev a.disabled,#showcase .prev a.disabled:hover{background:url(/images/showcase_prev1.png) no-repeat}
#showcase .next a.disabled,#showcase .next a.disabled:hover{background:url(/images/showcase_next1.png) no-repeat}
#faq a,#message a{font-size:14px;color:#014387}
.tip{color:#fff;width:172px;z-index:13000;text-align:left;left:0;top:0}
.tip-title{font-weight:700;font-size:11px;background:url(/images/bubble.png) top left;margin:0;padding:8px 8px 4px}
.tip-text{font-size:11px;background:url(/images/bubble.png) bottom right;margin:0;padding:4px 8px 8px;line-height:1.5;}


#header .beta{background:#FF828A;position:absolute;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;padding:0 3px;top:-9px;left:67px;line-height:15px;}
textarea{resize:none;font-family:Tahoma,sans-serif;font-size:14px;padding-top:5px;}
.indexlefttop1{position: relative;
float: left;
width: 720px;
margin-top:10px;
height:410px;}
.next_pic{cursor:url("/images/next-1.cur"), auto;}
.pre_pic{cursor:url("/images/pre-1.cur"), auto;}
.listing a{font-weight:bold;}
.listing th a{font-weight:bold;text-decoration:underline;}
#pic_container{text-align:center;width:100%;margin:0 auto;z-index:2;background:url("/images/ajax-loader.gif") no-repeat scroll center top transparent;}
.listing .comp_span{padding-left:10px;position:relative;top:-8px;}
.listing #comp_a{position:relative;top:6px;cursor:pointer;}
.listing .comp_span label{padding-left:2px;cursor:pointer;position:relative;top:-1px;}
#search_result{opacity:0.9;filter:alpha(opacity = 90);}
#search_result a:hover{background:none repeat scroll 0 0 #444444;color:#FFFFFF;z-index:3;}
.t-row{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:none repeat scroll 0 0 #FFFFFF;color:#333333;display:block;list-style-type:none;}
.t-row dt{border:1px solid #DDD2A4;border-top:0px;padding:6px 0 0 5px;width:586px;float:left;height:25px;}
.t-row dd{border:1px solid #DDD2A4;border-top:0px;border-left:0px;padding:6px 0 0 5px;float:left;height:25px;width:163px;}
.t-row dd.views{width:162px;}
.t-row dd.add-time{width:163px;}
.t-row .vol dt{border:1px solid #DDD2A4;background:none repeat scroll 0 0 #FFFBEB;color:#8B2F20;font-weight:700;width:923px;border-right:1px solid #DDD2A4;border-top:0;}
.t-row .vol dt.th{border:1px solid #DDD2A4;background:none repeat scroll 0 0 #FFFBEB;color:#8B2F20;font-weight:700;border-right:1px solid #FFFBEB;width:586px;}
.t-row .vol dd{border:1px solid #DDD2A4;background:none repeat scroll 0 0 #FFFBEB;color:#8B2F20;font-weight:700;border-left:0px;}
.t-row .vol .th-c{border:1px solid #DDD2A4;border-width:1px 0 1px 0;}
.t-row .vol .th-r{border:1px solid #DDD2A4;border-left:0;}
#footer{font-size:11px;line-height:20px;margin:0 auto;position:relative;padding:8px;text-align:center;width:950px;color:#ececec;margin-top:70px;}
#footer a{font-size:11px;font-weight:400}
.affiliates{position:relative;margin:0 auto;width:913px;}
#page{color:#ddd}
#sidebar div{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-bottom:5px;}
#sidebar #activity{width:300px;height:300px;}
#weeklymanga{background:none repeat scroll 0 0 #FFF9EB;}
#sidebar #popular,#sidebar #statistics,#sidebar #top{border:1px solid #DECF92;}
#bottom_center_bar,#top_center_bar{padding:0 20px;}
.page a.prev_page span{background:url("/images/search.prev.gif") no-repeat scroll center top transparent;}
.page a.prev_page:hover span{background:url("/images/search.prev_bro.gif") no-repeat scroll center top transparent;}
.page a.next_page span{background:url("/images/search.next.gif") no-repeat scroll center top transparent;}
.page a.next_page:hover span{background:url("/images/search.next_bro.gif") no-repeat scroll center top transparent;}
.page a.button span{height:100%;left:0;position:absolute;top:0;width:100%;}
.page a.prev_page, .page a.next_page{width:71px;}
.page a.button{background-color:#999999;float:left;height:22px;margin:0 5px;overflow:hidden;position:relative;vertical-align:middle;}
#page-mainer .pagebar .pager{padding:0 20px;}
.pagebar{margin-top:10px;padding-bottom:10px;}
#sub_nav{margin:0 auto;width:950px;height:52px;-moz-border-radius:0 0 5px 5px;-khtml-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background:url("/images/kindnavbg.jpg") repeat-x scroll center center transparent;border-top:2px solid #C5C8CB;}
.kindtoplist{border-bottom:1px solid #DFDFDF;color:#72727C;height:25px;line-height:26px;margin:0 12px;overflow:hidden;}
.Lkindbtm{border-top:1px solid #FFFFFF;height:25px;line-height:25px;margin:0 12px;}
.Lkindbtmleft{display:inline;float:left;}
#floor_nav{margin-left:0;vertical-align:text-bottom;}
.Lkindbtmleft li{position:relative;text-align:center;width:50px;}
#sub_nav li{display:inline;float:left;}
.dotfgbg,.dotfgbg{padding:0 12px;width:1px;}
#sub_nav a{font-weight:normal;}
.Lkindbtmright span{color:#2A6900;font-weight:bold;}
.Lkindbtmright{display:inline;float:left;}
.kindtoplist a{color:#8b2f20;font-weight:700;}
.Lkindbtmright a{color:#2A6900;}
#genres{background-color:#F1F1F1;height:182px;padding:10px 10px 10px 30px;position:absolute;width:755px;z-index:2;display:none;border:1px solid gray;border-bottom:2px solid gray;top:96px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#genres li{float:left;margin-bottom:0;padding:0;width:auto;height:20px;}
#genres div{color:#595959;float:left;font-weight:400;height:18px;line-height:18px;margin:0 10px 0 3px;position:relative;text-align:left;text-decoration:none;width:138px;}
#genres div a{background:url("/images/genre_either.png") no-repeat scroll left center transparent;color:#595959;font-size:11px;font-weight:400;padding-left:20px;}
#genres .genres_title{width:100%;font-size:18px;color:#689262;font:24px Georgia,"Times New Roman",Times,serif;padding:0 0 18px 5px;}
#genre_tip{color:#FFFFFF;left:0;text-align:left;top:0;width:172px;z-index:13000;position:absolute;display:none;}
#genre_tip .tip-title{background:url("/images/bubble.png") repeat scroll left top transparent;font-size:11px;font-weight:700;margin:0;padding:8px 8px 4px;}
#tool{background:none repeat scroll 0 0 #FEFBEA;height:25px;padding:5px 20px 0 20px;}
.pagebar #tool{margin-top:10px;}
#is_completed{font-weight:bold;}
#corner{width:650px;}
#corner ul{float:right;}
#bookmark{background:url("/images/heart_add.png") no-repeat scroll left center transparent;display:block;float:right;text-indent:20px;position:relative;right:101px;width:110px;}
#sliderContent li{position:relative;float:left;}
#showcase .na{background:url("/images/manga.banner.png") no-repeat scroll left center transparent;padding-left:324px;height:127px;}
#register_panel{position:absolute;display:none;width:658px;padding:10px;background:rgba(0, 0, 0, 0.597656);z-index:999;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#bookmarkpanel{background:url("/images/ajax-loader.gif") no-repeat scroll center 5x #FFFFFF;padding:10px 10px 10px 10px;position:absolute;top:96px;z-index:2;background-color:#F5F5F5;border:1px solid gray;border-bottom:2px solid gray;min-width:230px;min-height:25px;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#bookmarkpanel ul{height:100%;}
#bookmark_li{float:left;height:100%;background-color:#F5F5F5;}
#bookmark_li .bookmark_title{background:url("/images/bookmark.jpg") no-repeat scroll 0 0 transparent;line-height:1.2;padding-bottom:4px;text-indent:20px;}
#bookmark_li .books a{color:#E77A11;}
#bookmark_li .marks a{font-size:11px;text-indent:10px;/*color:#A19CA8;*/
font-weight:normal;}
#bookmarkpanel a:hover{color:#8b2f20;}
#bookmarkpanel .left{float:left;}
#bookmarkpanel .right{float:right;padding-left:10px;font-size:11px;color:#DADADA;}
#bookmarkpanel li{height:20px;}
#corner li{color:#D0E128;padding:5px 30px 0 0;font:14px Georgia,"Times New Roman",Times,serif;font-weight:bold;}
#fblike,#series{float:left;margin-right:30px;}
.icon{height:39px;}
#menu .nav a{text-decoration:none}
#showcase{left:10px;margin-left:0px;position:relative;}
#dir_main{margin-top:30px;}
#idSlider{position:absolute;top:0;left:0;}
#popular .manga{background-color:#ACACAC;padding-left:5px;width:247px;}
#popular .manga .chapter{color:#F0F0F0;}
#popular .manga a.top{color:#FFC883;}
#popular .manga a.top:hover{color:red;}
#page .title a{font-weight:normal;}
#genre_container{width:100%;padding:0 10px;}
#genre_container .center{float:left;width:180px;text-align:left;}
#genre_container .center .manga_title{background:url("/images/manga_opened.png?1") no-repeat scroll 0 0 transparent;padding-left:20px;}
#genre_container .center .row_1,#genre_container .center .row_2,#genre_container .center .row_3{padding-bottom:5px;}
#genre_container .center .author{padding-left:20px;}
#genre_container .center .tag_span{background:url("/images/tag.png") no-repeat scroll 0 0 transparent;padding-left:20px;}
#genre_container .center{float:left;width:550px;}
#genre_container .right{float:right;width:200px;}
#genre_container .box{width:930px;height:170px;}
#genre_container .row_3{height:100px;overflow:hidden;}
#nav li a{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#nav #navprev,#nav #navnext{display:none;}
#left_side{float:left;width:690px}
#updates_panel .updatesli{width:345px;padding-bottom:12px;float:left;}
#new_panel .updatesli{width:100%;padding-bottom:12px;float:left;}
#left_side .updates_chapter li{}
#left_side h3{line-height:18px;white-space:nowrap;overflow:hidden;width:208px;}
#updates_panel .title a{color:green;font-size:12px;font-weight:bold;padding-left:7px;}
#new_panel .title a{color:#336699;font-size:12px;font-weight:bold;padding-left:24px;}
#left_side #updates_panel{width:690px}
;#left_side #updates_panel .title a{padding-left:10px;}
#left_side .new_info{height:100%;}
#new_panel .new_info{padding-left:10px;width:516px;}
#left_side .updates_chapter li a{clear:both;color:green;font-size:11px;font-weight:400;line-height:17px;padding-bottom:3px;display:block;}
#left_side .updates_chapter li a .time{color:#333;width:92px;overflow:hidden;font-size:11px;text-align:right;float:left;white-space:nowrap;}
#left_side .updates_chapter li a .chapter_name{float:left;width:146px;overflow:hidden;height:17px;white-space:nowrap;}
#left_side .tag_span{background:url("/images/tag.png") no-repeat scroll 0 2px transparent;padding-left:20px;vertical-align:top;line-height:14px;}
#left_side .tag_span a{font-size:11px;font-weight:normal;color:#8b2f20;margin-right:7px;}
#left_side .row_1{padding-bottom:5px;}
#left_side .row_2{padding-bottom:5px;}
#left_side .row_2 li div{float:right;font-size:10px;padding-top:4px;padding-left:8px;}
#left_side .row_3{font-size:11px;color:#555;overflow:hidden;line-height:15px;}
#left_side .updates_chapter h3{line-height:20px;font-size:11px;}
.img_wrapper{width:79px;height:93px;overflow:hidden;position:relative;border:none;}
.toplist .updates_chapter{overflow:hidden;width: 130px;white-space: nowrap;position:relative;top:-3px;}
#right_side{float:right;margin:10px 0 0 14px;position:relative;width:200px;clear:right;border-left:0px solid #6F7887}
#right_side li.toplist{overflow:hidden;width:200px;position:relative;margin-bottom:13px;}
#right_side li .row_1{height:20px;overflow:hidden;width:244px;position:relative;padding:4px 8px 0;}
#right_side li .row_1 span{display:block;float:left;font-size:12px;height:6px;line-height:14px;text-align:center;}
#right_side li .row_1 .view{color:#999999;float:right;font-size:11px;}
#right_side li h3{font-weight:normal;}
#right_side .title a{font-weight:normal;font-size:12px;color:#336699;}
#right_side .title{float:left;overflow:hidden;padding:1px 0 0 5px;white-space:nowrap;width:154px;line-height:22px;}
#right_side span.index{font-weight:bold;color:#336699;}
#right_side li h3.view{float:right;color:#999;line-height:22px;}
#right_side .updates_chapter li{text-align:left;}
#right_side .updates_chapter li a{font-size:13px;font-weight:normal;line-height:18px;}
#right_side .updates_chapter li h3 a{color:#01C8DD}
#right_side li .row_2{clear:both;display:block;height:65px;position:relative;padding:0 8px 8px 0px;}
#right_side li .row_2 .listimg{height:72px;width:52px;overflow:hidden;}
.toplist_bg{height:110px;width:100%;background-color:#336699;position:absolute;opacity:0.2;filter:alpha(opacity = 20);-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#left_side #left_tab{height:30px;margin-bottom:13px;padding-top:5px;vertical-align:middle;width:677px;position:relative;}
#left_side #left_tab .border{width:689px;height:1px;position:absolute;border-bottom:1px solid #B6B6B6;top:34px;left:0px;}
#left_side #left_tab .ru,#left_side #left_tab .rc{width:140px;height:height;margin-right:5px;padding:3px;float:left;text-align:center;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#left_side #left_tab .ru a:hover,#left_side #left_tab .rc a:hover{text-decoration:none;}
#left_side #left_tab .am{float:right;margin-top:10px;}
#left_side #left_tab .am a{color:#336699;font-size:11px;font-weight:normal;}
#recommand{clear:both;float:left;height:330px;margin:0px 0 6px 0px;position:relative;}
#rec_bacground{position:absolute;width:100%;height:100%;background-color:#FFE368;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;opacity:0.3;filter:alpha(opacity = 30);}
#recommand .wrapper{background-color:transparent;margin:0px 20px 15px 0px;position:relative;}
#recommand .wrapper .img_wrapper{border:none;height:158px;overflow:hidden;width:128px;}
#recommand .wrapper img{width:100%;height:100%;}
#recommand .wrapper .rname{position:absolute;width:100%;height:39px;bottom:0px;overflow:hidden;background-color:#000;opacity:0.5;filter:alpha(opacity = 50);}
#recommand .wrapper .rname_wrapper{position:absolute;width:95%;height:39px;bottom:0px;overflow:hidden;line-height:20px;padding-left:3px;}
#recommand .wrapper .rname_wrapper a{font-size:12px;width:114px;white-space:nowrap;overflow:hidden;}
#recommand .wrapper .rname_wrapper a.title{font-size:12px;font-weight:bold;line-height:16px;}
#recommand .wrapper .rname_wrapper h3{position:relative;top:4px;margin-bottom:1px;}
#left_side.genre_page{width:950px;margin-top:10px;}
.pic_list .updates_chapter li a{text-align:center;width:105px;}
.pic_list .updatesli{width:169px;margin:0 0 20px 0px;float:left;}
.pic_list .thm-effect img{height:202px;width:152px;}
.pic_list .box{height:100%;}
.pic_list .updatesli .title{height:17px;line-height:19px;overflow:hidden;padding:8px 0px 0px 0;position:relative;float:left;max-width:147px;}
.pic_list .updates_chapter li a{text-align:center;width:105px;}
.pic_list .list_summary{display:none}
.pic_list .box img{float:left;}
.pic_list .row_1{color:#999px;padding-bottom:2px;}
.pic_list .row_2{height:15px;clear:both;display:none;padding-bottom:2px;}
.pic_list .new_info{width:100%;padding-left:0;clear:both;padding-top:3px;}
.pic_list .updates{width:111px;}
.pic_list .updates_chapter{width:105px;}
.pic_list .updates_chapter{width:105px;padding-top:7px;}
.pic_list .title a{padding:0 12px 0 22px;white-space:nowrap;font-size:13px;}
.pic_list .updates .title a{background:url("/images/button-goreading-2.png") no-repeat scroll 0 0 transparent;color:#8B2F20;display:block;font-size:12px;height:23px;padding:4px 12px 0 19px;width:80px;}
.pic_list .updates .title a:hover{background:url("/images/button-goreading.png") no-repeat scroll 0 0 transparent;text-decoration:none;color:#BD3E2A;}
.pic_list .row_3{overflow:hidden;white-space:nowrap;width:121px;padding:2px 0 5px 0;font-size:13px;}
.pic_list .row_3 a{color:#fff;font-size:13px;}
.pic_list .sep{overflow:hidden;height:0px;width:0px;float:left}
.directory_right{margin-top:35px}
#all_genres{padding:0 0 15px 0px;width:950px;float:left;}
#all_genres li{float:left;width:190px;padding-bottom:2px;}
#all_genres li.genres_title{display:none;}
#all_genres li .tips{font-size:14px;color:#4BCBA8;font-weight:normal;}
#all_genres li .tips span{font-weight:normal;color:#D8D8D6;margin-left:2px;}
#all_genres li .selected_genre .tips span{color:#fff;}
#all_genres .genre_title{background:url("/images/location.png") no-repeat scroll 0 1px transparent;border-bottom:1px dashed #999999;font-size:15px;margin:30px 0 14px;padding:0 0 10px 0px;width:100%;text-indent:20px;}
#all_genres .selected_genre{background-color:#bdbdbd;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#fff;}
#all_genres .label{padding:5px;float:left;width:140px;height:21px;}
#genre_panel ;label{padding-left:5px}
#all_genres .selected_genre a,#all_genres .selected_genre span{color:#fff;}
.genre_page .updates_chapter a{float:right;}
.listing th.view_th{width:100px;}
.listing th.chapters_th{width:100px;}
.listing th.no{font-size:14px;}
#bm_tip,#bm_deltip,.bm_loadtip{color:green;font-weight:bold;position:absolute;right:62px;display:none;}
.bm_loadtip{background:url(/images/loading.gif) no-repeat;display:block;width:20px;height:20px;}
#scale_wrapper{position:absolute;border:2px solid #999999;display:none}
#hotbook_recommand{position:absolute;padding:10px 10px 15px 10px;height:148px;clear:both;float:left;background-color:#F1EDEE;border:1px solid #999;border-top:none;display:none;-moz-border-radius:0 0 2px 2px;-khtml-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;/*-webkit-box-shadow:2px 4px 5px #555;-moz-box-shadow:2px 4px 5px #555;box-shadow:2px 4px 5px #555;*/
}
#hotbook_recommand .introduce{width:145px;color:#7F7D7E;padding-right:8px;border-right:1px dashed #ABA9AA;height:100%;}
#hotbook li.hotbook_hover{background-color:#F1EDEE;-moz-border-radius:2px 2px 0 0;-khtml-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;}
#hotbook_recommand .hotbook{height:77px;padding:0 0 0 10px;width:200px;}
#hotbook_recommand .hotbook .hot_wrapper{-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:1px solid #ACACAC;width:61px;height:70px;float:left;overflow:hidden;}
#hotbook_recommand .hotbook .hot_cover{width:100%;height:100%;}
#hotbook_recommand .hotbook span{color:#7F7D7E;float:left;font-size:11px;height:25px;line-height:21px;overflow:hidden;padding-left:10px;width:110px;}
#hotbook_recommand .hotbook span.hottitle a{color:#336699;font-size:12px;}
#information .manga_title{margin:30px 0 20px;}
#information .manga_view{top:2px;position:relative;}
#information .manga_title span{float:left;margin-right:10px;}
#information .cover{float:left;margin:0 10px 0 0px;}
#information .cover img{background-color:#fff;border:1px solid #604848;padding:3px;margin-bottom:10px;}
#information .like_it{width:100%;}
.wrap {word-wrap:break-word;word-break:break-word;}
.manga_right td{width:540px;line-height:24px;font-size:13px;word-wrap:break-word;word-break:break-word;}
.manga_right td a{color:#4ACEA9;font-size:13px;}
.manga_sep{margin:0 auto;border-bottom:1px solid #737A8D;height:1px;overflow:hidden;padding-top:30px;width:620px;clear:both;}
#information .widepage{width:300px;float:left;}
#information .like_it .like{}
#information .addthis_toolbox{float:left;}
.manga_right{float:left;width:250px;position:relative;top:-5px;}
.manga_right label{color:#D5D5D3}
.addthis_counter.addthis_pill_style{float:left;}
img.showdesc{background-color:#fff}

#friend_list{border-bottom:1px dashed;height:106px;margin:0 auto 5px;width:932px;}
#friend_list li{float:left;width:132px;}
#information .pic_list .thm-effect img{height:140px;width:103px;}
#information .pic_list .updatesli{width:120px;margin-bottom:20px;}
#information .pic_list .updatesli h3{width:101px;}
#information .also_like h4{font-weight:normal;display:inline;font-size:16px;}
#information .also_like{color:#FFFE7F;font-size:14px;margin:0 auto;padding:35px 0 20px 0;font-weight:normal;}
#information .manga_summary{color:#ddd;font-size:14px;}
#information .listing{clear:both;position:relative;width:100%}
#information .listing a{font-size:14px;color:#ececec}
#information .ch_raw{cursor:pointer}
.summarytip{position:absolute;}
.summarytip .background{position:absolute;background-color:#000;opacity:0.7;filter:alpha(opacity = 70);}
.summarytip .title{color:yellow;font-size:11px;padding:5px 5px 0 5px;position:relative;text-shadow:0 -1px #111111;position:relative;}
.summarytip .background{position:absolute;background-color:#000;width:100%;height:100%;opacity:0.7;filter:alpha(opacity = 70);-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.summarytip .summary{white-space:break-word;position:relative;color:#fff;display:block;font-size:11px;font-weight:500;line-height:1.5;padding:0px 5px 5px 5px;text-shadow:#032B4D 0px -1px 0px;}
.genre_page .pic_list{float:left;position:relative;right:0px;width:720px;}
.genre_page .pic_list .thm-effect img{height:153px;width:120px;}
.multi_genre.genre_page .pic_list .thm-effect img{height:150px;width:120px;}
.multi_genre.genre_page .pic_list .updatesli{width:139px;}
.multi_genre.genre_page .pic_list{right:-25px;}
#left_side .pic_list h3{width:120px;}
#left_side .pic_list .row_3{width:135px;}
.genre_page .pic_list .updatesli{width:144px;margin-bottom:10px;}
.genre_page .pic_list .updatesli h3{width:115px;}
.genre_page .pagination{margin-right:0px;}
.genrelist_group{background float:right;position:relative;width:210px;float:left;margin:0px 0 0 30px;}
.directory_right .genrelist_group{margin-left:0}
.genrelist{float:left;}
.genrelist li{width:100%;float:left;padding-bottom:8px;}
.genrelist li img{width:41px;height:50px;float:left;}
.genrelist li span{float:left;height:22px;overflow:hidden;width:100%;color:#bdbdbd;}
.genrelist li span a{white-space:nowrap;color:#bdbdbd;}
.genrelist li.info{color:#FEFD7F;font-weight:bold;margin:5px 0 13px;font-size:16px;}
.genrelist .genrelist_img_wrapper{border:none;float:left;}
#left_side .pic_list .updatesli{margin:0 0 20px 0px;}
.indextopmenu{float:left;position:relative;padding-left:50px;font-size:12px;color:#555text-align:center;}
.indextopmenu .ru{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:2px 5px;background:#FFE368;margin-left:10px;float:left;position:relative;}
.indextopmenu .rc{-moz-border-radius:3px 3px 3px 3px;padding:2px 5px;margin-left:10px;float:left;position:relative;}
#toplist_panel{position:relative;}
#genres_panel{position:relative;margin-top:10px;}
#genres_panel li{padding:4px 8px;overflow:hidden;position:relative;width:200px;}
#genres_panel li a{font-weight:normal;}
#genres_panel a span{color:#777;margin-left:5px;}
#toplist_panel_bg,#genres_panel_bg,#rss_panel_bg{position:absolute;width:100%;height:100%;}
#rss_panel_bg{background-color:#2F2F3B;}
#genres_panel_bg{background-color:#999;}
#new_chapter{width:179px;float:left;clear:left;position:relative;margin:30px 0 0 0px;}
#new_chapter li{border-bottom:1px solid #9498A4;height:67px;background:#646B7B}
#new_chapter span{margin-top:14px;float:left;}
#new_chapter span.hotnew{}
#new_chapter li a{font-weight:normal;font-size:12px;color:#fff}
#new_chapter li h3 a{color:#00F0FF}
.li_title,.li_title a{font-size:14px;font-weight:bold;height:20px;}
.li_title a span{font-size:18px;}
.centerli{display:block;float:left;width:465px;height:22px;}
.centerli a{float:left;width:150px;font-weight:normal;color:#555;}
.centerli span.c_i{float:left;margin-right:10px;}
.centerli span.c_t{float:left;white-space:nowrap;margin-right:5px;padding-left:17px;}
.centerli span.c_u{float:left;}
.centerli span.c_v{float:right;text-align:right;width:65px;}
.centerli span.c_c{float:right;width:107px;overflow:hidden;white-space:nowrap;}
#top_genres{float:left;position:relative;width:510px;margin:0px 0 0 30px;}
#top_genres .li_title{display:block;width:100%;clear:both;border-bottom:3px solid #fff;padding-bottom:7px;margin-bottom:14px;}
#top_genres .Yaoi{border-bottom-color:#00f0ff;}
#top_genres .Yaoi a{color:#00f0ff}
#top_genres .Doujinshi{border-bottom-color:#04B3F4;}
#top_genres .Doujinshi a{color:#04B3F4}
#top_genres .Shounen_Ai{border-bottom-color:#C763F7}
#top_genres .Shounen_Ai a{color:#C763F7}
#top_genres .Yuri{border-bottom-color:#F65648}
#top_genres .Yuri a{color:#F65648}
#top_genres .Shoujo{border-bottom-color:#F5AD1A}
#top_genres .Shoujo a{color:#F5AD1A}
#top_genres .Fantasy{border-bottom-color:#89D64C}
#top_genres .Fantasy a{color:#89D64C}
.updated span,.updated a{color:green;font-weight:bold;}
.finished{background:url('/images/closed.png') no-repeat scroll left 3px transparent;}
.opened{background:url('/images/opened.png') no-repeat scroll left 3px transparent;}
.location{background:url("/images/home.png") no-repeat scroll 0 3px transparent;padding-left:18px;width:332px;float:left;position:relative;margin:10px 0 0 0px;}
.location a{font-weight:normal;font-size:14px;}
.adv_bottom_160x600{height:160px;width:600px;margin:0 auto;position:relative;overflow:hidden;}
.adv_bottom_728x90{height:90px;width:728px;margin:0 auto;position:relative;overflow:hidden;}
.adv_bottom_768x90{height:90px;width:768px;margin:0 auto;position:relative;overflow:hidden;}
.adv_index_125x125{height:125px;width:125px;position:relative;overflow:hidden;}
.adv_top_728x90{height:98px;width:735px;margin:0 auto;position:relative;overflow:hidden;}
.genre_adv_container{height:90px;overflow:hidden;margin:0 auto;position:relative;width:728px;}
.genresidebar_adv_container{height:250px;overflow:hidden;width:200px;-moz-border-radius:5px;}
.adv_sidebar_200x250{width:200px;height:250px;}
.bottom_300x250{float:left;width:300px;height:250px;padding-right:20px;overflow:hidden;}
.index_adv_group{width:100%;}
.index_adv_group li{float:left;height:125px;width:125px;}
#information .comments_cotainer{width:300px;float:right;clear:right;}
#information .genrelist{width:100%;overflow:hidden}
#information .genrelist li span{float:left;}
#information .genrelist li img{height:70px;width:50px;}
#information .genrelist .genrelist_img_wrapper{height:70px;overflow:hidden;width:50px;}
.genre_adv_120x600{float:left;height:600px;margin-left:3px;margin-right:18px;width:120px;}
.newchapter_title{width:112px;overflow:hidden;white-space:nowrap;padding-left:10px;position:relative;top:-5px;font-size:10px;line-height:16px;color:#bdbdbd}
.gallery_ad{clear:both;width:728px;margin:7px 0 2px 23px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:1px solid #336699}
.genre_page .gallery_ad{margin:1px 0 12px 8px;}
#top_genres .pic_list .sep{width:20px;height:1px;}
#top_genres .pic_list .thm-effect img{height:110px;width:84px;}
#top_genres .pic_list .updatesli{width:86px;margin-bottom:10px;}
#top_genres .pic_list .updatesli h3{width:86px}
#top_genres .li_title h3{text-indent:12px;}
.radius_2{-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.oldchapter-expand{background-color:#DFDFDF;color:#8B2F20;height:30px;width:570px;line-height:30px;cursor:pointer;margin-bottom:10px;}
.hidden{display:none}
/* tooltip */
#tooltip{font-size:12px;line-height:1.4;background-color:#f8f8f8; border:1px solid #c9c9c9; width:328px; position:absolute; left:0; top:0; z-index:10000; text-indent:0; display:none;}
#tooltip h5{line-height:24px; width:318px; border-bottom:1px solid #c9c9c9; color:#fff; font-weight:normal; padding-left:10px;background:#000;}
#tooltip .message_mainT{width:308px; padding:10px 10px 0; *zoom:1;}
#tooltip .message_mainT:after{display:block; content:'clear'; clear:both; overflow:hidden; visibility:hidden; height:0;}
#tooltip .message_mainI{width:100px; height:124px; float:left; padding:1px; border:1px #dddddd solid; text-align:center; vertical-align:middle; *font-size:108px; *line-height:108px; display:table-cell;}
#tooltip .message_main .message_main_text{float:left; margin-left:10px;}
#tooltip .message_main .message_main_text p{line-height:26px; overflow:hidden; width:192px;}
#tooltip .message_main .message_main_text p label{font-weight:bold;float:left; margin-right:6px;}
#tooltip .message_main .message_main_text p span{ font-size:13px; float:left; margin-left:4px; color:#FF5B01; font-weight:bold;}
#tooltip .message_mainB{width:308px; margin-top:8px; padding:0 10px 10px;}
#tooltip .message_mainB span{font-weight:bold; float:none;}
#tooltip i.star-full, #tooltip i.star-half, #tooltip i.star-empty{margin:4px 2px 0 0;}
#tooltip .load{background:url(/images/info-loader.gif) no-repeat;}

.mg-avatar-index{float:left;width:50px;height:50px;}
.bigstar50,.bigstar45,.bigstar40,.bigstar35,.bigstar30,.bigstar25,.bigstar20,.bigstar15,.bigstar10,.bigstar05,.bigstar00{display:inline-block;*display:inline;zoom:1;width:75px;height:14px;margin:1px 0 0 0}
.bigstar50{background-position:0 0}
.bigstar45{background-position:0 -14px}
.bigstar40{background-position:0 -28px}
.bigstar35{background-position:0 -42px}
.bigstar30{background-position:0 -56px}
.bigstar25{background-position:0 -70px}
.bigstar20{background-position:0 -84px}
.bigstar15{background-position:0 -98px}
.bigstar10{background-position:0 -112px}
.bigstar05{background-position:0 -126px}
.bigstar00{background-position:0 -140px}
.allstar50,.allstar50,.allstar45,.allstar40,.allstar35,.allstar30,.allstar25,.allstar20,.allstar15,.allstar10,.allstar05{display:inline-block;*display:inline;zoom:1;width:55px;height:11px;margin:0 3px 0 0}
.allstar50{background-position:0 0}
.allstar45{background-position:0 -11px}
.allstar40{background-position:0 -22px}
.allstar35{background-position:0 -33px}
.allstar30{background-position:0 -44px}
.allstar25{background-position:0 -55px}
.allstar20{background-position:0 -66px}
.allstar15{background-position:0 -77px}
.allstar10{background-position:0 -88px}
.allstar05{background-position:0 -99px}
.starstop,.stars{display:inline-block;*display:inline;zoom:1;width:45px;height:9px;margin:3px 3px 0 0;overflow:hidden}
.stars5{background-position:0 0}
.stars4{background-position:0 -9px}
.stars3{background-position:0 -18px}
.stars2{background-position:0 -27px}
.stars1{background-position:0 -36px}
.stars42
{
    width: 210px;
    height: 42px;
    overflow: hidden;
    background-image: url(/images/home/stars42.png);
}

.stars42#stars5
{
    width: 210px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -42px;
}

.stars42#stars0
{
	width:210px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.stars24
{
	display:inline-block;
    width: 120px;
    height: 24px;
    overflow: hidden;
    background-image: url(/images/home/stars24.png);
}

.stars24#stars5
{
    width: 120px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -24px;
}

.stars24#stars0
{
	width:120px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.stars16
{
	display:inline-block;	
    width: 80px;
    height: 16px;
    overflow: hidden;
    background-image: url(/images/home/stars16.png);
}

.stars16#stars5
{
    width: 80px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -16px;
}

.stars16#stars0
{
	width:80px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.stars9
{
	display:inline-block;
    width: 45px;
    height: 9px;
    overflow: hidden;
    background-image: url(/images/home/stars9.png);
}

.stars9#stars5
{
    width: 45px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -9px;
}

.stars9#stars0
{
	width:45px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.stars9_wrapper{
	float:left;
	margin-top:1px;
	height:14px;
}
.rating_container_common a:hover{
	background-color:transparent;
}
.rating_star_container_9 {
position: relative;
height: 9px;
overflow: hidden;
width: 45px;
background-image: url(/images/home/stars9.png);
}
.rating_star_container_9 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 9px;
	overflow: hidden;
}
.rating_star_container_9 .rate_hover,.rating_star_container_9 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -18px;
	background-image: url(/images/home/stars9.png);
}
.rating_star_container_16 {
position: relative;
height: 16px;
overflow: hidden;
width: 80px;
background-image: url(/images/home/stars16.png);
}
.rating_star_container_16 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 16px;
	overflow: hidden;
}
.rating_star_container_16 .rate_hover,.rating_star_container_16 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -32px;
	background-image: url(/images/home/stars16.png);
}
.rating_star_container_24 {
position: relative;
height: 24px;
overflow: hidden;
width: 120px;
background-image: url(/images/home/stars24.png);
}
.rating_star_container_24 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 24px;
	overflow: hidden;
}
.rating_star_container_24 .rate_hover,.rating_star_container_24 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -48px;
	background-image: url(/images/home/stars24.png);
}
.rating_star_container_42 {
position: relative;
height: 42px;
overflow: hidden;
width: 210px;
background-image: url(/images/home/stars42.png);
}
.rating_star_container_42 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 42px;
	overflow: hidden;
}
.rating_star_container_42 .rate_hover,.rating_star_container_42 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -84px;
	background-image: url(/images/home/stars42.png);
}

.stars16
{
    width: 110px;
    height: 16px;
    overflow: hidden;
    background-image: url(/images/home/manga-bigstar.png);
}

.stars16#stars5
{
    width: 110px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -16px;
}

.stars16#stars0
{
	width:110px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.rating_star_container_16 {
position: relative;
height: 16px;
overflow: hidden;
width: 110px;
background-image: url(/images/home/manga-bigstar.png);
}
.rating_star_container_16 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 16px;
	overflow: hidden;
}
.rating_star_container_16 .rate_hover,.rating_star_container_16 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -16px;
	background-image: url(/images/home/manga-bigstar.png);
}

.stars14
{
    width:85px;
    height: 14px;
    overflow: hidden;
    background-image: url(/images/home/manga-littlestar.png);
}

.stars14#stars5
{
    width: 85px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -14px;
}

.stars14#stars0
{
	width:85px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.rating_star_container_14 {
position: relative;
height: 14px;
overflow: hidden;
width: 85px;
background-image: url(/images/home/manga-littlestar.png);
}
.rating_star_container_14 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 14px;
	overflow: hidden;
}
.rating_star_container_14 .rate_hover,.rating_star_container_14 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -14px;
	background-image: url(/images/home/manga-littlestar.png);
}
.stars9
{
    width:55px;
    height: 9px;
    overflow: hidden;
    background-image: url(/images/home/manga-littlestar-2.png);
}

.stars9#stars5
{
    width: 55px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0 -9px;
}

.stars9#stars0
{
	width:55px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.rating_star_container_9 {
position: relative;
height: 9px;
overflow: hidden;
width: 55px;
background-image: url(/images/home/manga-littlestar-2.png);
}
.rating_star_container_9 a{
	text-align: left;
	position: absolute;
	left: 0px;
	height: 9px;
	overflow: hidden;
}
.rating_star_container_9 .rate_hover,.rating_star_container_9 a:hover {
	background-repeat: repeat-x;
	background-position: 0 -9px;
	background-image: url(/images/home/manga-littlestar-2.png);
}
.status{
	height: 30px;
clear: both;
margin-left: 0px;
padding-top: 30px;
word-break:break-word;
}
.status .edit-btn{
	float:right
}
.status div{
	text-align:left;
}
.status-reading a{
	float:right;
	padding:0px 8px;
	display:block;
	height:100%;
	margin-right:10px;
	color:#9A9A9C;
}
.status-reading .collect_btn{
	float:left;
	padding:0px 8px;
	display:block;
	height:28px;
	line-height:28px;
	margin-right:7px;
	color:#bdbdbd;
	text-decoration:none;
	border:1px solid #bdbdbd;
	border-radius:2px;
}
.status-reading .collect_btn:hover{
	background: #bdbdbd;
	color:#fff;
}
.edit {margin-left:0;text-indent:12px;background:url(/images/home/edit.png) 3px 4px no-repeat;display:inline-block;height:100%;padding-left:8px;}
.status .status-reading .edit {background-position: 3px 7px;}
.edit:hover{background-image:url(/images/home/edit-hover.png);color:#CECECE}
.edit:active{background-image:url(/images/home/edit-selected.png);color:#00C7DE}
.delete {margin-left:0;text-indent:12px;background:url(/images/home/delete.png) 3px 4px no-repeat;display:inline-block;height:100%;padding-left:8px;}
.status .status-reading .delete {background-position: 3px 7px;}
.delete:hover{background-image:url(/images/home/delete-hover.png);color:#CECECE}
.delete:active{background-image:url(/images/home/delete-selected.png);color:#00C7DE}
.status-reading{
width:311px;height:100%;float:left;
}
.status-rating{
width:179px;background:transparent;height:100%;float:left;margin-left:10px;
}
.status-favorite{
width:0px;background:#585B6C;height:100%;float:left
}

/*setting*/
#setting-panel{width:620px;float:left;background:#646B7B}
#collection-nav{position: relative;
height: 27px;
margin-bottom: 30px;
border-bottom: 3px solid #646B7B;}
#collection-nav .nav{padding: 10px 20px 0px;height:27px;float:left;font-weight:normal;color:#bdbdbd;}
#collection-nav .nav a{color:#bdbdbd}
#collection-nav .nav.selected{background:#646B7B;font-weight: bold;}
#collection-nav .nav.sub{padding: 3px 20px 0px;}
#collection-nav .nav.selected a{color:#dedddd}
#setting-panel .tls-item{padding-top:10px;width:400px;}
#setting-panel select{font-size:14px;s}
#setting-panel .manga_title h1{height:67px;line-height:67px;}
#setting-panel h1{color:#FFFE7F;font-size:20px;font-weight:bold;padding-left:28px;}
#setting-panel ul{margin-left:28px;}
#setting-panel ul li{line-height:40px;font-size:15px;color:#DCDCDC;clear:both;float:left}
#setting-panel ul li div{float:left}
#setting-panel .setting-lable{color:#FFFFFF;width:110px;font-weight:bold;}
#setting-panel .content select{margin-top:10px}
#setting-panel .content input{height:20px;margin-top:7px;width:230px}
.setting-edit{margin-left:40px;text-indent:18px;background:url(/images/home/mine-edit.png) 0 10px no-repeat;color:#BDBDBD;display:inline-block}
.setting-edit:hover{color:#DEDDDD;text-decoration:none;background-image:url(/images/home/mine-edit-hover.png)}
.setting-edit:active{color:#3BC7D5;text-decoration:none;background-image:url(/images/home/mine-edit-selected.png)}
.avatar_60{}
.avatar_50{}

/*people*/

.people-panel .rightside{width:300px;margin-top:30px;float:right}
.people-panel .rightside.subfun{margin-top:60px}
.people-panel .rightside.top0{margin-top:0px}
.people-panel .rightsisde .content{clear:both;margin-bottom:30px;}
.people-panel .user-profile .pic img{width:50px;height:50px}
.people-panel .article{width:620px;float:left;margin-top:30px;}
.people-panel .article .pic{float:left;margin-right:17px;}
.people-panel .user-profile{min-height:70px;word-wrap:break-word;}
.people-panel .cross_title{padding:20px 0;background:#3B3F4D;}
.people-panel .user-profile.no-nav{min-height:30px;}
.people-panel .info li a{display:inline-block;margin-left:0px;}
.people-panel .info li a.selected{background:#363845;padding:0 10px;}
.people-panel .info li a:hover{color:#DEDDDD}
.people-panel .info li a:active{color:#3BC7D5}
.people-panel .info li{float:left;margin:5px 15px 0 0;line-height:25px;}
.people-panel .info h1{font-size:16px;font-weight:400}
.people-panel h1{font-size:22px;font-weight:bold;color:#FDFF80;word-break:break-word;word-wrap:break-word;line-height:1.2;}
.people-panel .article h2{font-size:18px;font-weight:normal;color:#FDFF80;line-height:18px;}
.people-panel .article h2 span,.people-panel .rightside h2 span{font-size:14px;font-weight:normal;color:#CFCFCF}
.people-panel .article .content{clear:both;margin-bottom:30px;word-wrap:break-word;}
.people-panel .article .content .pic_list .updatesli{width:124px;margin-bottom:0;}
.people-panel .article .content .pic_list .thm-effect img{width:110px;height:150px;border:none;}
.people-panel .article .content .pic_list .updatesli .title{max-width:106px}
.people-panel .aside{width:300px;float:right;word-break:break-word;word-wrap:break-word;}
.people-panel .aside .profile{padding:19px 19px 19px 19px;background:#363845;}
.people-panel .aside .profile .userface{float:left;margin-right:10px}
.people-panel .aside .profile .user-info{float:left;width:92px;overflow:hidden;font-size:13px;}
.people-panel .edit-manga{margin-left:0;}
.people-panel .user-intro a{color:#4CCCA9}
.people-panel .user-intro .edit-intro-a{margin-top:15px;display:block}
.people-panel .comment h3{margin-bottom:10px;}
.people-panel .comment .title a{color:#06E8F6}
.people-panel .manga{clear:both;margin-bottom:40px;}
.people-panel .manga .status{padding-top:0px;clear:none;height:auto;background:#363845;padding:0px 14px 10px;margin-top:15px;}
.people-panel .manga .status-rate{color:#BDBDBD;padding:8px 0}
.people-panel .manga .status div{text-align:left;word-break:break-word;}
.people-panel .manga .comment{margin-left:107px;}
.people-panel .manga .comment.no_cover{margin-left:0;}
.people-panel .manga .comment .pub{color:#BDBDBD;font-size:13px;}
.people-panel .manga .comment .title a{font-size:16px}
.people-panel .manga .cover{float:left;}
.people-panel .manga .comment .info{
	margin-top:0px;
	color:#BDBDBD;
	font-size:14px;
}
.people-panel .manga .comment .info a{
	#color:#4CCCA9;
}
.people-panel .rightside h3{font-size:16px;font-weight:400}
.people-panel .manga .status a:hover{color:#DEDDDD}
.people-panel .manga .status a:active{color:#3BC7D5}
.people-panel .manga .short-note{margin-bottom:10px}
.short-edit{color:#BDBDBD;display:inline-block;margin-left:0px;padding:0 10px;}
.short-edit{margin-left:0;text-indent:10px;background:url(/images/home/edit.png) 3px 5px no-repeat;}
.comment_toolbar .short-delete{font-size:12px}
body a.short-delete{color:#BDBDBD;display:inline-block;margin-left:0px;padding-left:10px;}
body a.short-delete{margin-left:0;text-indent:10px;background:url(/images/home/delete.png) 3px 5px no-repeat;}

.flag.flag-xx{display:none}
.aside{float:right;margin-bottom:60px;width:300px;}
.aside h2{color:#3DF5FF;font-weight:normal;padding-bottom:5px;font-size:16px;line-height:16px;}
.people-panel .rightside h2{color:#3DF3FE;font-weight:normal;font-size:16px;line-height:16px;}
.aside .aside-body {padding:10px 0;width:100%;}
.aside .aside-background{padding:18px 15px;padding-right:15px;background:#363845;}
.aside .aside-footer{line-height:19px;float:right;}
.aside .aside-footer a{float:right;font-size:14px;color:#CAADCF}
.aside.tags {margin-top:0px;}
.aside .aside-body h4{float:left;overflow:hidden;height:22px;}
.aside .aside-body h4 a{color:#4CCCAB;white-space:nowrap;font-weight:400;}
.genrelist li{margin-bottom:10px}
.genrelist li font.views{color:#ececec}
.genrelist li .also-like-chapter{width:159px;float:left;position:relative;top:0px;margin-left:10px;}
.genrelist li .also-like-chapter h4 a{color:#4BCBA8}
.lv2-aside{height:106px;width:300px;float:left}

#genres_submit_btn{
width:75px;
margin-left: 5px;
position: relative;
top: -4px;
height: 20px;
line-height: 20px;
text-align: left;
}
.sort_nav{float: left;
margin: 10px 0 0 0;
line-height: 19px;
white-space: nowrap;
}
.aside .genrelist li .also-like-chapter{width:223px;overflow:hidden;}
#introduce{font-size:12px;}
.on-delete{text-decoration:line-through;cursor:pointer;}

.intro-content{word-wrap:break-word;}
.comment_rname{color:white;cursor:pointer;text-align:center;line-height:16px;position:absolute;width:18px;height:18px;top:0px;overflow:hidden;right:0px;}
.expand,.collapse{
border:1px solid #00ACEE;
color:#00ACEE;
font-weight:bold;
font-size:17px;
-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;
}

.anno-body{word-break: break-word;
word-wrap: break-word;}
.short_annotation .short-anno-avatar{display:none}
.content-h2{color:#bdbdbd;margin-bottom:10px;}
.content-h2 a{cursor:pointer;color:#4CCCA9}
.content-h2 a.selected{color:#bdbdbd;cursor:none;text-decoration:none;cursor:text}
.content-h2 .text{font-size:16px}
.content-f2{color:#bdbdbd;padding-top:5px;border-top:1px dashed #737A8D;text-align:left;clear:both;}
.content-f2 a{color:#4CCCA9;cursor:pointer;}
.mg_comments #comments-title{color:#3DF5FF;font-size:16px;font-weight:normal}
.content .content-h2{text-align:left}/*comment list need right*/
.mark_hot a{text-decoration:none;padding:1px 5px;display:inline-block;height:18px;line-height:18px;color:#fff;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.mark_hot font{margin-left:5px;margin-right:3px;}
.mark_hot font.ok{color:#FF828A;}
.mark_hot font.recommend{margin:0;color:#00C7DE}
.mark_hot a.ok{color:#FF828A;border:1px solid #FF828A}
.mark_hot a.ok:hover{color:#FA5A53;border-color:#FA5A53}
.mark_hot a.liked{color:#ececec;border:1px solid #ececec}
.mark_hot a.liked:hover{color:#aaa;border-color:#aaa}
.mark_zan a.liked{color:#ececec;padding-left: 15px;
background: url(/images/icon-ok.png) 0 50% no-repeat;
}
.mark_ok{font-size:11px;color:#97A7C8;display:inline-block;}
.mark_ok a{font-size:12px;text-decoration:none;color:#97A7C8;}
.mark_ok font.ok{color:#FF828A}
.mark_ok font.shit{}
.mark_ok font.liked{color:#bdbdbd;margin-left:10px;}
.mark_ok a.ok{background:url("/images/comment_up_grey.gif") 0 1px no-repeat;padding:2px 6px;margin-right:10px;}
.mark_ok a.shit{height:10px;display:inline-block;background:url("/images/comment_down_grey.gif") 0 1px no-repeat;padding:2px 6px;}
.mark_ok a.liked{}
.mark_ok a.liked:hover{}
.short_annotation .mark_ok a.shit{display:none}
.anno-body .mark_ok a.shit{display:none}
.short_annotation .mark_ok font.shit{display:none}
.anno-body .mark_ok font.shit{display:none}
.short_annotation .content-h2 .total{display:none}
.sep_h5{height:5px;overflow:hidden;width:1px;clear:both}
.sep_h30{height:30px;overflow:hidden;width:1px;clear:both}
.sep_h10{height:10px;overflow:hidden;width:1px;clear:both}
.sep_h15{height:15px;overflow:hidden;width:1px;clear:both}
.sep_h20{height:20px;overflow:hidden;width:1px;clear:both}
a.content-h1-btn {
cursor:pointer;
padding: 0px 8px;
display: inline-block;
background: #4CCCA9;
color: #fff;
text-decoration: none;
position:relative;
height:30px;
line-height:30px;
border-radius:2px;
}
a.content-h1-btn.small {
padding: 1px 7px;
line-height:20px;
height:20px;
}
a.content-h1-btn.normal {
padding: 3px 7px; 
line-height: 24px; 
height: 24px
}
a.content-h1-btn.white {
background:#fff;
color:#333
}
a.content-h1-btn.pink {
background:#FF828A;
color:#fff
}
a.content-h1-btn.gray {
background:#bdbdbd;
color:#fff
}
a.content-h1-btn.yellow2 {
background:#FEFD7F;
color:#333
}
a.content-h1-btn.yellow {
background:#f90;
}
a.content-h1-btn.blue{
background:#00C7DE;
}
a.content-h1-btn:hover{opacity:0.9;filter:alpha(opacity = 90);text-decoration:none;}

/*bookmark*/
.content .pic_only_list{margin-left:-16px;}
.content .pic_only_list li{ width:110px; text-align:center; margin:0px 0px 14px 16px; position:relative; overflow:visible;}
.content .pic_only_list li:hover{-webkit-box-shadow:0px 0px 5px #999; -moz-box-shadow:0px 0px 5px #999; box-shadow:0px 0px 5px #999;}
.content .pic_only_list li a{height:auto; display:inline;}
.content .pic_only_list li .cancle{ width:22px; height:20px; background:#FA5A53; position:absolute; top:-7px; right:-8px;font-size:16px;line-height:20px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.content .pic_only_list .comic_name{padding:0px; line-height:32px;height: 32px;overflow:hidden;width:110px;color:#00C7DE}
.content .pic_only_list .comic_pic{display:block;}
.content .pic_only_list .comic_pic img{display: block;width: 100%;height: 150px;}
.content .pic_only_list .comic_chapter{line-height:25px; height:21px; overflow:hidden;color:#bdbdbd}
.content .pic_only_list .comic_chapter a{ color:#ececec;}
.content .pic_only_list .comic_chapter a:hover{ color:#ff9900;}
.content .pic_only_list .cancle{position:absolute; top:0px; right:0px; display:;}
.content .pic_only_list li:hover .cancle{display:block;text-align:center}
.content .pic_only_list .read_date{ line-height:32px; background-color:#DDEEF7; color:#333333;}
.content .pic_only_list .forecast_updata{ font-size:12px; line-height:28px; height:32px; position:absolute; top:0px; left:0px; width:174px; text-align:center; color:#CC9900; background-color:#F8EEBA;}
.content .pic_only_list .comic_name_title{ font-weight:600; font-size:16px;}
.content .pic_only_list_note li{padding-top:32px; padding-bottom:10px;}
.content .pic_only_list_note .new_chapter{text-align:left; padding-left:10px;}
.content .pic_only_list_note .new_chapter a{padding-left:5px; color:#669900;}
.content .pic_only_list_note .new_chapter a:hover{color:#ff9900;}
.content .pic_only_list_note .readed_chapter{text-align:left; padding-left:10px;}
.content .pic_only_list_note .readed_chapter a{ color:#669900;}
.content .pic_only_list_note .readed_chapter a:hover{color:#ff9900;}
.content .pic_only_list_note .readed_chapter em{padding:0px 5px; display:inline; color:#333333; font-size:12px; cursor: default;}

/*discussion*/
.sinfo-panel table{table-layout:fixed;width:620px}
.sinfo-panel thead{color:#bdbdbd}
.sinfo-panel thead td.title{width:390px;}
.sinfo-panel thead td.reply-num{padding-left:3px;width:40px;}
.sinfo-panel thead td.time{width:71px;text-align:left}
.sinfo-panel tbody tr{height:32px;}
.sinfo-panel tbody td{border-top:1px dashed #737A8D;color:#bdbdbd;word-break:keep-all;white-space:nowrap;overflow:hidden;}
#page .sinfo-panel tbody td a{font-weight:normal;}
.sinfo-panel tbody tr .title{width:390px;}
.sinfo-panel tbody tr .title a:link{color:#d0d0d0;}
.sinfo-panel tbody tr .title a:visited{color:#999;}
.sinfo-panel tbody tr .author{color:#AAA871;width:87px;}
.sinfo-panel tbody tr .author a{color:#FEFD7F}
.sinfo-panel tbody tr .reply-num{padding-left:3px;width:40px;text-align:left}
.sinfo-panel tbody tr .time{width:103px;text-align:right;font-size:13px;}
.sinfo-panel .mg-avatar-index{margin-right:0}
.topic-h2{height:32px}
#information .topic-h2{height:auto}
#information .topic-h2 .content-h1-btn{display:none}
.aside table{width:100%;position:relative;top:-6px;}
.aside table .title{border-bottom:1px dashed #737A8D;color:#bdbdbd;word-break:break-all;word-wrap:break-word;overflow:hidden;padding:5px 0}
.aside table .title a:link{color:#4CCCA9}
.aside table .title a:hover{color:#FF828A}
.aside table .title a:visited{color:#999}
#page .aside table .title a{font-weight:normal;width:100%;word-break:break-word;}
.navigation{padding: 2px 0 18px 0;}
.no-exist{color:#FF828A;line-height:31px;height:31px;}
#collection-nav li{float:left;margin-left:25px;}
#collection-nav li a.selected{padding:10px 11px;}
#back_top{bottom: 130px;
cursor: pointer;
display: none;
position: fixed;
left: 50%;
margin-left: 485px;
text-align: center;
padding: 5px 8px;
width: 24px;
z-index: 999;
background-color: #f1faff;
border: 1px solid #ddd;
}
.popup-alert a{color:#4CCCA9}
.popup-alert a:hover{color:#FF828A}
.comment_toolbar{width:100%;}
.comment_toolbar font{font-size:12px;color:#bdbdbd}
.annoy-tip a{color:#999;font-size:11px;}
.annoy-tip a font{font-size:16px;}

.genre_select_div{float: left;
margin-right: 5px;
background: url(/images/genre_either.png) no-repeat 0 2px;
width: 16px;
height: 18px;
text-indent:20px;
white-space:nowrap;
}
.genre_select_div.include{
background-image:url(/images/genre_include.png)
}
.genre_select_div.exclude{
background-image:url(/images/genre_exclude.png)
}
.report_fixed{background-color:rgb(103, 203, 42);color:#fefefe;width:70px;margin-top:5px;display:block;text-align:center;}
.report_decline{background-color:#FF6600;color:#fefefe;width:70px;margin-top:5px;display:block;text-align:center;}
.report_processing{background-color:#BDBDBD;color:#fefefe;width:70px;margin-top:5px;display:block;text-align:center;}

.usercard-followed{display:inline-block;padding-left:15px;color:#aaa;
background: url(/images/icon-ok.png) 0 50% no-repeat;}
.follow_usr_btn{margin-top:0px;padding:2px 5px;}
.unfollow_usr_btn{color:#aaa;margin-left:10px;}
a.unfollow_usr_btn:hover{color:#bdbdbd;}
.popup_title_ok{background: url(/images/icon-ok-b.png) no-repeat scroll 0px center transparent;color:#038013;text-indent:25px;font-weight:400;}
.quote{overflow: hidden;
padding: 0 24px 5px 20px;
margin: 8px 0 0 0px;
background: url(/images/quotation1.png) no-repeat 3px 4px;
width: auto;
word-wrap: break-word;}
.quote span.inq {
display: inline;
background: url(/images/quotation2.png) no-repeat right center;
padding-right: 15px;
word-break: break-all;}
.status-item .status-mod {
position: relative;
margin: 0 0 28px;
}
.status-item .title a{color:#4CCCA9;}
.is_v{width:230px;height:129px;}
.not_v{width:120px;}
.link_desc_img{text-align:left;width:472px;}
.status-item .block .link_desc_img{width:392px;}
.video_overlay{
position: absolute;
top: 0;
left: 0;
width: 230px;
height: 129px;
background: url(/images/home/video_overlay1b.png) no-repeat 0 0;
cursor: pointer;
}
.video_overlay:hover {
background-position: 0 -129px;
}
.link_img_a{
display:block;
background:#fff;
position:relative;
top:7px;
}
.status-content .title{text-align:left;margin-bottom:10px;}
#share_content a{color:#4CCCA9;}
.link_img_a img{width:100%;height:100%;}
.status-item .hd {
margin-bottom: 10px;
}
.status-item .hd_author{margin-left:47px}
.status-item .hd .usr-pic {
float: left;
position: relative;
z-index: 1;
margin-bottom: 30px;
}
.status-item .hd .text {
position: relative;
line-height: 1.45;
}
.status-item .bd {
padding-bottom: 30px;
overflow: hidden;
zoom: 1;
border-bottom: 1px solid #737A8D;
margin-left:47px;
}
.status-item .bd .status-saying{
	padding-left:20px;
	margin-bottom:10px;
	float:left;
}
.attachments-saying.group-pics{float:left}
.status-item .bd .status-saying.medium .attachments-saying.group-pics{
	margin-bottom: 5px;
	height:155px;
	overflow:hidden;
}
.status-item .bd .status-saying.medium .show-all{
	display:block;
}
.status-item .bd .status-saying .show-all{
	display:none;
	color:#fc0;
}
.status-item .bd .status-saying.medium a.view-large{
	display:none;
}
a.view-large {
display: block;
position: absolute;
right: 0;
bottom: 0;
width: 32px;
height: 32px;
line-height: 100em;
text-align: center;
overflow: hidden;
opacity: .8;
filter: alpha(opacity=80);
background: url(/images/home/icon_zoom_in.png) no-repeat;
}
.status-item .bd .status-saying .group-pic{
	float:left;
	position:relative;
	margin-bottom:10px;
	display:block;
}
.status-item .bd .status-saying.medium .group-pic{
	margin-right:10px;
	max-width:230px;
	border: 1px solid #737A8D;
	text-align:center;
	height:153px;
	overflow:hidden;
	width:230px;
}
.status-item .bd .status-saying.medium .group-pic img{
	cursor:pointer;
	position:relative;
	max-width:230px;
}
.status-item .comment_rname{
}
.show_item{display:inline-block}
.link_desc,.link_desc_img{color:#bdbdbd}
.status-item .block {
overflow: hidden;
/* zoom: 1; */
border:20px solid #363845;
background: #363845;
margin-bottom:10px;
}
.status-item .block .status-content {
overflow: hidden;
zoom: 1;
line-height: 1.42;
word-wrap: break-word;
}
.status-item .status-mod .hd a{
	color:#4CCCA9;
}
.status-item .status-mod .actions {
margin-top: 8px;
color:#bdbdbd;
clear:both;
}
.actions a{
color:#97A7C8;
font-size:13px;
}
.actions .reposted{
color:#bdbdbd
}
.status-item .status-mod .reshared_by {
    background: url("/images/repost.png") no-repeat scroll left 3px rgba(0, 0, 0, 0);
    color: #66a366;
    padding: 0 0 0 18px;
}
.status-item .bd .block .pic {
float: right;
overflow: hidden;
margin: 4px 23px 0 30px;
}
.status-item .block .title {
margin-bottom: 4px;
font-size: 14px;
line-height: 1.38;
text-align:left;
}
.status-mod .mg-avatar-index{
width:30px;
height:30px;
}
blockquote {
clear:both;
padding: 0 20px;
background: url(/images/quotation1.png) no-repeat 3px 4px;
}
blockquote p {
display: inline;
padding: 0 16px 0 0;
background: url(/images/quotation2.png) no-repeat right center;
word-wrap: break-word;
word-break: break-word;
}
.status-item .block .info {
position: relative;
margin-top: 4px;
padding-left: 7px;
border-left: 2px solid #ddd;
color:#aaa;
}
.status-item .block .info li {
margin-top: 2px;
zoom: 1;
float:none;
}
.status-item .block .info .label {
float: left;
margin-right: 2px;
}
.status-item .block .info span {
display: block;
overflow: hidden;
zoom: 1;
line-height: 1.4;
word-wrap: break-word;
}
.biaoqing_box a:hover {
background: #DDD;
cursor:pointer;
}
#db-isay .isay-links {
position: relative;
z-index: 2;
font-size: 0;
height: 30px;
line-height: 30px;
}
#db-isay .isay-links .isay-main {
background-position: 0 -90px;
}
#db-isay.active .isay-links .active {
position: relative;
}
#db-isay .isay-links li {
font-size: 13px;
display: inline-block;
padding-left: 22px;
margin-right: 18px;
background: url("/images/isay_icons.3.svg") no-repeat,none;
}
#db-isay .isay-links .isay-pic{
	background: url("/images/home/isay_icon_pic.svg") 0 6px no-repeat,none;
}
#db-isay .timeline-item {
position: relative;
z-index: 0;
margin-bottom: 0;
overflow: hidden;
}
isay .highlighter {
width: 570px;
}
.active .highlighter {
height: auto;
}
.highlighter {
margin: 0;
position: absolute;
z-index: 0;
top: 1px;
left: 1px;
overflow: hidden;
background: #fff;
white-space: pre-wrap;
word-wrap: break-word;
color: transparent;
width: 556px;
padding: 7px 25px 0 7px;
height: 16px;
overflow: hidden;
vertical-align: bottom;
font-family: tahoma;
line-height: 1.3;
border-radius: 2px 2px 0 0;
-moz-border-radius: 2px 2px 0 0;
}
#db-isay.active textarea {
border-color: #ccc;
}
#db-isay textarea {
background: transparent;
width: 586px;
padding: 7px 25px 7px 7px;
_margin-top: -1px;
height: 16px;
overflow: hidden;
vertical-align: bottom;
border: 1px solid #d7d7d7;
border-radius: 1px;
-moz-border-radius: 1px;
font-family: tahoma;
line-height: 1.5;
position: relative;
z-index: 1;
-webkit-transition: all .1s;
}
#db-isay .btn {
float: none;
width: auto;
margin-right: 0;
text-align: right;
border-top: 0;
position: relative;
_zoom: 1;
}
#db-isay.active .isay-links .active:after {
display: none\9;
content: "";
position: absolute;
bottom: -4px;
left: 30px;
height: 7px;
width: 7px;
border: 1px solid #ccc;
border-width: 1px 1px 0 0;
background: #474D5D;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.bn-flat{
height: 30px;
position: relative;
display: inline-block;
border-top: none;
right: -8px;
padding: 0px 10px 5px 5px;
}
input.submit-btn{
padding: 0px 20px;
display: block;
background: #4CCCA9;
color: #fff;
text-decoration: none;
position: relative;
height: 30px;
line-height: 30px;
border:none;
border-radius:2px;
}
input.submit-btn:hover{
background: #5DE5B5;
}
.mail-item{
cursor:pointer;
}
.mail-item *{
	max-width:100%;
}
.mail-item-hover{
	background:#4E5669;
}
.btn-2{
color:#aaa;
}
.comment-body{
word-wrap:break-word;
}
.noname_headlist li{
	display:inline-block;
	margin-right:10px;
	margin-bottom:12px;
}
.headlist li{
	width:75px;overflow:hidden;float:left;margin-right:0px;height:118px;
}
.headlist li .head-name{
	height: 44px;
display: inline-block;
overflow: hidden;
width:67px;
}
.logo-icon{position:relative;top:-11px;width:33px;height:33px;}
#logo1{cursor:pointer;width:33px;display:inline-block;position:relative;}
#db-isay textarea.topnone{
	border-top:none;
}
#db-isay textarea.bottomnone{
	border-bottom:none;
}
#db-isay #photo-item{
	padding:10px 7px;
}
.post_photo_list li{float:left;margin-right:5px;width:52px;text-align:center;vertical-align:middle;}
.post_photo_list li.no_img{display:none;}
.post_photo_list div.li_content{position:relative;}
.post_photo_list p.btn_close_box{z-index:100;
position: absolute;
top: 2px;
right: 0px;
line-height: 1;
padding: 0 2px;}
.post_photo_list p.btn_close_box a{color: #fff;
background-color: rgba(0,0,0,0.4);
overflow: hidden;
display: block;
height: 10px;
padding: 0 2px;
line-height: 8px;
font-size: 11px;}
.post_photo_list p.btn_close_box a:hover{background-color: rgba(0,0,0,0.8);text-decoration:none;}
.post_photo_list li img{width:52px;height:52px;}
.album_photo_list {padding:40px;background:#646B7B}
.album_photo_list ul{margin: -34px 0 0 -66px;
float: left;}
.album_photo_list li{display:inline-block;margin-left:64px;margin-top:64px;width:170px;text-align:center;vertical-align:top;}
.album_photo_list .uploading_progress_box{padding:60px;}
.album_photo_list li.no_img{display:none;}
.album_photo_list li span.cancel_cover,.album_photo_list li span.set_cover{position:absolute;left:0;width:168px;height:40px;background:#000;opacity:0.8;filter:alpha(opacity = 80);font-size:25px;display:none;cursor:pointer;}
.album_photo_list div.li_content{position:relative;border:1px solid #737A8D;border-bottom:none;}
.album_photo_list div.li_content p{border-bottom:1px solid #dfdfdf;}
.album_photo_list div.li_content p textarea{border:none;width:148px;height:80px;}
.album_photo_list div.li_content p input{padding:10px;border:none;width:148px;}
.album_photo_list div.li_content p.btn_close_box{z-index:100;}
.album_photo_list p.btn_close_box a{color: #fff;
width: 20px;
height: 20px;
background: #FA5A53;
position: absolute;
top: -7px;
right: -8px;
font-size: 16px;
line-height: 17px;
-moz-border-radius: 2px;
-khtml-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;}
a.disabled{
	background:#ccc;
	color:#fefefe;
}
a.disabled:hover{
	background:#ccc;
	color:#fefefe;
	opacity: 1;
}
.album_photo_list p.btn_close_box a:hover{background-color: rgba(255,0,0,0.8);text-decoration:none;}
.album_photo_list li img{width:168px;height:168px;}
.album_photo_list li textarea{padding:10px;width:148px;}
.album_photo_list.dragable li p.img_box{cursor:move}
.album_photo_list li p.photo_tags{text-align:left;padding:5px 10px 10px 10px;cursor:pointer;word-wrap:break-word;background:#fff;color:#aaa}
.album_photo_list li p.photo_tags span{margin-top:5px;display:block;height:25px;}
.album_photo_list li p.photo_tags font{padding:2px 5px;background:#54B3DF;color:#fff;margin-right:5px;border-radius:2px;margin-top:5px;display:inline-block;}
.album_photo_list .isay-act .circle-progress i:nth-child(1){border-color:transparent transparent #646B7B #646B7B}
.album_photo_list .isay-act .circle-progress i:nth-child(3){border:2px solid #646B7B}
.album_photo_list .isay-act .circle-progress i.circle-right{border-color:#ccc #ccc transparent transparent}
.album_photo_list .isay-act .circle-progress i:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.album_photo_list .isay-act .circle-progress i{position:absolute;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;top:0;left:0;width:52px;height:52px;border:5px solid;border-color:transparent transparent #ccc #ccc;border-radius:50%;border:none\9;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.isay-act .circle-progress{border:0}
.isay-act .circle-progress{position:relative;width:52px;height:52px;overflow:hidden;border-radius:50%}
.isay-act .circle-progress i{position:absolute;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;top:0;left:0;width:52px;height:52px;border:5px solid;border-color:transparent transparent #ccc #ccc;border-radius:50%;border:none\9;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.isay-act .circle-progress i:nth-child(1){z-index:2;border-color:transparent transparent #474D5D #474D5D}
.isay-act .circle-progress i.circle-right{border-color:#ccc #ccc transparent transparent}
.isay-act .circle-progress i:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
.isay-act .circle-progress i:nth-child(3){z-index:3;top:-1px;left:-1px;right:-1px;bottom:-1px;width:auto;height:auto;border:2px solid #474D5D}
.isay-act .item-photo .progress {
position: absolute;
top: 0;
left: 0;
width: 52px;
height: 52px;
line-height: 52px;
font-size: 13px;
font-family: tahoma;
text-align:center;
}
.isay-act .circle-progress {
position: relative;
width: 52px;
height: 52px;
overflow: hidden;
border-radius: 50%;
}

.ywz-wrapper{position:relative;float:left;margin:5px 10px 0 0;}
.biaoqing_box {
display: none;
overflow: hidden;
background: white;
margin-bottom: 10px;
padding: 7px 0px 7px 7px;
width: 300px;
float: left;
position: absolute;
top: 29px;
z-index: 100;
}
.ywz {
display: block;
padding: 0;
height: 24px;
position: relative;
left: 0;
top: 0;
z-index: 101;
padding:3px 7px;
background:#fff;
color:#000;
}
.biaoqing_box a {
color: #111;
float: left;
border-radius: 5px;
-webkit-transition: background .3s;
display: block;
padding: 3px 5px;
margin: 0 10px 2px 2px;
height: 14px;
line-height: 14px;
font-size: 12px;
}
#body .ywz-wrapper a:hover{
	cursor:pointer;
	text-decoration:none;
	color:#000;
}
.field-desc{font-size:13px}
.field-title{
	background:transparent;
	margin-right:10px;
	border:none;
	font-size:14px;
}
#db-isay .field-title{color:#fff}
.field-title-edit{
	background:#fff;
	color:#000;
	margin-right:10px;
}
.field-title:hover{
	background:#feff9f;
	color:#000;
}
#db-isay .field-title:hover{
	color:#000;
}
.album-photos{text-align:left}
.album-photos a {display:block;text-decoration:none}
.mangalist_item img{background:#fff;width:100%}
.mangalist_item .cover img{width:90px;}
.mangalist_item .album-photos img{width:145px;height:145px;}
.abstract{word-wrap:break-word;text-align:left}
.albumlst {
margin: 0px 0 10px 0;
padding: 0 0 10px 0;
line-height: 1.65em;
display:inline-block;
width: 203px;
}
.album_photo{
display: block;
background: url('/images/home/albumback.png') 1px 1px no-repeat;
height:181px;
padding: 4px 7px 7px 4px;
}
.album_photo a{
	display:block;
	width:170px;
	height:170px;
	overflow:hidden;
	text-align:center;
	position:relative;
}
.album {
}
.albumlst_r {
overflow: hidden;
word-wrap: break-word;
float: left;
width: 181px;
padding-top: 4px;
}
.pl2 {
line-height: 150%;
width: 181px;
overflow: hidden;
white-space: nowrap;
text-align:left;
}
.ass_text{color:#bdbdbd}
.albumlst_descri {
line-height:150%;
overflow: hidden;
max-height: 45px;
color:#ececec;
}
.pl {
line-height: 150%;
text-align:left;
}
.photo_wrap {
display: inline-block;
width: 170px;
overflow: hidden;
margin: 10px 11px 30px;
word-wrap: break-word;
vertical-align:top;
}
.photo_wrap a{
position:relative;
display:block;
}
.photo_wrap a img{background-color:#fff}
.photo_wrap img:hover {
-webkit-box-shadow: 0px 0px 5px #999;
-moz-box-shadow: 0px 0px 5px #999;
box-shadow: 0px 0px 5px #999;
}
.photo_wrap .pl {
margin: 6px 0 3px 0;
}
.image-show {
text-align: center;
}
.photo_descri {
padding: 0 0 0 14px;
word-wrap: break-word;
overflow: hidden;
}
.album_attr_edit li{
margin-bottom: 5px;
position: relative;
min-height: 10px;
}
.album_attr_edit .tdh{
margin-right:20px;
}
.album_attr_edit input[type='radio']{
margin-right:3px;
vertical-align:middle;
}
.album_attr_edit label{
margin-right:20px;
font-size:14px;
}
a.tag{
	padding:2px 5px;
	margin:0px 2px 6px 0;
	background:#474D5D;
	color:#eee;
	border-radius:2px;
	display:inline-block;
	font-size:14px;
	line-height:18px;
}
a.tag:hover{
	text-decoration:none;
	opacity:0.8;
}
.aside a.tag,.content a.tag{
	background:#777;
}
.status-item .album-photos img {
width: 121px;
height: 121px;
margin-left: 16px;
}
.album-photos a:hover {
	opacity:0.8;
}
.status-item .album-photos a {
display: block;
font-size: 0;
line-height: 0;
letter-spacing: -0.31em;
white-space: nowrap;
}
.status-item .album-photos {
margin-bottom: 10px;
margin-left: -16px;
}
.status-item .attachment {
padding: 0 20px 16px;
margin-top: -16px;
background: #f9f9f9;
}
.status-item .bd .author-tags-container {
display: inline-block;
}
.status-item .bd .author-tags-container .splitter {
display: inline-block;
margin: 0 15px;
width: 2px;
height: 20px;
background-color: #b6b6b6;
position: relative;
vertical-align: middle;
}
.mark_hot{display:inline-block;}
.sort_div_li{width:93px;height:93px;margin:0px 10px 10px 0;display:block;cursor:move;}
.sortphoto_load{width:100%;background:#777;
	color:#eee;line-height:30px;text-align:center;cursor:pointer;}
.sortphoto_load:hover{background:#888}
.album-list .pic img{
padding: 3px 7px 7px 3px;
background: url(/images/home/albumback_s.png) no-repeat 0 0;
}
.album-list .pic {
float: left;
margin-right: 10px;
cursor:pointer;
}
.album-list .pic a{
position:relative;
display:inline-block;
}
.album-list li {
overflow: hidden;
zoom: 1;
margin-bottom: 25px;
}
.album-list .info {
overflow: hidden;
zoom: 1;
color: #999;
height:90px;
}
.album-list .info .num {
display: block;
margin-bottom: 8px;
}
.album-list .info a{
display:block;
height:25px;
overflow:hidden;
}
.album-list .info p {
margin: 0;
word-wrap: break-word;
}
.image-show-inner{
display: inline-block;
position: relative;
}
.mainphoto{display:block;}
.album_cover_lock{
position: absolute;
bottom: 0px;
right: 0;
padding: 5px 5px 5px 7px;
background:url("/images/home/album_cover_lock2.png") no-repeat 7px 6px;
#background-color:#ddd;
display:block;
border-radius:2px 0 0 2px;
width:32px;
height:32px;
}
a.album_edit_sort{
	background:url(/images/home/sort.png) no-repeat 0 2px;
	text-indent:17px;
	height:25px;
	display:inline-block;
	color:#ddd;
	margin-left:20px;
}
a.photo_edit_delete{
	background:url(/images/home/deletep.png) no-repeat 0 2px;
	text-indent:20px;
	height:25px;
	display:inline-block;
	color:#ddd;
	margin-left:20px;
}
a.album_edit_add{
	background:url(/images/home/add.png) no-repeat 0 2px;
	text-indent:20px;
	height:25px;
	display:inline-block;
	color:#ddd;
	margin-left:20px;
}
a.album_edit_batch{
	background:url(/images/home/batch-edit.png) no-repeat 0 2px;
	text-indent:20px;
	height:25px;
	display:inline-block;
	color:#ddd;
	margin-left:20px;
}
a.album_edit_edit{
	background:url(/images/home/edit-album.png) no-repeat 0 2px;
	text-indent:20px;
	height:25px;
	display:inline-block;
	color:#ddd;
}
.home-album-list .pic img {
padding: 5px 8px 8px 5px;
background: url(/images/home/albumback-112.png) no-repeat 0 0;
}
.people-panel .article div.home_album_pic{
width:112px;
overflow:hidden;
margin-right:40px;
text-align:center;
max-height:175px;
}
.people-panel .article div.home_album_pic a{
display:block;
position:relative;
}
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}
.text{color:#000}
.desc{color:#9A9A9C}
.aside.things .aside-body a {
    display: inline-block;
    float: left;
    padding: 3px 7px;
    color: #CAADCF;
    background: #57496D;
    margin: 0 10px 10px 0;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    word-break: break-all;
}
.essay_description{font-size:14px;clear:both;}
.essay_description p{
clear:both;text-align:center;width:100%;padding:8px 0;display:inline-block;
}.essay_description img{
max-width:100%;
}
.essay_description{
	word-wrap:break-word;
}
.essay_description.expanded{
	cursor:pointer;
}
.essay_description.expanded:hover a.bluehref{
	color:#fff;
	background:#97A7C8;
	text-decoration:none;
}
a.bluehref:hover{
	color:#fff;
	background:#97A7C8;
	text-decoration:none;
}
a.bluehref{
	color:#4CCCA9;
}
a.bluehref.reply{
	color:#97A7C8;
}
.thing .hot_num_btn .mark_hot a{padding:1px 0 2px;height:auto;line-height:auto;font-size: 11px;
    width: 30px;
    display: block;
    text-align: center;}
a.author{color:#FEFD7F}
.thing .hot_num_btn .mark_hot font.ok{margin:0}
.thing .hot_num_btn .mark_hot font.liked{margin:0}
.thing .hot_num_btn .mark_hot a{padding:1px 0 2px;height:auto;line-height:auto;font-size: 11px;
    width: 30px;
    display: block;
    text-align: center;}
.thing .about_feed_list{margin-left:45px;}
.thing .about_feed_list #wrapper{margin-top:15px;}
.thing .answer_list{}
.thing .about_title{font-size:14px;color:#ececec;font-weight:bold}
.thing .type_desc{color:#AAA871;margin-left:4px;}
.thing .hot_num_btn{width:32px;display:inline-block;float:left;text-align:center;position:absolute;}
.thing .about_avatar{float:right}
.thing .about_time{display:none;color:#bdbdbd;}
.thing .about_author{display:none;}
.thing .about_avatar_c{float:right}
.thing .about_title_c{margin-right:33px}
.thing .about_author a{color:#FDFF80}
.thing .about_cover{width:120px;height:120px;position:relative;top:4px;}
.thing .summary_content.hascover{margin-left:133px;}
.thing .about_info{margin-bottom:5px;}
.thing .about{border-bottom:1px solid #737A8D;padding-top:20px;padding-bottom:20px;}
.about_edit_panel{margin-top:10px;float:right;clear:both;}
.about_edit_panel a{color:#bdbdbd}
.thing .rightside .noname_headlist img{width:25px;height:25px;}
.thing .rightside .noname_headlist li{margin-right:5px;margin-bottom:0px;}
.thing .about.trans-s{background-color:#FEFD7F;}
.thing .about.trans{
	background-color:transparent;
	transition-property:background-color;
	-moz-transition-property: background-color; /* Firefox 4 */
	-webkit-transition-property:background-color; /* Safari 和 Chrome */
	-o-transition-property:background-color;
    transition-duration: 2s;
	-moz-transition-duration: 2s; /* Firefox 4 */
	-webkit-transition-duration: 2s; /* Safari 和 Chrome */
	-o-transition-duration: 2s;
}
.thing li.depth-1{
padding:10px;
margin-bottom:5px;
background-color:#4E5669;
}
.thing h3#reply-title{font-size:20px;padding-bottom:10px;}
.thing #respond{background-color:#4E5669;padding:10px 10px 20px 10px;}
.thing .post_area{margin:0}
.thing .post-avatar{margin-left:35px;}
.thing .mg-avatar-index{width:25px;height:25px;}
.thing #message_area {margin-bottom:10px}
.thing #message_area .children{margin-left:35px;}
.thing .comment-wrapper{margin-left:35px;}
.thing #message_area #respond{margin-left:0}
.thing #message_area .comment #respond{margin-left:35px;padding:0px;}
.thing #comments .navigation{padding:2px 0 10px 0}
.people-panel.w600 .article{width:600px}
.people-panel.w600 .article .user-profile{width:100%}
.people-panel.w600 .article .user-profile h1{width:100%}
.people-panel.thing .article .user-profile h1{font-size:20px;}
.people-panel.w600 .article .content-h2{width:100%}
.people-panel.w600 .article .content{width:100%}
.people-panel .dashli{
border-bottom:1px dashed #bdbdbd;padding:10px 0;
}
.people-panel.thing .content-h2{
margin-bottom:0;border-bottom:1px solid #bdbdbd;padding-bottom:10px;
}
.rightside .aside .dashli{border-bottom:1px dashed #bdbdbd;padding-bottom:10px;}
a.tag.thing{
	margin-right:50px;
	margin-bottom:30px;
}
.thing_c{
	margin: 0 30px 20px 0;
    width: 186px;
    float: left;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.w-title{margin-top:30px;width:100%}
.w-title h1{color:#FFFE7F;font-size:22px;font-weight:bold;}
.people-panel .user-profile .pic{float:left;}
.people-panel .user-profile .info{margin-left:67px;}


@charset "utf-8";body{font-size:14px;font-family:Tahoma,sans-serif;color:#393B3A;}
;#header a:link{text-decoration:none;}
#header li{display:inline;float:left;}
#header img{border:0px;}
#header .clear{clear:both;}
#header_wrapper{height:183px;width:100%;margin:0 auto;background:#2F2F3B;}
#header{margin:0 auto;width:950px;padding-top:47px;font-family:helvetica;color:#ececec}
#header div{position:relative;}
#logo,#hotkeyword{float:left;position:relative;}
#logo{position:relative;top:-22px;}
#search fieldset{border-style:none;position:relative;top:4px;}
#search button{background:url("/images/home/home-search.png") no-repeat scroll left top transparent;border:0 none;cursor:pointer;height:21px;left:6px;position:relative;vertical-align:middle;width:34px;}
#hotkeyword{position:relative;top:28px;left:-45px;font-size:12px;}
#hotkeyword li{color:white;font-weight:bold;padding-left:2px;}
#hotkeyword a{color:white;font-weight:normal;}
#menu{z-index:6;width:950px;height:55px;text-align:center;}
#menu a{font-size:14px;}
#menu #h{float:left;height:80px;width:80px;background-color:#474D5D;}
#menu #h a{background:url("/images/home/home-logo.png") no-repeat scroll 10px 10px transparent;}
#menu #m{float:left;height:39px;width:153px;background:#FF828A;margin-left:12px;line-height:39px;font-weight:bold}
#menu #c{float:left;height:39px;width:153px;background:#B184E3;margin-left:4px;line-height:39px;font-weight:bold}
#menu #l{float:left;height:39px;width:148px;background:#4CCCA9;margin-left:4px;line-height:39px;font-weight:bold}
#menu #nav_genre{float:left;height:39px;width:145px;background:#FEFD7F;margin-left:4px;line-height:39px;color:#000;font-weight:bold}
#menu #nav_genre a {color:#000}
#search{float:right;}
#menu #r{background:#00C7DE;float:left;height:39px;width:243px;margin-left:4px;}
#menu #r a span{height:14px;width:40px;}
#menu #r .bm{font-weight:bold;text-align:right;height:24px;padding-top:12px;}
#menu #r .user{float:left;position:relative;width:230px;padding-top:12px;text-align:right;}
#menu #r .bm{float:right;}
#menu #r #nav_bookmark{color:green;}
#nave{float:left;z-index:1;margin-left:12px;height:41px;line-height:47px;}
#hotbook{float:left;}
#hotbook a{font-size:14px;padding:0 5px;font-weight:normal;color:#01C8DD}
#hotbook a:hover{color:#FF828A}
#hotbook li{height:100%;}
#hotgenre{float:left;left:55px;position:relative;top:11px;clear:both;width:100%}
#hotgenre li{color:#ffd99b;padding:0 3px;font-weight:bold;font-size:14px;}
#hotgenre a{color:#ffd99b;font-weight:normal;font-size:14px;}
#menu a{height:100%;position:relative;}
#menu #h a,#menu #m a,#menu #c a,#menu #nav_genre a{display:block;}
#menu a span{width:100%;height:100%;display:block;cursor:pointer;color:#ececec}
#menu #h a:hover span,#menu #h a.selected span{}
#menu #m a:hover span,#menu #m a.selected span{}
#menu #c a:hover span,#menu #c a.selected span{}
#menu #nav_genre a:hover span,#menu #nav_genre a.selected span{}
#menu #r #nav_bookmark{float:right;height:24px;margin-left:39px;padding-top:1px;right:40px;width:85px;}
#lookupwords{background:#fff;border:none;font-size:12px;height:27px;padding:2px 5px;vertical-align:middle;width:190px;color:#000;}

.pagination{position:relative;height:24px;background:url(/images/pagination.png) no-repeat 0 -30px;margin:0 10px 0 0;float:right;}
.paginationTop{margin:0 10px 30px 0;background-position:0 0;width:100%;}
.pagination div{height:24px;background:url(/images/pagination.png) no-repeat right -30px;margin:0 -10px 0 10px;padding:0 20px 0 10px;}
.paginationTop div{background-position:right 0;}
.pagination .info{display:block;float:left;color:#808080;height:22px;line-height:22px;padding:0 15px 0 25px;font-size:11px;background:url(/images/pagination.png) no-repeat 0 -61px;}
.pagination li{float:left;margin:1px 1px 1px 0;}
.pagination li.current{float:left;margin:-2px 1px -2px 0;height:26px;}
.pagination li.prev{margin-right:10px;}
.pagination li.prev a span{background:url(/images/pagination.png) no-repeat 0 -100px;padding:0 7px 0 20px;}
.pagination li.prev a:hover span{background-position:0 -125px;}
.pagination li.next{margin-left:10px;}
.pagination li.next a span{background:url(/images/pagination.png) no-repeat right -100px;padding:0 20px 0 7px;}
.pagination li.next a:hover span{background-position:right -125px;}
.pagination li.gap span{line-height:22px;display:block;float:left;padding:0 5px;color:#808080;}
.pagination a{display:block;float:left;height:20px;border:1px solid #9a9a9a;background:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.pagination a span{display:block;margin:1px;height:18px;color:#BFD8DF;font-size:11px;line-height:18px;padding:0 7px;cursor:pointer;background:url(/images/pagination.png) no-repeat -15px -100px;}
.pagination a:hover{text-decoration:none;border-color:#808080;}
.pagination a:hover span{background-position:-15px -125px;}
.pagination li.current a{height:26px;}
.pagination li.current a span{height:24px;line-height:24px;background:url(/images/pagination.png) no-repeat 0 -150px;padding:0 9px;font-weight:bold;}
.pagination li.current a:hover span{background-position:0 -150px;}
.pagination .newer{display:block;margin-top:1px;}
.pagination .newer span{background:url(/images/pagination.png) no-repeat 0 -100px;padding-left:20px;}
.pagination a.newer:hover span{background-position:0 -125px;}
.pagination .older{display:block;float:right;margin-top:1px;}
.pagination .older span{background:url(/images/pagination.png) no-repeat right -100px;padding-right:20px;}
.pagination a.older:hover span{background-position:right -125px;}
.pagination .gap{padding-top:0px;}


.pagination li{
	margin:1px 0px 1px 5px;
}
.pagination li.current{
margin:1px 0px 1px 5px;
height:25px;
}
.pagination a{
border:1px solid #BFD8DF;
background:transparent;
height:23px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.pagination a span{
background:transparent;
color:#BFD8DF;
line-height:22px;
}
.pagination li.current a{
	height:25px;
	background:#5592C9;
	border:none;
}
.pagination li.current a span{
display: block;
margin: 1px;
line-height: 24px;
background:none;
font-weight:normal;
color:#fff;
padding:0 8px;
height:25px;
}
.pagination{
background:none;
margin:0;
}
.pagination div{
background:none;
margin:0 0 0 10px;
padding:0 0 0 10px;
}
.pagination select{
border:1px solid #BFD8DF;
background:transparent;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
color:#BFD8DF;
height:25px;
}
.pagination a:hover{
border:1px solid #E6B1FF;
}
.pagination a:hover span{
color:#C88AEB;
}
.pagination select:hover{
border:1px solid #E6B1FF;
}
.pagination select:hover{
color:#C88AEB;
}
