h2{font-size:100%}
#login_panel .user-action-box{float:right;height:45px;font-size:14px;line-height:45px;}
#login_panel .user-action-box .user-login{float:left;color:#999;}
#login_panel .user-action-box .user-login a{margin:0 8px;vertical-align:top}
#login_panel .user-action-box .user-login a:hover{margin:0 8px;color:#f90;}
#login_panel .user-action{position:relative;float:left;}
#login_panel .user-action ul{display:none;clear:both;position:absolute;left:0;top:45px;padding:5px 0 12px;}
#login_panel .user-action li{overflow:hidden;width:100%;height:24px;line-height:24px;}
#login_panel .user-action li a{display:block;padding-left:11px;color:#ccc;white-space:nowrap;}
#login_panel .user-action li a:hover{color:#f90;}
#login_panel .user-action li.notice{margin:6px 0;_padding-top:9px;height:35px;_height:26px;line-height:35px;border:1px solid #858585;border-width:1px 0;}
#login_panel .user-action li.notice a{display:inline;margin-left:11px;padding-left:0;}
#login_panel .user-action li.notice b{display:inline-block;padding:0 2px;height:16px;line-height:16px;background:#f03e00;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#login_panel .user-mark{position:relative;float:left;}
#login_panel .user-mark .content{display:none;position:absolute;right:0;top:45px;min-width:240px;}
#login_panel .user-mark .content ul{*zoom:1;padding:9px 10px;float:left;min-width:220px;}
#login_panel .user-mark .content li{height:26px;line-height:26px;white-space:nowrap;float:none}
#login_panel .user-mark .content li div{overflow:hidden;color:#ccc;}
#login_panel .user-mark .content li span{margin-left:4px;float:none;}
#login_panel .user-mark .content li span.time{color:#999;}
#login_panel .user-mark .content li a{color:#fc0;float:none;font-size:14px;}
#login_panel .user-mark .content li a:hover{color:#f90;}
#login_panel .user-mark .content li a.btn-close{position:relative;display:inline-block;top:3px;margin-top:4px;width:14px;height:14px;background:url(/images/icons.png) 0 -193px;margin-left:10px;}
#login_panel .user-mark .content li a.btn-close:hover{background-position:0 -207px;}
#login_panel .user-mark .content li.hover a.btn-close{display:block;}
#login_panel .user-mark .content .ft{clear:both;height:31px;-webkit-box-shadow:1px 1px 1px #777;-moz-box-shadow:1px 1px 1px #777;box-shadow:1px 1px 1px #777;}
#login_panel .user-mark .content .ft a{float:none;display:block;height:31px;line-height:31px;text-align:center;background:#767676;color:#ccc;font-size:14px;}
#login_panel .user-mark .content .ft a:hover{text-decoration:none;background:#949494;}
#login_panel .user-mark .content .ft a b{font-weight:normal;color:#fc0;}
#login_panel .user-action-box .title{float:left;height:45px;padding:0 0 0 0px;color:#666;}
#login_panel .user-action-box .title span{padding-right:20px;background:url(/images/icons.png) no-repeat right -227px;float:left}
#login_panel .user-action-box .title img{float:left;margin:12px 10px 0 0;width:19px;height:19px;}


#login_panel .user-action-hover .title{color:#fff;}
#login_panel .user-action-hover .title a{color:#fff;}
#login_panel .user-action-hover .title span{background:url(/images/icons.png) no-repeat right -273px}
#login_panel .user-action-hover ul{display:block;background:#666;-webkit-box-shadow:1px 1px 1px #777;-moz-box-shadow:1px 1px 1px #777;box-shadow:1px 1px 1px #777;}
#login_panel .user-action-hover .content{display:block;}
#header #login_panel .user-action-box{position:relative;z-index:31000;height:30px;line-height:30px;}
#header #login_panel .user-action-box a:hover{text-decoration:none;}
#header #login_panel .user-action-box .title{height:30px;}
#header #login_panel .user-action-box .user-action ul{top:30px;}
#header #login_panel .user-action-box .content{top:30px;}
#header #login_panel .user-action-box .title img{margin-top:6px;}

/*login panel*/
.transparent_bg{
	height:100%;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	background-color:#333;
	filter: alpha(opacity=20);
	opacity:0.2;
}
.panelcontent_wrapper{
	padding: 10px;
	position: relative;
}
.gact {
color: #bbb;
font-size: 12px;
text-align: center;
cursor: pointer;
}
input[type!="text"]{cursor:pointer}
.indentpop1{font-family:verdana,sans-serif;font-size:14px;}
.advtags img{background:#fff}
.sep_h5{height:5px;overflow:hidden;width:1px;clear:both}
.sep_h30{height:30px;overflow:hidden;width:1px;clear:both}
.sep_h10{height:10px;overflow:hidden;width:1px;clear:both}
.sep_h15{height:15px;overflow:hidden;width:1px;clear:both}
.sep_h20{height:20px;overflow:hidden;width:1px;clear:both}
.indentpop1 #pop_win_close{color:#000;font-size:20px;position:relative;top:-5px;}
.popup-alert a {
color: #4CCCA9;
}
.indentpop1 .private label{position:relative;top:-7px;color:#BDBDBD;font-size:12px;}
.indentpop1 input[type='text']{
padding: 5px 5px;
border: 1px solid #EAEAEA;
-moz-border-radius: 2px;
-khtml-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.indentpop1 .comment{width:582px;height:50px;resize:none;padding: 5px 5px;
border: 1px solid #EAEAEA;
-moz-border-radius: 2px;
-khtml-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;overflow-x:hidden;}
.indentpop1 .num{margin-right:5px}
.interest_form {padding:20px 25px;}
.indentpop1 font{font-size:12px;color:#BDBDBD}
.interest-form-hd{padding:20px 25px;font-size:16px;clear:both;background:#E0EAF3;overflow:hidden}
.interest-form-hd2{padding:0px 25px 0 0px;font-size:14px;clear:both;background:#fff;overflow:hidden;border-bottom:1px solid #D9E2E9;vertical-align:middle;line-height:40px;}
.interest-form-hd2 .tab{padding:0px 25px;border-right:1px solid #D9E2E9;height:100%;float:left;cursor:pointer;color:#bdbdbd}
.interest-form-hd2 .tab.selected{background:#4e5669;color:#fff}
.interest-form-hd2 span{float:right;height:100%}
.interest-form-hd h2{margin:0;}
.interest-form-hd .gact a:link,.interest-form-hd .gact a:hover{line-height:1.2;padding:0 3px}
.interest-form-ft{padding:10px 25px;clear:both;background:#e9eef2;border-top:1px solid #d9e2e9;overflow:hidden;}
.interest-form-ft label{line-height:1.6}
.interest-form-ft .shuo{float:left}
.interest-form-ft .bn-flat{float:right}
.interest-form-ft .bn-flat input{font-size:14px;padding:5px 10px;height:30px;line-height:10px;}
.tags_mod{padding:2px 0px 0;min-height:22px;_height:22px;border-image:initial;margin-top:5px}
.tags_mod .tags_editor{position:relative;z-index:2;min-height:10px;_height:10px;cursor:text;}
.tags-list font{background:#585B6C;margin-right:10px;padding:2px 5px;position:relative;top:2px;	}
.item{display:inline-block;background-color:#e0eaf3;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;padding:5px 9px 5px;height:14px;line-height:14px;margin:0 5px 5px 0;}
.item .tag{color:#4079b7;}
.item a{color:#85a9d0;font-size:12px;}
.item a:hover{color:#fff;}
.item:hover{background-color:#54B3DF;}
.item:hover .tag,.item:hover a{color:#fff;}
input.tag{width:200px;height:20px;color:#000;border-image:initial;position:relative;padding:4px 5px;border:1px solid #EAEAEA;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.tags_mod .tags_tips{position:relative;padding:5px;display:none;left:-6px;border-image:initial;margin-top:15px;}
.tags_mod .tags_tips .tags_list a:hover, .tags_mod .tags_tips .tags_list a.cur,
.tags_mod .tags_tips .my_tags_list a:hover, .tags_mod .tags_tips .my_tags_list a.cur{background:#54b3df;color:white;}
.tags_mod .tags_tips .tags_list a,
.tags_mod .tags_tips .my_tags_list a{display:inline-block;white-space:nowrap;background:#E0EAF3;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:5px 9px;height:14px;line-height:14px;margin:0 5px 5px 0;color:#4079b7;}
.tags_mod .tags_tips .title{margin-bottom:4px;}
.tags_mod .tags_tips .close{float:right;}
.gract{color:#060;text-decoration:none;font-size:12px;text-align:center;border-right:1px solid #afa;border-bottom:1px solid #afa;background-color:#efe;padding:3px 3px 2px 3px;margin-top:2px;cursor:pointer;white-space:nowrap}
.gract:hover{color:#fff;font-size:12px;border-right:1px solid #3f3;border-bottom:1px solid #3f3;background-color:#5f5;padding:3px 3px 2px 3px;margin-top:2px}
.gract a:link{text-decoration:none;color:#060;font-size:12px;text-align:center;padding:3px 3px 2px 3px;margin-top:2px}
.gract a:visited{text-decoration:none;color:#060;font-size:12px;text-align:center;padding:3px 3px 2px 3px;margin-top:2px}
.gract a:hover{color:#060;font-size:12px;border-left:1px solid #9f9;border-top:1px solid #9f9;border-right:1px solid #3f3;border-bottom:1px solid #3f3;background-color:#5f5;padding:3px 3px 2px 3px;margin-top:2px}
.ll{float:left}
.rr{float:right}
.trr{text-align:right}
.interest-status{
	position:relative;
	top:-3px;
}
.interest-status input{
	position:relative;
	top:7px;
}
#registerform #submit{cursor:pointer}
.register_panel{clear: both;
margin: 13px auto 0;
width: 700px;
border: 1px solid #6E727D;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
background: white;
color:#474D5D;	
}
.indentpop2{
	width:auto;
}
.indentpop2 h2{
	font-size:20px;
}
.indentpop2 .register_panel{
	width:450px;
	border:none;
	margin:0;
	padding-top:0;
}
.register_panel input[type='text'],.register_panel input[type='password']{border:none;width:270px;height:62px;padding:0 20px;font-size:20px;line-height:20px;color:#A5A8AD}

.login_input{margin-top:12px;width:375px;height:62px;border:1px solid #E9E9E9;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.register_input{margin-top:33px;width:375px;height:62px;border:1px solid #E9E9E9;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.form_ok{color:green;font-weight:bold;}
.form_error{color:#EE5545;font-weight:bold;}
#error_hint{width:100%;text-align:center;color:#EE5545;margin-top:12px;font-weight:bold;}
.form_error a{color:#4CCCAB;font-weight:bold;text-decoration:underline;}
.register_panel .tipsError{color:#EE5545}
.s_col3{clear:both;text-align:center;line-height:33px;display:none}
.input_icon{width:64px;background:#DCDDDF;height:100%;float:left;border-right:1px solid #EBEBEB}
.icon_email{background:url(/images/home/email.png) 19px 21px no-repeat #DCDDDF}
.icon_pw{background:url(/images/home/lock.png) 23px 18px no-repeat #DCDDDF}
.icon_name{background:url(/images/home/user.png) 21px 18px no-repeat #DCDDDF}
.register_focus_input{border-color:#00C7DE}
.register_focus_input .input_icon{background-color:#00C7DE;border-color:#69DFED;}
#exposeMask{position: absolute; top: 0px; left: 0px; display: none; opacity: 0.5; z-index: 9998; background-color: rgb(0, 0, 0);}
.forget_pw{color:#00C7DE}
.popup-box{width:250px;background:#feffff;text-align:center}
.confirm_no{margin-left:30px}
.popup_div_centent{word-wrap:break-word;word-break:break-word;padding:0 30px;}
.popup_div_centent a:link{color:#4CCCA9}
input.register-submit-btn{
line-height:60px;clear:both;margin-top:20px;width:377px;height:62px;border:1px solid #E9E9E9;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#474D5D;color:white;font-size:20px;font-weight:bold;
}
input.register-submit-btn:hover{
	color:#4CCCA9;
}
.flag{
	position:relative;
	top:1px;
	margin-right:5px;
	display:inline-block;
}
a.author{color:#FEFD7F;}
.notice-header{margin-left:15px;background:url(/images/home/notification.png) no-repeat 0 7px;display:inline-block;width:16px;height:30px;position:relative;float:left;}
.notice-header:hover{background-image:url(/images/home/notification-hover.png)}
.mail-header{margin-left:10px;background:url(/images/mail.png) no-repeat 0 7px;display:inline-block;width:16px;height:30px;position:relative;float:left;}
.notice-header:active{background-image:url(/images/home/notification-selected.png)}
#login_panel .mail-header font,#login_panel .notice-header font{position:absolute;top:-6px;right:-10px;width:16px;height:16px;overflow:hidden;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;color:#FF828A;line-height:16px;text-align:center;}
.history-btn{background:url(/images/home/history.png) no-repeat 0 7px;width:16px;display:inline-block;height:30px;}
.transform:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-moz-transition: -moz-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
}
.history-btn:hover{background-image:url(/images/home/history-hover.png)}
.history-btn:active{background-image:url(/images/home/history-selected.png)}
#login_panel .notification-wrapper{width:100%;float:left;padding:7px 0;line-height:20px;min-width:300px;}
#login_panel .notification-wrapper a{line-height:20px;float:none;font-size:14px;}
#login_panel .notification-wrapper.newmessage{border-color:#fff;color:#fff;font-weight:bold;}
#login_panel .notification-wrapper .notice-message{width:auto;color:#ececec}
#login_panel .notification-wrapper .summary-hidden{display:none}
#login_panel .notification-wrapper .summary-show{display:inline-block}
#login_panel .notice-date{display:none}

.notification-wrapper .notice-message{width:500px;}
.notification-wrapper .notice-date{color:#999}
.notification-wrapper .summary-show{display:none}
.notification-wrapper .summary-hidden{display:inline-block}
.notification-wrapper{border-bottom:1px dashed #bdbdbd;width:620px;float:left;padding:10px 0;word-break:break-word;word-wrap:break-word;}
.notification-wrapper a{color:#4CCCA9;}
.notification-wrapper.newmessage{border-color:#fff;color:#fff;font-weight:bold;}

.total_feedback_window {
position: fixed;
left: -320px;
width: 300px;
z-index: 10000;
background-color: #23232D;
border:1px solid #BEC5D7;
-moz-border-radius:  0 0 2px 0;
-webkit-border-radius: 0 0 2px 0;
border-radius: 0 0 2px 0;
color: #ececec;
padding: 2px 10px;
min-height: 0;
margin-top:-200px;
top:50%;
font-family:helvetica;
line-height:20px;
}
.total_feedback_window input{
	vertical-align:middle;
	height:auto;
}
.total_feedback_window textarea{
width: 253px;
height: 39px;
resize: none;
margin:5px 0 0 16px;
padding: 5px 5px;
border: 1px solid #EAEAEA;
-moz-border-radius: 2px;
-khtml-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
overflow: hidden;
}
.total_feedback_window .total-minimize {
position: absolute;
right: -23px;
top: -1px;
background:url(/images/report.png) no-repeat 2px 6px;
background-color: #23232D;
border:1px solid #BEC5D7;
border-left:none;
width: 22px;
height:30px;
-webkit-border-radius: 0px 2px 2px 0;
-moz-border-radius: 0px 2px 2px 0;
border-radius: 0px 2px 2px 0;
cursor: pointer;
text-align: center;
}
.total_feedback_window .title {
line-height: 18px;
font-size: 13px;
display: block;
text-align: center;
margin: 5px 5px 8px;
font-weight: bold;
padding: 4px 0px;
float:left;
color:#FEFD7F;
}
.total_feedback_window ul li{
padding: 10px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin: 0 0 3px;
background-color: #363845;
text-align: left;
clear:both;
}
a.report-btn{
width:90px;color:white;background:#4CCCA9;border:none;float:right;text-align:center;line-height:28px;margin:5px 0 5px 0;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
text-decoration:none;
}
.report_finish{
color: #5DE5B5;
float: right;
line-height: 36px;
font-size: 15px;
}
a.report-btn:hover{
background:#5DE5B5
}