.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: 0;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  margin-bottom: 10px;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-page-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #b9b9b9;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1305px) {
  .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
  }
}

.ns-countdown {
  position: relative;
  box-sizing: border-box;
}

.ns-countdown .ns-header .loading:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  display: inline-block;
  background-size: 40px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://static1.netshoes.net/resources/ns-countdown/loading_spinner.gif");
}

.ns-countdown .ns-header {
  position: relative;
  padding: 10px;
}

.ns-countdown .ns-header::after {
  clear: both;
  content: "";
  display: table;
}

.ns-countdown .ns-header .box-title {
  float: left;
  width: 45%;
}

.ns-countdown .ns-header .title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.ns-countdown .ns-header .subtitle {
  margin: 0;
  padding: 0;
  color: #686868;
  font-size: 14px;
  font-weight: bold;
}

.ns-countdown .ns-header .mod-countdown {
  width: 55%;
  float: right;
  text-align: center;
}

.ns-countdown .ns-header .mod-countdown::after {
  clear: both;
  content: "";
  display: table;
}

.ns-countdown .ns-header .vanilla-countdown-numbers,
.ns-countdown .ns-header .vanilla-countdown-texts {
  display: block;
  vertical-align: top;
}

.ns-countdown .ns-header .vanilla-countdown-numbers span,
.ns-countdown .ns-header .vanilla-countdown-texts span {
  float: left;
  vertical-align: top;
  width: 31.33%;
}

.ns-countdown .ns-header .vanilla-countdown-numbers .dot {
  width: 1%;
}

.ns-countdown .ns-header .vanilla-countdown-numbers .dot:before {
  content: ":";
  vertical-align: top;
}

.ns-countdown .ns-header .vanilla-countdown-texts {
  display: block;
  text-transform: uppercase;
}

.ns-countdown .product-suggestion h6 {
  margin: 0;
  padding: 0;
}

.ns-countdown .list-item {
  width: 100%;
  display: block;
}

.ns-countdown .product-list-suggestion {
  padding: 10px;
}

.ns-countdown .product-list-suggestion::after {
  clear: both;
  content: "";
  display: table;
}

.ns-countdown .box-image,
.ns-countdown .box-content {
  width: 50%;
  float: left;
}

.ns-countdown .box-image {
  height: 160px;
  text-align: center;
}

.ns-countdown .box-image img {
  display: block;
  margin: 0 auto;
}

.ns-countdown .box-content {
  box-sizing: border-box;
}

.ns-countdown .box-price {
  height: 43px;
  padding: 5px 0 40px 0;
}

.ns-countdown .box-price .old-price,
.ns-countdown .box-price .price {
  display: block;
}

.ns-countdown .box-price .old-price {
  text-decoration: line-through;
}

.ns-countdown .button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.ns-countdown .button:before {
  position: absolute;
  right: 18px;
  top: 50%;
  content: "";
  display: inline-block;
  width: 5px;
  height: 10px;
  margin-top: -4px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1305px) and (min-width: 768px) {
  .ns-countdown .ns-header {
    padding: 10px;
  }
  .ns-countdown .ns-header .vanilla-countdown-numbers {
    vertical-align: top;
  }
  .ns-countdown .ns-header .vanilla-countdown-texts {
    vertical-align: top;
  }
  .ns-countdown .product-list-suggestion {
    padding: 0;
  }
  .ns-countdown .box-image {
    width: 40%;
    height: 102px;
  }
  .ns-countdown .box-image img {
    width: 100%;
  }
  .ns-countdown .box-content {
    width: 60%;
    padding: 0 0 0 10px;
  }
  .ns-countdown .box-price {
    height: 32px;
    padding: 6px 0;
  }
  .ncard-box {
    display: none !important;
  }
}

.box-countdown.mobile {
  width: 100%;
  padding: 2%;
  height: auto;
}

.box-countdown.mobile .ns-countdown .ns-header:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: rotate(135deg);
  margin-left: -10px;
}

.box-countdown.mobile .ns-countdown .product-list-suggestion {
  margin-bottom: 0;
}

.box-countdown.mobile .ns-countdown .box-image {
  padding: 10px;
  box-sizing: border-box;
}

.box-countdown.mobile .ns-countdown .box-image img {
  width: 100%;
}

.box-countdown.mobile .ns-countdown .box-content {
  margin-top: 10px;
}

.box-countdown.mobile .ns-countdown .box-price {
  padding: 5px 0 40px 0;
}

.floater-campaign {
  bottom: 0;
  right: 200px;
  width: 365px;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.floater-campaign.hide {
  bottom: -500px;
}

.floater-campaign.fallback {
  bottom: -264px;
}

.floater-campaign.minimize {
  bottom: -202px;
}

.floater-campaign.minimize .toggle-floater {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  border-left: none !important;
  border-right: 1px solid #323232;
}

.floater-campaign .header-floater-campaign {
  position: relative;
  background-color: #000;
}

.floater-campaign .header-floater-campaign:after {
  clear: both;
  content: "";
  display: table;
}

.floater-campaign .header-floater-campaign .box-image {
  float: left;
  margin-top: 14px;
  padding: 0 10px;
}

.floater-campaign .header-floater-campaign .box-button {
  float: right;
}

.floater-campaign .header-floater-campaign .box-button:after {
  clear: both;
  content: "";
  display: table;
}

.floater-campaign .header-floater-campaign .toggle-floater,
.floater-campaign .header-floater-campaign .hide-floater {
  float: left;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #323232;
}

.floater-campaign .header-floater-campaign .toggle-floater {
  background-image: url("http://origin.static1.netshoes.net/resources/ns-countdown/icon-seta-recolher.svg");
}

.floater-campaign .header-floater-campaign .hide-floater {
  background-image: url("http://origin.static1.netshoes.net/resources/ns-countdown/icon-fechar.svg");
}

.floater-campaign .floater-campaign,
.floater-campaign .product-list-suggestion {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1305px) {
  .floater-campaign .ns-countdown .ns-header {
    padding: 10px;
  }
  .floater-campaign.minimize {
    bottom: -145px;
  }
  .floater-campaign .box-countdown {
    width: 365px;
  }
}

.flickity-page-dots .dot.is-selected {
  background-color: #02b3e0;
}

.ns-countdown {
  font-family: "Trebuchet ms", Arial, sans-serif;
}

.ns-countdown .ns-header {
  background-color: #F3F3F3;
}

.ns-countdown .ns-header .title {
  color: #363636;
  font-family: "netshoes_displaybold";
}

.ns-countdown .ns-header .subtitle {
  color: #8c8c8c;
  font-size: 14px;
}

.ns-countdown .ns-header .mod-countdown {
  width: 55%;
  float: right;
  text-align: center;
}

.ns-countdown .ns-header .vanilla-countdown-numbers {
  color: #363636;
  font-size: 22px;
  font-family: "netshoes_displaybold";
}

.ns-countdown .ns-header .vanilla-countdown-numbers .dot:before {
  color: #a5a5a5;
}

.ns-countdown .ns-header .vanilla-countdown-texts {
  color: #a5a5a5;
  font-size: 10px;
}

.ns-countdown .product-suggestion {
  background-color: #FFF;
}

.ns-countdown .product-suggestion h6 {
  font-weight: 700;
  font-family: "Trebuchet ms", Arial, sans-serif;
}

.ns-countdown h6 {
  font-family: TrebuchetMS;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  color: #262626;
}

.ns-countdown .box-price {
  margin-bottom: 10px;
}

.ns-countdown .box-price .old-price {
  color: #8c8c8c;
  font-size: 14px;
}

.ns-countdown .box-price .price {
  color: #02b3e0;
  font-size: 22px;
  font-family: "netshoes_displaybold";
}

.ns-countdown .box-price .price strong {
  font-size: 24px;
}

.ns-countdown .button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 900;
  background-color: #F47430 !important;
  padding: 8px 30px 8px 14px;
  font-family: "netshoes_displaybold";
}

.ns-countdown .button:before {
  background-image: url("http://static1.netshoes.net/resources/ns-countdown/icon-seta-branca.svg");
}

@media screen and (max-width: 1305px) {
  .ns-countdown .ns-header .title {
    font-size: 14px;
  }
  .ns-countdown .ns-header .subtitle {
    font-size: 11px;
  }
  .ns-countdown .ns-header .vanilla-countdown-numbers {
    font-size: 16px;
  }
  .ns-countdown .ns-header .vanilla-countdown-texts {
    font-size: 9px;
  }
  .ns-countdown .product-list-suggestion {
    padding: 10px;
  }
  .ns-countdown .product-list-suggestion h6 {
    font-size: 12px;
    font-weight: 700;
    font-family: "Trebuchet ms", Arial, sans-serif;
  }
  .ns-countdown .box-price {
    height: 26px;
  }
  .ns-countdown .box-price .old-price {
    font-size: 11px;
  }
  .ns-countdown .box-price .price {
    font-size: 15px;
  }
  .ns-countdown .button {
    font-size: 12px;
    padding: 4px 30px 4px 14px;
  }
}

.ncard-box {
  height: 30px;
  font-family: "Trebuchet ms", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #7f7f7f;
  margin-bottom: 10px;
  display: block;
  padding: 4px 0;
}

.ncard-box::after {
  clear: both;
  content: "";
  display: table;
}

.ncard-box img {
  width: 36px;
  height: 23px;
  float: left;
  margin-right: 10px;
}

.ncard-box span {
  display: block;
  font-size: 11px;
  padding: 6px;
}

@media screen and (max-width: 320px) {
  .ncard-box span {
    padding: 0;
  }
}

@media screen and (min-width: 390px) {
  .box-countdown.mobile .ns-countdown .box-image img {
    width: inherit !important;
  }
}

.box-countdown.mobile {
  background-color: #f3f3f3;
}

.box-countdown.mobile .ns-countdown .ns-header {
  background-color: #f3f3f3;
  padding: 5px;
}

.box-countdown.mobile .ns-countdown .ns-header:before {
  background-color: #f3f3f3;
}

.box-countdown.mobile .ns-countdown .ns-header .title {
  color: #050505;
  font-size: 15px;
}

.box-countdown.mobile .ns-countdown .ns-header .subtitle {
  color: #5e4804;
  font-size: 14px;
}

.box-countdown.mobile .ns-countdown .ns-header .vanilla-countdown-numbers {
  font-size: 20px;
}

.box-countdown.mobile .ns-countdown .ns-header .vanilla-countdown-texts {
  font-size: 10px;
}

.box-countdown.mobile .ns-countdown .vanilla-countdown-numbers {
  color: #363636;
}

.box-countdown.mobile .ns-countdown .vanilla-countdown-numbers .dot:before {
  color: #363636;
}

.box-countdown.mobile .ns-countdown .vanilla-countdown-texts {
  color: #5e4804;
}

.box-countdown.mobile .ncard-box {
  padding: 8px 0;
  font-size: 11px;
}

.box-countdown {
  width: 365px;
  height: 279px;
  overflow: hidden;
  position: relative;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #fff;
}

.box-countdown.loading:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  display: inline-block;
  background-size: 40px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://static1.netshoes.net/resources/ns-countdown/loading_spinner.gif");
}

@media screen and (max-width: 1305px) {
  .box-countdown {
    width: 258px;
    height: 197px;
  }
}
