@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/l/font?kit=UyYrYy3ltEffJV9QueSi4WmBBWgH3L9XUW5G_Ivwxwy9xeSCsvFz2Xrhn_bFFPDsZd9v5n0yLo6cRiSuMKW4bPoaPo7dPrSH1dex8Vu8V3MD24vHtYoKFV_Zb87rmnrviMUhWX8dhwsqTAaDm84PaQ&skey=4fa1436033972818&v=v7) format('truetype');
}
