body
{
	background: #38407A;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0 auto;
	padding: 0px;
	max-width:1200px;
	align:center;
	scrollbar-base-color:#38407a;
}
a:link, body_alink
{
	color: #222;
}
a:visited, body_avisited
{
	color: #222;
}
.page
{
	background: transparent;
	color: #000000;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	color: #000000;
	/*border: 1px solid #0B198C;*/
}
.tcat
{
	background: #283057;
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #283057;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #283057;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #F5F5FF;
	color: #222222;
}
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink
{
	text-decoration: underline;
}
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited
{
	text-decoration: underline;
}
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover
{
	text-decoration: underline;
}
.alt2, .alt2Active
{
	background: #DFDFDF;
	color: #222222;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #22229C;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #22229C;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #FF4400;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 10px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.highlight
{
	color: red;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #E4E7F5 url(https://static.gearslutz.com/board/images/gradients/gradient_panel.gif) repeat-x top left;
	color: #000000;
	padding: 10px;
	border: 1px outset;
}
.panelsurround
{
	background: #D1D4E0 url(https://static.gearslutz.com/board/images/gradients/gradient_panelsurround.gif) repeat-x top left;
	color: #000000;
}
legend
{
	background: #283057;
	color: #FFFFFF;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #283057;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_searchhits
{
	display: block;
	float: right;
	font-size: 10px;
	padding-left: 2em;
}

.vbmenu_searchkeys
{
	display: block;
	float: left;
	font-size: 11px;
}
/* Stuff removed from additional Main CSS */
form { margin: 0;display:inline; }

.prefix, .prefix a:link, .prefix a:visited, .prefix a:hover, .prefix a:active
{
text-decoration:none;
cursor:pointer;
}

.catNameBit
{
padding: 2px 5px;
text-shadow: #000 1px 1px 1px;
font-weight: bold;
font-size:10px;
color: #fff!important;
text-decoration: none;
background: #262253 url(../../images/transTile.png) repeat-x;
border-radius:2px;
-moz-border-radius:2px;
}
.catNameBit a:link, .catNameBit a:visited
{color:#fff;text-decoration:none;}
.catNameBit a:hover
{color:#FFFF00;text-decoration:none;}

.miscButton
{color:#fff!important;text-decoration:none;
font-weight: bold;
font-size:12px;
text-decoration: none!important;
background: #262253 url(../../images/transTile.png) repeat-x;
border-radius:2px;
-moz-border-radius:2px;
cursor:pointer;
border-bottom-color: 
#262253;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: 
#262253;
border-left-style: solid;
border-left-width: 1px;
border-right-color: 
#262253;
border-right-style: solid;
border-right-width: 1px;
border-top-color: 
#262253;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 7px 0px inset, rgb(25,25,25) 0px 1px 0px 0px;
color: 
rgb(255, 255, 255);
}

.miscButton:hover
{background: #030014 url(../../images/transTile.png) repeat-x;text-decoration:none;cursor:pointer;}

.forumSideBit
{vertical-align:top;padding-left:9px;display:block;width:250px}

.completedListing
{
    background:#eee;
color:#888;
}
.completedListing a:link, .completedListing a:visited
{color:#888;}

#ebayAdSkyScraper
{clear:both;}

.ratingImage:hover
{box-shadow: 0 8px 6px -6px black;cursor:pointer;}
.ratingArrowUp
{display:inline-block;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbup.gif)no-repeat;vertical-align:middle;cursor:pointer;}
.ratingArrowUp:hover
{display:inline-block;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbup_hover.gif)no-repeat;vertical-align:middle;cursor:pointer;}
.ratingArrowUpHover
{display:inline-block;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbup_hover.gif)no-repeat;vertical-align:middle;cursor:pointer;}
.ratingArrowDown
{display:table-cell;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbdown.gif?forcecache)no-repeat;cursor:pointer;}
.ratingArrowDown:hover
{display:table-cell;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbdown_hover.gif?forcecache)no-repeat;cursor:pointer;}
.ratingArrowDownHover
{display:table-cell;width:16px;height:16px;background:url(https://static.gearslutz.com/board/images/rating/thumbdown_hover.gif?forcecache)no-repeat;cursor:pointer;}
.postRatingContainer
{height:20px;display:table-row;}

/*Further - stuff removed */
/* ######## */

.begin_include_contextual
{display:none;}
.end_include_contextual
{display:none;}

html .cell {display:inline
height:100%;}
/*Classifieds Bits*/
.classifiedsPrice
{display:inline;float:right;font-weight:bold;color:#00cc00;padding-left:5px;}
.classifiedsFlag
{float:right;}
.classifiedsDescription
{float:left;}

.largeReplyBit
{color:#fff;text-decoration:none;font-size:10pt;padding-right:10px;}

a.largeReplyLink:link, .largeReplyBit a:link, .largeReplyBit a:visited
{color:#fff;font-weight:bold; text-decoration:none;}

a.largeReplyLink:hover
{color:#FFF;}

.post_infraction {background-color: #FFCCFF;}

.postReportBit
{
height:auto;
color:#fff;
border:0px;
background: url(../../images/transTile.png) repeat-x;
border-radius:3px; 
-moz-border-radius:3px;
display:inline-block;
}

.ebayTagBlob
{font-size:10px;position:absolute;top:3px;right:0;padding:3px;width:150px;background:#99ccff;border-radius:3px;border:1px solid;margin-right:5px;}

.ebayAdBannerLeft
{
display:table-cell;
width:90px;
cursor:pointer;
background:#fff url(/board/images/m/rightNowOnEbay.gif) no-repeat center;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.ebayAdBannerRight
{
display:table-cell;width:10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.julesNotify
{
float:right;background:#000;color:#eee;padding:2px;border-radius:2px;font-size:10px;
}
.julesNotify a:link, .julesNotify a:visited
{color:#fff;}

.header1
{background:#fff; margin:3px 0px 3px 0px;  width:70px; padding:4px 3px; text-align:center; font-size:11pt; font-weight:bold; border-radius:3px; -moz-border-radius:3px; color:#FFF;}

.header1 a:link, .header1 a:visited, .header1 a:hover
{text-decoration:none;}

.header2
{background:#39367b url(../../images/transTile.png) repeat-x; margin:3px 0px 3px 0px;  width:70px; font-size:12px; padding:4px 3px; text-align:center; font-weight:bold; border-radius:3px; -moz-border-radius:3px; color:#FFF;}

.notifyBox
{
float:right;
background:#FACC2E;border:1px solid;border-radius:3px;
padding:12px;
font-size:10pt;
width:300px;
color:#333;
}
.prefixDropdown
{float:right;vertical-align:baseline;}
.topItemsTable
{width:100%;padding-bottom:15px;}

.widgetListItem
{font-size:9pt;list-style:none;padding:8px;}