@charset "utf-8";
/* Reset TextResize Setting
============================================*/
.smallText #header,
.smallText .wrapper,
.smallText #footer,
.smallText #breadcrumbTop,
.smallText #breadcrumbBtm,
.smallText #emergencyArea,
.mediumText #header,
.mediumText .wrapper,
.mediumText #footer,
.mediumText #breadcrumbTop,
.mediumText #breadcrumbBtm,
.mediumText #emergencyArea,
.largeText #header,
.largeText .wrapper,
.largeText #footer,
.largeText #breadcrumbTop,
.largeText #breadcrumbBtm,
.largeText #emergencyArea {
	font-size: 1.0em;
}

/* header */
#header {
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	margin-bottom:1em;
}
#header .inner #navExtra #utilNav,
#header .inner #navExtra .bottom,
#header #navMain {
	display: none;
}
.en #header .inner{
 position: relative;
 height: 50px;
}
.en #header .logo-en,
.en #header .logo{
 position: absolute;
 top: 10px;
 left: 0px;
}
.en #header #navExtra{
 display: none;
}
.en #header #groupLogo{
 position: absolute;
 top: 0px;
 right: 5px;
}

/* contents */
.wrapper #subCol {
	display: none;
}
.wrapper.newWin #mainCol ,
.wrapper.top #mainCol ,
.wrapper #mainCol {
	float:none;
	margin:0 auto;
}

#breadcrumbTop li.active {
	font-weight:bold;
}

/* footer */
#footer {
	margin-top: 2em;
	background: none;
	padding-top: 1em;
}
#footer #legal,
#footer #groupCorp,
#footer #social,
#footer #plugin {
	display: none;
}
#footer #copyright {
	color: #333;
	margin-top: 0;
	padding-top: 0;
}
#footerExtra .pgtp{
 display:none;
}

/* Responsive */
#header #spBtnMenu,
#footer .bankCode,
#footer #spFooterNav,
#rwd_nav {
	display: none;
}

/* IE6 Hack*/
* html body {
	zoom:60%;
}
* html .wrapper.newWin,
* html .wrapper.top,
* html .wrapper {
	text-align:center;
}
* html .wrapper.newWin #mainCol ,
* html .wrapper.top #mainCol ,
* html .wrapper #mainCol {
	text-align:left;
}


/* IE7 Hack */



/* IE8 Hack */



/* Firefox Hack */



/* Safari Hack */

