@charset "UTF-8";

.wrapper #mainCol ul li {
 font-size: 1em;
 line-height: 1.7;
 margin-top: 0px;
}

/*carousel1*/
#carousel1 {
	position: relative;
	margin: 0 0 10px !important;
 padding: 0px;
	width: 100%;
}
#carousel1 * {
 margin: 0px;
 padding: 0px;
}
#carousel1 .carousel-wrapper {
 position: relative;
	width: 100%;
	overflow: hidden;
 background: #e6e6e6;
 padding: 10px 0px;
}
#carousel1 .carousel-contents{
 position: relative;
 left: 0px;
}
#carousel1 .carousel-contents ul{
 position: absolute;
}
#carousel1 .carousel-contents ul li {
	border: none;
	display: block;
	float: left;
 text-align: center;
}
#carousel1 .carousel-contents li img {
 border: 0px;
}
#carousel1 .carousel-prev,
#carousel1 .carousel-next {
	position: absolute;
	top: 0;
	background: center center no-repeat;
	width: 5%;
}
#carousel1 .carousel-prev:hover,
#carousel1 .carousel-next:hover {
 opacity: 0.4;
}
#carousel1 .carousel-prev {
	background-image: url( ../images/index/slide2_left.png );
 width: 40px;
 height: 40px;
 z-index: 2;
}
#carousel1 .carousel-next {
	background-image: url( ../images/index/slide2_right.png );
	right: 0px;
 width: 40px;
 height: 40px;
 z-index: 2;
}
#carousel1 .carousel-pager {
	text-align:center;
	padding:10px;
}
#carousel1 .carousel-pager a {
	background: #ddd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
#carousel1 .carousel-pager a:hover {

}
#carousel1 .carousel-pager a span {
	display: none;
}
#carousel1 .carousel-pager a.selected {
	background: #330066;
}

/*carousel2*/

.promotionArea {
 padding: 10px !important;
}
#carousel2 {
	position: relative;
	margin: 0;
 padding: 0px;
	width: 100%;
}
#carousel2 *{
 margin: 0px;
 padding: 0px;
}
#carousel2 .carousel-wrapper {
 position: relative;
	width: 100%;
	overflow: hidden;
}
#carousel2 .carousel-contents{
 position: relative;
 left: 0px;
}
#carousel2 .carousel-contents ul{
 position: absolute;
}
#carousel2 .carousel-contents ul li {
 text-align: center;
	border: none;
	display: block;
	float: left;
}
#carousel2 .carousel-contents li img {
	width: 100%;
	height: auto;
}
#carousel2 .carousel-prev,
#carousel2 .carousel-next {
	position: absolute;
	top: 0;
	background: center center no-repeat;
	width: 5%;
}
#carousel2 .carousel-prev:hover,
#carousel2 .carousel-next:hover {
	background-color: #ccc;
 background-color: rgba(100,100,100,0.3);
}
#carousel2 .carousel-prev {
	background-image: url( /bk-common/pc/images/index/slide3-left.png );
	left: 0;
}
#carousel2 .carousel-next {
	background-image: url( /bk-common/pc/images/index/slide3-right.png );
	right: 0;
}
#carousel2 .carousel-pager {
 display: none;
	text-align:center;
	padding:10px 0px;
}
#carousel2 .carousel-pager a {
	border: 2px solid #ccc;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 5px 0 0;
}
#carousel2 .carousel-pager a:hover {
	background:#eee ;
}
#carousel2 .carousel-pager a span {
	display: none;
}
#carousel2 .carousel-pager a.selected {
	background-color: #ccc;
}

@media screen and (max-width: 767px) {

 .carousel-prev {
  left: 0px;
 }
 .carousel-next {
  right: 0px;
 }
 .carousel-prev,
 .carousel-next {
  background-size: contain;
 }
 .carousel-prev,
 .carousel-next {
  background-size: contain;
 }
 #carousel1 .carousel-pager a {
  background: #ddd;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 8px;
 }

 #carousel2 .carousel-prev,
 #carousel2 .carousel-next {
  background-size: contain;
 }

}