/*
customVideoSlide
BK index ver 1.6
*/

#customVideoSlide{
 margin: 0px !important;
 padding: 0px;
 position: relative;
 width: 704px;
 overflow: hidden;
}
#customVideoSlide .thumAreaSp{
 display: none;
}
#customVideoSlide .slideArea,
#customVideoSlide .slideArea .thumArea *{
 margin: 0px;
 padding: 0px;
}
#customVideoSlide .slideArea{
 height: 200px;
 position: relative;
 overflow: hidden;
}
#customVideoSlide .slideArea .slide img{
 width: 100%;
 height: auto;
 display: none;
}
#customVideoSlide .slideArea .this img{
 display: block;
}
#customVideoSlide .slideArea .slide{
 top: 0px;
 left: 0px;
 position: absolute;
 z-index: 1;
 opacity: 0;
 background: #fff;
}
#customVideoSlide .slideArea .this{
 opacity:1;
 z-index: 2;
 display: block;
}
#customVideoSlide .thumArea{
 position: relative;
}
#customVideoSlide .carousel .leftBorder{
 display: block;
 content: "";
 border-left: solid 1px #ccc;
 position: absolute;
 left: 0px;
 z-index: 3;
}
#customVideoSlide .carousel .rightBorder{
 display: block;
 content: "";
 border-left: solid 1px #ccc;
 position: absolute;
 right: 0px;
 z-index: 3;
}
#customVideoSlide .carousel .thumAreaInner{
 position: absolute;
}
#customVideoSlide .thumAreaInner{
 display: table;
 table-layout: fixed;
 width: 704px;
 z-index: 3;
}
#customVideoSlide .thumArea .thum:first-child{
 border-left:solid 1px #ccc;
}
#customVideoSlide .thumArea .thum{
 cursor: pointer;
 display: table-cell;
 *float:left;
 vertical-align: middle;
 border-top:solid 1px #ccc;
 border-right:solid 1px #ccc;
 border-bottom:solid 2px #ccc;
 background: #fff;
 padding: 15px;
 *padding: 0px;
 line-height: 1.5em;
 box-sizing: border-box;
 font-size: 12px;
 font-weight: bold;
 color: #4d4d4d;
}
#customVideoSlide .thumArea .this{
 background: #cee5f3;
 position: relative;
}
#customVideoSlide .thumArea .this:after{
 position: absolute;
 content: "";
 display: block;
 top: -10px;
 left: 50%;
 margin-left: -5px;
 border-bottom: solid 10px #ccc;
 border-left: solid 10px transparent;
 border-right: solid 10px transparent;
 z-index: 2;
}
#customVideoSlide .thumArea .this:before{
 position: absolute;
 content: "";
 display: block;
 top: -9px;
 left: 50%;
 margin-left: -5px;
 border-bottom: solid 10px #cee5f3;
 border-left: solid 10px transparent;
 border-right: solid 10px transparent;
 z-index: 3;
}
#customVideoSlide .leftBtn{
 position: absolute;
 left: 0px;
 bottom: -10px;
 cursor: pointer;
}
#customVideoSlide .rightBtn{
 position: absolute;
 right: 0px;
 bottom: -10px;
 cursor: pointer;
}
#customVideoSlide .ctrBtn{
 position: relative;
 z-index: 3;
 padding: 10px;
 text-align: right;
 overflow: hidden;
 font-size: 14px;
 display: none;
}
#customVideoSlide .ctrBtn #circleTimer{
 display: inline-block;
 vertical-align: middle;
}
#customVideoSlide .ctrBtnView{
 display: block;
}
#customVideoSlide .ctrBtn .inner{
 cursor: pointer;
 display: inline-block;
 *display:inline;
 *zoom:1;
 min-width: 162px;
 text-align: left;
 *padding-left: 20px;
}
#customVideoSlide .startBtn .inner{
 background: url(/bk-common/bank/images/top/slide1_start.gif) no-repeat 11px 10px;
}
#customVideoSlide .stopBtn .inner{
 background: url(/bk-common/bank/images/top/slide1_stop.gif) no-repeat 10px 10px;
}

#customVideoSlide .ctrBtn .inner .circle_wrapper,
#customVideoSlide .ctrBtn .inner .start,
#customVideoSlide .ctrBtn .inner .stop{
 display: inline-block;
 *display: inline;
 *zoom:1;
 vertical-align: middle;
 *vertical-align: top;
}

/*@media screen and (max-width: 767px) {
 #customVideoSlide{
  width: 100%;
 }
 #customVideoSlide .thumArea{
  display: none;
 }
 #customVideoSlide .thumAreaSp{
  display: block;
  text-align: center;
  padding: 2%;
 }
 #customVideoSlide .thumAreaSp .thum:first-child{
  border:none;
 }
 #customVideoSlide .thumAreaSp .thum{
  cursor: pointer;
  display: inline-block;
  border:none;
  background: #efefef;
  padding: 5px;
  background: #ddd;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
 }
 #customVideoSlide .thumAreaSp .this{
  background: #000066;
 }
 #customVideoSlide .thumAreaSp .thum:before,
 #customVideoSlide .thumAreaSp .thum:after{
  display: none;
 }
 #customVideoSlide .thumAreaSp .thum .txt{
  display: none;
 }
 #customVideoSlide .ctrBtnView{
  display: none;
 }
 #customVideoSlide .ctrBtn{
  display: none;
 }
}*/