.slick-slider {
 position: relative;
 display: block;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-touch-callout: none;
 -khtml-user-select: none;
 -ms-touch-action: pan-y;
 touch-action: pan-y;
 -webkit-tap-highlight-color: transparent; }

.slick-list {
 position: relative;
 display: block;
 overflow: hidden;
 margin: 0;
 padding: 0; }

.slick-list:focus {
 outline: 0; }

.slick-list.dragging {
 cursor: pointer;
 cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
 -webkit-transform: translate3d(0, 0, 0);
 -ms-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0); }

.slick-track {
 position: relative;
 top: 0;
 left: 0;
 display: block; }

.slick-track:after, .slick-track:before {
 display: table;
 content: ''; }

.slick-track:after {
 clear: both; }

.slick-loading .slick-track {
 visibility: hidden; }

.slick-slide {
 display: none;
 float: left;
 height: 100%;
 min-height: 1px; }

[dir=rtl] .slick-slide {
 float: right; }

.slick-slide img {
 display: block; }

.slick-slide.slick-loading img {
 display: none; }

.slick-slide.dragging img {
 pointer-events: none; }

.slick-initialized .slick-slide {
 display: block; }

.slick-loading .slick-slide {
 visibility: hidden; }

.slick-vertical .slick-slide {
 display: block;
 height: auto;
 border: 1px solid transparent; }

#mainCol {
 width: 960px !important;
 padding: 0px !important; }
#mainCol .arr li {
 margin-top: 0 !important; }
#mainCol .arr a {
 color: #00005F !important;
 position: relative;
 display: inline-block;
 padding-left: 23px;
 text-decoration: none !important; }
#mainCol .arr a:before {
 font-family: 'icomoon';
 content: "\f0da";
 position: absolute;
 left: 10px;
 line-height: 1.4;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 margin-top: .2em; }
#mainCol .arr a:hover {
 text-decoration: underline !important; }
#mainCol .arr.ib {
 width: 100%;
 letter-spacing: -.4em; }
#mainCol .arr.ib li {
 display: inline-block;
 letter-spacing: normal;
 margin-left: 15px; }
#mainCol .arr.ib li:first-child {
 margin-left: -8px; }

.wrapper #mainCol .section {
 margin-top: 3em; }

#mainSlider .slider-controls {
 display: block;
 text-align: right;
 margin-top: 4px; }
#mainSlider .slider-controls a {
 display: inline-block;
 padding: 8px 3px 7px 35px;
 text-align: left;
 text-decoration: none; }
#mainSlider .slider-controls a:hover span {
 text-decoration: underline; }
#mainSlider .slider-controls a span {
 display: inline-block;
 font-size: 1.2em; }
#mainSlider .slider-controls a .start {
 display: none; }
#mainSlider .slider-controls.is-playing a {
 background: url(/bk-common/bank/images/top/slide_ico_stop.png) no-repeat 0 0; }
#mainSlider .slider-controls.is-stopped a {
 background: url(/bk-common/bank/images/top/slide_ico_start.png) no-repeat 0 0; }
#mainSlider .slider-controls.is-stopped a .start {
 display: block; }
#mainSlider .slider-controls.is-stopped a .stop {
 display: none; }

#mainVis {
 border: #ccc 1px solid;
 z-index: 1; }
#mainVis .slick-slide img {
 width: 100%;
 height: auto;
 max-width: none; }
#mainVis .slick-list {
 position: relative;
 z-index: 10; }
#mainVis .slick-prev,
#mainVis .slick-next {
 display: none !important; }

/*.sec1*/
#mainCol .topContents {
 width: 960px;
 margin-top:1em!important; }
#mainCol .topContents ul li {
 margin-bottom: 0px;
}
#mainCol .topContents .col1 {
 float: left;
 width: 710px; }
#mainCol .topContents .col2 {
 float: right;
 width: 230px; }
#mainCol .topContents .navigation {
 margin-top: 10px; }
#mainCol .topContents .loan {
 float: left; }
#mainCol .topContents .loan ul {
 background: #eee;
 border: solid 1px #ddd;
 padding: 12px; }
#mainCol .topContents .loan ul li {
 margin-top: 5px;
 width: 150px; }
#mainCol .topContents .loan ul li a {
 text-decoration: none;
 color: #000066; }
#mainCol .topContents .loan ul li a .btn {
 display: block;
 text-align: center;
 background: #cccccc;
 padding-bottom: 3px;
 -webkit-border-radius: 4px;
 border-radius: 4px; }
#mainCol .topContents .loan ul li a .btn .inner {
 display: block;
 background: #000066;
 -webkit-border-radius: 4px;
 border-radius: 4px; }
#mainCol .topContents .loan ul li a .txt {
 display: block;
 text-align: center; }
#mainCol .topContents .loan ul li a:hover .btn .inner {
 background: #0068bb; }
#mainCol .topContents .menu {
 float: left;
 width: 508px;
 padding-left: 22px; }
#mainCol .topContents .menu ul {
 text-align: center; }
#mainCol .topContents .menu ul li {
 float: left;
 text-align: center;
 width: 157px;
 font-size: 1em;
 margin-right: 17px; }
#mainCol .topContents .menu ul li.mr0 {
 margin-right: 0px; }
#mainCol .topContents .menu ul li.largeCol {
 width: 100%;
 margin-bottom: 12px; }
#mainCol .topContents .menu ul li a {
 display: block;
 text-decoration: none;
 color: #000066; }
#mainCol .topContents .menu ul li a .btn {
 display: block;
 text-align: center;
 background: #cccccc;
 padding-bottom: 3px;
 -webkit-border-radius: 4px;
 border-radius: 4px; }
#mainCol .topContents .menu ul li a .btn .inner {
 display: block;
 background: #207DB4;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 padding: 6px 0px; }
#mainCol .topContents .menu ul li a .txt {
 display: block;
 text-align: center; }
#mainCol .topContents .menu ul li a:hover .btn .inner {
 background: #004A7F; }
#mainCol .topContents .menu ul li.largeCol a img {
 display: inline-block;
 vertical-align: middle; }
#mainCol .topContents .menu ul li.largeCol a .txt {
 display: inline-block;
 *display: inline;
 *zoom: 1;
 text-align: center;
 color: #FFF;
 vertical-align: middle; }
#mainCol .topContents .menu ul li.largeCol a .btn .inner {
 padding: 3px 0px; }
#mainCol .topContents #loginArea {
 margin-bottom: 15px; }
#mainCol .topContents #loginArea ul {
 border-bottom: 3px solid #b2b2b2; }
#mainCol .topContents #loginArea ul li {
 border-top: 1px solid #fff;
 margin-top: 0px; }
#mainCol .topContents #loginArea ul li:first-child {
 margin-top: 0; }
#mainCol .topContents #loginArea ul li a {
 display: block;
 padding: 11px 10px;
 color: #fff;
 background: #0F0F6F url(/bk-common/pc/images/index/icn_arrow_large.gif) no-repeat 207px center;
 min-height: 38px;
 line-height: 38px;
 background-position: 210px center; }
#mainCol .topContents #loginArea ul li a:hover {
 background-color: #0068bb;
 color: #ffffff;
 text-decoration: none; }
#mainCol .topContents #loginArea ul li a span {
 display: inline-block;
 vertical-align: middle;
 padding-left: 6px;
 line-height: 1.4em;
 width: 158px; }
#mainCol .topContents #loginArea ul li a img {
 vertical-align: middle; }
#mainCol .topContents #loginArea ul li a span img {
 vertical-align: middle; }
#mainCol .topContents #takarakujiArea {
 background: #0F0F6F;
 padding: 10px 5px 10px;
 border-bottom: 3px solid #b2b2b2;
 margin-bottom: 14px; }
#mainCol .topContents #takarakujiArea p{
 margin-top: 0px}
#mainCol .topContents #takarakujiArea .tit {
 color: #FFF;
 background: url(/bk-common/pc/images/index/ico_takarakuji.png) no-repeat left center;
 padding: 12px 0px 3px 50px; }
#mainCol .topContents #takarakujiArea li {
 background: #FFF;
 margin-top: 1px; }
#mainCol .topContents #takarakujiArea li:hover {
 background: #EEF;
 margin-top: 1px; }
#mainCol .topContents #takarakujiArea li a {
 color: #222;
 text-decoration: none;
 padding: 12px;
 display: block;
 background: url(/bk-common/pc/images/index/icn_arrow_large2.png) no-repeat 204px center; }
#mainCol .topContents #importantArea1 {
 margin-bottom: 14px; }
#mainCol .topContents #importantArea1 ul {
 border-bottom: 3px solid #b2b2b2; }
#mainCol .topContents #importantArea1 ul li {
 border-top: 1px solid #fff;
 margin-top: 0px; }
#mainCol .topContents #importantArea1 ul li:first-child {
 margin-top: 0; }
#mainCol .topContents #importantArea1 ul li a {
 display: block;
 padding: 10px 10px;
 color: #fff;
 background: #0F0F6F url(/bk-common/pc/images/index/icn_arrow_large.gif) no-repeat 207px center;
 min-height: 38px;
 line-height: 38px;
 background-position: 210px center;
 text-decoration: none; }
#mainCol .topContents #importantArea1 ul li a img {
 vertical-align: middle; }
#mainCol .topContents #importantArea1 ul li a:hover {
 background-color: #0068bb;
 color: #ffffff;
 text-decoration: none; }
#mainCol .topContents #importantArea1 ul li a span {
 display: inline-block;
 vertical-align: middle;
 padding-left: 10px;
 width: 158px; }
#mainCol .topContents #importantArea2 ul {
 border-bottom: 3px solid #b2b2b2;
 margin-top: 17px; }
#mainCol .topContents #importantArea2 ul:first-child {
 margin-top: 0; }
#mainCol .topContents #importantArea2 ul li {
 border-top: 1px solid #fff;
 margin-top: 0px; }
#mainCol .topContents #importantArea2 ul li a {
 display: block;
 padding: 10px 23px 10px 6px;
 color: #fff;
 background: #207DB4 url(/bk-common/pc/images/index/icn_arrow_large.gif) no-repeat 207px center;
 min-height: 38px;
 line-height: 38px; }
#mainCol .topContents #importantArea2 ul li a span {
 display: inline-block;
 vertical-align: middle;
 padding-left: 7px;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 line-height: 1.2; }
#mainCol .topContents #importantArea2 ul li a img {
 vertical-align: middle; }
#mainCol .topContents #importantArea2 ul li a:hover, #mainCol .topContents #importantArea2 ul li a.active {
 background-color: #004A7F;
 text-decoration: none; }

#mainCol .utility .column5 {
 overflow: hidden; }
#mainCol .utility .column5 .col {
 display: table-cell;
 *float: left;
 vertical-align: top}
#mainCol .utility .column5 .col .inner {
 min-height: 360px;
 position: relative;
 width: 180px;
 margin-right: 12px;
 *margin-right: 10px;
 border-top: solid 3px #006;
 border-left: solid 1px #ccc;
 border-right: solid 1px #ccc;
 border-bottom: solid 1px #ccc; }
#mainCol .utility .column5 .col .h3Tit {
 border-bottom: solid 1px #ccc;
 font-size: 1em;
 background: #f2f2f2;
 padding: 8px;
 position: relative; }
#mainCol .utility .column5 .col .h3Tit a {
 padding-right: 1em;
 color: #333; }
#mainCol .utility .column5 .col .h3Tit a:after {
 position: absolute;
 display: block;
 content: "";
 border-top: solid 2px #000066;
 border-right: solid 2px #000066;
 width: 12px;
 height: 12px;
 top: 11px;
 right: 10px;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg); }
#mainCol .utility .column5 .col ul {
 padding: 0px 10px 10px; }
#mainCol .utility .column5 .col ul li {
 margin-top: 10px; }
#mainCol .utility .column5 .col ul li a {
 text-decoration: none; }
#mainCol .utility .column5 .col .more {
 *position: relative;
 left: 0px;
 bottom: 0px;
 width: 80%;
 border-top: dotted 1px #ccc;
 padding: 5% 10%;
 text-align: right;
 margin-top: 0px; }
#mainCol .utility .column5 .col .more a {
 text-decoration: none; }
#mainCol .utility .column5 .col .customAccordionList {
 display: none;
 margin-top: 0;
 padding: 0 10px 10px; }
#mainCol .utility .column5 .col .customAccordionList li:first-child {
 margin-top: 0; }
#mainCol .utility .column5 .col .serviceAll {
 width: 100%;
 padding: 10px 0px; }

#mainCol .bnrArea a {
 text-decoration: none; }

#mainCol .bnrArea .bnrArea1 {
 text-align: center;
 margin-bottom: 10px; }
#mainCol .bnrArea .bnrArea1 li {
 width: 32%;
 float: left;
 margin: 0px;
 margin-right: 1.9%;
 *margin-right: 1%; }
#mainCol .bnrArea .bnrArea1 li.mr0 {
 margin-right: 0%; }
#mainCol .bnrArea .bnrArea1 li a {
 display: block;
 color: #333333;
 background: #f2f2f2;
 width: 100%;
 padding: 15px 0px;
 border: solid 1px #b2b2b2;
 border-bottom: solid 4px #b2b2b2;
 font-weight: bold; }
#mainCol .bnrArea .bnrArea1 li a:hover {
 background: #d6d6d6; }
#mainCol .bnrArea .bnrArea1 li a .caution {
 color: #c70000;
 display: inline-block;
 *display: inline;
 *zoom: 1;
 padding-left: 15px;
 background: url(/bk-common/pc/images/index/ico_caution.gif) no-repeat left center; }

#mainCol .bnrArea .bnrArea2 {
 text-align: center;
 letter-spacing: -0.4em;
 margin-top: -10px !important; }
#mainCol .bnrArea .bnrArea2 li {
 display: inline-block;
 vertical-align: top;
 letter-spacing: normal;
 margin-top: 10px !important;
 margin-left: 2%;
	width:49%;
}
#mainCol .bnrArea .bnrArea2 li a {
 display: block;
 border-bottom: solid 4px #b2b2b2; }
#mainCol .bnrArea .bnrArea2 li a:hover {
 border-bottom-color: #d6d6d6; }
#mainCol .bnrArea .bnrArea2 li:nth-child(odd) {
 margin-left: 0; }

#mainCol .bnrArea ul + .arr {
 padding-top: 10px; }

#mainCol .bnrArea ul.arr + .bnrArea2 {
 padding-top: 30px; }

#mainCol .usefulSliderArea {
 background: #eee;
 padding: 8px 38px;
 margin-bottom: 60px;
 margin-top: 0 !important; }
#mainCol .usefulSliderArea .usefulSlider {
 position: relative;
 width: 100%;
 height: 74px; }
#mainCol .usefulSliderArea .usefulSlider .slick-slide a {
 display: block;
 width: 230px;
 margin: 0 auto;
 border-bottom: solid 4px #b2b2b2; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots {
 position: absolute;
 bottom: -30px;
 display: table;
 word-spacing: -1em;
 width: 100%;
 margin-top: 0 !important;
 text-align: center;
 background: #fff; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li {
 display: inline-block;
 width: auto;
 margin: 0 3px !important; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li button {
 text-indent: -99999px;
 display: block;
 width: 15px;
 height: 15px;
 line-height: 0;
 padding: 0;
 font-size: 0;
 border: none;
 vertical-align: middle;
 position: static;
 -webkit-border-radius: 25px;
 border-radius: 25px;
 background-color: #bbbbbb;
 cursor: pointer;
 outline: none; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li button:hover {
 background-color: #ccc; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li button:hover:before {
 display: none; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li.slick-active:before {
 display: none; }
#mainCol .usefulSliderArea .usefulSlider .slick-dots li.slick-active button {
 background: #1e0075; }
#mainCol .usefulSliderArea .usefulSlider .slick-prev,
#mainCol .usefulSliderArea .usefulSlider .slick-next {
 position: absolute;
 top: 18px;
 width: 42px;
 height: 42px;
 background: rgba(255, 255, 255, 0.5);
 -webkit-border-radius: 50%;
 border-radius: 50%;
 text-indent: 300%;
 font-size: 0;
 line-height: 0;
 padding: 0;
 border: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 cursor: pointer;
 overflow: hidden;
 outline: none; }
#mainCol .usefulSliderArea .usefulSlider .slick-prev:before,
#mainCol .usefulSliderArea .usefulSlider .slick-next:before {
 content: "";
 display: block;
 position: relative;
 vertical-align: top;
 width: 40px;
 height: 40px;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 border: 1px solid #ccc;
 text-indent: 0;
 font-size: 0;
 line-height: 0; }
#mainCol .usefulSliderArea .usefulSlider .slick-prev {
 left: -35px; }
#mainCol .usefulSliderArea .usefulSlider .slick-prev:before {
 background: url(/bk-common/pc/images/index/icn_arrow_large3.png) no-repeat center center; }
#mainCol .usefulSliderArea .usefulSlider .slick-prev.slick-disabled:before {
 background: url(/bk-common/pc/images/index/icn_arrow_large3_gry.png) no-repeat center center; }
#mainCol .usefulSliderArea .usefulSlider .slick-next {
 right: -35px; }
#mainCol .usefulSliderArea .usefulSlider .slick-next:before {
 background: url(/bk-common/pc/images/index/icn_arrow_large2.png) no-repeat center center; }
#mainCol .usefulSliderArea .usefulSlider .slick-next.slick-disabled:before {
 background: url(/bk-common/pc/images/index/icn_arrow_large2_gry.png) no-repeat center center; }

.promotionArea {
 background: #eee;
 padding: 1px 13px 10px; }
.promotionArea .promotion {
 display: table;
 word-spacing: -1em;
 width: 100%; }
.promotionArea .promotion .box {
 display: inline-block;
 word-spacing: normal;
 vertical-align: top;
 margin-left: 11px;
 margin-top: 10px; }
.promotionArea .promotion .box:nth-child(4n+1) {
 margin-left: 0; }

.information .view {
 text-align: right;
 padding-top: 10px; }
.information .view a {
 display: inline-block; }

/*# sourceMappingURL=../map/index.css.map */


/* 20160518_add spLargeBtn */
.switchBtn{
	padding: 0 15px;
	margin: 15px auto;
}
.switchBtn.active{
 display: none;
}
.switchBtn a.spLargeBtn{
 display: block;
 width: 100%;
 padding: 20px 0;
 color: #0E0E6E;
 text-align: center;
 line-height: 1;
 text-decoration: none;
 font-size: 1.5em;
 /* border-radius */
 border-radius:6px;
 -webkit-border-radius:6px;
 -moz-border-radius:6px;
 /* box-shadow */
 -webkit-box-shadow: 0px 2px 0px 0px rgba(168,168,168,1);
 -moz-box-shadow: 0px 2px 0px 0px rgba(168,168,168,1);
 box-shadow: 0px 2px 0px 0px rgba(168,168,168,1);
 background: #E5E5E5 url(/common2/sp/images/icn_arrow_large.png) no-repeat 97% center;
 background-size: 12px 22px;
}

.switchBtn.header a.spLargeBtn {
	padding: 25px 0 20px;
	background: #000066;
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-align: left;
	font-weight: bold;
}
.switchBtn.header a.spLargeBtn:before {
	content: 	url(/common2/sp/images/icn_sp_switch.png);
	line-height: 50px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	margin-left: 30px;
}
.switchBtn.header a.spLargeBtn:after {
	font-family: 'icomoon';
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
	vertical-align: bottom;
	content: "\f105";
	display: inline-block;
	font-size: 60px;
	line-height: 50px;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: -8px;
}
.wrapper #mainCol #loginArea ul,
.wrapper #mainCol .carousel ul{
	margin-top:0!important;
}

/*20161015 ADD*/
.wrapper #mainCol .navigation .loan{
	font-size: 14px!important;
}
.wrapper #mainCol .navigation .menu {
	font-size: 14px!important;
}
.wrapper #mainCol .navigation .menu .largeCol{
	font-size: 21px!important;
}
.wrapper #mainCol #loginArea,
.wrapper #mainCol #takarakujiArea,
.wrapper #mainCol #importantArea1,
.wrapper #mainCol #importantArea2 {
	font-size: 14px!important;
}
.wrapper #mainCol #loginArea .fontSS,
.wrapper #mainCol #takarakujiArea .fontSS,
.wrapper #mainCol #importantArea1 .fontSS,
.wrapper #mainCol #importantArea2 .fontSS {
	font-size: 11px!important;
}

/*20161015 ADD*/
a.newWebSite {
 padding: 19px;
 display: block;
 background: #F7FBFE;
 border: 1px solid #b2b2b2;
 border-bottom: solid 4px #b2b2b2;
}
a.newWebSite:hover {
 opacity: 0.7;
}

/*20161115 ADD*/
#mainCol .topContents #loginArea ul li.gray_sideB a {
 background: #dcdcdc url(/bk-common/bank/images/top/icn_arrow_large_BLU.png) no-repeat 207px center;
 color: #0f0f6f;
}
#mainCol .topContents #loginArea ul li.gray_sideB a:hover{
    background-color: #ababab;
    color: #0f0f6f;
    text-decoration: none;
}
.wrapper #mainCol #loginArea ul li .font13
{
	font-size: 12px!important;
}