html, body {
	width: 100%;
	height: 100%;
	background-color: #33353f;
	background-repeat: no-repeat;
	background-position:center top;
	scrollbar-3dlight-color: White;
	scrollbar-arrow-color: White;
	scrollbar-track-color: White;
	scrollbar-base-color: White;
	scrollbar-face-color: White;
	scrollbar-shadow-color: White;
	scrollbar-highlight-color: White;
	scrollbar-darkshadow-color: White;
	font-family: 'PT Sans Caption', sans-serif;
}

.toptable {
	width: 980px;
	height: 100%;
}
.topmenu {
	width: 100%;
	height: 24px;
	background-image: url(/$files/pic/design/header_top.jpg);
	background-size: 980px 24px;
	background-repeat: no-repeat;
}
td {
	vertical-align: top;
}
.nametitle {
	font-size: 10px;
	color: #c1c1c1;
	width: 425px;
	vertical-align: middle;
	padding-top: 3px;
}
a.toplink, a.toplink:visited, a.toplink:link {
	font-size: 10px;
	color: #c1c1c1;
	text-decoration: none;
}
.gradpadds {
	padding-bottom: 4px;
	padding-top: 3px;
}
a.toplink:hover {
	font-size: 10px;
	color: #c1c1c1;
	text-decoration: underline;
}
div.oprtext {
	height: 55px;
	overflow: hidden;
}

.toptext {
	font-size: 10px;
	color: #c1c1c1;
	width: 100%;
	text-align: right;
}
.searchelem {
	width: 131px;
	height: 14px;
	border-top: 1px solid #0e4276;
	border-left: 1px solid #0e4276;
	border-bottom: 1px solid #37546a;
	border-right: 1px solid #37546a;
	font-size: 10px;
	color: #383048;
}
.toptext2 {
	font-size: 10px;
	color: #c1c1c1;
	text-align: right;
	padding-left: 73px;
	padding-right: 18px;
}
.vm {
	vertical-align: middle;
}
.header01 {
	background-image: url(/$files/pic/design/header1.jpg);
	background-repeat: no-repeat;
	background-size: 110px 81px;
	width: 110px;
	height: 81px;
}
.header03 {
	background-image: url(/$files/pic/design/header3_1.jpg);
	background-repeat: no-repeat;
	background-size: 731px 81px;
	width: 731px;
	height: 81px;
}

#header_01_01 {
	position: relative;
	width: 40px;
	height: 81px;
	left: -40px;
	top: -2px;
	background-position: right;
}
#header_01_02 {
	position: relative;
	width: 40px;
	height: 27px;
	left: 0;
	top: -23px;
	background-position: top;
}

.longmenu {
	height: 19px;
	background-image: url(/$files/pic/design/topmenuback.jpg);
	background-repeat: no-repeat;
	background-size: 980px 19px;
}

.menuitem {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}
.menuitem01 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	height: 16px;
}
.mainmenuover {
	background-image: url(/$files/pic/bg_02.gif);
	background-repeat: no-repeat;
}
.menuitem02 {
	padding-left: 27px;
	padding-right: 30px;
	padding-top: 3px;
	height: 16px;
}
.menuitem03 {
	padding-left: 27px;
	padding-right: 29px;
	padding-top: 3px;
	height: 16px;
}
.menuitem04 {
	padding-left: 28px;
	padding-right: 33px;
	padding-top: 3px;
	height: 16px;
}
a.menuobj, a.menuobj:link, a.menuobj:visited {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
a.menuobj:hover {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
.pdt1 {
	background-image: url(/$files/pic/design/red_small.png);
	background-repeat: no-repeat;
}
.padd156 {
	padding-left: 154px;
}
.date {
	font-size: 11px;
	color: #ffffff;
	padding-top: 24px;
	padding-right: 31px;
}
.sozseti {
	font-size: 11px;
	color: #ffffff;
	padding-top: 25px;
	padding-right: 6px;
	padding-bottom: 0px;
}
.flashContent {
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
	position: relative;
}
.darkdate {
	position: absolute;
	width: 90px;
	height: 22px;
	left: 1000;
	top: 240;
}
.pointer {
	cursor: pointer;
}
.pl9 {
	padding-left: 9px;
}
.pl45 {
	text-align: center;
	width: 20px;
}
.central {
	width: 980px;
	background-color: #ffffff;
	height: 100%;
}
.footer {
	width: 100%;
	height: 170px;
	background-color: #33353F;
	vertical-align: middle;
}
.foottbl {
	width: 100%;
	height: 24px;
}
.copyright {
	font-size: 10px;
	color: #ffffff;
	vertical-align: middle;
}
.rbfooter {
	border-right: 1px solid #ffffff;
}
.footer .mobile_button{margin: 0 10px 0 0;}

a.coplink, a.coplink:link, a.coplink:visited {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 10px;
	/*	color: #182f41; */
	color: #ffffff;
	text-decoration: underline;
}
a.coplink:hover {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration: underline;
}
.leftframe {
	padding-left: 5px;
	padding-top: 13px;
	height: 100%;
}
.rightframe {
	width: 240px;
	padding-right: 4px;
	padding-top: 12px;
}
.bluebg {
	background-color: #6e9bbf;
}
.programmtable {
	width: 240px;
	height: 223px;
}
.mainblockpadds {
	width: 475px;
	*width: 480px;
	padding-left: 16px;
	height: 414px;
}

.programmtable, .mainblockpadds, .rightframe{
	padding-bottom: 5px;
}

.additionwidth {
	width: 491px;
	*width: 498px;
}
.bigfont {
	font-size: 10px;
	color: #182f41;
}
a.whitelink, a.whitelink:link, a.whitelink:visited {
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
a.whitelink:hover {
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.whitelink_no, a.whitelink_no:link, a.whitelink_no:visited {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
a.whitelink_no:hover {
	font-size: 11px;
	color: #ffffff;
	text-decoration: underline;
}
.bluetextblock {
	font-size: 10px;
	color: #2d485d;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 9px;
}
.whitetext {
	font-size: 11px;
	color: #ffffff;
}

.blacktext {
	font-size: 11px;
	color: #000000;
}
a.white, a.white:link, a.white:visited {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
a.white:hover {
	font-size: 11px;
	color: #ffffff;
	text-decoration: underline;
}
.lightbluetd {
	height: 223px;
	background-color: #e1f0ff;
	overflow: hidden;
	padding-bottom: 5px;
}
.bluetext {
	font-size: 11px;
	color: #ffffff;
}
a.lightblue, a.lightblue:link, a.lightblue:visited {
	font-size: 11px;
	color: #383048;
	line-height: 1.3;
	text-decoration: none;
	font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}
a.lightblue:hover {
	font-size: 11px;
	color: #383048;
	text-decoration: underline;
}
a.darkblue, a.darkblue:link, a.darkblue:visited {
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
a.darkblue:hover {
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
.lightblue {
	font-size: 11px;
	color: #383048;
}
a.commentaries, a.commentaries:link, a.commentaries:visited {
	font-size: 11px;
	color: #383048;
	text-decoration: underline;
	font-weight: bold;
}
a.commentaries:hover {
	font-size: 11px;
	color: #383048;
	text-decoration: none;
	font-weight: bold;
}
.opros {
	width: 240px;
	background-color: #2b485e;
	height: 100%;
}
.oprostxt {
	font-size: 12px;
	color: #6f94b3;
	padding-left: 13px;
	padding-top: 7px;
}
.whiteoption {
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;

}
a.whiteoption, a.whiteoption:link, a.whiteoption:visited {
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.whiteoption:hover {
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.whiteoption_selected {
	font-size: 12px;
	color: #6f94b3;
	font-weight: bold;
	cursor: pointer;
}
.op_comment {
	height: 22px;
	*height: 20px;
	background-color: #33353f;
	width: 100%;
	padding-left: 14px;
	padding-top: 2px;
	*padding-top: 2px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
}
.op_comment2 {
	height: 23px;
	background-color: #33353f;
	width: 100%;
	padding-top: 3px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
}
a.op_comment, a.op_comment:link, a.op_comment:visited {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}
a.op_comment:hover {
	color: #253f54;
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
}
.mainnews {
	width: 457px;
	height: 100%;
}
.newstitle {
	width: 457px;
	background-color: #2b485e;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 5px;
}
.newstitle2 {
	width: 457px;
	background-color: #33353f;
	height: 48px;
	padding-left: 20px;
	padding-right: 30px;
	padding-top: 9px;
	font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}
.newstitletext {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}
.centerimage {
	width: 457px;
	height: 257px;
	overflow: hidden;
}
.centerimage2 {
	width: 457px;
	height: 397px;
	overflow: hidden;
}
.play {
	width: 43px;
	height: 43px;
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	z-index: 1;
}
.newstextblock {
	background-color: #33353f;
	padding-right: 0px;
	vertical-align: bottom;
}
.todayefir_table {
	width: 240px;
	height: 87px;
}
.todayefir_timecell {
	width: 88px;
	height: 19px;
	background-color: #6e9bbf;
	text-align: right;
	color: #ffffff;
	font-size: 13px;
	padding-top: 1px;
	padding-right: 6px;
}
.todayefir_namecell {
	width: 151px;
	background-color: #e1f0ff;
}
.todayefir_namecell_link {
	padding-left: 9px;
	padding-top: 4px;
}
.todayefir_namecell_addtext {
	color: #000000;
	font-size: 11px;
	padding-left: 11px;
}
.pad_b_6 {
	padding-bottom: 6px;
}
.padd_t_1 {
	padding-top: 1px;
}
.pad_t_3 {
	padding-top: 3px;
}
.last_news_date {
	width: 100%;
	color: #383048;
	font-size: 12px;
	padding-top: 2px;
	padding-left: 360px;
}
.last_news_date2 {
	width: 100%;
	color: #383048;
	font-size: 12px;
	padding-top: 2px;
	padding-left: 488px;
}
a.newslink, a.newslink:link, a.newslink:visited {
	color: #383048;
	font-size: 11px;
	line-height: 1.3;
	text-decoration: none;
	font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
	/*font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;*/
}
a.newslink:hover {
	color: #383048;
	font-size: 11px;
	text-decoration: underline;
}
a, a:link, a:visited {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
a:hover {
	color: #383048;
	font-size: 12px;
	text-decoration: underline;
}
.newsdiv {
	background-image: url(/$files/pic/li.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-bottom: 10px;

}
.newsdiv2 {
	background-image: url(/$files/pic/li.gif);
	background-repeat: no-repeat;
	padding-left: 10px;

}
a.newslinkNohover, a.newslinkNohover:link, a.newslinkNohover:visited, a.newslinkNohover:hover {
	color: #383048;
	font-size: 11px;
	text-decoration: none;
	font-family: Tahoma, sans-serif;
	/*font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;*/
}
a.newslinkNohoverParent, a.newslinkNohoverParent:link, a.newslinkNohoverParent:visited, a.newslinkNohoverParent:hover {
	color: #5F596C;
	font-size: 11px;
	text-decoration: none;
	font-family: Tahoma, sans-serif;
	/*font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;*/
	margin-left: 15px;
}
.news_bottom_grey_border {
	border-bottom: 1px solid #dce4f2;
}
.news_spacing {
	width: 6px;
	border-left: 1px solid #dce4f2;
	font-size: 1px;
	min-height: 100%;
	height: 100%;
}
.news_spacing3 {
	border-left: 1px solid #dce4f2;
	min-height: 100%;
	height: 100%;
}
.spacegrey {
	height: 100%;
	min-height: 100%;
	padding-left: 2px;
}
.news_spacing2 {
	border-left: 1px solid #dce4f2;
	font-size: 1px;
	min-height: 100%;
	height: 100%;
}
.news_spacing4 {
	border-left: 3px solid #C00C10;
	font-size: 1px;
	min-height: 100%;
	height: 100%;
}
.news_text_table {
	padding-left: 12px;
	width: 215px;
	padding-right: 10px;
}
.news_text_overflowdiv {
	width: 215px;
	*width: 235px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 18px;
}
.news_text_overflowdiv_over {
	width: 215px;
	*width: 235px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 18px;
}
.news_text_overflowdiv_faces {
	width: 214px;
	*width: 214px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 1px solid #dce4f2;
}
.news_text_overflowdiv_faces_end {
	width: 214px;
	*width: 214px;
	padding-left: 5px;
	padding-top: 11px;
	padding-bottom: 8px;
}
.news_text_overflowdiv_fixed {
	width: 212px;
	*width: 227px;;
	padding-left: 20px;
	border-bottom: 1px solid #dce4f2;
	padding-bottom: 6px;
}
.news_text_overflowdiv_fixed_nb {
	width: 212px;
	*width: 227px;;
	padding-left: 20px;
	padding-bottom: 6px;
}
.news_text_overflowdiv_end {
	width: 205px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 18px;
}
a.gradlink, a.gradlink:link, a.gradlink:visited {
	color: #ffffff;
	font-size: 11px;
	text-decoration: underline;
}
a.gradlink:hover {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
}
a.gradlink_end, a.gradlink_end:link, a.gradlink_end:visited {
	color: #ffffff;
	font-size: 11px;
	text-decoration: underline;
}
a.gradlink_end:hover {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
}
.submenu {
	width: 238px;
	padding-bottom: 3px;
	border-bottom: 1px solid #dedee3;
	padding-left: 23px;
	padding-top: 2px;
}
.submenu_end {
	width: 238px;
	padding-bottom: 3px;
	padding-left: 23px;
	padding-top: 2px;
	border-bottom: 1px solid #ffffff;
}
.news_razd_blueblock {
	width: 100%;
	height: 70px;
	*height: 73px;
	background-color: #6e9bbf;
}
.news_razd_blueblock_div {
	width: 129px;
	height: 70px;
	*height: 73px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	line-height: 12px;
	overflow: hidden;
}
.w242 {
	width: 242px;
}
.w200 {
	width: 200px;
}
.w240 {
	width: 240px;
}
.w234 {
	width: 232px;
}
.w236 {
	width: 236px;
}
.bluebgdiv {
	background-color: #6e9bbf;
}
.nocomment_content {
	background-color: #6e9bbf;

}
.mainpage_content {
	background-color: #33353f;
	height: 416px;

}
.padd_r_3 {
	padding-right: 3px;
}
.padd_t_2 {
	padding-top: 2px;
}
.pad_b_2 {
	padding-bottom: 2px;
}
.pad_b_8 {
	padding-bottom: 8px;
}
.subscribe_block {
	background-color: #2b485e;
	width: 240px;
}
.person_block {
	background-color: #ffffff;
	width: 240px;
}
a.personlink, a.personlink:link, a.personlink:visited {
	color: #838383;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

a.personlink:hover {
	color: #838383;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.notavaible {
	color: #000000;
	font-size: 11px;
	line-height: 1.3;
	padding-top: 8px;
	padding-left: 7px;
	padding-right: 7px;
	font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
}

.notavaible_blue {
	color: #182f41;
	font-size: 11px;
	padding-top: 8px;
	padding-left: 7px;
}
a.aviableNews, a.aviableNews:link, a.aviableNews:visited {
	color: #383048;
	font-size: 11px;
	line-height: 1.3;
	text-decoration: none;
	font-weight: bold;
	/*font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;*/
}
a.aviableNews:hover {
	color: #383048;
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
}
.oprost_cellone {
	width: 210px;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding-left: 13px;
	padding-right: 5px;
}
.opros_linecell {
	background-color: #e8131a;
}
.opros_line {
	width: 0px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 2px;
}
.opros_line2 {
	width: 200px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 2px;
}
.opros_procent {
	color: #ffffff;
	font-size: 11px;
	width: 21px;
	text-align: right;

}
.opros_total {
	padding-left: 5px;
	color: #6e9bbf;
	font-size: 11px;
}
.newsdate {
	color: #010101;
	font-size: 11px;
	padding-left: 5px;
	padding-top: 6px;
}
.newspicatable {
	width: 223px;
}
.twopadds10 {
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 8px;
}
.fs1 {
	font-size: 1px;
}
.pad_l_3 {
	padding-left: 4px;
	*padding-left: 6px;
}
.bluevideocontent {
	background-color: #33353F;
	width: 457px;
}
.zvezda_v_seti {
	margin-top: 5px;
	width: 240px;
	height: 38px;
	background-color: #e1f0ff;
}
.menuOver {
	background-color: #dedee3;
}
.newspage_zagolovok {
	color: #383048;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
	font-family: 'PT Serif', Tahoma, serif;
}
.newspage_zagolovok h1 {
	font-size: 18px;
	line-height: 1.1;
}
@media screen and (max-device-width: 480px){
	.newspage_zagolovok h1 {
		font-size: 1.5em;
	}
}
.newspage_vidtext {
	color: #2b485e;
	font-size: 11px;
	height: 22px;
	padding-top: 3px;
}
.newstext {
	color: #000000;
	font-size: 12px;
}
.newstext a{
	font-size: 12px;
}
.facetext {
	color: #ffffff;
	font-size: 12px;
}
a.facetext2, a.facetext2:link, a.facetext2:visited, a.facetext2:hover {
	color: #000000;
	font-size: 12px;
}
.newstext_big {
	color: #000000;
	font-size: 12px;
}
.newspadds {
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
}
.bluelinktext {
	color: #383048;
	font-size: 11px;
}
.themesblock {
	background-color: #e5e5e5;
	width: 100%;
}
a.themelink, a.themelink:link, a.themelink:visited {
	color: #253f54;
	font-size: 12px;
	font-weight: bold;
}
a.themelink:hover {
	color: #253f54;
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
}
.addtonewsblock {
	background-color: #ffffff;
	width: 100%;
}
.topkomment {
	width: 100%;
	background-color: #E5E5E5;
}
.allcomments {
	color: #2d485d;
	font-size: 11px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 18px;
	padding-bottom: 11px;
}
a.verdanalink, a.verdanalink:visited, a.verdanalink:link {
	color: #000000;
	font-size: 10px;
	text-decoration: none;
}
a.verdanalink:hover {
	color: #000000;
	font-size: 10px;
	text-decoration: underline;
}
.darkbg {
	background-color: #e5e5e5;
}
.lightbg {
	background-color: #f0f0f0;
}
.photolenta_top {
	padding-left: 20px;
	height: 33px;
	color: #ffffff;
	font-size: 12px;
	background-color: #33353F;
	width: 100%;
	font-weight: bold;
	padding-top: 9px;
}
.phototext {
	background-color: #33353F;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	height: 55px;
	*height: 65px;
	overflow: hidden;
	color: #ffffff;
}
.photolenta_line {
	background-color: #33353F;
	width: 100%;
}
.pad_t_9 {
	padding-top: 9px;
}
.pad_b_9 {
	padding-bottom: 9px;
}
.pad_l_1 {
	padding-left: 1px;
}
.daycell  {
	background-color: #e1f0ff;
	color: #6e9bbf;
	font-size: 11px;
	width: 33px;
	height: 21px;
	text-align: center;
	vertical-align: middle;
}
.calencell {
	background-image: url(/$files/pic/cellbg.gif);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.calencell_noright {
	background-image: url(/$files/pic/cellbg_noright.gif);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.calencell_end {
	background-image: url(/$files/pic/cellbg_end.gif);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.cell_texton {
	color: #383048;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}
.cell_text {
	color: #000000;
	font-size: 11px;
}
.cell_current {
	background-image: none;
	background-color: #9fbdd5;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.cell_nor {
	background-image: none;
	background-image: url(/$files/pic/cellbg_noright.gif);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.cell_nor_end {
	background-image: url(/$files/pic/cellbg_end.gif);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.cell_fix {
	background-image: none;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	text-align: center;
	vertical-align: middle;
}
.cal_endtable {
	background-color: #6e9bbf;
	width: 100%;
}
.darktext {
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
}
.darktext2 {
	color: #000000;
	font-size: 11px;
}
.pad_t_8 {
	padding-top: 8px;
}
.pad_b_8 {
	padding-bottom: 8px;
}

/* Search */
.searchtable {
	background-color: #2b485e;
	width: 100%;
	height: 100%;
}
.searchInput {
	width: 80px;
	height: 15px;
	border-top: 1px solid #1c3447;
	border-left: 1px solid #1c3447;
	border-bottom: 1px solid #4c7799;
	border-right: 0px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
}
.searchInputBig {
	width: 120px;
	height: 19px;
	border-top: 1px solid #1c3447;
	border-left: 1px solid #1c3447;
	border-bottom: 1px solid #4c7799;
	border-right: 0px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
}
.searchInputSecond {
	height: 19px;
	width: 100%;
	border-right: 1px solid #4c7799;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
}
.searchInputThird {
	width: 241px;
	height: 19px;
	border-top: 1px solid #1c3447;
	border-left: 1px solid #1c3447;
	border-bottom: 1px solid #4c7799;
	border-right: 0px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
	padding-left: 1px;
}
.fullPeriod {
	background-color: #6e9bbf;
	width: 100%;
	color: #2b485e;
	text-decoration: underline;
	font-size: 11px;
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 3px;
}
a.searchtitle, a.searchtitle:link, a.searchtitle:visited {
	font-size: 12px;
	font-weight: bold;
	color: #383048;
	text-decoration: none;
}
a.searchtitle:hover {
	font-size: 12px;
	font-weight: bold;
	color: #383048;
	text-decoration: underline;
}
.searchtitle {
	font-size: 12px;
	font-weight: bold;
	color: #383048;
}
a.searchtitle2, a.searchtitle2:link, a.searchtitle2:visited {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.searchtitle2:hover {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

div.search_paginator {
	background-color: #4A4655;
	width: 100%;
	height: 30px;
	margin-top: 7px;
	margin-bottom: 7px;
}

div.search_paginator_bottom {
	margin-bottom: 7px;
}

div.search_paginator div{
	margin-top: 5px;
}

div.search_paginator div.search_result_count{
	float: left;
	width: 30%;
	font-size: 12px;
	color: #ffffff;
}

div.search_paginator div.search_result_count span{
	position: relative;
	top: 2px;
	left: 2px;
}

div.search_paginator div.search_result_paginator{
	float: right;
	width: 50%;
}

div.search_paginator div.search_result_paginator ul {
	float: right;
	margin-right: 2px;
}

div.search_paginator div.search_result_paginator ul li{
	display: inline;
	color: #fff;
	font-size: 12px;
}

div.search_paginator div.search_result_paginator ul li.title_paginator span{
	position: relative;
	top: -2px;
}

div.search_paginator div.search_result_paginator ul .page_number{
	padding: 5px 10px 3px 10px;
	font-size: 10pt;
	font-weight: 600;
	margin: 1px 2px;
	text-decoration: none;
}

div.search_paginator div.search_result_paginator ul li a{
	background-color: #fff;
}

div.search_paginator div.search_result_paginator ul li .page_current{
	background-color: #E01D24;
	color: #fff;
	margin: 0 -2px;;
}

td#search_banner{
	background: url('/$files/pic/search_poloska.jpg') no-repeat;
}

table#search_form{
	background: url('/$files/pic/search_fon.jpg') no-repeat;
	height: 79px;
}

table#search_result {
	border-bottom: 2px solid #4A4655;
	margin-top: 10px;
}
table#search_result a {
	text-decoration: none;
}
table.search_result {
	border-top: 2px solid #4A4655;
	margin-bottom: 5px;
}
table.search_result td.search_result_head {
	font-size: 8pt;
	color: #808080;
	margin-top: 10px;
	height: 25px;
}

table.search_result td.search_result_head_date {
	text-align: right;
}

table.search_result td.search_result_head_date div {
	margin-right: 7px;
}

table.search_result td.search_result_title {
	height: 25px;
	font-family: 'PT Serif', serif;
}

@media screen and (max-device-width: 480px){
	table.search_result td.search_result_title h4{
		font-size: 20px;
	}
	table.search_result td.search_result_title h3{
		font-size: 22px;
	}
}

table.search_result td.search_result_head div{
	margin-top: 5px;
}

table.search_result td.search_result_body {
	font-size: 8pt;
	color: #808080;
}
table.search_result td.search_result_body div{
	margin-right: 10px;
}

table.search_result span.search_result_main_news_video{
	position: absolute;
	background: url('/$files/pic/video.png') no-repeat;
	left: 0px;
	width: 223px;
	height: 126px;
}

table.search_result span.search_result_news_video{
	position: absolute;
	left: 0px;
	width: 170px;
	height: 94px;
	background: url('/$files/pic/video170x95.png') no-repeat;
	background-size: cover;
}

/* END Search */
.eftable {
	width: 34px;
	height: 38px;
}
.eftable_current {
	width: 34px;
	height: 38px;
	background-color: #E5E5E5;
}
a.facesurl, a.facesurl:link, a.facesurl:visited {
	font-size: 12px;
	font-weight: bold;
	color: #383048;
	text-decoration: none;
}
a.facesurl:hover {
	font-size: 12px;
	font-weight: bold;
	color: #383048;
	text-decoration: underline;
}
.facestable {
	background-color: #33353f;
	width: 100%;
}
.programSubtable {
	background-color: #33353F;
	width: 100%;
}
.facepage_zagolovok {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.facepage_zagolovok h1 {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.selector {
	width: 20px;
	height: 9px;
	background-image: url(/$files/pic/bluesquare.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.selector_current {
	width: 20px;
	height: 9px;
	background-image: url(/$files/pic/redsquare.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.w457 {
	width: 457px;
}
.anonsSubBlock {
	width: 100%;
	background-color: #6e9bbf;
}
.vipuskiSubBlock {
	width: 100%;
	background-color: #F0F0F0;
}
.coordSubBlock {
	width: 100%;
	background-color: #6e9bbf;
}
.vipuslTitleBlock {
	width: 100%;
	background-color: #33353F;
}
.ciantext {
	font-size: 11px;
	color: #ffffff;
}
a.backlink, a.backlink:link, a.backlink:visited {
	font-size: 11px;
	color: #2b485e;
	text-decoration: none;
}
a.backlink:hover {
	font-size: 11px;
	color: #2b485e;
	text-decoration: underline;
}
.topblockContentDiv {
	width: 100%;
	height: 65px;
	*height: 62px;
	overflow: hidden;
}
.topblockContentDiv2 {
	width: 100%;
	height: 60px;
	*height: 58px;
	overflow: hidden;
}
.pad_r_2 {
	padding-right: 2px;
}
.veshanie {
	background-color: #6e9bbf;
	width: 100%;
	height: 51px;
}
.darkertext {
	font-size: 11px;
	color: #243d51;
}
.lightbluecell {
	background-color: #33353F;
	height: 16px;
	padding-bottom: 1px;
}
.medbluecell {
	background-color: #6e9bbf;
	height: 16px;
	padding-bottom: 1px;
}
.darkbluecell {
	background-color: #5a8cb4;
	height: 16px;
	padding-bottom: 1px;
}
.greytext {
	font-size: 11px;
	color: #333333;
	vertical-align: bottom;
}
.docsearch {
	background-color: #2b485e;
	width: 100%;
}
.docsearchtext {
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
.subButton {
	width: 73px;
	height: 21px;
	border: 0;
	background-image: url(/$files/pic/show.gif);
	background-repeat: no-repeat;
	cursor: pointer;
}
.subButton2 {
	width: 57px;
	height: 21px;
	border: 0;
	background-image: url(/$files/pic/enter.gif);
	background-repeat: no-repeat;
	cursor: pointer;
}
div.error {
	font-size: 10px;
	color: #ff2a00;
	font-style: italic;
}
input.error {
	border: 1px dotted #ff2a00;
}
.regionInput {
	width: 100px;
	height: 15px;
	border-top: 1px solid #1c3447;
	border-left: 1px solid #1c3447;
	border-bottom: 1px solid #4c7799;
	border-right: 0px;
	color: #253f54;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
}
.bottomBord {
	border-bottom: 1px solid #dce4f2;
}
.pt_ie {
	*padding-top: 1px;
}
.unreleased {
	display: none;
}
#dateStr {
	width: 20px;
	padding-right: 5px;
	padding-top: 0px;
}
#pollResult {
	width: 240px;
}
a.brandlink, a.brandlink:link, a.brandlink:hover, a.brandlink:visited {
	font-size: 10px;
	color: #6e9bbf;
	text-decoration: none;
}
.gubrikblock_fixed {
	width: 224px;
	padding-bottom: 8px;
	border-top: 1px solid #dce4f2;
}
.gubrikblock_fixed_nb {
	width: 224px;
	padding-bottom: 8px;
}
.gubrikblock_fixedNotfirst {
	width: 223px;
	padding-bottom: 8px;
	border-top: 1px solid #dce4f2;
}
.twopadds11 {
	padding-right: 15px;
	padding-top: 5px;
}
.todayefir_overflow {
	width: 240px;
	height: 87px;
	overflow: hidden;
}
.authblock {
	background-color: #6e9bbf;
	width: 100%;
}
a.ciantext, a.ciantext:link, a.ciantext:visited {
	font-size: 11px;
	color: #6e9bbf;
	text-decoration: none;
}
a.ciantext:hover {
	font-size: 11px;
	color: #6e9bbf;
	text-decoration: underline;
}
.maincontentBlock {
	background-color: #6e9bbf;
	width: 100%;
	height: 143px;
}
.maincontentBlock2 {
	background-color: #6e9bbf;
	width: 100%;
	height: 270px;
}
.authInput {
	width: 121px;
	height: 15px;
	border-left: 1px solid #3a607d;
	border-top: 1px solid #3a607d;
	border-right: 1px solid #8ed1f4;
	border-bottom: 1px solid #8ed1f4;
	font-size: 11px;
	color: #0a5ea1;
}
.regCheck {
	border: 0;
	padding: 0;
	margin: 0;
}
.padd5fix {
	padding-top: 0px;
	*padding-top: 5px;
}
#errormsg {
	font-size: 11px;
	color: #ffffff;
	padding-bottom: 10px;
	padding-top: 8px;
	font-weight: bold;
}
.profInfo {
	background-color: #6e9bbf;
	width: 100%;
	height: 189px;
}
.file_1 {
	width: 80px;
	height: 17px;
	background: #ffffff;
	color: #000000;
	border-left: 1px solid #3a607d;
	border-top: 1px solid #3a607d;
	border-bottom: 1px solid #8ed1f4;
	border-right: 1px solid #8ed1f4;
	font-size: 11px;
}
.linkinp {
	width: 143px;
	height: 17px;
	background: #ffffff;
	color: #000000;
	border-left: 1px solid #3a607d;
	border-top: 1px solid #3a607d;
	border-bottom: 1px solid #8ed1f4;
	border-right: 1px solid #8ed1f4;
	font-size: 11px;
}
.infoinput {
	border-left: 1px solid #3a607d;
	border-top: 1px solid #3a607d;
	border-bottom: 1px solid #8ed1f4;
	border-right: 1px solid #8ed1f4;
	font-size: 11px;
	background: #ffffff;
	color: #000000;
	width: 100px;
	height: 18px;
}
label.error {
	font-size: 10px;
	color: #ffffff;
	width: 180px;
	display: block;
}
input.error {
	border: 1px dotted #ff2a00;
}
.commentThis {
	width: 100%;
	background-color: #33353F;
}
.textComm {
	width: 394px;
	height: 67px;
	border-top: 1px solid #315674;
	border-left: 1px solid #315674;
	border-bottom: 1px solid #95c0e1;
	border-right: 1px solid #95c0e1;
}
.subbCommentForm {
	width: 83px;
	height: 21px;
	border: 0;
	background-image: url(/$files/pic/sendComment.gif);
	cursor: pointer;
}
.subbCommentForm_o {
	width: 83px;
	height: 21px;
	border: 0;
	background-image: url(/$files/pic/sendComment_o.gif);
	cursor: pointer;
}
.obrsvayz {
	width: 100%;
	background-color: #2c485e;

}
.smallBlueTextik {
	font-size: 11px;
	color: #7597bc;
}
.finput {
	width: 106px;
	height: 15px;
	border-left: 1px solid #1b364b;
	border-top: 1px solid #1b364b;
	border-bottom: 1px solid #4a789a;
	border-right: 1px solid #4a789a;
	background-color: #ffffff;
	font-size: 11px;
	color: #2c485e;
}
.textareObr {
	border-left: 1px solid #1b364b;
	border-top: 1px solid #1b364b;
	border-bottom: 1px solid #4a789a;
	border-right: 1px solid #4a789a;
	width: 244px;
	height: 98px;
	background-color: #ffffff;
	font-size: 11px;
	color: #2c485e;
}
.obrSabmit {
	background-image: url(/$files/pic/sentFrom.gif);
	width: 77px;
	height: 20px;
	border: 0;
}
.datetext {
	font-size: 11px;
	color: #000000;
}
.news_banner h1{
	background-image: url(/$files/pic/design/news_banner.jpg);
	background-repeat: no-repeat;
	font-size: 13px;
	text-decoration: none;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 100%;
}
.news_banner_1{
	background-image: url(/$files/pic/design/news_banner.jpg);
	background-repeat: no-repeat;
	font-size: 13px;
	text-decoration: none;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 100%;
}
.news_banner_2{
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}
.news_banner_3 h1{
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}
.news_banner_4{
	background-image: url(/$files/pic/news_banner_2.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto;
	font-size: 13px;
	text-decoration: none;
	text-align: right;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}
.news_banner_5{
	background-image: url(/$files/pic/news_banner_2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto;
	font-size: 13px;
	text-decoration: none;
	text-align: left;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}
.news_banner_6 a{
	background-image: url(/$files/pic/news_banner_3.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto;
	font-size: 13px;
	text-decoration: none;
	text-align: left;
	color: #ffffff;
	padding-left: 30px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}


/* всплывающий текст */


.coo {
	padding: 25px;
	margin: 0 auto;
	width: 800px;
	font-family: Arial;
}

.tooltip {
	border-bottom: 0px dotted #0077AA;
	cursor: ;
	color: #0077AA;
}

.tooltip:hover {
	color: #0099CC;
}

.tooltip:after {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -24px;
	margin-left: 0px;
	width: 240px;
	opacity: 0;
	padding: 3px 7px;
	position: absolute;
	visibility: hidden;

	transition: all 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.tooltip:hover:after {
	opacity: 1;
	visibility: visible;
}

.tooltip2 {
	border-bottom: 0px dotted #0077AA;
	cursor: ;
	color: #0077AA;
}

.tooltip2:hover {
	color: #0099CC;
}

.tooltip2:after {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -24px;
	margin-left: 0px;
	width: 120px;
	opacity: 0;
	padding: 3px 7px;
	position: absolute;
	visibility: hidden;

	transition: all 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.tooltip2:hover:after {
	opacity: 1;
	visibility: visible;
}

.htooltip, .htooltip:visited, .tooltip:active {
	color: #0077AA;
	text-decoration: none;
}

.htooltip:hover {
	color: #0099CC;
}

.htooltip span {
	background-color: rgba(0,0,0, 0.8);
	border-radius: 15px 15px 15px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	margin-left: 2px;
	margin-top: -75px;
	opacity: 0;
	padding: 10px 10px 10px 40px;
	position: absolute;
	text-decoration: none;
	visibility: hidden;
	width: 350px;
	z-index: 10;

	-moz-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.htooltip:hover span {
	position: absolute;
	opacity: 1;
	visibility: visible;
}

.htooltip span img {
	border: 0 none;
	float: left;
	margin: -71px 0 0 -234px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: -1;

	-moz-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.htooltip:hover span img {
	opacity: 1;
	visibility: visible;
}
/*     */

/* CountDown */

#counter {
	width: 100%;
	height: 49px;
	margin: 0px auto 0 auto;
	font-size: 21px;
	color: #f8f8f8;
	font-weight: normal;
	line-height: 30px;
	overflow: hidden;
	margin-left: 5px;
}

#counter p {
	float: left;
	padding: 0;
	margin: 6px 6px 0 2px;
	color: #eef0ef;
}

#counter div {
	float: left;
	position: relative;
	margin: 6px 3px 0 0;
	padding: 0;
	background: #eef0ef center left repeat-x;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#counter div::before, #counter div::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 1px;
	right: 1px;
	top: 0;
	z-index: -1;
	background: #eef0ef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29,29,29,0)), to(rgba(255,255,255,.03)));
	background-image: -webkit-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -moz-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -ms-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -o-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
}

#counter div::after {
	left: 2px;
	right: 2px;
	bottom: -7px;
	z-index: -2;
	-moz-box-shadow: 0 10px 10px -6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 10px 10px -6px rgba(0,0,0,.5);
	box-shadow: 0 10px 10px -6px rgba(0,0,0,.5);
}

.digit { width: 20px; position: absolute; top:0; left:0; padding:0; }

#counter div p {
	position: relative; width: 20px; height: 30px;line-height: 30px;
	padding: 0;
	margin: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 0;
	color: #2d2d2d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29,29,29,0)), to(rgba(255,255,255,.03)));
	background-image: -webkit-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -moz-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -ms-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: -o-linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
	background-image: linear-gradient(top, rgba(29,29,29,0), rgba(255,255,255,.03));
}


#text {
	width: 100%;
	margin: 0px auto 0px;
	font-size: 14px;
	font-weight:normal;
	color: #ffffff;
}

.days, .hours, .minutes, .seconds {
	float: left;
}

.days {
	margin: 0 0 0 975px;
}
.hours {
	margin: 0 0 0 16px;
}
.minutes {
	margin: 0 0 0 14px;
}
.seconds {
	margin: 0 0 0 12px;
	visibility: hidden;
}

/* CountDown */

td.start_themes{
	background: url('/$files/pic/chevron_left.png') no-repeat;
	background-position: left 40%;
	width: 35px;
}

td.end_themes{
	background: url('/$files/pic/chevron_right.png') no-repeat;
	background-position: right 50%;
	width: 15px;
}

tbody.text_translation img {
	width: 400px;
	height: 300px;
	margin: 5px 3px;
}

/*Media Queries*/

@media screen
and (max-device-width: 480px){
	table.search_result td.search_result_title h4{
		font-size: 20px;
	}
	table.search_result td.search_result_title h3{
		font-size: 22px;
	}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

.left_nav_item:hover {
	background: #dedee3;
}

blockquote {
	font-family: Georgia, "PT Serif Caption", serif;
	font-style: italic;
	font-size: 0.875em;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right:15px;
	padding-left: 15px;
	border-left: 0.5em solid #ccc;
}
