div.facebook .pp_top .pp_left{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;
}
.pp_middle{
	background: none;
}

div.facebook .pp_top .pp_right{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;
}
div.facebook .pp_content .ppt{
	color:#000;
	background:#6e9bbf;
	height: 396px;
}

div.facebook .pp_content{
	background:#6e9bbf;
	height: 396px;
}

div.facebook {
	background:#6e9bbf;
	height: 396px;
}
.pp_top {
	background-color:#33353F;
}
div.facebook .pp_expand{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/more1.png) no-repeat;
	cursor: pointer;
}
div.facebook .pp_expand:hover{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/more.png) no-repeat;
	cursor: pointer;
}
div.facebook .pp_contract{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/less.png) no-repeat;
	cursor: pointer;
}
div.facebook .pp_contract:hover{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/less1.png) no-repeat;
	cursor: pointer;
}
div.facebook .pp_close{
	width:41px;
	height:34px;
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/x.png) no-repeat;
	cursor: pointer;
	
	
}
div.facebook #pp_full_res .pp_inline{
	
}
div.facebook .pp_loaderIcon{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/loader.gif) no-repeat;
}
div.facebook .pp_nav .pp_arrow_previous{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
	height:22px;
	margin-top:0;
	width:22px;
}
div.facebook .pp_arrow_previous.disabled{
	background-position:0 -96px;
	cursor:default;
}
div.facebook .pp_nav .pp_arrow_next{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
	height:22px;
	margin-top:0;
	width:22px;
}
div.facebook .pp_arrow_next.disabled{
	background-position: -32px -96px;
	cursor:default;
}
div.facebook .pp_nav{
	margin-top:0;
}
div.facebook .pp_nav p{
	font-size:15px;
	padding:0 3px 0 4px;
}
div.facebook .pp_next:hover{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/btnNext.png) center right no-repeat;
	cursor: pointer;
}
div.facebook .pp_previous:hover{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
	cursor: pointer;
}
div.facebook .pp_bottom .pp_left{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;
}
div.facebook .pp_bottom .pp_middle{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;
}
div.facebook .pp_bottom .pp_right{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;
}
div.pp_pic_holder a:focus{
	outline:none;
}
.currentTextHolder{
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 12px;
	padding-left: 17px;
	padding-top: 6px;
	height: 14px;
	background-color: #33353F;
}
div.pp_overlay{
	background:#000;
	display: none;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:9500;
	height: 100%;
}
div.pp_pic_holder{
	display: none;
	position:absolute;
	width:150px;
	height: 150px;
	z-index:10000;
	height: 396px;
}
.pp_top{
	height:20px;
	position: relative;
}
* html .pp_top{
	padding:0 20px;
}
* html .pp_top .pp_middle{
	left:0;
	position: static;
}

.pp_content{
	height: 396px;
	background:#33353F;
}
.pp_content .ppt{
	left:auto;
	margin-bottom:5px;
	position: relative;
	top:auto;
	height: 396px;
}
.pp_fade{
	display: none;
}
.pp_content_container{
	position: relative;
	text-align: left;
	width:100%;
	height: 396px;
}
.pp_content_container .pp_left{
	padding-left:20px;
}
.pp_content_container .pp_right{
	padding-right:20px;
}
.pp_content_container .pp_details{
	margin:0 0 0 0;
}

.pp_nav{
	clear: left;
	float: left;
	margin:3px 0 0 0;
}
.pp_nav p{
	float: left;
	margin:2px 4px;
}
.pp_nav a.pp_arrow_previous,.pp_nav a.pp_arrow_next{
	display:block;
	float: left;
	height:15px;
	margin-top:3px;
	overflow: hidden;
	text-indent: -10000px;
	width:14px;
}
.pp_hoverContainer{
	position:absolute;
	top:0;
	width:100%;
	z-index:2000;
	height: 396px;
}
a.pp_next{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display:block;
	float: right;
	height:100%;
	text-indent: -10000px;
	width:49%;
}
a.pp_previous{
	background: url(/$files/pic/prettyPhoto/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display:block;
	float: left;
	height:100%;
	text-indent: -10000px;
	width:49%;
}
a.pp_expand,a.pp_contract{
	cursor: pointer;
	display: none;
	height:20px;
	position:absolute;
	right:10px;
	text-indent: -10000px;
	top:30px;
	width:20px;
	z-index:20000;
}
a.pp_close{
	display:block;
	float: right;
	text-indent: -10000px;
}
.pp_bottom{
	height:20px;
	position: relative;
}
* html .pp_bottom{
	padding:0 20px;
}

* html .pp_bottom .pp_middle{
	left:0;
	position: static;
}

.pp_loaderIcon{
	display:block;
	height:60px;
	left:45%;
	margin: 20px 0 0 -12px;
	position:absolute;
	top:45%;
	width:76px;
}
#pp_full_res{
	line-height:1 !important;
}
#pp_full_res .pp_inline{
	text-align: left;
}
#pp_full_res .pp_inline p{
	margin:0 0 15px 0;
}
div.ppt{
	color:#fff;
	display: none;
	font-size:17px;
	left:0;
	position:absolute;
	top:0;
	z-index:9999;
	
}
.clearfix:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
	height: 396px;
}

.pp_details  {
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	padding-left: 30px;
	background:#33353F;
	
}
.pp_description{
	display: none;
	background:#33353F;
}