.scrollable {
	position:relative;
	overflow:hidden;
	width: 950px;
	*width: 950px;
	height:66px;
}
.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}

.scrollable img {
	float:left;
	margin-right:3px;
	cursor:pointer;
	width:118px;
	height:66px;
}

#scrollable_mainblock {
	position:relative;
	overflow:hidden;
	clear:both;
	width: 457px;
	*width: 457px;
	height: 416px;
}
#scrollable_mainblock .items {
	width:20000em;
	position:absolute;
	clear:both;
	margin:0;     
	padding:0;
}

.items div {
  float:left;
}

#scrollableTopblock {
position:relative;     
overflow:hidden;
clear:both; 
 width:457px;
 height: 416px;
} 
#scrollableTopblock .items {     
width:20000em;     
position:absolute;     
clear:both;     
margin:0;     
padding:0; 

} 

#scrollableTopblock .items div { float:left;   display:block;    } 

/* position and dimensions of the navigator */
.navi {
	width:200px;
	height:20px;
	border: 1px solid yellow;
}


/* items inside navigator */
.navi a {
	width:9px;
	height:9px;
	float:left;
	margin:3px;
	background:url(/$files/pic/bluesquare.png) no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background:url(/$files/pic/redsquare.png) no-repeat;     
}

/* active state (current page state) */
.navi a.active {
	background:url(/$files/pic/redsquare.png) no-repeat;      
}


#scrollableAnons {
position:relative;     
overflow-x:hidden;
clear:both; 
 width:240px;
 height: 235px;
} 
#scrollableAnons .items {     
width:20000em;     
position:absolute;     
clear:both;     
margin:0;     
padding:0; 
 height: 235px;
 overflow: hidden;
} 

#scrollableAnons .items div { float:left;   display:block;    width:240px; height: 280px;  } 


#scrollableFaces {
position:relative;     
overflow:hidden;
clear:both; 
 width:240px;
 height: 490px;
} 
#scrollableFaces .items {     
width:20000em;     
position:absolute;     
clear:both;     
margin:0;     
padding:0; 

} 

#scrollableFaces .items div {  display:block; float: left; width:240px; height: 490px;  } 











.scrollableGalery {
	position:relative;
	overflow:hidden;
	width: 424px;
	height:62px;
}

.scrollableGalery .items {
	width:20000em;
	position:absolute;
	clear:both;
}

.scrollableGalery img {
	float:left;
	margin-right:2px;
	cursor:pointer;
	width:83px;
	height:62px;
}

.next, .prev {   
position:absolute;     
top:40%;
-moz-border-radius:5px;
-webkit-border-radius:5px;
} 

.progress {     
position:absolute;     
top:45%;     
left:50%;     
display:none; 
}


#monthpanes {
position:relative;     
overflow:hidden;
clear:both; 
 width:457px;
 height: 220px;
} 
#monthpanes .items {     
width:20000em;     
position:absolute;     
clear:both;     
margin:0;     
padding:0; 

} 

#monthpanes .items div {     float:left;     display:block;    width:227px;      cursor:pointer;     font-size:12px; } 

#monthnamepanes {
position:relative;     
overflow:hidden;
clear:both; 
 width:340px;
 height: 15px;

} 
#monthnamepanes .items {     
width:20000em;     
position:absolute;     
clear:both;     
margin:0;     
padding:0; 

} 

#monthnamepanes .items div {     float:left;     display:block;   width:170px;   margin-right: 70px;   cursor:pointer;     font-size:12px; } 