.box-modal {
	position: relative;
	width: 388px;
	height: 390px;
	padding: 16px;
	background: transparent;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	/*box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);*/
	border-radius: 6px;
}
/*.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }*/
.box-modal_close {
    background: #FFFFFF;
    color: #606061;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.box-modal_close:hover { background: #6E9BBF; }
