.CB{clear:both;}
#wrap{width:910px; margin:auto;}


/* Demo 01 */
/*
MENU | Icon Size : 128px x 128px 
*/
.navigation01{ /*background-image:url(../img/bgNavDiv.png);
background-repeat:repeat-x;
background-position:0 bottom;*/

}

#navDemo01{ 
/*height:80px; /*max height depend of max size icon (mouseOver) and size of navActive Background. Here no activeNav => ex: 128px+0px = 128px */
margin:0 auto;
/*background-image:url(../img/bgMenu.png);
background-repeat:repeat-x;
background-position:0 bottom;*/
padding:0 !important;
}


#navDemo01 li{
float:left; /*IE 7 Hack with Float + Margin-Top */

}


#navDemo01 li.navActive a{ background-image:url(../img/navActive.png); background-repeat:no-repeat; background-position:center bottom; }
#navDemo01 li a{
position:relative;
 display:block;
float:left;
 width:65px; /* size of the icon when mouse is out */
 height:65px; /* size of the icon when mouse is out */
 /*margin-top:32px; *//*result of (iconSize_Over - iconSize_Out) => ex : 128px - 64px = 64px*/
margin:32px 0 0 0;
text-decoration:none;
padding-bottom:7px;
/*background-image:url(../img/bgMenu1.png); background-repeat: no-repeat; background-position: center bottom;*/
}
#navDemo01 li a img{ width:90%; }



/* Demo 02 */
/*
MENU | Icon Size : 128px x 128px 
*/

.navigation02{ background-image:url(../img/bgNavDiv.png);
background-repeat:no-repeat;
background-position:0 bottom;margin: 0 0 0 15px;}

#navDemo02{ 
width:448px;
height:143px; /*max height depend of max size icon (mouseOver) and size of navActive Background. ex: 128px+15px = 143px */
margin:0 auto;
background-image:url(../img/bgMenu.png);
background-repeat:repeat-x;
background-position:0 bottom;
}


#navDemo02 li{
*float:left; /*IE 7 Hack with Float + Margin-Top */

}

#navDemo02 li.navActive a{ background-image:url(../img/navActive.png); background-repeat:no-repeat; background-position:center bottom; }
#navDemo02 li a{
position:relative;
 display:block;
float:left;
 width:64px; /* size of the icon when mouse is out */
 height:64px; /* size of the icon when mouse is out */
 margin-top:64px; /*result of (iconSize_Over - iconSize_Out) => ex : 128px - 64px = 64px*/
padding-bottom:15px; /* to display the navActive Background */
text-decoration:none;
}
#navDemo02 li a img{ width:100%;}

/*TIPS */
#navDemo02 li span.tips{position: absolute; display:block; top:10px; left:70px; padding:5px; background-color:#F0F0F0; color:#448ab0; text-decoration:none; font-weight:bold; }


/*AJAX CONTENT*/
div.ajaxContent{ border:1px dotted  #999;margin: 0 6px 0 20px;}
div.ajaxContent h2{ font-size:18px; font-weight:bold;margin: 16px 20px 16px 35px;font-variant: normal; border-bottom:1px solid #333;padding:0 0 6px 0;}
div.ajaxContent p{ line-height:1.3;margin: 16px 20px 16px 35px; font-style: normal; color:#333; }

.navigation01 ol, ul {
	list-style: none;
}

.navigation01 caption, th, td {
	/*text-align: left;
	font-weight: normal;*/
}

.navigation01 blockquote:before, .navigation01 blockquote:after,
.navigation01 q:before, .navigation01 q:after {
	content: "";
}

.navigation01 blockquote, .navigation01 q {
	quotes: "" "";
}