﻿@font-face {
  font-family: BTitrBold;
  src: url('fonts/BTitrBold.eot?#') format('eot'),  
       url('fonts/BTitrBold.woff') format('woff'),  
       url('fonts/BTitrBold.ttf') format('truetype'); 
}

@font-face {
  font-family: bnassim;
  src: url('fonts/nassim-bold.eot?#') format('eot'),  
       url('fonts/nassim-bold.woff') format('woff'),  
       url('fonts/nassim-bold.ttf') format('truetype'); 
}

@font-face {
    font-family: "b mitra";
    src: url("fonts/BMitra.eot?#") format("eot"), url("fonts/BMitra.woff") format("woff"), url("fonts/BMitra.ttf") format("truetype");
}
@font-face {
    font-family: "b yekan";
    src: url("fonts/BYekan.eot?#") format("eot"), url("fonts/BYekan.woff") format("woff"), url("fonts/BYekan.ttf") format("truetype");
}
@font-face {
    font-family: 'IRNazanin';
    src: url('fonts/irnazaninregular.eot');
    src: url('fonts/irnazaninregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/irnazaninregular.woff2') format('woff2'),
         url('fonts/irnazaninregular.woff') format('woff'),
         url('fonts/irnazaninregular.ttf') format('truetype'),
         url('fonts/irnazaninregular.svg#irnazaninregular') format('svg');
  font-weight: 400;
  font-style: normal;
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend , caption, tbody, tfoot,  article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.toolbaritem {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    width: 20px;
}
.toolbaritem.refresh {
    background: transparent url("images/refresh.png") no-repeat scroll 0 3px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: outside none none;
}
table, thead, tr, th, td {
     font: inherit;
  margin: 0 auto;
    padding: 0;
    vertical-align: baseline;
}

body {

    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    direction:rtl;
   font-family:"b yekan" !important;
}
a img {
    transition: opacity 0.2s ease 0s;
}

.left, .alignleft {
    float: left;
}
.right, .alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.group::before, .group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}

.heading, #reply-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.heading i {
    font-size: 22px;
    margin-right: 6px;
}
#wrapper {
    height: 100%;
    min-width: 1024px;
}
.container-inner {
    margin: 0 auto;
}

#header {
    background: #074f9b none repeat scroll 0 0;
    position: relative;
}
#header .pad {
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative;
}
#header .container-inner {
    position: relative;
}


#nav-header.nav-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #000 none repeat scroll 0 0;
    border-color: #000;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    border-radius:0;
    z-index: 97;
    font:18px irnazanin;
}



/*<<<<msd>>>>*/
.header-tools{
    border:1px solid #00de9b;
    border-radius:3px;
    padding:4px 6px;
    width:30px;
    height:30px;
    margin-right:5px;
}

.search {
    background: rgba(0, 0, 0, 0) url("/resource/images/search16-bg.png") no-repeat scroll 0 0;
    width: 190px;
    border-radius:3px;
}

.searchbox 
{
    background-color:#00de9b;
    border-radius:3px;
}
.searchbox .searchtext{
    background-color:transparent;
    border:none;
    height:30px;
}



.adv-txt16 .adv-item {
    background-color:#7d7d7d;
    border-radius:10px;
    margin:5px 0;
    height:50px;
    font:18px irnazanin;
    color:#fff;
    text-decoration:none;
}

.adv-txt16 .adv-item:hover{
    background-color:#4a515b;
}
.adv-txt16 .adv-item img{
background-color:#ebebeb;
border-radius:5px;
width:100px;
height:40px;
float:right;
margin:5px;
overflow:hidden;
}

.adv-txt16 .adv-item .adv-title{
padding-top:12px;
}


.block16{
    margin-top: 15px;
    border:1px solid #eee;
    border-radius:5px;
}
.block16 .title{
    margin-top:-10px;
    margin-right:15px;
    background-color:#c3c3c3;
    width:100px;
    text-align:center;
    height:30px;
    color:#fff;
    font:bold 18px  irnazanin;
}
.block16 .title1{
    margin-top:-10px;
    margin-right:15px;
    width:100px;
    text-align:center;
    height:30px;
    background-color:#fff;
    color:#0f9d58;
}
.block16 .latesttitr{
    font:16px irnazanin;
    color:#000;
    text-decoration:none;
    background: url("/resource/images/service16-bullet.png") no-repeat right center;
    padding-right:25px;
    margin-bottom:15px;
}
.block16 .latesttitr:hover{
    background: url("/resource/images/service16-bullet-orang.png") no-repeat right center;
}
.block16 .content
{
    padding:5px;
    background-color:#fff;
    margin:2px;
    border-radius:5px;
   
}
.block16 .content .media-list img
{
    border-radius:5px;
}
.block16 .content .Ntitr
{
    font-weight:bold;
    color:#000;
    text-decoration:none;
}
.block16 .content .Ntitr1 {
    font-weight:bold;
    color:#000;
    text-decoration:none;
    background: url("/resource/images/service16-bullet.png") no-repeat right 5px;
    padding-right:20px;
}
.block16 .content .media-list .writer
{
    text-wrap:none;
    font-size:13px;
}
.block16 .content .media {
   padding-bottom:5px;
   border-bottom: 1px solid #cdcdcd;
}
.block16 .content .media:last-child {
   padding-bottom:0;
   border-bottom: none;
}
.block16 .content>.block>.title
{
display:none;
}


.lastnews .content .media {
   padding-bottom:15px !important;
}

.lastnews .content .media .more{
   display:none;
   background-color:#0b9c57;
   border-radius:3px;
   float:left;
   width:70px;
   text-align:center;
   color:#fff;
   text-decoration:none;
}
.lastnews .content .media:hover .more{
   display:block;
}

.lastnews .content .archive-block{
    position:relative;
    overflow:hidden;
    padding-top:10px;
}
.lastnews .content .archive-block .divider{
position:absolute;
top:0;
left:0;
}
.lastnews .content .archive-block .Button{
    background-color:#ccc;
    width:100px;
    float:left;
    text-align:center;
    color:#fff;
    border-radius:3px;
    text-decoration:none;
}
.lastnews, .thumb{
    border-color:#c3c3c3;
}


.thumb .content .Ntitr1 {
    height: 50px;
    overflow: hidden;
}
.thumb .content .thumbnail1 .tools {
    height: 20px;
    overflow: hidden;
    margin-bottom:3px;
    background: url("/resource/images/thumb16-bg.png") no-repeat center top ;
    background-color: #858585;
    padding:0 5px;
    color:#fff;
    border-radius:3px;
}
.thumb .content .thumbnail1:hover .tools {
    background-color: #0f9d58 !important;
}
.thumb .content .thumbnail1 .tools .more {
    color:#fff; 
}
.thumb .content .thumbnail1 .tools .time {
    background: url("/resource/images/clock.png") no-repeat right 5px;
    padding-right:13px;
}

.topservic {
    margin-top: 15px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:5px;
    background-color:#fff;
}
.topservic .Ntitr {
    font-weight:bold;
    color:#000;
    text-decoration:none;
    background: url("/resource/images/service16-bullet.png") no-repeat right center;
    padding-right:25px;
}
.topnewsnav{
    padding:5px;
    min-height:60px;
    border-bottom:1px solid #ccc;
}
.topnewsnav.active  .Ntitr {
    background: url("/resource/images/service16-bullet2.png") no-repeat right center;
    color:#ff9000;
}
.topnews .more{
    background-color:rgba(255,255,255,0.8);
    width:70px;
    float:left;
    text-align:center;
    color:#000;
    border-radius:3px;
    text-decoration:none;
    position:absolute;
    left:20px;
    bottom:15px;
}



/* Make it a marquee */
.newsmarquee {
    width: 100%;
    margin: 8px auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: newsmarquee 30s linear infinite;
}

.newsmarquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes newsmarquee {
    0%   { text-indent: 100% }
    100% { text-indent: -100% }
}

.products .productsnav{
    background-color:#b7b7b7;
    border-radius:5px;
    height: 20px;
}
.products .productsnav li{
    background-color:#0f9d58;
    border-radius:7px;
    width:14px;
    height:14px;
    float:right;
    margin:3px;
}


.item .headItem{
    background-color:#b6b6b6;
    padding:10px;
}
.item .headItem div {
    padding:0;
}

.item .bodyItem {
    padding:10px;
}
.item .bodyItem .rotitr {
   font: 12px Tahoma;
    color:#000;
    text-decoration:none;
    background: url("/resource/images/item16-bullet.png") no-repeat right center;
    padding-right:25px;
}

.item .toolprint
 { 
    background: url("images/service16-print-version.png") no-repeat scroll center transparent;
    display: inline-block;
    height: 15px;
    width: 20px;
 }

.item .toolmailnews
{
    background: url("images/service16-sent-to-friends.png") no-repeat scroll center transparent;
    display: inline-block;
    height: 15px;
    width: 20px;
}
.item .titr{
    text-align:justify;
    color:#000;
    font:bold 18px irnazanin;
}
.item .ItemLide {
    border:1px solid #0f9d58;
    padding:15px;
    border-radius:5px;
    margin:15px auto;
}
.item .ItemContent{
    text-align:justify;
    font: 15px bnassim;
}
.item #tagsarea {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.item #tagsarea li {
    float: right;
    height: 30px;
    margin-left: 7px;
}
.item #tagsarea li a {
    border: 1px solid #ccc;
    color: #333;
    padding: 3px;
    text-decoration: none;
    border-radius:3px;
}
.item #tagsarea li a:hover {
    background-color: #ccc;
}
.item .relatednews a{
    color:#666;
    text-decoration:none;
    background: url("/resource/images/service16-bullet.png") no-repeat right center;
    padding-right:25px;
}
.item .relatednews a:hover{
    color:#000;
    text-decoration:none;
    background: url("/resource/images/service16-bullet-orang.png") no-repeat right center;
    padding-right:25px;
}
.item .itemtitles
{
    font-weight:bold;
    font-size:18px;
    color:#000;
    text-decoration:none;
    background: url("/resource/images/item16-bullet.png") no-repeat right center;
    padding-right:25px;
    margin-bottom:15px;
}

/**comment */

.commentblock .title {
    font-size:20px;
     color: #fff;
    margin-bottom: 13px;
    background-color:#cdcdcd;
    border-radius:5px;
    padding:10px;
}
.user-comment {
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 10px;
}
.comment-content {
    margin: 10px 0;
}
.comment-tools > div {
    margin-left: 7px;
}
.comment-tools span {
    margin-right: 5px;
}
.imgcaptcha
{
    width:100%;
    height:auto;
    border:none !important;
}
.replybox {
    padding-right: 70px;
    margin: 18px 0 0 0;
}
.childe-comment {
    padding-top: 15px;
    border-top: 1px dashed #cccccc;
    margin-top: 10px;
    margin-right: 40px;
}
/****end comment*/


/*<<<<end-msd>>>>*/


.archiveitem:nth-child(2n) {
    background-color: #e0e0e0;
}
.archiveitem {
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    margin: 5px;
    min-height: 135px;
    padding: 10px;
}
.archiveitem:hover {
    box-shadow: 5px 5px 5px #888888;
}
.archiveitem .titr a {
    color: #094c90;
    font: bold 16px bnassim;
    min-height: 110px;
    text-decoration: none;
}
.archiveitem .photo {
    float: right;
}
.archiveitem .photo {
    float: right;
    height: 100px;
    margin: 5px;
}
.archiveblock {
    background-image: url("images/archive.png");
    display: block;
    float: left;
    height: 27px;
    margin-left: 5px;
    margin-top: -5px;
    width: 11px;
}

.PagedList-pager > ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font:16px nazanin;
}
.PagedList-pager > ul > li {
    display: inline-block;
    margin: 0.25em;
}

.pagination.PagedList-pager a {
    background-color: #f7f7f7;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-shadow: 0 2px 0 #e6e6e6;
    color: #313131;
    font: bold 11px b nazanin;
    margin: 0 3px;
    padding: 4px 12px;
    text-decoration: none;
}
.pagination.PagedList-pager a:hover {
    background-color: #ffe067;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 0 #cccccc;
    color: #000000;
    text-shadow: 0 1px 0 #cccccc;
}
.pagination.PagedList-pager li.active a {
    background-color: #ffe067;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 0 #cccccc;
    color: #000000;
    text-shadow: 0 1px 0 #cccccc;
}

.Button-archive{
    background-color:#888;
    width:100px;
    float:left;
    text-align:center;
    color:#fff;
    border-radius:3px;
    text-decoration:none;
}

/*new tamin*/
.topheader{
    height:30px;
    background-color:#05203d;
}
.nav > li > a {
    padding: 15px 7px !important;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#nav-header.nav-container {
    background: transparent;
    border-color: #0099ff;
}
.navbar-brand, .navbar-nav > li > a {
    color: #fff !important;
    text-shadow:none !important;
}
.footer{
    background:#666;
    text-align:center;
    padding-top: 7px;
}

.footer-menu {
    border: 1px solid #ffffff;
    border-bottom:none;
    display: inline-block;
    padding: 5px 10px;
    font:12px irnazanin;
}
.footer-menu .footer-munu-item {
    border-left: 1px solid #ffffff;
    float: right;
    padding: 0 5px;
}
.footer-menu .footer-munu-item:nth-last-child(2) {
    border: medium none;
}
.footer-menu .footer-munu-item a {
    color: #ffffff;
    text-decoration: none;
}
.tarnama {
    background: url("/resource/images/tg-logo.png") no-repeat ;
    height:30px;
    width:150px;

}
.lastrotatenews1{
    background-color:#a9b3bc;
    height:32px;
    overflow:hidden;
    padding:5px;
}
.lastrotatenews a {
    color:#000;
    font:14px irnazanin;
    text-decoration:none;
}


.block > .title {
    border-bottom: 2px solid #ccc;
    color: #000;
    font: bold 14px b nazanin,times new roman;
    padding: 2px 10px 0 0;
    margin-bottom:2px;
}

.block > .title1 {
    background-color: #074f9b;
    color: #fff;
    font:  15px bnassim;
    padding: 2px 10px 0 0;
}
.block > .title1 a {
    color: #cdcdcd;
    text-decoration:none;
    margin-left:5px;
    font: bold 14px irnazanin;
}
.block > .title1 a:hover {
    color: #fff;
}
.block > .content {
    border: 1px solid #ccc;
    padding: 5px;
    font-family:bnassim;
}
.block > .content .lid{
font:14px irnazanin;
}

.block > .content .glyphicon{
    margin-left:5px;
}
.block > .content .media{
    color:#000;
}
.block > .content .media:hover{
    color:#3b8dbd;
}
.block > .content a{
    color:#000;
}

.adv-txt2 .adv-item {
    background-color:#7d7d7d;
    height:42px;
    font:16px irnazanin;
    color:#fff;
    text-decoration:none;
    white-space: nowrap;
    border:1px solid #888888;
}

.adv-txt2 .adv-item:hover{
    background-color:#fff;
    border-color:#fff;
}


.adv-txt2 .adv-item .adv-img{
    background-color:#3b3939;
    width:40px;
    height:40px;
    float:right;
    margin-left:5px;
    overflow:hidden;
    padding:7px;
}
.adv-txt2 .adv-item:hover .adv-img{
    background-color:#008ef8;
    padding:4px;
}

.adv-txt2 .adv-item .adv-title{
    padding-top:7px;
    overflow:hidden;
}
.adv-txt2 .adv-item:hover .adv-title{
    color:#000;
}

.adv-txt{
    border:1px solid #ccc;
    padding:5px;
}
.adv-txt .adv-item {
    height:52px;
    font:15px bnassim;
    color:#000;
    text-decoration:none;
    white-space: nowrap;
    border-bottom:1px solid #ccc;
    padding:5px 0;
}

.adv-txt .adv-item .adv-img{
    background-color:#3b3939;
    width:40px;
    height:40px;
    float:right;
    margin-left:5px;
    overflow:hidden;
    padding:7px;
}
.adv-txt .adv-item:hover .adv-img{
    background-color:#ff6d00;
    padding:4px;
}

.adv-txt .adv-item .adv-title{
    padding-top:7px;
    overflow:hidden;
}
.adv-txt .adv-item:hover .adv-title{
    color:#ff6d00;
}

.adv-2col  {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.searchboxarea
{
    background-color:#e0e0e0;
    border-radius:2px;
    padding:5px;
    margin:10px 0;
}
.searchboxarea .form-control
{
    background-color:transparent;
    box-shadow:none;
}
.searchboxarea .btn-default
{
    background:none;
    border-radius:4px !important;
}

.latestmvn .newslist > div {
    display: none;
}
.latestmvn .tabitem {
    cursor: pointer;
    font: bold 16px b nazanin;
    text-align: center;
    width: 50%;
    color:#666;
}
.latestmvn .tabitem.active {
    color: #000;
}

.latestmvn .newslist a {
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    display: block;
    margin-bottom: 5px;
    padding: 0 9px 3px 0;
    text-decoration: none;
    font:14px irnazanin;
}
.latestmvn .newslist a:hover {
    color: #094c90;
}

 .topnews{
     margin:10px 0;
 }   
.topnews .container {
    background-color: #fff;
    height: 90px;
    overflow: hidden;
    padding: 7px 20px 0;
    width: 405px;
}
.topnews .container:hover {
    background-color: #d5d5d5;
}
.topnews .container:hover .rotitr, .lead {
    color: #222;
}
.topnews .titr {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
.topnews p {
    font-size: 13px;
    text-align: justify;
}
.topnews .rotitr {
    color: #666;
    font: 13px rnassim;
}
.topnews .lead {
    color: #333;
    font: 13px rnassim;
}

.flexslider {
    border: medium none;
    margin:0;
}
.topnews .flex-direction-nav a::before , .topnews .flex-direction-nav a::before{
    color: #0e77e9 !important;
    padding:0 10px;
    font-size:30px;
}

.topnews .flex-direction-nav a {
    background-color: rgba(0, 0, 70, 0.3);

    border-radius: 100%;
    color: #fff !important;

}
.topnews .flex-direction-nav a:hover {
    color: #d60046 !important;
}
.topnews .flexslider .slides > li {
    position: relative;
}
.topnews .flexslider .flex-control-nav {
    display: none;
}
.topnews .flexslider .slides .flex-caption {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #d60046;
    direction: rtl;
    font-size: 14px;
    left: 0;
    line-height: 18px;
    padding: 2%;
    position: absolute;
    text-align: right;
    width: 100%;
}
.topnews .flexslider .slides .flex-caption a {
    color: #fff;
    text-decoration: none;
}




#importantnews .flex-direction-nav a::before , #importantnews .flex-direction-nav a::before{
    color: #0e77e9 !important;
    padding:0 10px;
    font-size:30px;
}

#importantnews .flex-direction-nav a:hover {
    color: #d60046 !important;
}
#importantnews .flex-control-nav {
    display: none;
}
#importantnews  li {

    padding:0 5px;

}
#importantnews  li > a > img {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 3px;
    /*width: auto !important;*/
}
#importantnews .slides li > a > img:hover {
    background-color: #d60046;
}

#importantnews .flex-caption {
    direction: rtl;
    height:64px;
    overflow:hidden;
}
#importantnews .titr{
    color:#000;
    font:13px/12px irnazanin;
    text-decoration:none;
    background: transparent url("images/bullet-left.png") no-repeat scroll right 7px;
    padding: 0 9px 3px 0;
}
.importants{
    background-color:#c2c2c2;
    padding:5px;
}
#importantnews {
    background-color:#c2c2c2;
    text-align:right;
}

#provincelist2 {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 7px 0;
}
#provincelist2 .tabs {
    border-bottom: 1px solid #094c90;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
#provincelist2 .tab {
    background-color: #3399fe;
    color: #000;
    cursor: pointer;
    font: 14px bnassim;
    text-align: center;
    width: 50%;
}
#provincelist2 .tab.active {
    background-color: #074f9b;
    color: #fff;
}
#provincelist2 .tabs td {
    padding: 4px;
}
#provincelist2 .tabs .title {
    color: #d7555d;
    font: 14px bnassim;
    padding: 4px;
    width: 100px;
}
#provincelist2 ul {
    margin: 0;
    padding: 0;
}
#provincelist2 li {
    display: inline-block;
    float: right;
    margin: 2px;
    width: 130px;
    font:13px irnazanin;
}
#provincelist2 li:hover {
    background-color:#ccc;
}
#provincelist2 a {
    color: #094c90;
    text-decoration: none;
}
#provincelist2 a:hover {
    color: #d7555d;

}
#provincelist2 .active {
    font-weight: bold;
}
#provincelist2 .area {
    padding: 10px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
    color:#05203d !important;
}


.titrnote {
    text-indent: 5px;
}
.titrnote:hover {
    color: #074f9b;
}
.titrnote i {
    background: rgba(0, 0, 0, 0) url("images/noteicon00.png") no-repeat scroll right top;
    display: inline-block;
    height: 18px;
    margin-bottom: -7px;
    transition: all 0.3s ease-in-out 0s;
    width: 16px;
}
.titrnote:hover i {
    background: rgba(0, 0, 0, 0) url("images/noteicon00.png") no-repeat scroll right -18px;
    transition: all 0.3s ease-in-out 0s;
}


.mediamirror .content a, .latestmvn .newslist a {
    background: transparent url("images/bullet-left.png") no-repeat scroll right 7px;
    color: #000000;
    display: block;
    margin-bottom: 5px;
    padding: 0 9px 3px 0;
    text-decoration: none;
    font:14px irnazanin;
}
.mediamirror a:hover {
    color: #f94000;
}
.media:hover a{
    color:#071d71;
}
.divider-responsive1{
    background:url("images/divider-responsive-bg.png")  repeat-x 0 bottom;
    height:20px;
}
.divider-responsive{
    background:url("images/divider-responsive-bg.png")  repeat-x 0 bottom;
    height:5px;
}





.topnews2 .topnewsnav2 li {
    background-color: #ccc;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: 10px b nazanin,arial;
    height: 12px;
    margin-right: 2px;
    padding: 0 3px;
    width: 12px;
}
.topnews2 .topnewsnav2 li.active {
    background-color: #074f9b;
    color: #fff;
}
.topnews2 .newslist1 {
    height: 198px;
    overflow: hidden;
}
.topnews2 .newslist1 > div {
    display: none;
}
.topnews2 .newslist1 .titr a {
    color: #094c90;
    display: block;
    font: bold 18px/18px b nazanin,times new roman;
    margin: 5px 0;
    text-decoration: none;
}
.topnews2 .newslist1 .lide {
    margin-top: 7px;
    text-align: justify;
    font:14px irnazanin;
}
.topnews2 .newslist1 .rotitr {
    font:14px irnazanin;
}


.onlineservices .content a {
    color: #000000;
    display: block;
    margin-bottom: 5px;
    padding: 0 9px 3px 0;
    text-decoration: none;
    font:14px irnazanin;
    border-bottom:1px solid#cdcdcd;
}
.onlineservices .content a:last-child {
    border-bottom:none;
}

.onlineservices  .content a:hover {
    color: #094c90;
}

.onlineservices .content a i {
    background: rgba(0, 0, 0, 0) url("images/bullet_onlineservices.png") no-repeat scroll right bottom;
    display: inline-block;
    height: 7px;
    transition: all 0.3s ease-in-out 0s;
    width: 7px;
    margin-left:3px;    
}
.onlineservices .content a:hover i {
    background: rgba(0, 0, 0, 0) url("images/bullet_onlineservices.png") no-repeat scroll right top;
    transition: all 0.3s ease-in-out 0s;
}


.multimedia .tabs{
    background-color:#282828;
}
.multimedia .newslist > div {
    display: none;
}
.multimedia .tabitem {
    border-left: 1px solid #666;
    color: #666;
    cursor: pointer;
    font: bold 16px b nazanin;
    margin-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.multimedia .tabitem.active {
    color: #3299fe;
}

.multimedia .newslist {
    background-color:#0b0b0b;
    padding:5px;
}

.multimedia .newslist .mmlist {
    color: #000;
    display: block;
    text-decoration: none;
    font:14px irnazanin;
}
.multimedia .newslist .mmlist img{
    border: 1px solid #4b4b4b;
}
.multimedia .newslist .mmlist:hover img{
    border: 1px solid #fff;
}
.multimedia .newslist .mmlist .titr a {
    color: #ccc;
    display: block;
    margin-bottom: 5px;
    padding: 0 9px 3px 0;
    text-decoration: none;
    font:14px irnazanin;
    height:47px;
    overflow:hidden;
}
.multimedia .newslist .mmlist:hover .titr a {
    color: #fff;
}
.statistic{
    font:14px irnazanin;
    text-align:center;
}
.two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
} 
.mmarchive a{
    color:#fff;
    background-color:#666;
    padding:0 7px ;
    border-radius:3px;
    font:12px irnazanin;
    text-decoration:none;
}
.mmarchive a:hover{
    background-color:#074f9b;
    color:#f94000;
    text-decoration:none;
}


/*////////*/

/*.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}*/

.dropdown:hover  > .dropdown-menu {
display: block;
}
/*////////*/

.zirnevis{
    width:100%;
    height:30px;
    position:fixed;
    bottom:0;
    background-color:rgba(00, 120, 225, 0.8);
    font:20px bnassim;
    padding-top:4px;
    color:#291629;
    direction:rtl;
    padding-right:40px;
    padding-left:40px;
    text-shadow: 0 0 3px #FFF, 0 0 5px #FFF;
    
}

.zirnevis-bg-parcham {
  background: -webkit-linear-gradient(left, green,#ffffff, #ff0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, green,#ffffff, #ff0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, green,#ffffff, #ff0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, green,#ffffff, #ff0000); /* Standard syntax */
} 

.menusitemap .verticalmenu2 {
    position:inherit !important  ;

}

.menusitemap .verticalmenu2>ul>li {
    
    border:1px dashed #ccc;
    padding:15px;
}
.menusitemap .verticalmenu2>ul>li>a {
   color:#ff6600;
   font-weight:bold;
   text-decoration:none;
}
    
.menusitemap .verticalmenu2 li>ul>li {
    padding-right:30px !important  ;
    color:#555;
}
/*.adv-txt2  img{
    width:23px !important;
    height:23px !important;
}
.adv-txt2 .adv-item {
    height: 33px !important;
    margin: 4px 0 !important;
    font-size: 13px !important;
}
.adv-txt2 .adv-item .adv-title {
    margin-top: 6px !important;
}*/

 /***mohsen edit 950427*/
 .toolbaritem.calendar {
    background: rgba(0, 0, 0, 0) url("images/calendar-month.png") no-repeat scroll 2px 2px;
}
.toolbaritem {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    width: 20px;
}
 /***end mohsen edit 950427*/
