* {
  box-sizing: border-box;
}
#main #main_content {
  margin-bottom: 0;
}
#main #main_content h1 {
  margin: 0;
}
.frontpage-section {
  margin-top: 50px;
}
h1 {
  height: 50px;
  background-color: #e9e7e4;
  padding-left: 25px;
  position: relative;
  font-size: 22px;
  font-family: KievitSlabRegular, Times, serif;
  color: #731936;
}
h1 span {
  font-weight: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
}
.frontpage-teaser-text {
  margin-bottom: 20px;
}
.frontpage-teaser-text a,
.frontpage-teaser-text a:active,
.frontpage-teaser-text a:visited {
  color: #333;
  font-size: 15px;
}
.frontpage-teaser-text-event {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.frontpage-teaser-text-event a,
.frontpage-teaser-text-event a:active,
.frontpage-teaser-text-event a:visited {
  color: #333;
  display: block;
  font-size: 15px;
}
.frontpage-teaser-text-event .date {
  padding-right: 10px;
  color: #7a303f;
  font-family: KievitSlabMedium, Times, serif;
  font-size: 15px;
  text-transform: uppercase;
}
#hero-images a.read-more-link {
  display: none;
}
#hero-image-slideshow {
  position: relative;
}
#hero-image-slideshow .pager {
  text-align: right;
  z-index: 500;
  position: absolute;
  bottom: 15px;
  right: 25px;
  overflow: hidden;
}
#hero-image-slideshow .pager img {
  width: 100%;
}
#hero-image-slideshow .pager img.active {
  display: none;
}
#hero-image-slideshow .pager div {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
}
#hero-image-slideshow .pager div.cycle-pager-active img.active {
  display: block;
}
#hero-image-slideshow .pager div.cycle-pager-active img.inactive {
  display: none;
}
#hero-image-slideshow .pager div:first-child {
  margin: 0;
}
#hero-image-slideshow .pager div img {
  display: block;
}
#discover-more .node-discover-more-grid > h2 {
  display: none;
}
#discover-more .frontpage-teaser {
  padding: 0;
  width: 19.2%;
  margin: 1% 1% 0 0;
}
#discover-more .field-name-field-row-1-5-frontpage .frontpage-teaser,
#discover-more .field-name-field-row-2-5-frontpage .frontpage-teaser {
  margin-right: 0;
}
#news-and-events .left {
  float: left;
  width: 50%;
  padding: 0 2.5%;
}
#news-and-events .right {
  float: right;
  width: 50%;
  padding: 0 2.5%;
}
#news-and-events h2 {
  margin: 25px 0;
  text-transform: uppercase;
  font-size: 1.07142857em;
  font-family: VaudMedium, sans-serif;
  color: #d92b1b;
}
#news-and-events h2 a {
  color: #d92b1b;
}
#news-and-events .more-link {
  color: #7a303f;
  font-size: 15px;
  float: right;
  margin-top: 10px;
}
#news-and-events .more-link.events {
  margin-right: 50px;
}
#news-and-events .frontpage-teaser {
  float: left;
  margin: 0 2% 2% 0;
  width: 44.44444444%;
}
#news-and-events .view-display-id-featured_news .views-row-2,
#news-and-events .view-display-id-featured_news .views-row-4 {
  margin-right: 0;
}
#news-and-events .view-display-id-featured_news .views-row-3,
#news-and-events .view-display-id-featured_news .views-row-4 {
  margin-bottom: 0;
}
#news-and-events .view-display-id-events {
  margin-right: 40px;
}
#news-and-events .views-row-1 .frontpage-teaser-text-event {
  margin: 0;
}
#news-and-events .views-row-last .frontpage-teaser-text {
  margin: 0;
}
#news-and-events .node-external-page {
  position: relative;
}
#news-and-events .node-external-page img {
  width: 100%;
  height: auto;
}
#news-and-events .node-external-page .group-left {
  width: 100%;
}
#news-and-events .node-external-page .group-right {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#news-and-events .node-external-page .group-right .field {
  position: relative;
  height: 100%;
  width: 100%;
}
#news-and-events .node-external-page .group-right .field-item {
  color: white;
  font-family: KievitSlabRegular, Times, serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 0 50px;
  width: 100%;
  text-align: center;
}
#news-and-events #video-spotlight .file-video h2 {
  display: none;
}
#news-and-events #mobile-video-spotlight {
  display: none;
}
#infographics h1 {
  margin-bottom: 20px !important;
}
#infographics #infographic-slideshow {
  position: relative;
}
#infographics #infographic-slideshow .controls {
  position: absolute;
  top: 0px;
  right: 25px;
  z-index: 1000;
  font-size: 0;
}
#infographics #infographic-slideshow .controls img {
  cursor: pointer;
  width: 25px;
}
#infographics #infographic-slideshow .controls .prev {
  margin-right: 10px;
}
#infographics figure {
  width: 100%;
}
#infographics figure a {
  display: inline-block;
}
#infographics figure a img {
  width: 100%;
  height: auto;
}
#infographics figure > * {
  width: 50%;
}
#footer {
  position: static;
  margin-top: 20px;
}
#cboxTitle {
  display: none !important;
}
/* Phone-specific responsive CSS for the frontpage. */
@media (max-width: 767px) {
  #main #main_content {
    width: 100%;
  }
  #hero-images {
    margin-top: 0;
  }
  #hero-images .pager {
    bottom: -35px;
  }
  #hero-images .pager span {
    width: 20px;
    height: 20px;
    background-image: url(../img/pager-filled-black.png);
  }
  #hero-images .pager span.cycle-pager-active {
    background-image: url(../img/pager-empty-black.png);
  }
  #news-and-events .left,
  #news-and-events .right {
    width: 100%;
  }
  #news-and-events .frontpage-teaser {
    margin: 0 2% 0 0;
    width: 23.5%;
  }
  #news-and-events .frontpage-teaser .text h3 {
    font-size: 0.92857143em;
  }
  #news-and-events .views-row-last .frontpage-teaser {
    margin: 0;
  }
  #news-and-events .view-display-id-events,
  #news-and-events .more-link.events {
    margin-right: 0;
  }
  #news-and-events .node-external-page {
    display: none;
  }
  #news-and-events #mobile-video-spotlight {
    display: block;
  }
  #news-and-events #mobile-video-spotlight-title {
    height: 50px;
    width: 100%;
    position: relative;
  }
  #news-and-events #mobile-video-spotlight-title span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 30px;
    font-family: KievitSlabRegular, Times, serif;
    font-size: 18px;
    text-align: center;
  }
  #infographics #infographic-slideshow {
    margin: 0 2.5%;
  }
  #infographics #infographic-slideshow .controls {
    right: 10px;
  }
  #infographics #infographic-slideshow .controls img {
    width: 35px;
  }
  #infographics #infographic-slideshow .controls .prev {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  #infographics figure > * {
    width: 100%;
  }
}
@media (max-width: 675px) {
  #discover-more .frontpage-teaser .text h3 {
    font-size: 0.85714286em;
  }
}
@media (max-width: 650px) {
  #news-and-events .frontpage-teaser {
    margin: 0 2.5% 2.5% 0;
    width: 48.75%;
  }
  #news-and-events .frontpage-teaser .text h3 {
    font-size: 1.42857143em;
  }
  #news-and-events .views-row-2 .frontpage-teaser,
  #news-and-events .views-row-4 .frontpage-teaser {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #discover-more .frontpage-teaser {
    width: 42.5%;
    margin: 5% 5% 0 5%;
  }
  #discover-more .frontpage-teaser .text h3 {
    font-size: 1.42857143em;
  }
  #discover-more .field-name-field-row-1-5-frontpage .frontpage-teaser,
  #discover-more .field-name-field-row-2-5-frontpage .frontpage-teaser {
    margin-right: 5%;
  }
  #discover-more .field-name-field-row-1-2-frontpage .frontpage-teaser,
  #discover-more .field-name-field-row-1-4-frontpage .frontpage-teaser,
  #discover-more .field-name-field-row-2-1-frontpage .frontpage-teaser,
  #discover-more .field-name-field-row-2-3-frontpage .frontpage-teaser,
  #discover-more .field-name-field-row-2-5-frontpage .frontpage-teaser {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  #discover-more .frontpage-teaser .text h3,
  #news-and-events .frontpage-teaser .text h3 {
    font-size: 1.14285714em;
  }
}
@media (max-width: 325px) {
  #discover-more .frontpage-teaser .text h3,
  #news-and-events .frontpage-teaser .text h3 {
    font-size: 0.92857143em;
  }
}
