	.autocomplete-w1 { background:url(/static/images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
	.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
	.autocomplete .selected { background:#F0F0F0; }
	.autocomplete div { padding:3px 0 3px 0; white-space:nowrap; overflow:hidden; font-size: 13px;}
	.autocomplete strong { font-weight:normal; color:#3399FF; }
		
	.autocomplete .symbol {
		color: #333333;
		padding-left: 15px;
		display: block;
		float: left;
	}
	
	.autocomplete .ticker {
		color: #999999;
		padding-left: 7px;
		width: 30px;
		display: block;
		float: left;
	/*	font-size: 12px;*/
	}
	
	.autocomplete .symbol.first {
		padding-left: 7px;
		display: block;
		float: left;
	}
	
	.autocomplete .symbol.waluta {
		width: 38px;
/*		font-size: 12px;*/
		
	}
	
	
	.autocomplete .kurs {
		float: right;
		width: 35px;
		text-align: right;
		padding-right: 7px;
	}
	
	.autocomplete .kurs.up {
		color: green;
	}
	
	.autocomplete .kurs.down {
		color: red;
	}
	
	.autocomplete .kurs.waluta {
		width: 54px;
	}
	
	.autocomplete .country {
		padding-left: 10px;
		display: block;
		width: 80px;
		overflow: hidden;
		float: left;		
	}

	.autocomplete img {
		height:8px;
	}
	
	.autocomplete .zmiana {
		float: right;
		font-size: 10px;
		padding-top: 1px;
		display: block;
	}
	
	.autocomplete .zmiana.up {
		color: green;
	}

	.autocomplete .zmiana.down {
		color: red;
	}
	
	.autocomplete .kurs.surowce {
		width:54px;
	
	}
	.autocomplete .header {
		color: #555555;
		background: #ededed;
		width: 300px;
		display: block;

		padding: 2px 0px 2px 7px;
		border-bottom: 1px dotted #888888;
		font-size: 12px;
		font-weight: bold;
	}
