@charset "utf-8";
html,body{width:100%;height:100%}
body{background:#ffffff;color:#000;font:12px Arial, Helvetica, sans-serif;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;min-width:1010px;}
html,div,map,dt,isindex,form{display:block;}
form{overflow:hidden;} 
header,nav,article,footer,address{display:block;} 
input,select,textarea,button{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type=submit]{
-webkit-border-radius:0; 
-moz-border-radius:0; 
border-radius:0;
}
a,button{text-decoration:none;color:#000;cursor:pointer;outline:0 none;border:0 none;}
a:hover,button:hover{text-decoration:none;color:#666;}
a{color:#002146;}
a:hover{color:#002146;text-decoration:underline;}
/*a:visited{color:#666;}*/
/*
a:link  
a:visited  
a:hover  
a:active
*/
img{border:0 none;outline:0 none;}
.top{position:absolute;top:0;}
.bottom{position:absolute;bottom:0;}
.left{float:left;clear:left;}
.right{float:right;clear:right;}
.clear{clear:both;float:none !important;}
a.photo img, img.border{border:1px solid #b6b6b6!important;}
.orange{color:#f60 !important;}

/* horizontal-align:center */
.outerCenter{float:left;position:relative;left:50%;}
.innerCenter{float:left;position:relative;left:-50%;}
/* end horizontal-align:center */

/* vertical-align:middle */
.vcenter{display:table;position:static;}
.vcenter .cell{display:table-cell;vertical-align:middle;position:static;top:0;}
.vcenter .cell .hack{position:static;top:0;}
/* end vertical-align:middle */

.change{color:#333 !important;}
.up{color:#1b9a3c !important;}
.down{color:#ec1c24 !important;}

.rgb247081017{color:rgb(247,81,17) !important;}
.rgb027154060{color:rgb(27,154,60) !important;}
.rgb008074155{color:rgb(8,74,155) !important;}
.rgb021167141{color:rgb(21,167,141) !important;}
.rgb236028036{color:rgb(236,28,36) !important;}

table.tableTextAlignLeft tr td{text-align:left !important;}
table.tableTextAlignCenter tr td{text-align:center !important;}
table.tableTextAlignRight tr td{text-align:right !important;}

.textAlignLeft{text-align:left !important;}
.textAlignCenter{text-align:center !important;}
.textAlignRight{text-align:right !important;}
.textNowrap{white-space:nowrap !important;}
.textBold{font-weight:bold !important;}
.section-title{color:#002146;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-size:32px;font-weight:normal;padding:0;margin:0 0 10px;}
.small-title{font-size:18px;font-weight:normal;}
time.time{font-size:11px;color:#666;line-height:18px;}
span.tooltip{width:20px;height:25px;float:left;clear:none;display:none;margin:0 4px 0 0;text-indent:-5000px;cursor:pointer;background:url(../images/images96.png) -36px -264px no-repeat;}
span.tooltip.right{float:right;}
span.tooltipContent{display:none;}
/* end universal */

/* pageHeader */
#pageHeaderS{width:100%;min-height:100px;height:auto !important;height:240px;margin:0 auto;font-size:12px;color:#005e84;/*overflow:hidden;*/position:relative;/*z-index:100;*/}
#pageHeaderS * div.pageHeaderContent{width:940px;margin:0 auto;}
#pageHeaderS #pageHeaderTop{border-bottom:3px solid #efefef;border-bottom:0 none;background-color:#fff;/*margin:0 0 20px;*/padding:0 0 10px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent{min-height:87px;height:auto !important;height:87px;margin:0 auto;min-height:100px;height:auto !important;height:100px;border-bottom:2px solid #002146;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav{width:940px;height:30px;position:relative;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul{height:30px;float:right;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li{display:block;/**display:inline;*/float:left;/**float:none;*/}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.menuItem a{display:block;line-height:30px;line-height:18px;font-size:12px;color:#002146;padding:0 7px;margin:5px 0;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.menuItem a:hover{color:#002146;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.menuItem.campaign a{color:red;font-weight:bold;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.menuItem.campaign a:hover{color:red;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.menuItem.item-fb{width:130px;}

#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.account{margin:4px 0 5px 4px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.account a.menuLink{display:block;font-weight:bold;font-size:11px;line-height:18px;height:20px;margin:0;text-transform:none;padding:0 4px;background-color:#002146;color:#fff;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #topNav ul li.account a.menuLink:hover{background-color:#002146;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent a#home{display:block;float:left;margin:4px 0 0;padding:5px 0;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent a#home img{width:210px;height:40px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent.holiday a#home{display:block;float:left;margin:0;padding:0;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent.holiday a#home img{width:224px;height:50px;}

#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav{width:460px;/*height:37px;*/float:left;margin:15px 10px 5px 20px;position:relative;z-index:90140;/*left:20px;top:15px;*/}
#pageHeaderS #pageHeaderTop div.pageHeaderContent.holiday #mainNav{width:446px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu{/*height:37px;*/position:relative;z-index:141;display:block;height:37px;overflow:visible;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem{display:block;*display:inline;height:37px;line-height:37px;float:left;color:#002146;position:relative;z-index:142;cursor:default;/*cursor:pointer;*/font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-size:18px;padding:0 0 0 10px;*padding:0 10px;text-decoration:none;margin:0 0 0 10px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem:hover{color:#fff;background:#002146;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem span.showSubmenu{display:block;*display:none;width:10px;height:37px;float:right;background:url(../images2/images.png) -4px -27px no-repeat;margin:0 10px 0 6px;margin:0 6px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer{display:none;/*visibility:hidden;*/position:absolute;top:37px;left:0;padding:8px 8px 4px;border-width:2px;border-style:solid;border-color:#002146;background-color:#fff;z-index:144;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem:hover div.submenuContainer{display:block;visibility:visible;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu{display:block;float:left;font-size:14px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu li{display:block;/**display:inline-block;*/clear:both;overflow:hidden;min-width:200px;width:auto;*width:200px;line-height:29px;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu li:hover{background:none;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu li a{font-family:Arial,Helvetica,sans-serif;display:block;width:100%;font-size:14px;color:#002146;padding:0;font-weight:bold;border-bottom:1px solid #dcdcdc;text-indent:2px;white-space:nowrap;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu li:last-child a{border-bottom:1px solid #fff;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem div.submenuContainer ul.submenu li a:hover{color:#002146;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem.item-1 div.submenuContainer{}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem.item-2 div.submenuContainer{}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem.item-3 div.submenuContainer{}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #mainNav ul.menu li.menuItem.item-4 div.submenuContainer{}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #searchForm{width:230px;height:37px;float:right;margin:15px 0 5px 0;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #searchInput,input[type=search]{width:192px;height:26px;line-height:18px;padding:0 0 0 5px;float:right;border-width:2px 0 2px 2px;border-style:solid none solid solid;border-color:#dcdcdc;outline:0 none;
-webkit-border-radius:0; 
-moz-border-radius:0; 
border-radius:0;
}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #searchInput:focus,input[type=search]:focus{outline:0 none;}
#pageHeaderS #pageHeaderTop div.pageHeaderContent #searchSubmit{width:26px;height:30px;float:right;text-indent:-5000px;background:#fff url(../images2/images.png) 4px -196px no-repeat;margin:0;padding:0;border:0 none;outline:0 none;border-width:2px 2px 2px 0;border-style:solid solid solid none;border-color:#dcdcdc;cursor:pointer;
-webkit-border-radius:0; 
-moz-border-radius:0; 
border-radius:0; 	
}
/* pageContainer */
/* modyfikacja do buga 210 1.06.2015 był problem z kliknieciem w tapete od adocean trzeba uwazac na skysrapera */
#pCWS{display:block;width:960px;clear:both;min-height:100%;height:auto;position:relative;margin-left:auto;margin-right:auto;/*margin-bottom:-147px;*/}
#pCWS:after{content:"";display:block;}
/*#pageFooter2{height:147px;}*/
/*
#pCWS{margin-bottom:-280px;*margin-bottom:0;}
#pCWS:after{content:"";display:block;}
#pageFooterS,#pCWS:after{height:280px;}
*/
#pageMainContainerS{width:940px;margin:0 auto;min-height:480px;height:auto;/*overflow:hidden;*/position:relative;z-index:10;padding:20px 23px 0 22px;padding:5px 5px 0;padding:0;margin:0 auto 20px;margin:0 auto;background-color:#fff;*margin-top:-20px;*padding-top:40px;padding:10px 10px 20px;}
#pageMainContainerS div.pageMainContainerLeft{width:150px;float:left;clear:left;margin-right:15px;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerLeft620{width:620px;float:left;clear:left;margin-right:20px;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerLeft645{width:645px;float:left;clear:left;margin-right:15px;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerCenter{width:480px;float:left;margin-right:15px;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerRight{width:315px;float:right;clear:right;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerRight300{width:300px;float:right;clear:right;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainerRight810{width:810px;float:right;clear:right;position:relative;z-index:10;*margin-top:-20px;*padding-top:20px;}
#pageMainContainerS div.pageMainContainer940{width:940px;clear:both;overflow:hidden;z-index:10;/**overflow:visible;*/*margin-top:-20px;*padding-top:20px;}

#pageSubContainerLeft465,
#pageSubContainerRight465{width:465px;float:left;clear:left;margin-right:15px;position:relative;*margin-top:-20px;*padding-top:20px;}
#pageSubContainerRight465{width:465px;float:right;clear:right;margin-right:0;position:relative;*margin-top:-20px;*padding-top:20px;}
#pageSubContainerLeft630{width:630px;float:left;clear:left;margin-right:15px;position:relative;*margin-top:-20px;*padding-top:20px;}
#pageSubContainerRight300{width:300px;float:right;position:relative;*margin-top:-20px;*padding-top:20px;}

div.boxGrey div.boxHeader h1,
div.boxGrey div.boxHeader h2,
div.boxGrey div.boxHeader h3,
div.boxGrey div.boxHeader h4{color:#002146;font-size:15px;margin:0;/*font-weight:normal;line-height:24px;margin:0 10px;text-align:left;*/}
div.boxGrey div.boxHeader{padding:0;margin:0;border-top:0 none;background:0 none;}
div.boxFooter.border1{border-top:0 none;}

div.boxHeader{overflow:hidden;}
div.boxHeader h1,
div.boxHeader h2,
div.boxHeader h3,
div.boxHeader h4{font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-size:15px;font-weight:normal;line-height:24px;float:left;margin:0;padding:0 0 2px 2px;padding:0;}
div.boxHeader a.more-link,
div.boxFooter a.more-link{float:right;font-size:11px;font-weight:bold;background:url(../images2/images.png) right -365px no-repeat;padding:0 14px 0 4px;}
div.boxFooter a.more-link{font-size:12px;font-weight:normal;}
div.boxContent{padding:15px 0 0 0;overflow:hidden;}
div.boxContent.boxTable{padding:0;}
div.boxContent.boxList{}
div.boxContent.boxList ul li{background:url(../images2/images.png) -470px 0 no-repeat;background:url(../images2/bulletorange.png) 0 6px no-repeat;overflow:hidden;display:block;clear:both;line-height:18px;padding:0 0 4px 14px;}
div.boxFooter{overflow:hidden;}

div.grey div.boxHeader h4,
div.orange div.boxHeader h4,
div.blue div.boxHeader h4{padding:0 0 2px 2px;padding:0;}

div.box150{width:150px;margin:0 0 20px;border:0 none;}
div.box205{width:205px;margin:0 0 20px;border:0 none;}
div.box210{width:210px;margin:0 0 20px;border:0 none;}
div.box225{width:225px;margin:0 0 20px;border:0 none;}
div.box300{width:300px !important;margin:0 0 16px;border:0 none;}
div.box315{width:315px;margin:0 0 20px;border:0 none;}
div.box395{width:395px;margin:0 0 20px;border:0 none;}
div.box460{width:460px;margin:0 0 20px;border:0 none;}
div.box465{width:465px;margin:0 0 20px;border:0 none;}
div.box620{width:620px;margin:0 0 20px;border:0 none;}
div.box630{width:630px;margin:0 0 20px;border:0 none;}
div.box940{width:940px;margin:0 0 20px;border:0 none;}
div.box945{width:945px;margin:0 0 20px;border:0 none;}
div.box975{width:975px;margin:0 0 20px;border:0 none;}

div.border3{border:3px solid #efefef;padding:7px;}
div.border3 div.boxFooter > *{margin:14px 0 7px;margin:7px 0 0;}
div.box210.border3{width:190px;}
div.box300.border3{width:280px !important;}
div.box465.border3{width:445px;}
div.box940.border3{width:920px;}
div.box975.border3{width:955px;}

div.box150 div.boxContent{border:0 none;}
div.box205 div.boxContent{border:0 none;}
div.box210 div.boxContent{border:0 none;}
div.box225 div.boxContent{border:0 none;}
div.box300 div.boxContent{border:0 none;}
div.box315 div.boxContent{border:0 none;}
div.box395 div.boxContent{border:0 none;}
div.box460 div.boxContent{border:0 none;}
div.box465 div.boxContent{border:0 none;}
div.box620 div.boxContent{border:0 none;}
div.box630 div.boxContent{border:0 none;}
div.box940 div.boxContent{border:0 none;}
div.box945 div.boxContent{border:0 none;}
div.box975 div.boxContent,
div.mbox975 div.boxContent{border:0 none;}

div.boxWhite{background:#fff none;}
div.boxWhite.grey{}
div.boxWhite.grey div.boxHeader{border-bottom:3px solid #efefef;}
div.boxWhite.orange{}
div.boxWhite.orange div.boxHeader{border-bottom:3px solid #f60;}
div.boxGrey.blue{}
div.boxGrey.blue div.boxHeader{border-bottom:3px solid #002146;}
div.boxBlue div.boxHeader{background-color:#002146;color:#fff;padding:8px 10px 7px;}
div.boxBlue div.boxHeader h1,
div.boxBlue div.boxHeader h2,
div.boxBlue div.boxHeader h3,
div.boxBlue div.boxHeader h4{color:#fff;}
div.boxBlue div.boxHeader ul{float:right;}
div.boxBlue div.boxHeader ul li{display:block;*display:inline;float:left;*float:none;margin:0 0 0 8px;}
div.boxBlue div.boxHeader ul li a.more-link{display:inline-block;color:#fff;white-space:nowrap;line-height:24px;padding:0 8px 0 4px;background:url(../images2/images.png) right -415px no-repeat;}
div.boxBlue div.boxContent div.boxContentLeft{float:left;width:150px;margin:0 10px 0 0;}
div.boxBlue div.boxContent div.boxContentCenter,
div.boxBlue div.boxContent div.boxContentRight{float:left;width:210px;margin:0 0 0 20px;}
div.boxBlue div.boxContent div.boxContentRight{float:right;}
/*
div.box315.boxGrey{width:295px;border:3px solid #efefef;padding:7px;}
div.box315.boxGrey div.boxHeader{border-bottom:3px solid #f60;}
div.box315.boxGrey div.boxHeader h1,
div.box315.boxGrey div.boxHeader h2,
div.box315.boxGrey div.boxHeader h3,
div.box315.boxGrey div.boxHeader h4{padding:0 0 2px 2px;}
*/
div.box300.boxGrey{width:280px !important;border:3px solid #efefef;padding:7px;}
div.box300.boxGrey div.boxHeader{border-bottom:3px solid #f60;}
div.box300.boxGrey div.boxHeader h1,
div.box300.boxGrey div.boxHeader h2,
div.box300.boxGrey div.boxHeader h3,
div.box300.boxGrey div.boxHeader h4{padding:0 0 2px 2px;padding:0;}

div.boxBlue div.boxContent.boxTable table{width:100%;}
div.boxBlue div.boxContent.boxTable table tr th,
div.boxBlue div.boxContent.boxTable table tr td{vertical-align:middle;color:#333;text-align:left;padding:8px 10px;line-height:18px;}

div.boxBlue div.boxContent.boxTable table thead tr th{border-right:1px solid #828e9c;background:#9aa6b4;color:#fff;padding:8px 10px;}
div.boxBlue div.boxContent.boxTable table thead tr th:first-of-type{border-left:3px solid #9aa6b4;}
div.boxBlue div.boxContent.boxTable table thead tr th:last-child{border-right:3px solid #9aa6b4;}

div.boxBlue div.boxContent.boxTable table tbody tr td{border-right:1px solid #d3d3d3;}
div.boxBlue div.boxContent.boxTable table tbody tr td:first-of-type{border-left:3px solid #efefef;}
div.boxBlue div.boxContent.boxTable table tbody tr td:last-child{border-right:3px solid #efefef;}
div.boxBlue div.boxContent.boxTable table tbody tr:nth-child(even) td{background:#efefef}
div.boxBlue div.boxContent.boxTable table tbody:last-child tr:last-child td{border-bottom:3px solid #efefef;}

div.boxBlue div.boxContent.boxTable table.tableInTable tbody tr td{padding:0;}
div.boxBlue div.boxContent.boxTable table.tableInTable tbody tr td table tr td{border:0 none !important;padding:8px 10px;}

/* boxTabs */
.boxTabs .boxHeader{padding:0 10px;padding:5px 0;margin:0 0 8px;margin:0 0 3px;}
.boxTabs .boxContent{border:0 none;padding:0 !important;background:#eee;overflow:visible !important;}
.boxTabs .boxContent ul.tabsNav{border:0 none;background:#eee;margin:0 0 0 10px;padding:0;z-index:100;}
.boxTabs .boxContent ul.tabsNav li{border:0;background:#8f8f8f url(../images/images96.png) 0 -841px no-repeat;margin:4px 0 0 0;z-index:101;margin:4px 2px 0 0;}
.boxTabs .boxContent ul.tabsNav li a{padding:0 4px 0 5px;line-height:28px;color:#fff;font-size:11px;cursor:pointer;height:28px;padding:0 8px 0 10px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;/* nie miesci sie w boksie obok drugiej zakladki */}
.boxTabs .boxContent ul.tabsNav li a:hover{}
.boxTabs .boxContent ul.tabsNav li.ui-tabs-active{background:#fff none;margin:0 2px 0 0;z-index:102;}
.boxTabs .boxContent ul.tabsNav li.ui-tabs-active a{line-height:34px;color:#002146;height:32px;}
.boxTabs .boxContent .tabsContent{background:#fff;padding:5px 10px;border-width:0 2px 2px;border-color:#e5e5e5;border-style:none solid solid;overflow:hidden;}
.boxTabs .boxContent .tabsContent.boxList{padding:10px 5px !important}
.boxGrey.boxTabs{background:#efefef none;border-top:3px solid #002146;}
.boxGrey.boxTabs .boxHeader{background:#efefef none;border-bottom:0 none;padding:7px 0 5px 12px;margin:0 0 4px;}
.boxGrey.boxTabs .boxHeader h4,
.boxGrey.boxTabs .boxHeader h3,
.boxGrey.boxTabs .boxHeader h2,
.boxGrey.boxTabs .boxHeader h1{padding:0;}
.boxGrey.boxTabs .boxContent{border:0 none;padding:0 !important;background:#efefef;overflow:visible !important;}
.boxGrey.boxTabs .boxContent ul.tabsNav{height:28px;border:0 none;background:#efefef;margin:0 3px 0 12px;padding:0;z-index:100;}
.boxGrey.boxTabs .boxContent ul.tabsNav li{border:0;background:#999 none;margin:0 2px 0 0;z-index:101;border-radius:0;padding:0;height:28px;}
.boxGrey.boxTabs .boxContent ul.tabsNav li a{padding:0 4px 0 5px;line-height:28px;color:#fff;cursor:pointer;height:28px;padding:0 8px 0 10px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;/* nie miesci sie w boksie obok drugiej zakladki */}
.boxGrey.boxTabs .boxContent ul.tabsNav li a:hover{text-decoration:underline;}
.boxGrey.boxTabs .boxContent ul.tabsNav li.ui-tabs-active{background:#fff none;margin:0 2px 0 0;z-index:102;}
.boxGrey.boxTabs .boxContent ul.tabsNav li.ui-tabs-active a{line-height:28px;color:#002146;height:28px;}
.boxGrey.boxTabs .boxContent ul.tabsNav li.ui-tabs-active a:hover{text-decoration:none;}
.boxGrey.boxTabs .boxContent .tabsContent{background:#fff;padding:5px 10px;border-width:0 3px 3px;border-color:#efefef;border-style:none solid solid;overflow:hidden;}
.boxGrey.boxTabs .boxFooter{background:#efefef;}
.boxGrey.boxTabs .boxFooter ul.moreLink,
.boxGrey.boxTabs .boxFooter span.info{margin:6px 0 8px;}
.boxGrey.boxTabs .boxFooter span.info.left{margin-left:8px;}
.boxGrey.boxTabs .boxFooter span.info.right{margin-right:8px;}
/* end boxTabs */

/* pageFooter */
#pageFooter2{width:100%;margin:0;position:relative;z-index:9;clear:both;font-size:12px;}
/*#pageFooter2,#pCWS:after{height:147px;}*/

#pageFooterTop{width:100%;margin:0;background-color:#efefef;}
#pageFooterMiddle{width:100%;border-top:1px solid #d9d9d9;background-color:#efefef;}
#pageFooterBottom{width:100%;height:43px;border-top:1px solid #d9d9d9;background-color:#efefef;}

#pageFooter2 * div.pageFooterContent{width:945px;width:975px;padding-left:30px;margin:0 auto;overflow:hidden;}
#pageFooterTop div.pageFooterContent{position:relative;left:0;}
#footerNav{margin:15px 0;clear:both;border:0 none;padding:0;overflow:hidden;}
#footerNav ul.menu{display:block;overflow:hidden;}
#footerNav ul.menu li.menuItem{display:block;float:left;}
#footerNav ul.menu li.menuItem a{display:block;padding:2px;margin:0 4px;line-height:18px;}

#satelity{clear:both;height:50px;}
#satelity span,#satelity a.logo{font-size:12px;text-indent:-5000px;}
#satelity span{display:block;float:left;margin:12px 6px 8px 0;width:116px;height:30px;background:url(../images2/gb-logo3.png) -740px -9px no-repeat;}
#satelity a.logo{display:block;float:left;height:32px;margin:9px 6px;background: url(../images2/gb-logo3.png) 0 -59px no-repeat;}
#satelity a.logo.bbp{margin:9px 0;padding:0 6px;}
#satelity a#gb-logo8.logo{padding:0 6px 0 0;margin:9px 0 9px 6px;}
a#gb-logo1.logo{width:68px;background-position:-16px -57px;}
a#gb-logo2.logo{width:35px;background-position:-95px -57px;}
a#gb-logo3.logo{width:35px;background-position:-141px -57px;}
a#gb-logo4.logo{width:72px;background-position:-187px -57px;}
a#gb-logo5.logo{width:104px;background-position:-269px -57px;}
a#gb-logo6.logo{width:92px;background-position:-382px -57px;}
a#gb-logo7.logo{width:102px;background-position:-486px -57px;}
a#gb-logo8.logo{width:44px;background-position:-616px -57px;}
a#gb-logo9.logo{display:none;width:85px;background-position:-863px -57px;}
a#gb-logo10.logo{display:none;width:72px;background-position:-960px -57px;}

a#gb-logo1.logo:hover{background-position:-16px -7px;}
a#gb-logo2.logo:hover{background-position:-95px -7px;}
a#gb-logo3.logo:hover{background-position:-141px -7px;}
a#gb-logo4.logo:hover{background-position:-187px -7px;}
a#gb-logo5.logo:hover{background-position:-269px -7px;}
a#gb-logo6.logo:hover{background-position:-382px -7px;}
a#gb-logo7.logo:hover{background-position:-486px -7px;}
a#gb-logo8.logo:hover{background-position:-616px -7px;}
a#gb-logo9.logo:hover{background-position:-863px -7px;}
a#gb-logo10.logo:hover{background-position:-960px -7px;}

#pageFooterBottom div.pageFooterContent p.regulation{margin:10px 0;line-height:18px;color:#002146;}
#pageFooterBottom div.pageFooterContent p.regulation a{font-weight:bold;}

#boxBreakingNews{width:920px;height:36px;padding:7px 10px;background:#002146;margin:0 0 20px;overflow:hidden;}
#boxBreakingNews.red{background:#e9292f;}
#boxBreakingNews div.boxHeader{display:none;}
#boxBreakingNews div.boxContent{line-height:36px;overflow:hidden;padding:0;} 
#boxBreakingNews div.boxContent strong,
#boxBreakingNews div.boxContent strong a{font-size:30px;font-size:28px;color:#fff;float:left;margin:0 12px 0 4px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;}
#boxBreakingNews div.boxContent ul{float:left;margin:6px 10px 5px 0;}
#boxBreakingNews div.boxContent ul li{float:left;border-left:1px solid rgba(229,229,229,0.3);height:25px;line-height:28px;line-height:25px;padding:0 12px 0 6px;}
#boxBreakingNews div.boxContent ul li,
#boxBreakingNews div.boxContent ul li a{font-size:14px;font-size:18px;color:#fff;font-family:"Ubuntu",Arial,Helvetica,sans-serif;}
#boxBreakingNews div.boxContent ul li a:hover{color:#fff;}

#boxHotNewsS{width:460px;height:212px;margin-bottom:16px;*margin-bottom:-16px;*padding-bottom:32px;}
#boxHotNewsS div.boxContent{position:relative;height:212px;background:#002146;overflow:hidden;padding:0;}
#boxHotNewsS div.boxContent #scrollArea{width:269px;height:210px;position:absolute;top:0;left:0;float:left;overflow:hidden;border-width:1px 0 1px 1px;border-style:solid none solid solid;border-color:#002146;}
#boxHotNewsS div.boxContent #scrollArea a{width:269px;height:210px;display:block;position:relative;position:absolute;top:0;left:0;z-index:96;background:#fff;}
#boxHotNewsS div.boxContent #scrollArea a.active{z-index:97;}
#boxHotNewsS div.boxContent #scrollArea a img{display:block;}
#boxHotNewsS div.boxContent #scrollArea a img{display:block;position:absolute;left:0;top:0;}
#boxHotNewsS div.boxContent #scrollArea a span{display:none;padding:10px 30px 10px 10px;width:385px;overflow:hidden;position:absolute;left:0;bottom:0;background:rgba(0,0,0,0.5);color:#fff;font-size:14px;height:57px;}
#boxHotNewsS div.boxContent #scrollMenu{width:210px;height:213px;position:absolute;right:0;top:0;}
#boxHotNewsS div.boxContent #scrollMenu dl{margin:0;padding:0;overflow:hidden;height:213px;}
#boxHotNewsS div.boxContent #scrollMenu dl dt{display:block;width:190px;height:1px;position:relative;float:right;margin:0 0 0 20px;background:rgba(255,255,255,0.33);background:#9ea5cd;z-index:97;}
#boxHotNewsS.hotNews3 div.boxContent #scrollMenu dl dd{display:block;width:210px;height:70px;position:relative;z-index:10;float:right;z-index:99;}
#boxHotNewsS.hotNews3 div.boxContent #scrollMenu dl dd div.vcenter{height:60px;}
#boxHotNewsS.hotNews3 div.boxContent #scrollMenu dl dd a{display:block;color:#fff;position:relative;width:170px;height:60px;padding:5px 10px 5px 30px;font-size:15px;text-decoration:none;font-weight:bold;}
#boxHotNewsS.hotNews3 div.boxContent #scrollMenu #scrollMenuMarker{position:absolute;margin:0;padding:0;width:210px;height:72px;background:url(../images2/images.png) 0 -528px no-repeat;top:-1px;left:0;z-index:9;border:0 none;z-index:98;}

#boxPromoTool{margin:0;}
#boxPromoTool div.boxHeader{padding:0;}
#boxPromoTool div.boxContent{padding:0;}
#boxPromoTool div.boxContent div.box225{width:210px;padding:5px 5px 5px 10px;margin:0 0 10px;background-color:#efefef;}
#boxPromoTool div.boxContent div.box225 div.boxContent{height:54px;border-right:3px solid #f60;}
#boxPromoTool div.boxContent div.box225 div.boxContent a{font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-size:15px;font-weight:normal;line-height:24px;padding:3px 18px 7px 0;background:url(../images2/images.png) right -432px no-repeat;}
#boxPromoTool div.boxContent div.box225 div.boxContent ul li a{padding:0 0 3px;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:normal;margin:0;background:0 none;}

div.box460.border3{width:440px;padding:7px;border:3px solid #efefef;}
#boxPromoTool2{width:454px;height:206px;padding:0;background:#fff none;}
#boxPromoTool2 div.boxHeader{border-bottom:3px solid #efefef;margin:0 7px;background:#fff none;padding:0;}
#boxPromoTool2 div.boxHeader h2{line-height:35px;font-size:18px;}
#boxPromoTool2 div.boxContent{padding:0;position:relative;  
-webkit-border-radius:0; 
-moz-border-radius:0; 
border-radius:0;
}
#boxPromoTool2 div.boxContent div.tabsContent{width:245px;height:154px;float:left;border:0 none;padding:7px;display:none;font-family:Arial,Helvetica,sans-serif;
-webkit-border-radius:0; 
-moz-border-radius:0; 
border-radius:0;
}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4{display:block;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0{display:block;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab4{display:none;}
#boxPromoTool2 div.boxContent ul.tabsNav{display:block;width:198px;height:174px;float:right;margin:0;/*margin-top:-3px;*/position:absolute;right:-3px;top:-3px;background:none;}
#boxPromoTool2.boxPromoToolExtend div.boxContent ul.tabsNav{top:-38px;height:209px;top:0;}
#boxPromoTool2 div.boxContent ul.tabsNav li{display:block;clear:both;width:198px;height:35px;/*border-bottom:1px solid #fff;background:#e0e0e0 none;*/background:0 none;border:0 none;margin:0;}
#boxPromoTool2 div.boxContent ul.tabsNav li a{display:block;width:174px;height:34px;line-height:34px;border-bottom:1px solid #fff;background:#e0e0e0 none;background:#efefef none;margin:0 0 0 9px;padding:0;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#7a7a7a;font-size:15px;padding:0 5px 0 10px;}
#boxPromoTool2 div.boxContent ul.tabsNav li.item-5{height:34px;}
#boxPromoTool2 div.boxContent ul.tabsNav li.item-5 a{border-bottom:0 none;}
#boxPromoTool2 div.boxContent ul.tabsNav li.ui-tabs-active{background:#efefef none;background:url(../images2/promoTool.png) 0 0 no-repeat;}
#boxPromoTool2 div.boxContent ul.tabsNav li.ui-tabs-active a{background:0 none;color:#002146;}
#boxPromoTool2.boxPromoToolSlider div.boxContent ul.tabsNav li a{cursor:default;}
#boxPromoTool2.boxPromoToolSlider div.boxContent ul.tabsNav li a:hover{text-decoration:none;}

/*#boxPromoTool2 div.boxContent{overflow:hidden !important;}*/
#boxPromoTool2 div.boxContent div.tabsContent form{position:relative;width:245px;height:154px;}
#boxPromoTool2 div.boxContent div.tabsContent form label{display:inline-block;width:80px;float:left;font-size:12px;color:#002146;font-weight:bold;line-height:28px;}
#boxPromoTool2 div.boxContent div.tabsContent form label.longLabel{line-height:14px;}
#boxPromoTool2 div.boxContent div.tabsContent form label.after{display:inline-block;width:auto;float:left;margin:0 0 0 4px;}
#boxPromoTool2 div.boxContent div.tabsContent form div.selector select{cursor:pointer;width:100% !important;}

#boxPromoTool2 div.boxContent div.tabsContent form div.formCol{margin:10px 0;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset{margin:0 0 10px 4px;position:relative;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formRow{position:absolute;bottom:0;margin:0;width:245px;}

/*#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset #amountInput*/
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset input.text{display:block;float:left;color:#000;font-size:12px;width:75px;text-align:right;margin:1px 4px 0 0;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset #uniform-amountSelect{margin-top:-1px;width:60px !important;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset #uniform-amountSelect span{width:37px !important;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset select#amountSelect{width:75px !important;}

#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset #uniform-periodInput{width:151px !important;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset #uniform-periodInput span{width:124px !important;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formCol fieldset select#periodInput{width:161px !important;}

#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0{width:259px;height:206px !important;padding:0;padding:0;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a{display:block;padding:0 7px;height:206px !important;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a:hover{text-decoration:none !important;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a h2{width:150px;margin:0 0 6px;line-height:35px;font-size:18px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-weight:normal;}



#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a div.product{position:relative;width:245px;height:199px;padding:0 0 7px 0;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a div.product div.productInfo{/*min-height:100px;max-height:125px;height:125px;height:auto !important;*//*height:120px;*/position:relative;margin:0 10px 0 4px;margin:0;overflow:hidden;width:245px;height:166px;}
#boxPromoTool2.boxPromoToolExtend div.boxContent div#boxPromoToolTab0 a div.product div.productInfo img{/*position:absolute;right:212px;top:7px;*/float:right;margin:7px 0 0 10px;max-width:85px;height:auto;}

/*
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 div.product div.productInfo span.productBrand{display:block;width:166px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-size:18px;font-weight:normal;line-height:19px;margin:0 0 4px;font-size:18px;line-height:21px;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 div.product div.productInfo span.productName{display:block;width:166px;margin:0 0 12px;font-size:13px;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 div.product div.productInfo span.productDescription{display:block;margin:4px 0 0 0;font-size:15px;line-height:18px;line-height:150%;color:#002146;font-family:"Ubuntu",Arial,Helvetica,sans-serif;}
*/

#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 a div.product div.productInfo span.productName{display:block;width:166px;margin:0 0 6px;font-size:21px;font-weight:bold;line-height:24px;color:#f60;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 a div.product div.productInfo span.productBrand{display:block;width:166px;color:#f60;font-size:13px;font-weight:normal;line-height:13px;margin:0 0 12px;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 a div.product div.productInfo span.productDescription{display:block;margin:0 0 0 0;font-size:15px;line-height:18px;line-height:150%;color:#002146;font-family:/*"Ubuntu",*/Arial,Helvetica,sans-serif;}

#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 a div.product span.btnOrange{display:inline-block;max-width:230px;padding:0 6px;height:25px;line-height:25px;background:#f60 none;border:0 none;margin:4px 0 4px 4px;color:#fff;font-weight:bold;font-size:11px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;text-transform:uppercase;cursor:pointer;text-align:center;float:right;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0 a:hover div.product span.btnOrange{text-decoration:none;}


#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0.tabsContentImg{width:268px;height:206px !important;padding:0;margin:0;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0.tabsContentImg a{display:block;width:268px;height:206px;padding:0;overflow:hidden;}
#boxPromoTool2.boxPromoToolExtend div.boxContent #boxPromoToolTab0.tabsContentImg a img{border:0 none;} 

#boxPromoTool2 div.boxContent div#boxPromoToolTab1{height:154px !important;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab1 form div.formCol{margin:30px 0 10px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab2{height:154px !important;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab2 form div.formCol{margin:30px 0 10px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab3{height:154px !important;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab3 form label{width:110px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab3 form label.after{width:auto;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4{height:154px !important;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 a{display:block;/*width:210px;*/height:75px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-size:18px;font-weight:normal;line-height:21px;margin:0 10px 0 4px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 a img{float:right;margin:0 0 0 10px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 span{display:block;clear:both;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#f60;font-size:15px;font-weight:normal;line-height:18px;margin:0 0 4px 4px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 a.btnBlue{display:inline-block;padding:0 5px;height:25px;line-height:25px;margin:0 0 4px 4px;font-size:11px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;color:#fff;text-align:center;vertical-align:middle;cursor:pointer;background:#002146;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 a#ppBtnBlue1,
#boxPromoTool2 div.boxContent div#boxPromoToolTab4 a#ppBtnBlue3{width:80px;}

#boxPromoTool2 div.boxContent div#boxPromoToolTab5{height:154px !important;}

#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label[for^='radio']{display:inline-block;width:auto;padding:0 5px;height:25px;line-height:25px;margin:0 5px 5px 0;font-size:11px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;color:#444;text-align:center;vertical-align:middle;cursor:pointer;background:#e0e0e0;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label:hover{text-decoration:underline;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label.checked:hover{text-decoration:none;}

#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label.checked{background:#002146 none;color:#fff;/*border:1px solid #ccc;*/}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form input.buttonRadio{display:none;margin:0;}

#boxPromoTool2 div.boxContent div#boxPromoToolTab5 label{width:60px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label#ppLabelOkres1{display:block;width:70px;position:absolute;left:60px;top:0;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label#ppLabelOkres2{display:block;width:70px;float:right;clear:right;position:absolute;left:147px;top:0;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label#ppLabelOkres3{display:block;width:70px;position:absolute;left:60px;top:32px;}
#boxPromoTool2 div.boxContent div#boxPromoToolTab5 form label#ppLabelOkres4{display:block;width:70px;float:right;clear:right;position:absolute;left:147px;top:32px;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formRow input.submit{text-align:left;padding:0 6px;height:25px;line-height:25px;background:#f60 none;border:0 none;margin:4px 0 4px 4px;color:#fff;font-weight:bold;font-size:11px;font-family:"Ubuntu",Arial,Helvetica,sans-serif;text-transform:uppercase;cursor:pointer;text-align:center;}
#boxPromoTool2 div.boxContent div.tabsContent form div.formRow a.advancedOption{float:right;margin:4px 0 4px 4px;color:#f60;line-height:25px;font-size:11px;}


#boxPromoTool3{width:460px;height:212px;}
#predefBox{margin:0;}
#predefBox div.boxContent{padding:0;margin:0 0 4px;}
#predefBox div.boxContent ul li{display:block;*display:inline;float:left;*float:none;}
#predefBox div.boxContent ul li a{display:block;width:92px;overflow:hidden;float:left;padding:10px;margin:4px 4px 0 0;background:#efefef none;padding-bottom:110px;margin-bottom:-100px;color:#005E84;text-align:center;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-size:15px;font-weight:normal;color:#002146;}
#predefBox div.boxContent ul li:last-of-type a{margin-right:0;}
#predefBox div.boxContent ul li.item-4 a{margin-right:0;}
#predefBox div.boxContent ul li a span.red{color:#f1555b;color:#f60;}
div[id$="Tool"].box460{width:460px;padding:0;margin:0;}
div[id$="Tool"].box460 div.boxContent{padding: 5px 0 0;height:106px;border:0px none!important;}
div[id$="Tool"].box460 div.boxContent p{display:none;}
div[id$="Tool"] div.boxHeader,div[id$="Tool"]{border:none!important}
div[id$="Tool"] div.boxContent{border:2px solid #e5e5e5!important;border-top:3px solid #f60!important;background:#efefef!important}
.compTool.boxTool{background:#efefef none;color:#666;border:0 none;font-size:12px;}
.compTool div.boxContent div.calcContent{margin:0;}
.compTool div.boxContent div.calcContent div.formCol{width:375px;margin:0 auto;font-size:18px;/*font-family:Ubuntu,Arial,Helvetica,sans-serif;*/font-weight:normal;font-size:14px;}
.compTool div.boxContent div.calcContent div.formCol fieldset div.selector{float:left;margin:0;}
.compTool div.boxContent div.calcContent div.formCol.left,
.compTool div.boxContent div.calcContent div.formCol.right{width:220px;margin:0 5px 0 0;}
.compTool div.boxContent div.calcContent div.formCol.left{margin:0 5px;}
.compTool div.boxContent div.calcContent div.formRow{margin:0 0 0 26px;margin:0;clear:both;/*height:60px;*/border-top:1px solid #E5E5E5;}
.compTool.boxTool div.boxContent .calcContent div.formRow{/*height:45px;*/border-top:1px solid #cbcbcb;margin:0 10px;}
.compTool div.boxContent div.calcContent div.formCol.left a,.compTool div.boxContent div.calcContent div.formCol.right a{display:inline-block;line-height:24px;width:auto;padding:3px 6px 3px 2px;clear:both;margin-bottom:5px;color:#333;font-size:12px;border:0 none;}
.compTool div.boxContent div.calcContent div.formCol.left a div.radio,.compTool div.boxContent div.calcContent div.formCol.right a div.radio{margin-top:-3px;}
.compTool div.boxContent div.calcContent div.formCol.left a:hover,.compTool div.boxContent div.calcContent div.formCol.right a:hover{text-decoration:none;}
.compTool div.boxContent div.calcContent div.formCol.left a.active,.compTool div.boxContent div.calcContent div.formCol.right a.active{border-radius:16px;border:2px solid #f60;border:0 none;background-color:#f60;color:#fff;}


#boxDayNews div.boxContent{padding:0;}
#boxDayNews div.boxContent ul li{background:url(../images2/images.png) -470px -2px no-repeat;overflow:hidden;display:block;clear:both;line-height:16px;padding:0 0 10px 14px;position:relative;}
#boxDayNews div.boxContent ul li a{font-size:12px;font-size:13px;}
#boxDayNews div.boxContent ul li.video a{padding:0 20px 0 0;background:url(../images2/images.png) right -202px no-repeat;background:url(../images2/video_small_icon.png) right center no-repeat;}
#boxDayNews span.video-icon{padding:0 20px 0 0;background:url(../images2/images.png) right -199px no-repeat;}

#boxDayNews div.boxContent ul li.item-1{padding:0 0 10px;background:none;}
#boxDayNews div.boxContent ul li.item-1 a.title{display:block;font-size:15px;margin:3px 0 4px;}
#boxDayNews div.boxContent ul li a.premium-link,
.box620 div.boxContent div.box395 div.boxContent ul li a.premium-link,
#boxEditorPick div.boxContent ul li div.vcenter div.cell div.hack a.premium-link{color:#EC1C24;font-size:12px}
#boxDayNews div.boxContent ul li span.premium-link,
.box620 div.boxContent div.box395 div.boxContent ul li span.premium-link,
#boxEditorPick div.boxContent ul li.item-1 div.vcenter div.cell div.hack span.premium-link{color:#CCC;font-size:9px;white-space:nowrap;}
#boxDayNews div.boxContent ul li:last-of-type{padding-bottom: 0px;}
#boxDayNews div.boxFooter a.more-link{margin:7px 0 0;float:right;}
.font12px {font-size:12px !important;}

#boxEditorPick div.boxContent ul li,
#boxBlogbank div.boxContent ul li{padding:0 0 20px;overflow:hidden;}
#boxEditorPick div.boxContent ul li:last-of-type,
#boxBlogbank div.boxContent ul li:last-of-type{padding:5px 0 0 0;overflow:hidden;}
#boxEditorPick div.boxContent ul li.photo a.photo,
#boxBlogbank div.boxContent ul li.photo a.photo{display:block;float:left;width:77px;height:47px;margin:0 6px 0 0;overflow:hidden;position:relative;}
#boxEditorPick div.boxContent ul li.photo a.title,
#boxBlogbank div.boxContent ul li.photo a.title{display:block;width:195px;float:right;font-size:13px;color:#002146;margin:0 0 4px;}
#boxEditorPick div.boxContent ul li.photo span.name,
#boxBlogbank div.boxContent ul li.photo span.name{width:195px;float:right;text-transform:uppercase;font-weight:bold;color:#f60;}

#boxEditorPick div.boxHeader{border-bottom:3px solid #efefef;}
#boxEditorPick div.boxHeader h2{padding:0 0 2px 2px;padding:0;}
#boxEditorPick div.boxContent{padding:10px 0 8px 0;}
#boxEditorPick div.boxContent ul li{padding:5px 0 15px;}
#boxEditorPick div.boxContent ul li.photo div.vcenter{height:45px;}
#boxEditorPick div.boxContent ul li.photo a.title{width:215px;margin:0;}
/*#boxEditorPick div.boxContent ul li.photo a.title:hover div.vcenter div.cell div.hack{text-decoration:underline;}*/
#boxEditorPick div.boxContent ul li.photo span.name{width:215px;}

#boxEditorPick div.boxContent ul li.photo a.photo span.video-play{display:block;width:75px;height:45px;
background:url(../images2/images.png) -207px -23px no-repeat;position:absolute;z-index:9;top:1px;left:1px;}

#boxRynki4 {margin-bottom:10px !important}
#boxRynki4 div.boxHeader h4,
#boxTwojefinanse4 div.boxHeader h4,
#boxBiznes4 div.boxHeader h4{line-height:21px;}
#boxRynki4 div.boxHeader a.more-link,
#boxTwojefinanse4 div.boxHeader a.more-link,
#boxBiznes4 div.boxHeader a.more-link{text-transform:uppercase;}

#boxRynki4,
#boxTwojefinanse4,
#boxBiznes4{}

#boxRynki4 div.boxHeader ul li.campaign a.more-link,
#boxTwojefinanse4 div.boxHeader ul li.campaign a.more-link,
#boxBiznes4 div.boxHeader ul li.campaign a.more-link{color:red;background:url(../images2/rightArrowRed.png) right center no-repeat;}

#boxRynki4 div.boxHeader ul li.campaign a.more-link:hover,
#boxTwojefinanse4 div.boxHeader ul li.campaign a.more-link:hover,
#boxBiznes4 div.boxHeader ul li.campaign a.more-link:hover{color:red;}

#boxRynki4 div.boxContent span.video-play,
#boxTwojefinanse4 div.boxContent span.video-play,
#boxBiznes4 div.boxContent span.video-play{display:block;width:205px;height:132px;border:0 none;
background:url(../images/images9.png) -146px 27px no-repeat;position:absolute;z-index:99;}

#boxRynki4 div.boxContent ul li.video a,
#boxTwojefinanse4 div.boxContent ul li.video a,
#boxBiznes4 div.boxContent ul li.video a{padding:0 20px 0 0;background:url(../images2/images.png) right -202px no-repeat;background:url(../images2/video_small_icon.png) right center no-repeat;}


#boxRynki4 div.boxContent div.left,
#boxTwojefinanse4 div.boxContent div.left,
#boxBiznes4 div.boxContent div.left{clear:none;margin:0;}
#boxRynki4 div.boxContent div.right,
#boxTwojefinanse4 div.boxContent div.right,
#boxBiznes4 div.boxContent div.right{clear:none;margin:0;}
#boxRynki4 div.boxContent div.box205,
#boxTwojefinanse4 div.boxContent div.box205,
#boxBiznes4 div.boxContent div.box205{margin:0;}
#boxRynki4 div.boxContent div.box395,
#boxTwojefinanse4 div.boxContent div.box395,
#boxBiznes4 div.boxContent div.box395{width:375px;margin:0 0 0 20px;padding:0 10px;}
#boxRynki4 div.boxContent div.left div.boxHeader,
#boxTwojefinanse4 div.boxContent div.left div.boxHeader,
#boxBiznes4 div.boxContent div.left div.boxHeader{display:none;}
#boxRynki4 div.boxContent div.right div.boxHeader,
#boxTwojefinanse4 div.boxContent div.right div.boxHeader,
#boxBiznes4 div.boxContent div.right div.boxHeader{display:none;}
#boxRynki4 div.boxContent div.left div.boxContent,
#boxTwojefinanse4 div.boxContent div.left div.boxContent,
#boxBiznes4 div.boxContent div.left div.boxContent{padding:0;}
#boxRynki4 div.boxContent div.right div.boxContent,
#boxTwojefinanse4 div.boxContent div.right div.boxContent,
#boxBiznes4 div.boxContent div.right div.boxContent{padding:0;}
#boxRynki4 div.boxContent div.boxGrey div.boxContent,
#boxTwojefinanse4 div.boxContent div.boxGrey div.boxContent,
#boxBiznes4 div.boxContent div.boxGrey div.boxContent{padding:5px;}

#boxRynki4 div.boxContent div.box205 a.photo,
#boxTwojefinanse4 div.boxContent div.box205 a.photo,
#boxBiznes4 div.boxContent div.box205 a.photo{display:block;overflow:hidden;}
#boxRynki4 div.boxContent div.box205 a.photo img,
#boxTwojefinanse4 div.boxContent div.box205 a.photo img,
#boxBiznes4 div.boxContent div.box205 a.photo img{margin:8px 0 0;width:203px;
height:auto;}
#boxRynki4 div.boxContent div.box205 a.title,
#boxTwojefinanse4 div.boxContent div.box205 a.title,
#boxBiznes4 div.boxContent div.box205 a.title{font-size:15px;font-weight:bold;}
#boxRynki4 div.boxContent div.box395 ul li,
#boxTwojefinanse4 div.boxContent div.box395 ul li,
#boxBiznes4 div.boxContent div.box395 ul li{background:url(../images2/images.png) -470px 0 no-repeat;overflow:hidden;display:block;clear:both;line-height:18px;padding:0 0 4px 14px;}

#boxRynki4 div.boxContent #boxSpolka.box205{margin:0;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxHeader{display:block;padding:0 0 2px 2px;padding:0;overflow:hidden;background-color:#fff;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxHeader h5{font-size:15px;color:#002146;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent{padding:5px 0 0 0;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span{display:block;margin:0 0 5px;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.name{clear:both;font-size:20px;color:#002146;padding:0 0 0 2px;/*margin:0 0 10px;*/}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.value{width:40%;float:left;font-size:12px;text-align:left;color:#002146;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change{width:60%;float:left;font-size:12px;text-align:center;color:#666;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change span{margin:0;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change span.arrow{float:left;width:8px;height:14px;margin:0 2px 0 0;background:none;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change span.value{float:left;width:auto;margin:0 4px 0 0;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change span.percent{float:left;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.up,
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.up span.value{color:#1b9a3c}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.up span.arrow{background:url(../images/images9.png) -17px -101px no-repeat;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.down,
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.down span.value{color:#EC1C24}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.change.down span.arrow{background:url(../images/images9.png) -17px -126px no-repeat;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent span.update{clear:both;text-align:center;font-size:9px;margin:0;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxHeader{padding:0 0 5px 2px;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent.border3{width:185px;padding:7px;border:3px solid #efefef;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent.border3 a{display:block;width:185px;overflow:hidden;}
#boxRynki4 div.boxContent #boxSpolka.box205 div.boxContent.border3 a img{width:185px;height:auto;}

#boxLoginPromo{background-color:#efefef;}
#boxLoginPromo div.boxContent{padding:10px;}
#boxLoginPromo div.boxContent ul{float:left;}
#boxLoginPromo div.boxContent ul li{background:url(../images2/images.png) -470px -236px no-repeat;color:#002146;overflow:hidden;display:block;clear:both;line-height:18px;padding:0 0 4px 14px;}
#boxLoginPromo div.boxContent a.btnOrange{display:inline-block;text-align:left;padding:0 10px;margin:10px 0 0;height:30px;line-height:30px;background-color:#f60;color:#fff;font-weight:bold;font-size:11px;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase;cursor:pointer;overflow:hidden;}
#boxLoginPromo div.boxContent a.btnOrange{float:right;clear:right;margin:30px 0 15px;}

#boxCompanyInterview .boxContent{padding:0 0 10px 0 !important;}
#boxCompanyInterview .boxFooter{padding:0 0 10px 0 !important;}
#boxCompanyInterview .boxContent ul{display:block;overflow:hidden;}
#boxCompanyInterview .boxContent ul li.photo{padding:0;background:none;display:block;float:left;margin:0 0 0 12px;width:146px;overflow:hidden;}
#boxCompanyInterview .boxContent ul li.item-1{margin:0;}

#boxCompanyInterview .boxContent ul li.photo a.photo{display:block;float:left;position:relative;width:144px;/*height:146px;*/padding:2px 0;font-size:13px;font-weight:bold;color:#002146;}
#boxCompanyInterview .boxContent ul li.photo a.photo:hover{color:#002146;}
#boxCompanyInterview .boxContent ul li.photo a.photo span.video-play{display:block;width:150px;height:90px;
background:url(../images/images9.png) -168px 0 no-repeat;position:absolute;top:1px;left:1px;z-index:9;}
#boxCompanyInterview .boxContent ul li.photo a.photo img{width:144px !important;height:90px;margin:0 0 2px;}


div.box300.boxNotowaniaAkordeon {border-top:3px solid #efefef;margin:0 0 20px;}
div.box300.boxNotowaniaAkordeon div.boxHeader{display:none;}
div.box300.boxNotowaniaAkordeon div.boxContent{border-left:3px solid #efefef !important;border-right:3px solid #efefef !important;border-width:0 3px 1px !important;border-style:none solid solid !important;border-color:#efefef !important;padding:0 !important;}
div.box300.boxNotowaniaAkordeon div.boxContent dl{border-top:3px solid #efefef;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
/*div.box300.boxNotowaniaAkordeon div.boxContent dl:first-child{border-top:1px solid #fff !important;}*/
div.box300.boxNotowaniaAkordeon div.boxContent dl dt,
div.box300.boxNotowaniaAkordeon div.boxContent dl dd{padding:6px 7px 6px 7px;width:280px;margin:0 !important}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt{border:0 none !important;border-radius:0 !important;border-top:1px solid #efefef !important;overflow:hidden;padding:6px 7px 5px 7px;background:#fff;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt:first-child{border-top:1px solid #fff !important;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.icon-arrow-down{display:block;width:10px !important;height:11px !important;margin-top:4px !important;background:url(../images2/images.png) -4px -42px no-repeat;float:right;position:relative;left:0;top:0;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.icon-arrow-up{display:block;width:10px !important;height:11px !important;margin-top:4px !important;float:right;position:relative;left:0;top:0;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change{display:block;width:259px;float:left;font-size:12px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.name{display:inline-block;float:left;font-size:12px;color:#002146;font-weight:bold;line-height:18px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.flag{float:left;margin:0 5px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.NBPLabel{float:left;font-weight:bold;border:1px dotted #ff3b0a;margin:2px 5px 2px 10px;font-size:9px;padding:1px 0px 0 2px;letter-spacing:0.2em; text-align:center;color:#ff3b0a;background-color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.value{display:inline-block;font-size:12px;color:#002146;font-weight:bold;text-align:right;float:right;margin:0 10px;line-height:18px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.changeValue,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.changePercent{font-weight:bold;display:inline-block;min-width:40px;width:auto !important;width:40px;float:left;font-size:12px;text-align:right;float:right;color:#555;margin:0 0 0 10px;line-height:18px;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxContent dl dt span.change span.changeValue{min-width:49px;line-height:18px;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.up span.changeValue,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.up span.changePercent{color:green;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.down span.changeValue,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.down span.changePercent{color:red;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.arrow{width:8px;height:8px;float:left;display:inline-block;margin:6px 8px 4px 0;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.up span.arrow{background:url(../images/images9.png) -17px -106px no-repeat;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change.down span.arrow{background:url(../images/images9.png) -17px -131px no-repeat;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt.ui-state-hover span.change span.name,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt.ui-state-active span.change span.name,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt.ui-state-hover span.change span.value,
div.box300.boxNotowaniaAkordeon div.boxContent dl dt.ui-state-active span.change span.value{color:#002146;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dd{border:0 none !important;border-radius:0 !important;display:none;background:#fff;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dd a{display:block;overflow:hidden;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dd img{display:block;margin:0 auto;clear:both;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dd span.update{display:block;clear:both;font-size:10px;text-align:center;line-height:18px;margin:4px 0;}
div.box300.boxNotowaniaAkordeon div.boxFooter{padding:2px 10px 6px 10px;background-color:#efefef;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxFooter{padding:2px 5px 6px 9px;background-color:#efefef;}
div.box300.boxNotowaniaAkordeon div.boxFooter a.more-link{margin:0;padding:0 8px 0 0;font-weight:normal;font-size:11px;background:url(../images2/images.png) right -401px no-repeat;font-size:12px;}
div.box300.boxNotowaniaAkordeon div.boxFooter table{width:280px;margin:6px 0 4px;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxFooter table{width:286px;margin:6px 0 4px;}
div.box300.boxNotowaniaAkordeon div.boxFooter table td{padding:2px 6px;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxFooter table td{padding:2px 3px 2px 2px;}
div.box300.boxNotowaniaAkordeon div.boxFooter table td a.more-link{color:#002146 !important;float:left;}
div.box300.boxNotowaniaAkordeon div.boxFooter table td a.more-link:hover{}

#boxBankierPick{margin:0 auto 20px;}
#boxBankierPick div.boxContent ul,
#boxBankierServices div.boxContent ul{overflow:hidden;}
#boxBankierPick div.boxContent ul li,
#boxBankierServices div.boxContent ul li{display:block;/**display:inline;*/float:left;/**float:none;*/width:150px;margin:0 40px 0 2px;}
#boxBankierPick div.boxContent ul li.item-5,
#boxBankierServices div.boxContent ul li.item-5{margin:0 0 0 2px;}
#boxBankierPick div.boxContent ul li a,
#boxBankierServices div.boxContent ul li a{display:block;overflow:hidden;}
#boxBankierPick div.boxContent ul li ul,
#boxBankierServices div.boxContent ul li ul{overflow:hidden;}
#boxBankierPick div.boxContent ul li ul li,
#boxBankierServices div.boxContent ul li ul li{display:block;*display:inline-block;clear:both;font-size:12px;line-height:18px;margin:0;overflow:hidden;position:relative;}
#boxBankierPick div.boxContent ul li a img{margin:0 0 4px;}
#boxBankierServices{padding-bottom:10px;}
#boxBankierServices div.boxContent ul li a img{margin:0 0 10px;}
#boxBankierServices div.boxContent ul li a{width:150px;margin:0;}
#boxBankierServices div.boxContent ul li a img{width:150px;margin:0 0 10px;}
#boxBankierPick{background-color:#efefef;}
#boxBlogbank div.boxContent ul li.photo a.photo{display:block;float:left;width:45px;height:45px;margin:0 10px 0 0;overflow:hidden;}
#boxBlogbank div.boxContent ul li.photo a.photo img{width:45px;height:45px;}
#boxBlogbank div.boxContent ul li.photo a.title{width:225px;}
#boxBlogbank div.boxContent ul li.photo span.name{width:225px;}

/*#boxBankierShortcutS{margin:0;}*/
#boxBankierShortcutS{margin:0 auto 20px;}
#boxBankierShortcutS div.boxContent{padding:5px 0 0 0;}
#boxBankierShortcutS div.boxContent #shortcutNav{clear:both;width:920px;overflow:hidden;*height:250px;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu{display:block;overflow:hidden;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem{display:block;width:236px;float:left;margin:0 18px 0 2px;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem.item-4{display:block;width:150px;float:right;margin:0 0 0 2px;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem h5{font-size:12px;line-height:24px;color:#002146;font-weight:bold;text-transform:uppercase;margin:0 0 2px;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem ul li{display:block;*display:inline-block;clear:both;overflow:hidden;line-height:18px;padding:0 0 2px 0;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem ul li a{display:block;float:left;font-size:12px;}

#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem ul li.campaign a{color:red;}
#boxBankierShortcutS div.boxContent #shortcutNav ul.menu li.menuItem ul li.campaign a:hover{color:red;}

div.nbAdv div.boxAdvContent div.adv{overflow:hidden;}
div.nbAdv div.boxAdvContent div.adv > div/*,
div.nbAdv div.boxAdvContent div.adv > iframe,
div.nbAdv div.boxAdvContent div.adv > img,
div.nbAdv div.boxAdvContent div.adv :last-child*/{margin:0 0 20px;}
/*div.nbAdv div.boxAdvContent div.adv :last-child{margin:0 auto 20px;}*/
/*div.nbAdv div.boxAdvContent div.adv #bbb{margin:0 auto 20px;}*/
div.nbAdv div.boxAdvContent div.adv.advBill > *,
div.nbAdv div.boxAdvContent div.adv.advBill > div/*,
div.nbAdv div.boxAdvContent div.adv.advBill > iframe,
div.nbAdv div.boxAdvContent div.adv.advBill > img,
div.nbAdv div.boxAdvContent div.adv.advBill :last-child*/{margin:20px auto;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advBelka300x80 > div{margin:0;}
div.nbAdv div.boxAdvContent div.advSky{width:160px;position:absolute;right:50%;margin-right:-660px;}
div.nbAdv div.boxAdvContent div.advBoks150x150{width:150px;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advBelka300x80{width:300px;height:80px;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advBelka645x80{width:645px;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advBelka460x64{width:460px;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advBill{/*width:750px;margin:0 auto;*/width:940px;/*height:auto;*/margin:10px auto;margin:0 auto;overflow:hidden;}
/*div.nbAdv div.boxAdvContent div.advBill div.outerCenter div.innerCenter > :last-child{margin:0 auto !important;}*/
div.nbAdv div.boxAdvContent div.advBill div.outerCenter div.innerCenter div[id^="bbb."]/*,
div.nbAdv div.boxAdvContent div.advBill div.outerCenter div.innerCenter a img*/{margin:10px auto !important;}

/*div.nbAdv div.boxAdvContent div.advBelka770x30{width:770px;margin:0 auto;}*/
div.nbAdv div.boxAdvContent div.advBelka770x30{width:950px;margin:0 auto;}

/*div.nbAdv div.boxAdvContent div.advBelka770x30 div.outerCenter div.innerCenter > :last-child{margin:0 auto 20px !important;margin:0 auto !important;}*/
div.nbAdv div.boxAdvContent div.advBelka770x30 div.outerCenter div.innerCenter div[id^="bbb."]/*,
div.nbAdv div.boxAdvContent div.advBelka770x30 div.outerCenter div.innerCenter a img*/{margin:10px auto !important;}
div.nbAdv div.boxAdvContent div.advBelka300x80,
div.nbAdv div.boxAdvContent div.advBoks300x150,
div.nbAdv div.boxAdvContent div.advRec,
div.nbAdv div.boxAdvContent div.advNavi,
div.nbAdv div.boxAdvContent div.advNavi2{width:300px;margin:0 auto;}
div.nbAdv div.boxAdvContent div.advFlyfooter > div,
div.nbAdv div.boxAdvContent div.advFlyfooter > img{margin:0;}
div.nbAdv div.boxAdvContent div.advBanner800x30 > div,
div.nbAdv div.boxAdvContent div.advBanner800x30 > img{margin:0;}
div.nbAdv div.boxAdvContent div.advTapeta > div,
div.nbAdv div.boxAdvContent div.advTapeta > img{margin:0;}
div.nbAdv div.boxAdvContent div.advTapeta [id^="bbb."]{margin:0 !important;}
div.nbAdv div.boxAdvContent div.advBoks315x110[id^="bbb."]{margin:0 !important;}

div#boxBreakingNews div.boxHeader,
div#boxBreakingNews div.boxFooter{display:none;}
div#boxPromoTool div.boxHeader,
div#boxPromoTool div.boxFooter{display:none;}
div#boxPromoTool div.boxContent div.box225 div.boxHeader,
div#boxPromoTool div.boxContent div.box225 div.boxFooter{display:none;}
/*div#boxDayNews div.boxHeader{display:none;}*/
div#boxEditorPick div.boxFooter{display:none;}
div#boxLoginPromo div.boxHeader,
div#boxLoginPromo div.boxFooter{display:none;}
div#boxRynki4 div.boxFooter,
/*div#boxTwojefinanse4 div.boxFooter,*/
div#boxBiznes4 div.boxFooter{display:none;}
div#boxRynki4 div.boxContent div#boxSpolka.box205 div.boxFooter{display:none;} 
div#boxBankierPick div.boxFooter,
div#boxBankierShortcutS div.boxFooter,
div#boxBankierServices div.boxFooter{display:none;}

div#boxTwojefinanse4 div.boxFooter ul li{display:block;*display:inline;float:left;*float:none;}
div#boxTwojefinanse4 div.boxFooter ul li a{display:block;width:200px;height:70px;soverflow:hidden;float:left;margin:10px 10px 0 0;}
div#boxTwojefinanse4 div.boxFooter ul li.item-3 a{margin-right:0;}

/*#pageHeaderS #pageHeaderTop div.pageHeaderContent{border-bottom:3px solid #002146;}*/
#boxDayNews div.boxHeader{border-bottom:3px solid #efefef;}
#boxDayNews div.boxHeader h2{}
#boxDayNews div.boxContent{padding:10px 0 0;}

/*div.box300.boxNotowaniaAkordeon div.boxContent dl{border-top:0 none;}*/
div.box300.boxNotowaniaAkordeon{border-top:0 none;}
/*div.box300.boxNotowaniaAkordeon div.boxContent dl:first-child{border-top:0 none !important;}*/
/*div.box300.boxNotowaniaAkordeon div.boxContent dl:first-of-type{border-top:0 none;}*/
div.box300.boxNotowaniaAkordeon div.boxContent dl span.groupSeparator{line-height:24px;background:#efefef;display:block;font-family:"Ubuntu",Arial,Helvetica,sans-serif;color:#002146;font-size:15px;padding:0 5px;}
div.box300.boxNotowaniaAkordeon div.boxFooter{padding:2px 10px;padding:4px 10px;}
div.box300.boxNotowaniaAkordeon div.boxFooter table{margin:0;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxFooter{padding:4px 10px;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxFooter table{margin:0;}

#boxEditorPick{margin:0 0 16px;margin:0 0 15px;}
#boxEditorPick div.boxContent{padding:10px 0 6px 0;padding:10px 0 10px;}
#boxEditorPick div.boxContent ul li{padding:5px 0 10px; positon:relative;}
#boxEditorPick div.boxContent ul li>img{position:absolute;top:0;left:0;}

#pageMainContainerS div.pageMainContainerLeft620 div.nbAdv.box300{margin:0 0 20px;margin:0 0 21px;}

div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.name a{color:#002146;}
div.box300.boxNotowaniaAkordeon div.boxContent dl dt span.change span.name a:hover{text-decoration:underline;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxContent dl dt{cursor:pointer;}
div.box300.boxNotowaniaAkordeon.secondAccordion div.boxContent dl dt span.icon-arrow-down{display:none;}
div#boxFacebook div.boxContent {padding-top:0 !important}

#boxCalendar .boxHeader{}
#boxCalendar .boxHeader h4 span.icon,
#boxCalendar .boxHeader h3 span.icon,
#boxCalendar .boxHeader h2 span.icon,
#boxCalendar .boxHeader h1 span.icon{width:24px;height:21px;float:left;margin:0 4px 0 0;background:url(../images/images96.png) -520px -24px no-repeat;}
#boxCalendar.border2 .boxContent{padding:0 !important;padding:0 8px !important;padding:10px 8px 8px !important;position:relative;padding:4px 0 !important;}
#boxCalendar .boxContent .scrollAreaContainer{overflow:hidden;height:200px;height:160px;position:relative;}
#boxCalendar .boxContent .scrollAreaContainer ul{margin:0 10px;position:relative;z-index:98;}
#boxCalendar .boxContent .scrollAreaContainer ul{margin:0;padding:0 8px;position:absolute;z-index:98;overflow:hidden;}
#boxCalendar .boxContent .scrollAreaContainer ul li{}
#boxCalendar.box300 .boxContent .scrollAreaContainer ul,#boxCalendar.box300 .boxContent .scrollAreaContainer ul li{width:276px;}
#boxCalendar.box315 .boxContent .scrollAreaContainer ul,#boxCalendar.box315 .boxContent .scrollAreaContainer ul li{width:295px;}

#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup{margin:0 0 5px;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.eventCategoryName{width:100%;border-bottom:1px solid #e5e5e5;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.eventCategoryName time.time{display:block;height:28px;line-height:28px;margin:0 14px 0 0;font-size:12px;color:#002146;font-weight:bold;font-style:normal;margin:0 16px 0 0;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event{padding:5px 7px 4px 0;border-bottom:1px solid #e5e5e5;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event:last-of-type{border-bottom:1px solid #fff;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event div.eventHeader{margin:0 16px 0 0;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event div.eventHeader div.eventTitle div.title{margin:0 14px 0 0;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event div.eventDescription{margin:0 14px 0 0;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event div.eventDescription p{display:inline;}
#boxCalendar .boxContent .scrollAreaContainer ul li div.eventCategoryGroup div.event div.eventLocation {font-size:11px;color:#666;display:inline}

#boxCalendar .boxContent .scrollAreaContainer #arrow-up,#boxCalendar .boxContent .scrollAreaContainer #arrow-down{display:block;width:16px;height:16px;background:url(../images/images96.png) -61px -52px no-repeat;position:absolute;right:4px;z-index:99;}
#boxCalendar .boxContent .scrollAreaContainer #arrow-up{top:0;}
#boxCalendar .boxContent .scrollAreaContainer #arrow-down{bottom:0;background-position:-61px -77px;}

#nbSLMenuBox{width:940px;clear:both;border:3px solid #efefef;padding:7px;margin:0 auto 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#nbSLMenuBox .boxHeader{border-bottom:3px solid #f60;text-align:left;}
#nbSLMenuBox .boxHeader h3{color:#002146;font-family:"Ubuntu",Arial,Helvetica,sans-serif;font-size:15px;font-weight:normal;line-height:24px;margin:0;padding:0}
#nbSLMenuBox .boxContent{width:100%;padding:5px 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#nbSLMenuBox ul{display:inline-block;margin:0 18px 0 2px;padding:0;width:133px;list-style:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:top;}
#nbSLMenuBox ul:last-child{margin-right:0}
#nbSLMenuBox ul li{font-size:12px;line-height:16px;margin-top:0px;}
#nbSLMenuBox ul li a{padding:0 0 2px;display:inline-block;color:#002146;text-decoration:none;line-height:18px;}
#nbSLMenuBox ul li a:hover{text-decoration:underline;}
