﻿/* modal popup start */

#promoModal{
    display:none;
}

#promoModal .modal-body {
    padding: 0;
}

#promoModal .modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none;
    position: relative;
    background:#fff;
}

.promo-modal-title h1 {
    font-size: 5.5em;
    margin: 0;
    line-height: 0.9em;
    font-weight: 100;
    color: #fff;
}

.fancybox-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    z-index: 9;
    opacity: 1;
    text-shadow: none;
    color: #000;
    font-weight: normal;

    line-height: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:18px;

    color: #000;
}

.fancybox-close:hover{
	color: #000;
}

.fancybox-overlay {
    background:rgba(0,0,0,0.7);
}

.fancybox-skin{
	border-radius: 0;
}

#promoModal .promo-header {
    background: #292929;
    min-height: 273px;
    overflow: visible;
}

#promoModal .promo-header .half {
    width: 50%;
}

.promo-modal-title {
    padding-left: 36px;
    padding-top: 52px;
}

#promoModal .promo-modal-img {
    padding-right: 40px;
	position: absolute;
    right: 0;
    top: -12px;
}

#promoModal .promo-content {
    padding: 38px 40px;
    background:#e8e8e8;
}
.fancybox-skin {
    background:#e8e8e8;
}

.promo-details {
    font-size: 20px;
    color: #000;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 28px;
    font-weight: 100;
}

.promo-label h2 {
    font-size: 20px;
    font-weight: 700;
	color: #00a7bb;
}

.promo-label h2.error-msg {
    color:#cc0000;
}

.promo-label {
	margin-bottom: 15px;
	height: 31px;
}

.promo-content .input__label-content--mp-input {
    font-size: 18px;
    color: #080808;
    font-weight: 700;
}

.promo-content .input__field--mp-input {
    padding-left:0;
    padding-right: 30px;
    font-size:18px;
    color:#000;
    margin-top: 5px;
}

.promo-content .mp-footer-email {
    margin-bottom: 15px;
}

.promo-content .mp-footer-email button {
    font-size: 22px;
    color: #000;
    padding: 1px;
    padding-right: 5px;
    line-height: 1em;
    top: 5px;
}
.promo-content .input--filled button {
    top:8px;
}

.promo-content .mp-footer-email .input--filled .input__label--mp-input .input__label-content--mp-input {
    color: #080808;
}

.promo-content .input__field--mp-input:focus + .input__label--mp-input::after,
.promo-content .input--filled .input__label--mp-input::after {
    height:9px;
    border:none;
    -webkit-transform:scale3d(1,4,1);
    -o-transform: scale3d(1,4,1);
    -ms-transform: scale3d(1,4,1);
    -moz-transform: scale3d(1,4,1);
    transform:scale3d(1,4,1);
}

.promo-content .input__label.input__label--mp-input{
    background:#e8e8e8;
    margin-bottom:0;
}

.promo-content .input__label--mp-input::after {
    border-bottom:1px solid #000;
    padding-bottom:0;
}

.btn-promo-modal{
    position: fixed;
    top: 250px;
    color: #fff;  
    display: none;
    padding: 10px 15px;
    z-index: 999;
    background: #000;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: 14px;
    transform-origin: right;
    -o-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    -webkit-transform-origin: right;
    font-weight: 700;
    font-size: 14px;
}
    .btn-promo-modal.fancybox-margin {
        margin-right:0;
    }
#promoModal .btn.btn-default {
    outline: none;
    background:transparent;
    border:none;
    box-shadow:none;
    transition:all 0.3s;
}

@media screen and (max-width:992px){
	.promo-content .input__field--mp-input {
		padding:0 30px 0 0 !important;
	}
}

/* email modal popup end*/