﻿/*** Start Mega Menu Desktop ***/
.mp-main-content {
    z-index: 0;
}
header {
    position: relative;
    z-index: 9;
}
.navbar {
    z-index: 2;
}
.mp-nav {
    padding: 0;
}
.mp-navtop .container {
    position: relative;
}
.mp-nav .mp-navtop {
    background: #fff;
    border: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 2px 5px -3px #000000;
    box-shadow: 0 2px 5px -3px #000000;
}
.shadow-line {
    position: absolute;
    bottom: 0;
    z-index: 100;
    height: 9px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px -3px #000000;
    box-shadow: 0 2px 5px -3px #000000;
}
.mp-nav .mp-navtop .fa-bars {
    margin-right: 4px;
}
.navbar-position {
    position: absolute;
    width: 100%;
}
.nav > li > a:focus,
.nav > li > a:hover {
    background: transparent;
}
.mp-nav .mp-navtop .row {
    display: table;
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0 ;
}
.mp-nav .mp-navtop .col-md-2, .mp-nav .mp-navtop .col-md-10 {
    float: none;
    vertical-align: middle;
    display: table-cell;
}
.mp-nav {
    padding: 0;
    float: left;
    width: 100%;
    vertical-align: middle;
    line-height: 15px;
    height: 34px;
    -webkit-transition: all .12s ease;
    -moz-transition: all .12s ease;
    -ms-transition: all .12s ease;
    -o-transition: all .12s ease;
    transition: all .12s ease;
}
.mp-nav ul.nav li a {
    font-size: 14px;
    color: #484848;
    padding: 15px 18px;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    position: relative;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.mp-cat ul li a,
.mp-cat ul li a:hover,
.mp-cat ul li.active a {
    color: #00a7bb;
    text-decoration: none;
}
.mp-nav ul.nav li a:hover, .mp-nav ul.nav li a.current {
    color: #212121;
}
.megamenu-wrap {
    position: absolute;
    z-index: 10;
    left: 15px;
    top: 100%;
}

.megamenu-wrap .mp-menu {
    float: left;
    padding-top: 5px;
    background: #f8f8f8;
    border-bottom: 6px solid #212121;
    -webkit-box-shadow: 0 1px 7px -3px #000000;
    box-shadow: 0 1px 7px -3px #000000;
    min-height: 545px;
	width: 100%;
}
.megamenu-wrap .menu-cat {
    display: inline-block;
    float: left;
    vertical-align: top;
    -webkit-box-shadow: 1px 0 7px -3px #000000;
    box-shadow: 1px 0 7px -3px #000000;
    position: relative;
}
.megamenu-sub {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    width: 920px;
    display: none;
    padding: 10px 0 0;
    margin: 0;
    text-align: left;
    background: #f8f8f8;
    border-bottom: 6px solid #212121;
    -webkit-box-shadow: 0 1px 7px -3px #000000;
    box-shadow: 0 1px 7px -3px #000000;
    min-height: 545px;
}
.megamenu-sub .sub-list,
.megamenu-sub .sub-list .category2_item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.megamenu-sub .sub-list .category2_item .expand {
    display: none;
}
.menu-col {
    width: 306px;
    float: left;
}
.megamenu-sub .sub-list li {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    margin-bottom: 0;
}
.megamenu-sub .sub-list .category2_item {
    line-height: 20px;
    padding: 10px 0 0;
    min-height: 132px;
    position: relative;
}
.megamenu-sub .sub-list .category2_item > a, .megamenu-sub .sub-list .category2_item .active-cate > a {
    color: #212121;
}
.cat-list-box .btn-cat {
    color: #fff;
    margin-bottom: 10px;
}
.megamenu-sub .sub-list .category2_item .active-cate {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 #8b8b8b;
    box-shadow: 0 2px 5px 0 #8b8b8b;
    position: absolute;
    z-index: 9;
    padding: 10px 0 15px;
    left: 0;
    top: 0;
    width: 98%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.megamenu-sub .sub-list .category2_item .active-cate > ul {
    height: auto;
}
.megamenu-sub .sub-list .category2_item .cat-list-box > a, .category2_item .active-cate > a {
    font-weight: 600;
    text-transform: uppercase;
}
.megamenu-sub .sub-list .category2_item .cat-list-box {
    padding-top: 10px;
}
.megamenu-sub .sub-list .category2_item .cat-list-box ul li a {
    color: #484848;
    font-weight: 400;
}
.megamenu-sub .sub-list .category2_item .child-list .category_2_level_mobile {
    display: none;
}
.megamenu-sub .sub-list .category2_item .child-list li a{
    display: block;
    padding: 0 18px;
    font-weight: 400;
}
.btn-cat {
    background: #212121;
    color: #fff;
    font-size: 12px !important;
    padding: 5px 10px 3px !important;
}
.btn-cat i {
    padding-left: 7px;
}
.btn-cat:hover {
    background: #00a7bb;
    color: #fff;
}
.view-copy {
    display: none;
}
.mp-cat {
    padding: 10px 10px 9px 15px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    color: #212121;
}
a:hover.mp-cat,
a:focus.mp-cat {
    color: #212121;
}
.expand:after {
    line-height: 18px;
    font-family: FontAwesome;
    font-size: 12px;
    float: right;
    color: #c8c8c8;
    font-weight: 500;
    content: '-';
}
.expand:after {
    content: '\f054';
}
.mp-menubox.collapsed {
    display: none;
}
.mp-menu > li,
.mp-menu ul {
    width: 100% !important;
}
.mp-menu > li {
    position: static;
}
.mp-menu > li > a, .mp-menu li.category2_item > a {
    font-weight: 600;
    text-transform: uppercase;
}
.mp-menu li.category2_item > a, .mp-menu li.category2_item .active-cate > a {
    display: block;
    padding: 0 18px !important;
}
.mp-nav .mp-menu li li a {
    color: #585858;
    font-size: 14px;
}
.mp-nav .mp-menu li li a:hover {
    color: #00a7bb;
}
.navbar-nav.sm-collapsible a.has-submenu {
    padding-right: 15px;
}
.mp-nav ul.nav li a span.expand:after {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
}
a:hover .expand:after, a.current .expand:after {
    color: #212121;
}
.megamenu-sub .sub-list .category2_item.no-height {
    min-height: auto;
}
.megamenu-sub .sub-list .category2_item .last-cate {
    padding: 20px;
}
.megamenu-sub .sub-list .category2_item .last-cate a {
    padding: 0;
}
.megamenu-sub .sub-list .category2_item .last-cate img {
   width: 90%; 
}
.megamenu-sub .sub-list .category2_item .last-cate .btn {
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
}
.pos-tabs.btm-pos .panel-heading .collapsed .fa {
    transform:rotate(0deg);
}
.mp-search .input-close {
    display: none;
}
.only-mobile {
    display: none !important;
}
.mp-cat .expand {
    display: none;
}
.category2_item .fa-plus-circle {
    color: #212121;
}
/*** End Mega Menu Desktop ***/

/****Start Mega Menu for Tablet View****/
@media(max-width:992px) {

    .navbar-brand {
        padding: 5px 0 5px 10px;
    }
    .navbar-brand img {
        width: 180px;
    }

    header {
        height: 68px;
    }
    header .row {
        margin-bottom: 0;
        display: block;
        width: auto;
    }
    .mobile-header {
        position: fixed;
        top: 0;
        z-index: 1030;
        width: 100%;
    }
    .navbar-nav {
        margin: 0 -10px;
    }
    .navbar-header {
        float: left;
    }

    .nav-mob {
        float: right;
        margin: 0;
        margin-right: 5px;
    }

    .nav-mob li {
        float: left;
    }

    .navbar-inverse .navbar-nav > li > a {
        line-height: 30px;
        font-size: 16px;
        padding: 10px;
        outline: none;
    }
    .navbar-right {
        padding: 0;
        float: right;
    }
    .navbar-right li{
        display: none;
        float: left;
    }
    .navbar-right li.view-mobile{
        display: block;
    }
    .only-mobile {
        display: block !important;
    }
    .menubar .icon-bar+.icon-bar {
        margin-top: 4px;
    }
    .menubar .icon-bar {
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 1px;
        background: #fff;
    }
    .menubar {
        position: relative;
        float: right;
        padding: 4px 0;
        margin: 0;
        background-color: transparent;
        background-image: none;
    }

    .menu-bar {
        outline: none;
    }

    .menu-bar .icon-times, .menu-bar.open .menubar {
        display: none;
    }

    .menu-bar.open .icon-times {
        display: block;
        font-size: 40px;
        font-weight: normal;
        line-height: 0;
        margin-top: 16px;
        width: 22px;
    }
    
    .mp-search {
        background: #fff;
        padding: 0;
        position: absolute;
        top: 63px;
        left: 0;
        margin-bottom: 0;
        display: none;
    }
    .mp-search.col-sm-3 {
         width: 100%;
    }
    .mp-search form {
        padding: 10px 15px 8px;
        box-shadow: 0 1px 2px #333;
        -webkit-box-shadow: 0 1px 2px #333;
        margin: 0 -1px;
    }
    .mp-search .input__label--mp-input {
        display: none;
    }
    
    .mp-search .input-close {
        position: absolute;
        z-index: 2;
        display: block;
    }
    .mp-search .input-close {
        font-size: 42px;
        font-weight: 100;
        color: #888888;
        line-height: 52px;
        right: 20px;
        top: 2px;
        cursor: pointer;
    }
    .mp-search button {
        float: left;
        width: 24px;
    }
    .mp-search input::-ms-clear {
        display: none;
    }

    .mp-search .clearfix {
        display: block;
    }
    .mp-search button {
        left: 0;
        color: #888 !important;
    }
    .input__field--mp-input {
        padding: 0 32px .2em !important;
    }
    
    
    /* Mobile Menu start*/
    .mp-nav {
         background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        margin-top:0;
        display: none;
        overflow-y: hidden;
        padding-top: 0;
    }
    .mp-nav .mp-navtop {
        background: #fff;
        position: relative;
        width: 100%;
        max-width: 360px;
        height: 100%;
        float: right;
        padding-top: 0;
        right: -100%;
    }
    .close-slidebar {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .mp-nav .container {
        padding: 0;
    }
    .mp-nav .container .row {
        margin: 0;
    }
    .mp-nav .container .row .col-sm-3, .mp-nav .container .row .col-sm-9 {
        width: 100%;
        padding: 0;
        display: block;
    }
    .mp-cat .expand {
        display: block;
        float: right;
    }
    .mobile-navTab {
        background: #e8e8e8;
        border-radius: 0;
        display: block;
        padding: 13px 30px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #484848;
        outline: none;
        border-bottom: 1px solid #fff;
    }
    .mobile-navTab:hover, .mobile-navTab:focus {
        color: #484848;
    }
    
    .mobile-navTab .fa {
        margin-right: 7px;
        font-size: 17px;
        width: 18px;
    }

    .mobile-navTab.active .expand::after {
        content: '\f077';
        color: #484848;
    }

    .mobile-navTab .expand::after {
        content: '\f078';
        color: #484848;
    }

    .shop-copy {
        display: none;
    }
    .view-copy {
        display: inline-block;
    }

    
      /* Offer section here*/
    ul.mp-promotext {
        height: auto;
        display: none;
        padding: 0;
    }
    .mp-promotext li {
        padding: 16px 30px !important;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
        text-align: left !important;
        margin: 0;
        list-style: none;
        display: block !important;
        border-right: none !important;
        width: 100% !important;
    }
    .mp-promotext li .fa {
        float: left;
        width: 50px;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .mp-promotext li strong {
        font-size: 16px;
        color: #212121;
        line-height: 20px;
        text-decoration: none;  
    }

    .mp-promotext li a {
        font-size: 14px;
    }
    .mp-promotext li a:hover {
        color: #212121;
    }
    .mp-promotext li.last {
        border-bottom: 1px solid #e8e8e8 !important;
    }
    
    
     /* Mobile Login here*/
        .mp-navtop .active-user {
            padding-right: 0;
        }

        .mp-navtop .active-user {
            padding: 0 24px 0 30px !important;
        }

        .mp-navtop .active-user .fa-user {
            float: left;
            line-height: 40px;
        }

        .mp-navtop .active-user .title {
            text-transform: none;
            display: block;
            float: left;
            line-height: 16px;
            padding: 8px 0 0 4px;
        }

        .mp-navtop .active-user .title .text-capitalize, .mp-navtop .active-user .title .email {
          font-size: 16px !important; /* beat mp-global.css */
          display: block;
          width: 130px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .mp-navtop .active-user .subtitle {
            display: block;
            font-weight: 400;
            font-size: 12px !important; /* beat mp-global.css */
        }

        .mp-navtop .active-user .mebmer-box {
            float: right;
            text-transform: none;
            border-left: 1px solid #fff;
            padding: 10px 0 10px 10px;
            width: 100px;
        }

        .mp-navtop .active-user .mebmer-box .subtitle {
            width: 60px;
            line-height: 1em;
            font-weight: 400;
        }

        .mp-navtop .active-user .mebmer-box .subtitle.oneline {
          line-height: 2em;
        }

        .mp-navtop .active-user .mebmer-box .starBox {
            float: right;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            display: block;
            background: #FFF;
        }
        .mp-navtop .active-user .mebmer-box .starBox.bronze {
            color:#c46b36;
        }
       .mp-navtop .active-user .mebmer-box .starBox.silver {
            color: #c8c8c8;
        }
        .mp-navtop .active-user .mebmer-box .starBox.gold {
            color: #d89b01;
        }
        .mp-navtop .active-user .mebmer-box .starBox.platinum {
            color: #93e5f4;
        }
        .mp-navtop .active-user .mebmer-box .starBox.vip {
            color: #272B6E;
        }
        .mp-navtop .active-user .mebmer-box .fa {
            margin: 0 !important;
            line-height: 24px;
            text-align: center;
        }
        .mp-navtop .active-user .mebmer-box .fa-diamond {
          margin-right: 1px !important;
        }
        
    /* Categories section here*/
    
    .panel-heading.first-tab {
        display: none;
    }
    .megamenu-wrap {
        overflow-y: auto;
        position: relative;
        width: 100%;
        left: 0;
        padding: 0;
        border: none;
    }

    .megamenu-wrap .mp-menubox {
        width: 100% !important;
        position: relative;
    }
    .megamenu-wrap .mp-menu {
        float: none;
        box-shadow: none;
        padding-top: 0;
        border: none;
        min-height: inherit;
    }
    .megamenu-wrap .megamenu-sub {
        width: 100%;
        left: 0;
        position: relative;
        border: none;
        min-height: inherit;
        overflow: hidden;
        padding: 0;
        background: #fff;
        box-shadow: none;
    }
    
    .megamenu-wrap .menu-col {
        width: 100%;
        float: none;
    }
	.megamenu-wrap ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
    .megamenu-wrap .mp-menu > li > a{
        display: block;
        padding: 15px 30px !important;
        font-size: 16px !important;
        font-weight: 600;
        text-transform: uppercase;
        outline: none;
        border-top: 1px solid #e8e8e8;
    }
    .megamenu-wrap .sub-list > li > a, .megamenu-wrap .sub-list .child-list > li > a {
        display: block;
        padding: 10px 30px !important;
        font-size: 16px !important;
        font-weight: 500;
         text-transform: inherit;
        outline: none;
    }
    .megamenu-sub .sub-list .category2_item .child-list li a {
        font-weight: 500;
    }
    .megamenu-wrap .sub-list > li > a {
        padding-left: 40px !Important;
    }
    .megamenu-wrap .sub-list .child-list > li > a {
        padding-left: 50px !Important;
    }
    .mp-nav ul.nav li a span.expand::after {
        right: 20px;
    }
    
    .megamenu-wrap .category_2_level_mobile {
        display: block !important;
    }
    
    .megamenu-wrap ul.cat-list li a {
        border-top: 1px solid #e8e8e8;
        color: #282828;
    }
   /* .megamenu-wrap ul.cat-list a.collapsed .expand::after {
        color: #c8c8c8;
        content: '\f054';
    }
    .megamenu-wrap ul.cat-list li a .expand::after {
        color: #484848;
        content: '\f078';
    }*/
    
    
    .megamenu-sub .sub-list .category2_item {
        height: auto;
        min-height: inherit;
        padding: 0;
    }
    .megamenu-sub .child-list {
        display: none;
    }
    .megamenu-sub .sub-list .category2_item .last-cate {
        padding: 10px 20px;
    }
    .megamenu-sub .sub-list .category2_item .last-cate .btn {
        color: #484848;
        font-size: 16px !important;
        padding: 0 20px !important;
        text-transform: initial;
        font-weight: 500;
    }
    .megamenu-sub .sub-list .category2_item .last-cate .btn .fa {
        display: none;
    }
    
    .mp-navtop .container, .mp-navtop .container > .row{
        display: block;
        height: 100%;
    }
    .mp-nav ul.nav li a.active span.expand::after {
        content: '\f078';
        color: #282828;
    }
    
    .megamenu-sub .sub-list li.category2_item > a {
        color: #484848;
        font-weight: 500;
        font-size: 16px;
    }
    .megamenu-sub .sub-list .category2_item > a:hover{
        color: #484848;
    }
    
    .megamenu-sub .sub-list .category2_item .expand {
        display: block;
    }
    
    #slide-menu .main-menu ul.sub-menu li > a {
        text-transform: none;
        border: none !important;
        font-weight: 500;
        color: #282828;
    }

        #slide-menu .main-menu ul.sub-menu li > a.collapsed {
            color: #484848;
        }

    #slide-menu .main-menu li.category2_item > a {
        padding-left: 40px !important;
    }

    #slide-menu .main-menu li.category2_item ul li > a {
        padding-left: 50px !important;
        color: #484848;
    }
	.mp-nav ul.nav li a {
		background: #fff;
	}
    
.btm-pos {
    position: absolute;
    bottom: 63px;
    width: 100%;
    z-index: 20;
}
        
.close-slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

#hp-hero-rotator {
    margin: 0 5px 10px;
}

.hp-modules figure {
    border: 5px solid #fff;
    margin: 0;
}

    .hp-modules figure:last-child {
        width: 100%;
    }

.mp-sidetab {
    display: none;
}

.mp-footer-social a {
    margin-right: 10px;
}

.mp-cat.main-tabs {
    display: none;
}

.active-tab.main-tabs {
    display: block;
}

}
/****End Mega Menu for Tablet View****/

/****Start Mega Menu for Mobile View****/
@media(max-width:767px) {

    header {
        height: 57px;
    }

    .navbar {
        padding: 0;
        min-height: 1px;
        height: auto;
    }

    .navbar-nav > li > a {
        padding-bottom: 10px;
    }

    .classic-site {
        display: none;
    }

    #hp-hero-rotator button {
        display: none;
    }

    .carousel-caption {
        transform: translateY(-50%);
    }

    .carousel-control.left, .carousel-control.right {
        display: none;
    }

    .hp-modules figure figcaption > div {
        top: 10%;
    }

    .mp-footer-links {
        float: left;
        width: 33%;
        min-width: 120px;
    }

    .mp-footer-btm a {
        margin-right: 4px;
        padding-right: 6px;
    }
    .mp-search {
        top: 53px;
    }
    .btm-pos {
    bottom: 53px;
}

}

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .megamenu-wrap { margin-top: 0; top: auto;}
}

/****End Mega Menu for Mobile View****/