/*@import url(http://fonts.googleapis.com/css?family=Hind:400,500,600,700,300);*/

body {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #212121;
}

body {
    -ms-overflow-style: scrollbar;
}

/*IE scrollbar overlaying content*/

a {
    color: #212121;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.anclight a {
    color: #d3d3d3; /*#fff;*/
    text-decoration:underline;
    font-size: 12px;
}

a:focus,
a:hover, .anclight a:hover {
    color: #00a7bb;
    text-decoration: none;
}

label {
    font-weight: 300;
}

b,
strong {
    font-weight: 600;
}

/*mp colors*/

.btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-default {
    color: #585858;
    background-color: #fff;
    border-color: #e8e8e8;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: #00a7bb;
        background-color: #fff;
        border-color: #e8e8e8;
    }

.btn-primary {
    color: #fff;
    background-color: #00a7bb;
    border-color: #00a7bb !important;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #48ABBD;
        border-color: #48ABBD !important;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus,
    .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary.focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #99dce4;
        border-color: #99dce4;
    }

    .btn-primary .badge {
        color: #99dce4;
        background-color: #fff;
    }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #00a7bb;
}

.form-control:focus {
    border-color: #00a7bb;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

    .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link:focus {
        color: #fff;
    }

    .navbar-inverse .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-inverse .btn-link:focus {
        color: #444;
    }

#main-wrap .container {
    width: 100%;
    max-width: 1600px;
}

header {
    height: 63px;
}

    header .navbar .container {
    padding: 0;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar {
	background: #212121;
    height: 64px;
	margin-bottom: 0;
	padding: 8px 15px 0;
    border-radius: 0;
}

.navbar-header {
  position: relative;
  z-index: 99999;
}

.navbar-right {
	padding-right: 15px;
}

.navbar-brand {
  padding: 5px 5px 5px 20px;
}

.navbar-brand img {
	width: 100%;
	height: 100%;
	max-width: 230px;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.smpadding,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    padding: 5px;
    margin: 0;
}

.mp-search {
    float: left;
    position: relative;
    padding: 9px 15px 12px;
}

    .mp-search .input-group {
        display: block;
    }

    .mp-search input.form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 17px;
        padding: 3px 7px 3px 0;
        border-radius: 0;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: 27px;
    }

    .mp-search button {
        padding: 3px 5px;
        border: none;
        position: absolute;
        color: #fff;
        right: 0;
        top: 0;
        font-size: 18px;
        background: none;
        cursor: pointer;
        z-index: 1100;
    }

        .mp-search button:hover {
            background: none;
            border: 0;
            color: #fff;
        }

        .mp-search button:focus,
        .mp-search button:active,
        .input__field--mp-input:focus ~ button {
            color: #212121;
            background: none;
            border: 0;
        }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #00a7bb;
}

.dropdown-menu {
    width: 100%;
    min-width: 100%;
    border: 0;
    padding: 0;
    background: #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: 0 12px 20px -10px #000000;
    -moz-box-shadow: 0 12px 20px -10px #000000;
    box-shadow: 0 12px 20px -10px #000000;
}

    .dropdown-menu > li > a {
        padding: 7px 20px;
        font-weight: 600;
    }

    .dropdown-menu input::-webkit-input-placeholder {
        font-size: 12px;
        padding-top: 5px;
    }

    .dropdown-menu input::-moz-placeholder {
        font-size: 12px;
        padding-top: 5px;
    }

    .dropdown-menu input:-ms-input-placeholder {
        font-size: 12px;
        padding-top: 5px;
    }

    .dropdown-menu input:-moz-placeholder {
        font-size: 12px;
        padding-top: 5px;
    }

    .dropdown-menu:before {
      top: -8px;
      right: 11.5px;
      bottom: auto;
      left: auto;
      border-width: 0 8px 8px;
      border-color: #e8e8e8 transparent;
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
    }

    .dropdown-menu .account-menu-login {
      border-bottom: 1px solid #fff;
      min-width: 180px;
      padding-top: 9px;
      padding-bottom: 8px;
    }
    .dropdown-menu .account-menu-login .subline {
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin-top: -5px;
    }

    .dropdown-menu .account-menu-member {
      border-bottom: 1px solid #fff;
      width: 280px;
      padding: 0 0 0 20px;
    }
    .dropdown-menu .account-menu-member .pull-left {
      padding-top: 9px;
      padding-bottom: 8px;
      width: 160px;
    }
    .dropdown-menu .account-menu-member .fname, .dropdown-menu .account-menu-member .email {
      width: 150px;
      display: block;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dropdown-menu .account-menu-member .fname {
      text-transform: capitalize;
    }
    .dropdown-menu .account-menu-member .subline {
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin-top: -5px;
    }
    
    .dropdown-menu .account-menu-member .pull-right {
      width: 100px;
      height: 50px;
      border-left: 1px solid #fff;
    }
    .dropdown-menu .account-menu-member .member-box {
        float: right;
        text-transform: none;
        width: 100px;
        padding-left: 12px;
    }
    .dropdown-menu .account-menu-member .member-box .subtitle {
        width: 50px;
        line-height: 1em;
        font-size: 12px;
        font-weight: 400;
        white-space: normal;
        display: block;
        margin-top: 14px;
    }
    .dropdown-menu .account-menu-member .member-box .subtitle.oneline {
      line-height: 2em;
      text-align: center;
    }
    .dropdown-menu .account-menu-member .member-box .starBox {
        float: right;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        display: block;
        background: #FFF;
        margin-right: 10px;
        margin-top: 14px;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.black {
        color:#484848;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.bronze {
        color:#c46b36;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.silver {
        color: #c8c8c8;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.gold {
        color: #d89b01;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.platinum {
        color: #93e5f4;
    }
    .dropdown-menu .account-menu-member .member-box .starBox.vip {
        color: #272B6E;
    }
    .dropdown-menu .account-menu-member .member-box .fa {
        margin: 0 !important;
        text-align: center;
        line-height: 24px;
    }
    .dropdown-menu .account-menu-member .member-box .fa-diamond {
      margin-right: 1px !important;
    }

ul.mp-promotext {
    height: 34px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    display: table;
    width: 100%;
    padding: 8px 0;
}

    ul.mp-promotext li {
        font-size: 14px;
        display: table-cell;
        padding: 0 10px;
        text-align: center;
        width: 33.33333333%;
        border-right: 1px solid #d8d8d8;
        vertical-align: middle;
        color: #212121;
        text-transform: capitalize;
    }

        ul.mp-promotext li.last {
            border: none;
        }

.mp-promotext li > a {
    font-size: 12px;
    margin: 0 2px;
    color: #585858;
    text-decoration: underline;
}
.mp-promotext li > a:hover {
  color: #00a7bb;
}

#main-content {
    min-height: 400px;
    padding: 0;
}

    #main-content > div {
        padding: 0;
    }

#navbar {
    position: relative;
    width: 100%;
    margin: auto;
}

.navbar {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.mp-main-content {
    position: relative;
    overflow: hidden;
    background: none;
}

/* hover effects */

figure.hp-hero figcaption {
    margin: 0 10px;
    font-size: 125%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.hp-hero:hover figcaption:hover {
    background: rgba(0, 0, 0, 0.1);
}

figure.hp-hero p {
    position: relative;
    left: 0;
    line-height: 32px;
    width: 100%;
    color: #fff;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.hp-hero figcaption::before,
figure.hp-hero p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.hp-hero p {
    font-weight: 300;
    position: relative;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 10px 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

figure.hp-hero:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0) translate3d(0, 0, 0);
    transform: translate3d(0, -10px, 0) translate3d(0, 0, 0);
}

figure.hp-hero:hover figcaption::before,
figure.hp-hero:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.hp-hero:hover .hero-text-mid p,
figure.hp-hero:hover .hero-text-bot p {
    color: #fff;
    -webkit-transform: translate3d(0, -10%, 0) translate3d(0, -30px, 0);
    transform: translate3d(0, -10%, 0) translate3d(0, -30px, 0);
}

figure.hp-hero:hover .hero-text-bot h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -10%, 0) translate3d(0, -30px, 0);
    transform: translate3d(0, -10%, 0) translate3d(0, -30px, 0);
}

figure.hp-hero:hover .hero-text-mid p {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.hp-hero:hover .hero-text-bot p {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
/*hero rotator*/

#hp-hero-rotator {
    margin: 0 10px 30px;
}

    #hp-hero-rotator .fa-angle-left,
    #hp-hero-rotator .fa-angle-right {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        font-size: 40px;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    #hp-hero-rotator .fa-angle-left {
        left: 15px;
    }

    #hp-hero-rotator .fa-angle-right {
        right: 15px;
    }

.hp-modules {
    margin: 0 0 30px;
    display: table;
    width: 100%;
}

.carousel-control {
    filter: alpha(opacity=30);
    opacity: .3;
}

.carousel-indicators {
    bottom: 0;
}

    .carousel-indicators li {
        width: 8px;
        height: 8px;
        border: 1px solid #d8d8d8;
        border-radius: 0;
        margin: 1px 2px;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 0 1px;
    }

    .carousel-indicators .active {
        background-color: #00a7bb;
    }

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    filter: none;
    z-index: 3;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}
/*carousel crossfade*/

.carousel.fade {
    opacity: 1;
}

    .carousel.fade .item {
        -moz-transition: opacity ease-in 1.1s;
        -o-transition: opacity ease-in 1.1s;
        -webkit-transition: opacity ease-in 1.1s;
        transition: opacity ease-in 1.1s;
        left: 0 !important;
        opacity: 0;
        top: 0;
        position: absolute;
        width: 100%;
        display: block !important;
        z-index: 1;
    }

        .carousel.fade .item:first-child {
            top: auto;
            position: relative;
        }

        .carousel.fade .item.active {
            opacity: 1;
            -moz-transition: opacity ease-out .9s;
            -o-transition: opacity ease-out .9s;
            -webkit-transition: opacity ease-out .9s;
            transition: opacity ease-out .9s;
            z-index: 2;
        }

/*carousel text position*/
.carousel-caption {
    font-size: 300%;
    text-transform: uppercase;
    position: absolute;
    right: 5%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    top: 50%;
    -ms-transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	-moz-transform: translateY(-40%);
	-o-transform: translateY(-40%);
    transform: translateY(-40%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .carousel-caption h2, .carousel-caption p {
        margin-top: 0;
        margin-bottom: 0;
    }

/*text position clockwise*/

.text-topleft {
    text-align: left;
}

.text-top {
    text-align: center;
}

.text-topright {
    text-align: right;
}

.text-right {
    text-align: right;
}

.text-botright {
    text-align: right;
}

.text-bot {
    text-align: center;
}

.text-botleft {
    text-align: left;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.hero-image1, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6, .hero-image7 {
    display: table-cell;
    padding: 0 5px;
    position: relative;
}

.hero-image2,
.hero-image5,
.hero-image7 {
    padding-right: 0;
}

.heroImageContainer {
    margin-bottom: 10px; /*change*/
    /* padding-bottom: 10px !important; */ /*remove*/
}


.hero-image img, .hero-image1 img, .hero-image2 img, .hero-image3 img, .hero-image4 img, .hero-image5 img, .hero-image6 img, .hero-image7 img {
    width: 100%;
    position: relative;
}

/*text placements for hero banner*/

.mp-main-content span.heroImageTitle {
    font-size: 330%;
    line-height: 46px;
    letter-spacing: -1px;
    font-size: 2vw;
    color: #ffffff;
    text-transform: uppercase;
}

.mp-main-content span.heroImageInfo {
    font-size: 160%;
    font-weight: 300;
    line-height: 0;
    text-transform: uppercase;
}

.heroImageInfo {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.1vw;
    display: block;
    font-weight: 200;
    margin-top: 5px;
    text-transform: uppercase;
    line-height: 20px;
}

.mp-main-content .heroImageTitle b {
    color: #ffffff;
    font-size: 30px;
    font-size: 2.0vw;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/*Image 1*/

.mp-heroTextDiv {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    z-index: 100;
}

/* Text positions */
/*.hp-hero .hero-text-top h2{ 
	top: 5%;
}
.hp-hero .hero-text-top p{ 
	top: 2%;
}
.hp-hero .hero-text-mid h2{
	top: 40%;
}
.hp-hero .hero-text-mid p{
	top: 37%;
}
.hp-hero .hero-text-bot h2{
	top: 80%;
}
.hp-hero .hero-text-bot p{
	top: 77%;
}

.hp-hero .hero-text-left h2, .hp-hero .hero-text-left p {
	text-align: left;
	left: 0;
}
.hp-hero .hero-text-center h2, .hp-hero .hero-text-center p {
	text-align: center;
	left: 0
}
.hp-hero .hero-text-right h2, .hp-hero .hero-text-right p {
	text-align: right;
	left: auto;
	right: 0;
}*/
.mp-sidetab {
    position: fixed;
    bottom: 30%;
    right: -40px;
    display: block;
    background: #00a7bb;
    z-index: 10000;
    vertical-align: middle;
    padding: 5px 15px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-box-shadow: 0px 0px 1px 1px #585858;
    -moz-box-shadow: 0px 0px 1px 1px #585858;
    box-shadow: 0px 0px 1px 1px #585858;
}

    .mp-sidetab a {
        display: block;
        color: #fff;
    }

    .mp-sidetab:hover,
    .mp-sidetab:focus {
        background: #fff;
    }

        .mp-sidetab:hover a,
        .mp-sidetab:focus a {
            text-decoration: none;
            color: #00a7bb;
        }

/*Footer here*/

footer {
    background: #e8e8e8;
    padding: 50px 15px;
    box-shadow: 0 500px 0 500px #e8e8e8;
}

    footer h2 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: #212121;
        line-height: 2.5em;
    }

.mp-footer-social {
    padding: 0 0 10px;
}

    .mp-footer-social a {
        background: #212121;
        display: block;
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 16px;
        width: 27px;
        height: 27px;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
        color: #e8e8e8;
    }

        .mp-footer-social a:hover {
            background: #00a7bb;
            color: #fff !important;
        }

.mp-footer-email {
    position: relative;
    padding-left: 0;
    margin-top: 10px;
}

    .mp-footer-email .form-control {
        border: 0;
        border-bottom: 1px solid #212121;
        outline: 0;
        margin-left: 0;
        background-color: #e8e8e8;
        color: #212121;
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5em;
        text-decoration: none;
        padding-bottom: 0;
        border-radius: 0;
        height: auto;
        padding: 0;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .mp-footer-email button {
        padding: 4px 5px 3px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        color: #212121;
        background: none;
        cursor: pointer;
        z-index: 1100;
    }

        .mp-footer-email button:hover {
            background: none;
        }

    .mp-footer-email .input__label,
    .mp-footer-email .input__field--mp-input:focus + .input__label--mp-input .input__label-content--mp-input,
    .mp-footer-email .input--filled .input__label--mp-input .input__label-content--mp-input {
        color: #585858;
    }

.mp-footer-links {
    padding-right: 0;
}

    .mp-footer-links li,
    .mp-footer-links a {
        padding: 8px 0;
        text-decoration: none;
    }

        .mp-footer-links a:hover,
        .mp-footer-btm a:hover {
            color: #00a7bb;
            text-decoration: none;
        }

.mp-footer-btm {
    margin-top: 50px;
    font-size: 12px;
    color: #585858;
}

    .mp-footer-btm span {
        display: inline-block;
        margin-right: 20px;
    }

    .mp-footer-btm a {
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #585858;
    }

        .mp-footer-btm a.last {
            border: none;
        }

.lightbox {
    display: none;
}

.top-space {
    padding-top: 105px;
}

.search-label {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    top: -20px;
    padding: 0 9px;
    display: none;
}

div.shopByProductInput {
    padding: 10px;
    background: #eee;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiâ€¦pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    border: 1px solid #ccc;
    width: 195px;
    position: absolute;
    display: block;
    border-radius: 4px;
    display: none;
}

    div.shopByProductInput input[type=text] {
        border: 1px solid #cccccc;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.75);
        display: inline-block;
        font-size: 15px;
        margin: 2px 5px 4px 0;
        padding: 6px;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;
        background-color: #ffffff;
        height: 27px;
        width: 70px;
    }

ul li .quickOrderForm {
    padding: 10px;
}

    ul li .quickOrderForm .input-group {
        padding: 0 1px;
    }

    ul li .quickOrderForm li {
        display: inline-block;
    }

/*#quickOrderQty {
	width: 45px;
}*/

.quickOrderForm .form-control {
    border-radius: 0;
}

.quickOrderForm .btn-primary {
    border-radius: 2px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #00a7bb;
    border-color: #00a7bb;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
    margin: 5px 0;
    clear: both;
}

.quickOrderForm .btn {
    font-size: 14px !important;
}

.blue-add-small-button {
    /*font-family: 'Ek Mukta', sans-serif ;*/
    font-weight: 300;
    background: #00a7bb;
    color: #ffffff;
    width: 40px;
    font-size: 14px;
    border: none;
    padding: 4px 6px;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
}

div.shopByProductInput a {
    font-size: 11px;
}

    div.shopByProductInput a:hover {
        color: #00a7bb;
    }

.quick-order {
    position: relative;
}

/* Common style */

.hp-modules figure {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: 10px solid #fff;
}

    .hp-modules figure img {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
    }

    .hp-modules figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .hp-modules figure:hover figcaption:hover {
        background: rgba(0, 0, 0, .6);
    }

        .hp-modules figure figcaption::before,
        .hp-modules figure figcaption::after {
            pointer-events: none;
        }

        .hp-modules figure figcaption,
        .hp-modules figure figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

            /* Anchor will cover the whole item by default */

            .hp-modules figure figcaption > a {
                z-index: 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size: 0;
                opacity: 0;
            }

    .hp-modules figure h1 {
        font-weight: 300;
    }

        .hp-modules figure h1 span {
            font-weight: 800;
        }

    .hp-modules figure h2,
    .hp-modules figure p {
        margin: 0;
        line-height: 1;
    }

    .hp-modules figure p {
        letter-spacing: 1px;
    }

    .hp-modules figure figcaption {
        text-align: left;
    }

        .hp-modules figure figcaption:hover {
            background: rgba(0, 0, 0, 0.6);
        }

        .hp-modules figure figcaption > div {
            position: absolute;
            left: 0;
            padding: 0 15px;
            width: 100%;
            top: 30%;
            /*transform: translateY(-50%);*/
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    .hp-modules figure h2,
    .hp-modules figure p {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    .hp-modules figure h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    .hp-modules figure p {
        color: rgba(255, 255, 255, 0.8);
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }

    .hp-modules figure:hover img,
    .hp-modules figure:hover p {
        opacity: 1;
    }

    .hp-modules figure:hover h2,
    .hp-modules figure:hover p {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .hp-modules figure:hover p {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }

/*block modules*/

.modules-content {
    background: #ddd;
    min-height: 300px;
    padding: 50px;
}

.mp-container-cat {
    margin: 0 10px;
}

ul.sidebar-collapse {
    padding: 0 10px;
    list-style: none;
}

    ul.sidebar-collapse > li > a {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
    }

.sidebar-collapse .collapse,
.sidebar-collapse .collapsing {
    padding-left: 15px;
    list-style: none;
    margin-bottom: 10px;
}

.sidebar-collapse ul,
.sidebar-collapse ul {
    padding-left: 15px;
    list-style: none;
    margin-bottom: 10px;
}

    .sidebar-collapse .collapse a,
    .sidebar-collapse .collapsing a {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #5b5b5b;
    }

.sidebar-collapse ul a,
.sidebar-collapse ul a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #5b5b5b;
}

.sidebar-collapse ul a:hover,
.sidebar-collapse ul a:hover {
    color: #00a7bb;
}

.breadcrumb {
    background: #fff;
}

    .breadcrumb > li + li:before {
        color: #02A8B6;
    }

.bc-wrap {
    margin: 12px -10px 0 -10px;
}

.c-loader {
    min-height:350px;
    background:url("../images/loading-img.gif") no-repeat center center;
}

.row.ft-cat-row {
    padding: 0 10px;
}

.ft-cat-block {
    position: relative;
}

    .ft-cat-block figure img {
        width: 100%;
    }

    .ft-cat-block figure {
        position: relative;
        margin: 0 -10px;
        overflow: hidden;
        height: 100%;
    }

.ft-cat-block figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    padding: 2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
}

.txt-caption {
    position: absolute;
    left: 0;
    padding: 0 15px;
    width: 100%;
    top: 30%;
    /*transform: translateY(-50%);*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.ft-cat-title, p.ft-cat-desc {
    transform: translate3d(0px, 40px, 0px);
}

h2.ft-cat-title {
    font-weight: 500;
    margin-bottom: 0;
    line-height: 32px;
    transition: transform 0.35s ease 0s;
}

p.ft-cat-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    opacity:0;
    color: rgba(255, 255, 255, 0.8);
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
}

.ft-prod .ft-prod-inner img {
    max-width: 230px;
    max-height: 200px;
    display: inline;
}

.ft-cat-row figure:hover img, .ft-cat-row figure:hover p.ft-cat-desc {
    opacity: 1;
}

.ft-cat-row figure:hover h2, .ft-cat-row figure:hover p {
    transform: translate3d(0px, 0px, 0px);
}

.ft-cat-row figure:hover p {
    transition-delay: 0.05s;
    transition-duration: 0.35s;
}

.ft-cat-block a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    cursor:pointer;
}

.ft-cat-title,
.ft-cat-desc {
    color: #fff;
}

.ft-cat-block figure:hover .txt-caption,
.ft-cat-block figure:hover .ft-cat-desc {
    opacity: 1;
}

.ft-cat-block figure:hover figcaption {
    background-color: rgba(0, 0, 0, 0.6);
}

.txt-caption,
.ft-cat-block figcaption,
.ft-cat-title,
.ft-cat-desc {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ft-cat-row,
.ft-prod-row,
.bs-prod-row {
    margin-bottom: 30px;
}

.fw-bld {
    font-weight: 700;
}

.cat-block-title {
    font-weight: 400;
    padding-top: 10px;
}
/*featured items row*/
.ft-prod-row,
.bs-prod-row {
    background: #E8E8E8;
}

.ft-prod-row {
    padding: 0 30px;
    overflow: hidden;
}

.ft-prod {
    position: relative;
    padding: 15px 0;
    min-height: 260px;
    margin: auto;
}

.offer-tag {
    background-color: #fdfdfd;
    color: #858585;
    display:table;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 230px;
    margin:auto;
}

.o-tbl-cell {
    display:table-cell;
    vertical-align:middle;
}

    .offer-tag.left-tag {
        left: 56px;
    }

    .offer-tag.right-tag {
        right: 56px;
    }

.ft-prod figure {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.ft-prod-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.ft-prod-inner figure img {
    max-height: 200px;
}

.bs-prod-row:hover .owl-controls,
.ft-prod-row:hover .owl-controls {
    visibility: visible;
}

.bs-prod-row:hover .owl-prev,
.bs-prod-row:hover .owl-next {
    background-color: rgba(255, 255, 255, 0.5);
}

.cat-block-title .btn-more {
    position: absolute;
    right: 25px;
    background-color: #00A7BB;
    color: #fff;
    padding: 5px 20px 3px 20px;
}

    .cat-block-title .btn-more:hover {
        color: #fff;
        background-color: #48ABBD;
        border-color: #48ABBD;
    }

    .cat-slider .carousel-caption h2,
    .cat-slider .carousel-caption p {
        margin: 0;
    }

    .cat-slider .carousel-caption h2 {
        line-height: 44px;
    }

.bs-prod-row .tbl {
    height: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: -15px;
    padding: 18px 10px;
}

.bs-prod.tbl-cell {
    background: #fff;
}

.bs-prod {
    vertical-align: top;
    padding: 0 5px;
}

.bs-prod-row {
    padding: 20px 10px;
}

.bs-prod .bs-prod-inner {
    -moz-box-shadow: 0px 2px 5px #999;
    box-shadow: 0px 2px 5px #999;
    background: #fff;
}

    .bs-prod .bs-prod-inner figure img {
        display: inline;
        width: auto;
        max-width: 250px;
        max-height: 188px;
    }

.bs-prod-desc {
    font-size: 14px;
    padding: 5px 10px 0 10px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    margin-bottom: 7px;
    height: 54px;
}

.bs-prod-inner figure {
    margin-bottom: 20px;
    min-height: 190px;
}

.bs-prod-rating-wrapper,
.fti-rating-wrapper {
    color: #00A7BB;
    font-size: 12px;
    min-height: 18px;
    display: inline-block;
}

.bs-prod-rating-wrapper {
    padding: 5px 10px;
    width: 100%;
}

.bs-prod-rating {
    display: inline-block;
}

.bs-rating-cnt {
    font-weight: 300;
    color: #00a7bb;
    line-height: 14px;
    display: inline-block;
}

.bs-prod-score {
    background-image: url("../images/starsnew.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-left: 0px;
    width: 75px;
}

.bs-prod-rated10 {
    background-position: 0 -170px;
}

.bs-prod-rated9 {
    background-position: 0 -153px;
}

.bs-prod-rated8 {
    background-position: 0 -136px;
}

.bs-prod-rated7 {
    background-position: 0 -119px;
}

.bs-prod-rated6 {
    background-position: 0 -102px;
}

.bs-prod-rated5 {
    background-position: 0 -85px;
}

.bs-prod-rated4 {
    background-position: 0 -68px;
}

.bs-prod-rated3 {
    background-position: 0 -51px;
}

.bs-prod-rated2 {
    background-position: 0 -34px;
}

.bs-prod-rated1 {
    background-position: 0 -17px;
}

.bs-prod-rating-wrapper.clear:after {
    content: '';
    display: block;
    clear: both;
}

.bs-prod-price {
    font-size: 15px;
    font-weight: 500;
}

.fti-prod-inner:hover {
    border-bottom-color: #07A6BB;
}

.fti-prod-inner .btn-add-to-cart:hover {
    background-color: #18C9DF;
    border-color: transparent;
}

.fti-prod-inner .btn-add-to-cart {
    font-size: 14px;
    padding: 5px 10px;
    line-height: 1.4em;
    text-transform: inherit;
}

span.bs-actual-price {
    display: block;
    color: #8D8D8D;
    text-decoration: line-through;
    font-size: 12px;
    text-align: right;
}

.bs-prod-inner figure img,
.fti-prod-inner figure img {
    max-width: 100%;
}

.non-visible {
    visibility: hidden;
}

.fti-prod {
    float: left;
}

.fti-prod-inner figure {
    min-height: 200px;
}

.fti-prod .bs-prod-desc{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    min-height: 42px;
    padding: 5px 0 0;
}

.fti-prod-price {
    font-size: 16px;
    color: #07A6BB;
    line-height: 42px;
    font-weight: 500;
}

.fti-promo-tag-wrap {
    min-height: 43px;
}

.fti-promo-tag {
    display: inline-block;
    background: #595959;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 3px 1px;
    margin-bottom: 10px;
    min-height: 15px;
    line-height: 11px;
}

.fti-prod-inner {
    margin: 10px 1px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

h2.fti-title {
    margin-bottom: 0;
}

ul.fti-pagination.pull-right {
    padding: 0;
    list-style: none;
    margin-right: 10px;
}

ul.fti-pagination li {
    display: inline-block;
    font-weight: 600;
    padding: 0 3px;
}

    ul.fti-pagination li.active a {
        color: #00a7bb;
    }

ul.colors {
    display: block;
    padding: 0;
    margin: 0;
}

.cat-bread {
    padding: 8px 10px;
    margin-bottom: 10px;
}

    .cat-bread a {
        font-size: 13px;
        font-weight: 500;
    }

.colors li {
    display: inline-block;
}

.colors a {
    display: block;
    content: '';
    width: 30px;
    height: 20px;
    border: 1px solid #eee;
}

.owl-stage-outer {
    padding-bottom: 5px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    color: #838383;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

span.dir {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 38px;
    margin: auto;
    left: 0;
    right: 0;
    width: 20px;
}

.owl-controls {
    visibility: hidden;
}

@media only screen and (min-width: 320px) {
    .fti-prod {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) {
    .fti-prod {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .fti-prod {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .fti-prod {
        width: 20%;
    }
}

/*slidebar*/
.sb-site-container, .sb-slide, .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform,left,right;
    -webkit-backface-visibility: hidden;
}

.sb-slidebar {
    overflow-y: auto;
    width: 320px;
    background-color: #ffffff;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
}

.sb-style-overlay {
    z-index: 9999;
}

.sb-right {
    right: 0;
    -webkit-box-shadow: -1px 0px 3px -1px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 3px -1px rgba(0,0,0,1);
    box-shadow: -1px 0px 3px -1px rgba(0,0,0,1);
}

.sb-slidebar, .sb-slidebar2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*minicart*/
.close-box {
    height: 100%;
    left: -300px;
    position: fixed;
    width: 300px;
    background: #fff;
    z-index: 10000;
}

.checkout__text {
    padding: 1.6em 0px 0px;
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    font-weight: 400;
    display: block;
}

    .checkout__text img {
        margin-right: 5px;
    }

.checkout__icon {
    margin: 0px auto;
    display: block;
}

.checkout--active .checkout__order {
    pointer-events: auto;
}

.checkout__order::before {
    background: #FFFFFF;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
}

.checkout__order-inner {
    position: relative;
    margin-top: 70px;
    border: thin solid #dddddd;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
}

.checkout--active .checkout__order-inner {
    background: #ffffff;
}

.checkout__close {
    background: none;
    border: currentColor;
    border-image: none;
    top: -50px;
    width: 20px;
    height: 25px;
    right: 1.5em;
    color: transparent;
    text-indent: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.checkout--active .checkout__close {
    opacity: 1;
    z-index: 999\9;
    height: 30px\9;
}

.checkout__summary {
    color: rgb(255, 255, 255);
    font-size: 0.85em;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

    .checkout__summary thead th {
        color: rgb(81, 124, 173);
        line-height: 2.5;
    }

        .checkout__summary thead th.orderDetail {
            padding-left: 10px;
        }

        .checkout__summary thead th.orderPrice {
            padding-right: 60px;
        }

    .checkout__summary tfoot th {
        color: rgb(81, 124, 173);
        line-height: 2.5;
    }

    .checkout__summary tbody tr:first-child td {
        padding-top: 0.5em;
    }

    .checkout__summary tbody td:last-child {
        font-family: 'Hind', sans-serif;
    }

    .checkout__summary .checkout__total {
        font-family: 'Hind', sans-serif;
    }

    .checkout__summary tbody td {
        font-size: 0.85em;
        font-weight: 700;
        padding: 0.25em 0;
    }

        .checkout__summary tbody td span {
        }

    .checkout__summary th:last-child {
        text-align: right;
    }

    .checkout__summary td:last-child {
        text-align: right;
    }

.checkout_subtotal {
    color: #212121;
    float: left;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 13px;
}

.checkout__total {
    color: #00a7bb;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.mp-checkoutBtns {
    text-align: center;
}

.checkout__option {
    background: #00a7bb none repeat scroll 0 0;
    border: medium none currentcolor;
    border-radius: 1px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    padding: 0.7em 1.9em;
    text-decoration: none;
}

    .checkout__option, .checkout__option a:visited, .checkout__option a:focus {
        color: #ffffff !important;
        width: 100%;
        font-family: 'Hind', sans-serif;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
    }

        .checkout__option:hover {
            background: #00a7bb none repeat scroll 0 0;
        }

a.checkout__option--silent, a.checkout__option--silent:visited, a.checkout__option--silent:focus {
    background: #595959 none repeat scroll 0 0 !important;
    color: #ffffff;
    float: left;
    margin-right: 0;
    text-decoration: none;
}

.checkout--active .checkout__option {
    color: #ffffff;
    font-family: 'Hind', sans-serif;
}

@media screen and (max-width: 26em) {
    .checkout--active .checkout__button {
        cursor: default;
    }
}

.mycart {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: -48px;
}

.mp-emptycart {
color: #212121;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-bottom: #dddddd solid thin;
  padding-bottom: 20px;
  width: 286px;
}

.icon-minicart-close {
    color: #212121;
    left: 0;
    position: absolute;
    text-indent: 0;
    top: 10px;
}


.navbar-right .dropdown-menu-left {
    width: 145px;
}

.cat-slider {
    overflow: hidden;
    padding:0 16px;
}

    .cat-slider > img {
        width: 100%;
    }

    .cat-slider .carousel-caption h2 {
        font-size: 42px;
        margin: 0;
    }

    .cat-slider .carousel-caption p {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 5px;
    }

.cat-vid {
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    color: #fff;
    font-size: 48px;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 9;
}

    .cat-vid span {
        bottom: 0;
        left: 6px;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 24px;
    }

div#mp-footer-email-message {
    margin-top: 10px;
}

.btn.btn-primary {
    border: 1px solid transparent !important;
    font-size: 14px !important;
    padding: 6px 12px !important;
}

.mp-modal {
    background: #080808 none repeat scroll 0 0;
    color: #fff;
    padding: 20px;
    border: none;
    max-width: 660px;
}
.mp-modal a {
  color: #00a7bb;
}
.lightbox {
  min-width: 0;
}
.featherlight .featherlight-content {
  min-width: 0;
}
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    padding: 0;
    border-bottom: none;
  }
}


@media only screen and (min-width: 320px) {
    .fti-prod {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) {
    .fti-prod {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .fti-prod {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .fti-prod {
        width: 20%;
    }
}

div#mp-footer-email-message {
    margin-top: 10px;
}

.btn.btn-primary {
    border: 1px solid transparent !important;
    font-size: 14px !important;
    padding: 6px 12px !important;
}


.owl-carousel .owl-item figure img {
    display: inline;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.lightbox {
    border: none !important;
}

.loading-box {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #navbar {
        width: 100%;
        margin: 0 auto;
    }
}

/* Hawk Search */
.hawk-searchQuery {
    min-width: 530px;
    background-color: #fff;
    margin: 0 !important;
}

*.row{
    text-align: left !important;
}

.clear{
    clear:both;
}

a.carousel-control {
    width: 5%;
}

/*CTA*/
.home-content .carousel-caption > a {
    color: #fff;
}

.ft-prod-row, .bs-prod-row {
    display:none;
}
.featherlight:last-of-type {
   background: rgba(0, 0, 0, 0.7);
}

#sb-site, .sb-site-container {
    min-height: 100% !important;
    height: auto !important;
}
/* Fix flickering issue with FlowType.js */
.home-content h2,
.cat-slider .carousel-caption h2,
.home-content p,
.cat-slider .carousel-caption p,
.hp-modules h2,
.hp-modules p,
h2.cat-block-title {
    visibility: hidden;
}
/*
  Clean Bootstrap .row class without any additional styles
  from mp_style.css or hawksearch.css
*/
.bs-row {
  margin-right: -15px;
  margin-left: -15px
}
.bs-row:before, .bs-row:after {
  display: table;
  content: " ";
}
.bs-row:after {
  clear: both;
}