.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.input__field {
	font-size: 16px;
	position: relative;
	display: block;
	float: right;
	height: 34px;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #fff;
	color: #212121;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #fff;
	font-size: 16px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/*mp input*/
.input__field--mp-input {
	width: 100%;
	background: transparent;
	padding: 0 30px .2em .3em;
	color: #212121;
	z-index: 1000;
	font-size: 17px;
	font-weight: 500;
}

.input__label--mp-input {
	width: 100%;
	font-weight: 600;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 0;
	pointer-events: none;
}

.input__label--mp-input::after {
	content: '';
	position: absolute;
	width: 100%;
	padding-bottom: 1px;
	background: #fff;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;

}

.input__label-content--mp-input {
	padding: 7px 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input__field--mp-input:focus + .input__label--mp-input::after,
.input--filled .input__label--mp-input::after {
	height: 7px;
	background: #fff;
	-webkit-transform: scale3d(1, 5, 1);
	transform: scale3d(1, 5, 1);
}

.input__field--mp-input:focus + .input__label--mp-input .input__label-content--mp-input,
.input--filled .input__label--mp-input .input__label-content--mp-input {
	color: #fff;
	-webkit-transform: translate3d(0, 2em, 0) scale3d(0.88, 0.88, 1);
	transform: translate3d(0, 2em, 0) scale3d(0.88, 0.88, 1);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* MasterPass Banner */
.masterpass-banner .size-sm,
.masterpass-banner .size-md,
.masterpass-banner .size-lg {
    margin-bottom: 15px;
    cursor: pointer;
    display: none;
}
@media (max-width: 499px) {
    .masterpass-banner .size-sm {
        display: block;
        margin-top: 15px;
    }
}
@media (min-width: 500px) and (max-width: 799px) {
    .masterpass-banner .size-md {
        display: block;
        margin-top: 15px;
    }
}
@media (min-width: 800px) {
    .masterpass-banner .size-lg {
        display: block
    }
}
