@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic|Source+Sans+Pro:400,400italic,600,600italic,700,700italic,900");
.fonts-loaded body {
  font-family: 'Source Sans Pro', sans-serif;
}

.fonts-loaded .block-title {
  font-family: 'Source Sans Pro', sans-serif;
}

.fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4, .fonts-loaded h5, .fonts-loaded h6 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.25px;
}

.fonts-loaded .category {
  font-weight: 900;
}

.fonts-loaded .topic {
  font-weight: 900;
}

.fonts-loaded .bullet {
  font-weight: 600;
}

.fonts-loaded .btn {
  font-weight: 900;
}

.fonts-loaded .author-info h1 {
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
}
.fonts-loaded .author-info .subtitle {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .blog-political-capital .blog-header-image a::after {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .political-capital .tagline {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .node-type-bio .views-field-title, .fonts-loaded
.page-corporate-leadership .views-field-title {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.fonts-loaded .node-type-bio .views-field-field-user-role, .fonts-loaded
.page-corporate-leadership .views-field-field-user-role {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .feature.list time {
  font-weight: 900;
}

.fonts-loaded .election_block > ul li,
.fonts-loaded .election_block.ui-tabs > .ui-tabs-nav li {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .block-title3 {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .candidates .info span {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .candidates .info span u {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .election_schedule.ui-tabs > .ui-tabs-nav li.ui-state-active a {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .election_schedule.ui-tabs > .ui-tabs-nav a {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule .election_schedule.ui-tabs .form-select {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule span.star {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule span.description {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule date {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule date span {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .schedule legend {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .election_rankings > ul li,
.fonts-loaded .election_rankings.ui-tabs > .ui-tabs-nav li {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .rankings-sidebar legend {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .rankings-sidebar section .name {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .rankings-sidebar section .value {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded .rankings-sidebar section .dropped {
  font-family: 'Source Sans Pro', sans-serif;
}

.fonts-loaded .main-video .image time {
  font-weight: 900;
}

.fonts-loaded .feature.taxonomy h1 {
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
}

.fonts-loaded #block-menu-menu-about ul.menu li {
  font-weight: 600;
}

.fonts-loaded .breadcrumb {
  font-weight: 900;
}

.fonts-loaded .topic-title {
  font-weight: 900;
}

.fonts-loaded .header-edition {
  font-weight: 600;
}
.fonts-loaded .header-edition .dropdown ul {
  font-family: 'Source Sans Pro', sans-serif;
}

.fonts-loaded .header-search .searching .form-text {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .m-expand.subscribe {
  font-weight: 600;
}

.fonts-loaded .dropdown-title {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded form legend, .fonts-loaded
form label {
  font-weight: 600;
}

.fonts-loaded .header-subscribe strong {
  font-weight: 600;
}

.fonts-loaded .breaking-news li {
  font-weight: 600;
}

.fonts-loaded #block-ibtmedia-dfp-nativo-right .ntv-rr-title a, .fonts-loaded
#block-ibtmedia-dfp-nativo-right .ntv-rr-byline {
  font-family: 'Source Sans Pro', sans-serif;
}
.fonts-loaded #block-ibtmedia-dfp-nativo-right .ntv-rr-preview {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .page-sidebar .tout .rc-wc.rc-g-dl .rc-headline {
  font: 600 16px/20px "Source Sans Pro", sans-serif !important;
}
.fonts-loaded .page-sidebar .tout .rc-wc.rc-g-dl * h3 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.fonts-loaded .block-title2 {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .article-body blockquote p {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .pullquote {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .node-type-bio .views-field-title, .fonts-loaded
.page-corporate-leadership .views-field-title {
  font-family: 'Playfair Display', serif;
}
.fonts-loaded .node-type-bio .views-field-field-user-role, .fonts-loaded
.page-corporate-leadership .views-field-field-user-role {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .rss-page .rss .level-2 {
  font-weight: 600;
}

.fonts-loaded .page-search .page-content > ul li:first-child {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .page-search h1 {
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
}

.fonts-loaded .search-header {
  font-family: 'Playfair Display', serif;
}

.fonts-loaded .spelling-suggestions {
  font-family: 'Playfair Display', serif;
}
