#page-content #content-info,/*
Theme Name: FRYNN™
Theme URI:
Description: FRYNN™ Theme From NPDesign
Version: 1.0
Author: NPDesign
Author URI: http://npdesign.in.th
License:
License URI:
Tags: fixed-layout, custom-background, custom-colors, custom-header, custom-menu,featured-images, right-sidebar, one-column, two-columns
*/

/* ==========================================================================
  Reset
========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
ol, ul {
  list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 24px;
}

/* Text elements */
p {
  margin-bottom: 24px;
}
ul, ol {
  margin: 0 0 0px 20px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 24px;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 24px 24px;
}
b, strong {
  font-weight: bold;
}
dfn, cite, em, i {
  font-style: italic;
}
blockquote {
  margin: 0 24px;
}
address {
  margin: 0 0 24px;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 24px;
  padding: 24px;
  overflow: auto;
  max-width: 100%;
}
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 24px;
  width: 100%;
}
th {
  font-weight: bold;
}
img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
  line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 9px 15px 6px;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.alignright {
  display: inline;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 10px auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}


/* =Menu
----------------------------------------------- */

.navigation-main {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.navigation-main ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navigation-main li {
  float: left;
  position: relative;
}
.navigation-main a {
  display: block;
  text-decoration: none;
}
.navigation-main ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
      top: 24px;
      left: 0;
  z-index: 99999;
}
.navigation-main ul ul ul {
  left: 100%;
  top: 0;
}
.navigation-main ul ul a {
  width: 200px;
}
.navigation-main ul ul li {
}
.navigation-main li:hover > a {
}
.navigation-main ul ul :hover > a {
}
.navigation-main ul ul a:hover {
}
.navigation-main ul li:hover > ul {
  display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.main-small-navigation ul {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-small-navigation ul.nav-menu.toggled-on {
      display: block;
  }

  .navigation-main ul {
      display: none;
  }
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
  margin: 0 0 24px;
}
.byline {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.entry-content,
.entry-summary {
  margin: 24px 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 24px;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}


/* =Media
----------------------------------------------- */

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  border: 1px solid #FFF;
  margin-bottom: 10px;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0.9% auto 0;
  max-width: 100%;
}
.wp-caption-text {
  text-align: left;
}
.wp-caption .wp-caption-text {
  margin: 12px 0;
}
#site-content .gallery {
  margin-bottom: 24px;
}
.gallery-caption {
}
#site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
#site-content .gallery dd {
  margin: 0;
}
#site-content .gallery-columns-4 .gallery-item {
}
#site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
  margin: 0 0 24px;
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
  width: 50%;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* =Comments
----------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 24px;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .submit {
  display: none;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}

/* ==========================================================================
  Clearfix
========================================================================== */
/**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

.container:before,
.container:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.container:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.container {
  *zoom: 1;
}

.wrapper:before,
.wrapper:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.wrapper:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.wrapper {
  *zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* ==========================================================================
  Theme
========================================================================== */
html {
  font-size: 6.25%;
}
body {
	color: #505050;
	font: 14.4em/ 1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1040px;
  }
}

/* ==========================================================================
  Markup And Formatting
========================================================================== */
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-bottom: 10px;
  line-height: 1.1;
}
h4,
h5,
h6 {
  margin-bottom: 12px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 24px;
}
p {
  margin-bottom: 15px;
}
blockquote {
  border-left: 5px solid #d2d2d2;
  background: #f5f5f5;
  margin: 0 0 18px;
  padding: 25px 10px 10px 20px;
}
blockquote p:last-child {
  margin: 0;
}
blockquote cite {
  margin: 10px 0 0 0;
  display: block;
  font-size: 70%;
  color: #ccc;
}
table tr th,
table tr td {
  padding: 8px;
}
table tr th {
  border-bottom: 2px solid #ddd;
}
table tr td {
  border-top: 1px solid #ddd;
}
table tr:nth-child(odd) td,
table tr:nth-child(odd) th {
  background: #f9f9f9;
}

/* ==========================================================================
  Comments
========================================================================== */
#comments {
  background: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}
ol.comment-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0;
}
ol.comment-list li {

}
ol.comment-list li.alt {

}
ol.comment-list li.bypostauthor {

}
ol.comment-list li.byuser {

}
ol.comment-list li.comment-author-admin {

}
ol.comment-list li.comment {
  border-bottom: 1px dotted #666;
  padding: 1em;
}
ol.comment-list li.comment div.comment-author {

}
ol.comment-list li.comment div.vcard {
  font: normal 16px georgia,times,serif;
}
ol.comment-list li.comment div.vcard cite.fn {
  font-style:normal;
}
ol.comment-list li.comment div.vcard cite.fn a.url {

}
ol.comment-list li.comment div.vcard img.avatar {
  border: 5px solid #ccc;
  float: right;
  margin: 0 0 1em 1em;
}
ol.comment-list li.comment div.vcard img.avatar-32 {

}
ol.comment-list li.comment div.vcard img.photo {

}
ol.comment-list li.comment div.vcard span.says {

}
ol.comment-list li.comment div.commentmetadata {

}
ol.comment-list li.comment div.comment-meta {
  font-size: 9px;
}
ol.comment-list li.comment div.comment-meta a {
  color: #ccc;
}
ol.comment-list li.comment p {
  font-size: 11px;
  margin: 0 0 1em;
}
ol.comment-list li.comment ul {
  font-size: 11px;
  list-style: square;
  margin: 0 0 1em 2em;
}
ol.comment-list li.comment div.reply {
  font-size: 11px;
}
ol.comment-list li.comment div.reply a {
  font-weight: bold;
}
ol.comment-list li.comment ul.children {
  list-style: none;
  margin: 1em 0 0;
  text-indent: 0;
}
ol.comment-list li.comment ul.children li {

}
ol.comment-list li.comment ul.children li.alt {

}
ol.comment-list li.comment ul.children li.bypostauthor {

}
ol.comment-list li.comment ul.children li.byuser {

}
ol.comment-list li.comment ul.children li.comment {

}
ol.comment-list li.comment ul.children li.comment-author-admin {

}
ol.comment-list li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 .25em .25em;
}
ol.comment-list li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 .25em .25em;
}
ol.comment-list li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 .25em .25em;
}
ol.comment-list li.comment ul.children li.depth-5 {

}
ol.comment-list li.comment ul.children li.odd {

}
ol.comment-list li.even {
  background: #fff;
}
ol.comment-list li.odd {
  background: #f6f6f6;
}
ol.comment-list li.parent {
  border-left: 5px solid #111;
}
ol.comment-list li.thread-alt {

}
ol.comment-list li.thread-even {

}
ol.comment-list li.thread-odd {

}





/* ==========================================================================
  Frynn
========================================================================== */

/* =General
----------------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (min-width : 1100px) {
	html {
		background: #F7F7F7;
	}
	body {
		background: #FDFDFD;
		width: 1088px;
		margin: 22px auto;
		box-shadow: 5px rgba(0,0,0,0.2);
		overflow: hidden;
	}
}

.container {
	width: auto;
	margin: 0 auto;
	padding: 0 10px;
}
@font-face {
  font-family: 'ThaiSans Neue';
  src: url('font/ThaiSansNeue-Regular.eot');
  src: url('font/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
  url('font/ThaiSansNeue-Regular.woff') format('woff'),
  url('font/ThaiSansNeue-Regular.ttf')  format('truetype'),
  url('font/ThaiSansNeue-Regular.svg#eaedbbfb35e980f61dbeaa2332a57f1b') format('svg');
  font-style:   normal;
  font-weight:  400;
}
.bold {
	font-weight: bold;
}
.blue {
	color: #0382af;
}
p {
font-size: 14px;
	line-height: 1.6em;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
.back {
	color: #0382af;
	cursor: pointer;
}
.back:hover {
	color: #646464;;
}

/* =Header
----------------------------------------------- */
header {
	margin: 20px 0;
}
@media screen and (min-width : 380px) {
	header .container {
		min-width: 380px;
	}
}
@media screen and (min-width : 1100px) {
	header .container {
		width: 1100px;
	}
}
@media screen and (min-width : 1100px) {
	header {
		margin: 0;
	}
	header .container {
		width: 1050px;
		padding: 0;
	}
}
header .line-blue {
	display: none;
	background: #0382af;
	width: 100%;
	height: 5px;
	margin: 0 0 20px;
}
header #logo {
	width: 140px;
	height: auto;
	margin: 0 auto 0px;
	float: left;
}
@media screen and (min-width : 640px) {
	header #logo {
		text-align: center;
	}
}
@media screen and (min-width : 1100px) {
	header #logo {
		margin: 20px 0 0;
		margin-left: 6px;
		width: 33.33333%;
		text-align: left;
	}
}
header #search {
	display: none;
	margin: 0;
	font-size: 14px;
	color: #fff;
}
@media screen and (min-width : 1100px) {
	header #search {
		display: block;
		/*width: 230px;*/
		width: 33.33333%;
		float: left;
		margin: 0 auto;
		/*margin: 22px 0 0 180px;*/
		margin-top: 22px;
	}
}
header #google-search {
	display: none;
	widows: 100%;
	margin: 0;
	padding: 0;
}
@media screen and (min-width : 740px) {
	header #google-search {
		display: none;
		width: 400px;
		height: 80px;
		float: left;
		margin: -10px 0 10px 100px;
		padding: 0;
	}
}
header #search  input[type=checkbox] {
	display: none;
}
header #search  input[type=checkbox]:checked ~ form.search-form {
	display: block;
	margin: 20px 0;
}
header #search .show-search {
	display: none;
	background: url(images/icon-search.png) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: 70px;
	right: 60px;
}
header #search  .show-search:hover {
	opacity: 0.5;
}
@media screen and (min-width : 1100px) {
	header #search .show-search {
		width: 1px;
		height: 1px;
		opacity: 0;
	}
}
header #search form.search-form {
	display: none;
	margin: 0;
	padding: 0;
	position: relative;
}
header #search .search-input {
	background: #eee;
	width: 100%;
	height: 40px;
	border: none;
	margin: 0;
	padding: 5px 50px 15px 15px;
	color: #464646;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 2px;
	transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
}
@media screen and (min-width : 1100px) {
	header #search form.search-form {
		display: block;
		text-align: center;
		/*margin: 0 auto;*/
	}
	header #search .search-input {
		height: 20px;
		margin: 0 auto;
		width: auto;
		float: none;
		display: inline-block;
	}
}
header #search .search-submit {
	background: url(images/button-search.png) center no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	/*right: 0;
	margin: -25px 15px 0 0;
	padding: 0;*/
	border: none;
	cursor: pointer;
	float:left;
		margin: 8px 0px 0 -20px !important;
		padding: 0;
}
@media screen and (min-width : 1100px) {
	header #search .search-submit {
		/*margin: 4px 10px 0 0;*/
	}
}
header #search .search-submit:hover {
	opacity: 0.8;
}
header #social {
	display: none;
}
@media screen and (min-width : 1100px) {
	header #social {
		display: block;
		margin: 25px 0 0;
	}
	header #social ul {
		float: right;
	}
	header #social ul li {
		float: left;
		list-style: none;
		margin: 0 0 0 10px;
		padding: 0;
	}
	header #social ul li a:hover {
		opacity: 0.8;
	}
}

/* =Nav
----------------------------------------------- */
nav {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
@media screen and (min-width : 740px) {
	nav {
		width: 740px;
	}
}
@media screen and (min-width : 1100px) {
	nav {
		width: 1050px;
		padding: 0;
	}
	#nav-line {
		background: url(images/line-nav.png) no-repeat;
		width: 100%;
		height: 3px;
		margin: 32px 0 0;
		position: absolute;
	}
}
nav #normal-nav {
	display: none;
}
@media screen and (min-width : 1100px) {
	nav #normal-nav {
		display: block;
		margin: 0 0 20px;
	}
	nav #normal-nav ul {
		width: 1050px;
		margin: 0 auto;
	}
	nav #normal-nav ul li {
		background: #fff;
		width: 148px;
		height: 35px;
		margin: 0 2px 0 0;
		padding: 3px 0 0;
		list-style: none;
		text-align: center;
		float: left;
		border: 1px solid #e5e5e5;
		border-bottom: none;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
	}
	nav #normal-nav ul li.last {
		margin: 0;
	}
	nav #normal-nav ul li a {
		font-family: 'ThaiSans Neue';
		font-size: 18px;
		text-transform: uppercase;
		color: #646464;
	}
	nav #normal-nav ul li a:hover {
		color: #0382af;
	}
	nav #normal-nav ul li ul.sub-menu {
		display: none;
	}
	nav #normal-nav ul li:hover ul.sub-menu {
		display: block;
		width: 148px;
		height: auto;
		position: relative;
		margin: -1px 0 0 -1px;
		padding: 0;
		z-index: 99999;
		border: 1px solid #e5e5e5;
		border-bottom: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	nav #normal-nav ul li ul.sub-menu li {
		background: #fff;
		width: 148px;
		height: auto;
		float: none;
		border: none;
		border-bottom: 1px solid #e5e5e5;
		margin: 0;
		padding: 5px 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
}

/* =Banner
----------------------------------------------- */
.banner {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0;
}
.banner img:hover {
	opacity: 0.8;
}
.banner .banner-area {
	margin: 10px 0 0;
}

/* =Main
----------------------------------------------- */
main {
	margin: 20px 0;
}
@media screen and (min-width : 460px) {
	main .container {
		min-width: 460px;
		padding: 0 10px;
	}
}
@media screen and (min-width : 740px) {
	main .container {
		width: 100%;
	}
}
@media screen and (min-width : 1100px) {
	main .container {
		width: 1050px;
		margin: 0 auto;
		padding: 0;
	}
}
main .wp-caption {
	border: 0px solid #FFF;
	background: transparent;
}
main .wp-caption p,
main .wp-caption p.wp-caption-text {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 9.5px !important;
}

/* =Content
----------------------------------------------- */
#content,
#article-content {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
@media screen and (min-width : 740px) {
	#content,
	#article-content {
		width: 100%;
		display: block;
		float: left;
	}
}
@media screen and (min-width : 1100px) {
	#content {
		width: 728px;
	}
	#article-content {
		width: 728px;
		margin: 0 0 20px;
		padding: 0;
	}
}
@media screen and (min-width : 1100px) {
	#content {
		width: 728px;
	}
	#article-content {
		width: 728px;
		margin: 0 0 20px;
		padding: 0;
	}
}
#page-content {
	width: 100%;
	margin: 0 0 0px;
	padding: 0;
	position: relative;
}
@media screen and (min-width : 460px) {
	#page-content {
		padding: 0 10px
	}
}
@media screen and (min-width : 740px) {
	#page-content {
		width: 100%;
		display: block;
		float: left;
	}
}
@media screen and (min-width : 1100px) {
	#page-content {
		width: 728px;
		padding: 0;
	}
}
#fullwidth-content {
	width: 100%;
	margin: 0 0 40px;
	padding: 0;
}
#content #title,
#page-content #title,
#fullwidth-content #title,
#article-content #title {
	text-align: center;
}
@media screen and (min-width : 1100px) {
	#content #title,
	#page-content #title,
	#fullwidth-content #title,
	#article-content #title {
		/*
		text-align: left;
		*/
	}
}
#content #title h2,
#page-content #title h2,
#fullwidth-content #title h2,
#article-content #title h2 {
	font-family: 'ThaiSans Neue';
	font-size: 26px;
	color: #0382af;
	margin: 0 0 20px;
	padding: 0;
}
#page-content #title,
#first-img {
	display: none;
}
#content .item,
#article-content .item {
	width: auto;
	height: auto;
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px dashed #c8c8c8;
	text-align: center;
}
@media screen and (min-width : 460px) {
	#content .item,
	#article-content .item {
		width: 50%;
		padding: 0 10px;
		float: left;
		border-bottom: none;
	}
	#page-content #title,
	#first-img {
		display: none;
	}
}
@media screen and (min-width : 500px) {
	#content .item,
	#article-content .item {
		width: 33.33%;
	}
	#page-content #title,
	#first-img {
		display: block;
	}
}
@media screen and (min-width : 1100px) {
	#content .item,
	#article-content .item {
		width: 30.5%;
		margin: 0 20px 20px 0;
		padding: 0;
	}
}
#content .item .pic,
#article-content .item .pic {
	width: auto;
	max-width: 340px;
	margin: 0 auto 10px;
	overflow: hidden;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 0px;
}
@media screen and (min-width : 460px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 84px;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 0px;
	}
}
@media screen and (min-width : 500px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 90px;
	}
}
@media screen and (min-width : 540px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 99px;
	}
}
@media screen and (min-width : 600px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 109px;
	}
}
@media screen and (min-width : 740px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 154px;
	}
}
@media screen and (min-width : 800px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 167px;
	}
}
@media screen and (min-width : 880px) {
	#content .item .pic,
	#article-content .item .pic {
		height: 181px;
	}
}
@media screen and (min-width : 1100px) {
	#content .item .pic,
	#article-content .item .pic {
		max-height: 148px;
	}
}
#content .item .pic img:hover,
#article-content .item .pic img:hover {
	opacity: 0.8;
}
#content .item .info,
#article-content .item .info {
	height: auto;
	overflow: hidden;
}
@media screen and (min-width : 460px) {
	#content .item .info,
	#article-content .item .info {
		height: 44px;
	}
}
#content .item .info h2,
#article-content .item .info h2 {
	font-family: 'ThaiSans Neue';
	font-size: 20px;
	color: #646464;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
#content .item .info h2:hover,
#article-content .item .info h2:hover {
	color: #0382af;
}
#content #more {
	display: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
@media screen and (min-width : 1100px) {
	#content #more {
		position: absolute;
		margin: -5px 0 0;
		right: 15px;
	}
}
#content #more img:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'https://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
@media screen and (min-width : 1100px) {
	#content .line-dash {
		display: none;
		width: 640px;
		height: 1px;
		margin: 30px 0 0;
		border-bottom: 1px dashed #c8c8c8;
		position: absolute;
		z-index: -99999;
	}
}

/* =Content Detail
----------------------------------------------- */
#page-content h1,
#page-content h2,
#page-content h3,
#page-content h4,
#page-content h5,
#page-content h6,
#fullwidth-content h1,
#fullwidth-content h2,
#fullwidth-content h3,
#fullwidth-content h4,
#fullwidth-content h5,
#fullwidth-content h6 {
	font-family: 'ThaiSans Neue';
	font-size: 25px;
	color: #0382af;
	margin: 0 0 7px;
	padding: 0;
}
#page-content p,
#fullwidth-content p {
	font-size: 14px;
	margin: 0 0 13px;
	padding: 0;
}
#page-content ul,
#page-content ol,
#fullwidth-content ul,
#fullwidth-content ol {
	font-size: 14px;
	margin: 0 0 13px;
	padding: 0;
}
#page-content ul li,
#page-content ol li,
#fullwidth-content ul li,
#fullwidth-content ol li {
	margin: 0 0 0 20px;
	padding: 0;
}
#page-content img,
#fullwidth-content img {
	margin: 0 10 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 0px;
}
#page-content img:hover,
#fullwidth-content img:hover {
	opacity: 1;
}
#page-content a,
#fullwidth-content a {
	color: #0382af;
}
#page-content a:hover,
#fullwidth-content a:hover {
	color: #646464;
}
#page-content .alignleft,
#fullwidth-content .alignleft {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#page-content .alignright,
#fullwidth-content .alignright {
  display: inline;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
#page-content .aligncenter,
#fullwidth-content .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 10px auto;
}
#page-content #breadcrumb,
#fullwidth-content #breadcrumb {
	display: block;
	font-size: 11px;
	margin: 0 0 10px;
	padding: 0;
	border-bottom: 1px dashed #c8c8c8;
}
#page-content #content-info,
#fullwidth-content #content-info {
	display: none;
}
@media screen and (min-width : 500px) {
	#page-content #content-info,
	#fullwidth-content #content-info {
		display: block;
		font-size: 10px;
		color: #646464;
		margin: 10px 0 10px;
		text-align: center;
	}
	#page-content #content-info a,
	#fullwidth-content #content-info a {
		color: #0382af;
	}
	#page-content #content-info img,
	#fullwidth-content #content-info img {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		margin: -3px 3px 0 0;
	}
	#page-content #content-info #date,
	#page-content #content-info #category,
	#page-content #content-info #view,
	#fullwidth-content #content-info #date,
	#fullwidth-content #content-info #category,
	#fullwidth-content #content-info #view {
		/*Atit
		float: left;
		*/
		margin: 0 0px 0 0
	}
	#page-content #first-img,
	#fullwidth-content #first-img {
		text-align: center;
	}
}
#page-content .erpProContainer,
#fullwidth-content .erpProContainer {
	display: block;
}
#page-content #share-area,
#fullwidth-content #share-area {
	display: none;
}
@media screen and (min-width : 300px) {
	#page-content #share-area,
	#fullwidth-content #share-area {
		display: block;
		margin: 20px 0 0;
		padding: 0;
	}
}
#page-content #comment-area,
#fullwidth-content #comment-area {
	display: none;
}
@media screen and (min-width : 1100px) {
	#page-content #comment-area,
	#fullwidth-content #comment-area {
		display: block;
		margin: 20px 0 0;
		padding: 0;
	}
}

/* =Sidebar
----------------------------------------------- */
#sidebar {
	display: none;
}
@media screen and (min-width : 1100px) {
	#sidebar {
		display: block;
		width: 300px;
		margin: 0;
		padding: 0;
		float: right;
		font-family: 'ThaiSans Neue';
		overflow: hidden;
	}
}
#sidebar .sidebar-area {
	margin: 0 0 20px;
}
#sidebar .sidebar-area ul {
	list-style: none;
}
#sidebar .sidebar-area img:hover {
	opacity: 0.8;
}
#sidebar .sidebar-area h1,
#sidebar .sidebar-area h2,
#sidebar .sidebar-area h3,
#sidebar .sidebar-area h4,
#sidebar .sidebar-area h5,
#sidebar .sidebar-area h6 {
	font-family: 'ThaiSans Neue';
	font-size: 26px;
	color: #0382af;
	margin: 0 0 10px;
	padding: 0;
}
#sidebar .sidebar-area a {
	font-family: 'ThaiSans Neue';
	font-size: 18px;
	color: #646464
}

/* =Widget
----------------------------------------------- */
#widget {
	display: none;
}
@media screen and (min-width : 1100px) {
	#widget {
		display: block;
		width: 1100px;
		height: auto;
		margin: 20px auto;
		padding: 0;
	}
	#widget .column {
		width: 25%;
		height: auto;
		margin: 0;
		padding: 0 20px 0 0;
		float: left;
		font-family: 'ThaiSans Neue';
	}
	#widget .column.last {
		width: 25%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	#widget .column .widget-title {
		font-size: 35px;
		color: #0382af;
		margin: 0;
		padding: 0;
	}
	#widget .column ul {
		margin: -10px 0 0;
		padding: 0;
	}
	#widget .column ul li {
		list-style-image: url(images/bullet-plus.png);
		list-style-position: inside;
		margin: 0 0 5px;
		padding: 0 0 0 10px;
		position: relative;
	}
	#widget .column ul li a {
		font-size: 20px;
		color: #646464;
		margin: -5px 0 0 3px;
		padding: 0;
		position: absolute;
	}
	#widget .column ul li a:hover {
		color: #8cc63f;
	}
}

/* =Disclaimer
----------------------------------------------- */
#disclaimer {
	display: none;
}
@media screen and (min-width : 1100px) {
	#disclaimer {
		display: block;
		background: #F5F5F5;
		padding: 15px 0;
	}
	#disclaimer .container {
		padding: 0 20px;
	}
}
@media screen and (min-width : 1100px) {
	#disclaimer .container {
		width: 1050px;
		padding: 0;
	}
}
#disclaimer p {
	font-size: 13px;
	margin: 0;
	padding: 0;
}
#disclaimer a {
	color: #0382af;
}
#disclaimer a:hover {
	color: #646464;
}
.line-break {
	background: #e5e5e5;
	width: 100%;
	height: 5px;
}
@media screen and (min-width : 740px) {
	.line-break {
		display: none;
	}
}

/* =Footer
----------------------------------------------- */
footer {
	display: block;
	padding: 10px 0;
}
@media screen and (min-width : 740px) {
	footer .container {
		padding: 0 20px;
	}
}
@media screen and (min-width : 1100px) {
	footer .container {
		width: 1050px;
		padding: 0;
	}
}
footer #credit {
	width: 100%;
}
@media screen and (min-width : 1100px) {
	footer #credit {
		width: 45%;
		float: left;
	}
}
footer #credit p {
	text-align: center;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
@media screen and (min-width : 1100px) {
	footer #credit p {
		text-align: left;
	}
}
footer #credit span.stat {
	margin: 0 5px 0 0;
}
footer #footer-nav {
	display: none;
}
@media screen and (min-width : 1100px) {
	footer #footer-nav {
		display: block;
		width: 45%;
		float: right;
		font-size: 13px;
	}
	footer #footer-nav ul {
		float: right;
		margin: 0;
		padding: 0;
	}
	footer #footer-nav ul li {
		float: left;
		margin: 0 0 0 10px;
		list-style: none;
	}
	footer #footer-nav ul li a {
		color: #646464;
	}
	footer #footer-nav ul li a:hover {
		color: #0382af;
	}
}
footer a {
	color: #0382af;
}
footer a:hover {
	color: #646464;
}

/* =Pagenavi
----------------------------------------------- */
.mobile-navigation,
.main-navigation {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 0;
}
.main-navigation {
	display: none;
}
.mobile-navigation a {
	color: #0382af;
}
.mobile-navigation a:hover {
	color: #646464;
}
@media screen and (min-width : 540px) {
	.mobile-navigation {
		display: none;
	}
	.main-navigation {
	display: block;
	margin: 20px 0 0;
}
}
.wp-pagenavi {
	clear: both;
}
.wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span {
	font-size: 13px !important;
	text-decoration: none !important;
	border: 1px solid #646464 !important;
	padding: 3px 5px !important;
	margin: 7px 5px 7px 0 !important;
	color: #646464 !important;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
.wp-pagenavi a:hover, .wp-pagenavi a:active, .wp-pagenavi span.current {
	border: 1px solid #0382af !important;
	background: #0382af !important;
	color: #fff !important;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}
/* @end */

/* =Related Post
----------------------------------------------- */
.container-fluid .row h1,
.container-fluid .row h2,
.container-fluid .row h3,
.container-fluid .row h4,
.container-fluid .row h5,
.container-fluid .row h6 {
	font-family: 'ThaiSans Neue' !important;
	font-size: 25px !important;
}
/* @end */

/* =Comment
----------------------------------------------- */
.addthis_jumbo_share {
	display: none !important;
}
.addthis_sharing_toolbox {
	display: block !important;
}
@media screen and (min-width : 1100px) {
	.addthis_jumbo_share {
		display: block !important;
	}
	.addthis_sharing_toolbox {
		display: none !important;
	}
}
/* @end */

/* =Share
----------------------------------------------- */
.socialBuzzLine {
	display: none;
}
@media screen and (min-width : 1100px) {
	.socialBuzzLine {
		display: block;
	}
}
/* @end */

/* =Sicky
----------------------------------------------- */
.sticky-item {
	width: 100%;
	margin: 0 0 20px;
}
.sticky-item .sticky-pic {
	width: 85px;
	height: 49px;
	float: left;
	margin: 0 10px 0 0;
	border-radius: 5px;
	overflow: hidden;
}
.sticky-item .sticky-title {
	width: 205px;
	height: 49px;
	float: right;
	margin: 0;
}
.sticky-item .sub-sticky-title {
	width: 100%;
	height: auto;
	max-height: 49px;
	float: right;
	margin: 0 0 10px;
}
.sticky-item .sticky-title a,
.sticky-item .sub-sticky-title a {
	font-family: 'ThaiSans Neue';
	font-size: 18px !important;
	color: #646464 !important;
	margin: 0;
	padding: 0;
	font-weight: 400 !important;
	line-height: 15px;
}
.sticky-item .sticky-title a:hover,
.sticky-item .sub-sticky-title a:hover {
	color: #0382af !important;
}

/* @end */