@charset "utf-8";

@media all{

html,body,
div,span,
object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
a,abbr,acronym,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,strong,sub,sup,tt,var,
ul,ol,li,dl,dt,dd,
form,fieldset,legend,label,
table,caption,tbody,tfoot,thead,tr,th,td{
margin:0;
padding:0;
}

body{
min-width:980px;
color:#444;
background:#fff;
font-size:18px;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
line-height:1;
-webkit-text-size-adjust:100%;
}

body.index{
font-size:16px;
}

.col2Asym + *,
.aside + *{
clear:both;
}

body .aside{
font-size:14px;
}

.notice{
font-size:14px;
}

ul{
list-style-type:none;
}

ol{
list-style-type:decimal;
}

ol li{
margin-left:2.5em;
}

sup{
vertical-align:top;
}

sub{
vertical-align:bottom;
}

em{
font-style:normal;
}

strong{
color:#f00;
font-weight:bold;
}

hr{
margin:50px 0;
border-width:4px 0 0;
border-style:solid;
border-color:#efefef;
}

.index hr{
margin:20px 0;
}

p,
ul li,
ol li,
dl dt,
dl dd,
table tr th,
table tr td,
div.meta1,
div.meta2{
line-height:1.545;
}

p,
ul,
ol,
dl,
table,
div.box,
div.meta1,
div.meta2,
div.carouselNav,
div.linkButton1,
div.linkButton2,
div.layoutImage1,
div.layoutImage2,
div.layoutImage3{
margin:20px 0 50px;
}

.section > p + p,
.section > p + .linkButton1,
.section > p + .linkButton2,
.section > p + div.layoutImage1,
.section > p + div.layoutImage2,
.section > p + div.layoutImage3,
.section > div.layoutImage1 + p,
.section > div.layoutImage1 + .linkButton1,
.section > div.layoutImage1 + .linkButton2,
.section > div.layoutImage1 + div.layoutImage1,
.section > div.layoutImage1 + div.layoutImage2,
.section > div.layoutImage1 + div.layoutImage3,
.section > div.layoutImage2 + p,
.section > div.layoutImage2 + .linkButton1,
.section > div.layoutImage2 + .linkButton2,
.section > div.layoutImage2 + div.layoutImage1,
.section > div.layoutImage2 + div.layoutImage2,
.section > div.layoutImage2 + div.layoutImage3,
.section > script + p,
.section > script + .linkButton1,
.section > script + .linkButton2,
.section > script + div.layoutImage1,
.section > script + div.layoutImage2,
.section > script + div.layoutImage3,
.section > noscript + p,
.section > noscript + .linkButton1,
.section > noscript + .linkButton2,
.section > noscript + div.layoutImage1,
.section > noscript + div.layoutImage2,
.section > noscript + div.layoutImage3{
margin-top:-20px;
}

.index p,
.index ul,
.index ol,
.index dl,
.index table,
.index div.box,
.index div.meta1,
.index div.meta2,
.index div.carouselNav,
.index div.linkButton1,
.index div.linkButton2,
.index div.layoutImage1,
.index div.layoutImage2,
.index div.layoutImage3{
margin:0 0 40px;
}

.aside p,
.aside ul,
.aside ol,
.aside dl,
.aside table,
.aside div.meta1,
.aside div.meta2,
.aside div.linkButton1,
.aside div.linkButton2,
.aside div.layoutImage1,
.aside div.layoutImage2,
.aside div.layoutImage3,
.box p,
.box ul,
.box ol,
.box dl,
.box table,
.box div.meta1,
.box div.meta2,
.box div.linkButton1,
.box div.linkButton2,
.box div.layoutImage1,
.box div.layoutImage2,
.box div.layoutImage3,
.index .section p,
.index .section ul,
.index .section ol,
.index .section dl,
.index .section table,
.index .section div.meta1,
.index .section div.meta2,
.index .section div.linkButton1,
.index .section div.linkButton2,
.index .section div.layoutImage1,
.index .section div.layoutImage2,
.index .section div.layoutImage3{
margin:0 0 20px;
}

.section + p,
.section + ul,
.section + ol,
.section + dl,
.section + table,
.section + div.box,
.section + div.meta1,
.section + div.meta2,
.section + div.linkButton1,
.section + div.linkButton2,
.section + div.layoutImage1,
.section + div.layoutImage2,
.section + div.layoutImage3{
margin-top:0;
}

.section p + .notice,
.section ul + .notice,
.section ol + .notice,
.section dl + .notice,
.section table + .notice,
.section div.meta1 + .notice,
.section div.meta2 + .notice,
.section div.linkButton1 + .notice,
.section div.linkButton2 + .notice,
.section div.layoutImage1 + .notice,
.section div.layoutImage2 + .notice,
.section div.layoutImage3 + .notice{
margin-top:-30px;
}

.section .iconList1.col2 + .notice,
.section .iconList1.col3 + .notice,
.section .iconList1.col4 + .notice{
position:relative;
top:-30px;
margin:0 0 20px;
}

.index .section p + .notice,
.index .section ul + .notice,
.index .section ol + .notice,
.index .section dl + .notice,
.index .section table + .notice,
.index .section div.meta1 + .notice,
.index .section div.meta2 + .notice,
.index .section div.linkButton1 + .notice,
.index .section div.linkButton2 + .notice,
.index .section div.layoutImage1 + .notice,
.index .section div.layoutImage2 + .notice,
.index .section div.layoutImage3 + .notice{
margin-top:0;
}

#content table ul,
#content table ol,
#content table dl{
margin:0;
}

div.meta1{
text-align:right;
}

img{
border:0;
line-height:1;
vertical-align:bottom;
}

img.icon{
margin-left:5px;
width:20px;
vertical-align:top;
}

.roundedImg1 img,
.roundedImg1{
border-radius:5px;
}

.shadedImg1 img,
.shadedImg1{
-webkit-box-shadow:0 1px 1px #999;
box-shadow:0 1px 1px #999;
}

table{
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #ccc;
font-size:18px;
font-weight:normal;
text-align:left;
}

td .notice{
font-size:14px;
}

.magnified th,
.magnified td{
font-size:36px;
}

.magnified td .notice{
font-size:28px;
}

td ul,
td ul li{
margin:0;
}

a{
color:#039;
text-decoration:underline;
}

a:visited{
color:#609;
}

a:hover,
a:focus,
a:active{
color:039;
text-decoration:none;
}

.keyVisual1 > a[href="#"][role="button"],
.keyVisual2 li > a[href="#"][role="button"],
a.imgLink1{
display:inline-block;
background:#000;
}

.keyVisual1 .carouselNav a[href="#"][role="button"],
.keyVisual2 li .carouselNav a[href="#"][role="button"]{
background:transparent;
}

a.imgLink1 img{
vertical-align:top;
}

.keyVisual1 a[href="#"][role="button"] img:hover,
.keyVisual1 a[href="#"][role="button"] img:focus,
.keyVisual2 a[href="#"][role="button"] img:hover,
.keyVisual2 a[href="#"][role="button"] img:focus,
a.imgLink1:hover img,
a.imgLink1:focus img{
filter:alpha(opacity=60);
-ms-filter:"alpha(opacity=60)"; 
opacity:0.6;
}

.caption{
display:block;
margin:10px 0 0;
color:#444;
font-size:14px;
text-align:center;
}

.index .caption{
margin:20px 0 0;
}

.noDisplay{
display:none;
}

/* ===== Form Control ===== */

fieldset{
border:0;
}

input,
button,
select,
textarea{
vertical-align:middle;
}

input,
button{
-webkit-appearance:none;
border-radius:0;
}

.formControl1 .controlBlock1,
.formControl1 .ul4{
margin:0 0 40px;
}

.formControl1 select{
padding:7px 10px;
border:1px solid #d0d0d0;
background-color:#f8f8f8;
line-height:1.5;
font-size:18px;
}

.colored1 .formControl1 select{
background-color:#fff;
}

.formControl1 option{
background-color:#f8f8f8;
}

.formControl1 option:nth-child(even){
background-color:#fff;
}

.formControl1 select + input[type="submit"],
.formControl1 input[type="text"] + input[type="submit"]{
margin:0 0 0 10px;
}

.formControl1 .ul4 li{
position:relative;
}

:root .formControl1 .ul4 li input[type="radio"],
:root .formControl1 .ul4 li input[type="checkbox"]{
position:absolute;
top:0;
left:0;
z-index:1;
display:inline-block;
margin:0;
padding:0;
min-width:100%;
min-height:100%;
opacity:0;
}

.formControl1 .ul4 li input[type="radio"]:hover,
.formControl1 .ul4 li input[type="radio"]:focus,
.formControl1 .ul4 li input[type="checkbox"]:hover,
.formControl1 .ul4 li input[type="checkbox"]:focus{
cursor:pointer;
}

:root .formControl1 .ul4 li input[type="radio"] + label,
:root .formControl1 .ul4 li input[type="checkbox"] + label{
display:inline-block;
min-height:24px;
padding-left:29px;
line-height:1;
}

:root .formControl1 .ul4 li input[type="radio"] + label:before,
:root .formControl1 .ul4 li input[type="checkbox"] + label:before{
content:"";
position:absolute;
top:0;
left:0;
display:block;
width:24px;
height:24px;
background:url(../img/bg-form-radio-nonmobile.png) -24px 0 no-repeat;
}

:root #questionnaire .formControl1 .ul4 li input[type="radio"] + label:before,
:root #questionnaire .formControl1 .ul4 li input[type="checkbox"] + label:before,

:root .colored1 .formControl1 .ul4 li input[type="radio"] + label:before,
:root .colored1 .formControl1 .ul4 li input[type="checkbox"] + label:before{
background-image:url(../img/bg-form-radio2-nonmobile.png);
}

:root .formControl1 .ul4 li input[type="checkbox"] + label:before{
background-image:url(../img/bg-form-checkbox-nonmobile.png);
}

:root #questionnaire .formControl1 .ul4 li input[type="checkbox"] + label:before,
:root .colored1 .formControl1 .ul4 li input[type="checkbox"] + label:before{
background-image:url(../img/bg-form-checkbox2-nonmobile.png);
}

:root .formControl1 .ul4 li input[type="radio"]:checked + label:before,
:root .formControl1 .ul4 li input[type="checkbox"]:checked + label:before{
background-position:0 0;
}

.formControl1 input[type="text"],
.formControl1 textarea{
padding:7px 10px;
border:1px solid #d0d0d0;
background-color:#f8f8f8;
font-size:18px;
line-height:1;
}

.colored1 .formControl1 input[type="text"],
.colored1 .formControl1 textarea{
background-color:#fff;
}

.formControl1 textarea{
display:block;
margin:0 0 40px;
}

/* ===== Header ===== */

#header{
position:relative;
width:100%;
height:50px;
border-top:4px solid #c00;
border-bottom:1px solid #eaeaea;
background-color:#fff;
background-image:-webkit-linear-gradient(top, #fff, #fcfcfc);
background-image:-moz-linear-gradient(top, #fff, #fcfcfc);
background-image:-o-linear-gradient(top, #fff, #fcfcfc);
background-image:linear-gradient(top, #fff, #fcfcfc);
-webkit-box-shadow:0 0 5px #ddd;
box-shadow:0 0 5px #ddd;
}

html.menuLoading #header{
margin-bottom:80px;
}

.headerContent{
position:relative;
width:980px;
margin:0 auto;
}

#home{
position:absolute;
top:10px;
left:30px;
}

#home img{
width:116px;
height:auto;
}

.headerContent ul{
position:absolute;
top:8px;
right:30px;
margin:0;
}

.headerContent ul li{
margin:0;
padding:0;
display:inline-block;
*display:inline;
margin:0 0 0 20px;
font-size:14px;
line-height:1;
vertical-align:top;
*zoom:1;
}

.headerContent ul li:first-child{
margin:0;
}

.headerContent ul li a{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
display:inline-block;
padding:10px;
height:34px;
border-radius:5px;
color:#000;
background:#eee;
text-decoration:none;
-webkit-box-shadow:0 1px 0 #dedede;
box-shadow:0 1px 0 #dedede;
}

.headerContent ul li a:hover,
.headerContent ul li a:focus,
.headerMfSearchbox button:hover,
.headerMfSearchbox button:focus{
background:#ccc;
cursor:pointer;
}

.headerContent ul li:first-child a{
padding:10px 10px 10px 35px;
position:relative;
}

.headerContent ul li:first-child a img{
position:absolute;
top:8px;
left:10px;
width:20px;
height:auto;
}

.headerMfSearchbox{
position:relative;
}

.headerMfSearchbox label{
position:absolute;
top:10px;
left:10px;
color:#999;
font-size:14px;
}

.headerMfSearchbox input{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:200px;
height:34px;
margin:0 0 0 0;
padding:0 9px;
line-height:28px;
border-width:1px 0 1px 1px;
border-color:#d0d0d0;
border-style:solid;
background:#f8f8f8;
font-size: 1em;
vertical-align:top;
}

.headerMfSearchbox button{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
width:40px;
height:34px;
border-width:1px 1px 1px 0;
border-color:#d0d0d0;
border-style:solid;
border-radius:0 5px 5px 0;
background:#eee;
vertical-align:top;
}

.headerMfSearchbox button img{
width:19px;
height:auto;
line-height:30px;
vertical-align:middle;
}

#btnMenu{
margin:0 auto 40px;
width:920px;
}

.menuOpened #btnMenu{
margin-bottom:0;
}

#btnMenu button{
display:block;
margin:0;
padding:4px 20px 4px 50px;
width:auto;
min-height:40px;
border:0;
border-radius:0 0 5px 5px;
-webkit-box-shadow:0 1px 1px #999;
box-shadow:0 1px 1px #999;
background:#efefef url(/cmn/img/btn-menu-open.png) 21px 14px no-repeat;
font-size:16px;
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
line-height:1.5;
text-align:left;
}

.menuOpened #btnMenu button{
background-image:url(/cmn/img/btn-menu-close.png);
}

#btnMenu button:hover,
#btnMenu button:focus{
background-color:#ccc;
cursor:pointer;
}

/* ===== Menu ===== */

#menu{
position:relative;
width:880px;
margin:15px auto 40px;
padding:20px;
border-radius:5px;
background:url(/cmn/img/bg-menu.gif);
}

#menu:before{
position:absolute;
top:-9px;
left:20px;
content:"";
width:18px;
height:9px;
background:url(/cmn/img/bg-menu-balloon.gif) 0 0 no-repeat;
}

#menu a{
display:block;
margin:0 0 10px;
padding:9px 20px;
border-radius:5px;
color:#333;
background:#eee;
-webkit-box-shadow:0 1px 1px #222;
box-shadow:0 1px 1px #222;
font-size:16px;
line-height:1.545;
text-decoration:none;
}

#menu .local ul{
float:left;
width:435px;
margin:0 0 0 10px;
border-radius:5px;
-webkit-box-shadow:0 1px 1px #222;
box-shadow:0 1px 1px #222;
}

#menu .local ul:first-child{
margin-left:0;
}

#menu .local li{
margin:0 0 2px;
font-size:16px;
}

#menu .local li:last-child{
margin:0;
}

#menu .local a{
margin:0;
border-radius:0;
}

#menu > a:hover,
#menu > a:focus,
#menu .local a:hover,
#menu .local a:focus{
background:#ccc;
}

#menu .local li:first-child a{
border-radius:5px 5px 0 0;
}

#menu .local li:last-child a{
border-radius:0 0 5px 5px;
}

#menu .local li:first-child:last-child a{
border-radius:5px;
}

#menu .global{
margin:20px -20px 0;
padding:20px 10px 0;
border-top:#fff solid 4px;
}

#menu .global li{
display:inline-block;
*display:inline;
width:130px;
margin:0 0 0 20px;
font-size:16px;
line-height:1.5;
*zoom:1;
vertical-align:top;
}

#menu .global li:first-child{
margin:0 0 0 10px;
}

#menu .global a{
display:table-cell;
width:120px;
padding:10px 5px 6px;
border-radius:5px;
color:#fff;
background:#666;
text-align:center;
text-decoration:none;
-webkit-box-shadow:0 1px 1px #222;
box-shadow:0 1px 1px #222;
vertical-align:middle;
}

#menu .global a:hover,
#menu .global a:focus{
background:#555;
}

#menu .global li a:before{
display:inline-block;
margin:0 12px 0 0;
vertical-align:middle;
}

#menu .global li a img{
display:block;
margin:0 auto 6px;
width:34px;
height:auto;
vertical-align:middle;
}

/* ===== TopNav ===== */

#topNav{
margin-top:50px;
border-bottom:4px solid #ececec;
}

.topNavContent{
width:920px;
margin:0 auto;
text-align:right;
}

.topNavContent a{
display:inline-block;
padding:10px 3.75em 6px 1.67em;
color:#000;
background:#ececec url(/cmn/img/bg-nav-pagetop.png) 12.5em 1em no-repeat;
border-radius:5px 5px 0 0;
font-size:12px;
text-decoration:none;
vertical-align:bottom;
}

.topNavContent a:hover,
.topNavContent a:focus{
margin-bottom:-4px;
padding-bottom:10px;
background-color:#ccc;
}

/* ===== Footer ===== */

#footer{
color:#fff;
background:#000;
}

.footerContent{
width:980px;
margin:0 auto;
padding:12px 0 9px;
}

.footerContent ul{
float:right;
margin:0 20px 0 0;
}

.footerContent ul li{
display:inline-block;
*display:inline;
margin:0 0 0 7px;
padding:0 0 0 8px;
background:url(/cmn/img/bg-footer-link-nonmobile.gif) 0 50% no-repeat;
font-size:12px;
vertical-align:top;
*zoom:1;
}

.footerContent ul li:first-child{
margin-left:0;
padding-left:0;
background-image:none;
}

.footerContent ul li a{
padding:4px 10px;
border-radius:5px;
color:#fff;
text-decoration:none;
}

.footerContent ul li a:hover,
.footerContent ul li a:focus{
background:#666;
}

.footerContent p{
float:left;
margin:0 0 0 30px;
color:#fff;
font-size:12px;
vertical-align:middle;
}

/* ===== Content ===== */

#content{
width:920px;
margin:0 auto 50px;
}

#header + #content{
margin-top:40px;
}

.col2Asym .col:first-child,
#content .main{
float:left;
width:680px;
}

.col2Asym .col,
#content .aside{
float:right;
width:200px;
}

/* Layout */

.section{
padding:0 0 20px;
}

.section.box{
padding:20px 20px 0;
}

#content > .section:last-child{
padding-bottom:0;
}

#content > .section.box.button2:last-child{
padding-bottom:20px;
}

#content .col2 .col.section,
#content .col3 .col.section,
#content .col4 .col.section{
padding-bottom:0;
}

.col2 .col,
.col3 .col,
.col4 .col{
float:left;
margin-left:40px !important;
}

.box .col3 .col{
margin-left:38px !important;
}

.box .col4 .col{
margin-left:26px !important;
}

.col2 .col{
width:440px;
}

.col3 .col{
width:280px;
}

.col4 .col{
width:200px;
}

.box .col2 .col{
width:420px;
}

.box .col3 .col{
width:268px;
}

.box .col4 .col{
width:200px;
}

.main .col2 .col{
width:320px;
}

.main .col3 .col{
width:200px;
}

.col2 .col:first-child,
.col3 .col:first-child,
.col4 .col:first-child{
margin-left:0 !important;
}

.layoutImage1 .image{
float:right;
margin:0 0 0 20px;
}

.layoutImage2 .image{
float:left;
margin:0 20px 0 0;
}

.layoutImage1 .image.w200,.layoutImage2 .image.w200{max-width:200px;text-align:center;}
.layoutImage1 .image.w280,.layoutImage2 .image.w280{max-width:280px;text-align:center;}
.layoutImage1 .image.w440,.layoutImage2 .image.w440{max-width:440px;text-align:center;}

.layoutImage1 .image.w200 img,.layoutImage2 .image.w200 img{max-width:200px;height:auto;}
.layoutImage1 .image.w280 img,.layoutImage2 .image.w280 img{max-width:280px;height:auto;}
.layoutImage1 .image.w440 img,.layoutImage2 .image.w440 img{max-width:440px;height:auto;}

.layoutImage1.parallel .text,
.layoutImage2.parallel .text{
overflow:hidden;
}

.text > p:first-child,
.text > ul:first-child,
.text > ol:first-child,
.text > dl:first-child,
.text > table:first-child{
margin-top:0;
}

.text > p:last-child,
.text > ul:last-child,
.text > ol:last-child,
.text > dl:last-child,
.text > table:last-child{
margin-bottom:0;
}

.layoutImage3{
text-align:center;
}

.layoutImage3 > div{
margin-left:auto;
margin-right:auto;
}

/* Heading */

h1, h2, h3, h4, h5{
clear:both;
color:#000;
letter-spacing:0;
line-height:1.3;
font-weight:normal;
}

h1{
margin:40px 0;
font-size:26px;
line-height:1.3;
letter-spacing:0.1em;
}

.index h1{
margin:40px 0 20px;
}

h1 .category{
display:block;
margin:0 0 5px;
font-size:14px;
}

h1 .pageTitle{
color:#777;
margin-left:20px;
}

h1.logo{
position:relative;
padding-right:200px;
}

h1.logo .logo{
position:absolute;
bottom:0;
right:0;
}

h1.logo .logo img{
width:200px;
height:33px;
vertical-align:bottom;
}

h1.qa,
h2.qa{
margin:40px 0 20px;
font-size:30px;
letter-spacing:normal;
}

h1.qa .q{
color:#c00;
}

h2.qa .a{
color:#009;
}

h2{
margin:0 0 20px;
font-size:30px;
}

.feature h2{
font-size:38px;
}

.index h2{
padding:0 0 4px;
font-size:24px;
border-bottom:2px solid #c00;
}

.index.support h2,
.index.download h2{
border-color:#f90;
}

.index.corp h2{
border-color:#369;
}

.index.event h2{
border-color:#999;
}

.index .aside h2{
border-color:#ccc;
}

.box h2,
.index .box h2{
font-size:20px;
border:0;
}

.box.colored1 h2{
margin:0 0 20px;
padding:0;
font-size:30px;
}

.index .box.colored1 h2{
margin:-5px 0 10px;
font-size:20px;
}

.box.bordered1 h2,
.index .box.bordered1 h2{
padding:0;
color:#555;
}

.aside h2{
margin-top:10px;
font-size:18px;
}

.index .aside h2{
margin:0 0 10px;
font-size:16px;
}

h3,
h4{
margin:0 0 20px;
}

h3{
color:#000;
font-size:26px;
}

.index h3{
font-size:20px;
}

.index .colored1 h3{
margin:20px 0 10px;
padding:0 0 5px;
border-bottom:2px solid #ddd;
font-size:16px;
}

.aside h3{
font-size:16px;
}

.index .aside h3{
margin:0 0 10px;
font-size:15px;
}

.index .aside .colored1 h3{
margin:10px 0;
}

h4{
font-size:22px;
}

.index h4{
margin:0 0 15px;
font-size:16px;
}

.index .colored1 h4{
margin:10px 0;
font-size:14px;
}

.aside h4{
margin:0 0 15px;
font-size:14px;
}

.index .aside h4{
margin:0 0 10px;
}

.index .aside .colored1 h4{
margin:5px 0 10px;
}

h5{
margin:0;
font-size:18px;
}

/* List */

.ul1 li{
padding:0 0 0 20px;
background:url(/cmn/img/bg-ul1-nonmobile.gif) 0 0.6em no-repeat;
}

.ul2 li{
position:relative;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:0 0 0 2em;
}

.ul2 li .marker{
position:absolute;
top:0;
left:0;
width:2em;
}

.ul3 li{
margin:0 0 20px 2.5em;
list-style-type:decimal;
}

.ul4 li{
display:inline-block;
margin:0 0 0 20px;
}

.ul4 li:first-child{
margin:0;
}

ul.col2,
ul.col3,
ul.col4{
margin-bottom:10px;
width:980px\9;
overflow-x:hidden\9;
}

.index ul.col2,
.index ul.col3,
.index ul.col4{
margin-bottom:0;
}

.main ul.col2,
.main ul.col3,
.main ul.col4{
width:720px\9;
overflow-x:hidden\9;
}

ul.col2 > li,
ul.col3 > li,
ul.col4 > li{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
float:left;
margin:0 40px 40px 0;
}

.index ul.col2 > li,
.index ul.col3 > li,
.index ul.col4 > li{
margin-bottom:20px;
}

ul.col2 > li{
width:440px;
}

ul.col3 > li{
width:280px;
}

.main ul.col2 > li{
width:320px;
}

.col2Asym ul.col3 >li,
.main ul.col3 > li{
width:200px;
}

.box ul.col2 > li{
width:420px;
}

.box ul.col3 > li{
width:268px;
}

.main .box ul.col2 > li{
width:300px;
}

.main .box ul.col3 > li{
width:200px;
}

ul.col4 > li{
width:200px;
}


ul.col2 > li:nth-child(2n),
ul.col3 > li:nth-child(3n),
ul.col4 > li:nth-child(4n){
margin-right:0 !important;
}

.index .box ul.col3 > li{
margin-right:38px;
}

.index .box ul.col4 > li{
margin-right:26px;
}

.index .main .box ul.col3 > li{
margin-right:20px;
}

dl.dl1 dt{
padding-bottom:5px;
border-bottom:1px dotted #ccc;
font-weight:bold;
}

dl.dl1 dd{
margin:5px 0 30px;
}

/* Button List */

.buttonList1 > li{
margin-bottom:20px;
}

.buttonList1 > li > a{
display:table;
*display:block;
padding:5px 10px;
width:100%;
border-radius:5px;
font-size:18px;
line-height:1.3;
text-align:left;
text-decoration:none;
vertical-align:middle;
color:#333;
background-color:#eee;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-box-shadow:0 1px 1px #999;
box-shadow:0 1px 1px #999;
}

.buttonList1.productIndex > li > a{
position:relative;
display:block;
min-height:50px;
padding:130px 10px 10px;
}

.index .buttonList1 > li > a{
font-size:16px;
}

.buttonList1.descriptionInside > li > a{
display:block;
}

.buttonList1.descriptionInside > li > a .title-icon{
display:table;
width:100%;
}

#questionnaire .formButton1,
.colored1 .formButton1,
.colored1 .buttonList1 > li > a{
background-color:#fff;
}

#questionnaire .formButton1:hover,
#questionnaire .formButton1:focus,
.colored1 .formButton1:hover,
.colored1 .formButton1:focus,
#content .buttonList1 > li > a:hover,
#content .buttonList1 > li > a:focus{
background-color:#ccc;
}

.buttonList1 > li.longLabel > a{
font-size:14px;
}

.buttonList1 > li > a .title{
display:table-cell;
padding:0 10px 0 0;
vertical-align:middle;
font-weight:normal;
text-align:left;
}

.buttonList1.productIndex > li > a .title{
display:block;
padding:10px 0;
text-align:center;
}

.buttonList1.productIndex > li.noLogo > a .title{
padding-top:45px;
}

.buttonList1 > li > a .title .logo{
display:block;
margin:0 auto 10px;
}

.buttonList1 > li > a > .icon,
.buttonList1.descriptionInside > li > a > .title-icon .icon{
position:static;
top:auto;
left:auto;
display:table-cell;
width:auto;
height:auto;
padding:0;
text-align:right;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
vertical-align:middle;
}

.buttonList1.productIndex > li > a > .icon{
position:absolute;
top:0;
left:0;
display:block;
width:100%;
height:130px;
padding:10px 10px 0;
text-align:center;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.buttonList1.productIndex > li > a > .icon img{
height:120px;
}

.buttonList1 > li > a > .icon img,
.buttonList1.descriptionInside > li > a > .title-icon img{
height:60px;
}

.buttonList1.descriptionInside > li > a .description{
display:block;
padding:10px 0 0;
font-size:14px;
font-weight:normal;
}

.buttonList1.noIcon > li > a{
display:table;
padding:5px 10px;
min-height:80px;
}

.buttonList1.noIcon > li > a img{
vertical-align:middle;
}

.buttonList1.logo > li > a{
text-align:center;
}

.buttonList1.logo > li > a img{
height:60px;
}

.buttonList1.noIcon > li > a .title{
display:table-cell;
vertical-align:middle;
text-align:left;
}

.buttonList1 > li > a img.icon{
margin:0 5px 0 0;
width:20px;
height:auto;
}

.buttonList1 > li > a .textIcon1,
.buttonList1 > li > a .textIcon2{
display:block;
margin:3px 0 0;
padding:2px 5px;
font-size:11px;
line-height:1;
text-align:center;
}

.buttonList1 > li > a .textIcon1{
width:30px;
color:#fff;
background-color:#c00;
}

.buttonList1 > li > a .textIcon2{
border:1px solid #c00;
width:45px;
color:#c00;
background-color:#fff;
}

.buttonList1 > li > a + span.description{
display:block;
margin:10px 0 0;
font-size:14px;
}

.buttonList1 > li > a + div.description{
margin:10px 0 0;
}

.buttonList1 > li > a + div.description > *{
margin:0;
}

.buttonList1.pdfIndex > li > a{
padding:10px;
}

.buttonList1.pdfIndex > li > a > .title{
display:block;
margin:0 0 10px;
width:100%;
font-size:18px;
}

.buttonList1.pdfIndex > li > a .title .textIcon1{
display:inline-block;
}

.buttonList1.pdfIndex > li > a .description{
display:table;
}

.buttonList1.pdfIndex > li > a .description .image,
.buttonList1.pdfIndex > li > a .description .text{
display:table-cell;
vertical-align:top;
}

.buttonList1.pdfIndex > li > a .description .image{
padding:0 20px 0 0;
width:160px;
}

.buttonList1.pdfIndex > li > a .description .image img{
width:160px;
}

.buttonList1.pdfIndex > li > a .description .text > span{
display:block;
padding:0;
}

.buttonList1.pdfIndex > li > a .description .text .title{
padding:5px 0;
width:80px;
border-radius:5px;
color:#fff;
background:#666;
text-align:center;
letter-spacing:0.6em;
text-indent:0.6em;
line-height:1;
}

.buttonList1.pdfIndex > li > a .description .text .title.longLabel{
letter-spacing:0;
text-indent:0;
}

.buttonList1.pdfIndex > li > a .description .text .data{
margin:5px 0 20px;
}

.aside .buttonList1 li{
margin:0 0 20px;
}

.effectList1 > li{
font-weight:bold;
}

.effectList1 > li > *{
font-weight:normal;
}

/* Notice List */

li > .notice:last-of-type{
margin-bottom:0;
}

.notice li{
position:relative;
}

.notice .marker{
position:absolute;
top:0;
left:0;
}

.noticeList1 li{
padding-left:1.5em;
}

.noticeList2 li{
padding-left:2em;
}

.noticeList3 li{
padding-left:3em;
}

.notice li img.icon{
width:14px;
height:auto;
}

/* Data List */

.dataList1{
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
}

.dataList1.half{
width:50%;
}

.dataList1 dt{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
clear:both;
float:left;
width:30%;
padding:10px 20px 10px 10px;
border-top:1px dotted #cecece;
}

.dataList1.type1 dt{
width:12%;
}

.dataList1 dd{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
float:left;
width:70%;
padding:10px 10px 10px 20px;
border-top:1px dotted #cecece;
}

.dataList1.type1 dd{
width:88%;
}

.dataList1 dt:first-child,
.dataList1 dt:first-child+dd{
border:0;
}

.qaList1 dt,
.qaList1 dd{
position:relative;
padding-left:;
}

.qaList1 dt > .marker,
.qaList1 dd > .marker{
position:absolute;
top:5px;
left:0;
}

.qaList1 dt > .marker{
color:#c00;
font-weight:normal;
}

.qaList1 dd > .marker{
color:#009;
}

.qaList1 dt{
padding:5px 0 5px 2em;
border-bottom:1px dotted #ccc;
font-weight:bold;
}

.qaList1 dd{
margin:0 0 15px;
padding:5px 0 5px 2em;
}

.interviewList1 dt{
margin:20px 0 10px;
padding:20px 0 0 20px;
background:url(../img/bg-interview1.gif) 0 30px no-repeat;
font-weight:bold;
}

.interviewList1 dt:first-child{
margin-top:0;
padding-top:0;
border:0;
background-position:0 10px;
}

.interviewList1 dt{
border-top:1px dotted #ccc;
}

/* News List */

.newsList1 > li{
position:relative;
margin:0 0 10px;
padding:0 0 10px 180px;
border-bottom:1px dotted #ccc;
}

.newsList1 > li > *{
margin:0;
}

.newsList1 .date{
position:absolute;
top:0;
left:0;
width:180px;
}

/* Banner List */

.bannerList1 li{
font-size:14px;
}

.aside .bannerList1 li{
margin-bottom:20px;
}

.bannerList1 li a{
display:block;
text-align:center;
}

.bannerList1 li a .banner{
display:inline-block;
margin:0 0 10px;
background:#000;
line-height:1;
vertical-align:top;
}

.bannerList1 li a .title{
display:block;
text-align:left;
}

.bannerList1 li img{
vertical-align:top;
}

.bannerList1 li a:hover img,
.bannerList1 li a:focus img{
filter:alpha(opacity=60);
-ms-filter:"alpha(opacity=60)"; 
opacity:0.6;
}

.bannerList1 li .description{
display:block;
margin:10px 0 0;
}

.eventList1{
border-top:1px solid #c0c0c0;
border-bottom:1px solid #c0c0c0;
}

.eventList1 > li{
position:relative;
padding:10px 0 10px 110px;
border-top:1px dotted #c0c0c0;
}

.eventList1 > li:first-child{
border-top:0;
}

.eventList1 > li > .title{
position:absolute;
display:inline-block;
top:10px;
left:0;
padding:5px 0;
width:90px;
color:#fff;
background:#666;
vertical-align:middle;
text-indent:.8em;
text-align:center;
letter-spacing:.8em;
border-radius:5px;
line-height:1;
}

.eventList1 > li > .title.longLabel{
text-indent:0;
letter-spacing:0;
}

.eventList2 > li{
position:relative;
margin:0 0 20px;
padding:0 0 20px 220px;
border-bottom:1px dotted #c1c1c1;
min-height:120px;
}

.eventList2 > li .banner{
position:absolute;
top:0;
left:0;
background:#000;
}

.eventList2 > li .banner img{
line-height:1;
vertical-align:top;
}

.eventList2 > li > a{
display:block;
margin:0 0 20px;
font-weight:bold;
}

.eventList2 > li > a:hover img,
.eventList2 > li > a:focus img{
filter:alpha(opacity=60);
-ms-filter:"alpha(opacity=60)"; 
opacity:0.6;
}

.section .eventList2 > li > p,
.section .eventList2 > li > .eventList1{
margin:0;
border:0;
}

.eventList2 > li > .eventList1 > li{
padding:0 0 10px 110px;
border:0;
}

.eventList2 > li > .eventList1 > li:last-child{
padding-bottom:0;
}

.eventList2 > li > .eventList1 > li .title{
top:0;
}

/* Icon List */

.iconList1 > li{
position:relative;
min-height:160px;
margin:0 0 40px;
padding:0 0 0 180px;
}

.iconList1.noIcon > li,
.iconList1 > li.noIcon{
position:static;
min-height:0;
padding:0;
}

.iconList1 li a{
display:block;
margin:0 0 20px;
font-weight:bold;
}

.iconList1 li .icon{
display:block;
position:absolute;
top:0;
left:0;
background:#000;
}

.iconList1 li a:hover img,
.iconList1 li a:focus img{
filter:alpha(opacity=60);
-ms-filter:"alpha(opacity=60)"; 
opacity:0.6;
}

.iconList1.col2{
width:980px\9;
overflow-x:hidden\9;
}

.iconList1.col2 >li{
width:430px;
margin:0 60px 40px 0;
padding:0 0 0 180px;
}

.iconList1.col2.noIcon > li,
.iconList1.col2 > li.noIcon{
padding:0;
}

.iconList1.col2 li .icon{
position:absolute;
top:0;
left:0;
margin:0 0 40px;
}

.iconList1 li .notice:last-of-type{
margin-bottom:0;
}

.iconList2{
margin-bottom:35px;
margin-left:-15px;
}

.iconList2 li{
display:inline-block;
margin:0 0 15px 15px;
vertical-align:top;
}

.iconList2 li:last-child{
margin-right:0;
}

.iconList2 li img{
vertical-align:top;
width:auto;
height:70px;
}

.iconList2 li sup{
display:block;
margin:0;
font-size:14px;
}

.iconList2 + .notice{
margin-top:-30px;
}

/* QA List */

.qaSelect{
margin-left:-1px;
margin-bottom:48px;
width:921px;
}

.qaSelect li{
float:left;
margin:0 0 0 8px;
color:#000;
list-style:none;
}

.qaSelect .step1{
margin:0;
width:287px;
}

.qaSelect .step2{
width:212px;
}

.qaSelect .step3{
width:214px;
}

.qaSelect .step4{
margin:0 0 0 9px;
width:183px;
}

.qaSelect li .noLink,
.qaSelect li em,
.qaSelect li a{
display:block;
min-height:34px;
padding-top:6px;
padding-left:46px;
background-repeat:repeat-y;
text-decoration:none;
}

.qaSelect .step1 em,
.qaSelect .step1 a{
background-image:url(../img/bg-qaselect1-nonmobile.png);
}

.qaSelect .step2 .noLink,
.qaSelect .step2 em,
.qaSelect .step2 a{
background-image:url(../img/bg-qaselect2-nonmobile.png);
}

.qaSelect .step3 .noLink,
.qaSelect .step3 em,
.qaSelect .step3 a{
background-image:url(../img/bg-qaselect3-nonmobile.png);
}

.qaSelect .step4 .noLink,
.qaSelect .step4 em{
background-image:url(../img/bg-qaselect4-nonmobile.png);
}

.qaSelect li em{
color:#fff;
background-position:0 0;
}

.qaSelect li a{
color:#000;
background-position:-287px 0;
}

.qaSelect li a:hover,
.qaSelect li a:focus{
background-position:-574px 0;
}

.qaSelect li .noLink{
background-position:-861px 0;
}

/* Table */

th.center,
td.center,
tr.center th,
tr.center td{
text-align:center;
}

th.right,
td.right,
tr.right th,
tr.right td{
text-align:right;
}

th.nowrap,
td.nowrap,
tr.nowrap th,
tr.nowrap td{
white-space:nowrap;
}

.table1{
width:100%;
border-top:4px solid #222;
}

.table1 th{
color:#000;
background:#eee;
}

.table1 td{
background:#f9f9f9;
}

.table1 tr:nth-child(odd) td{
background:#fdfdfd;
}

.table1.noStripe tr:nth-child(odd) td{
background:#f9f9f9;
}

.table2 th{
background:#eee;
}

.table2 .month,
.table2 .day th,
.table2 .date th{
background-color:#fff;
}

.table2 .saturday,
.table2 th.saturday{
background-color:#dff;
}

.table2 .sunday,
.table2 th.sunday,
.table2 .holiday,
.table2 th.holiday{
background-color:#fdf;
}

.tableMagnifier{
margin:40px 0 20px;
text-align:right;
}

.tableMagnifier + table{
margin-top:0;
}

.tableMagnifier button{
display:inline-block;
padding:10px 20px;
border:0;
border-radius:10px;
color:#000;
background:#eee;
font-size:32px;
text-decoration:none;
line-height:1.1;
white-space:nowrap;
vertical-align:middle;
-webkit-box-shadow:0 2px 2px #999;
box-shadow:0 2px 2px #999;
}

.tableMagnifier button:hover,
.tableMagnifier button:focus{
background:#ccc;
}

.tableMagnifier button img{
margin:0 10px 0 0;
vertical-align:text-top;
}

/* ===== Navigation ===== */

/* Local Navigation */

.localNav1{
margin:0 auto 40px;
}

.localNav1 li{
display:block;
float:left;
width:151px;
line-height:1.1;
padding:0 1px 2px;
}

.localNav1 .longLabel a,
.localNav1 .longLabel em{
font-size:16px;
}

.localNav1 li a,
.localNav1 li em{
display:table-cell;
width:284px;
min-height:30px;
padding:5px 10px;
border-radius:5px;
-webkit-box-shadow:0 1px 1px #aaa;
box-shadow:0 1px 1px #aaa;
color:#333;
background:#fafafa;
font-size:18px;
text-align:center;
text-decoration:none;
vertical-align:middle;
}

.localNav1 li a:hover,
.localNav1 li a:focus{
background-color:#eee;
}

.localNav1 li em{
color:#fff;
background:#c00;
font-style:normal;
}

.support .localNav1 li em,
.download .localNav1 li em{
background:#e50;
}

.corp .localNav1 li em{
background:#369;
}

.event .localNav1 li em{
background:#999;
}

/* Action Navigation */

#actionNav{
margin:50px 0;
background:#f5f5f5;
}

#actionNav ul{
width:920px;
margin: 0 auto;
}

#actionNav li{
display:block;
float:left;
width:200px;
margin:0 0 0 40px;
padding:20px 0;
text-align:center;
}

#actionNav li:first-child{
margin:0;
}

#actionNav a,
#actionNav .noLink{
display:block;
padding:10px 10px 5px;
border-radius:5px;
color:#333;
font-size:18px;
text-decoration:none;
}

#actionNav a:hover,
#actionNav a:focus{
background:#ccc;
}

#actionNav img{
display:block;
margin:0 auto 10px;
max-width:80px;
height:auto;
}

#actionNav .noLink{
filter:alpha(opacity=10);
-ms-filter:"alpha(opacity=10)"; 
opacity:0.1;
}

#actionNav .subTitle{
display:block;
font-size:12px;
}

.backNav,
.linearNav{
padding-top:20px;
border-top:4px solid #efefef;
}

.linearNav li{
width:50%;
float:left;
}

.linearNav li.next{
float:right;
}

/* Link Button */

.keyVisual1 div.linkButton1,
.keyVisual1 div.linkButton2,
.keyVisual2 div.linkButton1,
.keyVisual2 div.linkButton2{
margin-top:10px;
}

.linearNav .next,
.linkButton1{
text-align:right;
}

.linkButton1 .text,
.linkButton2 .text{
display:inline;
margin:0 20px 0 0;
}

.linkButton1 .text.longDesc,
.linkButton2 .text.longDesc{
display:block;
margin:0 0 20px;
}

.formButton1,
.linearNav a,
.backNav a,
.linkButton1 a,
.linkButton2 a{
display:inline-block;
padding:10px 15px;
border-radius:5px;
border-width:0;
color:#333;
background:#eee;
-webkit-box-shadow:0 1px 1px #999;
box-shadow:0 1px 1px #999;
font-size:16px;
line-height:1.1;
vertical-align:middle;
text-align:left;
text-decoration:none;
}

.linkButton1 a.hasIcon,
.linkButton2 a.hasIcon{
display:inline-table;
}

.linkButton1 a.hasIcon{
margin:0 0 0 auto;
}

.linkButton1 a.hasIcon > span,
.linkButton2 a.hasIcon > span{
display:table-cell;
vertical-align:middle;
}

.linkButton1 a.hasIcon .label,
.linkButton2 a.hasIcon .label{
padding:0 10px 0 0;
}

.linkButton1 a.hasIcon img,
.linkButton2 a.hasIcon img{
margin:0 0 0 10px;
}

.colored1 .linkButton1 a,
.colored1 .linkButton2 a{
background-color:#fff;
}

.formButton1:hover,
.formButton1:focus,
.linearNav a:hover,
.linearNav a:focus,
.backNav a:hover,
.backNav a:focus,
.linkButton1 a:hover,
.linkButton1 a:focus,
.linkButton2 a:hover,
.linkButton2 a:focus{
background-color:#ccc;
}

.formControl1 .formButton1.search{
text-indent:0.3em;
letter-spacing:0.3em;
}

.linkButton1 a img,
.linkButton2 a img{
margin:0 0 0 20px;
width:30px;
height:auto;
vertical-align:middle;
}

.linkButton1 a .edge{
margin:0 0 0 10px;
}

.linkButton2 a .edge{
margin:0 10px 0 0;
}

.linkButton1 ul li,
.linkButton2 ul li{
display:block;
margin:0 0 20px;
}

.linkButton1 ul.parallel li,
.linkButton2 ul.parallel li{
display:inline-block;
margin:0 0 0 20px;
}

.linkButton2 ul.parallel li{
margin:0 20px 0 0;
}

.linkButton1 ul.parallel li:first-child,
.linkButton2 ul.parallel li:last-child{
margin:0;
}

#content input.importantBtn,
.linearNav .next a,
.linearNav .next a:visited,
.importantBtn a,
.importantBtn a:visited{
color:#fff;
background-color:#c00;
font-weight:normal;
}

#content input.importantBtn:hover,
#content input.importantBtn:focus,
.linearNav .next a:hover,
.linearNav .next a:focus,
.importantBtn a:hover,
.importantBtn a:focus{
background-color:#900;
}

body.support #content input.importantBtn,
body.download #content input.importantBtn,
body.support .linearNav .next a,
body.support .linearNav .next a,
body.download .linearNav .next a,
body.download .linearNav .next a,
body.support .importantBtn a,
body.support .importantBtn a,
body.download .importantBtn a,
body.download .importantBtn a{
background-color:#e50;
}

body.support #content input.importantBtn:hover,
body.support #content input.importantBtn:focus,
body.download #content input.importantBtn:hover,
body.download #content input.importantBtn:focus,
body.support .linearNav .next a:hover,
body.support .linearNav .next a:focus,
body.download .linearNav .next a:hover,
body.download .linearNav .next a:focus,
body.support .importantBtn a:hover,
body.support .importantBtn a:focus,
body.download .importantBtn a:hover,
body.download .importantBtn a:focus{
background-color:#b40;
}

body.corp #content input.importantBtn,
body.corp .linearNav .next a,
body.corp .linearNav .next a,
body.corp .importantBtn a,
body.corp .importantBtn a{
background-color:#369;
}

body.corp #content input.importantBtn:hover,
body.corp #content input.importantBtn:focus,
body.corp .linearNav .next a:hover,
body.corp .linearNav .next a:focus,
body.corp .importantBtn a:hover,
body.corp .importantBtn a:focus{
background-color:#135;
}

body.event #content input.importantBtn,
body.event .linearNav .next a,
body.event .linearNav .next a,
body.event .importantBtn a,
body.event .importantBtn a{
background-color:#999;
}

body.event #content input.importantBtn:hover,
body.event #content input.importantBtn:focus,
body.event .linearNav .next a:hover,
body.event .linearNav .next a:focus,
body.event .importantBtn a:hover,
body.event .importantBtn a:focus{
background-color:#666;
}

.backNav a,
.linearNav .back a{
padding:10px 30px 10px 50px;
background-image:url(../img/arrow-back-nonmobile.png);
background-position:25px 50%;
background-repeat:no-repeat;
}

.linearNav .next a{
padding:10px 50px 10px 30px;
background-image:url(../img/arrow-next-nonmobile.png);
background-position:100% 50%;
background-repeat:no-repeat;
}

/* Key Visual */

.keyVisual1{
margin:0 0 50px;
text-align:center;
}

.keyVisual2{
margin:0 0 50px;
}

.index .keyVisual1,
.index .keyVisual2{
margin:0 0 40px;
}

.keyVisual2 > ul{
margin-bottom:0;
}

.keyVisual1 .linkButton2{
text-align:left;
}

.keyVisual1 .linkButton1,
.keyVisual1 .linkButton2,
.keyVisual2 .linkButton1,
.keyVisual2 .linkButton2,
.keyVisual1 .carouselNav,
.keyVisual2 .carouselNav{
margin-bottom:0 !important;
}

.keyVisual1 .linkButton1 a,
.keyVisual1 .linkButton2 a,
.keyVisual2 .linkButton1 a,
.keyVisual2 .linkButton2 a{
font-size:12px;
}

.keyVisual2 > ul > li{
float:right;
}

.keyVisual2 > ul > li:first-child{
float:left;
}

.keyVisual1 img,
.keyVisual2 img{
vertical-align:top;
}

.keyVisual2 .recommendation .title{
margin:4px 0 10px;
padding:0 0 6px;
border-bottom:2px solid #ccc;
font-size:14px;
line-height:1;
}

.keyVisual2 .recommendation a{
text-decoration:none;
}

.keyVisual2 .recommendation .details{
display:table;
width:200px;
height:44px;
color:#fff;
font-size:14px;
line-height:44px;
}

.keyVisual2 .recommendation .text{
display:table-cell;
width:200px;
text-align:center;
vertical-align:middle;
}

.keyVisual2 .recommendation .text:after{
content:"";
margin:0 0 0 8px;
width:18px;
height:18px;
background:url(../img/arrow-recomendation1.gif) 0 0 no-repeat;
display:inline-block;
vertical-align:text-top;
}

/* Photo Sample */

.photoSample1{
margin:0 0 50px;
padding:70px 0;
border-top:4px solid #efefef;
border-bottom:4px solid #efefef;
text-align:center;
}

/* Product Info */

.productInfo{
position:relative;
min-height:180px;
padding:0 240px 0 0;
}

.productInfo > .image{
position:absolute;
top:0;
right:0;
}

/* ===== Box ===== */

.box{
padding:20px 20px 0;
border-radius:5px;
}

.box.bordered1{
position:relative;
border:1px solid #ccc;
}

.box.button1{
padding-right:319px;
color:#555;
}

.box.bordered2{
border:1px solid #c00;
color:#000;
}

.box.button1 .linkButton1{
position:absolute;
bottom:0;
right:20px;
width:258px;
}

.box.button2{
padding:20px;
}

.box.button2 h2{
display:table-cell;
margin:0;
width:548px;
vertical-align:middle;
}

.box.button2 p{
display:table-cell;
margin:0;
width:266px;
text-align:right;
vertical-align:middle;
}

.box.button2 .linkButton1{
display:table-cell;
width:106px;
vertical-align:middle;
}

.box.colored1{
padding-bottom:1px;
background:#eee url(/cmn/img/bg-colored1-nonmobile.gif);
}

.box.colored2{
padding-bottom:1px;
background-color:#f3f3f3;
}

.box.inquiry{
padding:10px 20px 0;
border:1px solid #ccc;
background:#f3f3f3;
}

.box.inquiry strong{
color:inherit;
}

.box.inquiry .linkButton1 a{
background:#fff;
padding:10px 15px;
}

.box.inquiry .linkButton1 a:hover,
.box.inquiry .linkButton1 a:focus{
background:#ccc;
}

.box.inquiry h2{
margin:0;
font-size:22px;
color:#444;
}

.box.inquiry h3{
color:#444;
margin:0 0 5px;
padding:0 0 5px;
border-bottom:2px solid #ccc;
font-size:18px;
}

.inquiryContent{
position:relative;
margin:25px 0 20px;
padding-left:140px;
background-position:0 0;
background-repeat:no-repeat;
}

.inquiryContent.noHeading{
border-top:2px solid #ccc;
margin-top:5px;
padding-top:25px;
background-position:0 25px;
}

.mail .inquiryContent{
min-height:100px;
background-image:url(/cmn/img/icon/mail.png);
background-position:0 -20px;
}

.mail .inquiryContent > p{
padding-right:6.875em;
}

.box .inquiryContent .linkButton1{
position:absolute;
bottom:0;
right:0;
margin:0;
}

.tel .inquiryContent{
min-height:120px;
background-image:url(/cmn/img/icon/tel.png);
}

.tel .inquiryContent > dl{
padding-right:4.875em;
}

.tel .inquiryContent.noButton > dl{
padding-right:0;
}

.tel .inquiryContent > dl > dt{
clear:left;
float:left;
width:5em;
}

.tel .inquiryContent > dl > dd{
margin-left:5em;
word-break:break-all;
}

.tel .inquiryContent > dl > dd strong strong{
color:#c00;
font-weight:normal;
font-size:40px;
line-height:1.2;
letter-spacing:0.1em;
}

.tel .inquiryContent > dl dl,
.tel .inquiryContent > dl ul{
margin:0;
}

.tel .inquiryContent > dl > dd .notice strong{
color:#c00;
font-weight:normal;
}

.tel .inquiryContent > dl .label{
display:inline-block;
width:5em;
}

/* ===== Event ==== */

.event-link{
display:table-cell;
padding:0 40px;
width:120px;
height:280px;
color:#fff;
background:url(/cmn/img/event/bg-link.png) -200px 0 no-repeat;
vertical-align:middle;
text-align:center;
}

.event-link:hover,
.event-link:focus{
background-position:0 0;
}

.event-link:visited{
color:#fff;
}

.event-link img{
margin:0 0 0 10px;
width:20px;
height:20px;
}

/* ===== News Release ===== */

.release .categoryTitle,
.release .closing{
margin:0 0 50px;
line-height:1.545;
}

.release .categoryTitle{
font-size:22px;
}

.release .closing{
text-align:right;
}

.release .meta{
margin:0 0 40px;
position:relative;
}

.release .meta .logo{
position:absolute;
top:0;
left:0;
}

.release .meta .date,
.release .meta .corpName{
margin:0 0 20px;
font-size:16px;
line-height:1.545;
text-align:right;
}

.release .lead{
font-weight:bold;
}

.release strong.modest{
color:#000;
}

.release .dataList1.releaseList1 dt,
.release .dataList1.releaseList2 dt{
width:130px;
}

.release .dataList1.releaseList1 dd,
.release .dataList1.releaseList2 dd{
width:790px;
}

.release .col2 .dataList1.releaseList1 dd,
.release .col2 .dataList1.releaseList2 dd{
width:310px;
}

.release .dataList1.releaseList1 dd ul.col2{
width:760px;
width:800px\9;
}

.release .dataList1.releaseList1 dd ul.col2 > li{
width:360px;
margin-bottom:0;
}

.release .dataList1.releaseList1 dd ul.col2 > li > span{
visibility:hidden;
}

.release .dataList1.releaseList1 dd .buttonList1 > li > a .title{
padding:0;
text-align:center;
}

.release .dataList1.releaseList2{
margin-top:0;
}

.release .dataList1.releaseList2 .title{
display:block;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:5px 0;
width:100%;
color:#fff;
background:#666;
text-indent:.6em;
text-align:center;
letter-spacing:.6em;
border-radius:5px;
line-height:1;
}

.release .dataList1.releaseList2 .title.longLabel{
text-indent:0;
letter-spacing:0;
}

/* ===== Search UI ===== */

#searchUI1 form{
position:relative;
margin:0 0 20px;
}

#searchUI1 legend{
position:absolute;
top:-9999em;
left:-9999em;
}

#searchUI1 .search{
float:none;
height:25px;
margin:0 10px 0 0;
padding:0;
width:560px;
font-size:16px;
}

#searchUI1 .button{
display:table;
display:inline-block\9;
float:right;
padding:4px 10px;
border:0;
min-height:20px;
border-radius:5px;
background:#fff;
font-size:18px;
line-height:1.1;
-webkit-box-shadow:0 1px 1px #999;
box-shadow:0 1px 1px #999;
}

#searchUI1 .button:hover,
#searchUI1 .button:focus{
background:#ccc;
}

#searchUI1 .buttonList1 a{
display:table;
padding:5px 10px;
min-height:50px;
font-size:16px;
}

#searchUI1 .buttonList1 a .title{
display:table-cell;
padding:0 10px 0 0;
vertical-align:middle;
text-align:left;
}

#searchUI1 .buttonList1 a > .icon{
display:table-cell;
position:static;
padding:0;
width:auto;
height:auto;
vertical-align:middle;
text-align:right;
}

#searchUI1 .buttonList1 a > .icon img{
width:30px;
height:auto;
}

#searchUI1{
margin:0 auto;
width:640px;
}

#searchUI1 .col2{
margin-left:0\9;
width:660px\9;
}

#searchUI1 .col2 > li{
margin:0 20px 20px 0;
width:310px;
}

/* Questionnaire */

#questionnaire{
margin:50px 0;
background:#f5f5f5;
}

#questionnaire>form{
width:920px;
margin: 0 auto;
}

#questionnaire h2{
margin:0;
padding:20px 0;
font-size:16px;
}

#questionnaire .question{
width:960px;
margin:0 0 10px -20px;
}

#questionnaire .question>li{
float:left;
width:440px;
margin:0 20px 10px 20px;
font-size:16px;
}

#questionnaire .submit{
margin:0;
padding:0 0 20px;
}

/* ===== Dialog Box ===== */

.dialogOverlay{
position:absolute;
top:0;
left:0;
z-index:10000;
background-color:#000;
}

.dialogInitialized .dialog{
margin:20px;
padding:27px 0 0;
display:none;
position:absolute;
top:0;
left:0;
z-index:10001;
outline:0;
-webkit-user-select:element;
-moz-user-select:element;
-ms-user-select:element;
-o-user-select:element;
user-select:element;
}

.dialogHeader{
position:relative;
color:#fff;
background-color:#666;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-ms-border-top-left-radius:4px;
-ms-border-top-right-radius:4px;
-o-border-top-left-radius:4px;
-o-border-top-right-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
}

.dialogFooter{
position:absolute;
top:0;
left:0;
width:100%;
color:#fff;
background-color:#666;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-ms-border-top-left-radius:4px;
-ms-border-top-right-radius:4px;
-o-border-top-left-radius:4px;
-o-border-top-right-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
}

.normalDialog .dialogFooter{
background-color:#ccc;
}

.dialogCloseWrapper{
padding:4px 3px 2px;
text-align:right;
font-size:21px !important;
line-height:1;
}

.dialogContent{
padding:0;
overflow:auto;
position:relative;
background-color:#555;
}

.normalDialog .dialogContent{
padding:10px;
color:#555;
background-color:#fff;
}

.dialogContent object,
.dialogContent embed{
display:block;
}

/* ===== Carousel ===== */

.carouselNav{
background:url(/cmn/img/bg-carousel.gif) 0 0 repeat-x;
}

html .carouselNav{
height:auto;
}

html.js .carouselNav{
height:304px;
}

html.js li .carouselNav{
width:680px;
}

.carouselNav .carouselContent{
margin:0;
}

.carouselNav .carouselContent[style]{
height:280px;
}

.carouselNav .carouselContent li{
line-height:1;
}

.carouselNav .carouselUi{
height:24px;
}

.carouselNav .carouselUi a{
color:#fff;
}

.carouselNav .carouselUi ul{
float:left;
margin:0 0 0 10px;
}

.carouselNav .carouselUi ul li{
float:left;
line-height:1;
}

.carouselNav .carouselUi ul li a{
display:block;
width:30px;
height:24px;
text-align:center;
}

.carouselNav .carouselUi ul li a img{
display:inline-block;
width:6px;
height:6px;
margin:9px auto;
}

.carouselNav .carouselUi ul li.active a img{
width:10px;
height:10px;
margin:7px auto;
}

.carouselNav .carouselUi > a{
float:left;
display:block;
width:30px;
height:24px;
margin:0;
padding:0;
border:0;
text-align:center;
background:transparent;
}

.carouselNav .carouselUi > a img{
display:inline-block;
width:10px;
height:10px;
margin:7px auto;
}

/* ===== Clear Fix ===== */

.carouselNav .carouselUi:after,
.carouselNav .carouselUi ul:after,
#questionnaire .question:after,
.qaSelect:after,
.linearNav:after,
#searchUI1 form:after,
.keyVisual2 ul:after,
.layoutImage1:after,
.layoutImage2:after,
#menu .classification:after,
ul.col3:after,
.dataList1:after,
#actionNav ul:after,
.localNav1:after,
.col4:after,
.col3:after,
.col2Asym:after,
.col2:after,
#content:after,
#menu .local:after,
.footerContent:after{
content:"";
height:0;
display:block;
clear:both;
}

.carouselNav .carouselUi,
.carouselNav .carouselUi ul,
#questionnaire .question,
.qaSelect,
.linearNav,
#searchUI1 form,
.keyVisual2 ul,
.layoutImage1,
.layoutImage2,
#menu .classification,
ul.col3,
.dataList1,
#actionNav ul,
.localNav1,
.col4,
.col3,
.col2Asym,
.col2,
#content,
#menu .local,
.footerContent{
_zoom:1;
}

}

@media print{

body{
padding-top:0;
}

#header{
position:static;
-webkit-box-shadow:0 0 0 transparent;
box-shadow:0 0 0 transparent;
margin:0 0 40px;
}

#header ul{
display:none;
}

#menu{
display:none;
}

#topNav{
display:none;
}

#footer{
margin:50px 0 0;
color:#444;
background:transparent;
}

#footer ul{
display:none;
}

}