@charset "utf-8";

@media all{

#menu{
margin:30px auto 0;
}

#menu{
margin:16px auto 0;
}

#header{
height:68px;
}

h1#home{
margin:0;
font-size:48px;
line-height:1;
}

#home img{
width:auto;
height:48px;
}

.headerContent ul{
top:17px;
}

#header + #content,
#content{
margin-top:20px;
}

#globalNav{
margin-bottom:10px;
padding:10px 10px 0;
border-radius:0 0 5px 5px;
}

#globalNav ul{
margin-bottom:0;
}

#globalNav li{
margin:0 2px 10px 0;
border-top:4px solid #c00;
width:150px;
float:left;
}

#globalNav li.product,
#globalNav li.solution{
width:220px;
}

#globalNav li a{
border-radius:0;
}

#globalNav li:first-child a{
border-radius:0 0 0 5px;
}

#globalNav li:last-child a{
border-radius:0 0 5px 0;
}

#globalNav .buttonList1 a > .icon{
padding:0;
}

#globalNav li a .line:after{
content:"\A";
white-space:pre;
}

#content .main{
width:700px;
}

h2{
margin-bottom:10px;
}

.main h2{
font-size:22px;
font-weight:normal;
}

.main h3{
margin-bottom:10px;
font-size:20px;
font-weight:normal;
}

h2,
h3{
font-weight:bold;
}

.news li{
margin:0 0 10px;
padding:0 0 10px;
border-bottom:1px dotted #ccc;
}

.newsIndex{
position:relative;
padding:7px 0 0;
}

.newsIndex h2{
padding-right:4.25em;
}

.newsIndex .linkButton1{
position:absolute;
top:0;
right:0;
margin:0;
}

.newsIndex .linkButton1 ul{
margin:0;
}

.newsIndex .linkButton1 li{
display:inline-block;
margin:0 0 0 10px;
font-size:12px;
font-weight:bold;
}

.newsIndex .linkButton1 li:first-child{
margin:0;
}

.newsIndex .linkButton1 li a{
padding:7px 10px;
font-weight:normal;
}

#product-news .news li{
position:relative;
padding:0 0 10px 110px;
min-height:90px;
}

#product-news .news li .date{
display:block;
margin:0 0 10px;
}

#product-news .news li .icon{
position:absolute;
top:0;
left:0;
width:90px;
height:90px;
background:#000;
border-radius:10px;
}

#product-news .news li .icon img{
border-radius:5px;
}

#product-news .news li a .icon{
background:#f2f2f2;
}

#product-news .news li a:hover .icon,
#product-news .news li a:focus .icon{
background:#ccc;
}

#canon-news .news li .meta{
display:block;
margin:0 0 10px;
}

#canon-news .news li .meta .company{
display:inline-block;
margin:0 0 0 20px;
padding:4px 10px;
color:#fff;
background:#777;
border-radius:5px;
font-size:13px;
line-height:1;
vertical-align:middle;
}

#caution-news .news li{
padding-left:50px;
min-height:30px;
background:url(/cmn/img/icon/caution.png) 0 0 no-repeat;
}

.aside .buttonList1 a{
font-size:16px;
}

.aside .buttonList1 .noIcon a{
display:table-cell;
padding:0 10px;
width:200px;
vertical-align:middle;
}

.aside .buttonList1 a > .icon{
padding:0;
}

.aside .buttonList1 .noIcon a .title{
padding:0;
}

.aside .buttonList1 li{
margin:0 0 10px;
}

.aside .buttonList1 li:last-child{
padding-top:10px;
border-top:4px solid #f4f4f4;
}

#company{
clear:both;
}

.col2 .col{
width:450px;
margin-left:20px !important;
}

#company .box{
margin:0;
}

#company h2{
font-size:22px;
font-weight:normal;
}

#company .section .box{
padding:10px 0 0 10px;
}

#company .buttonList1{
margin:0;
width:438px;
}

#company .buttonList1 li{
margin:0 10px 10px 0;
width:209px;
}

#company .buttonList1.noIcon a{
min-height:40px;
font-size:16px;
}

#company .buttonList1.noIcon a .title{
text-align:center;
}

/* ===== Carousel ===== */

html.js .carouselNav{
height:444px;
}

.index div.carouselNav{
margin:0 0 10px;
}

.carouselNav{
border-top:4px solid #000;
background-position:0 0;
}

.carouselNav .carouselContent[style]{
height:420px;
}

/* ===== Clear Fix ===== */

#globalNav:after{
content:"";
height:0;
display:block;
clear:both;
}

#globalNav{
_zoom:1;
}

/* ===== SNS ===== */

.index .aside .snsBox{
padding:10px;
margin-bottom:20px;
}
.snsBox .snsBoxHdg{
margin-bottom:5px;
}
.snsBox .snsBoxHdg a{
display:table;
}
.snsBox .snsBoxHdg .title,
.snsBox .snsBoxHdg .icon{
display:table-cell;
vertical-align:middle;
}
.snsBox .snsBoxHdg .title{
font-size:15px;
padding-right:10px;
}
.snsBox .snsBoxHdg .icon{
width:60px;
}
.snsBox .snsBoxHdg .icon img{
width:60px;
}
.snsBox .snsBoxHdg a:hover .icon,
.snsBox .snsBoxHdg a:focus .icon{
background-color:#000;
}
.snsBox .snsBoxBody{
border-top:1px solid #ccc;
padding-top:10px;
}
.snsBox .snsBoxBody .image{
margin-bottom:10px;
}
.snsBox .image img{
width:100%;
}
.snsBox p{
margin-bottom:10px;
}
.snsBox p.date{
margin-bottom:0;
}
.snsBox .more{
position:relative;
text-align:right;
}
img.icon{
height:auto;
width:14px;
}

.snsBox .snsBoxBody .image{
margin-bottom:10px;
background:#000;
}
.snsBox span{
display:block;
line-height:1.545;
}
.snsBox span.date{
margin-bottom:0;
}
.snsBox a:hover img,
.snsBox a:focus img{
opacity:0.6;
}

}