html {
    height: 100% !important;
}
body {
    min-height: 100% !important;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
}
a {outline: none !important;}

.all{
   /*min-height: 850px !important;
   height: 100% !important;*/
   flex: auto;
}
.navbar-inverse {
	background-color: #000000;
	border-radius: 0px;
	margin-top: -5px;
}

.header-logo{
   float: left;
   background-image: url(../images/header_logo.png);
   height: 55px;
   background-repeat: no-repeat;
   margin-top: 25px;
   margin-left: 5px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -140px !important;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
   font-family: 'Myriad Pro';
   src: url('../fonts/MyriadPro-Regular.eot'); /* IE9 Compatibility Modes */
   src: url('../fonts/MyriadPro-Regular.eot?') format('eot'),  /* IE6-IE8 */
   url('../fonts/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
   url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../fonts/MyriadPro-Regular.svg#svgMyriadPro-Regular') format('svg'); /* Legacy iOS */
}
.ext-button {
	background: url(../images/ext-button.png) top left no-repeat;
	width: 184px;
	height: 50px;
	display: inline-block;
	float: right;
	margin-right: 10%;
	margin-top: 25px;
}

.ext-button:hover {
	opacity: 0.8;
}

.home-text {
	font-size: 25px;
	font-family: 'RobotoLight';
	text-align: center;
}

.navbar-nav {
	margin-left: 64px !important;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 19px;
	font-family: 'RobotoLight';
	color: #ffffff;
	border-top: 1px solid #000;
}

.navbar-nav > li > a:hover {
	border-top: 1px solid #e92c5a;
}

.navbar-nav > li > a {
    line-height: 19px;
    margin-top: 2px;
}

.active a {border-top: 1px solid #e92c5a !important;}
#w2>li>a{
   border: 0px !important;
}
h2 {
	font-size: 24px;
	font-family: 'Myriad Pro';
}
.head {
	height: 100px;
	width: 100%;
	background: #1d1d1d url(../images/bg-top.png) top center no-repeat;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 0;
}

.footer {
    height: 330px;
    background: #000000 url(../images/footer-bg.jpg) top left repeat-x;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #fffcff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.footer a {
	color: #fffcff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{color: #e92c5a !important; }
 .has-error .form-control {border-color:  #e92c5a !important; }
 .btn-primary {background-color: #e92c5a !important; border-color:#333333; }

   .mobileLogo {
    display: none;
  }
 @media (max-width: 1024px) {
  .head {
    display: none;
  }

  .mobileLogo {
    display: inline-block;
  }

  .card .feedname {width: 60% !important;}
}

 @media (min-width: 1024px) {
  #small-logo {
    width: 0px !important;
  }
  #w1{
     margin-left: 20px !important;
  }
 }
 @media (min-width: 1200px) {
  #share{
      margin-left: 100px !important;
  }
}
.pquiz-container, .features-container {
	text-align: center;
}

.pquiz-container h2 {
	text-align: left;
	margin-left: 62px;
	font-family: 'RobotoMedium';
	font-size: 25px;
}

.pquiz-container h1 {
	width: 100%;
	display: inline-block;
}

.features-container h2 {
	text-align: center;
	font-family: 'RobotoMedium';
	font-size: 25px;
}
.features-container h3 {
	text-align: center;
	font-family: 'RobotoMediumItalic';
	font-size: 20px;
	line-height: 1px;
}

/*anim*/
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: pulse;
}
/*anim*/


.anim-arrow1, .anim-arrow2, .anim-arrow3, .anim-arrow4 {
	position: absolute;
}

.anim-arrow1 {
	margin-top: -17px;
	margin-left: -218px;
}

.anim-arrow2 {
	margin-top: 470px;
   margin-left: -138px;
}

.anim-arrow3 {
	  margin-top: 372px;
    margin-left: -50px;
}

.anim-arrow4 {
	margin-top: 669px;
    margin-left: -181px;
}

.pquiz-container hr, .features-container hr {
	border: 1px solid #a8a8aa !important;
	margin-top: 35px;
	margin-bottom: 55px;
}

.features-container hr {
	border: 1px solid #e92c5a !important;
	margin-top: 5px;
}

.pquiz-container iframe {
	min-height: 1680px;
	overflow: hidden;
	position: relative;
	top: -150px;
}

.spquiz-container iframe {
	min-height: 1092px !important;
	position: relative;
	top: 0px !important;
}
.cpquiz-container iframe {
	min-height: 1092px !important;
	position: relative;
	top: -113px !important;
	margin-bottom: -113px;
}

.lquiz-container iframe {
	top:0px !important;
}

.mpquiz-container iframe {
	margin-bottom: -150px;
	min-height: 888px !important;
	height: 888px !important;
}

.fhquiz-container iframe {
	top: -337px;
	margin-bottom: -337px;
	height: 3786px  !important;
}

.bngquiz-container iframe {
	top: -235px;
	margin-bottom: -235px;
	min-height: 1045px !important;
	height: 1045px  !important;
}

.spquiz-container h2,.cpquiz-container h2, .pquiz-container h2, .lquiz-container h2 {
	margin-left: 59px;
}

.ml0 {
	margin-left: 0px !important;
}
.bquiz-container iframe {
	top: -230px !important;
	margin-bottom: -230px;
}

#quiz {
	overflow: hidden;
}

.moreitem {
	display: inline-block;
	margin-bottom: 25px;
	width: 333px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}

.moreitem img {
	width: 333px;
	height: 167px;
}
.moreitem img:hover {
	opacity: 0.8;
}

/*.contactus a {
	display: inline-block;
	background-color: #922142;
	width: 310px;
	height: 180px;
	line-height: 172px;
	margin: 28px;
	font-size: 19px;
	color: #e1e1e1;
	text-transform: uppercase;
	text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.6);
}*/

.contactus a:hover {
	text-decoration: none;
	background-color: #cc3366 ;
}

.moreitem a {
	font-family: 'RobotoRegular';
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.pull-right {
	padding-top: 25px;
}











/* Grid */

#posts {
    margin: 30px auto 0;
}

.post {
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
}

.post img {
    padding: 0 15px;
    width: 100%;
}

#grid.container .post img {
    padding: 0;
}

@media (min-width: 768px) {
    #grid > #posts .post {
        width: 335px;
    }
    #grid > #posts .post.cs2 {
        width: 100%;
    }
    .post img {
        padding: 0;
    }

}
@media (min-width: 768px) and (max-width: 1024px){
    #small-logo{
       background: url(../images/logo-small.png) no-repeat!important;
    height: 45px !important;
    width: 50px !important;
    margin-top: 5px;
    }
    #w1{
       margin-left: 0px !important;
    }
    .container{
       width: 100% !important;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px !important;
}
}

@media (min-width: 1000px) and (max-width: 1500px){
   #w0-collapse{
     /* margin-left: 20px !important;*/
   }
}
@media (min-width: 1850px) and (max-width: 1890px){
   #navbar{
     margin-left: 0px !important;
   }
}
@media (min-width: 1750px) and (max-width: 1850px){
   #navbar{
     margin-left: 30px;
   }
}
@media (min-width: 1700px) and (max-width: 1750px){
   #navbar{
     margin-left: 50px;
   }
}
@media (min-width: 1600px) and (max-width: 1700px){
   #navbar{
     margin-left: 80px;
   }
}
@media (min-width: 1500px) and (max-width: 1600px){
   #navbar{
     margin-left: 160px;
   }
}
@media (min-width: 1400px) and (max-width: 1500px){
   #navbar{
     margin-left: 180px;
   }
}
@media (min-width: 1300px) and (max-width: 1400px){
   #navbar{
     margin-left: 220px;
   }
}
@media (min-width: 1200px) and (max-width: 1300px){
   #navbar{
     margin-left: 250px;
   }
}
@media (min-width: 1100px) and (max-width: 1200px){
   #navbar{
     margin-left: 180px;
   }
}
@media (min-width: 1025px) and (max-width: 1100px){
   #navbar{
     margin-left: 210px;
   }
}


@media (min-width: 992px) {
    #grid > #posts .post {
        width: 445px;
    }
    #grid > #posts .post.cs2 {
        width: 100%;
    }
}
@media (max-width: 992px) {
   #footer-content{
      margin-top: 30px !important;
   }
   #footer-logo{
      width: 220px !important;
      height: 55px !important;
      min-height: 60px !important;
   }

   #recentarticles-section{
      overflow: hidden;
   }
   #share{
   float: left !important;
   }
}

@media (min-width: 1200px) {
    #grid > #posts .post {
        width: 300px;
        margin-right: 12px;
    }
    #grid > #posts .post.cs2 {
        width: 742px;
    }
    #share{
   float: left !important;
   }
}

 .box300x250 {
	 width: 344px;
	 margin-left: 3px;
 }


@media (min-width: 1300px) {
    #grid {
        /* left: -50px;
        padding-left: 50px;
        padding-right: 50px; */
        position: relative;
    }
    #grid.container {
        left: auto;
    }
}

.card, .card:focus, .card:active {
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(177, 177, 183, 0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    transition: all 0.17s ease-in-out;
    display: block;
    width: 100%;
    margin-bottom: 1.2em;
    padding-bottom: 20px;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
	 opacity: 0
}

.card:hover {
    -ms-transform: scale(1.04, 1.04);
    -webkit-transform: scale(1.04, 1.04);
    transform: scale(1.04, 1.04);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 20px 0px rgba(159, 159, 166, 0.5);
}
.card:hover h2 { color: #DF194C }
.card ul.share { display: none }
.card.withbanner { padding-top: 4px; padding-bottom: 0px; }
.card .feedname { display: block; position: absolute; width: 240px; overflow: hidden; height: 20px; float: left;}

/*.card:hover ul.share { display: block }
.card:hover .feedname {display: none;}*/



.card-text {
    padding: 0 20px 20px 20px;
    text-align: left;
}

.card span {
    font-size: 16px;
    color: #aaa9ad;
}

.card img {
    width: 100%;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0;
}

.card-text h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: #373739;
}



.text-centar {
    text-shadow: none;
    border: none;
}


.btn-load {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #ed245b;
    background: none;
    color: #ed245b;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    padding: 10px 40px;
    margin: 30px 0 50px 0;
}

.btn-load:hover {
    background: #ed245b;
    color: #ffffff;
}

.btn-load:focus {
    outline: none;
}


/* Boostrap Haks */

/*.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}*/



/* The Loader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: hidden;
}

.no-js #loader-wrapper {
    display: none;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e92d5a;
    -webkit-animation: spin 1.7s linear infinite;
    animation: spin 1.7s linear infinite;
    z-index: 11;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ee6138;
    -webkit-animation: spin-reverse .6s linear infinite;
    animation: spin-reverse .6s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8e2758;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #131313;
    z-index: 10;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}



span.share {
    display: block;
    overflow: hidden;
    float: right;
    text-align: center;
    width: 18px;
    height: 18px;
    font-size: 9pt;
    background: #D3D3D3;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    color: white;
    line-height: 12px;
    font-weight: bold;
}
span.share:hover {
    background-color: #c3c0c0;
}
span.share.active {
    background-color: #DF194C;
}
ul.share {
    list-style: none;
    margin: 0;
    padding: 0 25px 0 0;
}
ul.share li {
    display: block;
    overflow: hidden;
    float: right;
    text-align: center;
    width: 24px;
    height: 24px;
    background-size: 96px 48px;
    background-image: url(/images/share.png);
    text-indent: -100000px;
    margin-top: -3px;
}

ul.share li.fb { background-position: 0px 24px; opacity: 0.3;}
ul.share li.gp { background-position: 24px 24px; opacity: 0.3;}
ul.share li.ln { background-position: 48px 24px; opacity: 0.3;}
ul.share li.tw { background-position: 72px 24px; opacity: 0.3;}

ul.share li.fb:hover { background-position: 0px 0px; opacity: 0.95;}
ul.share li.gp:hover { background-position: 24px 0px; opacity: 0.95;}
ul.share li.ln:hover { background-position: 48px 0px; opacity: 0.95;}
ul.share li.tw:hover { background-position: 72px 0px; opacity: 0.95;}

#masonary {
  overflow: hidden;
  position: relative;
}
.masonary {
  /*width: 350px;
  padding: 0 10px;
  display: table-cell;*/
}


/*@media (min-width: 1200px){
  #masonary {
      width: 1340px;
  }
}*/
/* debug
.colA { background-color: red }
.colB { background-color: blue }
.colC { background-color: yellow }
.colD { background-color: green } */
.colA, .colB, .colC, .colD { padding-left: 5px; padding-right: 10px; }

@media (min-width: 1280px){
    #masonary { width: 1270px; }

}

#mc_embed_signup input.email { width: 200px !important; }
#mc_embed_signup label { padding-bottom: 0px !important; text-align: left; margin-left: 24px; }
#mc_embed_signup { display: inline-block;	width: 340px;}

@media (max-width: 768px){
	#mc_embed_signup input.email, #mc_embed_signup input.button { width: 300px !important;}
	#mc_embed_signup label {text-align: center !important; width: 300px !important;}
   #w0{
      background-image: url(../images/logo-small.png) !important;
      background-repeat: no-repeat;
      background-position: 30px 5px;
   }
}

.news {
	 width: 300px;
    height: 277px;
    overflow: hidden;
    position: relative;
	 flex: 1;
    margin: 25px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #bdb8b8;
}

.news-small {
	width: 167px;
   height: 238px;
	margin: 6px !important;
}

.news img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
}

.news .engage-bar {
    position: absolute;
    right: 0px;
    bottom: 3px;
    font-size: 1.33em;
    height: 28px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    right: 3px;
}

.news-small .engage-bar {
	position: relative !important;
	right: 0px !important;
	top: 10px;
}

.news .feed-name {
    width: 159px;
    bottom: 3px;
}
.feed-name {
    font-size: 12px;
    line-height: 12px;
    color: #df194c;
    width: 297px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 5px;
    bottom: 5px;
    text-transform: uppercase;
}

.news .engage-bar {
    position: absolute;
    right: 0px;
    bottom: 3px;
    font-size: 1.33em;
    height: 28px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    right: 3px;
}

.engage-bar .clickable.icon-expandEngage {
    padding-right: 3px;
}

.engage-bar .clickable {
    cursor: pointer;
    padding: 0 5px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Sphere-Font-1';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clickable {
    color: #D3D3D3;
}

.news .sponsored-by {
    position: absolute;
    width: 159px;
    left: 5px;
    bottom: 16px;
    font-size: 9px;
    line-height: 9px;
}


.news-tiles .title-text {   -webkit-line-clamp: 3;}
.news-tiles { display: inline-block; float: left; }
.news .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	 color: #4f4f4f;
	 margin: 5px;
    line-height: 2.5ex;
    height: 7.5ex;
}

.social {
	width: 22px;
	height: 22px;
	background: url(/images/social_icons.png) top left no-repeat;
}
.interest {
	width: 22px;
	height: 22px;
	background: url(/images/interest_icons.png) top left no-repeat;
}

.interest-add  { background: url(/images/interest_icons.png)  -10px -7px no-repeat; }
.interest-remove { background: url(/images/interest_icons.png) -58px -7px no-repeat; }


.social-fb { background: url(/images/social_icons.png) -2px   -4px no-repeat; }
.social-tw { background: url(/images/social_icons.png) -40px  -4px no-repeat; }
.social-ln { background: url(/images/social_icons.png) -80px  -4px no-repeat; }
.social-go { background: url(/images/social_icons.png) -117px -4px no-repeat; }
.social:hover, interest:hover {opacity: 0.8;}

.article h2 {
	margin-left: 0px !important;
}

.category-index .glyphicon-trash{
   display: none;
}

#footer-logo{
   /* background: url(../images/footer_logo.png) top left repeat-x !important;*/
   height: 100px;
   background-size: 100% !important;
   margin-top: 30px;
}

#company-section{
   line-height: 30px !important;
}

#recentarticles-section{
   width: 100% !important;
   max-width: 300px !important;
}
#recentarticles-section>a{
   word-wrap: break-word;
   display:block;
}

@media(max-width: 767px){
   .col-md-10{
      position: fixed;
      z-index: 999;
      display: block;
      left: 0px;
      width: 100%;

   }

   #navbar{
    width: 115% !important;
   }
   #w1{
      background: black;
      margin-left: -15px !important;
      margin-top: 5px;
   }
   #w0-collapse, #w1{
   width: 100% !important;
}
}

#contacttitle{
   font-size: 24pt;
	font-family: 'Myriad Pro';
}

#optiontitle{
   font-size: 14pt;
	font-family: 'Myriad Pro';
   font-style: normal;
}

.ts-button {
	background: url(../images/ts-button.png) top no-repeat;
	width: 160px;
	height: 40px;
   margin-top: 15px;
}

.ts-button:hover {
	opacity: 0.8;
}

.fr-button {
	background: url(../images/fr-button.png) top no-repeat;
	width: 160px;
	height: 40px;
   margin-top: 15px;
}

.fr-button:hover {
	opacity: 0.8;
}

.ad-button {
	background: url(../images/ad-button.png) top no-repeat;
	width: 160px;
	height: 40px;
   margin-top: 15px;
}

.ad-button:hover {
	opacity: 0.8;
}

#contactparagraph{
  margin: 0 30px 0 30px;
  line-height: 2;
  color: #505050;
  min-height: 10em;
}

.ad-button, .fr-button, .ts-button{
   margin-left:auto;
   display: inherit !important;
   margin-right: auto;
}


.dropdown-menu{
   position: relative !important;
   background: #000 !important;;
   color: #fff !important;
   border-radius: 0px !important;
}

.dropdown-menu > li > a{
   color: #fff !important;
}

.dropdown-menu > li > a:hover{
    border-top: 1px solid #e92c5a !important;
    background: #000 !important;
}

.open > .dropdown-menu {
    display: none !important;
}

.nav .open > a:focus {
    border-top: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
    width:50px;
}

.dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border: 0px;
}

.navbar-inverse .navbar-nav > li > a:hover{
   border-top: 1px solid #e92c5a !important;
}

.navbar-collapse.collapse {
   position: absolute !important;
}

#navbar{
   width: 90%;
 
}
#w0-collapse{
     margin-top: -4px;
}
#w0-collapse, #w1{
   width: 85%;
}

#w2{
   width: 100%;
   min-width: 100px !important;
}
.dropdown-menu >li>a:hover{
   background: #e92c5a !important;
}


#ra_title{
   width: 200px !important;
   margin-bottom: 10px;
}

.dropdown{
   min-width: 135px;
}

.cloned{
  padding-top: 1px !important;
}

@media(max-width: 992px){

   #contactparagraph{
      min-height: 2em;
   }
   #footer-logo{
      margin-left: 20px;
   }
}

.pquiz-container{
   margin-bottom: 10px;
}

.navbar{
   min-height: 52px !important;
}