
/* .LeftPanel {
	z-index:101;
}
.LeftPanel.hide {
	z-index:98;
} */

/* ====================================================================================================================
 * flex Slider Start here
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
	outline: none;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	margin: 0 0 60px;
	background: #ffffff;
	border: 4px solid #ffffff;
	position: relative;
	zoom: 1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides img {
	height: auto;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.carousel-bsr li {
	margin-right: 5px;
}
.carousel-bsr ul.slides li {
	margin-left: 5px;
	margin-right: 5px;
	width: 233px!important;
}
.flex-direction-nav {
 *height: 0;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 42px;
	height: 42px;
	margin: -20px 0 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);/*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
}
.flex-direction-nav a:before {
	/*font-family: "flexslider-icon";
	font-size: 40px;*/
	display: inline-block;
	/*content: '\f001';*/
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
/*content: '\f002';*/
	/*background:url(../img/right_arrow.png) 0 0 no-repeat;*/
}
.flex-direction-nav .flex-prev {
	background: url(../img1/slider/left_arrow.png) 0 0 no-repeat;
	left: 0px;
	margin-left: -80px;
	opacity: 1;
	z-index:100;
	display:none;
}
.flex-direction-nav .flex-next {
	background: url(../img1/slider/right_arrow.png) 0 0 no-repeat;
	right: 0px;
	margin-right: -80px;
	text-align: right;
	opacity: 1;
	z-index:100;
	display:none;
}
/*.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 10px;
}*/
/*.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}*/
/*.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 10px;
}*/
/*.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}*/
/*.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}*/
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play:before {
	content: '\f003';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #e5e5e5;
	background: rgba(229, 229, 229, 1);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.flex-control-paging li a:hover {
	background: #666;
	background: rgba(0, 0, 0, 0.5);
}
.flex-control-paging li a.flex-active {
	background: #f5821f;
	background: rgba(245, 130, 31, 1);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

#offer-Details .slide-container {min-width:738px;margin-top:20px;}
#offer-Details .homeoffer-items-wrapper{margin-bottom:30px;}

/** See all offers : start **/
span.allOffers {padding-top:15px;display:block;text-align:center;color:#fff;}
span.allOffers a {color:green;text-decoration:none;}
/** See all offers : End **/

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 10px;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 10px;
}
#offer-Details .slide-container {min-width:auto;}
}
/* ====================================================================================================================
 * flex Slider ends here
 * ====================================================================================================================*/
.slide-container {
	min-width: 975px;
	max-width: 975px;
	width: 100% !important;
	margin: 75px auto 0 auto;
}

.slide-container h1 {
	font-size: 40px;
	text-align: center;
	line-height: 42px;
	margin: 0 0 30px 0;
	padding: 0 0 0 0;
}
.slide_box {
	border: 1px solid #d9d9d9;
	margin-bottom: 1px;

}
.slide-thumb {
	padding: 18px;
	margin: 0 0;
}
.slide-desc {
	padding: 0px 18px 18px 18px;
	margin: 0 0;
}
.carousel-bsr .card {
	display: block;
	color: #555555;
	position: relative;
}
.slide_box h6 {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #555555;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height:66px;
}
.slide_box p {
	text-align: center;
	font-size: 13px;
	line-height: 22px;
	margin: 15px 0 0px 0;
	padding: 0 0 0 0;
	color: #555555;
}
.slide-sm-desktop {
	border-top: 1px solid #d9d9d9;
	text-align: center;
	padding: 15px 0 15px 0;
	display: block;
	margin-left: 27px;
}
.slide-sm-mobile {
	border-top: 1px solid #d9d9d9;
	text-align: center;
	padding: 5px 0 15px 0;
	display: block;
	margin: auto auto auto -29px;
}
.slide-sm-mobile {
	border-top: none;
}
.flexslider .slides .slide-sm-desktop img, .flexslider .slides .slide-sm-mobile img {
	display: inline-block;
	width: auto;
}
.slide-overlay {
	background-color: rgba(0,0,0, .9);
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000, endColorstr=#E6000000)";*/
	position: absolute;
	z-index: 11;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	/*-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;*/
	/*overflow: hidden;*/
}
/*.carousel-bsr .card:hover .slide-overlay, .carousel-bsr .card:focus .slide-overlay {
	height: 100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}*/
.slide-overlay h5 {
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 0 0;
	margin: 28px 0 0 0;
}
.slide-overlay h2 {
	font-size: 25px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	/* text-transform: uppercase; */
	padding: 0 0;
	margin: 20px 0 0 0;
}
.slide-overlay p {
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	padding: 0 5px;
	margin: 20px 0 0 0;
}
.offerValid {
	display:block;
}
.slide-overlay .so-header {
	padding: 18px 18px;
}
.flexslider .slides .slide-overlay a {
	display: inline-block;
	text-align: center;
}
.flexslider .slides .slide-overlay img {
	display: inline-block;
	width: auto;
	text-align: center;
}
.overlay-sm {
	position: absolute;
	margin-top: 50px;
	border-top: 1px solid #d9d9d9;
	padding: 15px 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	left: 0;
}
span.overlay-left {
	float: left;
	display: block;
	color: #fff;
}
span.overlay-right {
	float: right;
	display: block;
}
span.overlay-right a {
	margin-left: 10px;
}
.extra-links-container {
	background-color: #f2f2f2;
	padding: 75px 0;
	margin-top: 75px;
}
.extra-links {
	width: 975px;
	margin: 0 auto 0 auto;
}
.extra-links ul {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}
.extra-links ul li {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0;
	width: 162.5px;
}
.extra-links ul li a {
	display: block;
	color: #424141;
	font-size: 20px;
	text-align: center;
	margin: 0 0;
	padding: 0 0;
	text-decoration: none;
}
.extra-links ul li a span {
	display: block;
	color: #424141;
	font-size: 20px;
	text-align: center;
	padding: 0 10px;
	margin: 50px 0 0 0;
}
.extra-links ul li a img {
	display: inline-block;
	text-align: center;
}
.exp-desktop {
	display: block;
}
.exp-mobile {
	display: none;
}
.slide-sm-mobile {
	display: none;
}
/*Css for iPad max width 768px(iPda portrait) starts here*/
@media only screen and (max-width:768px) {
.slide-container {
	min-width: 100%;
	max-width: 100%;
	width: 100% !important;
	margin: 100px auto 0 auto;
	overflow: hidden;
}
.carousel-bsr ul.slides li {
	margin-left: 10px;
	margin-right: 10px;
	width: 195px!important;
}
.extra-links {
	width: 100%;
}
.extra-links ul li {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0;
	width: 16.5%;
}
.flexslider .slides .slide-overlay .so-header img {
	display: inline-block;
	width: 100%;
	text-align: center;
}
}

/*Css for mobile max width 598px(Google Nexus4 and Nexus5 Landscape) starts here*/
 @media only screen and (max-width:598px) {
.carousel-bsr ul.slides li {
	margin-left: 10px;
	margin-right: 10px;
	width: 275px!important;
}
.extra-links ul li img {
	width: 100%;
}
.extra-links ul li a span {
	display: block;
	color: #424141;
	font-size: 12px;
	text-align: center;
	padding: 0 10px;
	margin: 20px 0 0 0;
}
}

 
 /*Css for mobile max width 568px(iPhone5 Landscape) starts here*/
 @media only screen and (max-width:568px) {
.carousel-bsr ul.slides li {
	margin-left: 10px;
	margin-right: 10px;
	width: 260px!important;
}
.extra-links ul li img {
	width: 100%;
}
.extra-links ul li a span {
	display: block;
	color: #424141;
	font-size: 12px;
	text-align: center;
	padding: 0 10px;
	margin: 20px 0 0 0;
}
}
/*Css for mobile max width 480px(iPhone4 Landscape) starts here*/
 @media only screen and (max-width:480px) {
.carousel-bsr ul.slides li {
	margin-left: 10px;
	margin-right: 10px;
	
}
.extra-links ul li img {
	width: 100%;
}
.extra-links ul li a span {
	display: block;
	color: #424141;
	font-size: 12px;
	text-align: center;
	padding: 0 10px;
	margin: 20px 0 0 0;
}
}


/*Css for mobile max width 384px(Google Nexus4, Nexus5, iPhone 4, iPhone 5 portrait) starts here*/
@media only screen and (max-width:384px) {

.slides{width:auto!important;}


.slide-sm-desktop {
	display: none;
}
.slide-sm-mobile {
	display: block;
}
.exp-desktop {
	display: none;
}
.exp-mobile {
	display: block;
	padding: 0;
}
.flexslider .slides .slide-overlay img {
	width: 100%;
}
.slide-container {
	min-width: 100%;
	max-width: 100%;
	width: 100%!important;
	margin: 0 auto 0 auto;
	overflow: hidden;
}
.carousel-bsr ul.slides li {
	margin-top: 8px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 47%!important;
	display: inline-block;
	float: left;
}
.flex-control-paging {
	display: none;
}
.slide-overlay {
	background-color: rgba(255, 255,255, 1);
	position: relative;
	z-index: 11;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	overflow: hidden;
}
.carousel-bsr .card:hover .slide-overlay, .carousel-bsr .card:focus .slide-overlay {
	height: 100%;
	/*cursor: pointer;*/
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.slide-overlay h5 {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #000;
	font-weight: bold;
	padding: 0 0;
	margin: 28px 0 0 0;
}
.slide-overlay h2 {
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #000;
	text-transform: inherit;
	padding: 0 0;
	margin: 20px 0 0 0;
}
.slide-overlay p {
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	color: #000;
	padding: 0 0px;
	margin: 20px 0 0 0;
}
.offerValid {
	display:none;
}
.overlay-sm {
	position: relative;
	margin-top: 25px;
	border-top: 1px solid #d9d9d9;
	padding: 15px 15px;
	margin-left: -13%;
	margin-right: -13%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 126%;
}
.flexslider .slides .slide-overlay .overlay-sm img {
	width: auto;
}
span.overlay-left {
	float: none;
	display: block;
	color: #000;
	text-align: center;
	padding: 10px 0 20px 0;
}
span.overlay-right {
	float: none;
	display: block;
	text-align: center;
}
span.overlay-right a {
	margin: 0px 0px;
	width: 35px;
}
span.overlay-right a img {
	width: auto!important;
}
.slide_box {
	border: none;
}
.carousel-bsr .card {
	border: 1px solid #d9d9d9;
}
.slide-overlay .so-header {
	padding: 18px 18px 8px 18px;
}
.extra-links {
	width: 100%;
	padding: 0 4%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.extra-links ul li {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0;
	width: 25%;
}
.extra-links ul li.banking-fb {
	float: left;
	margin: 40px 0 0 25%;
	padding: 0 0;
	width: 25%;
}
.extra-links ul li.banking-tw {
	float: left;
	margin: 40px 0 0 0;
	padding: 0 0;
	width: 25%;
}
.extra-links ul li img {
	width: 100%;
}
.extra-links ul li a span {
	display: block;
	color: #424141;
	font-size: 12px;
	text-align: center;
	padding: 0 10px;
	margin: 20px 0 0 0;
}
.slide-container h1 img {
	margin: 0 0 0px 0;
	padding: 0 0 0 0;
	width: 80%;
}
.carousel-bsr ul.slides li{display: none;}
.carousel-bsr ul.slides li:nth-child(1), .carousel-bsr ul.slides li:nth-child(2),.carousel-bsr ul.slides li:nth-child(3), .carousel-bsr ul.slides li:nth-child(4) {
    display: inline-block;
}
}
/*Css for mobile max width 384px(Google Nexus4, Nexus5, iPhone 4, iPhone 5 portrait) starts here by parikshit,15-12-2015*/
@media only screen and (max-width:384px) {
.slide_box h6 {
	height:88px;
}
}
