/** font face for test
@font-face {
    font-family: 'zurich_lt_btlight';
    src: url('../font/zurich_lt_bt_light-webfont.eot');
    src: url('../font/zurich_lt_bt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/zurich_lt_bt_light-webfont.woff') format('woff'),
         url('../font/zurich_lt_bt_light-webfont.ttf') format('truetype'),
         url('../font/zurich_lt_bt_light-webfont.svg#zurich_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zurich_bdxcn_btbold';
    src: url('../font/zurchbxc-webfont.eot');
    src: url('../font/zurchbxc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/zurchbxc-webfont.woff') format('woff'),
         url('../font/zurchbxc-webfont.ttf') format('truetype'),
         url('../font/zurchbxc-webfont.svg#zurich_bdxcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
**/


/** Zurich BT Font **/
@font-face {
    font-family: 'zurich_btroman';
    src: url('../font/tt0178m_-webfont.eot');
    src: url('../font/tt0178m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/tt0178m_-webfont.woff') format('woff'),
         url('../font/tt0178m_-webfont.ttf') format('truetype'),
         url('../font/tt0178m_-webfont.svg#zurich_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}