

/*public begin*/
*{margin:0;padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin:0;padding:0;}
body {font:14px/24px Microsoft YaHei,Helvetica,Tahoma;line-height:20px;background:#f8f8f8;color:#666}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
table {border-collapse:collapse;border-spacing:0;}
li {list-style:none;}
img, fieldset,iframe {border:0;}
input, button, textarea, select {font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;outline:none}
input, select,img{vertical-align:middle}
em,i,font{font-style:normal;}

a,a:hover,a:visited { text-decoration: none; }
a:hover{color:#f85659}
.mallright img{display:block;}
.margin_{margin-top:10px;}

.clear{-zoom:1;clear:both;}
.clear2{-zoom:1;clear:both;overflow: hidden;}
.clear:after{content: "";display:block;height:0;clear:both;visibility: hidden;}
.clear_{clear:both;height:0;overflow:hidden}
.clear_no:after{content: "";display:block;height:0;clear:both;visibility: hidden;}

.left{float:left;}
.right{float:right}
.pos_rel{position:relative}
.hide{display:none}

::-ms-clear, ::-ms-reveal{display: none;}

/*返回顶部*/
.back_top {display: none;position: fixed;left: 50%;margin-left:537px;bottom: 105px;background-color: #000;width: 40px;height: 40px;color: #FFF;z-index: 4;text-align: center;line-height: 40px;border-radius: 50%;-webkit-border-radius: 50%;}
.back_top.s {display: block;background:url(../img/backTop.png) no-repeat;background-position: 0 0;width:41px;height:41px;}
.back_top.s:hover{background-position: -45px 0;}
/*public css*/
.cline{ width:100%;display:block;height:10px;clear: both;}
.trans {transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;}

.icon-ar {display: block;background-image:url(../img/arrow.png);background-repeat:no-repeat;}
.ar-lt {background-position:0 0;width:7px;height:12px;}
.ar-rt {background-position:0 -14px;width:7px;height:12px;}
.ar-dn {background-position:0 -28px;width:12px;height:7px;}
.ar-up {background-position:0 -37px;width:12px;height:7px;}

/*狐狸有话说*/
.fox .index-icon{background:url(../img/index/index-icon.png) no-repeat}
.fox{ width:30px; height: 142px; position: fixed; left:50%; margin-left: 537px; top:456px; z-index: 2; display: none;}
.fox .til-fox a{ display: block; color:#fff;width:14px; padding:14px 8px; background: #f85659; font-size: 14px; font-weight: bold;text-align: center; line-height: 18px; overflow: hidden;}
.fox .til-fox i.close-fox{display: inline-block;width:30px; height: 26px; background-position: -158px -35px; vertical-align: middle; cursor: pointer;}
.fox .pop-fox{ width:182px; height: 164px; position: absolute;right:22px; top:0; display: none;}
.fox:hover .pop-fox{ display: block;}
.fox .pop-fox .code-fox{ width:173px; height: 154px; padding-top: 8px; background: #fff; border:1px solid #ccc; text-align: center; font-size: 12px; line-height: 26px; color:#f85659;}
.fox .pop-fox .triangle-fox{ display: inline-block;width:8px; height: 15px; background-position: -141px -44px; vertical-align: middle; position: absolute; right:0; top:62px;}

/*锁屏*/
.lock_win{width:100%; height: 100%; position: fixed; left:0; top:0; background: #000; filter:alpha(opacity=60);opacity: 0.6;z-index:1001;}
.hide_win{ width:100%; height: 100%; position: fixed; left:0; top:0; background: #000; filter:alpha(opacity=0);opacity: 0;z-index:1001;}

/*head begin*/
#yc_header {
    font-size: 14px;
}

.yc_header a {
    color: #666666;
}

.yc_header a:hover {
    color: #f85659;
}

.page {
    margin: 0 auto;
    width: 1024px;
}

.top_bo {
    width:100%;
    height:60px;
    background:url(../img/top_bestOwner.jpg) no-repeat top center;
    cursor:pointer;
}

.icon_hf {
    display: inline-block;
    background-image: url(../img/hf/hficon.png?v=2016110201);
    background-repeat: no-repeat;
}


.icon_phone,.icon_return{
    position: relative;
    top: 4px;
    *top: -1px;
    margin-right: 5px;
    width: 11px;
    height: 16px;
    background-position: -11px -10px;

}

.icon_return{
	background-position: -11px -201px;
}

.icon_freeEdit {background-position: -146px -200px;width:14px;height: 15px;position: relative;top: 2px;}

.icon_wx {
    position: relative;
    top: 3px;
    *top: -1px;
    margin-right: 5px;
    width: 19px;
    height: 16px;
    background-position: -52px -10px;
}

.icon_yc {
	position: relative;
    top: 3px;
    *top: -1px;
    margin-right: 5px;
    width: 19px;
    height: 16px;
    background-position: -51px -201px;
}

.icon_fw{
    position: relative;
    top: 1px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-position: -235px -76px;
}

.icon_fwDown{
    position: relative;
    top: -2px;
    margin: 0 16px 0 5px;
    width: 11px;
    height: 7px;
    background-position: -234px -11px;
}

.icon_duty {
    position: relative;
    top: 3px;
    *top: -1px;
    margin-right: 5px;
    width: 23px;
    height: 16px;
    background-position: -101px -200px;
}

.icon_person {
    position: relative;
    top: 3px;
    margin-right: 5px;
    width: 12px;
    height: 15px;
    background-position: -190px -42px;
}
.yc_unlogin .icon_person{ top:3px; *top:-1px;}
.icon_hr {
    position: relative;
    top: 3px;
    *top: -3px;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    background-position: -236px -43px;
}

.icon_tel {
    width: 54px;
    height: 45px;
    background-position: -10px -112px;
}
.icon_c_service {
    width: 55px;
    height: 59px;
    background-position: -101px -232px;
}

.icon_about {
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    background-position: -10px -77px;
}

.icon_job {
    position: relative;
    top: 1px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 12px;
    background-position: -55px -77px;
}

.icon_text {
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 13px;
    height: 14px;
    background-position: -101px -76px;
}

.icon_info {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 15px;
    height: 14px;
    background-position: -234px -112px;
}

.icon_info_red{
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 15px;
    height: 14px;
    background-position: -146px -42px;
}
.icon_help {
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-position: -146px -76px;
}

.icon_text_red {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 15px;
    height: 14px;
    background-position: -100px -43px;
}

.icon_text_white {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-position: -189px -112px;
}
.icon_down {
    position: relative;
    top: -1px;
    margin-left: 5px;
    width: 12px;
    height: 6px;
    background-position: -189px -168px;
}
.icon_download{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-position: -146px -112px;
}
.icon_eye{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 16px;
    height: 10px;
    background-position: -101px -112px;
}
.icon_star{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-position: -146px -166px;
}
.icon_set{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    background-position: -101px -165px;
}
.icon_help_red{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-position: -101px -165px;
}
.icon_id{
    position: relative;
    top: 2px;
    *top: -3px;
    margin-right: 5px;
    width: 14px;
    height: 12px;
    background-position: -55px -165px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.ptb20 {
    padding: 20px 0;
}

.tr {
    text-align: right;
}

/****************************************/

.tbar {
    height: 34px;
    background: #e83838;
    z-index: 1002;
    position: relative;
}

.hf-return,.hf-bGage{
    line-height: 34px;
    font-size: 14px;
    color: #fcebeb;
    cursor:pointer;
}

.hf-return a,.hf-bGage a{
	color:#FFFBCC;
}

.hf-return a:hover,.hf-bGage a:hover{
	color:#FFFBCC
}

.hf-bGage ul{ height: 34px; position: relative; z-index: 2;}
.hf-bGage li{ float:left; padding:0 2px; cursor: pointer;}
.hf-bGage li .tab_tbar{ display: none; position: absolute; top:28px; left:0; z-index: 2; text-align: center; font-size: 12px; line-height: 40px; color:#666;}
.hf-bGage li:hover .tab_tbar{ display: block; }
.hf-bGage .wx_item{float: left;padding:0 10px 10px;}
.hf-bGage .wx_item_left{border-right:1px dashed #d9d9d9;}
.hf-bGage .box_tbarPhone{ width:375px; height: 196px; overflow: hidden;}
.hf-bGage .triangle{ width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 6px solid #fff; margin-left: 36px;}
.hf-bGage li a{ display: inline-block; overflow: hidden; float:left; color:#fff;}
.hf-bGage li a:hover{ color:#fff;}
.hf-bGage li .box_tbarPhone .con_tbarPhone{ background: #fff; width:372px; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}
.hf-bGage .lf_tbarPhone{ width:144px; padding:0 15px; height:100%; border-right:1px dashed #d9d9d9; margin-left: -1px; overflow: hidden; float:left;}
.hf-bGage .lf_tbarPhone p{margin:0 auto;}
.hf-bGage .lf_tbarPhone div{ width:100%; float:left;}
.hf-bGage .rt_tbarPhone{ width:198px; float:left;}
.hf-bGage .rt_tbarPhone span{ display: inline-block; height: 44px; line-height: 44px; background: #f3f3f3; padding:0 11px; border-radius: 3px; color:#777777; font-size: 22px; margin-top: 40px;}
.hf-bGage .box_tbarWx{ width: 314px; height: 196px; overflow: hidden;}
.hf-bGage .box_tbarWx .triangle{ margin-left: 123px;}
.hf-bGage .box_tbarWx .con_tbarWx{ background: #fff; width:312px; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}

.hf-bGage .box_tbarSchool{ width: 200px; height: 196px; overflow: hidden;right: 68px!important;}
.hf-bGage .box_tbarSchool .triangle{ margin-left: 90px;}
.hf-bGage .box_tbarSchool .con_tbarWx{ background: #fff; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}



.tbar_right {
    height: 34px;float: right;
    font-size: 14px; line-height: 34px;
    color: #fcebeb;
}
.tbar_right ul{ height: 34px; position: relative; z-index: 2;}
.tbar_right li{ float:left;cursor: pointer;}
.tbar_right li .tab_tbar{ display: none; position: absolute; top:28px; right:115px; z-index: 2; text-align: center; font-size: 12px; line-height: 40px; color:#666;}
.tbar_right li:hover .tab_tbar{ display: block; }
 .tab_tbar .wx_item{float: left;padding:0 10px 10px;}
 .tab_tbar .wx_item_left{border-right:1px dashed #d9d9d9;}
.tbar_right .box_tbarPhone{ width:375px; height: 196px; overflow: hidden;}
.tbar_right .triangle{ width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 6px solid #fff; margin-left: 113px;}
.tbar_right li a{ display: inline-block; overflow: hidden; float:left; color:#fff;}
.tbar_right li a:hover{ color:#fff;}
.tbar_right li .box_tbarPhone .con_tbarPhone{ background: #fff; width:372px; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}
.tbar_right .lf_tbarPhone{ width:144px; padding:0 15px; height:100%; border-right:1px dashed #d9d9d9; margin-left: -1px; overflow: hidden; float:left;}
.tbar_right .lf_tbarPhone p{margin:0 auto;}
.tbar_right .lf_tbarPhone div{ width:100%; float:left;}
.tbar_right .rt_tbarPhone{ width:198px; float:left;}
.tbar_right .rt_tbarPhone span{ display: inline-block; height: 44px; line-height: 44px; background: #f3f3f3; padding:0 11px; border-radius: 3px; color:#777777; font-size: 22px; margin-top: 40px;}
.tbar_right .box_tbarWx{ width: 314px; height: 196px; overflow: hidden;}
.tbar_right .box_tbarWx .triangle{ margin-left: 142px;}
.tbar_right .box_tbarWx .con_tbarWx{ background: #fff; width:312px; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}

.tbar_right .box_tbarSchool{ width: 200px; height: 196px; overflow: hidden;right: 68px!important;}
.tbar_right .box_tbarSchool .triangle{ margin-left: 90px;}
.tbar_right .box_tbarSchool .con_tbarWx{ background: #fff; height: 188px; border:1px solid #d9d9d9; border-top: none; overflow: hidden;}
.line {
    padding: 0 10px;
}

.qySevice{float: right;font-size: 18px;width: 138px;height: 69px;line-height: 69px;text-align: right;color: #999999;cursor: pointer;}
.qyServbox{display: none;width:100%;background: #fff;position: absolute; left:0; top:104px;    z-index: 1001;}
.qySevice.active{color: #f85659;}
.qySevice .icon_fw.active{background-position: -189px -76px;}
.qySevice .icon_fwDown.active{background-position: -189px -11px;}
.qyServbox .triangle {position: absolute;width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 9px solid #f0f0f0;top: -10px;left: 50%;margin-left: 429px;}
.qyServbox .triangle_in{position: absolute;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 8px solid #fff;top: -8px;left: 50%;margin-left: 430px;}
.servList{width: 1026px;height: 184px;margin:0 auto;}
.servList li{width: 238px;margin-left: 10px;margin-top: 30px;height:48px;line-height: 24px;float: left;overflow: hidden;}
.icon_logo1,.icon_logo2,.icon_logo3,.icon_logo4,.icon_logo5,.icon_logo6,.icon_logo7,.icon_logo8{position: relative;top: 0;margin-right:12px;width: 46px;height: 46px;float: left;}
.icon_logo1{background-position: -275px 0;}
.icon_logo2{background-position: -339px 0;}
.icon_logo3{background-position: -410px 0;}
.icon_logo4{background-position: -485px 0;}
.icon_logo5{background-position: -275px -55px;}
.icon_logo6{background-position: -339px -55px;}
.icon_logo7{background-position: -410px -55px;}
.icon_logo8{background-position: -485px -55px;}
.icon_tel{position: relative;top: 2px;margin-right:5px;width: 17px;height: 17px;background-position: -188px -232px;float: left;}
.servList li p{color: #a8a8a8; text-align: left; font-size: 14px;}
.servList li p.ht{font-size: 16px;color: #343434;font-weight: bold;}
.qyfw_bar{height:39px;padding: 13px 0;border-top: 1px solid #eeeeee;box-shadow: 3px 4px 6px 0px #ddd;}
.qyfw_bar p{text-align: center;color: #aaa;font-size: 14px;}
.qyfw_bar div{width: 160px;font-size: 20px;margin: 0 auto;color:#898989;}



/****************************/
#yc_tnav {
    height: 69px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

#yc_tnav .page {

}

#yc_tnav .logo {
    margin: 9px 0;
    float: left;
    width: 255px;
}

#yc_tnav .logo a {
    display: inline-block;
    width: 132px;
    height: 46px;
    overflow: hidden;
    background: url(../img/hf/logo.gif) no-repeat;
    text-indent: -100px;
}

#yc_tnav .loc {
    position: relative;
    top: -3px;
    cursor: pointer;
}
#yc_tnav .loc em{
	max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    top:3px;
	position:relative
    }

/**********/
.tnav_wrap {
    float: left;
}

.tnav_wrap li {
    display: inline-block;
    height: 69px;
    line-height: 69px;
    text-align: center;
    float: left;
    padding: 0 15px;
    font-size: 18px;
}

.tnav_wrap li a {
    color: #333333;
    position: relative;
}

.tnav_wrap li a:hover {
    color: #f85659;
}

.tnav_wrap li a.on {
  font-weight: bold;
  color: #f85659;
}

.seo_nav{
    float: left;
    height: 69px;
    line-height: 86px;
    font-size: 22px;
    color: #999;
    margin-left: -116px;}

.hot-tag {
    display: inline-block;
    background-image: url(../img/hf/hot.gif);
    background-repeat: no-repeat;
    position: absolute;
    top: -14px;
    width: 30px;
    height: 17px;
    right: -7px;
}

.hot-tag.s {
    background-image: url(../img/hf/hficon.png);
    background-position:0 -232px;
}

.free-tag {
    display: inline-block;
    background-image: url(../img/hf/hficon.png);
    background-position:-55px -232px;
    background-repeat: no-repeat;
    position: absolute;
    top: -14px;
    width: 30px;
    height: 17px;
    right: -7px;
}


/**********/
.yc_login {
    float: right;
}

/*.yc_login li.none {
    border-right: 1px solid #f8f8f8;
}*/

.yc_unlogin > li, .yc_logined > li {
    height:34px;
    position: relative; 
    float: left; 
    z-index: 1000;
}
.yc_unlogin > li:hover, .yc_logined > li:hover{
    background: #f8f8f8;
    color:#e83838;
}
.yc_unlogin > li:hover .whitebar, .yc_logined > li:hover .whitebar,.yc_unlogin > li:hover ul,.yc_logined > li:hover ul{
    display: block;
}
.yc_unlogin > li:hover a, .yc_logined > li:hover a{
    color:#e83838;
}
.yc_logined > li:hover .job_pro_list a{
    color:#0168b7;
}
#user_info:hover .icon_person,#clogin:hover .icon_person{
    background-position: -10px -42px;
}
#clogin { right:-1px; }
#blogin:hover .icon_hr{background-position: -53px -42px;}
#user_info:hover .icon_down,#job_pro:hover .icon_down{
    background-position:-189px -201px;
}
#job_pro:hover .icon_info{
    background-position:-145px -42px;
}
#job_pro:hover .job_pro_num{
    color: #e83838;
}
#job_pro{position: relative;right: -1px;}
#myCv:hover .icon_text_white{
    background-position:-101px -42px;
}
#myCv{position: relative;right: -2px;}
.yc_unlogin > li:first-child a, .yc_logined > li:first-child a{
    border-left:none;
}
.yc_unlogin li .whitebar, .yc_logined li .whitebar {
    position: absolute;
    z-index: 10;
    left: 1px;
    right: 1px;
    height: 6px;
    bottom: -3px;
    background: #f8f8f8;
    display: none;
}

/*.yc_unlogin > li, .yc_logined > li {
    border-right: 1px solid #dddddd;
}*/

.yc_unlogin li > a, .yc_logined li > a {
    border-left:1px solid #f8f8f8;
    margin-top:8px;
    padding:0 15px;
    height:18px;
    line-height: 18px;
    display: inline-block;
}

.yc_unlogin li.active > a, .yc_logined li.active > a {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 2px solid #dddddd;
}

.yc_unlogin li.active.none, .yc_logined li.active.none {
    border-right: 1px solid #dddddd;
}
.yc_logined>li>a>span {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/***********/
.yc_login .pub_list {
    display: none;
    position: absolute;
    top: 34px;
    z-index: 9;
    line-height: 1em;
    width: 232px; height:auto;
    background: #f8f8f8;
    border: 2px solid #dddddd;
    overflow: hidden;
}
.yc_login .pro_list {
    display: none;
    position: absolute;
    top: 34px;
    z-index: 9;
    line-height: 1em;
    width: 232px; height:auto;
    background: #f8f8f8;
    font-size: 12px;
    border: 2px solid #dddddd;
    overflow: hidden;
}
.yc_login .pub_list li {
    position: relative;padding:0 5px; line-height: 32px;clear: both; float:none;
    border-bottom: 1px solid #e3e3e3; overflow: hidden;
}
.yc_login .pro_list li {
    position: relative;padding:0 5px; line-height: 32px;clear: both; float:none;
     overflow: hidden;
}
.yc_login .pub_list li:not(:first-child) {
    cursor:pointer;
}
.yc_login .pro_list li:not(:first-child) {
    cursor:pointer;
}
.yc_logined .job_pro_num{
    color:#fff45c;
}
.yc_login .job_pro_list {
    left: -1px;
}
.yc_login .user_info_list {
    right:-1px;
}
.yc_login .pub_list a {
    color: #0168b7;
    font-weight: normal;
}
.yc_login .pro_list a {
    color: #0168b7;
    font-weight: normal;
}
.yc_login .pub_list i {
    position: absolute;
    left: 12px;
    top: 10px;
    *top: 12px;
}
.yc_login .pro_list i {
    position: absolute;
    left: 12px;
    top: 20px;
}
.yc_login .pub_list p {
    padding: 0 0 0 28px;
    color:#666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yc_login .pro_list p {
    padding: 10px 5px 10px 31px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 47px;
    line-height: 22px;
    border-bottom: 1px solid #e3e3e3;
}
a.tr.more.allPro{
    float: right;
}
.job_pro_list li:hover{
    background: #fff;
}

.yc_login .pro_list em {
    float: left;
}
.yc_login .more {
    padding: 0 5px 8px 5px;
    display: block;
    float: right;
}
.yc_login .pub_list .none {
    border-bottom: none;
}
.yc_login .pro_list .none {
    border-bottom: none;
}
.yc_login .user_info_list a {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
}
.yc_login .user_info_list span{
    position: absolute;
    right: 15px;
    top: 0;
    padding: 0;
}
.yc_login .pub_list span{
  color: #0168b7;
  font-weight: normal;
}
.yc_login .pro_list span{
  color: #0168b7;
  font-weight: normal;
}
.yc_login .user_info_list li:hover {
    background: #ffffff;
}
.user_info_list img {
    float: left;
    width: 36px;
    height: 36px;
    margin:8px 10px 0 5px;
    overflow: hidden;
}
.yc_login .user_info_list.pub_list span.user_name {
    display: inline-block;
    height: 54px;
    line-height: 54px;
    cursor: pointer;
    position: static;
    color: #666;
}
.yc_login .user_info_list.pub_list a.quit{
    color: #666;
    height: 54px;
    line-height: 54px;
    margin-right: 11px;
}
.yc_login .user_info_list.pub_list a.quit:hover{
    color:#666;
}
.user_info_list .user_info_show{
    height: 54px;
    line-height: 54px;
    color: #666;
}
.user_info_list .user_info_show a {
    position: static;
    padding-left: 5px;
    line-height: 36px;

}
.user_info_list .user_info_show a:hover{
    color:#0168b7;
}

.header-comp-cv {position: absolute;width: 294px;border: 1px solid #ccc;font-size: 12px;text-align: center;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;color:#666;top:33px;background:#fff;}
.hc-ar {width: 17px;height: 8px;background-position: 0 -262px;position: absolute;top: -8px;left: 43px;}
.hc-close {cursor: pointer;margin-left: 5px;color:#a5a4a2;}
.hc-close:hover {color:#666;}
/*center begin*/
.main{width:1024px;margin:30px auto;position:relative}

/*foot begin*/
/**************************************/
.bread {
	margin-top: 20px;
	line-height: 26px;
	color: #999;
	margin: 0 auto;
    width: 1024px;
}
.bread a {
	color:#999;
}
#yc_seo {
    margin: 20px auto 30px;
    font-size: 14px;
}
#yc_seo a {
    color: #747474;
    white-space: nowrap;
}
#yc_seo a:hover {
    color: #f85659;
}
.seo_title {
    position: relative;
    color: #555555;
    margin: 0 0 10px 5px;
}
.seo_title h2 {
}
.seo_title .line {
    position: absolute;
    right: 0;
    left: 120px;
    top: 50%;
    height: 1px;
    background: #e5e5e5;
    overflow: hidden;
}
.seo_info {
    padding-left: 5px;
}
.seo_info li {
    float: left;
    padding: 5px 10px;
    width:149px;
    max-width:149px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hot_zp{
    padding:20px 0;
}
.hot_zp .hot_zp_tit{
    border-bottom:1px solid #cccccc;
}
.hot_zp .hot_zp_tit li{
    position: relative;
    float:left;
    height: 41px;
    font-size: 16px;
    color:#555555;
    border-left:1px solid #f8f8f8;
    border-right:1px solid #f8f8f8;
    border-top:1px solid #f8f8f8;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
#yc_seo .hot_zp_tit a{color:#555555;}
#yc_seo .seo_info  a{color:#666666;}
.hot_zp .hot_zp_tit li a{
    display: block;
    padding:10px 15px;
}
.hot_zp .hot_zp_tit li.active{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
}
.hot_zp .hot_zp_tit li.active .whitebar{
    display: block;
}
.hot_zp_tit .whitebar{
    position:absolute;
    width:100%;
    height: 4px;
    background: #f8f8f8;
    display:none;
}
.hto_zp_cont .seo_info{
    display: none;
    padding-top:5px;
}
.hto_zp_cont .seo_info.active{
    display: block;
}


/*************************************/
#yc_footer {
    padding: 50px 0 30px;
    background: #ffffff;
    color: #a9a9a9;
}

#yc_footer a {
    color: #999999;
    font-size: 12px;
}

#yc_footer a:hover {
    color: #747474;
}

.help_tel {
    float: left;
    width: 260px;
    text-align: center;
    font-size: 14px;
}

.help_tel p {
    padding: 4px 0;
    color: #888888;
    font-size: 15px;
}

.help_tel p.help_tel_num {
    font-size: 20px;
}

.help_list {
    float: left;
}

.help_list dl {
    float: left;
    width: 155px;
}

.help_list dt {
    font-size: 14px;
    color: #666666;
    padding: 7px 0;
}

.help_list dd {
    padding: 7px 0 7px 15px;
    margin-left: 5px;
    border-left: 1px solid #eeeeee;
    line-height: 1.2em;

}

.help_list dd:last-child {
    padding-bottom: 0;
}

.help_sao {
    float: left;
    margin-top: 5px;
    width:120px;
    height: 120px;
}

/******/
#yc_footer .copy {
    margin-top: 8px;
    text-align: center;
}

#yc_footer .copy p {
    padding: 10px 0;
    font-size: 12px;
}

#yc_footer .copy p img {
    margin: 0 3px;
}

/*文字超出打点*/
.cutWord {display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*搜索search*/
.search,.searchDummy{height:34px;line-height:34px;width:766px;border:2px solid #f85659;margin:3px 0 18px;background:#fff;z-index: 1000;}
.search .wp-input {width:100%;height: 100%;}
.search .wp-input h3{display: block;width: 80px;border-right: 2px solid #f85659;background: url(../img/index/index-icon.png) no-repeat 78px 0;font-size: 16px;float: left;cursor: pointer;text-align: center;padding: 0px 21px 0 9px;height: 34px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.search .wp-input .citySear{width:100%;vertical-align:baseline;background:none;border:none;}
.search .wp-input .noBac{background:none;font-size:14px;}
.search .wp-input .noBac input{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.search .wp-input .ser{width:538px;padding-left:10px;font-size:16px;color:#555;height:34px;line-height:34px;border:none;float:left;}
.search .wp-input .ser-btn{width:106px;color:#fff;background:#f85659;font-size:18px;display:block;text-align:center;letter-spacing:6px;float:left;border: 0;height: 34px;padding-left:12px;cursor:pointer;}
.search .wp-input .ser-btn:hover{background:#fa4144}


/*浮窗搜索search*/
.search.wrap{width:100%;height:56px;position:fixed;top:0;left:0;z-index:1000;background:#E6E6E6;filter:Alpha(opacity=90);background:rgba(230,230,230,.9);border: 0;margin:0;display: none;}
.search.wrap .wp-input {width:1024px; height: 40px;position: absolute; left:50%; top:8px; margin-left:-512px;z-index:1001;position:relative;}
.search.wrap .wp-input h3{width: 85px;height: 40px;overflow: hidden;line-height: 40px;margin-right: 1px;float: left;background: url(../img/index/index-icon.png) no-repeat 88px 5px #fff;font-size: 16px;border: 0;}
.search.wrap .wp-input .ser{border:none;width:800px;height:40px;background:#fff; float:left; font-size:16px;text-indent:1em;padding: 0;}
.search.wrap .wp-input .ser-btn{border:none;width:107px; height:40px; background:#f85659;line-height:40px;text-align:center; color:#fff; font-size: 18px;letter-spacing:6px;}
.search.wrap .wp-input .ser-btn:hover{background: #fa4144;}

/*联想词*/
.autoCompleteSearch {position: absolute;}
.autoCompleteSearch ul {border: 1px solid #e8e8e8;border-top: 0;}
.autoCompleteSearch li {background: #FFF;line-height: 40px;height: 40px;padding: 0 15px;}
.autoCompleteSearch li span {color:#f85659;}
.autoCompleteSearch li:hover {background: #e8e8e8;padding-left:20px;cursor: pointer;}
/*通用可定制提示框*/
.pop-info {position: fixed;top: 24%;z-index: 1002;width: 100%;transition: all 300ms ease;-webkit-transition: all 300ms ease;}
.pop-title {margin: 10px 0;padding: 0 10px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pop-title.tal-left {text-align: left;}
.pop-title .close{ float:right; cursor: pointer;}
.pop-title .close i.c-icon{ display: block; width:14px; height: 14px; background: url(../img/pop.png) no-repeat;position: absolute;top: 10px;right: 10px;}
.pop-title .close i.close-pop{ background-position: 0 0;}
.pop-info .pop-body {margin: 0 auto;background: rgba(227, 227, 227, 0.95);position: relative;width: 270px;text-align: center;font-size: 14px;font-weight: bold;border-radius: 5px;-webkit-border-radius: 5px;overflow: hidden;}
.pop-info .pop-cont {text-align: center;padding: 0 10px;letter-spacing: 2px;min-height: 40px;max-height: 140px;margin: 5px 0;overflow-y: auto;word-wrap: break-word;word-break: break-all;}
.pop-info .pop-btn {border-top: 1px solid #CDCDCD;height: 40px;line-height: 40px;color: #007aff;}
.pop-info .pop-btn div {display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border-left: 1px solid #CDCDCD;float: left;margin-left: -1px;cursor:pointer;}
.pop-info .pop-btn div:first-child {border:0;}

.pop-info.roseSkin {width:400px;position: fixed;top: 24%; left:50%; margin-left:-200px;z-index: 1002;transition: all 300ms ease;-webkit-transition: all 300ms ease; border:7px solid #4a4a4a;overflow: hidden; }
.pop-info.roseSkin .pop-title { height:40px; line-height: 40px; padding:0 10px 0 20px; background:#f85659; font-size:18px; color:#fff; font-weight:bold;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0;}

.pop-info.roseSkin .pop-title .close{ float:right; cursor: pointer;}
.pop-info.roseSkin .pop-title .close i.c-icon{ display: block; width:14px; height: 14px; background: url(../img/pop.png) no-repeat; margin-top: 18px;}
.pop-info.roseSkin .pop-title .close i.close-pop{ background-position: 0 -20px;margin: 0;}
.pop-info.roseSkin .pop-body {margin: 0 auto;background:#fff;position: relative;width:100%;text-align: center;font-size: 16px;font-weight: bold; color:#777;overflow: hidden;border-radius: 0;-webkit-border-radius:0;}
.pop-info.roseSkin .pop-body a {color:#0168b7;}
.pop-info.roseSkin .pop-body a:hover {text-decoration: underline;}
.pop-info.roseSkin .pop-cont {text-align: center;padding: 0 10px;min-height: initial;max-height: none;margin: 20px 0;overflow-y: auto;word-wrap: break-word;word-break: break-all;}
.pop-info.roseSkin .pop-btn{ width:100%; height: 32px; text-align: center; padding-bottom: 27px; overflow: hidden;border: 0;}
.pop-info.roseSkin .pop-btn div { height: 30px; line-height: 30px; border:1px solid #aaa; padding:0 20px; font-size: 16px; color:#999; font-weight: bold; background: #fff;float: none;display: inline-block; border-radius: 2px; margin:0 10px; cursor: pointer;ransition: all 300ms ease;-webkit-transition: all 300ms ease;}

.pop-info .pop-btn div.cancle{border-color: #aaa;background: #fff;color: #999;}
.pop-info .pop-btn div.set{border-color: #f85659;background: #f85659;color: #fff;}
.pop-info .pop-btn div.set:hover {background: #FFF;color: #f85659!important;}
.pop-info .pop-btn div.cancle:hover {background: #999;color: #FFF!important;}

/*通用可定制定时弹出框*/
.pop-mid {width:340px;position: fixed;top:50%;left: 50%;margin-left:-190px; margin-top:-100px;background:black; filter: alpha(opacity=75); opacity: 0.75; border-radius: 5px;-webkit-border-radius: 5px;z-index: 1003;color: #FFF;text-align: center;padding: 20px;font-size: 16px;transition: all 300ms ease;-webkit-transition: all 300ms ease; line-height: 32px;}
.pop-mid .mid-icon {border: 1px solid #FFF;border-radius: 50%;-webkit-border-radius: 50%;display: inline-block;margin-right: 5px;vertical-align: text-bottom;}
.pop-mid i.loading{ display: block; width:32px; height: 32px; background: url(../img/loading.gif) no-repeat; margin:0 auto;}
.pop-mid i.mid-icon{ display: inline-block; width:15px; height: 15px; background: url(../img/pop-mid.png) no-repeat; vertical-align: middle; margin-right: 8px;}
.pop-mid i.mid-icon.icon-right{ background-position: 0 -25px;}
.pop-mid i.mid-icon.icon-warning{ background-position: 0 0;}

/*通用可定制弹出输入框*/
.pop-edit {position: fixed;top: 24%;z-index: 1002;width: 100%;opacity: 0;transition: all 300ms ease;-webkit-transition: all 300ms ease;}
.pop-edit.on {top: 20%;opacity: 1;}
.pop-e-body {width: 260px;margin: 0 auto;background: #FFF;border-radius: 3px;-webkit-border-radius: 3px;}
.pop-e-t {text-align: center;font-size: 1rem;padding: 10px 0;color: #333333;border-bottom: 1px solid #EEEEEE;}
.pop-e-t span {font-size: .8rem;color: #AAAAAA;}
.pop-e-cont {border-bottom: 1px solid #EEEEEE;}
.pop-e-cont textarea {border: 0;width: 240px;height: 80px;outline: 0;padding: 5px 10px;font-size: 1rem;color:#838383;resize:none;}
.pop-e-btn {display: -webkit-box;}
.pop-e-btn div {text-align: center;padding: 10px 0;cursor: pointer;position: relative;font-size: 1rem;margin-left: -1px;}
.pop-e-btn div:before {border-left: 1px solid #BABABA;content: " ";height: 1rem;position: absolute;left: 0;padding: 10px 0;margin-top: -8px;}
.pop-e-btn div:first-child:before {border:0;}

.pop-edit.rose {position: fixed;top: 24%;z-index: 1002;width: 100%;opacity: 0;transition: all 300ms ease;-webkit-transition: all 300ms ease;}
.pop-edit.rose.on {top: 20%;opacity: 1;}
.pop-edit.rose .pop-e-bg {width: 524px;margin: 0 auto;padding:10px 0;background: #000;filter:alpha(opacity=40);opacity: 0.4;position: absolute;height: 100%;left: -10px;top: -10px;z-index: 1;}
.pop-edit.rose .pop-e-body {width: 504px;margin: 0 auto;background: #FFF;border-radius: 0;-webkit-border-radius: 0;position: relative;z-index: 2;}
.pop-edit.rose .pop-e-t {text-align: left;font-size: 1rem;padding: 10px 30px;background-color: #F85659;color: #FFF;z-index: 2;position: relative;}
.pop-edit.rose .pop-e-t span {font-size: .8rem;color: #FFF;}
.pop-edit.rose .pop-e-cont {border-bottom: 0;z-index: 2;position: relative;background-color: #FFF;padding: 35px 0;}
.pop-edit.rose .pop-e-cont textarea {border: 0;width: 362px;height: 43px;margin: 0 auto;outline: 0;padding: 0 10px;font-size: 16px;line-height: 43px;color: #555;resize: none;background-color: #F5F5F5;}
.pop-edit.rose .pop-e-btn {display: -webkit-box;z-index: 2;position: relative;background-color: #FFF;padding-bottom: 30px;}
.pop-edit.rose .pop-e-btn div {text-align: center;cursor: pointer;position: relative;width: 79px!important;height: 35px;padding: 0;border: 0;font-size: 16px;margin: 0;line-height: 35px;}
.pop-edit.rose .pop-e-btn div:before {border-left: 0px solid #BABABA;content: " ";height: 0rem;position: absolute;left: 0;padding: 0;margin-top: 0;}
.pop-edit.rose .pop-e-btn div:first-child:before {border:0;}
.pop-edit.rose .pop-e-btn .btn0 {background: #FFF;color: #999!important;border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #999;    margin-left: 150px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;}
.pop-edit.rose .pop-e-btn .btn1 {background: #F85659;color: #FFF!important;border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #F85659;margin-left: 25px;transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;}
.pop-edit.rose .pop-e-btn .btn0:hover {background: #999;color: #FFF!important;}
.pop-edit.rose .pop-e-btn .btn1:hover {background: #FFF;color: #F85659!important;}

.seo-search-head {padding: 40px 127px 0;}

.ac-mark-l {position: absolute;top: -5px;left: -4px;background: url(../img/ac-mark-l.png) no-repeat;background-size: 100%;width:60px;height: 66px;}
.ac-mark-r {position: absolute;top: 0;right: 0;background: url(../img/ac-mark-r.png) no-repeat;background-size: 100%;width:60px;height: 66px;}

.top-bs-banner {width:100%;height: 60px;position: relative;/*background-image: url(../img/list-top-banner.jpg);*/background-repeat:none;background-position: center;}
.top-bs-banner .pic {height: 60px;margin: 0 auto;position: relative;display: block;background-position: center;}

/*用户反馈*/
.feedBack {position: fixed;left: 50%;margin-left: 537px;bottom: 5px;background: #BEBEBE;width: 40px;height: 40px;color: #FFF;z-index: 4;text-align: center;line-height: 40px;border-radius: 50%;-webkit-border-radius: 50%;cursor: pointer;}
.feedBack:hover {background: #8F8F8F;}
.feedBackDom {display:none;width: 624px;background-color: #fff;position: fixed;left: 50%;top: 50%;margin: -196px 0 0 -328px;z-index: 1001;border: 9px solid #616161;font-size: 16px;}
.fb-title {background-color: #f85659;color: #FFF;line-height: 40px;padding-left: 30px;}
.fb-close {position: absolute;right: 5px;top: 5px;font-size: 20px;cursor: pointer;width: 20px;height: 20px;line-height: 20px;text-align: center;color: #FFF;}
.fb-cont {text-align: center;}
.fb-cont textarea {resize: none;width: 74%;height: 170px;border: 0;padding: 10px 2% 0 2%;background-color: #f5f5f5;margin: 0 auto;margin-top: 24px;}
.fb-uname {padding-top: 5px;height: 38px;line-height: 38px;}
.fb-contact {height: 38px;line-height: 38px;padding: 0 11%;margin-top: 10px;}
.fb-uname input {margin-left: 20px;height: 26px;border: 0;border-bottom: 1px solid #989898;width:200px;}
.fb-contact input {line-height: 42px;height: 42px;border: 0;background-color: #f5f5f5;width: 343px;padding: 0 15px;}
.fb-btn {width: 98px;height: 38px;line-height: 40px;background-color: #F85659;border: 1px solid #F85659;text-align: center;color: #FFF;cursor: pointer;float: right;}
.fb-btn:hover {background: #FFF;border:1px solid #F85659;color:#F85659;}

.findTreasure{
    background: url(../img/findTreasure.png) no-repeat;
    display: inline-block;
    width: 65px;
    height: 31px;
    background-size: cover;
}
.TreasureMask{
   display: none;
   width: 100%;
   height: 100%;
   background: rgba(147,151,162,0.6);        
   z-index: 9999;
   position: fixed;
   top: 0;
   left: 0;
}

.TreasureMaskBg{
    width: 100%;
    height: 100%;

     background-size: contain;
     margin: auto;

}
.TreasureMaskBg img{display:block;width:100%;height:100%}
.TreasureMaskClose{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/findTreasureClose.png) no-repeat;
	background-size:cover;
    position: absolute;
    top:20%;
    left: 50%;
    margin-left: 280px;
    margin-top:10px;
    z-index: 10000;
    cursor: pointer;
}
.fb-notice {margin-top: 15px;padding: 0 11%;color: #999;font-size: 12px;text-align: right;line-height: 40px;}

/*app引流模拟对话*/
.appdialog {height: auto;width:275px;border-radius: 10px;-webkit-border-radius: 10px;overflow: hidden;font-family: PingFangSC-Light;position: fixed;left: 50%;margin-left: 250px;bottom: 55px;box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);display: none;z-index: 99;}
.appdialog .ad-qhead {height: 147px;
  background:-moz-linear-gradient(-200deg, #FF5A5A 0%,#FFE7A1 100%);
  background:-webkit-linear-gradient(-200deg, #FF5A5A 0%,#FFE7A1 100%);
  background:-o-linear-gradient(-200deg, #FF5A5A 0%,#FFE7A1 100%);
  box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.04);position: relative;}
.appdialog .adclose {position: absolute;top: 12px;right: 14px;color: #FFF;cursor: pointer;height: 14px;width: 14px;background:url(../img/close-m.png) no-repeat;}
.appdialog .adbody {height: auto;background: #F1F0F0;position: relative;padding-bottom: 20px;}
.appdialog .adboss {position: relative;top: 22px;text-align: center;}
.appdialog .adboss img {width: 52px;height: 53px;border-radius: 50%;-webkit-border-radius: 50%;box-shadow: 0px 0px 8px 0px rgba(110,60,58,0.6)}
.appdialog .adbossinfo {position: relative;top: 32px;color: #FFF;font-size: 14px;padding: 0 10px;text-align: center;line-height: 24px;}
.appdialog .adname {font-size: 16px;font-weight: bold;}
.appdialog .admsgbody {}
.appdialog .admsgtime {font-size: 12px;color: #B3B3B3;text-align: center;padding: 10px 0;}
.appdialog .admsg {background: #FFF;padding: 10px 12px;font-size: 14px;line-height: 22px;color: #555;margin-bottom: 21px;margin-left: 13px;max-width: 70%;display: table;border-radius: 5px;-webkit-border-radius: 5px;box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);position: relative;}
.appdialog .admsg::after {border: 10px solid transparent;border-bottom: 8px solid #FFF;content: ' ';position: absolute;left: -5px;bottom: 0;}
.appdialog .addownload {background: #FF5A5A;box-shadow: 0px 7px 10px 0px rgba(222,55,55,0.30);border-radius: 5px;font-size: 16px;color: #FFFFFF;line-height: 40px;text-align: center;width: 90%;margin: 10px auto;cursor:pointer;font-weight: bold;}
.adtalkto {background: url(../img/talkto.png) no-repeat;width: 41px;height: 41px;position: fixed;left: 50%;margin-left: 537px;bottom: 55px;background-color: #BEBEBE;border-radius: 50%;-webkit-border-radius: 50%;cursor: pointer;background-position: center center;-webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;}

@-webkit-keyframes breathe {
  0%   {box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);}
  50%  {box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.3);}
  100% {box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);}
}

@keyframes breathe {
  0%   {-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);}
  50%  {-webkit-box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.3);}
  100% {-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);}
}

.appdialogqr {position: fixed;top: 20%;left: 50%;background: #fff;border: 8px solid #555;z-index: 1101;margin-left: -180px;}
.adqr_body {width: 345px;}
.adqr_main {}
.adqr_title {background: #F85659;color: #FFF;padding: 8px 15px;font-size: 16px;}
.adqr_cont {background: #FFFFFF;padding: 5px 0;}
.adqr-cont {width: 280px;margin: 0 auto;text-align: left;padding: 13px 2px 0 2px;}
.adqr-head {float: left;height: 52px;width: 52px;overflow: hidden;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-o-border-radius: 50%;}
.adqr-head img {height: 52px;width: 52px;}
.adqr-body {margin-left: 65px;color: #666;line-height: 30px;text-align: left;}
.adqr-name {font-size: 16px;font-weight: bold;}
.adqr-qr {margin: 10px 0;text-align: center;}
.adqr-qr img {width: 120px;height: 120px;}
.adqr_closeBtn {position: absolute;top:10px;right: 10px;cursor:pointer;height: 14px;width: 14px;background:url(../img/close-m.png) no-repeat;}
.adqr-gy {color:#999;font-size:14px;}
.adqr-diog {color: #999;width: 210px;height: 32px;border: 1px solid #e7e7e7;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;line-height: 32px;text-align: center;margin: 15px 0 5px 32px;box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.1);position: relative;}
.adqr-diog i {border: 10px solid transparent;border-top: 10px solid #FFF;position: absolute;bottom: -16px;left: 16px;}
.adqr_mask{position: fixed;left:0;top:0;width:100%;height: 100%;background: #000;opacity: 0.6;filter:alpha(opacity=60);z-index: 1100;}
.adqr_mask{position: fixed;left:0;top:0;width:100%;height: 100%;background: #000;opacity: 0.6;filter:alpha(opacity=60);z-index: 1100;}
.adqr_mask{position: fixed;left:0;top:0;width:100%;height: 100%;background: #000;opacity: 0.6;filter:alpha(opacity=60);z-index: 1100;}
.hot-tag {
    display: inline-block;
    background-image: url(../img/hf/hficon.png);
    background-position: 0px -232px;
    background-repeat: no-repeat;
    position: absolute;
    /*top: -14px;*/
    width: 30px;
    height: 17px;
    right: -7px;
}

