/* CSS reset. Based on HTML5 boilerplate reset http://html5boilerplate.com/  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 14px; line-height: 1.4; }
body, button, input, select, textarea { font-family:sans-serif; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 2em; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; }
svg:not(:root) { overflow:hidden;}
figure { margin:0; }
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
legend { border:0; *margin-left:-7px; padding:0; }
label { cursor:pointer; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
/* End CSS reset */

/* CSS Document */
html {
  overflow-x:hidden;
}

body {
  font-size:16px;
  font-family: Verdana, Geneva, sans-serif;
  color: #58585A;
  line-height: 24px;
}

a { color: #026ca7; }
a:hover { color: #006D93; }
a:visited { color: #006D93; }

a.button {
    margin: 5% auto;
    width: 30%;
	border: 1px solid #bbb;
	text-align: center; 
	text-decoration: none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#ccc;
	color:#666;
	font-size:18px;
	font-family: 'Oswald', Verdana, Geneva, sans-serif;
	padding:8px 25px;
	display:block;
}

ul li, ol li {
  padding:0 0 0.4em 0;
}

.container {
  max-width: 100%;
  margin: auto;
  margin: 60px 0px 30px 0px;
  min-height: 600px;
}

.header {
  margin: auto;
  position: relative;
  min-height: 40px;
  max-width: 940px;
}

.header:before {
  content:"";
  height:100%;
  width:6000px;
  position:absolute;
  left:-2000px;
  background:#ccc;
}

.logo {
  margin:auto;
  position:relative;
  max-width:940px;
  height:60px;
  display:block;
}

.content {
  margin:auto;
  padding: 2% 2% 2% 2%;
  position:relative;
  max-width:940px;
}

.footer {
	margin:auto;
	max-width:940px;
	padding:1em 2% 1em 2%;
	background:#fff;
	border-top:1px solid #999;
}

.footer .copyright {
	float: right;
}

/* Menu */
.menu_main {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	position:relative;
	top:.5em;
	width:100%;
	display:inline-block;
}

.menu_main ul {
	margin:0;
}

.menu_main li {
  text-align: center;
  display:inline-block;
  padding:2px 2.5% 2px 0%;
  margin-right: 2.2%;
}

.menu_main li a {
	color:#666;
}

.menu_main li a,
.menu_main li a:visited {
  text-decoration:none;
}
.menu_main li a:hover,
.menu_main li a:visited:hover {
  color:#fff;
}

.menu_main li.active,
.menu_main li.active a {
  color:#fff;
  text-decoration:none;
  cursor:default;
}

.rightline {
	border-right:1px solid #aaa;
}

/* End menu */

/* Helper classes */
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}

.img_floatleft {float:left; margin:0 10px 5px 0;}
.img_floatright {float:right; margin:0 0 5px 10px;}

.img {max-width:100%;}
/* End helper classes */

p, h3 {
	margin:0;
}

p {
	padding:0 0 20px 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  font-size:32px;
  color:#006D93;
}

h2 {
  color:#666;
  font-weight:lighter;
  font-size:24px;
}

h3, h4, h5, h6 {
  font-size:16px;
  font-weight:bold;
  color:#999;
}

