@media screen and (max-width: 1200px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 96%;
	}
	 		
}

/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* ensure menu is visible on desktop version */
@media screen and (min-width: 1001px) {
	#main-nav {
		display: block !important;
	}
	#menu-icon span {
		display: none;
	}
	.loops-wrapper.team.grid3 .post-title {
/*		text-overflow: ellipsis; */
		overflow: hidden;
		width: 100%;
/*		white-space: nowrap; */
		color: #fff;
	}
}

/* change max-width to trigger mobile menu (#headerwrap added to override Themify Styling output css) */
@media screen and (max-width: 1000px) {

	/************************************************************************************
	HEADER
	*************************************************************************************/
	#headerwrap #header {
		height: auto;
		padding: 10px 0 5px;
	}

	/* reset absolute elements to static */
	#headerwrap #site-logo {
		position: static;
		float: none;
		clear: both;
	}
	
	/* site logo */
	#headerwrap #site-logo {
		font-size: 30px;
		margin: 0 0 10px;
		padding: 0;
	}

	/* header widget */
	#headerwrap .header-widget {
		position: static;
		float: none;
		text-align: left;
		clear: both;
		margin: 0;
	}
	#headerwrap .header-widget .widget {
		margin: 0 0 10px;
	}
	#headerwrap.fixed-header .logo-wrap {
		margin-top: 5px;
	}
	
	/* menu icon */
	#headerwrap #menu-icon {
		position: absolute;
		display: block;
		top: 17px;
		right: 10px;
		text-decoration: none;
		color: #000;
		font-size: 1.2em;
	}
	.transparent-header #headerwrap #menu-icon {
		color: #fff;
	}
	
	/************************************************************************************
	MENU PANEL
	*************************************************************************************/
	/* slide menu panel */
	#headerwrap #sidr {
		display: none; /* toggle with js */
		width: 250px;
		height: 100%;
		padding: 55px 20px 30px;
		position: fixed;
		top: 0;
		left: auto;
		right: -250px;
		z-index: 9999;
		overflow: auto;
		background: #f7f7f7;
		color: #666;
		border-left: solid 1px #999;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#headerwrap #sidr a {
		color: #000;
		text-decoration: none;
	}

	/* slide menu close */
	#headerwrap #menu-icon-close {
		position: absolute;
		display: block;
		color: #666;
		text-decoration: none;
		top: 10px;
		right: 20px;
		font-size: 24px;
	}
	#headerwrap #menu-icon-close:after {
		content: "\f00d";
		font-family: FontAwesome;
	}
	#headerwrap #menu-icon-close:hover {
		color: #000;
	}

	/* main nav */
	#headerwrap #main-nav {
		position: static;
		padding: 0;
		margin: 15px 0;
		background: none;
		text-align: left;
		float: none;
		clear: both;
	}
	#headerwrap #main-nav li {
		float: none;
		display: block;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		clear: both;
	}

	/* sub level */
	#headerwrap #main-nav ul {
		position: static;
		display: block;
		margin: 0;
		border: none;
		padding: 0 0 0 1em;
		background: none;
		visibility: visible;
	}
	#main-nav ul:after,
	#main-nav ul:before {
		display: none;
	}
	#main-nav > li.current_page_item > a:after {
		display: none;
	}
	#headerwrap #main-nav ul ul {
		padding-left: 25px;
	}
	#headerwrap #main-nav ul li {
		border: none;
	}
	
	/* menu link */
	#headerwrap #main-nav a, 
	#headerwrap #main-nav ul a {
		width: auto;
		display: block;
		border: none;
		padding: .6em 0;
		margin: 0;
		color: #666;
		font-size: 100%;
		font-weight: normal;
		line-height: 1.5em;
		background: none;
		text-decoration: none;
		border-bottom: solid 1px #eee;
		text-align: left;
	}
	#headerwrap #main-nav > li:last-child a {
		border: none;
	}
	
	/* sub level menu link */
	#headerwrap #main-nav ul a {
		font-weight: normal;
		font-size: .95em;
	}
	
	/* menu hover */
	#header #main-nav a:hover,
	#header #main-nav ul a:hover {
		color: #000;
	}

	/* sub-menu icon */
	#headerwrap #main-nav .menu-item-has-children > a:after,
	#headerwrap #main-nav ul .menu-item-has-children > a:after {
	    display: none;
	}

	/* current link */
	#headerwrap #main-nav .current_page_item > a, 
	#headerwrap #main-nav .current-menu-item > a {
		color: #000;
	}
	#headerwrap #main-nav > li.current_page_item > a:before {
		display: none;
	}
	#main-nav .sub-arrow {
		display: none;
	}

	/* 
	SEARCH FORM
	================================================ */
	#headerwrap #searchform-wrap {
		position: static;
		width: auto;
		height: auto;
	}
	#headerwrap #searchform {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		float: none;
		clear: both;
		margin: 0 0 1em;
		padding: 0;
		width: auto;
	}
	#headerwrap #searchform #s  {
		width: 100%;
		float: none;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		background: #fff;
		border: solid 1px #666;
	}
	#headerwrap #searchform #s:focus,
	#headerwrap #searchform #s:hover,
	#headerwrap #searchform .icon-search:hover + #s {
		width: 100%;
		background: #fff;
		color: #000;
	}

	#headerwrap #searchform .icon-search:before {
		padding: 0;
		right: 10px;
		top: 4px;
		color: #000;
	}

	/* 
	SOCIAL LINKS
	================================================ */
	#headerwrap .social-widget {
		margin: 0 0 1em;
		position: static;
		float: none;
	}
	#headerwrap .social-widget .widgettitle {
		display: block;
		margin: 0 0 .4em;
	}
	.logo-wrap {
		float: left;
	}
	div.logo-wrap:hover #site-description {
		top: 55px;
	}
	.logo-wrap {
		margin-top: 5px;
	}

	#headerwrap {
		height: 60px;
	}
	.has-fixed-header #pagewrap {
		padding-top: 80px;
	}
	.loops-wrapper.team.grid3 .post-title {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		color: #fff;
	}
	.sidebar-none.full_width .col-full .module-text .loops-wrapper.list-post.team .team-content-wrap h2 {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
	}

	.loops-wrapper.grid4.team .team-content-wrap .team-title-wrapper {
		top: 68%;
	}
	
	.loops-wrapper.portfolio.grid4 .post .entry-content {
		display: none;
	}
	
}

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	#pagewrap {
		padding-top: 105px;
	}
	.loops-wrapper.grid2.team .team-content-wrap  .team-title-wrapper {
		top: 74%;
	}
	.loops-wrapper.team.grid3 .team-content-wrap .team-title-wrapper {
		top: 60%;
	}
	.loops-wrapper.grid3.team .team-content-wrap:hover .team-title {
		margin-top: 5px;
	}

	.loops-wrapper.grid4.team .team-content-wrap .team-title-wrapper {
		top: 74%;
		padding: 4% 5%;
	}

	/* grid4 items when displaying 2 testimonial in one row */
	.loops-wrapper.testimonial.grid4 .post .post-image img {
		width: 72px;
		height: 72px;
	}
	/* grid4 items portfolio to display 2 items per row */
	.loops-wrapper.portfolio.grid4 .post {
		width: 50%;
	}
	.loops-wrapper.portfolio.grid4 .post .entry-content {
		display: block;
	}
	.loops-wrapper.portfolio.grid4 .post-title {
		font-size: 1.9em;
	}
	
}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.full_width .themify_builder_row .row_inner {
		max-width: 90%;
	}
	#content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	.loops-wrapper.grid3 .post-title {
		padding: 0;
		clear: left;
	}
	.loops-wrapper.team.grid2 .team-content-wrap .team-title-wrapper {
		top: 70%;
	}

	.loops-wrapper.team.grid3 .team-content-wrap .team-title-wrapper {
		top: 60%;
	}
	.loops-wrapper.team.grid3 .team-social {
		bottom: -10px;
	}
	.loops-wrapper.team.grid3 .team-social i {
		font-size: 1.401em;
		margin-right: 0.295em;
	}
	.loops-wrapper.grid4.team .team-content-wrap  .team-title-wrapper {
		top: 73%;
	}
	.loops-wrapper.list-post.team .team-title-wrapper {
		top: 76%;
	}

	.loops-wrapper.portfolio.grid3 .post .entry-content {
		display: none;
	}

}

@media screen and (max-width: 600px) {
	
	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post {
		width: auto;
		margin-left: 0;
		float: none;
	}

	/* all post title */
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 1.4em;
	}

	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		margin: 0 0 1em;
		overflow: visible;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	
	#commentform label {
		display: block;
	}
	.featured-area {
		height: 475px;
	}
	.loops-wrapper.grid2.team .post-title,
	.loops-wrapper.grid3.team .post-title,
	.loops-wrapper.grid4.team .post-title {
		font-size: 1.8em;
	}
	.loops-wrapper.team.grid2 .team-content-wrap .team-title-wrapper,
	.loops-wrapper.team.grid3 .team-content-wrap .team-title-wrapper,
	.loops-wrapper.team.grid4 .team-content-wrap .team-title-wrapper {
		top: 77%;
		padding: 4% 5%;
	}
	.loops-wrapper.team.grid3 .team-social {
		bottom: 0;
		left: auto;
	}
	.loops-wrapper.team.grid4 .team-social {
		bottom: 0;
		left: auto;
	}
	.loops-wrapper.team.grid3 .team-social i,
	.loops-wrapper.team.grid4 .team-social i {
		font-size: 2.001em;
		margin-right: 0.350em;
	}
	.loops-wrapper.list-post.team .post-image {
		width: auto;
		float: none;
	}
	.loops-wrapper.list-post.team .post-content,
	.loops-wrapper.list-post.team .progress-bar-wrap	{
		width: auto;
		padding-left: 0;
		float: none;
	}
	.single-team .post-image {
		width: auto;
		float: none;
	}
	.single-team .post-content,
	.single-team .progress-bar-wrap {
		width: auto;
		padding-left: 0;
		float: none;
	}
	.loops-wrapper.grid3.team .team-content-wrap:hover .team-title {
		margin-top: 20px;
	}
	/* testimonial items when mobile testimonial author img size */
	.testimonial .post-image img {
		width: 72px;
		height: 72px;
	}
	.loops-wrapper.portfolio.grid4 .post,
	.loops-wrapper.portfolio.grid3 .post,
	.loops-wrapper.portfolio.grid2 .post {
		float: left;
	}
	.loops-wrapper.portfolio.grid3 .post-title {
		font-size: 1.3em;
	}
	.loops-wrapper.portfolio .post-meta {
		font-size: .675em;
	}
	.loops-wrapper.portfolio.grid2 .post-title,
	.loops-wrapper.portfolio.grid4 .post-title {
		font-size: 1.5em;
	}
	.loops-wrapper.portfolio.grid2 .entry-content {
		display: none;
	}

	.loops-wrapper.list-post.team .team-content-wrap {
		width: auto;
		float: none;
	}
	.loops-wrapper.list-post.team .team-title-wrapper {
		top: 85%;
	}
	
	/* portfolio post */
	.loops-wrapper.portfolio .post-image {
		margin-bottom: 0 !important;
	}
	.loops-wrapper.portfolio .post {
		margin-bottom: 0 !important;
	}

	/* WOOCOMMERCE */
	.woocommerce table.cart,
	.woocommerce-page table.cart {
		font-size: .8em;
	}
	.woocommerce table.cart .porduct-price,
	.woocommerce-page table.cart .product-price {
		display: none;
	}
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width:48%;
		float:left;
		clear:both;
		margin:0 0 2.992em
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float:right;
		clear:none!important
	}
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.images,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.images,
	.woocommerce-page div.product div.summary {
		float:none;
		width:100%
	}
	
	/* cart */
	.woocommerce #content table.cart .product-thumbnail,.woocommerce table.cart .product-thumbnail,.woocommerce-page #content table.cart .product-thumbnail,.woocommerce-page table.cart .product-thumbnail {
		display:none
	}
	.woocommerce #content table.cart td.actions,.woocommerce table.cart td.actions,.woocommerce-page #content table.cart td.actions,.woocommerce-page table.cart td.actions {
		text-align:left
	}
	.woocommerce #content table.cart td.actions .coupon,.woocommerce table.cart td.actions .coupon,.woocommerce-page #content table.cart td.actions .coupon,.woocommerce-page table.cart td.actions .coupon {
		float:none;
		*zoom:1;
		padding-bottom:.5em
	}
	.woocommerce #content table.cart td.actions .coupon:after,.woocommerce #content table.cart td.actions .coupon:before,.woocommerce table.cart td.actions .coupon:after,.woocommerce table.cart td.actions .coupon:before,.woocommerce-page #content table.cart td.actions .coupon:after,.woocommerce-page #content table.cart td.actions .coupon:before,.woocommerce-page table.cart td.actions .coupon:after,.woocommerce-page table.cart td.actions .coupon:before {
		content:" ";
		display:table
	}
	.woocommerce #content table.cart td.actions .coupon:after,.woocommerce table.cart td.actions .coupon:after,.woocommerce-page #content table.cart td.actions .coupon:after,.woocommerce-page table.cart td.actions .coupon:after {
		clear:both
	}
	.woocommerce .cart-collaterals .cart_totals,.woocommerce .cart-collaterals .cross-sells,.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align:left
	}

	
}

@media screen and (max-width: 480px) {

	/************************************************************************************
	HEADING
	*************************************************************************************/
	h1 {
		font-size: 2.6em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	.has-fixed-header #pagewrap {
		padding-top: 60px;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	.single .post-nav {
		padding-left: 0;
	}
	
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
		position: static;
	}
	
	#footer-logo {
		position: static;
	}
	.commentwrap {
		padding-left: 0;
	}
	#commentform label, #contactform label {
		display: block;
	}
	
	/* single post and list-post post Start */
	.loops-wrapper.list-post .post,
	.single-post .list-post .post {
		padding-left: 0;
	}
	.list-post .post .post-date-wrap,
	.single .post .post-date-wrap {
		position: static;
		float: left;
		margin-right: 15px;
	}
	.list-post .post-title,
	.single .post .post-title {
		font-size: 2.5em;
		line-height: 1.4em;
		padding-left: 124px;
	}
	.list-post .post-meta,
	.single .post .post-meta {
		padding-left: 124px;
	}
	/* single post and list-post post End */
	
	/* #site-logo Start */
	#headerwrap #site-logo {
		font-size: 25px;
	}
	/* #site-logo End */
	
	/* site description */
	#headerwrap #site-description {
		display:none;
	}

	.transparent-header .list-post .post-title,
	.transparent-header .single .post .post-title,
	.transparent-header.list-post .post-meta,
	.transparent-header.single .post .post-meta {
		padding-left: 0;
	}
	.list-post .post-title,
	.single .post .post-title,
	.list-post .post-meta,
	.single .post .post-meta {
		padding-left: 0;
	}
	.featured-area {
		height: 375px;
	}
	.loops-wrapper.list-post .post .post-image,
	.loops-wrapper.list-post .post .post-content {
		padding-left: 0;
	}
	.loops-wrapper.list-post .post-meta,
	.loops-wrapper.list-post .post-title {
		padding-left: 124px;
	}
	.loops-wrapper.list-post.team .post-meta,
	.loops-wrapper.list-post.team .post-title {
		padding-left: 0;
	}
	
	.loops-wrapper.grid2.team .team-content-wrap  .team-title-wrapper {
		top: 70%;
	}
	.loops-wrapper.team.grid3 .team-content-wrap .team-title-wrapper {
		top: 70%;
	}
	.loops-wrapper.grid4.team .team-content-wrap .team-title-wrapper {
		top: 70%;
	}
	.loops-wrapper.list-post.team .team-title-wrapper {
		top: 81%;
	}

	/* Archive Portfolio, set all posts to same width */
	.loops-wrapper.portfolio .post {
		width: 100% !important;
	}
	
	.loops-wrapper.portfolio .post-meta {
		font-size: .875em;
	}
	.loops-wrapper.portfolio.grid2 .post-title ,
	.loops-wrapper.portfolio.grid3 .post-title,
	.loops-wrapper.portfolio.grid4 .post-title {
		font-size: 1.9em;
	}
	.loops-wrapper.portfolio.grid2 .entry-content {
		display: block;
	}
	.loops-wrapper.portfolio.grid3 .post .entry-content {
		display: block;
	}
	.sidebar-none.full_width .col-full .loops-wrapper.grid4 .post-title {
		font-size: 1.9em;
	}
	
}