@charset "utf-8";
/* CSS Document */

/* 全局CSS 定义 */
body{margin:0px;padding:0px;background:#FFF;color:#535353;font:normal 12px SimSun}
div,form,ul,ol,li,span,p,dl,dt,dd,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,input{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
em{font-style:normal}
table,textarea{font-size:12px}
a{color:#535353;text-decoration:none;outline:none;}
a:hover{color:#9e0000;text-decoration:underline;}
.area{overflow:hidden;clear:both;zoom:1}
/* 栏目标题 */
.columnTit{text-align:right;line-height:30px;}
.columnTit span{float:left;}
/* 常见颜色 */
.coloRed1,.coloRed1-a a{color:red;}
.coloRed2,.coloRed2-a a{color:#9e0000;}
.coloBlue,.coloBlue-a a{color:#16387c;}
.coloGray,.coloGray-a a{color:gray;}
/* 文字列表 */
.textList2 li{clear:both;vertical-align:bottom;line-height:18px;}
.textList2 p{float:left;overflow:hidden}
.textList2 span{float:right;overflow:hidden;text-align:right;}
/* 普通组图 */
.pp li{float:left;display:inline;line-height:18px}
.pp li img{display:block}
.pp li span{display:block;text-align:center;margin-top:3px;}
/* 图文混排 */
.pt{overflow:hidden;line-height:18px;}
.pt div{float:left;}
.pt div span{display:block;text-align:center;}
.pt p{float:right;}
.pt h4,.pt ul{float:right;white-space:nowrap;overflow:hidden}
/* 关键字 */
.keyWord a{float:left;overflow:visible;white-space:nowrap;}
/* 分页 */
.page a {border:1px solid #D9D9D9;display:inline-block;margin-left:5px;padding: 4px 8px;}
/* 常用属性 */
.float_L{float:left;}
.float_R{float:right;}
.border{border:1px solid #c6d8e0;overflow:hidden;zoom:1;}
.fontYaHei{font-family:"Microsoft YaHei", "微软雅黑", "宋体";}
.text2em{text-indent:2em;}
.textHide{text-indent:-2000px;}
.hidden{display:none}
.show{display:block!important}
.head,.main,.footer,.friendLink{margin:0px auto;}
/* 铁血基本弹出层 */
.pub_Pop_Style{border:1px solid #aaaaaa;position:absolute;z-index:110;display:none;background:#FFF;box-shadow:0 0 8px rgba(0,0,0,0.2);border-radius:5px;overflow:hidden;zoom:1}
.pub_Pop_Style iframe{display:none;}
.pop_bar{background:#eaeaea;border-bottom:1px solid #cccccc;height:35px;overflow:hidden;cursor:move;border-radius:5px 5px 0 0;}
.ui_layerTit{padding-left:12px;line-height:36px;color:#000;font-size:13px;font-weight:bold;}
.closeLayer{width:18px;height:18px;background:url(http://r.itiexue.net/global/images/pop_norepeat_bg2.gif) no-repeat 0 0;margin:10px 10px 0 0;cursor:pointer;display:inline; transition:transform ease .5s;-ms-transition:transform ease .5s;
-webkit-transition:transform ease .5s;-moz-transition:transform ease .5s;-o-transition:transform ease .5s;}
.closeLayer:hover{transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);*background-position:0 -18px;}
#zheZhaoLayer{background:#FFF;width:100%;position:absolute;z-index:100;top:0;left:0;display:none}
.PopLayerBtn{width:100%;position:absolute;bottom:0;left:0;padding-top:8px;background:#eaeaea;height:29px;border-top:1px solid #CCC;border-radius: 0 0 5px 5px;clear:both;text-align:right;overflow:hidden}
.PopLayerBtn input{width:70px;margin-right:10px;height:23px;}
.onloadBeforMsg{width:86px;height:36px;text-align:center;background:url(http://r.itiexue.net/global/images/loading.gif) no-repeat 25px 15px;position:relative;left:50%;top:50%;margin:-18px 0 0 -43px;color:#999;}
.pub_Pop_Style .onloadBeforMsg{margin-top:-55px;}
/*右侧悬浮基本样式*/
#fixedBtn { font-family:'微软雅黑'; height: 165px; overflow: hidden; position: fixed; width: 54px; }
#fixedBtn a {display: block; font-size: 17px; height: 54px; line-height: 54px; margin-top: 1px; text-align: center;width: 54px;background:#b2b2b2;color: #fff;}
#fixedBtn a:hover { background: #7C7C7C; color: #fff; text-decoration: none; text-indent: 0;}
/*CSS3动画*/
.shake {
 animation: shake 1s ease 0s;
 -moz-animation: shake 1s ease 0s;
 -webkit-animation: shake 1s ease 0s;
 -o-animation: shake 1s ease 0s;
 }
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}
@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
a { color: #666; }a:hover { text-decoration: underline; color: #9e0000 !important; }.border { border-color: #dbdee1; }.mTop10 { margin-top: 10px; }.mTop13 { margin-top: 13px; }.mTop20 { margin-top: 20px; }.boundary { height: 0px; margin: 3px auto 0; border-top: 1px solid #eaeaea; overflow: hidden; clear: both; }.bg li { background: url(http://r.itiexue.net/global/images/dot.gif) no-repeat 0 -65px; padding-left: 8px }.cel_1 .textList { width: 304px; line-height: 21px; clear: both; padding-top: 6px }.textList { width: 230px; margin: 0 auto; line-height: 22px; overflow: hidden }.textList li { text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }.cel_1 .textList em { margin-right: 6px; }.cel_1 .textList em a { color: #666; }.textList a, .textList2 a { color: #004276; }.textList2 { overflow: hidden }.textList2 li { white-space: nowrap; line-height: 25px; font-size: 14px; background: url(http://r.itiexue.net/global/images/dot.gif) no-repeat 0 -63px; padding-left: 8px; overflow: hidden }.textList2 li p { width: 266px; }.textList2 li span { font-size: 12px; font-family:"宋体"; }.pp { overflow: hidden; }.cel_1 .pp li, .middle .pp li { background: #f2f2f2 }.pubStyle1 .pp li { width: 122px; margin: 0 15px; height: 128px }.pubStyle1 .pp img { width: 120px; height: 90px; margin: 0 auto }.pubStyle1 .pp span { width: 120px; margin: 4px auto 0 auto; line-height: 16px; height: 30px; overflow: hidden }.columnTit { height: 38px; line-height: 38px; overflow: hidden; zoom: 1; border-bottom: solid 1px #e8e8e8; }.columnTit span { width: 54px; font-weight: bold; font-size: 19px; font-family: "Microsoft YaHei", "微软雅黑", "宋体"; text-align: center; overflow: hidden; position: relative; top: -2px; }.columnTit span a { color: #2b2b2b; }.line { display: block; height: 2px; background: #4a4a4a; overflow: hidden; }.line .i { display: block; width: 54px; height: 2px; background: #9e0000; border-right: solid 2px #fff; }.columnTit2 { height: 33px; clear: both; background-color: #f7f7f7; background-image: linear-gradient(#fbfbfb, #f5f5f5); background-image: -webkit-gradient(#fbfbfb, #f5f5f5); background-image: -moz-linear-gradient(#fbfbfb, #f5f5f5); border-bottom: solid 1px #dbdee1; white-space: nowrap; margin-bottom: 1px; position:relative; }.columnTit2 span { width: 86px; float: left; line-height: 33px; font-size: 14px; border-right: 1px solid #dbdee1; border-bottom: solid 1px #dbdee1; overflow: hidden; text-align: center; cursor: pointer; position: relative; right: -1px }.columnTit2 span a { color: #2b2b2b }.columnTit2 .select { border-bottom: solid 1px #fff; background: #fff; border-bottom-color: #fff; font-weight: bold; height: 34px; width: 88px; }.columnTit2 .moreBtn { font-size:12px; color:#666; position:absolute; right:8px; bottom:8px; font-weight:normal; font-family:"新宋体";}.columnTit2 .moreBtn:hover { color:#9e0000;}.columnTit3 { text-align: right; line-height: 30px; border-bottom: solid 2px #4a4a4a; position:relative;}.columnTit3 span { font-size: 14px; font-weight: bold; float: left }.columnTit3 span a { color: #2b2b2b; }.columnTit4,.columnTit4 a { font-size: 14px; font-weight: bold; color: #2b2b2b; line-height: 15px; }.columnTit4 { border-bottom:1px #ccc solid; position:relative; padding-bottom:10px;}.columnTit4 em { position:absolute; left:0; bottom:-1px; width:63px; height:1px; font-size:0; overflow:hidden; zoom:1; display:block; background:#ba2636; border-right:2px #e4e2e0 solid;}.columnTit4 .moreBtn { font-size:12px; color:#666; position:absolute; right:0; bottom:5px; font-weight:normal; font-family:"新宋体";}.columnTit4 .moreBtn:hover { color:#9e0000;}.main { width: 960px; margin: 0 auto; clear: both; background:#fff; }.layout_3 { margin-top: 20px; overflow: hidden; zoom: 1; }.layout_3 .cel_1 { float: left; width: 327px; }.layout_3 .cel_2 { float: left; width: 320px; margin-left: 20px; display: inline; }.layout_3 .cel_3 { float: right; width: 265px; }.head { position: relative;z-index:100; margin-top: 10px;zoom:1; }.head_row_1 { position:relative;left:0;top:0; height: 48px; }.logo { width: 232px; height: 42px; overflow: hidden; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat 0 -104px; }.logo a { display: block; height: 40px; }.head_row_1 .float_R {position:absolute;top:0;right:0; width: 725px; height: 40px; padding: 8px 0 2px; }.nav { position: absolute; z-index: 18; right: 0; }.nav li { float: left; }.nav h3 { color: #242424; font-size: 18px; cursor: pointer; border: 1px solid #fff; padding: 3px 12px 0 12px; height: 27px; border-bottom: none; position: relative; z-index: 8; top: 1px; _float: left; }.nav li a { color: #242424; }.nav a:hover { color: #9e0000; }.nav h3 span { width: 0px; height: 0; font-size: 0; overflow: hidden; display: inline-block; ; position: relative; left: 5px; top: -3px; border-style: solid; border-width: 0 4px 4px; border-color: #fff #fff #ddd; }.nav .select h3 { border-color: #bbbbbb; background-color: #f5f5f6; padding-bottom: 1px; }.nav .select h3 span { border-width: 4px 4px 0; border-color: #ddd #f5f5f6 #f5f5f6; }.nav li.junpShop h3 { color: #ba2636; padding: 0px 5px 1px 5px; *padding-top:3px;_padding-top: 0; +padding-top:1px;_margin-top: -4px; }.nav li.junpShop span { width: 23px; height: 21px; overflow: hidden; display: inline-block; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -147px -79px; border: 0; position: relative; top: 4px; _top: 0px; +top:3px;left: 0; }.nav li.junpShop h3 a { color: #9e0000; }.nav li.junpShop {*height:25px; overflow: hidden; }.nav li ul { position: absolute; clear: both; z-index: 5; background: #f5f5f6; border: 1px solid #bbbbbb; padding: 5px 1px 0 1px; display: none; }.nav li.junpShop ul { width: 103px; text-align: center; margin-top: -1px; }.nav li ul li { clear: both; float: none; border: 1px solid #f5f5f6; }.nav li ul li a { display: block; padding: 0px 9px 0 10px; line-height: 20px; margin-bottom: 5px; }.nav li ul li a:hover { background: #e7e7e8; color: #535353; text-decoration: none }.head_row_2 { height: 70px; clear: both; margin-top: 2px; font-size: 13px; overflow: hidden; zoom: 1; border-top: 4px solid #C5020D; }.head_row_2 ul { float: left; padding: 16px 11px 0 0; }.head_row_2 .cel_1 { _width: 150px; padding-left:18px;}.head_row_2 .cel_2 { _width: 89px; }.head_row_2 .cel_3 { _width: 152px; }.head_row_2 .cel_4, .head_row_2 .cel_5 { _width: 113px; }.head_row_2 .cel_6 { _width: 128px; }.head_row_2 .cel_7 { _width: 130px; }.head_row_2 .cel_7 li{border-right:none;}.head_row_2 li { line-height: 12px; _line-height: 16px; border-right: solid 1px #ddd; margin-bottom: 14px; }.head_row_2 li a { margin-right: 11px; color: #484848 }.head_row_2 li span a { color: #ba2636; }.j4e7e6c3a71 { height: 157px; background: #f5f5f5; border-top: solid 1px #dedede; border-bottom: solid 1px #dedede; margin-top: 9px; }.j4e7e6c3a71 .txt0 { height: 23px; white-space: nowrap; margin-top: 10px }.j4e7e6c3a71 .txt1 { height: 90px }.j4e7e6c3a71 .txt0 a { width: 120px; display: inline-block; margin-left: 10px; overflow: hidden }.foucs { background: #f5f5f5; padding: 13px 0; overflow: hidden; text-align: center; }#focus { width: 300px; height: 258px; margin: 0 auto; position: relative; }#focus  .slides_container{ width:300px; }.prev, .next { width: 29px; height: 36px; position: absolute; top: 74px; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat; text-indent: -2000px; z-index: 10; filter: alpha(opacity=70); opacity: 0.7; cursor: pointer }.prev:hover, .next:hover { filter: alpha(opacity=100); opacity: 1 }.prev { background-position: -77px -67px; left: 0; _background: url(http://r.itiexue.net/tiexue/wwwindex/ie6/dy-icon.gif) no-repeat }.next { background-position: -111px -67px; right: 0; _background: url(http://r.itiexue.net/tiexue/wwwindex/ie6/dy-icon.gif) no-repeat 0 -59px }.picIndex { float: right; padding-top: 13px }.picIndex li { float: left; width: 21px; height: 20px; overflow: hidden; font-weight: bold; font-size: 14px; cursor: pointer; line-height: 20px; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -214px -82px; text-align: center; color: #2b2b2b; margin-left: 5px; display: inline }.picIndex .select { background: #a91f01; text-align: center; }.picIndex a { display: block; text-decoration: none; }.picIndex a:hover{text-decoration:none;}.picIndex .select a { color: #fff; }.picIndex .select a:hover{color:#fff !important}.slides_container { height: 225px; overflow: hidden; }.foucs .slides_container span { width: 300px; height: 32px; white-space: nowrap; position: absolute; z-index: 4; left: 0; text-align: center; top: 193px; line-height: 32px; font-size: 14px; }.foucs .slides_container em { width: 300px; height: 32px; display: block; background: #000; filter: alpha(opacity=60); opacity: 0.6; position: absolute; z-index: 2; top: 193px; left: 0; }.foucs .slides_container span a { color: #FFF }.foucs .slides_container span a:hover{color:#fff !important}.foucs .slides_container span a:hover{color:#fff !important}.columnPage { color: #2b2b2b; height: 884px; }.columnPage1 { height: 794px; overflow: hidden; clear: both; }.columnPage2 { overflow: hidden; clear: both; }.columnPage3 { height: 260px; overflow: hidden }#AdScrollBot { border: 0 }.columnPage ul.textList { width: 294px; margin: 0 0 0 17px }.columnPage .textList { border-bottom: 1px solid #eaeaea; padding-bottom: 6px }.columnPage .pp { margin-top: -6px; padding: 1px 0 0 3px; background: #FFF; zoom: 1 }.columnPage .pp li { width: 136px; height: 136px; margin: 8px 0 0 16px }.columnPage .pp li img { margin-top: 7px }.columnPage .columnTit2 .select { width: 81px; }.columnPage .columnTit2 span { width: 80px; }.emphasis { width: 326px; margin: 0 auto; white-space: nowrap; overflow: hidden }.emphasis h2, .emphasis h3 { font-weight: bold; font-size: 16px; font-family: "Microsoft YaHei", "微软雅黑", "宋体"; text-align: center; height: 27px; margin-top: 3px; overflow: hidden; text-overflow: ellipsis; }.emphasis h3 { margin-top: 10px; }.emphasis h3 a { color:#004276;}.emphasis h2 a { color: #b92437 }.emphasis .p { height: 17px; overflow: hidden; text-overflow: ellipsis; }.emphasis .p a { color: #666666; }.textScroll ul { margin-top: 5px; padding-top: 5px; border-top: 1px solid #eaeaea }.cel_2 ul { margin: 5px auto 0; }.topbook { clear: both; margin-top: 13px; }.baidusearch { height: 31px; overflow: hidden; margin-top: 13px; }.right2_01 { height: 335px; }.right2_01 .tabLayer { clear: both; }.right2_01 li { width: 122px; height: 128px; margin: 8px 0 0 7px; float: left; }.spanFont{display:block; height:38px; overflow:hidden;}.dushuBigBox{ height: 311px; }.right02 { height: 310px }.ppBook { margin-left: 2px; zoom: 1 }.ppBook li { width: 78px; height: 126px; line-height: 16px; margin: 9px 0 0 7px;overflow:hidden;}.dushuBox li { width: 122px; height: 128px; margin: 15px 0 0 7px; float: left;}.dushuBox li span{display:block; height:38px; overflow:hidden;}.novelRank { margin-top: 15px }.leftPP .pp li { width: 107px; height: 150px; margin-left: 10px }.leftPP .pp li span { margin-top: 7px; width: 105px }.novelRank .leftPP .pp img { width: 105px; height: 126px }.leftPP { width: 125px }.leftPP p { clear: both; border-top: 1px dashed #9e9e9e; line-height: 21px; padding: 8px 0 0 8px; margin: 8px 0 30px 3px; height: 80px; overflow: hidden }.rankList { background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -272px -205px; padding-right: 14px }.rankList li { width: 76px; height: 25px; line-height: 25px; padding-left: 32px; border: 1px solid #dcdbdc; margin-bottom: 5px; white-space: nowrap; overflow: hidden }.rankList li a { width: 70px; display: block; overflow: hidden; text-overflow: ellipsis; }.rankList li:hover { border: 1px solid #c1c1c1 }.right03  {height: 215px;}.right03 .pp { padding: 10px 0 0 1px }.right03 .pp li { width: 112px; height: 155px; margin-left: 12px }.right03 .pp li img { width: 110px; height: 110px; border: 1px solid #dedede }.right03 .pp li p { text-align: center }.right03 .pp li span { margin-top: 7px; white-space: nowrap }.signBox { width: 262px; height: 36px; padding: 1px 0 1px 1px; margin: 0 auto; position: relative; z-index: 15; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat; }.signBox .sign { width: 130px; height: 36px; margin-left: 1px; color: #b56f66; }#signnum { float: left; width: 70px; height: 36px; padding-left: 43px; line-height: 36px; font-family: "宋体"; font-size: 28px; color: #c35749; overflow: hidden; }.signBox .sign .ico { width: 26px; height: 27px; margin: 4px 10px 0; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -215px -54px; }.signBox .signBtn { cursor: pointer; line-height: 34px; font-size: 20px; }.signBox .signBtn:hover { color: #a15e56; }.signBox .ok {font-size: 12px;margin-top: 1px;}.sign_status {background: none repeat scroll 0 0 #ededed;border: 1px solid #a9a9a9;border-radius: 2px;box-shadow: 0 0 5px #ccc;display: none;margin: 0 auto;padding: 10px;position: absolute;right: 0;top: 45px;width: 340px;z-index: 99;}.sign_status .arrow { width: 11px; height: 7px; position: absolute; left: 280px; top: -7px; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -130px -234px; }.sign_status h4 { font: 15px/20px '微软雅黑'; }.sign_status .s_1 { line-height: 20px; padding: 8px 0; border-bottom: solid 1px #cacaca; }.sign_status strong { color: #c35749; padding: 0 2px; }.sign_status .s_2 { max-height: 208px; overflow: hidden; background: #fff; margin-top: 10px; border: solid 1px #e4e4e4; position: relative; }.Calendar { font-family: Verdana; text-align: center; }.Calendar a { color: #0066CC; }.Calendar table { width: 281px; margin: -1px 0 0 45px; border-collapse: collapse; }.Calendar table thead { color: #000; }.Calendar table thead td { border: none; color: #666; }.Calendar td { width: 38px; height: 27px; border: solid 1px #ddd; color: #aaa; }.Calendar .sign_1 { background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat 0 -73px; color: #666; font-weight: bold; }.Calendar .sign_0 { color: #c35749; cursor: pointer; }.Calendar .sign_0:hover { background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -36px -73px; text-indent: -100px; overflow: hidden; }.idCalendarPre { cursor: pointer; position: absolute; left: 0; top: 0; background: #cacaca; width: 12px; height: 100%; }.idCalendarNext { cursor: pointer; position: absolute; right: 0; top: 0; background: #cacaca; width: 12px; height: 100%; }.idCalendarNext span, .idCalendarPre span {position:absolute;left:50%;top:50%; display: block; width: 5px; height: 9px; overflow: hidden;background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -119px -233px;margin: -4px 0 0 -3px; }.idCalendarNext span { background-position: -124px -233px; margin-left: -2px; }.year { position: absolute; left: 12px; width: 12px; padding: 25px 10px 0; word-break: break-all; }.sign_status .s_3 { line-height: 20px; text-align: center; background: #fff; border: solid 1px #e4e4e4; border-top: none; padding: 10px 20px; }.sign_status .s_4 { padding: 13px 0 6px; text-align: center; }.onToday { font-weight: bold; }#idCalendar td { font-size: 11px; }.slide_newsBox { height:44px;}.slide_news { height:33px; background-color: #f6f6f6; background-image: linear-gradient(#fcfcfc, #fdfdfd); background-image: -webkit-gradient(#fcfcfc, #fdfdfd); background-image: -moz-linear-gradient(#fcfcfc, #fdfdfd); margin-top: 11px; position: relative; z-index:10; overflow: visible; }.slide_news .icon{ display: block; width: 17px; transition: transform ease .2s; height: 17px; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -246px -55px; position: absolute; left: 8px; top: 10px; }	.slide_news .iconJiao { display:block; width:36px; height:12px; background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -76px -180px; position: absolute; left: 110px; bottom: -10px;}.slide_news a { display: block; padding: 0 10px 0 26px; margin: -1px 10px 0; line-height: 34px; font-size: 14px; font-family:"微软雅黑"; background: url(http://r.itiexue.net/global/images/dot.gif) no-repeat scroll 7px -56px; white-space: nowrap; overflow: hidden; border-top: solid 1px #ddd;color:#004276; }.slide_news a.first { background:none;}.newsList { height: 33px; }.slide_news_hover .newsList { height: auto; background: #f6f6f6; }.slide_news_hover .iconJiao {display:none;}
	
	
	.huiKui{ border-top:1px solid #c6c5c3; overflow:hidden; padding:16px 0 0 0;display:none !important;}
	.huiKui .left{ float:left; width:126px;}
	.huiKui .left h6{ height:24px; color:#474747; font-weight:700;}
	.huiKui .left p a{ height:22px; line-height:22px; color:#C64D5A;}
	.huiKui .right{ float:right;  height:67px;  color:#ffffff; font-family:微软雅黑;}
    .huiKui .right:hover {color: #ffffff !important;}
    .huiKui .right .leftBg {width: 13px;height: 67px;float: left;background: url(http://r.itiexue.net/tiexue/wwwindex/left.png) no-repeat;}
    .huiKui .right .rightBg {width: 4px;height: 67px;float: right; background: url(http://r.itiexue.net/tiexue/wwwindex/right.png) no-repeat;}
	.huiKui .right .midd{ width:; height:67px; float:left; background:#dc3e3e;}
	.huiKui .right .five{ font-size:55px; line-height:60px; float:right; position:relative;}
	.five .doa{ font-size:19px; font-weight:bold; position:absolute; left:-13px; top:-14px;}
	.huiKui .right .yuan{ float:right; width:83px;}
	.huiKui .right .yuan span{ float:left;}
	.huiKui .right .yuan .yua{ font-weight:bold; margin:5px 0 0 4px;}
	.huiKui .right .yuan .xianJin{ font-size:24px; margin:15px 0 0 -36px;}
	.huiKui .right .yuan .ying{ margin:-5px 0 0 4px;}
	
	#junshi .columnPage { height: 700px; }.txtList { height: 244px; padding: 10px; line-height: 17px; }.txtList li { padding: 2px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }.txtList .bg { width: 33px; height: 21px; line-height: 17px; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -178px -54px; display: inline-block; color: #fff; text-align: center; vertical-align: middle; margin-right: 5px; }.txtList .bg a { color:#fff;}#junmi .columnTit span, #junmi .line .i { width: 110px; }#junmi .pp { width: 1000px; }#junmi li { margin: 18px 18px 0 0; }#guoji .columnPage { height: 465px; }#guoji .box1 { height: 368px; overflow: hidden; }#guoji .box1 .textList { width: 245px; margin-top: 8px; }#dushu .foucs .textList { padding-top: 7px; }#dushu .foucs { height: 285px; overflow: hidden; }.vip_ico { display: inline-block; background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -183px -86px; height: 13px; margin: 6px 5px 0 5px; vertical-align: top; width: 26px; }#dushu .middle .textList2, #dushu .middle .pp { margin-top: 10px; }#dushu .right2_01 { height: 311px; }.novelRecomend .textList2 li { clear: none; display: inline; float: left; margin: 0 5px; width: 140px; text-overflow: ellipsis; }.middle .tabTit { border-bottom: solid 1px #e4e2e0; height: 26px; line-height: 26px; }.middle .tabTit span { float: left; width: 25%; text-align: center; font-size: 14px; color: #2b2b2b; }.middle .tabTit .select { font-weight: bold; border-bottom: solid 1px #9e0000; }.middle .pp li { width: 93px; height: 140px; margin: 0 7px 0 6px }.middle .pp li img { width: 80px; margin: 5px auto 0 auto }.middle .pp li span { width: 80px; margin: 3px auto 0 auto }#lishi .columnPage { height: 465px; }#lishi .box1 { height: 368px; overflow: hidden; }#lishi .box1 .textList { margin-top: 8px; }#shehui .columnPage { height: 465px; }#shehui .box1 { height: 368px; overflow: hidden; }#shehui .right2_01 { height: 353px !important; }#shehui .right2_01 li { margin: 22px 0 0 7px }#shehui .cel_2 .textList2 { margin-top: 6px; }#chihe .columnTit span, #chihe .i { width: 110px; }#chihe ul { width: 1000px; }#chihe li { margin: 18px 18px 0 0; }#junph .columnTit span, #junph .i { width: 110px; }.junph-new-box { height: 500px; background: #f5f5f5; margin-top: 10px; overflow: hidden; padding: 10px 0; }.junph-new-box .junphNewBox { width: 950px; margin: 0 auto; overflow: hidden; }.junph-new-box ul { width: 950px; overflow: hidden; }.junph-new-box ul li { width: 190px; height: 255px; float: left; }.junph-new-box .imgBox { width: 180px; height: 235px; background: #fff; margin: 0 auto; padding-top: 9px; box-shadow: 3px 3px 0 rgba(235,235,235,1); }.junph-new-box .imgBox .imgImg { border: 1px #ccc solid; width: 160px; height: 160px; margin: 0 auto; }.junph-new-box a { display: block; }.junph-new-box .imgBox div { width: 160px; margin: 0 auto; padding-top: 6px; }.junph-new-box .imgBox div a { font-size: 12px; color: #878787; font-family: "宋体"; line-height: 18px; height: 36px; overflow: hidden; }.junph-new-box .imgBox div p { width: 160px; padding-top: 6px; }.junph-new-box .imgBox div p strong { color: #ff8739; font-size: 16px; }.junph-new-box .imgBox div span { color: #878787; float: right; }.junph-new-box .imgBox div em { color: #ff8739; }.junph-new-box img { width: 160px; height: 160px; }.junmi-pic li { float: left; height: 128px; margin: 8px 7px 0 21px; width: 122px; }.junphNewBox em a { display: inline !important; color: #ff8739; border: none !important; }.database { line-height: 22px;  text-align:left;background: #f0f0f0; clear: both; padding: 5px 0 0 10px; height: 47px; overflow: hidden }.database a { display: inline-block; white-space: nowrap; margin-right: 5px }.friendLink { width: 960px; margin: 10px auto 0 auto; text-align:left; line-height: 22px; padding-bottom:10px; }.friendLink a { display: inline-block; white-space: nowrap }.footer { width: 960px; margin: 10px auto 0 auto; line-height: 26px; text-align: center;}#footer { border-top: 1px solid #e7e7e7; padding-top: 10px } .footer span { padding: 0 5px }.footBottom { margin-top: 10px }.footBottom a { margin: 0 8px; }#navFixed { width: 22px; height: 610px; position: fixed; margin: 59px 0 0 970px; _display: none; }#navFixed a, #navFixed span { display: block; padding: 7px 0; text-align: center; }#navFixed span { color: #fff; background: #5f5f5f; }#navFixed a { background: #e4e4e4; margin-bottom: 1px; text-decoration: none; }#navFixed a:hover { background:#828282; color:#fff !important;}#backTop { cursor: pointer; background:#5f5f5f url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -278px 5px !important; text-indent:-2000px; height:60px;}#guoji .textList2 li,#lishi .textList2 li ,#shehui .textList2 li{ line-height:26px;}.tiaoxBg { display:block; width:172px; height:12px;  background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -87px -151px; position:absolute; right:31px; bottom:7px;}.loginBar{position:absolute;top:0; left:0;z-index:2147483647;}#junshi .cel_2 .mTop10,#guoji .cel_2 .mTop10,#lishi .cel_2 .mTop10,#shehui .cel_2 .mTop10 { margin-top:22px;}#guoji .boundary,#lishi .boundary,#shehui .boundary { margin-top:4px;}#junshi .right2_01 { height:335px;}#junshi .dushuBox li { margin-top:15px;}#guoji .right2_01 { height:345px;}#guoji .dushuBox li { margin-top:18px;}#dushu .dushuBox li { margin-top:8px;}#lishi .right2_01,#shehui .right2_01 { height:345px;}#lishi .dushuBox li { margin-top:15px;}#shehui .cel_2 .mTop10 { margin-top:24px;}.jiangWuTang { height:127px; overflow: hidden; position:relative; margin-bottom:10px;}.jiangWuTang em { display:block; position:absolute; left:0;}.jiangWuTang .jwtIcon { top:0; width:62px; height:62px; background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat 0 -180px;}.jiangWuTang .emBg { bottom:0; width:265px; height:26px; background:#000; opacity:0.6;}.jiangWuTang span { display:block; position:absolute; left:0; bottom:0; height:26px; line-height:26px; overflow:hidden; text-align:center;}.jiangWuTang a { display:block;}.jiangWuTang span a { color:#fff; text-align:center; width:265px; height:26px; font-size:14px;}.jiangWuTang span a:hover{color:#fff !important;}.titltImg { height: 31px; overflow:hidden;border-bottom:2px #4a4a4a solid;background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) left -419px no-repeat;}.tabTitle { height:31px; border-bottom:1px #ccc8c4 solid;border-left:1px #ddd solid;border-right:1px #ddd solid;}.tabTitle p { float:left; width:87px; height:31px; line-height:31px; text-align:center; color:#2b2b2b; cursor:pointer; position:relative;}.tabTitle p span { display:block; width:1px; height:12px; overflow:hidden; font-size:0; position:absolute; right:0; top:10px; background:#d3d3d3;}.tabTitle .select { font-weight:bold;}.tabTitle p em { width:9px; height:5px; background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -238px -104px; position:absolute; left:38px; bottom:-5px; display:none;}.tabTitle .select em { display:block;}.hotBox {border:1px #ddd solid; background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) left -242px no-repeat; width:263px; height:167px; border-top:none;}.hotBox ul  {background: url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat scroll -264px -72px rgba(0, 0, 0, 0);padding: 15px 0 0 18px;}.hotBox ul li { padding-left:31px;  height:22px; overflow:hidden; clear:both;}.hotBox ul li span { display:block; float:left; white-space:nowrap; overflow:hidden; font-family:"宋体";}.hotBox ul li .userName {color: #004276;margin-right: 10px;width: 75px;}.hotBox ul li .juanZhu {color: #4b4b4b;margin-right: 14px;width: 25px;}.hotBox ul li .jinE {color: #ba2636;font-weight: bold;width: 72px;}.hotBox dl {padding: 16px 0 0 12px;}.hotBox dt {border-bottom: 1px dashed #d2caca;overflow: hidden;padding-bottom: 6px;width: 241px;}.hotBox dt p { color:#4b4b4b; height:22px; overflow:hidden; white-space:nowrap;}.hotBox dd { padding-top:6px;}.hotBox dd p { color:#004276;}.hotBox dl p { line-height:22px;}.hotBox dl strong { font-weight:normal; color:#004276;}.hotBox dl span { color:#ba2636; font-weight:bold;}.muJuan { border-bottom: 1px dashed #d2caca;clear: both;margin-left: 10px; overflow: hidden; padding: 16px 0 12px; width: 244px;}.muJuan img { display:block; width:102px; height:69px; float:left;}.muJuan p {float: right; width: 130px;}.muJuan p span { display:block; line-height:22px; color:#4b4b4b;}.muJuan p em { color:#ba2636; font-weight:bold;}.zongEBox { padding-top:5px;}.zongEBox p { text-align:center; line-height:22px; color:#004276;}.zongEBox p font {}.myCanJia { display:block; width:96px; height:34px;background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -119px -180px; margin:7px auto 0;}.zongEBox .myCanJia { margin-top:3px;}.textList2 li .newsIcon{ display:block;width:13px;height:13px; background:url(http://r.itiexue.net/tiexue/wwwindex/newbgv3.png?2) no-repeat -236px -121px;float:left; margin:7px 5px 0 0;}.newsListIcon{margin-top:13px;}.newsListIcon li p{width:252px;}.paihang .myCanJia { margin-top:3px;} .hotBox ul li .userName a:hover{color:##9e0000;}.hotBox ul li .userName a {color: #004276;}.longya { width: 80px; height: 20px; margin-top: 13px; background:url(http://r.itiexue.net/tiexue/wwwindex/jph.jpg); float: left; overflow: hidden; display: block; height: 20px; }.textList { overflow:hidden}.textList .fontq { display:block; width:216px; overflow:hidden; float:left;}.textList .font-icon { background:url(http://r.itiexue.net/tiexue/wwwindex/font-icon.jpg) no-repeat 0 0; font-size:12px; color:#fff; display:block; width:56px; padding-left:6px; height:14px; line-height:14px; text-align:center; margin-top:3px; float:right;}.textList .font-icon:hover { color:#fff !important;} .wxdy,.qrCode {display: none;}
    #BAIDU_EXP_CLB__wrapper_42616_0,#BAIDU_EXP_CLB__wrapper_481274_0,#BAIDU_EXP_CLB__wrapper_481268_0,#BAIDU_EXP_CLB__wrapper_481270_0,#BAIDU_EXP_CLB__wrapper_481172_0,#BAIDU_EXP_CLB__wrapper_481209_0,#BAIDU_EXP_CLB__wrapper_481218_0,#BAIDU_EXP_CLB__wrapper_481257_0,#BAIDU_EXP_CLB__wrapper_481259_0,#BAIDU_EXP_CLB__wrapper_481260_0,#BAIDU_EXP_CLB__wrapper_481264_0,#BAIDU_EXP_CLB__wrapper_481267_0{display:none;}