.content_container, #promo_container, #promo_container table, #promo_container tbody, #promo_container tr, #promo_container td {
    width: 100%;
    min-width: 966px;
    background-image: none;
    display: block;
    background-color: #E9E9E9;
}

#global_Banner {display: none !important;}

#showcasecellTable {
    height: auto !important;
}

#showcasecellTable .master_grid_wrapper {
    margin: 0 auto;
    width: 966px;
}

#homepage_spotlight {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
#homepage_spotlight .slide_content {
    display: block;
}
#homepage_spotlight .slide_content ul {
    height: 0;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    -webkit-transform:  translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#homepage_spotlight .slide_content ul.loading_animation_finished {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
#homepage_spotlight .slide_content ul li {
    position: absolute !important;
    top: 0px !important;
    left: 0px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}
#homepage_spotlight .slide_content ul li a {
    display: block;
}
#homepage_spotlight .slide_content ul li img {
    width: 100%;
}
#homepage_spotlight .slide_content ul li.active {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}
#homepage_spotlight .homepage_spotlight_arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    display: inline-block;
    width: 25px;
    height: 40px;
    fill: #999;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
body[data-touchdevice="true"] #homepage_spotlight .homepage_spotlight_arrow {
    opacity: 1 !important;
}
body[data-touchdevice="false"] #homepage_spotlight:hover .homepage_spotlight_arrow  {
    opacity: 1 !important;
}
body[data-touchdevice="false"] #homepage_spotlight .homepage_spotlight_arrow:hover, #homepage_spotlight_arrows .homepage_spotlight_arrow:active {
    fill: #512698;
}
#homepage_spotlight_arrow_left {
    margin-left: 20px;
    left: 0;
}
#homepage_spotlight_arrow_right {
    margin-right: 20px;
    right: 0;
}

#homepage_spotlight .slide_controls  {
    position: absolute;
    right: 80px;
    bottom: 40px;
    width: auto;
    z-index: 10;
}
#homepage_spotlight .slide_controls ul li {
    margin: 0 0 0 10px;
    float: left;
    display: inline-block;
    width: 10px!important;
    height: 10px;
}
#homepage_spotlight .slide_controls ul li a {   
    padding: 0;
    display: block;
    width: 10px!important;
    height: 10px;
    border-radius: 5px;
    background-color: #999;
    -webkit-transition: background-color .3s ease-in-out;
}
#homepage_spotlight .slide_controls ul li a.selected,
#homepage_spotlight .slide_controls ul li a:hover {
    background-color: #F6D046;
}

#homepage_spotlight  .homepage_slide_content,
#spotlight_cells .homepage_slide_content {
    color: #FFF;
    position: absolute;
    font-family: "UnitedSansRgMd", arial;
    text-transform: uppercase;
    pointer-events: none;
}
#homepage_spotlight  .homepage_slide_content_right,
#spotlight_cells .homepage_slide_content_right {
    top: 50%;
    right: 80px;
    text-align: right;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#spotlight_cells .homepage_slide_content_right {
    right: 40px;
}
#homepage_spotlight  .homepage_slide_content_right .homepage_spotlight_button,
#spotlight_cells .homepage_slide_content_right .homepage_spotlight_button {
    margin: 0 0 10px 10px;
}
#homepage_spotlight  .homepage_slide_content_center,
#spotlight_cells .homepage_slide_content_center {
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
#homepage_spotlight  .homepage_slide_content_center .homepage_spotlight_button,
#spotlight_cells .homepage_slide_content_center .homepage_spotlight_button {
    margin: 0 5px 10px;
    width: 86px;
}
#homepage_spotlight  .homepage_slide_content .homepage_slide_content_title,
#spotlight_cells .homepage_slide_content .homepage_slide_content_title {
    margin: 0 0 15px;
    padding: 0;
    line-height: 50px;
    color: #FFF;
    font-size: 50px;
    font-family: "UnitedSansRgHv", arial;
    font-weight:normal;
    text-decoration: none;
}
#spotlight_cells .homepage_slide_content .homepage_slide_content_title {
    font-size: 40px;
    line-height: 40px;
}
@media screen and (min-width: 610px) and (max-width: 1200px) {
    #homepage_spotlight  .homepage_slide_content .homepage_slide_content_title,
    #spotlight_cells .homepage_slide_content .homepage_slide_content_title {
        line-height: 45px;
        font-size: 45px;
    }
}
@media screen and (min-width: 610px) and (max-width: 966px) {
    #homepage_spotlight  .homepage_slide_content .homepage_slide_content_title,
    #spotlight_cells .homepage_slide_content .homepage_slide_content_title {
        line-height: 40px;
        font-size: 40px;
    }
}
#homepage_spotlight  .homepage_slide_content .homepage_slide_content_subtitle,
#spotlight_cells .homepage_slide_content .homepage_slide_content_subtitle {
    margin: 0 0 30px;
    padding: 0;
    line-height: 22px;
    color: #FFF;
    font-size: 18px;
    font-family: "UnitedSansRgBd", arial;
    font-weight:normal;
    text-decoration: none;
}
#homepage_spotlight  .homepage_slide_content .homepage_spotlight_button,
#spotlight_cells .homepage_slide_content .homepage_spotlight_button {
    border: 2px solid #FFF;
    padding: 0 28px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    font-size: 16px;
    font-family: "UnitedSansRgBd", arial;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    pointer-events: all;
}
#homepage_spotlight  .homepage_slide_content.invert_buttons .homepage_spotlight_button,
#spotlight_cells .homepage_slide_content.invert_buttons .homepage_spotlight_button {
    border: 2px solid #000;
    color: #000;
}
#homepage_spotlight  .homepage_slide_content .homepage_spotlight_button:hover,
#homepage_spotlight  .homepage_slide_content .homepage_spotlight_button:active,
#spotlight_cells .homepage_slide_content .homepage_spotlight_button:hover,
#spotlight_cells .homepage_slide_content .homepage_spotlight_button:active {
    color: #000;
    background-color: #FFF;
}
#homepage_spotlight  .homepage_slide_content.invert_buttons .homepage_spotlight_button:hover,
#homepage_spotlight  .homepage_slide_content.invert_buttons .homepage_spotlight_button:active,
#spotlight_cells .homepage_slide_content.invert_buttons .homepage_spotlight_button:hover,
#spotlight_cells .homepage_slide_content.invert_buttons .homepage_spotlight_button:active {
    color: #FFF;
    background-color: #000;
}


.fullsitewrapper,
.eb_main_container,
.master_grid_wrapper {
    background-color: #E9E9E9;
}
.grid_wrapper {
    margin: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.grid_wrapper *,
.grid_wrapper *:before,
.grid_wrapper *:after {
    box-sizing: border-box;
    overflow: hidden;
}
.row {
    margin: 0 0 25px 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.text_area {
    min-height: 75px;
    #height: 75px; /* ie8 fix */
    background-color: #fff;
    padding: 20px;
    color: #000;
}
.text_area span {
    text-transform: uppercase;
}
.title_text {
    font-size: 20px;
    line-height: 22px;
}
.sub_text {
    display: inline-block;
    margin: auto;
    font-size: 16px;
    border-bottom: #fff solid 2px;
}
[data-touchdevice="false"] .link_wrapper:hover .hover_underline,
[data-touchdevice="true"] .link_wrapper:active .hover_underline{
    border-bottom: #F6D046 solid 2px;
}
.link_wrapper {
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.link_wrapper img {
    display: block;
    border: none;
    -webkit-transition: all .25s ease-in-out; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -o-transition: all .25s ease; /* IE 9 */
    -ms-transition: all .25s ease; /* Opera */
    transition: all .25s ease-in-out;
}
[data-touchdevice="false"] .link_wrapper:hover img,
[data-touchdevice="true"] .link_wrapper:active img{
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
.hp_cta_btn {
    position: absolute;
    display: inline-block;
    height: 40px;
    min-width: 140px;
    *width: 140px;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    border: #fff solid 2px;
    color: #fff;
}
[data-touchdevice="false"] .hp_cta_btn:hover,
[data-touchdevice="true"] .hp_cta_btn:active {
    background-color: #fff;
    color: #000;
}
.hp_cta_btn.black_btn {
    border-color: #000;
    color: #000;
}
[data-touchdevice="false"] .hp_cta_btn.black_btn:hover,
[data-touchdevice="true"] .hp_cta_btn.black_btn:active {
    background-color: #000;
    color: #fff;
}
.extra_padding {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
[data-displaytextarea="false"] .text_area,
[data-displaytitle="false"] .title_text,
[data-displaysubtitle="false"] .sub_text,
[data-displaybutton="false"] .hp_cta_btn {
    display: none;
}
.inner_col {
    float: left;
}
.col_1 > .inner_col,
.full_width {
    width: 100%;
}
.col_2 > .inner_col {
    width: 470.5px;
}
.col_2 > .inner_col:first-child {
    margin-right: 25px;
}
.col_3 > .inner_col {
    width: 305.33px;
    margin-left: 25px;
}
.col_3 > .inner_col:first-child {
    margin-left: 0;
}
.col_4 > .inner_col {
    width: 222.75px;
    margin-left: 25px;
}
.col_4 > .inner_col:first-child {
    margin-left: 0;
}
.col_5 > .inner_col {
    width: 173.2px;
    margin-left: 25px;
}
.col_5 > .inner_col:first-child {
    margin-left: 0;
}
.col_6 > .inner_col {
    width: 140.16px;
    margin-left: 25px;
}
.col_6 > .inner_col:first-child {
    margin-left: 0;
}
.col_2_3 > .inner_col {
    width: 305.33px;
}
.col_2_3 > .inner_col:first-child {
    width: 635.66px;
    margin-right: 25px;
}
.col_2_3 > .top_margin {
    margin-top: 25px;
}
.col_small_2 > .inner_col {
    width: 140.165px;
}
.col_small_2 > .inner_col:first-child {
    margin-right: 25px;
}
.col_1_2 > .inner_col:first-child {
    width: 305.33px;
    margin-right: 25px;
}
.col_1_2 > .inner_col {
    width: 635.66px;
}
#ebHome a[data-youtube="true"]::before, #ebHome a[data-youtube="true"]::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 84px;
    left: 0;
    right: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    background-position: center center;
    z-index: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease-in-out;
}
#ebHome a[data-youtube="true"]::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjIxLjMgLTE4LjcgNDcuNCA0Ny40Ij48cGF0aCBkPSJNNDUtMTguN0MzMS45LTE4LjcgMjEuMy04LjEgMjEuMyA1UzMxLjkgMjguNyA0NSAyOC43IDY4LjcgMTguMSA2OC43IDUgNTguMS0xOC43IDQ1LTE4Ljd6bTAgNDQuM2MtMTEuNCAwLTIwLjYtOS4yLTIwLjYtMjAuNlMzMy42LTE1LjYgNDUtMTUuNiA2NS42LTYuNCA2NS42IDUgNTYuNCAyNS42IDQ1IDI1LjZ6Ii8+PHBhdGggZD0iTTU3LjEgNWwtOS4zIDUuNC05LjIgNS4zVi01LjdsOS4yIDUuMyIvPjwvc3ZnPg==');
}
#ebHome a[data-youtubeColor="white"][data-youtube="true"]::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjIxLjMgLTE4LjcgNDcuNCA0Ny40Ij48cGF0aCBmaWxsPSIjRkZGIiBkPSJNNDUtMTguN0MzMS45LTE4LjcgMjEuMy04LjEgMjEuMyA1UzMxLjkgMjguNyA0NSAyOC43IDY4LjcgMTguMSA2OC43IDUgNTguMS0xOC43IDQ1LTE4Ljd6bTAgNDQuM2MtMTEuNCAwLTIwLjYtOS4yLTIwLjYtMjAuNlMzMy42LTE1LjYgNDUtMTUuNiA2NS42LTYuNCA2NS42IDUgNTYuNCAyNS42IDQ1IDI1LjZ6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTU3LjEgNWwtOS4zIDUuNC05LjIgNS4zVi01LjdsOS4yIDUuMyIvPjwvc3ZnPg==);
}
#ebHome a[data-youtube="true"]::after {
    opacity: 0;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjIxLjMgLTE4LjcgNDcuNCA0Ny40Ij48cGF0aCBmaWxsPSIjNTEyNjk4IiBkPSJNNDUtMTguN0MzMS45LTE4LjcgMjEuMy04LjEgMjEuMyA1UzMxLjkgMjguNyA0NSAyOC43IDY4LjcgMTguMSA2OC43IDUgNTguMS0xOC43IDQ1LTE4Ljd6bTAgNDQuM2MtMTEuNCAwLTIwLjYtOS4yLTIwLjYtMjAuNlMzMy42LTE1LjYgNDUtMTUuNiA2NS42LTYuNCA2NS42IDUgNTYuNCAyNS42IDQ1IDI1LjZ6Ii8+PHBhdGggZmlsbD0iIzUxMjY5OCIgZD0iTTU3LjEgNWwtOS4zIDUuNC05LjIgNS4zVi01LjdsOS4yIDUuMyIvPjwvc3ZnPg==');
}
#ebHome a[data-youtube="true"]:hover::before {
    opacity: 0;
}
#ebHome a[data-youtube="true"]:hover::after {
    opacity: 1;
}

/* new styles for splits */
#essentials {
    overflow: hidden;
    width: 1006px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 25px;
}
#essentials .grid_cell {
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}
#essentials .third-width {
    width: 305.33px;
}
#essentials .half-width {
    width: 470.5px;
}
#essentials .full-width {
    width: 100%;
}
#essentials .first-in-row {
    margin-left: 0;
}
#essentials .grid_cell img {
    display: block;
    min-width: 100%;
}
#spotlight_cells ul {
    padding: 0;
    margin: 0;
}
#spotlight_cells ul li {
    position: relative;
    margin-bottom: 25px;
}
/* end new split styles */

/* Homepage Predictive Intelligence Recommendations */
.homepage_recommendations {
    position: relative;
    margin: 0 auto 35px;
    width: 966px;
    overflow-x: hidden;
    clear: both;
}
.homepage_recommendations h2 {
    float: left;
    margin: 0 0 20px;
    font-size: 24px;
    font-family: "UnitedSansRgBd",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.homepage_recommendations a::before, .homepage_recommendations a::after {
    display: none !important;
    background-image: none !important;
}
.homepage_recommendations_left_arrow, .homepage_recommendations_right_arrow {
    position: absolute;
    top: 50%;
    margin: -25px 0 0;
    width: 50px;
    height: 50px;
    background-color: #666;
    opacity: 0.85;
    -webkit-transition: all 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    -moz-transition: all 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    -ms-transition: all 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    -o-transition: all 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    transition: all 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    cursor: pointer;
    z-index: 10;
}
.homepage_recommendations:hover .homepage_recommendations_left_arrow.active, .homepage_recommendations:hover .homepage_recommendations_right_arrow.active {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.homepage_recommendations_left_arrow {
    left: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.homepage_recommendations_right_arrow {
    right: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.homepage_recommendations_left_arrow:hover, .homepage_recommendations_right_arrow:hover {
    background-color: #512698;
}
.homepage_recommendations_left_arrow svg, .homepage_recommendations_right_arrow svg {
    margin: 5px 12px;
    width: 25px;
    height: 40px;
}
.homepage_recommendations_left_arrow svg path, .homepage_recommendations_right_arrow svg path {
    fill: #CCC;
}
body[data-touchdevice="true"] .homepage_recommendations_left_arrow, body[data-touchdevice="true"] .homepage_recommendations_right_arrow {
    display: none;
}
.homepage_recommendations .product_recommendations_container {
    overflow-x: hidden;
    clear: both;
}
body[data-touchdevice="true"] .homepage_recommendations .product_recommendations_container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.homepage_recommendations .product_recommendations_wrapper {
    width: 2140px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.homepage_recommendations .pi_product_recommendation {
    display: inline-block;
    margin: 0 24px 0 0;
    padding:10px 0 20px;
    width: 190px;
    background-color: #FFF;
    text-align: center;
    vertical-align: top;
    -webkit-transition: opacity 0.5s cubic-bezier(0.65, 0.02, 0.31, 1);
    -moz-transition: opacity 0.5s cubic-bezier(0.65, 0.02, 0.31, 1);
    -ms-transition: opacity 0.5s cubic-bezier(0.65, 0.02, 0.31, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.65, 0.02, 0.31, 1);
    transition: opacity 0.5s cubic-bezier(0.65, 0.02, 0.31, 1);
}
.homepage_recommendations .pi_product_recommendation.deactivated {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}
.homepage_recommendations .pi_product_recommendation {
    height: 297px;
}
.homepage_recommendations .pi_product_recommendation a {
    text-decoration: none;
}
/*.homepage_recommendations .product_recommendations_image {
    margin: 0 0 20px;
    padding: 0 10px;
    width: 170px;
}*/
.homepage_recommendations .product_recommendations_image {
    margin: 0 0 20px;
    padding: 0 10px;
    width: 170px;
    -webkit-transition: all .25s ease-in-out; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -o-transition: all .25s ease; /* IE 9 */
    -ms-transition: all .25s ease; /* Opera */
    transition: all .25s ease-in-out;
}
.homepage_recommendations .product_recommendations_image:hover {
    transform: scale(1.1);
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.homepage_recommendations .product_recommendations_name {
    padding: 0 10px;
    line-height: 16px;
    font-size: 14px;
    font-family: "UnitedSansRgBd",Arial,Helvetica,sans-serif;
}
.homepage_recommendations .product_recommendations_gender {
    text-transform: capitalize;
}
.homepage_recommendations .product_recommendations_price, .product_recommendations_sale_price {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    font-family: "UnitedSansRgHv",Arial,Helvetica,sans-serif;
}
.homepage_recommendations .product_recommendations_sale_price {
    color: #C00;
}
.homepage_recommendations .product_recommendations_price_old {
    margin: 0 8px 0 0;
    font-family: "UnitedSansRgMd",Arial,Helvetica,sans-serif;
    text-decoration: line-through;
}
.homepage_recommendations .homepage_recommendations_controls {
    float: right;
    margin: 15px 0 20px;
}
.homepage_recommendations .homepage_recommendations_controls li {
    margin: 0 0 0 10px;
    float: left;
    display: inline-block;
    width: 10px!important;
    height: 10px;
}
.homepage_recommendations .homepage_recommendations_controls li a {   
    padding: 0;
    display: block;
    width: 10px!important;
    height: 10px;
    border-radius: 5px;
    background-color: #999;
    -webkit-transition: background-color .3s ease-in-out;
}
.homepage_recommendations .homepage_recommendations_controls li.active a, .homepage_recommendations .homepage_recommendations_controls li a:hover {
    background-color: #F6D046;
}

/* Homepage Predictive Intelligence Singleview Recommendations */
.homepage_singleview_recommendations_container {
    position: relative;
    margin: 0 auto 35px;
    width: 966px;
}
.homepage_singleview_recommendations_container a::before, .homepage_singleview_recommendations_container a::after {
    display: none !important;
}
.homepage_singleview_recommendations {
    position: relative;
    float: left;
    padding: 20px 0;
    width: 305px;
    height: 349px;
    background-color: #FFF;
}
.homepage_singleview_recommendations .product_recommendations_title {
    margin: 0 auto 10px;
    padding: 0 10px;
    line-height: 20px;
    font-family: "UnitedSansRgBd",Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
.homepage_singleview_recommendations_left_arrow, .homepage_singleview_recommendations_right_arrow {
    position: absolute;
    top: 115px;
    width: 44px;
    height: 45px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    text-align: center;
}
.homepage_singleview_recommendations_left_arrow {
    left: 0;
}
.homepage_singleview_recommendations_right_arrow {
    right: 0;
}
.homepage_singleview_recommendations_left_arrow svg, .homepage_singleview_recommendations_right_arrow svg {
    margin: 3px auto;
    display: inline-block;
    width: 22px;
    height: 35px;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.homepage_singleview_recommendations_left_arrow svg path, .homepage_singleview_recommendations_right_arrow svg path {
    fill: #999;
    -webkit-transition: fill 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
    transition: fill 0.25s cubic-bezier(0.65, 0.02, 0.31, 1);
}
.homepage_singleview_recommendations_left_arrow:hover svg path, .homepage_singleview_recommendations_right_arrow:hover svg path {
    fill: #512698; 
}
.homepage_singleview_recommendations .pi_product_recommendation {
    height: 306px;
}
.homepage_singleview_recommendations .pi_product_recommendation  a {
    text-decoration: none;
    font-family: "UnitedSansRgBd",Arial,Helvetica,sans-serif;
}
.homepage_singleview_recommendations .product_recommendations_image {
    border: none;
    margin: 0 auto 20px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.homepage_singleview_recommendations .pi_product_recommendation  a:hover .product_recommendations_image, .homepage_singleview_recommendations .pi_product_recommendation  a:active .product_recommendations_image {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.homepage_singleview_recommendations .product_recommendations_name {
    padding: 0 10px;
    line-height: 16px;
    font-size: 14px;
}
.homepage_singleview_recommendations .product_recommendations_gender {
    text-transform: capitalize;
}
.homepage_singleview_recommendations .product_recommendations_price {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    font-family: "UnitedSansRgHv",Arial,Helvetica,sans-serif;
}
.homepage_singleview_recommendations .product_recommendations_price_old {
    margin: 0 8px 0 0;
    font-family: "UnitedSansRgMd",Arial,Helvetica,sans-serif;
    text-decoration: line-through;
}
.homepage_singleview_recommendations .product_recommendations_sale_price {
    color: #C00;
}
.homepage_singleview_recommendations_controls {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    list-style-type: none;
    height: 10px;
}
.homepage_singleview_recommendations_controls li {
    margin: 0 5px 0;
    display: inline-block;
    width: 10px!important;
    height: 10px;
}
.homepage_singleview_recommendations_controls li a {   
    padding: 0;
    display: block;
    width: 10px!important;
    height: 10px;
    border-radius: 5px;
    background-color: #999;
    -webkit-transition: background-color .3s ease-in-out;
}
.homepage_singleview_recommendations_controls li.active a, .homepage_singleview_recommendations_controls li a:hover {
    background-color: #F6D046;
}
.homepage_singleview_recommendations_aside {
    float: right;
    width: 633px;
    background-color: #FFF;
    font-family: "UnitedSansRgBd",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.homepage_singleview_recommendations_aside_link {
    text-decoration: none;
}
.homepage_singleview_recommendations_aside_text {
    padding: 20px;
}
.homepage_singleview_recommendations_aside_image {
    width: 636px;
    overflow: hidden;
}
.homepage_singleview_recommendations_aside_image img {
    display: block;
    border: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.homepage_singleview_recommendations_aside:hover img,
.homepage_singleview_recommendations_aside:active img{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}