.fullsitewrapper,
.eb_main_container,
.master_grid_wrapper {
    background-color: #E9E9E9;
}
.grid_wrapper {
    margin: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.grid_wrapper *,
.grid_wrapper *:before,
.grid_wrapper *:after {
    box-sizing: border-box;
    overflow: hidden;
}
.row {
    margin: 0 0 25px 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.text_area {
    min-height: 75px;
    #height: 75px; /* ie8 fix */
    background-color: #fff;
    padding: 20px;
    color: #000;
}
.text_area span {
    text-transform: uppercase;
}
.title_text {
    font-size: 20px;
    line-height: 22px;
}
.sub_text {
    display: inline-block;
    margin: auto;
    font-size: 16px;
    border-bottom: #fff solid 2px;
}
[data-touchdevice="false"] .link_wrapper:hover .hover_underline,
[data-touchdevice="true"] .link_wrapper:active .hover_underline{
    border-bottom: #F6D046 solid 2px;
}
.link_wrapper {
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.link_wrapper img {
    display: block;
    border: none;
    -webkit-transition: all .25s ease-in-out; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -o-transition: all .25s ease; /* IE 9 */
    -ms-transition: all .25s ease; /* Opera */
    transition: all .25s ease-in-out;
}
[data-touchdevice="false"] .link_wrapper:hover img,
[data-touchdevice="true"] .link_wrapper:active img{
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}
.hp_cta_btn {
    position: absolute;
    display: inline-block;
    height: 40px;
    min-width: 140px;
    *width: 140px;
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    border: #fff solid 2px;
    color: #fff;
}
[data-touchdevice="false"] .hp_cta_btn:hover,
[data-touchdevice="true"] .hp_cta_btn:active {
    background-color: #fff;
    color: #000;
}
.hp_cta_btn.black_btn {
    border-color: #000;
    color: #000;
}
[data-touchdevice="false"] .hp_cta_btn.black_btn:hover,
[data-touchdevice="true"] .hp_cta_btn.black_btn:active {
    background-color: #000;
    color: #fff;
}
.extra_padding {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
[data-displaytextarea="false"] .text_area,
[data-displaytitle="false"] .title_text,
[data-displaysubtitle="false"] .sub_text,
[data-displaybutton="false"] .hp_cta_btn {
    display: none;
}
.inner_col {
    float: left;
}
.col_1 > .inner_col,
.full_width {
    width: 100%;
}
.col_2 > .inner_col {
    width: 470.5px;
}
.col_2 > .inner_col:first-child {
    margin-right: 25px;
}
.col_3 > .inner_col {
    width: 305.33px;
	margin-left: 25px;
}
.col_3 > .inner_col:first-child {
    margin-left: 0;
}
.col_4 > .inner_col {
    width: 222.75px;
	margin-left: 25px;
}
.col_4 > .inner_col:first-child {
    margin-left: 0;
}
.col_5 > .inner_col {
    width: 173.2px;
	margin-left: 25px;
}
.col_5 > .inner_col:first-child {
    margin-left: 0;
}
.col_6 > .inner_col {
    width: 140.16px;
	margin-left: 25px;
}
.col_6 > .inner_col:first-child {
    margin-left: 0;
}










.col_2_3 > .inner_col {
    width: 305.33px;
}
.col_2_3 > .inner_col:first-child {
    width: 635.66px;
    margin-right: 25px;
}
.col_2_3 > .top_margin {
    margin-top: 25px;
}
.col_small_2 > .inner_col {
    width: 140.165px;
}
.col_small_2 > .inner_col:first-child {
    margin-right: 25px;
}
.col_1_2 > .inner_col:first-child {
    width: 305.33px;
    margin-right: 25px;
}
.col_1_2 > .inner_col {
    width: 635.66px;
}

