#mta-wrapper {
    text-transform:uppercase;
    text-align: left;
    font-family: "UnitedSansRgMd", arial;
    font-size: 16px;
    height:480px;
    margin: auto;
    z-index:999;
    min-width: 966px;
    position: relative;
    border: none;
    -webkit-box-shadow: none;
    filter: none !important;
}
#mta-outer-container {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  height: auto;
  position: absolute;
  top: 61px;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #999;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.2);
}
[data-support=false] #mta-outer-container{
    position: relative !important;
}
#mta-wrapper.left-direct {
    left:0;
}
#mta-wrapper.right-direct {
    right:288px;
}
#mta_container {
  background: gold none repeat scroll 0 0;
  height: auto;
  width: 100%;
  z-index: 50;
  overflow-x: hidden;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);  
}
#mta-typeahead{
    width: 320px;
}
#mta-flyout {
    width: 646px;
    height: 480px !important;
    padding: 20px 0 25px 40px;
    box-sizing: border-box;
}
#mta-typeahead, #mta-flyout {
    height:100%;
}
#mta-typeahead ul {
    padding: 14px 0 0;
}
#mta-typeahead ul li {
    color:#000000;
    padding:6px 0;
    text-indent: 0;
}
#mta-typeahead ul li strong {
    color:#000;
    font-family: "UnitedSansRgHv",arial; 
}
#mta-typeahead ul li.mta-selected{
    background: none;
}
#mta-typeahead ul li.mta-selected span {
    border-bottom: 2px solid #F6D046;
}
#mta-flyout.ltr {
    border-left:1px solid #999999;
}
#mta-flyout.rtl {
    border-right:1px solid #999999;
}
#mta-flyout a {
    text-decoration:none;
}
#mta-flyout .short-desc {
    text-transform:capitalize;
    font-size:12px;
}
#mta-flyout .free-shipping {
    color:#512698;
    text-transform:capitalize;
	padding-top: 2px;
    height: auto;
}
#mta-flyout .free-shipping img{
    width: 40%;
}
#flyout-prod-cartridge {
    overflow:hidden;
}

/** DEFAULT VERTICAL STYLES **/
.prod-vertical {
    margin:15px 0;
    width: 275px;
    float: left;
}
.prod-vertical:nth-of-type(2n-1) {
  margin-right: 55px;
}
.prod-vertical, .prod-vertical a {
    display:block;
    overflow:hidden;
}
.prod-vertical a:hover div.prod-image {
    border:#000 solid 1px;
}
.prod-vertical .prod-info, .prod-image {
    float:left;
}
.prod-vertical .prod-image {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 90px;
  overflow: hidden;
  width: 90px;
  background: white;
}
.prod-vertical .prod-image img {
  box-sizing: border-box;
  height: auto;
  padding: 2px;
  width: 100%;
}
.prod-vertical .prod-info-wrapper {
    width:165px;
    height:auto;
    padding-left: 20px;
    float:left;
}
.prod-vertical .prod-info {
  font-family: "UnitedSansRgBd",arial;
  font-size: 14px;
  line-height: 16px; 
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 32px;
  max-height: 32px;
  overflow: hidden;
  box-sizing: border-box;
}
.prod-info.prod-price {
  font-family: "UnitedSansRgHv",arial;
  height: auto;
}
.prod-vertical .prod-info del {
  display: inline-block;
  font-family: "UnitedSansRgMd",arial;
  width: auto;
}
.prod-vertical span.red {
    width:auto;
	display:inline-block;
    margin-left: 5px !important;
    color: #CC0000 !important;
}/**/
/** END VERTICAL STYLES **/

/** DEFAULT HORIZONTAL STYLES **/
.prod-horizontal {
    margin:0 0 20px 0;
    float:left;
    width:165px;
    min-height:200px;
    text-align:center;
}
.prod-horizontal, .prod-horizontal a {
    display:block;
    overflow:hidden;
}
.prod-horizontal .prod-image {
    width:100%;
}
.prod-horizontal .prod-image img {
    border:none;
}
.prod-horizontal .prod-info-wrapper {
    width:100%;
    height:auto;
    overflow:hidden;
}
.prod-horizontal .prod-info {
    width:100%;
    padding:0 5px;
    display:block;
}
.prod-horizontal .prod-info del {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal span.red {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal .ft_stars {
    display:inline-block;
    width:80%;
    margin:auto;
}
.prod-horizontal .ft_badge {
    display:inline-block;
    width:20%;
}
/** END HORIZONTAL STYLES **/

.record-listing-full-vertical, .record-listing-full-horizontal {
   /* bottom:15px;
    right:20px;*/
}
.shop-all-link {
  float: right;
  line-height: 40px;
  margin-top: 10px;
}
.shop-all-link:hover {
    color:#fff;
    background: #000;
}
.mta-result-title {
    display:block;
    color:#000000;
    height:auto;
    padding:0 0 5px 0;
}
.emphasis {
    color:#000;
    font-family: "UnitedSansRgHv", arial;
}

/** DEFAULT CATEOGRY CARTRIDGES **/
.prod_slot {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 158px;
    padding: 0;
    margin: 0 10px 10px 0;
}
.prod_slot.end_slot {
    margin-right:0;
}
.prod_slot a {
    display: block;
    border: 1px solid #999;
    text-decoration: none;
}
.prod_slot a:hover {
    border-color: #000;
}
.prod_slot a:hover .prod_slot_title {
    background-color: #ffcc33;
    background-image: url('/ns/common/field-tested/images/arrow_right_black.png');
    color: #000;
}
.prod_slot a img {
    display: block;
    padding: 0;
    margin: 0 auto;
}
.prod_slot a .prod_slot_title {
    padding: 5px 0;
    background-color: #000;
    background-image: url('/ns/common/field-tested/images/arrow_right_yellow.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    color: #ffcc33;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* FT RATING STYLES */
#mta-wrapper .rating_stars .blank_rating {
    width: 19px;
    height: 17px;
    background: url(//www.eastbay.com/ns/common/eastbay/ratings/empty-star.png) center no-repeat;
}
#mta-wrapper .rating_stars .blank_rating .selected {
    width: 19px;
    height: 17px;
    background: url(//www.eastbay.com/ns/common/eastbay/ratings/full-star.png) left center no-repeat;
}

