
.indx-focus{
    width: 360px;
    height: 180px;
}
.indx-focus .focus-list-wrap{
    height: 270px;
}
.indx-focus .focus-list-wrap li{
    width: 360px;
    height: 180px;
}
.indx-focus .focus-list-wrap a{
    width: 360px;
    height: 180px;
}
.left-img{
    width: 360px;
    overflow: hidden;
    zoom:1;
}
.idx-zt-box{
    position: relative;
    height: 235px;
    zoom: 1;
}
.idx-zt-box .zt-more{
    position: absolute;
    top: 3px;
    right: 5px;
}
.idx-zt{
    width: 380px;
    overflow: hidden;
    margin-top: 10px;
    height: 90px;
}
.idx-zt li{
    width: 170px;
    height: 90px;
    float: left;
    margin-right: 20px;
}
.idx-zt img{
    display: block;
    width: 170px;
    height: 85px;
}
.idx-zt span{
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-align: center;
}

.idx-zt-list{
    overflow: hidden;
    zoom: 1;
    width: 380px;
    margin-top: 4px;
    height: 96px;
}
.idx-zt-list li{
    float: left;
    width: 162px;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    *padding-right: 35px;
    *width: 127px;
    *position: relative;
}
.idx-zt-list li .fr{
    *float: none;
    *position: absolute;
    *right: 0;
    *top: 0;
}

.right-txt{
    width: 360px;
    overflow: hidden;
    position: relative;
}
.right-txt .rss{
    width: 16px;
    height: 16px;
    background: url(../images/index_ico.png) no-repeat 0 -60px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 8px;
}
.txt-top {
    height: 106px;
    overflow: hidden;
}
.txt-top .h2{
    display: block;
    text-align: center;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    margin: 10px 0 7px;
}
.txt-top .desc{
    line-height: 21px;
    text-indent: 2em;
}
.right-txt .main-txt{
    border-top: 1px dashed #eee;
    padding: 9px 0;
}
.right-txt .softs-list{
    padding-top: 8px;
    overflow: hidden;
    zoom: 1;
}
.right-txt .softs-list li{
    margin: 4px 0 0;
}
.right-txt .softs-list li .fr{
    color: #999;
}
.right-txt .softs-list .hover{
    background: #ecfae0;
}
.right-txt .xtaber-item{
    height: 404px;
    overflow: hidden;
}

.recom-soft-box{
    width: 740px;
    overflow: hidden;
    height: 350px;
}

/* 侧边栏 */
.sub-tab-box{
    background: #fafafa;
    overflow: hidden;
    zoom:1;
    height: 373px
}
.row-370 .sub-tab-box{
    height: 350px;
}
.row-330 .sub-tab-box{
    height: 318px;
}
.row-435 .sub-tab-box{
    height: 435px;
}

.xzb-app{
    height: 110px;
    width: 240px;
    margin: 10px auto 0;
}
.xzb-app img{
    display: block;
    width: 240px;
}

.sub-title{
    height: 29px;
    border-bottom: 1px solid #45B823;
    position: relative;
}
.sub-title .title{
    display: block;
    line-height: 29px;
    padding-left: 5px;
}
.sub-title .mod-tab li{
    background: #f5f5f5;
}
.sub-title .mod-tab{
    position: absolute;
    right: 0;
    top: 0;
}
.sub-title .mod-tab .current{
    background: #fbfbfb;
    color: #00bb00;
}


.sub-tab-box .soft-top-list,
.sub-tab-box .txt-list{
    padding: 4px 5px 3px;
} 
.sub-tab-box .txt-list li{
    width: 220px;
}
.apps-item{
    overflow: hidden;
    zoom: 1;
    width: 740px;
}


.apps-item .app-list{
    padding-top: 2px;
    width: 780px;
}
.apps-item .app-list li{
    margin: 10px 25px 0 0;
    height: 85px;
    width: 70px;
}
.apps-item .app-list span{
    margin-top: 2px;
    width: 70px;
}

.games-box{
    height: 348px;
    overflow: hidden;
}
.games-box .app-list li{
    margin-top: 23px;
}
/* 0401 新增 */
.youxiu-box .bh{
    height:30px;
    font-weight: bold;
    color: #45B823;
    font-size: 14px;
    line-height: 30px;
    position: relative;
}
.youxiu-box .youxiu-ico{
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/index_ico.png) 0 -120px;
    width: 30px;
    height: 39px;
}
.youxiu-app{
    height: 100px;
    padding-left: 110px;
    position: relative;
}
.youxiu-app .big-ico{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.youxiu-app span{
    display: block;
}
.youxiu-app .star-bar{
    float: none;
    margin-bottom: 7px;
}
.youxiu-app .name{
    font-size: 14px;
    font-weight: bold;
    display: block;
    height: 22px;
    overflow: hidden;
}
.youxiu-app .btn-dl{
    width: 90px;
    height: 30px;
    text-align: center;
    background: #45B823;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;
}
.youxiu-app .btn-dl:hover{
    background: #2d9d0c;
    color: #fff;
    text-decoration: none;
}
.app-dp{
    padding-top: 6px;
    color: #666;
}

.dp-bh{
    height: 30px;
    background: url(../images/bg_line.png) repeat-x 0 center;
    overflow: hidden;
    line-height: 30px;
}
.dp-bh .mark{
    float: left;
    padding-right: 10px;
    background: #fff;
}
.dp-bh .more{
    background: #fff;
    padding-left: 5px;
    float: right;
}

.dp-list-box .app-txt-list .ico{
    left: 0;
}
.app-txt-list li{
    padding-top: 5px;
}
.app-txt-list .ico{
    top: 6px;
}
.recom-list{
    width: 760px;
}
.recom-list li{
    width: 86px;
    height: 65px;
    position: relative;
    overflow: hidden;
    padding-left: 58px;
    float: left;
    margin-right: 5px;
    margin-top: 14px;
}
.recom-list .ico{
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
}
.recom-list .star-bar{
    margin-top: 0;
}
.recom-list .name{
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    display: block;
}
.recom-list .btn-dl{
    display: block;
    width: 48px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #eee;
    color: #666;
    margin-top: 5px;
}
.recom-list .btn-dl:hover{
    background: #45B823;
    color: #fff;
    text-decoration: none;
}

.hot-games-list{
    width: 785px;
    padding-top: 4px;
}
.hot-games-list li{
    width: 104px;
    float: left;
    position: relative;
    margin: 5px 23px 0 0; 
}
.hot-games-list img{
    width: 100px;
    height: 140px;
    vertical-align: middle;
    border: 1px solid #eee;
    padding:1px;
}
.hot-games-list .bg{
    position: absolute;
    left: 2px;
    width: 100px;
    height: 20px;
    top: 122px;
    background: #000;
    z-index: 1;
    opacity: .5;
    filter: alpha(opacity=50);
}
.hot-games-list .star-bar{
    position: absolute;
    left: 5px;
    z-index: 2;
    top: 124px;
}
.hot-games-list .til{
    display: block;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    text-align: center;
}

.up-tab-box{
    background: #fff;
    border: 1px solid #d2d2d2;
    padding-left: 110px;
    position: relative;
}
.up-tab{
    width: 111px;
    position: absolute;
    top: 0;
    left: -1px;
    
}
.up-tab li{
    border-bottom: 1px solid #ddd;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    background: #f9f9f9;
}
.up-tab li span{
    display: block;
    height: 30px;
    border-left: 1px solid #ddd;
    padding: 0 0 0 3px;
}
.up-tab .current span{
    border-left: 3px solid #45B823;
    color: #45B823;
    font-weight: bold;
    padding: 0;
    background: #fff;
    width: 109px;
}
.up-con{
    height: 428px;
    overflow: hidden;
    border-left: 1px solid #ddd;
    padding-top: 5px;
}
.idx-up-list li{
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    float: left;
    padding-left: 15px;
    width: 295px;
}
.idx-up-list .ext{
    float: left;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.idx-up-list .til{
    float: left;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.par-link-box{
    width: 1000px;
    overflow: hidden;
}
.par-link{
    width: 1050px;
}
.par-link li{
    float: left;
    width: 148px;
    height: 80px;
    overflow: hidden;
    margin: 10px 22px 0 0;
}
.par-link img{
    width: 148px;
    height: 55px;
    vertical-align: middle;
}
.par-link span{
    display: block;
    height: 27px;
    line-height: 27px;
    text-align: center;
    overflow: hidden;
}

.f-link-txt{
    line-height: 22px;
}
.f-link-txt a{
    margin-right: 8px;
    color: #666;
    white-space: nowrap;
}
.f-link-txt span{
    font-weight: bold;
}
.f-link-txt a:hover{
    color: #0b0;
}
.idc-link{
    border-top:1px dashed #eee;
    padding-top: 10px;
    margin-top: 10px;
}
.f-link-box .mod-tab{
    padding-left: 0;
    border-color: #ddd;
}
.f-link-box .mod-tab li{
    padding: 0;
    border-color: #eee;
}
.f-link-box .mod-tab span{
    display: block;
    height: 27px;
    padding: 1px 8px 0;
    *float:left;
}
.f-link-box .mod-tab .current{
    border-color: #ddd;
    border-top:1px solid #45B823;
}
.f-link-box .mod-tab .current span{
    border-top:1px solid #45B823;
    padding: 0 8px;
}
.bot-box{
    border: 1px solid #ddd;
    border-top: none;
    overflow: hidden;
    padding: 10px;
}
