﻿html body {padding:0px; margin:0px; font-size:14px;font-family: 'Lato', serif; color: #262626;}
img{border: 0px;}
#main{width:1000px; padding:0px; margin: 0px auto 0px auto; background-color: White; position: relative;}
a{color: #00aeef;}
a.link{color: #005298 !important; text-decoration: underline !important;}
a.terms{color: #0c00ff;}
/* Headers */
h1{font-size: 38px; color: Black; font-weight: 300; text-align: center; margin: 0px; padding: 15px 0px 0px 0px;}
h2.t{font-weight: 300; font-size: 30px; text-align: center;margin: 0px !important; padding: 0px 0px 16px 0px; line-height: 28px;}
h2{font-size: 28px; font-weight: 300;padding: 28px 0px 0px 0px; margin: 0px 0px 1px 0px;}
h3{font-size: 20px; font-weight: 300;padding: 0px; margin: 0px;}
/* Headers */

.free{position: absolute; z-index: 101; right: 65px; top: 130px;}
.exp{text-align: center; padding: 15px 0px 12px 0px;margin: 0px;font-size: 15px;}

.ft{background: url(../img/hp-sprite2.png) no-repeat; display: inline-block; vertical-align: bottom; margin: 0px 6px 2px 0px;height: 31px; display: block;}
#ft1{background-position: 0px -124px;width: 37px;}
.ft1hover{background-position: -37px -124px !important;}
#ft3{background-position: 0px -186px;width: 37px;}
.ft3hover{background-position: -37px -186px !important;}
#ft4{background-position: 0px -217px;width: 37px;}
.ft4hover{background-position: -37px -217px !important;}
#ft6{background-position: 0px -279px;width: 37px;}
.ft6hover{background-position: -37px -279px !important;}
#ft7{background-position: 0px -313px;width: 37px;}
.ft7hover{background-position: -37px -313px !important;}
#ft9{background-position: 0px -377px;width: 37px;}
.ft9hover{background-position: -37px -377px !important;}

.dapfeatureswrap{margin: 0px 0px 0px 0px; font-size: 13px;}
.dapfeatureswrap .t{background-color: #f2f2f2; padding: 0px 0px 20px 25px; font-size: 20px; font-weight :300;}
.dapfeatureswrap ul{margin: 0px; padding-left: 0px;}
.dapfeatureswrap ul li {font-size: 13px; margin-left: 53px; padding-left: -5px; line-height: 18px;}
.dapfeaturesitem{float: left;width: 299px;height: 90px; background-color: #f2f2f2; margin: 1px 2px 1px 0px;padding: 15px 18px 20px 15px;cursor: pointer;}
.dapfeaturesitem a{font-size: 21px; font-weight:300;margin: 0px;}
.dapfeaturesitem:hover{background-color: #e9e9e9 !important;}

.dapfeaturestop{float: left;width: 249px;height: 90px; margin: 1px 1px 1px 0px;padding: 15px 0px 20px 0px;cursor: pointer; margin-bottom: 10px;}
.dapfeaturestop:hover{background-color: #e9e9e9 !important;}
.dapfeaturestop .t{font-size: 14px; font-weight: bold; padding: 5px 0px 5px 5px;}
.dapfeaturestop a{font-size: 14px; font-weight: bold; padding: 5px 0px 5px 5px; text-decoration: none; color: Black; display: block;}
.dapfeaturestop a.tophover{color: #00aeef;}
.dapfeaturestop .t a:hover{color: #00aeef;}
.dapfeaturestop ul{padding: 0px 15px 0px 5px; margin-left: 17px; font-size: 13px;}
.hpdivider{background: url(../img/hp-divider.gif) no-repeat; overflow: hidden; width: 249px; height: 8px;}
#hpdivider2{background-position: -250px 0px;}
#hpdivider3{background-position: -500px 0px;}
#hpdivider4{background-position: -750px 0px;}

.ftt2{color: #00aeef;}
.morefeatures{background-color: #f2f2f2; text-align: right; font-size: 12px; padding: 8px 24px 8px 0px;}
.morefeatures:hover{background-color: #e9e9e9 !important;}
.morefeatures a:hover{font-weight: bold;}

.productswrap{cursor: pointer; margin-bottom: 23px;}
.productswrap .sva{float: left; width: 469px; border-top: 1px solid #b5b5b6;border-right: 1px solid #b5b5b6; padding: 30px 0px 30px 10px;line-height: 18px;}
.productswrap .svd{float: left; width: 510px; border-top: 1px solid #b5b5b6; padding: 30px 0px 30px 10px;line-height: 18px;}
.productswrap .ff{float: left; width: 469px; border: 1px solid #b5b5b6;border-left: 0px; padding: 30px 0px 30px 10px;line-height: 18px;}
.productswrap .fr{float: left; width: 510px; border-top: 1px solid #b5b5b6;border-bottom: 1px solid #b5b5b6; padding: 30px 0px 30px 10px;line-height: 18px;}

.productswrap a{font-size: 24px;padding: 0px 0px 12px 25px; font-weight: 300;}
.productswrap .sva:hover,.productswrap .svd:hover,.productswrap .ff:hover,.productswrap .fr:hover{background-color: #f7f7f7;}
 
.howitworkswrap .t{border-bottom: 1px solid #b5b5b6; padding: 30px 0px 12px 25px;}
.howitworkswrap .cont{width: 445px; margin: 43px auto 0px auto;line-height: 18px;}
.howitworkswrap .dgwrap{margin: 50px 0px 50px 0px; padding: 0px 77px; float: left; border-right: 1px solid #b5b5b6;}
.howitworkswrap .dgwrap .dg{width: 336px; height: 50px;  background: url(../img/howitworks.jpg) no-repeat; text-align: center; padding-top: 360px;}
.howitworkswrap .dgwrap .dgl{background-position: 0 0;}
.howitworkswrap .dgwrap .dgr{background-position: -336px 0px;}
 
.cloudwrap .t{border-bottom: 1px solid #b5b5b6; padding: 0px 0px 12px 25px;}
.cloudwrap img{margin: 55px auto;}
.cloudwrap .l{float: left; width: 443px; margin: 0px 60px 0px 24px;line-height: 18px;}
.cloudwrap .r{float: left;width: 443px;line-height: 18px;}
 
.reviewswrap .t{border-bottom: 1px solid #b5b5b6; padding: 0px 0px 12px 25px;}
.reviewswrap .logos{margin: 45px auto;}
.reviewswrap .logos .logo{background: url(../img/awards.png) no-repeat; float: left;}
.reviewswrap .logos .softonic{background-position: 0 0px; width: 257px; height: 91px;  margin: 0px 45px 40px 25px;}
.reviewswrap .logos .cnet{background-position: 0 -91px; width: 266px; height: 91px; margin: 0px 45px 40px 0px;}
.reviewswrap .logos .softpedia{background-position: 0 -182px; width: 147px; height: 76px; margin: 0px 45px 40px 0px;}
.reviewswrap .logos .brothersoft{background-position: 0 -258px; width: 150px; height: 69px; margin: 0px 0px 40px 0px;}
.reviewswrap .logos .microsoftgold{background-position: 0 -328px; width: 257px; height: 91px; margin: 0px 45px 40px 25px;}
.reviewswrap .logos .comcast{background-position: 0 -419px; width: 197px; height: 91px; margin: 0px 45px 40px 0px;cursor:pointer;}
 
 .downloaders{margin: 50px 0px 0px 25px;line-height: 20px; font-size: 14px;}
 
 .videodownload{background-color: #ffffff; margin-bottom: 40px;}
 .videodownload .spotlight{font-size: 18px;}
 .videodownload .h{background-color: #00aeef; color: #ffffff; padding: 3px 0px; font-size: 25px; text-align: center; margin-bottom: 15px;}
 .videodownload .l{float: left; width: 511px; padding-left: 10px;}
 .videodownload .l .sh{color: #262626; font-size: 29px; font-weight :300;}
 .videodownload .l ul{line-height: 25px; padding-left: 15px; margin-left: 5px;}
 .dapvideodownloadbtn{ text-align: center; font-size: 12px;}
 .dapvideodownloadbtn a{color: #00aeef; font-size: 15px;}
 .videodownload .r{float: left; padding-top: 10px;}
 
 /* dap-download - webinstall */
.toppanel{background: url(../img/speedbit-dap-slide-5.jpg) no-repeat; width: 1000px; height: 294px; text-align: center; padding-top: 24px;}
.dwlcheckbox{padding: 2px 0px 20px 0px; line-height: 25px; font-size: 13px;}
input[type="checkbox"]{vertical-align :middle;}
/* dap-download - webinstall */
 
/* Buttons */
/* dwl btn*/
.dwlbtnwrap{height: 85px;width: 307px;margin: 0px auto 15px auto; text-align :center;}
.dwlbtnwrap .dwlbtn{text-align: center; height: 85px;text-shadow: 0px -1px 0px #003716; font-weight: bold;
	background-color: #00a600;
	background: -moz-linear-gradient(#00d004, #005600); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00d004),color-stop(1, #005600));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d004', endColorstr='#005600',GradientType=0 );border: 1px solid #106b18;
	background-image: -ms-linear-gradient(#00d004, #005600);
	background-image: -o-linear-gradient(rgb(0,208,4),rgb(0,86,0));
}
.dwlbtnwrap .dwlbtn a{text-decoration: none; color: #ffffff !important;display: block; padding-top: 20px; height: 64px;}
.mask{overflow: hidden;}
.dwlbtnwrap .roundedCorners{border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.dwlbtnwrap .dwlbtn:hover {background-color: #00d004;text-shadow: 0px -1px 0px #003716;
	background: -moz-linear-gradient(#005600, #00d004);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #005600),color-stop(1, #00d004));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005600', endColorstr='#00d004',GradientType=0 );
	background-image: -ms-linear-gradient(#005600, #00d004);
	background-image: -o-linear-gradient(rgb(0,86,0),rgb(0,208,4));
	border: 1px solid #106b18;
}
.dwlbtnwrap .gradient{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005600', endColorstr='#00d004',GradientType=0 ); /* IE6-9*/ }
/* dwl btn*/

/* dwl btn disabled relative */
.dwlbtnwrapdisabled{height: 85px;width: 307px;}
.dwlbtnwrapdisabled .dwlbtn{text-align: center; height: 85px;font-weight: bold; font-size: 25px; text-shadow: none;
	background-color: #c5c5c5;
	background: -moz-linear-gradient(#c5c5c5, #838383); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c5c5c5),color-stop(1, #838383));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#838383',GradientType=0 );border: 0px;
	background-image: -ms-linear-gradient(#c5c5c5, #838383);
	background-image: -o-linear-gradient(rgb(197,197,197),rgb(131,131,131));
}
.dwlbtnwrapdisabled .dwlbtn a{text-decoration: none; color: #ffffff !important;display: block; padding-top: 26px; height: 64px;}
.dwlbtnwrapdisabled .gradient{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#838383',GradientType=0 ); /* IE6-9*/ }
/* dwl btn disabled relative*/

/* buy btn*/
.buybtnwrap{height: 37px;width: 307px;margin: 10px auto 20px auto; text-align: center; padding-top: 8px;}
.buybtn{text-align: center; height: 35px;text-shadow:-0px -1px 0px #e93c00; font-weight: bold;
	background-color: #e95c00;
	background: -moz-linear-gradient(#f89825, #ee4b19); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f89825),color-stop(1, #ee4b19));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89825', endColorstr='#ee4b19',GradientType=0 );border: 1px solid #ce5129;
	background-image: -ms-linear-gradient(#f89825, #ee4b19);
	background-image: -o-linear-gradient(rgb(248,152,37),rgb(238,75,25));
}
.buybtn a{text-decoration: none; color: #ffffff; display: block; height: 37px; padding-top: 10px;}

.mask{overflow: hidden;}
.roundedCorners{border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}

.buybtn:hover {background-color: #f47427;text-shadow: 0px -1px 0px #003716;
	background: -moz-linear-gradient(#ee4b19, #f57627 100%, #f89825);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ee4b19),color-stop(1, #f89825));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4b19', endColorstr='#f89825',GradientType=0 );border: 1px solid #ce5129;
	background-image: -ms-linear-gradient(#ee4b19, #f89825);
	background-image: -o-linear-gradient(rgb(238,75,25),rgb(248,152,37));
}
.buybtnwrap .gradient{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4b19', endColorstr='#f89825',GradientType=0 );  IE6-9 }

/* buy btn*/
/* Buttons */

/*general*/
.clearall{clear: both; line-height: 1px; font-size: 1px; height: 0px;}
.floatleft{float: left;}
.aligncenter{text-align :center !important; margin: 0px auto;}
.font11{font-size:11px !important;}
.font14{font-size:14px !important;}
.font18{font-size:18px !important;}
.font22{font-size:22px !important;}
.font25{font-size: 25px; font-weight: 600;}
a.nounderline,.nounderline{text-decoration: none;}
.nobg{ background-color: none;}
.noborder{ border: 0px !important;}
.regfcolor{color: #262626;}

.mar_r0{margin-right:0px !important;}
.mar_l5{margin-left: 5px !important;}
/*general*/

#preload img{position: absolute;left:0;bottom:0;z-index:-30;display:none;}

.dwlbeta {min-height: 5px;}
.dwlbeta a {color: #0c00ff;}
.underline {text-decoration: underline;}
.new {background-color: #f00; padding: 0px 3px 1px; color: #ffffff; font-size: 11px;}