﻿.menuwrap{height: 95px; text-align: left; border-bottom: 1px solid #c7c7c7; width: 1000px; z-index: 300;position: relative;}
/*#headermenu{height: 50px; padding: 0px; width: 965px; margin: 0px auto;}
.header_nomenu{background-image: url(../img/87/drop-menu.gif); background-repeat: repeat-x; height: 29px;}
*/
.menuwrap .splogo{float:left; margin: 29px 0px 0px 0px;}
.menuwrap .slogan{font-size:15px; color: #3f3f3f; text-align: left; position: absolute; top: 69px; left: 45px; font-style: italic;}

.social{padding: 16px 0px 0px 0px; right: 10px; position: absolute; width: 155px;}
.social .fb{float: left; padding-right: 5px;}
.social .tw{float: left; padding-right: 5px;}
.social .gg{float: left;padding: 0px 1px;}

.submenubg{z-index: 300; width: 390px; position: absolute; right: 10px; top: 71px;}
.submenubgshow{font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; z-index: -1;width: 1000px; margin: 0px auto; text-align: center;}

#nav {margin: 0px;padding: 0px;line-height: 100%;}
#nav li {margin: 0px;padding: 0px;float: left;position: relative;list-style: none; z-index: 120;}

/* main level link */
#nav a {color: #545554; text-decoration: none; font-size: 16px; display: block;padding:  0px 0px 14px 30px;margin: 0px;}
#nav a:hover {color: #00aeef;}

/* main level link hover */
#nav .current a, #nav li:hover > a {color: #00aeef;}
#storetab{margin-right: 0px !important;}


/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {background: none;border: none; font-size: 13px;}
#nav ul a:hover {color: #00aeef !important;}

/* dropdown */
#nav li:hover > ul {display: block;}

/* level 2 list */
#nav ul {display: none;margin: 0;padding: 10px 15px 15px 15px;position: absolute;top: 25px;right: -10px;border: solid 1px #c7c7c7;border-top: 0px; background-color: #fafafa !important; z-index: 300;}
#nav ul li {float: none;margin: 0;padding: 0;white-space: nowrap;}
#nav ul a {font-weight: normal;padding:  8px 10px; }

/* clearfix */
#nav:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
#nav {display: inline-block;} 
html[xmlns] #nav {display: block;.}
 
* html #nav {height: 1%;}

.breadcrumbs {padding-top:5px;font-size:12px;margin-left:47px;text-align:left;}
.breadcrumbs a {color: #005298;text-decoration:none;font-weight:normal;}
.breadcrumbs .bread-arrow {font-size:14px;font-weight:bold;}


/* footer */
.footer{background-color: #333333; margin-top: 50px;}
.footer .col{float: left;padding: 50px 0px 30px 65px;}
.footer .col4{float: right;padding: 50px 62px 0px 0px;}
.footer h4{font-size: 22px; color: #e9e9e9 !important; margin: 0px !important; border: 0px !important; padding-top: 0px !important; font-weight: 300;}
.footer .col ul{ list-style-type: none; margin-left: 0px; padding-left: 0px;color:#a6a6a6;}
.footer .col ul li{padding-bottom: 10px; font-weight: 300; font-size: 14px;}
.footer .col a{color: #a6a6a6; text-decoration: none;}
.footer .col a:hover{text-decoration: underline;}
.footer .col ul li.socialicons {margin-top:24px;}
.footer .col ul li.socialicons a{margin-top: 5px;text-decoration:none;background: url(http://www.speedbit.com/img/socialicons.jpg) no-repeat 0 0px; width: 21px; height: 21px; overflow: hidden;display: inline-block; margin-right: 10px;}
.footer .col ul li.socialicons a.fb{background-position: 0 0px;}
.footer .col ul li.socialicons a.tw{background-position: 0 -21px;}
.footer .col ul li.socialicons a.gg{background-position: 0 -42px;}
.footer2{text-align: center; padding: 33px 0px; font-size: 10px;color: #2d2d2d;}
.footer2 img{margin-bottom: 15px; display: block; margin: 0px auto 10px auto;}
.footer2 a{color: #2d2d2d; font-size: 10px;}


/* dwl btn*/
.dwlbtnwrapfooter{height: 63px;width: 225px; position: relative; margin-top: 4px;}
.dwlbtnwrapfooter .dwlbtn{text-align: center; height: 63px;text-shadow: -1px -1px 2px #003716; font-weight: bold;
	background-color: #00a600;
	background: -moz-linear-gradient(#00d004, #005600); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00d004),color-stop(1, #005600));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d004', endColorstr='#005600',GradientType=0 );border: 1px solid #106b18;
	background-image: -ms-linear-gradient(#00d004, #005600);
	background-image: -o-linear-gradient(rgb(0,208,4),rgb(0,86,0));
}
.dwlbtnwrapfooter .dwlbtn a{text-decoration: none; color: #ffffff !important;display: block; padding-top: 12px; height: 50px;}

.dwlbtnwrapfooter .dwlbtn:hover {background-color: #00d004;text-shadow: -1px -1px 2px #003716;
	background: -moz-linear-gradient(#005600, #00d004);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #005600),color-stop(1, #00d004));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005600', endColorstr='#00d004',GradientType=0 );
	background-image: -ms-linear-gradient(#005600, #00d004);
	background-image: -o-linear-gradient(rgb(0,86,0),rgb(0,208,4));
	border: 1px solid #106b18;
}

.triangleDAP{background: url(http://www.speedbit.com/img/dwltriangle.png) no-repeat;right: 0px; bottom: 0px; position: fixed;width: 168px; height: 140px;}
.triangleDAP:hover{background-position: 0px -140px;}