html {
    height:100%;
}
body {
    background-color:#FFF;
    font:13px/14px "lucida grande", tahoma, verdana, arial, sans-serif;
    margin:0;
    padding:0;
    color:#42382C;
    height:100%;
}

.roundcornerbox {
    background: #FFF;
    border: 1px solid #CCC;
    -moz-box-shadow: 0 3px 4px #CCC;
    -webkit-box-shadow: 0 3px 4px #CCC;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.bold {
    font-weight:bold;
}
.rescat{
    width:160px;
    float:left;
}
.resname{
    width:280px;
    float:left;
}
.resprice{
    width:100px;
    float:left;
}
.resquantity{
    width:160px;
    float:left;
}

.ieventlist{
    padding:10px 5px;
}
/* Big Search */
.adminpanel-search-big {
    background: #E5E5E5;
    border: 1px solid #CCC;
    border-bottom-color: #ACACAC;
    margin: 0;
    padding: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.search {
    margin: 30px auto 0px auto;
}

.adminpanel-search-big .outer {
    position: relative;
}

.adminpanel-search-big .inner {
    background: #FFF;
    border: 1px solid #CCC;
    border-top-color: #999;
    overflow: hidden;
    height: 37px;
    margin: 0;
    padding: 0 5px;
    width: 836px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.adminpanel-search-big #q {
    font-size: 18px;
    border: 0pt none;
    width: 100%;
    padding: 9px 0;
    margin: 0;
    outline: none;
    outline-width: 0;
    background: none;
}

.adminpanel-search-big #adminpanel-search-submit {
    background: url('http://assets1.assistly.com/images/portal/button.gif') 0 0 repeat-x;
    color: #FFF;
    cursor: pointer;
    position: absolute;
    right: 0;
    _right: 6px;
    top: 0;
    padding: 0;
    width: 130px;
    height: 38px;
    border: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


/* Small Search */

.adminpanel-search-small {
    position: absolute;
    top: 55px;
    right: 5px;
}

.adminpanel-search-small div {
    position: relative;
}

.adminpanel-search-small #adminpanel-search-submit {
    background: #FFF url('/static/images/search.gif') no-repeat;
    border: 0;
    cursor: pointer;
    height: 22px;
    line-height: 900px;
    overflow: hidden;
    right: 2px;
    text-indent: 900px;
    top: 8px;
    width: 24px;
    position: absolute;


}

.adminpanel-search-small #q {
    border: 0;
    border: 1px solid #CCC;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 7px 30px 7px 5px;
    width: 430px;
    outline: none;
    outline-width: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* God Search */

.adminpanel-god-search-small {
    position: absolute;
    top: 5px;
    right: 5px;
}

.adminpanel-god-search-small div {
    position: relative;
}

.adminpanel-god-search-small #adminpanel-search-submit {
    background: #FFF url('/static/images/search.gif') no-repeat;
    border: 0;
    cursor: pointer;
    height: 22px;
    line-height: 900px;
    overflow: hidden;
    right: 2px;
    text-indent: 900px;
    top: 8px;
    width: 24px;
    position: absolute;


}

.adminpanel-god-search-small #q {
    border: 0;
    border: 1px solid #CCC;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 7px 30px 7px 5px;
    width: 430px;
    outline: none;
    outline-width: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.nicebox {
    background: #FFF;
    border: 1px solid #CCC;
    -moz-box-shadow: 0 3px 4px #CCC;
    -webkit-box-shadow: 0 3px 4px #CCC;
    padding: 10px 10px;
    margin:10px 10px;
}

#tabnav-profile { 
    text-align: left; 
    border-bottom: 1px solid #CCC; 
    list-style-type: none;
    padding: 3px 10px 10px 10px; /* THIRD number must change with respect to padding-top (X) below */
    background:#EEE;
}
#tabnav-profile li { 
    display: inline;
}

#tabnav-profile a:hover { /* settings for hover effect */
    background: #fff; /* set desired hover color */
    color: #000 !important;
}

#tabnav { 
    text-align: left; 
    border-bottom: 1px solid #CCC; 
    list-style-type: none;
    padding: 3px 10px 10px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.social_acc {
    width:350px;
    height:55px;
    padding:10px 10px;
    margin:5px 10px;
    border:1px solid #ACE;
    background-color:#EEE;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}


.ticketcontainer {
    width:650px;
    height:25px;
    padding:10px 10px;
    margin:5px 0;
    border:1px solid #666;
    background-color:#EEE;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#tabnav li { 
    display: inline;
}

#tabnav a:hover { /* settings for hover effect */
    background: #fff; /* set desired hover color */
    color: #000 !important;
}

.tabnotselected a { /* settings for all tab links */
    padding: 10px 16px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #CCC; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color: #CCC; /* set unselected tab background color as desired */
    color: #000 !important; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
}

.tabselected a{ 
    padding: 10px 16px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #CCC; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color: #FFF; /* set unselected tab background color as desired */
    color: #000 !important; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
    position: relative;

}

.awesome, .awesome:visited {
    background: #222 url(/static/images/alert-overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff !important; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px;}
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.red.awesome, .red.awesome:visited		{ background-color: #D00000; }
.red.awesome:hover						{ background-color: #900000; }	
.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #3B5998; }
.blue.awesome:hover							{ background-color: #4C75CC; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }


a:link,a:visited {
    color:#00a8cb;
    text-decoration:none;
}
a:hover,.language-select li+li:hover span {
    text-decoration:underline;
    color:#06C;
}

a img {
    border-width:0;
}
table {
    margin:0px 0px;
}
#mainContent {

}

input.exampleText {
    color: #aaa;
}

#leftContainer{
    padding:10px 10px;
}

.tarea{
    border:1px solid #ACE;
    width:290px;
    font-size:12px;
    height:100px;	
}
/* Normal Bubble */
.cload {
    width: 600px;
    font-size: 1em;
    margin-bottom: 24px;
    margin-left:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.cload blockquote {
    margin: 0px;
    padding: 0px;
    border: 1px solid #CCC;
    background-color: #fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;		
}

.cload blockquote p {
    margin: 10px;
    padding: 0px;
}

.cload cite {
    position: relative;
    margin: 0px;
    padding: 7px 0px 0px 15px;
    top: 6px;
    background: transparent url(/static/images/tip.gif) no-repeat 20px 0;
    font-style: normal;	
}

.leftContainer{

    background:url("/static/images/left-gradient.png") repeat-y scroll 110px 0px #FFF;	
    width:180px;
    border-right:1px solid #ACE;

}
.mainContainer{
    padding-top:20px;
    background:url("/static/images/top-gradient.png") repeat-x scroll 0px 0px #FFF;	

}
.group{
    background-color:#FFF;
    border:1px solid #ACE; 
    padding:15px 15px;
    margin: 10px 10px;
    color:#333;
    width:400px;
    font-size:16px; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;		

}



.tooltip { 
    background-color:#DDE4FE;
    border:1px solid #ACE; 
    padding:15px 15px 5px 15px;
    height: 28px;
    width:auto;
    display:none; 
    color:#000; 
    text-align:left; 
    font-size:14px; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;		
}

#tabnavButtons{
    padding:0px 0px;
    margin:0px 0px 20px 40px;
}
#tabnavContentPath {
    padding:20px 5px;
    margin-left:10px;
    margin-bottom:10px;
    font-size:14px;
    font-style:normal;
    border-bottom:1px solid #ACE;
}

#topNav {
    background-color:#000;
    border-bottom:4px solid #ACE;
    margin:0px 0px;
    padding:0;
    height:80px;
}
#topNavLogo {
    float: left;
    padding:12px 0px 4px 15px;	
}

#topNavTitle {
    float: left;
    font-size:32px;
    color:#FFF;
    padding:30px 10px 20px 40px;
}
#topNavBase {

}
#topNavMenu {
    width: 300px; 	
    float: right;
    padding-top:60px;
    font-family:Verdana, Geneva, sans-serif;
    color:#FFF;
}

#topNavMenu ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#topNavMenu li {
    float:left;
    color:#23a9e1;
}

#topNavMenu a:link {
    font-size:14px;
    width:60px;
    color:#FFFFFF;
    text-align:center;
}

#topNavMenu a:hover {
    font-size:14px;
    background-color:#23a9e1;
}
#topNavMenu a:visited {
    font-size:14px;
    color:#FFF;
}

#container {
    margin: 0 auto;
    background-color:#F9F9F9;
}

.fieldWrapper{
    padding: 3px 0;
}


#loginForm {
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E2EFF4;
    padding:20px 20px;
    margin:30px 30px;
}

#loginForm input {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:18px;
    margin:0 0 5px;
    padding:5px;
    height: 26px;
}

#loginForm input[type="submit"] {
    border:none;
    background-image:url(/static/images/blue-button-active.png);
    background-repeat:repeat-x;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#FFF;
    font-size:18px;
    width:160px;
    color:#FFF;	
    padding:5px 5px;
    height: 40px;
}

#loginForm input[type="submit"]:hover {
    background-image:url(/static/images/blue-button.png);
    background-repeat:repeat-x;
    cursor:pointer;
}

#loginForm input[type="submit"]:focus {
    background-image:url(/static/images/blue-button.png);
    background-repeat:repeat-x;
    cursor:pointer;
}

#optionsMenu {
    background-color:#CCC;
}
#optionsMenu a {
    padding:5px 5px;
}

.optionsMenuLink {
    display:block;	
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#FFF;
    color:#00A8CB;
    border:1px solid #999;
    padding:20px 20px !important; 
    margin:10px 5px; 
}

.optionsMenuLinkOn {
    display:block;	
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#FFF;
    color:#00A8CB;
    border:1px solid #F00;
    padding:20px 20px !important; 
    margin:10px 5px; 
}

.optionsMenuLink:hover {
    border:1px solid #00A8CB;
}

#formError {
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#FFF;
    color:#C00;
    border:1px solid #C00;
    padding:20px 20px;
    margin:30px 30px;
}

#profileBox {
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E2EFF4;
    padding:20px 20px;
    margin:30px 30px;
    border:1px solid #999;
}
.profileSep {
    border-left:1px dashed #666;
    margin:0px 10px;
    height:50px;
    float:left;
}

#profileBoxProfile {
    float:left;
}

/////////////////////////////////////


.formClass {
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E2EFF4;
    padding:20px 20px;
    margin:30px 30px;
}

.formClass label {
    padding:0 20px;
    color:#333;
    font-size:14px;

}

.formClass select {
    border:1px solid #ACE;
    font-size:16px;
    height: 26px;
}

.formClass textarea {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:14px;
}

.formClass input[type="text"] {

    border:1px solid #ACE;
    font-size:18px;
    margin:0 0 5px;
    padding:5px;
    height: 26px;
}
.formClass input[type="password"] {

    border:1px solid #ACE;
    font-size:18px;
    margin:0 0 5px;
    padding:5px;
    height: 26px;
}
.formClass input[type="radio"] {
    border:1px solid #ACE;
    margin: 2px;
    padding: 2px;
}

.formClass input[type="submit"] {


    margin:0 7px 0 0;
    background-color:#fff9d7;
    border:1px solid #e2c822;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:18px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; 

}

.formClass input[type="submit"]:hover {

    background:#ffebe8;
    border: 1px solid #dd3c10;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    cursor:pointer;

}

.formClass input[type="submit"]:focus {
    background-image:url(/static/images/blue-button.png);
    background-repeat:repeat-x;
    cursor:pointer;
}



.buttonSubmit {


    margin:0 7px 0 0;
    background-color:#fff9d7;
    border:1px solid #e2c822;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:18px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; 

}

.buttonSubmit:hover {

    background:#ffebe8;
    border: 1px solid #dd3c10;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    cursor:pointer;

}

#tabnavHeader {
    display:none;
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    background-color:#FFF;
    color:#000;
    padding:10px 10px;
    margin:10px 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #00A8CB;

}


#tabnavContent {

    clear: both;
    padding: 0 1em;
    background-color:#FFF;
}



.headerTab {
    font-size:16px;
    font-family:Verdana, Geneva, sans-serif;
    background-color:#FFF;
    color:#000;
    padding:10px 10px;
    margin:10px 10px; 

}

.headerTab ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.headerTab li {
    position:relative;
    top: 1px;
    float: left;
    border: 1px solid #999;
    border-bottom-width: 0;
    margin: 0px 2px;
    -moz-border-radius:4px 4px 0px 0px;
    -webkit-border-radius:4px 4px 0px 0px;	
    padding: 8px 8px;
    background: #FFF;
    font-weight: bold;
}
.headerTab li:first-child {
    margin-left: 10px;
}

.headerTabContent {


    background-color:#FFF;

}


.locationListLocation {
    padding: 10px;
    border-bottom: 1px dashed #00A8CB;
    font-size:16px;
}
.locationListRow1 {
    background-color:#DFEDF3;
}


.clubListClub {
    padding: 10px;
    border-bottom: 1px dashed #00A8CB;
    font-size:16px;
}
.clubListRow1 {
    background-color:#DFEDF3;
}

.clubListLight {

}
.clubListDark {

}

#bookicon:hover
{ 
    background:#FCDEE8;
    text-decoration:none;
    border:1px solid #000;
}

#guesticon:hover
{ 
    background:#FCDEE8;
    text-decoration:none;
    border:1px solid #000;
}

#bookicon
{
    background: url("/static/images/gradientsub.png") repeat-x;
    font-size:12px;
    font-weight:bold;
    border:1px solid #666;
    color:000;
    text-align:center;
}

#guesticon
{
    background: url("/static/images/gradientsub.png") repeat-x;
    margin-left:5px;
    font-size:12px;
    font-weight:bold;
    border:1px solid #666;
    color:000;
    text-align:center;
}


#gettablebut
{
    background: url("/static/images/book-icon.png") no-repeat;
    margin-right:5px;
}

#getguestbut
{
    background: url("/static/images/guest-icon.png") no-repeat; 
}

#resform
{
    margin-left:25px;
}

.greenButton {
    border:none;
    background-image:url(/static/images/green-button-active.png);
    background-repeat:repeat-x;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#FFF;
    font-size:18px;

    color:#FFF;	
    padding:5px 5px;
    height: 40px;
}

.greenButton:link {
    color:#FFF;
    text-decoration:none;
}

.greenButton:visited {
    color:#FFF;
    text-decoration:none;
}

.greenButton:hover {
    background-image:url(/static/images/green-button.png);
    background-repeat:repeat-x;
    cursor:pointer;
}

.greenButton:focus {
    background-image:url(/static/images/green-button.png);
    background-repeat:repeat-x;
    cursor:pointer;
}

#visualizationBorder {
    border:1px solid #999;
    vertical-align:middle;
    margin-left:20px;
    width: 600px;
    padding:10px 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.menuTable {
    border-right:1px solid #999;
    margin: 0px;
}


.menuTable ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.menuTable li {
    margin: 0px 0px;
    border-bottom:1px solid #ccc;
}


.menuTable a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #666;
    background-color:#FFF;
    padding: 5px 5px;
}

.menuTable a:hover {
    color: #00A8CB;
    border-color: #fa3;
}

.menuTable #selected a {
    background: #B7D9F5;
    color: #000;
    font-weight: bold;
}

.menuTableSubOption {
    padding-left: 30px;
    font-size:10px;
    font-weight:normal !important;
    border:none !important;
}

.menuTableSub2Option {
    padding-left: 40px;
    font-size:10px;
    border:none;
}

.listContentBox {
    margin:0px 10px 20px 0px;
}

.listHeader {
    color:#333;
    background-color:#f7f7f7;
    border-bottom: solid #cccccc 5px;
    padding: 10px;
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:5px;
}


.listContent {
    border-bottom:1px dashed #999;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:15px;
}


.listSubHeader {
    padding-left: 15px;
    color:#999;
    font-weight:bold;
    font-size:12px;
}
.listSubContent {
    font-size:12px;
}



.listEdit {
    float:right;
    font-size:12px;
}

.imgBorder {
    margin-top: -4px;
    padding: 10px 10px;
    border: 2px solid #CCC;
    -moz-border-radius:4px 4px;
    -webkit-border-radius:4px 4px;
    background:url("/static/images/gradient-50.png") repeat scroll 0 0;

}

.homeMenuDesc{ 
    color:#666;
    font-size:12px;
    padding-left:20px;
    padding-top:3px;
    padding-right:60px;
}
.homeMenuHeader{
    padding-top: 7px;
    padding-bottom:3px;
    padding-left:5px;
}

.menuIcon{
    padding:2px;
}


.venueRoomList {

}
.venueRoomListHeaderName {
    color:#333;
    padding: 10px 5px; 
    border:  1px solid #333;
    background-color:#CCC;
    font-size:16px;
    margin: 0px;
    width:200px;
    -moz-border-radius:4px 4px 0px 0px;
    -webkit-border-radius:4px 4px 0px 0px;
}
.venueRoomListHeaderRoom {
    background-color:#CCC;
    color:#000;
    border-bottom: 1px solid #000;
    padding: 10px 5px; 
    font-size:16px;
    margin: 0px;
    width:200px;
    -moz-border-radius:4px 4px 0px 0px;
    -webkit-border-radius:4px 4px 0px 0px;
}
.venueRoomListHeader {
    background-color:#FFF;
    color:#00A8CB;
    padding: 10px 2px;
    border-bottom:  1px solid #00A8CB;
    font-size:16px;
    margin: 0px;
}
.venueRoomListRow2 {
    background-color:#DFEDF3;
    padding: 10px;
    border-right:  1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    font-size:16px;
    margin: 0px;
}
.venueRoomListRow1 {
    background-color:#FFF;
    padding: 10px;
    border-right:  1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    font-size:16px;
    margin: 0px;
}
.venueRoomListRow3 {
    background-color:#CCC;
    padding: 10px 10px;
    border-right:  1px dashed #333;
    border-bottom: 1px dashed #333;
    font-size:16px;
    margin: 0px;
}

.venueRoomTablesSelectList {
    border:  1px solid #333;
    font-size:16px;
    background-color:#FFF;
    color:#000;
}

#resTypes {
}
#addResType {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    background-color:#F9F9F9;
    margin:5px 5px;
    padding:5px 5px;

}
#addResTypeAdv {
    display: none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    background-color:#FFF;
    margin:5px 5px;
    padding:5px 5px;
}
#addAreaSection {
    display: none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    background-color:#FFF;
    margin:5px 5px;
    padding:5px 5px;
}
#inotherwords {
    font-size:12px;
    color:#333;
    font-weight:bold;
    padding:0px 5px 5px 5px;
}

.eventDate{
    background-color:#333;
    color:#FFF;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    font-weight:bold;
    width:120px;
    padding:20px;
    float:left;
    margin:20px;
}
.eventDetail{
    color:#333;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:20px;
    float:left;
    margin:20px;

}
.eventContainer {
    width:650px;
    margin-left:30px;
}
.eventContList1 {
    background-color:#FFF;
    border-bottom:1px dashed #000;

}
.eventContList2 {
    background-color:#CCC;
    border-bottom:1px dashed #000;
}

.venueName {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    color:#000;
    padding:10px 10px;
    margin:10px 0px;
    font-size:24px;
    font-weight:bold;
    height:30px;
    background:url("/static/images/bckg.png") repeat scroll 0 0 #ACE;

}

#addResTypeAdvButton {
    cursor:pointer;
    border:1px solid #ACE;
    color:#333;
    background:#FFF;
    width:auto;
    margin:5px 0px;
    padding:5px 5px;
}
#addAreaSectionButton {
    cursor:pointer;
    border:1px solid #ACE;
    color:#333;
    background:#FFF;
    width:auto;
    margin:5px 0px;
    padding:5px 5px;
}
#resTypesTable {
    list-style-type:none;
}
.resTypesTableHeader {
    padding: 3px 10px;
    border:1px solid #CCC;
}

.asUL {
    list-style:none;
    padding:5px 5px;
}
.asUL li{
    margin-left:20px;
    font-size:14px;
    font-weight:bold;
    padding:2px 2px;
}
.asULsub {
    list-style:none;
    padding:5px 5px;
}
.asULsub li{
    margin-left:40px;
    font-size:12px;
    font-weight:normal;
    padding:2px 2px;
}
.asTip {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 2px dashed #063;
    background:#FFF;
    color:#093;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

}
#eventsListTable {
    margin:10px 40px;

}
#eventsListTable table {


}
#contactListTable {
    margin:10px 40px;

}
#contactListTable table {


}

#reservationEventsTable {
    margin:10px 40px;

}
#reservationEventsTable table {



}

#reservationContactsTable {
    margin:10px 40px;

}
#reservationContactsTable table {



}
.resTypeColumn0 {
    padding:10px 10px;
    border-bottom:1px dashed #333;
    background-color:#FFF;
    margin:0px 20px;
}
.resTypeColumn1 {
    padding:10px 10px;
    border-bottom:1px dashed #333;
    background-color:#F9F9F9;
    margin:0px 20px;
}

#pickResType {
    display:none;
}
#pickContact {
    display:none;
}
#selectedEvent {
    font-size:18px;
    font-weight:bold;
    border:3px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:10px 10px;
    margin:0px 10px;
}
#selectedResType {
    font-size:18px;
    font-weight:bold;
    color:#090;
    border:3px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:10px 10px;
    margin:0px 10px;
}
#addReservationNew {
    display:none;
    font-size:16px;
    font-weight:bold;
    color:#36F;
    border:3px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:10px 10px;
    margin:10px 40px;
}

#addReservation {
    display:none;
    font-size:16px;
    font-weight:bold;
    color:#36F;
    border:3px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:10px 10px;
    margin:10px 40px;
}

#addReservationName {
    color:#333;
    font-size:18px;
    padding:10px 10px;
    margin:10px 10px;
}
#reservationsListTable {
    margin:10px 40px;

}
#reservationsListTable table {


}

#reportListTable {
    margin:10px 40px;

}
#reportListTable table {

}
.newReservation{
    font-size:18px;
    font-weight:bold;
    color:#F90;
    border:3px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:10px 10px;
    margin:10px 50px;
}
#queryContacts {
    width: 350px;
    margin-left:20px;
}

#query {
    width: 350px;
    margin-left:20px;
}
#eventInfo{
    font-size:24px;
    color:#039;
    padding:10px 10px;

}
.dateInfo{
    font-size:16px;
    color:#999;
    padding: 5px 10px;
}
#rt_publictype_cont {

    list-style:none;
    padding:10px 10px;
    border:1px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#rt_publictype_cont li {
    padding:5px 5px;
}

#customHeader {
    padding:10px 10px;
    border:1px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
#customFooter {
    padding:10px 10px;
    border:1px solid #ACE;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.box {
    border:1px solid #666;
    margin:0px 10px 10px 10px;

}
#customDesign{
    margin:20px 20px;
}
#customColors{
    margin:20px 20px;
}

#customBodySection{
    width:auto;
}
.customBodySectionHeader{
    padding:5px 5px;
}
.customBodySectionBody{
    padding:5px 5px;
}

#profilehead {
    padding:5px 5px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.profilebox {
    padding:5px 10px;
}
.subscription-description {
    font-size: 12px;
    margin: 5px 30px 0 0;
}
.public-question-v3 .pq-title-header-container h1 {
    font-size:28px
}
.public-question-v3 .pq-title-header-container h2 {
    font-size:22px;
}
.public-question-v3 textarea.form-control {
    height: 70px; 
}
.modal-positioned-container {
    position: fixed; 
    left: auto;
    right: 10px; 
    bottom: 20px; 
    padding: 0;
    z-index: 999999;
}
.article_container{
    padding-right:15px;
    padding-left:15px;
}
.pqv3-expert-specialty {
    margin: 5px 0;
}
.expert_details {
    background: #fff;
    height:auto;
    padding: 10px 0px;
}
.step2press{
    width:99%;
}


.text-area {
    font-size: 16px;
}

#ibmurenoukaohuqogpjzbygkfarqmsuod{border:solid 2px #fff !important;color:#fff !important;display:block !important;height:auto !important;margin:0 !important;opacity:0.9 !important;padding:7px 10px !important;position:fixed !important;visibility:visible !important;width:auto !important;z-index:2147483647 !important;-moz-border-radius:5px !important;border-radius:5px !important;-moz-box-shadow:0px 0px 20px #000 !important;box-shadow:0px 0px 20px #000 !important;}.ibmurenoukaohuqogpjzbygkfarqmsuod-blocked{color:#777 !important;display:inline !important;text-decoration:line-through !important;}#ibmurenoukaohuqogpjzbygkfarqmsuod span{background:transparent !important;}#ibmurenoukaohuqogpjzbygkfarqmsuod div{border:0 !important;margin:0 !important;padding:0 !important;width:auto !important;letter-spacing:normal !important;font:13px Arial,Helvetica !important;text-align:left !important;text-shadow:none !important;text-transform:none !important;word-spacing:normal !important;}#ibmurenoukaohuqogpjzbygkfarqmsuod a{font-weight:normal !important;background:none !important;text-decoration:underline !important;color:#fff !important;}@media print{#ibmurenoukaohuqogpjzbygkfarqmsuod{display:none !important;}}


.step4 .subscription-description .service-description div {
    margin: 0px 3px 0px 0;
}    
.step4 .breadcrumb {
    padding: 0;
}
.step4 .bubble:before {
    border-style: none;
}
.step4 .service-header-desc img {
    width: 14%;
}
.step4 .communication-description img {
    float: right;
    margin: 0 5px 0 5px;
    padding: 0;
    width: 5%;
}
.step4 .communication-description span {
    display: block;
    float: right;
    margin: 20px 0 0;
    padding: 0;
}
.step4 button {
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 40px;
}
.public-question-v3 .expert-image, .communication-options img, .pq-popup-expert-details .expert-image {
    width: 55px;
}
.pq-popup-expert-details .expert-image {
    width: 63px 
}
.questions-answer-often {
    font-size: 20px;
}
.questions-answer-often-desktop {
    margin: 0 0 10px 0;
}
.expert-online-now {
    float: left; 
    margin-right: 60px;
    color: #2bb92b;
}
.pin-verification-error-container {
    margin: 0 0 0 0;
}
.pin-verification-error-container .red-msg-container {
    text-align: right;
}
.pin-verification-error-container ol {
    color: #555;     
    font-size: 18px; 
    list-style-image: none;
    list-style-position: inside; 
    padding: 0;
    text-align: right;
}
.pin-verification-error-container .red-msg-container .red-msg-background {    
    font-weight: normal;     
    padding: 4px 0 0 0;
    font-size: 30px;
}
.credit-card-button-container p {
    margin: 10px 0 0 0;
    color: #b94a48;
    font-size: 12px;
    clear: both;
}
.credit-card-link-container {
    margin: 20px 0 0 0;   
}
.hide-class {
    display: none !important;
}
.step3-tpay-back-link {
    float: left;
}
.navbar-header .step3-tpay-back-link {
    color: #fff;
    float: left;
    height: 50px;
    margin: 0 0 0 5px;
    padding: 14px 0 0;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

@-webkit-keyframes ld {
    0%   { transform: rotate(0deg) scale(1); }
    50%  { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
    0%   { transform: rotate(0deg) scale(1); }
    50%  { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
    0%   { transform: rotate(0deg) scale(1); }
    50%  { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
    0%   { transform: rotate(0deg) scale(1); }
    50%  { transform: rotate(180deg) scale(1.1); }
    100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';

    display: inline-block;

    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    box-sizing: border-box;

    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;

    width: 24px;
    height: 24px;

    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;

    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;

    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;

    width: 14px;
    height: 14px;
}

.leftside{
    width:65%;
    float: left;
}
.subscription-packages-outer-container {
    padding: 0px 0px 0px 10px;
}

.money-back-guarantee-text2, .verify-daily-subscription-text2, .money-back-guarantee-text1 {
    color: #555;
}
.money-back-guarantee-text1 {
    margin: 25px 0 0 0;
    line-height: 20px;
}
.verify-daily-subscription-text1 {
    margin: 10px 0 20px 0;
}
.money-back-guarantee-exprt-block, .verify-daily-subscription-expert-block {
    margin: 5px 0 0 0;
}
.money-back-guarantee .modal-body{
    padding: 0 10px;
}
.verify-daily-subscription .modal-body {
    padding: 10px;
}
.s3npv4 .press_logo {
    margin-bottom: 0px;
}
.s3npv4 .carousel-indicators {
    width: auto;
}
.carousel-indicators {
    margin-left: 0;    
    position: unset;
    width: 60%;
    padding-right: 0;
}
.s3npv4 .carousel-indicators li {
    border: 1px solid #000;                  
    background-color: #295378;
}    
.s3npv4 .carousel-indicators li.active {
    background-color: #fff;      
    margin: 0;
}
.s3npv4 .btn-warning-normal, .s3npv4 .btn-warning {
    background: #fbb450 linear-gradient(to bottom, #49c147 5%, #49c147 100%) repeat scroll 0 0;
    border: 1px solid #49c147;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #49c147 inset;
    color: #ffffff;
    display: inline-block;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #49c147;
}
.s3npv4 .btn-warning-normal:hover, .s3npv4 .btn-warning:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49c147), color-stop(1, #49c147));
    background:-moz-linear-gradient(top, #49c147 5%, #49c147 100%);
    background:-webkit-linear-gradient(top, #49c147 5%, #49c147 100%);
    background:-o-linear-gradient(top, #49c147 5%, #49c147 100%);
    background:-ms-linear-gradient(top, #49c147 5%, #49c147 100%);
    background:linear-gradient(to bottom, #49c147 5%, #49c147 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#49c147', endColorstr='#49c147',GradientType=0);
    color:#ffffff;
    background-color:#49c147;
}
.s3npv4 #payment-form {
    margin-bottom: 10px;
    padding: 0;
}
.s3npv4 .panel-default > .panel-heading {
    background-color: #fff !important;
    border-color: #dcdde0 -moz-use-text-color;
    border-style: solid none;
    border-width: 1px medium;
    color: #000 !important;
}
.s3npv4 .panel a:link {
    color: #353535 !important;
}
.popover {
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 10px;
}
#carousel-step3-experts .item div p {
    width: 160px;
}
.s3npv4 .carousel-indicators li {
    height: 5px;
    width: 5px;
}
.s3npv4 .gaa-t {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 20px;
    padding: 0;
}

.s3npv4 .gaa-p {
    font-size: 14px;
    margin: 0 0 20px;
    padding: 0;
}
.s3npv4 .gaa-tc {
    margin: 0 0 40px 0;
    border-top: none; 
}
.s3npv4 .ucwe-t {
    font-size: 16px; 
}
.s3npv4 .sb {
    margin: 30px 0 30px 0;
}
.s3npv4 .spt {
    font-size: 16px; 
    margin: 5px 0 22px; 
    padding: 0;
}
.s3npv4 .htc-g {
    background-color: #fff; 
    border: none;
    padding: 0 0 0 10px;
}
.s3npv4 .expert-profile-desktop div {
    border-top: 0px; 
}
.s3npv4 .qa-tc {
    border: none; 
    font-size: 11px; 
    padding-right: 5px; 
    padding-top: 2px;
    margin-bottom: 27px;
}
.s3npv4 .qa-t {
    padding-right: 5px; 
    padding-top: 2px; 
    font-size: 15px;
}
.s3npv4 label {
    font-weight: normal;
    font-size: 16px;
}
.s3npv4 .pfbp {
    color: #353535; 
    font-size: 14px;
}
.s3npv4 .panel-heading {
    padding-left: 10px 0 10px 10px;
}
.form-group input {
    font-size: 16px;
}
.form-group .form-control {
    font-size: 16px;
}
.input-style {
    font-size: 16px;
}
@media screen and (min-device-pixel-ratio: 2) {
    h5.description{
        font-size:30px;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px){
    .container{
        padding-right:5px !important;
        padding-left:5px !important;
    }
    .profile_container{
        padding-right:5px !important;
        padding-left:5px !important;
    }
    .paymethod a:link{
        font-size:15px !important;
    }
    .mobile-0{
        width:100% !important;
        padding-bottom:10px;
    }
}

@media(max-width:767px){
    .mobile-label{
        float:right;
        width:35% !important;
        font-size:13px;
    }
    .mobile-input{
        width:65%;
        float:right;
    }
    .mobile-input-select1{
        margin-left:4%;
    }
    .mobile-input-select{
        width:28% !important;
        float:right;
    }
    .d3{
        right:15px !important;
    }
    .marginbott{
        /*                    margin-bottom:-17px !important;*/
    }
    .padding0{
        padding-left:0px !important;
        margin:0px !important
    }
    .press2{
        width:75px;
    }
    .press3{
        width:92px;
    }
    .press4{
        width:55px;
    }
    .press1 {
        display:none;
    }
    .error-alert{
        margin-top:45px;    
    }

    .error-alert .alert , .col-md-9 .alert{
        font-size: 8px;
        padding: 5px;
        text-align: right; 
    }
    .hayat_logo{
        width:60px;
        height:34px;
        background:url('/static/img/press/alhayat150x68.png') no-repeat;
        background-size:60px;
        float:right;
        margin-right:10px !important;
    }
    .day_logo{
        width:90px;
        height:22px;
        background:url('/static/img/press/7day2184x44.png') no-repeat;
        background-size:90px;
        float:right;
        margin-top:7px;
    }

    .ray_logo{
        width:50px;
        height:40px;
        background:url('/static/img/press/alrai2124x80.png') no-repeat;
        background-size:50px;
        float:right;

    }
    .cnn_logo{
        width:95px;
        height:37px;
        background:url('/static/img/press/cnnlogo230x74.png') no-repeat;
        background-size:95px;
        float:right;

    }
    .home-how-part .col-md-4{
        border-bottom:1px solid #6987AA;
    }
    .home-how-part h2{
        font-size:20px;
        color:#7CC5FF;
        font-weight:bold;
    }
    .home-how-part h5{
        font-size:15px;
    }
    .home-how-part{
        background:url('/static/img/how-bar.png') !important;
    }
    .home-how-part .container{
        padding-left:0px;
        padding-right:0px;
    }
    .mobile-succes-msg{
        margin-bottom:0px;
        font-size:12px;
    }
    .home-how-part img{
        width:80px;
        margin-right:0px !important;
    }
    .home-online-part .label-primary{
        font-size:24px !important;
    }
    .home-online-part .header-online{
        font-size:18px !important;
    }
    .press_logo{
        width:auto;
        text-align:center;
    }
    .press_logo .row a{
        margin-left:8px !important;
    }
    .answer-choice-box{
        padding:0px !important;
    }
    .answer-choice-box .list-inline li
    {
        padding:5px !important;
    }  
    .comments-counter{
        width:100%;
    }
    .comment{
        width:100% !important;
        float: none;
        border-left:none !important;
        padding:5px;
        margin-right:0px !important;
    }
    .commentContainer{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) ;
        border: medium none;
        margin: 0 auto;
        width: 95%;
    }
    .step2press{
        width:100%;
    }
    .comments-counter h1{
        font-size: 24px;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom:10px;
    }
    .comments-counter .comment.first_comment{
        border-bottom:solid 1px #ccc;
        padding:5px;
    }
    .loading-wrapper{
        padding:10px 20px !important ;
        margin:0px !important
    }
    .forgot-pass-btn button{
        font-size:16px;
        padding:10px 15px;
    }
    .mobile_home_container{
        padding:0px !important;
    }
    .home-top-part .header-changer{
        font-size: 22px !important;
        margin-top: 10px!important;
        text-align:center;
    }
    .mobile-home-exp{
        margin-bottom:40px;
        width:100%;
        margin:0px auto 40px;

    }
    .mobile-home-exp .exp-img1{
        background:url('/static/img/experts/ex4_2.png') no-repeat;
    }
    .mobile-home-exp .exp-img2{
        background:url('/static/img/experts/e7_2.png') no-repeat;
    }
    .mobile-home-exp .exp-img3{
        background:url('/static/img/experts/ex2_2.png') no-repeat;
    }
    .mobile-home-exp .exp-img4{
        background:url('/static/img/experts/experts.png') no-repeat;
        margin-left:0px;
    }
    .question-button .mobile-question-btn{
        margin-top:15px;
    }
    .question-button{
        width:90%;
        margin:0px auto !important;
    }
    .mobile-home-exp .exp-img{
        width:22%;
        padding-top:67px;
        border-radius:45px;
        height:67px;
        float:right;
        margin-left:9px;

        background-size:67px;
    }
    .mobile-home-exp .exp-img p{
        font-size:10px;
        text-align:center;
        margin:0px;
    }
    .mobile-home-exp .exp-img .special{
        color:#7CC5FF;
    }
    .jumbotron{
        padding:30px 10px;
    }
    .rate_btn{
        margin-right:15px !important;
        margin-bottom:20px !important;
    }
    .mobile_smily_panel{
        padding-left:0px !important;
    }
    .smily_body{
        padding:0px !important;
        text-align:center;
    }
    .comments-counter .comment-txt{
        font-size: 11px !important;
        text-align:right;
        margin-right:60px;
        margin-bottom:2px;
    }
    .comments-counter .data{
        font-size: 12px;

        margin-right: 60px;
        text-align: right;
        width: 190px;
    }
    .comments-counter .data span{
        font-weight: bold;  
    }
    .home-online-part h4{
        font-size:16px!important;
    }
    .step2counterm{
        border-top:none !important;
    }
    .profile-img img{
        width:80px !important;
        height:80px;
    }
    .comment{
        width:100% !important;
    }
    .smily_body button{
        /*                    margin-right:25px;*/
        font-size:18px;
        padding: 10px 27px !important;
    }
    .new_expert img{
        width:70px;
        position:relative;top:-10px;
    }
    .verfied_expert_btn{
        font-size:18px !important;
        padding:10px 27px !important;
    }
    .mobile_step2{
        display:none !important;
    }
    .step2title{
        font-size:22px;font-weight:bold
    }
    .answer-picker-wrapper{
        padding:0px !important;
        width:100%;
    }
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
        background:#fff;
        border-bottom:4px solid #295378 !important;
        height:39px;
    }
    .lp-mobile-view{
        display:block !important;
    }
    .img-cont img{
        width:120px !important;
    }


    .loginViewer{

        font-size: 16px ; 
        padding: 5px 19px !important;
        position: relative;
        right: 8% !important;
        top: 50%;
    }
    .hidemobile{display:none;}

    .select_menu{

        background: url("/static/img/select_arrow.png") no-repeat scroll 4px 7px #FFFFFF;

    }
    .q_mobile_l{
        padding:10px 2px !important;
    }    
    .rightside_question{
        margin-right:0px !important;
        margin-top:10px;
    }
    .pq_holder{
        margin-bottom:0px;   
    }
    .rightside_question .panel-body{
        padding:0px !important;
    }
    .article-panel{
        padding:15px 0px;
    }
    .staisfied_details{
        padding-top: 0  !important;        
    }
    .staisfied_details p{
        margin: 0;
    }
    .add_question textarea{
        width:100% !important;
    }
    .add_question .btn {
        width:100%;
        float: left;
        font-size: 18px;
        margin-right: 0 !important;
        margin-top: 11px;
        padding: 10px 87px !important;
    }
    .expert_titile ,.answered_q{
        font-size:12px !important;                
    }
    .expert_titile p{
        margin-bottom:0px;
        font-size:16px !important;
    }
    .step1holder{
        width:100% !important;
    }
    .staisfied_details img{
        width:30px;
    }
    .mobile_view{
        display:none;
    }
    .list-group-item:last-child{
        border-radius:0px;
    }
    .question_area{
        display:block !important;
        border: 1px solid #CCCCCC;
        height:auto;
        margin:10px auto 0px;
        background:#fff;
        padding-top:10px;
    }
    .skip-area{
        margin-top:2px;
    }

    .skip-area a.misplaced_btn{
        font-size:16px;
    }
    .subject-exp{
        float:left;
        margin-left:10px;
    }
    .time_exp{
        background:none !important;
        color:#999999 !important;
    }
    .question-detail{
        clear:both;margin-bottom: 5px;padding-bottom:5px;border-bottom:solid 1px #ccc

    }

    .mobile_modal .modal-content{
        border-radius:0px;
        height:modal-content;
        background:url('/static/img/fb-article-banner.png') no-repeat #3b5998;
    }
    .mobile_modal h1{
        font-size:25px;
        padding:0px;
        margin:0px;
        color:#fff;
    }
    .payment_way p{
        text-align: center;
        margin: 0px 20px;
        background: url('/static/img/payment_arrow.png') no-repeat left 11px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .payment-amount{
        margin-top:0px;
    }

    .view_modal{
        display: block !important;
        margin-top:10px;
    }
    .desktop-modal{
        display:none !important;
    }
    .ddd{
        display:none !important;
    }

    .bottom-prompt-cont {
        position: relative;
    }  
    .bottom-prompt.shown {
        direction:ltr;
        max-height: 70px;
        transition: max-height 0.3s ease 0s;
    }
    .bottom-prompt {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        bottom: 0;
        height: 70px;
        left: 0;
        max-height: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        transition: max-height 0.3s ease 0s;
        z-index: 10;
    }
    .bottom-prompt .close-cont {
        background: none repeat scroll 0 0 #4F4F4F;
        color: #FFFFFF;
        padding: 0 11px 0 7px;
        width: 48px;
    }

    .bottom-prompt .icon-close-cont {
        border-right: 1px solid #707070;
        margin-right: 7px;
        padding-right: 6px;
    }
    .bottom-prompt .icon-close-cont, .bottom-prompt .close-txt {
        padding-top: 7px;
        text-transform: uppercase;
        position:relative;
        top:-5px;

    }


    .icon-x-large {
        background-image: url("/static/img/new_close.png");
        background-position: 0 -915px;
        background-repeat: no-repeat;
        display: inline-block;
        height: 9px;
        width: 9px;
    }

    .bottom-prompt .close-txt {
        font-size: 9px;
        font-weight: 600;
        position:relative;
        left:5px;
        vertical-align: top;
    } 
    .bottom-prompt .icon-close-cont, .bottom-prompt .close-txt {
        padding-top: 7px;
        text-transform: uppercase;
    }  

    .bottom-prompt .prompt-text-cont {
        background: none repeat scroll 0 0 #3B5998;
        float: left;
        height: 100%;
        padding-top: 12px;
        width: 65%;
    }
    .bottom-prompt .prompt-logo-cont {
        bottom: 12px;
        display: inline-block;
        padding: 12px 5% 0 0;
        position: relative;
    }
    .bottom-prompt .icon-f-large {
        margin-left: 15px;
    }

    .icon-f-large {
        background-image: url("/static/img/f-img.png");
        background-repeat: no-repeat;
        display: inline-block;
        height: 38px;
        width: 27px;
        position: relative;
        top: -7px;
    }

    .bottom-prompt .prompt-logo-txt {
        color: #FFFFFF;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;

        width:80px;
        margin: 5px 0 0;
        text-transform: uppercase;
        vertical-align: top;
    }


    .bottom-prompt .prompt-like-content {
        background: none repeat scroll 0 0 #23355B;
        float: left;
        height: 100%;
        padding-top: 12px;
        width: 35%;
    }


    .bottom-prompt .tri-divider {
        border-bottom: 50px solid #23355B;
        border-left: 28px solid rgba(0, 0, 0, 0);
        border-right: 9px solid rgba(0, 0, 0, 0);
        height: 0;
        left: -28px;
        position: relative;
        top: -29px;
        width: 0;
    }

    .bottom-prompt .fb-like-cont {
        height: 28px;
        margin: -14px auto 0;
        vertical-align: middle;
        width: 63px;
    }
    .fb-like-cont {
        height: 20px;
        margin: 0 auto 12px;
        overflow: hidden;
        width: 48px;
    }



    .desktop-modal-fadin{
        display:none !important;
    }
    .mobile-paymentoption{
        display:block !important;
        height:56px;
        background:url('/static/img/newpayment_bg.png') 0px -2px;
        border-radius:0px;
        border-right:none;
        border-left:none;
        cursor:pointer;
        border-color:#ccc !important
    }

    .mobile-paymentoption .fb-payment-bg{
        background:url('/static/img/fb-bg.png') no-repeat !important;

    }
    .article_container{
        padding-right:0px;
        padding-left:0px;
    }
    .padding10{
        padding:0px !important;margin-top:0px; 
    }
    .desk-payment{
        display:none;
    }
    .mobile-paymentoption .payment-amount{
        font-size:15px;
        padding:10px;
        width:70px;
        height:54px;
        float:right;
        background:#428bca;
        color:#fff;
        line-height:18px;
    }
    .mobile_modal .modal-dialog{
        position:fixed;
        bottom:0px;
        width: 95% !important;
        margin-right: 0px;
        padding: 0px;
    }
    .mobile_modal .modal-content{
        border-radius:none;
    }
    .mobile_modal .modal-body{
        height:70px;
    }

    .profile_img-tab{
        width:30% !important;
    }
    .profile_img-tab img{
        width:60px !important;
    }
    .profile_question_btn{
        clear:both;
        padding:5px;
    } 
    .profile_question_btn button{
        margin-bottom:5px;
    }
    .article_expert_data{
        background:none !important;
    }
    .question_area p{
        background:none !important;
        line-height:24px;
        word-wrap:break-word;
    }
    .mo-table{
        font-size:14px;
    }
    .payHome {
        line-height:24px;
    }
    .cityLocation{
        font-size: 15px;
    }
    .payHome  H3{
        font-size:20px;
    }
    .payHome p{
        font-size:17px;
    }
    .inner-press a p{
        margin-right:120px;
    }
    .stamp-text{
        margin-right:120px;
    }
    .payHome button{
        margin: 0px auto !important;
        float: none;
        display: block;
    }
    .navbar-brand  img{
        display:none;
    }
    .navbar-brand {
        background:url("/static/img/mobile-j-logo2.png") #295378 no-repeat;
        background-size:170px;
        width:170px !important;
        height:24px !important;

    }
    .checktext{
        font-size:12px;
    }
    .filter_menu ul{
        padding:0px;
    }
    .newregmodel{
        width:100% !important
    }
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
        color:#736F6E;
    }
    .filter_menu{
        border:solid 1px #ccc;
        border-bottom:none;
        border-right:none;
        display:block !important;
        width:97%;
        height:40px;
        line-height:40px;
        margin-bottom:5px;
        list-style-type:none;
        text-align:center;
        clear:both;
        background:url('/static/img/menuback.png') ;
        position:fixed;
        z-index:1000;
        top: 53px;

    }    
    .filter_menu li{
        float:left;
        list-style-type:none;
        width:33%;
        border-right:solid 1px #c6c6c6;

    }
    .filter_menu li a{
        padding:0px;
        margin:0px;
        font-size:12px !important;
        background:none;
        border:none;
        color:#999896;
        font-weight:bold;
    }
    .center_text{
        text-align:center;
        margin-top:10px;
        display:block !important;
    }
    .security-code{
        padding:0px 5px !important;
    }
    .dropdown{
        margin-bottom:5px;
    }
    .mobile-paymentoption .fb-login-button img {
        max-width: 38.6667%;
        padding-left: 0;
        padding-right: 0;
        padding-top:5px;
        position:relative;


    }
    .mobile-paymentoption .fb-login-button {
        text-align: center;
    }

    .top12{
        margin-top:12px !important;
    }
    .answer-custom{
        color: #FFFFFF !important;
        float: none !important;
        font-size: 17px !important;
        margin: 14px auto !important;
        padding: 10px 30px !important;
        width: 45%;
    }

    .mobile_misplaced_btn{
        color:#1A344B !important;width:50% !important;margin-right:0px !important;border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none
    }
    .mobile_misplaced_btn1{
        color:#1A344B !important;width:50% !important;margin-right:0px !important;border-top-right-radius:0px;border-bottom-right-radius:0px;
    }
    .misplaced_btn{
        float: right !important;padding:10px 20px !important;border:solid 1px #ccc

    }

    .answer_block{
        width:100% !important;
    }
    .display-n{
        display:block !important;
    }
    .certified{
        font-size:14px !important;
    }
    .new_cont_btn{
        float:none !important;
        margin:0px auto;
        display:block !important;
    }
    .hidden-m{
        display:none;
    }
    .answered_q{
        font-size:12px !important;
    }
    .cat_title{
        float:left;
        margin-left:0px;
        display:block;
    }
    .currency_cont{
        margin-bottom:10px;
    }
    .time_stamp{
        color:#999999;
        background:none;
    }
    .answered_q span.percent{
        margin-right: 0 !important;
        margin-top: 5px;
        display: inline;
    }
    .m-payto-ans{
        padding:10px 10px !important;;
        font-size:14px !important;
        margin-top:15px;
        position:relative;
        /*                    right: -116px;*/
    }
    .mobile-scroll{
        display:none !important;
    }
    .question-text-pr{
        width: 70%;
        word-wrap: break-word;
        float: left; 
    }
    .m-invite{
        margin-right: 10px;
        border-radius: 7px;
        margin-top: 15px;
        position: relative;

    }
    .mobile-panelbody{
        padding:0px !important;
        padding-bottom:10px !important;
    }
    .mobileLogFb{
        height:36px !important;
        width:180px !important
    }
    .mobile_homeT{
        line-height:40px;
    }
    .mobilelogSubmit{
        padding:10px 0px!important;
        width:180px;
        height:36px !important;
        line-height:14px !important;
        margin-left:0px !important;
    }
    .left_65{
        margin-right:56px !important;

    }.expert_titile p{
        font-size: 14px !important;
    }           

    .breadcrumb li{
        width:100%;
        text-align: right;
    }
    .articles_socila_icons{
        display:block !important;
    }
    .new-log-input1{
        width:71% !important;  
    }
    .newregbtn{
        height:40px !important; 
        margin-right:14px !important
    }

    .newlogbtn{
        height:40px !important; 

    }
    #credit-card-form   .alert {
        width:100%;
    }
    .mobile-error-msg{
        font-size:12px;
        padding:5px;
        padding-left :0px !important;
    }
    .mobileH{
        padding:10px !important;
    }
    .bottom0{
        margin-bottom:5px !important;
    }
    .new-log-title{
        padding-bottom:0px !important;
    }
    .new-log-input , .new-log-title {
        margin-bottom:5px;
    }
    .logpopupFooter{
        padding-bottom:5px !important;
    }

    .r.payment_way pepeatPass{
        margin-right:18% !important;
    }
    .automobile-width{
        float:none;
        width:100%;
        height:auto;
    }
    .register-new-popup h2{
        font-size:16px !important;
    }

    .modal-dialog{
        width:auto;
    }

    .mobile-log{
        padding-right:25px !important;

    }
    .fixfixed
    { 
        position: absolute; 
    } 
    .mobile-btn{

        /*                    position:fixed;
                            float:left;*/
    }
    #shareTop a.btn-share {
        display: block;
        float: right;
        margin: 0;
        width: 50%;
        margin-left:0px !important;

    }
    .form-control:focus{
        box-shadow:0px;
    }
    #credit-card-form .alert {
        line-height:23px;
    }
    .paymethod a:link{
        font-size:15px !important;
    }
    .mobile-0{
        width:100% !important;
        padding-bottom:10px;
    }
    .up-video{
        width:100%;
        height:390px;
    }
    .rightSide_form{
        display:none;
    }
    .mobile-def-text{
        background:none;border:none;padding:0px;background:none
    }
    .visible-desktop {
        display:none !important;
    }
    .credit-mobile-submit{
        float: right;
        width: 200px !important;
    }
    .mobile-paypal{
        margin:0px auto; 
    }
    .step2titlemobile{
        font-size:18px;
        font-weight:normal;
    }
    .online-tag{
        float:left;
        margin-top:-20px;
        color:#32b930  
    }
    .backpayment a{
        background:url('/static/img/payment_arrow.png') no-repeat 10px center;
        float:right;color:#295378;width:100%;padding:5px

    }
    .mobile-detect-number{
        width:25% !important;
        float:right;
    }
    .mobile-card1 {
        float: right;
        padding:0px !important
            width: 50%;
    }
    .mobile-card1 img{
        width:42px;
    }
    .mobile-float{
        float:right;
        width:40%;
    }
    .img-cons img{
        width:58px;
        margin-top:0px !important;

    }
    .mobile-credit-panel{
        background:none !important;
        border:none !important;
        padding:0px !important;
        box-shadow:none;
    }
    .paypal ,.cashu{

    }
    .fb-pament{
        background:url("/static/img/fb-bg.png") no-repeat right 0px !important;
        width:77%;
        height:55px;
        margin:0px ;
        float:right;

    }
    .backpayment{
        background:url("/static/img/top_selected_payment.png") repeat scroll 0 -2px rgba(0, 0, 0, 0);
        height:50px;
        padding-top: 15px;
        text-align: center;
        position:relative;
        top:-10px;

    }
    td.selected{
        background:#fff;
        border-bottom:solid 4px #295378 !important

    }
    #payment-form{        
        margin-bottom:10px;
        padding: 0 10px;
    }
    .second_comment{
        margin-top:10px;
    }
    .step2press img{
        width:22% !important;
    }
    .payment-cont{
        cursor:pointer;
        min-height: 36px;
        /* float: right; */
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
        border: none !important;
        background: none !important;
        border-radius: 0px !important;
        box-shadow: none !important;
    }
    table.paymnetoptions{
        background:url("/static/img/newpayment_bg.png") repeat scroll 0 -2px rgba(0, 0, 0, 0);
    }
    .paymnetoptions td{
        border:solid 1px #ccc;
    }
    .master_card .img-cons img{
        width:35px;
        margin-left:0px;
    }
    .payment-way{

    }

    a.twitter_button{
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
    }


    a.facebook_button{
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
    }

    .expert_details .fb-like{
        display:none !important;
    }
    .expert_titile{
        width:100% !important;
        line-height:20px;
    }
    .expert_img img{
        width:75px;
    }

    .expert_data{
        width: 69% !important;;
        float: right;
        padding-right: 7px;
        margin-top: 10px;
        background: url('/static/img/trust_mark.png') no-repeat left -5px ;
    }
    .answered_q span {
        display: inline;
    }
    .testimonial-box-lp {
        background: url("/static/img/gray_texture.jpg") repeat scroll 0 0 #f0f1f2;
        margin-top:5px;
    }
    .lp-body-container .description-mobile {
        background: url("/static/img/gray_texture.jpg") repeat scroll 0 0 #f0f1f2;
    }
    .lp-form-exp, .description-mobile, .news-section-lp-exp {
        padding-left:15px;
        padding-right:15px;
    }
    .about-us-page .question-header {
        font-size: 20px;
        padding-top: 8px;
    }
    .about-us-page p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 28px;
    }
    .about-us-page h1 {
        font-size: 23px;
    }
    .install-jawabkom-app-container p button {
        font-size: 20px;        
    }
    .public-question-expert-detail h2, .popup-main-question-form-container .radio label, .pq-popup-expert-details .communication-options, .main-question-form-container label {
        font-size: 16px;
    }
    .public-question-expert-detail h2.public-question-expert-name {
        font-size: 14px;
        font-weight: bold;
        color: #000;
    }
    .public-question-hidden-user-answer button.signup-for-answer-button {
        position: absolute;
        right: 24%;
        top: 43%;    
        font-size: 14px;
    }
    .public-question-hidden-user-answer button.user-private-answer-button {
        position: absolute;
        right: 20%;
        top: 43%;    
        font-size: 14px;
    }

    #div-list-comments .panel {
        border: none;
    }
    #div-list-comments .panel-body {
        padding: 0px;
    }    

    .public-question-v3 .main-question-form-container button, .modal-positioned-container .main-question-form-container button {
        font-size: 14px;
    }
    .public-question-v3 .pq-title-header-container h1 {
        font-size:19px
    }
    .public-question-v3 .pq-title-header-container h2 {
        font-size:20px;
    }
    .public-question-v3 .lp-form-exp textarea.form-control {
        height: 70px; 
    }
    .modal-positioned-container {
        position: fixed; 
        left: auto;
        right: 0; 
        bottom: 20px; 
        padding: 0;
        z-index: 99999;
    }
    .pqv3-expert-specialty {
        margin: 12px 0;
    }
    .expert_details {     
        padding: 0 0 5px 0 ;
    }
    .enter-phone-number-label {
        font-size: 16px;
        margin: 5px 0 3px 0;
        line-height: 21px;
    }
    button.enter-phone-number-button, button.did-not-receive-phone-number-button, button.send-verification-code-button, button.use-credit-card-button, button.fortumo-button, button.google-play-button, button.money-back-guarantee-button, button.verify-daily-subscription-button {
        padding: 3px 0;
    } 
    .step4 .communication-services {
        font-size: 12px;
    }
    .step4 .subscription-description .service-description div {
        margin: 0px 3px 0px 0;
    }    
    .step4 .breadcrumb {
        padding: 0;
    }
    .step4 .bubble:before {
        border-style: none;
    }
    .step4 .service-header-desc img {
        width: 13%;
    }
    .step4 .communication-description img {
        float: right;
        margin: 0 5px 0 5px;
        padding: 0;
        width: 11%;
    }
    .step4 .communication-description span {
        display: block;
        float: right;
        margin: 8px 0 0;
        padding: 0;
    }
    .step4 button {
        font-size: 14px;
        margin-top: 10px;
        padding: 10px 0px;        
    }
    .questions-answer-often {
        font-size: 16px;
    }
    .pin-verification-error-container ol {        
        font-size: 16px; 
    }
    .pin-verification-error-container .red-msg-container .red-msg-background {         
        font-size: 18px;
    }
    html[dir="rtl"] .navbar-toggle {     
        margin-left: 12px;
    }
    .navbar-toggle {    
        margin-right: 12px;
    }
    .leftside{
        width: 100%;
    }
    .subscription-packages-outer-container {
        padding: 0px 0px 0px 0px;
    }
    .sub-container {
        border-bottom: 3px solid #295378;
    }
    .step3-not-paidv3 .subscription-packages-outer-container {
        display: none;
    }
    #carousel-step3-experts .item div p {
        width: 150px;
    }
    .s3npv4 .gaa-t {
        font-size: 18px; 
        font-weight: bold; 
        margin: 10px 0 0 0; 
        padding: 0;
    }
    .s3npv4 .gaa-p {
        font-size: 14px; 
        margin: 0 0 0; 
        padding: 5px 0 5px;
    }
    .s3npv4 .gaa-tc {
        border: none; 
        margin-top: 6px; 
        padding: 0;
        margin: 0;
    }    
    .s3npv4 .ucwe-t {
        font-size: 14px; 
        margin: 0 0 0; 
        padding: 0px 0 5px;
    }
    .s3npv4 .spt {
        font-size: 14px; 
        margin: 0 0 22px; 
        padding: 0;
    }
    .s3npv4 .sb {
        margin: 10px 0 0 0;
    }
    .s3npv4 .htc-g {
        background-color: #fff; 
        border-top: 1px solid #f5f5f5;
        padding: 0;
    }
    .s3npv4 .qa-tc {
        border: none; 
        font-size: 11px; 
        padding-right: 5px; 
        padding-top: 2px;
    }
    .s3npv4 .qa-t {
        padding-right: 5px; 
        padding-top: 2px; 
        font-size: 11px;
    }
    .s3npv4 .panel-heading {
        padding-left: 0;
    }    
    .s3npv4 .bfbp {
        color: #353535; 
        font-size: 14px;
    }
    .s3npv4 .pfbp {
        color: #353535; 
        font-size: 12px;
    }    
}

@media(min-width:768px){

    .shareBottom a{

    }
    .discount-popup.modal-dialog{
        width:400px !important;
    }
    .new-log-title{
        text-align:right;
        width:100% !important;
        padding-bottom: 10px;
        margin-right: 62px  !important;;
    }
    .new-log-input{
        margin-right: 62px !important;;
        width: 74%;  
    }
    #shareTop a.btn-share {
        display: block;
        float: right;
        opacity: 1;
        margin-right:0px;
        /*        margin-left:10px;*/



    }

    .shareBottom a.btn-share{
        width:49% !important;
    }
    .up-video{
        width:700px;
        height:390px;
    }
    .visible-desktop  {
        /*    display:block;*/
    }
    .about-us-page .question-header {
        font-size: 30px;
        padding-top: 8px;
    }
    .about-us-page p {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 28px;
    }   
    .install-jawabkom-app-container p button {
        margin: 7px 0 0 0;        
    }
    .public-question-expert-detail h2, .popup-main-question-form-container .radio label, .pq-popup-expert-details .communication-options, .main-question-form-container label {
        font-size: 16px;        
    }
    .public-question-expert-detail h2.public-question-expert-name {
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

    .public-question-hidden-user-answer button.signup-for-answer-button {
        position: absolute;
        right: 22%;
        top: 43%;    
    }
    .public-question-hidden-user-answer button.user-private-answer-button {
        position: absolute;
        right: 22%;
        top: 43%;    
    }    

}


@media(min-width:992px){
    .press5,.press4{
        display:none;
    }
    .paymentoption .fb-login-button img {
        position: relative;
        min-height: 1px;        
        float: left;f
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
        width: 100%;
    }
    /*    .mobile-0{
        width:100% !important;
        padding-bottom:10px;
    }*/

    #shareTop a.btn-share {

        display: block;
        float: right;
        opacity: 1;

    }  

}
@media(min-width:1200px){
    .blue{
        background:red;
    }
    .install-jawabkom-app-container p button {
        margin: 20px 0 0 0;        
    }
}
@media(min-width:481px){
    .community-t2, .community-t3 {
        margin: 25px 0 0 0; 
        font-size: 16px;
        color: #000;
    }
    .community-t3 {
        text-align: left;
    }
    .expert-packages .help-block {
        color: #a0a0a0; 
        font-size: 14px; 
        margin: 9px 18px 0 0;
    }  

    .step4 .subscription-description .service-description {
        font-size: 15px;
    }
    .step4 .subscription-description .service-description div {
        margin: 7px 5px 10px 0;
    }
    .step4 .steps ul li {
        font-size: 20px;
    }
    .step4 .radio .service-header-desc{
        font-weight: bold;
    }    
    .subscription-description {
        font-size: 20px;
        line-height: 20px;
    }
    .subscription-description {
        font-size: 20px;
        line-height: 20px;
    }
    .subscription-description-container button {
        font-size: 15px;
    }
    #tip-expert-block button {
        font-size: 12px;
    }    
    .public-question-v3 .answer-replied-container h2 {
        font-size:18px;
        line-height: 21px; 
        margin: 3px 0;
    }
    .public-question-v3 .answer-replied-container .comment-from, .public-question-v3 .answer-replied-container .answer-from {
        font-weight:bolder;
        font-size:20px;
        line-height: 26px
    }
    .money-back-guarantee-text2, .verify-daily-subscription-text2 {
        margin: 30px 0 0 0;
    }
}
@media (max-width: 480px) { 
    .bubble {
        position: relative;    
        padding: 0px;
        background: #FFFFFF;
        border: #000 solid 1px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .bubble:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 45%;
        border-style: solid;
        border-width: 25px 15px 0;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
    }

    .bubble:before {
        content: "";
        position: absolute;
        top: 250px;
        left: 45%;
        border-style: solid;
        border-width: 26px 15px 0;
        border-color: #000 transparent;
        display: block;
        width: 0;
        z-index: 0;
    }

    .step4 .steps ul li {
        font-size: 12px;
        text-align: center;
    }

    .step4 .subscription-description .service-description {
        font-size: 13px;
    }
    .step4 .subscription-description .service-description div {
        margin: 1px 3px 0px 0;
    }
    .step4 .radio .service-header-desc {
        font-weight: bold;
    }    
    .fb-login-button img {
        position: relative;
        min-height: 1px;        

        /*        width: 100%;*/


        .comments-counter .happy-customers{
            font-size: 18px;
        }       
    }
    .update-contact-details label, .update-contact-details .edit-symbol {
        font-size: 13px;
    }
    .provide-us-with-contact-text {
        font-size: 12px;
    }
    .question-aria .mainquestion .panel .panel-body {
        padding: 15px 0 0 0;        
    }    
    .question-aria .mainquestion .panel .panel-body .form-control {
        border: none;
    }
    .testimonial-box-lp {
        background: url("/static/img/gray_texture.jpg") repeat scroll 0 0 #f0f1f2;
        margin-top:5px;
    }
    .lp-body-container .description-mobile {
        background: url("/static/img/gray_texture.jpg") repeat scroll 0 0 #f0f1f2;
    }
    .lp-form-exp, .description-mobile, .news-section-lp-exp {
        padding-left:10px;
        padding-right:10px;
    }
    .lp-form-exp textarea.form-control {
        height: 115px; 
    }
    .lp-form-exp .mainquestion {
        padding: 0;
    }
    .lp-exp-container #btn-post {
        font-size: 14px;   
    }    
    .lp-exp-container  .comments-counter .counter {
        background: url("/static/img/mobile-counter.png") no-repeat scroll 0 0 / 102px auto rgba(0, 0, 0, 0) !important; 
    }
    #payment-form .cashu-container .mobile-paypal, #payment-form #paypal-button, .payatstore-container .mobile-paypal {
        margin-top:10px;
        font-size: 14px;
        margin-top: 10px;
        padding: 10px 40px;
    }
    .about-us-page .question-header {
        font-size: 20px;
        padding-top: 8px;
    }
    .about-us-page p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 28px;
    }
    .about-us-page h1 {
        font-size: 23px;
    }
    #frm-post-question .radio, .step3-unlimited-answers {
        font-size: 12px;
    }
    #frm-post-question .radio, .step3-unlimited-answers {
        font-size: 12px;
    }
    .subscription-description {
        font-size: 17px;
        line-height: 19px;
    }
    .subscription-description-container button {
        font-size: 12px;
    }
    .community-t2, .community-t3 {
        margin: 10px 0 0; 
        font-size: 11px;
        color: #000;
    }
    .community-t3 {
        text-align: left;
    }
    .expert-packages .help-block {
        color: #a0a0a0; 
        font-size: 11px; 
        margin: 9px 18px 0 0;
    }
    .install-jawabkom-app-container p button {
        font-size: 20px;        
        padding: 10px 25px;
    }
    .install-jawabkom-app-container p.description {
        font-size: 11px;        
    }
    #tip-expert-block label {
        font-size: 12px;
    }
    #tip-expert-block button {
        font-size: 11px;
    }
    #tip-expert-block select {
        font-size: 11px;
        height: 30px;
        line-height: 30px;
        margin: 2px 0 0; 
    }
    .public-question-expert-detail h2 {
        font-size: 14px;
    }
    .public-question-expert-detail h2.public-question-expert-name {
        font-size: 13px;
    }
    .public-question-hidden-user-answer button.signup-for-answer-button {
        font-size: 14px;
        position: absolute;
        right: 15%;
        top: 43%;
    }
    .public-question-hidden-user-answer button.user-private-answer-button {
        font-size: 11px;
        position: absolute;
        right: 13%;
        top: 43%;
    }
    .public-question-expert-detail h2, .popup-main-question-form-container .radio label, .pq-popup-expert-details .communication-options, .main-question-form-container label {
        font-size: 11px;
    }    
    .public-question-v3 .mainquestion {
        background-color: transparent !important;
        border: medium none;
        padding: 0;
    }
    .public-question-v3 .pq-title-header-container h1 {
        font-size: 24px;
        font-weight: bold;
    }
    .public-question-v3 .pq-title-header-container h2 {
        font-size:16px;
    }
    .public-question-v3 .answer-replied-container h2 {
        font-size: 16px;
        line-height: 18px;
        margin: 3px 0;
    }
    .public-question-v3 .answer-replied-container .comment-from, .public-question-v3 .answer-replied-container .answer-from {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        margin: 3px 0;
    }
    .pqv3-expert-specialty {
        margin: 8px 0;
    }  
    .public-question-v3 .expert-image, .communication-options img, .pq-popup-expert-details .expert-image {
        width: 50px;
    }    
    .money-back-guarantee-text2, .verify-daily-subscription-text2 {
        font-size: 15px;
    }
    .money-back-guarantee-text2-v1 {
        font-size: 17px;
    }
    .money-back-guarantee-text1, .money-back-guarantee .modal-header {
        font-size: 17px;
        line-height: 17px;
        margin: 0 ;
    }
    .verify-daily-subscription-text1 {
        font-size: 15px;
        margin: 2px 0 5px 0 ;
        line-height: 18px;
    }

    .money-back-guarantee-text1 {        
        margin: 25px 0 0 0 ;
        padding: 0 35px;
    }
    .money-back-guarantee-text0 {
        padding: 0 45px;
    }
    .money-back-guarantee-exprt-block {
        margin-bottom: 25px;
    }
    .money-back-guarantee-exprt-block, .verify-daily-subscription-expert-block {
        margin: 5px 0 0 0;
    } 
    #carousel-step3-experts .item div p {
        width: 103px;
    }
    .s3npv4 .subscription-packages-outer-container label {
        font-size: 13px;
    }
}
@media (max-width: 320px) {
    .navbar-fixed-top{
        z-index:100;
    }
    .navbar-brand  img{
        display:none
    }
    .navbar-brand {
        background:url("/static/img/mobile-j-logo2.png") #295378 no-repeat;
        background-size:170px;
        width:170px !important;
        height:23px !important;
    }
    .comments-counter .happy-customers{
        font-size: 18px;
    }
    .update-contact-details label, .update-contact-details .edit-symbol {
        font-size: 12px;
    }
    .provide-us-with-contact-text {
        font-size: 12px;
    }    
    .lp-exp-container #btn-post {
        font-size: 14px;   
    }    
    .install-jawabkom-app-container p button {
        font-size: 20px;        
        padding: 10px 25px;
    }
    .s3npv4 .comments-counter .happy-customers{
        font-size: 11px;
    }

}

@media 
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation:landscape) 
{
    .img-cont img{
        width:150px !important
    }
    .mobileLH{
        width:250px; !important
    }
    .paymentoption h5{
        font-size:18px
    }
    /* iPad landscape style here */
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation:portrait) 
{    
    .mobile_step2{
        display:none !important;
    }
    .paymentoption h5{
        font-size:18px
    }

    /* iPad portrait style here */
}

