body{
    font-family: Arial !important;
    background: #f0f1f2 url('/static/img/gray_texture.jpg') !important;
    color: #295378 !important;
    padding:51px 0 0 0 !important;
}
html, body {
    height: 100%;
}
body{
    font-size:18px;
}
h1{
    font-size:40px;
}
h2{
    font-size:34px;
}
h3{
    font-size:30px;
}
h4{
    font-size:24px;
}
h5{
    font-size:20px;
}

.rate-hover:hover{
    /*    border: 2px dashed #4997DF;*/
    /*    background: rgba(165, 201, 255, 0.35);*/
}

.popover {
    max-width: 500px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}
.navbar-brand img {
    margin-top:-10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-size: 16px;
}

.currency-list .flag {
    display: inline-block;    
    width: 16px;
    height: 11px;
    margin:0 5px;
    background: rgba(0, 0, 0, 0) url('/static/img/flags2.png') no-repeat;
    border:1px solid #666;
    padding:1px;
}
.currency-list li a{
    font-size:16px;
    font-weight:800;
}

.currency-ad .flag {background-position: -16px 0}
.currency-ae .flag {background-position: -32px 0}
.currency-af .flag {background-position: -48px 0}
.currency-ag .flag {background-position: -64px 0}
.currency-ai .flag {background-position: -80px 0}
.currency-al .flag {background-position: -96px 0}
.currency-am .flag {background-position: -112px 0}
.currency-an .flag {background-position: -128px 0}
.currency-ao .flag {background-position: -144px 0}
.currency-ar .flag {background-position: -160px 0}
.currency-as .flag {background-position: -176px 0}
.currency-at .flag {background-position: -192px 0}
.currency-au .flag {background-position: -208px 0}
.currency-aw .flag {background-position: -224px 0}
.currency-az .flag {background-position: -240px 0}
.currency-ba .flag {background-position: 0 -11px}
.currency-bb .flag {background-position: -16px -11px}
.currency-bd .flag {background-position: -32px -11px}
.currency-be .flag {background-position: -48px -11px}
.currency-bf .flag {background-position: -64px -11px}
.currency-bg .flag {background-position: -80px -11px}
.currency-bh .flag {background-position: -96px -11px}
.currency-bi .flag {background-position: -112px -11px}
.currency-bj .flag {background-position: -128px -11px}
.currency-bm .flag {background-position: -144px -11px}
.currency-bn .flag {background-position: -160px -11px}
.currency-bo .flag {background-position: -176px -11px}
.currency-br .flag {background-position: -193px -12px}
.currency-bs .flag {background-position: -208px -11px}
.currency-bt .flag {background-position: -224px -11px}
.currency-bv .flag {background-position: -240px -11px}
.currency-bw .flag {background-position: 0 -22px}
.currency-by .flag {background-position: -16px -22px}
.currency-bz .flag {background-position: -32px -22px}
.currency-ca .flag {background-position: -48px -22px}
.currency-catalonia .flag {background-position: -64px -22px}
.currency-cd .flag {background-position: -80px -22px}
.currency-cf .flag {background-position: -96px -22px}
.currency-cg .flag {background-position: -112px -22px}
.currency-ch .flag {background-position: -128px -22px}
.currency-ci .flag {background-position: -144px -22px}
.currency-ck .flag {background-position: -160px -22px}
.currency-cl .flag {background-position: -176px -22px}
.currency-cm .flag {background-position: -192px -22px}
.currency-cn .flag {background-position: -208px -22px}
.currency-co .flag {background-position: -224px -22px}
.currency-cr .flag {background-position: -240px -22px}
.currency-cu .flag {background-position: 0 -33px}
.currency-cv .flag {background-position: -16px -33px}
.currency-cw .flag {background-position: -32px -33px}
.currency-cy .flag {background-position: -48px -33px}
.currency-cz .flag {background-position: -64px -33px}
.currency-de .flag {background-position: -80px -33px}
.currency-dj .flag {background-position: -96px -33px}
.currency-dk .flag {background-position: -112px -33px}
.currency-dm .flag {background-position: -128px -33px}
.currency-do .flag {background-position: -144px -33px}
.currency-dz .flag {background-position: -160px -33px}
.currency-ec .flag {background-position: -176px -33px}
.currency-ee .flag {background-position: -192px -33px}
.currency-eg .flag {background-position: -208px -33px}
.currency-eh .flag {background-position: -224px -33px}
.currency-england .flag {background-position: -240px -33px}
.currency-er .flag {background-position: 0 -44px}
.currency-es .flag {background-position: -16px -44px}
.currency-et .flag {background-position: -32px -44px}
.currency-eu .flag {background-position: -48px -44px}
.currency-fi .flag {background-position: -64px -44px}
.currency-fj .flag {background-position: -80px -44px}
.currency-fk .flag {background-position: -96px -44px}
.currency-fm .flag {background-position: -112px -44px}
.currency-fo .flag {background-position: -128px -44px}
.currency-fr .flag {background-position: -144px -44px}
.currency-ga .flag {background-position: -160px -44px}
.currency-gb .flag {background-position: -176px -44px}
.currency-gd .flag {background-position: -192px -44px}
.currency-ge .flag {background-position: -208px -44px}
.currency-gf .flag {background-position: -224px -44px}
.currency-gg .flag {background-position: -240px -44px}
.currency-gh .flag {background-position: 0 -55px}
.currency-gi .flag {background-position: -16px -55px}
.currency-gl .flag {background-position: -32px -55px}
.currency-gm .flag {background-position: -48px -55px}
.currency-gn .flag {background-position: -64px -55px}
.currency-gp .flag {background-position: -80px -55px}
.currency-gq .flag {background-position: -96px -55px}
.currency-gr .flag {background-position: -112px -55px}
.currency-gs .flag {background-position: -128px -55px}
.currency-gt .flag {background-position: -144px -55px}
.currency-gu .flag {background-position: -160px -55px}
.currency-gw .flag {background-position: -176px -55px}
.currency-gy .flag {background-position: -192px -55px}
.currency-hk .flag {background-position: -208px -55px}
.currency-hm .flag {background-position: -224px -55px}
.currency-hn .flag {background-position: -240px -55px}
.currency-hr .flag {background-position: 0 -66px}
.currency-ht .flag {background-position: -16px -66px}
.currency-hu .flag {background-position: -32px -66px}
.currency-ic .flag {background-position: -48px -66px}
.currency-id .flag {background-position: -64px -66px}
.currency-ie .flag {background-position: -80px -66px}
.currency-il .flag {background-position: -96px -66px}
.currency-im .flag {background-position: -112px -66px}
.currency-in .flag {background-position: -128px -66px}
.currency-io .flag {background-position: -144px -66px}
.currency-iq .flag {background-position: -160px -66px}
.currency-ir .flag {background-position: -176px -66px}
.currency-is .flag {background-position: -192px -66px}
.currency-it .flag {background-position: -208px -66px}
.currency-je .flag {background-position: -224px -66px}
.currency-jm .flag {background-position: -240px -66px}
.currency-jo .flag {background-position: 0 -78px}
.currency-jp .flag {background-position: -16px -77px}
.currency-ke .flag {background-position: -32px -77px}
.currency-kg .flag {background-position: -48px -77px}
.currency-kh .flag {background-position: -64px -77px}
.currency-ki .flag {background-position: -80px -77px}
.currency-km .flag {background-position: -96px -77px}
.currency-kn .flag {background-position: -112px -77px}
.currency-kp .flag {background-position: -128px -77px}
.currency-kr .flag {background-position: -144px -77px}
.currency-kurdistan .flag {background-position: -160px -77px}
.currency-kw .flag {background-position: -176px -77px}
.currency-ky .flag {background-position: -192px -77px}
.currency-kz .flag {background-position: -208px -77px}
.currency-la .flag {background-position: -224px -77px}
.currency-lb .flag {background-position: -240px -77px}
.currency-lc .flag {background-position: 0 -88px}
.currency-li .flag {background-position: -16px -88px}
.currency-lk .flag {background-position: -32px -88px}
.currency-lr .flag {background-position: -48px -88px}
.currency-ls .flag {background-position: -64px -88px}
.currency-lt .flag {background-position: -80px -88px}
.currency-lu .flag {background-position: -96px -88px}
.currency-lv .flag {background-position: -112px -88px}
.currency-ly .flag {background-position: -128px -88px}
.currency-ma .flag {background-position: -144px -88px}
.currency-mc .flag {background-position: -160px -88px}
.currency-md .flag {background-position: -176px -88px}
.currency-me .flag {background-position: -192px -88px}
.currency-mg .flag {background-position: -208px -88px}
.currency-mh .flag {background-position: -224px -88px}
.currency-mk .flag {background-position: -240px -88px}
.currency-ml .flag {background-position: 0 -99px}
.currency-mm .flag {background-position: -16px -99px}
.currency-mn .flag {background-position: -32px -99px}
.currency-mo .flag {background-position: -48px -99px}
.currency-mp .flag {background-position: -64px -99px}
.currency-mq .flag {background-position: -80px -99px}
.currency-mr .flag {background-position: -96px -99px}
.currency-ms .flag {background-position: -112px -99px}
.currency-mt .flag {background-position: -128px -99px}
.currency-mu .flag {background-position: -144px -99px}
.currency-mv .flag {background-position: -160px -99px}
.currency-mw .flag {background-position: -176px -99px}
.currency-mx .flag {background-position: -192px -99px}
.currency-my .flag {background-position: -208px -99px}
.currency-mz .flag {background-position: -224px -99px}
.currency-na .flag {background-position: -240px -99px}
.currency-nc .flag {background-position: 0 -110px}
.currency-ne .flag {background-position: -16px -110px}
.currency-nf .flag {background-position: -32px -110px}
.currency-ng .flag {background-position: -48px -110px}
.currency-ni .flag {background-position: -64px -110px}
.currency-nl .flag {background-position: -80px -110px}
.currency-no .flag {background-position: -96px -110px}
.currency-np .flag {background-position: -112px -110px}
.currency-nr .flag {background-position: -128px -110px}
.currency-nu .flag {background-position: -144px -110px}
.currency-nz .flag {background-position: -160px -110px}
.currency-om .flag {background-position: -176px -110px}
.currency-pa .flag {background-position: -192px -110px}
.currency-pe .flag {background-position: -208px -110px}
.currency-pf .flag {background-position: -224px -110px}
.currency-pg .flag {background-position: -240px -110px}
.currency-ph .flag {background-position: 0 -121px}
.currency-pk .flag {background-position: -16px -121px}
.currency-pl .flag {background-position: -32px -121px}
.currency-pm .flag {background-position: -48px -121px}
.currency-pn .flag {background-position: -64px -121px}
.currency-pr .flag {background-position: -80px -121px}
.currency-ps .flag {background-position: -96px -121px}
.currency-pt .flag {background-position: -112px -121px}
.currency-pw .flag {background-position: -128px -121px}
.currency-py .flag {background-position: -144px -121px}
.currency-qa .flag {background-position: -160px -121px}
.currency-re .flag {background-position: -176px -121px}
.currency-ro .flag {background-position: -192px -121px}
.currency-rs .flag {background-position: -208px -121px}
.currency-ru .flag {background-position: -224px -121px}
.currency-rw .flag {background-position: -240px -121px}
.currency-sa .flag {background-position: 0 -132px}
.currency-sb .flag {background-position: -16px -132px}
.currency-sc .flag {background-position: -32px -132px}
.currency-scotland .flag {background-position: -48px -132px}
.currency-sd .flag {background-position: -64px -132px}
.currency-se .flag {background-position: -80px -132px}
.currency-sg .flag {background-position: -96px -132px}
.currency-sh .flag {background-position: -112px -132px}
.currency-si .flag {background-position: -128px -132px}
.currency-sk .flag {background-position: -144px -132px}
.currency-sl .flag {background-position: -160px -132px}
.currency-sm .flag {background-position: -176px -132px}
.currency-sn .flag {background-position: -192px -132px}
.currency-so .flag {background-position: -208px -132px}
.currency-somaliland .flag {background-position: -224px -132px}
.currency-sr .flag {background-position: -240px -132px}
.currency-ss .flag {background-position: 0 -143px}
.currency-st .flag {background-position: -16px -143px}
.currency-sv .flag {background-position: -32px -143px}
.currency-sx .flag {background-position: -48px -143px}
.currency-sy .flag {background-position: -64px -143px}
.currency-sz .flag {background-position: -80px -143px}
.currency-tc .flag {background-position: -96px -143px}
.currency-td .flag {background-position: -112px -143px}
.currency-tf .flag {background-position: -128px -143px}
.currency-tg .flag {background-position: -144px -143px}
.currency-th .flag {background-position: -160px -143px}
.currency-tibet .flag {background-position: -176px -143px}
.currency-tj .flag {background-position: -192px -143px}
.currency-tk .flag {background-position: -208px -143px}
.currency-tl .flag {background-position: -224px -143px}
.currency-tm .flag {background-position: -240px -143px}
.currency-tn .flag {background-position: 0 -154px}
.currency-to .flag {background-position: -16px -154px}
.currency-tr .flag {background-position: -32px -154px}
.currency-tt .flag {background-position: -48px -154px}
.currency-tv .flag {background-position: -64px -154px}
.currency-tw .flag {background-position: -80px -154px}
.currency-tz .flag {background-position: -96px -154px}
.currency-ua .flag {background-position: -112px -154px}
.currency-ug .flag {background-position: -128px -154px}
.currency-um .flag {background-position: -144px -154px}
.currency-us .flag {background-position: -160px -154px}
.currency-uy .flag {background-position: -176px -154px}
.currency-uz .flag {background-position: -192px -154px}
.currency-va .flag {background-position: -208px -154px}
.currency-vc .flag {background-position: -224px -154px}
.currency-ve .flag {background-position: -240px -154px}
.currency-vg .flag {background-position: 0 -165px}
.currency-vi .flag {background-position: -16px -165px}
.currency-vn .flag {background-position: -32px -165px}
.currency-vu .flag {background-position: -48px -165px}
.currency-wales .flag {background-position: -64px -165px}
.currency-wf .flag {background-position: -80px -165px}
.currency-ws .flag {background-position: -96px -165px}
.currency-xk .flag {background-position: -112px -165px}
.currency-ye .flag {background-position: -128px -165px}
.currency-yt .flag {background-position: -144px -165px}
.currency-za .flag {background-position: -160px -165px}
.currency-zanzibar .flag {background-position: -176px -165px}
.currency-zm .flag {background-position: -192px -165px}
.currency-zw .flag {background-position: -208px -165px}

.currency-USD .flag {
    background-position: -144px -154px;
}

.currency-BHD .flag {
    background-position: -96px -11px;
}

.currency-EGP .flag {
    background-position: -209px -34px;
}

.currency-JOD .flag {
    background-position: 0px -78px;
}

.currency-KWD .flag {
    background-position: -177px -78px;  
}

.currency-LDP .flag {
    background-position: -225px -111px;  
}

.currency-OMR .flag {
    background-position: -177px -111px;  
}

.currency-QAR .flag {
    background-position: -160px -121px;  
}

.currency-SAR .flag {
    background-position: -1px -133px; 
}

.currency-SYP .flag {
    background-position: -65px -144px;
}
.currency-AED .flag {
    background-position: -33px -1px;
}

.currency-ILS .flag {
    background-position: -97px -67px;
}

.currency-DZD .flag {
    background-position: -161px -34px;
}

.currency-MAD .flag {
    background-position: -145px -89px;
}

.currency-IQD .flag {
    background-position: -65px -144px;
}

.currency-TND .flag {
    background-position: -1px -155px;
}

.currency-SDG .flag {
    background-position: -65px -133px;
}

.currency-YER .flag {
    background-position: -128px -166px;
}

.currency-DJF .flag {
    background-position: -96px -34px;
}

.currency-SOS .flag {
    background-position: -209px -133px;
}

.currency-MRO .flag {
    background-position: -97px -100px;
}

.currency-LYD .flag {
    background-position: -129px -89px;
}

.paymentoption:hover{
    background-color: #7bc3fe;
    cursor: pointer;
    color: #fff;
}
.paymentoption .panel-heading {
    font-size: 24px;
    text-align: center;
}
.paymentoption .panel-body {
    text-align: center;
}
.paymentoption h5{
    padding:0 10px;
}
.paymethod a:link{
    font-size: 18px ;
}

.paymethod:hover{
    background-color: #7bc3fe;
    cursor: pointer;
    color: #fff;
}
.paymethod a:link {
    color: #fff !important;
    font-size:20px;
    font-weight: 900;
}
.paymethod .panel-heading a:visited {
    color: #fff !important;
}
.paymethod:hover a:link {
    color: #fff !important;
}
.paymethod:hover a:visited {
    color: #fff !important;
}
.paymethod {
    min-height: 225px;
    text-align: center;
    box-shadow: 0px 1px 1px #B6B6B6;
    border: 1px solid #929292;
    margin: 10px 0 10px 10px;
}
.paymethod .panel-heading{
    background-color: #295378 !important;
    font-size: 16px;
}
.paymethod .panel-body{
    text-align: center !important;
    /*  margin-top: 25px;*/
}

#ccvhelp {
    font-size: 26px;
    padding: 5px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-validate input.ng-invalid.ng-dirty {
    border-color: #FA787E !important;
}

.form-validate input.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.form-validate textarea.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.form-validate textarea.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.ccform-validate input.ng-invalid {
    border-color: #FA787E !important;
}

.ccform-validate select.ng-invalid {
    border-color: #FA787E;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #295378 !important;
}
.certified {
    font-size: 18px;
    color: #2BB92B;
    font-weight: bolder;
}
.breadcrumb > li + li::before {
    padding: 0px 0px;
    color: #CCC;
    content: '' !important;
}
.breadcrumb > li {
    padding: 0px 5px;
    color: #CCC;
    font-size: 22px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px !important;
    background-color: #fff;
    color: #b4c3d0 !important;
}
.breadcrumb > .active {
    color: #295378 !important;
}

.breadcrumb li img {
    padding: 10px;
}

label em {
    color: #F15C22;
}

.row {
    margin:0px;
}

.country-operators {
    margin: 12px 0px 16px;
}

.panel {
    margin-bottom:0px !important;
}
.panel a:link{
    color: #6abcff ;

}
.panel a:visited{
    color: #6abcff !important;
}
.panel-heading {
    font-size:18px;
}

.panel-real {
    border-color: #295378 !important;
}

.panel-real > .panel-heading {
    background-color: #295378 !important;
    border-color: #295378 !important;
    color: #fff;
}

.panel-primary {
    border-color: #b4c3d0 !important;
}

.panel-primary > .panel-heading {
    background-color: #7f98ae !important;
    border-color: #7f98ae !important;
}

.panel-default > .panel-heading {
    background-color: #b4c3d0 !important;
    border-color: #b4c3d0 !important;
    color:#fff !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    /*    background-color: #295378 !important;*/
}
.header-container{
    /*    background-color: #295378 !important;*/
}

.navbar-brand {
    margin: 11px 0px 0px 0px !important;
    padding: 0px !important;
}

.navbar-nav > li > a:link{
    color: #7cc5ff !important;
}
.navbar-nav > li > a:visited{
    color: #7cc5ff !important;
}
.navbar-nav > li > a:hover{
    color: #fff !important;
    background-color: #5482a9 !important;
}

.navbar-phone {
    top:0px !important;
}

.navbar-inverse {
    background-color: #295378 !important;
    border-color: #295378 !important;
}

.top-steps {
    font-size: 18px;
    color: #8ea3b6;
}
.top-stepwrapper {
    cursor:pointer;
}
.mainquestion {
    background-color: #295378 !important;
    border-color: #295378 !important;
    padding:10px;
}

.public-question-v3 .mainquestion {
    background-color: transparent !important;
}

.mainquestion .label-primary {
    padding: 10px 15px 8px;
    background-color: #295378 !important;
    font-size:14px;
    font-weight: normal;
    -moz-border-radius: 0 3px 0 0 !important;
    -webkit-border-radius:0 3px 0 0 !important;
    border-radius:0 3px 0 0 !important;
}

.dropdown-menu>li>a:hover {
    background-color: #5482A9 !important;
    color: #fff !important;
}

.steps {
    border:1px solid #ccc !important;
}


.appointment {
    font-weight: bolder !important;
    color:#333 !important;

}

.loading-wrapper {
    padding:40px;
    margin:40px;
}

.profile-wrapper{
    margin:0 10px 0 0;
}
.profile-wrapper > .panel-body a:link{
    color:#333 !important;
    font-size:16px !important;
    padding:10px !important;
    line-height: 40px;
}
.profile-wrapper > .panel-body a:visited{
    color:#333 !important;
}

.home-top-part {
    background: #849fc1 url('/static/img/background_top.png?dfe') repeat-x;
    color:#fff;
    margin-top:-60px;
}
.home-top-part img{
    margin-right:1px;
    margin-left:0px;
}
.home-top-part .header-changer {
    font-size:32px;
    padding-top:10px;
}
.home-top-part .header-profession {
    color:#7cc5ff;
    font-weight: bolder;
}
.home-top-part select {
    -moz-border-radius:0px !important;
    -webkit-border-radius:0px !important;
    border-radius:0px !important;
    border:1px solid #eee;
    font-size:24px;
    height:50px !important;
}
.home-how-part {
    background-color: #1a344b;
    color:#fff;
    text-align: center;
    padding-top:15px !important;
    padding-bottom:25px !important;
}
.home-how-part img {
    margin-right:5px;
}
.home-how-part h2 {
    padding-bottom:15px;
}
.home-how-part h5 {
    color:#7cc5ff;
}
.home-online-part {
    color:#000;
}
.home-online-part .header-online {
    font-size:32px;
    padding-top:10px;
}
.home-online-part .label-primary {
    background-color: #295378;
    font-size:36px;
    padding:0 10px;
}
.home-bottom-part{
    background:#fff;
    padding:5px !important;
    margin:20px 0 0 0 !important;
    font-size:16px;
}
#content-holder {
    min-height: 100%;
    margin-bottom: -75px;
    position: relative;
}
.clearfooter {
    height: 75px;
    clear: both;
}
footer{
    background-color: #1a344b;
    color:#fff;
    padding:5px 0;
    font-size:14px;
    height: 75px;
    position: relative;
}

.btn-info {
    background-color: #5482a9 !important;
}


.btn-warning-normal {

    -moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
    box-shadow:inset 0px 1px 0px 0px #ffe0b5;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
    background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);

    background-color:#fbb450;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    border:1px solid #c97e1c;

    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:18px;
    font-weight:bold;
    padding:10px;
    text-decoration:none;

    text-shadow:0px 1px 0px #8f7f24;

}
.btn-warning-normal:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
    background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);
    color:#ffffff;
    background-color:#f89306;
}
.btn-warning-normal:active {
    position:relative;
    top:1px;
}




.btn-warning {

    -moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
    box-shadow:inset 0px 1px 0px 0px #ffe0b5;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
    background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
    background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);

    background-color:#fbb450;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    border:1px solid #c97e1c;

    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS !important;
    font-size:20px;
    font-weight:bold;
    padding:10px 45px;
    text-decoration:none;

    text-shadow:0px 1px 0px #8f7f24;

}
.btn-warning:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
    background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
    background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);

    background-color:#f89306;
}
.btn-warning:active {
    position:relative;
    top:1px;
}




.btn-default {

    -moz-box-shadow:inset 0px 1px 0px 0px #99b8d2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #99b8d2;
    box-shadow:inset 0px 1px 0px 0px #99b8d2;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6695bf), color-stop(1, #5582aa));
    background:-moz-linear-gradient(top, #6695bf 5%, #5582aa 100%);
    background:-webkit-linear-gradient(top, #6695bf 5%, #5582aa 100%);
    background:-o-linear-gradient(top, #6695bf 5%, #5582aa 100%);
    background:-ms-linear-gradient(top, #6695bf 5%, #5582aa 100%);
    background:linear-gradient(to bottom, #6695bf 5%, #5582aa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6695bf', endColorstr='#5582aa',GradientType=0);

    background-color:#6695bf;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

    border:1px solid #3a658a;

    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:22px;
    font-weight:bold;
    padding:10px 45px;
    text-decoration:none;

    text-shadow:0px 1px 0px #335d80;

}
.btn-default:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5582aa), color-stop(1, #6695bf));
    background:-moz-linear-gradient(top, #5582aa 5%, #6695bf 100%);
    background:-webkit-linear-gradient(top, #5582aa 5%, #6695bf 100%);
    background:-o-linear-gradient(top, #5582aa 5%, #6695bf 100%);
    background:-ms-linear-gradient(top, #5582aa 5%, #6695bf 100%);
    background:linear-gradient(to bottom, #5582aa 5%, #6695bf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5582aa', endColorstr='#6695bf',GradientType=0);

    background-color:#5582aa;
}
.btn-default:active {
    position:relative;
    top:1px;
}


.btn-cancel {

    -moz-box-shadow:inset 0px 1px 0px 0px #dbddde;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dbddde;
    box-shadow:inset 0px 1px 0px 0px #dbddde;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7c9ca), color-stop(1, #b3b6b8));
    background:-moz-linear-gradient(top, #c7c9ca 5%, #b3b6b8 100%);
    background:-webkit-linear-gradient(top, #c7c9ca 5%, #b3b6b8 100%);
    background:-o-linear-gradient(top, #c7c9ca 5%, #b3b6b8 100%);
    background:-ms-linear-gradient(top, #c7c9ca 5%, #b3b6b8 100%);
    background:linear-gradient(to bottom, #c7c9ca 5%, #b3b6b8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c9ca', endColorstr='#b3b6b8',GradientType=0);

    background-color:#c7c9ca;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    border:1px solid #868a8c;

    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:22px;
    font-weight:bold;
    padding:10px 45px;
    text-decoration:none;

    text-shadow:0px 1px 0px #7d7f80;

}
.btn-cancel:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3b6b8), color-stop(1, #c7c9ca));
    background:-moz-linear-gradient(top, #b3b6b8 5%, #c7c9ca 100%);
    background:-webkit-linear-gradient(top, #b3b6b8 5%, #c7c9ca 100%);
    background:-o-linear-gradient(top, #b3b6b8 5%, #c7c9ca 100%);
    background:-ms-linear-gradient(top, #b3b6b8 5%, #c7c9ca 100%);
    background:linear-gradient(to bottom, #b3b6b8 5%, #c7c9ca 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b6b8', endColorstr='#c7c9ca',GradientType=0);

    background-color:#b3b6b8;
}
.btn-cancel:active {
    position:relative;
    top:1px;
}

.btn-danger {

    -moz-box-shadow:inset 0px 1px 0px 0px #ffc2c2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffc2c2;
    box-shadow:inset 0px 1px 0px 0px #ffc2c2;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f30000), color-stop(1, #a20000));
    background:-moz-linear-gradient(top, #f30000 5%, #a20000 100%);
    background:-webkit-linear-gradient(top, #f30000 5%, #a20000 100%);
    background:-o-linear-gradient(top, #f30000 5%, #a20000 100%);
    background:-ms-linear-gradient(top, #f30000 5%, #a20000 100%);
    background:linear-gradient(to bottom, #f30000 5%, #a20000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f30000', endColorstr='#a20000',GradientType=0);

    background-color:#f30000;

    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;

    border:1px solid #930000;

    display:inline-block;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:22px;
    font-weight:bold;
    padding:10px 45px;
    text-decoration:none;

    text-shadow:0px 1px 0px #700000;

}
.btn-danger:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20000), color-stop(1, #f30000));
    background:-moz-linear-gradient(top, #a20000 5%, #f30000 100%);
    background:-webkit-linear-gradient(top, #a20000 5%, #f30000 100%);
    background:-o-linear-gradient(top, #a20000 5%, #f30000 100%);
    background:-ms-linear-gradient(top, #a20000 5%, #f30000 100%);
    background:linear-gradient(to bottom, #a20000 5%, #f30000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20000', endColorstr='#f30000',GradientType=0);

    background-color:#a20000;
}
.btn-danger:active {
    position:relative;
    top:1px;
}
.answer-picker-wrapper{
    padding: 0px !important;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B9C4C3 300%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B9C4C3 300%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B9C4C3 300%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(3, #B9C4C3));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B9C4C3 300%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #FFFFFF 0%, #B9C4C3 300%);

}
.answer-info{
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #B9C4C3 300%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #B9C4C3 300%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #B9C4C3 300%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(3, #B9C4C3));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #B9C4C3 300%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #B9C4C3 300%);
}

.answer-info h4 {
    color: #5382AC !important;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}
.answer-date {
    background: #eee;
    padding:5px;
}
.answer-info h5 {
    font-weight: 700;
    padding-left: 5px;
}
.answer-info h6 {
    font-weight: 200;
    padding-left: 15px;
}
.answer-choice-box {
    background-color: #FFFCFC;    
} 
.answer-choice-box h4, .answer-choice-box ul {
    margin:0;
}
.answer-choice-box .radio img{
    margin-bottom: 7px;
}
.answer-choice-box .list-inline li{
    padding:5px 10px;
}
.answer-choice-box .list-inline li img{
    width:30px;
}
.mce-edit-area{
    border-width:1px 1px 0 0 !important;
}

.rateactive {
    color: #f5AB28;
    font-weight: 900;

}

.animate-enter {
    -webkit-transition: 1.5s linear all; /* Safari/Chrome */
    -moz-transition: 1.5s linear all; /* Firefox */
    -o-transition: 1.5s linear all; /* Opera */
    transition: 1.5s linear all; /* IE10+ and Future Browsers */

    /* The animation preparation code */
    opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
    /* The animation code itself */
    opacity: 1;
}

.expert-bio-box {
    overflow-y: scroll; 
    height:150px;
}

/**************************************************Fadwa New Styles************************************************/
.col-md-3-mobile{
    width: 32% !important;
    float: right;

}
.payment-new .col-md-3{
    width: 268px;
    float: right;
}
.col-md-3-mobile .paymethod a:link{
    font-size: 90% !important;
}


.col-md-3-mobile  .paymethod .panel-body{
    margin-top: 0px;
}
.col-md-3-mobile .panel-body img{
    width:60px;
}
.col-md-3-mobile .panel-body button{
    width: 100%;
    font-size: 55%;
    margin: 0px auto;
    padding: 5px 0px;
    text-align: center;
}

.col-md-3-mobile .panel-heading{
    font-size: 52%;

}

.payment-form-mobile .col-md-3{
    width: 55%;
}
.display-b{
    display: block;
    float: right;
}
.minHeight{
    min-height: 53px !important;
}

.col-md-3-mobile  img   {
    height: 25px;
    width: 60px !important;

}
.col-md-3-mobile .paymethod{
    margin: 2px;
    min-height: 130px;
}
.cashu img , .paypal img , .fb-pay img , .credit img{
    margin-top: 15px;
}
.fb-pay img{
    /*    height: 40px;*/
}
.col-md-3-mobile  .panel-body{
    padding: 5px 15px;
}
.f11d-element img{
    width:24px !important;
    height: 20px;
}
.col-md-3-mobile .credit img{
    margin-left: 0px !important;
}
.col-md-11 btn{
    float: right;
}
#phone_form #button_step2 , .cont-call{
    display: block !important;
}

.art-rightSide{
    width:65% ;
    float: right;
    padding:20px 10px;
    margin-left: 3%;
}
.art-leftSide{
    width: auto;
    float: right;
}

.art-rightSide .art-title h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0px;

}

.social-icons .fb-like  , .social-icons .twitter-share , .social-icons .google-plus-share{
    /*    width: 110px;*/
    float: right;
    margin-left:0px;
}
.social-icons{
    /*    width: 90%;*/
    padding-bottom: 7px;
}
.sharefb, .twitter-share{
    float: right;
}
.twitter-share button{
    background: url('/static/img/ar/twshare.png') no-repeat;
    width: 108px;
    height: 42px;
    border: none;
}
.sharefb button{
    background: url('/static/img/ar/fbshare.png') no-repeat;
    width: 181px;
    height: 42px;
    border: none;
    margin-right: 10px;
}
.media-section{
    clear: both;
    margin-top: 5px;
    width:100%;
}
.expert-question button{
    margin-top: 10px;
}
.more_prof {
    background: #fff;
    padding: 15px;
    line-height: 24px;
    margin-bottom: 10px;
}
.verfied_expert_btn{
    font-size:22px;
    padding: 10px 51px;
}
.more_prof h1{
    font-size:18px;
    margin: 0px;
    margin-bottom: 10px;
}
.answer p{
    color: #000;
}
.new_expert{
    float: right;

    margin-right: 90px;
    margin-top: 0;
    padding: 0;
    position: relative;
    top: -19px
}
.follow_up_Q{
    border: solid 1px #c6c6c6;

    padding:24px 0px;
    border-right:none;
    border-left:none;
}

.expert-question  h1{
    font-size: 174%;
    font-weight: bold;
    margin:10px 0px;
}
.art-container{
    width: 1170px;
    padding: 10px 15px;
    margin: 0px auto;
}
.share-block{
    margin-bottom: 15px;
}
.tw-share button{
    background: url('/static/img/ar/tw.png') no-repeat;
    width: 210px;
    height: 30px;
    border: none;
    float: right;
}


.fb-share button{
    background: url('/static/img/ar/fb.png') no-repeat;
    width: 213px;
    height: 30px;
    border: none;
    float: right;
}
.art-body{
    border-top: solid 1px #cdcdcd;

    padding-top: 15px;
}
.fb-like{
    position: relative;
    top: -2px;
    /*    right: 10px;*/
}

.art-body p{
    font-size: 15px;
    line-height: 20px;
}

.expert-question textarea{
    border: solid 2px #3581b8;  

}
.art-leftSide .expert-question textarea{
    width: 245px;   
}
.expert-question .btn-warning{
    padding: 2px 36px;
}
.social-icons .twitter-share{
    position: relative;
    top: 0px;
    /*    width: 6%;*/
}

.mobile-share-block .twitter-share ,.mobile-share-block .sharefb {
    width:50%;
    margin-left: 0px;

}

.mobile-share-block .twitter-share button ,.mobile-share-block .sharefb button{

    width: 100%;
} 

.mobile-new-share-block .tw-share button ,.mobile-new-share-block .fb-share button {
    width: 50%;
    font-size: 18px;
    height: 50px;
    line-height: 18px;
}
.mobile-share-block .twitter-share button ,.mobile-new-share-block .tw-share button{
    background:url("/static/img/ar/tw-slice.png") #56bfee;
    color:#fff;
    border-radius: 5px;

}
.mobile-share-block .sharefb button ,.mobile-new-share-block .fb-share button {
    background: url("/static/img/ar/fb-slice.png") #395dbb;
    border-radius: 5px;
    color:#fff;
    margin-right: 0px
}
a.visible-ios.twitter_button  {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
a.visible-ios.facebook_button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;

    border-bottom-right-radius: 0px;
}
.shareBottom a{
    height: 40px;


    line-height: 22px;
    /*     padding: 9px 113px !important;*/
}

#shareTop a{
    -moz-user-select: none;
    display: inline-block;
    margin-right: 2px;
    padding: 9px 18px;
    vertical-align: top;
}

.facebook_button {
    -moz-user-select: none;
    background-color: #3E5EA1;
    background-image: linear-gradient(to bottom, #4466AE, #37538D);
    background-repeat: repeat-x;
    border-color: #37538D;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    text-shadow: 0 0 1px #283D68;
}

#shareTop .facebook_button .icon:before {
    color: #FFFFFF;
    /*    content: "";*/
    font-size: 1.2em;
    line-height: 1em;
    margin-left: -5px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

#shareTop a .textNode {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    margin-top: -5px;
    vertical-align: middle;
    color:#fff;
}

.facebook_button {
    color: #FFFFFF;
    text-shadow: 0 0 1px #283D68;
}

.facebook_button a{
    color: #FFFFFF !important
}
.btn-share {
    cursor: pointer;
    font-weight: normal;
}
a.btn-share:hover {
    color:#fff;
}
.visible-desktop {
    /*    display: inherit !important;*/
}
.visible-tablet {
    display: none !important;
}

#shareTop a .textNode {
    line-height: 1em;
}
a.twitter_button {
    -moz-user-select: none;
    background-color: #01BBEE;
    background-image: linear-gradient(to bottom, #02C9FF, #00A6D4);
    background-repeat: repeat-x;
    border-color: #00A6D4;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    text-shadow: 0 0 1px #007EA1;
}

/***************************************New Payment Discount******************************************/
.register-new-popup{
    height:405px;
    z-index: 1000;
    /*    margin: 0px auto;*/
    /*    background: #e2ecfb;
        
    
         border: solid 1px #c4c5c8;*/
    /*     left: 27%;
    
       
    
        position: absolute;
        top: 10%;*/
}
.register-new-popup .title ,.register-new-popup .ask-freind {
    width:100%;
    background: #fff;
    margin: 5px auto;
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #c4c5c8;
}
.register-new-popup h2{
    text-align: center;
    font-size: 18px;
}

.register-new-popup h1{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
}
.register-new-popup .title{
    padding-bottom:0px;
    width:90%
}


.overlay  {
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: -7px;
    width: 100%;
    z-index: 999;
    background: #000;
}

#dvLoading
{
    background: url(/static/img/loading2.gif) no-repeat center center transparent;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}
.ask-freind button{
    padding: 5px 20px;
    background: #37559c;
    color: #fff;
}
.ask-freind button img{
    position: relative;
    right:10px;
}
.ask-freind button span{
    position: relative;
    top: 3px;
}

.page_log .new-log-title{
    width:85% !important;
    margin-bottom: 10px;
}
.new-log-title{
    text-align:right;
    width:100% !important;
    padding-bottom: 10px;
    margin-right: 12%;
}
.new-log-input{
    margin-right: 12%;

    width: 68%;  
}
.linethrough{
    width:46%;
    float: right;
    border-top:solid 1px #cccccc;
    position: relative;top:7px

}
.padding15{
    padding-bottom: 15px;
}
.loginpopupFeilds{
    line-height: 22px;width:88% !important;
}

.fb-payment{
    margin-top:3px;
    background:url(/static/img/facebook-button.png) no-repeat ;
    border: none;
    min-width:140px;
    height: 34px
}
.fullw{
    width:277px;
}
#free-promotion-modal .modal-header{
    /*    display: none;*/
    border-bottom: none
}
.register-new-popup .d3{
    height: 50px;
    line-height: 32px;
    color:#fff;
    background: #d10000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
    margin-top: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:0px;
    margin-top: 0px;
}
.register-new-popup .d3 a{
    color:#fff;}
#free-promotion-modal .modal-body{
    padding: 0px 0px 0px;   
}
.register-new-popup .d2{
    padding-bottom: 10px;
}
.register-new-popup .d2 a span{
    font-size: 18px;
}
.register-new-popup .d2 h2{
    font-size: 17px; 
}

.zoom-box {

    width:0;
    height:0;
    position:relative;
    top:50px;
    right:45%;

    font-size:0;
    line-height:0;
    vertical-align:middle;
    text-align:center;

}

.modal-backdrop.in{
    opacity:0.9
}

.register-new-popup .close img{
    position: relative;
    top: -19px;
    right:4px
}
.register-new-popup  .number{
    float:left;
    margin-left:10px;
}
.popup-close.close,.popup-close.close:hover, popup-close.close:focus{
    opacity: 1;
}
.d1 h2{
    position:relative;top:-20px;clear: both
}
.d2 h2{
    position:relative;top:-4px;clear: both
}
.d2{
    height: 130px;
}
.d1{
    height: 142px;
}
.d0{
    height: 70px;
}
.media-section img{
    width:100%;
}
.d3 a{
    color: #FFFFFF;
    display: block;
    padding-top: 8px;
    vertical-align: middle;
    width: 100%;
    position: relative;
}
.d3{
    width:100%;
    text-align: center;
    position: absolute !important;
    bottom: 0px;
    top:356px !important;
    right: 19px;
}
.grant-container{
    height:227px !important;
}
.fullWidth{
    width:100%;
    text-align:center;
}
.newpayment-submit{
    font-size: 15px !important;
}
.hiddenoverflow{
    overflow: hidden;
}
.disabledB{
    background: #ccc;
}
.fb-textlogo{
    color:#fff !important;
    font-size:30px;
}
.expert_img{
    width:auto;
    float:right;
    margin-right: 10px;
}
.expert_data{
    width: 69%;
    float: right;
    padding-right: 7px;
    margin-top: 10px;
    background: url('/static/img/trust_mark2.png') no-repeat left -2px;
    min-height: 40px;

}
.expert_data_public{
    width:85%;
    float: right;
    padding-right: 10px;
    margin-top: 10px;
    min-height: 40px;

}
.expert_titile{
    float:right;
    font-size:14px;
    font-weight: bold;
    color:#000;
}
.specialist{
    font-size:16px;
    color:#000;
    font-weight: normal;
}
.add_question{
    padding-right: 10px;
    padding-left: 10px;
}
.staisfied_details{
    clear: both;
    padding-top: 20px;
}
.answered_q span.percent{
    margin-right: 15px;
}
.add_question{
    border-top:solid 1px #c6c6c6;
    margin-top: 5px;
}
.add_question textarea{
    border: 1px solid #C6C6C6;
    margin-top: 10px;
    width: 77%;
    padding: 5px;
    font-size: 12px;
    height:40px;
    float: right;

}
.add_question .btn{
    float: left;
    font-size: 19px;
    margin-right: 10px;
    margin-top: 11px;
    padding: 5px 21px;
}

.expert_details_pq{
    border: solid 1px #c6c6c6;
}
.blurred_answer{
    background: url("/static/img/blur-img.png") no-repeat scroll 0 25px rgba(0, 0, 0, 0);
    clear: both;
    height: 332px;
    width: 100%;
    border:solid 1px #c6c6c6
}
.blurred_answer_ltr{
    background: url("/static/img/blur-img-ltr.png") no-repeat scroll 0 25px rgba(0, 0, 0, 0);
    clear: both;
    height: 332px;
    width: 100%;
    border:solid 1px #c6c6c6
}
.blurred_answer h1{
    font-size: 19px;
    margin-top: 0;
    padding: 15px;
}
.blurred_answer_ltr h1{
    font-size: 19px;
    margin-top: 0;
    padding: 15px;
}
.blurred_answer button{
    position: relative;display:block ;margin: 100px auto;
}
.blurred_answer_ltr button{
    position: relative;display:block ;margin: 100px auto;
}
.press_logo{background: none repeat scroll 0 0 #44617D;margin-bottom: 15px;padding: 5px 0px;}
.press_logo .row a{

    margin-left: 12px;

}
.step2press{
    margin-top: 20px
}
.press_title{
    float: right;
    font-size: 25px;
    position: relative;
    top: 18px;
    color:#DBE1E6;
}
.askfree{
    padding:9px 12px !important;
    margin-right: 10px;
    font-size: 15px;
    float: right !important;
}
.privacy p  ,.privacy li
{
    font-size: 14px;line-height: 20px;
}

.newlogbtn{
    padding:10px 60px;margin-right: 28px;height: 50px;font-size: 18px;
}
.newregbtn{
    padding: 10px 86px;
    margin-right: -23px;
    height: 50px;
    font-size: 18px;
}

.answertiltle{
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}

#free-promotion-modal .modal-content{
    background: none !important;
    box-shadow: none;
    border:none;
}

.popup-close{
    position: relative;
    right: -5px;
    top: 9px;
    z-index: 10000; 
}
#free-promotion-modal .modal-header ,#free-promotion-modal .modal-body{
    position: relative;
    top: -30px
}
.expert_titile p{
    font-size: 18px;
}

.articles_socila_icons{
    display: none;
}
.btn-share span{
    color:#fff;
}
.grant-container .d3{
    top:151px !important;
}
.grant-container .d2{
    height: 75px;
}
.grant-container .d1{
    height:68px !important;
}
.press p{
    font-size: 18px;
    line-height: 24px;
}
.inner-press{
    margin-bottom: 20px;
    margin-top:20px;
}
.inner-press p{
    text-decoration: none;
}
.rate_btn{
    margin: 0px auto;
    display: block;
    float: none;
}
.trust_logo{
    clear: both;
    top: -30px;
    position:relative
}
.follow_up_Q button{
    width:auto;
}
.follow_up_Q{
    border:none;text-align: center
}
.q_titile{
    float:right;font-size: 20px
}
.q-text{
    margin:10px;height:auto;color:#000
}
.mobile_smily_panel .panel-default{
    border-bottom:none;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px
}
.mobile_smily_panel .answer_label{
    font-size:20px;font-weight:bold
}
.step1holder{
    width:70%  ;float:right
}
.filter_menu{
    display:none;
}
.bottom5{
    margin-bottom:5px;
}
.display-n{
    display: none;

}
.glyphicon-poll-style {
    color: #0AAE02;
    left: 56px;
    position: absolute;
    top: 45px;
}
.filter_menu{
    display:none;
}
.center_text{
    display:none;
}
.answer_block{
    width:65%;float:left;
    margin-top:5px;
}
#poll-modal .modal-body {
    padding: 0 20px 10px 20px;
}
#poll-modal .modal-footer {
    margin: 0;
    padding: 5px 20px 5px;
}
/*** START Modal hack, remove this if bootstrap.js is more than v3.1.0 **/
body, .navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: 0 !important;
}
/*** END Modal hack, remove this if bootstrap.js is more than v3.1.0 **/

.question_area{
    display:none;
}
.lp_logo{
    display:block;
    float:none;
    width:100%;
    text-align:center;
}
.wrap_txt{
    word-wrap: break-word;
}
#article-promotion .modal-header{
    border:none;
}
#article-promotion .modal-body h1{
    font-size: 18px;
    text-align: center;
    position: relative;
    top:-10px;
}
#article-promotion .desktop-modal.modal-dialog{
    width:400px !important;
}
#article-promotion .modal-body {
    padding-bottom: 70px !important;
    padding:0px;
}

.face , .twit{
    width:25%;
    font-size: 14px;
    text-align: center;
    float: left
}
.face{
    border-right:solid 1px #999999;
    margin-left:150px;
}
.mobile_modal{
    display: none;
}
.desktop-modal{
    display:none;

}
.answer_textarea{
    border: 1px solid #DDDDDD;
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
}
.profile_img-tab{
    padding:0 5px; width:110px;float: right
}
.mobile-paymentoption{
    display:none;   
}
.padding10{
    padding:10px;
}
.press-logo{
    min-height: 40px;
    float:right;
    margin-left:20px;
    /*    height:100px;*/
}

.eng-press-desc{
    text-align: right;
    float: right;
}
p.press-desc{
    font-size: 15px;
    /*    margin-right:100px;*/
    text-decoration: none;
}
.inner-press a{

    text-decoration: none;
}
.misplaced_btn{
    background:url("/static/img/grey_btn.png") 0px -4px;
    float:right;
    color:#000;
    margin-right:5px ;padding:16px 45px ;border:solid 1px #ccc

}
.dn{
    display: none;
}

.misplaced-input{
    padding-right:40px;margin-bottom:10px;
}
.misplaced-modal-body{
    padding-top:0px;padding-bottom: 0px;padding:0px;width:100%
}
#misplaced-modal h2{
    font-size:18px;text-align:center
}


#misplaced-modal .modal-header button{
    position:relative;top:-40px
}

#misplaced-modal .modal-header button img{
    width:25px;z-index: 100;position: relative
}
.misplaced-form-btn{
    color:#1A344B !important;
    width:50%;
    margin:0px auto !important;
    float:none !important;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;

}
.desktop-modal-fadin{
    display:none !important;
}
.cat_title{
    float:left;
    margin-left:10px;
}
.time_stamp{
    background: none;
}
.question-detail{
    clear:both;margin-bottom: 5px;padding-bottom:5px;border-bottom:solid 1px #ccc

}
.desktop-misplaced-btn{
    color:#1A344B !important ;
    font-size: 16px;
    margin-right: 10px !important;
    padding: 10px 30px;
}
.d-misplaced{
    color:#fff ;float: right !important;
    padding: 10px 30px;
    font-size: 16px;

}
.panel a.d-misplaced:link ,.panel a.d-misplaced:visited {
    color:#fff !important;
}
.navbar-toggle{
    float: right !important;
    margin-right: 15px;
}
.navbar-brand{
    float:right;
}
.post-on-facebook-wall-permission{
    float:right;
}
.post-on-fb{
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

.account-side{
    padding-left:20px;
}
.account-side h3{
    padding-right:20px; font-size:25px;margin-top:20px
}
.account-side panel-body{
    padding:0px;
}
.account-side .profile-wrapper{
    background:none;
}
.my-info{
    padding-right:20px; font-size:25px;
}
.user-avatar{
    border-style:solid; line-height:0px;padding:0px; border-color:#E5E5E5; border-width:2px;margin-bottom:10px;
}
.expert_details .new-exp-img{
    width:56px ;
} 
.question_area .question-txt{
    padding:20px;margin:10px;background:#eee;  
}
.user-img-avatar{
    width:300px;float:right;clear:both
}
.user-img-avatar img{
    float:right;padding:0 0 0 10px;
}
.user-img-avatar  h4{
    font-size:16px;float:right;
}
.custom-an-txt{
    width:300px;
}
.answer-aria{
    padding-right:10px;
}
.answer-aria p{
    line-height: 24px;clear:both;;
}
.leftside p{
    padding:20px;margin:10px;background:#eee;line-height:24px
}
.answer-item{
    margin-bottom:20px;
}
.answer-item .pull-left img{
    float:left;padding:0 0 0 10px;
}
.answer-item .pull-left h4 span{
    font-weight:bold;
}
.answer-item .pull-left{
    width:300px;
}
.answer_block{
    margin-bottom:20px;
}
.expert-block .expert_titile p{
    margin-right:20px;
}

.expert-block .answered_q{
    margin-right:20px;
}
.staisfied_details p:nth-child(1) {
    padding-top: 2px;
}
.staisfied_details p:nth-child(2) {
    padding-top: 6px;
}
.currency-seperator{
    clear:both;margin-bottom: 5px
}
.answer-item p{
    line-height: 24px
}
.expert-block{
    background:none !important
}
.question-item a{
    font-size:16px;
}
.question-item .time_stamp{
    color:#ccc
}
.lp-mobile-view{
    display: none;
}
.inner-press a p{
    margin-bottom: 0px;
}
.cityLocation{
    font-size: 15px;
    margin-top: 10px;
    display: block;
    right: 10px;
    position: relative;
}
.citylist{
    width:50%;
    float:right;

}
#registration-modal .fb-login-button img,.newregmodel .fb-login-button img {
    width:220px;
}
#registration-modal #twitter_redirect img, .newregmodel #twitter_redirect img {
    width:220px;
}
.payat_home img{
    margin-top:0px;
}
.paymentoption .fb-login-button img {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;

}
.payhome_address{
    font-weight: bold;
}

.fb-login-button p{
    background: url('/static/img/facebook-button.png') no-repeat;
    height: 51px;

}

.fb-login-button{
    clear:both;
}
.newregmodel{
    width:400px;
}
.alert-success span{
    line-height: 24px;
}
.paymethod button:hover ,.paymethod button:focus{
    color:#fff;
}
.profile-img{
    float:right;
}
.counter .comment-txt{
    font-size: 12px;  
}
.comments-counter h1{
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom:10px;
    margin-top:5px;
}
.comments-counter .comment-txt{
    font-size: 12px;
    text-align:right;
    margin-right:60px;
}
.comments-counter .data{
    font-size: 12px;

    margin-right: 60px;
    text-align: right;
    width: 190px;
}
.comments-counter .data span{
    font-weight: bold;  
    display: block;
}

.profile-img img{
    width:75px;
    margin-left:10px
}
.comment{
    float: right;
    margin-right: 3%;
    width: 47%;
} 
.commentContainer{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    margin-bottom: 13px;
    padding: 11px;
}
.first_comment{
    border-left: 1px solid #CCCCCC;
    padding-left: 14px;   
}
.label-forgot-pass{
    margin-top:10px;
    margin-bottom: 10px;
}
.mobile-question-btn .btn-danger{
    box-shadow: none;
}
.comments-counter{
    margin-top: 10px;
    border-top:1px solid #CCCCCC;
    padding-top: 5px;
    width:99%;
}
.counter h1{
    margin-top:5px;
}
.home-counter{
    border-top:none;
}
.home-counter .counter{
    height:35px;
}
.logpopupFooter a{
    cursor: pointer;
}
.bg-info {
    color: #fff;
    background-color: #8097b0;
}

.comments-counter .counter{
    background: url("/static/img/mobile_counter.jpg") no-repeat scroll 0 0 / 123px auto rgba(0, 0, 0, 0) !important;
    font-family: 'Times New Roman' !important;
    height: 31px;
    margin: 0 auto;
    padding: 0;
    text-align: right;    
} 
.about-us-page {
    margin-top: 44px;
}
.popover {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color:#fff;
    font-size: 10px;
}
.popover-content {
    padding: 1px 9px;
}

.popover.bottom .arrow:after {
    border-bottom-color: red; 
}
.inner {
    color: #295378;
}
.outer {
    color: red;
    text-decoration: line-through;
}
.install-jawabkom-app-container {
    background: #d4ebfd; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGViZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #ffffff 0%, #d4ebfd 100%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4ebfd), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d4ebfd 100%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d4ebfd 100%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d4ebfd 100%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d4ebfd 100%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */

}
.input-style {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;            
}

expert-online-now {    
    color: #32b930;
}

.no-width-form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;    
}

.public-question-v3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#subscription-packages-container form div.radio {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 8px 0 3px;
}

#subscription-packages-container form p.bg-info {
    height: 35px; 
    padding: 10px 18px 0 0;
    margin: 0;
}
.comments-counter .served-customers-counter {
    text-align: left;
}
.comments-counter .happy-customers {
    text-align: right;
}
.expert-profile-desktop img {
    float: right;
    padding: 0 0 0 10px;
}
.subscriptio-radio-input {
    float: right; 
    text-align: right; 
    margin: 0px;
}
.subscriptio-radio-input input {
    margin: 0 5px;
}
.experts-container .expert {
    float: right;
    position: relative;
    margin-right: 1px;
}
.experts-container .expert-details {
    bottom: 84px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.experts-container .expert-details p {
    margin: 0;
}
.experts-container .expert-details .expert-specialty {
    color: #7cc5ff;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
.experts-container .expert-details .expert-name {
    font-size: 18px;
    text-align: center;
}

.lp-exp-container .experts-container .expert-details .expert-specialty {
    color: #7cc5ff;
    font-size: 13px;
    margin: 3px 0 0;
}
.lp-exp-container .experts-container .expert-details {
    bottom: 87px;
    font-size: 20px;
    position: absolute;
}
.expert_details_pq .fb-like, .minimize-ask-expert-popup, .maximize-ask-expert-popup {
    float: left;
}
.pqv3-expert-image-popup, .comment_block textarea {
    float: right;
}
.in_the_news_testemonialsv2 .step2press, .in_the_news_testemonialsv2  .press_logo {
    margin-top: 0;
    margin-bottom: 0;
}
.form-group input {
    font-size: 16px;
}
.form-group .form-control {
    font-size: 16px;
}
.form-control {
    font-size: 16px;
}
.input-style {
    font-size: 16px;
}

@-webkit-keyframes arrowMove {
    0%   {right: -25px;}
    50% {right: -45px;}
    100% {right: -25px;}
}
@keyframes arrowMove {
    0%   {right: -25px;}
    50% {right: -45px;}
    100% {right: -25px;}
}

@-webkit-keyframes arrowMoveSmall {
    0%   {right: -1px;}
    50% {right: -11px;}
    100% {right: -1px;}
}
@keyframes arrowMoveSmall {
    0%   {right: -1px;}
    50% {right: -11px;}
    100% {right: -1px;}
}

.phone-box,
.card-number-box {
    background-color: #fff;
    padding: 30px 0;
}

.card-number-box .arrow {
    top: -12px;
}

.top-images-container {
    display: block;
    height: 34px;
    width: 280px;
    margin: 0 auto 10px;
}

.top-images-container .norton {
    float: right;
    height: 34px;
    margin: 0;
}

.top-images-container .small-cards-images {
    float: left;
    margin: 9px 0 0 0;
    width: 140px;
    height: auto;
}

.arrow.small {
    display: none;
}

.arrow {
    position: absolute;
    top: -10px;
    right: -25px;
    -webkit-animation: arrowMove 1.1s infinite; /* Chrome, Safari, Opera */
    animation: arrowMove 1.1s infinite;
    animation-play-state: running;
    animation-fill-mode: both;
    transition: ease;
    transition-property: all;
}


.button {
    height: 55px;
    width: 240px;
    display: block;
    font-weight: bold;
    background-color: #49c147;
    border: 1px solid #49c147;
    color: #ffffff;
    text-decoration: none;
    line-height: 53px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    text-shadow: 1px 1px 0px #38846e;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}
.button:hover ,
.button:focus {
    text-decoration: none;
}

.step3-button {
    height: 46px;
    line-height: 40px;
    display: block;
    font-weight: bold;
    background-color: #49c147;
    border: 1px solid #49c147;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    text-shadow: 1px 1px 0px #38846e;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.confirmation-code-headline span {
    color: #49c147;
    margin: 0 6px 0 0;
}

.asking-for-confirmation-headline {
    color: #4ebbb6;
    font-weight: bold;
}

.did-not-get-confirmation-headline {
    color: #4ebbb6;
    font-size: 16px;
    text-align: center;
    margin: 0 0 18px 0;
    -ms-text-size-adjust: 72.5%;
    -webkit-text-size-adjust: 72.5%;
    -moz-text-size-adjust: 72.5%;
    font-weight: bold;
    line-height: normal;
}

.subscription-policy ul li {
    -ms-text-size-adjust: 72.5%;
    -webkit-text-size-adjust: 72.5%;
    -moz-text-size-adjust: 72.5%;
}

.phone-number-verification {
    font-size: 12px; 
    font-weight: normal; 
    margin-top: 14px; 
    margin-bottom: 9px;
}

.lp-submit-container {
    width: 280px;
    margin: 0 auto;
}

.lp-submit-container .button {
    width: 178px;
    margin: 0;
    float: left;
    line-height: 45px;
    height: 47px;
}

.lp-submit-container > div {
    float: right;
    width: 75px;
    height: 47px;
}

.lp-submit-container span {
    color: #979797;
    font-size: 10px;
    width: 35px;
    line-height: normal;
    text-align: right;
    padding: 0;
    float: right;
    margin: 11px 5px 0 0;
}

.lp-submit-container img {
    margin: 0;
    padding: 15px 0;
    float: right;
}

input.input-field {
    line-height: 45px;
    height: 45px !important;
    font-size: 23px;
    background-color: #f6f6f6;
    padding: 0 10px;
    width: 240px;
    margin: 0 auto;
    border: 1px solid #aaaaaa;
    color: #000000;
    text-align: center;
    display: block;
}

.card-number-box input.input-field {
    width: 280px;
    line-height: 40px;
    height: 40px !important;
    font-size: 16px;
}

select.select-field {
    line-height: 38px;
    height: 40px;
    font-size: 15px;
    background-color: #f6f6f6;
    width: 240px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
    margin: 10px auto 20px;
    display: block;
    text-align-last: center;
}

.input-field-container {
    width: 299px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.landing-form-description p {
    text-align: justify;
    font-size: 11px;
    color: #f9f9f9;
    padding: 0 25px;
}

.date-and-cvv-container {
    margin: 8px 0 16px 0;
}

.date-and-cvv-container > div {
    margin: 0 auto;
    width: 280px;
    height: 34px;
}

.date-and-cvv-container select {
    line-height: 34px;
    height: 34px !important;
    font-size: 15px;
    background-color: #f6f6f6;
    width: 80px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
    margin: 0;;
    float: right;
    padding: 5px;
}

.date-and-cvv-container input {
    line-height: 34px;
    height: 34px !important;
    font-size: 11px;
    background-color: #f6f6f6;
    padding: 0 10px;
    width: 106px;
    margin: 0;
    border: 1px solid #aaaaaa;
    color: #000000;
    text-align: left;
    float: left !important;
}

.date-and-cvv-container .month-select ,
.date-and-cvv-container .year-select {
    float: right !important;
}

.date-and-cvv-container .month-select {
    width: 50px;
    margin-left: 6px;
    font-size: 14px;
}

.date-and-cvv-container .year-select {
    width: 65px;
    font-size: 14px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
    height: auto;
}
.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip {
    -webkit-box-shadow: 0px 3px 9px -3px #505050;
    box-shadow: 0px 3px 9px -3px #505050;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 1;
}
.tooltip .tooltip-inner {
    background-color: #fff;
}
.tooltip.top .tooltip-arrow {
    -webkit-box-shadow: 0px 3px 9px -3px #505050;
    box-shadow: 0px 3px 9px -3px #505050;
    border-top-color: #fff;
    bottom: -4px;
}
.tooltip.in {
    opacity: 1;
}

.glyphicon-question-sign {
    color: #808080;
    padding-top: 10px;
    margin-left: 0;
    position: absolute;
    cursor: default;
    left: 90px;
    font-size: 13px;
}
.verification-tooltip-image {
    position: relative;
    padding: 0;
}
.verification-tooltip-image:after {
    content: "";
    display: block;
    width: 170px;
    height: 207px;
    background: url(/static2/img/cvv-tooltip.png) 0 0% no-repeat;
    background-size: contain;
}

.news-logo-container {
    background-color: #44617d;
    margin: 0 0 10px 0;
    padding: 7px 0;
}

.news-logo-container img {
    margin-right: 7px;
    max-height: 35px;
}

.news-logo-container img:first-of-type {
    margin-right: 0;
}

/*.news-logo-container .tooltip {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}

.news-logo-container .tooltip .tooltip-inner {
    background-color: #000;
    color: #fff;
    max-width: 280px;
}

.news-logo-container .tooltip.top .tooltip-arrow {
    border-top-color: #000;
    bottom: -6px;
}*/

/* This is the core CSS of Tooltipster */

/* GENERAL STRUCTURE RULES (do not edit this section) */

.tooltipster-base {
    /* this ensures that a constrained height set by functionPosition,
    if greater that the natural height of the tooltip, will be enforced
    in browsers that support display:flex */
    display: flex;
    pointer-events: none;
    /* this may be overriden in JS for fixed position origins */
    position: absolute;
}

.tooltipster-box {
    /* see .tooltipster-base. flex-shrink 1 is only necessary for IE10-
    and flex-basis auto for IE11- (at least) */
    flex: 1 1 auto;
}

.tooltipster-content {
    /* prevents an overflow if the user adds padding to the div */
    box-sizing: border-box;
    /* these make sure we'll be able to detect any overflow */
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

.tooltipster-ruler {
    /* these let us test the size of the tooltip without overflowing the window */
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
}

/* ANIMATIONS */

/* Open/close animations */

/* fade */

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
.tooltipster-fade.tooltipster-show {
    opacity: 1;
}

/* grow */

.tooltipster-grow {
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -o-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden;
}
.tooltipster-grow.tooltipster-show {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

/* swing */

.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}
.tooltipster-swing.tooltipster-show {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

/* fall */

.tooltipster-fall {
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall.tooltipster-initial {
    top: 0 !important;
}
.tooltipster-fall.tooltipster-show {
}
.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0 !important;
    opacity: 0;
}

/* slide */

.tooltipster-slide {
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-initial {
    left: -40px !important;
}
.tooltipster-slide.tooltipster-show {
}
.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0 !important;
    opacity: 0;
}

/* Update animations */

/* We use animations rather than transitions here because
 transition durations may be specified in the style tag due to
 animationDuration, and we try to avoid collisions and the use
 of !important */

/* fade */

@keyframes tooltipster-fading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tooltipster-update-fade {
    animation: tooltipster-fading 400ms;
}

/* rotate */

@keyframes tooltipster-rotating {
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0);
    }
}

.tooltipster-update-rotate {
    animation: tooltipster-rotating 600ms;
}

/* scale */

@keyframes tooltipster-scaling {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.tooltipster-update-scale {
    animation: tooltipster-scaling 600ms;
}

/**
 * DEFAULT STYLE OF THE SIDETIP PLUGIN
 * 
 * All styles are "namespaced" with .tooltipster-sidetip to prevent
 * conflicts between plugins.
 */

/* .tooltipster-box */

.tooltipster-sidetip .tooltipster-box {
    background: #565656;
    border: 2px solid black;
    border-radius: 4px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
    margin-top: 8px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-box {
    margin-right: 8px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-box {
    margin-left: 8px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
    margin-bottom: 8px;
}

/* .tooltipster-content */

.tooltipster-sidetip .tooltipster-content {
    color: white;
    line-height: 18px;
    padding: 6px 14px;
}

.tooltipster-sidetip .tooltipster-content {

}

/* .tooltipster-arrow : will keep only the zone of .tooltipster-arrow-uncropped that
corresponds to the arrow we want to display */

.tooltipster-sidetip .tooltipster-arrow {
    overflow: hidden;
    position: absolute;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow {
    height: 10px;
    /* half the width, for centering */
    margin-left: -10px;
    top: 0;
    width: 20px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
    height: 20px;
    margin-top: -10px;
    right: 0;
    /* top 0 to keep the arrow from overflowing .tooltipster-base when it has not
    been positioned yet */
    top: 0;
    width: 10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
    height: 20px;
    margin-top: -10px;
    left: 0;
    /* same as .tooltipster-left .tooltipster-arrow */
    top: 0;
    width: 10px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom: 0;
    height: 10px;
    margin-left: -10px;
    width: 20px;
}

/* common rules between .tooltipster-arrow-background and .tooltipster-arrow-border */

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border {
    height: 0;
    position: absolute;
    width: 0;
}

/* .tooltipster-arrow-background */

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 10px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #565656;
    left: 0px;
    top: 3px;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #565656;
    left: -3px;
    top: 0px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #565656;
    left: 3px;
    top: 0px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #565656;
    left: 0px;
    top: -3px;
}

/* .tooltipster-arrow-border */

.tooltipster-sidetip .tooltipster-arrow-border {
    border: 10px solid transparent;
    left: 0;
    top: 0;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: black;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: black;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: black;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: black;
}

/* tooltipster-arrow-uncropped */

.tooltipster-sidetip .tooltipster-arrow-uncropped {
    position: relative;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -10px;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped {
    left: -10px;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
    border: none;
    background: #1b1b1b;
    background: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
    margin-top: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
    margin-right: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
    margin-left: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
    margin-bottom: 8px
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
    height: 8px;
    margin-left: -8px;
    width: 16px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
    height: 16px;
    margin-left: 0;
    margin-top: -8px;
    width: 8px
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
    display: none
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
    border: 8px solid transparent
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #1b1b1b;
    border-bottom-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #1b1b1b;
    border-left-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #1b1b1b;
    border-right-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #1b1b1b;
    border-top-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
    left: -8px
}

.tooltipster-sidetip .tooltipster-content {
    font-size: 14px;
} 

.tooltipster-sidetip.tooltipster-borderless.tooltipster-noir-customized .tooltipster-box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 9px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-noir-customized .tooltipster-content {
    padding: 4px 2px 4px 4px;
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom.tooltipster-noir-customized .tooltipster-arrow-border {
    border-bottom-color: #fff;
}

.phone-number-input {
    padding: 6px 9px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-height: 34px;
}

.enter-phone-number-label {
    -ms-text-size-adjust: 72.5%;
    -webkit-text-size-adjust: 72.5%;
    -moz-text-size-adjust: 72.5%;
    font-weight: 700;
}

.asking-for-confirmation-headline {
    -ms-text-size-adjust: 72.5%;
    -webkit-text-size-adjust: 72.5%;
    -moz-text-size-adjust: 72.5%;
}

.step1-h5 ,
.step1-h1 {
    -ms-text-size-adjust: 90%;
    -webkit-text-size-adjust: 90%;
    -moz-text-size-adjust: 90%;
    font-weight: normal;
}

.step1-h5 img {
    margin-bottom: 5px;
}

.step1-p1,
.step1-p3 {
    -ms-text-size-adjust: 90%;
    -webkit-text-size-adjust: 90%;
    -moz-text-size-adjust: 90%;
    font-weight: normal;
}

.step1-p1 {
    font-weight: bold;
}

footer ul li {
    -ms-text-size-adjust: 80%;
    -webkit-text-size-adjust: 80%;
    -moz-text-size-adjust: 80%;
    font-weight: normal;
}

@media only screen and (max-width : 480px) {

    .arrow {
        display: none;
    }

    .arrow.small {
        display: block;
        -webkit-animation: arrowMoveSmall 1.1s infinite; /* Chrome, Safari, Opera */
        animation: arrowMoveSmall 1.1s infinite;
    }

    .lp-body-container .panel {
        border-radius: 4px 4px 0 0;
    }
}

