@charset "utf-8";


.note{
	padding:16px;
	display:inline-block;
	width:100%;
	border:1px solid #1ab5e9;
	margin-bottom:8px;
	margin-top:8px;
}
.note:hover{border:1px solid #64d1f6;}
.note h3{color:#1ab5e9; width:85%; float:right;}
.note a{color:#39b54a; margin-right:6px; text-decoration: underline;}
.note a:hover{color:#66cc66;}
.note a.close{ background: url(../images/note_close.png) no-repeat; width:26px; height:26px; float:left;  background-position:0 0;}
.note a.min  { background: url(../images/note_min.png) no-repeat; width:26px; height:26px; float:left;  background-position:0 0;}
.note a.close:hover{ background-position:-104px 0 ; background-color: #00beff;}
.note a.min:hover{background-position:-104px 0 ;  background-color: #00beff;}


.note#warning{border:1px solid #ff6600;}
.note#warning:hover{border:1px solid #ff9c5b;}
.note#warning h3{color:#ff6600;}
.note#warning a.close{ background: url(../images/note_close.png) no-repeat; width:26px; height:26px; float:left;  background-position:-26px 0;}
.note#warning a.min  { background: url(../images/note_min.png) no-repeat; width:26px; height:26px; float:left; background-position:-26px 0; }
.note#warning a.close:hover{background-position:-104px 0; background-color: #ff9c5b;}
.note#warning a.min:hover{background-position:-104px 0; background-color: #ff9c5b}


.note#pos{border:1px solid #33cc33;}
.note#pos:hover{border:1px solid #56f056;}
.note#pos h3{color:#33cc33;}
.note#pos a.close{ background: url(../images/note_close.png) no-repeat; width:26px; height:26px; float:left; background-position:-52px 0;}
.note#pos a.min  { background: url(../images/note_min.png) no-repeat; width:26px; height:26px; float:left; background-position:-52px 0; }
.note#pos a.close:hover{background-position:-104px 0 ; background-color: #80ff80;}
.note#pos a.min:hover{background-position:-104px 0; background-color: #80ff80;}


.note#nig{border:1px solid #ff0000;}
.note#nig:hover{border:1px solid #ff9797;}
.note#nig h3{color:#ff0000;}
.note#nig a.close{ background: url(../images/note_close.png) no-repeat; width:26px; height:26px; float:left; background-position:-78px 0;}
.note#nig a.min  { background: url(../images/note_min.png) no-repeat; width:26px; height:26px; float:left; background-position:-78px 0; }
.note#nig a.close:hover{background-position:-104px 0; background-color: #ff5d5d;}
.note#nig a.min:hover{background-position:-104px 0;  background-color: #ff5d5d;}


	