.ei-slider{
	width: 100%;
	max-width: 1920px;
	height: 360px;
	margin: 0 auto;
	clear:both;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}
.ei-title{
	position: absolute;
	padding:26px;
	width:500px;
	right: 10%;
	top: 15%;
	text-align: right;

}

.ei-title h2{
	font-family: gess, Droid Arabic Kufi, tahoma;
	color: #fff;
	font-size:50px;
	line-height:1.2em;
	width:auto;
	padding:16px !important;
	margin:0 ;
	background: url(../images/headding_bg.png);

}
.ei-title h3{
	font-size: 18px;
	font-weight:normal;
	font-family:gess;
	text-transform: uppercase;
	color: #fff;
	padding:16px !important;
	margin:0;
	background: url(../images/headding_bg.png);

}
.ei-slider-thumbs{
	height: 6px;
	margin-top:-6px;
	z-index:10;
	float:right;
	position: relative;
	width:100%;
}

.ei-slider-thumbs li{
	position: relative;
	float: right;
	height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #09c;
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #00bfff ;
	width: 100%;
	height: 100%;
	cursor: pointer;

	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #66ccff;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}




@media screen and (max-width: 1100px) {



	.ei-title h2, .ei-title h3{
		

}


