﻿@charset "utf-8";

*{
    /*remove padding and margin*/
    padding:0px;
    margin:0px;

    /*box size = width + padding + border */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;

    text-decoration:none;


}

ul{list-style:none;}



/*@font-face {
        font-family:"gess";
    src: url('../fonts/gess/gess.eot') format("eot");
        src: url('../fonts/gess/gess.otf') format("opentype");
        src: url('../fonts/gess/gess.otf') format("truetype-aat");
    src: url('../fonts/gess/gess.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gess/gess.woff') format('woff'),
         url('../fonts/gess/gess.ttf') format('truetype'),
         url('../fonts/gess/gess.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


@font-face {
    font-family: 'gess';
    src: url('../fonts/gess/gess.eot?') format('eot'),
        url('../fonts/gess/gess.woff') format('woff'),
        url('../fonts/gess/gess.ttf') format('truetype');
}


@font-face {
    font-family:"digital display tfb";
    src:url("../fonts/digital_display/digital_display_tfb.eot?") format("eot"),
        url("../fonts/digital_display/digital_display_tfb.woff") format("woff"),
        url("../fonts/digital_display/digital_display_tfb.ttf") format("truetype"),
        url("../fonts/digital_display/digital_display_tfb.svg#digitaldisplaytfb") 
        format("svg");font-weight:normal;font-style:normal;
    font-weight: normal;
    font-style: normal;
}




.left{float:left;}

/* ----------------------------------
layout  التخطيط
 ---------------------------------- */


body{
    direction:rtl;
    font-size:15px;
    font-family:tahoma;
    font-weight:normal;
}



header {
    background:#00ade6;
    width:100%;
    min-width:1100px;
    padding:8px;
    height:auto;
    max-height:66px;
    float:right;
    margin-bottom:4%;
}



#Logo{
    
    background:url(../images/white_logo_zwaar.png) no-repeat center center;

    width:30px;
    height:40px;
    padding:0px;
}



a#Logo{
    background:url(../images/white_logo_zwaar.png) no-repeat center center;
    float:right;
    width:7%;
    height:30px;
    margin: 12px 0 0 3% ;
    padding:0px;
}

a.fbIcon{
    background:url(../images/facebookiconzwaar.png) no-repeat;
    height:20px;
    width:11px !important;
    padding:0px;
    float:left;
    margin:12px 6px;
}


a.linkedin{
    background:url(../images/in.png) no-repeat;
    height:20px;
    width:21px !important;
    padding:0px;
    float:left;
    margin:12px 6px;
}

a.tumblr{
    background:url(../images/tumblr_icon_zwaar.png) no-repeat;
    height:20px;
    width:15px !important;
    padding:0px;
    float:left;
    margin:12px 6px;
}


a.gplus{
    background:url(../images/gplus.png) no-repeat;
    height:20px;
    width:23px !important;
    padding:0px;
    float:left;
    margin:12px 6px;
}

a.twIcon{
    background:url(../images/twittericonzwaar.png) no-repeat;
    height:20px;
    width:24px;
    float:left;
    margin:12px 6px;
    padding:0px;
}


nav#localNav{
    height:110px;
    width:100%;
    margin-bottom:10%;
}


nav#localNav a{
    height:110px;
    min-width:120px;
    text-align:center;
    padding:45px 10px 0px 56px ;

    color:#666;
    font-family:tahoma;
    float:right;
    font-size:20px;
    background:url(../images/menuseperate.png) left center no-repeat;
}


nav#localNav a:hover{ color:#00ade6; border:none; background-image: url(../images/menuSeperateblue.png);}

.fullWidthDiv{
    width:1100px;
    padding:36px 0px;
    margin:0px auto;
    text-align:center;
    height:auto;
    display:table;
}

.homeBody{
    margin:46px auto;
    width:1100px;
    display:table;
    clear:both;
}


/* ----------------------------------
layout  التخطيط
 ---------------------------------- */




h1{
    font-family: arial;
    font-weight:bold;
    font-size:40px;
    color:#666;
}

h1.home{
    background:url(../images/headding_bg2.png) right center no-repeat;
    padding-right:66px;
    text-align:right;
    color:#1ab5e9;
    margin-top:36px;
    width:100%;
}

h2{
    font-family:arial ;
    font-weight:bold;
    color:#00ade6;
}


h3 , h4 , h5{
    font-family:tahoma;
    font-weight:normal;
    color:#00ade6;
}


p{
    color:#999;
    font-family:tahoma;
    margin-top:26px;
}


.homeBody p{
    font-size:15px;
    text-align:justify;
    padding:16px 0px;
    border-top:1px solid #c4f0ff;
}


.featureContainer{
    width:45% !important;
    height:140px;
    float:right;
    margin-bottom:26px;
    background:#00ade6;
}
.featureContainer:hover{	background:#00c0ff;}


.featureContainer#rightunits{ margin-left:10%;}

.featureContainer h2{ text-align:right; color:#fff; margin-top:22px;}

.featureContainer p{
    color:#fff;
    text-align:right;
    font-size:.9em;
    margin-top:6px;
    width:95%;
    font-family:tahoma;
}

.featurImage{
    background:url(../images/features_icons.png) no-repeat ;
    height:140px; 
    width:140px;
    float:right;
    margin-left:26px;
}

.featurImage#network  { background-position:-140px 0px;}
.featurImage#prices   { background-position:-280px 0px;}
.featurImage#stats    { background-position:-420px 0px;}

.featurImage#filer    { background-position:0px -140px;}
.featurImage#max    { background-position:-140px -140px;}
.featurImage#payment    { background-position:-280px -140px;}


.stepsContainer{
    width:1100px;
    height:auto;
    margin:0px auto 66px auto;
    display:table;
}

.stepsContent{
    float:right;
    background:#00ade6;
    height:264px;
    width:1006px;
    padding:40px 60px 0px 0px;
    margin:12px 6px 6px 0px;
}


/*.step01 , .step02 , step03 , .step03 , .step04 , .step05{border:none; padding-right:120px; }*/

.stepForms{padding-right:120px ;}

ul.stepNumber{
    width:72px;
    display:table;
    float:right;
    padding:0px;
    margin-top:6px;

}

ul.stepNumber li{
    font-family:tahoma;
    font-size:46px;
    color:#fff;
    text-align:center;
    vertical-align: central;


    padding:12px;
    margin:6px 0 6px 6px;
    height:80px;
    float:right;
    width:80px;
    background:#00ade6;
    cursor:pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


ul.stepNumber li#selected , ul.stepNumber li:hover{background:#00c0ff;}
ul.stepNumber li:active{background:#33ccff;}


.steps h1{ color:#fff; font-size:32px;}
.steps p { color:#fff; font-size:16px; width:320px; margin:36px 0px;}
.steps a {
    color:#fff;
    font-family:tahoma;
    font-size:15px;
    padding:8px;
    background:#1ab5e9;
    float:right;
    margin-top:26px;
    border:1px solid #57d5ff;
    margin-left:26px;
}

.steps a:hover ,.steps input[type=submit]:hover ,.signin input[type=submit]:hover{ background:#26b9ea; border:1px solid #80dfff;}
.steps a:active ,.steps input[type=submit]:active ,.signin input[type=submit]:active{ background:#2dc8fc; border:1px solid #fff;}



.steps input[type=text] , .steps input[type=password] ,
.signin input[type=text] , .signin input[type=password]{
    background: url(../images/input_bg.png) no-repeat center bottom;
    border:none !important;
    width:220px;
    height:36px;
    font-family:tahoma;
    color:#fff;
    text-align:center;
    font-size:16px;
    outline:none;
    margin:36px 0 12px 0;
    padding:0px 6px;
}


.steps input[type=submit] , .signin input[type=submit]{
    color:#fff;
    font-family:tahoma;
    font-size:15px;
    padding:8px;
    width:220px;
    text-align:center;
    background:#1ab5e9;
    float:right;
    margin:36px 0 12px 0;
    border:1px solid #57d5ff;
    cursor:pointer;
}

::-webkit-input-placeholder { color:#fff; }
::-moz-placeholder 			{ color:#fff; } /* firefox 19+ */
:-ms-input-placeholder		{ color:#fff; } /* ie */
input:-moz-placeholder 		{ color:#fff; }

.steps{border-left: 1px solid #80dfff; width:50%; float:right; height:auto; }



.serviceCard{
    background:#00ade6;
    width:500px;
    height:200px;
    float:right;
    margin:46px 0px 0px 46px;
}

.serviceCard:hover{ background:#00c0ff;}


.serviceCard td{padding:26px; margin:0px;}
.serviceCard h1 , .serviceCard p{ color:#fff; border:none; margin:0px;}
.serviceCard h1{font-size:26px;}

.team{
    width:auto;
    height:132px;
    float:right;
    display:table;
}


.teamImage{
    width:132px;
    height:132px;
    padding:16px;
    float:right;
    background-position:center center;
    background-repeat:no-repeat;


}

.teamImage#omar{ background-image:url(../images/omar.png); }
.teamImage#costa{ background-image:url(../images/costa.png); }
.teamImage#abdo{ background-image:url(../images/m.abdo.png); }
.teamImage#soliman{ background-image:url(../images/soliman.png); }
.teamImage#gaber{ background-image:url(../images/3antar.png); }




.teamInfo{
    width:200px;
    height:132px;
    float:right;
    padding:16px;
    display:none;
    border-right:1px solid #ccc;
}


.team h1{ font-size:20pt;}
.team h2{ font-size:14pt;}

a.fbIcon.team{float:right; background:url(../images/facebookiconzwaarblue.png) !important;}
a.twIcon.team{float:right; background:url(../images/twittericonzwaarblue.png) !important;}



footer{
    background:#00ade6;
    width:100%;
    padding:16px 0;
    display:table;
    margin-top:36px;
}

.footerContainer{
    width:1100px;
    height:auto;
    margin:0px auto;
    display:table;
}

.links{ width:50%; float:right;}


footer h3 , footer a , footer p{ color:#fff; }
footer ul{float:right; margin-left:10%; line-height:1.5em; padding:0; width:100%;}
footer ul li{ float:right; margin-left:16px;}
footer h3{font-family:tahoma; font-size:1.2em;}

footer a:hover{ color: #008BB9;}




/*sign up/in style*/


.homeBody{
    width:1100px;
    margin:46px auto;
    color:#fff;
    display:table;
    font-family:tahoma;	
}


a.onswitch{
    width:100%;
    text-align:center;
    padding:12px;
    margin-top:26px;
    font-size:1.1em;
    float:right;
    color:#fff;
    background:#00ade6;

}

.sign{
    width:226px !important;
    height:100%;
    margin:0 auto;
    padding:16px 166px;
    border:1px solid #80dfff;
    display:table;
    background:#00ade6 !important;
    -moz-opacity: 0.90;
    opacity: 0.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
}


.sign:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}


.sign a{ color:#39b54a;}
.error{color:#df1e25; font-size:1em;}


/*payment methods style*/

.paymentMethods{
    width:100%
}


.paymentContent{
    float:right;
    background:#00ade6;
    width:100%;
    padding:60px;

}



.paymentMethods li{
    width:23.1%;
    float:right;
    height:160px;
    cursor:pointer;
    background-color:#00ade6;
    background-position:center center;
    background-repeat:no-repeat;
    margin:2% 0% 2% 2.5%;
    color:#00ade6;
}

.paymentMethods li:hover{ background-color:#00c0ff;color:#00c0ff;}


select.cashu{
    width:226px;
    height:38px;
    float:right;
    background:#1ab5e9;
    border:1px solid #57d5ff;
    color:#fff;
    outline:none;
}


.faqSearchForm{
    width:100%;
    height:46px;
    padding:0% 6%;
    background:#666;
}


.faqSearchForm input[type=text]{
    width:90%;
    height:46px;
    margin:0px;
    padding:0px 36px;
    background:none;
    border:none;
    outline:none;
    color:#ccc;
    float:right;
    font-size:15px;
    font-family:tahoma;
    font-weight:normal;
    background: url(../images/search-icon.png)  right 12px center no-repeat;
}

.faqSearchForm input[type=text]:hover{background:#6D6D6D  url(../images/search-icon.png) right 12px center no-repeat}


.faqSearchForm input[type=submit]{
    width:10%;
    height:46px;
    background:#797979;
    color:#fff;
    font-family:tahoma;
    font-size:16px;
    border:none;
    margin:0px;
    outline:none;
    float:right;
    cursor:pointer;
}

.faqSearchForm input[type=submit]:hover{background:#868686; color:#00ade6;}
.faqSearchForm input[type=submit]:active{background:#969595;}



.FaqContainer{
    width:333px;
    float:right;
    border-right:1px solid #ccc;
    padding-right:12px;
    margin-left:33px;
    margin-top:33px;
}

.FaqContainer h2{ border:none;}
.FaqContainer p{ border:none; margin:0px; padding:6px;}


/*lay out table */

table#layOut{
    padding:0px;
    margin:0px;
    width:100%;
}



table#layOut tr td.blue{ color:#09c;}
table#layOut tr{ vertical-align:top;}
table#layOut tr td{ height:auto; padding:12px 0px; clear:both; border-bottom:1px solid #ccebf5;}
table#layOut.blue{ color:#09c;}




.CampBudget{
    width:220px;
    height:auto !important;
    float:right;
    padding:2px;
    border:1px solid #fff;
    color:#fff;
}

.daillyBud{
    width:50%;
    height:auto;
    float:right;
    padding:12px;
    border-left:1px solid #22c1f5;

}

.totalBud{
    width:50%;
    height:auto;
    float:right;
    padding:12px;


}

#totalBudDigi , #dayBalance{
    height: auto;
    width:100%;
    border:1px dashed red;
    float:left;
    border:none;
    text-align:left;
    font-size:36px;
    color:#fff !important;
    font-family:digital display tfb, Geneva, sans-serif;
}



ul#terms{
    color:#999;
    font-family:tahoma;
    font-size:1.2em;
    list-style:square;

}
ul li{
    margin-bottom:6px;
}





/*more than 1100pxs*/

@media screen and (min-width: 1100px) {

    #menuIcon , #menuClose{display:none;}



}

label{
    display:block;
}



.mainCallToAction{
    float:right;
    border:1px solid #00ADE6;
    padding:16px;
    color:#00ADE6;
    font-family:  tahoma; font-size:1.6em;
}

.mainCallToAction:hover{
    border:1px solid #09c2ff;
    padding:16.5px;
    color:#09c2ff;
}




#zwaar-feeds .hot{
    color:#f8da4e;
}

.notifications{
    display: none;
    width:16px;
    height:20px;
    padding: 3px;
    background: #fff;
    color:red;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    font-family: 'Lato' , arial !important;
}