.cbp-hrmenu {
	width: 90%;
	margin: 0 auto !important;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	width: 90%;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	
	padding:0;
	margin: 0  10% 0 0;
}


.cbp-hrmenu .cbp-hrsub-inner{
	width:100%;
	margin:0px;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
	float:right;
}

.cbp-hrmenu > ul > li > a {
	padding: 1em 2em;
	font-family: Tahoma, Geneva, sans-serif; 
	color: #fff;
	outline:none;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a{color: #fff;}
.cbp-hrmenu > ul > li > a:hover {color: #5fd7ff;}

.cbp-hrmenu > ul > li.cbp-hropen a{color: #fff;}
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {color: #5fd7ff;}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #46494b;
	width: 100%;
	right: 0;
	margin-top:6px;
	padding:26px 0;
	z-index:99;
}

.cbp-hropen .cbp-hrsub {
	display: block;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float:right !important;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	float:right; 
	width:100%;
	margin-bottom:6px;
}




.cbp-hrsub h4 {
	color: #00ade6;
	margin: 0;
	font-size: 120%;
	font-weight: 300;
}

/* Examples for media queries */

img{border:none !important;}

