.wspn_navigation_layout{
  display: inline-block;
  margin: 20px 0 20px 0;
  width: 100%;
}
.wspn_navigation_layout a{
  color: #FFFFFF !important;
}
.wspn_right,
.wspn_left{
  background: #a10000;
  font-size: 42px;
  display: inline-block;
  padding: 20px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 49%;
}
.wspn_right{
  float: right;
}
.wspn_left{
  float: left;
}
.wspn_right.wspn_first_page {
    width: 100%;
}

@media (max-width: 480px){
  .wspn_right,
  .wspn_left{
    font-size: 21px;
  }
}

@media (max-width: 320px){
  .wspn_right,
  .wspn_left{
    font-size: 18px;
  }
}