/*
Theme Name:     Flex Mag Child
Description: Flex Mag is the perfect combination of power and simplicity in a WordPress News & Magazine theme. Flex Mag does not require any coding knowledge and gives you the options and flexibility to put together the ultimate news site, but in a simple, straightforward way that doesn't overwhelm you. Flex Mag comes with a custom Fly-Out Navigation, custom scoreboard, auto-load posts, 4 different pre-set skins, 8 different Featured Posts options, 8 different article templates, 700+ Google Fonts, and so much more!
Author: MVP Themes
Author URI: http://themeforest.net/user/mvpthemes
Theme URI: http://themeforest.net/user/mvpthemes
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, dark, light, responsive-layout, three-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Template:       flex-mag
Version:        1.0
*/

@import url("../flex-mag/style.css");

.logo-wide-wrap img {width:100%;}

#post-left-col hr {
    float: none;
    margin: 5px 0;
    opacity: 0.5;
}
p.subtitle {font-size:22px !important; font-weight:bold !important;}
.post-category {margin:5px 0px; padding-top:10px;}
#post-header {margin-bottom:0px !important;}
#post-info-wrap {margin-bottom:10px;}

.fly-but-wrap {margin-top:3px;}
.nav-logo-show {
	padding-top: 7px;
}

.nav-logo-show img {
	padding-left: 20px;
}

nav.main-menu-wrap ul li a {
	padding-left: 10px;
	padding-right: 10px;
}

#head-main-wrap {
	background:#fff;
	width: 100%;
	}

.fixed {left:0px;}

.featured-slider {position:relative;width:750px;height:410px;display:block;margin-bottom:25px;overflow:hidden; margin:0px auto 25px;}
.featured-slider .fea-prev, .featured-slider .fea-next {position:absolute;right:10px;bottom:10px;z-index:101;background:url(images/bg-transparent.png);color:#fff;font-size:20px;line-height:18px;padding:6px 0;text-align:center;width:30px;cursor:pointer}
.featured-slider .fea-prev{right:45px}
.featured-slider .posttitle a {color:#eee;font:25px/32px 'Droid Serif', serif;text-decoration:none;text-transform:uppercase}
/*.featured-slider .posttitle:first-letter {font-size:36px}*/
.featured-slider .posttitle span {color:#ccc;display:block;font:20px 'Droid Sans', sans-serif;text-transform:none;margin-top:5px}
.featured-slider a:hover {color:#fff}
.featured-slider .featured-caption{background:url(images/bg-transparent.png);position:absolute;left:0;bottom:0;padding:12px 15px 20px 30px;max-width:580px}


#head-main-wrap .head-main-out {
	float: none;
    margin-left: 0px;
    right: 0px;
    width: 1470px;
	margin:0px auto;
}

#head-main-wrap .head-main-in {
	margin-left: 0px;
}


.body-main-out {
	float: none;
	margin-left: 0px;
	right: 0px;
	width: 1170px;
	margin:0px auto;
	}

.body-main-in {
	margin-left: 0px;
	}

.home-wrap-out1 {margin-right:-415px;}
.home-wrap-in1 {margin-right:415px;}
.home-right-col, #arch-right-col {width:400px;}

.post-wrap-out1 {margin-right:-415px;}
.post-wrap-in1 {margin-right:415px;}
#post-right-col {width:400px;}

.feat-widget-img {max-height:100%;}
ul.archive-col-list li .archive-list-img {max-height:115px; overflow:hidden;}
.feat-info-wrap {display: none;}
/*.rc-modal-shade, .rc-modal-panel{display: none !important;}*/
@media screen and (min-width: 1250px){
    .netseer_image_banner {
        top: 10px !important;
    }

    #content-main p.wp-caption-text {
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 1349px) and (min-width: 900px) {
    
    #head-main-wrap .head-main-out {width:98%;}
	.body-main-out {
		margin: 0px auto !important;
		right: 0px !important;
		width:98%;
		}

	.body-main-in {
		margin-left: 0px !important;
		}
}

@media screen and (max-width: 899px) and (min-width: 768px) {
    #head-main-wrap .head-main-out {width:98%;}
	.body-main-out {
		margin: 0px auto !important;
		right: 0px !important;
		width:98%;
		}

	.body-main-in {
		margin-left: 0px !important;
		}
    .home-wrap-out1 {margin-right:-285px;}
	.home-wrap-in1 {margin-right:285px;}
	.home-right-col, #arch-right-col {width:270px;}


.post-wrap-out1 {margin-right:-285px;}
.post-wrap-in1 {margin-right:285px;}
#post-right-col {width:270px;}
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    #head-main-wrap .head-main-out {width:100%;}
	.body-main-out {
		margin: 0px auto !important;
		right: 0px !important;
		width:100%;
		}

	.body-main-in {
		margin-left: 0px;
		}

}



@media screen and (min-width: 1601px) {

	#head-main-wrap {
		display: table;
		float: none;
		margin: 0 auto;
		position: relative;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
		   /*width: 1170px;*/
		}
    #body-main-wrap { width:100% !important;}
}

@media screen and (max-width: 998px) {
	#head-main-wrap {display:none;}
}

@media (min-width: 992px) and (max-width: 1249px) {
	.featured-slider,.featured-img {width:445px;height:265px;}
	.featured-slider .featured-caption{max-width:445px}
}
@media (min-width: 767px) and (max-width: 991px) {
	.featured-slider,.featured-img {width:435px;height:300px;}
	.featured-slider .featured-caption{max-width:650px}
}

@media (max-width: 767px) {
	.featured-slider,.featured-img {width:100%;height:auto;}
	.featured-slider .featured-caption{max-width:90%}
}
@media (max-width: 539px) {
	.featured-slider .posttitle a {font:15px/17px 'Droid Serif', serif;}
	.featured-slider .posttitle:first-letter {font-size:16px}
	.featured-slider .posttitle span {font-size:12px}
	.featured-slider .featured-caption{padding:5px 5px 0;max-width:270px}
	.featured-slider .fea-prev, .featured-slider .fea-next {right:5px;bottom:5px;font-size:14px;line-height:14px;padding:3px 0;width:20px;}
	.featured-slider .fea-prev{right:30px}
}


/* For share links in post header*/
#post-info-wrap {width:40%;}
#post-header .addthis_jumbo_share {float:right;}
#post-header .at4-jumboshare .at4-count {font-size:30px !important; line-height:40px !important;}
#post-header .at4-jumboshare .at4-share-container {padding-left:10px !important;}
#post-header .at4-jumboshare .at4-count-container {vertical-align: middle !important; padding-right:0px !important;}
#post-header .at4-jumboshare .at-share-btn {margin-right:2px !important;}
@media screen and (max-width: 1249px) and (min-width: 1004px) {
	#post-info-wrap {width:100%;}
	#post-header .addthis_jumbo_share {width:100%; float:none;}
}
@media screen and (max-width: 1003px) and (min-width: 660px) {
	#post-info-wrap {width:50%;}
	#post-header .addthis_jumbo_share {width:50%;}
}
@media screen and (max-width: 659px) and (min-width: 551px) {
	#post-info-wrap {width:60%;}
	#post-header .addthis_jumbo_share {width:40%;}
}
@media screen and (max-width: 550px) and (min-width: 481px) {
	#post-info-wrap {width:50%;}
	#post-header .addthis_jumbo_share {width:50%;}
}
@media screen and (max-width: 480px) and (min-width: 320px) {
	#post-info-wrap {width:100%;}
	#post-header .addthis_jumbo_share {width:100%; float:none;}
    .netseer_image_banner {
        top: 225px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 50px !important; 
    }
}
@media screen and (max-width: 375px) and (min-width: 360px) {
    .netseer_image_banner {
        top: 255px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 60px !important; 
    }
}
@media screen and (max-width: 414px) and (min-width: 411px) {
    .netseer_image_banner {
        top: 285px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 60px !important; 
    }
}
@media screen and (width: 480px) {
    .netseer_image_banner {
        top: 310px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 60px !important; 
    }
}
@media screen and (width: 568px) {
    .netseer_image_banner {
        top: 365px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 75px !important; 
    }
}
@media screen and (width: 640px) {
    .netseer_image_banner {
        top: 400px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 80px !important; 
    }
}
@media screen and (width: 731px) {
    .netseer_image_banner {
        top: 435px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 90px !important; 
    }
}
@media screen and (width: 768px) {
    .netseer_image_banner {
        top: 485px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 100px !important; 
    }
}
@media screen and (width: 1024px) { /* vasko_t: DOESN'T WORK ON IPAD LANDSCAPE FOR SOME REASON */
    .netseer_image_banner {
        top: 400px !important;
    }
    #content-main p.wp-caption-text {
        margin-bottom: 90px !important; 
    }
}
/* end */

/* For post  header*/
#post-header {
    float: left;
    padding: 30px 2.93255% 0px;
    position: relative;
    width: 94.1349%;
}
@media screen and (max-width: 1500px) and (min-width: 1400px) {
	#post-header {
		padding: 30px 3.45622119816% 0px; /* 30px / 868px */
		width: 93.0875576037%; /* 808px / 868px */
	}
}
@media screen and (max-width: 1399px) and (min-width: 1250px) {
	#post-header {
		padding: 30px 4.1782729805% 0px; /* 30px / 718px */
		width: 91.643454039%; /* 658px / 718px */
	}
}
@media screen and (max-width: 1249px) and (min-width: 1100px) {
	#post-header {
		padding: 30px 4.06504065041% 0px; /* 30px / 738px */
		width: 91.8699186992%; /* 678px / 738px */
	}
}
@media screen and (max-width: 1099px) and (min-width: 1004px) {
	#post-header {
		padding: 30px 4.67289719626% 0px; /* 30px / 642px */
		width: 90.6542056075%; /* 582px / 642px */
	}
}
@media screen and (max-width: 1003px) and (min-width: 900px) {
	#post-header {
		padding: 30px 3.47624565469% 0px; /* 30px / 863px */
		width: 93.0475086906%; /* 803px / 863px */
	}
}
@media screen and (max-width: 899px) and (min-width: 768px) {
	#post-header {
		padding: 30px 4.10396716826% 0px; /* 30px / 731px */
		width: 91.7920656635%; /* 671px / 731px */
	}
}
@media screen and (max-width: 767px) and (min-width: 660px) {
	#post-header {
		padding: 30px 4.66562986003% 0px; /* 30px / 643px */
		width: 90.6687402799%; /* 583px / 643px */
	}
}
@media screen and (max-width: 659px) and (min-width: 600px) {
	#post-header {
		padding: 30px 5.14579759863% 0px; /* 30px / 583px */
		width: 89.7084048027%; /* 523px / 583px */
	}
}
@media screen and (max-width: 599px) and (min-width: 480px) {
	#post-header {
		padding: 30px 4.31965442765% 10px; /* 20px / 463px */
		width: 91.3606911447%; /* 423px / 463px */
	}
}
@media screen and (max-width: 479px) {
	#post-header {
		padding: 15px 4.37317784257%; /* 15px / 343px */
		width: 91.2536443149%; /* 313px / 343px */
	}
}
/* end */

/**/
@media screen and (min-width: 1250px) {
	.featured-slider,.featured-img {width:805px;height:410px;}
	.featured-slider .featured-caption{max-width:805px;}
}
@media screen and (min-width: 1350px) {
	#head-main-wrap .head-main-out { width:1325px;}
	.body-main-out { width:1325px;}
}


.pagelinks {clear:both; overflow:hidden;}
.pagelinks a {display: block;
    float: left;
    width: 49%;
    text-align: center;
    background: #cd1713;
    margin-right: 1%;
    color: #fff !important;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size:20px;
	line-height:50px;
	text-transform:uppercase;
	display:block;
}
.pagelinks.full a {width:100%;}
