.wraw-widget-wrapper{text-align: center;}
.wraw-row{margin-left:15px;}
.wraw-image-responsive{
  width: 100%;
}
.wraw-widget-wrapper a{
  display: block;
}
.wraw-clearfix{
  clear: both;
}
.wraw_post_image{
  position: relative;
  float: left;
  width: 100%;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wraw-title{
  border-bottom: 2px solid #f24139;
  font-size: 1.375em;
  padding-bottom: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  width:100%;
}
.wraw-heading{
  text-align: left;
  color: #353535;
  display: block; 
  font-size: 100% !important;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 120%;
}
.wraw-h3{
  font-size: 100% !important;
}
.wraw-h2{
  font-size: 150% !important;
}
.wraw-author{
  display: block;
  text-align: left;
  font-size: 0.7em;
  color:#d3d3d3;
  font-weight: 400;
  position: relative;
}
.wraw-row{
  clear:both;
  margin-top: 20px;
  width: 100%;
}
.wraw-cols{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}
.wraw-cols-1{
  width: 97%;
}
.wraw-cols-2 {
  width: 47%;
}
.wraw-cols-3{
  width: 30%;
  margin-bottom: 10px;
  float: left;
}
.wraw-cols-4{
  width: 22%;
}
.wraw-cols-5{
  width: 17%;
}
.wraw-cols-6{
  width: 13%;
}
.wraw-cols-1 .wraw_post_image{
	height: auto;
}

.wraw-cols-1 .wraw-h3{
	height: 20px;
}
.wraw-read-more{
  background-color: #A10000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .1pt;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  transition: all .1s;
}
.wraw-read-more:hover{
  opacity: 0.9;
}
.wraw-temp1-content{
  text-align: justify;
  vertical-align: top;
}
.wraw-temp1-content .wraw-h3{
  height: inherit;
  overflow: initial !important;
}
.has-post-thumbnail img.wp-post-image.wraw_post_image{
  display: block !important;
}
.wraw-sidebar .wraw-image-responsive > div {
  width: 100%;
  height: 206px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wraw-sidebar .wraw-heading.wraw-h3 {
  font-size: 18px !important;
  font-weight: bold;
  line-height: 25px;
}
.wraw-sidebar .wraw-row{
  width: 90%;
}
@media (max-width:768px){
  .wraw-row{margin-left:0px;}
  .wraw-h3 {
    min-height: 0px;
  }
  .wraw_post_image {
    position: relative;
    float: left;
    width: 100%;
    height: 115px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wls-popular-article {
    margin-bottom: 5px;
  }
  .wraw-title {
    /*font-size: 2.9em; */
    margin-left: 10px;
  }
}

@media (max-width: 480px){
  .wraw-temp1-content{
    margin-top: 5px;
  }
  .wraw-temp1-content .wraw-h3{
    font-size: 13px !important;
    margin-top: 0px;
  }
  .wraw-excerpt{
    font-size: 12px;
  }
  .wraw-read-more{
    font-size: 10px;
    padding: 5px;
    margin-top: 10px;
  }
  .wraw-title {
    font-size: 18px;
    margin-left: 10px;
  }
}