@charset "utf-8";

/***********************************************

common

***********************************************/

#wrap {
	font-family: 'メイリオ', Meiryo, 'Meiryo UI', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #181818;
	overflow:hidden;
	background:#fff;
}

#wrap_underlayer {
	overflow:hidden;
    background:#fff;
}
.inner {
	width: 1160px;
	margin: 0 auto;
	padding: 50px 20px 0;
	background-color: #fff;
}
.target_blank {
	margin-left: 2px;
}
/* リンク　アイコン　*/
.arrow:before {
	content:url(../images/icon_link_01.gif);
	line-height:13px;
    position: relative;
    top: 2px;
	margin:0 5px 0 0;
}
.arrow a:link {
	color:#181818;
}
.arrow a:visited {
	color:#707070;
}
.arrow a:hover {
	color:#cc0000;
}

/* 01. Accessibility
-------------------------------------------------------------- */
.Hidden { display:none; }

.Show { display: block!important; }

.Reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img { -ms-interpolation-mode: bicubic; }

.UpperCase { text-transform: uppercase; }


