@charset "utf-8";

/*フッターコンテンツ*/
#footerContents {
	position: relative;
	width: 100%;
	padding: 0 0 20px;
	background-color: #e9eaeb;
	border-top: 3px solid #cc0000;
	overflow: hidden;
	line-height: 1;
}
#footerContents .inner {
	width: 1160px;
	margin: 0 auto;
	padding: 50px 20px 0;
	background-color: #e9eaeb;
}
/*バナーフッターボックス*/

#spFooterSnsIcon {
	display: none;
}
#bnrFooterBox {
	width: 687px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
}
#bnrFooterBox ul li {
	width: 215px;
	float: left;
}
#bnrFooterBox ul li:nth-child(2) {
	padding: 0 20px;
}
#footLinkBox {
	margin: 30px auto;
	overflow: hidden;
	text-align: left;
}
.footLinkBoxInner {
	width: 250px;
	float: left;
	padding: 0 50px 0 0;
}
.footLinkLongBox {
	width: 285px;
	float: left;
	padding: 0 50px 0 0;
}
#LastFootLinkBoxInner {
	width: 220px;
	float: left;
}
.ftLink {
	margin-top: 30px;
}
.ftLink dt, .ftLink p {
	width: 220px;
	padding: 0 0 10px 4px;
	border-bottom: 1px solid #a0a0a0;
	text-decoration: none;
	font-size: 105%;
}
.ftLink dd {
	font-size: 85%;
	padding-left: 4px;
	margin-top: 10px;
	text-decoration: none;
}
.ftLink a:link, a:visited {
	text-decoration: none;
	color: #181818;
}
.ftLink a:hover {
	text-decoration: none;
	color: #cc0000;
}
.ftLink .Popup{
    margin-right: 3px;
	padding-right: 14px;
	background: url(../images/icon_popup.gif) 100% .35em no-repeat;
}
#bnrBottomCompanies {
	width: 736px;
	margin: auto;
	overflow: hidden;
}
#bnrBottomCompanies ul li {
	width: 232px;
	float: left;
}
#bnrBottomCompanies ul li:nth-child(2) {
	padding: 0 20px;
}
#footerBottomContents {
	background-color: #fff;
}
#footerBottomContents .inner {
	width: 1200px;
	margin:auto;
	padding: 40px 0 0;
}
#footerNav {
	margin-bottom: 10px;
	overflow: hidden;
}
#footerNav li {
	float: left;
	font-size: 95%;
	margin-left: 3px;
}
#footerNav li:nth-child(1) {
	margin-left: 0;
}
#footerNav li:nth-child(2) {
	margin-left: 10px;
}
#footerNav li a:link {
	color: #181818;
	text-decoration:underline;
}
#footerNav li a:visited {
	color: #707070;
	text-decoration:underline;
}
#footerNav li a:hover {
	color: #cc0000s;
	text-decoration:none;
}
#footerRedBox {
	width:100%;
	height:28px;
	/*padding: 0 20px;*/
	overflow:hidden;
	background-color: #CC0001;
}
#footerRedBox .fotterCi {
	width:30%;
	height:21px;
	padding:7px 0 0 33px;
	float:left;
	text-align:left;
}
#footerRedBox .fotterCi img {
	vertical-align:middle;
}
#footerRedBox .fotterCopyright {
	width:30%;
	height:28px;
	line-height:28px;
	float:right;
	color: #ffffff;
	text-align:right;
	font-size: 70%;
	padding: 0 20px 0 0;
}
/***********************************************

TOPへ戻るボタン

***********************************************/

.page-top {
	margin: 0;
	padding: 0;
	display: none;
}
.page-top p {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 100px;
	bottom: 40px;
}
.move-page-top {
	display: block;
	width: 54px;
	height: 54px;
	background: url(../images/go_to_top.png);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;/*画像で作らない場合
	background: #D36015 ;
	color: #fff ;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;
	*/
}
.move-page-top:hover {
	opacity: 0.85;
}

