@charset "utf-8";

/***********************************************

header

***********************************************/

#headerContens {
	width: 1200px;
	height: 60px;
	margin: auto;
	background: url(../images/bg_head.jpg) no-repeat top;
}
#logoBox {
	width: 410px;
	padding: 16px 0 0 33px;
	float: left;
	overflow: hidden;
	clear: both;
}
#logoBox h1 {
	width: 163px;
	float: left;
}
#logoBox p {
	width: 167px;
	float: right;
	padding: 13px 0 0;
}
/***********************************************

検索

***********************************************/

#AllSearch {
	position: relative;
	width: 230px;
	margin: 0 13px 0 0;
	padding: 35px 0 0;
	float: right;
	font-size: 78%;
	text-align: right;/* z-index: 0;*/
}
#AllSearch form {
	display: inline-block;
	width: 230px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #a0a0a0;
	text-align: right;/*z-index: 1;*/
}
#AllSearch input#q {
	/*position: relative;*/
	width: 195px;
	height: 17px;
	/*background-color: transparent;*/
	border: none;
	letter-spacing: normal;
	z-index: 4;
	vertical-align: middle;
}
#AllSearch input.SubmitButton {
	position: relative;
	letter-spacing: normal;
	vertical-align: middle;
	padding: 0 5px 0 0;
	z-index: 5;
}
#AllSearch:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}

#AllSearch .PlaceHolder,
#AllSearch .BlockLayer {
	display: block;
	position: absolute;
	top: 35px;
	width: 375px;
	height: 27px;
	padding: 0 10px;
	color: #a9a9a9;
	line-height: 28px;
	text-align: left;
	letter-spacing: normal;
}

#AllSearch .PlaceHolder {
	z-index: 2;
}

#AllSearch .BlockLayer {
	background-color: #f3f3e7;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 3;
}

/***********************************************

sp　非表示

***********************************************/

#spMenu, #sp_news, #sp_pressRelease,
.drawer-toggle, nav.drawer-nav {
	display: none;
}
/***********************************************

最上部リンク

***********************************************/

#topLinkBox {
	width: 1190px;
	margin: auto;
	padding: 15px 10px 15px 0;
	text-align: right;
	background:#fff;
}
#topLinkBox li {
	display: inline;
	font-size: 83%;
}
#topLinkBox li a:link {
	color:#181818;
	text-decoration:underline;
}
#topLinkBox li a:visited {
	color:#707070;
	text-decoration:underline;
}
#topLinkBox li a:hover {
	color:#cc0000;
	text-decoration:none;
}
#topLinkBox li:last-child a {
	font-size: 110%;
	color: #181818;
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 10px 13px 8px 13px;
	text-decoration: none;
	font-weight: bold;
}
#topLinkBox li:last-child a:link,
#topLinkBox li:last-child a:visited {
	background-color: #b2b1b1;
}
#topLinkBox li:last-child a:hover {
	color:#fff;
	background-color:#cc0000;
}
/***********************************************

パンくず

***********************************************/

#TopicPath {
	float: left;
	width: 70%;
	padding: 5px 0 6px 20px;
	font-size: 80%;
	text-align:left;
	line-height: 1.5;
}
#TopicPath dl {
	//letter-spacing: -.4em;
}
#TopicPath dt, #TopicPath dd {
	display: inline;
	letter-spacing: normal;
}
#TopicPath dd em {
	color: #c00;
}
#TopicPath img {
	vertical-align: middle;
	margin: 0 2px;
}

/***********************************************

文字サイズ

***********************************************/


#SiteToolArea {
	width: 1200px;
	min-height: 25px;
	margin: auto;
	padding: 0 0 10px 0;
	background:#fff;
}

#UsabilityTools {
	display: block;
	float: right;
	width: 25%;
	height: 25px;
	padding: 0 10px 0 0;
	text-align: right;
}
#FontTools dl dt {
	width: 100px;
	padding: 0 10px 0 0;
	font-size: 14px;
	font-weight: bold;
}
#FontTools dl dt, #FontTools dl dd {
	margin: 0 0 0 2px;
	letter-spacing: normal;
}
.Reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#PrintButton, #FontTools, #FontTools dl, #FontTools dl dt, #FontTools dl dd {
	display: inline;
}

/***********************************************

グローバルナビ

***********************************************/
#gnaviCts {
	width: 100%;
	background-color: #7b7b7b;
	clear:both;
	overflow:hidden;
}
#gnavi {
	width: 1200px;
	margin: auto;
}

/*グローバルナビ　一行の場合*/
#gnavi .oneLine a {
	display: block;
	color: #fff;
	width: 150px;
	height: 60px;
	padding: 0;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	float: left;
}
#gnavi .oneLine a:hover {
	background-color: #cc0000;
}
/*グローバルナビ　二行の場合*/
#gnavi li.twoLines a {
	display: block;
	color: #fff;
	width: 150px;
	height: 47px;
	padding: 13px 0 0;
	line-height: 1.3em;
	float: left;
	text-decoration: none;
	text-align: center;
}
#gnavi li.twoLines a:hover {
	background-color: #cc0000;
}
/*グローバルナビ　自社の場合*/
#gnavi li.otherLines a {
	display: block;
	color: #fff;
	width: 150px;
	height: 47px;
	padding: 13px 0 0;
	line-height: 1.3em;
	float: left;
	text-decoration: none;
	text-align: center;
	background-color: #afadad;
}
#gnavi li.otherLines a:hover, #gnavi li.otherLines a:hover {
	background-color: #cc0000;
}
#gnavi li.target a {
	width:150px;
	background-color: #cc0000;
}