@charset "utf-8";

/* =========================================================== */
/* Contents of mobile.css
/* ===========================================================
	00. Frames
	01. Header
	02. Global Navigation
	03. Site Tools
	04. Contents
	05. Page Top Link
	06. Local Navigation Area
	07. Group Links
	08. Footer Navigation
	09. Footer
	10. Basic Style
		-00. General
		-01. Headers
		-02. Main Visual
		-03. Lead Comment
		-04. Body Text
		-05. Links
		-06. Tables
		-07. Plugin Link
		-08. List Styles
	11. Layout Modules
		-01. Single Column
		-02. 2 Column
		-03. 2 Column with line
		-04. 2 Column with Image Right 1
		-05. 2 Column with Image Left 1
		-06. 3 Column
	12. Unique Style
		-01. Home
		-02. Image Control
		-03. Form
	13. Modal Window
	14. Slider
	15. IR
   =========================================================== */
/* end Contents of components.css
/* =========================================================== */





/* 00. Common
-------------------------------------------------------------- */
#wrap {
	font-size: 13px;
	line-height: 1.4em;
}
.inner {
	width: 100%;
	margin: 0;
	padding: 0;
}
.listLink {
  padding: 20px 0 15px 0;
  background-color: #fff;
}

/* 01. Frames
-------------------------------------------------------------- */
#Container,
.ContentsArea,
.SubContentsArea {
	float: none;
	width: 100%;
	overflow: hidden;
	margin:0;
	padding:10px 0 0;
}

/* 02. Header
-------------------------------------------------------------- */

#spMenu, .drawer-toggle, nav.drawer-nav {
	display: block;
}

#Header {
	margin-bottom: 20px;
	text-align: center;
	background: none;
	background-color: #c00;
}

.EN #Header {
	margin-bottom: 20px;
	text-align: center;
	background: none;
	background-color: #c00;
}

.EN #Header img {
	width: 100%;
	max-width: 347px;
	height: auto;
}

.EN #Header #LogoArea h1,
.EN #Header #LogoArea p {
	margin: 0 10px 0 10px;
}

#LogoArea {
	min-height: 1.1em;
	float: none;
	width: auto;
	margin: 0;
	padding: 13px 0 14px;
}
#LogoArea p#HeaderLogo,
#LogoArea h1 {
	width: auto;
}

#LogoArea p#Description {
	display: none;
}

#AllSearch {
	display: none;
}
#HeaderNavigation {
	display: none;
}


#headerContens {
	width: 100%;
	height: 45px;
	padding: 12px 0 0;
	background-image: none;
	background-color: #cc0001;
}
#logoBox {
	width: 100%;
	padding: 0;
	float: none;
}
#logoBox h1 {
	width: 163px;
	margin: auto;
	float: none;
}


/* 03. Slide
-------------------------------------------------------------- */
#mainImgBox {
	width: 100%;
	height: auto;
	background-color: #fff;
	background-image: none;

}
#mainImgInner {
	width: 100%;
}
#slideBox {
	width: 100%;
	float: none;
	padding: 0 0 40px;
}
#slideBox p {
	bottom: 0;
	right: 10px;
}
#slideBox img {
	width: 100%;
	height: auto;
}
#slideBox p a {
	width: 150px;
	height: 60px;
	line-height: 60px;
	border: none;
}
#slideBox p a:link, #slideBox p a:visited {
	background-color: #676767;
}
#slideBox p a:hover {
	background-color: #CC0000;
}

/* 04. Global Navigation
-------------------------------------------------------------- */
.GlobalNavigation {
	display: none;
}

.GlobalNavigation.MobileMedia {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}

.GlobalNavigation ul {
	display: block;
	border-top: 1px solid #d6d8da;
	border-left: 1px solid #d6d8da;
}

.GlobalNavigation ul li {
	display: block;
	width: 50%;
	float: left;
	border: none;
	border-right: 1px solid #d6d8da;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.GlobalNavigation ul li a,
.GlobalNavigation ul li a.Current {
	padding: 16px;
	font-size: 92.9%;
	font-weight: 100;
	line-height: 1.308;
	border-bottom: 1px solid #d6d8da;
	background-color: #f3f3e7;
}

.GlobalNavigation ul li a.Current:hover,
.GlobalNavigation ul li a.Current:focus {
	background-color: #fff;
}

.GlobalNavigation ul li a span {
	display: inline-block;
	text-align: left;
	background-position: 0 0;
}


.EN .GlobalNavigation ul li {
    width: 50%;
	text-align: left;
}

/* 05. Site Tools
-------------------------------------------------------------- */
#SiteToolArea {
	display: none;
}

/* 06. Contents
-------------------------------------------------------------- */
#Contents {
	margin-bottom: 20px;
	padding: 0 10px;
}

#Contents .Section {
	margin-bottom: 15px;
}

#Contents .SmartPhoneMovie {
	display: block;
	margin-bottom: 20px;
}

#Contents .HomeMovie {
	display: none;
}

/* 07. Page Top Link
-------------------------------------------------------------- */
.Pagetoplink {
	display: none;
}
/* 08. topBnrBox
-------------------------------------------------------------- */
#topBnrBox {
	width: 100%;
	background-color: #e9eaeb;
	margin: 10px 0 0;
	padding: 0;
	overflow: hidden;
}
#bnrEachCompany {
	width: 50%;
	margin: 0 0 10px;
	padding: 0 0 20px;
	float: left;
}
#bnrEachCompany02 {
	float: right;
	margin: 0 0 10px;
	padding: 0 0 20px;
	width: 50%;
}
#bnrEachCompany li:nth-child(1), #bnrEachCompany li:nth-child(2), #bnrEachCompany li:nth-child(3) {
	margin: 0;
	float: none;
}
#bnrEachCompany02 li:nth-child(1), #bnrEachCompany02 li:nth-child(2), #bnrEachCompany02 li:nth-child(3) {
	margin: 0;
	float: none;
}
#bnrEachCompany li:nth-child(1) a:link, #bnrEachCompany li:nth-child(1) a:visited, #bnrEachCompany li:nth-child(1) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jph.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(2) a:link, #bnrEachCompany li:nth-child(2) a:visited, #bnrEachCompany li:nth-child(2) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jpbank.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(3) a:link, #bnrEachCompany li:nth-child(3) a:visited, #bnrEachCompany li:nth-child(3) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_jplife.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(1) a:link, #bnrEachCompany02 li:nth-child(1) a:visited, #bnrEachCompany02 li:nth-child(1) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_zip_code_search.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(2) a:link, #bnrEachCompany02 li:nth-child(2) a:visited, #bnrEachCompany02 li:nth-child(2) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_post_office.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany02 li:nth-child(3) a:link, #bnrEachCompany02 li:nth-child(3) a:visited, #bnrEachCompany02 li:nth-child(3) a:hover {
	margin: 0;
	background: url(../images/bnr_sp_off_twitter_large.jpg) no-repeat;
	width: 100%;
	height: 0;
	padding-top: 35%;
	background-size: contain;
	float: none;
	display: block;
}
#bnrEachCompany li:nth-child(-n+3) a img, #bnrEachCompany02 li:nth-child(-n+3) a img {
	margint: 0;
	padding: 0;
}
#topBnrPost {
	width: 100%;
	overflow: hidden;
	padding: 0;
	float: none;
}
#topBnrPost #bnrGroupInfo1 {
	width: 50%;
	float: left;
}
#topBnrPost #bnrGroupInfo2 {
	width: 50%;
	float: right;
}
#bnrGroupInfo1 li a, #bnrGroupInfo2 li a {
	display: block;
	width: 100%;
	margin: 0;
}
#bnrGroupInfo1 li:nth-child(1) a:link, #bnrGroupInfo1 li:nth-child(1) a:visited, #bnrGroupInfo1 li:nth-child(1) a:hover {
	background: url(../images/bnr_sp_off_vision.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(2) a:link, #bnrGroupInfo1 li:nth-child(2) a:visited, #bnrGroupInfo1 li:nth-child(2) a:hover {
	background: url(../images/bnr_sp_off_guidance.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(3) a:link, #bnrGroupInfo1 li:nth-child(3) a:visited, #bnrGroupInfo1 li:nth-child(3) a:hover {
	background: url(../images/bnr_sp_off_presentation.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo1 li:nth-child(4) a:link, #bnrGroupInfo1 li:nth-child(4) a:visited, #bnrGroupInfo1 li:nth-child(4) a:hover {
	background: url(../images/bnr_sp_off_history.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(1) a:link, #bnrGroupInfo2 li:nth-child(1) a:visited, #bnrGroupInfo2 li:nth-child(1) a:hover {
	background: url(../images/bnr_sp_off_summary.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(2) a:link, #bnrGroupInfo2 li:nth-child(2) a:visited, #bnrGroupInfo2 li:nth-child(2) a:hover {
	background: url(../images/bnr_sp_off_meeting.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(3) a:link, #bnrGroupInfo2 li:nth-child(3) a:visited, #bnrGroupInfo2 li:nth-child(3) a:hover {
	background: url(../images/bnr_sp_off_kanpo.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
#bnrGroupInfo2 li:nth-child(4) a:link, #bnrGroupInfo2 li:nth-child(4) a:visited, #bnrGroupInfo2 li:nth-child(4) a:hover {
	background: url(../images/bnr_sp_off_hospital.jpg) no-repeat;
	height: 0;
	padding-top: 35%;
	background-size: contain;
}
.topBnrBoxIn {
	padding: 0;
	background-color: #f0efef;
	border: none;
}
/* 09. stockPrices
-------------------------------------------------------------- */
#stockPrices {
	width: 90%;
	margin: 25px auto;
	padding: 20px;
	float: none;
	background-color: #fff;
}
#stockPrices dl {
	width: 100%;
	font-size: 15px;
	padding: 10px 0 20px;
	margin: auto;
	border-bottom: 1px solid #cc0000;
}
#stockPrices dt {
	padding: 0 10px 0 0;
}
#stockPrices p {
	padding: 30px 0 0;
	text-align: center;
}
#stockPrices p img {
	width: 87%;
	height: auto;
	margin: auto;
}
#stockQuotationsTxt {
	width: 143px;
	margin: 25px 0 10px 0;
	text-align: left;
}
#stockQuotationsTxt a {
	margin: 0;
}
/* 010. Local Navigation Area
-------------------------------------------------------------- */
#LocalNavigationArea {
	display: none;
}
/* 011. saigai
-------------------------------------------------------------- */
.saigai {
	width:95%;
	margin: 0 auto;
	padding: 40px 0 0;
	border: none;
	font-size: 15px;
	text-align:justify;
}
#kumamoto {
	text-align: justify;
	padding: 0;
}
#kumamoto dl {
	padding: 30px 0 0;
}
#kumamoto dt {
	padding: 0 0 15px;
}
#inner_attention {
	width: 95%;
	font-size: 15px;
	margin: 15px auto 40px;
	padding: 20px 0 0;
	text-align:justify;
}
#inner_attention a:before {
	display: none;
}
#inner_attention p a {
	margin: 0;
	padding: 0 0 0 27px;
	background: url("../images/icon_attention.jpg") top left no-repeat;
}
/* 012. Group Links
-------------------------------------------------------------- */
#GroupLinks {
	width: 100%;
	margin-bottom: 20px;
}

.EN #GroupLinks {
	width: 100%;
}

#GroupLinks dl {
	margin: 0;
	padding: 13px 20px;
	border: none;
	letter-spacing: normal;
}

#GroupLinks dt,
#GroupLinks dd {
	display: block;
	margin: 0 0 13px;
	padding: 0;
}

#GroupLinks dd {
	width: auto;
}

.EN #GroupLinks dd {
	width: auto;
}

#GroupLinks dd:last-child { margin-bottom: 0; }

#GroupLinks dd a {
	background-position: 97% 50%;
}
/* 013. warn
-------------------------------------------------------------- */
#warn {
	margin: 0;
	padding: 20px 0 30px;
	text-align:justify;
}
#warn h2 {
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
}
#warn ul li {
	font-size: 15px;
	padding: 20px 0;
	width: 95%;
	margin: 0 auto;
}
/* 014. sp_pressRelease
-------------------------------------------------------------- */
#sp_pressRelease {
	display: inherit;
	padding: 20px 0 0;
	background-color: #FCFCED;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}
#sp_pressRelease h2 {
	font-size: 15px;
	padding: 10px 20px 30px;
	text-align: justify;
}
#sp_pressRelease a:link {
	color: #181818;
	text-decoration:underline;
}
#sp_pressRelease a:visited {
	color: #707070;
	text-decoration:underline;
}
#sp_pressRelease a:hover {
	color: #cc0000;
	text-decoration:none;
}
#pressRelease_sp dt {
	color: #fff;
	width: 100%;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #444444;
	border-bottom: 1px solid #fff;
}
#pressRelease_sp dt#cursorPrsKanpo {
	border: none;
}
.cursorPrsYusei_on {
	background: #cc0000 !important;
}
.cursorPrsYubin_on {
	background: #cc0000 !important;
}
.cursorPrsYutyo_on {
	background: #090 !important;
}
.cursorPrsKanpo_on {
	background: #009 !important;
}
#pressRelease_sp #cursorPrsYusei .press_txt dl {
	width: 100%;
	overflow: hidden;
}
/* 015. sp_news
-------------------------------------------------------------- */
#sp_news {
	display: inherit;
	margin: 0 0 20px;
	padding: 25px 0 0;
	background-color: #FCFCED;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}
#sp_news h2 {
	font-size: 15px;
	padding: 10px 20px 30px;
	text-align: justify;
}
#sp_news a:link {
	color: #181818;
    text-decoration:underline;
}
#sp_news a:visited {
	color: #707070;
	text-decoration:underline;
}
#sp_news a:hover {
	color: #cc0000;
	text-decoration:none;
}
#sp_news dt {
	color: #fff;
	width: 100%;
	padding: 5px 15px;
	cursor: pointer;
	background-color: #444444;
	border-bottom: 1px solid #fff;
}
.cursorNewYusei_on {
	background: #cc0000 !important;
}
.cursorNewYubin_on {
	background: #cc0000 !important;
}
.cursorNewYutyo_on {
	background: #090 !important;
}
.cursorNewKanpo_on {
	background: #009 !important;
}


/* 016. Common / sp_news  sp_pressRelease
-------------------------------------------------------------- */
table .date {
	font-size: 0.8em;
	font-weight: bold;
	width: 40%;
	vertical-align: top;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #BFBFBF;
	background-color: #fff;
}
table .newsDetail {
	width: 60%;
	border-bottom: 1px solid #BFBFBF;
	padding: 17px 20px 25px 0;
	text-align: justify;
	background-color: #fff;
	font-size: 15px;
}
#newLastDate, #newLastNewsDetail {
	border: none;
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
}

/* 017. bnrSlideBox
-------------------------------------------------------------- */
#bnrSlideBox {
	width: 100%;
	height: auto;
	margin: 20px 0 15px;
	padding: 12px 0;
	background-color: #f0efef;
}
#bnrSlideBox ul li {
	float: left;
	padding: 0 10px;
}
#bnrSlideBox ul li a img {
	width: 100%;
	height: auto;
}
#bnrSlideBox .bx-pager {
	display: none;
}

/* 018. spFooterSnsIcon
-------------------------------------------------------------- */
#spFooterSnsIcon {
	display: inherit;
	width: 205px;
	margin: auto;
	padding: 10px 0 25px;
	overflow:hidden;
	background:#fff;
}
#spFooterSnsIcon li {
	width: 55px;
	float: left;
}
#spFooterSnsIcon li:nth-child(2) {
	width: 55px;
	padding: 0 20px;
}
#spFooterSnsIcon li img {
	width: 100%;
	height: auto;
}
/* フッターコンテンツ */
#footerBottomContents {
	display:none;
}

/* 019. Footer Navigation
-------------------------------------------------------------- */
#FooterNavigation {
	display:inherit;
	margin-bottom: 20px;
	padding: 0;
}

#FooterNavigation dl {
	letter-spacing: normal;
	background-color: #f3f3e7;
	border: 1px solid #d6d8da;
}

#FooterNavigation dl dt {
	display: none;
}

#FooterNavigation dl dd,
#FooterNavigation dl dd.MobileMedia,
#FooterNavigation dl dd.Usage {
	display: block;
	margin: 0;
	padding: 0 20px;
	border: none;
	border-bottom: 1px solid #d6d8da;
	font-size: 13px;
	text-align: left;
}

#FooterNavigation dl dd:last-child {
	border: none;
}

#FooterNavigation dl dd a {
	display: block;
	padding: 12px 0;
	background: url(../images/arrow_right.gif) 100% 50% no-repeat;
}
#FooterNavigation dl dd a:link {
	color:#181818;
	text-decoration:underline;
}
#FooterNavigation dl dd a:visited {
	color: #707070;
}
#FooterNavigation dl dd a:hover {
	color: #cc0000;
	text-decoration:none;
}
/* 020. Footer
-------------------------------------------------------------- */
#Footer {
	display:inherit;
	padding: 15px;
	background-color:#cc0000;
}

#Footer dl dt,
#Footer dl dd {
	float: none;
	width: auto;
	text-align: center;
}

#Footer dl dt img,
#Footer dl dd img {
	vertical-align: middle;
	display: none;
}

#Footer dl dd img {
	width: 100%;
	height: auto;
}

.Copyright {
	display:inherit;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
#Footer .Footer_SmartPhone {
	display:inherit;
}
#Footer .Footer_SmartPhone img {
	display: block;
	margin: 0 auto;
}

/* 030. Basic Styles
-------------------------------------------------------------- */
/* -00. General */
/* -01. Headers */
/* -02. Main Visual */
#Contents .MainVisual img {
	width: 100%;
	height: auto;
}
/* -03. Lead Comment */
/* -04. Body Text */
/* -05. Links */
/* -06. Tables */
#Contents table { table-layout: fixed; }
#Contents table th,
#Contents table td {
	word-wrap: break-word;
}

#Contents table th .Image img,
#Contents table td .Image img {
	width: 100%;
	height: auto;
}

/* -07. Plugin Link */
#Contents .Section.Link-Plugin p.Banner {
	float: none;
	width: auto;
	margin-bottom: 10px;
}
#Contents .Section.Link-Plugin p.Caution {
	margin: 0;
}
/* -08. Pager Style */
/* -09. List Styles */
/* -10. Others */
#Contents .SelectBox dl dt {
	float: none;
	width: auto;
}
#Contents .SelectBox dl dd {
	margin-left: 0;
}

/* 031. Layout Modules
-------------------------------------------------------------- */
/* -01. Single Column */
#Contents .Section.Col .Grid-Column .Image img {
	width: 100%;
	height: auto;
}
/* -02. 2 Column */
#Contents .Section.Col2 {
	margin-right: 0;
}
#Contents .Section.Col2 .Grid-Column,
#Contents .SubSection.Col2 .Grid-Column {
	float: none;
	width: 100%;
	margin-right: 0;
}
#Contents .Section.Col2.TextImageBlock.Image-Left .Grid-Column.Image,
#Contents .Section.Col2.TextImageBlock.Image-Right .Grid-Column.Image,
#Contents .SubSection.Col2.TextImageBlock.Image-Left .Grid-Column.Image,
#Contents .SubSection.Col2.TextImageBlock.Image-Right .Grid-Column.Image {
	float: none;
	margin: 0 0 15px;
}
#Contents .Section.Col2 .Grid-Column .Image img,
#Contents .SubSection.Col2 .Grid-Column .Image img {
	width: 100%;
	height: auto;
}
#Contents .Section.Col2.TextImageBlock .Grid-Column .Image img,
#Contents .Section.Col2.TextImage205 .Grid-Column .Image img,
#Contents .SubSection.Col2.TextImageBlock .Grid-Column .Image img,
#Contents .SubSection.Col2.TextImage205 .Grid-Column .Image img  {
	width: auto;
}

#Contents .Section.Col2.TextImageBlock .Grid-Column .Image.RWD img {
	width: 100%;
}

/* -03. 2 Column with line */
#Contents .Section.Col2-Border1 {
	margin: 0;
}
#Contents .Section.Col2-Border1 .Grid-Column {
	float: none;
	width: 100%;
	margin-right: 0;
}
/* -04. 2 Column with Image Right 1 */
/* -05. 2 Column with Image */
#Contents .Section.Col2.TextImage205.Image-Left .Grid-Column.Image,
#Contents .SubSection.Col2.TextImage205.Image-Left .Grid-Column.Image { float: none; }
#Contents .Section.Col2.TextImage205.Image-Right .Grid-Column.Image,
#Contents .SubSection.Col2.TextImage205.Image-Right .Grid-Column.Image { float: none; text-align: left; }
#Contents .Section.Col2.TextImage205.Image-Left .Grid-Column.Text,
#Contents .SubSection.Col2.TextImage205.Image-Left .Grid-Column.Text { margin-left: 0; }
#Contents .Section.Col2.TextImage205.Image-Right .Grid-Column.Text,
#Contents .SubSection.Col2.TextImage205.Image-Right .Grid-Column.Text { margin-right: 0; }
/*-06. 3 Column */
#Contents .Section.Col3.No-Padding,
#Contents .Section.Col3,
#Contents .SubSection.Col3.No-Padding,
#Contents .SubSection.Col3 {
	margin: 0;
}
#Contents .Section.Col3.No-Padding .Grid-Column,
#Contents .Section.Col3 .Grid-Column,
#Contents .SubSection.Col3.No-Padding .Grid-Column,
#Contents .SubSection.Col3 .Grid-Column {
	float: none;
	width: 100%;
}


/* 032. Unique Style
-------------------------------------------------------------- */
/* -01. Home */
.Home #Header {
	margin-bottom: 0;
}

.Home .GlobalNavigation {
	display: block;
	margin-bottom: 20px;
	padding: 0;
}

.Home .GlobalNavigation.MobileMedia {
	display: none;
}

.Home .SmartPhoneKeyVisual {
	display: block;
	margin-bottom: 60px;
}

.Home .SmartPhoneKeyVisual.En-Top {
	display: block;
	margin-bottom: 20px;
}

.Home .SmartPhoneKeyVisual img {
	width: 100%;
	height: auto;
}

.Home #HomeKeyVisualArea {
	margin-bottom: 20px;
}

.Home #HomeKeyVisualArea .EmergencyArea {
	display: none;
}

.Home #HomeKeyVisualArea .ContentsArea {
	display: none;
}

.Home .SubContentsArea.Bnr-General {
	margin-bottom: 0;
}

.Home .SubContentsArea.Bnr-General dl {
	margin-bottom: 20px;
	padding: 0;
}

.Home .SubContentsArea.Bnr-General dl dd {
    margin: 0 auto 14px;
    max-width: 70%;
}

.Home .SubContentsArea.Bnr-General dl dt img,
.Home .SubContentsArea.Bnr-General dl dd img,
.Home .SubContentsArea.Bnr-General ul li img,
.Home .Col4BnrArea ul li img {
	width: 100%;
	height: auto;
}

.Home .SubContentsArea.Bnr-General.StockPricesArea dl dd {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	padding-bottom: 7px;
}

.SubContentsArea.Bnr-General.StockPricesArea p.En-Top.Col1Bnr {
	max-width: 70%;
	margin: 0 auto;
}

.SubContentsArea.Bnr-General.StockPricesArea p.En-Top.Col1Bnr img {
	width: 100%;
	height: auto;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks {
	padding: 20px 0;
	margin-right: 0;
	border: none;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks dl {
	margin-bottom: 0;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks dl dt {
	padding: 0 0 12px 0;
	margin: 0 auto;
	max-width: 70%;
	border: none;
}

.Home .SubContentsArea.Bnr-General #HomeGroupLinks img {
	width: auto;
}

.Home .Col4BnrArea {
	width: auto;
	padding: 0;
}

.Home .SubContentsArea.Bnr-General dl.Disasterrelief dt,
.Home .SubContentsArea.Bnr-General ul li,
.Home .Col4BnrArea ul li {
	float: none;
	margin: 0 auto 14px;
	max-width: 70%;
}

.Home #SiteContentsList {
	display: none;
}

.Home div.notificationTable table th {
	font-weight: 100;
}

.Home .Col4BnrArea #Slider03 {
display: none;
}
.Home .Col4BnrArea .MobileMedia {
display: block;
}

/* -02. Image Control */
#Contents .Not-Expansion img {
	width: auto!important;
	height: auto!important;
}

/* -03. Form */
#Contents .Section.Form ul li {
}

#Contents .Section.Form dl dt {
	display: block!important;
	float: none!important;
	width: auto!important;
	margin: 0 0 5px!important;
}

#Contents .Section.Form dl dd {
	display: block!important;
	float: none!important;
	width: auto!important;
	margin: 0!important;
}

#Contents .Section.Form .Input {
	width: 98%!important;
}

#Contents .Table-Border table#xj-mainlist {
	width: 100%;
}

/* 033. Modal Window
-------------------------------------------------------------- */
#modal {
    width: 280px;
	margin: 0 auto;
	font-size: 87.5%;
	vertical-align: top;
	position: relative;
	top: 0%;
}

#modal ul li {
	margin: 0px 0px 10px 0px;
}

/* 034. Slider
-------------------------------------------------------------- */

.bx-wrapper {
	padding: 0;
	line-height: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

.bx-wrapper .bx-pager {
	left: 13%;
	width: 75%;
    text-align: center;
	padding-top: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #d8d8da;
	margin: 0 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.bx-wrapper .bx-controls-direction a {
	bottom: -48px;
}

/* 035. IR
-------------------------------------------------------------- */

.Ir_Area {
	display: none;
}

.Ir-Col2-BoxArea .Col2-Box {
	width: 100%;
	float: none;
	clear: both;
	margin-bottom: 20px;
}

.Ir-Col3-BoxArea .Col3-Box {
	width: 100%;
	float: none;
	clear: both;
	margin-bottom: 20px;
}
/* 036. page-top
-------------------------------------------------------------- */
.page-top p {

	right: 10px;
	bottom: 70px;
}

/* 036. 非表示
-------------------------------------------------------------- */

#AllSearch {
	display: none;
}
#topLinkBox {
	display: none;
}
#UsabilityTools {
	display: none;
}
#homeTopicPath {
	display: none;
}
#TopicPath {
	display: none;
}
#gnaviCts {
	display: none;
}
#logoBox p {
	display: none;
}
#SiteToolArea {
	display: none;
}
#twitterBox {
	display: none;
}
#pressRelease {
	display: none;
}
#news {
	display: none;
}
#footerContents {
	display: none;
}
.demarcation {
	display: none;
}

