@charset "utf-8";


@media print{}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	/* [disabled]margin: 0; */
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
}
body {
	line-height: 1;
	position: relative;
	-webkit-print-color-adjust: exact;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
	display: block;
 }

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font */
address, em, strong {
    font-style: normal;
}

/* clearfix */
.cfx:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size: 0;
}
.cfx { display: inline-table;zoom:1; }
/* hides from ie mac \*/
* html .cfx { height: 1%; }
.cfx { display: block; }
/* end hide from ie mac */





/***********************************************

common

***********************************************/

#wrap {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	font-weight: normal;
	width: 100%;
	color: #181818;
}
.inner {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 0;
	background-color: #fff;
}
.target_blank {
	margin-left: 2px;
}

/***********************************************

header

***********************************************/

#headerContens {
	width: 100%;
	height: 60px;
	margin: auto;
	background: url(../images/bg_head.jpg) no-repeat top;
}
#logoBox {
	width: 443px;
	padding: 16px 0 0 5px;
	float: left;
	overflow: hidden;
	clear: both;
}
h1 {
	width: 163px;
	float: left;
}
#logoBox p {
	width: 167px;
	float: right;
	padding: 13px 0 0;
}
/***********************************************

検索

***********************************************/

#AllSearch {
	position: relative;
	width: 230px;
	margin: 0 13px 0 0;
	padding: 35px 0 0;
	float: right;
	font-size: 78%;
	text-align: right;/* z-index: 0;*/
}
#AllSearch form {
	display: inline-block;
	width: 230px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #a0a0a0;
	text-align: right;/*z-index: 1;*/
}
#AllSearch input#q {
	/*position: relative;*/
	width: 195px;
	height: 17px;
	/*background-color: transparent;*/
	border: none;
	letter-spacing: normal;
	z-index: 4;
	vertical-align: middle;
}
#AllSearch input.SubmitButton {
	position: relative;
	letter-spacing: normal;
	vertical-align: middle;
	padding: 0 5px 0 0;
	z-index: 5;
}
#AllSearch:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}
/***********************************************

sp　非表示

***********************************************/

#spMenu, #sp_news, #sp_pressRelease {
	display: none;
}
/***********************************************

最上部リンク

***********************************************/

#topLinkBox {
	width: 100%;
	margin: auto;
	padding: 15px 20px 15px 0;
	text-align: right;
}
#topLinkBox li {
	display: inline;
	font-size: 83%;
}
#topLinkBox li a:link {
	color:#181818;
}
#topLinkBox li a:visited {
	color:#707070;
}
#topLinkBox li a:hover {
	color:#cc0000;
}
#topLinkBox li:last-child a {
	font-size: 100%;
	color: #181818;
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
}
#topLinkBox li:last-child a:link,
#topLinkBox li:last-child a:visited {
	background-color: #b2b1b1;
}
#topLinkBox li:last-child a:hover {
	color:#fff;
	background-color:#cc0000;
}
/***********************************************

パンくず

***********************************************/

#TopicPath {
	float: left;
	width: 60%;
	margin-bottom: 25px;
	padding: 5px 0 6px 20px;
	font-size: 92.9%;
}
#TopicPath dl {
	letter-spacing: -.4em;
}
#TopicPath dt, .TopicPath dd {
	display: inline;
	letter-spacing: normal;
}
#TopicPath dd em {
	color: #c00;
}
/***********************************************

文字サイズ

***********************************************/


#SiteToolArea {
	width: 100%;
	min-height: 25px;
	margin: auto;
	padding: 0 0 10px 0;
}
#UsabilityTools {
	display: block;
	float: right;
	width: 35%;
	height: 25px;
	padding: 0 10px 0 0;
	text-align: right;
}
#FontTools dl dt {
	width: 100px;
	padding: 0 10px 0 0;
	font-size: 14px;
	font-weight: bold;
}
#FontTools dl dt, #FontTools dl dd {
	margin: 0 0 0 2px;
	letter-spacing: normal;
}
.Reader {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#PrintButton, #FontTools, #FontTools dl, #FontTools dl dt, #FontTools dl dd {
	display: inline;
}
/***********************************************

スライド

***********************************************/

#mainImgBox {
	width: 100%;
	padding: 0 0 20px;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
}
#mainImgInner {
	width: 98%;
	margin: 0 auto;
	overflow: hidden;
}
#slideBox {
	width: 70%;
	float: left;
	position: relative;
}
#slideBox p {
	position: absolute;
	bottom: 30px;
	right: 10px;
}
#slideBox p a {
	display: block;
	color: #fff;
	font-weight: bold;
	width: 155px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 2px solid #fff;
	text-decoration: none;
}
#slideBox p a:link, #slideBox p a:visited {
	background-color: rgba(0,0,0,0.5);
}
#slideBox p a:hover {
	background-color: rgba(255,255,255,0.5);
}
#twitterBox {
	width: 28%;
	float: right;
}
/***********************************************

グローバルナビ

***********************************************/

#gnaviCts {
	width: 100%;
	background-color: #7b7b7b;
}
#gnavi {
	width: 100%;
	margin: auto;
}
#gnavi li a {
	display: block;
	color: #fff;
	width: 12%;
	height: 50px;
	padding: 10px 0 0;
	line-height: 1.3em;
	float: left;
	text-decoration: none;
	text-align: center;
}
#gnavi li a:hover {
	background-color: #cc0000;
}
#gnavi li.target a {
	width: 12%;
	height: 60px;
	padding: 0;
	line-height: 60px;
	background-color: #cc0000;
}
#gnavi li:nth-child(7) a, #gnavi li:nth-child(8) a {
	background-color: #afadad;
}
#gnavi li:nth-child(7) a:hover, #gnavi li:nth-child(8) a:hover {
	background-color: #cc0000;
}
/***********************************************

#topBnrBox

***********************************************/
#topBnrBox {
	width: 100%;
	padding-bottom: 30px;
}
#bnrEachCompany li a, #bnrEachCompany02 li a {
	display: block;
	text-decoration: none;
	width: 30%;
	height: 85px;
	float: left;
	text-indent: -9999px;
}
#bnrEachCompany li:nth-child(1) a, #bnrEachCompany li:nth-child(3) a {
	margin: 0 0 20px;
}
#bnrEachCompany li:nth-child(2) a {
	margin: 0 5% 20px 5%;
}
#bnrEachCompany li:nth-child(1) a:link, #bnrEachCompany li:nth-child(1) a:visited, #bnrEachCompany li:nth-child(1) a:hover {
	background: url(../images/bnr_jph.jpg) no-repeat;
	background-size:100% auto;
	display: block;
}
#bnrEachCompany li:nth-child(1) a:link img, #bnrEachCompany li:nth-child(1) a:visited img, #bnrEachCompany li:nth-child(1) a:hover img {
	width:100%;
	height:auto;
}
#bnrEachCompany li:nth-child(2) a:link, #bnrEachCompany li:nth-child(2) a:visited, #bnrEachCompany li:nth-child(2) a:hover {
	display: block;
	background: url(../images/bnr_jpbank.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany li:nth-child(2) a:link img, #bnrEachCompany li:nth-child(2) a:visited img, #bnrEachCompany li:nth-child(2) a:hover img {
	width:100%;
	height:auto;
}
#bnrEachCompany li:nth-child(3) a:link, #bnrEachCompany li:nth-child(3) a:visited, #bnrEachCompany li:nth-child(3) a:hover {
	display: block;
	background: url(../images/bnr_jplife.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany li:nth-child(3) a:link img, #bnrEachCompany li:nth-child(3) a:visited img, #bnrEachCompany li:nth-child(3) a:hover  img{
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(2) a {
	margin: 0 5% 20px 5%;
}
#bnrEachCompany02 li:nth-child(1) a:link, #bnrEachCompany02 li:nth-child(1) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_zip_code_search.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany02 li:nth-child(1) a:link img, #bnrEachCompany02 li:nth-child(1) a:visited  img{
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_zip_code_search.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany02 li:nth-child(1) a:hover img {
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(2) a:link, #bnrEachCompany02 li:nth-child(2) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_post_office.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany02 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_post_office.jpg) no-repeat;
	background-size:100% auto;
}

#bnrEachCompany02 li:nth-child(2) a:link img, #bnrEachCompany02 li:nth-child(2) a:visited  img{
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(2) a:hover  img{
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(3) a:link, #bnrEachCompany02 li:nth-child(3) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_twitter_large.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany02 li:nth-child(3) a:hover {
	display: block;
	background: url(../images/bnr_pc_on_twitter_large.jpg) no-repeat;
	background-size:100% auto;
}
#bnrEachCompany02 li:nth-child(3) a:link img, #bnrEachCompany02 li:nth-child(3) a:visited  img {
	width:100%;
	height:auto;
}
#bnrEachCompany02 li:nth-child(3) a:hover img {
	width:100%;
	height:auto;
}

#topBnrPost {
	width: 65%;
	overflow: hidden;
	padding: 40px 0 0;
	float: left;
}
#topBnrPost #bnrGroupInfo1 {
	width: 46%;
	float: left;
}
#topBnrPost #bnrGroupInfo2 {
	width: 46%;
	float: right;
}
#bnrGroupInfo1 li a, #bnrGroupInfo2 li a {
	display: block;
	width: 100%;
	height: 60px;
	margin: 0 0 20px;
	text-indent: -9999px;
}
#bnrGroupInfo1 li:nth-child(1) a:link, #bnrGroupInfo1 li:nth-child(1) a:visited {
	background: url(../images/bnr_pc_off_vision.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_vision.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(1) a:link img, #bnrGroupInfo1 li:nth-child(1) a:visited img{
	width:100%;
	height:auto;
}
#bnrGroupInfo1 li:nth-child(1) a:hover img {
	width:100%;
	height:auto;
}

#bnrGroupInfo1 li:nth-child(2) a:link, #bnrGroupInfo1 li:nth-child(2) a:visited {
	background: url(../images/bnr_pc_off_guidance.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_guidance.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(2) a:link img, #bnrGroupInfo1 li:nth-child(2) a:visited img {
	width:100%;
	height:auto;
}
#bnrGroupInfo1 li:nth-child(2) a:hover img {
	width:100%;
	height:auto;
}

#bnrGroupInfo1 li:nth-child(3) a:link, #bnrGroupInfo1 li:nth-child(3) a:visited {
	background: url(../images/bnr_pc_off_presentation.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(3) a:hover {
	background: url(../images/bnr_pc_on_presentation.jpg) no-repeat;
	background-size:100% auto;
}

#bnrGroupInfo1 li:nth-child(3) a:link img, #bnrGroupInfo1 li:nth-child(3) a:visited img {
	width:100%;
	height:auto;
}
#bnrGroupInfo1 li:nth-child(3) a:hover img {
	width:100%;
	height:auto;
}

#bnrGroupInfo1 li:nth-child(4) a:link, #bnrGroupInfo1 li:nth-child(4) a:visited {
	background: url(../images/bnr_pc_off_history.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(4) a:hover {
	background: url(../images/bnr_pc_on_history.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo1 li:nth-child(4) a:link img ,#bnrGroupInfo1 li:nth-child(4) a:visited img{
	width:100%;
	height:auto;
}
#bnrGroupInfo1 li:nth-child(4) a:hover img{
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(1) a:link, #bnrGroupInfo2 li:nth-child(1) a:visited {
	background: url(../images/bnr_pc_off_summary.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_summary.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(1) a:link img, #bnrGroupInfo2 li:nth-child(1) a:visited  img{
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(1) a:hover img{
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(2) a:link, #bnrGroupInfo2 li:nth-child(2) a:visited {
	background: url(../images/bnr_pc_off_meeting.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_meeting.jpg) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(2) a:link img, #bnrGroupInfo2 li:nth-child(2) a:visited img {
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(2) a:hover img {
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(3) a:link, #bnrGroupInfo2 li:nth-child(3) a:visited {
	background: url(../images/bnr_pc_off_kanpo.png) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(3) a:hover {
	background: url(../images/bnr_pc_on_kanpo.png) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(3) a:link img, #bnrGroupInfo2 li:nth-child(3) a:visited img{
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(3) a:hover img {
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(4) a:link, #bnrGroupInfo2 li:nth-child(4) a:visited {
	background: url(../images/bnr_pc_off_hospital.png) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(4) a:hover {
	background: url(../images/bnr_pc_on_hospital.png) no-repeat;
	background-size:100% auto;
}
#bnrGroupInfo2 li:nth-child(4) a:link img, #bnrGroupInfo2 li:nth-child(4) a:visited img {
	width:100%;
	height:auto;
}
#bnrGroupInfo2 li:nth-child(4) a:hover img {
	width:100%;
	height:auto;
}

/***********************************************

株価情報

***********************************************/
#stockPrices {
	width: 30%;
	margin:40px 0 0;
	padding: 20px 0 18px;
	float: right;
	border:1px solid #ccc;
}
#stockPrices dl {
	width:90%;
	font-size:100%;
	font-weight:bold;
	margin:auto;
	padding:0 0 20px;
	text-align:center;
}
#stockPrices dt {
	padding:0 10px 0 0;
	float:left;

	clear:left;
}
#stockPrices p {
	text-align:center;
}
#stockPrices .arrowTxt {
	margin:15px 0 0 180px;
	text-align:right;
	width:130px;
	background:url(../images/icon_link_01.gif) no-repeat bottom left;
	line-height:13px;
}
#stockPrices .arrowTxt a {
	margin:0 0 0 10px;
}
#stockPrices .arrowTxt a:link {
	color:#181818;
}
#stockPrices .arrowTxt a:visited {
	color:#707070;
}
#stockPrices .arrowTxt a:hover {
	color:#cc0000;
}
/*バナーグループ2*/
.topBnrBoxIn {
	padding-bottom: 30px;
}
/*災害*/
.saigai {
	width:96%;
	padding: 2%;
	border: 1px solid #dddddd;
	line-height:1.5em;
}
.saigai a:link {
	color:#181818;
}
.saigai a:visited {
	color:#707070;
}
.saigai a:hover {
	color:#cc0000;
}
/*ご注意*/
#inner_attention {
	width:100%;
	margin: auto;
	padding:30px 0;
	position: relative;
}
#inner_attention p a {
	margin-left: 25px;
}
#inner_attention p a:link {
	color:#181818;
}
#inner_attention p a:visited {
	color:#707070;
}
#inner_attention p a:hover {
	color:#cc0000;
}
#inner_attention p a:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0px;
	width: 19px;
	height: 17px;
	margin-top: -9px;
	background: url("../images/icon_attention.jpg") top left no-repeat;
}
/*タブ部分　プレスリリース*/
#pressRelease {
	margin: 0;
}
#pressRelease h2 {
	font-weight: bold;
	font-size:120%;
	margin-bottom: 20px;
}
#pressRelease .tab_area ul {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#pressRelease .tab_area ul li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding: 14px 0 5px;
	color: #ffffff;
	text-decoration: none;
	background: #cdcdcd;
	width: 22%;
	height: 44px;
	margin: 0 0 0 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:17px;
}
#pressRelease .tab_area ul li.select, #pressRelease .tab_area ul li:hover {
	background: #999999;
	color: #ffffff;
}
#pressRelease .tab_area ul li.tab_jp_h.select, #pressRelease .tab_area ul li.tab_jp_h:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url(../images/on_tab_jp_h.jpg) center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jppost.select, #pressRelease .tab_area ul li.tab_jppost:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url(../images/on_tab_jppost.jpg) center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jpbank.select, #pressRelease .tab_area ul li.tab_jpbank:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #009900;
	background: url("../images/on_tab_jpbank.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jplife.select, #pressRelease .tab_area ul li.tab_jplife:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #000099;
	background: url("../images/on_tab_jplife.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li:nth-child(1) {
	margin-left: 0;
}
#pressRelease .tab_area ul li:last-child {
	margin-left: -3px;
}
/*コンテンツ部分の表示領域を固定してはみ出さないようにする*/
#pressRelease .content_area {
	width:100%;
	overflow: hidden;
	height: 150px;
	position: relative;
}
#pressRelease .content_area .content_area_inner #contents1 {
	display: block;
}
#pressRelease .content_area .content_area_inner #contents2, #pressRelease .content_area .content_area_inner #contents3, #pressRelease .content_area .content_area_inner #contents4 {
	display: none;
}
/*コンテンツのスタイル設定*/

#pressRelease .content_area .content_area_inner .content_block {
	height: 140px;
	padding: 10px;
	width: 100%;
	float: left;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	line-height: 1.4rem;
}
#pressRelease .content_area .content_area_inner .content_block dl dt {
	float: left;
	clear: left;
	width: 24%;
	padding: 8px 0;
	border-bottom: 1px solid #DDDDDD;
}
#pressRelease .content_area .content_area_inner .content_block dl dt:nth-last-child(2) {
	border-bottom: none;
}
#pressRelease .content_area .content_area_inner .content_block dl dd {
	float: left;
	width:76%;
	padding: 8px 0;
	border-bottom: 1px solid #DDDDDD;
}
#pressRelease .content_area .content_area_inner .content_block dl dd:last-child {
	border-bottom: none;
}
/*一覧を見る*/
.listLink {
	padding:0 0 20px;
	position: relative;
	font-size: 90%;
	text-align: right;
}

.listLink a img {
	display: inline-block;
	margin: 0 4px -2px 0;
}
.listLink a:link {
	color:#181818;
}
.listLink a:visited {
	color:#707070;
}
.listLink a:hover {
	color:#cc0000;
}
/*罫線*/
.demarcation {
	border: none;
	border-bottom: 1px solid #EDEDED;
}
/*タブ部分　お知らせ*/
#news {
	margin: 0;
}
#news h2 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 20px;
}
#news .tab_area01 ul {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#news .tab_area01 ul li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding: 14px 0 5px;
	color: #ffffff;
	text-decoration: none;
	background: #cdcdcd;
	width: 22%;;
	height: 44px;
	margin: 0 0 0 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#news .tab_area01 ul li.select, #news .tab_area01 ul li:hover {
	background: #999999;
	color: #ffffff;
}
#news .tab_area01 ul li.tab_jp_h.select, #news .tab_area01 ul li.tab_jp_h:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url("../images/on_tab_jp_h.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jppost.select, #news .tab_area01 ul li.tab_jppost:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url("../images/on_tab_jppost.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jpbank.select, #news .tab_area01 ul li.tab_jpbank:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #009900;
	background: url("../images/on_tab_jpbank.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jplife.select, #news .tab_area01 ul li.tab_jplife:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #000099;
	background: url("../images/on_tab_jplife.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li:nth-child(1) {
	margin-left: 0;
}
#news .tab_area01 ul li:last-child {
	margin-left: -3px;
}
/*コンテンツ部分の表示領域を固定してはみ出さないようにする*/
#news .content_area01 {
	width: 100%;
	overflow: hidden;
	height: 150px;
	position: relative;
}
#news .content_area01 .content_area_inner01 #contents5 {
	display: block;
}
#news .content_area01 .content_area_inner01 #contents6, #news .content_area01 .content_area_inner01 #contents7, #news .content_area01 .content_area_inner01 #contents8 {
	display: none;
}
/*コンテンツのスタイル設定*/
#news .content_area01 .content_area_inner01 .content_block01 {
	height: 140px;
	padding: 10px;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.4rem;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dt {
	float: left;
	clear: left;
	width: 24%;
	padding: 8px 0;
	border-bottom: 1px solid #DDDDDD;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dt:nth-last-child(2) {
	border-bottom: none;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dd {
	float: left;
	width: 76%;
	padding: 8px 0;
	border-bottom: 1px solid #DDDDDD;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dd:last-child {
	border-bottom: none;
}
/*タブリンク色*/
#contents1 a:link,
#contents5 a:link {
	color:#181818;
}
#contents1 a:visited,
#contents5 a:visited {
	color:#707070;
}
#contents1 a:hover,
#contents5 a:hover {
	color:#cc0000;
}
/*ご注意ください*/
#warn {
	margin: 0 0 70px -20px;
}
#warn h2 {
	font-weight: pxlnormal;
	font-size: 115%;
	border-top: 1px solid #181818;
	border-bottom: 1px solid #181818;
	text-align: center;
	padding: 16px 0;
	margin-bottom: 10px;
	width: 1200px;
}
#warn ul li {
	padding: 20px 0 14px 0;
	width: 1140px;
	margin: 0 30px;
	border-bottom: 1px solid #DDDDDD;
}
#warn ul li:last-child {
	border-bottom: none;
}
#warn ul li a:link {
	color:#181818;
}
#warn ul li a:visited {
	color:#707070;
}
#warn ul li a:hover {
	color:#cc0000;
}
/*バナースライドボックス*/
#bnrSlideBox {
	width: 100%;
	height: 90px;
	overflow: hidden;
	margin-bottom: 50px;
}

#bnrSlideBox ul li {
	width:225px;
	float: left;
	padding: 0 10px;
	/*margin-right: 20px;*/
}
#bnrSlideBox .bx-wrapper .bx-pager,
#bnrSlideBox .bx-wrapper .bx-controls-auto {
	bottom: -30px;
	text-align :center;
}
/*
#bnrSlideBox .bx-wrapper .bx-prev {
  left: -5px !important;
}
#bnrSlideBox .bx-wrapper .bx-next {

}

*/

/*フッターコンテンツ*/
#footerContents {
	position: relative;
	width: 100%;
	padding: 0 0 20px;
	background-color: #e9eaeb;
	border-top: 3px solid #cc0000;
	overflow: hidden;
}
#footerContents .inner {
	width: 94%;
	margin: 0 auto;
	background-color: #e9eaeb;
}
/*バナーフッターボックス*/

#spFooterSnsIcon {
	display: none;
}
#bnrFooterBox {
	width: 687px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
}
#bnrFooterBox ul li {
	width: 215px;
	float: left;
}
#bnrFooterBox ul li:nth-child(2) {
	padding: 0 20px;
}
#footLinkBox {
	margin: 30px auto;
	overflow: hidden;
}
.footLinkBoxInner {
	width: 23%;
	float: left;
	padding: 0 3% 0 0;
}
.footLinkLongBox {
	width: 23%;
	float: left;
	padding: 0 3% 0 0;
}
#LastFootLinkBoxInner {
	width: 21%;
	float: left;
}
.ftLink {
	margin-top: 30px;
}
.ftLink dt, .ftLink p {
	width: 220px;
	padding: 0 0 10px 4px;
	border-bottom: 1px solid #a0a0a0;
	text-decoration: none;
	font-size:105%;
}
.ftLink dd {
	font-size:85%;
	padding-left: 4px;
	margin-top: 10px;
	text-decoration: none;
}
.ftLink a:link, a:visited {
	text-decoration: none;
	color: #181818;
}
.ftLink a:hover {
	text-decoration: none;
	color: #cc0000;
}
#bnrBottomCompanies {
	width: 736px;
	margin: auto;
	overflow: hidden;
}
#bnrBottomCompanies ul li {
	width: 232px;
	float: left;
}
#bnrBottomCompanies ul li:nth-child(2) {
	padding: 0 20px;
}
#footerNav {
	margin-bottom: 10px;
}
#footerNav li {
	float: left;
	font-size:95% ;
	margin-left: 3px;
}
#footerNav li:nth-child(1) {
	margin-left: 0;
}
#footerNav li:nth-child(2) {
	margin-left: 10px;
}
#footerNav li a:link {
	color:#181818;
}
#footerNav li a:visited {
	color:#707070;
}
#footerNav li a:hover {
	color:#cc0000s;
}
#footerRedBox {
	height: 25px;
	background-color: #CC0001;
}
#footerRedBox .fotterCi {
	display: inline-block;
	margin: 8px 0 0 34px;
}
#footerRedBox .fotterCopyright {
	color: #ffffff;
	text-align: right;
	display: inline-block;
	margin: 8px 16px 0 0;
	float: right;
	font-size:56%
}
/***********************************************

TOPへ戻るボタン

***********************************************/

.page-top {
	margin: 0;
	padding: 0;
	display: none;
}
.page-top p {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 100px;
	bottom: 40px;
}
.move-page-top {
	display: block;
	width: 54px;
	height: 54px;
	background: url(../images/go_to_top.png);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;/*画像で作らない場合
	background: #D36015 ;
	color: #fff ;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;
	*/
}
.move-page-top:hover {
	opacity: 0.85;
}
/* スマホメニュー非表示 */
.drawer-hamburger, .drawer-nav {
	display: none;
}


