@charset "utf-8";

/***********************************************

スライド

***********************************************/

#mainImgBox {
      width: 100%;
      padding: 0 0 20px;
      background-color: #e9eaeb;
      background-image: url(../images/bg_main_img.jpg);
      background-repeat: repeat-x;
}
#mainImgInner {
      width: 1160px;
      margin: 0 auto;
      overflow: hidden;
}
#slideBox {
      width: 875px;
      float: left;
      position: relative;
}
#slideBox p {
      position: absolute;
      bottom: 30px;
      right: 10px;
}
#slideBox p a {
      display: block;
      color: #fff;
      font-weight: bold;
      width: 155px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 2px solid #fff;
      text-decoration: none;
}
#slideBox p a:link, #slideBox p a:visited {
      background-color: rgba(0,0,0,0.5);
}
#slideBox p a:hover {
      background-color: rgba(255,255,255,0.5);
}
#twitterBox {
      width: 265px;
      float: right;
}

/***********************************************

#topBnrBox

***********************************************/
#topBnrBox {
	width: 100%;
	background-color: #e9eaeb;
	padding-bottom: 30px;
}
#bnrEachCompany li a, #bnrEachCompany02 li a {
	display: block;
	text-decoration: none;
	width: 357px;
	height: 85px;
	float: left;
	text-indent: -9999px;
}
#bnrEachCompany li:nth-child(1) a, #bnrEachCompany li:nth-child(3) a {
	margin: 0 0 20px;
}
#bnrEachCompany li:nth-child(2) a {
	margin: 0 45px 20px 44px;
}
#bnrEachCompany li:nth-child(1) a:link, #bnrEachCompany li:nth-child(1) a:visited, #bnrEachCompany li:nth-child(1) a:hover {
	background: url(../images/bnr_jph.jpg) no-repeat;
	display: block;
}
#bnrEachCompany li:nth-child(2) a:link, #bnrEachCompany li:nth-child(2) a:visited, #bnrEachCompany li:nth-child(2) a:hover {
	display: block;
	background: url(../images/bnr_jpbank.jpg) no-repeat;
}
#bnrEachCompany li:nth-child(3) a:link, #bnrEachCompany li:nth-child(3) a:visited, #bnrEachCompany li:nth-child(3) a:hover {
	display: block;
	background: url(../images/bnr_jplife.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(2) a {
	margin: 0 45px 0 44px;
}
#bnrEachCompany02 li:nth-child(1) a:link, #bnrEachCompany02 li:nth-child(1) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_zip_code_search.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_zip_code_search.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(2) a:link, #bnrEachCompany02 li:nth-child(2) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_post_office.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_post_office.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(3) a:link, #bnrEachCompany02 li:nth-child(3) a:visited {
	display: block;
	background: url(../images/bnr_pc_off_twitter_large.jpg) no-repeat;
}
#bnrEachCompany02 li:nth-child(3) a:hover {
	display: block;
	background: url(../images/bnr_pc_on_twitter_large.jpg) no-repeat;
}
/*#bnrEachCompany li:nth-child(-n+3) a img, #bnrEachCompany02 li:nth-child(-n+3) a img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding-top: 26px;
}*/
#topBnrPost {
	width: 759px;
	overflow: hidden;
	padding: 40px 0 0;
	float: left;
}
#topBnrPost #bnrGroupInfo1 {
	width: 357px;
	float: left;
}
#topBnrPost #bnrGroupInfo2 {
	width: 357px;
	float: right;
}
#bnrGroupInfo1 li a, #bnrGroupInfo2 li a {
	display: block;
	width: 357px;
	height: 60px;
	margin: 0 0 20px;
	text-indent: -9999px;
}
#bnrGroupInfo1 li:nth-child(1) a:link, #bnrGroupInfo1 li:nth-child(1) a:visited {
	background: url(../images/bnr_pc_off_vision.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_vision.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(2) a:link, #bnrGroupInfo1 li:nth-child(2) a:visited {
	background: url(../images/bnr_pc_off_guidance.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_guidance.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(3) a:link, #bnrGroupInfo1 li:nth-child(3) a:visited {
	background: url(../images/bnr_pc_off_presentation.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(3) a:hover {
	background: url(../images/bnr_pc_on_presentation.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(4) a:link, #bnrGroupInfo1 li:nth-child(4) a:visited {
	background: url(../images/bnr_pc_off_history.jpg) no-repeat;
}
#bnrGroupInfo1 li:nth-child(4) a:hover {
	background: url(../images/bnr_pc_on_history.jpg) no-repeat;
}
#bnrGroupInfo2 li:nth-child(1) a:link, #bnrGroupInfo2 li:nth-child(1) a:visited {
	background: url(../images/bnr_pc_off_summary.jpg?v1) no-repeat;
}
#bnrGroupInfo2 li:nth-child(1) a:hover {
	background: url(../images/bnr_pc_on_summary.jpg?v1) no-repeat;
}
#bnrGroupInfo2 li:nth-child(2) a:link, #bnrGroupInfo2 li:nth-child(2) a:visited {
	background: url(../images/bnr_pc_off_meeting.jpg) no-repeat;
}
#bnrGroupInfo2 li:nth-child(2) a:hover {
	background: url(../images/bnr_pc_on_meeting.jpg) no-repeat;
}
#bnrGroupInfo2 li:nth-child(3) a:link, #bnrGroupInfo2 li:nth-child(3) a:visited {
	background: url(../images/bnr_pc_off_kanpo.png) no-repeat;
}
#bnrGroupInfo2 li:nth-child(3) a:hover {
	background: url(../images/bnr_pc_on_kanpo.png) no-repeat;
}
#bnrGroupInfo2 li:nth-child(4) a:link, #bnrGroupInfo2 li:nth-child(4) a:visited {
	background: url(../images/bnr_pc_off_hospital.png) no-repeat;
}
#bnrGroupInfo2 li:nth-child(4) a:hover {
	background: url(../images/bnr_pc_on_hospital.png) no-repeat;
}
/***********************************************

株価情報

***********************************************/
#stockPrices {
	width: 315px;
	margin: 40px 0 0;
	padding: 20px 20px 18px;
	float: right;
}
#stockPrices dl {
	width: 100%;
	font-size: 110%;
	font-weight: bold;
	padding: 0 0 20px;
	text-align: center;
}
#stockPrices dt {
	padding: 0 10px 0 0;
	float: left;
	clear: left;
}
#stockPrices #stockQuotations {
	text-align: center;
}
#stockPrices #stockQuotations img {
	width: 80%;
	height: auto;
}
#stockQuotationsTxt {
	font-size: 80%;
	width: 130px;
	margin: 25px 0 0 180px;
	text-align: right;
}
/*バナーグループ2*/
.topBnrBoxIn {
	padding-bottom: 30px;
	overflow:hidden;
}
/*災害*/
.saigai {
	margin-top: 30px;
	padding: 14px 20px;
	border: 1px solid #dddddd;
	line-height: 1.5em;
	overflow:hidden;
}
.saigai a:link {
	color: #181818;
	text-decoration: underline;
}
.saigai a:visited {
	color: #707070;
	text-decoration: underline;
}
.saigai a:hover {
	color: #cc0000;
	text-decoration: none;
}
/*ご注意*/
#inner_attention {
	width: 1200px;
	margin: auto;
	padding: 30px 0;
	position: relative;
}
#inner_attention p a {
	margin-left: 25px;
}
#inner_attention p a:link {
	color: #181818;
	text-decoration: underline;
}
#inner_attention p a:visited {
	color: #707070;
	text-decoration: none;
}
#inner_attention p a:hover {
	color: #cc0000;
	text-decoration: none;
}
#inner_attention p a:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0px;
	width: 19px;
	height: 17px;
	margin-top: -9px;
	background: url("../images/icon_attention.jpg") top left no-repeat;
}
/*タブ部分　プレスリリース*/
#pressRelease {
	margin: -20px 0 20px -20px;
}
#pressRelease h2 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 20px;
}
#pressRelease .tab_area ul {
	display: block;
	width: 1202px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#pressRelease .tab_area ul li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding: 14px 5px 5px;
	color: #ffffff;
	text-decoration: none;
	background: #cdcdcd;
	width: 296px;
	height: 44px;
	margin: 0 0 0 -2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 17px;
}
#pressRelease .tab_area ul li.select, #pressRelease .tab_area ul li:hover {
	background: #999999;
	color: #ffffff;
}
#pressRelease .tab_area ul li.tab_jp_h.select, #pressRelease .tab_area ul li.tab_jp_h:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url(../images/on_tab_jp_h.jpg) center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jppost.select, #pressRelease .tab_area ul li.tab_jppost:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url(../images/on_tab_jppost.jpg) center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jpbank.select, #pressRelease .tab_area ul li.tab_jpbank:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #009900;
	background: url("../images/on_tab_jpbank.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li.tab_jplife.select, #pressRelease .tab_area ul li.tab_jplife:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #000099;
	background: url("../images/on_tab_jplife.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#pressRelease .tab_area ul li:nth-child(1) {
	margin-left: 0;
}
#pressRelease .tab_area ul li:last-child {
	margin-left: -3px;
}
#pressRelease .content_area {
	width: 1200px;
	position: relative;
}
#pressRelease .content_area .content_area_inner #contents1 {
	display: block;
}
#pressRelease .content_area .content_area_inner #contents2, #pressRelease .content_area .content_area_inner #contents3, #pressRelease .content_area .content_area_inner #contents4 {
	display: none;
}
#pressRelease .content_area .content_area_inner .content_block {
	padding: 10px;
	width: 1200px;
	float: left;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	line-height: 1.4rem;
}
#pressRelease .content_area .content_area_inner .content_block dl {
	width: 100%;
    line-height: 1.5;
    overflow: hidden;
}
#pressRelease .content_area .content_area_inner .content_block dl dt {
	float: left;
	clear: left;
	width: 17%;
	padding: 8px 2% 8px 0;
	border-top: 1px solid #DDDDDD;
}
#pressRelease .content_area .content_area_inner .content_block dl dt:first-child {
	border-top: none;
}
#pressRelease .content_area .content_area_inner .content_block dl dd {
	float: left;
	width: 81%;
	padding: 8px 0;
	border-top: 1px solid #DDDDDD;
}
#pressRelease .content_area .content_area_inner .content_block dl dd:nth-child(2) {
	border-top: none;
}
#pressRelease .content_area .content_area_inner .content_block dl dd a:link, #news .content_area01 .content_area_inner01 .content_block01 dl dd a:link {
	color: #181818;
}
#pressRelease .content_area .content_area_inner .content_block dl dd a:visited, #news .content_area01 .content_area_inner01 .content_block01 dl dd a:visited {
	color: #707070;
}
#pressRelease .content_area .content_area_inner .content_block dl dd a:hover, #news .content_area01 .content_area_inner01 .content_block01 dl dd a:hover {
	color: #cc0000;
}
/*一覧を見る*/
.listLink {
	/*position: relative; */
	font-size: 90%;
	text-align: right;
}
.listLink a img {
	display: inline-block;
	margin: 0 4px -2px 0;
}
.listLink a:link {
	color: #181818;
	text-decoration:underline;
}
.listLink a:visited {
	color: #707070;
	text-decoration:underline;
}
.listLink a:hover {
	color: #cc0000;
	text-decoration:none;
}
/*罫線*/
.demarcation {
	border: none;
	border-bottom: 1px solid #EDEDED;
}
/*タブ部分　お知らせ*/
#news {
	margin: -20px 0 20px -20px;
}
#news h2 {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 20px;
}
#news .tab_area01 ul {
	display: block;
	width: 1202px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#news .tab_area01 ul li {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding: 14px 5px 5px;
	color: #ffffff;
	text-decoration: none;
	background: #cdcdcd;
	width: 296px;
	height: 44px;
	margin: 0 0 0 -2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:17px;
}
#news .tab_area01 ul li.select, #news .tab_area01 ul li:hover {
	background: #999999;
	color: #ffffff;
}
#news .tab_area01 ul li.tab_jp_h.select, #news .tab_area01 ul li.tab_jp_h:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url("../images/on_tab_jp_h.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jppost.select, #news .tab_area01 ul li.tab_jppost:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #cc0000;
	background: url("../images/on_tab_jppost.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jpbank.select, #news .tab_area01 ul li.tab_jpbank:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #009900;
	background: url("../images/on_tab_jpbank.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li.tab_jplife.select, #news .tab_area01 ul li.tab_jplife:hover {
	background: #ffffff;
	color: #ffffff;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 8px solid #000099;
	background: url("../images/on_tab_jplife.jpg") center center no-repeat;
	overflow: hidden;
	text-indent: 100%;
}
#news .tab_area01 ul li:nth-child(1) {
	margin-left: 0;
}
#news .tab_area01 ul li:last-child {
	margin-left: -3px;
}
#news .content_area01 {
	width: 1200px;
	position: relative;
}
#news .content_area01 .content_area_inner01 #contents5 {
	display: block;
}
#news .content_area01 .content_area_inner01 #contents6, #news .content_area01 .content_area_inner01 #contents7, #news .content_area01 .content_area_inner01 #contents8 {
	display: none;
}
#news .content_area01 .content_area_inner01 .content_block01 {
	padding: 10px;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.4rem;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dt {
	width: 17%;
	float: left;
	clear: left;
	padding: 8px 2% 8px 0;
	border-top: 1px solid #DDDDDD;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dt:first-child {
	border-top: none;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dd {
	width: 81%;
	float: left;
	padding: 8px 0;
	border-top: 1px solid #DDDDDD;
}
#news .content_area01 .content_area_inner01 .content_block01 dl dd:nth-child(2) {
	border-top: none;
}
/*タブリンク色*/
.content_block01 a:link,
.content_block a:link {
	color: #181818;
	text-decoration:underline;
}
.content_block01 a:visited,
.content_block a:visited {
	color: #707070;
	text-decoration:underline;
}
.content_block01 a:hover,
.content_block a:hover {
	color: #cc0000;
	text-decoration:none;
}
/*ご注意ください*/
#warn {
	margin: 0 0 70px -20px;
}
#warn h2 {
	font-weight: pxlnormal;
	font-size: 115%;
	border-top: 1px solid #181818;
	border-bottom: 1px solid #181818;
	text-align: center;
	padding: 16px 0;
	margin-bottom: 10px;
	width: 1200px;
}
#warn ul li {
	padding: 20px 0 14px 0;
	width: 1140px;
	margin: 0 30px;
	border-bottom: 1px solid #DDDDDD;
}
#warn ul li:last-child {
	border-bottom: none;
}
#warn ul li a:link {
	color: #181818;
	text-decoration:underline;
}
#warn ul li a:visited {
	color: #707070;
	text-decoration:underline;
}
#warn ul li a:hover {
	color: #cc0000;
	text-decoration:none;
}
/*バナースライドボックス*/
#bnrSlideBox {
	width: 100%;
	height: 90px;
	overflow: hidden;
	margin-bottom: 50px;
}
#bnrSlideBox ul li {
	width: 225px;
	float: left;
	padding: 0 10px;/*margin-right: 20px;*/
}
#bnrSlideBox .bx-wrapper .bx-pager, #bnrSlideBox .bx-wrapper .bx-controls-auto {
	bottom: -30px;
	text-align : center;
}
/*
#bnrSlideBox .bx-wrapper .bx-prev {
  left: -5px !important;
}
#bnrSlideBox .bx-wrapper .bx-next {
  
}

*/

#FooterNavigation,
.Copyright,
#Footer,
.Footer_SmartPhone {
	display:none;
}









