@charset "utf-8";

/***********************************************

Twitter ウィジェット

***********************************************/
iframe#twitter-widget-0 {
    border-bottom: 1px solid #1DA1F2 !important;
}


.timeline-Widget {
	border: 1px solid #1DA1F2;
}

.timeline-Header,
.timeline-Footer {
	background-color:#1DA1F2;
}

.timeline-Header-title,
.timeline-Header-byline,
.timeline-Header-byline a,
.timeline-Header-byline a:visited,
.timeline-Footer a,
.timeline-Footer a:visited {
	color:#fff;
	font-size: 15px;
}