
*:focus {outline: none;}


ul, ul li
{
	list-style-type:none;
}

#facebook_feature_module
{
	float:left;
	position:relative;
	height:250px;
	width:442px;
	padding:0 0 0 0;
	margin:0 0 0 6px;
	top:0px;
	z-index:1;
}

#facebook_feature_module_bottom
{
	background: url(http://www.candystand.com/assets/images/modules/facebook/facebook_feature_module_bottom.gif ) no-repeat;
	float:left;
	position:relative;
	height:75px;
	width:442px;
	padding:0 0 0 0;
	margin:0 0 0 6px;
	top:0px;
	z-index:1;
	text-align:center;
}

#facebook_feature_module_bottom .facebook_connect_button
{
	position:absolute;
	top:25px;
	left:136px;
}

#fb_reg_sell
{
	position:relative;
	top:0px;
	left:160px;
}
#feature_module
{
	float:left;
	position:relative;
	height:250px;
	width:655px;
	margin:0 0 0 0;
	top:-1px;
	left:0px;
	z-index:2;
}

#feature_module_mask
{

	/*
	background: url(http://wowgame.jp/images/top/bg.png) no-repeat;
	*/
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://wowgame.jp/images/top/bg.png');
	
	float:left;
	position:absolute;
	height:250px;
	width:655px;
	top:0px;
	left:0px;
	z-index:5;
	padding-top:36px;
}

#feature_marker
{
	background: url(http://www.wowgame.jp/images/top/none_over.gif) no-repeat;
	width:109px;
	height:38px;
	position:absolute;
	top:9px;
	left:8px;
	z-index:8;
}

#feature_module ul.feature_thumbs
{
	position:absolute;
	left:8px;
	top:9px;
	width:100px;
	
	margin: 0;
	padding: 0;
}

#feature_module ul.feature_thumbs li
{
	position:relative;16:37 2011/03/22
	padding:1px 0 0 0;
	width:100px;
	height:39px;
}


#feature_link_large
{
	position:absolute;
	top:9px;
	left:110px;
	z-index:6;
}

#feature_link_1
{
	position:absolute;
	top:9px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_link_2
{
	position:absolute;
	top:48px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_link_3
{
	position:absolute;
	top:87px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_link_4
{
	position:absolute;
	top:126px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_link_5
{
	position:absolute;
	top:165px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_link_6
{
	position:absolute;
	top:204px;
	left:8px;
	width:100px;
	height:38px;
	z-index:6;
}

#feature_image_1, #feature_image_2, #feature_image_3, #feature_image_4, #feature_image_5, #feature_image_6
{
	position:absolute;
	top:9px;
	left:110px;
	z-index:2;
}

#feature_play_now
{
	position:absolute;
	top:278px;
	left:324px;
}

#feature_module .over_button_1
{
	position: absolute;
	left:-25px;
	top:-25px;
	width:80px;
	height:60px;
}

#feature_module .over_button_2
{
	position: absolute;
	left:20px;
	top:-25px;
	width:80px;
	height:60px;
}

#feature_module .over_button_3
{
	position: absolute;
	left:65px;
	top:-25px;
	width:80px;
	height:60px;
}

#feature_module .over_button_4
{
	position: absolute;
	left:110px;
	top:-25px;
	width:80px;
	height:60px;
}

#feature_module .over_button_5
{
	position: absolute;
	left:155px;
	top:-25px;
	width:80px;
	height:60px;
}

#feature_module .left_button a
{
	position: absolute;
	background:url(http://www.candystand.com/assets/images/modules/feature_left.gif ) no-repeat;
	text-indent:-9999em;
	top:6px;
	left:-20px;
	width:20px;
	height:20px;
}

#feature_module .right_button a
{
	position: absolute;
	background:url(http://www.candystand.com/assets/images/modules/feature_right.gif ) no-repeat;
	text-indent:-9999em;
	top:6px;
	right:-20px;
	width:20px;
	height:20px;                                   
}