﻿.popupBox{position:absolute;visibility:hidden;left:0px;top:0px;z-index:200;border:1px #696969 solid;background-color:white;padding:5px;padding-left:7px;}
.popupBoxResponseMessages{margin-top:10px;margin-bottom:10px;font-size:1.1em;font-weight:bold;}
#lightboxPopupBox{position:absolute;visibility:hidden;width:210px;}
#mainSearch{margin-top:5px;margin-left:10px;}
#mainSearch h1.dollarBinTitle{font-size:1.45em;}
//label{width:7em;float:left;clear:both;line-height:20px;}
.input-box{line-height:20px;}
#leftContent{float:left;margin-left:1px;width:384px;}
#column1{padding:5px 0px 0px 0px;float:left;width:500px;background:url("/images/vert_border.png") right repeat-y;}
#column2{padding:5px 0px 0px 0px;background:url("/images/shaded_background.png") top repeat-x;float:left;width:250px;}
#column2 .innerContent{background:url("/images/vert_border.png") right repeat-y;}
.searchButton{float:left;padding-left:20px;margin-bottom:0px;}
#rightContent{margin-left:10px;float:left;width:365px;}
#currentcolorbox{width:18px;height:18px;border:1px solid #666;float:left;margin-right:6px;margin-top:4px;}
.colorTypes{clear:both;margin-bottom:10px;}
#searchTips{padding:5px 10px 0px 10px;float:left;width:800px;}
#searchTipsLeft{margin-left:10px;margin-right:10px;width:300px;float:left;}
#searchTipsRight{width:300px;float:left;}
#topSearch{width:740px;}
.colorSelector{float:left;}
#searchResultsBox{padding:10px 0px 10px 15px;}
.copyColorBox{float:left;margin-left:10px;text-align:center;}
.searchResultTop{margin:0px 0px 10px 0px;float:left;}
#commonKeywords{width:300px;float:right;}
.floatercell{height:260px;float:left;border:0px solid #080;margin:0px;width:112px;overflow:hidden;}
.tableimage{float:left;}
.paddingDiv{float:left;margin-right:10px;}
.flames{height:13px;float:left;line-height:0px;font-size:0px;}
.searchImg{border:1px solid #E0E0E0;}
.floatercell .relevanceBar{background:#ededed;margin:4px 0px 4px 0px;width:50px;text-align:left;line-height:4px;font-size:4px;}
.floatercell .relevanceBar div{background:url("/images/diag.gif");line-height:4px;font-size:4px;}
.icons{height:13px;}
#trailimageid{font-size:0.75em;position:absolute;display:none;left:0px;top:0px;width:400px;height:0px;z-index:200;}
.searchoptions{font:1em Trebuchet, Verdana, Arial, sans-serif;padding-top:3px;padding-left:9px;padding-bottom:3px;color:#494949;background-color:#F1F3F5;line-height:14px;}
.searchoptions img{padding:0px;border:0px;background-color:#7699BD;}
.searchoptions strong{font-weight:bold;}
.searchOptionHeading{cursor:pointer;}
.searchOptionGroup{padding-left:13px;display:none;}
#currentSearchColor{width:22px;height:22px;margin:0px;border:1px solid #666;cursor:pointer;z-index:2000;}
#colorSelector{background-color:#FFF;border:1px solid #ccc;float:left;position:absolute;display:none;padding:10px;z-index:20000;}
#colorSelectorContainer{background-color:#FFF;}
#colorSelectSwitchContainer{margin-bottom:4px;}
#cs_box{cursor:pointer;border:0px solid #CCC;padding:0px;float:left;width:80px;margin-top:4px;z-index:15000;}
#copyspaceContainer{border:0px solid #666;background-color:#fff;width:30px;height:30px;float:left;margin-left:10px;line-height:0px;font-size:0px;cursor:pointer;}
#copyspaceContainer2{border:1px solid #ccc;background-color:#fff;width:66px;height:78px;float:left;padding:5px;padding-right:4px;margin-top:15px;line-height:0px;font-size:0px;cursor:pointer;z-index:1500;display:none;position:absolute;}
.cs_xxx{float:left;margin-right:2px;margin-bottom:2px;border:0px solid #888;background-color:#666;width:20px;height:20px;background:url(/images/cs_grey.gif);}
.xxx{float:left;margin-right:1px;margin-bottom:1px;background-color:#666;width:20px;height:20px;}
.cs_on{float:left;margin-right:2px;margin-bottom:2px;border:0px solid #8C8;background-color:#4E4;width:20px;height:20px;background:url(/images/cs_green.gif);}
.cs_off{float:left;margin-right:2px;margin-bottom:2px;border:0px solid #C88;background-color:#E44;width:20px;height:20px;background:url(/images/cs_red.gif);}
#sensitivity1{cursor:pointer;float:left;width:10px;height:10px;margin-right:1px;background:url('/images/copyspace_1.png');}
#sensitivity2{cursor:pointer;float:left;width:10px;height:10px;margin-right:1px;background:url('/images/copyspace_2.png');}
#sensitivity3{cursor:pointer;float:left;width:10px;height:10px;margin-right:1px;background:url('/images/copyspace_3.png');}
#sensitivity4{cursor:pointer;float:left;width:10px;height:10px;margin-right:1px;background:url('/images/copyspace_4.png');}
#sensitivity5{cursor:pointer;float:left;width:10px;height:10px;margin-right:1px;background:url('/images/copyspace_5.png');}
.sensitivity_off{cursor:pointer;border:1px solid #999;}
.sensitivity_on{cursor:pointer;border:1px solid #000;}
.roundedBox{float:left;}
.tagCheck{margin:0px 5px;}
.tagCloud em{font-style:normal;font-size:1.02em;}

/*#fad a:link,a:visited,a:hover,a:active{color:#003366;cursor:hand;}*/

/* 搜尋結果商品 */
.ga:link{font-size:15px;color:#12c;text-decoration:underline;}
.ga:visited{color:#800080;text-decoration:underline;}
.ga:hover{color:#12c; text-decoration:underline;}
.ga:active{color:#800080; text-decoration:underline;}

/*搜尋結果下方連結*/
.tail {margin:0px;padding-top:3px; height:20px; line-height:20px;}
.tail a{font-size:13px;}
.tail a:link{color:gray; text-decoration:none;}
.tail a:visited{color:gray; text-decoration:none;}
.tail a:hover{color:red; text-decoration:none;}
.tail a:active{color:red; text-decoration:none;}

.tailw{vertical-align:top}

.tooltip {
	background-color:#F0F0F0;
	border:1px solid #606060;
	padding:7px 12px;
	display:none;
	color:#606060;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
}     
/* 求購訊息 */
.infoa a:link{color:#059;text-decoration:none;}
.infoa a:visited{color:#059;text-decoration:none;}
.infoa a:hover{color:#059; text-decoration:underline;}
.infoa a:active{color:#059; text-decoration:underline;}

.tsale {margin:0px}

.tsale a:link{color:#059; text-decoration:none; font-size:15px; font-weight:bold;}
.tsale a:visited{color:#059; text-decoration:none;}
.tsale a:hover{color:#059; text-decoration:underline;}
.tsale a:active{color:#059; text-decoration:underline;}

.tsale .buyproa:link{color:red; text-decoration:none; font-size:13px; font-weight:normal;line-height:22px;}
.tsale .buyproa:visited{color:red; text-decoration:none;}
.tsale .buyproa:hover{color:red; text-decoration:underline;}
.tsale .buyproa:active{color:red; text-decoration:underline;}

.tsale .saletitle:link{color:#059;font-size:12px;font-weight:normal;text-decoration:none;}
.tsale .saletitle:visited{color:#059;text-decoration:none;}
.tsale .saletitle:hover{color:#059; text-decoration:underline;}
.tsale .saletitle:active{color:#059; text-decoration:underline;}

.buynametd{height:60px;overflow:hidden; line-height:1.4em;font-size:11pt; font-family:Arial}
.buyprod{margin:0px 0px 0px 0px; width:192px; height:23px; overflow:hidden;word-wrap:break-word;}
.buyname{margin:0px 0px 0px 0px; width:192px; height:40px; overflow:hidden;word-wrap:break-word;}

.buybriefd{color:#6B6B6B; line-height:17px; margin:0px 0px 0px 0px; height:52px; overflow:hidden;text-align:left;}
.buybriefd ul{list-style-image:url("/images/dot.jpg");width:285px;margin:0;padding-left:15px;word-wrap:break-word;overflow:hidden;}

#pg{clear:both;color:#3666d4;height:2em;margin:2em 0px 2em 12px}
#pg a {color:#0000AA;}
#pg a,#pg strong{border:1px solid #ccdbe4;display:block;float:left;margin:0 5px 0 0;padding:2px 8px;text-align:center;text-decoration:none}
#pg a:hover{background:#3666d4;border-color:#2b55af;color:#fff}
#pg strong{border:0;color:#000;font-size:108%;font-weight:bold;padding:2px 6px}
#pg-next,#pg-prev{border-width:2px;margin-top:-2px;padding-bottom:1px;padding-top:1px;font:13px/1.231 arial,helvetica,clean,sans-serif;}
#pg-next{margin-left:9px}
#pg-prev{margin-right:14px}

/* 購物網站廣告區塊 */
#tbbuyad {width:300px; }
#tbbuyad div {width:100%;text-align:left}
#tbbuyad .tdl {width:35%; border-right:1px dotted #808080;padding-right:6px;line-height: 18px;}
#tbbuyad .tdr {line-height: 20px;}
#tbbuyad image {border:0}
#tbbuyad a {font-size:12px; color:#059; text-decoration:none}
#tbbuyad a:hover {font-size:12px; color:#059; text-decoration:underline}

/* 上方廣告區塊 */
#tb_ad {background-color:#E8EEFA;}
#tb_ad .tdu{padding:5px 0px 0px 10px;}
#tb_ad .tdr{padding:5px 5px 0px 0px;}
#tb_ad .tdb{padding:0px 0px 10px 10px;}
#tb_ad .fa:link{font-size: 9pt; color:#888888;text-decoration:none;}
#tb_ad .fa:visited{color:gray; text-decoration:none;}
#tb_ad .fa:hover{color:red; text-decoration:underline;}
#tb_ad .fa:active{color:red; text-decoration:underline;}

/* 廣告標題及連結 */
.adtitle{text-align:left;vertical-align:middle;border-bottom:3px solid #009ad9;height:24px;font-size:10pt;font-weight:bold;color:#333;}
.adtitle a:link{color:#333;font-size:10pt;font-weight:bold;text-decoration:none;}
.adtitle a:visited{color:#333;text-decoration:none;}
.adtitle a:hover{text-decoration:underline;}
.adtitle a:active{text-decoration:underline;}

/* 右上方中英文網站link */
.rua:link{color:#059;font-size:13px;text-decoration:none;}
.rua:visited{color:#059;text-decoration:none;}
.rua:hover{color:#059; text-decoration:underline;}
.rua:active{color:#059; text-decoration:underline;}

/* 商品連結下方目錄連結 */
.cat_a:link{color:#059;font-size:13px;text-decoration:none;}
.cat_a:visited{color:#059;text-decoration:none;}
.cat_a:hover{color:#059; text-decoration:underline;}
.cat_a:active{color:#059; text-decoration:underline;}

/*推薦商品*/
.rec-tb{width:100%;background:;}
.rec-tb td{height:20px;border-bottom:1px dashed #c0c0c0}
.rec-tb .rec-title{font-size:13px;color:#666;text-align:right;vertical-align:top;padding:0px 7px 0px 0px; border-bottom-width:0px;background:#FFF }
.rec-gname{font-size:15px;color:#333;margin-bottom:7px;}
.rec-price{font-size:11pt;color:#ff0033;font-family:verdana;font-weight:bold;}
.rec-count{font-size:15px;color:#12c;font-weight:bold}

/* 商品連結下方活動連結 */
.act_a:link{color:red;font-size:13px;text-decoration:none;}
.act_a:visited{color:red;text-decoration:none;}
.act_a:hover{color:red; text-decoration:underline;}
.act_a:active{color:red; text-decoration:underline;}

.da_b:link{color:#00F;font-size:13px;text-decoration:none;}
.da_b:visited{color:#00F;text-decoration:none;}
.da_b:hover{color:#00F;text-decoration:underline;}
.da_b:active{color:#00F;text-decoration:none;}

/*今日好康*/
#nav a, #s7 strong { font:12px Arial; font-weight:bolder;margin: 3px 2px; padding: 1px 5px; border: 1px solid #777; background: #777; text-decoration: none;color:white }
#nav a.activeSlide { background: #FFF;color:#777 }
#nav a:focus { outline: none; }
#nav { text-align: right;position: absolute; z-index:2; top:5px;right:0px}

/*Treemall贈點數*/
.showpoint_info{height:18px;display:inline;position:absolute;border:1px solid #c78319;background:#fff5a3;font-size:13px;font-family:Verdana,"新細明體",arial;line-height:18px;}
._ad{
	background-color: #efc439;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family:arial,sans-serif;
    padding: 0 2px;
    line-height: 14px;
    vertical-align: baseline;
    text-shadow:0 0 0;
}
._hot{
 background-color: #ef3939;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family:arial,sans-serif;
    padding: 0 2px;
    line-height: 14px;
    vertical-align: baseline;
    text-shadow:0 0 0;
}

.tdPrice{color:#ff0033;font-family:verdana;font-size:11pt;font-weight:bold;width:50px;text-align:right;vertical-align:middle}
.red{color:#ff0000;font-weight:normal}

#tbhead {color:#CCC;}
#tbhead a:link{color:#CCC; text-decoration:none; width:100%; height:25px; line-height:25px;}
#tbhead a:visited{color:#CCC; text-decoration:none;}
#tbhead a:hover{color:white; text-decoration:none;background: #555555;}
#tbhead a:active{color:#CCC; text-decoration:none;}
#tbhead td:hover {background-color: #555555;}
#tbhead #tdnolink:hover {background-color: #303030;}
#tbhead .tdhead{width:40px;font-family:arial;font-size:10pt;text-align:center; vertical-align:middle; padding:0px;padding-top:2px;}
#tbhead .tdheadS{width:40px;font-family:arial;font-size:10pt;text-align:center; vertical-align:middle; padding:0px;border-top:2px solid #dd4b39;width:40px;font-weight:bold;}
#tbhead .tdheadS a{color:white}
.tdhead {height:25px;}

.Breadcrumb{display:inline;padding-left:0px;}
.Breadcrumb li{list-style:none;display:inline;}
.Breadcrumb a{color:#000;text-decoration:none}

.dPinyin{font:16px arial;margin-left:10px;border-bottom:solid 1px #EEE;margin-bottom:20px;padding:15px 0px 15px 0px;}