body{margin:0;font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;}
img{border:none;}
#breaking2{width:970px;height:32px;border:0 solid #ccc;margin-bottom:0;position:static;top:auto;z-index:10000;background:#0054A5;margin-top:1px;}
#breaking{width:970px;height:32px;border:0 solid #ccc;margin-bottom:0;position:static;top:auto;z-index:10000;background:#0054A5;}
.time{width:970px;line-height:30px;border-top:#ccc 1px solid;margin-bottom:1px;background:#E8E6E7;margin-top:32px;position:relative;height:auto;display:inline-block;}
.logo{width:auto;}
#nav{height:26px;width:970px;background:#E40001;margin-bottom:1px;}
.bgline{border-top:1px solid #FF3300;margin:0 0 1px 0;}
.logo_banner{position:relative;float:right !important;z-index:1005;}
.break-head{position:absolute;z-index:9999;}
.cont-tab{margin-top:2px;width:100%;max-width:970px;margin:2px auto;}
.inn_cont{width:970px;margin:auto;}
.inn_cont .leftSection{width:640px;float:left;}
.prime-h1{width:100%;float:left;border-top:1px #FF3300 solid;padding-top:20px;}
.h1-cont{margin-top:10px;}
.prime-h1-main{width:100%;}
.prime-h1-breafs{width:308px;float:left;margin-right:10px;}
.news-brf{width:100%;margin:0;padding:0;max-width:49.5%;display:inline-block;}
.news-brf .brief_box{background-color:#fff;display:table;height:auto;padding:5px;width:100%;box-sizing:border-box;}
.news-brf .brief_box .brief_desc{float:left;margin-left:10px;text-align:left;width:200px;}
.news-brf{min-height:132px}
#newsitemTable tr td{vertical-align:top;}
.prime-h2{width:100%;float:left;border-top:1px #FF3300 solid;padding-top:20px;margin-top:10px;}
.prime-h3{padding-top:12px !important;}
.h2-cont{margin-top:10px;}
.prime-h2-main{width:100%;}
.prime-h2-breafs{width:308px;float:left;margin-right:10px;}
.prime-v1{width:100%;float:left;border-top:1px #FF3300 solid;padding-top:20px;margin-top:10px;}
.v1-cont{float:left;width:308px;margin-right:10px;}
.prime-v1-main{width:308px;float:left;margin-right:10px;}
.prime-v1-breafs{width:308px;}
.prime-v2{width:100%;border-top:1px #FF3300 solid;float:left;padding-top:20px;margin-top:10px;}
.prime-v2-main{width:308px;float:left;}
.prime-v2-breafs{width:308px;}.v2-cont{float:left;width:308px;margin-right:10px;}
.right-bar{width:308px;float:right;}.m-m{width:308px;height:30px;clear:both;margin-bottom:5px;}
.mm-thumbs{margin-bottom:5px;}.thumb_box{margin:0 4px 0 6px;padding:4px 0;width:144px;}
.mm-thumbs2{margin:3px 2px 5px 0;display:table;width:308px;background:#EBEBEB;}
.mm-thumbs2 img{float:right;}
.mm-thumbs2 .nt_title{color:#004DB3;font-size:1.2em;padding-bottom:5px;font-family:Arial,Georgia,Times New Roman,Times,serif;width:auto;font-weight:bold;text-align:left;}
.mm-thumbs2:hover{background:#C562A5;-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.mm-thumbs2:hover .nt_title,.mm-thumbs2:hover .nt_description{color:#fff;}
div.breif_div{padding:0;margin:0;height:auto;clear:both;}
div.breif_div a{height:132px;}
.inbut{color:#5E5454;font:12px Geneva, Arial, Helvetica, sans-serif;top:-23px;height:5px;float:left;margin-left:102px;position:relative;}
.inbut4{color:#5E5454;font:12px Geneva, Arial, Helvetica, sans-serif;height:5px;top:-23px;float:right;position:relative;right:35px;}
.inbut4 img{float:left;margin:0;}
.inbut1 img{float:left;margin:0;}
.inbut2 img{float:left;margin:0;}
.inbut3 img{float:left;margin:0;}
.hor_div{width:auto;display:inline-block;color:#5E5454;font:12px/14px Geneva, Arial, Helvetica, sans-serif;margin-left:4px;}
.inbut3{color:#5E5454;height:0;font:12px Geneva, Arial, Helvetica, sans-serif;top:0;float:left;margin-left:102px;position:relative;}
.inbut2{display:inline-block;color:#5E5454;font:12px Geneva, Arial, Helvetica, sans-serif;float:left;margin-left:4px;}
.tab_container{border:none;background:none;border-color:#0060AD;border-right:1px solid  #0060AD;border-style:none;border-width:medium 1px 1px;clear:both;}
div.tab_headlines div.htabs a{background:none repeat scroll 0 0 #0072BB;color:#fff;float:left;
font-weight:bold;height:22px;padding-top:8px;text-align:center;text-decoration:none;width:155px;}
div.tab_headlines div.htabs a:hover{background:none repeat scroll 0 0 #C90000;text-decoration:none;}
div.tab_headlines{float:left;width:310px;margin-bottom:20px;}
ul.headlines{margin:0;padding:0;}
ul.headlines li{list-style-type:none;margin:0;}
ul.headlines2{margin:0;padding:0;}
ul.headlines2 li{margin:5px 3px 5px 2px;font-size:1.1em;font-weight:bold;padding-left:17px;background:url(../images/listed_pointer.jpg) no-repeat left 1px;}
ul.headlines2 li a{text-decoration:none;color:#000;display:block;}
ul.headlines2 li a:hover{text-decoration:none;color:#004DB3;}
ul.headlines li img{border:medium none;}
.tabs{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #fff;border-color:#0060AD;border-right:1px solid #0060AD;border-style:none solid solid;border-width:medium 1px 1px;clear:both;}
div.tab_headlines div.htabs .select{background:none repeat scroll 0 0 #C90000;}
div.left_rows{border-top:1px solid red;display:inline-block;height:auto;padding-top:4px;width:640px;clear:both;}
div.left_rows2{border-top:1px solid red;display:inline-block;height:auto;padding-top:4px;width:640px;clear:both;}
div.left_rows div.full_width{float:left;height:auto;margin:0 0 10px;width:640px;}
div.left_rows div.column1{float:left;height:auto;margin:0 10px 0 0;width:310px;}
div.left_rows div.column2{float:right;height:auto;margin:0;width:310px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{list-style-type:none;margin:0;padding:0;}
div.today_pictures div.image_big img{border:1px solid #ccc;float:left;margin-right:10px;width:430px;}
div.today_pictures div.image_thumbs img{border:1px solid #ccc;float:left;margin:0 5px 5px 0;width:81px;}
div.today_light{background:none #E8E8E8;bordernone;float:left;height:100% !important;margin:0;width:100% !important;box-sizing:border-box;}
div.today_light h1{font:20px Verdana,Arial,Helvetica,sans-serif;margin:0 0 5px;}
div.today_light div.image_big img{border:1px solid #ccc;float:left;margin-right:5px;max-width:610px;width:100% !important;}
div.today_light div.image_thumbs img{border:1px solid #ccc;float:left;margin:2px;max-width:90px;width:100%;}
a{text-decoration:none;color:#000;}
#breaking a.br_title{display:block;float:left;line-height:31px;font-size:18px;color:#F0F5FA;margin:0 15px;}
a.moreLink:link{float:right;margin:6px 20px 0 0;}
.mattblackmenu a.selected{background:none repeat scroll 0 0 #4B4B4B;}
#navcontainer{height:23px;margin:0 auto;width:950px;}
#navcontainer ul{color:#fff;float:left;font-family:arial,helvetica,sans-serif;font-size:13px;font-weight:bold;height:23px;margin:0 auto;padding:0 0 0 45px;position:absolute;}
#navcontainer ul li{display:inline;}
#navcontainer ul li a{color:White;float:left;line-height:23px;margin:0;padding:0 8px 0 10px;text-decoration:none;}
#navcontainer ul li a:hover{background-color:#1D8E8D;color:#fff;}
#navcontainer ul li a.active{background-color:#1D8E8D;color:#fff;}
.menu_wrapper{background:none repeat scroll 0 0 #E40001;border-bottom:1px solid #fff;border-top:1px solid #fff;color:#fff;float:left;padding-top:3px;width:970px;}
#menu_wrapper2{background:none repeat scroll 0 0 #E40001;border-bottom:1px solid #fff;border-top:1px solid #fff;color:#fff;float:left;padding-top:3px;width:970px;}
.menu_wrap{background:none repeat scroll 0 0 #E40001;border-bottom:1px solid #fff;border-top:1px solid #fff;color:#fff;float:left;padding-top:3px;width:970px;}
#navcontainer{height:23px;margin:0 auto;width:970px;}
#navcontainer ul{color:#fff;float:left;font-family:arial,helvetica,sans-serif;font-size:13px;font-weight:bold;height:23px;margin:0 auto;padding:0 0 0 45px;position:absolute;}
#navcontainer ul li{display:inline;}
#navcontainer ul li a{color:White;float:left;line-height:23px;margin:0;padding:0 8px 0 10px;text-decoration:none;}
#navcontainer ul li a:hover{background-color:#000;color:#fff;}
#navcontainer ul li a.active{background-color:#000;color:#fff;}
#searchbox{float:right;margin:0;}
#searchbox input[type="text"]{}
#secondmenudiv{height:23px;}
#secondnav ul{background-color:#1D8E8D;color:#fff;float:left;font-family:arial,helvetica,sans-serif;font-size:12px;font-weight:bold;height:23px;margin:0 auto;padding-left:10px;width:960px;}
#secondnav ul li{display:inline;}
#secondnav ul li a{border-right:1px solid #fff;color:#fff;float:left;line-height:12px;margin:5px 0 0;padding:0 5px;text-decoration:none;}
#secondnav ul li a:hover{color:#000;text-decoration:none;}
#secondnav ul li a.active{color:#000;text-decoration:none;}
.home_btn{float:left;height:22px;padding-left:10px;position:absolute;width:28px;z-index:1000;}
#menu_wrapper{background:none repeat scroll 0 0 #E40001;border-top:1px solid #fff;color:#fff;float:left;padding-top:3px;width:970px;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;}  
#boxes .window{position:absolute;display:none;z-index:10006;padding:15px 0 0;top:50% !important;left:50% !important;width:75%;min-width:50px;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.window div{margin:0 !important;min-height:auto !important;background-color:transparent !important;}
#dialog img{width:100%;height:auto;}
#boxes .close{font-weight:bold;color:white;top:0;right:0;position:absolute;}
div.rotator{position:relative;}
div.rotator ul li{float:left;position:absolute;list-style:none;}
.header_blk{display:inline-block;text-align:right;}
.header_menu{width:auto;margin:0 5px;padding-right:0;float:right;text-align:left;}
.header_menu span{color:#000;}
.header_menu #fb_img, .header_menu #tw_img{float:left;margin:1px 5px 0 0;}
.header_menu #header_links{float:right;display:inline-block;}
.header_menu #header_links ul{margin:0;padding:0;}
.header_menu #header_links ul li{list-style:none;margin:0 5px 0 0;padding:0;line-height:28px;color:#000;float:left;}
.header_menu #header_links ul li.header_link_last{margin:0;}
.header_menu #header_links ul li.header_link_first{margin:0 5px;}
.header_menu #header_links ul li.header_link_one{margin:0 0 0 5px;}
.header_menu #header_links ul li a{display:inline-block;text-decoration:none;color:#000;line-height:28px;}
.header_menu #header_links ul li a:hover{text-decoration:none;color:#666;}
#clock{color:#FFF;position:relative;right:0;text-align:left;float:right;margin:2px;padding:3px 2px 0 3px;font-family:arial,helvetica,sans-serif;font-size:10px;line-height:14px;}
.footer_menu{margin:0 auto 2px;text-align:left;bottom:0;width:auto;display:inline-block;float:left;padding-top:3px;height:25px;}
.footer_menu span{color:#000;float:left;vertical-align:middle;line-height:22px;}
#audio_box{width:auto;height:auto;margin:25px 0;}
.breif_div a:hover img{	-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.prime_div a:hover img{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.prime-h1-breafs a:hover img{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.news-brf a:hover img{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.mm-thumbs a:hover img{-moz-box-shadow:1px 1px 5px #999;-webkit-box-shadow:1px 1px 5px #999;box-shadow:1px 1px 5px #999;}
.disqus-count-text{display:none;}
.mm_ad{width:308px;margin:0 0 5px 0;}
.disq_comments_div{margin:5px;clear:both;}
.disq_comments_div h3, .disq_comments_div a{line-height:40px;}
.share{display:inline-block;float:right;display:inline-block;width:440px;}
.desc_row{display:inline-block;clear:both;}
.share #iconsection{width:100%;float:right;margin-top:4px;}
.share #iconsection img{float:left;margin:3px 1px 0;}
.latest_news h3{margin-bottom:5px;}
.latest_news .lt_left{width:49%;float:left;}
.latest_news .lt_right{width:49%;float:right;}
.latest_news a.news_latest{background:url("../images/listed_pointer.jpg") no-repeat scroll left 1px transparent;font-weight:bold;list-style:disc outside none;margin:5px 3px 5px 2px;padding-left:17px;display:block;width:97%;font-size:14px;line-height:19px;}
.latest_news a.news_latest2{background:url("../images/listed_pointer.jpg") no-repeat scroll left 1px transparent;font-weight:normal;list-style:disc outside none;margin:5px 3px 5px 2px;padding-left:17px;display:block;width:97%;font-size:1.1em;line-height:23px;}
.search_heading{height:24px;line-height:24px;text-indent:10px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECECEC));background:-webkit-linear-gradient(top, #fff, #ECECEC);background:-moz-linear-gradient(top, #fff, #ECECEC);background:-ms-linear-gradient(top, #fff, #ECECEC);background:-o-linear-gradient(top, #fff, #ECECEC);font-size:13px;font-family:arial;} 
.search_link{float:right;margin-right:10px;}
.search_bottom{margin-bottom:20px !important;}
.view-img .zoom{display:none;}
.view-img .zoom{display:block;position:relative;right:0;margin:-38px 13px 0 0;float:right;border:none;}
.prime_div{padding-bottom:5px;dispaly:inline-block;}
.prime_hor{width:633px;background-color:#FFF;}
.prime_hor .prime_title,.prime_ver .prime_title{color:#0054A6;font-family:Arial,Helvetica,sans-serif;font-size:2.3em;font-weight:bold;line-height:1.2em;min-height:1px;width:100%;text-align:left;padding:2px;}
.prime_hor .prime_title:hover, .prime_ver .prime_title:hover{color:#CC0000;}
a#prime_link{text-decoration:none;}
.prime_hor .prime_desc, .prime_ver .prime_desc{width:auto;padding:5px 3px 0;text-align:left;}
.prime_ver{width:308px;background-color:#FFF;}
a#prime_link{text-decoration:none;}
.brief_box{width:288px;height:auto;padding:2px 10px 10px 0;background-color:#FFF;display:table;}
.brief_box .brief_title{color:#004DB3;font-family:Arial,Helvetica,sans-serif;font-size:1.6em;padding-bottom:5px;width:100%;font-weight:bold;text-align:left;}
.brief_box .brief_title:hover{color:#C90000;}
a#brief_link{text-decoration:none;}
.brief_box .brief_desc{text-align:left;float:left;width:183px;margin-left:10px;line-height:14px;display:inline-block;}
.prime_hor .prime_desc p,.prime_ver .prime_desc p, .brief_box .brief_desc p{margin:0;padding:0;}
.brief_box .brief_img{float:left;width:85px;}
.breif_div a:hover div.brief_box{	-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.prime_div a:hover div.prime_ver, .prime_div a:hover div.prime_hor{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.prime-h1-breafs a:hover div.brief_box{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.news-brf a:hover div.brief_box{-moz-box-shadow:1px 1px 5px #CECECE;-webkit-box-shadow:1px 1px 5px #CECECE;box-shadow:1px 1px 5px #CECECE;}
.mm-thumbs a:hover div.brief_box{-moz-box-shadow:1px 1px 5px #999;-webkit-box-shadow:1px 1px 5px #999;box-shadow:1px 1px 5px #999;}
.panel_title{color:#0054A6;font-family:Arial,Helvetica,sans-serif;font-size:1.8em;padding-left:3px;width:100%;font-weight:bold;text-align:left;line-height:normal;}
.news_en_title{color:#0054A6;font-family:Arial,Helvetica,sans-serif;font-size:25px;font-weight:bold;padding-bottom:5px;text-align:left;width:100%;}
.rel_news .lt_left{width:49%;float:left;}
.rel_news .lt_right{width:49%;float:right;}
.brief_box, .thumb_box, .prime_hor, .prime_hor{cursor:pointer;}
#content{width:100%;max-width:630px;float:left;font-family:Verdana, Arial, Helvetica, sans-serif, Tahoma;font-size:11px;text-align:justify;line-height:18px;color:#555555;padding:5px;height:auto;}
.enq{float:left;font-size:12px;width:180px;}
.enq-cont{margin:10px;}
.enq-in{padding:2px;width:250px;border:#c8d9b6 solid 1px;}
.submit_btn{background:url(../images/submit.jpg) no-repeat;width:158px;height:30px;text-indent:-999px;}
div.jMyCarousel ul{overflow:hidden;}
div.hero_block{display:inline-block;width:100%;background-color:#F3F4F9;padding:20px 0;}
div.hero_block div.img_block{width:123px;margin-right:5px;float:left;}
div.hero_block div.first{margin-left:3px;}
div.hero_block div.img_block img{width:99%;cursor:pointer;}
div.hero_block div.last{margin-right:0px;}
div.hero_block div.vote{width:99%;text-align:center;}
div.hero_block div.vote img{width:60px;cursor:pointer;}
td.footer_box{border-top:1px solid #E3E3E3;padding-top:6px;}
.gal-display{border:0 solid #999999;display:table;width:100%;}
.gal-display ul{list-style:none;margin:0;padding:0;width:100%;}
.gal-display ul li{width:100%;max-width:24.5%;display:inline-block;vertical-align:top;}
.gal-display ul li a{list-style:none;margin:5px;padding:6px;display:block;background:#F6F6F6;float:left;border:#E2E2E2 solid 1px;font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;color:#333333;}
.gal-display img{width:100%;}
.gal-tit{border-top:1px solid red;color:#000 ;float:left;font:small-caps bold 17px Arial,Verdana,Geneva,sans-serif;padding-top:10px;text-align:left;width:100%;max-width:642px;}
.gal-tit a{color:#000;}.gal-display ul li a:hover{background:#F9B7FF;border:#E2E2E2 solid 1px;}
.gal-view-in{width:100%;float:left;margin:1px 0 10px 0;}
.fourth_item{margin-right:0 !important;}
.first_item{margin-left:0 !important;}
.view-img{margin-left:5px;}.page-n{margin:0;clear:both;}
.gal-intit a{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;}
.search{float:right;padding-top:0px;margin-right:22px;}
.view-in{width:100%;float:left;border-top:1px #FF3300 solid;margin-top:1px;}
.root{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;margin:5px 0 0 0;}
.post-time{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;float:left;display:inline-block;width:200px;}
.text1{font-family:Geneva, Arial, Helvetica, sans-serif;font-weight:600;font-size:14px;color:#fff;float:left}
.nav-txt{padding-top:4px;}
.icons{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;float:right;margin-right:5px;}
.icons a{float:right;}
.icons2{font-family:Geneva, Arial, Helvetica, sans-serif;font-size:12px;float:left;}
.icons-img{float:left;}.icons-txt{float:left;margin-left:3px;}
.icons-img a{display:inline-block;}
.search-txt{font-family:Geneva, Arial, Helvetica, sans-serif;color:#fff;font-weight:bold;font-size:12px;}
.simply-scroll-container{position:relative;}
.simply-scroll-clip{position:relative;overflow:hidden;}
.simply-scroll-list{overflow:hidden;margin:0;padding:0;list-style:none;}
.simply-scroll-list li{padding:0;margin:0;list-style:none;}
.simply-scroll-list li img{}
.simply-scroll-btn{position:absolute;background-image:url(../images/buttons.png);width:42px;height:44px;z-index:3;cursor:pointer;}	
.simply-scroll-btn-left{left:6px;bottom:6px;background-position:0 -44px;}
.simply-scroll-btn-left.disabled{background-position:0 0 !important;}
.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus{background-position:0 -88px;}
.simply-scroll-btn-right{right:6px;bottom:6px;background-position:-84px -44px;}
.simply-scroll-btn-right.disabled{background-position:-84px 0 !important;}
.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus{background-position:-84px -88px;}
.simply-scroll-btn-up{right:6px;top:6px;background-position:-126px -44px;}
.simply-scroll-btn-up.disabled{background-position:-126px 0 !important;}
.simply-scroll-btn-up:hover, .simply-scroll-btn-up:focus{background-position:-126px -88px;}
.simply-scroll-btn-down{right:6px;bottom:6px;background-position:-42px -44px;}
.simply-scroll-btn-down.disabled{background-position:-42px 0 !important;}
.simply-scroll-btn-down:hover, .simply-scroll-btn-down:focus{background-position:-42px -88px;}
.simply-scroll-btn-pause{right:6px;bottom:6px;background-position:-168px -44px;}
.simply-scroll-btn-pause:hover, .simply-scroll-btn-pause:focus{background-position:-168px -88px;}
.simply-scroll-btn-pause.active{background-position:-84px -44px;}
.simply-scroll-btn-pause.active:hover, .simply-scroll-btn-pause.active:focus{background-position:-84px -88px;}
.simply-scroll{width:auto;height:auto;margin-bottom:1em;height:32px;overflow:hidden;}
.simply-scroll .simply-scroll-clip{width:970px;height:31px;}
.simply-scroll .simply-scroll-list{}
.simply-scroll .simply-scroll-list li{float:left;width:auto;z-index:9998;height:31px;}
.vert{width:340px;height:400px;margin-bottom:1.5em;}
.vert .simply-scroll-clip{width:290px;height:400px;}
.vert .simply-scroll-list li{width:290px;height:200px;}
.vert .simply-scroll-btn-up{right:0;top:0;}
.vert .simply-scroll-btn-up.disabled{}
.vert .simply-scroll-btn-up:hover{}
.vert .simply-scroll-btn-down{right:0;top:52px;}
.vert .simply-scroll-btn-down.disabled{}
.vert .simply-scroll-btn-down:hover{}
.pagination_listing{text-align:center;width:auto;margin:4px 0 0 0;}
#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a{text-align:center;background:#fff;padding:0;margin:0 auto;border:none;text-decoration:none;list-style:none;text-transform:none;text-indent:0;font-variant:normal;line-height:12px;letter-spacing:0;word-spacing:0;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:11px;text-align:center;width:auto;}
#wp_page_numbers{margin-top:10px;width:auto;background:white;margin-bottom:10px;margin:0 auto;float:right;}
#wp_page_numbers ul{width:auto;text-align:center;}
#wp_page_numbers li{float:left;display:block;margin-bottom:2px;}
#wp_page_numbers a, #wp_page_numbers span.cur_page{padding:4px 7px;margin-left:2px;margin-right:2px;margin-top:7px;display:block;color:#666666;border:1px solid #bfbfbf;background:#e6e6e6;}
#wp_page_numbers li a:hover{border-color:#01637A;background:#F40200;color:#fff;}
#wp_page_numbers li.space{padding:6px;padding-left:2px;padding-right:2px;}
#wp_page_numbers li.first_last_page{font-style:normal;}
#wp_page_numbers li.active_page a , #wp_page_numbers li.active_page span.cur_page{background:#F40200;color:#fff;}
#wp_page_numbers li.active_page a:hover, #wp_page_numbers li.active_page span.cur_page:hover {color:#fff;text-decoration:none;background:#F40200;}
#wp_page_numbers li.page_info{float:left;display:block;padding:4px;padding-left:6px;padding-right:6px;margin-right:2px;margin-top:7px;color:#666666;font-size:11px;border:1px solid #bfbfbf;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;background:#e6e6e6;}
:focus{outline:0;}
a:active{outline:none;}
ol,ul{list-style:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
#container{width:970px;margin:2px auto;position:relative;z-index:0;}
#galcontainer{width:642px;margin:0 auto;position:relative;z-index:0;}
#example{width:600px;height:350px;position:relative;}
#ribbon{position:absolute;top:-3px;left:-15px;z-index:500;}
#frame{position:relative;z-index:0;width:1000px;height:341px;top:-3px;left:-80px;}
#slides{position:relative;z-index:100;display:inline-block;float:left;width:680px;height:auto;min-height:200px;}
.slides_container{overflow:hidden;position:relative;display:none;}#slidescontainer{width:698px;}
#gal_container{width:634px;padding:3px;border:1px solid #ccc;}
#galcontainer #slides{max-width:640px;width:100%;}
#galcontainer #slides .slides_container a img{width:auto;}
#gal_imgcontainer{width:634px;}
#gal_img_container{width:634px;padding:3px;}
#slidescontainer a{width:698px;height:200px;display:block;}
#gal_container a{width:624px;height:330px;display:block;}
.slides_container a img{display:block;width:100%;}
#gal_imgcontainer a{width:100%;height:auto;display:inline-block;text-align:center;margin:0 auto;}
#gal_imgcontainer a.left_auto{left:auto !important;}
#container #slides .next{position:absolute;left:673px;width:24px;height:43px;display:block;z-index:101;top:80px;}
#container #slides .prev{position:absolute;top:80px;left:0px;width:24px;height:43px;display:block;z-index:101;}
#galcontainer #slides .next{position:absolute;right:0px;width:24px;height:43px;display:block;z-index:101;top:161px;}
#galcontainer #slides .prev{position:absolute;top:161px;left:0px;width:24px;height:43px;display:block;z-index:101;}
#gal_img_container #slides .next{position:absolute;right:0px;width:24px;height:43px;display:block;z-index:101;top:50%;}
#gal_img_container #slides .prev{position:absolute;top:50%;left:0px;width:24px;height:43px;display:block;z-index:101;}
.pagination{margin:0;width:auto;top:-23px;right:10px;height:2px;position:relative;float:right;z-index:999;}
.pagination li{float:left;margin:0 1px;list-style:none;}
.pagination li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(../images/pagination.png);background-position:0 0;float:left;overflow:hidden;height:0;}
.pagination li.current a{background-position:0 -12px;}
#footer{text-align:center;width:580px;margin-top:9px;padding:4.5px 0 18px;border-top:1px solid #dfdfdf;}
#footer p{margin:4.5px 0;font-size:1.0em;}
.photos h1{font:normal 18px Verdana, Arial, Helvetica, sans-serif;margin:0 0 10px 0;text-align:left;}
.photos{width:640px;float:left;padding-top:10px;margin-bottom:10px;border-top:1px solid red;}
.videos{width:640px;float:left;padding-top:10px;margin-bottom:10px;border-top:1px solid red;margin-top:10px;}
.test_slider{width:640px;float:left;padding-top:10px;border-top:1px solid red;}
.videos h1{font:normal 18px Verdana, Arial, Helvetica, sans-serif;margin:0 0 5px 0;text-align:left;}
ul#photo_scroller li{border:1px solid #d4d4d4;background:#f6f6f6;padding:4px;margin-right:3px;list-style-type:none;display:inline;color:#000;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
ul#secondad_scroller li{border:1px solid #d4d4d4;background:#f6f6f6;padding:6px;margin-right:5px;list-style-type:none;display:inline;color:#000;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
ul#thirdad_scroller li{border:1px solid #d4d4d4;background:#f6f6f6;padding:6px;margin-right:5px;list-style-type:none;display:inline;color:#000;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
ul#vid_scroller li{border:1px solid #d4d4d4;background:#f6f6f6;padding:6px;margin-right:5px;list-style-type:none;display:inline;color:#000;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
.latest_news_blk{width:272px;height:200px;display:inline-block;float:right;}
.latest_news_title{color:#FFF;background-color:#E40001;display:inline-block;width:45px;padding:0px 3px;line-height:11px;font-size:11px;font-family:Geneva,Arial,Helvetica,sans-serif;margin-left:2px;font-weight:bold;}
.latest_news_div{margin:0 0 3px;height:181px;overflow:hidden;width:272px;}
.latest_news_div ul{width:265px;height:auto;overflow:hidden;margin:0 auto;padding:0;}
.latest_news_blk ul li a:hover{color:#DC0000;}
.latest_news_blk ul li{background:url("../images/listed_pointer.jpg") no-repeat scroll left 1px rgba(0, 0, 0, 0);margin:0;padding-left:17px;line-height:22px;height:auto;}
.latest_news_blk ul li a{}
.desc_row p{font:inherit !important;}

/*************************************************** TODAY'S PICTURES CSS ***********************************************/
div.today_pics{border-top:1px solid red;padding-top:8px;float:left;height:auto;width:640px;background:#e3e3e3;}
div.today_pics h1{font:bold 28px Arial, Helvetica, sans-serif;margin:0 7px 7px;padding:0 0 7px 0;width:626px;color:#024db3;border-bottom:1px solid #ccc;}
div.img_big{width:412px;height:348px;border:none;float:left;margin:0 7px;background:#b6b6b6;}
div.img_thumbs{float:right;width:214px;height:356px;}
div.img_thumbs ul{margin:0;padding:0;display:inline;float:left;}
div.img_thumbs ul li{width:96px;height:78px;border:2px solid #FFF;list-style-type:none;background:#b6b6b6;margin:0 7px 7px 0;float:left;display:inline;}
div.img_thumbs ul li img{width:96px;height:78px;border:none;}

/*****************************************************END OF TODAY'S PICTURES CSS **************************************/
.htabs{	overflow:hidden;}
.htabs h2 a{font-size:0.917em;font-weight:bold;padding:7px;font-family:"museo 700","goodpro-widelight";}
.htabs li{float:left;margin-top:2px;padding:3px 2px 0 0;overflow:hidden;}
.tabs .bullet{border-right:1px solid #e00;color:#d00;font:bold 1em Georgia,"Times New Roman",Times,serif;margin:0px 4px 4px 0;padding-right:4px;clear:right;display:block;float:left;height:17px;overflow:hidden;text-align:right;width:10px;}
.bmod .bullet{background-color:#fff;margin:-9px 6px 0 -10px;padding:8px;}
.tabs{margin-top:0;overflow:hidden;text-align:left;}
.select{color:#d00;}
#TB_window{font:12px Arial, Helvetica, sans-serif;color:#333333;}
.TB_secondLine{font:10px Arial, Helvetica, sans-serif;color:#666666;}
#TB_window a:link{color:#fff;font-weight:bold;font-size:13px;}
#TB_window a:visited{color:#666666;}
#TB_window a:hover{color:#000;}
#TB_window a:active{color:#666666;}
#TB_window a:focus{color:#666666;}

/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
#TB_overlay{position:fixed;z-index:100;top:0;left:0;height:100%;width:100%;}
.TB_overlayMacFFBGHack{background:url('../images/macFFBgHack.png') repeat;}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;}
* html #TB_overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight :document.body.offsetHeight + 'px');}
#TB_window{position:fixed;background:#fff;z-index:100002;color:#000;display:none;border:4px solid #fff;text-align:left;top:50% !important;left:50% !important;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);margin:0 !important;width:100% !important;max-width:830px;height:90%;overflow:hidden;}
* html #TB_window{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_window img#TB_Image{display:block;margin:15px 0 0 15px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #666;border-left:1px solid #666;}
#TB_caption{height:25px;padding:7px 30px 10px 25px;float:left;}
#TB_closeWindow{height:25px;padding:11px 25px 10px 0;float:right;}
#TB_closeAjaxWindow{padding:5px 5px 0 0;margin:0;text-align:right;float:right;color:#4f4f4f;line-height:30px;}
#TB_ajaxWindowTitle{float:left;padding:7px 0 5px 10px;margin-bottom:1px;}
#TB_title{background-color:#e60000;height:30px;}
#TB_ajaxContent{clear:both;padding:0;overflow:auto;text-align:left;line-height:1.4em;width:100% !important;height:100% !important;background:#e8e8e8;}
#TB_ajaxContent.TB_modal{padding:15px;}
#TB_ajaxContent p{padding:5px 0px 5px 0px;}
#TB_load{position:fixed;display:none;height:13px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px;}
* html #TB_load{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#TB_HideSelect{	z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%;}
* html #TB_HideSelect{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight :document.body.offsetHeight + 'px');}
#TB_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px;}

/*Following code is copied from example2.css file in indexpage*/
#photos_scro .prev, #videos .prev{background:url('../images/left.png') center center no-repeat;width:47px;height:61px;border:0px;position:absolute;left:0;z-index:200;top:35px !important;}
#photos_scro .next, #videos .next{background:url('../images/right.png') center center no-repeat;width:47px;height:61px;border:0px;position:absolute;right:0;z-index:201;top:35px !important;}
div.jMyCarousel .prev{background:url('../images/left.png') center center no-repeat;width:47px;height:61px;border:0px;float:left;}
div.jMyCarousel .next{background:url('../images/right.png') center center no-repeat;width:40px;height:61px;float:right;border:0px;}
div.jMyCarousel{height:auto !important;}

/** Features And columns  **/
div.jMyCarousel ul{background-color:#fff;}
#thirdad_scroller ul, #thirdad_scroller{width:640px;margin:0;padding:0;}
div.jMyCarousel ul li, #thirdad_scroller ul li, #secondad_scroller ul li{margin:5px;border:1px solid #c1c1c1;line-height:0px;padding:6px;background-color:#f1f1f1;float:left;min-height:61px;width:auto;height:auto !important;font-size:12px;}
div.jMyCarousel ul li a, #thirdad_scroller ul li a,  #secondad_scroller ul li a{display:block;margin:0px;padding:0px;}
div.jMyCarousel ul li a img, #thirdad_scroller ul li a img, #secondad_scroller ul li a img{display:block;border:0px;margin-bottom:0px;padding-bottom:0px;}
#thirdad_scroller .btnprev, #secondad_scroller .btnprev{background:url('../images/left.png') center center no-repeat;width:47px;height:61px;border:0px;position:absolute;left:0;z-index:200;top:35px !important;font-size:0;}
#thirdad_scroller .btnnext, #secondad_scroller .btnnext{background:url('../images/right.png') center center no-repeat;width:47px;height:61px;border:0px;position:absolute;right:0;z-index:201;top:35px !important;font-size:0;}
.mejs-container{position:relative;background:#000;font-family:Helvetica, Arial;}
.me-plugin{position:absolute;}
.mejs-embed, .mejs-embed body{width:100%;height:100%;margin:0;padding:0;background:#000;overflow:hidden;}
.mejs-container-fullscreen{position:fixed;left:0;top:0;right:0;bottom:0;overflow:hidden;z-index:1000;}
.mejs-container-fullscreen .mejs-mediaelement,.mejs-container-fullscreen video{width:100%;height:100%;}

/* Start:LAYERS */
.mejs-background{position:absolute;top:0;left:0;}
.mejs-mediaelement{position:absolute;top:0;left:0;width:100%;height:100%;}
.mejs-poster{position:absolute;top:0;left:0;}
.mejs-poster img{border:0;padding:0;border:0;display:block;}
.mejs-overlay{position:absolute;top:0;left:0;}
.mejs-overlay-play{cursor:pointer;}
.mejs-overlay-button{position:absolute;top:50%;left:50%;width:100px;height:100px;margin:-50px 0 0 -50px;background:url("../images/bigplay.png") no-repeat;}
.mejs-overlay:hover .mejs-overlay-button{background-position:0 -100px;}
.mejs-overlay-loading{position:absolute;top:50%;left:50%;width:80px;height:80px;margin:-40px 0 0 -40px;background:#333;background:url("../images/background2.png");background:rgba(0, 0, 0, 0.9);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.9)), to(rgba(0,0,0,0.9)));background:-webkit-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));background:-moz-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));background:-o-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));background:-ms-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));background:linear-gradient(rgba(50,50,50,0.9), rgba(0,0,0,0.9));}
.mejs-overlay-loading span{display:block;width:80px;height:80px;background:transparent url("../images/loading2.gif") 50% 50% no-repeat;}

/* End:LAYERS */
/* Start:CONTROL BAR */
.mejs-container .mejs-controls{position:absolute;background:none;list-style-type:none;margin:0;padding:0;bottom:0;left:0;background:url("../images/background2.png");background:rgba(0, 0, 0, 0.7);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));background:-webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));height:30px;width:100%;}
.mejs-container .mejs-controls  div{list-style-type:none;background-image:none;display:block;float:left;margin:0;padding:0;width:26px;height:26px;font-size:11px;line-height:11px;background:0;font-family:Helvetica, Arial;border:0;}
.mejs-controls .mejs-button button{cursor:pointer;display:block;font-size:0;line-height:0;text-decoration:none;margin:7px 5px;padding:0;position:absolute;height:16px;width:16px;border:0;background:transparent url("../images/controls.png") no-repeat;}

/* :focus for accessibility */
.mejs-controls .mejs-button button:focus{outline:solid 1px yellow;}
.mejs-container .mejs-controls .mejs-time{color:#fff;display:block;height:17px;width:auto;padding:8px 3px 0 3px ;overflow:hidden;text-align:center;padding:auto 4px;}
.mejs-container .mejs-controls .mejs-time span{font-size:11px;color:#fff;line-height:12px;display:block;float:left;margin:1px 2px 0 0;width:auto;}
.mejs-controls .mejs-play button{background-position:0 0;}
.mejs-controls .mejs-pause button{background-position:0 -16px;}
.mejs-controls .mejs-stop button{background-position:-112px 0;}
.mejs-controls div.mejs-time-rail{width:200px;padding-top:5px;}
.mejs-controls .mejs-time-rail span{display:block;position:absolute;width:180px;height:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;cursor:pointer;}
.mejs-controls .mejs-time-rail .mejs-time-total{margin:5px;background:#333;background:rgba(50,50,50,0.8);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));background:-webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));background:-moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));background:-o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));background:-ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));background:linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#1E1E1E,endColorstr=#3C3C3C);}
.mejs-controls .mejs-time-rail .mejs-time-loaded{background:#3caac8;background:rgba(60,170,200,0.8);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(44,124,145,0.8)), to(rgba(78,183,212,0.8)));background:-webkit-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));background:-moz-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));background:-o-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));background:-ms-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));background:linear-gradient(rgba(44,124,145,0.8), rgba(78,183,212,0.8));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#2C7C91,endColorstr=#4EB7D4);width:0;}
.mejs-controls .mejs-time-rail .mejs-time-current{width:0;background:#fff;background:rgba(255,255,255,0.8);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));background:-webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));background:-moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));background:-o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));background:-ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));background:linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#fff,endColorstr=#C8C8C8);}
.mejs-controls .mejs-time-rail .mejs-time-handle{display:none;position:absolute;margin:0;width:10px;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;border:solid 2px #333;top:-2px;text-align:center;}
.mejs-controls .mejs-time-rail .mejs-time-float{position:absolute;display:none;background:#eee;width:36px;height:17px;border:solid 1px #333;top:-26px;margin-left:-18px;text-align:center;color:#111;}
.mejs-controls .mejs-time-rail .mejs-time-float-current{margin:2px;width:30px;display:block;text-align:center;left:0;}
.mejs-controls .mejs-time-rail .mejs-time-float-corner{position:absolute;display:block;width:0;height:0;line-height:0;border:solid 5px #eee;border-color:#eee transparent transparent transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;top:15px;left:13px;}
.mejs-controls .mejs-fullscreen-button button{background-position:-32px 0;}
.mejs-controls .mejs-unfullscreen button{background-position:-32px -16px;}
.mejs-controls .mejs-volume-button{}
.mejs-controls .mejs-mute button{background-position:-16px -16px;}
.mejs-controls .mejs-unmute button{background-position:-16px 0;}
.mejs-controls .mejs-volume-button{position:relative;}
.mejs-controls .mejs-volume-button .mejs-volume-slider{display:none;height:115px;width:25px;background:url("../images/background2.png");background:rgba(50, 50, 50, 0.7);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;top:-115px;left:0;z-index:1;position:absolute;margin:0;}
.mejs-controls .mejs-volume-button:hover{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total{position:absolute;left:11px;top:8px;width:2px;height:100px;background:#ddd;background:rgba(255, 255, 255, 0.5);margin:0;}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current{position:absolute;left:11px;top:8px;width:2px;height:100px;background:#ddd;background:rgba(255, 255, 255, 0.9);margin:0;}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle{position:absolute;left:4px;top:-3px;width:16px;height:6px;background:#ddd;background:rgba(255, 255, 255, 0.9);cursor:N-resize;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;margin:0;}
.mejs-controls .mejs-captions-button{position:relative;}
.mejs-controls .mejs-captions-button button{background-position:-48px 0;}
.mejs-controls .mejs-captions-button .mejs-captions-selector{visibility:hidden;position:absolute;bottom:26px;right:-10px;width:130px;height:100px;background:url("../images/background2.png");background:rgba(50,50,50,0.7);border:solid 1px transparent;padding:10px;overflow:hidden;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul{margin:0;padding:0;display:block;list-style-type:none !important;overflow:hidden;}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li{margin:0 0 6px 0;padding:0;list-style-type:none !important;display:block;color:#fff;overflow:hidden;}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input{clear:both;float:left;margin:3px 3px 0 5px;}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label{width:100px;float:left;padding:4px 0 0 0;line-height:15px;font-family:helvetica, arial;font-size:10px;}
.mejs-controls .mejs-captions-button .mejs-captions-translations{font-size:10px;margin:0 0 5px 0;}
.mejs-chapters{position:absolute;top:0;left:0;-xborder-right:solid 1px #fff;width:10000px;}
.mejs-chapters .mejs-chapter{position:absolute;float:left;background:#222;background:rgba(0, 0, 0, 0.7);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));background:-webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:-ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));background:linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232,endColorstr=#000);overflow:hidden;border:0;}
.mejs-chapters .mejs-chapter .mejs-chapter-block{font-size:11px;color:#fff;padding:5px;display:block;border-right:solid 1px #333;border-bottom:solid 1px #333;cursor:pointer;}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last{border-right:none;}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover{background:#666;background:rgba(102,102,102, 0.7);background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102,102,102,0.7)), to(rgba(50,50,50,0.6)));background:-webkit-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));background:-moz-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));background:-o-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));background:-ms-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));background:linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232);}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title{font-size:12px;font-weight:bold;display:block;white-space:nowrap;text-overflow:ellipsis;margin:0 0 3px 0;line-height:12px;}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan{font-size:12px;line-height:12px;margin:3px 0 4px 0;display:block;white-space:nowrap;text-overflow:ellipsis;}
.mejs-captions-layer{position:absolute;bottom:0;left:0;text-align:center;line-height:22px;font-size:12px;color:#fff;}
.mejs-captions-layer  a{color:#fff;text-decoration:underline;}
.mejs-captions-layer[lang=ar]{font-size:20px;font-weight:normal;}
.mejs-captions-position{position:absolute;width:100%;bottom:15px;left:0;}
.mejs-captions-position-hover{bottom:45px;}
.mejs-captions-text{padding:3px 5px;background:url("../images/background2.png");background:rgba(20, 20, 20, 0.8);}
.mejs-clear{clear:both;}
.me-cannotplay{}
.me-cannotplay a{color:#fff;font-weight:bold;}
.me-cannotplay span{padding:15px;display:block;}
.mejs-controls .mejs-loop-off button{background-position:-64px -16px;}
.mejs-controls .mejs-loop-on button{background-position:-64px 0;}
.mejs-controls .mejs-backlight-off button{background-position:-80px -16px;}
.mejs-controls .mejs-backlight-on button{background-position:-80px 0;}
.mejs-controls .mejs-picturecontrols-button{background-position:-96px 0;}
.mejs-contextmenu{position:absolute;width:150px;padding:10px;border-radius:4px;top:0;left:0;background:#fff;border:solid 1px #999;z-index:1001;}
.mejs-contextmenu .mejs-contextmenu-separator{height:1px;font-size:0;margin:5px 6px;background:#333;}
.mejs-contextmenu .mejs-contextmenu-item{font-family:Helvetica, Arial;font-size:12px;padding:4px 6px;cursor:pointer;color:#333;}
.mejs-contextmenu .mejs-contextmenu-item:hover{background:#2C7C91;color:#fff;}

/* **** Video Page css */
#videoSection{width:100%;max-width:640px;float:left;display:inline-block;padding:0;margin:15px 0;background:#fff;}
#videoSection .mainVid{width:100%;;display:inline-block;margin:0 0 15px;}
#videoSection .mainVid #video, #videoSection .mainVid #video iframe{width:100%;height:100%;min-height:350px;}
#videoSection .thumbs #item h3{font:bold 14px/18px Arial;color:#468ACA;text-align:left;margin:0;}
#videoSection .mainVid .video_desc_block{clear:both;}
#videoSection .mainVid  h3#feature_title{clear:both;color:#468aca;display:block;float:none !important;font:bold 24px Arial !important;margin:0;text-align:left;width:100% !important;}
#videoSection .mainVid h3 a, #videoSection .thumbs #item h3 a{color:#468ACA;text-decoration:none;font-weight:bold;}
#videoSection .mainVid h3 a:hover, #videoSection .thumbs #item h3 a:hover{color:#468ACA;text-decoration:underline;}
#videoSection .mainVid span, #videoSection .thumbs #item span{font:13px/18px Arial;color:#333;text-align:left;margin:0;}
#videoSection .mainVid p, #videoSection .thumbs p{font:12px/14px Arial;color:#333;text-align:left;margin:0;padding:10px 0;}
#videoSection .mainVid span a{font:13px/14px Arial;color:#468ACA;text-align:left;margin:0;padding:0;display:block;text-decoration:none;}
#videoSection .mainVid span a:hover{text-decoration:underline;color:#468ACA;}
#videoSection hr{width:100%;height:1px;margin:5px auto;padding:0;clear:both;border:0 none;background-color:#e2e2e2;}

/*------ thumbnail Section properties from here onwards ------*/
.main_video{width:640px;display:block;clear:both;}
.cat_videos{height:auto !important;width:610px !important;display:inline-block;float:left;}
#videoSection .thumbs, #videoSection .slide{padding:10px 0;display:inline-block;margin:0;width:100%;}
#videoSection .slide{padding:10px 0;display:inline-block;margin:0;width:100%;max-width:640px;overflow:hidden;}
#videoSection .thumbs li.item div.thumb_image{display:block;float:left;width:175px;margin-right:10px;cursor:pointer;}
#videoSection .thumbs li.item{display:inline-block;clear:both;margin:0 0 12px;width:100%;}
#videoSection .thumbs h4, #videoSection .slide h4{font:bold 16px/22px Arial;color:#333;text-align:left;margin:1px 0 0;padding-bottom:10px;word-wrap:normal;}
#videoSection .thumbs h4:hover{color:#2793E6;}
#videoSection .slide h4 a{font-weight:bold;text-decoration:none;color:#333;}
#videoSection .thumbs li.item img{width:100%;overflow:hidden;}
#videoSection .thumbs li.item .thumb_description_box{display:block;float:right;width:455px;}
#videoSection .thumbs li.item .thumb_description_box .thumb_desc_txt{width:100%;margin-top:5px;}
#videoSection .thumbs li.item .thumb_description_box h3{cursor:pointer;}
#videoSection .thumbs li.item  span{font-size:12px;color:#555555;display:inline-block;font-family:arial,sans-serif;line-height:1;margin-top:5px;}
#videoSection .thumbs ul li h3{font:bold 14px/16px Arial;color:#2793E6;text-align:left;margin:5px 0 0;}
#videoSection .thumbs ul li h3 a{color:#2793E6;}
#videoSection .thumbs ul li h3 a:hover{text-decoration:underline;}
#videoSection .slide ul{margin:0;padding:0;height:auto !important;}
#videoSection .slide ul li{display:inline-block;height:auto;margin:0 10px 0 0;text-align:left;list-style:none;width:175px;font:12px/14px Arial;color:#333;text-align:left;}
#videoSection .slide ul li a{text-decoration:none;color:#333;width:100%;}
#videoSection .slide ul li img{display:block;clear:both;margin:2px 0 6px;width:100%;height:98px;}
#videoSection .slide ul li h3{font:bold 13px/16px Arial;color:#2793E6;text-align:left;margin:0;width:100%;}
#videoSection .slide ul li a h3{color:#2793E6;text-decoration:none;font-weight:bold;display:block;}
#videoSection .slide ul li a h3:hover{color:#2793E6;text-decoration:underline;}
#videoSection .slide ul li span{font:13px/14px Arial;color:#333;text-align:left;margin:0;padding:10px 0;}
#videoSection .slide ul li span:hover{text-decoration:underline;color:#2793E6;}
#videoSection .slide ul li.last_item{}
#videoSection .slide .next{background:url("../images/next.png") no-repeat scroll center center rgba(0, 0, 0, 0);border:0;height:36px;position:absolute;right:0;top:36px !important;width:36px;z-index:201;}
#videoSection .slide .prev{background:url("../images/previous.png") no-repeat scroll center center rgba(0, 0, 0, 0);border:0;height:36px;position:absolute;left:0;top:36px !important;width:36px;z-index:201;}
#videoSection .slide .main_video .carouselPrev,#videoSection .slide .main_video .carouselNext{height:60px;margin-top:0;width:15px;position:relative;border:none;background:none;display:inline-block;font-size:11px;font-weight:bold;line-height:normal;outline:0 none;padding:0;text-decoration:none;vertical-align:middle;white-space:nowrap;top:30px;word-wrap:normal;float:right;cursor:pointer;}
#videoSection .slide .main_video .carouselPrev{left:0;float:left;}
.next-arrow{background:url("../images/yticons.png") no-repeat scroll -36px -374px rgba(0, 0, 0, 0);height:10px;opacity:0.5;width:7px;}
.prev-arrow{background:url("../images/yticons.png") no-repeat scroll -54px -338px rgba(0, 0, 0, 0);height:10px;opacity:0.5;width:7px;}

/*styles for videos panel in the front page*/
.video-panel-grid{width:630px;margin-left:7px;}
.videos_panel{width:610px !important;margin-left:13px;}
.video_details{width:154px;}
.video_details .video_panel_img{clear:both;display:block;width:97%;height:145px;}
.video_details p{clear:both;display:block;color:#004db3;text-decoration:none;font-size:20px;font-family:ToliveluguBoldFive;font-weight:normal;width:146px;margin:5px 0 5px 0;}
.video_details p:hover{color:#c90000;}
.videos_panel ul li{line-height:16px !important;margin:0;}
.video-panel-grid #videos_prev{background:url('../images/previous_videos.png') 0 0 no-repeat;width:30px;height:32px;border:0;float:left;cursor:pointer;}
.video-panel-grid #videos_next{background:url('../images/next_videos.png') 0 0 no-repeat;width:30px;height:32px;float:right;border:0;cursor:pointer;}
.more_videos_link{float:right;margin:0;padding:0;}
.video-panel-grid #videos_prev:hover, .video-panel-grid #videos_next:hover{background-position:0 -32px;cursor:pointer;}
.video_desc_block{clear:both;float:left;}

/* **** Video Page css */
#videos_grid{width:640px;float:left;display:inline-block;padding:0;margin:10px 0 0;background:#fff;}
#videos_grid .mainVid{width:100%;;display:inline-block;margin:0 0 15px;}
#videos_grid .mainVid #video{float:left;margin:0 10px 0 0;padding:0;width:368px;}
#videos_grid .thumbs #item h3{font:bold 14px/18px Arial;color:#468ACA;text-align:left;margin:0;}
#videos_grid .mainVid  h3#feature_title{display:block;float:left;width:100%;font:bold 24px Arial;color:#468ACA;text-align:left;margin:0;}
#videos_grid .mainVid h3 a, #videos_grid .thumbs #item h3 a{color:#468ACA;text-decoration:none;font-weight:bold;}
#videos_grid .mainVid h3 a:hover, #videos_grid .thumbs #item h3 a:hover{color:#468ACA;text-decoration:underline;}
#videos_grid .mainVid span, #videos_grid .thumbs #item span{font:13px/18px Arial;color:#333;text-align:left;margin:0;}
#videos_grid .mainVid p, #videos_grid .thumbs p{font:12px/14px Arial;color:#333;text-align:left;margin:0;padding:10px 0;}
#videos_grid .mainVid span a{font:13px/14px Arial;color:#468ACA;text-align:left;margin:0;padding:0;display:block;text-decoration:none;}
#videos_grid .mainVid span a:hover{text-decoration:underline;color:#468ACA;}
#videos_grid hr{width:100%;height:1px;margin:5px auto;padding:0;clear:both;border:0 none;background-color:#e2e2e2;}

/*------ thumbnail Section properties from here onwards ------*/
.main_video{width:100%;max-width:640px;display:block;clear:both;}
.grid_video_panel{height:auto !important;width:608px !important;display:inline-block;float:left;}
#videos_grid .thumbs,  #videos_grid .slide{padding:10px 0;display:inline-block;margin:0;width:100% !important;max-width:640px;}
#videos_grid .slide{padding:0;display:inline-block;margin:0;max-width:640px;width:100%;}
#videos_grid .slide h4 a{font-weight:bold;text-decoration:none;color:#333;}
#videos_grid .slide ul{margin:0;padding:0;height:auto !important;}
#videos_grid .slide ul li{display:inline-block;height:auto !important;min-height:160px;margin:0 10px 0 0;text-align:left;list-style:none;width:142px;font:12px/14px Arial;color:#333;text-align:left;}
#videos_grid .slide ul li a{text-decoration:none;color:#333;width:100%;}
#videos_grid .slide ul li img{display:block;clear:both;margin:2px 0 6px;width:100%;height:118px;}
#videos_grid .slide ul li h3{font:bold 13px/16px Arial;color:#2793E6;text-align:left;margin:0;width:100%;}
#videos_grid .slide ul li a h3{color:#2793E6;text-decoration:none;font-weight:bold;display:block;}
#videos_grid .slide ul li a h3:hover{color:#2793E6;text-decoration:underline;}
#videos_grid .slide ul li span{font:13px/14px Arial;color:#333;text-align:left;margin:0;padding:10px 0;}
#videos_grid .slide ul li span:hover{text-decoration:underline;color:#2793E6;}
#videos_grid .slide ul li.last_item{margin:0 !important;}
#videos_grid .slide .next{background:url("../images/next.png") no-repeat scroll center center rgba(0, 0, 0, 0);border:0;height:36px;position:absolute;right:0;top:36px !important;width:36px;z-index:201;}
#videos_grid .slide .prev{background:url("../images/previous.png") no-repeat scroll center center rgba(0, 0, 0, 0);border:0;height:36px;position:absolute;left:0;top:36px !important;width:36px;z-index:201;}	
#videos_grid .slide .main_video .carouselPrev,#videos_grid .slide .main_video .carouselNext{
height:60px;margin-top:0;width:15px;position:relative;border:none;background:none;display:inline-block;
font-size:11px;font-weight:bold;line-height:normal;outline:0 none;padding:0;text-decoration:none;
vertical-align:middle;white-space:nowrap;top:30px;word-wrap:normal;float:right;cursor:pointer;margin-left:1px;}
#videos_grid .slide .main_video .carouselPrev{left:0;float:left;margin-left:0;margin-right:1px}
#imgContainer{width:100%;height:100%;display:block;}
#imgContainer > img{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:200px;max-width:100%;max-height:100%;}
.popover{cursor:url('../images/zoom-in.png'), url('../images/zoom-in.cur'), default;}
.flexslider{position:relative;zoom:1;padding:0;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;}
.flexslider .slides > li:first-child{display:block;-webkit-backface-visibility:visible;}
.flex-direction-nav a{display:block;position:absolute;margin:-17px 0 0 0;width:40px;height:40px;top:50%;cursor:pointer;text-indent:-9999px;z-index:9999;}
.flex-direction-nav a:before{display:block;position:absolute;content:'';width:40px;height:40px;background:url(../images/gal-arrows.png) no-repeat;}
.flex-direction-nav a:after{display:block;position:absolute;content:'';width:0;height:0;top:35px;}
.flex-direction-nav .flex-next{right:20px;}
.flex-direction-nav .flex-prev{left:20px;}
.flex-direction-nav .flex-next:before{background-position:-40px 0;left:0;}
.flex-direction-nav .flex-prev:before{background-position:0 0;}
.flex-direction-nav .flex-next:after{right:0;}
.flex-direction-nav .flex-prev:after{left:0;}
table.mainTable{width:100%;max-width:970px;margin:0 auto 2px;}

/* //////////////////////////////////////////////////  MAIN NAVIGATION  ////////////////////////////////////////////////// */
.inner-nav{position:relative !important;top:0 !important;}
.inner-nav ul#menu li#fix-logo{display:block !important;}
.navigation{position:relative;top:0;margin:auto;text-align:center;height:auto;z-index:9000;width:100%;}
.nav{width:100%;text-align:center;margin:auto;padding:2px 0;z-index:1001;background:#e40001;height:23px;box-shadow:0 0 7px rgba(0, 0, 0, 0.15);top:0;}
.nav ul#menu{border:none;margin:0 auto;padding:0;text-align:center;display:table;width:100%;max-width:1170px;}
.nav ul#menu li{list-style:none;margin:0;padding:0;text-align:center;font:bold 13px/23px Arial, Helvetica, sans-serif;color:#fff;display:inline-block;float:left;text-transform:uppercase;}
.nav ul#menu li a{text-decoration:none;color:#fff;display:block;transition:all 0.1s ease-in;padding:0 9px;}
.nav ul#menu li.active a, a.active, .nav ul#menu li a:hover{background:#000;color:#fff;}
.nav ul#menu li:first-child a:hover{background:none;}
.nav ul#menu li img.fix-logo{margin:10px 0 0;display:inline-block;float:left;}
.nav ul#menu li#fix-logo{display:none;transition:all 1s ease;background:none;padding:0 10px;text-align:center;margin:-2px 60px 0 0;}
.nav ul#menu li ul{display:none;margin:0;padding:0;box-shadow:0 4px 4px 0 #333;}
.nav ul#menu li:hover ul{display:block;position:absolute;min-width:230px;background:#fff;}
.nav ul#menu li:hover ul li{margin:0 !important;padding:0;text-align:left;font:13px/45px 'Work Sans', sans-serif !important;color:#af2826;display:block;border-bottom:1px solid #a70000;width:100%;float:none;box-sizing:border-box;}
.nav ul#menu li:hover ul li:last-child{border:none;}
.nav ul#menu li:hover ul li a{color:#af2826;padding:0 10px;display:block;box-shadow:none !important;}
.nav ul#menu li:hover ul li a:hover{color:#fff;box-shadow:none;background:#af2826;}
.nav ul#menu li ul.horizontal{display:none;}
.nav ul#menu li:hover ul.horizontal{display:table;width:100%;max-width:1020px;margin:0 auto;padding:0;box-sizing:border-box;position:absolute;top:auto;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);background:#fff;border-top:2px #af2826 solid;}
.nav ul#menu li ul.horizontal div.main{display:inline-block;margin:1%;width:30.7%;padding:0;vertical-align:top;}
.nav ul#menu li ul.horizontal div.main h1{font:18px/36px 'Work Sans', sans-serif;color:#af2826;text-align:left;border-bottom:2px #7f7f7f solid;box-sizing:border-box;padding:0;margin:0;}
.nav ul#menu li ul.horizontal div.main h1 a{color:#af2826;}
.nav ul#menu li ul.horizontal div.main h1 a:hover{color:#333;box-shadow:none;}
.nav ul#menu li.active ul.horizontal div.main a{box-shadow:none;}
/* Second Level Sub Menu */
.nav ul#menu li ul.horizontal div.main h3{font:16px/30px 'Work Sans', sans-serif;color:#000;text-align:left;padding:15px 0 15px 58px;margin:0;text-transform:uppercase;}
.nav ul#menu li ul.horizontal div.main h3 a{color:#000;}
.nav ul#menu li ul.horizontal div.main h3 a:hover{box-shadow:none;color:#af2826;}
.nav ul#menu li ul.horizontal div.main h3.residential{background:url(../images/residential-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main h3.it-parks{background:url(../images/it-parks-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main h3.roads-highways{background:url(../images/roads-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main h3.buildings-structure{background:url(../images/buildings-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main h3.hydro{background:url(../images/hydro-power-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main h3.thermal{background:url(../images/thermal-power-icon.png) no-repeat left center;}
.nav ul#menu li ul.horizontal div.main .links{margin:0 10px;padding:0 0 10px;display:block;clear:both;width:100%;border-bottom:1px #999 solid;min-height:70px;}
.nav ul#menu li ul.horizontal div.main .links a{list-style:none;display:block;text-align:left;clear:both;margin:0;padding:0 0 0 10px;font:13px/22px 'Work Sans', sans-serif !important;color:#af2826;background:url(../images/list-dot.png) no-repeat left center;box-shadow:none;}
.nav ul#menu li ul.horizontal div.main .links a:hover{color:#333;}
.nav ul#menu li ul.horizontal div.main .links:last-child{border:none;}

/* //////////////////////////////////////////////////  MOBILE MENU  ////////////////////////////////////////////////// */
.slicknav_menu{display:none;font:bold 13px/32px Arial, Helvetica, sans-serif;color:#333;}
.slicknav_btn{position:relative;display:block;vertical-align:middle;float:left;padding:0;cursor:pointer;}
.slicknav_menu .slicknav_menutxt{display:block;line-height:1.188em;float:left;}
.slicknav_menu .slicknav_icon{float:left;margin:0.188em 0 0 0.438em;}
.slicknav_menu .slicknav_no-text{margin:0 0 0 8px;}
.slicknav_menu .slicknav_icon-bar{display:block;width:1.2em;height:0.1em;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar{margin-top:0.215em;}
.slicknav_nav{clear:both;}
.slicknav_nav ul, .slicknav_nav li{display:block;font-size:70%;clear:both;}
.slicknav_nav h1{display:block;font-size:120%;font-family:'robotoregular';}
.slicknav_nav .slicknav_arrow{font-size:0.8em;margin:0 0 0 0.4em;}
.slicknav_nav .slicknav_item{cursor:pointer;color:#AF2826;}
.slicknav_nav .slicknav_row{display:block;}
.slicknav_nav .slicknav_row:hover a{color:#fff;}
.slicknav_nav a{display:block;}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a{display:inline;}
.slicknav_menu:before, .slicknav_menu:after{content:"";display:table;}
.slicknav_menu:after{clear:both;}
.slicknav_menu{*zoom:1;}
.slicknav_menu{font-size:16px;}
.slicknav_menu .slicknav_menutxt{color:#FFF;font-weight:bold;text-shadow:0 1px 3px #000;}
.slicknav_menu .slicknav_icon-bar{background-color:#e40001;}
.slicknav_menu{background:none;padding:0;position:absolute;left:0;top:50%;margin-top:-5px;}
.slicknav_nav{color:#fff;margin:0;padding:0;}
.slicknav_nav, .slicknav_nav ul{list-style:none;overflow:hidden;background:#fff;float:left;margin:23px 0 0;padding:0;width:70%;height:100%;}
.slicknav_nav ul{padding:0;margin:0 0 0 20px;}
.slicknav_nav a{padding:5px 0;margin:0;text-decoration:none;color:#444;text-transform:uppercase;transition:all 0.25s ease;border-bottom:1px #f5f5f5 solid;}
.slicknav_nav li.active a{color:#000;}
.nav ul#menu li.dummy{display:none;}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a{padding:0;margin:0;border-bottom:none !important;}
.slicknav_nav .slicknav_row:hover{background:#4989ff;color:#fff;text-decoration:none;}
.slicknav_nav a:hover{background:#e40001;color:#fff;}
.slicknav_nav .slicknav_txtnode{margin-left:15px;}
img.mobile-logo{display:none;}
.nav ul#menu li.mobile-true{display:none;}
.mobile-search{float:right;}

/* New Styles */
#breaking{display:none !important;}
#breaking a.br_title{color:#111 !important;}
#container2{width:100%;max-width:970px;margin:auto;text-align:center;padding:0;}
#container2 #weekend_pages{width:100%;margin:auto;}
#newsitemTable{width:100%;display:block;clear:both;}
.banner_news_right_ad_mobile{display:none;}
