/* CSS para header y footer */
@import url("header.css");
@import url("footer.css");

/* CSS para portada */
#content__ppal{
    display: block;
    margin: 0 auto;
    width: 1015px;
}

#portada__1{
	position: relative;
	overflow: hidden;
}

#portada__1 > div:first-child{ 
    width: 203px; 
    float: left;
}

#portada__1 .nota__destacada{ position: relative; } 

#portada__1 .nota__destacada p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin: 0;
    background: #008a98;
    margin-top: -3px;
    padding: 5px 11px;
}

#portada__1 .borderb{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b2b2b2;
}

#content__ppal .nota__portada p{ margin: 0; }
#content__ppal .nota__portada p:first-child{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #282828;
    font-weight: 700;
}

#content__ppal .nota__portada span,
#portada__1 .firma__portada{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #008a98;
    font-weight: 500;
}

#content__ppal .nota__portada p:last-child{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #282828;
}

#portada__1 .subnota__portada{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #282828;
}

#portada__1 > div:nth-child(2){
    width: 429px;
    float: left;
    margin-left: 20px; 
	position: relative;
}

#portada__1 h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 27px;
    color: #282828;
    margin: 0;
    margin-bottom: 3px;
}

#content__ppal .sumary__portada{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #282828;
    margin-top: 5px;
}

#portada__1 #rel__portada p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #008a98;
    background: #ededed;
    margin: 0;
    padding: 3px 0;
}

#portada__1 #rel__portada ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#portada__1 #rel__portada ul li{
    margin: 5px 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #282828;
    padding-left: 20px;
}

#portada__1 #rel__portada ul li:before{
    content: "";
    width: 15px;
    height: 2px;
    background: #008a98;
    position: absolute;
    left: 0;
    top: 6px;
}

#portada__1 #padre__rel{ height: 77px; overflow: hidden; }

#portada__1 .scroll__notas{
    width: 100%; 
	overflow: hidden;
	margin-bottom: 30px;
}

#portada__1 #fotonota__portada{
    background: #ededed;
    padding: 15px 10px;
    margin-top: 15px;
	position: relative;
}

#portada__1 #fotonota__portada > div{ position: relative; }

#portada__1 #fotonota__portada h2{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 18px;
    color: #282828;
    width: 360px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

#portada__1 #fotonota__portada img{ 
    margin-left: -10px; 
    margin-bottom: 10px;
}

#portada__1 .centro__nota{
	width: 429px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b2b2b2;
	margin-top: 20px;
	display: table;
	position: relative;
}


#portada__1 .d__items{
	width: 217px;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

#portada__1 .d__items2{
	width: 100%;
	height: auto;
}

#portada__1 .d__items p:first-child,
#portada__1 .d__items2 p:first-child{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
    color: #282828;
}

#portada__1 .d__items p:last-child,
#portada__1 .d__items2 p:last-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
    color: #282828;
}

#portada__1 > div:last-child{
	float: right;
	width: 340px;
	overflow: hidden;
}

#portada__1 .pub__portada{
	padding: 20px;
	background: #ededed;
	width: 300px;
	position: relative;
	float: right;
	margin-bottom: 10px;
}

#content__ppal .row{ margin: 20px 0; }
#content__ppal .row > div:first-child{ float:left; }
#content__ppal .row > div:last-child{ float:right; }

#content__ppal .row > div{
	width: 160px;
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

#content__ppal .row > div img{
	margin-bottom: 10px;
}

#portada__2{
	margin-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
}

#portada__2 > div:first-child,
#portada__2 > div:nth-child(2){
	float: left;
	width: 324px;
}

#portada__2 > div:nth-child(2){ margin-left: 20px; }

#portada__2 .scroll__notas{ margin-top: 10px; }
#portada__2 .scroll__notas2{
	height: 179px;
	overflow: hidden;
}

#portada__2 .scroll__notas ul,
#portada__2 .scroll__notas2 ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#portada__2 .scroll__notas ul li,
#portada__2 .scroll__notas2 ul li{
	margin-bottom: 10px;
	padding-bottom: 9px;
	border-bottom: 1px solid #ccc;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #282828;
	position: relative;
}

#portada__2 .scroll__notas ul li:first-child img{ margin-bottom: 10px; }

#portada__2 .scroll__notas ul li:first-child .title__bloque{ 
	margin: 0;
	font-family: 'Merriweather', serif;
    font-weight: 700;
	font-size: 18px;
	color: #282828;
}

#portada__2 .scroll__notas ul li:first-child span{
	font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #008a98;
    font-weight: 500;
}

#portada__2 .scroll__notas ul li:first-child p:last-child{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #282828;
}

#portada__2 .scroll__notas ul .clearfix div:first-child{ 
	width: 151px; 
	float: left;
	position: relative;
}

#portada__2 .scroll__notas ul .clearfix div:last-child{ 
	width: 151px; 
	float: right;
	position: relative;
}

#portada__2 .scroll__notas ul .clearfix p{
	margin: 0;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #282828;
}

#portada__2 > div:last-child{ 
	float:right;
	width: 324px;
}

#portada__3{
}

#portada__3 > div:first-child{
	float: left;
	width: 654px;
}

#contmodulo0{ margin-top: 30px; }

#contmodulo0 #modulOpinion{
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	position: relative;
}

#contmodulo0 #carton{
	float: left;
	width: 448px;
	height: 348px;
	position: relative;
	overflow: hidden;
}

#contmodulo0 #carton #fb{
	position: absolute;
	top: 30px;
	left: 0;
	cursor: pointer;
}

#contmodulo0 #carton #tw{
	position: absolute;
	left: 0;
	top: 80px;
	cursor: pointer;
}

#contmodulo0 #columnas{
	float: right;
	width: 204px;
	min-height: 349px;
	background: #F1F2F2;
}

#contmodulo0 #ver_mas{
	position: absolute;
	left: 0;
	bottom: 0;
}

#contmodulo0 #columnas > img{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

#contmodulo0 #columnas > h2{
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 22px;
	font-weight: 700;
	font-family: 'Merriweather', serif;
}

#contmodulo0 #columnas > h3{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: #007683;
}

#contmodulo0 #columna3{
	margin-top: 10px;
}

#contmodulo0 #columna3 .renglonOpinion{
	width: 205px;
	height: auto;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	display: table;
}

#contmodulo0 #columna3 .renglonOpinion img{
	margin-left: 10px;
	border-radius: 20px;
}


#contmodulo0 #columna3 .renglonOpinion .textOpinion{
	width: 140px;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

#contmodulo0 #columna3 .renglonOpinion .textOpinion h2{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
}

#contmodulo0 #columna3 .renglonOpinion .textOpinion span{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	color: #007683;
}

#contmodulo0 #columna3 .renglonOpinion .textOpinion h3{
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	margin: 0;
	font-weight: 300;
	font-style: italic;
}

#portada__3 > div:last-child{
	float: right;
	width: 340px;
	margin-top: 50px;
}

#portada__3 #centro_pub{
	float: left; 
	border-top: 1px solid #ccc; 
	padding-top: 15px; 
	width:657px; 
	padding-bottom: 10px; 
	border-bottom: 1px solid #ccc;
	margin-top: 28px;
}

#portada__3 #centro_pub > div{
	float: left;
	width: 300px;
	height: 250px;
	margin-top: 10px;
}

#portada__3 #centro_pub > div:first-child{ margin: 10px 22px 0 21px; }

/* CSS de Modulos > 0 */
.pleca_lugar{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 9px;
	color: #a7a9ac;
	text-transform: uppercase;
	margin: 0;
}
.pleca_lugar span{ font-size: 12px !important; color: #009CAF !important; }

#contmodulo1 #div_deportes .nota_portada_left,
#contmodulo1 #div_especial .nota_portada_left,
#contmodulo2 .lista_notas .nota_portada_left,
#contmodulo5 .lista_notas .nota_portada_left{
	width: 166px;
	height: auto;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}

#contmodulo1 #div_deportes .nota_portada_left h3,
#contmodulo1 #div_especial .notas_especial h3,
#contmodulo2 .lista_notas h3,
#moduloPortada4 h3,
#contmodulo5 h3{
	font-weight: 700;
	font-size: 16px;
	color: #231f20;
	margin: 0;
}

#contmodulo1 #div_deportes span,
#contmodulo1 #div_especial span,
#contmodulo2 .notas_ppal span,
#contmodulo2 .lista_notas span,
#moduloPortada4 span,
#contmodulo5 span{
	font-weight: 500;
	font-size: 9px;
	color: #007683;
}

#contmodulo1 #div_deportes .nota_portada_left h4,
#contmodulo1 #div_deportes .left_deportes h4,
#contmodulo1 #div_especial .notas_especial h4,
#contmodulo2 .notas_ppal h4,
#contmodulo2 .lista_notas h4,
#moduloPortada4 h4,
#contmodulo5 h4{
	font-weight: 400;
	color: #231f20;
	font-size: 12px;
	margin: 0;
}

/* MODULO DEPORTES - ESPECIALES */
#moduloPortada1{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: 30px;
}

#contmodulo1{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding-top: 15px;
	border-top: 2px solid #ccc;
	margin-top: 3px;
}

#contmodulo1 .modulo_izq{
	float: left;
	width: 669px;
	padding-right: 17px;
	height: auto;
	border-right: 1px solid #ccc;
}

#contmodulo1 .modulo_der{
	float: left;
	width: 300px;
	padding-left: 18px;
	height: auto;
	border-left: 1px solid #ccc;
	margin-left: -1px;
}

#contmodulo1 .publicidad_modulo1, 
#contmodulo1 .publicidad_modulo2{
	width: 300px;
	height: 250px;
}

#contmodulo1 .publicidad_modulo2{ margin-top: 25px; }
#contmodulo1 #div_deportes{ width: 669px; height: auto;}

#contmodulo1 #div_deportes .left_deportes,
#contmodulo2 .notas_ppal,
#contmodulo5 .notas_ppal{
	float: left;
	width: 440px;
	height: auto;
	position: relative;
}

#contmodulo1 #div_deportes .r_deportes,
#contmodulo2 .lista_notas,
#contmodulo5 .lista_notas{
	float: right;
	width: 186px;
	height: auto;
	padding-left: 20px;
	border-left: 1px solid #ccc;
}

#contmodulo2 .lista_notas{ padding-left: 18px; }

#contmodulo1 #div_deportes .nota_portada_left,
#contmodulo2 .lista_notas .nota_portada_left,
#contmodulo5 .lista_notas .nota_portada_left{ width: 178px; margin-top: 10px; padding-bottom: 10px;}

#contmodulo1 #div_deportes .nota_portada_left:last-child,
#contmodulo1 #div_especial .notas_right .nota_portada_left:last-child,
#contmodulo2 .lista_notas .nota_portada_left:last-child,
#contmodulo5 .lista_notas .nota_portada_left:last-child{ border: none; padding-bottom: 0;}

#contmodulo1 #div_deportes .left_deportes h2,
#contmodulo1 #div_especial .nota_ppal h2,
#contmodulo2 .notas_ppal h2,
#moduloPortada4 h2,
#contmodulo5 h2{
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 700;
	color: #231f20;
	margin-top: 0px;
	margin-bottom: 3px;
}

#contmodulo1 #div_deportes .nota_ppalDeportes > h2, 
#contmodulo2 .notas_ppal .nota_ppalEspectaculos > h2, 
#contmodulo5 .notas_ppal .nota_ppalNYT > h2,
#contmodulo1 #div_especial .nota_ppal > h2{ margin-top: 15px; }

#moduloPortada4 h2{ margin-top: 10px; }

#contmodulo1 #div_deportes .nota_ppalDeportes,
#contmodulo2 .notas_ppal .nota_ppalEspectaculos,
#contmodulo5 .notas_ppal .nota_ppalNYT { padding-bottom: 15px; border-bottom: 1px solid #ccc; }
#contmodulo1 #div_deportes .nota_ppalDeportes2,
#contmodulo2 .notas_ppal .nota_ppalEspectaculos2,
#contmodulo5 .notas_ppal .nota_ppalNYT2{ margin-top: 15px; width: 400px; height: auto; display: table; }
#contmodulo1 #div_deportes .nota_ppalDeportes2 img,
#contmodulo2 .notas_ppal .nota_ppalEspectaculos2 img,
#contmodulo5 .notas_ppal .nota_ppalNYT2 img{ float: left }

#contmodulo1 #div_deportes .nota_ppalDeportes2 .left_notappal2,
#contmodulo2 .notas_ppal .nota_ppalEspectaculos2 .left_notappal2,
#contmodulo5 .notas_ppal .nota_ppalNYT2 .left_notappal2{
	width: 180px;
	margin-left: 20px;
	/*margin-top: 15px;
	float: left;*/
	display: table-cell;
	vertical-align: middle;
}

#contmodulo1 #div_especial{ margin-top: 55px }
#contmodulo1 #div_especial .notas_especial{
	border-top: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
#contmodulo1 #div_especial .nota_ppal{ float: left; width: 440px; height: auto; }
#contmodulo1 #div_especial .notas_right{ 
	float: right; 
	width: 194px; 
	padding-left: 13px;
	border-left: 1px solid #ccc;
}
#contmodulo1 #div_especial .publicidad1,
#contmodulo1 #div_especial .publicidad2{ float: left; }
#contmodulo1 #div_especial .publicidad2{ margin-left: 10px;}

#contmodulo1 #div_especial .publicidad_especial{
	width: 617px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

#contmodulo1 #div_especial .notas_right .nota_portada_left{ width: 181px; margin-left: 7px;}
#contmodulo1 #div_especial .notas_right .nota_portada_left:first-child{margin-top: 0px; }
#contmodulo1 .modulo_der ul li{ font-size: 10px; padding-left: 9px; }
#contmodulo1 .modulo_der ul .resaltado{ font-size: 14px; padding-top: 3px; }

#contmodulo1 .modulo_der #notas_extra{ margin-top: 50px; }

#contmodulo1 #muestra_notas {
	padding-top: 10px;
	border-top: 2px solid #ccc;
}

#contmodulo1 #muestra_notas > div{ display: none; }
#contmodulo1 #muestra_notas > div:first-child{ display: block; }

#contmodulo1 #muestra_notas .lista_notas{
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#contmodulo1 #muestra_notas .lista_notas:last-child{ border : none; }

#contmodulo1 #muestra_notas .lista_notas .number{
	float: left;
	font-size: 28px;
	font-weight: 700;
	color: #a7a9ac;
	margin-left: 5px;
}

#contmodulo1 #muestra_notas .lista_notas .number span{
	font-size: 20px;
	float: left;
	margin-top: 3px;
	margin-right: 1px;
	text-align: right;
}

#contmodulo1 #muestra_notas .lista_notas .artic_nota{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
	width: 250px;
	margin-left: 10px;
}

#contmodulo1 #muestra_notas .lista_notas:last-child > .number{ margin-left: -10px; }

/* MODULO ESPECTACULOS */
#moduloPortada2{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: 50px;
}

#moduloPortada2 #contmodulo2{
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

#moduloPortada2 #contmodulo2 .modulo_izq{
	float: left;
	width: 663px;
	height: auto;
	/*margin-right: 24px;*/
	border-right: 1px solid #ccc;
	padding-right: 21px;
}

#moduloPortada2 #contmodulo2 .modulo_der{
	float: left;
	width: 300px;
	height: auto;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	margin-left: -1px;
}

#moduloPortada2 #contmodulo2 .modulo_der .publicidad2,
#moduloPortada3 #contmodulo3 .div_der .publicidad2{ margin-top: 20px; }

#moduloPortada2 #contmodulo2 .modulo_der .notas_ppal{
	width: 430px;
	height: auto;
	float: left;
}

#moduloPortada2 #contmodulo2 .modulo_der .lista_notas{
	width: 187px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	margin-left: 20px;
}

/* MODULO SOCIALES */
#moduloPortada3{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: 30px;
}

#moduloPortada3 #contmodulo3{
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

#moduloPortada3 #contmodulo3 .div_der{
	float: right;
	width: 300px;
	height: auto;
}

#moduloPortada3 #contmodulo3 .div_izq{
	float: left;
	width: 660px;
	height: auto;
}

#moduloPortada3 #contmodulo3 .div_izq .foto_ppal{
	width: 100%;
	height: 400px;
	position: relative;
}

#moduloPortada3 #contmodulo3 .div_izq .foto_ppal img{ height: 400px !important;}

#moduloPortada3 #contmodulo3 .div_izq .pleca_social{
	width: 640px;
	height: 69px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	/*background: rgba(0,0,0,0.4);*/
	background: -webkit-gradient(linear, 100% 0%, 100% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c000000', endColorstr='#ff000000')";
	padding: 10px 0 10px 20px;
}

#moduloPortada3 #contmodulo3 .div_izq .pleca_social p{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	margin-bottom: 2px;
}

#moduloPortada3 #contmodulo3 .div_izq .pleca_social b{ color: #EA0B8C; }

#moduloPortada3 #contmodulo3 .div_izq .tercia_social{
	width: 660px;
	height: auto;
	margin-top: 15px;
}

#moduloPortada3 #contmodulo3 .div_izq .tercia_social div{
	float:left;
	width: 212px;
	height: auto;
	margin-right: 12px;
}

#moduloPortada3 #contmodulo3 .div_izq .tercia_social > div:last-child{ margin: 0; }
#moduloPortada3 #contmodulo3 .div_izq .tercia_social h3{ margin: 0; margin-top: 3px;}

/* MODULO MULTIMEDIA - VIDEO */
#moduloPortada4{
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: auto;
	margin-top: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

#moduloPortada4 .publicidad{
	width: 160px;
	height: 600px;
	float: left;
}

#moduloPortada4 .desgloza_div{
	float: left;
	width: 356px;
	height: auto;
	margin-right: 50px;
}

#moduloPortada4 .modulo4ul, #contmodulo5 .modulo5ul{
	padding-bottom: 2px;
	border-bottom: 2px solid #ccc;
}

#moduloPortada4 .padre_scroll{
	width: 100%;
	height: 575px;
	overflow: hidden;
}

#moduloPortada4 .hijo_scroll .img_multimedia{ margin-top: 15px; }
#moduloPortada4 .hijo_scroll .img_multimedia2{ float: left; margin-right: 10px;}

#moduloPortada4 .hijo_scroll .left_nota{
	width: 160px;
	height: auto;
	float: left;
	margin-left: 10px;
}

#moduloPortada4 .hijo_scroll .lista_nota{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

/* MODULO NYT */
#moduloPortada5{ 
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: 50px; 
	margin-bottom: 50px;
}

#moduloPortada5 #publicidad{
	width: 254px;
	height: 952px;
	float: left;
}

#moduloPortada5 #contmodulo5{
	float: right;
	width: 663px;
	height: auto;
	margin-top: 7px;
	margin-left: 40px;
}

#contmodulo5 .modulo5ul{
	margin-bottom: 15px;
}

#contmodulo5 #galerias{
	margin-top: 30px;
}

#contmodulo5 .encierra_gal > div{
	float: left;
	width: 324px;
	height: auto;
}

#contmodulo5 .encierra_gal > div:first-child{ margin-right: 15px; }
#contmodulo5 .encierra_gal h2{ font-size: 14px;}