/* FOOTER */
#footer{
	background: #d3d3d3;
	min-height: 162px;
	max-width: 100%;
	min-width: 1050px;
	margin-bottom: -20px;
}

#footer img{
	float: left;
	margin-top: 20px;
	margin-right: 30px;
}

#footer p{
	font-weight: 500;
	font-size: 17px;
	color: #231F20;
	margin-bottom: 0;
	margin-top: 30px;
	float: left;
	width: 675px;
}

#footer ul{
	list-style: none;
	padding-left: 0px;
	margin: 0;
	float: left;
	margin-top: 7px;
	width: 720px;
	margin-right: 3px;
}

#footer ul li{
	display: inline;
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	border-right: 1px solid #5C5C5C;
	padding-left: 2px;
	padding-right: 5px;
	color: #231F20;
}

#footer ul li:last-child{ border-right: none;}

#loader{
	position: absolute;
	top: 50%;
	left: 50%;
}

#backfff{
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	background: rgba(255,255,255,0.6);
	position: fixed;
	z-index: 9999999;
}

#backfff #loginD{
	width: 280px;
	height: 220px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -110px;
	display: block;
	background: #fff;
	border: 10px solid #ccc;
	border-radius: 10px;
}

#backfff #loginD h2{
	font-size: 20px;
	font-family: 'Merriweather', serif;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
	margin-top: 16px;
}

#backfff #loginDiv{
	display: block;
	margin: 0 auto;
	margin-top: -16px;
}

#backfff #cerrarLogin{
	width: 30px;
	margin-top: -18px;
	float: right;
	margin-right: -19px;
	cursor: pointer;
}

#footer #apps_footer{
	float: left;
}

#footer #appstore, #footer #gplay{
	margin-top: 5px;
	width: 90px;
	margin-right: 20px;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
.terralogo{ position:absolute; right:35px; bottom:3px; }
.comscorelogo { position:absolute; right:170px; bottom:0px; }

#viewMobile{
	width: 120px;
	float: left;
}