body{
	background: #fff;
	margin: 0px;
	padding: 0px;
	line-height: 1.22;
	font-size: 13px;
	min-width: 1008px;
	font-family: 'Roboto', sans-serif;
	background-size: cover;
}
img { border: none; }
a{ color: inherit !important; text-decoration: none; }
a:visited{ color: inherit !important;}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.jspDrag {
	background: #949599 !important;
	border-radius: 8px;
	width: 10px;
	margin-left: 3px !important;
}

.jspTrack{
	background: #F1F3F2 !important;
}

.mt10{ margin-top: 10px !important; }

.ul_menu { list-style: none; padding-left: 0px; margin: 0; }

.li_menu{ 
	display: inline;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	font-weight: 700;
	color: #a7a9ac;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.ul_menu .li_menu:first-child,
#contmodulo1 .modulo_der ul .resaltado{
	font-size: 16px;
	color: #58595b;
	border-top: 5px solid;
	border-right: 0;
	padding: 0;
	cursor: default;
	text-transform: uppercase;
	padding-top: 1px;
}

.no-resalta{ 
	border-top: 0px !important; 
	color: #a7a9ac !important;
	text-transform:none !important;
}

.ul_menu .li_menu:last-child{ border-right: 0;}

.ul_menu.moduloul {
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

/* HEADER */
#publicidad_header{
	height: 130px;
	background: #f1f2f2;
	max-width: 100%;
	min-width: 1050px;
}

#mdiarios{
	padding: 0;
	height: 10px;
	padding-top: 5px;
	display: block;
	margin: 0 auto;
	width: 450px;
	margin-top: 10px;
}

#mdiarios li{
	display: inline;
	padding-left: 8px;
	padding-right: 11px;
	border-right: 1px solid #99d8df;
}

#mdiarios li:last-child{
	border: none;
}

.center_div1000{
	/* agregue esta linea para que no apareciera la publicidad encima del splash */
	z-index: 100 !important;
	/*  */
	display: block;
	margin: 0 auto;
	width: 1011px;
	position: relative;
	/*height: 100%;*/
}

.portada_1LB{
	width: 728px;
	height: 90px;
	float: left;
	margin-top: 10px;
}

.portada_1MT{
	width: 267px;
	height: 90px;
	float: right;
	margin-top: 10px;
}

#header_menu{
	height: auto;
	background: #008a98;
	max-width: 100%;
	min-width: 1050px;
}

#header_menu #logo_diario{
	float: left;
	width: 258px;
	margin-top: 18px;
}

#header_menu .inicia_sesion, #header_menu .notas_sesion{
	float: right;
	width: 96px;
	height: auto;
	text-align: center;
	font-weight: 400;
	font-size: 11px;
	color: #fff;
	margin-top: 30px;
	margin-right: 15px;
	cursor: pointer;
}

#header_menu .notas_sesion .verNotas{ cursor: pointer; }

#header_menu .btn_social{
	float: right;
	width: 80px;
	height: auto;
	margin-right: 10px;
	margin-top: 24px;
}

#header_menu .btn_social img {
	width: 26px;
	height: 26px;
	margin-right: 8px;
}

#header_menu .char3{
	float: right;
	width: 138px;
	height: auto;
	margin-top: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	color: #fff;
	margin-right: 25px;
}

#header_menu .char3 > div{
	width: 46px;
	height: auto;
	float: right;
}

#header_menu .char3 img{
	width: 26px;
	height: 26px;
	margin-bottom: 1px;
}

#header_menu #ant_nav{
	width: 100%;
	height: auto;
}

#header_menu #menu_nav{
	width: 100%;
	height: auto;
	min-height: 23px;
	padding-bottom: 10px;
	float: left;
}

#header_menu #home{ float: left; margin-top: 5px; }

#header_menu #menu_nav > ul{ 
	list-style: none;
	margin-bottom: 0;
	margin-top: 7px;
	padding-left: 22px; 
}

#header_menu #menu_nav > ul li { 
	display: inline;
	padding: 0 12px 2px 12px;
	border-right: 1px solid #99d8df;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 13px;
	color: #99d8df;
	cursor: pointer;
}

#header_menu #menu_nav > ul li:last-child, 
#header_menu2 > ul li:last-child{ border: none; }

#header_menu2{ margin-bottom: 40px; }

#header_menu2 > ul{
	list-style: none;
	margin-bottom: 0;
	margin-top: 5px;
	padding-left: 0;
	float: left;
}

#header_menu2 > ul li{
	display: inline;
	padding: 0 10px 2px 10px;
	border-right: 1px solid #414042;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #414042;
	cursor: pointer;
}

#header_menu2 > ul li:first-child{ padding-left: 0px; }

#header_menu2 .diarios_divr{
	float: right;
	width: 160px;
	height: auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #6D6E71;
	margin-top: 7px;
}

#header_menu2 .select-style {
	padding: 0;
	margin: 0;
	border: 1px solid #6D6E71;
	width: 86px;
	overflow: hidden;
	background-color: #fff;
	background: #F1F2F2 url("https://diario.mx/images/diseno/flechititita.png") no-repeat 90% 50%;
	float: right;
	margin-top:-2px;
}

#header_menu2 .select-style select {
    padding: 1px;
	padding-right: 18px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: inherit;
       -moz-appearance: inherit;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

select::-ms-expand{
  display:none;
}

#header_menu2 .select-style select:focus {
    outline: none;
}

#header_fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: #008A98;
	z-index: 99;
	display: none;
	-webkit-box-shadow: 1px 0px 8px 0px rgba(0, 138, 152, 0.75);
	-moz-box-shadow:    1px 0px 8px 0px rgba(0, 138, 152, 0.75);
	box-shadow:         1px 0px 8px 0px rgba(0, 138, 152, 0.75);
	padding-bottom: 10px;
}

#header_fixed > .center_div1000{ position: relative; width: auto; max-width: 1000px; min-width: 622px; }

.mininav-left, 
.mininav-right{
	float: left;
	width: 44px;
	height: 34px;
	background: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-top: 8px;
	cursor: pointer;
}

.mininav-right{ float: right; }

.mininav-left .icon-bar, 
.mininav-right .icon-bar{
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 1px;
	background: #fff;
}

.mininav-right .icon-bar{ background: #98D7DF; }

.mininav-left .icon-bar + .icon-bar,
.mininav-right .icon-bar + .icon-bar{
	margin-top: 4px;
}

#mini_logo{
	float: left;
	margin-top: 6px;
	margin-right: 10px;
}

#header_fixed h6{
	font-size: 13px;
	font-weight: 700;
	font-family: 'Merriweather', serif;
	color: #98D7DF;
	float: left;
	margin: 0;
	margin-top: 19px;
	margin-right: 12px;
	cursor: pointer;
}

#header_fixed .inicia_sesion, #header_fixed .notas_sesion {
	float: right;
	width: 96px;
	height: auto;
	text-align: center;
	font-weight: 400;
	font-size: 11px;
	color: #fff;
	margin-top: 10px;
	margin-right: 15px;
	cursor: pointer;
}

#header_fixed .btn_social {
	float: right;
	width: 80px;
	height: auto;
	margin-right: 10px;
	margin-top: 11px;
}

#header_fixed .btn_social img {
	width: 26px;
	height: 26px;
	margin-right: 8px;
}

#header_fixed .char3 {
	float: right;
	width: 145px;
	height: auto;
	margin-top: 11px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: center;
	color: #fff;
	margin-right: 25px;
}

#header_fixed .char3 > div span{
	color: #99d8df;
}

#header_fixed .char3 > div {
	width: 47px;
	height: auto;
	float: right;
}

#header_fixed .char3 img {
	width: 26px;
	height: 26px;
	margin-bottom: 1px;
}

#minimenu{
	position: fixed;
	top: 44px;
	list-style-type: none;
	background: #E6E7E8;
	font-size: 13px;
	font-weight: 400;
	padding: 20px 20px;
	height: 100%;
	-webkit-transition: left 0.5s;
    transition: left 0.5s;
	left: -350px;
	-webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	z-index: 98;
}

#minimenu.show_menu{
	-webkit-transition: left 0.5s;
    transition: left 0.5s;
	left: 0px;
}

#minimenu li{
	padding-bottom: 7px;
	padding-top: 7px;
	border-bottom: 1px solid #D9D9D9;
}

#minimenu li:last-child, .wioutb{ border-bottom: 0px !important; }

#mas_diario{
	position: fixed;
	right: -350px;
	top: 57px;
	list-style: none;
	padding: 0;
	padding-left: 10px;
	background: #E6E7E8;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	padding: 20px 20px;
	-webkit-transition: right 0.5s;
	transition: right 0.5s;
	-webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.5);
	z-index: 98;
	height: 100%;
}

#mas_diario li{
	padding-bottom: 7px;
	padding-top: 7px;
	border-bottom: 1px solid #D9D9D9;
}

#mas_diario li:last-child{ border-bottom: 0px !important; }

#mas_diario.show_menu{
	-webkit-transition: right 0.5s;
    transition: right 0.5s;
	right: 0px;
}

#fecha, #fecha2{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	float: left;
	margin-bottom: 12px;
	width: 221px;
	margin-top: 5px;
}

#fecha > *, #fecha2 > *{ float: left; margin: 0; font-size: 12px !important; }

#fecha2{
	float: left;
	width: 224px;
	margin: 17px 0 0 -1px;
}

#header_menu #buscador{
	float: left;
	width: 230px;
	overflow: hidden;
	height: 27px;
}

#header_menu #buscador .icon_buscador{ float: left; }

#header_menu .buscador{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
	width: 173px;
	float: right;
	margin: 4px -280px 0 0;
}

#header_menu .buscador.visto{
	margin-right: 10px;
}

#header_menu .buscador:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	border: 1px solid rgba(81, 203, 238, 1);
}

#header_fixed #buscador{
	float: left;
	width: 173px;
	overflow: hidden;
	height: 27px;
	margin-top: 12px;
}

#header_fixed #buscador .icon_buscador{ float: left; }

#header_fixed .buscador{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
	width: 120px;
	float: right;
	margin: 4px -180px 0 0;
}

#header_fixed .buscador.visto{
	margin-right: 18px;
}

#header_fixed .buscador:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.icon_buscador{ cursor: pointer; }

#header_menu .char3 > div span {
  color: #99d8df;
}