@charset "UTF-8";
/* CSS Document */

.mainMenuNuevo {
	float: left;
	width: 625px;
	margin-top:5px;
}

.mainMenuNuevo ul {
	clear: both;
	list-style-type: none;
	margin-top:30px;
}

.mainMenuNuevo ul li {
	font-family: Arial, sans-serif;
    float: left;
    list-style-type: none;
    display: block;
    border-left: solid 1px #ccc;
	font-size: 12px;
    margin-right: 5px;
    padding-left: 2px;
}

.botonc24 {
	float:left;
	margin-bottom: 5px;
}

.ads970x90top {
	float:left;
	margin-left:15px;
	display:block;
	margin-bottom:10px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	.ads970x90top {
		display:none;
	}
}

@media only screen and (max-width: 767px) {
	.ads970x90top {
		display:none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.ads970x90top {
		display:none;
	}
}