@charset "utf-8";
/* 	
	CSS Document  
	March 2010
	(c) 2010 Noticias24.com
*/

* { margin:0; padding:0;}
		
body {
	font-family: Arial, "Trebuchet MS", verdana, sans-serif;
	color:#333;
	background-color:#fff;
	font-size:14px;
	}
	
	
#wrapper {
	width:1000px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	}
	
		
a:link, a:active, a:visited { 
	color:#039;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	}
	
a:hover {
	text-decoration: underline;
	}
	
ul { list-style-type: none; }	
	
h1,h2,h3,h4 {
	font-family:Arial, Trebuchet, sans-serif;
	color:#333;
	letter-spacing:-1px;
	margin-top:15px;
	margin-bottom:10px;
	}	

.content {
	overflow:hidden;
	width:1000px;
	margin:10px 0 10px 0;
	padding:30px 0 0 0;
	}	

.content a:link img, #content a:visited img, #content a:active img {
	border:0;
	}


#headerAds {
 	margin:0 auto;
	clear:both;
	padding:4px 0;
	border-bottom:solid 1px #ccc;
	background-color:#e0e0e0;
	}
	
#headerAds img, #headerAds img a {
	border:none;	
	}
	 	
#header {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	background-color:#fff;
	color:#fff;
  	margin-top:5px;
	}

div.adBlock728, .adBlock728 {
	padding:4px; 
	background-color:#f0f0f0;
	border:solid 1px #ccc;
	clear:both;
	text-align:center;
	}
	
.ad125x125 > div {
	padding:6px; 
	border:solid 1px #ccc;
	width:125px;
	height:125px;
	margin:10px 0 10px 0;
	}	

.ad300 {
	background-color:#f0f0f0; border:solid 1px #ccc; padding:10px;
	}



/* Urgente / En vivo --------------------------- */

#ultimoMinuto {
	border:solid 1px #666;
	background: url(http://noticias24.com/images/urgente_bg.gif) no-repeat top left; 
	padding:4px 0 4px 120px;
	margin:5px 0;
	}

#ultimoMinuto p, #ultimoMinuto a:link, #ultimoMinuto a:active, #ultimoMinuto a:visited, #ultimoMinuto a:hover {
	color:#c00;
	}	
	
#enVivo {
	border:solid 1px #666;
	background: url(http://noticias24.com/images/enVivo.gif) no-repeat top left; 
	padding:4px 0 4px 120px;
	margin:5px 0; 
	}
/* Nav Bar --------------------------- */

#mainMenu { 
	width:750px;
	margin-top:5px;
	padding-left:5px;
	margin-left:5px;
	float:right;
	}
	
#mainMenu ul {
	display:block;
	clear:both;
}

#mainMenu li {
	font-family: Arial, sans-serif;
	float:left;
	list-style-type:none;
	display:block; 
	border-left:solid 3px #ccc;
	}
	
#mainMenu li.selected { 
	background-color:#f0f0f0;
	color:#fff;
	}

#mainMenu li.selected a:link {
	color:#000;	
	}
	
#mainMenu ul li a:link,  #mainMenu ul li a:visited  {
	color:#333;
	display:block;
	padding-top:35px;
	padding-left:8px;
	padding-right:8px;
	font-size:13px;
	}

#mainMenu ul li a:hover, #mainMenu ul li a:active {
	color:#fff;
	background-color:#f60;
	text-decoration:none;
	}


/* Tema del Dia --------------------------- */

#temaDelDia {
	width:960px; 
	clear:both;
}

#singleHeadline {
	overflow:hidden;
}

#temaDelDia h2, #singleHeadline h1 {
	color:#ccc;
	line-height:100%;
	margin:0px;
	margin-top:5px;
	padding:20px 0; clear:both;
	 
	}	
	
#temaDelDia h2 a:link, #temaDelDia h2 a:active, #temaDelDia h2 a:visited,
#singleHeadline h1 a:link, #singleHeadline h1 a:active, #singleHeadline h1 a:visited    {
	font-family: Times, "Times New Roman", Georgia, serif;
	font-weight:normal;
	color:#333;
	text-decoration:none;
	font-size:140%; line-height:100%;
	}

#temaDelDia h2 a:hover, #singleHeadline h2 a:hover {
	color:#f60;
	text-decoration:none;
}

#temaDelDia p {
	font-family:Arial, Trebuchet MS, sans-serif;
	font-size:120%;
	padding:10px;
	}
	
#temaDelDia img, #temaDelDia a:link img, #temaDelDia a:visited img, #temaDelDia a:active img   {
	display:block;
	clear:both;
	border:solid 6px #ccc;
	padding:6px;
	margin-top:10px;
	margin-right:20px;
	float:left;
	}
	
#temaDelDia div.photo, #openingItem div.photo { float:left; margin-right:10px; }	
	
	
/* Opening Item --------------------------- */

#openingContent {
	width:600px;
	line-height:150%;
	float:left;
	padding:10px;
	font-family: Georgia;
	font-size:130%; 
}

#openingContent p {
	margin-left:15px;
}

#openingContent img, #openingContent div.photo {
	display:none;
	}

#openingContent .openingImg {
	display:block;
	float:right;
	margin-left:15px;
	margin-bottom:20px;
	border:solid 1px #ccc;
	} 
	
	

/* Main Content --------------------------- */
#mainContent {
	width:630px;
	line-height:130%;
	float:left;
	 
}

#mainContent.portada {
	width:470px;
	padding-top:0;
	margin-top:0;
}

 

#mainContent h2, #mainContent.portada h2 {
	color:#ccc;
	line-height:100%;
	font-size:22px;
	margin:0px;
	padding:0;
	padding-bottom:10px;
}

#mainContent h2 a:link, #mainContent h2 a:active, #mainContent h2 a:visited   {
	font-weight:normal;
	color:#333;
	text-decoration:none;
}
#mainContent h2 a:hover {
	color:#039;
	text-decoration:none;
}

#mainContent .postMeta, #singleHeadline .postMeta {
	font-weight:bold;  
	}

#mainContent .postMeta img, #singleHeadline .postMeta img {
	display:inline;
	margin:0px;
	border:0px;	padding:0;
	}

/* Related posts -----------------*/	
#mainContent .relatedPost {
	font-size:11px;
	}	
#mainContent .relatedPost li a:link, #mainContent .relatedPost li a:visited, #mainContent .relatedPost li a:active {
	color:#555;
	text-decoration:none;
	line-height:100%;  
	}	
#mainContent .relatedPost li a:hover {
	color:#000;
	background-color:#ffc;
	text-decoration:none;
	}	

#mainContent .relatedPost img {
	margin:0; padding:0; border:none; display:inline;
	}	

#mainContent ul.relatedPost {
	width:360px; 
	list-style-type:none;
	padding-top:10px;
	background:url(/images/also.gif) no-repeat top left;
	}
#mainContent ul.relatedPost li {
	padding:2px; margin:0;list-style-type:none;
	border-bottom:solid 1px #d0d0d0;
	margin-left:20px; 
	}
	
#mainContent .mainPost {
	margin-top:15px;
	}
	
#mainContent .mainPost a:link, #mainContent .mainPost a:visited, #mainContent .mainPost a:active {
	text-decoration:none;
	}	

#mainContent.portada img {
	margin-top:5px;
	margin-bottom:5px;
	}

#mainContent.portada .post p {
	font-size:11px;
	}	

#mainContent img, #mainContent a:link img, #mainContent a:visited img, #mainContent a:active img   {
	display:block;
	clear:both;
	border:solid 1px #333;
	margin-top:22px;
	margin-bottom:22px;
	}		

/* Posts, big Posts and small Posts  --------------------------- */

#mainContent .post {
	border-bottom:solid 4px #f60;
	padding-bottom:13px;
	
	}


#mainContent .post img.imgleft {
               float: left;
               margin: 2px 7px 0 0;
               display: inline;
			   border:solid 6px #ccc;
			   padding:4px;
	}
	
#mainContent .post img.imgright {
               float: right;
               margin: 2px 0 7px 0;
               display: inline;
			   border:solid 6px #ccc;
			   padding:4px;
	}	
	
#mainContent .post code {
	font-family: monospace;
	display:block;
	padding:10px;
	padding-left:25px;
	}	
	
#mainContent .post pre {
	font-family: monospace;
	display:block;
	margin-top:16px;
	margin-bottom:16px;
	padding:10px;
	padding-left:25px;
	font-size:90%; border:solid 1px #ccc;
	}	
	
#mainContent .post blockquote {
	padding:0 0 0 30px;
	margin: 40px 0;
	margin-left:100px;
	 border-left: dashed 1px #ccc; 
	border-bottom:solid 3px #fff; 
	font-size:95%; line-height:160%;
	clear:both;
	}

#mainContent .post ul {
	padding:20px;
	list-style-type:circle;
	}	

#mainContent .post li{
	padding:6px;
	}

#mainContent .smallPost {
	width:260px;
	float:left;
	border-left:solid 1px #f0f0f0;
	}	

#mainContent .smallPost .theContent img {
	display:none;
	}	

#mainContent .smallPost .theContent object,  #mainContent .smallPost .theContent embed {
	display:none;
	}
	
#mainContent .bigPost h2, #mainContent .inner h2 {	
	font-size:26px;
	color:#666;
	}	

#mainContent .smallPost h2 {	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#666;
	}
		
#mainContent.portada .postTime {
	float:left;
	color:#f60;
	width:100%;
	border-top:solid 1px #f60;
	font-size:11px;
	font-weight:bold;	
	}

.postGroup {	
	clear:both;
	margin-bottom:10px;
	}

#mainContent.portada .post {
	float:left;
	line-height:140%;
	overflow:hidden;
	width:460px;
	border-bottom:none;
	font-size:12px;
	}

.post .theContent h3, .post .theContent p h3 {
	border-right: solid 5px #f60;
	border-top: solid 1px #000;
	color:#000;
	margin:40px 0 10px 0;
	padding:8px 0;
	font-size:18px;
	clear:both;
	}
		
.post p {
	margin-bottom:15px;
	text-align:justify;
	}	

.post strong {
	font-size:105%;
	color:#333;
	}
.inner p {
	
	}
	
	
span.theCat, .theCat a:link, .theCat a:visited, .theCat a:active {
	color:#333;
	text-transform:uppercase;
	font-size:11px;
	line-height:80%;
	font-weight:bold;
	float:left;
	}	
	
	
/* Secondary Content --------------------------- */
#secContent {
	width:180px;
	float:left;
	font-size:10px;
	margin:0 0 0 15px;
	}

#secContent a:link, #secContent a:active, #secContent a:visited, #secContent a:hover {
	display:block;
	width:170px;
	color:#333;
	font-size:12px;
	font-weight:bold;
	overflow:hidden;
	clip:auto;
	text-decoration:none;
	}
	
#secContent h3, #secContent h3 a:link, #secContent h3 a:visited, #secContent h3 a:active {
	width:170px;
	color:#333;
	text-transform:uppercase; 
	font-size:13px; padding:0; display:none;
}

#secContent .sidePost {
	padding:0 10px 20px 10px;
	float:left;	
}
#secContent .sidePost p {
	width:170px;
}

#secContent .sidePost img {
	margin:0;
	padding:0;
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
}

/* Tertiary Content --------------------------- */
#terContent {
	width:300px;
	line-height:130%;
	float:right;
	font-size:12px;
	padding:0;
	background-color:#fff;
	}

.listBlogs {
		
	}
.listBlogs a:link, .listBlogs a:active, .listBlogs a:visited {
	text-decoration:none;
	}
	
/*---------------- Sidebar --------------------*/			

#sidebar {
width:330px; 
float:right; 
}
#sidebar h2 {
	font-size:20px;
	border-bottom: solid 4px #ccc;
	margin-bottom:10px;
}

#sidebar div.sideItem {
	font-size:12px;
	margin:20px 0 10px 0;
	padding:5px;
	border-bottom:solid 1px #ccc;
}	

#sidebar div.sideItem img{
 	border:none;
	padding:0px;
	margin:0px;
	}	

#sidebar p.tagCloud a:link, #sidebar p.tagCloud a:active, #sidebar p.tagCloud a:visited{
	font-family:Georgia, Trebuchet, sans-serif;
	font-weight:normal;
	color:#666;
	line-height:120%;
	}
	
#sidebar #listInfografias {
	width:300px;	
	margin:10px 0 10px 0;
	}	
	
#sidebar #listInfografias ul {
	list-style-type:none;
	}
	
#sidebar #listInfografias   li {
	list-style-type:none;
	padding:5px;
	border-bottom:solid 1px #d0d0d0;
	display:block;
	}		

#sidebar #listInfografias ul li img {
	float:left;
	margin:0 0 0 8px;
	display:block;
	border:solid 1px #ccc;
	padding:2px;
	}
	
#sidebar #listInfografias li h2  {
	border-bottom:solid 1px #fff;
	line-height:110%;
	font-weight:normal;
	font-size:18px;
}




/* Indicadores --------------------------- */	
#listIndicadores {
 
	}

#listIndicadores h2 {
	padding:0; margin:0; 
	}
#listIndicadores ul {
	list-style-type:none;
	display:block;
	padding-top:5px;
	padding-left:40px;
	float:left;
	}
	
#listIndicadores li {
	list-style-type:none;
	width:250px;
	border-bottom:solid 1px #d0d0d0;
	padding-bottom:6px;
	/*background: url('images/indicador-bg.gif') bottom left no-repeat;*/
	text-align:right;
	}	
#listIndicadores li h3 {
	margin:0px;
	padding:0px;
	text-align:right;
	padding-right:10px;line-height:80%; display:inline;
	}	
#listIndicadores li h5 {
	 display:inline;
}	
#listIndicadores li small {
	padding:0px;
	padding-right:10px;
	margin:0px;
	font-size:70%; display:block;
}
/* Home News --------------------------- */		
#homeNews {
	border-top:solid 15px #333; width:630px; margin:0; float:left;
	padding:20px 0;
	}
	
#homeNews .post {
	border-bottom:dotted 1px #666; margin:0 0 10px 0; padding:0 0 10px 0; 	
	}	

#homeNews .imgContainer {
	max-height:200px; overflow:hidden; 
	}	
	
#homeNews img {
	margin:0;
	width:300px;
	}
		
#homeNews .photo {
	border:none; 
	}	
#homeNews .photo .caption {
	display:none;
	}	

#homeNews .theCat { font-size:10px; color:#f60; margin:3px 0 0 0; }

#homeNews h2 { padding:0; margin:0; }	

#homeNews h2 a:link, #homeNews h2 a:visited {
	color:#232027;  padding-top:5px;
	font-family: Times, Georgia, serif;	 
	display:block; clear:both;
	font-weight:normal; font-size:26px; line-height:95%; text-align:left;	
	}
#homeNews h2 a:hover, #homeNews h2 a:active {
	 text-decoration:none;
	 color:#000;
	}
	
#homeNews .postMeta { font-size:10px; padding-top:5px; } 	 

#homeNews .post p { line-height:140%; font-size:12px; margin: 6px 0; text-align:justify; }

#homeNews .leftColumn {
	float:left; width:300px; padding-bottom:20px;
}

#homeNews .rightColumn {
	float:right; width:300px; padding-bottom:20px;
}

#homeNews .separator {
	clear:both;
	border-top: solid #f60 2px;
	padding:10px 0;
	}
 
 
.theCat, .theCat a:link, .theCat a:visited {
	color:#666;
	text-transform:uppercase;
	font-family:Arial, Trebuchet, sans-serif;
	font-size:11px;
	line-height:80%;
	}	
	
.theCatTag, .theCatTag a:link, .theCatTag a:visited {
	color:#fff;
	background-color:#f60;
	text-transform:uppercase;
	font-family:Arial, Trebuchet, sans-serif;
	font-size:13px;
	line-height:80%;
	float:left; margin:0;
	padding:4px 25px 4px 4px;
	clear:right;
	}
	
.theMetaTag {
	color:#888;
	font-family:Arial, Trebuchet, sans-serif;
	font-size:11px;
	line-height:80%;
	float:right;
	padding:4px;
	}	
	 
/* Gallery --------------------------- */	

div.gallery {
	border-left:solid 6px #e0e0e0;
	border-right:solid 6px #e0e0e0;
	clear:both;
	width:70%;
	text-align:center;
	margin:15px auto 15px auto;
}

#mainContent .post .theContent .gallery img {
	padding:0;
	border:none;
	display:inline;
	margin:5px;
}



/* Video Box --------------------------- */

div.video {
	float:left;  
	width:320px;
	margin-right:0 0 20px 15px;  
	}
	
 

#mainContent.portada .post div.video div.caption {
	display:none;  
}	

#mainContent.portada .post div.video {
	float:none; clear:both;
}	

#mainContent.portada .post div.photo  {
	margin:0; display:none;
	}
	
#mainContent.portada .post div.photo .caption {
	display:none;
	}

div.video .caption, div.photo .caption {
	color:#333;
	display:block;
	padding:5px 0;
	border-top:solid 3px #f60;
	margin:5px 0;
	font-size:12px;
	font-family:Georgia, sans-serif;
	line-height:110%;
	}	

div.video .caption img, div.photo .caption img{
	border:solid 1px #333;
	
 	}
div.fraseI {
	color:#f60; width:200px; float:left;  padding:20px 10px 20px 0; font-size:130%; line-height:130%; margin:5px 20px 10px 0; border-bottom:solid 4px #000;
	border-top:solid 4px #000; 
	letter-spacing:-1px; font-weight:bold;	}

div.fraseD { 
	color:#f60; 
	width:200px; float:right;  
	padding:20px 0 20px 10px;  
	font-size:130%; 
	line-height:130%;  
	margin:5px 0 15px 20px;
	border-bottom:solid 4px #000;  border-top:solid 4px #000; 
	letter-spacing:-1px;font-weight:bold; text-align:right;	
}

 
	
div.photo  {
	width:320px;
    margin:0 0 20px 0;
    padding:3px;
    }


#mainContent div.photo img, #mainContent div.photo img { border:none; padding:0; margin:0; display:block; }

 
div.izquierda {
	float:left;
	margin:0 0 0 15px;
	}

div.derecha {
	float:right;
	margin-left:15px;
	margin-right:0;
	}


/*Comments --------------------------- */

#commentsContent {
clear:both; padding:25px 0; }

#commentsContent h3 {color: #000;}


#commentsContent form { }

#commentsContent input, input {font-size:18px;border:none;border:solid 1px #f60; margin:5px;margin-left:0;}

#commentsContent input.submit, input.submit, input#searchsubmit {
	font-size:16px;padding:4px; border:solid 2px #000;
	background:url(/images/fade-butt.png) repeat-x top left;margin-top:10px;}
	
#commentsContent textarea {font-size:14px;border:solid 1px #f60;margin:5px; margin-left:0;}
 
 #commentsContent label {padding-bottom:6px;text-transform:uppercase;}
 
ol#commentlist { list-style:none; margin:0; font-size:90%;}
 
ol#commentlist li {padding-bottom:10px; }

ol#commentlist li.odd { background-color:#fff;}
   
   
ol#commentlist div.replyThis {font-size:80%;text-align:right;}
   
ol#commentlist div.replyThis a:link { color:#666;}

ol#commentlist li div.commenttext
{border-left:solid 3px #999;
background-color:#f0f0f0; word-wrap: break-word; overflow:hidden; min-height:90px; margin-bottom:2px; padding:10px;}

ol#commentlist ul.children {
	margin-bottom:20px;
}

.ol#commentlist ul.children ul.children {
	margin-bottom:20px;
}

.ol#commentlist ul.children ul.children { margin-bottom:20px; border:none; }


.commenttext p { margin:0 30px 0 0; padding:0; color:#333; }

.commenttext p a { display:none; }

ol#commentlist li.depth-1  { }

ol#commentlist li.depth-1 div.commenttext { }

ol#commentlist li.depth-2 { margin-left:50px; list-style-type:none; }

ol#commentlist li.depth-2 div.commenttext { background-color:#fffae7; }

ol#commentlist li.depth-3 { margin-left:100px;list-style-type:none;} 

ol#commentlist li.depth-3 .commenttext {background-color:#fffcf0; font-weight:95%;.}
  
ol#commentlist li div.commentname { 
	background:#fff url('/images/commentarrow.gif') no-repeat top right; 
	overflow:hidden;
	color:#666; width:100px; font-size:90%; float:left; }
  
.commentname a { color:#333; text-decoration:none;.}
  
#commentlist img { display:inline; margin:0; padding:0; border:0;}
  
* html .commenttext { height:90px; overflow:visible; }
  
  
.commentp { padding:5px; }
  
.commentn { font-size:26px; font-weight:bold; padding:20px 10px 0px 20px; float:left; } 
  
  
 #commentblock ol li { margin-bottom:20px; } 

#commentblock {margin-left:4px;}

#commentsform p { margin-bottom:5px;.margin- top:5px;}

ul.warning li { padding:3px 0; list-style-type:disc; list-style-position:inside; }
 

/*-------------- Color Sidebar ----------*/

div .recentPosts {
	margin:0;
	padding:0;
}
#sidebar div.recentPosts h2 {
	font-size:16px;
	color:#039;
	width: 100%;
	min-height:25px;
	border-bottom: 2px solid #fff;
}
#sidebar div.recentPosts ul {
	list-style: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
	width:300px;
	background: url(/images/bottomsection.gif) #e9e9e9 bottom left no-repeat;
	padding-bottom:20px;
	margin-bottom:20px;
}

#sidebar div.recentPosts li {
	margin:0;
	padding:0;
	display:block;
	border:solid 1px #e9e9e9;
	}
#sidebar div.recentPosts li a:link, #sidebar div.recentPosts li a:visited, #sidebar div.recentPosts li a:active {
	color: #039;
	display: block;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	margin:0;
	padding: 5px 10px 3px 30px;
	background: url(/images/bullet.gif) 15px 7px no-repeat;
}

#sidebar div.recentPosts li p {
	width:200px;
	}

#sidebar div.recentPosts ul a:hover {
	color:#fff;
	background-color:#706bb2;
}


/* Tables --------------------------- */

table.tablaSimple {
	border:solid 1px #ccc;
	padding:6px;
	margin-left:auto;
	margin-right:auto;
}

table.tablaSimple th {
	text-align:left;

	font-size:14px;
	color:#fff;
	background-color:#706bb2;
}
table.tablaSimple td {
	border-bottom:solid 1px #ccc;
	padding-top:6px;
}
	
.clearer {
	clear:both;
	}	

hr {
border:0;
background-color: #d0d0d0;
 color:#d0d0d0;
 height:1px;
}

/* page nav --------------------------- */
#pageNav ul {
	list-style-type:none;
	}

#pageNav li {
	font-size:16px;
	border:solid 1px #ccc;
	float:left;
	margin:4px;
	}

#pageNav .currentPage {
	font-size:19px;
	padding:4px;
	border:none;
	float:left;
	margin:4px;
	}
	
#pageNav li a:link, #pageNav li a:active, #pageNav li a:visited {
	display:block;
	padding:4px;
	}

#pageNav li a:hover {
	color:#fff;
	background-color:#706bb2;
	}	
	
	

/* Indicadores tabla --------------------------- */
table#indicadoresTabla {
	color:#666;
	font-size:14px;
	}
table#indicadoresTabla tr {
	border-bottom:solid 1px #d0d0d0;
	}
.alt {
	background-color:#e2ebff;
	}
table#indicadoresTabla td {
	padding-top:5px;
	padding-bottom:3px;
	}
	
/* Portada lists---------------------------*/

div .postList {
	margin:0;
	padding:0;
	padding-bottom:20px;
}

div .postList a:link, div .postList a:visited, div .postList a:active, div .postList a:hover  {
	font-size:14px;
	}
#terContent div.postList h2 {
	font-size:18px;
	padding:5px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, sans-serif;
	background-color:#333;
	border-bottom:solid 3px #ccc;
}
#terContent div.postList ul {
	list-style: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
	padding-bottom:4px;
	width:300px;
}

#terContent div.postList li {
	margin:0;
	padding:0;
	display:block;
	border-bottom:solid 1px #ccc;
	}
#terContent div.postList li a:link, #terContent div.postList li a:visited, #terContent div.postList li a:active {
	color: #666;
	display: block;
	text-decoration: none;
	margin:0;
	font-size:12px;
	padding: 5px 10px 3px 10px;
}

#terContent div.postList li p {
	width:200px;
	}

#terContent div.postList ul a:hover {
	color:#333;
	background-color:#d9dfec;
}	

/* PollDaddy Polls -----------------------------------------*/


.pds-box
{
  background: #FFFFFF url('http://www.noticias24.com/images/polld_encubg.gif') no-repeat top left;
  border:none;
  margin: 15px 0px 0px 0px; 
  padding: 10px 0 15px 0; 
  width:300px;
  display:block;
  font-family:Arial, sans-serif;
}

.pds-box-inner {
  padding:15px;
}

.pds-box-top
{
	padding-top:0;
}
.pds-radiobutton { 
  border:none;
}
.pds-question-top
{
  font-weight:normal;
  color: #333;
  border: 0px none #000000;
  background-color:transparent;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

.pds-answer
{
  font-size:11px;
  line-height:140%;
  color: #666;
  padding:0 0 0 15px;
  background-color:transparent;
  border: 0px none #FFFFFF;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;
}

.pds-question-outer {
  border:none; padding:0; margin:0;
}
.pds-textfield
{
  font: normal normal normal 12px/12px Georgia;
  color: #333333;
  
  background-color: #FFFFFF;
  border: 1px solid #999999; 
  margin: 1px 1px 15px 1px;padding: 1px 5px 1px 1px;width: 150px;
}

.pds-answer-feedback
{
  background-color: Transparent;
  border: 0px solid #999999;padding: 1px 1px 1px 1px;margin: 0px 0px 0px 0px;
}

.pds-answer-feedback-bar
{
  background:  url('http://www.noticias24.com/images/resultbg.gif') repeat-x left top;
  border: 0px solid #ff0033;padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px; !important
}

.pds-totalvotes-inner
{
  font: normal normal bold 14px/20px Verdana;
  color: #606060;
  
  background-color: Transparent;
  border: 1px none #c0c0c0;padding: 2px 2px 2px 2px;
}


.pds-vote {
color:#C3C4C7;
font-size:9px;
line-height:17px;
padding:15px 0px 10px;
}

.pds-vote a {
color: #555555;
font-size:10px;
padding:5px;
text-decoration:none;
}

.pds-votebutton-outer .pds-votebutton {
	display:block;
	float:right:
	border:solid 1px #000;
	}
input.pds-votebutton, a.pds-votebutton   {
float:right;
height:30px;
margin:0px 0px 10px 0;
width:80px;
background-color:#333;
color:#fff;
}

.pds-box {color:#333333;font-family:Verdana,Arial,Helvetica,sans-serif;text-align:left;}
.pds-answer-feedback-bar{height:12px;}
.pds-totalvotes-inner{margin:0px 0px 15px;}

input.pds-votebutton-pack{float: right;font-size: 14px;
 border:double 3px #333;
padding:4px;
  background-color:#f0f0f0;
 }

	




	
/* Lightbox  --------------------------- */


#opinion_block {
	border-bottom:solid 3px #ccc;
	background-color:#f0f0f0;
	padding:10px;
	margin:10px;
	}

#opinion_block h4 {
	padding:0;
	width:100%;
	border-bottom:solid 1px #000;
	}
	
#opinion_block ul {
	list-style-type:none;
	}

#opinion_block ul li {
	width:160px;
	float:left;
	border-left:solid 1px #ccc;
	padding:5px;
	font-size:90%;
	}
	
#opinion_block ul li img {
	float:left;
	border:solid 2px #333;
	margin-right:5px;
	}	

/* Video Block ---------------------------------------------------- */	
	
#video_block {
	background-color:#f0f0f0;
	width:450px;
	float:right;
	padding:10px;
}	

#video_block h4 {
	padding:0;
	width:100%;
	border-bottom:solid 1px #000;
	}
	
#video_block ul {
	list-style-type:none;
	}

#video_block ul li {
	width:120px;
	float:left;
	padding:5px;
	font-size:90%;
	}


/* Gallery Block ---------------------------------------------------- */	
	
#gallery_block {
	background-color:#333;
	width:450px;
	float:right;
	padding:10px;
}	

#gallery_block h4 {
	padding:0;
	color:#fff;
	width:100%;
	border-bottom:solid 1px #fff;
	}

#gallery_block img {
	padding:6px;
	border:solid 6px #fff;
	margin:10px auto 5px auto;
	}
		
#gallery_block ul {
	list-style-type:none;
	}

#gallery_block ul li {
	width:140px;
	float:left;
	padding:5px;
	font-size:90%;
	}

/* Hot Topics Block ---------------------------------------------------- */	
#hotTopics_block {
	border:solid 1px #ccc;
	margin-top:10px;
	padding:6px;
	}

#hotTopics_block h4 {
	padding:0;
	width:100%;
	border-bottom:solid 1px #ccc;
	}
		
#hotTopics_block ul li {
	border-bottom:solid 2px #ccc;
	font-size:130%;
	display:block;
	clear:both;
	height:60px;
	}
	
#hotTopics_block ul li a {
	margin-top:10px;
	display:block;
	}
		
#hotTopics_block img {
	margin:0 5px 5px 5px;
	border:solid 2px #333;
	padding:2px;
	float:left;
	}
	

/* Footer ---------------------------------------------------- */	

#footer {
 
	clear:both;
	color:#666; 
	padding-top:10px;
	font-size:12px;
	border-top: solid 1px #d0d0d0; 
	margin-bottom:0;
	height:120px;
	clear:both;
	}
#footer .infoBox {
	float:left;
	width:200px;
	}

#footer .infoBox h4 {
	text-transform:uppercase;
	padding:0;
	}
	
#footer .infoBox ul {
	padding:10px;
	list-style-type:none;
	}
	
#footer .infoBox li {
	border-bottom:solid 1px #f0f0f0;
	padding:3px;
	}
	
	 

/* Main Content --------------------------- */

.mainNewsBlock {
	width:470px;
	line-height:130%;
	float:left;
}

.portada {
	width:470px;
	padding-top:0;
	margin-top:0;
}

 

.mainNewsBlock  h2, .mainNewsBlock .portada h2 {
	color:#ccc;
	line-height:100%;
	font-size:25px;
	margin:0px;
	padding-top:0;
	padding-bottom:10px;
}

.mainNewsBlock  h2 a:link, .mainNewsBlock  h2 a:active, .mainNewsBlock  h2 a:visited   {
	font-weight:normal;
	color:#333;
	text-decoration:none;
}
.mainNewsBlock  h2 a:hover {
	color:#f60;
	text-decoration:none;
}

.mainNewsBlock  .postMeta, #singleHeadline .postMeta {
	text-transform:uppercase;
	font-size:75%;
	font-weight:bold; line-height:80%;
	text-align:right;
}

.mainNewsBlock  .postMeta img, #singleHeadline .postMeta img {
	display:inline;
	margin:0px;
	border:0px;	padding:0;
	}

/* Related posts -----------------*/	
.mainNewsBlock .relatedPost {
	font-size:11px;
	}	
.mainNewsBlock .relatedPost li a:link, .mainNewsBlock .relatedPost li a:visited, .mainNewsBlock .relatedPost li a:active {
	color:#555;
	text-decoration:none;
	line-height:100%;  
	}	
.mainNewsBlock .relatedPost li a:hover {
	color:#000;
	background-color:#ffc;
	text-decoration:none;
	}	

.mainNewsBlock .relatedPost img {
	margin:0; padding:0; border:none; display:inline;
	}	

.mainNewsBlock ul.relatedPost {
	width:360px; 
	list-style-type:none;
	padding-top:10px;
	background:url(/images/also.gif) no-repeat top left;
	}
.mainNewsBlock ul.relatedPost li {
	padding:2px; margin:0;list-style-type:none;
	border-bottom:solid 1px #d0d0d0;
	margin-left:20px; 
	}
	
.mainNewsBlock .mainPost {
	margin-top:15px;
	}
	
.mainNewsBlock .mainPost a:link, .mainNewsBlock .mainPost a:visited, .mainNewsBlock .mainPost a:active {
	text-decoration:none;
	}	

.mainNewsBlock img, .mainNewsBlock a:link img, .mainNewsBlock a:visited img, .mainNewsBlock a:active img   {
	display:block;
	clear:both;
	border:solid 1px #333;
	padding:0;
	margin-top:0px;
	margin-bottom:10px;
	}	
#theContent .post img,  #theContent .post a:link img, #theContent .post a:visited img,  #theContent .post a:active img   {
	display:block;
	clear:both;
	border:solid 1px #333;
	padding:0;
	margin-top:0px;
	margin-bottom:20px;
	}			

	
.post p {
	margin-bottom:15px;
	}	

.post strong {
	font-size:105%;
	color:#333;
	}
.inner p {
	
	}
 	
	
		

.theMetaTag a:link, .theMetaTag a:visited { color:#888; }
#mainContent .theContent {
	width:630px;
	padding:0; 
	 }
	 
	 
.innerNav {
	border-top:dotted 1px #f60;
	}

.innerNav a:link, innerNav a:visited {
	color:#f60;
	
	}	 
	
	
/* Video Box --------------------------- */

div.video {
	float:left;  
	width:320px;
	margin-right:15px;  
	margin-bottom:20px; 
	
	}

.portada .post div.video div.caption {
	display:none;  
}	

.portada .post div.video {
	float:none; clear:both;
}	

.portada .post div.photo .caption {
	display:none;
	}

 
	
/* featured categories ---------------------- */

.featuredCats {
	

	}
.categoryBox  {
	 margin:10px 0;
	border:solid 2px #f60;
	}
.categoryBox h3 {
	text-transform:uppercase;
	color:#333;
	border-bottom:solid 1px #666;
	padding:0;
	}	
.categoryBox ul {
	clear:both;
	display:block;
	padding:4px 10px;
	
	}
.categoryBox ul li {
	padding-top:12px;
	 
	overflow:hidden;
	}	

.categoryBox h3 a:link
.categoryBox h3 a:visited {
	color: #333;
	}
	
.categoryBox ul li a:link, 
.categoryBox ul li a:visited, 
.categoryBox ul li a:active  {
	color:#333;
 	line-height:95%;
 	font-size:95%;
 	font-weight:normal; 
	}			

	
.categoryBox ul li a:hover {
	color:#f60;
	text-decoration:none;
	}
.categoryBox small { color:#666; }


/* CategoryList @ Footer ---------------------- */
ul.categoryListFooter {
	display:block;
}

.categoryListFooter li {
	display:block;
	width:150px; 
	line-height:70%;
	float:left;

	margin:4px;
	border-bottom:solid 1px #ccc;
	}

.categoryListFooter li a:link, 
.categoryListFooter li a:visited, 
.categoryListFooter li a:active {
	font-size:80%; display:block;
	color:#333; font-weight:normal;
	padding:2px;
}

.categoryListFooter li a:hover {
	background-color:#f60;color:#fff;
	text-decoration:none;
	}


	
/* calendar ---------------------- */	
table#wp-calendar {
	color:#666; 
	width:100%;
	border-spacing:0;
}	 

table#wp-calendar caption {
	color:#000;
  	font-size:140%;	
	text-align:right;
	padding:0px;
	font-weight:bold; text-transform:lowercase;
}	 

table#wp-calendar th  { background-color:#000; color:#fff; text-transform:lowercase; padding:0; text-align:right;}	 

table#wp-calendar  th h2 {
	display:inline-block; color:#fff;
	padding:0 ; margin:0 5px 0 0;
	}
 	
table#wp-calendar  td {
	font-size:14px;
	text-align:right;
	border-bottom:solid 1px #d0d0d0;
	padding:4px 0;
	}

 	
table#wp-calendar  tr.navCal td a:link, table#wp-calendar  tr.navCal td a:visited  {
	font-size:18px; 
	font-weight:normal; padding:0 5px;
	color:#333;
	}		
	
table#wp-calendar  tr.dayNames td { color:#000;font-size:11px; text-align:right; border-bottom:solid 1px #000; }	

table#wp-calendar td a:link, table#wp-calendar td a:visited { 
	color:#000;  text-align:center; font-weight:normal; }		
	
	
/** More accesories **/

#homeNews .featuredCat   {
	border-top:solid 1px #333;
	}

#homeNews .featuredCat .rightColumn .post h2  a:link, #homeNews .featuredCat .rightColumn .post h2 a:visited {
	font-size:20px;
	}
	
#homeNews .featuredCat .post {
	border-bottom:none;
	}	

#homeNews .featuredCat small a:link, #homeNews .featuredCat small a:visited {
	color:#f60;
	}		

.sidebar330 {
	float:right;
	width:330px;
	}		
	
.sidebar330 ul.barraVideos {
	list-style-type:none; clear:both;  
	padding-bottom:10px;
	}	
	
.sidebar330 ul.barraVideos li {
	 overflow:hidden;
	 width:300px;
	 clear:both; 
	}	
	
.sidebar330 .categoryBox  ul.barraVideos li img {
	display:block; float:left; overflow:hidden;
	margin:0 6px 0 0; 
	}		
	
.sidebar330 .categoryBox ul.barraVideos li h4 a:link, .sidebar330 .categoryBox  ul.barraVideos li h4 a:visited {
	font-size:12px; letter-spacing:0px; padding-bottom:0; padding-top:0;margin:0; border:none; float:left; text-transform:none; font-weight:normal;
	}	

.sidebar330 .categoryBox ul.barraVideos li h4 a:hover  {
	color:#f60;
	}			
	
	
/** Themed Boxes on the sidebar **/	 	
.themedBoxSidebar {
	padding:0;
	margin:10px 0; 
	overflow:hidden;
	}

.themedBoxSidebar h3 {
	border-bottom: dotted 1px #ccc;
	margin:0;
	}
	
.themedBoxSidebar h3 span {
	color:#fff; background-color:#f60; padding:2px 10px 2px 1px;
	}
		
.themedBoxSidebar ul {
	list-style-type:none;
	overflow:hidden; 
	padding:0; 
	margin:0;
	}
	
.themedBoxSidebar ul li {
	width:300px; 
	border-bottom:solid 1px #333; 
	padding:3px 0; 
	font-family:Georgia, serif;
	}
	
.themedBoxSidebar ul li h2 {	
	padding:0; margin:2px 0; line-height:100%; font-size:16px;
	}
	
.themedBoxSidebar ul li h2 a:link,
.themedBoxSidebar ul li h2 a:visited
 {
 	color:#000; text-decoration:none; padding:0;	
 }
 
.themedBoxSidebar ul li h2 a:hover,
.themedBoxSidebar ul li h2 a:active
{
	background-color:#f60;
} 

/* Tema del Dia --------------------------- */
.twoColContainer {
	width:700px; float:left;
	}
.temaDelDia {
	width:665px; 
	clear:both;
	background-color:#f0f0f0;
	position: relative;
	padding:0 0 15px 0;
	margin:0 0 10px 0;
}

.temaDelDia h2 {
	color:#ccc;
	line-height:100%;
	font-size:38px;
	margin:0px;
	margin-top:10px;
	padding:10px 0;
	}	
	
.temaDelDia h2 a:link, #temaDelDia h2 a:active, #temaDelDia h2 a:visited,
   {
	font-weight:bold;
	color:#333;
	text-decoration:none;font-size:120%;
	}

#temaDelDia h2 a:hover, #singleHeadline h2 a:hover {
	color:#039;
	text-decoration:none;
}

#temaDelDia img, #temaDelDia a:link img, #temaDelDia a:visited img, #temaDelDia a:active img   {
	display:block;
	clear:both;
	border:solid 6px #ccc;
	padding:6px;
	margin-top:10px;
	margin-right:20px;
	float:left;
	}
	
.temaDelDia .tdDimgbox { width:665px; height:300px; overflow:hidden; margin:5px 0;} 	
 
/* tema del Dia ---------------------- */	
.temaDelDia h1 a:link,  .temaDelDia h1 a:visited, .temaDelDia h1 a:active { padding:0 10px 0 20px; font-weight:bold; color:#000; display:block; }
.temaDelDia h4.tooltip { background-color:#f60; color:#fff; position:absolute; top:0; left:0; width:150px; padding:0; }
.temaDelDia p.tddLead { margin:0 20px; padding:0; font-size:100%; color:#333; line-height: 140%; display:block;  }
.temaDelDia ul.tddList { padding:10px 0 0 20px; } 
.temaDelDia ul.tddList li { width:215px; float:left; position:relative; } 
.temaDelDia ul.tddList li h5 { background-color:#333; color:#fff; position:absolute; top:0; left:0; width:100px; } 
.temaDelDia ul.tddList img { width:170px; height:90px; overflow:hidden; }
.temaDelDia ul.tddList li h4, .temaDelDia ul.tddList li h4 a:link, .temaDelDia ul.tddList li h4 a:active, .temaDelDia ul.tddList li h4 a:visited {
	width:170px; font-size:14px; line-height:100%;font-weight:normal; padding:0; color:#000; margin:2px 0;}