@charset "utf-8";

/* 게시물 제목 색상 */
.titlecolor1 {color:#4587EB;}
.titlecolor2 {color:#6E9CF2;}
.titlecolor3 {color:#8394CF;}
.titlecolor4 {color:#7B8493;}
.titlecolor5 {color:#4B4B4B;}

.titlecolor6 {color:#2EB8C7;}
.titlecolor7 {color:#69C2D2;}
.titlecolor8 {color:#97ADD2;}
.titlecolor9 {color:#94A5B6;}
.titlecolor10 {color:#8C66D9;}

.titlecolor11{color:#44be1e;}
.titlecolor12{color:#93CC4B;}
.titlecolor13{color:#B4B4B4;}
.titlecolor14{color:#A28AB5;}
.titlecolor15{color:#C08BD7;}

.titlecolor16{color:#B0BC2D;}
.titlecolor17{color:#CCC05D;}
.titlecolor18{color:#BEB297;}
.titlecolor19{color:#DA9B9B;}
.titlecolor20{color:#F06280;}

.titlecolor21{color:#DEC200;}
.titlecolor22{color:#E6A11B;}
.titlecolor23{color:#F3672A;}
.titlecolor24{color:#F62D2D;}
.titlecolor25{color:#D2423C;}


.warningbox { margin-top:10px; border:2px solid #940800;text-align:left;padding:10px;background-color:#fff; }
.warningbox ol { list-style:upper-alpha; }
.warningbox ol li { margin-left:20px; font-size:12px; }
.warningbox ol li ol { list-style:decimal; }
.warningbox li.red { color:#f00!important; }
.warningbox li.blue { color:#00f!important; }
.warningbox li.bold { font-weight:bold!important; }



/* 일반 */
.view02 p { padding:0px 0 10px 0; margin:0px;}
.view02 ul li ul { margin-left:15px; }

.bm_0 { margin-bottom:0px!important}

.tm_0 { margin-top:0px!important}
.tm_1 { margin-top:1px!important}
.tm_2 { margin-top:2px!important}
.tm_3 { margin-top:3px!important}
.tm_4 { margin-top:4px!important}
.tm_5 { margin-top:5px!important}
.tm_6 { margin-top:6px!important}
.tm_7 { margin-top:7px!important}
.tm_8 { margin-top:8px!important}
.tm_9 { margin-top:9px!important}
.tm_10 { margin-top:10px!important}
.tm_11 { margin-top:11px!important}
.tm_12 { margin-top:12px!important}
.tm_13 { margin-top:13px!important}
.tm_14 { margin-top:14px!important}
.tm_15 { margin-top:15px!important}
.tm_16 { margin-top:16px!important}
.tm_17 { margin-top:17px!important}
.tm_18 { margin-top:18px!important}
.tm_19 { margin-top:19px!important}
.tm_20 { margin-top:20px!important}
.tm_21 { margin-top:21px!important}
.tm_22 { margin-top:22px!important}
.tm_23 { margin-top:23px!important}
.tm_24 { margin-top:24px!important}
.tm_25 { margin-top:25px!important}
.tm_26 { margin-top:26px!important}
.tm_27 { margin-top:27px!important}
.tm_28 { margin-top:28px!important}
.tm_29 { margin-top:29px!important}
.tm_30 { margin-top:30px!important}
.tm_40 { margin-top:40px!important}
.tm_50 { margin-top:50px!important}

.lm_0 { margin-left:0px!important }
.lm_5 { margin-left:5px!important }
.lm_10 { margin-left:10px!important }
.lm_15 { margin-left:15px!important }
.lm_20 { margin-left:20px!important }
.lm_25 { margin-left:25px!important }
.lm_30 { margin-left:30px!important }
.lm_35 { margin-left:35px!important }
.lm_40 { margin-left:40px!important }
.lm_45 { margin-left:45px!important }
.lm_50 { margin-left:50px!important }
.lm_55 { margin-left:55px!important }
.lm_60 { margin-left:60px!important }
.lm_65 { margin-left:65px!important }
.lm_70 { margin-left:70px!important }
.lm_75 { margin-left:75px!important }
.lm_80 { margin-left:80px!important }
.lm_85 { margin-left:85px!important }
.lm_90 { margin-left:90px!important }
.lm_95 { margin-left:95px!important }
.lm_100 { margin-left:100px!important }


/* 일반적인 테이블 LEFT정렬 */
.bbs_table01{ border:1px solid #cedcef; border-collapse:collapse}
.bbs_table01 th{ border:1px solid #cedcef; background:#dfebfd; color:#4b4b4b; font-weight:normal}
.bbs_table01 td{ padding:1px 0 0 5px; border:1px solid #cedcef; word-wrap:break-word;}
.bbs_table01 td a{ color:#4b4b4b}
.bbs_table01 td a:hover, .bbs_table01 td a:focus, .bbs_table01 td a:active{ color:#5d8bca; text-decoration:none}
.bbs_table01 td strong.under{ text-decoration:underline}
.bbs_table01 td.center{ padding-left:0; text-align:center}
.bbs_table01.thnone tbody th{ background:none; padding:0 2px}
.bbs_table01.tdpad td{ padding:10px 0 7px 5px}

/* 일반적인 테이블 Center 정렬 */
.bbs_table02{ border:1px solid #cedcef; border-collapse:collapse}
.bbs_table02 th{ border:1px solid #cedcef; background:#dfebfd; color:#4b4b4b; font-weight:normal}
.bbs_table02 td{ padding:3px; border:1px solid #cedcef; text-align:center; word-wrap:break-word;}
.bbs_table02 td a{ color:#4b4b4b;}
.bbs_table02 td a:hover, .bbs_table02 td a:focus, .bbs_table02 td a:active{ color:#5d8bca; text-decoration:none}
.bbs_table02 td strong.under{ text-decoration:underline}
.bbs_table02 td.center{ padding-left:0; text-align:center}
.bbs_table02.thnone tbody th{ background:none; padding:0 2px}
.bbs_table02.tdpad td{ padding:10px 0 7px 5px}


/* 일반적인 테이블 LEFT정렬 noborder */
.bbs_table03{ border:none; border-collapse:collapse}
.bbs_table03 th{ border:none; background:#dfebfd; color:#4b4b4b; font-weight:normal}
.bbs_table03 td{ padding:1px 0 10px 5px; border:none; word-wrap:break-word;}
.bbs_table03 td a{ color:#4b4b4b}
.bbs_table03 td a:hover, .bbs_table03 td a:focus, .bbs_table03 td a:active{ color:#5d8bca; text-decoration:none}
.bbs_table03 td strong.under{ text-decoration:underline}
.bbs_table03 td.center{ padding-left:0; text-align:center}
.bbs_table03.thnone tbody th{ background:none; padding:0 2px}
.bbs_table03.tdpad td{ padding:10px 0 7px 5px}


/* 이미지 */
img.leftimg { float:left; margin-right:10px; margin-bottom:10px; }
img.rightimg { float:right; margin-left:10px; margin-bottom:10px; }
p.leftimg { float:left; margin-right:10px; text-align:center;}
p.rightimg { float:right; margin-left:10px; text-align:center;}


/* 뉴스레터 */
.bigbluebox { margin:5px; border:15px solid #0f0f70!important; padding:10px!important;}
.newslogo { float:left; }
.textright { float:right; text-align:right; border:0px solid red; }
.enewsheader { height:40px; border:0px solid red; background:url("http://zenda.co.kr/snusample/title_line.gif") left bottom no-repeat; }
.categorytitle { clear:both; margin-top:20px; height:30px; background:url("/images/zine/title_sub.gif") left top no-repeat; padding:3px 0 0 10px; font-weight: bold; font-size: 14px; color: #8e7f40; line-height: 150%;}
.newstitle { background:url("/images/zine/title_spot.gif") left 4px no-repeat; padding-left:13px; font-weight:bold; color:#0f0f70; font-size:12px; margin-bottom:5px;}
.bigbluebox p { line-height:145%!important;}
/* 법인 설립 소식 */
.newsitem { margin:0px 0 0 10px;padding:0px; border:0px solid green}
.newsitem li {line-height:150%;padding-left:0px; margin:0px 0 0 0px;border:0px solid red;}
.newsitem li span{ position:absolute; left:0; top:0}
.newsitem li.iheader { position:relative; width:540px; padding-left:15px; margin:0;border:0px solid black;}

/* 기부자명단 */
.donatebox { margin-top:10px; background-color:#f4f1e3; padding:5px;  }


/* ul */
.bbs_ul01 { margin:0; padding:0;}
.bbs_ul01 li { position:relative; list-style:none; width:580px; padding-left:10px; margin:0px 0 0 0px;border:0px solid red; background:none !important;}
.bbs_ul01 li span{ position:absolute; left:0; top:0}
.bbs_ul01 li.bbs_dash { position:relative; width:580px; padding-left:10px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_dot { position:relative; width:580px; padding-left:8px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_star { position:relative; width:580px; padding-left:15px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_abc { position:relative; width:580px; padding-left:20px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_num { position:relative; width:580px; padding-left:10px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_num15 { position:relative; width:580px; padding-left:15px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_num20 { position:relative; width:580px; padding-left:20px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in25 { position:relative; width:580px; padding-left:25px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in30 { position:relative; width:580px; padding-left:30px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in35 { position:relative; width:580px; padding-left:35px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in40 { position:relative; width:580px; padding-left:40px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in60 { position:relative; width:580px; padding-left:60px; margin:0px 0 0 0px;border:0px solid red;}

.bbs_ul01 li.bbs_in80 { position:relative; padding-left:80px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul01 li.bbs_in100 { position:relative; padding-left:100px; margin:0px 0 0 0px;border:0px solid red;}


.bbs_ul02 { margin:0 !important; padding:0 !important; margin-bottom:10px !important;}
.bbs_ul02 li { position:relative; list-style:none; width:580px; padding-left:10px !important; margin-bottom:5px !important;border:0px solid red;}
.bbs_ul02 li span{ position:absolute; left:0; top:0}
.bbs_ul02 li.bbs_dash { position:relative; width:580px; padding-left:10px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_dot { position:relative; width:580px; padding-left:8px; !important margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_star { position:relative; width:580px; padding-left:15px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_abc { position:relative; width:580px; padding-left:20px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_num { position:relative; width:580px; padding-left:10px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_in25 { position:relative; width:580px; padding-left:25px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_in30 { position:relative; width:580px; padding-left:30px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_in35 { position:relative; width:580px; padding-left:35px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul02 li.bbs_in40 { position:relative; width:580px; padding-left:40px !important; margin:0px 0 0 0px;border:0px solid red;}

.bbs_ul03 { margin:0 !important; padding:0 !important; margin-bottom:10px !important;}
.bbs_ul03 li { position:relative; list-style:none; width:580px; padding-left:10px !important; margin-bottom:1px !important;border:0px solid red;}
.bbs_ul03 li span{ position:absolute; left:0; top:0}
.bbs_ul03 li.bbs_dash { position:relative; width:580px; padding-left:10px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_dot { position:relative; width:580px; padding-left:8px; !important margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_star { position:relative; width:580px; padding-left:15px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_abc { position:relative; width:580px; padding-left:20px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_num { position:relative; width:580px; padding-left:10px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_in25 { position:relative; width:580px; padding-left:25px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_in30 { position:relative; width:580px; padding-left:30px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_in35 { position:relative; width:580px; padding-left:35px !important; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul03 li.bbs_in40 { position:relative; width:580px; padding-left:40px !important; margin:0px 0 0 0px;border:0px solid red;}

.bbs_ul04 { margin:0; padding:0;}
.bbs_ul04 li { position:relative; list-style:none; width:580px; padding-left:10px; line-height:180%; margin:10px 0 0 0px;border:0px solid red; background:none !important;}
.bbs_ul04 li span{ position:absolute; left:0; top:0}
.bbs_ul04 li.bbs_dash { position:relative; width:580px; padding-left:10px;border:0px solid red;}
.bbs_ul04 li.bbs_dot { position:relative; width:580px; padding-left:8px;border:0px solid red;}
.bbs_ul04 li.bbs_star { position:relative; width:580px; padding-left:15px;border:0px solid red;}
.bbs_ul04 li.bbs_abc { position:relative; width:580px; padding-left:20px;border:0px solid red;}
.bbs_ul04 li.bbs_num { position:relative; width:580px; padding-left:10px;border:0px solid red;}
.bbs_ul04 li.bbs_in25 { position:relative; width:580px; padding-left:25px; margin:0px 0 0 0px;border:0px solid red;}
.bbs_ul04 li.bbs_in30 { position:relative; width:580px; padding-left:30px;border:0px solid red;}
.bbs_ul04 li.bbs_in35 { position:relative; width:580px; padding-left:35px;border:0px solid red;}
.bbs_ul04 li.bbs_in40 { position:relative; width:580px; padding-left:40px;border:0px solid red;}

.bbs_ul01 li.bbs_in80 { position:relative; padding-left:80px; margin:0px 0 0 0px;border:0px solid red;}


/* ol */
.bbs_ol01 { margin:0 0 10px 20px; padding:0;}
.bbs_ol01 li { margin-top:5px; list-style:decimal;border:0px solid red; line-height:180%;}


/* color */
.bbs_blue { color:#0000ff; }


/* for webzine */
.zine_frame { width:630px; background:url(/images/withsnu/webzine_bg.gif) left top repeat-y; min-height:500px; }

.zine_frame a:link,
.zine_frame a:visited { color:#666}
.zine_frame a:hover,
.zine_frame a:active,
.zine_frame a:focus{ color:#1552a6;  text-decoration:underline;}


.zine_header { height:72px; background:url(/images/withsnu/webzine_header.gif) left top no-repeat; text-align:left;}
.zine_header .zine_title { float:left; }
.zine_header .zineno { float:left; margin-top:25px; margin-left:10px; color:#f9fa83;  font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
.zine_header span.title { font-size:17px; }
.zine_header span.date { font-size:14px; }
.zine_body { margin:-18px 8px 0px 8px; width:594px; border:1px solid #999; background-color:#fff; min-height:400px; padding:8px; }
.zine_body p { padding:0; margin:0; line-height:130%; }
.zb_topbox { border:1px solid #e8e1d4; background-color:#fef8ed; padding:12px;}
.zb_topbox .title { padding-bottom:3px; font-weight:bold }


.zb_leftbox { width:280px; float:left; border:0px solid red; }
.zb_rightbox { width:280px; margin-left:20px; float:right; border:0px solid red;}
.zb_bell_title { background:url(/images/withsnu/bell.gif) left top no-repeat; padding:2px 0 2px 20px; font-weight:bold; font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림; border-bottom:1px solid #ddd; font-size:14px;}
.zb_bell_title span { color:#1552a6; font-size:14px; }
.zb_news_title { margin:5px 0 0 5px; background:url(/images/withsnu/dot.gif) left 10px no-repeat; padding:2px 0 2px 7px; font-weight:bold; }
.zb_news_cont { margin:0px 0 0 12px; line-height:130%;}

.zb_donatebox { margin-top:20px; width:280px; border:1px solid #e8e1d4; background-color:#f3f1e3; padding:5px;}
.zb_donatetitle { font-size:15px; color:#000; font-weight:bold; font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
.zb_donatesubtitle { margin-top:-3px; letter-spacing:-0.05em; color:#333; font-size:11px; font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
.zb_donatetext span {padding-top:3px; letter-spacing:-0.1em; line-height:120%;}

ul.zb_withsnu { margin:5px 0 0 5px; }
ul.zb_withsnu li { background:url(/images/withsnu/dot.gif) left 8px no-repeat; padding:0px 0 0px 7px; }

.zb_footer { margin-top:5px; height:40px; background:url(/images/withsnu/webzine_footer.gif) left top no-repeat; font-size:11px; padding-top:5px; padding-left:190px; color:#fff; font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림; line-height:140%;}




/* for each article */
ul.bbs_0707 li { border:1px solid #1552a6; padding:5px 5px; margin:0 0 5px 0; }
ul.bbs_0707 li span { color:#950404; font-weight:bold;}


.bbs_noticebox { overflow:hidden; height:100%; margin:10px 0 0 20px; padding-bottom:10px; border:1px solid #cedcef; background:#f7fafe;}
.bbs_noticebox h4{ padding:1px 0 6px 15px; letter-spacing:-0.5px; font-size:1em; color:#1552a6; background:url(/images/common/background/bg02_title.gif) no-repeat 6px 8px;}
.bbs_noticebox p{ padding:0 25px; color:#4b4b4b}

.bbs_bluebox { overflow:hidden; height:100%; padding:5px; border:1px solid #cedcef; background:#f7fafe; margin-bottom:10px;}
.bbs_bluebox h4{ margin:0px !important; padding:0px !important; letter-spacing:-0.5px; font-size:1.2em; color:#1552a6;}


.lh160 * {line-height:160% !important;}
.lh180 * {line-height:180% !important;}


/* new web zine */

.new_webzine_wrap { width:630px; height:765px; border:0px solid red;font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
#new_webzine { float:left;  }
.wz_title { float:left; width:217px; height:329px; background:url(/upload/webzine/webzine_title.jpg) left top no-repeat; text-align:left;}
.wz_title p.wz_titleimg { text-indent:-5000px; }
.wz_title p.wz_volumeno { float:left; margin-top:265px; margin-left:20px; color:#fff; font-weight:bold; font-size:10px;}
.wz_cs_img { float:left; width:413px; height:329px; text-align:left;}

.wz_content_wrap { margin:0px; padding:30px 0 0 0px; width:630px; height:500px; background:url(/upload/webzine/webzine_content_bg.jpg) left top no-repeat; text-align:left;}
.wz_coverstory { margin:0 0 0 30px; padding:0 0 0 0; height:47px; }
.wz_content { margin:0 0 0 30px; padding:0 0 0 0; border:0px solid red;}
.wz_inner_content { margin-left:8px; _margin-left:3px;}
ul.wz_cs_text li { float:left; }
.wz_cs_txt, .wz_c_txt { color:#01B2FE; font-size:14px; font-weight:bold; letter-spacing:-0.1em; }
.wz_cs_txt { margin-top:5px; }
.wz_cs_title a { font-size:23px; vertical-align:top; line-height:120%; font-weight:bold; color:#C6F8FF; letter-spacing:-0.1em;}
.wz_cs_subtitle { margin-top:0px; color:#D3D3D5; }
.wz_c_txt { margin-top:20px; }
.wz_txt_st { color:#95BC2F; margin-bottom:5px; font-weight:bold; }
.wz_snustory { margin:10px 10px 0 5px; width:300px; float:left;  border:0px solid red;}
.wz_c_right {margin:10px 0 0 10px; float:left; }
ul.wz_footer { margin-top:25px; width:630px; float:left; }
ul.wz_footer li.wz_logo { margin-left:20px; _margin-left:10px; float:left; }
ul.wz_footer li.wz_copy { margin-left:80px; _margin-left:70px;float:left; }
ul.wz_footer li.wz_copy2 { margin-left:60px; _margin-left:70px;float:left; }

dl.wz_items { height:51px; }
dl.wz_items dt { float:left; margin-bottom:3px;}
dl.wz_items dt img { border:1px solid #B0B0B0; }
dl.wz_items dd { margin-left:10px;float:left; }
dl.wz_items dd a { color:#ccc; font-weight:bold;}

.wz_st_item_subtitle { color:#BBBC9D; font-size:11px; letter-spacing:-0.1em; }

ul.wz_pepole_item li { background:url(/upload/webzine/webzine_itemheader.jpg) left 3px no-repeat; padding-left:10px; }
ul.wz_pepole_item li a {color:#ccc; font-weight:bold;}

.mt_18 { margin-top:18px !important; }

ul.bull li { margin:0px; padding:0px; list-style:disc; background:none;}


.content_on_off { display:none; }


.imgcaption { font-size:11px; display:inline-block; padding-top:5px; line-height:120%;}



.news-question {color: #00397f;font-weight:bold;}
.news-question span, .block_bg {padding:3px 4px;color:#fff;background:#00397f;margin:0 3px 0px 0px}