@charset "utf-8";
/*
@font-face {font-family:Nanum;font-style:normal;font-weight:normal;src:url(NanumGothic.eot);}
*/

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: normal;
    src: url('/_skin/default/css/NanumGothic.eot');
    src: local("★"), local('NanumGothic'),  local('나눔고딕'), url('//commondatastorage.googleapis.com/fontfacekr-fonts/NanumGothic.woff') format('woff');
}

/* common css */
h2, h3, h4, h5, h6{ font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
/*h2, h3, h4, h5, h6{ font-family:NanumGothic, 나눔고딕, Nanum,  돋움, 굴림, AppleGothic}*/
.fl{ float:left!important}
.fr{ float:right!important}
.tc{ text-align:center!important}
.tl{ text-align:left!important}
.tr{ text-align:right!important}
.cl{ clear:both!important}
.clear{ clear:both; width:0; height:0; font-size:0; line-height:0}
.bgnone{ background:none!important}
.fn{ font-weight:normal}
.visible { overflow:visible!important}
.bgpor1 { background-position:left 11px!important}

.bold { font-weight:bold !important; }

.pb_0{ padding-bottom:0!important}
.pl_0{ padding-left:0!important}
.pt_10{ padding-top:10px!important}
.pl_12{ padding-left:12px!important}
.pl_15{ padding-left:15px!important}
.pr_5{ padding-right:5px!important}
.pr_10{ padding-right:10px!important}

.mt_0{ margin-top:0!important}
.mr_0{ margin-right:0!important}
.mb_0{ margin-bottom:0!important}
.ml_0{ margin-left:0!important}

.mt_5 { margin-top:5px!important}
.mt_10{ margin-top:10px!important}
.mt_15{ margin-top:15px!important}
.mt_20{ margin-top:20px!important}
.mt_25{ margin-top:25px!important}
.mt_30{ margin-top:30px!important}
.mt_40{ margin-top:40px!important}
.mt_60{ margin-top:60px!important}
.mt_100{margin-top:120px!important}

.mr_5{ margin-right:5px!important}
.mr_10{ margin-right:10px!important}
.mr_15{ margin-right:15px!important}
.mr_20{ margin-right:20px!important}

.mb_5{ margin-bottom:5px!important}
.mb_10{ margin-bottom:10px!important}
.mb_15{ margin-bottom:15px!important}
.mb_20{ margin-bottom:20px!important}
.mb_40{ margin-bottom:40px!important}


.ml_2{ margin-left:2px!important}
.ml_5{ margin-left:5px!important}
.ml_6{ margin-left:6px!important}
.ml_7{ margin-left:7px!important}
.ml_8{ margin-left:8px!important}
.ml_9{ margin-left:9px!important}
.ml_10{ margin-left:10px!important}
.ml_15{ margin-left:15px!important}
.ml_17{ margin-left:17px!important}
.ml_20{ margin-left:20px!important}
.ml_25{ margin-left:25px!important}
.ml_30{ margin-left:30px!important}
.ml_34{ margin-left:34px!important}
.ml_36{ margin-left:36px!important}
.ml_40{ margin-left:40px!important}
.ml_46{ margin-left:46px!important}
.ml_50{ margin-left:50px!important}
.ml_65{ margin-left:65px!important}

.LS05 { letter-spacing:-0.5px}
.LS10 { letter-spacing:-1px}

.blue{ color:#1552a6!important}
.red{ color:#930000!important}
.w_auto { width:auto!important}
/* hidden */
.hidden, #contents .hidden { visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none}

/* title */
.title01, .title03, .title08{ padding:0 0 10px 15px; background:url(/images/common/background/bg01_title.gif) left 3px no-repeat; color:#00397f; font-size:1.25em; letter-spacing:-1px}
.title02{ margin:0 0 3px 10px; padding-left:8px; background:url(/images/common/background/bg02_title.gif) left 6px no-repeat; color:#000; font-size:1.083em; letter-spacing:-0.5px}
h4.title02 { margin:0 0 3px 5px; padding-left:8px; background:url(/images/common/background/bg02_title.gif) left 6px no-repeat; color:#000; font-size:1.083em; letter-spacing:-0.5px}
.title03{ font-weight:normal; letter-spacing:0; font-size:1em; color:#494949}
.title08{ margin-left:8px; letter-spacing:0; font-size:1em; color:#494949}

h4.title02 a { color:#7a7a7a}

#contents { position:relative; }

#contents h2.title04 { margin-left:20px; padding: 18px 0 0 17px; background:url(/images/common/ico/ico03_adm.gif) left 22px no-repeat; color:#1552a6; font-size:1.33em; letter-spacing:-1px; border-bottom:0}
#contents .title05 { padding-left:16px; margin-top:25px; background:url(/images/common/ico/ico07_adm.gif) left center no-repeat; font-weight:normal}
/*
#contents h2.title06, #contents h2.title07{ margin:0; padding:0 0 0 16px; border-bottom:none; background:url(/images/common/ico/ico02_faq.gif) no-repeat left 3px; font-size:1.333em; color:#000}
*/
/*
#contents h2.title06 { margin:0; padding:0 0 0 0px; border-bottom:none; background:none; font-size:1.333em; color:#000}
#contents h2.title07{ margin:0 0 0 10px; padding:0 0 0 0px; border-bottom:none; background:none; font-size:1.333em; color:#000}
*/
#contents h2.title06, #contents h2.title07 { margin:0; padding:0 0 0 0px; border-bottom:none; background:none; text-indent:-5000px; font-size:0; height:0; line-height:0;}
#contents h2.title09{ margin-top:25px; padding: 0 0 0 23px; background:url(/research/images/ico_title.gif) 7px 4px no-repeat; border:0; color:#00397f; font-size:1.33em; letter-spacing:-1px}

/*
#contents h2.title_zn {margin-bottom:0px; padding: 0 0 0px 23px; border:none; background:url(/research/images/ico_title.gif) 7px 4px no-repeat; color:#000; font-size:1.33em; letter-spacing:-1px;}

#contents h2.title00 { padding: 0 0 10px 12px; background:url(/research/images/ico_title.gif) 0px 4px no-repeat; border-bottom:1px solid #d1d2cc; color:#000; font-size:1.33em; letter-spacing:-1px}
#contents h2.title00.zn { padding: 0 0 10px 23px; background:url(/research/images/ico_title.gif) 7px 4px no-repeat; border-bottom:1px solid #d1d2cc; color:#000; font-size:1.33em; letter-spacing:-1px}
*/
#contents h2.title_zn {margin-bottom:0px; padding: 0 0 0px 0px; background:none; border:none;color:#000; font-size:1.33em; letter-spacing:-1px;}
#contents h2.title00 { padding: 0 0 10px 0px; background:none; border-bottom:1px solid #d1d2cc; color:#000; font-size:1.33em; letter-spacing:-1px}
/*
#contents h2.title00.zn { padding: 0 0 10px 0px;background:none; border-bottom:1px solid #d1d2cc; color:#000; font-size:1.33em; letter-spacing:-1px}
*/
#contents h2.title00.zn { margin:0; margin-bottom:10px; padding:0 0 0 0px; border-bottom:none; background:none; text-indent:-5000px; font-size:0; height:0; line-height:0;}

/* for board */
/*
#contents h3.title07{ margin:0; margin-bottom:10px; padding:0 0 0 0px; border-bottom:none; background:none; font-size:1.333em; color:#000}
*/
#contents h3.title07{ margin:0; margin-bottom:10px; padding:0 0 0 0px; border-bottom:none; background:none; text-indent:-5000px; font-size:0; height:0; line-height:0;}



/* text */
.text_ul01{ margin:0 0 23px 6px}
.text_ul01 li{ padding-left:10px; background:url(/images/common/background/bg01_text.gif) left 7px no-repeat; line-height:1.6em; word-spacing:1px; letter-spacing:-0.5px}
.text_ul01 li.bgnone{background:none}
.text_ul01 li em { color:#1552a6}
.text_ul01 li a:link, .text_ul01 li a:visited { color:#494949}
.text_ul01 li a:hover, .text_ul01 li a:focus, .text_ul01 li a:active { color:#1552a6; text-decoration:none}
.text_ul02 li{ margin-left:20px; padding-left:10px; background:url(/about/images/bg_ab0603.gif) no-repeat left 8px; color:#c03500; line-height:1.6em}
.text_ul02.color li{ background:none; color:#1552a6}
.text_ul03{ margin-bottom:6px; padding:0 5px 6px 20px; border-bottom:1px dotted #a7a9ac}
.text_ul03 li{ padding-left:10px; background:url(/images/common/background/bg01_text.gif) no-repeat left 7px; font-weight:normal; color:#4b4b4b; line-height:1.5em}
.text_ul03 li em{ color:#c03500}
.text_ul03 li ul{ margin-bottom:4px}
.text_ul03 li ul li{ padding:0 0 0 10px; background:url(/about/images/bg_ab0603.gif) no-repeat left 8px; color:#c03500}
.text_ul03 li a:link, .text_ul03 li a:visited { color:#4b4b4b}
.text_ul03 li a:hover, .text_ul03 li a:focus, .text_ul03 li a:active { color:#1552a6; text-decoration:none}
.text_ul03.padnone{ padding:0 10px 8px 20px}
.text_ul05{ margin-bottom:6px; padding:0 10px 6px 0}
.text_ul05 li{ padding:5px 20px 6px 34px; background:url(/images/common/background/bg01_text.gif) no-repeat 25px 10px; font-weight:normal; color:#4b4b4b; line-height:1.5em}
.text_ul05 li.colour{ background:#dfebfd url(/images/common/background/bg01_text.gif) no-repeat 25px 10px}

.text_style01{ margin-left:10px; line-height:1.6em; letter-spacing:-0.5px}
.text_style01_ml {line-height:1.6em; letter-spacing:-0.5px}
.text_style01 a{ color:#494949; letter-spacing:normal}
.text_style01 a:hover, .text_style01 a:focus, .text_style01 a:active{ color:#1552a6; text-decoration:none}
.text_style02 { margin:-10px 0 10px 10px; line-height:1.6em; letter-spacing:-1px; color:#1552a6}

/* tabmenu */
.tabmenu01 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu01 li { display:inline; float:left}
.tabmenu01 li a, .tabmenu01 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu01 .tab01 a, .tabmenu01 .tab01 strong { background:url(/images/common/menu/tab01_ab0101.gif) no-repeat left top; margin-left:0}
.tabmenu01 .tab01 a:hover, .tabmenu01 .tab01 strong { background:url(/images/common/menu/tab01_ab0101_.gif) no-repeat}
.tabmenu01 .tab02 a, .tabmenu01 .tab02 strong { width:112px; background:url(/images/common/menu/tab02_ab0101.gif) no-repeat left top}
.tabmenu01 .tab02 a:hover, .tabmenu01 .tab02 strong { background:url(/images/common/menu/tab02_ab0101_.gif) no-repeat}

.tabmenu02 { overflow:hidden; height:25px; margin-bottom:20px}
.tabmenu02 li { display:inline; float:left}
.tabmenu02 li a, .tabmenu02 li strong { display:block; position:relative; left:0; top:0; width:80px; height:25px; margin-left:-1px; text-indent:-5000px; font-size:0}
.tabmenu02 .tab01 a, .tabmenu02 .tab01 strong { background:url(/images/common/menu/tab01_history.gif) no-repeat left top; margin-left:0}
.tabmenu02 .tab01 a:hover, .tabmenu02 .tab01 strong { background:url(/images/common/menu/tab01_history_.gif) no-repeat}
.tabmenu02 .tab02 a, .tabmenu02 .tab02 strong { background:url(/images/common/menu/tab02_history.gif) no-repeat left top}
.tabmenu02 .tab02 a:hover, .tabmenu02 .tab02 strong { background:url(/images/common/menu/tab02_history_.gif) no-repeat}
.tabmenu02 .tab03 a, .tabmenu02 .tab03 strong { background:url(/images/common/menu/tab03_history.gif) no-repeat left top}
.tabmenu02 .tab03 a:hover, .tabmenu02 .tab03 strong { background:url(/images/common/menu/tab03_history_.gif) no-repeat}
.tabmenu02 .tab04 a, .tabmenu02 .tab04 strong { background:url(/images/common/menu/tab04_history.gif) no-repeat left top}
.tabmenu02 .tab04 a:hover, .tabmenu02 .tab04 strong { background:url(/images/common/menu/tab04_history_.gif) no-repeat}
.tabmenu02 .tab05 a, .tabmenu02 .tab05 strong { background:url(/images/common/menu/tab05_history.gif) no-repeat left top}
.tabmenu02 .tab05 a:hover, .tabmenu02 .tab05 strong { background:url(/images/common/menu/tab05_history_.gif) no-repeat}
.tabmenu02 .tab06 a, .tabmenu02 .tab06 strong { background:url(/images/common/menu/tab06_history.gif) no-repeat left top}
.tabmenu02 .tab06 a:hover, .tabmenu02 .tab06 strong { background:url(/images/common/menu/tab06_history_.gif) no-repeat}
.tabmenu02 .tab07 a, .tabmenu02 .tab07 strong { background:url(/images/common/menu/tab07_history.gif) no-repeat left top}
.tabmenu02 .tab07 a:hover, .tabmenu02 .tab07 strong { background:url(/images/common/menu/tab07_history_.gif) no-repeat}
.tabmenu02 .tab08 a, .tabmenu02 .tab08 strong { background:url(/images/common/menu/tab08_history.gif) no-repeat left top}
.tabmenu02 .tab08 a:hover, .tabmenu02 .tab08 strong { background:url(/images/common/menu/tab08_history_.gif) no-repeat}

.tabmenu03 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu03 li { display:inline; float:left}
.tabmenu03 li a, .tabmenu03 li strong { display:block; position:relative; left:0; top:0; width:63px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu03 .tab01 a, .tabmenu03 .tab01 strong { background:url(/images/common/menu/tab01_ab0104.gif) no-repeat left top; margin-left:0}
.tabmenu03 .tab01 a:hover, .tabmenu03 .tab01 strong { background:url(/images/common/menu/tab01_ab0104_.gif) no-repeat}
.tabmenu03 .tab02 a, .tabmenu03 .tab02 strong { width:74px; background:url(/images/common/menu/tab02_ab0104.gif) no-repeat left top}
.tabmenu03 .tab02 a:hover, .tabmenu03 .tab02 strong { background:url(/images/common/menu/tab02_ab0104_.gif) no-repeat}
.tabmenu03 .tab03 a, .tabmenu03 .tab03 strong { background:url(/images/common/menu/tab03_ab0104.gif) no-repeat left top}
.tabmenu03 .tab03 a:hover, .tabmenu03 .tab03 strong { background:url(/images/common/menu/tab03_ab0104_.gif) no-repeat}
.tabmenu03 .tab04 a, .tabmenu03 .tab04 strong { background:url(/images/common/menu/tab04_ab0104.gif) no-repeat left top}
.tabmenu03 .tab04 a:hover, .tabmenu03 .tab04 strong { background:url(/images/common/menu/tab04_ab0104_.gif) no-repeat}

.tabmenu04 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu04 li { display:inline; float:left}
.tabmenu04 li a, .tabmenu04 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu04 .tab01 a, .tabmenu04 .tab01 strong { background:url(/images/common/menu/tab01_list.gif) no-repeat left top; margin-left:0}
.tabmenu04 .tab01 a:hover, .tabmenu04 .tab01 strong { background:url(/images/common/menu/tab01_list_.gif) no-repeat}
.tabmenu04 .tab02 a, .tabmenu04 .tab02 strong { background:url(/images/common/menu/tab02_list.gif) no-repeat left top}
.tabmenu04 .tab02 a:hover, .tabmenu04 .tab02 strong { background:url(/images/common/menu/tab02_list_.gif) no-repeat}
.tabmenu04 .tab03 a, .tabmenu04 .tab03 strong { background:url(/images/common/menu/tab03_list.gif) no-repeat left top}
.tabmenu04 .tab03 a:hover, .tabmenu04 .tab03 strong { background:url(/images/common/menu/tab03_list_.gif) no-repeat}

.tabmenu05 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu05 li { display:inline; float:left}
.tabmenu05 li a, .tabmenu05 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu05 .tab01 a, .tabmenu05 .tab01 strong { background:url(/images/common/menu/tab01_with0103.gif) no-repeat left top; margin-left:0}
.tabmenu05 .tab01 a:hover, .tabmenu05 .tab01 strong { background:url(/images/common/menu/tab01_with0103_.gif) no-repeat}
.tabmenu05 .tab02 a, .tabmenu05 .tab02 strong { background:url(/images/common/menu/tab02_with0103.gif) no-repeat left top}
.tabmenu05 .tab02 a:hover, .tabmenu05 .tab02 strong { background:url(/images/common/menu/tab02_with0103_.gif) no-repeat}
.tabmenu05 .tab03 a, .tabmenu05 .tab03 strong { background:url(/images/common/menu/tab03_with0103.gif) no-repeat left top}
.tabmenu05 .tab03 a:hover, .tabmenu05 .tab03 strong { background:url(/images/common/menu/tab03_with0103_.gif) no-repeat}

.tabmenu06 { margin-bottom:20px; padding: 0 15px 4px 0; text-align:right; background:url(/research/images/line01_res.gif) left bottom repeat-x}
.tabmenu06 li { display:inline}

.tabmenu07 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu07 li { display:inline; float:left}
.tabmenu07 li a, .tabmenu07 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu07 .tab01 a, .tabmenu07 .tab01 strong { background:url(/images/common/menu/tab01_adm0801.gif) no-repeat left top; margin-left:0}
.tabmenu07 .tab01 a:hover, .tabmenu07 .tab01 strong { background:url(/images/common/menu/tab01_adm0801_.gif) no-repeat}
.tabmenu07 .tab02 a, .tabmenu07 .tab02 strong { background:url(/images/common/menu/tab02_adm0801.gif) no-repeat left top}
.tabmenu07 .tab02 a:hover, .tabmenu07 .tab02 strong { background:url(/images/common/menu/tab02_adm0801_.gif) no-repeat}
.tabmenu07 .tab03 a, .tabmenu07 .tab03 strong { width:145px; background:url(/images/common/menu/tab03_adm0801.gif) no-repeat left top}
.tabmenu07 .tab03 a:hover, .tabmenu07 .tab03 strong { background:url(/images/common/menu/tab03_adm0801_.gif) no-repeat}
.tabmenu07 .tab04 a, .tabmenu07 .tab04 strong { width:101px; background:url(/images/common/menu/tab04_adm0801.gif) no-repeat left top}
.tabmenu07 .tab04 a:hover, .tabmenu07 .tab04 strong { background:url(/images/common/menu/tab04_adm0801_.gif) no-repeat}
.tabmenu07 .tab05 a, .tabmenu07 .tab05 strong { width:144px; background:url(/images/common/menu/tab05_adm0801.gif) no-repeat left top}
.tabmenu07 .tab05 a:hover, .tabmenu07 .tab05 strong { background:url(/images/common/menu/tab05_adm0801_.gif) no-repeat}

.tabmenu08 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu08 li { display:inline; float:left}
.tabmenu08 li a, .tabmenu08 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu08 .tab01 a, .tabmenu08 .tab01 strong { background:url(/images/common/menu/tab01_adm0902.gif) no-repeat left top; margin-left:0}
.tabmenu08 .tab01 a:hover, .tabmenu08 .tab01 strong { background:url(/images/common/menu/tab01_adm0902_.gif) no-repeat}
.tabmenu08 .tab02 a, .tabmenu08 .tab02 strong { background:url(/images/common/menu/tab02_adm0902.gif) no-repeat left top}
.tabmenu08 .tab02 a:hover, .tabmenu08 .tab02 strong { background:url(/images/common/menu/tab02_adm0902_.gif) no-repeat}
.tabmenu08 .tab03 a, .tabmenu08 .tab03 strong { width:114px; background:url(/images/common/menu/tab03_adm0902.gif) no-repeat left top}
.tabmenu08 .tab03 a:hover, .tabmenu08 .tab03 strong { background:url(/images/common/menu/tab03_adm0902_.gif) no-repeat}
.tabmenu08 .tab04 a, .tabmenu08 .tab04 strong { background:url(/images/common/menu/tab04_adm0902.gif) no-repeat left top}
.tabmenu08 .tab04 a:hover, .tabmenu08 .tab04 strong { background:url(/images/common/menu/tab04_adm0902_.gif) no-repeat}
.tabmenu08 .tab05 a, .tabmenu08 .tab05 strong { background:url(/images/common/menu/tab05_adm0902.gif) no-repeat left top}
.tabmenu08 .tab05 a:hover, .tabmenu08 .tab05 strong { background:url(/images/common/menu/tab05_adm0902_.gif) no-repeat}
.tabmenu08 .tab06 a, .tabmenu08 .tab06 strong { background:url(/images/common/menu/tab06_adm0902.gif) no-repeat left top}
.tabmenu08 .tab06 a:hover, .tabmenu08 .tab06 strong { background:url(/images/common/menu/tab06_adm0902_.gif) no-repeat}
.tabmenu08 .tab07 a, .tabmenu08 .tab07 strong { background:url(/images/common/menu/tab07_adm0902.gif) no-repeat left top}
.tabmenu08 .tab07 a:hover, .tabmenu08 .tab07 strong { background:url(/images/common/menu/tab07_adm0902_.gif) no-repeat}

.tabmenu09 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu09 li { display:inline; float:left}
.tabmenu09 li a, .tabmenu09 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu09 .tab01 a, .tabmenu09 .tab01 strong { background:url(/images/common/menu/tab01_adm0201.gif) no-repeat left top; margin-left:0}
.tabmenu09 .tab01 a:hover, .tabmenu09 .tab01 strong { background:url(/images/common/menu/tab01_adm0201_.gif) no-repeat}
.tabmenu09 .tab02 a, .tabmenu09 .tab02 strong { width:143px; background:url(/images/common/menu/tab02_adm0201.gif) no-repeat left top}
.tabmenu09 .tab02 a:hover, .tabmenu09 .tab02 strong { background:url(/images/common/menu/tab02_adm0201_.gif) no-repeat}
.tabmenu09 .tab03 a, .tabmenu09 .tab03 strong { width:110px; background:url(/images/common/menu/tab03_adm0201.gif) no-repeat left top}
.tabmenu09 .tab03 a:hover, .tabmenu09 .tab03 strong { background:url(/images/common/menu/tab03_adm0201_.gif) no-repeat}
.tabmenu09 .tab04 a, .tabmenu09 .tab04 strong { width:146px; background:url(/images/common/menu/tab04_adm0201.gif) no-repeat left top}
.tabmenu09 .tab04 a:hover, .tabmenu09 .tab04 strong { background:url(/images/common/menu/tab04_adm0201_.gif) no-repeat}
.tabmenu09 .tab05 a, .tabmenu09 .tab05 strong { width:164px; background:url(/images/common/menu/tab05_adm0201.gif) no-repeat left top}
.tabmenu09 .tab05 a:hover, .tabmenu09 .tab05 strong { background:url(/images/common/menu/tab05_adm0201_.gif) no-repeat}
.tabmenu09 .tab06 a, .tabmenu09 .tab06 strong { background:url(/images/common/menu/tab06_adm0201.gif) no-repeat left top}
.tabmenu09 .tab06 a:hover, .tabmenu09 .tab06 strong { background:url(/images/common/menu/tab06_adm0201_.gif) no-repeat}
.tabmenu09 .tab07 a, .tabmenu09 .tab07 strong { background:url(/images/common/menu/tab07_adm0201.gif) no-repeat left top}
.tabmenu09 .tab07 a:hover, .tabmenu09 .tab07 strong { background:url(/images/common/menu/tab07_adm0201_.gif) no-repeat}

.tabmenu10 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu10 li { display:inline; float:left}
.tabmenu10 li a, .tabmenu10 li strong { display:block; position:relative; left:0; top:0; width:102px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu10 .tab01 a, .tabmenu10 .tab01 strong { width:122px; background:url(/images/common/menu/tab01_adm0404.gif) no-repeat left top; margin-left:0}
.tabmenu10 .tab01 a:hover, .tabmenu10 .tab01 strong { background:url(/images/common/menu/tab01_adm0404_.gif) no-repeat}
.tabmenu10 .tab02 a, .tabmenu10 .tab02 strong { width:122px; background:url(/images/common/menu/tab02_adm0404.gif) no-repeat left top}
.tabmenu10 .tab02 a:hover, .tabmenu10 .tab02 strong { background:url(/images/common/menu/tab02_adm0404_.gif) no-repeat}
.tabmenu10 .tab03 a, .tabmenu10 .tab03 strong { background:url(/images/common/menu/tab03_adm0404.gif) no-repeat left top}
.tabmenu10 .tab03 a:hover, .tabmenu10 .tab03 strong { background:url(/images/common/menu/tab03_adm0404_.gif) no-repeat}
.tabmenu10 .tab04 a, .tabmenu10 .tab04 strong { width:111px; background:url(/images/common/menu/tab04_adm0404.gif) no-repeat left top}
.tabmenu10 .tab04 a:hover, .tabmenu10 .tab04 strong { background:url(/images/common/menu/tab04_adm0404_.gif) no-repeat}
/*
.tabmenu10 .tab05 a, .tabmenu10 .tab05 strong { background:url(/images/common/menu/tab05_adm0404.gif) no-repeat left top}
.tabmenu10 .tab05 a:hover, .tabmenu10 .tab05 strong { background:url(/images/common/menu/tab05_adm0404_.gif) no-repeat}
*/

.tabmenu11 { overflow:hidden; height:65px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu11 li { display:inline; float:left; margin-bottom:5px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu11 li a, .tabmenu11 li strong { display:block; position:relative; left:0; top:0; width:160px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu11 .tab01 a, .tabmenu11 .tab01 strong { width:184px; background:url(/images/common/menu/tab01_adm0901.gif) no-repeat left top; margin-left:0}
.tabmenu11 .tab01 a:hover, .tabmenu11 .tab01 strong { background:url(/images/common/menu/tab01_adm0901_.gif) no-repeat}
.tabmenu11 .tab02 a, .tabmenu11 .tab02 strong { width:152px; background:url(/images/common/menu/tab02_adm0901.gif) no-repeat left top}
.tabmenu11 .tab02 a:hover, .tabmenu11 .tab02 strong { background:url(/images/common/menu/tab02_adm0901_.gif) no-repeat}
.tabmenu11 .tab03 a, .tabmenu11 .tab03 strong { background:url(/images/common/menu/tab03_adm0901.gif) no-repeat left top}
.tabmenu11 .tab03 a:hover, .tabmenu11 .tab03 strong { background:url(/images/common/menu/tab03_adm0901_.gif) no-repeat}
.tabmenu11 .tab04 a, .tabmenu11 .tab04 strong { background:url(/images/common/menu/tab04_adm0901.gif) no-repeat left top}
.tabmenu11 .tab04 a:hover, .tabmenu11 .tab04 strong { background:url(/images/common/menu/tab04_adm0901_.gif) no-repeat}
.tabmenu11 .tab05 a, .tabmenu11 .tab05 strong { width:141px; background:url(/images/common/menu/tab05_adm0901.gif) no-repeat left top; margin-left:0}
.tabmenu11 .tab05 a:hover, .tabmenu11 .tab05 strong { background:url(/images/common/menu/tab05_adm0901_.gif) no-repeat}
.tabmenu11 .tab06 a, .tabmenu11 .tab06 strong { width:171px; background:url(/images/common/menu/tab06_adm0901.gif) no-repeat left top}
.tabmenu11 .tab06 a:hover, .tabmenu11 .tab06 strong { background:url(/images/common/menu/tab06_adm0901_.gif) no-repeat}

.tabmenu12 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu12 li { display:inline; float:left}
.tabmenu12 li a, .tabmenu12 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu12 .tab01 a, .tabmenu12 .tab01 strong { background:url(/images/common/menu/tab01_ab0102.gif) no-repeat left top; margin-left:0}
.tabmenu12 .tab01 a:hover, .tabmenu12 .tab01 strong { background:url(/images/common/menu/tab01_ab0102_.gif) no-repeat}
.tabmenu12 .tab02 a, .tabmenu12 .tab02 strong { background:url(/images/common/menu/tab02_ab0102.gif) no-repeat left top}
.tabmenu12 .tab02 a:hover, .tabmenu12 .tab02 strong { background:url(/images/common/menu/tab02_ab0102_.gif) no-repeat}
.tabmenu12 .tab03 a, .tabmenu12 .tab03 strong { background:url(/images/common/menu/tab03_ab0102.gif) no-repeat left top}
.tabmenu12 .tab03 a:hover, .tabmenu12 .tab03 strong { background:url(/images/common/menu/tab03_ab0102_.gif) no-repeat}
.tabmenu12 .tab04 a, .tabmenu12 .tab04 strong { width:113px; background:url(/images/common/menu/tab04_ab0102.gif) no-repeat left top}
.tabmenu12 .tab04 a:hover, .tabmenu12 .tab04 strong { background:url(/images/common/menu/tab04_ab0102_.gif) no-repeat}

.tabmenu13 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu13 li { display:inline; float:left}
.tabmenu13 li a, .tabmenu13 li strong { display:block; position:relative; left:0; top:0; width:131px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu13 .tab01 a, .tabmenu13 .tab01 strong { background:url(/images/common/menu/tab01_ab0303.gif) no-repeat left top; margin-left:0}
.tabmenu13 .tab01 a:hover, .tabmenu13 .tab01 strong { background:url(/images/common/menu/tab01_ab0303_.gif) no-repeat}
.tabmenu13 .tab02 a, .tabmenu13 .tab02 strong { width:157px; background:url(/images/common/menu/tab02_ab0303.gif) no-repeat left top}
.tabmenu13 .tab02 a:hover, .tabmenu13 .tab02 strong { background:url(/images/common/menu/tab02_ab0303_.gif) no-repeat}

.tabmenu14 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu14 li { display:inline; float:left}
.tabmenu14 li a, .tabmenu14 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu14 .tab01 a, .tabmenu14 .tab01 strong { width:100px; background:url(/images/common/menu/tab01_ab0801.gif) no-repeat left top; margin-left:0}
.tabmenu14 .tab01 a:hover, .tabmenu14 .tab01 strong { background:url(/images/common/menu/tab01_ab0801_.gif) no-repeat}
.tabmenu14 .tab02 a, .tabmenu14 .tab02 strong { width:111px; background:url(/images/common/menu/tab02_ab0801.gif) no-repeat left top}
.tabmenu14 .tab02 a:hover, .tabmenu14 .tab02 strong { background:url(/images/common/menu/tab02_ab0801_.gif) no-repeat}
.tabmenu14 .tab03 a, .tabmenu14 .tab03 strong { background:url(/images/common/menu/tab03_ab0801.gif) no-repeat left top}
.tabmenu14 .tab03 a:hover, .tabmenu14 .tab03 strong { background:url(/images/common/menu/tab03_ab0801_.gif) no-repeat}
.tabmenu14 .tab04 a, .tabmenu14 .tab04 strong { width:112px; background:url(/images/common/menu/tab03_ab0901.gif) no-repeat left top}
.tabmenu14 .tab04 a:hover, .tabmenu14 .tab04 strong { width:112px; background:url(/images/common/menu/tab03_ab0901_.gif) no-repeat}

.tabmenu15 { overflow:hidden; height:23px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left 21px;}
.tabmenu15 li { display:inline; float:left}
.tabmenu15 li a, .tabmenu15 li strong { display:block; position:relative; left:0; top:0; width:84px; height:25px; margin-left:-1px; text-indent:-5000px; font-size:0}
.tabmenu15 .tab01 a, .tabmenu15 .tab01 strong { background:url(/images/common/menu/tab01_ab08011.gif) no-repeat left top; margin-left:0}
.tabmenu15 .tab01 a:hover, .tabmenu15 .tab01 strong { background:url(/images/common/menu/tab01_ab08011_.gif) no-repeat}
.tabmenu15 .tab02 a, .tabmenu15 .tab02 strong { background:url(/images/common/menu/tab02_ab08011.gif) no-repeat left top}
.tabmenu15 .tab02 a:hover, .tabmenu15 .tab02 strong { background:url(/images/common/menu/tab02_ab08011_.gif) no-repeat}
.tabmenu15 .tab03 a, .tabmenu15 .tab03 strong { background:url(/images/common/menu/tab03_ab08011.gif) no-repeat left top}
.tabmenu15 .tab03 a:hover, .tabmenu15 .tab03 strong { background:url(/images/common/menu/tab03_ab08011_.gif) no-repeat}
.tabmenu15 .tab04 a, .tabmenu15 .tab04 strong { background:url(/images/common/menu/tab04_ab08011.gif) no-repeat left top}
.tabmenu15 .tab04 a:hover, .tabmenu15 .tab04 strong { background:url(/images/common/menu/tab04_ab08011_.gif) no-repeat}
.tabmenu15 .tab05 a, .tabmenu15 .tab05 strong { width:116px; background:url(/images/common/menu/tab05_ab08011.gif) no-repeat left top; margin-left:0}
.tabmenu15 .tab05 a:hover, .tabmenu15 .tab05 strong { background:url(/images/common/menu/tab05_ab08011_.gif) no-repeat}
.tabmenu15 .tab06 a, .tabmenu15 .tab06 strong { width:86px; background:url(/images/common/menu/tab06_ab08011.gif) no-repeat left top}
.tabmenu15 .tab06 a:hover, .tabmenu15 .tab06 strong { background:url(/images/common/menu/tab06_ab08011_.gif) no-repeat}
.tabmenu15 .tab07 a, .tabmenu15 .tab07 strong { width:116px; background:url(/images/common/menu/tab07_ab08011.gif) no-repeat left top}
.tabmenu15 .tab07 a:hover, .tabmenu15 .tab07 strong { background:url(/images/common/menu/tab07_ab08011_.gif) no-repeat}
.tabmenu15 .tab08 a, .tabmenu15 .tab08 strong { width:141px; background:url(/images/common/menu/tab08_ab08011.gif) no-repeat left top}
.tabmenu15 .tab08 a:hover, .tabmenu15 .tab08 strong { background:url(/images/common/menu/tab08_ab08011_.gif) no-repeat}
.tabmenu15 .tab09 a, .tabmenu15 .tab09 strong { width:96px; background:url(/images/common/menu/tab09_ab08011.gif) no-repeat left top; margin-left:0}
.tabmenu15 .tab09 a:hover, .tabmenu15 .tab09 strong { background:url(/images/common/menu/tab09_ab08011_.gif) no-repeat}
.tabmenu15 .tab10 a, .tabmenu15 .tab10 strong { width:75px; background:url(/images/common/menu/tab10_ab08011.gif) no-repeat left top}
.tabmenu15 .tab10 a:hover, .tabmenu15 .tab10 strong { background:url(/images/common/menu/tab10_ab08011_.gif) no-repeat}
.tabmenu15 .tab11 a, .tabmenu15 .tab11 strong { width:152px; background:url(/images/common/menu/tab11_ab08011.gif) no-repeat left top}
.tabmenu15 .tab11 a:hover, .tabmenu15 .tab11 strong { background:url(/images/common/menu/tab11_ab08011_.gif) no-repeat}

.tabmenu16 { overflow:hidden; height:30px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu16 li { display:inline; float:left}
.tabmenu16 li a, .tabmenu16 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu16 .tab01 a, .tabmenu16 .tab01 strong { background:url(/images/common/menu/tab01_ab0105.gif) no-repeat left top;}
.tabmenu16 .tab01 a:hover, .tabmenu16 .tab01 strong { background:url(/images/common/menu/tab01_ab0105_.gif) no-repeat}
.tabmenu16 .tab02 a, .tabmenu16 .tab02 strong { background:url(/images/common/menu/tab02_ab0105.gif) no-repeat left top}
.tabmenu16 .tab02 a:hover, .tabmenu16 .tab02 strong { background:url(/images/common/menu/tab02_ab0105_.gif) no-repeat}
.tabmenu16 .tab03 a, .tabmenu16 .tab03 strong { background:url(/images/common/menu/tab03_ab0105.gif) no-repeat left top}
.tabmenu16 .tab03 a:hover, .tabmenu16 .tab03 strong { background:url(/images/common/menu/tab03_ab0105_.gif) no-repeat}
.tabmenu16 .tab04 a, .tabmenu16 .tab04 strong { background:url(/images/common/menu/tab04_ab0105.gif) no-repeat left top}
.tabmenu16 .tab04 a:hover, .tabmenu16 .tab04 strong { background:url(/images/common/menu/tab04_ab0105_.gif) no-repeat}

.tabmenu16 .tab2013 a, .tabmenu16 .tab2013 strong { background:url(/images/common/menu/tab01_ab2013.gif) no-repeat left top; margin-left:0}
.tabmenu16 .tab2013 a:hover, .tabmenu16 .tab2013 strong { background:url(/images/common/menu/tab01_ab2013_.gif) no-repeat}

.tabmenu16 .tab2015 a, .tabmenu16 .tab2015 strong { background:url(/images/common/menu/tab01_ab2015.gif) no-repeat left top; margin-left:0}
.tabmenu16 .tab2015 a:hover, .tabmenu16 .tab2015 strong { background:url(/images/common/menu/tab01_ab2015_.gif) no-repeat}

.tabmenu17 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu17 li { display:inline; float:left}
.tabmenu17 li a, .tabmenu17 li strong { display:block; position:relative; left:0; top:0; width:90px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu17 .tab01 a, .tabmenu17 .tab01 strong { width:57px; background:url(/images/common/menu/tab01_edu0306.gif) no-repeat left top; margin-left:0}
.tabmenu17 .tab01 a:hover, .tabmenu17 .tab01 strong { background:url(/images/common/menu/tab01_edu0306_.gif) no-repeat}
.tabmenu17 .tab02 a, .tabmenu17 .tab02 strong { width:69px; background:url(/images/common/menu/tab02_edu0306.gif) no-repeat left top}
.tabmenu17 .tab02 a:hover, .tabmenu17 .tab02 strong { background:url(/images/common/menu/tab02_edu0306_.gif) no-repeat}
.tabmenu17 .tab03 a, .tabmenu17 .tab03 strong { width:59px; background:url(/images/common/menu/tab03_edu0306.gif) no-repeat left top}
.tabmenu17 .tab03 a:hover, .tabmenu17 .tab03 strong { background:url(/images/common/menu/tab03_edu0306_.gif) no-repeat}
.tabmenu17 .tab04 a, .tabmenu17 .tab04 strong { width:84px; background:url(/images/common/menu/tab04_edu0306.gif) no-repeat left top}
.tabmenu17 .tab04 a:hover, .tabmenu17 .tab04 strong { background:url(/images/common/menu/tab04_edu0306_.gif) no-repeat}
.tabmenu17 .tab05 a, .tabmenu17 .tab05 strong { width:147px; background:url(/images/common/menu/tab05_edu0306.gif) no-repeat left top}
.tabmenu17 .tab05 a:hover, .tabmenu17 .tab05 strong { background:url(/images/common/menu/tab05_edu0306_.gif) no-repeat}
.tabmenu17 .tab06 a, .tabmenu17 .tab06 strong { background:url(/images/common/menu/tab06_edu0306.gif) no-repeat left top}
.tabmenu17 .tab06 a:hover, .tabmenu17 .tab06 strong { background:url(/images/common/menu/tab06_edu0306_.gif) no-repeat}
.tabmenu17 .tab07 a, .tabmenu17 .tab07 strong { width:111px; background:url(/images/common/menu/tab07_edu0306.gif) no-repeat left top}
.tabmenu17 .tab07 a:hover, .tabmenu17 .tab07 strong { background:url(/images/common/menu/tab07_edu0306_.gif) no-repeat}

/*계약학과*/
.tabmenu18 { overflow:hidden; height:30px; margin-bottom:20px; background:url(/images/common/background/bg_tabmenu.gif) repeat-x left bottom}
.tabmenu18 li { display:inline; float:left}
.tabmenu18 li a, .tabmenu18 li strong { display:block; position:relative; left:0; top:0; width:102px; height:30px; margin-left:1px; text-indent:-5000px; font-size:0}
.tabmenu18 .tab01 a, .tabmenu18 .tab01 strong { width:122px; background:url(/images/common/menu/tab01_adm0405.gif) no-repeat left top; margin-left:0}
.tabmenu18 .tab01 a:hover, .tabmenu18 .tab01 strong { background:url(/images/common/menu/tab01_adm0405_.gif) no-repeat}
.tabmenu18 .tab02 a, .tabmenu18 .tab02 strong { width:122px; background:url(/images/common/menu/tab02_adm0405.gif) no-repeat left top}
.tabmenu18 .tab02 a:hover, .tabmenu18 .tab02 strong { background:url(/images/common/menu/tab02_adm0405_.gif) no-repeat}



/* history */
.history{ line-height:1.7em}
.history li{ position:relative; overflow:hidden; height:100%; padding-top:10px; background:url(/images/common/background/bg02_history.gif) left top repeat-x}
.history li.li01 { background:url(/images/common/background/bg01_history.gif) left top no-repeat}
.history strong{ display:block; float:left; width:66px; margin:10px 14px 0 0; padding:12px 0 12px 60px; background:#eae7e1}
.history dl{ float:left; width:510px; margin-top:10px; padding-bottom:12px; color:#4b4b4b}
.history dt{ float:left; padding-left:9px; background:url(/images/common/background/bg03_history.gif) left 6px no-repeat}
.history dd{ margin-left:54px}
.history li a.top{ position:absolute; top:0; right:17px}
.history li a.top img { vertical-align:top}
.str_dt dt{ font-weight:bold}

.history02{ overflow:hidden; height:100%; padding:0 0 24px 20px}
.history02 img{ vertical-align:top}
.history02 .hisl{ float:left; width:178px}
.history02 .hisl ul{ overflow:hidden; width:178px}
.history02 .hisl ul li{ float:left; width:35px; height:35px; margin:0 5px 5px 0; border:1px solid #b7b7b7}
.history02 .hisl ul.page_his{ text-align:center; padding-top:3px}
.history02 .hisl ul.page_his li{ float:none; display:inline; margin:0; border:none}
.history02 .hisl ul.page_his strong{ color:#f76f1d}
.history02 .hisl ul.page_his a{ color:#4b4b4b}
.history02 .hisl ul.page_his a:hover{ color:#f76f1d; text-decoration:none}
.history02 .his2{ float:left}
.history02 .his2 div{ position:relative; width:437px; height:289px}
.history02 .his2 div img{ border:1px solid #998972; vertical-align:top}
.history02 .his2 div p{ position:absolute; left:0; bottom:0; width:100%; padding-top:2px; color:#feffff; font-size:0.917em; background-color:#958973; text-align:center; vertical-align:top; font-weight:bold; line-height:1.7em}
.history02 .his2 ul{ text-align:center; padding-top:6px; line-height:1em}
.history02 .his2 ul li{ display:inline; margin-right:16px}

.history03{ overflow:hidden}
.history03 h3{ margin:0 0 11px 5px; font-size:1.333em}
.history03 .hisl{ float:right; width:122px;}
.ul_his{ overflow:hidden}
.ul_his li{ float:left; width:37px; padding:0 0 3px 3px;}
.ul_his li img{ width:37px; height:37px}

.history03 .paging{ float:left; width:126px; text-align:center; height:30px; margin-top:5px; line-height:30px; border-top:1px solid #cccccc;}
.history03 .paging a{color:#4b4b4b; padding:0px 4px;}
.history03 .paging a.sele{ font-weight:bold;}



.history03 .page_his03{ clear:both;text-align:center; margin:7px 0 0 3px; padding-top:5px; border-top:1px solid #e1e1e1}
.history03 .page_his03 li{ display:inline; margin-right:5px}
.history03 .page_his03 li a{ color:#4b4b4b}
.history03 .page_his03 li a:hover{ color:#1552a6; text-decoration:none}
.history03 .hisr{ float:left; width:525px}
.his_img{ margin-bottom:9px}
.his_img img{ border:3px solid #eeeced}

/* subject */
.subject{ overflow:hidden; height:100%; margin:18px 0 27px 0; padding:7px 0 4px 17px; border:1px solid #cedcef; background:#f7fafe}
.subject.zd_mb{margin:18px 0 0px 0;}
.subject li{ float:left; width:81px; margin:0 0 7px 0; padding-left:10px; background:url(/images/common/background/bg01_text.gif) no-repeat left 7px; color:#404853}
.subject li a{ color:#404853}
.subject li a:hover, .subject li strong{ color:#1552a6; font-weight:normal; text-decoration:none; letter-spacing:0px}
.subject.liauto li { width:auto; margin-right:10px}
.subject li.li01{ width:170px}
.subject li.li03{ width:185px}
.subject li.li04{ width:100px}
.subject li.li05{ width:165px}
.subject li.li06{ width:120px}

/* education */
.edu01{ overflow:hidden; height:100%; padding-top:1px; border-top:1px solid #cdcbcb; border-bottom:2px solid #e2e2e2}
.edu01 dt{ float:left; width:128px; padding:4px 0 5px 10px; border-bottom:1px solid #fff; background:#aec4e0; font-weight:bold; letter-spacing:-1px}
.edu01 dt.dt01{ padding:4px 0 23px 10px}
.edu01 dd{ float:left; width:519px; padding:4px 0 5px 0; border-bottom:1px solid #e2e2e2}
.edu01 dd.dd01{ border-bottom:none}
.edu01 dd ul{ margin-left:18px}
.edu01 dd ul li{ float:left; width:70px; padding-left:10px; background:url(/images/common/background/bg01_text.gif) left 7px no-repeat}
.edu01 dd ul li.li01{ width:100px}
.edu01 dd ul.ul01 li{ width:110px}
.edu01 dd ul.ul02 li{ width:150px}
.edu01 dd ul li a{ color:#4b4b4b}
.edu01 dd ul li a:hover, .edu01 dd ul li strong{ color:#1552a6; text-decoration:none}
.edu_text01{ margin-top:8px; background:url(/images/common/background/bg01_edu.gif) 320px 3px no-repeat; text-align:right}
.edu_text02{ margin-top:12px}
.edu_text03{ margin-left:18px}

.edu02 h3{ padding:0 0 5px 13px; border-bottom:1px solid #d1d2cc; background:url(/images/common/background/bg02_edu.gif) left 4px no-repeat; color:#926ca7}
.edu02 h4{ padding:10px 0 0 15px;background:url(/images/common/background/bg03_edu.gif) 2px 10px no-repeat}
.edu02 h5{ margin:18px 0 2px 0; padding-left:14px; background:url(/images/common/background/bg01_title.gif) left 2px no-repeat; color:#00397f}
.edu02 p.text01{ margin-top:13px; padding:5px 0 5px 18px; background:#f2eef5; color:#787678; font-weight:bold}
.edu02 ul{ margin-left:12px; word-spacing:-1px}
.edu02 ul li{padding-left:10px; background:url(/images/common/background/bg01_text.gif) left 6px no-repeat}
.edu02 ul li ul{ margin-left:0}
.edu02 ul li ul li{ background:url(/images/common/background/bg02_text.gif) left 6px no-repeat}
.edu_top{ width:634px; margin-top:17px; padding-left:15px; background:url(/images/common/background/bg_top_edu.gif) left bottom no-repeat}
.edu_mid{ background:url(/images/common/background/bg_mid_edu.gif) left top repeat-y; color:#815599}
.edu_mid p{ padding:8px 40px 0 22px}
.edu_btm{ height:7px; background:url(/images/common/background/bg_btm_edu.gif) left top no-repeat; font-size:0}

/* player */
.player{ position:relative; width:660px; overflow:hidden}
.player .plal{ float:left; width:506px; margin-right:10px}
.player .plal_top{ padding:11px 10px 3px 13px; background:url(/images/common/background/bg01_fls.jpg) left top no-repeat}
.player .plal p{ padding:9px 0 13px 28px; background:url(/images/common/background/bg02_fls.jpg) left top no-repeat}
.player .plar{ float:left; width:144px; height:245px; vertical-align:top; color:#666}
.player .plar h4{ margin:10px 0 6px 0; font-size:1.33em; letter-spacing:-2px; line-height:1.3em}
.player .plar strong{ color:#1552a6}
.player .plar p{ line-height:1.3em; letter-spacing:-1px}
.player .plar ul{ position:absolute; left:516px; bottom:5px; z-index:2}
.player .plar ul li{ margin-top:8px}
.txtr{ width:462px; height:125px; overflow:auto; margin-top:10px; padding:10px 30px 10px 10px; border:1px solid #eaeaea; color:#666666; line-height:1.5em}
.txtr p{ margin-top:18px}
.txtr strong{ display:block}

/* menu3_with */
.menu3_with { float:left; display:inline; width:197px; padding-bottom:120px; margin-right:23px; background:url(/images/board/background/bbg_with.gif) left bottom no-repeat}
.menu3_with span { display:block; height:6px; background:url(/images/board/background/tbg_with.gif) no-repeat}
.menu3_with ul { padding:14px 0 45px 0; border-left:1px solid #ccc; border-right:1px solid #ccc}
.menu3_with ul li { margin-right:16px; border-bottom:1px solid #ccc}
.menu3_with ul li.end { border-bottom:0}
.menu3_with ul li a:link, .menu3_with ul li a:visited{ padding:8px 0 10px 33px; display:block; color:#4b4b4b; text-decoration:none; line-height:1; background:url(/images/board/ico/list01_with.gif) 18px 10px no-repeat}
.menu3_with ul li a:hover, .menu3_with ul li a:focus, .menu3_with ul li a:active { color:#f60}
.menu3_with ul li.on a { color:#597903; font-weight:bold}
.menu3_with ul li ul {padding:0; border:0}
.menu3_with ul li ul li { border:0}
.menu3_with ul li ul li a:link, .menu3_with ul li ul li a:visited { padding:0 0 10px 41px; background:url(/images/board/ico/list02_with.gif) 35px 5px no-repeat; border:0}
.box2_with { float:left; display:inline; width:440px; position:relative}
.box_withright{ width:200px; float:left; margin-left:20px}

/* */
.text_ol01 { padding-left:20px}
.text_ol01 ol {margin-left:40px; list-style:decimal}
.text_ol01 h4 { margin:12px 0 0 -10px}

/* login */
.login_mem{ position:relative; width:660px; padding:20px 0 14px 0; background:#f7fafe; border:1px solid #cedcef}
.login_mem div{ width:380px; margin:0 auto; overflow:hidden; padding-top:2px}
.login_mem ul{ float:left}
.login_mem li{ position:relative; width:276px; height:24px; padding-left:50px}
.login_mem li.w300{ width:300px; }
.login_mem li strong{ position:absolute; top:0; left:0; display:block; width:40px; text-align:right}
.login_mem p{ float:left; position:relative; top:-2px}
.login_mem p img{ vertical-align:top}

.txt04{ width:266px; height:16px; border:1px solid #ddd}
.txt05{ width:123px; height:16px; border:1px solid #ddd}
.hr01{ height:2px; margin:16px 0 14px 0; font-size:0; background:url(/member/images/bg02_mem.gif) repeat-x left top}

/* header_adm */
.header_adm { padding-left:50px; margin-bottom:20px; overflow:hidden; height:100%}
.header_adm img { float:left}
.header_adm ul { float:left; margin:7px 0 0 15px; width:431px}
.header_adm ul li { position:relative; padding:4px 0; background:url(/images/common/background/line01_adm.gif) left center repeat-x; line-height:1}
.header_adm ul li a { padding: 0 14px 0 15px; background:url(/images/common/ico/ico01_adm.gif) left 2px no-repeat #fff; color:#4b4b4b}
.header_adm ul li a:hover, .header_adm ul li a:focus, .header_adm ul li a:active{ color:#1552a6; text-decoration:none}
.header_adm ul li span { position:absolute; right:0; top:4px; width:11px; height:11px; display:inline-table; background:url(/images/common/ico/ico02_adm.gif) no-repeat}

/* FAQ_text adm0901*/
.faqlist{ font-family:"돋움","돋움체","Verdana","Arial"; color:#4b4b4b}
.faqlist h3{ margin:15px 0 0 0; padding:0 0 0 35px; background:url(/images/common/ico/ico02_faq.gif) no-repeat 18px 3px; font-size:1.333em; color:#1552a6}
.faqlist p{ margin:23px 0 -30px 0; color:#1552a6}
.faqlist p.delmar{ margin-bottom:0px}
.faqlist h4{ margin:30px 0 7px 0; padding:0 0 0 37px; background:url(/images/common/ico/ico01_faq.gif) no-repeat 16px 0; color:#1552a6}
.faqlist h4.delmar{ margin:23px 0 7px 0}
.faqlist dl{ border-bottom:19px solid #5d8bca; line-height:1.7}
.faqlist dl.addmar{ margin:23px 0 0 0}
.faqlist dl dt{ padding:8px 20px 9px 48px; background:url(/images/common/ico/ico_q_faq.gif) no-repeat 12px top; border-top:19px solid #c5c5c5}
.faqlist dl dd{ padding:8px 20px 9px 48px; background:#f7fafe}
.faqlist dl dd .mar20{ margin-top:20px}
.faqlist dl dd .mar20 p{ margin:0}
.faqlist dl dd .mar20 ul li ul li{ padding-left:10px}
.faqlist dl dd .mar20 ul li ul li.first{ padding:0}
.faqlist dl dd .mar10{ margin-top:10px}
.faqlist dl dd p{ margin:20px 0 0 0; color:#4b4b4b}
.faqlist dl dd h5{ font-weight:normal}
.faqlist dl dd h5.txtbold{ font-weight:bold}
.faqlist dl dd p.colorA4C44D{ margin-top:10px; color:#A4C44D}
.faqlist dl dd .info{ border-collapse:collapse}
.faqlist dl dd .info .bg{ background:#d6e1b9}
.faqlist dl dd .info th{ font-weight:normal; border:1px solid #6d6e71}
.faqlist dl dd .info td{ text-align:center; border:1px solid #6d6e71}
.faqlist dl dd .info.bor{ border:1px solid #6d6e71}
.faqlist dl dd .info.bor th{ border:none}
.faqlist dl dd .info.bor td{ border:none}
.faqlist dl dd .info td.left{ padding:0 0 0 5px; text-align:left}

/* ul_adm */
.ul_adm{ margin:1px 0 0 12px}
.ul_adm li{ position:relative; width:615px; padding-left:15px; line-height:1.5em}
.ul_adm li span{ position:absolute; top:0; left:0}
.c_m{ margin:17px 0 0 20px}
.c_m02{ margin:15px 0 0 20px}
.c_ul{ margin-bottom:15px}
.c_ul li{ padding-left:0!important}
.c_m03{ margin:20px 0 20px 0}

.ul02_adm{ margin-left:35px}
.ul02_adm li{ position:relative; width:608px; padding-left:12px}
.ul02_adm li span{ position:absolute; top:0; left:0}

.ul03_adm{ margin:15px 0 0 34px}
.ul03_adm ul{ overflow:hidden}
.ul03_adm ul li{ position:relative; width:555px; padding-left:15px; margin-bottom:15px}
.ul03_adm ul li span{ position:absolute; left:0; top:0}
.ul03_adm ul em{ text-decoration:underline}
.ul03_adm table{ width:540px; margin-top:0}

/* dl_adm */
.p_adm{ margin:16px 0 0 12px}
.dl_adm{ margin-left:24px}
.dl_adm dt{ clear:left; float:left; margin-right:5px}
.dl_adm dd{ display:table}

/* p_adm */
.p01_adm{ margin:15px 0 0 20px}
.p02_adm{ position:relative; width:606px; margin:16px 0 0 22px; padding-left:14px; line-height:1.5em}
.p02_adm span{ position:absolute; top:0; left:0; vertical-align:top}
.p03_adm{ position:relative; width:570px; padding-left:11px; line-height:1.5em}

/* button */
.btn_member input,
.btn_member02 input{ width:77px; height:26px; border:1px solid #789ed3; background:#5d8bca; color:#fff; cursor:pointer}
.btn_member02 { margin-top:16px; text-align:center}

.btn_member03 input {width:150px; height:26px; border:1px solid #789ed3; background:#5d8bca; color:#fff; cursor:pointer}


.nodisplay { display:none; }

.footerlink a:link,
.footerlink a:visited,
.footerlink a:hover,
.footerlink a:focus{ color:#00397f}


ul.biglinkbox { margin:20px 0; clear:left; }
ul.biglinkbox li { padding:10px; display:inline; border:1px solid #5d8bca; font-weight:bold; font-size:20px; font-family:NanumGothic, 나눔고딕, Nanum, dotum, 굴림;}
ul.biglinkbox li span { color:#1552a6; }

/*게시판 경고*/
.bbsment {color:#b20000}



/* paging */
.paginate_complex{padding:20px 0;line-height:normal;text-align:center;  }
.researchpage .paginate_complex { width:480px; display:inline-block; }
.researchpage .paging { float:right;width:170px;}
.researchpage .btn_write { top:20px !important; width:170px;}
.researchpage .btn_write a { display:inline-block !important; float:right;margin-left:5px;}
.paginate_complex a{display:inline-block;color:#494949;position:relative;z-index:2;margin:0 -3px;padding:1px 8px; width:15px; background-color:#fff;font:12px/16px Tahoma, Sans-serif;text-decoration:none;vertical-align:top;text-align:center;}
.paginate_complex a:hover,.paginate_complex a:active,.paginate_complex a:focus{background-color:#f8f8f8}

.paginate_complex a.sele{z-index:2;margin:0 -3px;padding:1px 8px;background-color:#fff;font:12px/16px Tahoma, Sans-serif;font-weight:bold;text-decoration:none;vertical-align:top;}

.paginate_complex .direction{border:0;font-weight:normal;color:#767676;text-decoration:none !important;z-index:1}
.paginate_complex .direction:hover,.paginate_complex .direction:active,.paginate_complex .direction:focus{color:#323232;background-color:#fff; width:20px;}
.paginate_complex .prev{ width:30px !important;border-left:0}
.paginate_complex .next{ width:30px !important;border-right:0}
.paginate_complex .direction span{display:inline-block;position:relative;top:4px;width:0;height:0;font-size:0;line-height:0;vertical-align:top}
*html .paginate_complex .prev{ width:40px !important; padding:0px 10px; }
*html .paginate_complex .next{ width:40px !important; padding:0px 10px;}
.paginate_complex .prev span{*left:-4px;margin-right:1px;}
.paginate_complex .next span{margin-left:1px;}

.paginate_complex a {/* border:1px solid red; */}
.paginate_complex a.p_first {width:20px; height:15px; background:url(../images/common/ico_first.gif) left 3px no-repeat; text-indent:-5000px; }
.paginate_complex a.p_prev {width:20px; height:15px; background:url(../images/common/ico_prev.gif) left 3px no-repeat; text-indent:-5000px; }
.paginate_complex a.p_next {width:15px; height:15px; background:url(../images/common/ico_next.gif) right 3px no-repeat; text-indent:-5000px; }
.paginate_complex a.p_last {width:15px; height:15px; background:url(../images/common/ico_last.gif) right 3px no-repeat; text-indent:-5000px; }

.datecheck { width:70px !important; }
.datearea { float:right; }
.datearea li { float:left; }
.datearea li.space { padding:0 2px; }
.calendar { width:70px; text-align:center; cursor:default;  }
.calendaricon { border:0px solid red; cursor:pointer; display:inline-block !important; width:20px; height:18px; margin:3px 0 0 2px; background:url(../images/common/icon_calendar.gif) left 0px no-repeat; text-indent:-5000px !important; }


/* file type icon */
.file_ace {display:inline-block; padding-left:20px; background:url(../images/filetype/ace.gif) left top no-repeat;}
.file_c {display:inline-block; padding-left:20px; background:url(../images/filetype/c.gif) left top no-repeat;}
.file_doc {display:inline-block; padding-left:20px; background:url(../images/filetype/doc.gif) left top no-repeat;}
.file_docx {display:inline-block; padding-left:20px; background:url(../images/filetype/docx.gif) left top no-repeat;}
.file_hlp {display:inline-block; padding-left:20px; background:url(../images/filetype/hlp.gif) left top no-repeat;}
.file_ins {display:inline-block; padding-left:20px; background:url(../images/filetype/ins.gif) left top no-repeat;}
.file_mdb {display:inline-block; padding-left:20px; background:url(../images/filetype/mdb.gif) left top no-repeat;}
.file_pdf {display:inline-block; padding-left:20px; background:url(../images/filetype/pdf.gif) left top no-repeat;}
.file_rar {display:inline-block; padding-left:20px; background:url(../images/filetype/rar.gif) left top no-repeat;}
.file_tiff {display:inline-block; padding-left:20px; background:url(../images/filetype/tiff.gif) left top no-repeat;}
.file_wma {display:inline-block; padding-left:20px; background:url(../images/filetype/wma.gif) left top no-repeat;}
.file_arj {display:inline-block; padding-left:20px; background:url(../images/filetype/arj.gif) left top no-repeat;}
.file_cab {display:inline-block; padding-left:20px; background:url(../images/filetype/cab.gif) left top no-repeat;}
.file_eps {display:inline-block; padding-left:20px; background:url(../images/filetype/eps.gif) left top no-repeat;}
.file_home {display:inline-block; padding-left:20px; background:url(../images/filetype/home.gif) left top no-repeat;}
.file_jpe {display:inline-block; padding-left:20px; background:url(../images/filetype/jpe.gif) left top no-repeat;}
.file_mid {display:inline-block; padding-left:20px; background:url(../images/filetype/mid.gif) left top no-repeat;}
.file_png {display:inline-block; padding-left:20px; background:url(../images/filetype/png.gif) left top no-repeat;}
.file_re {display:inline-block; padding-left:20px; background:url(../images/filetype/re.gif) left top no-repeat;}
.file_title {display:inline-block; padding-left:20px; background:url(../images/filetype/title.gif) left top no-repeat;}
.file_xls {display:inline-block; padding-left:20px; background:url(../images/filetype/xls.gif) left top no-repeat;}
.file_xlsx {display:inline-block; padding-left:20px; background:url(../images/filetype/xlsx.gif) left top no-repeat;}
.file_asf {display:inline-block; padding-left:20px; background:url(../images/filetype/asf.gif) left top no-repeat;}
.file_cer {display:inline-block; padding-left:20px; background:url(../images/filetype/cer.gif) left top no-repeat;}
.file_exe {display:inline-block; padding-left:20px; background:url(../images/filetype/exe.gif) left top no-repeat;}
.file_hpp {display:inline-block; padding-left:20px; background:url(../images/filetype/hpp.gif) left top no-repeat;}
.file_jpeg {display:inline-block; padding-left:20px; background:url(../images/filetype/jpeg.gif) left top no-repeat;}
.file_mov {display:inline-block; padding-left:20px; background:url(../images/filetype/mov.gif) left top no-repeat;}
.file_ppt {display:inline-block; padding-left:20px; background:url(../images/filetype/ppt.gif) left top no-repeat;}
.file_pptx {display:inline-block; padding-left:20px; background:url(../images/filetype/pptx.gif) left top no-repeat;}
.file_rm {display:inline-block; padding-left:20px; background:url(../images/filetype/rm.gif) left top no-repeat;}
.file_txt {display:inline-block; padding-left:20px; background:url(../images/filetype/txt.gif) left top no-repeat;}
.file_z {display:inline-block; padding-left:20px; background:url(../images/filetype/z.gif) left top no-repeat;}
.file_asp {display:inline-block; padding-left:20px; background:url(../images/filetype/asp.gif) left top no-repeat;}
.file_aspx {display:inline-block; padding-left:20px; background:url(../images/filetype/asp.gif) left top no-repeat;}
.file_chk {display:inline-block; padding-left:20px; background:url(../images/filetype/chk.gif) left top no-repeat;}
.file_fla {display:inline-block; padding-left:20px; background:url(../images/filetype/fla.gif) left top no-repeat;}
.file_htm {display:inline-block; padding-left:20px; background:url(../images/filetype/htm.gif) left top no-repeat;}
.file_jpg {display:inline-block; padding-left:20px; background:url(../images/filetype/jpg.gif) left top no-repeat;}
.file_mp3 {display:inline-block; padding-left:20px; background:url(../images/filetype/mp3.gif) left top no-repeat;}
.file_ps {display:inline-block; padding-left:20px; background:url(../images/filetype/ps.gif) left top no-repeat;}
.file_swf {display:inline-block; padding-left:20px; background:url(../images/filetype/swf.gif) left top no-repeat;}
.file_unknown {display:inline-block; padding-left:20px; background:url(../images/filetype/unknown.gif) left 3px no-repeat;}
.file_zip {display:inline-block; padding-left:20px; background:url(../images/filetype/zip.gif) left top no-repeat;}
.file_au {display:inline-block; padding-left:20px; background:url(../images/filetype/au.gif) left top no-repeat;}
.file_chm {display:inline-block; padding-left:20px; background:url(../images/filetype/chm.gif) left top no-repeat;}
.file_gif {display:inline-block; padding-left:20px; background:url(../images/filetype/gif.gif) left top no-repeat;}
.file_html {display:inline-block; padding-left:20px; background:url(../images/filetype/html.gif) left top no-repeat;}
.file_js {display:inline-block; padding-left:20px; background:url(../images/filetype/js.gif) left top no-repeat;}
.file_mpeg {display:inline-block; padding-left:20px; background:url(../images/filetype/mpeg.gif) left top no-repeat;}
.file_psd {display:inline-block; padding-left:20px; background:url(../images/filetype/psd.gif) left top no-repeat;}
.file_tar {display:inline-block; padding-left:20px; background:url(../images/filetype/tar.gif) left top no-repeat;}
.file_vbs {display:inline-block; padding-left:20px; background:url(../images/filetype/vbs.gif) left top no-repeat;}
.file_avi {display:inline-block; padding-left:20px; background:url(../images/filetype/avi.gif) left top no-repeat;}
.file_cpp {display:inline-block; padding-left:20px; background:url(../images/filetype/cpp.gif) left top no-repeat;}
.file_gz {display:inline-block; padding-left:20px; background:url(../images/filetype/gz.gif) left top no-repeat;}
.file_hwp {display:inline-block; padding-left:20px; background:url(../images/filetype/hwp.gif) left top no-repeat;}
.file_key {display:inline-block; padding-left:20px; background:url(../images/filetype/key.gif) left top no-repeat;}
.file_mpg {display:inline-block; padding-left:20px; background:url(../images/filetype/mpg.gif) left top no-repeat;}
.file_ra {display:inline-block; padding-left:20px; background:url(../images/filetype/ra.gif) left top no-repeat;}
.file_tgz {display:inline-block; padding-left:20px; background:url(../images/filetype/tgz.gif) left top no-repeat;}
.file_vcf {display:inline-block; padding-left:20px; background:url(../images/filetype/vcf.gif) left top no-repeat;}
.file_bmp {display:inline-block; padding-left:20px; background:url(../images/filetype/bmp.gif) left top no-repeat;}
.file_crt {display:inline-block; padding-left:20px; background:url(../images/filetype/crt.gif) left top no-repeat;}
.file_h {display:inline-block; padding-left:20px; background:url(../images/filetype/h.gif) left top no-repeat;}
.file_ini {display:inline-block; padding-left:20px; background:url(../images/filetype/ini.gif) left top no-repeat;}
.file_lzh {display:inline-block; padding-left:20px; background:url(../images/filetype/lzh.gif) left top no-repeat;}
.file_new {display:inline-block; padding-left:20px; background:url(../images/filetype/new.gif) left top no-repeat;}
.file_ram {display:inline-block; padding-left:20px; background:url(../images/filetype/ram.gif) left top no-repeat;}
.file_tif {display:inline-block; padding-left:20px; background:url(../images/filetype/tif.gif) left top no-repeat;}
.file_wav {display:inline-block; padding-left:20px; background:url(../images/filetype/wav.gif) left top no-repeat;}
.file_css {display:inline-block; padding-left:20px; background:url(../images/filetype/wav.gif) left top no-repeat;}
.file_folder {display:inline-block; padding-left:20px; background:url(../images/filetype/folder.gif) left 2px no-repeat;}


.updatedate {
font-family: "Arial";
display: block;
margin-top: 20px;
font-size: 11px;
text-align: right;
font-style: italic;
color: #666;
}


div.pagecontactor {margin-top:30px; display:inline-block; float:right;font-size:11px; color:#777;}
div.pagecontactor:after{display: block;content: "";clear: both;}
div.pagecontactor span.second { padding-left:20px; }


a.btn_playmovie {
display: block;
width: 60px;
height: 22px;
padding: 4px 0 0 30px;
vertical-align: top;
font-size: 0.917em;
color: #1552a6;
background: url(/about/images/bg_ab0202.gif) left top no-repeat;
text-decoration: none;
}

.bg-box {background:#f9f9f9;border:1px solid #ccc;padding:20px !important}