@charset "utf-8";
/*@font-face {font-family:'Nanum', 'NanumGothic';src:url(/common/inc/NanumGothic.eot);}*/

/* iosef 2010-11 David */
html { font-size: 1em}
body { font-size: 0.75em}
label { cursor:pointer}
/*
a:link, a:visited { text-decoration:none}
a:hover, a:focus, a:active { text-decoration:underline}
*/
a:link, a:visited { color:#1552a6; text-decoration:none}
a:hover, a:focus, a:active { color:#00397f; text-decoration:underline}

/* for apple platform : fix font size bug */
* {-webkit-text-size-adjust:100%}

a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav, menu,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var { margin:0; padding:0}

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, textarea, sub{ font-family:'Dotum'}
em, cite, address, optgroup { font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {	width:100%; border-spacing:0; border:0}/* border-collapse: collapse; ff에서 border="0" 인 경우 문제 발생 */
table th, table td{ border:0}

legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/* Html5 Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block}
mark, rp, rt, ruby, summary, time{ display: inline }

/* clear float */
.group:after{ content:"."; display:block; height:0; clear:both; visibility:hidden}
.group{ display:inline-block}
.group{ display:block}

/*
a.accessibility01{position:absolute; display:block; width:100%; left:0; text-align:center; top:-10000px; z-index:500; font-size:1.3em}
a.accessibility01:hover, a.accessibility01:focus, a.accessibility01:active{position: absolute; top: 0; padding: 10px 0; font-weight:bold; color:#fff; background:#1d60a7; z-index:500}
*/
/*wooki 수정*/
a.accessibility01{position:absolute;left:0;  display:block; top:-500px; font-size:1.3em;z-index:500;}
a.accessibility01:hover, a.accessibility01:focus, a.accessibility01:active
{z-index:500;
display:block;
	top:1px;
	width:200px;
	padding:15px 0;
	text-align:center;
	font-size:13px;
	font-weight:bold;
  color:#232323;
	background-color:#eee;
	border: 1px solid #000;
	text-decoration:none;
}



/* skip navi */
.accessibility02 { position:absolute; top:0; display:block; left:0; width:199px; z-index:1}
.accessibility02 a { display:block;  height:19px; text-indent:-5000px; overflow:hidden; background: url(/images/common/banner/accessibility02.png) no-repeat}


/* noscript warning, inipapa */
.noscript {width:100%; top: 0; padding: 10px 0; font-weight:bold; color:#fff; background:#1d60a7; z-index:500; text-align:center; font-size:1.3em }

/* noscript warning, inipapa */
.changelanguage { font-family:arial; width:100%; top: 0; padding: 10px 0; color:#fff; background:#1d60a7; z-index:500; text-align:center; font-size:13px }

a.linklang, a.linklang:active, a.linklang:visited, a.linklang:hover { color:#fff; font-weight:bold; }