@charset "utf-8";

/* body */
html, body, #wrap{ height:100%; background-color:#bbb9ba; color:#494949; line-height:1.5em; font-family:'Dotum'}
html{ background:none}
#wrap{ position:relative; width:950px; margin:0 auto}

/* commmon guide */
#header, #whole_menu, #footer{ position:relative; z-index:1; width:950px; margin:0 auto;}

/* header */
#header{ position:relative; height:75px; background:#00397f; z-index:2}
#header .bg_blue{ height:75px; margin-left:230px; background:#5d8bca}

/* h1 */
h1, h1 a{ display:block; position:absolute; top:20px; left:30px; z-index:1; width:168px; height:38px; background:url(/images/common/layout/logo.gif) no-repeat left top; font-size:0; text-indent:-5000px}
h1 a{ left:0; top:0}

/* util_menu */
#util{ position:absolute; right:10px; top:0; z-index:1; width:203px; height:27px; padding-left:17px; background:url(/images/common/layout/bg01_util.gif) no-repeat left top}
#util dt { visibility:hidden; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none}
#util dd{ float:left; padding:9px 17px 2px 0}
#util dd.util01{ margin-right:17px; background:url(/images/common/layout/bg02_util.gif) no-repeat right 8px}
#util dd.util03{ padding-left:18px}
#util dd a{ display:block; width:42px; height:9px; text-indent:-5000px; font-size:0; line-height:1}
#util dd.util01 a{ width:30px; background:url(/images/common/layout/login_util.gif) no-repeat left top}
#util dd.util02 a{ background:url(/images/common/layout/sitemap_util.gif) no-repeat left top}
#util dd.util03 a{ background:url(/images/common/layout/english_util.gif) no-repeat left top}
#util dd.util04 { margin-right:4px; background:url(/images/common/layout/bg02_util.gif) no-repeat 52px 8px}
#util dd.util04 a{ width:42px; background:url(/images/common/layout/logout_util.gif) no-repeat left top}

#util dd.util05 { margin-right:17px; background:url(/images/common/layout/bg02_util.gif) no-repeat right 8px}
#util dd.util05 a{ width:30px; background:url(/images/common/layout/home_util.gif) no-repeat left top}

/* gnb, noscript_menu */
#gnb, .noscript_menu{ display:block; position:absolute; left:261px; top:31px; z-index:3; height:16px;font-family:'나눔고딕','NanumGothic', 'Nanum','Dotum','Gulim'}
#gnb #mNavi01, #gnb #mNavi02, #gnb #mNavi03, #gnb #mNavi04, #gnb #mNavi05, .noscript_menu .mNavi01, .noscript_menu .mNavi02, .noscript_menu .mNavi03, .noscript_menu .mNavi04, .noscript_menu .mNavi05{ position:absolute; top:0}
#gnb li#mNavi01, .noscript_menu li.mNavi01{ left:0}
#gnb li#mNavi02, .noscript_menu li.mNavi02{ left:105px}
#gnb li#mNavi03, .noscript_menu li.mNavi03{ left:192px}
#gnb li#mNavi04, .noscript_menu li.mNavi04{ left:286px}
#gnb li#mNavi05, .noscript_menu li.mNavi05{ left:350px}
#gnb li a, .noscript_menu li a{ display:block; height:16px; background:url(/images/common/layout/gnb.gif) no-repeat left top; text-indent:-5000px; font-size:0; line-height:1}
#gnb li#mNavi01 a, .noscript_menu li.mNavi01 a{ width:58px; background-position: 0 0}
#gnb li#mNavi02 a, .noscript_menu li.mNavi02 a{ width:29px; background-position: -105px 0}
#gnb li#mNavi03 a, .noscript_menu li.mNavi03 a{ width:30px; background-position: -192px 0}
#gnb li#mNavi04 a, .noscript_menu li.mNavi04 a{ width:29px; background-position: -286px 0}
#gnb li#mNavi05 a, .noscript_menu li.mNavi05 a{ width:77px; background-position: -350px 0}
#gnb li ul.sNavi01, #gnb li ul.sNavi02, #gnb li ul.sNavi03, #gnb li ul.sNavi04, #gnb li ul.sNavi05, .noscript_menu li ul.sNavi01, .noscript_menu li ul.sNavi02, .noscript_menu li ul.sNavi03, .noscript_menu li ul.sNavi04, .noscript_menu li ul.sNavi05{ position:absolute; top:39px; z-index:4; width:700px; height:163px; padding:15px 0 0 20px; border-bottom:1px solid #aec4e0; background:#fff url(/images/common/layout/bg01_gnb.gif) no-repeat left top; visibility:hidden}
#gnb li ul.sNavi02, .noscript_menu li ul.sNavi02{ background:url(/images/common/layout/bg02_gnb.gif) no-repeat}
#gnb li ul.sNavi03, .noscript_menu li ul.sNavi03{ background:url(/images/common/layout/bg03_gnb.gif) no-repeat}
#gnb li ul.sNavi04, .noscript_menu li ul.sNavi04{ background:url(/images/common/layout/bg04_gnb.gif) no-repeat}
#gnb li ul.sNavi05, .noscript_menu li ul.sNavi05{ background:url(/images/common/layout/bg05_gnb.gif) no-repeat}
#gnb li#mNavi01 ul, .noscript_menu li.mNavi01 ul{ left:-31px}
#gnb li#mNavi02 ul, .noscript_menu li.mNavi02 ul{ left:-136px}
#gnb li#mNavi03 ul, .noscript_menu li.mNavi03 ul{ left:-223px}
#gnb li#mNavi04 ul, .noscript_menu li.mNavi04 ul{ left:-317px}
#gnb li#mNavi05 ul, .noscript_menu li.mNavi05 ul{ left:-381px}
#gnb li ul li, .noscript_menu li ul li{ position:absolute; width:230px; white-space:nowrap; z-index:1000;border:0px solid red;}
#gnb li ul li.li01, .noscript_menu li ul li.li01{ top:20px; left:20px}
#gnb li ul li.li02, .noscript_menu li ul li.li02{ top:87px; left:20px}
#gnb li ul li.li03, .noscript_menu li ul li.li03{ top:20px; left:245px}
#gnb li ul li.li04, .noscript_menu li ul li.li04{ top:87px; left:245px}

/* added, 2013-09-04 */
#gnb li ul li.li031, .noscript_menu li ul li.li031{ top:20px; left:260px}
#gnb li ul li.li040, .noscript_menu li ul li.li040{ top:20px; left:450px}
#gnb li ul li.li041, .noscript_menu li ul li.li041{ top:87px; left:260px}

#gnb li ul li.li05, .noscript_menu li ul li.li05{ top:113px; left:245px}
#gnb li ul li.li06, .noscript_menu li ul li.li06{ top:20px; left:490px}
#gnb li ul li.li07, .noscript_menu li ul li.li07{ top:60px; left:490px}
#gnb li ul li.li08, .noscript_menu li ul li.li08{ top:100px; left:245px}
#gnb li ul li.li09, .noscript_menu li ul li.li09{ top:85px; left:20px}
#gnb li ul li.li10, .noscript_menu li ul li.li10{ top:119px; left:20px}
#gnb li ul li.li11, .noscript_menu li ul li.li11{ top:85px; left:245px}
#gnb li ul li.li12, .noscript_menu li ul li.li12{ top:119px; left:245px}
#gnb li ul li.li13, .noscript_menu li ul li.li13{ top:117px; left:490px}
#gnb li ul li.li14, .noscript_menu li ul li.li14{ top:137px; left:590px}
#gnb li ul li.li141, .noscript_menu li ul li.li141{ top:137px; left:590px; width:120px; border:0px solid red;}
#gnb li ul li.li15, .noscript_menu li ul li.li15{ top:63px; left:20px}
#gnb li ul li.li16, .noscript_menu li ul li.li16{ top:122px; left:20px}
#gnb li ul li.li17, .noscript_menu li ul li.li17{ top:81px; left:245px}
#gnb li ul li.li18, .noscript_menu li ul li.li18{ top:81px; left:490px}
#gnb li ul li.li19, .noscript_menu li ul li.li19{ top:50px; left:20px}
#gnb li ul li.li20, .noscript_menu li ul li.li20{ top:87px; left:245px}
#gnb li ul li.li21, .noscript_menu li ul li.li21{ top:105px; left:490px}
/*
#gnb li ul li a, .noscript_menu li ul li a{ height:auto; background:none; text-indent:0; font-size:1.083em; color:#5d8bca; font-weight:bold; text-decoration:none; letter-spacing:-1px}
*/
#gnb li#mNavi01 ul li a { height:auto; background:none; text-indent:0; font-size:13px; color:#30777d; font-weight:bold; text-decoration:none; letter-spacing:-1px}
#gnb li#mNavi02 ul li a { height:auto; background:none; text-indent:0; font-size:13px; color:#597214; font-weight:bold; text-decoration:none; letter-spacing:-1px}
#gnb li#mNavi03 ul li a { height:auto; background:none; text-indent:0; font-size:13px; color:#9252b3; font-weight:bold; text-decoration:none; letter-spacing:-1px}
#gnb li#mNavi04 ul li a { height:auto; background:none; text-indent:0; font-size:13px; color:#883458; font-weight:bold; text-decoration:none; letter-spacing:-1px}
#gnb li#mNavi05 ul li a { height:auto; background:none; text-indent:0; font-size:13px; color:#846c00; font-weight:bold; text-decoration:none; letter-spacing:-1px}


#gnb li ul li ul, .noscript_menu li ul li ul{ background:none}
#gnb li ul li ul li, .noscript_menu li ul li ul li{ position:static; float:left; width:auto; margin-right:7px}
#gnb li ul li ul li.mr_none, .noscript_menu li ul li ul li.mr_none{ margin-right:0}
/*
#gnb li ul li ul li a, .noscript_menu li ul li ul li a{ width:auto!important; color:#494949; font-weight:normal; line-height:1.5em}
#gnb li ul li ul li a:hover, .noscript_menu li ul li ul li a:hover{ color:#5d8bca}
*/

#gnb li ul li ul li {height:16px;}

#gnb li#mNavi01 ul li ul li a { width:auto!important; color:#494949; font-weight:normal; line-height:1.2em;font-size:12px; letter-spacing:1px}
#gnb li#mNavi01 ul li ul li a:hover { color:#30777d; text-decoration:underline; }

#gnb li#mNavi02 ul li ul li a { width:auto!important; color:#494949; font-weight:normal; line-height:1.2em;font-size:12px; letter-spacing:1px}
#gnb li#mNavi02 ul li ul li a:hover { color:#597214; text-decoration:underline; }

#gnb li#mNavi03 ul li ul li a { width:auto!important; color:#494949; font-weight:normal; line-height:1.2em;font-size:12px; letter-spacing:1px}
#gnb li#mNavi03 ul li ul li a:hover { color:#9252b3; text-decoration:underline; }

#gnb li#mNavi04 ul li ul li a { width:auto!important; color:#494949; font-weight:normal; line-height:1.2em;font-size:12px; letter-spacing:1px}
#gnb li#mNavi04 ul li ul li a:hover { color:#883458; text-decoration:underline; }

#gnb li#mNavi05 ul li ul li a { width:auto!important; color:#494949; font-weight:normal; line-height:1.2em;font-size:12px; letter-spacing:1px}
#gnb li#mNavi05 ul li ul li a:hover { color:#846c00; text-decoration:underline; }

#gnb li ul li ul { margin-top:5px; }





.noscript_menu, .noscript_menu li a{ height:60px}
.noscript_menu li:hover ul, .noscript_menu li:focus ul, .noscript_menu li:active ul{ visibility:visible}

/* search */
#search{ overflow:hidden; position:absolute; top:40px; right:10px; height:23px}
#search input{ float:left; border:none; vertical-align:top}
#search #sech{ width:172px; height:21px; background:#cedcef; font-size:1em}
#search .btn_search{ width:48px; height:23px; background:#1f3756; color:#fff; font-size:0.917em; font-family:'Dotum'; cursor:pointer}

/* container */
#container{ width:950px; position:relative; min-height:100%; margin:-75px auto -405px auto; background:#fff; z-index:1}
#con{ position:relative; padding:75px 0 405px 0}

#container_main{ width:950px; position:relative; margin:0px auto 0px auto; background:#fff; z-index:1}
#con_main{ position:relative; padding:0px 0 0px 0}

/* banner */
/*
#banner_box{ position:relative; overflow:hidden; height:161px; background:#00397f; font-family:'NanumGothic','Nanum','AppleGothic','Dotum','Gulim'}
#banner_box h2{ height:53px; margin:57px 0 15px 30px; padding-left:15px; background:url(/images/common/layout/bg01_title.gif) no-repeat left 3px; color:#fff; font-size:0.917em}
#banner_box h2 span{ display:block; margin:9px 0 0 -15px; padding-bottom:1px; font-size:2.273em; line-height:22px}
#banner_box h3, #banner_box .h3_none{ float:left; width:200px; height:29px; padding:7px 0 0 30px; background:#fff; color:#00397f; font-size:1.5em}
#banner_box .banner{ float:right; overflow:hidden; height:100%; padding-top:30px; text-align:right}
#banner_box .banner .left_banner, #banner_box .banner .right_banner{ float:left}
*/

#banner_box{ position:relative; overflow:hidden; height:161px; background:#00397f; font-family:'NanumGothic','Nanum','AppleGothic','Dotum','Gulim'}
#banner_box h2{ height:53px; margin:57px 0 15px 30px; padding-left:0px; }
#banner_box h2 span.sectiontop { color:#fff; font-size:0.917em; border-bottom:2px solid #cdbe56; padding-bottom:3px;}
#banner_box h2 span.sectionbtm { display:block; margin:10px 0 0 0px; padding-bottom:1px; font-size:2.273em; line-height:22px; color:#d4cd99;}
#banner_box h3, #banner_box .h3_none{ float:left; width:200px; height:29px; padding:7px 0 0 30px; background:#fff; color:#00397f; font-size:17px}
#banner_box .banner{ float:right; overflow:hidden; height:100%; padding-top:30px; text-align:right}
#banner_box .banner .left_banner, #banner_box .banner .right_banner{ float:left}

/* sidebar */
/*
zendasoft, 2011.05.13
#sidebar{ display:inline; float:right; width:210px; margin:14px 20px 0 0; font-family:'NanumGothic','Nanum','AppleGothic','Dotum','Gulim'}
#rnb li a{ display:block; height:24px; padding:6px 0 0 10px; border-bottom:1px solid #e5e5e5; color:#494949; font-size:1.083em;font-size:1.083em; font-weight:bold; letter-spacing:-1px}
#rnb li a:hover, #rnb li a:focus, #rnb li a:active, #rnb li a.on{ background:#5d8bca; color:#fff; text-decoration:none}
#rnb li ul li a{ height:18px; padding:2px 0 0 30px; border-bottom:none; font-size:1em;font-size:0.95em}
#rnb li ul li a:hover, #rnb li ul li a:focus, #rnb li ul li a:active, #rnb li ul li a.on{ height:23px; padding-top:7px; background:url(/images/common/layout/bg_rnb.gif) no-repeat left top; color:#00397f}
#rnb li ul li.end a{ border-bottom:1px solid #e5e5e5}
*/
#sidebar{ display:inline; float:right; width:210px; margin:14px 20px 0 0; font-family:'나눔고딕','NanumGothic', 'Nanum','Dotum','Gulim'}
#rnb li a{ display:block; height:24px; padding:6px 0 0 10px; border-bottom:1px solid #e5e5e5; color:#494949; font-size:1.083em;font-size:1.083em; font-weight:bold; letter-spacing:-1px}
#rnb li a:hover, #rnb li a:focus, #rnb li a:active, #rnb li a.on{ background:url(/images/common/layout/bg_rnb_main.gif) no-repeat left 0px; color:#fff; text-decoration:none}
#rnb li ul li a{ height:22px; padding:6px 0 0 30px; border-bottom:none; font-size:1em;font-size:1.0em}
#rnb li ul li a:hover, #rnb li ul li a:focus, #rnb li ul li a:active, #rnb li ul li a.on{ height:22px; padding-top:6px; background:url(/images/common/layout/bg_rnb_sub.gif) no-repeat left 0px; color:#00397f}
#rnb li ul li.end a{ border-bottom:1px solid #e5e5e5}

/* path */
#path{ position:absolute; top:83px; right:20px; text-align:right; color:#fff; font-size:0.917em; font-family:'Dotum','Lucida Grande','Lucida Sans','AppleGothic','Gulim'}
#path a:link, #path a:visited{ color:#fff}
#path a:hover, #path a:focus, #path a:active { color:#fff; text-decoration:none}
#path strong{ color:#fff}

/* left */
#left{ float:left; width:660px; padding:0 0 0 30px}

/* contents */
#contents{ width:660px; padding:33px 0 0 0; color:#494949; font-family:'Dotum','Lucida Grande','Lucida Sans','AppleGothic','Gulim'}
#contents h2{ margin-bottom:20px; padding:15px 0 20px 0; border-bottom:1px solid #e5e5e5; background:url(/images/common/layout/bg02_title.gif) no-repeat left top; color:#000; font-size:1.67em;font-size:1.55em; letter-spacing:-1px}
#contents h2.btm_none{ margin:0; padding-bottom:0; border-bottom:none}
#contents .text1{ margin:8px 0 20px 0; padding-bottom:17px; border-bottom:1px solid #e5e5e5; color:#494949; font-size:1.05em; font-weight:bold; letter-spacing:-1px; font-family:'나눔고딕','NanumGothic', 'Nanum','Dotum','Gulim'}

/* lts */
#lts_box{ clear:both; position:relative; z-index:1; overflow:hidden; width:920px; height:20px; margin:40px auto 50px auto; padding:0 0 0 30px}
#lts_box dt{ float:left}
#lts_box dd{ display:inline; float:left; width:36px; margin-right:8px; padding:2px 0 0 0; background:url(/images/common/layout/bg_share.gif) no-repeat left top; text-align:center; font-weight:bold}
#lts_box dd.dd01{ width:26px; margin:1px 8px 0 1px; padding:1px 0 0 1px; background:url(/images/common/layout/bg_like.gif) no-repeat left top}
#lts_box dd.dd02{ width:33px; margin-left:3px; background:url(/images/common/layout/bg_tweet.gif) no-repeat left top; color:#1552a6}

/* wholemenu */
#whole_menu{ overflow:hidden; width:890px; height:268px; padding:8px 30px 55px 30px; line-height:1.6em;}
#whole_menu div{ padding-top:17px; border-top:1px solid #e5e5e5}
#whole_menu .li01{ margin-top:11px}
#whole_menu .menu01{ float:left; overflow:hidden; width:526px; height:100%}
#whole_menu .menu02{ float:left; overflow:hidden; width:340px; height:100%; padding:0 0 7px 17px; border-left:1px solid #e5e5e5}
#whole_menu .menu01 li.w_103{ width:103px}
#whole_menu .menu02 li.w_120{ width:120px}
#whole_menu .menu02 li.w_110{ width:110px}
#whole_menu .menu01 li, #whole_menu .menu02 li{ float:left; width:98px; letter-spacing:-1px}
#whole_menu .menu01 li a, #whole_menu .menu02 li a, #whole_menu .menu02 li h2.linkheader { color:#00397f; font-size:1.15em; font-weight:bold; text-decoration:none}
#whole_menu .menu01 li ul li, #whole_menu .menu02 li ul li{ clear:both}
#whole_menu .menu01 li ul li a, #whole_menu .menu02 li ul li a{ color:#494949; font-size:0.917em; font-weight:normal}
#whole_menu .menu01 li ul li a:hover, #whole_menu .menu02 li ul li a:hover{ color:#1552a6; text-decoration:none}


#whole_menu .menu001{ float:left; overflow:hidden; width:300px; height:240px; }
#whole_menu .menu002{ float:left; overflow:hidden; width:330px; height:240px; padding:0 0 7px 17px;  border-left:1px solid #ececec}
#whole_menu .menu003{ float:left; overflow:hidden; width:220px; height:240px; padding:0 0 7px 17px;  border-left:1px solid #ececec}
#whole_menu .menu001 li.w_103{ width:103px}
#whole_menu .menu002 li.w_120{ width:120px}
#whole_menu .menu002 li.w_110, #whole_menu .menu003 li.w_110{ width:110px}
#whole_menu .menu001 li, #whole_menu .menu002 li, #whole_menu .menu003 li{ float:left; width:98px;  letter-spacing:-1px}
#whole_menu .menu001 li a, #whole_menu .menu002 li a, #whole_menu .menu003 li a, #whole_menu h2.linkheader { color:#00397f; font-size:1.15em; font-weight:bold; text-decoration:none}
#whole_menu .menu001 li ul li, #whole_menu .menu002 li ul li, #whole_menu .menu003 li ul li{ clear:both}
#whole_menu .menu001 li ul li a, #whole_menu .menu002 li ul li a, #whole_menu .menu003 li ul li a{ color:#494949; font-size:11px; font-weight:normal}
#whole_menu .menu001 li ul li a:hover, #whole_menu .menu002 li ul li a:hover, #whole_menu .menu003 li ul li a:hover{ color:#1552a6; text-decoration:none}

/* footer */
#footer{ width:950px; height:65px; padding:30px 0; background-color:#bbb9ba; text-align:center; font-family:'Dotum','Gulim','NanumGothic','Nanum','AppleGothic';}
/*
#footer .linkbox { float:left; text-align:right; border:0px solid red; width:495px;}
#footer #links {float:right; margin:2px 0 0 0px; width:495px; border:0px solid red;}
#footer #links li{ display:inline; margin-right:9px; padding:1px 12px 0 0; background:url(/images/common/layout/bg_links.gif) no-repeat right 2px;}
#footer #links li a{ color:#00397f; font-weight:bold; letter-spacing:-1px; word-spacing:-1px; text-decoration:none; font-family:'NanumGothic','Nanum','AppleGothic','Dotum','Gulim'}
#footer #links li.end{ padding-right:0; background:none}
*/
#footer address{ margin:10px 0 2px 0; font-size:1em;letter-spacing:0px}
#footer address a{ color:#494949}
#footer address a:hover, #footer address a:focus, #footer address a:active{ color:#1552a6; text-decoration:none}
#footer p{ font-size:1em}
#footer .rsitebox { width:337px; float:right; border:0px solid blue;}
#footer form {float:left;}

#footer .linkbox { float:left; text-align:center; margin-bottom:5px; width:670px;}
#footer #links {float:left; margin:2px 0 0 80px; border:0px solid red;}
#footer #links li{ display:inline; margin-right:9px; padding:1px 20px 0 0; background:url(/images/common/layout/bg_links.gif) no-repeat right 2px;}
#footer #links li a{ color:#00397f; font-weight:bold; letter-spacing:-1px; word-spacing:-1px; text-decoration:none;font-size:12px;}
#footer #links li.end{ padding-right:0; background:none}


.wamark { float:left;margin:0px 0 0 20px; }

.footerbox { clear:both; width:840px; margin:0 auto; border:0px solid red; }
/*.wamark { float:left;margin:5px 0 0 10px; }*/
.addresswrap { margin-left:30px;width:640px;font-family:'Dotum','Gulim','NanumGothic','Nanum','AppleGothic';}


/* 2014-06-03 */
#footer2{ width:950px; height:65px; padding:30px 0; background-color:#bbb9ba; text-align:center; font-family:'Dotum','Gulim','NanumGothic','Nanum','AppleGothic';}
#footer2 address2{ margin:10px 0 2px 0; font-size:1em;letter-spacing:0px}
#footer2 address2 a{ color:#494949}
#footer2 address2 a:hover, #footer2 address2 a:focus, #footer2 address2 a:active{ color:#1552a6; text-decoration:none}
#footer2 p{ font-size:1em}
#footer2 .rsitebox2 { width:337px; float:right; border:0px solid blue;}
#footer2 form {float:left;}

#footer2 .linkbox2 { float:left; text-align:left; margin-bottom:5px; width:670px;}
#footer2 #links2 {float:left; margin:2px 0 0 10px; border:0px solid red;}
#footer2 #links2 li{ display:inline; margin-right:9px; padding:1px 20px 0 0; background:url(/images/common/layout/bg_links.gif) no-repeat right 2px;}
#footer2 #links2 li a{ color:#00397f; font-weight:bold; letter-spacing:-1px; word-spacing:-1px; text-decoration:none;font-size:12px;}
#footer2 #links2 li.end{ padding-right:0; background:none}

.wamark2 { float:right;margin:0px 0 0 20px; border:0px solid red;}
.wamark2 div { float:left; }
.wamark2:after { clear:both;content: "";display:block;font-size:0;line-height:0;height:0px;}
.footerbox2 { float:left; width:640px; border:0px solid red; }
.textbox2 { }
.textbox2:after { clear:both;content: "";display:block;font-size:0;line-height:0;height:0px;}
.footerlink2 { text-align:left; }
.address2 { text-align:left; }
.addresswrap2 { margin-left:10px;width:640px;font-family:'Dotum','Gulim','NanumGothic','Nanum','AppleGothic';}



#play{ width:950px; height:423px; position:relative; left:0; top:85px; z-index:2}
#play_text { position:absolute; margin:85px 0 0 29px; height:14px; width:60px; z-index:1002}
#play_text ul { width:126px; height:50px; display:block; padding-top:1px}
#play_text ul li { float:left; margin:1px; width:27px; height:14px; background-color:#494949; display:block; cursor:pointer; text-indent:-5000px; font-size:0; line-height:1}
#play_list a {display:block;width:950px;height:336px;position:absolute;overflow:hidden }
