@charset "utf-8";

/*
2011.07.26
1. ie6 에서 마우스 올릴때 앞의 bullet이 없어지는 현상 (Li의 배경이 아닌 a의 배경으로 처리함)
2. 뉴스block의 간격이 제목의 길이에 따라 변한다. 그래서 210px로 고정시킴

.banner{ overflow:hidden}
.mian_box01{ position:absolute; left:0; top:0px; z-index:3; width:921px; overflow:hidden; height:56px; padding:0 0 0 30px; background:url(/images/main/bg01_snukrmain.png) no-repeat; word-spacing:-4px}
.new_box{ float:left; margin:0 15px 0 0; }
.new_box h2{ margin:20px 0 15px 0}
.new_box ul li{ padding:0 0 0 10px; color:#b6cdec; background:url(/images/main/icon02_snukrmain.gif) left 6px no-repeat}
.new_box ul li a:link,
.new_box ul li a:visited { color:#b6cdec}
.new_box ul li a:hover,
.new_box ul li a:active,
.new_box ul li a:focus{ color:#b6cdec;}
*/

.banner{ overflow:hidden}
.mian_box01{ position:absolute; left:0; top:0px; z-index:300; width:921px; overflow:hidden; height:56px; padding:0 0 0 30px; background:url(/images/main/bg01_snukrmain.png) no-repeat; word-spacing:0px}
.new_box{ float:left; margin:0 15px 0 0; border:0px solid red; width:210px;}
.new_box h2{ margin:20px 0 15px 0}

.new_box ul li{ padding:0; color:#b6cdec;}
.new_box ul li a {padding:0 0 0 10px; color:#b6cdec; background:url(/images/main/icon02_snukrmain.gif) left 6px no-repeat}
.new_box ul li a:link,
.new_box ul li a:visited { color:#b6cdec}
.new_box ul li a:hover,
.new_box ul li a:active,
.new_box ul li a:focus{ color:#b6cdec;}


.new_box dl { height:16px; margin:20px 0 15px 0; border:0px solid red;}
.new_box dl.w200 { width:200px; }
.new_box dl.w220 { width:220px; }
.new_box dl.w225 { width:225px; }
.new_box dt { float:left; }
.new_box dd { display:none; float:right; font-family: Tahoma, Arial, Verdana, Geneva, sans-serif; }
.new_box dd a { float:right; width:30px; color:#b6cdec; text-decoration:none;font-weight:bold; font-size:10px;}
.new_box dd a:link,
.new_box dd a:visited { color:#b6cdec}
.new_box dd a:hover,
.new_box dd a:active,
.new_box dd a:focus{ color:#b6cdec;  text-decoration:underline;}

/* 2011.07.21 for more logical access order */
.new_box { position:relative; }
.new_box span { display:none; position:absolute; right:0px; top:20px; font-family: Tahoma, Arial, Verdana, Geneva, sans-serif; }
.new_box span a { float:right; width:30px; color:#b6cdec; text-decoration:none;font-weight:bold; font-size:10px;}
.new_box span a:link,
.new_box span a:visited { color:#b6cdec}
.new_box span a:hover,
.new_box span a:active,
.new_box span a:focus{ color:#b6cdec;  text-decoration:underline;}


.main_newsitem {clear:both; visibility:hidden;}

.midbox_main{ position: relative; padding:15px 0 0 30px; height:120px; border:0px solid red;}
.future{ float:left;margin-bottom:20px}
.midbox_main ul { float:left; border:0px solid red; margin-left:25px;}
.midbox_main ul li { float:left; margin:12px 28px 0 0px; text-align:center; word-spacing:-1px; border:0px solid blue; overflow:hidden; letter-spacing:-1px;font-size:11px}
.midbox_main ul li.lastbox { margin-right:0px;}
.midbox_main ul li span{ display:block; margin:7px 0}
.midbox_main ul li a:link,
.midbox_main ul li a:visited { color:#494949}
.midbox_main ul li a:hover,
.midbox_main ul li a:active,
.midbox_main ul li a:focus{ color:#1552a6; text-decoration:underline;}
.donate_box{height:40px; position:relative; clear:both; margin:0 30px 00px 30px; padding:10px 0 0 7px; border-top:1px solid #f4f3f1; overflow:hidden;}
.donate_box h4{ float:left; margin:12px 33px 0 0}
.donate_box p.p01{ float:left; width:430px; margin-top:12px; padding-left:7px; background: url(/images/main/icon05_snukrmain.gif) left 7px no-repeat}

.donate_ul li{ float:left; margin-left:70px; margin-top:12px; padding-left:7px; background: url(/images/main/icon05_snukrmain.gif) left 7px no-repeat}
.donate_ul li:first-child { margin-left:0px !important; }

.donate_ul2 { float:left; width:420px; height:30px; margin-top:9px; border:0px solid red; overflow:hidden;}
.donate_ul2 li{ margin-left:10px; height:30px; padding-left:7px; background: url(/images/main/icon05_snukrmain.gif) left 7px no-repeat}

.donate_box p a:link, a:visited, a:hover, a:active,a:focus {color:#00397f}

.give_box{ position:absolute; top:10px; right:0px; width:336px; height:39px; background:url(/images/main/bg03_snukrmain.gif) no-repeat}
.give_box p{ margin:10px 0 0 20px}
.give_box p span.span01{ margin:0 0 0 34px}


.midbox_content {position: relative; top:0px; margin-bottom:55px; z-Index:4;}

/* mainvisual */
.mvslide { position: relative; top:55px; background: #fafafa; width:950px; height:368px; overflow:hidden; }

.mvslide .controller { position: absolute; bottom: 10px; left: 31px; width:17px; height:14px; overflow:hidden; z-index: 2; }
.mvslide a.mvstop {display:block; text-indent:-5000px; width:17px; height:14px; line-height:14px; background:url(/images/main/icon_slide_stop_play.gif) left top no-repeat;}
.mvslide a.mvplay {display:block; text-indent:-5000px; width:17px; height:14px; line-height:14px; background:url(/images/main/icon_slide_stop_play.gif) -17px top no-repeat;}

.mvslideimg { display:none; }
.mvslideimg a {position:absolute; top: 0px; left: 0px; z-index: 1; width:950px; height:368px; background: #fff; overflow:hidden;}
#mvslideno1, #mvslideno2, #mvslideno3, #mvslideno4, #mvslideno5 {  position: absolute; bottom: 10px; z-index: 2;}
#mvslideno1 {left: 50px;}
#mvslideno2 {left: 79px;}
#mvslideno3 {left: 108px;}
#mvslideno4 {left: 137px;}
#mvslideno5 {left: 166px;}

.mvslidebtn a, .mvslidebtn a:visited { display: block; text-indent:-5000px; float: left; background-color: #494949; height:14px; line-height:14px; width:11px; padding: 0px 8px; margin-right: 2px; color: #000; text-decoration: none; cursor: pointer; }
.mvslidebtn a:hover { background-color: #494949; color: #fff; }
.mvslidebtn a.currentslide, .mvslidebtn a.currentslide:visited, .mvslidebtn a.currentslide:hover, .mvslidebtn a.currentslide:active { background-color: #5d8bca; color: #fff; }

/* intro movie 2012-01-05 */
.intromovie { position: relative; top:55px; background-color:#fff; width:950px; height:368px; overflow:hidden; }


/* do not remove style below
.mvslide { position: relative; top:55px; background: #fafafa; width:950px; height:368px; overflow:hidden; }
.mvslide img { position: absolute; top: 0px; left: 0px; z-index: 1; background: #fff; }
ul.mvslideno { position: absolute; bottom: 10px; left: 50px; list-style: none; z-index: 2; }
ul.mvslideno li { margin: 0; padding: 0; display: inline; }
ul.mvslideno li a, ul.mvslideno li a:visited { display: block; text-indent:-5000px; float: left; background-color: #494949; height:14px; line-height:14px; width:11px; padding: 0px 8px; margin-right: 2px; color: #000; text-decoration: none; cursor: pointer; }
ul.mvslideno li a:hover, ul.mvslideno li a:visited:hover { background-color: #494949; color: #fff; }
ul.mvslideno li a.currentslide, ul.mvslideno li a.currentslide:visited, ul.mvslideno li a.currentslide:hover,  ul.mvslideno li a.currentslide:active { background-color: #5d8bca; color: #fff; }

.mvslide .controller { position: absolute; bottom: 10px; left: 31px; width:17px; height:14px; overflow:hidden; z-index: 2; }
.mvslide a.mvstop {display:block; text-indent:-5000px; width:17px; height:14px; line-height:14px; background:url(/images/main/icon_slide_stop_play.gif) left top no-repeat;}
.mvslide a.mvplay {display:block; text-indent:-5000px; width:17px; height:14px; line-height:14px; background:url(/images/main/icon_slide_stop_play.gif) -17px top no-repeat;}
*/


/* 뉴스 pane 컨트롤 */
#news_hide { display:none; position: absolute; top: 146px; right: 25px;  width:127px; height:25px; z-index: 2000; }
#news_hide a {  position: absolute; left:0; top:0; display:block; z-index: 2000; text-indent:-5000px; width:127px; height:25px; line-height:25px;border:0px solid red;}
#news_show { position: absolute; top: 55px; right: 25px;  width:127px; height:25px; z-index: 2000; }
#news_show a { display:block; z-index: 2000; border:0px solid red; position: absolute;  text-indent:-5000px; width:127px; height:25px; line-height:25px; background:url(/images/main/news_show.png) left top no-repeat;}

