@charset "utf-8";

/* about06_pop */
.pop_body{ background:#fff}
.ab06_contents .pop_h2{ margin-bottom:20px; padding:15px 0 20px 0; border-bottom:1px solid #e5e5e5; background:url(/images/common/layout/bg02_title.gif) no-repeat left top; color:#000; font-size:1.67em; letter-spacing:-1px}
.ab06_contents h2.btm_none{ margin:0; padding-bottom:0; border-bottom:none}
.ab06_contents .text1{ margin:8px 0 20px 0; padding-bottom:17px; border-bottom:1px solid #e5e5e5; color:#494949; font-size:1.05em; font-weight:bold; letter-spacing:-1px; font-family:'나눔고딕','Nanum Gothic'}
.pop_title01{ padding:0 0 10px 23px; background:url(/research/images/ico_title.gif) 7px 4px no-repeat; border-bottom:1px solid #d1d2cc; color:#000; font-size:1.33em; letter-spacing:-1px}
.pop_title02, .pop_title03{ margin:15px 0 0 8px; padding:0 0 8px 15px; background:url(/images/common/background/bg01_title.gif) left 3px no-repeat; color:#00397f; font-size:15px; letter-spacing:-1px}
.pop_title02 span{ color:#1552a6}
.pop_title03{ margin-left:0}
.ad06_text{ margin-top:15px; color:#c03500}
.ab06_container{ position:relative; width:925px}
.ab06_contents{ position:relative; width:660px; margin-left:25px; padding:20px 0 30px 0}
.ab06_path{ position:absolute; top:20px; right:10px; text-align:right; color:#1552a6; font-size:0.917em; font-family:'Dotum','Lucida Grande','Lucida Sans','AppleGothic','Gulim'}
.ab06_path a:link, .ab06_path a:visited{ color:#777}
.ab06_path a:hover, .ab06_path a:focus, .ab06_path a:active{ color:#1552a6; text-decoration:none}
.ab06_path strong{ color:#1552a6}
.ab06_side{ display:inline; float:right; width:210px; margin:20px 0 0 0; font-family:'나눔고딕','NanumGothic', 'Nanum','Dotum','Gulim'}
.ab06_rnb li a, .ab06_rnb li strong{ display:block; height:24px; padding:6px 0 0 10px; border-bottom:1px solid #e5e5e5; color:#494949; font-size:1.083em; font-weight:bold; letter-spacing:-1px}
.ab06_rnb li a:hover, .ab06_rnb li a:focus, .ab06_rnb li a:active, .ab06_rnb li strong{ background:url(/images/common/layout/bg_rnb_main.gif) no-repeat left top; color:#fff; text-decoration:none}
.ab06_rnb li ul li a, .ab06_rnb li ul li strong{ height:23px; padding:7px 0 0 30px; font-size:1em}
.ab06_rnb li ul li a:hover, .ab06_rnb li ul li a:focus, .ab06_rnb li ul li a:active, .ab06_rnb li ul li strong{ background:url(/images/common/layout/bg_rnb_sub.gif) no-repeat left top; color:#00397f}

.ab06_container h1, .ab06_container h1 a { position:absolute; left:9px; top:13px; width:210px; height:43px; background:url(/about/images/service/logo_service.gif) no-repeat;}
.ab06_container h1 a { left:0; top:0}
.ab06_container #service_header { height:71px; background:#00397f; padding-top:0px}
.ab06_container #service_header .interbox01 { width:680px; height:47px; margin:0 0 0 240px; padding:20px 0 0 0; line-height:1.5; color:#fff; font-weight:bold;}
.ab06_container #service_header .interbox01 span { color:#fdff45}
.ab06_container #service_header .interbox02 { padding:13px 0 0 337px}
.ab06_container #service_header .interbox02 dt { color:#04799b; padding:3px 12px 0 0; margin-right:8px; clear:left; float:left; background:url(/about/images/rule/line01_rule.gif) right 7px no-repeat}
.ab06_container #service_header .interbox02 dd { display:table}
.ab06_container #service_header .interbox02 dd .end { margin-left:40px}

/* 25th president, 2014-07-17 */
.ab06_container #president25_header { height:71px; background:#00397f; padding-top:0px}
.ab06_container #president25_header h1 { background:none; }
.ab06_container #president25_header h1 a { position:absolute; left:0px; top:0px; width:412px; height:43px; background:url(/about/images/logo_president25.gif) no-repeat;}


/* 24th president */
.ab0202_box0x{ overflow:hidden; margin-top:10px; border-bottom:1px solid #e5e5e5; padding-bottom:16px}
.ab0202_box24{ overflow:hidden; padding-top:18px}
.ab0202_box24 .img_box{ float:right}
.ab0202_box24 .text_box li{ overflow:hidden; width:540px; margin-bottom:15px; border-bottom:1px solid #e5e5e5;}
.ab0202_box24 .text_box li strong{ display:block; float:left; width:90px; padding-top:3px;}
.ab0202_box24 .text_box li.none{ margin-bottom:0; border:none}
.ab0202_box24 dl{ overflow:hidden; float:left; width:400px; padding-bottom:18px; color:#4b4b4b; line-height:1.7em;}
.ab0202_box24 dt, .ab0202_box24 dd{ float:left}
.ab0202_box24 dt{ width:100px ;}
.ab0202_box24 dd{ width:275px; letter-spacing:-0.5px;}
.ab0202_box24 dt.dt01{ width:60px;}
.ab0202_box24 dd.dd01{ width:245px;}
.ab0202_box24 .text_box li ul { display:block; float:left;}
.ab0202_box24 .text_box li ul li {width:400px; padding:0; margin:0; clear:left; border:none; border:0px solid red;}

.ab0202_box24 dt.dt01{ width:105px;}
.ab0202_box24 dd.dd01{ width:245px;}

/* 24th president */
.text_intro24 { font-family:'나눔고딕','Nanum Gothic';}
.text_intro24 p { line-height:180%; margin-bottom:15px; font-size:13px; }
.text_intro24 p.mcopy { font-size:16px; font-weight:bold; color:#00397f; }
.text_intro24 p span { font-size:16px; font-weight:bold; color:#00397f; }
.floatleft { float:left; }

.ab06_container #president24_header { height:71px; background:#00397f; padding-top:0px}
.ab06_container #president24_header h1 { background:none; }
.ab06_container #president24_header h1 a { position:absolute; left:0px; top:0px; width:412px; height:43px; background:url(/about/images/logo_president24.gif) no-repeat;}


/* 24 president by wooki */
.ljm_ap_01 { background:url(../about/24thpresident/images/actionplan_01.gif) left top no-repeat; width:100%; height:99px; text-indent:-5000px; }
.ljm_ap_02 {float:left; overflow:hidden; width:660px; height:100%}
.ljm_ap_02 li.w_330{float:left; width:330px}
.tit_box24 {background:#336199;color:#fff;font-weight:bold;padding:8px 10px 6px 10px}
.bg24_01 {background:#ddd;}
.bg24_02 {background:#f5f;}


.ljm_vi_01 { background:url(../about/24thpresident/images/img_vis_01.gif) left top no-repeat; width:100%; height:107px; text-indent:-5000px; }
.ljm_vi_02 { background:url(../about/24thpresident/images/img_vis_05.gif) left top no-repeat; width:100%; height:290px; text-indent:-5000px; }
.contv {line-height:15px;color:#3a4c79;text-align:justify}

.ljm_ap_02 {float:left; overflow:hidden; width:660px; height:100%}
.ljm_ap_02 li.w_330{float:left; width:330px}
.tit_box24 {background:#336199;color:#fff;font-weight:bold;padding:8px 10px 6px 10px}

.bl_arw01  {background:url(../about/24thpresident/images/bl_arw01.gif) no-repeat 0px 5px; padding-left:9px;}
.bl_dot  {background:url(../about/24thpresident/images/bl_dot.gif) no-repeat 0px 5px; padding-left:9px;}

.bg24_01 {background:#ddd;}
.bg24_02 {background:#f5f;}
.fbold {font-weight:bold}


/* 23th president */
.ab23_container{ position:relative; width:100%}
.ab23_container #president23_header { height:71px; background:#00397f; padding-top:0px}
.ab23_container #president23_header h1 {  position:absolute; left:9px; top:13px; padding:0; margin:0px; background:none; border:0px solid red; }
.ab23_container #president23_header h1 a { position:absolute; border:0px solid red; left:0px; top:0px; width:412px; height:43px; background:url(/about/images/logo_president23.gif) no-repeat;}
.ab23_container .p23message { margin:20px 0px 10px 0; padding-bottom:10px; border-bottom:1px solid #e5e5e5;}

/* ab0601 */
.text_ab0601{ overflow:hidden; height:100%; border:1px solid #cedcef; letter-spacing:-1px}
.text_ab0601 .left{ float:left;background:url(/about/images/bg05_ab0601.gif) 10px 10px no-repeat}
.text_ab0601 .left p{ padding:20px 0 15px 90px}
.text_ab0601 .left p span{ color:#1552a6}
.text_ab0601 .right{ float:left; margin:10px 0 0 20px; border-left:1px solid #cedcef}
.text_ab0601 .right p{ padding:0 0 5px 23px}

/* ab0602 */
.ab0602_text{ overflow:hidden; height:100%; border-bottom:1px solid #5d8bca}
.ab0602_text dt{ float:left; width:36px; padding:5px 0 5px 32px; color:#1552a6; font-weight:bold}
.ab0602_text dd{ padding:5px 20px 5px 0}
.ab0602_text .bg_blue{ background:#dfebfd}
.ab0602_text02{ margin-top:11px; color:#989898; font-size:0.917em; text-align:center}
.ab0602_text02 span{ color:#c75941}

/* rule */
#rule_wrap { /*border-top:1px solid #50afb8 */}
#rule_wrap h1, #rule_wrap h1 a { position:absolute; left:9px; top:13px; width:180px; height:43px; background:url(/about/images/rule/logo_rule_new.gif) no-repeat}
#rule_wrap h1 a { left:0; top:0}
#rule_wrap #rule_header { height:71px; background:#00397f; padding-top:0px}
#rule_wrap #rule_header .interbox01 { width:680px; height:47px; margin:0 0 0 240px; padding:20px 0 0 0; line-height:1.5; color:#fff; font-weight:bold;}
#rule_wrap #rule_header .interbox01 span { color:#04799b}
#rule_wrap #rule_header .interbox02 { padding:13px 0 0 337px}
#rule_wrap #rule_header .interbox02 dt { color:#04799b; padding:3px 12px 0 0; margin-right:8px; clear:left; float:left; background:url(/about/images/rule/line01_rule.gif) right 7px no-repeat}
#rule_wrap #rule_header .interbox02 dd { display:table}
#rule_wrap #rule_header .interbox02 dd .end { margin-left:40px}

#rule_wrap #rule_search { height:44px; border:1px solid #cedcef; border-bottom:1px solid #5d8bca; }
#rule_wrap #rule_search h3 { float:left; margin:13px 0 0 19px;}
.rule_srh_input { float:left; padding:5px 0 0 0px;  margin:9px 0 0 17px; border:2px solid #0b6acd; width:154px; height:15px; line-height:15px; }
#rule_wrap #rule_search .btn_search{ width:47px; height:24px; border:0; padding:0; margin:0; margin-top:9px; font-weight:bold; background:#0b6acd; color:#fff; font-size:12px; font-family:'Dotum'; cursor:pointer}
#rule_wrap #rule_search .hwpviewerdown { float:right; margin:12px 20px 0 0;}
#rule_wrap #rule_search .hwpviewerdown a { color:#000; }

/* #rule_wrap #rule_search .hwpviewerdown img { margin-top:-4px; *margin-top:0px;} */
#rule_wrap #rule_search .hwpviewerdown img { margin-top:-4px;}
#rule_wrap #rule_search .searchbox {width:930px;}

#rule_wrap #rule_main { float:left; width:100%;}
#rule_wrap #rule_main .ab0401_interbox01 { margin-top:15px; padding-bottom:15px; overflow:hidden; height:100%; }
#rule_wrap #rule_main .ab0401_interbox01 ul { width:600px; margin:0 0 0 0; padding: 6px 0 0 50px;}
#rule_wrap #rule_main .ab0401_interbox01 ul li { padding-left:17px; background:url(/about/images/ico01_ab0401.gif) left 4px no-repeat; line-height:150%;}
#rule_wrap #rule_main .ab0401_interbox01 ul li a { color:#4b4b4b}
#rule_wrap #rule_main .ab0401_interbox01 ul li a:hover { color:#1552a6; text-decoration:none}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul { position:relative; left:120px; width:auto; margin:0; margin-top:-17px; padding:0 0 0 13px; background:none}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul.end { margin-top:-40px}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul li { padding-left:12px; background:url(/about/images/ico02_ab0401.gif) left 6px no-repeat}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul li ul { position:static; width:auto; margin:0; padding:0; background:none}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul li ul li { padding-left:14px; background:url(/about/images/ico03_ab0401.gif) left 7px no-repeat}
#rule_wrap #rule_main .ab0401_interbox01 ul li ul li ul li ul li, .ab0401_box01 .ab0401_interbox01 ul li ul li ul.ab0401list li{ padding-left:14px; background:url(/about/images/ico04_ab0401.gif) left 7px no-repeat}
#rule_wrap #rule_main .ab0401_interbox02 dl dt { padding-right:0px; margin-top:3px; margin-right:10px; float:left; /*background:url(/about/images/line01_ab0401.gif) right 2px no-repeat; */ color:#04519b}
#rule_wrap #rule_main .ab0401_interbox02 dl dd { display:table}

#rule_wrap #rule_container{ float:left; width:100%; background:url(/about/images/rule/rule_body_bg.gif) left top repeat-y;}
#rule_wrap #rule_container #rule_left { width:231px; padding:10px 0 50px 8px; float:left}
#rule_wrap #rule_container #rule_left ul li a { color:#4b4b4b}
#rule_wrap #rule_container #rule_left ul li a:hover { color:#1552a6; text-decoration:none}
#rule_wrap #rule_container #rule_left ul li { margin-top:12px; padding-left:17px; background:url(/about/images/ico01_ab0401.gif) left 3px no-repeat}
#rule_wrap #rule_container #rule_left ul li ul li { margin:0; padding-left:16px; background:url(/about/images/rule/ico03_rule.gif) left 4px no-repeat}
#rule_wrap #rule_container #rule_left ul li ul li ul { margin-left:-2px}
#rule_wrap #rule_container #rule_left ul li ul li ul li {padding-left:14px; background:url(/about/images/rule/ico04_rule.gif) left 6px no-repeat; line-height:1.4}
#rule_wrap #rule_container #rule_right { border:0px solid red; width:680px; float:left;/* border-left:1px solid #cedcef; border-right:1px solid #cedcef;*/}
#rule_wrap #rule_container #rule_right .rule_conheader { position:relative; margin-left:20px; height:44px; width:640px; padding-bottom:0px; border-bottom:1px solid #cedcef;/*background:url(/about/images/rule/bg02_rule.gif) left bottom no-repeat*/}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox01 { border:0px solid red; position:absolute; left:0; top:16px; padding:0px 0 0 0px; width:153px; height:16px; /*background:url(/about/images/rule/bg01_rule.gif) no-repeat*/}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox01 li { display:inline; padding-left:0px; /*background:url(/about/images/rule/ico01_rule.gif) left 3px no-repeat*/}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox01 li.grayline {margin-left:18px;  padding-left:18px;  background:url(/about/images/rule/gray_vline.gif) left top no-repeat }
#rule_wrap #rule_container #rule_right .rule_conheader .interbox01 li a { color:#4b4b4b; font-weight:bold; letter-spacing:-0.1em;}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox01 li a:hover { color:#0b6acd; font-weight:bold; text-decoration:none; letter-spacing:-0.1em;}

#rule_wrap #rule_container #rule_right .rule_conheader .interbox02 { border:0px solid red; position:absolute; right:0px; top:15px;  height:16px;}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox02 li { display:inline}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox02 li.blueline {margin-left:18px; padding-left:18px; background:url(/about/images/rule/blue_vline.gif) left top no-repeat }
#rule_wrap #rule_container #rule_right .rule_conheader .interbox02 li a { color:#0b6acd; font-weight:bold; letter-spacing:-0.1em;}
#rule_wrap #rule_container #rule_right .rule_conheader .interbox02 li a:hover { color:#4b4b4b; font-weight:bold; text-decoration:none; letter-spacing:-0.1em;}


#rule_wrap #rule_container #rule_right #rule_contents { min-height:580px; padding:20px;/*border-left:2px solid #c6c7ca; border-right:2px solid #c6c7ca; */}
#rule_wrap #rule_container #rule_right #rule_contents h2 { padding:27px 0; border-top:2px solid #5095b8; display:block; text-align:center; background:url(/about/images/rule/bg03_rule.gif) left bottom no-repeat; font-weight:normal; color:#04539b}
#rule_wrap #rule_container #rule_right #rule_footer{ padding:21px 18px 7px 0; text-align:right; /*background:url(/about/images/rule/bg04_rule.gif) no-repeat #d9e7ee*/}
ul.rule_itemlist li a { color:#0b6acd; text-decoration:none; }
ul.rule_itemlist li a:hover { color:#4b4b4b; text-decoration:none; }

.rule_search_count { background-color:#eee; padding-left:5px; margin-bottom:10px; font-weight:bold; }

ul.rule_search_result li { margin-bottom:15px; }

/* footer */
#rulefooter{ clear:both; width:100%; height:70px; padding:10px 0 10px 0px; background:#f4f3f1; border-top:1px solid #cedcef}
#rulefooter .logo { float:left; margin-left:80px }
#rulefooter .copy { float:left; margin:10px 0 0 30px; }
#rulefooter address{font-size:0.917em;letter-spacing:-0.5px}
#rulefooter address a{ color:#494949}
#rulefooter address a:hover, #footer address a:focus, #footer address a:active{ color:#1552a6; text-decoration:none}
#rulefooter p{ font-size:0.917em}




/* snu60 */
.snu60 { margin:0px; padding:0px; background-color:#fff; }
.snu60 ul li { list-style:none; }
#snu60wrap { margin:0px; padding:0px; float:left; border:0px solid red;}
#snu60wrap h2 a {display:block; background:url(/about/snu60/images/logo_snu60.gif) left top no-repeat; width:200px; height:60px; text-indent:-500px;}
#snu60index { width:190px; border:0px solid red; margin-top:15px; padding-bottom:15px; overflow:hidden; text-align:right; letter-spacing:-0.12em; }
#snu60index ul {  margin:0 0 0 0; padding: 6px 0 0 00px;}
#snu60index ul li { padding-top:5px; line-height:180%; font-weight:bold;}
#snu60index ul li a { color:#00397f}
#snu60index ul li a:hover { color:#4b4b4b; text-decoration:none}
#snu60index ul li ul {width:auto; background:none; margin-left:-20px;padding:0px;}
#snu60index ul li ul li {  padding-top:0px;font-weight:normal; border:0px solid blue; }
#snu60index ul li ul li a { color:#4b4b4b}
#snu60index ul li ul li a:hover { color:#1552a6; text-decoration:none}
#snu60index p a {  font-weight:bold; color:#00397f}
#snu60index p a:hover {  font-weight:bold; color:#4b4b4b; text-decoration:none}

#snu60body { margin:55px 10px 0 10px; float:left; }
.snu60cover { float:left; }
.snu60body { width:400px; margin:10px 0 0 12px; font-weight:bold; font-size:14px; float:left; border:0px solid blue;}
.snu60body .text01_member0701{ float:left; margin-right:20px}
.snu60body .text02_member0701{ float:left; width:355px; /*border-bottom:1px solid #e0e0e0*/}
.snu60body .text02_member0701 p{ margin-bottom:15px; font-weight:bold; letter-spacing:-1px}
.snu60body .text02_member0701 p span{ color:#4475bd}
.snu60body dl {margin-top:-5px;}
.snu60body dl dt{ float:left; clear:left; width:60px; line-height:150%; margin-right:5px}
.snu60body dl dd{ line-height:150%;}
.snu60body ul { margin:10px 0 0 0px; }
.snu60body ul li.first { margin-left:-3px; }
ul.snu60memlist li { margin:0; padding:0; line-height:200%; height:28px; border:0px solid red;}
.snu60body span {letter-spacing:0.5em;}
.snu60body p {color:#00397f}