@charset "utf-8";

/* table01 */
.table01{ margin-top:10px; border-top:2px solid #5d8bca; border-collapse:collapse}
.table01 th{ padding:5px 0 4px 0; border:1px solid #cedcef; background:#dfebfd; color:#00397f}
.table01 td{ padding:6px 0 7px 0; border:1px solid #cedcef; color:#4b4b4b; line-height:1.4em; text-align:center}
.table01 td.left01{ padding-left:30px; text-align:left; vertical-align:middle}
.table01 td.left02{ padding:6px 3px 7px 3px; text-align:left}
.table01 td a{ color:#4b4b4b}
.table01 td a:hover, .table01 td a:focus, .table01 td a:active{ color:#1552a6; text-decoration:none}
.table01 td dl dt{ margin-bottom:5px}
.table01 .blue_bg{ background:#f7fafe}

/* table02 */
.table02{ border:1px solid #cedcef; border-collapse:collapse}
.table02 th{ border:1px solid #cedcef; background:#dfebfd; color:#4b4b4b; font-weight:normal}
.table02 td{ padding:1px 0 0 5px; border:1px solid #cedcef}
.table02 td a{ color:#4b4b4b}
.table02 td a:hover, .table02 td a:focus, .table02 td a:active{ color:#1552a6; text-decoration:none}
.table02 td strong.under{ text-decoration:underline}
.table02 td.center{ padding-left:0; text-align:center}
.table02.thnone tbody th{ background:none; padding:0 2px}
.table02.tdpad td{ padding:10px 0 7px 5px}

/* table03 */
/*
.table03{ margin:10px 0 0 0; border-top:2px solid #5d8bca; border-collapse:collapse}
.table03 th{ padding:5px 0 4px 0; border:1px solid #cedcef; background:#dfebfd; color:#00397f}
.table03 th.th_mem{ font-weight:normal; background:none; color:#494949}
.table03 tr.gray_bg th{ background:#f7fafe; font-weight:normal}
.table03 td{ padding:6px 0 7px 0; border:1px solid #cedcef; color:#4b4b4b; line-height:1.4em; text-align:center}
.table03 td a{ color:#494949}
.table03 td a:hover, .table05 td a:focus, .table05 td a:active{ color:#1552a6; text-decoration:none}
.c_tb03{ width:625px; margin:0 0 0 15px}
.c_th02{ background:none!important; color:#494949!important}
.cor_span{ color:#04799b!important}
.c02_tb03{ width:625px; margin:0 0 0 15px}
.c02_tb03 td{ text-align:left; padding-left:5px}
.c03_tb03{ width:640px; margin:0 0 0 15px}
.c03_tb03 th{ font-weight:normal}
.c04_tb03{ margin:0 0 11px 0}
*/
/* table03 */
.table03{ margin:10px 0 0 0; border-top:2px solid #5d8bca; border-collapse:collapse}
.table03 th{ padding:5px 0 4px 0; border:1px solid #cedcef; background:#dfebfd; color:#00397f}
.table03 th.th_mem{ font-weight:normal; background:none; color:#494949}
.table03 tr.gray_bg th{ background:#f7fafe; font-weight:normal}
.table03 td{ padding:6px 0 7px 0; border:1px solid #cedcef; color:#4b4b4b; line-height:1.4em; text-align:center}
.table03 td a{ color:#494949}
.table03 td.tleft { text-align:left; padding-left:4px;}
.table03 td.tleft_zd { text-align:left; padding-left:15px;}
.table03 td.tleft_ora { text-align:left; padding:11px 5px 8px 5px;}
.table03 td ul li { margin-left:4px; padding-left:12px; background:url(/images/common/ico/ico_dt_ab0105.gif) left 4px no-repeat;}
.table03 td a:hover, .table05 td a:focus, .table05 td a:active{ color:#1552a6; text-decoration:none}

.table03 dl {margin:0px 0 0 5px}
.table03 dl dt{float:left; width:53px;margin-top:5px; padding-left:12px; background:url(/images/common/ico/ico_dt_ab0105.gif) left 4px no-repeat; font-weight:bold}
.table03 dl dd{float:left; width:445px;margin-top:5px;}

.table03 dl.dl2 {margin:0px 0 0 5px}
.table03 dl.dl2 dt{float:left; width:80px;margin-top:5px; padding-left:12px; background:url(/images/common/ico/ico_dt_ab0105.gif) left 4px no-repeat; font-weight:bold}
.table03 dl.dl2 dd{float:left; width:410px;margin-top:5px;}

.table03 dl.dl3 {margin:0px 0 0 5px}
.table03 dl.dl3 dt{float:left; width:90px;margin-top:5px; padding-left:12px; background:url(/images/common/ico/ico_dt_ab0105.gif) left 4px no-repeat; font-weight:bold}
.table03 dl.dl3 dd{float:left; width:400px;margin-top:5px;}


.c_tb03{ width:625px; margin:0 0 0 15px}
.c_th02{ background:none!important; color:#494949!important}
.cor_span{ color:#04799b!important}
.c02_tb03{ width:625px; margin:0 0 0 15px}
.c02_tb03 td{ text-align:left; padding-left:5px}
.c03_tb03{ width:640px; margin:0 0 0 15px;}

.c03_tb03 th{ font-weight:normal}
.c04_tb03{ margin:0 0 11px 0}




/* table04 */
.table04{ border-top:2px solid #5d8bca}
.table04 th{ padding:7px 0 5px 15px; text-align:left; border-bottom:1px solid #f2f2f2; letter-spacing:-1px; color:#00397f}
.table04 td{ padding:7px 0 5px 0; border-bottom:1px solid #f2f2f2}
.table04 .bgc{ background-color:#f7fafe}

/* table05 */
.table05{ margin-top:10px; border-top:2px solid #5d8bca; border-collapse:collapse}
.table05 th{ padding:5px 0 4px 0; border:1px solid #cedcef; background:#dfebfd; color:#00397f}
.table05 td{ padding:10px 0 8px 20px; border:1px solid #cedcef; color:#4b4b4b; line-height:1.4em; text-align:left}
.table05 th.left{ text-align:left; padding-left:20px}
.table05 td a{ color:#494949}
.table05 td a:hover, .table05 td a:focus, .table05 td a:active{ color:#1552a6; text-decoration:none}
.table05 td ul li{ display:inline; padding-right:10px}

/* table06*/
.table06{ width:660px; border:1px solid #cedcef; border-collapse:collapse; color:#4b4b4b;}
.table06.tac {text-align:center}
.table06 th{ border:1px solid #cedcef; background:#dfebfd; font-weight:normal; color:#00397f}
.table06 tr.gray_bg th, .table06 th.blue_bg{ background:#f7fafe; font-weight:normal}
.table06 th.white_bg{ background: none; font-weight:normal}
.table06 td{ padding-left:4px; border:1px solid #cedcef}
.table06 td.cente{ padding:0; text-align:center}
.table06 td.left{ text-align:left}
.table06 td a{ color:#4b4b4b}
.table06 td a:hover{ color:#1552a6; text-decoration:none}
.table06.thnone tbody th{ background:none}
.table06.thleft th{ padding-left:5px; background:none; text-align:left}
.table06.tdpad td, .table06.tdpad02 td, .table06.tdcen td{ padding:6px 0 3px 5px}
.table06.tdpad02, .table06.tdcen{ width:615px; margin-bottom:13px}
.table06.tdpad02 th, .table06.tdcen th{ padding:6px 0 3px 0}
.table06.tdcen td{ text-align:center}
.table06.tpd th{ padding:6px 0 4px 0;font-weight:bold}

.table06.w650 { width:650px;margin-left:10px}


/* table07*/
.table07{ width:660px; border:1px solid #cedcef; border-collapse:collapse; color:#4b4b4b}
.table07 th{ border:1px solid #cedcef; background:#dfebfd; font-weight:normal; color:#00397f; padding:5px 0 4px 0;}
.table07 td{ border:1px solid #cedcef; text-align:center}
.table07 td a{ color:#4b4b4b}
.table07 td a:hover{ color:#1552a6; text-decoration:none}
.table07.thnone tbody th{ background:none}
.table07.tdpad td{ padding:6px 0 3px 5px}

/* table08 */
.table08{ margin:10px 0 0 0; border-top:1px solid #cedcef; border-collapse:collapse}
.table08 th{ border:1px solid #cedcef; background:#dfebfd; color:#494949; font-weight:normal; color:#00397f}
.table08 td{ padding:1px 0 5px 0; border:1px solid #cedcef; color:#4b4b4b; line-height:1.4em; text-align:center}
.table08 .cbg{ background-color:#f9faf8}
.table08 td a{ color:#4b4b4b}
.table08 td a:hover, .table01 td a:focus, .table01 td a:active{ color:#1552a6; text-decoration:none}
.c_td{ text-align:left!important; padding-left:10px!important}
.c_td02{ text-align:left!important; padding-left:5px!important}
.c_tb08{ width:540px; margin-left:24px}
.c_tb09{ width:540px; margin:0 0 0 60px}

/* table09*/
.table09{ margin-top:20px; border:1px solid #cedcef; border-collapse:collapse; color:#114b60}
.table09 th{ padding-left:20px; border:1px solid #cedcef; background:#dfebfd; font-weight:normal; text-align:left; color:#00397f}
.table09 th span{ padding-left:10px; background:url(/images/common/background/bg01_text.gif) left 4px no-repeat}
.table09 td{ padding:10px 0 8px 14px; border:1px solid #cedcef}
.table09 a{ color:#4b4b4b; text-decoration:none}
.table09 a:hover{ color:#1552a6; text-decoration:none}



