@charset "UTF-8";

/* ページの基本レイアウト */
body,div,pre,p,blockquote,
form,fieldset,input,textarea,select,option,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
table,th,td,embed,object {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

html{overflow-y:scroll;}
ol,ul{list-style:none;}
fieldset,img{border:0;}

img {
	vertical-align:bottom;
	border-width: 0px;
	border-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th{text-align:left;}

address,caption,cite,code,dfn,em,strong,th,ver{
font-style:normal;
}

dl {_height: 1%;}

/* ------IE6用------ */
br {letter-spacing:0;}
/* ----------------- */

/* ------禁則処理------ */
body {
	word-break: normal !important;
	word-wrap: break-word;
}
/* ----------------- */


body {
	font-family: 'Lucida Grande', sans-serif;
	text-align: center;
	font-size: 100%;
	letter-spacing: 1px;
	background: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	color: #333333;
}

a {
	text-decoration: none;
	color: #0033cc;
	outline:none;
}

a:visited {
	color:#885577;
}

a:hover {
	text-decoration: none;
	color: #339933;
}

#container {
	margin: 0 auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 950px;
	background: #ffffff;
}

#contents {
	margin-left: 0px;
	margin-right: auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 650px;
	background: #ffffff;
	float: left;
}

#main {
	margin: 0px;
	margin-right: auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 450px;
	float: right;
}

#sub {
	margin: 0px;
	margin-right: auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 200px;
	line-height: 150%;
	float: left;
}

#extra {
	margin: 0px;
	margin-right: auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 298px;
	float: right;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 112%;
	line-height: 160%;
	font-weight:bold;
	text-align: right;
}


h2 {
	padding: 5px 0px 5px 30px; 
	font-size: 100%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
}



/* クリア */

.clr { clear:both; }

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* box */

.main_box {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	width: 448px;
	font-size: 80%;
	line-height: 150%;
	background: #ffffff;
	border: 1px solid;
	border-color: #99cccc;
}

.sub_box {
	margin: 10px 5px 10px 0px;
	padding: 5px 0px 0px 0px;
	width: 190px;
	font-size: 80%;
	background: #ffffff;
	border: 1px solid #bbbbbb;
}

.extra_box {
	margin: 10px 0px 10px 10px;
	padding: 0px;
	width: 284px;
	font-size: 80%;
	line-height: 150%;
	background: #ffffff;
	border: 1px solid;
	border-color: #99cccc;
}

.in_box3 {
	margin: 5px 5px 10px 10px;
	padding: 0px;
	font-size: 95%;
	line-height: 150%;
}

.in_box {
	margin: 10px;
	padding: 5px 0px 10px 0px;
	font-size: 95%;
	line-height: 150%;
	background: #ffffff;
}


/* ○○はこちら */

.a_line {
	margin: 5px 5px 0px 0px;
	padding: 0px;
	text-align: right;
	font-size: 90%;
	clear: both;
}


/* ヘッダ */

#header {
	margin: 0 auto;
	text-align: left;	/* IE用方法の弊害対策用 */
	width: 950px;
}


/* 看板 */

#title_name{
	width: 340px;
	height: 90px;
	float: left;
}

#title_name a {
	background: url(../images/logo.gif) no-repeat left top;
	text-indent:-9000px;
	width: 300px;
	height: 85px;
	display: block;
}

#marker {
	margin-top: 5px;
	padding: 0px;
	width: 610px;
	_width: 600px;	/* IE6用の弊害対策用 */
	font-size: 80%;
	line-height: 180%;
	display: block;
	float: left;
}

p.mobile{
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 95%;
	text-align:right;
}




#sashie_style {
	width: 80px;
	_width: 90px;	/* IE6用の弊害対策用 */
	font-size: 70%;
	font-weight: bold;
	line-height: 180%;
	text-align: center;
	color: #006633;
	float: left;
}

/* メインナビ */

#main_navi {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 5px;
	width: 945px;
	height: 35px;
	background: #ffffff;
	text-align: center;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #99cccc;
	clear: both;
}

ul.menu li {
	margin: 0px 0px 0px 0px;
	padding: 10px;
	height: 15px;
	text-decoration: none;
	list-style: none;
	font-size: 78%;
	font-weight: bold;
	color: #000000;
	float: left;
	display: block;
}

ul.menu a {
	padding: 5px;
	height: 15px;
	color: #000000;
	font-weight:bold;
	text-decoration: none;
}

ul.menu a:hover {
	color: #000000;
	background: #e9fefe;
}


.attention{
	color: #dd0000;
}

.input_attention{
	color: #ff0000;
}


.beginner {
	margin: 5px 5px 5px 0px;
	padding: 3px 0px 3px 0px;
	width: 110px;
	border: 1px solid #99cccc;
	text-align:center;
	float: left;
}

.beginner_a {
	margin: 5px 5px 5px 0px;
	padding: 4px 0px 0px 0px;
	width: 30%;
	border: 1px solid #99cccc;
	text-align:center;
	vertical-align:middle;
	float: left;
}

.beginner_b {
	margin: 5px 5px 5px 0px;
	padding: 4px 4px 0px 4px;
	border: 1px solid #E70012;
	text-align:center;
	vertical-align:middle;
	float: left;
}

.beginner_c {
	margin: 5px 5px 5px 0px;
	padding: 4px 4px 0px 4px;
	border: 1px solid #99cccc;
	text-align:center;
	vertical-align:middle;
	float: left;
}


/* フッタ */

#footer {
	margin: 0px auto;
	padding-bottom: 20px;
	width: 950px;
	text-align:center;
	clear: both;
}

#subnavi {
	margin: 0px auto;
	padding-bottom: 10px;
	width: 950px;
	text-decoration: none;
	list-style: none;
	line-height: 150%;
}

ul.undernavi li {
	margin: 0px;
	padding: 5px 20px 0px 3px;
	text-decoration: none;
	list-style: none;
	font-size: 75%;
	float: left;
	text-align: center;
}

ul.undernavi a {
	height: 20px;
	color: #444444;
}

ul.undernavi a:hover {
	color: #cc0033;
}

#copyright {
	margin: 0px auto;
	padding-top: 8px;
	font-size: 75%;
	color: #444444;
	text-align: center;
	clear: both;
}

/* ガイドリスト */

ul.list_g li {
	margin: 0px;
	padding: 0px;
	font-size: 95%;
	color: #000000;
	display: block;
	list-style: none;
	line-height: 180%;
}

ul.list_g a {
	color: #000000;
	background: #FFFFFF;
	display: block;
	_zoom:1;	/* IE6の余白を解消する指定 */
}

ul.list_g a:hover {
	color: #339933;
	background: #FFFFdd;
}

/* 日付の左を空けたり次話リンクの左を空けたり */

.marginright{
	margin-right: 15px; 
	font-size: 90%;
}

.marginleft{
	margin-left: 15px; 
	font-size: 90%;
}


/* 半角対策 */

.manage_a {overflow: hidden; word-break: break-all;}
.title_m { overflow: hidden; word-break: break-all;}
.title_mt { overflow: hidden; word-break: break-all;}
.title_mf { overflow: hidden; word-break: break-all;}
.title_uf { overflow: hidden; word-break: break-all;}
.ex_m{ overflow: hidden; word-break: break-all;}
.ex_mf{ overflow: hidden; word-break: break-all;}
.key_m{ overflow: hidden; word-break: break-all;}
.my_m_waku{ overflow: hidden; word-break: break-all;}
.title_mb{ overflow: hidden; word-break: break-all;}
.mes_mb{ overflow: hidden; word-break: break-all;}
.comment_bun{ overflow: hidden; word-break: break-all;}
.profile_right{ overflow: hidden; word-break: break-all;}
.novel_h{ overflow: hidden; word-break: break-all; width:467px; letter-spacing: 0px;}
.user_h{ overflow: hidden; word-break: break-all; letter-spacing: 0px;}
#writting_title{ overflow: hidden; word-break: break-all;}
.user_in_box{ overflow: hidden; word-break: break-all;}
.novel_title{ overflow: hidden; word-break: break-all; letter-spacing: 0px;}
.user_box{ overflow: hidden; word-break: break-all;}
.novel_view{ overflow: hidden; word-break: break-all; letter-spacing: 0px;}
.newreview{ overflow: hidden; word-break: break-all;}
.list_p li{ overflow: hidden; word-break: break-all;}
.trackback_listdiv{ overflow: hidden; word-break: break-all;}
td.manage{overflow: hidden; word-break: break-all;}
td.honbun{overflow: hidden; word-break: break-all;}

/* ボタン */

.button {
	margin: 5px;
	padding: 2px 5px 2px 5px;
	text-align: center;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background:#eeeeee;
}

.button:hover {
	background:#ffffdd;
}

/* 文字数制限表示 */
.letter_limit {
	color: #666666;
	font-size: 80%;
	line-height: 150%;
}

input[type="radio"] {
	margin-left: 3px;
	margin-right: 3px;
}

input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 5px;
}


/* 広告 */
.koukoku_header{
	margin: 10px 0px 5px 10px;
}

.koukoku_footer{
	margin: 0px auto;
	padding: 20px 0px;
	width: 728px;
	text-align: center;
	clear:both;
}

.koukoku_scraper{
	margin:10px 0px 0px 20px;
	width: 160px;
}
