@charset "UTF-8";

/* 第２ヘッダ */

#koukoku_header {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: left;
	width: 950px;
	clear: both;
}

#sub1 {
	margin: 0px auto;
	margin-top: 5px;
	padding: 5px 0px 0px 0px;
	width: 190px;
	line-height: 150%;
	font-size: 80%;
	text-align: left;
	float: left;
	background: #ffffff;
}

#top_kensaku {
	margin: 0px;
	padding: 5px 5px 10px 10px;
	font-size:95%;
	line-height:150%;
	border: 1px solid #99cccc;
}

#important_message {
	margin-left: 10px;
	padding:  10px 0px 0px 0px;
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	line-height: 170%;
	color: #990033;
	vertical-align: middle;
}

.top_right {
	margin: 0px 10px 0px 0px;
	text-align: left;
	width: 740px;
	height: 165px;
	float: right;
}

.koukoku_index_header {
	margin: 15px 10px 5px 10px;
	text-align: left;
}


.koukoku_index_middle {
	margin: 15px auto;
	text-align:center;
}

.koukoku_index_square {
	margin: 10px 0px 15px 0px;
	text-align:center;
}

.koukoku_index_scraper {
	margin: 20px 5px 25px 0px;
	text-align:center;
}



/* 中見出し */

.title_h2 {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	height: 20px;
	border-bottom: 2px solid;
	border-color: #66cccc;
}

.h2_horror {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #CC0000;
	background: url(/view/images/natsuhora_info.gif) no-repeat 0 1px;
}

.h2_marchen {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #335588;
	background: url(/view/images/book.gif) no-repeat 0 1px;
}

.h2_news {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/news.gif) no-repeat 0 1px;
}

.h2_rank {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/oukan.gif) no-repeat 0 1px;
}

.h2_rank2 {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/oukan2.gif) no-repeat 0 1px;
}

.h2_link {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/link.gif) no-repeat 0 1px;
}

.h2_mail {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/mail.gif) no-repeat 0 1px;
}

.h2_book {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/book.gif) no-repeat 0 1px;
}

.h2_tag {
	margin: 0px 0px 0px 0px;
	padding-left: 30px;
	font-size: 110%;
	font-weight: bold;
	line-height: 170%;
	color: #663300;
	background: url(/view/images/tag.gif) no-repeat 0 1px;
}

#qr {
	margin:10px 0px 10px 0px;
	text-align: center;
}


/* ピックアップ */

ul.list_p li {
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	font-size: 100%;
	color: #000000;
	display: block;
	list-style: none;
	line-height: 150%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #99cccc;
}

ul.list_p a {
	padding: 5px;
	color: #000000;
	background: #ffffff;
	display: block;
}

ul.list_p a:hover {
	padding: 5px;
	color: #339933;
	background: #ffffdd;
}

ul.list_p .ff a:hover {
	padding: 5px;
	color: #339933;
	background: #fff8e9;
}

.list_p_title {
	margin: 5px 0px 5px 0px;
	font-weight:bold;
	font-size: 130%;
}

.list_p_ex {
	margin: 5px 5px 5px 5px;
	font-size: 95%;
	color:#663333;
}

/* ご了承文 */

.attenstion2{
	margin-bottom: 20px;
	font-size: 80%;
	color: #666666;
}

/* 参加しているランキング */

ul.img_list li {
	margin: 5px 0px 0px 15px;
	padding: 0px 0px 0px 5px;
	height: 35px;
	text-decoration: none;
	list-style: none;
	float: left;
	display: block;
}

ul.img_list a {
	padding: 10px;
	color: #000000;
	text-decoration: none;
}


/* 現在開催中の企画 */

.now_kikaku_box {
	text-align:center;
}

.now_kikaku_box a{
	display:block;
	margin: 0px 0px 15px 0px;
}


/* なろうグループ */

ul.img_list2 li {
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 5px;
	text-decoration: none;
	list-style: none;
	float: left;
	display: block;
}

ul.img_list2 a {
	padding: 10px;
	color: #000000;
	text-decoration: none;
}


/* ユーザの新着活動報告 */
.link_bloglist{
	margin:10px 2px 10px 10px;
	padding:10px 0px;
	font-size:100%;
	font-weight:bold;
	background:#ffffdd;
	border:2px solid #ffdd66;
	text-align:center;
}


/* 関連サイト */

.link_box {
	margin: 7px 5px 12px 4px;
	padding: 2px 5px 2px 10px;
	background: #ffffff;
	border-left: 2px solid #66cccc;
}

/* ○○はこちら */

.a_line_t {
	margin: 10px 0px 0px 0px;
	padding: 5px 10px 5px 0px;
	text-align: right;	
	font-size: 90%;
	clear: both;
	background: url(../images/aline_bg.gif);
}

/* ダイレクト投稿 */

#direct {
	margin-bottom:10px;
	padding: 15px 0px 15px 0px;
	text-align:center;
	font-size:130%;
	font-weight:bold;
	border-top:double #00cc99;
	border-bottom:double #00cc99;
}

/* ページ下部キーワード広告 */
#adingo_keywords_0174400001 ul {
	padding-bottom: 10px;
}

#adingo_keywords_0174400001 li {
	padding-right: 13px;
	padding-top: 3px;
	padding-bottom: 6px;
	font-size: 100%;
	float: left;
	color: #000000;
	display: block;
	list-style: none;
	line-height: 150%;
	white-space: nowrap;
}

#adingo_keywords_0174400001:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.index_nativead {
	margin: 20px auto;
	width: 430px;
	text-align:center;
}




/********* タイアップ企画用スタイル *********/
#tie_up {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	font-size: 80%;
	line-height: 170%;
	background: #ffffff;
	border: 1px solid #3377bb;
}


#tie_up h2 {
	font-family: "メイリオ","ＭＳ Ｐゴシック",Osaka,sans-serif;
	margin: 0px 5px 10px 5px;
	padding: 5px 0px 0px 0px;
	border-bottom: 2px solid #bbccee;
	color: #660066;
	font-size: 17px;
	font-weight: bold;
	text-align:center;
	text-shadow:1px 1px 1px #ddddee;
	-moz-box-shadow: 1px 1px 1px #ddddee;
	-webkit-box-shadow: 1px 1px 1px #ddddee;
}

#tie_up ul {
	margin: 8px 10px 8px 15px;
}

#tie_up li {
	margin: 10px 0px 5px 0px;
	padding-left:30px;
	background: url(/view/images/book.gif) no-repeat 0 1px;
	font-size:90%;
}

#tie_up li a.title{
	color:#334499;
	font-weight:bold;
	font-size:120%;
	letter-spacing: -1px;
}

#tie_up li a.title:visited{
	color:#334499;
}

#tie_up li a.title:hover{
	color:#66aacc;
}

#tie_up .description {
    margin-top: 10px;
    clear: both;
    padding: 8px 15px 5px 20px;
    background: #bbeeff;
}

#tie_up p.a_line {
    margin: 0px;
    text-align: right;
}


/********* index 一番上の公式企画告知 *********/
/* なろうラジオ */
.narouradio {
	margin: 5px 5px 5px 0px;
	font-size:120%;
	float: left;
}

.narouradio a{
	padding: 2px 10px;
	display:block;
	border:2px solid #cccccc;
	color:#eeeeee;
	background:#666666;
	font-family: "メイリオ","ＭＳ Ｐゴシック",Osaka,sans-serif;
}

.narouradio a:hover{
	color:#ffffff;
	background:#cc3333;
}


/* その他告知 */
.bigbanner {
	margin: 5px 5px 5px 0px;
	float: right;
}

.bigbanner a{
	padding: 3px 15px;
	display:block;
	color:#ffffff;
	background:#00c0f3;
	border: 1px solid #00c0f3;
	font-family: "メイリオ","ＭＳ Ｐゴシック",Osaka,sans-serif;
	font-size:110%;
}

.bigbanner a:hover{
	color:#ffffff;
	background:#66ddff;
}

