html,
body,
#globalHeader *,
#globalSide *,
#globalFooter *,
#path_box * {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

/* ------------------------------------------------------------------
	共通指定
------------------------------------------------------------------ */

/* =============================================================================
   HTML5 element display
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio[controls],
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */

html {
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 100%;
	line-height: normal;
	margin: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

small {
	font-size: 75%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

figure {
	margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

form {
	margin: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button,
input {
	line-height: normal;
	*overflow: visible;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	vertical-align: middle;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 0;
	text-align: left;
	vertical-align: middle;
}

/* リセットここまで */

/* =============================================================================
   大枠 * editして追加
   ========================================================================== */

body {
	font-size: 12px;
	line-height: 1.5;
}

body > #globalWrapper {
	position: relative;
	min-width: 1020px;
	background: #fff;
}

/*  リンク
=====================================*/

a:link,
a:visited {
	color: #795284;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:hover,
a:active {
	color: #795284;
	outline: 0;
}

/*  アクセシビリティ
=====================================*/

.guidance {
	left: -999px;
	position: absolute;
	width: 990px;
}

img {
	vertical-align: bottom;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

input,
textarea,
select {
	font-family: "Tahoma", "ＭＳ Ｐゴシック", "Lucida Grande", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "Osaka", sans-serif !important;
}

input,
select,
button,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

input,
button {
	line-height: normal;
	*overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

form,
blockquote, dd, dl, dt,
h1, h2, h3, h4, h5, h6,
li, ol, p, pre, td, th, ul {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

#globalContents .pp {
	padding-left: 15px;
	color: #000 !important;
	background: url(../images/title_pp.png) no-repeat left 50%;
}

/*  ▼▼▼ ヘッダー
=====================================*/

#globalHeader {
	width: 100%;
	margin: 0 auto 10px;	/* 20160401 */
	background-color: #d6d6d6;
	background-image: url(../images/navi/header/header_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 100px;
}

#globalHeader > .container {
	width: 1015px;	/* 20160401 */
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

@media screen and (max-width: 1385px) and (min-width: 1036px){	/* 20160401 */
  #globalHeader > .container {
    width: 100%;
  }
}
@media screen and (min-width: 1386px){	/* 20160401 */
	#globalHeader > .container {
		width: 1365px;	/* 20160401 */
	}
}

#globalHeader > .container:before,
#globalHeader > .container:after {
	content: " ";
	display: table;
}

#globalHeader > .container:after {
	clear: both;
}

#globalHeader > .container {
	*zoom: 1;
}

#globalHeader h1 {
	float: left;
	vertical-align: middle;
	width: 210px;
	position: relative;
}

#headerContent {
	margin-left: 225px;	/* 20160401 */
}

#headerContent .top {
	box-sizing: border-box;
	padding-top: 7px;
	height: 50px;
	overflow: hidden;
}

#globalHeader .link {
	overflow: hidden;
	float: left;
}

#globalHeader .link li {
	float: left;
	margin-right: 10px;
}

#globalHeader .link li:first-child {
	margin-top: 1px;
}

#globalHeader .link li a {
	background-position: top center;
	background-repeat: no-repeat;
	color: #595757;
	display: block;
	padding: 21px 2px 0;
	font-weight: bold;
	font-size: 11px;
}

#globalHeader .link li a:hover {
	text-decoration: none;
}

#globalHeader .link li .new {
	background-image: url('../images/navi/header/header_visitor.png');
}

#globalHeader .link li .guide {
	background-image: url('../images/navi/header/header_guide.png?');
}

#globalHeader .link li .inquiry {
	background-image: url('../images/navi/header/header_inquiry.png?');
}

#globalHeader .link li .register {
	background-image: url('../images/navi/header/header_register.png');
}

#globalHeader .link li .point {
	background-image: url('../images/navi/header/header_point.png?');
}

#globalHeader .link li span.points {
	color: #D1102C;
}

#headerContent .top ul.notice {
	float: right;
	color: #595757;
	margin-right: 6px;
}

#headerContent .top ul.notice li {
	float: left;
	margin-left: 7px;
}

#headerContent .top ul.notice li:first-child {
	margin-left: 0;
}

#headerContent .top ul.notice a {
	color: #595757;
}

#headerContent .bottom {
	display: table;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
}

#headerContent .searchBox {
	display: table-cell;
	position: relative;
}

#f_NaviSearch {
	margin: 8px 16px 0 0;
	border: 1px solid #595757;
	overflow: hidden;
	position: relative;
	border-radius: 0 4px 4px 0;
	height: 35px;
	box-sizing: border-box;
}

#f_NaviSearch .label {
	float: left;
	display: inline-block;
	height: 33px;
	box-sizing: border-box;
	padding: 0 17px 0 5px;
	background: url('../images/arrow_gray.gif') no-repeat right;
	line-height: 33px;
	border-right: 1px solid #595757;
	background-color: #fff;
	cursor: pointer;
	color: #595757
}

#f_NaviSearch .submit {
	float: right;
	display: inline-block;
	width: 37px;
	text-align: center;
	background-color: #727171;
	box-sizing: border-box;
	border-left: 1px solid #595757;
}

#f_NaviSearch .input {
	position: relative;
	width: auto;
	overflow: hidden;
	height: 33px;
	background-color: white;
	box-sizing: border-box;
}

#f_NaviSearch .input > div {
	position: relative;
	box-sizing: border-box;
	height: 33px;
}

#search {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	line-height: 15px;
	padding: 6px 10px;
	height: 33px;
	border: 0;
	font-size: 15px;
	margin: 0;
	border-radius: 0;
	box-sizing: border-box;
}

#search:focus {
	box-shadow: none;
}

#headerContent .welcome {
	display: table-cell;
	width: 150px;
	vertical-align: top;
}

#headerContent .welcome p {
	margin-top: 11px;
	line-height: 1.3;
	font-weight: bold;
	color: #595757;
}

#headerContent .welcome p span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

#headerContent .welcome .memberName {
	max-width: 120px;
}

#headerContent .button {
	display: table-cell;
	width: 220px;
	vertical-align: middle;
	position: relative;
}

#headerContent .button:before,
#headerContent .button:after {
	content: " ";
	display: table;
}

#headerContent .button:after {
	clear: both;
}

#headerContent .button {
	*zoom: 1;
}

#headerContent .button ul.main {
	position: absolute;
	bottom: 6px;
}

#headerContent .button ul.main > li {
	float: left;
	width: 64px;
	text-align: center;
	margin-left: 10px;
}

#headerContent .button ul.main > li:first-child {
	margin-left: 0;
}

#headerContent .button ul.main > li > a {
	display: block;
	width: 63px;
	height: 63px;
	box-sizing: border-box;
}

#headerContent .button ul.sub {
	position: absolute;
	display: none;
	border: 3px solid #956090;
	top: 70px;
	right: 0;
	width: 150px;
	background-color: #fefefe;
	line-height: 2;
	box-shadow: 0 2px 8px rgba(77, 77, 77, 0.2);
	z-index: 101;
	text-align: left;
}

#headerContent .button li.mypage:hover ul.sub {
	display: block;
}

#headerContent .button ul.sub li {
	margin: 0 6px;
	border-top: 1px solid #4e3556;
}

#headerContent .button ul.sub li:first-child {
	border: 0;
}

#headerContent .button ul.sub li a {
	display: block;
	background: url('../images/navi/header/header_listmark.png') no-repeat left center;
	padding: 6px 0 6px 19px;
	color: #3f0d60;
}

#headerContent .button ul.sub li a:hover {
	font-weight: bold;
}

#headerContent .button ul.sub li.logout {
	border: 0;
	margin-bottom: 5px;
}

#headerContent .button ul.sub li.logout a {
	background-color: #ebd5ef;
	background-image: none;
	border-radius: 3px;
	padding: 2px;
	text-align: center;
}

#headerContent .button ul.sub li.bridge {
	position: absolute;
	width: 150px;
	height: 20px;
	background-color: transparent;
	border: 0;
	top:-20px;
	left: -6px;
}

#headerContent .button ul.sub:after,
#headerContent .button ul.sub:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
}

#headerContent .button ul.sub:after {
	right: 21px;
	border: 9px solid transparent;
	border-bottom: 9px solid #fefefe;
	top: -18px;
}

#headerContent .button ul.sub:before {
	right: 16px;
	border: 14px solid transparent;
	border-bottom: 14px solid #956090;
	top: -28px;
}

/* カテゴリー選択パーツ */
#cate-box {
	position: absolute;
	height: auto;
	margin: 0;
	margin-top: -1px;
	left: 0;
	overflow: visible;
	z-index: 101;
	width: 153px;
	border: 1px solid #999;
	border-bottom-color: #666;
	display: none;
	background-color: #fff;
}

#cate-box li {
	position: relative;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

#cate-box li a {
	display: block;
	padding: 0 4px;
	color: #333;
	background: #fff;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	outline: none;
}

#cate-box li ul {
	display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	width: 153px;
	left: 100%;
	margin: 0;
	padding: 0;
	overflow: visible;
	border: 1px solid transparent;
	height: 0;
	background-color: #fff;
}

#cate-box > li:hover > a {
	background: #39f;
	color: #fff;
}

#cate-box > li:hover li:hover > a {
	background: #39f;
	color: #fff;
}

#cate-box li:hover > ul {
	display: block;
	height: auto;
	border-color: #999;
	border-bottom-color: #666;
}

#cate-box li:hover > ul > li {
	display: block;
}

#cate-box li ul.l6 {
	width: 140px;
}

#cate-box li ul.l1 {
	width: 124px;
}

#cate-box li ul.l10002 {
	width: 144px;
}

#cate-box li ul.l10003 {
	width: 164px;
}

#cate-box li ul.l10004 {
	width: 144px;
}

#cate-box li ul.l10005 {
	width: 144px;
}

#cate-box li ul.l10006 {
	width: 154px;
}

#cate-box li ul.l1506 {
	width: 124px;
}

#cate-box li ul.l10007 {
	width: 194px;
}

#cate-box li ul.l10008 {
	width: 114px;
}

#cate-box li ul.l12 {
	width: 140px;
}

#cate-box li ul.l13 {
	width: 128px;
}

#cate-box li ul.l14 {
	width: 116px;
}

#cate-box li ul.l15 {
	width: 142px;
}

#cate-box li ul.l16 {
	width: 128px;
}

#cate-box li ul.l8 {
	width: 168px;
}

#cate-box li ul.l7 {
	width: 154px;
}

#cate-box li ul.l9 {
	width: 116px;
}

#cate-box li ul.l10 {
	width: 166px;
}

#cate-box li ul.l5 {
	width: 140px;
}

#cate-box li ul.l4 {
	width: 158px;
}

#cate-box li ul.l20 {
	width: 84px;
}

#cate-box li ul.l21 {
	width: 84px;
}

#cate-box li ul.l3 {
	width: 112px;
}

#cate-box li ul.l51 {
	width: 140px;
}

#cate-box li ul.l11 {
	width: 80px;
}

/* スマートフォン */
#spBox {
	overflow: hidden;
	width: 100%;
	background: url(../images/navi/header/bg_sp.png) repeat;
	text-align: center;
}

#spBox .sp {
	margin: 15px 0;
}

#spBox .sp img {
	border: 0;
}

/* ▼▼▼ パンくず
=====================================*/
#path_box {
	overflow: hidden;
	margin-bottom: 5px;
	background-color: #bdbdbd;
}

#path_box_inner01 {
	overflow: hidden;
}

#path_box_inner02 {
	position: relative;
	overflow: hidden;
	padding: 3px 5px;
}

#path_box_inner02 .home img {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

#path_box ul#path {
	overflow: hidden;
	float: right;
	width: 660px;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1.5;
}

#path_box ul#path li {
	float: left;
	margin-right: 5px;
	padding-right: 13px;
	background: url(../images/path2.gif) no-repeat right center;
}

#path_box .home_bc, #path_box .taxonomy{
	margin-right: 5px;
	padding-right: 13px;
	background: url(../images/path.gif) no-repeat right center;
}

#path_box .current-item, #path_box .archive{
	background: none;
}

#path_box ul#path li.now {
	color: #202020;
	background: none;
}

#path_box ul#path li a, #path_box ul#path li a:visited {
	color: #202020;
	text-decoration: underline;
}

#path_box ul#path li a:hover {
	text-decoration: none;
}

/* ページタイトル */
#globalMain h1.title {
	color: #795284;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #795284;
	font-weight: bold;
	overflow: hidden;
}

/* ▼▼▼ メイン 「コンテンツとサイドを囲む要素」
=====================================*/
#fluidMain {
	width: 1015px;	/* 20160401 */
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

@media screen and (max-width: 1385px) and (min-width: 1036px){	/* 20160401 */
  #fluidMain {
    width: 100%;
  }
}
@media screen and (min-width: 1386px){	/* 20160401 */
	#fluidMain {
		width: 1365px;	/* 20160401 */
	}
}
#globalMain {
	overflow: hidden;
	width: 935px;	/* 20160401 */
	padding-bottom: 40px;
}

#globalContents {
	overflow: hidden;
	float: right;
	width: 710px;
}

#globalMain.fluid {
	width: 100%;
}

#globalMain.fluid:before,
#globalMain.fluid:after {
	content: " ";
	display: table;
}

#globalMain.fluid:after {
	clear: both;
}

#globalMain.fluid {
	*zoom: 1;
}

#globalMain.fluid #globalContents {
	float: right;
	width: 100%;
	margin-left: -210px;
}

#globalMain.fluid #globalContents > div {
	float: none;
	margin-left: 225px;	/* 20160401 */
	position: relative;
	width: auto;
}

#globalMain.fluid #path {
	float: none;
	padding-left: 40px;
	box-sizing: border-box;
	width: 100%;
}

/* input */

.btnBox {
	margin: 1em;
	text-align: center;
}

.btnBox input[type="submit"],
.btnBox a {
	display: block;
	background: url('../images/btn_bg.png') #5e3a68;
	border: none;
	width: 151px;
	height: 32px;
	line-height: 32px;
	margin: 0 auto;
	padding: 0;
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.btnBoxSub{
	width: 151px;
	margin: 0 auto;
	text-align: center;
}

#globalContents .form,
#globalContents .form input {
	vertical-align: middle;
}

#globalContents input[type="text"],
#globalContents input[type="password"] {
	margin-right:.5em;
}

#globalContents input[type="text"],
#globalContents input[type="password"],
#globalContents textarea,
#globalContents select,
#globalContents input[type="text"]:focus,
#globalContents textarea:focus,
#globalContents select:focus {
	border: 1px solid;
	padding: 3px;
	font-size: 14px;
}

#globalContents input[type="text"],
#globalContents input[type="password"],
#globalContents textarea,
#globalContents select {
	border-color: #ccc;
	background-color: #fcfcfc;
}

#globalContents input[type="text"]:focus,
#globalContents textarea:focus,
#globalContents select:focus {
	border-color: #bba8c1;
	background-color: #fff;
}

#globalContents table.form th span {
	color: red;
	font-weight: normal;
	margin-left: .3em;
}

#globalContents table.form {
	line-height: 250%;
	margin: 1em auto;
	width: 100%;
}

#globalContents table.form p {
	line-height: 1.5;
	margin-bottom: 5px;
}

#globalContents table.form th {
	width: 150px;
	padding: 1em;
	vertical-align: middle;
	background-color: #e3dce6;
	border: 1px solid #bba8c1;
	color: #333;
	font-size: 14px;
}

#globalContents table.form td {
	padding: 1em;
	border: 1px solid #bba8c1;
}

#globalContents dl.form_product {
	clear: both;
	overflow: hidden;
}

#globalContents dl.form_product dt {
	float: left;
	width: 180px;
}

#globalContents dl.form_product dt img {
	width: 180px;
}

#globalContents dl.form_product dd {
	padding-left: 190px;
}

/* ▼▼▼ サイド
=====================================*/
#globalSide {
	float: left;
	width: 210px;
}

/* グローバルナビゲーション */

#globalSide ul.other {
	clear: both;
}

#globalSide ul.other li {
	margin-bottom: 7px;	/* 20160401 */
}

#globalSide ul.other li.last, #globalSide .line {
	margin-bottom: 7px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B7BBBD;
}

#globalSide .bnr {
	margin-bottom: 10px;	/* 20160401 */
}
#globalSide .bnr.small {
	margin-bottom: 7px;	/* 20160401 */
}

#globalSide .columnBox {
	overflow: hidden;
	border: 1px solid #A5A5A5;
	border-radius: 3px;
	padding: 8px 2px 5px;
	background-color: #F9F9F9;
}

#globalSide .columnBox .head {
	padding: 2px 0 2px 6px;
	overflow: hidden;
}

#globalSide .columnBox .head h3 {
	float: left;
}

#globalSide .columnBox .head h3 img {
    padding-bottom: 4px;
}

#globalSide .columnBox .head h3 span {
    font-size: 13px;
    font-weight: bold;
    padding-left: 4px;
}

#globalSide .columnBox .head > span {
	float: right;
}

#globalSide .columnBox .head > span a {
	font-size: 11px;
	color: #595757;
	margin-right: 5px;
}

#globalSide .columnBox li {
    overflow: hidden;
}

#globalSide .columnBox .columnImage {
    height: 60px;
    width: 60px;
    margin: 5px;
    float: left;
}

#globalSide .columnBox li div {
	font-size: 10px;
	line-height: 1.2;
	padding: 4px 0;
	margin-left: 70px;
}

#globalSide .columnBox li h4 {
	margin-bottom: 3px;
}

#globalSide .columnBox li h4 span {
	padding: 0 1px;
	border-radius: 3px;
	color: white;
	margin-right: 2px;
}

#globalSide .columnBox li.blog h4 span {
	background-color: #ff7e00;
}

#globalSide .columnBox li.selection h4 span {
	background-color: #ff1d00;
}

#globalSide .columnBox .btn {
	text-align: center;
	background: #eaeaea;
	border: #adadad 1px solid;
	border-radius: 3px;
	margin:10px 10px 6px;
}

#globalSide .columnBox .btn a {
	font-size: 17px;
	font-weight: bold;
	color: #444444;
	display: block;
}

#globalSide .tagBox {
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin: 7px 0px;
}

#globalSide .tagBox h3 {
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #a8a8a8;
}

#globalSide .tagBox li {
	padding: 0px 2px;
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	font-size: 14px;
}

#globalSide .tagBox li a {
	color: black;
}

#globalSide .tagBox li a:hover {
	color: #41B8C2;
}

#globalSide .tagBox > div {
	padding: 5px 0px 5px 5px;
	overflow:hidden;
	background-color: #ececec;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#globalSide .tagBox .small {
	font-size: 11px;
}

#globalSide .tagBox .large {
	font-size: 18px;
	font-weight: bold;
}

#globalSide .tagBox p {
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}

#globalSide .tagBox p a {
	color: #1100a3;
	font-weight: bold;
}

#globalSide .bnrBorder {
    border: 1px solid #888;
    border-radius: 5px;
    padding-bottom: 6px;
    text-align: center;
}

#globalSide .bnrBorder img {
    width: 183px;
    padding-left: 3px;
}

#globalSide dl.address {
	margin: 10px 0 0;
	overflow: hidden;
}
#globalSide dl.address > dt {
	font-size: 15px;
}
#globalSide dl.address dt {
	font-weight: bold;
}

#globalSide dl.address dd {
	font-size: 11px;
	font-family: arial, sans-serif;
	letter-spacing: 0.03em;
}

#globalSide dl.address dd span {
	font-size: 11px;
	font-family: arial, sans-serif;
	letter-spacing: -0.1px !important;
}

#globalSide .info {
	clear: both;
}

#globalSide .info li {
	margin-bottom: 5px;
}

#globalSide .info li a,
#globalSide .info li a:visited {
	padding-left: 11px;
	color: #795284;
	font-weight: bold;
	background: url(../images/arrow_pp.gif) no-repeat left center;
}

/* ▼▼▼ フッター
=====================================*/
#globalFooter {
	overflow: hidden;
	width: 100%;
	background: #e9eaeb;
	border-top: 1px solid #d3d5d6;
}

#footer_inner01 {
	position: relative;
	width: 935px;	/* 20160401 */
	margin: 0 auto;
	padding: 9px 0;
}

ul#fnav {
	overflow: hidden;
}

ul#fnav li {
	float: left;
	background: url(../images/navi/footer/arrow_pp02.gif) no-repeat left center;
	margin-right: 10px;
	padding-left: 11px;
}

ul#fnav li a,
ul#fnav li a:visited {
	color: #505759;
	text-decoration: underline;
}

ul#fnav li a:hover {
	text-decoration: none;
}

#footer_inner02 {
	overflow: hidden;
	width: 100%;
	padding: 9px 0;
	background: #8a9092;
	color: #ccc;
}

#footer_inner02 .inner {
	clear: both;
	overflow: hidden;
	width: 935px;	/* 20160401 */
	margin: 0 auto;
}

#footer_inner02 .inner02 {
	float: left;
	width: 660px;
	overflow: hidden;
}

#globalFooter ul.fnav_sub {
	clear: both;
	overflow: hidden;
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #adb2b3;
}

#globalFooter ul.fnav_sub li {
	float: left;
	margin-right: 8px;
	padding-right: 8px;
	background: url(../images/navi/bar.gif) no-repeat right center;
}

#globalFooter ul.fnav_sub li a, ul.fnav_sub li a:visited {
	color: #f0f0f0;
	text-decoration: underline;
}

#globalFooter ul.fnav_sub li a:hover {
	text-decoration: none;
}

#footer_inner04 {
	overflow: hidden;
	width: 100%;
	padding: 9px 0;
	background: #fff;
}

ul#bnr_box {
	float: right;
	overflow: hidden;
	width: 244px;
	margin-right: -4px;
}

ul#bnr_box li {
	float: left;
	margin: 0 4px 4px 0;
}

.securitymark {
	width: 118px;
	text-align: center;
	background: #fff;
}

.securitymark + .securitymark {
	background: none;
}

/* フッターのレコメンド枠 */
#footerRecommend {
	margin: 30px 0;
	border: 2px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	position: relative;
}

#footerRecommend h2 {
	font-weight: bold;
	background: url(../images/circle_pp02.png) no-repeat left center;
	font-size: 16px;
	color: #555;
	padding-left: 20px;
	padding-top: 3px;
	margin-left: 11px;
}

#footerRecommend .listBox {
	margin: 0 36px 5px;
}

#footerRecommend ul {
	overflow: hidden;
}

#footerRecommend li {
	float: left;
	padding: 10px;
}

#footerRecommend li img {
	width: 80px;
	border: 2px solid #ccc;
}

#footerRecommend a.prev {
    background: url(../images/top_images/slider_arrow.png) no-repeat 6px -13px;
    position: absolute;
    top: 55px;
    left: 15px;
    display: block;
    width: 24px;
    height: 30px;
}

#footerRecommend a.next {
    background: url(../images/top_images/slider_arrow.png) no-repeat -18px -13px;
    position: absolute;
    top: 55px;
    right: 15px;
    display: block;
    width: 24px;
    height: 30px;
}

#footerRecommend  a.prev.disabled,
#footerRecommend a.next.disabled {
    cursor: default;
}

#footerRecommend a.prev span,
#footerRecommend a.next span {
    display: none;
}

/* ▼ コピーライト */
#copyright {
	float: left;
}

/* ▼ エラー表示 */
#globalContents .error {
	margin: 1em 0;
	font-weight: bold;
	color: #cc0000;
}

/* ▼ チップボタン */
#globalContents a.tipBtn {
	color: white;
	padding: 4px;
	margin: 0 .5em;
	border-radius: 6px;
	background-color: #caa;
}

#globalContents a.tipBtn:link,
#globalContents a.tipBtn:visited {
	color: white;
	text-decoration: none;
}

#globalContents a.tipBtn:hover {
	text-decoration: underline;
}

/* ▼ 外部リンクアイコン */
a.external {
	padding-left: 15px;
	background: url(../images/icon-externalLink.png) left no-repeat;
}

a.movie {
	padding-left: 15px;
	background: url(../images/icon-movieLink.png) left no-repeat;
}

/* ページトップへ戻るボタン */
#bottomBannerBox {
	position: relative;
}

#bottomBannerBox p {
	text-align: center;
	margin-bottom: 1em;
}

#bottomBannerBox p a {
	display: block;
	background: url(../images/navi/banner_aq_bottom_sh.jpg) no-repeat center;
	width: 800px;
	height: 80px;
	margin: 0 auto;
}

#toTop {
	position: absolute;
	width: 100%;
	bottom: 70px;
	display: none;
	box-sizing: border-box;
}

#toTop.fixed {
	position: fixed;
	bottom: 80px;
	padding: 0 10px;
}

#toTop > div {
	width: 905px;	/* 20160401 */
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1385px){	/* 20160401 */
  #toTop > div {
    width: 100%;
  }
}
@media screen and (min-width: 1386px){	/* 20160401 */
	#toTop > div {
		width: 1365px;	/* 20160401 */
	}
}

#toTop > div a {
	position: absolute;
	right: 25px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#toTop.fixed > div a {
	right: 35px;
}

/* NaviSideカテゴリー */
#categoryNaviContainer {
	position: relative;
	margin-bottom: 10px;	/* 20160401 */
}

#categoryNaviContainer .navbar .popover {
	width: 205px;
	position: absolute;
	border: 1px solid #b6b6b6;
	z-index: 100;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu a:hover {
	background-color: #dfdfdf;
	text-decoration: none;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu li:first-child a:hover {
background-position: 177px 10px;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu .dropdown-menu a:hover {
	background-position: 177px 7px;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu .dropdown-menu .popover a:hover {
	background-image: none;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu a.maintainHover {
	background-color: #ececec;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu li:first-child a.maintainHover {
background-position: 177px 10px;
}

#categoryNaviContainer #cat_menu .navbar .dropdown-menu .dropdown-menu a.maintainHover {
	background-position: 177px 7px;
}

#categoryNaviContainer .dropdown-menu li {
	position: relative;
	line-height: 1.9;
}

div#submenu-m142 li a {
    line-height: 1.7;
}

#categoryNaviContainer .dropdown-menu li.bottom,
#categoryNaviContainer .dropdown-menu li.top {
	position: static;
}

#categoryNaviContainer .dropdown-menu li a {
	zoom: 1;
}

#categoryNaviContainer a.midCate + div {
	top: -1px;
	left: 208px;
	display: none;
	background-color: white;
	border: 1px solid #B6B6B6;
	-webkit-box-shadow: 0 2px 8px rgba(77,77,77,0.2);
	box-shadow: 0 2px 8px rgba(77,77,77,0.2);
}

#categoryNaviContainer .bottom a.midCate + div {
	top: auto;
	bottom: 0;
}

#categoryNaviContainer .navbar a.smallCate + div {
	top: -1px;
	left: 205px;
	background-color: white;
	display: none;
	width: 240px;
	-webkit-box-shadow: 0 2px 8px rgba(77,77,77,0.2);
	box-shadow: 0 2px 8px rgba(77,77,77,0.2);
}

#categoryNaviContainer .dropdown-menu .dropdown-menu .bottom a.smallCate + div {
	top: auto;
	bottom: -1px;
}

#categoryNaviContainer .dropdown-menu .dropdown-menu .top a.smallCate + div {
	top: -1px;
}

#categoryNaviContainer #cat_menu li.treeAd {
	margin-top: 10px;
}

#categoryNaviContainer #cat_menu li.treeAd a {
	background: white !important;
}

#categoryNaviContainer #cat_menu li.treeAd a img {
	width:100%;
}

#categoryNaviContainer div#cat_menu {
	font-size: 13px;
	border: 1px solid #A9C7B4;
	border-top: 0px;
}

#categoryNaviContainer div#cat_menu a{
	font-size: 14px;
	color: #00006c;
	display: block;
	padding: 0px 5px;
}

#categoryNaviContainer div#cat_menu a.midCate{
	padding: 0px;
}

#categoryNaviContainer div#cat_menu a.midCate img {
    float: left;
    display: block;
    height: 23px;
    margin:1px 3px 0px 2px;
    background-color: #E2E2E2;
}

#categoryNaviContainer div#categoryNavi{
	background-color: #8AC3A0;
	padding: 3px 5px 2px 5px;
	color: white;
	font-size: 13px;
}

#categoryNaviContainer #cat_menu .brandSearch > a {
	color: #006541;
}

#categoryNaviContainer #cat_menu .brandSearch ul li a {
	color: #006541;
}

/*選択枠の上下に幅を持たせる。*/
#cat_menu ul.dropdown-menu.belowMenu > li:first-child > a {
padding-top: 5px !important;
}
#cat_menu ul.dropdown-menu.belowMenu > li:last-child > a {
padding-bottom: 5px !important;
}
#cat_menu ul.dropdown-menu.belowMenu li ul li:first-child > a {
padding-top: 5px !important;
}
#cat_menu ul.dropdown-menu.belowMenu li ul li:last-child > a{
padding-bottom: 5px !important;
}