#globalContents h2,
#globalContents h3,
#globalContents p,
#globalContents a,
#globalContents span,
#globalContents dt {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

/*hotitem*/
#hotitem {
	margin-bottom: 10px;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

#hotitem ul {
	width: 100%;
}

#hotitem .bx-wrapper li {
	overflow: hidden;
	height: 300px;
}

#hotitem .bx-wrapper li div {
	width: 2240px;
	height: 300px;
	position: absolute;
	left: 50%;
	margin-left: -1120px;
	text-align: center;
}

#hotitem .bx-wrapper li img {
	height: 300px;
}

#hotitem .bx-wrapper .bx-pager {
	position: absolute;
	top: 285px;
	width: 100%;
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	overflow: hidden;
}

#hotitem .bx-wrapper .bx-pager .bx-pager-item,
#hotitem .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

#hotitem .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	border-radius: 5px;
}

#hotitem .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #fff;
}
#hotitem .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #eee;
}

#hotitem .bx-controls-direction {
	margin: 0 auto;
	position: relative;
}

#hotitem .bx-prev,
#hotitem .bx-next {
	position: absolute;
	top: -176px;
	width: 39px;
	height: 51px;
	text-indent: -999999px;
	background: no-repeat 0 0;
}

#hotitem .bx-prev {
	left: 0px;
	background: url(../images/top_images/slider_arrow.png) no-repeat -44px -1px;
}

#hotitem .bx-next {
	right: 0px;
	background: url(../images/top_images/slider_arrow.png?) no-repeat -89px -1px;
}

#hotitem .bx-prev:hover {
	background-position: -44px -52px;
}

#hotitem .bx-next:hover {
	background-position: -89px -52px;
}

.fluidWrap {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}

#news_box {
	display: table-cell;
}

#news_box #news_inner01 {
	overflow: hidden;
}

#news_box #news_inner02 {
	overflow: hidden;
}

#news_box #news_main {
	overflow: hidden;
	background-color: #fafafa;
	height: 240px;
}

#news_box #news_main h2.subtitle {
	overflow: hidden;
	background-color: #955f91;
	line-height: 25px;
	height: 24px;
}

#news_box #news_main h2.subtitle span.left{
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

#news_box #news_main h2.subtitle span.left a {
	color: #fff;
	position: relative;
	top: 1px;
}

#news_box #news_main h2.subtitle span.right a {
	color: #fff;
	position: relative;
	margin-right: 7px;
}

#news_box #news_main h2.subtitle span a:hover{
	color: #dadada;
}

dl.news {
	clear: both;
	overflow: hidden;
	line-height: 1.6;
	padding-top: 7px;
	font-size: 14px;
}

dl.news dt {
	float: left;
	width: 42px;
	color: #9ba0a2;
	font-weight: bold;
	letter-spacing: -1px;
	padding-top: 1px;
	padding-left: 7px;
	padding-right: 5px;
}

dl.news dd {
	margin-bottom: 2px;
	padding: 0 0 2px 3px;
	border-bottom: 1px dotted #b7bbbd;
	height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

dl.news a:link,
dl.news a:visited,
dl.news a:hover,
dl.news a:active {
	color: #020064;
}

/* Tiny Scrollbar */
#scrollbar1 {
	height: 200px;
	border: 2px solid #a9c7b4;
	border-top: none;
	background-color: white;
}

#scrollbar1 .viewport {
	overflow: hidden;
	position: relative;
	height: 199px;
	margin-left: 7px;
	background-color: white;
}

#scrollbar1 .overview {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}

#scrollbar1 #topNews {
	position: relative;
	display: none;
	float: right;
	width: 233px;
}

#scrollbar1 #topNews > div {
	width: 200px;
	padding: 8px 10px 5px;
	margin-top: 9px;
	background-color: #dadada;
	text-align: center;
}

#scrollbar1 #topNews a {
	color: #020064;
}

#scrollbar1 #topNews img {
	margin-bottom: .5em;
}

@media screen and (min-width: 1245px){
	#scrollbar1 #topNews {
		display: block;
	}
}

#scrollbar1 .scrollbar {
	position: relative;
	float: right;
	width: 5px;
	background: transparent url(../images/top_images/news/bg-scrollbar-track-y.png) no-repeat 0 0;
	height: 189px;
}

#scrollbar1 .track {
	position: relative;
	width: 13px;
	height: 100%;
	background: transparent url(../images/top_images/news/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
}

#scrollbar1 .thumb {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -8px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: transparent url(../images/top_images/news/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
}

#scrollbar1 .thumb .end {
	overflow: hidden;
	width: 20px;
	height: 5px;
	background: transparent url(../images/top_images/news/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
}

#scrollbar1 .disable {
	display: none;
}

.fluidWrap > .banner {
	display: table-cell;
	width: 230px;
	vertical-align: top;
	padding-left: 15px;
}

.fluidWrap > .banner > li {
	margin-top: 10px;
}

.fluidWrap > .banner > li:first-child {
	margin-top: 0;
}

.fluidWrap > .banner li ul {
	overflow: hidden;
	margin-bottom: -2px;
}

.fluidWrap > .banner li li {
	float: left;
	margin-left: 5px;
}

.fluidWrap > .banner li li:first-child {
	margin-left: 0;
}

.fluidWrap .campaign, 
.fluidWrap .selection {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
}

.fluidWrap .campaign {
	padding-right: 7px;
}

.fluidWrap .selection {
	padding-left: 8px;
}

.fluidWrap h2,
#rankingBox h2,
#howtoBox h2,
#brandBox h2 {
	background-color: #955f91;
	color: white;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
	padding: 3px 10px 1px;
	overflow: hidden;
	letter-spacing: 1px;
}

.fluidWrap .campaign h2,
.fluidWrap .selection h2 {
	background: #86ab92;
}

.fluidWrap h2 a,
#howtoBox h2 a,
#rankingBox h2 a,
#brandBox h2 a {
	color: white;
}

.fluidWrap .campaign h2 span,
.fluidWrap .selection h2 span,
#rankingBox h2 span,
#howtoBox h2 span,
#brandBox h2 span {
	float: right;
}

.fluidWrap .campaign ul,
.fluidWrap .selection ul {
	overflow: hidden;
	padding: 4% 0 0 4%;
	border-width: 0px 2px 2px;
}

.fluidWrap .campaign li,
.fluidWrap .selection li {
	float: left;
	width: 46%;
	margin: 0 4% 4% 0;
}

.fluidWrap .campaign li.hide,
.fluidWrap .selection li.hide {
	display: none;
	margin-right:0;
}

@media screen and (min-width: 1186px){
	.fluidWrap .campaign ul,
	.fluidWrap .selection ul {
		padding: 2% 0 0 0%;
	}
	.fluidWrap .campaign li,
	.fluidWrap .selection li {
		width: 31.9%;
		margin: 0 2.1% 1% 0;
	}
	.fluidWrap .campaign li.hide,
	.fluidWrap .selection li.hide {
		display: block;
	}
}

.fluidWrap .campaign li img,
.fluidWrap .selection li img {
	width: 100%;
}

.fluidWrap .campaign .tip,
.fluidWrap .selection .tip {
	color: white;
	padding: 1px 2px 0px;
	font-size: 90%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 2px;
}

.fluidWrap .tip.new {
	background-color: red;
}

.fluidWrap .tip.close {
	background-color: orange;
}

.fluidWrap .campaign p,
.fluidWrap .selection p {
	padding: 3px;
	background-color: white;
	font-size: 13px;
	height: 2.5em;
	overflow: hidden;
}

#rankingBox {
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
}

#rankingBox h3 span {
	font-size: 13px;
}

#rankingBox h3 span a {
	color:#333;
	float:right;
}

#rankingBox .bestseller {
	border-bottom: 2px dotted #888;
	padding-bottom: 3px;
	margin-bottom: 8px;
}

#rankingBox .access {
	margin-bottom: 10px;
	margin-top: 3px;
}

#rank_box,
#rank_inner01,
#rank_inner02,
.container_tab,
#globalContents ul.rank {
	clear: both;
	overflow: hidden;
	zoom: 1;
}

.rank_tab {
	display: table;
	width: 100%;
	margin-bottom: 6px;
}

ul.rank_tab li {
	border: 2px solid #fff;
	border-bottom: 0;
	text-align: center;
	display: table-cell;
	background-color: #aaa;
	line-height: 1.3;
	padding: 3px 1px;
	letter-spacing: 0px;
	height: 26px;
	font-size: 9px;
	vertical-align: middle;
	color: white;
	font-weight: bold;
}

.rank_tab li span {
	white-space: nowrap;
}

.rank_tab li span.space {
	font-size: 1px;
	width: 1px;
	display: inline-block\9;
}

@media all and (-ms-high-contrast: none) {
    .rank_tab li span.space {
        display: inline-block;
    }
}

.rank_tab li:hover{
	background-color: #999;
	cursor: pointer;
}

.rank_tab li.selected {
	background-color: white;
	color: #333;
	border-color: #aaa;
}

#globalContents .container_tab {
	width: 100%;
}

#globalContents ul.rank {
	overflow: hidden;
	width: 100%;
	background-color: white;
}

#globalContents ul.rank li {
	float: left;
	width: 25%;
	background-color: white;
	letter-spacing: -.2px;
	text-align: center;
	font-size: 13px;
}

ul.rank li p {
	background: no-repeat left center;
	padding-left: 27px;
	height: 31px;
	line-height: 33px;
	vertical-align: bottom;
	text-align: left;
}

#globalContents ul.rank li img {
	display: block;
	width: 100%;
	padding: 5px 0;
}

ul.rank li.rank01 p {
	background-image: url(../images/top_images/ranking/rank01_crown.png);
	padding-left: 50px;
}

ul.rank li.rank02 p {
	background-image: url(../images/top_images/ranking/rank02_crown.png);
	padding-left: 50px;
}

ul.rank li.rank03 p {
	background-image: url(../images/top_images/ranking/rank03_crown.png);
	padding-left: 50px;
}

ul.rank li.rank04 p {
	background-image: url(../images/top_images/ranking/rank04a.png);
}

ul.rank li.rank05 p {
	background-image: url(../images/top_images/ranking/rank05a.png);
}

ul.rank li.rank06 p {
	background-image: url(../images/top_images/ranking/rank06a.png);
}

ul.rank li.rank05,
ul.rank li.rank06 {
	display: none;
}

@media screen and (min-width: 1051px){
	ul.rank li.rank05 {
		display: block;
	}
	#globalContents ul.rank li {
		width: 20%;
	}
}

@media screen and (min-width: 1251px){
	ul.rank li.rank06 {
		display: block;
	}
	#globalContents ul.rank li {
		width: 16.6%;
	}
}

#rankingBox h2 {
	margin-bottom: 7px;
}

#rankingBox .blog {
	float: left;
	width: 260px;
	margin-right: 15px;
}

#rankingBox .blog li {
	width: 260px;
}

#rankingBox .blog li,
#rankingBox .movie li {
	height: 23px;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

#rankingBox .blog li span,
#rankingBox .movie li span {
	display: block;
	float: left;
	width: 32px;
	text-align: center;
	line-height: 23px;
	height: 23px;
}

#rankingBox ol li span img {
	height: 17px;
	margin-bottom: 3px;
}

#rankingBox .blog li p,
#rankingBox .movie li p {
	padding-left: 22px;
	padding-right: 5px;
	background-position: left;
	background-repeat: no-repeat;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 23px;
}

#rankingBox .blog li p {
	padding-left:5px;
}

#rankingBox .blog li p.up,
#rankingBox .movie li p.up {
	background-image: url('../images/top_images/ranking/arrow_up.png');
}

#rankingBox .blog li p.down,
#rankingBox .movie li p.down {
	background-image: url('../images/top_images/ranking/arrow_down.png');
}

#rankingBox .blog li p.stay,
#rankingBox .movie li p.stay {
	background-image: url('../images/top_images/ranking/arrow_stay.png');
}

#rankingBox .blog li:nth-child(odd),
#rankingBox .movie li:nth-child(odd) {
	background-color: #f7f6e4;
}

#rankingBox .blog li:nth-child(even),
#rankingBox .movie li:nth-child(even) {
	background-color: #f4f4f4;
}

#rankingBox .movie {
	margin-left: 275px;
}

#rankingBox .blog h3,
#rankingBox .movie h3 {
	background-color: #86ab92;
	color: white;
	margin-bottom: 10px;
	height: 19px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 3px 0px 0px 9px;
	font-weight: bold;
}

#rankingBox .movie h3 span a {
	color: white;
	margin-right: 12px;
}

#rankingBox .movie h3 + div {
	overflow: hidden;
}

#rankingBox .movie .new {
	float: left;
	width: 286px;
	margin-right: 14px;
}

#rankingBox .movie .new span {
	margin-left: 12px;
}

#rankingBox .movie .rank {
	margin-left: 300px;
}

#rankingBox .movie li {
	width: 100%;
}

#howtoBox ul {
	margin: 10px 0;
	overflow: hidden;
}

#howtoBox li {
	float: left;
	width: 23.1%;
	margin-left: 2.5%;
	font-size: 13px;
	line-height: 1.2;
}

#howtoBox li img {
	width: 100%;
	margin-bottom: 5px;
}

#howtoBox li:first-child {
	margin-left: 0;
}

#howtoBox li.howto5,
#howtoBox li.howto6 {
	display: none;
}

@media screen and (min-width: 1051px){
	#howtoBox li.howto5 {
		display: block;
	}
	#howtoBox li {
		width: 19.1%;
		margin-left: 1.1%;
	}
}

@media screen and (min-width: 1195px){
	#howtoBox li.howto6 {
		display: block;
	}
	#howtoBox li {
		width: 15.9%;
		margin-left: 0.9%;
	}
}

#brandBox {
	background: #a9c7b4;
	padding: 7px 8px 0px 8px;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 0 0 5px;
}

#brandBox h3 {
	font-size: 13px;
	margin: 7px 0 3px;
}

#brandBox .main_box,
#brandBox .sub_box {
	padding: 0px 5px 0 10px;
}

#brandBox .main_box ul {
	overflow: hidden;
	margin-right: 5px;
}

#brandBox .main_box li {
	margin-left: 1%;
	width: 24.25%;
	text-align: center;
	float: left;
	background-color: white;
}

#brandBox .main_box li:first-child {
	margin-left: 0;
}

#brandBox .main_box li a {
	display: block;
}

#brandBox .main_box li img {
}

#brandBox .sub_box h3 {
	margin-bottom: 6px;
}

#brandBox .sub_box h3 a {
	font-weight: bold;
}

#brandBox ul {
	overflow: hidden;
}

#brandBox .sub_box li {
	float: left;
	width: 10%;
	margin-right: 0;
	box-sizing: border-box;
	padding: 0 5px 5px 0;
}

@media screen and (min-width: 1240px){
	#brandBox .sub_box li {
		width: 9.09%;
	}
}

@media screen and (min-width: 1340px){
	#brandBox .sub_box li {
		width: 8.33%;
	}
}

#brandBox .sub_box img {
	width: 100%;
}

#notice {
	margin: 11px 0px;
	background-color: #f8f1f8;
	padding: 6px 12px;
}

#notice p {
	width: 710px;
	margin: 0 auto;
}

#attention {
	background-color: #f0f0f0;
	padding: 1em;
	margin-top: 5px;
}

#attention h2 {
	line-height: 22px;
	color: #444;
	font-weight: bold;
	font-size: 14px;
	background: url('../images/attention.gif') no-repeat left top;
	padding-left: 22px;
}

#attention p {
	line-height: 1.8;
	color: #444;
	margin-top: .5em;
}

#globalContents h2 a:hover {
	color: #dadada;
}

/* rr recommend */
.rr_placement {
	margin-top: 11px;
	margin-bottom: 0px;
}

#hotitem + .rr_placement {
	border-bottom:1px solid #dedede;
	margin-top: 16px;
}

#hotitem + .rr_placement + .rr_placement {
	margin-bottom: 12px;
}

#hotitem + .rr_placement h2,
#hotitem + .rr_placement + .rr_placement h2 {
	display:none;
}

.rr_placement h2 {
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #737373;
}

div#howtoBox + .rr_placement h2 {
	 color: #fff; 
	 padding: 6px 10px 3px;
	 background-color: #955f91;
	font-weight:bold;
}
.rr_placement .list {
	overflow: hidden;
}

.rr_placement .list li {
	float: left;
	width: 179px;
	margin-right: 0;
	padding: 5px 3px 0px;
	line-height: 1.2;
	overflow: hidden;
	font-size: 13px;
	letter-spacing: -0.6px;
}

.rr_placement .list span.price {
	color: #555;
	float: right;
	margin-right: 6px;
	margin-top: 2px;
	letter-spacing: 0px;
}

.rr_placement .list li img {
	width: 185px;
	-ms-interpolation-mode: bicubic;
	margin-bottom: 9px;
}

#globalContents .rr_carousel {
    height: 140px;
    margin-bottom: 10px;
    overflow: hidden;
}
#globalContents .rr_carousel .selection {
    position: relative;
    padding: 0px 5px 0px;
}

#globalContents .rr_carousel .selection .list {
    margin: 0;
    max-height: 160px;
}

.rr_carousel .selection a.prev {
    background: url(../images/top_images/slider_arrow.png) no-repeat 6px -13px;
    position: absolute;
    top: 45px;
    left: 3px;
    display: block;
    width: 24px;
    height: 30px;
    display:none !important;
}
.rr_carousel .selection a.next {
    background: url(../images/top_images/slider_arrow.png) no-repeat -18px -13px;
    position: absolute;
    top: 45px;
    right: 3px;
    display: block;
    width: 24px;
    height: 30px;
    display:none !important;
}

.rr_placement:hover .rr_carousel .selection a.prev,
.rr_placement:hover .rr_carousel .selection a.next {
	display:block !important;
}

.rr_carousel .selection  a.prev.disabled,
.rr_carousel .selection a.next.disabled {
    cursor: default;
}
.rr_carousel .selection a.prev span,
.rr_carousel .selection a.next span {
    display: none;
}

