@charset "utf-8";
/* CSS Document */

body{
	background: url('/graphics/creative/landing_pages/landing23/body_background.jpg') repeat;
	padding:0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #5a5a5d;
	font-size: 12px;
}
	
.wrap {
	width:929px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;	
	}
	
div#header {
	background-color: #FFFFFF;
	width: 929px; 
	overflow: auto; 
	
}

div#headerLeft {
	float: left; 
	width: 450px;
}

div#headerLogo {
	margin-left: 38px; 
	padding: 3px 0px; 
	float: left;
	
}

div#headerFacebook {
	float: left; 
	padding: 35px 0px 0px  10px;
	overflow: hidden;
}

div#headerLogin {
	float: left; 
	width: 474px; 
	text-align: right;
}

div#alreadyMember {
	font-size: 11px; 
	padding: 6px 35px 0px 0px;
}

div#login {
	padding: 10px 30px 0px 0px;
}

#loginForm {
	margin: 0; 
	padding: 0;
}

#submit2 {
	margin-left: 10px;
}

div#headerBottom {
	background-color: #FFFFFF;
	position:absolute; 
	top: 0;
}

div#mainContentTopContainer {
	width: 929px;
}

div#mainContentTopInner {
	-moz-box-shadow: 0px 6px 3px 3px #5a5a5d;
	-webkit-box-shadow: 0px 6px 3px 3px#5a5a5d;
	box-shadow: 0px 6px 3px 3px #5a5a5d;
	position: relative;
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	height: 325px;
}

div#featuredChannels {
	margin-top: 325px; 
	border-top: 8px solid #5a5a5d; 
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	height: 205px; 
	background: url('/graphics/creative/landing_pages/landing23/featured_background.jpg'); 
	backround-repeat: repeat;
	-moz-box-shadow: 0px 3px 3px 3px #5a5a5d;
	-webkit-box-shadow: 0px 3px 3px 3px#5a5a5d;
	box-shadow: 0px 3px 3px 3px #5a5a5d;
}

div#footer {
	-moz-box-shadow: 0px 3px 3px 3px #5a5a5d;
	-webkit-box-shadow: 0px 3px 3px 3px#5a5a5d;
	box-shadow: 0px 3px 3px 3px #5a5a5d;
	background-color: #FFFFFF; 
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	padding-top: 20px;	

}

div#mainContentTopFade{
	position: absolute;
	width: 899px; 
	margin-right: auto; 
	margin-left: auto; 
	height: 21px;
	background-image: url('/graphics/creative/landing_pages/landing23/gray_gradient.jpg');
	background-repeat: repeat;
}

div#mainContentBottomFade{
	-moz-box-shadow: 0px -10px 10px 1px #5a5a5d;
	-webkit-box-shadow: 0px -10px 10px 1px#5a5a5d;
	box-shadow: 0px -10px 10px 1px #5a5a5d;
	bottom: 0;
	position:absolute;
}
	
#alreadyMember a:link,  #alreadyMember a:active, #alreadyMember a:hover, #alreadyMember a:visited{
	text-decoration: underline;
	font-weight: normal;
	color: #5a5a5d;
}

.label {
	color: #5a5a5d;
	font-size: 11px;
	padding: 4px 5px 0px 5px;

}

div#headerBottom {
	background: url('/graphics/creative/landing_pages/landing23/header_bottom.png'); no-repeat;
	width: 929px;
	height: 6px;
	border-top: 1px solid #cccccc;
	
}

div#mainContentTop {
	background-image: url('/graphics/creative/landing_pages/landing23/womenoncouch.png');
	height: 325px;
	width: 900px;
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	right: -20px;
	width: 467px;
}

div#mainContentTopContainer {
	background-image: url('/graphics/creative/landing_pages/landing23/content_background.png');
	background-repeat: repeat;
	height: 325px;
	position:absolute; 
	top: 0;
}

#featuredChannels a:link, #featuredChannels a:active, #featuredChannels a:hover, #featuredChannels a:visited {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: #5a5a5d;
}

#sitemapLinks a:link, #sitemapLinks a:active, #sitemapLinks a:hover, #sitemapLinks a:visited {
	font-size: 10px;
	color: #5a5a5d;
}

div#overlap {
	position: relative; 
	overflow: none;
}

div#beRewarded {
	 padding: 38px 0px 0px 30px; 
	 font-size: 35px; 
	 color: #5a5a5d;
}

div#rewardActivities {
	margin-top: 10px; 
	font-size: 22px; 
	width: 475px; 
	text-align: center; 
	line-height: 1.4em;
}

.beRewardedTextBold {
	font-weight:bold; 
	font-size: 38px;
}

.dot {
	font-weight: bold;
}

.muchMore {
	font-weight: bold; 
	font-style: italic;
}

div#joinNow {
	width: 475px; 
	text-align: center; 
	margin-top: 10px;
}

div#signupText {
	margin-top: 15px; 
	font-size: 18px; 
	text-align: center; 
	width: 475px;
}

.bold {
	font-weight: bold;
}

div#featuredChannelsContainer {
	width: 800px; 
	margin-right: auto; 
	margin-left: auto; 
	padding-top: 10px; 
	overflow: auto;
}

.featuredChannelItem {
	margin-right: 35px; 
	background: url('/graphics/creative/landing_pages/landing23/featured_item_background.png'); 
	background-repeat: no-repeat; 
	width: 243px; 
	height: 185px; 
	float: left;
}

.featuredChannelItemLast {
	background: url('/graphics/creative/landing_pages/landing23/featured_item_background.png'); 
	background-repeat: no-repeat; 
	width: 243px; 
	height: 185px; 
	float: left;
}

div#featuredChannelItemSurveys {
	font-weight: bold; 
	font-style: italic; 
	font-size: 20px; 
	margin-top: 9px; 
	padding-top: 5px; 
	padding-left: 35px; 
	height: 36px; 
	margin-right: auto; 
	margin-left: auto; 
	border-bottom: 1px solid #5a5a5d; 
	width:175px; 
	background-image: url('/graphics/creative/landing_pages/landing23/surveyicon.png'); 
	background-repeat: no-repeat;
}

.featuredChannelItemDesc {
	padding: 10px 10px 0px 15px; 
	font-style: italic; 
	font-size: 12px; 
	line-height: 1.5em; 
	height: 85px;
}

div#featuredChannelItemGames {
	font-weight: bold; 
	font-style: italic; 
	font-size: 20px; 
	margin-top: 9px; 
	padding-top: 5px; 
	padding-left: 45px; 
	height: 36px; 
	margin-right: auto; 
	margin-left: auto; 
	border-bottom: 1px solid #5a5a5d; 
	width:165px; 
	background-image: url('/graphics/creative/landing_pages/landing23/gamesicon.png'); 
	background-repeat: no-repeat;
}

div#featuredChannelItemShopping {
	font-weight: bold; 
	font-style: italic; 
	font-size: 20px; 
	margin-top: 9px; 
	padding-top: 5px; 
	padding-left: 50px; 
	height: 36px; 
	margin-right: auto; 
	margin-left: auto; 
	border-bottom: 1px solid #5a5a5d; 
	width:160px; 
	background-image: url('/graphics/creative/landing_pages/landing23/shoppingicon.png'); 
	background-repeat: no-repeat;
}

.featuredChannelItemLink {
	text-align: right; 
	padding-top: 5px; 
	padding-right: 20px;
}

div#partnersFooter {
	border-top: 1px solid #999999; 
	border-bottom: 1px solid #999999; 
	height: 65px;
}

.partnersText {
	font-size: 10px; 
	padding-top: 5px; 
	padding-left: 55px; 
	width: 900px;
}

.partnerLogo {
	float: left; 
}

.partnerLogoFirst {
	margin-left: 48px;
}

div#sitemapLinks {
	overflow: auto; 
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	padding: 50px 0px 10px 0px;
}

.footerLinkItem {
	padding-left:8px; 
	border-right: 1px solid #5a5a5a; 
	padding-right: 8px; 
	float: left;
}

.footerLinkItemFirst {
	margin-left: 175px;
}

.footerLinkItemLast {
	padding-left:8px;
	padding-right: 10px; 
	float: left;
}

div#copyright {
	font-weight: bold; 
	font-size: 10px; 
	overflow: auto; 
	width: 900px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
	padding-bottom: 25px;
}

.copyrightItem {
	padding-left:10px; 
	padding-right: 10px; 
	float: left;
}

.copyrightItemFirst {
	margin-left: 275px;
}