
/* 
//Getting things started off right, with the globals
*/
#mainContentParent{
	overflow:hidden !important;
}
input.error, textarea.error, select.error {
	border: 1px solid red;
}

.contbord
{
	font:arial;
	font-size:12px;
	color:#5a5a5d;
	line-height:1.2;
	margin: 0 12px 10px;
	width: 580px;
}
.contbord p
{
	margin-top:0;
}

hr
{
	margin: 7px 0;
	color: #999999;
	weight:1px;
	background:#999999 !important;
	width:97%;
}
hr.news-hr {
	width: 440px;
	float: left;
	margin: 10px 0 8px;
}

#key_facts{
	width: 300px;
}


#key_facts_header{
	background-color: #6ebe44;
}
#key_facts_header img{
	padding-left: 7px;
	padding-top: 7px;
}

#key_facts_inner{
	background-color:white;
	border: 3px solid #6ebe44;
	font:Arial;
	
	color: #5a5a5d;
}
#key_facts_inner ul{
	padding:15px;
	list-style-type:disc;
}
#key_facts_inner ul li{
	padding-left:0px !important;
	margin-bottom:3px;
	font-size:1.3em;
	font-weight:bold;
}
#in_the_news{
	width:300px;
}


#in_the_news_header{
	background-color: #6ebe44;
	
}
#in_the_news_header img {
	padding-left:7px;
	padding-top:7px;
}
#in_the_news_inner {
	background-color:white;
	border: 3px solid #6ebe44;
	font:Arial;
	font-size:14px;
	color: #5a5a5d;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.endline {
	float:right;
	margin-bottom: 5px;
	padding-top: 20px;
}

/* about page */
#logos img
{
	padding-right:5px;
	padding-left:5px;
}

#logos .hasLine
{
	border-right:1px solid #999999;
}
#about_wrap hr
{
	margin: 5px 0 !important;
	color: #999;
}
#about_wrap
{
	line-height:1.8;
}
#logos
{
	margin-bottom:15px;
}
.site_title_au
{
	font-family:arial;
	font-size:1.5em;
	color:#5a5a5d;	
}
.about_main
{
	margin-bottom:25px;
}
#ibd_text{
	float:right;
	width:60%;
}
#cwe_text
{
	float:left;
	width:60%;
}
#cwe_quote_box{
	float:right;
}
#cwe_text, #ibd_text{
	font:arial;
	font-size:12px;
	color:#5a5a5d;
}
#aboutus_section1 h2, #aboutus_section2 h2{
	font: Arial;
	font-weight:bold;
	font-size:18px;
	color:#5a5a5d;
	padding-top:5px;
	margin-top:5px;
}

/* Timeline */
#timeline_img{
	padding:5px 10px 5px 10px;
}

/*benefits*/
.benefits_main{
	font:arial;
	font-size:12px;
	color:#5a5a5d;
	line-height:1.2;
}
#benefits_list_holder{
	width:500px;
	margin-bottom:10px;
	margin:0 auto;
}
/* these classes are also used on the careers page */
ul.left{
	float:left;
	width:250px;
	margin: 0px;
    padding: 0px;
    border: 0px none; 
    list-style-position: inside;
    list-style-type: disc;
    line-height:1.1;
    text-indent:0;
}
ul.right{
	float: right;
    width: 250px; 
    margin: 0px;
    padding: 0px;
    border: 0px none; 
    list-style-position: inside;
    list-style-type: disc;
    line-height:1.1;
}
#benefit_intro
{
	line-height:1.2;
}
.benefits_title{
	font:Arial;
	font-size:18px;
	color: #5a5a5d;
	
	padding-top:5px;
}
.benefits_main ul
{
	margin-bottom:30px;
}
#bene_local_part
{
	line-height:1.2;
}

ul li{
	font:Arial;
	font-size:1.0em;
	color: #5a5a5d;
}
.benefits_lead{
	font:Arial;
	font-size:1.2em;
	color: #5a5a5d;	
}
.adv_bold
{
	font-size:1.05em;
	font-weight:bold;
}
#TandC
{
	font-size:.8em;
}
/* community involvement */
#fmsc, #cchild
{
	margin-top:30px;
}
.community_intro
{
	font-size:1.0em;

}
.community_head{
	font:Arial;
	font-size:1.5em;
	color: #5a5a5d;
	font-weight:bold;
	display:inline-block;
	margin-top:20px;
	width:100%;

}
.bene_top{
	width:100%;
	margin-bottom:9px;

}
.bene_bottom{
	margin-top: 10px;
}
#benefits_holder  p{
	margin: 0px;
	font-size: 13px;
	font-weight: bold;
}
.bene-float{
	float: right;
	width: 40%;
}
#lunch, #snacks{
	width: 45%;
	float: left;
}
#games, #anti-snacks{
	width: 45%;
	float: right;

}
#bring{
	color: #387C2C;
	font-weight: bold;
}
.monday_txt{
	width: 54%;
	float: left;
	margin-top: 15px;
}

.monday_txt a, .monday_txt a:hover, .monday_txt a:visited{
	color:#5a5a5d;
	text-decoration: underline;
}
img#buildingimage {
	float: right;
	margin: 0 5px 25px;
}
#life_content, #voa_content, #fmsc_content, #cchild_content
{
	float: right;
	width: 57%;
	padding-bottom: 7px;
	padding-top: 7px;
}
.comm_url
{
	font-size: 1em;
	color: #6ebe44;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
#proact_copy
{
	float:right;
	width:57%;
	padding-bottom:7px;
	padding-top:7px;
}
.pic-bg
{
	border:5px solid #5a5a5d;
}

/*careers page */
.prof_copy p
{
	font-size:.95em !important;
}
.title_lead_careers
{
	font-size:.95em;
	font-style:italic;
	color: #999;
	margin-bottom:5px;
	max-width: 141px;
}
.name_lead_careers
{
	font-size:.95em;
	font-weight:bold;
	color: #5a5a5d;
}
#company_profiles
{
	margin-top:30px;
}
#career_val
{
	font-size: 1.5em;
	font-weight: bold;
}

#our_mission
{
	font-size:1.4em;
	font-weight:bold;
	margin-bottom:10px;
	

}
#careers_mission{
	margin-bottom: 15px;
}
#values_list ul
{
	list-style-type: none !important;
}
#values_list span
{
	font-weight:bold;
	font-size:1.0em;
}
#the_fun_times
{
	font-weight: bold;
	font-size: 1.5em;
}
#values_list ul li
{
	margin-bottom: 8px;
	padding-left: 2px;
	line-height: 1.2;
}

#values_list
{
	width: 95%;
	margin-top: 5px;
}

#career_slideshow{
	width: 363px;
	margin: 0;
	margin-top: 10px;
	border: 5px solid #5a5a5d;
	border-left: 105px solid #5a5a5d;
	border-right: 105px solid #5a5a5d;
}
#careers_bg
{
	background:url(/graphics/site/corporate/careers/picboarder.png) no-repeat top left;
	z-index:50;
}
#our_mission{
	padding-top:10px;
}
#careers_mission 
{
	width:95%;
}
.career_head
{
	color:#5a5a5d;
}

/* news page */
.news_article
{
	margin-bottom:15px;
	margin-top:3px;
}

.news_article p
{
	margin:5px 0px 5px 0px;
}
.news_article .date
{
	font-size:1.2em;
	color:#5a5a5d;
}
.news_article .title
{
	font-size:1.4em;
	font-weight:bold;

}

.news_article .sub_header
{
	font-size:14px;
	font-weight:bold;
	font-style:italic;
}
.news_article .copy
{
	font-size:1.0em;
	color:#5a5a5d;
	line-height:18px;
}

/* leadership */

.bio_img
{
	float:left;
	
}
.bio_para
{
	float:right;
	width:70%;
	line-height:15px;
	font-size:.95em;
}
.lead_bio p
{
	margin:0 auto;
	margin-bottom:20px;
}
.name_lead
{
	
	font-size:1.2em;
	font-weight:bold;
	color: #5a5a5d;
	

}
.title_lead
{
	font-size:1.2em;
	font-weight:bold;
	font-style:italic;
	color: #5a5a5d;
	margin-bottom:5px;
}
.float_left
{
	float: left;	
	vertical-align: top;
}
.float_right
{
	float:right;
	vertical-align:top;
	margin-right:10px;
}
div .width_constrain
{
	width:70%;
	line-height:1.3;
}
.profile_image
{
	margin-top:11px;
}
#profile_2_copy p, #profile_1_copy p, #profile_3_copy p
{
	margin:5px 0px 5px 0px;
}
div #profile_2, div #profile_3
{
	margin-top:10px;
}

.award_year
{
	font-weight:bold;
	font-size:1.5em;
	float:left;
	margin-right:50px;
	margin-top:20px;
	margin-bottom:10px;
}
.award_wrapper, .news_article
{
	width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-right: 5px;

}
.award_wrapper
{
	margin-left:17px;
}
.award_wrapper a:hover, .award_wrapper a:visited, .award_wrapper a:active, .award_wrapper a:link
{
	text-decoration: underline;
}

.article_link img
{
	padding-right:2px;
}
.article_link a:hover, .article_link a:visited, .article_link a:active, .article_link a:link, .article_link a
{
	text-decoration:underline !important;
	color:#5a5a5d;
	font-size:1.2em;
}
.itn_news_article a:hover, .itn_news_article a:visited, .itn_news_article a:active, .itn_news_article a:link
{
	text-decoration: underline !important;
}
.itn_publication a:hover, .itn_publication a:visited, .itn_publication a:active, .itn_publication a:link
{
	text-decoration: none !important;
	color:#5a5a5d;
}
#in_the_news_inner
{
	overflow-y:scroll;
	overflow-x:hidden;
	width:294px;
	height:550px;	
}

/* news page */
.itn_news_article
{
	width:95%;
	margin:0 auto;
	margin-top:3px;
	margin-bottom:20px;
}

.itn_news_article p
{
	margin:5px 0px 5px 0px;
}
.itn_news_article .itn_date, .itn_location, .itn_publication
{
	font-size:.8em;
	color:#5a5a5d;
	font-style:italic;
	line-height:1.5;
}
.itn_publication
{
	font-weight:bold;
	margin-bottom:3px;
}
.itn_news_article .itn_title
{
	font-size:1em;
	font-weight:bold;
	font-style:italic;
	color: #387c2c;

}

.itn_news_article .itn_copy
{
	font-size:.95em;
	color:#5a5a5d;
	height:75px;
	overflow:hidden;
	word-wrap: break-word;
	margin-top:5px;
}

.itn_news_article .itn_article_link
{
	padding:6px 0px 6px 0px;
}

#in_the_news_inner hr
{
	margin:auto 0;
	color:#999999;
	width:95%;
	margin-bottom:10px;
}
/* advertiser page */
#adv_lead
{
	font-size:18px;
	font-weight:bold;
}
.callout_intro
{
	font-size:14px;
	font-weight:bold;
	margin:5px 0px 5px 0px;
}
#adv_list
{
	margin-bottom:10px;
}
#adv_img
{
	margin:0 auto;
	padding-left:15px;
}
.spaced
{
	line-height:1.6;
}
/* contact page */
#contact_login
{
	
	
	float:left;
	padding:3px 0px 5px 3px;
}
#contact_signup
{
	
	
	float:right;
	padding:3px 0px 5px 3px;
}
.contact_lo_topbox
{
	font-size:18px;
	font-weight:bold;
}
.contact_topbox
{
	width:48%;
	background:url('/graphics/site/corporate/constant/graidantbk.jpg') repeat-x bottom left;
	height:180px;
}
#form
{
	margin-top:5px;
	margin-left:3px;
}
#topbox_wrap p, #member_inquiries p
{
	margin:0;
}
#topbox_wrap
{
	width:98%;
	margin:0 auto;
}
#sgnupbtn
{
	margin-left:45px;
}
#topbox_wrap a:hover, #topbox_wrap a:visited, #topbox_wrap a:active, #topbox_wrap a:link, #member_inquiries a:hover, #member_inquiries a:visited, #member_inquiries a:active, #member_inquiries a:link
{
	text-decoration: underline;
}
#contact_biz
{
	font-size:1.5em;
	font-weight:bold;
	margin-top:40px;
}
/*accordion stuff */
#accordion_contact h3
{
	font-size:14px;
	font-weight:bold;
	font-family:arial;
	color: #5a5a5d;
	padding-top:5px;
	padding-bottom:5px;

}
#accordion_contact a:hover, #accordion_contact a:visited, #accordion_contact a:active, #accordion_contact a:link
{
	text-decoration:underline;
	color:#5a5a5d;
}
#form_wrapper
{
	width:95%;
	margin-top:10px;
}
#ContactSelect, #labelCS
{
	margin-left: 9px;
	margin-bottom: 2px;
}
h5.contact_form_section {
	font-size: 1em;
	margin: 15px 0 0;
}
hr.contact_form_section {
	margin: 4px 0 10px;
	width: 100%;
}
.contact_salesforce {
	clear: both;
	padding: 5px;
}
.contact_salesforce label {
	display: block;
	width: 30%;
	float: left;
	text-align: right;
	line-height: 1.8;
	margin-right: 8px;
}
.contact_salesforce input[type=text] {
	display: block;
	border: 1px solid #aaa;
	width: 50%;
	float: left;
}
.contact_salesforce textarea {
	display: block;
	border: 1px solid #aaa;
	width: 60%;
	float: left;
}
.contact_salesforce select {
	display: block;
	border: 1px solid #aaa;
	width: 50%;
	float: left;
}
.contact_salesforce input.error,
.contact_salesforce textarea.error,
.contact_salesforce select.error {
	border-color: red;
}
.contact_salesforce b span {
	color: red;
}
.captcha_salesforce, #required_fields_text {
	padding-left: 32%;
}
.captcha_salesforce p {
	margin: 0 -20px 0 0;
}
#name_contact{
	float:left;
	margin-right:12px;
}
#email_contact
{
	float:left;
}
.contact_form_wraps
{
	padding-left:10px;
	padding-bottom:2px;
}
#submit_contact{
	width: auto;
	float: right;
	margin-right: 310px;
}
.logged_in_contact
{
	font-size: 1.5em;
	font-weight: bold;
}
.corp_head
{
	padding-bottom: 10px;
	font-family: arial;
	font-weight: bold;
	font-size: 2em;
	color: #387c2c;
}
#mailing_address
{
	margin-top: 50px;
}
#mailing_address p
{
	margin: 0 auto;
}
#mailing_title
{
	font-weight: bold;
	font-size: 1.5em;
}
#op_title
{
	font-size: 18px;
	font-weight: bold;
}
#job_table
{
	width: 99%;
	margin-top: 20px;
}
#header_row td
{
	background-color: #6EBE44;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
}
#jobs_table a:hover, #jobs_table a:visited, #jobs_table a:active, #jobs_table a:link
{
	text-decoration: underline;
	color: #5a5a5d;
}
#job_table td
{
	padding-top: 5px;
	padding-bottom: 5px;
}
#job_table td
{
	padding-left:5px;
}
#affil_title
{
	font-size:1.5em;
	font-weight:bold;
	color:#5a5a5d;
}

#affil_signup
{
	font-size:16px;
	font-weight:bold;
}
#affil_button
{
	margin-top:50px;
}
#affil_box_inner
{
	text-align:center;
	vertical-align:middle;
	height:161px;
	padding-top:25px;
}
#affil_box_inner img
{
	padding-top:10px;
}
#affil_list_holder
{
	width:95%;
	padding-left:10px;
	margin-bottom:15px;
	font-size:1em;

}
#affil_list_holder ul
{
	list-style-type:none;
	margin:0 auto;
}
#affil_list_holder ul li
{
	padding-bottom:5px;

}
#archive_text
{
	font-size:16px;
	font-color:#5a5a5d;
	font-weight:bold;
	margin-top: 25px;
}
#archive_years a
{
	font-size:14px;
	font-color:#5a5a5d;
	font-weight:bold;
	text-decoration:underline;
}
#archive_years, #archive_text
{
	
	margin-left: 10px;
}
.hidemecorp{
	display:none;
}

a.contact-click {
	text-decoration: underline;
}




/* REDESIGN */
#careers a, #jobs a {
	text-decoration: underline;
}
#careers h5, #jobs h5 {
	color: #387c2c;
}

#benefitsiconset {
	margin: 25px 0;
	text-align: center;
}

#careers hr, #jobs hr {
	margin: 25px 0;
	width: 100%;
}

#careers_mission {
	margin-bottom: 30px;
}

#our_mission {
	font-size: 1em;
	font-weight: normal;
}
#benefits .right, #benefits .left {
	width: 48%;
}
.li_margin {
	margin-left: 18px;
}
#careers ol, #careers ul {
	line-height: 1.5em;
}
#values_right li, #values_left li {
	margin: 25px 0;
}
#career_val {
	margin-bottom: -25px;
}
#jobs p {
	margin: 0 0 1em 0;
}
#jobs .contact_form_wraps {
	padding-left: 0;
}
#jobs #mailing_address {
	margin-top: 0;
}

#contact_fail, #errorBox li {
	color: red;
}
#contact_fail {
	margin-top: 10px;
}
.hidebox {
	margin: 10px 0;
}
.hide {
	display: none;
	margin-left: 26px;
	margin-bottom: 25px;
	font-size: 12px;
}
.job_title {
	display: inline;
	font-weight: bold;
	font-size: 14px;
}
#jobs a.button {
	background: #f26522;
	padding: .5em 2em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.post_title {
	font-weight: bold;
}
.toggle {
	position: relative;
	top: 2px;
}
#company_facts_header {
	background-color: #6ebe44;
	color: #fff;
	font-size: 18px;
	padding-left: 15px;
}
#company_facts_inner {
	background-color:white;
	border: 3px solid #6ebe44;
	font:Arial;
	font-size:14px;
	color: #5a5a5d;
}
#company_facts_inner li {
	margin-bottom: 15px;
}
#company_facts a {
	text-decoration: underline;
}
#cw_address {
	margin-top: 25px;
}