
table.cake-sql-log {
	margin: 5px;
	padding: 5px;
	background-color: #eee;
}
table.cake-sql-log caption {
	padding: 5px 5px 0;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	background-color: #eee;
}
table.cake-sql-log th {
	white-space: nowrap;
	text-align: left;
	font-size: 11px;
	padding: 0 5px;
	color: #222;
	border-bottom: solid 1px #888;
}
table.cake-sql-log td {
	font-size: 11px;
	padding: 0 5px;
	color: #444;
	border-bottom: solid 1px #fff;
}
