#announcementContentContainer{
	margin-top:180px;
}

#announcemntCloseContainer{
	width:100%;
	font-size:14px;
	text-align:right;
	color: #000;
	verticle-align:middle;
	line-height:14px;
	font-weight:bold;
}

#announcemntCloseContainer a{
	margin-right:22px;
	padding-top:10px;
	padding-bottom:5px;
	display:inline-block;

}

.announcemntImageContainer{
	width:100%;
	height:100%;
}

.announcemntCloseContainer a{
	color: #fff;
	font-weight:bold;
}

.announcemntCloser{
	padding:10px;
	display:block;
}

#signupAnnouncement{
	background-color:rgba(0,0,0,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10999;
	top: 0;
	left: 0;
	display:none;
}

#signupOutsideCountryContainer{
	width:450px;
	background:#fff;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #000;
	text-align:center;
}

#signupOutsideCountryContainer .textBold{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
}

#signupOutsideCountryContainer .signupMainTextContainer{
	width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    padding-top: 15px;
}

#signupOutsideCountryContainer .signupOutsideCountryContentBottom{
	width:410px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	display:inline-block;
	padding-top: 15px;
	position:relative;
	text-align:left;
	padding-bottom:15px;
}

#signupOutsideCountryContainer .signupOutsideCountryContentBottom:after{
	content:'';
	display:block;
	clear: both;
}


#signupOutsideCountryContainer .signupOutsideCountryContentBottom img{
	float:left;
}

#signupOutsideCountryContainer .siteButtonContainer{
	text-align:center;
	float:right;
	padding-top: 67px;
}

.signupOutsideCountryContentBottom .siteButton{
    margin-left: auto;
    margin-right: auto;
    background-color: #c73393;
    color: #fff;
    font-size: 17px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.signupOutsideCountryContentBottom .siteLink{
	text-decoration:none;
}

.signupOutsideCountryContentBottom .continueLink{
	text-decoration: underline;
    padding-top: 13px;
    font-size: 14px;
}