/*Shop header css*/
.top-center-header {
    color: black !important;
    text-transform: uppercase;
    font-family: 'clarendon-urw', serif;
    font-weight: lighter;
    font-size: 2.2em;
    -webkit-font-smoothing: antialiased;
	text-align: center;
}

.hot-pink {
    color: #D72768 !important;
}
[data-title="SALE"] {color: #ef436d !important;}
/*Navigation Overrides*/
#header-v2 a { -webkit-font-smoothing: antialiased; }
#categories .top-level>a { -webkit-font-smoothing: antialiased; }

#categories [data-columns].men li.sub-level.column:nth-of-type(4) {}
#categories [data-columns].women li.sub-level.column:nth-of-type(4) {}
#categories [data-columns].gifts li.sub-level.column:nth-of-type(3) { padding-left: 2%;}
#categories [data-columns].gifts li.sub-level.column:nth-of-type(4) { padding-left: 3% !important;}
#header-v2 #account-dropdown .account-inner .dropdown-menu { min-width: 200px; }

#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: 0px; }
#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.men-trends { bottom: 0px; }

html[lang="en-FR"] #categories .top-level.exclusive, html[lang="fr-FR"] #categories > ul > li.top-level.exclusive, html[lang="en-ES"] #categories > ul > li.top-level.exclusive, html[lang="es-ES"] #categories > ul > li.top-level.exclusive {display : none;}
html[lang="en-FR"] #categories .top-level.edie-offer, html[lang="fr-FR"] #categories > ul > li.top-level.edie-offer, html[lang="en-ES"] #categories > ul > li.top-level.edie-offer, html[lang="es-ES"] #categories > ul > li.top-level.edie-offer {display : none;}

html[lang="en-FR"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-her, html[lang="fr-FR"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-her, html[lang="en-ES"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-her, html[lang="es-ES"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-her {display : none;}
html[lang="en-FR"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-him, html[lang="fr-FR"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-him, html[lang="en-ES"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-him, html[lang="es-ES"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.rexy-capsule-collection-for-him {display : none;}

html[lang="en-FR"] #categories > ul > li.top-level.sale, html[lang="fr-FR"] #categories > ul > li.top-level.sale, html[lang="en-ES"] #categories > ul > li.top-level.sale, html[lang="es-ES"] #categories > ul > li.top-level.sale {display: none;}
[lang="en-GB"] #categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends, [lang="en-FR"] #categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends, [lang="en-ES"] #categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends, [lang="fr-FR"] #categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends, [lang="es-ES"] #categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: -28px; }
/*html[lang="en-GB"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.fragrance, html[lang="en-GB"] #categories > ul > li.top-level.new > div > div > ul > li.sub-level.column.has-image > div > ul > li.disneyxcoach { display: none; }*/
/*
html[lang="en-FR"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: -30px; }
html[lang="fr-FR"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: -30px; }

html[lang="en-FR"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.men-trends { bottom: -30px; }
html[lang="fr-FR"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.men-trends { bottom: -30px; }

html[lang="en-ES"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: -30px; }
html[lang="es-ES"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.women-trends { bottom: -30px; }

html[lang="en-ES"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.men-trends { bottom: -30px; }
html[lang="es-ES"]#categories .top-level.new[data-columns="5"] li.sub-level.column.trends.men-trends { bottom: -30px; }
*/

.colettexcoach[data-hidden=desktop]{ display:block !important; }
.men-new-arrivals-coachxmlb[data-hidden=desktop]{ display:block !important; }
/*#header-v2 #categories [data-hidden=desktop], #header-v2 #categories [data-hidden=global] { display: inline-block !important; }*/

.privacy_policy_message_box { position: relative; z-index: 10000; }

@media (min-width: 1040px) {
	/*.top-level.sale .main-content.level1 { display: none !important; }*/
	.top-level.stores .main-content.level1 { display: none !important; }
	.top-level.exclusive .main-content.level1 { display: none !important; }
	.top-level.edie-offer .main-content.level1 { display: none !important; }
	html[lang="en-US"] #categories > ul > li.top-level.gifts > div > div > ul > li:nth-child(1) > div > ul > li.gifts-women-stocking-stuffers { margin-top: 30px; }
	html[lang="en-US"] #categories > ul > li.top-level.gifts > div > div > ul > li:nth-child(2) > div > ul > li.gifts-men-stocking-stuffers { margin-top: 30px; }

	#categories > ul > li.top-level.gifts > div > div > ul > li:nth-child(1) > div > ul > li.gifts-women-lux-gifts { margin-top: 30px; }
	#categories > ul > li.top-level.gifts > div > div > ul > li:nth-child(2) > div > ul > li.gifts-men-luxe { margin-top: 30px; }
	a[data-title="Women's Coach 1941"] {width: 140px;}
	a[data-title="Men's Coach 1941"]{width: 110px;}
}

@media screen and (max-width: 1024px) {
	#categories [data-columns].men li.sub-level.column:nth-of-type(4),
	#categories [data-columns].women li.sub-level.column:nth-of-type(4) { padding-left: 3%; } 
	#categories [data-columns].gifts li.sub-level.column:nth-of-type(3) { padding-left: 0; }
}

/*Personalize*/
.personalize #personalize-section .learn-text { margin-top: 0 !important; }

/*Footer*/
@media (max-width: 767px) {
.footer-lower-wrap {
    border-top: none;
}
}
#footer {
    border-top: 1px solid #ccc;
	margin-top: 0 !important;
}
#footer #footer-accordian h6.footer-header {
    padding-bottom: 15px;
    font-size: 1.1em;
}
#footer #footer-accordian ul li a {
    text-transform: none !important;
	line-height: 100%;
}
#footer .connect-text {
	padding-bottom: 5px;
}
#footer .row {
    padding: 0px 0 20px !important;
	direction: ltr;
}
#footer #footer-accordian ul.list-unstyled, .footer Ul.list-inline a {
    font-size: 1.1em;
}
#email-form-footer .email-signup label {
    font-size: 1em;
}
.footer-signup div.email-text {
	font-size: 0.9em;
}
.footer-copyright {
	font-size: .8em;
}
#email-form-footer .row {
    padding: 0 !important;
}

#language-toggle-bottom {
    left: 2%;
    top: -30px;
	padding-left: 0px;
}

#footer .row.aboutcoach .footer-top {
    border-top: none;
    margin-top: 0;
}

@media (max-width: 1099px) and (min-width: 768px) {
#footer .footer-signup.row {
    padding-top: 0;
    padding-bottom: 0;
}
}

@media (min-width: 1440px) {
	#footer #footer-accordian {
		padding-top: 0px;
	}
}
@media (max-width: 767px) {
	#footer #footer-accordian div {
		padding-left: 5px;
		padding-right: 10px;
	}
	#footer #footer-accordian {
	    padding-bottom: 10px;
	}
	#email-form-footer {
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 15px;
		border-top: 1px solid #ccc;
	}
	footer#footer .email-signup .input-group, .footer-signup div.email-text, #email-form-footer .btn {
		width: 100%;
	}
	#language-toggle-bottom {
		top: 20px;
		left: 16px;
	}
}

html[lang=ar-SA] .row.footer-menu, html[lang=en-SA] .row.footer-menu {
    width: 70%;
    float: left;
}

/*Hide footer from checkout*/
@media (max-width:767px) {	
 .pt_checkout #footer{
	display:none;
 }
}

/*BX Slider*/
.mod .bx-wrapper .bx-pager.bx-default-pager a.active, .mod .bx-wrapper .bx-pager.bx-default-pager a:hover { background: rgba(255,255,255,1); }
.mod .bx-wrapper .bx-pager.bx-default-pager a { background: rgba(255,255,255,0.4); }
.mod .bx-wrapper .bx-prev { background-position-x: -1px;}
.mod .bx-wrapper .bx-next { background-position-x: -42px; }
.mod .bx-wrapper .bx-prev:hover { background-position-x: -1px; }
.mod .bx-wrapper .bx-next:hover { background-position-x: -42px;}
/*
.mod .bx-wrapper .bx-prev { background: url('201611/hp-114/controls-skinny.png?$staticlink$') -1px 0 no-repeat;}
.mod .bx-wrapper .bx-next { background: url('201611/hp-114/controls-skinny.png?$staticlink$') -42px 0 no-repeat; }
.mod .bx-wrapper .bx-prev:hover { background: url('201611/hp-114/controls-skinny.png?$staticlink$') -1px 0 no-repeat; }
.mod .bx-wrapper .bx-next:hover { background: url('201611/hp-114/controls-skinny.png?$staticlink$') -42px 0 no-repeat;}
*/

/*Desktop & Mobile*/
@media (max-width: 765px) {
	.desktop {
		display:none;
	}
}
@media (min-width: 765px) {
	.mobile {
		display:none;
	}
}