﻿@charset "utf-8";
/*头部*/
.overall{margin:0 auto;width:980px;}
#top_nav {
	height:24px;
	line-height:24px;
	border-bottom:1px solid #dcdcdc;
	background:#f8f8f8
}
#top_nav a:hover {
	text-decoration:underline;
}
#top_nav .left li, #top_nav .right li {
	float:left;
	margin-right:5px;
	position:relative
}
/**/
#header {
	height:60px;
	width:980px;
	margin:0 auto;
	padding:10px 0;
	overflow:hidden;
}
#header .logo {
	width:200px;
	height:60px;
	background:url(../images/logo.gif) no-repeat 0 0;
	float:left;
}
#header .logo a {
	text-indent:-9999em;
	float:left;
	width:200px;
	height:60px;
}
/*页面尾部*/


/*首页微博图标*/
#header .word {
	height:16px;
	line-height:16px;
	padding-top:28px;
	float:right;
}
#header .sina_weibo {
	width:20px;
	display:inline-block;
	height:16px;
	line-height:16px;
	background:url(../images/icon_weibo.gif) no-repeat 0 0;
}
#header .word span {
	float:left;
}
#header .word a {
	display:inline-block;
	height:23px;
	line-height:23px;
	width:60px;
	padding-left:30px;
	margin-right:10px;
}
#header .word .xl{background:url(../images/sinaweibo.png) no-repeat;}
#header .word .tx{background:url(../images/tecentweibo.png) no-repeat;}

#header .word img {
	margin-left:5px;
	height:16px;
	width:16px;
}
/*登陆后用户信息*/
.user_info {
	float:right;
	height:32px;
	text-align:right;
	margin-top:49px;
}
.user_info li {
	float:left;
	height:30px;
	line-height:30px;
	padding:0 10px;
	background:url(../images/user_info_bg.gif) repeat-x;
	border:1px solid #c8c8c8;
	border-left:0 none;
	border-right:0 none;
}
.user_info li a {
	float:left;
	display:inline;
}
.user_info li img {
	float:right;
	vertical-align:middle;
	margin-top:3px;
}
.user_info .user_info_right, .user_info .user_info_left {
	width:5px;
	float:left;
	height:32px;
	border:0 none;
	padding:0;
}
.user_info .user_info_left {
	background:url(../images/user_info_left.gif) no-repeat;
}
.user_info .user_info_right {
	background:url(../images/user_info_right.gif) no-repeat;
}
.user_info .msg a {
	background:url(../images/icon_msg.gif) no-repeat 0 10px;
	padding-left:20px;
}
/*导航*/
#nav {
	background:url(../images/nav_bg.png) repeat-x 0 0;
	height:45px;
}
#nav ul {
	height:45px;
	width:800px;
	float:left;
}
#nav li{float:left;height:45px;line-height:45px;font-size:14px;font-weight:bold;width:100px;text-align:center;background:url(../images/navli_bg.png) no-repeat right 0;}
#nav .last{background:none;}
#nav li a {
	width:100px;
	float:left;
	height:45px;
	line-height:45px;
	text-decoration: none;
}
#nav li a:link, #nav li a:visited {
	color:#fff;
}
#nav .selected{
	background:url(../images/navli_selected.png) no-repeat 0 0;
}
#nav .search{float:right;height:27px;margin:9px 0;width:179px;}
#nav .search .input{width:96px;float:left;padding-left:30px;border:0;background:url(../images/search.png) no-repeat 0 0;}
#nav .search .btn{float:left;border:0;width:49px;text-align:center;color:#666;background:url(../images/search.png) no-repeat -130px 0;height:27px;line-height:27px;font-weight:bold;}

/*子菜单*/
#sub_nav {
	height:33px;
	background:#f4f4f4;
	border-bottom:1px solid #ededed
}
#sub_nav ul {
	width:980px;
	margin:0 auto;
	overflow:hidden;
	height:33px;
}
#sub_nav ul li {
	float:left;
	margin:0 20px;
	height:33px;
	line-height:33px;
	padding:0 0 0 10px;
}
#sub_nav ul li a {
	float:left;
	padding-right:10px;
}
#sub_nav ul .active {
	float:left;
	padding:0 0 0 10px;
	background:url(../images/sub_nav_active.gif) no-repeat 0 5px;
}
#sub_nav ul .active a {
	float:left;
	padding-right:10px;
	background:url(../images/sub_nav_active.gif) no-repeat right 5px;
}
#sub_nav ul .active a:link, #sub_nav ul .active a:visited {
	color:#ff6d00
}
#position {
	width:980px;
	margin:0 auto;
	margin-top:10px;
}
/*主体部分*/
#main {
	width:980px;
	margin:0 auto;
}
.content {
	width:735px;
	float:left;
	zoom:1;
	display:inline;
}
.content h2 {
	border:1px solid #dcdcdc;
	border-top:1px solid #ffaa65;
	border-bottom:0;
	font-size:12px;
	color:#333;
	height:29px;
	line-height:29px;
	margin-top:10px;
	background:url(../images/h2_bg.gif) repeat-x;
	padding-left:10px;
	overflow:hidden;
}
.content h2 span {
	padding:10px;
	background:url(../images/content_h2_span.gif) no-repeat 0 3px;
}
.content h2 em {
	font-style:normal;
	float:right;
	margin-right:5px;
}
.content h2 em a:link, .content h2 em a:visited {
	color:#ff6d00
}
.content h2 .btn_sit_add {
	background:url(../images/btn_sit_add.gif) no-repeat 3px 8px;
	padding-left:20px;
}
.content h2 .btn_sit_add a:link, .content h2 .btn_sit_add a:visited {
	color:#ff6d00
}
.content table {
	background:#dcdcdc;
}
.content td, .content th {
	background:#fff;
	padding:8px;
}
.content table tbody th {
	font-weight:normal;
	text-align:right;
	background:#fafafa;
	color:#333;
}
.content table thead th {
	color:#333;
	background:#fff url(../images/sub_nav_ul_bg.gif) repeat-x 0 bottom;
}
.content .data td {
	text-align:center;
}
.content td p {
	text-indent:2em;
	line-height:24px;
}
.content .data thead th {
	font-weight:bold;
	color:#666;
}
.content .data thead td {
	color:#666;
}
.content .data thead a:link, .content .data thead a:visited {
	color:#333;
}
.content .data tfoot td {
	padding:0;
}
.content table tfoot img {
	display:inline;
	margin-right:20px;
}
/*侧边栏*/
.sidebar {
	width:235px;
	float:left;
	margin-left:10px;
}
.sidebar_adv {
	width:233px;
	border:1px solid #dcdcdc;
	margin-top:10px;
}
.sidebar_news, .sidebar_tips, .sidebar_lesson {
	width:213px;
	border:1px solid #dcdcdc;
	padding:10px;
	margin-top:10px;
}
.sidebar_news, .sidebar_tips {
	background:#fffef2;
}
.sidebar_news h2, .sidebar_lesson h2, .sidebar_tips h2 {
	font-size:14px;
	color:#333;
}
.sidebar_news h2 span, .sidebar_lesson h2 span, .sidebar_tips h2 span {
	font-size:12px;
	color:#666;
	float:right;
	font-weight:normal;
	font-family:"宋体";
}
.sidebar_news ul, .sidebar_lesson ul {
	padding-top:10px;
}
.sidebar_news ul li, .sidebar_lesson ul li {
	width:213px;
	overflow:hidden;
	height:26px;
	line-height:26px;
	font-family:"宋体"
}
.sidebar_tips dl {
	padding:10px 0;
	line-height:25px;
}
.sidebar_tips dt {
	font-weight:bold;
}
/*------------------查询活动页面-----------------*/
.activity_type {
	border:1px solid #dcdcdc;
	padding:10px 16px;
	overflow:hidden;
	width:701px;
}
.activity_type ul {
	width:701px;
	height:25px;
	float:left;
	overflow:hidden;
}
.activity_type ul li {
	float:left;
	width:140px;
	color:#333;
	display:inline;
}
.hide_type, .more_type {
	cursor:pointer;
	text-align:center;
	height:23px;
	padding-top:5px;
	margin-bottom:10px;
}
.hide_type {
	background:url(../images/hide_type.gif) no-repeat;
}
.more_type {
	background:url(../images/more_type.gif) no-repeat;
}
.hide_type {
	display:none;
}
.act_img {
	margin-right:10px;
}
.selall {
	margin: 3px 10px 0 0;
}
.check_act_id {
	margin: 15px 10px 0 10px;
}
/*分页*/
.act_page {
	margin:10px 0;
}
.page {
	display:inline-block;
}
.page ul li {
	float:left;
	margin-right:5px;
	height:20px;
}
.page ul li a {
	border:1px solid #dcdcdc;
	float:left;
	padding:0 5px;
}
.page ul li a:link, .page ul li a:visited {
	color:#333;
}
.page ul li a:hover, .page ul .on a {
	border:1px solid #ffd495;
	color:#ff7200
}
.page ul .on a:link, .page ul .on a:visited {
	color:#ff7200
}
.page ul li span {
	float:left;
	padding:0 5px 0 0;
}
/*-------------------我的活动（优惠券推荐）-------------------------*/
.scroll_img {
	position:relative;
	width:733px;
	border:1px solid #dcdcdc;
}
.yhq {
	width:693px;
	padding:10px 0;
	overflow:hidden;
	margin:0 18px
}
.yhq_con {
	width:9999px;
}
.yhq dl {
	float:left;
	border:1px solid #dcdcdc;
	width:120px;
	margin:0 8px;
	padding:1px;
	display:inline;
}
.yhq .dl_hover {
	border:1px solid #ff790d;
}
.yhq dt img {
	width:118px;
	height:52px;
}
.yhq dd {
	text-align:center;
	line-height:25px;
	height:25px;
}
.prev, .next {
	position:absolute;
	cursor:pointer;
	top:40px;
	width:13px;
	height:13px;
}
.prev {
	left:0;
}
.prev a {
	width:13px;
	height:13px;
	background:url(../images/prev.gif) no-repeat;
	left:5px;
	position:absolute;
}
.prev a:hover {
	background:url(../images/prev_hover.gif) no-repeat 0 0;
}
.next a:hover {
	background:url(../images/next_hover.gif) no-repeat 0 0;
}
.next {
	right:0;
}
.next a {
	width:13px;
	height:13px;
	background:url(../images/next.gif) no-repeat;
	right:5px;
	position:absolute;
}
.next a:hover {
	background:url(../images/next_hover.gif) no-repeat 0 0;
}
/*---------------活动详情------------------*/
.act_adserinfo, .act_adserinfo dd, .act_adserinfo dt {
	float:left;
}
.idtabs_adser {
	margin-top:10px;
	height:32px;
	background:url(../images/sales_tab_bg.gif) repeat-x;
	display:inline-block;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	width:723px;
	padding-left:10px;
}
.idtabs_adser li {
	float:left;
	height:32px;
	line-height:32px;
}
.idtabs_adser li a {
	display:inline-block;
	padding:0 20px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	height:32px;
}
.idtabs_adser li a:link, .sales_tab li a:visited {
	text-decoration:none;
	color:#333;
}
.idtabs_adser li .selected {
	color:#ff7200;
	border:1px solid #ffaa65;
	border-bottom:0 none;
	background:#fff;
	height:31px;
	overflow:hidden;
}
.idtabs_adser li .selected:link, .idtabs_adser li .selected:visited {
	color:#ff7200;
}
/*积分兑换*/
.jfdh {
	padding:10px;
	padding-right:0;
	border:1px solid #dcdcdc;
	width:723px;
	overflow:hidden;
}
.jfdh dl {
	float:left;
	width:139px;
	background:url(../images/fenge_jfdh.gif) no-repeat right -20px;
	margin-right:5px;
}
.jfdh dt {
	padding-left:6px;
	position:relative;
}
.jfdh dt .sold_out {
	position:absolute;
	right:12px;
	top:0;
	background:url(../images/jfdh_out.png) no-repeat;
	width:40px;
	height:40px;
}
.jfdh dt img {
	border:1px solid #dcdcdc;
	width:120px;
}
.jfdh dd p {
	width:134px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.jfdh dd p a:link, .jfdh dd p a:visited {
	color:#333;
}
.jfdh dd p a:hover {
	color:#ff7200;
}
.jfdh dd img {
	padding-left:28px;
}
.jfdh .last {
	margin:0 auto;
	background:none;
}
/*---------------财务管理页面------------------*/
.screening_box {
	border:1px solid #dcdcdc;
	border-bottom:none;
	color:#333;
	display:block;
	padding:10px;
	background:#fffeee;
}
.screening_box ul {
	display:block;
	height:28px;
	line-height:28px;
	padding:2px 0;
}
.screening_box li {
	float:left;
	margin-right:10px;
	display:inline;
	height:28px;
}
.screening_box li a:hover {
	text-decoration:none
}
.screening_box .on {
	padding:0 5px;
	background:#ff8400;
	color:#fff;
	height:20px;
	margin-top:5px;
	line-height:20px;
}
.screening_box .on a:link, .screening_box .on a:visited {
	color:#fff;
}
.screening_box select, .screening_box input, .screening_box span {
	float:left;
}
.finreport_intro {
	border:1px solid #dcdcdc;
	border-top:none;
	padding:20px 10px 50px 10px;
	background:url(../images/finreport_intro_bg.gif) repeat-x 0 bottom;
}
.report_text {
	float:left;
	width:93px;
	color:#333;
	font-weight:bold;
	line-height:25px;
}
.report_text img {
	margin: 4px 5px 0 0;
	vertical-align: top;
	float:left;
}
.report_tips li {
	line-height:25px;
}
.input_money {
	border:1px solid #dcdcdc;
	height:24px;
	line-height:24px;
}

/*弹窗*/
/*弹窗样式*/
.open_win {
	display:none;
	z-index:5000;
	color:#333;
}
.open_win .container {
	left:50%;
	top:50%;
	margin-top:0px;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
 _top:expression(eval(document.documentElement.scrollTop+document.documentElement.offsetHeight/2));
	padding:10px;
	background:#fff;
	text-align:left;
	z-index:3000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.open_win .container .title {
	border:1px solid #ffd495;
	background:url(../images/open_win_title_bg.gif) repeat-x;
	height:32px;
	line-height:32px;
	padding-left:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#ff6d00;
	font-weight:bold;
	font-size:14px;
}
.close {
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
}
.open_win .overlay {
	width:100%;
	height:100%;
	opacity: 0.5;
	background:#000;
	top:0;
	left:0;
	position:fixed;
	filter:alpha(opacity=50);
	_position:absolute;
_filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	z-index:2000;
	_height:1000px;
}
.con {
	padding:10px;
}
.text {
	padding-left:60px;
	height:40px;
	line-height:40px;
}
.text p {
	line-height:40px;
}
.text_success {
	background:url(../images/icon_success.gif) no-repeat 0 -5px;
}
.text_faild {
}
.open_win .con .tips {
	padding:20px 20px 20px 60px;
	margin-top:10px;
	border-top:1px solid #dcdcdc;
}
.open_win .con .tips p {
	line-height:25px;
}
/*支付密码修改成功*/
.pay_pwd .container {
	width:600px;
	height:80px;
	margin-left:-300px!important;
	margin-top:-40px!important;
}
/*申请提现弹出框*/
.open_win .txsq {
	width:400px;
	height:140px;
	margin-left:-200px!important;
	margin-top:-70px!important;
}
.open_win .btn {
	text-align:center;
	padding:10px 0;
}
.open_win .btn img {
	display:inline;
	margin-right:20px;
}
/*通栏页面*/

.content1 {
	width:980px;
	position:relative;
}
.textbox {
	width:220px;
}
.call_l, .call_r {
	width:40px;
}
.operate img {
	display:inline;
	margin-right:10px;
}
.getcode {
	border:1px solid #dcdcdc;
	border-bottom:none;
}
/*报表*/
.rep_page {
	border:1px solid #dcdcdc;
	padding:10px;
	border-bottom:0;
	height:20px;
}
/*排序*/
.rep_sort {
	border:1px solid #dcdcdc;
	border-bottom:0;
	width:978px;
}
.rep_sort li {
	float:left;
	height:30px;
	line-height:30px;
	background:url(../images/sub_nav_ul_bg.gif) repeat-x;
	border-right:1px solid #dcdcdc;
}
.rep_sort li a {
	float:left;
	padding:0 10px
}
.rep_sort li a:hover {
	background:url(../images/rep_sort_hover.gif) repeat-x;
	text-decoration:none;
}
.rep_sort li span {
	background:url(../images/rep_sort_normal.gif) no-repeat 3px 7px;
	padding:5px;
}
.rep_sort .on, .rep_sort .on1 {
	background:url(../images/rep_sort_hover.gif) repeat-x;
}
.rep_sort .on span {
	background:url(../images/rep_sort_top.gif) no-repeat 3px 7px;
	padding:5px;
}
.rep_sort .on1 span {
	background:url(../images/rep_sort_bottom.gif) no-repeat 3px 7px;
	padding:5px;
}
.content .rep_table th {
	text-align:center;
	color:#666;
	font-weight:bold;
	padding:4px 2px;
}
.content .rep_table td {
	text-align:center;
}
.content .rep_total td {
	color:#333;
	font-weight:bold;
}
.rep_export {
	border:1px solid #ccc;
	position:absolute;
	top:15px;
	right:5px;
	height:20px;
	line-height:20px;
	background:url(../images/rep_export_bg.gif) repeat-x 0;
	padding:0 10px;
}
.rep_export ul {
	position:absolute;
	top:20px;
	right:50px;
	background:#fff;
	z-index:20;
	border:1px solid #dcdcdc;
	padding:5px 0;
	display:none;
	width:90px;
}
.rep_export ul li {
	border-bottom:1px dotted #dcdcdc;
	cursor:pointer;
	text-align:center;
}
.rep_export ul li a {
	display:block;
}
.rep_export ul li a:hover {
	background:#eee;
	text-decoration:none;
}
.rep_export img {
	margin-top:8px;
	cursor:pointer;
}
.rep_export_style {
	width:70px;
	cursor:pointer;
	background:url(../images/rep_export_select_icon.gif) no-repeat right 7px;
}
.rep_export_style1 {
	width:70px;
	cursor:pointer;
	background:url(../images/rep_export_select_icon1.gif) no-repeat right 7px;
}
.btn_export {
	color:#fff;
	background:#ff8400;
	float:left;
	height:18px;
	line-height:18px;
	margin-top:1px;
	margin-left:10px;
	padding:0 5px;
}
.btn_export:link, .btn_export:visited, .btn_export:hover {
	color:#fff;
	text-decoration:none;
}
.content1 h3 {
	width:968px;
	height:30px;
	line-height:30px;
	background:url(../images/sub_nav_ul_bg.gif) repeat-x;
	border:1px solid #dcdcdc;
	border-bottom:0;
	font-size:12px;
	padding-left:10px;
}
.jf_tabs {
	width:968px;
}
/*按钮*/
.btn1 {
	height:19px;
	line-height:19px;
	clear:both;
	display:inline-block;
	vertical-align:middle;
}
.btn1:hover {
	text-decoration:none
}
.btn1 span {
	padding-right:20px;
	background:url(../images/btn1.gif) no-repeat right 0;
	float:left;
	height:19px;
	line-height:19px;
}
.btn1 em {
	float:left;
	font-style:normal;
	background:url(../images/btn1.gif) no-repeat 0 0;
	padding-left:20px;
	height:19px;
	line-height:19px;
}
.btn1:hover span {
	background:url(../images/btn1.gif) no-repeat right -19px;
}
.btn1:hover em {
	background:url(../images/btn1.gif) no-repeat 0 -19px;
}
.btn1:active span {
	background:url(../images/btn1.gif) no-repeat right -38px;
}
.btn1:active em {
	background:url(../images/btn1.gif) no-repeat 0 -38px;
}
/*按钮*/
.btn2 {
	height:28px;
	line-height:28px;
	clear:both;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #ed5900;
	padding:0 20px;
	background:url(../images/btn2.gif) repeat-x;
	font-weight:bold;
	font-size:14px;
}
.btn2:link, .btn2:visited {
	color:#fff
}
.btn2:hover {
	text-decoration:none;
	background:url(../images/btn2.gif) repeat-x 0 -28px;
}
.btn2:active {
	text-decoration:none;
	background:url(../images/btn2.gif) repeat-x 0 -56px;
}
/*按钮*/
.btn3 {
	height:30px;
	line-height:30px;
	clear:both;
	display:inline-block;
	vertical-align:middle;
	background:url(../images/btn3.gif) repeat-x;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
}
.btn3:hover {
	text-decoration:none
}
.btn3:link, .btn3:visited {
	color:#ff6d00
}
.btn3 span {
	padding-right:20px;
	background:url(../images/btn3.gif) no-repeat right 0;
	float:left;
	height:30px;
	line-height:30px;
}
.btn3 em {
	float:left;
	font-style:normal;
	background:url(../images/btn3.gif) no-repeat 0 0;
	padding-left:20px;
	height:30px;
	line-height:30px;
}
.btn3:hover span {
	background:url(../images/btn3.gif) no-repeat right -30px;
}
.btn3:hover em {
	background:url(../images/btn3.gif) no-repeat 0 -30px;
}
.btn3:active span {
	background:url(../images/btn3.gif) no-repeat right -60px;
}
.btn3:active em {
	background:url(../images/btn3.gif) no-repeat 0 -60px;
}
/*首页积分兑换按钮*/
.btn_jfdh {
	width:75px;
	height:23px;
	line-height:23px;
	background:url(../images/btn_jfdh.gif) no-repeat;
	color:#fff;
	display:inline-block;
	text-align:center;
	font-weight:bold;
	margin-left:28px;
}
.btn_jfdh:link, .btn_jfdh:visited {
	color:#fff;
}
.btn_jfdh:hover {
	background:url(../images/btn_jfdh.gif) no-repeat 0 -23px;
	text-decoration:none;
}
.btn_jfdh:active {
	background:url(../images/btn_jfdh.gif) no-repeat 0 -46px;
	text-decoration:none;
}
/*站内信*/
/*列表内容*/
.artical_list_ul {
	margin:0 10px;
	text-align:left;
}
.artical_list_ul li {
	height:35px;
	line-height:35px;
	border-bottom:1px dotted #dcdcdc;
	padding:0 20px;
	background:url(../images/artical_list_li_bg.gif) no-repeat 5px 15px
}
.artical_list_ul li em {
	float:right;
	font-style:normal;
	color:#999;
}
.artical_list_ul li .red, .artical_list li .red a:link, .artical_list li .red a:visited {
	color:red;
}
.letter_page {
	padding:10px;
}
.unread {
	font-weight:bold;
}
.artical {
	padding:30px;
	border-bottom:0;
	height:auto!important;  
	height:500px;  
	min-height:500px; 
		line-height:200%

}
.artical_title {
	color:#ff6d00;
	font-size:14px;
	border-bottom:1px dotted #ccc;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
	height:30px;
	line-height:30px;
}
.artical p {
	text-indent:2em;

}
.artical .artical_con{
	word-wrap:break-word;
}

/*重要消息*/
.important_msg {
	right:30px;
	bottom:0;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
 _top:expression(eval(document.documentElement.scrollTop+document.documentElement.offsetHeight/2)+100);
	background:url(../images/important_msg.png) no-repeat;
	text-align:left;
	z-index:300;
	width:329px;
	height:221px;
}
.important_msg .title {
	background:url(../images/important_msg_title.gif) no-repeat;
	height:21px;
	width:74px;
	line-height:21px;
	color:#fff;
	text-align:center;
	margin:8px 0 0 8px;
}
.msg_info {
	margin:18px 0 0 18px;
	color:#333;
	font-weight:bold;
	border-bottom:1px solid #dcdcdc;
	height:30px;
	line-height:30px;
	width:290px;
	position:relative;
}
.msg_info strong {
	margin:0 5px;
}
.msg_info span {
	float:right;
	color:#0000ff;
	font-weight:normal;
	cursor:pointer;
}
.msg_info span a:link, .msg_info span a:visited {
	color:#0000ff;
}
.important_msg dl {
	margin:8px 0 0 18px;
	width:290px
}
.important_msg dl dt {
	color:#f3623a;
	margin-bottom:10px;
}
.important_msg dl dd {
	height:40px;
	line-height:20px;
	overflow:hidden;
}
.important_msg dl dd a:link, .important_msg dl dd a:visited {
	color:#333;
}
.msg_tips {
	margin:20px 0 0 18px;
	font-weight:bold;
	color:#333;
}
/*--初次登陆引导步骤弹出框----*/
.open_win_step {
	display:block;
}
.open_win_step .container {
	width:780px;
	height:480px;
	margin-left:-370px!important;
	margin-top:-250px!important;
}
/*广告主*/
.link_pic {
	display:none;
}
.link_pic img {
	max-width:938px;
}
.hide_pic {
	display:none;
}
.link_text, .link_pic, .link_custom {
	margin-top:-1px;
}
.act_kind input {
	color: #666666;
	margin:0 5px 0 0;
	vertical-align:middle;
}
.act_kind li {
	display: inline;
	float: left;
	margin: 0 0 10px 10px;
	width: 160px;
}
.site_kind {
	float:left;
}
.site_kind li {
	float:left;
}
.site_kind label {
	float:left;
	width:125px;
	padding:5px
}

/*------------------------首页------------------------------------------*/
.throughbar {
	width:980px;
	margin:15px auto 0 auto;
}
/*广告滚动*/
.banner {
	width:690px;
	height:270px;
	float:left;
	position:relative;
	overflow:hidden;
}
/*老的广告滚动的CSS*/
.banner .tb-slide
{
	overflow:hidden;
}
.banner .img-box {
    height: 225px;
    position: absolute;
    width: 690px;
}
#adv_show {
	position:relative;
	width:690px;
	height:270px;
	overflow:hidden;
}
.adv_pic {
	position:absolute;
	top:0;
	left:0;
}
.adv_pic li, .adv_pic li a {
	float:left;
	width:690px;
	height:270px;
	display:block;
}
.adv_pic li img {
	width:690px;
	height:270px;
	display:block;
}
.adv_num_nav_bg{background:#000;
	top:245px;
	filter: Alpha(Opacity=80);
	opacity:0.8;
	width:690px;
	height:22px;
	padding-top:3px;
	position:absolute;
	left:0;
	}
.adv_num_nav {
	width:690px;
	height:22px;
	padding-top:3px;
	position:absolute;
	left:0;
	top:245px;
}
.adv_num_nav ul {
	float:right;
	margin-right:5px;
}
.adv_num_nav ul li {
	height:18px;
	line-height:18px;
	color:#fff;
	float:left;
	width:20px;
	text-align:center;
	cursor:pointer;
}
.adv_num_nav ul .on {
	background:#ff6d00;
}
/*登陆框*/
.login {
	float:left;
	width:280px;
	margin-left:10px;
	overflow:hidden;
}
#index_login .tabs {
	float:left;
}

#index_login .tabs li{
	float:left;
	height: 38px;
	background:#fbfbfb;
	width:138px;
	color:#666;
	text-align:center;
	line-height:38px;
	font-size:14px;
	font-weight:bold;
	border:1px solid #eee;
	border-bottom:1px solid #ff7609;
	cursor:pointer;
}

#index_login .tabs .selected{
	background:#ff7609;
	color:#fff;
	border:1px solid #ff7609;
	
	}
#index_login .tabs_con{border:1px solid #eee;border-top:0;padding:20px;height:191px;overflow:hidden;}


#index_login .input_text {
	width: 163px;
	height:24px;
	border:1px solid #ddd;
}
#index_login .input_text_short {
	width: 60px;
	height:23px;
	border:1px solid #ddd;
}
#index_login table th {
	font-size: 14px;
	font-weight: normal;
	height:22px;
	padding:2px 0;
	text-align: right;
	width: 45px;
}
#index_login table td {
	height:22px;
	padding:5px 0;
}
.reg_btn {width:288px;margin-left:-20px;}
.reg_btn a{ background:#f4f4f4;display:block;width:288px;text-align:center;height:35px;line-height:35px;margin-top:3px;}
.reg_btn a:hover{background:#eee;color:#f00;text-decoration:none;}
.login_btn {
	background:url(../images/login_btn.png) no-repeat;
	width:94px;
	height:34px;
	line-height:34px;
	text-align:center;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
}
.login_btn:link,.login_btn:visited{color:#fff;}
.login_btn:hover {
	background:url(../images/login_btn_hover.png) no-repeat 0 0;
	text-decoration:none;
}
.log_on_info {
    background: none repeat scroll 0 0 #FFF9E1;
    border: 1px solid #DCDCDC;
    font-weight: bold;
    padding: 10px;
    width: 210px;
}
.log_on_info  p{line-height:30px;}
.log_on_info  p a:link,.log_on_info  p a:visited{color:#999;}
.log_on_btn{margin-top:20px;}
.log_on_btn a {
    background: url("../images/log_on_bg.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #F25601;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-left: 25px;
    text-align: center;
    width: 180px;
}
.log_on_menu {
	padding-top:10px;
	border-top:1px solid #eee;
    margin-top: 10px;
    text-align: center;
    width: 230px;
}
.log_on_menu a {
    margin: 0 5px;
}
/*多麦公告、活动信息*/
.news  .news_box {
	float:left;
	width:318px;
	border:1px solid #eee;
	margin-right:10px;
}
.news  .last{margin-right:0;}
.news_box  h3{background:#f8f8f8;border-bottom:1px solid #eee;color:#fe5a00;height:35px;line-height:35px;padding-left:10px;}
.news_box  h3 a{float:right;margin-right:10px;font-size:12px;font-weight:normal;font-family:"宋体"}
.news_box  h3 a:link,.news_box  h3 a:visited{color:#999;}
.news_box ul{margin:0 10px;width:308px;float:left;padding:10px 0}
.news_box li {height:28px;line-height:28px;border-bottom:1px dotted #eee;float:left;}
.news_box li em,.news_box li a ,.news_box li span{float:left;}
.news_box li a {width:250px;overflow:hidden;height:28px;line-height:28px;}
.news_box li span{color:#ccc;width:35px;}
.news_box li em{color:#fff;float:left;font-family:Arial;font-size:10px;width:12px;height:11px;line-height:11px;text-align:center;margin:9px 0 0 0}
.news_box li .orange_bg{background:#fe7409;}
.news_box li .blue_bg{background:#a4c5fa}



/*最新信息、推荐活动*/
#index_act .tabs{background:url(../images/tabs_li_bg.png) repeat-x 0 0;width:978px;float:left;border-left:1px solid #eee;border-right:1px solid #eee;}
#index_act .tabs li{float:left;height:31px;width:87px;text-align:center;line-height:31px;background:url(../images/navli_normal.png) no-repeat right 0;cursor:pointer;}
#index_act .tabs .selected{background:url(../images/tabs_li_selected.png) no-repeat 0 0;font-weight:bold;color:#fff;border-right:0;margin-left:-1px;}
#index_act .tabs_con{padding:10px 0 10px 10px;border:1px solid #eee;border-top:0;}
#index_act .tabs_con dl{border:1px solid #eee;float:left;margin:0 9px 9px 0;width:150px;}
#index_act .tabs_con dl:hover{border:1px solid #ddd;}
#index_act .tabs_con dt img{width:120px;padding:15px;}

#index_act .tabs_con dd{border-top:1px solid #eee;background:#fafafa;text-align:center;padding:5px 0;}
#index_act .tabs_con dd p:first-child a {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
#index_act .tabs_con dd p span{background:#478bf9;color:#fff;}
.sales {
	float:left;
	width:682px;
	margin-left:10px;
}
.sales_tab {
	height:32px;
	background:url(../images/sales_tab_bg.gif) repeat-x;
	display:inline-block;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	width:670px;
	padding-left:10px;
}
.sales_tab li {
	float:left;
	height:32px;
	line-height:32px;
}
.sales_tab li a {
	display:inline-block;
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	height:32px;
}
.sales_tab li a:link, .sales_tab li a:visited {
	text-decoration:none;
}
.sales_tab li .selected {
	color:#ff7200;
	border:1px solid #ffaa65;
	border-bottom:0 none;
	background:#fff;
	height:31px;
	overflow:hidden;
}
.sales_con {
	border:1px solid #dcdcdc;
	display:inline-block;
	height:120px;
	overflow:hidden;
	width:680px;
	border-top:none
}
.sales_con div {
	float:left;
	width:135px;
	height:120px;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	cursor:pointer;
	overflow:hidden;
}
.sales_con .sale_lastdiv {
	border-right:0;
}
.sales_con dl {
	border:1px solid #fff;
	padding:9px;
	width:115px;
	overflow:hidden;
	height:100px;
}
.sales_con .dl_hover {
	border:1px solid #ff790d;
}
.sales_con dt img {
	width:115px;
	height:50px;
}
.sales_con dd p {
	line-height:25px;
	height:25px;
	width:115px;
	overflow:hidden;
	text-align:left;
}
/*活动广告*/
#adv1 {
	width:682px;
	height:80px;
	float:left;
	margin:0 0 0 10px;
	position:relative;
	margin-top:10px;
	_margin:0;
	margin-left:10px;
	overflow:hidden;
}
.adv1_pic li {
	float:left;
}
#adv1 .adv1_pic {
	position:absolute;
	top:0;
	left:0;
}
#adv1 .adv1_pic img {
	width:682px;
	height:80px;
	display:block;
}
#adv1 .num_nav {
	position:absolute;
	height:20px;
	top:55px;
	bottom:5px;
	right:0;
	width:50px;
}
#adv1 .num_nav {
	height:20px;
	width:50px;
}
#adv1 .num_nav li {
	width:20px;
	height:20px;
	background:#000;
	float:left;
	margin-right:5px;
	text-align:center;
	color:#fff;
	cursor:pointer;
}
#adv1 .num_nav .on {
	background:#ff6d00;
}
/*积分*/
.jf_reward {
	float:left;
	width:318px;
	border:1px solid #eee;
	border-top:0 none;
}
.jf_reward ul {
	padding:10px 0 10px 10px;
	float:left;
}
.jf_reward ul li {
	width:66px;
	height:66px;
	float:left;
	margin:0 10px 10px 0;
	display:inline;
}
.jf_reward ul li a{float:left;border:1px solid #eee;width:65px;
	height:65px;}
.jf_reward ul li a:hover{border:1px solid #ddd;width:65px;
	height:65px;}
.jf_reward ul li img{width:65px;height:65px;}
.jf_btn {
	float:left;
	padding: 0;
	height:32px;
	overflow:hidden;
	margin-left:22px;
}
.jf_btn a {
	width:92px;
	height:32px;
	float:left;
	display:inline;
	text-indent:-9999em;
}
.jf_earn {
	background:url(../images/jf_btn.gif) no-repeat 0 -32px;
}
.jf_earn:hover {
	background:url(../images/jf_btn.gif) no-repeat 0 0;
}
.jf_exchange:hover {
	background:url(../images/jf_btn.gif) no-repeat 0 -64px;
}
.jf_exchange {
	margin-left:-1px;
	background:url(../images/jf_btn.gif) no-repeat 0 -96px;
}
.jf_query:hover {
	background:url(../images/jf_btn.gif) no-repeat 0 -128px;
}
.jf_query {
	margin-left:-1px;
	background:url(../images/jf_btn.gif) no-repeat 0 -160px;
}
.jf_intro {
	padding:10px;
}
.jf_intro p {
	line-height:20px;
	height:20px;
	font-family:"宋体";
}
.jf_intro p a:link, .jf_intro p a:visited {
	color:#333;
}
/*优惠券*/
.index_yhq {
	float:left;
	margin-left:10px;
	width:648px;
	border:1px solid #eee;
	border-top:0 none;
}
.index_yhq_con {
	padding:10px 0 10px 10px;
}

.index_yhq_con dl {
	float:left;
	border:1px solid #eee;
	width:148px;
	margin:0 9px 9px 0;
	display:inline;
	
}
.index_yhq_con .dl_hover {
	border:1px solid #ff790d;
}
.index_yhq_con dt img {
	width:120px;
	padding:5px 14px;
}
.index_yhq_con dd {
	text-align:center;
	line-height:30px;
	height:30px;
	border-top:1px solid #eee;
        overflow: hidden;
}

.jf_reward h2, .index_yhq h2 {
	background:url(../images/tabs_li_bg.png) repeat-x;
	height:31px;
	line-height:31px;
	font-size:14px;
	color:#ff7200;
}
.jf_reward h2 span, .index_yhq h2 span {
	width:87px;
	display:inline-block;
	color:#fff;
	text-align:center;
	height:31px;
	background:url(../images/tabs_li_selected.png) no-repeat 0 0;
	margin-left:-1px;
}
.jf_reward h2 a, .index_yhq h2 a {
	float:right;
	margin-right:10px;
	font-weight:normal;
	font-size:12px;
	font-family:"宋体";
}
.jf_reward h2 a:link, .index_yhq h2 a:link,.jf_reward h2 a:visited, .index_yhq h2 a:visited{color:#999}
/*合作伙伴*/
.partner_pic h3{background:#f4f4f4;height:30px;line-height:30px;border:1px solid #eee;border-top:2px solid #ff6f00;text-align:center;font-weight:normal;font-siez:12px;border-bottom:0;}
.partner_pic table {
	background:#eee;
}
.partner_pic td {
	background:#fff;
	padding:10px 0;
}
.partner_pic td img {
	/* width:139px; */
}


/*----------------------------前台文章页---------------------*/
#artical {
	width:980px;
	margin:0 auto;
	margin-top:10px;
}
#artical .artical_menu {
	width:220px;
	float:left;
}
.artical_menu h2 {
	height:43px;
	line-height:43px;
	background:#fdfdfd;
	padding-left:20px;
	border:1px solid #f2f2f2;
	border-top:2px solid #fe5b00;
	font-size:14px;
}
.artical_menu h2 span {
	font-size:24px;
}
.artical_menu ul {
	border:1px solid #f2f2f2;
padding-bottom:40px;

}
.artical_menu li {
	height:45px;
	line-height:45px;
	font-size:14px;
	background:#fff;
	border-bottom:1px solid #f2f2f2;
	overflow: hidden;
}
.artical_menu li a {
	color:#666;
	display:block;
	padding-left:20px;
	border-left:2px solid #fff;

}
.artical_menu h2.highlight, .artical_menu .active a, .artical_menu .active a:visited, .artical_menu li a:hover {
	background:#fef4eb url(../images/menu_li_a.jpg) 10px 20px no-repeat;
	color:#ff5a00;
	border-left:2px solid #fe5b00;
	text-decoration:none;
	font-weight:bold;
}
#artical .artical_list {
	width:750px;
	float:left;
	margin-left:10px;
}
.artical_list_con {
	border:1px solid #dcdcdc;
	margin-top:10px;
	border-top:0;
}
.artical_list_con_top {
	border:1px solid #eee;
}
h4 {
	height:45px;
	line-height:45px;
	background:#f9f9f9;
	padding:0 20px;
	font-size:14px;
	border:1px solid #fff;
	border-bottom:2px solid #ff7206;
	color:#666;
}
h4 span {
	float:right;
	font-weight:normal;
	font-size:12px;
}
h4 strong {
}
/*列表搜索*/
.artical_search {
	border:2px solid #dcdcdc;
	margin:20px;
	margin-bottom:10px;
	background:url(../images/artical_search_bg.gif) no-repeat right 0;
	padding:10px;
}
.artical_search select {
	height:26px;
	border:1px solid #dcdcdc;
	float:left;
	width:100px;
}
.artical_search_input {
	width:300px;
	height:26px;
	border:1px solid #dcdcdc;
	float:left;
	margin:0 10px
}
.artical_search_btn {
	width:79px;
	height:28px;
	background:url(../images/artical_search_btn.gif) no-repeat;
	color:#fff;
	cursor:pointer;
	border:0 none;
	float:left;
}
/*列表内容*/
.artical_list_ul {
	margin:0 10px;
}
.artical_list_ul li {
	height:35px;
	line-height:35px;
	border-bottom:1px dotted #dcdcdc;
	padding:0 20px;
	background:url(../images/artical_list_li_bg.gif) no-repeat 5px 15px
}
.artical_list_ul li em {
	float:right;
	font-style:normal;
	color:#999;
}
.artical_list_ul li .red, .artical_list li .red a:link, .artical_list li .red a:visited {
	color:red;
}

/*------------------------注册页面--------------------------*/
#reg_con {
	width:980px;
	margin:0 auto;
	background:#fff;
	padding:20px 0 50px 0;
}
.reg_step ul {
	float:left;
	overflow: hidden;
	width: 978px;
	height:29px;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	background:url(../images/reg_step.gif) repeat-x 0 0;
}
.reg_step li {
	float:left;
	width:215px;
	height:29px;
	line-height:29px;
	font-size:14px;
	text-align:center;
	background:url(../images/reg_step_li.gif) no-repeat right 0;
	padding-right:20px;
}
.reg_step .title {
	width:150px;
	font-weight:bold;
	padding-right:50px;
}
.reg_step .active {
	background:url(../images/reg_step_active.gif) no-repeat;
	font-weight:bold;
	color:#ab4400;
	margin-left:-20px;
}
.siter {
	padding:20px 50px 50px 50px;
	border:1px solid #dcdcdc;
	border-top:0;
}
#reg_con table {
	font-size:14px;
}
#reg_con th {
	text-align:right;
	font-weight:normal;
	color:#333;
}
#reg_con td {
	padding:5px;
}
#reg_con h2 {
	font-size:14px;
	color:#333;
	background:url(../images/reg_h2_bg.gif) no-repeat 0 9px;
	padding-left:18px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #dcdcdc;
	margin:20px 0;
}
.reg_agreement {
	width:768px;
}
.reg_agreement textarea {
	padding:10px;
	width:748px;
	height:200px;
	font-size:12px;
	color:#666;
	line-height:22px;
}
.reg_send_email {
	padding:30px 0 60px 100px;
}
.send_email_info {
	padding-bottom:30px;
	border-bottom:1px dotted #dcdcdc;
	line-height:2.0;
	margin-bottom:10px;
}
.send_email_info p {
	font-size:14px;
	color:#333;
}
.reg_send_email .tip {
	font-family:"微软雅黑";
	font-size:36px;
}
.send_again p {
	line-height:25px;
}

/*按钮*/
.btn2, .btn4 {
	height:28px;
	line-height:28px;
	clear:both;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #ed5900;
	padding:0 20px;
	background:url(../images/btn2.gif) repeat-x;
	font-weight:bold;
	font-size:14px;
}
.btn4 {
	cursor:pointer;
	color:#fff;
}
.btn2:link, .btn2:visited {
	color:#fff
}
.btn2:hover {
	text-decoration:none;
	background:url(../images/btn2.gif) repeat-x 0 -28px;
}
.btn2:active {
	text-decoration:none;
	background:url(../images/btn2.gif) repeat-x 0 -56px;
}
.onShow, .onFocus, .onError, .onCorrect, .onLoad, .onTime {
	background: url(../images/msg_bg.png) no-repeat scroll 0 0 transparent;
	color: #444444;
	display: -moz-inline-stack;
	line-height: 18px;
	margin-left: 10px;
	padding: 2px 10px 2px 23px;
	vertical-align: middle;
}
.onShow {
	background-position: 3px -147px;
	border-color: #40B3FF;
	color: #959595;
}
.onFocus {
	background-position: 3px -147px;
	border-color: #40B3FF;
}
.onError {
	background-position: 3px -47px;
	border-color: #40B3FF;
	color: red;
}
.onCorrect {
	background-position: 3px -247px;
	border-color: #40B3FF;
}
.onLamp {
	background-position: 3px -200px;
}
.onTime {
	background-position: 3px -1356px;
}

/*发送邮件弹出框*/
.sendemial .txsq {
	width:640px;
	height:280px;
	margin-left:-320px!important;
	margin-top:-140px!important;
}
.sendemial .btn {
	text-align:center;
	padding:10px 0;
}
.sendemial .btn img {
	display:inline;
	margin-right:20px;
}

/*---------------------------积分页面--------------------------*/
#jf_main {
	width:980px;
	margin:0 auto;
	margin-top:10px;
}
.jf_left {
	float:left;
	width:750px;
}
.jf_mine {
	width:178px;
	border:1px solid #ff6f00;
	background:#fffef2;
	float:left;
}
.jf_mine_title {
	background:url(../images/jf_mine_title.gif) repeat-x;
	height:29px;
	line-height:29px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	border-bottom:1px solid #ff6f00
}
.jf_mine ul {
	margin:0 20px;
	padding-bottom:20px;
}
.jf_mine ul li {
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ffe4ce;
	font-weight:bold;
}
.jf_mine ul li a {
	background:url(../images/jf_mine_p.gif) no-repeat 10px 18px;
	padding-left:20px;
	display:block;
}
.jf_mine ul li a:hover {
	background:url(../images/jf_mine_p_hover.gif) no-repeat 10px 18px;
}
.jf_check_btn {
	width:158px;
	height:28px;
	line-height:28px;
	background:url(../images/btn_jf_check.gif) no-repeat;
	margin:15px 10px;
	padding-bottom:15px;
	margin-bottom:10px;
	border-bottom:1px dotted #ffaa65;
	text-align:center;
	color:#ff6d01;
	font-weight:bold;
}
.jf_check_btn span {
	background:url(../images/jf_total.gif) no-repeat right 3px;
	margin-right:20px;
	padding:5px 20px 5px 0;
}
.jf_check_btn a:link, .jf_check_btn a:visited {
	color:#ff6d01;
}
.jf_step {
	width:560px;
	margin-left:10px;
	float:left;
}
.jf_right {
	float:left;
	width:220px;
	margin-left:10px;
}
.jf_right_box {
	border:1px solid #dcdcdc;
	width:218px;
	margin-bottom:10px;
}
.jf_right_box h2, .jf_product h2 {
	font-size:14px;
	color:#333;
	border-bottom:1px solid #ffaa65;
	height:28px;
	line-height:28px;
	background:url(../images/jf_h2_bg.gif) repeat-x;
	padding-left:10px;
	margin-bottom:10px;
}
.jf_step_con {
	border:1px solid #dcdcdc;
	margin-top:10px;
}



.step_tabs {
	height:28px;
	line-height:27px;
	margin:1px;
	border-bottom:1px solid #dcdcdc;
	background:#f5f5f5;
}
.step_tabs li {
	float:left;
	padding:0 20px;
	cursor:pointer;
}
.step_tabs .on {
	background:#F60;
	color:#fff;
}
.step_con li {
	display:none;
	padding:10px;
	line-height:20px;
}
.jf_hot_list {
	padding:8px 10px;
}
.jf_hot_list p {
	color:#333;
}
.jf_hot_list dl {
	display:none;
	float:left;
}
.jf_hot_list dt {
	float:left;
	width:70px;
}
.jf_hot_list dd {
	width:118px;
	float:left;
	margin-left:10px;
	line-height:15px;
}
/*积分产品*/

.jf_product h2 {
	border-bottom: 1px solid #FFAA65;
}
.jf_product dl {
	width:146px;
	float:left;
	margin-bottom:10px;
}
.jf_product dl dt {
	width:136px;
	height:88px;
	border:2px solid #dcdcdc;
	overflow:hidden;
}
.jf_product dl dt img {
	width:130px;
	height:82px;
	padding:3px;
}
.jf_product dl dd p {
	line-height:25px;
}
.recharge {
	background:url(../images/jf_recharge_btn.gif) no-repeat;
	color:#fff;
	width:41px;
	height:21px;
	line-height:21px;
	display:inline-block;
	text-align:center;
}
.recharge:link, .recharge:visited {
	color:#fff;
	text-decoration:none;
}
.recharge:hover {
	background:url(../images/jf_recharge_btn.gif) no-repeat 0 -21px;
}
.recharge:active {
	background:url(../images/jf_recharge_btn.gif) no-repeat 0 -42px;
}
.jf_list table {
	margin-left:10px;
}
.jf_list td {
	padding:5px 0;
	color:#333;
}
.jf_list th {
	text-align:left;
	color:#FF6D01;
	font-weight:normal;
}


/*积分确认兑换弹出窗*/
.open_win_qrdh .container {
	width:330px;
	height:160px;
	margin-left:-165px!important;
	margin-top:-80px!important;
}
.text1 {
	color:#333;
	padding-bottom:10px;
}
