.subfoot-wrap{width:100%;margin-top:15px;background:#F6F6F6;}
.subfoot-wrap .main{width:960px;margin:0 auto;position:relative;z-index:100;}
#js_N_nav_footer{padding:28px 0 0;background:#F6F6F6;}
.fixed-sitemap-main{width:960px;margin:0 auto;overflow:hidden;}
.sitemap{margin-left:-12px;}
.sitemap-info,.sitemap-con{float:left;_display:inline;width:150px;height:150px;margin-left:12px;margin-bottom:12px;}

.sitemap-info ul li{color:#999;line-height: 20px;}
.sitemap-logo{float:left;/*width:128px;height:71px;*/overflow:hidden;text-indent:-10em;margin-bottom:25px;background-position:left top;}
.sitemap-con{line-height:25px;background:#E8E8E8;}
.sitemap-con:hover{background:#6CB13A;color:#fff;}
.sitemap-con:hover a{color:#fff;}
.sitemap-con strong{display:block;margin:6px 0 0 12px;}
.sitemap-con strong a{width:auto;margin-left:0;}
.sitemap-con a{display:inline-block;width:52px;margin-left:12px;white-space:nowrap;}

.subfoot{padding-top:15px;}
.subfoot-links{line-height:26px;margin-bottom:20px;}
.subfoot-links ul{}
.subfoot-links ul li{text-align: center;color: #666;font-size: 12px;}

.N-nav-bottom{color:#FFFFFF;background:#6cb13a;}
.N-nav-bottom-main{margin:0 auto;width:960px;height:39px;line-height:39px; text-align: center;}
.N-nav-bottom-main a,.N-nav-bottom-main a:visited,.N-nav-bottom-main a:hover{padding:0 4px;color:#FFFFFF;}
.N-nav-bottom-main a:hover{text-decoration:underline}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.moremap{
	 position: relative;
	 clear: both; height: 25px;
	 text-indent: -9999em;
}
.moremap .close,.moremap .open{ width:93px; height:24px; background:url(../img/foot/web_map_btn.png) no-repeat 50% 100%; display:block; overflow:hidden; position:absolute; text-align:center; cursor:pointer; right:0; top:0;_top:-2px;z-index:2;}
.moremap .close{ background-position:50% 0%;}



