/*html, body {
    height:100%;
    margin:0;
    padding:0;
    height: 100%;
}*/
html,
body {
    height: 100%;
    /*background-color: #EEEEEE;*/
    /*background-color: white;*/
    background-color: #F8FAFB;
}

@media (min-width: 950px) and (max-width: 992px){
    .container {
        width: 950px !important;
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (min-width: 768px) and (max-width: 950px){
    .container {
        width: 750px !important;
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 766px){
    #center_separatorLogin {
        display:none;
    }
}


.wrapperTotal{
    
    margin: 0;
    padding: 0;
    width: 100%;
    
    min-height: 100%;
    margin-bottom: -180px; 
    
}

.wrapperTotal:after {
  content: "";
  display: block;
}

.wrapper_header{
    /*height: 70px;*/
    width: 100%;
    position: relative;
    border-bottom: 2px solid #E8E8E8;
    background-color: white;
    
}

.header{
    min-width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

/*.container-fluid-header {
    padding-left: 30px;
    padding-right: 30px;
}*/

.headerLeft{
    float: left;
    /*width: 300px;*/
    height: 100%;
    
}

.logo{
    width: 260px;
    height: 50px;
    display: block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    margin-top: 10px;
}

.headerRight{
    width: auto;
    float: right;
    height: 100%;
    border-right: 1px solid #E8E8E8;
    
}

.buttonMenu, .buttonMenu:link, .buttonMenu:visited{
    float: right;
    border-left: 1px solid #E8E8E8;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*text-align: center;*/
    font-size: 18px;
    color: #5A5A59;
    font-family: 'Open Sans',arial,verdana,tahoma,sans-serif;
    line-height: 65px;
    font-weight: bold;
    height: 100%;
    cursor: pointer;
    letter-spacing: 1px;
}

.buttonMenu a:hover{
    text-decoration: none;
}

.buttonMenu a{
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #5A5A59;
    
}

.buttonMenu:hover{
    background-color: #E8E8E8;
    text-decoration: none;
}

.buttonMenuUpload{
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    line-height: 65px;
    height: 100%;
}
.buttonMenuUpload .buttonUpload{
    background-image: url('../img/spritebtnupload.png');
    background-repeat: no-repeat;
    width: 128px;
    height:34px;
    display: block;
    margin-top: 15px;
}
.buttonMenuUpload .buttonUpload:hover{
    background-position: 0px -35px;
}


.wrapper_center{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px;
}

.centerTopTitle{
    
    color:#5A5A59;
    font-size: 36px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    /*width: 100%;*/
    font-family: 'Open Sans',arial,verdana,tahoma,sans-serif;
    letter-spacing: 2px;
    
}
.leftTopTitle{
    
    color:#5A5A59;
    font-size: 36px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-family: 'Open Sans',arial,verdana,tahoma,sans-serif;
    letter-spacing: 2px;
    
}
.centerTopSubTitle{
    
    color:#5A5A59;
    font-size: 18px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    /*width: 100%;*/
    font-family: 'Open Sans',arial,verdana,tahoma,sans-serif;
    letter-spacing: 1px;
}
.leftTopSubTitle{
    
    color:#5A5A59;
    font-size: 18px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-family: 'Open Sans',arial,verdana,tahoma,sans-serif;
    letter-spacing: 1px;
}

.centerMiddle{
    max-width:100%;
    text-align: center;
}

.imgWorldServers{
    max-width: 100%;
    margin-top: 30px;
}

.wrapper_SubCenter{
    width: 100%;
    position: relative;
    background-color: #F8FAFB;
    border-top: 2px solid #E2EAF0;
    border-bottom: 2px solid #E2EAF0;
    min-height: 50px;
    margin-top: 30px;
    
}

.groupFeatures .img{
    background-image: url('../img/spritefeat.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 103px;
    margin-left: auto;
    margin-right: auto;
}
.groupFeatures .img.imgOne{
    background-position: 0px 0px;
}
.groupFeatures .img.imgTwo{
    background-position: 0px -112px;
}
.groupFeatures .img.imgThree{
    background-position: 0px -222px;
}

.groupFeatures{
    /*width: 33%;*/
    /*float: left;*/
    margin-top:30px;
    /*margin-bottom: 70px;*/
}

.groupFeatures .title{
    font-size: 18px;
    color: #5A5A59;
    text-align: center;
    margin-top: 10px;
    
}

.groupFeatures .subTitle{
    font-size: 14px;
    color: #5A5A59;
    text-align: center;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.wrapper_footer{
    /*width:100%;*/
    height: 180px;
    background-color: #0B121A;
}

.wrapper_footer, .wrapperTotal:after {
    height: 180px;
}

#footer{

    text-align: center;
    letter-spacing: 1px;
    
}

#footer .link, #footer .link:link, #footer .link:visited, #footer a{
    /*padding-top: 50px;*/
    color:#576573;
    font-size: 18px;
    
}

#footer .copyright{
    /*padding-top: 10px;*/
    color:#576573;
    font-size: 15px;
    
}

.clear{
    clear: both;
}

.clearB15{
    clear: both;
    margin-bottom: 15px;
}
.clearB5{
    clear: both;
    margin-bottom: 5px;
}


.center_leftLogin{
    width:420px;
    float:left;
    margin-top:30px;
}

.center_rightLogin{
    float:right;
    margin-top:30px;
    width: 510px;
}

.center_separatorLogin{
    width: 29px;
/*    float:left;*/
    min-height:335px;
    background-image: url('../img/seplogin.jpg');
    background-repeat: no-repeat;
}

/** {
-webkit-box-sizing: initial;
-moz-box-sizing: initial;
box-sizing: initial; 
}*/

.btn{
    padding-left: 30px;
    padding-right: 30px;
}

.preFooter{
    padding-bottom:180px;
}

.inputInlineLeft{
    margin-right: 0px;
    padding-right: 0px;
}
.inputInlineLeft input, .inputInlineLeft select{
    border-radius: 4px 0px 0px 4px !important;
}
.newInput {
    border-radius: 4px !important;
}
.inputInlineRight{
    margin-left: 0px;
    padding-left: 0px;
}
.inputInlineRight input, .inputInlineRight select{
    border-radius: 0px 4px 4px 0px !important;
}

.iconInInput{
    top:-31px !important;
    left:10px;
}

.inputWithImage{
    padding-left: 30px;
}

input:-webkit-autofill {
    background-color: white !important;
}

.lbox-bg { 
        position: fixed; 
        height: 100%;
        width: 100%;
        background: #000;
        background: rgba(0,0,0,.8);
        z-index: 100;
        display: none;
        top: 0;
        left: 0; 
        }

.lbox {
        visibility: hidden;
        top: 100px; 
        left: 50%;
        margin-left: -300px;
        width: 520px;
        background: #eee;
        position: absolute;
        z-index: 101;
        padding: 30px 30px 30px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
        -box-shadow: 0 0 10px rgba(0,0,0,.4);
        }

.lbox.small 		{ width: 200px; margin-left: -140px;}
.lbox.medium 		{ width: 400px; margin-left: -240px;}
.lbox.large 		{ width: 600px; margin-left: -340px;}
.lbox.xlarge 		{ width: 800px; margin-left: -440px;}

.lbox .close-lbox {
        font-size: 22px;
        line-height: .5;
        position: absolute;
        top: 7px;
        right: 10px;
        color: #aaa;
        text-shadow: 0 -1px 1px rbga(0,0,0,.6);
        font-weight: bold;
        cursor: pointer;
}

.tier{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 15px;
    color: #5A5A59;

}

.min_tier{
    font-size: 20px;
    color:#5A5A59;
}

.dollarTier{    
    font-size: 24px;
    color: #6EC367;
    line-height: 50px;
}

.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
	text-align:left;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
	float:left;
}

#fileQueue{
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	border: 1px solid #cecece;
	overflow: auto;
	height: 170px;
	width: 400px;
}
#progress_div{
    text-align: center;
}
#progress_frame{
    width: 395px;
    height: 200px !important;
    position: relative;
}

/*#over_player_msg {position:absolute;top:50%;width:468px;height:50px;left:50%;margin-left:-230px;margin-top:-40px;z-index:1000;background:#ffffff;border:1px solid #bbb;text-align:center;padding:15px;display:none;}*/
/*#over_player_msg  { display:block; width:400px; margin-left:-200px; height:40px; font-weight:bold; opacity:0.8; border-color:#aaa; border-radius:5px;}*/

#over_player_msg {
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    z-index: 1000;
    text-align: center;
    display: block;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #666666;
    
}

.container_msg {
    background: #F5F5F5;
    border: 1px solid #aaa;
    width: 35%;
    height: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #666666;
    border-radius: 5px;
    position: relative;
}

.container_msg .glyphicons {
    color: #C77A46;
    font-size: 28px;
    line-height: initial;
    display: inline-block;
}

#vplayer_wrapper{
    /*box-shadow: 0px 0px 20px black;*/
    width: auto !important;
}

.newBoxContent {
    background: #fff;
    box-shadow: 0 1px 2px #999999;
    padding: 15px;
    margin-bottom: 15px;
}
.newBoxContent .title {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #444444;
}

.link-button-video {
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    margin-right: 15px;
}

.link-button-video:hover, link-button-video:link, link-button-video:visited, link-button-video:focus {
    text-decoration: none;
}

.jwplayer.playlist-none #vplayer_controlbar{
    display: block;
    opacity: 1;
}

.jwplayer.playlist-none {
    width: auto !important;
}

.link-button-video .glyphicons {
    font-size: 20px;
    top: 5px;
    padding-right: 5px;
    
}

.link-button-video .text {
    font-size: 14px;
}

.newBoxContent textarea {
     width: 100%;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #555555;
    border: 1px solid #e3e3e3;
    padding: 10px;   
}

.newBoxContent .subTitle {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #555555;
}

.icon-embed {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.spanLine {
    position: relative;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
}
/*new style*/
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 50px;
}
#footer {
  /*background-color: white;*/
  background-color: #0B121A;
  color: #D3D3D3;
  border-top: 2px solid #E4E4E4;
}

#footer .content-footer{
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    line-height: 50px;
    font-size: 14px;
    color: #666666;
    text-align: left;
}

.content-footer ul a {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    font-size: 14px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    line-height: 50px;
}

@media (max-width: 767px) {
    
    .container_msg .text-left {
        text-align: center !important;
    }
    .container_msg {
        width: 80% !important;
    }
    #over_player_msg {
        top: 13% !important;
    }
    
  #footer {
/*    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;*/
  }
  
  .nav-bar-mobile {
      display: none;
  }
  
    .link-menu-lang-desc, .link-menu-lang-desc2, .link-menu-makemoney {
        display: inline !important;
    }
    .link-menu-upload-desc, .link-menu-upload-desc2, .link-menu-dmca {
        display: inline !important;
    }
    
     .upload-button span {
        margin-right: 5px !important;
    }
    .nav-bar-footer {
        text-align: center;
    }
  
}
@media (min-width: 767px) and (max-width: 870px) { 
    .link-menu-lang-desc {
        display: none !important;
    }
    .link-menu-upload-desc {
        display: none !important;
    }
    .upload-button span {
        margin-right: 0px !important;
    }
    
}

@media (min-width: 767px) and (max-width: 940px) { 
    .link-menu-upload-desc2 {
        display: none !important;
    }    
    .link-menu-lang-desc2 {
        display: none !important;
    }
}

@media (min-width: 767px) and (max-width: 1105px) {
    .link-menu-makemoney {
        display: none !important;
    }
}

@media (min-width: 767px) and (max-width: 1230px) {
    .link-menu-dmca {
        display: none !important;
    }
}

@media (min-width: 767px) and (max-width: 992px) { 
    .container_msg {
        width: 60% !important;
    }
    
}

@media (max-width: 1030px) { 
    .link-menu-signup {
        display: none !important;
    }
    
}

@media (min-width: 768px) { 
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px !important;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 7px;
    }
    .nav-bar-mobile {
        display: block !important;
    }

}


.top-header {
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E4E4E4;
    
}

.bottom-header .navbar li{
    float: none;
    background-color: transparent !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.bottom-header .navbar{
    min-height: 10px;
    margin-bottom: 0px;
    width: 100%;
    background-color: transparent;
}

.bottom-header .navbar a:hover {
    color: black;
}

.bottom-header .navbar a {
    color: white;
}

.bottom-header {
    background-color: #70BBF9;
}
.link-logo {
    display: block;
}

.upload-button, .upload-button:link, .upload-button:visited {
    font-size: 19px;
    color: white;
    background: #bf2d20; /* Old browsers */
    background: -moz-linear-gradient(top,  #bf2d20 0%, #af1d1d 22%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf2d20), color-stop(22%,#af1d1d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bf2d20 0%,#af1d1d 22%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bf2d20 0%,#af1d1d 22%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bf2d20 0%,#af1d1d 22%); /* IE10+ */
    background: linear-gradient(to bottom,  #bf2d20 0%,#af1d1d 22%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2d20', endColorstr='#af1d1d',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    /*margin-top:5px;*/
}

.upload-button span{
    margin-right: 5px;
}

.upload-button:hover{
    background: #af1d1d; /* Old browsers */
    background: -moz-linear-gradient(top,  #af1d1d 1%, #d12323 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#af1d1d), color-stop(20%,#d12323)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #af1d1d 1%,#d12323 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #af1d1d 1%,#d12323 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #af1d1d 1%,#d12323 20%); /* IE10+ */
    background: linear-gradient(to bottom,  #af1d1d 1%,#d12323 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af1d1d', endColorstr='#d12323',GradientType=0 ); /* IE6-9 */

    color: white;
    text-decoration: none;
}

.link-menu, .link-menu:link, .link-menu:visited, .link-menu:active {
    font-size: 18px;
    color: #666666;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    background-color: transparent !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
}

.link-menu:hover, .link-menu:focus {
    color: #666666;
    box-shadow: 0px -1px 0px 0px #af1d1d inset;
    text-decoration: none;
    background-color: transparent !important;
}

.flag-margin {
    margin-right: 5px;
}

.title-home {
    color: #5A5A59;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
}

.image-world {
    margin-left:auto;
    margin-right:auto;
}

.home-features-container {
    background-color: #F8FAFB;
    border-top: 2px solid #E2EAF0;
    /*border-bottom: 2px solid #E2EAF0;*/
    padding-bottom:30px;
}

.button-hamburger-top {
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    font-size: 18px;
}

.nav-bar-footer{
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid-player {
    margin-right: -15px;
    margin-left: -15px;
    background-color: black;
    margin-top: -20px;
}
.title-top {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
}

.subTitleTop {
    margin-top: 0px;
}

.mtop15 {
    margin-top: 15px;
}

.code-print div {
    width: 100% !important;
    height: 45px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 21px !important;
    background-color: #f3f3f3 !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif !important;
}

.box-title-video {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -20px;
    text-align: center;
    border-bottom: 2px solid #E4E4E4;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', arial, verdana, tahoma, sans-serif;
    color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-container-video {
    border: 3px solid #dddddd;
    position: relative;
}
.container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.fa-spin-custom, .glyphicons-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
