﻿/* ********************************************************
GENERAL
******************************************************** */
body {
 	font-size: 18px;
 	min-height: 100%;
}

html {
	min-height: 100%;	
}

.InputHeight {
	height: 30px;
}

.help-text {
	color: #666;
}

.WordWrap { 
   word-wrap: break-word;      /* IE */ 
}

.DarkLink {
	color: #0407A6;
}
.DarkLink:hover {
	color: #410589;
}

.ThinLine {
	height: 1px;
	background-color:#999;	
}

.ThinLine2 {
	height: 10px;
	background-color:#999;	
}

.ThinLine3 {
	height: 1px;
	background-color:#A6A3A3;	
	width: 90%;
}

.off-canvas-wrapper {
	background-color: #66cc33;
}

.SmallText {
	font-size: 0.75em;
	color: #333333;
}

.SmallTextWhite {
	font-size: 0.75em;
	color: #FFFFFF;
}

.SmallerText {
	font-size: 0.65em;
	color: #333333;
}

.SmallerText span {
	font-weight: bold;
}

.SmallTextStrike {
	font-size: 0.75em;
	color: #333333;
	text-decoration: line-through;
}

.SmallTableHeaders {
	font-size: 0.75em;
	font-weight: bold;	
}

.SmallCoupons {
	font-size: 0.75em;
	color: #666666;
}

.SmallCoupons:hover {
	color: #333333;
	text-decoration:underline;
}

.StoreName {
	font-size: 0.75em;
	font-weight: bold;
}

.StoreName2 {
	font-size: 0.75em;
	font-weight: bold;
	color: #009;
}


.StoreName:hover {
	text-decoration:underline;
}


.MediumText {
	font-size: 0.85em;
	color: #000000;
}

.NoResize {
	max-width: none;	
}

.GoldBox {
	vertical-align: middle;
	background-color: #FBD803;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.OrangeBox {
	vertical-align: middle;
	background-color: #FF6600;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.RedBox {
	vertical-align: middle;
	background-color: #C80000;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.GreenBox2 {
	vertical-align: middle;
	background-color: #66cc33;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.WhiteBox2 {
	vertical-align: middle;
	background-color: #BFBFBF;
	color: #CCC;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.WhiteBox3 {
	vertical-align: middle;
	background-color: #FFFFFF;
	color: #090;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.GreenBox3 {
	vertical-align: middle;
	background-color: #090;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}


.GrayBox2 {
	vertical-align: middle;
	background-color: #9A9A9A;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.GrayBox3 {
	vertical-align: middle;
	background-color: #EEE;
	color: #FFFFFF;	
	padding-top: 10px;
	padding-bottom: 5px;
}

.MainSection {
	background-color: #e1e0e0;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.BadgeLettering {
	color: #FFFFFF;
	background-color: #009900;
	font-size: 1.00em;
}

.BadgeLettering a {
	color: #FFFFFF;
}

.BadgeLettering:hover {
	color: #F8C206;
	text-decoration:none;
}

.BadgeLetteringX {
	background-color:#009900; 
	font-size: 1.00em;
	font-weight:bold;
	color: #F8C206;
}

.BadgeLetteringX:hover {
	background-color:#009900; 
	font-size: 1.00em;
	font-weight:bold;
	color: #F8C206;
	text-decoration:none;
}

.GrayCategory {
	font-size: 0.9em;
	color: #666;
	
}

.GrayCategory:hover {
	text-decoration: underline;	
}

.GrayCallout {
	margin-top: 30px;
	width: 270px;
	padding: 10px 20px 10px 20px;
	border-color: #999;
		
}

.GraySkyscraperAllStoresCallout {
	margin-top: 170px;
	width: 200px;
	padding: 10px 20px 10px 20px;
	border: 0px;
		
}

.GraySkyscraperCategoryCallout {
	margin-top: 80px;
	width: 200px;
	padding: 10px 20px 10px 20px;
	border: 0px;
		
}

.SmallGrayBox {
	background-color: #CCC; 
	border:1px solid #999;
}

.CodeText {
	font-family: Courier, "Courier-New", monospace;
	font-size: 0.75em;
	background-color: #e9e9e9;
	border: solid thin #bfbfbf;
	padding: 2px 8px 2px 8px;
	color: #009;	
}

#back-top {
 }
 
 .Heavy {
	 font-weight: bold;
 }

/* ********************************************************
ACCOUNT PAGE
******************************************************** */
.Account {
	background-color: #e1e0e0;
	padding-top: 20px;
	padding-bottom: 30px;		
}

/* ********************************************************
AMAZON PAGE
******************************************************** */
.AmazonRightRail {
			
}


/* ********************************************************
NAV - MOBILE
******************************************************** */

.title-bar {
	background-color: #FFFFFF;
}

.title-bar-above {
	background-color: #66cc33;
	height: 15px;
}

.title-bar-title {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	font-size: 1.75em;	
}

#Mobile-Menu {
	background-color: #66cc33;
	padding: 10px;	
}

#Mobile-Menu li {
	list-style: none;
}

#Mobile-Menu a {
	list-style: none;
	color: black;
	font-size:14px;
}

#Mobile-Menu a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
/****
.menu-icon {
	background-color: #666666;
	height: 21px;
	}
	***/
	
.SearchSmall {
	height: 60px;
	padding-top:10px;
	background-color:#66cc33;
}

/* ********************************************************
NAV - DESKTOP
******************************************************** */
.StoresDropdown {
	width: 220px;
}

.top-bar {
	
	}
	
.top-bar-left {
	padding-top: 0;
	
	}
	
.nav-desktop {
	background-color: #66cc33;
	height: 40px;
	padding: 0;
	
}

.logo {
	position: absolute;
}

.nav-desktop .menu-desktop {
	background-color: transparent;	
	height: 40px;
	margin-left: 150px;
}


.menu > li:not(.menu-text) > a {
	font-family: 'Cabin', Verdana, sans-serif;
	display: inline-block;	
	line-height: 32px;
	padding-top: 0;
	padding-bottom: 0;
	color: #000000;
	font-size: 0.8em;
	height: 32px;
	}
	
.is-dropdown-submenu-parent {
	height: 40px;	
}
	
.top-bar a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

  .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}
.submenu a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	width: inherit;
}

.search-bar {
	margin-left: 166px;	
	margin-top: 20px;
	height: 60px;
	display: inline-block;
	vertical-align:middle;
}

.search-box {
	width: 300px;	
}

.search-box-container {
	
}

.search-button {
	background-color: #090;	
	border-radius: 5px;
	font-family: 'Cabin', Verdana, sans-serif;
	font-weight: bold;
	}

.interstitial-button {
	background-color: #090;	
	border-radius: 5px;
	font-family: 'Cabin', Verdana, sans-serif;
	font-weight: bold;
	}

.interstitial-button:hover {
	background-color: #090;	
	cursor: default;
	}

.logout-button {
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	margin-left: 3px;
	vertical-align: inherit;
	font-weight: bold;
	}
	
.join-button {
	background-color: #FFCC00;
	color: #000000;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 6px;
	padding: 8px;
	line-height: 10px;
}

.top-bar a {
	color: #000000;
}
		
.login-info {
	font-family: 'Cabin', Verdana, Sans-serif;
	font-size: 0.9em;
	color: #000099;
	height: 40px;
}

.login-info span {
	font-weight: bold;
}


/* ********************************************************
NEW STORES
******************************************************** */
.NewStoresSection {
	background-color: #999999;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.NewStores {
	padding: 4px;
}

/* ********************************************************
250 AD HOMEPAGE
******************************************************** */

.SquareAd {
	padding-left: 9px; 
	padding-right: 9px; 
	padding-top: 0px; 
	padding-bottom: 0px;
}


/* ********************************************************
FAVORITE STORES
******************************************************** */
.FavoriteStores {
	
}

.FavLogo {
	padding: 11px;	
}

/* ********************************************************
STORE OF THE WEEK
******************************************************** */
.SOW_Logo {
	font-size: 1.5em;
	text-decoration:underline;	
}

.SOW {
	padding-left: 0px;
	padding-right: 0px;	
}

/* ********************************************************
3UP SECTION
******************************************************** */

.ThreeUpSection {
	background-color: #e1e0e0;
	padding-bottom: 20px;
}

.FourUp {
	padding: 9px;
	font-family: 'Cabin', Verdana, sans-serif;
}

.ThreeUpHeaders {
	font-family: 'Baloo Paaji', Verdana; 
	font-size:1.5em; 
	color: rgba(0, 0, 0, 0.5);	
}

.ThreeUpHeaders2 {
	font-family: 'Baloo Paaji', Verdana; 
	font-size:1.5em; 
	color: #090;	
}

.ThreeUpHeaders3 {
	font-family: 'Baloo Paaji', Verdana; 
	font-size:1.25em; 
	color: #090;	
}

.DarkBoxOutline {
		border: 1px solid #999;	
}

.GreenBox {
	background-color:#66cc33;
	padding: 10px;
	height: 50px;
	font-family: 'Cabin', Verdana, sans-serif;
	font-size:1.25em;
	
}

.Refer {
	
}

/* ********************************************************
WEEKLY DEALS
******************************************************** */
.ShopNowBtn {
	border-radius: 5px;
	background-color: #FFCC00;
	color: #000000;
	font-weight:bold;
	margin-top: 5px;
}

.ShopNowBtn:hover,
.ShopNowBtn:focus {
		background-color: #090;
}

.ShopNowBtnSmall {
	border-radius: 5px;
	width: 80px;
	background-color: #FFCC00;
	color: #000000;
	font-weight:bold;
	height: 20px;
	font-size: 0.6em;
	padding: 4px;
	font-family: 'Cabin', Verdana, sans-serif;
}

.ShopNowBtnSmall:hover,
.ShopNowBtnSmall :focus {
		background-color: #090;
}

.WeeklyDealsSection {
	background-color: #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.WeeklyDealsSection2 {
	background-color: #9a9a9a;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.WeeklyDealsTitle {
	padding-bottom:0px;
}

.WeeklyDealsTitle2 {
	font-size: 1.15em;	
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	color: #000099;
	line-height: 1em;
}

.WeeklyDealsSub {
	font-size: 0.8em;	
	line-height: 0.8em;
	font-family: 'Cabin', Verdana;
	color: #666666;
}

.WeeklyDeals {
	padding: 4px;
}

.WeeklyDealsTop {
	padding-top:4px;
	padding-left: 4px;
	padding-right: 4px;
}

.WeeklyDealsBottom {
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}

.block-with-text {
	font-size: 0.75em;
	font-family:Verdana, Geneva, sans-serif;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.4em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

/* ********************************************************
HERO
******************************************************** */
.promo {
	width: 100%; 
	height: 270px; 
	background-image: url('http://img.mrrebates.com/basics/mr-early-l_back.png'); 
	background-repeat: repeat; 
	background-size:contain; 
	background-position:center;
}

.promo-join-now {
	width: 100%; 
	height: 270px; 
	background-image: url('http://img.mrrebates.com/basics/mrjoinnow_back.png'); 
	background-repeat: repeat; 
	background-size:contain; 
	background-position:center;
}

.3-steps-hero {
	width: 100%; 
	height: 270px; 
}

.hero {
	background-color: #e1e0e0;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.JoinNow {
	padding: 20px;
	background-color:#FFF;
	height: 300px;
	border: #999; 
}

.AmazonCat {
	padding: 20px;
	background-color:#FFF;
	height: 300px;
}

.boxy {
	background:#FFF;
	padding: 10px;
	border: 1px solid #666666;
}

.boxyTop {
	background:#FFF;
	padding: 10px;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-top: 1px solid #666666;
}

.boxyBottom {
	background:#FFF;
	padding: 10px;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.WhiteBox {
	background:#FFF;
	padding: 10px;
	font-family: 'Cabin', Verdana, sans-serif;
	font-size: 0.75em;
}

/* ********************************************************
ROTATING AD
******************************************************** */

.MainAd {
	padding: 0px;
	background-color: #fffbd3;

}

.MainAd2 {
	padding: 0px;
	background-color: #ffcc9a;

}

.orbit-bullets {
	margin-top: 5px;
	margin-bottom: 5px;
}

.orbit-container {
	height: 250px;
 }

.BigPromo {
}

.MedPromo {
}

.SmallPromo {
	
}



/* ********************************************************
GENERAL
******************************************************** */
a {
	color: #009;	
}

a:hover {
	color: #009;
	text-decoration: underline;	
}

.wrap {
	width: 90%;	
	margin: 0 auto;
	max-width: 1300px;
}

.wrap-coupons {
	width: 90%;	
	margin: 0 auto;
	max-width: 1200px;
}

h2 {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	font-size: 1.5em;
	color: #090;	
}

h3 {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	color: #666666;
	font-size: 1.4em;
}

h4 {
	font-family:'Cabin', sans-serif;
	font-size: 1.9em;
	font-weight: bold;
	color: #000000;	
}

.Testh4 {
	font-family:'Baloo Paaji', sans-serif;
	font-size: 2em;
	color: rgba(0, 0, 0, 0.6);
}

h5 {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	font-size: 2em;
	color: #090;	
}

h6 {
	font-family: 'Cabin', Verdana, Geneva, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #090;	
}

h7 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.75em;	
}

h8 {
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #333;	
}

h9 {
	font-family: 'Baloo Paaji', sans-serif;
	font-size: 2em;
	color: rgba(0, 0, 0, 0.4);
}

h10 {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	color: #666666;
	font-size: 1.2em;
}

.GrayText {
	color: #333333;
}

.BlueText {
	color: #009;
}

.BlueTextUnderline {
	color: #009;
	text-decoration:underline;
}

.CashBackSmall {
	font-family: 'Cabin', Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #cc3333;	
}	

.CashBackSmaller {
	font-family: 'Cabin', Verdana, Geneva, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	color: #cc3333;	
}

.FeaturedStore {
	font-family: 'Cabin', Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding-top: 5px;
}

.StrikeSmall {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.75em;
	text-decoration:line-through;
	line-height: 10px;
	color: #333;
}

.WhiteBox {
	background-color: #FFF;
	border: 1px solid #999;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Orange {
	color: #F90;	
}

.Green {
	color: #090;	
}

.Odd {
	background-color:#EEE;
}

.Shadow {
-moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
-webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.Shadow2 {
	font-family: 'Cabin', Verdana, sans-serif;
-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
background-color: #FFFFFF;
padding: 10px;
border-radius: 3px;
}

.FormBackground {
	font-family: 'Cabin', Verdana, sans-serif;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
	background-color: #FFFFFF;
	padding: 30px;
	margin-top: 20px;
	border-radius: 3px;
}

.Shadow2NoPad {
-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
background-color: #FFFFFF;
border-radius: 3px;
}

.Shadow3 {
-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.5);
background-color: #FFFFFF;
border-radius: 3px;
font-family: 'Cabin', Verdana, sans-serif;
}

.GrayBox {
	background-color: #FFFFFF;	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #666;
	border: 1px solid #666666;
}

.ShadowReverse {
box-shadow: 0px 18px 10px 1px rgba(0,0,0,0.75);
}

.accordion-title {
	font-size: 1em;
	font-family: 'Cabin', Verdana, sans-serif;
}

a .accordion-title:active {
	color:#009;
}

.Black {
	color: #000;
}


/* ********************************************************
STORE PAGES
******************************************************** */
.StarIcon {
	color: #CCC;
}

.StarIcon:hover {
	color: #FFCC00;
}

.StoreNameBig {
	font-size: 2em;
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	color: #090;
	line-height: 24px;
	text-decoration: underline;
}

.StoreNameBig:hover {
	color: #090;
	opacity: 0.7;
}

.StoreNameBig:visited {
	color: #090;
}


.CouponTitle2 {
	color: #33c;
	font-size: 1em;
	font-weight: bold;
}

.CouponTitleBig {
	color: #009;
	font-size: 1.25em;
	font-weight: bold;
}

.CouponTitle2:hover {
	color: #33c;
	text-decoration: underline;
}

.CouponTitle {
	color: #009;
	font-size: 1em;
	font-weight: bold;
}

.CouponTitle:hover {
	color: #009;
	text-decoration: underline;
}

.CouponCode {
	font-size: 0.75em;
	color: #666;	
}

.CouponCode span {
	font-weight: bold;
}

.Restrictions {
	font-size: 0.65em;
	color: #666666;
}

.Restrictions a {
	color: #666666;
	text-decoration: underline;
}



/* ********************************************************
FOOTER
******************************************************** */

footer {
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: #FFF;
	
}

footer hr {
	border-bottom: 1px solid;
	border-color: rgba(0,0,0,0.2);	
	margin: 5px 0;
}

footer a {
	font-family: 'Cabin', Verdana;
	display: block;	
	color: rgba(0,0,0,0.7);
	font-size: 0.9em;
}

footer a:hover {
	color: rgba(0,0,0,0.4);
}

.EnjoySavings {
	font-family: 'Baloo Paaji', Verdana, sans-serif;
	color: rgba(0,0,0,0.3);
	font-size: 1.4em;
	padding-left:15px;	
	padding-top: 5px;
	font-style:italic;
}

.Follow {
	font-family: 'Cabin', Verdana;
	color: rgba(0,0,0,0.5);
	font-size: 0.8em;
	padding-left: 15px;
	padding-top: 10px;
}

.Terms {
	font-family: 'Cabin', Verdana;
	font-size: 0.75em;
	color: rgba(0,0,0,0.5);
	padding-left: 15px;
	padding-top: 10px;
}

.Terms a {
	display: inline;
	color: rgba(0,0,0,0.5);
}

.Terms a:hover {
	color: rgba(0,0,0,0.75);
}

/* ********************************************************
MEDIA QUERY
******************************************************** */

@media (min-width: 703px) {
	.mobile-bar {
		display: none;
	}
	
}

@media (max-width: 1024px) {
	.SOW {
		display: none;
	}
}

@media (max-width: 703px) {
	.search-box-container {
		display: none;
	}
	
}

@media (max-width: 703px) {
	.nav-desktop {
		display: none;
	}
	
}
	
@media (max-width: 732px) {
	.SquareAd {
		display: none;
	}	
}

@media (max-width: 765px) {
	.login-info {
		display: none;
	}	
}

@media (max-width: 1000px) {
	.FavoriteStores {
		display: none;
	}
}

@media (max-width: 639px) {
div.awesomplete > input {		
	width: 260px;
	}
}

@media (max-width: 1023px) {
	.Refer {
		display: none;
	}
}

@media (max-width: 1023px) {
	.AmazonRightRail {
		display: none;
	}
}


@media only screen and (max-width: 1070px) { 
	.TestLettersL {
		display: none;
		}
}

@media only screen and (min-width: 1070px) { 
	.TestLettersM {
		display: none;
		}
}

@media (min-width: 1354px) {
	.SmallPromo {
		display:none;
	}
	.MedPromo {
		display:none;
	}
}

@media (min-width: 1366px) {
	.BadgeLettering {
		font-size: 1.05em;
		padding-left: 4px;
		padding-right: 4px;
	}
	.BadgeLetteringX {
		font-size: 1.05em;
		padding-left: 4px;
		padding-right: 4px;
	}
	.BadgeLetteringX:hover {
		font-size: 1.05em;
		padding-left: 4px;
		padding-right: 4px;
	}
}

@media (min-width: 1210px) and (max-width: 1365px) {
	.BadgeLettering {
		font-size: 1.05em;
		padding-left: 2px;
		padding-right: 2px;
	}
	.BadgeLetteringX {
		font-size: 1.05em;
		padding-left: 2px;
		padding-right: 2px;
	}
	.BadgeLetteringX:hover {
		font-size: 1.05em;
		padding-left: 2px;
		padding-right: 2px;
	}
}

@media (max-width: 414px) {
	.BadgeLettering {
		font-size: 0.95em;
	}
	.BadgeLetteringX {
		font-size: 0.95em;
	}
	.BadgeLetteringX:hover {
		font-size: 0.95em;
	}
}


@media (min-width: 1023px) and (max-width: 1353px) {
	.promo {
		background-image: url('http://img.mrrebates.com/basics/mr-early-m_back.png'); 
	}
	.promo-join-now {
		background-image: url('http://img.mrrebates.com/basics/mrjoinnow_back_m.png'); 
	}
	.BigPromo {
		display:none;
	}
	.SmallPromo {
		display:none;
	}
}

@media (max-width: 1022px) {
	.promo {
		background-image: url('http://img.mrrebates.com/basics/mr-early-s_back.png'); 
	}
	.promo-join-now {
		background-image: url('http://img.mrrebates.com/basics/mrjoinnow_back_s.png'); 
	}
	.BigPromo {
		display: none;
	}
	.MedPromo {
		display:none;
	}
}


