﻿/**
 * Custom
 */
 .ac {
    position: relative;
    margin-top: 0px;
}
 
.ac input {
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    height: 40px;
    font-size: 20px;
    padding: 0 12px;
    border: 1;
}

.ac input:focus {
    outline: 0;
}

/**
 * Autocompleter styles
 */

.autocompleter {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
}

.autocompleter,
.autocompleter-hint {
    position: absolute;
}

.autocompleter-list {
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.autocompleter-item-selected {
    background: #E0E0E0;
}

.autocompleter-item {
    padding: 6px 12px;
    color: #444444;
    font-size: 20px;
    cursor: pointer;
}

.autocompleter-item:hover {
    background: #dbed8a;
}

.autocompleter-item strong {
    text-shadow: 0 1px 0 #ffffff;
}

.autocompleter-item span {
    color: #bbbbbb;
}

.autocompleter-hint {
    color: #ccc;
    text-align: left;
    top: -56px;
    font-weight: 400;
    left: 0;
    width: 100%;
    padding: 12px 12px 12px 13px;
    font-size: 24px;
    display: none;
}

.autocompleter-hint span {
    color: transparent;
}

.autocompleter-hint-show {
    display: block;
}

.autocompleter-closed {
    display: none;
}
