@font-face {
  font-family: 'Baloo Paaji';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Paaji'), local('BalooPaaji-Regular'), url(https://fonts.gstatic.com/s/baloopaaji/v1/zcOxsgjL4TWgCkkTN4pnQZ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
