﻿@charset "utf-8";
@import url("reset.css");
body{background:#E9E9E9;color:#666;font-family:Arial;font-size:12px;padding-top: 50px;}
a{color: #3399CC;outline:none;text-decoration:none;}
a:hover{text-decoration:none;color: #000033;background-color:#CCCCCC;}
h3{color:#333;font-size:14px;font-weight:bold;height:35px;line-height:35px;}
.space,.sp{margin-top:10px;}
.left{float:left;}
.right{float:right;}
.cent{text-align:center;}
.ohide{overflow:hidden;width:100%;}
textarea{line-height:175%; font-size:12px;}
textarea, input.t, select {background-color:#fafafa;border:1px solid #CCC;border-color:#999 #CCC #CCC #999;color:#333;padding:2px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{background-color:white;border:1px solid #63B8FF;text-decoration:none}
input.file{*height:22px; *padding:3px;}
form tr:hover em{color:#005EAC;}
form tr:hover{background:#FFFDD9;}
.border{border:1px solid #A9CCEE;}
.caption{height:35px;padding:0 10px;}
.bottom{clear:both;height:9px;overflow:hidden;}
/*--自定义视频内容页--*/

#circle {
	border-radius: 50%;
	width: 18px;
	height: 18px; 
background: #FF0066;
text-align:center;
font-size:12px;
color: #FFFFFF;
float:right;  /* 定位到右上 */
z-index:100;
right:30;
top:-40;
}

.leftPL{width:600px; float:left;}
#jieshao {white-space:nowrap;}
.tabdiv{
margin-top:10px;
position:relative;
padding-top:16px;
height:526px;
}
.pl_l{width:720px; float:left;}
.pl_r{width:248px; float:left;	margin-left: 12px;}
.pl_r a:hover {
	color: #0099CC;
	text-decoration: none;
}
	.tabdiv .tabdivul {
		height:26px;
		overflow:hidden;
		position:absolute;
		top:1px;
	}
	.tabdiv .tabdivul div{
	   width:110px;
	   background-repeat:no-repeat;
	   text-align:center;
	   line-height:26px;
	   height:26px;
	   padding-top:2px;
	   margin-right:3px;
	   color:#000;
	   float:left;
	   display:inline;
	   margin-right:5px;
	   cursor:pointer;
	}
	.tabdiv ul.tabul{
		padding:0px 0px 15px 10px;
		height: 490px;
	}
	.tabdiv ul.tabul li{
		float:left;
		width:240px;
		height:82px;
		overflow:hidden;
		margin-top:15px;
	}
	.tabdiv ul.tabul li a.img{
		border:3px solid #ccc;
		display:block;
		height:75px;
		width:100px;
	}
	.tabdiv ul.tabul li a.img:hover{
		border:#202020 3px solid;
	}
	.tabdiv ul.tabul li a.title,.tabdiv ul.tabul li p{
		width:129px;
		height:53px;
		line-height:53px;
		overflow:hidden;
		margin-left:5px;
		color:#666
	}
	.tabdiv ul.tabul li p a {
		text-decoration:none
	}
	.tabdiv ul.tabul li a.title{
		height:35px;
		line-height:20px;
		overflow:hidden;
		font-weight:bold;
		text-decoration:none;
	}
	.tabdiv ul.tabul li a.title:hover{
		color: #0099ff;
		text-decoration:none;
	}
	.tabdiv #tjalrum {
		height:125px;
		overflow:hidden
	}
	
	.tabdiv2{
margin-top:10px;
position:relative;
padding-top:6px;
height:105px;
}
	.tabdiv2 .tabdiv2ul {
		height:26px;
		overflow:hidden;
		position:absolute;
		top:1px;
	}
	.tabdiv2 .tabdiv2ul div{
	   width:110px;
	   background-repeat:no-repeat;
	   text-align:center;
	   line-height:26px;
	   height:26px;
	   padding-top:2px;
	   margin-right:3px;
	   color:#000;
	   float:left;
	   display:inline;
	   margin-right:5px;
	   cursor:pointer;
	}
	.tabdiv2 ul.tabul2{
		padding:0px 0px 15px 10px;
		height: 96px;
	}
	.tabdiv2 ul.tabul2 li{
		float:left;
		width:240px;
		height:82px;
		overflow:hidden;
		margin-top:15px;
	}
	.tabdiv2 ul.tabul2 li a.img{
		border:3px solid #ccc;
		display:block;
		height:75px;
		width:100px;
	}
	.tabdiv2 ul.tabul2 li a.img:hover{
		border:#202020 3px solid;
	}
	.tabdiv2 ul.tabul2 li a.title,.tabdiv2 ul.tabul2 li p{
		width:129px;
		height:16px;
		line-height:16px;
		overflow:hidden;
		margin-left:5px;
		color:#666
	}
	.tabdiv2 ul.tabul2 li p a {
		text-decoration:none
	}
	.tabdiv2 ul.tabul2 li a.title{
		height:35px;
		line-height:20px;
		overflow:hidden;
		font-weight:bold;
		text-decoration:none;
	}
	.tabdiv2 ul.tabul2 li a.title:hover{
		color: #0099ff;
		text-decoration:none;
	}
	.tabdiv2 #tjalrum {
		height:125px;
		overflow:hidden
	}
	
	#tjalrum ul {
		height:110px;
		overflow:hidden
	}
	#tjalrum ul li{
		width:120px;
		height:100px;
		overflow:hidden
	}
	#tjalrum ul li a{
		display:block;
		width:100px;
		margin:auto;
		text-align:center
	}
/*----------视频截图格式-----------*/
.pic,.pic img,.pics,.pics img{height:75px;}
.pic_r{height:56px;}
.pic{border:1px solid #d8d8d8;display:block;width:120px; margin-bottom:5px;padding:4px;overflow:hidden;}
.pic:hover{border:1px solid #999;}
.pic img{display:block;width:120px;overflow:hidden;}
.pics{background:url(../images/spl_bg.gif) right 0 no-repeat;display:block;width:120px;margin-bottom:5px;padding:6px 6px 0 0;}
.pics img{width:120px;}
.pic_r{border:1px solid #ccc;display:block;float:left;width:90px;margin:0 5px 5px 0;overflow:hidden;}
.pic_r img{display:block;width:90px;overflow:hidden;}
/*---------------分页样式-----------------*/
#multi_page{clear:both;margin-top:15px;text-align:center;height:26px;line-height:26px;color:black;width:100%;overflow:hidden;font-size:12px;display:block; }
	#multi_page a,#multi_page span{margin:0 0 0 3px}
	#multi_page input{border:1px solid #ccc; height:12px; line-height:12px; width:20px; padding:1px 0 4px 0; background:#f6f6f6; margin-right:4px;}
	#multi_page a{color:#1787d9;border:1px solid #d8d8d8; padding:0 5px; height:20px; _padding-top:2px; _vertical-align:middle; text-decoration:none;}
	#multi_page a:hover{background:#f6f6f6;color:#333;}
/*-----------------布局-------------------*/
.wrap{margin:0 auto; width:980px;}
.wrapbg{margin:0 auto; width:100%;background:#000000;background-repeat:no-repeat;background-position:center; }
.content{width:670px; overflow:hidden;}
.sidebar{width:300px; overflow:hidden;}
/*----头部----*/
#header{}
.function{margin:0 auto;position:relative;width:980px;height:75px;}
.topnav{top:5px;right:0;position:absolute;height:17px;line-height:17px;}
#status_ajax{float:left;}
	#status_ajax a{margin-left:10px; text-decoration:underline;}
	#status_ajax a:hover{color:#F30; text-decoration:none;}
.rss{background:url(../images/icon/rss.gif) no-repeat;float:left;height:15px;margin:2px 0 0 12px;width:12px;}
#search{position:absolute;right:0;top:45px;}
	legend{display:none;}
	#search select,#search .keyword{border:1px solid #7c7c7c;}
	#search select{height:22px;float:left;margin-right:3px;}
	#search .keyword{color:#ccc;float:left;height:16px;line-height:16px;padding:3px 3px 1px;width:170px;}
	.submit{background:#3894DD;border:1px solid #2E2E2E;color:#fff;height:22px;line-height:22px;width:54px;margin-left:-4px;}
.menu{background:#202020;border-top:1px solid #2176BF;}
	.menu ul{height:33px;}
	.menu ul li{float:left;margin:3px 12px 0 0;}
	.menu ul li a{color:#fff;display:block;float:left;font-size:14px;font-weight:bold;height:26px;line-height:26px;overflow:hidden;}
	.menu a span{padding:0 16px 0 18px;cursor:pointer;float:left;}
	.menu ul li a:hover{background:#434343;text-decoration:none;}
	.menu .hover a,.menu .hover a:hover{background:#434343;color:#5FAFF5;}
	.upload{ margin:0 auto; width:980px; position:relative;}
	.upload a{background:url(../images/upload.gif);display:block;height:19px; line-height:19px;position:absolute;right:10px;top:-25px;width:63px; padding-left:23px;}
	.upload a:hover{ text-decoration:none;}
.channelnav{background:#F9F9F9;border-bottom:1px solid #EDEDED;}
	.channelnav ul{line-height:30px;}
	.channelnav ul li{color:#ccc;float:left;}
	.channelnav ul li a{color:#666; margin:0 20px;}
/*------主要内容---------*/
.content_box .main{padding-top:5px;}
.content_box .main dl dt a,.channelall .main dl dt a{color:#06c;}
.more{float:right;margin-top:10px;}
.plv a{float:right;margin-top:8px;}
.edit{margin-right:10px;}
.t_box{display:inline;float:left;height:190px;margin:0 13px;width:140px; overflow:hidden;}
.r_box ul li{color:#333; height:80px;}
.r_box ul li a{color:#06c;}
/*---视频播放页---*/
.swfplayer{
	height:503px;
	text-align:center;
	padding-bottom:10px;
	position:relative;
	overflow: auto;
z-index:60
}
.wrapbg img{
	filter: Alpha(Opacity=80);
}
.wrapbg img:hover{
	filter: Alpha(Opacity=100);
}
.swfpostion{position:absolute;top:25px;left:250px;z-index:9999}
.vbtns{height:30px; line-height:30px; border:1px solid #A9CCEE; width:688px;font-size:14px}
	.vbtns a{text-decoration:none}
	.vbtns a:hover{color:#f60;}
	.vbtns li{float:left;height:28px;line-height:28px;border-right:1px solid #8db9ce;}
	.ding {cursor:pointer;background:url(../images/repx.gif) no-repeat 8px -210px;padding:2px 10px 0 26px;}
	.ding span{ color:#f60;font-size:10px;margin-bottom:12px}
	#collect_video{background:url(../images/repx.gif) no-repeat 8px -314px;cursor:pointer;padding:2px 10px 0 30px;}
	#vsharebtn{cursor:pointer;background:url(../images/repx.gif) no-repeat 10px -405px;padding:2px 10px 0 30px;}
	.edit_video{background:url(../images/repx.gif) no-repeat 10px -380px;cursor:pointer;padding:2px 10px 0 27px;}
	.btn_vpre{background:url(../images/repx.gif) no-repeat 8px -359px;padding:2px 8px 0 20px}
	.btn_vnext{background:url(../images/repx.gif) no-repeat 70px -339px;padding:2px 20px 0 8px}
#vshare{border:1px solid #8db9ce; border-width:0 1px 1px; display:none;}
	#vshare h3{font-size:12px; padding-left:10px; color:#666;}
	#vshare div{height:30px;}
	#vshare	label{ height:22px; width:340px; overflow:hidden;padding:5px 0}
	#vshare span{width:70px;height:20px;line-height:20px;overflow:hidden;padding-left:16px}
	#vshare input{height:16px;line-height:18px;overflow:hidden;width:250px;color:#666;padding-bottom:3px;}
	#vshare input.submit{background:url(../images/btn_copy.jpg) no-repeat left 1px;height:22px;width:43px;border:none;text-indent:-10em;cursor:pointer;margin:0 0 0 2px;}
	.share_tips{}
.vinfo {overflow:hidden; width:100%;padding:0 0 10px}
	.vinfo a{color:#117FD4;text-decoration:underline}
	.vinfo a:hover{text-decoration:none}
	.vinfol {width:86px;text-align:center;padding:5px 0 0 10px;float:left;overflow:hidden}
	.vinfol a img{width:80px;height:60px;border:3px solid #ccc;}
	.vinfol a:hover img{border:3px solid #117FD4;}
	.vinfor {width:554px;float:right;padding-right:8px}
	.vinfor .right em{font-size:13px;font-weight:bold;color:#f40;margin:0px 3px}
	.vinfor div{line-height:20px;overflow:hidden;width:100%; repeat-x left bottom;padding:2px 0;}
	.vinfor a{margin:0px 3px}
.addcomment{ padding:0 8px 8px 8px;width:672px; clear:both}
	.addcomment h3{color:#333333;border-bottom:1px solid #F7F7F7;padding-top:8px}
	#textarea{ width:99%}
	#comment_list dl {margin:5px 0;width:100%;position:relative;border:1px solid #d5d5d5;}
	#comment_list dt {background:#F6F6F6 ;height:24px;line-height:24px;padding:3px 6px; border-bottom:1px solid #d5d5d5;}
	#comment_list dd {padding:5px 90px 5px 6px; line-height:150%;}
	#comment_list strong{margin:4px}
	#comment_list .comment_con{ line-height:150%;}
	#comment_list .reply_con{ display:block; margin:10px 0 0px 20px; line-height:150%; color:#999; border:1px dashed #999; padding:5px; background:#F6F6F6;}
	#comment_list .reply_btn{position: absolute; right: 10px; top: 65%;}
/*---------------专辑列表页-----------------*/
.pl2{ position:relative;}
.tab {margin:0 16px 12px;height:35px;width:96%;_width:100%;background:url(../images/repx.gif) repeat-x 0 -277px; position:absolute; top:0px; right:0px;}
	.tab dt{float:left;color:#333333;display:inline;line-height:29px;font-size:14px; font-weight:700;padding-left:6px}
	.tab dt b{color:#ff3300;}
	.tab dd{float:right;height:23px;line-height:23px;background:url(../images/tab002.gif);width:63px;text-align:center;;margin:6px 4px 0 0; width:63px}
	.tab dd.hover{color:black;background:url(../images/tab001.gif);}
	.tab dd.hover a{text-decoration:none}
.playlist{width:100%;overflow:hidden;color:#666;padding-bottom:15px}
	.playlist .pics{float:left;margin-right:8px}
    .playlist li{float:left;width:312px;overflow:hidden;margin:8px 16px 8px 16px;padding-bottom:8px;display:inline;border-bottom:1px dotted #cccccc} 
    .playlist dt{font-weight:700;height:16px;overflow:hidden;margin-bottom:2px}
    .playlist dd {line-height:16px;height:66px;overflow:hidden}
	.playlist dd em{color:#1787D9;font-size:12px}
#vlistinfo{}
	#vlistinfo a{color:#147DD6;text-decoration:underline}
	#vlistinfo dl{width:240px;overflow:hidden}
	#vlistinfo dl dt{ float:right;width:132px;text-align:left;line-height:20px;padding-top:0}
	#vlistinfo dd{line-height:20px;white-space:nowrap;overflow:hidden}
	.vAuthor{width:132px;float:right}
	.vTime{width:132px;float:right;overflow:hidden}
	.vHits{float:right;width:132px}
	#vlistinfo .vIntr{width:100%;white-space:normal;overflow:hidden;clear:left}
/*----专辑播放列表----*/
.pllist{ background:#fff; width:980px;position:relative; margin:10px 0; border:1px solid #A9CCEE;}
.pllist h3{ margin:0 10px; color:#000; border-bottom:1px solid #A9CCEE; height:30px; line-height:30px; padding-left:20px;}
.pic_list{display:block;height:90px; margin-bottom:5px;width:120px;overflow:hidden; position:relative;}
.pic_list img{display:block;height:90px;width:120px;overflow:hidden;}
.playing{ position:relative; z-index:99;background:#d5d5d5; color:#333;}
.infiniteCarousel ul .playing a{ color:#333;}
.infiniteCarousel{ display:block; height:165px; position:relative; width:980px; color:#fff;}
.infiniteCarousel .wrapper{ position:absolute; width:940px;min-height:155px; height:155px; margin:5px 20px; overflow:hidden; top:0;}
.infiniteCarousel .wrapper ul{ width:30000px; position:absolute; top:8px;margin-left:0px;}
.infiniteCarousel ul li{ display:block; float:left; width:120px;padding:7px;}
.infiniteCarousel ul li a{ color:#000; word-wrap:break-word;word-break:break-all;overflow:hidden;}
#left_scroll{display: block;height:20px;width:20px;background: url(../images/next.gif) no-repeat 0px -54px;text-indent: -999px;position: absolute;top: 47px;cursor: pointer;left: 0;}
#right_scroll{display: block;height:20px;width:20px;background: url(../images/next.gif) no-repeat -40px -54px;text-indent: -999px;position: absolute;top: 47px;cursor: pointer;right: 0;}
/*---------------频道列表页-----------------*/
.channel{}
	.channel ul{font-size:14px; margin-left:8px;}
	.channel ul li {line-height:33px;padding:0 0 8px;width:100%;overflow:hidden;}
	.channel ul li div{float:left; margin-right:16px;}
	.channel ul li a.bc1{border:1px solid #bdbcbd;display:block;width:106px;background:transparent url(../images/playtype_2.gif) 7px center no-repeat;text-indent:30px;line-height:33px;}
	.channel ul li a.bc1:hover{border:1px solid #f26e00;background:transparent url(../images/playtype_1.gif) 7px center no-repeat;color:#f60}
	.channel ul li a.hover{background:transparent url(../images/playtype_1.gif) 7px center no-repeat;color:#f60}
	.channel ol li{line-height:18px;padding:4px 0 4px 33px;font-size:12px;background:transparent url(../images/repx.gif) no-repeat 17px -255px}
.channelall h3{float:left;}
	.channelall h3 a{float:left; text-decoration:none;}
	.channelall .caption{ margin-top:0;}
	.channelall .caption span{line-height:35px;float:right;}
	.channelall .caption span a{color:#f60; text-decoration:underline;}
/*---------------用户列表页-----------------*/
.userlist{width:100%;overflow:hidden;}
	.userlist .caption{}
	.userlist .tab{ width:955px;}
	.userinfo{ border:1px solid #A9CCEE; width:270px;padding:5px 8px;height:170px;float:left;display:inline;margin-top:20px;margin-left:30px;color:#615a5e}
	.userinfo p{float:left;width:160px;margin-left:5px;margin-top:5px;border-bottom:#b0aeaf 1px dotted;line-height:20px;font-size:13px}
	.userinfo .uphoto{width:90px;height:149px;padding:10px 5px;overflow:hidden;margin:0px;border:none;float:left}
	.userinfo .uphoto img{max-height:80px;width:80px;padding:5px;border:#dedede 1px solid}
	.userinfo .username{border-bottom-style:solid}
	.userinfo p span{color:#333333}
	.userinfo p a{color:#117eda;margin-right:5px}
/*---------------提示页面-----------------*/
.msg {width:550px;margin:8px auto;overflow:hidden; border:1px solid #A9CCEE}
	.msg h3{border-bottom:1px dotted #ccc;padding:5px 10px 0px 10px}
	.msgbody{ padding-top:80px;font-size:14px;line-height:230%; height:200px; text-align:center;}
	.msgbody a{ text-decoration:underline;color:blue}
/*---------前台 顶、收藏  系列弹出框---------*/
#ajaxMsgDiv{ background-color:white; position: absolute;font :12px/1.6em Verdana, Geneva, Arial; text-align:center; z-index:3000; border:3px solid #999999;line-height:20px;}
#msgTitle{margin : 0;padding :3px;background-color:#1B5790;height :20px;color :white;cursor :pointer; text-align:right}
	#MsgPop{ background:url(../images/msgpop.gif) no-repeat; position: absolute;font :14px/40px Verdana, Geneva, Arial; text-align:center; z-index:3000; display:none; height:40px; width:262px; color:white}
	#MsgPop a{ color:white; text-decoration:underline}
	#MsgPop a:hover{ text-decoration:none}
/*-------------前台登录注册页---------------*/
.login{padding:10px;width:280px; margin:15px auto 0;}
	.submits{background:#5AA9E6;border-color:#FFFFFF #6A6A6A #6A6A6A #FFFFFF;border-style:solid;border-width:1px;color:#FFFFFF;cursor:pointer;font-size:14px;height:25px;padding:3px 10px}
	.login h3{height:30px;width:100%; color:#666; font-size:20px;overflow:hidden; border-bottom:1px solid #eee}
	span.ftit{float:left;width:70px;line-height:20px;}
	.login div{padding-top:18px;overflow:hidden;width:100%;overflow:hidden;}
	.login select{width:80px}
	.login a{color:red;}
	.login .ftit{font-weight:700}
.register{padding:10px 10px 30px;width:635px;margin:15px 0 0 230px;}
	.register h3{height:30px;color:#666; font-size:20px;overflow:hidden; border-bottom:1px solid #eee}
	.reglay{float:left;width:480px}
	.register input{float:left;width:200px;margin-right:4px}
	.register input.btn{width:80px}
	.register em{font-size:12px;color:#ccc;padding:2px 2px 2px 0; float:left; display:block; margin:0 0 4px 10px;}
	.register em.hover{color:#0086C6;}
	.register em.error{color:#f60;background:url(../images/icon/error.gif) no-repeat 0 center;padding-left:18px}
	.register em.loading{color:#0086C6;width:183px; height:15px;background:url(../images/icon/loading.gif) no-repeat 0 center;padding-left:18px}
	.register em.correct{background:url(../images/icon/right.gif) no-repeat 0 center;padding-left:18px}
	.register .ohide{padding-top:18px}
	.register .ftit{font-weight:700}
/*---------------前台登录管理-----------------*/
.userpage {padding-right:10px}
.userpage a{text-decoration:underline}
.userpage a:hover{ text-decoration:none}
.userpage #multi_page {width:100%;height:30px;line-height:30px;text-align:center; overflow:hidden}
.usermain h3,.usercp h3{color:#25689E}
.usermain {width:730px;margin-bottom:10px;border:1px solid #A9CCEE;}
	table {border-top:3px solid #D8E8FA;border-bottom:2px solid #D8E8FA;border-spacing:0;background:white;width:98%;border-collapse:collapse}
	table thead{background-color:#E9F4FA; text-align:left}
	td,th{border:1px solid #EEEEEE; border-width:0 0 1px;padding:4px; line-height:20px}
	td a {color:#00458C}
	th{font-weight:700; text-align:left}
	tr.tbg01,td.tbg01{background-color:#E9F4FA;}
	td{color:black}
	.btn{ padding:0 5px; *padding-top:3px;overflow:visible;}
	.usermain form em{color:#cccccc}
	.usermain a.img{margin:10px;}
	.usermain p{height:20px;line-height:20px}
	.usermain p.title{margin-top:10px;font-size:14px;line-height:26px;margin-bottom:5px}
	.usermain p.title a{font-weight:bold;color:#f40}
	.usermain dt.info,.usermain dd.info{width:340px}
	.usermain dt.cp,.usermain dd.cp{width:169px}
	.usermain dd.info p.jianjie{height:40px;overflow:hidden}
	.usermain input.submit{display:block;margin:10px auto 0px auto;height:24px}
	.usermain dt.img,.usermain dd.img{width:140px}
	.usermain textarea{width:460px; height:100px}
	.btn_del{background:transparent url(../images/icon/del.gif) no-repeat center center; border:none; width:16px; height:16px}
	.btn_move{background:transparent url(../images/icon/move.gif) no-repeat center center; border:none; width:16px; height:16px;cursor:move;}
/*---------------控制面板页-----------------*/
	.usercp {border:1px solid #A9CCEE;width:218px;margin-left:10px}
	.usercp .main{padding:5px;}
	.usercp ul {margin-bottom:10px;}
	.usercp ul li{height:24px;line-height:24px;border-bottom:1px #ccc dashed;background:url(../images/icon/dot2.gif) no-repeat 5px 9px;padding-left:14px}
	.usercp ul li a{color:#25689E;text-decoration:none;height:24px;line-height:24px;padding-right:14px}
	.usercp ul li a:hover{text-decoration:underline;color:#f40}
	.usercp ul li a.current_opt {color:#f40;background:url(../images/icon/dot2.gif) no-repeat right 4px}
.bar{padding:3px 9px 3px 7px; line-height:25px;}
.tabsbox {margin:0 8px;overflow:hidden; height:26px; border-bottom:1px solid #A9CCEE;}
	.tabsbox li{border:1px solid #ccc;margin-left:20px; width:96px; text-align:center; line-height:26px; overflow:hidden; color:#333;float:left}
	.tabsbox li a{color:#666;text-decoration:none}
	.tabsbox li.selected{border:1px solid #A9CCEE;color:#25689E}
	.tabsbox li.selected a{ color:#25689E;font-weight:700}
.newsulist ul{}
	.newsulist li {padding:4px 0;border-bottom:1px dashed #F2F2F2}
	.newsulist li a{ color:#336699}
/*---个人空间页--*/
.ulcomment{width:100%;overflow:hidden;clear:both}
.ulcomment dt{background:#F6F6F6 none repeat scroll 0 0;height:24px;line-height:24px;padding:3px 6px;margin:10px}
.ulcomment dd{padding:5px 6px; margin:0 10px;border-bottom:1px dashed #666666;overflow:hidden}
	.vImg{float:left}
	.vImg img{width:96px;height:72px;border:3px double #CCCCCC}
/*--上传视频页--*/
.loading_bar{}
.file_name{ height:25px; line-height:30px;}
.file_name input{ float:right;}
.loading_pb{ margin:5px 0;border:1px solid #ABD2EB; padding:1px 0;}
.loading{ width:75%; background:#3399CC; height:20px;}
.loading_info, .loading_msg{ text-align:center;}
.loading_msg{ color:red}
.loading_info div{ float:left; width:33%; }
.loading_info .done{ text-align:left;}E
.loading_info .time{ text-align:right;}
#pic_auto {background:#0066CC;color:white;font-weight:700;margin-top:5px;padding:3px;text-align:center;width:207px}
/*---公告页--*/
.announce_main .main{padding:20px;}
.announce_main h1{text-align:center;font-size:24px;padding:20px 0;margin:0}
/*-----右侧边栏-----*/
.sidebar_box .main{padding:5px 10px;}
.height_287{height:289px;}
.rank{}
	.rank .main{ _padding:0px 10px;}
	.rank .main ul{background:url(../images/repno.gif) left 5px no-repeat;margin:-2px 10px 0 0;}
	.rank .main li{border-bottom:1px dashed #d8d8d8;height:23px;line-height:23px;padding-left:20px;}
	.rank .main li span{color:#f60; float:right;}
	.rank .main li a:hover{color:#06c; text-decoration:none;}
	.blank{clear:both;height:3px;background:#fff;margin-top:-3px;overflow:hidden;}
.new{}
	.new .hot1{background:url(../images/icon/hot1.gif) no-repeat; margin-bottom:3px;padding-left:15px;}
	.new .hot0{background:url(../images/icon/hot0.gif) no-repeat;height:25px;padding-left:15px;}
.new .hot1 span,.dig .ding1 span{color:#666; display:block; margin-top:3px;}
.new .hot1 a,.dig .ding1 a{color:#06C;}
.announce{background:url(../images/announcesbg.gif) 0 3px no-repeat; height:60px;}
	.announce dl{margin:5px 0 0 35px;}
	.announce dt{display:none;}
	.announce dd{line-height:25px;}
.dig .ding1{background:url(../images/icon/ding1.gif) no-repeat;margin-right:5px;margin-bottom:3px;padding-left:15px;}
	.dig .ding0{background:url(../images/icon/ding0.gif) 0 3px no-repeat;height:25px;padding-left:15px;}
	.dig .ding0 span{color:#999; float:right;}
.tags .main{ width:95%; margin:0 auto; padding-top:6px; padding-bottom:6px;} 
#tags a{height:26px; line-height:26px;padding-right:6px;} 
#tags .tags0{} 
#tags .tags1{color:#C00; font-size:24px;} 
#tags .tags2{color:#030; font-size:16px;} 
#tags .tags3{color:#00F;} 
#tags .tags4{ font-size:16px;} 
#tags .tags5{color:#C00; font-size:20px;} 
#tags .tags6{color:#F06 font-size:20px;} 
#tags .tags7{color:#030; font-weight:bold; font-size:18px;} 
#tags .tags8{color:#F06; font-weight:bold;} 
#tags .tags9{color:#C00; font-weight:bold;font-size:16px;} 
#tags .tags10{color:#090; font-weight:bold;font-size:18px;} 
#tags .tags11{color:#09F;} 
#tags .tags12{color:#F90;font-size:14px;} 
#tags a:hover{ color:#F00; text-decoration:underline;} 
.f_links{width:980px;}
	.f_links .main{ padding:10px;}
	.flinkimg a{width:95px; height:32px; display:block; float:left; margin:3px; border:1px solid #ccc;overflow:hidden;}
	.flinkimg img{width:95px; height:32px;}
	.flinktext{border-top:1px dashed #d8d8d8;line-height:25px;margin-top:5px;}
	.flinktext a{ float:left;white-space:nowrap;margin:0 5px;text-decoration:underline}
/*--选项卡--*/
.tab_h{}
	.tab_h ul{background:url(../images/top_num.gif) no-repeat 0 17px;padding:8px 5px 1px 0; overflow:hidden;}
	.tab_h ul li{line-height:18px;padding:5px 0 5px 20px;}
	.tab_h ul li a{color:#147dd6;text-decoration:underline;}
	.tab_h ul li a:hover{color:#147DD6;text-decoration:none;}
	.toptit{ border-bottom:1px solid #d8d8d8;height:30px; width:100%;overflow:hidden;}
	.toptit h3{float:left; line-height:30px;}
	.toptab{float:right;overflow:hidden; line-height:28px; margin-top:3px;}
	.toptab li{ background:#fff;width:auto; padding:0 5px; line-height:30px; border-left:0px solid #d8d8d8; height:30px;float:left;text-align: center; cursor:pointer}
	.toptab li.hover{ border-bottom:none; background:#d8d8d8; color:black;}
	.topn1{overflow:hidden;clear:both; height:65px;}
	.topn1 img{float:left;}
.option_main{ background-color: #00ccFA; height:16px;}
.option_sub{ background-color: #D8E8FA; height:16px;}	
/*--底部--*/
#footer{border-top:1px solid #d8d8d8;clear:both;margin:20px auto;line-height:24px;text-align:center;width:700px;}
	#footer a{margin-right:5px;color:#666;line-height:32px;}
	#footer .orange{color:#f40;}
/* dialog style start */
.dialog-overlay{background-color: #F0F0F0;opacity: 0.5;filter:  alpha(opacity=50);position: fixed;height: 100%;width: 100%;left: 0;top: 0;display: none}
.dialog-wrapper{overflow: hidden}
.dialog{border: 4px solid #878787}
.dialog-header{border: 1px solid #0C385F;color: #FFFFFF;background: #1B5790 none no-repeat right center;padding: 5px 10px;font-size: 14px;height: 18px;font-weight: bold}
.dialog-title{float: left}
.dialog-close{float: right;cursor: pointer}
.dialog-body{border: 1px solid #555555}
.dialog-content{padding: 10px;background-color: #FFFFFF}
.dialog-actions{background-color: #F2F2F2;border-top: 1px solid #CCCCCC;padding: 3px 10px;text-align: right}
.dialog-button{font-size: 12px;background-color: #2E6AB1;border: 1px solid #DDDDDD;color: #FFFFFF;margin-left: 8px;padding: 1px 10px}
iframe.iefix{display: none;display/**/: block;position: absolute;top: 0;left: 0;z-index: -1;filter:mask()}
/* validator style start */
.v_msg{}
.v_error{background:url(../images/check_error.gif) no-repeat 2px center;padding-left:17px;color:red}
.v_right{background:url(../images/check_right.gif) no-repeat 2px center;padding-left:17px;}
.v_note{color:gray}
.v_active{background:url(../images/check_tip.gif) no-repeat 2px center;padding-left:17px;color:#0086c6}
.hide{display:none}