/*=====================================================================*/
/* HTML ELEMENT STYLE */
/*=====================================================================*/
body {
font-family:Meiryo, 'メイリオ', ArialMT, Hiragino Kaku Gothic Pro, 'ヒラギノ角ゴ Pro W3', Osaka, Verdana, 'ＭＳ Ｐゴシック';
-webkit-text-size-adjust:none;
margin:0;
padding:0;
}
a:link {
text-decoration:none;
}
a:visited {
text-decoration:none;
}
a:hover {
text-decoration:underline;
color:#C00;
}
/*=====================================================================*/
/* PATHDEBUG */
/*=====================================================================*/
#PATHDEBUG {
font-size:12px;
line-height:16px;
text-align:center;
background:#C00;
background:-webkit-gradient(linear, left top, left bottom, from(#F33), to(#C00));
background:-moz-linear-gradient(top, #F33, #C00);
border-bottom:1px solid #CCC;
color:#FFF;
display:none;
}
/*=====================================================================*/
/* BASE STYLE */
/*=====================================================================*/
.floatclear {
clear:both;
font-size:0;
line-height:0;
height:0;
}
.txtR {
text-align:right;
}
.txtC {
text-align:center;
}
/*---------------------------------------------------------------------*/
/* グローバルナビゲーション GROUP0 FOR ITmedia */
/*---------------------------------------------------------------------*/
#globalNavigationGroup0 #globalNavigation .gnavOut {
font-size:11px;
font-weight:bold;
line-height:100%;
background:#333;
overflow:hidden;
}
#globalNavigationGroup0 #globalNavigation .gnavOut .gnavIn {
position:relative;
width:990px;
margin:0 auto;
}
#globalNavigationGroup0 #globalNavigation .gnavBtn {
float:left;
margin:0 0 3px 3px;
padding:7px 8px 5px;
border-radius:0 0 3px 3px;
}
#globalNavigationGroup0 #globalNavigation .gnavBtn0 {
background:#E30;
background:-moz-linear-gradient(#F52, #E30);
background:-webkit-gradient(linear, left top, left bottom, from(#F52), to(#E30)); 
box-shadow:0 1px 1px rgba(0,0,0,0.4);
}
#globalNavigationGroup0 #globalNavigation .gnavBtn a {
color:#AAA;
text-shadow:0 -1px 0 rgba(0,0,0,0.25);
}
#globalNavigationGroup0 #globalNavigation .gnavBtn0:hover {
background:#F41;
}
#globalNavigationGroup0 #globalNavigation .gnavBtn0 a {
color:#FFF;
}
#globalNavigationGroup0 #globalNavigation .gnavBtn a:hover {
color:#EEE;
text-decoration:none;
}
/*---------------------------------------------------------------------*/
/* グローバルナビゲーション GROUP1 FOR MONOist */
/*---------------------------------------------------------------------*/
#globalNavigationGroup1 #globalNavigation {
height:35px;
position:relative;
font-size:12px;
line-height:16px;
background:url(http://image.itmedia.co.jp/images/globalnavigation/group1/globalNavigation_bg.gif) no-repeat 0 0 #221714;
}
#globalNavigationGroup1 #globalNavigation .gnavOut {
width:701px;
height:35px;
position:absolute;
top:0;
right:0;
}
#globalNavigationGroup1 #globalNavigation .gnavIn {
position:relative;
}
#globalNavigationGroup1 #globalNavigation .gnavBtn {
width:100px;
height:35px;
background:url(http://image.itmedia.co.jp/images/globalnavigation/group1/globalNavigation.gif) no-repeat 0 0;
position:absolute;
top:0;
border-left:1px solid #CCC;
}
#globalNavigationGroup1 #globalNavigation .gnavBtn0 {background-position:0 0;left:0;}
#globalNavigationGroup1 #globalNavigation .gnavBtn1 {background-position:-100px 0;left:100px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn2 {background-position:-200px 0;left:200px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn3 {background-position:-300px 0;left:300px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn4 {background-position:-400px 0;left:400px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn5 {background-position:-500px 0;left:500px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn6 {background-position:-600px 0;left:600px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn a {
display:block;
width:100px;
height:35px;
text-indent:-9999px;
overflow:hidden;
}
#globalNavigationGroup1 #globalNavigation .gnavBtn a:hover {
background:url(http://image.itmedia.co.jp/images/globalnavigation/group1/globalNavigation.gif) no-repeat 0 -40px;
}
#globalNavigationGroup1 #globalNavigation .gnavBtn0 a:hover {background-position:0 -40px;left:0;}
#globalNavigationGroup1 #globalNavigation .gnavBtn1 a:hover {background-position:-100px -40px;left:100px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn2 a:hover {background-position:-200px -40px;left:200px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn3 a:hover {background-position:-300px -40px;left:300px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn4 a:hover {background-position:-400px -40px;left:400px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn5 a:hover {background-position:-500px -40px;left:500px;}
#globalNavigationGroup1 #globalNavigation .gnavBtn6 a:hover {background-position:-600px -40px;left:600px;}
/*---------------------------------------------------------------------*/
/* グローバルナビゲーション GROUP2 FOR 誠 */
/*---------------------------------------------------------------------*/
#globalNavigationGroup2 #globalNavigation {
}
#globalNavigationGroup2 #globalNavigation .gnavOut {
}
#globalNavigationGroup2 #globalNavigation .gnavIn {
}
#globalNavigationGroup2 #globalNavigation .gnavBtn {
font-size:10px;
line-height:14px;
display:inline;
float:right;
background:url(http://image.itmedia.co.jp/images/globalnavigation/group2/globalNavigation_bg.gif) no-repeat left center;
margin:5px 0;
padding:0 5px;
z-index:100;
position:relative;
}
#globalNavigationGroup2 #globalNavigation .gnavBtn0 {
background:none;
}
/*---------------------------------------------------------------------*/
/* グローバルナビゲーション GROUP4 FOR AIT */
/*---------------------------------------------------------------------*/
#globalNavigationGroup4 #globalNavigation {
position:relative;
width:990px;
margin:0 autp;
z-index:10;
}
#globalNavigationGroup4 #globalNavigation .gnavOut {
position:absolute;
top:0;
left:191px;
width:790px;
height:24px;
background:#000;
border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
}
#globalNavigationGroup4 #globalNavigation .gnavIn {
padding:0 2px;
}
#globalNavigationGroup4 #globalNavigation .gnavBtn {
display:inline;
font-size:11px;
font-weight:bold;
line-height:24px;
}
#globalNavigationGroup4 #globalNavigation .gnavBtn a {
display:block;
width:134px;
height:22px;
overflow:hidden;
float:left;
text-align:center;
color:#B7B7B7;
border-radius:0 0 3px 3px;
-webkit-border-radius:0 0 3px 3px;
-moz-border-radius:0 0 3px 3px;
}
#globalNavigationGroup4 #globalNavigation .gnavBtn0 a {
text-shadow:#666 1px 1px 1px;
background:#00A64A;
color:#FFF;
}
#globalNavigationGroup4 #globalNavigation .gnavBtn a:link {
}
#globalNavigationGroup4 #globalNavigation .gnavBtn a:hover {
text-decoration:none;
color:#FFF;
}
#globalNavigationGroup4 #globalNavigation .gnavBtn a:visited {
}
/*---------------------------------------------------------------------*/
/* カラムボックス */
/*---------------------------------------------------------------------*/
.colBox {
margin-bottom:10px;
width:auto;
}
.colBoxL33 {
float:left;
width:33%;
}
.colBoxR33 {
float:right;
width:33%;
}
.colBoxL50 {
float:left;
width:50%;
}
.colBoxR50 {
float:right;
width:50%;
}
.colBoxL66 {
float:left;
width:66%;
}
.colBoxR66 {
float:right;
width:66%;
}
.colBox a:link,
.colBox a:visited {
text-decoration:none;
}
.colBox a:hover {
text-decoration:underline;
color:#C00;
}
.colBoxOuter {}
.colBoxHead {
position:relative;
border-bottom:1px solid #CCC;
margin:0 0 5px;
padding:0 0 3px;
}
.colBoxHeadSubtxt {
position:absolute;
top:3px;
right:0;
font-size:10px;
line-height:14px;
}
.colBoxNewtxt {
font-weight:bold;
color:#C00;
}
.colBoxHead h2 {
font-size:14px;
line-height:18px;
margin:0;
}
.colBoxSubhead {
background:#EEE;
margin:0 0 5px;
padding:3px;
}
.colBoxSubhead h4 {
font-size:12px;
line-height:16px;
margin:0;
}
.colBoxInner {}
.colBoxLeft {
float:left;
}
.colBoxRight {
}
.colBoxIconMargin120 .colBoxLeft {
}
.colBoxIconMargin80 .colBoxLeft {
}
.colBoxIconMargin120 .colBoxRight {
margin-left:132px;
}
.colBoxIconMargin80 .colBoxRight {
margin-left:92px;
}
.colBoxIndex {
}
.colBoxIndexL33 {
width:33%;
float:left;
}
.colBoxIndexR33 {
width:33%;
float:right;
}
.colBoxIndexL50 {
width:49%;
float:left;
}
.colBoxIndexR50 {
width:49%;
float:right;
}
.colBoxIndexL66 {
width:66%;
float:left;
}
.colBoxIndexR66 {
width:66%;
float:right;
}
.colBoxIcon {
display:inline;
}
.colBoxIcon a {
float:left;
margin:0 5px 3px 0;
border:1px solid #CCC;
}
.colBoxLeft .colBoxIcon a {
margin:0;
}
.colBoxSubTitle {
margin:0 0 3px;
}
.colBoxSubTitle h5 {
font-size:12px;
line-height:16px;
margin:0;
color:#A73;
}
.colBoxSubIcon {
}
.colBoxSubIcon img {
vertical-align:middle;
}
.colBoxTitle {
margin:0 0 3px;
}
.colBoxTitle h3 {
font-size:16px;
line-height:20px;
margin:0;
}
.colBoxDescription {
margin:0 0 3px;
}
.colBoxDescription p {
font-size:12px;
line-height:16px;
margin:0;
}
.colBoxButton {
width:150px;
margin:0 auto;
border:1px solid #CCC;
border-radius:20px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
}
.colBoxButton a {
display:block;
padding:5px;
font-size:14px;
font-weight:bold;
text-align:center;
background:#036;
background:-webkit-gradient(linear, left top, left bottom, from(#369), to(#036));
background:-moz-linear-gradient(top, #369, #036);
border:2px solid #FFF;
border-radius:20px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
}
.colBoxButton a:link,
.colBoxButton a:visited,
.colBoxButton a:hover {
color:#FFF;
text-decoration:none;
}
.colBoxIndex .linkset {
clear:both;
margin:0 0 3px;
padding:0;
list-style-type:none;
}
.colBoxIconMargin120 .colBoxIndex .linkset,
.colBoxIconMargin80 .colBoxIndex .linkset {
clear:none;
}
.colBoxIndex .linkset li {
font-size:12px;
line-height:16px;
margin:0;
padding:0 0 3px 12px;
background:url(http://image.itmedia.co.jp/images/ulli_book0.gif) no-repeat 0 2px;
}
.colBoxInfo {
margin:0 0 3px;
text-align:right;
}
.colBoxInfo .colBoxDate {
font-size:10px;
line-height:14px;
}
.colBoxInfo .colBoxLinktxt {
font-size:12px;
line-height:16px;
}
.colBoxClear {
font-size:0;
line-height:0;
height:0;
clear:both;
}
.colBoxClearLeft {
font-size:0;
line-height:0;
height:0;
clear:left;
}
.colBoxClearRight {
font-size:0;
line-height:0;
height:0;
clear:right;
}
.colBoxUlist {}
.colBoxUlist ul {
clear:both;
font-size:12px;
line-height:16px;
margin:0;
padding:0;
list-style-type:none;
}
.colBoxUlist ul li {
margin:0 0 3px;
padding:0 0 3px 14px;
background:url(http://image.itmedia.co.jp/images/ulli_book0.gif) no-repeat 0 2px;
border-bottom:1px dotted #CCC;
}
.colBoxUlistDate {
font-size:10px;
line-height:14px;
margin:0 0 0 5px;
}
.colBoxOlist {}
.colBoxUlist ul .lastLiMarginClear,
.colBoxOlist ol .lastLiMarginClear {
}
.colBoxOlist ol {
clear:both;
font-size:12px;
line-height:16px;
margin:0;
padding:0;
list-style-type:none;
}
.colBoxOlist ol li {
margin:0 0 3px;
padding:0 0 3px 34px;
background:url(http://image.itmedia.co.jp/images/olli_rank0.gif) no-repeat 0 2px;
border-bottom:1px dotted #CCC;
min-height:30px;
height:auto !important;
height:30px;
}
.colBoxOlist ol .rank1 {background-position:0 0;}
.colBoxOlist ol .rank2 {background-position:0 -100px;}
.colBoxOlist ol .rank3 {background-position:0 -200px;}
.colBoxOlist ol .rank4 {background-position:0 -300px;}
.colBoxOlist ol .rank5 {background-position:0 -400px;}
.colBoxOlist ol .rank6 {background-position:0 -500px;}
.colBoxOlist ol .rank7 {background-position:0 -600px;}
.colBoxOlist ol .rank8 {background-position:0 -700px;}
.colBoxOlist ol .rank9 {background-position:0 -800px;}
.colBoxOlist ol .rank10 {background-position:0 -900px;}
.colBoxOlistDate {
font-size:10px;
line-height:14px;
margin:0 0 0 5px;
}

.colBox .backNumBoxRap {
}
.colBox .backNumBoxRap strong {
display:none;
}
.colBox .backNumBoxIn ul {
clear:both;
font-size:12px;
line-height:16px;
margin:0;
padding:0;
list-style-type:none;
}
.colBox .backNumBoxIn ul li {
margin:0 0 3px;
padding:0 0 3px 14px;
background:url(http://image.itmedia.co.jp/images/ulli_book0.gif) no-repeat 0 2px;
border-bottom:1px dotted #CCC;
}

.colBoxPageLink {
font-size:12px;
line-height:16px;
text-align:right;
}
.colBoxTable {
}
.colBoxTable table {
border-collapse:collapse;
}
.colBoxTable table th,
.colBoxTable table td {
font-size:12px;
line-height:16px;
border:1px solid #CCC;
padding:1px 3px;
text-align:left;
}
.colBoxTable table th {
background:#EEE;
}
.colBoxTable table td {
}

.colBoxCalendar .colBoxIndex {
width:140px;
height:100px;
/*
border:1px solid #FFF;
*/
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-webkit-box-shadow:2px 2px 3px #EEE;
-moz-box-shadow:2px 2px 3px #EEE;
box-shadow:2px 2px 3px #EEE;
float:left;
margin:0 10px 10px 0;
padding:3px;
}
.colBoxCalendar .colBoxSubhead {
background:none;
border-bottom:1px dotted #CCB;
margin:0 0 5px;
padding:0 0 3px;
}
.colBoxCalendar .colBoxUlist ul {
font-size:10px;
line-height:14px;
}
.colBoxCalendar .colBoxUlist ul li {
display:inline;
background:none;
border:none;
margin:0;
padding:0;
}
.colBoxCalendar .colBoxUlist ul li a {
display:block;
width:24px;
float:left;
text-align:center;
border:1px solid #DDD;
background:#EED;
background:-webkit-gradient(linear, left top, left bottom, from(#EED), to(#DDC));
background:-moz-linear-gradient(top, #EED, #DDC);
margin:0 5px 5px 0;
padding:2px;
}
.colBoxCalendar .colBoxUlist ul li a:link,
.colBoxCalendar .colBoxUlist ul li a:visited {
color:#332;
text-decoration:none;
}
.colBoxCalendar .colBoxUlist ul li a:hover {
color:#332;
text-decoration:none;
background:#DDC;
background:-webkit-gradient(linear, left top, left bottom, from(#DDC), to(#CCB));
background:-moz-linear-gradient(top, #DDC, #CCB);
}
.colBoxCalendar .colBoxUlist ul .colBoxActive a:link,
.colBoxCalendar .colBoxUlist ul .colBoxActive a:visited,
.colBoxCalendar .colBoxUlist ul .colBoxActive a:hover {
background:#665;
background:-webkit-gradient(linear, left top, left bottom, from(#665), to(#554));
background:-moz-linear-gradient(top, #665, #554);
color:#FFF;
}

.colBoxBacknumber .colBoxUlist ul li .colBoxArticletype {
display:block;
width:60px;
float:left;
font-size:10px;
line-height:14px;
text-align:center;
border:1px solid #CCC;
background:#EEE;
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
background:-moz-linear-gradient(top, #FFF, #EEE);
margin:0 5px 0 0;
padding:0 2px;
}
.colBoxBacknumber .colBoxUlist ul li .colBoxArticlewriter {
font-size:10px;
line-height:14px;
}

.colBoxSentence p {
font-size:16px;
line-height:24px;
margin:0 0 20px;
}
.colBoxSentence ul,
.colBoxSentence ol {
font-size:14px;
line-height:22px;
margin:0 0 20px;
}
.colBoxSentence li {
margin:0 0 10px;
}

.colBoxButtons .colBoxUlist ul li {
float:left;
margin:0 5px 5px 0;
padding:3px 3px 3px 16px;
background-position:3px 5px;
background-color:#EED;
border:1px solid #CCB;
cursor:pointer;
}
.colBoxButtons .colBoxUlist ul .hover {
background-color:#DDC;
}
.colBoxButtons .colBoxUlist ul .active {
background-color:#C00;
color:#FFF;
font-weight:bold;
}

.colBoxLargeImage {
}
.colBoxLargeImage .colBoxIcon {
}
.colBoxLargeImage .colBoxSubTitle {
clear:both;
margin:0 0 10px;
}
.colBoxLargeImage .colBoxInfo {
text-align:left;
margin:0 0 10px;
}

.colBoxImage .colBoxIndex {
margin:0 0 30px;
border-bottom:1px solid #CCC;
}
.colBoxImage .colBoxTitle h3 {
font-size:24px;
line-height:30px;
}
.colBoxImage .colBoxDescription p {
font-size:16px;
line-height:22px;
}

.colBoxIconShuffle .colBoxIndex {
display:inline;
}
.colBoxIconShuffle .colBoxIcon a {
display:block;
width:80px;
height:60px;
border:3px solid #CCC;
margin:0 5px 0 0;
padding:1px;
}
.colBoxIconShuffle .colBoxIcon a.active {
border:3px solid #C00;
}

.colBoxAccessTop10 {
}
.colBoxAccessTop10 .colBoxOuter {
background:#CCC;
background: -moz-linear-gradient(top, #EEE, #CCC);
background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
padding:10px;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
}
.colBoxAccessTop10 .colBoxHead h2 {
background:url(http://image.itmedia.co.jp/images/ulli_king1.gif) no-repeat 0 0;
padding:8px 0 3px 42px;
font-size:18px;
line-height:24px;
color:#7A711F;
}
.colBoxAccessTop10 .colBoxInner {
background:#FFF;
padding:10px;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}
#cmsBody .colBoxAccessTop10 .colBoxOlist ol {
margin:0;
}
#cmsBody .colBoxAccessTop10 .colBoxOlist li {
font-size:16px;
line-height:22px;
}

.colBoxQuickPoll .colBoxIndex form {
margin:0;
}
.colBoxQuickPoll .colBoxIndex form label {
font-size:14px;
vertical-align:middle;
font-weight:bold;
}
.colBoxQuickPoll .colBoxGraph {
font-size:12px;
border:1px solid #FFF;
background:#FFF;
background:-webkit-gradient(linear, left top, left bottom, from(#e4df48), to(#c3bd1c));
background:-moz-linear-gradient(top, #e4df48, #c3bd1c);
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
box-shadow:0px 0px 1px #999;
text-align:center;
margin:0 0 5px;
padding:2px 0;
}
.colBoxQuickPoll .colBoxInfo {
text-align:center;
}
.colBoxQuickPoll .colBoxInfoBtn {
padding:10px 0 0 0;
}
.colBoxQuickPoll .colBoxInfo p {
color:#C00;
}
/*=====================================================================*/
/* GLOBAL FOOTER */
/*=====================================================================*/
#globalFooterMediaList {
}
#globalFooterMediaListIn {
}
#globalFooterMediaList .mediaListGroup {
clear:both;
}
#globalFooterMediaList .mediaList {
float:left;
width:170px;
margin:0 10px 10px 0;
}
#globalFooterMediaList .mediaList .mediaHead {
margin:0 0 3px;
padding:0 0 0 6px;
border-left:3px solid #C00;
font-size:12px;
font-weight:bold;
line-height:16px;
}
#globalFooterMediaList .mediaList ul {
margin:0;
padding:3px 0 0;
border-top:1px solid #666;
list-style:none;
}
#globalFooterMediaList .mediaList ul li {
font-size:12px;
line-height:16px;
margin:0 0 3px 0;
padding:0;
}
#globalFooterMediaList hr {
visibility:hidden;
clear:both;
}

#globalFooterCorp {
clear:both;
border-top:1px solid #666;
padding:10px 0 0;
}
#globalFooterCorpIn {
}
#globalFooterCorp p a:link,
#globalFooterCorp p a:visited {
}
#globalFooterCorpLogo {
position:relative;
display:block;
height:1%;
margin:0 0 5px;
padding:12px 0 0 180px;
font-size:12px;
line-height:16px;
}
#globalFooterCorpLogo a {
position:absolute;
top:0;
left:0;
display:block;
width:170px;
height:28px;
background:url(http://image.itmedia.co.jp/images/logo/170_itmedia_bgw.gif) no-repeat 0 0;
text-indent:-9999px;
float:left;
}
#globalFooterCorpLink {
margin:0;
font-size:12px;
line-height:16px;
clear:both;
}

/*=====================================================================*/
/* NEWZIA CONNECT */
/*=====================================================================*/
.newziaConnectAPI {
margin-bottom:10px;
}
.newziaConnectAPI a:link,
.newziaConnectAPI a:visited {
text-decoration:none;
}
.newziaConnectAPI a:hover {
text-decoration:underline;
color:#C00;
}
.newziaConnectAPI h3 {
font-size:14px;
line-height:18px;
position:relative;
border-bottom:1px solid #CCC;
margin:0 0 5px;
padding:0 0 3px;
}
.newziaConnectAPI ul {
clear:both;
font-size:12px;
line-height:16px;
margin:0;
padding:0;
list-style-type:none;
}
.newziaConnectAPI ul li {
margin:0 0 3px;
padding:0 0 3px 14px;
background:url(http://image.itmedia.co.jp/images/ulli_book0.gif) no-repeat 0 2px;
border-bottom:1px dotted #CCC;
}
.newziaConnectAPI div {
font-size:10px;
line-height:14px;
text-align:right;
}
/*=====================================================================*/
/* SOCIAL BUTTON */
/*=====================================================================*/
/* MOVE
/css/socialbutton.css
*/
/*=====================================================================*/
/* RD:5609 - 111104 */
/*=====================================================================*/
.snsContents {
}
.snsContents .colBox .colBoxOuter {
border:none !important;
}
.snsContents .colBox .colBoxIndex {
padding:0 !important;
border:none !important;
}
.snsButtons {
height:17px;
}
.snsButtons .colBox {
margin:0;
}
.snsButtons .colBoxUlist ul {
}
.snsButtons .colBoxUlist li {
display:inline;
margin:0;
padding:0 3px;
background:#FFF;
border:1px solid #CCC;
font-weight:bold;
cursor:pointer;
}
.snsButtons .colBoxUlist li.hover {
}
.snsButtons .colBoxUlist li.active {
background:#EEE;
}
.snsContents .colBoxHead {
display:none;
}
.colBoxSnsMostpopular {
border:1px solid #CCC;
}
.colBoxSnsFriendsactivity {
border:1px solid #CCC;
}
.colBoxSnsMosttweeted {
border:1px solid #CCC;
height:262px;
overflow:scroll;
}
.colBoxSnsMosttweeted .colBoxUlist li {
background:none;
padding:0 0 3px 0;
font-size:11px;
}
.colBoxSnsSocialbutton .colBoxOuter {
background:#CCC;
padding:5px;
border-radius:0 0 5px 5px;
}
.colBoxSnsSocialbutton .colBoxUlist li {
border:0;
display:inline;
background:none;
margin:0;
padding:0;
}

/*=====================================================================*/
/* NEWZIA CONNECT */
/*=====================================================================*/
.colBoxR50 #newzia_connect_flmobile {
width:300px;
}
.colBoxR50 #newzia_connect_flmobile h4 {
border-bottom:2px solid #CCB;
float:none;
margin:0 0 5px;
padding:0 0 5px 20px;
width:auto;
clear:both;
background:url(http://image.itmedia.co.jp/images/ulli_note0.gif) no-repeat 0 0;
color:#111;
font-size:small;
font-weight:bold;
line-height:120%;
}
.colBoxR50 #newzia_connect_flmobile h4 u {
text-decoration:none;
}
.colBoxR50 #newzia_connect_flmobile img {
float:left;
margin:0 3px 2px 0 !important;
padding-right:0;
border:0;
}
.colBoxR50 #newzia_connect_flmobile a:link {
text-decoration:none;
}
.colBoxR50 #newzia_connect_flmobile a:visited {


text-decoration:none;
}
.colBoxR50 #newzia_connect_flmobile a:hover {
text-decoration:underline;
}
body .colBoxR50 #newzia_connect_flmobile a:link img,
body .colBoxR50 #newzia_connect_flmobile a:visited img {
border:0px;
padding-right:5px;
padding-bottom:2px;
}
.colBoxR50 #newzia_connect_flmobile .adsense .endlink p {
clear:both !important;
min-height:65px !important;
margin:0 0 5px !important;
padding:4px !important;
background:url(http://image.itmedia.co.jp/images/newzia_bg_1.gif) no-repeat left bottom !important;
border-left:none !important;
font-size:12px !important;
line-height:16px !important;
color:#555! important;
}
* html .colBoxR50 #newzia_connect_flmobile .adsense .endlink p {
height:65px;
}
.colBoxR50 #newzia_connect_flmobile p span.title {
font-size:12px !important;
font-weight:bold !important;
line-height:18px !important;
}
/* RD4630
----------------------------------------*/
.colBoxR50 #newzia_connect_flmobile ul#newart {
margin:0;
padding:0;
list-style:none!important;
}
.colBoxR50 #newzia_connect_flmobile ul#newart li {
clear:both !important;
min-height:65px !important;
margin:0 0 5px !important;
padding:4px !important;
background:url(http://image.itmedia.co.jp/images/newzia_bg_1.gif) no-repeat left bottom !important;
border-left:none !important;
font-size:12px !important;
line-height:16px !important;
color:#555! important;
}
* html .colBoxR50 #newzia_connect_flmobile ul#newart li {
height:65px;
}
.colBoxR50 #newzia_connect_flmobile ul#newart li a {
font-size:12px !important;
font-weight:bold !important;
line-height:18px !important;
}
/*---------------------------------------*/
#colBoxDictionaryMenu {
}
#colBoxDictionaryMenu .colBoxUlist ul li {
background:none;
border:1px solid #CCC;
margin:0;
padding:0;
display:block;
float:left;
width:30px;
height:30px;
text-align:center;
line-height:30px;
cursor:pointer;
}

/* CMS/Input Video - 12/06/21
------------------------------*/
.cmsVideo {
margin:0 auto 20px;
}
.cmsVideoContents {
}
.cmsVideoCaption {
padding:5px;
font-size:14px;
line-height:18px;
border:1px solid #CCC;
background:#EEE;
}

/* CMS/Input EmbeddedTweets - 13/03/29
------------------------------*/
.cmsEmbeddedTweets,
.cmsEmbeddedFBposts {
margin-bottom:20px;
}
.cmsEmbeddedTweets iframe,
.cmsEmbeddedFBposts .fb-post.fb_iframe_widget {
margin:0 0 5px !important;
}
.cmsEmbeddedInstagramCaption,
.cmsEmbeddedTweetsCaption,
.cmsEmbeddedFBpostsCaption {
padding:5px;
font-size:12px;
line-height:16px;
border-width:1px;
border-style:solid;
border-color:rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
-moz-border-top-colors:none;
-moz-border-right-colors:none;
-moz-border-bottom-colors:none;
-moz-border-left-colors: none;
border-image:none;
max-width:99%;
min-width:220px;
border-radius:10px;
box-shadow:0px 1px 3px rgba(0, 0, 0, 0.15);
background:#F6F6F6;
}

/* CMS/Input EmbeddedImgur - 15/04/13
------------------------------*/
.cmsEmbeddedImgur {
width:540px;
margin:0 auto 20px;
}
.cmsEmbeddedImgurCaption {
padding:5px;
font-size:12px;
line-height:16px;
border-width:1px;
border-style:solid;
border-color:rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
-moz-border-top-colors:none;
-moz-border-right-colors:none;
-moz-border-bottom-colors:none;
-moz-border-left-colors: none;
border-image:none;
max-width:99%;
min-width:220px;
border-radius:10px;
box-shadow:0px 1px 3px rgba(0, 0, 0, 0.15);
background:#F6F6F6;
}

/*=====================================================================*/
/* EMPTY SPACE */
/*=====================================================================*/
.h5px {
height:5px;
}
.h10px {
height:10px;
}
.h15px {
height:15px;
}
.h20px {
height:20px;
}
.h25px {
height:25px;
}
.h30px {
height:30px;
}
