@import url('/css/top.css');
/*---------------------------------------------------------------------*/
/* 20140901 colBoxCategoryArt */
/*---------------------------------------------------------------------*/
.colBoxCategoryArt .colBoxInner {
width:100%;
padding-bottom:15px;
}
.colBoxCategoryArt .colBoxInnerOperation,
.colBoxCategoryArt .colBoxInnerCareer,
.colBoxCategoryArt .colBoxInnerITtrain,
.colBoxCategoryArt .colBoxInnerEL {
clear:both;
}
.colBoxCategoryArt .colBoxInnerHead {
position:relative;
}
.colBoxCategoryArt .colBoxInnerHead h2 {
line-height:18px;
}
.colBoxCategoryArt .colBoxIndex {
margin-bottom:10px;
overflow:hidden;
}
.colBoxCategoryArt .colBoxDescription {
margin-bottom:5px;
padding-left:142px;
}
.colBoxCategoryArt .titleList {
margin-bottom:0;
clear:none;
}
.colBoxCategoryArt .titleList li{
margin-bottom:10px;
}
.colBoxCategoryArt h3,
.colBoxMatome h3 {
font-size:16px;
font-weight:bold;
}
.colBoxCategoryArt .snsBtns {
margin-bottom:0;
padding-right:0;
}
.colBoxCategoryArt .snsBtns ul li {
margin-bottom:6px;
float:none;
}
.colBoxCategoryArt .colBoxInnerOperation,
.colBoxCategoryArt .colBoxInnerDev,
.colBoxCategoryArt .colBoxInnerCareer,
.colBoxCategoryArt .colBoxInnerITtrain,
.colBoxCategoryArt .colBoxInnerEL {
padding-bottom:5px
}
.colBoxCategoryArt .colBoxInnerCareer .snsBtns {
margin-bottom:0;
}
.colBoxAnnounce .colBoxTitle,
.colBoxAnnounce .colBoxSubTitle,
.colBoxAnnounce .colBoxDescription,
.colBoxTopNewArticle .colBoxTitle,
.colBoxTopNewArticle .colBoxSubTitle,
.colBoxTopNewArticle .colBoxDescription,
.colBoxMatome .colBoxTitle,
.colBoxMatome .colBoxSubTitle,
.colBoxMatome .colBoxDescription {
padding-left:90px;
}
.colBoxCategoryArtTop .titleList {
margin-bottom:10px;
}
/*---------------------------------------------------------------------*/
/* 20140901 colBoxAnnounce */
/*---------------------------------------------------------------------*/
.colBoxAnnounce .colBoxIndex {
margin-bottom:10px;
}
.colBoxAnnounce .colBoxTitle h3 {
font-size:16px;
font-weight:bold;
}
.colBoxAnnounce .colBoxDescription {
margin-bottom:0;
}
.colBoxAnnounce .colBoxClear {
height:0;
}
/*---------------------------------------------------------------------*/
/* 20140901 colBoxMatome */
/*---------------------------------------------------------------------*/
.colBoxMatome {
padding-bottom:5px;
overflow:hidden;
}
.colBoxMatome .colright {
float:right;
}
.colBoxMatome .colleft,
.colBoxMatome .colright {
width:100%;
clear:both;
}
.colBoxMatome .colBoxIndex {
margin-bottom:10px;
}
/*---------------------------------------------------------------------*/
/* 20140708 colBoxPageLinkMore  */
/*---------------------------------------------------------------------*/
.colBoxPageLinkMore {
margin:0 -15px 25px -15px;
text-align:center;
background:#DDD;
border-top:1px solid #BBB;
border-left:1px solid #CCC;
border-bottom:1px solid #EFEFEF;
}
.colBoxPageLinkMore a {
color:#777;
display:block;
padding:10px;
box-shadow:0 0 7px 0 #FFFFFF;
}

/*---------------------------------------------------------------------*/
/* 20140708 colBoxTopStories  */
/*---------------------------------------------------------------------*/
#masterMain {
padding:5px 15px 15px;
}
#masterMain #colBoxTopStoriesTop {
margin-bottom:10px;
}
#colBoxTopStoriesTop .colBoxIcon,
#colBoxTopStoriesTop .colBoxIcon .colBoxIconIndex {
display:inline;
/float: left;
}
#colBoxTopStoriesBottom .colBoxIcon,
#colBoxTopStoriesBottom .colBoxIcon .colBoxIconIndex {
display:block;
/float: left;
}
#masterMain .colBoxTopStories .colBoxIndex {
margin-bottom:5px;
}
#colBoxTopStoriesTop .colBoxTitle h3 {
font-size:24px;
}
#colBoxTopStoriesTop.colBox .colBoxTitle {
margin-bottom:15px;
}
#colBoxTopStoriesTop .colBoxSubTitle h5 {
font-size:14px;
}
#colBoxTopStoriesTop .colBoxSubTitle {
margin-bottom:10px;
}
#colBoxTopStoriesTop .colBoxDescription p {
font-size:14px;
}
#colBoxTopStoriesBottom .colBoxTitle h3 {
font-size:16px;
}
.colBoxTopStories .topStoriesIcon {
box-shadow:none;
}
.colBoxTopStories .topStoriesIcon img {
width:240px;
}
.colBoxTopStories .colBoxTitleList {
width:390px;
}
.colBoxTopStories .colBoxTitleList h3 {
font-weight:bold;
width:390px;
}
.colBoxTopStories .colBoxTitleList h3 .arrow {
opacity:0;
}
.colBoxTopStories .colBoxTitleList .colBoxTitle {
border:none;
}
#colBoxTopStoriesBottom .colBoxTitleList {
float:left;
width:360px;
}
#topStoriesTitles small {
display:block;
font-size:11px;
color:#BD372F;
}
#colBoxTopStoriesTop .colBoxIcon a {
margin:0 20px 0 0;
}
#colBoxTopStoriesBottom .colBoxIcon a {
width:auto;
height:auto;
}
#colBoxTopStoriesBottom .colBoxIcon img {
width:120px;
height:auto;
float:none;
}
#colBoxTopStoriesBottom .colBoxDescription {
padding-left:142px;
}

/*---------------------------------------------------------------------*/
/* 20140827 colBoxInnerNewsInsight  */
/*---------------------------------------------------------------------*/
.colBoxInnerNewsInsight {
padding-bottom:5px;
}
.colBoxInnerNewsInsight .colBoxIndexLeft, 
.colBoxInnerNewsInsight .colBoxIndexRight {
margin-bottom:0;
}
.colBoxInnerNewsInsight .colBoxIndexLeft {
width:450px;
float:left;
}
.colBoxInnerNewsInsight .colBoxIndexLeft .colBoxUlist ul li {
margin-bottom:10px;
}
.colBoxInnerNewsInsight .colBoxIndexLeft .colBoxUlist .prLinkList{
padding-left:21px;
background:url(http://image.itmedia.co.jp/ait/images/top_adtxt_bg.gif) no-repeat 0 3px;
}
.colBoxInnerNewsInsight .colBoxIndexRight {
width:160px;
padding:5px;
border:1px solid #ddd;
background:#eee;
float:right;
}
.colBoxInnerNewsInsight .colBoxIcon {
width:122px;
display:block;
overflow:hidden;
margin:0 auto 5px;
}
.colBoxInnerNewsInsight .colBoxIcon a {
margin:0;
display:block;
width:120px;
height:90px;
background:url(http://image.itmedia.co.jp/ait/images/top_NewsInsight_noicon.jpg) no-repeat 0 0;
}
.colBoxInnerNewsInsight .colBoxIndexRight .colBoxSubTitle {
display:none;
}
.colBoxInnerNewsInsight .colBoxIndexRight .colBoxTitle  h3 {
font-size:12px;
}