/*
-----------------------------------------------
Site Handheld Styles
Author:   Dmitry Paputsa (higher at http://higher.com.ua)
Version:  20 March 2009
----------------------------------------------- */
body {
	background: #FCFCFC;
  	color: #333;
  	font: 100%/1.3 Tahoma, Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4 {
	color:#000;
}
.error {
	color:#c00;
}
.hint {
	font-style:italic;
}