@charset "utf-8";
/* CSS Document */
html{background:none repeat scroll 0 0 #FFFFFF; color:#333; overflow-y:scroll}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, form, th, td{margin:0; padding:0}
body, button, input, select, textarea{font:12px/1.5 Tahoma,Arial,"宋体",sans-serif}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
legend{color:#000000}
fieldset, img{border:0 none}
button, input, select, textarea{font-size:100%}
hr{border:0;height:1px;*color:#fff}
address, cite, dfn, em, var{font-style:normal}
small{font-size:12px}
.fl-clear{clear:both}
.fl-clr{zoom:1}
.fl-clr:after{display:block;clear:both;height:0;content:"\0020"}
table{border-collapse:collapse; border-spacing:0}
ul, ol{list-style:none outside none}
a{text-decoration:none; color:#333}
a:hover{color:#c70000; text-decoration:none}

/*  zg_top    */
.zg_top{height:35px; line-height:35px; width:100%; background:#f6f6f6; border-bottom:1px #cfcfcf solid;}
.zg_top .zg_top_0,.logo,.login_0,.zg_foot{width:980px; margin:0 auto}
.zg_top_lf,.zg_top_lf li,.zg_top_rt li,.inc_item dl dd,.inc_items dl dd,.logo img,.logo span,.search-warp input,.titlealink2 a,.login_0 ul li,.zg_foot_lf{float:left}
.logo img{ margin-top:10px;}
.zg_top_lf li{max-width:300px; height:35px; }
.zg_top_lf li.s_tits_ls,.zg_top_lf li.chage_stit,.inc_item dl,.inc_items dl,.login_0 span,.conment a.zg_more,.title_2 a.zg_more_0,.tab-tit li,.search-warp .serch-items li.now,.tab-cont-1 li,.title h4,.title h1,.zggj ul li,.titlealink2 a.hoveron,.title_0 span,.title_0 .index_0,.title_0 .index_2,.link a.zg_more{background:url("http://himg.china.cn/img/mainsite/channal_zg.png") no-repeat right bottom}
.zg_top_0 .zg_top_lf{width:70%}
.zg_top_lf li a{color:#696969; margin-right:15px; cursor:pointer}
.zg_top_lf li .unlog_an a{margin-right:10px;}
.zg_top_0 li .zg_top_lf li.chage_stit a:hover{text-decoration:none; color:#c70000}
.zg_top_0 li a:hover{color:#333}
.zg_top_0 .zg_top_rt{float:right; width:30%}
.zg_top_rt ul{float:right}
.zg_top_rt li,.zg_foot_lf p{color:#888}
.zg_top_rt li a{color:#666; padding:0px 10px}
.zg_top_lf li.s_tits_ls{background-position:56px -172px; position:relative;width:68px;}
#oLi{margin-right:15px}
.zg_top_lf li.chage_stit{background-position:0px -129px ; position:relative; z-index:1081;width:68px}
.chg_all,.chg_alls{float:left; position:relative; z-index:1080}
.zg_top_lf .inc_item,.zg_top_lf .inc_items{background:#fff;border:1px solid #cfcfcf; padding:10px 15px 5px 15px; position:absolute; width:180px; z-index:1088}
.zg_top_lf .s_tits li a, .s_tits .s_tit span,.zg_top_lf .s_titss li a, .s_titss .s_tit span{color:#696969; cursor:pointer; margin:0 7px}
.s_tits,.s_titss{padding-left:5px}
.inc_item dl,.inc_items dl{line-height:22px; background-position:0px 34px; height:45px; padding-bottom:3px; margin-bottom:5px}
.inc_item dl.bdno,.inc_items dl.bdno{background:none}
.zg_top_lf li .inc_item dd.bdmfno a,.zg_top_lf li .inc_items dd.bdmfno a{margin-right:0px}
.zg_top_lf li .s_tits li .inc_item a,.zg_top_lf li .s_titss li .inc_item a,.zg_top_lf li .s_tits li .inc_items a,.zg_top_lf li .s_titss li .inc_items a{float:left;margin:0 7px 0 0; white-space:nowrap}

/*   logo  */
.logo-yd{background:url(http://himg.china.cn/img/mainsite/20141231.jpg) no-repeat center center; display:block; width:100%}
.logo-chunjie{background:url(http://himg.china.cn/img/mainsite/2015chunjie.gif) no-repeat center center; display:block; width:100%}
.logo{padding:18px 0}
.logo span,.logo .con_tit a{padding:20px 0px 0px 6px; color:#777}
.logo span img{margin-top:-10px; padding-left:5px}
.search-warp{float:right; width:456px; _width:459px; height:55px; margin:0px}
.search-warp .serch-items{letter-spacing:-5px; overflow:hidden; word-spacing:-1px}
.search-warp .serch-bar{padding:0px}
.search-warp .serch-items li.now{background-position:18px -517px;  color:#d10504;	font-weight:bold; height:23px}
.search-warp .serch-items li{display:inline-block; float:left; font-size:12px;  height:23px; line-height:17px; letter-spacing:normal; margin-left:-2px; text-align:center;vertical-align:top; width:45px; cursor:pointer; word-spacing:normal}
.search-warp .tab-cont-1{float:left; background:#fff; width:442px; _width:446px}
.search-warp .searchX-wrap{height:28px}
.search-warp input{display:inline}
.search-warp .searchkuang{background:url(http://himg.china.cn/img/mainsite/fdj.jpg) no-repeat 5px center; border:2px solid #d10504 !important; height:24px; line-height:24px; padding:2px 4px 2px 20px; position:relative; width:327px}
.search-warp .sub-btn{background:#d10504 !important; border:0 none; color:#FFFFFF; cursor:pointer;  font-size:14px; font-weight:600; height:32px; line-height:32px;margin-left:-1px; overflow:hidden; width:88px}

/*   foot jifenhuodong  */
.foot{padding:0 0 20px; width:980px; margin:10px auto 0 auto}
.foot .links{background:url(http://himg.china.cn/img/mainsite/jifen/ft.png) repeat-x; height:27px;border:none}
.foot p{text-align:center;line-height:1.8;padding:3px 0;color:#333}
.foot p a,.foot p span{color:#333;margin:0 5px}
.foot p a:hover{color:#c70000}

/*   2013.11.07  pingdaoye top       */
#oLi{padding-top:1px\9}
.zg_top .cm_top,.cm_logo{width:960px; margin:0 auto}
.con_line{background:url(http://himg.china.cn/img/mainsite/comtp.png) no-repeat 0 -140px; height:55px;margin:5px 15px 0;width:5px; float:left}
.logo .con_tit span,.logo .con_tit a{color:#DD0404;font-family:"Microsoft YaHei",SimHei,"WenQuanYi Zen Hei",STHeiti,Tahoma,Arial,STHeiti,sans-serif;font-size:24px; float:left;font-weight:700; line-height:26px; _line-height:26px;padding-top:18px}

/*   2013.12.16  shengdan 					*/
/*.logo{background:url("../../img/mainsite/2014yd.jpg") no-repeat; display:block; width:980px}*/
/*.search-warp .tab-cont-1{background:#fff}*/
/*.lgjrbj{background:url("../../img/mainsite/cj.jpg") no-repeat; display:block; width:980px}*/
.xmas{background:url("http://himg.china.cn/img/mainsite/index/2015xmas-logo.gif") no-repeat; display:block; width:980px}
.newyear{background:url("http://himg.china.cn/img/mainsite/index/2016newyear-logo.png") no-repeat 140px 1px;display:block; width:980px}
.chunjie{background:url("http://cn.china.cn/images/2016/2016springfestival-logo.gif") no-repeat 130px 0px;display:block; width:980px}
.doubleseventh{background:url("http://himg.china.cn/img/mainsite/index/DoubleSeventhDay.png") no-repeat 137px 3px;display:block; width:980px}
.search-warp .sub-btn{float:right; _float:left}
/*	 2014.1.13		*/
.zg_top_0 .zg_top_lf{width:50%}
.zg_top_0 .zg_top_rt{width:50%}

/*		2014.2.8	dingbu:suoyouhangye	*/
.fy_xg_ul .imit-serlect{float:left;position:relative;height:22px;padding:1px}
.fy_xg_ul .imit-serlect .selected-cont{height:20px;border:1px #e4e4e4 solid;display:block;line-height:20px;padding-left:10px;padding-right:25px;margin-right:20px;background-position:right 0;cursor:pointer}
.fy_xg_ul li.open .drop-menu{display:block}
.fy_xg_ul .drop-menu{border:1px #cfcfcf solid;position:absolute;top:35px;background:#fff;width:173px;padding:5px 0;line-height:24px;overflow:hidden;z-index:1; display:none}
.fy_xg_ul .ab-area,.fy_xg_ul{position:relative}
.fy_xg_ul .ab-area,.fy_xg_ul li.open{z-index:2}
.fy_xg_ul .imit-serlect{border:none; padding:0}
.fy_xg_ul .imit-serlect .selected-cont,.fy_xg_ul .open .selected-cont{padding:0 15px 0 6px; width:48px; margin:0; border:0; color:#666666; background:url("http://himg.china.cn/img/mainsite/channal_zg.png") no-repeat 56px -172px;height:35px; line-height:35px;position:relative;z-index:1081}
.drop-menu{border-width:1px; right:0px; top:37px; z-index:1088; border-top:none}
.fy_xg_ul .open .selected-cont{background-position:0px -129px; border:none}
.fy_xg_ul .drop-menu{width:180px; padding:5px 5px 10px 10px}
.zg_top_rt .drop-menu a{float:left;padding:0 8px 0 0; white-space:nowrap; line-height:24px}
.fy_xg_ul .drop-menu a.col_blu{color:#387DCB}
.zg_top_rt .drop-menu a:hover{color:#cd0000}


.xzh{position:relative;top:-8px;right:25px; z-index:2}
/*2015.6.5 qrcode*/
.qr-grandfa{position:relative;width:102px;height:1px;float:right}
.qr-fa{position:absolute;top:-16px;right:0px}
.wx-atten{color:#666666;line-height:20px}
.qrcode{margin-left:10px}

@charset "utf-8";
body{font-family:"Microsoft YaHei"; position:relative}
input{outline:none}
.bw_1190{width:1190px; margin:0 auto}
.fl_an{float:left}

.fr_an{float:right}
.nav_top i,.charts_box i,.earn_dd i{background:url(http://himg.china.cn/img/mainsite/index_v2/ioc.png) no-repeat}
.nav_second .li .a i,.floor_ul li a i{background:url(http://himg.china.cn/img/mainsite/index_v2/ioc_c.png) no-repeat}
.theme_left i img,.theme_middle_r dd a img{webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.line_img i img,.theme_middle_r dd a:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.top_box{color:#696969}
.bw_1190,.logo-bar,.search-warp,.search-warp .searchkuang,.c1_left,.nav_ul li,.ck-slide,.ck-slide ul.ck-slide-wrapper li,.ck-slide ul.ck-slide-wrapper li a img,.scroll_ul li,.theme_middle_r,.theme_middle_l,.theme_middle_l li,.information_left,.information_left_show,.footer_ul li,.fast_registration *,.float_logo_box{-webkit-transition: all 1s ease;transition: all 1s ease}

/*顶部样式*/
.top-bor{height:35px; line-height:35px; width:100%; background:#f6f6f6; border-bottom:1px #e6e6e6 solid}
.hotline_top{float:left; height:35px; padding:0 15px; color:#696969}
.hotline_top span{font-family:Arial, Helvetica, sans-serif; font-weight:bold}
.memberid{float:left; display:none}
.memberid a{color:#0059d6; margin:0 0 0 3px}
.topNav li a:hover{color:#e60000;text-decoration:none}
.memberid a:hover{color:#e60000}
.topNav{float:right}
.topNav li{height:100%;float:left;_display:inline;color:#e6e6e6}
.topNav li a{padding-left:8px;padding-right:8px}
.topNav .quick_nav{background:none;position:relative}
.nav-hover{display:none;position:absolute;clear:both;right:-1px;top:35px;width:100%;background:#fff;text-align:center;border:1px #dcdcdc solid;border-top:none;z-index:2000; line-height:25px; padding: 5px 0}
.topNav .quick_nav.quick_hove{background:#fff;border:1px #dcdcdc solid;border-top:none;border-bottom:none;/* padding-left:7px; */margin-left:-1px}
.topNav  .quick_nav.quick_hove .a_wrap a{padding-right:7px}
.topNav a{color:#696969}
.topNav li .a_wrap a{margin-right:12px;position:relative;cursor:pointer; color:#696969}
.topNav li .a_wrap a span{border:4px #f9f9f9 solid;width:0;height:0;overflow:hidden;border-top-color:#666;top:6px;right:-4px;position:absolute;font-size:0;line-height:0;-webkit-transition:-webkit-transform .2s ease-in;-webkit-backface-visibility:hidden;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in}
.topNav .quick_hove .a_wrap a span{right:-4px;border:4px #fff solid;border-top-color:#c60000;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%}
.topNav .quick_hove .a_wrap a{color:#e60000}
.topNav .quick_hove .a_wrap span{color:#f6f6f6}
.quick_nav .inc_items{background:#fff;border:1px solid #cfcfcf; border-top:0; padding:10px 15px 5px 15px; position:absolute; width:180px; z-index:1088; text-align:left; right:auto; left:-1px}
.quick_nav .inc_items dl dt{color:#333}
.quick_nav .inc_items a{padding:0;margin-right:15px}
.quick_nav .inc_items dl dd.bdmfno a{ margin:0}

/*logo部分样式*/
.logo-bar{width:1190px; padding:0; height:120px; margin:0 auto}
.logo_left{float:left; padding-top:42px; height:44px}
.logo_left img{ float:left}
.logo_left .slogan{width:125px; height:43px; background:url(http://himg.china.cn/img/mainsite/slogan.png) no-repeat; float:left; margin: 0px 0 0 15px}

.logo_left span{width:89px; height:60px;  float:left; margin:-16px 0 0 15px}

/*.logo_left .time_6{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat 0 0}
.logo_left .time_7{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat -112px 0}
.logo_left .time_12{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat -223px 0}
.logo_left .time_15{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat -328px 0}
.logo_left .time_18{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat -436px 0}
.logo_left .time_20{background:url(http://himg.china.cn/img/mainsite/index_v2/time.png) no-repeat -537px 0}*/
/*.logo_left span img{display:none}*/
.logo_left span img{ margin-top:16px}

/*搜索框*/
.logo .search-warp span{padding:0}
.search-warp{width:680px; padding-top:23px; height:65px}

.search-warp .tab-cont-1{width:100%; height:40px}
.search-warp .sub-btn{width:81px; height:40px; background:#e60000 !important; font-family:"Microsoft YaHei"; float:left}
.search-warp .sub-btn:hover{background:#d20000 !important}
.search-warp .searchkuang{background:#fff; border:1px solid #e6e6e6 !important; height:38px; line-height:38px; width:418px; padding:0 10px; font-size:14px;font-family:"Microsoft YaHei"; display:block}
.search-warp .searchkuang.hover{border:2px solid #e60000 !important; height:36px; border-right:0 !important}
.content{width:1190px; margin:0 auto; padding:0 0 20px 0}
.search-warp .serch-items li{ font-size:14px; padding-left:5px}
.search-warp .serch-items li.now{ background:none; font-weight:normal}
.help_a{display:block; width:148px; height:38px; border:1px solid #e6e6e6; text-align:center; font-size:14px; background:#fafafa; line-height:38px; float:right; cursor:pointer; position:relative}
.help_a:hover{color:#c70000}

.help_a span{display:block;width:148px; height:38px; border:1px solid #e6e6e6; text-align:center; font-size:14px; background:#fafafa; line-height:38px; position:absolute; left:0; top:48px; display:none}
.help_a:hover span{color:#333; cursor:default}

/*关注官方微信*/
.qr-grandfa{width:95px}
.wx-atten{text-align:center}
.logo .thumb_img{float:none}
.qr-fa{top:12px;right:-5px}



/*尾部样式*/
.footer{background:#262626; padding:45px 0 20px 0; color:#696969; margin-top:20px}
.footer a{color:#696969;-webkit-transition:all 1s ease;transition:all 1s ease}
.footer_top{position:relative; padding-right:205px; min-height:215px; padding-bottom:10px}
.footer_ul{overflow:hidden; width:100%}
.footer_ul li{float:left; width:160px; margin-right:75px}
.footer_ul li .t{border-bottom:1px solid #333; font-size:14px; color:#b2b2b2; padding:15px 0; margin-bottom:10px}
.footer_ul li p{line-height:28px}
.footer_service{width:180px; position:absolute; height:170px; right:30px; top:15px; text-align:center; color:#696969}
.footer_service i{display:block; width:63px; height:66px; background:url(http://himg.china.cn/img/mainsite/index_v2/service.png) no-repeat; margin:0 auto}
.footer_service p{line-height:26px}
.footer_service .t1{font-size:16px}
.footer_service .t2{font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:bold}

.footer a:hover{ color:#fff}
.footer_bottom{text-align:center; line-height:25px; padding-top:15px; border-top:1px solid #333}
.footer_bottom .link{color:#333}
.footer_bottom .link a{margin:0 10px}
.footer_bottom p span{padding:0 10px; color:#333}

.icon_img{padding-top:15px}
.icon_img img{margin:0 5px;filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;-webkit-transition:all 1.5s ease;transition:all 1.5s ease; height:35px; width: 95px}
.footer_bottom .icon_img span{ padding:0}
.icon_img a:hover img{filter:alpha(opacity=100);-moz-opacity:1;opacity:1}

/*主题部分*/
.conment{}
.conment_c1{}
.c1_left,.c1_right{height:575px}
.c1_left{width:935px; float:left}
.c1_right{width:240px; float:right}
/*导航*/
.nav_ul{height:45px; float:left; padding-left:15px}
.nav_ul li{float:left; width:118px; height:45px; text-align:center; line-height:45px; font-size:16px}
.top-nav{height:45px; background:#fff}
.nav_pop{width:200px; height:45px; float:left}
.nav_top{height:45px; padding-left:20px; font-size:16px; cursor:auto; background:#e60000; color:#fff; line-height:45px}
.nav_top i{display:block; width:16px; height:14px; float:left; background-position:0 -35px; margin:17px 10px 0 0}

/*二级导航*/
.nav_second{width:198px; border:1px solid #e6e6e6; border-top:0; background:#fafafa; height:510px; padding:10px 0; position:relative}
.nav_second .li .a{display:block;height:34px; padding-left:20px; font-size:14px; line-height:34px; overflow:hidden; cursor:pointer}
.nav_second .li .a i{display:block; width:16px; height:16px; float:left; margin:9px 10px 0 0}
.nav_second .hover .a i{-webkit-transition:all 0.5s ease;transition:all 0.5s ease}
.nav_second .li .a .i1{background-position:0 0}
.nav_second .li .a .i2{background-position:0 -54px}
.nav_second .li .a .i3{background-position:0 -103px}
.nav_second .li .a .i4{background-position:0 -157px}
.nav_second .li .a .i5{background-position:0 -211px}
.nav_second .li .a .i6{background-position:0 -265px}
.nav_second .li .a .i7{background-position:0 -320px}
.nav_second .li .a .i8{background-position:0 -376px}
.nav_second .li .a .i9{background-position:0 -432px}
.nav_second .li .a .i10{background-position:0 -488px}
.nav_second .li .a .i11{background-position:0 -544px}
.nav_second .li .a .i12{background-position:0 -600px}
.nav_second .li .a .i13{background-position:0 -655px}
.nav_second .li .a .i14{background-position:0 -710px}
.nav_second .li .a .i15{background-position:0 -766px}

.nav_second .li.hover .a{background:#e60000; color:#fff}
.nav_second .li.hover .a a{color:#fff}
.nav_second .li.hover .a a:hover{color:#ffbbbb}
.nav_second .li.hover .a .i1{background-position:0 -28px}
.nav_second .li.hover .a .i2{background-position:0 -82px}
.nav_second .li.hover .a .i3{background-position:0 -132px}
.nav_second .li.hover .a .i4{background-position:0 -186px}
.nav_second .li.hover .a .i5{background-position:0 -239px}
.nav_second .li.hover .a .i6{background-position:0 -292px}
.nav_second .li.hover .a .i7{background-position:0 -348px}
.nav_second .li.hover .a .i8{background-position:0 -404px}
.nav_second .li.hover .a .i9{background-position:0 -460px}
.nav_second .li.hover .a .i10{background-position:0 -516px}
.nav_second .li.hover .a .i11{background-position:0 -572px}
.nav_second .li.hover .a .i12{background-position:0 -628px}
.nav_second .li.hover .a .i13{background-position:0 -683px}
.nav_second .li.hover .a .i14{background-position:0 -738px}
.nav_second .li.hover .a .i15{background-position:0 -794px}

.nav_second .li .txt{display:none; position:absolute; left:198px; top:0; border:1px solid #e6e6e6; width:705px; height:529px; z-index:999; padding:0 0 0 30px; background:#fff}
.nav_second .li .txt *{overflow:hidden}
.nav_second .li .txt .txt_left{width:440px; height:495px; float:left; padding:31px 25px 0 0}
.title_first{font-size:16px; color:#e60000; font-weight:bold}
.title_first a{color:#e60000}

.industry_ul{overflow:hidden; padding-top:18px}
.industry_ul li{padding-top:15px}
.industry_ul li .title_second{height:30px; font-size:14px; border-bottom:1px solid #000; }
.industry_ul li .title_third{line-height:28px; margin-left:-45px;padding:7px 0 0 0; /*height:87px*/}
.industry_ul li .title_third a{display:block; width:75px; height:28px; float:left; margin-left:45px}
.many_li li{width:195px; float:left; padding-left:48px}
.many_li{margin-left:-48px}

.nav_second .li .txt .txt_right{width:240px; height:529px; float:left; background:#000}
.nav_second .li .txt .txt_right .img{height:330px}
.nav_second .li .txt .txt_right .img img{width:100%; height:330px}
.nav_second .li .txt .txt_right .img_ul{height:200px; background:#fafafa}
.nav_second .li .txt .txt_right .img_ul li{width:120px; height:50px; float:left; text-align:center; padding-top:12px}


.conment_middle{height:530px; padding-left:215px}
.banner{height:365px; background:#ccc; overflow:hidden}
.scroll_img{height:150px;background:#ccc; margin-top:15px; position:relative}
.scroll_img *{overflow:hidden}
.btn_change{width:18px; height:35px; position:absolute; top:50%; margin-top:-17.5px; z-index:22; line-height:500px;background:url(http://himg.china.cn/img/mainsite/index_v2/btn_change.png) no-repeat; cursor:pointer; display:none}
.left_x{left:0; background-position:0 0}
.right_x{right:0;background-position:right 0}
.scroll_show{height:150px;position:relative}
.scroll_ul{height:150px; position:absolute; left:0; top:0; width:99999999999px}
.scroll_ul li{width:240px; height:150px;background:url(http://himg.china.cn/img/mainsite/index_v2/scroll_ul.jpg) no-repeat; float:left}
.scroll_ul li a{display:block; padding:20px; height:110px; font-size:14px; color:#696969; position:relative}
.scroll_ul li a .t{font-size:16px; color:#e60000}
.scroll_ul li a .txt{position:relative; z-index:11}
.scroll_ul li a img{right:10px; bottom:8px; position:absolute}

.c1_right_title{height:45px; text-align:center; display:table; width:100%}
.c1_right_title span{display:table-cell;vertical-align:middle}
.c1_right_box{border:1px solid #e6e6e6; border-top:1px solid #e60000; height:528px; background:#fff}
.c1_right_2 *,.c1_right_3 *,.c1_right_4 *{overflow:hidden}
.c1_right_2,.c1_right_3,.c1_right_4,.c1_right_1{overflow:hidden}
.c1_right_1{height:204px}

.c1_right_2{height:157px; border-top:1px solid #e6e6e6; background:#fafafa}
.c1_right_2 .tab-tit{height:27px; line-height:29px; padding:10px 15px 0 15px}
.c1_right_2 .tab-tit li{float:left; height:26px; /*margin-right:18px;*/ width:25%; cursor:pointer; text-align:center;    background: #fafafa}
.c1_right_2 .tab-tit li.now{/*border-bottom:1px solid #e60000*/ }
.c1_right_2 .tab-show{height:46px; margin:0 15px; padding:10px 0; border-bottom:1px dashed #e6e6e6}
.tab_cont_ul{height:46px; line-height:23px}
.tab_cont_ul li{height:23px; background: #fafafa}
.c1_right_2 .tab-cont-1{display:none}
.c1_right_2 .tab-cont-1 .a1,.c1_right_2 .tab-cont-1 .a2{height:28px; line-height:28px; float:left; padding:0 13px; display:block; font-size:14px; border:1px solid #e6e6e6;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px; background:#fff; margin-top:3px}
.c1_right_2 .tab-cont-1 .a1:hover,.c1_right_2 .tab-cont-1 .a2:hover{background:#e60000; color:#fff; border:1px solid #e60000}
.c1_right_2 .tab-cont-1 .a2{margin-left:10px}
.charts_box{height:50px; line-height:50px; padding:0 15px}
.charts_box i{display:block; width:48px; height:15px; background-position:0 0; float:left; margin-top:17px}
.charts_box a{font-size:13px; margin-left:10px}

.c1_right_3{height:46px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.c1_right_3 li{height:24px; line-height:24px; padding:0 15px; text-align:right}
.c1_right_3 li span{font-size:14px}
.c1_right_3 li a{color:#b2b2b2; font-size:12px}
.c1_right_3 li span{float:left; color:#333}
.c1_right_3 li span font{color:#e60000; padding-left:5px}
.c1_right_3 li a:hover,.c1_right_3 li a:hover span{color:#e60000}
.c1_right_3_div{height:24px; margin:11px 0}

.c1_right_4{height:119px}
#box{height:89px; margin:15px}
.c1_right_4 ul{}
.c1_right_4 ul li{height:22px; line-height:22px}
.c1_right_4 ul li .t{color:#0059d6; padding-right:5px}
.c1_right_4 ul li .r{float:right; color:#b2b2b2}

.gg_box{margin-top:28px}
.gg_box img{width:100%}

.theme_box{position:relative}
.theme_middle *{overflow:hidden}
.theme_title{height:64px; line-height:64px; font-size:18px}
.theme_title .t{color:#e60000; font-weight:bold; font-size:22px; padding-right:8px}
.theme_txt{height:330px; border:1px solid #e6e6e6; padding:0 240px 0 230px; position:relative; background: #fff}
.theme_left{position:absolute; left:0; top:0; width:230px; height:330px; background:url(http://himg.china.cn/img/mainsite/index_v2/theme_left.jpg) no-repeat; overflow:hidden}
.theme_left a{display:block; width:100%; height:330px; position:relative}
.theme_left .line{display:block;position:absolute;top:331px;left:-100px;z-index:1; width:493px; height:575px; background:url(http://himg.china.cn/img/mainsite/index_v2/line.png) no-repeat}

.line_img .line{-webkit-transition:all .3s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s cubic-bezier(0,0,.65,1.05);top:-575px}

.theme_left i{display:block; text-align:center; position:absolute; bottom:110px; width:100%}
.theme_left .txt{padding:230px 20px 0 20px;font-size:14px}
.theme_left .txt .t{font-size:20px; color:#e60000; font-weight:bold}
.theme_left .txt .tt{color:#696969}
.theme_left .txt .a{padding-top:10px;color:#b2b2b2}
.theme_left .txt p a{color:#b2b2b2}
.theme_left .txt p a:hover{color:#e60000}

.theme_right{width:238px; height:330px; position:absolute; right:0; top:0; border-left:1px solid #e6e6e6}
.theme_right .txt1{height:209px; border-bottom:1px solid #e6e6e6; padding:0 15px}
.theme_right .txt1 .t{font-weight:bold; padding-top:30px; color:#333}
.theme_right .txt1 .tt{color:#696969}
.theme_right .txt1 .img{height:120px; padding-top:15px; text-align:right}
.theme_right .txt1 .img img{max-height:110px; max-width: 200px; margin: 5px 0; }
.theme_right .txt2,.theme_right .txt3{height:120px; padding:0 10px; float:left; width:98px}
.theme_right .txt2 .t,.theme_right .txt3 .t{font-weight:bold; padding-top:10px; color:#333}
.theme_right .txt2 .tt,.theme_right .txt3 .tt{color:#696969; height:18px; overflow:hidden}
.theme_right .txt2 .img,.theme_right .txt3 .img{height:71px; padding-top:2px; text-align:right}
.theme_right .txt2 .img img,.theme_right .txt3 .img img{max-height:65px; margin: 3px 0; max-width: 95px}
.theme_right .txt3{border-left:1px solid #e6e6e6}

.theme_middle{padding:36px 0 0 29px; height:294px}
.theme_middle_l{float:left; height:294px; width:360px}
.theme_middle_l li{width:180px; float:left; height:140px}
.theme_middle_l li .t{font-weight:bold; height:30px}
.theme_middle_l li .txt{padding-right:20px; height:90px}
.theme_middle_l li .txt p{width:50%; float:left; height:30px; line-height:30px}
.theme_middle_l li .txt p a{-webkit-transition:all 1s ease;transition:all 1s ease}
.theme_middle_l li .txt p a:hover{color:#e60000}
.theme_middle_r{width:310px; float:left; height:294px}
.theme_middle_r dt{font-weight:bold; height:40px}
.theme_middle_r dd{height:95px; padding-left:105px; position:relative; margin-bottom:20px}
.theme_middle_r dd .img{display:block;position:absolute; left:0; top:0; border:1px solid #e6e6e6;width:93px; height:93px; }
.theme_middle_r dd img{width:95px; height:95px; }
.theme_middle_r dd p{padding:10px 0 0 0; font-weight:bold; height:30px; line-height:30px}
/*.theme_middle_r dd .txt a,.theme_middle_r dd .txt .t{margin-right:5px; display:inline-block}*/

.information_box{overflow:hidden; padding-top:20px}
.information_box *{overflow:hidden}
.information_box .title{height:40px; line-height:40px; border-bottom:1px solid #000; font-size:16px; margin-bottom:20px}
.information_left{width:950px; float:left}
.information_left_show{height:200px; width:585px; float:left; position:relative}
.information_left_txt{width:335px; float:right; height:200px; padding-right:15px}
.information_left_txt p{height:28px; line-height:28px; font-size:14px}
.information_left_txt p span,.information_left_txt p span a{color:#e60000}
.information_left_txt p span{padding-right:5px}

.information_right{width:240px; float:left}
.information_right_ul{height:112px}
.information_right_ul li{font-size:14px; height:28px; line-height:28px}
.information_right_ul li span{padding-right:5px}

.links_tab{overflow:hidden; padding-top:20px}
.links_tab ul{height:40px; line-height:40px; font-size:16px; border-bottom:1px solid #000; color:#000}
.links_tab ul li{height:40px; float:left; margin-right:30px; cursor:pointer}
.links_tab ul li.now{border-bottom:1px solid #e60000; color:#e60000}
.links_tab .tab-show{padding:10px 0; font-size:14px; color:#e6e6e6; line-height:28px}
.links_tab .tab-show a{color:#696969; display:inline-block}
.links_tab .tab-show span{padding:0 10px;display:inline-block}
.links_tab .tab-show a:hover{color:#e60000}
.links_tab .tab-show .tab-cont-1{display:none}


/*logo漂浮框*/
.float_logo{background:#e60000; position:fixed; left:0; top:0; width:100%; z-index:99999; display:none}
.float_logo_box{width:1190px; height:50px; margin:0 auto; overflow:hidden}
.float_logo_box .logo_a{padding:7.5px 0; display:block; float:left}
.float_logo_box .search-warp{width:680px; height:35px;padding-top:7px}
.float_logo_box .search-warp .tab-cont-1{height:35px; background:#e60000}
.float_logo_box .search-warp .searchkuang{height:33px;line-height:33px}
.float_logo_box .search-warp .sub-btn{height:35px; background:#000 !important;background:#000; color:#fff}
.float_logo_box .help_a{height:33px; line-height:33px}
.float_logo_box .search-warp .searchkuang.hover{border:2px solid #000 !important; height:31px; line-height:31px; border-right:0 !important}

/*左侧楼层导航*/
.name_a{display:block; height:1px; width:1px; position:absolute; z-index:-1; top:-50px; left:-1px}
.floor_box{width:30px; position:fixed; top:70px; display:none}
.absolute{position:absolute; top:auto; bottom:520px}
.floor_ul li{height:34px; border-bottom:1px solid #f6f6f6}
.floor_ul li a{display:block; line-height:12px; padding:5px 0; text-align:center; height:24px;color:#e60000; overflow:hidden}
.floor_ul li a span{display:none}
.floor_ul li a i{display:block; width:16px; height:16px; margin:4px auto}
.floor_ul li a.hover i,.floor_ul li a:hover i{display:none}
.floor_ul li a.hover span,.floor_ul li a:hover span{display:block}
.floor_ul li.f1 a i{background-position:0 0}
.floor_ul li.f2 a i{background-position:0 -54px}
.floor_ul li.f3 a i{background-position:0 -103px}
.floor_ul li.f4 a i{background-position:0 -157px}
.floor_ul li.f5 a i{background-position:0 -211px}
.floor_ul li.f6 a i{background-position:0 -265px}
.floor_ul li.f7 a i{background-position:0 -320px}
.floor_ul li.f8 a i{background-position:0 -376px}
.floor_ul li.f9 a i{background-position:0 -432px}
.floor_ul li.f10 a i{background-position:0 -488px}
.floor_ul li.f11 a i{background-position:0 -544px}
.floor_ul li.f12 a i{background-position:0 -600px}
.floor_ul li.f13 a i{background-position:0 -655px}
.floor_ul li.f14 a i{background-position:0 -710px}
.floor_ul li.f15 a i{background-position:0 -766px}

.carousel-indicators{position:absolute;right:20px;z-index:15;bottom:13px}
.carousel-indicators li{cursor:pointer;float:left;color:#fff;display:block;height:10px;line-height:10px;margin-left:7px;text-align:center;width:10px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px; overflow:hidden; background:#fff;line-height:9999px}
.carousel-inner{height:200px; width:100%}
.carousel-inner .item{position:relative; height:200px}
.carousel-inner .item .txt{position:absolute; left:0; height:36px; line-height:36px; bottom:0; width:545px; padding:0 20px; background:rgba(0,0,0,.8); color:#fff; font-size:14px}
.carousel-inner .item img{width:585px; height:200px; position:absolute; left:50%; margin-left:-292.5px; top:0}
.carousel-indicators .active{background:#d10504; color:#fff}


/*会员模块*/
.member_box{padding:25px 20px 0 20px; overflow:hidden; display:none}
.member_dl{height:52px; padding-left:80px; position:relative; padding:5px 0 5px 80px}

.member_dl dt{width:60px; height:60px; position:absolute; left:10px; top:0;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px; border:1px solid #e6e6e6; background:#e6e6e6;overflow:hidden}
.member_dl dt img{display:block; width:64px; height:64px; margin:-2px 0 0 -2px}
.member_dl dd{height:25px; line-height:25px}
.member_dl .t{font-size:14px; overflow: hidden; word-break: break-all;}
.earn_dd i{display:block; width:14px; height:13px; background-position:-34px -35px; float:left; margin:6px 3px 0 0}
.member_ul{padding:15px 0 0 0}
.member_ul li{height:37px; margin-bottom:10px}
.member_ul li a{display:block;height:35px; border:1px solid #e6e6e6; background:#fafafa; line-height:35px; text-align:center; font-size:14px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px}
.member_ul li a.a{background:#e60000; border:1px solid #e60000; color:#fff}
.member_ul li a:hover{background:#e60000; border:1px solid #e60000; color:#fff}
.member_ul li a.a:hover{background:#d20000; border:1px solid #d20000}

.message_dd{ color:#a7a7a7}
.message_dd .mlr{margin:0 3px}
.message_dd .red{color:#fff; background:#e60000; padding:0 4px; height:15px; line-height:15px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px; display:block; position:absolute; left:50px; top:0; text-align:center}
.message_dd .a{position:relative}




.carousel-inner .item{display:none}
.carousel-inner .active{display:block}
@media all and (transform-3d),(-webkit-transform-3d){
    .carousel-inner .item{-webkit-transition:-webkit-transform .6s ease-in-out;-o-transition:-o-transform .6s ease-in-out;transition:transform .6s ease-in-out;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}
   .carousel-inner > .item.active{left:0;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
}


/*首页幻灯片*/
.ck-slide{position:relative;overflow:hidden;width:720px;height:365px}
.ck-slide ul.ck-slide-wrapper{position:absolute;top:0;left:0;z-index:1;height:365px}
.ck-slide ul.ck-slide-wrapper li{position:absolute;width:720px; height:365px; left:0; top:0}
.ck-slide ul.ck-slide-wrapper li:first-child{z-index:1111}
.ck-slide ul.ck-slide-wrapper li.current{z-index:1112}
.ck-slide ul.ck-slide-wrapper li a{display:block}
.ck-slide ul.ck-slide-wrapper li a img{width:720px; height:365px; position:absolute; left:0; top:0}
.ck-slide ul.ck-slide-wrapper li a .img1{left:-720px; webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.ck-slide ul.ck-slide-wrapper li a .img2{left:-720px; webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;-o-transition:all 1.5s ease;transition:all 1.5s ease}

.ck-slide ul.ck-slide-wrapper li.li3 a .img1{}
.ck-slide ul.ck-slide-wrapper li.li3 a .img2{left:720px}

.ck-slide ul.ck-slide-wrapper li.li4 a .img1{}
.ck-slide ul.ck-slide-wrapper li.li4 a .img2{left:0;top:auto; bottom:-365px}

.ck-slide ul.ck-slide-wrapper li.current a .img1{left:0}
.ck-slide ul.ck-slide-wrapper li.current a .img2{left:0}

.ck-slide ul.ck-slide-wrapper li.li1 a .img1{left:0; top:auto; bottom:-365px}
.ck-slide ul.ck-slide-wrapper li.li1 a .img2{left:0; top:-365px}



.ck-slide ul.ck-slide-wrapper li.li1.current a .img1{top:auto; bottom:0}
.ck-slide ul.ck-slide-wrapper li.li1.current a .img2{top:0}
.ck-slide ul.ck-slide-wrapper li.li4.current a .img2{top:auto; bottom:0}

.ck-slide .ck-prev, .ck-slide .ck-next{position:absolute;top:50%;z-index:2;width:35px;height:80px;margin-top:-40px;opacity:0;background:red;text-indent:-9999px;background-repeat:no-repeat;transition:opacity .2s linear 0s;/*border-radius: 3px; */}
.ck-slide:hover .ck-prev,.ck-slide:hover .ck-next{opacity:0.4}
.ck-slide:hover .ck-prev:hover,.ck-slide:hover .ck-next:hover{opacity:0.8}
.ck-slide .ck-prev{left:0;background:url(http://himg.china.cn/img/mainsite/index_v2/show_img.png) #000 no-repeat}
.ck-slide .ck-next{right:0;background:url(http://himg.china.cn/img/mainsite/index_v2/show_img.png) #000 no-repeat right 0}
.ck-slidebox{position:absolute;left:50%;bottom:12px;z-index:30}
.ck-slidebox ul{height:20px;padding:0 4px;border-radius:8px}
.ck-slidebox ul li{float:left;height:15px;margin:2px 7px}
.ck-slidebox ul li em{display:block;width:13px;height:13px;border-radius:100%;background:rgba(0,0,0,0.4);text-indent:-9999px;cursor:pointer; border:1px solid rgba(255,255,255,0.3)}
.ck-slidebox ul li.current em{background:rgba(255,255,255,0.8);border:1px solid rgba(0,0,0,0.3)}

.search-warp .searchkuang::-webkit-input-placeholder{color:#cfcfcf}
.search-warp .searchkuang:-moz-placeholder{color:#cfcfcf}
.search-warp .searchkuang::-moz-placeholder{color:#cfcfcf}
.search-warp .searchkuang:-ms-input-placeholder{color:#cfcfcf}

.c1_right_2{position:relative}
.c1_right_2 .movebg{position:absolute; top:35px; border-bottom:1px solid #e60000; width:52px; height:1px; margin-left:15px}

/*注册广告样式*/
.fast_registration{width:100%; height:80px;left:0; bottom:0; position:fixed; z-index:99999; display:none}
.fast_registration .s{display:block; width:1195px; height:80px; margin:0 auto; position:relative; z-index:11; background:url(http://himg.china.cn/img/mainsite/index_v2/fast_registration.png) no-repeat center bottom; }
/*.fast_registration .s a{display:block; height:164px; width:100%;outline:none}*/
.fast_registration .s i{position:absolute;left: 0;bottom: 0;height: 164px;width:183px;background: url(http://himg.china.cn/img/mainsite/index_v2/fast_registration.png) no-repeat 0 0;}
.fast_registration .x{width:100%; height:80px; position:absolute; left:0; bottom:0; background:url(http://himg.china.cn/img/mainsite/index_v2/x.png) repeat-x; display:block}
.fast_registration .xx{width:1195px;margin:0 auto; position:relative}
.fast_registration .xx .close{display:block; width:18px; height:18px; background:url(http://himg.china.cn/img/mainsite/index_v2/close.png) no-repeat; position:absolute; right:0; top:10px; cursor:pointer; z-index:13}
.fast_registration a{display:block; width:100%; height:80px; position:absolute; left:0; bottom:0; z-index:12;outline:none}



@media screen and (max-width:1190px){
	.media_width .bw_1190,.media_width .logo-bar{width:1000px}
	.media_width .search-warp{width:550px}
	.media_width .search-warp .searchkuang{width:290px}
	.media_width .c1_left{width:750px}
	.media_width .nav_ul li{width:89px}
	.media_width .ck-slide{width:535px}
	.media_width .ck-slide ul.ck-slide-wrapper li{width:535px}
	.media_width .ck-slide ul.ck-slide-wrapper li a .img1,.media_width .ck-slide ul.ck-slide-wrapper li a .img2{width:555px; height:auto}
	.media_width .ck-slide ul.ck-slide-wrapper li.li2 a .img1,.media_width .ck-slide ul.ck-slide-wrapper li.li2 a .img2,.media_width .ck-slide ul.ck-slide-wrapper li.li3 a .img1,.media_width .ck-slide ul.ck-slide-wrapper li.li3 a .img2{top:40px}
	.media_width .scroll_ul li{width:270px;background-size:cover}
	.media_width .theme_middle_r{display:none}
	.media_width .theme_middle_l{width:520px}
	.media_width .theme_middle_l li{width:260px}
	.media_width .information_left{width:754px}
	.media_width .information_left_show{width:380px}
	.media_width .footer_ul li{margin-right:35px}
	.media_width .qr-fa{right:0}
	.media_width .fast_registration .s{height:140px;width:1000px;background-size:100%}
	.media_width .fast_registration .xx{width:1000px}
	.media_width .fast_registration{height:140px}
	.media_width .fast_registration .x{height:66px}
	.media_width .fast_registration .xx .close{top:80px}
	.media_width .float_logo_box{width:1000px}
}