* { margin:0; padding:0; }
html, body, #wrap { height: 100%; }
body > #wrap {height: auto; min-height: 100%;font-family: Arial;    line-height: 20px;}
#main {
    padding-bottom: 150px;
    text-align: center;
}  /* must be same height as the footer */
#footer {
    position: relative;
    margin-top: -41px;

    clear:both;
    background: #ebebeb;
    font-family: Arial;
    font-size: 12px;
    color: #ebebeb;
    border-top: 1px solid #e5e5e5;

}
/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.logo{
    margin-top: 160px;
}
.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.form-search{
    margin: 46px auto 70px;
    position: relative;
    width: 790px;
}
.search-text{
    width: 670px;
    height: 44px;
    border: 1px solid;
    border-radius: 0;
    padding: 0 15px;
    font-size: 18px;
}
.button{
    background: url("../images/btn.png") no-repeat;
    width: 79px;
    border: none;
    height: 46px;
    float: right;
}
.button:hover{
    cursor: pointer;
    background: url("../images/btn_hover.png") no-repeat;
}
.main-text{
    font-size: 18px;
    color: #4d4d4d;
    font-family: Arial;
    margin-bottom: 75px;
}
.main-text a{
    text-decoration: none;
}

.main-text a:hover{
    text-decoration: underline;
}
.learn-more{
    color: #483fbb;
}
.learn-more:hover{
    cursor: pointer;
}
.privately{
    font-size: 18px;
    font-family: Arial;
}
.p1{
    font-weight: bold;
    margin: 15px 0;
}
.p2{
    color: #707074;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
.p2.border{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.p3{
    color: #483fbb;
    font-size: 11px;
    margin-top: 8px;
}
.p3 a {
    text-decoration:none;
    color: #478DC8 !important;
}
#footer p{
    text-align: center;
    color: #999;
}
#footer a{
    text-decoration: none;
    color: #999;
    line-height: 40px;
}
#footer a:hover {
    color: #222;
}
#modal_form {
    font-family: Arial;
    font-size: 18px;
    width: 420px;
    height: 300px;

    max-height: 80%;

    border-radius: 1px;
    background: #fff;
    position: fixed;
    top: 33% !important;
    left: 46%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 20px;
    text-align: center;
    color:#4d4d4d;
}
#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    font-size: 12px;
    color: #cccccc;
    font-weight: bold;
    background: url("../images/x.png") no-repeat;
}
#protection_popup {
    cursor: pointer;
}
#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
.header{
    background: #ebebeb;
    padding-bottom: 5px;
}
.header img{
    display: inline-block;
    margin-top: 5px;
    float: left;
    margin-left: 35px;
}
.form-search-small{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 35px;
}
.search-text-small{
    font-size: 18px;
}
.button-small{
    background: url("../images/search-icon.png") no-repeat scroll center #4385f5;
    width: 42px;
    border: 0;
    height: 40px;
    float: right;
    cursor: pointer;
    outline: 0 none;
}
.button-small:hover{
    background-color: #4075c2;
}
.search-text-small{
    width: 520px;
    height: 38px;
    padding: 0 15px;
    border: 1px solid #d8d8d8;
    outline: 0 none;
}
#main.result-search, #main.static{
    text-align: left;
    padding-bottom: 41px;
}
.menu{
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-left: 125px;
}
.menu a {
    text-decoration: none;
    color: #767676;
    font-family: Arial;
    font-size: 14px;
    margin-right: 30px;
}
.menu a.active, .menu a.active:hover {
    color: #4385f5;
    border-bottom: 2px solid #4385f5;
    padding-bottom: 14px;
}
.menu a:hover {
    color: #222;
}
.result-list{
    padding-left: 125px;
    margin-top: 20px;
    /*height: 735px;*/
}
.row-left, .row-right{
    display: inline-block;
}
.row-left{
    width: 40%;
    float: left;
    margin-right: 30px;
}
.social{
    margin-top: 25px;
    padding-left: 125px;
    margin-bottom: 25px;
}
.social p{
    display: inline-block;
    color: #777777;
    font: 13px/18px  arial, sans-serif ;
    vertical-align: top;
}
h2{
    color: #4d4d4d;
    font-size: 30px;
    font-family: Arial;
    margin: 20px 0 25px;
}
.static-text{
    padding-left: 125px;
    width: 38%;
    font-family: Arial;
}
.static-text p{
    font-size: 14px;
    color: #4d4d4d;
}
.arrow_box {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #e0e0e0;
    margin-left: 84px;
    margin-top: 6px;
    width: 240px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 20px;
    z-index:100;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -14px;
}
.arrow_box:before {
    border-color: rgba(224, 224, 224, 0);
    border-bottom-color: #e0e0e0;
    border-width: 9px;
    margin-left: -15px;
}
.arrow_box.google-video {
    margin-left: 167px;
}
.arrow_box.google-map {
    margin-left: 243px;
}
.arrow_box a{
    text-decoration: none;
    color: #2d67d2;
}
.arrow_box.google{
    margin-left: -8px;
    margin-top: -100px;
}
.arrow_box.google:after, .arrow_box.google:before {
    top: 100%;
}

.arrow_box.google:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -14px;
}
.arrow_box.google:before {
    border-color: rgba(224, 224, 224, 0);
    border-top-color: #e0e0e0;
    border-width: 9px;
    margin-left: -15px;
}

.arrow_box.yahoo{
    margin-left: 14px;
    margin-top: -100px;
}
.arrow_box.yahoo:after, .arrow_box.yahoo:before {
    top: 100%;
}

.arrow_box.yahoo:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -14px;
}
.arrow_box.yahoo:before {
    border-color: rgba(224, 224, 224, 0);
    border-top-color: #e0e0e0;
    border-width: 9px;
    margin-left: -15px;
}
.arrow_box.bing{
    margin-left: 37px;
    margin-top: -100px;
}
.arrow_box.bing:after, .arrow_box.bing:before {
    top: 100%;
}
.arrow_box.bing:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -14px;
}
.arrow_box.bing:before {
    border-color: rgba(224, 224, 224, 0);
    border-top-color: #e0e0e0;
    border-width: 9px;
    margin-left: -15px;
}

span.related{
    color: #767676;
    font-weight: 100;
}
#sideLeft {
    font-size: 13px;
    overflow: hidden;
    width: calc(60% - 30px);
    min-height: 100px;
    max-width: 500px;
}
.search-result-terms .resdesc {
    display: inline-block;
    max-width: 300px;
}
.search-result {
    font: 13px/18px   arial, sans-serif;
    color: #545454;
    margin-bottom: 20px;
    width: 100%;
}
.search-result .clear {
    clear: both;
}
.search-result a {
    color: inherit;
    text-decoration: none;
}
.search-result h6 {
    font: 11px/15px   arial, sans-serif;
    margin: 0 0 0;
    color: #777;
}
.search-result h6 strong {
    color: #808080;
}
.search-result ul, .search-result ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-result ul {
    margin-bottom: -20px;
}
.search-result ul li {
    margin: 12px 0 20px 0;
}
.search-result ul.deeplinks {
    margin: 3px 0 0;
}
.search-result ul.deeplinks li {
    color: #2b3fb8;
    margin: 0 5px 0 0;
    line-height: 133%;
    float: left;
}
.search-result ul.deeplinks li::after {
    content: ' \02022 ';
    color: #999;
}
.search-result ul.deeplinks li:first-of-type {
    margin-left: 0;
}
.search-result ul.deeplinks li:last-of-type::after {
    content: '';
}
.search-result ul.deeplinks li a:hover {
    text-decoration: underline;
}
.search-result .restitle {
    color: #1A0DAB;
    font-size: 17px;
    line-height: 120%;
    display: block;
}
.search-result .restitle a:hover {
    text-decoration: underline;
}
.search-result .resurl {
    color: #006621;
    display: block;
    line-height: 14px;
    padding: 2px 0 1px;
}
.search-result .resurl img {
    float: left;
    max-width: 14px;
    max-height: 14px;
    margin-right: 5px;
}
.search-result .resurl span {
    float: left;
}
.search-result .resurl .ratings {
    color: #808080;
}
.search-result .resurl .ratings a {
    color: inherit;
}
.search-result .resurl .ratings a:hover {
    text-decoration: underline;
}
.search-result .official {
    background: #74748b;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px 4px;
    position: absolute;
    margin-top: 1px;
    margin-left: 5px;
}
.search-result-related {
    font-size: 14px;
    margin: 1px 0;
}
.search-result-related li {
    margin: 0 0 4px !important;
}
.search-result-related a {
    color: #1A0DAB;
}
.search-result-related a:hover {
    text-decoration: underline;
}
ul.search-result-sponsored {
    margin-bottom: 20px;
}
.ac_results{
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: default;
    top: 349px;
    font-family: Arial;
}
.ac_results ul li{
    line-height: 22px;
    overflow: hidden;
    padding: 0 10px;
}
.ac_results ul li:hover, .ac_results ul li.ac_over{
    background: #eee;
    cursor: pointer;
}
.ac_results ul li a{
    text-decoration: none;
    color: #000;
}
.pagination{
    width: 40%;
    text-align: center !important;
    padding-left: 125px;
    margin: 35px 0;
    font-family: Arial;
    font-size: 14px;
}
.pagination ul{
    list-style: none;
}
.pagination ul li{
    display: inline-block;
    margin-right: 15px;
}
.pagination ul li a{
    text-decoration: none;
    color: #4385f5;
}

.pagination ul li a:hover, .pagination ul > a:hover{
    text-decoration: underline;
}
.pagination ul > a{
    margin-left: 35px;
    color: #4385f5;
    text-decoration: none;
}
.pagination ul > a:first-child{
    margin-right: 35px;
}
.page.current{
    color: #6d6d6d;
    cursor: default;
}
.page.current:hover {
    text-decoration: none;
}
.show-button {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.adaptive-menu{
    display: none;
}
.adaptive-menu .menu{
    position: absolute;
    right: 20px;
    width: 160px;
    padding-left: 0;
    height: auto;

    padding-top: 0;
    top: 60px;
    border: none;
    background: #ebebeb;

}
.adaptive-menu .menu a{
    margin-right: 0;
    display: block;
    line-height: 30px;
    border-bottom: 2px solid #d0d5d9;
    padding-left: 5px;
    color:#2e6292;
}
.adaptive-menu .menu a:hover, .adaptive-menu .menu a.active {
    padding-bottom: 0;
    border-bottom: 2px solid;
    padding-left: 5px;
    color:white;
    background:#2e6292 ;
}
.safeDiv  .lnk{
    color:#0000ee;
    text-decoration: underline;

    display: inline-block;
    font-size: 14px;

}
.safeDiv .lnk .localeN {
    cursor: pointer;
}
.safeDiv  .lnk:hover{

    text-decoration: none;

}
.safeDiv  img{
    margin-left: 7px;
    margin-bottom: -2px;
}

div.lang a{
    color: #4d4d4d;
    text-decoration: none;
    padding-right: 15px;
    position: relative;
}
div.lang {
    text-align: right;
    padding: 15px;
    position: relative;
    display: inline-block;
    float: right;

}
div.lang ul{
    position: absolute;
    right: 15px;
    top: 50px;
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    box-shadow: 0 3px 7px rgba(0,0,0,.5);
    background: #fff;
    list-style: none;
    z-index: 10;
}
div.lang ul li{
    padding: 10px;
}
div.lang ul li a{
    padding: 0;
}


div.lang>a:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #696d70 transparent transparent transparent;
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
}
div.lang ul li:hover{
    background-color: rgba(0,0,0,.2);;
}
ul#localeN {
    list-style-type: none;
    width: 180px;
    text-align: left;
    background-color: white;
}
.lang.search-page{
    position: absolute;
    right: 0px;
    z-index: 5;
}
.lang.static-page{
    position: absolute;
    right: 0px;
    z-index: 5;
}

.def-search-wrap{
    text-align: center;
}
.def-search-wrap>a{
    display: inline-block;
}
.def-search-wrap h1{
    font-size: 39px;
    color: #ffffff;
}
.blue-line{
    background-color: #4883e0;
}
.left-col{
    width: 33.3333%;
    float: left;
    box-sizing: border-box;
    padding-right: 15px;
}
.left-col{
    color: #4d4d4d;
    text-align: left;
}
.left-col h2{
    font-size:34px ;
    margin: 45px 0 10px;
}
.left-col p{
    font-size:17px;
}
.container:after,.row:after,.main-content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.def-search-footer.blue-line .container{
    background-image: none;
    width: 1080px;
}
.def-search-footer.blue-line .container a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial;
}
.def-search-footer.blue-line .container a:focus,
.def-search-footer.blue-line .container a:hover,
.def-search-footer.blue-line .container a:active{
    text-decoration: none;
    color: white;
}
.def-search-wrap .row{
    margin: 0;
    padding: 15px 25px 15px 50px;
}
.def-search-wrap .row img{
    max-width: 100%;
}
.right-col{
    width: 66.6666%;
    float: left;
    box-sizing: border-box;
}
.mps-icon{
    display: inline-block;
    background-image: url("../images/en/logo_small.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.blue-line .container{
    width: 1270px;
    margin: 0 auto;
    background-image:url("../images/left-lock.jpg"),url("../images/right-lock.jpg");
    background-repeat: no-repeat,no-repeat;
    background-position: left, right;
    padding:37px 0;
    max-width: 100%;
}
.def-search-wrap .main-content{
    background-color: #4d4d4d;
    padding-top: 30px;
}
.def-search-wrap .main-content .container{
    width: 1080px;
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-top: 70px;
    border-radius:3px;
}
.def-search-wrap .main-content .container:last-child{
    margin-bottom: 40px;
}
body > #wrap .def-search-wrap{
    line-height: 1.4;
}
.def-search-wrap h1+p{
    font-size: 30px;
    color: #ffffff;
}
.def-search-wrap .logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bottomSearch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .def-search-wrap .main-content .container {
        width: 768px;
    }
    .def-search-footer.blue-line .container {
        padding-left:15px;
        box-sizing:border-box;
    }
}



@media (max-width: 767px) {
    .left-col,.right-col {
        width: 100%;
    }
    .left-col{
        padding-bottom: 20px;
    }
    .def-search-wrap h1 {
        font-size: 30px;
        box-sizing:border-box;
        padding: 0 15px;
    }
    .def-search-wrap h1 + p {
        font-size: 26px;
        box-sizing:border-box;
        padding: 0 15px;
    }
    .blue-line .container {
        background-image: none;
    }
}

@media (max-width: 870px) {
    .search-text-small{
        width: calc(100% - 100px);
    }
    .form-search-small{
        width: calc(100% - 250px);
    }
    .relatedSearches, .ttt, .bottomSearch{
        padding-left:25px !important;
    }
}
@media (max-width: 820px) {
    .private-box{
        display: none !important;
    }
    .founded-box{
        display: none !important;
    }
    #sideLeft{
        width: auto;
    }
    .form-search {
        width:498px;
    }
    .search-text {
        width: 376px;
    }
    .logo {
        margin-top: 60px;
    }
    #footer p {

        padding-left: 15px;
        padding-right: 15px;
    }
    .static-text {
        padding-left: 25px;
        width: 100%;

        box-sizing: border-box;
        padding-right: 25px;
    }
    .header img {
        margin-left: 5px;
    }
    .form-search-small {
        margin-left: 15px;
    }
    .form-search-small {
        width: calc(100% - 200px);
    }
    .menu,.result-list{
        padding-left: 25px;
    }
    .row-left {
        width: 80%;
    }
    .redirect_notice{
        display: none;
    }
}

@media (min-width: 821px) and (max-width:1361px){
    .redirect_notice{
        position: absolute;
        left: 0;
        top: 120px;
        padding-left: 125px;
    }
    .result-list{
        margin-top:25px;
    }
}

@media (max-width: 580px) {
    .bottomSearch{
        padding-left:5px !important;
    }
    .safeDiv{
        display: none !important;
    }
    #main.static>.menu {
        display: none;
    }
    .lang.static-page{
        right: 80px;
        top: 10px;
    }
    .show-button {
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 14px;

        cursor: pointer;
        margin-right: 25px;
        padding: 5px;
        border-radius: 3px;
    }
    .show-button span {
        width: 100%;
        display: block;
        height: 3px;
        background: #2e6292;
        margin-top: 6px;
    }
}
@media (max-width: 520px) {
    .safeDiv{
        margin-right :0px !important;
    }
    .form-search {
        width:300px;
    }

    .search-text {
        width: 217px;
    }
    .button {
        background: url("../images/btn.png") no-repeat;
        width: 40px;
        border: none;
        height: 46px;
        float: right;
        background-position: -19px 0;
    }

    .button:hover {
        background-position: -19px 0;
    }
    .main-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pagination {
        text-align: center;
        padding-left: 0;
        width: 100%;
    }
}

@media (max-width: 511px) {
    .header img {
        float: none;
        margin-left: 19px;
    }

    .static .header {
        text-align: left;
    }
    .adaptive-menu .menu {
        top:65px;

    }
    .form-search-small {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px 15px;
        box-sizing: border-box;

    }
}
@media (max-width: 480px) {

    .search-text-small {
        width: calc(100% - 80px);
    }

    .social {

        padding-left: 40px;
    }
}
@media (max-width: 410px) {

    .button-small {
        width: 40px;

    }
    .button-small:hover {
        background-position: -11px 0;
    }
    .menu a {
        margin-right: 15px;
    }
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/src/images/notification/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/src/images/notification/success.png');
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/src/images/notification/info.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/src/images/notification/error.png');
}
.rating{
    display:inline-block;
}
.rating  img{
    max-width :100% !important;
}
.deeplinks div{

}

.deeplinks div a{
    text-decoration: underline;
    color: #1A0DAB;
    margin-right: 20px;
}

.numberCircle{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    margin-right: 10px;
    margin-top: -5px;
    float: left;

    width: 15px;
    height: 15px;
    padding: 7px;

    background: #4878d8;
    color: #fff;
    text-align: center;

    font: 14px Arial, sans-serif;
}

.roundedBox{
    border-radius: 10%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    padding: 10px;

    background: #4878d8;
    color: #fff;
}
.setHomepageModal{
    text-align: left;height: auto;
}


#options{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
}
.op{
    margin:20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    background: url("../images/btn_off.png");
    cursor:pointer;
}
.op:hover{
    background: url("../images/btn_off_hover.png");

}
.op:active{
    background: url("../images/btn_on.png");
    color:white;
}
.op:focus{
    background: url("../images/btn_on.png");
    color:white;
}
.op_title{
    padding:25px;
    font-size: 20px;
    color: #000000;
}
.op_content{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    font-size: 16px;
    margin-bottom: 10px;
}
.row img{
    vertical-align: middle;
}
.op_footer{
    position: absolute;
    /*bottom: 0px;*/
    /*position: relative;*/
    bottom: 10px;
    text-align: center;
    width: 100%;

}
.op_footer a:link{
    color: #483fbb;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;

}
td{
    padding:5px;
}
#add_btn{
    width:59px;
    height: 30px;
    cursor: pointer;
    background: url("../images/en/btn_here.png") no-repeat;
}
#add_btn:hover{
    background: url("../images/en/btn_here_hover.png") no-repeat;
}
.founded-box {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 2px 2px 15px;
    display: inline-block;
    width: 450px;
}
.founded-box h1 {
    margin-bottom: 10px;
}
.founded-box img {
    margin: 0 18px 0 0;
    float: left;
}
.founded-box > a {
    margin-top: 10px;
    display: inline-block;
}

.safeDiv{
    display: inline-block;
    float: right;
    margin-right: 100px;
}
.privacyDiv{
    display: inline-block;
    height: 30px;

}
.pboxOffTD .line,.pboxOnTD .line{
    width: 1px;
    float: left;
    margin-left: 30px;
    border-left: 1px solid #cccccc;
    padding-right:30px;
}
.linenotprivate {
    padding-right:25px;
    margin-left: 30px;
    float: left;
    border-left: 1px solid #cccccc;
    /* padding-right: 25px; */
    display: flex;
    margin-top: -13px;
    height: 100%;
}

.private-box {

    margin-top: -6px;

}
.menu a{
    float:left;
}
.pboxImg, .pboxOnTD {
    padding: 0px
}
.pboxOnTD .pboxTitle{
    display: block;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    margin-left: 15px;
    color: #000;
}
.pboxOnTD, .pboxOffTD{
    display: flex;
}

.pboxOffTD img{
    width: 30px;
    height: 30px;
}
.pboxOffTD .pboxTitle{
    display: block;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-left: 15px;
}
.pboxOffTD  .pboxLnk{

    font-family: "Arial";
    font-size: 11px;
    color: #0000ee;
    cursor: pointer;
    text-decoration: underline;
    display: block;
    font-weight: normal;
    line-height:11px;
}
.safeSearchSpan{
    font-size: 14px;
    color: #4d4d4d;
    cursor: default;
}

.pboxTitle .firstline{
    line-height:14px;
}

.relatedSearches{
    padding-left: 125px;
}
.related{
    font-weight: 100;
    font: 13px/18px   arial, sans-serif;
    color: #545454;
}
.pb-terms td {
    padding: 0px;
    padding-right: 25px;
}
.pb-terms a{
    color: #1A0DAB;
    text-decoration: none;
}
.pb-terms a:hover{
    color: #6e329d;
    text-decoration: underline;
}

.ttt ul .localeN{
    margin-left:0px;
}

.socialImg img{

    margin-right: 15px;
    cursor: pointer;
}

.main-text{
    font-size: 18px;
    color: #4d4d4d;
    font-family: "Arial";

    font-weight: normal;
}

.separator {
    margin: 0 15px;
}
.nav-arrow {
    display: none;
}
.redirect_notice{
    float: right;
    font-family: Arial;
    line-height: 20px;
    font-size: 14px;
    color: #4d4d4d;
    cursor: default;
    margin-right:15px;
}
.redirect_notice a{
    text-decoration: underline;
    color: #0000ee;
    float: none;
    font-weight: normal;
    margin-right:0;
}
.redirect_notice a:hover{
    border-bottom:none;

}

.new-banner{
    color: #0b9a0b;
    font-weight: bold;
    font-size: 12px;
}
