@charset "utf-8";
/* CSS Document */
* {background: none;list-style: none;font-family: Arial, Helvetica, sans-serif ;font-size: 12px;outline: none;border: none;text-decoration: none;color: #000;line-height: 18px;}

body {margin: 0; padding: 0; background: #f4f6f5; }
ul {margin: 0; padding: 0; list-style: none;}
.left {display: inline-block; float: left;}
.right {display: inline-block; float: right;}
.clr { clear: both;}
.nowrap, nav ul li a, .menu_footer li a, nav .menu_child a, .breaknews span.letter, .footer_right .btn_ontop, .breadcrumb ul li a, .tags a {white-space: nowrap;}
.rendering, #content_detail p, #photos_detail p, .explus_related_1404022217_title {text-rendering: geometricPrecision;}
.full_page {display: inline-block; width: 100%; margin: 5px 0;}
.full_width {display: inline-block; width: 100%;}
.arrow-right-blue {width: 0; height: 0; border-top: 8px solid transparent;border-bottom: 9px solid transparent;border-left: 9px solid #145072;}
.arrow-right-grey {width: 0; height: 0; border-top: 13px solid transparent;border-bottom: 10px solid transparent;border-left: 13px solid #d4d4d4;}
/*h1, h2, h3, p {margin: 0;}*/
.font10 {font-size: 10px; margin: 0;}
.font11 {font-size: 11px; margin: 0;}
.font13 {font-size: 13px; margin: 0;}
.font14 {font-size: 14px; margin: 0;}
.font15 {font-size: 15px; line-height: 25px; margin: 0;}
.font16 {font-size: 16px; line-height: 20px; margin: 0;}
.font18 {font-size: 18px; line-height: 24px; margin: 0;}
.font21 {font-size: 21px;line-height: 24px; margin: 0;}
.font23 {font-size: 23px;line-height: 27px; margin: 0;}
.font27 {font-size: 27px;line-height: 30px; margin: 0;}
.blue {color: #145072;}
.white {color: #FFF;}
.grey {color: #5a5a5c;}
.red {color: #b11016;}
.title {margin: 0;}
.title:hover a {color: #b11016;}
.letter {margin: 0; text-transform: uppercase;}
.border_bottom {border-bottom: 1px solid #e7e7e9; padding-bottom: 5px;}
.border_top_dotted {border-top: 1px dotted #BABABA;}
.border_bottom_3 {border-bottom: 3px solid #d1d2d4;}

.relative {position: relative; padding-left: 10px;}
.hide {display: none;}

.intro {display: inline-block; margin: 0;}
.normal {font-weight: normal;}
.bold {font-weight: bold;}

.margin0 {margin: 0;}
.margin1_tb {margin: 1px 0;}
.margin2_tb {margin: 2px 0;}
.margin3_tb {margin: 3px 0;}
.margin5_tb {margin: 5px 0;}
.margin4_tb {margin: 4px 0;}
.margin8_tb {margin: 8px 0;}
.margin7_tb {margin: 7px 0;}
.margin10_tb {margin: 10px 0;}
.margin13_tb {margin: 13px 0;}
.margin21_tb {margin: 21px 0;}

.line_height11 {line-height: 11px;}
.line_height15 {line-height: 15px;}
.line_height16 {line-height: 16px;}

.bg_li_point {width: 4px;height: 4px;background: #b11015;float: left;top: 6px;position: absolute; left: 0;}
.bg_li_point_5 {width: 5px; height: 5px; background: #b11015;float: left;top: 6px;position: absolute; left: 0;}
.bg_li_point_circle{ width: 4px;height: 4px;border-radius: 4px;background: #c32c2c; position: absolute; top: 7px; left: 0;}

.bg_center {background: #7f7774; padding: 8px;}


.photo {display: inline-block; position: relative;}
.photo .icon_video {position: absolute; top: 31%; left: 41%;}


::-webkit-input-placeholder {color: #555;} /* WebKit browsers */
:-moz-placeholder {color: #555;opacity: 1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color: #555;opacity: 1;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {color: #555;} /* Internet Explorer 10+ */

.wr_body {width: 998px; margin: auto; background: #FFF; padding: 10px; box-shadow: 1px 1px 5px #888;}
header {display: inline-block; width: 100%; margin-bottom: 5px;}
header .logo {display: block; padding: 0 0 1px 13px;}
header time {padding-left: 13px;display: block;text-align: right;}
header time span {font-size: 11px; color: #333;}

nav {display: inline-block; width: 100%; position: relative;}
nav ul {display: inline-block; width: 100%; background: #145072;
    border-radius: 13px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}
nav ul li {display: inline-block; float: left; border-right: 1px solid #FFF; background: #145072; position: relative;}
nav ul li:first-child a {background: url('../images/icon_home.png') no-repeat center center; text-indent: -99999px; width: 18px;}
nav ul li:first-child {border-top-left-radius: 13px; width: 36px; text-align: center;}
nav ul li:last-child {border-right: none; border-top-right-radius: 13px;}
nav ul li:last-child a {padding-left: 10px;color: #f3352f;}
nav ul li a {display: inline-block; text-transform: uppercase; color: #FFF; font-size: 11px; padding: 7px 4px 7px 5px;}
nav ul li:hover, nav ul li.active {background-color: #818286;}
nav .menu_child {display: none; width: 796px; padding-top: 17px; position: absolute; top: 24px; left: 0; z-index: 99999999;}
nav .menu_child a {color: #5a5a5c;font-size: 11px; padding: 0 !important;}
nav .menu_child a:after {content: '|';font-size: 11px;font-weight: normal;color: #5a5a5c;padding: 0 9px;}
nav .menu_child a:last-child:after {content: '';}
nav .menu_child a.focus {color: #145072;}

.nav_child {display: none; width: 100%; height: 36px; position: absolute; top: 32px; left: 0; z-index: 9999; background: #FFF;}


#main {display: inline-block; width: 100%;}

.breaknews {margin-top: 6px;}
.breaknews span.letter {background: #145072; padding: 0px 5px; color: #FFF; font-size: 9px; border-radius: 3px;}
.breaknews ul {display: inline-block; height: 18px; overflow: hidden; margin-left: 5px;}
.breaknews ul li {}
.breaknews ul li a {font-size: 11px; line-height: 18px;}

.social .icons {display: inline-block; float: right; margin-right: 8px; margin-top: 3px;}
.social .icons a {display: inline-block;}
.frm_search {display: inline-block; position: relative; float: right;}
.frm_search input[type="text"] {height: 18px; border: 1px solid #B4B4B4; padding: 3px; font-size: 11px; color: #555; border-radius: 5px; width: 171px; margin: 0; margin-left: 21px;}
.frm_search input[type="submit"] {background: url('../images/icon_search.png') no-repeat center center #145072; width: 28px; height: 26px; position: absolute; top: 0px; right: 0; border-radius: 5px;}

.main_left {display: inline-block; width: 685px;}
.main_left ul.pick3 {display: inline-block; width: 100%;}
.main_left ul.pick3 li {display: inline-block; float: left; width: 217px; margin: 6px;}
.main_left ul.pick3 li:last-child {margin-right: 0;}

.main_left ul.pick_cat3 {display: inline-block; width: 100%;}
.main_left ul.pick_cat3 li {display: inline-block; float: left; width: 159px; margin-right: 15px;}
.main_left ul.pick_cat3 li:last-child {margin-right: 0;}
.main_left ul.pick_cat3 li .photo {display: inline-block; border: 1px solid #BABABA; padding: 1px;}


.list_video_THGT li {display: inline-block; margin-bottom: 13px;}
.list_video_THGT li:last-child {margin-bottom: 0;}
.list_video_THGT li .photo {border: 1px solid #BABABA; padding: 1px; margin-right: 8px;}
.list_video_THGT li h2.title {width: 193px; text-align: left;}
.list_video_THGT li h3.title {width: 193px; text-align: left;}

.main_right {display: inline-block; width: 300px;}
.tab_focus {display: inline-block; width: 100%; margin-bottom: 10px;}
.tab_focus ul {display: inline-block; width: 100%;}
.tab_focus ul li{ display: inline-block; background: #e8e8e8;}
.tab_focus ul li.first {display: inline-block; float: left; width: 120px;}
.tab_focus ul li.last {display: inline-block; float: right; width: 177px;}
.tab_focus ul li.first a {width: 120px; text-align: center; background: #b11016; color: #FFF;}
.tab_focus ul li.last a  {width: 169px; padding-left: 8px;}
.tab_focus ul li a {display: inline-block;  color: #145072; padding: 5px 0; font-weight: bold; font-size: 13px; text-transform: uppercase;}
.tab_focus .div_tab {display: none;}
.tab_focus .div_tab div.relative {padding-right: 10px;}
.tab_focus .div_tab div.relative:first-child h2.title {margin-top: 0 !important;}
.tab_focus .div_tab div.relative:last-child h2.title {margin-bottom: 0 !important;}

.stream_event {display: inline-block; width: 100%;}
.stream_event span.letter {display: block; padding: 6px 8px 4px; background: #145072; font-weight: bold;}

.camnang span.letter {display: block; padding: 6px 8px 4px; background: #145072; font-weight: bold; margin-bottom: 8px;}
.camnang .item {display: block; padding: 5px; border: 1px solid #BABABA; margin-bottom: 8px;}
.camnang .item a {display: inline-block; width: 100%; position: relative;}
.camnang .item a img {float: left;}
.camnang .item a h3 {display: inline-block; font-weight: normal; padding-left: 5px; line-height: 24px;}
.camnang .item a h3:hover {text-decoration: underline;}
.camnang .item a span {position: absolute; width: 3px; height: 13px; background: #BABABA; top: 8px; right: 3px;}

.box_photo {display: block; border: 1px solid #BABABA; padding-bottom: 8px;}
.box_photo span.letter {display: block; background: url('../images/icon_camera.png') no-repeat 8px 5px #145072; padding: 6px 36px 4px; font-weight: bold; margin-bottom: 8px;}
.box_photo ul {display: block; padding: 0 8px;}
.box_photo ul li {display: inline-block; float: left;}
.box_photo ul li a {display: inline-block; position: relative;}
.box_photo ul li a h2 {display: block; width: 274px; position: absolute; bottom: 0; left: 0; background: rgba(0,0,0,0.6); color: #FFF; padding: 5px;}
.box_photo .caroufredsel_wrapper {width: 292px !important;}
.box_photo .pager {display: inline-block; margin-top: 8px;}
.box_photo .pager a span {display: inline-block; background: #CDCDCD; font-weight: bold; padding: 2px 8px; font-size: 11px; margin: 1px; color: #555;}
.box_photo .pager a.selected span {background: #145072; color: #FFF;}
.box_photo .prev {display: inline-block; margin-top: 8px; background: #949599; color: #FFF; padding: 2px 8px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; font-size: 11px; margin-left: 8px;}
.box_photo .next {display: inline-block; margin-top: 8px; background: #949599; color: #FFF; padding: 2px 9px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; font-size: 11px; margin-right: 8px;}

.box_video {display: block; border: 1px solid #BABABA; padding-bottom: 8px;}
.box_video span.letter {display: block; background: url('../images/icon-thgt.png') no-repeat 7px 4px #145072; padding: 6px 36px 4px; font-weight: bold; margin-bottom: 8px; }
.box_video ul {margin: 8px;}
.box_video ul li.first h2 {margin: 5px 0 8px;}
.box_video ul li.first h2 a {font-size: 14px;}
.box_video ul li.li {display: inline-block; width: 100%; margin: 5px 0;}
.box_video ul li.li .photo {float: left; margin-right: 8px;}
.box_video ul li {position: relative;}
.box_video ul li .icon {position: absolute; left: 50%; top: 24%; background: url('../images/icon_video.png'); display: inline-block; width: 60px; height: 60px; margin-left: -30px; margin-top: 0; zoom: 0.8;}
.box_video ul li.li .icon {zoom: 0.5;}

.binhchon { border: 1px solid #BABABA;}
.binhchon .letter {display: block; padding: 5px 8px; background: url('../images/icon_binhchon.png') no-repeat 8px 2px #145072; padding-left: 37px;}
.binhchon .question {display: block; padding: 8px; font-size: 13px;}
.binhchon span.choose {display: inline-block; width: 90%; margin: 5px 5px 5px 21px;}
.binhchon span.choose label {font-size: 13px; line-height: 17px; float: left;}
.binhchon span.choose input[type="radio"] {display: inline-block; float: left; margin-right: 8px;}
.binhchon input[type="button"] {display: inline-block; background: #949599; color: #FFF; padding: 3px 8px; font-weight: bold; margin: 8px 4px;}

.info_business {display: inline-block; padding-bottom: 8px; position: relative;}
.info_business h4.letter {}
.info_business ul {display: inline-block; background: #FFF; border-radius: 8px; }
.info_business ul li {display: inline-block; width: 172px; float: left; margin: 0px 8px;}
.info_business ul li:last-child {margin-right: 31px;}
.info_business ul li .photo {border: 1px solid #EEE; border-radius: 5px; overflow: hidden;}
.info_business ul li a {font-weight: bold;}
.info_business .btn_control {display: inline-block; position: absolute; width: 17px; height: 35px; overflow: hidden;}
.info_business .btn_next {background: url("../images/icon_ctrl_business.png") no-repeat -18px 0; top: 40%; right: 1%; }
.info_business .btn_prev {background: url("../images/icon_ctrl_business.png") no-repeat; top: 40%; left: 1%; }
.info_business .caroufredsel_wrapper {width: 942px!important; margin: 13px 27px !important; height: 180px !important; }

footer {display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 8px; position: relative;}
#copyright_explus {position: absolute; bottom: 0; right: 0; opacity: 0.75;}
#copyright_explus:hover {opacity: 1;}
.menu_footer {border-bottom: 3px solid #145072; padding-bottom: 5px;}
.menu_footer li {display: inline-block; float: left;}
.menu_footer li:first-child {background: url('../images/icon_home_blue.png') no-repeat center center; zoom:0.8; width: 27px; cursor: pointer; height: 28px; margin-top: -7px;}
.menu_footer li a {display: inline-block; text-transform: uppercase; padding: 0px 2px 0 3px; font-size: 11px; line-height: 21px; font-weight: bold;}
.menu_footer li a:hover {color: #b11016;}
.menu_footer li:first-child a {width: 27px; height: 28px;}

.menu_footer li span {font-size: 11px;}
.footer_left {display: inline-block; padding: 0 8px; float: left; margin-top: 10px;}
.footer_center {display: inline-block; width: 503px; margin-left: 21px;}
.footer_center .about  {display: inline-block; border-left: 1px solid #555; padding: 0 8px; margin: 13px 0 8px;}
.footer_right {display: inline-block; width: 241px; float: right; padding-top: 13px;}
.footer_right .contact_ad, .footer_right .btn_ontop {display: inline-block; background: #145072; padding: 3px 9px; font-weight: bold; font-size: 10px; border-radius: 5px; float: right; margin-left: 5px; margin-top: 28px; color: #FFF;}



/* ------------------- CATEGORY --------------*/
.breadcrumb {display: inline-block; margin-top: 5px;}
.breadcrumb ul li{display: inline-block; float: left;}
.breadcrumb ul li a {display: inline-block;}
.breadcrumb ul li a:before {content: '|'; font-size: 11px; font-weight: normal; color: #5a5a5c; padding: 0 9px;}
.breadcrumb ul li:first-child a:before {content: none;}
.breadcrumb ul li a:hover {}

.list_news_cat {display: inline-block; width: 472px; border-top: 1px solid #145072; padding-top: 8px;}
.list_news_cat ul {display: inline-block; width: 100%; margin-bottom: 8px;}
.list_news_cat ul li {width: 100%; margin-bottom: 16px; position: relative;}
.list_news_cat ul li .sapo {display: inline-block; width: 309px; float: right; text-align: left;}
.list_news_cat .follow_date {background: url('../images/follow_date.png') no-repeat; padding: 3px 9px 9px 9px;}
.list_news_cat ul li .count_like {text-align: right; position: absolute; bottom: 0; right: 0;}

.list_news_cat .pager_page {display: inline-block;}
.list_news_cat .pager_page a {display: inline-block; float: left;}
.list_news_cat .pager_page a span {display: inline-block; background: #cdcbcc; font-weight: bold; padding: 4px 9px; margin: 1px; color: #555; font-size: 11px;}
.list_news_cat .pager_page a:first-child span {display: inline-block; float: left; margin-top: 1px; background: #828282; color: #FFF; font-size: 11px; padding: 4px 12px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.list_news_cat .pager_page a:last-child span {display: inline-block; float: left; margin-top: 1px; background: #828282; color: #FFF; font-size: 11px; padding: 4px 13px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.list_news_cat .pager_page a.selected span, .list_news_cat .pager_page a:hover span {background: #145072; color: #FFF;}

.other_news {margin: 0;}
.other_news h4.letter {border-bottom: 1px solid #145072; margin-bottom: 8px;}
.other_news h3.letter {border-bottom: 1px solid #145072; margin-bottom: 8px;}
.other_news .item_other {display: inline-block; float: left; width: 148px; padding: 0 15px; border-right: 1px solid #BABABA;}
.other_news .item_other h3.title {display: inline-block; border-left: 3px solid #145072; padding: 0px 5px; margin: 8px 0; height: 15px; overflow: hidden;}
.other_news .item_other h4.title {display: inline-block; border-left: 3px solid #145072; padding: 0px 5px; margin: 8px 0; height: 15px; overflow: hidden;}
.other_news .item_other ul {display: inline-block; width: 100%;}
.other_news .item_other ul li {border-top: 1px dotted #BABABA; }
.other_news .item_other ul li h2 a {font-weight: normal;height: 37px;display: block;overflow: hidden;}
.other_news .item_other ul li:last-child h2 {margin-top: 5px;}
.other_news .item_other:last-child {padding-right: 0; border-right: none;}
.other_news .item_other.first{padding-left: 0;}

.box_cat_child { border: 1px solid #BABABA; margin-bottom: 8px;}
.box_cat_child .letter {display: block; padding: 5px 8px; background: #145072;}
.box_cat_child ul {display: inline-block; padding: 8px 8px 0;}
.box_cat_child ul li {display: inline-block; width: 138px; float: left;}
.box_cat_child ul li:nth-child(odd) { margin-right: 6px; }
.box_cat_child ul li a.photo {position: relative;}
.box_cat_child ul li .intro {display: inline-block;position: absolute; width: 127px; line-height: 12px; padding: 5px; background: rgba(0,0,0,0.6); left: 0; bottom: 0; font-size: 11px; color: #FFF;}

/* ------------------- DETAIL --------------*/
#content_detail {display: inline-block; overflow: hidden;}
#content_detail * {font-size: 13px; text-align: justify;}
#content_detail .image_desc {display: block; margin: 0; background: #e9e9e9; padding: 8px; color: #145072; position: relative; top: -2px;}
#content_detail .quote.rightside {background: #eee; padding: 0 5px; margin: 0 0 0 8px;}
#content_detail .quote.leftside {background: #eee; padding: 0 5px; margin: 0 8px 0 0;}
#content_detail table.image {width: 1px;}
table.figure {border: none !important; margin: 5px auto !important; padding: 0 !important; width: 1px !important; height: inherit !important;}
table.figure tr, table.figure td {background: transparent !important; border: none !important; margin: 0 !important; padding: 0;}
table.figure tr.figcaption {background: #e9e9e9 !important;}
table.figure tr.figcaption td h2 {font-size: 12px; margin: 0;}
table.figure tr td {padding: 0 !important;}
table.figure tr.figcaption td {padding: 3px 8px !important; line-height: 20px !important; font-size: 12px !important; font-size: 13px !important; color: #145072;}
table.figure tr.figcaption td p {margin: 0 !important;}
table.figure img {border: none !important; max-width: 492px !important;}
.explus_related_1404022217 {border-top: 3px solid #E0E0E0; margin-top: 12px; margin-bottom: 12px;}
.explus_related_1404022217_letter {border-top: 3px solid #c32c2c;display: inline-block;margin-top: -3px;line-height: 26px !important;font-family: Arial !important;font-size: 14px !important;margin-bottom: 3px;padding: 0;}
.explus_related_1404022217_title {text-decoration: none;font-family: Arial !important;font-size: 12px !important;line-height: 16px !important;margin: 8px 0 !important;display: block;font-weight: bold;color: #333 !important; text-align: left !important;}
.explus_related_1404022217_title:hover {text-decoration: underline;}
.explus_related_1404022217_photo {display: block;}
.explus_related_1404022217_left {float: left; width: 140px; margin-right: 12px;}
.explus_related_1404022217_right {float: right; width: 140px; margin-left: 12px;}
.explus_related_1404022217_bottom {display: inline-block;width: 100%;}
.explus_related_1404022217_bottom .explus_related_1404022217_item {float: left;width: 23.5%;margin-right: 2%;overflow: hidden;border: none;padding: 0;}
.explus_related_1404022217_bottom .explus_related_1404022217_item_last {margin-right: 0 !important;}
.explus_related_1404022217_bottom .explus_related_1404022217_title {font-weight: normal !important; line-height: 18px;}
.exp_attach {box-shadow: 1px 1px 3px rgba(0,0,0,0.5); background: url(/ucp/themes/images/attach-icon.jpg) no-repeat #eee; height: 64px; overflow: hidden; max-width: 250px; padding-left: 72px;}
.exp_attach h2 {margin: 8px 0 0 !important;}
.exp_attach h2 a {text-decoration: none;}
.exp_attach p {color: #999; margin: 0 !important;}

#content_detail table[border='1'] {border-collapse: collapse;}
#content_detail table[border='1'] td {border: 1px solid #bababa !important; padding: 3px 5px;}
#content_detail a {color: #145072;}
#content_detail a:hover {color: #145072; text-decoration: underline;}
.signature a:hover {text-decoration: none !important;}

.head_detail h1.title {font-size: 31px; line-height: 35px; margin-top: 8px;}

.tags a {display: inline-block; margin: 0 0 0 5px; font-size: 13px; line-height: 21px;}
.tags a:hover {text-decoration: underline;}
.list_comment {background: #f0f0f2;}

.box_comment {background: #cdcbcc; position: relative;}
.box_comment .gim_box {background: url('../images/binhluan.png') no-repeat 0 0; position: absolute; top: 0;left: -7px;width: 80px;height: 30px; color: #FFF; font-size: 13px; padding: 4px 8px; font-weight: bold;}
.box_comment form {padding: 8px;}
.box_comment input, .box_comment textarea {background: #FFF; border-radius: 3px; padding: 3px; font-size: 13px;}
.box_comment input[name="name"] {margin-left: 85px;}
.box_comment textarea {width: 467px; height: 120px; margin-left: 1px; margin-top: 8px; resize: none;}
.box_comment input[type="submit"] {cursor: pointer; width: 69px; height: 21px; position: relative; top: 4px;}


.other_news_detail {margin: 8px 0;}
.other_news_detail h4.letter {border-bottom: 1px solid #145072; margin-bottom: 8px;}
.other_news_detail .item_other {display: inline-block; float: left; width: 148px; padding: 0 15px; border-right: 1px solid #BABABA;}
.other_news_detail .item_other h3.title {display: inline-block; border-left: 3px solid #145072; background: #d4d4d4; color: #BABABA; padding: 3px;}
.other_news_detail .item_other ul {display: inline-block; width: 100%;}
.other_news_detail .item_other ul li {border-top: 1px dotted #BABABA; margin: 5px 0;}
.other_news_detail .item_other ul li h2 a {font-weight: normal; height: 37px;display: block;overflow: hidden;}
.other_news_detail .item_other ul li:last-child {margin-bottom: 0;}
.other_news_detail .item_other ul li:last-child h2{margin-bottom: 0;}
.other_news_detail .item_other ul li:first-child {border-top: none;}
.other_news_detail .item_other:last-child {padding-right: 0; border-right: none;}
.other_news_detail .item_other.first{padding-left: 0;}

/*.list_relative h4.letter {line-height: 19px; padding-bottom: 3px;}*/
.list_relative h3.letter {line-height: 19px; padding-bottom: 3px;}
.list_relative ul li, .view_most ul li {border-top: 1px dotted #BABABA;}
.list_relative ul li:first-child, .view_most ul li:first-child {border: none;}
.list_relative ul li:first-child h2.title a, .view_most ul li:first-child h2.title a { font-weight: bold ;}
.list_relative li h2.title a, .view_most li h2.title a {display: inherit; font-weight: normal; text-align: justify;}
/*.list_relative h4, .view_most h4, */.list_relative h3, .view_most h3 {margin-bottom: 8px; border-bottom: 3px double #BABABA;}

.head_cm {border: 1px solid #BABABA; border-top: 0;}
/*---------------------PHOTO------------------------*/
#gallery {margin: 18px 0;}

.list_photo {border-top: 1px solid #145072; padding: 13px 0; margin-top: 13px;}
.list_photo ul li {display: inline-block; float: left; width: 158px; margin-right: 17px; margin-bottom: 8px;}
.list_photo .pager_page {display: inline-block;}
.list_photo .pager_page a span {display: inline-block; background: #cdcbcc; font-weight: bold; padding: 4px 9px; margin: 1px; color: #555; font-size: 11px;}
.list_photo .pager_page a.selected span, .list_news_cat .pager_page a:hover span, .list_news_cat .btn_prev_page:hover, .list_news_cat .btn_next_page:hover {background: #145072; color: #FFF;}
.list_photo .btn_prev_page {display: inline-block; margin-right: -1px; background: #828282; color: #FFF; font-size: 11px; padding: 4px 9px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.list_photo .btn_next_page {display: inline-block; margin-left: -1px; background: #828282; color: #FFF; font-size: 11px; padding: 4px 12px; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.list_cat a {display: block; margin: 5px 0;}
.list_cat a:hover, .list_cat a.active {color: #af0c07;}

/*------------------CHUYEN TRANG -------------*/

.bg_header {display: inline-block;background: #004b82;position: relative;top: -13px;left: -10px;width: 998px; padding: 13px 10px 0 10px;}
.bg_header header {display: inline-block; width: 100%;}
.bg_header header .logo {display: block; padding: 0 13px 27px;}
.bg_header header time {padding-left: 13px; color: #FFF;}
.bg_header header time span {font-size: 11px; color: #FFF;}

.bg_header nav {display: inline-block; width: auto;  margin: 0; margin-top: 5px; border-radius: 0; border-top-left-radius: 13px; overflow: hidden;}
.bg_header nav ul {display: inline-block; width: auto; }
.bg_header nav ul li {display: inline-block; float: left; border-right: 2px solid #004b82; background: #006ead;}
.bg_header nav ul li:first-child {width: 52px; cursor: pointer;}
.bg_header nav ul li:first-child a{background: url('../images/icon_home.png') no-repeat center center; text-indent: -99999px; padding: 8px;}
.bg_header nav ul li a {display: inline-block; text-transform: uppercase; color: #FFF; font-size: 7.9pt; padding: 8px 9px;}
.bg_header nav ul li:hover, .bg_header nav ul li.active {background-color: #b11016;}
.bg_header .frm_search_atgt {display: inline-block; float: right; height: 34px; position: relative; background-color: #006ead; margin-top: 5px; border-top-right-radius: 13px;}
.bg_header .frm_search_atgt input[type="text"] {background: #FFF; padding: 3px; margin: 5px; width: 160px; border-top-right-radius: 8px;}
.bg_header .frm_search_atgt input[type="submit"] {position: absolute; width: 27px; height: 24px; top: 5px; right: 5px; background: url('../images/icon_search.png') no-repeat center center #b11016; border-top-right-radius: 8px;}

.bg_header nav ul li:last-child {width: auto; border-radius: 0 !important;}

.ATGT_pick2 li {display: inline-block; width: 219px; float: left; margin-right: 13px;}

.icon-comment {display: inline-block; background: #4c69ba; background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0)); background: -webkit-linear-gradient(#4c69ba, #3b55a0); border: none; -webkit-border-radius: 2px; color: #fff; cursor: pointer; font-weight: bold; height: 20px; line-height: 20px; padding: 0 3px; text-shadow: 0 -1px 0 #354c8c; white-space: nowrap; font-size: 11px; float: right;}
.count_text {background: white; border: 1px solid #9197a3; -webkit-border-radius: 2px; color: #4e5665; display: inline-block; font-size: 11px; height: 18px; line-height: 18px; margin-left: 6px; min-width: 15px; padding: 0 3px; text-align: center; white-space: nowrap; position: relative;}
.count_text i, .count_text b{border-color: transparent #9197a3; border-style: solid; border-width: 4px 5px 4px 0; display: block; position: absolute; top: 5px; left: -6px;}
.count_text i {left: -4px; top: 5px; border-right-color: #fff; z-index: 9;}
.icon-comment.cat {margin-left: 8px;}

.ex_qc {margin: 8px 0; min-height: 16px;}
.space {display: block; height: 8px;}
#next_camera {margin-right: 0 !important;}
.btn_print, .fb-share, .tw-share, .g-share, .z-share {width: 16px; height: 18px; display: inline-block; margin-left: 3px; background: url(../images/icons_social.png);}
.btn_print {background-position: 0 1px;}
.fb-share {background-position: -24px 0;}
.tw-share {background-position: -48px 0;}
.g-share {background-position: -72px 0;}
.z-share {background-position: -96px 0;}

.slide_channel {position: relative; z-index: 9999;}
.slide_channel .btn_control {display: inline-block; position: absolute; width: 17px; height: 35px; overflow: hidden;}
.slide_channel .btn_next {background: url("../images/icon_ctrl_business.png") no-repeat -18px 0; top: 80px; right: 1%;}
.slide_channel .btn_prev {background: url("../images/icon_ctrl_business.png") no-repeat; top: 80px; left: 1%;}
#slide_channel section {float: left; width: 300px;}
.exp_tinyslide {display: none;}
.twentytwenty-overlay {display: none;}
#news_other_39 {padding-right: 0 !important;}
#news_other_39 a {font-size: 11px !important;}

.mac-os nav ul li a {padding: 7px 4px 7px 4px !important;}
.mac-os .menu_footer li a {padding: 0px 4px 0 4px !important;}
.mac-os .bg_header nav ul li a {padding: 8px 7px !important;}

.fanpages a {width: 21px; height: 21px; display: inline-block; background: url(../images/fanpage.png); text-indent: -9999px;}
.fanpages a.fb {background-position: 63px 0;}
.fanpages a.gg {background-position: 42px 0;}
.fanpages a.tt {background-position: 0 0;}
.fanpages a.yt {background-position: 21px 0;}

.li_video_221 {margin: 3px 0;}
.btn_play_video.active {font-weight: bold;font-size: 17px !important;}
.btn_play_video {background: url(/templates/themes/images/blackWhiteArrowIcon.png) no-repeat 0px 2px; padding-left: 17px;}
#wrap_video_qc {margin-bottom: 8px;}

#slide_video li {position: relative;}
#slide_video li .icon {position: absolute; left: 50%; top: 35%; background: url('../images/icon_video.png'); display: inline-block; width: 60px; height: 60px; margin-left: -30px; margin-top: 0; zoom: 0.6;}
.exp_quote {height: auto !important;}

#box_link_az {border: 1px solid #145072;border-top: 0;padding: 8px; text-align: center;}
#box_link_az .btn_link {display: block; text-align: left; border-bottom: 1px solid #ddd; line-height: 28px; padding: 0 8px; position: relative;}
#box_link_az .btn_link:hover {background: #f2f2f2;}
#box_link_az .btn_link span {position: absolute; top: 10px; right: 0px; border: 4px solid transparent; border-left: 6px solid #145072;}
#box_link_az .btn_link.active {background: #f2f2f2 !important;}
#box_link_az .btn_link.active span {border-left: 4px solid transparent; border-top: 6px solid #145072; right: 4px;}
#box_link_az .listchild {display: none; border-bottom: 1px solid #ddd; padding: 5px 0 8px;}
#box_link_az .listchild.active {display: block;}
#box_link_az .listchild a {display: block; text-align: left; margin-left: 8px; line-height: 25px;}
#box_link_az .listchild a:hover {text-decoration: underline !important;}
#box_link_az .slimScrollDiv {margin-top: 0 !important;}

.is_icon_video {display: inline-block; width: 14px; height: 11px; background: url(../images/is_icon_video.png); margin-left: 3px;}
.exp_qc_share .exp_qc_one {display: none;}
.exp_qc_share .exp_qc_one.active {display: inline-block;}