html, body {
    -ms-overflow-style: scrollbar;
}
body {  color: #565656; background: #fff; max-width: 1920px;  margin: 0 auto; font-family: "SimSun";}
.clear { clear: both; }
ul, li { list-style-type: none; padding: 0px; margin: 0px; }
ol {margin-top: 0;margin-bottom: 0px;}
.left { float: left; }
.right { float: right; }
.pager { margin: 0px; }
p {margin: 0;}

a { text-decoration: none; color: #333; }
    a:hover, a:active { text-decoration: none; color: #228a3b; }
    a.btn { margin: 5px; padding: 6px 18px; line-height: 24px; display: inline-block; border: 1px solid #ccc; border-radius: 3px; }
    a.more { font-size: 12px; }
span.em { display: block; }
span.new-date { float: right;  }
span.adr { padding-right: 5px; }
.brand-none { display: none;  }
/* 头部 */

header { height: 95px; background: #f6f6f6; }
header img {  }


.header-top { padding: 18px 0 5px; }
.logo { float: left;  display: inline-block; }
.search { margin: 0 30px; float: left; width: 730px;  display: inline-block; }
.hot-search { height: 26px;   }
.hot-search a { font-size: 12px; }
.hot-search a:last-child { border-right: none;  }
.hot-search a:hover { color: #465de0;  }
.search input { width: 643px; background: #fff url(../images/icon/baidu.jpg) no-repeat left center ; background-position-x: 5px; padding-left: 80px; border: 2px #dfdfdf solid; border-right: none; border-radius: 0; }
.search button { width: 86px; background: #094e9c; color: #fff; padding: 5px 12px; border: 2px #094e9c solid; border-left: none; border-radius: 0;  }
.search button:hover ,.search button:focus,.search .about button.focus {  background: #094e9c; padding: 5px 12px; border: 2px #094e9c solid; border-left: none; color: #fff; border-radius: 0;  }

.code { padding-left: 10px; float: left; display: inline-block; }
.code p {  display: inline-block; font-size: 12px; color: #000; }
.btn-select {  position: absolute; left: 0; display: inline-block; width: 70px; height: 34px; z-index: 9999;   }
.btn-select select { width: 70px; height: 34px; border: 2px #dfdfdf solid; }
/* nav */
nav { height: 50px; background: url(../images/icon/nav.png); }
.menu-left { float: left; background:  url(../images/icon/nav1.png) left no-repeat ; width: 173px; height: 52px; position: relative; bottom: 1px; display: inline-block; }
.menu-left p { font-size: 12px; color: #fff; font-weight: 600; padding: 16px 30px 0 0; }
.menu-left img { padding: 0 10px 5px 25px; }
.menu-left span {  }
.menu { float: left; display: inline-block;    }
.menu a {float: left; font-size: 16px; line-height: 32px; color: #fff; padding: 9px 24px;  font-weight: 600;  }

.left-nav.active { display: block; padding: 100px 0; }
.left-nav { display: none; width: 42px; height: 748px; position: fixed; left: 14%; top: 5%;  }
.left-nav p { text-align: center; font-size: 12px; color: #221815; line-height: 20px; border-bottom: 1px #e6e7e8 solid; }
.left-nav li { width: 42px; height: 42px; text-align: center; border-bottom: 1px #e6e7e8 solid; }
.left-nav img { margin:0 auto; display: block; padding: 10px; }
.left-nav a { display: block; position: relative; }
.lfno { display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: #094e9b;  }
.lfno  { padding: 12px 0; font-size: 12px; color: #fff;  margin: 0 auto; }
.left-nav a:hover .lfno { display: block; }

.right-nav { width: 48px; height: 560px; padding-top: 20px; background: #e6e6e6; position: fixed; right: 0px; top: 0; z-index: 99999; }
.right-nav a { display: block; text-align: center; font-size: 12px; color: #3e3a39; padding: 30px 0;  }
.right-nav span { display: block; }
.right-nav img { display: block; text-align: center; margin: 0 auto; padding-bottom: 5px; }
.right-nav a:first-child img { border-radius: 50%; height: 35px; width: 35px; padding-bottom: 0; margin-bottom: 5px; }
.active_r { top: -120px; transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;-ms-transition: all 1s; }
.top { cursor: pointer; }
/* 头部end */

/* banner-ad */
.banner-ad { margin: 20px 0 ; }
.banner-ad a { display: block; }
.banner-ad img { width: 1200px; height: 90px; }
/* banner-ad End */

/* foot */

footer { background: #094e9b; margin-top: 20px; height: auto; padding-bottom:10px;}
p.bottom-menu { text-align: center;   }
p.bottom-menu a { display: inline-block; font-size: 14px; color: #fff; padding: 16px;}
footer p { font-size: 14px; color: #fff; text-align: center; margin: 10px 0; }
.copyright {  font-size: 14px; color: #fff; text-align: center; margin: 20px 0; }
.copyright { *margin: 7px 0; margin: 7px 0\0;  }
p.bottom-menu a { *padding: 7px 16px;  padding: 7px 16px\0;  }
.no-foot { width: 932px; height: 62px;  margin: 0 auto; background: #fff; padding: 6px;  }
.no-foot li {  height: 52px; border: 1px #e6e7e8 solid ; display: inline-block; margin-left: 7px; padding: 3px; }
.no-foot li:last-child { padding: 0; }
.no-foot li a { display: block; }
.no-foot span {    }
.fl { float: left; }
.fr { float: left; padding: 0 4px; }
.fr a { font-size: 12px; color: #3e3a39; line-height: 14px; padding: 8px 0; }
/* footEnd */

/*搜索*/
.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; widt:70px; height:34px; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/


.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#000;background:#e2e2e4 url(../../images/msdropdown/skin1/title-bg.gif) repeat-x left top;}
.dd .ddTitle .ddTitleText{ border: 2px #dfdfdf solid; width: 70px; height: 34px; background: #fff; line-height: 28px; }
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px; width: 100px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}
.ddlabel { position: relative; top: 1px;  }

#tech_title img,#tech_child img { position: inherit;  }

@media (min-width: 10px) {
    .container { width: 1200px; padding: 0; }
}



@media (min-width: 1320px) {
	.left-nav { left: 0%; }

}
@media (min-width: 1400px) {
	.left-nav { left: 3%; }

}
@media (min-width: 1500px) {
	.left-nav { left: 7%; }

}
@media (min-width: 1600px) {
	.left-nav { left: 10%; }

}
@media (min-width: 1700px) {
	.left-nav { left: 12%; }

}
@media (min-width: 1800px) {
	.left-nav { left: 14%; }

}

@media (max-width: 1320px) {
	.left-nav { display: none; }
	.left-nav.active {display: none;}
   .right-nav { display: none; }
}



/* 2-23 */
.lf-nav { *position: relative; *top: -28px; }
.no-foot li { *float: left; }
.no-foot {*width: 970px; }

.header-top .form-control { *width: 545px; *height: 22px }
.code p { *position: relative; *top: -50px; *left: 85px;  }
a:link,a:visited ,a:hover { 
	text-decoration: none; 
} 



/*********************/
/*new*/
.i-load{width:1rem;height:1rem;display:inline-block;vertical-align:middle;background:url(../images/icon/loading1.GIF);background-size:1rem;/*background:url(../images/load.png) 0 bottom;background-size:1rem;*/-webkit-transform:rotate(0deg) translateZ(0);-webkit-animation:loading 2s infinite linear;}
.loading{text-align:center;font-size:0.7rem;color:#c5c5c5;padding: 5px 0;}

/*lbz 2016-11-9 头部微信号app下载*/
.code{margin-top:-15px;}
.code li { width:72px;float: left;display: inline;margin-right: 18px;text-align: center;position: relative;z-index: 3; cursor: pointer;}
.code li i{ width: 55px;height: 55px;margin: 0 auto 4px;overflow: hidden;-webkit-transition: all 1s;-moz-transition: all 1s;-ms-transition: all 1s;transition: all 1s; display: inline-block; }
.code li i.icongfwx{ background: url(/images/icongfwx.png) no-repeat; }
.code li .code_title{ height: 24px;overflow: hidden;}
.code li span{ font-size:12px; }
.code li i.icongfapp{ background: url(/images/icongfapp.png) no-repeat; }
.code li .wx-tag { position: absolute;top: 57px; left: -35px;height: 145px;border: 1px solid #ddd;background: #fff;line-height: 15px;display: none;}
.code li .wx-tag .sharp { position: absolute; top: -9px; left: 55px;}
.sharp {line-height: 0;overflow: hidden;position: absolute;width: 20px;height: 10px;background:url(/images/iconsharp.png) no-repeat;}
.code li img { padding: 9px 10px 8px;}
.code li .app-tag { position: absolute;top: 57px; left: -2px;height: 145px;border: 1px solid #ddd;background: #fff;line-height: 15px;display:none;}
.code li .app-tag .sharp { position: absolute; top: -9px; left: 25px;}
.code li .app-tag img { padding: 9px 10px 8px;}
/*头部微信号app下载 End*/