.holder {
    position: relative;
    top: -21px;
    z-index: 9;
    left: 100px;
	width:0px;
	height:0px;
}
.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
	width: 7px;
	height: 12px;
}
.holder a:hover {
	background-color: #222;
	color: #fff;
}
.holder a.jp-previous { margin-right: 15px;  display:none;}
.holder a.jp-next { margin-left: 15px; display:none;}
.jp-previous { background: #fff url(../images/icon/lo-left.png) no-repeat; width: 18px; height: 18px; z-index: 9; cursor: pointer; }
.jp-next { background: #fff url(../images/icon/lo-right.png) no-repeat; width: 18px; height: 18px; z-index: 9; cursor: pointer;  }
.holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}
.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}
.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
}

.love-tit { margin:-10px 0 0 0px;} 
/**home.css**/
.lo-left{ position:absolute; top:-21px;}
.lo-right{ position:absolute; top:-21px;}
