.f-nav-vice{ clear: both; height: 35px; line-height: 35px; background-color: #f5f5f5;}
.f-nav-vice a{ padding: 0 12px;}
.f-recommend li{ background-color: #f2fcff;}
.f-recommend .f-recommend-img{ display: none; position: relative; padding: 12px 12px 0; height: 110px; *height: 98px;}
.f-recommend .f-recommend-img img{ display:block; width:200px; height:111px;}
.f-recommend .f-recommend-img span{ position: absolute; bottom: 0; display: block; width: 200px; height: 30px; line-height: 30px; font-size: 14px; background: url(/skin/sky15/images/yin.png) repeat-x scroll 0 0;  text-align: center; color: #fff;}
.f-recommend .f-recommend-info { display: block; height: 47px;*height: 30px;_height: 28px; padding: 12px 15px 0;*padding: 0px 15px 10px;_padding: 0px 15px 0px; border-bottom: 1px solid #eeeeee;}
.f-recommend .f-recommend-info img{ display: block; float: left; width: 32px; height: 32px; margin: 0 10px 0 0;}
.f-recommend .f-recommend-info p{ height:14px; line-height: 16 px; padding: 0 0 3px; font-size: 14px; color: #333333; overflow:hidden;}
.f-recommend .f-recommend-info i{ font-size: 12px; font-weight: normal; color: #999999;}
.f-recommend li.hover .f-recommend-img{ display: block; }
.f-recommend li.hover .f-recommend-info{ display: none; }
.m-main .span6 h2{ font-size: 18px; text-align: center;}
.m-main .span6 h2 a{ color: #ff0000;}
.f-suggest a{ padding: 0 12px 0 0; color: #333333;}

.tabnav li{ float: left; text-align: center;}
.m-main{ margin:12px auto;}
.m-main .row-fluid {}
body .m-main dt.span3{ float: left; display: inline; width: 224px; margin: 0;}

body .m-main dd.span3 {float: right; display: inline; width: 224px; margin: 0;}
.row-fluid dt.span9{ float: left; display: inline; width: 715px; margin: 0; }
.row-fluid dt.span9 div { }
.m-main .span6{ height:423px; overflow:hidden; float: left; width: 470px; _margin-left: 15px; }
.m-main .span6 .tabnav{ height: 56px; margin: 0 0 6px; border-bottom: 1px solid #eeeeee;}
.m-main .span6 .tabnav li{ width: 33%; height: 56px; font-size: 14px; color: #333333;}
.m-main .span6 .tabnav li i { background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -3px -97px; display: block; height: 30px; margin: 0 auto; width: 30px;}
.m-main .span6 .tabnav li.hover{ border-bottom: 1px solid #19b5ff; color: #19b5ff;}
.m-main .span6 .tabnav li.hover i{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -3px -61px;}
.m-main .span6 .tabnav li i.two{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -39px -97px;}
.m-main .span6 .tabnav li.hover i.two{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -39px -61px;}
.m-main .span6 .tabnav li i.three{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -114px -97px;}
.m-main .span6 .tabnav li.hover i.three{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -114px -58px;}
.m-main .span6 .tabnav li i.four{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -76px -96px;}
.m-main .span6 .tabnav li.hover i.four{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -76px -59px;}
.m-main .span6 .tabnav li i.five{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -151px -97px;}
.m-main .span6 .tabnav li.hover i.five{background: url("/skin/sky15/images/main_icon.png") no-repeat scroll -151px -58px;}


.f-softlist li { height: 30px; line-height: 30px; overflow: hidden;}
.f-softlist li span { color: #666; display: inline; float: right; padding-left: 10px; position: relative; top: 1px;}
.f-softlist li i { border-right: 1px solid #999; display: inline; float: left; font-style: normal; height: 17px; line-height: 17px; margin: 6px 7px 0 0; overflow: hidden; padding: 0 10px 0 0; text-align: right; width: 60px;*width: 50px;}
.f-softlist li i a { font-size: 12px; color: #9a9995;}
.f-softlist li img { height: 20px; margin-right: 4px; position: relative; top: -1px; width: 20px;}
.f-softlist li a { font-size: 14px; overflow: hidden;}


.f-slist { padding: 9px 0 5px;}
.f-slist li{  float: left; height: 27px; line-height: 27px; width: 111px; overflow:hidden;}
.f-slist li a{ display:block; padding:0 8px 0 0;}
.f-slist li img{ width: 20px; height: 20px; margin: 0 4px 0 0;}

.m-softbox .tit,.m-link .tit{ height: 30px; line-height: 30px; padding: 0 0 0 13px; margin: 0 0 0px; font-size: 16px; font-weight: normal; color: #333; border-left: 4px solid #19b5ff; border-bottom:1px #ddd solid; width: 703px;}
.m-softbox { float: left; width: 731px; margin:0 0 22px; }
.m-softbox dl { display: inline; float: left; width: 143px; height:142px; padding-bottom: 11px; margin: 0 0 0 -1px; border-right: 1px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.m-softbox dl dt { height: 35px; line-height: 35px; margin-bottom: 7px; text-align: center; background: none repeat scroll 0 0 #f9f9f9; color: #000; font-size: 14px;}
.m-softbox dl dd { margin-top: 7px; text-indent: 38px;}
.m-softbox dl dd a{ font-weight: normal; color: #62676d; }
.m-softbox dl dd a img {width: 16px; height: 16px;}

.m-azgame{ clear: both; height: 426px; overflow:hidden;}
.m-azgame .f-tit,.m-flgx .f-tit{ height: 38px; line-height: 38px; border-bottom: 2px solid #19b5ff; overflow: hidden;}
.m-azgame .f-tit .name,.m-flgx .f-tit .name{ float: left; line-height: 43px; font-size: 16px; color: #333333;}
.m-azgame .f-tit .name i{ display: block; float: left; width: 30px; height: 29px; margin: 9px 10px 0 0; background:url("/skin/sky15/images/main_icon.png") no-repeat scroll -3px -156px; }
.m-azgame .f-tit .tabnav,.m-flgx .f-tit .tabnav{ float: right;}
.m-azgame .f-tit .tabnav i{ padding: 0 4px 0 0; font-weight: normal; color: #333333; cursor:pointer;}
.m-flgx .f-tit .tabnav i{ padding: 0 15px 0 0; font-weight: normal; color: #333333; cursor:pointer;}
.m-azgame .f-tit .tabnav i.hover a, .m-flgx .f-tit .tabnav i.hover{ color:#ff4400;}

.m-bblist{  margin:0 0 12px; overflow:hidden;}
.m-bblist li{ float:left; width:176px; height:94px; border:1px solid #eeeeee;}
.m-bblist li .tit{ display:block; height:38px; line-height:44px; padding:0; font-size:14px; color:#333333; overflow: hidden;}
.m-bblist li .tu{ display:inline; float:left; width:60px; height:60px; margin:15px 14px 0 16px;}
.m-bblist li .tu img{ width:60px; height:60px;}
.rank-about { float:left; width:85px; overflow: hidden;}
.m-bblist li span{ display:block; color:#999999;}
.m-bblist li span.type{ font-weight: normal; color: #999999;}
.m-bblist li p.star1{*width:100px; width:85px; height:20px; line-height:20px; overflow:hidden; background:url(/skin/sky15/images/litterStar.png) no-repeat 0 -101px;}
.m-bblist li p.star2{*width:100px; width:85px; height:20px; line-height:20px; overflow:hidden; background:url(/skin/sky15/images/litterStar.png) no-repeat 0 -49px;}
.m-bblist li p.star3{*width:100px; width:85px; height:20px; line-height:20px; overflow:hidden; background:url(/skin/sky15/images/litterStar.png) no-repeat 0 -73px;}
.m-bblist li p.star4{*width:100px; width:85px; height:20px; line-height:20px; overflow:hidden; background:url(/skin/sky15/images/litterStar.png) no-repeat 0 -101px;}
.m-bblist li p.star5{*width:100px; width:85px; height:20px; line-height:20px; overflow:hidden; background:url(/skin/sky15/images/litterStar.png) no-repeat 0 -101px;}

.f-classify .tabnav { height: 38px; line-height: 38px; border-bottom: 1px solid #eeeeee;}
.f-classify .tabnav i{ display: block; float: left; width: 74px; height: 38px; text-align: center; font-size: 14px;}
.f-classify .tabnav i.hover{ border-bottom: 2px solid #19b5ff; color: #19b5ff;}
.f-classify ul{ clear:both; height:905px; overflow:hidden; border:1px solid #eeeeee; overflow: hidden;}
.f-classify ul li { padding: 5px 10px 0;}

.f-classify ul li.last{ height:30px; line-height:30px; padding:0; text-align:center;}
.f-classify ul li .item-title { height: 23px; font-size: 14px; font-weight: bold; overflow: hidden;}
.f-classify ul li .item-links { padding: 0 0 5px; border-bottom: 1px solid #efefef;}
.f-classify ul li .item-links a { float: left; width: 52px; height: 22px; line-height: 22px; margin: 0 14px 0 0; overflow: hidden; word-break: break-all; font-weight:normal;}

.m-flgx .f-tit .name i{display: block; float: left; width: 30px; height: 29px; margin: 9px 10px 0 0; background:url("/skin/sky15/images/main_icon.png") no-repeat scroll -40px -156px; }
.m-box-left2{ float:left; width:693px; height:342px; overflow:hidden;}
.m-box-left2 dl { display: inline; float: left; width: 137px; padding-bottom: 11px; border-right: 1px solid #ddd;}
.m-box-left2 dl dt { height: 35px; line-height: 35px; margin-bottom: 7px; text-align: center; background: none repeat scroll 0 0 #f9f9f9; color: #000; font-size: 14px;}
.m-box-left2 dl dd { margin-top: 7px; text-indent: 38px;}
.m-box-right2{ float:right; width:248px;}
.m-box-right2 .u-tit{ height:33px; line-height:35px; font-size:14px;}
.m-box-right2 .u-tit span{ display:block; float:right; width:56px; border:none;}
.m-box-right2 .u-tit span i{ display:block; float:left; width:26px; height:26px; line-height:26px; text-align:center; font-size:12px; background-color:#ddd;}
.m-box-right2 .u-tit span i.hover{ background-color:#04bc06; color:#fff;}
.m-box-right2 ul li .single{ height: 22px; line-height: 22px; padding: 3px 0; *padding:0; overflow: hidden;}
.m-box-right2 ul li .single .num { float: left; width: 16px; height: 16px; line-height: 16px; margin: 2px 10px 0 0; text-align: center; background: none repeat scroll 0 0 #b9b9b9;
 color: #fff; overflow: hidden;}
.m-box-right2 ul li .single a { float: left; width: 211px; height: 22px; line-height: 22px; font-size:12px; overflow: hidden; }
.m-box-right2 ul li .single .star-bar { float: right;  display: block; width: 70px; height: 12px; margin-top: 6px; background: url(../images/xin5.png) no-repeat 0 0;
 overflow: hidden;}
.m-box-right2 ul li .app-img{ display:none; position: relative; height: 50px;*height: 30px; padding: 5px 0 5px 58px;}
.m-box-right2 ul li .app-img .pic { position: absolute; top: 5px; left: 0; width: 50px; height: 50px; overflow: hidden;}
.m-box-right2 ul li .app-img .pic img { width: 48px;}
.m-box-right2 ul li .app-img .name { display: block; width: 90px; height: 25px; line-height: 25px; color:#333; font-weight:bold; overflow: hidden; }
.m-box-right2 ul li .app-img .ext { display: block; line-height: 25px; color:#999999;}
.m-box-right2 ul li .app-img .btn { position: absolute; top: 10px; right: 0;  width: 70px; height: 25px; line-height: 25px; padding:0; font-weight: bold; text-align: center;font-size:12px; box-shadow:none; background: none repeat scroll 0 0 #45b823; color: #fff; text-shadow:none;}
.m-box-right2 ul li.cur .app-img{ display:block;}
.m-box-right2 ul li.cur .single{ display:none;}
.m-nlist{ width:718px; padding:6px 0 0; overflow:hidden;}
.m-nlist li{ float: left; width: 332px; height: 28px; line-height: 28px; margin: 0 20px 0 0; overflow: hidden; }
.m-nlist li em { float: right; color: #999; font-style: normal;}
.m-nlist li span { padding-right: 4px;}
.m-nlist li span a{ color: #999;}
.m-nlist li a {	font-size:14px; color: #333;}

.m-link { clear: both; margin: 24px auto;}
.m-link p i{ display:block; width:72px; height:28px; line-height:28px; margin-right:6px; text-align:center; background-color:#f8f8f8; border-left:1px solid #eeeeee; border-right:1px solid #eeeeee; border-bottom:none; border-top:2px solid #45b823; color:#45b823;}
.m-link ul{ position:relative; padding:8px 10px 0 0; border:1px solid #dddddd;}
.m-link ul li{ float:left; *height: 20px; *overflow: hidden; padding:0 0 0 10px;}

.m-foot p{ height:30px; line-height:30px; text-align:center;}
.m-foot p a{ padding:0 12px;}

.tabcon{ display:none;}

.m-zthj ul{ width: 200px; height:auto;  overflow: hidden;}
.m-zthj ul li{ position: relative; height: 50px; padding: 9px 10px 3px; border-bottom: 1px solid #eeeeee; }
.m-zthj ul li.top{ position: relative; width: 200px; height: 119px; padding: 0;}
.m-zthj ul li.top img{ display: block; float: none; width: 199px; height: 106px;}
.m-zthj ul li.top p{ position: absolute; bottom: 0; width: 100%; height: 30px; line-height: 30px; color: #fff; background-color: #000; text-align: center;}
.m-zthj ul li img{ display: block; float: left; width: 50px; height: 50px; margin: 0 10px 0 0;}
.m-zthj ul li .name{ height:20px; overflow:hidden;}
.m-zthj ul li .button{ position: absolute; top: 29px; right: 7px; display: block; width: 43px; height: 18px; line-height: 18px; text-align: center; background-color: #fff; border: 1px solid #5fc700; color: #5fc700;}