#popupBackground {
    z-index:900;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#popupBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #fff;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -145px;
    position: fixed;
    top: 20%;
    width: 280px;
    z-index: 901;
}
div.popupLoader {
    background: url(/images/loading.gif) no-repeat scroll 0 0 transparent;
    width: 128px;
	height: 15px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url(/images/close-button.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
	width: 29px;
    height: 29px;
    position: absolute;
    right: -17px;
    top: -14px;
}

div#popup_content {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}