body {background-color:#fff;}
a{ color:#000; }


/* header */
/* ==================== */
.header{ box-shadow:none; background-color:#fff7f5; }
.logo{ background:url(/images/logo18.png) center center no-repeat; width:167px; height:50px; }

.nav_btn.selected, 
.nav_btn:hover{ background-color:#f7c3b4; }


.HeaderDBtm{background:#ebb09f; border-bottom:3px solid #eb947b;}

ul.headerContent ul {border-bottom:3px solid #eb947b;}
ul.headerContent li ul li { background:#f7c3b4; border-bottom:1px dotted #ebb09f;}
ul.headerContent li:hover li:hover {background:#ebb09f;}

/* search - google */
/* ==================== */
.GoogleSearchText{ border-radius:0px; box-shadow:0; background:#fff; border:0;}


/* languange */
/* ==================== */
.nav_btn.language{background-color:#fff; border:0; border-radius:0;}



/*
 * waterfall
 */
/* ==================== */
.item {
    height: auto;
    border-radius: 0;
}

.pinImage{border-radius:0;}
.pinTitleDesc{ height:auto;}
.pinOther{border-top:0; font-size:11px; height:22px; line-height:22px; position:absolute; top:0;}
.pinOther .o_type{ color:#fff; }
.pinOther .o_hits{ color:#fff; }



/* body content - content.aspx */
/* ==================== */
.contentLeft,
.contentRight {margin:0 5px; }

.contentBox{ margin-bottom:10px; background-color:#fff; border-radius:0;  box-shadow:0 1px 1px 1px rgba(222, 222, 222, 0.8); -moz-box-shadow:0 1px 1px 1px rgba(222, 222, 222, 0.8); -webkit-box-shadow:0 1px 1px 1px rgba(222, 222, 222, 0.8); }

.objectTitle, .subTitle { color:#c52c00; }

#div_answerClick {background-color:#eee; border-radius:0; border:0; color:#333; }
#div_answerArea {background-color:#eee; border-radius:0; border:0; color:#333;}





/* right sidebar related */
/* ==================== */
.sidebar_random{border-top:1px solid #ddd;}


/* sticky share area */
/* ==================== */
.stickyShareArea{ background:rgba(247,195,180, 0.4); border-radius:0; box-shadow:0 1px 1px rgba(247,195,180, 0.15); border-top:0; border-top-color:transparent; border-bottom:0; }
.stickyText{color:#fff; border-radius:0;}


/* bottom share area */
/* ==================== */
.btm_ShareArea{border-top:1px solid #ddd;}
.btm_ShareText{color:#fff; font-weight:bold; border-radius:0;}
.btm_BtnShare{ border-color:transparent; box-shadow:0; border:0; background:#eb947b;}
.btm_ShareText .count{border-left:1px solid #fff;}


/* advertisement in index.aspx & content.aspx */
/* ==================== */
.ads_content{border-top:1px solid #ddd; border-bottom:1px solid #ddd;}


/*Styles for screen 1100px and lower (mobile menu)*/
@media screen and (max-width: 1100px){
	.logo{ float:center; margin:0 auto; }
}