/* ==========================================================================
   Bbcode-editor
   ========================================================================== */
.bbcode-editor:before,
.bbcode-editor:after {
  content: "";
  display: table;
}
.bbcode-editor:after {
  clear: both;
}
.bbcode-editor {
  *zoom: 1;
}
.bbcode-editor .bbcode {
  width: 26px;
  height: 26px;
  margin: 0 4px 4px 0;
  float: left;
  background: rgb(235, 235, 235) url(../bbcodes/bbcodes.png) no-repeat 0 0;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.bbcode-editor .bbcode:hover {
  background-color: #fff;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.bbcode-editor .bbcode.b-b {
  background-position: 0 -900px;
}
.bbcode-editor .bbcode.b-b:hover {
  background-position: -30px -900px;
}
.bbcode-editor .bbcode.b-i {
  background-position: 0 -570px;
}
.bbcode-editor .bbcode.b-i:hover {
  background-position: -30px -570px;
}
.bbcode-editor .bbcode.b-u {
  background-position: 0 -60px;
}
.bbcode-editor .bbcode.b-u:hover {
  background-position: -30px -60px;
}
.bbcode-editor .bbcode.b-s {
  background-position: 0 -180px;
}
.bbcode-editor .bbcode.b-s:hover {
  background-position: -30px -180px;
}
.bbcode-editor .bbcode.b-separator {
  background-position: 0 -840px;
  width: 5px;
  background-color: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bbcode-editor .bbcode.b-emo {
  background-position: 0 -660px;
}
.bbcode-editor .bbcode.b-emo:hover {
  background-position: -30px -660px;
}
.bbcode-editor .bbcode.b-url {
  background-position: 0 -450px;
}
.bbcode-editor .bbcode.b-url:hover {
  background-position: -30px -450px;
}
.bbcode-editor .bbcode.b-leech {
  background-position: 0 -480px;
}
.bbcode-editor .bbcode.b-leech:hover {
  background-position: -30px -480px;
}
.bbcode-editor .bbcode.b-email {
  background-position: 0 -690px;
}
.bbcode-editor .bbcode.b-email:hover {
  background-position: -30px -690px;
}
.bbcode-editor .bbcode.b-video {
  background-position: 0 -390px;
}
.bbcode-editor .bbcode.b-video:hover {
  background-position: -30px -390px;
}
.bbcode-editor .bbcode.b-audio {
  background-position: 0 -360px;
}
.bbcode-editor .bbcode.b-audio:hover {
  background-position: -30px -360px;
}
.bbcode-editor .bbcode.b-hide {
  background-position: 0 -600px;
}
.bbcode-editor .bbcode.b-hide:hover {
  background-position: -30px -600px;
}
.bbcode-editor .bbcode.b-quote {
  background-position: 0 -240px;
}
.bbcode-editor .bbcode.b-quote:hover {
  background-position: -30px -240px;
}
.bbcode-editor .bbcode.b-code {
  background-position: 0 -750px;
}
.bbcode-editor .bbcode.b-code:hover {
  background-position: -30px -750px;
}
.bbcode-editor .bbcode.b-pagebreak {
  background-position: 0 -270px;
}
.bbcode-editor .bbcode.b-pagebreak:hover {
  background-position: -30px -270px;
}
.bbcode-editor .bbcode.b-pagelink {
  background-position: 0 -300px;
}
.bbcode-editor .bbcode.b-pagelink:hover {
  background-position: -30px -300px;
}
.bbcode-editor .bbcode.b-left {
  background-position: 0 -510px;
}
.bbcode-editor .bbcode.b-left:hover {
  background-position: -30px -510px;
}
.bbcode-editor .bbcode.b-center {
  background-position: 0 -810px;
}
.bbcode-editor .bbcode.b-center:hover {
  background-position: -30px -810px;
}
.bbcode-editor .bbcode.b-right {
  background-position: 0 -210px;
}
.bbcode-editor .bbcode.b-right:hover {
  background-position: -30px -210px;
}
.bbcode-editor .bbcode.b-color {
  background-position: 0 -720px;
}
.bbcode-editor .bbcode.b-color:hover {
  background-position: -30px -720px;
}
.bbcode-editor .bbcode.b-spoiler {
  background-position: 0 -150px;
}
.bbcode-editor .bbcode.b-spoiler:hover {
  background-position: -30px -150px;
}
.bbcode-editor .bbcode.b-flash {
  background-position: 0 -630px;
}
.bbcode-editor .bbcode.b-flash:hover {
  background-position: -30px -630px;
}
.bbcode-editor .bbcode.b-youtube {
  background-position: 0 0;
}
.bbcode-editor .bbcode.b-youtube:hover {
  background-position: -30px 0;
}
.bbcode-editor .bbcode.b-typograf {
  background-position: 0 -90px;
}
.bbcode-editor .bbcode.b-typograf:hover {
  background-position: -30px -90px;
}
.bbcode-editor .bbcode.b-list {
  background-position: 0 -420px;
}
.bbcode-editor .bbcode.b-list:hover {
  background-position: -30px -420px;
}
.bbcode-editor .bbcode.b-ol {
  background-position: 0 -330px;
}
.bbcode-editor .bbcode.b-ol:hover {
  background-position: -30px -330px;
}
.bbcode-editor .bbcode.b-upload {
  background-position: 0 -30px;
}
.bbcode-editor .bbcode.b-upload:hover {
  background-position: -30px -30px;
}
.bbcode-editor .bbcode.b-img {
  background-position: 0 -540px;
}
.bbcode-editor .bbcode.b-img:hover {
  background-position: -30px -540px;
}
.bbcode-editor .bbcode.b-translit {
  background-position: 0 -120px;
}
.bbcode-editor .bbcode.b-translit:hover {
  background-position: -30px -120px;
}
.bbcode-editor .bbcode.b-uppod {
  background-position: 0 -930px;
}
.bbcode-editor .bbcode.b-uppod:hover {
  background-position: -30px -930px;
}
.bbcode-editor .b-font,
.bbcode-editor .b-size {
  float: left;
  margin-right: 4px;
}
.bbcode-editor .b-font select,
.bbcode-editor .b-size select {
  font-size: 100%;
  margin: 4px 0 0 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.bbcode-editor .tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bbcode-editor .tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.bbcode-editor .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bbcode-editor .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.bbcode-editor .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.comments-editor textarea {
  width: 481px;
  height: 150px;
  padding: 10px;
}
/*костыли для палитры редактора bbcode*/
[aria-labelledby="ui-dialog-title-cp"] {
  width: 240px !important;
}
#cp iframe {
  width: 220px !important;
  height: 120px;
  margin-top: 7px;
}
#cp br {
  display: none;
}
/*костыли для палитры редактора bbcode*/