﻿@charset "utf-8";
/* CSS Document */

/* Customizacion cabecera y fondo */
/*
.hd-main {background-image: url(http://www.telecinco.es/images/cabecera-t5-avatar.png)} */


/* nuevo modulo agrupador de temas*/
.mg img, .thumb img, .thumb-inv img {background:#00AADB}

/* TWITTER FAMOSOS */
.twitter_seguir{ margin-bottom: 20px; background: url(http://www.telecinco.es/images/ico_tw.png) no-repeat left bottom #06A9DF;padding-bottom:40px;-moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px }
.ancho474{width:474px;}
.ancho474 .contenido_tw ul li{width:48%;}
.ancho300{width:300px;}
.ancho300 .contenido_tw ul li{width:97%;}
.contenido_tw{width:98%; margin:0px auto;padding:0 0 0 0;background:#fff;-moz-border-radius: 6px; border-radius: 6px;display:table}
.contenido_tw ul{margin:0 0px 0 8px}
.contenido_tw ul li{;float:left;padding:8px 0 8px 0;border-bottom:1px dotted #d5d5d5;margin-right:2% }
.contenido_tw ul li a img{float:left; margin-right:10px}
.contenido_tw ul li a span{display:block; color:#aaaaaa; font-size:15px;margin-bottom: 13px;}
.contenido_tw ul li a p{Color:#000; font-size:18px}
.tit_tw{font-size:18px; color:#fff; padding: 8px;}