/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: MDS Audio
 * based on Blue Monday skin by Silvia Benvenuti
 *
 * jPlayer Copyright (c) 2010-2012 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 */


/* AudioPlayer */
.mds-audioplayer-default {}
.mds-audioplayer-default .sources,
.mds-audioplayer-default .data-source {display:none;}

/* minimal */
.minimal .jp-interface {padding:15px 28px 15px 87px;}
.minimal .jp-progress,
.minimal .jp-duration,
.minimal .jp-repeat {display:none !important;}


/* Main container and interface */
.jp-audio,
.jp-audio-stream {
    width:auto;
    border:1px solid #009be3; background:#eee;
	font:normal 1.25em/1.6 Verdana, Arial, sans-serif; color: #666;
}
.jp-interface {position:relative; height:30px; padding:15px 106px 15px 93px;}

/* @group CONTROLS */
.jp-controls {margin:0; padding:0; list-style:none;}
.jp-controls li {}
.jp-controls a {display:block; overflow:hidden; text-indent:-9999px; cursor:pointer;}

/* play, pause, stop */
.jp-play,
.jp-pause,
.jp-stop {
    position:absolute; left:0; top:50%;
    background:url(http://telecincostatic-a.akamaihd.net/static/MDSAudio/addons/jplayer/skin/mds.audio/jplayer.mds.audio.jpg?hash=0e0fdecc749a3e48cba25ae991154029) no-repeat 0 0;
}
.jp-play,
.jp-pause {width:40px; height:40px; margin:-20px 0 0 10px;}
.jp-pause {display:none;}
.jp-stop  {width:28px; height:28px; margin:-14px 0 0 55px;}

/* spriting */
.jp-play        {background-position:   0px   0px;}
.jp-pause       {background-position:   0px -42px;}
.jp-stop        {background-position:   0px -83px;}
.jp-play:hover  {background-position: -41px   0px;}
.jp-pause:hover {background-position: -41px -42px;}
.jp-stop:hover  {background-position: -29px -83px;}


/* @group progress bar */
.jp-progress {
    position:relative; overflow:hidden;
    top:50%; width:100%; height:16px; margin-top:-8px;
    background:#ddd;
}
.jp-seek-bar,
.jp-play-bar {width:0; height:100%; background:url(http://telecincostatic-a.akamaihd.net/static/MDSAudio/addons/jplayer/skin/mds.audio/jplayer.mds.audio.jpg?hash=0e0fdecc749a3e48cba25ae991154029) repeat-x 0 0;}
.jp-seek-bar {background-position: 0 -202px; cursor:pointer;}
.jp-play-bar {background-position: 0 -218px;}

/* seeking state */
.jp-seeking-bg {background:url(http://telecincostatic-a.akamaihd.net/static/MDSAudio/addons/jplayer/skin/mds.audio/jplayer.mds.audio.seeking.gif?hash=6459e146ed61caa28e8ede05beb520b8);}


/* @group volume controls */
.jp-mute,
.jp-unmute,
.jp-volume-max,
.jp-volume-bar,
.jp-volume-bar-value {background:url(http://telecincostatic-a.akamaihd.net/static/MDSAudio/addons/jplayer/skin/mds.audio/jplayer.mds.audio.jpg?hash=0e0fdecc749a3e48cba25ae991154029) no-repeat 0 0;}

.jp-mute,
.jp-unmute,
.jp-volume-max {
    position:absolute; right:0; top:50%;
    width:18px; height:15px; margin:-8px 0 0;
}
.jp-unmute {display:none;}

.jp-mute,
.jp-unmute     {margin-right:78px;}
.jp-volume-max {margin-right:10px;}

.jp-mute             {background-position:   0px -170px;}
.jp-unmute           {background-position: -60px -170px;}
.jp-volume-max       {background-position:   0px -186px;}
.jp-mute:hover       {background-position: -19px -170px;}
.jp-unmute:hover     {background-position: -79px -170px;}
.jp-volume-max:hover {background-position: -19px -186px;}

.jp-volume-bar {
	position:absolute; overflow:hidden;
	right:33px; top:50%; width:40px; height:6px; margin-top:-3px;
    background-position:0 -250px; background-repeat:repeat-x;
	cursor: pointer;
}
.jp-volume-bar-value {
	width:0; height:100%;
    background-position:0 -256px; background-repeat:repeat-x;
}

/* minimal */
.minimal .jp-mute,
.minimal .jp-unmute {margin:-8px 5px 0 0;}
.minimal .jp-volume-max,
.minimal .jp-volume-bar {display:none !important;}


/* @group current time and duration */
.jp-time-holder {position:relative; margin-top:16px;}
.jp-current-time,
.jp-duration {width:auto; font:oblique 11px/1 Arial, Helvetica, sans-serif;}
.jp-current-time {float:left;}
.jp-duration     {float:right;}

/* minimal */
.minimal .jp-time-holder {margin:-15px 0;}
.minimal .jp-current-time {position:absolute; top:0; width:100%; line-height:60px; text-align:center;}


/* @group playlist */
.jp-title {
    background:#ccc; border-top:1px solid #009be3;
    font:bold 13px/16px Arial, Helvetica, sans-serif; text-align:center;
}
.jp-title ul {margin:0; padding:0; list-style:none; padding:0 10px;}
.jp-title li {padding:5px 0;}


/* @group object */
div.jp-jplayer audio,
div.jp-jplayer {width:0; height:0;}
div.jp-jplayer {background:#000;}


/* @group TOGGLES  */
.jp-toggles {width:25px; margin:0 auto; padding:0; list-style:none;}
.jp-toggles li a {
    display:block; overflow:hidden; text-indent:-9999px;
    width:25px; height:18px; cursor:pointer;
}
.jp-repeat,
.jp-repeat-off {background:url(http://telecincostatic-a.akamaihd.net/static/MDSAudio/addons/jplayer/skin/mds.audio/jplayer.mds.audio.jpg?hash=0e0fdecc749a3e48cba25ae991154029) no-repeat 0 0;}

.jp-repeat            {background-position:   0px -290px;}
.jp-repeat-off        {background-position: -60px -290px;}
.jp-repeat:hover      {background-position: -30px -290px;}
.jp-repeat-off:hover  {background-position: -90px -290px;}


/* @group NO SOLUTION error feedback */
.jp-no-solution {
	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}
.jp-no-solution a {
	color:#000;
}
.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}


/* @end */