/**
 * MEDIASET AUDIO / RADIO PLAYER
 * traversal
 */

/* root */
.mds-audio {position:relative;}
.mds-audio:before,
.mds-audio:after {content:""; display:table;}
.mds-audio:after {clear:both;}
.mds-audio {zoom:1;}

.mds-audio-player,
.mds-audio-tools {background:#eff1f5;}

/* Error message */
.mds-audio-error {display:none; padding:10px; font-size:12px; text-align:center; color:#666;}

/* flash player */
.mds-audio-flash-player {height:0; overflow:hidden; background:#000;}
.mds-audio-flash-player a {} /* download flash link */


/* ---------------
 * player controls
 * GUI
 * --------------- */
.mds-audio-gui {position:relative; height:58px;}

.mds-audio-controls {}

/* spinner */
.mds-audio-spinner {
	display:none; position:absolute; top:0; left:0;
	overflow:hidden; text-indent:-9999px; width:24px; height:24px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/mdsaudio/images/spinner.gif?hash=700f2caabbdfaf392b8eb8d1c65e8416) no-repeat 0 0;
  margin:20px 10px;
}

/* basic controls */
.mds-audio-first-play-bt,
      .mds-audio-play-bt,
     .mds-audio-pause-bt {display:none; position:absolute; overflow:hidden; left:0; bottom:0; margin:5px; text-indent:-9999px;}
.mds-audio-first-play-bt,
      .mds-audio-play-bt,
     .mds-audio-pause-bt {width:40px; height:40px; background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/mdsaudio/images/mds-audio.png?hash=c1bad2b441325ac68dcae235a7c3a1d3) no-repeat; cursor:pointer;}
.mds-audio-first-play-bt {display:block;}

/* play, pause controls */
.mds-audio-first-play-bt,
      .mds-audio-play-bt       {background-position:  -4px -4px;}
     .mds-audio-pause-bt       {background-position: -51px -4px;}
.mds-audio-first-play-bt:hover,
      .mds-audio-play-bt:hover {background-position:  -4px -51px;}
     .mds-audio-pause-bt:hover {background-position: -51px -51px;}


/* scrub bar */
.mds-audio-progress-bar {overflow:hidden; height:8px;visibility: hidden;}
.mds-audio-play-bar {position:relative; margin:0 0 0 -7px; padding:0 0 0 7px;}
.mds-audio-play-pin {position:absolute; right:-7px;}
.mds-audio-seek-bar,
.mds-audio-play-bar,
.mds-audio-play-pin {height:100%; background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/mdsaudio/images/mds-audio.png?hash=c1bad2b441325ac68dcae235a7c3a1d3) repeat; cursor:pointer;}
.mds-audio-seek-bar {width: 100%; background-position:   0px -166px;}
.mds-audio-play-bar {width:   0%; background-position:   0px -150px;}
.mds-audio-play-pin {width: 15px; background-position:-321px -182px;}

/* counter */
.mds-audio-time-holder  {position:absolute; right:71px; height:40px; margin:5px 0;}
.mds-audio-current-time {font:bold 13px/40px Arial, Helvetica, sans-serif; color:#666;}

/* volume bar */
.mds-audio-volume-bar,
.mds-audio-volume-bar-value {background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/mdsaudio/images/mds-audio.png?hash=c1bad2b441325ac68dcae235a7c3a1d3) no-repeat; cursor:pointer;}
.mds-audio-volume-bar       {position:absolute; right:0; width:40px; height:40px; margin:5px 15px; padding-right:1px;}
.mds-audio-volume-bar-value {width:0; height:100%;}
.mds-audio-volume-bar       {background-position: -4px -98px;}
.mds-audio-volume-bar-value {background-position:-51px -98px;}


/* ---------------
 * AUX TOOLS
 * --------------- */
.mds-audio-tools {position:relative; height:40px;}
.mds-audio-tool-podcasts,
.mds-audio-tool-watch,
.mds-audio-tool-share,
.mds-audio-tool-download {
	position:absolute; overflow:hidden;
	width:40px; height:30px; margin:5px 3px; text-indent:-9999px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/mdsaudio/images/mds-audio.png?hash=c1bad2b441325ac68dcae235a7c3a1d3) no-repeat;
}
.mds-audio-tool-podcasts {left:  0px; width:90px;}
.mds-audio-tool-watch    {right:80px;}
.mds-audio-tool-share    {right:40px;}
.mds-audio-tool-download {right: 0px;}

/* sprite pos */
.mds-audio-tool-podcasts       {background-position: -239px  -9px;}
   .mds-audio-tool-watch       {background-position:  -98px  -9px;}
   .mds-audio-tool-share       {background-position: -143px  -9px;}
.mds-audio-tool-download       {background-position: -192px  -9px;}
.mds-audio-tool-podcasts:hover {background-position: -239px -56px;}
   .mds-audio-tool-watch:hover {background-position:  -98px -56px;}
   .mds-audio-tool-share:hover {background-position: -143px -56px;}
.mds-audio-tool-download:hover {background-position: -192px -56px;}


/* EOF */