/* md-guiaTV */
.md-guiaTV {font-family:Arial,Helvetica,sans-serif;position:relative; }
/* head */.md-guiaTV .hd {margin-bottom:10px; }
.md-guiaTV-tabs {position:relative; }
.md-guiaTV-tabs li {display:inline;float:left;text-align:center;width:50%; }
.md-guiaTV-tabs li a {background-color:#e0e1e2;color:#363535;display:block;font-size:medium;height:21px;line-height:21px;padding:5px 0;text-decoration:none;zoom:1; }
.md-guiaTV-tabs li a .after {color:#fff;content:'';left:50%;height:31px;margin-left:-10px;position:absolute;top:0;width:20px;z-index:1; }
.md-guiaTV-tabs li.end a .after {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs.png?hash=96a6324daf4a5961d1fe42648dae53af') no-repeat right top; }
.md-guiaTV-tabs li.end a.active .after {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs2.png?hash=48f0589f30c05479ecfa9622b797ea62'); }
.md-guiaTV-tabs li a.active,
.md-guiaTV-tabs li a:hover {background-color:#06A9DF;color:#fff; }
.md-guiaTV-tabs li a:hover .after {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabsA.png?hash=0a12d9adf579879f7d8f11e80463fe90') no-repeat right top;z-index:2; }
.md-guiaTV-tabs li a.active:hover .after {background-image:none; }
.md-guiaTV-tabs li.end a:hover .after {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs2A.png?hash=2227a361a00fb8cb5c344621596260c0') no-repeat right top;z-index:2; }
.md-guiaTV-tabs li.end a.active:hover .after {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs2.png?hash=48f0589f30c05479ecfa9622b797ea62') no-repeat right top;z-index:2; }
.md-guiaTV-tabs li .afterA {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg1.png?hash=0c480b538b81458029f1ae148a03b9b6') no-repeat right top;content:'';left:0;height:31px;position:absolute;top:0;width:16px; }
	* html .md-guiaTV-tabs li .afterA {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg1.gif?hash=d6b017a0dfc6d54f35c19b26213bec08'); }
.md-guiaTV-tabs li.end .afterA {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg2.png?hash=9f134ccbae05f650042bb0fb805d7de5');content:'';left:auto;right:0; }
	* html .md-guiaTV-tabs li.end .afterA {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg2.gif?hash=dd902b706c215a7237bb63031634fb9f'); }
.md-guiaTV-tabs.md-guiaTV-tabs-noNav li.end a .after {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs3.png?hash=1efc4b321b12fec7a8ddb13d5bbef9ac'); }
.md-guiaTV-tabs.md-guiaTV-tabs-noNav li.ini a:hover .after {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs.png?hash=96a6324daf4a5961d1fe42648dae53af'); z-index:99; }
.md-guiaTV-tabs.md-guiaTV-tabs-noNav li.end a:hover .after {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-epg-tabs2.png?hash=48f0589f30c05479ecfa9622b797ea62'); z-index:99; }

/* body */.md-guiaTV .bd {overflow:hidden;position:relative; }
.md-guiaTV-horario {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_horario.png?hash=5368d63bf09f76c2aa44c0d2a08e1d1c');height:50px;width:6600px; }
	* html .md-guiaTV-horario {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_horario.gif?hash=636664443b9cb009d52a3bb6636e473a'); }
.md-guiaTV-horario li {color:#E0E1E2;display:inline;float:left;height:50px;text-align:center;width:100px; }
.md-guiaTV-horario li.md-guiaTV-horario-flecha {left:0;position:absolute;width:55px; }
.md-guiaTV-horario li.md-guiaTV-horario-flecha.siguiente {left:auto;right:0; }
	* html .md-guiaTV-horario li.md-guiaTV-horario-flecha a {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/guiaTV_horario-flecha.gif?hash=06798a1e0a3322f03da47172ad252f6b') no-repeat 0 0;display:block;height:50px;position:absolute;left:0;width:55px; }
	* html .md-guiaTV-horario li.md-guiaTV-horario-flecha.siguiente a {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/guiaTV_horario-flecha2.gif?hash=1e60004ca2dc83f2192c3080fc68b371'); }
	* html .md-guiaTV-horario li.md-guiaTV-horario-flecha a img {display:none; }
.md-guiaTV-horario li strong,
.md-guiaTV-horario li span {display:block;font-size:14px;font-weight:normal;padding-top:14px;text-align:center; }
.md-guiaTV-horario li span {color:#fff;font-size:12px;padding-top:16px; }
.md-guiaTV-canal {height:50px;margin-top:5px;width:16000px; }
.md-guiaTV-canal li {background-color:#f3f3f3;color:#000;display:inline;float:left;font-size:12px;height:50px;line-height:13px;position:relative;width:4800px; }
.md-guiaTV-canal li.odd,
.md-guiaTV-canal li.odd a img,
.md-guiaTV-canal li.odd a img:hover {background-color:#e0e1e2; }
.md-guiaTV-canal li:hover,
.md-guiaTV-canal li:hover a img,
.md-guiaTV-canal li:hover a img:hover {background-color:#06A9DF; }
.md-guiaTV-canal li:hover strong,
.md-guiaTV-canal li:hover a,
.md-guiaTV-canal li:hover span {color:#fff; }
.md-guiaTV-canal .md-guiaTv-arrowEnd,
.md-guiaTV-canal .md-guiaTv-arrowEnd:hover{background-color:#fff;width:40px}
.md-guiaTV-canal li .guiaTv-arrow {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTv-item.png?hash=a72f9f77b4222cf28f7374ddb25e2a7f') no-repeat right top;color:#fff;height:50px;margin-left:-5px;position:absolute;width:10px;z-index:1; }
	* html .md-guiaTV-canal li .guiaTv-arrow {background-image:none; }
	*+html .md-guiaTV-canal li .guiaTv-arrow {background-image:none; }
.md-guiaTV-canal li.md-guiaTV-canal-logo {background-color:transparent;left:0;margin:0;padding:0;position:absolute;width:55px;z-index:3; }
.md-guiaTV-canal li.md-guiaTV-canal-fin {background-color:transparent;left:auto;margin:0;padding:0;position:absolute;right:0;width:25px;z-index:3; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-tl5 {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/telecinco_epg.gif?hash=419329c1452ac35428b06cea915b5cd9') no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-cua {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/cuatro_epg.gif?hash=b0adc8e952607e57970a47b548527e58')    no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-fdf {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/factoria_epg.gif?hash=fe7c0d8658cbf3594d3ea94df332cc58')  no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-la7 {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/lasiete_epg.gif?hash=33f4a71a7db704a12855d79b88cd85b2')   no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-bng {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/boing_epg.gif?hash=9b97e4fd634e636fa741191a93c2fe1d')     no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-div {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/divinity_epg.gif?hash=889f82df9f8873642d9f54ac443348aa')  no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-nrg {background:transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/energy_epg.gif?hash=768ec8e3cdc2bdd4e71c1f0cc49435c5')    no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo.ch-bmd {background:transparent url('../images/tvgrid/bemad_epg.gif')    no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-logo img {display:none; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-fin {background:    transparent url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/pg-epg-chanel-end.gif?hash=1da67cb1059671a9a45dd25907241c6e') no-repeat 0 0; }
	* html .md-guiaTV-canal li.md-guiaTV-canal-fin img {display:none; }
.md-guiaTV-canal li.md-guiaTV-canal-logo:hover,
.md-guiaTV-canal li.md-guiaTV-canal-fin:hover {background-color:transparent; }
.md-guiaTV-canal li strong {cursor:default;display:block;font-weight:bold;margin:4px 0 0 10px;overflow:hidden;white-space:nowrap;width:100%; }
	* html .md-guiaTV-canal li strong {margin:4px 0 0 6px;padding-top:4px; }
	*+html .md-guiaTV-canal li strong {margin:4px 0 0 6px;padding-top:4px; }
.md-guiaTV-canal li span {cursor:default;display:block;margin:1px 0 0 10px;overflow:hidden;white-space:nowrap;width:100%; }
	* html .md-guiaTV-canal li span {margin:1px 0 0 6px; }
	*+html .md-guiaTV-canal li span {margin:1px 0 0 6px; }
.md-guiaTV-canal li a {color:#666;text-decoration:none; }
.md-guiaTV-canal ul {position:absolute;top:34px;margin:0 0 0 10px;overflow:hidden;white-space:nowrap;width:100%; }
	* html .md-guiaTV-canal ul {margin:0 0 0 6px; }
	*+html .md-guiaTV-canal ul {margin:0 0 0 6px; }
.md-guiaTV-canal ul li {height:11px;margin-right:1px;width:auto; }
.md-guiaTv-horaActual-mask {background-color:#fff;bottom:0;height:100%;left:0;margin:0;padding:0;position:absolute;right:0;top:55px;width:42px;z-index:2; }
.md-guiaTv-horaActual-mask-h {background-color:#fff;height:5px;margin:0;padding:0;position:absolute;right:0;width:25px;z-index:100; }
.md-guiaTv-horaActual {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTv-horaActual.png?hash=c5dcd5b20d8a28c401bc8b6ab0e90a91') repeat-x center center;bottom:0;height:100%;position:absolute;top:55px;width:14px;z-index:1; }
	* html .mod-guiaTv-horaActual {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTv-horaActual.gif?hash=2d2c151557a511f90f980152397c9fe7'); }
/* footer */.md-guiaTV .ft {font-family:Arial,Helvetica,sans-serif;margin:10px 0 0;overflow:hidden; }
.md-guiaTV .ft .md-guiaTV-download {float:left;margin:0 11px 0 0; }
.md-guiaTV .ft .md-guiaTV-legend {background-color:#f3f3f3;color:#3e3e3e;font-size:10px;line-height:11px;min-height:47px;overflow:hidden;padding:3px 1px 0 3px;position:relative; }
.md-guiaTV .ft .md-guiaTV-legend li {display:inline;display:inline-block;margin:0 3px 3px 2px;white-space:nowrap; }
.md-guiaTV .ft .md-guiaTV-legend li img {margin-right:2px;vertical-align:sub; }
.md-guiaTV .ft .md-guiaTV-footer-sk2 a {background:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_li-ItemA.png?hash=86d09b759114c97c602549ef2c2c8cda') no-repeat left center;color:#06A9DF;display:block;font-size:.75em;font-weight:bold;padding:4px 4px 3px 21px;text-decoration:none; }
	* html .md-guiaTV .ft.md-guiaTV-footer-sk2 a {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_li-ItemA.gif?hash=1af21b4738354322c54a576645998c73'); }
.md-guiaTV .ft .md-guiaTV-footer-sk2 .listEnd a {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_li-ItemB.png?hash=cfd175f7198ba10bca3b8fd2c3c2c193'); }
	* html .md-guiaTV .ft .md-guiaTV-footer-sk2 .listEnd a {background-image:url('http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV_li-ItemB.gif?hash=45872496e8c8a886cd842841f9b603a4'); }


/* TOOLTIP -> */

/* override: avoid inheritance for tooltips */
.md-guiaTV li.tooltip {position:static; float:none; display:block; width:auto; height:auto; background:none; line-height:normal;}
.md-guiaTV li.tooltip:hover,
.md-guiaTV li.tooltip:hover * {color:#000;}


.md-guiaTV *:hover .tooltip,
.md-guiaTV-canal li:hover .tooltip {
	width:166px; height:80px; 
	overflow:hidden; z-index:99; 
	color:#000 !important;
	font-size:12px; line-height:13px; 
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV-toolTip.png?hash=a88181937d5c509424981dc76bf2f670) no-repeat 0 0;
}

* html .tooltip {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5TVGuide/images/tvgrid/bg-guiaTV-toolTip.gif?hash=965e76c9669ebb907861185488f50f35);}
.md-guiaTV .tooltip strong {color:#000 !important;cursor:default;display:block;font-weight:bold;margin:4px 0 0 10px;overflow:hidden;padding:5px 0 0;white-space:normal !important; width:150px !important; }
.md-guiaTV .tooltip span {cursor:default;display:block;margin:6px 0 0 10px;overflow:hidden;white-space:nowrap;width:100% !important; color:#3e3e3e; }
.md-guiaTV .tooltip a {color:#666 !important;text-decoration:none; }
.md-guiaTV .tooltip ul {bottom:20px;right:8px; top:auto; margin:0; overflow:hidden;position:absolute;white-space:nowrap; }
.md-guiaTV .tooltip li {display:inline;float:right;height:13px;margin-right:1px;width:auto; }
.md-guiaTV-canal li:hover .tooltip strong,
.md-guiaTV-canal li:hover .tooltip a,
.md-guiaTV-canal li:hover .tooltip span {color:#000;}

.md-guiaTV-canal .tooltip li:hover, .md-guiaTV-canal .tooltip li:hover a img, .md-guiaTV-canal .tooltip li:hover a img:hover {
	background: none;
}

.md-guiaTV-canal li li {background: none;height:13px;}
.tooltip.first_layer {z-index: 105 !important}

.md-guiaTV-canal .tooltip.first_layer li {background: none;}




