/**
 * MDS Radioset Headers
 * Traversal
 */


/* ---------------
 * RDS "SITE" HEADER
 * --------------- */
.rds-hd-site {
	border-bottom:2px solid #fff;
	background:#000 url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-theme_site-header_default.png?hash=63bb40b3a596cb890f97e9e5325affee) no-repeat 50% 100%;
	font:normal 16px Arial, Helvetica, sans-serif; color:#fff;
}
.rds-hd-site a {color:#fff;}
.rds-hd-site:before,
.rds-hd-site:after {content:""; display:table;}
.rds-hd-site:after {clear:both;}
.rds-hd-site {zoom:1;}

/* masthead */
.rds-hd-site .rds-masthead {position:relative; *z-index:1; min-height:47px;}
.rds-hd-site .aux {float:right; display:inline; margin:0 -8px; padding:10px 0;}
.rds-hd-site .safe-wrap {position:absolute; bottom:1px;}
.rds-hd-site .brand {display:inline-block; zoom:1; *display:inline; vertical-align:bottom;}
.rds-hd-site .brand .logo {display:block; overflow:hidden; width:130px; height:46px; line-height:6em; text-indent:-666em;}
.rds-hd-site .brand .logo .lnk {display:block; width:100%; height:100%;}

/* aux link */
.rds-hd-site .aux-link {
	display:block; overflow:hidden; line-height:6em; width:132px; height:26px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-hd-aux-links-logos.png?hash=144d5ac602bd11acf1211d602d383b9e) no-repeat 0 -288px;
}
.rds-hd-site .aux-link:hover {background-position:0 -324px;}

.rds-hd-site .aux-link.mds       {background-position:0 -216px; width:153px;}
.rds-hd-site .aux-link.mds:hover {background-position:0 -252px;} /* Mediaset */
.rds-hd-site .aux-link.tl5       {background-position:0    0px; width:127px;}
.rds-hd-site .aux-link.tl5:hover {background-position:0  -36px;} /* Telecinco */
.rds-hd-site .aux-link.cua       {background-position:0  -72px; width:113px;}
.rds-hd-site .aux-link.cua:hover {background-position:0 -108px;} /* Cuatro */
.rds-hd-site .aux-link.div       {background-position:0 -144px; width: 91px;}
.rds-hd-site .aux-link.div:hover {background-position:0 -180px;} /* Divinity */

/* debug variant displayer */
.rds-hd-site .debug-show-aux {
	position:absolute; z-index:1; padding:5px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/bg-strap_75.png?hash=da7cc2554e72d1f00244f220da29a4c5);
	border:1px solid lime; border-radius:3px;
}


/* onsite tools holder and item sets */
.rds-hd-site .rds-onsite-tools {}
.rds-hd-site .item-set {float:left; display:inline; margin:0 8px;}
.rds-hd-site .item-set-options {}
.rds-hd-site .item-set-social  {}
.rds-hd-site .item-set-auxlink {}
.rds-hd-site .item-set-search  {}

/* onsite options */
.rds-onsite-options {
	white-space:nowrap; word-wrap:normal; /* ie8 */
	line-height:27px; font-size:12px; text-align:right; color:#fff;
}
.rds-onsite-options a:hover {text-decoration:underline;}
.rds-onsite-options .usr,
.rds-onsite-options .options {display:inline;}
.rds-onsite-options .usr {margin-right:5px;}
.rds-onsite-options .usr .usr-name {font-weight:bold;}
.rds-onsite-options .opt {}

/* onsite social */
.rds-onsite-social {margin:0 -1px;}
.rds-onsite-social li {float:left; display:inline;}
.rds-onsite-social .ico {
	display:block; width:22px; height:20px; margin:3px 1px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-ui-common.png?hash=78ed2fa8a6d012fc2366358bd3a998cc) no-repeat;
}
.rds-onsite-social .ico span {display:none;}
.rds-onsite-social .ico-fbk {background-position: -126px   0px;} /* [ico-fbk] Facebook */
.rds-onsite-social .ico-twt {background-position: -153px   0px;} /* [ico-twt-] Twitter */
.rds-onsite-social .ico-tue {background-position: -180px   0px;} /* [ico-tue] Tuenti */
.rds-onsite-social .ico-pin {background-position: -259px   0px;} /* [ico-tue] Pinterest */
.rds-onsite-social .ico-glp {background-position: -207px   0px;} /* [ico-glp] Google Plus */
.rds-onsite-social .ico-rss {background-position: -234px   0px;} /* [ico-rss] RSS */

/* main search */
.rds-main-search {width:165px;}
.rds-main-search legend {display:none;}
.rds-main-search label {display:inline-block; zoom:1; *display:inline; visibility:hidden; width:1px;}
.rds-main-search .sk-field {
	position:relative; display:block; line-height:27px; padding:0 28px 0 2px;
	background:#e6e6e6 url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/bg-field-inner-shadow-24.png?hash=67c9b4b4efa925b4bd808fffc2d38ddf) no-repeat 0 0;
	font-size:14px; color:#000;
}
.rds-main-search .inner {display:block; overflow:hidden; height:100%;}
.rds-main-search .search-field {width:100%; margin:0 -5px; border:0 none; background:none; outline:none; *vertical-align:middle;}
.rds-main-search .bt-submit {
	position:absolute; top:0; right:0; width:28px; text-indent:-666em;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-ui-common.png?hash=78ed2fa8a6d012fc2366358bd3a998cc) no-repeat -3px -65px;
}

/* NAVIGATION */
.rds-site-nav {
	font:bold 15px Arial, Helvetica, sans-serif;
	display:inline-block; zoom:1; *display:inline; vertical-align:bottom;
}
.rds-site-nav .nav {}
.rds-site-nav .nav-item {
	float:left; display:inline; margin-bottom:-1px;
	border:2px solid #fff; border-bottom:none;
}
.rds-site-nav .nav-item .lnk {display:block; line-height:23px; padding:0 6px 0 6px; background:#fff; color:#000;}
.rds-site-nav .nav-item .lnk:hover {text-decoration:none;}
.rds-site-nav .nav-item .lnk .ico {
	display:inline-block; zoom:1; *display:inline; vertical-align:middle;
	width:11px; height:6px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-ui-common.png?hash=78ed2fa8a6d012fc2366358bd3a998cc) no-repeat -50px -76px;
}
/* highlight */
.rds-site-nav .highlight {border-color:#02cbce;}
.rds-site-nav .highlight .lnk {background:#02cbce; color:#fff;}
.rds-site-nav .highlight .lnk .ico {background-position:-50px -99px;}

/* DROPLAYERS */
.rds-hd-site .droplayer {border-top:2px solid #02cbce; background:#313131;}

/* droplayer cols */
.rds-hd-site         .droplayer .coltype2 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_2col_000_full.gif?hash=9cf2b02bb9ad778828f8fab69018238d);} /* columns 2 */
.rds-hd-site         .droplayer .coltype3 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_3col_000_full.gif?hash=7be5ee45dbce11f8d697262105a402ad);} /* columns 3*/
.rds-hd-site         .droplayer .coltype4 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_4col_000_full.gif?hash=8618903e18adb7eff34eb9343e7ff8e1);} /* columns 4 */
.rds-hd-site .hspace .droplayer .coltype2 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_2col_000.gif?hash=3ca121e3dbe6550cf4eaee30e2e92621);}      /* columns 2 (hspaced) */
.rds-hd-site .hspace .droplayer .coltype3 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_3col_000.gif?hash=3b5cb3b6e4fd865693ea804858a30581);}      /* columns 3 (hspaced) */
.rds-hd-site .hspace .droplayer .coltype4 {background-image:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-faux_sub-nav_4col_000.gif?hash=b064dfd9b12f5437c8d9acedb60f6b9f);}      /* columns 4 (hspaced) */

/* droplayer close button */
.rds-site-nav .droplayer a.close {
	display:block; position:absolute; top:2px; right:3px; width:23px; height:20px; overflow:hidden;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-ui-common.png?hash=78ed2fa8a6d012fc2366358bd3a998cc) no-repeat -70px 0;
}
.rds-site-nav .droplayer a.close:hover {background-position:-70px -46px;}

/* droplayer more bar */
.rds-site-nav .droplayer .more {
	margin:0; padding:2px 10px; background:#02cbce;
	font:bold 15px/20px Arial, Helvetica, sans-serif; text-align:right; color:#fff;
}
.rds-site-nav .droplayer .more a {text-decoration:none; color:#fff;}
.rds-site-nav .droplayer .more a .tx,
.rds-site-nav .droplayer .more a .ico {vertical-align:middle;}
.rds-site-nav .droplayer .more a .ico {
	display:inline-block; zoom:1; *display:inline; vertical-align:top;
	width:20px; height:20px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites-ui-common.png?hash=78ed2fa8a6d012fc2366358bd3a998cc) no-repeat -45px 0;
}
.rds-site-nav .droplayer .more a:hover .tx {text-decoration:underline;}
.rds-site-nav .droplayer .more a:hover .ico {}

/* DROPLAYER SUB NAV */
.rds-site-nav .sub-nav {margin:12px 0; font:normal 14px/28px Arial, Helvetica, sans-serif;}
.rds-site-nav .sub-nav .join-tit {
	display:block; font-size:17px; font-weight:bold; line-height:24px;
	margin:0 20px; padding:0 0 7px; border-bottom:1px solid #fff;
}
.rds-site-nav .sub-nav .join-tit,
.rds-site-nav .sub-nav .join-tit a {color:#fff;}
.rds-site-nav .sub-nav .join-tit a:hover {color:#d5d5d5;}

.rds-site-nav .sub-nav ul {margin-bottom:8px;}
.rds-site-nav .sub-nav li,
.rds-site-nav .sub-nav li a {color:#d5d5d5;}
.rds-site-nav .sub-nav li {margin:0 20px 1px;}
.rds-site-nav .sub-nav li a {display:block; margin:0 -20px; padding:2px 20px; zoom:1;}
.rds-site-nav .sub-nav li a:hover {background:#02cbce; color:#fff; text-decoration:none;}

/* special rulesets */
.rds-site-nav .sub-nav .col {margin:-8px 0;}
.rds-site-nav .sub-nav .join-tit,
.rds-site-nav .sub-nav ul {margin-top:8px; margin-bottom:8px; /* separated to preserve inheritance */}


/* ------------
 * RDS TOOLTIP
 * overrides-extends ".tooltip-default"
 * ------------ */
.rds-tooltip {
	background:#02cbce; color:#fff;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.rds-tooltip .pointer {
	width:8px; height:8px; bottom:-8px; margin-left:-8px;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset_headers/rds_bg-sprites_tooltip-default-pointers.gif?hash=f1c3f4a8f03d4427e70adc7db2935020) no-repeat 0px -7px;
}
.rds-tooltip.top          .pointer {bottom:-8px;}
.rds-tooltip.bottom       .pointer {top:-8px;}
.rds-tooltip.top          .pointer {background-position:  0px -7px;}
.rds-tooltip.left         .pointer {background-position:  0px -7px;}
.rds-tooltip.right        .pointer {background-position: -7px -7px;}
.rds-tooltip.top.left     .pointer {background-position:  0px -7px;}
.rds-tooltip.top.right    .pointer {background-position: -7px -7px;}
.rds-tooltip.bottom.right .pointer {background-position: -7px  0px;}



/* EOF */