/**
 * MDS Radioset Styles
 * Traversal
 */


/* ---------------
 * SIZERs
 * w: width only (not growing holders)
 * d: dimensional (width x height), mostly media objects
 * --------------- */
.w-300,
.d-300-169 {width: 300px;}
.d-300-169 {height:169px;}
.w-400,
.d-400-225,
.d-400-257 {width: 400px;}
.d-400-225 {height:225px;}
.d-400-257 {height:257px;}
.w-474,
.d-474-267 {width: 474px;}
.d-474-267 {height:267px;}
.w-607,
.d-607-342 {width: 607px;}
.d-607-342 {height:342px;}
.w-654,
.d-654-368 {width: 654px;}
.d-654-368 {height:368px;}


/* ---------------
 * RDS LIVEWATCH
 * embedable object
 * --------------- */
.obj-radio-livewatch {}
.obj-radio-livewatch .media-holder {background:#333;}
.obj-radio-livewatch .fold {}
.obj-radio-livewatch .slot {}

.obj-radio-livewatch .to,
.obj-radio-livewatch .hyph {}
.obj-radio-livewatch .program,
.obj-radio-livewatch .sched-time {white-space:nowrap;}
.obj-radio-livewatch .program a:hover {color:#fff;}
.obj-radio-livewatch .info {padding:3px 0; line-height:17px; font-size:15px;}
.obj-radio-livewatch .info .program {font-size:20px;}
.obj-radio-livewatch .sched-time {font-size:11px; color:#a09f9f; text-transform:none;}
.obj-radio-livewatch .sched-info {font-size:12px; text-transform:uppercase;}
.obj-radio-livewatch .sched-info a:hover {color: #fff;}
.obj-radio-livewatch .sched-link {
	line-height:15px; font-size:12px; padding-right:13px;
	font-weight:bold; color:#fff; text-transform:uppercase;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset/bg-arrow-lnk-rt.png?hash=615b20d83b10d56e0809aaea039a64a9) no-repeat 100% 50%;
}
.obj-radio-livewatch .sched-link:hover {text-shadow:1px 1px 0 #000; color:#a09f9f;}

/* live sharetools */
.live-sharetools:before,
.live-sharetools:after {content:""; display:table;}
.live-sharetools:after {clear:both;}
.live-sharetools       {zoom:1;}
.live-sharetools .item {float:left; display:inline;}
.live-sharetools .item a {
	display:block; overflow:hidden; width:31px; height:31px; line-height:6em;
}
.live-sharetools .sha a {background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset/ico-share-live.png?hash=cec4042575df8fdde7779c537b53686c) no-repeat 0 0;} /* share */

/* live sharetools pos */
.obj-radio-livewatch .live-sharetools {position:absolute; top:0; right:0; margin:3px;}

/* slots: "live watching", "live broadcast" */
.obj-radio-livewatch .live-watching,
.obj-radio-livewatch .live-broadcast {padding:5px 15px; font-weight:bold; color:#fff;}
.obj-radio-livewatch .live-watching  {position:relative; min-height:50px; padding-right:37px; background:#1b1b1b;}
.obj-radio-livewatch .live-broadcast {background:#3e3e3e;}

/* themables */
.obj-radio-livewatch .hyph,
.obj-radio-livewatch .to {color:#06a9df;}


/* ---------------
 * MODULE RDS LIVEWATCH
 * module wrapper
 * --------------- */
.md-rds-livewatch {}


/* ---------------
 * @TODO: OBJECT RADIO AUDIOPLAYER
 * audioplayer
 * --------------- */
.obj-radio-player {}


/* ---------------
 * OBJECT PODCAST RADIO
 * radio player
 * --------------- */
.obj-podcast {}
.obj-podcast:before,
.obj-podcast:after {content:""; display:table;}
.obj-podcast:after {clear:both;}
.obj-podcast {zoom:1;}

/* flags */
.obj-podcast.thumbed  {padding-left:174px;}
.obj-podcast.pictured {}

/* elements */
.obj-podcast-player {}
.obj-podcast-thumb  {float:left; display:inline; margin-left:-174px;}
.obj-podcast-image  {}


/* ---------------
 * INSET TYPE OBJECT
 * --------------- */
.inset-obj {clear:both; margin:0 0 20px;}

/* inset podcast */
.inset-podcast {}
.inset-podcast .lst-relinfo {margin:12px 0;}
.inset-podcast .coltype3 .col {width:204px;}


/* ---------------
 * MEDIA ICO "AUDIO"
 * --------------- */
.ico-media-aud {
	position:absolute; left:17px; top:0;
	overflow:hidden; width:42px; height:39px; line-height:6em;
	background:url(http://telecincostatic-a.akamaihd.net/static/TL5Telecinco/images/radioset/ico-media-audio.png?hash=e65dface9169a4096db27eda743c7656) no-repeat 0 0;
}

/* case thumb */
.thumb .ico-media-aud {left:10px;}

/* themable */
.ico-media-aud {background-color:#06a9df;}


/* ---------------
 * MODULE ITEM INDEX "PODCASTS"
 * standalone
 * --------------- */
.md-itemdx-podcast:first-child {margin-top:-15px;}
.md-itemdx-podcast {margin:-5px 0 30px;}
.md-itemdx-podcast .dateline {font-size:14px; line-height:19px; color:#000;}
.md-itemdx-podcast .podcast-title {margin:0 0 10px; font-size:25px; font-weight:bold; line-height:33px;}

/* specific theming (Radioset) */
.md-itemdx-podcast .podcast-title a {color:#000;}
.md-itemdx-podcast .podcast-title a:hover {color:#06a9df;}


/* ---------------
 * ITEM INDEX PODCASTS
 * item
 * --------------- */
.itemdx-podcast {margin:15px 0 8px;}
.itemdx-podcast:before,
.itemdx-podcast:after {content:""; display:table;}
.itemdx-podcast:after {clear:both;}
.itemdx-podcast {zoom:1;}

/* elements */
.itemdx-podcast .thumb {float:left; display:inline; margin:0 15px 0 0;}
.itemdx-podcast .dateline {display:block; line-height:19px; font-size:14px; color:#000;}
.itemdx-podcast .podcast-title {font-size:20px; font-weight:bold; margin:0 0 5px;}
.itemdx-podcast .podcast-entry {font-size:19px; line-height:28px;}
.itemdx-podcast .podcast-entry .lnk {color:#000;}
.itemdx-podcast .podcast-entry .lnk:hover {text-decoration:underline;}

/* specific theming (Radioset) */
.itemdx-podcast .podcast-title a {color:#000;}
.itemdx-podcast .podcast-title a:hover {color:#06a9df;}


/* ---------------
 * MODULE PODCASTS
 * --------------- */
.md-podcasts {}


/* ---------------
 * MODULE PODCASTS "MORE"
 * --------------- */
.md-podcasts-more {margin:0 0 25px;}


/* ---------------
 * PAGE PODCASTS INDEX
 * --------------- */
.pg-rds-podcasts {}
.pg-rds-podcasts .pg-bd,
.pg-rds-podcasts .pg-ft {margin:0 0 30px;}


/* DEBUG EXTENSIONS */
.debug-mod  {margin:0 0 20px; padding:5px 10px; background:#eee; border:1px solid #ccc; border-radius:5px; font:normal 13px Arial; text-align:center;}
.debug-note {margin:0 0 10px; padding:5px; background:#7E8E9E; border-bottom:3px solid #990000; color:#fff; text-align:center; border-radius:4px 4px 0 0;}
.debug-note b {font-weight:bold; margin:0 5px; text-shadow:1px 1px 0 #000;}
.debug-note span {display:block; margin:4px 0 0; padding:2px; font-size:13px;}


/* EOF */