@charset "utf-8";

	/* mini reset */
	/* -------------> */
	.mds-footer,
	.mds-footer * {
		margin:0; padding:0;
		font-family:Arial, Helvetica, sans-serif;
	}
	.mds-footer a {text-decoration:none;}
	.mds-footer a:link {}
	.mds-footer a:hover {text-decoration:underline;}
	.mds-footer img {border:none;}
	
	.cf:after {
	    clear: both;
	    content: " ";
	    display: block;
	    font-size: 0;
	    height: 0;
	    visibility: hidden;
	}

	/* footer */
	.mds-footer {
		padding: 20px 0;
		background-color: #e3e3e3;
		text-align: center;
	}

	.div_footer, .mds_mds-footer {
		padding: 20px 0 110px 0;
	}
	
	/*mediaset logos*/
	.mds-mediaset-logos {margin-bottom: 20px;}
	.mds-mediaset-logos p {width: 279px; margin: 0 auto;}
	.mds-mediaset-logos-ch {margin:10px 0; text-align: center; font-size:0;}
	.mds-mediaset-logos-ch .item {display:inline-block; zoom:1; *display:inline; vertical-align:middle; margin:0 5px;}
	.mds-mediaset-logos .ico {display:block; width:31px; height:31px; background: transparent url(http://telecincostatic-a.akamaihd.net/static/MDSMediaset/cobranded/cobranded_footer/mds_sprite_footer.png?hash=d6cf0c442b25ff359895324753e00919) 0 0 no-repeat;}
	.mds-mediaset-logos .ico span {display:none;}
	
	.mds-mediaset-logos .ico-mds    {background-position: -592px   0px; width:279px; height:40px;}
	.mds-mediaset-logos .ico-tl5    {background-position: -0px -42px;}
	.mds-mediaset-logos .ico-cuatro {background-position: -37px -42px;}
	.mds-mediaset-logos .ico-fac    {background-position: -74px -42px;}
	.mds-mediaset-logos .ico-la7    {background-position: -74px -42px;}
	.mds-mediaset-logos .ico-boing  {background-position: -185px -42px;}
	.mds-mediaset-logos .ico-div    {background-position: -148px -42px;}
	.mds-mediaset-logos .ico-nrg    {background-position: -111px -42px;}
	.mds-mediaset-logos .ico-la9    {background-position: -259px -42px;}
        .mds-mediaset-logos .ico-bmd    {background-position: -222px -42px;}

	/*logos*/
	.mds-logos {margin:50px 0 40px;border-top: 1px solid #aeaeae; border-bottom: 1px solid #aeaeae;}
	.mds-logos.cobranded_footer {margin:0 auto; width:1000px; margin-top:50px; margin-bottom:40px;}
	.mds-logos-ch {padding: 0; text-align: center;}
	.mds-logos-ch .item {display:inline-block; zoom:1; *display:inline; vertical-align:middle;margin-bottom:3px ; margin-left: -5px;margin-right: 3px;}
	.mds-logos-ch .item.first {margin-left:0;}
	.mds-logos-ch .item.last {margin-right:0;}
	.mds-logos .ico {display:block; width:140px;height:70px; background: transparent url(http://telecincostatic-a.akamaihd.net/static/MDSMediaset/cobranded/cobranded_footer/mds_sprite_logos.png?hash=cec40a179c9eae98d21440adc0614661) 0 0 no-repeat;}
	.mds-logos .ico span {display: none;}

	.mds-logos .ico-tl5:hover    {background-position:    -5px -140px; width: 130px;}
	.mds-logos .ico-tl5          {background-position:    -5px  -0px; width: 130px;}
	.mds-logos .ico-cuatro:hover {background-position:    -138px -140px; width: 130px;}
	.mds-logos .ico-cuatro       {background-position:    -138px  -0px; width: 130px;}
	.mds-logos .ico-fac:hover    {background-position:    -267px -140px;}
	.mds-logos .ico-fac          {background-position:    -267px  -0px;}
	.mds-logos .ico-boing:hover  {background-position:    -668px -140px; width: 90px;}
	.mds-logos .ico-boing        {background-position:    -668px  -0px; width: 90px;}
	.mds-logos .ico-div:hover    {background-position:    -549px -140px; width: 130px;} 
	.mds-logos .ico-div          {background-position:    -549px  -0px; width: 130px;}
	.mds-logos .ico-nrg:hover    {background-position:    -412px -140px; width: 130px;}
	.mds-logos .ico-nrg          {background-position:    -412px  -0px; width: 130px;}
        .mds-logos .ico-bmd:hover    {background-position:    -774px -140px; width: 90px;}
	.mds-logos .ico-bmd          {background-position:    -774px  -0px; width: 90px;}
	.mds-logos .ico-mitv:hover   {background-position:    -868px -140px; width: 130px;} 
	.mds-logos .ico-mitv         {background-position:    -868px  -0px; width: 130px;}

	.mds-logos .ico-rds:hover    {background-position:     0 -215px; width: 128px;}
	.mds-logos .ico-rds          {background-position:     0  -75px; width: 128px;}
	.mds-logos .ico-eth:hover    {background-position:    -129px -215px; width: 152px;}
	.mds-logos .ico-eth          {background-position:    -129px  -75px; width: 152px;}
	.mds-logos .ico-tlm:hover    {background-position:    -287px -215px;}
	.mds-logos .ico-tlm          {background-position:    -287px  -75px;}
	.mds-logos .ico-tl5c:hover   {background-position:    -431px -215px;}
	.mds-logos .ico-tl5c         {background-position:    -431px  -75px;}
	.mds-logos .ico-12m:hover    {background-position:    -574px -215px;}
	.mds-logos .ico-12m          {background-position:    -574px  -75px;}
	.mds-logos .ico-atlas:hover  {background-position:    -719px -215px;}
	.mds-logos .ico-atlas        {background-position:    -719px  -75px;}
	.mds-logos .ico-pub:hover    {background-position:    -860px -215px;}
	.mds-logos .ico-pub          {background-position:    -860px  -75px;}

	/*mediaset tx*/
	.mds-tx {text-align: center; color: #5a5a5a; font-size: 12px; padding-top: 10px;margin-bottom: 15px;}
	.mds-tx a {color: #5a5a5a;}
	.mds-tx a:hover {text-decoration: underline;}
	 
	
	/*aviso-cookies  */
	.aviso-cookies {background: #cdcdcd; display:table; margin:0px auto; padding:5px 15px 5px 15px; border-radius: 15px;}
	.aviso-cookies p{font-size:12px;   width:100%; display:inline}
	.aviso-cookies p a{color:#3e3d3d}
	.aviso-cookies p a:hover{text-decoration:underline}

	.mds-tx.mgmd {width:100%; text-align: center;} 
	.mds-tx.mgmd span {display: none;}
	.mds-tx a.mgmd_logo {margin-top:10px;width:120px;height: 19px;background: url(http://telecincostatic-a.akamaihd.net/static/MDSMediaset/cobranded/cobranded_footer/signature_mediaset.png?hash=fb631df9ce7b87ac08055d038cfba6f6);display: inline-block;}
	.mds-tx a.mgmd_logo {background-position: -160px -15px;}
	.mds-tx a.mgmd_logo:hover {background-position: -16px -15px;}

/* EOF */
