.page-template-template-page-nosidebar-php #content-wrapper h1.post-title{
	display: none;
}
.page-template-template-no-sidebar-php #copy{
    width: 960px;
    padding: 0px;
    margin: 20px 0 0 20px;
}
.page-template-template-no-sidebar-php #content{
    background: none;
}

.pmc-bo-numbers-heading {
	margin: 25px 0px 0px 25px;
	font-size: 32px;
	color: #0669F9;
}

#pmc-bo-numbers{
    padding: 10px 25px;
    background: url(/wp-content/themes/vip/pmc-deadline/plugins/pmc-box-office-numbers/styles/../images/rentrak-logo.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.pmc-bo-chart-wrapper{
    border: 1px solid #6E6E70;
    border-top: none;
    margin-bottom: 20px;
}

#pmc-bo-numbers .pmc-bo-header{
    font: 40px/1.5em 'Open Sans', sans-serif;
    color: #00B1CB;
    border-bottom: 1px solid #00B1CB;
    margin-bottom: 15px;
    font-weight: 300;
}
#pmc-bo-numbers .pmc-bo-header span{
    font-weight: 600;
}

#pmc-bo-numbers .pmc-bo-hd-dom{
    display: none;
}

/* Tabs in the top*/
#pmc-bo-tabs tr{
    font-size: 12px;
    font-weight: 800;
}
#pmc-bo-tabs td{
    width: auto;
    vertical-align: bottom;
}
#pmc-bo-tabs td a{
    height: 22px;
    background: #00B1CB;
    display: block;
    border-bottom: 1px solid #6E6E70;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    text-align: center;
}
#pmc-bo-tabs td a.selected{
    border: 1px solid #6E6E70;
    border-bottom: 1px solid #00B1CB;
}

#pmc-bo-tabs td:last-child a {
    width: 570px;
    background: #ffffff;
}
/** End Tabs */
.pmc-bo-title{
    color: white;
    padding-left: 12px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-size: 1.7em;
    background: #03acc5; /* Old browsers */
    background: -moz-linear-gradient(left, #03acc5 7%, #2bad4d 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(7%,#03acc5), color-stop(93%,#2bad4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #03acc5 7%,#2bad4d 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #03acc5 7%,#2bad4d 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #03acc5 7%,#2bad4d 93%); /* IE10+ */
    background: linear-gradient(to right, #03acc5 7%,#2bad4d 93%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03acc5', endColorstr='#2bad4d',GradientType=1 ); /* IE6-9 */
}
.pmc-bo-title .bo-title-dom{
    display: none;
}

/** table cells**/
.pmc-bo-body table{
    font-size: 11px;
    vertical-align: middle;
}
.pmc-bo-body table th{
    vertical-align: middle;
}
.pmc-bo-content-header{
    color: #333;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.pmc-bo-content-header td{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 12px;
}
.pmc-bo-content-header th{
   font-weight: bold;
}

.pmc-bo-content-header .pmc-th-first{
    border-left: 0px;
}
.pmc-th-all{
    text-transform: uppercase;
    border-left: 1px solid white;
    border-top: 1px solid white;
    height: 20px;
    line-height: 20px;
    background-color: #6E6E70;
    text-align: left;
    font-size: 10px;
    color: white;
    padding-left: 12px;
}
.pmc-bo-center{
    text-align: center;
}
.pmc-th-all-other{
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid white;
    border-left: 1px solid white;
    height: 15px;
    line-height: 15px;
    background-color: #949597;
    font-size: 10px;
    color: white;
}
.pmc-bo-content-header .pmc-tbody-first{
    background-color: white;
    color: #88B94C;
}
.pmc-bo-content-header .pmc-tbody-alt1{
    background-color: #ECECEC;
}
.pmc-bo-content-header .pmc-tbody-alt2{
    background-color: #E0E1E3;
}

.pmc-bo-content-header .pmc-th-ww-first{
    border-left: 0px;
    text-align: left;
}
.pmc-th-ww-all{
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid white;
    border-left: 1px solid white;
    height: 15px;
    line-height: 15px;
    background-color: #6E6E70;
    font-size: 10px;
    color: white;
    padding-left: 12px;
}
.pmc-bo-center{
    text-align: center;
}
.pmc-th-ww-all-other{
    text-transform: uppercase;
    border-left: 1px solid white;
    border-top: 1px solid white;
    height: 15px;
    line-height: 15px;
    background-color: #949597;
    text-align: center;
    font-size: 10px;
    color: white;
}
#pmc-bo-dom-content, #pmc-bo-domestic-content {
    display: none;
}
.rentrak-disclaimer{
    font-size: 10px;
    font-style: italic;
    margin-top: 15px;
}@font-face{font-family:'Ashbury Light';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/ashbury-light/AshburyLig-webfont.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/ashbury-light/AshburyLig-webfont.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/ashbury-light/AshburyLig-webfont.woff) format("woff"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/ashbury-light/AshburyLig-webfont.ttf) format("truetype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/ashbury-light/AshburyLig-webfont.svg#ashburylight) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Balto Web Bold';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-bold.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-bold.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-bold.woff) format("woff");font-weight:600;font-style:normal}@font-face{font-family:'Balto Web Medium';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-medium.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-medium.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/balto/baltoweb-medium.woff) format("woff");font-weight:500;font-style:normal}@font-face{font-family:'BGR';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/bgr/bgr.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/bgr/bgr.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/bgr/bgr.svg) format("svg"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/bgr/bgr.ttf) format("ttf"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/bgr/bgr.woff) format("woff");font-weight:500;font-style:normal}@font-face{font-family:'Vollkorn Regular';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.woff2) format("woff2"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.woff) format("woff"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.ttf) format("truetype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-regular-webfont.svg#vollkornregular) format("svg");font-weight:500;font-style:normal}@font-face{font-family:'Vollkorn Bold';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.woff2) format("woff2"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.woff) format("woff"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.ttf) format("truetype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bold-webfont.svg#vollkornbold) format("svg");font-weight:900;font-style:normal}@font-face{font-family:'Vollkorn Italic';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.woff2) format("woff2"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.woff) format("woff"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.ttf) format("truetype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-italic-webfont.svg#vollkornitalic) format("svg");font-weight:500;font-style:italic}@font-face{font-family:'Vollkorn Bold Italic';src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.eot);src:url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.woff2) format("woff2"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.woff) format("woff"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.ttf) format("truetype"),url(/wp-content/themes/vip/pmc-deadline/library/css/../fonts/vollkorn/vollkorn-bolditalic-webfont.svg#vollkornbold_italic) format("svg");font-weight:900;font-style:italic}.swiftype .result .result-title a{font-family:"Balto Web Bold",Arial,sans-serif;font-size:19px;line-height:1.2em;letter-spacing:0.9px;color:#008ad8}.swiftype .result .byline .icon{font-family:"Balto Web Medium",Arial,sans-serif;font-size:12px}.swiftype .result .text-block{line-height:1.4em}.swiftype .left-main .st-section-title,.swiftype .left-main .facet-title,.swiftype .left-main .radio-options,.swiftype .left-main .facet-option{font-family:"Balto Web Medium",Arial,sans-serif;font-size:13px}.swiftype .st-has-results a{font-family:"Balto Web Medium",Arial,sans-serif;color:#008ad8}.swiftype .st-has-results a.current_page{color:#ccc}.swiftype .autocomplete-section .ac-section-title,.swiftype .autocomplete-section .ac_sub{font-family:"Balto Web Medium",Arial,sans-serif}.swiftype .autocomplete-section .ac_sub{color:#808080}.swiftype .autocomplete-section .ac_title{font-family:"Balto Web Bold",Arial,sans-serif;line-height:1.4em;letter-spacing:0.9px;color:#008ad8}.swiftype .autocomplete-section .ac_title a{color:#008ad8}
/*
	Global styles for WordPress.com
*/
img.latex {
	border: none;
	vertical-align: middle;
}
.video-player {
	border: 0;
	margin: auto;
	padding: 5px;
	text-align: center;
	max-width: 100%;
}
.hidden {
	display: none;
}
.screen-reader-text {
	position: absolute;
	left: -1000em;
}
.comment object,
.comment embed,
.embed-vimeo iframe,
.embed-youtube iframe {
	max-width: 100%; /* avoid videos being too wide */
}


/**
 * Layout
 */

.simple-homepage {
	display: none;
}
