@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 200;
  src: local('Ek Mukta ExtraLight'), local('EkMukta-ExtraLight'), url(https://fonts.gstatic.com/s/ekmukta/v7/I9kEeiTYrUZc3iQHHEx8Qp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
