/************* COMPLETION V3 GENERAL ****************/

.keWebNoResultAutoCompleteCompletionBox {
    background-color: #FFFFFF;
    width: 340px;
    top: 3px;
    left: 109px;
    border-bottom: 2px solid #ABABAB;
    border-top: 2px solid #ABABAB;
    z-index: 900;
}

.keWebNoResultAutoCompleteBlockLabel {
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    color: #666666;
    display: block;
    font-family: arial;
    font-size: 11px;
    margin: 0;
    padding: 0 3px 0 6px;
    text-align: right;
}

.keWebNoResultAutoCompleteSuggestion,
.keWebNoResultAutoCompleteHighlightedSuggestion {
    border-collapse: collapse;
    cursor: pointer;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.keWebNoResultAutoCompleteSuggestion {
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    color: #000;
    padding: 0 5px;
}


.keWebNoResultAutoCompleteHighlightedSuggestion {
    background-color: #979797;
    border-left: 0 none;
    border-right: 0 none;
    color: #FFFFFF !important;
    padding: 0 7px;
}

.keWebNoResultAutoCompleteSuggestionContent {
    display: block;
    font-family: Arial,sans-serif;
    font-size: 13px;
    margin: 3px 0 0;
    padding: 0;
}

.keWebNoResultAutoCompleteBlockLabelBasicContent{
	font-family: Arial,sans-serif;
    font-size: 11px;
}

/************* DIRECTLINK GENERAL ****************/

.keWebNoResultAutoCompleteSuggestion .keWebNoResultDirectLink {
	color: #527EDC;
    border-bottom: 1px solid #527EDC;
    font-weight: bold;
}

.keWebNoResultAutoCompleteHighlightedSuggestion .keWebNoResultDirectLink {
    color: #FFFFFF;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.keWebNoResultDirectLinkText {
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}

.keWebNoResultAutoCompleteSuggestion .keWebNoResultDirectLinkText {
    color: #979797;
}

/************* PETALE GENERAL ****************/

.keWebNoResultPetaleContainer {
	left: 380px;
	top: 34px;
	_top: 33px;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 2px solid #999999;
    background-color: #979797;
    -moz-box-shadow: 1px 1px 12px #999999;
    -webkit-box-shadow: 1px 1px 12px #999999;  
    box-shadow: 1px 1px 12px #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.keWebNoResultPetaleContainerTitle {
    color: #FFFFFF;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    height: 24px;
    margin: 3px 5px 0 5px;
    padding: 0;
    _width: 99%;
}

.keWebNoResultPetaleSubContainer {
    height: 205px;
    width: 270px;
    margin: 0 1px 1px 1px;
    padding: 5px 0 0 0;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.keWebNoResultPetaleReferenceFullContainer {
	margin: 0 5px 5px 5px;
	padding: 0;
    width: 260px;
    height: 200px;
	overflow: hidden;
}

.keWebNoResultPetaleReferenceContainer {
	margin: 0px 5px 5px 5px;
	padding: 0;
    width: 260px;
	height: 110px;
}

.keWebNoResultPetaleSubReferenceFullContainer {
	height: 175px;
	overflow: hidden;
	margin: 0;
	padding: 0;
    width: 260px;
}

/* Equivalent to cellpadding = 0 in table */
.keWebNoResultPetaleReferenceImageTable td {
    padding: 0;
}

.keWebNoResultPetaleReferenceImageTable {
    margin: 0 5px 0 0;
    padding: 0;
    border-collapse: collapse;
    width: 90px;
    height: 100px;
    border: 1px solid #CCCCCC;
    float: left;
    background-color: #FFFFFF;
}

.keWebNoResultPetaleReferenceImageTd {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.keWebNoResultPetaleReferenceImageContainer {
    max-width: 90px;
    max-height: 100px;
    overflow: hidden;
}

.keWebNoResultPetaleReferenceImage {
	padding: 0;
}

.keWebNoResultPetaleReferenceInfoContainer {
    height: 110px;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.keWebNoResultPetaleReferenceInfo_1,
.keWebNoResultPetaleReferenceInfo_2,
.keWebNoResultPetaleReferenceInfo_3,
.keWebNoResultPetaleReferenceInfo_4,
.keWebNoResultPetaleReferenceInfo_5,
.keWebNoResultPetaleReferenceInfo_6,
.keWebNoResultPetaleReferenceInfo_7 {
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	margin: 10px 5px 0 5px;
}

.keWebNoResultPetaleReferenceInfo_2,
.keWebNoResultPetaleReferenceInfo_3,
.keWebNoResultPetaleReferenceInfo_4 {
    margin: 5px 5px 0 5px;
}

.keWebNoResultPetaleSubReferenceContainer {
    height: 118px;
	overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 260px;
}

.keWebNoResultPetaleGeneralActionOver .keWebNoResultPetaleActionText {
    text-decoration: underline;
}

.keWebNoResultPetaleReferenceInfoTopContainer {
    height: 85px;
    overflow: hidden;
}

.keWebNoResultPetaleReferenceUrlDisplay {
	color: #999999;
	font-family: arial;
	font-size: 11px;
	height: 15px;
    margin: 5px;
    overflow: hidden;
}

.keWebNoResultPetaleReferenceUrlDisplayFavicon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	padding: 0;
}

.keWebNoResultPetaleActionLinkContainer {
	height: 90px;
	overflow: hidden;
}

.keWebNoResultPetaleActionLinkSeparator {
	border-top: 1px solid #CCCCCC;
	margin: 0 10px 0 10px;
	height: 5px;
	line-height: 1px;
	font-size: 1px;
	_width: 100%;
}

.keWebNoResultPetaleActionLink {
	width: 260px;
	height: 30px;
	padding: 2px 0;
	margin: 0 5px 5px 5px;
}

.keWebNoResultPetaleGeneralActionOver {
	background-color: #E1E1E1;
        cursor: pointer;
}

.keWebNoResultPetaleActionText {
	font-family: arial;
	font-size: 13px;
	color: #527EDC;
    display: inline-block;
    margin-left: 5px;
}

.keWebNoResultPetaleActionUrlDisplay {
    margin: 0 10px 0 10px;
    color: #999999;
}

.keWebNoResultPetaleActionUrlDisplayText {
	font-family: arial;
	font-size: 11px;
}

.keWebNoResultactuActionClass, .keWebNoResultvideoActionClass, .keWebNoResultplanActionClass,
.keWebNoResultcityvoxActionClass, .keWebNoResultclubActionClass, .keWebNoResultchaineActionClass,
.keWebNoResulttvodActionClass, .keWebNoResultficheActionClass, .keWebNoResultboutiqueActionClass {
	margin: 0 5px 0 5px;
	padding: 0;
}

.keWebNoResultPetaleActionClean {
	height: 5px;
}

.keWebNoResultAutoCompleteHighlightedSuggestion .keWebNoResultAutoCompleteChevron,
.keWebNoResultAutoCompleteSuggestion .keWebNoResultAutoCompleteChevron {
	width: 14px;
	height: 14px;
	float: right;
	margin: 8px 0 0 0;
	background-image: url('%%URL_POOLE%%/I/orange/petaleZoom.png?cacheRefresh=%%CACHEREFRESH%%');
	background-position: left top;
	background-repeat: no-repeat;
}

.keWebNoResultAutoCompleteHighlightedSuggestion .keWebNoResultAutoCompleteChevron {
	background-position: left -14px;
}

/***************** PETALE METEO ****************/

.keWebNoResultPetaleMeteoWaiting, .keWebNoResultPetaleMeteoError {
    margin: 0;
    padding: 120px 0 0 0;
    height: 75px;
	background-position: 110px 50px;
	background-repeat: no-repeat;
}

.keWebNoResultPetaleMeteoWaiting {
    background-image: url('%%URL_POOLE%%/I/leMoteur/petaleMeteoWait.gif?cacheRefresh=%%CACHEREFRESH%%');
}

.keWebNoResultPetaleMeteoError {
    background-image: url('%%URL_POOLE%%/I/leMoteur/petaleMeteoError.png?cacheRefresh=%%CACHEREFRESH%%');
}

.keWebNoResultPetaleMeteoWaitingText, .keWebNoResultPetaleMeteoErrorText {
    text-align: center;
    width: 270px;
}

.keWebNoResultPetaleMeteoWaitingTextParagraph, .keWebNoResultPetaleMeteoErrorTextParagraph {
    font-family: arial;
	font-size: 13px;
	font-weight: bold;
    color: #527EDC;
}

.keWebNoResultPetaleReferenceInfo_meteo_1 {
    font-size: 12px !important;
}

.keWebNoResultPetaleReferenceInfo_meteo_2 {
    font-size: 24px !important;
    margin-top: 12px !important;
}

.keWebNoResultPetaleReferenceInfo_meteo_3 {
    font-weight: normal !important;
    margin-top: 0 !important;
}

.keWebNoResultPetaleReferenceInfo_meteo_4, .keWebNoResultPetaleReferenceInfo_meteo_5 {
    clear: left;
    font-family: arial;
	font-size: 13px;
	font-weight: bold;
    color: #527EDC;
    margin: 30px 5px 0 15px;
}

.keWebNoResultPetaleGeneralActionOver .keWebNoResultPetaleReferenceInfo_meteo_4 {
    text-decoration: underline;
}

.keWebNoResultPetaleReferenceInfo_meteo_5 {
    color: #222222;
    font-weight: normal !important;
    margin: 3px 5px 0 15px;
}

/***************** PETALE PEOPLE ****************/

.keWebNoResultPetaleSubReferenceContainer_people {
    height: 110px !important;
}

.keWebNoResultPetaleReferenceInfo_people_1 {
    color: #527EDC !important;
    font-weight: normal !important;
}

.keWebNoResultPetaleGeneralActionOver .keWebNoResultPetaleReferenceInfo_people_1 {
    text-decoration: underline;
}

.keWebNoResultPetaleReferenceUrlDisplay_people {
    margin: 5px 5px 5px 0;
}

/***************** PETALE BOUTIQUE ****************/

.keWebNoResultPetaleSubReferenceContainer_boutique {
    height: 110px !important;
}

.keWebNoResultPetaleReferenceInfo_boutique_1 {
    color: #527EDC !important;
    font-weight: normal !important;
}

.keWebNoResultPetaleGeneralActionOver .keWebNoResultPetaleReferenceInfo_boutique_1 {
    text-decoration: underline;
}

.keWebNoResultPetaleReferenceUrlDisplay_boutique {
    margin: 5px 5px 5px 0;
}

.keWebNoResultPetaleReferenceInfo_boutique_mark {
    height: 14px;
    _font-size: 1px;
    background-image: url('%%URL_POOLE%%/I/leMoteur/petaleBoutiqueMark.png?cacheRefresh=%%CACHEREFRESH%%');
    background-repeat: no-repeat;
}

/***************** PETALE SHOPPING ****************/

.keWebNoResultPetaleReferenceInfo_shopping_3 {
    font-weight: normal !important;
    text-decoration: line-through;
}

.keWebNoResultPetaleReferenceInfo_shopping_4 {
    font-weight: normal !important;
}

.keWebNoResultPetaleReferenceInfo_shopping_5 {
    font-size: 24px !important;
}

.keWebNoResultPetaleReferenceInfo_shopping_6 {
    font-weight: normal !important;
}

.keWebNoResultPetaleReferenceInfo_shopping_1,
.keWebNoResultPetaleReferenceInfo_shopping_3,
.keWebNoResultPetaleReferenceInfo_shopping_4 ,
.keWebNoResultPetaleReferenceInfo_shopping_5,
.keWebNoResultPetaleReferenceInfo_shopping_6 {
    margin-top: 0px !important;
    margin-left: 110px !important;
}

.keWebNoResultPetaleReferenceInfo_shopping_7 {
    clear: left;
    color: #527edc !important;
    margin-left: 10px !important;
}

.keWebNoResultPetaleGeneralActionOver .keWebNoResultPetaleReferenceInfo_shopping_7 {
    text-decoration: underline;
}

/******************* TOP TREND **********************/

.keWebNoResultAutoCompleteTopTrendNumber {
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
}

.keWebNoResultAutoCompleteTopTrendText {
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    margin-top: 5px;
}

.keWebNoResultAutoCompleteBlockLabel .keWebNoResultAutoCompleteBlockLabelTopTrendContent {
    font-size: 11px !important;
    font-weight: bold;
    padding-top: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 3px !important;
}

/***************************************/
/********* calque search moteur*********/
/***************************************/

.calqueOrangeSearchReference {
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

.calqueOrangeSearch {
    position: absolute;
    z-index: 99;
    width: 980px;
    height: 1200px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    left: 5px;
    top: 5px;
}
