/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@font-face {
	font-family:'GalanoGrotesqueDEMO';
	src: url('../fonts/galano_grotesque_bold-webfont.eot');
	src: url('../fonts/galano_grotesque_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/galano_grotesque_bold-webfont.woff') format('woff'),
		url('../fonts/galano_grotesque_bold-webfont.ttf') format('truetype'),
		url('../fonts/galano_grotesque_bold-webfont.svg#galano_grotesque_bold-webfont') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular_gdi.eot');
	src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
		url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

input, textarea, select {
   -webkit-appearance: none;
   -webkit-box-shadow: none;
   -webkit-border-radius: 0;
    -moz-appearance: none;
}

select::-ms-expand {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    select { 
        background: white url(../img/selects.png) no-repeat; 
        background-position: 95% center !important;
    } 
} 

@-moz-document url-prefix() { 
  select { 
      background: white url(../img/selects.png) no-repeat calc(100% - 10px) center !important; 
  } 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
  select { 
      background: white url(../img/selects.png) no-repeat calc(100% - 10px) center !important; 
  }  
}

a{
    color: inherit;
}

a.aback{
    position: absolute;
    right: 0px;
    display: block;
    background: white url(../img/aback.png) no-repeat 12px 7px;
    color: #d20000;
    text-decoration: none;
    height: 28px;
    border-top: 2px solid #dadada;
    line-height: 28px;
    padding-right: 12px;
    padding-left: 46px;
    top: -30px;
}

.wrapper{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto 0;
}

.mini-wrapper{
    max-width: 1094px;
    margin: 0 auto;
    padding: 10px;
}

header{
    /* height: 107px; */
    overflow: hidden;
}

header .logo{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
header .logo img{}

header .logout{
    float: right;
    margin-top: 27px;
    vertical-align: top;
    margin-bottom: 10px;
}
header .logout span{
    padding: 5px 34px 5px 12px;
    font: 700 13px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    position: relative;
}

header .logout span:after{
    content: '';
    display: block;
    background: url(../img/logout.png) no-repeat;
    width: 13px;
    height: 14px;
    position: absolute;
    top: 6px;
    right: 11px;
}

header .profile{
    margin-top: 17px;
    margin-left: 32px;
    margin-bottom: 18px;
    margin-right: 20px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}
header .profile img{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    float: left;
    font-size: 24px;
}
header .profile .name{
    display: block;
    font: 700 24px GalanoGrotesqueDEMO;
    color: #646464;
    margin-left: 61px;
}

header .profile .link{
    display: block;
    margin-left: 61px;
    color: #646464;
    font: 700 14px 'Myriad Pro';
    text-decoration: underline;
}

.top_form {
    float: right;
    margin-top: 29px;
    padding-bottom: 10px;
    max-width: 390px;
    text-align: left;
}

.top_form form {}

.top_form .top {
    vertical-align: top;
    text-align: center;
}

.top_form .top input::-webkit-input-placeholder {color:#737373;}
.top_form .top input::-moz-placeholder          {color:#737373;}/* Firefox 19+ */
.top_form .top input:-moz-placeholder           {color:#737373;}/* Firefox 18- */
.top_form .top input:-ms-input-placeholder      {color:#737373;}

.top_form .top input, .top_form .top input[type="password"]{
    border: 1px solid #a0a0a0;
    width: 113px;
    padding-left: 2px;
    outline: 0;
    height: 37px;
    line-height: 37px;
    margin-right: 3px;
    font: 700 18px 'Myriad Pro';
    font-style: italic;
    display: inline-block;
    margin-bottom: 4px;
    background-color: white;
}

 .top_form .top input[type="password"]{
    /*background-image: url(../img/password.png);*/
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: white;
 }

 .top_form .top input[type="password"].filled{
    background: none;
 }

.top_form .top input[type="submit"]{
    background: url(../img/login.png);
    width: 122px;
    height: 41px;
    display: inline-block;
    border: 0;
    outline: 0



;
    display: inline-block;
    vertical-align: top;
}

.top_form .bot {
}
.top_form .bot a{
    float: right;
    color: #646464;
    font: 700 12px 'Myriad Pro';
    font-style: italic;
    margin-top: 6px;
}
.top_form #rememberme {
}
.top_form input[type="checkbox"]+label {
font-size: 12px !important;}

#signup_big {
    background: #fcfafd;
background: -moz-linear-gradient(left,  #fcfafd 0%, #ebebec 15%, #e0e2e2 100%);
background: -webkit-linear-gradient(left,  #fcfafd 0%,#ebebec 15%,#e0e2e2 100%);
background: linear-gradient(to right,  #fcfafd 0%,#ebebec 15%,#e0e2e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfafd', endColorstr='#e0e2e2',GradientType=1 );

}
#signup_big .inner {
    overflow: hidden;
    background: url(../img/girls.png) no-repeat left bottom;
    min-height: 670px;
}
#signup_big .signup_form {
    float: right;
    /* width: 511px; */
    margin-top: 120px;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px 15px 15px 0;
    border-radius: 3px;
}
#signup_big .line {
    height: 44px;
    margin: 0 0 6px;
    overflow: hidden;
}
#signup_big .notice{
    float: right;
    /*color: #858585;*/
        color:#333333
    font: 400 14px 'Myriad Pro';
    width: 312px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 6px;
}
#signup_big label {
    width: 270px;
    float: left;
    text-align: right;
    margin-right: 18px;
    color: #000000;
    font: 700 26px GalanoGrotesqueDEMO;
    line-height: 44px;
    height: 44px;
}
#signup_big select{
    width: 311px;
    max-width: 100%;
    height: 44px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
    font-size: 18px;
    font: 400 18px 'Myriad Pro' !important;
}
#signup_big input{
    width: 311px;
    max-width: 100%;
    height: 44px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
    font: 400 18px 'Myriad Pro' !important;
    box-sizing: border-box;
}
#signup_big button[type="submit"] {
    border: 0;
    background: 0;
    outline: 0;
    height: 66px;
    width: 315px;
    max-width: 100%;
    background: #04af67;
    float: right;
    padding: 1px;
    clear: both;
}
#signup_big button[type="submit"] span{
    background: -webkit-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:  -moz-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:  -ms-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background: linear-gradient(0deg, #04af67 0%, #0cce7c 100%);
    color: #ffffff;
    font: 700 38px GalanoGrotesqueDEMO;
    text-shadow: 0px 1px 1px rgba(0, 123, 23, 0.75);
    line-height: 66px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #18ff00;
    /* width: 311px; */
    height: 62px;
    max-width: 100%;
}

#signup_big button[type="submit"]:hover > span{
    background: -moz-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: -ms-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: linear-gradient(0deg, #07BE71 0%, #0EE188 100%);
}
#signup_big #birth_d {
    width: 101px;
}
#signup_big #birth_m {
    width: 101px;
}
#signup_big #birth_y {
    width: 101px;
}

#signup_orange {
    background-color: #ff6000;
    height: 114px;
    max-width: 100%;
    padding-top: 46px;
    padding-left: 10px;
    padding-right: 10px;
    background: url(../img/footer_border.png) top center repeat;
}
#signup_orange a {
    width: 479px;
    height: 78px;
    display: block;
    text-shadow: 0px 1px 1px rgba(209, 79, 0, 0.75);
    text-align: center;
    color: #ffffff;
    font: 700 53px 'Myriad Pro';
    background-color: #000000;
    margin: 0 auto 0;
    text-decoration: none;
    font-style: italic;
    line-height: 78px;
    max-width: 100%;
}
#some_features{
    /* height: 60px; */
    background-color: #000000;
    text-align: center;
}
#some_features span.first{
    margin-left: 0;
}
#some_features span.last{
    margin-right: 0;
}
#some_features span{
    display: inline-block;
    color: #ffffff;
    font: 400 20px 'Myriad Pro';
    margin: 15px 50px;
	vertical-align:top;
	white-space:nowrap;
}
#some_features span img{
    margin-right: 20px;
    display: inline;
}

#online_block{
text-align: center;padding: 55px 10px 0;}
#online_block .count{
    color: #464646;
    font: 400 38px Arial,sans-serif;
    background: url(../img/onlinedevice.png) no-repeat left center;
    padding-left: 80px;
    display: inline-block;
    /* line-height: 71px; */
    padding: 24px 0 24px 80px;
	text-align:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#online_block .count strong{
    color: #04af67;
    font: 700 38px 'Myriad Pro';
    font-style: italic;
}
#online_block .online_slider{
    margin-top: 46px;
    padding: 0 60px;
}
#online_block .online_slider ul{
    list-style: none;
    margin: 0;
}
#online_block .online_slider ul li img{
    width: 122px;
    height: 122px;
}
#online_block .view_all{
    width: 168px;
    height: 33px;
    display: inline-block;
    text-decoration: none;
    background: #d20000;
    padding: 1px;
    margin: 44px 0;
}
#online_block .view_all span{
    height: 31px;
    background: -webkit-linear-gradient(90deg, #d20000 0%, #ac0000 100%);
    background: -moz-linear-gradient(90deg, #d20000 0%, #ac0000 100%);
    background: -o-linear-gradient(90deg, #d20000 0%, #ac0000 100%);
    background: -ms-linear-gradient(90deg, #d20000 0%, #ac0000 100%);
    background: linear-gradient(0deg, #d20000 0%, #ac0000 100%);
    border: 1px solid #ebb029;  
    display: block;
    color: #ffffff;
    font: 700 21px GalanoGrotesqueDEMO;
    line-height: 31px;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(209, 79, 0, 0.75);
}

.review_slider{
}
.review_slider ul {
}
.review_slider ul li {
    background-color: #ebebeb;
    padding: 23px 20px 10px;
    text-align: center;
}
.review_slider ul li img {
    float: left;
    margin-right: 15px;
}
.review_slider ul li p {
    color: #484848;
    font: 400 27px 'Myriad Pro';
    font-style: italic;
    margin: 20px 0 0;
    line-height: 35px;
}
.review_slider ul li .author {
    color: #afafaf;
    font: 400 18px 'Myriad Pro';
    display: block;
    text-align: right;
    clear: both;
    padding-bottom: 15px;
}

.review_slider ul li .inner{
    text-align: left;
    display: inline-block;
    width: 81%;
    padding-bottom: 0;
}

#features {
    overflow: hidden;
    text-align: center;
}

#features .title{
    color: #484848;
    font: 400 42px 'Myriad Pro';
    font-style: italic;
}
#features .title strong{
    font-weight: 700;
    color: #d20000;
}

#features .feature {
    width: 32%;
    display: inline-block;
    margin: 0;
    margin-bottom: 40px;
    vertical-align: top;
    min-width: 260px;
}
#features .feature .img {
    background: url(../img/featurebg.png) no-repeat;
    width: 212px;
    height: 211px;
    padding-bottom: 28px;
    display: block;
    margin: auto;
    text-align: center;
}
#features .feature .img .middle {
    display: table-cell;
    vertical-align: middle;
    width: 212px;
    height: 210px;
}
#features .feature .big {
    color: #d20000;
    font: 700 35px 'Myriad Pro';
    font-style: italic;
    text-align: center;
    margin: 10px 0 0px;
}
#features .feature .small {
color: #474747;text-align: center;font: 400 18px 'Myriad Pro';margin-top: 6px;
}
.row{
}

#free_features {
    background-color: #ebebeb;
    padding: 0;
    padding-bottom: 27px;
}
#free_features .title {
    color: #d20000;
    font: 700 42px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 3px 0 2px;
}
#free_features .info {
    background-color: #f7f7f7;
    overflow: hidden;
}
#free_features .left {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    text-align: center;
}
#free_features .left .l1 {
    color: #04af67;
    font: 700 41px 'Myriad Pro';
    font-weight:normal;
    margin: 0;
}
#free_features .left .l2 {
    color: #464646;
    font: 700 102px 'Myriad Pro';
    margin: 0;
    line-height: 70px;
}
#free_features .left .l3 {
    color: #d95714;
    font: 700 20px 'Myriad Pro';
    font-style: italic;
    margin: 4px 0 0;
    display: block;
}

#free_features .right {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    border-left: 3px solid #EBEBEB;
    padding: 0px 0 10px;
}
#free_features .right p {
    color: #464646;
    font: 700 24px 'Myriad Pro';
    text-align: center;
    margin-bottom: 10px;
}
#free_features .right ul {
}
#free_features .right li {
    color: #464646;
    font: 700 20px / 31px 'Myriad Pro';
    font-weight:normal;
    background: url(../img/fireli.png) no-repeat 0px 2px;
    list-style: none;
    padding-left: 28px;
    display: inline-block;
    width: 45%;
}

#news_articles{
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 65px;
    padding-top: 60px;
}
#news_articles .title{
    color: #464646;
    font: 700 45px 'Myriad Pro';
    font-style: italic;
    background: url(../img/newstitle.png) no-repeat 0px 0px;
    padding-left: 49px;
    margin: 0;
    display: inline-block;
}
#news_articles ul{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 48px 44px 50px;
}
#news_articles ul li{
    color: #464646;
    font: 400 22px 'Myriad Pro';
    background: url(../img/heart.png) no-repeat 0px 5px;
    padding-left: 28px;
    text-align: left;
    margin-bottom: 23px;
}
#news_articles ul li a{
    color: inherit;
    text-decoration: none;
    line-height: 12px;
}

.whiteline{
    color: #d20000;
    font: 400 15px 'Myriad Pro';
    padding: 10px;
    text-align: center;
    background: white;
}
.whiteline strong{
    font-weight: 700;
}

#footer_photos {
    background: url(../img/footer_border.png) top center repeat;
    padding-top: 63px;
}
#footer_photos .inner{
    background: url(../img/footer_photos.png) repeat-x;
    /* background-size: cover !important; */
    padding-top: 120px;
    text-align: center;
    min-height: 410px;
}
#footer_photos p{
margin: 0;}

#footer_photos .l1{
}

#footer_photos .l1 span {
    background-color: #000000;
    color: #ffffff;
    font: 400 58px 'Myriad Pro';
    margin: 0;
    padding: 7px 24px;
    font-style: italic;
}
#footer_photos .l1 strong {
    font-weight: 700;
}
#footer_photos .l2 span {
    background-color: #000000;
    color: #ffffff;
    font: 400 26px 'Myriad Pro';
    margin: 0;
    padding: 0 24px 4px;
}
#footer_photos .green_btn {
display: inline-block;}
#footer_photos .social_links {
    margin-top: 47px;
}
#footer_photos .social_links .fb {
    display: inline-block;
    background: url(../img/facebook.png) no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 5px;
}
#footer_photos .social_links .tw {
    display: inline-block;
    background: url(../img/twitter.png) no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 5px;
}
#footer_photos .social_links .gp {
    display: inline-block;
    background: url(../img/google_plus.png) no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 5px;
}

#footer_photos .green_btn{
    margin-top: 61px;
}

.green_btn {
    border: 0;
    background: 0;
    outline: 0;
    background: #04af67;
    padding: 1px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.green_btn > span{
    background:-moz-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background: -ms-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background: linear-gradient(0deg, #04af67 0%, #0cce7c 100%);
    color: #ffffff;
    font: 700 52px GalanoGrotesqueDEMO;
    text-shadow: 0px 1px 1px rgba(0, 123, 23, 0.75);
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #18ff00;
    padding: 8px 121px;
}

footer {
    background-color: #000000;
    overflow: hidden;
}
footer .menu {
margin: 0;padding: 0;list-style: none;float: left;line-height: 17px;padding: 21px 0;}
footer .menu li {
float: left;margin-right: 5px;padding-right: 5px;border-right: 1px solid #b3b3b3;}
footer .menu li a {
    color: #b3b3b3;
    font: 400 17px 'Myriad Pro';
}
footer .menu li.last {
border-right: 0;}
footer .menu li.last a {
}
footer .copyright {
margin-top: 10px;float: right;color: #9b9b9b;font: 400 17px sans-serif;line-height: 44px;}
footer img {
vertical-align: top;}

#header_menu{
    background: #202020;
    padding: 6px 0;
    position: relative;
    /* min-height: 50px; */
}
#header_menu > .wrapper{
    position:relative;
}
#header_menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#header_menu .toggle_menu{
    background: 0;
    border: 0;
    outline: 0;
    display: none;1:7px;
}
#header_menu .toggle_menu img{
    width: 35px;
    height: 26px;
    margin: 11px 0;
}
#header_menu ul li{
    padding-right: 20px;
    border-right: 1px solid #a8a8a8;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-bottom: 7px;
}
#header_menu ul li a{
    /* font: 400 28px 'Myriad Pro'; */
    color: white;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    font: 700 21px GalanoGrotesqueDEMO;
}
#header_menu ul li a:hover{
    text-decoration: underline
}
#header_menu ul li a span.count{
    background: url(../img/messages.png) no-repeat;
    width: 24px;
    height: 22px;
    display: inline-block;
    font: 700 15px 'Myriad Pro';
    line-height: 21px;
    text-align: center;
    position: relative;
    top: -2px;
    left: 6px;
}
#header_menu ul li a img{
    margin-right: 12px;
    vertical-align: middle;
}
#header_menu ul li.last{
    border-right: 0;
}
#header_menu li.sign_up{
    float: right;
    border-right: 0;
    margin-top: 0px;
    margin-right: 0;
    padding-right: 0;
    position: relative;
}
#header_menu a.premium{
}
#header_menu a.premium > span{
    padding-right: 51px;
    font-size: 21px;
    padding: 6px 52px 6px 20px;
}
#header_menu a.premium:after{
    display:block;
    content: '';
    background: url(../img/premium_badge.png) no-repeat;
    width: 38px;
    height: 48px;
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 2;
}
#header_menu .green_btn{
position: absolute;right: 10px;top: 0px;}
#header_menu .green_btn > span{
    padding: 10px 18px;
    font-size: 15px;
}

#where_are_you{
    margin: 30px auto;
}

#mini_search {
text-align: center;margin: 35px auto;padding: 0 10px;}
#mini_search label {
    color: #000000;
    font: 700 21px GalanoGrotesqueDEMO;
    background: url(../img/search.png) no-repeat center left;
    padding-left: 38px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#mini_search > *{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#mini_search > div{
    max-width: 100%;
}
#mini_search #mini_search_input {
    outline: 0;
    border: 1px solid #a0a0a0;
    height: 41px;
    line-height: 41px;
    margin-right: 0;
    padding-left: 8px;
    width: 100%;
    /* max-width: 300px; */
    box-sizing: border-box;
    display: block;
}
#mini_search button {
    margin-left: -6px;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
}
#mini_search button > span{
    padding: 8.5px 18px;
    font-size: 15px;
}

.article_list{
    overflow: hidden;
}
.article_list article {
    display: inline-block;
    margin-bottom: 1%;
    vertical-align: top;
}
.article_list article.last{
    margin-right: 0;
}
.article_list article .thumb {
}
.article_list article .thumb img {
width: 100%;height: auto;}
.article_list article h2 {
    margin: 12px 0 0;
    text-align: center;
}
.article_list article h2 a {
    color: #b30000;
    font: 700 24px "Myriad Pro";
    text-decoration: none;
}
.article_list article p {
    color: #000000;
    font: 400 18px 'Myriad Pro';
    text-align: center;
    margin: 6px 0px 10px;
}   

.pagination{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.pagination > span, .pagination > a{
        display: inline-block;
    height: 32px;
    color: #000000;
    font: 400 18px 'Myriad Pro';
    text-decoration: none;
    background-color: #f3f3f3;
    line-height: 32px;
    padding: 0 11px;
    margin: 0 0px 4px;
    vertical-align: top;
}
.pagination > span.active{
    background-color: #e14022;
    color: #ffffff;
}
.pagination_small{
    text-align: right;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 5px;
}

.pagination_small > span, .pagination_small > a{
    display: inline-block;
    height: 32px;
    color: #000000;
    font: 400 18px 'Myriad Pro';
    text-decoration: none;
    background-color: #f3f3f3;
    line-height: 32px;
    padding: 0 11px;
    margin: 0 0px 4px;
    vertical-align: top;
}
.pagination_small > span.active{
    background-color: #e14022;
    color: #ffffff;
}

.red_header{
    background: url(../img/redbg.png) repeat;
    color: #ffffff;
    font: 700 38px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    min-height: 74px;
    /* line-height: 74px; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.red_header span.bg{
    margin-left: 34px;
    background: url(../img/email.png) no-repeat center left;
    padding: 0px 0px;
    text-shadow: 0px 1px 0px #881100;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 104px;
    height: 104px;
    top: 0;
}
.red_header.noimage span{
    background: none;
}
.red_header span.title{
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 11px 0 0;
    margin-left: 34px;
    text-shadow: 1px 2px 1px rgb(136, 17, 0);
}
.red_header > a.back{
    background-image: url(../img/back.png) !important;
}

.red_header.man span.bg{
    background-image: url(../img/redman.png);
    width: 92px;
    height: 93px;
}
.red_header.mail span.unreaded{
    font: 700 18px 'Myriad Pro';
    display: inline-block;
    vertical-align: middle;
    background: none;
    margin-left: 4px;
    z-index: 2;
    position: relative;
}
.red_header.mail span.bg{
    background-image: url(../img/redmail.png);
    width: 128px;
    height: 106px;
}

.red_header.man > a{
    font: 700 28px GalanoGrotesqueDEMO;
    color: white;
    background: #000000 url(../img/photo_white.png) no-repeat 12px center;
    display: inline-block;
    padding-left: 48px;
    text-decoration: none;
    padding-right: 12px;
    height: 41px;
    line-height: 41px;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
}
.red_header.photo > a{
    font: 700 28px GalanoGrotesqueDEMO;
    color: white;
    background: #000000 url(../img/man_white.png) no-repeat 12px center;
    display: inline-block;
    padding-left: 48px;
    text-decoration: none;
    padding-right: 12px;
    height: 41px;
    line-height: 43px;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 16px;
}
.red_header.mail > a{
    font: 700 28px GalanoGrotesqueDEMO;
    color: white;
    background: #000000 url(../img/mail_white.png) no-repeat 12px center;
    display: inline-block;
    padding-left: 48px;
    text-decoration: none;
    padding-right: 12px;
    height: 41px;
    line-height: 43px;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    z-index: 2;
    position: relative;
}

.red_header.mail > a.trash{
    background: #000000 url(../img/trash_white.png) no-repeat 12px center;
    padding-left:42px;
}

.red_header.man > a.white{
    background: none;
    float: none;
    font: 400 17px 'Myriad Pro';
    text-transform: none;
    padding:  0;
    margin: 0;
    vertical-align: middle;
    line-height: 33px;
    text-decoration: underline;
    position: relative;
    z-index: 2;
}

.red_header.photo span.bg{
    background-image: url(../img/redphoto.png);
    width: 92px;
    height: 79px;
}
.red_header.search span.bg{
    background-image: url(../img/redsearch.png);
    width: 141px;
    height: 141px;
}
.red_header.search > a{
    font: 700 28px GalanoGrotesqueDEMO;
    color: white;
    background: #000000 url(../img/search_white.png) no-repeat 7px center;
    display: inline-block;
    padding-left: 48px;
    text-decoration: none;
    padding-right: 12px;
    height: 41px;
    line-height: 41px;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    position: relative;
    margin-bottom: 16px;
    z-index: 2;
}

.single{
    margin-top: 30px;
    margin-bottom: 40px;
    overflow: hidden;
}
.single article{
    max-width: 1050px;
    color: #000000;
    font: 400 18px / 27px 'Myriad Pro';
    width: calc(100% - 270px);
    float: left;
}
.single h1{
    color: #d20000;
    font: 700 46px 'Myriad Pro';
    margin: 12px 0;
}
.single article img{}
.single .sidebar{
    float:right;
    width: 236px;
}

.single .sidebar .block{
    margin-bottom: 30px;
}
.single .sidebar .block h3{
    color: #d20000;
    font: 700 35px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    margin: 0;
    line-height: 23px;
}
.single .sidebar .block.search{}
.single .sidebar .block.search form{
    position: relative;
    margin-top: 13px;
}
.single .sidebar .block.search form input[type="text"]{
    border: 1px solid #a0a0a0;
    height: 37px;
    outline: 0;
    padding: 0;
    margin: 0;
    padding-left: 8px;
    width: 157px;
    line-height: 37px;
}
.single .sidebar .block.search form input[type="submit"]{
    background: url(../img/search_small.png) no-repeat;
    border: 0;
    outline: 0;
    width: 53px;
    height: 39px;
    position: absolute;
    left: 166px;
    top: 0px;
}
.single .sidebar .block.cats{}
.single .sidebar .block.cats ul{
    margin: 20px 0 0;
    list-style: none;
    padding: 0;
}
.single .sidebar .block.cats ul li{
    background: url(../img/fireinthehole.png) no-repeat 0px 6px;
    padding-left: 30px;
}
.single .sidebar .block.cats ul li a{
    text-decoration: none;
    color: #363636;
    font: 700 18px / 40px 'Myriad Pro';
    text-transform: uppercase;
}

.contact_page{
    margin-top: 20px;
    margin-bottom: 20px;
}

.page{
    background: #f3f3f3;
    overflow: hidden;
    padding: 0 10px;
}

.contact_form{
    max-width: 650px;
    display: block;
    margin: 60px auto;
    color: #4b4b4b;
    font: 400 18px 'Myriad Pro';
}
.contact_form input, textarea{
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}
.contact_form {
}
.contact_form p {
margin: 0px 0 6px;}
.contact_form label {
    width: 160px;
    float: left;
    text-align: left;
    #margin-right: 32px;
    color: #4b4b4b;
    font: 400 18px / 50px 'Myriad Pro';
    line-height: 44px;
    height: 44px;
}

.contact_form input{
    line-height: 42px;
    height: 42px;
    border: 1px solid #c8c8c8;
    outline: 0;
    padding: 0 0 0 10px;
    width:300px;
}
.contact_form textarea{
    border: 1px solid #c8c8c8;
    outline: 0;
    resize:none;
    max-width: 470px;
    width: 97%;
    height: 100px;
}

.contact_form #contact_subject {
}
.contact_form #contact_msg {
}
.contact_form .captcha {
    display:block;
    margin-left: 160px;
    margin-bottom:5px;
}
.contact_form img {
}
.contact_form button {margin: 3px 0 2px 160px;}
.contact_form span {
padding: 8px 15px;
font-size: 22px;}
.contact_form p.notice{
    margin-left: 160px;
    color: #4b4b4b;
    font: 400 14px 'Myriad Pro';
}

.faq_list{
margin-top: 12px;}
.faq_list .one{
margin-bottom: 10px;}
.faq_list .one .q{
    font: 700 21px 'Myriad Pro';
    text-transform: uppercase;
    background: #f3f3f3;
    padding: 18px 50px 18px 20px;
    cursor: pointer;
    position: relative;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.faq_list .one .q > span{
    background: url(../img/qaicon.png) no-repeat 0 0;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 14px;
    top: 14px;
}

.faq_list .one.opened .q > span{
    background-position: 0px -32px;
}

.faq_list .one.opened .q{
    background-color: #2f2f2f;
    color: white;
}

.faq_list .one .a{
    /* display: none; */
    font: 400 18px 'Myriad Pro';
    padding: 0 10px;
    overflow: hidden;
}

.faq_list .one.opened .a{
    display: block;
}

.faq_list .one p{
}

.faq_page{
    margin-top: 23px;
    margin-bottom: 20px;
}
.inner_page{
    background:#f3f3f3;
    padding-top: 40px;
}
.inner_sibebar{
    width: 211px;
    padding: 0;
    background: white;
    float: left;
}

.inner_sibebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.inner_sibebar .block{
    margin-bottom: 10px;
    padding: 0 15px;
    display: block;
}
.inner_sibebar .block.add_photo{
    background: #d20000 url(../img/photo_white_big.png) no-repeat center 48px;
    height: 178px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 18px GalanoGrotesqueDEMO;
    line-height: 240px;
    margin-bottom: 0;
    border-bottom: 35px solid #F3F3F3;
}
.inner_sibebar .profile_menu{}
.inner_sibebar .profile_menu ul{}
.inner_sibebar .profile_menu ul li{
    border-bottom: 2px solid #e1e1e1;
}
.inner_sibebar .profile_menu ul li a{
    font: 400 15px 'Myriad Pro';
    text-decoration: none;
    color: #3e3e3e;
    display: block;
    padding-bottom: 7px;
    padding-top: 16px;
    padding-left: 30px;
}
.inner_sibebar .profile_menu ul li.profile > a{
    background: url(../img/li_author.png) no-repeat 0px 16px;
}
.inner_sibebar .profile_menu ul li.msg > a{
    background: url(../img/li_msg.png) no-repeat 0px 16px;
}
.inner_sibebar .profile_menu ul li.seen > a{
    background: url(../img/li_eye.png) no-repeat 0px 18px;
}
.inner_sibebar .profile_menu ul li.heart > a{
    background: url(../img/li_heart.png) no-repeat 0px 17px;
}
.inner_sibebar .profile_menu ul li.fave > a{
    background: url(../img/li_star.png) no-repeat 0px 14px;
}
.inner_sibebar .profile_menu ul li.settings > a{
    background: url(../img/li_settings.png) no-repeat 0px 15px;
}

.inner_sibebar .popular.block{
    
}
.inner_sibebar .popular.block > h3{
    color:#767676;
    text-transform: uppercase;
    font: 700 20px GalanoGrotesqueDEMO;
    background: url(../img/fireli.png) no-repeat 0px 1px;
    padding-left: 20px;
    margin-bottom: 2px;
}
.inner_sibebar .popular.block ul{
    background: #f3f3f3;
    padding: 13px 13px 3px;
}
.inner_sibebar .popular.block ul li{
    margin-bottom: 8px;
}
.inner_sibebar .popular.block ul li a{
    text-decoration: none;
    display: block;
    overflow: hidden;
}
.inner_sibebar .popular.block ul li a img{
    float: left;
    margin-right: 10px;
}
.inner_sibebar .popular.block ul li a .name{
    font: 400 16px 'Myriad Pro';
    display: block;
    color: #3e3e3e;
    margin: 3px 0;
}
.inner_sibebar .popular.block ul li a .years{
    font: 400 14px 'Myriad Pro';
    display: block;
    color: #e46c17;
}
.inner_page{
    overflow: hidden;
    padding-bottom:30px;
    font-family: 'Myriad Pro';
    position: relative;
}
div.inner_content{
    margin-left: 250px;
    position: relative;
}
div.inner_content.full{
    margin-left: 0;
}

.inner_content > .content{
    padding: 24px;
    background: white;
    overflow: hidden;
    padding-bottom: 4px
}

.quick_search{
    text-align: center;
}
.quick_search .cols{
    
}
.quick_search .col{
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 12px;
    text-align: left;
    vertical-align: bottom;
}
.quick_search.profile-edit .col{
    margin-right: 34px;
    width:295px;
}
.quick_search.profile-edit .col input, .quick_search.profile-edit .col select {
    width:290px;
}
.quick_search .col.birthday{
}
.quick_search .col.birthday select, .quick_search .col.birthday input{
    
max-width: 32%;
}
.quick_search p{
    margin: 0px 0px 12px;
    text-align: left;
}
.quick_search .col:last-child{
    margin-right: 0;
}
.quick_search .col label{
    color: #000000;
    font: 700 27px GalanoGrotesqueDEMO;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.quick_search .col select, .quick_search .col input{
    color: #4b4b4b;
    font: 400 18px 'Myriad Pro';
    border: 1px solid #c8c8c8;
    width: 176px;
    padding-left: 6px;
    height: 42px;
    line-height: 42px;
    outline: 0;
    box-sizing: border-box;
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    display: block;
    color: #4b4b4b !important;
    font: 400 18px 'Myriad Pro' !important;
    display: inline-block !important;
    background: url(../img/checkbox.png) no-repeat 0px 0px;
    height: 23px;
    line-height: 23px !important;
    padding-left: 28px;
    cursor: pointer;
    vertical-align: top;
}
input[type="checkbox"]:checked+label{
    background-position: 0px -23px;
}

.quick_search button{
}
.quick_search.profile-edit button{
    
margin: 10px 0;
}
.quick_search.profile-edit button > span{
    padding: 6px 75px;
    font-size: 22px;
}
.quick_search button > span{
    font-size: 22px;
    padding: 12px 20px;
}

.quick_search.four_rows .col { width:243px; }
.quick_search.four_rows .col select { width:213px; }

.full_search{
    text-align: center;
    margin-top: 13px;
}

.full_search .section .fixed_col{
    width: 195px;
    float: left;
    text-align: left;
}

.full_search .section .col{
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 12px;
    width: 205px;
}

.full_search .section .fixed_col{
    margin-bottom: 12px;
}
.full_search.profile-edit .section .fixed_col{
    margin-bottom: 17px;
}
.full_search .section .fixed_col input[type="checkbox"]+label{
    font-size: 14px !important;
}
.full_search.profile-edit .section .fixed_col input[type="checkbox"]+label{
    font-size: 18px !important;
}
.full_search .section .col:last-child{
    border-right: 0;
}
.full_search .section .col label{
    color: #000000;
    font: 700 27px GalanoGrotesqueDEMO;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.full_search .section .col select{
    color: #4b4b4b;
    font: 400 18px 'Myriad Pro';
    border: 1px solid #c8c8c8;
    width: 176px;
    padding-left: 6px;
    height: 42px;
    line-height: 42px;
    outline: 0;
}
.full_search .section{
    margin-bottom: 23px;
    overflow: hidden;
    text-align: left;
    text-align: center;
}
.full_search .section.textarea{
    margin-bottom:0
}
.full_search .section.textarea .characters{
    margin: -8px 0 0;
    text-align: right;
    color: #b0b0b0;
    font: 400 14px 'Myriad Pro' !important;
}
.full_search .section.textarea .in{
    padding-top:10px;
    margin: 0;
}
.full_search .section .textarea  {
    border: 3px solid #c8c8c8;
    padding: 0;
    margin: 0;
    height: 143px;
    margin-bottom: 18px;
}
.full_search .section .textarea textarea {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    resize: none;
}
.full_search .section .h{
    
}
.full_search.profile-edit .select.section .in{
    margin: 0;
}
.full_search .section .in{
    padding-top: 18px;
    overflow: hidden;
    margin: 0px 12px 0 32px;
}

.full_search .section .h{
    color: #000000;
    font: 700 18px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    text-align: left;
    background: #f3f3f3;
    padding: 18px 50px 18px 20px;
    cursor: pointer;
    position: relative;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.full_search .section .h > span{
    background: url(../img/h_strelka.png) no-repeat 0 -12px;
    display: block;
    width: 23px;
    height: 12px;
    
    position: absolute;
    right: 14px;
    top: 24px;
}

.full_search .section.closed .h > span{
    background-position: 0px 0px;
}

.full_search .section.closed .in{
    display: none;
}   

.full_search button{
}
.full_search button > span{
    font-size: 22px;
    padding: 6px 80px;
}

.search_results{
    text-align: center;
}
.search_results .result{
    width: 307px;
    padding: 9px;
    border: 1px solid #c0c0c0;
    overflow: hidden;
    background: white;
    margin-top: 28px;
    display: inline-block;
    margin: 28px 2px 0;
    vertical-align: top;
    text-align: left;
}
.search_results .result .left{
    float: left;
    width: 137px;
    margin-right: 12px;
}
.search_results .result .left .image{
    display: block;
    border: 1px solid #c0c0c0;
    width: 135px;
}
.search_results .result .left .image img{}
.search_results .result .left .buttons{
    text-align: center;
    margin: 7px 0 0;
}
.search_results .result .left .buttons a{
    display: inline-block;
    height: 19px;
    background: url(../img/red_buttons.png) no-repeat;
    margin: 0 2px;
    padding: 0;
}
.search_results .result .left .buttons a.profile{
    width: 18px;
    background-position: 0 0;
}
.search_results .result .left .buttons a.eye{
    width: 27px;
    background-position: -31px 0px;
    margin: 0;
}
.search_results .result .left .buttons a.message{
    width: 33px;
    background-position: -70px 0px;
}
.search_results .result .left .buttons a.star{
    width: 20px;
    background:url(../img/heart.favorites.png) no-repeat;
}
.search_results .result .right{
    float: left;
    width: 158px;
    font-size: 15px;
}
.search_results .result .right h2{
    margin: 0;
    line-height: 0;
    margin-bottom: 5px;
}
.search_results .result .right h2 a{
    color: #010101;
    text-decoration: none;
    font: 700 25px 'Myriad Pro';
}
.search_results .result .right p.years{
    font: 400 15px 'Myriad Pro';
    margin: 0;
    color: #d20000;
}
.search_results .result .right p.city{
    
margin: 0;
}
.search_results .result .right ul.info{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 400 15px 'Myriad Pro';
    color: black;
    margin-top: 5px;
}
.search_results .result .right ul.info li{
    padding: 4px 0 4px 4px;
}

.search_results .result .right ul.info li:nth-child(odd){
    background: #eaeaea;
}


.pagination.bordered{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}

.pagination.bordered > span, .pagination.bordered > a{
    display: inline-block;
    height: 27px;
    color: #000000;
    font: 400 18px 'Myriad Pro';
    text-decoration: none;
    background-color: #ffffff;
    line-height: 27px;
    padding: 0px 8px;
    margin: 0 3px;
    vertical-align: top;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}
.pagination.bordered > span.active{
    background-color: #e14022;
    color: #ffffff;
    border-color: #e14022;
}



.profile .left{
    float: left;
    width: 156px;
}
.profile .left .image{
    display: block;
    border: 3px solid #c0c0c0;
    width: 150px;
    height: 150px;
}
.profile .image img{
    width: 150px;
    height: 150px;
}
.profile .buttons{
    text-align: center;
    margin: 7px 0 0;
}
.profile .left .buttons a{
    display: inline-block;
    height: 19px;
    background: url(../img/red_buttons.png) no-repeat;
    margin: 0 4px;
    padding: 0 !important;
}
.profile .left .buttons a.profile{
    width: 18px;
    background-position: 0 0;
}
.profile .left .buttons a.eye{
    width: 27px;
    background-position: -31px 0px;
    margin: 0;
}
.profile .left .buttons a.message{
    width: 33px;
    background-position: -70px 0px;
}
.profile .left .buttons a.star{
    width: 20px;
    background:url(../img/heart.favorites.png) no-repeat;
}

.profile .center{
    margin-left: 214px;
    /*margin-right: 170px;*/
}

.profile .center h1{
    margin: -7px 0 0;
    color: #d20000;
    font: 700 36px 'Myriad Pro';
    /* line-height: 0px; */
}
.profile .center p.years{
    color: #d20000;
    font: 400 15px 'Myriad Pro';
}
.profile .center p{
    color: #000000;
    font: 400 15px 'Myriad Pro';
    margin: 0px;
}
.profile .center h4{
    margin-bottom: 5px;
    color: #000000;
    font: 700 15px 'Myriad Pro';
}
table{
    width: 100%;
}
table tr:nth-child(odd){
    background-color: #eaeaea;
}
table td{
    color: #000000;
    font: 400 15px 'Myriad Pro';
    padding: 4px 14px 4px;
}
.profile .right{
    float: right;
}

.profile .right {
text-align: center;}
.simpathy {
    padding-top: 62px;
    background: url(../img/heart_big.png) no-repeat center top;
    text-align: center;
    min-width: 62px;
}
.simpathy .text {
    color: #2e2e2e;
    font: 400 18px / 21px 'Myriad Pro';
    display: block;
}
.read_msg .simpathy .text {
    font-size: 13px
}
.read_msg .simpathy .percent {
    font-size: 25px;
    line-height: 17px;
}
.simpathy .percent {
    color: #2e2e2e;
    font: 700 34px / 32px 'Myriad Pro';
    display: block;
}
.profile .right .vote {
min-width: 120px;}
.profile .right .vote p{
    color: #000000;
    font: 400 18px 'Myriad Pro';
    font-style: italic;
    text-align: center;
    margin-bottom: 8px;
}
.profile .right .vote .stars {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.profile .right .vote .stars li {
    display: inline-block;
    vertical-align: top;
    background: url(../img/stars.png) no-repeat 0 0;
    width: 17px;
    height: 15px;
}
.profile .right .vote .stars li.active, .profile .right .vote .stars li:hover {
        background-position: 0 -15px;
}

.profile .decsription{
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.profile .decsription p{
    color: #000000;
    font: 400 18px 'Myriad Pro';
    margin: 0;
    padding: 0px 0 10px;
    font-style: italic;
}

.profile .photos {
width: 250px;float: left;}
.profile .photos .block {
text-align: center;}
.profile .photos p {
    color: #d20000;
    font: 400 18px 'Myriad Pro';
}
.profile .photos p img {
}
.profile .photos a {
display: inline-block;border: 3px solid #e5e5e5;margin-bottom: 15px;}
.profile .photos a img {
}

.profile .other_info {
    margin-left: 270px;
}
.profile .other_info .block {
    background-color: #f3f3f3;
    padding: 19px 10px 24px 33px;
    display: inline-block;
    width: 262px;
    margin-right: 16px;
    margin-bottom: 16px;
    vertical-align: top;
}
.profile .other_info .block img {
    float: left;
}
.profile .other_info .block p {
    display: block;
    margin: 0;
    margin-left: 66px;
}
.profile .other_info .block p .big {
    display: block;
    color: #d20000;
    font: 700 18px GalanoGrotesqueDEMO;
    text-transform: uppercase;
}
.profile .other_info .block p .small {
    color: #3c3c3c;
    font: 400 15px 'Myriad Pro';
    display: block;
}

.visitors-list {
text-align: center;}
.visitors-list .one {
    border: 1px solid #c0c0c0;
    width: 155px;
    background: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 39px;
    margin-top: 20px;
    vertical-align: top;
    /*display: inline-block;*/
    float:left;
    margin: 20px 4px 0;
}
.visitors-list .one .days {
    color: #878787;
    font: 400 15px 'Myriad Pro';
    border-bottom: 1px solid #c0c0c0;
    display: block;
    line-height: 19px;
}
.visitors-list .one .image {
    display: block;
}
.visitors-list .one img {
    width: 100%;
}
.visitors-list .one .info {
position: absolute;background: rgba(255,255,255,0.86);width: 147px;bottom: 39px;padding: 0 4px 2px;}
.visitors-list .one .name {
margin: 0;text-align: left;padding: 0;line-height: 0;padding-top: 4px;}
.visitors-list .one .name a {
color: #010101;font: 700 18px 'Myriad Pro';text-decoration: none;margin: 0;}
.visitors-list .one .name .add {
background: url(../img/add.png) no-repeat;display: block;width: 19px;height: 19px;float: right;}
.visitors-list .one .years {
font: 400 15px 'Myriad Pro';display: block;float: left;}
.visitors-list .one .city {
font: 400 15px 'Myriad Pro';display: block;      float: right;}
.visitors-list .one .contact {
background: url(../img/contact.png) no-repeat;position: absolute;width: 157px;/* padding-bottom: 39px; */height: 39px;left: -1px;bottom: 0;}
.visitors-list .subscribe{
clear: both;margin: 20px 0 10px;}
.visitors-list .subscribe span{
    padding: 5px 32px;
    color: #ffffff;
    font: 700 38px GalanoGrotesqueDEMO;
}

h2.red{
    font: 700 21px 'Myriad Pro';
    text-transform: uppercase;
    background: #d20000;
    color:white;
    padding: 18px 50px 18px 20px;
    cursor: pointer;
    position: relative;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2.gray{
    font: 700 21px 'Myriad Pro';
    font: 700 18px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    background: #F3F3F3;
    color: #222222;
    padding: 18px 50px 18px 20px;
    cursor: pointer;
    position: relative;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.single_page{
    margin: 20px auto 50px;
}

.single_page .content{
    background: #f2f2f2;
    font: 400 18px 'Myriad Pro';
    padding: 20px 20px 5px;
}

.single_page .content p{
    margin-top:0;
}

.upload{
    overflow: hidden;
    margin: 20px 36px 20px 0;
}
.upload .image{
    float: left;
    border: 3px solid #b7b7b7;
    position:relative;
    margin-right: 40px;
    margin-bottom:40px;
    width: 141px;
    height: 141px;
}
.upload .image img{ height:141px; width:141px; }
.upload .chooser{
    margin-left: 200px;
    padding-top: 29px;
}
.upload .chooser input[type="checkbox"]+label{
    margin: 11px 10px 10px 0;
}
.upload .chooser a{
    color:#df2f10;
    display: inline-block;
}

.upload .chooser .green_btn{}
.upload .chooser .green_btn > span{
    padding: 6px 75px;
    font-size: 22px;
}

.upload .chooser input[type="password"]{
    border: 1px solid #a0a0a0;
    width: 190px;
    padding-left: 7px;
    outline: 0;
    height: 37px;
    line-height: 37px;
    margin-right: 8px;
    margin-top: 10px;
}

.upload .chooser .upload_input {
    cursor: pointer;
    padding: 0;
    background: url(../img/upload.png) no-repeat;
    height: 44px;
    display: block;
    padding-left: 226px;
    line-height: 44px;
    color: #4b4b4b;
    font-size: 18px;
}
.upload .chooser .upload_input input {
    left: -9999px; 
    position: absolute;
}

.nude_photos{
    text-align: center;
    margin: 20px 36px 20px 50px;
}

.nude_photos .big{
    font: 700 30px 'Myriad Pro';
    color: #4b4b4b;
    margin: 0;
    margin-top: 14px;
    text-align: left;
}
.nude_photos .small{
    font: 400 14px 'Myriad Pro';
    color: #4b4b4b;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}

.nude_photos .green_btn{
    margin-top: 14px;
}
.nude_photos .green_btn > span{
    font-size: 22px;
    padding: 6px 24px;
}

.message_list{
    padding: 0 0 20px !important;
}
.message_list .redmsg{
    font: 700 18px 'Myriad Pro';
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: #d20000;
    padding: 10px 0;
}
.message{
    border-bottom: 2px solid #f3f3f3;
    padding: 0 24px;
    overflow: hidden;
}
.message.red{
    background: #ffe8e5 url(../img/strelka.png) no-repeat 33px center;
    padding-left: 71px;
}
.message.white{
    background: white;
    padding-left: 71px;
}
.message.last{
    border-bottom: 0;
}
.message .check{
    float: left;
    margin: 54px 0 0;
}
.message .image{
    display: block;
    float: left;
    margin-left: 13px;
    width: 92px;
    height: 92px;
    margin-top: 20px;
}
.message .image a{}
.message .content{
    margin-left: 161px;
}
.message .content p{
    color: #4b4b4b;
    font: 400 18px 'Myriad Pro';
}
.message .content p span{
   margin-right:25px;
}

.message_compose .image{
    display: block;
    float: left;
    margin-left: 13px;
    width: 92px;
    height: 92px;
}

.reply-form {
    margin-left: 137px;
}
.reply-form p {
    margin: 0;
    font: 700 18px 'Myriad Pro';
    margin-bottom: 10px;
    margin-top: -3px;
}
.reply-form .textarea  {
    border: 3px solid #d1d1d1;
    padding: 0;
    margin: 0;
    height: 143px;
    margin-bottom: 18px;
}
.reply-form .textarea textarea {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    resize: none;
}
.reply-form .attachment {
    background: url(../img/add_attachment.png) no-repeat;
    width: 173px;
    height: 44px;
    border: 0;
    outline: 0;
}
.reply-form .green_btn {
    float: right;
}
.reply-form .green_btn > span {
    font-size: 22px;
    padding: 5px 28px;
}

.read_msg{}
.read_msg .author{}
.read_msg .author .image{
    float: left;
    width: 92px;
    display: block;
    height: 92px;
}
.read_msg .author .simpathy{
    float: right;
    width: 80px;
}
.read_msg .author .info{
    margin-left: 115px;
    margin-right: 100px;
}
.read_msg .author .info p{
    margin: 0;
    font: 700 30px 'Myriad Pro';
    color: #b5b5b5;
    margin-bottom: 6px;
}
.read_msg .author .info p strong{
    color: #cf1616;
}
.read_msg .author .info table{
    width: auto;
}

.read_msg .msg_content{
    background: #E2E2E2;
    position: relative;
    margin-top: 31px;
    padding: 30px 25px 10px;
    font: 16px 'Myriad Pro';
}
.read_msg .msg_content:before{
    background: url(../img/msgcorner.png) no-repeat;
    display: block;
    content: '';
    width: 37px;
    height: 31px;
    position: absolute;
    top: -31px;
    left: 28px;
}
.message_info{
    background: #f3f3f3;
    padding: 30px;
    border-bottom: 5px solid #e2e2e2;
}

.read_msg > .reply-form{
    margin: 60px 0 0;
}

.special_offer{
    margin-bottom: 30px;
    text-align: center;
    background: url(../img/signup_now_bg.png);
    background-size: cover;
}
.special_offer.dashboard{
    background: url(../img/special_offer.png);
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;
}
.special_offer.dashboard a{
    margin: 121px 0;
    width: auto;
    display: inline-block;
    padding: 0;
    max-width: 620px;
    width: 100%;
}
.special_offer.dashboard a > span{
    
}
.special_offer a{
    margin: 192px 0;
}
.special_offer a > span{
    font-size: 28px;
    padding: 8px 0;
    box-sizing: border-box;
    width: 100%;
}

.quick_search.red{
    background: url(../img/redbg.png);
    padding: 12px 20px 20px 50px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.quick_search.red > *{
    z-index:2;
    position:relative;
}
.quick_search.red > .bg{
    
background: url(../img/redsearch.png) no-repeat;
    
width: 141px;
    
height: 141px;
    
position: absolute;
    
z-index: 1;
    
top: 26px;
    
left: 20px;
}
.quick_search.red h2{
    text-align: left;
    margin: 0;
    text-shadow: 0px 1px 0px #881100;
    font: 700 38px GalanoGrotesqueDEMO;
    color: white;
    text-transform: uppercase;
}

.quick_search.red .col label{
    text-shadow: 0px 1px 0px #881100;
    font: 700 27px GalanoGrotesqueDEMO;
    color: white;
    margin-bottom: 6px;
}
.quick_search.red .col select{
    border-color: white;
}

.quick_search.red button{
vertical-align: middle;margin-top: -2px;width: 156px;}
.quick_search.red button > span{
    font-size: 22px;
    padding: 5px 0px;
    box-sizing: border-box;
    width: 100%;
}
.quick_result{
    margin: 0;
    padding: 0;
    background: white;
    padding-top: 58px;
    padding-bottom: 28px;
    position: relative;
    padding-left: 35px;
    padding-right: 30px;
}
.quick_result ul{
    margin: 0;
    padding: 0;
}
.quick_result li{}
.quick_result li a{
    height: 200px;
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
}
.quick_result li a img{
    width: 150px;
    height: 150px;
}
.quick_result li a .bottom{
    background: #f8e7d9;
    min-height: 40px;
    position: absolute;
    bottom: 0;
    font: 400 17px 'Myriad Pro';
    padding: 5px 10px;
    width:130px;
}
.quick_result li a .name{
    font-weight: 700;
}
.quick_result li a .years{
color: #d20000;}
.quick_result li a .city{
    color: #b3b3b3;
}

.quick_result .bx-pager{
    bottom: auto !important;
    top: -38px;
    padding-top: 0 !important;
}

.quick_result > a{
    color: #d20000;
    font: 400 17px 'Myriad Pro';
    position: absolute;
    right: 0;
    top: 18px;
    right: 18px;
    z-index: 2;
}

.new_peoples{
    margin-bottom: 20px;
    text-align: center;
}
.new_peoples.dashboard .one{
    margin-right: 9.5px;
    margin-left: 0;
}

.new_peoples h2{
    font: 700 28px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    margin: 12px 0;
    text-align: left;
}

.new_peoples .one {
    border: 1px solid #c0c0c0;
    width: 165px;
    background: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 39px;
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 4px 20px;
}
.new_peoples .one .days {
    color: #878787;
    font: 400 15px 'Myriad Pro';
    border-bottom: 1px solid #c0c0c0;
    display: block;
    line-height: 19px;
}
.new_peoples .one .image {
    display: block;
}
.new_peoples .one img {
    width: 100%;
}
.new_peoples .one .info{
    width:157px !important
}
.new_peoples .one .contact{
    width: 166px !important;
    background-size: 100% 100% !important;
}
.new_peoples .one .info {
position: absolute;background: rgba(255,255,255,0.86);width: 147px;bottom: 39px;padding: 0 4px 2px;}
.new_peoples .one .name {
margin: 0;text-align: left;padding: 0;line-height: 0;padding-top: 4px;}
.new_peoples .one .name a {
color: #010101;font: 700 18px 'Myriad Pro';text-decoration: none;margin: 0;}
.new_peoples .one .name .add {
background: url(../img/add.png) no-repeat;display: block;width: 19px;height: 19px;float: right;}
.new_peoples .one .years {
font: 400 15px 'Myriad Pro';display: block;float: left;}
.new_peoples .one .city {
font: 400 15px 'Myriad Pro';display: block;      float: right;}
.new_peoples .one .contact {
background: url(../img/contact.png) no-repeat;position: absolute;width: 157px;/* padding-bottom: 39px; */height: 39px;left: -1px;bottom: 0;}
.new_peoples .green_btn{}
.new_peoples .green_btn > span{
    font-size: 38px;
    padding: 6px 30px;
}

h2.red2{
    font: 700 21px 'Myriad Pro';
    font: 700 26px GalanoGrotesqueDEMO;
    text-transform: uppercase;
    background: #d20000;
    color:white;
    padding: 12px 50px 12px 20px;
    position: relative;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 1px 0px #881100;
    text-align: left;
}
.my_histoty{
    background: white;
    margin-top: 23px;
}
.my_histoty .list{
    padding: 23px 20px;
}
.my_histoty .list .holder{
    max-height: 257px;
    overflow: auto;
}
.my_histoty .list .one{
    overflow: hidden;
    background: #f3f3f3;
    padding: 1px;
    margin-bottom: 16px;
}
.my_histoty .list .one .image{
    width: 73px;
    height: 73px;
    display: block;
    float: left;
}
.my_histoty .list .one .image img{
    width: 73px;
    height: 73px;
}

.my_histoty .list .one .info{
    margin-left: 93px;
    padding-top: 12px;
    margin-right: 100px;
}
.my_histoty .list .one .info p{
    margin: 0;
    font: 18px 'Myriad Pro';
    margin-bottom: 5px;
}

.my_histoty .list .one .buttons{
    float: right;
    display: block;
    margin-top: 25px;
    margin-right: 15px;
}
.my_histoty .list .one .buttons a.send{
    background: url(../img/gray_buttons.png) no-repeat;
    display: inline-block;
    width: 45px;
    height: 19px;
    margin: 0 6px;
}
.my_histoty .list .one .buttons a.star{
    background: url(../img/gray_buttons.png) no-repeat -53px 0px;
    display: inline-block;
    width: 18px;
    height: 19px;
}

.latest_ads {
margin-top: 26px;margin-bottom: 26px;background: white;text-align: center;padding-bottom: 33px;}
.latest_ads a.more{
    position: absolute;
    right: 0;
    bottom: 12px;
    color: #d20000;
    text-transform: uppercase;
    font: 700 18px 'Myriad Pro';
}
.latest_ads .green_btn{}
.latest_ads .green_btn > span{
    font-size: 22px;
    padding: 4px 32px;
}
.latest_ads .list {
    background: white;
    padding: 33px 0 0;
    text-align: center;
    margin: 0 20px;
    position: relative;
}
.latest_ads .list .one {
    background: #f3f3f3;
    width: 271px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
    font: 18px 'Myriad Pro';
    overflow: hidden;
    display: inline-block;
    margin: 0 12px 24px;
    vertical-align: top;
    text-align: left;
}
.latest_ads .list .one p{
    margin:0;
}
.latest_ads .list .one .city {
    color: #000000;
    font-style: italic;
}
.latest_ads .list .one .title {
color: #d20000;font-weight: bold;}
.latest_ads .list .one .text {
font-size: 16px;color: black;margin: 15px 0;}
.latest_ads .list .one .full {
font: 700 15px 'Myriad Pro';color: #d20000;display: block;float: right;}

.signup_now{
    background: url(../img/signup_now_bg.png) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 28px;
}
.signup_now .slogan{
    color: #ffffff;
    font: 700 63px GalanoGrotesqueDEMO;
    margin: 0;
    line-height: 47px;
    text-transform: uppercase;
    position: absolute;
    bottom: 41px;
    left: 54px;
}
.signup_now .slogan strong{
    color: #f8c963;
}
.signup_now .signup_form{
    float: right;
    background-color: #ffffff;
    box-shadow: 2px 4px 29px 0.00px rgba(0, 0, 0, 0.75);
    margin-top: 38px;
    margin-right: 38px;
    margin-bottom: 42px;
    padding-bottom: 10px;
}

.signup_now .signup_form p.title{
    text-align:center;
    color: #e95412;
    font: 700 32px 'Myriad Pro';
    margin: 10px 0px;
}

.signup_now .signup_form .line {
    height: 36px;
    margin: 0 0 6px;
    overflow: hidden;
    padding-right: 15px;
}
.signup_now .signup_form  .notice{
    color: #858585;
    font: 400 12px 'Myriad Pro';
    text-align: center;
    padding: 0;
    width: 235px;
    display: block;
    margin: auto;
}
.signup_now .signup_form  label {
    width: 106px;
    float: left;
    text-align: right;
    margin-right: 18px;
    height: 36px;
    color: #000000;
    font: 400 16px 'Myriad Pro';
    line-height: 36px;
}
.signup_now .signup_form  select{
    width: 253px;
    height: 36px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
}
.signup_now .signup_form input{
    width: 243px;
    height: 32px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
    float:left;
}
.signup_now .signup_form  button[type="submit"] {
    border: 0;
    background: 0;
    outline: 0;
    height: 39px;
    width: 255px;
    background: #04af67;
    padding: 1px;
    margin: auto;
    display: block;
}
.signup_now .signup_form .submit{
    margin: 9px 0 6px;
}

.signup_now .signup_form  button[type="submit"] span{
    background:  -webkit-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:  -moz-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:  -ms-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background: linear-gradient(0deg, #04af67 0%, #0cce7c 100%);
    color: #ffffff;
    font: 700 22px GalanoGrotesqueDEMO;
    text-shadow: 0px 1px 1px rgba(0, 123, 23, 0.75);
    line-height: 37px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #18ff00;
    width: 251px;
    height: 35px;
}

.signup_now .signup_form button[type="submit"]:hover > span{
    background: -moz-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: -ms-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: linear-gradient(0deg, #07BE71 0%, #0EE188 100%);
}

.signup_now .signup_form #birth_d, .signup_now .signup_form #birth_m, .signup_now .signup_form #birth_y {
    width: 81.6px;
}

.city_info{
    margin: 14px 0;
}
.city_info .content{
    padding: 33px;
    background: white;
    overflow: hidden;
}
.city_info .content .images{
    width: 303px;
    float: right;
}
.city_info .content .images a{
    display: block;
    margin-bottom: 26px;
}
.city_info .content .images a img{}
.city_info .content .description{
    color: #000000;
    font: 400 16px 'Myriad Pro';
    margin-right: 345px;
}
.city_info .content .description p{
    margin-top:0;
}

.city_info .content .description h4{
    font-size:24px;
    margin:15px 0;
}

.quick_search.black{
    margin-bottom: 20px;
}
.quick_search.black input[type="checkbox"]+label{
    font-size: 14px !important;
}
.quick_search.black .green_btn{
    vertical-align: middle;
    width: 173px;
}
.quick_search.black .green_btn > span{
    font-size: 22px;
    padding: 5px 0px;
    width: 100%;
    box-sizing: border-box;
}   

.personals_list{
    margin-top: 10px;
}
.personals_list .one{
    padding: 20px 28px 17px;
    overflow: hidden;
    background: #ffeeeb;
    border-bottom: 5px solid #e2e2e2;
    margin-bottom: 7px;
}
.personals_list .one .image{
    display: block;
    width: 94px;
    height: 94px;
    border: 3px solid #b7b7b7;
    float: left;
}
.personals_list .one .image img{
    width: 94px;
    height: 94px;
}
.personals_list .one .simpathy{
    float: right;
}

.personals_list .one .edit_links {
    float: right;
    text-align: center;
}
.personals_list .one .edit_links a{
    background: url(../img/edit_links.png) no-repeat 0 0;
    display: inline-block;
    margin: 0 3px;
}
.personals_list .one .edit_links .edit {
width: 33px;height: 33px;}
.personals_list .one .edit_links .delete {
width: 31px;      height: 33px;background-position: -46px 0px;}

.personals_list .one .content{
    margin-left: 123px;
    margin-right: 120px;
}
.personals_list .one .content p{
    margin: 0;
}
.personals_list .one .content .name{
    color: #b5b5b5;
    font: 700 23px 'Myriad Pro';
}

.personals_list .one .content .date{
    color: #d53a3a;
    font: 700 14px 'Myriad Pro';
    margin-top: 5px;
}
.personals_list .one .content .status{
    color: #b5b5b5;
    font: 700 30px 'Myriad Pro';
}
.personals_list .one .content .status strong{
color: #d53a3a;}
.personals_list .one .content .name strong{
    color: #cf1616;
}
.personals_list .one .content .status{
    font: 700 14px 'Myriad Pro';
    color: #888888;
    margin-top: 6px;
}
.personals_list .one .content .text{
    color: #4b4b4b;
    font: 400 18px 'Myriad Pro';
    margin-top: 8px;
}

.personals_list .one .simpathy .text{
    font-size: 14px;
    
}
.personals_list .one .simpathy .percent{
    font-size: 25px;
    line-height: 18px;
}

.personal-form{}

.personal-form .image{
    display: block;
    width: 92px;
    height: 92px;
    float: left;
}
.personal-form .image img{
    width: 92px;
    height: 92px;
}

.personal-form .simpathy {
    float: right;
}

.personal-form .simpathy .text{
    font-size: 14px;
    
}
.personal-form .simpathy .percent{
    font-size: 25px;
    line-height: 18px;
}


.personal-form form{
    margin-left: 114px;
    margin-right: 100px;
    position: relative;
    margin-bottom: 28px;
}

.personal-form form p{
    margin: 0;
}

.personal-form form .name{
    color: #b5b5b5;
    font: 700 30px 'Myriad Pro';
}
.personal-form form .name strong{
    color: #cf1616;
}
.personal-form form .status{
    font: 400 14px 'Myriad Pro';
    color: #c0c0c0;
}
.personal-form form .input{
    
}
.personal-form form input[type="text"]{
    border: 1px solid #c8c8c8;
    outline: 0;
    height: 36px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    width: calc(100% - 12px);
}

.personal-form form .textarea  {
    border: 1px solid #c8c8c8;
    padding: 0;
    margin: 0;
    height: 81px;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-top: 10px;
}
.personal-form form .textarea textarea {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    resize: none;
}

.personal-form form .notice{
font: 400 14px 'Myriad Pro';color: #525252;line-height: 22px;float: left;}
.personal-form form .notice strong{}
.personal-form form .green_btn{
    display: block;
    margin: auto;
}
.personal-form form .green_btn > span{
    font-size: 22px;
    padding: 5px 25px;
}
.membership{
    background: #f3f3f3;   
}
.membership .wrapper{
    /* width:1300px; */
}
.membership > header{
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    /* min-width: 1300px !important; */
    text-align:left !important;
}
.membership > footer{/* min-width:1300px !important; */}
.membership > header .wrapper > *{
    float:left !important;
}
.membership > header .wrapper .logo{
    margin-right: 25px;
}
.membership > header .wrapper p{
    color: #646464;
    font: 700 24px GalanoGrotesqueDEMO;
    margin: 0;
    margin-top: 22px;
    text-transform: uppercase;
}
.membership > header > p{
    color: #1f1f1f;
    font: 400 15px 'Myriad Pro';
    margin: 0;
    top: 8px;
    position: absolute;
    right: 20px;
}
.membership > header > p > a{
    color: #d20000;
}
.tarrifs{
    background: white;
    padding: 0;
}
.tarrifs .steps{
    color: #ffffff;
    font: 400 23px 'Myriad Pro';
    overflow: hidden;
}
.tarrifs .steps .step1{
    background: #363636;
    height: 74px;
    line-height: 74px;
    padding-left: 20px;
    width: 302px;
    float: left;
}
.tarrifs .steps .step2{
    background: url(../img/step2.png) no-repeat;
    height: 74px;
    line-height: 74px;
    padding-left: 40px;
    float: left;
    width: 426px;
}
.tarrifs .steps .step3{
    background: #191919;
    height: 74px;
    line-height: 74px;
    padding-left: 20px;
    width: 242px;
    float: left;
}
.tarrifs .steps .step4{
    height: 74px;
    background: #d20000 url(../img/smilebad.png) no-repeat 7px center;
    float: left;
    width: 195px;
    padding-left: 55px;
}
.tarrifs .steps .step4.membership{
    background: #28b96f url(../img/smilegood.png) no-repeat 7px center;
}
.tarrifs .steps .step4 .small{
    color: #ffffff;
    font: 400 18px 'Myriad Pro';
    display: block;
    margin-top: 15px;
}
.tarrifs .steps .step4 .big{
    color: #ffffff;
    font: 700 18px 'Myriad Pro';
    display: block;
    text-transform: uppercase;
}
.benefits {
text-align: center;background: #ededed;height: 130px;overflow: hidden;}
.benefits .one {
    display: inline-block;
    vertical-align: middle;
    color: #191919;
    font: 400 15px 'Myriad Pro';
    margin: 0px 22px;
    text-align: left;
}
.benefits .one.item1{
    background: url(../img/benefit1.png) no-repeat left center;
    width: 92px;
    padding: 34px 0px;
    padding-left: 96px;
    margin-left: 18px;
}
.benefits .one.item2{
    background: url(../img/benefit2.png) no-repeat left center;
    width: 136px;
    padding: 34px 0px;
    padding-left: 131px;
    text-align: left;
}
.benefits .one.item3{
    background: url(../img/benefit3.png) no-repeat left center;
    width: 109px;
    padding: 34px 0px;
    padding-left: 98px;
}
.benefits .one.item4{
    background: url(../img/benefit4.png) no-repeat left center;
    width: 115px;
    padding: 34px 0px;
    padding-left: 98px;
}
.benefits .one.item5{
    background: url(../img/benefit5.png) no-repeat left center;
    width: 87px;
    padding: 34px 0px;
    padding-left: 101px;
}

.plans{
    padding: 0 60px 47px;
    margin-bottom: 40px;
}

.plans div.small {
    margin-top: 83px;
    max-width: 297px;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    float: left;

    background-color: #fff5e5;
    border: 10px solid #ffecc0;
}
.plans div.small.firstplan {
    background-color: #f6f6f6;
    border: 10px solid #e8e8e8;
}
.plans div.small .period {
    color: #555555;
    font: 400 15px 'Myriad Pro';
    text-transform: uppercase;
    margin: 0;
}
.plans .small .price {
position: relative;margin-bottom: 7px;}
.plans .small .price .big {
    color: #000000;
    font: 700 62px 'Myriad Pro';
}
.plans .small .price .small {
color: #000000;      font: 700 31px 'Myriad Pro';position: absolute;top: 10px;}
.plans .small .price .month {
    color: #7b7b7b;
    font: 400 18px 'Myriad Pro';
}
.plans .small .select {
}
.plans .small .select span {
}

.silver_btn {
    border: 0;
    background: 0;
    outline: 0;
    background: #c3c3c3;
    padding: 1px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    /* width: 95px; */
}
.silver_btn > span{
    background: -webkit-linear-gradient(90deg, #dfdfdf 0%, #ededed 100%);
    background: -moz-linear-gradient(90deg, #dfdfdf 0%, #ededed 100%);
    background: -o-linear-gradient(90deg, #dfdfdf 0%, #ededed 100%);
    background: -ms-linear-gradient(90deg, #dfdfdf 0%, #ededed 100%);
    background: linear-gradient(0deg, #dfdfdf 0%, #ededed 100%);
    color: #8c8c8c;
    font: 400 18px 'Myriad Pro';
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 9px 42px;
}

.plans div.big {
    margin-top: 83px;
    background-color: #363636;
    width: 441px;
    border: 20px solid #4a4a4a;
    text-align: center;
    padding: 0;
    float: left;
    margin: 28px 32px 57px;
    padding-bottom: 20px;
    box-shadow: 0px 6px 27px 0.00px rgba(0, 0, 0, 0.34);
}
.plans div.big .period {
    color: #ffffff;
    font: 400 24px 'Myriad Pro';
    margin: 15px 0 -15px;
}
.plans .big .price {
position: relative;text-align: center;}
.plans .big .price .big {
    color: white;
    font: 700 161px 'Myriad Pro';
    letter-spacing: -10px;
    margin-right: 6px;
}
.plans .big .price .small {
color: white;      font: 700 80px 'Myriad Pro';position: absolute;top: 24px;}
.plans .big .price .month {
    color: #ff9c31;
    font: 400 50px 'Myriad Pro';
    margin-left: 8px;
    position: relative;
    top: -2px;
}
.plans .big .green_btn span {
    color: #ffffff;
    font: 700 22px GalanoGrotesqueDEMO;
    padding: 6px 30px;
}

.plans .big .save{
    margin: 0;
    background-color: #d20000;
    color: #ffffff;
    font: 700 37px 'Myriad Pro';
    text-transform: uppercase;
    height: 62px;
    line-height: 62px;
    position: relative;
}
.plans .big .save:after{
    display: block;
    position: absolute;
    background: url(../img/badgil.png) no-repeat;
    content: '';
    width: 63px;
    height: 78px;
    position: absolute;
    top: 0;
    right: 20px;
}
.plans .big ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    width: 310px;
    margin: auto;
}
.plans .big ul li{
    color: #ffffff;
    font: 400 24px / 37px 'Myriad Pro';
    background: url(../img/fireli.png) no-repeat left 7px;
    padding-left: 24px;
}

.plans div.trial {
    margin-top: 83px;
    max-width: 463px;
    background-color: #f6f6f6;
    border: 10px solid #e8e8e8;
    text-align: left;
    padding: 0;
    margin: auto;
    overflow: hidden;
    line-height: x;
}

.plans div.trial .period {
    color: #555555;
    font: 400 15px 'Myriad Pro';
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    width: 176px;
    line-height: 80px;
    text-align: center;
}

.plans .trial .price {
    position: relative;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

body.mac.chrome .plans .trial .price .big {
    line-height: 90px;
}

body.mac.chrome #header_menu ul li a span.count{
    line-height: 24px;
}

body.mac.chrome .plans .big .save{
    line-height: 68px;
}

body.mac.chrome #signup_orange a{
    line-height:86px
}
.plans .trial .price .big {
    color: #000000;
    font: 700 62px 'Myriad Pro';
    line-height: 80px;
}
.plans .trial .price .month {
    color: #7b7b7b;
    font: 400 18px 'Myriad Pro';
    line-height: 80px;
    position: relative;
    top: -15px;
    left: 10px;
}
.plans .trial .select {
margin-left: 20px;}
.plans .trial .select span {
padding: 9px 24px;
font: 400 16px 'Myriad Pro';
}

.plans .methods{
    text-align:  center;
    margin: 60px 0 30px;
}

.plans .desc{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    max-width: 748px;
    margin: 0 auto;
}

.plans .more_info{}
.plans .more_info h4{
    color: #d20000;
    font: 700 18px 'Myriad Pro';
    text-transform: uppercase;
}
.plans .more_info p{
    color: #626262;
    font: 400 18px 'Myriad Pro';
}
.plans .more_info .compare{}
.plans .more_info .compare .line{
    border-bottom: 2px solid #dcdcdc;
    position: relative;
	padding-right:305px;
}
.plans .more_info .compare .line .title{
    color: #2d2d2d;
    font: 700 16px / 48px 'Myriad Pro';
    display: block;
}
.plans .more_info .compare .line .subtitle{
    display: block;
    color: #2d2d2d;
    font: 400 16px 'Myriad Pro';
    margin-top: -10px;
    margin-bottom: 10px;
}
.plans .more_info .compare .line .premium{
    position: absolute;
    width: 149px;
    text-align: center;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #e1e1e1;
    background: #e1e1e1 url(../img/not_checked.png) no-repeat center;
}
.plans .more_info .compare .line .free{
    position: absolute;
    width: 149px;
    text-align: center;
    height: 100%;
    right: 156px;
    top: 0;
    background: #e1e1e1 url(../img/not_checked.png) no-repeat center;
}
.plans .more_info .compare .line .premium.head{
    background-color: #ffd800;
    color: #2d2d2d;
    font: 700 16px / 48px 'Myriad Pro';
    background-image: none;
}
.plans .more_info .compare .line .free.head{
    color: #ffffff;
    font: 700 16px / 48px 'Myriad Pro';
    background-color: #a25915;
    background-image: none;
}
.plans .more_info .compare .line .free.checked,
.plans .more_info .compare .line .premium.checked{
    background-image: url(../img/checked.png);
}

.green_btn:hover > span{
    background: -moz-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: -ms-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: linear-gradient(0deg, #07BE71 0%, #0EE188 100%);
}

.payment{
    padding: 0 40px;
}
.payment .secure{
    /* text-align: center; */
}
.payment .sub_info{
    overflow: hidden;
    margin-bottom: 90px;
    text-align: center;
}
.payment .sub_info .left{
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.payment .sub_info .left h2{
    color: #000000;
    font: 400 34px 'Myriad Pro';
    margin: 0;
}
.payment .sub_info .left p{
    color: #000000;
    font: 400 18px 'Myriad Pro';
    margin: 0 0 18px;
}
.payment .sub_info .left ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    font: 400 18px / 31px 'Myriad Pro';
}
.payment .sub_info .left li{
    background: url(../img/Layer-8.png) no-repeat left center;
    padding-left: 21px;
    text-align: left;
}
.payment .sub_info .right{
    max-width: 648px;
    padding: 33px;
    width: 100%;
    background: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.payment .sub_info .right table{}
.payment .sub_info .right tr{
    background: none;
}
.payment .sub_info .right td{
    color: #585858;
    font: 400 18px / 36px 'Myriad Pro';
}
.payment .sub_info .right td span{
    color: #585858;
    font: 400 14px 'Myriad Pro';
    display: block;
    line-height: 0;
}

.pay_tabs{
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pay_tabs li{
    float:left;
    color: #585858;
    font: 700 24px / 36px 'Myriad Pro';
    padding: 12px 11px;
    cursor:pointer;
}
.pay_tabs li.active{
    background: #f7f7f7;
}

.pay_content{
    background: #f7f7f7;
    margin: 0;
    overflow: hidden;
    padding: 20px 50px;
    margin-bottom: 36px;
}
.pay_content > div{
    display: none;
}
.pay_content > .methods{
    display: block;
    float: right;
}
.pay_content > div.active{
    display: block;
}

.pay_content form{
    
}
.pay_content form > p{
    margin: 0;
    overflow: hidden;
    line-height: 44px;
    margin-bottom: 3px;
    /* height: 44px; */
}

.pay_content form label{
    color: #585858;
    font: 400 18px 'Myriad Pro';
    width: 135px;
    display: block;
    float: left;
    line-height: 44px;
}
.pay_content form input{
    height: 39px;
    border: 1px solid #c8c8c8;
    line-height: 39px;
    outline: 0;
    padding-left: 7px;
    width: 169px;
    font: 400 15px 'Myriad Pro';
}
.pay_content form input#cvv{
    width: 75px;
}
.pay_content form select{
    height: 43px;
    border: 1px solid #c8c8c8;
    line-height: 43px;
    outline: 0;
    width: 100px;
    padding-left: 7px;
    font: 400 15px 'Myriad Pro';
}
.pay_content form a.help{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../img/info.png) no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.pay_content form > p.notice{
    color: #585858;
    font: 400 14px  'Myriad Pro';
    height: auto;
    margin: 20px 0 12px;
}
.pay_content form span.zamok{
    display: inline-block;
    background: url(../img/zamok.png) no-repeat;
    width: 21px;
    height: 29px;
    margin: 9px 0 0 48px;
}
.pay_content form .green_btn{}
.pay_content form .green_btn > span{
    font-size:22px;
    padding: 8px 35px;
}

.membership footer .menu{
    float: left !important;
    text-align: left!important;
}
.membership footer .copyright{
    float:right !important;
}

#notifications{
    width: 338px;
    position: fixed;
    bottom: 0;
    right:10px;
    background: white;
    z-index: 10;
}
#notifications > .title{
    font: 700 18px GalanoGrotesqueDEMO;
    height: 43px;
    line-height: 43px;
    padding-left: 14px;
    background: #d20000;
    color: white;
    text-transform: uppercase;
}
#notifications > .title > span{
    background: #d20000 url(../img/chat_head.png) no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    display: block;
    margin: 11px 12px 0 0;
    cursor: pointer;
}
#notifications .one{
    padding: 16px 18px 37px 16px;
    overflow: hidden;
    position: relative;
}
#notifications .one .left{
    float: left;
    width: 99px;
}
#notifications .one .left .image{}
#notifications .one .left .image img{
    width: 99px;
    height: 99px;
}
#notifications .one .left .actions{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    text-align: center;
    margin: 9px 0 0;
}
#notifications .one .left .actions a{
    color: inherit;
}
#notifications .one .right{
margin-left: 110px;text-align: center;}
#notifications .one .right .title{
    margin: 0;
    font: 700 18px GalanoGrotesqueDEMO;
    text-align: left;
}
#notifications .one .right .title span{
    color: #909090;
    font: 400 14px 'Myriad Pro';
}
#notifications .one .right .text{
    font: 400 14px 'Myriad Pro';
    background: #f3f3f3;
    padding: 9px;
    text-align: center;
    margin: 7px 0px;
}
#notifications .one .price{
    font: 400 14px 'Myriad Pro';
    text-align: center;
    margin: 0;
    position: absolute;
    height: 21px;
    line-height: 21px;
    bottom: 0;
    width: 100%;
    background: #e9e9e9;
    left: 0;
}
#notifications .one .green_btn{
}
#notifications .one .green_btn > span{
    font-size: 17px;
    padding: 4px 10px;
}   

#shadow{
  background:black;
  opacity: 0;
  display:none;
  z-index:666;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

div.popup{
    position: absolute;
    max-width: 440px;
    margin: auto;
    opacity: 0;
    display: none;
    left: 0;
    right: 0;
    background: white;
    top: 20%;
    z-index: 1000;
    padding: 20px 40px;
    box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.75);
}
div.popup > .close{
    display: block;
    background: url(../img/closeform.png);
    width: 32px;
    height: 32px;
    position: absolute;
    right: -14px;
    top: -14px;
}
div.popup > .content{}
div.popup > .content h2{
    margin: 0;
    text-align: center;
    color: #e95412;
    font: 700 45px 'Myriad Pro';
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 27px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

div.popup.login form{
    margin-bottom: 20px;
    text-align: center;
}
div.popup.login form input{
    width: 122px;
    padding-left: 15px;
    font: 400 20px 'Myriad Pro';
    height: 38px;
    outline: 0;
    line-height: 38px;
    margin-right: 2px;
    display: inline-block;
    margin-bottom: 10px;
}
div.popup.forget p{
    color: #000000;
    font: 400 14px 'Myriad Pro';
    text-align: center;
}
div.popup.forget form .green_btn{}
div.popup.forget form .green_btn > span{
    font-size: 17px;
    padding: 9px 8px;
}
div.popup.forget form {
    text-align:center
}
div.popup.forget form input{
    width: 201px;
    padding-left: 15px;
    font: 400 20px 'Myriad Pro';
    height: 39px;
    outline: 0;
    line-height: 39px;
    margin-right: -1px;
    display: inline-block;
    margin-bottom: 10px;
}
div.popup.login form button{}
div.popup.login form button > span{
    font-size: 24px;
    padding: 4px 25px;
}
div.popup.login p{
    text-align: center;
    color: #858585;
    font: 400 14px 'Myriad Pro';
}
div.popup.login p a{
    color: #e95412;
}
a.sign_up{
    
}

.inner_sibebar .toggle_menu{
    border: 0;
    outline: 0;
    background: 0;
    position: absolute;
    left: 0;
    top: 10px;
}

input[type="radio"]{
    display: none;
}
input[type="radio"]+label{
    display: block;
    color: #4b4b4b !important;
    font: 400 18px 'Myriad Pro' !important;
    display: inline-block !important;
    background: url(../img/radios.png) no-repeat left center;
    height: 40px;
    line-height: 42px !important;
    padding-left: 28px;
    cursor: pointer;
    vertical-align: top;
    width: auto !important;
    float: none;
    margin-right: 20px;
}
input[type="radio"]:checked+label{
    background: url(../img/radios-checked.png) no-repeat left center;
}

.popup .signup_form{
    background-color: #ffffff;
}

.popup .signup_form p.title{
    text-align:center;
    color: #e95412;
    font: 700 32px 'Myriad Pro';
    margin: 10px 0px;
}

.popup .signup_form .line {
    height: 36px;
    margin: 0 0 6px;
    overflow: hidden;
    padding-right: 0px;
}
.popup .signup_form  .notice{
    color: #858585;
    font: 400 12px 'Myriad Pro';
    text-align: center;
    padding: 0;
    width: 235px;
    display: block;
    margin: auto;
}
.popup .signup_form  label {
    width: 106px;
    float: left;
    text-align: right;
    margin-right: 18px;
    height: 36px;
    color: #000000;
    font: 400 16px 'Myriad Pro';
    line-height: 36px;
}
.popup .signup_form  select{
    width: 307px;
    height: 36px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
}
.popup .signup_form input{
    width: 297px;
    height: 32px;
    background-color: #ffffff;
    border:1px solid #c8c8c8;
    outline: 0;
    padding-left: 8px;
    padding-right: 0;
}
.popup .signup_form  button[type="submit"] {
    border: 0;
    background: 0;
    outline: 0;
    background: #04af67;
    padding: 1px;
    margin: auto;
    display: block;
}
.popup .signup_form .submit{
    margin: 14px 0 15px;
}

.popup .signup_form button[type="submit"] span{
    background:  -webkit-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:   -moz-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background:  -ms-linear-gradient(90deg, #04af67 0%, #0cce7c 100%);
    background: linear-gradient(0deg, #04af67 0%, #0cce7c 100%);
    color: #ffffff;
    font: 700 38px GalanoGrotesqueDEMO;
    text-shadow: 0px 1px 1px rgba(0, 123, 23, 0.75);
    line-height: 37px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #18ff00;
    /* width: 100%; */
    padding: 14px 86.5px;
}

.popup .signup_form button[type="submit"]:hover > span{
    background: -moz-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: -ms-linear-gradient(90deg, #07BE71 0%, #0EE188 100%);
    background: linear-gradient(0deg, #07BE71 0%, #0EE188 100%);
}   

.popup .signup_form #birth_d, .popup .signup_form #birth_m, .popup .signup_form #birth_y {
    width: 99.7px;
}

.quick_result .bx-controls-direction{
        display: none;
}
.quick_result .bx-controls-direction .bx-next{
    right: -32px;
}
.quick_result .bx-controls-direction .bx-prev{
    left: -32px;
}
.quick_search.black .fixer{
    display: inline-block;
}
.quick_search.black .fixer .col{
    vertical-align: top
}

/****** NEW *********/
.contenedor-vip{position:relative;}
.franja-vip{position:absolute;padding-top:95px;z-index:2;}
.bono-vip{float:left;position:relative;z-index:1;}
.bono-vip img{max-width:100%;}
.vp1{width:40%;position:relative;}
.vp2{margin-top:25px;width:33%;position:relative;}
.vp3{margin-top:52px;width:27%;position:relative;}

.contenedor-elite{position:relative;margin-top:20px;}
.franja-elite{position:absolute;padding-top:95px;}
.bono-elite{float:left;}
.bono-elite img{max-width:100%;}
.el3{width:40%;}
.el2{margin-top:25px;width:33%}
.el1{margin-top:52px;width:27%;}

.bono-vip1-precio{position:absolute;left:11%;}
.bono-vip2-precio{position:absolute;left:48%;top:2%;}
.bono-vip3-precio{position:absolute;left:79%;top:11%;}

.precio-grande{font-size:92px;float:left;font-weight:bold;}
.precio-pequenyo{float:left;padding-top:10px;}
.precio-pequenyo .pp{font-size: 53px;font-weight: bold;left: -9px;position: relative;}
.precio-mes{color: #d20000;font-size: 41px;font-weight: bold;top: -26px;position: relative;}

.precio-mediano{font-size:85px;float:left;font-weight:bold;}
.precio-pequenyo2{float:left;padding-top:10px;}
.precio-pequenyo2 .pp2{font-size: 49px;font-weight: bold;left: -9px;position: relative;}
.precio-mes2{color: #d20000;font-size: 36px;font-weight: bold;top: -22px;position: relative;}

.precio-mediano2{font-size:70px;float:left;font-weight:bold;}
.precio-pequenyo3{float:left;padding-top:10px;}
.precio-pequenyo3 .pp3{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
.precio-mes3{color: #d20000;font-size: 34px;font-weight: bold;top: -22px;position: relative;}



.bono-elite1-precio{position:absolute;left:6%;top:48%;}
.bono-elite2-precio{position:absolute;left:35%;top:44%;}
.bono-elite3-precio{position:absolute;left:71%;}

.precio2-grande{font-size:70px;float:left;font-weight:bold;}
.precio2-pequenyo{float:left;padding-top:10px;}
.precio2-pequenyo .pp{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
.precio2-mes{color: #d20000;font-size: 34px;font-weight: bold;top: -22px;position: relative;}

.precio2-mediano{font-size:85px;float:left;font-weight:bold;}
.precio2-pequenyo2{float:left;padding-top:10px;}
.precio2-pequenyo2 .pp2{font-size: 49px;font-weight: bold;left: -9px;position: relative;}
.precio2-mes2{color: #d20000;font-size: 36px;font-weight: bold;top: -22px;position: relative;}

.precio2-mediano2{font-size:92px;float:left;font-weight:bold;}
.precio2-pequenyo3{float:left;padding-top:10px;}
.precio2-pequenyo3 .pp3{font-size: 53px;font-weight: bold;left: -9px;position: relative;}
.precio2-mes3{color: #d20000;font-size: 41px;font-weight: bold;top: -26px;position: relative;}

#capaResponsiveVip1{}
#capaResponsiveVip2{display:none;}
#capaResponsiveElite1{}
#capaResponsiveElite2{display:none;}
#imagenPrueba{position:relative;width:283px;}


.plans .more_info .compare .line .vipplan{
    position: absolute;
    width: 149px;
    text-align: center;
    height: 100%;
    right: 0px;
    top: 0;
    background: #e1e1e1 url(../img/not_checked.png) no-repeat center;
}
.plans .more_info .compare .line .premium{
    position: absolute;
    width: 149px;
    text-align: center;
    height: 100%;
    right: 151px;
    top: 0;
    background-color: #e1e1e1;
    background: #e1e1e1 url(../img/not_checked.png) no-repeat center;
}
.plans .more_info .compare .line .free{
    position: absolute;
    width: 149px;
    text-align: center;
    height: 100%;
    right: 302px;
    top: 0;
    background: #e1e1e1 url(../img/not_checked.png) no-repeat center;
}
.plans .more_info .compare .line .vipplan.head{
    color: #ffffff;
    font: 700 16px / 48px 'Myriad Pro';
    background-color: #ffd800;
    background-image: none;
}
.plans .more_info .compare .line .premium.head{
    background-color: #ada8a8;
    color: #2d2d2d;
    font: 700 16px / 48px 'Myriad Pro';
    background-image: none;
}
.plans .more_info .compare .line .free.head{
    color: #ffffff;
    font: 700 16px / 48px 'Myriad Pro';
    background-color: #a25915;
    background-image: none;
}
.plans .more_info .compare .line .free.checked,
.plans .more_info .compare .line .premium.checked,
.plans .more_info .compare .line .vipplan.checked{
    background-image: url(../img/checked.png);
}

ul.errors { margin:0; padding:0; }
ul.errors li { padding:0; margin:0 0 10px 0; text-indent:0; font-weight:bold; background:#FFBABA; padding:10px; list-style:none; text-indent:0; border:1px solid red; }

ul.success { margin:0; padding:0; }
ul.success li { padding:0; margin:0 0 10px 0; text-indent:0; font-weight:bold; background:#DFF2BF; padding:10px; list-style:none; text-indent:0; border:1px solid lightgreen; color:#4F8A10; }