@media only screen and (min-width: 1340px) {
	.read_msg .author .info table{
		max-width:370px;
		width: 100%;	
	}
    .full_search .section{
        text-align: left;
    }
    .full_search .section .col{
        width: 235px;
    }
	header.blog .logo{
		float: none;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 370px;
	}
	.quick_search.black{
		text-align:left;
	}
	.membership > header .wrapper p{
		float:right!important;
	}
	
	.quick_search.black input[type="checkbox"]+label{
		margin-left: 55px;
	}
    .new_peoples.dashboard .one:nth-child(6n+1){
        margin-right:0;
    }
    .search_results{
        text-align: left;
    }
    .search_results .result{
        margin-left: 0;
        margin-right: 33px;
    }
    .search_results .result:nth-child(3n){
        margin-right: 0;
    }
    
    .new_peoples .one{
        margin: 0 21px 20px 0;
    }
    .new_peoples .one:nth-child(7n){
        margin-right: 0;
    }
    
    .new_peoples.city_logged .one{
        margin: 0 9px 20px 0;
    }
    .new_peoples.city_logged .one:nth-child(6n){
        margin-right: 0;
    }
    
    /*#signup_big .signup_form{
        background: none;
    }*/
    .visitors-list .one{
        margin: 20px 21px 0 0;
    }
    .visitors-list > .one:nth-child(6n), .visitors-list > .one:nth-child(19){
        margin-right: 0;
    }
    
    .visitors-list > .one:nth-child(18){
        margin-right: 21px !important;
    }
}

@media only screen and (max-width: 1340px) {
    
    
    .new_peoples.dashboard{
        text-align: center;
    }
    .new_peoples.dashboard .one{
        margin-left: 5px;
        margin-right: 5px;
    }
    
}

@media only screen and (min-width: 1280px) {
    .quick_search .col.last{
        float: right;
        margin-top: 42px;
    }
	
}



@media only screen and (max-width: 1300px) {
    .payment .sub_info{
        margin-bottom: 30px;
    }
    .membership .benefits{
        height: auto;
    }
    
    .tarrifs .steps > *{
        width: 25%!important;
        padding: 0!important;
        text-align: center;
    }
    
    .tarrifs .steps .step4{
    }
    
    .tarrifs .steps .step2{
        background: url(../img/footer_border.png) top center repeat;
    }
    
    .quick_search.red{
        text-align: center;
    }
    .membership .plans > .small{
        
float: none;
        
margin: 30px auto;
    }
    .membership .plans > .big{
        
float: none;
        
margin: auto;
    }
}

@media only screen and (max-width: 1150px) {
    #header_menu li.sign_up {
        /* float:none; */
    }
}

@media only screen and (min-width: 1101px) {
    #header_menu ul{
        display: block !important;
    }
    
    .inner_sibebar .toggle_menu{
        display: none;
    }
    .inner_sibebar .holder{
        display: block !important;
    }
}

@media only screen and (max-width: 1100px) {
    .special_offer a{
        margin: 40px 0;
    }
    .quick_search .col.birthday {
        min-width: 324px;
    }
    
    
    
    .inner_sibebar .popular.block{
        width: 211px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .inner_sibebar .block.add_photo{
    	margin-top:10px;
    	border-bottom:0;
    	margin-bottom:10px
    }

    .inner_sibebar{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        position: relative;
        padding-top: 48px;
    }
    .inner_sibebar .holder{
        display: none;
    }
    
    .inner_content{
        margin-left: 0 !important;
    }
    
	#header_menu{
		min-height: 50px;
		padding: 3px 0;
	}
	#header_menu .green_btn {
		top: 3px;
	}
	#header_menu a.premium > span{
		font-size: 18px;
		padding: 6px 52px 6px 12px;
	}
    #header_menu ul{
        display: none;
        float: none;
        /* margin-right: 92px; */
    }
    #header_menu ul li{
        float: none;
        width: 100%;
        text-align: left;
        border-right: 0;
    }
    #header_menu ul li a span{
        width: 51px;
        display: inline-block;
        text-align: center;
    }
    
    #header_menu ul li.sign_up{
        float:none;
        margin-top: 10px;
    }
    #header_menu ul li.sign_up > a span{
        width: auto;
    }
    
    #header_menu .toggle_menu{
        display: block;
    }

}

@media only screen and (max-width: 1070px) {
    #free_features .right ul{
        text-align: center;
    }
    #free_features .left{
    	margin-top: 25px;
    }
    #free_features .right ul li{
        /* width: auto; */
        text-align: left;
        max-width: 300px;
        width: 100%;
    }
    .membership > header .wrapper p{
        font-size: 18px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 950px) {
    .tarrifs .steps > *{
        width: 50%!important;
    }
}


@media only screen and (min-width: 1100px) {
    .payment .sub_info .left{
        width: 400px;
        display: block;
        float: left;
    }
    .payment .sub_info .right{
        display: block;
        float: right;
        max-width: calc(100% - 500px);
    }
}

@media only screen and (max-width: 1000px) {
    #some_features span{
        margin-left: auto;
        margin-right: auto;
    }
	
    footer{
        text-align: center;
    }
    
    footer .wrapper > *{
        display: block;
        float: none;
        text-align: center;
    }
    
    footer .menu li{
        display: inline-block;
        float: none;
    }   
	
	.signup_now{
        background-size: cover;
    }
	.signup_now .slogan{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: 21px 0;
    }
	.signup_now .signup_form{
/* float: none; */max-width: 393px;width: 100%;float: none;margin-left: auto;margin-right: auto;overflow: hidden;}
}

@media only screen and (max-width: 940px) {
	.plans .more_info .compare .line .vipplan{width:75px}
	.plans .more_info .compare .line .premium{width:75px;right:77px;}
	.plans .more_info .compare .line .free { width:75px;right:154px;}
}

@media only screen and (min-width: 930px) {
    .article_list article{
        width: 31%;
        margin-right: 3%;
    }
    .article_list article:nth-child(3n){
        margin-right: 0;
    }
}

@media only screen and (max-width: 930px) {
   .article_list article{
        width: 48%;
        margin-right: 3%;
    }
    .article_list article:nth-child(2n){
        margin-right: 0;
    }
    .upload .chooser input[type="checkbox"]+label{
		margin-bottom: 32px;
	}
    .single article {
        width:100%;
        float: none;
    }
    
    .single .sidebar{
        float: none;
        margin: auto;
    }
    
    .red_header.search > a{
        font-size: 17px;
    }
    
    .pay_content > .methods{
        float: none;    
    }
}


@media only screen and (max-width: 850px) {
    .membership > header > p{
        position: relative;
        text-align: center;
        margin-bottom: 10px;
        right: 0;
    }
    
    .payment .sub_info .right{
        width: auto;
        padding: 10px;
    }
    
    .payment .sub_info .right table td{
        font-size: 15px;
    }
    .payment .sub_info .right table span{
        font-size: 15px;
        line-height: 15px;
    }
    
    .membership > header .wrapper > *{
        float: none !important;
        display: block !important;
        text-align: center;
    }
    .membership > header .wrapper p{
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .inner_page{
        padding-top: 20px
    }
    header{
        text-align: center;
    }
    header .wrapper > *{
        float: none;
    }
    header .top_form{
        display: inline-block;
    }
	.city_info .content .images{
		float:none;
		width:100%;
		text-align: center;
	}
	.city_info .content .images a{
		display: block;
	}
	.city_info .content .description{
		margin-right:0;
	}
}

@media only screen and (max-width: 700px) {
    
    .review_slider ul li img{
        display: block;
        margin: 0 auto 10px;
            float: none;
    }
    
    .review_slider ul li p{
        text-align: center;
        font-size: 28px;
    }
    
    #some_features span img{
        display: block;
        margin: 0 auto 10px;
    }
    
    .profile .center{
        clear: both;
        margin:  0;
    }
    .profile .left .image{
        margin: auto;
    }
    .profile .left{
    float: left;
    width: 50%;
	}
    .profile .right{
    float: right;
    width: 50%;
	}
	.message_compose .image{
		float: none;
		margin: auto;
	}
	.reply-form{
		margin-left: 0;
		margin-top: 11px;
		text-align:center;
	}
	.reply-form .attachment{}
	.reply-form .green_btn{
		float: none;
	}
	
	.contact_form label{   
		float:none;	
		width:100%;
		display:block;
        text-align: center;
	}
    .contact_form{
        text-align: center;
        margin: 10px auto 15px;
    }
    .contact_form #contact_subject {
        width: 100%;
    }
    .contact_form textarea {
        max-width: 100%;
        width: 100%;
    }
	.contact_form .captcha img, .contact_form .notice, .contact_form button{
		margin-left:0 !important;
	}
	
	.read_msg .author .image{}
	.read_msg .author .simpathy{}
	.read_msg .author .info{
    clear: both;
    margin: 0;
    width: 100%;
	}
	.personal-form .image{}
	.personal-form .simpathy{}
	.personal-form form{
    clear: both;
    margin-left: auto;
    margin-right: auto;
	}
}

@media only screen and (max-width: 760px) {
    
    .plans .more_info .compare .line{
        padding-right: 150px;
    }
    
    .plans .more_info .compare .line .premium{
        width: 70px;
        font-size: 13px !important;
    }
    .plans .more_info .compare .line .free{
        width: 70px;
        font-size: 13px !important;
        right: 149px;
    }
    .signup_now{
    }
    .signup_now .slogan{    
    }
    #free_features .info{
        
padding-top: 15px;
    }
    #free_features .info > *{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    .red_header{
        text-align: center;
    }
    
    .red_header > *{
        margin-left:0 !important;
        margin-right: 0 !important;
    }
    .red_header.mail > a{
        float: none;
    }
    .red_header.search > a{
        float: none;
        font-size: 17px;
    }
    .red_header.photo > a{
        float: none;
    }
    .red_header.man > a{
        float: none;
    }
}

@media only screen and (max-width: 706px) {
	.plans .more_info .compare .line{padding-right: 330px;}
}

@media only screen and (max-width: 650px) {
    .quick_search.black .col{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    .quick_search.black input[type="checkbox"]+label{
        margin-top: 12px;
    }
    .quick_search.black .col label{
        text-align: center;
    }
    .quick_search.profile-edit .col{
        display: block;
        margin: 0 auto 12px;
        text-align: center;
    }
    .quick_search.profile-edit .col label{
        text-align: center;
    }
    
    .tarrifs .steps > *{
        width: 100%!important;
    }
    
    .special_offer a > span{
        font-size: 20px;
    }
    
    .upload{
        text-align: center;
    }
    
    .nude_photos .big{
        text-align: center;
        margin-bottom: 10px;
    }
    .upload {
        margin-left: 0;
        margin-right: 0;
	}
    .upload .image{
        float:none;
        margin: auto;
    }
    .upload .chooser .upload_input{
        margin: auto;
    }
    
    .upload .chooser{
        margin-left: 0;
		
    }
    
    #signup_big .inner{
        background: none;
    }
    
    #footer_photos .l1 span{
        font-size: 40px;
    }
    
    #footer_photos .green_btn > span{
        font-size: 32px;
        padding: 10px 60px;
    }
    
    #signup_big .signup_form{
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        text-align: center;
        margin-top: 30px;
        background: none;
        padding: 0;
    }
    #signup_big .signup_form p{
        height: auto;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #signup_big .signup_form label{
        float: none;
        display: block;
        width: auto;
        text-align: center;
    }
    #signup_big button[type="submit"]{
        float:none;
    }
    
    footer{
        text-align: center;
    }
    
    footer .wrapper > *{
        display: block;
        float: none;
        text-align: center;
    }
    
    footer .menu li{
        display: inline-block;
        float: none;
    }   
    
    
   .article_list article{
        width: 100%;
    }
    
    
    .profile .photos{
    float: none;
    width: 100%;
    }
    .profile .other_info{
        margin-left: 0;
        width: 100%;
    }
    .profile .other_info .block{
        width: auto;
        display: block;
    }
	.personals_list .one{
    text-align: left;
}
	.personals_list .one .image{
float: none;display: inline-block;}
	.personals_list .one .simpathy{
    display: inline-block;
    float: none;
    vertical-align: bottom;
}
	.personals_list .one .content{
    margin: 10px 0 0;
    text-align: left;
}
	.message{
		
	}
	.message .check{
	}
	.message .image{
	margin-right: 10px;
	margin-bottom: 10px;
	}
	.message .image a{}
	.message .content{
		margin-left: 0;
		/* clear: both; */
	}
	
}

@media only screen and (max-width: 600px) {
    .quick_search .col:last-child{
        clear: both;
        display: block;
        text-align: center;
    }
    .quick_result .bx-pager{
        display: none;
    }
    .quick_result .bx-controls-direction{
        display: block;
    }
    .latest_ads a.more{
        position: relative;
        display: block
    }
    .plans{
        padding-left: 10px;
        padding-right: 10px;
    }
    .plans div.big{
    	max-width:440px;
    	width: auto;
    }
    div.popup{
        width: auto;
        margin: 0 30px;
    }
    
    
    .popup .signup_form label{
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    .popup .signup_form .line{
        height: auto;
        text-align: center;
    }
    .popup .signup_form select, .popup .signup_form input{
        width: 100%;
        
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    }
    .popup .signup_form button[type="submit"] span{
        font-size: 22px;
        padding: 2px 13px;
    }
}

@media only screen and (max-width: 500px) {
	.plans .more_info .compare .line .subtitle {display:none;}
	.plans .more_info .compare .line {padding-right: 230px;}
	.plans .more_info .compare .line .title {font-size:14px;padding-top: 10px;padding-bottom: 10px;line-height:20px;}
    .my_histoty .list .one .info{
        clear: both;
        margin: 0 10px 10px;
    }
    .my_histoty .list .one{
    	text-align:center;
    }
    .my_histoty .list .one .image{
    	display: inline-block;
    	float:none;
    	vertical-align: top;
    }
    .my_histoty .list .one .buttons{
    	display: inline-block;
    	float:none;
    }
    .personal-form form .notice{
        float: none;
        text-align: center;
        display: block;
    }
    .personal-form form .green_btn{
        clear: both;
        margin-top: 16px;
    }
    .pay_content form label{
        display: block;
        float: none;
        width: auto;
    }
    .pay_content form span.zamok{
        display: none;
        margin: 9px auto 0;
    }
    .pay_content form .green_btn > span {
        font-size: 14px;
    }
    .pay_content form > p{
        height: auto;
    }
    .plans div.trial {
        text-align: center;
        max-width: 297px;
        
    }
    .plans div.trial > .period{
        display: block !important;
        width: auto !important;
        margin: auto;
        line-height: normal;
        margin: 30px 0 0;
    } 
    
    .plans div.trial > .price{
        display: block !important;
        width: auto !important;
        margin: auto;
        line-height: normal;
        margin: 0px 0;
    }   
    
    .plans div.trial > a{
        margin-left: 0 !important;
        margin-bottom: 16px;
    }
    
    .plans div.big .price{
        margin-top: 10px;
    }
    .plans .big .price .big{
        font-size: 80px;   
    }
    .plans .big .save:after{
        right: 2px;
    }
    .plans .big .price .small {
        font-size: 40px;
        top: 8px;
    }
    .plans .big .price .month {
       font-size: 30px;
    }
    
    #footer_photos .l1 span{
        font-size: 30px;
    }
    .special_offer a > span{
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 450px) {
    .quick_search.red{
    	padding: 10px 5px;
    	text-align: center;
    }
    .quick_search.red > h2{
    	text-align:center;
    }
    .quick_search .col.birthday select{
		width: 30%;
    }
    
    .top_form .top input[type="submit"]{
        margin-bottom: 12px
    }
	.upload .chooser .upload_input{
		
padding-top: 55px;
		
padding-left: 0;
		
background-position: top center;
	}
    #signup_orange a{
        font-size: 35px;
    }
	
    .upload .chooser input[type="checkbox"]+label{
		margin-bottom: 60px;
	}
    
    .red_header{
        text-align: center;
    }
    
    .red_header > *{
        margin-left:0 !important;
        margin-right: 0 !important;
    }
    .red_header.mail > a{
        font-size: 20px;
        float: none;
    }
    
    .red_header > span.bg{
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }
    
	.signup_now .signup_form label{
		display: block;
		float: none;
		width: 100%;
		text-align: center;
	}
	.signup_now .slogan{
		font-size: 42px;
	}
	.signup_now .signup_form .line{
		height:auto;
		text-align:center;
	}
}

@media only screen and (max-width: 400px) {
    .quick_search .col.birthday {
        min-width: 0px;
    }
	.red_header.mail > a{
		font-size: 18px
	}
    .reply-form .green_btn{
        margin: 10px 0;
    }
    .reply-form .green_btn > span{
        font-size: 18px;
    }
    .profile .left .image{
        width:90%;
        height: auto;
    }

    .plans .big ul{
        width: auto;
        margin: 0 10px;
    }
    .plans .big .green_btn span{
        padding: 8px 14px;
    }
    .plans .big ul li{
        font-size: 18px;
    }
    .latest_ads .list{
        margin: 0;
    }
}



@media only screen and (max-width: 380px) {
    .special_offer a > span{
        font-size: 12px;
    }
    .search_results .result{
        box-sizing: border-box;
        max-width: 100%;
    }
    .search_results .result .left{
        width: 130px;
    }
    .search_results .result .left .image{
    	width:100% !important;
    }
    .search_results .result .left .image img{
    	width:100% !important;
    }
    .search_results .result .right{
        float: none;
        margin-left: 135px;
    }
	
}

@media only screen and (max-width: 350px) {
    
	.nude_photos{
        margin: 20px 0px 15px;
	}
	#signup_big #birth_d, 
	#signup_big #birth_m, 
	#signup_big #birth_y{
		width: 30%;
	}
    
    #footer_photos .l1 span{
        font-size: 24px;
    }
}           



@media only screen and (max-width: 1300px) and (min-width: 850px) {
    .quick_search.black .fixer{
        width: calc(100% - 250px);
        box-sizing: border-box;
        padding-right: 10px;    
    }
}


/**** NEW ******/
@media only screen and (max-width: 1280px) {
	.bono-vip2-precio{top:1%}
}

@media only screen and (max-width: 1270px) {
	.precio-grande {font-size:80px;}
	.precio-pequenyo .pp{font-size:40px;}
	.precio-mes{font-size:40px;top:-17px;}
	.bono-vip1-precio{top:4%}
   
	.precio-mediano {font-size:65px;}
	.precio-pequenyo2 .pp2 {font-size:37px;}
	.precio-mes2 {font-size:28px;top:-17px;}
	.bono-vip2-precio{top:11%}
   
	.precio-mediano2 {font-size:58px}
	.precio-pequenyo3 .pp3 {font-size:30px;}
	.precio-mes3 {font-size:26px;top:-13px;}
	.bono-vip3-precio{top:16%}
}


@media only screen and (max-width: 1220px) {
	.precio2-grande {font-size:60px;}
	.precio2-pequenyo .pp{font-size:31px;}
	.precio2-mes{font-size:30px;top:-17px;}
	.bono-elite1-precio{top:50%}
   
	.precio2-mediano {font-size:74px;}
	.precio2-pequenyo2 .pp2 {font-size:39px;}
	.precio2-mes2 {font-size:33px;top:-14px;}
	.bono-elite2-precio{top:45%}
   
	.precio2-mediano2 {font-size:83px}
	.precio2-pequenyo3 .pp3 {font-size:48px;}
	.precio2-mes3 {font-size:35px;top:-22px;}
}


@media only screen and (max-width: 1100px) {
	.precio-grande {font-size:76px;}
	.precio-pequenyo .pp{font-size:37px;}
	.precio-mes{font-size:34px;top:-13px;}
	.bono-vip1-precio{top:1%}
   
	.bono-vip2-precio{top:6%}
   
	.precio-mediano2 {font-size:50px}
	.precio-pequenyo3 .pp3 {font-size:26px;}
	.precio-mes3 {font-size:22px;top:-11px;}
	.bono-vip3-precio{top:15%}
	
	.bono-elite3-precio{top:42%}
	.bono-elite2-precio{top:46%}
}

@media only screen and (max-width: 1060px) {
	.franja-elite {padding-top:83px}
	.bono-elite1-precio{top:52%}
	.bono-elite2-precio{top:46%}
	.bono-elite3-precio{top:42%}
	
	.precio2-grande {font-size:51px;}
	.precio2-pequenyo .pp{font-size:25px;}
	.precio2-mes{font-size:24px;top:-13px;}
   
	.precio2-mediano {font-size:66px;}
	.precio2-pequenyo2 .pp2 {font-size:33px;}
	.precio2-mes2 {font-size:28px;top:-12px;}
   
	.precio2-mediano2 {font-size:76px}
	.precio2-pequenyo3 .pp3 {font-size:38px;}
	.precio2-mes3 {font-size:34px;top:-11px;}
	
}

@media only screen and (max-width: 1070px) {
	.franja-vip {padding-top:80px}
}

@media only screen and (max-width: 1040px) {
	.precio-grande {font-size:70px;}
	.precio-pequenyo .pp{font-size:33px;}
	.precio-mes{font-size:31px;top:-11px;}
   
	.precio-mediano {font-size:56px;}
	.precio-pequenyo2 .pp2 {font-size:28px;}
	.precio-mes2 {font-size:25px;top:-13px;}
	.bono-vip2-precio{top:8%}
   
	.bono-vip3-precio{top:12%}
}

@media only screen and (max-width: 920px) {
	.franja-elite {padding-top:78px}
	
	.precio2-grande {font-size:48px;}
	.precio2-pequenyo .pp{font-size:23px;}
	.precio2-mes{font-size:22px;top:-10px;}
   
	.precio2-mediano {font-size:59px;}
	.precio2-pequenyo2 .pp2 {font-size:30px;}
	.precio2-mes2 {font-size:26px;top:-13px;}
   
	.precio2-mediano2 {font-size:70px}
	.precio2-pequenyo3 .pp3 {font-size:35px;}
	.precio2-mes3 {font-size:31px;top:-13px;}
		
}

@media only screen and (max-width: 950px) {
	.precio-grande {font-size:64px;}
	.precio-pequenyo .pp{font-size:30px;}
	.precio-mes{font-size:28px;}
	.bono-vip1-precio{top:0%}
   
	.bono-vip2-precio{top:5%}
  
	.bono-vip3-precio{top:10%}
}

@media only screen and (max-width: 880px) {
	/*.precio-grande {font-size:59px;}
	.precio-pequenyo .pp{font-size:27px;}
	.precio-mes{font-size:27px;top:-8px;}
   
	.bono-vip2-precio{top:1%}
  
	.bono-vip3-precio{top:7%}*/
	
	.vp1{margin-top:15px;}
	.vp2{margin-top:10px;}
	.vp3{margin-top:10px;}
	
	.el3{margin-top:35px;}
	.el2{margin-top:10px;}
	.el1{margin-top:10px;}
	
	#imagenVip1{position:relative;width:514px;}
	#imagenVip2{position:relative;width:419px;}
	#imagenVip3{position:relative;width:334px;}
	.bono-vip1-precio{position:absolute;left:30%;top:30%}
	.bono-vip2-precio{position:absolute;left:48%;top:28%;left:27%;}
	.bono-vip3-precio{position:absolute;left:79%;top:27%;left:25%;}

	.precio-grande{font-size:92px;float:left;font-weight:bold;}
	.precio-pequenyo{float:left;padding-top:10px;}
	.precio-pequenyo .pp{font-size: 53px;font-weight: bold;left: -9px;position: relative;}
	.precio-mes{color: #d20000;font-size: 41px;font-weight: bold;top: -26px;position: relative;}
	
	.precio-mediano{font-size:85px;float:left;font-weight:bold;}
	.precio-pequenyo2{float:left;padding-top:10px;}
	.precio-pequenyo2 .pp2{font-size: 49px;font-weight: bold;left: -9px;position: relative;}
	.precio-mes2{color: #d20000;font-size: 36px;font-weight: bold;top: -22px;position: relative;}

	.precio-mediano2{font-size:70px;float:left;font-weight:bold;}
	.precio-pequenyo3{float:left;padding-top:10px;}
	.precio-pequenyo3 .pp3{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
	.precio-mes3{color: #d20000;font-size: 34px;font-weight: bold;top: -22px;position: relative;}
	
	#imagenElite1{position:relative;width:514px;}
	#imagenElite2{position:relative;width:419px;}
	#imagenElite3{position:relative;width:334px;}
	
	.bono-elite1-precio{position:absolute;top:27%;left:25%;}
	.bono-elite2-precio{position:absolute;top:27%;left:28%;}
	.bono-elite3-precio{position:absolute;left:30%;top:32%}

	.precio2-grande{font-size:70px;float:left;font-weight:bold;}
	.precio2-pequenyo{float:left;padding-top:10px;}
	.precio2-pequenyo .pp{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
	.precio2-mes{color: #d20000;font-size: 34px;font-weight: bold;top: -22px;position: relative;}

	.precio2-mediano{font-size:85px;float:left;font-weight:bold;}
	.precio2-pequenyo2{float:left;padding-top:10px;}
	.precio2-pequenyo2 .pp2{font-size: 49px;font-weight: bold;left: -9px;position: relative;}
	.precio2-mes2{color: #d20000;font-size: 36px;font-weight: bold;top: -22px;position: relative;}

	.precio2-mediano2{font-size:92px;float:left;font-weight:bold;}
	.precio2-pequenyo3{float:left;padding-top:10px;}
	.precio2-pequenyo3 .pp3{font-size: 53px;font-weight: bold;left: -9px;position: relative;}
	.precio2-mes3{color: #d20000;font-size: 41px;font-weight: bold;top: -26px;position: relative;}


	.vp1{width:100%}
	.vp2{width:100%}
	.vp3{width:100%}
	.franja-vip{display:none;}
	.franja-elite{display:none;}
	.el1{width:100%}
	.el2{width:100%}
	.el3{width:100%}
	#capaResponsiveVip1{display:none;}
	#capaResponsiveVip2{display:block;}
	#capaResponsiveElite1{display:none;}
	#capaResponsiveElite2{display:block;}
	
}

@media only screen and (max-width: 541px) {
	#imagenVip1{position:relative;width:100%;}
	#imagenVip2{position:relative;width:100%;}
	
	.bono-vip1-precio{width:100%;left:0%;}
	.precio-grande{margin-left:26%;font-size:80px;}
	.precio-mediano{margin-left:0%;font-size:75px;}
	.precio-pequenyo{float:left;padding-top:10px;}
	.precio-pequenyo .pp{font-size: 53px;font-weight: bold;left: -9px;position: relative;}
	.precio-pequenyo2 .pp2{font-size: 42px;}
	.precio-mes{color: #d20000;font-size: 41px;font-weight: bold;top: -26px;position: relative;}
	
	#imagenElite1{position:relative;width:100%;}
	#imagenElite2{position:relative;width:100%;}
	/*.bono-elite3-precio{width:100%;left:0%;}*/
	.precio2-mediano2{margin-left:-5%;font-size:80px;}
	.precio2-pequenyo3 .pp{font-size: 53px;}
	.precio2-mes3{font-size: 41px;}
	
}

@media only screen and (max-width: 450px) {
	.precio-grande{font-size:70px;}
	.precio-mes{font-size: 31px;}
	
	.precio2-mediano2{margin-left:-5%;font-size:70px;}
	.precio2-mes3{font-size: 31px;}
}

@media only screen and (max-width: 410px) {
	#imagenVip3{position:relative;width:100%;}
	.precio-pequenyo .pp{font-size: 43px;}
	.precio-mediano{font-size:65px;}
	.precio-pequenyo2{float:left;padding-top:10px;}
	.precio-pequenyo2 .pp2{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
	.precio-mes2{color: #d20000;font-size: 30px;font-weight: bold;top: -22px;position: relative;}
	
	#imagenElite3{width:100%;}
	.precio2-pequenyo3 .pp3{font-size: 43px;}
	
	.precio2-mediano{font-size:65px;}
	.precio2-pequenyo2{float:left;padding-top:10px;}
	.precio2-pequenyo2 .pp2{font-size: 39px;font-weight: bold;left: -9px;position: relative;}
	.precio2-mes2{color: #d20000;font-size: 30px;font-weight: bold;top: -22px;position: relative;}
	
}

@media only screen and (max-width: 370px) {
	.precio-grande{font-size:60px;}
	.precio-pequenyo{padding-top:5px;}
	
	.precio2-mediano2{font-size:60px;}
	.precio2-pequenyo3{padding-top:5px;}
}

@media only screen and (max-width: 340px) {
	.precio-pequenyo .pp{font-size: 38px;}
	.precio-mediano{font-size:55px;}
	.precio-pequenyo2{float:left;padding-top:10px;}
	.precio-pequenyo2 .pp2{font-size: 36px;font-weight: bold;left: -9px;position: relative;}
	.precio-mes2{color: #d20000;font-size: 28px;font-weight: bold;top: -22px;position: relative;}
	
	.precio-mediano2{font-size:60px;}
	.precio-pequenyo3 .pp3 {font-size:34px;}
	
	.precio2-pequenyo3 .pp3{font-size: 38px;}
	.precio2-mediano{font-size:55px;}
	.precio2-pequenyo2{float:left;padding-top:10px;}
	.precio2-pequenyo2 .pp2{font-size: 36px;font-weight: bold;left: -9px;position: relative;}
	.precio2-mes2{color: #d20000;font-size: 28px;font-weight: bold;top: -22px;position: relative;}
	.precio2-mes3{font-size: 28px;font-weight: bold;top: -22px;position: relative;}
	
	
	.precio2-grande{font-size:60px;}
	.precio2-pequenyo .pp {font-size:34px;}
	
	
	
	
	
}

@media only screen and (max-width: 310px) {
	.precio-grande{font-size:50px;}
	.precio2-mediano2{font-size:50px;}
}