/*!
Theme Name: vanguard-ngr
Theme URI: http://underscores.me/
Author: rtcamp
Author URI: https://rtcamp.com/
Contributors : Sayed Taqui @ https://rtcamp.com/about/rtcampers/
Description: Custom theme created for Vanguard-ngr
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: vanguard
Tags: black

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

vanguard-ngr is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

/*--------------------------------------------------------------*/
/*** Mobile ***/
/*==============================
         CUSTOM MIXINS
===============================*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #0d0d0d;
  line-height: 1.2; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #312e2e; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  margin: 0.67rem 0; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #474747;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.content-area ul {
  list-style: disc; }

.content-area ol {
  list-style: decimal; }

.content-area ul, .content-area ol {
  margin: 0 0 1.5em 3em; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

a {
  color: #fe0000;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #ADADAD; }
  a:hover, a:active {
    outline: 0; }

.rtp-header-wrapper a, .rtp-footer-bottom a, .widget a {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
  height: auto !important; }

.stButton .stHBubble {
  height: auto !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  text-indent: 0.3125rem;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111;
    outline: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Common Classes
--------------------------------------------------------------*/
.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

.rtp-view-all {
  float: right;
  color: #fe0000;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal; }

h2 .rtp-view-all {
  font-size: 0.8125rem;
  font-weight: normal;
  font-weight: 700; }

.red-title {
  color: #fe0000;
  text-transform: uppercase;
  font-size: 1.5rem; }

.rtp-read-more-link {
  background: #fe0000;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border-radius: 3px;
  display: inline-block;
  margin-top: 0.625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.1; }
  .rtp-read-more-link:hover {
    color: #fff;
    opacity: 0.8; }

.rtp-read-more {
  color: #fe0000;
  display: inline-block; }

.rtp-share-icon {
  background-image: url(img/sprite.png);
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: -155px 58px;
  cursor: pointer; }

body.sidr-small {
  right: 150px !important; }
  body.sidr-small .sidr {
    width: 150px; }
    body.sidr-small .sidr a {
      font-size: 0.8125rem; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clearfix:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 81.25rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.78125rem;
    margin-right: -0.78125rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:after {
      content: "";
      display: table;
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:after {
        content: "";
        display: table;
        clear: both; }

.column,
.columns {
  padding-left: 0.78125rem;
  padding-right: 0.78125rem;
  width: 100%;
  float: left; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .small-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.78125rem;
    padding-right: 0.78125rem;
    float: left; }
  .small-1 {
    width: 8.3333333333%; }
  .small-2 {
    width: 16.6666666667%; }
  .small-3 {
    width: 25%; }
  .small-4 {
    width: 33.3333333333%; }
  .small-5 {
    width: 41.6666666667%; }
  .small-6 {
    width: 50%; }
  .small-7 {
    width: 58.3333333333%; }
  .small-8 {
    width: 66.6666666667%; }
  .small-9 {
    width: 75%; }
  .small-10 {
    width: 83.3333333333%; }
  .small-11 {
    width: 91.6666666667%; }
  .small-12 {
    width: 100%; }
  .small-offset-0 {
    margin-left: 0% !important; }
  .small-offset-1 {
    margin-left: 8.3333333333% !important; }
  .small-offset-2 {
    margin-left: 16.6666666667% !important; }
  .small-offset-3 {
    margin-left: 25% !important; }
  .small-offset-4 {
    margin-left: 33.3333333333% !important; }
  .small-offset-5 {
    margin-left: 41.6666666667% !important; }
  .small-offset-6 {
    margin-left: 50% !important; }
  .small-offset-7 {
    margin-left: 58.3333333333% !important; }
  .small-offset-8 {
    margin-left: 66.6666666667% !important; }
  .small-offset-9 {
    margin-left: 75% !important; }
  .small-offset-10 {
    margin-left: 83.3333333333% !important; }
  .small-offset-11 {
    margin-left: 91.6666666667% !important; }
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; } }

@media only screen and (min-width: 641px) {
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .medium-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .medium-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .medium-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .medium-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .medium-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .medium-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.78125rem;
    padding-right: 0.78125rem;
    float: left; }
  .medium-1 {
    width: 8.3333333333%; }
  .medium-2 {
    width: 16.6666666667%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.3333333333%; }
  .medium-5 {
    width: 41.6666666667%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.3333333333%; }
  .medium-8 {
    width: 66.6666666667%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.3333333333%; }
  .medium-11 {
    width: 91.6666666667%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-0 {
    margin-left: 0% !important; }
  .medium-offset-1 {
    margin-left: 8.3333333333% !important; }
  .medium-offset-2 {
    margin-left: 16.6666666667% !important; }
  .medium-offset-3 {
    margin-left: 25% !important; }
  .medium-offset-4 {
    margin-left: 33.3333333333% !important; }
  .medium-offset-5 {
    margin-left: 41.6666666667% !important; }
  .medium-offset-6 {
    margin-left: 50% !important; }
  .medium-offset-7 {
    margin-left: 58.3333333333% !important; }
  .medium-offset-8 {
    margin-left: 66.6666666667% !important; }
  .medium-offset-9 {
    margin-left: 75% !important; }
  .medium-offset-10 {
    margin-left: 83.3333333333% !important; }
  .medium-offset-11 {
    margin-left: 91.6666666667% !important; }
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

@media only screen and (min-width: 1025px) {
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .large-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .large-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .large-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .large-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .large-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .large-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.78125rem;
    padding-right: 0.78125rem;
    float: left; }
  .large-1 {
    width: 8.3333333333%; }
  .large-2 {
    width: 16.6666666667%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.3333333333%; }
  .large-5 {
    width: 41.6666666667%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.3333333333%; }
  .large-8 {
    width: 66.6666666667%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.3333333333%; }
  .large-11 {
    width: 91.6666666667%; }
  .large-12 {
    width: 100%; }
  .large-offset-0 {
    margin-left: 0% !important; }
  .large-offset-1 {
    margin-left: 8.3333333333% !important; }
  .large-offset-2 {
    margin-left: 16.6666666667% !important; }
  .large-offset-3 {
    margin-left: 25% !important; }
  .large-offset-4 {
    margin-left: 33.3333333333% !important; }
  .large-offset-5 {
    margin-left: 41.6666666667% !important; }
  .large-offset-6 {
    margin-left: 50% !important; }
  .large-offset-7 {
    margin-left: 58.3333333333% !important; }
  .large-offset-8 {
    margin-left: 66.6666666667% !important; }
  .large-offset-9 {
    margin-left: 75% !important; }
  .large-offset-10 {
    margin-left: 83.3333333333% !important; }
  .large-offset-11 {
    margin-left: 91.6666666667% !important; }
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }
  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.9375rem;
  content: "";
  display: table; }
  [class*="block-grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.9375rem 1.875rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
  .small-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
  .small-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
  .small-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
  .small-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
  .small-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
  .small-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

@media only screen and (min-width: 641px) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
  .medium-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
  .medium-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
  .medium-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
  .medium-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
  .medium-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
  .medium-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

@media only screen and (min-width: 1025px) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
  .large-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
  .large-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
  .large-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
  .large-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
  .large-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
  .large-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

body,
button,
input,
select,
textarea {
  color: #0d0d0d;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-family: "Quattrocento Sans", sans-serif; }

#page {
  overflow: hidden; }

.rtp-site-content {
  margin-top: 1.875rem; }
  .rtp-site-content #primary .page-header .page-title span i {
    color: #0d0d0d; }
  .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link,
  .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link b,
  .rtp-site-content #primary .gs-imageResult a.gs-title:link,
  .rtp-site-content #primary .gs-imageResult a.gs-title:link b,
  .rtp-site-content #primary .gs-webResult div.gs-visibleUrl, .rtp-site-content #primary .gs-imageResult div.gs-visibleUrl {
    color: #fe0000; }
    .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link:hover,
    .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link:hover b,
    .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link b:hover,
    .rtp-site-content #primary .gs-webResult.gs-result a.gs-title:link b:hover b,
    .rtp-site-content #primary .gs-imageResult a.gs-title:link:hover,
    .rtp-site-content #primary .gs-imageResult a.gs-title:link:hover b,
    .rtp-site-content #primary .gs-imageResult a.gs-title:link b:hover,
    .rtp-site-content #primary .gs-imageResult a.gs-title:link b:hover b,
    .rtp-site-content #primary .gs-webResult div.gs-visibleUrl:hover,
    .rtp-site-content #primary .gs-webResult div.gs-visibleUrl:hover b, .rtp-site-content #primary .gs-imageResult div.gs-visibleUrl:hover,
    .rtp-site-content #primary .gs-imageResult div.gs-visibleUrl:hover b {
      color: #ADADAD; }
  .rtp-site-content #primary .gsc-control-cse .gs-spelling,
  .rtp-site-content #primary .gsc-control-cse .gs-result .gs-title,
  .rtp-site-content #primary .gsc-control-cse .gs-result .gs-title * {
    height: auto;
    line-height: 1.2 !important;
    text-decoration: none; }
  .rtp-site-content #primary .gsc-cursor .gsc-cursor-page,
  .rtp-site-content #primary .gsc-cursor .gsc-cursor-current-page {
    color: #0d0d0d; }
    .rtp-site-content #primary .gsc-cursor .gsc-cursor-page:hover,
    .rtp-site-content #primary .gsc-cursor .gsc-cursor-current-page:hover {
      color: #2b9dc7; }

#primary, .rtp-sidebar {
  margin-bottom: 1.875rem; }

.rtp-sidebar [class*="column"] + [class*="column"]:last-child, .rtp-above-footer [class*="column"] + [class*="column"]:last-child, .widget_inside_vanguard [class*="column"] + [class*="column"]:last-child {
  float: left; }

.rtp-box-title {
  margin-top: 0;
  line-height: 1;
  margin-bottom: 1.25rem;
  color: #fe0000;
  text-transform: uppercase;
  font-size: 1.5rem; }

.rtp-box {
  background: #fff;
  padding: 1.25rem;
  padding-top: 0.9375rem;
  margin-bottom: 1.875rem;
  position: relative;
  clear: both; }
  .rtp-box header {
    overflow: hidden; }
    .rtp-box header .rtp-box-title {
      float: left;
      max-width: 80%; }
  .rtp-box ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.rtp-box:last-child {
  margin-bottom: 0; }

.rtp-ad-spot-type-below-category, .rtp-ad-spot-type-below-top-box {
  margin-bottom: 1.25rem;
  text-align: center;
  overflow: hidden; }
  .rtp-ad-spot-type-below-category .inner-wrapper, .rtp-ad-spot-type-below-top-box .inner-wrapper {
    display: inline-block; }

.mobile_header_ad {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px; }

.mobile_top_ad {
  text-align: center;
  margin: 5px 0;
  width: 100%; }

.stButton .stMainServices {
  height: 22px; }

/*--------------------------------------------------------------
# Vendor
--------------------------------------------------------------*/
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #333;
  color: #fff;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  -moz-box-shadow: inset 0 0 5px 5px #222;
  box-shadow: inset 0 0 5px 5px #222; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr.left {
  left: -260px;
  right: auto; }

.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #fff;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -moz-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -o-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: linear-gradient(#4d4d4d, #1a1a1a);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); }

.sidr p {
  font-size: 13px;
  margin: 0 0 12px; }

.sidr p a {
  color: rgba(255, 255, 255, 0.9); }

.sidr > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a; }

.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover > a,
.sidr ul li ul li:hover > span,
.sidr ul li ul li.active > a,
.sidr ul li ul li.active > span,
.sidr ul li ul li.sidr-class-active > a,
.sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #222;
  -moz-box-shadow: inset 0 0 15px 3px #222;
  box-shadow: inset 0 0 15px 3px #222; }

.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button],
.sidr input[type=submit] {
  color: #333;
  background: #fff; }

.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9); }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.rtp-header-wrapper {
  background: #fff; }

.rtp-top-most {
  border-bottom: 1px solid #f1f1f1; }
  .rtp-top-most .rtp-right-part {
    overflow: hidden;
    float: right; }
  .rtp-top-most .rtp-date {
    color: #fe0000;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    float: left;
    border-right: 1px solid #f1f1f1;
    padding: 0.45rem 0.9375rem;
    font-family: "Open Sans Condensed", sans-serif; }
    .rtp-top-most .rtp-date time {
      display: inline-block; }
  .rtp-top-most .rtp-social {
    padding-left: 10px;
    float: right; }
  .rtp-top-most .rtp-header-search {
    display: none; }

.rtp-header-nav {
  float: left;
  max-width: 360px;
  max-height: 36px; }
  .rtp-header-nav .rtp-date {
    display: none; }

.rtp-mobile-share-icon {
  display: none; }

.rtp-social .rtp-facebook-box {
  float: left;
  margin-top: 5px; }

.rtp-social .rtp-twitter-box {
  float: right;
  text-align: right;
  margin-top: 8px; }

.gtc-list li {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.3125rem;
  line-height: 1.2;
  font-size: 0.87rem; }
  .gtc-list li a {
    font-size: 0.87rem; }

.gtc-list li:last-child {
  border-bottom: 0;
  margin-bottom: 0; }

a[title="SumoMe"], .sumome-control {
  display: none !important;
  opacity: 0;
  visibility: hidden; }

.rtp-site-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.rtp-site-branding {
  float: left;
  margin-right: 0.9375rem; }
  .rtp-site-branding img {
    max-width: 250px;
    max-height: 200px;
    display: block; }

.site-title {
  max-width: 240px;
  max-height: 110px;
  line-height: 1.6;
  margin: 0;
  overflow: hidden; }
  .site-title a {
    font-size: 2rem;
    display: inline-block;
    color: #fe0000; }

.rtp-header-ad {
  text-align: right;
  font-size: 0; }
  .rtp-header-ad .inner-wrapper {
    display: block; }
  .rtp-header-ad .rtp-ad-spot {
    display: inline-block; }
  .rtp-header-ad img {
    display: block; }

.rtp-site-header-inner {
  display: table; }

.rtp-branding-search {
  display: table-cell;
  vertical-align: middle; }

.rtp-header-ad {
  display: table-cell; }

.rtp-header-search {
  float: left;
  margin-top: 10px;
  width: 156px; }

.rtp-header-search .gsc-input .gsc-input-box, .widget-mobile .gsc-input .gsc-input-box {
  position: relative; }

.rtp-header-search .search-field, .widget-mobile .search-field {
  width: 100%;
  border-radius: 3px;
  background: #F3F3F3;
  border: none; }

.rtp-header-search table, .widget-mobile table {
  margin: 0; }

.rtp-header-search .gsst_a .gscb_a, .widget-mobile .gsst_a .gscb_a {
  vertical-align: bottom; }

.rtp-header-search .gsc-search-box-tools .gsc-search-box .gsc-input, .widget-mobile .gsc-search-box-tools .gsc-search-box .gsc-input {
  width: 100% !important;
  line-height: 1; }

.rtp-header-search .search-form, .widget-mobile .search-form {
  position: relative; }
  .rtp-header-search .search-form label, .widget-mobile .search-form label {
    width: 100%;
    display: block; }

.rtp-header-search .cse .gsc-control-cse, .rtp-header-search .gsc-control-cse, .widget-mobile .cse .gsc-control-cse, .widget-mobile .gsc-control-cse {
  padding: 0; }

.rtp-header-search .search-submit, .rtp-header-search .search-submit:hover, .rtp-header-search .search-submit:focus, .widget-mobile .search-submit, .widget-mobile .search-submit:hover, .widget-mobile .search-submit:focus {
  background: transparent;
  border: none;
  text-indent: -999px;
  border-radius: 0;
  box-shadow: none;
  line-height: 1;
  background-image: url("img/sprite.png");
  background-position: -76px -3px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 7px;
  outline: none; }

@media only screen and (max-width: 320px) {
  .logo-link img {
    max-width: none;
    width: 85%; } }

/*==============================
          HEADER NAV
===============================*/
.rtp-small-menu li {
  float: left;
  color: #B9B9B9;
  font-size: 0.6875rem;
  font-weight: 700; }
  .rtp-small-menu li ul {
    display: none; }

.rtp-small-menu a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5625rem;
  font-size: 0.6875rem;
  margin-top: 2px; }
  .rtp-small-menu a:hover {
    color: #fe0000; }

.rtp-small-menu li:after {
  content: '|'; }

.rtp-small-menu li:last-child:after {
  content: ''; }

.rtp-small-menu li:first-child a {
  padding-left: 0; }

/*==============================
          PRIMARY NAV
===============================*/
.rtp-site-navigation {
  background: #252525;
  position: relative; }
  .rtp-site-navigation ul li {
    float: left;
    position: relative; }
  .rtp-site-navigation ul li:hover > ul {
    display: inline-block; }
  .rtp-site-navigation ul a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.875rem; }
    .rtp-site-navigation ul a:hover {
      background: #fe0000; }
  .rtp-site-navigation ul ul {
    display: none;
    opacity: 0.9;
    position: absolute;
    z-index: 9999;
    top: 41px;
    background: #252525;
    left: -1px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s; }
    .rtp-site-navigation ul ul li {
      float: none;
      border-bottom: 1px solid #444; }
      .rtp-site-navigation ul ul li a {
        width: 200px; }
    .rtp-site-navigation ul ul li:last-child {
      border-bottom: none; }
    .rtp-site-navigation ul ul ul {
      left: 200px;
      top: 0; }
  .rtp-site-navigation .current_page_item > a,
  .rtp-site-navigation .current-menu-item > a,
  .rtp-site-navigation .current_page_ancestor > a {
    background: #fe0000; }

/*==============================
          OTHER NAVS
===============================*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*==============================
          Mobile Menu
===============================*/
#rtp-mobile-nav-more {
  display: none;
  color: #fff;
  font-size: 11px;
  font-size: 0.875rem;
  padding: 10px 15px;
  float: right;
  background: #252525;
  text-transform: uppercase;
  cursor: pointer; }
  #rtp-mobile-nav-more:hover {
    background: transparent; }

#rtp-mobile-nav-div {
  position: absolute;
  right: 0;
  top: 0; }
  #rtp-mobile-nav-div ul {
    position: absolute;
    display: none;
    top: 42px;
    right: 0;
    width: 150px;
    background: #252525;
    z-index: 99; }
    #rtp-mobile-nav-div ul li, #rtp-mobile-nav-div ul li a {
      width: 100%; }
    #rtp-mobile-nav-div ul li ul {
      display: none; }

/**Sidr**/
.sidr ul ul {
  display: none; }

.sidr .sidr-class-menu-item-has-children > a {
  overflow: hidden;
  padding-right: 0; }

.sidr .sidr-class-menu-item-has-children .plus-oc {
  margin-left: 5px;
  width: 40px;
  display: inline-block;
  background-color: #626262;
  text-align: center;
  position: relative;
  z-index: 2;
  float: right;
  padding-left: 10px;
  padding-right: 10px; }

.sidr .rtp-close-sidr {
  padding-left: 10px;
  cursor: pointer;
  color: #ccc;
  position: relative; }
  .sidr .rtp-close-sidr:after {
    content: '';
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    background-position: -67px -30px;
    width: 22px;
    height: 32px;
    display: inline-block;
    vertical-align: middle; }

.rtp-news-ticker-translate {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
  .rtp-news-ticker-translate .rtp-translate {
    float: right;
    text-align: right; }
    .rtp-news-ticker-translate .rtp-translate span {
      text-transform: uppercase;
      font-size: 0.6875rem;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700; }

.rtp-news-ticker-container {
  max-width: 70%;
  float: left; }

.rtp-ticker-title {
  margin: 0;
  display: inline-block;
  margin-right: 5px; }
  .rtp-ticker-title a {
    color: #312e2e;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: none; }

.rtp-news-ticker li {
  display: none; }

.rtp-news-ticker li:first-child {
  display: inline-block; }

.rtp-ticker-readmore {
  color: #ADADAD;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem; }
  .rtp-ticker-readmore:hover {
    color: #fe0000; }

#google_translate_element {
  display: inline-block;
  margin-left: 0.5rem; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body {
  background: #f1f1f1;
  /* Fallback for when there is no custom background color defined. */ }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*---------------------------
		All Widgets
---------------------------*/
.widget {
  overflow: hidden; }
  .widget select {
    max-width: 100%; }
  .widget li h2 {
    line-height: 1.1; }
    .widget li h2 a {
      font-size: 1.125rem;
      text-transform: none;
      color: #0d0d0d; }
      .widget li h2 a:hover {
        color: #ADADAD; }
  .widget .search-field {
    width: 90%; }

.widget.widget_vanguard_ad {
  padding: 0;
  text-align: center;
  overflow: hidden; }

.widget-sidebar {
  margin-bottom: 1.875rem;
  background: #fff;
  padding: 1.25rem;
  padding-top: 0.9375rem; }
  .widget-sidebar .widget-title {
    margin-bottom: 0.9375rem; }
  .widget-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .widget-sidebar li a {
    color: #000; }
    .widget-sidebar li a:hover {
      color: #ADADAD; }

.widget-sidebar:last-child {
  margin-bottom: 0; }

.widget-title, .widget-title a {
  color: #fe0000;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 0;
  font-size: 1rem !important;
  margin-top: 0;
  line-height: 1; }

.widget-footer .widget-title {
  color: #fe0000;
  font-size: 1.125rem;
  margin-bottom: 5px; }

/*---------------------------
		Search widget
---------------------------*/
.widget_search .search-submit {
  display: none; }

/*---------------------------
		Latest News
---------------------------*/
.widget_vanguard_latest_news header, .widget_vanguard_most_read header {
  overflow: hidden;
  margin-bottom: 0.9375rem; }
  .widget_vanguard_latest_news header .widget-title, .widget_vanguard_most_read header .widget-title {
    float: left;
    margin-bottom: 0; }

.widget_vanguard_latest_news ul, .widget_vanguard_most_read ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.widget_vanguard_latest_news li, .widget_vanguard_most_read li {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.3125rem;
  line-height: 1.2; }
  .widget_vanguard_latest_news li span, .widget_vanguard_most_read li span {
    margin: 0;
    margin-right: 0.3125rem;
    display: inline; }
    .widget_vanguard_latest_news li span a, .widget_vanguard_most_read li span a {
      font-size: 0.9375rem; }

.widget_vanguard_latest_news li:last-child, .widget_vanguard_most_read li:last-child {
  border-bottom: 0;
  margin-bottom: 0; }
  .widget_vanguard_latest_news li:last-child span, .widget_vanguard_most_read li:last-child span {
    margin-bottom: 0; }

.widget_vanguard_latest_news .post-date, .widget_vanguard_most_read .post-date {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8125rem;
  color: #C51111;
  font-size: 1rem; }

/*---------------------------
		Most Read
---------------------------*/
.widget_vanguard_most_read .rtp-most-read-title {
  width: 78%;
  float: left; }

.widget_vanguard_most_read .rtp-view-count {
  text-align: center;
  display: inline-block;
  background: #464646;
  color: #fff;
  padding: 0.125rem 0.5rem 0 0.5rem;
  font-size: 0.75rem;
  border-radius: 3px;
  min-width: 26px;
  float: right;
  margin-top: 0.3125rem; }

.widget_vanguard_most_read li {
  overflow: hidden; }

/*---------------------------
		Cat Widget
---------------------------*/
.widget_vanguard_cat_widget ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.widget_vanguard_cat_widget img.attachment-thumbnail, .widget_vanguard_cat_widget img.attachment-medium {
  max-height: 106px;
  height: 106px;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 3px; }

.widget_vanguard_cat_widget .rtp-read-more {
  color: #fe0000;
  display: inline-block;
  margin-top: 0.9375rem; }

.widget_vanguard_cat_widget li {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 6px;
  margin-bottom: 10px;
  line-height: 1.3; }
  .widget_vanguard_cat_widget li h2 {
    font-size: 1rem;
    clear: none; }
    .widget_vanguard_cat_widget li h2 a {
      font-size: inherit; }

.widget_vanguard_cat_widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }
  .widget_vanguard_cat_widget li:last-child h2 {
    margin-bottom: 0; }

.widget_vanguard_cat_widget p {
  margin: 0;
  margin-top: 5px; }

.widget-above-footer {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  .widget-above-footer .widget-title a {
    text-transform: uppercase;
    font-size: 1.125rem; }

/*---------------------------
		Colums Nav
---------------------------*/
.rtp-column-nav ul {
  margin: 0;
  padding: 0; }

.rtp-column-nav .menu-item-has-children > a {
  color: #fe0000;
  cursor: default;
  display: inline-block;
  margin-bottom: 0.3125rem; }

.rtp-column-nav .menu-item-has-children:nth-child(3n) {
  float: left; }

.rtp-column-nav .rtp-cat-column .menu-item-has-children:first-child {
  margin-bottom: 1.5625rem; }

/*---------------------------
		Calendar
---------------------------*/
.widget_calendar table {
  margin-bottom: 0;
  text-align: center; }

.widget_calendar caption {
  margin-bottom: 0.625rem;
  color: #fe0000; }

.widget_calendar td a {
  color: #fe0000; }

.widget_calendar #prev {
  text-align: left;
  padding-top: 0.625rem; }

.widget_calendar #next {
  text-align: right;
  padding-top: 0.625rem; }

/*---------------------------
		Recent Comments
---------------------------*/
.widget_recent_comments .comment-author-link {
  color: #fe0000; }

.widget_recent_comments li {
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid #EFEFEF;
  font-family: "Open Sans Condensed", sans-serif; }

.widget_recent_comments li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

/*---------------------------
		Footer Widgets
---------------------------*/
.rtp-footer-widgets .widget {
  margin-bottom: 1.25rem; }
  .rtp-footer-widgets .widget h2 a {
    color: #B9B9B9; }
  .rtp-footer-widgets .widget p {
    color: #f1f1f1; }

.rtp-footer-widgets .widget_calendar table {
  color: #fff; }

.rtp-footer-widgets .widget_recent_comments li {
  color: #fff; }

/*---------------------------
		Home Categories
---------------------------*/
.widget_vanguard_home_categories .rtp-cat-left {
  border-right: 1px solid #EFEFEF; }

.widget_vanguard_home_categories ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.widget_vanguard_home_categories .widget-title {
  float: left;
  line-height: 1; }

.widget_vanguard_home_categories header {
  overflow: hidden; }

.widget_vanguard_home_categories li {
  overflow: hidden;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border-bottom: 1px solid #EFEFEF; }

.widget_vanguard_home_categories li:first-child .rtp-thumb {
  width: 100%; }
  .widget_vanguard_home_categories li:first-child .rtp-thumb img {
    width: 100%;
    max-width: 100%;
    height: 170px;
    max-height: 100%;
    margin-bottom: 10px; }

.widget_vanguard_home_categories li:last-child {
  border-bottom: none; }

.widget_vanguard_home_categories .rtp-thumb {
  display: inline-block;
  float: left;
  margin-right: 0.625rem;
  width: 58px; }
  .widget_vanguard_home_categories .rtp-thumb img {
    width: 100%;
    max-height: 58px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 3px; }

.widget_vanguard_home_categories .rtp-cat-post-title {
  font-size: 15px;
  margin: 0;
  line-height: 1.3; }
  .widget_vanguard_home_categories .rtp-cat-post-title a {
    font-size: inherit; }

.widget-sidebar-first.widget_vanguard_ad, .widget-sidebar-mobile.widget_vanguard_ad {
  background: transparent; }
  .widget-sidebar-first.widget_vanguard_ad img, .widget-sidebar-mobile.widget_vanguard_ad img {
    vertical-align: bottom; }

.widget-sidebar.widget_vanguard_ad {
  background-color: transparent; }

/*==============================
          Above Footer
===============================*/
.rtp-above-footer {
  margin-bottom: 1.875rem; }
  .rtp-above-footer .inner-wrapper {
    background: #fff;
    padding-top: 1.25rem; }

/** Above Footer  */
.widget-above-footer {
  border-right: 1px solid #EFEFEF;
  padding-bottom: 0.9375rem; }

.widget-above-footer:last-child {
  border-right: none; }

/*---------------------------
	 vanguard_top_stories
---------------------------*/
.widget_vanguard_top_stories {
  overflow: visible; }
  .widget_vanguard_top_stories ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.rt-home-slider ul {
  min-height: 200px; }

li.rtp-slide {
  display: none; }

.vanguard-slides li, .vanguard-vertical-slides li {
  display: none; }

.vanguard-slides li:first-child, .vanguard-vertical-slides li:first-child {
  display: block; }

.rt-home-slider .rtp-cycle-pager {
  width: 32%;
  position: absolute;
  z-index: 101;
  background-color: #fff;
  right: 0;
  bottom: 1.25rem;
  overflow: hidden;
  height: 20px; }
  .rt-home-slider .rtp-cycle-pager span {
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 100%;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer; }
  .rt-home-slider .rtp-cycle-pager .cycle-pager-active {
    background: transparent;
    border: 1px solid #999;
    width: 15px;
    height: 15px;
    cursor: default;
    position: relative;
    top: 3px; }

.rt-home-slider .rtp-next, .rt-home-slider .rtp-prev {
  width: 48px;
  height: 43px;
  background: url("img/sprite.png");
  position: absolute;
  top: 43.45%;
  z-index: 2;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0; }

.rt-home-slider .rtp-next {
  right: -50px;
  background-position: 0px -81px; }

.rt-home-slider .rtp-prev {
  left: -50px;
  background-position: 0px -28px; }

.rt-home-slider:hover .rtp-next {
  right: 0;
  opacity: 1; }

.rt-home-slider:hover .rtp-prev {
  left: 0;
  opacity: 1; }

.vanguard-slides {
  z-index: 1; }
  .vanguard-slides ul {
    list-style: none; }

.rtp-slide {
  border: none;
  overflow: hidden; }
  .rtp-slide .rtp-slide-thumb {
    max-width: 300px;
    max-height: 200px;
    width: 50%;
    overflow: hidden;
    margin-right: 20px;
    float: left; }
    .rtp-slide .rtp-slide-thumb img {
      width: 100%;
      max-height: 201px; }
  .rtp-slide .rtp-slide-content {
    overflow: hidden;
    max-height: 182px; }
    .rtp-slide .rtp-slide-content p {
      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;
      font-size: 0.9375rem;
      font-family: inherit; }
  .rtp-slide .rtp-slide-title {
    margin-top: 0;
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
    line-height: 1.1; }
    .rtp-slide .rtp-slide-title a {
      font-size: inherit;
      font-family: inherit; }

/*---------------------------
	Mobile Top Stories
---------------------------*/
.vanguard-mobile-top-stories ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.vanguard-mobile-top-stories li {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem; }

.vanguard-mobile-top-stories li:after, .vanguard-mobile-top-stories li:before {
  content: "";
  display: table;
  clear: both; }

.vanguard-mobile-top-stories li:last-child {
  border-bottom: none;
  padding-bottom: 0; }

.vanguard-mobile-top-stories .rtp-thumb {
  float: left;
  margin-right: 0.625rem;
  width: 58px; }
  .vanguard-mobile-top-stories .rtp-thumb img {
    width: 100%; }

.vanguard-mobile-top-stories .rtp-title {
  margin: 0;
  line-height: 1.3;
  margin-top: -5px; }

.vanguard-mobile-top-stories .float-left {
  float: left; }

.vanguard-mobile-top-stories .top-stories-img {
  width: 25%; }

.vanguard-mobile-top-stories .top-stories-content {
  width: 70%; }

/*---------------------------
		Widget Mobile
---------------------------*/
.widget-mobile {
  margin-bottom: 0; }
  .widget-mobile li a {
    color: #3B3B3B; }
  .widget-mobile form .search-field {
    width: 100%; }
  .widget-mobile form .search-submit {
    display: inline-block; }

.widget-mobile.widget_categories select {
  width: 100%; }

.widget_nav_menu.widget-mobile ul {
  margin-top: -0.5rem;
  margin-left: -0.3125rem; }

.widget_nav_menu.widget-mobile li {
  float: left;
  font-size: 0.8125rem; }
  .widget_nav_menu.widget-mobile li a {
    padding: 0.5rem 0.3125rem;
    display: inline-block;
    font-size: inherit; }

.widget_nav_menu.widget-mobile li:after {
  content: '|';
  color: inherit; }

.widget_nav_menu.widget-mobile li:last-child:after {
  content: ''; }

.widget-mobile.widget_vanguard_ad {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

/*---------------------------
	Inside Vanguard Mobile
---------------------------*/
.widget-mobile.widget_inside_vanguard .rtp-inside-vanguard-cat-box {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem;
  padding-left: 0; }

.widget-mobile.widget_inside_vanguard .rtp-inside-vanguard-cat-box:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0; }

.widget-mobile.widget_inside_vanguard .rtp-inside-vanguard-cat-box:nth-child(2n+1) {
  border-right: none;
  padding-right: 0; }

.widget-mobile.widget_inside_vanguard .rtp-cat-title, .widget-mobile.widget_inside_vanguard .rtp-cat-title a {
  font-size: 0.8125rem;
  margin-top: 0; }

.widget-mobile.widget_inside_vanguard .rtp-cat-post-title {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.4; }
  .widget-mobile.widget_inside_vanguard .rtp-cat-post-title a {
    font-size: inherit; }

.widget-mobile.widget_inside_vanguard .row {
  margin: 0; }

.widget_vanguard_home_categories li:first-child .rtp-thumb {
  width: 100%; }

@media only screen and (max-width: 640px) {
  body #page {
    overflow: visible; }
  .widget_vanguard_latest_news li span a, .widget_vanguard_most_read li span a {
    font-weight: normal; }
  .widget_vanguard_top_stories .rtp-thumb img {
    width: 58px;
    height: 58px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 3px; }
  .NA .ob_container {
    height: 660px; }
  #rtp-comments-thread {
    clear: both; } }

.widget_vanguard_top_stories .top-stories-img {
  margin-right: 10px; }

.widget_vanguard_latest_news .post-date, .widget_vanguard_most_read .post-date {
  color: #C51111; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-title, .page-title {
  color: #312e2e;
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.9375rem; }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.site-main {
  background: #fff;
  padding: 0.9375rem 1.25rem;
  min-height: 9.375rem;
  position: relative; }

.entry-meta {
  color: #959595;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700; }
  .entry-meta .meta-tag {
    color: #B9B9B9; }
    .entry-meta .meta-tag a {
      color: #fe0000; }
  .entry-meta .posted-on a {
    color: #B9B9B9; }
  .entry-meta .meta-tag:after {
    content: '/';
    margin-left: 0.3125rem;
    margin-right: 0.3125rem; }
  .entry-meta .meta-tag:last-child:after {
    content: ''; }
  .entry-meta .rtp-meta-time {
    display: inline-block;
    margin-left: 3px; }

.rtp-post-navigation {
  overflow: hidden; }
  .rtp-post-navigation a {
    display: inline-block; }
  .rtp-post-navigation .rtp-nav-link {
    margin-bottom: 0.625rem;
    color: #252525;
    background-repeat: no-repeat;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    display: block; }
  .rtp-post-navigation .rtp-thumb-link {
    margin-bottom: 0.625rem; }
    .rtp-post-navigation .rtp-thumb-link img {
      width: auto;
      max-height: 121px; }
  .rtp-post-navigation h4 {
    display: block;
    margin: 0; }

.rtp-prev-post {
  text-align: left; }
  .rtp-prev-post .rtp-nav-link:hover {
    color: #fe0000; }
  .rtp-prev-post .rtp-nav-link:before {
    content: '';
    background-image: url("img/sprite.png");
    width: 21px;
    display: inline-block;
    height: 16px;
    background-position: 0px 121px;
    vertical-align: middle;
    margin-right: 5px; }

.rtp-next-post {
  text-align: right; }
  .rtp-next-post .rtp-nav-link:hover {
    color: #fe0000; }
  .rtp-next-post .rtp-nav-link:after {
    content: '';
    background-image: url("img/sprite.png");
    width: 21px;
    display: inline-block;
    height: 16px;
    background-position: -39px 121px;
    vertical-align: middle;
    margin-left: 5px; }

/*==============================
          Author Box
===============================*/
.rtp-author-box {
  border: 1px solid #EFEFEF;
  overflow: hidden;
  padding: 0.9375rem;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem; }
  .rtp-author-box .avatar {
    float: left;
    margin-right: 0.9375rem;
    margin-bottom: 0.9375rem; }
  .rtp-author-box h2 {
    clear: none;
    font-size: 1.17em;
    color: #fe0000;
    text-transform: uppercase; }
  .rtp-author-box .rtp-authorinfo {
    clear: both; }
  .rtp-author-box .rtp-author-link {
    display: block;
    margin-top: 0.625rem; }
  .rtp-author-box .meta-nav {
    vertical-align: middle; }
  .rtp-author-box .rtp-find-below {
    margin-bottom: 0;
    font-style: italic; }

.rtp-author-box.rtp-no-avatar h1 {
  margin-top: 0; }

.author .rtp-author-box {
  background: #fff;
  border: none;
  margin-top: 0; }

p .rtp-read-more-link {
  display: inline-block; }

.rtp-listing-post {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #EFEFEF; }
  .rtp-listing-post .entry-meta {
    margin-bottom: 0.625rem;
    font-size: 0.65rem; }
    .rtp-listing-post .entry-meta .rtp-comment-link, .rtp-listing-post .entry-meta .rtp-meta-time, .rtp-listing-post .entry-meta .byline {
      display: none; }
    .rtp-listing-post .entry-meta .rtp-meta-cat:after {
      content: ''; }
  .rtp-listing-post .rtp-thumb img {
    max-height: 320px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 3px; }
  .rtp-listing-post p {
    margin-top: 0;
    margin-bottom: 0; }

.rtp-listing-post:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0; }

.rtp-listing-post.has-post-thumbnail .rtp-post-thumbnail {
  float: left;
  padding-right: 0.9375rem;
  width: 37%; }

.rtp-listing-post.has-post-thumbnail .rtp-post-content {
  float: left;
  width: 63%; }

.news-page .rtp-listing-post {
  padding-bottom: 0px; }
  .news-page .rtp-listing-post .entry-title {
    font-size: 1.3125rem;
    margin-bottom: 0.75rem; }
  .news-page .rtp-listing-post .entry-meta .rtp-comment-link, .news-page .rtp-listing-post .entry-meta .rtp-meta-time, .news-page .rtp-listing-post .entry-meta .byline {
    display: inline-block; }
  .news-page .rtp-listing-post.has-post-thumbnail .rtp-post-content {
    float: left;
    width: auto; }

.rtp-pagination {
  text-align: center;
  margin-top: 0.9375rem; }
  .rtp-pagination a {
    background: #fff;
    transition: 0.5s; }
  .rtp-pagination a:hover {
    background: #fe0000;
    color: #fff; }
  .rtp-pagination span.current {
    background: transparent; }
  .rtp-pagination .page-numbers {
    padding: 0.625rem;
    text-align: center;
    margin-right: 0.9375rem;
    text-transform: uppercase;
    color: #252525;
    font-size: 0.8125rem;
    display: inline-block;
    margin-top: 0.9375rem; }
  .rtp-pagination .page-numbers.dots, .rtp-pagination span.current {
    color: #B9B9B9; }

/*==============================
          Category
===============================*/
.rtp-cat-latest-text {
  position: absolute;
  top: 0;
  right: 0;
  background: #fe0000;
  padding: 0 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  z-index: 1; }

.rtp-latest-cat-post .rtp-thumb {
  text-align: center;
  display: block; }

.rtp-latest-cat-post img {
  width: auto;
  margin-top: 1.25rem; }

.rtp-latest-cat-post .rtp-cat-divider {
  background: #f1f1f1;
  height: 2rem;
  width: 150%;
  position: absolute;
  bottom: 0;
  left: -30%; }

.rtp-latest-cat-post .rtp-post-title {
  margin: 0; }

.rtp-latest-cat-post p {
  margin-bottom: 0; }

.rtp-latest-cat-post.rtp-box {
  padding-bottom: 3.125rem;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.875rem;
  padding-top: 0;
  position: relative; }
  .rtp-latest-cat-post.rtp-box .entry-title {
    font-size: 1.75rem;
    margin-bottom: 1.125rem;
    line-height: 1.2; }

.site-main .page-header {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 1.875rem; }
  .site-main .page-header .page-title {
    color: #fe0000; }

.site-main .rtp-ad-spot-type-after-archive-post {
  margin-bottom: 1.25rem;
  text-align: center; }

.single .rtp-readmore-2 {
  margin-bottom: 0.625rem;
  color: #fff; }

.single a.rtp-readmore-2.rtp-read-more-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 115px; }

/*==============================
          404 Page
===============================*/
.error404 .page-content .search-field {
  width: 87%; }

/*==============================
        Latest News Single
===============================*/
.rtp-latest-news-single {
  border-top: 1px solid #EFEFEF;
  margin-top: 1.5625rem; }
  .rtp-latest-news-single ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .rtp-latest-news-single .red-title {
    margin-bottom: 0; }
  .rtp-latest-news-single li {
    margin-top: 20px; }
  .rtp-latest-news-single img {
    width: 100%;
    max-height: 120px; }
  .rtp-latest-news-single .rtp-latest-news-title {
    margin: 0; }

/*==============================
     Google Search Pagination
===============================*/
.site-main .gsc-selected-option {
  font-size: 0.5625rem; }

.site-main .gsc-results .gsc-cursor-box {
  text-align: center; }

.site-main .gsc-selected-option-container.gsc-inline-block {
  padding: 0;
  margin-left: 0.3125rem; }

.site-main .gsc-table-result, .site-main .gsc-thumbnail-inside, .site-main .gsc-url-top {
  padding-left: 0; }

.site-main .gsc-control-cse {
  padding-top: 0; }
  .site-main .gsc-control-cse table {
    margin: 0; }

.site-main .gsc-control-cse .gsc-option-selector {
  display: none; }

.site-main .gsc-result .gs-title {
  overflow: visible; }

body.search-results .page-header {
  margin-bottom: 0; }

/*---------------------------
		Share Icons
---------------------------*/
.crunchify-social {
  display: inline-block;
  margin-bottom: 1.25rem; }
  .crunchify-social h5 {
    float: left;
    margin: 0;
    margin-right: 0.625rem;
    line-height: 2.3; }
  .crunchify-social .crunchify-link {
    padding: 0.3125rem 0.625rem;
    color: #fff;
    display: inline-block;
    font-size: 0.6875rem; }
    .crunchify-social .crunchify-link:hover {
      opacity: 0.8; }
  .crunchify-social .crunchify-twitter {
    background: #40B7D9; }
  .crunchify-social .crunchify-facebook {
    background: #3B5997; }
  .crunchify-social .crunchify-googleplus {
    background: #D64937; }
  .crunchify-social .crunchify-buffer {
    background: #444444; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comments-area .comment-list {
  padding: 0;
  margin: 0; }

.comments-area .comment-author img {
  float: left;
  margin-right: 0.9375rem; }

.comments-area .comment-author .url {
  color: #fe0000;
  text-transform: capitalize; }

.comments-area li.comment {
  border-bottom: 1px solid #EFEFEF;
  overflow: hidden;
  margin-bottom: 1.5625rem; }

.comments-area li.comment:last-child {
  border-bottom: none; }

.comments-area .comment-body {
  margin-bottom: 1.25rem; }
  .comments-area .comment-body p {
    margin-bottom: 0.3125rem; }

.comments-area ol.children {
  margin-bottom: 0; }

.form-allowed-tags {
  display: none; }

/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/*==============================
       Home Page Template
===============================*/
body.page-template-home-template .site-main {
  background: transparent; }

/*==============================
          CAT BOX
===============================*/
.vanguard-vertical-slides {
  width: 48%;
  float: left; }

.rtp-cat-slide-items {
  width: 48%;
  float: right; }
  .rtp-cat-slide-items img {
    width: 26.4%;
    float: left;
    padding-right: 6%; }
  .rtp-cat-slide-items .rtp-title {
    color: #312e2e;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 1.2;
    overflow: hidden;
    clear: none;
    margin: 0;
    font-size: 1rem; }
  .rtp-cat-slide-items div {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 1.25rem;
    padding-top: 1.125rem;
    overflow: hidden;
    cursor: pointer;
    padding-left: 4%; }
    .rtp-cat-slide-items div:hover, .rtp-cat-slide-items div.cycle-pager-active {
      background: #f1f1f1; }
  .rtp-cat-slide-items div:last-child {
    border-bottom: none; }

.rtp-cat-slide-content .rtp-read-more {
  color: #fe0000;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 900;
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 0.625rem; }

.rtp-cat-slide-content .rtp-slide-title {
  font-size: 1.1875rem; }

.rtp-cat-slide-content .rtp-slide-meta {
  color: #959595;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem; }
  .rtp-cat-slide-content .rtp-slide-meta a, .rtp-cat-slide-content .rtp-slide-meta .rtp-cat-list {
    color: #fe0000; }

.rtp-cat-slide-content .rtp-slide-main-content {
  max-height: 463px;
  overflow: hidden; }
  .rtp-cat-slide-content .rtp-slide-main-content img {
    max-height: 181px;
    width: 100%; }
  .rtp-cat-slide-content .rtp-slide-main-content p {
    font-size: 0.9375rem;
    color: #464646; }

.rtp-cat-slide-content .rtp-thumb img {
  width: 100%; }

.rtp-inside-vanguard-cat-box .rtp-cat-title {
  color: #fe0000;
  text-transform: uppercase;
  font-size: 1.25rem; }

.rtp-inside-vanguard-cat-box .rtp-cat-content {
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 0.9375rem; }
  .rtp-inside-vanguard-cat-box .rtp-cat-content p {
    font-size: 0.875rem;
    line-height: 1.2;
    color: #464646;
    margin-top: 0; }

.rtp-inside-vanguard-cat-box .rtp-cat-content:last-child {
  border-bottom: none;
  margin-bottom: 0; }

.rtp-inside-vanguard-cat-box .rtp-cat-post-title {
  font-size: 1rem;
  clear: none;
  margin-top: 0; }

.rtp-inside-vanguard-cat-box .rtp-title-thumb {
  overflow: hidden; }
  .rtp-inside-vanguard-cat-box .rtp-title-thumb img {
    max-width: 120px;
    float: left;
    margin-right: 0.9375rem;
    margin-bottom: 0.625rem; }

.rtp-inside-vanguard-cat-box .rtp-excerpt {
  clear: both; }

.rtp-inside-vanguard-cat-box li:first-child .rtp-thumb {
  width: auto; }
  .rtp-inside-vanguard-cat-box li:first-child .rtp-thumb img {
    width: 100%;
    max-width: 100%;
    height: 170px;
    max-height: 100%;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 3px; }

.rtp-inside-vanguard-cat-box:nth-child(2n+1) {
  clear: both;
  border-right: 1px solid #EFEFEF;
  padding-right: 20px; }

.rtp-inside-vanguard-cat-box:nth-child(2n) {
  padding-left: 20px; }

/*==============================
          AUTHOR LIST
===============================*/
.author-page li {
  height: 75px;
  list-style: none; }
  .author-page li .rtp-author {
    margin: 5px 0; }
    .author-page li .rtp-author img {
      margin-right: 10px;
      width: 75px;
      height: 75px; }

.sharer {
  margin: 10px 0; }

.share-button {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: white; }

.share-button.fb {
  background: #3b5998; }

.share-button.twitter {
  background: #00aced; }

.share-button.gp {
  background: #dd4b39; }

.share-button.wa {
  background: #43d854; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*==============================
          Footer
===============================*/
.rtp-site-footer {
  background: #252525; }

.rtp-footer-widgets {
  padding-top: 1.875rem; }
  .rtp-footer-widgets .rtp-footer-widgets-left a, .rtp-footer-widgets .sub-menu a {
    color: #B9B9B9; }
  .rtp-footer-widgets .rtp-footer-widgets-left a:hover, .rtp-footer-widgets .sub-menu a:hover {
    color: #464646; }

.rtp-footer-bottom {
  padding-top: 0.625rem;
  padding-bottom: 3.4375rem; }
  .rtp-footer-bottom .site-info {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #fff;
    font-size: 0.75rem;
    font-family: "Quattrocento Sans", sans-serif; }
    .rtp-footer-bottom .site-info a {
      color: #f1f1f1;
      text-transform: none;
      font-size: 0.75rem;
      font-family: "Quattrocento Sans", sans-serif; }

.rtp-footer-border hr {
  margin-bottom: 0;
  margin-top: 0; }

.footer-nav > div {
  float: right; }
  .footer-nav > div li:last-child a {
    padding-right: 0; }

/*==============================
          Mobile Footer
===============================*/
.rtp-footer-widgets-right .widget-title {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.rtp-mobile-nav {
  border-bottom: 2px solid #292929; }

.rtp-mobile-nav li {
  float: left; }
  .rtp-mobile-nav li ul {
    display: none; }
  .rtp-mobile-nav li a {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 0.6875rem;
    color: #959595;
    padding: 0.9375rem 0.3125rem;
    display: block;
    font-weight: 700; }

.rtp-font-resizer {
  border-bottom: 1px solid #292929; }
  .rtp-font-resizer .text-size a {
    color: #fff; }
  .rtp-font-resizer li {
    float: left;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 0.6875rem;
    color: #959595;
    padding: 0.9375rem 0.3125rem;
    display: block;
    font-weight: 700; }

.rtp-mobile-footer .rtp-logo-copyright {
  margin-top: 1.25rem; }

.rtp-mobile-footer .rtp-site-branding {
  text-align: left;
  float: none;
  margin-right: 0;
  margin-bottom: 1.25rem; }

.rtp-mobile-footer .rtp-copyright-text {
  float: none;
  color: #999999; }
  .rtp-mobile-footer .rtp-copyright-text a {
    color: #999999; }

.rtp-copyright-text {
  color: #fff;
  font-size: 0.6875rem;
  padding-bottom: 0.9375rem;
  color: #fe0000; }

/*---------------------------
		Back to Top
---------------------------*/
.rtp-back-to-top {
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -58px -78px;
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99999;
  opacity: 0.5;
  cursor: pointer;
  display: none; }
  .rtp-back-to-top:hover {
    opacity: 1;
    transition: 0.5s; }

.widget_text {
  background: none;
  padding: 0; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/**
 * Contains only media queries for desktops
 */
@media only screen and (min-width: 1025px) {
  .widget-above-footer:nth-child(6n+1) {
    clear: both; }
  body.page-template-home-template .site-main {
    padding: 0; } }

@media only screen and (min-width: 641px) {
  .rtp-breaking-news-title {
    background-color: #fe0000;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 13px;
    line-height: 1.1;
    padding: 4px 10px;
    margin-right: 20px;
    float: left;
    border-radius: 2px 0 0 2px;
    position: relative; }
  .rtp-breaking-news-title:after {
    content: '';
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    border-left: 9px solid #fe0000;
    width: 0;
    height: 0;
    position: absolute;
    right: -9px;
    top: 0; }
  .rtp-sidebar-mobile {
    display: none; } }

/**
 *  Contains Media Queries for sizes between 1440 - 1025
 */
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .rtp-header-search {
    margin-top: 0;
    margin-top: 5px; }
  #rtp-primary-nav {
    max-width: 90%;
    overflow: hidden;
    float: left; } }

@media only screen and (max-width: 1100px) {
  #rtp-primary-nav {
    position: relative;
    max-width: 85%;
    max-height: 42px;
    overflow: hidden;
    float: left; }
    #rtp-primary-nav > ul {
      position: relative; }
  /** TOP MOST **/
  .rtp-top-most .rtp-right-part {
    float: none;
    clear: both;
    border-top: 1px solid #EFEFEF; }
  .rtp-top-most .rtp-date {
    padding-left: 0; }
  .rtp-top-most .rtp-header-nav {
    float: none;
    max-width: 100%;
    position: relative; }
  .rtp-top-most .rtp-header-search {
    float: right;
    padding-top: 0;
    margin-top: 0.3125rem;
    display: inline-block; }
  .menu-header-menu-container {
    float: left; }
  .rtp-right-part .rtp-date {
    display: none; }
  .rtp-header-nav .rtp-date {
    display: inline-block;
    float: right;
    margin-right: 1.125rem; }
  .rtp-top-most .rtp-social {
    width: 100%;
    padding-left: 0; }
  /**** SITE HEADER ***/
  .rtp-site-header .rtp-header-search {
    display: none; } }

/**
 *  Contains Media Queries for sizes between 1024 - 641
 */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .widget-sidebar-right {
    width: 31%;
    margin-right: 3.5%; }
  .widget-sidebar-right:nth-child(3n) {
    margin-right: 0; }
  #rtp-mobile-nav-more {
    font-size: 14px;
    font-size: 0.875rem;
    padding-bottom: 8px;
    cursor: pointer; }
  .rtp-footer-widgets-right [class*="column"] + [class*="column"]:last-child {
    /* float: none; */
    margin-top: 1.5625rem; } }

@media only screen and (max-width: 950px) {
  .logo-link img {
    max-width: 200px; }
  .widget-above-footer {
    margin-bottom: 1.25rem; }
    .widget-above-footer:nth-child(4n+1) {
      clear: both; }
  .wp-caption {
    max-width: 100% !important;
    margin-right: 0;
    margin-left: 0; } }

@media only screen and (max-width: 815px) {
  .rtp-social .rtp-twitter-box {
    float: right; }
  .logo-link img {
    max-width: 200px; } }

@media only screen and (max-width: 730px) and (min-width: 641px) {
  .widget-sidebar.widget_vanguard_latest_news .rtp-view-all {
    float: none;
    clear: both; }
  .widget-sidebar.widget_vanguard_latest_news .widget-title {
    float: none; } }

@media only screen and (max-width: 765px) {
  .rtp-top-most .rtp-social {
    padding-left: 0; }
  .rtp-top-most .rtp-right-part {
    overflow: visible; }
  .rtp-translate {
    display: none; }
  .rtp-news-ticker-container {
    max-width: none;
    width: 100%; }
  .rtp-news-ticker li {
    max-width: 100%; } }

@media only screen and (max-width: 690px) and (min-width: 641px) {
  .rtp-site-header-inner {
    display: block; }
  .rtp-branding-search {
    float: none;
    text-align: center;
    padding-right: 0;
    width: 100%;
    display: block; }
  .rtp-header-ad {
    float: none;
    width: 100%;
    text-align: center;
    display: block; }
  .rtp-site-branding {
    float: none;
    display: inline-block; }
    .rtp-site-branding .site-title {
      min-width: 100%; }
      .rtp-site-branding .site-title a {
        line-height: 1; }
  .rtp-branding-search {
    margin-top: 0; }
  .logo-link img {
    max-width: 100%;
    margin-top: 0; } }

@media screen and (max-width: 980px) {
  .a2a_floating_style.a2a_vertical_style {
    display: none; } }

/**
 *  Contains Media Queries for sizes between 640-0
 */
@media only screen and (max-width: 640px) {
  #primary {
    margin-bottom: 0.625rem; }
  body {
    background-color: #fff; }
  .column, .columns {
    padding-left: 2%;
    padding-right: 2%; }
  body,
  h1, h2, h3, h4, h5, h6,
  .rtp-header-wrapper a, .rtp-footer-bottom a, .widget a,
  .rtp-view-all,
  .rtp-top-most .rtp-date,
  .rtp-news-ticker-translate .rtp-translate span,
  .rtp-breaking-news-title,
  .widget_vanguard_latest_news .post-date, .widget_vanguard_most_read .post-date,
  .widget_recent_comments li,
  .entry-meta,
  .rtp-post-navigation .rtp-nav-link,
  .rtp-cat-slide-items .rtp-title,
  .rtp-cat-slide-content .rtp-read-more,
  .rtp-cat-slide-content .rtp-slide-meta {
    font-family: "Roboto", sans-serif; }
  body {
    position: inherit !important; }
  body.sidr-open {
    position: relative !important; }
  .rtp-site-content {
    margin-top: 0;
    width: 100%;
    max-width: 100%; }
  .rtp-latest-cat-post .rtp-cat-divider {
    background-color: #fff !important;
    display: none; }
  .rtp-sidebar-right, .rtp-sidebar-middle, .rtp-above-footer {
    display: none; }
  .rtp-site-navigation ul a {
    font-size: 11px;
    font-size: 0.6875rem; }
    .rtp-site-navigation ul a li {
      font-size: 11px; }
  #rtp-mobile-nav-div ul {
    top: 37px; }
  #rtp-mobile-nav-more {
    font-size: 0.6875rem; }
  .rtp-top-most .rtp-right-part {
    display: none; }
  .rtp-header-nav {
    display: none; }
  .rtp-branding-search {
    display: block; }
  .rtp-site-header .rtp-header-search {
    display: inline-block;
    clear: none;
    float: right; }
  .site-main {
    padding-left: 0px;
    padding-right: 0px; }
  .rtp-header-ad {
    display: none; }
  .rtp-breaking-news-title {
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: #3B3B3B;
    font-weight: 700;
    margin-right: 0.5rem;
    margin-bottom: 0.3125rem;
    float: left;
    margin-top: 2px; }
  .rtp-breaking-news-title:after {
    content: ':';
    margin-left: 2px; }
  .rtp-news-ticker li {
    overflow: hidden;
    color: #fe0000; }
  .rtp-news-ticker .rtp-ticker-readmore {
    display: none; }
  .rtp-ticker-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1; }
    .rtp-ticker-title a {
      color: #fe0000; }
  .rtp-site-footer {
    background: #000; }
  .vanguard-vertical-slides {
    display: none; }
  .rtp-cat-slide-items {
    width: 100%;
    float: none; }
  .rtp-footer-widgets-right .rtp-cat-column:nth-child(2n+1) {
    clear: both;
    margin-top: 1.5625rem;
    word-wrap: break-word; }
  .rtp-footer-widgets-right .rtp-cat-column:first-child {
    margin-top: 0; }
  .footer-nav > div {
    float: none; }
  .rtp-slide .rtp-slide-title, .rtp-cat-slide-content .rtp-slide-title {
    font-size: 1.125rem; }
  .rtp-cat-slide-items .rtp-title {
    font-size: 0.875rem; }
  .widget li h2 a, .rtp-inside-vanguard-cat-box .rtp-cat-post-title {
    font-size: 0.9375rem;
    font-weight: normal; }
  .rtp-latest-cat-post.rtp-box .entry-title, .entry-title, .page-title {
    font-size: 1.0625rem; }
  .rtp-site-header-inner {
    display: block; }
  .widget_vanguard_home_categories .rtp-cat-left {
    border-right: none;
    margin-bottom: 1.875rem; }
  .widget_vanguard_cat_widget .rtp-thumb, .rtp-inside-vanguard-cat-box .rtp-thumb, .rtp-inside-vanguard-cat-box .rtp-thumb {
    float: left;
    margin-right: 0.625rem; }
    .widget_vanguard_cat_widget .rtp-thumb img, .rtp-inside-vanguard-cat-box .rtp-thumb img, .rtp-inside-vanguard-cat-box .rtp-thumb img {
      display: inline-block;
      width: 58px;
      max-height: none;
      float: none; }
  .rtp-inside-vanguard-cat-box:nth-child(2n) {
    padding-left: 10px; }
  .widget-mobile .widget-title, .widget-title {
    font-size: 1.125rem; }
  .rtp-view-all {
    font-size: 0.8125rem; }
  .widget_vanguard_latest_news li, .widget_vanguard_most_read li {
    margin-bottom: 0.3125rem;
    padding-bottom: 0.3125rem; }
    .widget_vanguard_latest_news li span, .widget_vanguard_most_read li span {
      font-weight: normal; }
  .widget_vanguard_latest_news header, .widget_vanguard_most_read header, .widget-sidebar .widget-title {
    margin-bottom: 1.25rem; }
  .rtp-cat-latest-text {
    left: 0;
    right: auto;
    top: 10px;
    font-size: 12px;
    padding: 0 10px; }
  .rtp-latest-cat-post.rtp-box {
    margin-top: 1.25rem;
    padding: 0; }
  .rtp-latest-news-single .rtp-latest-news-title {
    font-size: 0.8125rem; }
  .post .entry-meta, .rtp-box .entry-meta {
    line-height: 1.5; }
  .search-field {
    height: 28px; }
  .rtp-post-navigation .rtp-thumb-link {
    float: left;
    width: 20%;
    margin-right: 10px; }
    .rtp-post-navigation .rtp-thumb-link img {
      width: 100%; }
  .rtp-post-navigation h4 {
    width: 75%;
    float: left; } }

@media only screen and (max-width: 510px) {
  .logo-link img {
    max-width: 200px; }
  .rtp-latest-cat-post.rtp-box {
    text-align: left; }
    .rtp-latest-cat-post.rtp-box .rtp-read-more-link {
      display: inline-block; }
  .rtp-listing-post.has-post-thumbnail .rtp-post-thumbnail {
    margin-bottom: 0.625rem;
    float: left;
    padding-right: 0;
    width: auto;
    margin-right: 0.9375rem; }
    .rtp-listing-post.has-post-thumbnail .rtp-post-thumbnail a {
      display: block;
      text-align: left; }
      .rtp-listing-post.has-post-thumbnail .rtp-post-thumbnail a img {
        width: 58px;
        height: 58px; }
  .post.rtp-listing-post .rtp-post-content {
    float: none;
    width: 100%;
    text-align: left; }
  .post.rtp-listing-post .entry-header {
    text-align: left; }
  .post.rtp-listing-post .rtp-read-more-link {
    display: inline-block; }
  .post.rtp-listing-post .rtp-post-content br {
    display: block; } }

@media only screen and (max-width: 490px) {
  .rtp-slide .rtp-slide-thumb {
    max-width: none;
    float: none;
    padding-right: 0; }
    .rtp-slide .rtp-slide-thumb img {
      width: auto;
      max-height: 150px;
      display: block;
      margin: 0 auto 15px; }
  #rtp-primary-nav {
    max-width: 75%; }
  .rt-home-slider ul {
    min-height: 120px; }
  .rt-home-slider .rtp-slide-content {
    max-height: none; }
  .rt-home-slider .rt-home-slider ul {
    max-height: hidden; }
  .rt-home-slider .rtp-cycle-pager {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 0.3125rem; }
  .rt-home-slider .rtp-cycle-pager span {
    float: none; }
  .rtp-news-ticker-translate {
    display: none; } }

@media only screen and (max-width: 440px) {
  .site-title a {
    font-size: 1.625rem; }
  .logo-link img {
    max-width: 180px; } }

@media only screen and (max-width: 400px) {
  /* .rtp-footer-widgets-left, .rtp-footer-widgets-right{
 		width: 50%;
 	} */
  .rtp-footer-widgets-right [class*="column"] + [class*="column"]:last-child {
    /* float: none; */
    margin-top: 1.5625rem; }
  .widget-sidebar {
    width: 100%;
    margin-right: 0%;
    clear: both; }
  .widget-above-footer {
    width: 100%;
    clear: both; }
    .widget-above-footer .attachment-medium {
      max-height: none; }
  .rtp-next-post, .rtp-prev-post {
    width: 100%;
    float: none;
    margin-top: 30px;
    text-align: left; } }

@media only screen and (max-width: 376px) {
  .rtp-site-branding {
    float: none;
    margin-right: 0; }
  .rtp-site-header .rtp-header-search {
    float: none;
    width: 100%; }
  .rtp-site-header .logo-link {
    display: block;
    text-align: left; }
    .rtp-site-header .logo-link img {
      max-width: 215px;
      display: inline-block; } }

@media only screen and (max-width: 350px) {
  .rtp-footer-widgets-right .rtp-cat-column {
    float: none; } }

@media only screen and (max-width: 305px) {
  .rtp-small-menu a {
    padding-bottom: 0; }
  .rtp-small-menu li:first-child a {
    padding-left: 10px; } }

@media only screen and (max-width: 305px) {
  .logo-link {
    display: block; }
    .logo-link img {
      max-width: none;
      width: 85%; } }

@media only screen and (max-device-width: 320px) {
  .widget-sidebar {
    overflow: visible; }
  .widget-mobile.widget_vanguard_ad {
    padding: 0; } }

@media only screen and (min-device-width: 240px) and (max-device-width: 320px) {
  body, div#page {
    max-width: 100%; }
  .widget-sidebar, .rtp-latest-cat-post {
    max-width: 95%;
    width: 95%; }
  .column, .columns {
    padding-left: 1%;
    padding-right: 2%; } }
