.qstw-sailthru-form .qstw-msg { border:2px solid #888; background-color:#efefef; padding:1em; margin-bottom:1em; position:relative; min-height:70px; display:table; width:100%; }
.qstw-sailthru-form .qstw-msg p { color:inherit; }
.qstw-sailthru-form .qstw-msg.confirmation { border-color:#008; background-color:#eef; color:#008; }
.qstw-sailthru-form .qstw-msg .icon { display:table-cell; width:4.5em; height:4em; }
.qstw-sailthru-form .qstw-msg .msg-inner { display:table-cell; vertical-align:middle; }

.qstw-sailthru-form .qstw-updated,
.qstw-sailthru-form .qstw-thankyou { display:none; border-color:#080; color:#080; background-color:#efe; font-weight:700; }
.qstw-sailthru-form .qstw-updated p,
.qstw-sailthru-form .qstw-thankyou p { color:inherit; }
.qstw-sailthru-form.updated .qstw-updated { display:block; }
.qstw-sailthru-form.thanks .qstw-thankyou { display:block; }
.qstw-sailthru-form.thanks .qstw-form { display:none; }
.qstw-sailthru-form.thanks.has-me .qstw-form { display:block; }
.qstw-sailthru-form .description { padding:0 0 16px; }
.qstw-sailthru-form .description:empty { padding:0; }
.qstw-sailthru-form .field { padding:0 0 16px; }
.qstw-sailthru-form .field label { font-weight: 700; }
.qstw-sailthru-form .field .option-list,
.qstw-sailthru-form .field .option-list li { padding:0; margin:0; list-style:none outside; }
.qstw-sailthru-form .field .wide { width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }
.qstw-sailthru-form .actions input { margin-bottom:0; }
.qstw-bs { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }

.qstw-sailthru-form .qstw-huge-icon { font-size:4em; color:inherit; }
.qstw-sailthru-form .qstw-huge-icon:before { color:inherit; }
.qstw-sailthru-form .qstw-huge-icon.dashicons { margin-top:-2px; height:1em; width:1em; line-height:1em; font-size:4em; }

.qstw-sailthru-form .qstw-icons,
.qstw-sailthru-form .qstw-icons:before { -moz-osx-font-smoothing:grayscale; display:inline-block; font-style:normal; font-weight:700; height:1em; line-height:1.2em; text-align:center; text-decoration:inherit;
		vertical-align:top; width:1em; }
.qstw-sailthru-form .qstw-icons-q:before { content:"?"; }
.qstw-sailthru-form .qstw-icons-error:before { content:"!"; }

.qstw-sailthru-form .qstw-errors { border:1px solid #800; color:#800; background-color:#fee; margin-bottom:0.7em; padding:0.5em 1em; min-height:70px; }
.qstw-sailthru-form .qstw-errors .msg { padding:0.5em 0; line-height:1.2em; font-style:italic; }
