.block-view-wpg-person,
.block-view-wpg-project,
.block-view-wpg-company{
  margin: 0 0 0 -10px;
  width: 320px;
  clear: both;
}
.block-content{
  position: relative;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}
.block-title{
  background: #e91b23;
  position: relative;
  z-index: 10;
  color: #fff;
  font: 400 16px/30px 'alternategothic2_btregular',sans-serif;
  height: 30px;
  margin: 0;
  padding-left: 10px;
}

.view-content {
  padding: 5px 0 0;
  font-family: 'Oswald', sans-serif;
}
.views-row {
    clear: both;
    margin-bottom: 5px;
    overflow: hidden;
}
.block-view-wpg-person .views-field {
    float: left;
}
.block-view-wpg-person .views-field-rank {
    background: none repeat scroll 0 0 #454545;
    color: #fff;
    height: 35px;
    margin-right: 5px;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 35px;
}
.block-view-wpg-person .views-field-rank .views-label {
    bottom: 2px;
    color: #cfcfcf;
    display: block;
    font-size: 8px;
    height: 17px;
    left: 3px;
    line-height: 9px;
    position: absolute;
    text-transform: uppercase;
    width: 35px;
}
.block-view-wpg-person .views-field-rank .field-content {
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    left: 3px;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 35px;
}
.block-view-wpg-person .views-field-field-cover-image {
    margin-right: 5px;
    width: 50px;
}
.block-view-wpg-person .views-field-field-box-office-total, .block-view-wpg-person .views-field-score {
    width: 120px;
}
.block-view-wpg-person .views-field-field-box-office-total, .block-view-wpg-person .views-field-field-status, .block-view-wpg-person .views-field-score {
    float: right;
}
.block-view-wpg-person .views-field-field-box-office-total .views-label, .block-view-wpg-person .views-field-score .views-label {
    color: #6e6e6e;
    float: right;
    text-align: right;
    width: 66px;
    font-size: 12px;
}
.block-view-wpg-person .views-field-field-box-office-total .field-content, .block-view-wpg-person .views-field-score .field-content {
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size:12px;
    font-weight: bold;
    padding-right: 4px;
    text-align: right;
    width: 50px;
}

.block-view-wpg-person .views-field-field-credit-title {
    clear: right;
    font-size:10px;
}
.block-view .more-link {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.block-view .more-link a {
    color: #fff !important;
    font-size: 10px;
    font-weight: normal;
    line-height: 30px;
    padding-right: 8px;
    text-transform: uppercase;
}
.block-view a,
.block-view a:link,
.block-view a:visited {
    color: #4970a5;
    text-decoration: none;
}

.block-view-wpg-project .views-field {
  text-align: center;
  font: 10px/12px 'Open Sans', Verdana;
}

.block-view-wpg-project .views-field-field-related-percomp {
  text-align: left;
  width: 125px;
  font-weight: bold;
}
.block-view-wpg-project .views-field-field-credit{
  width: 65px;
}

.block-view-wpg-project .views-field-score{
  width: 65px;
}
.block-view-wpg-project .views-field-rank{
  width: 65px;
}

.block-view-wpg-project tr.views-row {
  border-bottom: 1px dotted #222222;
}
.block-view-wpg-project tr.views-row-last {
  border-bottom: 0;
}
.block-view-wpg-project td, .block-view-wpg-project th{
  padding: 3px 0;
}
.block-view-wpg-project th.views-field{
  font-weight: bold;
  font-size: 9px;
}
.block-view-wpg-project .views-view-grid .views-label{
  display: inline-block;
  width: 120px;
  font-weight: bold;
  text-align: left;
}
.block-view-wpg-project .views-view-grid .field-content{
  display: inline-block;
  width: 180px;
  text-align:left;
}


.tag-bio-wrapper{
  padding: 0 0 10px;
  margin: 0 0 0 -10px;
  width: 320px;
}
.tag-bio-wrapper h2{
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 5px;
}
.tag-img{
   float: left;
   margin-right: 10px;
}
#archive-wrapper h1.cat-header{
  background: #e91b23;
  text-transform: none;
  font-size: 17px;
  font-weight: normal;
}
.tag-breadcrumb{
  padding: 5px 20px;
  coler: #000;
}
.tag-breadcrumb a, .tag-breadcrumb a:visited {
  color: #000;
  text-decoration: underline;
}
.tag-breadcrumb > div{
  display: inline-block;
}
.pg-tag #home-main{
  margin-top: 0;
}
.pg-tag #archive-wrapper{
  padding-top: 10px;
}