.botmContainerParent {
    display: flex;
    justify-content: center;
}

.botmContainer {
/* Containers are different and unpredictable heights, not sure how to use sprite 
  background-image: url("http://media.mmo-champion.com/images/news/2016/may/build-sprite.jpg");
*/
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #a7a788;
    padding: 12px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #e1e0c5;
    margin-left: 5px;
    margin-right: 5px;
}

.botmTable {
    width: 100%;
    border-collapse: collapse;
}

.botmTable tr td {
    padding: 5px;
}

.botmTable tr td a {
    color: #60883b;
}

.botmTable tr td:nth-child(1) {
    font-size: 11px;
    width: 100px;
}

.botmTable tr td:nth-child(3) {
    text-align: center;
    width: 85px;
}

.botmTable tr:nth-child(odd) td:nth-child(3) {
    background-color: rgba(225,224,197,0.46);
}

.botmTable tr:nth-child(even) td:nth-child(3) {
    background-color: rgba(225,224,197,0.46);
}

.botmTable tbody tr:nth-child(odd) {
    background-color: rgba(223,224,196,0.4);
}

.botmTable tbody tr:nth-child(even) {
    background-color: rgba(209,207,160,0.39);
}

.botm-listing-row {
    height: 30px;
}

.botmHeader {
    position: relative;
    margin-bottom: 5px;
}

.botmPrice {
    position: absolute;
    background-color: #79b641;
    right: 12px;
    top: -3px;
    border: 1px solid #649636;
    border-radius: 8px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    width: 70px;
    text-align: center;
    box-sizing: border-box;
}

.botmUpdated {
    font-size: 11px;
    color: #666;
}

.botmPuppy {
    background-image: url(http://media.mmo-champion.com/images/news/2016/may/botmPuppy.jpg);
}

.botmDolphin {
    background-image: url(http://media.mmo-champion.com/images/news/2016/may/botmDolphin.jpg);
}

.botmNarwhal {
    background-image: url(http://media.mmo-champion.com/images/news/2016/may/botmNarwhal.jpg);
}

.botmUnicorn {
    background-image: url(http://media.mmo-champion.com/images/news/2016/may/botmUnicorn.jpg);
}