
.recent-body .configure {
    background: url(http://static.mmo-champion.com/images/tranquilizing/search_bg.png) repeat-x;
    height: 21px;
    line-height: 21px;
    font-family: Tahoma;
    font-weight: bold;
    color: white;
    text-shadow: black 0 0 3px;
    padding: 0 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    font-size: 11px;
    margin: 3px;
    display: inline-block;
	*display: inline;
    zoom: 1;
}

.recent-threads-filter-popup label {
	float: none;
	display: inline;
	font-weight: inherit;
}

.recent-threads-filter-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999999;
	height: 300%;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.4);
}

.recent-threads-filter-popup input[type=checkbox], .recent-threads-filter-popup img {
	top: 2px;
	position: relative;
}

.recent-threads-filter-popup .border {
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	margin-top: 200px;
	position: relative;

}

.recent-threads-filter-popup .title {
	background: url(http://static.mmo-champion.com/images/tranquilizing/news_header_bg.png) repeat-x;
	line-height: 30px;
	font-weight: bold;
	font-size: 115%;
	margin: 1px;
	display: block;
	padding: 3px 5px 2px 10px;
	color: white;
}

.recent-threads-filter-popup table {
	width: 100%;
}

.recent-threads-filter-popup td {
	vertical-align: top;
	width: 34%;
}

.recent-threads-filter-popup .selects {
	margin: 10px;
}

.recent-threads-filter-popup li {
	margin-left: 10px;
}


.recent-threads-filter-popup h3 {
	margin: 10px 0 5px 0;
}
.recent-threads-filter-popup h3.first {
	margin-top: 0;
}

.recent-threads-filter-popup .close {
	float: right;
	line-height: 30px;
	color: white;
	margin-right: 10px;
}

.recent-threads-filter-popup .buttons {
	text-align: right;
}



.add:before { content: "\271A"; }
.edit:before { content: "\270E"; }
.delete:before { content: "\2718"; }
.save:before { content: "\2714"; }
.email:before { content: "\2709"; }
.like:before { content: "\2764"; }
.next:before { content: "\279C"; }
.star:before { content: "\2605"; }
.spark:before { content: "\2737"; }
.play:before { content: "\25B6"; }


.big-button
{        
	display: inline-block;
	white-space: nowrap;
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.big-button:hover
{
	background-color: #eee;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	text-decoration: none;
	cursor: pointer;
}

.big-button:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.big-button:focus
{
	outline: 0;
	background: #fafafa;
}    

.big-button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;     
	pointer-events: none;		
}

/*.big-buttons and inputs */

button.big-button, input.big-button 
{ 
	cursor: pointer;
	overflow: visible; /* removes extra side spacing in IE */
}

/* The disabled styles */
.big-button[disabled], .big-button[disabled]:hover, .big-button.disabled, .big-button.disabled:hover 
{
	background: #eee;
	color: #aaa;
	border-color: #aaa;
	cursor: default;
	text-shadow: none;
	position: static;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;		
}