#navwod { 
	max-width:1380px;
	min-width: 900px;
	height: 60px;
	margin-top: 5px;
}

#navwod-bg{
    background-image:url('http://media.mmo-champion.com/images/news/2014/june/wodnav.jpg');
    height: 47px;
	background-color: #252525;
}

.navwod-arrow {
    height: 0;
    width: 0;
    border: 5px solid transparent;
    vertical-align: middle;
}

.navwod-down {
    border-top-color: #9ddf62;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -5px;
    margin-left: 1px;
}

.navwod-right {
    border-left-color: #9ddf62;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 2px;
}

.navwod-cap {
    width:8px; 
    background-color:#090909; 
    background-image:none; 
    border-right: 1px solid #363636;
}

#navwod-leftcap {
    border-right: 1px solid #363636;
}

#navwod-rightcap {
    border-left: 1px solid #363636;
    float:right;
}

#navwod-logo {
    width: 150px; 
    text-align:center;
}
 
.navul  {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display:block;
}

.navul ul{
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display:block;
}
	
.navul li {
	float:left;
	display:list-item;
	list-style: none; 
	height: 47px;
}

.navul li a {
	display:block;
	padding:15px 15px;	
	color:#FFF;
	text-decoration: none;
	min-width: 65px;
	font: 13px Verdana,sans-serif;
	font-family: Tahoma,Verdana,sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 3px #000;
	border-left: 1px solid #222120;
	border-right: 1px solid #393838;
}

.top-nav {
    text-align: center;
}

#navwod li a:hover { 
	background-color: #302c2a; 
	text-decoration: none;
}

	
	
/* The Dropdown Styles */
/* =================== */

/* Hide Dropdowns by Default */
.navul ul {
	position: absolute; top: 47px;
    list-style: none;
    visibility: hidden;
    opacity:0;
    z-index:1;
    transition: opacity 0s .3s, z-index 0s .3s, visibility 0s .3s;
    height: 0px;
}
	
.navul:hover ul {
    opacity:0;
    z-index:1;
    display:none;
    transition: none;
}

/* Display Dropdowns on Hover */
.navul li:hover > ul {
	display:list-item;
    display:block;
    opacity:1;
    z-index:3;
    visibility: visible;
    transition: opacity, z-index, visibility;
}
	
/* Fisrt Tier Dropdown */
.navul ul li {
	width:190px;
	float:none;
	position: relative;
    list-style: none;
}

.dropdown-menu li{
    background-color: #292929;
    background-image: none;
    height: 27px;
    padding: 0px 0px;
    text-align: left;
    display:block;
    border-top: 1px solid #222120;
    border-bottom: 1px solid #393838;
    list-style: none;
}

.dropdown-menu li a{
    padding: 5px 5px;
    font-weight: normal;
}

.dropdown-menu li a:hover { background-color: #3b3b3b; }


/* Second, Third and more Tiers */
nav ul ul ul li {
    position: absolute relative;
    top:-49px;
    left:190px;
    height: 0px;
}