@charset "utf-8";
/*css document-reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	/*border:0;
	outline:0;
	font-size:100%;*/
	/*vertical-align:baseline;*/
	/*margin:0;*/
/*	padding:0;*/
	/*text-align: left;*/
}
body{line-height:20px}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
/*table{
	border-collapse:collapse;
	border-spacing:0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #039;
	border-right-color: #039;
	border-bottom-color: #039;
	border-left-color: #039;
	background-color: #FFF;
}*/
/*a{
	color:#02356C;
	text-decoration:none
}*/
h1 {
  font-size:36px;
}
a:hover{
	color:#03C
}
.left{ float:left} .clear{ clear:both}
.right{ float:right}


/*****************************************GENERALES********************************************/
html{ /*background:#DDEDFB url(/img/bgBody.jpg) repeat-x  center top;*/ font-size:1em}
/*body{font:11px Arial, Helvetica, sans-serif; /*background:  url(/img/bgBody.jpg) */ /*repeat-y center top}*/
/*body.fondosimple{/* background-image:url(/img/fondoBlanco.jpg);*/ /*font:11px Arial, Helvetica, sans-serif;}*/
#web{ width:100%; margin:0 auto; background: /* url(/img/bgWeb.png)  repeat-y center top */}
#cont{ width:980px; margin:0 auto; background:#FFF}
#contenido{width:970px;padding:0 0 10px 10px}

/*************HEADER**********************/
#header{ height:auto;background: url(/img/bgWeb.png)  repeat-y center top; overflow:hidden}
#headerInfo{ width:960px; margin:0 auto; padding:0 5px 0 15px; margin-bottom:10px}
#header .logo{float:left; margin-top:35px}
#headCont{margin-left:365px}

#menu{ width:980px; margin:0 auto;text-align:center; height:47px;color:#fff}
#menu a{font:15px/28px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#fff; padding:0 8px; display: inline-block; background:url(/img/bghover.gif) no-repeat center -50px}
#menu a:hover{ background:url(/img/bghover.gif) no-repeat center top}
#bgMenu{ width:100%; height:46px;background:url(/img/bgmenu.gif) no-repeat center top; padding-bottom:0}

#links{padding:7px 5px 12px 500px; height:20px}
#links a{display:block;width:30px;height:26px; float:right}
#links a#link01{background:url(/img/latIcons2.jpg) -60px 0px}
#links a#link02{background:url(/img/latIcons2.jpg) -30px 0px}
#links a#link03{background:url(/img/latIcons2.jpg) 0px 0px}

#banner{ vertical-align:top}
#sBuscar{padding: 2px 5px 0 135px;  height:30px}
#sBuscar input[type="text"]{font:11px Arial, Helvetica, sans-serif; border:none;background:url(/img/head-bgText.gif) no-repeat left center; padding:4px; width:200px}
#sBuscar input.boton{border:0;background:url(/img/latIcons2.jpg) no-repeat -30px -32px; height:22px; width:85px;color:#fff; margin-left:5px;font-size:11px; cursor:pointer}
#sBuscar img{ margin-bottom:-8px}
#sBuscar form{ width:auto; display:inline; height:auto}

/***********************PIE**********************/
#linksInf{margin: 0 auto; padding-top:30px; background: #DDEDFB url(/img/bgPie.png) no-repeat center top}
#linksPie{ width:100%; background:#004080;color:#fff}
#linksPie p{ width:980px; margin:0 auto; padding:10px 10px 10px 0; text-align:right}
#linksInf #secciones{ margin:0 auto; width:980px; padding-bottom:10px} #linksInf #secciones{ height:150px}
#linksInf #secciones div{width:160px; padding:0 10px; height:130px; float:left; background: url(/img/bgSecc.gif) repeat-y right top}
#linksInf #secciones div ul li{line-height:18px;color:#444;padding-left:10px; background:url(/img/bgli01.gif) no-repeat left 8px}
#linksInf #secciones div ul li a:hover{color:#03C}
#linksInf #secciones div h2{ text-indent:0;font-size:14px; margin-bottom:5px; color:#036} #linksInf #secciones div.consultas strong{font-size:14px; color:#036}
#linksInf #secciones div.logo2{ float:right;width:240px;padding-top:20px; height:auto; text-align:right;color:#063068}
#linksInf #secciones div.consultas, #linksInf #secciones div.logo2{ background:none}

/*************INICIO NAVEGACION LATERAL***************/
#navLateral{width:225px; float:left; padding: 0 0}
#navLateral div{border:solid 1px #ccc; padding:5px 12px 5px 0px; margin: 0 auto 10px;font:12px Arial, Helvetica, sans-serif; background:url(none) no-repeat left 8px}
.font1{font-size:12px}
.font2{font-size:17px}
.font3{font-size: 12px; color: Gray;}
#navLateral div h1{ padding-right:8px}
#navLateral div h1 a{font-size:15px; font-weight:bold;line-height:24px;color:#036; height:22px; background:url(/img/fclose.gif)}
#navLateral div a{color:#036; display:block;font:12px/22px Arial, Helvetica, sans-serif;color:#333}
#navLateral div a:hover{color:#039; text-decoration:underline}
#navLateral div#user ul li{line-height:22px; padding-left:12px; display: block; width:180px; height:27px}
#navLateral div h1 a#despegable{ background:none;float:right; width:25px}

#navLateral div#user ul li a{ background:none; padding:2px; padding-left:0}
#navLateral div div{ padding:0;border:none}
#navLateral div#user ul li a.mas, #navLateral div#user ul li a.men, #navLateral.acciones div#user ul li a.preg{display:block; width:20px; height:20px; padding: 0 0 0 0; margin:3px }
#navLateral div#user ul li a.mas, #navLateral div#user ul li a.men{float:right} 
#navLateral div#user a.mas{background: url(/img/mas.gif) 0 top}
#navLateral div#user a.men{background: url(/img/mas.gif) -20px top}
#navLateral div#user ul li a.faq{ display:block; background:url(/img/imgFaq.gif) no-repeat right center}

#navLateral div ul{ margin:0;background: url(/img/bguser01.gif) no-repeat center top}
#navLateral .linea{ height:0px; margin:0}
#navLateral div ul li a{display:block; font-size:12px; /*background:url(/img/bgli01.gif) no-repeat left 8px;*/ padding-left:11px; height:auto}
#navLateral div ul li a.doslineas{height:44px}
#navLateral div ul li a:hover{color:#03C}
#navLateral div p{ display:block; padding-right:10px}
#navLateral div p a{color:#03C; display:inline; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif}
#navLateral div#user ul{background:url(/img/bguser01.gif) no-repeat center 25px; padding-top:0}

#navLateral a.btn01{ background:url(/img/latIcons.gif) 0px 0px}
#navLateral a.btn02{ background:url(/img/latIcons.gif) 0px -24px}
#navLateral a.btn03{ background:url(/img/latIcons.gif) 0px -48px}
#navLateral a.btn04{ background:url(/img/latIcons.gif) 0px -72px}
#navLateral a.btn05{ background:url(/img/latIcons.gif) 0px -96px}
#navLateral a.btn06{ background:url(/img/latIcons.gif) 0px -120px}
#navLateral a.btn07{ background:url(/img/latIcons.gif) -2px -144px}
#navLateral a.btn01, #navLateral a.btn02, #navLateral a.btn03, #navLateral a.btn04, #navLateral a.btn05, #navLateral a.btn06, #navLateral a.btn07{padding-left:24px; background-repeat:no-repeat; height:25px}
#navLateral h1 a img{float:right}
#navLateral a.ilink{display:block; border:solid 1px #CCC; margin-bottom:2px}
#navLateral a.ilink:hover{border-color:#039}


/***********************************Scripts***Tooltip**************************************/
a:active {
	outline:none;
	color: #900;
}
/*:focus {-moz-outline-style:}*/
.tooltip {display:none; position:absolute;	background: url(/img/white_arrow.png);height:38px;padding:16px 12px;width:122px;font-size:11px;color:#000; text-align:center; z-index:100}
.tooltip strong{color:#036}
.tooltip .label {color:yellow;	width:35px} 
.tooltip a {color:#ad4;	font-size:11px;	font-weight:bold}
.centerImg01{ text-align:center; padding-top:15px}
.centerImg01 .tooltip{margin-top:-60px;line-height:15px; height:55px;background:url(/img/white_arrow_v.png);padding:7px 12px;z-index:100}
.centerImg01 a{ height:77px}

#orientacionBox .tooltip{background: url(/img/white_arrow_v2.png) no-repeat;height:58px;padding:10px 10px 17px;width:169px;font-size:11px;color:#000; text-align:center; z-index:10; margin-top:-5px}

#servicios .tooltip{background: url(/img/white_arrow_v2.png) no-repeat;height:58px;padding:10px 10px 17px;width:169px;font-size:11px;color:#000; text-align:center; z-index:10; margin-top:-6px}

.cajaTooltipTamano1 .tooltip{margin-top:-40px;line-height:13px; height:55px;background:url(/img/white_arrow_v.png) no-repeat center top;padding:5px; width:140px;z-index:100; font:bold 11px Tahoma, Geneva, sans-serif;color:#333}
.cajaTooltipTamano1 .tooltip strong{color:#039;font-size:11px}/*cajaTooltipTamano1 los tooltip aparacen a 40px*/
#servicios .notooltip{background:none; height:1px; width:1px; overflow:hidden}
#servicios .notooltip p{display: block; height:1px; width:1px; overflow:hidden}


/*************Pag internas******************************************/
#contPag{ background: url(/img/bordeSup1.gif) repeat-x left top; padding-top:10px}

/*************INICIO*******Contenido central**********************/
#info{ margin-left:218px; padding-left:19px;background:url(/img/bglinea.jpg) no-repeat left top}
#info h1{font:normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#036}
#info h4{font:normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#036}

#titHome h1{ float:left;font:normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:27px;color:#036}
#titHome h4{ float:left;font:normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:27px;color:#036}

#titHome{ overflow:visible; height:30px; background:none}
#titHome div{ float:right; height:30px; width:514px}
#titHome a{display:block; height:28px; float:left; margin-left:2px; margin-top:3px}
#titHome a.fac, #titInt a.fac{background: url(/img/latIcons2.jpg) -2px -74px; width:30px;}
#titHome a.twi, #titInt a.twi{background: url(/img/latIcons2.jpg) -34px -74px;width:30px}
#titHome a.rss, #titInt a.rss{background: url(/img/latIcons2.jpg) -67px -74px; width:63px}
#titHome a.movil, #titInt a.movil{background: url(/img/latIcons2.jpg) -129px -74px;width:60px}
#titHome a.portal, #titInt a.portal{background: url(/img/latIcons2.jpg) -199px -69px;width:120px; height:32px; margin-top:0}
#titHome a.youtube, #titInt a.youtube{background: url(/img/latIcons2.jpg) -125px -30px;width:70px; height:27px; margin-top:0}
#titHome a.reclamaciones, #titInt a.reclamaciones{background: url(/img/latIcons2.jpg) -196px -32px;width:120px; height:32px; margin-top:0}



/*
#titHome a.fac, #titInt a.fac{background: url(/img/latIcons2.jpg) -15px -74px; width:30px;}
#titHome a.twi, #titInt a.twi{background: url(/img/latIcons2.jpg) -40px -74px;width:30px}
#titHome a.rss, #titInt a.rss{background: url(/img/latIcons2.jpg) -73px -74px; width:63px}
#titHome a.movil, #titInt a.movil{background: url(/img/latIcons2.jpg) -135px -74px;width:70px}
#titHome a.portal, #titInt a.portal{background: url(/img/latIcons2.jpg) -205px -67px;width:120px; height:32px; margin-top:0}
#titHome a.youtube, #titInt a.youtube{background: url(/img/latIcons2.jpg) -131px -30px;width:70px; height:27px; margin-top:0}
#titHome a.reclamaciones, #titInt a.reclamaciones{background: url(/img/latIcons2.jpg) -201px -32px;width:120px; height:32px; margin-top:0}
*/




#titInt{ overflow:visible; height:30px}
#titInt p{font:bold 12px Arial, Helvetica, sans-serif;color:#555; padding-left:10px} #titInt p span{ padding:0 10px} #titInt p span.azul{color:#039}
#titInt a{display:block; height:28px; float:left}
#titInt p a{color:#666;display:inline; padding:0; margin:0; float:none}
#titInt p a:hover{color:#03C}




/*************INICIO*******servicios**********************/
#servicios{background: url(/img/bgline2.gif)  no-repeat 363px 25px; padding-top:10px}
#tributarios, #aduaneros{ width:355px} #tributarios{ float:left} #aduaneros{ margin-left:370px} #tributarios, #aduaneros{ cursor:pointer}
#tributarios h1, #aduaneros h1{width:355px; display:block;  color:#fff; text-indent:15px; padding:5px 0 12px; height:23px  }
#tributarios h1{background: url(/img/latIcons2.jpg) no-repeat 0px -103px}
#aduaneros h1{background: url(/img/latIcons2.jpg) no-repeat 0px -145px}

#tributarios .mas, #aduaneros .mas{ width:355px; text-align:center;}
#tributarios a, #aduaneros a{display:block; height:55px; width:159px; margin:0 5px;color:#900;font:12px Arial, Helvetica, sans-serif; padding:4px;cursor:pointer;}
#tributarios a:hover{color:#F00;background: url(/img/bghover01.gif) no-repeat 0px 0px }
#aduaneros a:hover{color:#03C;background: url(/img/bghover02.gif) no-repeat 0px 0px}

#tributarios a, #tributarios .mas{color:#900}
#tributarios img, #aduaneros img{ margin:0 2px 2px}
#aduaneros a, #aduaneros .mas{color:#036}

#tributarios span, #aduaneros span{display:block; height:50px; padding-left:55px}
#tributarios span{ padding-left:60px}
#tributarios span strong, #aduaneros span strong{display:block;cursor:pointer; padding-top:5px}
#tributarios span.tr1{ background:url(/img/serIcons.jpg) no-repeat 0px 0px}
#tributarios span.tr2{ background:url(/img/serIcons.jpg) no-repeat 0px -50px}
#tributarios span.tr3{ background:url(/img/serIcons.jpg) no-repeat 0px -100px}
#tributarios span.tr4{ background:url(/img/serIcons.jpg) no-repeat 0px -150px}
#tributarios span.tr5{ background:url(/img/serIcons.jpg) no-repeat 0px -200px}
#tributarios span.tr6{ background:url(/img/serIcons.jpg) no-repeat 0px -250px}
#aduaneros span{padding-left:68px}
#aduaneros span.ad1{ background:url(/img/serIcons.jpg) no-repeat -5px -300px}
#aduaneros span.ad2{ background:url(/img/serIcons.jpg) no-repeat 0px -350px}
#aduaneros span.ad3{ background:url(/img/serIcons.jpg) no-repeat 0px -400px}
#aduaneros span.ad4{ background:url(/img/serIcons.jpg) no-repeat 0px -450px}
#aduaneros span.ad5{ background:url(/img/serIcons.jpg) no-repeat 0px -500px; padding-left:60px}
#aduaneros span.ad6{ background:url(/img/serIcons.jpg) no-repeat 0px -550px}
.links{ width:355px}
.linkIzq{ float:left; margin-top:0}
.linkDer{ margin-left:175px}


#tributarios .mas, #aduaneros .mas{ text-align:center; display:block; width:359px; height:70px }
#tributarios .mas a, #aduaneros .mas a{display:block; width:172px; margin:0; margin-right:2px; padding:1px; height:43px; float:left;border:solid 1px #999}
#tributarios .mas a:hover{border:solid 1px #C00}
#aduaneros .mas a:hover{border:solid 1px #03C}
#tributarios .mas img, #aduaneros .mas img {margin:0; float:left}
#tributarios .mas a:hover, #aduaneros .mas a:hover{ background:none}

/*************INICIO*******comunidades virtuales****************/
#cVirtuales, #sConocer{ margin-top:20px} #cVirtuales{ height:170px} #sConocer{}
#cVirtuales h1, #sConocer h1, #eRelacionados h1
{display:block; height:25px;background: url(/img/punto.gif) repeat-x left bottom; margin: 0 10px 10px 0 }
#cVirtuales div{ float:left; padding:15px 15px 0} #cVirtuales div p{color:#444; line-height:19px}
#cVirtuales div  h2 a{ display:block; height:38px;padding-left:55px; line-height:16px; margin-bottom:5px;color:#036}
#cVirtuales div  h2 a:hover{color:#03C}
#cVirtuales div.ti, #cVirtuales div.my{ background:url(/img/bgSep.gif) no-repeat 232px center}
#cVirtuales div.ti h2{background: url(/img/comIcon.jpg) no-repeat 0px 0px}
#cVirtuales div.my h2{background: url(/img/comIcon.jpg) no-repeat 0px -38px}
#cVirtuales div.ie h2{background: url(/img/comIcon.jpg) no-repeat 0px -76px}
#cVirtuales div h2{font-size:15px;color:#036; display:block}
#cVirtuales div{font:12px Arial, Helvetica, sans-serif; width:212px; height:119px}

/*************INICIO*******conocer******************************/
#sConocer a{display:block; width:118px; height:110px; float:left}
#sConocer a#btnuno{background:url(/img/bgSugerimos.jpg) 1px 1px}
#sConocer a#btndos{background:url(/img/bgSugerimos.jpg) -120px 1px}
#sConocer a#btntres{background:url(/img/bgSugerimos.jpg) -239px 1px}
#sConocer a#btncuatro{background:url(/img/bgSugerimos.jpg) -358px 1px}
#sConocer a#btncinco{background:url(/img/bgSugerimos.jpg) -477px 1px}
#sConocer a#btnseis{background:url(/img/bgSugerimos.jpg) -596px 1px}

#sConocer a#btnuno:hover{background:url(/img/bgSugerimos.jpg) -1px -112px}
#sConocer a#btndos:hover{background:url(/img/bgSugerimos.jpg) -120px -112px}
#sConocer a#btntres:hover{background:url(/img/bgSugerimos.jpg) -239px -112px}
#sConocer a#btncuatro:hover{background:url(/img/bgSugerimos.jpg) -358px -112px}
#sConocer a#btncinco:hover{background:url(/img/bgSugerimos.jpg) -477px -112px}
#sConocer a#btnseis:hover{background:url(/img/bgSugerimos.jpg) -595px -112px}


/*************Script Slider******************************/

#banner{margin:0 auto; position:relative; text-align:left; width:575px; background:#ccc; height:76px;}
.graphic, #prevBtn, #nextBtn{ margin:0; padding:0; display:block; overflow:hidden; text-indent:-8000px;}
#slider{}
#slider ul, #slider li{ height:76px; overflow:hidden;margin:0; padding:0; list-style:none;}
#slider li{height:76px; overflow:hidden; }
#prevBtn, #nextBtn{ display:block; width:10px;height:77px; position:absolute; left:-10px; top:0px;}
#nextBtn{ left:575px;} 
#prevBtn a, #nextBtn a{ display:block; width:10px; height:77px; background:url(/img/izq.jpg) no-repeat 0 0;} 
#nextBtn a{background:url(/img/der.jpg) no-repeat 0 0;}
.aDerecha{ text-align:right; float:right;}

/*************Pagina Internas Menu Tabs******************************/
#menuTabs ul{ display:block; height:40px; padding-left:15px;}
#menuTabs ul.quienes{background:url(/img/menuTabs4.gif) no-repeat left 0px;}
#menuTabs ul.iata{background:url(/img/menuTabs4.gif) no-repeat left -40px;}
#menuTabs ul.cultura{background:url(/img/menuTabs4.gif) no-repeat left -80px;}
#menuTabs ul.publicaciones{background:url(/img/menuTabs4.gif) no-repeat left -120px;}
#menuTabs ul.anticorrupcion{background:url(/img/menuTabs4.gif) no-repeat left -160px;}


#menuTabs ul.sorteo01{background:url(/img/menuTabs2.gif) no-repeat left top;}
#menuTabs ul.sorteo02{background:url(/img/menuTabs2.gif) no-repeat left -40px;}
#menuTabs ul li {padding:10px 0; height:auto; font:bold 15px Arial, Helvetica, sans-serif; color:#666; display:block; float:left; width:152px;}
#menuTabs ul li.a135{width:160px;}
#menuTabs ul li.a140{width:150px;}
#menuTabs ul li.a150{width:150px;}




#menuTabs ul li.activo{color:#036;}
#menuTabs ul li a{color:#666;}
#menuTabs ul li a:hover{color:#03C;}
#menuTabs ul.contactenos{ height:40px;background:url(/img/menuTabsCont.jpg) no-repeat left 0;}
#menuTabs ul.contactenos li{ padding:0;}
#menuTabs ul.contactenos li a{ display:block;height:40px;}
#menuTabs ul.contactenosap{ height:40px;background:url(/img/menuTabsCont2.jpg) no-repeat left 0;}
#menuTabs ul.contactenosap li{ padding:0;}
#menuTabs ul.contactenosap li a{ display:block;height:40px;}
#menuTabs ul.contactenosav{ height:40px;background:url(/img/menuTabsCont3.jpg) no-repeat left 0;}
#menuTabs ul.contactenosav li{ padding:0;}
#menuTabs ul.contactenosav li a{ display:block;height:40px;}

/*************Paginas internas *** Navegacion******************************/
#linksUI{ float:right; height:25px; width:330px;}
#linksUI a{display:block; height:25px; float:left;}
#linksUI a.fac{ width:29px;background:url(/img/latIcons2.jpg) -5px -75px; margin-right:2px;}
#linksUI a.twi{width:29px; background: url(/img/latIcons2.jpg) -36px -75px;}
#linksUI a.rss{width:64px; background: url(/img/latIcons2.jpg) -68px -75px;}
#linksUI a.movil{width:63px; background: url(/img/latIcons2.jpg) -128px -75px;}
#linksUI a.youtube{width:70px; background: url(/img/latIcons2.jpg) -125px -31px;}
#linksUI a.atraz{width:60px; background: url(/img/latIcons2.jpg) -278px 2px;}



/*
#linksUI a.fac{ width:29px;background:url(/img/latIcons2.jpg) -5px -75px; margin-right:2px;}
#linksUI a.twi{width:29px; background: url(/img/latIcons2.jpg) -36px -75px;}
#linksUI a.rss{width:64px; background: url(/img/latIcons2.jpg) -68px -75px;}
#linksUI a.movil{width:63px; background: url(/img/latIcons2.jpg) -128px -75px;}
#linksUI a.youtube{width:70px; background: url(/img/latIcons2.jpg) -125px -31px;}
#linksUI a.atraz{width:60px; background: url(/img/latIcons2.jpg) -278px 2px;}
*/




#barInst{width:194px; float:right; padding:3px;}
#barInstNav{ background:url(/img/bgMenuNavIns.jpg) repeat-y;}
#barInstNav ul{ padding:0 15px;}
#barInstNav ul li{ background: url(/img/bguser01.gif) no-repeat center top; padding: 7px 0;font-size:12px;}
#barInstNav ul li a{display:block;color:#063069; line-height:16px; background:url(/img/bgli02.gif) no-repeat 2px 8px; padding-left:12px;}
#barInstNav ul li a:hover{
	color: #03C;
	text-decoration:underline;
	text-align: left;
}
#barInstNav ul li a.activo{color:#063069;}
#barInst .barPie{ background:url(/img/bgNavPie.jpg) no-repeat; width:194px; height:10px; overflow:hidden;}
/*******pagina leg Aduanera*****/
#barInstNav.legAdu ul li a{background:url(/img/bgli03.gif) no-repeat left 8px;}
#barInstNav.legAdu ul li ul { padding-left:0; padding-top:5px; width:178px;}
#barInstNav.legAdu ul li ul li{line-height:12px; display:block; background:url(/img/bgli05.gif) no-repeat 5px 10px; padding:3px 0 3px 15px; margin:0;width:150px;}
#barInstNav.legAdu ul li ul li a{display:inline; padding-right: 0;line-height:16px; background:none; margin: 0;font-size:12px;color:#333;width:155px; padding-left:0;}

#barInstNav.menuPrensa ul li a{color:#333;}
#barInstNav.menuPrensa ul li a:hover{color:#03C; text-decoration:underline;}

/*contenido textual y navegación*/
.text{font:14px/22px Arial, Helvetica, sans-serif; /*margin-right:210px; padding-top:18px; padding-bottom:10px;*/}

.text div.tabla{ float:left; width:340px; padding-left:20px;}
.text div.tabla .tab{ width:320px; border:1px solid #FFF; border-right:none; border-bottom:none; text-align:center;}
.text div.tabla .tab .tit{ background:#063069; font:14px Arial, Helvetica, sans-serif; color:#FFF; }
.text div.tabla .tab td{ width:160px; background:#E8E8E8; font:13px Arial, Helvetica, sans-serif; color:#333;  }
.text div.tabla .tab .tit, .text div.tabla .tab td{border-bottom:2px solid #FFF; border-right:2px solid #FFF; padding:4px;  }

.text div.tablados { padding-left:20px;}
.text div.tablados .taba{ border:1px solid #FFF; border-right:none;}
.text div.tablados .taba .tita{ background:#063069; font:11px Arial, Helvetica, sans-serif; color:#CCCCCC; text-align:center;}
.text dic.tablados .taba td{ background:#E8E8E8; font:10px Arial, Helvetica, sans-serif; color:#FFFFFF;}
.text div.tablados .taba .tita, .text div.tabla .tab td{border-bottom:2px solid #FFF; border-right:2px solid #FFF; padding:4px;  }

.text h1{/*font-size:17px; */margin-bottom:10px;color:#036;}

.text h4{font-size:17px; margin-bottom:10px;color:#000080;}

.text h1.prensa{ margin-top:10px; padding-bottom:10px; border-bottom:solid 1px #8297b4;}
.text p{
	margin-bottom:10px;
	border-top-color: #3D79B6;
	border-right-color: #3D79B6;
	border-bottom-color: #3D79B6;
	border-left-color: #3D79B6;
	color: #000;
}
.text strong{
	color:#69C;
} .text ul{ margin-bottom:10px;}
.text ul li{ background:url(/img/bgli03.gif) no-repeat left 7px; padding-left:5px;}
.text ul.azul li a{color:#03C; font-weight:bold;}
.text h2{ font-size:14px; color:#039; }
.text h3{
	font-size: 12px;
	color: #039 margin-bottom:40px;
}

.textrema div{
	font-size: 12px;
	font-weight: bold;
	color: #9A1F1F;
}

.textsda {
	font-size:12px;
	color:#006;
	font-weight:bold;
}
	 
	 

/**********herramientas**********/
.center{ text-align:center;} 
.destacar{ display:block; padding:10px; background:#efefef} .pr15{ padding-right:15px} .pt10{ padding-top:10px;}
#ayudaUsuario { float:right}  #ayudaUsuario.enlinea{ float:none; padding-left:760px;} 
#ayudaUsuario a, #ayudaUsuario span{ display:block; float:left; height:20px; margin-left:5px;}
#ayudaUsuario span{width:90px;color:#666;font-size:11px; padding-left:10px; border-left: dashed 1px #999; padding-top:2px;}
#ayudaUsuario a{ width:20px;}
#ayudaUsuario .fmas{ background:url(/img/mas.gif) no-repeat left top;}
#ayudaUsuario .fmenos{background:url(/img/mas.gif) no-repeat -20px top;}
.fmas, .fmenos { margin-top:2px;}
#ayudaUsuario .imprimir{background:url(/img/printer.jpg) no-repeat left top; width:26px; height:26px;}
.rt10{ padding-right:10px; padding-top:10px} a.descargar{ padding-right:15px} a.descargar:hover{color:#03C; text-decoration:underline} #navLateral p a.vermas{display:block;  text-align:right;}

/************************* Paginas internas Part1***************************************/
#navLateral ul#comAduaneros  li a{ height:auto; line-height:16px; padding-top:7px; margin-bottom:7px;}
/****** titulos link****/
#linksUser{ background: url(/img/navLinks2.jpg) no-repeat; float:right; width:185px; height:65px; padding-right:15px;}
#linksUser a{display: block; float:left;}
#linksUser a#rss{ height:35px; width:65px;}
#linksUser a#portal{height:35px; width:120px;}
#linksUser a#english{height:28px; width:120px;}
#linksUser a#atraz{height:28px; width:65px;}

#linksUserdos{ background: url(/img/navLinks3.jpg) no-repeat; float:right; width:185px; height:65px; padding-right:15px;}
#linksUserdos a{display: block; float:left;}
#linksUserdos a#rss{ height:35px; width:65px;}
#linksUserdos a#portal{height:35px; width:120px;}
#linksUserdos a#english{height:28px; width:120px;}
#linksUserdos a#atraz{height:28px; width:65px;}

#linksUsertres{ background: url(/img/navLinks4.jpg) no-repeat; float:right; width:185px; height:65px; padding-right:15px;}
#linksUsertres a{display: block; float:left;}
#linksUsertres a#rss{ height:35px; width:65px;}
#linksUsertres a#portal{height:35px; width:120px;}
#linksUsertres a#spanish{height:28px; width:120px;}
#linksUsertres a#atraz{height:28px; width:65px;}

#info #titInt{ height:65px; padding-top:5px;}
#info #titInt h1{/*font-size:18px;*/}
#info #titInt p{ font:normal 13px/18px Arial, Helvetica, sans-serif;color:#555; margin-bottom:10px;}
#info #titInt a{display:block; height:28px; float:left} #info #titInt p a{ display:inherit; height:auto;}
#info #titInt.oAduanas h1, #info #titInt.oAduanas p strong{color:#036;}
#info #titInt.oTributaria h1, #info #titInt.oTributaria p strong{color:#900;}

/**********************Pag Orientacion aduanera y tributaria*********************************/
#orientacionBox {padding:10px; height:380px; width:790px;}
#orientacionBox a{ display:block; line-height:17px; padding:15px 5px 30px 15px; width:129px; height:120px; float:left; text-align:center; font-size:12px;background:url(/img/bgOrientacion.jpg) no-repeat left -250px;}
#orientacionBox a:hover{}
#orientacionBox a.img2{ padding-top:5px; height:90px;} 
#orientacionBox a img{ display:inline-block;}
#orientacionBox a strong{display:block;}
#cVirtuales{padding-top:0;}
#orientacionBox.oAduanera a{color: #039;}
#orientacionBox.oAduanera a:hover{color:#3153DD;background:url(/img/bgOrientacion.jpg) no-repeat -135px top;}
#orientacionBox.oTributaria a{color:#900;}
#orientacionBox.oTributaria a:hover{color:#F00;background:url(/img/bgOrientacion.jpg) no-repeat left top;}

/*********************PAGINAS INTERNAS*******************/
/*********************slide 2*******************************/
#banner2{margin:0 auto; position:relative; text-align:left; width:700px; background:#fff; height:75px;}
.graphic2, #prevBtn2, #nextBtn2{ margin:0; padding:0; display:block; overflow:hidden; text-indent:-8000px;}
#slider2{ border:solid 1px #999;}
#slider2 ul, #slider li{ height:75px; overflow:hidden;margin:0; padding:0; list-style:none;}
#slider2 li{height:73px; overflow:hidden; }
#prevBtn2, #nextBtn2{ display:block; width:10px;height:75px; position:absolute; left:-10px; top:0px;}
#nextBtn2{ left:700px;} 
#prevBtn2 a, #nextBtn2 a{ display:block; width:10px; height:75px; background:url(/img/izq.jpg) no-repeat 0 0;} 
#nextBtn2 a{background:url(/img/der.jpg) no-repeat 0 0;}
#slider2 ul#enlaces  li img{ margin:10px 21px; }

/**********************Pag novedades***********************/
.cult{ background:url(/img/bordeSup1.gif) repeat-x left bottom; padding-left:3px;}
.cult img{ background:url(/img/bgimgNov.jpg) no-repeat center bottom; padding-bottom:22px;  margin-right:17px; margin-bottom:15px; float:left; }
.cult a{font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;color:#039;}
.cult div{ margin-left:150px; height:190px; margin-bottom:25px;}
.left150{ margin-left:100px} .right25{ margin-right:25px;}
.leftTrib{ margin-left:10px} .right25{ margin-right:25px}
.memo{ width:440px; float:right;}
.memo strong, .memo a{color:#333; font-weight:bold;}
.memo a:hover{ text-decoration:underline;color:#036;}
.memo ul li{background-position:0 12px; line-height:23px;}
/**********************Pag Ruc*************************/
#barInstNav.ruc ul li { background:none; line-height:10px;}
#barInst a.titList{ font-weight:bold; color:#039; background: url(/img/bgli04.gif) no-repeat left 7px; padding: 0 15px;}
/**********************Pag Legislacion*****************/
#menuTabs ul.legislacion.uno{background:url(/img/bgTabsLegislacion.jpg) no-repeat left top;}
#menuTabs ul.legislacion.dos{background:url(/img/bgTabsLegislacion.jpg) no-repeat left -41px;}
#menuTabs ul.legislacion.tres{background:url(/img/bgTabsLegislacion.jpg) no-repeat left -83px;}
#menuTabs ul.legislacion li  {width:180px;}

#barInstNav.leg ul li a{background: url(/img/bgli03.gif) no-repeat left 5px; padding-left: 10px ;color:#063069;
   font-size:13px;}
#barInstNav.leg ul li a:hover{color:#03C; text-decoration:underline;}
#barInstNav.leg ul li ul{ padding-left:0; padding-top:5px; width:178px;}
#barInstNav.leg ul li ul li{ line-height:12px; display:block; background:url(/img/bgli05.gif) no-repeat left 10px; padding:3px 0 3px 10px; margin:0;width:155px;}
#barInstNav.leg ul li ul li ul{padding:3px 0 3px 5px;color:#333; width:auto;}


#barInstNav.leg ul li ul li a{display:inline; padding-right: 0;line-height:16px; background:none; margin: 0;font-size:12px;color:#333;width:155px; padding-left:0;}
#barInstNav.leg ul li ul li ul li{background:none; line-height:17px; padding-left:0px;}
#barInstNav.leg ul li ul li ul li a{ padding-left:0;}
#barInstNav.leg ul li.submenu a.titList{font-weight:bold; color:#039; background: url(/img/bgli04.gif) no-repeat left 7px; padding: 0 0 0 14px;}

/**********************Pag Estadisticas Estudios*****************/
#barInstNav.leg ul li.subtitulo {background: url(/img/bgli03.gif) no-repeat left 5px; padding-left: 10px; padding-top:6px; color:#063069; font-size:13px;}
#barInstNav.leg ul li.subtituloON{font-weight:normal; color:#036; background: url(/img/bgli03.gif) no-repeat left 5px; padding: 0 0 0 10px; }

/**********************Pag PDT**********************/
#barInstNav.des ul li{ background: url(/img/bguser01.gif) no-repeat center top; padding: 7px 0;font-size:12px;}

#barInstNav.des ul li a{ display:block; line-height:16px; background:url(/img/bgli03.gif) no-repeat left 5px; padding-left:12px;}
#barInstNav.des ul li a:hover{color:#039;}
/**********************Pag sorteo*******************/
#barInstNav ul li.slista01 div{ background:url(/img/bgli02.gif) no-repeat left 8px; padding-left: 12px;}
#barInstNav ul li.slista01 div a{ display:inline;  background:none; padding:0;}
/**********************Pag notificaciones*******************/
table.tb01{margin:0 auto; margin-top:15px; width:660px;font-size:11px} table .ruc{color:#0500E6; font-style:italic;}
table.tb01 tr th{ background:#B7CBEC;}
table.tb01 th, table.tb01 td { padding: 0 5px;}
.linkTablas {  background:url(/img/puntos.gif) no-repeat center center; width:170px; height:25px; margin:10px auto;}
.linkTablas a{ display:block; width:55px;}
.linkTablas a.ant{background:url(/img/ant.gif) no-repeat left center; padding-left:22px; float:left;}
.linkTablas a.sig{background:url(/img/sig.gif) no-repeat right center; padding-right:19px;float:right;}
.centrado{text-align: center;}
.centrado table.tb01{ margin-top:15px;margin-left:80px;}
/***********************Pag nota de prensa**************/
.masPrensa{ text-align:right; color:#039;padding-right:15px;font-size:11px; padding-bottom:5px;}
.masPrensa a{ text-decoration:none;color:#039;}
.masPrensa a:hover{ text-decoration:underline}
/***********************Pag legislacion general***********/
#combos { float:right;color:#036;font:10px Arial, Helvetica, sans-serif;}
#combos select{border:solid 0px #c4c4c4; padding:3px 6px; background:  url(/img/bgcombo.gif) no-repeat; outline:none;}
.calendario{ margin:25px auto 0;border:solid 1px #c4c4c4;}
.calendario tr th{color:#fff; background:#15548B;}
.calendario tr td{ width:45px;text-align:center;border:solid 1px  #c4c4c4; padding: 15px 5px;background:#F5F5F6; color:#5B5B5B;font-size:16px; font-weight:bold;}
.calendario .actual{ background:url(/img/bgdia.jpg);color:#fff; cursor:pointer;}
.calendario caption{ background:url(/img/bgth.jpg) repeat-x;color:#FFF; padding-bottom:5px} .calendario caption strong{color:#fff;}
.calendario caption a{ display: block; width:71px; height:20px; margin-top:5px;}
.mesAnterior{background: url(/img/mAnt.jpg) no-repeat 5px 2px; float:left;}
.mesSiguiente{background: url(/img/mSig.jpg) no-repeat 5px 0px; float:right;}
.GetEnlace{font-weight:bold;}
/**********************Pag opciones sin clave sol************/




#col1,#colr1,#col3{ width:280px} #col1{ padding-left:15px} #colr1{ padding-left:15px} #col3{ padding-right:15px;}
#col4 { width:280px} #col4{ padding-right:15px;}
#col1{ float:left; /*background:url(/img/bg3col.gif) no-repeat 300px 50px;*/}
#colr1{ float:left; /*background:url(/img/bg3col.jpg) no-repeat 300px 50px;*/}
#col3{float: right;width: 280px;	/*background: url(/img/bg3col.gif) no-repeat 0px 50px;*/ padding-left: 15px;}
#col4{float: right;width: 280px;	padding-left: 15px;}

#col2{ margin:  auto 280px; }
#bloques p{font-size:13px; font-weight:bold;color:#036} #bloques ul { margin-bottom:10px;}
#bloques ul li{ background:url(/img/bgli03.gif) no-repeat left 6px; line-height:22px; padding-left:12px;font-size:12px;}
#bloques ul li a{} #bloques ul li a:hover{color:#039; text-decoration:underline;}
/*********************Pag Operatividad Aduanera******************/
#operaAduanera h1{ display:block; background:url(/img/bgtitOpe.jpg) no-repeat; height:25px; margin-bottom:10px; padding:10px; font-size:17px; color:#036;}
#operaAduanera .colA01{float:left; width:524px;}
#operaAduanera .colA02{margin:0 230px 0  530px;}
#operaAduanera .colA03{float:right; width:217px;}

.box{ padding:0;background: url(/img/bgbox01.jpg) repeat-y center top; margin-bottom:10px;}
.box h2, .box2 h2{margin:0 6px 0 7px; display:block;color:#fff; text-indent:10px; font-size:12px; padding:4px 0;background:#0C3F6F; /*width: 190px;*/}
.box div{ margin:0 8px;background:url(/img/bgbox2.gif) no-repeat; padding:12px 7px;}
.box ul{ padding: 0  0 0 5px;}
.box ul li, .box2 ul li{ background:url(/img/bgli02.gif) no-repeat left 7px; padding-left:12px;padding-bottom:3px;}
.box ul li a, .box2 ul li a{font:12px/18px Arial, Helvetica, sans-serif;}
.box a:hover, .box2  a:hover{color:#03C; text-decoration:underline;}
.box ul li ul li, .box2 ul li ul li{ background: none; padding-left:5px;}
.box .boxInf{ margin:0;padding:0px;height:10px; background:url(/img/bgpieOA.jpg) center top; clear:both;}
.box strong, .box2 strong{margin-bottom:5px;margin-bottom:10px;font-size:12px;color:#036;}

.box2{padding:0; /*background: url(/img/bgbox02.jpg) repeat-y center top; */ margin-bottom:10px; /*width:210px; */ }
/*.box2 div{ margin:0 8px; padding:12px 7px 12px 10px;} */
.box2 div{ margin:0 8px; padding:2px 7px 2px 1px;} 
.box2 div p{font-size:12px; line-height:18px; padding: 0 7px} .box2 div p a{color:#039;}
.left50{ margin-left:90px;}
.box2 .boxInf2{ margin:0;padding:0px;height:12px; background:url(/img/bgpieOA2.jpg) center top;}
.box2 h2.cel{ background:#09F;}

div.listaIzq, div.listaDer{background:url(); padding-top:0;}
div.listaIzq{float:left; width:220px; margin:0;}
div.listaDer{margin-left:239px;padding-left:25px; }
div.listaDer.bg01{ background: url(/img/bglistaT01.gif) no-repeat 1px 15px;}

/**** Part2********/
/************************Pag Acciones de Control*****************/
#pest-control1{ height:28px; background:url(/img/pestana-accionescontrol1.jpg) no-repeat center; padding:10px 0px 15px 0px; font:15px Arial, Helvetica, sans-serif; color:#036;}
#pest-control1 ul li {padding:5px 60px 5px 10px;height:auto; font:bold 15px Arial, Helvetica, sans-serif; color:#0a2e68;display:block;float:left;}
#pest-control1 ul li a{color:#909090;}
#info2{ margin-left:155px; padding-left:15px; background:url(/img/bglinea.jpg) no-repeat left top;}
#info2 #titInt{ height:65px; padding-top:5px;}
#info2 h1{font:normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#036;}
#info2 #compartir h1{ float:left; line-height:27px} #info2 #compartir{ overflow:visible; height:70px;}
#info2 #compartir div{ margin-left:400px; height:28px; width:320px; background: url(/img/latIcons2.jpg) no-repeat 0px -69px;}
#info2 #compartir a{display:block; height:28px; float:left;}
#info2 #compartir a.fac{ width:25px; margin-right:7px;}
#info2 #compartir a.twi{width:29px;}
#info2 #compartir a.rss{width:64px;}
#info2 #compartir a.movil{width:70px;}
#info2 #compartir a.portal{width:125px; height:32px;}


/*
#info2 #compartir a.fac{ width:25px; margin-right:7px;}
#info2 #compartir a.twi{width:29px;}
#info2 #compartir a.rss{width:64px;}
#info2 #compartir a.movil{width:75px;}
#info2 #compartir a.portal{width:125px; height:32px;}

*/


#info2 .txts{float:left; width:580px; height:auto; padding:10px 0px 0px 5px; font:13px Arial, Helvetica, sans-serif; color:#333; text-align: justify; }
#info2 .txts h1{font:normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#036; padding-bottom:10px; }
#info2 .txts img{padding-bottom:15px;  }
#info2 .txts strong{font:13px Arial, Helvetica, sans-serif; color:#036; }

/********indice lateral***************************/
#navLateral2 { float:right; width:213px; height:auto;     }
#navLateral2 .tit {height:17px; width:195px;  background:url(/img/fondotit-indicelateral.jpg) no-repeat center top; padding:7px 5px 10px 10px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#FFF;    }
#navLateral2 .pie {width:213px; height:13px;  background:url(/img/fondopie-indicelateral.jpg) no-repeat left ;    }
#navLateral2 .cont { width:195px; background:url(/img/fondocont-indicelateral.jpg) repeat-y center; height:auto; padding:5px 5px 10px 10px;   }
#navLateral2 .cont ul{ list-style-image: url(/img/vineta-indicelateral.jpg);  margin-left:25px; display:block; font:bold 14px Arial, Helvetica, sans-serif; color:#115594; padding-bottom:10px;     }
#navLateral2 .cont ul li a{  color:#115594;  text-decoration:none;  }
#navLateral2 .cont ul li a:hover{ text-decoration:underline;   }

#navLateral2 .cont ul ul { margin:5px 20px;  }
#navLateral2 .cont ul li ul li{ list-style-image: url(/img/vineta-indicelateral2.jpg);  padding:0px;  }
#navLateral2 .cont ul li ul li a{ text-decoration:none; font:11px Arial, Helvetica, sans-serif; color:#333; font-weight:normal;  }
#navLateral2 .cont ul li ul li a:hover{ text-decoration:underline;  }

#navLateral.acciones{width:150px; float:left; padding: 0 0; overflow:hidden;}
#navLateral.acciones div#user ul li{line-height:0; padding-left:12px; display: block; width:120px; height:27px;}
#navLateral.acciones div#user ul li a{float:left; margin-right:10px; margin-left:5px;}
#navLateral.acciones div#user a.mas{background: url(/img/icogris.jpg) -2px -6px;}
#navLateral.acciones div#user a.men{background: url(/img/icogris.jpg) -24px -4px;}
#navLateral.acciones div#user a.preg{background: url(/img/icogris.jpg) -50px -2px;}

#navLateral a.btn01-2{ background:url(/img/latIcons2.gif) no-repeat 0px 5px;}
#navLateral a.btn02-2{ background:url(/img/latIcons2.gif) no-repeat 0px -27px;}
#navLateral a.btn03-2{ background:url(/img/latIcons2.gif) no-repeat 0px -61px;}
#navLateral a.btn04-2{ background:url(/img/latIcons2.gif) no-repeat 0px -93px;}
#navLateral a.btn05-2{ background:url(/img/latIcons2.gif) no-repeat 0px -135px;}
#navLateral a.btn06-2{ background:url(/img/latIcons2.gif) no-repeat 0px -165px;}

#navLateral a.btn01-2, #navLateral a.btn02-2, #navLateral a.btn03-2, #navLateral a.btn04-2, #navLateral a.btn05-2, #navLateral a.btn06-2{ font:14px Arial, Helvetica, sans-serif; color:#8a8a8a; line-height:16px;  height:auto; padding:5px 0px 5px 30px;}

/**********PAg audio visuales******/
#audiovisuales{ background: url(/img/bgAudioVisuales.jpg) no-repeat;}
#audiovisuales h1{ margin:0; line-height:0px; text-indent:25px;padding-top:5px;}
#audiovisuales #video{ margin-top:72px; margin-left:167px; width:466px; height:287px; background:#ccc;}
#linksVideos{padding-top:100px; padding-left:30px; }
#linksVideos a{ font-weight:bold;color:#999; display:block; background:url(/img/bgli03.gif) no-repeat left 7px; padding-left:10px; float:left; width:210px; padding-right:15px} #linksVideos a.activo{color:#039;}

/**********Pag contacto***************/
#linksCont{float:right; text-align:left; background:url(/img/bgContlinks.jpg) no-repeat right top; width:390px; height:50px;}
#linksCont a{ float:left;display:block; padding:7px 0; text-align:center;font-size:14px; font-weight:bold;color:#777;}
#linksCont a.activo{color:#039;}
#locales{ width:160px;}
#acentral{ width:140px; text-align:left; padding-left:10px; background:url(/img/bgli03.gif) no-repeat 7px 14px;}
#csmovil{ width:85px;}


/**********Pag contacto-quejas***************/
#linksCont{float:right; text-align:left; background:url(/img/bgContlinks-q.jpg) no-repeat right top; width:403px; height:45px;}
#linksCont a{ float:left;display:block; padding:10px 0; text-align:center;font-size:14px; font-weight:bold;color:#777;}
#linksCont a.activo{color:#039;}
#locales1{ width:100px;}
#acentral1{ width:200px; text-align:left; padding-left:2px; background:url(/img/bgli03.gif) no-repeat 7px 14px;}
#csmovil1{ width:85px;}

/**************************Slide continuo de banners*********************/
.suno{background:none;border:none;}
.jcarousel-direction-rtl{direction:rtl;}
.suno-horizontal{padding:0;width:575px; height:76px; display: block;}
.suno1{display:block;position:relative; width:575px;}
.jcarousel-clip-horizontal{height:76px;position:relative;width:575px;}
.jcarousel-clip-horizontal .suno{display:block;overflow:hidden;position:relative;}
.jcarousel-clip{height:76px;width:575px;overflow: hidden; position: relative;}
.jcarousel-direction-rtl .sli2{margin-left:10px;margin-right:0;}
.jcarousel-item-placeholder{background:#fff;color:#000;}
.jcarousel-next-horizontal{background:transparent url(/img/der.jpg) no-repeat 0 0;cursor:pointer;height:76px;position:absolute;right:-9px;top:0;width:10px;}
.jcarousel-direction-rtl .jcarousel-next-horizontal, .jcarousel-direction-rtl .jcarousel-next-horizontal{background-image:url(/img/prev-horizontal.png);left:5px;right:auto;}
.jcarousel-prev-horizontal{background:transparent url(/img/izq.jpg) no-repeat 0 0;cursor:pointer;height:76px;left:-9px;position:absolute;top:0;width:10px;}
.jcarousel-direction-rtl .jcarousel-prev-horizontal{background-image:url(/img/next-horizontal.png);left:auto;right:5px;}
.jcarousel-prev-disabled-horizontal{background-position:-96px 0;cursor:default;}
.display{display:block;}
.jcarousel-next-vertical:hover,.one .jcarousel-prev-vertical:hover{background-position:0 -32px;}
.jcarousel-next-vertical:active,.one .jcarousel-prev-vertical:active{background-position:0 -64px;}
.jcarousel-next-disabled-vertical,.one .jcarousel-next-disabled-vertical:hover,.one .jcarousel-next-disabled-vertical:active,.one .jcarousel-prev-disabled-vertical,.one .jcarousel-prev-disabled-vertical:hover,.one .jcarousel-prev-disabled-vertical:active{background-position:0 -96px;cursor:default;}
.sli{float: left; list-style: none outside none;}
#mycarousel{overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 575px;}
.jcarousel-prev, .jcarousel-next{display: block;}


/**************************TABLAS*********************/

table.tb02{border-style:solid; margin-top:15px; margin-left:8px; border-width:1px; border-color:#006699;  width:100%; font-size:11px}
table.tb02 tr th{ background:#B7CBEC}
table.tb02 td{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699;}
table.tb02 td.negrita{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699; font-weight:bold;}

table.tb03{border-style:solid; margin-top:10px; margin-left:8px; border-width:1px; border-color:#006699;  font-size:12px;}
table.tb03 td{ padding: 0 5px; border:1px solid green; padding:8px; border-color:#006699;}
table.tb03 td.cabecerafila{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699; background-color:#069; color:#FFF; font-weight:bold}
table.tb03 td.negrita{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699; font-weight:bold}

table.tb04{border-style:solid; margin-top:0px; margin-left:8px; border-width:0px; border-color:#006699;  font-size:12px}
table.tb04 td{ border:0px solid green; padding:5px; border-color:#006699;}
table.tb04 td.juntaceldas{ border:0px solid green; padding:0px; border-color:#006699;}
table.tb04 td.cabecerafila{ padding: 0 0px; border:0px solid green; padding:5px; border-color:#006699; background-color:#069; color:#FFF; font-weight:bold}
table.tb04 td.negrita{ padding: 0 5px; border:0px solid green; padding:5px; border-color:#006699; font-weight:bold}

table.tb05{border-style:solid; margin-top:0px; margin-left:8px; border-width:1px; border-color:#999;  font-size:12px}
table.tb05 td{ border:0px solid green; padding:2px; border-color:#999;}
table.tb05 td.juntaceldas{ border:1px solid green; padding:0px; border-color:#999;}
table.tb05 td.cabecerafila{ padding: 0 0px; border:1px solid green; padding:5px; border-color:#006699; background-color:#069; color:#FFF; font-weight:bold}
table.tb05 td.negrita{ padding: 0 5px; border:1px solid green; padding:5px; border-color:#999; font-weight:bold}
table.tb05 a{ color:#333; font-weight:bold; text-decoration:underline}

table.tb06{border-style:solid; margin-top:0px; margin-left:10px; border-width:0px; border-color:#999; font-size:12px}
table.tb06 td{ border:0px solid green; padding:8px; border-color:#999; vertical-align:top; text-align:justify}
table.tb06 td.juntaceldas{ border:0px solid green; padding:0px; border-color:#999;}
table.tb06 td.cabecerafila{ padding: 0 0px; border:1px solid green; padding:5px; border-color:#006699; background-color:#069; color:#FFF; font-weight:bold}
table.tb06 td.negrita{ padding: 0px; border:0px solid green; padding:0px; border-color:#999; font-weight:bold}
table.tb06 a{ color:#333; font-weight:bold; text-decoration:underline}

table.tb07{border-style:solid; margin-top:15px; margin-left:8px; border-width:1px; border-color:#006699;  width:94% !important; font-size:11px;}
table.tb07 tr th{ background:#B7CBEC}
table.tb07 td{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699;}
table.tb07 td.negrita{ padding: 0 5px; border:1px solid green; padding:10px; border-color:#006699; font-weight:bold;}

/*************************Pag Mapa de sitio***********************/
#mapa{ margin-right:10px; /*background:url(/img/sepMap.jpg) no-repeat 313px top*/ }
#mapa h1{ font-size:12px;display:block; background: url(/img/bgh1map.jpg); color:#fff; padding:4px 0 4px 15px}
#mapa div{ padding:0} #mapa div ul{ padding-top:10px}
#mapa div ul li{padding-left:15px; display:block;background: url(/img/bgli02.gif) no-repeat left 7px}
#mapa div ul li.limas{background: url(/img/limas.gif) no-repeat left 7px}
#mapa div ul li a{font:12px/20px Arial, Helvetica, sans-serif;color:#039}
#mapa div ul li a:hover{color:#03C; text-decoration:underline}
#mapa .listado430{ height:480px;padding-bottom:10px; padding-left:5px}
#mapa .listado2{height:170px}
#mapa .listado3{height:373px}
#mapa .listado4{height:241px}
#mapa .listado5{height:109px}
#mapa .listado6{height:590px}
#mapa div ul ul{padding-left:15px; padding-top:0}
#mapa div ul ul li{display:block;background: url(/img/bgli05.gif) no-repeat left 7px; display:block}
#mapa div ul ul a{font-size:13px;color:#333;line-height:20px}
#mapa #col1, #mapa #col2, #mapa #col3 { width:290px; background:none}
#mapa #col1{}
#mapa #col3{}
#mapa #col2{ width:290px; margin:0 auto; padding-right:11px; padding-left:11px; /*background:url(/img/sepMap.jpg) no-repeat 337px top*/}

#menuTabs.mapaTabs{height:45px; background:url(/img/tabs5.jpg) no-repeat -3px 0 ; margin-bottom:15px;padding-top:10px; padding-right:10px}
#menuTabs.mapaTabs.bg2{background:url(/img/tabs5.jpg) no-repeat -3px -45px}
#menuTabs.mapaTabs.bg3{background:url(/img/tabs5.jpg) no-repeat -3px -90px}
#menuTabs.mapaTabs.bg4{background:url(/img/tabs5.jpg) no-repeat -3px -132px}
#menuTabs.mapaTabs.bg5{background:url(/img/tabs5.jpg) no-repeat -3px -175px}
#menuTabs.mapaTabs ul{ padding-left:20px}
#menuTabs.mapaTabs ul li{ width:160px; padding:0;font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14px}
#menuTabs.mapaTabs ul li.ancho1{ width:150px}
#menuTabs.mapaTabs ul li.btnComunidades{ width:120px; padding-top:7px}
#menuTabs.mapaTabs ul li a{font-size:13px}

/*******************PAg Orientacion Procedimientos***************/
#colUno{ float:left; width:368px; padding:5px}
.oriAduPro h1{ display:block;font-size:12px;color:#fff; background:#036; padding-left:10px; margin:0 7px 0 6px}
.boxPro { margin-bottom:15px;background:url(/img/bgpieboxPro.jpg) center bottom; padding-bottom:8px}
.boxPro div{background:url(/img/bgboxAdProc.jpg); padding:10px}
.text .boxPro ul{ padding-left:10px} .text .boxPro ul li{ background: url(/img/bgli02.gif) no-repeat left 7px}
#coldos{ margin-left:385px; padding:5px}

/*************************Ventanas Pop up ***********************/
body.ventanaspopup{ background:#FFF} 
.text-vineta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #900;
	font-style: inherit;
}

/***************************Menu Desplegable**********************/



/**ul.menu {background:url(/img/bgli02.gif) no-repeat left 18px; padding-left: 12px padding: 20px;
	margin:0;
	padding:0;
	list-style:none;
 }	**/

ul.menu {
	margin:0;
	padding:0;
	list-style:none;
 }	



li.menu
  { 
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
 } 

ul.menu li
{
	position: relative;
	width: 157px;
	font-weight: normal;
	color:#036
}
ul.menu ul

{
	position: relative;
	display: none;
	right: 15px;
	top: 8px;

}
ul.menu li:hover > ul
{
	display: block;

}

li.menu
  { 
	margin:0;
	padding:4px;
	list-style:none;
	height:35px;
	width:190px;
	display:block;
}


 
ul.menu2
{
	list-style:none;
}
ul.menu2 li
{
	border:1px solid black;

}
ul.menu2 ul
{
	display:none;
	list-style:none;
}
ul.menu2 li:hover > ul
{
	display:block;
}


.fremate{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
   text-shadow: 1px 1px #333, 2px 2px #999, 3px 3px #ccc;
   color: #B22222;
}
.fremate{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
   text-shadow: 1px 1px #333, 2px 2px #999, 3px 3px #ccc;
   color: #B22222;
}

.tremat{background-color:#043B7B;
		font:Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#FFF;
		font-weight:bold;
		list-style:none}
		

.tremat li a{color: #FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}



.tremat li a:hover{color: #FF0;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;

}


/* MENU SDA*/

ul.menu-sda
{
   list-style:none;
}
ul.menu-sda ul /* Para todos los ul debajo del ul.menu */
{
   display:none;
   list-style:none;
   
} 
/* Esto afecta a todos los ul inmediatamente debajo (el > ) de un li que a su vez esté dentro de un ul.menu */
ul.menu-sda li:hover > ul
{
   display:block;
 
  
}

ul.menu-sda
{
   list-style:none;
}
ul.menu-sda li
{
   position:relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
   width:194px;
 }
ul.menu-sda ul
{
   /*position:absolute;  Esta posición es relativa al <li> que contiene a este <ul> */
   margin:0; /* Para que no monte sobre el <li> */
   top:14px;
   display:none;
   list-style:none;
background-attachment:scroll; 
	
}
ul.menu-sda li:hover > ul
{
   display:block;
}


.list-group  li   {
 border-top: 1px solid #ddd;
 list-style:none;
}

/*
.legislacion  li  {
 background:#a7a7a7;
 margin:2px;
 padding: 10px 3px 4px 4px;
 tex
}
*/

    table {
    border:white;
    width:98%;
    text-align:center;
    }
    table thead {
    font-size:25px;
    }
    table tbody {
    color: rgb(61, 60, 60);
    }
    table tfoot  {
    font-size:11px;
    font-weight:bold;
    background:blue;
	}
	
/* Agregado para corrección de tablas y contenidos ORIENTACION ADUANERA */	

.box2 ul{

 padding-left: 5px
 
 }
 
  
 .box3 ul{

 padding-left:6px
 
 }
 
 .box4 ul{

 padding-left:0px
 
 }
 
 .box4  {
  padding-left:0px;
  margin-right:0px;
  margin-left:0px; 
 }
 

 .box4 ul li{ background:url(/img/bgli02.gif) no-repeat left 7px; padding-left:12px;padding-bottom:3px;}
 .box4 ul li a{font:12px/18px Arial, Helvetica, sans-serif;}
 .box4  a:hover{color:#03C; text-decoration:underline;}
 .box4 ul li ul li{ background: none; padding-left:5px;}
 .box4 strong{margin-bottom:5px;margin-bottom:10px;font-size:12px;color:#036;}
 
  .divbox{
  margin-right:0px;
  margin-left:0px; 
}
 
 
  .divbox2{
  padding-left:25px;
}
 
 
 .divborder{
  box-shadow: 0px 1px 5px 1px #aaa; 
  border-radius: 0px;  
  background-color:#FFF;
  padding:15px;
  margin-top:0px;
  padding-right:18px;
  text-align:justify;
  font-size:12px;
  clear:both;
  margin-bottom:10px;
}

 .divborder2{
  box-shadow: 0px 1px 5px 1px #aaa; 
  background-color:#FFF;
  margin-top:0px;
  margin-bottom:0px;
  text-align:justify;
  font-size:12px;
  background-color:#0c3f6f;
  clear:both;
  
}

/* Agregado para corrección de MAPAWEB */	


 .divmapa ul li{padding-left:15px; padding-bottom:5px; background: url(/img/bgli02.gif) no-repeat left 7px}
 .divmapa ul ul li {padding-left:15px; padding-bottom:5px; background: url(/img/bgli05.gif) no-repeat left 7px}
 .divmapa  ul ul {
    padding-left: 15px;
}
 .divmapa{ font-size:12px;  }
 
 
 @media (min-width: 100px) and (max-width: 980px) {
 
  #menuTabs.mapaTabs.bg1 {
	background:url(none);
	padding-top:20px;
	padding-bottom:20px; height : auto;
	margin-bottom:20px;
  } 
  
  
  #menuTabs.mapaTabs.bg1 ul li{
	background:#a7a7a7;	
	padding:15px;
	border-bottom:3px solid #fff; 
	margin-left:3px;
  }
  
  #menuTabs.mapaTabs.bg1 ul .activo{
	background:#0063AE;	
  }
  
   #menuTabs.mapaTabs.bg1 ul li a{
	color:#FFF;	
  }
  

  #menuTabs.mapaTabs.bg2 {
	background:url(none);
	padding-top:20px;
	padding-bottom:20px; height : auto;
	margin-bottom:20px;
  } 
  
  
  #menuTabs.mapaTabs.bg2 ul li{
	background:#a7a7a7;	
	padding:15px;
	border-bottom:3px solid #fff;
	margin-left:3px;
  }
  
  #menuTabs.mapaTabs.bg2 ul .activo{
	background:#0063AE;	
  }
  
   #menuTabs.mapaTabs.bg2 ul li a{
	color:#FFF;	
  }
  
  
  
  
  #menuTabs.mapaTabs.bg3 {
	background:url(none);
	padding-top:20px;
	padding-bottom:20px; height : auto;
	margin-bottom:20px;
  } 
  
  
  #menuTabs.mapaTabs.bg3 ul li{
	background:#a7a7a7;	
	padding:15px;
	border-bottom:3px solid #fff;
	margin-left:3px;
  }
  
  #menuTabs.mapaTabs.bg3 ul .activo{
	background:#0063AE;	
  }
  
   #menuTabs.mapaTabs.bg3 ul li a{
	color:#FFF;	
  }
  
  
  #menuTabs.mapaTabs.bg4 {
	background:url(none);
	padding-top:20px;
	padding-bottom:20px; height : auto;
	margin-bottom:20px;
  } 
  
  
  #menuTabs.mapaTabs.bg4 ul li{
	background:#a7a7a7;	
	padding:15px;
	border-bottom:3px solid #fff;
	margin-left:3px;
  }
  
  #menuTabs.mapaTabs.bg4 ul .activo{
	background:#0063AE;	
  }
  
   #menuTabs.mapaTabs.bg4 ul li a{
	color:#FFF;	
  }
  
  
  #menuTabs.mapaTabs.bg5 {
	background:url(none);
	padding-top:20px;
	padding-bottom:20px; height : auto;
	margin-bottom:20px;
  } 
  
  
  #menuTabs.mapaTabs.bg5 ul li{
	background:#a7a7a7;	
	padding:15px;
	border-bottom:3px solid #fff;
	margin-left:3px;
  }
  
  #menuTabs.mapaTabs.bg5 ul .activo{
	background:#0063AE;	
  }
  
   #menuTabs.mapaTabs.bg5 ul li a{
	color:#FFF;	
  }
  #menuTabs.mapaTabs ul li.ancho1{ width:180px}
   #menuTabs.mapaTabs ul li.activo{ width:180px}
}
 
 /*
#menuTabs.mapaTabs{height:45px;background:url(/img/tabs5.jpg) no-repeat -3px 0 ; margin-bottom:15px;padding-top:10px; padding-right:10px}
*/