﻿html, body {
	height: 100%;
	margin: 0;
}
h1 {
	font-size:24px !important;
	font-weight:bold !important;
}
/* Texto de páginas de contenido */

blockquote{padding:10px 20px;margin:0 0 20px;font-size:14px !important;border-left:0px solid #eee}

/*Barra navegación*/  
#divCabecera{
    background-color: #fff; 
}
.navLogo{
    height: auto;
    padding: 10px;
}
#navBarSuperior{
    /* display: inline !important;*/
}   
#divNavPrinicipal{
    margin-bottom: 0px;
	position: inherit !important;
}
#divSeparador{
    height: 15px; 
    margin-top: -5px;
}
.aOpcionCabecera{
    line-height: 1.1em !important;
    padding: 10px 10px !important;
    font-size: 11px;
}
.aOpcionCabecera:hover{  
    text-decoration: underline !important;
}
/*Boton SOL grande*/
.liBotonSol{
    width: 380px;
    height: 50px;
    margin-top: 5px;
    padding: 5px 5px;
}
.divBotonTitulo{
    text-align: center;
    font-size: 12px;
    color: #d0d0d0;
    font-weight: bold;
}
.divBotonSol{
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
}
.divBotonSol:hover{     
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
    color: #fff;
}
.divBotonSol > span{
    text-decoration: underline;
}
.aLinkSol{
    font-size: 14px;
}
.aLinkSol:hover{     
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
    color: #fff !important;
}
/*Sol responsive*/
.btnSol{
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
/*Viñetas*/
.aOpcionMenu{
    font-size: 17px;
    margin: 0px;
    min-width: 180px;
    padding: 15px 10px 3px 10px !important;
    font-weight: bold;
}
.aOpcionMenu > div > .glyphicon{
    font-size: 13px;
}
.aOpcionMenu:hover{
    background-color: #0063AE !important; /*azul hover*/
} 
.aOpcionMenu:hover > div > .glyphicon{
    color: #FFB612 !important; /*icono naranja*/
}     
.aOpcionMenu:hover > .divOpcionSeparador{
    /*background-color: #FFB612 !important;*/ /*separador naranja*/
} 

.aOpcionMenu:active{
    background-color: #0063AE !important;
}  
.aOpcionMenu:active > div > .glyphicon{
    color: #FFB612 !important; /*icono naranja*/
}  
.aOpcionMenu:focus{
    background-color: #0063AE !important;
}  
.navbar-default .navbar-nav> .open > a, 
.navbar-default .navbar-nav> .open > a:focus, 
.navbar-default .navbar-nav> .open > a:hover{
    background-color: #0063AE;
}
.aOpcionMenuActivo{            
   /* background-color: #0063AE !important;*/
}
.aOpcionMenuActivo > div > .glyphicon-menu-down {
	color: #FFF !important; /*separador naranja*/
}  

.aOpcionMenuActivo:focus > div > .glyphicon-menu-down, 
.aOpcionMenuActivo:hover > div > .glyphicon-menu-down{
	color: #FFB612 !important; /*separador naranja*/
}  
.divOpcionSeparador{
    height: 4px; 
    width: 100%;
    margin-top: 10px;
}  
.aOpcionMenuActivo > .divOpcionSeparador, 
.aOpcionMenuActivo:focus > .divOpcionSeparador, 
.aOpcionMenuActivo:hover > .divOpcionSeparador{
	background-color: #FFB612 !important; /*separador naranja*/
} 
/*Submenú*/
.divSubmenu{
    padding-top: 0px;
    border: 1px solid #0063AE;
}
.colSubmenu{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}
.ulMenuNivel1{
    background-color: #0063AE;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 9px 0px;
    font-weight: bold;
}
.liMenuNivel1b:hover > li{            
    color: #FFB612;

}
.liMenuNivel2{
    color: #2D83A6;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 10px 3px 30px;
    position: relative;
    line-height: 1.1em;      
    cursor: pointer;
    cursor: hand;
}
.liMenuNivel2 > img{
    position: absolute !important;
    left: 10px;
    top: 22px;
    font-size: 13px;
    display: inline-block;
}
.liMenuNivel3{
    color: #778796;
    font-size: 13px;
    padding: 0px 10px 0px 30px;
    line-height: 1.3em;      
    cursor: pointer;
    cursor: hand; 
}
/*Botones Sol*/
#btnBuscar{
    border: 1px solid #AB1440;
}
/*Cuerpo*/
#divBreadcrumb .breadcrumb {/*En una sola linea*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
}
.divListaIndice > .list-group-item{
    padding: 10px 30px !important;
}
.divListaIndice > .list-group-item > .list-group-item-text > .glyphicon{
    position: absolute !important;
    left: 10px;
    top: 15px;
}
.breadcrumb > li {
    display: inline;
}
/*Footer*/
#footerBarraLinks{
    padding: 15px 0;
}
.divFooterBarraLink{
    padding-left: 0px;
    padding-right:  0px;
    line-height: 1em;
}
.aFooterBarraLink{
    font-size: 13px;
}
#footerLinks{
    padding: 30px 0;
}
.aFooterLinks{
    font-size: 13px;
} 
#footerLinks h4{
    font-size: 13px;
}   
#footerLinks ul{
    padding-left: 15px;
}   
#footerLinks img{
    margin-bottom: 10px;
}  
#footerPrincipal{
    background-color: #0063AE;
    padding: 20px 0 15px 0px;
    border-top: 1px solid #f5f5f5;
    font-size: 13px;
} 
#footerPrincipal img{
    margin: 0px 10px;
} 
/*TODO*/
.divFooterColumna ul{
    list-style-type: none;
}
.divFooterColumna > ul > li {
    position: relative !important;
}
.divFooterColumna > ul > li > span{
   left: -12px;
    position: absolute !important;
    color: #fff;
    top: 3px;
}

/*Estilos*/
small, .small{
    font-size: 12px;
}
.negrita{
    font-weight: bold;
}
.sinRadio{
    border-radius: 0px !important;
}
.sinBorde{
    border: 0px !important;
    box-shadow: none;
}
.sinPadding{
    padding: 0px !important;
}
.colBlanco{ 
    color:    #fff !important;
}
.colAzul{ 
    color:    #0062AE !important;/*oficial*/
}
.colAzul2{
    color: #004586 !important; /*mas oscuro*/
}
.colRojo { 
    color:    #AB1440 !important;/*oficial*/
}
.colCeleste{
    color: #00A6CC !important;/*mas oscuro*/
}
.colCeleste2{
    color: #79E7FF !important;
}
.colPlomo{ 
    color:    #7C7C7C !important;
}
.colPlomo2{
    color: #595959;
}
.colNaranja{
    color: #FFB612;
}
.backBlanco{
    background-color: #fff !important;
}
.backRojo{            
    background-color: #AB1440;
}
.backAzul1{
    background-color: #0063AE;
}
.backPlomo1{
    background-color: #F6F6F4;
}
.backPlomo2{
    background-color: #E5E5E5;
}
.backPlomo3{
    background-color: #A7A7A7;
}
.backCeleste1{
    background-color: #00A6CC;
}      
@media (max-width: 768px) {  
    #imgLogo{
        height: 35px;
    } 
    .divBotonTitulo{
        font-size: 11px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .liBotonSol{
        width: 95% !important;
        margin: 0px 0px  15px 10px;
        padding: 7px 0px;
        min-height: 55px;
    }
    .divBotonSol{        
        font-size: 14px !important;
        line-height: 1em;
    }
    .liOpcionCabecera{
        float: left;
        width: 33%;
    }
    .text-centro{/*Por el footer*/
        text-align: center !important;
        float: none !important;
    }
    .divFooterColumna{
        margin-bottom: 40px;
    }     
    .divFooterBarraLink{
        min-height: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-centro{/*Por el footer*/
        text-align: center !important;
        float: none !important;
    }
}
@media (min-width: 768px) {
    .col-xs-15{
        width:20%;
    } 
    .navbar .navbar-nav-centro {
        display: inline-block !important;
        float: none !important;
    }        
    .navbar .navbar-centro {
        text-align: center;
    }
    #txtBuscar{
        min-width: 250px !important;
    }
    .liOpcionCentro{
        border-right:  3px solid #f5f5f5;
    }
    .divGobierno{
        text-align: center;
    }
    .dropdown-menu.columns-4 {
        min-width: 550px;
    }
}
@media (min-width: 992px) {
    .dropdown-menu.columns-4 {
        min-width: 900px;
    }
}
@media (min-width: 1200px) {	    
}



/*Iconera*/                
.divTituloSeccion{
    border-bottom: 1px solid #FFB612;
    margin-bottom: 20px;
    border-left: 20px solid #fff;
    border-right:  20px solid #fff;
    padding: 0px;
}
.divIconosTitulo{
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 30px;
}
.divNoticiaIzquierda{
    margin-bottom: 30px;
}
.divNoticiaIzquierda img{
    width: 100%;
}
.divNoticiaDerecha{
    
}
.aNoticiaTitulo{
    font-size: 16px;
}
.pNoticiaTexto{    
    font-size: 12px;
}
.aNoticiaMas{    
    font-size: 12px;
    font-style: italic;
}
.divNoticiaAnteriores{
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}
.divInfoIzquierda{    
    margin-bottom: 15px;
    padding-right: 0px !important;
}
.divInfoIzquierda img{
    width: 100%;
    height: 130px;
}
.divInfoDerecha{
    background-color:  #0062AE !important;/*oficial*/
    color: #fff;
    height: 130px;
    padding-top: 40px;
}
.divInfoDerecha a{
    color: #fff;
    font-size: 18px;
}