@charset "utf-8";
/* CSS Document */
#header{ display:none}
#barInst{ display:none}
#titInt #linksUI{ display:none}
#contenido .text img{ display:none}
#cont{ margin-top:50px}
.text{color:#000; width:100%;font-size:14px}
.text h1{font-size:17px; margin-bottom:10px;color:#000}
.text strong{color:#000}
body .text p{ font-size:13pt}
#titInt p span.azul{color:#000}
#linksInf{ display:none}
#linksPie{ background:none;color:#333}
#ayudaUsuario{ display:none}