

/*****			Medium-Devices	***********/

.header-logo-button ul li:nth-child(1) {
    width: 32%;
}
.header-logo-button ul li{
	width:21%;
}
.navbar-nav > li > a {
    padding: 6px 16px 6px 22px;
}
.first-section-text h2{
	font-size: 23px;
}
.second-section-blog h2{
	font-size: 26px;
}
.third-sectio-back{
	height:auto;
}
.fourth-section-payments ul li a{
	font-size: 13px;
}
.zarfoun-center-col-3 h2{
	font-size: 11px;
}
.zarfoun-center-col-3{
	padding-top: 11px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2{
	font-size:11px;
}
.zarfoun-6row-back .zarfoun-center-col-4 > p{
	font-size: 12px;
}
.zarfoun-center-col-1-2nd h2{
	margin-top: 7px;
}


