.second-sectio-back.min {
    min-height : 567px;
}

/*****			Medium-Devices	***********/

.header-logo-button ul li:nth-child(1) {
    width: 32%;
}
.header-logo-button ul li{
	width:21%;
}
.navbar-nav > li > a {
    padding: 6px 16px 6px 22px;
}
.first-section {
    margin-top : 228px;
}
.first-section-text h2{
	font-size: 23px;
}
.second-section-blog h2{
	font-size: 26px;
}
.third-sectio-back{
	height:auto;
}
.fourth-section-payments ul li a{
	font-size: 13px;
}
.zarfoun-center-col-3 h2{
	font-size: 11px;
}
.zarfoun-center-col-3{
	padding-top: 11px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2{
	font-size:11px;
}
.zarfoun-6row-back .zarfoun-center-col-4 > p{
	font-size: 12px;
}
.zarfoun-center-col-1-2nd h2{
	margin-top: 7px;
}




/*******	Tabelet-Devices		*********/

.for-tabelt{
	display: none;
}
.for-not-desktop{
	display: block;
}
.header-logo {
    float: left;
}
.header-logo-button ul li {
    width: 17%;
}
.navbar-right{
	padding-top:0;
}
.navbar{
	min-height: auto;
}
.first-section-text {
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
}
.first-section-image {
    padding-bottom: 16px;
    padding-top: 15px;
}
.second-section-blog h2{
	width: 40%;
}
.second-section-blog p {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
}
.third-section-blog {
    text-align: center;
}
.third-section-blog h2{
	margin-top: 5px;
}
.third-section-blog h4{
	margin-left: auto;
	margin-right:auto;
	margin-top:0;
}
.third-sectio-blog-para p{
	padding-right:0;
	text-align:center;
	
}
.border-left-blog {
    border-left: medium none;
    padding-left: 0;
}
.third-sectio-back{
	padding-bottom: 20px;
    margin-top : 86px;
}
.fourth-section{
	height: auto;
	padding-bottom: 15px;
}
.fourth-section-text h2 {
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
}
.fourth-section-payments ul li{
	margin-left: 15px;
}
.fourth-section-payments{
	margin-top: 20px;
}
.zarfoun-left-aside {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-left-aside h2{
	margin-top:0;
}
.zarfoun-right-aside{
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-right-aside h2{
	margin-top:0;
}
.zarfound-sections-second-right {
    border-left: 1px solid;
    text-align: center;
}
.zarfound-sections-second-title{
	border-color: black;
}
.zarfoun-second-right-aside {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-second-right-aside h2{
	padding:0;
	
}
.zarfoun-center-col-1-2nd h2 {
    margin-top: 19px;
}
.zarfoun-1row-back-2nd{
	border-top:none;
}
.footer-one-content ul li {
    border-right: medium none;
    display: block;
}
.footer-one-content img {
    margin: 10px auto 0;
}
.footer-right1 {
    float: none;
}
.footer-one-content ul{
	padding-top: 0;
}
.footer-one-content.footer-right1 img {
    margin-top: 7px;
}
.footer-one-back{
	padding-top: 10px;
    margin-top : 87px;
}
.footer-two-content ul{
	text-align: center;
}
.footer-two-content img {
    display: block;
    float: none;
    margin: 5px auto 13px;
    text-align: center;
}
	

	
	
	/************		Mobile-Devices		*************/
.header-logo-button .btn{
	height:auto;
	width: auto;
}
.header-logo-button ul li.logo-bt-1-back {
    background-size: 100% 100%;
}
.header-logo-button ul li.logo-bt-2-back{
    background-size: 100% 100%;
}
.header-logo-button ul li:nth-child(1) {
    width: 27%;
}
.header-logo-button ul li {
    width: 33%;
}
.navbar-right {
    margin: 0;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.navbar-default .navbar-nav > li > a {
    border-right: medium none;
    padding-left: 0;
    padding-right: 0;
}

.for-mobile{
	display:block;
}
.for-not-desktop{
	display:none;
}
.header-logo{
}
.header-logo img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header-logo-button{
	text-align: center;
}
.header-logo-button ul{
	text-align:center;
}
.banner-section-text h2{
	font-size: 30px;
}
.first-section-text h2 {
    font-size: 16px;
}
.first-section-text h3{
	font-size: 20px;
}
.first-section-text h3{
	font-size:32px;
	margin:0;
}
.second-sectio-back {
    top      : 87px;
    position : relative;}
.third-section-text h2{
	font-size: 32px;
}
.third-section-text {
    margin-bottom: 16px;
    margin-top: 29px;
}
.fourth-section-payments ul li {
    margin-left: 8px;
}
.fourth-section-payments ul li a {
    font-size: 11px;
}
.fourth-section-payments ul li a img {
    margin-right: 4px;
}
.fourth-section-payments ul li a span img {
    margin-left: 3px;
    margin-right: 0;
}
.fifth-section-title h2{
	font-size: 32px;
}
.zarfound-sections-title h2{
	font-size:18px;
}
.zarfound-sections-title h2 span{
	font-size: 22px;
}
.zarfoun-starz {
    margin-left: 3px;
    margin-right: 10px;
}
.zarfoun-center-col-4  p,
.zarfoun-center-col-2  h2,
.zarfoun-center-col-1  h2,
.zarfoun-center-col-3  h2{
	font-size: 10px;
}
.zarfoun-6row-back .zarfoun-center-col-4 > p {
    font-size: 10px;
}
.zarfoun-center-col-1{
	padding-top: 16px;
}
.zarfoun-center-col-2{
	padding-top: 16px;
}
.zarfoun-center-col-3{
	padding-top: 14px;
}
.zarfoun-center-col-1-2nd h2 {
    margin-bottom: 11px;
    margin-top: 6px;
}
.zarfund-section-info{
	margin-left:10px;
	margin-top:15px;
}

