

/*****			Medium-Devices	***********/

.header-logo-button ul li:nth-child(1) {
    width: 32%;
}
.header-logo-button ul li{
	width:21%;
}
.navbar-nav > li > a {
    padding: 6px 16px 6px 22px;
}
.first-section {
    margin-top : 174px;
}

.first-section-text h2{
	font-size: 23px;
}
.second-sectio-back {
    margin-top : 149px;
}
.second-section-blog h2{
	font-size: 26px;
}
.third-sectio-back{
	height:auto;
}
.fourth-section-payments ul li a{
	font-size: 13px;
}
.zarfoun-center-col-3 h2{
	font-size: 11px;
}
.zarfoun-center-col-3{
	padding-top: 11px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2{
	font-size:11px;
}
.zarfoun-6row-back .zarfoun-center-col-4 > p{
	font-size: 12px;
}
.zarfoun-center-col-1-2nd h2{
	margin-top: 7px;
}




/*******	Tabelet-Devices		*********/

.for-tabelt{
	display: none;
}
.for-not-desktop{
	display: block;
}
.header-logo {
    float: left;
}
.header-logo-button ul li {
    width: 17%;
}
.navbar-right{
	padding-top:0;
}
.navbar{
	min-height: auto;
}
.first-section-text {
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
}
.first-section-image {
    padding-bottom: 16px;
    padding-top: 15px;
}
.second-section-blog h2{
	width: 40%;
}
.second-section-blog p {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
}
.third-section-blog {
    text-align: center;
}
.third-section-blog h2{
	margin-top: 5px;
}
.third-section-blog h4{
	margin-left: auto;
	margin-right:auto;
	margin-top:0;
}
.third-sectio-blog-para p{
	padding-right:0;
	text-align:center;
	
}
.border-left-blog {
    border-left: medium none;
    padding-left: 0;
}
.third-sectio-back{
	padding-bottom: 20px;
}
.fourth-section{
	height: auto;
	padding-bottom: 15px;
}
.fourth-section-text h2 {
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
}
.fourth-section-payments ul li{
	margin-left: 15px;
}
.fourth-section-payments{
	margin-top: 20px;
}
.zarfoun-left-aside {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-left-aside h2{
	margin-top:0;
}
.zarfoun-right-aside{
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-right-aside h2{
	margin-top:0;
}
.zarfound-sections-second-right {
    border-left: 1px solid;
    text-align: center;
}
.zarfound-sections-second-title{
	border-color: black;
}
.zarfoun-second-right-aside {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.zarfoun-second-right-aside h2{
	padding:0;
	
}
.zarfoun-center-col-1-2nd h2 {
    margin-top: 19px;
}
.zarfoun-1row-back-2nd{
	border-top:none;
}
.footer-one-content ul li {
    border-right: medium none;
    display: block;
}
.footer-one-content img {
    margin: 10px auto 0;
}
.footer-right1 {
    float: none;
}
.footer-one-content ul{
	padding-top: 0;
}
.footer-one-content.footer-right1 img {
    margin-top: 7px;
}
.footer-one-back{
	padding-top: 10px;
}
.footer-two-content ul{
	text-align: center;
}
.footer-two-content img {
    display: block;
    float: none;
    margin: 5px auto 13px;
    text-align: center;
}
	

	
	
	/************		Mobile-Devices		*************/
.header-logo-button .btn{
	height:auto;
	width: auto;
}
.header-logo-button ul li.logo-bt-1-back {
    background-size: 100% 100%;
}
.header-logo-button ul li.logo-bt-2-back{
    background-size: 100% 100%;
}
.header-logo-button ul li:nth-child(1) {
    width: 27%;
}
.header-logo-button ul li {
    width: 13%;
}
.navbar-right {
    margin: 0;
    padding-top: 0;
    text-align: center;
    width: 100%;
}
.navbar-default .navbar-nav > li > a {
    border-right: medium none;
    padding-left: 0;
    padding-right: 0;
}

.for-mobile{
	display:block;
}
.for-not-desktop{
	display:none;
}
.header-logo{
	float:none;
}
.header-logo img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header-logo-button{
	text-align: center;
}
.header-logo-button ul{
	text-align:center;
}
.banner-section-text h2{
	font-size: 30px;
}
.first-section-text h2 {
    font-size: 16px;
}
.first-section-text h3{
	font-size: 20px;
}
.first-section-text h3{
	font-size:32px;
	margin:0;
}
.third-section-text h2{
	font-size: 32px;
}
.third-section-text {
    margin-bottom: 16px;
    margin-top: 29px;
}
.fourth-section-payments ul li {
    margin-left: 8px;
}
.fourth-section-payments ul li a {
    font-size: 11px;
}
.fourth-section-payments ul li a img {
    margin-right: 4px;
}
.fourth-section-payments ul li a span img {
    margin-left: 3px;
    margin-right: 0;
}
.fifth-section-title h2{
	font-size: 32px;
}
.zarfound-sections-title h2{
	font-size:18px;
}
.zarfound-sections-title h2 span{
	font-size: 22px;
}
.zarfoun-starz {
    margin-left: 3px;
    margin-right: 10px;
}
.zarfoun-center-col-4  p,
.zarfoun-center-col-2  h2,
.zarfoun-center-col-1  h2,
.zarfoun-center-col-3  h2{
	font-size: 10px;
}
.zarfoun-6row-back .zarfoun-center-col-4 > p {
    font-size: 10px;
}
.zarfoun-center-col-1{
	padding-top: 16px;
}
.zarfoun-center-col-2{
	padding-top: 16px;
}
.zarfoun-center-col-3{
	padding-top: 14px;
}
.zarfoun-center-col-1-2nd h2 {
    margin-bottom: 11px;
    margin-top: 6px;
}
.zarfund-section-info{
	margin-left:10px;
	margin-top:15px;
}



/****		Indriod-Devices		*************/

.header-logo-button ul li {
    width: 24%;
}
.header-logo-button ul li:nth-child(1) {
    width: 41%;
}
.banner-section-text h2 {
    font-size: 20px;
}
.banner-section-text .btn {
    font-size: 18px;
    height: auto;
    width: auto;
}
.banner-section{
	height: 600px;
}
.first-section-text h2 {
    font-size: 12px;
    line-height: 23px;
}
.first-section-text h3 {
    font-size: 12px;
    line-height: 23px;
}
.second-section-text h2{
	font-size: 22px;
}
.second-section-blog h2 {
    width: 60%;
}
.second-section-blog p{
	width: 92%;
	
}
.third-section-text h2 {
    font-size: 22px;
}
.third-sectio-blog-para p{
	font-size: 12px;
	line-height: 23px;
}
.zarfound-sections-title h2 {
    font-size: 14px;
}
.zarfound-sections-title h2 span {
    font-size: 18px;
}
.zarfoun-center-col-4 p, .zarfoun-center-col-2 h2, .zarfoun-center-col-1 h2, .zarfoun-center-col-3 h2{
	margin:0;
}
.zarfoun-center-col-1 {
    padding-bottom: 36px;
    padding-top: 31px;
}
.zarfoun-center-col-2 {
    padding-bottom: 35px;
    padding-top: 32px;
}
.zarfoun-center-col-3 {
    padding-bottom: 22px;
    padding-top: 23px;
}
.fourth-section-payments{
	height:auto;
}
.fourth-section-payments ul li {
    margin-left: 7px;
    margin-top: 0;
    text-align: center;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2 {
      font-size: 10px;
    line-height: 8px;
    margin-bottom: 9px;
    margin-top: 11px;
}
.zarfoun-6row-back {
    height: 45px;
}
.zarfoun-6row-back .zarfoun-center-col-1 h2 {
    margin-top: 18px;
    margin-bottom: 15px;
}
.zarfoun-6row-back .zarfoun-center-col-2 h2 {
    margin-bottom: 14px;
    margin-top: 19px;
}
.zarfoun-center-col-5-2nd p{
	font-size: 10px;
}
.zarfoun-center-col-1-2nd h2 {
    font-size: 10px;
    margin-bottom: 11px;
    margin-top: 11px;
}

*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.zarfoun-center-col-3-2nd h2 {
    font-size: 10px;
    margin: 17px 0;
}
.zarfoun-center-col-4-2nd h2 {
    font-size: 10px;
    margin: 17px 0;
}
.zarfoun-center-col-2-2nd h2 {
    font-size: 8px;
    margin-bottom: 16px;
}






/************		Mini-Indriod-Devices			************/

.header-logo-button .btn {
    font-size: 10px;
}
.first-section{
	margin-top: 121px;
}
.banner-section {
    height: 455px;
    top: 107px;
}
.banner-section-text {
    margin-top: 0;
}
.banner-section-text h2 {
    font-size: 16px;
}
.first-section-text h2 {
    line-height: 17px;
}
.first-section-text h3 {
    line-height: 17px;
}
.second-section-text {
    margin-top: 134px;
}
.second-section-text h2 {
    font-size: 16px;
}
.second-section-blog h2 {
    width: 80%;
}
.second-section-blog p {
    width: 100%;
}
.fourth-section-payments ul li a {
    font-size: 16px;
}
.zarfound-sections-title h2 {
    font-size: 10px;
}
.zarfoun-center-col-4 p, .zarfoun-center-col-2 h2, .zarfoun-center-col-1 h2, .zarfoun-center-col-3 h2{
	font-size: 8px;
}
.zarfoun-center-col-3 {
    padding-bottom: 28px;
}
.zarfoun-center-col-1 {
    padding-bottom: 38px;
}
.zarfoun-center-col-2 {
    padding-bottom: 37px;
}
.zarfoun-6row-back {
    height: 60px;
}
.zarfoun-6row-back .zarfoun-center-col-1 h2 {
    margin-bottom: 26px;
    margin-top: 24px;
}
.zarfoun-6row-back .zarfoun-center-col-2 h2 {
    margin-bottom: 24px;
    margin-top: 26px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2 {
    font-size: 9px;
    line-height: 8px;
    margin-bottom: 14px;
    margin-top: 13px;
}
.zarfoun-center-col-3-2nd h2 {
    font-size: 9px;
}
.zarfoun-center-col-4-2nd h2 {
    font-size: 8px;
    margin: 18px 0;
}
.zarfoun-center-col-2-2nd{
	width: 5%;
}
.zarfoun-center-col-5-2nd{
	width:58%;
}




/**********		Small-Mobile-Devices					**************/

.zarfund-section-info {
    margin-left: 6px;
}

.header-logo-button .btn {
    font-size: 9px;
}
.fourth-section-payments ul li a {
    font-size: 13px;
}
.fourth-section-payments ul li {
    margin-left: 4px;
}
.zarfound-sections-title h2 span {
    font-size: 14px;
}
.zarfoun-center-col-3 {
    padding-bottom: 26px;
}
.header-logo-button ul li:nth-child(1) {
    width: 45%;
}
.zarfoun-center-col-1 {
    padding-bottom: 36px;
}
.zarfoun-center-col-2 {
    padding-bottom: 43px;
}
.zarfoun-center-col-3 h2{
	font-size: 8px;
}
.zarfoun-1row-back,.zarfoun-2row-back,.zarfoun-3row-back,.zarfoun-4row-back,.zarfoun-5row-back,.zarfoun-6row-back {
    height: 85px;
}
.zarfoun-6row-back .zarfoun-center-col-1 h2 {
    margin-bottom: 39px;
    margin-top: 28px;
}
.zarfoun-6row-back .zarfoun-center-col-2 h2 {
    margin-bottom: 39px;
    margin-top: 36px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2 {
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 22px;
    margin-top: 17px;
}
.zarfound-sections-second-title > h2 {
    font-size: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
.zarfoun-center-col-1-2nd h2 {
    font-size: 8px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.zarfoun-center-col-5-2nd p {
    font-size: 9px;
    padding-left: 4px;
}
.zarfoun-center-col-5-2nd {
    width: 56%;
}
.zarfoun-center-col-4-2nd{
	width: 12%;
}
.zarfoun-center-col-3-2nd{
	width: 12%;
}
