/****************		stats-sectio-back			***********************/
.stats-sectio-back {
    background : #2C5A80;
    padding: 30px;
    border-bottom : 4px solid #1C4A70;
}
.stats-sectio-back h2 {
    font-size   : 42px;
    color       : #fff;
    text-align  : center;
    font-family : "Roboto-Bold";
    text-transform: uppercase;
}
.stats-sectio-back h4 {
    color: white;
    font-size:24px;
    font-family: "Open Sans", san-serif;
    padding   : 15px;
    font-size : 30px;
}
.stats-sectio-back p {
    color : white;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 16px;
}
.stats-sectio-back table {
    width:100%;
}
.stats-sectio-back td {
    padding : 5px;
    font-family: "Open Sans";
    color: #2C5A80;
}

.stats-sectio-back .stat {
    padding : 0 10px 20px 10px;
}
.stats-sectio-back h4 {
    text-align : center;
}
.stats-sectio-back .stat .inner {
    background : #D7D7D7;
    padding    : 5px;
    border-bottom : 4px solid #a7a7a7;
}

