/**
Theme: Zarfunds
Designed by: Husty Designs
Website : hustydesigns.com
Licensed to Zarfunds Owner. Theme reselling is prohibited.
**/
/* **
 * ========================================
 * Includes Fonts
 * ========================================
 ** */


@font-face {
    font-family: FontAwesome;
}

@font-face {
    font-family: fontawesome-webfont;
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf);
	}
	
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
	}
	
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
	}
	
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-light;
    src: url(../fonts/raleway/Raleway-regular.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: raleway-extraLight;
    src: url(../fonts/raleway/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}

/* support Internet explorer  */
@font-face {
    font-family: 'openSans-light';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Light') format('truetype'),
    url('') format('svg');
    font-weight: normal;
    font-style: normal ;
}

/* support Internet explorer  */
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/open-sans/opensans-italic-webfont.eot');
    src: url('../fonts/open-sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
    url('') format('svg');
    font-weight: normal;
    font-style: normal ;
}
	
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot'); /* support Internet explorer  */
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* support Internet explorer  */
         url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* support Modern browser  */
         url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), /* support firefox , chrome   */
         url('../fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg');/* Svg form   */
		font-weight: normal; 
		font-style :normal ;
		 }	


@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');   /* support Internet explorer  */
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* support Internet explorer  */
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'), /* support Modern browser  */
         url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'), /* support firefox , chrome   */
         url('') format('svg');
		font-weight: normal;
		font-style :normal ;
		 
		 
		 }	
		 
/* support Internet explorer  */
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype'),
    url('') format('svg');
    font-weight: normal;
    font-style: normal ;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

/********		Header-Section		******/

header.header-background {
    background-color: white;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(171,177,180,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(171,177,180,1);
box-shadow: 0px 4px 5px 0px rgba(171,177,180,1);
	border-bottom: 1px solid #9FAAB7;
	position: absolute;
    width: 100%;
    z-index: 999;
}

.header-logo img {
    padding-bottom: 5px;
    padding-top: 7px;
}
.header-logo-button{
	/* padding-top: 19px; */
    text-align: right;
    width: 100%;
}
.header-logo-button a{
	text-decoration:none;
	outline:none;
	display: inline-block;
}
.header-logo-button .btn{
	font-family:Roboto-Regular;
	font-size: 13px;
	height:30px;
	width:190px;
	margin-top: 24px;
	text-transform:uppercase;
}
.header-logo-button .btn-default{
	background-color: #f2f2f2;
    border-color: #d6d6d6;
    color: #898989;
    margin-right: 10px;	
}
.header-logo-button .btn-default:hover{
	background-color: #BC6430;
	color:white;
}
.header-logo-button ul{
	padding-left:0;
	margin-bottom:0;
	text-align: right;
}
.header-logo-button ul li{
	display: inline-block;
	list-style:none;
	width: 19%;
}
.header-logo-button ul li a{
	text-decoration:none;
	outline:none;
}
.header-logo-button ul li:nth-child(1) {
    width: 28%;
}
.header-logo-button a {
    min-width : 70px;
    max-width:120px;
    display : inline-block;
    font-size : 15px;
    font-family : Roboto-Bold;
    text-align  : center;
    position    : relative;
    top         : 11px;
    padding : 12px 20px;
    border-radius : 4px;
    box-shadow    : 1px 2px 2px #ccc;
}
.header-logo-button a.signin{
    background : rgb(98, 125, 77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyN2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjNiMDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(top, rgb(98, 125, 77) 0%, rgb(31, 59, 8) 100%); /* FF3.6-15 */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(98, 125, 77)), color-stop(100%, rgb(31, 59, 8))); /* Chrome4-9,Safari4-5 */
    background : -webkit-linear-gradient(top, rgb(98, 125, 77) 0%, rgb(31, 59, 8) 100%); /* Chrome10-25,Safari5.1-6 */
    background : -o-linear-gradient(top, rgb(98, 125, 77) 0%, rgb(31, 59, 8) 100%); /* Opera 11.10-11.50 */
    background : -ms-linear-gradient(top, rgb(98, 125, 77) 0%, rgb(31, 59, 8) 100%); /* IE10 preview */
    background : linear-gradient(to bottom, rgb(98, 125, 77) 0%, rgb(31, 59, 8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=0); /* IE6-8 */
    color : white;
}
.header-logo-button a.signup{
    background : rgb(255, 168, 76); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%); /* FF3.6-15 */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 168, 76)), color-stop(100%, rgb(255, 123, 13))); /* Chrome4-9,Safari4-5 */
    background : -webkit-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%); /* Chrome10-25,Safari5.1-6 */
    background : -o-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%); /* Opera 11.10-11.50 */
    background : -ms-linear-gradient(top, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%); /* IE10 preview */
    background : linear-gradient(to bottom, rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0); /* IE6-8 */
    color: white;
 }
  .header-logo-button a.signin:hover{
	  color: #F79A2D;
  }
  .header-logo-button a.signup:hover{
	  color: #2C5984;
  }

 /*****		Navbar - Section		*******/

 .navbar-default {
    background-color: transparent;
    border: medium none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #2c5b7e;
}
.navbar-default .navbar-nav > li > a {
    border-right: 1px solid #DDDDDD;
    color: #7d7c7c;
    font-family: Roboto-Bold;
    font-size: 14px;
}
.navbar-nav > li > a {
    padding: 6px 24px 6px 30px;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: transparent;
    color: #2c5b7e;
}
.navbar-default .navbar-nav > li:nth-child(6) a {
    border-right: medium none;
    padding-right: 0;
}
.navbar-right {
    float: right !important;
    margin-right: 0;
    padding-top: 17px;	
}


/****	Banner-sections			*****/

.parallax {
    background-position: 0 0;
    background-size: cover;
    height: 100%;
    padding: 120px 0;
}

.banner-section{
	 background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 797px;
    position: relative;
    top: 38px;
    
}

.banner-section-text{
	 margin-top: 132px;
}
.banner-section-text h2{
	font-family: Roboto-Bold;
	font-size: 40px;
	color:white;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
}
.banner-section-text a{
	outline:none;
	text-decoration:none;
	cursor:pointer;
}
.banner-section-text .btn{
	height:75px;
	width:338px;
	font-family: Roboto-Bold;
	font-size: 27px;
	border-radius:6px;
	transition-property: border;
transition-duration: 0.2s;
transition-timing-function: linear;
}
.banner-section-text .btn-default{
	background-color:transparent;
	border: 4px solid white;
	color: white;
	margin-top: 38px;
}
.banner-section-text .btn-default:hover{
	border-color:black;
	color:black;
}

/***********			first-section			**********/


.first-section{
	background-color: #F79D2C;
	height:auto;
	 margin-top: 228px;
	 border-bottom: 3px solid #DC8B25;

}
.first-section-text {
    padding-top: 45px;
	 padding-bottom:43px;
}
.first-section-text h2{
	font-family: Roboto-Bold;
	font-size: 25px;
	color: white;
	margin:0;
	padding-bottom:7px;
}

.first-section-text h3{
	font-family: Roboto-Light;
	font-size: 25px;
	color: white;
	margin:0;
}
.first-section-image {
	text-align:center;
	padding-bottom: 38px;
    padding-top: 40px;
}
.first-section-image a {
    display:inline-block;
}
.first-section-image > img {
    border: 5px solid #f9bb6c;
    border-radius: 50px;
    display: inline-block;
	margin-left: 19px;
}

/**************		second-sectio-back					*************************/

.second-sectio-back{
	background-image:url("../images/secnd-back.png");
	height: auto;
    padding-bottom: 60px;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.second-section-text{
	 margin-top:45px;
}
.second-section-text h2{
	color: #2c5a80;
	font-family: Roboto-Bold;
	font-size: 42px;
	text-align:center;
	 text-transform: uppercase;
	 
}
.second-section-blog{
	text-align:center;
	margin-top: 35px;
}
.second-section-blog-circle {
     background-color: white;
    border: 5px solid #2c5a80;
    border-radius: 157px;
    display: block;
    float: none;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 255px;
box-shadow: 0 6px 1px 0 #bdbdbd;
 -moz-box-shadow: 0 6px 1px 0 #bdbdbd;
-webkit-box-shadow: 0 6px 1px 0 #bdbdbd;
 -o-box-shadow: 0 6px 1px 0 #bdbdbd;
}
.second-section-blog-circle > img {
    display: block;
    margin: 51px auto 0;
    text-align: center;
}
.second-section-blog h2{
	border-bottom: 1px solid #2c5a80;
    color: #2c5a80;
    font-family: Roboto-Bold;
    font-size: 32px;
    margin: 32px auto 0;
    padding-bottom: 27px;
    width: 75%;
	text-transform: uppercase;
}
.second-section-blog p{
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #636363;
	 padding: 0 23px;
	margin-top: 22px;
}

    /****************		third-sectio-back			***********************/


.third-sectio-back{
	background-image:url("../images/3rd-back.png");
	height: 482px;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.third-section-text{
	margin-top: 53px;
	margin-bottom: 49px;
}
.third-section-text h2{
	font-family: Roboto-Bold;
	font-size: 42px;
	color: white;
	text-align:center;
	text-transform:uppercase;
	
}
.p-0{
	padding-left:0;
	padding-right:0;
}
.third-section-blog h2{
	font-family: Roboto-Bold;
	font-size: 19px;
	color: white;
	margin-top: 33px;
	margin-bottom: 5px;
}
.third-section-blog h3{
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #bcbcbc;
	margin-top: 0px;
}
.third-section-blog h4{
	background-color: #f79d2c;
    border-radius: 8px;
    color: white;
    font-family: Roboto-Regular;
    font-size: 16px;
    height: 67px;
    padding-top: 9px;
	 margin-top: 22px;
    text-align: center;
    width: 166px;
}
.third-section-blog h4 span{
	font-family: Roboto-Bold;
	font-size: 26px;
	color: #fff;
}

.third-section-blog > img {
    border: 6px solid #f79d2c;
    border-radius: 77px;
    max-width : 120px;
}
.third-sectio-blog-para{
	
}
.third-sectio-blog-para p{
	color: white;
    font-family: Roboto-Light;
    font-size: 17px;
    line-height: 23px;
    margin-top: 16px;
	padding-right: 42px;
    height:180px;
    overflow:hidden;
}
.third-sectio-blog-para p span{
	font-family: Roboto-Regular;
	font-size: 54px;
	color: white;
	position: relative;
    top: 16px;
}
.border-right-blog {
    border-right: 1px solid #336b99;
}
.border-left-blog {
    border-left: 1px solid #214460;
	 padding-left: 73px;
}
.border-left-blog .third-sectio-blog-para p{
	padding-right:0;
}

/**************		fourth-section				*************************/


.fourth-section {
    background-color: #f79d2c;
    height: 120px;
}
.fourth-section-text h2{
	 color: white;
    font-family: Raleway-Regular;
    font-size: 31px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 33px;
    padding-top: 40px;
}
.fourth-section-text h2 span{
	font-family: Raleway-Bold;
	font-size: 21px;
	color: white;
	text-transform: uppercase;
}
.fourth-section-payments {
    background-color: #e89329;
    border-radius: 5px;
    height: 55px;
    margin-top: 32px;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(206,130,36,1);
-moz-box-shadow: inset 0px 0px 2px 2px rgba(206,130,36,1);
box-shadow: inset 0px 0px 2px 2px rgba(206,130,36,1);
	padding-left:0;
	margin-bottom:0;
    width:100%;
    overflow:hidden;
}
.fourth-section-payments span {
    display: inline-block;
    list-style: outside none none;
    margin-top  : 4px;
    padding: 6px 12px;
	outline:none;
	font-family:Roboto-Regular;
	font-size: 15px;
	color: white;
}
.fourth-section-payments .single {
    border-right : 1px solid #C97E21;
}
img.payment-avatar{
    height:35px;
    width:35px;
    border:2px solid #ffc000;
    border-radius: 20px;
    margin-right:5px;
}
/***************	Five-section			************************/

.fifth-section-back{
    background-image: url("../images/secnd-back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
	 padding-top: 18px;	
	 padding-bottom: 50px;
}
.fifth-section-title{
	
}
.fifth-section-title h2{
	font-family: Roboto-Bold;
	font-size: 42px;
	text-align: center;
	text-transform: uppercase;
	color: #2c5a80;
}
.zarfund-section-info{
	background-color: white;
    height: auto;
    margin-left: 22px;
    margin-top: 28px;
    width: 96%;
	padding-bottom: 12px;
}
.zarfoun-starz {
    display: inline-block;
    margin-left: 28px;
    margin-right: 30px;
    /* position: relative;
    top: -8px; */
}
.zarfoun-starz a {
    color: black;
    font-family: Roboto-Bold;
    font-size: 32px;
	text-decoration:none;
	outline:none;
}
.zarfound-sections-title h2 {
	color: black;
    display: inline-block;
    font-family: Roboto-Bold;
    font-size: 22px;
	margin: 5px 0;
}
.zarfound-sections-title h2 span{
	font-family: Roboto-Bold;
	font-size:28px;
	color: black;
	text-transform: uppercase;
}
.zarfound-sections-title {
    border: 1px solid;
    margin-top: 10px;
    text-align: center;
}



.zarfoun-left-aside{
	background-color: #B7E1CD;
	height:428px;
	border: 1px solid black;
}
.zarfoun-left-aside h2{
	 margin: 185px 0 0;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #493947;
	text-align: center;
}
.zarfoun-right-aside{
	background-color: #E94F35;
	height:428px;
	border: 1px solid black;
}
.zarfoun-right-aside h2{
	 margin: 185px 0 0;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #493947;
	text-align: center;
}
.zarfoun-1row-back{
	background-color: #980000;
	height: 78px;
}


.zarfoun-center-col-1{
	 width: 19%;
	float: left;
	border-right:1px solid white;
	 padding-bottom: 21px;
    padding-top: 13px;
}
.zarfoun-center-col-1 h2{
	font-family: Roboto-Bold;
	font-size:12px;
	color: white;
	text-align:center;
}
.zarfoun-center-col-2{
	width: 5%;
	float: left;
	border-right:1px solid white;
	 padding-bottom: 21px;
    padding-top: 13px;
}
.zarfoun-center-col-2 h2{
	font-family: Roboto-Bold;
	font-size:12px;
	color: white;
	text-align:center;
}
.zarfoun-center-col-3{
	 border-right: 1px solid white;
    float: left;
   padding-bottom: 12px;
    padding-top: 9px;
    width: 16%;
}
.zarfoun-center-col-3 h2{
	font-family: Roboto-Bold;
	font-size:12px;
	color: white;
	text-align:center;
}
.zarfoun-center-col-4{
	width: 60%;
	float: left;
}
.zarfoun-center-col-4 > p {
    color: white;
    font-family: Roboto-Bold;
    font-size: 13px;
	margin-bottom: 0;
	 padding-left: 5px;
}



.zarfoun-2row-back{
	background-color: #FFC000;
	height: 78px;
}
.zarfoun-3row-back{
	background-color: #ED7D31;
	height: 78px;
}
.zarfoun-4row-back{
	background-color: #00B0F0;
	height: 78px;
}
.zarfoun-5row-back{
	background-color: #FFE699;
	height: 78px;
}
.zarfoun-6row-back{
	background-color: #A9D08E;
	 border-bottom: 1px solid black;
	height: 38px;
}
.zarfoun-6row-back .zarfoun-center-col-3 h2{
	font-family: Roboto-Bold;
    font-size: 12px;
    line-height: 16px;
     margin-bottom: 3px;
    margin-top: 3px;
    opacity: 0.5;
	color:black;
    text-align: center;
}
.zarfoun-6row-back  .zarfoun-center-col-4 > p {
    color: black;
    opacity: 0.5;
    font-family: Roboto-Bold;
    font-size: 13px;
	margin-bottom: 0;
	 padding-left: 5px;
}
.zarfoun-6row-back   .zarfoun-center-col-2 {
    border-right: 1px solid white;
    float: left;
    padding-bottom: 0;
    padding-top: 0;
    width: 5%;
}
.zarfoun-6row-back  .zarfoun-center-col-2 h2{
	 color: black;
    opacity: 0.5;
	margin-top: 13px;
}
.zarfoun-6row-back  .zarfoun-center-col-1 {
    border-right: 1px solid white;
    float: left;
    padding-bottom: 0;
    padding-top: 0;
    width: 19%;
}
.zarfoun-6row-back  .zarfoun-center-col-1  h2{
	color: black;
	opacity:0.5;
	 margin-top: 14px;
}
.zarfoun-6row-back  .zarfoun-center-col-3 {
    padding-bottom: 0;
    padding-top: 0;
}
.zarfoun-2row-back  .zarfoun-center-col-1  ,
.zarfoun-2row-back  .zarfoun-center-col-2  ,
.zarfoun-2row-back  .zarfoun-center-col-3   {
	border-right:1px solid black;
	opacity:0.74;
}

.zarfoun-3row-back  .zarfoun-center-col-1  ,
.zarfoun-3row-back  .zarfoun-center-col-2  ,
.zarfoun-3row-back  .zarfoun-center-col-3   {
	border-right:1px solid black;
	opacity:0.74;
}

.zarfoun-4row-back  .zarfoun-center-col-1  ,
.zarfoun-4row-back  .zarfoun-center-col-2  ,
.zarfoun-4row-back  .zarfoun-center-col-3   {
	border-right:1px solid black;
	opacity:0.74;
}


.zarfoun-5row-back  .zarfoun-center-col-1  ,
.zarfoun-5row-back  .zarfoun-center-col-2  ,
.zarfoun-5row-back  .zarfoun-center-col-3   {
	border-right:1px solid black;
	opacity:0.74;
}
.zarfoun-6row-back  .zarfoun-center-col-1  ,
.zarfoun-6row-back  .zarfoun-center-col-2  ,
.zarfoun-6row-back  .zarfoun-center-col-3   {
	border-right:1px solid black;
	opacity:0.74;
}


.zarfoun-2row-back  .zarfoun-center-col-1  h2,
.zarfoun-2row-back  .zarfoun-center-col-2  h2,
.zarfoun-2row-back  .zarfoun-center-col-3  h2,
.zarfoun-2row-back  .zarfoun-center-col-4 p{
	color: black;
	opacity:0.74;
}
.zarfoun-3row-back  .zarfoun-center-col-1  h2,
.zarfoun-3row-back  .zarfoun-center-col-2  h2,
.zarfoun-3row-back  .zarfoun-center-col-3  h2,
.zarfoun-3row-back  .zarfoun-center-col-4 p{
	color: black;
	opacity:0.74;
}
.zarfoun-4row-back  .zarfoun-center-col-1  h2,
.zarfoun-4row-back  .zarfoun-center-col-2  h2,
.zarfoun-4row-back  .zarfoun-center-col-3  h2,
.zarfoun-4row-back  .zarfoun-center-col-4 p{
	color: black;
	opacity:0.74;
}
.zarfoun-5row-back  .zarfoun-center-col-1  h2,
.zarfoun-5row-back  .zarfoun-center-col-2  h2,
.zarfoun-5row-back  .zarfoun-center-col-3  h2,
.zarfoun-5row-back  .zarfoun-center-col-4 p{
	color: black;
	opacity:0.74;
	
}

.zarfound-sections-second-title > h2 {
    display: inline;
    font-family: Roboto-Bold;
    font-size: 14px;
    margin-left: 6px;
	color: #337ab7;
    margin-right: 6px;
}
.zarfoun-starz-second {
    display: inline-block;
}
.zarfound-sections-second-title {
    background-color: #e7e6e6;
    border-left: 1px solid black;
    border-right: 1px solid #cdcdcd;
    padding-top: 8px;
    text-align: center;
}
.zarfound-sections-second-right {
    background-color: #e7e6e6;
    border-right: 1px solid black;
    padding-top: 8px;
}
.zarfound-sections-second-right > h2 {
    font-family: Roboto-Bold;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 7px;
    padding-left: 6px;
}


.zarfoun-second-right-aside{
	background-color: #92D050;
	height:270px;
	border:1px solid black;
}
.zarfoun-second-right-aside h2{
	font-family: Roboto-Regular;
	font-size: 14px;
	text-align: center;
	color:black;
	padding-top: 98px;
}



.zarfoun-1row-back-2nd {
    background-color: #a9d08e;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 45px;
}
.zarfoun-center-col-1-2nd {
    border-right: 1px solid black;
    float: left;
    width: 15%;
}
.zarfoun-center-col-1-2nd h2 {
   color: black;
	opacity:0.75;
    font-family: Roboto-Bold;
    font-size: 12px;
    text-align: center;
}

.zarfoun-center-col-2-2nd {
    border-right: 1px solid black;
    float: left;
    width: 3%;
}
.zarfoun-center-col-2-2nd h2 {
    color: black;
	opacity:0.75;
    font-family: Roboto-Bold;
    font-size: 12px;
    text-align: center;
}
.zarfoun-center-col-3-2nd {
    border-right: 1px solid black;
    float: left;
    width: 11%;
}
.zarfoun-center-col-3-2nd h2 {
    color: black;
	opacity:0.75;
    font-family: Roboto-Bold;
    font-size: 12px;
    text-align: center;
	margin: 15px 0;
}
.zarfoun-center-col-4-2nd {
    border-right: 1px solid black;
    float: left;
    width: 11%;
}
.zarfoun-center-col-4-2nd h2 {
    color: black;
    font-family: Roboto-Bold;
    font-size: 14px;
    text-align: center;
	margin: 14px 0;
}
.zarfoun-center-col-5-2nd {
    float: left;
    width: 60%;
}

.zarfoun-center-col-5-2nd p {
    color: black;
	opacity:0.75;
    font-family: Roboto-Bold;
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 5px;
}

.zarfoun-2row-back-2nd {
    background-color: #FFE699;
    border-bottom: 1px solid black;
    height: 45px;
}
.zarfoun-3row-back-2nd {
    background-color: #00B0F0;
    border-bottom: 1px solid black;
    height: 45px;
}
.zarfoun-4row-back-2nd {
    background-color: #ED7D31;
    border-bottom: 1px solid black;
    height: 45px;
}
.zarfoun-5row-back-2nd {
    background-color: #FFC000;
    border-bottom: 1px solid black;
    height: 45px;
}
.zarfoun-6row-back-2nd {
    background-color: #980000;
    border-bottom: 1px solid black;
    height: 45px;
}
.zarfoun-6row-back-2nd .zarfoun-center-col-1-2nd, 
.zarfoun-6row-back-2nd .zarfoun-center-col-2-2nd ,
.zarfoun-6row-back-2nd .zarfoun-center-col-3-2nd ,
.zarfoun-6row-back-2nd .zarfoun-center-col-4-2nd {
	border-color:white;
}
.zarfoun-6row-back-2nd .zarfoun-center-col-5-2nd p,
.zarfoun-6row-back-2nd .zarfoun-center-col-1-2nd h2,
.zarfoun-6row-back-2nd .zarfoun-center-col-2-2nd h2,
.zarfoun-6row-back-2nd .zarfoun-center-col-3-2nd h2,
.zarfoun-6row-back-2nd .zarfoun-center-col-4-2nd h2{
	color:white;
	border-color: white;
}







/********************************/


.footer-one-back {
	height:auto;
	border-bottom: 4px solid #F79D2C;
	border-top: 1px solid #B4B4B4;
}
.footer-one-content {
	
}
.footer-one-content ul{
 margin-bottom: 0;
    padding-bottom: 14px;
    padding-left: 0;
    padding-top: 35px;
}
.footer-one-content ul li {
	 border-right: 1px solid #CFCFCF;
    display: inline-block;
    list-style: outside none none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.footer-one-content ul li a{
	text-decoration:none;
	outline:none;
	color: #585858;
	font-family: Roboto-Regular;
	font-size: 14px;
	text-align:center;
}
.footer-one-content img {
    margin-top: -22px;
}
.footer-one-content ul li:nth-child(2) {
    border-right: medium none;
}
.footer-right1{
	float:right;
}
.footer-one-content.footer-right1 img{
	margin-top: -5px;
}



.footer-two-back{
	background-color: #323232;
	height: auto;
    padding-bottom:26px;
}
.footer-two-content ul{
	margin-bottom: 0;
    padding-bottom: 18px;
    padding-left: 0;
    padding-top: 18px;
}
.footer-two-content ul li {
	list-style:none;
}
.footer-two-content ul li a{
	text-decoration:none;
	outline:none;
	color: #ffffff;
	font-family: Roboto-Regular;
	font-size: 13px;
}
.footer-two-content ul li a span{
	font-family: Roboto-Bold;
}
.footer-two-content img {
    float: right;
    margin-top: 24px;
}


.for-not-desktop{
	display: none;
}
.for-mobile{
	display: none;
}
.front-page {
    padding-top:150px;
}