/* s: banner */
.banner {
	margin-bottom: 10px;
}
.banner img { display:table; }
.banner_reg { 
	margin:0 0 10px 0px; 
}
.banner_reg2 { 
	margin:0 0 20px 0px; 
}
.banner_reg img, 
.banner_reg2 img
{
	display:block; 
}
.leaderboard {
	display:inline-block;
	float: right;
	/*width: 729px;*/
	height: 90px;
	margin-top:10px;
}
/*.banner_top {
	padding-top: 50px;
}*/
/*e*/

/*s:standar billboard video content*/
#billboard_content_tv {
	width: 960px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#billboard_content_tv img {
	width: 100%;
}
#billboard_content_tv .bb_video {
	position: absolute;
	width: 480px;
	height: 270px;
	top: 10px;
	right: 10px;
	z-index: 2;
}
/*e:standar billboard video content*/

/* s:index banner */ 
.bg_ads { 
	width: 100%; 
	margin-bottom:0px; 
	padding:0 ; 
	margin: 0;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 1;
	_position:absolute;
	text-align: center;
	_top:expression(eval(document.body.scrollTop));
}
.expandbanner1a, .expandbanner1b, .expandbanner2a, .expandbanner2b {
	cursor: pointer;
}
.expandbanner1b, .expandbanner2b {
	display: none;
}
.header_top {
	position:relative;
	z-index:2;
}
.top_banner_close, .bottom_banner_close {
	display:block;
	float:right;
	cursor:pointer;
	height: 15px;
}
.otp_banner_close {
	cursor:pointer;
	margin-left:600px;
	display:block;
}
.container_topbanner{
	text-align:center;
	width:960px;
	/*height: 65px;*/
}
.container_topbanner a {
	display: block;
	height: 50px;
}
.container_otp{
	text-align:left;
	width:960px;
}
.top_bottom_banner {
	width:960px;
	height:0px;
}
.panel_bottom_banner {
	width:960px;
	height:50px;
}
.panel_top_banner {
	width: 100%;height: 50px;
	background: #2a2a2a;
}
.top_detail {
	padding:10px 0 20px 0;
	text-align:center;
}


#bottom_banner { position: absolute; bottom: 0px; padding:0px; width:100%; z-index:100; }
div > div#bottom_banner { position: fixed; }
#top_banner { position: absolute; position: fixed; top: 0px; padding:0px; width:100%; z-index:100; _top:expression(eval(document.body.scrollTop)); _position:absolute; }

/*s:wdank cb*/
.pr-box{
	border:1px solid rgba(97,56,20, 0.3);
	width:650px;
	height:235px;
	padding-top:-10px;
	box-shadow: 0 0 5px #d5d5d5;
	margin-bottom:10px;
	position:relative;
}
.pr-box img{
	position:absolute;
	z-index:1;
}
.ilink{
	background-color:#613814;
	display:inline-block;
	position:absolute;
	z-index:3;
	right:15px;
	top:5pxpx;
	box-shadow: 0 0 5px #d5d5d5;
	border:2px solid rgba(97,56,20, 0.6);
	padding:6px 10px;	
}
.ilink a{
	color:#fff;	
}
.ilink a:hover{
	color:#9e7b58;	
}
.pr-list{
	display:block;
	margin-top:35px;	
}
.pr-list li{
	list-style:none;
	overflow:hidden;
	float:left;
	position:relative;
	z-index:2;
	margin:1px;
	width:197px;
	height:186px;
	padding:4px;
	box-shadow: 0 0 5px #d5d5d5;
	border:1px solid rgba(97,56,20, 0.2);
	background-color:rgba(255,255,255, 0.8);	
}
.pr-list li .subjudul{
	color: #593527;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding:0;	
}
.pr-list li .date{
	color: gray;
	font-size: 11px;
	font-weight: normal;
	margin: 0;	
}
.pr-list li h5 a{
	font-size: 13px;
	line-height: 120%;
	color:#593527;	
}
.pr-list li img{
	width:197px;
	position:relative;	
}

.spesial_wdank {
	background: #5c3725 !important;
	border-color: #6d422d !important;
}
/*s:wdank cb*/

.spesial_student {
  background: #1F79B5 !important;
  border-color: #2E8FD0 !important;
}
.spesial_student:hover { 
  border-color:#50A6DF !important;
}

/* ----------- S:RAMADHAN ----------- */

body.ramadhanb {
	background:#149c8e url(../image/bg_ramadan_baru.jpg) top repeat; 
}
body.ramadhanb .box { 
	-moz-box-shadow: 0px 0px 5px #474747;
	-webkit-box-shadow: 0px 0px 5px #474747;
	box-shadow: 0px 0px 5px #474747; 
} 
body.ramadhanb .headertwo.black .jdls {
	 color: #FFE800;
  	text-shadow: 0px 0px 4px #444;
}
body.ramadhanb .headertwo.black .foll {
	color:#fff;
}
body.ramadhanb .loadmore .line {
	border-top:1px solid #006001;
}
body.ramadhanb .loadmore a {
	border:1px solid #006001;
}

/* s:Ramadhan */
.box.ramadhan {
	background:#00911D;
	background:url(../image/bg_ramadhan.jpg) #00911D bottom;
}  
.box.ramadhan .title {
	background:#004A00;
}
.box.ramadhan .list_berita_1  h2 {
	text-align:center;
	background:rgba(0,0,0,0.5);
	margin-bottom:2px;
	height:48px;
}
.box.ramadhan .list_berita_1  h2 a {
	display:block;
	padding:5px; 
	font-size:15px;
	color:#FFCB00; 
}
.box.ramadhan .list_berita_1 .date {
	color:#CCC;
}
.box.ramadhan .list_berita_1 h5 a {
	color:#fff;
}
.box.ramadhan .list_berita_1 {
	margin:0 -5px;
}
.box.ramadhan .list_berita_1 li {
	padding:0px;
	margin:0 5px;
	float:left;
	width:147px;
	border:none;
}
.box.ramadhan .list_berita_1 li .pic {
	width:100%;
	height:98px; 
	margin: 0 0 5px 0;
}
.box.ramadhan .list_berita_1 li .pic img {
	width:100%;
	height:auto;
	display:block;
}
/* e:Ramdhan */
 
/* s:box fokus terbaru */
.fokus_ramadhan {
	height:auto;
	overflow:hidden;
	background:#262626;  
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:none;
	margin-bottom: 0px;
	background:url(../image/bg_ramadhan.jpg) #00911D bottom;
}
.fokus_ramadhan .title  { 
	background: #004A00;  
	padding:0px 15px;
	margin-bottom:10px;
}
.fokus_ramadhan .title  span {
	float:left;
	padding:10px 0; 
}
.fokus_ramadhan .title .logo  {
	float:left; 
}
.fokus_ramadhan .title a.indeks  {
	float:right;
	margin-top:8px; 
}
.fokus_ramadhan .title .logo img { 
	display:block; 
}
.fokus_ramadhan .fokusutama {
	border-bottom:none;
}
/* e:box fokus terbaru */

/* s:box fokus - hati2 ngaruh ke box indeks_fokus.php */
.indeks_fokus_ramadhan {
	float: left;
  	margin-right: 5px;
  	margin-left: 5px;
  	width: 475px;
}
.indeks_fokus_ramadhan .hl {
	padding:20px;
}
.indeks_fokus_ramadhan .pic {
	width:230px;
	height:130px;
	float:left;
	overflow:hidden;
	margin:0 10px 10px 0;
}
.indeks_fokus_ramadhan .pic img {
	width:100%;
	height:auto;
} 
.indeks_fokus_ramadhan h3 a {
	color: #434343;
  	font-size: 19px;
  	line-height: normal;
  	font-weight: bold;
}

.indeks_fokus_ramadhan .list_berita_1 {
	padding:0 20px;
	margin-bottom:20px;
}
.indeks_fokus_ramadhan .list_berita_1 li:first-child {
	border-top:1px dotted #c9c9c9;
	padding-top:10px;
} 
/* e:box fokus 