/* s: banner */
.banner {
	margin-bottom: 10px;
}
.banner img { display:table; }
.banner_reg { 
	margin:0 0 10px 0px; 
}
.banner_reg2 { 
	margin:0 0 20px 0px; 
}
.banner_reg img, 
.banner_reg2 img
{
	display:block; 
}
.leaderboard {
	display:inline-block;
	float: right;
	/*width: 729px;*/
	height: 90px;
	margin-top:10px;
}
/*.banner_top {
	padding-top: 50px;
}*/
/*e*/

/*s:standar billboard video content*/
#billboard_content_tv {
	width: 960px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#billboard_content_tv img {
	width: 100%;
}
#billboard_content_tv .bb_video {
	position: absolute;
	width: 480px;
	height: 270px;
	top: 10px;
	right: 10px;
	z-index: 2;
}
/*e:standar billboard video content*/

/* s:index banner */ 
.bg_ads { 
	width: 100%; 
	margin-bottom:0px; 
	padding:0 ; 
	margin: 0;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 1;
	_position:absolute;
	text-align: center;
	_top:expression(eval(document.body.scrollTop));
}
.expandbanner1a, .expandbanner1b, .expandbanner2a, .expandbanner2b {
	cursor: pointer;
}
.expandbanner1b, .expandbanner2b {
	display: none;
}
.header_top {
	position:relative;
	z-index:2;
}
.top_banner_close, .bottom_banner_close {
	display:block;
	float:right;
	cursor:pointer;
}
.otp_banner_close {
	cursor:pointer;
	margin-left:600px;
	display:block;
}
.container_topbanner{
	text-align:center;
	width:986px;
}
.container_otp{
	text-align:left;
	width:960px;
}
.top_bottom_banner {
    width: 985px;
    height: 0px;
    background: #1a1a1a;
    width: 100%;
}
.panel_bottom_banner {
	width:985px;
	height:50px;
}
.panel_top_banner {
	width: 100%;
    /* height: 50px; */
	background: #2a2a2a;
}
.top_detail {
	padding:10px 0 20px 0;
	text-align:center;
}


#bottom_banner { position: absolute; bottom: 0px; padding:0px; width:100%; z-index:100; }
div > div#bottom_banner { position: fixed; }
#top_banner { position: absolute; position: fixed; top: 0px; padding:0px; width:100%; z-index:100; _top:expression(eval(document.body.scrollTop)); _position:absolute; }
div > div#top_banner { position: fixed; }
#otp_banner { position: absolute; position: fixed; top:200px; padding:0px; width:100%; z-index:100; _top:expression(eval(document.body.scrollTop)); _position:absolute; }
div > div#otp_banner { position: fixed; }
#skinad { position: absolute; position: fixed; padding:0px; width:100%; z-index:1; _top:expression(eval(document.body.scrollTop)); _position:absolute; }
div > div#skinad { position: fixed; }


.skinad_c {
	width:972px;
	margin:auto;
}
.skinad_1 {
	float:left;
	left:-135px;
	height:660px;
	/*background:#FFF;*/
	text-align:right;
	position:relative;
	width: 140px;
}
.skinad_1 a, .skinad_2 a {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4;
}
.skinad_2 {
	float:right;
	right:-135px;
	height:660px;
	/*background:#FFF;*/
	position:relative;
	width: 140px;
}

.skinad_1{left:-155px !important; height:auto !important; width: 150px !important}
.skinad_2{right:-155px !important; height:auto !important; width: 150px !important}


.skinad_1_full{
	float: left;
    height: auto;
    left:-414px;
    position: relative;
    text-align: right;
    width: 420px;
}
.skinad_2_full{
	float: right;
    height: auto;
    position: relative;
    right: -414px;
    width: 420px;
}

.container_h,
.container {
	position: relative;
	z-index: 2;
}

.ad_billboard {
	position: relative; 
}
.ad_billboard .bill_banner_close {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	cursor: pointer;
}
.ad_billboard .bb_hide {
	display:none;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	cursor: pointer;
}
/* e:index banner */

/*s:newstag*/
.newstag {
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	margin: 40px 0 20px;
	font-style: italic;
	clear: both;
}
.newstag span {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}
.newstag img {
	height: 30px;
	float: left;
}