/*s:basic*/
.fl { float:left; }
.fr { float:right; }
.block { display: block !important; }
.inline { display: inline-block; }

img { border:none; }

/*e:basic*/

/*s:clearfix*/
.clearfix {
	clear: both !important;
	height: 0 !important;
	padding: 0;
	float: none !important;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both !important;
  visibility: hidden;
}
* html .clearfix { height: 1%; }  /* Clearfix IE6 */
*:first-child + html .clearfix {  min-height: 1px; } /* Clearfix IE7 */
/*e:clearfix*/

/*s:fontstyle*/
.bold {font-weight: bold;}
.normal {font-weight: normal;}
.italic {font-style: italic;}
/*e:fontstyle*/

/*s:fonttype*/
.arial {	font-family:Arial, Helvetica, sans-serif;}
.tahoma {	font-family:Tahoma, Geneva, sans-serif, arial;}
.verdana {	font-family:Verdana, Geneva, sans-serif, arial;}
.helvetica {	font-family:Helvetica, Arial, sans-serif, arial;}
.georgia { 	font-family:Georgia, "Times New Roman", Times, serif, arial;}
/*e:fonttype*/

/*s:heading*/
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}
h1 { font-size:30px; }
h2 { font-size:26px; }
h3 { font-size:22px; }
h4 { font-size:18px; }
h5 { font-size:15px; }
h6 { font-size:13px; }
/*e:heading*/


/*s:fontsize*/
.f10 { font-size:10px;}
.f11 { font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f15 { font-size:15px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f20 { font-size:20px;}
.f22 { font-size:22px;}
.f24 { font-size:24px;}
.f28 { font-size:28px;}
.f30 { font-size:30px;}
/*e:fontsize*/

/*s:text-align*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
/*e:text-align*/


/*s:padding & margin*/
.pd5 {padding: 5px;}
.pd7 {padding: 7px;}
.pd10 {padding: 10px;}
.pd15 {padding: 15px;}
.pd20 {padding: 20px;}
.pd25 {padding: 25px;}
.pd30 {padding: 30px;}

.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}

.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl32 {padding-left:32px;}

.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt25 { padding-top:25px;}
.pt30 { padding-top:30px;}

.pb0  { padding-bottom:0px !important; }
.pb5  { padding-bottom:5px !important; }
.pb8  { padding-bottom:8px !important; }
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}
.pb25 { padding-bottom:25px;}
.pb30 { padding-bottom:30px;}

.m0 {margin: 0 !important;}
.p0 {padding: 0 !important;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}

.mt-20 { margin-top:-20px; }
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px !important;}

.mr0 { margin-right:0px !important; }
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px !important;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
/*e:padding & margin*/


/*s:fontcolor*/
.l_grey, 
.l_grey a { color:#666; text-decoration:none;}
.l_grey a:hover { text-decoration:underline;}

.l_red, 
.l_red a { color: #F00; text-decoration:none;}
.l_red a:hover { text-decoration:underline;}

.l_blue, 
.l_blue a { color: #003c8e; text-decoration:none;}
.l_blue a:hover { color:#003c8e; text-decoration:underline;}

.l_yellow, 
.l_yellow a { color: #e3e310; text-decoration:none;}
.l_yellow a:hover { color: #e3e310; text-decoration:underline;}

.l_white, 
.l_white a { color: #FFF; text-decoration:none;}
.l_white a:hover { color: #FFF; text-decoration:underline;}

.l_green, 
.l_green a { color:#008F00; text-decoration:none;}
.l_green a:hover { color: #005D00; text-decoration:underline;}

.l_black, 
.l_black a { color:black; text-decoration:none;}
.l_black a:hover { color: black; text-decoration:underline;}
/*e:fontcolor*/

/*S:BACKGROUND COLOR*/
.bg_black {background: #000;}
.bg_white {background: #fff;}
/*E:BACKGROUND COLOR*/

/*s:border radius*/
.bor-rad3 {
	-webkit-border-radius: 3px ;
	border-radius: 3px ;
}
.bor-rad5 {
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
}
.bor-rad8 {
	-webkit-border-radius: 8px ;
	border-radius: 8px ;
}
.bor-rad10 {
	-webkit-border-radius: 10px ;
	border-radius: 10px ;
}
.bor-rad15 {
	-webkit-border-radius: 15px ;
	border-radius: 15px ;
}
.bor-rad20 {
	-webkit-border-radius: 20px ;
	border-radius: 20px ;
}
/*e:border radius*/

/*s:width & height*/
.w0 {width: auto !important;}

.w100p { width:100%;}
.w90p { width:90%;}
.w88p { width:88%;}
.w50p { width:50%;}
.w40p { width:40%}
.w30p { width:30%}
.w25p { width:25%}

.w50 { width:50px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w100 { width:100px;}
.w125 { width:125px;}
.w150 { width:150px;}
.w175 { width:175px;}
.w200 { width:200px;}
.w210 { width:210px;}
.w220 { width:220px;}
.w232 { width:232px;}
.w225 { width:225px;}
.w250 { width:250px;}
.w275 { width:275px;}
.w300 { width:300px !important;}
.w320 { width:320px;}
.w325 { width:325px;}
.w350 { width:350px;}
.w400 { width:400px;}
.w450 { width:450px;}
.w475 { width:475px;}
.w500 { width:500px;}
.w550 { width:550px;}
.w600 { width:600px;}
.w650 { width:650px;}
.w700 { width:700px;}
.w750 { width:750px;}
.w800 { width:800px;}
.w850 { width:850px;}
.w900 { width:900px;}
.w950 { width:950px;}
.w980 { width:980px;}

.h0 { height:auto !important;}

.h100p { height: 100%;}
.h50p {height: 50%;}

.h50 { height:50px;}
.h100 { height:100px;}
.h150 { height:150px;}
.h200 { height:200px;}
.h250 { height:250px;}
.h300 { height:300px;}
/*e:width & height*/

/*S:GRID*/
.g2>div,
.g3>div,
.g4>div,
.g5>div,
.g6>div {
	margin: 5px;
	float: left;
}
.g2>div {
	width: calc(50% - 10px);
}
.g3>div {
	width: calc(33.3% - 10px);
}
.g4>div {
	width: calc(25% - 10px);
}
.g5>div {
	width: calc(20% - 10px);
}
.g6>div {
	width: calc(16.6% - 10px);
}
/*E:GRID*/

/*S:TABLE*/
.table, 
.table2 {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
.table thead {
	background: #e1e1e1;
	font-weight: bold;
}
.table thead tr, 
.table2 thead tr  {
	border-bottom: 1px solid #ccc;
}
.table td, 
.table th, 
.table2 td, 
.table2 th {
	padding: 8px;
}
.table tr:nth-child(even) {
	background: #f2f2f2;
}
.table tr:hover,
.table2 tr:hover {
	background: #f7f7f7;
}
.table_border {
	border: 1px solid #ccc;
}
.table_border td {
	border-bottom: 1px solid #ccc;
}
.table_line td {
	border-bottom: 1px solid #ccc;
}
/*E:TABLE*/

/*S:IMAGES*/
.imgx {
	overflow: hidden;
	display: inline-block;
	text-align: center;
	float: left;
	background: #f7f7f7;
}
.img60 {
	width: 60px;
	height: 45px;
}
.img60w {
	height: 34px;
}
.img60s {
	height: 60px;
}
.img80 {
	width: 80px;
	height: 60px;
}
.img80w {
	height: 45px;
}
.img80s {
	height: 80px;
}
.img120 {
	width: 120px;
	height: 90px;
}
.img120w {
	height: 68px;
}
.img120s {
	height: 120px;
}
.img240 {
	width: 240px;
	height: 180px;
}
.img240w {
	height: 135px;
}
.img240s {
	height: 240px;
}
.img300 {
	width: 300px;
	height: 225px;
}
.img300w {
	height: 169px;
}
.img300s {
	height: 300px;
}
.img60 img, 
.img80 img, 
.img120 img,
.img240 img,
.img300 img {
	height: 100%;
}
.img_border {
	border: 5px solid white;
	-webkit-box-shadow: 0 0 1px #b0b0b0;
	-moz-box-shadow: 0 0 1px #b0b0b0;
	box-shadow: 0 0 1px #b0b0b0;
}
/*E:IMAGES*/

/*S:NOTIFICATION BOX*/
.bx_nt {
	padding: 5px 8px;
	border: 1px solid #dbe465;
	background: #fffed8;
	font-size: 12px;
	color: #4d4d4d;
	margin: 5px 0;
}
.bx_nt .tl {
	display: block;
	font-size: 15px;
	color: #a4a23e;
}
.bx_nt_blue {
	background: #dbecff;
	border-color: #cfe2ff;
}
.bx_nt_blue .tl {
	color: #476ecd;
}
.bx_nt_green {
	background: #d5ffcf;
	border-color: #a2da99;
}
.bx_nt_green .tl {
	color: #1c860a;
}
.bx_nt_red {
	background: #ffd2d4;
	border-color: #e199a5;
}
.bx_nt_red .tl {
	color: #cb6c72;
}
/*E:NOTIFICATION BOX*/

/*S:LABEL*/
.label_small {
	display: inline-block;
	padding: 2px 3px;
	font-size: 11px;
	background: #ccc;
}
.label_med {
	display: inline-block;
	padding: 3px 5px;
	font-size: 13px;
	background: #ccc;
}
.label_large {
	display: inline-block;
	padding: 3px 5px;
	font-size: 16px;
	background: #ccc;
}
.label_red {
	background: red;
	color: white;
}
.label_blue {
	background: #06439e;
	color: white;
}
.label_yellow {
	background: yellow;
}
.label_orange {
	background: orange;
}
.label_green {
	background: green;
	color: white
}
/*E:LABEL*/

/*S:TAB*/
.tab a {
	float: left;
	padding: 10px 20px;
	border: 1px solid #dadada;
	margin-right: 2px;
	color: #333;
	text-decoration: none;
	z-index: 2;
	position: relative;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	background: #f5f5f5;
	text-align: center;
}
.tab2 a {
	width: calc(50% - 4px);
	padding: 10px 0;
}
.tab3 a {
	width: calc(33.3% - 4px);
	padding: 10px 0;
}
.tab4 a {
	width: calc(25% - 4px);
	padding: 10px 0;
}
.tab a.selected, .tab a.selected:hover {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.tab a:hover {
	background: #ececec;
}
.tab_content {
	border-top: 1px solid #dadada;
	z-index: 1;
	position: relative;
	margin-top: -1px;
	padding: 10px;
}
/*E:TAB*/

/*S:PAGING*/
.paging {
	margin: 5px 0;
}
.paging a {
	display: inline-block;
	padding: 6px 10px;
	color: #767676;
	background: #ececec;
	text-decoration: none;
	font-size: 11px;
}
.paging a:hover {
	background: #dddddd;
}
.paging a.selected {
	background: #c1c1c1;
	color: #fff;
}
.paging a.range {
	background: none;
}
.paging2 a {
	background: none;
	border-bottom: 2px solid #eeeeee;
}
.paging2 a.selected {
	border-color: #ff0000;
	background: none;
	color: #ff0000;
}
/*E:PAGING*/

/*S:FORMS*/
form {
  	margin: 0 0 20px;
}
fieldset {
	padding: 0;
  	margin: 0;
  	border: 0;
}
legend {
  	display: block;
  	width: 100%;
  	padding: 0;
  	margin-bottom: 20px;
  	font-size: 16px;
  	line-height: 40px;
  	color: #E21B22;
  	border: 0;
  	border-bottom: 1px solid #e5e5e5;
}
legend small {
  	font-size: 15px;
  	color: #999999;
}
label,
input,
button,
select,
textarea {
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 20px;
}
input,
button,
a.btn,
select,
textarea {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  	display: block;
  	margin-bottom: 5px;
	font-weight:bold;
}
select,
textarea,
input[type="text"],
input[type="password"] {
  	display: inline-block;
  	height: 24px;
  	padding: 4px 6px;
  	margin-bottom: 10px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #555555;
  	vertical-align: middle;
}
input,
textarea {
  /*width: 206px;*/
}
textarea {
  	height: auto;
}
textarea,
input[type="text"],
input[type="password"] {
  	background: #ffffff;
  	border: 1px solid #bbbbbb;
}
input[type="radio"],
input[type="checkbox"] {
  	margin: 4px 0 0;
  	margin-top: 1px \9;
  	*margin-top: 0;
  	line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  	width: auto;
}
select,
input[type="file"] {
  	height: 35px;
  	/* In IE7, the height of the select element cannot be changed by height, only font-size */
  	*margin-top: 4px;
  	/* For IE7, add top margin to align select with labels */
  	line-height: 30px;
}
select {
  	width: 220px;
  	background-color: #ffffff;
  	border: 1px solid #bbbbbb;
}
select[multiple],
select[size] {
  	height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  	color: #999999;
}
.radiobtn,
.cekbok {
  	min-height: 20px;
  	padding-left: 20px;
}
.radiobtn input[type="radio"],
.cekbok input[type="checkbox"] {
  	float: left;
  	margin-left: -20px;
	margin-top:3px;
}
.kontrol > .radiobtn:first-child,
.kontrol > .cekbok:first-child {
  	padding-top: 5px;
}
.radiobtn.inline,
.cekbok.inline {
  	display: inline-block;
  	padding-top: 5px;
  	margin-bottom: 0;
  	vertical-align: middle;
}
.radiobtn.inline + .radiobtn.inline,
.cekbok.inline + .cekbok.inline {
  	margin-left: 10px;
}
.input30 {
  	width: 30%;
}
.input50 {
  	width: 50%;
}
.input90 {
  	width: 90%;
 }
.input100 {
  	width:95%;
}
.input_auto {
  	width:auto;
}
input,
textarea {
  	margin-left: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  	cursor: not-allowed;
  	background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  	background-color: transparent;
}
.kontrol_grup.warning .kontrol_label,
.kontrol_grup.warning .help_block,
.kontrol_grup.warning .help_inline {
  	color: #c09853;
}
.kontrol_grup.warning .cekbok,
.kontrol_grup.warning .radiobtn,
.kontrol_grup.warning input,
.kontrol_grup.warning select,
.kontrol_grup.warning textarea {
  	color: #c09853;
}
.kontrol_grup.warning input,
.kontrol_grup.warning select,
.kontrol_grup.warning textarea {
  	border-color: #c09853;
}
.kontrol_grup.warning input:focus,
.kontrol_grup.warning select:focus,
.kontrol_grup.warning textarea:focus {
  	border-color: #a47e3c;
}
.kontrol_grup.error .kontrol_label,
.kontrol_grup.error .help_block,
.kontrol_grup.error .help_inline {
  	color: #b94a48;
}
.kontrol_grup.error .cekbok,
.kontrol_grup.error .radiobtn,
.kontrol_grup.error input,
.kontrol_grup.error select,
.kontrol_grup.error textarea {
  	color: #b94a48;
}
.kontrol_grupp.error input,
.kontrol_grup.error select,
.kontrol_grup.error textarea {
  	border-color: #b94a48;
}
.kontrol_grup.error input:focus,
.kontrol_grup.error select:focus,
.kontrol_grup.error textarea:focus {
  	border-color: #953b39;
}
.kontrol_grup.sukses .kontrol_label,
.kontrol_grup.sukses .help_block,
.kontrol_grup.sukses .help_inline {
  	color: #468847;
}
.kontrol_grup.sukses .cekbok,
.kontrol_grup.sukses .radiobtn,
.kontrol_grup.sukses input,
.kontrol_grup.sukses select,
.kontrol_grup.sukses textarea {
  	color: #468847;
}
.kontrol_grup.sukses input,
.kontrol_grup.sukses select,
.kontrol_grup.sukses textarea {
  	border-color: #468847;
}
.kontrol_grup.sukses input:focus,
.kontrol_grup.sukses select:focus,
.kontrol_grup.sukses textarea:focus {
  	border-color: #356635;
}
.kontrol_grup.info .kontrol_label,
.kontrol_grup.info .help_block,
.kontrol_grup.info .help_inline {
  	color: #3a87ad;
}
.kontrol_grup.info .cekbok,
.kontrol_grup.info .radiobtn,
.kontrol_grup.info input,
.kontrol_grup.info select,
.kontrol_grup.info textarea {
  	color: #3a87ad;
}
.kontrol_grup.info input,
.kontrol_grup.info select,
.kontrol_grup.info textarea {
  	border-color: #3a87ad;
}
.kontrol_grup.info input:focus,
.kontrol_grup.info select:focus,
.kontrol_grup.info textarea:focus {
  	border-color: #2d6987;
}
.help_block,
.help_inline {
  	color: #595959;
}
.help_block {
  	display: block;
  	margin-bottom: 10px;
}
.help_inline {
  	display: inline-block;
  	*display: inline;
  	padding-left: 5px;
  	vertical-align: middle;
  	*zoom: 1;
}
.form_inline input,
.form_horizontal input,
.form_inline textarea,
.form_horizontal textarea,
.form_inline select,
.form_horizontal select,
.form_inline .help_inline,
.form_horizontal .help_inline {
  	display: inline-block;
  	*display: inline;
  	margin-bottom: 0;
  	vertical-align: middle;
  	*zoom: 1;
}
.form_inline .hide,
.form_horizontal .hide {
  	display: none;
}
.form_inline label {
  	display: inline-block;
	margin:0 5px 0 0;
}
.form_inline .radiobtn,
.form_inline .cekbok {
  	padding-left: 0;
  	margin-bottom: 0;
  	vertical-align: middle;
}
.form_inline .radiobtn input[type="radio"],
.form_inline .cekbok input[type="checkbox"] {
  	float: left;
  	margin-right: 7px;
  	margin-left: 0;
}
.kontrol_grup {
  	margin-bottom: 10px;
}
legend + .kontrol_grup {
  	/*margin-top: 20px;*/
  	-webkit-margin-top-collapse: separate;
}
.form_horizontal .kontrol_grup {
  	*zoom: 1;
}
.form_horizontal .kontrol_grup:before,
.form_horizontal .kontrol_grup:after {
  	display: table;
  	line-height: 0;
  	content: "";
}
.form_horizontal .kontrol_grup:after {
  	clear: both;
}
.form_horizontal .kontrol_label {
  	float: left;
  	width: 30%;
  	padding-top: 5px;
}
.form_horizontal .kontrol {
  	*display: inline-block;
  	*padding-left: 20px;
  	margin-left: 30%;
  	*margin-left: 0;
}
.form_horizontal .kontrol:first-child {
  	*padding-left: 120px;
}
.form_horizontal .help_block {
  	margin-bottom: 0;
}
.form_horizontal input + .help_block,
.form_horizontal select + .help_block,
.form_horizontal textarea + .help_block {
  	margin-top: 10px;
}
.btn {
  	display: inline-block;
  	*display: inline;
  	padding: 6px 12px;
  	margin-bottom: 5px;
  	margin-top:5px;
  	*margin-left: .3em;
  	font-size: 14px;
  	font-weight:bold;
  	line-height: 15px;
  	color: #333333;
  	text-align: center;
  	vertical-align: middle;
  	cursor: pointer;
  	background:#ebebeb;
  	border: 1px solid #adadad;
  	*border: 0;
  	*zoom: 1;
	text-decoration:none;
	white-space:nowrap;
}
a.btn:hover {
	color:#333333;
	text-decoration:none !important;
}
.btn.btn_red,
a.btn_red:hover {
	background:red;
	border:1px solid #A00;
	color:#fff !important;
}
.btn.btn_blue,
a.btn_blue:hover {
	background:#06439E;
	border:1px solid #006;
	color:#fff !important;
}
.btn.btn_orange,
a.btn_orange:hover {
	background:orange;
	border:1px solid #d58512;
	color:#fff !important;
}
.btn.btn_green,
a.btn_orange:hover {
	background:green;
	border:1px solid #050;
	color:#fff !important;
}
.btn.btn_small {
	font-size:11px;
	padding:4px 7px;
	/*line-height:10px;*/
}
.btn.btn_large {
	font-size:16px;
	padding:10px 20px;
	/*line-height:35px;*/
}
	
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  	opacity:0.80;
	filter: alpha(opacity=80);
}
.btn.disabled,
.btn[disabled] {
  	cursor: default;
	background:#EEEEEE;
	border:1px solid #ccc;
	color:#aaa;
  	opacity: 0.65;
  	filter: alpha(opacity=65);
}
/*E:FORMS*/


/*S:listNormal*/
ul{
	margin:0 0 0 10px;
	padding:0;
}
ul li{
	margin:3px 0;
}
ul li ul{
	margin-left:15px;
}
/*E:listNormal*/
/*S:OrderListNormal*/
ol{
	margin:0 0 0 10px;
	padding:0;
}
ol li{
	margin:3px 0;
}
ol li ol{
	margin-left:15px;
}
/*E:OrderListNormal*/
/*S:THUMBNAIL LIST*/
.thumblist a{
	color:#000;
	text-decoration:none;
}
.thumblist ul {
  list-style-type: none;
  width: 300px;
}
.thumblist li span {
  float: left;
  margin: 0 10px 0 0;
}
.thumblist li p {
  font-size:12px;
}
.thumblist li {
  padding: 10px;
  overflow: auto;
}
.thumblist li:hover {
  background: #eee;
  cursor: pointer;
}
/*E:THUMBNAIL LIST*/
/*S:listArticle*/
.listnews1, 
.listnews2,
.listnews3,
.listnews4,
.listimg,
.listvid {
	padding:0;
	margin:0;
	list-style:none;
}
.listnews1 li, 
.listnews2 li {
	padding:13px 0px;
	border-bottom:1px dotted #ccc;
	line-height:16px;
	font:12px;
}
.listnews1 li img, 
.listnews2 li img,
.listnews3 li img {
	float:left;
	margin-right:10px;
}
.listnews1 li a, 
.listnews2 li a, 
.listnews3 li a, 
.listnews4 li a,
.listimg li a,
.listvid li a{
	color: #013f7d;
	text-decoration: none;
	font-weight: bold;
}
.listnews1 li h5, 
.listnews2 li h5, 
.listnews3 li h5, 
.listnews4 li h5{
	font-weight: bold;
}
.listnews1 li h6, 
.listnews2 li h6, 
.listnews3 li h6, 
.listnews4 li h6{
	color:#000;
}
.listnews1 li h5,
.listnews2 li h5{
	padding-bottom:10px;
}
.listnews1 li a, 
.listnews2 li a,
.listnews3 li a,
.listnews4 li a,
.listimg li a,
.listvid li a{
	text-decoration:none;
}
.listnews1 li a:hover, 
.listnews2 li a:hover,
.listnews3 li a:hover,
.listnews4 li a:hover,
.listimg li a:hover,
.listvid li a:hover{
	text-decoration:underline;
}
.listnews1 li.first, 
.listnews2 li.first {
	padding:0px 0px 13px 0px;
}

.listnews2 li{
	padding:7px 0;
}
.listnews1 li .date,
.listnews2 li .date,
.listnews3 li .date,
.listnews4 li .date,
.listimg li .date,
.listvid li .date{
	font-size: 11px;
	color: gray;
	display: inline-block;
	font-weight: normal;
}
.listnews2 li .author{
	font-size:11px;
	text-decoration:none;
}

.listnews3 li {
	width:270px;
	float:left;
	padding:5px;
}
.listnews3 li a:hover {
	color: #000;
	text-decoration:underline;
}

.listnews4 li{
	padding:5px 0px 5px 15px;
	border-bottom:1px dotted #E6E6E6;
	background:url(images/detik.sprite.gif) 0px -92px no-repeat;
}
.listnews4 ul{
	margin-left:0;
	padding-left:20px;
	list-style:none;
}
/*E:listArticle*/
/*S:listthumbnailimage*/
.thumbimg {
  margin: 0 auto;
  overflow: auto;
}
.thumbimg ul {
  list-style-type: none;
}
.thumbimg li span {
  float: left;
  margin: 10px;
  border: 1px solid #ccc;
}

/*E:listthumbnailimage*/
/*S:listImageVideo*/
.listimg li,
.listvid li {
	width:130px;
	height:110px;
	margin:6px;
	float:left;
	padding:0;
	border:0;
}
.listimg li img,
.listvid img {
	margin-bottom:5px;
}
.listimg li a:hover img {
	opacity:0.8;
}
.listvid .time {
	display: inline-block;
	background:#000;
	padding:3px 5px 0 5px;
	float:right;
	height:17px;
	color:white;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	position:relative;
	z-index:2;
	margin-top:-20px;
	margin-right:10px;
	opacity:0.8;
}
.listvid .play1 {
	display:none;
	width:27px;
	height:18px;
	position:relative;
	z-index:2;
	margin-top:-18px;
	margin-right:10px;
	float:right;
	background:url(../images/btn_play.jpg) center no-repeat #ff8400;
}
.listvid .play:hover .time {
	display:none;
}
.listvid .play:hover .play1 {
	display:block;
}
.listimg li h6,
.listvid li h6{
	color: #013f7d;
	text-decoration: none;
	font-weight: bold;
}

/*S:listImageVideo*/

/*S:PAGING*/
.paging {
	margin: 5px 0;
}
.paging a {
	display: inline-block;
	padding: 6px 10px;
	color: #767676;
	background: #ececec;
	text-decoration: none;
	font-size: 11px;
}
.paging a:hover {
	background: #dddddd;
}
.paging a.selected {
	background: #c1c1c1;
	color: #fff;
}
.paging a.range {
	background: none;
}
.paging2 a {
	background: none;
	border-bottom: 2px solid #eeeeee;
}
.paging2 a.selected {
	border-color: #ff0000;
	background: none;
	color: #ff0000;
}
/*E:PAGING*/
/*S:NEWSTICKER*/
#warp_nt {
	width:500px;
	margin:0;
}
#warp_nt > div {
	background-color:red;
	padding:5px 12px 4px 12px;
	overflow: hidden;
}
#warp_nt ul li {
	display: block;
	float: left;
	margin: 0 10px;
}
#warp_nt ul li a{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}
/*E:NEWSTICKER*/

/*S:MENUDROPDOWN*/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid #19538b;
	border-right: 1px solid #00417f;
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}
.sf-menu a {
	color: #fff;
}
.sf-menu ul li a{
	border-top: 1px solid #2866a0; /* fallback colour must use full shorthand */
}
.sf-menu li {
	background:#004A90;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #004f99;
}
.sf-menu ul ul li {
	background: #005cb2;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background:#003567;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
/* arrows (for all except IE7) */
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #fff; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
/*E:MENUDROPDOWN*/
/*S:SLIDERBASIC*/
/*S:SLIDERBASIC_1*/
.carou {
	position: relative;
	margin:10px 20px;
}
a.prev, a.next {
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top:55px;
	text-decoration:none;
}
a.prev {  left:-20px; }
a.prev:hover {}
a.prev.disabled { color:#ccc; }
a.next {right:0;}
a.next:hover {}
a.next.disabled { color:#ccc;}
a.prev.disabled, a.next.disabled {
	cursor: default;
	color:#ccc;
}
a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background-color:#999;
	width: 15px;
	height: 15px;
	margin: 10px 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-color: #666;
	cursor: default;
}
.pagination a span {
	display: none;
}
.lpos2{
	top:75px !important;
}
.rpos2{
	top:75px !important;
	right:-52px !important;
}
.lpos3{
	top:0px !important;
	left:240px !important
}
.rpos3{
	top:0px !important;
	right:0px !important;
}
.carou ul{
	padding:0;
	margin:0;
}
.carou #slide3 li{
	display:block;
	float:left;
	width:300px;
	padding:0;
	margin:0;
}
.carou #slide3 li span{
	margin-bottom:10px;
}
/*E:SLIDERBASIC_1*/
/*E:SLIDERBASIC*/

/*S:ACCORDION*/
#accordion {
    margin:0;
    padding:0; 
    list-style:none;
}
#accordion li a {
        display: block;
        outline:none;
}
#accordion li{
	display: block;
	font-weight: bold;
	cursor: pointer;
	border-top: #FF9927;
}
#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
#accordion ul:active {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
	background:red;
}
#accordion ul li{
	font-weight: normal;
	cursor: auto;
	background-color: #fff;
	padding: 7px;
}
.list_accordion {
	list-style:none;
	padding:0;
	margin:0;
	line-height:120%;
}
.list_accordion li {
	border-bottom:1px solid #E6E6E6;
}
/*E:ACCORDION*/

#tooltip, #preview{
	position:absolute;
	border:1px solid #E6E6E6;
	background:#ffffc9;
	padding:2px;
	color:#333;
	display:none;
	text-align:center;
	font-size:12px;
}	


/* Default styling for jQuery Datepicker v4.0.5. */
.datepick {
	background-color: #fff;
	color: #000;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 11px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #000;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
	opacity:0.9;
	width:250px;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.datepick a {
	color: #fff;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: #888;
	cursor: auto;
}
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}
.datepick-ctrl {
	background-color: #600;
}
.datepick-cmd {
	width: 20%;
}
.datepick-cmd:hover {
	background-color: #777;
}
.datepick-ctrl .datepick-cmd:hover {
	background-color: #f08080;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	padding: 5px 8px;
	display: inline-block;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 30%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 15em;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	background-color: #444;
	color: #fff;
	font-weight: bold;
	padding: 5px;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	border: none;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
	font-size:11px;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	text-align: center;
	margin: 0;
}
.datepick-month th {
	border: 1px solid #777;
}
.datepick-month th, .datepick-month th a {
	background-color: #777;
	color: #fff;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #FFFFFF;
}
.datepick-month td.datepick-week {
	border: 1px solid #777;
}
.datepick-month td.datepick-week * {
	background-color: #777;
	color: #fff;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 3px 0px;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #f0c0c0;
}
.datepick-month td .datepick-highlight {
	background-color: #f08080;
}
.datepick-month td .datepick-selected {
	background-color: #777;
	color: #fff;
}
.datepick-month th.datepick-week {
	background-color: #777;
	color: #fff;
}
.datepick-status {
	clear: both;
	background-color: #ddd;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
.datepick-cover {
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
}


/*S:MODAL BOX*/
.box_modal {
	cursor: pointer;
}
.pop_box {
	background: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 999;
}
.pop_box .pop_box_content {
	padding: 20px;
	background: #fff;
	width: 500px;
	position: relative;
	margin: 0 auto;
	top: 15%;
}
.pop_box iframe {
	position: relative;
}
.close_box, 
.close_box_style {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 5px 8px;
	background: #f4f4f4;
	cursor: pointer;
}
/*E:MODAL BOX*/

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*garis atas  -> indeks  fokus*/
.linet {
	border-top:1px dotted #bbb;
}
.linets {
	border-top:1px solid #d2d2d2;
}

/* garis bawah */
.lineb  {
	border-bottom:1px dotted #bbb;
}

/*garis kanan*/
.liner {
	border-right:1px dotted #bbb;
}
/*garis kanan kiri*/
.linelr {
	border-right:1px dotted #bbb;
	border-left:1px dotted #bbb;
}

/* S:list abjad */
.list_alphabet {
	display:block;
}
.list_alphabet ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.list_alphabet  li {
	float:left;
	margin:0px;
	padding:0px;
}
.list_alphabet a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 6px 8px 6px 8px;
	background: #343434;
	font-size: 15px;
	font-weight: normal;
}
.list_alphabet a:hover,
.list_alphabet a.selected {
	text-decoration:none;
	background:#F00;
	color:white;
}
/* E:list abjad */
