.container2 {
	width: 960px;
	margin: 0 auto;
}
.title_page2 {
	padding: 30px 60px 20px;
	font-size: 30px;
}
.content_statik {
	font-size: 14px;
	line-height: 130%;
	padding: 20px 60px;
}
.content_statik .l1 {
	float: left;
	width: 500px;
}
.content_statik .l2 {
	float: right;
	width: 300px;
}
.content_statik form strong {
	display: block;
	padding-bottom: 3px;
}
.content_statik form .input1 {
	width: 95%;
}
.content_statik form .btn_sub {
	display: inline-block;
	background: #ca0813;
	color: #fff;
	font-size: 14px;
	padding: 8px 20px;
	border:1px solid #ae050f;
	border-radius: 3px;
	cursor: pointer;
}
.content_statik form .btn_sub:hover {
	opacity: 0.8;
}
.content_statik form .btn_res {
	background: #a6a6a6;
	border-color: #868585;
}
.content_statik h3 {
	padding: 5px 0;
	font-size: 18px;
	font-weight: bold;
}
.content_statik h4 {
	padding: 3px 0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
.content_statik ol {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style-type: lower-alpha;
}
.content_statik ol ol {
	list-style-type: decimal;
}
.pic_full img{
	display: block;
	width: 100%;
}

/*S:NOTIFICATION BOX*/
.bx_nt {
	padding: 5px 8px;
	border: 1px solid #dbe465;
	background: #fffed8;
	font-size: 12px;
	color: #4d4d4d;
	margin: 5px 0;
}
.bx_nt .tl {
	display: block;
	font-size: 15px;
	color: #a4a23e;
}
.bx_nt_blue {
	background: #dbecff;
	border-color: #cfe2ff;
}
.bx_nt_blue .tl {
	color: #476ecd;
}
.bx_nt_green {
	background: #d5ffcf;
	border-color: #a2da99;
}
.bx_nt_green .tl {
	color: #1c860a;
}
.bx_nt_red {
	background: #ffd2d4;
	border-color: #e199a5;
}
.bx_nt_red .tl {
	color: #cb6c72;
}
/*E:NOTIFICATION BOX*/

