﻿/* #region ======================================= SCAFFOLDING ======================================== */
/* #region ------------- Scaffolding ---------------- */
/* #region Spacings */
.vertical-spacing-xxs {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
}

.vertical-spacing-xs {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
}

.vertical-spacing-sm {
    display: block;
    content: '';
    width: 100%;
    height: 10px;
}

.vertical-spacing-md {
    display: block;
    content: '';
    width: 100%;
    height: 30px;
}

.vertical-spacing-lg {
    display: block;
    content: '';
    width: 100%;
    height: 50px;
}

.vertical-spacing-xl {
    display: block;
    content: '';
    width: 100%;
    height: 100px;
}

.vertical-spacing-xxl {
    display: block;
    content: '';
    width: 100%;
    height: 200px;
}
/* #endregion Spacings */
/* #region Margins */
.no-margin {
    margin: 0px !important;
}

.no-margin-vertical {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.no-margin-horizontal {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.margin-xxs {
    margin: 1px !important;
}

.margin-xs {
    margin: 5px !important;
}

.margin-sm {
    margin: 10px !important;
}

.margin-md {
    margin: 30px !important;
}

.margin-lg {
    margin: 50px !important;
}

.margin-xl {
    margin: 100px !important;
}

.margin-xxl {
    margin: 200px !important;
}

.margin-vertical-xxs {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.margin-vertical-xs {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-vertical-sm {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.margin-vertical-md {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.margin-vertical-lg {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.margin-vertical-xl {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.margin-vertical-xxl {
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}

.margin-horizontal-xxs {
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.margin-horizontal-xs {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.margin-horizontal-sm {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.margin-horizontal-md {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.margin-horizontal-lg {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.margin-horizontal-xl {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.margin-horizontal-xxl {
    margin-left: 200px !important;
    margin-right: 200px !important;
}

.margin-top-xxs {
    margin-top: 1px !important;
}

.margin-top-xs {
    margin-top: 5px !important;
}

.margin-top-sm {
    margin-top: 10px !important;
}

.margin-top-md {
    margin-top: 30px !important;
}

.margin-top-lg {
    margin-top: 50px !important;
}

.margin-top-xl {
    margin-top: 100px !important;
}

.margin-top-xxl {
    margin-top: 200px !important;
}

.margin-bottom-xxs {
    margin-bottom: 1px !important;
}

.margin-bottom-xs {
    margin-bottom: 5px !important;
}

.margin-bottom-sm {
    margin-bottom: 10px !important;
}

.margin-bottom-md {
    margin-bottom: 30px !important;
}

.margin-bottom-lg {
    margin-bottom: 50px !important;
}

.margin-bottom-xl {
    margin-bottom: 100px !important;
}

.margin-bottom-xxl {
    margin-bottom: 200px !important;
}

.margin-left-xxs {
    margin-left: 1px !important;
}

.margin-left-xs {
    margin-left: 5px !important;
}

.margin-left-sm {
    margin-left: 10px !important;
}

.margin-left-md {
    margin-left: 30px !important;
}

.margin-left-lg {
    margin-left: 50px !important;
}

.margin-left-xl {
    margin-left: 100px !important;
}

.margin-left-xxl {
    margin-left: 200px !important;
}

.margin-right-xxs {
    margin-right: 1px !important;
}

.margin-right-xs {
    margin-right: 5px !important;
}

.margin-right-sm {
    margin-right: 10px !important;
}

.margin-right-md {
    margin-right: 30px !important;
}

.margin-right-lg {
    margin-right: 50px !important;
}

.margin-right-xl {
    margin-right: 100px !important;
}

.margin-right-xxl {
    margin-right: 200px !important;
}
/* RTL */

[dir="rtl"] .no-margin-left, [dir="rtl"].no-margin-left {
    margin-right: 0px !important;
}

[dir="rtl"] .no-margin-right, [dir="rtl"].no-margin-right {
    margin-left: 0px !important;
}

[dir="rtl"] .margin-left-xxs, [dir="rtl"].margin-left-xxs {
    margin-right: 1px !important;
}

[dir="rtl"] .margin-left-xs, [dir="rtl"].margin-left-xs {
    margin-right: 5px !important;
}

[dir="rtl"] .margin-left-sm, [dir="rtl"].margin-left-sm {
    margin-right: 10px !important;
}

[dir="rtl"] .margin-left-md, [dir="rtl"].margin-left-md {
    margin-right: 30px !important;
}

[dir="rtl"] .margin-left-lg, [dir="rtl"].margin-left-lg {
    margin-right: 50px !important;
}

[dir="rtl"] .margin-left-xl, [dir="rtl"].margin-left-xl {
    margin-right: 100px !important;
}

[dir="rtl"] .margin-left-xxl, [dir="rtl"].margin-left-xxl {
    margin-right: 200px !important;
}

[dir="rtl"] .margin-right-xxs, [dir="rtl"].margin-right-xxs {
    margin-left: 1px !important;
}

[dir="rtl"] .margin-right-xs, [dir="rtl"].margin-right-xs {
    margin-left: 5px !important;
}

[dir="rtl"] .margin-right-sm, [dir="rtl"].margin-right-sm {
    margin-left: 10px !important;
}

[dir="rtl"] .margin-right-md, [dir="rtl"].margin-right-md {
    margin-left: 30px !important;
}

[dir="rtl"] .margin-right-lg, [dir="rtl"].margin-right-lg {
    margin-left: 50px !important;
}

[dir="rtl"] .margin-right-xl, [dir="rtl"].margin-right-xl {
    margin-left: 100px !important;
}

[dir="rtl"] .margin-right-xxl, [dir="rtl"].margin-right-xxl {
    margin-left: 200px !important;
}
/* #endregion Margins */
/* #region Paddings */
.no-padding {
    padding: 0px !important;
}

.no-padding-vertical {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.no-padding-horizontal {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.padding-xxs {
    padding: 1px !important;
}

.padding-xs {
    padding: 5px !important;
}

.padding-sm {
    padding: 10px !important;
}

.padding-md {
    padding: 30px !important;
}

.padding-lg {
    padding: 50px !important;
}

.padding-xl {
    padding: 100px !important;
}

.padding-xxl {
    padding: 200px !important;
}

.padding-vertical-xxs {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.padding-vertical-xs {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-vertical-sm {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padding-vertical-md {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.padding-vertical-lg {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.padding-vertical-xl {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.padding-vertical-xxl {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

.padding-horizontal-xxs {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.padding-horizontal-xs {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padding-horizontal-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-horizontal-md {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.padding-horizontal-lg {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.padding-horizontal-xl {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.padding-horizontal-xxl {
    padding-left: 200px !important;
    padding-right: 200px !important;
}

.padding-top-xxs {
    padding-top: 1px !important;
}

.padding-top-xs {
    padding-top: 5px !important;
}

.padding-top-sm {
    padding-top: 10px !important;
}

.padding-top-md {
    padding-top: 30px !important;
}

.padding-top-lg {
    padding-top: 50px !important;
}

.padding-top-xl {
    padding-top: 100px !important;
}

.padding-top-xxl {
    padding-top: 200px !important;
}

.padding-bottom-xxs {
    padding-bottom: 1px !important;
}

.padding-bottom-xs {
    padding-bottom: 5px !important;
}

.padding-bottom-sm {
    padding-bottom: 10px !important;
}

.padding-bottom-md {
    padding-bottom: 30px !important;
}

.padding-bottom-lg {
    padding-bottom: 50px !important;
}

.padding-bottom-xl {
    padding-bottom: 100px !important;
}

.padding-bottom-xxl {
    padding-bottom: 200px !important;
}

.padding-left-xxs {
    padding-left: 1px !important;
}

.padding-left-xs {
    padding-left: 5px !important;
}

.padding-left-sm {
    padding-left: 10px !important;
}

.padding-left-md {
    padding-left: 30px !important;
}

.padding-left-lg {
    padding-left: 50px !important;
}

.padding-left-xl {
    padding-left: 100px !important;
}

.padding-left-xxl {
    padding-left: 200px !important;
}

.padding-right-xxs {
    padding-right: 1px !important;
}

.padding-right-xs {
    padding-right: 5px !important;
}

.padding-right-sm {
    padding-right: 10px !important;
}

.padding-right-md {
    padding-right: 30px !important;
}

.padding-right-lg {
    padding-right: 50px !important;
}

.padding-right-xl {
    padding-right: 100px !important;
}

.padding-right-xxl {
    padding-right: 200px !important;
}

/* RTL */

[dir="rtl"] .no-padding-left, [dir="rtl"].no-padding-left {
    padding-right: 0px !important;
}

[dir="rtl"] .no-padding-right, [dir="rtl"].no-padding-right {
    padding-left: 0px !important;
}

[dir="rtl"] .padding-left-xxs, [dir="rtl"].padding-left-xxs {
    padding-right: 1px !important;
}

[dir="rtl"] .padding-left-xs, [dir="rtl"].padding-left-xs {
    padding-right: 5px !important;
}

[dir="rtl"] .padding-left-sm, [dir="rtl"].padding-left-sm {
    padding-right: 10px !important;
}

[dir="rtl"] .padding-left-md, [dir="rtl"].padding-left-md {
    padding-right: 30px !important;
}

[dir="rtl"] .padding-left-lg, [dir="rtl"].padding-left-lg {
    padding-right: 50px !important;
}

[dir="rtl"] .padding-left-xl, [dir="rtl"].padding-left-xl {
    padding-right: 100px !important;
}

[dir="rtl"] .padding-left-xxl, [dir="rtl"].padding-left-xxl {
    padding-right: 200px !important;
}

[dir="rtl"] .padding-right-xxs, [dir="rtl"].padding-right-xxs {
    padding-left: 1px !important;
}

[dir="rtl"] .padding-right-xs, [dir="rtl"].padding-right-xs {
    padding-left: 5px !important;
}

[dir="rtl"] .padding-right-sm, [dir="rtl"].padding-right-sm {
    padding-left: 10px !important;
}

[dir="rtl"] .padding-right-md, [dir="rtl"].padding-right-md {
    padding-left: 30px !important;
}

[dir="rtl"] .padding-right-lg, [dir="rtl"].padding-right-lg {
    padding-left: 50px !important;
}

[dir="rtl"] .padding-right-xl, [dir="rtl"].padding-right-xl {
    padding-left: 100px !important;
}

[dir="rtl"] .padding-right-xxl, [dir="rtl"].padding-right-xxl {
    padding-left: 200px !important;
}
/* #endregion Paddings */
/* #region Alignments */
.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-baseline {
    vertical-align: baseline;
}
/* #endregion Alignments */
/* #endregion ---------- Scaffolding ---------------- */
/* #endregion ==================================== SCAFFOLDING ======================================== */