@font-face {
  font-family: 'GFS Didot';
  font-style: normal;
  font-weight: 400;
  src: local('GFS Didot Regular'), local('GFSDidot-Regular'), url(http://fonts.gstatic.com/s/gfsdidot/v6/jQKxZy2RU-h9tkPZcRVluA.ttf) format('truetype');
}
