/* CNTW-302 */
/*EditorsChoice*/
/*共用*/
ul[class^=EditorsChoice] {
	/*margin:.5em 0 .5em 0;*/
	/* SORA */
	padding:0 0px 0 0;	
	overflow:hidden;
	
	text-align: left;
    font-size: 16px;
}

ul[class^=EditorsChoice]:before {
	content: "編輯相關推薦";
	display: inline-block;
	color: #3366FF;
	line-height: 1.68;
	font-weight: bold;
}

ul[class^=EditorsChoice] a {
	/*display: block;*/
	text-decoration: none;
}
ul[class^=EditorsChoice] p {
	margin:0;
}
ul[class^=EditorsChoice] img {
	display:none;
}
/* SORA */
/* to overlap border lines */
ul[class^=EditorsChoice] li{
	margin:-.05em 0 0;
}

/*1:純文字 - 一般*/
ul.EditorsChoice a {
	color:black;
}

/*2:純文字 - 強調*/
ul.EditorsChoice2 a {
	color:black;
}
ul.EditorsChoice2 a,
ul.EditorsChoice2:before {
	font-weight: bold;
}
/* SORA */
ul.EditorsChoice2 li {
	list-style: none;
    width: 100%;
    /*max-width: 620px;*/
}
ul.EditorsChoice2 div {
	display: none;
}
ul.EditorsChoice2 p {
	font-size:15px;
}
ul.EditorsChoice2 p:hover {
	color: red;
}
/* END SORA */

/*3:圖文*/
ul.EditorsChoice3 li {
	list-style: none;
	/*height: 6em;*/
	/* SORA */
	/*height: 120px;*/
	height: 90px;	
    border: 1px dotted #ccc;
    padding: 10px;
    width: 100%;
    max-width: 620px;
	/* END SORA */
}
ul.EditorsChoice3 a {
	/*display: table;*/
}
ul.EditorsChoice3 p {
  /*display: table-cell;*/
  /*vertical-align: middle;*/ 
  /* SORA */
  height:100%;
  /* New */
  font-size: 18px;
  overflow: hidden;
  /* END SORA */  
}
ul.EditorsChoice3 img {
	display: block;
	float:left;
	margin-right: .5em;
	/*max-height: 6em;*/
	max-width: 8em;
}
/* SORA */
ul.EditorsChoice3 div {
    /*width: 140px;
    height: 120px;*/
    width: 35%;
    height: 90px;
    float: left;
    background-size: cover;
    background-position-y: 20%;
    margin-right: 10px;
}
ul.EditorsChoice3 li:hover {
	background: #eee;
}
/* END SORA */

/*4:延伸閱讀*/
ul.EditorsChoice4:before {
	content: "延伸閱讀";
	display: inline-block;
	color: Red;
	line-height: 1.68;
}
ul.EditorsChoice4 li,
ul.EditorsChoice4 a {
	color:#FF9900;
}


/*5:三角符號*/
ul.EditorsChoice5:before {
	display: none;
}
ul.EditorsChoice5 li {
	list-style: none;
}
ul.EditorsChoice5 p:before {
	content: "?";
	margin-right: .5em;
	display: inline-block;
	line-height: 1.68;
}
ul.EditorsChoice5 li,
ul.EditorsChoice5 a {
	color:red;
}
/* END EditorsChoice */