@charset "UTF-8";
/**
*
* @authors Jeter Chou (jeter.chou@condenast.com.tw)
*/
/* Live like GQ */
@import url('timeline.css');
@import url('/event/index_timeline/css/lionbars.css');
@import url('/event/r/demo/GQ/css/style.css');
/* cnViewer */
@import url('/css/popup.css');
/* Dropdown menu */
@import url('pro_dropdown_2.css');
@import url('slidernav.css');
@import url('jquery.sliderTabs.min.css');
/* GQ club member managing */
@import url('style.css');
/* module layout by Rain Chen */
@import url('/event/r/demo/GQ/css/style.css');
body {font-size: 13px; text-align: center;}
#container {margin: 0 auto; background: #fff; padding: 0; position: relative;}
.container {display: block; margin: 0 auto; padding: 0; position: relative; text-align: left; width: 1000px;}
form {margin: 0; padding: 0;} ul {list-style: none; margin: 0; padding:0;} ul > li {float: left; margin: 0; padding:0;}
/* Base setting from old version */
a:hover,a:active {text-decoration: underline;}
body{background-color:#fff;line-height:1.7em; margin:0;padding:0;text-align:center}form{margin:0;padding:0}ul{list-style:none;margin:0;padding:0}ul > li{float:left;margin:0;padding:0}a{blr:expression(this.onFocus=this.blur())}a:link,a:visited{text-decoration:none;color:#333}a.underline:link,a.underline:visited{text-decoration:underline}a:hover,a:active{color:#666;text-decoration:underline}a:focus{-moz-outline-style:none}a img{border:none}object{line-height:0}iframe{position:relative;display:block;z-index:150}
/* Bootstrap icon setting v2.x http://getbootstrap.com/2.3.2/
[class^="icon-"],[class*=" icon-"] {display: inline-block;width: 14px;height: 14px;margin-top: 1px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url("../img/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;}*/
/* header */
#header h1 span {display: none;} #header {padding-top: 5px;padding-bottom: 5px;clear: both;width: 1000px;margin: 0 auto; position:relative} #crumb, #content, #slides, .content {width: 1000px;margin: 0 auto;} #content, .content {width: 980px; position: relative} .content {text-align: left;} #header h1 {background: url("../img/css-sprites.png") no-repeat scroll 0 -633px transparent;display: block; height: 130px; overflow: hidden; width: 253px; cursor: pointer;} #header a.title:link {height: 130px; width: 253px; display: block; margin: 0 auto;}
.header-magazine {color: #CCC;display: block;height: 120px;left: 760px;position: absolute;top: 10px;width: 230px;}.header-magazine a:link, .header-magazine a:visited {background: url("../img/css-sprites.png") no-repeat scroll -440px -200px transparent;display: block;height: 120px;overflow: hidden;text-align: left;text-indent: -9999px;width: 230px;}.logo {display: block;height: 97px;left: 0;position: absolute;top: 104px;width: 175px;} #slides_list .slides_container {background: #000;}.logo a {background: url("../img/css-sprites.png") no-repeat scroll -300px -108px transparent;display: block;height: 71px;left: 6px;overflow: hidden;position: relative;text-align: left;text-indent: -9999px;top: 8px;width: 150px;}
.logo {display: block;height: 97px;left: 0;position: absolute;top: 104px;width: 175px;}.logo a {background: url("../img/css-sprites.png") no-repeat scroll -300px -108px transparent;display: block;height: 71px;left: 6px;overflow: hidden;position: relative;text-align: left;text-indent: -9999px;top: 8px;width: 150px;}
.main h3 {font-size: 48px; padding: 15px 0;border-top: 4px solid #000;border-bottom: 1px solid #ddd;margin-bottom:15px;font-family: 'Montserrat', sans-serif;font-weight: 700; text-transform: uppercase} .main h3 em {font-style: normal;color: #999;float: right;font-size: 18px;font-weight: 700;font-family: "Montserrat", "sourcehansans-tc-bold", MyTitleChinese, sans-serif;text-transform: capitalize; letter-spacing: 0;}
/* navigation */
.nav-container {width: 100%;background:#000;/**/height:38px; z-index: 20;}.navb {width: 1000px; margin: 0px auto;}.login-hint {width: 100%; background:#fd0; /**/}.login-hint p {width: 1000px; margin: 0 auto; text-align:left;padding: 8px 0px; background: #fd0;} #navi {float: left;} #navi li.top a, .sub-navi li a {font-size:14px;padding:11px 10px 12px 10px;height: 15px;display: block;border-right: 1px solid #444;line-height:14px;} .sub-navi {background:#ccc;padding: 13px 0;border-bottom: 1px solid #bbb;}.sub-navi ul {width: 1000px; margin: 0 auto;} .sub-navi li a {padding:0 10px 2px 10px; border-color: #999;font-weight: bold; text-shadow: 0px 1px rgba(255, 255, 255, .8);} .sub-navi li:last-child a {border: none;} #navi li.top ul li a {border: none;} #navi li.top.alt > a:link, #navi li.top.alt > a:visited {color: #fd0;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);} #navi li.top a:link, #navi li.top a:visited {color: #fff;} #navi li.top a:hover {text-decoration:none;} #navi li.top.current {background: #ccc;color: #333} #navi li.top.current > a:link, #navi li.top.alt.current > a:link, #navi li.top.current > a:visited, #navi li.top.alt.current > a:visited {color: #333;} #navi li.top ul li {text-align: left;} #navi li.top:hover {background: #ae010f;} #navi li.top.current:hover > a:link, #navi li.top.current:hover > a:visited {color: #fff;} #navi li.top.alt.current:hover > a:link, #navi li.top.alt.current:hover > a:visited {color: #fd0;} .f-nav {z-index: 9999; position: fixed; top: 0; width: 100%; *left:0; } /* this make our menu float top */ .clear {clear: both;height:0px;}
/*
*  SliderNav - A Simple Content Slider with a Navigation Bar
*  Copyright 2010 Monjurul Dolon, http://mdolon.com/
*  Released under the MIT, BSD, and GPL Licenses.
*  More information: http://devgrow.com/slidernav
*/
.slider{float:right}.brand-list #slider{float:none}.slider{width:300px;min-height:250px;display:block;position:relative;background:#fff;overflow:hidden;background:rgba(255,255,255,.9)}.brand-list .slider{width:100%}.slider ul{list-style:none}.slider-content{float:left;width:100%;display:block;overflow:auto;min-height:250px}.slider-content ul{float:left;width:100%;display:block;position:relative}.slider-content ul li{float:left;width:100%;font-size:16px}.slider-content ul ul li a{padding:5px 10px;display:block;border-bottom:1px solid #f3f3f3;text-transform:capitalize}.slider-content ul ul li a:hover{background:#fd0;border-color:#d5ebf9;text-decoration:none;color:#222}.slider-content .title{padding:5px 0;text-indent:10px;background:#bbb;color:#fff;width:100%;float:left;font-weight:700;text-transform:uppercase}.slider-content a.title:hover{text-decoration:none}.slider-content .selected .title{background:#666}.slider .slider-nav{position:absolute;right:24px;top:0;height:400px;width:16px;line-height:14px}.slider .slider-nav ul{padding:5px 0}.slider .slider-nav li a{padding:1px 3px;line-height:13px;text-align:center;color:#222;font-weight:700;display:block;text-transform:uppercase;cursor:pointer}.slider #debug{position:absolute;bottom:0;left:0;padding:5px;background:#000;color:#fff}.slider .arrow{font-size:0;line-height:0;width:0;border-bottom:8px solid #fff;border-left:5px solid #333;border-right:5px solid #333;position:relative;top:5px}.slider .down{border-bottom:none;border-top:8px solid #fff;top:15px}.slider .slide-up,.slider .slide-down{height:20px;text-align:center;cursor:pointer;float:right;width:100%;position:relative}
/* search */
.header-search,.club-ctrl {float:right;margin-right: 10px;display:table;} .header-search {height: 20px;padding: 9px 0 0 0;} .club-ctrl {height: 38px;} .header-search-input input[type=text] {background: #000;color:#fff;font-size: 14px;border: none;border-bottom: 1px solid #4d4d4d;width: 136px;height:19px;padding: 0;} .header-search-input, .header-search-submit {display: inline-block; zoom: 1;*display: inline;} .header-search-input {} .header-search-submit {vertical-align:middle} .header-search-submit a span {display: none;} .header-search-submit a {background: url("../img/css-sprites.png") no-repeat scroll -340px -300px;height: 21px;overflow: hidden;width: 21px;display: block;cursor: pointer;opacity: 0.6;*margin-top:-15px;} .header-search-submit a:hover {opacity: 1;}
/* bread crumb */
#crumb {padding: 10px 0;clear:both;height:12px;}#crumb ul {clear:both;}#crumb ul li {padding: 0 5px;font-size: 12px;display: inline-block;}
/* content */
#content {text-align: left;} .content.extend {max-width: 1550px;min-width: 1280px;} .leaderboard {text-align: center; padding: 15px; z-index: 1;} .main {width: 640px; float:left;} .main.upclub {width: 100%} .side-content {float:right; width: 320px;} .main, .side-content {padding-top:15px;text-align:left}
/* Catwalk */
.alpha-list ul { position: absolute; right: 30px; z-index: 100;width: 16px;} .alpha-list ul li {display: block;clear:both;padding: 0;margin: 0;line-height:14px;text-align: center} .trends-a2z li {clear: both;display: block;width: 90%;} .trends-a2z ul li {border-bottom: 1px solid #ddd;font-family: MyTitleChinese, 'GFS Didot'"serif"; font-size: 16px; padding: 5px 0;} .trends-a2z ul li ul li {border: none;}
#mySliderTabs h4 {font-size: 24px;color: #fff; position: absolute; bottom: 50px;} #mySliderTabs h4 span {font-size: 14px;} #mySliderTabs {margin-bottom: 15px;} #mySliderTabs h4, #mySliderTabs h4 span {text-shadow: #000 0.1em 0.1em 0.2em;}
#columns.whatsin .item {width: 150px; margin: 0 5px 10px 0; overflow: hidden; vertical-align: top; display: inline-block;; *display: inline; height: 275px;}
/* People */
.related-pics {padding-bottom: 30px;} .related-news {clear: both;} .related-news img {float: left;margin-right: 10px;} .related-news h4, .related-pics h4, .related-shows h4, h4.subtitle {height: 30px;width: 100%;border-bottom: 1px solid #ddd;margin-bottom: 15px;font-family: MyTitleChinese, 'GFS Didot', "serif";font-weight: normal;font-size: 21px;} .related-news h5 {font-size: 16px;font-family: MyTitleChinese, 'GFS Didot', "serif";} .related-news ul li {width: 47%;padding: 10px 1.5%;margin-bottom: 15px;} .related-news ul li p a:link, .related-news ul li p a:visited {color: #999 !important;} .related-news ul li:hover {background: #eee;} .related-news ul li:hover p a {color: #0087e2 !important;} .related-news ul li:nth-child(odd) {border-right: 1px dotted #999;margin-right: -1px;}
/* catwalk tabify menu */
#tab-menu {padding: 0;margin-top: 15px;} #tab-menu li {display: inline;} #tab-menu li a {background-color: #f5f5f5; *background-color: #efefef; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #efefef); background-image: -o-linear-gradient(top, #ffffff, #efefef); background-image: linear-gradient(to bottom, #ffffff, #efefef); background-image: -moz-linear-gradient(top, #ffffff, #efefef); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffefefef', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); *zoom: 1; padding: 7px 15px; float:left; border: 1px solid #ccc; border-bottom: none; text-decoration: none; color: #666; font-weight: bold;border-top-color: #eee;border-left-color: #eee; behavior: url(/assets/css/behavior/PIE.htc);} #tab-menu li a:hover {color: #222;} #tab-menu > li:first-child a {-webkit-border-top-left-radius: 5px;border-top-left-radius: 5px;moz-border-radius-topleft: 5px;} #tab-menu > li:last-child a {-webkit-border-top-right-radius: 5px;border-top-right-radius: 5px;moz-border-radius-topright: 5px;} #tab-menu li.active a { background: #fff; border: 1px solid #ccc;border-bottom:none;border-top-color: #eee;border-left-color: #eee;color: #222;} .tab-content { float: left; clear: both; border: 1px solid #ccc; background: #fff; padding: 15px; width: 610px; border-top-color: #f4f4f4;border-left-color: #eee;} .collect-main {float: left;} .collect-main p {padding: 10px 0 0 0;text-align: center;}
#zine-cover {height: 420px;padding-bottom: 30px;} #zine-cover select {float: right;} .zine-intro {width: 300px; float: right;} .zine-intro p {margin: 15px 0;} .zine-intro h4 {font-size: 24px;margin: 30px 0;} .zine-intro h5 {font-size: 18px;margin-bottom: 15px;} .zine-intro tt {color: #666;}
/* Pinterest Like Layout */
#columns {max-width: 640px; /* 960 px */margin: 0 auto;margin-bottom: 15px;} #list {width: 645px; /* 990px */overflow: hidden;margin-left: -1px; /* 15px */margin-bottom: -2px; /* 30px */} .related-news #list {width: 940px; overflow: hidden;margin-left: -1px; /* 15px */margin-bottom: -2px; /* 30px */} #columns.whatsin #list {margin-left: 3px;margin-bottom: -10px;} .item {width: 213px; /* 300px *//*background-color: #000;background-color: rgba( 0, 0, 0, .5 );*/ float: left; vertical-align: top; margin: 0 1px 1px 0; /* 15px 30px */ position: relative;} .item.masonry-brick{ display: block;} .item a { position: relative; display: block;text-decoration: none;} .item a mark {z-index: 5; position: absolute; left:10px; bottom: 0; background: #fd0;padding: 0 15px;} #columns.whatsin.zine .item {width: 210px;height: auto;margin: 0 5px 10px 0;overflow: hidden;} #columns.whatsin.zine h5 {font-size: 14px;margin-top: 10px;} #columns.whatsin.zine p {width: 75%;margin-bottom: 15px;} #columns.whatsin.catwalk .item img { height: 214px;} #columns.whatsin .item:hover img {opacity: 0.6} #columns #list .item p {background-color: #222; margin: -6px 0 0 0; color: #fff;text-align:center;padding: 15px 0;line-height: 14px;} #columns #list .item p {overflow: hidden; height: 30px;} #columns.whatsin #list .item p {background-color: transparent;text-align: left;color: #222;padding: 5px 0; line-height: 15px;} #columns.whatsin.catwalk p {min-height: 30px;} #columns #list .item tt { position: absolute; padding: 0px 10px; background: #fd0; color: #333;font-size: 11px; top: 305px; left: 10px;} @media only screen and ( max-width: 40em ) /* 640px */ {.item {width: 213px; /* 305px */margin-bottom: 1px; /* 15px */} #columns.whatsin .item{width: 150px;margin-bottom: 10px;}} @media only screen and ( max-width: 20em ) /* 320px */ {#list {width: 100%;margin-left: 0;} .item {width: 100%;margin-left: 0;margin-right: 0;}}
/* side content setting */
.related-post {border-top: 1px dotted #999;margin-top: 10px;padding:15px 13px 0 13px;} .copy-holder .related-post {padding:15px 5px 0 5px;} .related-post li {padding: 15px; border-right: 1px solid #ddd; height: 185px;} .related-post li:last-child {border: none;} .related-post li:hover {background: #f4f4f4;} .related-post li p {width: 120px;padding: 5px 0; font-size: 11px; line-height: 1.2em} .related-post tt {display:block; font-size:11px; border-bottom: 2px solid #ae010f;} .content .related-post tt {border: none;color: #999;font-family: MyTitleChinese, 'GFS Didot',"serif";font-weight: bold; margin-bottom: -5px;margin-top: 5px;} #slides_news .slides_container {border-bottom: 1px dotted #999} #slides_news {border-bottom: 4px solid #000;padding-bottom: 20px;margin-bottom: 15px;} .side-content h3 {padding: 5px; border-top: 4px solid #000;font-size: 16px;} .rectangle-holder {width: 300px; height: 250px;border: 1px solid #ccc;margin-bottom: 10px;padding: 9px; overflow:hidden;} .daily-look ul li, .closet ul li, .shopslide ul li, .catwalk ul > li {display: inline-block;} .catwalk ul > li {position: relative;} .daily-look ul li {padding:10px 5px;} .daily-look ul li img {border: 1px solid #ddd;width: 68px;height: 68px;} .daily-look ul li img:hover {border-color: #666; opacity: 0.6} .closet, .shopslide {margin-top: 10px;padding-bottom: 10px;} .closet select, .shopslide select, .catwalk select {float: right;} .closet ul, .shopslide ul, .catwalk ul {padding: 10px;} label > tt {font-size: 11px;} .video-channel li {padding-bottom: 15px;} .video-channel img {float: left;margin-right: 7px;} .video-channel a.record {display:block;position:relative;}
.video-channel h4 {font-size: 14px;} .video-channel p {font-size: 12px;color: #666;margin-top: 5px;} a.record span {background: url(../img/css-sprites.png) -9px -268px no-repeat;-moz-opacity:.60;opacity:.60;filter:alpha(opacity=60);display:block;position:absolute;top:90px;left:90px;z-index:100;width:30px;height:24px;} a.record:hover span {-moz-opacity:.90;opacity:.90;filter:alpha(opacity=90);} .brand-list {border-bottom: 1px solid #ddd;}
/* vertical align middle with CSS2 */
#slides_closet .slides_container ul li, .wardrobe ul li {float:left;height: 225px; width: 150px;border: 1px solid #ccc;display:table; text-align:center; overflow: hidden} #slides_closet .slides_container ul li:hover, .wardrobe ul li:hover {border-color: #999;} #slides_closet .slides_container ul li div, .wardrobe ul li div {display:table-cell; vertical-align:middle;} #slides_shopslide .slides_container ul li, .wardrobe ul li {float:left;height: 225px; width: 150px;border: 1px solid #ccc;display:table; text-align:center; overflow: hidden} #slides_shopslide .slides_container ul li:hover, .wardrobe ul li:hover {border-color: #999;} #slides_shopslide .slides_container ul li div, .wardrobe ul li div {display:table-cell; vertical-align:middle;} .wardrobe ul li {margin: 0 6px 10px 6px;width: 140px} .wardrobe ul li img {width: 140px;} .wardrobe ul li:hover img {opacity: 0.6}
#slides_closet .slides_container ul li:first-child, .catwalk ul li:first-child {margin-right: 8px;} #slides_shopslide .slides_container ul li:first-child, .catwalk ul li:first-child {margin-right: 8px;} .catwalk {padding-bottom: 10px;} .catwalk ul li tt {background: #000;bottom: 0px;display: block;left: 0px;opacity: 0.75;padding: 10px;position: absolute;text-align: center;width: 130px;z-index: 20;opacity: .75;-ms-filter: "alpha(opacity=75)";filter: alpha(opacity=75);-khtml-opacity: .75;-moz-opacity: .75;color: #fff;} .catwalk ul li img:hover {opacity: .75;-ms-filter: "alpha(opacity=75)";filter: alpha(opacity=75);-khtml-opacity: .75;-moz-opacity: .75;} .catwalk ul li tt a:link, .catwalk ul li tt a:visited {color: #fff;}
/* pop-news */
.list-wrap {padding: 10px; margin: 0 auto 15px auto;} /*#pop-news .list-wrap {min-height: 320px}*/ #pop-news ul {list-style: none;} .list-wrap ul li a {display: block; border-bottom: 1px dotted #666; padding: 4px; color: #666;width: 292px;} .list-wrap ul li a:hover {background: #eee; color: #222;text-decoration: none} .list-wrap ul li:last-child a {border: none;} #pop-news .nav {overflow: hidden; padding: 0 10px;} #pop-news .nav li {width: 146px; float: left; margin: 0 1px 0 0;} #pop-news .nav li.last {margin-right: 0;} #pop-news .nav li a { display: block; padding: 2px; background: url("../img/css-sprites.png") no-repeat scroll -480px -400px transparent; color: #333; font-size: 11px; text-align: center; border: 0; width: 146px; height: 28px;} #pop-news li a.current,#pop-news li a.current:hover { background: url("../img/css-sprites.png") no-repeat scroll -480px -360px transparent !important; color: #fd0; text-decoration: none;overflow: hidden;} #pop-news .nav li a:hover, #pop-news .nav li a:focus { background: url("../img/css-sprites.png") no-repeat scroll -480px -400px transparent; text-decoration: none}
/* v-widget-videoArticleDetail */
.v-widget-articleDetail.tv{ padding: 10px 27px;} .v-widget-articleDetail.tv .articleHeader{padding-left: 0;}
/* v-widget-waterfall */
.v-widget-waterfall .fallItems.fallNormal {width: 213px;} .v-widget-waterfall .fallItems.fallNormal .fallAuthor {background-color: #222; margin: -6px 0 0 0; color: #fff; text-align: center;padding: 15px 0; line-height: 14px;} .v-widget-waterfall .fallContent {position: relative; float: left;} .v-widget-waterfall .fallContentNormalSize {width: 213px; padding-right: 2px;} .fallItems .fallNormal a.mark {z-index: 5; position: absolute;left: 10px;bottom: 0; background: #fd0; padding: 0 15px;}
/*liveViewer*/
.v-widget-LiveViewer{ width: 970px; height: 500px; position: relative; margin-right: 15px; margin-bottom: 10px;margin: 0 auto;} .v-widget-LiveViewer > div{ position: absolute;} .v-widget-LiveViewer .photo{overflow:hidden; width: 970px; height: 500px;  background-color: #333;} .v-widget-LiveViewer .photo .inner{ cursor: pointer;} .v-widget-LiveViewer.multiple .photo .item{ width: 130px; height: 130px; float: left; margin: 13px 1px 13px 2px;} .v-widget-LiveViewer .previous, .v-widget-LiveViewer .next{ width: 50px; height: 75px; background: #333; cursor: pointer;} .v-widget-LiveViewer .previous{ left: -12px; top: 200px; background: url('http://www.vogue.com.tw/images/skin_website2.png') no-repeat 0 -344px;} .v-widget-LiveViewer .next{ right: -12px; top: 200px; background: url('http://www.vogue.com.tw/images/skin_website2.png') no-repeat -52px -344px;} .v-widget-LiveViewer .previous:hover{ background-position: 0 -419px;} .v-widget-LiveViewer .next:hover{ background-position: -52px -419px;} .v-widget-LiveViewer .bottomFunction{ background: url('http://www.vogue.com.tw/images/opacity_black70.png') repeat;  bottom: 0;} .v-widget-LiveViewer .bottomFunction{ width: 970px; height: 46px;} .v-widget-LiveViewer .bottomFunction > div{ float: left; margin-top: 15px;} .v-widget-LiveViewer .bottomFunction .pieceNumber{ border-right: 1px solid #fff; color: #fff; font-size: 18px; line-height: 20px; padding: 0 10px; font-family: 'bauerbodonistd-roman'} .v-widget-LiveViewer .bottomFunction .descPiece{ width: 20px; height: 20px; background: url('http://www.gq.com.tw/images/skin_website2.png') no-repeat -1004px 0; margin-left: 10px;} .v-widget-LiveViewer .bottomFunction .toMulti{ width: 20px; height: 20px; background: url('http://www.gq.com.tw/images/skin_website2.png') no-repeat -984px 0; margin-left: 10px; cursor: pointer;}
/* index new list add by Jeter@2014.11 */
.entry {width: 100%; position: relative}
.entry a:hover {text-decoration: none}
.entry .post {width: 320px; height: 320px; position: absolute; top: 15px; right: 0; background: url(/assets/images/o-lines.png)}
.entry .post article {width: 280px; height: 280px; background: #fff; padding: 15px; overflow: hidden}
.entry .post article header mark, .entry .post article header mark a {color: #00aeef; background: none; display: block;}
.entry .post article header, .entry .post article header time {font-family: "Montserrat", "sourcehansans-tc-normal", MyMainChinese, sans-serif; font-weight: 400; color: #959595;}
.entry .post article header h4 {font-size: 21px; font-family: "Montserrat", "sourcehansans-tc-bold", MyTitleChinese, sans-serif; font-weight: 700; line-height: 27px; margin: 10px 0 0; color: #222; overflow: hidden; max-height: 56px; word-wrap: break-word; word-break: normal;}
.entry .post article section {overflow: hidden; height: 160px;}
.entry .post article section p {font-size: 14px; line-height: 1.7em; text-align: justify; text-justify: inter-cluster; padding: 1em 0; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; width: 280px; height: auto; overflow: hidden; max-height: 76px; margin-bottom: 15px; word-wrap: break-word; word-break: normal;}
/*CNTW-498*/
section.CNTW_498.minimal .entry .post article section p,
section.CNTW_498.classical .entry .post article section p {
}
section.CNTW_498.minimal .entry .post article section p a,
section.CNTW_498.classical .entry .post article section p a {
  overflow:hidden;

  max-width: 100%;
  max-height: 62px;/*12 * 1.7 * 3 = 61.2 >= 62px*/

  font-size: 12px;
  line-height: 1.7em;

  text-align: justify;

  padding: 0;
  margin-bottom: 0;

  word-wrap: break-word;
  word-break: break-all;

  text-decoration: none;

  text-overflow:ellipsis;
  -ms-text-overflow:ellipsis;


  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display:block;
  display: -webkit-box;
}
@-moz-document url-prefix() {
  .minimal.CNTW_498 .entry .post article section a::after {
      letter-spacing: .10em;
      content:"...";
      position:absolute;
      bottom: 1.5em;
      right :0;
      padding:0 .25em 0.5em 3em;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.25)), color-stop(100%, white));
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
  }
  .classical.CNTW_498 .entry .post article section a::after {
      letter-spacing: .10em;
      content:"...";
      position:absolute;
      bottom: .5em;
      right:0;
      padding:0 1em 0.5em 3em;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.25)), color-stop(100%, white));
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1));
  }
}
.entry .post article section ul {max-width: 250px; overflow: hidden; max-height: 62px;}
.entry .post article section ul li {font-size: 12px;}
.entry .post article section ul li:after {content: "、";}
.entry .post article section ul li:last-child:after {content: "";}
.entry .post article section ul li a {color: #959595;}
.entry .post article section i.fa-tags, .entry article section ul {float: left;}
.entry .post article section i.fa-tags {margin-right: 10px; vertical-align: top; margin-top: 3px}
.entry-cover {width: 350px; height: 350px; background-repeat: no-repeat; background-position: 50% 50%; background-origin: content-box; background-clip: border-box; background-color: #222;}
hr.double {padding: 0; border: none; border-top: medium double #b8b8b8; color: #b8b8b8; text-align: center; margin: 21px 0;}
.related-post tt {font-family: "Montserrat", "sourcehansans-tc-normal", MyMainChinese, sans-serif; font-weight: 400}

/* GQ INFLUENCER add by Jeter@2014.11 */
/* header title */
.channel {width: 100%; padding: 12px 0 0; border-bottom: 6px solid #111; float: left; min-height: 46px;}
.channel, .channel h3, .main .blog-title h3, .author-avatar figcaption h4, .blog-read header h4, .SLIDES_MAIN_TITLE h4 {font-family: "Montserrat", "sourcehansans-tc-bold", MyTitleChinese, sans-serif !important; font-weight: 700;}
.channel h3 {font-size: 36px; text-transform: uppercase; margin: 12px 40px -12px 0; float: left; display: block; padding: 0;}
.channel h3 a:hover {text-decoration: none;}
.channel h3 em {font-size: 16px; display: inline-block; *display: inline; vertical-align: top; border-top: 3px solid #111; margin: -2px 10px 0; padding-top: 2px; font-style: normal;}
.channel nav {float: left; margin-bottom: -6px; vertical-align: bottom}
.channel nav a {display: block; font-size: 14px; padding: 8px 18px 18px; border-bottom: 6px solid #111; transition-duration: .25s; -webkit-transition-duration:.25s ease-in; outline: 0;}
.channel nav a:hover {text-decoration: none; border-color: #999}
.channel nav a.active {border-color: #fd0;}
.channel .blog-function {float: right; font-size: 12px; font-weight: normal; margin: 5px 0 -5px 0;}
.blog-cover {height: 315px; position: relative; color: #fff; background-color: #999; float: left}

/* sidebar */
.blog-aside {width: 280px; margin: 0 auto 10px;}
.author-avatar {position: relative;}
#imageClip_profile {border: 4px solid #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);}
#draggableArea_profile {position: relative}
#imageClip_profile, .editPhoto {border-radius: 100%; width: 160px; height: 160px; overflow: hidden}
.side-content .author-avatar {margin-bottom: 1em;}
#imageClip_profile, .editPhoto {position: absolute; left: 55px; top: -100px;}
.side-content .author-avatar figcaption {padding-top: 90px; text-align: center; font-size: 14px;}
.author-avatar figcaption h4 {font-size: 21px;}
.author-avatar figcaption small {color: #999;}
.side-content .author-avatar figcaption p {line-height: 1.7em; margin: 1em 0 0; text-align: justify; text-justify: inter-cluster; padding: 1em 0; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; word-wrap: break-word; word-break: break-all}
.side-content nav h3 {border-top: 6px solid #111;}
.side-content nav ul {margin-bottom: 1em;}
.side-content nav ul li {display: block; float: none; font-size: 14px; padding: 0.5em 0;}
.side-content nav ul li a:hover {text-decoration: none;}
.side-content nav h3, .side-content nav ul li {padding: 0.75em 0;}
.side-content nav a[rel="author"] {color: #999; font-family: "Montserrat", "sourcehansans-tc-regular", sans-serif; font-size: 11px}
#draggableArea_profile {display : table; *position : relative; width: 160px; height: 160px;}
#noPhoto {display : table-cell; text-align : center; vertical-align : middle; *display : block; *position : absolute; *top : 50%; *width : 100%; padding-bottom: 24px;}
#noPhoto span {*position : relative; *top : -50%;}

/* paragraph list */
.blog-title h3 {font-size: 24px; border-top: none; border-bottom: none; border-left: 6px solid #111; padding: 8px 14px; float: left; text-transform: none}
.main .btn-toolbar {float: right; margin: 0}
.main .btn-toolbar .btn {text-shadow: none; box-shadow: none}
.main .btn-toolbar .btn .fa {font-size: 16px; width: 16px; margin: 1px; padding-top: 1px; top: 1px; position: relative}
.blog-list .entry {border-bottom: 1px solid #b8b8b8;}
.blog-list .entry .post {background: none;}
.blog-list .entry .post article, .blog-list .entry .post article section {height: auto;}
.blog-list .entry .post article section p {width: 100%; margin-bottom: 0;}
.blog-list .entry .post article header mark, .blog-list .entry .post article header mark a {display: inline-block; *display: inline-block; margin: 0 10px 0 0;}
.blog-list .entry .post article header time {margin: 0 10px 0 0;}
.blog-list .entry .post article section ul {max-height: 24px;}
.blog-list .entry-cover img, .blog-read article img {max-width: 100%; height: auto}

/* classical list*/
.blog-list.classical .entry {padding: 30px 0;height: 455px;}
.blog-list.classical .entry-cover {width: 640px; height: 420px; float: left; background-size: cover; background-position-y: 0%;}
.blog-list.classical .entry .post {width: 600px; max-height: 160px; float:right; top: 300px; right: 20px;}
.blog-list.classical .entry .post article {width: 570px; background-color: rgba(255,255,255,0.95)}
.blog-list.classical .entry .post article section ul {max-width: 540px;}

/* minimal list*/
.blog-list.minimal .entry {padding: 15px 0;}
.blog-list.minimal .entry-cover {width: 140px; height: 120px; float: left; background-size: cover; background-position-y: 0%}
.blog-list.minimal .entry .post, .blog-list.minimal .entry .post article {width: 480px;}
.blog-list.minimal .entry .post {float: right; top: 0; position: relative; height: auto;}
.blog-list.minimal .entry .post article {padding: 0;}
.blog-list.minimal .entry .post article header h4 {font-size: 18px;}
.blog-list.minimal .entry .post article section p {font-size: 12px; padding: 0;}
.blog-list.minimal .entry .post article section ul {max-width: 450px;}

/* blogger list */
section.blog-author ul {margin-top: 30px;}
section.blog-author ul li {width: 170px; margin: 10px; vertical-align: top; display: inline-block; *display: inline; float: none}
section.blog-author ul li .img-polaroid {border-radius: 100%;}
section.blog-author a:hover {text-decoration: none;}
section.blog-author .author-avatar figcaption h4 {border-bottom: 1px solid #111; padding: 5px 0; margin: 10px 0 5px;}
.author-avatar figcaption h5 {color: #00aeef; margin-top: 1em;}
.author-avatar figcaption a[rel="blog-title"] {display: block}
.author-avatar figcaption a[rel="latest"] {font-size: 16px;}
section.blog-author ul li .author-avatar a img {display: block; width: 160px; height: 160px;}

/* paragraph */
.blog-read header h4 {font-size: 31px; display: block; line-height: 1.1em; margin: 0.5em 0; color: #222; line-height: 1.1em;}
.blog-read article {text-align: justify; text-justify: inter-cluster; padding: 1em 0; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; font-size: 16px !important; line-height: 1.7em; font-family: "Asap", Futura, "Lucida Grande", Helvetica, Arial, FreeSans, "sourcehansans-tc-normal", MyMainChinese, "sans-serif";}
.blog-read article span, .blog-read article h3 {font-size: 16px !important; padding: 0; border: none; line-height: 1.7em; font-family: "Asap", Futura, "Lucida Grande", Helvetica, Arial, FreeSans, "sourcehansans-tc-normal", MyMainChinese, "sans-serif" !important;}
.blog-read article a {color: #00aeef;}
.blog-read article h5 {font-size: 21px !important}
.blog-read article h6 {font-size: 16px !important}
.blog-read article small, .blog-read figure figcaption {font-size: 12px !important}
.blog-read figure figcaption {padding: 1em 0;}
.blog-read article img {max-width: 100%; height: auto !important;}
.blog-read article p {margin: 1em 0;}
.blog-read article p, .blog-read article span {word-wrap: break-word; word-break: normal;}
.blog-read article p strong, .blog-read article h5 {font-weight: bold}
ul.tag-list li {font-size: 12px;}
ul.tag-list li:after {content: "、";}
ul.tag-list li:last-child:after {content: "";}
ul.tag-list li a {color: #959595;}
.tag-group {margin: 1em 0;}
.tag-group i.fa-tags, .tag-group ul {float: left;}
.tag-group i.fa-tags {margin-right: 10px; vertical-align: top; margin-top: 3px}
.entry-cover {width: 350px; height: 350px; background-repeat: no-repeat; background-position: 50% 50%; background-origin: content-box; background-clip: border-box; background-color: #222;}
.blog-read .SHARE_BOX {border: none;}
.blog-read figure + h5 {margin-top: 1em}
/* remove the reset */
.blog-read article ul {list-style-type: disc; list-style-position: inside;}
.blog-read article ul > li {float: none;}
.blog-read article ol {list-style-type: decimal; list-style-position: inside;}
.blog-read article ul ul, .blog-read article ol ul {list-style-type: circle; list-style-position: inside; margin-left: 1em;}
.blog-read article ol ol, ul ol {list-style-type: lower-latin; list-style-position: inside; margin-left: 1em;}

/* blog compose */
.blog-compose {margin-top: 20px; float: left; width: 100%}
.blog-compose article {padding-top: 15px;}
.blog-compose .mark:before, .blog-compose .mark:after {content: " ";display: table;}
.blog-compose .mark:after {clear: both;}
.blog-compose .mark {*zoom: 1; margin-top: 14px;}
.blog-compose .mark li {padding: 2px;}
.blog-compose .form-group, .blog-compose .btn-group {padding: 0 15px 15px; margin: 0;}
.blog-compose .btn-group .btn {border-radius: 999em;}
.blog-compose .btn-group .btn.btn-primary {background-color: #111; border: 1px solid #111;}
.blog-compose textarea {max-width: 927px}
.blog-compose .tagsinput {border-radius: 6px;}
div.tagsinput span.tag {color: #fff; background: #333; border-radius: 6px; border-color: transparent; padding: 4px 5px;}
div.tagsinput span.tag a {color: #ccc;}
div.tagsinput span.tag a:hover {color: #fd0;}

/* blog recruit */
.blog-recruit {font-size: 14px;}
.blog-recruit figure {width: 980px; height: 315px; position: relative;}
.blog-recruit figcaption {display: table; position: absolute; width: 100%; height: 100%; top: 0; text-align: center; background-color: rgba(0,0,0,.1)}
.blog-recruit figcaption h3 {display: table-cell; vertical-align: middle; color: #fff; font-size: 48px; line-height: 36px;}
.blog-recruit figcaption h3 span {font-size: 24px; letter-spacing: 0;}
.blog-recruit blockquote {text-align: center; font-size: 16px; color: #666; line-height: 1.7em; font-family: "Montserrat", "sourcehansans-tc-bold", sans-serif; margin: 2em 0;}
.blog-recruit blockquote:before, .blog-recruit blockquote:after {font-family: "Montserrat", sans-serif}
.blog-recruit blockquote:before {content: "\201C"; font-size: 6em; display: block; margin-bottom: -0.25em;}
.blog-recruit blockquote:after {content: "\201D"; font-size: 2em; vertical-align: -0.25em;}
.blog-recruit h4 {clear: both; font-size: 21px; text-align: center;}
.blog-recruit p, .blog-recruit ul {margin: 0.5em auto 2em auto; width: 75%; text-align: center;}
.blog-recruit ul li {float: none;}
.blog-recruit article a {color: #00aeef;}

/* Flat UI custom setting */
.btn.btn-default {background-color: #eee;}
.btn.btn-default.active {background-color: #222;}
.btn.btn-default:hover {color: #ccc;}
.btn.btn-default.external:focus {color: #333;}
.channel .bootstrap-switch-handle-on, .channel .bootstrap-switch-handle-off {text-indent: -9999px}
.bootstrap-switch-handle-off:before {left: 16px;}
.bootstrap-switch>div>span {width: 48px;}
.bootstrap-switch-off>div {margin-left: -17px}
.bootstrap-switch-primary {color: #fff; background-color: #222;}
.bootstrap-switch-primary~.bootstrap-switch-handle-off:before {border-color: #111; background-color: #fff;}
.bootstrap-switch-on .bootstrap-switch-primary~.bootstrap-switch-handle-off {box-shadow: inset 16px 0 0 #222;}
.bootstrap-switch {width: 45px;}
.bootstrap-switch-off .bootstrap-switch-handle-on~.bootstrap-switch-handle-off.bootstrap-switch-default {box-shadow: inset 0 0 transparent,-16px 0 0 #eee}
.bootstrap-switch-off .bootstrap-switch-handle-on~.bootstrap-switch-handle-off.bootstrap-switch-default:before {border-color: #eee; background-color: #333;}
.bootstrap-switch-default {background-color: #eee;}
.bootstrap-switch-container *, .pagination.flat-ui * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
:before, :after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.pagination-dropdown ul li {float: none;}
.pagination.flat-ui li {margin: 0;}
/* blog panel */
.btn {font-family: "Montserrat", MyTitleChinese, sans-serif; font-weight: 400; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga" on;}
.btn.btn-panel {border-radius: 999em; text-shadow: none; box-shadow: none;}
.btn.btn-default.btn-panel {border: 1px solid #ccc; background-color: rgba(0,0,0,0); color: rgba(0,0,0,0.44);}
.btn.btn-default.btn-panel:hover {border-color: #999; color: #333;}
.editCover, .coverPhoto_SubmitBtn, .profilePhoto_SubmitBtn, #avtar_change {display: none;}
#imageClip_profile {z-index: 2; background-color: #999}
.editCover, .coverPhoto_SubmitBtn, .editPhoto, #CoverEdit, #changePosition {position: absolute; z-index: 3;}
#CoverEdit, #changePosition {bottom: 20px; left: 20px;}
#changePosition {left: 59px;}
.editPhoto {text-align: center; margin: 4px; background-image: -ms-linear-gradient(top, rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.7) 100%); background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.7) 100%); background-image: -o-linear-gradient(top, rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.7) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,1)), color-stop(1, rgba(0,0,0,6))); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.7) 100%); background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.7) 100%);}
.author-avatar figcaption .change_container h5 {color: #111;}
#changePhoto, #changePhotoPosition {position: absolute; right: 37px;}
#changePhoto {bottom: 50px;}
#changePhotoPosition {bottom: 20px;}
.coverPhoto_SubmitBtn {bottom: 20px; right: 340px;}
.btn.btn-ghost {font-family: "Montserrat", MyMainChinese, sans-serif; font-weight: 400;}
.btn.btn-default.btn-panel.btn-ghost {color: #fff; background-color: rgba(0,0,0,0); border: 1px solid #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)}
.btn.btn-ghost span[class*="fui-"]:before {text-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25)}
.panel-wrap {position: relative;}
.blog-title .panel-wrap {margin-top: 4px; float: left}
.author-avatar .panel-wrap {width: 100%; text-align: left; z-index: 999}
.editing_box {z-index: 10; position: absolute; background-color: rgba(250,250,250,0.95); border-radius: 15px; padding: 20px; display: none; box-shadow: 10px 11px 12px rgba(0, 0, 0, 0.1); font-size: 14px; text-align: left}
small.note {font-size: 12px; color: #d14 !important; margin-bottom: 1em; display: block}
.LightBox_CloseBtn {float: right; cursor: pointer;}
#BlogName_change {width: 210px; height: auto;}
#BlogName_change input[type="text"].form-control {max-width: 196px}
.editing_box input[type="text"].form-control.flat {box-shadow: none; outline: none; border-color: transparent}
textarea.form-control {border-width: 1px;}
#Description_change {width: 250px}
#Description_change textarea.form-control {max-width: 230px;}
.profilePhoto_SubmitBtn {text-align: center; top: 80px; position: relative}
#cover_change {color: #111; left: 20px; bottom: 50px;}
.ui-draggable {cursor: move}
#myImage_profile {position: relative;}
#ProfileCover {position: relative; width: 980px; height: 315px}
.clip-hint {position: absolute; z-index: 10; top: 139px; left: 390px; display: none}
.clip-hint .btn {background-color: #222;}
.coverGradient {position: absolute; top: 0; display: block; width: 100%; height: 100%; z-index: 1;background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7) 100%);background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7) 100%);background-image: -o-linear-gradient(top, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7) 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,6)));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7) 100%);background-image: linear-gradient(to bottom, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7) 100%)}
.form-horizontal .control-label {clear: left;}
/* register */
.reg-info .img-holder {position: relative; width: 560px;}
.reg-info .img-holder img {width: 100%; height: auto}
.reg-info .img-holder, .reg-info figcaption {display: inline-block; vertical-align: top}
.reg-info figcaption {width: 400px; margin-left: 16px}
.reg-info figcaption p {margin: 1em 0; font-size: 13px}
.reg-info figcaption h4 {font-size: 21px;}
.reg-info figcaption dl {line-height: 1.6em; padding: 1em; border: 1px solid #ccc; margin: 1em 0;}
.reg-info figcaption dl dt, dl dd {display: inline-block; vertical-align: top}
.reg-info figcaption dl dt {width: 15%;}
.reg-info figcaption dl dd {width: 80%;}
.reg-info {padding-bottom: 16px; margin-bottom: 16px; border-bottom: 4px solid #ccc}
.reg-warning {color: #f00; font-size: 16px}
/* footer setting modified from past version */
.footer{clear:left;display:block;float:left;height:325px;margin:30px 0 0;padding:0;position:relative;text-align:left;width:100%;background:#eee;border-top:1px solid #eee}.footer-bg{display:block;height:287px;margin:0;padding:0;position:absolute;top:0;width:100%;z-index:6}.footer_container{display:block;position:relative;width:100%;z-index:30}.service-links{background-color:#f4f4f4;height:40px;text-align:center;width:100%;border-bottom:1px solid #ddd}.service-links ul{width:1000px;margin:0 auto;background-color:#f4f4f4;height:20px;padding:10px 0}.service-links ul li{display:inline;float:none}.service-links a:link,.service-links a:visited{color:#333}.global-links{height:186px;padding:47px 0 0;width:100%}.global-links > ul{width:1000px;margin:0 auto}.footer-condenast{border-right:1px solid #d7d7d7;height:156px;padding:0 17px 0 18px;position:relative;width:219px}.footer-condenast a:link,.footer-condenast a:visited{background:url(../img/css-sprites.png) no-repeat scroll -641px -439px transparent;display:block;height:136px;overflow:hidden;text-indent:-9999px;width:219px}.footer-gq,.footer-vogue,.footer-wired{font-size:11px;padding:0 0 0 10px;width:217px}.footer-gq .logo{height:43px;left:0;position:relative;top:0;width:217px}.footer-gq .logo a.gq:link,.footer-gq .logo a.gq:visited{background-position:-711px -245px;height:43px;left:0;top:0;width:68px}.footer-gq .logo a.taiwan:link,.footer-gq .logo a.taiwan:visited{background-image:none;color:#000;font-size:12px;height:15px;left:145px;position:absolute;text-indent:0;top:9px;width:65px}.footer-gq .logo a.taiwan:hover,.footer-gq .logo a.taiwan:active{color:#333}.footer-gq .logo a.facebook:link,.footer-gq .logo a.facebook:visited{background-image:none;color:#666;font-size:12px;height:15px;left:145px;position:absolute;text-indent:0;width:65px;top:23px}.footer-gq .logo a.facebook:hover,.footer-gq .logo a.facebook:active{color:#000}.footer-vogue{width:217px}.footer-vogue .logo{height:43px;left:0;position:relative;top:0;width:217px}.footer-vogue .logo a.vogue:link,.footer-vogue .logo a.vogue:visited{background-position:-780px -245px;height:43px;left:0;top:0;width:101px}.footer-vogue .logo a.taiwan:link,.footer-vogue .logo a.taiwan:visited{background-image:none;color:#333;font-size:12px;height:15px;left:145px;position:absolute;text-indent:0;top:9px;width:65px}.footer-vogue .logo a.taiwan:hover,.footer-vogue .logo a.taiwan:active{color:#333}.footer-vogue .logo a.facebook:link,.footer-vogue .logo a.facebook:visited{background-image:none;color:#666;font-size:12px;height:15px;left:145px;position:absolute;text-indent:0;top:23px;width:65px}.footer-vogue .logo a.facebook:hover,.footer-vogue .logo a.facebook:active{color:#000}.footer-wired{width:190px}.footer-wired .logo{height:43px;left:0;position:relative;top:0;width:217px}.footer-wired .logo a.wired:link,.footer-wired .logo a.wired:visited{background-position:-890px -245px;height:43px;left:0;top:0;width:119px}.footer-wired .logo a.wired:hover,.footer-wired .logo a.wired:active{color:#333}.footer-wired .logo a.taiwan:link,.footer-wired .logo a.taiwan:visited{background-image:none;color:#333;font-size:12px;height:15px;left:133px;position:absolute;text-indent:0;top:9px;width:65px}.footer-wired .logo a.facebook:link,.footer-wired .logo a.facebook:visited{background-image:none;color:#666;font-size:12px;height:15px;left:133px;position:absolute;text-indent:0;top:23px;width:65px}.footer-wired .logo a.facebook:hover,.footer-wired .logo a.facebook:active{color:#333}.country-links{padding:5px 0 5px 5px}.country-links>ul>li{width:70px}.country-links>ul>li>ul>li{line-height:1.4;width:70px}.country-links a:link,.country-links a:visited{color:#333}
/* SORA */
/* align marketing ad with other 300x250 ads */
#marketing_AD {
padding: 0 10px 0;
}
/* GQ shop controller */
.shopslide #slides_shopslide  #slide_ctrl {
padding-left: 5px;
}
/* END SORA */
/*WILLIE Preveiw Test START*/
/*EditorsRecommended*/
ul.EditorsRecommended {
  list-style: none;
  padding: 0;
}
ul.EditorsRecommended:before {
  content: "編輯相關推薦";
  display: inline-block;
  color: rgb(51, 102, 255);
  line-height: 1.68;
}
ul.EditorsRecommended li:before {
  content: ">>";
  display: inline-block;
  line-height: 1.68;
}
ul.EditorsRecommended li a {
  color:black;
  text-decoration: auto;
}
/*WILLIE Preveiw Test END*/
