/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

/*.preload1 {background: url(three_1.gif);}
.preload2 {background: url(three_1a.gif);}*/

.nav-container:before, .nav-container:after, .sub-navi:before, .sub-navi:after {content: "";display: table;}
.nav-container:after, .sub-navi:after {clear: both;}
.nav-container, .sub-navi {zoom: 1; /* IE6&7 */}

#navi {padding:0; margin:0; list-style:none; height:38px; position:relative; z-index:500;}
#navi li.top {display:block; float:left; height:38px;transition: background .25s ease-in-out;-moz-transition: background .25s ease-in-out;-webkit-transition: background .25s ease-in-out;}
#navi li a.top_link {display:block; float:left; height:38px; line-height:33px; text-decoration:none;cursor:pointer;}
#navi li a.top_link span {float:left; display:block;height:38px;}
#navi li a.top_link span.down {float:left; display:block;height:38px;}

#navi li:hover a.top_link {color: #fff;background: #333;}
#navi li:hover a.top_link span {color: #fff;background: #333;}
#navi li:hover a.top_link span.down {color: #fff;background: #333;}

/* Default list styling */

#navi li:hover {position:relative; z-index:200;}

#navi li:hover ul.sub
{left:0px; top:38px; background: #ae010f; padding:0; white-space:nowrap; width:150px; height:auto; z-index:300;
	-moz-box-shadow: 2px 2px 10px #000;
	-webkit-box-shadow: 2px 2px 10px #000;
	box-shadow: 2px 2px 10px #000;
	background:rgba(174,1,15,.9);behavior: url(PIE.htc);
}
#navi li:hover ul.sub li
{display:block; height:30px; position:relative; float:left; width:130px; font-weight:normal;}
#navi li:hover ul.sub li a
{display:block; font-size:14px; height:20px; width:130px; line-height:18px; text-indent:5px; color:#fff; text-decoration:none;padding:5px 10px;transition: background .25s ease-in-out;-moz-transition: background .25s ease-in-out;-webkit-transition: background .25s ease-in-out;}
#navi li ul.sub li a.fly
{background:#bbd37e url(arrow.gif) 80px 6px no-repeat;}
#navi li:hover ul.sub li a:hover 
{background:#000; color:#fff; border-color:#fff;}
#navi li:hover ul.sub li a.fly:hover
{background:#6a812c url(arrow_over.gif) 80px 6px no-repeat; color:#fff;}


#navi li:hover li:hover ul,
#navi li:hover li:hover li:hover ul,
#navi li:hover li:hover li:hover li:hover ul,
#navi li:hover li:hover li:hover li:hover li:hover ul
{left:90px; top:-4px; background: #bbd37e; padding:3px; border:1px solid #5c731e; white-space:nowrap; width:90px; z-index:400; height:auto;}

#navi ul, 
#navi li:hover ul ul,
#navi li:hover li:hover ul ul,
#navi li:hover li:hover li:hover ul ul,
#navi li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#navi li:hover li:hover a.fly,
#navi li:hover li:hover li:hover a.fly,
#navi li:hover li:hover li:hover li:hover a.fly,
#navi li:hover li:hover li:hover li:hover li:hover a.fly
{background:#6a812c url(arrow_over.gif) 80px 6px no-repeat; color:#fff; border-color:#fff;} 

#navi li:hover li:hover li a.fly,
#navi li:hover li:hover li:hover li a.fly,
#navi li:hover li:hover li:hover li:hover li a.fly
{background:#bbd37e url(arrow.gif) 80px 6px no-repeat; color:#000; border-color:#bbd37e;} 