@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic'), local('DidactGothic'), url(http://themes.googleusercontent.com/static/fonts/didactgothic/v4/v8_72sD3DYMKyM0dn3LtWp_RtrTXGeaL_Dia6_H9gNs.woff) format('woff');
}

/* ==========================  slide ========================== */
.CONTENT { display:block; width:980px; height:700px; margin:0 auto;}
.CONTENT > .MAIN {float:left; display:block; width:645px; height:auto; margin: 15px auto 0;}
/*.SIDE-CONTENT {float:right; display:block; width:306px; height:auto; min-height:400px; margin-top: 15px; text-align: left;}*/

.SLIDES_MAIN { position:relative; display:block; width:100%; height:auto; border-top:10px #000 solid; border-bottom:10px #000 solid;}
.NOW_TITLE { float:left; padding:3px 14px; font-size:12px; color:#fff; background:#0092c8; text-align:center; margin:10px 0;}
.NOW_DATE { float:right; font-family:"Segoe UI"; font-size:12px; line-height:24px; color:#333; text-align:right;  margin:10px 0;}
.SLIDES_MAIN_TITLE { clear:both; float:left; display:block; }
.SLIDES_MAIN_TITLE h4 { line-height:24px; font-size:21px; text-align:left; font-weight:bold; /*font-family:MyTitleChinese, 'GFS Didot'"serif";*/}
.SLIDES_MAIN_AUTHOR { font-size:12px; color:#333; line-height:24px; font-weight:normal; text-decoration:none; margin-left:10px;}
.SLIDES_MAIN_TITLE a { font-size:12px; color:#333; line-height:24px; font-weight:normal; text-decoration:underline;}

.SHARE_BOX { clear:both; display:block; width:100%; height:36px; text-align:center; padding:12px 0 0px 0; border-bottom:1px #999 solid;}

.SLIDES_MAIN_LEFT_BTN { float:left; display:block; font-family:"Segoe UI"; font-size:12px; color:#000; text-align:left; cursor:pointer; padding:8px 0;}
.SLIDES_MAIN_LEFT_BTN:hover { text-decoration:none;}
.SLIDES_MAIN_RIGHT_BTN { float:right; display:block; font-family:"Segoe UI"; font-size:12px; color:#000; text-align:right; cursor:pointer; padding:8px 0;}
.SLIDES_MAIN_RIGHT_BTN:hover { text-decoration:none;}

.SLIDES_MAIN_NUM_BOX { display:block; width:125px; margin:0 auto; font-family:"Segoe UI"; font-size:12px; text-align:center; padding:8px 0;}
.SLIDES_MAIN_NUM_BOX .FONT_ALL { float:left; color:#808080;}
.SLIDES_MAIN_NUM_BOX .FONT_NOW { font-weight:bold; color:#000;}


.SLIDES_MAIN_PLAY_BTN { float:left; display:block; width:50px; font-family:"Segoe UI"; font-size:12px; color:#000; font-weight:bold; cursor:pointer;}
.fa-play { float:left; margin:3px 10px 0 0; color:#000;}
.fa-pause { float:left; margin:3px 10px 0 0; color:#000;}
.PLAY_PAUSE_BTN {}
.PLAY_PAUSE_BTN:hover .SLIDES_MAIN_PLAY_BTN { color:#666;}
.PLAY_PAUSE_BTN:hover .fa-play { color:#666;}
.PLAY_PAUSE_BTN:hover .fa-pause { color:#666;}



.PAUSE_BOX { display:none;}

.ON .PLAY_BOX { display:none;}
.ON .PAUSE_BOX { display:block !important;}


.SLIDES_MAIN_PIC_BOX { position:relative; clear:both; display:block; width:645px; height:403px; margin:0 auto; overflow:hidden; /*padding-top:15px;*/}
.SLIDES_MAIN_PIC_BOX ul li { position:absolute;}
.SLIDES_MAIN_PIC_BOX ul li a { display:block; width:645px; height:403px;}
.SLIDES_MAIN_PIC_BOX ul li a img { max-height:100%;}



.SLIDES_MAIN_ZOOM_BTN { position:absolute; bottom:0; right:0; display:block; width:37px; height:37px; background:#333;}
.SLIDES_MAIN_ZOOM_BTN .fa-search-plus { margin:5px 0 0 0; color:#fff;}

.SLIDES_MAIN_TXT { display:block; width:100%; padding:10px 0 16px 0; border-bottom:1px #999 solid;}
.SLIDES_MAIN_TXT p { font-size:13px; line-height:21px; color:#000; text-align:left;}

.SEO_TAG { font-size:12px; color:#898989; text-align:left; padding:12px 0;}
.SEO_TAG a { font-size:12px; color:#898989; text-align:left; text-decoration:none;}
.SEO_TAG i { color:#000;}

.SLIDES_MAIN_MORE_PIC_BOX { position:relative; display:block; width:100%; height:60px; margin-top:10px;}
.SLIDES_MAIN_MORE_PIC { position:absolute; top:0; left:0; width:9999px;}
.SLIDES_MAIN_MORE_PIC li { float:left; display:block; width:52px; height:52px; overflow:hidden; background:#ccc; margin:3px 8px;}
.SLIDES_MAIN_MORE_PIC li img { width:52px;}

.SLIDES_MAIN_MORE_BTN  { display:inline-block; width:24px; height:24px; font-size:11px; line-height:23px; font-weight:bold; color:#fff !important; border:1px #000 solid; background:#000; margin:0 4px; text-decoration:none; /*font-family:'Didact Gothic', sans-serif;*/ text-decoration:none;
-webkit-border-radius:24px;
-moz-border-radius:24px;
border-radius:24px;}
.SLIDES_MAIN_MORE_BTN:hover { background:#999; border:1px #999 solid; color:#fff !important; text-decoration:none;}

.SLIDES_MAIN_MORE_PIC_BOX .L_BTN { position:absolute; top:15px; left:10px; z-index:9;}
.SLIDES_MAIN_MORE_PIC_BOX .R_BTN { position:absolute; top:15px; right:10px; z-index:9;}
.SLIDES_MAIN_MORE_PIC_BOX a.ON { display:inline-block; width:24px; height:24px; font-size:11px; line-height:23px; font-weight:bold; color:#b2b2b2; border:1px #b2b2b2 solid; margin:0 4px; text-decoration:none; /*font-family:'Didact Gothic', sans-serif;*/
-webkit-border-radius:24px;
-moz-border-radius:24px;
border-radius:24px;}


.SLIDES_MAIN_MORE_PIC_MASK { position:relative; left:48px; display:block; width:544px; height:60px; overflow:hidden;}

.ARTICLE_CONTENT { clear:both; display:block; width:100%; height:auto; padding:30px 0 20px 0;}
.ARTICLE_CONTENT p { font-size:15px; line-height:21px; color:#000; text-align:left;}
.ARTICLE_CONTENT a { color:#0092c8;}
.ARTICLE_CONTENT span { color:#ed1c24; font-weight:bold;}

.ARTICLE_LINK { clear:both; list-style:none;}
.ARTICLE_LINK li { float:none; text-align:left;}
.ARTICLE_LINK a { font-size:15px; line-height:21px; color:#ff4f00; text-align:left;}
.ARTICLE_LINK span { float:left; display:block; width:15px; height:15px; background:#000; margin-right:15px; margin:3px 6px 3px 0px;}

.SLIDES_NEWS_BOX { padding-top:50px;}

.FB_COMMENTS { width:100%; margin-bottom:50px;}


/* ==========================  TRINITY_BOX ========================== */
.TRINITY_BOX { margin:30px 0 0 0;}
.TRINITY_BOX li { float:left; width:198px; height:auto; margin:0 25px 25px 0;}
.TRINITY_BOX li:last-child { margin:0 0 0 0;}
.TRINITY_BOX .LAST_CHILD { margin:0 0 0 0;}
.TRINITY_BOX_PIC { display:block; width:198px; height:198px; overflow:hidden; background:#999; margin-bottom:25px;}
.TRINITY_BOX_PIC img { width:100%;}

.TRINITY_BOX .ARTICLE_CONTENT { padding:0 0 0 0;}
.LINE_BOX { clear:both; display:block; width:100%; height:20px; text-align:center; padding:20px 0;}
.LINE_BOX span { display:inline-block; width:8px; height:8px; background:#000; margin:0 3px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;
}
.LINE_BOX .ON { background:#ee1c24;}


/* ==========================  RIGHT ========================== */
.ARTICLE_CONTENT_PICBOX_R { float:right; display:block; width:240px; min-height:100px; margin:0 0 0 16px;}
.ARTICLE_CONTENT_PICBOX { overflow:hidden; display:block; width:240px;}
.ARTICLE_CONTENT_PICBOX_TXT { font-size:13px; color:#666; text-align:left; line-height:18px;}


/* ==========================  LEFT ========================== */
.ARTICLE_CONTENT_PICBOX_L { float:left; display:block; width:240px; min-height:100px; margin:0 16px 0 0;}

/* ==========================  LEFT ========================== */
.ARTICLE_CONTENT_PICBOX_UP { float:none; display:block; width:645px; min-height:360px; margin:0 0 20px 0;}
.ARTICLE_CONTENT_PICBOX_UP .ARTICLE_CONTENT_PICBOX { overflow:hidden; display:block; width:645px; height:425px; margin:0 0 10px 0;}
.ARTICLE_CONTENT_PICBOX_UP .ARTICLE_CONTENT_PICBOX img { max-width:645px; max-height:484px;}
/* ==========================  PAGE_NUM ========================== */
.PAGE_NUM { display:block; width:100%; height:60px; text-align:center; /*font-family:'Didact Gothic', sans-serif;*/ margin-top:40px;}
.PAGE_NUM span { display:inline-block; width:32px; height:32px; font-size:12px; line-height:32px; color:#fff; background:#000; border:1px #000 solid; margin:0 4px; /*font-family:'Didact Gothic', sans-serif;*/
-webkit-border-radius:32px;
-moz-border-radius:32px;
border-radius:32px;}
.PAGE_NUM a { display:inline-block; width:32px; height:32px; font-size:11px; line-height:31px; color:#000; border:1px #000 solid; margin:0 4px; text-decoration:none; /*font-family:'Didact Gothic', sans-serif;*/
-webkit-border-radius:32px;
-moz-border-radius:32px;
border-radius:32px;}
.PAGE_NUM a:hover { display:inline-block; width:32px; height:32px; font-size:11px; line-height:31px; color:#fff; background:#999; border:1px #999 solid; margin:0 4px;}

.PAGE_NUM span.PAGE_NNUM_END { display:inline-block; width:32px; height:32px; font-size:12px; line-height:31px; color:#b2b2b2; background:#fff; border:1px #b2b2b2 solid; margin:0 4px;}



p { word-wrap:break-word; word-break:break-all;}











	.slideshowController {
		background:#000;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.slideshowController a {
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		right: 60px;
		bottom: 0;
		z-index: 9999;
		outline: none;	/* 去除超連結虛線 */
	}
	.slideshowController .next{
		background:#0F3;
		right: 0;
	}
	.slideshowController .play{
		background:#3F3;
		right: 30px;
	}
	.slideshowController .pause{
		background:#513;
	}



/* ==========================  2014/02/27 更新 ========================== */
.NOW_TITLE { display:none;}
.SLIDES_MAIN_TITLE h4 { margin-top:10px;}
.NOW_DATE { position:relative; top:0px; right:0;}
.SHARE_BOX .fb_iframe_widget { top:-6px;}
.list-wrap ul li a { text-align:left;}
.SLIDES_MAIN_TXT p { display:none;}
.MAIN .LINE_BOX { display:none;}
.ARTICLE_CONTENT p { margin:7px 0;}

/* ==========================  2014/09/01 更新 ========================== */
.SLIDES_MAIN { margin:0 0 30px 0 !important;}
.ARTICLE_CONTENT { padding:0px 0 20px 0 !important;}
.ARTICLE_CONTENT_PICBOX_UP { min-height:180px !important;}
.ARTICLE_CONTENT_PICBOX_UP .ARTICLE_CONTENT_PICBOX { height:auto !important;}

/* ==========================  2014/09/02 更新 ========================== */
.TRINITY_BOX { margin:0px 0 0 0 !important;}
.TRINITY_BOX li { margin:0 25px 0px 0 !important;}
.TRINITY_BOX_PIC { margin-bottom:0px !important;}
.TRINITY_BOX li:last-child {margin: 0 0 0 0!important;}

/* ==========================  2015/01/08 更新 ========================== */
.ARTICLE_CONTENT p, .ARTICLE_CONTENT div { font-size:15px; line-height:21px; color:#000; text-align:left;}

/* ==========================  2015/02/16 更新 ========================== */
.PAGE_NUM > li { float:none; display:inline-block;}
.PAGE_NUM > li > a:hover { text-decoration:none;}
.PAGE_NUM > li.active a { display:inline-block; width:32px; height:32px; font-size:12px; line-height:32px; color:#fff; background:#000; border:1px #000 solid; margin:0 4px; /*font-family:'Didact Gothic', sans-serif;*/
-webkit-border-radius:32px;
-moz-border-radius:32px;
border-radius:32px;}

/* ==========================  2015/04/15 更新 ========================== */
.ARTICLE_CONTENT p { font-size:15px; line-height:21px; color:inherit; text-align:left;}
.ARTICLE_CONTENT a { color:#0092c8;}
.ARTICLE_CONTENT span { color:inherit; font-weight:inherit;}

/* ==========================  2015/05/08 更新 ========================== */
.MAIN .LINE_BOX { display:block; height:0px; overflow:hidden; padding:0 0 0 0;}

/* ==========================  2015/07/03 更新 ========================== */
.SHARE_BOX { position:relative; text-align:left; z-index:9;height:auto;padding-bottom: 12px;}
.SLIDES_MAIN { padding-top:1.6em; }
