/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {background-color: #eee; position: relative; margin-bottom: 5em;}
/* provide background colour for submenu strip */
/* you should just set the menu's container bg colour rather than use pseudo-elements */
.sf-navbar:before {content: ''; position: absolute; left: 0; z-index: -1; background-color: #eee; height: 200%; width: 100%;}
.sf-navbar ul {box-shadow: none;}
.sf-navbar li {background-color: #111; position: static;}
.sf-navbar > li > a, .sf-navbar > li > ul > li > a {border: none;}
.sf-navbar > li > ul {
	/* set this to whatever suits your design */
	min-width: 100%;
}
/*2014.4.1 Fix Issue: when the block display:none will be fault.*/
.sf-navbar ul li {background-color: transparent; position: relative;}
/*.sf-navbar ul li {background-color: #eee; position: relative;}*/
.sf-navbar ul ul {left: 0; top: 100%;}
.sf-navbar ul ul li {width: 100%;}
.sf-navbar > li > ul > li {float: left;}
.sf-navbar li:hover {background-color: transparent;}
.sf-navbar > li:hover > a {color: #fd0;}
.sf-navbar li.current:hover li a, .sf-navbar li.sfHover:hover li a {color: #111;}
.sf-navbar li.current, .sf-navbar li.sfHover {background-color: #eee;}
.sf-navbar li.current a, .sf-navbar li.sfHover a {color: #111;}
.sf-navbar ul li.current {background-color: #eee;}
.sf-navbar ul li:hover,.sf-navbar ul li.sfHover,.sf-navbar ul ul li {border-bottom: 3px solid #111; background-color: transparent;}
.sf-navbar ul li:hover a,.sf-navbar ul li.sfHover a,.sf-navbar ul ul li a {padding-bottom: calc(0.75em - 3px)}
.sf-navbar ul ul li:hover,.sf-navbar ul ul li.sfHover,.sf-navbar ul ul li.current {background-color: #E6EEFF;}
.sf-navbar ul li.current > a {font-weight: bold;}

/*** point all arrows down ***/
.sf-arrows.sf-navbar ul .sf-with-ul:after {margin-top: -3px;margin-right: 0;border-color: transparent;border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */border-top-color: rgba(255,255,255,.5);}

.sf-arrows.sf-navbar ul > li > .sf-with-ul:focus:after,
.sf-arrows.sf-navbar ul > li:hover > .sf-with-ul:after,
.sf-arrows.sf-navbar ul > .sfHover > .sf-with-ul:after {border-color: transparent; border-top-color: white;}

/* Superfish menu setting */
.nav-container {height:40px; background-color: #111;}
.sf-menu {padding-left: calc(100% /2 - 500px); padding-right: calc(100% /2 - 500px); width: 1000px; background-color: #111; font-family: "Montserrat", "sourcehansans-tc-normal", MyMainChinese, sans-serif;}
.sf-menu > li > ul > li:first-child, .sf-navbar > li > ul > li:first-child, .sf-breadcrumb ul li:first-child, .sfHover ul li:first-child {margin-left: calc(100% /2 - 500px);}
.sf-navbar li {background-color: #111}.sf-navbar > li > a {color: #fff;}.sf-navbar li a:hover {text-decoration: none;}
.sf-navbar:before {background: none}.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {background-color: #eee; width: 100%;}
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {border-top-color: #111; /* IE8 fallback colour */}
.sf-navbar ul > li.search {float: right; margin-right: calc(100% /2 - 475px);}
.sf-navbar ul > li.search:hover {border-bottom: none;}
.search input[type=search] {height: auto; background-color: rgba(255,255,255,.75); border: none; border-radius: 0; box-shadow: none; border-bottom: 1px solid #999}
.search .form-group {margin: 0.75em 1em;}
.btn-search {border: none; background-color: transparent; font-size: 16px}
.sf-navbar li.wired a {display: block; width: 70px; height: 22px; background: url(/images/nav-wired.png) left center no-repeat; overflow: hidden; padding: 0; margin: 0.75em 1em;}
.sf-navbar li.wired:hover a {background-position: -70px center;}
.sf-navbar {margin-bottom: 1em;}
#crumb {display: none}

/* sub menu alignment */
.sf-navbar li:nth-child(8):hover > ul > li:first-child, .sf-navbar li:nth-child(8).sfHover > ul > li:first-child {
	margin-left: calc(100% /2 + 150px);}

/*
.sf-navbar li:nth-child(9):hover > ul > li:first-child {margin-left: calc(100% /2 - 250px);}
.sf-navbar li:nth-child(9).sfHover > ul > li:first-child {margin-left: calc(100% /2 - 250px);}
*/
.sf-navbar li:nth-child(9):hover > ul > li:first-child, .sf-navbar li:nth-child(9).sfHover > ul > li:first-child {margin-left: 0; margin-right: calc(100% /2 - 500px);}
.sf-navbar li:nth-child(9):hover > ul > li, .sf-navbar li:nth-child(9).sfHover > ul > li {float: right;}

.sfHover *, .sf-menu, .sf-menu * { -webkit-transition: opacity .4s ease-out; -moz-transition: opacity .4s ease-out; -o-transition: opacity .4s ease-out; transition: opacity 1s ease-out; }
