@charset "UTF-8";
/**
*
* @authors Jeter Chou (jeter.chou@condenast.com.tw)
*/

/* Flat-UI custom setting */
.btn-ghost {background-color: rgba(0,0,0,.25); border: 1px solid rgba(255, 255, 255, 0.75); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); color: #fff; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)}
.btn-ghost:hover {background-color: rgba(255,255,255,.25);}
/* misc */
.floatRight{display:inline;width:300px;height:800px;position:absolute;left:1000px;top:0}.floatLeft{display:inline;width:300px;height:800px;position:absolute;left:-300px;top:0}#floatLayer{background:url(../images/opacity_black.png) repeat;position:absolute;top:0;left:0;width:100%;height:100%;z-index:15000;overflow-y:scroll}
::selection {background:rgba(255,221,0,0.85); color:rgba(0,0,0,0.75);} ::-moz-selection{background:rgba(255,221,0,0.85); color:rgba(0,0,0,0.75);}
/* seperators */
.seperator-2 {color: #909090;display: block;float: left;padding: 0 8px 0 5px;}.seperator-main {background: url("../img/css-sprites.png") no-repeat scroll -256px -859px #fff;display: block;height: 6px;margin: 0 auto;position: relative;width: 1000px;} .main-background {background-color: #fff;display: block;height: 235px;position: relative;margin-top: -284px;} .nav-bar-background {background-color: #898989;display: block;height: 40px;position: relative;/*top: 193px;*/top:198px;}.seperator-index {background: url("../img/css-sprites.png") no-repeat scroll -256px -869px #fff;height: 27px;margin: 0;position: relative;float:left;width: 1000px;display:block;} .seperator-10 {color: #eee;display: inline;padding: 0 5px;} .seperator-gq,.seperator-vogue,.seperator-wired {background: url("../img/css-sprites.png") no-repeat scroll -1391px 1px #04C3D3;height: 11px;overflow: hidden;text-indent: -9999px;width: 217px;} .seperator-vogue {background-color:#D40000;width: 217px;} .seperator-wired {background-color:#A6A6A6;width: 190px;}
.btn-inverse {background-color: #222;}.btn-inverse:hover, .btn-inverse.hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open>.dropdown-toggle.btn-inverse {background-color: #333; border-color: #333;}
/* $WIRED nav item */
li.wired a {background: url(/images/wired-nav.png) center center no-repeat transparent; width: 70px; text-indent: -9999px} #navi li.top.mb a {background: url(/images/mb-nav.png) center center no-repeat transparent !important; width: 30px;}#navi li.top.wired span, #navi li.top.mb span {display:none;}
/* If we are going to re-design digital-masthead page, just remove the below setting
* Fix Safari */
@media screen and (-webkit-min-device-pixel-ratio:0){/*body {font-family:Arial, Helvetica, sans-serif;}*/.section-2 h3 a{letter-spacing: -1px;}}
/* Bootstrap's documentation styles Special styles for presenting Bootstrap's documentation and examples */ /* Body and structure -------------------------------------------------- */ /*body {position: relative; padding-top: 40px;}*/ /* Code in headings */ h3 code {font-size: 14px; font-weight: normal;} /* Tweak navbar brand link to be super sleek -------------------------------------------------- */ body > .navbar { font-size: 13px;} /* Change the docs' brand */ body > .navbar .brand {padding-right: 0; padding-left: 0; margin-left: 20px; float: right; font-weight: bold; color: #000; text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125); -webkit-transition: all .2s linear; -moz-transition: all .2s linear; transition: all .2s linear; behavior: url(/assets/css/behavior/PIE.htc);} body > .navbar .brand:hover {text-decoration: none; text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);behavior: url(/assets/css/behavior/PIE.htc);} /* Sidenav for Docs -------------------------------------------------- */ .bs-docs-sidenav {width: 128px; margin: 20px 0 0 10px; padding: 0; background-color: #fff; /*  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;*/ -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065); box-shadow: 0 1px 4px rgba(0,0,0,.065); behavior: url(/assets/css/behavior/PIE.htc);} .bs-docs-sidenav > li > a {display: block; *width: 128px; margin: 0 0 -1px; padding: 8px 14px; border: 1px solid #e5e5e5;} /* .bs-docs-sidenav > li:first-child > a {-webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;} .bs-docs-sidenav > li:last-child > a {-webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px;}*/ .bs-docs-sidenav > .active > a {position: relative; z-index: 2; padding: 9px 15px; border: 0; text-shadow: 0 1px 0 rgba(0,0,0,.15); -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1); -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1); box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);behavior: url(/assets/css/behavior/PIE.htc);}	/* Chevrons */ .bs-docs-sidenav .icon-chevron-right {float: right; margin-top: 2px; margin-right: -6px; opacity: .25;} .bs-docs-sidenav > li > a:hover {background-color: #f5f5f5;} .bs-docs-sidenav a:hover .icon-chevron-right {opacity: .5;} .bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {background-image: url(../img/glyphicons-halflings-white.png); opacity: 1;} .bs-docs-sidenav.affix {top: 40px;} .bs-docs-sidenav.affix-bottom {position: absolute; top: auto; bottom: 270px;} /* Responsive -------------------------------------------------- */ /* Desktop large ------------------------- */ @media (min-width: 1200px) {.bs-docs-container {max-width: 970px;}/*.bs-docs-sidenav {width: 258px;}*/} /* Desktop ------------------------- */ @media (max-width: 980px) {/* Unfloat brand */ body > .navbar-fixed-top .brand {float: left; margin-left: 0; padding-left: 10px; padding-right: 10px;} /* Inline-block quick links for more spacing */ .quick-links li {display: inline-block; margin: 5px;} /* When affixed, space properly */ .bs-docs-sidenav {top: 0; margin-top: 30px; margin-right: 0;}} /* Tablet to desktop ------------------------- */ @media (min-width: 768px) and (max-width: 980px) {/* Remove any padding from the body */ body {padding-top: 0;} /* Widen masthead and social buttons to fill body padding */ .jumbotron {margin-top: -20px; /* Offset bottom margin on .navbar */} /* Adjust sidenav width */ .bs-docs-sidenav {width: 150px; margin-top: 20px;} .bs-docs-sidenav.affix {top: 0;}} /* Tablet
------------------------- */ @media (max-width: 767px) { /* Remove any padding from the body */ body {padding-top: 0;} /* Widen masthead and social buttons to fill body padding */ .jumbotron {padding: 40px 20px; margin-top:   -20px; /* Offset bottom margin on .navbar */ margin-right: -20px; margin-left:  -20px;} .masthead h1 {font-size: 90px;} .masthead p, .masthead .btn {font-size: 24px;} .marketing .span4 {margin-bottom: 40px;} .bs-docs-social {margin: 0 -20px;} /* Space out the show-grid examples */ .show-grid [class*="span"] {margin-bottom: 5px;} /* Sidenav */ .bs-docs-sidenav {width: auto; margin-bottom: 20px;} .bs-docs-sidenav.affix {position: static; width: auto; top: 0;} /* Unfloat the back to top link in footer */ .footer {margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px;} .footer p {margin-bottom: 9px;}} /* Landscape phones ------------------------- */ @media (max-width: 480px) {/* Remove padding above jumbotron */ body {padding-top: 0;} /* Change up some type stuff */ h2 small {display: block;} /* Downsize the jumbotrons */ .jumbotron h1 {font-size: 60px;} .jumbotron p, .jumbotron .btn {font-size: 20px;} .jumbotron .btn {display: block; margin: 0 auto;} /* center align subhead text like the masthead */ .subhead h1, .subhead p {text-align: center;} /* Marketing on home */ .marketing h1 {font-size: 40px;} /* center example sites */ .example-sites {margin-left: 0;} .example-sites > li {float: none; display: block; max-width: 280px; margin: 0 auto 18px; text-align: center;} .example-sites .thumbnail > img {max-width: 270px;} /* Do our best to make tables work in narrow viewports */ table code {white-space: normal; word-wrap: break-word; word-break: break-all;} /* Modal example */ .modal-example .modal {position: relative; top: auto; right: auto; bottom: auto; left: auto;} /* Unfloat the back to top in footer to prevent odd text wrapping */.footer .pull-right {float: none;} } /* custom setting for digital masthead */ [class*="span"] {float: left;min-height: 1px;} .span8 {width: 800px;} .span6 {width: 800px;} .span3 {width: 220px;} tt {font-family: 'GFS Didot';color: #636363; font-size:11px; font-weight:bold;} .container-fluid h2 {color: #666;} .operating img {display: block;margin-bottom:10px;} .thumbnails {border-bottom: 1px dotted #999; padding: 30px 0 10px 0;} .span8 h2 {font-size: 36px; line-height:40px;} .thumbnails h3 {font-size: 24px; line-height:40px;} .thumbnails h4 {font-size: 18px; line-height:20px;} .thumbnails h5 {font-size: 16px; line-height:20px;} .thumbnails li {line-height: 14px;} .thumbnails h3,.thumbnails h4, .thumbnails h5 {margin:0;font-weight:normal;} .thumbnails h5, .chief-info h4, .thumbnails a {font-family: "Oswald", "sourcehansans-tc-regular", MyTitleChinese, sans-serif !important; font-weight: 700; letter-spacing: 0.025em;} .thumbnails a:link, .thumbnails a:visited {color: #666;} .staff img, .staff-info, .chief img, .chief-info {float:left;} .staff-info, .chief-info {padding-top: 10px} .staff img, .chief img {margin-right:7px;} .chief img, .chief-info {vertical-align:bottom} .chief-info {padding-top: 113px;} .chief-info tt {font-size:16px;} .operating a {font-size:10px;} .thumbnails .staff a {font-size:xx-small;} .bs-docs-sidebar li {float:none; background: #fff;} .container-fluid {background: #fff;} .special-content {margin-top: 45px;} .special-content h1 {margin:0;} .thumbnails > li {float: left; margin-bottom: 20px;} .thumbnails li.span3 {width:255px} .thumbnails > li {margin-left: 10px;} .ico-mail {display: inline-block; width: 14px; height: 14px; margin-top: 1px; *margin-right: .3em; line-height: 14px; vertical-align: text-top; background-image: url("../images/icon-mail.png"); background-position: 0px 0px; background-repeat: no-repeat;} .row:before,.row:after {display: table;line-height: 0;content: "";} .row:after {clear: both;} @media (min-width: 1200px) .span2 {width: 170px;} @media (min-width: 1200px) [class*="span"] {float: left; min-height: 1px; margin-left: 30px;} .span2 {width: 180px;} .nav-list > .active > a, .nav-list > .active > a:hover {color: white;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);background-color: black;} .bs-docs-sidenav > li > a:hover {background-color: whiteSmoke;} .nav > li > a:hover {text-decoration: none;background-color: #EEE;} .nav-list > .active > a, .nav-list > .active > a:hover {color: white;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-color: black;} .bs-docs-sidenav > li > a {display: block;margin: 0 0 -1px;padding: 8px 14px;border: 1px solid #E5E5E5;} .nav-list > li > a {padding: 3px 15px;} .nav-list > li > a, .nav-list .nav-header {margin-right: -15px;margin-left: -15px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);} .nav > li > a {display: block;} h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility;} h2 {display: block;font-size: 1.5em;-webkit-margin-before: 0.83em;-webkit-margin-after: 0.83em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;} .thumbnails {list-style: none;*zoom: 1;} .thumbnails:before, .thumbnails:after {display: table;line-height: 0;content: "";} .thumbnails:after {clear: both;} .thumbnails:before, .thumbnails:after {display: table;line-height: 0;content: "";} .nav-list {padding-right: 15px;padding-left: 15px;margin-bottom: 0;} .nav {margin-bottom: 20px;margin-left: 0;list-style: none;} .container-fluid > h3 {font-size: 36px; padding: 15px 0;border-top: 4px solid #000;border-bottom: 1px solid #ddd;margin-bottom:15px; font-family: 'Montserrat', sans-serif;font-weight: 700; text-transform: uppercase} .container-fluid > h3 em {font-style: normal;color: #999;float: right;font-size: 18px;font-weight: 700;font-family: "Montserrat", "sourcehansans-tc-medium", MyTitleChinese, sans-serif} .container-fluid .icon-envelope { opacity: 0.6} .container-fluid .icon-envelope:hover { opacity: 1} .icon-envelope {  background-position: -72px 0;} .s-nav {z-index: 9999; position: fixed; top: 30px;} .r-nav {z-index: 9999; position: fixed; top: 30px; margin-left: 660px;} .fixmargin {margin-left: 180px;} .navb {margin: 0 auto;width: 1000px;background: #000;}
.container-fluid mark {background-color: transparent; color: #444; font-family: "Oswald", "sourcehansans-tc-regular", MyTitleChinese, sans-serif !important;}
/* images setting for old index list (optional) */
.blog-4mat .category + a {display: block; width: 640px; text-align: center; clear: both}.blog-4mat .category + a > img {height: auto !important; max-height: 480px; width: auto !important; max-width: 640px; margin: 0 auto;}
/* Generic Utility */
.hide {position: absolute; top: -9999px; left: -9999px;}
.hidden {display: none;}
.boxfix {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
/* Force Element To Self-Clear its Children */
.clearfix:before, .clearfix:after {content: " ";display: table;}.clearfix:after {clear: both;}.clearfix {*zoom: 1;}

#columns.whatsin.zine #list:before, #columns.whatsin.zine #list:after {content: "";display: table;}  #columns.whatsin.zine #list:after {clear: both;} #columns.whatsin.zine #list {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}
.related-news ul:before, .related-news ul:after {content: "";display: table;} .related-news ul:after {clear: both;} .related-news ul {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}
/* page style fix by Jeter 20150313 */
.content, .CONTENT {padding-top: 60px;}
.content.no-padding, .CONTENT.no-padding {padding-top: 0;}
.ARTICLE_CONTENT p, .ARTICLE_CONTENT div {color: #222; font-size: 16px; line-height: 1.7em}
.mem-record {width: 100% !important;}
.mem-record .mem-brief {width:620px !important;}
.mem-promo h4 {font-size: 21px !important; padding: 0.5em 0 !important; font-family: "Montserrat", "sourcehansans-tc-regular", MyTitleChinese, sans-serif !important;}
.SLIDES_MAIN_AUTHOR, .SLIDES_MAIN_TITLE a {letter-spacing: 0;}
.SLIDES_MAIN_TITLE h4 {line-height: 1.1em; font-size: 31px; margin-top: 0;}
#slides_main {height: 510px}

/* GQ 20th added by Jeter 20160413 */
.gq20-wrap, .gq20th, .gq20-logo {overflow: hidden; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.gq20-logo {text-indent: -9999px; background: url(/assets/images/gq20.svg) center no-repeat; background-size: contain; animation: gq20-zoom 5s ease infinite; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.gq20th {background-color: #ddba83; position: relative; background: radial-gradient(circle at 27px 27px, #f8d7a5, #a67c52);}
.gq20-wrap {bottom: 105px; right: 80px; position: fixed; text-align: center; z-index: 9999}
.gq20-wrap span {display: none; width: 80px; height: 50%; font-size: 16px; color: #ddba83; font-family: "Montserrat", "sourcehansans-tc-bold", MyTitleChinese, sans-serif; line-height: 1em; font-weight: 600; letter-spacing: 0.05em}
.gq20-wrap:hover .gq20th {background: #222;}
.gq20-wrap:hover .gq20-logo {background-image: none;}
.gq20-wrap:hover span {display: table-cell; margin: auto; text-shadow:  1px 1px rgba(0, 0, 0, 0.5) , 2px 2px rgba(2, 2, 2, 0.51) , 3px 3px rgba(4, 4, 4, 0.52) , 4px 4px rgba(5, 5, 5, 0.53) , 5px 5px rgba(7, 7, 7, 0.54) , 6px 6px rgba(9, 9, 9, 0.55) , 7px 7px rgba(10, 10, 10, 0.56) , 8px 8px rgba(11, 11, 11, 0.57) , 9px 9px rgba(12, 12, 12, 0.58) , 10px 10px rgba(14, 14, 14, 0.59) , 11px 11px rgba(15, 15, 15, 0.6) , 12px 12px rgba(16, 16, 16, 0.61) , 13px 13px rgba(17, 17, 17, 0.62) , 14px 14px rgba(17, 17, 17, 0.63) , 15px 15px rgba(18, 18, 18, 0.64) , 16px 16px rgba(19, 19, 19, 0.65) , 17px 17px rgba(20, 20, 20, 0.66) , 18px 18px rgba(21, 21, 21, 0.67) , 19px 19px rgba(21, 21, 21, 0.68) , 20px 20px rgba(22, 22, 22, 0.69) , 21px 21px rgba(23, 23, 23, 0.7) , 22px 22px rgba(23, 23, 23, 0.71) , 23px 23px rgba(24, 24, 24, 0.72) , 24px 24px rgba(24, 24, 24, 0.73) , 25px 25px rgba(25, 25, 25, 0.74) , 26px 26px rgba(26, 26, 26, 0.75) , 27px 27px rgba(26, 26, 26, 0.76) , 28px 28px rgba(26, 26, 26, 0.77) , 29px 29px rgba(27, 27, 27, 0.78) , 30px 30px rgba(27, 27, 27, 0.79) , 31px 31px rgba(28, 28, 28, 0.8) , 32px 32px rgba(28, 28, 28, 0.81) , 33px 33px rgba(29, 29, 29, 0.82) , 34px 34px rgba(29, 29, 29, 0.83) , 35px 35px rgba(29, 29, 29, 0.84) , 36px 36px rgba(30, 30, 30, 0.85) , 37px 37px rgba(30, 30, 30, 0.86) , 38px 38px rgba(30, 30, 30, 0.87) , 39px 39px rgba(31, 31, 31, 0.88) , 40px 40px rgba(31, 31, 31, 0.89) , 41px 41px rgba(31, 31, 31, 0.9) , 42px 42px rgba(32, 32, 32, 0.91) , 43px 43px rgba(32, 32, 32, 0.92) , 44px 44px rgba(32, 32, 32, 0.93) , 45px 45px rgba(33, 33, 33, 0.94) , 46px 46px rgba(33, 33, 33, 0.95) , 47px 47px rgba(33, 33, 33, 0.96) , 48px 48px rgba(33, 33, 33, 0.97) , 49px 49px rgba(34, 34, 34, 0.98) , 50px 50px rgba(34, 34, 34, 0.99);}
.tb {display: table; height: 100%} .tb-cell {vertical-align: middle;}
.gq20-wrap a:hover {text-decoration: none;}
@keyframes gq20-zoom {from {transform: scale(2,2); transform-origin: 50% 50%; opacity: 0.15} to {transform: scale(1,1); transform-origin: 50% 50%;} }

/* GQ article bouble by Jeter 20160701 */
.arrow_box_f, .arrow_box_m {position: relative; padding: 15px; margin: 0 20px 40px; } .arrow_box_f {border: 4px solid #bf1e2e;} .arrow_box_m {border: 4px solid #000031; } .arrow_box_f:after, .arrow_box_f:before, .arrow_box_m:after, .arrow_box_m:before {border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .arrow_box_f:after, .arrow_box_f:before {right: 100%; top: 50%; } .arrow_box_m:after, .arrow_box_m:before {left: 100%; top: 50%; } .arrow_box_f:after, .arrow_box_m:after {border-width: 15px; margin-top: -15px; } .arrow_box_f:after {border-color: rgba(136, 183, 213, 0); border-right-color: #fff; } .arrow_box_m:after {border-color: rgba(136, 183, 213, 0); border-left-color: #fff; } .arrow_box_f:before, .arrow_box_m:before  {border-width: 21px; margin-top: -21px; } .arrow_box_f:before {border-color: rgba(191, 30, 46, 0); border-right-color: #bf1e2e; } .arrow_box_m:before {border-color: rgba(0, 0, 49, 0); border-left-color: #000031; }

.mark .label-default {font-size: 14px;}
/* Responsive Youtube Embed */
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; } .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
/* Special setting for Justfont 
.jf-loading body {opacity: 0.05; visibility: visible;} .jf-active body {opacity: 1; visibility: visible;} .jf-inactive body {opacity: 1; visibility: visible;}
.jf-active *, .jf-inactive * {-webkit-transition: opacity 1s ease-out; -moz-transition: opacity 1s ease-out; -o-transition: opacity 1s ease-out; transition: opacity 1s ease-out;}
.jf-loading {background: url('/images/loading1.gif') no-repeat center center; height: 100%; overflow: hidden;}
*/