@charset "UTF-8";
/**
 * 
 * @authors Jeter Chou (jeter.chou@condenast.com.tw)
 */

/* custom font setting from google font 
 * sans-serif
 */
/* alternative font for Helvetica */
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
/* alternative font for A Grotesk and DIN Condensed */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* alternative font for Futura */
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic);
/* good quality sans-serif font */
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* serif
 * alternative font for Serifa */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
/* alternative font for Didot */
@import url(http://fonts.googleapis.com/css?family=GFS+Didot:400);
/* alternative font for Bodoni */
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
/* alternative font for Trajan Pro */
@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700,900);

/* Chinese setting through the Unicode range
 * 1. Hiragino looks better than JhengHei and Mac often have both fonts, thus
 *    put Hiragino prior to JengHei.
 * 2. Linux shows JhengHei pretty ugly, thus put Micro Hei prior to JhengHei.
 * 3. Windows users show WenQuanYi Micro Hei pretty ugly, thus use a different stylesheet.
 */
@font-face{font-family:MyTitleChinese;src:local("LiHei Pro"),local(儷黑Pro),local(微軟正黑體),local("Microsoft JhengHei");unicode-range:U+4E00-9FFF,U+FF00-FFEF;font-weight:700;font-style:normal} @font-face{font-family:MyMainChinese;src:local("ヒラギノ角ゴ Pro"),local(Hiragino Kaku Gothic Pro),local(微軟正黑體),local("Microsoft JhengHei");unicode-range:U+4E00-9FFF}

body, caption, th, td, input, textarea, select, option, legend, fieldset, tt, mark {font-family: "Asap", Futura, "Lucida Grande", Helvetica, Arial, "sourcehansans-tc-normal", MyMainChinese, "sans-serif"; font-weight: 400;} 
body {color: #222; line-height: 1.7em; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga" on;} 
h1, h2, h3, h4, h5, h6 {font-family: "Montserrat", Helvetica, Arial, FreeSans, "sourcehansans-tc-bold" ,MyTitleChinese,"sans-serif"; letter-spacing: -0.025em; font-weight: 400;} 
.text-muted{color:#777}.text-primary{color:#428bca}a.text-primary:hover{color:#3071a9}.text-success{color:#3c763d}a.text-success:hover{color:#2b542c}.text-info{color:#31708f}a.text-info:hover{color:#245269}.text-warning{color:#8a6d3b}a.text-warning:hover{color:#66512c}.text-danger{color:#a94442}a.text-danger:hover{color:#843534}
address {font-style: normal;}
