.xiaoyao{background:url(/skin/x/xiaoyao54.png) no-repeat 0px 0px;width:20px;padding-top:22px;}
.jipin{background:url(/skin/x/index.png) no-repeat 0px 0px;width:20px;padding-top:22px;}
.keniu{background:url(/skin/x/index.png) no-repeat -20px 0px;width:20px;padding-top:22px;}
.Kmplayer{background:url(/skin/x/index.png) no-repeat -40px 0px;width:20px;padding-top:22px;}
.jidian{background:url(/skin/x/index.png) no-repeat -60px 0px;width:20px;padding-top:22px;}
.xuefei{background:url(/skin/x/index.png) no-repeat -80px 0px;width:20px;padding-top:22px;}
.is{background:url(/skin/x/index.png) no-repeat -100px 0px;width:20px;padding-top:22px;}
.xuanfeng{background:url(/skin/x/index.png) no-repeat -120px 0px;width:20px;padding-top:22px;}
.kugo{background:url(/skin/x/index.png) no-repeat -140px 0px;width:20px;padding-top:22px;}
.meitukankan{background:url(/skin/x/index.png) no-repeat -160px 0px;width:20px;padding-top:22px;}
.mofang{background:url(/skin/x/index.png) no-repeat -180px 0px;width:20px;padding-top:22px;}
.msn{background:url(/skin/x/index.png) no-repeat -200px 0px;width:20px;padding-top:22px;}
.meitu{background:url(/skin/x/index.png) no-repeat -220px 0px;width:20px;padding-top:22px;}
.kuwo{background:url(/skin/x/index.png) no-repeat -240px 0px;width:20px;padding-top:22px;}
.XNview{background:url(/skin/x/index.png) no-repeat -260px 0px;width:20px;padding-top:22px;}
.ludashi{background:url(/skin/x/index.png) no-repeat -280px 0px;width:20px;padding-top:22px;}
.haofang{background:url(/skin/x/index.png) no-repeat -300px 0px;width:20px;padding-top:22px;}
.fengxing{background:url(/skin/x/index.png) no-repeat -320px 0px;width:20px;padding-top:22px;}
.youhuadashi{background:url(/skin/x/index.png) no-repeat -340px 0px;width:20px;padding-top:22px;}
.firefox{background:url(/skin/x/index.png) no-repeat -360px 0px;width:20px;padding-top:22px;}
.emule{background:url(/skin/x/index.png) no-repeat -380px 0px;width:20px;padding-top:22px;}
.DAEMON{background:url(/skin/x/index.png) no-repeat -400px 0px;width:20px;padding-top:22px;}
.directx{background:url(/skin/x/index.png) no-repeat -420px 0px;width:20px;padding-top:22px;}
.DwgSee{background:url(/skin/x/index.png) no-repeat -440px 0px;width:20px;padding-top:22px;}
.FlashGet{background:url(/skin/x/index.png) no-repeat -460px 0px;width:20px;padding-top:22px;}
.fx{background:url(/skin/x/index.png) no-repeat -480px 0px;width:20px;padding-top:22px;}
.xunlei{background:url(/skin/x/index.png) no-repeat -500px 0px;width:20px;padding-top:22px;}
.gy{background:url(/skin/x/index.png) no-repeat -520px 0px;width:20px;padding-top:22px;}
.fw{background:url(/skin/x/index.png) no-repeat -540px 0px;width:20px;padding-top:22px;}
.Foobar2000{background:url(/skin/x/index.png) no-repeat -560px 0px;width:20px;padding-top:22px;}
.Foxmail{background:url(/skin/x/index.png) no-repeat -580px 0px;width:20px;padding-top:22px;}
.yd{background:url(/skin/x/index.png) no-repeat -600px 0px;width:20px;padding-top:22px;}
.Mydrivers{background:url(/skin/x/index.png) no-repeat -620px 0px;width:20px;padding-top:22px;}
.rar{background:url(/skin/x/index.png) no-repeat -640px 0px;width:20px;padding-top:22px;}
.Realtek{background:url(/skin/x/index.png) no-repeat -660px 0px;width:20px;padding-top:22px;}
.ww{background:url(/skin/x/index.png) no-repeat -680px 0px;width:20px;padding-top:22px;}
.qvod{background:url(/skin/x/index.png) no-repeat -700px 0px;width:20px;padding-top:22px;}
.qqpy{background:url(/skin/x/index.png) no-repeat -720px 0px;width:20px;padding-top:22px;}
.qqx{background:url(/skin/x/index.png) no-repeat -740px 0px;width:20px;padding-top:22px;}
.qqyy{background:url(/skin/x/index.png) no-repeat -760px 0px;width:20px;padding-top:22px;}
.wpsx{background:url(/skin/x/index.png) no-repeat -780px 0px;width:20px;padding-top:22px;}
.uusee{background:url(/skin/x/index.png) no-repeat -800px 0px;width:20px;padding-top:22px;}
.vb{background:url(/skin/x/index.png) no-repeat -820px 0px;width:20px;padding-top:22px;}
.vc{background:url(/skin/x/index.png) no-repeat -840px 0px;width:20px;padding-top:22px;}
.wdj{background:url(/skin/x/index.png) no-repeat -860px 0px;width:20px;padding-top:22px;}
.sogou5{background:url(/skin/x/index.png) no-repeat -880px 0px;width:20px;padding-top:22px;}
.sogoupy{background:url(/skin/x/index.png) no-repeat -900px 0px;width:20px;padding-top:22px;}
.wm{background:url(/skin/x/index.png) no-repeat -920px 0px;width:20px;padding-top:22px;}
.qqmusic{background:url(/skin/x/index.png) no-repeat -940px 0px;width:20px;padding-top:22px;}
.opera{background:url(/skin/x/index.png) no-repeat -960px 0px;width:20px;padding-top:22px;}
.pdf{background:url(/skin/x/index.png) no-repeat -980px 0px;width:20px;padding-top:22px;}
.photoscape{background:url(/skin/x/index.png) no-repeat -1000px 0px;width:20px;padding-top:22px;}
.office2{background:url(/skin/x/index.png) no-repeat -1020px 0px;width:20px;padding-top:22px;}
.Nero{background:url(/skin/x/index.png) no-repeat -1040px 0px;width:20px;padding-top:22px;}
.net{background:url(/skin/x/index.png) no-repeat -1060px 0px;width:20px;padding-top:22px;}
.office{background:url(/skin/x/index.png) no-repeat -1080px 0px;width:20px;padding-top:22px;}
.ppdz{background:url(/skin/x/index.png) no-repeat -1100px 0px;width:20px;padding-top:22px;}
.qd{background:url(/skin/x/index.png) no-repeat -1120px 0px;width:20px;padding-top:22px;}
.qqdz{background:url(/skin/x/index.png) no-repeat -1140px 0px;width:20px;padding-top:22px;}
.qqlive{background:url(/skin/x/index.png) no-repeat -1160px 0px;width:20px;padding-top:22px;}
.ps{background:url(/skin/x/index.png) no-repeat -1180px 0px;width:20px;padding-top:22px;}
.pps{background:url(/skin/x/index.png) no-repeat -1200px 0px;width:20px;padding-top:22px;}
.pptv{background:url(/skin/x/index.png) no-repeat -1220px 0px;width:20px;padding-top:22px;}
.xinduba{background:url(/skin/x/index.png) no-repeat -1240px 0px;width:20px;padding-top:22px;}
._201310291639247383{background:url(/skin/x/index.png) no-repeat -1260px 0px;width:20px;padding-top:22px;}
._201310291643336329{background:url(/skin/x/index.png) no-repeat -1280px 0px;width:20px;padding-top:22px;}
._201310291710163908{background:url(/skin/x/index.png) no-repeat -1300px 0px;width:20px;padding-top:22px;}
._201310291637852960{background:url(/skin/x/index.png) no-repeat -1320px 0px;width:20px;padding-top:22px;}
._201310291522726424{background:url(/skin/x/index.png) no-repeat -1340px 0px;width:20px;padding-top:22px;}
._201310291625289440{background:url(/skin/x/index.png) no-repeat -1360px 0px;width:20px;padding-top:22px;}
._201310291626262142{background:url(/skin/x/index.png) no-repeat -1380px 0px;width:20px;padding-top:22px;}
._201310291720169376{background:url(/skin/x/index.png) no-repeat -1400px 0px;width:20px;padding-top:22px;}
.ziguang{background:url(/skin/x/index.png) no-repeat -1420px 0px;width:20px;padding-top:22px;}
._2013102916182841117{background:url(/skin/x/index.png) no-repeat -1440px 0px;width:20px;padding-top:22px;}
._2013102916314168803{background:url(/skin/x/index.png) no-repeat -1460px 0px;width:20px;padding-top:22px;}
._2013102915411994121{background:url(/skin/x/index.png) no-repeat -1480px 0px;width:20px;padding-top:22px;}
._201371123531240886{background:url(/skin/x/index.png) no-repeat -1500px 0px;width:20px;padding-top:22px;}
._201391210211596716{background:url(/skin/x/index.png) no-repeat -1520px 0px;width:20px;padding-top:22px;}
._2013102915185359631{background:url(/skin/x/index.png) no-repeat -1540px 0px;width:20px;padding-top:22px;}
._20139271011644506{background:url(/skin/x/index.png) no-repeat -1560px 0px;width:20px;padding-top:22px;}
._360sd{background:url(/skin/x/index.png) no-repeat -1580px 0px;width:20px;padding-top:22px;}
._201399912590563{background:url(/skin/x/index.png) no-repeat -1600px 0px;width:20px;padding-top:22px;}
._2013713991438009{background:url(/skin/x/index.png) no-repeat -1620px 0px;width:20px;padding-top:22px;}
._360{background:url(/skin/x/index.png) no-repeat -1640px 0px;width:20px;padding-top:22px;}
._3dmaxx{background:url(/skin/x/index.png) no-repeat -1660px 0px;width:20px;padding-top:22px;}
._3dp{background:url(/skin/x/index.png) no-repeat -1680px 0px;width:20px;padding-top:22px;}
._11{background:url(/skin/x/index.png) no-repeat -1700px 0px;width:20px;padding-top:22px;}
._20137121530023412{background:url(/skin/x/index.png) no-repeat -1720px 0px;width:20px;padding-top:22px;}
._20138191224177163{background:url(/skin/x/index.png) no-repeat -1740px 0px;width:20px;padding-top:22px;}
._20138191243036167{background:url(/skin/x/index.png) no-repeat -1760px 0px;width:20px;padding-top:22px;}
._20138191262970527{background:url(/skin/x/index.png) no-repeat -1780px 0px;width:20px;padding-top:22px;}
._20138191213158529{background:url(/skin/x/index.png) no-repeat -1800px 0px;width:20px;padding-top:22px;}
._20137121603338496{background:url(/skin/x/index.png) no-repeat -1820px 0px;width:20px;padding-top:22px;}
._20137279244752932{background:url(/skin/x/index.png) no-repeat -1840px 0px;width:20px;padding-top:22px;}
._20138191155980795{background:url(/skin/x/index.png) no-repeat -1860px 0px;width:20px;padding-top:22px;}
.autocad{background:url(/skin/x/index.png) no-repeat -1880px 0px;width:20px;padding-top:22px;}
.avg{background:url(/skin/x/index.png) no-repeat -1900px 0px;width:20px;padding-top:22px;}
.avira{background:url(/skin/x/index.png) no-repeat -1920px 0px;width:20px;padding-top:22px;}
.cjtz{background:url(/skin/x/index.png) no-repeat -1940px 0px;width:20px;padding-top:22px;}
.Alcohol{background:url(/skin/x/index.png) no-repeat -1960px 0px;width:20px;padding-top:22px;}
.aoyou{background:url(/skin/x/index.png) no-repeat -1980px 0px;width:20px;padding-top:22px;}
.CorelDraw{background:url(/skin/x/index.png) no-repeat -2000px 0px;width:20px;padding-top:22px;}
.baiduyy{background:url(/skin/x/index.png) no-repeat -2020px 0px;width:20px;padding-top:22px;}
.bdkill{background:url(/skin/x/index.png) no-repeat -2040px 0px;width:20px;padding-top:22px;}
.bt{background:url(/skin/x/index.png) no-repeat -2060px 0px;width:20px;padding-top:22px;}
.chenqiao{background:url(/skin/x/index.png) no-repeat -2080px 0px;width:20px;padding-top:22px;}
.bdinput{background:url(/skin/x/index.png) no-repeat -2100px 0px;width:20px;padding-top:22px;}
.baofeng{background:url(/skin/x/index.png) no-repeat -2120px 0px;width:20px;padding-top:22px;}
.chrome{background:url(/skin/x/index.png) no-repeat -2140px 0px;width:20px;padding-top:22px;}
.bdbrowserx{background:url(/skin/x/index.png) no-repeat -2160px 0px;width:20px;padding-top:22px;}
._2013102916593127410{background:url(/skin/x/index.png) no-repeat -2180px 0px;width:20px;padding-top:22px;}
._2013102917135870328{background:url(/skin/x/index.png) no-repeat -2200px 0px;width:20px;padding-top:22px;}
._2013102915581051626{background:url(/skin/x/index.png) no-repeat -2220px 0px;width:20px;padding-top:22px;}
._2013102916545491269{background:url(/skin/x/index.png) no-repeat -2240px 0px;width:20px;padding-top:22px;}
.atic{background:url(/skin/x/index.png) no-repeat -2260px 0px;width:20px;padding-top:22px;}
._2013102916341785979{background:url(/skin/x/index.png) no-repeat -2280px 0px;width:20px;padding-top:22px;}
._2013102916505925001{background:url(/skin/x/index.png) no-repeat -2300px 0px;width:20px;padding-top:22px;}
.Acrobat2{background:url(/skin/x/index.png) no-repeat -2320px 0px;width:20px;padding-top:22px;}
.Acrobat{background:url(/skin/x/index.png) no-repeat -2340px 0px;width:20px;padding-top:22px;}
.yy{background:url(/skin/x/index.png) no-repeat -2360px 0px;width:20px;padding-top:22px;}
.ai{background:url(/skin/x/index.png) no-repeat -2380px 0px;width:20px;padding-top:22px;}
._2013102917253378717{background:url(/skin/x/index.png) no-repeat -2400px 0px;width:20px;padding-top:22px;}
._2013102917333018231{background:url(/skin/x/index.png) no-repeat -2420px 0px;width:20px;padding-top:22px;}
.ACDSee{background:url(/skin/x/index.png) no-repeat -2440px 0px;width:20px;padding-top:22px;}
._201381912403562545{background:url(/skin/x/index.png) no-repeat -2460px 0px;width:32px;padding-top:34px;}
.CPUZ{background:url(/skin/x/index.png) no-repeat -2492px 0px;width:48px;padding-top:50px;}
.qq{background:url(/skin/x/index.png) no-repeat -2540px 0px;width:54px;padding-top:56px;}
.officed{background:url(/skin/x/index.png) no-repeat -2594px 0px;width:54px;padding-top:56px;}
.xindubad{background:url(/skin/x/index.png) no-repeat -2648px 0px;width:54px;padding-top:56px;}
.bdbrowser{background:url(/skin/x/index.png) no-repeat -2702px 0px;width:54px;padding-top:56px;}
.wps{background:url(/skin/x/index.png) no-repeat -2756px 0px;width:54px;padding-top:56px;}
._3DMark2{background:url(/skin/x/index.png) no-repeat -2810px 0px;width:58px;padding-top:60px;}
.Furmark{background:url(/skin/x/index.png) no-repeat -2868px 0px;width:58px;padding-top:60px;}
.IsMyLcdOK{background:url(/skin/x/index.png) no-repeat -2926px 0px;width:58px;padding-top:60px;}
.Prime95{background:url(/skin/x/index.png) no-repeat -2984px 0px;width:58px;padding-top:60px;}
.HWiNFO32{background:url(/skin/x/index.png) no-repeat -3042px 0px;width:58px;padding-top:60px;}
.GPU-Z{background:url(/skin/x/index.png) no-repeat -3100px 0px;width:58px;padding-top:60px;}
.SIV{background:url(/skin/x/index.png) no-repeat -3158px 0px;width:58px;padding-top:60px;}
.AIDA64{background:url(/skin/x/index.png) no-repeat -3216px 0px;width:58px;padding-top:60px;}
.Speccy{background:url(/skin/x/index.png) no-repeat -3274px 0px;width:58px;padding-top:60px;}
._91{background:url(/skin/x/index.png) no-repeat -3332px 0px;width:72px;padding-top:74px;}
.yisheng{background:url(/skin/x/index.png) no-repeat -3404px 0px;width:72px;padding-top:74px;}
.Fetion{background:url(/skin/x/index.png) no-repeat -3476px 0px;width:72px;padding-top:74px;}
.weixin{background:url(/skin/x/index.png) no-repeat -3548px 0px;width:72px;padding-top:74px;}
.wdjd{background:url(/skin/x/index.png) no-repeat -3620px 0px;width:72px;padding-top:74px;}
.uc{background:url(/skin/x/index.png) no-repeat -3692px 0px;width:72px;padding-top:74px;}
.sogou{background:url(/skin/x/index.png) no-repeat -3764px 0px;width:72px;padding-top:74px;}
.lds{background:url(/skin/x/index.png) no-repeat -3836px 0px;width:72px;padding-top:74px;}
.MobileQQ2{background:url(/skin/x/index.png) no-repeat -3908px 0px;width:72px;padding-top:74px;}
.SafeMgr{background:url(/skin/x/index.png) no-repeat -3980px 0px;width:72px;padding-top:74px;}

@charset "gb2312";
/*---- global.css begin----*/
html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
body{font:normal normal normal 12px/1.5em "微软雅黑",Arial, Helvetica,"宋体";text-align: center;height:100%;word-break : break-all;color:#444;}
div {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a{text-decoration: none;color:#444;}
a:hover{text-decoration:underline;color:#f60;}
a:active{outline:none;}
q:before, q:after {   content: '';   }    
abbr, acronym {  border: 0; }
code::selection{background-color:#209EEB}
::-moz-selection {color:#FFFFFF;background-color:#209EEB;}
code::-moz-selection{background-color:#209EEB}
li{list-style-type:none;}
img{border: none;}
fieldset{border-style: none }
label,button{cursor: pointer;}
select,input,textarea{font-size:12px;line-height:1.2em;color:#888;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix {display: block;}
.fix{word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow: hidden;display: block;}
.none{display: none;}
.nopic {width:32px;height:32px;background:url(/soft/ico/nopicbig.png) no-repeat 0 0;}
.nopicsmall {width:20px;height:20px;background:url(/soft/ico/nopic.png) no-repeat 0 0;}


.article-tags{margin-bottom: 15px;}
.article-tags a{display:inline-block;padding:2px 7px 1px;margin:0 1px;color:#eee;font-size:12px;background-color:#4a4a4a;opacity: 0.90;filter:alpha(opacity=90);}
.article-tags a:hover{background-color:#428bca;color:#fff;opacity: 1;filter:alpha(opacity=100);}
.article-tags a:nth-child(5n){background-color: #4A4A4A;}
.article-tags a:nth-child(5n+1){background-color: #428BCA;}
.article-tags a:nth-child(5n+2){background-color: #5CB85C;}
.article-tags a:nth-child(5n+3){background-color: #D9534F;}
.article-tags a:nth-child(5n+4){background-color: #F0AD4E;}

.detail-downBtn a{background:#f90;border:1px solid #f60;display:inline-block;color:#FFF;text-decoration:none;padding:0 5px;margin:5px;font-size:14px;line-height:28px;}
#demo{overflow:hidden;width:120px;text-align:center;padding:10px;}
#demo img{border:none;width:220px;height:174px;border:5px solid #f4f4f4}
#enlarge_images{position:absolute;display:none;z-index:2;border:5px solid #f4f4f4}

body{background:#f4f4f4;}
#wrapper{background:url(/skin/x/images/bg.png) repeat-x 0 -315px;}
#header{height:141px;overflow:hidden;}
#header,#page_content,#footer{width:980px;margin:0 auto;}
#header #top_logo{width:240px;height:91px;background:url(/skin/x/images/bg.png) no-repeat 0 0;float:left;}
#header #top_logo a{display:block;width:100%;height:100%;line-height:2000px;overflow:hidden;}

#top_search{float:left;width:515px;margin:20px 0 0 40px;display:inline;position:relative;}
#top_search .search_bar{height:37px;position:absolute;left:0;top:0;z-index:3;}
#top_search .input_tx{font-size:12px;line-height:12px;padding:9px 9px 9px;border:2px solid #DBDBDB;width:394px;float:left;border-right:none;margin:0;}
#top_search .tag_list{line-height:24px;color:#888;position:absolute;top:37px;left:0;z-index:2;}
#top_search .tag_list a{margin-right:6px;}
#top_search .btn_search{float:left;width:68px;height:36px;line-height:36px;font-size:14px;color:#fff;background:url(/skin/x/images/bg.png) no-repeat -336px -60px;text-align:center;font-weight:bold;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit内核兼容CSS */
#top_search .input_tx{padding:9px 9px 8px;}
}

#more-intro {
    font-size: 12px;
    border-top: 1px solid #C2EB9A;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
}
#more-intro-btn {
    display: block;
    float: right;
    padding: 0 5px;
    border-radius: 0 0 4px 4px;
    background: #C2EB9A;
    color: #319134;
}


#top_nav{clear:both;position:relative;}
.link_box{position:absolute;right:0;top:0;line-height:40px;}
.link_box,.link_box a{color:#fff;}
.link_box a{margin:0 6px;}
.main_nav{height:40px;overflow:hidden;zoom:1;line-height:40px;}
.main_nav li{float:left;padding:0 27px;line-height:40px;font-size:14px;font-weight:bold;}
.main_nav li,.main_nav li a{color:#fff;}
.main_nav li.current{background:url(/skin/x/images/bg.png) repeat-x 0 -272px;}
.main_nav li a:hover{color:#2e4f00;text-decoration: none;}

.layout_a,.layout_b,.layout_b_1,.layout_c,.layout_d,.layout_e{overflow:hidden;zoom:1;}
.layout_a .col_main{float:left;width:490px;}
.layout_a .col_side{float:right;width:480px;}

.layout_b .col_main{float:right;width:740px;}
.layout_b .col_side{float:left;width:230px;}
.layout_b_1 .col_b{float:left;width:520px;overflow:hidden;}
.layout_b_1 .col_s{float:right;width:210px;overflow:hidden;}

.layout_c .col_main{float:left;width:760px;overflow:hidden;}
.layout_c .col_side{float:right;width:210px;overflow:hidden;}

.layout_d .col_main{float:left;width:720px;overflow:hidden;}
.layout_d .col_side{float:right;width:250px;overflow:hidden;}
.layout_d .box,
.layout_e .box{margin-bottom:10px;}

.layout_e .col_main{float:right;width:720px;overflow:hidden;}
.layout_e .col_side{float:left;width:250px;overflow:hidden;}

#part_1,#part_3{height:60px;}
#part_1 img,#part_3 img{height:60px;}
#part_1,#part_2,#part_3,#part_4,#part_5{margin-bottom:10px;}
#part_5 {height:120px;}
#part_6{margin-bottom:10px;}
#part_7{margin-bottom:10px;}
#part_7 .tag_list{padding:10px;line-height:24px;color:#ccc;}
#part_7 .tag_list a{margin:0 6px;}

#mod_4 .bd{height:733px;overflow:hidden;}
#mod_555 .bd{height:733px;overflow:hidden;}
#mod_5,#mod_6{margin-bottom:10px;}
#mod_5 .bd,#mod_6 .bd{height:372px;overflow:hidden;}
#mod_5 .bd{padding:15px;height:342px;}
#mod_7 .bd,#mod_8 .bd{height:312px;overflow:hidden;}
#mod_8 .p_list_4{padding:15px;}
#mod_7 .p_list_3{height:226px;overflow:hidden;}
#mod_7 .tx_list_2{margin:0 15px;border-top:1px dotted #ccc;padding-top:10px;}
#mod_7 .tx_list_2 li{float:left;width:31%;height:24px;line-height:24px;}

#mod_5 .tx_list_1{float:right;width:490px;}
#mod_5 .item_link{width:350px;}
#mod_5 .p_list_1,#mod_5 .tx_list_2{float:left;width:130px;display:inline;}
#mod_5 .p_list_1{border-bottom:1px dotted #ccc;margin-bottom:5px;}
#mod_5 .tx_list_2{display:inline;}

#mod_9 .tab_bd,#mod_10 .tab_bd{height:479px;}
#mod_11 .bd,#mod_12 .bd{height:289px;}
#mod_10 .item_2{border-right:none;width:103px;_width:auto;}

.box_style_a {border:1px solid #d7d7d7;border-top:2px solid #5b9000;}
.box_style_a .hd{height:35px;border-bottom:1px solid #d7d7d7;padding-left:9px;line-height:35px;position:relative;background:#f5f5f5;}
.box_style_a .hd h3,.box_style_a .hd h3 a{color:#444444;font-size:14px;}
.box_style_a .hd .extra{position:absolute;right:10px;top:0;}
.box_style_a .hd .extra a{color:#6aa801;}
.box_style_a .bd{background:#fff;overflow:hidden;zoom:1;}

.box_style_b{background:#fff;border:1px solid #d7d7d7;}

.box_style_c {border:1px solid #d7d7d7;}
.box_style_c .hd{height:35px;border-bottom:1px solid #d7d7d7;padding-left:9px;line-height:35px;position:relative;background:#f5f5f5;}
.box_style_c .hd h3,.box_style_c .hd h3 a{color:#444444;font-size:14px;}  
.box_style_c .hd .extra{position:absolute;right:10px;top:0;} 
.box_style_c .hd .extra a{color:#6aa801;}
.box_style_c .bd{background:#fff;}


.ico_r{background:url(/skin/x/images/bg.png) no-repeat -250px -10px;width:7px;height:8px;font-size:0px;line-height:0px;}
.ico_r_1{background-position:-250px -10px;}
.ico_r_2{background-position:-260px -10px;}
.current a .ico_r_1,a:hover .ico_r_1{background-position:-250px -20px;}
.current a .ico_r_2,a:hover .ico_r_2{background-position:-260px -20px;}


.tab_style_1{border:1px solid #d7d7d7;}
.tab_style_1 .tab_hd{height:36px;border-bottom:1px solid #d7d7d7;line-height:36px;position:relative;background:#f5f5f5;}
.tab_style_1 .tab_hd .tabs_list{position:absolute;left:-1px;top:-1px;margin-right:-10px;white-space:nowrap;}
.tab_style_1 .tab_hd .tabs_list li{float:left;border-top:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;height:36px;}
#mod_9 .tab_hd .tabs_list li{border-bottom:none;}

.tab_style_1 .tab_hd .tabs_list li.current{border-top:1px solid #5b9000;border-bottom:1px solid #f5f5f5;overflow:hidden;}
.tab_style_1 .tab_hd .tabs_list li a{display:inline-block;color:#444444;font-size:14px;font-weight:bold;padding:0 17px;height:35px;line-height:35px;border-top:1px solid #fff;_padding:0 16px 0 17px;}
.tab_style_1 .tab_hd .tabs_list li.current a{border-top:1px solid #5b9000;}
.tab_style_1 .tab_hd .extra{position:absolute;right:10px;top:0;}
.tab_style_1 .tab_hd .extra a{color:#6aa801;}
.tab_style_1 .tab_hd {background:#f5f5f5}

.tab_style_2{padding-left:109px;overflow:hidden;zoom:1;}
.tab_style_2 .tab_hd{float:left;width:109px;margin-left:-109px;display:inline;height:289px;}
.tab_style_2 .tab_bd{height:269;padding:10px}
.tab_style_2 .tabs_list li{height:29px;text-align:center;line-height:29px;font-size:0px;overflow:hidden;}
.tab_style_2 .tabs_list li a{display:block;background:url(/skin/x/images/bg.png) no-repeat right 0;font-size:12px;height:29px;overflow:hidden;zoom:1;}
.tab_style_2 .tabs_list li.current{font-weight:bold;}
.tab_style_2 .tabs_list li a:hover,.tab_style_2 .tabs_list li.current a{color:#6aa801;background:url(/skin/x/images/bg.png) no-repeat right -30px;}

.tab_style_3 {border:1px solid #d7d7d7;}
.tab_style_3 .tab_hd{height:35px;border-bottom:1px solid #d7d7d7;line-height:35px;position:relative;background:#f5f5f5;position:relative;}
.tab_style_3 .tabs_list li{float:left;border-right:1px solid #d7d7d7;}
.tab_style_3 .tabs_list li a{display:inline-block;vertical-align:top;padding:0 25px 0 15px;color:#444444;position:relative;}
.tab_style_3 .tabs_list li.current a,
.tab_style_3 .tabs_list li a:hover{color:#f60;text-decoration: none;}
.tab_style_3 .tabs_list li.current a{background:url(/skin/x/images/bg.png) no-repeat right -99px;}
.tab_style_3 .tabs_list li a .ico_r{position:absolute;right:13px;top:15px;}
.tab_style_3 .tab_hd .extra{position:absolute;right:10px;top:0;}
.tab_style_3 .tab_hd .extra strong{color:#f60;font-weight:normal;}
.tab_style_3 .tab_bd{background:#fff;}

#top_search .tag_list a.color_strong,
.color_strong{color:#f60;}

.node_list a{padding:0 11px;}
.node_list li{padding:7px 0;}
.node_list li h4{font-size:12px;line-height:24px;height:24px;font-weight:bold;}
.node_list li h4,.node_list li h4 a{color:#5b9000;}
.node_list li .nodes{line-height:22px;color:#888}
.node_list li.even{background:#f3fbee;}

.node_list_3 {padding:5px 10px;}
.node_list_3 dt{height:23px;line-height:23px;border-bottom:1px solid #d7d7d7;position:relative;}
.node_list_3 dt h4{position:absolute;height:22px;left:22px;left:0;top:0;border-bottom:2px solid #6aa801;}
.node_list_3 dt a{color:#6aa801;}

.node_list_4{padding-top:3px;}
.node_list_4 li strong{color:#6aa801;font-weight:normal;}
.node_list_4 li{line-height:24px;}
.node_list_4 a{margin-right:6px;}

.nodes_box {position:relative;}
.nodes_box dl{float:left;width:125px;overflow:hidden;border-right:1px solid #d7d7d7;height:159px;border-bottom:1px solid #d7d7d7;}
.nodes_box dl.different{width:127px;border-right:none;}
.nodes_box dt{height:28px;line-height:28px;border-bottom:1px solid #d7d7d7;background:#f8f8f8;text-align:center;}
.nodes_box dt,.nodes_box dt a{color:#6aa801;}
.nodes_box dd{padding:6px 15px;background:#fff;border-bottom:1px solid #d7d7d7;}
.nodes_box .even dd{background:#f3fbee}

.btn_a{background:url(/skin/x/images/bg.png) no-repeat -318px -138px;width:82px;height:30px;text-align:center;line-height:30px;color:#fff;}
.btn_a:hover{color:#fff;background-position:-318px -171px;text-decoration: none;}

.btn_b{background:url(/skin/x/images/bg.png) no-repeat -319px -204px;width:81px;height:35px;text-align:center;line-height:35px;color:#fff;display:inline-block;}
.btn_b:hover{color:#fff;text-decoration: none;}

.tx_list_1 li{line-height:25px;position:relative;overflow:hidden;height:25px;}
.tx_list_1 li .date{position:absolute;right:0;top:0;}
.tx_list_1 li,.tx_list_1 li .node_link{color:#888;}
.tx_list_1 li .node_link{margin-right:6px;}
.tx_list_1 li .item_link{margin-left:6px;display:inline-block;vertical-align:middle;}

.tx_list_2 li{height:22px;line-height:22px;padding-left:10px;overflow:hidden;}
.tx_list_2 li a{display:block;}
.tx_list_2 .ico_l{width:3px;height:5px;background:url(/skin/x/images/bg.png) no-repeat -250px 0;float:left;margin:8px 0 0 -10px;display:inline;font-size:0px;line-height:0px;}

.tx_list_3{padding:10px;}
.tx_list_3 li{height:26px;overflow:hidden;line-height:26px;padding-left:24px;}
.tx_list_3 li .num{float:left;margin:6px 0 0 -24px;display:inline;width:19px;height:13px;line-height:13px;text-align:center;font-size:8px;background:#eaeaea;color:#888;}
.tx_list_3 li .top_num{background:#f60;color:#fff;}


.tx_list_4 li{float:left;width:290px;height:25px;line-height:25px;overflow:hidden;font-size:12px;}
.tx_list_4 li,.tx_list_4 li .node_link{color:#888;}
.tx_list_4 li{margin-right:15px;}

.tx_list_5{color:#888;padding:5px 10px;}
.tx_list_5 li{position:relative;zoom:1;}
.tx_list_5 li .detail{position:absolute;right:0;bottom:0;color:#6aa801;}

.tx_list_6{padding:10px;}
.tx_list_6 li{height:27px;line-height:27px;padding-left:10px;overflow:hidden;}
.tx_list_6 li a{display:block;color:#444;}
.tx_list_6 .ico_l{width:3px;height:3px;background:url(/skin/x/images/bg.png) no-repeat -250px -30px;float:left;margin:12px 0 0 -10px;display:inline;font-size:0px;line-height:0px;}

.tx_list_7{padding:10px;}
.tx_list_7 li{height:16px;line-height:16px;padding-left:10px;overflow:hidden;zoom:1;}
.tx_list_7 li a{display:block;color:#005DA5;}
.tx_list_7 .ico{width:16px;height:16px;float:left;display:inline;margin-right:5px;background:url(/skin/x/images/bg.png) no-repeat -250px -70px;}
.tx_list_7 .ico_l{background-position: -250px -70px;}
.tx_list_7 .ico_xunlei{background-position: -267px -70px;}
.tx_list_7 .ico_kuaiche{background-position: -285px -70px;}
.tx_list_7 .ico_xuanfeng{background-position: -302px -70px;}


.p_list_1 li{margin-bottom:7px;}
.p_list_1 .thumb{padding:2px;background:#fff;border:1px solid #d7d7d7;float:left;}
.p_list_1 .thumb,.p_list_1 .thumb img{width:124px;height:94px;}
.p_list_1 h3{width:100%;height:28px;line-height:28px;text-align:center;overflow:hidden;}
.p_list_1 h3,.p_list_1 h3 a{font-weight:normal;}

.p_list_2{padding:15px;}
.p_list_2 li{height:56px;padding-left:66px;margin-bottom:15px;color:#888;}
.p_list_2 li h3{height:18px;overflow:hidden;}
.p_list_2 li .thumb{margin-left:-66px;display:inline;float:left;}
.p_list_2 li .thumb,.p_list_2 li .thumb img{width:54px;height:54px;}

.p_list_3{padding-top:15px;}
.p_list_3 li{float:left;width:72px;margin:0 16px 9px 15px;display:inline;}
.p_list_3 li .thumb,.p_list_3 li .thumb img{width:72px;height:72px;}
.p_list_3 li h3{height:32px;text-align:center;line-height:32px;font-weight:normal;overflow:hidden;}

.p_list_4 li{padding-left:30px;height:20px;line-height:20px;margin-bottom:4px;}
.p_list_4 li .thumb{float:left;margin-left:-30px;display:inline;}
.p_list_4 li .thumb,.p_list_4 li .thumb img{width:20px;height:20px;} 
.p_list_4 li h3{font-weight:normal;height:20px;line-height:20px;overflow:hidden;}

.p_list_5{padding:15px 0 0 10px;}
.p_list_5 li{float:left;width:60px;margin:0 18px;display:inline;}
.p_list_5 li .thumb{text-align:center;}
.p_list_5 li .thumb,.p_list_5 li .thumb img{width:58px;height:58px;}
.p_list_5 li h3{height:30px;text-align:center;line-height:30px;font-weight:normal;overflow:hidden;}

.p_list_6 {padding:10px;}
.p_list_6 li{padding:10px 10px 10px 40px;border-bottom:1px dashed #eee;position:relative;zoom:1;}
.p_list_6 li .thumb{float:left;margin-left:-40px;display:inline;}
.p_list_6 li .thumb,.p_list_6 li .thumb img{width:36px;height:36px;}
.p_list_6 li a{color:#444;}
.p_list_6 li p{color:#888;height:18px;overflow:hidden;line-height:18px;}
.p_list_6 li .btn_download{position:absolute;right:0px;top:10px;color:#6aa801;}

.p_list_7 {padding:15px;}
.p_list_7 li{padding:10px 10px 10px 45px;position:relative;border-bottom:1px solid #efefef;zoom:1}
.p_list_7 li .thumb{float:left;margin-left:-45px;display:inline;}
.p_list_7 li .thumb,.p_list_6 li .thumb img{width:32px;height:32px;}
.p_list_7 li .thumb img{width:32px;height:32px;}
.p_list_7 li h3{line-height:21px;margin-right:200px}
.p_list_7 li h3 a{color:#6aa801;font-size:14px;}
.p_list_7 li .authorization{color:#888888;line-height:21px;}
.p_list_7 li p{margin-right:150px;color:#444;line-height:25px;margin-bottom:3px;}
.p_list_7 li .soft_meta .mt_item{display:inline-block;width:150px;color:#888;}
.p_list_7 li .mt_item strong{font-weight:normal;color:#444;}
.p_list_7 li .soft_sum{position:absolute;right:10px;top:10px;line-height:21px;}
.p_list_7 li .soft_sum .mt_item{margin-left:12px;color:#888;}
.p_list_7 li .btn{position:absolute;right:10px;top:50px;}


.letter_index{height:28px;line-height:28px;padding:0 10px;color:#ccc;margin-bottom:10px;}
.letter_index a{width:30px;color:#444;display:inline-block;text-align:center;}
.letter_index a:hover{background:url(/skin/x/images/bg.png) no-repeat -240px -138px;}

#footer{border-top:1px solid #d7d7d7;padding:20px 0;}
#site_link{text-align:center;line-height:36px;}
#site_link a{padding:0 12px;}
#site_copyright{line-height:36px;text-align:center;}
#site_certification{text-align:center;}
#site_certification a{margin:0 12px;}
#site_certification img{height:43px;}

.select_form{float:left;border-left:1px solid #5b9000;border-top:2px solid #5b9000;border-bottom:2px solid #5b9000;background:#fff;line-height:32px;width:80px;margin-left:-1px;}
.select_form a{display:block;line-height:32px;text-align:center;padding:0 15px;height:32px;overflow:hidden;line-height:31px\9\0;}

@media all and (min-width:0) { 
.select_form{line-height:31px\9;}
.select_form a{height:31px\9;line-height:31px\9;}
/* IE9 only, 现在IE10也支持 */
 }

.select_form a:hover{color:#fff;background:#888;text-decoration: none;}
.selected{position:relative;padding: 0 15px;cursor:pointer;}
.selected .ico_select{position:absolute;width:7px;height:4px;background:url(/skin/x/images/bg.png) no-repeat -260px 0;right:3px;top:14px;font-size:0px;line-height:0px;_top:8px}
.selected {text-align:center;}

.filter_box{padding:0 15px;margin-bottom:10px;}
.filter_box dl{padding:10px 10px 10px 90px;line-height:20px;border-bottom:1px dotted #d7d7d7;}
.filter_box dt{color:#444444;float:left;margin-left:-90px;display:inline;}
.filter_box dd a{padding:0 10px;color:#fff;display:inline-block;height:20px;line-height:20px;}

.filter_box dd a:hover{color:#fff; }
.filter_box dd a.current{background:#6aa801;color:#fff;}
.filter_box dd a.color_strong{color:#6aa801;;}
.filter_box .last{border:none}

.path{color:#888;height:30px;line-height:30px;}
.path a{color:#444;}
.path a.current{color:#6aa801;}

.null{padding:40px;text-align:center;font-size:16px;}
.null strong{color:#f60;}

.pagination{padding:0 30px;text-align:right;color:#444;height:30px;line-height:30px;position:relative;margin:20px 0;overflow:hidden;}
.pagination .pagenum{width:20px;}
.pagination .page_sum{color:#888;position:absolute;left:30px;top:0;}
.pagination a{display:inline-block;padding:0 10px;height:28px;border:1px solid #ccc;margin:0 3px;overflow:hidden;}
.pagination a:hover,.pagination a.current{color:#fff;background:#6aa801;border:1px solid #6aa801;}

.channel_list_box{min-height:700px;height:auto !important;height:700px;margin-bottom:10px;}

.info_box{padding:0px;line-height:21px;margin:9px;}
.info_box p{line-height:21px;margin-bottom:1em;}

#download_box ul{overflow:hidden;zoom:1;}
#download_box li{float:left;width:30%;margin-bottom:9px;}
.comment_box {padding:20px;position:relative;height:110px;}
.comment_box textarea{border:1px solid #ccc;width:675px;height:65px;margin:0 auto 5px;}
.comment_box .return{text-align:right;}
.comment_box .comment_sum{position:absolute;left:20px;bottom:20px;line-height:35px;}
.comment_box .comment_sum strong{font-weight:normal;color:#f60;}

.comment_list{padding:0 20px 10px;}
.comment_list li{border-bottom:1px dashed #e2e2e2;padding-top:5px;}
.comment_list .comment_date{height:30px;line-height:30px;color:#888;}
.comment_list .comment_user{color:#888;}
.comment_list .comment_user,.comment_list .comment_content,.comment_list p{display:inline;line-height:21px;}

.soft_detail{padding:20px 20px 20px 266px;overflow:hidden;zoom:1;position:relative;}
.soft_detail .thumb{position:absolute;left:10px;top:10px}
.soft_detail .thumb img{{padding:1px;border:1px solid #e4e4e4;-moz-box-shadow:3px 3px 4px #e4e4e4;-webkit-box-shadow:3px 3px 4px #000;box-shadow:3px 3px 4px #000;background:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#000000');}}
.soft_detail .meta_list {overflow:hidden;zoom:1;margin-bottom:10px;}
.soft_detail .meta_list li{float:left;width:138px;line-height:30px;height:30px;border-bottom:1px solid #eee;}
.soft_detail .meta_list li.different{width:100%;}
.soft_detail .meta_list li{padding-left:60px;}
.soft_detail .meta_list .meta_label{float:left;width:60px;margin-left:-60px;display:inline;text-align:right;}


.star_level{width:80px;height:16px;display:block;background:url(/skin/x/images/bg.png) no-repeat 0 -240px;margin-top:6px;}
.star_level b{display:block;height:16px;background:url(/skin/x/images/bg.png) no-repeat -83px -240px;}


.soft_download .btn_download{display:none;width:170px;height:52px;background:url(/skin/x/images/bg.png) no-repeat 0 -94px;float:left;}
.soft_download .btn_download:hover{background-position:0 -149px}

.digg{float:left;margin-left:10px;display:inline;width:252px;}
.digg_item{overflow:hidden;zoom:1;margin-bottom:5px;}
.digg_item .btn_digg{background:url(/skin/x/images/bg.png) no-repeat -172px -94px;width:42px;height:24px;line-height:24px;padding-left:24px;float:left;}
.digg_item .btn_digg:hover{text-decoration:none;color:#5b9000;}
.digg_good .btn_digg{background-position:-172px -94px;}
.digg_good .btn_digg:hover{background-position:-172px -146px;}
.digg_bad .btn_digg{background-position:-172px -120px;}
.digg_bad .btn_digg:hover{background-position:-172px -173px;}

.digg_item .score_line{float:left;width:120px;height:12px;line-height:12px;margin:5px 10px 0 3px;display:inline;}
.digg_item .score_line b{display:block;background:url(/skin/x/images/bg.png) no-repeat 0 -204px;height:15px;width:100%;}
.digg_good .score_line b{background-position:0 -204px}
.digg_bad .score_line b{background-position:0 -222px;}
.digg_item .score{float:left;height:24px;line-height:24px;width:60px;color:#888;}
