﻿* {
    border: 0;
}

@font-face {
  font-family: 'Segoe';
  font-style: normal;
  font-weight: 100;
  src: local('Segoe'), url(fonts/SEGOEUIL.ttf) format('truetype'), url(fonts/segeo-ui-light-webfont.eot) format('embedded-opentype');;
}