input {
    -webkit-appearance: none;
}
/* Universal */
body {
    background: url("../img/noise.png") #222222;
    font-family: 'Segoe', sans-serif;
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}
/* Avoid text resizing on Mobile Safari */
input {
    -webkit-appearance: none;
}

img {
    display: block;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

h1, h2, b {
    font-weight: normal;
}

ul, ol, li {
    list-style: none;
}

/* Helpers */

h3 {
    color: #415261;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font: bold 24px 'Segoe', sans-serif;
}

.section-title {
    color: #415261;
    letter-spacing: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0px;
    font: 100 55px 'Segoe', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
}

.section-title-W {
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 40px;
    font-style: normal;
    font-size: 34px;
    font-family: 'Segoe', sans-serif;
}

.special {
    color: silver;
    font: normal 28px 'Segoe', sans-serif;
}

.container {
    overflow: hidden;
    width: 700px;
    color: #415261;
    font: 0.96em/1.4em 'Segoe', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
    padding-left: 60px;
    font-weight: 600;
}

.container-W {
    overflow: hidden;
    width: 700px;
    color: #ffffff;
    font: 1em/1.4em "Segoe Negative";
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
    padding-left: 60px;
}

.slogan {
    clear: both;
    color: #FFF;
    text-align: left;
    text-transform: none;
    width: 80%;
    font: 60px 'Segoe', sans-serif;
    opacity: 1;
    margin-right: auto;
    margin-left: 0;
    padding-right: 70px;
    margin-top: 120px;
    line-height: 62px;
    margin-bottom: 0;
}

.tagline {
    color: #415261;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    font: bold 22px 'Segoe', sans-serif;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.1px;
    padding-right: 70px;
}

/* Sections */
nav {
    height: 100px;
    position: fixed;
    text-transform: none;
    z-index: 10;
    border-bottom: 4px solid #0685d6;
    background: white no-repeat;
    margin-top: -8px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    opacity: 0.93;
    left: 0;
}

.jrtop {
    width: 700px;
    height: 85px;
    text-transform: none;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    margin-top: 22px;
    d:;
}

.toplogo {
    position: fixed;
    text-transform: none;
    z-index: 10;
    opacity: 1;
    height: 80px;
    width: 180px;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 2px;
    margin-left: -40px;
}

.buttons {
    background-color: transparent;
    height: 44px;
    width: 500px;
    padding-left: 200px;
    font: normal 14px 'Segoe', sans-serif;
}

nav ul {
    overflow: hidden;
    position: relative;
    margin-right: auto;
    padding-bottom: 6px;
    width: 100%;
    padding-top: 25px;
}

    nav ul:after, nav ul:before {
        background: none no-repeat;
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        width: 220px;
        height: 22px;
    }

    nav ul:before {
        background-position: left top;
        left: 0;
    }

    nav ul:after {
        background-position: right top;
        right: 0;
    }

nav li {
    float: left;
    margin-right: 4px;
}

nav a {
    color: #415261;
    float: left;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: 'Segoe', sans-serif;
    padding: 1px 6px 3px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

nav .active {
    background-color: #0685d6;
    color: #fff;
}

nav a:hover, nav a:focus {
    color: #bababa;
    outline: none;
}

.background-image {
    height: 690px;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -3;
    top: 80px;
    margin-left: auto;
    right: 0;
    left: 0;
    margin-right: auto;
}



.logo {
    color: #97bf46;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 1;
    background: transparent no-repeat;
    width: 300px;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 55px;
}

    .logo a {
        color: #97bf46;
        float: left;
        height: 270px;
        opacity: 1;
        width: 300px;
        font-size: 14px;
        text-transform: uppercase;
        background: url(../img/icon1.png) no-repeat;
        font-weight: bold;
        font-variant: small-caps;
        text-align: right;
    }

        .logo a.active {
            -moz-transition-property: all;
            -moz-transition-duration: 2s;
            -o-transition-property: all;
            -o-transition-duration: 2s;
            -webkit-transition-property: all;
            -webkit-transition-duration: 2s;
            transition-property: all;
            transition-duration: 2s;
            color: black;
            opacity: 0.6;
        }

        .logo a .talk {
            background: url(../img/bubble1.jpg) no-repeat;
            height: 270px;
            opacity: 0;
            filter: alpha(opacity=0);
            -moz-transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-property: all;
            -o-transition-duration: 0.3s;
            -webkit-transition-property: all;
            -webkit-transition-duration: 0.3s;
            transition-property: all;
            transition-duration: 0.3s;
            width: 300px;
            text-align: center;
            text-indent: 34%;
            padding-top: 52px;
        }

        .logo a:hover .talk {
            opacity: 1;
            filter: alpha(opacity=100);
        }

greenbar {
    color: #fff;
    font-size: 11px;
    font-family: 'Segoe', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    background-image: none;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    margin-top: 10px;
}

.top {
    height: 28px;
    width: 500px;
    background-color: #96c13c;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 22px auto 55px;
}

.middle {
    font-size: 11px;
    font-family: 'Segoe', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    height: 55px;
    width: 80%;
    background: url(../img/footer-bg.png) no-repeat;
    background-size: auto 100%;
    margin: 55px auto;
    padding: 24px;
    color: white;
    top: 55px;
}

    .middle #eula, .middle #privacy, .middle #termsAndConditions {
        font-size: 14px;
        font-family: 'Segoe', sans-serif;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        text-transform: none;
        height: 40px;
        width: 80%;
        margin: 55px auto;
        padding: 20px;
        color: white;
        top: 55px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

        .middle #eula:hover, .middle #privacy:hover, .middle #termsAndConditions:hover {
            color: #4f4f4f;
        }

.topcopy {
    font-size: 14px;
    font-family: 'Segoe', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 24px;
    width: 100%;
    top: 6px;
    left: 5%;
    visibility: visible;
    position: relative;
}

.middlelinks {
    font-size: 11px;
    font-family: 'Segoe', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 22px;
    width: 100%;
    top: 10px;
    left: 5%;
    visibility: visible;
    position: relative;
}

.socialiconstop {
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    float: right;
}

    .socialiconstop a {
        margin: 0 10px 0 0;
        width: 55px;
        height: 55px;
        float: left;
        display: block;
        text-indent: -9999px;
    }

.socialicons {
    width: 250px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    float: right;
}

    .socialicons a {
        margin: 0 10px 0 0;
        width: 45px;
        height: 45px;
        float: left;
        display: block;
        text-indent: -9999px;
    }

#connect .twitter {
    background: url('../img/twitter_icon.png');
    background-repeat: no-repeat;
    color: #4d8195;
    width: 120px;
}

#connect .facebook {
    background: url(../img/facebook.png) no-repeat;
    color: #3b5998;
}

#connect .members {
    background: url('../img/members.png');
    background-repeat: no-repeat;
    color: #333;
}

#connect .email {
    background: url(../img/email.png) no-repeat;
    color: #333;
    width: 120px;
}

.socialiconstop .twitter {
    background: url(../img/tw_icon1.png) no-repeat 0;
    margin-top: -18px;
    margin-right: 20px;
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

    .socialiconstop .twitter:hover {
        background: url(../img/tw_icon2.png) no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

.socialiconstop .facebook {
    margin-top: -18px;
    margin-right: 20px;
    background-image: url(../img/fb_icon1.jpg);
    width: 55px;
    height: 55px;
}

    .socialiconstop .facebook:hover {
        background: url(../img/fb_icon2.jpg) no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }

.socialicons .twitter {
    background: url(../img/tw_icon1.png) no-repeat 0;
    margin-top: -18px;
    margin-right: 20px;
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

    .socialicons .twitter:hover {
        background: url(../img/tw_icon2.png) no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

.socialicons .facebook {
    margin-top: -18px;
    margin-right: 20px;
    background-image: url(../img/fb_icon1.png);
    width: 55px;
    height: 55px;
}

    .socialicons .facebook:hover {
        background: url(../img/fb_icon2.png) no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }

.socialicons .email {
    background: url(../img/mail_icon1.png) no-repeat 0;
    margin-top: -18px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
}

    .socialicons .email:hover {
        background-image: url(../img/mail_icon2.png);
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }



#arrows {
    background: url(../img/get-it-now-arrows.png) no-repeat;
    width: 450px;
    opacity: 1;
    height: 200px;
}

#getitnow {
    height: 202px;
    width: 415px;
    text-decoration: none;
    background: url(../img/get-it-now-logo.png) no-repeat;
    margin: 60px auto;
    background-position: 50% 80%;
}

    #getitnow #arrows {
        display: none;
    }

    #getitnow:hover #arrows {
        display: block;
    }

/*#getitnow:hover {
        height: 202px;
        width: 520px;
        text-decoration: none;
        margin-top: -20px;
        margin-left: 20%;
        background: url(../img/btn_download_2.png) no-repeat 50%;
        margin-bottom: 40px;
    }*/

.greenfooter {
    background: #96c13c 100%;
}

.computer {
    width: 66%;
    float: right;
    margin-top: -214px;
    margin-right: -15px;
}

    .computer img {
        width: 445px;
        margin-top: 21px;
    }

.social-icons {
    width: 48%;
    margin-top: 32px;
}

    .social-icons ul {
        padding-left: 0;
    }

    .social-icons li {
        display: inline-block;
        margin-right: 22px;
    }
        
    .social-icons li.bottom-row {
        display: inline-block;
        margin-right: 32px;
    }

    .social-icons img {
        height: 29px;
    }

    .social-icons .cloud img {
        height: 34px;
    }

    .social-icons .youtube img {
        height: 34px;
    }

    .social-icons .google-maps img {
        height: 34px;
    }

    .social-icons .games img {
        height: 34px;
    }

    #allRightsReserevd {
        margin-top: 0;
    }

.footer-social-icons {
    margin-top: 0;
    margin-bottom: 0;
}

    .footer-social-icons li {
        display: inline-block;
        width: 25px;
        height: 16px;
        margin-right: 26px;
    }

        .footer-social-icons li:last-child {
            margin-right: 32px;
        }

        .footer-social-icons li img {
            margin-top: 0;
            height: 100%;
        }

.grey-link {
    color: #415261;
}

#snapdo, #how-it-works, #download, #about {
    padding-top: 30px;
}