@charset "UTF-8";
/* ==========================================================================
   基本設定
   ======================================================================= */
/* --------------------------------------------------------------------------
   リセットCSS
   ----------------------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

.alt {
  position: absolute;
  top: -5000px;
  left: -999px; }

.alttext {
  text-indent: -1000px; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.clearboth {
  clear: both; }

.clearfloat {
  height: 1px;
  font-size: 1%;
  clear: both;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* --------------------------------------------------------------------------
   スプライト画像出力
   ----------------------------------------------------------------------- */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
html body {
  height: 100%; }

body {
  font-family: Hiragino Kaku Gothic Pro,ヒラギノ角ゴ Pro W3,Meiryo,メイリオ,sans-serif;
  font-size: 13px;
  line-height: 1.2; }

.displayBlock {
  display: block; }

strong {
  font-weight: bold; }

img {
  vertical-align: bottom; }
  img.imgL {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
  img.imgR {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px; }

a {
  color: #166d9f;
  text-decoration: none; }
  a:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    text-decoration: underline; }

#wrapper a {
  transition: all 0.2s 0s ease; }

/* ==========================================================================
   テーマ
   ======================================================================= */
body {
  background-color: #f18d00;
  background-position: center top;
  background-repeat: no-repeat; }

#wrapper {
  background-color: #fff;
  box-sizing: border-box; }

/* 各コーナーのヘッダー背景色 */
.structure-middle .col-head, #column-pr:before, #column-ad-text p a:before {
  background-color: #d6dee5; }

/* 各コーナーのヘッダー文字色 */
#column-news .col-head p, #column-pr:before {
  color: #333; }

/* 各コーナーの枠線色 */
.structure-middle .column {
  border-color: #ccc; }

/* ==========================================================================
  　レイアウト
   ======================================================================= */
/* wrapper */
#wrapper {
  position: relative;
  width: 1060px;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto; }

/* header */
#header {
  width: 970px;
  margin: 0 auto;
  padding-top: 10px; }

/* structure-middle */
.structure-middle {
  width: 970px;
  margin: 15px auto 0;
  overflow: hidden;
  text-align: left; }
  .structure-middle .structure-left {
    float: left;
    width: 640px; }
    .structure-middle .structure-left .structure-top {
      overflow: hidden;
      width: 640px;
      text-align: left; }
      .structure-middle .structure-left .structure-top .topMonitor {
        float: left;
        width: 500px; }
      .structure-middle .structure-left .structure-top #pickup {
        float: right;
        width: 130px; }
    .structure-middle .structure-left .structure-mid-left {
      width: 640px;
      overflow: hidden;
      margin-top: 15px; }
  .structure-middle .structure-right {
    float: right;
    width: 310px; }
  .structure-middle .structure-1st {
    float: left;
    width: 310px; }
  .structure-middle .structure-2nd {
    float: right;
    width: 310px; }

/* --------------------------------------------------------------------------
   ヘッダー
   ----------------------------------------------------------------------- */
#header {
  padding-top: 10px; }
  #header .header-top {
    display: table;
    width: 100%; }
    #header .header-top .logo-area, #header .header-top .related-link, #header .header-top .banner728 {
      display: table-cell;
      vertical-align: top; }

/* ロゴエリア
-------------------------------------------------------------------------- */
#header .logo-area {
  width: 126px; }
  #header .logo-area .logo-ntv {
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -1164px;
    width: 87px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0 20px 15px; }
  #header .logo-area .lang-setting {
    width: 114px;
    font-size: 0;
    text-align: left; }
    #header .logo-area .lang-setting .btn_rnd {
      display: inline-block;
      width: 55px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px; }
      #header .logo-area .lang-setting .btn_rnd a {
        display: block;
        width: 55px;
        height: 20px;
        border-radius: 3px;
        background: #7e7e7e;
        color: #fff;
        text-align: center;
        line-height: 20px; }
      #header .logo-area .lang-setting .btn_rnd:first-of-type {
        margin-right: 4px; }

/* ヘッダーリンク
-------------------------------------------------------------------------- */
#header .link-area {
  width: 116px; }
  #header .link-area .btn-timetable {
    margin-bottom: 3px; }
    #header .link-area .btn-timetable a {
      display: block;
      background-image: url(../images/sprite.png);
      background-position: 0px -154px;
      width: 106px;
      height: 22px;
      background-repeat: no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #header .link-area .ntvid_login {
    margin-bottom: 5px; }
    #header .link-area .ntvid_login a {
      display: block;
      background-image: url(../images/sprite.png);
      background-position: 0px -112px;
      width: 106px;
      height: 22px;
      background-repeat: no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #header .link-area .btn-news24 {
    margin-right: 6px; }
    #header .link-area .btn-news24 a {
      display: block;
      background-image: url(../images/sprite.png);
      background-position: 0px -1106px;
      width: 50px;
      height: 38px;
      background-repeat: no-repeat;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #header .link-area .btn-nod a {
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -1048px;
    width: 50px;
    height: 38px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  #header .link-area .related-link {
    width: 106px;
    font-size: 0; }
    #header .link-area .related-link .related-link-btn {
      display: inline-block;
      vertical-align: top; }

/* ラージバナー
-------------------------------------------------------------------------- */
#header .banner728 {
  width: 728px;
  height: 90px; }

/* メインメニュー
-------------------------------------------------------------------------- */
#header .menu-main {
  width: 970px;
  margin: 10px auto; }
  #header .menu-main ul {
    display: table;
    width: 100%; }
    #header .menu-main ul li {
      display: table-cell;
      border-right: dotted 1px #ccc;
      font-size: 13px;
      font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
      #header .menu-main ul li:last-child {
        border: none; }
      #header .menu-main ul li a {
        display: block;
        padding: 6px 20px;
        color: #333;
        text-align: center; }

/* サブ要素
-------------------------------------------------------------------------- */
#header .navi {
  display: table;
  width: 100%; }
  #header .navi div#search, #header .navi dl.hotword, #header .navi .menu-sub {
    display: table-cell;
    vertical-align: middle; }

/* 検索 */
#header #search {
  width: 160px;
  padding-right: 10px; }
  #header #search form {
    display: table;
    width: 160px;
    border: solid 1px #c1beba;
    box-sizing: border-box;
    border-radius: 3px; }
  #header #search .text-input {
    display: table-cell;
    vertical-align: middle; }
    #header #search .text-input input[type=search] {
      border-style: none;
      width: 120px;
      height: 21px;
      margin: 0;
      padding-left: 8px;
      font-size: 12px; }
  #header #search .btn-search {
    display: table-cell;
    background-color: #c1beba;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    #header #search .btn-search input[type=submit] {
      width: 40px;
      height: 21px;
      background: none;
      border: none;
      text-align: center;
      font-size: 12px; }

/* 注目ワード */
#header .hotword {
  padding-right: 10px; }
  #header .hotword dl {
    margin-right: 10px;
    overflow: hidden; }
  #header .hotword dt {
    float: left;
    padding-right: 5px;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-position: 0px -33px;
    width: 32px;
    height: 19px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px; }
  #header .hotword dd {
    margin-left: 42px;
    padding: 4px 0;
    font-size: 11px;
    vertical-align: middle; }
    #header .hotword dd a {
      color: #666;
      text-decoration: underline; }
      #header .hotword dd a:hover {
        text-decoration: none; }
      #header .hotword dd a:last-child {
        margin-right: 0; }

/* サブメニュー */
#header .menu-sub ul {
  width: 100%;
  text-align: right; }

#header .menu-sub li {
  display: inline-block;
  height: 23px;
  padding-right: 5px;
  font-size: 11px; }
  #header .menu-sub li a {
    display: block;
    height: 23px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #333;
    line-height: 23px; }
    #header .menu-sub li a:before {
      display: inline-block;
      height: 23px;
      margin-right: 3px;
      vertical-align: top; }

#header .menu-sub .nav-magazine a:before {
  content: url(../images/icon_mm.png); }

#header .menu-sub .nav-blog a:before {
  content: url(../images/icon_blog.png); }

#header .menu-sub .nav-invite a:before {
  content: url(../images/icon_form.png); }

#header .menu-sub .nav-present a:before {
  content: url(../images/icon_present.png); }

#header .menu-sub .nav-announcer a:before {
  content: url(../images/icon_announcer.png); }

#header .menu-sub .nav-app a:before {
  content: url(../images/icon_apps.png); }

#header .menu-sub .nav-hulu a:before {
  content: url(../images/icon_hulu.png); }

/* --------------------------------------------------------------------------
   フッター
   ----------------------------------------------------------------------- */
.structure-bottom {
  margin-top: 30px;
  padding-top: 20px;
  background: #eee;
  text-align: left; }
  .structure-bottom .menu-main {
    width: 970px;
    margin: 10px auto; }
    .structure-bottom .menu-main ul {
      display: table;
      width: 100%; }
      .structure-bottom .menu-main ul li {
        display: table-cell;
        border-right: dotted 1px #ccc;
        font-size: 13px;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
        .structure-bottom .menu-main ul li:last-child {
          border: none; }
        .structure-bottom .menu-main ul li a {
          display: block;
          padding: 6px 20px;
          color: #333;
          text-align: center; }
    .structure-bottom .menu-main ul li {
      border-right-color: #999; }
  .structure-bottom .menu-sub {
    width: 970px;
    margin: 20px auto; }
    .structure-bottom .menu-sub ul {
      padding: 5px 0;
      text-align: center;
      font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
      .structure-bottom .menu-sub ul li {
        display: inline-block;
        margin: 0 10px; }
        .structure-bottom .menu-sub ul li a {
          color: #333;
          font-size: 12px; }
  .structure-bottom dl {
    overflow: hidden;
    clear: left;
    padding: 0 45px;
    font-size: 12px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
    line-height: 1.8; }
    .structure-bottom dl dt {
      display: inline-block;
      width: 10em;
      height: 1.8em;
      margin-bottom: 10px;
      padding: 0 10px;
      background: #777;
      box-sizing: border-box;
      border-radius: 2px;
      color: #fff;
      text-align: center;
      line-height: 1.9em; }
    .structure-bottom dl dd {
      margin-bottom: 20px; }
      .structure-bottom dl dd ul li {
        display: inline;
        margin-right: 1em; }
        .structure-bottom dl dd ul li a {
          color: #666;
          text-decoration: underline; }
          .structure-bottom dl dd ul li a:hover {
            text-decoration: none; }

#footer {
  overflow: hidden;
  clear: left;
  padding: 15px;
  background: #444; }
  #footer ul {
    margin-bottom: 10px;
    text-align: center; }
    #footer ul li {
      display: inline-block;
      margin: 0 15px; }
      #footer ul li a {
        color: #fff; }
  #footer .copyright {
    color: #fff;
    font-size: 12px;
    text-align: center; }

#wrapper .column-notification {
  width: 970px;
  margin-right: auto;
  margin-left: auto; }
  #wrapper .column-notification .structure-left .structure-1st {
    margin-left: 0px; }

.topMonitor {
  position: relative;
  height: 310px;
  margin-top: 3px;
  padding: 10px 10px 0px;
  background-color: #444;
  box-sizing: border-box;
  border-radius: 5px; }

#pickup {
  position: relative; }
  #pickup h3 {
    position: absolute;
    top: 0px;
    z-index: 2;
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -1224px;
    width: 130px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  #pickup dl {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 130px;
    height: 274px;
    margin-top: 2px;
    padding-top: 37px;
    background-color: #444;
    border-radius: 5px;
    border-radius: 5px;
    text-align: center; }
    #pickup dl dd {
      margin-bottom: 5px;
      color: #fff;
      font-size: 10px;
      line-height: 1.5; }
      #pickup dl dd a {
        color: #fff; }

.bx-wrapper {
  position: relative;
  margin: 0 auto 30px;
  padding: 0; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bx-wrapper .bx-viewport {
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -20px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #bebebe;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  outline: 0;
  border-radius: 4px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffa200; }

.bx-wrapper .bx-prev {
  left: 10px;
  background-image: url(../images/sprite.png);
  background-position: 0px -546px;
  width: 30px;
  height: 30px; }

.bx-wrapper .bx-next {
  right: 10px;
  background-image: url(../images/sprite.png);
  background-position: 0px -596px;
  width: 30px;
  height: 30px; }

.bx-wrapper .bx-prev:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.bx-wrapper .bx-next:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  z-index: 9999;
  outline: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.bx-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #333\9;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px 20px 5px 10px;
  box-sizing: border-box; }

.bx-wrapper .caption.is-hidden {
  display: none; }

.bx-wrapper .caption .caption-date,
.bx-wrapper .caption .caption-comment {
  display: block;
  color: #fff;
  font-size: 10px;
  line-height: 1.4; }

.bx-wrapper .caption .caption-title {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4; }

.bx-wrapper .caption .btn-captionClose {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
  background: url(../images/btn_close.png) no-repeat;
  cursor: pointer; }

.bx-wrapper .caption .btn-captionClose:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.topMonitor .btn-captionOnOff {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 6px;
  width: 24px;
  width: 1.5rem;
  padding: 1px 0px;
  border: solid 1px #999;
  color: #eee;
  font-size: 9px;
  font-family: arial;
  text-align: center;
  cursor: pointer; }

.topMonitor .btn-captionOnOff:hover {
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.btnPlay {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 50px;
  padding-top: 40px;
  padding-bottom: 5px;
  background: url(../images/img_icon-movie.png) no-repeat center top;
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  text-align: center; }

.btnPlay:hover {
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

/* ==========================================================================
   コンテンツ
   ======================================================================= */
/* コーナー共通モジュール枠
-------------------------------------------------------------------------- */
.structure-middle .column {
  width: 310px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px; }

/* コーナー共通モジュール枠 ヘッダー
-------------------------------------------------------------------------- */
.structure-middle .col-head {
  position: relative;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .structure-middle .col-head h2 span, .structure-middle .col-head h2 a {
    display: block;
    height: 30px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }

/* コーナー共通モジュール枠 ヘッダータイトル */
#column-nowoa .col-head h2 a {
  background-position: 0px -996px; }

#column-news .col-head h2 a {
  background-position: 0px -496px; }

#column-sports .col-head h2 a {
  background-position: 0px -796px; }

#column-movie .col-head h2 a {
  background-position: 0px -446px; }

#column-event .col-head h2 a {
  background-position: 0px -296px; }

#column-topics .col-head h2 span {
  background-position: 0px -846px; }

#column-hulu .col-head h2 a {
  background-position: 0px -346px; }

#column-yu-movie .col-head h2 a {
  background-position: 0px -946px; }

#column-announcer .col-head h2 a {
  background-position: 0px -246px; }

#column-mobile .col-head h2 a {
  background-position: 0px -396px; }

#column-present .col-head h2 a {
  background-position: 0px -196px; }

#column-shop .col-head h2 a {
  background-position: 0px -696px; }

#column-ranking .col-head h2 span {
  background-position: 0px -646px; }

#column-twitter .col-head h2 a {
  background-position: 0px -896px; }

#column-sns .col-head h2 a {
  background-position: 0px -746px; }

/* 共通モジュール枠 ボディ
-------------------------------------------------------------------------- */
.structure-middle .col-body {
  padding: 6px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.4; }
  .structure-middle .col-body .structure {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    clear: left; }
    .structure-middle .col-body .structure .thumbnail {
      float: left;
      height: 60px;
      width: 80px;
      text-align: center; }
    .structure-middle .col-body .structure .text {
      margin-left: 90px;
      color: #444; }
      .structure-middle .col-body .structure .text strong {
        font-size: 12px;
        font-weight: normal; }
      .structure-middle .col-body .structure .text span {
        font-size: 11px; }

/* トップモニター
-------------------------------------------------------------------------- */
.topMonitor {
  position: relative;
  height: 310px;
  margin-top: 3px;
  padding: 10px 10px 0px;
  background-color: #444;
  box-sizing: border-box;
  border-radius: 5px; }

#pickup {
  position: relative; }
  #pickup h3 {
    position: absolute;
    top: 0px;
    z-index: 2;
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -1224px;
    width: 130px;
    height: 40px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  #pickup dl {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 130px;
    height: 274px;
    margin-top: 2px;
    padding-top: 37px;
    background-color: #444;
    border-radius: 5px;
    border-radius: 5px;
    text-align: center; }
    #pickup dl dd {
      margin-bottom: 5px;
      color: #fff;
      font-size: 10px;
      line-height: 1.5; }
      #pickup dl dd a {
        color: #fff; }

.bx-wrapper {
  position: relative;
  margin: 0 auto 30px;
  padding: 0; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bx-wrapper .bx-viewport {
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -20px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #bebebe;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  outline: 0;
  border-radius: 4px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffa200; }

.bx-wrapper .bx-prev {
  left: 10px;
  background-image: url(../images/sprite.png);
  background-position: 0px -546px;
  width: 30px;
  height: 30px; }

.bx-wrapper .bx-next {
  right: 10px;
  background-image: url(../images/sprite.png);
  background-position: 0px -596px;
  width: 30px;
  height: 30px; }

.bx-wrapper .bx-prev:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.bx-wrapper .bx-next:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  z-index: 9999;
  outline: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.bx-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #333\9;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px 20px 5px 10px;
  box-sizing: border-box; }

.bx-wrapper .caption.is-hidden {
  display: none; }

.bx-wrapper .caption .caption-date,
.bx-wrapper .caption .caption-comment {
  display: block;
  color: #fff;
  font-size: 10px;
  line-height: 1.4; }

.bx-wrapper .caption .caption-title {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4; }

.bx-wrapper .caption .btn-captionClose {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
  background: url(../images/btn_close.png) no-repeat;
  cursor: pointer; }

.bx-wrapper .caption .btn-captionClose:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.topMonitor .btn-captionOnOff {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 6px;
  width: 24px;
  width: 1.5rem;
  padding: 1px 0px;
  border: solid 1px #999;
  color: #eee;
  font-size: 9px;
  font-family: arial;
  text-align: center;
  cursor: pointer; }

.topMonitor .btn-captionOnOff:hover {
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.btnPlay {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 50px;
  padding-top: 40px;
  padding-bottom: 5px;
  background: url(../images/img_icon-movie.png) no-repeat center top;
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px #000;
  text-decoration: none;
  text-align: center; }

.btnPlay:hover {
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

/* コーナー[NOW OA]
-------------------------------------------------------------------------- */
#column-nowoa {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  #column-nowoa .btn-info {
    position: absolute;
    left: 108px;
    top: 3px;
    width: 110px;
    height: 17px; }
    #column-nowoa .btn-info a {
      display: block;
      width: 110px;
      height: 17px;
      background-image: url(../images/column-nowoa_btn-info.gif);
      background-repeat: no-repeat;
      background-position: 0px 0px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #column-nowoa .btn-program {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 11px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
    #column-nowoa .btn-program a {
      position: relative;
      display: inline-block;
      padding: 0 0 0 20px;
      color: #000;
      vertical-align: middle;
      text-decoration: none; }
    #column-nowoa .btn-program a:before,
    #column-nowoa .btn-program a:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
      vertical-align: middle; }
    #column-nowoa .btn-program a {
      display: block;
      padding: 4px 10px 3px 15px;
      background: #fff;
      border-radius: 2px;
      color: #666; }
      #column-nowoa .btn-program a:hover {
        text-decoration: none; }
      #column-nowoa .btn-program a:before {
        left: 5px;
        box-sizing: border-box;
        width: 4px;
        height: 4px;
        border: 4px solid transparent;
        border-left: 6px solid #666; }
  #column-nowoa .col-body table {
    width: 296px; }
    #column-nowoa .col-body table tr th {
      padding: 5px;
      background-color: #7e7e7e;
      border-bottom: 1px solid #fff;
      color: #fff;
      font: 12px Arial, Helvetica, sans-serif; }
    #column-nowoa .col-body table tr td {
      padding: 5px;
      background-color: #f3f3f3;
      border-bottom: 1px solid #fff;
      color: #444;
      font-size: 12px; }
      #column-nowoa .col-body table tr td a {
        color: #414141; }
      #column-nowoa .col-body table tr td h3 {
        width: 286px;
        height: 24px;
        margin-bottom: 10px;
        background-image: url(../images/column-nowoa_info-title.gif);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; }
      #column-nowoa .col-body table tr td .btn-close {
        margin-top: 10px; }
        #column-nowoa .col-body table tr td .btn-close a {
          display: block;
          width: 55px;
          height: 18px;
          margin-left: auto;
          margin-right: 0px;
          background-image: url(../images/column-nowoa_info-btn-close.gif);
          background-repeat: no-repeat;
          background-position: 0px 0px;
          text-align: left;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden; }
    #column-nowoa .col-body table .oa th {
      background-color: #222; }
      #column-nowoa .col-body table .oa th .now {
        display: block;
        width: 31px;
        height: 11px;
        margin-right: auto;
        margin-left: auto;
        background-image: url(../images/column-nowoa_now.gif);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; }
      #column-nowoa .col-body table .oa th .arrow {
        display: block;
        width: 8px;
        height: 12px;
        margin-right: auto;
        margin-left: auto; }
    #column-nowoa .col-body table .oa td {
      background-color: #444;
      color: #FFF; }
      #column-nowoa .col-body table .oa td .text {
        font-size: 11px; }
      #column-nowoa .col-body table .oa td a {
        color: #f5cd11; }
  #column-nowoa .col-body {
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    #column-nowoa .col-body table {
      width: 100%; }
      #column-nowoa .col-body table tr:last-of-type th, #column-nowoa .col-body table tr:last-of-type td {
        border-bottom: none; }

/* コーナー[最新ニュース]
-------------------------------------------------------------------------- */
#column-news .col-head p {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 12px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 30px; }
  #column-news .col-head p span {
    letter-spacing: 0px; }

#column-news .col-body .structure {
  overflow: hidden;
  width: 296px;
  margin-right: auto;
  margin-left: auto; }
  #column-news .col-body .structure dl {
    margin-left: 112px; }
    #column-news .col-body .structure dl dt {
      margin-bottom: 5px; }
    #column-news .col-body .structure dl dd {
      font-size: 12px; }

#column-news .col-body ul {
  margin-top: 10px; }
  #column-news .col-body ul li {
    margin-bottom: 0.2em;
    padding-left: 10px;
    background-image: url(../images/column-news_arrow.gif);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 12px; }

#column-news .col-body .links {
  overflow: hidden;
  width: 296px;
  margin-top: 5px;
  font-size: 0;
  text-align: right; }
  #column-news .col-body .links li {
    display: inline-block;
    margin-right: 4px;
    padding-left: 0px;
    background-image: none; }
  #column-news .col-body .links .list-end {
    margin-right: 0px; }

#column-news .col-body .btn-disaster {
  margin-top: 5px;
  padding: 0;
  background-image: none; }
  #column-news .col-body .btn-disaster > a {
    display: block;
    min-height: 30px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center; }
    #column-news .col-body .btn-disaster > a > span {
      display: inline-block;
      line-height: 18px; }
      #column-news .col-body .btn-disaster > a > span:before {
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle; }
      #column-news .col-body .btn-disaster > a > span.ico_disaster {
        letter-spacing: .1em; }
        #column-news .col-body .btn-disaster > a > span.ico_disaster:before {
          height: 18px;
          content: url(../images/news_ico-disaster.png); }
      #column-news .col-body .btn-disaster > a > span.ico_prevention {
        letter-spacing: .3em; }
        #column-news .col-body .btn-disaster > a > span.ico_prevention:before {
          height: 16px;
          content: url(../images/news_ico-prevention.png); }

#column-news .col-body #weather {
  position: relative;
  width: 294px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fbfbfb;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  color: #2a2a2a;
  line-height: 1.2; }
  #column-news .col-body #weather .wthr-today {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 64px;
    height: 17px;
    background-image: url(../images/column-news-weather_today.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  #column-news .col-body #weather .wthr-tomorrow {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 64px;
    height: 17px;
    background-image: url(../images/column-news-weather_tomorrow.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
  #column-news .col-body #weather .wthr-detail {
    position: absolute;
    left: 5px;
    top: 28px;
    width: 64px;
    height: 11px; }
    #column-news .col-body #weather .wthr-detail a {
      display: block;
      width: 64px;
      height: 11px;
      background-image: url(../images/column-news-weather_detail.gif);
      background-repeat: no-repeat;
      background-position: 0px 0px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #column-news .col-body #weather .wthr-weather {
    position: absolute;
    left: 80px;
    top: 5px;
    width: 115px;
    height: 34px; }
  #column-news .col-body #weather dl {
    display: block;
    position: absolute;
    left: 207px;
    top: 3px;
    width: 86px;
    color: #2a2a2a;
    font-size: 11px; }
    #column-news .col-body #weather dl dt {
      display: block;
      float: left;
      width: 5em;
      text-align: right; }
    #column-news .col-body #weather dl dd {
      margin-left: 5em; }

/* コーナー[スポーツ]
-------------------------------------------------------------------------- */
#column-sports .col-body .structure {
  overflow: hidden;
  width: 296px;
  margin-right: auto;
  margin-left: auto; }
  #column-sports .col-body .structure dl {
    margin-left: 85px; }
    #column-sports .col-body .structure dl dt {
      margin-bottom: 0px; }
    #column-sports .col-body .structure dl dd {
      color: #414141; }
      #column-sports .col-body .structure dl dd strong {
        font-size: 12px;
        font-weight: normal; }
      #column-sports .col-body .structure dl dd span {
        font-size: 11px; }

#column-sports .col-body ul {
  display: block;
  width: 296px;
  height: 22px;
  margin-top: 5px;
  overflow: hidden; }
  #column-sports .col-body ul li {
    display: block;
    float: left;
    width: 96px;
    height: 22px;
    margin-right: 4px; }
  #column-sports .col-body ul .list-end {
    margin-right: 0px; }

#column-sports .col-body dl.secondBanner {
  overflow: hidden;
  margin-top: 5px;
  padding-top: 5px;
  background-image: url(../images/column_border.gif);
  background-repeat: repeat-x;
  background-position: left top; }
  #column-sports .col-body dl.secondBanner dt {
    display: block;
    float: left;
    width: 80px; }
    #column-sports .col-body dl.secondBanner dt a img {
      width: 80px;
      height: auto; }
  #column-sports .col-body dl.secondBanner dd {
    margin-left: 85px; }
    #column-sports .col-body dl.secondBanner dd strong {
      font-size: 11px;
      font-weight: normal; }
    #column-sports .col-body dl.secondBanner dd span {
      color: #414141;
      font-size: 11px; }

/* コーナー[劇場映画]
-------------------------------------------------------------------------- */
#column-movie .col-head .btn-ntv-movie {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-movie .col-head .btn-ntv-movie a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-movie .col-head .btn-ntv-movie a:before,
  #column-movie .col-head .btn-ntv-movie a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-movie .col-head .btn-ntv-movie a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-movie .col-head .btn-ntv-movie a:hover {
      text-decoration: none; }
    #column-movie .col-head .btn-ntv-movie a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

/* コーナー[イベント]
-------------------------------------------------------------------------- */
#column-event .col-head .btn-ntv-event {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-event .col-head .btn-ntv-event a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-event .col-head .btn-ntv-event a:before,
  #column-event .col-head .btn-ntv-event a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-event .col-head .btn-ntv-event a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-event .col-head .btn-ntv-event a:hover {
      text-decoration: none; }
    #column-event .col-head .btn-ntv-event a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

/* コーナー[HPトピックス]
-------------------------------------------------------------------------- */
#column-topics .col-head .btn-rss {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-topics .col-head .btn-rss a {
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -72px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px; }

#column-topics .col-body ul li {
  font-size: 12px;
  padding-left: 35px;
  background-image: url(../images/column_icon-square.jpg);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  margin-bottom: 0.3em; }

#column-topics .col-body ul .new {
  background-image: url(../images/column_icon-new.gif);
  background-repeat: no-repeat;
  background-position: 0px 2px; }

/* コーナー[Hulu]
-------------------------------------------------------------------------- */
#column-hulu .col-body .structure .thumbnail {
  overflow: hidden; }
  #column-hulu .col-body .structure .thumbnail img {
    height: 60px; }

/* コーナー[日テレオンデマンド]
-------------------------------------------------------------------------- */
#column-yu-movie .col-head .btn-yu-movie {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-yu-movie .col-head .btn-yu-movie a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-yu-movie .col-head .btn-yu-movie a:before,
  #column-yu-movie .col-head .btn-yu-movie a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-yu-movie .col-head .btn-yu-movie a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-yu-movie .col-head .btn-yu-movie a:hover {
      text-decoration: none; }
    #column-yu-movie .col-head .btn-yu-movie a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

#column-yu-movie .col-body {
  padding: 0px; }
  #column-yu-movie .col-body #sectionNOD {
    border-bottom: 1px solid #ccc; }
  #column-yu-movie .col-body .structure {
    width: auto;
    padding: 7px;
    border-bottom: 1px dotted #ccc; }
    #column-yu-movie .col-body .structure.section2, #column-yu-movie .col-body .structure.section4 {
      border-bottom: none; }

/* コーナー[日テレアナウンサー]
-------------------------------------------------------------------------- */
#column-announcer .col-head .btn-announceroom {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-announcer .col-head .btn-announceroom a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-announcer .col-head .btn-announceroom a:before,
  #column-announcer .col-head .btn-announceroom a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-announcer .col-head .btn-announceroom a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-announcer .col-head .btn-announceroom a:hover {
      text-decoration: none; }
    #column-announcer .col-head .btn-announceroom a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

#column-announcer .col-body .structure .thumbnail {
  overflow: hidden; }
  #column-announcer .col-body .structure .thumbnail img {
    height: 60px; }

/* コーナー[ケータイ]
-------------------------------------------------------------------------- */
#column-mobile .col-head .btn-ntv-mobile {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-mobile .col-head .btn-ntv-mobile a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-mobile .col-head .btn-ntv-mobile a:before,
  #column-mobile .col-head .btn-ntv-mobile a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-mobile .col-head .btn-ntv-mobile a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-mobile .col-head .btn-ntv-mobile a:hover {
      text-decoration: none; }
    #column-mobile .col-head .btn-ntv-mobile a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

/* コーナー[日テレプレゼント]
-------------------------------------------------------------------------- */
#column-present .col-head .btn-ntv-present {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-present .col-head .btn-ntv-present a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-present .col-head .btn-ntv-present a:before,
  #column-present .col-head .btn-ntv-present a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-present .col-head .btn-ntv-present a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-present .col-head .btn-ntv-present a:hover {
      text-decoration: none; }
    #column-present .col-head .btn-ntv-present a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

/* コーナー[日テレショッピング]
-------------------------------------------------------------------------- */
#column-shop {
  margin-top: 20px; }
  #column-shop .col-head .btn-ntv-shop {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 11px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
    #column-shop .col-head .btn-ntv-shop a {
      position: relative;
      display: inline-block;
      padding: 0 0 0 20px;
      color: #000;
      vertical-align: middle;
      text-decoration: none; }
    #column-shop .col-head .btn-ntv-shop a:before,
    #column-shop .col-head .btn-ntv-shop a:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
      vertical-align: middle; }
    #column-shop .col-head .btn-ntv-shop a {
      display: block;
      padding: 4px 10px 3px 15px;
      background: #fff;
      border-radius: 2px;
      color: #666; }
      #column-shop .col-head .btn-ntv-shop a:hover {
        text-decoration: none; }
      #column-shop .col-head .btn-ntv-shop a:before {
        left: 5px;
        box-sizing: border-box;
        width: 4px;
        height: 4px;
        border: 4px solid transparent;
        border-left: 6px solid #666; }
  #column-shop .col-body {
    padding-right: 5px;
    padding-left: 5px; }

/* コーナー[アクセスランキング]
-------------------------------------------------------------------------- */
#column-ranking .col-body dl {
  height: 190px;
  overflow: auto;
  display: block; }
  #column-ranking .col-body dl dt {
    font: bold 11px Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    text-align: right;
    width: 1em; }
  #column-ranking .col-body dl dd {
    font-size: 12px;
    margin-bottom: 0.3em;
    background-image: url(../images/column-ranking-icon-flat.gif);
    background-repeat: no-repeat;
    background-position: 18px center;
    padding-left: 34px;
    border-bottom: 1px solid #e4e4e4; }
  #column-ranking .col-body dl .up {
    background-image: url(../images/column-ranking-icon-up.gif); }
  #column-ranking .col-body dl .down {
    background-image: url(../images/column-ranking-icon-down.gif); }

/* コーナー[日テレSNS参加コンテンツ]
-------------------------------------------------------------------------- */
#column-sns .col-body ul {
  margin: 10px 0;
  font-size: 0; }
  #column-sns .col-body ul li {
    display: inline-block;
    width: 73.5px;
    font-size: 13px;
    text-align: center; }
    #column-sns .col-body ul li p {
      margin-top: 5px; }

/* コーナー[Twitter]
-------------------------------------------------------------------------- */
#column-twitter .col-head .btn-ntv-twitter {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-twitter .col-head .btn-ntv-twitter a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-twitter .col-head .btn-ntv-twitter a:before,
  #column-twitter .col-head .btn-ntv-twitter a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-twitter .col-head .btn-ntv-twitter a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-twitter .col-head .btn-ntv-twitter a:hover {
      text-decoration: none; }
    #column-twitter .col-head .btn-ntv-twitter a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

#column-twitter .col-head .btn-ntv-fb {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 11px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif; }
  #column-twitter .col-head .btn-ntv-fb a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-twitter .col-head .btn-ntv-fb a:before,
  #column-twitter .col-head .btn-ntv-fb a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-twitter .col-head .btn-ntv-fb a {
    display: block;
    padding: 4px 10px 3px 15px;
    background: #fff;
    border-radius: 2px;
    color: #666; }
    #column-twitter .col-head .btn-ntv-fb a:hover {
      text-decoration: none; }
    #column-twitter .col-head .btn-ntv-fb a:before {
      left: 5px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 6px solid #666; }

#column-twitter .col-body .twtr-tweet {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  padding-top: 5px; }
  #column-twitter .col-body .twtr-tweet p.tweet-txt {
    font-size: 11px;
    line-height: 1.2;
    color: #414141; }
  #column-twitter .col-body .twtr-tweet p a {
    color: #000;
    font-weight: bold; }
    #column-twitter .col-body .twtr-tweet p a:hover {
      text-decoration: underline;
      color: #666; }
    #column-twitter .col-body .twtr-tweet p a.twtr-user {
      color: #F30;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      margin-right: 5px;
      text-decoration: none; }
      #column-twitter .col-body .twtr-tweet p a.twtr-user:hover {
        text-decoration: underline;
        color: #FF7553; }
  #column-twitter .col-body .twtr-tweet p i a {
    font-family: Tahoma, Geneva, sans-serif;
    color: #333; }
    #column-twitter .col-body .twtr-tweet p i a:hover {
      text-decoration: underline; }

#column-twitter .col-body .twtr-hd {
  display: none; }

#column-twitter .col-body p .note {
  font-size: 77%; }

/* バナー
-------------------------------------------------------------------------- */
/* banner300 */
.banner300 {
  margin-bottom: 10px;
  padding: 4px;
  box-sizing: border-box;
  border: solid 1px #999; }

/* banner150 */
.banner150 {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px; }
  .banner150 div {
    float: left;
    width: 150px; }
  .banner150 .banner1st {
    margin-right: 10px; }

.banner {
  margin-bottom: 10px; }

.column-banner {
  width: 310px;
  margin-bottom: 10px;
  padding: 4px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 5px; }
  .column-banner img {
    border: solid 1px #ccc;
    vertical-align: bottom; }

/* pr
-------------------------------------------------------------------------- */
#column-pr {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px; }
  #column-pr:before {
    display: inline-block;
    content: "PR";
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 10px;
    letter-spacing: .2em; }
  #column-pr a {
    color: #444;
    text-decoration: underline; }
    #column-pr a:hover {
      text-decoration: none; }

/* ad-gif
-------------------------------------------------------------------------- */
.column-ad-gif {
  background-image: url(../images/column-ad_bg.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 310px;
  height: 70px;
  margin-bottom: 9px; }
  .column-ad-gif .structure {
    overflow: hidden;
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px; }
    .column-ad-gif .structure .thumbnail {
      float: left;
      height: 50px;
      width: 50px;
      text-align: center; }
    .column-ad-gif .structure .text {
      margin-left: 56px;
      color: #414141; }
      .column-ad-gif .structure .text a {
        color: #414141; }
      .column-ad-gif .structure .text strong {
        font-size: 14px; }
      .column-ad-gif .structure .text span {
        font-size: 12px; }

/* ad-text
-------------------------------------------------------------------------- */
#column-ad-text p {
  margin-bottom: 10px; }
  #column-ad-text p a {
    position: relative;
    display: inline-block;
    padding: 0 0 0 20px;
    color: #000;
    vertical-align: middle;
    text-decoration: none; }
  #column-ad-text p a:before,
  #column-ad-text p a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle; }
  #column-ad-text p a {
    color: #333;
    text-decoration: underline; }
    #column-ad-text p a:before {
      width: 12px;
      height: 12px; }
    #column-ad-text p a:after {
      left: 5px;
      box-sizing: border-box;
      width: 3px;
      height: 3px;
      border: 3px solid transparent;
      border-left: 3px solid #fff; }
    #column-ad-text p a:hover {
      text-decoration: none; }

/* バナー[日テレ学院]
-------------------------------------------------------------------------- */
.column-ntvg {
  width: 310px;
  margin-bottom: 9px;
  padding: 4px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 3px;
  text-align: center; }
  .column-ntvg img {
    border: solid 1px #ccc; }

/* column-info
-------------------------------------------------------------------------- */
.column-info {
  width: 310px;
  min-height: 80px;
  padding: 4px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 3px; }
  .column-info .structure {
    overflow: hidden;
    padding: 5px;
    background-color: #eee;
    border-radius: 3px; }
    .column-info .structure .thumbnail {
      float: left;
      height: 60px;
      width: 80px; }
    .column-info .structure .text {
      margin-left: 85px;
      color: #414141; }
      .column-info .structure .text a {
        color: #414141; }
      .column-info .structure .text strong {
        font-size: 14px; }
      .column-info .structure .text span {
        font-size: 12px; }

/* ==========================================================================
  その他設定
   ======================================================================= */
/* CSS Document */
@media print {
  .structure-top {
    display: none; } }

/* 2015.06.04 リマーケティングタグ対応 */
iframe[name="google_conversion_frame"] {
  display: none; }
