﻿*{
	/* Universal reset: */
	margin: 0;
	padding: 0;
}

html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size: 0.825em;
	color: #fcfcfc;
	/*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
	font-family:"Segoe UI Light", sans-serif;
	z-index:50;

}

.head{
	margin-top:80px;
	*margin-top:0px;
	
	z-index:10;		
	background-image: url('png/header-blue.png');
	background-repeat:no-repeat;
	background-position:center;
	margin-left:auto;
	margin-right:auto;
	position:fixed;

	width: 100%;
	*display:inline;/* IE*/
	
	height:190px;

}

.head ul {
	list-style-type: none;
	height: 25px;
	width: 1024px;
	margin: auto;
	color:white;
}


.head li {
	color:white;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	line-height: 125px;
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	font-size: 16px;
	height:25px;
}

.footer ul {
	list-style-type: none;
	height: 25px;
	width: 700px;
	color:white;
	margin-left:auto;
	margin-right:auto;
}


.footer li {
	color:white;
	/*float: left;*/
	padding-right: 15px;
	padding-left: 15px;
	display: inline-block;
	line-height: 125px;
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	font-size: 16px;
	height:25px;

}


/*.head li:hover {
	background-color:#7E00FF;
	color: white;
	height: 23px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.head li:active {
	background-color:#7E00FF;
	color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;*/


.head li:active {
	background-color:#21558C;
	color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
} 


.first
{
	padding-left: 60px;		
}

.navigation
{
	width:120px;
	height:80px;	
}

.head_logo{
	z-index:1;
	margin-top:30px;
	margin-left:50px;
	float:left;

	/*position:absolute;*/
}

.section {
	width:894px;
	height:2550px;
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	background-image:url('png/bg_no_shadow.png');
	margin-top:-80px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-20px;
	left:50%;
	right:50%;
	
}

.shadow {
	-moz-box-shadow:	0 0 30px #888;
	-webkit-box-shadow:	0 0 30px #888;
	box-shadow:			0 0 30px #888;

}


.article1.left_col {
	float:left;
	width: 368px;
	height: 540px;
}

.article1.right_col {
	float: left;
	width: 400px;
	height: 540px;
	margin-top:290px;
    margin-left: 60px;
}


.article1.center_col {
	width:290px;
	margin-top:300px;
	position:relative;
	float:left;
	height:340px;
}

.article1.center_co2 {
	width:290px;
	margin-top:50px;
	position:relative;
	float:left;
	height:117px;
}

.logo {
	float: left;
	position:fixed;
	margin-left:50px;
	margin-top:-100px;
}


h1 {
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	font-style:inherit;
	font-style:normal;
	color: #21558C;
	font-size: 72pt;
	text-align:left;
	letter-spacing:-3px;
}

h2 {
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	font-style:inherit;
	font-style:normal;
	color: #21558C;
	font-size: 58pt;
	text-align:left;
	letter-spacing:-3px;
	margin-left:50px;
}

h3 {
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	font-style:normal;
	color: #21558C;
	font-size: 23pt;
	letter-spacing:-1px;
	word-spacing:1px;
	text-align:left;
	line-height:34px
}

p {
	font-family:"Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
	font-weight:lighter;
	color: #21558C;
	font-size: 14pt;
	text-align:left;
	letter-spacing:-0.5px;
}

.line {
	height: 1px;
	background-color: #b3b3b3;
	border-bottom: 1px solid #cccccc;
	margin-top:50px;
	margin-bottom:50px;
	width:740px;
	max-height:4px;
	z-index:2;
	float:left;
	margin-left:75px;
}

.white{
	color:white !important;	
}

a {
	color:white;
	padding-left:6px;
	padding-right:6px;
}

#headlines a:active 
{
	background-color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #21558C;
}


#headlines a:hover, a:focus {
	background-color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #21558C;
	outline: none;
}


.button {
	background-image:url('png/button-default-blue.png');
	width:94px;
	height:125px;
	float:right;
	cursor:pointer;	
}

.button:hover {
	background-image:url('png/button-hover-blue.png');
	width:94px;
	height:125px;
	float:right;  
	cursor:pointer;	
 
}
	
.button:active {
	background-image:url('png/button-press-blue.png');
	width:94px;
	height:125px;
	float:right;
	cursor:pointer;	

	}
.article2 credit {
	width:1024px;
	float:left;
	margin-top:0px;
	margin-left:50px;
	
}

.articlel3 {
	width:894px;
	height:560px;
}

.article3_pink {
	background-image:url('png/blue_bg-34.png');
	background-repeat:no-repeat;
	width:895px;
	height:auto;
	margin-left:0px;	
	background-size:895px;
	float:left;	
}

.article3_Left_col {
	width:480px;
	margin-left:50px;
	float:left;
}

.article3_Left_col_wide {
	width:500px;
	margin-left:50px;
	float:left;
}

.article3_right_col {
	float: right;
	width: 315px;
	margin-right:40px;
	margin-top:5px;
}


.article3_up{
	width:1024px;
	background-image:url('png/up_icon.png');
	background-repeat:no-repeat;
	background-position:center;
	float:right
}

.button_up {
	background-image:url('png/up_icon.png');
	background-position:center;
	width:65px;
	height:65px;
	cursor:pointer;	
	left:50%;
	right:50%;
}

.button_up:hover {
	background-image:url('png/up_icon_hover.png');
	background-position:center;
	width:65px;
	height:65px;
	cursor:pointer;
}
	
.button_up:active {
	background-image:url('png/up_icon_pressed.png');
	background-position:center;
	width:65px;
	height:65px;
	cursor:pointer;	
}

.footer {
	background-image:url('png/footer-blue.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	margin-right:auto;
	width:100%;
	height:125px;
	z-index:6;
	position:relative;
	bottom:0px;
	margin-top:-40px;
	float:left;
}



#footer_headlines a:active 
{
	background-color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #21558C;
}


#footer_headlines a:hover, a:focus {
	background-color: white;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #21558C;
	outline: none;
}

#footer_headlines
{
width:700px;
}


.button_fb {
	background-image:url('png/butt_fb_off.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_fb:hover {
	background-image:url('png/butt_fb_on.png.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.active #fb_tn
{
	background-image:url('png/butt_fb_on.png.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	
.button_twitter {
	background-image:url('png/butt_twitter_off.png.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_twitter:hover {
	background-image:url('png/butt_twitter_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.active #twitter_tn 
{
	background-image:url('png/butt_twitter_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	

.button_search {
	background-image:url('png/butt_search_off.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_search:hover {
	background-image:url('png/butt_search_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	
.active #search_tn {
	background-image:url('png/butt_search_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_translate {
	background-image:url('png/butt_translate_off.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_translate:hover {
	background-image:url('png/butt_translate_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	
.active #translate_tn {
	background-image:url('png/butt_translate_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_safe {
	background-image:url('png/butt_safe_off.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_safe:hover {
	background-image:url('png/butt_safe_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	
.active #safe_tn {
	background-image:url('png/butt_safe_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_more {
	background-image:url('png/butt_more_off.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}

.button_more:hover {
	background-image:url('png/butt_more_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}
	

.active #more_tn {
	background-image:url('png/butt_more_on.png');
	background-position:center;
	width:40px;
	height:40px;
	cursor:pointer;	
}


#slide_model{
	position:relative;
	left:-80px;
	opacity:0;
	filter:alpha(opacity=0);	
}
