﻿/* Layout */
#title, #search{display:none;}
#centermain{}
#moreHeader{width:995px; margin:0 auto;}
#main{
	position:relative; 
	width:995px; 
	margin:0 auto; 
	text-align:left;
	padding-bottom:20px;
}
#content{
	width:740px; 
	float:left; 
	padding:40px 0 0;
}
.bloglist{
	float:left; 
	width:180px;
}
#blogPosts{
	float:right; 
	width:550px;
}

/* Bloglist */

.ctitv .bloglist .boiteh{
	background-image:none;
	width:180px;
	border:1px solid #f658b5;
	padding:5px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.bloglist .boiteh{
	background-image:none;
	width:180px;
	border:1px solid #2e7a9c;
	padding:5px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.bloglist .boiteb{display:none;}
.bloglist h2{
	display:block;
	clear:both;
}
#blogPosts h2{
	border-bottom:5px double #2E7A9C;
	color:#6DB9D8;
	font-size:15px;
	margin-bottom:20px;
	padding:5px 0;
}
.latestNews{margin:0 10px 18px;}

.boiteh img{margin-bottom:8px;}

/* Posts &Comment */
#PreviousNext{
	text-align:center;
	margin-top:10px;
}
.entrylist, 
.comment{
	font-size:13px;
	margin:0 20px;
}
h4+.entrylist{padding-top:20px}
.postContent,
.commentbody{
	padding:18px 0;
	word-break:break-all;
	word-wrap:break-word;
}
.postContent{
	line-height:2em\9;
	vertical-align: bottom\9;
}
.postContent img {
	display: inline;
}
.formTbl th{width:80px;}
.info{width:100%;}
#PostComment_ascx_tbComment{width:380px; height:200px;}
.captcha img{margin-bottom:10px;}
.captcha input{margin-left:10px;width:60px; font-family:verdana, sans-serif; text-align:center;}
.postContent table td{padding:3px 5px;}

/* Photo Album */
#GalleryThumbNailViewer_ascx_ThumbNails td{
	vertical-align:middle;
	text-align:center;
	padding:5px;
}
#GalleryThumbNailViewer_ascx_ThumbNails td img{
	margin:auto;
	padding:2px;
	border:1px solid #2E7A9C!important;
}
.imageFrame{
	margin: 0 20px 30px; 
	text-align:center;
}
.imageFrame h2{text-align:left;}
.imageFrame img{
	margin:10px auto 20px; 
	padding:2px;
	border:1px solid #2E7A9C!important;
}

/* Font Style*/
h3{
	color:#FEFFC5; 
	text-align:left;
}
.ctitv h3 a{
	color:#f658b5; 
	text-align:left;
}

.ctitv .boiteh h2 a{
color: #f658b5;
}
h4{
	font-size:12px;
	font-weight:400;
	margin:-20px 20px 12px 0;
}

/*
.bloglist .boiteh{
	width:180px;
	background:url(http://www.ctitv.com.tw/images/boite_page_droit.gif) no-repeat -794px -135px;
}
.bloglist .boiteb{background:url(http://www.ctitv.com.tw/images/boite_blog_b.gif) no-repeat 0 100%;}
*/