﻿#container{padding:0;}

/* CAROUSEL */
.carouselWindow {
	position: relative;
	width: 995px;
	height: 395px;
	overflow: hidden;
}

.carouselContainer {
	position: absolute;
	width: 5970px;
	height: 395px;
	overflow: hidden;
	top:0;
	left:0;
}	
.carouselItem {
	width: 995px;
	height: 395px;
	float: left;
	position: relative;
	cursor: pointer;
}

/* CAROUSEL CONTROLS */
.carouselControls {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	overflow: hidden;
	display: none;
	z-index: 35;
}
.carouselControlsBg {
	position: relative;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 60px;
	z-index: 1;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.carouselControls ul{
	margin-left: 140px;
	position: absolute;
	z-index: 5;
}
.carouselControls ul li{
	float: left;
	display: inline;
	margin: 10px 0 0 15px;
	height: 43px;
	width: 78px;
}
.carouselControls ul li a{
	border: 1px solid #666;
	height: 44px;
	width: 78px;
	display: block;
}
.carouselControls ul li a.active,
.carouselControls ul li a:hover {
	margin: -1px;
	border: 1px solid #E30009;
}
.carouselThumb img{width:78px; height:44px;}

/* CAROUSEL ARROWS */
.carouselArrows {
	position: absolute;
	bottom: 5px;
	left: 25px;
	z-index: 40;
}
.carouselArrows a:hover{background-position: 0 0!important;}
a#prevBtn,
a#nextBtn {
	width: 39px;
	height: 44px;
	display: block;
	text-indent: -9999px;
	float: left;
	position: relative;
	z-index: 70;
}
a#prevBtn{background: url(http://www.ctitv.com.tw/images/btn_bb.png) no-repeat bottom left;}
a#nextBtn{background: url(http://www.ctitv.com.tw/images/btn_ff.png) no-repeat bottom left;}

/* CAROUSEL VIDEO */
#videoPlayerOverlay {
	width: 995px;
	height: 395px;
	position: absolute;
	z-index: 50;
	background:#000;
	display: none;
	background: url(http://www.ctitv.com.tw/images/transbg.png) repeat 0 0;
}
.videoPlayer{
	position:relative;
	width:425px;
	height:320px;
	top:20px;
	left:260px;
}
a#videoCloseBtn {
	position: absolute;
	top: -15px;
	right: -15px;
	display: block;
	height: 42px;
	width: 42px;
	background:url(http://www.ctitv.com.tw/images/btn-fermer.png) no-repeat;
	text-indent:-999em;
	z-index:999;
	cursor:pointer;
}
#videoPlayerDiv{
	position:absolute;
	top:0;
	left:0;
	width:425px;
	height:320px;
	z-index:60;
}
object#videoPlayer{
	display:block;
}

/* CAROUSEL ITEM CONTENT */
.itemDetails {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 333px;
}
.airDate {
	padding: 0 48px 0 0;
	background: url(http://www.ctitv.com.tw/images/bg_detail.png) repeat-y 0 0!important;
	background: none;
	color: #ff0000;
	font-size: 13px;
	font-family:verdana, Sans-serif;
	margin: 0 0 2px -10px;
	padding:3px 0 3px 10px;
	width: 333px;
}
.videoThumb {
	background: #111;
	display: block;
	height: auto;
	margin-bottom: 14px;
	min-height:119px;
	padding: 7px;
	width: 165px;
	position:absolute;
	top:92px;
}
.videoThumb img{width:166px;}
.videoThumb p{
	font-size: 11px;
	margin: 36px 0 0;
	font-weight: normal;
    color: white;
}		
.playLink {
	width: 166px;
	height: 93px;
	display: block;
	position: relative;
}	
.playBtn {
	display: block;
	width: 166px;
	height: 125px;
	position: absolute;

	background: url(http://www.ctitv.com.tw/images/btn_play.png) no-repeat 58px 40px;
	text-indent:-999em;
	top:0;
	left:0;
	cursor:pointer;
}
.playBtn:hover{background-position: -374px 40px;}
.showName {
	font-size: 32px;
	margin: 2px 0 0;
	line-height: 1em;
}
.showTitle {
	font-size: 13px;
	margin: 0 0 2px;
	line-height: 1em;
}
.showURL {
	position:absolute;
	top:278px;
	left:0;
}
.showURL li{
	display: block;
	float:left;
	margin-left:1px;
}
.showURL li a{
	background: #E30009;
	color: #FFF;
	display: block;
	padding:0 8px;
	font-size: 11px;
	line-height:18px;
	vertical-align:middle;
}
.showURL li a:hover{
	background:  #FFF;
	color:#E30009;
	text-decoration:none;
}

/* Weather Rail */
#rtSideRailFrame {
	position: absolute;
	right: 0;
	top: 0;
	z-index:100;
	width: 290px;
	height: 395px;
	overflow:hidden;
}
#rtSideRail{position: relative;}
#RailContent{
	position: absolute;
	left: 35px;
	top: 0;
	z-index: 200;
	width: 255px;
	height: 395px;
}
#RailBg {
	position: absolute;
	left: 20px;
	top: 0;
	z-index: 100;
	width: 270px;
	height: 395px;
	/*background: #0275b8;*/
    background-color: rgba(2, 117, 184, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd0275b8,endColorstr=#dd0275b8);
}
#RailBtn {
	width:20px;
	height:125px;
	background:url(http://www.ctitv.com.tw/images/btn_ouvrir.png) no-repeat 0 0;
	text-indent:-999em;
	cursor: pointer;
}
#RailBtn:hover {
	background: url(http://www.ctitv.com.tw/images/btn_ouvrir.png) no-repeat -25px 0;
}
#RailContent h3{
	display:block;
	clear:both;
	background:transparent url(../images/haut_menu.gif) no-repeat -390px -48px;
	color:#fff;
	font-size:12px;
	font-weight:100;
	padding:0;
	margin:10px 0 20px;
	*margin-bottom:15px;
}
#RailContent ul{
	float:left; 
	width:45px; 
	margin:0 2px 15px;
	text-align:center;
	color:#fff;
}
#RailContent li.temp{font-size:11px; color:#fff;}
#RailContent img{
	display:block; 
	margin:auto;
}
#RailContent p.more{
	margin:20px 0 0; 
	text-align:right; 
}

/* NEWEST */
#beltAd{
	
	padding:10px 0;
}
#beltAd object,  #beltAd img{
	margin:0 auto;
}
.newestwrapper{
	/*background:url(http://www.ctitv.com.tw/images/bg_idx_bas.jpg) repeat-x;*/
	padding:0 0 30px;

}
.newestcontainer{
	margin: 0 auto;
	width:995px;
}
.newestcontainer .boiteh{
	background:url(none);
	border: 1px solid #8A8A8A;
	float:left;
	width:322px;
	color: #FFF;
	font-size:13px;
	margin:0 4px 0 3px;
	padding:15px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.newestcontainer .boiteb{
	background:url(none);
	padding-top:0;
}
.boiteh img, .boiteh object{
	margin: 0 auto 15px;
}
.boiteh h3, 
.boiteh p{
	text-align: left;
	margin-left:20px;
	margin-right:20px;
}
.boiteh h3{
	color:#FEFFC5;
	font-weight:bold;
	padding:5px 0 3px;
}
.boiteh p{
	text-indent:1em;
}

/*
.boiteh{
	background:url(http://www.ctitv.com.tw/images/boite_01_h.gif) no-repeat;
	margin:0 8px 0 0;
	float:left;
	width:322px;
	color: #FFFFFF;
	font-size:13px;
	padding-top:15px;
}
.boiteb{
	background:url(http://www.ctitv.com.tw/images/boite_01_b.gif) no-repeat left bottom;
	padding:10px 0 0;
}*/

/* MORE*/
.left{width:340px; border:2px #3b88f2 solid; float:left; margin:10px 0 0;}/*_width:349px;*/
.left h2{ background:#3b88f2; margin:0; padding:0; text-align:center;}
.left h2 a{display:block; font-size:15px; margin:auto; padding-left:5px; width:130px; color:#FFF;}
.left h2 a span{display:block; padding:2px 20px;}

.left ul{ margin:0; padding:0 10px; text-align:left; padding-bottom: 5px; border-bottom:dashed 1px #3b88f2;}
.left ul.last{ padding-bottom: 4px; border-bottom:none;}
.left .photo{float:left; margin:10px 0;}
.left .photo img{border:1px #FFF solid; margin-right:20px;}
.left .title{color:#01023b; font-size:14px; padding-top:7px;list-style-type: disc;}
.left .title a{color:#3b88f2;}

.right{width:642px; float:left; margin:10px 0 0 9px; _margin-left:4px;}	
.right01{width:288px; border:2px  #f38901 solid; float:left; margin-right:8px;}
.right01 h2{margin:0; padding:0; background:#f38901; text-align:center;}
.right01 h2 a{display:block; font-size:15px; margin:auto; padding-left:5px; width:130px; color:#FFF;}
.right01 h2 a span{display:block; padding:2px 20px;}
.right01 ul{ margin:0; padding:10px 10px 11px; text-align:left;}
.right01 .title{color:#d54d00; font-size:14px; margin: 5px 0 8px 15px; margin-bottom: 6px; list-style-type: disc;}
.right01 .title a{color:#d54d00;}

.right02{width:338px; float:left;}
.right02 h2{margin:0; padding:0; text-align:center; background:#f38901; }
.right02 h2 a{display:block; font-size:15px; margin:auto; padding-left:5px; width:160px; color:#FFF;}
.right02 h2 a span{display:block;padding:2px 20px;}
.right02 ul{border: 2px  #f38901 solid; text-align:left; margin-bottom:5px; padding-right:5px; }
.right02 .photo{float:left; margin:5px; padding-right:12px;}
.right02 .title{color:#d54d00; font-size:14px; list-style-type: disc; margin: 4px 0 8px;}
.right02 .title a{color:#d54d00;}

.right03{margin-top:6px; text-align:left;}
.right03 ul{width:200px; height:180px; float:left; margin-right:15px; list-style-type:disc; border:2px  #f859b6 solid;}
.right03 li{margin:6px 0 0 22px;}
.right03 li a{list-style-type:disc; font-size:14px; line-height:20px;}
.right03 .title {background:#f859b6; color:#fff;font-size:15px;line-height:30px;margin:0; text-align:center; list-style-type:none;}
.right03 .title a{color:#fff;}
.right03 ul.last{margin-right:0;}
.right03 .photo{margin:5px 10px; list-style-type:none;}
.right03 ul:hover .title{color:#000;}

.bottomAd{float:left; margin-top:-10px; *margin-top: 5px; _margin-top:-10px;}

.left .photo img{width:100px; height:75px; }
.right02 .photo img{width:150px; height:90px;}
.right03 .photo img{width:180px;}