/* member */
.ctitv .menu{
	border-top:solid 1px #f658b5; 
	margin-top:-1px;
}
.member h2{
	color:#CCCCCC;
	border-bottom:5px double #8A8A8A;
	font-size:15px;
	margin-bottom:20px;
	padding:5px 0;
}
.member .boiteh h2{
	border:0; 
	margin-bottom:8px;
}
.dashBoard{
	margin-left:10px;
	font-size:13px;
	display:block;
}
li.memberBlog{height:20px;}
.memberPhoto{
	float:left;
	border:1px #8A8A8A solid;
	width:94px;
	margin-right:20px;
}
.memberPhoto img{
	margin:2px; 
	width:90px; 
	height:90px;
}
.dashBoard li span{
	display:block;
	float:left;
	font-weight:700;
	width:90px;
	color:#CCC;
}
#memberList01,
#memberList02, 
#memberList03, 
#memberList04,
#memberList05{
	background:url(../images/boite_member_b.gif) no-repeat 0 100%;
	padding-bottom:4px;
	text-align: right;
}
#memberList02, 
#memberList03, 
#memberList04,
#memberList05{
	display:none;
}
.memberTab{
	margin-bottom:1px;
	border:solid #8A8A8A;
	border-width:0 0 1px 1px;
	font-size:13px;	
	font-weight:700;
}
.memberTab li{
	float:left;
	display:block;
	margin-right:-4px;
}
.memberTab li a, 
.memberTab li a:visited{
	background:url(../images/boite_page_schedule.gif) no-repeat 100% 0;
	color:#CCC;
	display:block;
	padding:4px 10px 3px;
}
.memberTab li a:hover, 
.memberTab li a:active,
.memberTab li.on a{
	color:#FFF; 
	text-decoration:none;
}
.member .topList{
	margin:8px 8px 0;
	text-align:left;
}
.member .topList li{
	float:left;
	width:245px;
}