﻿.newstk{
	background:url(../images/newsticker1.jpg);
	width:995px;
	height:30px;
	margin:0 auto;
	*margin-top:-3px;
	padding:8px 0 0 0px;
}
.newstk li{
	background:url(../images/point_news.gif) no-repeat left top;
	color:#FFF;
	font-size:15px;
	float:left;
	padding-left:20px;
	margin: 0px 10px;
	text-align:left;
	width:290px;
}
.newstk li a:link, .newstk li a:hover, .newstk li a:active {
	color:#ededed;
}
.newstk li a:visited {
	color:#b3b3b3;
}