﻿/* All Style */
html>body,
html>body div, 
html>body span,
html>body ul, 
html>body li, 
html>body dl,
html>body dt,
html>body dd,
html>body a, 
html>body a:visited, 
html>body h1, 
html>body h2, 
html>body h3, 
html>body h4, 
html>body h5, 
html>body h6{
color:#000!important;background:transparent!important;font-family:"新細明體", Serif!important;
}

/* Hidden Element*/
html>body .headerCenter,
html>body .sns,
html>body .embed,
html>body fieldset,
html>body .page,
html>body .moreinfo,
html>body #PreviousNext,
html>body .memberTab li,
html>body .channelTab li,
html>body #beltAd,
html>body #moreHeader,
html>body .footer ul,
html>body .droit,
html>body .position{
display:none!important;
}

/* Shown for Print*/
html>body #printlogo{
display:block!important; border-bottom:1px solid #333; padding-bottom:3px;margin:0 0 3px;
}

/* Reposition & PrintFormat*/
html>body .gauche, 
html>body #content{
width:995px; margin:0 auto; float:none;
}
html>body .videoTxt p{
margin-bottom:10px;
}
html>body .title{
border-width:1px; background:#EFEFEF;
}
html>body .title img{
border-width:1px!important;
}
html>body li.tt{
background:#CCC!important;
}
html>body .bloglist{
position:absolute; top:0; left:0;
}
html>body .bloglist .boiteh{
border:1px solid #333;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; margin-top:8px; background:#FFF;
}
html>body #main #blogPosts, 
html>body .centre{
width:800px; float:none; margin-left:190px;
}
html>body .title,
html>body .playerFrame,
html>body .menu,
html>body .menu li,
html>body .list img,
html>body .title img,
html>body .centre h2,
html>body #blogPosts h2{
border-color:#333!important;
}
html>body .footer{
border:0; width:19.5cm;
}
html>body .footer p.copyright{
padding:0; width:19.5cm; display:block; clear:both;
}
/* Weekly TVSchedule */
html>body .schedule{
width:19.5cm;
}
html>body #memberList01, 
html>body #memberList02, 
html>body #memberList03, 
html>body #memberList04{
display:block;
}
html>body .memberTab, 
html>body .channelTab{
border-left:0;
}
html>body .memberTab li.on, 
html>body .channelTab li.on, 
html>body .memberTab li.on a.on, 
html>body .channelTab li.on a.on{
display:block!important; color:#000!important;
}
html>body .channelTab{
font-weight:400;left:5px;position:absolute;top:5px;border:0; font-weight:900; font-size:12px;
}
html>body #scheduleViewport{
overflow:hidden;height:auto;border-style:solid; border-width:0 1px 1px 0;
}
html>body #scheduleViewport li{
border-top:1px solid #92A7B6;height:42px; padding-top:3px;overflow:hidden;
}
html>body #scheduleViewport li span{
visibility:visible!important;
}
html>body .week{
border-right:solid 1px #92A7B6; border-top:1px solid #92A7B6; margin-top:8px;
}
html>body .week li{
padding:3px 0;
}
html>body .week li span{
float:left;
}
html>body .schedule .showName li span{position:relative; display:inline;}
html>body .schedule .showName li.m30{height:19px!important;}
html>body .schedule .showName li.m90{height:65px!important;}
html>body .schedule .showName li.m120{height:88px!important;}
html>body .schedule .showName li.m150{height:111px!important;}
html>body .schedule .showName li.m180{height:134px!important;}
html>body .schedule .showName li.m210{height:157px!important;}
html>body .schedule .showName li.m240{height:180px!important;}
html>body .schedule .showName li.m270{height:203px!important;}
html>body .schedule .showName li.m300{height:226px!important;}
html>body .schedule .showName li.m330{height:249px!important;}
html>body .schedule .showName li.m360{height:272px!important;}
html>body .schedule .showName li.m390{height:295px!important;}
html>body .schedule .showName li.m420{height:318px!important;}
html>body .schedule .showName li.m450{height:341px!important;}
html>body .schedule .showName li.m480{height:364px!important;}
html>body .schedule .showName li.m510{height:387px!important;}
html>body .schedule .showName li.m540{height:410px!important;}
html>body .schedule .showName li.m570{height:433px!important;}
html>body .schedule .showName li.m600{height:456px!important;}
html>body .schedule .showName li.m630{height:479px!important;}
html>body .schedule .showName li.m660{height:502px!important;}
html>body .schedule .showName li.m690{height:525px!important;}
html>body .schedule .showName li.m720{height:548px!important;}
html>body .schedule .showName li.m750{height:571px!important;}
html>body .schedule .showName li.m780{height:594px!important;}
html>body .schedule .showName li.m810{height:617px!important;}
html>body .schedule .showName li.m840{height:640px!important;}
html>body .schedule .showName li.m870{height:663px!important;}
html>body .schedule .showName li.m900{height:686px!important;}
html>body .schedule .showName li.m930{height:709px!important;}
html>body .schedule .showName li.m960{height:732px!important;}
html>body .schedule .showName li.m990{height:755px!important;}
html>body .schedule .showName li.m1020{height:778px!important;}
html>body .schedule .showName li.m1050{height:801px!important;}
html>body .schedule .showName li.m1080{height:824px!important;}
html>body .schedule .showName li.m1110{height:847px!important;}
html>body .schedule .showName li.m1140{height:870px!important;}
html>body .schedule .showName li.m1170{height:893px!important;}
html>body .schedule .showName li.m1200{height:916px!important;}
html>body .schedule .showName li.m1230{height:939px!important;}
html>body .schedule .showName li.m1260{height:962px!important;}
html>body .schedule .showName li.m1290{height:985px!important;}
html>body .schedule .showName li.m1320{height:1008px!important;}
html>body .schedule .showName li.m1350{height:1031px!important;}
html>body .schedule .showName li.m1380{height:1054px!important;}
html>body .schedule .showName li.m1410{height:1077px!important;}
html>body .schedule .showName li.m1440{height:1100px!important;}