﻿/* schedule */

.schedule ul{margin:0;}
.schedule li{text-align:center;}	
.channelTab{
	margin-bottom:1px;
	border-bottom:1px solid #f658b5;
	font-size:12px;	
	font-weight:700;
}
.channelTab li{
	float:left;
	display:block;
	margin-right:4px;
	background:#f658b5;
	border-radius: 4px 4px 0 0;
}
.channelTab li a, 
.channelTab li a:visited{
	color:#fff;
	display:block;
	padding:4px 10px 3px;
}
.channelTab li a:hover, 
.channelTab li a:active,
.channelTab li a.on{
	color:#ccc; 
	text-decoration:none;
	
}
.week{
	border-left:solid #f658b5 1px;
	padding:0 14px 0 50px;
	margin:0; 
	border-bottom:double #f658b5 5px;
	
}
.week li{
	float:left; 
	width:94px; 
	padding:10px 0; 
	border-left:solid #f658b5 1px;
}
.week li span{display:block;}
.week li.on{
	color:#F00;
	font-weight:700;
}
.time{
	float:left; 
	width:50px;
	border-left:solid #f658b5 1px;
}
    .time li {
        height: 75px;
        padding: 25px 0 0;
    }
.time li.on{
	color:#F00;
	font-weight:700;
}
#scheduleViewport{
	position:relative;
	overflow:auto; 
	height:480px;
	border-bottom:solid #f658b5 1px;
}
.timeTbl{
	float:left; 
}
.schedule .showName{
	float:left;
	width:94px;
	border-left:1px solid #f658b5;
}
.schedule .showName li{
	position:relative;
	display:block;
	height:74px;
	padding:25px 2px 0;
	border-bottom:1px solid #f658b5;
    overflow: hidden;
}
.schedule .showName li span, .tvrating li span{
	position:absolute; 
	display:block; 
	top:0; 
	left:0; 
	width:21px; 
	height:21px; 
	text-indent:-999em;
	background: url(http://www.ctitv.com.tw/images/tvrating.png) no-repeat 0 0;
}
.schedule .showName li span.adult{background-position: 0 -72px;}
.schedule .showName li span.pg12{background-position: 0 -47px;}
.schedule .showName li span.pg6{background-position: 0 -23px;}
.tvrating li{
	text-align:left;
	padding-left:24px;
	background: url(http://www.ctitv.com.tw/images/tvrating.png) no-repeat -3px 0;
}
.tvrating li.pg6{background-position: -3px -24px;}
.tvrating li.pg12{background-position: -3px -48px;}
.tvrating li.adult{background-position: -3px -72px;}
.schedule .showName li.on{background:#ccc;}
.schedule .showName li:hover{background:#ccc;}
.schedule .showName li a{display:block; width:100%; height:100%;}
.schedule .showName li.m30{padding-top:5px; height:44px;}
.schedule .showName li.m90{height:124px;}
.schedule .showName li.m120{height:174px;}
.schedule .showName li.m150{height:224px;}
.schedule .showName li.m180{height:274px;}
.schedule .showName li.m210{height:324px;}
.schedule .showName li.m240{height:374px;}
.schedule .showName li.m270{height:424px;}
.schedule .showName li.m300{height:474px;}
.schedule .showName li.m330{height:524px;}
.schedule .showName li.m360{height:574px;}
.schedule .showName li.m390{height:624px;}
.schedule .showName li.m420{height:674px;}
.schedule .showName li.m450{height:724px;}
.schedule .showName li.m480{height:774px;}
.schedule .showName li.m510{height:824px;}
.schedule .showName li.m540{height:874px;}
.schedule .showName li.m570{height:924px;}
.schedule .showName li.m600{height:974px;}
.schedule .showName li.m630{height:1024px;}
.schedule .showName li.m660{height:1074px;}
.schedule .showName li.m690{height:1124px;}
.schedule .showName li.m720{height:1174px;}
.schedule .showName li.m750{height:1224px;}
.schedule .showName li.m780{height:1274px;}
.schedule .showName li.m810{height:1324px;}
.schedule .showName li.m840{height:1374px;}
.schedule .showName li.m870{height:1424px;}
.schedule .showName li.m900{height:1474px;}
.schedule .showName li.m930{height:1524px;}
.schedule .showName li.m960{height:1574px;}
.schedule .showName li.m990{height:1624px;}
.schedule .showName li.m1020{height:1674px;}
.schedule .showName li.m1050{height:1724px;}
.schedule .showName li.m1080{height:1774px;}
.schedule .showName li.m1110{height:1824px;}
.schedule .showName li.m1140{height:1874px;}
.schedule .showName li.m1170{height:1924px;}
.schedule .showName li.m1200{height:1974px;}
.schedule .showName li.m1230{height:2024px;}
.schedule .showName li.m1260{height:2074px;}
.schedule .showName li.m1290{height:2124px;}
.schedule .showName li.m1320{height:2174px;}
.schedule .showName li.m1350{height:2224px;}
.schedule .showName li.m1380{height:2274px;}
.schedule .showName li.m1410{height:2324px;}
.schedule .showName li.m1440{height:2374px;}
.haut-ad{
	width:995px;
	margin:5px auto;
}