﻿/* UNIVERSAL */
*{	
	margin:0; 
	padding:0;
	background:transparent;
	-webkit-font-smoothing: antialiased;
}
body{
	font:12px/1.6em Arial, Helvetica, sans-serif;
	background:#fff url(../images/bg01.jpg) no-repeat center top;
	text-align:center;
	vertical-align:top;
}

table{border-collapse:collapse; border-spacing:0; }

img, object{display:block; border:0; outline:0;}

fieldset{border:0;}

input, textarea, select, option{color:#000; background:#EEE;}

#container{
	position:relative;
	width:995px;
	margin:0 auto;
	text-align:left;
	padding-bottom:10px;
}

/* Header */
.header{
	background:url(../images/haut_ligne.gif) no-repeat 46% 100%; z-index: 99;}

.headerCenter{
	width:995px;
	margin:0 auto;
	position:relative;
	height:119px;
	z-index:999;
}

#specialLogo{position:absolute;}

.logo{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:260px;
	height:110px;
	text-indent:-999em;
}

/* Favorite, LOGIN, SIGNUP, SearchBox */
.headerFunction {
    float: right;
    display: block;
    width: 610px;
    margin: 22px 0 -12px;
}
	.CtiAsiaLink {
		position: absolute;
		z-index: 9999;
		width: 175px;
		top: 53px;
		padding-left: 7px;
	}
    .headerFunction li {
        display: block;
        float: right;
        margin-right: 8px;
        padding-right: 8px;
    }
        .headerFunction li.last {
            border: 0;
            margin-right: 10px;
        }
    .headerFunction a,
    .headerFunction a:visited {
        color: #21507c;
        display: block;
    }
    .headerFunction a#baoLiao {
        line-height: 14px;
        padding-top: 6px;
        padding-left: 23px;
        padding-bottom: 2px;
    }
    .headerFunction a#CtiFB {
        line-height: 14px;
        padding-top: 6px;
        padding-left: 16px;
        padding-bottom: 2px;
    }
    .headerFunction a#CtiWeibo {
        line-height: 14px;
        padding-top: 6px;
        padding-left: 22px;
        padding-bottom: 2px;
    }
    .headerFunction a#CtiQQ {
        line-height: 14px;
        padding-top: 6px;
        padding-left: 18px;
        padding-bottom: 2px;
    }
    .headerFunction a#addFav {
        line-height: 14px;
        padding-top: 6px;
        padding-left: 20px;
        padding-bottom: 2px;
    }
.headerFunction form { display: block; }
.headerFunction .fbIconLi .nameTd { vertical-align: top; }
.headerFunction .fbNoIconLi div { display: inline-block; }
.searchInput{
	width:140px;
	height:22px;
	background:transparent url(../images/chercher_01.gif) no-repeat;
	border:0;
	padding:0 6px;
	padding-top:5px\9;
	color:#FFF;
	float:left;
	font-size:11px;
}
.searchInput:focus{border:0;}
.searchBtn{
	width:30px;
	height:22px;
	background: url(../images/chercher_02.gif) no-repeat;
	border:0;
	margin:0 0 0 -2px;
	float:left;
	cursor:pointer;
	text-indent:-999em;
}
.searchBtn option{padding:1px 4px;}
a#addFav, a#CtiQQ, a#CtiWeibo, a#CtiFB, a#baoLiao{
	display:block;
	background:url(http://www.ctitv.com.tw/images/baoliao.png) no-repeat 0 4px;
	line-height:22px;
}
a#addFav{padding-left:20px;}
a#CtiWeibo{
	background-position: 0 -71px;
	padding-left:20px;
}
a#CtiQQ{
	background-position: 0 -120px;
	padding-left:20px;
}
a#CtiFB{background-position: 0 -19px; padding-left:20px;
}
a#baoLiao{
	background-position: 0px -96px;
	padding-left:20px;
}
a#baoLiao span{visibility:hidden; padding:0 6px;}

#Colors{
	display:block;
	width: 170px;
	position: absolute;
	height: 19px;
	top: 56px;
	background-image: url(../images/colorful_bg.gif);
	background-repeat: no-repeat;
	left: 450px;
}
#ColorsBTN_1{
	display:block;
	width: 150px;
	position: absolute;
	height: 19px;
	top: 56px;
	background-image: url(../images/colorful_bg.gif);
	background-repeat: no-repeat;
	left: 470px;
}
#Palette{
	text-indent: -999em;
	width: 19px;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0px;
	border-right-width: 0px;
	margin-right: 5px;
	display: block;
	float: left;
}
/* PRIMARY NAV*/
.primaryNav{
	position:absolute;
	bottom:1px;
	_bottom:0;
	right:-3px;
	margin:0;
	z-index:999;
	height:42px;
	text-align:center;
	font-family:Verdana, Sans-serif;
	text-shadow: 1px 1px 1px #333;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	.primaryNav{text-shadow: 0 0 0 #333;}
}*/
.primaryNav li{
	float:left;
	margin-right:2px;
}
.primaryNav li a{
	text-decoration:none;
	display:block;
	line-height:23px;
	width:70px;
	color:#FFF;
	font-weight:700;
	font-size:13px;
	padding:3px 7px 0 8px;
	margin-top:15px;
	vertical-align:baseline;
	background:url(../images/haut_menu.gif) no-repeat;
}
.primaryNav li a:visited{color:#FFF;}
.primaryNav li a:hover, 
.primaryNav li a:active{
	margin-top:10px;
	height:28px;
	text-decoration:none;
}
.primaryNav .newsTab a{background-position:0 -57px;}
.primaryNav .showsTab a{background-position:-87px -57px;}
.primaryNav .newchinaTab a{background-position:-174px -57px;}
.primaryNav .infoTab a{	background-position:-261px -57px;}				
.primaryNav li.last{margin-right:5px;}

/* FOOTER */
.footer{
	background:url(../images/footer-bg.png) repeat-x;
	border-top:2px solid #5981a9;
	/*padding:10px;*/
    padding: 10px 0;
	width:100%;
	text-align:center;
}
.footer ul{margin:0;}
.footer li{
	border-right:1px solid #666;
	margin-right:8px;
	padding-right:8px;
	display:inline;
}
.footer li.last{
	border:none!important;
}
.footer li a,
.footer li a:visited{
	color:#5f6e99;
}
.footer li a:hover, 
.footer li a:active{
	color:#063fc0;
	text-decoration:none;
}
.footer p.copyright{
	color:#838383;
}

/* Headings */
h1, h2, h3, h4, h5, h6{font-weight:700; clear:both;}
h1{font-size:32px;}
h2{font-size:24px; margin:0 0 8px; padding:3px 0 8px;}
h3{font-size:15px; margin:0 0 4px; padding:0 0 4px;}
h4{font-size:15px; margin:0 0 12px;}
h5{font-size:12px;}
h6{font-size:10px;}
 
/* Link Style */
a, a:visited{text-decoration:none; color:#000; outline:0;}
a:hover, a:active{text-decoration:underline;}

/* Paragraphs */
p{margin:0 0 18px;}
b, strong{font-weight:700;}

/* Lists */
ul, ol{list-style:none;}
ul, ol, dl{margin:0 0 18px;}
ol{margin:0 0 0 1.5em;	list-style:decimal;}

/* Clearfix */
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .clearfix{height:1%;}
*:first-child+html .clearfix{min-height:1px;}
