﻿/* Video Page Layout*/
.headerad{
	background:url(http://www.ctitv.com.tw/images/haut_ligne.gif) no-repeat 46% 100%;
	padding:10px 0;
}
.headerad object,
.headerad img{
	display:block;
	margin:auto;
}
.newsvideo,
.dramavideo,
.newchinavideo,
.ctitv{
	width:995px;
	margin:0 auto;
}
.gauche{
	width:740px;
	float:left;
	padding-top:40px;
}
.droit{
	width:255px;
	float:right;
}

/* Position, SNS */
.position{
	position:absolute;
	top:10px;
	left:0;
	width:350px;
	padding-left:10px;
	z-index:120;
}
.position li{
	background:url(http://www.ctitv.com.tw/images/point_position.gif) no-repeat 100% 50%;
	margin:0;
	padding:0 9px 0 5px;
	display:block;
	color:#3b8df9;
	float:left;
}
.position li a, 
.position li a:visited{color:#3b8df9;}
.position li a:hover, 
.position li a:active{
	color:#000;
	text-decoration:none;
}
.position li.last{background:none;}



.sns{
	width:715px;
	height:18px;
	line-height:18px;
	padding:8px;
	background:#3a89f2; 
	margin:10px 0px;
	color:#fff;
	}

/*--
.sns{
	position:absolute;
	top:10px;
	right:265px;
	width:380px;
	height:20px;
	z-index:130;
}
--*/

.sns li{
	display:block;
	float:left;
	margin-left:8px;
	font-size:12px;
	color:#fff;
}

.sns li a{display:block; color:#fff;}
.sns li a:hover{text-decoration:none;}
.sns li span{padding-left:20px;}
.plurk, 
.twitter, 
.facebook,
.google, 
.funp,
.hemidemi,
.myshare,
.youtube,
.reflink,
.windows-live{

	background:url(../images/icon.gif) no-repeat;
}
.sns-blog{
	height:20px;
	z-index:130;
	margin-bottom:5px;
}
.sns-blog li{
	display:block;
	float:right;
	margin-left:5px;
	font-size:12px;
}
.sns-blog li a{display:block;}
.rss, 
.plurk, 
.twitter, 
.facebook,
.google, 
.funp,
.hemidemi,
.myshare,
.youtube,
.reflink,
.windows-live{

	background:url(../images/icon.gif) no-repeat;
}
.plurk a, 
.twitter a, 
.facebook a,
.google a, 
.funp a,
.hemidemi a,
.myshare a,
.youtube a,
.reflink a,
.windows-live a{width:72px;padding-left: 20px;}



.rss a{width:40px;}
.comments,
.print,
.send{
	padding-left:20px;
	background:url(../images/icon.gif) no-repeat;
}
.plurk{
	background-position:-180px -88px;
	width:20px;
}
.twitter{
	background-position:-180px -44px;
	width:17px;
}
.facebook{
	background-position:-180px 1px;
	width:17px;
}
.rss{
	background:none;
	width:48px;
}
.comments{
	background-position:-270px 1px;
}
.print{
	background-position:-270px -44px;
}
.send{
	background-position:-270px -88px;
}
.google{
	background-position:-90px 1px;
	width:17px;
}
.windows-live{
	background-position:0 -88px;
	width:17px;
}
.funp{
	background-position:-90px -44px;
	width:17px;
}
.hemidemi{
	background-position:0 1px;
	width:17px;
}
.myshare{
	background-position:0 -44px;
	width:17px;
}
.youtube{
	background-position:-356px -44px;
	width:72px;
	}
.reflink{
	background-position:-356px -88px;
	width:72px;
	}

.bkmk{
	position:relative;
}
.bkmk ul{
	display:none;
	padding-left:4px;

}
.bkmk li{
	display:block;
	border-right:1px solid #666;
	float:left;
	margin:4px 5px 4px 0;
	padding-right:5px;
}
.bkmk li.last{
	padding-right:0;
	border:0;
}
.bkmk li img{border:1px #CCC solid;}
.bkmk li.shareTitle{
	border:0;
	margin-bottom:0;
	padding-left:2px;
	width:150px;
}
.bkmk .bkmkBg{
	color:fff;
	display:none;
	background:#000;
	opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70);
	border:1px #CCC solid;
}
.bkmk:hover ul, 
.bkmk:hover .bkmkBg{
	display:block;
	position:absolute;
	top:-50px;
	left:5px;
	z-index:140;
	width:140px;
	height:50px;
}
.bkmk:hover ul{
	z-index:150;
}

/* VideoBox*/
.videoBox{
	position:relative;
	background:url(../images/bg_video_news.jpg) no-repeat 0 0;
}
.videoTxt{
	float:left;
	width:280px;
	margin-left:10px;
	z-index:10;
}
.videoTxt h3, 
#fullTxt h3{
	color:#333;
	font-size:16px;
	margin:10px 0;
}
.videoTxt p,
#fullTxt p{
	font-size: 13px;
	line-height: 24px;
	margin: 10px 0px 0px 10px;
	text-indent: 1em;
	height:280px;
	overflow-y: scroll;
}
.videoTxt .info,
#fullTxt .info{
	width:100%;
	padding:0;
	margin:-5px 0;
}
#fullTxt{}
#fullTxtBox{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #2e7a9c;
	position:absolute;
	top:40px;
	left:445px;;
	width:490px;
	height:320px;
	padding:5px 48px 5px 10px;
	overflow:hidden;
	background:#000;
	z-index:99;
}
.fullTxtClose,
.fullTxtUp,
.fullTxtDown{
	display:block;
	position:absolute;
	top:45px;
	right:5px;
	width:40px;
	height:40px;
	background:url(http://www.ctitv.com.tw/images/btn-fermer.png) no-repeat 0 0;
	text-indent:-999em;	
	z-index:100;
}
.fullTxtUp,
.fullTxtDown{
	top:185px;
	height:38px;
	background:url(http://www.ctitv.com.tw/images/btn_ud.png) no-repeat 7px 0;
}
.fullTxtDown{
	top:232px;
	background:url(http://www.ctitv.com.tw/images/btn_ud.png) no-repeat 7px 100%;
}
.fullTxtUp:hover{
	background-position:-40px 0;
}
.fullTxtDown:hover{
	background-position:-40px 100%;
}
.fullTxtCopy{
	display:block;
	position:absolute;
	top:65px;
	right:50px;
	z-index:100;	
}
.playerFrame{
	width:435px;
	float:left;
	border:1px solid #3a89f2;
	text-align:center;
	padding:5px 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.playerFrame object {
	margin:0 auto;
}
.playerFrame img{
	margin:0 5px;
}
.embed{
	position:absolute;
	left:445px;
	bottom:-20px;
	font-size:12px;
}
.embed li{
	padding-bottom:3px;
}
.embed input{
	border:1px #999 solid;
	color:#999;
	width:170px;
	line-height:18px;
	height:18px;
	padding:0;
}
.embed input.btn{
	color:#000;	
	margin-left:2px;
	width:45px;
	height:20px;
	text-align:center;
}



.dramavideo .videoBox{	background:url(../images/bg_video_drama.jpg) no-repeat 0 0;}
.dramavideo #fullTxtBox,
.dramavideo .playerFrame{border-color:#fa8c01;}
.dramavideo .sns{background:#fa8c01; }
.newchinavideo .videoBox{background:none;}
.newchinavideo #fullTxtBox,
.newchinavideo .playerFrame{border-color:#a59d40;}
.newchinavideo .sns{background:#a59d40;  }
.ctitv .videoBox{	background:none;}
.ctitv #fullTxtBox,
.ctitv .playerFrame{border-color:#f658b5;}
.ctitv .sns{background:#f658b5; }
/* Middle Belt */
.gauche .title{	
	background:url(../images/bg_title_news.jpg) repeat-x 0 0;
	border:solid #3a89f2;
	border-width:0 0 1px 1px;
	width:729px;
	margin-top:10px;
	font-size:13px;
}
.gauche .title img{
	border-right:solid #3a89f2 1px;
	float:left;
	width:149px;
}
.gauche .title h1, 
.gauche .title h2, 
.gauche .title h3, 
.gauche .title h4, 
.gauche .title h5, 
.gauche .title h6, 
.gauche .title p, 
.gauche .title ul{
	margin-left:160px;
}
.gauche .title h2{
	padding:10px 0 0;
	clear:none;
	color:#fff;
}
.gauche .title ul{margin-bottom:0;*margin-top:15px;}
.gauche .title li{margin-bottom:1px; color:#fff;}

.dramavideo .gauche .title{background:url(../images/bg_title_drama.jpg) repeat-x 0 0; border-color:#fa8c01;}
.dramavideo .gauche .title img{border-color:#fa8c01;}

.newchinavideo .gauche .title{background:url(http://www.ctitv.com.tw/images/bg_title_newchina.jpg) repeat-x 0 0;	border-color:#a59d40; border-color:#a59d40;}
.newchinavideo .gauche .title img{border-color:#a59d40;}

.ctitv .gauche .title{background:#f658b5; border-color:#f658b5;}
.ctitv .gauche .title img{border-color:#f658b5;}

/* menu */
.menu{
	width:149px;
	float:left;
	font-size:13px;
	border:solid #3a89f2 1px;
	border-width:1px 1px 0;
	margin-top:-1px;
}
.menu li{
	border-bottom:solid #3a89f2 1px;
}
.menu li,
.menu li a, 
.menu li a:visited{
	color:#23407a;
	display:block;
	line-height:30px;
	text-indent:5px;
	vertical-align:middle;
}
.menu li a:hover, 
.menu li a:active{
	color:#FFF;
	background:#3a89f2;
	text-decoration:none;
}
.menu li.tt{
	color:#FFF;
	background:#3a89f2;
	line-height:30px;
	vertical-align:middle;
	text-indent:5px;
}

.dramavideo .menu,
.dramavideo .menu li{border-color:#fa8c01!important;}
.dramavideo .menu li a, 
.dramavideo .menu li a:visited{color:#c8500f;}
.dramavideo .menu li a:hover, 
.dramavideo .menu li a:active{color:#FFF; background:#fa8c01;}
.dramavideo .menu li.tt{background:#fa8c01;}

.newchinavideo .menu,
.newchinavideo .menu li{border-color:#a59d40!important;}
.newchinavideo .menu li a, 
.newchinavideo .menu li a:visited{color:#d6ce77;}
.newchinavideo .menu li a:hover, 
.newchinavideo .menu li a:active{color:#FFF; background:url(http://www.ctitv.com.tw/images/bg_title_newchina.jpg) repeat-x 50% 0;}
.newchinavideo .menu li.tt{background:url(http://www.ctitv.com.tw/images/bg_title_newchina.jpg) repeat-x 50% 50%;}

.ctitv .menu,
.ctitv .menu li{border-color:#f658b5!important;}
.ctitv .menu li a, 
.ctitv .menu li a:visited{color:#c0428c;}
.ctitv .menu li a:hover, 
.ctitv .menu li a:active{color:#FFF; background:#f658b5;}
.ctitv .menu li.tt{background:#f658b5;}

/* Video List*/
.centre{
	float:right;
	width:550px;
	margin-top:8px;
}
.centre h2{
	border-bottom:double #3a89f2 5px;
	color:#3a89f2;
	font-size:15px;
	padding:5px 0;
	margin-bottom:20px;
}
#divArticleList{margin-bottom:30px;}
.list{
	display:block;
	float:left;
	margin:5px;
	width:262px;
}
.list li{
	position:relative;
	display:block;
	margin-bottom:30px;
	font-size:15px;
	font-family:"微軟正黑體", "Times New Roman", Times, serif;
	
}
.list a{
	float: left;
	height:68px;
}
.list img{
	width:100px;
	height:68px;

}
.list .playBtn{
	background:url("http://www.ctitv.com.tw/images/btn_play.png") no-repeat scroll 100px 60px;
	display:block;
	width:100px;
	height:68px;
	position:absolute;
	top:5px;
	left:5px;
	z-index:300;
	cursor:pointer;
}
.list p{
	float: left;
	width: 150px;
	height: 58px;
	padding: 4px;
	border-top: 1px #3b8df9 solid;
	border-bottom: 1px #3b8df9 solid;
	border-right: 1px #3b8df9 solid;
	}

.list .playBtn:hover{background-position:-332px 60px;}
.catList h2{
	margin:10px 0; 
	padding:0;
	*margin:10px 0 -25px;
}
.page{
	display:block;
	margin:30px 0 0;
	float:right;
	*float:none;
	clear:both;
}
.page li{
	border-right:1px solid #666;
	display:block;
	float:left;
	margin-right:6px;
	padding-right:6px;
	color:#666;
}
.page li.last{
	border:none;
}
.page li a{
	display:block;
	font-size:12px;
	padding:1px 3px;
}
.page li a, 
.page li a:visited{
	color:#3a89f2;
}
.page li a:hover, 
.page li a:active{
	text-decoration:none;
	color:#23407a;
}
.page li.on{
	font-size:18px;
	color:#000;
	font-weight:700;
	text-decoration:underline;
}

.dramavideo .centre h2{	border-color:#fa8c01; color:#d54d00; font-weight:600;}
.dramavideo .centre li img{border-color:#fa8c01;}
.dramavideo .list p{border-color:#fa8c01;}
.newchinavideo .centre h2{border-color:#a59d40; color:#d6ce77; font-weight:600;}
.newchinavideo .centre li img{border-color:#A59D40;}
.newchinavideo .list p{border-color:#a59d40;}
.ctitv .centre h2,.ctitv .searchRes{border-color:#f658b5; color:#f658b5; font-weight:600;}
.ctitv .centre li img{border-color:#f658b5;}
.ctitv .list p{border-color:#f658b5;} 

.dramavideo .page li a, 
.dramavideo .page li a:visited{color:#fa8c01;}
.newchinavideo .page li a, 
.newchinavideo .page li a:visited{color:#3a89f2;}
.ctitv .page li a, 
.ctitv .page li a:visited{color:#f658b5;}

.dramavideo .page li a:hover 
.dramavideo .page li a:active,
.newchinavideo .page li a:hover, 
.newchinavideo .page li a:active,
.ctitv .page li a:hover, 
.ctitv .page li a:active{color:#000;text-decoration:underline;}

/* COMMENT */
p.allEntry{
	margin-left:444px; 
	text-indent:18px; 
	background:url(http://www.ctitv.com.tw/images/icon.gif) no-repeat -270px 3px;}
.entry{
	font-size:13px; 
	position:relative;
}
.entry h2{margin-bottom:3px;}
.entry h3{
	font-size:15px;
	color:#777;
	margin-bottom:20px;
}
.entry p{margin-right:20px;}
p.admin{
	color:#FFC;
	font-weight:700;
}
p.reply{
	color:#AAA;
	margin-left:20px;
	padding-left:10px;
	border-left:solid 2px #CCC;
}
.info{
	border-top:1px solid #666;
	padding:3px 0;
	width:530px;
	font-size:12px;
	text-align:right;
}
.info li{
	border-right:1px solid #666;
	display:inline;
	margin-right:8px;
	padding-right:8px;
	color:#666666;
}
.info li.last{
	border:none;
	margin-right:0;
	padding-right:0;
}
.info li a, 
.info li a:visited{color:#CCC;}
.info li a:hover,
.info li a:active{
	color:#FFF;
	text-decoration:none;
}

/* Droit */
.droitAd ul{padding:10px 0 0;}
.droitAd li{margin-bottom:10px;}
.boiteh{
	font-size:13px;
	color:#FFF;
	border:1px solid #3a89f2;
	border-radius: 4px 4px 0 0;
	margin-top:10px;
	width:255px;
	zoom:1;
}
.boiteb{
	padding-top:10px;
	zoom:1;	
}
.boiteh img{
	margin:0 auto;
}
.boiteh h2,  
.boiteh h3, 
.boiteh ul, 
.boiteh ol, 
.boiteh p{	
	margin-left:10px;
	margin-right:10px;
	clear:both;
}
.boiteh h2{
	color:#3a89f2;
	font-size:13px;
	vertical-align:bottom;
}
.boiteh h2 em{
	font-size:15px;
	font-style:normal;
	color:#FFF;
	margin:0 3px;
}
.boiteh .topListTab{
	font-size:13px;
	margin:0 -4px 10px 0;
}
.topListTab li{
	display:block;
	border-right:1px solid #3a89f2;
	border-bottom:1px solid #3a89f2;
	float:left;
	width:49%;
	margin:0;
	padding:0;
}
.topListTab li a span{
	display:block;
	padding:0 7px;
}
.topListTab li a, 
.topListTab li a:visited{
	display:block;
	text-align:center;
	color:#3a89f2;
	width:100%;
	padding:4px 0;
}
.topListTab li a:hover, 
.topListTab li a:active{
	color:#23407a;
	text-decoration:none;
}
.topListTab li.on{border-bottom:0;}
.topListTab li.on a{
	color:#23407a;
	font-weight:700;
	text-decoration:none;
}
.topListTab li.last{border-right:none;}
.topList ul{margin:0;}
.topList li{
	font-size:13px;
	line-height:22px;
	background:url(../images/lipoint.gif) no-repeat 8px 8px;
	padding:0 0 5px 20px;
	zoom:1;
}
.topList li a{
	zoom:1;
}
#topList02 h2,
#topList04 h2{text-align:right;}
.programe li{
	margin:2px 0;
	font-size:12px;
	background:url(http://www.ctitv.com.tw/images/haut_menu.gif) no-repeat -370px -48px;
	color:#000;
	}
.programe li ul{
	margin:3px 0;
}
.programe li li{
	margin-left:20px;
	background:none;
}
.programe br{display:none;}
.showTime{
	font-weight:700;
	margin-right:20px;
	color:#FFF;
}

.dramavideo .boiteh{border-color:#fa8c01;}
.dramavideo .boiteb{border-color:#fa8c01;}
.dramavideo .boiteh h2{color:#fa8c01;}
.dramavideo .topListTab li{border-color:#fa8c01;}
.dramavideo .topListTab li a, .dramavideo .topListTab li a:visited{color:#fa8c01;}
.dramavideo .topListTab li a:hover, .dramavideo .topListTab li a:active{color:#000;}
.dramavideo .topListTab li.on a{color:#d54d00;}
.dramavideo .topList li{
	list-style:none;
	background-position:-492px 8px;
	}

.newchinavideo .boiteh{border-color:#b6b6b6;}
.newchinavideo .boiteb{border-color:#b6b6b6;}
.newchinavideo .boiteh h2{color:#b6b6b6;}
.newchinavideo .topListTab li{border-color:#A59D40;}
.newchinavideo .topListTab li a, .newchina .topListTab li a:visited{color:#A59D40;}
.newchinavideo .topListTab li a:hover, .newchina .topListTab li a:active{color:#FFF;}
.newchinavideo .topListTab li.on a{color:#D6CE77;}
.newchinavideo .topList li{background-position:-992px 8px;}

.ctitv .boiteh{border-color:#f658b5;}
.ctitv .boiteb{border-color:#f658b5;}
.ctitv .boiteh h2{color:#f658b5;}
.ctitv .topListTab li{border-color:#f658b5;}
.ctitv .topListTab li a, .newchina .topListTab li a:visited{color:#f658b5;}
.ctitv .topListTab li a:hover, .newchina .topListTab li a:active{color:#000;}
.ctitv .topListTab li.on a{color:#c0428c;}
.ctitv .topList li{background-position:-1492px 8px;}

/* NEWSNEWS */
.newsnews .ltbox{
	float:left; 
	width:100%; 
}
.newsnews .menu{
	border-top:solid 1px #2E7A9C; 
	margin-top:9px;
}
.newsnews .boite{
	margin:0 20px 30px;
	font-size:13px;
}
.newsnews .boite h3{
	font-size:15px;
	color:#FFC;
}
.newsnews .boite p.reply{
	font-size:13px;
}
.boite .info{
	width:100%;
}

/*Form comment, member */
.formTbl{
	margin:0 20px 20px; 
	width:510px; 
	font-size:13px;
	text-align:left;
}
.formTbl .opt{display:block;}
.formTbl td{padding:5px 10px;}
.formTbl th{
	width:130px;
	vertical-align:top;
	padding:7px 0;
	text-align:right;
	line-height:18px;
}
input.singleLine,
.formTbl textarea,
.formTbl select,
#ctl00_ContentPlaceHolder1_Wizard1_txtCaptcha{
	height:18px; 
	padding:2px 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.formTbl select{
	padding-right:0;
	height:25px;
	margin-right:5px;
}
.formTbl option{
	padding-right:10px;
}
input.singleLine{
	width:200px; 
	margin-right:10px;
}
#ForumAuthorName{
	width:180px; 
	color:#000;
	margin-right:10px;
}
#ForumComments, 
#txtDescription,
#ctl00_ContentPlaceHolder1_Wizard1_txtDescription{
	width:400px; 
	height:200px; 
}
#captcha{
	display:inline;
	margin:0 10px 10px 0;
	vertical-align:middle;
}
#ctl00_ContentPlaceHolder1_CreateUserWizard1_CreateUserStepContainer_txtCaptcha,
#ctl00_ContentPlaceHolder1_ModifyWizard_txtCaptcha
	{width:6em!important;}
.formTbl em{
	font-style:normal; 
	color:#F00; 
	font-weight:700; 
	font-size:15px;
}
.memberSteps{
	font-size:12px; 
	color:#FFF; 
	margin-left:10px;
}
.checkbox input{background:none;}
.formBtn{text-align:center;}
.formBtn input{
	margin:3px;
	padding:1px 3px;
	*padding:1px
}
#noCommentForm{margin:0 0 50px; width:100%;}
#noCommentForm td{padding:0;}

/* Popup */
div.popUp{
	text-align:center;
	margin:15px;
	width:470px;
}
div.popUp .formTbl{width:85%; text-align:left; margin:10px auto;}
div.popUp h2{
	color:#777;
	border-bottom:5px double #8A8A8A;
	font-size:15px;
	margin:0 0 20px;
	padding:5px 0;
	clear:both;
	font-family:"微軟正黑體",Verdana,Arial,Helvetica,sans-serif;
	font-weight:700;
	text-align:left;
}

/*Search Result, iReporter */
.searchList{
	margin:10px 20px 30px 0;
	font-size:13px;
	position:relative;
	clear:both;
}
.searchResult h2, 
.iReporter #ctl00_ContentPlaceHolder1_Wizard1 h2{
	border-bottom:double 5px;
	font-size:15px;
	padding:5px 0;
	margin-bottom:20px;
	text-align:left;
}
#ctl00_ContentPlaceHolder1_Wizard1_StartNavigationTemplateContainerID_StartNextButton,
#ctl00_ContentPlaceHolder1_Wizard1_StartNavigationTemplateContainerID_CancelButton,
#ctl00_ContentPlaceHolder1_Wizard1_FinishNavigationTemplateContainerID_btnReset,
#ctl00_ContentPlaceHolder1_Wizard1_FinishNavigationTemplateContainerID_FinishButton{
	margin:3px;
	padding:1px 3px;
	*padding:1px
}
#ctl00_ContentPlaceHolder1_Wizard1_fuVideo{height:28px;}
.sortNo{
	position:absolute;
	top:5px;
	right:5px;	
	font-size:17px;
	width:30px;
	text-align:right;
}
.searchResult img{
	width:80px;
	float:left;
	border:solid 1px #999;
	padding:2px;
	margin-right:10px;
}
.searchList .info{
	width:100%;
    margin-bottom: 0;
}
.searchResult .page{
	margin:0;
	padding-bottom:20px;
}
.searchMore{
	text-align:right; 
	font-size:15px;
	margin-right:10px;
    margin-top:-10px;
}
.iReporter .formTbl{
	width:700px;
}


/* ArticleRelation */
.article-relation {
    background-color: #eee;
    margin-top: 10px;
    margin-right: 9px;
    padding: 10px;
    padding-bottom: 0;
}
    .article-relation div {
        color: #555;
        font-size: 20px;
        font-weight: bold;
        border-bottom: solid 2px #ccc;
        padding-bottom: 6px;
    }
    .article-relation ul {
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 0;
        width: 100%;
    }
    .article-relation li {
        list-style: none;
        display: inline-block;
        float: left;
        width: 50%;
        padding-bottom: 5px;
    }
        .article-relation li a {
            font-size: 15px;
            padding: 0 10px;
        }