
/* CSS Document */
body
{
	margin:0px;
	font-family: Verdana;
	font-size: 12px;
}

a
{
   text-decoration: none;
   color: #0048c0;
}
a:hover
{
  text-decoration: underline;
}

.txt1 {
	font-family: Arial;
	font-size: 12px;
}

.txt2 {
	font-family: verdana;
	font-size: 11px;
}

.txtv1 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
}

.ftxtv1 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
}

.txtv12 { color: #c0c0c0;
	font-family: Verdana;
	font-size: 11px;
}

.txtv2 { color: #ffffff;
	font-family: Verdana;
	font-size: 13px;
}

.txtv3 { color: #000000;
	font-family: Verdana;
	font-size: 13px;
}

.txtv4 { color: #333333;
	font-family: Verdana;
	font-size: 12px;
}

.txtv5 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}

.ftxtv5 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}

.txtv6 { color: #111111;
	font-family: Verdana;
	font-size: 22px;
}

.txtv7 { 
	font-family: Verdana;
	font-size: 13px;
}

.txtv8 { color: #999999;
	font-family: Verdana;
	font-size: 10px;
}

.txtv9 { color: #ffffff;
	font-family: Verdana;
	font-size: 15px;
}

.txtv10 { color: #cc0000;
	font-family: Verdana;
	font-size: 10px;
}

.txtv11 { color: #B1B1B1;
	font-family: Verdana;
	font-size: 12px;
}

.txtv13 { color: #cc0000;
	font-family: Verdana;
	font-size: 11px;
}

.txtv14 { color: #666666;
	font-family: Verdana;
	font-size: 9px;
}

.txtv15 { color: #dddddd;
	font-family: Verdana;
	font-size: 12px;
}

.txtv16 { color: #999999;
	font-family: Verdana;
	font-size: 8px;
}

.komentar1 {color: #577087;
	font-family: Verdana;
	font-size: 8px;
	font-weight:bold;
	height: 13px;
	width:12px;
	text-align:center;
	background-image:url('img/ic_com_1.gif');
}

.komentar2 {color: #577087;
	font-family: Verdana;
	font-size: 8px;
	font-weight:bold;
	height: 13px;
	width:17px;
	text-align:center;
	background-image:url('img/ic_com_2.gif');
}

.komentar3 {color: #577087;
	font-family: Verdana;
	font-size: 8px;
	font-weight:bold;
	height: 13px;
	width:23px;
	text-align:center;
	background-image:url('img/ic_com_3.gif');
}

.komentar4 {color: #577087;
	font-family: Verdana;
	font-size: 8px;
	font-weight:bold;
	height: 13px;
	width:29px;
	text-align:center;
	background-image:url('img/ic_com_4.gif');
}




.buton1 {
	z-index:1;
    border-width: 1 1 1 1px;
	height: 22px;
	border-style: solid;
	border-color: #d9d9d9;
	line-height:22px;
	background-image:url('img/back_buton.gif');
}

.page1 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #d1e1f0;
	background-color: #ffffff;
}

.page2 { color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #255097;
	background-color: #356db5;
}

.page3 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #d9d9d9;
	background-color: #ffffff;
}

.page4 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #d9d9d9;
	background-color: #eeeeee;
}

.table1 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #90afbc;
	border-right:0px;
	background-image:url('img/back_nav_glavna3.gif');
}

.table2 { color: #B1B1B1;
	font-family: Verdana;
	font-size: 12px;
	padding-left: 0px;
}

.tarsi1 { padding:2px; margin:0px;background-color:#336699;color:#ffffff;font-weight: bold;position: relative;display:block; float:left;overflow: visible;
}

.tarsi2 { padding:3px; margin:0px;position:relative;display:block; float:left;
}

#srchads.tarsi1 .ch {background: url(/img/strelka6.gif) no-repeat center;width:30px; height:13px; position:absolute; top:14px;left:21%;overflow: visible;z-index:1;}

#srchfirms.tarsi1 .ch {background: url(/img/strelka6.gif) no-repeat center;width:30px; height:13px; position:absolute; top:14px;left:24%;overflow: visible;z-index:1;}

#srchguide.tarsi1 .ch {background: url(/img/strelka6.gif) no-repeat center;width:30px; height:13px; position:absolute; top:14px;left:31%;overflow: visible;z-index:1;}

#srchnews.tarsi1 .ch {background: url(/img/strelka6.gif) no-repeat center;width:30px; height:13px; position:absolute; top:14px;left:24%;overflow: visible;z-index:1;}

.indextab1 { color: #343434;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #d4d4d4;
	border-bottom:0px;
	background-color:#ffffff;
	text-align:center;
	height:24px;
	vertical-align:middle;
	width:25%;
	font-weight:bold;
}

.indextab2 { color: #343434;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #d4d4d4;
	background-image:url('img/back_buton.gif');
	text-align:center;
	height:24px;
	vertical-align:middle;
	width:25%;
}

.indextab3 { 
	border-bottom:1px solid #d4d4d4;
}

.indextab4 { color: #336699;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #c3d0e0;
	border-bottom:0px;
	background-color:#f6f8fb;
	text-align:center;
	height:24px;
	vertical-align:middle;
	width:50%;
	font-weight:bold;
}

.indextab5 { color: #343434;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #c3d0e0;
	background-image:url('img/back_nav_glavna.gif');
	text-align:center;
	height:24px;
	vertical-align:middle;
	width:50%;
}

.indextab6 { 
	border-bottom:1px solid #c3d0e0;
}

.indextab7 { color: #343434;
	font-family: Verdana;
	font-size: 12px;
	border:1px solid #d4d4d4;
	border-bottom:0px;
	background-color:#f5f5f5;
	text-align:center;
	height:24px;
	vertical-align:middle;
	width:25%;
	font-weight:bold;
}

 .c24sprdqsno3 { 
	color:#ffffff;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #eb6654;
	padding:0px;
	background-image:url('img/back_kino3.gif');
	font-weight: bold;
	text-align: left;	
}

.c24kinonovini1 { font-family: Verdana;
	color: #444444;
	font-size: 12px;
	background-color: #ffffff;
	width:*;
	text-align: left;
	padding: 3px;
}

.c24kinonovini2 { font-family: Verdana;
	color: #444444;
	font-size: 12px;
	background-color: #fff1e3;
	width:*;
	text-align: left;
	padding: 5px;
}

 .c24sprdqsno4 { 
	color:#536d7e;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #536d7e;
	padding:0px;
	background-image:url('http://www.plovdiv24.com/tpl/plovdiv/city24/back_add.gif');
	font-weight: bold;
	text-align: left;	
}

.c24sprdqsno5 { 
	color:#536d7e;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #cff7d5;
	padding:0px;
	background-image:url('img/back_biz4.gif');
	font-weight: bold;
	text-align: left;	
}

.c24sprdqsno5 { 
	color:#536d7e;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #cff7d5;
	padding:0px;
	background-image:url('img/back_biz4.gif');
	font-weight: bold;
	text-align: left;	
}

.c24sprdqsno6 { 
	color:#536d7e;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #7599bb;
	padding:0px;
	background-color:#a1bbd0;
	font-weight: bold;
	text-align: left;	
}

.c24sprdqsno7 { 
	color:#536d7e;
	font-family: Verdana;
	font-size: 15px;
	border-bottom: 1px solid #000000;
	padding:0px;
	background-image:url('img/back_spr1.gif');
	font-weight: bold;
	text-align: left;	
}

.c24txtv5 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}


.c24txtv1 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
}



.lentatxt1 { color: #c0c0c0;
	font-family: Verdana;
	font-size: 12px;
}

.lentatxt1b { color: #c0c0c0;
	font-family: Verdana;
	font-size: 12px;
	background-image:url('img/back_standart.gif');
}

.lentagradne { padding: 6px;
}
.lentagradne2 { padding: 1px;
}

.lentagradda { padding: 4px;
background-color: #ffffff;
border: 1px solid #e0e0e0;
border-bottom: 0px;
font-weight: bold;
}


.lentatxt2 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}

.lentatxt3 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}

.lentaselected { 
	color:#666666;
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #cccccc;
	padding:2px;
	background-image:url('img/back_selected.gif');
}

.lentaregistred { 
	color:#ffffff;
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #e48f1f;
	padding:1px;
	background-image:url('img/lenta_register.gif');
}

.lentavhod { 
	color:#336699;
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #c3d0e0;
	padding:1px;
	background-image:url('img/lenta_vhod.gif');
}
.raised4 {background: transparent; width:630px; margin:0;}
.raised4 h1, .raised4 p {margin:0px;}
.raised4 h1 {font-size:12px; color:#666666; letter-spacing:1px;}
.raised4 p {padding-bottom:0px;}

.raised4 .top, .raised4
.bottom {display:block; background:transparent; font-size:1px;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b4,
.raised4 .b1b, .raised4 .b2b, .raised4 .b3b,
.raised4 .b4b {display:block; overflow:hidden;}
.raised4 .b1, .raised4 .b2, .raised4 .b3, .raised4 .b1b, .raised4 .b2b,
.raised4 .b3b {height:1px;}
.raised4 .b2 {background:#fefbe9; border-left:1px solid #faeb85;
             border-right:1px solid #faeb85;}
.raised4 .b3 {background:#fefbe9; border-left:1px solid #faeb85;
             border-right:1px solid #faeb85;}
.raised4 .b4 {background:#fefbe9; border-left:1px solid #faeb85;
             border-right:1px solid #faeb85;}
.raised4 .b4b {background:#fefbe9; border-left:1px solid #faeb85;
              border-right:1px solid #faeb85;}
.raised4 .b3b {background:#fefbe9; border-left:1px solid #faeb85;
              border-right:1px solid #faeb85;}
.raised4 .b2b {background:#fefbe9; border-left:1px solid #faeb85;
              border-right:1px solid #faeb85;}

.raised4 .b1 {margin:0 5px; background:#faeb85;}
.raised4 .b2, .raised4 .b2b {margin:0 3px; border-width:0 2px;}
.raised4 .b3, .raised4 .b3b {margin:0 2px;}
.raised4 .b4, .raised4 .b4b {height:2px; margin:0 1px;}
.raised4 .b1b {margin:0 5px; background:#faeb85;}
.raised4 .boxcontent {display:block;  background:#fefbe9;
                     border-left:1px solid #faeb85;
                     border-right:1px solid #faeb85;}