
/* CSS Document */
body
{
	margin:0px;
	font-family: Verdana;
	font-size: 12px;
}

a
{
   text-decoration: none;
  color: #3b5998;
}

a:hover
{
text-decoration: underline;

}

.txt1 { font-family: Verdana; color:#666666; text-decoration:none;
	font-size: 12px;
	}
	
.txtv3 { color: #000000;
	font-family: Verdana;
	font-size: 13px;
}

.txtv5 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
}

.txtv10 { color: #cc0000;
	font-family: Verdana;
	font-size: 10px;
}

.nh_vremegdn1 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme11og.gif');
	background-position:top right;
}


.nh5_vremegdn1 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme11og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegdn1:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme11ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}


.nh_vremegdn2 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme12og.gif');
	background-position:top right;
}


.nh5_vremegdn2 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme12og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegdn2:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme12ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

	
.nh_vremegdn3 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme13og.gif');
	background-position:top right;
}

.nh5_vremegdn3 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme13og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegdn3:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme13ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}


.nh_vremegdn4 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme14og.gif');
	background-position:top right;
}


.nh5_vremegdn4 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme14og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegdn4:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme14ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}


.nh_vremegdn5 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme15og.gif');
	background-position:top right;
}


.nh5_vremegdn5 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme15og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegdn5:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme15ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}


.nh_vremegno1 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme21og.gif');
	background-position:top right;
}

.nh5_vremegno1 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme21og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegno1:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme21ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh_vremegno2 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme22og.gif');
	background-position:top right;
}

.nh5_vremegno2 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme22og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegno2:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme22ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh_vremegno3 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme13og.gif');
	background-position:top right;
}

.nh5_vremegno3 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme13og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegno3:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme13ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh_vremegno4 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme14og.gif');
	background-position:top right;
}

.nh5_vremegno4 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme14og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegno4:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme14ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh_vremegno5 {  
	text-align:left;
	width:210px;
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/vreme15og.gif');
	background-position:top right;
}

.nh5_vremegno5 {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#999;
	background-image:url('//i.id24.bg/img/vreme5/vreme15og.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh5_vremegno5:hover {  
	text-align:left;
	padding:0px;
	margin:10px;
	margin-left:0px;
	margin-bottom:0px;
	font-family: Verdana;
	font-size: 11px;
	color:#444;
	background-image:url('//i.id24.bg/img/vreme5/vreme15ogh.gif');
	background-position:top left;
	background-repeat:no-repeat;
}

.nh_vremet {  
	font-family: Verdana;
	font-size: 28px;
	text-align:right;
	color: #cc0000;
	padding-top:1px;
	padding-left:4px;
	margin-right:120px;
	padding-bottom:6px;
}

.nh_vremet2 {  
	font-family: Verdana;
	font-size: 10px;
	text-align:right;
	color: #759ec0;
	margin-right:120px;
	padding-bottom:0px;
}

.nh_sreda1 {  
	height:72px;
	padding:0px;
	font-family: Verdana;
	font-size: 12px;
	padding-left:2px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/nh_back1.gif');
	border-top:1px solid #c2d0dc;border-bottom:1px solid #c2d0dc;
}

.nh_sreda12 {  
	height:72px;
	padding:0px;
	font-family: Verdana;
	font-size: 12px;
	padding-left:55px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/nh_back1.gif');
	border-top:1px solid #c2d0dc;border-bottom:1px solid #c2d0dc;
}

.nh_vreme2m {  
	float:left;
	width:44px;
	height: 65px;
	padding:0px;
	margin-top:1px;
	margin-right:10px;
	font-family: Verdana;
	font-size: 10px;
	color:#c2d0dc;
	background-image:url('//i.id24.bg/img/newh/vreme22m.gif');
}


.nh_vreme3m {  
	text-align:center;
	padding-top:3px;
	padding-bottom:2px;
}


.nh_newsblok {  background-color:#f2f1f2;padding:0px;font-family: Verdana;font-size: 12px; color:#333333;
}

.nh_newsblok2 {  background-color:#f2f1f2;padding:0px;font-family: Verdana;font-size: 12px; color:#333333;margin-top:20px;
}

.sivoround{display:block}
.sivoround *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#f2f1f2}
.sivoround1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f9f8f9;
  border-right:1px solid #f9f8f9;
  background:#f5f4f5}
.sivoround2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fdfdfd;
  border-right:1px solid #fdfdfd;
  background:#f4f3f4}
.sivoround3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f4f3f4;
  border-right:1px solid #f4f3f4;}
.sivoround4{
  border-left:1px solid #f9f8f9;
  border-right:1px solid #f9f8f9}
.sivoround5{
  border-left:1px solid #f5f4f5;
  border-right:1px solid #f5f4f5}
.sivoroundfg{
  background:#f2f1f2;padding:5px;}


.nh_tn {  margin:0px;font-family: Verdana;font-size: 15px; font-weight:bold;float:left;color:#777777;margin-bottom:0px;margin-top:3px;
}


.bqloround{display:block}
.bqloround *{
  height:1px;
  display:block;
  overflow:hidden;
  background-color:#ffffff}
.bqloround1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f7f7f7;
  border-right:1px solid #f7f7f7;
  background-color:#fbfbfb}
.bqloround2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f3f2f3;
  border-right:1px solid #f3f2f3;
  background-color:#fcfcfc}
.bqloround3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #fcfcfc;
  border-right:1px solid #fcfcfc;}
.bqloround4{
  border-left:1px solid #f7f7f7;
  border-right:1px solid #f7f7f7}
.bqloround5{
  border-left:1px solid #fbfbfb;
  border-right:1px solid #fbfbfb}
.bqloroundfg{
  background-color:#ffffff;padding:0px;}
  
  
  .nh_topz {  font-family: Verdana;font-size: 15px; font-weight:bold; color:#000000;
}

 .nh_topz2 {  font-family: Verdana;font-size: 12px; color:#666666; padding:3px;padding-left:0px;margin-bottom:7px; margin-top:4px; 
}

 .nh_topz3 {margin-top:0px; margin-bottom:0px;margin-left:10px;font-family: Verdana; color:#666666;	font-size: 12px;
 }

.nh_topsn { margin-top:0px; margin-bottom:0px;padding:1px;border:1px solid #dddddd;background-color:#ffffff;
}

.nh_ttab1 { background-image:url('//i.id24.bg/img/newh/nh_ttab1.gif');height:22px;padding:0px;padding-left:8px;padding-top:0px;float:left;white-space: nowrap;max-height:22px;overflow:hidden;margin-left:6px;margin-top:0px;margin-bottom:5px;
}

.nh_ttt1 { font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#ffffff;padding-top:4px;padding-right:4px;
}


.nh_ttab2 { background-image:url('//i.id24.bg/img/newh/nh_ttab2.gif');height:22px;padding:0px;padding-left:8px;float:left;white-space: nowrap;max-height:22px;overflow:hidden;margin-left:6px;margin-top:0px;margin-bottom:5px;
}

.nh_ttab2 .nh_ttt2 { font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#777777;padding-top:4px;padding-right:5px;
}
.nh_ttab2 .rightend{background-image:url('//i.id24.bg/img/newh/nh_ttab22.gif'); height:22px;width:4px;
display:-moz-inline-box;display:inline-block;}

.nh_ttab3 { background-image:url('//i.id24.bg/img/newh/nh_ttab3.gif');height:28px;padding:0px;padding-left:6px;float:left;white-space: nowrap;max-height:28px;overflow:hidden;margin-left:6px;margin-top:0px;margin-bottom:0px;
}

.nh_ttab3 .nh_ttt2 { font-family:Verdana; font-size:13px;float:left;white-space: nowrap;font-weight:bold;color:#222222;padding-top:6px;padding-right:2px;padding-bottom:0px;
}
.nh_ttab3 .rightend{background-image:url('//i.id24.bg/img/newh/nh_ttab32.gif'); height:28px;width:4px;
display:-moz-inline-box;display:inline-block;}

.nh_trss { float:right;margin-right:0px;padding:0px;margin-bottom:5px;margin-top:0px;
}

.nh_ttt4 { font-family:Verdana; font-size:13px;float:left;white-space: nowrap;font-weight:bold;color:#777777;float:left;
}

.nh_ttt5 { font-family:Verdana; font-size:13px;float:left;white-space: nowrap;font-weight:bold;color:#777777;float:right;
}

  
 .nh_podv1 {padding:0px;font-family: Verdana; color:#666666;font-size: 12px;padding-left:7px; 
 }
 
  .nh_podv2 {float:right;padding:0px;width:205px;font-family: Verdana; color:#cc0000;font-size: 11px;
 }
 
   
 .nh_v8nl {
	 float:left;width:680px;text-align:left;
 }
 
    
.nh_v8nl2 {
	 width:677px;min-height:280px;text-align:left;border-right:1px solid #ececec;position:relative;
 }
 
 .nh_v8nl3 {
 float:left;width:360px;margin-left:7px;margin-top:6px;
  }
  
   .nh_v8nl4 {
  text-align:left;border-top: 1px solid #ececec;margin-right:2px;
    }
	
   .nh_v8dn1 {
	float:right;margin-right:10px;margin-top:10px;margin-left:0px;width:300px;
 }
 
  .komentar1 {color: #999;
	font-family: Verdana;
	font-size: 10px;
	font-weight:bold;
	height: 16px;
	width:15px;
	text-align:center;
	background-image:url('img/v5kom1.gif');background-repeat:no-repeat;
}

.komentar2 {color: #999;
	font-family: Verdana;
	font-size:10px;
	height: 16px;
	width:20px;
	text-align:center;
	background-image:url('img/v5kom2.gif');background-repeat:no-repeat;
}

.komentar3 {color: #999;
	font-family: Verdana;
	font-size:10px;
	height: 16px;
	width:25px;
	text-align:center;
	background-image:url('img/v5kom3.gif');background-repeat:no-repeat;
}

.komentar4 {color: #999;
	font-family: Verdana;
	font-size:10px;
	height: 16px;
	width:32px;
	text-align:center;
	background-image:url('img/v5kom4.gif');background-repeat:no-repeat;
}

  .komentarz1 {color: #999;
  	margin-top:5px;
	font-family: Verdana;
	float:left;
	font-size: 10px;
	font-weight:bold;
	height: 16px;
	width:15px;
	text-align:center;
	background-image:url('img/v5kom1.gif');background-repeat:no-repeat;
}

.komentarz2 {color: #999;
	margin-top:5px;
	font-family: Verdana;
	float:left;
	font-size:10px;
	height: 16px;
	width:20px;
	text-align:center;
	background-image:url('img/v5kom2.gif');background-repeat:no-repeat;
}

.komentarz3 {color: #999;
	margin-top:5px;
	font-family: Verdana;
	float:left;
	font-size:10px;
	height: 16px;
	width:25px;
	text-align:center;
	background-image:url('img/v5kom3.gif');background-repeat:no-repeat;
}

.komentarz4 {color: #999;
	margin-top:5px;
	font-family: Verdana;
	float:left;
	font-size:10px;
	height: 16px;
	width:32px;
	text-align:center;
	background-image:url('img/v5kom4.gif');background-repeat:no-repeat;
}

.sivopdv{display:block}
.sivopdv *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#f3f3f3}
.sivopdv1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #f9f9f9;
  border-right:1px solid #f9f9f9;
  background:#f6f6f6}
.sivopdv2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fdfdfd;
  border-right:1px solid #fdfdfd;
  background:#f5f5f5}
.sivopdv3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #f5f5f5;
  border-right:1px solid #f5f5f5;}
.sivopdv4{
  border-left:1px solid #f9f9f9;
  border-right:1px solid #f9f9f9}
.sivopdv5{
  border-left:1px solid #f6f6f6;
  border-right:1px solid #f6f6f6}
.sivopdvfg{
  background:#f3f3f3;padding:0px;padding-top:0px;padding-bottom:0px;}

.page3 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #d9d9d9;
	background-color: #ffffff;
}

.page4 { color: #666666;
	font-family: Verdana;
	font-size: 11px;
	padding:3px;
    border-width: 1 1 1 1px;
	border-style: solid;
	border-color: #d9d9d9;
	background-color: #eeeeee;
}

.v6page4 { color: #666666;
	font-family: Verdana;
	font-size: 12px;
	padding:5px;
	  border-width: 0 0 0 0px;
    background-color: #eaeaea;
	cursor:pointer;
	margin-top:7px;
}

.v6page4:hover { 
    background-color: #e0e0e0;
}


.nh_tema { background-color:#fffce5; padding:3px; border-bottom: 1px solid #fcf4b2; font-family: Verdana; font-size: 11px;margin-top:7px;margin-left:10px;
}

.nh_obqs { font-family: Verdana; margin-top:15px; font-size: 13px;text-align:left;width:310px;float:left;margin-right:20px;height:90px;cursor:pointer;
}

.nh_obqv {  margin-top:15px; font-family: Verdana; font-size: 13px;text-align:left;width:310px;float:left;margin-right:20px;height:90px;cursor:pointer;
}

.nh_obqv6pic { float:left;margin-right:10px;width:120px;height:68px;overflow:hidden;
background-image:url('img/defadsv8.jpg');background-repeat: no-repeat; background-position:top left; position:relative;
}

.nh_obqv6pic:hover { 	opacity: 0.85;
    filter: alpha(opacity=85);
}

.nh_obqv6picvip { position:absolute;top:0px;left:0px;right:0px;padding:4px;padding-left:26px;font-size:11px;color:#fff;
background-image:url('img/v8vipbak.png');background-repeat: no-repeat; background-position:top left ;
}

.nh_obqv6picv2 { float:left;margin-right:10px;width:120px;height:68px;overflow:hidden;
background-image:url('img/defadsv82.jpg');background-repeat: no-repeat; background-position:top center; position:relative;
}

.nh_obqv6picv2:hover { 	opacity: 0.85;
    filter: alpha(opacity=85);
}

.nh_obqv3 { padding:5px;margin-top:10px; cursor:pointer;text-align:right;margin-right:20px;
}

.nh_obqv3:hover { background-color:#f0f0f0;
}


.p30_hom1 {padding:1px; border:1px solid #e0e0e0;background-color:#ffffff;float:left; margin:1px; margin-right:2px; margin-bottom:0px;}

.nh_hom2 {color:#666666;font-family: Verdana; font-size: 11px;padding-top:3px;padding-bottom:3px;margin-top:5px;margin-bottom:3px;padding-left:2px;}
	 
.nh_hom2s {color:#666666;font-family: Verdana; font-size: 11px;padding-top:3px;padding-bottom:3px;margin-top:5px;margin-bottom:3px;background-color:#f9f9f9;border-bottom:1px solid #eeeeee;padding-left:2px;}


.nh_dtab1 {font-family: Verdana; font-size: 14px;font-weight:bold;color:#336699; float:left;margin-left:4px;margin-right:0px;margin-top:6px;
}

.nh_dtab12 {font-family: Verdana; font-size: 14px;font-weight:bold;color:#336699; float:left;margin-left:2px;margin-right:0px;
}

.nh_dtab2 { background-image:url('//i.id24.bg/img/newh/dls_l3.gif');height:24px;float:left;white-space: nowrap;max-height:24px;overflow:hidden;margin-left:6px;margin-top:3px;margin-bottom:0px; color:#2a5b8c; font-family: Verdana; font-size: 12px; font-weight:bold;padding-left:6px;
}

.nh_dtab3 { background-image:url('//i.id24.bg/img/newh/dlm_l3.gif');height:21px;float:left;white-space: nowrap;max-height:21px;overflow:hidden;margin-left:6px;margin-top:3px;margin-bottom:0px; color:#2a5b8c; font-family: Verdana; font-size: 11px; font-weight:bold;padding-left:5px;
}

.nh_dtab4 {font-family: Verdana; font-size: 14px;font-weight:bold;color:#336699;background-color:#dee7f3;padding:4px;padding-top:1px;
}
.nh_dtab5 {font-family: Verdana; font-size: 12px; background-color:#e9eff8;padding:4px;padding-left:5px;margin-top:5px;margin-bottom:20px;
}
.nh_dtab6 {font-family: Verdana; font-size: 14px;font-weight:bold;color:#336699;background-color:#dee7f3;padding:4px;border-top:1px solid #d4dee6;padding-top:3px;
}
.nh_dtab61 {font-family: Verdana; font-size: 14px;font-weight:bold;color:#336699;background-color:#dee7f3;border-top:1px solid #d4dee6;padding:0px;padding-left:4px;
}

.nh_dtab2 .nh_dtt1 { font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#336699;padding:3px;padding-top:5px;
}
.nh_dtab2 .rightend{background-image:url('//i.id24.bg/img/newh/dls_d3.gif'); height:24px;width:8px;display:-moz-inline-box;display:inline-block;}

.nh_dtab3 .nh_dtt1 { font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#5e81a4;padding:3px;padding-top:4px;
}
.nh_dtab3 .rightend{background-image:url('//i.id24.bg/img/newh/dlm_d3.gif'); height:21px;width:4px;display:-moz-inline-box;display:inline-block;}

.nh_kinol { background-color:#ffffff;border:1px solid #e6eef9; padding:2px;float:left;margin-top:2px;margin-bottom:0px;margin-right:3px;margin-left:1px;
}

.nh_kinoz { margin-top:2px;margin-bottom:0px;font-family:Verdana; font-size:11px; text-align:center;padding:0px;padding-top:2px;padding-bottom:0px;width:96px;_width:100px; height:40px; 
}


.nh_kinoz2 { font-family:Verdana; font-size:12px;font-weight:bold;color:#336699; margin-left:1px;margin-right:0px;margin-top:7px;
}

.nh_kinos { background-color:#ffffff;border:1px solid #e6eef9; padding:2px;margin-top:3px;float:left;margin-right:3px;
}

.nh_sprav1 {  font-family:Verdana; font-size:12px; width:106px;margin-top:8px;margin-bottom:0px;float:left;margin-left:0px;margin-right:0px;padding:0px;
}

.nh_sprav2 {  font-family:Verdana; font-size:12px;margin-top:7px;margin-bottom:0px;
}
 

.nh_sprav3 { background-color:#ffffff;border:1px solid #e6eef9; padding:3px;margin-top:9px;text-align:center; font-family:Verdana; font-size:12px;
}

.nh_obekt1 { background-color:#ffffff;border:1px solid #e6eef9; padding:2px;float:right;margin-left:10px;
}

.nh_sprav1 {  font-family:Verdana; font-size:12px; width:106px;margin-top:7px;margin-bottom:0px;float:left;margin-left:0px;margin-right:0px;padding:0px;
}

.nh_horo1 {  font-family:Verdana; font-size:12px; width:80px;margin-top:8px;margin-bottom:0px;float:left;margin-left:0px;margin-right:0px;padding:0px;
}

.nh_vic1 {  font-family:Verdana; font-size:12px; width:130px;margin-top:8px;margin-bottom:0px;float:left;margin-left:0px;margin-right:0px;padding:0px;
}
.nh_kade1 {  font-family:Verdana; font-size:12px; width:188px;margin-top:10px;margin-bottom:0px;float:left;margin-left:10px;margin-right:0px;padding:0px;
}

.nh_kade2 {  margin-bottom:3px ; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid #e5ecf6;
}

.nh_anketa { background-color:#fffce5; padding:3px; padding-top:6px;padding-bottom:6px; border-bottom: 1px solid #fcf4b2; font-family: Verdana; font-size: 11px;margin-bottom:7px;
}

 
.nh_tv1 { background-color:#ffffff;border:1px solid #d8e2ef;border-right:1px solid #e6eef9;border-bottom:0px;padding:5px; font-family: Verdana; font-size: 12px; color:#666666;text-align:center;
}

.nh_tv12 { background-color:#ffffff;border:1px solid #d8e2ef;border-bottom:1px solid #e6eef9;border-left:0px; padding:4px; font-family: Verdana; font-size: 11px; color:#666666;
}

.nh_tv13 { background-color:#f8fafd;border-right:1px solid #d8e2ef;border-bottom:0px;border-left:0px; padding:4px; font-family: Verdana; font-size: 11px; color:#666666;
}

.nh_tv14 { background-color:#f8fafd;border:1px solid #d8e2ef; padding:4px; font-family: Verdana; font-size: 12px; color:#666666; text-align:center;
}

.nh_tv2 { background-color:#ffffff;border:1px solid #e6eef9;width:215px;_width:225px; float:right; padding:5px; font-family: Verdana; font-size: 12px; color:#666666;margin-top:7px;margin-left:-1px;
}

.nh_tv3 { background-color:#e6eef9;padding:2px;padding-left:3px; font-family: Verdana; font-size: 12px; color:#666666;margin-bottom:5px;margin-right:5px;
}

.nh_tv4 { border-bottom:1px solid #e6eef9;font-family: Verdana; font-size: 11px; color:#888888;margin-bottom:7px;margin-top:2px;padding-top:4px;padding-bottom:4px;
}

.nh_tv42 { font-family: Verdana; font-size: 11px; color:#888888;margin-bottom:7px;margin-top:2px;padding-top:4px;padding-bottom:4px;
}

.nh_search1 { background-image:url('://i.id24.bg/img/newh/nh_search_l2.gif');height:34px;float:left;white-space: nowrap;max-height:34px;overflow:hidden;margin:0px; color:#2a5b8c; font-family: Verdana; font-size: 12px;
}


.nh_lshits {  
	height: 72px;
	padding:0px;
	font-family: Verdana;
	font-size: 12px;
	padding-left:2px;
	color:#444444;
	background-image:url('//i.id24.bg/img/newh/nh_ls_back.gif');
	border-top:1px solid #c2d0dc;border-bottom:1px solid #c2d0dc;
	width:330px;
}

.nh_search2 { float:left;color:#6a90b0; font-family: Verdana; font-size: 12px;padding-bottom:3px; margin-right:3px;
}
.nh_search2 .rightend{background-image:url('//i.id24.bg/img/spacer.gif'); height:1px;width:1px;}
.nh_search2 .nh_search4{}

.nh_search3 { background-image:url('//i.id24.bg/img/newh/nh_search_l3.gif');height:18px;float:left;white-space: nowrap;max-height:18px;overflow:hidden;margin:0px; color:#6a90b0; font-family: Verdana; font-size: 12px;padding-left:4px;margin-left:2px;margin-right:2px;
}
.nh_search3 .nh_search4{font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#6a90b0;padding-top:2px;padding-bottom:0px;}
.nh_search3 .rightend{background-image:url('//i.id24.bg/img/newh/nh_search_d3.gif'); height:18px;width:5px;
display:-moz-inline-box;display:inline-block;}

.nh_search4old { font-family:Verdana; font-size:12px;float:left;white-space: nowrap;font-weight:bold;color:#6a90b0;padding-top:2px;padding-bottom:0px;
}

.nh_lshits2 {  
	font-family: Verdana;
	font-size: 11px;
	padding-left:8px;
	padding-right:8px;
	color:#444444;
}

.nh_lshits3 {  
	margin-top:3px;
	color:#999999;
}


.nh5_vreme1 {  
	margin-left:48px;float:left;width:70px;text-align:right;font-size:42px;text-align:center;font-family: Georgia;text-shadow:1px 1px 0 #e0e0e0;
}

.v6_vremetoh11{
	background-image:url('img/v6weather4.png');background-repeat: no-repeat; background-position:top left;
	font-family: Verdana; font-size: 12px; 
	color:#666;
	float:left;
	text-align:left;
		padding:2px;
	padding-bottom:2px;
	padding-left:24px;
	margin-top:7px;
}

.v6_vremetoh12{
	background-image:url('img/v6camlive2.gif');background-repeat: no-repeat; background-position:top left;
	font-family: Verdana; font-size: 12px; 
	color:#666;
	float:left;
	text-align:left;
	padding:2px;
	padding-bottom:1px;
	padding-left:24px;
	margin-top:6px;
}

.nh5_vreme1_1 {  
	text-align:right;margin-right:12px;margin-top:4px;
}


.nh5_vreme2 {  
float:left;border-left:1px solid #e6e6e6;margin-left:3px;padding-left:7px;color:#999;
}

.nh5_vreme3 {  
float:left;margin-right:10px;width:45px;text-align:center;
}

.nh5_vreme31 {  
float:left;width:45px;text-align:center;
}

.v8_spr1 {
	margin-top:20px;
	background-image:url('img/v6mapplovdiv.png');background-repeat: no-repeat; background-position:top center;
	border-top:1px solid #ececec;
	position:relative;
}

.v8_spr2 {
	float:left;
	margin:5px;
	padding:5px;
	font-size:15px;
	color:#fff;
	background-image:url('img/v8bakblk.png');
	text-shadow:1px 1px 0 #333;
}

.v8_sprtabfoodsel {
	background-image:url('img/v8sprsel.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabfoodselno {
	background-image:url('img/v8sprselno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabfoodselno:hover {
	background-image:url('img/v8sprsel.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}


.v8_sprtabshopsel {
	background-image:url('img/v8shop.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabshopselno {
	background-image:url('img/v8shopno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabshopselno:hover {
	background-image:url('img/v8shop.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
	
}

.v8_sprtabmenusel {
	background-image:url('img/v8menu.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabmenuselno {
	background-image:url('img/v8menuno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabmenuselno:hover {
	background-image:url('img/v8menu.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabhotsel {
	background-image:url('img/v8hot.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabhotselno {
	background-image:url('img/v8hotno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabhotselno:hover {
	background-image:url('img/v8hot.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabdatasel {
	background-image:url('img/v8data.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabdataselno {
	background-image:url('img/v8datano.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabdataselno:hover {
	background-image:url('img/v8data.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabkinosel {
	background-image:url('img/v8kino.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabkinoselno {
	background-image:url('img/v8kinono.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabkinoselno:hover {
	background-image:url('img/v8kino.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabtvsel {
	background-image:url('img/v8tv.png');
	background-repeat: no-repeat;
	background-position: center left;
	padding:5px;
	padding-left:16px;
	color:#ec4b34;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:15px;
}

.v8_sprtabtvselno {
	background-image:url('img/v8tvno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabtvselno:hover {
	background-image:url('img/v8tv.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}

.v8_sprtabteatsel {
	background-image:url('img/v8teat.png');
	background-repeat: no-repeat;
	background-position: center left;
	padding:5px;
	padding-left:16px;
	color:#ec4b34;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:15px;
	margin-bottom:5px;
}

.v8_sprtabteatselno {
	background-image:url('img/v8teatno.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:0px;
	padding-left:16px;
	padding-bottom:10px;
	color:#333;
	font-weight:bold;
	margin-left:10px;
	margin-right:15px;
	cursor:pointer;
	font-size:13px;
	margin-top:80px;
}

.v8_sprtabteatselno:hover {
	background-image:url('img/v8teat.png');
	background-repeat: no-repeat;
	background-position: top left;
	float:left;
	padding:5px;
	padding:0px;
	padding-left:16px;
	padding-bottom:7px;
	color:#ec4b34;
	margin-left:10px;
	margin-right:15px;
	font-weight:bold;
	cursor:pointer;
	font-size:13px;
	border-bottom:3px solid #ec4b34;
	margin-top:80px;
}


.v8_spr2 a{
	color:#fff;
}

.v8_sprob1{
	float:left;
	margin-right:10px;
	text-align:left;
	position:relative;
	font-size:12px;
	padding-bottom:30px;
	width:154px;
}

.v8_sprob2{
	width:154px;
	height:90px;
	overflow: hidden;
	text-align:center;
	position:relative;
	margin-bottom:5px;
}

.v8_sprob2:hover {
	opacity: 0.85;
    filter: alpha(opacity=85);
}

.v8_sprkin1{
	float:right;
	text-align:left;
	position:relative;
	font-size:12px;
	padding-bottom:20px;
	width:140px;
}

.v8_sprkin2{
	width:140px;
	height:95px;
	overflow: hidden;
	text-align:center;
	position:relative;
	margin-bottom:5px;
}

.v8_sprkin2:hover {
	opacity: 0.85;
    filter: alpha(opacity=85);
}



.v8_sprochp1{
	position:absolute;
	bottom:5px;
	left:5px;
}

.v8_sprochp2{
	position:absolute;
	bottom:5px;
	left:5px;
	background-color:#fff;
	opacity: 0.95;
    filter: alpha(opacity=95);
	width:120px;
}

.v8_sprochp31{
	margin:7px;
	margin-left:0px;
	font-size:15px;
	color:#999;
}

.v8_sprochp32{
	margin:7px;
	margin-left:0px;
	padding-left:15px;
	margin-bottom:0px;
	background-image:url('img/v8sprminichas.png');
	background-repeat: no-repeat;
	background-position: top left;
	font-size:11px;
}

.v8_sprochp33{
	margin:7px;
	margin-left:0px;
	padding-left:15px;
	margin-bottom:0px;
	background-image:url('img/v8sprminilocation.png');
	background-repeat: no-repeat;
	background-position: top left;
	font-size:11px;
	text-align:left;
}

.v8_sprochp34{
	margin-top:10px;
	margin-right:10px;
	border-left:1px solid #ececec;
	border-top:1px solid #ececec;
}


.v8_sprochp35{
	border:1px solid #ececec;
	color:#999;
	font-size:12px;
	background-color:#fff;
	margin-bottom:10px;
	width:150px;
	height:25px;
	float:left;
}





.v8_sproc60{
	background-image:url('img/v8spr60.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#42b449;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc55{
	background-image:url('img/v8spr55.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#42b449;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc50{
	background-image:url('img/v8spr50.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#42b449;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc45{
	background-image:url('img/v8spr45.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#faac39;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc40{
	background-image:url('img/v8spr40.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#faac39;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc35{
	background-image:url('img/v8spr35.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#dd4b38;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc30{
	background-image:url('img/v8spr30.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#dd4b38;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc20{
	background-image:url('img/v8spr20.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#333;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}

.v8_sproc00{
	background-image:url('img/v8spr00.png');
	background-repeat: no-repeat;
	background-position: top center;
	color:#ccc;
	font-size:13px;
	text-align:center;
	width:36px;
	padding-top:8px;
	padding-bottom:10px;
}



.v6_obv {
	padding:3px;
	padding-top:0px;
	padding-left:28px;
	font-size:14px;
	font-weight:bold;
}

.v6_obv1 {
	padding:3px;
	padding-left:28px;
	color:#999;
}

.v6_obv2 {
	padding:3px;
	padding-left:28px;
	float:left;
	width:115px;
	color:#999;
}

.v6_obh1{
	background-image:url('img/v6obhome.png');background-repeat: no-repeat; background-position:top left;
	float:left;
	width:148px;
	text-align:left;
	margin-top:10px;
}

.v6_obh2{
	background-image:url('img/v6objob.png');background-repeat: no-repeat; background-position:top left;
	float:left;
	width:148px;
	text-align:left;
	margin-top:10px;
}

.v6_obh3{
	background-image:url('img/v6obcar.png');background-repeat: no-repeat; background-position:top left;
	float:left;
	width:148px;
	text-align:left;
	margin-top:10px;
}

.v6_obh4{
	background-image:url('img/v6obsell.png');background-repeat: no-repeat; background-position:top left;
	float:left;
	width:148px;
	text-align:left;
	margin-top:10px;
}

.v6_obh5{
	background-image:url('img/v6obusl.png');background-repeat: no-repeat; background-position:top left;
	float:left;
	text-align:left;
	margin-top:10px;
}




.nh_kino5 {background-image:url('img/kino51.png'); height:60px;width:95px;
background-position:top left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;

}

.nh_kino5:hover {background-image:url('img/kino51.png'); height:60px;width:95px;
background-position:top right;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;

}

.nh_teat5 {background-image:url('img/kino52.png'); height:60px;width:95px;
background-position:top left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;

}

.nh_teat5:hover {background-image:url('img/kino52.png'); height:60px;width:95px;
background-position:top right;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;

}


.nh_kino51 { float:right;width:95px;margin-left:5px;position:relative;
}


.nh_kino52 { color:#666;margin-top:3px;text-align:left;font-size:11px;
}

.nh_kino52 a{ color:#666;
}




.nh_pad51 {background-image:url('img/v5pad1.gif'); 
background-position:top left;background-repeat:no-repeat;cursor:pointer;position:relative;
padding:5px;padding-bottom:14px;color:#666666;text-align:left;
}

.nh_pad51:hover {background-image:url('img/v5pad1.gif'); 
background-position:top right;background-repeat:no-repeat;cursor:pointer;position:relative;
padding:5px;padding-bottom:14px;color:#333;text-align:left;
}

.nh_rd1 {background-image:url('img/rd1.gif'); 
background-position:bottom;background-repeat:repeat-x;
margin-top:20px;
margin-left:10px;
margin-right:10px;
cursor: pointer;
}

.nh_rd1_1 {
float:left;
font-weight:bold;
margin-top:7px;
margin-right:5px;
}

.nh_bnt1 {background-image:url('img/bnt1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:33px;
height:25px;
cursor: pointer;
float:left;
}

.nh_bnt1_2 {background-image:url('img/bnt12.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:3px;
margin-right:2px;
width:29px;
height:21px;
margin-top:3px;
cursor: pointer;
float:left;
}

.nh_bnt1_2:hover {background-image:url('img/bnt1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:33px;
height:25px;
margin-top:0px;
cursor: pointer;
float:left;
}

.nh_btv1 {background-image:url('img/btv1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:44px;
height:25px;
cursor: pointer;
float:left;
}

.nh_btv1_2 {background-image:url('img/btv2.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:3px;
margin-right:3px;
width:39px;
height:21px;
margin-top:3px;
cursor: pointer;
float:left;
}

.nh_btv1_2:hover {background-image:url('img/btv1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:44px;
height:25px;
margin-top:0px;
cursor: pointer;
float:left;
}

.nh_nova1 {background-image:url('img/nova1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:33px;
height:25px;
cursor: pointer;
float:left;
}

.nh_nova1_2 {background-image:url('img/nova2.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:3px;
margin-right:2px;
width:29px;
height:21px;
margin-top:3px;
cursor: pointer;
float:left;
}

.nh_nova1_2:hover {background-image:url('img/nova1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:33px;
height:25px;
margin-top:0px;
cursor: pointer;
float:left;
}

.nh_potv1 {background-image:url('img/potv1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:42px;
height:25px;
cursor: pointer;
float:left;
}

.nh_potv1_2 {background-image:url('img/potv2.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:3px;
margin-right:2px;
width:38px;
height:21px;
margin-top:3px;
cursor: pointer;
float:left;
}

.nh_potv1_2:hover {background-image:url('img/potv1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-left:1px;
margin-right:0px;
width:42px;
height:25px;
margin-top:0px;
cursor: pointer;
float:left;
}


.nh_moretv1 {background-image:url('img/moretv1.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-top:3px;
width:100px;
cursor: pointer;
float:right;
text-align:center;
color:#999999;
padding-top:4px;
padding-bottom:5px;
font-size:11px;
}

.nh_moretv1:hover {background-image:url('img/moretv2.gif'); 
background-position:top left;background-repeat:no-repeat;
margin-top:3px;
width:100px;
cursor: pointer;
float:right;
text-align:center;
color:#666666;
padding-top:4px;
padding-bottom:5px;
font-size:11px;
}


.nh_tvred1 {
padding-top:5px;
padding-bottom:5px;
color:#999999;
border-bottom:1px solid #ececec;
}

.nh_tvred2 {
padding-top:5px;
padding-bottom:5px;
color:#d44b38;
border-bottom:1px solid #ececec;
}


.nh_tvred3 {
float:left;
font-weight:bold;
width:50px;
text-align:left;
}

.nh_tvred4 {
float:left;
color:#333;
width:250px;
text-align:left;
}



.nh_topline { 
color:#333;
font-size:18px;
font-weight:bold;
text-align:left;
font-family: Verdana;
padding-bottom:10px;
}

.nh_topline a{ 
color:#333;
}

.nh_topline:hover a{ 
color:#3773aa;
text-decoration:none;
}


.nh_toppic { 
float:left;
margin-right:10px;
margin-top:4px;
}

.nh_toptxt { 
float:left;
width:330px;
text-align:left;
}

.nh_toptxt2{ 
color:#777;
padding-top:5px;
}


.nh_toptxt2 a{ 
color:#777;
}

.nh_toptxt2:hover a{ 
color:#9a9a9a;
text-decoration:none;
}

.nh_topdate { 
float:left;
font-size:11px;
color:#d44b38;
margin:0px;
margin-top:1px;
}


.nh_potemata {
color:#c0c0c0;
font-size:12px;
margin-top:15px;
line-height: 19px;
text-align:left;
}

.nh_potematatopline {
color:#dc6f5f;
padding-bottom:3px;
font-weight:bold;
font-size:11px;
}


.nh_topicon{
float:left;
margin-top:1px;margin-left:7px;
padding-bottom:3px;
}

.nh_topiconv6{
float:right;
margin-left:5px;
}
.nh_topiconv61{
float:right;
}

.nh_topiconv62{
float:right;
background-image:url('img/v6comh62.png');
bockground-repeat:no-repeat;
background-position: right top;
padding:6px;
padding-left:3px;
color:#eeeeee;
font-size:13px;
font-weight:bold;
}

.nh_topiconv65{
float:right;
background-image:url('img/v6comh65.png');
bockground-repeat:no-repeat;
background-position: right top;
padding:11px;
padding-left:2px;
padding-right:7px;
color:#eeeeee;
font-size:16px;
font-weight:bold;
}

.nh_topzaglv61{
position:absolute;bottom:120px;left:20px;color:#fff;font-size:22px;text-align:left;text-shadow:2px 1px 0 #000;z-index:998;font-weight:bold;width:380px;
}


.nh_topzaglv612{
color:#393939;font-size:20px;text-align:left;text-shadow:1px 1px 0 #ececec;z-index:998;font-weight:bold;
}

.nh_topzaglv61 a{
color:#fff;
}

.nh_topzaglv612 a{
color:#393939;
}

.nh_topzaglv614{
position:absolute;bottom:119px;left:21px;color:#0000;font-size:22px;text-align:left;z-index:996;font-weight:bold;width:380px;
}

.nh_topzaglv615{
position:absolute;top:-5px;left:340px;width:325px;
}

.nh_toptxt616{
margin-top:7px;;
font-size:12px;color:#999;text-align:left;
}

.nh_toptxt616 a{
color:#999;text-decoration:none;
}

.nh_undertopzaglv617{
color:#393939;font-size:15px;text-align:left;margin-top:3px;margin-left:10px;width:205px;height:80px;
}


.nh_undertopzaglv617 a{
color:#333;
}



.nh_topbakv63{
float:left;
background-image:url('img/backtopv63.png');
bockground-repeat: repeat-y;
background-position: left;
position:absolute;
left:0px;
right:0px;
bottom:0px;
top:0px;
cursor:pointer;
}

.nh_topbakv632{
float:left;
background-image:url('img/backtopv68.png');
bockground-repeat: repeat-y;
background-position: left;
position:absolute;
left:0px;
right:0px;
bottom:0px;
top:0px;
cursor:pointer;
}

.nh_topbakv633{
float:left;
background-image:url('img/backtopv69.png');
bockground-repeat: repeat-y;
background-position: left;
position:absolute;
left:0px;
right:0px;
bottom:0px;
top:0px;
cursor:pointer;
}

.nh_undertop{
float:left;
width:225px;
position:relative;
border-right:1px solid #ececec;
border-bottom:1px solid #ececec;
}


.nh_undertoppicv6 {
 	width: 205px;
    height: 115px;
    overflow: hidden;
	margin-top:10px;
	margin-left:10px;
}

.nh_undertoppicv6:hover {
	opacity: 0.85;
    filter: alpha(opacity=85);
}



.nh_toppicv62 {
 	width: 620px;
    height: 280px;
    overflow: hidden;
}

.nh_toppicv63 {
 	width: 300px;
    height: 230px;
    overflow: hidden;
	text-align:center;
	margin-left:10px;
	margin-top:10px;
	position:relative;
	z-index:665;
	float:left;
}

.nh_toppicv63:hover {
 	opacity: 0.85;
    filter: alpha(opacity=85);
}

.nh_toptxtv64 {
 	position:absolute;
	bottom:0px;
	left:10px;
	right:0px;
	width:310px;
	background-color:#fff;
	min-height: 225px;
	z-indesx:667;
	padding-top:5px;
}

.nh_undertopbak{
position:absolute;bottom:0px;left:0px;right:0px;bottom:0px;height:130px; background-image:url('img/bakpodv1.png');background-repeat: repeat-x;background-position: top;cursor:pointer;
}

.nh_undertopbak:hover{
position:absolute;bottom:0px;left:0px;right:0px; bottom:0px;height:127px; background-image:url('img/bakpodv1.png');background-repeat: repeat-x;background-position: top;border-bottom:3px solid #d44b38;cursor:pointer;
}

.nh_undertopbakt1{
position:absolute;bottom:0px;left:0px;right:0px;padding:8px;color:#fff;font-size:17px;text-align:left;text-shadow:2px 1px 0 #000;z-index:998; 
}

.nh_undertopbakt1 a{
color:#ffffff;
}

.nh_undertopbakt1:hover {
position:absolute;bottom:0px;left:0px;right:0px;padding:8px;padding-bottom:5px;border-bottom:3px solid #d44b38;
}


.nh_undertopbakt2{
position:absolute;bottom:7px;left:9px;right:7px;color:#000;font-size:17px;text-align:left;z-index:997;
}

.nh_undertopbakop1{
position:absolute;top:92px;left:15px;z-index:1997;
}

.nh_undertopadv{
position:absolute;top:91px;right:16px;z-index:1997;
}

.nh_undertopexclusive{
position:absolute;top:10px;left:10px;z-index:1997;
background-color:#d44b38;
padding:5px;
font-size:11px;
font-weight:bold;
color:#fff;
}

.nh_topexclusive{
position:absolute;top:0px;left:0px;z-index:1997;
background-color:#d44b38;
padding:5px;
font-size:12px;
font-weight:bold;
color:#fff;
}

.nh_v67baktema{
position:absolute;bottom:30px;left:20px;width:340px; background-image:url('img/backtemav67.png');
background-repeat: repeat-y;background-position: left;padding:5px;padding-left:8px;color:#d44b38;
text-align:left;padding-top:1px;padding-bottom:1px;
}

.nh_v67baktema2{
color:#6a261c;
margin-top:4px;
}
.nh_v67baktema2 a{
color:#c9c9c9;
}

.nh_undertop1{
width:200px;
float:left;
margin-left:7px;
margin-right:5px;
color:#111;
font-size:14px;
text-align:left;
}

.nh_undertop3{
color:#333;
font-weight:bold;
}

.nh_undertop3 a{
color:#333;
font-weight:bold;
}

.nh_undertop3:hover a{
color:#3773aa;
font-weight:bold;
text-decoration:none;
}

.nh_multimedia{
margin-top:10px;
background-color:#eeeeee;
}

.nh_multimedia2{
font-size:22px;
color:#000;
float:left;
margin-left:10px;
background-image:url('img/v6str1.png'); 
background-position:top center;background-repeat:no-repeat;
padding-top:5px;
}

.nh_multimedia3{
width:232px;
float:left;
margin:10px;
margin-top:8px;
margin-right:7px;
}

.nh_multimedia4{
position:relative;
width: 232px;
    height: 135px;
    overflow: hidden;
}

.nh_multimedia4:hover {
	opacity: 0.85;
    filter: alpha(opacity=85);
}

.nh_multimedia5{
position:absolute;
bottom:5px;
left:5px;
}

.nh_multimedia6{
margin-top:7px;
font-size:13px;
text-align:left;
}

.nh_multimedia6:hover a{
color:#d44b38;
}


.nh_multimedia7{
margin:10px;
margin-left:5px;
margin-bottom:0px;
margin-top:8px;
float:right;
cursor:pointer;
}




.nh_aktualnin1{
margin:10px;
margin-right:0px;
margin-top:20px;
border-top:1px solid #ececec;
padding-top:3px;
float:left;
width:668px;
border-right:1px solid #ececec;
}

.nh_aktualnin199{
margin:10px;
margin-left:0px;
margin-right:0px;
margin-top:20px;
border-top:1px solid #ececec;
float:left;
width:678px;
border-right:1px solid #ececec;
}

.nh_aktualnin199n{
margin:10px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
float:left;
width:677px;
border-right:1px solid #ececec;
}

.nh_aktualnin1992{
padding-left:10px;
text-align:left;
}

.nh_aktualnin1993{
margin:10px;
text-align:left;
font-size:14px;
color:#d73d32;
}

.nh_aktualnin1994{
margin-left:10px;
margin-bottom:15px;
float:left;
width:154px;
font-size:12px;
text-align:left;
}

.nh_aktualnin1995{
width:154px;
height:90px;
overflow: hidden;
position:relative;
margin-bottom:5px;
}

.nh_aktualnin1996{
float:left;margin-left:4px;
	width:500px;
	position:relative;
	background-image:url('img/v8mnen1.png');background-repeat: no-repeat; background-position:top left;
	text-align:left;
	margin-bottom:15px;
}
.nh_aktualnin1997{
margin-left:5px;
border:1px solid #e6e6e6;
border-left:0px;
padding:5px;
}

.nh_aktualnin1998{
margin:10px;
margin-top:0px;
border:1px solid #eeeeee;
color:#666666;
cursor:pointer;
font-size:13px;
padding:6px;
}

.nh_aktualnin1998:hover{
border:1px solid #cccccc;
color:#d73d32;
background-color:#f3f3f3;
}

.nh_aktualnin1v9{
margin:0px;
padding:3px;
padding-left:10px;
background-color:#f3f3f3;
}

.nh_aktualnin1v93{
margin:0px;
margin-top:5px;
margin-bottom:10px;
padding:3px;
padding-left:10px;
background-color:#f3f3f3;
border-top:1px solid #ececec;
}

.nh_aktualnin1v8{
margin:10px;
margin-right:0px;
margin-top:0px;
padding-top:5px;
float:left;
width:667px;
border-right:1px solid #ececec;
}

.nh_v6val1 {
margin-top:5px;border-top:1px solid #f0f0f0;text-align:left;padding-top:5px;margin-right:10px;padding-bottom:10px;
}

.nh_v6val2 {
float:left;width:28px;margin-top:17px;text-align:left;
}

.nh_v6val3 {
float:left;width:32px;margin-top:15px;color:#999;text-align:left;
}

.nh_v6val4 {
float:left;width:88px;margin-top:15px;color:#666;text-align:left;
}

.nh_v6val5 {
float:left;width:88px;margin-top:15px;color:#666;text-align:left;
}

.nh_aktualnitemi{
margin-right:10px;
margin-top:20px;
border-top:1px solid #ececec;
padding-top:5px;
float:right;
width:300px;
}

.nh_aktualnitemiface{
margin-right:10px;
margin-top:20px;
float:right;
width:300px;
}

.nh_aktualnitemi2{
margin-top:10px;
background-image:url('img/v6temi.png'); 
background-position:top left;background-repeat:no-repeat;
padding-left:22px;
padding-bottom:4px;
margin-right:5px;
}

.nh_aktualnitemi3v8{
border-top:1px solid #ececec;
padding-top:3px;margin-top:10px;
margin-right:10px;
}

.nh_aktualnitemi3{
border-top:1px solid #ececec;
padding-top:3px;margin-top:20px;
}



.nh_aktualnim1{
margin-top:20px;
margin-left:10px;
margin-right:0px;
border-top:1px solid #ececec;
border-right:1px solid #ececec;
padding-top:5px;
float:left;
width:328px;
text-align:left;
}

.nh_aktualnim2{
margin-top:20px;
margin-left:10px;
margin-right:0px;
border-top:1px solid #ececec;
border-right:1px solid #ececec;
padding-top:5px;
float:left;
width:328px;
text-align:left;
}

.nh_aktualnim3{
margin-top:10px;
margin-left:10px;
margin-right:0px;
border-right:1px solid #ececec;
float:left;
width:328px;
text-align:left;
}

.nh_aktualnim4{
margin-top:10px;
margin-right:10px;
float:right;
width:300px;
text-align:left;
}


.nh_aktualnin2{
font-size:22px;
color:#696969;
float:left;
}

.nh_aktualnin25{
font-size:22px;
color:#696969;
margin-bottom:10px;
text-align:left;
}

.nh_aktualnin26{
font-size:22px;
color:#696969;
text-align:left;
margin-bottom:10px;
margin-top:20px;
padding-top:5px;
border-top:1px solid #ececec;
}

.nh_aktualnin32{
font-size:22px;
float:left;
color:#b5b5c5
}

.nh_undertop2{
margin-top:5px;
}

.nh_morediv{
float:left;
width:328px;
margin-right:5px;
}

.nh_moretime{
margin:1px;
margin-bottom:0px;
font-size:11px;
font-weight:bold;
float:left;
text-align:left;
margin-top:14px;
color:#d44b38;
width:65px;
}

.nh_moretime:hover {
	opacity: 0.85;
    filter: alpha(opacity=85);
}

.nh_moretitle{
margin-top:11px;
margin-bottom:0px;
font-size:13px;
color:#d0d0d0;
width:258px;
float:left;
text-align:left;
margin-left:0px;
}


.nh_moretitle a:hover{
color:#d44b38;
}

.nh_moretemi{
margin-top:11px;
margin-bottom:0px;
font-size:13px;
color:#d0d0d0;
width:600px;
float:left;
text-align:left;
margin-left:5px;
}
.nh_moretime2{
margin-top:5px;
font-size:10px;
color:#c0c0c0;
float:left;
}

.nh_moretime3{
float:left;margin-top:4px; color:#ccc; font-size:11px;
margin-left:3px;margin-right:3px;
}

.nh_moretime4{
float:left;margin-top:5px;
}

.nh_dopnav1 {
color:#636363;
font-size:15px;
float:left;
margin-top:6px;
cursor:pointer;
padding-left:3px;
padding-right:3px;
}

.nh_dopnav1:hover {
color:#d44b38;
}

.nh_dopnav1sel {
color:#d44b38;
font-weigh:bold;
font-size:15px;
float:left;
margin-top:6px;
cursor:pointer;
padding-left:3px;
padding-right:3px;
}

.nh_dopnav12 {
color:#c6c6c6;
font-size:13px;
float:left;
margin-top:7px;
cursor:pointer;
padding-left:3px;
padding-right:3px;
}




.nh_dopnav3 {background-image:url('img/v6arrss.png'); 
background-position:top left;background-repeat:no-repeat;
padding:4px;
padding-left:7px;
padding-right:6px;
color:#aaaaaa;
font-size:11px;
float:right;
cursor:pointer;
margin-top:5px;
margin-left:4px;
}



.nh_dopnav4 {background-image:url('img/v6arrts.png'); 
background-position:top left;background-repeat:no-repeat;
padding:4px;
padding-left:7px;
padding-right:6px;
color:#999;
font-size:11px;
float:right;
cursor:pointer;
margin-top:5px;
margin-left:4px;
font-weight:bold;
}

.nh_mm1 {margin-left:4px;width:84px;font-size:9px;color:#888;float:left;margin-top:7px;text-align:left;cursor:pointer;padding-bottom:5px;
}

.nh_mm2 {height:68px;width:84px;background-color:#e3e3e3;position:relative;
}

.nh_mm3 {position:absolute;bottom:0px;right:0px;
}

.nh_mm4 {position:absolute;left:-25px;top:-15px;width:146px;z-index:200;background-image:url('img/popback.png');
	background-repeat:no-repeat;
	background-position:bottom right;
	padding-right:3px;
	padding-bottom:3px;
}

.nh_mm41 {border:1px solid #e0e0e0;padding:4px;text-align:left;padding-bottom:15px;font-size:12px;color:#666;font-weight:bold;
}

.nh_mm42 {height:103px;width:136px;background-color:#e3e3e3;position:relative;
}

.nh_mmleft {float:left;width:28px;height:68px;position:relative;margin-left:10px;margin-top:7px;
}

.nh_mmright {float:left;width:28px;height:68px;position:relative;margin-left:3px;margin-top:7px;margin-right:4px;
}


.nh_mmleftb1 {background-image:url('img/v5_mmleft2.png'); 
background-position:top left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;width:28px;height:68px;cursor:default;
}

.nh_mmleftb2 {background-image:url('img/v5_mmleft1.png'); 
background-position:top left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;cursor:pointer;width:51px;height:68px;z-index:100;
}

.nh_mmleftb2:hover {background-image:url('img/v5_mmleft1.png'); 
background-position:bottom left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;cursor:pointer;width:51px;height:68px;z-index:100;
}

.nh_mmrightb1 {background-image:url('img/v5_mmright2.png'); 
background-position:top right;background-repeat:no-repeat;position:absolute;top:0px;right:0px;width:28px;height:68px;cursor:default;
}

.nh_mmrightb2 {background-image:url('img/v5_mmright1.png'); 
background-position:top right;background-repeat:no-repeat;position:absolute;top:0px;right:0px;cursor:pointer;width:51px;height:68px;z-index:100;
}

.nh_mmrightb2:hover {background-image:url('img/v5_mmright1.png'); 
background-position:bottom right;background-repeat:no-repeat;position:absolute;top:0px;right:0px;cursor:pointer;width:51px;height:68px;z-index:100;
}


.v5_plovdivmap {background-image:url('img/plovdivmap.gif'); 
background-position:top center; background-repeat:no-repeat;
margin-left:10px;margin-right:10px;
height:75px;
border-bottom:1px solid #eaeaea;
position:relative;
}

.v5_plovdivmap:hover {background-image:url('img/plovdivmap.gif'); 
background-position:bottom center; background-repeat:no-repeat;
border-bottom:1px solid #eaeaea;
position:relative;
margin-left:10px;margin-right:10px;
height:75px;
}

.v5_plovdivmap22 {background-image:url('img/mapkats.png'); 
background-position:top left; background-repeat:no-repeat;
height:40px;
width:310px;
position:absolute;
top:20px;
left:345px;
text-align:left;
padding-left:40px;
}



.v5_indexobjcat {
margin-top:5px;
position:relative;
text-align:left;
padding:5px;
padding-bottom:6px;
cursor:pointer;
background-image:url('img/nhobjcat3.gif'); 
background-position:top left; background-repeat:no-repeat;
color:#666666;
margin-right:10px;
}

.v5_indexobjcats {
margin-top:5px;
position:relative;
text-align:left;
padding:5px;
padding-bottom:6px;
cursor:pointer;
background-image:url('img/nhobjcat2.gif'); 
background-position:top left; background-repeat:no-repeat;
color:#333333;
}

.v5_indexobjcatc {
margin-top:5px;
position:relative;
text-align:left;
padding:5px;
padding-bottom:6px;
cursor:pointer;
background-image:url('img/nhobjcat5.gif'); 
background-position:bottom left; background-repeat:no-repeat;
color:#666666;
margin-right:10px;
}

.v5_indexobjcatc:hover {
margin-top:5px;
position:relative;
text-align:left;
padding:5px;
padding-bottom:6px;
cursor:pointer;
background-image:url('img/nhobjcat5.gif'); 
background-position:top left; background-repeat:no-repeat;
color:#666666;
margin-right:10px;
}



.v5_indexobjcat2 {
float:left;
width:195px;
margin-top:5px;
background-image:url('img/nhobjcat1.gif'); 
background-position:top left; background-repeat:no-repeat;
color:#333333;
}


.v5_indexobjcat21 {
margin-left:10px;
margin-top:5px;margin-bottom:1px;
text-align:left;
font-size:11px;
color:#cccccc;
}


.nh_obj51 { float:right;width:90px;margin-right:5px;position:relative;margin-top:5px;
}

.nh_obj52 {background-image:url('img/kino52.png'); height:60px;width:90px;
background-position:top left;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;

}

.nh_obj52:hover {background-image:url('img/kino52.png'); height:90px;width:90px;
background-position:top right;background-repeat:no-repeat;position:absolute;top:0px;left:0px;z-index:100;cursor:pointer;
}

.nh_obj53 { text-align:left;margin-top:5px; padding-left:15px;background-image:url('img/minipinv5.gif'); 
background-position:top left;background-repeat:no-repeat;margin-left:5px;font-size:11px;padding-top:1px;
}

.nh_obj53 a{ color:#666;
}

.v5_3drugiopen {
background-image:url('img/popback.png');
	background-repeat:no-repeat;
	background-position:bottom right;
position: absolute;
bottom:-30px;
left:-260px;
padding-right:3px;
padding-bottom:4px;
z-index:8888888;
}



.v5_3drugiopen2 {
width:560px;
color:#333333;
font-size:12px;
border:1px solid #bebebe; 
}

.v5_3drugiopen2 a{
color:#333333;
}

.v5_3drugiopen32 {
background-color:#f9f9f9;
border-bottom:1px solid #eaeaea; 
}

.v8_3drugiopen32 {
background-color:#ececec;
padding:5px;
text-align:left;
color:#333;
font-weight:bold;
margin-right:10px;
margin-top:10px;
}

.v8_3drugiopen322 {
background-color:#ececec;
text-align:left;
color:#333;
margin-right:10px;
margin-top:10px;
}

.v5_3drugiopen33 {
background-color:#f9f9f9;
border-bottom:1px solid #eaeaea; 
border-top:1px solid #eaeaea; 
margin-top:10px;
margin-bottom:10px;
}


.v5_3drugiopen4 {
float:right;
border-left:1px solid #eaeaea; 
color:#666;
cursor:pointer;
padding:5px;
padding-left:8px;
padding-right:7px;
}

.v5_3drugiopen4:hover {
float:right;
background-color:#bebebe;
border-left:1px solid #eaeaea; 
color:#ffffff;
cursor:pointer;
padding:5px;
padding-left:8px;
padding-right:7px;
}

.v5_3drugiopen5 {
float:left;
color:#666;
padding:5px;
}

.v5_3drugiopen51 {
float:left;
color:#666;
padding:5px;
cursor:pointer;
border-left:1px solid #eaeaea; 
}

.v5_3drugiopen51:hover {
float:left;
color:#666;
padding:5px;
cursor:pointer;
background-color:#bebebe;
border-left:1px solid #eaeaea; 
color:#ffffff;
}

.v5_3drugiopen52 {
float:left;
color:#666;
padding:5px;
border-left:1px solid #eaeaea; 
border-right:1px solid #eaeaea; 
}

.v5_3drugiopen53 {
float:left;
color:#666;
padding:5px;
cursor:pointer;
border-right:1px solid #eaeaea; 
}

.v5_3drugiopen53:hover {
float:left;
color:#666;
padding:5px;
cursor:pointer;
background-color:#bebebe;
border-right:1px solid #eaeaea; 
color:#ffffff;
}

.v5_3drugiopen54 {
float:left;
color:#666;
padding:5px;
border-right:1px solid #eaeaea; 
font-weight:bold;
}

.v5_3drugiopen6 {
float:left;width:130px;text-align:left;margin-left:5px;margin-top:5px;
}

.v8_3drugiopen6 {
float:left;width:150px;text-align:left;margin-top:5px;margin-right:10px;
}

.v5_3drugiopen7 {
float:left;width:130px;text-align:left;margin-left:5px;margin-top:3px;
}

.v8_3drugiopen7 {
float:left;width:150px;text-align:left;margin-top:3px;margin-right:10px;
}


.v5_3calday1 {
border-right:1px solid #eaeaea; 
border-bottom:1px solid #eaeaea; 
padding-bottom:6px; 
padding-top:6px; 
color:#666;
cursor:pointer;
font-size:14px;
}

.v5_3calday1:hover {
border-right:1px solid #eaeaea; 
border-bottom:1px solid #eaeaea; 
padding-bottom:6px; 
padding-top:6px; 
color:#333;
background-color:#f6f6f6;
cursor:pointer;
font-size:14px;
}

.v5_3calday1b {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#666;
cursor:pointer;
font-size:12px;
text-align:center;
}

.v5_3calday1b:hover {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#333;
background-color:#f6f6f6;
cursor:pointer;
font-size:12px;
text-align:center;
}

.v5_3calday2 {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#999999;
font-size:14px;
}


.v5_3calday2b {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#999999;
font-size:12px;
text-align:center;
}


.v5_3calday3 {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#f3f3f3;
background-color:#f3f3f3;
font-size:14px;
}

.v5_3calday3b {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#f3f3f3;
background-color:#f3f3f3;
font-size:12px;
text-align:center;
}

.v5_3calday4 {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#fff;
cursor:pointer;
font-size:14px;
background-color:#d44b38;
}

.v5_3calday4:hover {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#fff;
cursor:pointer;
font-size:14px;
background-color:#bd4535;
}

.v5_3calday4b {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#fff;
cursor:pointer;
font-size:12px;
background-color:#d44b38;
text-align:center;
}

.v5_3calday4b:hover {
border-right:1px solid #ececec; 
border-bottom:1px solid ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#fff;
cursor:pointer;
font-size:12px;
background-color:#bd4535;
text-align:center;
}

.v5_3calday5 {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
padding-bottom:6px; 
padding-top:6px; 
color:#666;
background-color:#fff;
font-size:14px;
}

.v9_h1 {
border-right:1px solid #ececec; 
border-bottom:1px solid #ececec; 
background-color:#f3f3f3;
color:#333333;
font-size:16px;
margin:0px;
margin-right:2px;
padding:5px;
padding-left:10px;
}