

html {
    width: 100%;
}

body {
    font: 14px Tahoma;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    cursor: pointer;
}
.icon1_80{
    background: url(../img/icon80/icon1.png) 50% 50% no-repeat;
    height: 80px;
    width: 80px;
}


.icon1_40{
    background: url(../img/icon40/icon1.png) 50% 0 no-repeat;
    width: 56px;

}

.icon13_24, .icon14_24, .icon15_24, .icon16_24{
    background: url(../img/icon24/icon13.png) 50% 50%;
    height: 24px;
    width: 24px;
}
.icon14_24{
    background-image: url(../img/icon24/icon14.png);
}
.icon15_24{
    background-image: url(../img/icon24/icon15.png);
}
.icon16_24{
    background-image: url(../img/icon24/icon16.png);
}
.btn-top-search{
    background: #ff0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff0000, #D0021B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #D0021B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #D0021B); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#09A4D3, #D0021B); /* Standard syntax */
    //background: linear-gradient(#FA1E64, #B71347);
    background: linear-gradient(#ff0000, #D0021B);
    border: none;
    color:#fff;
    font-size:14px;
    text-transform: uppercase;
    padding: 8px 12px;
}
.btn-top-search:hover, .btn-top-search:active, .btn-top-search:visited{
    color:#fff !important;
    outline: none !important;
    background: #ff0000 !important;
}

#logo{
    font-family: "NHaasGroteskDSPro-95Blk","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    color: #00b9e4;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    background: url(../img/globe.png) no-repeat 0 50%;
    padding-left: 50px;
    line-height: 40px;
}
#logo span{


}
#logo a{
    text-decoration: none;
    color:#fff;
}
.pink-title{
    background: #fff;
    display: inline-block;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff0000;
    border-left: 4px solid #ff0000;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 8px;
}
.weather{
    position: relative;
    //padding: 20px 0;
   // border-top: 6px solid #ff0000;
}
.weather h1{
    font-size: 18px;
    color: #000;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
.weather-curdate{

}
.ww-day{

}
.weather-block{
    margin-bottom: 16px;
}
.weather-icon{
    float: left;

}
.weather-info{
    float: left;
    padding-left: 20px;
    font-size: 16px;
}
.clearfix{
    clear: both;
}
.wi-temp{
    background: url(../img/icon24/icon13.png) no-repeat 0 50%;
    padding: 8px 0 8px 34px;
    line-height: 24px;

}
.grey{
    color: #4A4A4A;
}
.lightgrey{
    color: #ABABAB;
}
.wi-wind{
    background: url(../img/icon24/icon15.png) no-repeat 0 50%;
    padding: 8px 0 8px 34px;
    line-height: 24px;

}
.ww-one{
    float: left;
    padding: 40px 0 0;
    margin: 0 4px;
    text-align: center;
}
.weather-geo{
    position: absolute;
    background: url(../img/geoloc.png) no-repeat 0 0;
    width: 20px;
    height: 29px;
    //cursor:pointer;
    right: 0;
    top:0;
}
.feedEkList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.feedEkList li{
    padding: 0 0 8px;
    position: relative;
    border-top: 4px solid #FCD437;
    margin-bottom: 16px;
    background: url(../img/bg_dot_gold.png);
}
.itemTitle a, .itemTitle{
    color:#1D2540;
    font-size: 22px;
    //font-weight: bold;
}
.itemDate{
    padding: 8px 0;
}
.itemContent{
}
.form-control-top{
    width: 60% !important;
}
.form-inline-top{
    margin-top: 22px;
}
.news-container{
    padding-top:110px;
}


.header-line{
    //background: #337ab7;//url(../img/bg_dot.png);
    //border-bottom: 4px solid #00b9e4;
    width:100%;
    z-index: 100;
    border: none;
    border-top: 12px solid #5C9CCC;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background: #fff;
    //background: url(../img/bg_dot_trans.png) #337ab7;
}
.header-line.affix{
    border-bottom: 1px solid #ff0000;
}

.header-line > .container{
    //background: #337ab7;
}

.header-line .form-control{
    border: 1px solid #1D1F23;

}
.itemImg{
    float: left;
    width: 20%;
    height: 110px;
    overflow: hidden;
}

.itemImg img{
    //width: 100%;
}
.itemDesc{
    float: right;
    width: 80%;
    color: #4A4A4A;
    background: #fff;
    padding: 16px;
}
.itemDescFull{
    width: 100%;
    text-align: center;
}
.itemImgLg{
    float: left;
    border: 4px solid #5C9CD1;
    margin: 0 10px 0 0;
}
.itemImgLg img{
    //width:100%;
}
.itemDescLg{
    background: #fff;
    color: #000;
    padding: 10px;
    max-width: 90%;
    margin: 40px 0 0 60px;
}
.itemDescLg a{
    padding: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
}
.itemDescLg .itemTitle{
    padding: 4px;
}
.itemDescLg .itemDate{
    padding: 4px;
}
.itemDescLg .itemContent{
    padding: 4px;
}
.itemImgSm{
    position: relative;
}
.itemImgSm img{
    width: 25%;
}
.itemDescSm{
    position: absolute;
    bottom: 20px;
    left: 0;
    background: url(../img/topnewsbg.png) repeat;
    color:#000;
    width: 100%;
}
.itemDescSm a{
    color:#000;
}
.itemDescSm .itemTitle{
    padding: 4px;
}
.itemDescSm .itemDate{
    padding: 4px;
}
.itemDescSm .itemContent{
    padding: 4px;
}
#divRss1{
    float:left;
}
#divRss2{
    float: right;
}
.news-cat-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    //border-top: 6px solid #ff0000;
}
.news-cat-li{
    padding: 6px 0;

}
.news-cat-title{
    padding: 0 0 8px;
    line-height: 40px;
    //background: url(../img/news_line.png) repeat-x 0 50%;

}
.news-cat-title span{
    background: #fff;
    display: inline-block;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color:#5C9CCC;
    border-left:4px solid #5C9CCC;
    font-size: 14px;
}
.news-cat{
    cursor:pointer;
    //background: url(../img/news_icon.png) no-repeat 0 50%;
    line-height: 30px;
    //padding-left: 42px;
    display: inline-block;
}
.news-cat:hover{
    text-decoration: underline;
}
.icon_cat_0{
    background-image: url(../img/icon_cat_0.png);
}
.icon_cat_1{
    background-image: url(../img/icon_cat_1.png);
}
.icon_cat_2{
    background-image: url(../img/icon_cat_2.png);
}
.icon_cat_3{
    background-image: url(../img/icon_cat_3.png);
}
.icon_cat_4{
    background-image: url(../img/icon_cat_4.png);
}
.icon_cat_5{
    background-image: url(../img/icon_cat_5.png);
}
.icon_cat_6{
    background-image: url(../img/icon_cat_6.png);
}
.icon_cat_lg{
    background: #fff 50% 50% no-repeat;
    position: absolute;
    right: 0;
    top:0;
    height: 46px;
    width: 46px;
}
.icon_cat_0_lg{
    background-image: url(../img/icon_cat_0_lg.png);
    border-color: #09405D;
    //background-color: #09405D;
}
.icon_cat_1_lg{
    background-image: url(../img/icon_cat_1_lg.png);
    border-color: #F0E180;
   // background-color: #F0E180;
}
.icon_cat_2_lg{
    background-image: url(../img/icon_cat_2_lg.png);
    border-color: #D9E4E4;
    //background-color: #D9E4E4;
}
.icon_cat_3_lg{
    background-image: url(../img/icon_cat_3_lg.png);
    border-color: #E28A57;
    //background-color: #E28A57;
}
.icon_cat_4_lg{
    background-image: url(../img/icon_cat_4_lg.png);
    border-color: #2B77A1;
   // background-color: #2B77A1;
}
.icon_cat_5_lg{
    background-image: url(../img/icon_cat_5_lg.png);
    border-color: #FBD40E;
   // background-color: #FBD40E;
}
.icon_cat_6_lg{
    background-image: url(../img/icon_cat_6_lg.png);
    border-color: #1AADCD;
   // background-color: #1AADCD;
}

.news-cat-ul .active{
    font-weight:bold;
    text-decoration: underline;
}

.news-cat-wrap{

}
.li-firstNews{
    background: url(../img/bg_dot.png) repeat !important;
    padding: 16px !important;
    border-top: 12px solid #5C9CCC !important;
}



/* search result page */
.sr-container{
    padding-top: 110px;
}
.search-result{
    padding: 12px 0;
}
.search-res-li-top{
    margin-bottom: 24px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 12px;
}
.search-res-li{
    margin-bottom: 24px;
}
.sr-mlink, .sr-mlink:hover{
    font-size: 18px;
    //color:#10466E;
    color: #155891;
    display: block;
    float: left;
    line-height: 1.5em;
}
.sr-marker{
    background: #FCD437;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    float: left;
    color:#fff;
    margin-right: 12px;
}
.sr-link, .sr-link:hover{
    color: #5FAA11;
    display: block;
}
.sr-desc{
    padding: 6px 0 12px;
    margin: 0;
    color: #6E6E6E;
}
.sr-tags{
}
.sr-one-tag{
    display: inline-block;
    color:#00b9e4;
}
.sr-one-tag a{
    color:#00b9e4;
    margin-left: 6px;
}
.sr-count{
    color: #969696;
    border-bottom:1px solid #cfcfcf;
    line-height: 46px;

}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #10466F;
    text-decoration: none;
    background-color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #00B9E8;
    border-color: #00B9E8;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
/**********************/
.col-md-3 .gcw_mainF8DjwVqWu{
    margin:0 !important;
}

.col-affix.affix{

}
.feedflare{
    display: none;
}
.itemContent a{
    display: none;
}
.link-hide{
    overflow: hidden;
}