.widjet30meresBala {
    font-family: "LatoWeb", sans-serif;
    font-size: 14px;
    color: #303030;
    line-height: 1.2;
    background-image: url(http://30meresmpala.gr/public/img/widjetBg.png);
    background-position:  center 77px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;

}

.widjet30meresBala .header{
    background-color: #fff;
}

.widjet30meresBala ul{
  list-style: none;
}

.widjet30meresBala ul li{
    list-style: none;

}
.widjet30meresBala strong {
    font-weight: bold
}
.widjet30meresBala a {
    text-decoration: none
}
.widjet30meresBala .fullWrapper {
    width: 100%
}
.widjet30meresBala .fullWrapper .wrapper {
    width: 96%;
    max-width: 1280px;
    margin: 0 auto
}
.widjet30meresBala .table {
    display: table
}
.widjet30meresBala .table .tableCell {
    display: table-cell
}
.widjet30meresBala .table .tableCell.verticalAlignMiddle {
    vertical-align: middle
}
.widjet30meresBala .table .tableCell.verticalAlignTop {
    vertical-align: top
}
.widjet30meresBala .table .tableCell.verticalAlignBottom {
    vertical-align: bottom
}
.widjet30meresBala .block {
    display: block
}
.widjet30meresBala .inlineBlock {
    display: inline-block
}
.widjet30meresBala .inline {
    display: inline
}
.widjet30meresBala .left {
    float: left
}
.widjet30meresBala .right {
    float: right
}
.widjet30meresBala .relative {
    position: relative
}
.widjet30meresBala .more {
    color: #d1232b !important;
    display: inline-block;
    font-size: 14px;
   
    margin-top: 20px;
    padding-right: 20px;
    font-weight: bold
}
.widjet30meresBala .header {
    padding: 10px 0
}
.widjet30meresBala .header .logo {
    display: inline-block
}
.widjet30meresBala .header .logo img {
    height: 60px
}
.widjet30meresBala .header .sportDogLogo {
    padding-right: 40px
}
.widjet30meresBala .content {
    padding: 20px 0;
}
.widjet30meresBala .content .categories li {
    margin-top: 20px;
    background: url(http://30meresmpala.gr/public/img/IconWhite.png);
    background-repeat: no-repeat;
    background-position: right center;
    max-width: 150px
}
.widjet30meresBala .content .categories li a {
    color: #fff
}
.widjet30meresBala .content article {
    position: relative;
    min-height: 260px
}
.widjet30meresBala .content article .title {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 12px;
    float: left
}
.widjet30meresBala .content article img {
    width: 100%
}
.widjet30meresBala .content article .more {
    color: #fcaf34 !important;
    background-image: url(http://30meresmpala.gr/public/img/Icon-gold.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    bottom: 0px;
    left: 4%
}
.widjet30meresBala .widjetItem {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding-left: 1%
}
.widjet30meresBala .widjetItem:first-child {
    padding-left: 0
}

.opapLogo img{
        max-height: 46px;
}
@media only screen and (max-width: 1024px) {
    .widjet30meresBala .header {
        font-size: 12px
    }
    .widjet30meresBala .header .sportDogLogo {
        padding-right: 10px !important
    }
    .widjet30meresBala .content article {
        min-height: 240px
    }
}
@media only screen and (max-width: 959px) {
    .widjet30meresBala .content .categories {
        display: none
    }
    .widjet30meresBala .content .categories li {
        max-width: 120px !important
    }
    .widjet30meresBala .content .categories li a {
        font-size: 14px !important
    }
    .widjet30meresBala .content .widjetItem {
        width: 25%;
        padding: 0 1%
    }
    .widjet30meresBala .title {
        font-size: 14px !important
    }
    .widjet30meresBala article {
        min-height: 240px !important
    }
    .widjet30meresBala .header {
        font-size: 10px;
    }
    .widjet30meresBala .header  img {
        height: 25px !important
    }
    .widjet30meresBala .header .logo img {
        height: 60px !important
    }
}

@media only screen and (max-width: 679px) {
    .widjet30meresBala .header .logo img {
        height: 50px !important
    } 
}

@media only screen and (max-width: 580px) {
    .widjet30meresBala{
        display: none;
    }
    
    .widjet30meresBala .header {
        font-size: 12px;
        font-size: 12px
    }
    .widjet30meresBala .header .table {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px
    }
    .widjet30meresBala .header .table.mainTable {
        margin-top: 0
    }
    .widjet30meresBala .header .tableCell {
        display: block;
        text-align: center
    }
    .widjet30meresBala .header .sponsoredBy,
    .widjet30meresBala .header .poweredBy {
        margin: 10px 0 5px 0
    }
    .widjet30meresBala .header .sportDogLogo {
        padding-right: 10px !important
    }
    .widjet30meresBala .header .sportDogLogo img {
        height: 30px !important
    }
    
    .widjet30meresBala article {
        width: 100% !important;
        min-height: none;
        margin-top: 20px
    }
    .widjet30meresBala article .more {
        position: static !important;
        display: none !important
    }
}

/*# sourceMappingURL=external_newpost.css.map */
