@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://file.myfontastic.com/cBJ6AbEpDzAbSaAacLRGoA/fonts/1466585416.eot");
  src:url("https://file.myfontastic.com/cBJ6AbEpDzAbSaAacLRGoA/fonts/1466585416.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/cBJ6AbEpDzAbSaAacLRGoA/fonts/1466585416.woff") format("woff"),
    url("https://file.myfontastic.com/cBJ6AbEpDzAbSaAacLRGoA/fonts/1466585416.ttf") format("truetype"),
    url("https://file.myfontastic.com/cBJ6AbEpDzAbSaAacLRGoA/fonts/1466585416.svg#1466585416") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-icon:before {
  content: "\61";
}
.icon-arrow:before {
  content: "\63";
}
.icon-camera:before {
  content: "\62";
}
.icon-arrow-2:before {
  content: "\64";
}
