.print-block {
  display: block !important; }

.print-inline {
  display: inline !important; }

body {
  margin: 0 !important;
  background: none; }

/*
@page {
  size: A4 portrait;
  margin: 8mm 8mm 8mm 8mm;
}
*/
@page {
  size: A4 portrait;
  margin: 8mm 8mm 8mm 8mm; }
html, body {
  width: 210mm;
  height: 297mm; }

.row > div,
.row > section,
.row > header,
.row > footer {
  display: block;
  *display: block;
  /* IE7 and older */
  zoom: 1;
  /* IE7 and older */ }
.row .one_half {
  width: 50%; }
.row .one_third {
  width: 33.3333%; }
.row .two_thirds {
  width: 66.6666%; }
.row .one_fourth {
  width: 25%; }
.row .three_fourths {
  width: auto !important; }

.adj_sidebar {
  margin-right: 0 !important;
  float: none !important;
  width: auto !important; }
  .adj_sidebar > div,
  .adj_sidebar > section,
  .adj_sidebar > article {
    margin-right: 0 !important; }
  .adj_sidebar .adj_sidebar_container > div,
  .adj_sidebar .adj_sidebar_container > section,
  .adj_sidebar .adj_sidebar_container > article {
    margin-right: 0 !important; }

#header {
  position: relative !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.article_header h1 {
  font-size: 30px !important; }

#wrapper,
#main,
.container {
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
  border: none !important;
  outline: none !important;
  float: none !important;
  clear: both !important;
  width: auto !important;
  background: none !important; }

.hidden-print,
#apanel,
.sidebar,
#trending_tags,
#menu_open,
.article_social,
#footer,
.article_related,
.article_footer,
.article_separator,
.home_featured,
iframe {
  display: none !important; }

/*# sourceMappingURL=print.css.map */
