@import url(reset.css);


body
{
    font-family: 'MuseoSans_Fat';
    font-weight: 500;
    color: #333;
    font-size: 17px;
    padding: 15px 0px 40px 0px;
    margin: 0px;
    text-align: center;
    background-image:url('/img/background.jpg');
    width: 100%;
}

div {
/*    border:1px solid red;*/
}

a {
    color: #409f89;;
    text-decoration: none;
      /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

.all  {
    margin: 0px auto;
    width: 1000px;
    text-align: left;
    position: relative;

}

.allbet  {
    margin-left: 70px;
    width: 1000px;
    text-align: left;
    position: relative;

}


.padding {
    padding: 5px;
}

img {
    border: 0px;
    text-decoration: none;
}

.clear {
    clear: both;
    height: 1px;
}



.header {
    width: 960px;
    height:110px;
    margin: 0px auto;
    text-align: center;
}

.howheader {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
}

.logoright {
    position: relative;
    float: left;
}

.logoright img {
    position: relative;
    float: left;
    margin-left: 50px;
}

#contentbet {
    position: relative;
    width: 1200px;
    float: left;
}


.flags {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 20px;

}

.flags ul {
    list-style-type: none;
}

.flags ul li {
    display: inline;
    text-decoration: none;
    padding-right: 7px;
}

.flagshomepage {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 0px;

}

.flagshomepage ul {
    list-style-type: none;
}

.flagshomepage ul li {
    display: inline;
    text-decoration: none;
    padding-right: 7px;
}


.framer {
    position: relative;
    float: left;
    width: 790px;
    padding-top: 20px;
    padding-left: 30px;
}

.bettext {
    position: relative;
    width: 300px;
    float: right;
    font-family: 'Rokkitt', serif;
    font-size: 17px;
    border-right: 1pt solid #f4f4f4;
    left: -20px;
    padding-right: 35px;
}

.unibettext {
    position: relative;
    width: 300px;
    float: right;
    font-family: 'Rokkitt', serif;
    border-right: 1pt solid #f4f4f4;
    padding-left: -300px;
    padding-right: 35px;
    font-size: 17px;
}

.bettext h1 {
    font-size: 22px;
    color: #409f89;
}

.unibettext h1 {
    font-size: 22px;
    color: #409f89;
}

.howheader h1 {
    font-size: 22px;
    color: #409f89;
}

.faq {
    position: relative;
    float: right;
    width: 356px;
    text-align: left;
    font-family: 'Rokkitt', serif;
    font-size: 17px;
}

.faq img {
    position: absolute;
    top: 25px;
    left: -270px;
}

.all .padding .header h1 a {
color: #fff;
text-decoration:  none;
text-transform:uppercase;
font-size: 50px;
font-family: 'Poller One', cursive;
font-weight: 700;
}

.all .padding .header h1 {
color: #fff;
text-decoration:  none;
text-transform:uppercase;
font-size: 50px;
font-family: 'Poller One', cursive;
font-weight: 700;
}

.header .share {
width: 240px;
height: 90px;
float:right;
}

.header .share ul li {
display: inline;
}

.bet_head {
    font-weight: bold;
}

.text {
    float: left;
    width: 100%;
    margin: -50px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    color: #000;
}


.text table.streamlinks {
    width: 960px;
    margin: 0px auto;
}

.text table {
    border: 0px;
    margin: 15px 0px 45px 0px;
    border-collapse: collapse;
    color: #000;
}

.text table tr:nth-child(even) {

    border-bottom:1pt solid #f4f4f4;
    border-top:1pt solid #f4f4f4;
    
}

.text table tr:last-child {

    border-bottom:0px;
    
}

.text table td {
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    border: 0px;
    text-align: center;
}

.text table tr td:first-child {
    text-align: left;
}


.text table td.link {
    text-indent: 20px;
}

.text table td.bettd {
    width: 100px;

}

.text table td.unibettd {
    width: 100px;
     
}

.text table td.bwintd {
    width: 100px;
}

td.icon img {
    width: 20px;
}

tr.icontr {
    border-bottom: 0px;
}

.text a {
    color: #409f89;;
    text-decoration: none;
      /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

.text a:hover {
    color: #313131;
    text-decoration: none;
}

#notice {
    display: block;
    font-size: 18px;
    font-family: 'Rokkitt', serif;
    color: #36584d;
    margin: 0px auto;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1pt solid #f4f4f4;
    border-radius: 10px;
}

.footer {
    width: 960px;
    margin: auto;
    color: #000;

}

.footer .footer-links {
    width: 700px;
    float: right;

}


.footer .footer-links a {
    color: #000;
    font-weight: bold;
}


div.other strong {
color: #072556 !important;
position: relative;
top: 40px;
left: 20px;
}



.flagshomepage a li {
    background: url('/img/flags/vlajky-sprite.png') no-repeat top left;
    padding-right: 25px;
}

.flags a li {
    background: url('/img/flags/vlajky-sprite.png') no-repeat top left;
    padding-right: 25px;
}


#ba{ background-position: 0 0; width: 16px; height: 11px; } 
#bg{ background-position: -66px 0; width: 16px; height: 11px; } 
#cz{ background-position: -132px 0; width: 16px; height: 11px; } 
#de{ background-position: -198px 0; width: 16px; height: 11px; } 
#dk{ background-position: -264px 0; width: 16px; height: 11px; } 
#es{ background-position: -330px 0; width: 16px; height: 11px; } 
#fi{ background-position: -396px 0; width: 16px; height: 11px; } 
#gb{ background-position: -462px 0; width: 16px; height: 11px; } 
#gr{ background-position: -528px 0; width: 16px; height: 11px; } 
#hr{ background-position: -594px 0; width: 16px; height: 11px; } 
#hu{ background-position: -660px 0; width: 16px; height: 11px; } 
#it{ background-position: -726px 0; width: 16px; height: 11px; } 
#no{ background-position: -792px 0; width: 16px; height: 11px; } 
#pl{ background-position: -858px 0; width: 16px; height: 11px; } 
#pt{ background-position: -924px 0; width: 16px; height: 11px; } 
#ro{ background-position: -990px 0; width: 16px; height: 11px; } 
#rs{ background-position: -1056px 0; width: 16px; height: 11px; } 
#se{ background-position: -1122px 0; width: 16px; height: 11px; } 
#vn{ background-position: -1188px 0; width: 16px; height: 11px; } 
