/*
	Gravatar
	by Automattic
*/

body {
	background: #f5f5f5;
	color: #222;
	cursor: default;
	font: 400 16px/1.5 "Open Sans", "Helvetica Neue", sans-serif;
	margin: 49px 0 0 0;
	padding: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

body.dropped {
	margin-top: 200px;
}

ul, ol, img, dl, dd, dt, table, iframe {
	border: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

#cropper img#cropimg {
	width: 100% !important;
	height: auto !important;
	max-width: 512px;
}

#cropper .preview-panel img {
	max-width: none;
}


/* Default text settings */

a {
	color: #0074a2;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #1e8cbe;
	text-decoration: underline;
}

a:active {
	color: #00466c;
}

p {
	margin: 0 0 .9em;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
}

h2 {
	font-size: 36px;
	line-height: 1em;
	margin: 0 0 25px;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1em;
	margin: 1.2em 0 .2em;
}

h4 {
	font-size: 17px;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 .2em;
}

h5 {
	font-size: 16px;
	line-height: 1em;
	margin: 0 0 .2em;
}

h6 {
	font-size: 14px;
	line-height: 1em;
	margin: 0 0 .2em;
}

/*form/input reset*/

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { color:#DF4926; }


/* Header */

#header input, .signupform input {
	font-family:0.875em/1 "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	background: white;
	color:#444;
	outline: 0;
	padding: 0.625em;
	border: 1px solid #DDD;
	border-bottom:none;
	background: white;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05), 0 2px 1px rgba(0, 0, 0, 0.1);
        	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05), 0 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#header input:hover, .signupform input:hover {
	border: 1px solid #ddd;
	border-bottom:none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05), 0 2px 1px rgba(0, 0, 0, 0.15);
	        box-shadow: inset 0 1px 2px rgba(0,0,0,.05), 0 2px 1px rgba(0, 0, 0, 0.15);
}

#header input:focus, .signupform input:focus {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom:none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05), 0 2px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: inset 0 1px 2px rgba(0,0,0,.05), 0 2px 1px rgba(0, 0, 0, 0.2);
}

#header input[type="submit"], .signupform input[type="submit"] {
	font:600 1em "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding:0.66em;
	cursor: pointer;
	color:white;
	border:none;

	background-color: #1e8cbe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2ea2cc), to(#1e8cbe));
	background-image: -webkit-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:    -moz-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:      -o-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:         linear-gradient(to bottom, #2ea2cc, #1e8cbe);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
}

#header input[type="submit"] {
	margin: 0.66em 0 0;
}

#header form input[type="submit"]:hover,
#header form input[type="submit"]:focus,
.signupform form input[type="submit"]:hover,
.signupform form input[type="submit"]:focus {
	background: #2ea2cc;
}

#header form input[type="submit"]:active,
.signupform form input[type="submit"]:active {
	background-color: #2ea2cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1e8cbe), to(#2ea2cc));
	background-image: -webkit-linear-gradient(top, #1e8cbe, #2ea2cc);
	background-image:    -moz-linear-gradient(top, #1e8cbe, #2ea2cc);
	background-image:      -o-linear-gradient(top, #1e8cbe, #2ea2cc);
	background-image:         linear-gradient(to bottom, #1e8cbe, #2ea2cc);
	box-shadow:none;
}

#header {
	background: #1e8cbe;
	margin: 0;
	padding: 0;
}

#header h1 {
	margin: 2px 0px 4px -6px;
	position: absolute;
	text-indent: -9999px;
	width: 121px;
}

#header h1 a {
	background-position: 6px 6px;
	display: block;
	float: left;
	height: 24px;
	overflow: hidden;
	padding: 6px;
	width: 121px;
}

#header h1 a:hover {
filter: alpha(opacity=80);
opacity: .80;
}

#header a {
	color: #ffffff;
}

#header a:hover {
	color: #fff;
}

/*#page defines the homepage*/

#page #header {
  min-height: 17.5em;
	color:#fff;
	text-shadow:0 2px 2px #0074A2;
}

#header h1 {
	margin: 0;
	position: static;
	text-indent: -9999px;
	width: 258px;
}


#page #header h1 a {
	background-position: -357px 0;
	display: block;
	margin-right:1em;
	float: left;
	height: 52px;
	overflow: hidden;
	width: 260px;
	padding:0;
}

#page #header h1 a:hover {
	-moz-opacity:.80;
	filter: alpha(opacity=80);
	opacity: .80;
}

#page #header h2 {
	font:400 1.875em "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	float:left;
	margin-bottom: 1.3em;
	margin-top: 0.2em;
	text-shadow:0 2px 2px rgba(0, 116, 162, 0.7);
	text-rendering: optimizeLegibility;
}

#page #header a {
	color: #ffffff;
}

#page #header a:hover {
	color: #fff;
}

#page #header p.intro {
	font-size: 1.125em;
	float:left;
	max-width:22em;
	clear:left;
}

#page #header .gcard_header {
  margin-bottom: 40px;
}

#page #header .middle {
	padding-top: 2em;
	overflow: hidden;
}

.middle {
	margin: 0 auto;
	width: 960px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#page .middle {
	padding: 0 20px;
}

#wrap {
	overflow: hidden;
}

/* Special classes */

/* notice-container */
#content .notice-container {
	margin:0 auto 1.5em;
	padding: 0;
}

#content .notice-container ul {
	padding: 0;
}


#content .notice-container li {
	background: #FEFFDF;
	color: #222;
	font-size: 15px;
	list-style: none;
	padding: 5px 7px;
	text-align: center;
	margin: 0;
}

#content .notice-container li:first-child {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-o-border-top-left-radius: 4px;
	-o-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#content .notice-container li:last-child {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-o-border-bottom-left-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#content .notice-container .bad-notice {
	background: #ffb4ae;
	color: #801800;
	}

#content .notice-container .good-notice {
	background: #dcffae;
	color: #3a6700;
	}

#content .notice-container h5 {
	margin: .2em 0 .4em;
}

#content .notice-container p {
	margin: 0;
}

/* TEMP! */

.stage-right-inner,
.stage-left-inner {
	padding: 0 !important;
}

.stage-left {
	width: 490px !important;
}

.stage {
	width: auto !important;
}

.stage-right {
	float: right !important;
	}

.stage h1 {
	padding-left: 0 !important;
}

td.label {
	width: 130px !important;
}

.group .input input, .group .input-textarea textarea {
	width: 310px !important;
}

.group input.text-short {
	width: 148px !important;
}

.btm-form {
	background: #f2f2f2;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height:30px;
	clear: left;
}

.btm-form .item .big, .btm-form .item .sml  {
	width: 180px !important;
}

.btm-form .item .sml {
	width: 120px !important;
}

.group h3 {
	margin: 0 0 5px;
}

.group h4 {
	margin: 15px 0 5px;
}

.fade,
.fadesmall {
	color: #888;
}

.fadesmall {
	font-size: 90%;
}

.my-site-actions {
	margin: 40px 0 20px;
}


/* Upload-new */

#content .upload-new {
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#content ul.upload-new li {
	display: block;
	width: 50%;
	float: left;
	margin: 0;
}

.upload-new li a {
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
	display: block;
	cursor: pointer;
	border: none;
	background: #1e8abc;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.upload-new li a:hover {
	background: #78c8e6;
}

.upload-new li a:before {
	font: 64px/1 'Noticons';
	display: block;
}

.upload-new li a.upload-new-computer:before {
	content: '\f301';
}

.upload-new li a.upload-new-url:before {
	content: '\f426';
}

.upload-new li a.upload-new-existing:before {
	content: '\f473';
}

.upload-new li a.upload-new-webcam:before {
	content: '\f517';
}

#webcam-form input {
	font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	
	padding: 8px 20px;

	background: #1e8cbe;
	background: -moz-linear-gradient(top, #1e8cbe 0%, #0074a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e8cbe), color-stop(100%,#0074a2));
	background: -webkit-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: -o-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: -ms-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: linear-gradient(top, #1e8cbe 0%,#0074a2 100%);

	-webkit-border-radius: 3px;
	border-radius: 3px;
				 
	border: none;
	color: #fff;
	text-shadow: 0 -1px 0 #124869;
}

#webcam-form input:hover {
	color: #fff !important;
	background: #2ea2cc;
	background: -moz-linear-gradient(top, #2ea2cc 0%, #1e8cbe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ea2cc), color-stop(100%,#1e8cbe));
	background: -webkit-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: -o-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: -ms-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
}

#webcam-form input:active {
	background: #2ea2cc;
	background: -moz-linear-gradient(top, #0074a2 0%, #1e8cbe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0074a2), color-stop(100%,#1e8cbe));
	background: -webkit-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: -o-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: -ms-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
}

#webcam-form input[disabled] {
	background: #999;
	background: -moz-linear-gradient(top, #999 0%, #666 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(100%,#666));
	background: -webkit-linear-gradient(top, #999 0%,#666 100%);
	background: -o-linear-gradient(top, #999 0%,#666 100%);
	background: -ms-linear-gradient(top, #999 0%,#666 100%);
	background: linear-gradient(top, #999 0%,#666 100%);
}

.upload-browse-button {
	background: #75c6e5;
	border-radius: 4px;
}

.upload-browse-button input {
	padding: 20px;
}


/* /TEMP */

.clear {
	clear: both;
	display: block;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.floatnone {
	float: none;
}

.linkright {
	float: right;
	margin: -60px 0 0;
}


/**
 * Settings page
 */

label {
	width: 30%;
	display: block;
	float: left;
	line-height: 19px;
	font-size: 13px;
	padding: 6px 0;
}

.label_align {
	padding-left: 160px;
}

/* !o Code */

code {
	background: url(/images/gravatar-code.png) repeat-y 0 -2px;
	color: #222;
	font-family: Monaco, monospace;
	padding: 0 4px;
}

code.block {
	background-position: 0 0;
	border: 1px solid #ccc;
	border-top: none;
	display: block;
	font-family: Monaco, monospace;
	font-size: 12px;
	line-height: 24px;
}

/* !o Textfields */

.text, input.color {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size:14px;
	line-height: 1;
	padding: 8px;
	margin-right: 6px;
	width: 60%;
	border: 1px solid #DFDFDF;
	background: white;
	outline: 0;
	-webkit-box-shadow: inset 2px 2px 4px rgba(200, 200, 200, 0.1);
	box-shadow: inset 2px 2px 4px rgba(200, 200, 200, 0.1);

	-webkit-border-radius: 2px;
	border-radius: 2px;
}

select.text {
	height: 34px;
}

.list-form input.color {
	background-image: none !important;
}

#colorPickerDiv {
  border-radius: 100%;
	position: absolute;
	left: 575px;
  top: 30px;
	background: #fff;
  background: rgba(255,255,255,0.95);
	padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.4);
}

.text:focus {
	border-color: #aaa;
}

/* Error version */
.text.error {
	border: 1px solid #c00;
}

.text.error:hover {
	border: 1px solid #900;
}

textarea.text {
	line-height: 1.3em;
	width: 60%;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* !o Buttons */

.button_large,
.button_small,
.button {
	font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
	font-size: 15px;
	line-height: 18px;
	padding: 8px 20px;

	background: #1e8cbe;
	background: -moz-linear-gradient(top, #1e8cbe 0%, #0074a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e8cbe), color-stop(100%,#0074a2));
	background: -webkit-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: -o-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: -ms-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);
	background: linear-gradient(top, #1e8cbe 0%,#0074a2 100%);

	-webkit-border-radius: 3px;
	        border-radius: 3px;

	border: none;
	color: #fff;
	text-shadow: 0 -1px 0 #124869;
}

a.button_small,
a.button {
	padding: 4px 13px;
}
a.button_large {
	padding: 11px 14px 9px;
}

.button_large:hover,
.button_small:hover,
.button:hover {
	color: #fff !important;
	background: #2ea2cc;
	background: -moz-linear-gradient(top, #2ea2cc 0%, #1e8cbe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ea2cc), color-stop(100%,#1e8cbe));
	background: -webkit-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: -o-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: -ms-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
	background: linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);
}

.button_large:active,
.button_small:active,
.button:active {
	background: #2ea2cc;
	background: -moz-linear-gradient(top, #0074a2 0%, #1e8cbe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0074a2), color-stop(100%,#1e8cbe));
	background: -webkit-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: -o-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: -ms-linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	background: linear-gradient(top, #0074a2 0%,#1e8cbe 100%);
	color: #D3E6F1;
}

.button_large:disabled,
.button_small:disabled,
.button:disabled {
	background: #eee !important;
	color: #c0c0c0 !important;
	text-shadow: none !important;
}
/* Secondary option */

.button-secondary {
	line-height: 32px;
	margin: 0 0 0 8px;
}

.floatright.button-secondary {
	margin: 0 8px 0 0;
}

/* Small version */

.button_small {
	font-size: 11px;
	padding: 2px 8px;
}

/* Secondary option */

.button_small-secondary {
	line-height: 22px;
	font-size: 11px;
	margin: 0 0 0 6px;
}

.floatright.button_small-secondary {
	margin: 0 6px 0 0;
}

/* Signup form & its validation */
#username-status {
	display:none;
	font-weight: bold;
	display:none;
	position: relative;
	left: 160px;
}
#username-status.sayno {
	color: #f00;
}
#username-status.sayyes {
	color: #006400;
}
#terms-agreement label{
	float:none;
	width:430px;
	margin: 0 0 0 160px;
}
#terms-agreement input {
	margin-right: 6px;
}
#create-account-form span.required {
	color:red;
	font-weight: bold;
	font-size: 1.1em;
}
/* Large version */

.button_large {
	font-size: 18px;
	padding: 6px 16px;
	line-height:22px;
}

/* Secondary option */

.button_large-secondary {
	line-height: 38px;
	font-size: 14px;
	margin: 0 0 0 8px;
}

.floatright.button_large-secondary {
	margin: 0 8px 0 0;
}

/* !o Columns */

.column-left {
	float: left;
	width: 210px;
}

.column-left h3 {
	margin: 0 15px 0 0;
}

.column-right {
	float: right;
	width: 600px;
	margin-bottom: 20px;
}

.column-right:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/**
 * Settings Page
 */

#profile-canvas {
	clear: both;
}

#pageprofiles-edit .box {
	background: none;
	padding: 0;
}

.column-settings {
	overflow: hidden;
	padding: 20px;
	background: #fff;
	margin-right: 270px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#content .settings-menu {
	min-width: 250px;
	float: right;
	margin: 0 0 0 20px;
	padding: 0;
	background: #fafafa;
	font-size: 14px;
}

#content .settings-menu li {
	list-style: none;
}

#content .settings-menu li>a {
	display: block;
	padding: 12px 20px;
	outline: none;
	border-bottom: 1px solid #f2f2f2;
}

#content .settings-menu li:last-child a {
	border-bottom: none;
}

#content .settings-menu li a:hover {
	background: #fff;
}

#content .settings-menu li.sel a {
	background: #1e8cbe;
	color: #fff;
	cursor: default;
}


/* !o List-toggle */

#content .list-toggle {
	padding: 0;
}

#content .list-toggle li {
	list-style: none;
	margin: .5em 0 .5em -6px;
}

.list-toggle li h4 {
	line-height: 25px;
	margin: 0;
}

.list-toggle li h4 a {
	background-position: -1930px -191px;
	display: block;
	outline: none;
	padding: 0 0 0 20px;
}

.list-toggle li.open h4 a {
	background-position: -1930px -232px
	}

.list-toggle li .content {
	padding: 0 0 0 20px;
}


/* List-form */



#content .introduction {
	margin: 4px 0 1.5em;
}

#content .list-form {
	margin: 0 0 1em;
	padding: 0;
}

#content .list-form li {
	list-style: none;
	margin: 0 0 1em;
}

#content .list-form-right .text {
	float: left;
	margin: 0 4px 0 0;
	min-width: 0;
	width: 30%;
}

#content label.list-form-right {
	width: auto;
	font-weight: 400;
	float: none;
	display: inline;
}

/* Form-info */
#content .list-form .list-form-details {
	color: #666;
	font-size: 12px;
	margin: .2em 0 0;
	padding-left: 30%;
	display: block;
	clear: left;
}

/* Columns */
.list-form .column {
	float: left;
	width: 50%;
}

.list-form .column .text {
	min-width: 100px;
	width: 80%;
}

.list-form .wide textarea.text {
	height: 65px;
}

.list-form .wide .fadesmall {
	padding-left: 160px;
	margin: 0;
}

.close-profile {
	float: right;
	position:relative;
}

.close-profile a, .close-profile span {
	color: #aaa;
	padding: 3px;
}

.close-profile a:hover {
	background: #f00;
	color: #fff;
}

.profile-formats {
	border-top: solid 1px #ddd;
	padding-top: 10px;
}

#report-abuse-container {
	display:none;
	width: 400px;
	position: absolute;
	z-index: 1001;
	text-shadow: none;
	background-color: #f5f5f5;
	color: #333;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	line-height: 14px !important;
	font-size: 11px;
	clear: left;
	margin-top: 20px;
	padding: 10px;
}

#report-abuse-form label {
	width: 380px;
}

#report-abuse-form textarea {
	width: 380px;
}

#report-abuse-form input {
	float:right;
	margin:10px;
}

#report-abuse-cancel {
	margin-top:15px;
	display: block;
	float: left;
}

#report-abuse-form .abuse-form-required {
	border: 1px solid red;
}

#report-abuse-link {
	display: block;
	position: absolute;
	margin-left: 90px;
}

#report-abuse-submitted {
	font-size: 11px;
	display: block
	position: absolute;
	margin-left: -32px;
}

#report-abuse {
	font-size: 11px;
}

/* Page elements (!#) */

/* !# Header */

/* !# New Header */


#page #header #login {
	margin-top:0.6em;
}

#header #login-trigger,
#header #connect-trigger,
#header #admin-trigger {
	float:right;
	font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
	font-weight:500;
	cursor: pointer;
	padding: 5px 20px;
	border:1px solid #1b82b1;
	background-color: #1e8cbe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2ea2cc), to(#1e8cbe));
	background-image: -webkit-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:    -moz-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:      -o-linear-gradient(top, #2ea2cc, #1e8cbe);
	background-image:         linear-gradient(to bottom, #2ea2cc, #1e8cbe);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
}

#header #admin-trigger {
	padding: 5px 15px;
	margin-right: 6px;
}

#login-box a,
#admin-box a {
	color: #0074a2 !important;
	text-decoration: none;
}

#login-box a:hover,
#admin-box a:hover {
	color: #1e8cbe !important;
}

#login-box a:active,
#admin-box a:active {
	color: #00466c;
}

/*-------LOGIN Popup STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
}

/* Login Button */
#login-trigger,
#connect-trigger,
#admin-trigger {
    display:inline-block;
    float:right;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#login-trigger span,
#connect-trigger span,
#admin-trigger span {
    display:block
}

#login-trigger:hover,
#connect-trigger:hover,
#admin-trigger:hover {

}

/* Login Box */
#login-box,
#admin-box {
    position:absolute;
    top:45px;
    right:0;
    display:none;
    z-index:29;
}

#admin-box {
    right:145px;
}

#login-box #email {
    margin-bottom:0.725em;
}

#login-box *,
#admin-box * {
	box-sizing: border-box;
}

/* If the Login Button has been clicked */
#login-trigger.active {

}

#login-trigger.active span {

}

/* Login Form */
#login-form,
.my-account-menu {
    width:266px;
    border-radius:2px;
    background:#f5f5f5;
    padding:0.75em;
       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
 	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.my-account-menu {
	padding: 0;
}

.my-account-trigger,
#admin-trigger {
	padding-right: 4px !important;
}

.my-account-trigger span,
#admin-trigger span {
	background-size: 1944px 264px;
	background-position: 100% -95px;
	padding-right: 28px !important;
}

#login-form fieldset {
    display:block;
    border:0;
    padding:0;
	text-shadow:none;
}

fieldset#body {
    margin:0;
}

#login-form fieldset label {
    color:#333;
}

/* Default Input */
#login-form input {
    width:100%;
}

/* Sign In Button */
#login-form #login {
    width:100%;
    float:right;
    cursor:pointer;
	padding:0.45em 1.2em;
}

#login-box:before,
#admin-box:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#login-box:after,
#admin-box:after {
  position: absolute;
  top: -6px;
  left: 218px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5f5f5;
  border-left: 6px solid transparent;
  content: '';
}

#login-box p,
#admin-box p {
	font-size:0.725em;
	color:#aaa;
	text-align: center;
	text-shadow:none;
	float:left;
	width:100%;
	margin:0.7em 0 0 0.3em;
}



/* !o Navigation */

#menu {

}

#menu {
	padding: 0 0 0 140px;
}

#menu li {
	float: left;
	list-style: none;
	line-height: 42px;
}

#menu .menupop .admin {
	background-position: -130px -20px;
	background-size: 1944px 264px;
	display: block;
	height: 14px;
	margin: 14px 2px 14px 0;
	width: 10px;
	text-indent: -9999px;
}

.my-account-menu li {
	display: block;
	list-style: none;
	line-height: 42px;
}

#menu li a,
.my-account-menu li a {
	/*background: #0074a2;*/
	background-repeat: no-repeat;
	display: block;
	padding: 0 12px;
	text-shadow: none;
}

#menu .menupop.open .submenu_link,
#menu li a:hover,
#login-box .my-account-menu li a:hover,
#admin-box .my-account-menu li a:hover {
	background: #005684;
	color: #fff !important;
}

#menu li li a {
	background: #005684;
}

#menu li li a:hover {
	background: #0074a2;
}

#menu .submenu_link {
	background-size: 1944px 264px;
	background-position: 100% -86px;
	float: left;
	padding-right: 30px;
	position: relative;
	z-index: 101;
}

#menu .menupop.open .submenu_link,
#menu .submenu_link:hover {
	background-position: 100% -128px;
}

#menu .menupop.open .submenu_link {
}

#menu .menupop.open .submenu_link {
	cursor: default;
}

#menu .menupop {
	position: relative;
}

#menu .menupop.open ul {
	display: block;
}

/* Help dropdown special settings */

#help.menupop {
	float: right;
	margin: 0 -12px 0 0;
}

#help.menupop .submenu {
	left: auto;
	right: 0;
}

#menu #help .submenu li a {
	padding: 0 9px;
	line-height: 35px;
}

/* Submenu */

#menu .submenu {
	background-color: #005684;
	display: none;
	left: 0;
	position: absolute;
	top: 42px;
	width: 220px;
	z-index: 100;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#menu .submenu li {
	display: block;
	float: none;
	margin: 0;
}

/* Welcome message */

#welcome {
	color: #ffffff;
	margin: 0 20px 0 0;
	text-align: right;
	float: right;
	line-height: 2.2em;
}

#menu #welcome a {
	/* Resetting */
	background: none !important;
	display: inline;
	padding: 0;
}


/**
 * Main section
 */

#main {
	padding: 20px 0;
	clear: both;
}

#content ul, #content ol {
	margin: 0;
	padding: 0 0 .5em 1.8em;
}

#content ul li, #content ol li {
	margin: .1em 0;
}

#content p, #content h2, #content h3, #content h4, #content h5, #content h6 {
	cursor: text;
}

.msg {
	border: 1px solid #ff0;
	background: #feffdf;
	padding: 5px 10px;
}

.msg-outer {
	padding: 0px 20px;
}


/** 
 * Box
 */

.box {
	background: #fff;
	padding: 20px;
	min-height: 260px;
	position: relative;
}


/**
 * Email list
 */

#email_list {
	margin: 20px 0 40px 0;
}

#email_list u, #email_list b  {
	text-decoration:none;
	font-weight:700;
}

#content .email, #content .email p  {
	cursor: pointer;
}

#email_list .email.selected, #email_list .email.selected p {
	cursor: default;
}

#email_list div a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#email_list p {
	margin-top: 1em;
}

#email_list a:hover {
	color: #78c8e6;
}

#email_list a:active {
	color: #78c8e6;
}

#email_list .email {
	background-color: #eee;
	font-size: 100%;
	overflow: hidden;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#email_list .email:hover {
	background-color: #e2e2e2;
}

#email_list .email.selected {
	height: auto;
	min-height: 100px;
	color: #fff;
	cursor: default;
	background: #1E8CBE;
	padding-bottom: 10px;
}

#email_list .selected:hover {
	background-color: #1E8CBE;
}

#email_list .email img {
	width: 40px;
	height: 40px;
	margin: 10px;
	overflow: hidden;
	display: block;
	font-size: 0;
	float: left;
}

#email_list .selected img {
	width: 60px;
	height: 60px;
}

#email_list .email p {
	margin: 0.5em 0 0 ;
}

#email_list .email p.address {
	margin: 1em 0 0 ;
}

#email_list .email.selected .tip {
	margin: 0.5em 0 0 80px;
	padding: 0;
}

#email_list .email .tip a {
	text-decoration: underline;
	color: #262626;
	padding: 5px 0;
}

#email_list .email .tip li {
	margin: 10px 0;
}

#email_list .email .tip {
	list-style: none;
	font-size: 10pt;
	color: #78c8e6;
	display: none;
}

#email_list .selected .tip {
	display: block;
}


/*****************************************************************************/
/*
/* Gravatar List
/*
/*****************************************************************************/

#gravatar_list {
	margin-top: .5em;
}

#gravatar_list .gravatars {
	overflow: hidden;
}

#gravatar_list .gravatars .grav {
	float: left;
	overflow: hidden;
	width: 82px;
	margin: 0 10px 10px 0;
}

#gravatar_list .gravatars .gravatar {
	cursor: pointer;
	border: 5px solid #fff;
}

#gravatar_list .gravatars .selected {
	border: 5px solid #269CDD;
}

#gravatar_list .gravatars .pending {
	padding: 2px;
	border: 3px solid red;
}

#gravatar_list .gravatars .gravatar img {
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: block;
	border: 1px solid #ccc;
}

#gravatar_list .gravatars .small .gravatar img {
	width: 50px;
	height: 50px;
}

#gravatar_list .actions div {
	display: inline;
}

#gravatar_list .actions div a {
	float: left;
	padding: 5px 5px 0 5px;
	color: #000;
	opacity: .4;
}

#gravatar_list .actions div a:hover {
	opacity: 1;
}

#gravatar_list .actions div.delete a {
	float: right;
}

#gravatar_list .actions .delete a:before {
	width: 24px;
	height: 24px;
	text-align: center;
	content: '\f406';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: normal 16px/24px 'Noticons';
}

#gravatar_list .actions .delete a img {
	display: none;
}

#gravatar_list .actions .rating img {
	width: 24px;
	height: 24px;
}

#gravatar_list .gravatars .add {
	width: 60px;
	height: 60px;
	background-color: #ccc;
}


/*****************************************************************************/
/*
/* Gravatar Confirmation
/*
/*****************************************************************************/

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
	width: 100%;
	height: 500px;
	/* background-color: #0c75b6; */
	background-color: #001133;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#gravatar_confirmation_container {
	position: absolute;
	top: 50%;
	z-index: 1003;
	text-align: center;
	/* line-height: 0; */
	color: black;
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#gravatar_confirmation {
	top: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1004;
	padding: 30px;
	background: white;
}

	#gravatar_confirmation img {
		border: 1px solid #ccc;
		display: block;
		margin: 10px auto;
	}

	#gravatar_confirmation p {
		padding: 1em 0;
	}

/*****************************************************************************/
/*
/* Rating
/*
/*****************************************************************************/

	#gravatar_rating_container {
		text-align: center;
		color: black;
		width: 100%;
		text-align: center;
	}

	#gravatar_rating {
		margin-left: auto;
		margin-right: auto;
		line-height: 1.4;
		text-align: center;
	}

	#gravatar_rating img.selected_avatar {
		border: 1px solid #ccc;
		display: block;
		margin: 10px auto;
	}

	#gravatar_rating input {
		border: 3px solid #888;
	}

	#gravatar_rating p {
		text-align: left;
		font-size: 85%;
	}

	#gravatar_rating p img {
		float: left;
		width: 30px;
		height: 30px;
	}

/*****************************************************************************/
/*
/* Croppr
/*
/*****************************************************************************/

#croppr a {
  background: #f38a49;
  padding: .5em;
  border-top: 1px solid #aaa;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-left: 1px solid #aaa;
  color: black;
  font-weight: 700;
}

  #croppr a:hover {
    text-decoration: none;
    background: #b35a29;
  }

#croppr a.crop {
  cursor: pointer;
  position: absolute;
  top: 87%;
  left: 47%;
}

#croppr .track {
  background-color: black;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -100px;
  width: 200px;
  z-index: 15;
  border: 1px solid white;
}

#croppr .track .handle {
  width: 8px;
  height: 16px;
  background-color: #f38a49;
  border-top: 1px solid #aaa;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  border-left: 1px solid #aaa;
  position: relative;
  top: -7px;
}


/* HOME PAGE */

.signupform {
	margin-bottom: 0;
}

.signupform.nosignup {
	display: none;
}

.signupform input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.signupform #email {
	margin-right:0.5em;
}

.signupform .form-actions input {
	margin-bottom: 1em;
}

input {
	font: normal 16px/1 "Open Sans", sans-serif;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

form fieldset {
	border:none;
}

form fieldset.form-actions {
	margin: 0;
}

form fieldset label {
	display: block;
}

form fieldset input.form-text {
	display: block;
	width: 21em;
	height:2.5em;
	padding: 0.625em;
}

.form-actions input[type="submit"] {
	display:inline-block;
    background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3D92C6), to(#0E74B2));
    background-image: -webkit-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:    -moz-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:      -o-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:         linear-gradient(to bottom, #3D92C6, #0E74B2);
	-webkit-border-radius:2px;
	border-radius:2px;
	border:none;
	-webkit-box-shadow:inset 0 1px 0 #64A8D1;
	box-shadow:inset 0 1px 0 #64A8D1;
	color:#fff;
	text-shadow: 0 -1px 0 #124869;
	font-size:12px;
	font-family: "proxima-nova-soft", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	margin: 0 auto 1em auto;
	padding: 20px 40px;
	height: auto;
	font-size: 16px;
}

.form-actions input[type="submit"]:hover {
	color:#fff !important;
	background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51A6DA), to(#3D92C6));
    background-image: -webkit-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:    -moz-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:      -o-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:         linear-gradient(to bottom, #51A6DA, #3D92C6);

	-webkit-box-shadow:inset 0 1px 0 #86C1E5;
	box-shadow:inset 0 1px 0 #86C1E5;
}

.form-actions input[type="submit"]:active {
	color:#fff !important;
	background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0E74B2), to(#3D92C6));
    background-image: -webkit-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:    -moz-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:      -o-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:         linear-gradient(to bottom, #0E74B2, #3D92C6);

	-webkit-box-shadow:inset 0 -1px 0 #4F9CCB;
	box-shadow:inset 0 -1px 0 #4F9CCB;
}


/* New */

#mpblinks a { color: white; }
#mpblinks div { color: white; }
#newlinks .newlinkname { width: 30%; }
#newlinks .newlinkhref { width: 40%; }
div.sistersvc { padding: 5px 0 5px 0; margin: 0 auto 0 auto;}
div.sistersvc.bottom { border-bottom: 0; }
div.sistersvc img { width: 280px; }

div.mainl1w33 {
	max-width: 31.25em;
	text-align: left;
	float: left;
	margin-bottom: 20px;
	padding-right: 0px;
}

div.mainl1w33 h2 { margin-bottom: 0px; line-height: normal; }
div.mainl1w66 div.exgravs { text-align: left; }

div.mainl1w66 div.exgravs img {
margin: 10px 10px 0px 0;
padding: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}


div.mainl1w66 { text-align: left; float: right; overflow: visible; }
div.mainl1w66 h3 { margin:0 0 1em 0; text-align: left; text-transform:uppercase; font-size:17px; letter-spacing:2px; }
div.mainl2w33 { width: 310px; float: left; text-align: left; padding: 0 0 0 10px; margin-top: 10px; }
div.mainl2w33 input.text, div.mainl2w33 input.password { width: 180px; margin-right: 35px; }
div.mainl2w33 .submit { float: right; margin-right: 35px; }
div.mainl2w33 button, div.mainl1w33 button { width: 280px; height: 30px; }

div.mainl2w33 h3, div.mainl2w33 h4 {
line-height: normal;
padding: 15px 0 0;
margin: 0 0 .6em;
border-top: 1px solid #dfdfdf;
}

div.mainl2w66 { width: 630px; float: left; text-align: left; padding: 30px 10px 0 0; }


div.mainl1w66 {
	background-color:white;
	border:1px solid #e9e9e9;
	max-width: 360px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}

div.mainl1w66 p {
	margin-bottom:0;
}

a.more_link {
	display: block;
	margin-top: 1em;
}

div.mainl2w33 {
	width: 265px
}

div.mainl2w33 .text {
	min-width: 0;
	width: 210px !important;
}

div.mainl2w33 label {
	padding: 0 !important;
}

#content div.mainl1w33 h3 {
	line-height: 1.4em;
	margin-bottom: .5em;
}

#content div.mainl1w33 p {
	line-height: 1.4em;
}

div.mainl2w33 .button_small {
	margin-right: 38px !important;
	margin-bottom: 10px !important;
}

h1.logo {
	width: 274px;
	height: 55px;
	text-indent: -9999px;
	margin-bottom: 24px;
	margin-left: -5px;
	background: url(/images/logo.png) bottom left no-repeat;
}

#user-logos-container {
	margin: 0 -20px -20px;
	background: #F5F5F5;
	padding: 20px;
}

#user-logos-container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.user-logos {
	background: url(/images/user-logos.png?11) no-repeat center top;
	background-size: 100% auto;
	max-width: 610px;
	width: 100%;
	height: 92px;
	float: right;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

p.stats {
	float: left;
	width: 16em;
	margin: 0;
}

/* Cropper */

.existing-image {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	position: relative;
}

.existing-image a {
	margin: 0 10px 0 0;
	text-align: center;
  float: left;
}

.existing-image div {
	padding: 5px;
	margin: 0 0 10px;
	-webkit-box-shadow: 0 1px 3px #aaa;
	box-shadow: 0 1px 3px #aaa;
}

.existing-image a:hover div {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.del-link  {
	float:left;
}

.existing-image-delete {
	background:url("/images/profile-delete-button.png") repeat scroll 0 0 transparent;
	font-size:1px;
	height:16px;
	line-height:1em;
	padding:0;
	text-decoration:none;
	width:16px;
	z-index: 1;
	position: absolute;
	top: -5px;
	left: -5px;
}

.existing-image-delete:hover {
background-position: 0 16px;
}

/* IE6 */

#wrap, #main, .middle {
	_overflow: visible;
}

#menu .submenu li {
	_overflow: hidden;
	_height: 42px;
}

#menu #help .submenu li {
	_height: 35px
}

/*Non-Semantic Helper Classes*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.clearfix.left:after { clear: left; }

/* Static Gravatar in Homepage Header */

.gcard
{
	position:absolute;
	z-index:20;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	max-width:400px;
	z-index\*:auto\9;
}

.gcard .grav-inner
{
	zoom:1px;
	position:relative;
	background:rgba(0,0,0,0.85);
	color:#fff;
	font-family:Helvetica, Arial, Tahoma, sans-serif;
	font-size:12px;
	line-height:150%;
	text-shadow:#000 0 -1px 0;
	font-style:normal !important;
	padding:18px;
}

.gcard .grav-inner *
{
	font-style:normal !important;
}

.gcard a
{
	color:#fff !important;
	border:none !important;
	text-decoration:none !important;
	font-family:Helvetica, Arial, Tahoma, sans-serif;
}

.gcard a:hover
{
	text-decoration:none !important;
	border:none !important;
	color:#51a6da !important;
}

.gcard ul
{
	list-style:none;
	font-size:12px;
	margin:0;
	padding:0;
}

.gcard ul li
{
	list-style:none;
}

.gcard p
{
	color:#fff;
	text-align:left;
	font-size:12px;
	margin:0 0 10px;
}

.gcard .grav-small
{
	font-size:10px;
}

.gcard .grav-grav
{
	float:left;
	border:solid 3px #fff;
	-webkit-box-shadow:inset 0 1px 0 #64A8D1, 0 1px 5px #000;
	box-shadow:inset 0 1px 0 #64A8D1, 0 1px 5px #000;
	line-height:50%;
	padding:0 !important;
}

.gcard .grav-grav img
{
	margin:0;
	padding:0;
}

.gcard .grav-info
{
	float:left;
	width:220px;
	margin-left:20px;
}

.gcard h4
{
	float:left;
	font-size:18px;
	font-family:Helvetica, Arial, Tahoma, sans-serif;
	line-height:115%;
	vertical-align:middle;
	text-transform:none;
	text-align:left;
	margin:0 10px 5px 0 !important;
	padding:0 !important;
}

.gcard h4,x:-moz-any-link,x:default
{
	line-height:90%;
}

.grav-loc
{
	clear:left;
	font-size:90% !important;
	color:#9fa09f !important;
	margin:0 0 1px;
}

.gcard .grav-cardarrow {
	position: absolute;
	top: 23px;
	left: -8px;
	display: inline-block;
	width: 0 !important;
	height: 0 !important;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid rgba(0, 0, 0, 0.85);
}

	.pos-left .grav-cardarrow {
		right: -8px !important;
		left: auto;
		border-left: 8px solid rgba(0, 0, 0, 0.85);
		border-right: none;
	}

.gcard .grav-tag
{
	clear:both;
	position:absolute;
	top:0;
	right:-22px;
	background:url(/images/grav-tag.png) top right no-repeat;
	background-size: 48px 61px;
	width:48px;
	height:61px;
}

.pos-left .grav-tag
{
	right:auto;
	left:-22px;
	background:url(/images/grav-tag-left.png) top right no-repeat;
}

.gcard .grav-tag a
{
	width:48px;
	height:61px;
	display:block;
	text-decoration:none;
	background:url(/images/grav-tag.gif) 22px 0 no-repeat;
	background-size: 21px 122px;
}

.pos-left .grav-tag a
{
	-o-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	filter:fliph;
}

.gcard .grav-extra
{
	float:left;
	vertical-align:middle;
	margin:5px 5px 0 0;
}

.gcard .grav-extra,x:-moz-any-link,x:default
{
	margin-top:1px;
	padding-bottom:2px !important;
}

.gcard .grav-extra a
{
	display:block;
	line-height:80%;
	color:#000 !important;
	font-size:11px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-shadow:none;
	padding:3px 5px 3px 17px !important;
}

.gcard .grav-extra a:hover
{
	background-color:#3b91c5;
	color:#fff !important;
}

.gcard .comments a
{
	background:#fff url(/images/pillicon.png) 3px 2px no-repeat;
}

.gcard .comments a:hover
{
	background-position:-11px 2px;
}

.gcard .likes a
{
	background:#fff url(/images/pillicon.png) 4px -13px no-repeat;
}

.gcard .likes a:hover
{
	background-position:-10px -13px;
}

.gcard .grav-disable
{
	font-size:10px;
	line-height:10px;
	margin:3px 0 -5px;
}

.gcard .grav-disable a
{
	color:#666 !important;
}

.gcard .grav-disable a:hover
{
	color:#fff !important;
}

a.grav-view-complete
{
	display:inline-block;
    background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3D92C6), to(#0E74B2));
    background-image: -webkit-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:    -moz-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:      -o-linear-gradient(top, #3D92C6, #0E74B2);
    background-image:         linear-gradient(to bottom, #3D92C6, #0E74B2);
	-webkit-border-radius:2px;
	border-radius:2px;
	border:none;
	-webkit-box-shadow:inset 0 1px 0 #64A8D1, 0 1px 3px #000;
	box-shadow:inset 0 1px 0 #64A8D1, 0 1px 3px #000;
	color:#fff;
	text-shadow:0 -1px 0 #124869;
	font-size:12px;
	font-family:'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:700;
	text-decoration:none;
	margin:0 0 10px;
	padding:5px 15px;
}

a.grav-view-complete:hover
{
	color:#fff !important;
	background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51A6DA), to(#3D92C6));
    background-image: -webkit-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:    -moz-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:      -o-linear-gradient(top, #51A6DA, #3D92C6);
    background-image:         linear-gradient(to bottom, #51A6DA, #3D92C6);

	-webkit-box-shadow:inset 0 1px 0 #86C1E5, 0 1px 5px #000;
	box-shadow:inset 0 1px 0 #86C1E5, 0 1px 5px #000;
}

a.grav-view-complete:active
{
	color:#fff !important;
	background-color: #3D92C6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0E74B2), to(#3D92C6));
    background-image: -webkit-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:    -moz-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:      -o-linear-gradient(top, #0E74B2, #3D92C6);
    background-image:         linear-gradient(to bottom, #0E74B2, #3D92C6);

	-webkit-box-shadow:inset 0 -1px 0 #4F9CCB, 0 1px 1px #000;
	box-shadow:inset 0 -1px 0 #4F9CCB, 0 1px 1px #000;
}

.gcard .gcard-about,.grav-about
{
	clear:left;
}

/* Contact Us Page + Form */

#gravatar-contact-us .hidden {
	display: none;
}

#gravatar-contact-us fieldset {
	padding: 10px;
	margin: 10px;
	border: 0;
}

#gravatar-contact-us input[type="text"], #gravatar-contact-us textarea {
	padding: 5px;
	max-width: 500px;
	font-size: 15px;
	border: 2px solid #ddd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#gravatar-contact-us input[type="text"]:focus, #gravatar-contact-us textarea:focus {
	outline: 0;
	border: 2px solid #80B8D9;
}

#gravatar-contact-us #gravatar-support-question-fieldset, #gravatar-contact-us #gravatar-support-contact fieldset {
	margin: 25px 0;
	background: #eee;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#gravatar-support-question-fieldset {
	text-align: center;
}

#gravatar-contact-us #gravatar-support-contact fieldset.error {
	background: #fbeaf0;
}

#gravatar-contact-us #gravatar-support-contact span.errormsg {
	display: block;
	margin: 0 0 10px 10px;
	color: #d00;
}

#gravatar-contact-us #gravatar-support-question {
	max-width: 660px;
	width: 660px;
}

#gravatar-contact-us #gravatar-support-search {
	position: relative;
	top: -1px;
}

#gravatar-contact-us #gravatar-support-results .response {
	border-bottom: 1px dashed #c7d9e5;
	padding: 10px 0;
	margin: 25px 0;
}

#gravatar-contact-us #gravatar-support-found-form fieldset {
	margin: 0 25px 0 0;
	padding: 0;
	float: left;
	text-align: center;
}

#gravatar-contact-us #gravatar-support-found-form fieldset label {
	width: 112px;
}

#gravatar-contact-us #gravatar-support-success {
	margin-top: 20px;
	text-align: center;
}

#gravatar-support-submit-success {
	text-align: center;
}

#gravatar-contact-us #gravatar-support-contact fieldset input {
	width: 350px;
}

#gravatar-contact-us #gravatar-support-contact fieldset p.description {
	margin-left: 162px;
	font-size: 12px;
	color: #666;
}

/*
	a little bit of fun with the automattobots
	Animate.css - http://daneden.me/animate
	LICENSED UNDER THE  MIT LICENSE (MIT)
	Copyright (c) 2012 Dan Eden
*/

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-ms-keyframes tada {
	0% {-ms-transform: scale(1);}
	10%, 20% {-ms-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-ms-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-ms-transform: scale(1.1) rotate(-3deg);}
	100% {-ms-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-ms-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}
@-webkit-keyframes hinge {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	100% { -webkit-transform: translateY(700px); opacity: 0; }
}

@-moz-keyframes hinge {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	20%, 60% { -moz-transform: rotate(80deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	40% { -moz-transform: rotate(60deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	80% { -moz-transform: rotate(60deg) translateY(0); opacity: 1; -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	100% { -moz-transform: translateY(700px); opacity: 0; }
}

@-ms-keyframes hinge {
	0% { -ms-transform: rotate(0); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	20%, 60% { -ms-transform: rotate(80deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	40% { -ms-transform: rotate(60deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	80% { -ms-transform: rotate(60deg) translateY(0); opacity: 1; -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	100% { -ms-transform: translateY(700px); opacity: 0; }
}

@-o-keyframes hinge {
	0% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	20%, 60% { -o-transform: rotate(80deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	40% { -o-transform: rotate(60deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	80% { -o-transform: rotate(60deg) translateY(0); opacity: 1; -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	100% { -o-transform: translateY(700px); opacity: 0; }
}

@keyframes hinge {
	0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }
	20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }
	40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }
	80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }
	100% { transform: translateY(700px); opacity: 0; }
}

.hinge {
	-webkit-animation-name: hinge;
	-moz-animation-name: hinge;
	-ms-animation-name: hinge;
	-o-animation-name: hinge;
	animation-name: hinge;
}

#gravatar-contact-us #gravatar-support-results .response h4 {
	font-weight: 600;
	margin-bottom: 10px;
}
#gravatar-contact-us #gravatar-support-results .response p {
	margin-left: 20px;
}

#support-feedback-thanks {
	min-height: 300px;
}

#support-feedback-thanks .rating-image {
	margin-right: 40px;
}

#support-feedback-thanks h1 {
	padding-top: 10px;
}


.video-player {
	border:1px solid #ddd;
}

.videopress-poster {
	width: 495px;
	height: 278px;
	background-image: url(/images/videothumbnail.jpg);
	background-size: 495px 278px;
}

#header h1 a,
#page #header h1 a,
.list-toggle li h4 a,
#automattic_joint span,
.my-account-trigger span,
#admin-trigger span,
#menu .menupop .admin,
#menu .submenu_link {
	background-image: url(/images/gravatar-sprite.png?11);
	background-repeat: no-repeat;
	background-size: 1944px 264px;
}

.profile .admin-notice {
	background:yellow;
	padding: 4px 12px;
	position: relative;
	top: -85px;
}


/**
 * WordPress.com Connect
 */
.wpcc-button {
	display: block;
	margin: 0 auto;
	border: 1px solid #176c92;
	background-color: #1e8cbe;
	background-image: url('//vaultpress.com/images/wpcc-logo.png');
	background-size: 23px;
	background-position: 4px 3px;
	background-repeat: no-repeat;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-decoration: none;
	padding: 8px 5px 8px 34px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	line-height: 100%;
	width: 180px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.wpcc-button:hover {
	text-decoration: none !important;
	border: 1px solid #145B7C;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.3);
	color: #fff;
}
.wpcc-button:active {
	background-color: #176C92;
	border-color: #104B66;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3,/,2),only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
	.wpcc-button {
		background-image: url('//vaultpress.com/images/wpcc-logo-2x.png');
	}
}
/* End WPCC */


@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	#header h1 a,
	#page #header h1 a,
	.list-toggle li h4 a,
	#automattic_joint span,
	.my-account-trigger span,
	#admin-trigger span,
	#menu .menupop .admin,
	#menu .submenu_link {
	        background-image: url(/images/gravatar-sprite-2x.png?11);
	}
	.user-logos {
	        background-image: url(/images/user-logos-2x.png?11);
	}
	.videopress-poster {
		background-image: url(/images/videothumbnail-2x.jpg);
	}
	.gcard .grav-tag {
		background-image: url(/images/grav-tag-2x.png);
	}
	.pos-left .grav-tag {
		background-image: url(/images/grav-tag-left-2x.png);
	}
	.gcard .grav-tag a {
		background-image: url(/images/grav-tag-2x.gif);
	}
}

div.error_box {
	border: 1px solid #a00;
	background-color: #fee;
	padding: .5em;
	margin: 1em 0;
}

	div.error_box h3 {
		margin: 0;
	}

	div.error_box p {
		margin: 0.5em;
	}


/**
 * Footer
 */

#footer {
	width: 100%;
	padding: 10px 0 40px 0;
	background: #222;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	overflow: hidden;
}

#footer .footer-inner {
	max-width: 960px;
	margin: 0 auto;
}


#footer ul {
	float: left;
	list-style: none;
}

#footer .primary {
  padding: 25px 15px 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#footer .primary:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#footer .primary #vp-primary-footer {
  float: left;
  position: relative;
  left: -6px;
}
#footer .primary #vp-primary-footer li {
  float: left;
  margin: 0 5px 0 0;
}
#footer .primary #vp-primary-footer li a {
  font-size: 16px;
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, sans-serif;
  float: left;
  padding: 4px 6px;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}
#footer .primary #vp-primary-footer li a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
#footer .primary #a8c-attribution {
  float: right;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 3px;
}
#footer .primary #a8c-attribution span {
  font-size: 11px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#footer .primary #a8c-attribution span:hover {
  color: #fff;
}
#footer .primary #a8c-attribution span a {
	color: #ffffff;
	display: inline-block;
	overflow: hidden;
	width: 93px;
	height: 16px;
	margin: 0 3px;
	text-decoration: none;
	content: 'A';
	font: normal 16px/1em 'automatticons';
	position: relative;
	top: 5px;
}
#footer .primary #a8c-attribution span a:hover {
  color: #fff;
}
#footer .secondary {
  padding: 8px 15px 0 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#footer .secondary:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#footer .secondary #vp-secondary-footer {
  position: relative;
  left: -6px;
}
#footer .secondary #vp-secondary-footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#footer .secondary #vp-secondary-footer li {
  float: left;
  margin: 0 5px 0 0;
}
#footer .secondary #vp-secondary-footer li a {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 4px 6px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  -webkit-font-smoothing: antialiased;
}
#footer .secondary #vp-secondary-footer li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#footer .secondary #vp-secondary-footer li a:hover:before {
  color: rgba(255, 255, 255, 0.8);
}
#footer .secondary #vp-secondary-footer li a:before {
  font: normal 16px/1 'Automatticons';
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 8px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#footer .secondary #vp-secondary-footer li a[href*='facebook.com'] {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 5px;
  position: relative;
  top: 4px;
  overflow: hidden;
}
#footer .secondary #vp-secondary-footer li a[href*='facebook.com']:before {
  content: 'F';
}
#footer .secondary #vp-secondary-footer li a[href*='twitter.com'] {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 10px 0 5px;
  position: relative;
  top: 4px;
  overflow: hidden;
}
#footer .secondary #vp-secondary-footer li a[href*='twitter.com']:before {
  content: '@';
}
#footer .secondary .footer-search {
  position: relative;
  top: -5px;
  left: 5px;
}
#footer .secondary .footer-search div input[type="text"] {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
  width: 100px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#footer .secondary .footer-search div input[type="text"]:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8) !important;
}
#footer .secondary .footer-search div input[type="submit"] {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: relative;
  top: -2px;
  border-radius: 20px;
}
#footer .secondary .footer-search div input[type="submit"]:hover {
  background: #0090ba;
}
#footer .secondary .footer-search div input[type="submit"]:active {
  background: #006987;
}
#footer .secondary #a8c-services {
  float: right;
}
#footer .secondary #a8c-services li {
  margin-left: 15px;
  float: left;
}
#footer .secondary #a8c-services li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  float: left;
  padding: 5px 2px;
  font-size: 13px;
  font-family: "calluna-1", "calluna-2", Palatino, Constantia, "Palatino Linotype", "Book Antiqua", serif;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-font-smoothing: antialiased;
}
#footer .secondary #a8c-services li a:hover {
  color: #ffffff;
}
#footer .secondary #a8c-services li a:hover:before {
  color: #ffffff;
}
#footer .secondary #a8c-services li a:before {
  font: normal 16px/1 'Automatticons';
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 6px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#footer .secondary #a8c-services li a[href*='wordpress.com']:before {
  content: 'W';
}
#footer .secondary #a8c-services li a[href*='http://akismet.com']:before {
  content: 'K';
}
#footer .secondary #a8c-services li a[href*='codepoet.com']:before {
  content: 'C';
}
#footer .secondary #a8c-services li a[href*='gravatar.com']:before {
  content: 'G';
}
#footer .secondary #a8c-services li a[href*='intensedebate.com']:before {
  content: 'I';
}
#footer .secondary #a8c-services li a[href*='jetpack.me']:before {
  content: 'J';
}
#footer .secondary #a8c-services li a[href*='polldaddy.com']:before {
  content: 'P';
}
#footer .secondary #a8c-services li a[href*='vaultpress.com']:before {
  content: 'V';
}

.help-screenshot {
  width: 80%;
  margin: 0 auto;
  display: block;
}
