@charset "utf-8";
/* CSS Document */
body{font-size:100%; font-family:'Karma, Roboto', Helvetica, sans-serif; font-weight:normal; margin:0px; padding:0; background:#f0eeee}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: local('Karma Regular'), local('Karma-Regular'), url(https://fonts.gstatic.com/s/karma/v5/PbEL6B0YxKrLbx2slhg7Cg.woff2) format('woff2');
}

header, footer, article, aside, figure{display:block}
h1, h2, h3, h4, h5, h6, p, ul, li, header, footer, article, aside, figure{margin:0px; padding:0}
ul, li{list-style:none}
input:focus {outline: none;}
.fleft{float:left}
.fright{float:right}
* html .clearfix {height: 1%}
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0}
*:first-child+html .clearfix {zoom:1}
a, a:hover{text-decoration:none}
img{border:none}
.ptop{padding-top:40px}
.contener{width:1240px; margin:0 auto}
.ptop15{margin-top:15px}
.over_hdn{overflow:hidden; position:relative}
.pnone{padding:0 !important;}

/*header and nav*/
header{background:#fff; border-bottom:1px solid #dbdbdb; padding:10px 0 5px 0}
header .logo_box{padding-top:8px; max-width:262px}
.language{padding-top:18px}
.language a{margin-right:20px; border-bottom:1px solid ##fff; padding-bottom:1px}
.language a:last-child{margin-right:0}
.language a:act{border-bottom:1px solid #eb2127; padding-bottom:1px}
nav{background:#fff}
nav.fixed_nav{width:100%; position:fixed; top:0; left:0; z-index:12; box-shadow:0 5px 5px rgba(00, 00, 00, 0.3)}
nav .inner_nav{position:relative; height:43px}
ul.nav{padding-left:190px}
ul.nav li{float:left; padding-left:30px; font-size:14px; line-height:43px; font-weight:bold; position:relative}
ul.nav li a{color:#323232}
.state_nav{background:#dcdcdc; padding:9px 0 9px 30px; width:100px; display:block; font-size:14px; font-weight:bold; position:absolute; left:70px; top:3px; color:#4e4e4e}
.state_ddown{background:#fff; width:715px; border:10px solid #dcdcdc; padding:20px; position:absolute; top:39px; left:70px; z-index:3; display:none}
.state_ddown ul.sleft_box{width:184px; padding-right:20px}
.state_ddown ul.sleft_box li a{font-size:14px; color:#6b6b6b; display:block; padding:10px}
.state_ddown ul.sleft_box li a:hover, .state_ddown ul.sleft_box li a.act{background:#008daa; color:#fff}
.state_ddown ul.sright_box{width:490px; border-left:1px solid #dbdbdb; padding-left:20px}
.sh_logos{display:none; position:absolute; left:65px; top:5px}
.live_cntbox, .mobile_mbox, .mobile_ad{display:none}

.state_ddown ul.sright_box li{border-bottom:1px solid #dbdbdb; padding:5px 0 5px 12px; font-size:14px; line-height:24px; background:url(../images/city_arrow.gif) no-repeat center left}
.state_ddown ul.sright_box li a{color:#3d3d3d; display:block}
.state_ddown ul.sright_box li img{float:left; padding:3px 10px 0 0}
.state_ddown ul.sright_box li:first-child{background:none; padding:0 0 10px 0; height:53px; font-size:14px; line-height:20px}

.nav_dropdown{position:absolute; top:43px; left:0; background:#202020; z-index:14}
.nav_dropdown .csearch{background:#fff; position:relative; height:40px}
.nav_dropdown .csearch input{border:1px solid #fff; font-size:14px; color:#7b7b7b; padding:10px 40px 10px 10px; width:100%; box-sizing:border-box; -webkit-appearance: none; -webkit-border-radius:0; height:38px}

.autosuggestbox_header{background:#dedede; height:295px; overflow:auto; display:none}
.autosuggestbox_header ul li a{padding:8px 10px; font-size:12px; color:#3c3c3c; display:block}
.autosuggestbox_header ul li a:hover{background:#c1c1c1}


ul.dnav li{border-bottom:1px solid #5b5b5b; padding:10px 0; font-size:16px} 
ul.dnav li a{color:#fff; display:block}
ul.dnav li a span{margin-right:12px; vertical-align:middle}
.catrow{background:#eceaea; position:relative; padding:10px; font-size:18px; color:#424242; font-weight:bold; cursor:pointer; margin-top:15px}
ul.grynav{background:#fff}
ul.grynav li{padding:10px; font-size:16px; border-bottom:1px solid #dbdbdb}
ul.grynav li a{display:block; color:#000}
ul.madd_nav{margin-top:10px; display:none}
ul.madd_nav li{margin-bottom:1px; font-size:13px; padding:10px;  background:#111}
ul.madd_nav li a{color:#fff}
ul.dnav li:last-child, ul.dnav li:first-child{display:none}
.ddmenue, .mlanguage{display:none; padding:10px}
.ddmenue{height:480px; overflow:auto}
.mlanguage h2{font-size:16px; color:#fff; text-transform:uppercase; padding:4px 0 14px}
.mlanguage ul li{background:#1c1c1c; border-bottom:1px solid #5b5b5b; position:relative}
.mlanguage ul li a{display:block; padding:10px; opacity:0.4}
.mlanguage ul li a:hover, .mlanguage ul li a.act{background:#111; opacity:1}

.share_box{position:absolute; top:5px; right:0}
.weather{background:#008daa; padding:4px; font-size:20px; color:#fff}
.weather img{padding-right:6px; position:relative; top:3px}
.weather a{color:#fff}
.weather_hoverbox{background:#007b99; font-size:12px; text-transform:uppercase; z-index:5; color:#fff; position:absolute; top:37px; right:1px; width:176px; display:none}
.weather_hoverbox.weather_box{display:block; position:static; width:auto}
.weather_hoverbox.weather_box .wtbox{background:#008daa; border-bottom:1px solid #58acbe; margin-bottom:20px}
.weather_hoverbox .winner{padding:10px}
.weather_hoverbox .winner.wipage{padding:20px; position:relative; height:100px}
.weather_hoverbox .winner .wlbox{position:absolute; top:20px; left:10px; width:90px}
.weather_hoverbox .winner .wlbox span{display:block; position:relative; top:10px}
.weather_hoverbox .winner .wrbox{position:absolute; top:30px; right:10px}
.weather_hoverbox .winner p{font-size:12px; color:#fff; text-align:center; padding-top:10px}
.weather_hoverbox .winner p span{display:block; padding:6px 0}
.weather_hoverbox .winner h3 sup{font-size:12px; position:relative; top:-10px}
.weather_hoverbox .winner sup{font-size:6px; position:relative; left:2px; top:-2px}
.weather_hoverbox .winner h3{font-size:52px; line-height:20px}
.full_fcast{background:#008daa; padding:4px 0; text-align:center; font-size:12px; font-weight:bold; text-transform:none; position:absolute; bottom:-22px; right:0; width:100%}
.nycity{padding:50px 0; text-align:center; font-size:13px; color:#000}
.nycity h2{font-size:18px; color:#007b99; padding-bottom:10px}
.full_fcast a{color:#fff}
.weather_hoverbox .winner span.city{font-size:16px}
.weather_hoverbox .winner span.setting{font-size:16px; text-transform:none}
.city_search{background:#fff; padding:4px 8px; position:relative; margin: 0 10px; height:17px}
.city_search.wpbox{width:70%}
.city_search input{width:100%; padding:0 0 0 12px; box-sizing:border-box; border:1px solid #fff; font-size:12px; color:#bfbfbf}
.enter_city{font-size:12px; color:#dedede; text-transform:none; padding:0 10px 10px 10px}
.settingbox{display:none}
.wsearch_box{padding:10px 0 50px}

.autosuggestbox_weather{background:#0597b5; height:295px; overflow:auto}
.autosuggestbox_weather ul li a{display:block; padding:8px 10px; font-size:12px; color:#fff}
.autosuggestbox_weather ul li a:hover{background:#05859f}
/*header and nav*/

#mid{padding:15px 0 20px 0; position:relative}
#left, .left, .catleft{/*width:924px;*/ width:74.51612903225806%; background:#fff; padding:15px; box-sizing:border-box}


#left.left_box, .left.left_box{background:#f0eeee; padding:0}
.brad_crum{border-bottom:1px dotted #a9a9a9; padding:0 0 10px 0; font-size:13px; color:#818181; text-transform:uppercase} 
.brad_crum a{color:#000; padding:0 6px}
.brad_crum a:first-child{padding-left:0}
.stete_mbox{padding:0px}

/*article*/
.article_box{padding-top:10px}
.article_box h1{font-size:26px; line-height:36px; color:#2e2e2e}
.story_update{font-size:11px; color:#5b5b5b; border-bottom:1px solid #dbdbdb; padding:10px 0}
.story_update span{color:#000}
.bnow_shre{border-bottom:1px solid #dbdbdb; padding:6px 0; position:relative}
.sharebtm_box{border-bottom:1px solid #dbdbdb; border-top:1px solid #dbdbdb; padding:6px 0 10px; position:relative; margin-top:20px}
.bnow_shre .bnbox{font-size:12px; font-weight:bold}
.bnow_shre .bnbox img{float:left; padding:4px 10px 0 0; width:40px;}
.bnow_shre .bnbox a{color:#606060; vertical-align:middle}
.bnow_shre .bnbox .twt_box{padding-top:4px}
.bnow_shre .bnbox a.twitter_txt{color:#0096ce}
.bnow_shre .bnbox a.bn_nam{color:#ec1c23}
ul.story_share_box{padding-top:5px; text-align:center}
ul.story_share_box.sharebox{background:#f1f1f1; border:1px solid #dbdbdb; position:absolute; top:-1px; left:0; width:100%; height:50px; padding-top:14px; display:none}
ul.story_share_box li{float:left; padding:0 17px; border-right:none; display:inline}
ul.story_share_box li.wapp{display:none}
ul.story_share_box li a{display:inline-block; width:35px; height:35px}
ul.story_share_box li:last-child{border-right:0; padding-right:0}
.article_box p{color:#2e2e2e; font-size:18px; line-height:32px; padding-top:20px}
.article_box .img_tagbox{max-width:750px; margin:0 auto; padding:40px 0 10px}
.article_box .img_tagbox img{width:100%}
.article_box .img_tagbox p{font-size:12px; line-height:19px; padding:10px; background:#282828; color:#fff; margin-top:-5px; color:#fff}
.tag_txt{padding-top:30px}
.tag_txt a{background:#50a6c1; font-size:13px; display:inline-block; margin-right:10px; color:#fff; padding:4px 8px; border-radius:6px; margin-bottom:10px;}
.also_read{background:#e9e8e8; padding:8px 15px 15px; max-width:750px; margin:0 auto; margin-top:30px}
.title{border-bottom:1px solid #dbdbdb; padding-bottom:6px; text-transform:uppercase; position:relative}
.title.bnon{border-bottom:0}
.title span{font-size:18px; color:#323232; border-left:3px solid #ec1c23; padding-left:6px; line-height:13px; display:inline-block} 
.title span a{color:#323232;} 
.also_read ul li{border-bottom:1px solid #c0c0c0; padding:15px; font-size:14px; background:url(../images/ar_arrow.png) no-repeat 0 center}
.also_read ul li a{color:#3d3d3d}
ul#related_story{padding: 15px 0}
ul#related_story li{float:left; width:25%; padding:0 20px; box-sizing:border-box}
ul#related_story li img, ul#recommended_videos li img, ul#recommended_photos li img, .lead_story img, ul.pvs_box li img, .pgallery ul li img, ul#pnv li img, .section_widget.state_sw ul li img, .tanding .tinner ul li img, .section_widget ul li img, .vgallery ul.vlisting, .vgallery .vlbox img, ul#cartoon_slider li img{width:100%}
ul#related_story p{font-size:16px; color:#202020; line-height:28px; padding:10px; background:#e9e8e8; margin-top:-4px; min-height:60px}
ul#related_story p a{color:#202020}
ul#recommended_stories li{padding:15px 0; font-size:16px; line-height:28px; width:45%; border-bottom:1px solid #dbdbdb; float:left; height:70px}
ul#recommended_stories li img{float:left; padding-right:10px; width:100px}
ul#recommended_stories li a{color:#191919}
ul#recommended_stories li:nth-child(even){float:right}
ul#recommended_stories li .intro span{font-size:11px; color:#5b5b5b; display:block}
ul#recommended_videos{border-bottom:1px solid #dbdbdb; padding-bottom:20px}
ul#recommended_videos li{float:left; width:49%; position:relative}
ul#recommended_videos li:nth-child(2){float:right}
ul#recommended_videos li a{color:#333; display:block; padding-top:0px; font-size:18px; line-height:24px; font-weight:bold}
a.article_arrow{background:#fff; padding:10px; box-shadow:0px 0px 2px rgba(00, 00, 00, 0.4); position:fixed; top:40%; z-index:1; transition: width .2s; width:5px}
a.article_arrow.larrow{height:50px;  padding-left:30px; left:0; border-radius:0 6px 6px 0}
a.article_arrow.rarrow{height:50px;  padding-right:30px; right:0; border-radius:6px 0 0 6px}
a.article_arrow span.txt_box{display:none; font-size:13px; line-height:18px; color:#000; padding:0 10px}
a.article_arrow:hover{width:300px;  transition: width .2s; overflow:hidden}
a.article_arrow:hover span.txt_box{display:block}
ul#recommended_photos{padding:0 0 20px; border-bottom:1px solid #dbdbdb}
ul#recommended_photos li{width:32%; padding-right:2%; position:relative; float:left}
ul#recommended_photos li:last-child{padding-right:0}
ul#recommended_photos li p{font-size:16px; line-height:28px; padding-top:8px}
ul#recommended_photos li a{color:#3d3d3d}
.view_comment{font-size:26px; text-transform:uppercase}
.view_comment a{color:#e0191d}

.article_box .btitle{padding:16px 0 14px}
.article_box .btitle .jump_to{top:10px}
.div_img{width:750px; margin:0 auto}
.div_img img{width:100%}

/*article*/

.alert_box{border:1px solid #dbdbdb; border-left:0; position:relative; padding-left:74px; height:38px; overflow:hidden; background:#fff}
.alert_box span{background:#ec1c23; text-transform:uppercase; width:74px; text-align:center; line-height:38px; font-size:14px; font-weight:bold; color:#fff; position:absolute; top:0; left:0}
.alert_box ul li{line-height:38px; font-size:14px; padding-left:10px}
.lead_story{width:66.12554112554113%; position:relative}
.lead_story figure{position:relative}
.lead_story figure h1{font-size:22px; line-height:34px; text-shadow:1px 1px 1px #000; background:rgba(40, 40, 40, 0.8); padding:8px 10px; border-top:1px solid #726b6d; position:absolute; bottom:0; left:0; width:100%; box-sizing:border-box}
.lead_story figure h1 a{color:#fff}
.state_left{background:#fff; padding:10px 15px; margin-top:15px}
.state_left .lead_story .ext_story{padding:0px;}
.lead_story .ext_story{background:#fff; margin-top:10px; font-size:14px; line-height:20px; padding:10px; display:none}
.lead_story .ext_story img{float:left; padding:4px 10px 0 0; width:107px}
.lead_story .ext_story a{color:#3d3d3d}

.top_storys{width:32.25108225108225%; padding:5px 15px 6px; box-sizing:border-box; background:#fff; min-height:407px;}
.top_storys.state_tstory{padding:0; margin-top:-10px}
.top_storys ul li{border-bottom:1px solid #ccc; padding:10px 0; font-size:16px; line-height:24px}
.top_storys ul li a{color:#3d3d3d}
.more{text-align:right; font-size:14px; padding:6px 0 0}
.more a{color:#ec1c23; text-transform:uppercase; font-weight:bold}

ul.pvs_box li{width:32%; margin-right:2%; position:relative; float:left}
ul.pvs_box li:last-child{margin-right:0}
ul.pvs_box li p{font-size:15px; line-height:22px; text-shadow:1px 1px 1px #000; padding:10px; background:rgba(40, 40, 40, 0.8); position:absolute; bottom:3px; left:0; width:100%; box-sizing:border-box; border-top:1px solid #cfbec8}
ul.pvs_box li p a{color:#fff}
.top_10{background:#fff url(../images/top_10.gif) no-repeat 0 0; padding:5px}
.top_10 .t10_inner{background:url(../images/doted.png) repeat-x 0 0; height:100px; padding-left:136px; position:relative}
.top_10 .t10_inner .outer_box{overflow:hidden; padding-top:15px; margin-right:30px}
.top_10 .t10_inner .outer_box ul{width:3410px}
.top_10 .t10_inner .outer_box ul li{float:left; width:300px; border-right:1px solid #dbdbdb; padding:0 20px; font-size:14px; line-height:20px}
.top_10 .t10_inner .outer_box ul li:first-child{padding-left:0}
.top_10 .t10_inner .outer_box ul li img{float:left; padding:4px 10px 0 0; width:90px}
.top_10 .t10_inner .outer_box ul li a{color:#3d3d3d}
.top_10 h2{display:none}

#tranding_lnews{background:#fff; padding:4px 15px 15px}
.tanding{max-width:370px}
.tanding h2{margin-right:20px}
.tanding .tinner{padding:0 20px 0 0; border-right:1px solid #dbdbdb}
.tanding .tinner ul li{font-size:14px; line-height:20px; padding-top:15px; padding-bottom:10px; float:left}
.tanding .tinner ul li h3{font-size:18px; line-height:24px; padding:10px 0}
.tanding .tinner ul li h3 a{color:#202020}

.tanding a{color:#3d3d3d}
.gray_box{background:#e2e1e1; padding:4px 4px 4px 4px; font-size:14px; color:#6b6b6b; text-align:right; height:20px; position:relative}
.gray_box a{margin-left:3px}
.gray_box h2{font-size:16px;  text-transform:uppercase; padding-left:6px}
.gray_box h2 a{color:#323232; border-bottom:0 !important; padding:0 !important; margin:0 !important}
.gray_box span{position:absolute; left:10px; top:6px; font-size:14px; color:#6b6b6b}

#local_news{width:820px}
.lntbox{border-bottom:1px solid #dbdbdb; position:relative}
.local_links{width:630px; padding-top:7px; position:relative; height:20px}
.local_links.wauto{width:auto; padding-right:145px}
.local_links .linner{overflow:hidden; margin:0 50px}
.local_links .linner.mnon{margin:0}
.local_links .linner ul{width:300%}
.local_links .linner ul li{float:left; padding-right:35px; padding:3px 15px; font-size:14px; float:left}
.local_links .linner ul li a{color:#313131}
/*.local_links.wauto .linner ul li:last-child{padding-right:0}*/
.local_links.wauto .linner li{padding:4px 15px}
.local_links .linner li.act{background:#ff0000}
.local_links .linner li.act a{color:#fff}
.cbox{display:none}

ul.local_news{margin-top:15px; height:429px; overflow:auto}
ul.local_news li{float:left; width:48%; border:1px solid #dbdbdb; margin:0 15px 15px 0; height:150px}
ul.local_news li:nth-child(even){margin-right:0}
ul.local_news li a{display:block; margin:0 15px; padding:10px 0; border-bottom:1px solid #dbdbdb; font-size:14px; line-height:20px; color:#3d3d3d}
ul.local_news li a:nth-child(3){border-bottom:0}

#blog_widget{background:#fff; padding:6px 15px 0 15px; position:relative}
#blog_widget.show_widget{padding:0; border-bottom:1px solid #dbdbdb}
.select_bloger{position:absolute; top:0; right:0; background:#fff; padding:7px 8px; z-index:2}
.select_bloger.lsting{width:156px; height:38px}
#blog_widget .bloger_listing{padding:20px; position:relative}
ul.blisting{width:300%}
ul.blisting li{width:270px; float:left; font-size:14px; line-height:20px; padding:0 15px; border-right:1px solid #dbdbdb}
/*ul.blisting li:first-child{padding-left:0}*/
ul.blisting li img{margin-right:10px; float:left; height:56px; width:56px; border-radius:28px; overflow:hidden}
ul.blisting li a{color:#3d3d3d}
ul.blisting li h4 a{color:#ec1c23; text-transform:uppercase; font-size:12px}
#blog_widget.show_widget ul li img{border-radius:0; width:auto}
#blog_widget.show_widget ul li{width:295px}
ul.blisting.bl_rbox li{float:none; border-bottom:1px solid #dbdbdb; padding:15px 0; border-right:0}
ul.blisting.bl_rbox{width:auto}

.poll{background:#fff; padding:6px 15px 8px; width:45%; min-height:243px}
.poll h3{font-size:16px; line-height:24px; font-weight:normal; padding:10px 0}
.poll p{font-size:14px; color:#3d3d3d; padding-bottom:10px}
.poll p img{padding:0 4px; height:10px}

#right .poll, #right .astro_box{width:100%; box-sizing:border-box; height:auto}

.astro_box{background:#fff; padding:8px 15px 15px; width:47%}
.astro_box .result_box{background:#f0eeee; padding:12px 15px 10px; font-size:16px; line-height:24px; color:#5f5f5f}
.astro_box .result_box a{color:#5f5f5f}
.astro_box .alistin_box{padding:20px 20px 0; position:relative}
.astro_box .alistin_box ul{width:500%}
.astro_box .alistin_box ul li{float:left; padding-right:25px; height:94px; text-align:center; font-size:14px; line-height:20px; opacity:0.4}
.astro_box .alistin_box ul li.act{background:url(../images/stro_arrow.png) no-repeat 25px bottom; opacity:1}
.astro_box .alistin_box ul li a{color:#3d3d3d}
.astro_box .alistin_box ul li a strong{width:56px; height:56px}
.astro_box .alistin_box ul li a span{display:block}

.pgallery{background:#fff; padding:8px 15px 15px}
.pgallery ul li{float:left; /*width:33.33%;*/ width:309px; padding-right:15px; box-sizing:border-box; position:relative}
.pgallery ul li p{font-size:14px; line-height:20px; padding-top:6px}
.pgallery ul li p a{color:#3d3d3d}
.pgallery.pgbox ul li{/*width:33.4%*/ width:309px}

.section_widget.state_sw ul li{padding:0}
.section_widget ul li{float:left; width:32%; margin-right:2%; background:#fff; padding:8px 15px 0 15px; box-sizing:border-box}
.section_widget ul li a{font-size:14px; line-height:20px; color:#333; border-bottom:1px solid #dbdbdb; padding:15px 0; display:block}
.section_widget ul li a:last-child{border-bottom:0; padding: 10px 0 0 0}
.section_widget ul li a.bstory{font-size:16px; font-weight:bold; line-height:24px}
.section_widget ul li:last-child{margin-right:0}
.section_widget ul li a.more{color:#ec1c23; text-transform:uppercase; text-align:right; font-weight:bold}

.vgallery{background:#fff; padding:8px 15px 15px}
.vgallery .vlbox{max-width:596px; position:relative}
.vgallery .vlbox p{font-size:22px; font-weight:bold; line-height:30px; padding-top:8px}
.vgallery .vlbox p a{color:#333}
.vgallery ul.vlisting{max-width:280px}
.vgallery ul.vlisting li{border-bottom:1px solid #dbdbdb; font-size:14px; line-height:20px; padding:15px 0; min-height:60px}
.vgallery ul.vlisting li a{color:#191919}
.vgallery ul.vlisting li img{float:left; padding:4px 10px 0 0; width:90px}
.vgallery ul.vlisting li:first-child{padding-top:0}
.vgallery ul.vlisting .more{padding-top:10px}

/*photo and video*/
ul#pnv{padding-top:20px}
ul#pnv li{float:left; width:32%; position:relative; background:#f0eeee; margin:0 2% 25px 0}
ul#pnv li .intro{font-size:16px; line-height:26px; padding:4px 10px 10px}
ul#pnv li .intro.show{height:125px}
ul#pnv li .intro a{color:#3d3d3d}
ul#pnv li .intro span{display:block; padding-bottom:4px; font-size:11px; color:#5b5b5b}
ul#pnv li:nth-child(3n){margin-right:0}

.btitle{border-bottom:1px solid #dbdbdb; padding:30px 0 14px; position:relative}
.btitle.pbottom{padding:26px 0 5px}
.btitle.bnon{border-bottom:none; padding-bottom:30px 0 0}
.btitle h1, .btitle h2{font-size:24px; color:#323232; text-transform:uppercase; border-left:2px solid #ec1c23; padding-left:6px; line-height:17px}
.btitle h1.mtop, .btitle h1.mtop{margin-top:20px}
.filter_box{padding-left:20px; position:relative}
.filter_box .filter{font-size:15px; color:#7b7b7b; padding-left:10px; position:relative}
.filter_box .filter.defoult{opacity:0.4}
.filter_box .filter.defoult span.cnam{cursor:default}
.filter_box .filter span{margin-left:5px}
.filter_box .filter span.cnam{color:#ec1c23; text-transform:uppercase; border-bottom:1px solid #ec1c23; cursor:pointer}
.filter_ddown{background:#fbfbfb ; position:absolute; top:25px; right:0; z-index:2; width:150px; height:250px; overflow:auto; display:none; border:1px solid #ececec; border-top:none}
.filter_ddown a{border-bottom:1px solid #d6d6d6; color:#424242; padding:10px; display:block}
.filter_ddown a:hover{background:#f3f1f1; color:#424242}
.pagenation{text-align:center; padding:20px 0}
.pagenation a{border-radius:4px; background:#e2e1e1; border:1px solid #cdcdcd; padding:6px 10px; color:#666; font-size:12px; margin-right:5px}
.pagenation a span{font-size:16px}
.pagenation a:hover, .pagenation a.act{background:#ec1c23; border:1px solid #ec1c23; color:#fff; font-weight:bold}
.pagenation a.dact, .pagenation a.dact:hover{opacity:0.4; cursor:default; background:#e2e1e1; border:1px solid #cdcdcd; color:#666; font-weight:normal}
/*photo and video*/

.search_text{font-size:18px; color:#2e2e2e; padding:20px 0 10px; font-weight:normal}
.search_text span{font-weight:bold}
ul#cagetory li{border-bottom:1px solid #dbdbdb; padding:10px 0 15px; position:relative}
ul#cagetory li span{font-size:11px; color:#5b5b5b}
ul#cagetory li p{font-size:14px; color:#3d3d3d; line-height:20px}
ul#cagetory li h1, ul#cagetory li:first-child h2{font-size:20px; line-height:26px; padding:6px 0 10px}
ul#cagetory li h1 a, ul#cagetory li:first-child h2 a{color:#202020}
ul#cagetory li h2{font-size:16px; line-height:24px; color:#2e2e2e}
ul#cagetory li h2 a{color:#2e2e2e}
ul#cagetory li img{float:left; padding:6px 15px 0 0; width:135px}
ul#cagetory li:first-child img{width:400px}
.jump_to{background:#f7f7f7; width:110px; position:absolute; top:10px; right:15px; padding:4px 20px 6px 10px; border:1px solid #d7d7d7; border-radius:4px; box-shadow:0 0 2px #ccc}
.jump_to.rhs_blogers{width:auto; position:relative; padding-left:35px; margin-bottom:10px; right:0}
.jump_to.rhs_blogers .jto_ddown{width:100%}
.jump_to.lncity{top:6px; padding:2px 14px 4px; width:100px; right:0}
.jump_to.lncity .jupm_arrow{top:10px}
.jump_to a{font-size:12px; color:#424242}
.btitle .jump_to {top:25px; right:0px;}
.jto_ddown{background:#fbfbfb; position:absolute; top:30px; left:0; width:150px; height:250px; overflow:auto; box-sizing:border-box; border:1px solid #ececec; z-index:2; display:none}
.jto_ddown a{display:block; border-bottom:1px solid #d6d6d6; padding:10px; color:#424242; font-size:12px}
.jto_ddown a:hover{background:#f3f1f1}
.jump_to.change_city{top:4px; position:absolute; padding:0px 14px 2px; width:100px; right:5px}
ul.lnews_box li{padding:15px 0; border-bottom:1px solid #dbdbdb; font-size:14px; line-height:20px; width:49%; margin-right:2%; float:left; min-height:71px}
ul.lnews_box li:nth-child(even){margin-right:0}
ul.lnews_box li a{color:#3d3d3d}
ul.lnews_box li img{float:left; padding:5px 10px 0 0; width:100px}
ul.lnews_box li span{font-size:11px; color:#5b5b5b; padding-bottom:4px; display:block}
ul.lnews_box li span a{color:#ec1c23; font-weight:bold; text-transform:uppercase}
ul.lnews_box.city_news{width:48%}
ul.lnews_box.city_news li{float:none; width:auto; min-height:70px}
#localSectionState ul.lnews_box li {margin-right:2%}
.more_fnews18{font-size:14px; text-transform:uppercase; text-align:center; font-weight:bold; padding-top:10px}
.more_fnews18 a{color:#ec1c23}
.search_box{width:60%}

.city_box{border:1px solid #e2e1e1; background:#fff; width:50%; margin-top:15px; position:relative}
.city_box a{color:#323232;}
.city_box .hed{background:#e2e1e1; font-size:16px; text-transform:uppercase; padding:6px 10px; font-weight:bold; color:#323232}
.city_box ul{padding:0 15px}
.city_box ul li{border-bottom:1px solid #dbdbdb; padding:12px 0 13px 0; font-size:14px; line-height:20px}
.city_box ul li:last-child{border-bottom:none}
.city_box ul li a{color:#3d3d3d}
.live_cricketpup{background:#fff; border-radius:6px; padding:4px 41px 4px 4px; position:fixed; top:216px; left:-495px; color:#fff; z-index:4}
.live_cwidget{background:#2b2b2b; position:relative; padding-bottom:4px; height:91px}
.live_cwidget h2{font-size:18px; padding:4px 10px; background:#ec1c23; text-transform:uppercase; font-weight:normal; color:#fff}
.live_cwidget h2.msc_h2{font-size:14px; font-weight:bold}
.live_cwidget .lcinner{margin:6px 40px 6px 70px; overflow:hidden; width:380px}
.live_cwidget ul li{float:left; font-size:15px; width:380px}
.live_cwidget ul li .score{font-size:17px; padding-top:4px; color:#fff}
.live_cwidget ul li .score span{font-size:23px; padding:0 6px}
.live_cwidget a{color:#fff}
.mcricket_widget{background:#fff; display:none; padding:10px}

.tsearch_box{padding:9px 8px; position:absolute; top:0; right:160px; display:none; height:26px}
.popup_search{padding:4px; background:#e6e6e6; width:300px; position:absolute; top:44px; right:0; z-index:4; display:none}
.popup_search .psbox{border:1px solid #dbdbdb; height:38px; background:#fff; padding-left:8px}
.popup_search .psbox input{width:85%; font-size:14px; color:#7b7b7b; border:1px solid #fff; line-height:32px; -webkit-appearance: none; -webkit-border-radius:0}

.extr_lnk{background:#fbfbfb; width:136px; display:none; position:absolute; top:43px; right:0; z-index:4; border:1px solid #d6d6d6; border-top:0; border-radius:0 0 4px 4px}
.extr_lnk a{display:block; border-bottom:1px solid #d6d6d6; padding:10px; font-size:12px; color:#424242; line-height:18px; font-weight:normal}
.extr_lnk a:hover{background:#efecec}
.extr_lnk a:last-child{border-bottom:0}
.epn_coday{display:none}
.epn_mbox{width:49%; box-sizing:border-box}

.content_box{padding:10px 0}
.content_box p{font-size:14px; line-height:20px; color:#2e2e2e; padding:10px 0}
.content_box p span{font-weight:bold}
.content_box .contect_dtail{font-weight:bold; line-height:24px; color:#2e2e2e}
.content_box .contect_dtail a{color:#2e2e2e}
/*right*/
#right{width:300px}
.rhs_search{background:#fff; border:1px solid #dbdbdb; height:38px; position:relative}
.rhs_search input{width:96%; border:1px solid #fff; padding:0 38px 0 10px; box-sizing:border-box; font-size:14px; color:#7b7b7b; line-height:36px}
.ltv_box{background:#fff; padding:8px 15px 1px 15px}
.ltv_box .ltv_inner{padding:20px; position:relative}
#liveTvSlider .over_hdn{height:62px; overflow:hidden}
.ltv_box .ltv_inner.state_ltv{padding:20px 0}
.ltv_box h2{font-size:16px; color:#323232; text-transform:uppercase; border-bottom:1px solid #dbdbdb; padding-bottom:6px}
.ltv_box .ltv_inner ul{width:200%}
.ltv_box .ltv_inner ul li{float:left; width:260px}
.ltv_box .ltv_inner ul h4 a{font-size:14px; color:#ec1c23; font-weight:normal}
.ltv_box .ltv_inner ul li span{font-size:12px; color:#6b6b6b}
.ltv_box .ltv_inner ul li img{float:left; padding-right:10px}
.editor_pick{background:#fff; padding:8px 15px 15px}
.editor_pick ul li{border-bottom:1px solid #dbdbdb; padding:15px 0; font-size:14px; line-height:20px}
.editor_pick ul li img{float:left; padding:3px 10px 0 0;width:90px}
.editor_pick ul li a{color:#3d3d3d}
.editor_pick ul li:last-child{border-bottom:none}
.marketing{padding:8px 15px 15px; background:#fff}
.marketing.mc_widget{padding:8px 15px 8px 15px; background:#fff}
.marketing.mc_widget .title{margin:0}
.marketing figure{padding:10px 0}
.marketing p{font-size:14px; line-height:20px}
.marketing p a{color:#3d3d3d}
.tranding_topic{background:#fff; padding:10px}
.tranding_topic ul li{padding:10px 0 10px 16px; font-size:14px; color:#2e2e2e; background:url(../images/ar_arrow.png) no-repeat 0 center}
.tranding_topic ul li a{color:#2e2e2e}
.live_cricket{background:#2b2b2b}
.live_cricket h2{background:#d83330; padding:6px; font-size:18px; color:#fff; text-transform:uppercase}
.live_cricket p{border-bottom:1px solid #414141; margin:10px; padding-bottom:8px; font-size:15px; color:#fff; line-height:20px}
.live_cricket p span{display:block}
.live_cricket .inng{width:46%; padding-left:10px; font-size:24px; color:#fff; border-right:1px solid #414141}
.live_cricket .inng a, .live_cricket p a{color:#fff}
.live_cricket .inng h3{font-size:36px; font-weight:bold; line-height:24px; padding:10px 0 0 0}
.live_cricket .inng span{font-size:12px; color:#d5d5d5}
.live_cricket .inng.second{color:#929292; padding-left:20px; width:auto; border:0}
.live_cricket .inng.second span, .live_cricket .inng.second a{color:#929292}
.full_score{background:#3d3d3d; font-size:14px; color:#d5d5d5; padding:6px; text-align:center; margin-top:10px; text-transform:uppercase}
.full_score a{color:#d5d5d5}
.cartoonof_day{overflow:hidden; padding:10px 0; position:relative}
.cartoonof_day ul{width:1000px}
.cartoonof_day ul li{float:left}
#right .tanding{padding:10px; background:#fff}
#right .tanding .tinner{border-right:none; padding:0}
#right .tanding .tanding h2{margin-right:0}
/*right*/

.mobile_hdr{position:fixed; background:#fff; width:100%; box-sizing:border-box; border-bottom:1px solid #dbdbdb; padding:5px 10px; display:none; z-index:9; height:46px;}
.mobile_hdr a{margin-right:10px;margin-top: 5px;}
.dnt_hed{background:#000; padding:5px 10px 5px 50px; position:relative; display:none; box-sizing:border-box; width:100%; top:-10px;border-bottom:1px solid #333232;}

.citynstate{display:none}

/*auto suggestion*/
.autocomplete-suggestions {background:#f0eeee; cursor: pointer; overflow: auto; -webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.6); -moz-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.6); box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.6); }
.autocomplete-suggestion { font-size: 14px; padding: 7px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background:#e7e7e7; }
.autocomplete-suggestions strong { font-weight: bold; color: #3c3c3c; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 12px; color: #3c3c3c; display: block; border-bottom: 1px solid #000; }
/*auto suggestion*/

/* quotes css*/
.quote-box{font-size:18px; line-height:30px; color:#505050; margin-top:30px; padding:0 40px 20px 75px; position:relative; font-style:italic; font-weight:bold}
.special-text{font-size:16px;  line-height:30px; color:#505050; margin:20px 40px 20px 0px; border-left:8px solid #ee1b24; padding:10px 10px 10px 15px; font-style:italic; font-weight:bold}
.quote-box img{position:absolute; top:0; left:0px;width:60px}
.quote-box .quote-nam{font-size:16px; color:#5f5f5f; padding-top:15px; text-align:right; font-weight:normal}
.quote-box .quote-nam span{font-weight:bold; color:#ee1b24;padding-top:10px}
/* quotes css*/

footer{}
.footer_top{background:#fff; border-top:1px solid #ccc; padding:12px 0; text-align: center;}
.footer_top ul li{display: inline-block; padding-right:120px; font-size:11px; text-align:center}
.footer_top ul li a span{padding-top:3px; display:block}
.footer_top ul li:last-child{padding-right:0}
.footer_top ul li a{color:#6b6b6b}
.footer_mid{background:#242424; padding:12px 0}
.footer_mid ul li{border-right:1px solid #666; padding:0 64px; float:left; height:250px}
.footer_mid ul li.bnon{border-right:none}
.footer_mid ul li:first-child{padding-left:0}
.footer_mid ul li:last-child{padding-right:0; border-right:0}
.footer_mid ul li a{display:block; padding-bottom:10px; font-size:13px; color:#fff; line-height:18px}
.footer_mid ul li a.flink{padding-top:30px}
.footer_mid ul li span{color:#dfa656; font-weight:bold; font-size:14px; padding-bottom:10px; display:block; text-transform:uppercase}
.footer_btm{text-align:center; background:#191919; padding:8px 0; font-size:11px; color:#fff}

/*inner css by bhola*/
.view_all {font-size:16px; text-transform:uppercase; font-weight:bold; margin:15px 0 0 0}
.view_all a {color:#e0191d; letter-spacing:0.5px}
.view_all a img {vertical-align:middle}
ul#pnv li .intro {color:#3d3d3d}
.latest_comments {margin-top:60px}
.etv_list h1 {border:none; padding-left:0; font-size:18px}
.khabr_news {display:block; padding-top:15px; color:#5b5b5b; font-size:16px}
.etv_list {padding-left:15px; border-left:1px solid #cccccc}
.et_logo {padding:0 15px 0 0; vertical-align:top}
.khabr_news span.t1 {padding:0 10px 0 0; color:#ec1c23}
.khabr_news span.t2 {padding:0 0 0 15px}
.etv_title {padding:5px 0 10px 0; margin-bottom:20px}
.pd_none {padding:0!important}
ul.upnext_listing {list-style:none}
ul.upnext_listing li {float:left; background:#f0eeee; width:31%; text-align:center; padding:7px 0 15px; margin:0 3.5% 3.5% 0}
.etvlist {font-size:18px; color:#5b5b5b;  font-weight:bold; padding-left:10px}
.etvlist span {color:#ec1c23; font-size:12px; display:block; padding:5px 0; line-height:20px; font-weight:normal}
ul.upnext_listing li img {padding-bottom:15px}
ul.upnext_listing li.last {margin-right:0}
.upnext_listing {margin-top:30px}
.reds {color:#ec1c23; font-weight:normal}
.bnone {border:none}
.main_sliders {margin:0 30px}
.l_r_arrow {position:relative}
.l_arrow {top:300px; position:absolute}
.r_arrow {top:300px; position:absolute}
.white_arrow {position:relative}
.wh_r_arrow {position:absolute; right:-15px; top:45px; z-index:9999}
.slider_contents {background:#282828; position:relative; top:-4px}
.slider_contents p {padding:15px; color:#fff}
.slider_con {border-bottom:1px solid #fff}
ul.subs_slider_list {list-style:none; position:relative}
ul.subs_slider_list li img {border:1px solid #585858}
ul.big_img_slider {list-style:none}
ul.big_img_slider li {float:left}
ul.big_img_slider li img {width:100%}
ul.subs_slider_list li.act {background:#fff; padding-bottom:0}
ul.subs_slider_list li.act img.top_arrow {position:absolute; left:76px; top:-7px; border:none}
.show_jumps {position:relative; margin-bottom:30px}
.jumpss {position:absolute; right:0; top:-10px}
.jumpss .jump_to {position:relative; float:left; margin-right:15px}
.show_heading {border-bottom:1px solid #bab9b9; margin-bottom:7px; padding-bottom:2px}
ul#pnv li .intro .show_heading span.headings {font-size:18px; color:#5b5b5b; font-weight:bold}
ul#pnv li .intro .show_heading span.etv_net {font-size:12px; color:#ec1c23}
ul.am_show li {padding-bottom:15px!important}
.jps {top:5px}
.jto_ddown strong {display:block; padding-bottom:5px}

/*---Trending Topics Widget---*/
.trending_box { display:none;}
.trending_bt{ display:none;}
.trans { display:none;}

/*---cricket---*/
#series_box {border-bottom:1px solid #b7bbbc; overflow:visible; padding-top:15px}
#series_box ul {padding-top:7px; padding-left:10px;  text-transform:uppercase}
#series_box ul li {float:left; border:1px solid #cacaca; border-bottom:none; padding:6px 15px; margin-right:6px; font-size:14px; background:#f0f0f0}
#series_box ul li a {color:#3b3b3b}
#series_box ul li.act {position:relative; top:1px; background:#fff}
#inning {}
#inning ul li {background:#000; padding:2px 20px; margin-right:1px; float:left}
#inning ul li a {font-size:12px; color:#fff}
#inning ul li.act {background:#959595; padding:2px 20px; margin-right:1px; float:left}
#venue_box {font-size:11px; color:#222; padding-top:3px}
#venue_box span {font-weight:bold}
#scr_info {border-top:1px solid #666; border-bottom:1px solid #666; padding-bottom:10px; height:60px; margin-bottom:15px}
#scr_info ul {padding:7px 0}
#scr_info ul li {float:left; text-align:center; font-weight:bold; font-size:20px; color:#000; border-right:1px solid #000; height:52px; padding:0 16px}
#scr_info ul li h4 {color:#636464; font-weight:bold; font-size:12px; padding-bottom:7px}
#scr_info ul li:first-child {font-size:50px; color:#000; font-weight:normal}
#scr_info ul li:last-child {border-right:none; padding-right:0px}
#inning_box {background:#f0f0f0; font-size:20px; border:1px solid #ccc; padding:5px 8px; line-height:28px; height:28px; margin-top:15px}
#inning_box span {font-weight:bold; color:#555; padding-right:10px; font-size:14px}
#inning_box .score {font-weight:bold; font-size:26px; padding-right:15px; color:#000}
#inning_box .rr_box {font-size:20px; padding:0px; color:#000}
.fst_table {}
.fst_table table {border-collapse:collapse; width:100%}
.fst_table table tr th {font-weight:bold; font-size:12px; text-align:left; background:#f4f5f5; border:1px solid #a0a3a6; padding:7px 10px}
.fst_table table tr td {text-align:left; border:1px solid #a0a3a6; padding:4px 8px; vertical-align:top; line-height:20px}
.fst_table table tr td.txt {font-weight:bold; color:#000}
#last_overs {border-top:1px solid #000; border-bottom:1px solid #000; padding:10px 0; margin-top:15px}
#last_overs ul li {border-right:1px solid #000; padding:0 10px; font-size:20px; color:#000; float:left; font-size:14px; font-weight:bold}
#last_overs ul li:first-child {padding-left:0px}
#last_overs ul li:last-child {padding-right:0px; border-right:none}
#last_overs ul li span {color:#636464}
#last_overs ul li h4 {color:#636464; font-weight:bold; font-size:12px; padding-bottom:8px; display:inline}
#this_over {font-weight:bold; color:#000; background:#f4f5f5; border:1px solid #848484; padding:5px; margin-top:15px}
#this_over span {padding-right:30px}
#this_over h5 {font-size:18px; font-weight:normal; color:#515050}
#this_over h6 {font-weight:bold; font-size:14px; padding-top:3px}
#this_over a {color:#000}
#commentary p {padding-bottom:15px; font-size:14px; width:100% !important; line-height:22px}
#commentary p span {font-weight:bold; font-size:20px; color:#555}
.see_more {border-top:1px dotted #848686; padding:10px; text-align:center; font-weight:bold; margin-top:10px}
.see_more a {color:#000}
.vspacer10 {padding-top:10px}
.vspacer20 {padding-top:20px !important}
.vspacer30 {padding-top:30px}
.sc_highlight {display:block; padding:15px 0 0 0; font-weight:bold}
/*.jto_ddown {background:#fbfbfb; position:absolute; top:31px; left:0; width:100%; box-sizing:border-box; border:1px solid #ececec; z-index:2; display:none}*/

.jst {background:#f7f7f7; width:110px; position:absolute; top:10px; right:185px; padding:4px 20px 6px; border:1px solid #d7d7d7; border-radius:4px; box-shadow:0 0 2px #ccc}
.jst a {font-size:12px; color:#424242}
.jto_ddown1 {background:#fbfbfb; position:absolute; top:31px; left:0; width:100%; box-sizing:border-box; border:1px solid #ececec; z-index:2; display:none}
.jto_ddown1 a {display:block; border-bottom:1px solid #d6d6d6; padding:10px; color:#424242; font-size:12px}
.jto_ddown1 a:hover {background:#f3f1f1}
.jumpsserror_p .jst {position:relative; float:left; margin-right:15px}
/*---cricket---*/
.bl_icons {position:absolute; left:10px; top:8px}
.sl_blog {margin-left:20px}
.bloggers {margin:15px 0 30px 0}
.blog_pic {border-radius:50%; width:56px; height:56px; overflow:hidden} 
.blog_contents {border:1px solid #dbdbdb; padding:15px; margin-left:15px; width:88%}
a.bl_col {color:#ec1c23; text-transform:uppercase; font-size:12px; padding-top:5px; font-weight:bold}
.tweets {color:#0096ce; font-size:13px}
a.tweets img {vertical-align:middle}
.bl_name {border-bottom:1px solid #dbdbdb; padding-bottom:10px; margin-bottom:10px}
.blogger_story {padding:0 0 10px 0; border-bottom:1px solid #dbdbdb}
.blogger_story span {color:#5b5b5b; font-size:11px; text-transform:uppercase}
.blogger_story h2 {font-size:20px; color:#2e2e2e; padding:10px 0; line-height:26px}
.blogger_story p {color:#2e2e2e; font-size:14px; line-height:20px}
ul.st_share li {border:none}
ul.st_share {padding-top:15px}
ul.st_share li {padding:0 10px}
.blog_pic img {width:56px; height:56px}
.bloggers .img_tagbox {margin: 0 auto; max-width: 750px; padding:5px 0}
.bloggers .img_tagbox img {width: 100%}
a.twt {font-weight:normal; margin-left:10px; position:relative; top:-4px}
/*404*/
.error_p {margin-top:20px;}
.red_circle {background:#ec1c23; width:115px; height:115px; color:#fff; font-size:38px; font-weight:bold; border-radius:50%; text-align:center}
.red_circle span {padding-top:30px; display:block} 
.error_cont {margin:0 0 0 15px; text-align:center}
.error_cont span {display:block; font-size:24px; font-weight:bold}
.cl_here {font-size:20px; color:#939393; text-align:center; padding-top:30px}
.cl_here a {color:#ec1c23; text-decoration:underline}
.cls {clear:both; height:0}
.big_search {margin-top:20px; background:#f0f0f0; padding:10px}
.input_search {background:#fff; border:1px solid #dbdbdb; position:relative}
.search_bt {position:absolute; right:0}
.input_search input {padding:13.5px; border:none; width:88%; font-size:18px; color:#7b7b7b}
.more_bt {float:right; font-size:14px; color:#ec1c23; font-weight:bold; text-transform:uppercase; margin-top:15px; position:relative}
.trend_news ul li img {float:none; padding:0}
.editor_pick ul li h3 a {font-size:18px; color:#202020; font-weight:normal; line-height:25px; display:block; padding:10px 0}
.trend_news .title {border-bottom:0}
.trend_news  ul li {padding:0}
.editor_pick ul li a.text {display:block; margin-bottom:15px}
.editor_pick ul li:first-child{min-height: 50px;}
p.rss_contents { color: #2e2e2e; font-size: 14px; line-height: 24px; padding-top: 10px}
.subjective_things {margin-top:40px}
.subjective_things h4 {font-size:16px; color:#ec1c23; text-transform:uppercase}
.subjective_things ul {list-style:none}
.subjective_things ul li {float:left; padding-top:20px; width:25%; background:url(http://english.pradesh18.com/images/rss.png) no-repeat 0 22px}
.subjective_things ul li a {color:#000; font-size:13px;  padding-left:25px}
.subjective_things ul li a img {vertical-align:middle; padding-right:10px; vertical-align:top; margin-top:3px}
.news_categories {border-bottom:1px solid #dbdbdb; padding-bottom:15px}
ul.app_listing {list-style:none; margin-top:25px}
ul.app_listing li {float:left; background:#f0eeee; width:31%; height:92px; text-align:center; padding:15px 0; margin:0 3.5% 3.5% 0}
ul.app_listing li:nth-child(3), ul.app_listing li:nth-child(6) {margin-right:0}
ul.app_listing li a {color:#ec1c23; font-size:16px; text-transform:uppercase;}
.app_div {margin-top:20px}
ul.app_listing li a.app_text {color:#6b6b6b; font-size:11px; display:block}
.countings {width:87px; height:37px; background:#000; position:absolute; right:30px; font-weight:bold; border-radius:5px 0 0 5px; top:10px; color:#ffca11; font-size:16px; text-align:center; line-height:37px}
.slider_box {position:relative}
.bnow_share_mob {display:none}
ul#recommended_stories li {position:relative}
.l_m_arrow  {display:none}
.big_img_slider {margin-top:0px}
.show_slide {background:#fff; border-bottom: 1px solid #b5b5b5; padding-bottom:15px}
.show_slide p {font-size:18px; color:#2e2e2e!important; line-height: 28px; font-weight: bold; padding:0 0 0 0px!important}
.slider_con span {font-size:14px; color:#0f0f0f; line-height:20px; margin-top:10px; display:block}
.big_img_slider p {color:#fff; padding:10px 15px}
.v_space_top {margin-top:20px}
.bls_pic {display:none}
.blogger_story h2 a {color:#2e2e2e}
.blogger_story p a {color:#2e2e2e}
/*Diganta*/
ul.subs_slider_list {list-style:none; /*position:relative; */} 
ul.subs_slider_list li {margin-right:22px; float:left; padding:5px; margin-left:0}
ul.subs_slider_list li img {border:1px solid #585858; width:120px; height:80px}
ul.subs_slider_list li span img {   width: 20px; height: 10px; border:none} 
.sub_slider ul li a.act {padding: 5px 5px 0 5px; background: #f7f0c2; top: 4px}
.sub_slider ul li a.act span {position: absolute; top: -15px; left: 51px}
.sub_slider ul li a {display: block; position: relative; top: 7px}
.sub_slider {padding:15px 25px; background:#000; border-top:1px solid #353535; position:relative}
ul#pnv li .intro {height:80px; overflow:hidden}
/*End Diganta CSS*/
/*Map CSS*/
ul.ind_news {margin:0}
ul.ind_news li {float: none; list-style: disc; margin-left: 17px; padding-top:15px; background:none; font-weight:bold; font-size:13px}
ul.ind_news li a {font-weight:bold; padding-left:0}
ul.subnews {margin-left:18px; list-style:none}
ul.subnews li {background:url(../images/ar_arrow.png) no-repeat  0 28px; width:33%}
ul.subnews li a {padding-left:20px}
.ind_box {margin-top:20px; padding-bottom:20px}
ul.show_player li {float:none}
.img_box {margin: 0 auto; max-width: 750px}
.wh_l_arrow {left: -15px; position: absolute; top: 45px; z-index: 99999}
.sjps {top:10px!important}
/* Navrati css*/
.navrat{background:#ec8c28; height:43px; margin-top:5px;}
.navrat img { vertical-align:middle;}
/* Navrati css*/
/*inner css by bhola*/


#searchForm .btitle h1 {line-height: 20px; width: 335px;}


/*sprite*/
.sprite_img{background:url(../images/sprite_img.png?v=1) no-repeat 0 0; display:inline-block}
.logo{background-position:-4px -4px; width:150px; height:38px; padding-right:10px; border-right:1px solid #bcbcbc; margin-right:10px}
.etv_logo{background-position:-165px -4px; width:38px; height:38px}
.lenglish{background-position:-4px -47px; width:44px; height:9px}
.lenglish.act{background-position:-4px -67px; width:44px; height:9px}
.lhindi{background-position:-56px -47px; width:22px; height:13px}
.lhindi.act{background-position:-56px -67px; width:22px; height:13px}
.lgujrati{background-position:-88px -47px; width:42px; height:15px}
.lgujrati.act{background-position:-88px -67px; width:42px; height:15px}
.lurdu{background-position:-137px -47px; width:20px; height:11px}
.lurdu.act{background-position:-137px -67px; width:20px; height:11px}
.lconod{background-position:-168px -47px; width:34px; height:10px}
.lconod.act{background-position:-168px -67px; width:34px; height:10px}
.mlenglish{background-position:-17px -527px; width:44px; height:9px}
.mlhindi{background-position:-68px -527px; width:22px; height:13px}
.mlgujrati{background-position:-101px -527px; width:42px; height:15px}
.mlurdu{background-position:-150px -527px; width:20px; height:11px}
.mlconod{background-position:-180px -527px; width:34px; height:10px}
.rss_icon{background-position:-212px -47px; width:32px; height:34px}
.app_icon{background-position:-254px -47px; width:36px; height:32px}
.iphone_icon{background-position:-300px -47px; width:29px; height:34px}
.android_picon{background-position:-336px -47px; width:30px; height:34px}
.ipad_icon{background-position:-321px -4px; width:29px; height:33px}
.android_ticon{background-position:-364px -4px; width:28px; height:33px}
.twitter_icon{background-position:-268px -4px; width:40px; height:32px}
.facebook_icon{background-position:-375px -47px; width:17px; height:33px}
.slogo{background-position:-4px -92px; width:109px; height:26px; margin-bottom:6px}
.pancke{background-position:-124px -92px; width:51px; height:43px; position:absolute; top:0px; left:0}
.ficon{background-position:-212px -4px; width:10px; height:20px}
.ticon{background-position:-231px -4px; width:21px; height:17px; margin:0 0 0 16px}
.wicon{background-position:-183px -92px; width:30px; height:31px; vertical-align:middle}
.setting_icon{background-position:-190px -92px; width:12px; height:12px; margin-top:4px}
.close{background-position:-189px -108px; width:14px; height:12px; margin-top:4px}
.map_icon{background-position:-189px -124px; width:12px; height:12px; position:absolute; top:6px; left:6px}
.ok_btn{background-position:-213px -92px; width:38px; height:21px; margin-right:8px}
.cancl_btn{background-position:-213px -118px; width:58px; height:21px}
.search_icon{background-position:-4px -130px; width:38px; height:40px; position:absolute; top:0; right:0}
.news_icon{background-position:-287px -92px; width:15px; height:10px}
.photo_icon{background-position:-317px -92px; width:14px; height:12px}
.video_icon{background-position:-340px -92px; width:10px; height:10px}
.livetv_icon{background-position:-363px -92px; width:14px; height:12px}
.topic_icon{background-position:-286px -110px; width:13px; height:14px}
.blog_icon{background-position:-363px -110px; width:13px; height:13px}
.show_icon{background-position:-316px -110px; width:13px; height:15px}
.weather_icon{background-position:-340px -110px; width:15px; height:11px}
.twite_icon{background-position:-258px -90px; width:20px; height:16px}
.smsicon{background-position:-55px -143px}
.prnticon{background-position:-99px -143px}
.twiticon{background-position:-143px -143px}
.fbicon{background-position:-186px -143px}
.inicon{background-position:-230px -143px}
.gplsicon{background-position:-273px -143px}
.redit_icon{background-position:-4px -185px}
.stumbleicon{background-position:-50px -185px}
.flipboard_icon{background-position:-95px -185px}
.moreicon{background-position:-360px -143px; margin-top:4px}
.more_icon{background-position:-382px -92px; width:13px; height:48px; position:absolute; top:8px; right:8px}
.article_pvrarrow{background-position:-138px -185px; width:20px; height:37px; position:absolute; top:15px; left:8px}
.article_nxtarrow{background-position:-170px -185px; width:20px; height:37px; position:absolute; top:15px; right:8px}
.photoicon{background-position:-318px -143px; width:37px; height:36px; position:absolute; top:10px; left:10px}
#recommended_stories .photoicon {top:30px; left:30px}
#recommended_stories .vd_icons {top:30px; left:30px}
.videoicon{background-position:-208px -185px; width:37px; height:36px; position:absolute; top:10px; left:10px}
.cphoto_icon{background-position:-318px -143px; width:37px; height:36px; position:absolute; top:38px; left:52px}
.cvideo_icon{background-position:-208px -185px; width:37px; height:36px; position:absolute; top:38px; left:52px}
.t10_larrow{background-position:-253px -187px; width:26px; height:35px; position:absolute; top:30px; left:86px}
.t10_larrow.blarrow{left:-15px; top:35px}
.t10_rarrow{background-position:-286px -187px; width:26px; height:35px; position:absolute; top:30px; right:-5px}
.t10_rarrow.brarrow{right:-15px; top:35px}
.t10_larrow.cod_larrow{top:50%; left:-7px}
.t10_rarrow.cod_rarrow{top:50%; right:-7px}
.t10_larrow.cArrow{top:35%; left:-7px}
.t10_rarrow.cArrow{top:35%; right:-7px}

.gry_larrow{background-position:-324px -187px; width:20px; height:20px}
.gry_larrow.glarrow{position:absolute; left:0; top:10px}
.gry_rarrow.grarrow{position:absolute; right:0; top:10px}
.gry_rarrow.city_rarrow{position:absolute; right:6px; top:6px}
.gry_rarrow.sec_arrow{position:absolute; right:4px; top:5px; border-bottom:0; margin:0}
.gry_rarrow{background-position:-350px -187px; width:20px; height:20px}
.sbloger{background-position:-5px -230px; width:146px; height:38px; line-height:36px; font-size:14px; color:#424242; padding-left:34px}
.submit_button{background-position:-194px -232px; width:102px; height:34px; margin-top:10px}
.aries_icon{background-position:-4px -270px}
.taurus_icon{background-position:-70px -270px}
.gemini_icon{background-position:-135px -270px}
.cancer_icon{background-position:-200px -270px}
.leo_icon{background-position:-264px -270px}
.virgo_icon{background-position:-331px -270px}
.libra_icon{background-position:-4px -336px}
.scorpio_icon{background-position:-70px -336px}
.sagittarius_icon{background-position:-135px -336px}
.capricorn_icon{background-position:-200px -336px}
.aquarius_icon{background-position:-265px -336px}
.pisces_icon{background-position:-331px -336px}
.astro_arrow{background-position:-378px -187px}
.vdo_bicon{background-position:-4px -402px; width:85px; height:95px; position:absolute; top:35%; left:45%}
.search_img{background-position:-92px -402px; width:38px; height:40px; position:absolute; top:-1px; right:0}
.ltv_icon{background-position:-306px -231px; width:18px; height:13px; margin-right:8px; vertical-align:middle}
.filter_arrow{background-position:-137px -402px; width:12px; height:7px; position:absolute; top:10px; right:6px}
.filterarrow{background-position:-204px -507px; width:7px; height:7px; cursor:pointer}

.jupm_arrow{background-position:-138px -414px; width:14px; height:8px; position:absolute; top:13px; right:6px}
.jupm_arrow.city_arrow{top:8px}
.location_icon{background-position:-330px -231px; width:14px; height:20px; position:absolute; top:9px; left:8px}
.location_arrow{background-position:-350px -231px; width:10px; height:6px; position:absolute; top:16px; right:10px}
.location_uparrow{background-position:-350px -241px; width:10px; height:6px; position:absolute; top:16px; right:10px}
.bloger_icon{background-position:-366px -231px; width:17px; height:14px; position:absolute; top:8px; left:10px}
.pnv_larrow{background-position:-157px -403px; width:39px; height:43px; position:absolute; top:40%; left:-14px; z-index:2}
.pnv_rarrow{background-position:-195px -403px; width:39px; height:43px; position:absolute; top:40%; right:-11px; z-index:2}
.cricket_icon{background-position:-247px -403px; width:22px; height:37px; margin-right:10px}
.cricket_icon.pcimg{position:absolute; top:40px; left:10px}
.live_cimg{background-position:-354px -396px; width:37px; height:95px; position:absolute; top:4px; right:4px}
.lc_close{background-position:-277px -403px; width:18px; height:17px; position:absolute; top:6px; right:6px}
.lc_rarrow{background-position:-299px -402px; width:10px; height:16px; position:absolute; top:52px; right:10px}
.lc_larrow{background-position:-299px -423px; width:10px; height:16px; position:absolute; top:52px; left:45px}
.mnav_links{background-position:-321px -396px; width:26px; height:5px; display:none; position:relative; top:18px}
.tsearch_icon{background-position:-92px -452px; width:21px; height:21px}
.psgo_btn{background-position:-314px -405px; width:38px; height:40px; position:absolute; right:5px; top:3px}
.crcket_icon{background-position:-123px -452px; width:12px; height:18px; vertical-align:middle}
.mn18_logo{background-position:-143px -451px; width:25px; height:24px}
.mpradesh_logo{background-position:-175px -451px; width:98px; height:26px; padding-right:9px; border-right:1px solid #bcbcbc}
.language_btn{background-position:-282px -451px; width:24px; height:23px}
.mlanguage_btn{background-position:-282px -487px; width:24px; height:23px; margin-right:10px; vertical-align:middle}
.act_language{background-position:-256px -487px; width:12px; height:10px; position:absolute; top:15px; right:10px}
.menu_btn{background-position:-314px -451px; width:27px; height:25px}
.live_tvimg{background-position:-315px -487px; width:29px; height:23px}
.close_img{background-position:-202px -485px; width:13px; height:13px; position:absolute; top:14px; left:10px}
.bp18_logo{background-position:-92px -485px; width:99px; height:27px; padding-right:8px; margin-right:8px; border-right:1px solid #4d4d4d}
.cuparrow{background-position:-222px -485px; width:12px; height:6px; position:absolute; top:17px; right:10px}
.cdwnarrow{background-position:-239px -486px; width:12px; height:6px; position:absolute; top:17px; right:10px}
.sh_p18{background-position:-223px -520px; width:120px; height:30px; border-right:1px solid #bcbcbc; padding-left:8px; margin-right:4px}
.sh_etv{background-position:-351px -520px; width:30px; height:30px}
.whatsap_icon{background-position:-3px -546px; width:35px; height:35px}
.comment_arrow{background-position:-353px -497px; width:14px; height:12px; vertical-align:middle}
.cs_carrow{background-position:-219px -505px; width:8px; height:7px; vertical-align:middle; margin-left:5px}
.news_sicon{background-position:-237px -504px; width:15px; height:15px; vertical-align:middle}
/*sprite*/

/*--Bugdet Banner--*/
.lt_budget{ border:1px solid #b6b6b6; position:relative; height:49px; margin:0 auto; width:1000px; margin-bottom:10px;background:white;text-align: center;margin-top: 5px;}
ul.sponser_logo { float:left; list-style:none;}
ul.sponser_logo li { float:left; padding:3px 30px 0 30px; margin-left:30px; border-right:1px solid #d8d8d8;}
.sponser_logo a{ float:left; color:#6d6d6d; margin-right:10px;}
.sponser_logo span{ font-size:9px; display:block; text-transform:uppercase; color:#6d6d6d;}
ul.sponser_logo li.none{ border:none;}
/*--Bugdet Banner--*/
/*videos small icon */
span.video_icon_ss {
    background: url(http://static.ibnlive.in.com/pix/ibnhome/news18/video-ss.png) no-repeat;
    position: relative;
    top: -1px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
a:hover span.video_icon_ss {
    background: url(http://static.ibnlive.in.com/pix/ibnhome/news18/video-ss-hover.png) no-repeat;
    position: relative;
    top: -1px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
/*videos small icon */
/*videos Large icon */
.video_icon_big { 
	background:url(http://static.ibnlive.in.com/pix/ibnhome/news18/video-icon.png) no-repeat; 
	position:absolute;  
	top:40%; 
	left:43%;
	width:85px; 
	height:86px;
}
.video_icon_big:hover { 
	background:url(http://static.ibnlive.in.com/pix/ibnhome/news18/video-icon-hover.png) no-repeat; 
	position:absolute;  
	top:40%; 
	left:43%; 
	width:85px; 
	height:86px;
}
/*videos Large icon */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.popup_search .psbox input{line-height:24px}
#b_banner{display:none}
}


@media screen and (max-width:1238px){
	.contener{max-width:989px}
	.language a{margin-right:15px}
	#left.left_box, .left.left_box, #left, .left{width:674px}
	#local_news{max-width:642px}
	.tanding{max-width:300px}
	.tanding .tinner{padding-right:15px}
	.local_links{width:558px}
	.poll, .astro_box{width:300px}
	.vgallery ul.vlisting, .vgallery .vlbox{float:none; max-width:100%; box-sizing:100%}
	.vgallery ul.vlisting li{float:left; width:48%; margin-right:2%}
	.vgallery ul.vlisting li:first-child{padding-top:15px}
	.footer_top ul li{padding-right:86px}
	.footer_mid ul li{padding:0 33px}
	ul.pvs_box li p{font-size:14px; padding:8px}
	.top_storys ul li:last-child, .rhs_search, ul.nav li:nth-child(n+6), .vgallery ul.vlisting li:nth-child(5), a.article_arrow{display:none}
	ul.nav li:last-child, .lead_story .ext_story, .tsearch_box, .mnav_links, .search_box .rhs_search{display:block}	
	.vgallery ul.vlisting .more{position:relative; top:8px}
	.ltv_box{margin-top:0}
	ul.story_share_box li{padding:0 14px}
	.top_storys ul li{padding:11px 0}
	.weather_hoverbox {right:0}
	.vgallery .vlbox p {border-bottom:1px solid #DBDBDB; padding-bottom:10px}
	.footer_mid ul li {padding:0px 40px; height:235px}
	#recommended_videos .vdo_bicon {top:25%; left:35%}
	.btitle {padding:30px 0px 14px}
	.btitle .jump_to {top:25px}
	ul#cagetory li:first-child img{width:240px}
	ul#related_story li {padding: 0px 5px}
	ul#related_story p {min-height:80px}
	ul#pnv li .intro.show {height:145px}
	.article_box h1 {font-size:26px; line-height:32px}
	.local_links.wauto{width:520px; padding-right:0}
	ul#recommended_stories li {min-height:80px}
	
	.error_cont {width:514px}
	.cl_here {font-size:16px; padding-top:15px}
	.blog_contents {padding:10px; margin-left:10px; width:86%}
	ul#pnv li .intro {height:100px}
	.l_arrow {top:200px}
	.r_arrow {top:200px}
	.subjective_things ul li {width:33%}
	ul.app_listing li a {font-size:12px}
	.show_slide p  {font-size:26px; line-height:32px}
	.top_storys.state_tstory {min-height: inherit;}
	.bnow_shre .bnbox{width:210px;}

}

@media screen and (max-width:1000px){
	.top_banner, #right, .live_cricketpup, .footer_top, .footer_mid, ul.nav li:nth-child(n+3), .editor_pick ul li:last-child{display:none}	
	#left.left_box, .left.left_box, #local_news, #left, .left{width:100%; float:none}
	.contener{max-width:100%}
	ul.lnews_box.city_news{width:43%}
	ul.local_news li{width:48%}
	#mid{padding:10px; box-sizing:border-box}
	header{padding:0 10px}
	nav .inner_nav{padding:0 10px; box-sizing:border-box}
	.pancke{left:10px}
	.share_box{right:10px}
	.language{position:absolute; top:-2px; left:230px}
	.poll{width:43%}
	.astro_box{width:47%}
	.footer_top, .footer_mid{padding:0 10px}
	.epn_coday, ul.nav li:last-child{display:block}
	.live_cntbox{display:block; position:absolute; top:18px; right:20px}
	.live_cntbox .ltnc{padding-left:20px; font-size:13px; text-transform:uppercase}
	.live_cntbox .ltnc a{color:#323232}
	.live_cntbox .ltnc a span{margin-right:2px}
	.tanding .tinner{border-right:none; padding-right:0}
	.tanding h2{margin-right:0}
	.tanding .tinner ul li img{float:left; padding-right:15px; width:195px}
	#local_news{margin-top:15px; background:#fff; padding:5px 15px 15px; box-sizing:border-box; max-width:100%}
	#tranding_lnews{background:none; padding:0}
	.tanding{max-width:100%; background:#fff; padding:15px; float:none; box-sizing:border-box}
	.state_ddown{width:100%; left:0; box-sizing:border-box}
	.state_ddown ul.sleft_box {width:177px}
	.local_links.wauto{width:510px; padding-right:0}
	.editor_pick {height:450px}
	.weather_hoverbox {right:10px}
	ul.nav li {padding-left:20px}
	.blog_contents {padding:10px; margin-left:10px; width:87.5%}
	.bnow_shre .bnbox{width:240px;}
	#searchForm .btitle h1 {width: 248px;}
	.lt_budget{display:none;}
}
	
@media screen and (max-width:765px){
	.lead_story, .top_storys, ul.pvs_box li{width:100%; box-sizing:border-box}
	ul.pvs_box li{padding:10px 0 15px 0; border-bottom:1px solid #dbdbdb}	
	ul.pvs_box li img{float:left; width:90px; padding:5px 10px 5px 0;}
	ul.pvs_box li p{position:relative; font-size:14px; line-height:20px; text-shadow:none; background:none; border:none; top:-0px;padding: 0;}
	ul.pvs_box li p a{color:#000}
	ul.pvs_box{margin-top:0; background:#fff}
	.top_storys, ul.pvs_box, .section_widget ul li{padding:0 10px}
	.mobile_hdr, .dnt_hed, ul.madd_nav, .mcricket_widget, ul.dnav li:last-child, ul.dnav li:first-child, .top_storys ul li:last-child, .rhs_search, ul.nav li:nth-child(n+6), .vgallery ul.vlisting li:nth-child(5), .citynstate, .top_storys ul li:last-child, .rhs_search, ul.nav li:nth-child(n+6), .vgallery ul.vlisting li:nth-child(5), .citynstate, .mobile_ad{display:block}
	
	ul.story_share_box li.wapp{display:inline;}
	
	.lead_story .ext_story, .bhiddn, .city_box, ul.local_news, .select_bloger, header, .local_links.wauto, .jump_to, .pagenation a:nth-child(4), 
	.pagenation a:nth-child(5), .pagenation a:nth-child(6), .pagenation a:nth-child(7), .pagenation a:nth-child(8), .pagenation a:nth-child(9), 
	.pagenation a:nth-child(10), .local_links .linner ul li:first-child, ul.story_share_box li:nth-child(n+5), .t10_larrow, .t10_rarrow, .pnv_larrow, 
	.pnv_rarrow, .share_box,ul.nav, .pancke, .state_nav, .state_ddown, .tsearch_box, .gray_box span, ul#cagetory li p, .mobile_mbox{display:none}
	.poll, .astro_box{width:100%; box-sizing:border-box; float:none}
	
	.astro_box{margin-top:15px}
	.section_widget ul li{width:100%; box-sizing:border-box; margin:0 0 15px}
	.section_widget ul li a.bstory img{float:left; padding-right:15px; width:90px; margin-top:5px;min-height:64px}
	.vgallery ul.vlisting li{width:100%; float:none; margin-right:0}
	#mid{padding:51px 0 0 0}
	.epn_mbox{float:none; width:100%; box-sizing:border-box; margin-bottom:15px}
	ul.lnews_box.city_news{width:100%; display:block; box-sizing:border-box; padding-top:5px}
	.cbox{display: block}
	ul.lnews_box li img{width:90px}
	.pgallery ul{width:300%;padding-bottom: 20px;}
	.pgallery ul li{width:30%}
	ul.blisting{width:500%}
	.title{float:none; margin:0 10px}
	.local_links{padding-top:6px; width:100%}
	.lntbox{height:32px}
	.gry_larrow.glarrow, .gry_rarrow.grarrow{top:6px}
	.local_links .linner{margin:-3px 30px 0}
	.local_links .linner ul li{padding:4px 20px}
	.nav_dropdown{top:0px; width:100%; box-sizing:border-box; z-index:10}
	.top_10 .t10_inner .outer_box ul{width:600%}
	.top_10 .t10_inner{background:none; padding:0 20px}
	.top_10{background:#fff}
	.t10_larrow{left:-10px}
	.top_10 h2{background:#ec1c23; padding:4px 10px; font-size:14px; color:#fff; text-transform:uppercase; display:block}
	.live_cwidget .lcinner{width:auto; box-sizing:border-box}
	.photoicon, .videoicon{left:27px; top:27px}
	.stete_mbox{padding:10px}
	#left, .left, .state_left{padding:0px}
	.brad_crum, .btitle.bnon{padding:10px}
	ul.lnews_box li{width:100%; box-sizing:border-box; float:none; min-height:90px}
	.stete_mbox .editor_pick, .stete_mbox .marketing{padding:0}
	.section_widget ul li a.more{padding-bottom:0}
	.section_widget ul li{padding-bottom:10px; padding-top:10px}
	ul#cagetory li{margin:0 10px}
	ul#cagetory li:first-child{margin:0}
	ul#cagetory li p, ul#cagetory li h1, ul#cagetory li span{padding:2px 10px}
	ul#cagetory li h2{font-size:14px; line-height:20px; font-weight:normal;padding:0 10px;}
	ul#cagetory li span{padding-left:0}
	ul#cagetory li:first-child span{padding-left:10px; display:block; padding-top:8px}
	ul#cagetory li:first-child img{float:none; padding:0; width:100%}
	.filter_box{position:absolute; right:10px}
	.btitle{padding:20px 0 14px 10px}
	.filter_box .filter{font-size:15px; position:relative; top:-14px}
	ul#cagetory li:first-child{padding-top:0}
	ul#pnv li{width:100%; box-sizing:border-box; margin:0 0 15px; float:none; background:none; border-bottom:1px solid #f0eeee;}
	ul.story_share_box, .bnow_shre .bnbox{float:none}
	 .bnow_shre .bnbox{height:56px}
	 ul.story_share_box{border-top:1px solid #dbdbdb; padding-top:12px}
	 .btitle.pbottom{padding:10px}
	 .search_box{float:none; width:98%; box-sizing:border-box; margin-top:15px}
	 .btitle h1, .btitle h2{float:none}
	 .brad_crum{margin:5px 10px 10px; padding:10px 0 5px}
	 .btitle h2.mtop{margin-top:8px}
	 .search_text{padding-left:10px}
	 .article_box h1{font-size:18px; line-height:24px; padding:0 10px}
	 .also_read, ul#recommended_stories, ul#recommended_photos, ul#recommended_videos, .story_update{margin:0 10px}
	 ul#related_story{padding:0 10px}
	 .article_box p{padding:0px 10px 15px 10px; line-height:30px}
	 .article_box p img{width:100%}
	 .tag_txt{padding:20px 10px 0}
	 ul#related_story li, ul#recommended_photos li{float:none; border-bottom:1px solid #dbdbdb; width:100%; box-sizing:border-box; padding:10px 0 15px 0; height:96px}
	 ul#related_story li img, ul#recommended_photos li img{float:left; width:90px; padding:5px 10px 5px 0}
	 ul#related_story p{background:#fff}
	 ul#recommended_stories li{width:100%; box-sizing:border-box; float:none; height:auto}
	 .ptop{padding-top:20px}
	 .title.bnon{border-bottom:1px solid #dbdbdb}
	 ul#recommended_videos li{width:100%; box-sizing:border-box; padding-bottom:20px}
	 ul#recommended_videos li a{font-size:14px}
	 ul#recommended_photos{border-bottom:none; padding-bottom:0}
	 ul.story_share_box li:nth-child(4){border-right:none}
	 .tag_txt a{margin-bottom:10px}
	 .article_box .img_tagbox{padding-top:0}
	 
	 .also_read{margin-top:20px}
	 .also_read .title{margin:0; border-bottom:1px solid #c0c0c0}
	 .view_comment{float:none; padding-top:10px; text-align:center}
	 .sharebtm_box{border-top:none}
	 ul#related_story p{padding:0; margin-top:0}
	 ul#recommended_stories li:nth-child(even){float:none}
	 ul.lnews_box.city_news li{height:90px}
	 .lntbox{border-bottom:none}
	 #local_news .title.bnon{margin:0 0 10px; padding-bottom:4px}
	 #local_news, .tanding, .vgallery, .editor_pick, .marketing{padding:10px}
	 .tanding .tinner ul li img{width:100%; float:none}
	 .section_widget ul li .title, .editor_pick .title, .marketing .title{margin:0}
	 .vgallery ul.vlisting .more{padding-bottom:10px}
	 .content_box{padding:10px}
	 nav .inner_nav{padding:0}
	 .top_10 .t10_inner .outer_box{margin-right:0; overflow-x: scroll; -webkit-overflow-scrolling: touch}
	 .top_10 .t10_inner{padding:0}
	 .over_hdn{overflow-x: scroll; -webkit-overflow-scrolling: touch}
	 .astro_box .alistin_box{padding:15px 10px 0}
	 #blog_widget{padding-bottom:10px}
	 /*ul.blisting li{padding-left:0}*/
	 .top_10 .t10_inner .outer_box ul li{width:272px}
	 #blog_widget, .title, .poll, .astro_box .title, .astro_box .title, .pgallery .title, .vgallery title{margin:0}
	 .top_10{padding:10px}
	 ul#cagetory li img{width:90px}
	 nav{position:fixed; width:100%;z-index:14}
	 .top_storys.state_tstory{padding:10px 10px 0 10px}

	.lead_story {background:#fff;margin-top: -10px;}
	ul.pvs_box li:last-child, .editor_pick ul li:last-child  {}
	.section_widget ul li:last-child{margin-bottom:0}
	.editor_pick {height:auto}
	.lead_story figure h1{font-size: 14px; line-height: 20px; padding: 5px 10px;}
	#blog_widget.show_widget ul li img{margin-top:5px; width:90px}
	.section_widget.state_sw {padding-top: 20px;}
	.vdo_bicon{left:35%;top:20%}
	.vgallery ul.vlisting li{min-height:65px}
	.vgallery ul.vlisting .more{top:0}
	.editor_pick ul li img{width:90px;padding-top:5px}
	.alert_box{height:30px;padding-left: 60px;}
	.alert_box span{width:60px; line-height:30px; font-size:13px;}
	.alert_box ul li{line-height:30px;font-size:13px;}
	#localSectionState ul.lnews_box li{margin-right:0; min-height:95px}
	.cnsname{background:#f1f1f1; padding:6px 12px; font-size:11px; display:block; margin:0 8px; display:inline-block}
	.citynstate{text-align:right; padding-top:8px}
	.cnsname a{color:#000}
	.city_search.wpbox{width:52%}
	div.sharebtm_box + h2, ul#recommended_photos + h2, ul#recommended_stories + h2, ul#related_story + h2, .article_box + h2{margin-left:10px}
	
	ul#pnv {padding-top: 5px;}
	ul#pnv li .photoicon, ul#pnv li .videoicon { left: 10px; top: 10px;}
	.bnow_shre{ margin: 0 10px 20px;}
	ul#pnv li .intro.show{height:auto}
	ul#pnv li .intro .show_heading span.headings{font-size:14px;}
	ul#pnv li .intro span{padding-bottom:0}
	ul#recommended_stories li img{margin-top:5px; width:90px;}
	ul#recommended_stories li{padding:10px 0 15px 0; min-height:100px}
	.story_update{line-height: 18px; padding: 3px 0;}
	.bnow_shre .bnbox img{ height: 40px; width: 40px;}
	ul.story_share_box li{padding:0 17px}
	ul#recommended_photos li p{padding-top:0px}
	ul#recommended_photos li .photoicon{left: 27px; top:28px;}
	#photosSlider li .photoicon {left: 10px; top: 10px;}
	/*#stateShowSlider > li:first-child {  padding-left: 0;}*/
	.section_widget ul li:first-child a { padding: 10px 0 15px}
	#blog_widget .bloger_listing{padding:15px 0}
	ul#cagetory li h1, ul#cagetory li:first-child h2{font-size: 18px;font-weight: bold; line-height: 24px; padding:6px 10px}
	.btitle .jump_to.select_blogers{display:block;top:-10px}
	.weather_hoverbox.weather_box{margin:0 10px}
	.btitle.wthh2{margin:0 10px; padding:20px 0 14px}
	.nav_dropdown{position:fixed}
	.top_storys{min-height:inherit}
	.state_left{margin-top:5px}
	.jump_to.sjbox{display:block}
	#b_banner, .lt_budget{display:none}


	
/*inner css by bhola*/
.slider_contents {display:none}
	.dis {display:none}
	.fl_box .filter {background:none; width:auto; padding-left:5px;}
	.fl_box .filter a {color:#ec1c23; text-transform:uppercase}
	.fl_box .filter img {vertical-align:middle; margin-left:5px;}
	.fl_box .filter span {border-bottom:1px solid #ec1c23}
	.b_box h1 {font-size:18px; line-height:24px;}
	.b_box .story_update {margin-left:10px}
	.countings {height:auto; line-height:25px; right:0; width:55px; font-size:12px}
	.r_arrow {top:90px; display:block; right:-6px}
	.l_arrow {top:90px; display:block; left:-6px}
	.main_sliders {margin:0}
	ul.big_img_slider li p {color:#fff; padding-top:0; line-height:20px}
	.view_all {float:none; text-align:center}
	.show_slide {display:block; border-bottom:none; padding-bottom:0}
	.show_slide .slider_con p {color:#2e2e2e; font-size:16px; line-height:20px; width:300px; font-weight:normal; margin-left:10px;}
	.slider_con span {margin-left:10px; width:300px; font-size:12px}
	ul.upnext_listing li {margin:2px 0 0 0; text-align:left; width:99%; float:none}
	ul.upnext_listing {margin:10px}
	.liv_viewall {display:none}
	.khabr_news {font-size:11px}
	.et_logo {padding:0 10px; }
	.btitle h1, .btitle h2 {font-size:20px; line-height:15px}
	/*blog*/
	.tweets {float:none; display:block}
	a.bl_col {float:none; padding:5px 0; font-size:12px; display:block}
	.bls_pic {display:block!important; margin-right:10px}
	.bls_pic img{height: 40px; width: 40px}
	.blogger_story span {display:none}
	.blog_contents .st_share {display:none}
	.blogger_story h2 {padding:0; font-size: 18px; line-height: 22px}
	.blogger_story p {margin-top:5px; line-height: 20px}
	.blog_contents {margin:0; border:none; width:auto; float:none; padding-top:0}
	.bl_title {margin:0 10px; padding-left:0}
	.jsto {display:block!important}
	.bloggers {margin:15px 0}
	.bl_storys span {display:block; line-height:18px}
	a.twt {top:4px}
	.blo_title h1 {font-size:20px; line-height:20px; float:left;margin-top:10px}
	.blo_title {margin:0px 10px; padding-left:0}
	.subjective_things ul li {float:none}
	.news_categories {margin:0 10px}
	p.rss_contents {margin:0 10px}
	.red_circle {width:75px; height:75px; float:none; line-height:20px; margin:0 auto; font-size:24px}
	.error_p {text-align:center}
	.error_cont span {font-size:18px}
	.error_cont {margin:0; padding:10px 10px 0 10px} 
	.cl_here {font-size:14px; padding-top:5px}
	.input_search input {font-size:14px; padding:0}
	.input_search {height:35px; line-height:35px}
	.input_search img{width:35px;height:35px}
	.cl_here a {font-size:14px}
	.bl_title2 h1 {font-size:20px; line-height:16px; margin-left:0}
	.bl_title2 {margin:0 15px 0 10px; padding-left:0}
	.lt_heading {margin:0 10px; padding-left:0}
	ul.app_listing li {width:93%; margin:0 10px 10px; float:none; height:auto}	
	.vul {display:none}
	ul.subnews li {float:none}
	/*cricket*/
	.recentM {top:-33px; right:0}
	#scr_info ul li h4 {font-size:11px!important}
	#scr_info ul li {padding:0 5px}
	#scr_info ul li:first-child {font-size:20px}
	.fst_table table tr th {font-size:12px}
	.sjps {right:-8px; top:6px!important; display:block}
	.etv_list h1 {line-height:20px!important; width:225px;}
	#ltvcontainer #embdedcodelivetv {width:100%}
	ul#pnv li .intro{height:auto}
	.etv_list {padding-left:10px}
	.khabr_news span.t1 {padding:0 5px 0 0}
	.khabr_news span.t2 {padding:0 0 0 5px}
	ul#pnv li .intro .show_heading span.etv_net{padding:5px 0}
	.filter_ddown{right:-10px;top:16px}
	.blog_pic {display:none}
	.bloggers {margin:10px 0 30px 0}
	.bloggers .img_tagbox {padding:10px 0}
	.error_cont {width:100%; box-sizing:border-box}
	.big_box  {margin-top:20px}
	.big_box h2 {margin-left:10px}
	.more_bt {margin:5px 10px 0 0}
	ul#recommended_photos li p{padding-top:0}
	.subjective_things ul li {width:auto}
	.etv_title .city_click { display:block; top:-20px!important; right:10px;}
	.etv_list h1{ width:207px;margin-top:5px}
	.slider_box {overflow:hidden}
	.poll{height:auto}
	.section_widget ul li:first-child{padding:10px 10px 0 10px} 
	.section_widget ul li a.bstory{min-height:64px}
	#searchForm .btitle h1 {width: auto;}
	.view_comment{font-size:13px; text-transform:uppercase;padding-top:20px}
	.mobile_ad{position:fixed; bottom:0; left:0; width:100%}
/*inner css by bhola*/
	/*---Trending Topics---*/
	.trending_bt{ position:fixed; right:10px; bottom:50px; z-index:9999; display:block;}
	.newsbox_div{ position:relative;}
	.trending_box{ width:70%; margin:0 10% 0 14.5%;  background:#ab060b url(../images/red_bg.jpg) repeat-x; position:fixed; top:15%; z-index:222;}
	.trending_box h2 { color:#fff; font-size:12px; padding:8px;}
	.trans {background-color: rgba(0, 0, 0, 0.7); width:100%; height:5300px; position:absolute; top:0; left:0; z-index:99;}
	.close_bt{ position:absolute; right:8px; top:8px;}
	ul.tending_listing{ background:#fff; list-style:none; margin:1px;}
	ul.tending_listing li { font-size:12px; padding:15px 8px; border-bottom:1px solid #bebebe;}
	ul.tending_listing li a { color:#323232;}
	.trans { display:none;}
	.jump_to.lncity{display:block;}
	.quote-box p { padding:0 10px}
	.quote-box img {width:50px}
	.mal-arrow{background:url(http://static.hindi.pradesh18.com/pix/images/mob-art-left-arrow.png) no-repeat 0 0; left:0}
	.mar-arrow{background:url(http://static.hindi.pradesh18.com/pix/images/mob-art-right-arrow.png) no-repeat 0 0; right:0}
	.ma-arrow{display:none; position:fixed; top:46%;  width:30px; height:47px; z-index:99}
}