@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src:
		local('Source Sans Pro ExtraLight'),
		local('SourceSansPro-ExtraLight'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot */
		url('Source_Sans_Pro_200.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff */
		url('Source_Sans_Pro_200.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEMbjGELOEJD5J8DUmxkO-A.ttf */
		url('Source_Sans_Pro_200.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGFuXahqWP-sUHr1s2YHnD8g#SourceSansPro */
		url('Source_Sans_Pro_200.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro'),
		local('SourceSansPro-Regular'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot */
		url('Source_Sans_Pro_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff */
		url('Source_Sans_Pro_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf */
		url('Source_Sans_Pro_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM#SourceSansPro */
		url('Source_Sans_Pro_400.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Sans Pro Semibold'),
		local('SourceSansPro-Semibold'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot */
		url('Source_Sans_Pro_600.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff */
		url('Source_Sans_Pro_600.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf */
		url('Source_Sans_Pro_600.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGN6ADpNrYTvKq5lsv8A_aYs#SourceSansPro */
		url('Source_Sans_Pro_600.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src:
		local('Source Sans Pro Black'),
		local('SourceSansPro-Black'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot */
		url('Source_Sans_Pro_900.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff */
		url('Source_Sans_Pro_900.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBPPOa1q11iOmmM9mDHHHX4.ttf */
		url('Source_Sans_Pro_900.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGEJ5fyyk7hbwuQs1ayp3rqc#SourceSansPro */
		url('Source_Sans_Pro_900.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	src:
		local('Source Sans Pro ExtraLight Italic'),
		local('SourceSansPro-ExtraLightIt'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6CPAIRw3TZpZEbtNzDM7Nlo.eot */
		url('Source_Sans_Pro_200italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PwwJPUC4r0o28cUCbhjOjM.woff */
		url('Source_Sans_Pro_200italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6BzYcsdbdSWRnnT3pSZS3xU.ttf */
		url('Source_Sans_Pro_200italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=fpTVHK8qsXbIeTHTrnQH6NokrLcNl3mmy2MgPnfEsB0#SourceSansPro */
		url('Source_Sans_Pro_200italic.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src:
		local('Source Sans Pro Italic'),
		local('SourceSansPro-It'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM04EkD-uilk0_oIxFXvMtLk.eot */
		url('Source_Sans_Pro_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff */
		url('Source_Sans_Pro_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM0DauxaEVho0aInXGvhmB4k.ttf */
		url('Source_Sans_Pro_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=M2Jd71oPJhLKp0zdtTvoM39_ATuyk1uF0ceUyTEF8x4#SourceSansPro */
		url('Source_Sans_Pro_400italic.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	src:
		local('Source Sans Pro Semibold Italic'),
		local('SourceSansPro-SemiboldIt'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6EbumxWHRSe1oVyAWeloI5o.eot */
		url('Source_Sans_Pro_600italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff */
		url('Source_Sans_Pro_600italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6EfrksRSinjQUrHtm_nW72g.ttf */
		url('Source_Sans_Pro_600italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=fpTVHK8qsXbIeTHTrnQH6Fd_7WJx2GUG2oLFWNtCPo4#SourceSansPro */
		url('Source_Sans_Pro_600italic.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 900;
	src:
		local('Source Sans Pro Black Italic'),
		local('SourceSansPro-BlackIt'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6JbSLHYK2KPWJI4XZKReQz0.eot */
		url('Source_Sans_Pro_900italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6ONg1gFYvjbPSGxSBhvPu6E.woff */
		url('Source_Sans_Pro_900italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6DiS5Fc5Bg1xsygf01vWWOU.ttf */
		url('Source_Sans_Pro_900italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=fpTVHK8qsXbIeTHTrnQH6AE6TnsamRSV10mXzkN7ilc#SourceSansPro */
		url('Source_Sans_Pro_900italic.svg#SourceSansPro') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src:
		local('Lato Hairline'),
		local('Lato-Hairline'),
		/* from http://fonts.gstatic.com/s/lato/v10/KlmP_Vc2zOZBldw8AfXD5g.eot */
		url('Lato_100.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/boeCNmOCCh-EWFLSfVffDg.woff */
		url('Lato_100.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/zJY4gsxBiSo5L7tNutxFNg.ttf */
		url('Lato_100.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=1zdx8ZyEBSORSnTlZpEGKA#Lato */
		url('Lato_100.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src:
		local('Lato Light'),
		local('Lato-Light'),
		/* from http://fonts.gstatic.com/s/lato/v10/zLhfkPOm_5ykmdm-wXaiuw.eot */
		url('Lato_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/KT3KS9Aol4WfR6Vas8kNcg.woff */
		url('Lato_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/nj47mAZe0mYUIySgfn0wpQ.ttf */
		url('Lato_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=7yKIrlBXX_AXuUv3Ts9_8g#Lato */
		url('Lato_300.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		/* from http://fonts.gstatic.com/s/lato/v10/nQhiC-wSiJx0pvEuJl8d8A.eot */
		url('Lato_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/9k-RPmcnxYEPm8CNFsH2gg.woff */
		url('Lato_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/v0SdcGFAl2aezM9Vq_aFTQ.ttf */
		url('Lato_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw#Lato */
		url('Lato_400.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		/* from http://fonts.gstatic.com/s/lato/v10/sBtfDPlEIwvKKU53nAG7AQ.eot */
		url('Lato_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/wkfQbvfT_02e2IWO3yYueQ.woff */
		url('Lato_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/DvlFBScY1r-FMtZSYIYoYw.ttf */
		url('Lato_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=H4oiIt_Ug9TU5ast0nUT-w#Lato */
		url('Lato_700.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src:
		local('Lato Black'),
		local('Lato-Black'),
		/* from http://fonts.gstatic.com/s/lato/v10/BjDVcwQGWPX2RAidnkd0Bw.eot */
		url('Lato_900.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/BVtM30trf7q_jfqYeHfjtA.woff */
		url('Lato_900.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/4cKlrioa77J2iqTqBgkRWg.ttf */
		url('Lato_900.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=UxBsysUD4pfKXRb0IKmcRQ#Lato */
		url('Lato_900.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	src:
		local('Lato Hairline Italic'),
		local('Lato-HairlineItalic'),
		/* from http://fonts.gstatic.com/s/lato/v10/81DMwqUqq96weubmVpbDyvesZW2xOQ-xsNqO47m55DA.eot */
		url('Lato_100italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/CggrdU0t5c42NcNxN-VM3_esZW2xOQ-xsNqO47m55DA.woff */
		url('Lato_100italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/gc5ZVKiLNkRdGlU3GaSVBfesZW2xOQ-xsNqO47m55DA.ttf */
		url('Lato_100italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Hu89JyBnFisiVNJ1Re4R8PesZW2xOQ-xsNqO47m55DA#Lato */
		url('Lato_100italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src:
		local('Lato Light Italic'),
		local('Lato-LightItalic'),
		/* from http://fonts.gstatic.com/s/lato/v10/2HG_tEPiQ4Z6795cGfdivPY6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_300italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_300italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/2HG_tEPiQ4Z6795cGfdivKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_300italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=2HG_tEPiQ4Z6795cGfdivJbd9NUM7myrQQz30yPaGQ4#Lato */
		url('Lato_300italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lato Italic'),
		local('Lato-Italic'),
		/* from http://fonts.gstatic.com/s/lato/v10/bjaQ6jyWa8A2XFrSKceJyA.eot */
		url('Lato_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/oUan5VrEkpzIazlUe5ieaA.woff */
		url('Lato_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/LqowQDslGv4DmUBAfWa2Vw.ttf */
		url('Lato_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=sbmVKhXgM5wMsElf_vy3Iw#Lato */
		url('Lato_400italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src:
		local('Lato Bold Italic'),
		local('Lato-BoldItalic'),
		/* from http://fonts.gstatic.com/s/lato/v10/HkF_qI1x_noxlxhrhMQYEPY6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/HkF_qI1x_noxlxhrhMQYEKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=HkF_qI1x_noxlxhrhMQYEJbd9NUM7myrQQz30yPaGQ4#Lato */
		url('Lato_700italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src:
		local('Lato Black Italic'),
		local('Lato-BlackItalic'),
		/* from http://fonts.gstatic.com/s/lato/v10/VNUH7ZAcagYBWsAiBBCEY_Y6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_900italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_900italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/VNUH7ZAcagYBWsAiBBCEY6CWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_900italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=VNUH7ZAcagYBWsAiBBCEY5bd9NUM7myrQQz30yPaGQ4#Lato */
		url('Lato_900italic.svg#Lato') format('svg');
}
