@charset "utf-8";
/* CSS Document */

            /* Small devices (tablets, 768px and up) */
@media (min-width:325px) and (max-width:500px){

              
                .col-md-4,.col-lg-8,.col-lg-offset-3
                {
                    text-align:center;
                    margin:0 auto!important;
                  
                }  
                
                .no-display
                {
                    display:none;
                 }
                 

                }

@media screen and (max-width: 700px)
{
    .no-display
                {
                    display:none;
                 }
                  .col-md-4,.col-lg-8,.col-lg-offset-3
                {
                    text-align:center;
                    margin:0 auto!important;
                  
                }  
}
@media screen and (max-width: 960px)
{
    .col-lg-8,.col-lg-offset-3
                {
                    text-align:center;
                    margin:0 auto!important;
                  
                }  
               
}

            /* Medium devices (desktops, 992px and up) */
@media (min-width: 1000px) 
            {
                .carousel-inner
                {
                    margin:0 auto;
                    width:1000px;
                              
                 }
              .navbar-brand
              {
                  display:none;
              }
              .box-md-1
                {
                    width:13%; border:solid 1px #cdcdcd; background-color:#fafafa; box-shadow:0 0 4px #cdcdcd; float:left; text-align:center; margin:6px 6px;
                }
                #PlaceHolder{width: 350px;right:0;float:right; top:45px; padding: 0px 5px; position:absolute; }
                #DisplayTime{ margin:-20px 0 0 0; z-index:99999; width:100%; position:absolute;}
            }

            /* Large devices (large desktops, 1200px and up) */
           

@media (max-width: 768px){

#panel, .slide1
{
    width:90%;
}

.contact
{
    display:none;
}

}

@media (max-width: 999px) and (min-width:768px)
{
    .box-md-1
{
    width:23.3%; border:solid 1px #ddd; background-color:#fafafa; box-shadow:0 0 4px #cdcdcd; float:left; text-align:center; margin:6px 6px;
}
#PlaceHolder,  #DisplayTime{display:none;
}
}
@media (max-width: 767px) and (min-width:481px)
{
    .box-md-1
        {
            width:47%; border:solid 1px #ddd; background-color:#fafafa; box-shadow:0 0 4px #cdcdcd; float:left; text-align:center; margin:6px 6px;
        }
        #PlaceHolder,  #DisplayTime{display:none;
}
}
@media (max-width: 480px) 
{
    .box-md-1
        {
            width:95.5%; border:solid 1px #ddd; background-color:#fafafa; box-shadow:0 0 4px #cdcdcd; float:left; text-align:center; margin:6px 6px;
        }
        #PlaceHolder,  #DisplayTime{display:none;
}
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 1000px) { /*Custom breakpoint*/
 .navbar-header {
 float: none;
}
 .navbar-toggle {
display: inline-block;


}
 .navbar-collapse.collapse.in {
 display: block!important;
}
 .collapsing {
 overflow: hidden!important;
}
 .navbar-collapse.collapse {
 display: none!important;
}
 /*.navbar-collapse {
margin-top: 15px;
 margin-bottom: 20px;
}*/
 .navbar-nav {
 float: none!important;
 margin: 0;
}
 .navbar-nav>li {
 float: none;
}
 .navbar-nav>li>a {
 padding-top: 10px;
 padding-bottom: 10px;
}
 .navbar-nav .open .dropdown-menu {
 position: static;
 float: none;
 width: auto;
 margin-top: 0;
 border: 0;
}
.nav-bar-background
{
    
   background-repeat:repeat-x;
}
.navbar-default .navbar-nav > li > a 
{
    color:#777;
    font-size:15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a:focus
{
    background-color:#e8f1f5;
}
.dropdown, .active a
{
    border:solid 1px #e8f1f5;
    margin-top:-1px;
}

}