﻿@media screen and (max-width: 768px)
{

    img
    {
        height: auto;
    }
    .DivHeaderLeft
    {
        display: none;
    }
    #DivMPOLogo, #DivMPOLogo img
    {
        width: 100%;
        text-align: center;
    }
    #DivMPOLogo img
    {
        max-width: 325px;
    }
    #cssmenu
    {
        border-top: solid 1px #ddd !important;
        width: 100% !important;
        margin-top: 0px !important;
        background-color: #fff;
    }
    #panel, .slide
    {
        width: 90%;
    }
    .MainDivSlider
    {
        width: 100%;
    }
    .MainDivSlider img
    {
        width: 100%;
    }
    .DivLoginExp
    {
        width:80%; margin:20px auto;}
    .PortalRow
    {
        width: 98%;
        margin: 0 auto !important;
    }
    .col-06
    {
        width: inherit;
        margin: .5% ;
        display: block;
        padding: .5%;
    }
    .img-resize
    {
        width: 100%;
    }
    .col-04
    {
        width: 99%;
        margin: .5% auto;
        background-color: #ccc;
        height: 200px;
        padding: .5%;
    }
    .SrvDiv
    {
        background-color: #fff;
        border: solid 1px #ddd;
        width: 99%;
        margin: .5%;
        padding: .5%;
    }
    .footerInnertxt
    {
        width:100%;
        display:block;
        margin:10px 0;
    }
    .footerInnertxt a, .footerInnertxt1 a, .footerInnertxt2 a
    {
        width:98%;}
      
    .citizen_left
    {
        width:99%;
        margin-bottom:100px;
      
    }
     .citizen_rgt
    {
        width:99%;
    }
     .rsnt-Container ul{
         width:100%;
     }
    .Div_Achiv, .live-chat {
        display: none;
    }
   #btnClose, #PlaceHolder, #DisplayTimeInner, .KIOSKAct, .DI, #OuterPan, .Divticker{
       display:none;
   }
   #header
   {
       background-color:#1c78ce;
   }
   .header-container
   {
       color:#fff !important; font-size:19px;
   }
   .td-8
{
    width:100%;
   
    padding:1.5% .5%;
    border-radius:6px;
}
.td-4
{
    width:100%;
   
    padding:1.5% .5%;
    border-radius:6px;
}
.award-container
{
    width: 95%;
    float:none; padding:0 0 0 0; background-image:url('/Quick Links/PortalImages/trophie.png'); background-position:right bottom; background-repeat:no-repeat;
}
.div-box-awd
{
    width:100%;
}
.list-category 
{
    float:none; 
}
.list-category ul li
{
    float:none; list-style-type:circle; list-style-position:inside;
}  
.div-col-04
{
   width: 94%; box-shadow:0 0 4px #ddd;
}
.Conttable{border:none;
}
.Conttable td
{
    display:block; line-height:18px !important;  border-bottom:none; padding:4px !important;  }
.Conttable tr{border-bottom:solid 1px #ddd;}
.feedtable{
		width:100%; 
		border-collapse:collapse;
		font-family:Arial; 
		font-size:12px;
		margin-top:10px;
	}
.feedtable td
{
    display:block;  padding:4px !important; width:inherit; border-bottom:solid 1px #ddd; margin-top:-1px; }

.ContactDtlAdd
	{
	    width:100%; float:left;}
.Map
	{
	    width:100%; margin-top:20px;}    
    
}
      
@media screen and (min-width: 1000px)
{
    .Clnt-spk .col-04
    {
        width: 23%;
        float: left;
        margin: .5% .5%;
        background-color: #ccc;
        height: 200px;
        padding: .5%;
    }
    .citizen_left
 {
     width:75%; float:left; background-color:#fff; margin-bottom:0px;
 }
 .citizen_rgt
 {
     width:24%; float:right;  background-color:#fff;
 }
 .Tool_box
 {
     width: 88%; margin: 10% auto; border: solid 1px #ddd; padding: 4% 1% 7%; border-radius:4px;
 }
  .Tool_box_color
  {
      background-color:#f8ead5; border:solid 1px #e5cca4;
  }
  .box-margin
  {
      margin-top:50px;
  }
}
@media screen and (max-width:999px)
{
    .achiev
{
     display:none;}
      .citizen_left
    {

        margin-bottom:40px;
    }
    .Tool_box
 {
     width:94%;margin: 6% auto; border: solid 1px #ddd; padding: 5% 1% 10%; border-radius:4px; 
 }
  .box-margin
  {
      margin-top:50px;
  }
}