
ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
  font-size:1.1em;
  color:#888;
}

.resp-tabs-list li {
  font-weight: 600;
  border-right:solid 5px #ddd; 
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}

.resp-tabs-container {
  padding: 0px;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
  
}

.resp-tab-active {
  border-bottom: none;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
 
  border: 1px solid #eee;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width:20%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px 15px 20px !important;
  margin: 0;
  cursor: pointer;
  float: none;
  border-bottom:solid 1px #fff;
  background-color:#f1f1f1;
  font-weight:100;
  background-image:url('/Quick Links/PortalImages/bult1.png');
  background-repeat:no-repeat;
  background-position:2px 10px;
}
.resp-vtabs .resp-tabs-list li:hover
{
    background-color:#fcfcfc;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  float: left;
  width: 79%;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: none;
  border-right: solid 5px #438bc8;
  position: relative;
  z-index: 1;
  border-bottom:solid 1px #fff;
  margin-right: 0 !important;
  padding: 14px 15px 15px 19px !important;
  background-color:#fff;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #f2f2f2 !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #ddd !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; color:#000; font-weight:100; }

.resp-vtabs .resp-tab-content { border: 1px solid #eee; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
