﻿

        .post {
            margin: 0 auto;
            padding-bottom: 50px;
            float: left;
            /*width: 960px;*/
        }

        .btn-sign {
           
           
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
        }

            .btn-sign a {
                color: #fff;
                text-shadow: 0 1px 2px #161616;
            }

        #mask {
            display: none;
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            z-index: 999;
        }

        .login-popup {
            display: none;
            background: #fff;
            float: left;
            font-size: 1.2em;
            position: fixed;
            width:20%;
            min-width:300px !important;
            top: 50%;
            left: 50%;
            z-index: 9999!important;
            box-shadow: 0px 0px 20px #000;
            -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
            -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px; /* Firefox */
            -webkit-border-radius: 3px; /* Safari, Chrome */
        }

            .login-popup form {
                 padding: 10px; 
            }
        img.Loginclose {
            float: right;
            margin: -18px -18px 0 0;
        }

        fieldset {
            border: none;
        }

        form.signin .textbox label {
            display: block;
            padding-bottom: 7px;
        }

        form.signin {
            display: block; width:275px !important;
        }
        .answer {
            display: block;
        } 

        form.signin p, form.signin span {
            color: #333;
            font-size: 13px;
            line-height: 18px;
        }
        form.signin p a
        {
            color:#000 !important; font-size:11px;
        }
        form.signin p a:hover
        {
            color:#e87301 !important; font-size:11px;
        }
       .textbox input[type="text"],  .textbox input[type="Password"]{
            background: #fff;
            border: 1px solid #ddd;
            color: #000;
            border-radius: 5px 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font: 13px Arial, Helvetica, sans-serif;
            padding: 10px 6px;
            width: 97%;
            margin:3px 0;
        }
        select {
            background: #fff;
            border: 1px solid #ddd;
            color: #000;
            border-radius: 5px 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            font: 13px Arial, Helvetica, sans-serif;
            padding: 5px 6px;
            width: 100%;
            margin: 3px 0;
        }
        .login-popup input:focus, .login-popup select:focus {
            border: solid 1px #3300CC !important;
        }
        form.signin input:-moz-placeholder {
            color: #bbb;
            text-shadow: 0 0 2px #000;
        }

        form.signin input::-webkit-input-placeholder {
            color: #bbb;
            text-shadow: 0 0 2px #000;
        }
            .button:hover {
                background: #ddd;
            }
         /*    .invalid input:required:invalid {
            background: #BE4C54;
        }

        .invalid input:required:valid {
            background: #17D654;
        }
*/
        input {
            display: inline;
            margin-bottom: 10px;
        }

.LoginSubmit {
    width:100%;
    background-color:#217ce0;
    border:none;
    border-radius:4px;
    padding:5px 5px;
    color:white;
    
}

.LoginHead {
      background-color:#217ce0;
      padding:2% 2%;
      width:96%;
      color:#fff;
      margin-bottom:10px;
      text-align:left;
      border-radius:4px 4px 0 0;
}