﻿
  
 #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:400px;
    border:1px solid #ACD8F0;
    overflow:auto;
    border-radius:5px 5px; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left;  font-weight:bold;}
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.chat-user
{
   width:508px;
   height:400px;
   background-image:url('/Portal/MPOnlineChat/Images/chat-login.png');
   border:solid 1px #fff;
   margin:2% auto;
}
.User-input
{
    margin:110px 0 0 195px;
}
.input
{
    padding:12px 5px; border:none; width:170px; font-size:15px; background-color:transparent;
}
.chat-btn-box
{
    margin:0 0 0 145px;
}
.chat-btn
{
    width:247px;
    border:none;
    padding:12px 8px;
    border-radius:5px 5px;
    background-color:#2674c4;
    color:#fff;
    font-size:15px;
}
.chat-btn:hover
{
    background-color:#3a8fe7;
}
.chat-msg
{
    height:20px;
    margin:10px 0 0 145px;
    text-align:center;
}
.ipt-cht-rom
{
    border-radius:5px 5px;
    border:solid 1px #acd8f0;
    padding:6px 6px;
}
.box-input
{
    margin-left:25px;
    text-align:left;
}
.send-btn
{
    border:none;
    padding:5px 5px;
    border-radius:5px 5px;
    background-color:#2674c4;
    color:#fff;
    font-size:15px;
}


#clientsDropDown a {
    color:#FFF;
    text-decoration:none; 
    font-weight:700;
 }
  
   #clientsDropDown  a:hover { text-decoration:underline; }


        .block.live-chat {
            position: fixed;
            right: 150px;
            bottom: 0px;
            
            border: 0;
            z-index:999 !important;
          

        }

            .block.live-chat .block-heading {
                font-size: 14px;
                line-height: 33px;
            }

         

                    

                

            .block.live-chat.live-chat-out .block-heading {
                background: #1c64a1;
                padding-right: 35px;
                position: relative;
                 border-radius: 7px 7px 0px 0px;
                 height:46px;
                 line-height:46px
            }

                .block.live-chat.live-chat-out .block-heading span {
                    color: #fff;
                    text-decoration: none;
                    padding: 0 1em 4px 2em;
                    display: block;
                    cursor: pointer;
                     border-radius: 7px 7px 0px 0px;
                }

                .block.live-chat.live-chat-out .block-heading i.icon-arrow-up {
                    display: block;
                    padding: 0 22px;
                    position: absolute;
                    right: 5px;
                    top: 0;
                    height:46px;
                    font-size: 20px;
                    line-height: 32px;
                    background-image:url('/Portal/MPOnlineChat/Images/chat.png');
                    background-repeat:no-repeat;
                    background-position:5px 5px;
                   
                }

                 .block.live-chat.live-chat-out .block-heading i.icon-arrow-down {
                    display: block;
                    padding: 0 22px;
                    position: absolute;
                    right: 5px;
                    top: 0;
                    height:46px;
                    font-size: 20px;
                    line-height: 32px;
                    background-image:url('/Portal/MPOnlineChat/Images/Max.png');
                    background-repeat:no-repeat;
                    background-position:5px 5px;
                   
                }