/************************************
            By Dan Harper
        http://www.danharper.me

           For NETTUTS.com

     Check out http://vivawp.com
************************************/
*{    margin:0 0 0 0;
    padding:0 0 0 0;
}
.widget
{

    margin-bottom: 15px;
    text-align: left;
    margin: 10px;
    line-height: 29px;
    font-family: verdana !important;
    height:400px;

}

.widget a
{
    color: #999;
    text-decoration: none;
    font-family: verdana !important;
    font-weight: 100;
    font-size: 1em;
}

.widget a:hover
{
    color: #009;
    text-decoration: underline;
}

.tabnav li
{
    display: inline;
    list-style: none;
    padding-right: 5px;
}

.tabnav li a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #686868 !important;
    font-weight: 100;
    padding: 4px 12px;
    outline: none;
    border-radius: 4px 4px 0 0;
    margin: 0;
    background-color: #e6eaec;
    border: solid 1px #d0d5d7;
}
.tabnav li a:active, .tabnav li.ui-tabs-selected a
{
    background-color: #2a9acb !important;
    border: solid 1px #2a9acb;
    color:#fff !important;
}
.tabnav li a:hover
{
    background: #2a9acb;
    color: #fff !important;
    text-decoration: none;
}

.tabdiv
{
    margin-top: 1px;
    padding: 5px;
    border-top: solid 1px #ddd;
}

.tabdiv li
{
    list-style-image: url("star.png");
    margin-left: 20px;
}

.ui-tabs-hide
{
    display: none;
}

#featuredvid
{
    text-align: center;
}

.fvid
{
    margin-bottom: 5px;
}

.vidselector li
{
    text-align: left;
    list-style: none;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #dedbd1;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.DivDscrip
{
    width:98%;
    border-bottom:solid 1px #ddd;
    padding:1%;
    float:left;
}
.Icon
{
   float:left;
}
.dtl
{
   float:left;
   color:#888;
   padding:5px 0 0 0; font-size:12px;
}
.Icon
{
    text-align:left !important; margin-right:5px;
}
.ClearFix
{
    clear:both;
}
.dtl h2
{
    font-family:verdana;
    font-weight:100;
    font-size:17px;
    font-weight:100;
    color:#000;
}