@charset "utf-8";
img{border:0;}
html{}
/*html, body{
	height: 100%;
	width: 100%;
}*/
body,h1,h2,h3,h4,h5,h6,hr,div,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,input,textarea,form,th,td{margin:0;padding:0;}
body{ font-size:12px;background: #000;}
body,select,textarea,th,td{font-family:'微软雅黑';}
h1,h2,h3,h4,h5,h6{font-size:100%;}
dl,dt,dd,ul,ol,li{list-style:none;}
a{text-decoration:none; outline:none}
a{ color:#888888}

/*clearfix*/
.clearfix {zoom:1;}
.clearfix:after{clear:both; display:block; content:""; height:0; visibility:hidden;}

/*text-align*/
.text_left{ text-align:left;}
.text_right{ text-align:right;}
.text_center{ text-align:center;}
body{ font:12px/1.5 '微软雅黑';
}
.wraper{width: 100%;/*min-width: 1200px;*/}

.wd_box{width: 1200px;margin: 0 auto;padding-top: 18px;}
/*swipe_box*/
.swipe_box{
	position: relative;
	width: 100%;
	/*min-width: 1200px;*/
	height: 500px;
	overflow: hidden;
}
.swipe_box .swipe{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.swipe_box .swipe .swipeList{
	display:none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	margin-top:0;
	z-index: 3;
}

.swipe_box .swipe .swipeList.active{
	display:block;
	z-index: 5;
	/*margin-top:0!important;*/

}





.swipe_box .swipe .swipeList .pic_box{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;

}

/*menu_wrap*/
.menu_wrap{
	position: absolute;
	width: 130px;
	height: 520px;
	top: 0;
	left: 50px;
	margin: 0px 0 0 0px;

	zoom:1;
	z-index: 15;
}

.menu_wrap ul li.menu_item{position: relative;text-align: center;z-index: 2;}
.menu_wrap ul li a.menu_link{
	width: 130px;
	height: 130px;
	display: block;
	position: relative;
}
.menu_wrap ul li.menu_item.cur a.menu_link{
	background:url(../img/menu_bg.png) no-repeat 0 0;
	/*background-position: left top;*/
}
.menu_wrap ul li.menu_item a.menu_link .bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	background:url(../img/menu_bg.png) no-repeat left 0px;
	z-index: -1;
}




.menu_wrap ul li a.menu_link .num{
	position: absolute;
	right: 10px;
	top: 12px;
	background:url(../img/num_bg.png) no-repeat;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	z-index: 1;
}
.menu_wrap ul li a.menu_link h3{color: #000;font-size: 22px;padding-top: 36px;font-weight: normal;}
.menu_wrap ul li a.menu_link .word{color: #8E8F91;font-size: 13px;}
.menu_wrap ul li.cur a.menu_link h3{color: #d02229;font-size: 22px;font-weight: normal;}
.menu_wrap ul li.cur a.menu_link .word{color: #f04e37;font-size: 13px;}

.drop_box{
	display: none;
	position: absolute;
	width: 557px;
	left: 136px;
	top: 26px;
	text-align: left;
	z-index: 3;
}
.drop_box .arrow{
	position: absolute;
	left: 0;
	top: 24px;
	background:url(../img/arrow_1.png) no-repeat;
	width: 12px;
	height: 24px;
}

#menu_item1 .drop_box{top: 26px;}
#menu_item2 .drop_box{top: -104px;}
#menu_item3 .drop_box{top: -234px;}
#menu_item4 .drop_box{top: -364px;}

#menu_item1 .drop_box .arrow{top: 24px;}
#menu_item2 .drop_box .arrow{top: 154px;}
#menu_item3 .drop_box .arrow{top: 284px;}
#menu_item4 .drop_box .arrow{top: 414px;}




.drop_box_bottom{
	/*top: auto;*/
	/*bottom:10px;*/

}
.drop_box_bottom  .arrow{
	/*top: auto;*/
	/*bottom:40px;*/
}

.drop_box .drop_main{
	text-align: left;
	margin-left: 20px;
}
.drop_box .drop_main .drop_t{margin-right: -6px;overflow: hidden;zoom:1;}
.drop_box .drop_main .drop_t li{
	position: relative;
	width: 175px;
	height: 90px;
	overflow: hidden;
	float: left;
	margin-right: 6px;
	display: inline;
}

.drop_box .drop_main .drop_t li img{
	display: block;
	width: 175px;
	height: 90px;

	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.drop_box .drop_main .drop_t li .pic:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.drop_box .drop_main .drop_t .go{
	background:url(../img/btn_go.png) no-repeat;
	width: 28px;
	height: 16px;
	display: block;
	position: absolute;
	bottom: 12px;
	right: 10px;
}
.drop_box .drop_main .drop_b{
	background:url(../img/bg_tra.png) repeat;
	zoom:1;
	margin-top: 6px;
	min-height: 380px;
}
.drop_box .drop_main .drop_b:after{clear:both; display:block; content:""; height:0; visibility:hidden;}
.drop_box .drop_main .drop_b .type{
	padding:20px 0;


}
.drop_box .drop_main .drop_b .drop_b_box{
	background:url(../img/tag.png) no-repeat right 98%;
	min-height: 380px;
}
/*.drop_box .drop_main .drop_b .type:last-child,.drop_box .drop_main .drop_b .type.last{*/
/*border:none;*/
/*}*/
.drop_box .drop_main .drop_b .type li{
	padding: 0px 0 15px 20px;
	width: 158px;
	display:inline;
	float:left;
	position: relative;
	z-index: 5;
	border-right: 1px solid #b8b8b8;
}

.drop_box .drop_main .drop_b .type li.none{
	border-right:0;
}

.drop_box .drop_main .drop_b a.link{color: #222;font-size: 12px;}
.drop_box .drop_main .drop_b a.link:hover,.drop_box .drop_main .drop_b  a.hot{color: #f04e37;font-weight: bold;}
/*.drop_box .drop_main .drop_b a.link:hover,.drop_box .drop_main .drop_b  a.new{color: #1ea4ff;font-weight: bold;}*/
.drop_box .drop_main .drop_b .type i{
	width: 18px;
	height: 18px;
	display: inline;
	margin-right: 8px;
	background:url(../img/icon.png) no-repeat left -40px;
	float: right;
	vertical-align: middle;
}
.drop_box .drop_main .drop_b .type i.icon_2{
	background-position: left -60px;
}

/*detail_box*/
.detail_box{
	position: absolute;
	width: 514px;
	left: 125px;
	top: 0px;
	background-color: #fff;
	z-index: 20;
	display: none;
}
.detail_box .arrow_1{
	background:url(../img/icon.png) no-repeat left -80px;
	width: 10px;
	height: 20px;
	position: absolute;
	left: -10px;
	top: 0px;
}
.detail_box .detail_main{padding: 20px;}
.detail_box .detail_main .img{float: left;position: relative;}
.detail_box .detail_main .img img{width: 80px;}


.detail_box .detail_main .img .detail_mask{
	position: absolute;
	top: 0;
	left: -10px;
	width: 100px;
	height: 100%;
	background: #000;
	opacity:0.1;
	filter: alpha(opacity=10);
}

.detail_box .detail_main .info{margin-left: 100px;}
.detail_box .detail_main .info .info_t{
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 12px;
	margin-bottom: 12px;
}
.detail_box .detail_main .info .info_t h3{font-size: 16px;color: #202020;}
.detail_box .detail_main .info p{
	color:#616161;
	font-size: 12px;
}

.detail_box .detail_main .info .btn{
	color: #fff;
	font-size: 14px;
	text-align: center;
	display: inline;
	float: right;
	background-color: #f68b1e;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	margin-left: 8px;
	opacity: 0.9;

}
.detail_box .detail_main .info .btn:hover{
	opacity: 1;

}

.detail_box .detail_main .info .btn.btn_blue{background-color: #3399ff;}

.detail_box_b{
	top:auto;
	bottom:0px;
}
.detail_box_b .arrow_1{
	top: auto;
	bottom: 12px;
}


/*slogan_box*/
.slogan_wrap{
	position: absolute;
	width: 800px;
	height: 500px;
	left: 50%;
	top: 150px;
	margin: 0px 0px 0px -302px;
	z-index: 1;
	text-align: right;
	display:block;
}
.slogan_wrap img{
	display: inline;

}

.slogan_wrap .slogan{

}

/*page_aside*/
.page_aside{
	width: 20px;
	height: 200px;
	position: absolute;
	right: 50px;
	z-index: 1;
	margin-top: -100px;
	top: 50%;
	font-family: "simsun";
	z-index: 10;
}
.page_aside li{
	width: 20px;
	height: 20px;
	padding: 6px 0;
}
.page_aside li a{
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background:url(../img/icon.png) no-repeat left -20px;
	color: #1e9bea;
}
.page_aside li a.cur,.page_aside li a:hover{
	background-position: left top;
}
.page_aside .page_num{font-size: 22px;color: #fff;line-height: 0.6;font-family: "Arial";padding: 6px 0 0 0px;text-align: center;display: none;}
.page_aside .page_num span{
	display: block;
}
.page_aside .page_num span.line{
	background:url(../img/line_1.png) no-repeat;
	width: 14px;
	height: 14px;
	margin: 3px 0 2px 3px;
}
/*footer*/
.footer{position: fixed;_position: absolute; left: 0;bottom: 0;width: 100%;z-index: 9999;padding:7px 0; display: none;background:url(../img/bg_w.png) repeat;}
/*
.footer{background:url(../img/bg_w.png) repeat;color: #fff;text-align: center;position: absolute;left: 0;bottom: 0;width: 100%;padding: 12px 0;z-index: 9999;display: none;}
.footer p{line-height: 20px;}
.footer .cy_box{width: 980px;margin: 0 auto;height: 36px;overflow: hidden;}
.footer .cy_box .f_1{float: left;width: 580px;text-align: left;}
.footer .cy_box .f_1 a{color:#fff;}
.footer .cy_box .f_1 a:hover{color:#fff;text-decoration:underline;}
.footer .cy_box .f_1 .f_1_a{color: #fff;display: block;width: 580px;float: left;}
.footer .cy_box .f_1 .f_1_b{color: #fff;display: block;width: 330px;float: left;}
.footer .cy_box .f_1 .f_1_c{color: #fff;display: block;width: 230px;float: left;}
.footer .cy_box .f_1 .f_1_2{width: 300px;}
.footer .cy_box .f_2{float: right;}
.footer .cy_box .f_2 .f_2_a{width: 40px;height:36px;background:url(../img/cy_1.png) no-repeat;display: inline-block;
    *display: inline;*zoom:1;}
.footer .cy_box .f_2 .f_2_a.f_2_2{background-position: -50px top;}
.footer .cy_box .f_2 .f_2_a.f_2_3{background-position: -100px top;width: 100px;}
.footer .cy_box .f_2 .f_2_a.f_2_4{background-position: right top;width: 90px;}
*/

/**游戏列表动态数据**/
.drop_box0,.drop_box1{
	width: 196px;
}
.drop_box2{
	width: 378px;
}
.drop_box3{
	width: 557px;
}


.wraper{
	display: none;
}

.loading{width:100%;height:100%;position: absolute;z-index: 10000;overflow: hidden;top:0px}
.loadingBgL{display:none;width:50%;height:100%;position: absolute;top:0;left:0;background:#fff;z-index: 5;}
.loadingBgR{display:none;width:50%;height:100%;position: absolute;top:0;right:0;background:#fff;z-index: 5;}
.loadingBg{display:none;width:100%;height:100%;position: absolute;top:0;right:0;background:#fff;z-index: 7;}
.pageLoad{display:none;width:94px;height: 123px; text-align:center; position:absolute; z-index:96; top:40%; left:50%; margin-left:-47px; margin-top:-46px;z-index: 10;}
.pageLoad p{width:94px; height:92px; background:url(../img/loading.png) no-repeat;position:relative;}
.pageLoad p em{width:94px; height:0; font-size:0; line-height:0; display:block; background:url(../img/loading_full.png) no-repeat 0 100%; position:absolute; left:0; bottom:0;}
.pageLoad #loadingSpan{width: 127px;height:18px;background:url("../img/loading_logo.png") no-repeat 0 0;position: absolute;left:-16px;bottom: 0;opacity: 0;}
.pageLoad #loadingSlogan{position: absolute;top:30px;left:140px;width: 158px;height: 42px;}
.pageLoad #loadingSlogan .loadingSloganT{position: absolute;top:0px;left:0px;width: 0%;height: 42px;background: url('../img/bgYiqi1.png') no-repeat 0 0;}
.pageLoad #loadingSlogan .loadingSloganL{position: absolute;top:0px;left:0px;width: 0%;height: 42px;background: url('../img/bgYiqi2.png') no-repeat 0 0;}

@media only screen and (max-width: 899px) {
	.pageLoad {
		width: 47px;
		height: 62px;
		margin-left:  -24px;
		margin-top: -23px;
	}
	.pageLoad p {
		width: 47px;
		height: 46px;
		background: url(../img/loading.png) no-repeat;
		background-size: contain;
	}
	.pageLoad p em {
		width: 47px;
		background: url(../img/loading_full.png) no-repeat 0 100%;
		background-size: 47px auto;
	}
	.pageLoad #loadingSpan {
		width: 64px;
		height: 9px;
		left: -8px;
		background: url("../img/loading_logo.png") no-repeat 0 0;
		background-size: contain;
	}
	.pageLoad #loadingSlogan {
		position: absolute;
		top: 15px;
		left: 70px;
		width: 79px;
		height: 21px;
	}
	.pageLoad #loadingSlogan .loadingSloganT {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 0%;
		height: 21px;
		background: url('../img/bgYiqi1.png') no-repeat 0 0;
		background-size: 100% auto;
	}
	.pageLoad #loadingSlogan .loadingSloganL {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 0%;
		height: 21px;
		background: url('../img/bgYiqi2.png') no-repeat 0 0;
		background-size: 100% auto;
	}
}

#overlay{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	filter: alpha(opacity=40);
	opacity: 0.4;
}


/**以下是CSS3动画**/
/**呼吸灯**/
@-webkit-keyframes light {0% {opacity: 1}50% {opacity: 0.8}100% {opacity: 1}}
@-moz-keyframes light {0% {opacity: 1}50% {opacity: 0.8}100% {opacity: 1}}
@-o-keyframes light {0% {opacity: 1}50% {opacity: 0.8}100% {opacity: 1}}
@-ms-keyframes light {0% {opacity: 1}50% {opacity: 0.8}100% {opacity: 1}}
@keyframes light {0% {opacity: 1}50% {opacity: 0.8}100% {opacity: 1}}
.menu_wrap ul li.menu_item a.menu_link .bg{
	animation:light 2s linear 0 infinite;
	-webkit-animation:light 2s linear 0 infinite;
	-moz-animation:light 2s linear 0 infinite;
	-o-animation:light 2s linear 0 infinite;
	-ms-animation:light 2s linear 0 infinite;
	animation:light 2s linear 0 infinite;
}

/**slogan从右往左飘入**/
@-webkit-keyframes flipBig{0%{opacity: 0.5;-webkit-transform:translate(300px)}70%{opacity: 1;-webkit-transform:translate(-30px)}100%{-webkit-transform:translate(0px)}}
@-moz-keyframes flipBig{0%{opacity: 0.5;-moz-transform:translate(300px)}70%{opacity: 1;-moz-transform:translate(-30px)}100%{-moz-transform:translate(0px)}}
@-o-keyframes flipBig{0%{opacity: 0.5;-o-transform:translate(300px)}70%{opacity: 1;-o-transform:translate(-30px)}100%{-o-transform:translate(0px)}}
@-ms-keyframes flipBig{0%{opacity: 0.5;-ms-transform:translate(300px)}70%{opacity: 1;-ms-transform:translate(-30px)}100%{-ms-transform:translate(0px)}}
@keyframes flipBig{0%{opacity: 0.5;transform:translate(300px)}70%{opacity: 1;transform:translate(-30px)}100%{transform:translate(0px)}}
.active .slogan_wrap img{
	display: inline;
	/*
    animation:flipBig 0.8s ease-out 0s;
    -webkit-animation:flipBig 0.8s ease-out 0s;
    -moz-animation:flipBig 0.8s ease-out 0s;
    -o-animation:flipBig 0.8s ease-out 0s;
    -ms-animation:flipBig 0.8s ease-out 0s;
	*/
}

/**淡入**/
@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@-ms-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
.pageOpen #loadingSpan{
	animation:fadeIn 0.8s ease-out 0s forwards;
	-webkit-animation:fadeIn 0.8s ease-out 0s forwards;
	-moz-animation:fadeIn 0.8s ease-out 0s forwards;
	-o-animation:fadeIn 0.8s ease-out 0s forwards;
	-ms-animation:fadeIn 0.8s ease-out 0s forwards;
}


/**loading slogan**/
@-webkit-keyframes goW100{0%{width:0%;}100%{width:100%;}}
@-moz-keyframes goW100{0%{width:0%;}100%{width:100%;}}
@-o-keyframes goW100{0%{width:0%;}100%{width:100%;}}
@-ms-keyframes goW100{0%{width:0%;}100%{width:100%;}}
@keyframes goW100{0%{width:0%;}100%{width:100%;}}
.pageOpen .pageLoad #loadingSlogan .loadingSloganT{
	animation:goW100 0.5s ease-out 0.5s forwards;
	-webkit-animation:goW100 0.5s ease-out 0.5s forwards;
	-moz-animation:goW100 0.5s ease-out 0.5s forwards;
	-o-animation:goW100 0.5s ease-out 0.5s forwards;
	-ms-animation:goW100 0.5s ease-out 0.5s forwards;
}
.pageOpen .pageLoad #loadingSlogan .loadingSloganL{
	animation:goW100 0.4s ease-out 1.0s forwards;
	-webkit-animation:goW100 0.4s ease-out 1.0s forwards;
	-moz-animation:goW100 0.4s ease-out 1.0s forwards;
	-o-animation:goW100 0.4s ease-out 1.0s forwards;
	-ms-animation:goW100 0.4s ease-out 1.0s forwards;
}


/**淡出**/
@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
@-moz-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
@-o-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
@-ms-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
.pageOpen .pageLoad{
	animation:fadeOut 0.6s ease-out 1.5s forwards;
	-webkit-animation:fadeOut 0.6s ease-out 1.5s forwards;
	-moz-animation:fadeOut 0.6s ease-out 1.5s forwards;
	-o-animation:fadeOut 0.6s ease-out 1.5s forwards;
	-ms-animation:fadeOut 0.6s ease-out 1.5s forwards;
}
.pageOpen .loadingBg{
	animation:fadeOut 0.6s ease-out 1.8s forwards;
	-webkit-animation:fadeOut 0.6s ease-out 1.8s forwards;
	-moz-animation:fadeOut 0.6s ease-out 1.8s forwards;
	-o-animation:fadeOut 0.6s ease-out 1.8s forwards;
	-ms-animation:fadeOut 0.6s ease-out 1.8s forwards;
}


/**loading开门**/
@-webkit-keyframes goW50to0{0%{width:50%;opacity:1;}100%{width:0%;opacity:0.7;}}
@-moz-keyframes goW50to0{0%{width:50%;opacity:1;}100%{width:0%;opacity:0.7;}}
@-o-keyframes goW50to0{0%{width:50%;opacity:1;}100%{width:0%;opacity:0.7;}}
@-ms-keyframes goW50to0{0%{width:50%;opacity:1;}100%{width:0%;opacity:0.7;}}
@keyframes goW50to0{0%{width:50%;opacity:1;}100%{width:0%;opacity:0.7;}}
.pageOpen .loadingBgL,.pageOpen .loadingBgR{
	animation:goW50to0 1.3s ease-out 1.7s forwards;
	-webkit-animation:goW50to0 1.3s ease-out 1.7s forwards;
	-moz-animation:goW50to0 1.3s ease-out 1.7s forwards;
	-o-animation:goW50to0 1.3s ease-out 1.7s forwards;
	-ms-animation:goW50to0 1.3s ease-out 1.7s forwards;
}




/**左侧菜单动画**/
@-webkit-keyframes drift1{
	0%{opacity: 0.5;-webkit-transform:translate(0,-170px)}
	70%{opacity: 1;-webkit-transform:translate(0,30px)}
	100%{opacity: 1;-webkit-transform:translate(0px)}
}
@-moz-keyframes drift1{
	0%{opacity: 0.5;-moz-transform:translate(0,-170px)}
	70%{opacity: 1;-moz-transform:translate(0,30px)}
	100%{opacity: 1;-moz-transform:translate(0px)}
}
@-o-keyframes drift1{
	0%{opacity: 0.5;-o-transform:translate(0,-170px)}
	70%{opacity: 1;-o-transform:translate(0,30px)}
	100%{opacity: 1;-o-transform:translate(0px)}
}
@-ms-keyframes drift1{
	0%{opacity: 0.5;-ms-transform:translate(0,-170px)}
	70%{opacity: 1;-ms-transform:translate(0,30px)}
	100%{opacity: 1;-ms-transform:translate(0px)}
}
@keyframes drift1{
	0%{opacity: 0.5;transform:translate(0,-170px)}
	70%{opacity: 1;transform:translate(0,30px)}
	100%{opacity: 1;transform:translate(0px)}
}



@-webkit-keyframes drift2{
	0%{opacity: 0.5;-webkit-transform:translate(0,-300px)}
	70%{opacity: 1;-webkit-transform:translate(0,30px)}
	100%{opacity: 1;-webkit-transform:translate(0px)}
}
@-moz-keyframes drift2{
	0%{opacity: 0.5;-moz-transform:translate(0,-300px)}
	70%{opacity: 1;-moz-transform:translate(0,30px)}
	100%{opacity: 1;-moz-transform:translate(0px)}
}
@-o-keyframes drift2{
	0%{opacity: 0.5;-o-transform:translate(0,-300px)}
	70%{opacity: 1;-o-transform:translate(0,30px)}
	100%{opacity: 1;-o-transform:translate(0px)}
}
@-ms-keyframes drift2{
	0%{opacity: 0.5;-ms-transform:translate(0,-300px)}
	70%{opacity: 1;-ms-transform:translate(0,30px)}
	100%{opacity: 1;-ms-transform:translate(0px)}
}
@keyframes drift2{
	0%{opacity: 0.5;transform:translate(0,-300px)}
	70%{opacity: 1;transform:translate(0,30px)}
	100%{opacity: 1;transform:translate(0px)}
}



@-webkit-keyframes drift3{
	0%{opacity: 0.5;-webkit-transform:translate(0,-470px)}
	70%{opacity: 1;-webkit-transform:translate(0,30px)}
	100%{opacity: 1;-webkit-transform:translate(0px)}
}
@-moz-keyframes drift3{
	0%{opacity: 0.5;-moz-transform:translate(0,-470px)}
	70%{opacity: 1;-moz-transform:translate(0,30px)}
	100%{opacity: 1;-moz-transform:translate(0px)}
}
@-o-keyframes drift3{
	0%{opacity: 0.5;-o-transform:translate(0,-470px)}
	70%{opacity: 1;-o-transform:translate(0,30px)}
	100%{opacity: 1;-o-transform:translate(0px)}
}
@-ms-keyframes drift3{
	0%{opacity: 0.5;-ms-transform:translate(0,-470px)}
	70%{opacity: 1;-ms-transform:translate(0,30px)}
	100%{opacity: 1;-ms-transform:translate(0px)}
}
@keyframes drift3{
	0%{opacity: 0.5;transform:translate(0,-470px)}
	70%{opacity: 1;transform:translate(0,30px)}
	100%{opacity: 1;transform:translate(0px)}
}


@-webkit-keyframes drift4{
	0%{opacity: 0.5;-webkit-transform:translate(0,-600px)}
	70%{opacity: 1;-webkit-transform:translate(0,30px)}
	100%{opacity: 1;-webkit-transform:translate(0px)}
}
@-moz-keyframes drift4{
	0%{opacity: 0.5;-moz-transform:translate(0,-600px)}
	70%{opacity: 1;-moz-transform:translate(0,30px)}
	100%{opacity: 1;-moz-transform:translate(0px)}
}
@-o-keyframes drift4{
	0%{opacity: 0.5;-o-transform:translate(0,-600px)}
	70%{opacity: 1;-o-transform:translate(0,30px)}
	100%{opacity: 1;-o-transform:translate(0px)}
}
@-ms-keyframes drift4{
	0%{opacity: 0.5;-ms-transform:translate(0,-600px)}
	70%{opacity: 1;-ms-transform:translate(0,30px)}
	100%{opacity: 1;-ms-transform:translate(0px)}
}
@keyframes drift4{
	0%{opacity: 0.5;transform:translate(0,-600px)}
	70%{opacity: 1;transform:translate(0,30px)}
	100%{opacity: 1;transform:translate(0px)}
}


.menu_wrap_ani #menu_item1{
	opacity: 0;
	animation:drift1 0.5s ease-out 0.5s forwards;
	-webkit-animation:drift1 0.5s ease-out 0.5s forwards;
	-moz-animation:drift1 0.5s ease-out 0.5s forwards;
	-o-animation:drift1 0.5s ease-out 0.5s forwards;
	-ms-animation:drift1 0.5s ease-out 0.5s forwards;
}
.menu_wrap_ani #menu_item2{
	opacity: 0;
	animation:drift2 0.7s ease-out 0.5s forwards;
	-webkit-animation:drift2 0.7s ease-out 0.5s forwards;
	-moz-animation:drift2 0.7s ease-out 0.5s forwards;
	-o-animation:drift2 0.7s ease-out 0.5s forwards;
	-ms-animation:drift2 0.7s ease-out 0.5s forwards;
}
.menu_wrap_ani #menu_item3{
	opacity: 0;
	animation:drift3 1s ease-out 0.5s forwards;
	-webkit-animation:drift3 1s ease-out 0.5s forwards;
	-moz-animation:drift3 1s ease-out 0.5s forwards;
	-o-animation:drift3 1s ease-out 0.5s forwards;
	-ms-animation:drift3 1s ease-out 0.5s forwards;
}
.menu_wrap_ani #menu_item4{
	opacity: 0;
	animation:drift4 1.4s ease-out 0.5s forwards;
	-webkit-animation:drift4 1.4s ease-out 0.5s forwards;
	-moz-animation:drift4 1.4s ease-out 0.5s forwards;
	-o-animation:drift4 1.4s ease-out 0.5s forwards;
	-ms-animation:drift4 1.4s ease-out 0.5s forwards;
}

/* 404通用页面 */
.wrapper-404 {
	width: 800px;
	margin: 0 auto;
	padding-top: 143px;
	padding-bottom: 190px;
}
.wrapper-404 .left-img {
	float: left;
	width: 392px;
}
.icon-404, .icon-maintenance {
	display: block;
	margin: 0 auto;
	width: 309px;
	height: 285px;
	background: url(../img/icon_404.png) no-repeat 0 0;
}
.icon-maintenance {
	background: url(../img/icon_maintenance.png) no-repeat 0 0;
}
.wrapper-404 .right-cont {
	float: left;
	width: 400px;
}
.wrapper-404 .right-cont .icon-404-logo {
	width: 166px;
	height: 43px;
	display: block;
	margin-top: 16px;
	background: url(../img/icon_404_logo.png) no-repeat 0 0;
}
.wrapper-404 .right-cont .title {
	font-size: 24px;
	color: #c9242b;
	margin-top: 36px;
	line-height: 30px;
	font-weight: bold;
}
.wrapper-404 .right-cont .sub-title {
	font-size: 16px;
	color: #221e1f;
	margin-top: 18px;
	line-height: 24px;
}
.wrapper-404 .right-cont .hot-line {
	margin-top: 34px;
}
.wrapper-404 .right-cont .hot-line dt {
	font-size: 16px;
	margin-bottom: 10px;
}
.wrapper-404 .right-cont .hot-line dd {
	font-size: 14px;
}

@media only screen and (max-width: 899px) {
	.wrapper-404 {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.wrapper-404 .left-img {
		display: none;
	}
	.wrapper-404 .right-cont {
		float: none;
		width: 100%;
		padding-left: 20px;
		box-sizing: border-box;
	}
}