﻿* {
    outline: none;
}
body {
    font-family: arial,verdana,serif;
    font-size: 12px;
    line-height: 1.4em;
    color: #333;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
a:hover {
    color: #BA0069
}
img {
    border: none;
}
.clear {
    clear: both;
}
.inputForm .mediumWidth {
    width: 300px;
}
.inputForm .largeWidth {
    width: 500px;
}
.inputForm .mediumHeight {
    height: 80px;
}
.inputForm input.text, .inputForm textarea, select {
    display: block;
    padding: 8px;
    border: 1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: border-color .2s linear;
    -moz-transition: border-color .2s linear;
    margin: 5px 0;
}
.inputForm input.text:focus, .inputForm textarea:focus, select:focus {
	border-color: #00A5F0;
}
.inputForm label {
    font-weight: bold;
    cursor: pointer;
    display: block;
    font-size: 13px
}
.inputForm label.help {
    font-weight: normal;
    font-style: italic
}
.checkboxLabel {
    display: inline!important;
}
.inputForm .buttonSet {
    margin-top: 30px
}
.inputForm span.tool {
    display: block;
}
.inputForm span.tool a {
    margin-right: 5px;
}
.buttons {
	line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #00A5F0;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px white;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px white;
    text-shadow: 0 -1px rgba(0, 0, 0, .2);
    text-align: center;
    min-width: 45px;
    cursor: pointer
}
.buttons:hover {
    background-color: #24BBFF;
}
.buttons:active {
    background-color: #0082bd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}
.cancelButtons {
    display: inline-block;
    background-color: transparent;
    color: #888;
    text-shadow: 0 1px 0 white;
    -webkit-transition: color .2s linear;
}
.cancelButtons:hover {
    color: #666;
    background-color: transparent;
}
.cancelButtons:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    background-color: #eee;
}
.required label:after {
    color: red;
    content: " *";
}
.required label.help:after {
    content: "";
}
#header  {
    background: #252525 url(../images/bg.png) repeat-x;
    margin: auto 0;
    color: #C5C5C5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#headerContent {
    width: 1038px;
    height: 40px;
    margin: 0 auto;
}
#headerContent a {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
#headerContent h1 {
    margin: 0;
    padding: 0;
}
a#logo {
    background: url(../images/logo.png) no-repeat;
    height: 31px;
    width: 31px;
    margin: 4px 10px 4px 0;
    float: left;
    text-indent: -9999px;
}
#logo-thumb{
    background: url(../images/logo.png) no-repeat;
    height: 31px;
    width: 31px;
    position: relative;
    top: 3%;
    left: 3%;
    z-index: 1;
}
ul#menuBar {
    font-weight: bold;
    font-size: 13.8px;
    float: left;
    margin: 12px 0 0;
}
#menuBar li {
    display: inline-block;
}
#menuBar a, #menuBar li span {
    color: #999;
    padding: 12px 8px;
    cursor: pointer;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
#menuBar li.selected a, #menuBar li.selected span {
    color: white;
    text-shadow: 0 1px #000;
}
#menuBar a:hover, #menuBar span:hover, #menuBar .selected a:hover {
    color: white;
    text-shadow: 0 1px #000;
}
#menuBar .new {
    color: red !important;
    padding: 0;
    font-size: 13px;
    position: relative;
    top: -6px;
    left: -7px
}
#menuBar .upload {
    background: transparent url(../images/upload_icon.png) no-repeat center left;
    padding: 12px 8px 12px 25px;
    margin-left: 8px
}
#menuBar li ul {
    background-color: #1F1F1F;
    display: none;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 1000;
    top: 35px;
}
#menuBar li:hover ul {
    display: block;
}
#menuBar li ul li {
    display: block;
}
#menuBar li ul a, #menuBar li.selected ul a {
    color: #999;
    display: block;
    padding: 5px 8px;
    font-size: 13px;
}
#search {
    margin: 6px 10px 0 0;
    float: right;
}
#search .query {
    float: left;
    height: 20px!important;
    margin-top: 3px;
}
#headerRight {
    float: right;
    margin-top: 5px;
}
#headerRight .searchButton, #headerRight .notiButton {
    background: url(../images/search_icon.png) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
}
#headerRight .searchButton:hover {
    background: url(../images/search_icon.png?v=1) no-repeat 0 -30px;
}
#headerRight .notiButton {
    background: url(../images/message_icon.png?v=1) no-repeat;
    text-align: right;
    width: 35px;
    margin-left: 5px;
}
#headerRight .notiButton:hover {
    background: url(../images/message_icon.png?v=1) no-repeat 0 -30px;
}
#headerRight .notiCount {
    width: inherit;
    font-weight: bold;
    color: white;
    position: relative;
    background-color: red;
    padding: 0 2px;
    line-height: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    top: -2px;
}
#headerRight .avatar {
    float: left;
    position: relative;
    margin-left: 15px;
}
#headerRight .avatar .blank {
    width: 130px;
    position: absolute;
    height: 15px;
    right: 0;
    top: 20px;
    display: none;
}
#headerRight .avatar img {
}
#headerRight .avatarLink {
    display: inline-block
}
#headerRight ul {
    background-color: black;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    position: absolute;
    padding: 5px 0;
    display: none;
    z-index: 1000;
    right: 0;
}
#headerRight .avatar:hover .blank {
    display: block;
    cursor: pointer;
}
#headerRight .avatar:hover ul {
	display: block;
	cursor: pointer;
}
#headerRight ul a {
    display: block;
    padding: 5px 10px;
    color: #999;
    -webkit-transition: none;
    -moz-transition: none;
}
#headerRight ul a:hover {
    color: white;
    background-color: #646464;
}
#headerRight ul, #headerRight span {
    width: 130px;
}
#headerRight span {
    font-size: 11px;
    padding-left: 30px;
}
#headerRight .noNoti {
    margin-left: 7px;
}
#headerRight .login {
    float: left;
    margin-top: 2px;
}
#headerRight .login a {
    color: #EDEDED;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    background-color: #444;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 -1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    display: block;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}

#headerRight .login a:hover {
    background-color: #555;
    color: white
}

#loginPanel {
    float: right;
}
#loginPanel .loginButton, #loginPanel .profileButton {
    color: #EDEDED;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    background-color: #444;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 -1px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset;
    border: 1px solid black;
    max-width: 194px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

 #loginPanel .loginButton, #loginPanel .profileButton {
    width: 140px;
    display: block;
    margin: 8px 0 0;
}

#loginPanel .loginButton {
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
#loginPanel .loginButton:hover {
    background-color: #555;
    color: white
}
#loginPanel .loginButton:active{
}
#loginPanel .profileButton {
    min-width: 140px;
    background: #444 url(../images/down_icon.png) no-repeat center right;
}
#loginPanel .profileButton .notiCount {
    background-color: #f03d25;
    border: 1px solid #d83722;
    border-bottom: 1px solid #c0311e;
    border-top: 1px solid #e23923;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 39, 121, .77);
    padding: 0 3px;
    color: #fff;
    position: relative;
    top: -10px;
    font-size: 11px
}
#loginPanel:hover .profileButton{
	background-color: #000;
	color: #BABABA;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
#loginPanel ul {
    background-color: black;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    position: absolute;
    padding-bottom: 5px;
    font-size: 11px;
    display: none;
    z-index: 1000;
}
#loginPanel:hover ul {
	display: block;
	cursor: pointer;
}
#loginPanel ul a {
    display: block;
    padding: 5px 10px;
    color: #999;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
#loginPanel ul a:hover {
    color: white
}
#loginPanel ul, #loginPanel span {
    width: 162px;
}
#loginPanel span {
    font-size: 11px;
    padding-left: 30px;
}
#content {
    margin: 50px 0 0;
    padding-bottom: 100px;
}
#mainContainer  {
    width: 1038px;
    margin: 0 auto;
}
#leftColumn {
    float: left;
    width: 728px;
}
#rightColumn {
    width: 300px;
    float: right;
}
#rightColumn .fixedWidth {
    width: 300px;
}
#footer {
    margin: 30px 0 20px;
    text-shadow: 0 1px #EEE;
    line-height: 1.5em;
    text-align: center
}
#footer a {
    color: #555;
    font-weight: bold;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
#footer a:hover {
    color: #BA0069;
}
#footer ul {
    list-style-type: none
}

#footer .links a {
    margin: 0 3px;
}
#footer .links a.first {
    margin-left: 0
}
a.colorful {
    color: #00A5F0
}
div.box {
    margin: 0 0 10px 0;
    padding: 10px 15px 5px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 3px #AAA;
    -moz-box-shadow: 0 0 3px #AAA;
    -webkit-box-shadow: 0 0 3px #AAA;
}
div.mainBox {
    padding: 5px 0 0;
}
div.mainBox h1 {
    font-size: 20px;
}
div.box h2, div.mainBox h2 {
    font-size: 14px;
    margin: 0 0 5px;
}
div.box h3, div.mainBox h3 {
    font-size: 17px;
    margin: 0 0 5px;
}
div.box h4, div.mainBox h4 {
    font-size: 14px;
    margin: 10px 0;
}
div.darkBox {
    background-color: #DEDEDE;
    text-shadow: 0 1px #EEE;
    box-shadow: 0 0 3px #888;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
}
div.fullWidth {
	width:100%;
}
.newVideo .hotVideos .videoItem {
    margin: 5px;
	width:30%;
	display:inline-block;
}
.newVideo .hotVideos .videoItem .thumb {
    position: relative;
}
.newVideo .hotVideos .videoItem .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.newVideo h3 {
    margin-bottom: 15px !important;
}
div.newVideo h2 {
    font-size: 14px;
    margin: 0 0 5px;
	min-height: 50px;
}
div.mainBox h2 {
    font-size: 14px;
    margin: 0 0 5px;
}
div.highlightBox {
    background-color: #FFFFB6
}
div.infoBox a {
    color: #00A5F0
}
div.infoBox ul {
    padding-left: 20px;
}
div.infoBox li {
    list-style-type: disc;
    margin: 5px 0
}
div.minHeightBox {
    min-height: 200px;
}
div.tips {
    background: #FF9;
    border: 1px solid #E6DB55;
    padding: 6px 10px;
    text-shadow: 0 1px white;
    font-size: 12px;
    display:block;
    min-height: 15px;
}
div.tips a {
    color: #00A5F0;
}
p.loading {
    text-align: center;
}
div.last {
    border-bottom: none;
    margin-bottom: 0
}
.windowContainer {
    display: none;
}
.windowContainer h3 {
    font-size: 18px;
}
.spaceBottom {
    margin-bottom: 10px;
}
/* Notification */
.notification
{
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.attention
{
    background: #fffbcc url('../images/admin/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}
.information
{
    background: #dbe3ff url('../images/admin/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}
.success
{
    background: #d5ffce url('../images/admin/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}
.error
{
    background: #ffcece url('../images/admin/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}
.notification div
{
    display: block;
    font-style: normal;
    padding: 10px 20px 10px 36px;
    line-height: 1.5em;
}
.notification .close
{
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url('../images/admin/icons/cross_grey_small.png') no-repeat;
    width: 18px;
    height: 18px;
}
.notification a {
    color: #00A5F0
}
/* Validation */
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    margin: 0 0 10px 0;
}
.validation-summary-errors li
{
    font-weight: normal;
    list-style-type: disc;
    margin: 5px 0 0 30px;
    color: red;
}
.validation-summary-valid
{
    display: none;
}
.viewSwitcher {
    text-align: center;
    padding-bottom: 10px;
}
.viewSwitcher a {
    color: #00A5F0;
    font-weight: bold;
}
/* Home page */
.listItemSeparator {
    height: 1px
}
.photoList .loading {
    margin-bottom: 20px;
}
.photoListItem {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding: 10px 0 20px;
}
/*.recommend {
    padding: 10px 0 10px;
    border: solid 1px #9cf;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F0F7F9;
}*/
.recommend .ads {
    float: left;
    width: 340px;
    margin-left: 5px;
}
.recommend .list {
    margin-left: 10px;
    float: left;
    width: 295px
}
.recommend .photoListItemSmall {
    border: none
}
.recommend .photoListItemSmall .thumbnail {
    overflow: visible
}
.recommend .photoListItemSmall .thumbnail img {
    margin: 0
}
.recommend .photoListItemSmall .info {
    width: 190px
}
.photoList .thumbnail {
    float: left;
    text-align: center;
    overflow: hidden
}
.photoList .thumbnail img {
    max-width: 400px;
    margin: 0 auto -30px;
}
.photoList .thumbnail img.videoIndicator {
    position: relative;
    top: -150px;
    display: block;
}
.photoList .info {
    margin-left: 410px;
    width: 318px;
    z-index: 1;
}
.photoList .description {
    font-size: 14px;
    margin: 0 0 10px;
}
.photoListItem .vote {
    height: 44px;
    width: 216px;
    margin: 10px 0 5px 0;
    padding: 0;
    border-radius: 5px;
    background-color: #F4F4F4;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -webkit-box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
}
.photoListItem .vote .voteUp, .photoListItem .vote .voteDown {
    float: left;
    width: 108px
}
.photoListItem .vote a {
    height: 44px;
    width: 108px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    display: block;
    border: none;
    overflow: hidden;
}
.photoListItem .vote a:hover {
    background-color: #E4E4E4;
    border-radius: 0 5px 5px 0;
}
.photoListItem .vote a.first:hover {
    border-radius: 5px 0 0 5px;
}
.photoListItem .vote a.upVoted, .photoListItem .vote a.downVoted {
}
.photoListItem .vote a.upVoted {
    background-color: #78FF94;
    border-radius: 0 5px 5px 0;
}
.photoListItem .vote a.downVoted {
    background-color: #FF94B3;
    border-radius: 5px 0 0 5px;
}
.photoListItem .vote a.first {
    border-right: 1px solid #DDD;
}
.photoListItem .vote a span {
    height: 20px;
    display: block;
    padding: 4px 0 0 27px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}
.photoListItem .vote .voteUp a span {
    background: url(../images/vote_icon.png) no-repeat transparent;
    margin-left: 27px;
}
.photoListItem .vote .voteDown a span {
    background: url(../images/vote_icon.png) no-repeat 0 -24px transparent;
    margin-left: 30px;
}
.photoList h2 {
    margin: 0 0 10px;
    line-height: 1.2em;
    word-wrap: break-word;
}
.uploader {
    margin-bottom: 3px;
    font-size: 11px;
    color: #7D7D7D
}
.uploader a {
    color: #00A5F0
}
.photoList .votePlz {
    font-weight: bold;
    color: #BA0069;
    font-size: 13px;
    margin-top: 7px
}
.photoList .stats {
    font-weight: bold;
    font-size: 15px;
    margin: 3px 5px 0 0;
    padding: 3px 0;
    height: 25px;
}
.photoList .stats .viewComments {
    float: left;
    margin-top: 4px;
}
.views {
    background: url(../images/view_icon.png) no-repeat transparent;
    padding-left: 18px;
	margin-right: 10px;
}
.comments {
    background: url(../images/comment_icon.png) no-repeat transparent;
    padding-left: 18px;
    margin-left: 5px;
    margin-right: 10px;
}
.favorite {
    font-size: 12px;
    line-height: 12px;
    color: #333;
    cursor: pointer;
}
.favorite:active, .favorite:hover, .favorite:focus {
    color: #333;
}
.favorite .fav {
    background: url(../images/favorites_icon.png) no-repeat transparent -12px 0;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
}
.favorite .fav.active {
    background: url(../images/favorites_icon.png) no-repeat transparent 0 0;
}
span.source {
    background: url(../images/source_icon.png) no-repeat transparent;
    padding-left: 18px;
    font-size: 14px;
    font-weight: bold;
}
.photoList .stats .comments {
    margin-left: 5px;
}
.likes {
    background: url(../images/like_icon.png) no-repeat transparent;
    padding-left: 18px;
}
.photoList .stats .likes {
    margin-left: 5px;
}
.photoList .stats .likesWrapper {
    margin-left: 9px;
    float: left;
    max-height: 20px;
}

span.pendingCount {
    font-size: 12px;
    position: relative;
    top: -8px;
    font-weight: normal;
}
#rightColumn .fixed {
    position: fixed;
    width: 300px
}
div.topUsers {
    font-weight: bold;
}
div.topUsers .item {
    float: left;
    width: 135px;
    margin-bottom: 8px
}
div.topUsers .itemWide
{
    width: 215px
}
div.topUsers .item img {
    width: 35px;
    height: 35px;
    float: left
}
div.topUsers .item .info {
    margin-left: 38px;
}
div.topUsers .name {
    display: block;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.topUsers span.likes {
    color: #333
}
h3.topUsers {
    background: url(../images/smile_icon.png) no-repeat transparent;
    padding-left: 22px;
    float: left;
}
ul.topUsersSort {
    float: right;
}
ul.topUsersSort li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}
ul.topUsersSort span {
    color: #00A5F0
}
ul.topUsersSortHome li {
    font-style: italic
}
ul.topUsersSortHome a.selected {
    color: #00A5F0;
}
div.moreTop {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}
a.nextListPage {
    float: left;
    width: 708px;
    color: white;
    display: none;
    margin-bottom: 10px;
}
div.plzVoteBottom {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
div.plzVoteBottom a {
    color: #00A5F0
}
/* Photo details */
div.photoDetails h1 {
    font-size: 18px;
    margin: 0 0 5px;
    line-height: 1.2em;
}
div.photoDetails .photoInfo {
    float: left;
    width: 545px;
}
div.photoDetails .uploader {
    float: left;
    margin-left: 10px;
    background-color: #EEE;
    padding: 5px 5px 5px 8px;
    width: 160px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #545454;
    margin-bottom: 5px;
}
div.photoDetails .uploader img {
    float: left;
    width: 30px;
    height: 30px;
}
div.photoDetails .uploader .info {
    float: left;
    margin-left: 3px;
}
div.photoDetails .uploader .info a {
    display: block;
    line-height: 13px;
}
div.report-actions {
    font-size: 13px;
    font-weight: bold;
}
div.report-actions a {
    color: #9b9797;
    display: block;
    margin-top: 5px;
}
div.report-actions a.duplicate {
    color: #333333;
}
div.adminActions {
    margin-bottom: 10px;
}
div.adminActions a {
    color: #00A5F0;
    margin-right: 10px;
}
div.adminActions a.disabled {
    color: black;
    cursor: default;
}
.photoListItem .adminActions {
    margin-top: 10px
}
div.photoImg {
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden
}
div.photoImg img {
    max-width: 650px;
    margin: 0 auto -30px;
}
div.commentContainer {
}
div.photoDetails .likeButton {
    padding: 10px 10px 5px;
    height: 25px;
    width: 708px;
    background-color: white;
    z-index: 2;
    background-color: #EEE;
    margin: 0 0 10px;
}
div.photoDetails .likeButtonVoting {
    background-color: #FF9;
    border: 1px solid #E6DB55;
}
div.photoDetails .likeButtonVoting .action{
    line-height: 22px;
    float: left;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
}
div.photoDetails .likeButton .text {
    line-height: 20px;
    font-weight: bold;
    color: #BA0069;
    float: left;
    padding-right: 5px;
    font-size: 15px;
}
div.photoDetails .likeButton .fbLikeButton {
    float: left
}
div.photoDetails .description {
    font-size: 14px;
    margin: 0 0 10px;
}
span.instruction {
    font-style: italic
}
div.photoDetails .stats {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
}
div.photoDetails .stats .comments {
    margin-left: 10px;
}
div.photoDetails div.source {
    margin: 5px 0;
}
div.photoDetails div.source .text {
    font-weight: normal;
}
div.photoDetails .stats .number {
    font-size: 16px;
    color: #BA0069
}
div.photoDetails .stats .text {
    font-weight: normal;
}
div.photoDetails .stats a {
    font-weight: normal;
}
div.photoDetails .navButtons {
    font-size: 14px;
    float: right;
    font-weight: bold;
    margin-top: 2px;
}
div.photoDetails .prev {
    background: url(../images/prev_icon.png) no-repeat scroll 0 -16px transparent;
    padding-left: 15px;
}
div.photoDetails .prev:hover {
    background-position: 0 0;
}
div.photoDetails .next {
    background: url(../images/next_icon.png) no-repeat scroll right -16px transparent;
    padding-right: 15px;
    margin-left: 10px;
}
div.photoDetails .next:hover {
    background-position: top right;
}
div.photoDetails .vote {
    float: left;
    height: 29px;
    width: 136px;
    margin: -5px 10px 0 0;
    padding: 0;
    border-radius: 5px;
    background-color: #F4F4F4;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -webkit-box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
}
div.photoDetails .vote .voteUp, div.photoDetails .vote .voteDown {
    float: left;
    width: 68px
}
div.photoDetails .vote a {
    height: 29px;
    width: 68px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    display: block;
    border: none;
    overflow: hidden;
}
div.photoDetails .vote a:hover {
    background-color: #E4E4E4;
    border-radius: 0 5px 5px 0;
}
div.photoDetails .vote a.first:hover {
    border-radius: 5px 0 0 5px;
}
div.photoDetails .vote a.upVoted {
    background-color: #78FF94;
    border-radius: 0 5px 5px 0;
}
div.photoDetails .vote a.downVoted {
    background-color: #FF94B3;
    border-radius: 5px 0 0 5px;
}
div.photoDetails .vote a.first {
    border-right: 1px solid #DDD;
}
div.photoDetails .vote a span {
    margin: 7px 0;
    height: 16px;
    display: block;
    padding-left: 19px;
    color: #333;
    font-weight: bold;
}
div.photoDetails .vote .voteUp a span {
    background: url(../images/vote_icon_small.png) no-repeat transparent;
    margin-left: 15px;
}
div.photoDetails .vote .voteDown a span {
    background: url(../images/vote_icon_small.png) no-repeat 0 -16px transparent;
    margin-left: 11px;
}
.voteOne .photoListItemSmall {
}

.photoListItemSmall {
    border-bottom: 1px solid #DDD;
    padding: 2px 0;
}
.photoListItemSmall .thumbnail {
    float: left;
    width: 100px;
    text-align: center
}
.photoListItemSmall .thumbnail img {
    max-width: 100px;
    max-height: 80px;
}
.photoListItemSmall .info {
    margin-left: 105px;
}
.photoListItemSmall .stats {
    font-weight: bold;
    font-size: 12px;
}
.photoListItemSmall .stats .comments {
    margin-left: 5px;
}
.photoListItemSmall .stats .likes {
    margin-left: 5px;
}
.photoListItemSmall .info h3 {
    font-size: 15px;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
.photoListItemSmall .info h2 {
    font-size: 15px;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}
.photoListItemSmall a:hover {
    color: #333;
}
.photoListItemSmall a:hover h3 {
    color: #BA0069;
}
.photoDetails .commentContainer h3 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin: 10px 0 5px;
}
.photoDetails .commentContainer h4 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin: 10px 0 5px;
}
.photoDetails .commentContainer .tipComment {
    margin-bottom: 5px;
}
.photoDetails .commentContainer .tipComment a {
    color: #00A5F0
}
.photoDetails .commentContainer .meo {
    color: #BA0069
}
.photoDetails .bottom-actions {
    float: right;
}
.photoDetails .bottom-actions a{
    margin-right: 10px;
}

.photoDetails .report {
    color: #BA0069;
    font-size: 12px;
    background: url(../images/report_icon.png) no-repeat transparent left center;
    padding-left: 14px;
    line-height: 12px;
    font-weight: bold
}
.photoDetails .featuredFanPage {
    background-color: #EEE;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 10px;
}
.photoDetails .featuredFanPage h4 {
    margin: 0 0 5px;
    color: #BA0069;
}
.photoList .featuredFanPage {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding: 10px 0 20px;
    /*height: 46px;*/
}
.photoList .featuredFanPage h4 {
    margin: 0 0 5px;
    color: #BA0069;
    font-size: 15px;
}
.photoList .featuredFanPage a {
    color: #00A5F0;
}
.photoList .featuredAds {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding: 10px 0 20px;
}
/* Upload photo */
ul.guidelines {
    list-style-type: disc;
    margin: 0 0 10px 15px;
    padding: 0;
}
ul.guidelines li {
    list-style-type: disc;
    margin-bottom: 5px;
}
/* Update user info */
.updateAccount img.avatar {
    display: block;
    margin: 10px 0
}
/* User info */
.userInfo .avatar img {
    width: 50px;
    height: 50px;
    float: left;
}
.userInfo .avatar .name {
    margin-left: 55px;
}
.userInfo .stats {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5em;
}
.userInfo a {
    color: #00A5F0
}
.userInfo .stats .number {
    color: #BA0068;
    font-size: 16px;
    font-weight: bold
}
.userInfo .about {
    margin-top: 10px;
    font-style: italic
}
.userInfo #wscaption {
   float:left;
   width:55px;
}
.userInfo #wslist {
   float:right;
   width:205px;
}
.userInfo .actionLinks {
    margin-top: 10px;
}
.userInfo .actionLinks a{
    margin-right: 10px;
}
.iconVoteUp, .iconVoteDown
{
    height:16px;
    width:16px;
    background: url(../images/vote_icon_small.png) no-repeat transparent;
    display:inline-block;
    cursor:pointer;
}
.iconVoteUp{
    background-position:0 0;
}
.iconVoteDown{
    background-position: 0px -16px;
}
/* Notifications */
.notifications a {
    color: #00A5F0
}
.notifications .notificationList li.last {
    border-bottom: none
}
.notifications .moreHolder {
    display: none
}
.notificationItem {
    background: none repeat-x scroll center bottom;
    clear: both;
    border-bottom: 1px solid #E9E9E9;
    padding: 5px 0;
}
.notificationItem .sentDatetime {
    color: #757575;
    font-style: italic;
    margin-left: 5px;
    font-size: 11px;
}
.notificationItem .notificationContent {
    background: url('../images/noti_icon.png') no-repeat;
    padding-left: 20px;
}
.notificationItem .noti_photoDeleted {
    background: url('../images/noti_photo_icon.png') no-repeat;
    padding-left: 20px;
}
.notificationItem .noti_likeReached, .notificationItem .noti_linkVoteReached {
    background: url('../images/noti_like_icon.png') no-repeat;
    padding-left: 20px;
}
.notificationItem .noti_commentReached, .notificationItem .noti_linkCommentReached {
    background: url('../images/noti_comment_icon.png') no-repeat;
    padding-left: 20px;
}
.notificationItem .noti_photoListed {
    background: url('../images/noti_photolisted_icon.png') no-repeat;
    padding-left: 20px;
}

.loadMore{
    background-color: #EDEFF4;
    border: 1px solid #D8DFEA;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: background-color .2s linear;
}
.loadMore:hover {
    background-color:#D8DFEA;
    text-decoration:none;
    cursor:pointer
}
.notifications .loadMore {
    margin-top: 20px
}
/* Faceboook help */
.facebookHelp {
    font-size: 14px;
}
.facebookHelp h2 {
    color: blue
}
.facebookHelp .underline {
    text-decoration: underline;
}
.facebookHelp .shareButton {
    float: left
}
.socialBox .media {
    border-bottom: 1px solid #AAA;
    padding: 5px 0;
}
.socialBox .media:last-child {
    border-bottom: none;
}
.socialBox .facebook {
    max-height: 20px;
}
.btn-social {
    line-height: 38px;
	height:40px;
	margin-bottom:10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    -moz-border-radius: 5px;
    -moz-transition: background-color .2s linear;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    text-align: center;
    min-width: 45px;
    cursor: pointer;
}
.btn-facebook {
    background: #3b5998;
    color: #fff;
    width: 49%;
}
.btn-facebook a{
    color: #fff;
}
.btn-twitter {
    background: #00acee;
    color: #fff;
	float:right;
	width: 49%;
}
.btn-twitter a{
	color: #fff;
}
.socialBox .mimo {
    border: none;
    padding-bottom: 0
}
/* Upload */
.upload .tips {
    margin: 10px 0 5px;
}
.upload .toggleMode {
    color: #00A5F0;
    font-size: 15px;
    float: right;
}
.upload .toggleMode span.new {
    color: red;
    font-size: 13px;
    position: relative;
    top: -6px;
}
/* Search */
.search {
    min-height: 400px;
}
.search input.query {
    height: 25px;
}
canvas {
  -webkit-transform: translateZ(0);
}
.rss-link {
    float: left;
    background: url(../images/rss.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.rageBuilderContainer select {
    padding: 3px;
}
/* Unread */
.unread .notLogin {
    margin: 10px 0 100px;
    font-weight: bold;
}
.unread .notLogin a {
    color: #00A5F0
}
.unread .noUnread {
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px 0;
    display: none
}
.unread .noUnread a {
    color: #00A5F0
}

.hotLinks .item {
    margin-bottom: 5px;
}

.hotLinks .item a {
    display: block;
}

.hotLinks .item a .thumb {
    float: left;
    margin-right: 5px;
    width: 70px;
}

.hotLinks .item a .thumb img {
    width: 70px;
    vertical-align: top;
}

.hotLinks .item a .info {
    margin-left: 75px;
}

.hotLinks .item a .info h4 {
    margin: 0 0 5px;
    font-size: 14px;
}

.hotLinks .item a .info .stats {
    font-weight: bold;
    font-size: 12px;
}

.hotLinks .item a .info .stats span,
.hotLinks .item a .info .stats span:active,
.hotLinks .item a .info .stats span:focus,
.hotLinks .item a .info .stats span:hover {
    margin-right: 5px;
    color: #333;
}

/*START POLLS*/
.box .poll-r {
  font-size: 14px;
}
.box .poll-r ul.answers {
  margin: 0 0 5px;
}
.box .poll-r ul.answers li {
  padding: 2px 0;
}
.box .poll-r ul.answers li a {
  color: #333;
  margin: 0;
  z-index: 10;
}
.box .poll-r ul.answers li.more {
  list-style-type: none;
}
.box .poll-r ul.answers li span {
  z-index: -100;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.box .poll-r ul.answers li span.o {
  background: url(../images/poll-option.png) top left no-repeat;
  padding-left: 20px;
}
.box .poll-r div {
  margin-bottom: 5px;
}
.box .poll-r a {
  color: #00A5F0;
  margin-right: 10px;
}
.box .poll-r .answer {
  margin-bottom: 5px;
}
.box .poll-r .answer .title.voted {
  font-weight: bold;
  font-style: italic;
}
.box .poll-r .answer .bar {
  height: 7px;
  background-color: #00a5f0;
  display: block;
}
.box .poll-r .more {
  font-style: italic;
}
.box .hotPolls .item a .thumb {
  float: left;
  width: 70px;
  margin-right: 5px;
  overflow: hidden;
}
.box .hotPolls .item a .thumb img {
  width: 70px;
}
.box .hotPolls .item a .info {
  margin-left: 75px;
}
.box .hotPolls .item a .info .stats span,
.box .hotPolls .item a .info .stats span:hover {
  margin-right: 5px;
  color: #333;
}
#header .slogan {
    float: right;
    margin-top: 12px;
    font-weight: bold;
}
/* video styles */
.videoList .last {
    border: none;
}

.videoListItem {
    border-bottom: 1px solid #DDD;
    padding: 0 0 20px;
    margin-bottom: 10px;
}
.videoListItem .stats {
    height: 24px;
    margin-bottom: 5px;
}
.stats {
    font-weight: bold;
}
.stats .numbers {
    float: left;
    margin-top: 3px;
    font-size: 15px;
}
.stats .views {
    background: url(../images/view_icon.png) no-repeat transparent;
    padding-left: 18px;
    margin-right: 10px;
}
.stats .comments {
    background: url(../images/comment_icon.png) no-repeat transparent;
    padding-left: 18px;
    margin-right: 10px;
}
.stats .likes {
    background: url(../images/like_icon.png) no-repeat transparent;
    padding-left: 18px;
}
.videoListItem .thumb {
    position: relative;
    height: 410px;
    overflow: hidden;
    background-color: black;
}
.videoListItem .thumb img {
    position: absolute;
    top: -68px;
    left: 0;
}
.videoListItem .thumb img.v {
	margin-top: -20px;
    height: 450px;
    top: 0;
}
.videoListItem .thumb .playIcon {
    background: url(../images/play_icon.png) no-repeat 0 0;
    top: 175px;
    left: 321px;
    width: 86px;
    height: 60px;
    position: absolute
}
.videoListItem .thumb .play:hover .playIcon {
   background: url(../images/play_icon.png) no-repeat 0 -60px; 
}

.videoListItem .thumbMix {
	float:left;
    position: relative;
    height: 265px;
    overflow: hidden;
    background-color: black;
	width: 400px;
}
.videoListItem .thumbMix img {
    position: absolute;
    top: -34px;
    left: 0;
	height: 290px;
}
.videoListItem .thumbMix img.v {
	margin-top: -15px;
    top: 0;
}

.videoListItem .thumbMix .playIcon {
    background: url(../images/play_icon.png) no-repeat 0 0;
    top: 95px;
    left: 169px;
    width: 86px;
    height: 60px;
    position: absolute
}
.videoListItem .thumbMix .play:hover .playIcon {
   background: url(../images/play_icon.png) no-repeat 0 -60px; 
}

.videoListItem .info {
    margin-left: 410px;
    width: 318px;
    z-index: 1;
}

.videoListItem .statsMix {
	font-weight: bold;
    font-size: 15px;
    margin: 3px 5px 0 0;
    padding: 3px 0;
    height: 25px;	
}

.videoListItem .statsMix .viewComments {
    float: left;
    margin-top: 4px;
}

.videoListItem .statsMix .likesWrapper {
    margin-left: 9px;
    float: left;
    max-height: 20px;
}

a.nextListPage {    
    display: block;
    color: white;
    margin-bottom: 10px;
}
.videoListItem .duration {
    right: 5px;
    bottom: 5px;
    position: absolute;
    padding: 1px 5px;
    font-weight: bold;
    font-size: 13px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
}
.videoList h2 {
    line-height: 1.2em;
    margin: 5px 0 5px;
}
.videoList .ads {
    text-align: center;
    margin-top: 5px;
}
/* Video details */
div.videoDetails h1 {
    font-size: 20px;
    line-height: 1.2em;
    margin: 10px 0;
}
div.videoDetails h3 {
    margin: 10px 0 5px;
}
.videoDetails .stats {
    height: 24px;
    margin-bottom: 10px;
}
.videoDetails .player {
    position: relative
}
.videoDetails .player .video {
    margin: 0 auto 10px;
    width: 780px;
    height: 438px;
}
.videoDetails .player .prev, .videoDetails .player .next {
    display: block;
    height: 438px;
    width: 90px;
    position: absolute;
    text-indent: -999px;
    overflow: hidden;
    top: 0;
}
.videoDetails .player .prev {
    left: 0;
}
.videoDetails .player .next {
    right: 0;
}
.videoDetails .player .icon {
    width: 30px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -34px;
}
.videoDetails .player .prev .icon {
    background: url(../images/nav_icon.png) no-repeat 0 0;
}
.videoDetails .player .prev:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -48px;
}
.videoDetails .player .next .icon {
    left: auto;
    right: 10px;
    background: url(../images/nav_icon.png) no-repeat 0 -96px;
}
.videoDetails .player .next:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -144px;
}
.videoDetails .recommend {
}
.recommmendItem {
    margin-bottom: 10px;
}
.recommmendItem a {
    display: block;
    color: #333
}
.recommmendItem .thumb {
    position: relative;
    float: left;
}
.recommmendItem .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.recommmendItem .info {
    margin-left: 145px;   
}
.recommmendItem .stats {
    height: auto;
    margin: 6px 0 0;
    color: #707070;
    font-weight: normal;
}
.recommmendItem .stats .views, .recommmendItem .stats .comments, .recommmendItem .stats .likes {
    background: url(../images/stats_icons.png?v=2) no-repeat transparent;
    padding: 0 0 0 16px;
    margin-right: 5px;
    line-height: 14px;
    display: inline-block;
}
.recommmendItem .stats .views {
}
.recommmendItem .stats .comments {
    background-position: 0 -14px;
}
.recommmendItem .stats .likes {
    background-position: 0 -28px;
}
.recommmendItem .duration, .recommmendItem .new, .recommmendItem .hot,
.videoDetails .recommendItemHor .duration, .videoDetails .recommendItemHor .new, .videoDetails .recommendItemHor .hot,
.hasDuration .duration, .hasDuration .new, .hasDuration .hot  {
    right: 2px;
    bottom: 2px;
    position: absolute;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    line-height: 1em;
    opacity: 0.85;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
    text-transform: lowercase
}
.recommmendItem .new, .videoDetails .recommendItemHor .new, .hasDuration .new {
    left: 2px;
    right: inherit;
    background-color: green;
}
.recommmendItem .hot, .videoDetails .recommendItemHor .hot, .hasDuration .hot {
    left: 2px;
    right: inherit;
    background-color: red;
}
.recommmendItem h4 {
    margin: 0;
    font-size: 13px;
}
.socialBox h4 {
    margin: 0;
}
.socialBox .media {
    border-bottom: 1px solid #AAA;
    padding: 5px 0;
}
.videoDetails .statsContent {
    display: inline-block;
}
.videoDetails .statsContent .fb-like {
    float: left;
    width: 85px;
    text-align: left;
}
.videoDetails .fp {
    height: 100px;
}
.videoDetails .fp h4 {
    margin: 0 0 5px;
    color: #BA0069;
    font-size: 14px;
}
.videoDetails .admin {
    margin-bottom: 10px;
}
.videoDetails .admin a {
    color: #00A5F0;
    margin-right: 10px;
}
.videoDetails .navigation {
    float: right;
    margin-top: 14px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
.videoDetails .navigation .next {
    background: url(../images/next_icon.png) no-repeat scroll right;
    padding-right: 15px;
}
.videoDetails .recommendHor {
    
}
.videoDetails .recommendItemHor {
    float: left;
    width: 236px;
    margin-right: 10px;
}
.videoDetails .recommendItemHorLast {
    margin-right: 0 !important;
}
.videoDetails .recommendItemHor .thumb {
    position: relative;
    float: left;
}
.videoDetails .recommendItemHor .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.videoDetails .recommendItemHor .info {
    float: left;
}
.videoDetails .recommendItemHor h4 {
    margin: 5px 0;
    font-size: 13px;
}
.videoDetails .recommendHor a {
    display: block;
}
.videoDetails .recommendHor .thumb img {
    width: 236px;
    height: 133px;
}
.videoDetails .featured {
    width: 336px;
    height: 189px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.videoDetails .featured a {
    display: block;
}
.videoDetails .featured img.thumb {
    width: 336px;
    height: 252px;
    margin-top: -32px;
    display: inline-block;
    vertical-align: middle;
}
.videoDetails .featured img.thumb.v {
    margin-top: 0;
}
.videoDetails .featured .icon {
    background: url(../images/play_icon_watermark_small.png) no-repeat 0 0;
    background-size: contain;
    top: 70px;
    left: 144px;
    width: 48px;
    height: 48px;
    position: absolute;
}
.videoDetails .featured .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 330px;
    text-align: center;
    line-height: 1em;
    padding: 5px 3px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    background-color: rgba(255,0,0,0.6);
    margin: 0;
}
.videoDetails .featured2 .title {
    background-color: rgba(0,0,0,0.6);
}
.videoDetails .featured .duration, .videoDetails .featured .hot {
    font-size: 13px;
}
.videoDetails h3.hotnow {
    margin: 0 0 10px;
    font-size: 16px;
}
.videoDetails .mainInfo {
    float: left;
    width: 478px;
}
.videoDetails .shareBig {
    display: inline-block;
    background: url(../images/share_big.png) no-repeat 0 0;
    width: 245px;
    height: 40px;
    float: right;
    margin-top: 5px;
}
.videoDetails .shareBig:hover {
    background: url(../images/share_big.png) no-repeat 0 -40px;
}
/* Video details 2 */
.videoDetails2 h1 {
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    margin: 0 0 5px;
}
.videoDetails2 h3 {
    margin: 7px 0;
}
.videoDetails2 .stats {
    height: 24px;
    text-align: center
}
.videoDetails2 .statsContent {
    display: inline-block
}
.videoDetails2 .stats .fb-like {
    float: left;
    width: 80px;
}
.videoDetails2 .player {
    position: relative
}
.videoDetails2 .player .video {
    margin: 0 auto 10px;
    width: 780px;
    height: 438px;
}
.videoDetails2 .player .prev, .videoDetails2 .player .next {
    display: block;
    height: 438px;
    width: 90px;
    position: absolute;
    text-indent: -999px;
    overflow: hidden;
    top: 0;
}
.videoDetails2 .player .prev {
    left: 0;
}
.videoDetails2 .player .next {
    right: 0;
}
.videoDetails2 .player .icon {
    width: 30px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -34px;
}
.videoDetails2 .player .prev .icon {
    background: url(../images/nav_icon.png) no-repeat 0 0;
}
.videoDetails2 .player .prev:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -48px;
}
.videoDetails2 .player .next .icon {
    left: auto;
    right: 10px;
    background: url(../images/nav_icon.png) no-repeat 0 -96px;
}
.videoDetails2 .player .next:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -144px;
}
.videoDetails2 .commentContainer {
    float: left
}
.videoDetails2 .recommend {
    margin-left: 660px;
}
.videoDetails2 .recommmendItem {
    margin-bottom: 10px;
    width: 336px;
}
.videoDetails2 .recommmendItem a {
    display: inline-block;
    color: #333
}
.videoDetails2 .recommmendItem .thumb {
    position: relative;
    float: left;
}
.videoDetails2 .recommmendItem .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.videoDetails2 .recommmendItem .info {
    margin-left: 125px;   
}
.videoDetails2 .recommend .stats {
    height: auto;
    margin: 6px 0 0;
    color: #707070;
    font-weight: normal;
    text-align: left;
}
.videoDetails2 .recommend .stats .views, .videoDetails2 .recommend .stats .comments, .videoDetails2 .recommend .stats .likes {
    background: url(../images/stats_icons.png?v=2) no-repeat transparent;
    padding: 0 0 0 16px;
    margin-right: 5px;
    line-height: 14px;
    display: inline-block;
}
.videoDetails2 .recommend .stats .views {
}
.videoDetails2 .recommend .stats .comments {
    background-position: 0 -14px;
}
.videoDetails2 .recommend .stats .likes {
    background-position: 0 -28px;
}
.videoDetails2 .recommmendItem .duration, .videoDetails2 .recommmendItem .new {
    right: 2px;
    bottom: 2px;
    position: absolute;
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
}
.videoDetails2 .recommmendItem .new {
    left: 2px;
    right: inherit;
    background-color: red;
}
.videoDetails2 .recommmendItem h4 {
    margin: 0;
    font-size: 13px;
}
.videoDetails2 .fp h4 {
    margin: 0
}
.videoDetails2 .videoInfo {
    width: 780px;
    margin: 0 auto;
}
.videoDetails2 .videoInfo h1 {
    float: left;
    max-width: 610px;
    text-align: left;
}
.videoDetails2 .videoInfo .stats {
    float: right;
}
.fbShareButton {
    position: relative;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.fbShareButton .main {
    background: #4c69ba;
    background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    height: 14px;
    line-height: 20px;
    text-shadow: 0 -1px 0 #354c8c;
    cursor: pointer;
    padding: 3px 5px 3px 3px;
    float: left;
    display: inline-block;
}
.fbShareButton .main:hover {
    background:#5b7bd5;
    background:-webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
    background:-webkit-linear-gradient(#5b7bd5, #4864b1);
    border-bottom-color:#41599f;
    border-left-color:#4961a8;
    border-right-color:#4961a8;
    border-top-color:#5874c3;
    -webkit-box-shadow:inset 0 0 1px #607fd6
}
.fbShareButton .main .buttonIcon {
    background: url(../images/fbicon2.png) no-repeat transparent;
    display: inline-block;
    height: 14px;
    width: 14px;
    float: left;
}
.fbShareButton .main .text {
    margin-left: 2px;
    float: left;
    line-height: 1em;
    margin-top: 2px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-shadow: 0 -1px 0 #354c8c;
}
.fbShareButton .countWrapper {
    float: left;
}
.fbShareButton .count {
    background: #fff;
    border: 1px solid #898f9c;
    height: 14px;
    line-height: 14px;
    margin-left: 6px;
    min-width: 15px;
    padding: 1px 2px;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 11px;
    float: left;
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #6a7180;
    height: auto;
    line-height: 18px;
    padding: 0 3px;
}
.fbShareButton .countArr {
    height: 0;
    left: 2px;
    position: relative;
    top: 5px;
    width: 5px;
    z-index: 2;
}
.fbShareButton .countArr s, .fbShareButton .countArr i {
    border-color: transparent #898f9c transparent;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}
.fbShareButton .countArr i {
    border-right-color: #fff;
    left: 2px;
    top: -7px;
}
.videoDetails .fbShareButton {
    float: left;
    margin-right: 10px;
}
.videoListItem .fbShareButton {
    float: left;
    margin-right: 10px;
}
.btn-social {
    line-height: 38px;
    height:40px;
    margin-bottom:10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    -moz-border-radius: 5px;
    -moz-transition: background-color .2s linear;
    -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .4) inset, 0 1px #fff;
    text-align: center;
    min-width: 45px;
    cursor: pointer;
}
.btn-facebook {
    background: #3b5998;
    color: #fff;
    width: 49%;
}
.btn-facebook a{
    color: #fff;
}
.btn-twitter {
    background: #00acee;
    color: #fff;
    float:right;
    width: 49%;
}
.btn-twitter a{
    color: #fff;
}
.btn-twitter:hover {
    background-color: #21c2ff;
}
.btn-facebook:hover {
    background-color:#4c70ba;
}

/* Video details */
div.videoDetails h1 {
    font-size: 20px;
    line-height: 1.2em;
    margin: 10px 0;
}
div.videoDetails h3 {
    margin: 10px 0 5px;
}
.videoDetails .stats {
    height: 24px;
    margin-bottom: 10px;
}
.videoDetails .player {
    position: relative
}
.videoDetails .player .video {
    margin: 0 auto 10px;
    width: 780px;
    height: 438px;
}
.videoDetails .player .prev, .videoDetails .player .next {
    display: block;
    height: 438px;
    width: 90px;
    position: absolute;
    text-indent: -999px;
    overflow: hidden;
    top: 0;
}
.videoDetails .player .prev {
    left: 0;
}
.videoDetails .player .next {
    right: 0;
}
.videoDetails .player .icon {
    width: 30px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -34px;
}
.videoDetails .player .prev .icon {
    background: url(../images/nav_icon.png) no-repeat 0 0;
}
.videoDetails .player .prev:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -48px;
}
.videoDetails .player .next .icon {
    left: auto;
    right: 10px;
    background: url(../images/nav_icon.png) no-repeat 0 -96px;
}
.videoDetails .player .next:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -144px;
}
.videoDetails .recommend {
}
.recommmendItem {
    margin-bottom: 10px;
}
.recommmendItem a {
    display: block;
    color: #333
}
.recommmendItem .thumb {
    position: relative;
    float: left;
}
.recommmendItem .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.recommmendItem .info {
    margin-left: 145px;   
}
.recommmendItem .stats {
    height: auto;
    margin: 6px 0 0;
    color: #707070;
    font-weight: normal;
}
.recommmendItem .stats .views, .recommmendItem .stats .comments, .recommmendItem .stats .likes {
    background: url(../images/stats_icons.png?v=2) no-repeat transparent;
    padding: 0 0 0 16px;
    margin-right: 5px;
    line-height: 14px;
    display: inline-block;
}
.recommmendItem .stats .views {
}
.recommmendItem .stats .comments {
    background-position: 0 -14px;
}
.recommmendItem .stats .likes {
    background-position: 0 -28px;
}
.recommmendItem .duration, .recommmendItem .new, .recommmendItem .hot,
.videoDetails .recommendItemHor .duration, .videoDetails .recommendItemHor .new, .videoDetails .recommendItemHor .hot,
.hasDuration .duration, .hasDuration .new, .hasDuration .hot  {
    right: 2px;
    bottom: 2px;
    position: absolute;
    padding: 1px 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    line-height: 1em;
    opacity: 0.85;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
    text-transform: lowercase
}
.recommmendItem .new, .videoDetails .recommendItemHor .new, .hasDuration .new {
    left: 2px;
    right: inherit;
    background-color: green;
}
.recommmendItem .hot, .videoDetails .recommendItemHor .hot, .hasDuration .hot {
    left: 2px;
    right: inherit;
    background-color: red;
}
.recommmendItem h4 {
    margin: 0;
    font-size: 13px;
}
.socialBox h4 {
    margin: 0;
}
.socialBox .media {
    border-bottom: 1px solid #AAA;
    padding: 5px 0;
}
.videoDetails .statsContent {
    display: inline-block;
}
.videoDetails .statsContent .fb-like {
    float: left;
    width: 85px;
    text-align: left;
}
.videoDetails .fp {
    height: 100px;
}
.videoDetails .fp h4 {
    margin: 0 0 5px;
    color: #BA0069;
    font-size: 14px;
}
.videoDetails .admin {
    margin-bottom: 10px;
}
.videoDetails .admin a {
    color: #00A5F0;
    margin-right: 10px;
}
.videoDetails .navigation {
    float: right;
    margin-top: 14px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
.videoDetails .navigation .next {
    background: url(../images/next_icon.png) no-repeat scroll right;
    padding-right: 15px;
}
.videoDetails .recommendHor {
    
}
.videoDetails .recommendItemHor {
    float: left;
    width: 236px;
    margin-right: 10px;
}
.videoDetails .recommendItemHorLast {
    margin-right: 0 !important;
}
.videoDetails .recommendItemHor .thumb {
    position: relative;
    float: left;
}
.videoDetails .recommendItemHor .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.videoDetails .recommendItemHor .info {
    float: left;
}
.videoDetails .recommendItemHor h4 {
    margin: 5px 0;
    font-size: 13px;
}
.videoDetails .recommendHor a {
    display: block;
}
.videoDetails .recommendHor .thumb img {
    width: 236px;
    height: 133px;
}
.videoDetails .featured {
    width: 336px;
    height: 189px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.videoDetails .featured a {
    display: block;
}
.videoDetails .featured img.thumb {
    width: 336px;
    height: 252px;
    margin-top: -32px;
    display: inline-block;
    vertical-align: middle;
}
.videoDetails .featured img.thumb.v {
    margin-top: 0;
}
.videoDetails .featured .icon {
    background: url(../images/play_icon_watermark_small.png) no-repeat 0 0;
    background-size: contain;
    top: 70px;
    left: 144px;
    width: 48px;
    height: 48px;
    position: absolute;
}
.videoDetails .featured .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 330px;
    text-align: center;
    line-height: 1em;
    padding: 5px 3px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    background-color: rgba(255,0,0,0.6);
    margin: 0;
}
.videoDetails .featured2 .title {
    background-color: rgba(0,0,0,0.6);
}
.videoDetails .featured .duration, .videoDetails .featured .hot {
    font-size: 13px;
}
.videoDetails h3.hotnow {
    margin: 0 0 10px;
    font-size: 16px;
}
.videoDetails .mainInfo {
    float: left;
    width: 478px;
}
.videoDetails .shareBig {
    display: inline-block;
    background: url(../images/share_big.png) no-repeat 0 0;
    width: 245px;
    height: 40px;
    float: right;
    margin-top: 5px;
}
.videoDetails .shareBig:hover {
    background: url(../images/share_big.png) no-repeat 0 -40px;
}
/* Video details 2 */
.videoDetails2 h1 {
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    margin: 0 0 5px;
}
.videoDetails2 h3 {
    margin: 7px 0;
}
.videoDetails2 .stats {
    height: 24px;
    text-align: center
}
.videoDetails2 .statsContent {
    display: inline-block
}
.videoDetails2 .stats .fb-like {
    float: left;
    width: 80px;
}
.videoDetails2 .player {
    position: relative
}
.videoDetails2 .player .video {
    margin: 0 auto 10px;
    width: 780px;
    height: 438px;
}
.videoDetails2 .player .prev, .videoDetails2 .player .next {
    display: block;
    height: 438px;
    width: 90px;
    position: absolute;
    text-indent: -999px;
    overflow: hidden;
    top: 0;
}
.videoDetails2 .player .prev {
    left: 0;
}
.videoDetails2 .player .next {
    right: 0;
}
.videoDetails2 .player .icon {
    width: 30px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -34px;
}
.videoDetails2 .player .prev .icon {
    background: url(../images/nav_icon.png) no-repeat 0 0;
}
.videoDetails2 .player .prev:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -48px;
}
.videoDetails2 .player .next .icon {
    left: auto;
    right: 10px;
    background: url(../images/nav_icon.png) no-repeat 0 -96px;
}
.videoDetails2 .player .next:hover .icon {
    background: url(../images/nav_icon.png) no-repeat 0 -144px;
}
.videoDetails2 .commentContainer {
    float: left
}
.videoDetails2 .recommend {
    margin-left: 660px;
}
.videoDetails2 .recommmendItem {
    margin-bottom: 10px;
    width: 336px;
}
.videoDetails2 .recommmendItem a {
    display: inline-block;
    color: #333
}
.videoDetails2 .recommmendItem .thumb {
    position: relative;
    float: left;
}
.videoDetails2 .recommmendItem .thumb img {
    display: inline-block;
    vertical-align: middle;
}
.videoDetails2 .recommmendItem .info {
    margin-left: 125px;   
}
.videoDetails2 .recommend .stats {
    height: auto;
    margin: 6px 0 0;
    color: #707070;
    font-weight: normal;
    text-align: left;
}
.videoDetails2 .recommend .stats .views, .videoDetails2 .recommend .stats .comments, .videoDetails2 .recommend .stats .likes {
    background: url(../images/stats_icons.png?v=2) no-repeat transparent;
    padding: 0 0 0 16px;
    margin-right: 5px;
    line-height: 14px;
    display: inline-block;
}
.videoDetails2 .recommend .stats .views {
}
.videoDetails2 .recommend .stats .comments {
    background-position: 0 -14px;
}
.videoDetails2 .recommend .stats .likes {
    background-position: 0 -28px;
}
.videoDetails2 .recommmendItem .duration, .videoDetails2 .recommmendItem .new {
    right: 2px;
    bottom: 2px;
    position: absolute;
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    display: inline-block;
}
.videoDetails2 .recommmendItem .new {
    left: 2px;
    right: inherit;
    background-color: red;
}
.videoDetails2 .recommmendItem h4 {
    margin: 0;
    font-size: 13px;
}
.videoDetails2 .fp h4 {
    margin: 0
}
.videoDetails2 .videoInfo {
    width: 780px;
    margin: 0 auto;
}
.videoDetails2 .videoInfo h1 {
    float: left;
    max-width: 610px;
    text-align: left;
}
.videoDetails2 .videoInfo .stats {
    float: right;
}
.quizNhe {
    background: url(../images/quiznhe.png?v=1) no-repeat 49px 9px;
}

div.videoListItem .stats .vote {
    float: left;
    height: 29px;
    width: 136px;
    margin: -5px 10px 0 0;
    padding: 0;
    border-radius: 5px;
    background-color: #F4F4F4;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -webkit-box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
}
.videoListItem .voteVideo {
	margin: 8px 0px 12px;
}

.videoListItem .voteBar {
	margin-bottom:15px;
	background-color: #FF9;
	border: 1px solid #E6DB55;
	padding: 10px 10px 5px;
}
div.videoListItem .voteVideo .vote .voteUp, div.videoListItem .voteVideo .vote .voteDown {
    float: left;
    width: 108px;
}
div.videoListItem .voteVideo .vote a {
    height: 44px;
    width: 108px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    display: block;
    border: none;
    overflow: hidden;
}
div.videoListItem .voteVideo .vote a:hover {
    background-color: #E4E4E4;
    border-radius: 0 5px 5px 0;
}
div.videoListItem .voteVideo .vote a.first:hover {
    border-radius: 5px 0 0 5px;
}
div.videoListItem .voteVideo .vote a.upVoted {
    background-color: #78FF94;
    border-radius: 0 5px 5px 0;
}
div.videoListItem .voteVideo .vote a.downVoted {
    background-color: #FF94B3;
    border-radius: 5px 0 0 5px;
}
div.videoListItem .voteVideo .vote a.first {
    border-right: 1px solid #DDD;
}
div.videoListItem .voteVideo .vote a span {
    height: 20px;
    display: block;
    padding: 4px 0 0 27px;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}
div.videoListItem .voteVideo .vote .voteUp a span {
    background: url(../images/vote_icon.png) no-repeat 0 -24px transparent;
    margin-left: 15px;
}
div.videoListItem .voteVideo .vote .voteDown a span {
    background: url(../images/vote_icon.png) no-repeat 0 -24px transparent;
    margin-left: 30px;
}
div .videoListItem .voteVideo .fb-like {
	float:left;
	margin-right: 10px;
}
.videoListItem .adminActions {
    margin-top: 10px;
}
div .videoListItem .voteVideo .action {
	line-height: 22px;
    float: left;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
}
div .videoListItem .voteVideo .text {
	line-height: 20px;
    font-weight: bold;
    color: #BA0069;
    float: left;
    padding-right: 5px;
    font-size: 15px;
}

.videoListItem .voteVideo .report {
    color: #BA0069;
    font-size: 12px;
    background: url(../images/report_icon.png) no-repeat transparent left center;
    padding-left: 14px;
    line-height: 20px;
    font-weight: bold;
}
.videoListItem .voteVideo .videoUploader {
	margin-right: 15px;
	float: left;
    font-size: 11px;
    color: #7D7D7D;
}
.videoListItem .voteVideo .videoUploader a {
	color: #00A5F0;
}
.videoListItem .thumbArea{
	width:380px;
	height:259px;
}
.videoListItem .vote {
    height: 44px;
    width: 216px;
    margin: 10px 0 5px 0;
    padding: 0;
    border-radius: 5px;
    background-color: #F4F4F4;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
    -moz-box-shadow: 0 0 0 1px #fff inset, 0 1px 2px #eee;
    -webkit-box-shadow: 0 0 0 1px white inset, 0 1px 2px #EEE;
}
.tag {
	margin:15px 0px 10px;
}
.tag span {
	font-weight: bold;
	font-size: 14px;
}
.tag a {
	color: #747474;
	font-size: 12px;
	font-weight: bold;
}
.thumbTag {
	width:380px;
	height:285px;
}
.thumbVideoTag {
	width:380px;
}
.AdsLink {
    z-index:10000;
    cursor: default;
    color: #fff;
    position:absolute;
    top: 40%;
    left: 38%;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}
#tinymce table{
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0.5px solid #000;
}
#tinymce table td{
    border: 0.5px solid #000;
    padding: 5px 10px 5px 10px;
}
.event_news h1 {
    text-align:center;
}
.event_news .news-item {
	border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    padding: 10px 80px 20px;
	display: inline-block;
}
.event_news .posts_thumb {
    float: left;
    text-align: center;
    overflow: hidden;
}
.event_news .posts_thumb img{
	max-width: 200px;
    margin: 0 auto;
}
.event_news .posts_info {
    margin-left: 220px;
    width: 318px;
    z-index: 1;
}
.event_news .posts_info a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color .2s linear;
}
.event_news .posts_info h2 {
    margin: 0 0 10px;
    line-height: 1.2em;
    word-wrap: break-word;
}
.event_news .stats{
    font-weight: bold;
    font-size: 15px;
    margin: 3px 5px 0 0;
    padding: 3px 0;
    height: 25px;
}
.event_news .stats .viewComments {
    float: left;
    margin-top: 4px;
    margin-left: 22px;
}
.event_news .stats .views {
    background: url(../images/view_icon.png) no-repeat transparent;
    padding-left: 18px;
    margin-right: 10px;
}
.event_news .stats .comments {
    background: url(../images/comment_icon.png) no-repeat transparent;
    padding-left: 18px;
    margin-right: 10px;
}
.event_news .stats .likesWrapper {
    margin-left: 9px;
    float: left;
    max-height: 20px;
}
.event_news .posts_preview {
    margin-left: 220px;
    width: 318px;
    z-index: 1;
}
.event_news .posts_time {
    margin-left: 220px;
    width: 318px;
    z-index: 1;
}
#tinymce tr:first-child td {
    background-color:darkseagreen;
}

#tinymce {
    font-size: 14px;
}

.hotTag {
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.hotTag ul {
    width: 150px;
    top: 23px !important;
}

.hotTag:hover  {
    display: block;
    cursor: pointer;
}
.hotTag:hover ul {
	display: block;
	cursor: pointer;
}
.hotTag ul a:hover {
    color: white;
    background-color: #646464;
}
.tag-footer {
    font-size:14px;
    font-weight: bold;
    margin-top: 15px;
}

.tag-footer span {
    background: #DEDEDE;
    line-height: 20px;
    padding: 4px 5px 4px 12px;
    position: absolute;
    left: 0px;
    position: relative;
    text-transform: uppercase;
    margin-right:15px;
}
.tag-footer span:after {
    position: absolute;
    content: '';
    margin-left:4px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #DEDEDE;
    margin-top: -2.5px;
}