@charset "utf-8";
/* 全局样式 网站公共开始 */
body { font-family: \5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1;line-height:1.5; font-size:12px;  color: #333;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }
h1,h2 { font-weight: normal;}
ol, ul { margin: 0; padding: 0; list-style-type: none; }
em,i { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0 }
img { border: 0; }
input, button, select, label, img,  { vertical-align: middle; }
input, button, select, textarea { outline: none; font-size: 100%; font-family: inherit; }
a { color: #333; text-decoration: none; -webkit-transition: color 0.2s,background-color 0.2s; transition: color 0.2s,background-color 0.2s;}
a:hover { color: #1291ea;}
/*字体*/
@font-face {
	font-family: 'ficon';
	src: url('../fonts/ficon.eot');
	src: url('../fonts/ficon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ficon.woff') format('woff'),
		 url('../fonts/ficon.ttf') format('truetype'),
		 url('../fonts/ficon.svg#ficon') format('svg');
	font-style: normal; font-weight: normal; }
.ffi { font-family: ficon; }

@font-face {
  font-family: 'ficon-cjyjy';
  src:  url('../fonts/ficon-cjyjy.eot');
  src:  url('../fonts/ficon-cjyjy.eot#iefix') format('embedded-opentype'),
    url('../fonts/ficon-cjyjy.ttf') format('truetype'),
    url('../fonts/ficon-cjyjy.woff') format('woff'),
    url('../fonts/ficon-cjyjy.svg#ficon-cjyjy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before {
  font-family: 'ficon-cjyjy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.icon-xfhybg:before { content: "\e900"; }
.icon-syjhs:before { content: "\e901"; }
.icon-kxxbg:before { content: "\e902"; }
.icon-yqgh:before { content: "\e903"; }
.icon-hlwj:before { content: "\e904"; }
.icon-qzsjk:before { content: "\e905"; }



/*定位，浮动，高宽*/
.db { display: block; }
.dn { display: none; }
.di { display: inline; }
.dib { display: inline-block; }
.pa { position: absolute; }
.pr { position: relative; }
.t0 { top: 0;}
.r0 { right: 0;}
.b0 { bottom: 0;}
.l0 { left: 0;}
.l { float: left; }
.r { float: right; }
.w100p { width: 100%;}
.w1000 { width: 1000px; }
.w740 { width: 740px;}
.w360 { width: 360px;}
.w340 { width: 340px;}
.w310 { width: 310px;}
.h160 { height: 160px; overflow: hidden;}
.h4p5e { height: 4.5em; overflow: hidden;}
.h3e { height: 3em; overflow: hidden;}
.h16 { height: 16px; overflow: hidden;}
.h20 { height: 20px; overflow: hidden; }
.h24 { height: 24px; overflow: hidden; }
.h30 { height: 30px; overflow: hidden; }
.h35 { height: 35px; overflow: hidden; }
.h36 { height: 36px; overflow: hidden; }
.h40 { height: 40px; overflow: hidden; }
.h60 { height: 60px; overflow: hidden;}
.h72 { height: 72px; overflow: hidden;}
.mh40 { max-height: 40px; overflow: hidden; _height: 40px; }
.mh48 { max-height: 48px; overflow: hidden; _height: 48px; }
.mh60 { max-height: 60px; overflow: hidden; _height: 60px; }
.mh72 { max-height: 72px; overflow: hidden; _height: 72px;}
.mh80 { max-height: 80px; overflow: hidden; _height: 80px; }
.lh16 { line-height: 16px;}
.lh20 { line-height: 20px; }
.lh24 { line-height: 24px; }
.lh30 { line-height: 30px; }
.lh35 { line-height: 35px; }
.lh40 { line-height: 40px; }
/*外边距，内边距*/
.mlra { margin-left: auto; margin-right: auto;}
.mlr3 { margin-left: 3px; margin-right: 3px; }
.mlr5 { margin-left: 5px; margin-right: 5px; }
.mlr10 { margin-left: 10px; margin-right: 10px; }
.mlr15 { margin-left: 15px; margin-right: 15px; }
.mlr20 { margin-left: 20px; margin-right: 20px; }
.mtb3 { margin-top: 3px; margin-bottom: 3px; }
.mtb5 { margin-top: 5px; margin-bottom: 5px; }
.mtb10 { margin-top: 10px; margin-bottom: 10px; }
.mtb15 { margin-top: 15px; margin-bottom: 15px; }
.mtb20 { margin-top: 20px; margin-bottom: 20px; }
.mtb30 { margin-top: 30px; margin-bottom: 30px; }
.mtb40 { margin-top: 40px; margin-bottom: 40px; }
.mt1n { margin-top: -1px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }
.mr3 { margin-right: 3px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr40 { margin-right: 40px; }
.mb1n { margin-bottom: -1px; }
.mb3 { margin-bottom: 3px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.ml1n { margin-left: -1px; }
.ml3 { margin-left: 3px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml220 { margin-left: 220px;}
.mr1n { margin-right: -1px;}
.p1 { padding: 1px; }
.p2 { padding: 2px; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p12 { padding: 12px; }
.p14 { padding: 14px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.plr5 { padding-left: 5px; padding-right: 5px; }
.plr10 { padding-left: 10px; padding-right: 10px; }
.plr12 { padding-left: 12px; padding-right: 12px; }
.plr15 { padding-left: 15px; padding-right: 15px; }
.plr20 { padding-left: 20px; padding-right: 20px; }
.plr30 { padding-left: 30px; padding-right: 30px;}
.plr40 { padding-left: 40px; padding-right: 40px;}
.ptb5 { padding-top: 5px; padding-bottom: 5px; }
.ptb10 { padding-top: 10px; padding-bottom: 10px; }
.ptb15 { padding-top: 15px; padding-bottom: 15px; }
.ptb20 { padding-top: 20px; padding-bottom: 20px; }
.ptb25 { padding-top: 25px; padding-bottom: 25px; }
.ptb30 { padding-top: 30px; padding-bottom: 30px; }
.ptb40 { padding-top: 40px; padding-bottom: 40px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px;}
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pl5 { padding-left: 5px;}
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}
/*文字大小，字体，粗细，颜色，对齐,缩进，修饰 */
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px;}
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f24 { font-size: 24px; }
.f30 { font-size: 30px; }
.fa { font-family: arial; }
.fm { font-family: \5FAE\8F6F\96C5\9ED1, "microsoft yahei"; }
.fs { font-family: \5B8B\4F53, SimSun; }
.fv { font-family: verdana; }
.fa { font-family: arial; }
.fb, .bold { font-weight: bold; }
.fn { font-weight: normal; }
.fi { font-style: italic; }
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
.ti2e { text-indent: 2em; }
.ti0 { text-indent: 0; }
.tdn, .tdn:hover { text-decoration: none; }
.tdu,.tdu_h:hover { text-decoration: underline;}
.c3 { color: #333; }
.c6 { color: #666; }
.c9 { color: #999; }
.cb { color: #bbb; }
.cc { color: #ccc; }
.cd { color: #ddd;}
.cf, a.cf:hover { color: #fff; }
/*背景，边框，颜色*/
.bgi { background: inherit; }
.bg060p { background: url(../images/bg060p.png) 0 0 repeat; background: hsla(0,0%,0%,0.6);  }
.bg3 { background-color: #333;}
.bgf5 { background-color: #f5f5f5;}
.bgfa { background-color: #fafafa;}
.bgf { background-color: #fff;}
.bg_blue2 { background-color: #262A2E;}
.bt1e { border-top: 1px solid #eee;}
.bb1e { border-bottom: 1px solid #eee;}
.bl1e { border-left: 1px solid #eee;}
.br1e { border-right: 1px solid #eee;}
.b1e6 { border: 1px solid #e6e6e6;}
.bt1e6 { border-top: 1px solid #e6e6e6;}
.bb2f2 { border-bottom: 2px solid #f2f2f2;}
.bb1e6 { border-bottom: 1px solid #e6e6e6;}
.bb1_blue { border-bottom: 1px solid #1291ea;}
.b1e { border: 1px solid #eee;}
.b5e { border: 5px solid #eee;}
.blue, a.blue:hover, .fontblue, a.fontblue:hover,.blue_dtn,a.blue_dtn { color: #1291ea;}
.blue_lighten { color: #A5B8D6;}
a.blue_dtn:hover { text-decoration: underline;}
.orange, a.orange:hover, .red, a.red:hover { color: #ff6700;}
/* 其他 */
.vam { vertical-align: middle; }
.vat { vertical-align: top;}
.wsnw { white-space: nowrap; }
.o5 { opacity: 0.5; filter: alpha(opacity=50); }
.ovh { overflow: hidden; }
.cup { cursor: pointer; }
.bg_fixed { position: fixed; top: 0; left: 0; right: 0; z-index: 9999; bottom: 0; background: url(../images/bg060p.png) 0 0 repeat; background: hsla(0,0%,0%,0.6); }
/*清除浮动*/
.clf:after { content: ""; display: block; height: 0; clear: both; overflow: hidden; }
.clf { *zoom: 1; }
/* 三角形*/
.tag,.tag_bd { width: 0; height: 0; border-style: dashed; border-color: transparent; vertical-align: middle; overflow: hidden; }
:root .tag_bd { border: none; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/*表格*/
table.ptb5 td { padding-top: 5px; padding-bottom: 5px;}
/* 1117宽度，8列，间隔11 */
.c8_1117_11 { width: 1117px; overflow: hidden; }
.c8_1117_11 ul { margin-right: -11px; }
.c8_1117_11 li { float: left; width: 130px; margin-right: 11px; }
/*标题浮动*/
.tit_pa li { position: relative; background-color: #fff;}
.tit_pa .tit { position: absolute; left: 0; bottom: 0; width: 96%; padding: 0 2%; height:2.5em; line-height: 2.5; color: #fff; background: url(../images/bg060p.png) 0 0 repeat; background: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,0.8)); background: linear-gradient(hsla(0,0%,0%,0),hsla(0,0%,0%,0.8)); cursor: pointer; -webkit-transition: all 0.2s; transition: all 0.2s;}
.tit_pa a:hover .tit { padding-top: 0.5em; background: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,1)); background: linear-gradient(hsla(0,0%,0%,0),hsla(0,0%,0%,1)); }
.tit_pa img { display: block;}
/*标题*/
.tit_more { float: right; height: 24px; line-height: 24px; width: 24px; margin-top: 2px; font-size: 22px; font-family: ficon; color: #ccc; text-align: center; border: 1px solid #ddd;}
.tit_more:hover { background-color: #f5f5f5; cursor: pointer;}
.tit_more_f:hover { background-color: #fff;}
/*标签*/
.tags a { display: inline-block; line-height: 24px; margin-right: 10px; padding: 0 12px; border: 1px solid #eee; color: #666; border-radius: 26px; vertical-align: middle; transition: all 0.2s; }
.tags a:hover,.tags a.cur { color: #1291ea; border-color: #1291ea;}
.tags_mt10 a { margin-top: 10px;}
.tags_blue a { color: #1291ea;}
.tags_art { height: 26px; overflow: hidden;}
/*列表*/
.list_round { line-height: 20px; font-size: 15px; *position: relative; }
.list_round li{ position: relative; max-height: 20px; padding-left: 15px; overflow: hidden;}
.list_round .ffi { position: absolute; left: 0; top: 0;  height: 20px; line-height: 20px; font-size: 18px; color: #ccc;}
.list_round .cur1 .ffi { color: #ff7500;}
.list_round .cur2 .ffi { color: #ffa400;}
.list_round .cur3 .ffi { color: #fae112;}
.list_round_h40 li { max-height: 40px; }
/*数字*/
.list_num { line-height: 20px; font-size: 14px;}
.list_num li { position: relative; max-height: 20px; padding-left: 25px; overflow: hidden;}
.list_num .num { position: absolute; top: 2px; left: 0; height: 16px; width: 16px; line-height: 16px; font-family: arial; font-size: 12px; color: #666; text-align: center; background-color: #f5f5f5; border-radius: 2px;}
.list_num .cur1 .num { color: #fff; background-color: #ff7500;}
.list_num .cur2 .num { color: #fff; background-color: #ffa400;}
.list_num .cur3 .num { color: #fff; background-color: #fae112;}

.list_num_h40 li { max-height: 40px; }
/*大咖*/
.list_recom li { margin-top: 10px; padding: 13px 5px; border-top: 1px solid #eee; -webkit-transition: all 0.2s; transition: all 0.2s;}
.list_recom li:first-child { border-top: none;}
.list_recom li:hover { background-color: #f5f5f5;}
.list_recom .face { display: block; padding: 5px;  margin-right: 10px;  border-radius: 50%; border: 1px solid #eee; background-color: #fff; text-align: center; overflow: hidden;}
.list_recom .face img { display: block; height: 60px; width: 60px; line-height: 60px; border-radius: 50%; overflow: hidden; background-color: #c0c0c0; color: #fff; }
.list_recom .con,.list_recom .con2 { max-height: 40px; line-height: 20px; padding-top: 5px; font-size: 16px; overflow: hidden; }
.list_recom .name { margin-top: 5px; font-size: 14px; }
.list_recom .name a{ color: #5faaee;}
.list_recom .name2 { padding-top: 5px; font-size: 16px;}
.list_recom .name2 a { color: #5faaee;}
.list_recom .con2 a { font-size: 14px; }
.list_recom .con2 a:hover { color: #1291ea;}
/*调查*/
.list_survey { line-height: 20px; font-size: 14px;}
.list_survey li { position: relative; max-height: 20px; margin-top: 15px; padding-left: 18px; overflow: hidden; }
.list_survey .num { float: right; margin-left: 10px; color: #999; }
.list_survey .num i { margin-right: 3px; font-family: arial; font-weight: bold; color: #FF6700;}
.list_survey .icon { position: absolute; left: 0; top: 0; height: 20px; line-height: 22px; font-size: 16px; color: #B4C4E5;}
.list_survey .blue { color: #1291ea; }
.list_survey .cur .ffi { color: #f60;}
.list_survey_h40 li { max-height: 40px;}
/*tab*/
.tabtit_side { font: 0; overflow: hidden;}
.tabtit_side a { display: inline-block; height: 40px; line-height: 40px; margin-left: -1px; padding: 0 20px; font-size: 18px; border-left: 1px solid #ddd; background-color: #f2f2f2; transition: all 0.2s; }
.tabtit_side a:hover,.tabtit_side a.cur { color: #fff; background-color: #1291ea;}
/*关键字*/
.keyword { line-height: 28px; font: 0;}
.keyword a { display: inline-block; padding: 0 15px; margin: 10px 10px 0 0; font-size: 14px; color: #666; border: 1px solid #ddd; border-radius: 2px; -webkit-transition: all 0.2s; transition: all 0.2s;}
.keyword a:hover,.keyword a.cur { color: #1291ea; border-color: #1291ea;}
/*表单，按钮*/
.txt, .sbt, .btn, .tta {  border: none; background: none; }
.btn_blue { color: #fff; background-color: #1291ea; border-radius: 2px; cursor: pointer;}
.btn_blue:hover,.sbt:hover,.btn:hover { opacity: 0.9; filter: alpha(opacity=90);}
.btn_blue:active { box-shadow: inset 0 0 3px hsla(0,0%,0%,0.25);}
.txt, .tta { border: 1px solid #ddd; -webkit-transition: all 0.2s; transition: all 0.2s;}
.tta { box-sizing: border-box; width: 100%; line-height: 1.5; padding: 0.25em 0.5em; *width: 96%; *padding: 3px 2%; }
.txt:focus, .tta:focus { border: 1px solid #4CAEF3; box-shadow:inset 0 0 1px hsla(205, 86%, 49%,0.5), 0 0 5px hsla(205, 86%, 49%,0.5);}
/*社交*/
.sns .view, .sns .zan, .sns .comm { display: inline-block; margin-right: 15px; height: 22px; line-height: 22px; padding: 0 12px; font-family: arial; color: #999; border: 1px solid #eee; border-radius: 26px; vertical-align: middle;}
.sns .ffi { margin-right: 5px; font-size: 14px; color: #ccc;}
.zan .ffi { position: relative; }
.sns .zan:hover, .sns .comm:hover { color: #1291ea; cursor: pointer;}
.sns .zan:hover i, .sns .comm:hover i, .sns .zan.cur, .sns .zan.cur i { color: #1291ea;}
.sns .zan i:before { content: 'F'; position: absolute;  z-index: -1;}
.sns .zan.cur i:before { color: #1291ea;  -webkit-animation: zan_anim 0.5s;  animation: zan_anim 0.5s;}
@-webkit-keyframes zan_anim {
	0% {
	opacity: 0;
	-webkit-transform: scale(5,5);
	        transform: scale(5,5); }
	100% {
		opacity: 1;
		z-index: 99;
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
}
@keyframes zan_anim {
	0% {
	opacity: 0;
	-webkit-transform: scale(5,5);
	        transform: scale(5,5); }
	100% {
		opacity: 1;
		z-index: 99;
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
	}
}
/*分享*/
.share_foot { position: absolute; top: 5px; right: 0; z-index: 99; height: 30px; line-height: 30px;}
.share li { float: left; margin-left: 15px; position: relative;}
.share a {display: block; width: 30px; height: 30px; line-height: 30px; font-size: 20px; color: #ccc; text-align: center; border-radius: 50%; background-color: #fff; cursor: pointer; transition: all 0.2s;}
.share a:hover, .share .open a { color: #fff; }
.share_foot a { color: #fff;}
.share .weibo a:hover, .share .weibo.open a, .share_art .weibo a, .share_foot .weibo a{ background-color: #ff4343; }
.share .weixin a:hover, .share .weixin.open a, .share_art .weixin a,.share_foot .weixin a { background-color: #1ac155; }
.share .baidu a:hover, .share .baidu.open a, .share_art .baidu a { background-color: #2686D6; }
.share .weibo-qq a:hover, .share .weibo-qq.open a, .share_art .weibo-qq a { background-color: #26BBD6; }
.share .android a:hover, .share .android.open a, .share_foot .android a { background-color: #7cc805;}
.share .iphone a:hover, .share .iphone.open a,  .share_foot .iphone a { background-color: #D9AF0F;}
.share span { display: none; position: absolute; top: -120px; left: 50%; padding: 8px; margin-left: -55px; background-color: #fff; border: 1px solid #ddd; box-shadow: 0 0 3px hsla(0,0%,0%,0.5); }
:root .share span { border: none;}
.share .tag,.share_popup .tag,.art_reward .tag,.weixinpay .con .tag {
	position: absolute; left: 50%; bottom: -5px;  margin-left: -5px;	border-width: 5px 5px 0 5px; border-style: solid; border-top-color: #fff;}
.share_popup .tag2 { bottom: auto; left: 35px; top: -5px; border-width: 0 5px 5px 5px; border-top-color: transparent; border-bottom-color: #fff;}
.share .tag_bd,.share_popup .tag_bd,.art_reward .tag_bd,.weixinpay .con .tag_bd { position: absolute; left: 50%; bottom: -7px; margin-left: -7px; border-width: 7px 7px 0 7px; border-style: solid; border-top-color: #ddd;}
.share_popup .tag_bd2{ bottom: auto; top: -7px; left: 35px; border-width: 0 7px 7px 7px;  border-top-color: transparent; border-bottom-color: #ddd;}
:root .share .tag_bd,:root .share_popup .tag_bd,:root .art_reward .tag_bd,:root .weixinpay .con .tag_bd  {
	 bottom: -5px; margin-left: -5px; width: 10px; height: 10px; background-color: #fff; border: none; box-shadow: 1px 1px 1px hsla(0,0%,0%,0.25);}
:root .share_popup .tag_bd2 { bottom: auto; top: -5px; box-shadow: -1px -1px 1px hsla(0,0%,0%,0.25);}
.share .open span { display: block;}
:root .share .tag,:root .share_popup .tag,:root .art_reward .tag {display: none;}
.share_popup { position: absolute; padding: 8px 10px 0 10px; border: 1px solid #ddd; background-color: #fff; border-radius: 3px; box-shadow: 0 0 3px hsla(0,0%,0%,0.25); *width: 200px;}
.share_popup_btn { height: 30px; line-height: 30px; margin: 8px -10px 0; padding: 0 10px; font-size: 14px; border: 1px solid #fff; border-top: 1px solid #ddd; border-radius: 0 0 3px 3px; background-color: #f5f5f5;}
.share_popup .share_art li { margin-left: 5px;}
.share_popup .share_art li:first-child { margin-left: 0;}
.share_popup_btn a:hover {  text-decoration: underline;}

/*默认图片*/
.img_def { display: block; width: 205px; height: 120px; line-height: 120px; font-family: ficon; font-size: 50px; text-align: center; color: #DBDEE6; background-color: #f5f5f5;}
a.img_def:hover { color: #DBDEE6;}
/*更多*/
.list_news_more a { display: block; height: 40px; line-height: 40px; margin-top: 25px; font-size: 14px; color: #666; text-align: center; background-color: #fafafa; }
.list_news_more a:hover { color: #1291ea; background-color: #f5f5f5; }

#top,.media,#foot,.w1120 { width: 1120px; margin-left: auto; margin-right: auto;}
/*顶部*/
#top { width: 1120px; height: 40px; line-height: 40px;  }
#top a { color: #b0b0b0;}
#top a:hover { color: #fff;}
#top i { margin-left: 10px; margin-right: 10px; color: #555;}
.top_load { height: 40px; line-height: 40px; padding: 0 20px; margin-left: 20px; background-color: #444; }
.top_load .ffi { margin-right: 5px; font-size: 16px; color: #999;}
/*logo,导航，搜索 */
#header { height: 44px; line-height: 44px; padding: 22px 0 26px 0; box-shadow: 0 2px 2px hsla(0,0%,0%,0.2); background-image:  url(../images/bg_header.gif); background-repeat: repeat-x; background-position: 0 bottom; background-color: #fff; *position: relative; z-index: 9;}
:root #header  { padding-bottom: 22px; background-image: none; }
.nav { margin-right: 40px;}
.nav li { float: left;}
.nav a { height: 44px; line-height: 44px; padding: 0 13px; font-size: 18px; }
#search { position: relative; float: right; height: 42px; line-height: 42px;}
#search .txt { width: 180px; height: 42px; line-height: 42px; padding: 0 45px 0 10px; font-size: 16px; border-radius: 44px; }
#search .txt:focus { box-shadow: none;}
#search .sbt { position: absolute; top: 1px; right: 1px; *top: 2px; height: 38px; line-height: 38px; width: 38px; text-align: center; font-size: 20px; color: #666; border: 2px solid #fff; border-radius: 50%; background-color: #fff; cursor: pointer; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }
#search .sbt:hover { color: #fff; background-color: #1291ea;}
#search .sbt:before {
	display: none;
	content: ""; opacity: 0;
	filter: alpha(opacity=0);
	position: absolute; top: 0; left: 0; z-index: -1; width: 38px; height: 38px; background-color: #1291ea; border-radius: 50%; -webkit-transform: opacity 0.2s; -ms-transform: opacity 0.2s; transform: opacity 0.2s; }
#search .sbt:hover:before { display: block; opacity: 1; filter: alpha(opacity=100); }
#search .sbt:active:before { -webkit-animation: active_search 0.1s ease-out; animation: active_search 0.1s ease-out; }
@-webkit-keyframes active_search {
	0% {
	-webkit-transform: scale(1,1);
	        transform: scale(1,1); }
	100% {
	-webkit-transform: scale(2,2);
	        transform: scale(2,2);
	opacity: 0; }
}
@keyframes active_search {
	0% {
	-webkit-transform: scale(1,1);
	        transform: scale(1,1); }
	100% {
	-webkit-transform: scale(2,2);
	        transform: scale(2,2);
	opacity: 0; }
}
.nav_more { position: relative; }
.nav_sel { display: none; position: absolute; top: 44px; left: 0; z-index: 99; width: 135px; padding-top: 7px; }
.nav_sel ul { padding: 10px; border: 1px solid #ddd; background-color: #fff;}
.nav_sel li { float: none; line-height: 30px;}
.nav_sel a { display: block; height: 30px; line-height: 30px; padding: 0 10px; font-size: 16px; border-radius: 2px; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }
.nav_sel a:hover { color: #fff; background-color: #6DBAF1;}
.nav_sel .tag {position: absolute;  border-bottom-style: solid;}
.nav_sel .tag1 { left: 30px; top: 1px; border-width: 0 7px 7px 7px; border-bottom-color: #ddd;}
.nav_sel .tag2 { left: 32px; top: 3px; border-width: 0 5px 5px 5px; border-bottom-color: #fff;}
.nav_more .ffi { display: inline-block; vertical-align: middle; -webkit-transition: all 0.5s; transition: all 0.5s; }
.nav_more:hover .nav_sel { display: block;}
.nav_more:hover .ffi { color: #1291ea; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
.nav_more:hover > a { color: #1291ea; }
/*媒体*/
.tabtit_friend { border-bottom: 1px solid #eee;}
.tabtit_friend em { display: inline-block; height: 30px; line-height: 30px; margin-right: 20px; margin-bottom: -1px; padding: 0px; font-size: 14px;  border-bottom: 2px solid transparent; cursor: pointer;}
.tabtit_friend em.cur,.tabtit_friend em:hover {  color: #1291ea; border-bottom-color: #1291ea;}
.media { line-height: 24px;}
.media a { display: inline-block; margin-right: 20px; color: #777; }
.media a:hover { color: #1291ea; }
/*底部*/
#foot { position: relative; line-height: 20px; color: #777; }
#foot_link a { color: #ccc;}
#foot_link a:hover { color: #1291ea; }
#foot_link i { margin: 0 8px;}
/*返回顶部，意见反馈*/
#rcol_fixed { position: fixed; bottom: 95px; left: 50%; z-index: 999; margin-left: 590px;}
#backtop,#feedback { width: 60px; height: 60px; text-align: center; border: 1px solid #e6e6e6; background-color: #fff; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }
#backtop { line-height: 60px; }
#backtop {display: block; font-size: 60px; color: #ddd; }
#feedback { position: relative; margin-top: 5px;}
#feedback .btn { position: relative; line-height: 20px; padding: 10px 0; font-size: 14px; color: #aaa; cursor: pointer;}
#feedback .tag { display: none; position: absolute; left: -5px; top: 50%; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-style: solid; border-right-color: #1291ea;}
#feedback_form { display: none; position: absolute; bottom: 0; left: -345px; z-index: 999; width: 300px; padding: 30px 20px 20px 20px; font-size: 14px; border: 1px solid #eee; background-color: #fff; text-align: right; opacity: 0; filter: alpha(opacity=0);}
#feedback_form .tta { height: 8em; }
#feedback_form .sbt { width: 40%; height: 30px; line-height: 30px; margin-top: 10px; text-align: center;}
#feedback_form .close { position: absolute; top: 0; right: 0; width: 30px; height: 30px; line-height: 28px; font-size:28px; color: #ccc; text-align: center; -webkit-transition: all 0.2s; transition: all 0.2s; }
#feedback_form .close:hover { color: #1291ea; cursor: pointer;}
#backtop:hover,#feedback .btn:hover, #feedback.open .btn { color: #fff; background-color: #1291ea; cursor: pointer;}
#feedback .btn:hover .tag, #feedback.open .btn .tag { display: block;}
#feedback.open #feedback_form { display: block;}
/*=================== 翻页*/
.listpage { font: 0; text-align: center; }
.listpage a, .listpage span, .listpage .txt, .listpage .sbt { display: inline-block; height: 2.5em; line-height: 2.5; margin: 0 0.25em; padding: 0 1em; font-size: 14px; border: 1px solid #ddd; background: #fff; vertical-align: middle; overflow: hidden; -webkit-transition: all 0.2s; transition: all 0.2s; }
.listpage .sbt { line-height: 2;}
.listpage .txt { width: 3em; text-align: center; }
.listpage .txt:focus { -webkit-box-shadow: none; box-shadow: none;}
.listpage .cur, .listpage a:hover, .listpage .sbt:hover { color: #fff; background: #1291ea; border: 1px solid #1291ea; text-decoration: none; cursor: pointer; }
.listpage .cur, .listpage .cur:hover { font-weight: bold; }
.listpage .notcur, .listpage .notcur:hover { color: #aaa; background: #fff; border: 1px solid #ddd; cursor: default; }
/*搜索列表页*/
.list-search li em { color: #f60;}
/*其他公共样式*/
.boxy-wrapper{position:absolute;z-index:150;}
.boxy-wrapper.fixed{position:fixed;}
/* Modal */
.boxy-modal-blackout{position:absolute; left:0; top:0; background-color:black;}
.boxy-modal-blackout-iframe{position:absolute; left:0; top:0; z-index:128; border: none;}
/* Border */
.boxy-wrapper{empty-cells:show;}
.boxy-wrapper .boxy-top-left,.boxy-wrapper .boxy-top-right,.boxy-wrapper .boxy-bottom-right,.boxy-wrapper .boxy-bottom-left{width:10px; height:12px; padding:0}
.boxy-wrapper .boxy-top-left,.boxy-wrapper .boxy-top-right,.boxy-wrapper .boxy-bottom-right,.boxy-wrapper .boxy-bottom-left { background-color:#555555; opacity:0.6; filter:alpha(opacity=60); padding:0}
.boxy-wrapper .boxy-top,.boxy-wrapper .boxy-bottom{ background-color:#555555; opacity:0.6; filter:alpha(opacity=60);  padding:0}
.boxy-wrapper .boxy-left,.boxy-wrapper .boxy-right{ background-color:#555555; opacity:0.6; filter:alpha(opacity=60);  padding:0;}
/* Title bar */
/*.boxy-wrapper .title-bar{ background:url(boxy/box-bg.png) repeat-x; position:relative; height:33px}*/
.boxy-wrapper .title-bar{ height:33px; position:relative; background:#fbfcfe; }
.boxy-wrapper .title-bar .dragging{ cursor:move; }
.boxy-wrapper .title-bar h2{ font-size:14px; text-align:left; color:#333; line-height:1; margin:0; padding:0; font-weight:bold; padding-left:7px; padding-top:10px }
.boxy-wrapper .title-bar .close {display:block; position:absolute; top:6px; right:7px; width:21px; height: 19px; background:url(boxy/boxy-close.png) no-repeat 0 0px;text-indent:-9999px; overflow:hidden }
.boxy-wrapper .title-bar .closeover {display:block; position:absolute; top:6px; right:7px; width:21px; height: 19px; background:url(boxy/boxy-close.png) no-repeat 0 -21px;text-indent:-9999px; overflow:hidden }
.boxy-wrapper .title-bar .min {display:block; position:absolute; top:6px; right:30px; width:21px; height: 19px; background:url(boxy/boxy-minmax.png) no-repeat 0 -30px;text-indent:-9999px; overflow:hidden }
.boxy-wrapper .title-bar .max {display:block; position:absolute; top:6px; right:30px; width:21px; height: 19px; background:url(boxy/boxy-minmax.png) no-repeat 0 -120px;text-indent:-9999px; overflow:hidden }
/* Content Region */
.boxy-inner{background-color:white; padding:0}
.boxy-content{ padding:10px; overflow:auto;}
.boxy-content form{margin-top:5px;margin-bottom:5px;}
/* Question Boxes */
.boxy-wrapper .question{ width:340px !important; overflow:auto; }
.boxy-wrapper .answers{text-align:right;}
/* confirm btn */
/* button */
.boxy-btn1,.boxy-btn2,.boxy-btn4{background-color:transparent; font-size:12px; border:0; background-image:url(boxy/btn.png);color:#FFFFFF; cursor:pointer;  background-repeat:no-repeat;vertical-align:middle}
.boxy-btn1{ width:50px; height:22px; background-position: 0 0;}
.boxy-btn2{width:50px; height:22px;  background-position: 0 -25px;color:#333333;}
.boxy-btn3{background-color:#EAEAEA; border-color:#EAEAEA #aaaaaa #aaaaaa #EAEAEA; color:#333333; padding:3px 5px 1.9px;}
.boxy-btn3:hover{background-color:#cad5eb; border-color:#CED8E3 #A2ADBC #A2ADBC #CED8E3;}
.boxy-btn4{width:75px;height:22px; background-position: 0 -50px;}
/* active tips-box */
.tips-box-b{position:absolute; font-size:12px; color:#b00; background:url(boxy/tips-bg.png) right top no-repeat; height:26px; padding-right:10px;}
.tips-box-b .tips-content{background:url(boxy/tips-bg.png) left top no-repeat; height:26px; float:left; line-height:22px; padding-left:10px;}
.tips-box-t{position:absolute; font-size:12px; color:#b00; background:url(boxy/tips-bg.png) right -28px no-repeat; height:27px; padding-right:10px;}
.tips-box-t .tips-content{background:url(boxy/tips-bg.png) left -28px no-repeat; height:20px; float:left; padding-top:7px; line-height:20px; padding-left:10px;}
.tips-box-l{position:absolute; font-size:12px; color:#b00; height:21px;}
.tips-box-l span{background:url(boxy/tips-bg.png) left -58px; float:left; height:21px; width:10px;}
.tips-box-l .tips-content{background:url(boxy/tips-bg.png) right -58px; height:21px; line-height:21px; padding-right:10px; float:left;}
/* button */
.submit2,.submit-gray2,.submit4,.submit3,.submit-gray2,.submit-gray3,.submit-gray4,.submit-t-btn,.submit-t-btn-gray{text-align:center; margin-right:6px; background-color:transparent; border:0; background-image:url(boxy/btn.png);color:#FFFFFF; cursor:pointer; background-repeat:no-repeat; display:inline-block; vertical-align:middle;*padding-top:1px;line-height:22px;font-size:12px; }
.submit2{ width:50px; height:22px; background-position: 0 0; }
.submit4{ width:75px;height:22px; background-position: 0 -50px;}
.submit3{ width:63px;height:22px; background-position: 0 -75px;}
.submit-t-btn{ width:55px;height:32px;line-height:32px;background-position: -65px -268px; font-weight:700;   }
.submit-t-btn-gray{ width:55px;height:32px;line-height:32px;background-position: -65px -376px; font-weight:700; cursor:default   }
.submit-gray2{ width:50px; height:22px;  background-position: 0 -25px; color:#555555;}
.submit-gray3{ width:63px;height:22px; background-position: 0 -376px;color:#555555;}
.submit-gray4{ width:75px;height:22px;background-position: 0 -185px; color:#555555;}
.submit{ text-align:center;  height:22px;}
a.a-submit:link, a.a-submit:visited{color:#FFFFFF;text-decoration:none;}
a.a-submit:hover{ color:#FFFFFF;text-decoration:none; }
.submit-b{ text-align:center; height:32px; line-height:32px;}
a.submit-b:link, a.submit-b:visited{color:#FFFFFF;text-decoration:none;}
a.submit-b:hover{color:#FFFFFF;text-decoration:none;}
a.a-gray:link, a.a-gray:visited{color:#555555;text-decoration:none;}
a.a-gray:hover{color:#555555;text-decoration:none;}
/* window foot line */
.win-foot{margin-top:15px; border-top:1px solid #D1D6E2; height:30px; padding-top:15px; text-align:right; clear:both}
.win-foot-noborder{margin-top:15px; height:30px; padding-top:5px; text-align:right; clear:both}
.win-foot .win-tip-text{ float:left }
/* input error style */
.tip-right, .tip-error, .ico-black-dot { background:url(boxy/boxy-ico.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="boxy/boxy-ico.png"); }
.tip-normal, .tip-right, .tip-error { display:inline-block; line-height:20px; margin-left:5px; vertical-align:middle; padding-top: 1px}
.tip-normal { color:#888888 }
.tip-right { padding-left:16px; background-position: 0 -43px;_background-position: 0 -43px; color:#0B6DD0}
.tip-error { padding-left:16px; background-position: 0 -4px;_background-position: 0 -4px; color:#D07C0B}
.ico-black-dot { width: 11px;height: 11px; background-position: 0 -85px; display:block; float:left; }


/*前瞻产业研究院-广告*/
.ad-qzcyyjy {
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: 1px solid #eee;
}

.ad-qzcyyjy >ul { text-align: center; }
.ad-qzcyyjy li {
	float: left;
	width: 16.666667%;
}
.ad-qzcyyjy a { display: block; }
.ad-qzcyyjy a:hover >i { transform: translatey(5px); }
.ad-qzcyyjy i {
	display: block;
	height: 60px;
	line-height: 60px;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	color: #fff;
	border-radius: 10px;
	transition: all .25s;
}
.ad-qzcyyjy p {
	margin-top: 10px;
	font: 14px;
	/*color: #666;*/
	transition: all .25s;
}
.ad-qzcyyjy_item1 >i { background-color: #1586c9;}
.ad-qzcyyjy_item1:hover >p  { color: #1586c9;}
.ad-qzcyyjy_item2 >i { background-color: #ff8345;}
.ad-qzcyyjy_item2:hover >p  { color: #ff8345;}
.ad-qzcyyjy_item3 >i { background-color: #34b6e3;}
.ad-qzcyyjy_item3:hover >p  { color: #34b6e3;}
.ad-qzcyyjy_item4 >i { background-color: #fca919;}
.ad-qzcyyjy_item4:hover >p  { color: #fca919;}
.ad-qzcyyjy_item5 >i { background-color: #54abd2;}
.ad-qzcyyjy_item5:hover >p  { color: #54abd2;}
.ad-qzcyyjy_item6 >i { background-color: #51d696;}
.ad-qzcyyjy_item6:hover >p  { color: #51d696;}

.ad-qzcyyjy-side {
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.ad-qzcyyjy-side li {
	width: 33.333333%;
	margin-top: 20px;
}
/*==========================================*/
/*产品爆列表页*/
#header.header-cpb { box-shadow: none; background-image: none; }
.bd-cpb { background:url(../images/bg-bd-cpb.png) repeat 0 0; }
.cpb-banner {
	height: 200px;
	background: url(../images/banner-cpb.jpg) center center no-repeat;
}
/*列表内容*/
.cpb-list {
	padding-bottom: 70px;
	overflow: hidden;
}
.cpb-list_list {
	margin-left: -20px;
	margin-right: -20px;
}
.cpb-list_list >li{
	box-sizing: border-box;
	float: left;
	width: 50%;
	margin-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}
.cpb-list_img {
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
	background-color: #009ff5;
	transition: all .25s;
}
.cpb-list_img:hover {
	transform: rotate(-3deg);
}
.cpb-list_img:hover img {
	opacity: .75;
	filter: alpha(opacity=75);
}


.cpb-list_img img {
	display: block;
	width: 100%;
	height: auto;
	transition: all .25s;
}

.cpb-list_tit {
	margin-top: 20px;
	font-size: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cpb-list_tit >a {
	color: #262E33;
	transition: color .25s;
}
.cpb-list_tit >a:hover {
	color: #107FCC;
}
.cpb-list_info {
	height: 4.5em;
	margin-top: 15px;
	font-size: 14px;
	color: #8D9194;
	overflow: hidden;
	text-align: justify;
}
.cpb-list_other {
	margin-top: 12px;
	font-size: 14px;
	color: #B9BEC2;
	font-family: Verdana,"microsoft yahei";
}
.cpb-list_time {
	float: left;
}
.cpb-list_com {
	float: right;
}
.cpb-list_more {
	display: block;
	width: 75%;
	height: 2.5em;
	line-height: 2.5;
	margin: 50px auto 0 auto;
	font-size: 16px;
	color: #999;
	text-align: center;
	background-color: #f2f2f2;
	transition: all .25s;
}
.cpb-list_more:hover {
	color: #666;
	background-color: #eee;
}
