﻿#popup0{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1051;
        }
#popup4{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1051;
        }
#popup0 .box-area{
        width: 700px;
        margin: 100px auto;
        background-color: #c04204;
        background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fd3803), to(#c04204)); 
        background: -webkit-radial-gradient(circle, #fd3803, #c04204); 
        background: -moz-radial-gradient(circle, #fd3803, #c04204);
        background: -ms-radial-gradient(circle, #fd3803, #c04204);
        border: 5px solid #fff;
        text-align: center;
       -moz-box-shadow: inset 0 0 15px 10px #802c03;
       -webkit-box-shadow: inset 0 0 15px 10px #802c03;
        box-shadow: inset 0 0 15px 10px #802c03;
        border-radius: 5px;
        }
 #popup4 .box-area{
        width: 700px;
        margin: 100px auto;
        background-color: #4488c0;
        border: 5px solid #fff;
        text-align: center;
       -moz-box-shadow: inset 0 0 15px 10px #124067;
       -webkit-box-shadow: inset 0 0 15px 10px #124067;
        box-shadow: inset 0 0 15px 10px #124067;
        border-radius: 5px;
        }
#popup0 .rightbox{ border-left:1px solid #ddd;}
#popup0 .box-area .close1{margin: -15px 0px 0 -15px;}    
#popup4 .box-area .close4{margin: -15px 0px 0 -15px;}    
#popup4 .rightbox{ border-left:1px solid #ddd;}
#popup1{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1051;
        }
#popup1 .box-area{
        width: 500px;
        margin: 100px auto;        
        background-color: #fff;        
        border: 10px solid #eee;
        text-align: center;     
        border-radius: 5px;
        }
#popup1 .close1{
        margin: -20px 0px 0 -20px;
        position:absolute; 
        display: block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0px #666;
        border-radius: 100%;
        background-image: url(/images/promotion/close-btn.png);
        background-repeat:no-repeat;
        }
#popup1 .container{
        padding:15px;
        }
#popup1 h2{
        display: block;
        padding:5px 0px;
        margin:0;
        font-size: 18px;
        text-align:center;
        color: #000;
        background:#eee;
        border-radius:5px;
        }
        

.close1{
        margin: 10px 0px 0 -10px;
        position:absolute; 
        display: block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0px #666;
        border-radius: 100%;
        background-image: url(/images/promotion/close-btn.png);
        background-repeat:no-repeat;
        }

.close4{
        margin: 10px 0px 0 -10px;
        position:absolute; 
        display: block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0px #666;
        border-radius: 100%;
        background-image: url(/images/promotion/close-btn-yohonews.png);
        background-repeat:no-repeat;
        }
#popup0 h2{
        display: block;
        padding: 0;
        margin: 0px auto 10px;
        font-size: 36px;
        color: #fff;
        }
 #popup4 h2{
        display: block;
        padding: 0;
        margin: 0px auto 10px;
        font-size: 36px;
        color: #fff;
        }
.header-area{
        border-bottom: 0px solid #ddd;
        padding: 10px 0 0;
        }
.footer-area{
        border-top: 0px solid #ddd;
        padding: 10px 0;
        }
.content-area{
        border-left: 0px solid #ddd;
        border-right: 0px solid #ddd;
        padding: 5px;
        margin: 0px 5px;
        }
.col1{
        float: left;
        width: 240px;
        height: 322px;
        box-shadow: 5px 0 25px -5px #802c03;
        }
.col2{
        float: right;
        width: 450px;
        }
.col3{       
        width: 100%;
        }

.content-area ul{
        margin: 0 5px;
        }
.content-areanews ul{
        margin: 0 30px;
        }
.content-area li{
        text-align: justify;
        font-family: Georgia,Times,Times New Roman,serif;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-weight: normal;
        list-style-image: url(/images/promotion/bullets.png);
        }
.content-areanews li{
        text-align: justify;
        font-family: Georgia,Times,Times New Roman,serif;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-weight: normal;
        list-style-image: url(/images/promotion/bulletsyohonews.png);
        }
.ui-img img{
        border: 5px solid #fff;
        border-radius: 5px;
        }
#overlay0{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.7;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1050;
        }
#overlay1{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.7;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1050;
        }
 #overlay3{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.7;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1050;
        }
  #overlay4{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.7;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1050;
        }
#paidserviceoverlay{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.7;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1001;
        }
/* Matrimony Popup
--------------------------------------------*/  
#paidservicepopup{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        height: 100%;
       overflow:scroll;  
        z-index: 1050;
        }  
        
#popup3{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        height: 100%;
        overflow:auto;  
        z-index: 1050;
        }     
#popup2{
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1051;
        }
#popup2 .box-area{
        width: 700px;
        margin: 100px auto;
        background-color: #fff;
        /*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#081010), to(#086963)); 
        background: -webkit-radial-gradient(circle, #086963, #081010); 
        background: -moz-radial-gradient(circle, #086963, #081010);
        background: -ms-radial-gradient(circle, #086963, #081010);*/
        border: 0px solid #fff;
        text-align: center;
       /*-moz-box-shadow: inset 0 0 15px 10px #029a91;
       -webkit-box-shadow: inset 0 0 15px 10px #029a91;
        box-shadow: inset 0 0 15px 10px #029a91;
        border-radius: 5px;
*/
border-radius: 5px;
        }  
   .brtop-red{ border-top:10px solid #e14b00; }
   .brtop-yallow{ border-top:10px solid #ffbe00; } 
   .brtop-green{ border-top:10px solid #04857E; }   
   .brtop-orange{ border-top:10px solid #ef7705; border-radius: 0px 5px 0 0;}
   
   .brbtm-red{ border-top:0px solid #e14b00; width:175px; float:left;border-radius: 0 0 0 5px;}
   .brbtm-yallow{ border-top:0px solid #ffbe00; width:175px;float:left;} 
   .brbtm-green{ border-top:0px solid #014145; width:175px; float:left;}   
   .brbtm-orange{ border-top:0px solid #ef7705; width:175px; float:left;border-radius: 0 0px 5px 0px;} 
         
#overlay2{
        visibility: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        filter: alpha(Opacity = 70);
        opacity: 0.9;
       -moz-opacity: 0.7;
       -khtml-opacity: 0.7;
        z-index: 1050;
        }
.p-punchline h2{text-align:center;color:#9e1e09; font-size:20px; line-height:28px; font-weight:bold; padding:0 0px 0px 15px;}
.p-punchline h3{padding:10px 0px 0 5px;font-size:19px; text-align:center; color: #04857e;font-family:Georgia; margin:5px 0 0 0; /*background:#08413e; border:1px solid #0b544f; margin:20px auto 20px;text-shadow: -6px -2px 5px #333333;*/}
.url{text-align:center;color:#9e1e09; line-height:28px; font-weight:bold; padding:0 0px 0px 15px;}
#popup2 .box-area .close1{        
        float: left;
        margin-top:-22px; 
        display: block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0px #666;
        border-radius: 100%;
        background-image: url(/freekundali/promotional-box/images/close-btn1.png);
        background-repeat:no-repeat;
        }
.content-area{
        border-left: 0px solid #ddd;
        border-right: 0px solid #ddd;
        padding: 5px;
        margin: 0px 15px 15px;
        }
.col1-1{
        float: left;
        width: 290px;   
        
        }
.col2-2{
        float: right;
        width: 400px;
        border-left: 1px solid #ddd;    
        }
.p-img{ padding:10px 0 0 15px;}
a.pro-btn {	
	padding: 10px 25px;	
	line-height:50px;		
	font-weight:bold;
	color: #fff;
	font-size: 32px;
	font-family:sans-serif;
	background-color: #0b746e;
	background: -moz-linear-gradient(top, #0b746e 0%,#083f3c 50%,#083f3c 50%,#0b746e);
	background: -webkit-gradient(linear, left top, left bottom,	from(#0b746e),	color-stop(0.50, #083f3c),	color-stop(0.50, #083f3c),	to(#0b746e));
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #0b544f;
	text-decoration:none;
   -moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
   -webkit-box-shadow:	0px 1px 3px rgba(000,000,000,0.5),	inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:	0px 1px 3px rgba(000,000,000,0.5),	inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow: -6px -2px 5px #333333;
	}
.br-r{ border-right:1px solid #ddd;}
#fbwidgetD{ display:block;}
#fbwidgetM{ display:none;}
@media screen and (max-width: 768px) {
#popup2 .box-area{
    max-width: 300px;        
    margin: 70px auto;              
    background-color: #fff; 
    }  
.close1{
    margin: 10px 0px 0 -10px;        
    position:absolute;         
    display: block;        
    width: 30px;        
    height: 30px;        
    box-shadow: 0 0 0px #666;        
    border-radius: 100%;        
    background-image: url(/images/promotion/close-btn.png);
    background-repeat:no-repeat;
    }
.p-img {
    display:none;
    }
.p-punchline h2{
    display:block;
    }
.url{
    display:none;
    }
.br-r{
    border-right:0;
    }
#popup2 .content-area{      
    padding: 5px;
    margin: 0px 5px 5px;
    }
.p-punchline h2{font-size:14px; margin:0;}
.p-punchline h3{font-size:30px;}
#popup0 .box-area{
        max-width: 300px;
        margin: 70px auto;         
        }
#popup4 .box-area{
        max-width: 300px;
        margin: 70px auto;         
        }
.img-auto-resize{position: relative;padding-bottom: 60%;height: 0;}
.img-auto-resize img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.iframe-resize{position: relative;padding-bottom: 60%;height: 0;}
.iframe-resize iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

#fbwidgetD{ display:none;}
#fbwidgetM{ display:block;}

#popup0 .leftbox{ display:none;}
#popup4 .leftbox{ display:none;}
#popup0 .rightbox{ border-left:0px solid #ddd;}
#popup4 .rightbox{ border-left:0px solid #ddd;}
#popup0 .content-area ul{ margin:0; padding:0 0 0 20px;}
#popup4 .content-area ul{ margin:0; padding:0px 0 0 20px;}
#popup0 .content-area li{font-size: 14px; line-height: 24px; text-align: left;font-family:Roboto,Helvetica, sans-serif;}
#popup4 .content-area li{font-size: 14px; line-height: 24px; text-align: left;font-family:Roboto,Helvetica, sans-serif;}
#popup0 .content-area img{width:250px;}
#popup4 .content-area img{width:250px;}
#popup1 .box-area{
        max-width: 300px;
        margin: 70px auto;         
        }
#popup1 .close1{
         margin: -20px 0px 0 -20px;      
        }
#popup1 .container{
        padding:15px;
        }
#popup1 h2{          
        padding:5px 0px;        
        font-size: 18px;    
        }
        
        #popup3{      
        top: 0px;    
          
        } 
 }



    