html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Arial", "Geneva", sans-serif;
    color: #323232;
}

/* Nagłówek blok */
.nag-header {
    border-top: 4px solid #EEEEEE;
    width: 100%;
    display: block;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nag-text {
    height: 18px;
    font-size: 14px;
    color: #11688b;
    font-weight: bold;
}

.nag-text a {
    color: #11688b;
}

/* Wydarzenie główna 1 */
.n3-g-w1 {
    position: relative;
    width: 545px;
    height: 320px;
}

.n3-g-w1 img {
    width: 545px;
    height: 320px;
}

.n3-g-w1 .tytul-glowna {
    display: block;
    position: absolute;
    min-height: 10px;
    background: transparent url("images/png70.png") repeat scroll 0% 0%;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    left: 0px;
    bottom: 0px;
    padding: 10px 20px;
}

/* Wydarzenie główna 2 */
.n3-g-w2 {
    float: left;
    width: 855px;
}

.n3-g-w2 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-w2 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-g-w2 ul li {
    width: 275px;
}

.n3-g-w2 h2.tytul-wydarzenia2 {
    font-size: 16px;
    color: #464646;
    margin: 5px 0px 3px 0px;
    padding: 0px;
    font-weight: bold;
}

.n3-g-w2 ul li.views-row {
    margin-bottom: 20px;
}

.n3-g-w2 ul li.views-row-2, .n3-g-w2 ul li.views-row-5, .n3-g-w2 ul li.views-row-8 {
    margin-right: 14px;
    margin-left: 14px;
}

.opinie {
    width: 250px;
    float: left;
}

.opinie .content a {
    color: #217293;
    font-size: 1.1em;
}

.n3-g-o1 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-o1 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-g-o1 .field-field-zdjecie-opinie-fid {
    margin-top: 2px;
    float: left;
    margin-right: 3px;
}

.n3-g-o1 .field-tid {
    margin-bottom: 3px;
    font-size: 1.1em;
    color: #585858;
}

.n3-g-o1 .field-title {
    font-size: 1.2em;
}

.n3-g-o1 .field-body {
    padding-top: 3px;
    line-height: 150%;
    clear: left;
    color: #585858;
}

.n3-g-o1 ul li.views-row {
    margin-bottom: 15px;
}

.vod {
    width: 570px;
    float: right;
}

.vod .content a {
    color: #585858;
    font-weight: bold;
}

.n3-g-v2 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-v2 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
    width: 275px;
    font-size: 13px;
    font-weight: bold;
}

.n3-g-v2 .views-row {
    margin-bottom: 15px;
}

.n3-g-v2 .views-row-1, .n3-g-v2 .views-row-3, .n3-g-v2 .views-row-5, .n3-g-v2 .views-row-7 {
    margin-right: 16px;
}

.blogi {
    width: 855px;
    float: left;
    margin-right: 5px;
}

.blogi .content a {
    color: #217293;
    font-size: 1.1em;
}

.n3-g-b1 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-b1 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-g-b1 ul li {
    width: 258px;
    min-height: 160px;
}

.n3-g-b1 .field-author {
    font-weight: bold;
}

.n3-g-b1 .field-title {
    font-size: 1.2em;
}

.n3-g-b1 .field-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.n3-g-b1 .field-timestamp {
}

.n3-g-b1 .field-guid {
    float: right;
    margin-left: 5px;
}

.n3-g-b1 ul li.views-row-2, .n3-g-b1 li.views-row-5, .n3-g-b1 li.views-row-8, .n3-g-b1 li.views-row-11 {
    margin-right: 40px;
    margin-left: 40px;
}

.naszemedia {
    float: left;
}

.naszemedia .block-title {
    margin-bottom: 10px;
    color: #217293;
    font-weight: bold;
    font-size: 15px;
}

.naszemedia .content {
    float: left;
    width: 815px;
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 30px;
}

.naszemedia .content a {
    color: #585858;
    font-weight: bold;
    font-size: 13px;
}

.n3-g-nm1 {
    float: left;
    margin-right: 25px;
}

.n3-g-nm2 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-nm2 ul li {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
    font-size: 13px;
}

.n3-g-nm2 ul li.views-row {
    margin-bottom: 20px;
}

.n3-g-nm2 .field-title {
}

.n3-g-nm2 .field-description {
}

/* Wydarzenie prawa */
.wydarzenia {
    width: 300px;
    float: left;
}

.wydarzenia .content {
    line-height: 120%;
    font-weight: normal;
    font-size: 13px;
}

.n3-g-w3 ul {
    margin: 0px 0 0 3px;
    padding: 0px 0px 0px 10px;
}

.n3-g-w3 ul li {
    margin: 0px;
    padding: 0px;
    color: #C01626;
    margin-bottom: 7px;
    font-size: 14px;
}

.n3-g-w3 ul li a {
    color: #494949;
}

/* Popularne prawa */
.popularne {
    width: 300px;
    float: left;
}

.popularne .content {
}

.popularne .content a {
    color: #585858;
}

.n3-g-p1 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-p1 ul li {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-g-p1 .field-field-zdjecie-wiadomosc-fid {
    float: left;
    margin-right: 5px;
}

.n3-g-p1 .field-field-zdjecie-kolejnosc-fid {
    float: left;
    margin-right: 5px;
}

.n3-g-p1 .field-title {
}

.n3-g-p1 ul li.views-row {
    margin-bottom: 10px;
    min-height: 70px;
}

.n3-g-p1 ul li.views-row-last {
    margin-bottom: 0;
}


/* Twitter prawa */
.twitter {
    width: 300px;
    float: left;
}


/* Spotkania prawa */
.spotkania {
    width: 300px;
    float: left;
}

.spotkania .content {
    color: #585858;
}

.spotkania .content a {
    color: #585858;
}

.n3-g-s1 ul {
    margin: 0px;
    padding: 0px;
}

.n3-g-s1 ul li {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}

.n3-g-s1 .field-title {
    font-size: 1.1em;
    font-weight: bold;
}

.n3-g-s1 .field-teaser {
}

.n3-g-s1 ul li.views-row {
    margin-bottom: 15px;
}

#wrapper {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

#header1 {
    height: 110px;
    margin: 0px;
    padding: 0px;
}

#header1 .link2 {
    position: absolute;
    left: 0px;
    top: 78px;
    padding: 0 10px;
}

#header1 .menu2 {
    display: block;
    color: #FFF;
    width: 1180px;
    background-color: #055E64;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 16px;
}

#header1 .menu2 a {
    color: #d0d0d2;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

#header1 .srodek1 {
    display: block;
    width: 1180px;
    height: 85px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    background: #007c83;
}

.header-front {
    background-color: #007c83;
}

.header-page {
    /*background-color: #12688b;*/
    background-color: #007c83;
}

#header1 .logo1 {
    position: absolute;
    top: 15px;
}

#header1 .szukaj1 {
    position: absolute;
    display: block;
    width: 170px;
    height: 30px;
    right: 5px;
    top: 35px;
    margin: 0;
    padding: 0;
    z-index: 2;
}

#header1 .redakcja1 {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ededed;
}

#header1 .link1 {
    position: absolute;
    left: 650px;
    top: 10px;
    z-index: 1;
}

#header1 .naszemedia1 {
    color: #92f0f0;
    margin-bottom: 15px;
}

.naszemedia1 a {
    padding: 0 7px 0;
    color: #92f0f0;
}

.naszemedia1 a:first-child {
    padding: 0 7px 0 0;
}

.naszemedia1 a:hover {
    color: white;
}

#header1 .menu1 {
    color: #FFF;
    font-weight: bold;
}

#header1 .menu1 a {
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

#header1 .form-group {
    display: inline;
}

#header1 .form-control {
    position: absolute;
    left: 0;
    top: 0;
    background: #DCDEDC;
    padding: 0 7px;
    font-size: 12px;
    color: black;
    border: none;
    width: 116px;
    height: 30px;
    margin: 0;
}

#header1 .form-btn {
    position: absolute;
    left: 135px;
    top: 0;
    border: none;
    background: transparent url(images/lupa.png) no-repeat center center;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

ul#naglowek1 {
    position: absolute;
    left: 230px;
    top: 15px;
}

ul#naglowek1 li {
    display: block;
    position: relative;
    float: left;
    padding: 0px;
    width: 60px;
}

ul#naglowek1 li a {
    color: #535353;
    display: inline-block;
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    background: url('images/repertuar.png') no-repeat top;
}

ul#naglowek1 li a:hover {
    text-decoration: none;
    color: #FFF;
}

ul#naglowek1 li.pogoda a {
    background-position: center -0px;
}

ul#naglowek1 li.tv a {
    background-position: center -60px;
}

ul#naglowek1 li.kino a {
    background-position: center -120px;
}

ul#naglowek1 li.teatr a {
    background-position: center -180px;
}

ul#ikonki1 {
    position: absolute;
    top: 2px;
    left: 570px;
}

ul#ikonki1 li {
    display: block;
    position: relative;
    float: left;
    padding: 0px;
    width: 30px;
}

ul#ikonki1 li a {
    color: #535353;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    background: url('images/ikonki-social.jpg') no-repeat top;
}

ul#ikonki1 li a:hover {
    text-decoration: none;
    color: #FFF;
}

ul#ikonki1 li.f a {
    background-position: center -0px;
}

ul#ikonki1 li.t a {
    background-position: center -30px;
}

.najnowsze {
    display: block;
    float: left;
    width: 855px;
}

.n3-w-n1 {
    float: left;
    width: 855px;
}

.n3-w-n1 ul {
    margin: 0px;
    padding: 0px;
}

.n3-w-n1 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-w-n1 ul li {
    width: 185px;
}

.n3-w-n1 ul li.views-row-1, .n3-w-n1 ul li.views-row-2, .n3-w-n1 ul li.views-row-3 {
    margin-right: 37px;
}

.wideo {
    display: block;
    float: left;
    width: 505px;
}

.n3-w-v3 {
    margin-top: 45px;
}

.n3-w-v3 ul {
    margin: 0px;
    padding: 0px;
}

.n3-w-v3 ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.n3-w-v3 ul li {
    width: 155px;
}

.n3-w-v3 ul li.views-row-1, .n3-w-v3 ul li.views-row-2 {
    margin-right: 20px;
}

.n3-w-w1,.n3-w-o1 {
    line-height: 120%;
    font-weight: normal;
    font-size: 13px;
}

.n3-w-w1 ul, .n3-w-o1 ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

.n3-w-w1 ul li, .n3-w-o1 ul li {
    margin: 0px;
    padding: 0px;
    color: #960000;
    margin-bottom: 7px;
}

img {
    border: 0px none;
}

ul, ol {
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #295264;
}

a:hover {
    text-decoration: underline;
    color: #0E0E0E;
}

p {
    display: block;
    margin-bottom: 1em;
    margin-top: 0em;
}

.messages {
    background-color: #fff;
    border: 3px solid #007300;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    float: left;
    display: block;
    width: 1010px;
    text-align: center;
    font-size: 24px;
    color: #007300;
}

.messages ul {
    margin: 0;
}

div.error, tr.error {
    color: #a30000;
    background-color: #FFCCCC;
    font-size: 1.8em;
}

.form-item input.error, .form-item textarea.error {
    border: 1px solid #c52020;
    color: #363636;
}

#content {
    width: 1180px;
    float: left;
    background: #FFF;
}

#content-left {
    width: 855px;
    float: left;
    /*border-right: 1px solid #dadada;*/
}

#content-right {
    float: right;
    width: 300px;
}

#content-page-left {
    width: 855px;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

#content-page-right {
    width: 300px;
    float: right;
    margin-left: 10px;
}

.sws {
    width: 1200px;
    float: left;
    border-bottom: 1px solid #B6B6B6;
}

.sws .header {
    border-top: 2px solid #ff0922;
    width: 100%;
    display: block;
    background-color: #ededed;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sws .text {
    padding-left: 3px;
    height: 18px;
}

.sws .text span.haslo1 {
    font-size: 14px;
    color: #ff2035;
    letter-spacing: 2px;
    letter-spacing: 2px;
}

.sws .text span.haslo1 a {
    color: #ff2035;
}

.sws .text span.haslo2 {
    font-size: 12px;
    color: #323232;
    letter-spacing: 2px;
}

.sws-glowna-nowa .block ul {
    margin: 0px;
    padding: 0px;
}

.sws-glowna-nowa ul {
    display: block;
    margin: 0em;
    padding: 0px;
}

.sws-glowna-nowa ul li {
    display: inline-block;
    padding: 0px;
    position: relative;
    vertical-align: top;
    z-index: 99;
}

.sws-glowna-nowa ul li {
    width: 234px;
}

.sws-glowna-nowa .item-list ul li {
    list-style: disc outside none;
    margin: 10px 3px 10px 3px;
    padding: 0px 0px 0px 0px;
}

.sws-glowna-nowa .field-title a, .sws-glowna-nowa .field-field-zdjecie-kolejnosc-data-1 a {
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    color: #1A1A1A;
}

.sws-glowna-nowa .field-title a:hover, .sws-glowna-nowa .field-field-zdjecie-kolejnosc-data-1 a:hover {
    color: #730000;
}

.sws-glowna-nowa .field-field-zdjecie-kolejnosc-fid img {
    border: 1px solid #424242;
}

.sws-glowna-nowa .field-field-zdjecie-kolejnosc-fid a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 230px;
    border: 1px solid #424242;
}

.archiwa {
    float: left;
    text-align: left;
    width: 1000px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.vodpolecamy {
    width: 300px;
    float: left;
}

.vodpolecamy .header {
    border-top: 2px solid #B90000;
    width: 100%;
    display: block;
    background-color: #ededed;
    padding-top: 3px;
    padding-bottom: 3px;
}

.vodpolecamy .text {
    font-weight: bold;
    padding-left: 3px;
    height: 18px;
}

.vodpolecamy .text span.haslo1 {
    font-size: 14px;
    color: #262626;
}

.vodpolecamy .text span.haslo2 a {
    color: #B90000;
}

.vodpolecamy .block-title {
    font-weight: bolder;
    color: #900;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 2px;
}

.vodpolecamy .content {
    line-height: 120%;
    font-weight: normal;
    float: left;
    width: 300px;
}

.vodpolecamy .field-field-zdjecie-kolejnosc-data-1 {
    margin-bottom: 8px;
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
}

.vodpolecamy .content a {
    color: #B90000;
}

.vodpolecamy .content a:hover {
    color: #500000;
}

.strona-top .item-list ul li {
    list-style: none outside none;
    margin: 5px 2px 5px 5px;
    padding: 3px 0px 3px 0px;
    border-bottom: 1px solid #ebebeb;
}

.strona-top .item-list ul li {
    color: #6E6E6E;
}

.strona-top .item-list ul li a {
    color: #4b4b4b;
    font-size: 16px;
}

.strona-top .view-header {
    font-size: 16px;
    color: #FFF;
    padding: 5px;
    background-color: #C00;
}

.strona-top .view-header p {
    display: block;
    margin-bottom: 0em;
    margin-top: 0em;
}

.facebook {
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

#footer {
    font-size: 0.9em;
    width: 1140px;
    float: left;
    color: #4f4f4f;
    padding: 20px;
    background: #DCDCDC;
}

#footer .footer-big {
    font-size: 18px;
    color: black;
    margin-bottom: 6px;
}

#footer a {
    color: black;
}

.stopka1 {
    float: left;
    margin-left: 1%;
    width: 30%;
}

.stopka2, .stopka3, .stopka4 {
    float: left;
    margin-left: 1%;
    width: 22%;
}

/* NODE */
h1.page-title {
    color: #464646;
    display: block;
    text-align: left;
    font-size: 46px;
    line-height: 1.2em;
    margin: 0px 100px 15px 0px;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
}

h1.line {
    margin-bottom: 15px;
}

.node {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.node-data {
    text-align: right;
    font-size: 14px;
    display: block;
    position: relative;
    top: -16px;
}

.node-data span.created {
    color: #6E6E6E;
}

.node-data span.changed {
    color: #B9003D;
}

.node-content {
    padding-bottom: 10px;
    padding-top: 3px;
    line-height: 160%;
    font-size: 14px;
    text-align: justify;
}

.node-content img {
    border: 1px solid #323232;
    display: block;
    margin: 6px auto;
}

.node-content a {
    color: #960000;
}

.field-field-zdjecie-wiadomosc .field-items, .field-field-zdjecie-opinie .field-items, .field-field-zdjecie-media .field-items {
    float: left;
    margin-right: 10px;
}

.image-caption {
    font-size: 9px;
    color: #6E6E6E;
    width: 300px;
}

.field-field-wideo-wiadomosc {
    margin-bottom: 25px;
    margin-top: 25px;
}

#lista-tagi {
    display: inline-block;
}

.tagi {
    font-size: 0.9em;
    display: block;
    float: left;
    width: 855px;
    margin-bottom: 20px;
    color: #7e7e7e;
}

.tagi a {
    color: #7e7e7e;
}

.tagi span {
    display: block;
    margin-bottom: 3px;
}

.tagi .tag-30 {
    font-size: 12px;
}

/* autor */
.tagi .tag-29 {
    font-size: 11px;
}

/* tag */
#tagi-lista {
    margin-left: 130px;
}

#tagi-lista a {
    color: #11688b;
    font-size: 12px;
}

.tagi ul {
    margin: 0px;
    padding: 0px 0px 0px 5px;
}

.tagi ul li {
    margin-bottom: 5px;
}

.meta-wpis {
    width: 855px;
    float: left;
}

.meta-logo {
    margin-bottom: 15px;
    display: block;
    float: left;
    margin-top: 15px;
    width: 855px;
}

.meta-logo img {
}

.meta-wideo {
    width: 855px;
    float: left;
    padding-bottom: 10px;
}

.meta-wideo .emvideo-video {
    padding-top: 3px;
    padding-bottom: 10px;
}

.meta-social {
    width: 855px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.meta-social .facebookshare-box, .meta-social .gplusone-box, .meta-social .twitter-box, .meta-social .wykop-box {
    display: block;
    margin-bottom: 5px;
}

.meta-links {
    width: 855px;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
}

ul.links li {
    display: inline;
    list-style-type: none;
    padding: 0px 10px 0px 0px;
}

.meta-links ul, .meta-links ol {
    margin: 0px;
    padding: 0px;
}

.node .meta-druk {
    width: 120px;
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #7e7e7e;
}

.node .meta-druk a {
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('images/print.jpg');
    padding: 12px 0px 10px 42px;
    color: #7e7e7e;
}

.wylacz {
    width: 855px;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hr-node-wpis {
    height: 1px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.field-field-link-polecamy {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #B90000;
}

.field-field-link-polecamy .field-label {
    font-size: 20px;
    color: #1A1A1A;
}

.field-field-link-polecamy .field-items {
    font-size: 16px;
}

.node-unpublished {
    background-color: #FF4848;
    padding: 5px;
    border: 3px solid #960000;
    color: #FFF;
}

/* NODE TEMAT */
.node-temat {
    background-color: #F2F2F2;
    border: 1px solid #CECECE;
    float: left;
    width: 668px;
}

.node-temat .block-title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 2px;
}

.node-temat .field-field-zdjecie-wiadomosc-fid {
    float: left;
    margin-right: 10px;
}

.node-temat .field-title h2.nodetemat {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    font-size: 15px;
    font-weight: normal;
}

.node-temat .field-created {
    color: #323232;
}

.nodetemat td {
    width: 50%;
}

.baner1 {
    float: left;
    border-top: 1px dashed #AAA;
    margin-top: 5px;
    padding-top: 3px;
    text-align: center;
    width: 1200px;
    height: 80px;
}

.baner1 span {
    padding: 0;
    margin-top: 0;
    margin-right: 23px;
    margin-bottom: 0;
    margin-left: 23px;
}

.reklama-front {
    text-align: center;
}

/* COMMENT */
.page-comment .wylacz {
    display: none;
}

#comment-wrapper {
    float: left;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 855px;
}

#comment-wrapper .regulamin {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #323232;
    line-height: 1.5em;
    text-align: justify;
    border: 1px solid #960000;
}

#comment-wrapper h3 {
    display: block;
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 2em;
}

#comments .box {
    clear: both;
    margin: 25px 0 0 0;
}

.comment {
    clear: both;
    display: block;
    margin: 0 0 15px 0;
    padding: 5px;
    font-size: 14px;
}

.indented {
    margin-left: 40px;
}

.comment .title {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.comment .title .new {
    padding-left: 4px;
}

.comment .submitted {
    margin: 0px;
    padding: 0px;
}

.submitted span.at {
    color: #960000;
}

.submitted span.da {
    color: #7A7A7A;
}

.comment-published {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.indented .comment-published {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.comment-unpublished, .indented .comment-unpublished {
    border: 2px solid #B90000;
    background-color: #B90000;
    color: #FFF;
}

.comment-unpublished a, .indented .comment-unpublished a, .comment-unpublished .submitted, .indented .comment-unpublished .submitted {
    color: #FFF;
}

.comment .info {
    clear: both;
    display: block;
    font-size: 0.95em;
    padding: 5px 10px;
    color: #888;
}

.comment .content {
    line-height: 150%;
}

.comment .odp {
    text-align: right;
}

.comment ul.links {
    line-height: 24px;
    height: 24px;
    padding: 0;
    display: inline;
    margin: 1em 0 0 0;
    padding: 0;
    width: 100%;
}

.comment .links li {
    margin: 0!important;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
    padding: 0 1em;
    line-height: 24px;
    display: inline-block;
}

.comment .links li:hover {
    color: #333;
}

.comment .links li a {
    background: #9b9b9b;
    color: #fff;
    padding: 3px 10px;
    border-radius: 2px;
}

.comment .links li:hover a, .comment .links li:hover a:hover {
    color: #730000;
}

ul.links li.comment_add a {
    font-size: 1.3em;
    color: #FFF;
    background-color: #217293;
    padding: 3px;
}

/* wpis-wydarzenia */
.wpis-wydarzenia ul {
    margin: 0px;
    padding: 0px;
}

.wpis-wydarzenia ul li.views-row {
    border-bottom: 1px dashed #3E3E3E;
    list-style: disc outside none;
    display: inline-block;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 20px 0px;
}

.wpis-wydarzenia ul li {
    width: 855px;
}

.wpis-wydarzenia .views-row-odd .field-field-zdjecie-media-fid,  .wpis-wydarzenia .views-row-odd .field-field-zdjecie-opinie-fid,  .wpis-wydarzenia .views-row-odd .field-field-zdjecie-fid,  .wpis-wydarzenia .views-row-odd .field-field-zdjecie-wiadomosc-fid {
    float: left;
    margin-right: 10px;
}

.wpis-wydarzenia .views-row-even .field-field-zdjecie-media-fid,  .wpis-wydarzenia .views-row-even .field-field-zdjecie-opinie-fid,  .wpis-wydarzenia .views-row-even .field-field-zdjecie-fid,  .wpis-wydarzenia .views-row-even .field-field-zdjecie-wiadomosc-fid {
    float: left;
    margin-right: 10px;
}

.wpis-wydarzenia .field-title h2 {
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.wpis-wydarzenia .field-created {
    font-size: 18px;
    color: #323232;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}

.wpis-wydarzenia .field-sticky {
    display: block;
    font-size: 1.6em;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.wpis-wydarzenia .field-sticky a {
    color: #FFF;
    background-color: #960000;
    padding: 3px;
}

.wpis-wydarzenia .field-body {
    line-height: 150%;
    display: block;
}

/* PRAWA */
.block-prawa1 .block-title, .block-prawa2 .block-title, .block-prawa3 .block-title, .block-prawa4 .block-title, .block-prawa5 .block-title, .block-wyd1 .block-title, .block-wyd2 .block-title, .block-wyd3 .block-title, .block-opinie1 .block-title, .block-opinie2 .block-title, .block-opinie3 .block-title, .block-ogolna1 .block-title, .block-ogolna2 .block-title, .block-ogolna3 .block-title, .block-wiadomosci1 .block-title {
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 3px;
    border-left: 4px solid #B90000;
    border-top: 1px solid #B90000;
    letter-spacing: 2px;
}

.prawa-opinie tr {
    text-align: center;
    vertical-align: bottom;
}

.prawa-opinie-wyd .views-row {
    text-align: center;
}

.prawa-opinie-wyd img {
    border: 1px solid #000;
}

.prawa-opinie-wyd .field-title a {
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
}

.prawa-opinie-wyd .field-title a {
    color: #730000;
}

.prawa-opinie-wyd .views-row {
    display: block;
    margin-bottom: 15px;
}

.block-prawa1 .item-list ul {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    display: block;
}

.block-prawa1 .item-list ul li {
    list-style: square outside none;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-left: 3px;
    padding-left: 0px;
    margin-top: 10px;
    color: #B90000;
}

.block-prawa1 ul li a {
    color: #4B4C4C;
    font-size: 14px;
}

.strona-wiadomosci .views-row {
    display: block;
    margin-bottom: 15px;
}

.strona-wiadomosci .field-created {
    font-size: 14px;
    display: block;
}

.strona-wiadomosci .field-title a {
    font-size: 16px;
    padding: 3px;
    display: block;
}

.strona-wiadomosci .field-title a {
    color: #00797e;
}

.strona-wiadomosci .field-field-zdjecie-wiadomosc-fid {
    margin-bottom: 20px;
}

/* TABLE */
table {
    margin: 0px;
    width: 100%;
}

thead th {
    border-bottom: 2px solid #d3e7f4;
    color: #494949;
    font-weight: bold;
}

th a:link, th a:visited {
    color: #6f9dbd;
}

td, th {
    padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
    border: solid #d3e7f4;
    border-width: 1px 0;
}

tr.odd, tr.info {
    background-color: #edf5fa;
}

tr.even {
    background-color: #fff;
}

tr.drag {
    background-color: #ffb;
}

tr.drag-previous {
    background-color: #ffd;
}

tr.odd td.active {
    background-color: #ddecf5;
}

tr.even td.active {
    background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
    border-top: 1.5em solid #fff;
    border-bottom: 1px solid #b4d7f0;
    background-color: #d4e7f3;
    color: #455067;
    font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
    border-top-width: 0;
}

.glowna-sponsorowany {
    padding: 0px;
    margin: 0px;
    color: #960000;
}

.glowna-sponsorowany .field-title { margin-bottom: 5px;}

.glowna-sponsorowany a {
    color: #960000;
}

span.art-spons {
    color: #9E9E9E;
    font-size: 0.8em;
    font-weight: 200;
    text-transform: none;
    width: 100%;
    display: block;
}

.field-field-link-sponsorowany-url,
.field-field-link-sponsorowany-url-1,
.field-field-link-sponsorowany-url-2,
.field-field-link-sponsorowany-url-3,
.field-field-link-sponsorowany-url-4,
.field-field-link-sponsorowany-url-5,
.field-field-link-sponsorowany-url-6,
.field-field-link-sponsorowany-url-7,
.field-field-link-sponsorowany-url-8,
.field-field-link-sponsorowany-url-9 { margin-bottom: 5px;}


.page-print img {
    display: none;
}

#menu_footer {
    letter-spacing: 2px;
    font-size: 1.4em;
}

#menu_footer ul {
    padding: 0px 0px 0px 30px;
    margin: 15px;
}

#menu_footer ul li {
    padding: 5px 0px 0px 0px;
    margin: 0px;
}

.block-linki1 {
    margin: 10px;
    padding: 3px;
    border: 2px solid #000;
}

.block-linki1 a {
    color: #000;
    font-weight: bold;
}

.block-linki2 {
    margin: 10px;
    padding: 3px;
    border: 2px solid #007300;
}

.block-linki2 a {
    color: #007300;
    font-weight: bold;
}

.block-linki3 {
    margin: 10px;
    padding: 3px;
    border: 2px solid #B90000;
}

.block-linki3 a {
    color: #B90000;
    font-weight: bold;
}

.block-linki4 {
    margin: 10px;
    padding: 3px;
    border: 2px solid #003DB9;
}

.block-linki4 a {
    color: #003DB9;
    font-weight: bold;
}

/* SYSTEM */
.item-list .pager {
    clear: both;
    text-align: center;
}

.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}

.pager-current {
    font-weight: bold;
}

.foto-1, .foto-2, .foto-3, .foto-4, .foto-5, .foto-6, .foto-7, .foto-8, .foto-9, .foto-10 {
    padding: 3px;
    border: 2px solid #009600;
    margin-bottom: 3px;
}

.foto-11, .foto-12, .foto-13, .foto-14, .foto-15, .foto-16, .foto-17, .foto-18, .foto-19, .foto-20 {
    padding: 3px;
    border: 2px solid #DC0000;
    margin-bottom: 3px;
}

ul.pager {
    padding: 0px;
    margin: 25px;
}

ul.pager .active {
    background: #055E64;
    width: 200px;
    padding: 10px;
    color: #FFF !important;
    text-decoration: none;
    font-weight: normal;
    line-height: 1;
    border-bottom: 1px solid #CCC;
    margin: 10px auto;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #CCC;
    -webkit-box-shadow: 0 1px 3px #CCC;
    border-radius: 5px;
    box-shadow: 0 1px 3px #CCC;
    font-size: 1.2em;
}

#content-page-left .view-content {
    float: left;
    width: 855px;
}

#content-page-left .item-list {
    float: left;
    width: 855px;
}

.sidebar-block {
    float: left;
    width: 300px;
    margin-bottom: 30px;
}

.sidebar-front-block {
    float: left;
    width: 300px;
    margin-bottom: 15px;
}

.prawa-spis .item-list ul {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    display: block;
}

.prawa-spis .item-list ul li {
    list-style: square outside none;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-left: 3px;
    padding-left: 0px;
    color: #B90000;
    font-size: 1.1em;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0em !important;
    background-color: transparent !important;
    border: none !important;
}

td.gsc-input, td.gsc-search-button, td.gsc-clear-button {
    padding: 0px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 1px !important;
}

input.gsc-search-button {
    margin-left: 0px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    padding: 6px 6px !important;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201C""\201C""\201C";
    clear: left;
}

blockquote:before {
    color: #730000;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    margin-bottom: 5px;
}

.hline {
    display: block;
    width: 100%;
    height: 12px;
    border-bottom: 4px solid #EEEEEE;
    margin-bottom: 12px;
    clear: both;
}

.hline2 {
    display: block;
    width: 100%;
    height: 5px;
    border-bottom: 4px solid #EEEEEE;
    margin-bottom: 5px;
    clear: both;
}

.clear {
    clear: both;
}

.glowna-wydarzenia-nowa {
    display: block;
    width: 100%;
    overflow: hidden;
}

#opinie .nag-header, #vod .nag-header {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

#opinievod {
    display: block;
    width: 100%;
    background: url(images/vline.jpg) repeat-y 265px 10px;
    position: relative;
    overflow: hidden;
}


#stream {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
	 margin-top: 30px;
}


#sport, #gospodarka, #historia, #kultura, #obrona, #prawo {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#sport .content-l,
#gospodarka .content-l,
#historia .content-l,
#kultura .content-l,
#obrona .content-l,
#prawo .content-l{
    width: 515px;
    float: left;
    margin-right: 15px;
}

#sport .content-r,
#gospodarka .content-r,
#historia .content-r,
#kultura .content-r,
#obrona .content-r,
#prawo .content-r {
    width: 325px;
    float: right;
    font-size: 14px;
}

#sport .content-l ul,
#gospodarka .content-l ul,
#historia .content-l ul,
#kultura .content-l ul,
#obrona .content-l ul,
#prawo .content-l ul
{
    margin: 0px;
    padding: 0px;
}

#sport .content-l ul li,
#gospodarka .content-l ul li,
#historia .content-l ul li,
#kultura .content-l ul li,
#obrona .content-l ul li,
#prawo .content-l ul li
 {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

#sport .content-l ul li,
#gospodarka .content-l ul li,
#historia .content-l ul li,
#kultura .content-l ul li,
#obrona .content-l ul li,
#prawo .content-l ul li
 {
    width: 250px;
}

#sport .content-l h2.tytul-dzialy,
#gospodarka .content-l h2.tytul-dzialy,
#historia .content-l h2.tytul-dzialy,
#kultura .content-l h2.tytul-dzialy,
#obrona .content-l h2.tytul-dzialy,
#prawo .content-l h2.tytul-dzialy
{
    font-size: 16px;
    margin: 5px 0px 3px 0px;
    padding: 0px;
    font-weight: bold;
}

#sport .content-l ul li.views-row-1,
#gospodarka .content-l ul li.views-row-1,
#historia .content-l ul li.views-row-1,
#kultura .content-l ul li.views-row-1,
#obrona .content-l ul li.views-row-1,
#prawo .content-l ul li.views-row-1
 {
    margin-right: 15px;
}

#sport .content-r ul,
#gospodarka .content-r ul,
#historia .content-r ul,
#kultura .content-r ul,
#obrona .content-r ul,
#prawo .content-r ul
 {
    margin: 0px 0 0 3px;
    padding: 0px 0px 0px 10px;
}

#sport .content-r ul li,
#gospodarka .content-r ul li,
#historia .content-r ul li,
#kultura .content-r ul li,
#obrona .content-r ul li,
#prawo .content-r ul li
 {
    margin: 0px;
    padding: 0px;
    color: #C01626;
    margin-bottom: 7px;
    font-size: 14px;
}

#sport .content-r ul li a,
#gospodarka .content-r ul li a,
#historia .content-r ul li a,
#kultura .content-r ul li a,
#obrona .content-r ul li a,
#prawo .content-r ul li a
 {
    color: #494949;
}

.dzialy-wpis {
    font-size: 14px;
}

.dzialy-wpis ul {
    margin: 0px;
    padding: 0px;
}

.dzialy-wpis ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    vertical-align: top;
}

.dzialy-wpis .field-field-zdjecie-wiadomosc-fid {
    float: left;
    margin-right: 5px;
}

.dzialy-wpis ul li.views-row {
    margin-bottom: 10px;
    min-height: 70px;
    width: 300px;

}

.dzialy-wpis ul li.views-row-last {
    margin-bottom: 0;
}

.wydarzenia .nag-header .nag-text {
    font-weight: normal;
}

.n3-g-v2 ul li {
    position: relative;
    height: 205px;
}
/*
.n3-g-v2 ul li div:last-child a {
    display: block;
    top: -160px;
    background: transparent url(images/video.png) no-repeat 15px 100px;
    position: relative;
    padding-top: 160px;
}
 */
.n3-w-v3 .field-field-zdjecie-kolejnosc-data-1 {
    font-size: 16px;
}

.n3-g-p1 .field-field-zdjecie-kolejnosc-data-1 {
    font-size: 13px;
}

.comment-body {
    float: left;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 855px;
}

#stopka {
    color: #730000;
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px;
}

/* content stream */
.kd_ns_box {
    width: 25% !important;
    margin-right: 7px;
}

.kd_ns_ads {
    display: inline-flex;
    margin: 0 !important;
}

.see_also {
    border-top: 3px solid #960000;
    color: #960000;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.kd_ns_image_div {
    width: 180px;
    height: 105px;
    overflow: hidden;
    margin-bottom: 5px;
}

.kd_ns_image {
    width: 100%;
    height: auto;
}

.kd_ns_font {
    color: #295264;
    font-size: 16px;
    line-height: 16px;
}

.kd_ns_sponsored {
    font-size: 9px;
}

.reklama-wrapper {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 1180px;
}

.reklama-content-left {
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    width: 855px;
}

.reklama-node-top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1180px;
}

.glowna-top {
    float: left;
    height: 320px;
    width: 855px;
}

.glowna-top-left {
    float: left;
    height: 320px;
    width: 545px;
}

.glowna-top-right {
    float: right;
    margin-left: 10px;
    width: 300px;
}

.glowna-top-kontakt {
    height: 50px;
    margin-bottom: 20px;
    width: 300px;
}

.glowna-top-reklama {
    height: 250px;
    width: 300px;
}



.node-social-bottom {
    padding-top: 25px;
    text-align: right;
}

.node-vod, .node-reklama, .node-opinie {
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 855px;
}

.node-opinie-content {
    border-top: 3px solid #DADADA;
    color: #217293;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

#comment-form {
    margin: 15px;
    padding: 15px;
}

#comment-form #edit-name-wrapper {
    margin-bottom: 15px;
}

#comment-form #edit-mail-wrapper {
    margin-bottom: 15px;
}

#comment-form #edit-comment-wrapper {
    margin-bottom: 15px;
}

#comment-form .captcha {
    margin-bottom: 15px;
}


.node .field-field-spo-opis { display: block; width: 100%; font-size: 0.9em; color: #868686; margin-bottom: 20px;}
.node .field-field-spo-haslo { display: block; width: 100%; font-size: 0.9em; color: #868686; margin-bottom: 20px;}


#comment-form .form-item { font-size: 14px; margin-bottom: 20px;}

#sws {
    width: 1140px;
	 color: #730000;
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px;
}

#cookies { width: 1140px; border-top: 2px solid #730000; display: block; color: #AAA; font-size: 0.9em; float: left; margin: 2px 0px 0px 0px; padding: 3px 0px 0px 0px; }



#div-gpt-ad-1462353102619-0,
#div-gpt-ad-1455085828810-0,
#div-gpt-ad-1456134468490-0,
#div-gpt-ad-glowna1,
#div-gpt-ad-glowna4,
#SG_GORA_750x200,
#SG_GORA_LEWA_300x250,
#SG_SRODEK_1_LEWA_750x200,
#SG_SRODEK_2_LEWA_750x200,
#SG_SRODEK_1_PRAWA_300x250,
#SG_SRODEK_2_PRAWA_300x250,
#SG_DOL_750x200,
#WIADOMOSC_GORA_TOP_750x200,
#WIADOMOSC_GORA_PRAWA_300x600,
#WIADOMOSC_SRODEK_PRAWA_300x250,
#WIADOMOSC_DOL_CONTENT_LEWA_336x280,
#WIADOMOSC_STICKYAD_PRAWA_300x600,
#WIADOMOSC_DOL_750x200,
#WIADOMOSC_KOMENTARZE_750x200,
#WIADOMOSC_CONTENT_VIDEO,
#INNE_GORA_TOP_750x200,
#INNE_GORA_PRAWA_300x600,
#INNE_DOL_PRAWA_300x250,
#div-gpt-ad-1479192731311-0 { margin-left: auto; margin-right: auto;}


.field-field-logo-sponsorowany img { border: none; text-align: left; margin: 0px; padding: 0px;}
.field-field-belka-sponsorowany img { border: none; margin: 0px; padding: 0px;}

.media_embed {
    clear: both;
    padding-top: 20px;
    width: 100%;
    display: block;
}