/* Warning - Editing below can break the script */
html.accordion-menu-js dd.a-m-d{
	display:none;
}

html.accordion-menu-js dd.a-m-d-expand {
	display:block;

}

html.accordion-menu-js dd.a-m-d-before-expand {
	display:block;
	position:relative;
	z-index:-1;
/*	opacity:0;*/
	height:auto !important;
	visibility:hidden;
	overflow:visible;
}

html.accordion-menu-js dt.a-m-t-expand {
}


html.accordion-menu-js dd.a-m-d-anim {
	overflow:hidden;
	display:block;	
}

dl.accordion-menu dd.a-m-d .bd{

}

.sbdhidden{ display: none; }
/* Warning - Editing above can break the script */

/* Editable section below */

dl, dt, dd         { width: 160px; margin: 0; padding-left: 5px; list-style-type: none;}
dl.accordion-menu dt         { background: #73A41D; padding-left: 5px; color: #000000; font-size: 100%; font-weight: bold; height: 22px; line-height: 180%; border-bottom: 1px solid; border-color: #ffffff;/*white-space: nowrap;*/ }
dl.accordion-menu dt:hover   { background: #73A41D; padding-left: 5px; color: #000000; font-size: 100%; cursor: pointer; display:block; }
dl.accordion-menu dt a       { background: #73A41D; padding-left: 5px; color: #ffffff; font-size: 100%; text-decoration: none; font-family:Verdana,Arial,Helvetica,sans-serif;}
dl.accordion-menu dt a:hover { background: #73A41D; padding-left: 5px; color: #000000; font-size: 100%; }

dl.accordion-menu dd         { line-height: 180%; padding-left: 2px; }
dl.accordion-menu dd a       { color: #000000; font-size: 100%; text-decoration: none; display: block; padding-left: 10px; background:url(../../../templates/ja_purity/images/purple-arrow.png) no-repeat 0px 5px;}
dl.accordion-menu dd a:hover { color: #000000; }

span.rollmainlevel{ cursor: pointer; }


/* Example CSS to control active menu/submenu a link */
#active_roll_menu{ color: #ff0000; }
a:hover#active_roll_menu { color: #000000; }

/* Example CSS to override CSS for top level expanded menu */
#activeparent_roll_menu{ color: #00ff00; }