/***** Disable the css because we have no longer use *****/
/* .afc {
    display: none
}
.afc .title a {
    font-family: "larsseitregular", Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-style: italic;
    color: #cdcdcd;
    display: block;
    margin: 0
}
.afc p {
    margin: 0;
    font-family: "larsseitregular", Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 16px
}
.afc p.title {
    border-bottom: 1px solid #eaeaea
}
.afc ul li {
    padding: 16px 0 0 0
}
.afc li a {
    display: inline-block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px
}
.afc li a.bottomlink {
    color: #008ee1;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    border-bottom:1px solid transparent;
}
.afc .title a:hover {
    text-decoration:underline;
}
.afc li a.bottomlink:hover {
    text-decoration: none;
    color: #0179C7;
    border-bottom: 1px solid #0179C7;
}
.afc li a.bottomlink span {
    background: url(http://o.aolcdn.com/os/uk-unity/images/sponsor-arrow.png) no-repeat 5px -16px;
    display: none;
    width: 23px;
    height: 23px;
    position: relative;
    top: 3px
}
[data-browser-version='ie7'] .afc li a.bottomlink span {
    top: -1px
}
#riverafc {
    padding: 15px 0 19px 0
}
#permalink .afc {
    padding: 30px 0 15px 0
}
#riverafc ul li {
    margin: 0 0 10px
}
@media only screen and (max-width: 999px) and (min-width: 768px) {
    #riverafc ul li {
        width: 100%;
        margin: 0;
        border: 0 !important;
        padding: 0 !important
    }
} */