.aol-btn {
	font-family: "larsseitregular", arial, "sans-serif";
	font-size:16px;
	border-radius: 3px;
	line-height: 20px;
	padding: 13px 22px;
	background-color: #008EE1;
	transition: 0.15s ease;
	color: #FFF;
	text-decoration:none;
	cursor:pointer;
	display: inline-block;
	text-align:center;
	position:relative;
	outline:none;
	border:0;
}
.aol-btn:hover {
	color: #FFF;
	text-decoration:none;
	background-color: #0270B8;
}
.aol-btn:before,.aol-btn:after {
	font-family:'aol-core';
	position:absolute;
}
.aol-btn.arrow-left {
	padding-left:35px;
}
.aol-btn.arrow-left:before {
	content:"\e60d";
	left:10px
}
.aol-btn.arrow-right,
.aol-btn.arrow-up,
.aol-btn.arrow-down {
	padding-right:35px;
}
.aol-btn.arrow-right:before,
.aol-btn.arrow-up:before,
.aol-btn.arrow-down:before {
	right:10px;
}
.aol-btn.arrow-right:before {
	content:"\e60e";
}
.aol-btn.arrow-up:before {
	content:"\e60b";
}
.aol-btn.arrow-down:before {
	content:"\e60c";
}
/* BUTTONS: Overrides: action button */
.aol-btn.action-btn {
	background-color: #FA0F7F;
}
.aol-btn.action-btn:hover {
	background-color: #CA0060;
}
/* BUTTONS: Overrides: tag button */
.aol-btn.tag-btn {
	background-color: #EDEDED;
	color:#000;
}
.aol-btn.tag-btn:hover {
	background-color: #D6D6D6;
	color:#000;
}
/* BUTTONS: Overrides: secondary button */
.aol-btn.secondary-btn {
	color: #008EE1;
	border: 2px solid #008EE1;
	background-color: #fff;
}
.aol-btn.secondary-btn:hover {
	background-color: #008EE1;
	color:#fff;
}