.xd-carousel, .xd-carousel * {
	box-sizing: border-box;
}
.xd-carousel {
	display: block;
}
/* Pagination - dots/left,right etc. */
.xd-carousel .xd-controls {
	background: none;
	padding:0;
	height: 0;
	position: absolute;
	bottom: 0;
	opacity: 1;
	filter: Alpha(Opacity=100);
	margin: 0 auto;
    text-align: center;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Change the default cursor */
.xd-controls .xd-page,
.xd-controls .xd-buttons div {
    cursor: pointer
}

/* Nav buttons - prev and next */
.xd-theme .xd-controls.clickable .xd-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none
}

/* Dots wrapper */
.xd-theme .xd-controls .xd-page {
    display: inline-block;
    zoom: 1
}

/* The dots */
.xd-theme .xd-controls .xd-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791
}

/* Hover on dots/active dot */
.xd-theme .xd-controls .xd-page.active span,
.xd-theme .xd-controls.clickable .xd-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1
}

/* Clear floats */
.xd-carousel .xd-wrapper:after,
.xd-carousel .xd-wrapper:before {
    content: " ";
    display: table;
}
.xd-carousel .xd-wrapper:after {
	clear: both;
}

/* The element */
.xd-carousel {
    position: relative;
    width: inherit;
    -ms-touch-action: pan-y;
}

/* Hide all but the first item */
.xd-carousel .xd-item:nth-child(n+2) {
    display: none;
}

/* Items wrapper */
.xd-carousel .xd-wrapper {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0)
}

/* Wrapper for the items wrapper (not sure why I needed this!) */
.xd-carousel .xd-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.xd-carousel .xd-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}

/* The item */
.xd-carousel .xd-item {
	position: relative;
    float: left;
}

/* The A/IMGs inside the item */
.xd-carousel .xd-item a,
.xd-carousel .xd-item img {
    display: block;
}
.xd-carousel .xd-item a {
	display: block;
	color: #000000;
	text-decoration: none;
}
.xd-carousel .xd-item img {
	width: 100%;
}

/* Slide title options */
.xd-item h1, .xd-item h2, .xd-item h3, .xd-item h4 {
	font-size: 28px;
	font-family: "larsseitregular",Helvetica,Arial,Sans-serif;
    position: absolute;
    color: #000;
    bottom: 0;
    margin: 0;
    padding: 15px 30px 15px;
    width: 100%;
    background: #fff;
    text-align: center;
    filter: Alpha(Opacity=80);
    opacity: .8
}

/* Takes effect while the slide is being dragged */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

/* Thumbnails */
.xd-thumbs-wrapper {
	padding-top: 10px;
    position: relative;
    text-align: center
}
.xd-thumbs-inner {
    visibility: visible;
    margin: 0 auto;
    width: 100%;
    max-width: 640px
}
.xd-thumbs-wrapper .xd-thumbs {
    margin: 0;
    padding: 0
}
.xd-thumbs-wrapper .xd-thumb {
    float: left;
    list-style: none;
    width: 145px
}
.xd-thumbs-wrapper .xd-thumb a,
.xd-thumbs-wrapper .xd-thumb img {
    display: block;
    color: #000
}
.xd-thumbs-wrapper .xd-thumb img {
    width: 100%;
    height: 100px;
    border: 5px solid #ddd;
}
.xd-thumbs-wrapper .xd-thumb.thumb-active img {
    border: 5px solid #fd2c7d
}
.xd-thumbs-wrapper .xd-thumb.thumb-active:after {
    top: -18px;
    z-index: 900;
    border-color: transparent;
    content: " ";
    position: absolute;
    border-bottom-color: #fa0f7f;
    border-width: 9px;
    margin-left: -10px;
    border-style: solid;
}
.xd-thumb:first-child {
	margin-left: 0;
}
.xd-thumb {
	margin-left: 20px;
}

/* Browser hacks */
.xd-carousel .xd-wrapper,
.xd-carousel .xd-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

/* Various animations/keyframes etc. */
.xd-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -moz-perspective: 1200px;
    -moz-perspective-origin-x: 50%;
    -moz-perspective-origin-y: 50%;
    perspective: 1200px
}
.xd-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease
}
.xd-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease
}
.xd-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    -moz-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease
}
.xd-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    -moz-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease
}
.xd-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    -moz-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both
}
.xd-goDown-in {
    -webkit-animation: goDown .6s ease both;
    -moz-animation: goDown .6s ease both;
    animation: goDown .6s ease both
}
.xd-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    -moz-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both
}
.xd-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    -moz-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both
}
@-webkit-keyframes empty {
    0 {
        opacity: 1
    }
}
@-moz-keyframes empty {
    0 {
        opacity: 1
    }
}
@keyframes empty {
    0 {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0 {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0 {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0 {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeOut {
    0 {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes fadeOut {
    0 {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0 {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes backSlideOut {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%)
    }
    100% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%)
    }
}
@-moz-keyframes backSlideOut {
    25% {
        opacity: .5;
        -moz-transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%)
    }
    100% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%)
    }
}
@keyframes backSlideOut {
    25% {
        opacity: .5;
        transform: translateZ(-500px)
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%)
    }
    100% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%)
    }
}
@-webkit-keyframes backSlideIn {
    0, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0)
    }
}
@-moz-keyframes backSlideIn {
    0, 25% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateZ(0) translateX(0)
    }
}
@keyframes backSlideIn {
    0, 25% {
        opacity: .5;
        transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px)
    }
    100% {
        opacity: 1;
        transform: translateZ(0) translateX(0)
    }
}
@-webkit-keyframes scaleToFade {
    to {
        opacity: 0;
        -webkit-transform: scale(.8)
    }
}
@-moz-keyframes scaleToFade {
    to {
        opacity: 0;
        -moz-transform: scale(.8)
    }
}
@keyframes scaleToFade {
    to {
        opacity: 0;
        transform: scale(.8)
    }
}
@-webkit-keyframes goDown {
    from {
        -webkit-transform: translateY(-100%)
    }
}
@-moz-keyframes goDown {
    from {
        -moz-transform: translateY(-100%)
    }
}
@keyframes goDown {
    from {
        transform: translateY(-100%)
    }
}
@-webkit-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}
@-moz-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -moz-transform: scale(1.5)
    }
}
@keyframes scaleUpFrom {
    from {
        opacity: 0;
        transform: scale(1.5)
    }
}
@-webkit-keyframes scaleUpTo {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}
@-moz-keyframes scaleUpTo {
    to {
        opacity: 0;
        -moz-transform: scale(1.5)
    }
}
@keyframes scaleUpTo {
    to {
        opacity: 0;
        transform: scale(1.5)
    }
}



/** Travel DL Overrides **/
.xd-carousel .xd-buttons {
	height: 0;
	position: absolute;
	bottom: 250px;
	width: 100%;
}

.xd-controls .xd-pagination {
	position: absolute; 
	bottom: 10px; 
	left: 42%;
	display:none;
}
.xd-theme .xd-controls .xd-page span {
	opacity: 1;
	filter: Alpha(Opacity=100);
}
.xd-theme .xd-controls .xd-page.active span, .xd-theme .xd-controls.clickable .xd-page:hover span {
	background-color: #1986D5;
}
.xd-carousel .dl-photo-credit { 
	position: absolute;
	top: -18px;
	right: 0;
	font-size: 10px;
	display: none;
	background: #999;
	padding: 2px;
	color: #eee;
}
.xd-carousel .xd-thumb.thumb-active .dl-photo-credit {
	display:block;
}
.xd-thumbs-wrapper .xd-thumb h2,
.xd-thumbs-wrapper .xd-thumb h3 {
	margin-top:14px;
	font-size: 16px;
	line-height: 20px;
	text-align:left;
	font-family: "larsseitregular",sans-serif;
	font-weight: 400;
}

.xd-theme .xd-controls .xd-buttons div { width: 34px; height: 50px; }
.xd-theme .xd-controls .xd-buttons div	{ background-image: url('http://www.blogsmithmedia.com/travel.aol.co.uk/media/trv-arrows-sprite.png'); background-repeat: no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 240dpi) {
	.xd-theme .xd-controls .xd-buttons div	{ background-image: url('http://www.blogsmithmedia.com/travel.aol.co.uk/media/trv-arrows-sprite2px.png'); background-size: 239px; background-repeat: no-repeat; }
}

.xd-wrapper-outer:hover .xd-next{ background-position: -89px -10px; }
.xd-wrapper-outer:hover .xd-prev{ background-position: -89px -112px; }
.xd-carousel .xd-prev			{ float: left; margin-left: 20px; background-position: -179px -112px; }
.xd-carousel .xd-prev:hover		{ background-position: -10px -112px;; }
.xd-carousel .xd-next			{ float: right; margin-right: 20px; background-position: -179px -10px; }
.xd-carousel .xd-next:hover		{ background-position: -10px -10px; }


@media only screen and (max-width: 767px){
    .xd-carousel .xd-wrapper-outer {
        padding-bottom: 10px;
    }
    .xd-carousel .xd-controls .xd-pagination {
        left: 32%;
    }
    .xd-carousel .xd-wrapper .xd-item h3 {
        box-sizing: border-box;
        font-size: 19px;
        max-width: 300px;
        padding: 15px 30px 15px;
    }
    
    .xd-carousel .xd-buttons {
        display: none; 
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .xd-carousel .xd-wrapper-outer {
        padding-bottom: 10px;
    }
    .xd-carousel .xd-controls .xd-pagination {
        left: 38%;
    }
    .xd-carousel .xd-wrapper .xd-item h3 {
        box-sizing: border-box;
        font-size: 24px;
        max-width: 420px;
    }
}

@media only screen and (max-width: 999px) and (min-width: 768px) {
    .xd-carousel .xd-wrapper-outer {
        padding-bottom: 10px;
    }
    .xd-controls .xd-pagination {
        left: 38%;
    }
    .xd-carousel .xd-wrapper .xd-item h3 {
        box-sizing: border-box;
        font-size: 22px;
        max-width: 420px;
    }
}

