.currency-converter__select, 
.currency-converter__input 	{
    margin: 10px 0;
    width: 100%; 
}
.currency-converter__input {
	margin-top: 0;
}
.currency-converter__separator {
    display: table;
    margin: 5px auto;
	-webkit-transform: translateZ(0);
          	transform: translateZ(0);
}
.currency-converter__separator:before {
	font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;	
    color: #008EE1;
	-webkit-transform: rotateZ(-90deg);
      	-ms-transform: rotate(-90deg);
          	transform: rotateZ(-90deg);
}
.currency-converter__submit {
	display: table;
    margin: auto;
    margin-top: 10px;
    padding: 0 35px 0 25px;	
}
.aol-btn.currency-converter__submit {
    display: table;
    margin: auto;
    margin-top: 10px;
    padding: 0 35px 0 25px;	
}
.currency-converter__disc {
	margin-top: 10px; 
	color: #7A7B7C; 
	font-size: 12px; 
	text-align: center;
}


@media only screen and (min-width:1000px) { 
	
	.lo-left .currency-converter__input { 
		margin-right: 10px; 
		width: 80px; 
		vertical-align: bottom;
	}
	.lo-left .currency-converter__select { 
		margin-right: 10px; 
		width: 33%; 
	}
	.lo-left .currency-converter__separator { 
		display: inline-block; 
        margin: 0 10px 13px 0;
	    padding: 0;
	}
	.lo-left .currency-converter__separator:before {
    	-webkit-transform: rotateZ(180deg);
        	-ms-transform: rotate(180deg);
            	transform: rotateZ(180deg);
	}
	.lo-left .currency-converter__submit { 
		display: inline-block; 
		vertical-align: top; 
		padding: 0 35px 0px 10px;
	}
	.lo-left .currency-converter__disc 	{ 
		text-align: right; 
	}
	
}
