/** Reset CSS**/
html                { background: #fff; color: #222; }
body, div, dl, dt, dd, ul, ol, 
li, h1, h2, h3, h4, h5, h6, pre, 
code, form, fieldset, legend, input, 
textarea, p, blockquote, th, td   { margin: 0; padding: 0; border: 0; vertical-align: baseline;font-family:"larsseitregular","sans-serif"}
table                 { border-spacing: 0; border-collapse: collapse; }
fieldset, img             { border: 0; }
li                  { list-style: none; }
caption, th             { text-align: left; }
h1, h2, h3, h4, h5, h6        { color: #222; font-weight: 300; }
q:before, q:after           { content: ""; }
abbr, acronym             { border: 0; font-variant: normal; }
sup                 { vertical-align: text-top; }
sub                 { vertical-align: text-bottom; }
input, textarea, select       { font-weight: inherit; font-size: inherit; font-family: inherit; }
input[type="submit"], 
input[type="button"],  
textarea              { -webkit-border-radius: 0; -webkit-appearance: none; }
a                   { color: #222; text-decoration: none; cursor: pointer; }
a:hover               {color: #008ee1; text-decoration: underline;} 
:focus                { outline: 0; }
.clear{clear:both;}
.clearfix:after           { display: table; clear: both; content: ""; } 
:first-child+html .clearfix     { min-height: 0; }
*:first-child+html .clearfix    { zoom: 1;}
a:hover h1,a:hover h3              {color: #008ee1; text-decoration: none;} 

h1, h2, h3, h4, h5, h6, b{font-family:"larsseitbold","sans-serif"}

/*Layout*/
.lo-container {width:1000px;margin:0 auto 0px auto;}
.lo-content   {width:1000px;margin:0 auto;padding: 25px 0 0 0;background-color: #FFFFFF;}
.content-header, 
.content-footer {float:left;width:960px;}
.lo-adLB    {width:1000px;margin:0 auto;padding:0;text-align:center;}
.lo-left    {float: left;width: 640px;margin: 0 5px 0 0;padding: 0 0 0 15px;}
.lo-right   {float: right;width: 300px;padding: 0 15px;}
.sub-nav-selected{font-weight:bold;color:#008ee1 !important;}

.aol-election { background-color:#2e2e2e; }
.aol-election .lo-container { background:#fff; }
.hero-banner,.page-hero-banner{width: 1000px;}
.aol-election .lo-right { padding: 15px 15px 0 15px; background-color: #fff; margin-top: -100px;}
.m-channel-title{font-size: 50px;font-weight: 100;color: #fff;padding-bottom: 25px;margin:0 0 0 15px;}

/**Generic**/
.custom-font      {font-family: BebasNeueRegular,Helvetica,arial;}
.ch-sprite, 
.spriteClass      {background-image: url(''); background-repeat: no-repeat;}
.page-title       {font-size:37px;color:#000000;}
.hidden         {display:none;}
.mod-sponsor-ad     {width: 215px;height: 40px;}
.generic-pd-share .aol-share{display:none;}
.no-border{border:0 !important;}
.small-fonts {font-size: 12px;line-height: 22px;}
#container .default-color{color:#000000;}

/*** LRail  ***/
.lr-module{margin-bottom: 30px;}
.lo-left .mod-title {margin-bottom: 20px;padding:5px 0;border-bottom: 1px solid #000000;font-size:31px;line-height:40px;color:#000000;}

/** River Header & cat Ad Slot **/
.mod-sponsor-ad,
.mod-title .mod-sponsor-ad          {float:right;display:inline-block;}
.mod-title.title-links a          {cursor:pointer;color:#000;text-decoration:none;}

/* ALL ADS */
#header-ad, #mpu-ad-con, #btf-mpu-ad-con { position: relative; z-index: 99; }
#header-ad { background-color: #fff; }
#mpu-ad-con { border-bottom: 0px;padding: 0px; }
#btf-mpu-ad-con{ border-bottom:0px; width: auto; }

/**Page banner**/
.page-hero-banner{height: 320px;background-image:url(http://o.aolcdn.com/os/ukmedia/aoluk/images/hero-image.jpg);background-color: #cccccc;background-size:100%;-moz-box-shadow:inset 0px -80px 60px -30px #000000;-webkit-box-shadow:inset 0px -80px 60px -30px #000000;box-shadow: inset 0px -80px 60px -30px #000000;}
.page-hero-banner h1{color: #ffffff;margin: 0px 0 0 20px;position: relative;top: 235px;font-size: 50px;font-weight: 100;letter-spacing: -0.02em}

/**Opacity overlay**/
.m-over-overlay{line-height:0px;}
.mod-dl a:hover img,
.mod-newsList-rhr a:hover img,
.mod-newsList-river a:hover img{opacity:.40; filter: alpha(opacity=40);background:#2e2e2e;-webkit-transition: opacity .25s ease; -moz-transition: opacity .25s ease;}
.mod-dl a:hover .m-over-overlay,
.mod-newsList-rhr a:hover .m-over-overlay,
.mod-newsList-river a:hover .m-over-overlay{background:#2e2e2e;}

/** Mod DL **/
.mod-dl {padding:0 0 30px 0; width: 100%;border-bottom:5px solid #e6e6e6;}
.mod-dl-main{width: 475px; float: left;}
.mod-dl-main .media {margin-bottom: 30px;}
.mod-dl-main img{width:475px; height:317px;margin:0;}
.mod-dl-main h1{font-size: 28px;line-height: 38px;font-weight: 100;letter-spacing: -0.02em;}
.mod-dl-main .m-over-overlay{margin-bottom:22px;}
.mod-dl a {text-decoration:none;}
.mod-dl a:hover h1, #mod-dl a:hover h3 {text-decoration:none;}
.mod-dl-sub {float: right; width:145px;}

.mod-dl-sub .dl-sub{margin:0 0 15px;}
.mod-dl-sub .dl-sub.dl-last{margin:0px;}
.mod-dl-sub .dl-sub img{width:145px; height:97px}
.mod-dl-sub h3{line-height:22px;font-size:16px;}
.mod-dl-sub .m-over-overlay{margin-bottom:7px;}
.mod-dl:after{clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden;}


/** Social share **/
.social-share-bar{padding:0 0 30px 0; border-bottom:5px solid #e6e6e6;margin:0 0 30px;}
.social-share-bar .aol-share a{background:url(none);padding:0 20px 0 25px; line-height:40px;height:auto;text-transform: capitalize;width:auto;font-size:15px;margin:0px;font-weight:normal;color:#ffffff !important;
/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
filter: alpha(opacity=80);
opacity: 0.8;*/
}
.social-share-bar .aol-share a:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;transition: all .2s ease;-webkit-transition: all .2s ease;-moz-transition: all .2s ease;}
.social-share-bar .aol-share a {background:transparent url("http://o.aolcdn.com/os/uk-unity/images/new-shareicon-sprite.png") no-repeat; display:inline; float:left; margin: 0; overflow:hidden; padding:0 25px 0 53px;width:auto;height:40px;color: #fff;text-transform: capitalize;font-size:14px;text-decoration:none;line-height:40px;font-weight:normal;}
.social-share-bar .aol-share a b {display: none; }
.social-share-bar .aol-share a.aol-share-facebook 			{background-position:5px -83px;background-color: #3C599A;color: #FFF !important;padding-left:46px;}
.social-share-bar .aol-share a.aol-share-facebook:hover  {background-color: #354d83; background-position:5px -83px;}
.social-share-bar .aol-share a.aol-share-twitter 			  {background-position:8px -13px;background-color: #2EA7E0;color: #FFF !important;}
.social-share-bar .aol-share a.aol-share-twitter:hover 		{background-color: #248fbe; background-position: 8px -13px; }
.social-share-bar .aol-share a.aol-share-googleplus 		 {background-position:7px -154px;background-color:#DE4B35;color: #FFF !important;}
.social-share-bar .aol-share a.aol-share-googleplus:hover {background-color:#BC422C; background-position:7px -154px;}
.social-share-bar .aol-share a.aol-share-pinterest 		 	  {background-position:6px -226px;background-color:#CD2323;color: #FFF !important;}
.social-share-bar .aol-share a.aol-share-pinterest:hover   {background-color:#AD211C; background-position:6px -226px;}
.social-share-bar .aol-share a.aol-share-email 			       {background-position:8px -295px;background-color: #444444;color: #FFF !important;}
.social-share-bar .aol-share a.aol-share-email:hover 	   	{background-color:#2d2d2d;background-position:8px -295px;} 
.social-share-bar .aol-share a.aol-share-whatsapp           {display:none;}
.social-share-bar .aol-share a:last-child               		 {margin-right:0px;}
.social-share-bar .aol-share a.aol-share-total-count {background:none;width:50px;height:45px;padding:0px;cursor: default;font-size: 15px;text-align: center;line-height: 22px;text-transform:lowercase;}
.social-share-bar .aol-share a.aol-share-total-count span    {display: block;font-size: 21px;color:#000;}
[data-browser-version="ie8"] .uk-generic .aol-share a.aol-share-email {margin-right:0px;}



/** Mod NewsList River**/

.mod-newsList-river .items {margin: 0;overflow: hidden;}
.mod-newsList-river .items img{}
.mod-newsList-river .items > li {list-style-type: none; margin-bottom: 15px; overflow: hidden; position: relative;}
.mod-newsList-river .mod-list img,.mod-newsList-river .mod-list .m-over-overlay{float:left; margin:0 15px 15px 0;width:310px; height:206px;}
.mod-newsList-river .mod-list h3{font-size:22px; line-height:30px;margin-bottom: 20px;}
.mod-newsList-river .mod-list p{font-size:16px; line-height:22px;font-weight:300;}
.mod-newsList-river a{text-decoration:none;}
.mod-newsList-river .mod-list a:hover h3 {text-decoration:none;}
.mod-newsList-river a:hover .mod-data p{text-decoration:none;color:#222222;}

.mod-newsList-river .core-icon-right-arrow:before,
.mod-newsList-river .core-icon-left-arrow:before { font-size: 16px; position: absolute; top: 17px; }
.mod-newsList-river .core-icon-right-arrow:before { right: 18px; }
.mod-newsList-river .core-icon-left-arrow:before { left: 18px; }

.pagination{padding: 0 0 90px;}
a.more-link, a.prevLink{float: right;padding: 15px 45px 15px 19px;background: #008ee1;color: #fff;border-radius: 5px;font-size: 14px;position: relative;}
a.more-link:hover, a.prevLink:hover{text-decoration:none;background:#1ba4f4;-moz-transition: background 0.1s linear;-webkit-transition: background 0.1s linear;transition: background 0.1s linear; }

a.prevLink{float:left;padding: 15px 17px 15px 47px;}

/*Common For RHR module*/
.rr-module    {margin:0 0 35px; padding:0 0 20px 0; border-bottom:6px solid #e6e6e6;}
.lo-right .mod-title {line-height: 20px;margin-bottom: 30px;text-transform: uppercase;font-weight: 800;font-size: 18px;text-align: center;letter-spacing: 1px;}


/** RHR Modules**/
/** Mod NewsList RHR**/
.mod-newsList-rhr .mod-title{margin-bottom:35px;}
.rr-module .mod-newsList-rhr{padding-bottom:15px;margin-bottom:30px;}
.mod-newsList-rhr .items {margin: 0 auto 0px;}
.mod-newsList-rhr .items h3{font-size:16px; line-height:22px;}
.mod-newsList-rhr .items > li {list-style-type: none; margin-bottom: 15px; overflow: hidden; position: relative;}
.mod-newsList-rhr .mod-list img, #mod-newsList-rhr .mod-list .m-over-overlay{float:left; margin-right: 15px;width:98px; height:75px;}
.mod-newsList-rhr a{text-decoration:none;}
.mod-newsList-rhr .mod-list a:hover h3 {text-decoration:none;}

/** footer styles **/
.read-more-link {padding: 15px;margin:0 0 30px;}
.read-more-link li.title{font-weight:bold;margin:0px;padding:0px;}
.read-more-link li {display: inline;font-size: 14px;padding: 0 7px;float: left;}
.read-more-link a {border-right: 1px solid #333;padding: 0 10px 0 0;}
.read-more-link li:last-child a{border:0px;}
.m-cntrl-footer .m-entry.is-rss{display:none; }

/**seo module**/
.seo-moudle-rhr {word-break: break-word;padding:0 0 37px;}

/**CountDown CSS**/
#countdown{padding-bottom:27px;}
#countdown .mod-title{margin-bottom:20px;}
#election-count-down{text-align:center;}
.countdownData{text-align: center;font-size: 50px;font-weight: 100;margin: 0px auto;display: inline-block;padding: 0 14px;color: #008ee1;}
.countdownData span{display: block;font-size: 14px;color: #222222;text-transform: capitalize;font-weight:500;}
.countdownData.dot{padding: 0 5px;font-size: 30px;color: #222222;position: relative;top: -35px;font-weight: bold;}


/****/
@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.social-share-bar .aol-share a {background-image: url("http://o.aolcdn.com/os/uk-unity/images/new-shareicon-sprite-RETINA.png") !important; background-size:50px;}
	.page-hero-banner{background-image:url(http://o.aolcdn.com/os/ukmedia/aoluk/images/hero-image2x.jpg);	}
}

/*** AOL Article Migration ***/

.aside-entries,
.aside-videos										{ margin: 0 0 35px; padding: 0 0 35px 0; border-bottom: 5px solid #ededed; }
.aside-videos__title,
.aside-entries__title,
.river-entries__title								{ line-height: 22px; text-transform: uppercase; font-weight: 800; font-size: 16px; text-align: center; letter-spacing: 1px; margin: 0 0 20px 0; width: auto; }
.river-entries__title								{ padding-top: 35px; border-top: 5px solid #ededed; }
/*h2*/
.mod-sub-title 										{ line-height: 26px; font-size: 20px; margin: 0 0 20px 0; width: auto; }

.aside-videos 										{ margin-top: 0; }
.aside-videos__list__item 							{ margin-top: 20px; }
.aside-videos__list__item:first-child 				{ margin-top: 0; }
.aside-videos__list__item__link 					{ display: block; color: inherit; position: relative; }
.aside-videos__list__item__link:hover				{ text-decoration: none; }
.aside-videos__list__item__link__title 				{ font-size: 14px; float: left; max-width: 138px; }
.aside-videos__list__item__link__img				{ display: block; float: left; margin-right: 15px; }
.aside-videos__list__item__link__icon				{ position: absolute; bottom: 10px; left: 10px; font-size: 18px; color: #fff; border-radius: 50%; background: #000; background: rgba(0, 0, 0, 0.65); padding: 8px 6px 8px 8px; -webkit-transition: 0.15s ease-in-out; -moz-transition: 0.15s ease-in-out; transition: 0.15s ease-in-out; }
.aside-videos__list__item__link:hover .aside-videos__list__item__link__icon { background: #000; }
.aside-videos__list__item__link__label 				{ display: none; position: absolute; bottom: 9px; left: 78px; background-color: #008ee1; padding: 2px 5px; text-transform: uppercase; font-size: 14px; }
.aside-videos__list__item__link--is-next .aside-videos__list__item__link__label { display: block; }

.aside-entries 										{ margin-top: 0; }
.aside-entries__list__item 							{ margin-top: 20px; }
.aside-entries__list__item:first-child 				{ margin-top: 0; }
.aside-entries__list__item__link 					{ display: block; color: inherit; position: relative; }
.aside-entries__list__item__link:hover				{ text-decoration: none; }
.aside-entries__list__item__link__title 			{ font-size: 14px; float: left; max-width: 138px; }
.aside-entries__list__item__link__img				{ display: block; float: left; margin-right: 15px; }
.aside-entries.m-popular-articles 					{ padding-top: 35px; border-top: 5px solid #ededed; }

.river-entries 										{ width: 960px; padding: 30px 20px; }
.river-entries__list__item 							{ width: 176px; float: left; overflow: hidden;margin-left: 20px; }
.river-entries__list__item:first-child 				{ margin-left: 0; }
.river-entries__list__item__link 					{ display: block; color: inherit; position: relative; }
.river-entries__list__item__link:hover				{ text-decoration: none; }
.river-entries__list__item__link__title 			{ font-size: 14px; }
.river-entries__list__item__link__img				{ display: block; float: left; margin-bottom: 10px; }

// .m-cntrl-footer .m-ch-logo 							{ margin-right: 10px; width: 88px; height: 36px; display: block; float: left; background-position: 0px -9px; }

.m-mod-title 										{ font-size: 34px; line-height: 40px; font-weight: 700; padding: 20px 0; }
.m-mod-sub-title 									{ font-size: 20px; line-height: 26px; font-weight: 400; padding-bottom: 20px; }
.show-article										{ overflow: hidden; }
.show-article-topbar 								{ padding: 0 0 20px 0; }
.show-article-byline,
.show-article-comment-count 						{ display: inline-block; width: 49.2%; }
.show-article-comment-count a:before 				{ font-size: 20px; position: relative; top: 5px; padding: 0px 8px; }
.show-article-comment-count a:hover 				{ color: #0270b8; text-decoration: none; }
.show-article-byline,
.show-article-modified-date							{ font-size: 14px; }
.show-article-modified-date							{ padding-top: 2px; }
.show-article-comment-count 						{ font-size: 14px; text-align: right; }
.show-article-author								{ color: #008ee1; }
.show-article-content 								{ padding: 0 0 20px; font-size: 16px; line-height: 24px; }
.show-article-content img,
.show-article-content iframe						{ max-width: 100%; }
.show-article-content div[id^="SmartPlayer"]		{ max-width: 100% !important; }
.show-article-taboola-thumbs 						{ padding-top: 35px; }
.show-article-taboola-thumbs.from-the-web			{ border-bottom: 5px solid #ededed; padding-bottom: 35px; margin-bottom: 35px; }

.aol-main #header-ad 								{ padding: 0; }
.aol-main #header-ad :first-child 					{ padding: 25px 0 0; }
.aol-main body[class|=pageskin]						{ background-position: 50% -160px !important; }


/**IE7**/
[data-browser-version='ie7'] .lo-header{height:auto;}
[data-browser-version='ie7'] .lo-header, [data-browser-version='ie7'] .hero-banner{position:relative;}
[data-browser-version='ie7'] .hero-banner{top:auto;}
[data-browser-version='ie7'] .lo-content{margin-top:auto;}
[data-browser-version='ie7'] .countdownData{float:left;}
[data-browser-version='ie7'] .countdownData.dot{top:5px;}
[data-browser-version='ie7'] li.m-entry{float:left; width:auto;}
[data-browser-version='ie7'] .m-copyright{width:400px;text-align:right;}
/***-EOF-****/