/* To prevent the promo banner from messing the header up since the header is sticky */
#aol-uk-promobanner { position: absolute; top: 0; left: 0; z-index: 1000; }

/* Hide all the elements that are appended by ad mafias */
.lo-footer ~ img[height='0'], .lo-footer ~ img[height='1'],
.lo-footer ~ iframe[height='0'], .lo-footer ~ iframe[height='1'] { display:  none; }
.lt-ie10 .aolshare-custom a { padding: 0 15px 0 42px; }

/** Overlidding Comment module CSS **/
.module.below-the-post.aol-comments .confab-comment-body { line-height: 18px; }

#ttcobrand .aol-share.aolshare-custom a{font-family: "larsseitregular", helvetica, arial, "sans-serif";}
.aol_share_bottom{margin-top: 10px;}

/** Override Polar Placement Article CSS **/
.list-post .plr-hp-ad {margin-bottom: 16px;}
.list-post .plr-hp-banner {color: #aaaaaa;display: block;}
.list-post .plr-hp-title{display: inline;padding: 0;}
.list-post .plr-disclosure {color: #aaaaaa;position: absolute;top: 0;padding-top: 0px;}
.list-post .plr-title {display: inline;position: relative;top: 20px}
.list-post .plr-hp-ad a:hover .plr-hp-title,
.list-post .plr-top-ad a:hover .plr-title {color: #008ee1;text-decoration: none;border-bottom: 1px solid #0179C7;}


/* Article page - below the fold */
.data-source {
	position: absolute;
    top: 8px;
    right: 0px;
    font-size: 12px;
    color: #d3d3d3;
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
}
@media only screen and (max-width: 767px) { 
	.data-source {
		position: static;
		display:block;
	}
}
.attribution {
	font-size: 13px;
    color: #ccc;
    padding: 4px 0 0;
}
    
/* BREADCRUMBS */
.breadcrumbs {
	margin: 20px 0;
}
.breadcrumbs .crumb-wrapper {
	position:relative;
	z-index:2;
	background:#fff;
}
.breadcrumbs .breadcrumb {
	font-size:14px;
	font-weight:400;
	line-height:22px;
	color:#008EE1;
	text-decoration:none
}
.breadcrumbs .breadcrumb:hover span {
	text-decoration:none;
}
.breadcrumbs .crumb-wrapper:before {
	content: "\e60e";
	font-family:'aol-core';
	color:#c9c9c9;
	line-height:22px;
	padding:0 10px;
	font-size: 10px;
	font-weight: 900;
}
.breadcrumbs .crumb-wrapper:first-child:before {
	display:none;
}
.breadcrumbs .breadcrumb.last,.breadcrumbs .breadcrumb.inactive {
	font-weight:700;
	color:#000;
}
/* -- */

/* RHR Channel search*/
.channel-search-box .site-search-input{height: 27px;padding: 5px;max-width: 62%;background-color: #FFF;color: #999;font-size: 14px;border: 1px solid #c9c9c9;  -webkit-border-radius: 5px; -moz-border-radius: 5px;
  border-radius: 5px;}
.channel-search-box .site-search-button{background-color: #FE2C7E;padding: 8px 11px 6px 11px;font-size: 14px;color: #FFF;text-transform: uppercase;font-weight: bold;cursor:pointer;}
.channel-search-box #site-search-button{font-family: "larsseitregular","sans-serif";}

@media only screen and (max-width: 767px) { 
	.channel-search-box						{  padding: 30px 0 20px;text-align: center;margin: 30px 0 0; border-top: 6px solid #e6e6e6;  border-bottom: 0px;}
	.channel-search-box .site-search-input{max-width:58%;}
	.m-popular-videos 						{ border-bottom: 0; }
	.river-entries.m-popular-aol-articles 	{ padding: 0 0 30px; }
	.list-post .plr-top-ad {margin-bottom: 40px;}
}

@media only screen and (max-width: 999px) and (min-width: 768px){
	.content-footer{padding-top:30px;}
}