h1,.page-title {
    font-size: 2.125em;
    line-height: 1.1em;
    color: #000;
    margin: 0 0 20px 0;
}

h2, .page-title-sub {
    font-size: 24px;
    line-height: normal;
    color: #000;
    font-weight: 400;
    margin-bottom:20px;
}

h3, h4, h5, .module-title {
    font-size: 1em;
    line-height: 1.25em;
    color:#000;
    font-weight: 800;
}

.page-section-title {
    font-size: 16px;
    color:#000;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    text-align:left;
}
.channel_homepage .lo-left section.module .page-section-title {
	margin-left:auto;
	margin-right:auto;
	display:inherit;
}
