.module.video-carousel {
	display: block;
	padding: 0 0 0 0;
	margin-bottom: 0;
	border-bottom: 4px solid #ededed;
	padding-bottom: 17px;
}
.carousel {
	display: block;
	width:inherit;
	position:relative;
}

.carousel-viewport {
	width: auto;
    margin: 0 30px;
    padding-bottom: 17px;
	white-space: nowrap;
	position:relative;
	z-index:2;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
.carousel-slider,
.carousel-slider * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: block;
}
.carousel-slider {
	display: block;
	font-size: 0;
	position:relative;
	left: 0;
	transition: left 0.3s;
}
.carousel-slide {
	display: inline-block;
	width: 45%;
	vertical-align: top;
	padding: 0 15px 0 0;
	font-size: 16px;
    font-family: larsseitregular;
    white-space: normal;
}
.carousel-slide img {
    width: 100%;
}
.carousel-slide a {
	position:relative;
}
.carousel-slide a .ownerImage {
	position:absolute;
	left:0;
	top: 0;
	max-width: 50%;
	max-height: 40%;
	margin: 0 0 0 10px;
	z-index: 10;
}
.carousel-slide a:before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: transparent;
    background: rgba(0,0,0,0.3);
    transition: background 0.2s;
    position: absolute;
    z-index: 1;
    zoom: 1;
}
.carousel-slide a:hover:before {
	background: rgba(0,0,0,0.1);
  
}
.carousel-slide .slide-headline {
	color: #fff;
	font-family: larsseitregular;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	padding: 0 10px 10px;
	z-index: 2;
}
.carousel-slide .slide-headline:before {
	font-family: aol-core;
	content: "\e610";
	font-size: 12px;
	padding-right: 4px;
	display: inline-block;
}

.carousel-nav,
.carousel-status {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    clear: both;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.carousel-nav {
	top: 8px;
}
.carousel-status {
	display:none;
}


.carousel-nav [data-carousel-ctrl] {
	position:absolute;
	display:table;
	cursor:pointer;
	background: #fff;
	height: 100%;
	font-size: 0;
	outline: none;
    border: none;
    box-sizing: border-box;
	padding: 0;
}
.carousel-nav [data-carousel-ctrl] {
	color: #008EE1;
}
.carousel-nav [data-carousel-ctrl]:hover {
	color: #0270B8;
}
.carousel-nav [data-carousel-ctrl].disabled {
	color: #ededed;
}
.carousel-nav [data-carousel-ctrl] {
	font-family:'aol-core';
    font-size: 22px;
}
.carousel-nav [data-carousel-ctrl]:after {
	display: table-cell;
	vertical-align:middle;
	text-align: center;
    width: 30px;
    max-width: 30px;
}
.carousel-nav [data-carousel-ctrl=prev] {
	left: 0;
}
.carousel-nav [data-carousel-ctrl=prev]:after{
	content:"\e901";
}
.carousel-nav [data-carousel-ctrl=next] {
	right: 0;
}
.carousel-nav [data-carousel-ctrl=next]:after{
	content:"\e903";
}

@media only screen and (max-width:999px) and (min-width:768px) { /* Tablet */
	.carousel-slider {
		position: static;
	}
	.carousel-slide {
		padding: 0 10px 0 0;
	}
	.carousel-viewport {
		margin: 0;
    }
    .carousel-nav  {
		display: none;
	}
	.carousel-slide .slide-headline {
		position: static;
	    color: inherit;
	    padding: 5px 0 0 0;
	    font-size: 90%;
	}
	.carousel-slide a:before {
		display:none;
	}
}


@media only screen and (max-width:767px) { /* Mobile */
	.carousel-slider {
		position: static;
	}
	.carousel-slide {
		padding: 0 10px 0 0;
	}
	.carousel-viewport {
		margin: 0;
    }
    .carousel-nav  {
		display: none;
	}
	.carousel-slide .slide-headline {
		position: static;
	    color: inherit;
	    padding: 5px 0 0 0;
		font-size: 90%;
	}
	.carousel-slide a:before {
		display:none;
	}
}

@media only screen and (min-width:480px)and (max-width:767px) { /* Wide Mobile */
	
}

.carousel-viewport {
   
    bottom: -17px;
}
.carousel {
    overflow: hidden;
}
