.homepage-dl, .homepage-dl * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.homepage-dl {
	overflow: hidden;
	font-size: 13px;
	position:relative;
	height:420px;
	width: 100%;
	margin: 0 0 0 0;
}
.homepage-dl .dl-slide-container, 
.homepage-dl .dl-slide,
.homepage-dl .dl-hero-image,
.homepage-dl .dl-hero-image img {
	width: inherit;
	height: auto;
	display:block;
}
.homepage-dl .dl-hero-image .ribbon-image {
  width: auto;
  position: absolute;
  top:0px;
  left:0px;
}
.homepage-dl div.dl-slide:first-child {
	position:static !important;
}
.homepage-dl div.dl-slide:first-child + div.dl-slide {
	position:absolute !important;
}
.homepage-dl .dl-headlines,
.homepage-dl .dl-controls,
.homepage-dl .dl-status  {
	right: 0;
	margin: auto;
	position: absolute;
	width: 40%;
	overflow: hidden;
}
.homepage-dl .dl-headlines {
	top: 0;
	bottom: 0;
	background-color: #fff;
	background: rgba(255,255,255,0.85);
	padding: 15px 15px 50px 15px;
	height: 80%;
    max-height: 80%;
    box-sizing: border-box;
}

.homepage-dl .dl-controls,
.homepage-dl .dl-status {
	height: 50px;
	max-height: 50px;
	overflow: hidden;
	bottom: 10%;
	z-index: 1;
}


.homepage-dl .dl-link:after {
	content:"";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.homepage-dl .dl-link-category:after,
.homepage-dl .dl-link-source:after { 
	display: none;
}
.homepage-dl .dl-link-source {
	color: inherit;
}
.homepage-dl .dl-link-category {
	margin-right: 5px;
}

.homepage-dl .dl-headlines .dl-headline-main {
	font-family: larsseitregular;
	padding: 6px 0;
}
.homepage-dl .dl-headlines .dl-headline-main .link-text {
	color: inherit;
}
.homepage-dl .dl-headlines .dl-headline-subs {
	padding-top: 15px;
}
.homepage-dl .dl-headlines .dl-headline-subs .dl-link:after {
	margin: 1px 0;
}
.homepage-dl .dl-headlines .dl-headline-subs h3 {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}
.homepage-dl .dl-headlines .dl-headline-main .link-text:hover,
.homepage-dl .dl-link-source.link-text:hover {
	color: #0179C7;
	border-color: transparent;
}
.dl-headlines .summary {
	display: block;
}
.homepage-dl .dl-controls,
.homepage-dl .dl-status {
	display: table;
	width: auto;
}
.homepage-dl .dl-controls [data-dl-ctrl],
.homepage-dl .dl-status [data-dl-status] {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.homepage-dl .dl-status {
	color: #555;
	font-size: 18px;
	line-height:14px;
	overflow: visible;
	margin: 18px 0;
	width: auto;
	height: auto;
	left: 60%;
	margin-left: 15px;
}

.homepage-dl .dl-controls {
	margin-right: 15px;
}
.homepage-dl .dl-status [data-dl-status] {
	padding: 0 3px;
	color: #555;
}
.homepage-dl .dl-status [data-dl-status]:first-child {
	border-right: 1px solid #555;
	padding-left: 0;
	color: #222;
}
.homepage-dl .dl-controls {
	margin-right: 15px;
}
.homepage-dl .dl-controls [data-dl-ctrl] {
	font-size: 22px;
	font-family: 'aol-core';
	color: #008EE1;
	padding: 0 0 0 6px;
	cursor: pointer;
	outline: none;
    border: none;
    box-sizing: border-box;
    background: transparent;
	height: inherit;
}
.homepage-dl .dl-controls [data-dl-ctrl]:first-child {
	padding-left: 0;
}
.homepage-dl .dl-controls [data-dl-ctrl]:hover {
	color: #0270B8;
}
.homepage-dl .dl-controls [data-dl-ctrl] {
	padding-left: 15px;
}
.homepage-dl .dl-controls [data-dl-ctrl]:first-child {
	padding-left: 0;
}
.homepage-dl .dl-controls [data-dl-ctrl]:before {
	content: "";
	
}
.homepage-dl .dl-controls [data-dl-ctrl=prev]:before {
	content: "\e901";
}
.homepage-dl .dl-controls [data-dl-ctrl=next]:before {
	content: "\e903";
}
.homepage-dl .dl-controls [data-dl-ctrl=play]:before {
	content: "\e610";
}
.homepage-dl .dl-controls [data-dl-ctrl=pause]:before {
	content: "\e902";
}

.homepage-dl .dl-controls [data-dl-ctrl=play] {
	display: none;
}


.homepage-dl .dl-headline-subs .dl-link[data-video-icon="1"]:before {
	font-family: "aol-core";
	font-size: 10px;
	padding: 0 2px 0 0;
	content: "\e610";
}

.dl-slide .dl-hero-image[data-img-credit]:hover:after {
	content: attr(data-img-credit);
	background: white;
	color: #222;
	background: rgba(255,255,255,0.85);
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 10px;
	padding: 2px 3px;
}
.dl-slide .watch-flag {
	background: #008EE1;
	color: #fff;
	font-size: 13px;
	position: absolute;
	left: 15px;
	bottom: 10%;
	padding: 6px 10px;
}
.dl-slide .watch-flag:after {
	font-family: "aol-core";
	font-size: 7px;
	content: "\e610";
	border: 2px solid #fff;
	border-radius: 50%;
    padding: 2px 2px 3px 3px;
    margin: 0px 0 0px 5px;
    display: table;
    float: right;
}


@media only screen and (max-width:999px) and (min-width:768px) { /* Tablet */
	.homepage-dl .dl-headlines {
		height: 70%;
	    max-height: 70%;
	}
	.homepage-dl .dl-controls,
	.homepage-dl .dl-status,
	.dl-slide .watch-flag {
		bottom: 15%;
	}
	
	
}


@media only screen and (max-width:767px) { /* Mobile */
	.homepage-dl {
		height: 247px;
	}
	.homepage-dl .dl-headlines {
		height: 50px;
		max-height: 50px;
		text-align: center;
		padding: 0;
		background: #eee;
		display: table;
		top: 100%;
		width: 75%;
	    left: 12.5%;
	    margin: -50px 0 0 0;
	    padding: 0;
	    z-index: 2;
	}
	.homepage-dl .dl-headlines > * {
		display: none;
	}
	.homepage-dl .dl-headlines .dl-headline-main {
		display: table-cell;
		padding: 0;
		line-height: normal;
		vertical-align: middle;
		font-size: 17px;
		line-height: 17px;
		word-break: break-word;
	}
	.homepage-dl .dl-controls {
		width: 100%;
		bottom: 0;
		margin: 0;
		background: transparent;
		background: #eee;
		z-index: 1;
	}
	.homepage-dl .dl-controls [data-dl-ctrl] {
		display: none;
		padding: 0;
	}
	.homepage-dl .dl-controls [data-dl-ctrl=prev],
	.homepage-dl .dl-controls [data-dl-ctrl=next] {
		display: table-cell;
		padding: 0;
		width: 50%;
		float:left;
	}
	.homepage-dl .dl-controls [data-dl-ctrl]:first-child {
		text-align: left;
		padding-left: 5px;
	}
	.homepage-dl .dl-controls [data-dl-ctrl]:before {
		font-size: 22px;
		color: initial;
	}
	.homepage-dl .dl-controls [data-dl-ctrl=next] {
		text-align: right;
		padding-right: 5px;
	}
	.homepage-dl .dl-status {
		margin: -67px 10px 0 0;
		top: auto;
		bottom: 60px;
		right: 0;
		left: auto;
		margin-top: -67px;
	}
	.homepage-dl .dl-status [data-dl-status],
	.homepage-dl .dl-status [data-dl-status]:first-child {
		border-color: #fff;
		color: #fff;
	}
	.dl-slide .watch-flag {
		top: 5px;
		right: 5px;
		bottom: initial;
		left: initial;
	}
}


@media only screen and (max-width: 767px) and (min-width: 480px) { /* Wide Mobile */
	.homepage-dl {
		height: 326px;
	}

}
