.lo-left-footer {
	width: inherit;
}
.lo-content-footer {
    padding: 30px 15px 0;
}

body, input, textarea, table, td {
    font-family: "larsseitregular", helvetica, arial, "sans-serif";
    font-size: 1em;
    font-weight: 400;
}
.link-text {
	text-decoration:none;
	display:inline;
	color:#008EE1;
	border-bottom:1px solid transparent;
	font-weight:normal;
	font-size:1em;
}
.link-text:hover {
  border-bottom:1px solid #0179C7;
  -webkit-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  text-decoration:none;
  color:#0179C7;
 }
.external-link:before {
	content: "\e614";
	font-family: 'aol-core';
	speak: none;
	margin-right:2px;
}


.breadcrumbs {
	margin: 0 0 20px 0;
}

.breadcrumbs .crumb-wrapper {
	position:relative;
	z-index:2;
	background:#fff;
}
/*
.breadcrumbs .crumb-wrapper:hover {
	border:1px solid #ededed;
	border-bottom:none;
	background-color:#fefefe;
}
.breadcrumbs .crumb-wrapper:hover .dropdown {
	display:block;
}
.breadcrumbs .crumb-wrapper .dropdown {
	z-index:1;
	position:absolute;
	top: 100%;
	left: 0;
	min-width: 100%;
	width: auto;
	display:none;
	width: auto;
	white-space: nowrap;
	border:1px solid #ededed;
	background-color:#fefefe;
	padding:5px;
	margin: -1px 0 0 -1px;
}
.breadcrumbs .crumb-wrapper .dropdown a {
	display:block;
}
*/
.breadcrumbs .breadcrumb {
	font-size:14px;
	font-weight:400;
	line-height:22px;
	color:#008EE1;
	text-decoration:none
}

.breadcrumbs .breadcrumb:hover span {
	text-decoration:none;
}
.breadcrumbs .crumb-wrapper:before {
	content: "\e60e";
	font-family:'aol-core';
	color:#c9c9c9;
	line-height:22px;
	padding:0 10px;
	font-size: 10px;
	font-weight: 900;
}
.breadcrumbs .crumb-wrapper:first-child:before {
	display:none;
}
.breadcrumbs .breadcrumb.last,.breadcrumbs .breadcrumb.inactive {
	font-weight:700;
	color:#000;
}



.page-intro-description {
    margin: 0 0 20px 0;
}



.tags {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
}

