/* GENERIC LIST-POST */
.list-post, .list-post * {
    box-sizing:border-box;
}
.list-post {
    list-style:none;
    padding:0;
    margin:0 0 0 -20px;
    display:table;
    width: auto;
    position: relative;
}
.list-post.single-post{
    width: 100%;
}
.list-post .list-post-item {
    width:50%;
    padding: 0 0 20px 20px;
    display:block;
    float:left;
    text-decoration:none !important;
    text-overflow: ellipsis;
    text-align: left;
}
.list-post .list-post-item .list-post-image {
    width:100%;
    height:180px;
    overflow:hidden;
    margin: 0 0 7px 0;
    position: relative;
}
.list-post .list-post-item .list-post-image .list-post-link  {
    width:100%;
    height:inherit;
    display:block;
    line-height:0;
}
.list-post .list-post-item .list-post-image img {
    width:100%;
    height:inherit;
    background-color: #ededed;
}
.list-post .list-post-item .list-post-title .list-post-link,
.gravity-popular-video .list-post .list-post-item .list-post-title .list-post-link{
    color:#000;
    display:inline;
    border-bottom:1px solid transparent;
	padding:0;
	height:100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
}

.editor-picks .list-post .list-post-item .list-post-title .list-post-link,
.latest-stories .list-post .list-post-item .list-post-title .list-post-link,
.more-stories .list-post .list-post-item .list-post-title .list-post-link,
.gravity-related-articles .list-post .list-post-item .list-post-title .list-post-link,
.lo-left-footer .gravity-popular-video .list-post .list-post-item .list-post-title .list-post-link{
     -webkit-line-clamp: 3;
}
.daily-buzz .list-post .list-post-item .list-post-title .list-post-link {
	display:inline;
	-webkit-line-clamp: 0;
}

 .list-post .list-post-item .list-post-title {
    display:block;
    height:69px;
    text-overflow: ellipsis;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    overflow:hidden;
	font-family: larsseitregular;
}
/* HOVER */
.list-post .list-post-item:hover .list-post-title .list-post-link,
.xd-carousel .xd-item.active:hover .list-post-title,
.xd-thumbs-wrapper .xd-thumb:hover .list-post-title{
    border-bottom:1px solid #0179C7;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    color:#0179C7;
    text-decoration:none !important;
    display:inline;
    
 }

.xd-carousel .xd-item.active:hover .list-post-title{
	border-bottom:none;
}

.list-post .list-post-link:hover {
    text-decoration:none;
}
.list-post .list-post-link-more {
    display:block;
    font-size:12px;
    padding-top: 5px;
}
.list-post .list-post-link-more:hover {
    text-decoration:none;
    border-bottom:0;
    color:inherit;
}

/* SIDE TITLE */
.list-post.side-title .list-post-item .list-post-image, .list-post.side-title .list-post-item .list-post-description {
    width: 48%;
    float: left;
}
.list-post.side-title .list-post-item .list-post-image {
    margin-right: 12px;
}
.list-post.side-title .list-post-item .list-post-title {
    margin-top:-5px;
    height: 90px;
    overflow: hidden;
} 

/* 4 lines title */
.list-post.long-title .list-post-item .list-post-title {
    height: 90px;
} 

/* VIDEO ICON */
.list-post.with-video-icon .list-post-item .list-post-image {
    position:relative;
}
.list-post.with-video-icon .list-post-item .list-post-image:after{
    display: block;
    box-sizing:border-box;
    font-family:aol-core;
    content:"\e610";
    text-align:center;
    position:absolute;
    color:#fff;
    z-index:2;
    
    background-color: #000; ;
    background:  rgba(0, 0, 0, 0.65);
    width:30px;
    height:30px;
    line-height:31px;
    padding:0 0 0 2px;
    border-radius:50%;
    left:10px;
    bottom:10px;
    font-size:15px;
    font-weight: 400;
}
.list-post.with-video-icon .list-post-item:hover .list-post-image:after{
    background:#008ee1;
}

/* Sponsored */
.list-post-item--sponsored .list-post-image:before,
.xd-carousel .xd-item.list-post-item--sponsored > a:before {
    content: "Sponsored";
    display: block;
    top: 0;
    background-color: #008ee1;
    position: absolute;
    padding: 5px 10px;
    color: #FFF;
}

/* ROW ADJUSTEMENTS */
.list-post.list-post-x5 .list-post-item {
    width:20%;
}
.list-post.list-post-x4 .list-post-item {
    width:25%;
}
.list-post.list-post-x3 .list-post-item {
    width:33.33%;
}
.list-post.list-post-x2 .list-post-item {
    width:50%;
}
.list-post.list-post-x1 , .list-post.list-post-x1 .list-post-item {
    width:100%;
    margin-left:0;
    padding-left:0;
}


/* ROW x 1 */
.list-post.list-post-x1 .list-post-item .list-post-image {
    height:420px;
}
.list-post.list-post-x1.side-title .list-post-item .list-post-image {
    height:210px;
}
/* ROW x 2 */
.list-post.list-post-x2 .list-post-item .list-post-image {
    height:200px;
}
.list-post.list-post-x2.side-title .list-post-item .list-post-image {
    height:100px;
}
/* ROW x 3 */
.list-post.list-post-x3 .list-post-item .list-post-image {
    height:132px;
}
.list-post.list-post-x3.side-title .list-post-item .list-post-image {
    height:65px;
}
/* ROW x 4 */
.list-post.list-post-x4 .list-post-item .list-post-image {
    height:100px;
}
.list-post.list-post-x4.side-title .list-post-item .list-post-image {
    height:50px;
}
/* ROW x 4 */
.list-post.list-post-x5 .list-post-item .list-post-image {
    height:120px;
}
.list-post.list-post-x5.side-title .list-post-item .list-post-image {
    height:60px;
}

/* RIGHTRAIL OVERRIDE */
.lo-right .module .list-post.list-post-x1 .list-post-item .list-post-image,
.lo-right .module .list-post.list-post-x2 .list-post-item .list-post-image {
    height:95px;
}
.list-post .list-post-item .list-post-title {
    font-size:15px;
}




/* LEAD OVERRIDE */
/*
.list-post.lead {
    list-style:none;
    padding:0;
    margin:10px 0 30px 0;
    width:inherit;
}
*/
.list-post.lead .list-post-item {
    margin:0;
    padding:0;
}


/*
.list-post.lead .list-post-item {
    position:relative;
    
}

.list-post.lead .list-post-item .list-post-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    height:auto;
    color:#000;
    display:inline;
	border-bottom:1px solid transparent;
	max-width:75%;
	padding:0;
	position:absolute;
	bottom:60px;
	padding: 10px 15px;
	background-color: #fff ;
	background:  rgba(255,255,255, 0.6);
}*/
.list-post.lead {
    list-style:none;
    padding:0;
    margin: 0 0 10px 0;
    width:inherit;
}
.list-post.lead .list-post-item .list-post-title {
    font-size: 34px;
    font-weight: 300;
    line-height: 38px;
    margin-top:-40px;
    height:auto;
    color:#000;
	padding: 15px;
	background-color: #ededed ;
	display:block;
    position: relative;
}
.list-post.lead .list-post-item:hover .list-post-title .list-post-link {
    border:0;
    
}
/*
.list-post.lead .list-post-item:hover .list-post-title {
    background-color: #008ee1 ;
	background:  rgba(0,142,225, 0.6);
	background: #008ee1 ;
}

.list-post.lead .list-post-item:hover .list-post-title .list-post-link {
    color:#fff;
    border:0;
    
}
*/





/* LEAD */
.lead.container {
    list-style:none;
    padding:0;
    margin:10px 0 30px 0;
}
.lead .item {
    max-width:640px;
    margin: 0 0 0 0;
    display:block;
    float:left;
    text-decoration:none !important;
    text-overflow: ellipsis;
    position:relative
}
.lead .item .image {
    width:640px;
    overflow:hidden;
    margin: 0 0 0 0;
}
.lead .item .image img {
    width:100%;
    height:100%;
}
.lead .item .title {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color:#000;
    display:inline;
	border-bottom:1px solid transparent;
	max-width:70%;
	padding:0;
	position:absolute;
	bottom:60px;
	padding: 0 15px;
	background-color: #fff ;
	background:  rgba(255,255,255, 0.6);
}
/*
.lead .item:hover .title  {
    border-bottom:1px solid #0179C7;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    color:#008EE1;
}
*/


/* XP carousel */
.module.xd-carousel {
    margin-top:0 !important;
    margin-bottom: 30px;
}
.xd-carousel .mod-teaser{
    font-weight:400;
}
.xd-carousel .link-text{
    text-decoration:none;
    color:#000;
}
.xd-carousel .xd-item img {
    max-height:426px;
}
.xd-carousel .xd-item a:hover,
.xd-thumbs-wrapper .xd-thumb a:hover {
    text-decoration:none;
}
.xd-thumbs-wrapper .xd-thumb .mod-teaser{
    padding-bottom:1px;
}
.xd-thumbs-wrapper .xd-thumb .list-post-title {
    line-height:22px;
}
/*
.list-post.lead.xd-carousel .list-post-item .list-post-title {
    bottom:0;
    max-width: 100%;
    text-align:center;
    padding-bottom:60px;
    background: rgba(255, 255, 255, 0.9);
    font-weight:400 !important;
}

.list-post.lead.xd-carousel .list-post.xd-thumbs .list-post-title {
    font-weight:400;
}
.list-post.lead.xd-carousel .xd-wrapper-outer {
    height:426px;
}

.list-post.lead.xd-carousel .xd-controls .xd-pagination {
    bottom:30px
} 
*/



/* LIMIT */
.limit-1 .list-post-item:nth-child(n+2) {
    display:none;
}
.limit-2 .list-post-item:nth-child(n+3) {
    display:none;
}
.limit-3 .list-post-item:nth-child(n+4) {
    display:none;
}
.limit-4 .list-post-item:nth-child(n+5) {
    display:none;
}
.limit-5 .list-post-item:nth-child(n+6) {
    display:none;
}
.limit-6 .list-post-item:nth-child(n+7) {
    display:none;
}
.limit-7 .list-post-item:nth-child(n+8) {
    display:none;
}
.limit-8 .list-post-item:nth-child(n+9) {
    display:none;
}
.limit-9 .list-post-item:nth-child(n+10) {
    display:none;
}
.limit-10 .list-post-item:nth-child(n+11) {
    display:none;
}
.limit-11 .list-post-item:nth-child(n+12) {
    display:none;
}
.limit-12 .list-post-item:nth-child(n+13) {
    display:none;
}





.homepage-slice .list-post .list-post-item .list-post-title,
.dynamic-leads .list-post .list-post-item .list-post-title {
    overflow:visible;
    height:auto;
}
