input {
	outline: none;
	-webkit-appearance: none;
}
#ad-300x75 {
	padding: 0;
	border: none;
}
#topleader > img,
#topleader > iframe,
#topleader #header-ad > img,
#topleader #header-ad > iframe,
#topleader #header-ad > div {
	margin: 0 auto 20px auto !important;
	padding: 0 !important;
}
#topleader,
#topleader #header-ad {
	padding: 0 !important;
	margin: 0 auto !important;
}
.l-content-header {
    width: 640px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 15px;
}	
.lo-left {
	padding-top: 0;
	margin-top: 0;
}
.lo-left .module:first-child {
	margin-top: 0;
}
.lo-content {
	padding:0;
	position: relative;
}
.lo-footer {
	margin-top: 60px;
}
.lo-left .page-section-title {
	text-align: center;
}

.lo-left .module {
	border-top: 4px solid #ededed;
	padding-top: 30px;
}
.lo-left .module:first-child {
	border-top: none;
	padding-top: 0;
}
.lo-left .module {
	width: 100%;
}

.module .read-more-link-text {
	margin: 5px 0 0 0;
	display: table;
	font-size: 14px;
}	
.module .page-section-title a:hover {
	border-bottom: none;
	text-decoration: none;
}

/*
.module.hp-headlines {
	font-size: 14px;
	padding-left: 20px;
    box-sizing: border-box;
    position: relative;
}
.module.hp-headlines .hp-headline {
	color: inherit;
	display: inline;
	position: relative;
}
.module.hp-headlines .hp-headline:hover {
	color: #0179C7;
	font-size: 14px;
}
.module.hp-headlines .hp-headline:after {
	display: block;
	clear: both;
	content: "";
	margin-bottom: 10px;
}
.module.hp-headlines .hp-headline:before {
    color: #777;
    content: ". ";
    font-size: 24px;
    position: absolute;
    margin: -13px 0 0 -10px;
}
.module.hp-headlines .hp-headline.img-wrapper:before {
    content: "";
    font-size: inherit;
    position: inherit;
    margin:0;
}
.module.hp-headlines .hp-headline img {
	float: left;
	width: 100px;
	height: 60px;
	margin-right: 15px;
}
.module.hp-headlines .page-section-title {
	margin-left: -20px;
}
*/

.module.hp-headlines .change-source-provider {
    background: transparent;
    font-size: 11px;
    line-height: normal;
    height: auto;
	font-family: "larsseitregular","sans-serif";
	font-weight: 100;
	display: block;
	margin: auto;
}
/*** Homepage Latest News Module - List post Updates & Overrides ***/
.hp-headlines {padding-left: 20px;box-sizing: border-box;font-size: 14px;}
.hp-headlines .list-post-x1 .list-post-item {padding: 0;margin-bottom:5px;}
.hp-headlines .list-post.list-post-x1 .list-post-item .list-post-image {float:left;width:100px;height:60px;margin-right:15px;}
.hp-headlines .list-post-x1 .list-post-item .list-post-description{float:left;width: 250px;}
/*** style Overrides ***/

.hp-headlines .list-post .list-post-item .list-post-title .list-post-link {display:inline;}
.hp-headlines .list-post .list-post-item .list-post-title {height:auto;}
/* .hp-headlines .list-post .list-post-item.bullet-item .list-post-title:before, */
.hp-headlines .list-post .list-post-item.bullet-item.no-image .list-post-title:before {content: ". ";position: absolute;margin: -7px 0 0 -18px;font-size: 24px;color: #777;}
.hp-headlines .list-post .bullet-item.no-image .list-post-title:before {content:"";margin:0;}
.hp-headlines .list-post-x1 .list-post-item.bullet-item.no-image .list-post-description,
/* .hp-headlines .list-post-x1 .list-post-item.bullet-item .list-post-description, */
.hp-headlines .list-post-x1 .list-post-item.no-image .list-post-description {width:100%;}
.hp-headlines .list-post-x1 .no-image .list-post-image {display:none;}

.hp-headlines .list-post-x1 .list-post-item.bullet-item .list-post-description{width:250px;}
.hp-headlines .list-post .list-post-item.bullet-item .list-post-title:before{content:'';margin:0;} 

.river-column {
	display: table-cell;
	vertical-align:top;
	position: relative;
	padding-top: 30px;
}
.river-column .module:first-child {
	margin-top: 0;
}
.daily-buzz {
	width: 230px;
	float: right;
	margin-left: 25px;
}

.daily-buzz .list-post.list-post-x1 .list-post-item .list-post-image {
	height: 155px;
}
.daily-buzz .list-post .list-post-item .list-post-title {
	height: auto;
}
.responsive {
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 0 !important;
	overflow: hidden;
	z-index: -1;
	border: none !important;
	position: absolute;
	top: -10px;
	left: -10px;
}
.responsive * {display: none; width: 1px;}

/* Breaking news */
.homepage-breaking-news {
	background-color: #e02831;
	color: #fff;
	display: block;
	font-size: 13px;
	line-height: 16px;
    margin: 0 0 10px;
    overflow: hidden;
}
.homepage-breaking-news .m-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    box-sizing: border-box;
}
.homepage-breaking-news .m-label {
    font-weight: 700;
    padding-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.homepage-breaking-news .m-link {
	color: #fff;
}

/* LOCAL AND WEATHER */
form.fluid,
form.fluid * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
form.fluid {
	display:inline-block;
	width: auto;
	clear:both;
	font-size: 10px;
    line-height: 16px;
    height: 16px;
    position: relative;
    top: 0;
	float: right;
	margin-top: -40px;
	width: 100%;
}

form.fluid fieldset {
    display: table-row;
    padding: 0 0 124px 20px;
    margin-top: 30px;
}
form.fluid fieldset span {
    display: table-cell;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
form.fluid fieldset span:first-child,
form.fluid fieldset span:first-child input {
    width: 100%;
}
form.fluid fieldset span,
form.fluid fieldset span input,
form.fluid fieldset span button {
    font-size:inherit;
    line-height: inherit;
    height: inherit;
}
form.fluid span button {
	padding: 0 7px;
	margin-left: 3px;
}
form.fluid fieldset {
	background: rgba(255,255,255,0.95);
    font-size: 18px;
    height: 22px;
    z-index: 2;
}
.module.local form.fluid fieldset {
	width: 100%;
	display: none;
	font-size: 13px;
}
.module.local form.fluid legend {
    text-align: right;
	font-size: inherit;
	position:absolute;
	right: 0;
	white-space: nowrap;
	color: #008EE1;
	cursor: pointer;
	line-height: 22px;
}
.module.local form.fluid legend:before {
    content: attr(data-location);
    color: #555;
    padding: 0 2px 0 0;
    margin: 0 2px 0 0;
    border-right: 1px solid #555;
    line-height: 9px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75px;
}
.module.local section {
	margin-top: 20px;
}
.module.local section:first-child {
	margin-top: initial;
}
.local-weather .forecast * {
	box-sizing: border-box;
}
.local-weather .forecast {
	color: inherit;
	list-style:none;
	clear: both;
	width: 100%;
	overflow:hidden;
	white-space: nowrap;
}
.local-weather .forecast a:hover {
	text-decoration: none;
}
.local-weather .forecast .forecast-day {
	display: inline-block !important;
	width: 25%;
}
.local-weather .forecast .forecast-day .day,
.local-weather .forecast .forecast-day .icon,
.local-weather .forecast .forecast-day .min,
.local-weather .forecast .forecast-day .max {
	display: block;
	width: 50%;
	height:33.3333%;
	font-size: 12px;
	float:left;
}
.local-weather .forecast .forecast-day .icon {
	font-family: wif;
	font-size: 30px;
	padding-top: 20px;
	float:left;
	text-align: center;
	display: table !important;
    min-height: 50px;
}
.local-weather .forecast .forecast-day .icon:before {
	display: table-cell !important;
    vertical-align: middle;
}
.local-weather .forecast .forecast-day .day {
	text-transform: uppercase;
	font-family: larsseitbold;
	padding-bottom:5px;
}
.local-weather .forecast .forecast-day .min,
.local-weather .forecast .forecast-day .max {
	border-right: 1px solid #ededed;
	font-weight:100;
}
.local-weather .forecast .forecast-day:last-child .min,
.local-weather .forecast .forecast-day:last-child .max {
	border-right: none;
}
.local-weather .forecast .forecast-day .min:before,
.local-weather .forecast .forecast-day .max:before {
	display: inline-block;
	width: 20px;
}
.local-weather .forecast .forecast-day .min:before {
	content: "Lo: ";
}
.local-weather .forecast .forecast-day .max:before {
	content: "Hi: ";
}

.on-this-day--is-hidden		{ display: none; }
.on-this-day__date 			{ color: #008EE1; font-size: 22px; text-transform: uppercase; line-height: 16px; font-family: "larsseitbold","sans-serif"; display: table; margin: auto; text-align: center; position: relative; padding-left: 35px; margin-top: 25px; }
.on-this-day__date:before	{ position: absolute; left: 0; content: "\e913"; font-family: aol-core; font-size: 27px; }
.on-this-day__label 		{ text-align: center; margin: 25px; font-size: 18px; }
.on-this-day__link 			{ display: table; margin: auto; padding: 10px 30px 10px 15px; font-size: 14px; }
.on-this-day__discl 		{ margin-top: 10px; color: #7A7B7C; font-size: 12px; text-align: center; }

/* HP and COMPAQ COBRAND MODULES */
.hp-spotlight .link-text { font-size: 18px; }
.hp-spotlight .link-text:after { content: " "; display: block; padding: 4px 0; }
.hp-spotlight .aside-entries__title > a:hover, .hp-games .aside-entries__title > a:hover { text-decoration: none; }
.hp-spotlight .aside-entries__title > a:before,
.hp-games.hp-consumer .aside-entries__title > a:before { content: ""; background-repeat: no-repeat; width: 22px; height: 22px; display: inline-block; margin-right: 10px; vertical-align: bottom; }
.hp-spotlight.hp-consumer .aside-entries__title > a:before,
.hp-games.hp-consumer .aside-entries__title > a:before { background-image: url(../../../img/homepage/hp-consumer.svg); }
.hp-spotlight.compaq-consumer .aside-entries__title > a:before { background-image: url(../../../img/homepage/compaq-consumer.svg); }
.lo-right .module.hp-games .list-post.list-post-x1 .list-post-item .list-post-image { width: 42%; height: 86px; }
.lo-right .module.hp-games .list-post-description { width: 54%; }
.lo-right .module.hp-games .list-post-title { height: auto; }
.lo-right .module.hp-games .list-post-excerpt { font-size: 14px; }
.lo-right .module.hp-games .list-post-link { font-family: larsseitbold, arial; }
.lo-right .module.hp-games .list-post-item .list-post-title { height: auto; font-size: 13px; }
.lo-right .module .read-more-link-text { margin: -5px auto 0 auto; }

@media only screen and (min-width:1000px) {

	aside.lo-right {
		position: relative;
		top: 0;
		right: 0;
		padding-top: 0;
		margin-top: -420px;
	}
	.lo-right .module:first-child {
		margin-top: 0;
	}
	.responsive .desktop {display: block;}
	aside [data-module-id=daily-buzz] {
		display: none;
	}
}
@media only screen and (max-width:999px) and (min-width:768px) { /* Tablet */
	.responsive .tablet {display: block;}
	.river-column-2 {
		display:none;
	}
	.l-content-header {
	    width: 743px;
	}
	aside.lo-right {
		margin-top: 2px;
	}
	aside [data-module-id=daily-buzz] {
		display: initial;
	}
}
@media only screen and (max-width:767px) { /* Mobile */
	.responsive .mobile {display: block;}
	.river-column-2 {
		display:none;
	}
	.l-content-header {
		width: 300px;
		padding: 0;
	}
	aside.lo-right {
		border-top: 4px solid #ededed;
		margin-top: 30px;
	}
	aside.lo-right [data-module-id=make-it-my-homepage],
	aside.lo-right [data-module-id=daily-buzz] {
		display: none;
	}
	.lo-footer {
		margin-top: 40px;
	}   
}
@media only screen and (max-width: 767px) and (min-width: 480px) { /* Wide Mobile */
	.responsive .wide-mobile {display: block;}
	.l-content-header {
	    width: 420px;
	}
}
@media only screen and (max-width:767px) { /* Mobile */
	.module.local form.fluid {

	}
	.module.local section.local-weather {

	}
	.module.local form.fluid legend {
		right: initial;
		text-align: center;
		width: 100%;
		top: 18px;
	}
	.module.local form.fluid legend:before {
	 	display: inline;
	}
	.module.local form.fluid fieldset {
		margin-top: 40px;
	}
	.hp-headlines .list-post-x1 .list-post-item .list-post-description{width: 160px;}
}
@media only screen and (max-width: 767px) and (min-width: 480px) { /* Wide Mobile */}