@import "https://s.aolcdn.com/os/uk-media/weather/sky-code-to-icon-code.css?v2";
.clearfix:after { content: ""; display: table; clear: both; }
:first-child+html .clearfix { min-height: 0; zoom: 1; }

/* Header and footer reset */
.m-cntrl-header, .m-cntrl-header *, .m-cntrl-footer, .m-cntrl-footer *, .m-mobile-menu, .m-mobile-menu * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.m-cntrl-header a, .m-cntrl-footer a, .m-cntrl-mpopular a, .m-cntrl-header p, .m-cntrl-footer p, .m-cntrl-mpopular p, .m-cntrl-header ul, .m-cntrl-footer ul, .m-cntrl-mpopular ul, .m-cntrl-header li, .m-cntrl-footer li, .m-cntrl-mpopular li, .m-cntrl-header div, .m-cntrl-footer div, .m-cntrl-mpopular div, .m-cntrl-header form, .m-cntrl-footer form, .m-cntrl-mpopular form, .m-cntrl-header input, .m-cntrl-footer input, .m-cntrl-mpopular input, .m-cntrl-header fieldset, .m-cntrl-footer fieldset, .m-cntrl-mpopular fieldset, .m-cntrl-header textarea, .m-cntrl-footer textarea, .m-cntrl-mpopular textarea { margin: 0; padding: 0; vertical-align: baseline; outline: none; -webkit-appearance: none; }
.m-cntrl-header input, .m-cntrl-footer input, .m-cntrl-mpopular input, .m-cntrl-header select, .m-cntrl-footer select, .m-cntrl-mpopular select, .m-cntrl-header textarea, .m-cntrl-footer textarea, .m-cntrl-mpopular textarea { font-family: inherit; font-size: inherit; font-weight: inherit; }
.m-cntrl-header a, .m-cntrl-footer a, .m-cntrl-mpopular a { color: inherit; text-decoration: none; }
.m-cntrl-header img, .m-cntrl-footer img, .m-cntrl-mpopular img, .m-cntrl-header fieldset, .m-cntrl-footer fieldset, .m-cntrl-mpopular fieldset { border: 0 }
.m-cntrl-header li, .m-cntrl-footer li, .m-cntrl-mpopular li { list-style: none }

/* Mobile menu */
html.is-mobile-menu-visible, body.is-mobile-menu-visible { overflow: hidden; height: 100%; }
html.is-mobile-menu-visible { position: relative; }
.m-mobile-menu { display: none; opacity: 0; width: 100%; height: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; -moz-transition: all .25s ease; -webkit-transition: all .25s ease; transition: all .25s ease; overflow: hidden; z-index: -1; }
.m-mobile-menu .navigation { width: 200px; position: absolute; top: 0; right: -200px; height: 100%; background-color: #008ee1; overflow: hidden; z-index: 1; -moz-transition: right .15s ease; -webkit-transition: right .15s ease; transition: right .15s ease; }
.m-mobile-menu .m-nav-wrapper { width: 200px; nowhitespace: afterproperty; overflow: hidden; position: absolute; bottom: 10px; top: 60px; }
.m-mobile-menu .m-nav-wrapper-inner { width: 215px; overflow-y: scroll; height: 100%; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; ; }
.m-mobile-menu .navigation .m-header-top-nav { }
.m-mobile-menu .page-curtain { width: 100%; height: 100%; background: #000; opacity: 0.3; position: absolute; top: 0; left: 0; z-index: -1; }
.m-mobile-menu.is-visible { z-index: 2147483642; opacity: 1; }
.m-mobile-menu.is-visible .navigation { right: 0 }
.m-mobile-menu .m-link { color: #fff }
.m-mobile-menu .m-link:hover { text-decoration: none }
.m-mobile-menu .m-usr-account { margin: 0 10px 18px 10px; padding: 20px 0 0; }
.m-mobile-menu .m-usr-account > .m-entry { float: left }
.m-mobile-menu .m-usr-account > .m-entry:first-child { border-right: 1px solid #0179c7; color: #fff; margin-right: 15px; padding-right: 15px; position: relative; max-width: 88px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.m-mobile-menu .m-usr-account > .m-entry.nav-close { position: absolute; right: 6px; top: 20px; font-size: 20px; cursor: pointer; color: #fff; }
.m-mobile-menu .m-header-top-nav > .m-entry { padding: 7px 0 }
.m-mobile-menu .m-header-top-nav .m-link { margin-left: 10px }
.m-mobile-menu .m-header-top-nav > .m-entry.is-selected { background-color: #0179c7 }

/* Default & generic */
.m-cntrl-header, .m-cntrl-header li { font-family: larsseitregular, sans-serif, arial; }
.m-cntrl-header { background-color: #fff; position: relative; display: block; margin: 0!important; font-size: 12px; width: 100%; }
.m-cntrl-header a, .m-cntrl-header a:hover { text-decoration: none }
.m-cntrl-header .m-header-top-nav, .m-cntrl-header .m-header-mid-nav, .m-cntrl-header .m-header-bot-nav { list-style-type: none; padding: 0; margin: 0; }
.m-cntrl-header .m-top-header, .m-cntrl-header .m-header-top-nav, .m-cntrl-header .nav-secondary { margin: auto; position: relative; width: 1000px; }
.m-cntrl-header .nav-secondary { background-color: #FFF; height: 40px }
.m-cntrl-header .m-header-top-nav, .m-cntrl-header .m-header-mid-nav { background-color: #FFF }
.m-cntrl-header .m-header-top-nav { border: 0 none; box-sizing: border-box; }
.m-cntrl-header .m-mobile-navigation { display: none }
.m-cntrl-header .m-header-navigation .nav-primary { border-bottom: 1px solid #DEDEDE }
.m-cntrl-header .m-header-navigation .nav-primary[data-num-items="0"] { padding-bottom: 15px; }
.m-cntrl-header .l-top-nav-link { color: #000; font-size: 15px; line-height: 40px; padding: 0 11px; }

/* Top header */
.m-cntrl-header .m-top-header { padding: 20px 0 9px; }
.is-subnav-hidden .m-cntrl-header .m-top-header { padding: 20px 0 }
.m-cntrl-header .m-header-navigation { background-color: #FFF }
.m-cntrl-header .m-logo, .m-cntrl-header .m-search, .m-cntrl-header .m-quick-nav { float: left; margin-left: 24px; }
.m-cntrl-header .m-quick-nav { position: relative; margin-top: 5px; margin-bottom: 4px; }
.m-cntrl-header .m-logo { display: block; width: 68px; height: 35px; margin-left: 15px; font-size: 70px; }
.m-cntrl-header .m-logo:before { position: absolute; top: 2px; }
.m-cntrl-header .m-logo:hover { color: inherit }
.m-cntrl-header .m-search { margin-left: 24px; position: relative; }
.m-cntrl-header #web-search-input { border: 1px solid #BFBFBF; border-right: 0 none; height: 34px; line-height: 34px; width: 427px; padding: 0 10px; font-weight: normal; color: #000; float: left; border-radius: 0; font-size: 14px; }
.m-cntrl-header #web-search-icon { background-image: initial; text-shadow: none; font-size: 14px; text-transform: uppercase; background-color: #fc057f; color: #FFF; border: 0; height: 34px; float: left; cursor: pointer; border-radius: 0; padding: 0 7px; }
.m-cntrl-header #web-search-icon:hover { background-color: #CA0060 }
.m-cntrl-header .m-quick-nav > .m-item { position: relative; display: block; float: left; font-size: 0; height: 25px; border-right: 1px solid #DEDEDE; padding-right: 18px; margin-right: 18px; }
.m-cntrl-header .m-quick-nav > .m-item:last-child {
	border-right: none;
	padding-right: 0;
	margin-right: 10px;
}
.m-cntrl-header .m-quick-nav > .m-item.email { font-size: 26px; width: 44px; }
.m-cntrl-header .m-quick-nav > .m-item.email.is-auth.has-new-emails .m-tooltip { display: none!important }
.m-cntrl-header .m-quick-nav > .m-item.email:hover { color: #008ee1 }
.m-cntrl-header .m-quick-nav > .m-item.hamburger { display: none; font-size: 14px; border: 0 none; margin: 0; padding: 4px 0 0; cursor: pointer; width: 60px; }
.m-cntrl-header .m-quick-nav > .m-item.hamburger > span { margin-left: 6px; font-size: 18px; position: absolute; }

.m-cntrl-header .m-quick-nav > .m-item.amazon { background-image: url(https://s.blogsmithmedia.com/www.aol.co.uk/assets/img/central/amazon_co_uk.svg); background-repeat: no-repeat; background-position: -2px 0; width: 40px; }
.m-cntrl-header .m-quick-nav > .m-item.ebay { background-image: url(https://s.blogsmithmedia.com/www.aol.co.uk/assets/img/central/ebay.svg); background-repeat: no-repeat; background-position: 0 0px; width: 66px; }
@media screen\0 { .m-cntrl-header .m-quick-nav > .m-item.amazon { background-position: -10px 0; } .m-cntrl-header .m-quick-nav > .m-item.ebay { background-position: -10px 0; }}
.m-cntrl-header .m-quick-nav > .m-item .m-tooltip, .m-cntrl-header .m-quick-nav > .m-item .m-counter { font-family: larsseitregular }
.m-cntrl-header .m-quick-nav > .m-item .m-counter { display: none; text-indent: 0; position: absolute; top: -7px; left: 12px; background-color: #fc057f; padding: 4px 6px; color: #FFF; font-size: 11px; z-index: 1; border-radius: 10px; }
.m-cntrl-header .m-tooltip { display: none; position: absolute; bottom: -28px; padding: 5px; background: #494949; border-radius: 3px 3px 3px 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); color: #fff; font-size: 10px; width: 90px; left: -30px; text-align: center; line-height: 14px; -webkit-font-smoothing: auto; z-index: 10; }
.m-cntrl-header .m-item.email .m-tooltip { left: -32px }
.m-cntrl-header .m-item.amazon .m-tooltip { left: -33px }
.m-cntrl-header .m-item.ebay .m-tooltip { left: -20px }
.m-cntrl-header .m-widget > .m-tooltip { bottom: -24px; left: 9px; }
.m-cntrl-header .m-tooltip:after { top: -11px; z-index: 999; border: solid rgba(0, 0, 0, 0); content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(250, 15, 127, 0); border-bottom-color: #494949; border-width: 6px; left: 50%; margin-left: -6px; }
.m-cntrl-header .m-quick-nav .m-item:hover > .m-tooltip { display: block }

/* Email oreview */
.m-cntrl-header .m-email-preview { display: none; border: 1px solid #dedede; background-color: #fff; position: absolute; width: 300px; top: 31px; left: -140px; min-height: 36px; z-index: 999 }
.m-cntrl-header .m-email-preview:after { top: -17px; z-index: 999; border: solid rgba(0, 0, 0, 0); content: " "; height: 0; width: 0; position: absolute; border-bottom-color: #dedede; border-width: 8px; left: 48%; }

.m-cntrl-header .m-email-preview.loading:before { display: block; padding: 40px 0; content: "Loading emails..."; text-align: center; }

.m-cntrl-header .m-email-preview ul { padding: 10px 10px 40px }
.m-email-preview .m-entry { position: relative; border-top: 1px solid #bfbfbf; padding: 15px 0; overflow: hidden; }
.m-email-preview .m-entry:first-child { border: 0 none }
.m-email-preview .m-entry a { display: block }
.m-cntrl-header .m-email-preview .email-address, .m-cntrl-header .m-email-preview .email-subject { font-family: larsseitbold }
.m-cntrl-header .m-email-preview .email-subject { margin: 5px 0 !important }
.m-email-preview .email-date-time { position: absolute; top: 15px; right: 0; }
.m-cntrl-header .m-email-preview .preview-footer { position: absolute; background: #008ee1; width: 100%; left: 0; bottom: 0; padding: 0 10px; z-index: 1000; }
.m-email-preview .preview-footer a { color: #fff; padding: 10px; display: inline-block; float: right; }
.m-email-preview .preview-footer a:first-child { float: none }

/* Autocomplete */
.aolSearchAutoComp.cntrlAutoComp { border: 1px solid #bfbfbf; border-top: 0 none; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); background-color: rgb(255, 255, 255); z-index: 100000; margin-top: -1px; box-sizing: border-box; }
.aolSearchAutoComp.cntrlAutoComp > li { font-size: 14px; padding: 3px 10px 3px 6px; color: #000; }
.aolSearchAutoComp.cntrlAutoComp > li.over, .aolSearchAutoComp.cntrlAutoComp > li:hover { background-color: #DFDFDF; cursor: pointer; }

/* Login & options */
.m-cntrl-header .m-usr-account { float: right; margin-right: 15px; max-width: 155px; }
.m-cntrl-header .m-usr-account.is-hidden { display: none }
.m-cntrl-header .m-usr-account .m-link { color: #494949; cursor: pointer; }
.m-cntrl-header .m-usr-account .m-link.options { font-family: larsseitregular; border-left: 1px solid #494949; padding-left: 5px; cursor: pointer; padding-right: 20px; background-position: 46px -314px; }
.m-cntrl-header .m-usr-account.is-external-auth .m-link.options { border-left: 0 none; padding-left: 0; }
.m-cntrl-header .m-usr-account .m-link.options:before { font-family: aol-core; position: absolute; bottom: 0px; right: 3px; }
.m-cntrl-header .m-usr-account .m-link.options.is-open { background-position: 48px -329px }
.m-cntrl-header .m-usr-account .m-entry { position: relative; float: left; font-size: 11px; line-height: 11px; padding-top: 5px; margin: 0 3px; }
.m-cntrl-header .m-usr-account .m-entry:last-child {
	margin: 0;
}
.m-cntrl-header .m-usr-account .m-entry:first-child { font-family: larsseitbold !important; float: none; display: block; font-size: 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.m-cntrl-header .m-usr-account #aol-header-multiauth-signin { cursor: pointer }
.m-cntrl-header .m-usr-account #aol-header-multiauth-user { font-size: 13px; color: #494949; }
.m-cntrl-header .m-option-box { display: none; position: absolute; z-index: 100; top: 62px; right: 4px; background-color: #fff; width: 200px; text-align: left; border: 1px solid #bfbfbf; padding: 10px 0; }
.m-cntrl-header .m-option-box.is-visible { display: block }
.m-cntrl-header .m-option-box .m-link { color: #000; display: block; font-size: 12px; padding: 6px 20px; text-decoration: none; line-height: 12px; cursor: pointer; }
.m-cntrl-header .m-option-box .m-link:hover { color: #FFF; background-color: #008ee1; }
.m-cntrl-header .m-option-box .is-hidden, body[style*="background-image"] .m-cntrl-header .js-swap-canvas { display: none }

/* Top navigation */
.m-header-navigation .is-hidden { display: none }
.m-header-navigation .m-header-top-nav { position: relative }
.m-header-navigation .m-header-top-nav > .m-entry { float: left }
.m-header-navigation .m-header-top-nav > .m-widget { float: right }
.m-header-navigation .m-header-top-nav > .m-entry > .m-link { position: relative; display: block; }
.m-header-navigation .m-header-top-nav > .m-entry.is-selected > .m-link:after { position: absolute; content: " "; width: 100%; height: 2px; background-color: #008EE1; bottom: -1px; left: 0; display: block; border-bottom: 2px solid #008EE1; }
.m-header-navigation .m-header-top-nav > .m-entry:hover,
.m-header-navigation .m-header-top-nav > .m-entry.has-txt-selected > .m-link { color: #fc057f }
.m-header-navigation .m-header-top-nav > .m-entry:hover .l-top-nav-link, .m-header-navigation .m-header-top-nav > .m-entry.is-selected .l-top-nav-link { color: #008EE1 }

/* Weather widget */
.m-header-navigation .m-header-top-nav > .m-widget:hover { background-color: rgba(0, 0, 0, 0) }
.m-header-navigation .m-header-top-nav > .m-widget:hover > .m-link:after { display: none }
.m-header-navigation .m-header-top-nav > .m-widget { font-size: 13px; line-height: 39px; color: #FFF; padding: 0 14px 0 5px; position: relative; }
.m-header-navigation .m-header-top-nav > .m-widget .m-w_icon { vertical-align: middle; margin-left: 5px; }
.m-header-navigation .m-header-top-nav > .m-widget > .m-caption { color: #828282; display: inline; cursor: pointer; }
.m-header-navigation .m-header-top-nav > .m-widget > .m-separator { margin: 0 5px; color: #9D9D9D; font-size: 11px; }
.m-header-navigation .m-header-top-nav > .m-widget > .m-input { background-color: #FFF; color: #828282; border: 1px solid #828282; padding: 0 5px; height: 20px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.m-header-navigation .m-header-top-nav > .m-widget > .m-confirm { display: inline-block; margin: 0 5px; cursor: pointer; color: #666; font-size: 14px; font-weight: 700; }
.m-header-navigation .m-header-top-nav > .m-widget > .m-input.is-hidden, .m-header-navigation .m-header-top-nav > .m-widget > .m-caption.is-hidden, .m-header-navigation .m-header-top-nav > .m-widget > .m-confirm.is-hidden, .m-header-navigation .m-header-top-nav > .m-widget.is-hidden { display: none; }
.m-header-navigation .m-header-top-nav > .m-widget > .js-place {width: 200px;display: inline-block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;vertical-align: top;text-align: right;}
.m-header-navigation .m-header-top-nav > .m-widget > .js-place:hover { color: #008EE1 }
.m-header-navigation .m-header-top-nav > .m-widget > .js-place:hover + .m-tooltip { background-color: #494949; display: block; }
.m-header-navigation .m-header-top-nav > .m-widget .m-degrees { position: relative; width: 56px; display: inline-block; }
.m-header-navigation .m-header-top-nav > .m-widget .m-degrees:before { font-family: "wif"; font-size: 20px; position: absolute; right: 0; top: -2px; }

.m-header-navigation .nav-scroll-wrapper { position: relative }
.m-header-navigation .m-header-mid-nav { display: none; height: 40px; width: auto; }
.m-header-navigation .m-header-mid-nav.is-visible { display: table }
.m-header-navigation .m-header-mid-nav > .m-entry { display: inline-block; position: relative; padding: 0 13px; line-height: 40px; }
.m-header-navigation .m-header-top-nav > .m-entry:hover > .m-header-mid-nav { z-index: 1 }
.m-header-navigation .m-header-top-nav > .m-entry:hover > .m-header-mid-nav,
.m-header-navigation .m-header-mid-nav > .m-entry:hover > .m-header-bot-nav,
.m-header-navigation .m-header-top-nav > .m-entry.is-selected > .m-header-mid-nav { display: block; z-index: 100; }
.m-header-navigation .m-header-mid-nav, .m-header-navigation .m-header-mid-nav > .m-entry > .m-link { color: #000; font-size: 13px; line-height: 40px; }
.m-header-navigation .m-header-mid-nav[data-subnav-for="now"] .m-entry:first-child .m-link { color: #008EE1; font-family: larsseitbold; }
.m-header-navigation .m-header-mid-nav > .m-entry > .m-link:hover { border-bottom: 1px solid #008EE1; color: #008EE1 }

/* Money channel overrides */
.m-header-navigation .m-header-mid-nav[data-subnav-for="money"] > .m-entry { padding: 0 12px }

/* Bottom navigation dropdowns */
.m-header-navigation .m-header-bot-nav { position: absolute; display: none; left: 15px; background-color: #404040; padding: 0 15px; min-width: 140px; }
.m-header-navigation .m-header-bot-nav:before { top: -12px; z-index: 999; border: solid rgba(0, 0, 0, 0); content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(64,64,64,0); border-bottom-color: #404040; border-width: 6px; left: 33px; margin-left: -6px; }
.m-header-navigation .m-header-bot-nav.has-thumbs { width: 245px }
.m-header-navigation .m-header-bot-nav .m-entry { margin: 15px 0; line-height: 24px; }
.m-header-navigation .m-header-bot-nav .m-link { display: block; color: #FFF; }
.m-header-navigation .m-header-bot-nav .m-image { float: left; margin-right: 10px; }
.m-header-navigation .m-header-bot-nav .m-caption { line-height: 18px; font-size: 12px; font-weight: normal; }

/* Footer */
#footer, .lo-footer { margin: 40px 0 0; }
.lo-footer, .m-cntrl-footer { background-color: #333 }
/* <Slideshow listing page - temp CSS, to be removed once updated in the slideshow CSS> */
.l-footer { background-color: #333!important; max-width: 100%!important; padding: 0!important; margin-top: 40px!important; }
/* </End> */
.m-cntrl-footer { font-family: larsseitregular, sans-serif, arial !important; font-size: 12px; color: #fff; padding: 40px 20px; width: 1000px; margin: auto; }
.m-cntrl-footer section { position: relative; float: left; width: 50%; min-height: 18px; }
.m-cntrl-footer__logo { font-size: 0; height: 46px; }
.m-cntrl-footer__logo:before { display: inline-block; font-size: 80px; position: relative; top: -22px; left: 0; width: 80px; }
.m-cntrl-footer__logo .channel { font-family: larsseitregular, sans-serif, arial; font-size: 28px; position: absolute; left: 80px; top: 2px; line-height: 44px; margin-left: 6px; text-transform: capitalize; }
.m-cntrl-footer__links .m-entry { float: left; /* display: inline-block; */ margin: 0 0 20px; width: 50%; height:20px; line-height: 14px; }
.m-cntrl-footer__links .m-link { font-size: 14px }
.m-cntrl-footer__links .m-link:hover { text-decoration: none; color: inherit; border-bottom: 1px solid; }
.m-cntrl-footer__connect-links, .m-cntrl-footer__copyright { font-size: 14px; border-top: 1px solid #666; padding-top: 20px; margin-top: 40px; }
.m-cntrl-footer__copyright { line-height: 22px; color: #828282; }
.m-cntrl-footer section.m-cntrl-footer__connect-links { display: table; float: right; }
.m-cntrl-footer__connect-links .connect-title { display: inline-block; color: #828282; /* position: relative; top: 6px; */ vertical-align: middle; }
.m-cntrl-footer__connect-links .button:before { font-size: 22px; vertical-align: middle; }
.m-cntrl-footer__connect-links .button.gplus:before { font-size: 18px }
.m-cntrl-footer__connect-links .button:hover { text-decoration: none; color: #828282; }
.m-cntrl-footer__connect-links .button { font-size: 0; display: inline-block; min-width: 22px; text-align: center; vertical-align: middle; }
.m-cntrl-footer__connect-links .m-entry { display: table-cell; text-align: right; width: 18%; }

/* Most popular */
.m-cntrl-mpopular a { color: inherit; text-decoration: none; }
.m-cntrl-mpopular a:hover { color: #008EE1; text-decoration: none; }
.m-cntrl-mpopular img { border: 0 }
.m-cntrl-mpopular li { list-style: none }
.m-cntrl-mpopular { width: 960px; font-size: 14px; line-height: 18px; background-color: #FFF; border-top: 4px solid #ededed; padding: 0 20px 30px; color: #000; }
.m-cntrl-mpopular .m-title { font-size: 16px; line-height: 24px; font-family: larsseitbold, sans-serif, arial; text-transform: uppercase; text-align: center; letter-spacing: 1px; margin: 20px 0; }
.m-cntrl-mpopular .m-entries { margin-top: 20px }
.m-cntrl-mpopular .m-entry { float: left; max-width: 176px; overflow: hidden; margin-left: 20px; }
.m-cntrl-mpopular .m-entry:first-child { margin-left: 0 }
.m-cntrl-mpopular .m-link { display: block }
.m-cntrl-mpopular .m-img { display: block; width: 176px; height: 118px; }
.m-cntrl-mpopular .m-channel { font-weight: bold; margin: 5px 0; }

/* Cobrand specific overrides */
.m-cntrl-header.is-cobrand-hp .m-logo:after, .m-cntrl-header.is-cobrand-compaq .m-logo:after { content: " "; height: 30px; display: block; position: relative; top: 2px; right: -70px; border-left: 1px solid #dedede; padding-left: 20px; margin-left: 20px; background-repeat: no-repeat; }
.m-cntrl-header.is-cobrand-hp .m-logo:after { width: 30px; background-image: url(../../img/homepage/hp-consumer.svg); background-position: 20px 0; background-size: contain; }
.m-cntrl-header.is-cobrand-compaq .m-logo:after { width: 110px; background-image: url(../../img/homepage/compaq-consumer-full.svg); background-position: 20px 9px; background-size: 78%; }
.m-cntrl-header.is-cobrand-hp .m-logo { width: 142px; }
.m-cntrl-header.is-cobrand-hp #web-search-input { width: 378px; }
.m-cntrl-header.is-cobrand-compaq #web-search-input { width: 310px; }
.m-cntrl-header.is-cobrand-compaq .m-logo { width: 210px; }

/* Country specific overrides */
.m-cntrl-header.aol-arkadium-de .m-usr-account { max-width: none }
.m-cntrl-header.aol-arkadium-de .m-quick-nav > .m-item.amazon { border: 0 none; margin: 0; padding: 0; }
.m-cntrl-header.aol-arkadium-de .m-tooltip { width: 94px }
.m-cntrl-footer.aol-arkadium-de .m-cntrl-footer__connect-links { display: none; }
.m-cntrl-footer.aol-arkadium-de .m-cntrl-footer__copyright { width: 100%; text-align: center; }

/* Partner specific overrides */
.m-cntrl-footer.is-aol-partner .m-entry.is-rss,
.m-cntrl-footer.is-aol-partner .m-entry.is-sitemap { display:none }
.m-cntrl-header.is-aol-partner.no-auth .m-quick-nav > .m-item.ebay { border: 0 none; }
.aol-horoscopes .lb-ad { text-align: center; }