.make-it-my-homepage .aol-btn {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    border-radius: 17px;
    text-transform: uppercase;
    font-family: larsseitbold;
    padding: 0;
    text-align: center;
    border-width: 1px;
}
.lightbox {
	position: fixed;
	z-index: 99999999999;
	display: table;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	text-align: center;
}
.lightbox:before,.lightbox:after {
	content: "";
	display: table-cell;
}
.lightbox-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50%;
}
.lightbox-title {
	background-color: #008EE1;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: larsseitregular;
	display: block;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
.lightbox-close-btn {
	border: none;
	outline: none;
	text-align: right;
	float:right;
	font-size: inherit;
	font-weight: bold;
	font-family: larsseitbold;
	line-height: 30px;
	background-color: #008EE1;
	display: inline-block;
	color: inherit;
	cursor: pointer;
}
.instructions {
	background: #fff;
	padding: 10px;
	width: 100%;
	text-align: left;
	display: table;
	clear:both;
	padding: 30px 20px 30px 10px;
	border: 1px solid #eee;
	box-sizing: border-box;
}

.instructions > p {
	display: table-cell;
	vertical-align: top;
	font-size: 16px;
}
.instructions > p:first-child {
	width: 100px;
	text-align: center;
}
.instructions > p > img {
	max-width: 80px;
	display: inline-block;
}
.instructions h3 {
	margin: 0 0 10px 0;
}
