.horoscopes-compatibility {
	text-align: center;
	
}
.horoscopes-compatibility select {
	display: block;
	width: 100%;
	background-color: #fff;
	margin: 10px 0;
	border-radius: 5px;
    border: 1px solid #c9c9c9;
}
.horoscopes-compatibility select option {
	background-color: #fff;
}
.horoscopes-compatibility select:first-child {
	margin-top: 0;
}
.horoscopes-compatibility button[type=submit] {
	min-width: 25%;
	margin-top: 10px;
}

.horoscopes-daily .star-sign {
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.horoscopes-daily .star-sign:before {
	font-size: 50px;
	bottom: 0;
}
.horoscopes-daily .star-signs-list .star-sign {
	width: 33.333333%;
	margin: 15px 0 0 0;
	padding-bottom: 55px;
	font-family: "larsseitregular","sans-serif";
	font-size: 14px;
}
.horoscopes-daily .star-sign:after {
	display: none;
}
.horoscopes-daily .aside-entries__title {
	margin: 0;
}
.horoscopes-daily .todays-date {
	text-align: center;
	width: 100%;
	margin: 8px 0 0 0;
	font-family: "larsseitregular","sans-serif";
	font-size: 14px;
}

.horoscopes-daily {
	overflow: hidden;
	padding-top: 25px !important;
}
.horoscopes-daily .widget,
.horoscopes-daily .widget-page {
	margin:0;
	box-sizing: border-box;
}
.horoscopes-daily .widget {
	width: 200%;
	overflow:hidden;
	margin-left:0;
	transition: margin-left 0.3s;
	text-align: center;
}
.horoscopes-daily .widget-page {
	width: 50%;
	float:left;	
}
.horoscope-preview {
	padding-top: 10px;
}
.horoscope-preview .star-sign {
	display: block;
	height: 75px;
	font-family: "larsseitbold","sans-serif";
	font-size:16px;
	text-transform: capitalize;
}
.horoscope-preview .star-sign:hover {
	color: initial;
}
.horoscope-preview .star-sign:hover:before {
	color: #008EE1;
}

.horoscope-preview .star-sign:before {
	top: 25px;
}
.horoscopes-daily [data-widget-action=back] {
	display:block;
	font-family: "larsseitbold","sans-serif";
	margin: 20px 0;
	font-size: 14px;
	outline: none;
}
.horoscope-preview .blurb {
    margin: 25px 0 30px 0;
}
.horoscopes-daily [data-widget-action=back]:hover {
	text-decoration: none;
	outline: none;
}
.horoscopes-daily .aol-btn {
	font-size: 14px;
	padding: 10px 15px;
}