/* CONTAINERS */

.module {
    display:table;
    clear:both;
    width:inherit;
}

.lo-left .module {
    margin-top: 30px;
}



.lo-right .module  {
    border-top: none ;
    margin: 25px 0 0 0;
    border-bottom:0 ;
    width:100%;
}

.lo-right .module {
    border-top: 4px solid #ededed ;
    padding: 35px 0 0 0 ;
    margin: 25px 0 0 0 ;

}

.lo-right .module.rr-ad-slot {
    border-top:0;
    margin-bottom:0;
    margin-top:25px;
}
.lo-right .module:first-child {
    margin-top: 0px;
    border-top: none;
    display: table;
}

.lo-right .module:first-child,
/*.lo-right .module.rr-ad-slot + .module,*/
.lo-right .module.afc {
    border-top: 0;
    padding:0;
    margin-top:0;
}

.lo-right .module.rr-ad-slot + .module {
    border-top:0;
    /*margin-top:0;*/
    padding-top:0;
}


/*
.lo-right .module.rr-ad-slot *:first-child {
    margin-bottom:35px !important;
}
*/
.lo-content-footer .module.m-popular-aol-articles {
	padding-top: 35px;
    border-top: 4px solid #ededed;
    margin-top: 30px;
}

/* TOP DESTINATIONS */
.module.top-destinations .list-post .list-post-item .list-post-title {
    line-height:20px;
    height:22px;
}
.module.top-destinations .see-more {
    font-size:13px;
    float:right;
}
.module.top-destinations .see-more:after {
    content: " \e60e";
    font-family: "aol-core";
    font-size:11px;
    
}

/* CHANNEL SEARCH */
.module.channel-search form fieldset {
  display:table-row;
}

.module.channel-search form fieldset span {
  display: table-cell;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

#site-search-input.default-color { color: #000; }


.module.channel-search form span:first-child {
  width: 100%;
  box-sizing: border-box;
  padding-right: 5px;
}
.module.channel-search form span:first-child input {
	box-sizing: border-box;
	width: 100%;
	color: #A0A0A0;
}
.module.channel-search form span button {
  white-space: nowrap
}



.mod-type-gravity .page-title-sub {
    margin: auto;
    text-align: center;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
}


/* FLIGHT STATUS SEARCH */
.module.flight-status-search .aside-entries__title {
    margin-bottom:10px;        
}
.module.flight-status-search form {
    text-align:center;
    
}
.module.flight-status-search form legend {
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom:10px;
}
.module.flight-status-search form fieldset {
    background-color:#ededed;
    padding: 0 10px 20px 10px;
}
.module.flight-status-search form label {
    display:block;
    clear:both;
    text-align:left;
    padding:10px 0;
    width: 95%;
    margin: auto;
}
.module.flight-status-search form label:after {
    float: right;
    content: "";
    display: inline-block;
    width: 85px;
    height: 25px;
    background: url(http://o.aolcdn.com/os/uk-travel/images/travel-tools-standard.png) no-repeat 0 -15px;
}
.module.flight-status-search form button {
    width:30%;
}
.module.flight-status-search form input {
    width:60%;
}
.module.flight-status-search form:after {
    width:300px;
    height:30px;
    display:block;
    content:"";
    background: rgba(0, 0, 0, 0) url(http://o.aolcdn.com/os/uk-travel/images/travel-tools-standard.png) no-repeat 150px -45px;
}

.lo-left .module.below-the-post {
	margin: 0;
}
.module.below-the-post + .module.below-the-post {
	border-top: 1px dotted #ccc;
}
.module.below-the-post {
	padding: 30px 0 10px;
}
.module.below-the-post.afc,
.module.below-the-post.autonetwork-advice-leftrail,
.module.below-the-post.aol-comments {
	padding: 30px 0;
}
.module.below-the-post.aol-comments {
	display: block;
}    
/* TRIPADVISOR WIDGET */
.module.tripadvisor-search-widget {
    text-align: center;
}
.module.tripadvisor-search-widget iframe, .module.tripadvisor-travelers-choice iframe {
    width: 300px;
    height: 250px;
    margin:auto;
    border:0;
    border-color: transparent;
}

/*<Zergnet>*/
 .zergnet-wrapper > .zergfooter { 
	 margin-right: 0; 
}

.zergnet-wrapper > .zergheader {
	letter-spacing: 1px;
	text-align: center;
	margin: 20px 0;
}



[data-module-id=marketplace] .item {
	border-bottom: 1px solid #ededed;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: table;
	clear: both;
	line-height: 20px;
	text-align: left;
}
[data-module-id=marketplace] .item > a {
	display: table-cell;
    vertical-align: top;
}
[data-module-id=marketplace] .item > p > a.link-text:before {
	display: table;
	clear:both;
	content: "";
}
[data-module-id=marketplace] img {
	float: left;
	margin: 0 10px 5px 0;
}
[data-module-id=marketplace] .item h5 {
	font-size: 15px;
}
[data-module-id=marketplace] .item p {
	font-size: 13px;
}

[data-module-id] > [data-module-id] {
	padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dddddd;
    border-top: none !important;
    padding-top: 0 !important;
}
[data-module-id="trending-now"] ul {
	width: 100%;
}
[data-module-id="trending-now"] ul li {
	width: 50%;
	padding: 0 0 8px 0;
	display: inline-block;
	float: left;
	text-align: left;
	box-sizing: border-box;
}
[data-module-id="trending-now"] ul li:nth-child(odd) {
	padding-left: 10px;
}
[data-module-id="trending-now"] a {
	font-size: 13px;
	color: #222;
	word-break: break-all;
}
[data-module-id="trending-now"] li:before {
	content:"";
	margin-right: 3px;
	display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    content: "";
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #008ee1;
    position:relative;
    margin: 0 8px 0 0;
}
[data-module-id="trending-now"] li.up:before {
	border-color: transparent;
	border-bottom-color: #1ba319;
	top: -2px;
	
}
[data-module-id="trending-now"] li.down:before {
	border-color: transparent;
	border-top-color: #ea0048;
	top: 3px;
}

[data-module-id="money/finance-widget"] {
	width: 100%;
	font-size: 11px;
	font-weight: normal;
}
[data-module-id="money/finance-widget"] ul {
	width: 100%;
	display: table;
	clear: both;
}
[data-module-id="money/finance-widget"] ul li {
	display: block;
	float: left;
	padding: 0 5px 0 5px;
    box-sizing: border-box;
    border-left: 1px dotted #dddddd;
}
[data-module-id="money/finance-widget"] ul li:first-child {
	border: none;
	padding: 0 5px 0 0;
}
[data-module-id="money/finance-widget"] ul li:last-child {
	padding: 0 0 0 5px;
}
[data-module-id="money/finance-widget"] ul li > * {
	width: 50%;
	display: inline-block;
	box-sizing: content-box;
    float: left;
}
[data-module-id="money/finance-widget"] ul li > *:nth-child(even) {
	text-align: right;
}
[data-module-id="money/finance-widget"] ul.x1 li {
	width: 100%;
}
[data-module-id="money/finance-widget"] ul.x2 li {
	width: 50%;
}
[data-module-id="money/finance-widget"] ul.x3 li {
	width: 33.3333%;
}
[data-module-id="money/finance-widget"] ul.x4 li {
	width: 25%;
}
[data-module-id="money/finance-widget"] ul.x5 li {
	width: 20%;
}
[data-module-id="money/finance-widget"] ul li.up {
	color: #1ba319;
}
[data-module-id="money/finance-widget"] ul li.down {
	color: #ea0048;
}
[data-module-id="money/finance-widget"] ul li span.change:before {
    content: "";
    margin-right: 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    content: "";
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #008ee1;
    position: relative;
    margin: 0 4px 0 0;
 }   
[data-module-id="money/finance-widget"] ul li.down span.change:before {
    border-color: transparent;
    border-top-color: #ea0048;
    top: 3px;	
}
[data-module-id="money/finance-widget"] ul li.up span.change:before {
    border-color: transparent;
    border-bottom-color: #1ba319;
    top: -2px;
}   
@media only screen and (max-width:480px) {
	[data-module-id="money/finance-widget"] ul.x3 li > *,
	[data-module-id="money/finance-widget"] ul.x4 li > *,
	[data-module-id="money/finance-widget"] ul.x5 li > * {
		width: 100%;
		float:none;
		display: block;
		text-align: center !important;
	}
}

/* PAGINATION */
.pagination-wrapper {
	text-align:center;
	padding: 0;
    clear: both;
    margin: 25px 0 40px 0;
}
.pagination-wrapper .aol-btn.page-go-next {
	margin-left:20px;
	margin-right:0;
}
.pagination-wrapper.full-width {
	text-align:left;
}
.pagination-wrapper.full-width .aol-btn.page-go-next {
	float:right;
	margin-left:0;
}
.pagination-wrapper.full-width .aol-btn.page-go-previous {
	float:left;
}

.pagination-wrapper.accordion {
	margin: 30px auto 15px auto;
	display: inline-block;
	width: 100%;
	text-align: center;
	
}
.pagination-wrapper.accordion .aol-btn,
.pagination-wrapper.accordion .pagination-btn {
	font-size: 14px;
    font-weight: 700;
    padding: 0;
    width: 44px;
    height: 44px;
    max-height: 44px;
    border-radius: 25px;
    border: 1px solid #008ee1;
    background: #eee;
	border-color: #eee;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	padding-top: 12px;
	box-sizing: border-box;
	margin: auto 2px;
}
.pagination-wrapper.accordion .pagination-btn.active,
.pagination-wrapper.accordion .pagination-btn:hover {
	background: #008ee1;
	border-color: #008ee1;
	color: #fff;
}
.pagination-wrapper.accordion .page-go-previous,
.pagination-wrapper.accordion .page-go-next {
	background: #fff;
	color: #000;
	float:none;
	margin: 0;
	line-height: 19px;
}

.pagination-wrapper.accordion .page-go-previous:before,
.pagination-wrapper.accordion .page-go-next:before {
	font-size: 13px;
    width: inherit;
    position: static;
}
.pagination-wrapper.accordion .page-go-next:before {
	margin-left: 3px;
}
.pagination-wrapper.accordion .page-go-previous:before {
	margin-right: 3px;
}

.pagination-wrapper.accordion .accordion {
	display: inline;
}

#ttcobrand .pagination-wrapper.accordion .page-go-next:before,
#ttcobrand .pagination-wrapper.accordion .page-go-next:after,
#ttcobrand .pagination-wrapper.accordion .page-go-previous:before,
#ttcobrand .pagination-wrapper.accordion .page-go-previous:after {
	display:inline-block;
}
#ttcobrand .pagination-wrapper.accordion .page-go-next,
#ttcobrand .pagination-wrapper.accordion .page-go-previous {
	line-height: 38px;
	height: 40px;
	width: auto;
	min-width: 40px;
	border-radius: 20px;
}
#ttcobrand .pagination-wrapper.accordion .go-to-page:hover,
#ttcobrand .pagination-wrapper.accordion .go-to-page.active  {
	background: #06f;
	color: #fff;
	text-decoration: none;
}

/** Prizel Competition Widgets **/
.prizel-competition-h-scroll, 
.prizel-competition-v-scroll {overflow:hidden;}
.prizel-competition-h-scroll .prizel-competition-rrail {height:270px !important;overflow:hidden;}


@media only screen and (max-width:767px) { /* Mobile */
	.pagination-wrapper.accordion .accordion {
		display: none;
	}
	.pagination-wrapper.accordion .page-go-previous:before,
	.pagination-wrapper.accordion .page-go-previous:after,
	.pagination-wrapper.accordion .page-go-next:before,
	.pagination-wrapper.accordion .page-go-next:after {
		position: static;
		font-size: 14px;
	}
	.pagination-wrapper.accordion .page-go-previous:before,
	.pagination-wrapper.accordion .page-go-next:after {
		margin: 0;
		font-size: 13px;
	}
	.pagination-wrapper.accordion .page-go-previous,
	.pagination-wrapper.accordion .page-go-next {
		width: auto;
		border-color: #222;
		color: #222;
		line-height: 1px;
	    height: 28px;
	    border-radius: 14px;
	}
	.pagination-wrapper.accordion .page-go-previous:after {
		content: "Back";
		font-family: larsseitbold;
		text-transform: uppercase;
		padding: 0 20px 0 0;
	}
	.pagination-wrapper.accordion .page-go-next:before {
		content: "Next";
		font-family: larsseitbold;
		text-transform: uppercase;
		padding: 0 0 0 20px;;
	}
	.pagination-wrapper.accordion .page-go-next:after {
		content: "\e60e";
		font-family: 'aol-core';
		padding: 0 5px 0 10px;
	}
	.pagination-wrapper.accordion .page-go-previous:before { 
		padding: 0 10px 0 5px;
	}
	.pagination-wrapper.accordion .page-go-previous {
		margin-right: 10px;
	}
	.pagination-wrapper.accordion .page-go-next {
		margin-left: 10px;
	}
}








.channel_homepage .lo-left section.module + section.module {
	border-top: 5px solid #ededed;
	padding-top: 30px;
}
.channel_homepage .lo-left section.module .more-btn {
	margin-left:auto;
	margin:auto;
	display:inherit;
}
travel.channel_homepage .lo-left section.module + section.module,
cars.channel_homepage .lo-left section.module + section.module {
	border: none;
	padding-top: 0;
}



@media only screen and (min-width: 999px)  {
	.lo-left .module.dynamic-leads .list-post.list-post-x2 {
		width:325px;
		float:left;
		margin-left:0px;
		overflow:hidden;
	}
	.lo-left .module.dynamic-leads .list-post.list-post-x2 {
		margin-left:-10px;
	}
	.lo-left .module.dynamic-leads .list-post.list-post-x2 + .list-post-x2 {
		margin-left:0px;
	}
	.lo-left .module.dynamic-leads .list-post.list-post-x2 .list-post-item {
		padding-left:10px;;
	}
	.lo-left .module.dynamic-leads .list-post.list-post-x2 .list-post-item .list-post-image {
		height:100px;
	}
}
