.show-article-content a,
.show-article-author a { color: #008ee1; text-decoration: none; }
.show-article-content p { padding-bottom: 10px; }
.show-article-content strong {font-family: "larsseitbold","sans-serif";}
.show-article-byline, .show-article-comment-count { display: block; width: 100%; }
.show-article-content div[class^='o2player'], .show-article-content div[class^='vdb_player'] { background-color: #ededed; }

/* Embedded modules via virtual tags in articles */
/* Article Sidebar */
.mod-article-sidebar {
    border-top: 7px solid #ff2d7f;
    background: none repeat scroll 0 0 #f7f7f7;
    clear: right;
    float: right;
    margin: 15px 0 15px 15px;
    padding: 10px;
    width: 180px;
}
.mod-article-sidebar .asb-title {
	margin: 5px 0 10px
}
.mod-article-sidebar li {
    list-style: disc outside none;
    margin-left: 20px;
}
.social-links {
	text-align: center;
    padding-bottom: 20px;
}

/* Social sharing */
.social-links .newsletterLink {
    background-color: #FE2D7D;
}
.social-links .fbLink {
    background-color: #445BAE;
}
.social-links .twitterLink {
    background-color: #29A7E3;
}
.social-links a {
    display: inline-block;
    width: 150px;
    height: 24px;
    padding: 8px;
    margin: 8px 8px 0 auto;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* Legacy GCP Polls */
.aol-gcp-polls { display: none!important; }

.show-article-sponsor-flag {
	background-color: #009ef3;
	color: #fff;
	margin: 10px auto auto;
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	display: inline-block;
}

/* FB Like Btn & Submit Correction */
.like-and-feedback {
	padding: 10px 0 4px;
	border-bottom: 1px dotted #ccc;
}
.like-and-feedback .link-suggestion {
	float: right;
}
.like-and-feedback .like_button {
	float: left
}

/* Frame the feed ingested images - Aol UK News articles */
.permalink .article-feed-image-wrapper{
	background-color: #eee;
	margin: 0 0 10px;
	max-width: 100%;
	text-align: center;
	width: 100%;
}
/* Image as direct child to deal with photo credit plugin DOM around image */
.permalink .article-feed-image-wrapper > img{
	display: block;
	margin: 0 auto;
}
/* Alter the photo credit plugin DOM style a bit around image */
.permalink .article-feed-image-wrapper > div{
	margin-top: 6px;
}
.sponsored-logo {
  float: right;
  max-width: 250px;
}
/* Fluid Youtube Videos */
.youtube-embed-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 10px;
}
.youtube-embed-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%!important;
	height: 100%!important;
	border: 0;
}
.twitter-tweet.twitter-tweet-rendered {margin:0 auto;}
/*
.article-photo-wrapper img { border: 0 none; display: block; margin: auto; }
.article-photo-wrapper iframe { border: 1px solid #E1E8ED; border-radius:3px; }
.article-photo-wrapper__caption { font-size: 14px; color: #999; line-height: 22px; padding: 6px 0 10px; }
*/
.permalink .show-article figure { margin: 0; margin-bottom: 10px; padding: 0; border: 0 none; }
.permalink .show-article figure img { border: 0 none; display: block; margin: auto; }
.permalink .show-article figcaption { font-size: 14px; color: #999; line-height: 22px; margin-top: 5px; }
.permalink .article-feed-image-wrapper ~ figcaption { margin-top: -5px; }