/* Dodgy fixes for old stuff  - putting in responsive so it's at the end ...*/
.content-header, .content-footer {
    width: auto !important;
}

#google-cse .powered-by-google-cse {
    width:auto !important;
}
ul.google-cse-results li>div.resultText {
    width:auto !important;
    float:none !important;
}

.is-snarfbar .lo-footer { /* Snarfbar overlap fix */
    padding-bottom:50px;
}

@media only screen and (max-width: 999px) and (min-width: 768px) {  /* Tablet */

    .list-post.list-post-x2 .list-post-item .list-post-image {
        height:135px;
    }
    .lo-right .module .list-post.list-post-x1 .list-post-item .list-post-image,
    .lo-right .module .list-post.list-post-x2 .list-post-item .list-post-image {
        height:93px;
    }
    .list-post.list-post-x3 .list-post-item .list-post-image {
        height:85px;
    }
    .xd-thumbs-wrapper {
        display:none;
    }
    .module.xd-carousel {
    	margin-bottom:0;
    }
    .list-post.list-post-x1 .list-post-item .list-post-image {
	    height:275px;
    }

}




@media only screen and (max-width: 767px) {     /* Mobile */
    .lo-content-footer {
        padding: 0;
    }

    .lo-footer { /* Snarfbar overlap fix */
	    padding-bottom:20px;
	}

    .list-post .list-post-item .list-post-title {
		font-size: 14px;
		line-height: 19px;
    	height: 58px;
    }
    .list-post .list-post-item .list-post-title .list-post-link,
    .gravity-popular-video .list-post .list-post-item .list-post-title .list-post-link {
       -webkit-line-clamp: 5;
   }
   .latest-stories .list-post .list-post-item .list-post-title .list-post-link,
   .more-stories .list-post .list-post-item .list-post-title .list-post-link
   {
       -webkit-line-clamp: 3;
   }
    .list-post.lead .list-post-item .list-post-title {
    	font-size: 24px;
    	line-height: 28px;
    	margin-top:-20px;
    }
    .xd-thumbs-wrapper {
        display:none;
    }
	.module.xd-carousel {
		margin-bottom:0;
	}
    .lo-right {
        border-top: 5px solid #E6E6E6;
        padding-top:30px;
        margin-top:30px;
    }
    .lo-right .module {
        text-align:center;
    }
    .list-post.list-post-x2 .list-post-item .list-post-image,
    .list-post.list-post-x1.side-title .list-post-item .list-post-image,
    .list-post.list-post-x1.side-title .list-post-item .list-post-title,
    .lo-right .module .list-post.list-post-x1.side-title .list-post-item .list-post-image,
    .lo-right .module .list-post.list-post-x2 .list-post-item .list-post-image {
        height:95px;
    }
    .list-post.list-post-x3 .list-post-item .list-post-image {
        height:57px;
    }
    /* PERMALINK */
    .permalink .lo-right {
	    border-top: none;
	    padding-top: 0;
	    margin-top: 0;
	}
	.travel.permalink .lo-right .mod-type-gravity,
    .travel.permalink .m-popular-aol-articles {
	    display: none !important;
    }
    .travel.permalink .lo-right .channel-search,
    .travel.permalink .lo-right .travel-photos,
    .travel.permalink .lo-right .editor-picks,
    .travel.permalink .lo-right .top-destinations,
    .travel.permalink .lo-right .flight-status-search,
    .cars.permalink .lo-right .channel-search,
    .cars.permalink .lo-right .car-makes-types {
		display: none;
    }
    .travel.permalink .lo-left .afc,
    .cars.permalink .lo-left .afc {
	    display: block !important;
    }
    .list-post.list-post-x1 .list-post-item .list-post-image {
	    height:198px;
    }
    /*
    .list-post.list-post-x1.side-title .list-post-item .list-post-title {
	    max-height:198px;
    }
    */
    .list-post.lead .list-post-item .list-post-title {
	    height:auto;
    }
    /*
    .channel_homepage .lo-left section.module .more-btn {
	    font-size:14px;
	    padding: 7px 14px;
    }
    */
}

@media only screen and (max-width: 767px) and (min-width: 480px) { /* Wide Mobile */
    .list-post.list-post-x2 .list-post-item .list-post-image,
    .list-post.list-post-x1.side-title .list-post-item .list-post-image,
    .list-post.list-post-x1.side-title .list-post-item .list-post-title,
    .lo-right .module .list-post.list-post-x1.side-title .list-post-item .list-post-image,
    .lo-right .module .list-post.list-post-x2 .list-post-item .list-post-image {
        height:135px;
    }
    .list-post.list-post-x3 .list-post-item .list-post-image {
        height:85px;
    }
    .list-post.list-post-x1 .list-post-item .list-post-image {
	    height:275px;
    }
}






