

.star-signs-list .star-sign {
	display: block;
	float:left;
	box-sizing: border-box;
	text-align: center;
	width: 25%;
	padding-bottom: 85px;
	font-size: 16px;
	margin: 0 0 30px 0;
	font-family: "larsseitbold","sans-serif";
}
.star-sign {
	position: relative;
	box-sizing: border-box;
}
.star-sign,
.star-sign:hover {
	text-decoration: none;
	color: initial;
}
.star-sign:before,
.star-sign:after {
	position: absolute;
	left: 0;
	width: 100%;
	display: block;
}
[data-sign]:before,
.star-sign:before {
	font-family: 'aol-core';
	font-size: 60px;
	color:#008EE1;
}
[data-sign]:hover,.star-sign:hover,
[data-sign]:hover:before,.star-sign:hover:before,
[data-sign]:hover:after,.star-sign:hover:after {
	color:#0270B8;
}

.star-sign:before {
	bottom: 20px;
}
.star-sign:after {
	content: attr(data-dates);
	bottom: 0;
	font-family: "larsseitregular","sans-serif";
	font-size: 12px;
}



[data-sign=aquarius]:before,
.star-sign.aquarius:before{
	content: "\e906";
}
[data-sign=aries]:before,
.star-sign.aries:before {
	content: "\e907";
}
[data-sign=cancer]:before,
.star-sign.cancer:before {
	content: "\e908";
}
[data-sign=capricorn]:before,
.star-sign.capricorn:before {
	content: "\e909";
}
[data-sign=gemini]:before,
.star-sign.gemini:before {
	content: "\e90a";
}
[data-sign=leo]:before,
.star-sign.leo:before {
	content: "\e90b";
}
[data-sign=libra]:before,
.star-sign.libra:before {
	content: "\e90c";
}
[data-sign=pisces]:before,
.star-sign.pisces:before {
	content: "\e90d";
}
[data-sign=sagittarius]:before,
.star-sign.sagittarius:before {
	content: "\e90e";
}
[data-sign=scorpio]:before,
.star-sign.scorpio:before {
	content: "\e910";
}
[data-sign=taurus]:before,
.star-sign.taurus:before {
	content: "\e911";
}
[data-sign=virgo]:before,
.star-sign.virgo:before {
	content: "\e912";
}