/*
Yet another carousel
*/
.mod-container.mod-type-carousel {
    position: relative;
    zoom: 1;
}
.mod-container.mod-type-carousel .carousel {
    position: relative;
    overflow: hidden;
}
.mod-container.mod-type-carousel .carousel > :first-child {
    position: absolute;
    padding: 0;
}
.mod-container.mod-type-carousel .carousel > :first-child > * {
    float: left;
}
.mod-container.mod-type-carousel .slider-arrows {
    position: absolute;
    top: 8px;
    right: 0;
}
.mod-container.mod-type-carousel .slider-arrows .slider-prev, .slider-arrows .slider-next {
    float: left;
    margin-left: 2px;
}
.mod-container.mod-type-carousel .slider-arrows .slider-prev {
    margin-left: 0
}
.mod-container.mod-type-carousel .slider-arrows a {
    background: url('http://o.aolcdn.com/os/uk-unity/images/unity_sprite.png') no-repeat;
    display: block;
    width: 23px;
    height: 21px;
    text-indent: -99999px;
}
.mod-container.mod-type-carousel .slider-arrows .slider-prev a {
    background-position: 0 -222px
}
.mod-container.mod-type-carousel .slider-arrows .slider-next a {
    background-position: -26px -222px
}
.mod-container.mod-type-carousel .slider-arrows .disabled {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
