@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .lo-adLB,.lo-container {
        max-width: 480px;
    }

    .lo-container {
        overflow: hidden;
    }

    .lo-content {
        max-width: 420px;
        padding: 20px 30px 0 30px;
    }

    .content-header,.content-footer {
        max-width: 420px;
    }

    .lo-left,.lo-right {
        float: none;
        margin: auto;
        padding: 0;
        width: 420px;
        overflow: hidden;
    }

    .latestNewsForDiv {
        float: none;
    }

    .lo-content {
        position: inherit;
        margin-top: auto;
    }

    .hero-banner {
        position: inherit;
        width: 100%;
    }

    .page-hero-banner {
        height: 153px;
        margin: 0 0 15px;
        width: 480px;
        -mox-box-shadow: inset 0 -80px 50px -40px #000;
        -webkit-box-shadow: inset 0 -80px 50px -40px #000;
        box-shadow: inset 0 -80px 50px -40px #000;
    }

    .page-hero-banner h1 {
        top: 95px;
        font-size: 30px;
    }

    .mod-dl-main {
        margin: 0 0 20px;
        width: 420px;
        float: none;
    }

    .mod-dl-main img {
        width: 420px;
        height: 245px;
    }

    .mod-dl-main h1 {
        font-size: 26px;
        line-height: 36px;
    }

    .mod-dl-sub {
        width: 420px;
        float: none;
    }

    .mod-dl-sub .dl-sub,.mod-dl .mod-dl-sub .dl-sub.dl-second {
        float: left;
        width: 126px;
        margin: 0 15px 15px 0;
    }

    .mod-dl-sub .dl-sub img,.mod-dl .mod-dl-sub .dl-sub.dl-second img {
        width: 126px;
        height: 84px;
    }

    .mod-dl-sub .dl-sub.dl-last {
        margin: 0;
    }

    .mod-dl-sub .dl-sub.dl-second h3 {
        line-height: 22px;
        font-size: 16px;
    }

    .mod-newsList-river .mod-list img,.mod-newsList-river .mod-list .m-over-overlay {
        width: 250px;
        height: 160px;
    }

    .mod-newsList-river .mod-list h3 {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 15px;
    }

    .mod-newsList-river .mod-list p {
        font-size: 14px;
        line-height: 20px;
    }

    .social-share-bar .aol-share a {
        width: 20%;
        text-align: center;
        padding: 0;
    }

    .social-share-bar .aol-share span.fa-icon {
        padding: 0;
    }

    .social-share-bar span.socialTxt {
        display: none;
    }

    .social-share-bar .aol-share a {
        padding: 0 !important;
        margin: 0;
    }

    .social-share-bar .aol-share a.aol-share-facebook,.social-share-bar .aol-share a.aol-share-facebook:hover {
        background-position: center -83px;
    }

    .social-share-bar .aol-share a.aol-share-twitter,.social-share-bar .aol-share a.aol-share-twitter:hover {
        background-position: center -13px;
    }

    .social-share-bar .aol-share a.aol-share-googleplus,.social-share-bar .aol-share a.aol-share-googleplus:hover {
        background-position: center -154px;
    }

    .social-share-bar .aol-share a.aol-share-pinterest,.social-share-bar .aol-share a.aol-share-pinterest:hover {
        background-position: center -226px;
    }

    .social-share-bar .aol-share a.aol-share-email,.social-share-bar .aol-share a.aol-share-email:hover {
        background-position: center -294px;
    }

    .read-more-link {
        padding: 15px 30px;
    }
	
	/*** AOL Article Migration ***/
	.river-entries { width: 420px; padding: 0 30px 30px; }

}

@media only screen and (max-width:479px) {
    #latestNewsFor {
        height: auto;
    }

    .latestNewsForDiv {
        width: 100%;
    };
}