.word-of-the-day {
	text-align: center;
}
.word-of-the-day:after {
	content: "Powered by AOL Search";
	margin-top: 15px;
	display: block;
	color: #7A7B7C;
	font-size: 12px;
	text-align: center;
}
.word-of-the-day .aside-entries__title {
	margin-bottom: 10px;
}
.word-of-the-day .link-text {
	display: table;
	margin: 0 auto 15px auto;
	border-bottom: 1px solid #008EE1;
}
.word-of-the-day .link-text: hover {
	border-color: #0179C7;
	color: #0179C7;
}
.word-of-the-day .form {
	display: table;
	width: 100%;
	text-align: center;
}
.word-of-the-day fieldset {
	display: table-row;
}
.word-quoted {
	font-size: 30px;
	font-weight: 700;
	font-weight: bold;
	quotes: '\2018' '\2019';
	display: block;
	text-align:center;
	padding: 0 20px;
	position: relative;
	display: inline-block;
}
.word-of-the-day .link-text {
	font-size: 15px;
}
.word-quoted:before {
	content: open-quote;
	font-size: 60px;
	position: absolute;
	left: 0;
	top: -10px;
}
.word-quoted:after {
	content: close-quote;
	font-size: 60px;
	position: absolute;
	right: 0;
	top: -10px;
}

.word-of-the-day fieldset span {
	display: table-cell;
	vertical-align: top;
    padding: 0;
    margin: 0;
}
.word-of-the-day fieldset span > * {
	border-radius: 3px;
	outline: none;
}
.word-of-the-day fieldset span:first-child,
.word-of-the-day fieldset span:first-child input {
	box-sizing: border-box;
	width: 100%;
}
.word-of-the-day fieldset span:first-child {
	padding-right: 5px;
}