/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite.account {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -144px -150px;
  width: 18px;
  height: 18px;
}
.sprite.arts {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px -100px;
  width: 20px;
  height: 20px;
}
.sprite.automotive {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -20px -130px;
  width: 20px;
  height: 20px;
}
.sprite.bookmark {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -40px -130px;
  width: 20px;
  height: 20px;
}
.sprite.bottom-white-email {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -36px -72px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-facebook {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-link {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px -36px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-pinterest {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -36px -36px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-pocket {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -72px 0px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-reddit {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -72px -36px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-twitter {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px -72px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-wechat {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.sprite.bottom-white-weibo {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -72px -72px;
  width: 36px;
  height: 36px;
}
.sprite.comments-active {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -126px -150px;
  width: 18px;
  height: 18px;
}
.sprite.comments {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -150px;
  width: 18px;
  height: 18px;
}
.sprite.design {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -100px -130px;
  width: 20px;
  height: 20px;
}
.sprite.email {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -120px -130px;
  width: 20px;
  height: 20px;
}
.sprite.entertainment {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -88px;
  width: 20px;
  height: 20px;
}
.sprite.facebook {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -88px -108px;
  width: 20px;
  height: 20px;
}
.sprite.fashion {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -108px;
  width: 20px;
  height: 20px;
}
.sprite.feed {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px 0px;
  width: 20px;
  height: 20px;
}
.sprite.food {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px -20px;
  width: 20px;
  height: 20px;
}
.sprite.footwear {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px -40px;
  width: 20px;
  height: 20px;
}
.sprite.globe-asia {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -54px -150px;
  width: 18px;
  height: 18px;
}
.sprite.globe {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -36px -150px;
  width: 18px;
  height: 18px;
}
.sprite.header-fb {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px 0px;
  width: 22px;
  height: 22px;
}
.sprite.header-ig {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -22px;
  width: 22px;
  height: 22px;
}
.sprite.header-mail {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -44px;
  width: 22px;
  height: 22px;
}
.sprite.header-sc {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -108px -66px;
  width: 22px;
  height: 22px;
}
.sprite.header-tw {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px -108px;
  width: 22px;
  height: 22px;
}
.sprite.header-wb {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -22px -108px;
  width: 22px;
  height: 22px;
}
.sprite.header-wc {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -44px -108px;
  width: 22px;
  height: 22px;
}
.sprite.header-yt {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -66px -108px;
  width: 22px;
  height: 22px;
}
.sprite.latest-active {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -18px -150px;
  width: 18px;
  height: 18px;
}
.sprite.latest {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px -150px;
  width: 18px;
  height: 18px;
}
.sprite.lifestyle {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -40px;
  width: 20px;
  height: 20px;
}
.sprite.link-button {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -60px;
  width: 20px;
  height: 20px;
}
.sprite.music {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -80px;
  width: 20px;
  height: 20px;
}
.sprite.pinterest {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -100px;
  width: 20px;
  height: 20px;
}
.sprite.pocket {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -120px;
  width: 20px;
  height: 20px;
}
.sprite.reddit {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px -20px;
  width: 20px;
  height: 20px;
}
.sprite.search {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -170px 0px;
  width: 17px;
  height: 17px;
}
.sprite.sports {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -150px 0px;
  width: 20px;
  height: 20px;
}
.sprite.tech {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px -80px;
  width: 20px;
  height: 20px;
}
.sprite.travel {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -130px -60px;
  width: 20px;
  height: 20px;
}
.sprite.trending-active {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -72px -150px;
  width: 18px;
  height: 18px;
}
.sprite.trending {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -90px -150px;
  width: 18px;
  height: 18px;
}
.sprite.twitter {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -80px -130px;
  width: 20px;
  height: 20px;
}
.sprite.wechat {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: -60px -130px;
  width: 20px;
  height: 20px;
}
.sprite.weibo {
  background-image: url(../images/sprite.png?t=20161219061240);
  background-position: 0px -130px;
  width: 20px;
  height: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .sprite.account {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.arts {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.automotive {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bookmark {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-email {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-facebook {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-link {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-pinterest {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-pocket {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-reddit {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-twitter {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-wechat {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.bottom-white-weibo {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.comments-active {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.comments {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.design {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.email {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.entertainment {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.facebook {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.fashion {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.feed {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.food {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.footwear {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.globe-asia {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.globe {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-fb {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-ig {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-mail {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-sc {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-tw {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-wb {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-wc {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.header-yt {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.latest-active {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.latest {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.lifestyle {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.link-button {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.music {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.pinterest {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.pocket {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.reddit {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.search {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.sports {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.tech {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.travel {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.trending-active {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.trending {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.twitter {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.wechat {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
  .sprite.weibo {
    background-image: url(../images/sprite@2x.png?t=20161219061240);
    background-size: 187px 168px;
  }
}
