@import url('https://fonts.googleapis.com/css?family=Signika:300,400,700');

/* Grid */

.container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}

.container-fluid {
    width: 95%;
    margin: 0 auto;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* Base Styles */
html {
    font-size: 62.5%;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Signika', sans-serif;
    color: #333;
    background-color: #f3f3f3;
}

/* Typography */
h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1;
}

h1, .h1 { 
    font-size: 3.6rem;   
    letter-spacing: -.1rem;
}

h2, .h2 {
    font-size: 3.0rem;
    letter-spacing: -.1rem;
}

h3, .h3 {
    font-size: 2.4rem;
    letter-spacing: -.1rem;
}

h4, .h4 {
    font-size: 1.8rem;
    line-height: 2.3;
    letter-spacing: -.08rem;
}

h5, .h5 {
    font-size: 1.6rem;
    line-height: 2.5; 
    letter-spacing: -.05rem;
}

h6, .h6 {
    font-size: 1.4rem;
    line-height: 1.5; 
    letter-spacing: 0;
}

p {
    margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #333; }
a:hover { color: #666; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}
h6 a {
    font-size: 80%;
}

/* Buttons */
.button,
button,
input.button {
    display: inline-block;
    height: 38px;
    padding: 0 10px;
    color: #333;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #fff, #f3f3f3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.button-group-vertical .button,
.button-group-vertical button,
.button-group-vertical input.button {
    margin-bottom: 5px;
}

.button-group-horizontal .button,
.button-group-horizontal button,
.button-group-horizontal input.button {
    float: left;
    display: block;
    margin-right: 5px;
}

.button-group-vertical .button:last-child,
.button-group-vertical button:last-child,
.button-group-vertical input.button:last-child {
    margin-bottom: 0;
}

.button-group-horizontal .button:last-child,
.button-group-horizontal button:last-child,
.button-group-horizontal input.button:last-child {
    margin-right: 0;
}

.button.basic,
button.basic,
input.button.basic {
    background: #fff;
}

.button.basic:hover,
button.basic:hover,
input.button.basic:hover,
.button.basic:focus,
button.basic:focus,
input.input.basic:focus {
    background: #f3f3f3;
}

.button.small,
button.small,
input.button.small {
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    font-weight: 300;
    padding: 0 5px;
}

.button.large,
button.large,
input.button.large {
    height: 46px;
    line-height: 46px;
    font-size: 18px;
}

.button:hover,
button:hover,
input.button:hover,
.button:focus,
button:focus,
input.input:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.active,
button.active,
input.button.active {
    background: #f3f3f3;
}

.button.busy,
button.busy,
input.button.busy,
.button.disabled,
button.disabled,
input.button.disabled {
    background: #ccc;
    border-color: #ccc;
}

.button.active .icon,
button.active .icon,
.button.busy .icon,
button.busy .icon,
.button.disabled .icon,
button.disabled .icon {
    opacity: 0.5;
}

.button.disabled,
button.disabled,
input.button.disabled,
.button:disabled,
button:disabled,
input.button:disabled {
    cursor: not-allowed;
}

.button.busy,
button.busy,
input.button.busy {
    cursor: wait;
}

.button.button-primary,
button.button-primary,
input.button.button-primary {
    color: #FFF;
    background-image: linear-gradient(to bottom, #4BDFFE, #33C3F0);
    background-color: #33C3F0;
    border-color: #33C3F0;
    text-shadow: 0 1px 0 #2483b3;
}

.button.button-primary:hover,
button.button-primary:hover,
input.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input.button-primary:focus {
    color: #FFF;
    background-image: none;
    border-color: #1EAEDB;
}

.button.button-primary.active,
button.button-primary.active,
input.button-primary.active {
    background: #99e7ff;
    border-color: #73cbe5;
    color: #e5f9ff;
    text-shadow: none;
}

.button.button-primary.busy,
button.button-primary.busy,
input.button.button-primary.busy,
.button.button-primary.disabled,
button.button-primary.disabled,
input.button.button-primary.disabled,
.button.button-primary:disabled,
button.button-primary:disabled,
input.button.button-primary:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #fff;
    text-shadow: none;
}

.button.button-fade:hover,
button.button-fade:hover,
input.button.button-fade:hover {
    border-color: #2dafd6;
    background: #33C3F0;
    color: #fff;
    text-shadow: 0 1px 0 #2dafd6;
}

.button.button-positive,
button.button-positive,
input.button.button-positive {
    color: #FFF;
    background-image: linear-gradient(to bottom, #64ba39, #4ba221);
    background-color: #64ba39;
    border-color: #4ba221;
    text-shadow: 0 1px 0 #408a1c;
}

.button.button-positive:hover,
button.button-positive:hover,
input.button.button-positive:hover {
    background-image: linear-gradient(to bottom, #6ecc3f, #4ba221);
    background-color: #6ecc3f;
}

.button.button-negative,
button.button-negative,
input.button.button-negative {
    color: #FFF;
    background-image: linear-gradient(to bottom, #e85042, #d0372a);
    background-color: #e85042;
    border-color: #d0372a;
    text-shadow: 0 1px 0 #b83125;
}

.button.button-negative:hover,
button.button-negative:hover,
input.button.button-negative:hover {
    background-image: linear-gradient(to bottom, #ff5747, #d0372a);
    background-color: #ff5747;
}

/* Forms */
button, 
input, 
optgroup, 
select, 
textarea {
    color: #666;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    width: 100%;
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    font-size: 1.4rem;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: linear-gradient(to bottom, #f7f7f7, #fff);
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border:1px solid rgba(51, 195, 240, 0.35);
    outline: 0;
}

html input[disabled],
html textarea[disabled],
html select[disabled] {
    background: #e5e5e5;
    cursor: not-allowed;
}

select[multiple="multiple"] {
    min-height: 119px;
}

select {
    background-image: linear-gradient(to bottom, #fff, #f1f1f1);
}

label {
    display: block;
    margin-bottom: .5rem;
    color: #666;
    font-weight: 300;
}

fieldset {
    border-color: #ccc;
    padding-bottom: 0.5rem;
    margin: 0;
    border-radius: 3px;
}

legend {
    display: block;
    padding: 0 .5rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #999;
    margin-left: -5px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-left: 5px;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400;
}

.input.checkbox label {
    display: inline;
    margin-left: 5px;
}

.input.date select {
    width: 32.66666666666667%;
    margin-right: 1%;
}

.input.date select:last-child {
    margin-right: 0;
}

/* Lists */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

/* Code */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Tables */
table {
    width: 100%;
    margin: 2rem 0;
}

th,
td {
    padding: 1rem;
    text-align: left;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

thead tr,
tr:nth-child(2n) {
    background-color: #f7f7f7;
}

th {
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
}

/* Spacing */

input,
textarea,
select,
fieldset {
    margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 1rem;
}

/* Utilities */

.full-width {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.pull-right { float: right !important; }
.pull-left { float: left !important; }

.no-margins {  margin: 0 !important;}

.no-margin-top { margin-top: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }

.no-padding-top { padding-top: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }

.margin-top { margin-top: 20px;}
.margin-bottom { margin-bottom: 20px;}

/* Misc */

hr {
    margin: 5px 0 10px;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.text-label {
    display: inline-block;
    background-color: #ccc;
    border-radius: 3px;
    padding: 2px 4px;
    line-height: 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.text-label.primary {
    background-color: #FF4DA7;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Clearing */

.container:after,
.row:after,
.clearfix:after,
.button-group-horizontal:after {
    content: "";
    display: table;
    clear: both;
}

/* Icons */

.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: -1px;
}

.icon-12px { width: 12px; height: 12px; }
.icon-16px { width: 16px; height: 16px; }
.icon-24px { width: 24px; height: 24px; }
.icon-32px { width: 32px; height: 32px; }

.icon.icon-12px.user.primary { background-image: url('/img/icon-user-12px-primary.png'); }
.icon.icon-12px.user { background-image: url('/img/icon-user-12px.png'); }
.icon.icon-12px.pencil.primary { background-image: url('/img/icon-pencil-12px-primary.png'); }
.icon.icon-12px.caret-down { background-image: url('/img/icon-caret-down-12px.png'); }
.icon.icon-12px.caret-down.primary { background-image: url('/img/icon-caret-down-12px-primary.png'); }
.icon.icon-12px.exit.primary { background-image: url('/img/icon-exit-12px-primary.png'); }
.icon.icon-12px.upload.primary { background-image: url('/img/icon-upload-12px-primary.png'); }
.icon.icon-12px.upload { background-image: url('/img/icon-upload-12px.png'); }
.icon.icon-12px.crown.primary { background-image: url('/img/icon-crown-12px-primary.png'); }
.icon.icon-12px.caret-down.main-negative { background-image: url('/img/icon-caret-down-12px-main-negative.png'); }
.icon.icon-12px.live { background-image: url('/img/icon-live-12px.gif'); }
.icon.icon-12px.clock.primary { background-image: url('/img/icon-clock-12px-primary.png'); }
.icon.icon-12px.remove { background-image: url('/img/icon-remove-12px.png'); }
.icon.icon-12px.arrow-left { background-image: url('/img/icon-arrow-left-12px.png'); }
.icon.icon-12px.arrow-right { background-image: url('/img/icon-arrow-right-12px.png'); }
.icon.icon-12px.eye { background-image: url('/img/icon-eye-12px.png'); }
.icon.icon-12px.heart { background-image: url('/img/icon-heart-12px.png'); }
.icon.icon-12px.thumb-up { background-image: url('/img/icon-thumb-up-12px.png'); }
.icon.icon-12px.thumb-down { background-image: url('/img/icon-thumb-down-12px.png'); }
.icon.icon-12px.thumb-up.color { background-image: url('/img/icon-thumb-up-12px-color.png'); }
.icon.icon-12px.thumb-down.color { background-image: url('/img/icon-thumb-down-12px-color.png'); }
.icon.icon-12px.play { background-image: url('/img/icon-play-12px.png'); }
.icon.icon-12px.comment { background-image: url('/img/icon-comment-12px.png'); }
.icon.icon-12px.comment.primary { background-image: url('/img/icon-comment-12px-primary.png'); }
.icon.icon-12px.filter { background-image: url('/img/icon-filter-12px.png'); }
.icon.icon-12px.block { background-image: url('/img/icon-block-12px.png'); }
.icon.icon-12px.file { background-image: url('/img/icon-file-12px.png'); }
.icon.icon-12px.image { background-image: url('/img/icon-image-12px.png'); }

.icon.icon-16px.flag-nl { background-image: url('/img/icon-flag-nl-16px.png'); }
.icon.icon-16px.flag-be { background-image: url('/img/icon-flag-be-16px.png'); }
.icon.icon-16px.flag-de { background-image: url('/img/icon-flag-de-16px.png'); }
.icon.icon-16px.flag-en,
.icon.icon-16px.flag-gb,
.icon.icon-16px.flag-uk { background-image: url('/img/icon-flag-en-16px.png'); }
.icon.icon-16px.flag-fr { background-image: url('/img/icon-flag-fr-16px.png'); }
.icon.icon-16px.flag-gr { background-image: url('/img/icon-flag-gr-16px.png'); }
.icon.icon-16px.flag-it { background-image: url('/img/icon-flag-it-16px.png'); }
.icon.icon-16px.flag-es { background-image: url('/img/icon-flag-es-16px.png'); }
.icon.icon-16px.flag-sv { background-image: url('/img/icon-flag-sv-16px.png'); }
.icon.icon-16px.flag-fi { background-image: url('/img/icon-flag-fi-16px.png'); }

.icon.icon-24px.flag-nl { background-image: url('/img/icon-flag-nl-24px.png'); }
.icon.icon-24px.flag-be { background-image: url('/img/icon-flag-be-24px.png'); }
.icon.icon-24px.flag-de { background-image: url('/img/icon-flag-de-24px.png'); }
.icon.icon-24px.flag-en,
.icon.icon-24px.flag-gb,
.icon.icon-24px.flag-uk { background-image: url('/img/icon-flag-en-24px.png'); }
.icon.icon-24px.flag-fr { background-image: url('/img/icon-flag-fr-24px.png'); }
.icon.icon-24px.flag-gr { background-image: url('/img/icon-flag-gr-24px.png'); }
.icon.icon-24px.flag-it { background-image: url('/img/icon-flag-it-24px.png'); }
.icon.icon-24px.flag-es { background-image: url('/img/icon-flag-es-24px.png'); }
.icon.icon-24px.flag-sv { background-image: url('/img/icon-flag-sv-24px.png'); }
.icon.icon-24px.flag-fi { background-image: url('/img/icon-flag-fi-24px.png'); }

.icon.icon-24px.zodiac-boogschutter { background-image: url('/img/icon-zodiac-boogschutter-24px.png'); }
.icon.icon-24px.zodiac-kreeft { background-image: url('/img/icon-zodiac-kreeft-24px.png'); }
.icon.icon-24px.zodiac-leeuw { background-image: url('/img/icon-zodiac-leeuw-24px.png'); }
.icon.icon-24px.zodiac-maagd { background-image: url('/img/icon-zodiac-maagd-24px.png'); }
.icon.icon-24px.zodiac-ram { background-image: url('/img/icon-zodiac-ram-24px.png'); }
.icon.icon-24px.zodiac-schorpioen { background-image: url('/img/icon-zodiac-schorpioen-24px.png'); }
.icon.icon-24px.zodiac-steenbok { background-image: url('/img/icon-zodiac-steenbok-24px.png'); }
.icon.icon-24px.zodiac-stier { background-image: url('/img/icon-zodiac-stier-24px.png'); }
.icon.icon-24px.zodiac-tweeling { background-image: url('/img/icon-zodiac-tweeling-24px.png'); }
.icon.icon-24px.zodiac-vissen { background-image: url('/img/icon-zodiac-vissen-24px.png'); }
.icon.icon-24px.zodiac-waterman { background-image: url('/img/icon-zodiac-waterman-24px.png'); }
.icon.icon-24px.zodiac-weegschaal { background-image: url('/img/icon-zodiac-weegschaal-24px.png'); }

.icon.icon-16px.status-0 { background-image: url('/img/icon-status-0-16px.png'); }
.icon.icon-16px.status-1 { background-image: url('/img/icon-status-1-16px.png'); }
.icon.icon-24px.status-0 { background-image: url('/img/icon-status-0-24px.png'); }
.icon.icon-24px.status-1 { background-image: url('/img/icon-status-1-24px.png'); }

.icon.icon-16px.user { background-image: url('/img/icon-user-16px.png'); }
.icon.icon-16px.user-group { background-image: url('/img/icon-user-group-16px.png'); }
.icon.icon-16px.user-group.primary { background-image: url('/img/icon-user-group-16px-primary.png'); }
.icon.icon-16px.user-remove { background-image: url('/img/icon-user-remove-16px.png'); }
.icon.icon-16px.user-add { background-image: url('/img/icon-user-add-16px.png'); }
.icon.icon-16px.user-add.primary { background-image: url('/img/icon-user-add-16px-primary.png'); }
.icon.icon-16px.calendar { background-image: url('/img/icon-calendar-16px.png'); }
.icon.icon-16px.calendar.primary { background-image: url('/img/icon-calendar-16px-primary.png'); }
.icon.icon-16px.clock { background-image: url('/img/icon-clock-16px.png'); }
.icon.icon-16px.thumb-up { background-image: url('/img/icon-thumb-up-16px.png'); }
.icon.icon-16px.thumb-down { background-image: url('/img/icon-thumb-down-16px.png'); }
.icon.icon-16px.thumb-up.primary { background-image: url('/img/icon-thumb-up-16px-primary.png'); }
.icon.icon-16px.thumb-down.primary { background-image: url('/img/icon-thumb-down-16px-primary.png'); }
.icon.icon-16px.thumb-up.color { background-image: url('/img/icon-thumb-up-16px-color.png'); }
.icon.icon-16px.thumb-down.color { background-image: url('/img/icon-thumb-down-16px-color.png'); }
.icon.icon-16px.arrow-right { background-image: url('/img/icon-arrow-right-16px.png'); }
.icon.icon-16px.upload { background-image: url('/img/icon-upload-16px.png'); }
.icon.icon-16px.trash { background-image: url('/img/icon-trash-16px.png'); }
.icon.icon-16px.pencil { background-image: url('/img/icon-pencil-16px.png'); }
.icon.icon-16px.save { background-image: url('/img/icon-save-16px.png'); }
.icon.icon-16px.pencil.primary { background-image: url('/img/icon-pencil-16px-primary.png'); }
.icon.icon-16px.upload.primary { background-image: url('/img/icon-upload-16px-primary.png'); }
.icon.icon-16px.save.primary { background-image: url('/img/icon-save-16px-primary.png'); }
.icon.icon-16px.clock.primary { background-image: url('/img/icon-clock-16px-primary.png'); }
.icon.icon-16px.comment { background-image: url('/img/icon-comment-16px.png'); }
.icon.icon-16px.comment.primary { background-image: url('/img/icon-comment-16px-primary.png'); }
.icon.icon-16px.phone { background-image: url('/img/icon-phone-16px.png'); }
.icon.icon-16px.phone.primary { background-image: url('/img/icon-phone-16px-primary.png'); }
.icon.icon-16px.user.primary { background-image: url('/img/icon-user-16px-primary.png'); }
.icon.icon-16px.search { background-image: url('/img/icon-search-16px.png'); }
.icon.icon-16px.search.primary { background-image: url('/img/icon-search-16px-primary.png'); }
.icon.icon-16px.chat.primary { background-image: url('/img/icon-chat-16px-primary.png'); }
.icon.icon-16px.send.primary { background-image: url('/img/icon-send-16px-primary.png'); }
.icon.icon-16px.hd { background-image: url('/img/icon-hd-16px.png'); }
.icon.icon-16px.hd.primary { background-image: url('/img/icon-hd-16px-primary.png'); }
.icon.icon-16px.webcam.primary { background-image: url('/img/icon-webcam-16px-primary.png'); }
.icon.icon-16px.webcam { background-image: url('/img/icon-webcam-16px.png'); }
.icon.icon-16px.list.primary { background-image: url('/img/icon-list-16px-primary.png'); }
.icon.icon-16px.video { background-image: url('/img/icon-video-16px.png'); }
.icon.icon-16px.video.primary { background-image: url('/img/icon-video-16px-primary.png'); }
.icon.icon-16px.caret-down { background-image: url('/img/icon-caret-down-16px.png'); }
.icon.icon-16px.caret-down.primary { background-image: url('/img/icon-caret-down-16px-primary.png'); }
.icon.icon-16px.exit { background-image: url('/img/icon-exit-16px.png'); }
.icon.icon-16px.crown { background-image: url('/img/icon-crown-16px.png'); }
.icon.icon-16px.link { background-image: url('/img/icon-link-16px.png'); }
.icon.icon-16px.eye { background-image: url('/img/icon-eye-16px.png'); }
.icon.icon-16px.eye.primary { background-image: url('/img/icon-eye-16px-primary.png'); }
.icon.icon-16px.dashboard { background-image: url('/img/icon-dashboard-16px.png'); }
.icon.icon-16px.star { background-image: url('/img/icon-star-16px.png'); }
.icon.icon-16px.heart { background-image: url('/img/icon-heart-16px.png'); }
.icon.icon-16px.group { background-image: url('/img/icon-group-16px.png'); }
.icon.icon-16px.camera { background-image: url('/img/icon-camera-16px.png'); }
.icon.icon-16px.tag { background-image: url('/img/icon-tag-16px.png'); }
.icon.icon-16px.tag.primary { background-image: url('/img/icon-tag-16px-primary.png'); }
.icon.icon-16px.nodes { background-image: url('/img/icon-nodes-16px.png'); }
.icon.icon-16px.info { background-image: url('/img/icon-info-16px.png'); }
.icon.icon-16px.play { background-image: url('/img/icon-play-16px.png'); }
.icon.icon-16px.male { background-image: url('/img/icon-male-16px.png'); }
.icon.icon-16px.female { background-image: url('/img/icon-female-16px.png'); }
.icon.icon-16px.transgender { background-image: url('/img/icon-transgender-16px.png'); }
.icon.icon-16px.graph-bars.primary { background-image: url('/img/icon-graph-bars-16px-primary.png'); }
.icon.icon-16px.fire { background-image: url('/img/icon-fire-16px.png'); }
.icon.icon-16px.fire.primary { background-image: url('/img/icon-fire-16px-primary.png'); }
.icon.icon-16px.block { background-image: url('/img/icon-block-16px.png'); }
.icon.icon-16px.block.color { background-image: url('/img/icon-block-16px-color.png'); }
.icon.icon-16px.check.color { background-image: url('/img/icon-check-16px-color.png'); }
.icon.icon-16px.remove.color { background-image: url('/img/icon-remove-16px-color.png'); }
.icon.icon-16px.image { background-image: url('/img/icon-image-16px.png'); }

.icon.icon-24px.search.primary { background-image: url('/img/icon-search-24px-primary.png'); }
.icon.icon-24px.chat.primary { background-image: url('/img/icon-chat-24px-primary.png'); }
.icon.icon-24px.user.primary { background-image: url('/img/icon-user-24px-primary.png'); }
.icon.icon-24px.bars.primary { background-image: url('/img/icon-bars-24px-primary.png'); }
.icon.icon-24px.hd { background-image: url('/img/icon-hd-24px.png'); }
.icon.icon-24px.hd.primary { background-image: url('/img/icon-hd-24px-primary.png'); }
.icon.icon-24px.search { background-image: url('/img/icon-search-24px.png'); }
.icon.icon-24px.search.primary-color { background-image: url('/img/icon-search-24px-primary-color.png'); }
.icon.icon-24px.user { background-image: url('/img/icon-user-24px.png'); }
.icon.icon-24px.user-add { background-image: url('/img/icon-user-add-24px.png'); }
.icon.icon-24px.bars { background-image: url('/img/icon-bars-24px.png'); }
.icon.icon-24px.clock { background-image: url('/img/icon-clock-24px.png'); }
.icon.icon-24px.star { background-image: url('/img/icon-star-24px.png'); }
.icon.icon-24px.heart { background-image: url('/img/icon-heart-24px.png'); }
.icon.icon-24px.upload { background-image: url('/img/icon-upload-24px.png'); }
.icon.icon-24px.thumb-up.primary { background-image: url('/img/icon-thumb-up-24px-primary.png'); }
.icon.icon-24px.thumb-down.primary { background-image: url('/img/icon-thumb-down-24px-primary.png'); }
.icon.icon-24px.comment { background-image: url('/img/icon-comment-24px.png'); }
.icon.icon-24px.info { background-image: url('/img/icon-info-24px.png'); }
.icon.icon-24px.eye { background-image: url('/img/icon-eye-24px.png'); }
.icon.icon-24px.list-add { background-image: url('/img/icon-list-add-24px.png'); }
.icon.icon-24px.tick { background-image: url('/img/icon-tick-24px.png'); }

.icon.icon-32px.star { background-image: url('/img/icon-star-32px.png'); }
.icon.icon-32px.heart { background-image: url('/img/icon-heart-32px.png'); }
.icon.icon-32px.info.primary { background-image: url('/img/icon-info-32px-primary.png'); }
.icon.icon-32px.thumb-up.primary { background-image: url('/img/icon-thumb-up-32px-primary.png'); }
.icon.icon-32px.thumb-down.primary { background-image: url('/img/icon-thumb-down-32px-primary.png'); }
.icon.icon-32px.clock { background-image: url('/img/icon-clock-32px.png'); }
.icon.icon-32px.emoji-big-smile.primary { background-image: url('/img/icon-emoji-big-smile-32px-primary.png'); }
.icon.icon-32px.emoji-cry.primary { background-image: url('/img/icon-emoji-cry-32px-primary.png'); }

/* Carousel */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track { visibility: hidden; }

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Layout */

#top-section {
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 4px solid #FF4DA7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header {
    width: 100%;
    padding: 5px 0 1px;
    background-image: url('/img/opc-fff-90.png');
}

#header .logo-wrapper {
    width: 15%;
    float: left;
}

#header .logo {
    display: none;
}

#header .logo-min {
    display: block;
    height: auto;
}

#header .logo-link {
    width: 90%;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

#header .logo-min {
    max-width: 48px;
}

#header .tagline {
    display: none;
}

#main-search {
    width: 37%;
    font-size: 1.4rem;
    float: left;
}

#main-search form {
    width: 88%;
    float: left;
    height: 38px;
    margin-bottom: 0;
}

#main-search input {
    width: 100%;
    float: left;
    margin-bottom: 0;
}

#main-search .icon-button {
    width: 38px;
    float: right;
    border: 0;
    padding: 0;
    margin: -38px 0 0;
    background: none;
}

#advanced-search {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    background-color: #f3f3f3;
}

#advanced-search form {
    margin-bottom: 0;
}

#advanced-search fieldset {
    font-size: 1.2rem;
}

#advanced-search input {
    margin-bottom: 5px;
}

fieldset.columned .label {
    width: 50%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main-nav-wrapper {
    width: 35%;
    float: right;
    min-width: 148px;
}

#main-nav {
    float: left;
    list-style: none;
    margin: 4px 0 0;
}

#main-nav .sub-menu {
    display: none;
}

#main-nav > li {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    padding: 0 6px 6px;
}

#main-nav > li:hover > a,
#main-nav > li.active > a {
    border-bottom: 2px solid #ccc;
}

#main-nav > li > a {
    color: #444;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

#main-nav > li > a:hover {
    opacity: 0.75;
}

#main-nav img {
    vertical-align: middle;
}

#main-nav-collapsed {
    float: right;
    margin: 0 0 0 5px;
    list-style: none;
    padding-bottom: 5px;
}

#main-nav-collapsed li {
    margin-bottom: 0;
}

#main-nav-collapsed .menu {
    display: none;
    position: absolute;
    right: 0;
    margin: 5px 5px 0 0;
    background-color: #33C3F0;
    list-style: none;
    border: 1px solid #2FABD2;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

#main-nav-collapsed .menu li {
    border-bottom: 1px solid #2FABD2;
}

#main-nav-collapsed .menu li:last-child {
    border-bottom: 0;
}


#main-nav-collapsed .menu a {
    display: block;
    padding: 0 20px 0 10px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#main-nav-collapsed .menu a:hover {
    background-color: #4DD5FF;
}

#user-menu {
    float: right;
}
#user-menu > ul > li {
    display: inline-block;
}

#user-menu ul {
    list-style: none;
    margin: 0;
}

#user-menu .sub-menu {
    display: none;
    position: absolute;
    margin-top: 5px;
    right: 0;
    margin-right: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#user-menu .sub-menu li {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#user-menu .sub-menu li:last-child {
    border: 0;
}

#user-menu .sub-menu a {
    display: block;
    line-height: 36px;
    padding: 0 20px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    background-image: linear-gradient(to bottom, #fff, #f3f3f3);
}

#user-menu .sub-menu a:hover {
    background-image: none;
    background-color: #fff;
}

#main {
    padding-top: 65px;
}

.jwplayer-wrapper-outer {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}

.jwplayer-wrapper-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#video-fish-hook-1 {
    display: none;
}

#video-fish-hook-2 {
    width: 468px;
    height: 60px;
    position: absolute;
    margin-top: -85px;
    margin-left: 50%;
    left: -234px;
    display: none;
    opacity: 0;
    z-index: 3;
}

#video-controls {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom, #fff, #f8f8f8);
    border: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#video-controls .at-share-btn {
    border-radius: 3px;
    overflow: hidden;
}

.rating-bar .button {
    display: block;
    float: left;
}

.rating-bar .button-positive {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rating-bar .button-negative {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rating-bar .rating-bar-bridge {
    padding: 5px;
    box-sizing: border-box;
    width: 55px;
    height: 38px;
    float: left;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    text-align: center;
    color: #999;
    font-size: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.rating-bar .rating-indicator {
    background-color: #e63d2e;
    border-radius: 3px;
    overflow: hidden;
}

.rating-bar .rating-indicator-inner {
    background-color: #53b324;
    height: 5px;
}

#video-card .at-icon-wrapper {
    margin: 0 -1px;
}

#cam-profile #player-wrapper {
    display: none;
}

#cam-profile .list-thumbs {
    margin: 1rem 0 0;
}

#phone-profile .photo {
    margin-bottom: 1rem;
}

#phone-profile dt,
#phone-profile dd {
    width: 50%;
    float: left;
    margin: 0;
    line-height: 1.5;
    padding: 10px 0;
    box-sizing: border-box;
}

#phone-profile dt {
    font-weight: 700;
}

#phone-profile dd {
    padding-left: 2%;
}

#side-fish-hooks {
    display: none;
}

#bottom-fish-hooks .fish-hooks {
    text-align: center;
}

#bottom-fish-hooks .fish-hook {
    display: none;
    visibility: hidden;
    vertical-align: middle;
}

#bottom-fish-hooks .fish-hook:first-child {
    display: inline-block;
    visibility: visible;
}

#footer {
    margin-top: 2.4rem;
}

#footer .sitemap {
    text-align: center;
    margin: 0 auto;
    list-style: none;
}

#footer .sitemap a {
    text-decoration: none;
}

#footer .sitemap li {
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 0 10px;
}

#footer .sitemap li:first-child {
    padding-left: 0;
    border-left: 0;
}

#footer .legal {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    color: #999;
}


#footer .legal p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Elements */

.hide-xs { display: none; }
.hide-s { display: none; }
.hide-m { display: none; }
.hide-l { display: none; }
.hide-xl { display: none; }
.hide-xxl { display: none; }

.hidden { display: none; }

.rounded { border-radius: 3px; overflow: hidden; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-danger { color: #e51717; }

.align-vertical-middle {
    display: inline-block;
    vertical-align: middle;
}

.responsive {
    width: 100%;
    height: auto;
    display: block;
}

.thumbnail {
    display: block;
    height: auto;
}

.crop-image {
    overflow: hidden;
}

.crop-150px {
    height: 150px;
}

.flash-message {
    border-width: 1px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 2rem;
    background-image: url('/img/grad-000-10-1x30.png');
    background-repeat: repeat-x;
    background-position: 0 bottom;
}

.flash-message.error {
    color: #fff;
    background-color: #e52e2e;
    text-shadow: 0 1px 0 #b32424;
}

.flash-message.success {
    color: #fff;
    background-color: #7acc29;
    text-shadow: 0 1px 0 #5c991f;
}

.flash-message.notice {
    color: #fff;
    background-color: #E0C952;
    text-shadow: 0 1px 0 #C3A822;
}

.flash-message .close-window {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    font-size: 24px;
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}

table.four-columns th,
table.four-columns td {
    width: 25%;
}

th .sort-data {
    color: inherit;
    text-decoration: none;
}

.sort-data:after {
    margin-left: 5px;
    content: url('/img/icon-caret-up-12px.png');
}
.sort-data.desc:after {
    content: url('/img/icon-caret-down-12px.png');
}

.label {
    display: block;
    margin-bottom: .5rem;
}

.advanced-filters {
    width: 50%;
    right: 5px;
    position: absolute;
    z-index: 2;
    margin: 35px 10px 0 0;
}

.advanced-filters .filter-block {
    display: none;
    box-sizing: border-box;
    padding-left: 10px;
    height: 30px;
}

.advanced-filters .filter-label {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #ccc; 
    border-radius: 3px;
    text-align: center;
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

.advanced-filters .filter-label:hover,
.advanced-filters .filter.active .filter-label {
    background-color: #f8f8f8;
    background-image: none;
}

.advanced-filters .filter-content {
    display: none;
}

.advanced-filters .filter-block.active .filter-content {
    display: block;
    position: relative;
    z-index: 3;
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.advanced-filters-toggle {
    height: 30px;
    line-height: 30px;
    margin: 7px 10px 0 0;
}

.search-suggest-results {
    display: none;
    position: relative;
    top: 1px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 300px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    padding: 0 2px;
}

.search-suggest-results a {
    display: block;
    margin: 2px 0;
    padding: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fff, #eee);
    border: 1px solid #ddd;
    text-decoration: none;
    overflow: hidden;
}

.search-suggest-results a:hover {
    background: #fff;
    color: #444;
}

.search-suggest-results img {
    width: auto;
    max-height: 36px;
    margin-right: 10px;
    vertical-align: top;
    border-radius: 2px;
    float: left;
}

.search-suggest-results .search-suggest-label {
    font-size: 12px;
    opacity: 0.75;
    display: block;
    height: 18px;
}

.search-suggest-results .search-suggest-text {
    display: block;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-suggest-results .search-suggest-msg {
    padding: 10px;
}

.section-controls {
    margin-top: 6px;
    margin-right: 10px;
}

.section-control {
    margin-left: 5px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.js-dropdown-current {
    display: block;
    padding: 0 10px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #F4258C;
    background-color: #FF4DA7;
    background-image: linear-gradient(to bottom, #FF4DA7, #FF1A8C);
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
}

.js-dropdown-current:after {
    content: '▾';
    margin-left: 5px;
}

.js-dropdown ul {
    display: none;
}

.js-dropdown.open {
    position: relative;
}

.js-dropdown.open ul {
    display: block;
    position: absolute;
    margin-top: 2px;
    right: 0;
    min-width: 160px;
    z-index: 2;
    list-style: none;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
}

.js-dropdown li {
    margin: 0;
}

.js-dropdown li a {
    display: block;
    padding: 0 10px;
    border-top: 1px solid #F4258C;
    background-color: #FF4DA7;
    color: #fff;
    text-decoration: none;
    line-height: 30px;
}

.js-dropdown .js-dropdown-selected a,
.js-dropdown li a:hover {
    background-color: #F4258C;
}

.js-select-button {
    display: block;
    padding: 0 10px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #FF4DA7;
    background-image: linear-gradient(to bottom, #fff, #f3f3f3);
    color: #333;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.js-select-button:hover {
    background-image: linear-gradient(to bottom, #f3f3f3, #fff);
}

.js-select-button.selected {
    border: 1px solid #F4258C;
    background-color: #FF4DA7;
    background-image: linear-gradient(to bottom, #FF4DA7, #FF1A8C);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.js-select-buttons .js-select-button {
    float: left;
}

.js-select-button input {
    position: absolute;
    z-index: -1;
}

.js-select-button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0;
}

.js-select-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tooltip {
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 14px;
    color: #999;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-family: sans-serif;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    top: -1px;
}

a.close {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #f39;
    float: right;
    margin-top: -20px;
    position: relative;
    z-index: 1;
    top: 5px;
    right: -15px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.popup-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/opc-000-50.png');
}

.popup {
    width: 95%;
    background-color: #f3f3f3;
    margin: 10px auto 0;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 2.5%;
    box-sizing: border-box;
}

.section-header {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 5px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}

.list-cards .section-header {
    margin-top: -10px;
}

.list-cards .section-header {
    margin-right: 10px;
}

.list-cards .section-button {
    display: block;
    margin: 0 10px 10px 0;
}

.section-header a {
    color: inherit;
}

.section-header a:hover {
    color: #666;
}

.section-header .goto {
    color: #3bf;
    font-size: 12px;
    letter-spacing: initial;
    vertical-align: middle;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #ccc;
}

.section-header .button {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    font-weight: 300;
    float: right;
    margin-top: 3px;
}

.section-dropdown {
    width: 100px;
    margin: 0 10px 0 0;
    float: right;
    position: relative;
    top: 4px;
}

.section-dropdown select {
    margin: 0;
    height: 30px;
    padding: 2px 5px;
}

.section-filter {
    float: right;
    margin-top: -36px;
}

.section-filter form {
    margin: 0;
}

.section {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.section .section-header {
    margin-top: -10px;
}

.section.basic {
    background-color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.section.highlight {
    border-color: #bccccc;
    background-color: #ebffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.horizontal-fish-hook {
    margin: 10px 0 0;
    text-align: center;
}

.section .horizontal-fish-hook {
    margin: 0;
}

.horizontal-fish-hook .fish-hook {
    display: inline-block;
    overflow: hidden;
}

#video-card .horizontal-fish-hook {
    margin: 0;
    padding: 0;
}

#video-card .section {
    position: relative;
    overflow: hidden;
}

.carousel .button-prev,
.carousel .button-next {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.carousel .button-prev {
    left: -15px;
}

.carousel .button-next {
    right: -5px;
}

.carousel .slick-list {
    width: 100%;
}

.carousel .slick-active {
    outline: 0;
}

.avatar {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.list-thumbs {
    margin: 0;
}

.list-thumbs li {
    float: left;
    width: 25%;
    list-style: none;
    box-sizing: border-box;
    padding: 1px;
    margin: 0;
}

.list-thumbs.columns-1 li {
    float: none;
    width: 100%;
}

.list-thumbs.columns-2 li { width: 50%; }
.list-thumbs.columns-3 li { width: 33.333333333333333%; }

.list-thumbs .faded {
    opacity: 0.5;
}

.list-thumbs a {
    text-decoration: none;
}

.list-thumbs .caption {
    height: 14px;
    font-size: 10px;
    line-height: 14px;
    margin-top: -14px;
    padding: 0 2px;
    color: #fff;
    background: url('/img/opc-000-30.png');
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    z-index: 1;
}

.list-cards {
    margin: 0;
    background-color: #fff;
    padding: 10px 0 0 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.list-cards .list-item {
    list-style: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.list-cards .list-item.faded {
    opacity: 0.5;
}

.list-cards .buttons {
    height: 24px;
    float: right;
    margin-bottom: -24px;
    margin-right: 2px;
    position: relative;
    z-index: 1;
    top: 2px;
}

.list-cards .list-item:hover .overlay,
.list-cards .list-item:hover .timecode {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.list-categories .list-item:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.list-cards .overlay {
    position: absolute;
}

.list-cards .overlay .tab {
    padding: 5px;
    margin: 5px 0 0 5px;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    border-radius: 3px;
    color: #fff;
    background-image: url('/img/opc-000-50.png');
}

.list-cards .overlay .flags {
    font-size: 0.5rem;
    padding-bottom: 0;
}

.list-cards .controls {
    height: 24px;
    float: right;
    margin-bottom: -24px;
    position: relative;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.list-cards .thumbnail-link {
    display: block;
}

.list-cards .caption {
    margin: -21px 20% 0;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative;
    z-index: 1;
}

.list-cards .caption {
    background-color: #fff;
}

.list-cards .caption a {
    color: #333;
    text-decoration: none;
}

.list-cards .timecode,
.list-cards .username {
    font-size: 12px;
    font-weight: 300;
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: repeat;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    margin: -30px 0 0 5px;
    opacity: 0.8;
}

.list-cards .description {
    padding-bottom: 5px;
}

.list-cards .title {
    font-size: 12px;
    margin: 5px 0 0;
    letter-spacing: normal;
}

.list-cards .title a {
    color: #333;
    display: block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-cards .actions .button {
    margin-top: 0.5rem;
}

.list-cards .actions .pull-left,
.list-cards .actions .pull-right {
    width: 100%;
}

.list-cards .footer {
    margin-top: 5px;
    font-size: 1.2rem;
}

.list-cards .datetime,
.list-cards .duration {
    display: block;
}

.list-cards .datetime {
    float: left;
}

.list-cards .duration {
    float: right;
}

.list-cards .card.featured {
    border: 0;
    padding: 0;
}

.list-cards .featured .overlay .tab {
    background-color: transparent;
    margin: 5px 0 0 2px;
}

.list-cards .label {
    height: 24px;
    margin-bottom: -24px;
    position: relative;
    top: 5px;
    right: -5px;
    z-index: 1;
    float: right;
}

.list-cards .featured .username a {
    color: #fff;
    text-decoration: none;
}

.list-events {
    list-style: none;
}

.list-events .avatar {
    float: left;
    width: 40px;
    margin: 0 5px 10px 0;
}

.list-events .title {
    margin-bottom: 5px;
}

.list-events .username {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.list-events .timestamp {
    margin-bottom: 5px;
}

.list-events .event {
    margin-bottom: 10px;
}

.compact-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, #fff, #f8f8f8);
}

.compact-card .controls {
    float: right;
    margin-left: 10px;
}

.compact-card .thumbnail {
    display: block;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
}

.compact-card .content {
    margin-top: 5px;
}

.compact-card .thumbnail .button-group-horizontal {
    position: absolute;
    margin: 1px 0 0 1px;
}

.compact-card .title {
    font-size: 18px;
    margin: 5px 0;
}

.compact-card ul {
    margin: 5px 0 0;
}

.compact-card li {
    font-size: 12px;
    list-style: none;
    margin: 0;
}

.avatar-form {
    max-width: 100%;
    height: 20px;
    margin: -20px 0 0;
    background-color: #f00;
}

.avatar-form label {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-image: url('/img/opc-000-50.png');
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.avatar-form input {
    display: none;
}

.timestamp {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
}

.list-tags {
    margin: 0;
}

.list-tags .list-index h3 {
    margin: 24px 0 0;
}

.list-tags .list-index:first-child h3 {
    margin: 0;
}

.list-tags .list-item {
    list-style: none;
    float: left;
    width: 50%;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

.list-tags a {
    text-decoration: none;
    display: block;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-tags a:hover {
    background-color: #f3f3f3;
}

.list-tags .count {
    display: block;
    border-radius: 3px;
    background: #e5e5e5;
    color: #999;
    float: right;
    line-height: 18px;
    font-size: 10px;
    padding: 0 5px;
    margin-top: 6px;
}

.list-comments {
    margin: 0;
    list-style: none;
}

.list-comments .list-item {
    margin: 5px 0;
    background-image: linear-gradient(to bottom, #fff, #f8f8f8);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    display: block;
}

.list-comments .list-item.highlight {
    background-image: linear-gradient(to bottom, #fffcf5, #f7f1c6);
    border-color: #dad5b1;
}

.list-comments .list-item.disabled {
    opacity: 0.7;
}

.list-comments a {
    text-decoration: none;
}

.list-comments .avatar {
    float: left;
    margin-right: 5px;
    max-width: 50px;
}

.list-comments .username {
    font-weight: 700;
    color: #333;
}

.list-comments .body {
    margin: 0;
}

.list-comments .controls {
    float: right;
}

.list-comments .controls .button {
    margin-left: 5px;
}

.list-comments .comment-response {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

.form-message {
    margin: 10px 0;
}

.form-message .input.textarea {
    min-height: auto;
    padding-right: 43px;
}

.form-message textarea {
    min-height: 38px;
    height: 38px;
    float: left;
}

.form-message button {
    float: right;
}

.conversation {
    padding: 10px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #f1f1f1, #fafafa);
}

.conversation .message-line {
    margin-bottom: 10px;
}

.conversation .message {
    max-width: 75%;
    padding: 8px 12px;
    border-radius: 6px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.conversation .avatar {
    width: 38px;
    height: 38px;
}

.conversation .message-sent .avatar {
    float: right;
    margin-left: 5px;
}

.conversation .message-received .avatar {
    float: left;
    margin-right: 5px;
}

.conversation .message-sent .message {
    float: right;
    background-image: linear-gradient(to bottom, #daf2aa, #b8e55c);
}

.conversation .message-received .message {
    float: left;
    background-image: linear-gradient(to bottom, #f3f3f3, #e5e5e5);
}

.conversation .message-break {
    margin: 0 auto 20px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    height: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 300;
    font-size: 10px;
}

.conversation .timestamp {
    margin-left: 5px;
    color: #000;
    opacity: 0.4;
}

.search-terms li {
    float: left;
    list-style: none;
    width: 25%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2px;
}

.search-terms-16 li {
    width: 25%;
}

.search-terms-12 li {
    width: 33.333333333333%;
}

.search-terms-8 li {
    width: 50%;
}

.search-terms a {
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 1px;
    padding: 0 2px;
    background: #fff;
    overflow: hidden;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff84c2;
    text-shadow: 0 1px 0 #fff;
}

.search-terms a:hover,
.search-terms a.active {
    color: #fff;
    border: 1px solid #F4258C;
    background-image: linear-gradient(to bottom, #FF4DA7, #FF1A8C);
    background-color: #FF4DA7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.checklist {
    list-style: none;
    margin-bottom: 12px;
}

.checklist li {
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: 6px;
}

.checklist li.positive {
    background-image: url('/img/icon-check-16px-color.png');
}

.checklist li.negative {
    background-image: url('/img/icon-remove-16px-color.png');
}

.checklist.inline li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.checklist.large li {
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    background-image: url('/img/icon-check-24px.png');
    margin-bottom: 12px;
}

.icon-list {
    font-weight: 300;
    list-style: none;
}

.icon-list.icon-list-24px {
    font-size: 18px;
    line-height: 48px;
}

.icon-list.icon-list-24px .icon {
    margin-right: 10px;
}

#bottom-tags .list-tags .list-item {
    font-size: 1.2rem;
}

#bottom-tags .list-tags .list-item,
#bottom-tags .list-tags .list-item a {
    color: #999;
}

.list-links {
    margin: 0;
    list-style: none;
}

.list-links li {
    float: left;
    margin: 0;
    box-sizing: border-box;
    padding-right: 20px;
    width: 50%;
}

.list-links li:nth-child(2n) {
    padding-right: 0;
}

.list-links a {
    line-height: 36px;
    color: inherit;
    text-decoration: none;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.list-links a:hover {
    opacity: 0.75;
}

.goto-arrow {
    color: inherit;
}

.goto-arrow.pull-left {
    margin-right: 10px;
}

.goto-arrow.pull-right {
    margin-left: 10px;
}

.comma-list .item:after {
    content: ', ';
}

.comma-list .item:last-child:after {
    content: '';
}

.inline-list {
    margin: 0;
}

.inline-list li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 0;
}

.rating .score.positive {
    color: #5fcc29;
}

.rating .score.negative {
    color: #e51717;
}

.paginator {
    margin-bottom: 2.4rem;
    text-align: center;
}

.paginator .disabled {
    display: none;
}

.paginator span,
.paginator a {
    line-height: 48px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.paginator span {
    margin: 0 1px 1px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.paginator a,
.paginator .current {
    text-decoration: none;
    background-color: #f9c;
}

.paginator a {
    border-radius: 3px;
    width: 50px;
    color: #333;
    background-color: #fff;
}

.paginator a:hover {
    background-color: #f3f3f3;
}

.paginator .current {
    width: 50px;
    color: #fff;
    background-color: #FF4DA7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-color: #e60073;
}

.paginator .ellipsis {
    width: 50px;
    color: #777;
    border: 0;
    background-color: #e5e5e5;
}

.page-sort {
    margin: 0 0 10px;
    box-sizing: border-box;
}

.page-sort select {
    width: 100%;
    margin: 0;
    height: 28px;
    padding: 2px 5px;
}

form .error-message {
    background-color: #E52E2E;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 1rem;
    border-radius: 3px;
    font-size: 1.2rem;
}

form .error-message:before {
    content: '!';
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    color: #E52E2E;
    background: #fff;
    margin-right: 10px;
    text-align: center;
}

.progress-bar {
    display: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-image: url('/img/grad-000-5-invert-1x30.png');
    background-repeat: repeat-x;
    background-color: #fff;
    margin-bottom: 1rem;
}

.progress-bar-inner {
    width: 0;
    height: 36px;
    line-height: 36px;
    background-image: url('/img/grad-000-10-1x30.png');
    background-position: 0 bottom;
    background-repeat: repeat-x;
    background-color: #8ae52e;
    border-radius: 3px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.progress-bar .label {
    position: absolute;
    line-height: 38px;
    padding: 0 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.slideIn {
    box-shadow: 0 -3px 5px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0 -3px 5px rgba(0,0,0,0.26);
}

.dz-default {
    padding: 80px 10px;
    border: 1px dashed #ccc;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    background-color: #f3f3f3;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

.dz-preview {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.dz-success-message,
.dz-error-message {
    display: none;
}

.dz-error .dz-error-message,
.dz-success .dz-success-message,
.dz-processing .dz-progress {
    display: inline;
}

.dz-complete .dz-progress {
    display: none;
}

.dz-filename {
    font-weight: 700;
}

.dz-size {
    font-size: 12px;
    font-weight: 300;
    color: #999;
}

.dz-error-message {
    color: #cc1414;
}

.bg-showcase {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bg-showcase div.section.basic {
    background:none;
    border:none;
    box-shadow:none;
    position: relative;
}
.bg-showcase img {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 260px;
    opacity: 0.6;
}

/* Media Queries */

/* size: s */
@media (min-width: 320px) {
    .hide-xs { display: initial; }
    .hide-s { display: none; }
    .hide-m { display: none; }
    .hide-l { display: none; }
    .hide-xl { display: none; }
    .hide-xxl { display: none; }

    .list-cards .list-item {
        width: 50%;
        float: left;
        padding-right: 10px;
    }

    .horizontal-fish-hook img {
        max-width: auto;
    }
}

/* size: m */
@media (min-width: 550px) {
    .hide-xs { display: initial; }
    .hide-s { display: initial; }
    .hide-m { display: none; }
    .hide-l { display: none; }
    .hide-xl { display: none; }
    .hide-xxl { display: none; }

    .container {
        padding: 0 20px;
    }

    #header .logo-wrapper {
        width: 25%;
    }

    #header .logo {
        display: block;
        height: auto;
        max-width: 115px;
    }

    #header .logo-min {
        display: none;
    }

    #main-nav-wrapper {
        width: 26%;
    }

    #main-nav-collapsed .menu {
        margin-right: 20px;
    }

    #user-menu .sub-menu {
        margin-right: 75px;
    }

    .compact-card .content {
        margin-top: 0;
        padding-left: 95px;
    }

    .compact-card .thumbnail {
        width: 90px;
        float: left;
    }

    .list-tags .list-item {
        width: 33.33333333333333%;
    }

    .list-cards .list-item,
    .advanced-filters .filter-block {
        width: 25%;
    }
    
    .advanced-filters .filter-block {
        display: block;
        float: right;
    }
    
    .advanced-filters {
        position: relative;
        top: 7px;
        margin-top: 0;
        right: auto;
        width: auto;
        float: none;
    }
    
    .advanced-filters-toggle {
        display: none;
    }
    
    .page-sort {
        width: 33.33333333333333%;
    }

    #phone-profile .photo {
        float: left;
        width: 28%;
        margin-right: 2%;
    }

    #phone-profile .info {
        float: right;
        width: 70%;
    }

    #video-fish-hook-1-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #video-fish-hook-1 {
        width: 632px;
        padding: 10px 5px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #444;
        position: relative;
        z-index: 3;
        display: block;
        margin: -150px auto 0;
        top: 50%;
        box-sizing: border-box;
    }

    #video-fish-hook-1 .fish-hook {
        float: left;
        margin: 0 5px;
    }

    #video-fish-hook-1 .button {
        display: block;
        background: #444;
        margin: 0 80px;
        color: #e5e5e5;
        border-color: #666;
    }

    #video-fish-hook-1 .button:hover {
        background: #555;
        border-color: #777;
    }

    .search-terms-16 li {
        width: 12.5%;
    }

    .search-terms-12 li,
    .search-terms-8 li {
        width: 25%;
    }

    .page-sort {
        margin: 4px 10px 0 0;
        float: right;
    }
}

/* size: l */
@media (min-width: 768px) {
    body {
        background-image: url('/img/pattern-concrete.png');
    }

    .hide-xs { display: initial; }
    .hide-s { display: initial; }
    .hide-m { display: initial; }
    .hide-l { display: none; }
    .hide-xl { display: none; }
    .hide-xxl { display: none; }

    #header .tagline {
        font-size: 10px;
        font-weight: 300;
        font-style: italic;
        line-height: 1;
        color: #999;
        letter-spacing: normal;
        margin-top: -10px;
        position: relative;
        left: 46px;
        margin-bottom: 0;
        display: block;
    }

    .page-sort,
    .list-tags .list-item {
        width: 25%;
    }
    
    .list-cards .actions .pull-left,
    .list-cards .actions .pull-right {
        width: auto;
    }

    #phone-profile .photo {
        width: 23%;
    }

    #phone-profile .info {
        width: 75%;
    }

    #bottom-fish-hooks .fish-hook {
        display: inline-block;
        visibility: visible;
        margin: 0 5px;
    }

    #video-card .addthis_toolbox {
        width: 204px;
        margin: -102px;
        position: absolute;
        left: 50%;
        margin-top: -58px;
    }

    .popup {
        width: 80%;
        left: 10%;
    }
    .bg-showcase {
        position: relative;
    }
    .bg-showcase div.section.basic {
        height: 520px;
        background: url(/img/brand-screenshot.jpg?1);
        background-size: cover;
        position: relative;
        border: 1px solid #ccc;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    }
    .bg-showcase img {
        width: auto;
        right: 3%;
        opacity: 1;
    }
}

/* size: xl */
@media (min-width: 1000px) {
    .container {
        width: 95%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .hide-xs { display: initial; }
    .hide-s { display: initial; }
    .hide-m { display: initial; }
    .hide-l { display: initial; }
    .hide-xl { display: none; }
    .hide-xxl { display: none; }

    #header .logo-wrapper {
        width: 20%;
    }

    #header .logo {
        max-width: 150px;
    }

    #header .tagline {
        font-size: 1.1rem;
        margin-top: -14px;
        left: 60px;
    }

    #main-search {
        width: 16%;
        margin-top: 12px;
    }

    #main-nav-wrapper {
        width: 60%;
        margin: 16px 0 0;
    }

    #main-nav-collapsed {
        display: none;
    }

    #main-nav > li:hover .sub-menu {
        display: block;
        position: absolute;
        list-style: none;
        text-align: left;
        margin: 5px 0 0;
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    #main-nav .sub-menu li {
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    #main-nav > li:hover li:first-child:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #ccc transparent;
        margin: -10px 0 0 10px;
    }

    #main-nav > li:hover li:first-child:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 9px 9px;
        border-color: transparent transparent #f3f3f3 transparent;
        margin: -39px 0 0 11px;
    }

    #main-nav > li:hover li:hover:first-child:after {
        border-color: transparent transparent #fff transparent;
    }

    #main-nav .sub-menu li:last-child {
        border-bottom: 0;
    }

    #main-nav .sub-menu a {
        display: block;
        line-height: 3rem;
        padding: 0 10px;
        color: #333;
        text-transform: none;
    }

    #main-nav .sub-menu.inline {
        max-width: 500px;
    }

    #main-nav .sub-menu.inline li {
        width: 125px;
        float: left;
        box-sizing: border-box;
    }

    #main-nav .sub-menu li a:hover {
        background-color: #fff;
    }

    #main-nav > li .sub-menu a {
        text-decoration: none;
    }

    #user-menu {
        margin-top: -5px;
    }

    #user-menu .sub-menu {
        margin-right: 0;
    }

    #main {
        padding-top: 75px;
    }

    .search-terms a {
        line-height: 28px;
    }

    .search-terms-large a {
        line-height: 38px;
        font-weight: 700;
        font-size: 14px;
    }

    .container {
        padding: 0;
    }

    .list-tags .list-item,
    .advanced-filters .filter-block {
        width: 16.66666666666667%;
    }

    #cam-profile #player-wrapper {
        display: block;
    }

    #video-card {
        padding-right: 310px;
    }

    .rating-bar .rating-bar-bridge {
        width: 100px;
    }

    #side-fish-hooks {
        display: block;
        float: right;
        width: 300px;
        padding-left: 10px;
    }

    #side-fish-hooks .fish-hook {
        margin-bottom: 10px;
    }

    #partner-links li {
        width: 20%;
    }

    .list-links li:nth-child(2n) {
        padding-right: 20px;
    }

    .list-links li:nth-child(5n) {
        padding-right: 0;
    }

    .popup {
        width: 70%;
        left: 15%;
    }
}

/* size: xxl */
@media (min-width: 1200px) {
    .hide-xs { display: initial; }
    .hide-s { display: initial; }
    .hide-m { display: initial; }
    .hide-l { display: initial; }
    .hide-xl { display: initial; }
    .hide-xxl { display: none; }

    #main-search {
        width: 25%;
    }

    #main-nav-wrapper {
        width: 54%;
    }

    .list-cards .list-item {
        width: 16.66666666666667%;
    }

    .popup {
        width: 60%;
        left: 20%;
    }

    #phone-profile dt,
    #phone-profile dd {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .search-terms-16 li {
        width: 6.25%;
    }
    .search-terms-12 li {
        width: 8.33333333333333%;
    }
    .search-terms-8 li {
        width: 12.5%;
    }
    .page-sort {
        width: 16.66666666666667%;
    }

    .popup {
        width: 50%;
        left: 25%;
    }

    #main-search {
        width: 30%;
    }

    #main-nav-wrapper {
        width: 45%;
    }
}
