/* service page specific */
/* generall typographic section is now removed*/

.servicelayer .container {
	margin-right:0;
}
.contrast .servicelayer,.contrast .servicelayer .lead {
	color: #fff;
}
#servicelayer-back {
	display:none;
}
body.normalbigrow .servicelayer .lead{
    line-height: 22px;
}
.servicelayer a {
	text-decoration: underline;
	font-family: Arial;
}
.servicelayer a.arrow{
	font-family: SwedSans-Regular,"Swedbank Sans Regular",Arial,sans-serif;
	background: url("/idc/fragments/wcm_fr_newprofile/images/backgrounds/orange-link-arrow.png") no-repeat scroll 0 5px;
    padding-left:10px;
}
.servicelayer h2 {
	border: none;
	margin-bottom:7px;
}
.contrast .servicelayer h1, .contrast .servicelayer h2 {
	color: #FF9900;
}
.servicelayer h2.maps {
    background: none #f6f6f6;
    border: 1px solid #e1e1e1;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    clear: both;
    color: #222;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 4px 7px 4px 10px;
}
.contrast #content .form-table tfoot td .footer-inner, .contrast #content .form-table2 tfoot td .footer-inner {
    background-color: #111;
    background-image: none;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
}
#docpos .servicelayer .form-header {
	background:none #fff;
}

#docpos .servicelayer .form-header {
	background:none #fff;
}

.contrast #docpos .servicelayer .form-header {
	background:none #000;
}
.contrast #docpos .form-header, .contrast #content .form-header {
	border-bottom: 1px solid #666;
}
.contrast .servicelayer h2.maps {
    background-image:none;
    background-color:#222;
    color:#fff;
    border: 1px solid #666;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.servicelayer .split{
	display: inline-block;
	float: left;
	width: 49.9%;
	padding-bottom:0;
}
.servicelayer .separator50 .split{
	display: inline-block;
	float: left;
	width: 49.9%;
}
.servicelayer .separator50 .split > div {
	padding-bottom:24px;
}
.servicelayer .separator50 .split .container{
	padding-bottom:0px;
	margin-bottom:0px;
}
.servicelayer .clear.divider {
	padding-top:28px;
	border-top:1px solid #e1e1e1;
}
.servicelayer .split1noborder{
	padding-right: 29px;
}
.servicelayer .split2noborder{
	padding-left: 29px;
}
.servicelayer .split1border{
	padding-right: 29px;
	border-right: 1px solid #E1E1E1;
}
.servicelayer .split2border{
	margin-left: -1px;
	padding-left: 29px;
	border-left: 1px solid #E1E1E1;
}
.servicelayer .separator30 .container {
	margin-bottom: 30px;
}
.servicelayer .separator50 {
	margin: 0;
	padding: 0;
}
.servicelayer .teaser, .servicelayer .teaserbottomlink,
.servicelayer .tsr, .servicelayer .tsrbottomlink {
	margin-bottom: 1.43em;
}

/** Advanced Intro */
.servicelayer .container.advanced-intro {
	height:150px;
}
.servicelayer .container.advanced-intro.splitarea .advintro-mainimg  {
	line-height: 150px;
}
.servicelayer input#questionid {
    border-color: transparent;
    border-style: none;
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    width: 80%;
    overflow: hidden;
    resize: none;
}
.servicelayer #dflt_text {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    /*padding-left: 10px; */
}
.servicelayer .container.advanced-intro.textbg-graybg .advintro-contentwrap,
.servicelayer .container.advanced-intro .advintro-contentwrap {
	padding-top: 26px; /*35px;*/
	padding-left: 30px;
	padding-right: 30px;
}
.servicelayer .container.advanced-intro.wholearea .advintro-content {
	width: 100%;
}
.servicelayer .container.advanced-intro.wholearea.textbg-graybg .advintro-content {
	background: none;
	padding: 0;
}
.servicelayer .container.advanced-intro .advintro-textcontent h1 {
    padding-bottom: 5px;
}
.servicelayer .container.advanced-intro .advintro-textcontent .advintro-textpart-wrapper {
    padding-bottom: 8px;
}
.servicelayer .container.advanced-intro.wholearea.textbg-graybg .advintro-videoteaser-inner {
	padding-bottom:15px
}
.servicelayer .container.advanced-intro .advintro-videoteaser .advintro-videoteaser-inner {
	padding-bottom: 20px;
}
.servicelayer .container.advanced-intro .advintro-videoteaser .advintro-videoteaser-textcontent h2 {
	font-family: Arial, Helvetica, sans-serif;
}
.servicelayer .container.advanced-intro .advintro-button {
	float:none;
}
.servicelayer .container.advanced-intro.wholearea.textbg-graybg .advintro-buttonwrap.advintro-link .advintro-thebutton-inner {
    padding-top: 0;
}
.servicelayer .container.advanced-intro.wholearea.textbg-graybg .advintro-buttonwrap.advintro-button .advintro-thebutton-inner {
    padding-top: 3px;
}
.servicelayer .container.advanced-intro .advintro-layer {
	width: 74%;
	min-width:280px;
	left:0;
}
.servicelayer .container.advanced-intro.wholearea {
	margin-bottom: 20px;
}
#ie7 .servicelayer .container.advanced-intro .advintro-textcontent-inner .dynamicQuestion{
	margin-left:2px
}
.servicelayer .container.advanced-intro .advintro-textcontent-inner .dynamicSubmit {
 	height: 30px;
	width: 30px;
	background: url('/idc/fragments/wcm_fr_head/nina/external/images/dynamicSubmit.png') no-repeat;
	cursor: pointer;
	border-style: none;
	
	margin-right: 10px;
	margin-top: 8px;
	float:right;
	position: absolute;
	/* position: absolute\9;  IE 8 and below */
}
.servicelayer .container.advanced-intro .advintro-textcontent-inner a.nina-header {
	position: absolute;
	margin-top: 50px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;
	height: 300px;
	width: 976px;
	background: url('/idc/fragments/wcm_fr_head/nina/external/images/Valkommen-under-eken.jpg') no-repeat;
	background-color: #fff;
	display: block;
	color: #000;
	font-size: 50px;
	font-family: "SwedSans-Bold",SwedSans-Medium; /* ?? */
}
.servicelayer .container.advanced-intro .advintro-textcontent-inner a.nina-header:hover {
  	color: #708a09;
}
.servicelayer .questiondefault{
	color: #666666;
	font-family: SwedSans-Regular,"Swedbank Sans Regular";
}
.servicelayer .container.advanced-intro .advintro-buttonwrap .advintro-link a{
	font-size: 16px;
	line-height: 23px;
	font-family: SwedSans-Regular,"Swedbank Sans Regular",Arial,sans-serif !important;
	background: url("/idc/fragments/wcm_fr_newprofile/images/backgrounds/gray-link-arrow.png") no-repeat scroll 0 7px transparent;
    text-decoration:underline;
}
.servicelayer .container.advanced-intro.wholearea .advintro-mainimg {
	visibility: visible;
}
.servicelayer .container.advanced-intro.splitarea.textbg-graybg .advintro-mainimg,
.servicelayer .container.advanced-intro.splitarea .advintro-mainimg {
	margin-top: -26px;
}
.servicelayer .container.advanced-intro.splitarea .advintro-mainimg img {
	max-height: 150px;
}
/* Advanced Intro End */

#ie7 .servicelayer .cat-list-accordion-row-entry ul li,
#ie7 .servicelayer .pressrelease ul li,
#ie7 .servicelayer .textitem ul li,
#ie7 .servicelayer .form-table ul li,
#ie7 .servicelayer .fck ul li {
	list-style-image:url('/idc/fragments/wcm_fr_newprofile/images/buttons/orangebullet14-ie7.png');
}
#ie7 .servicelayer .fck.advantage ul li {
	list-style-image:url('/idc/fragments/wcm_fr_head/images/bullets/checkmark_dark_orange_9x8.png');
}
.servicelayer div.advantage ul {
	padding-bottom: 0;
}
.servicelayer div.advantage ul li {
  font-family: SwedSans-Regular,"Swedbank Sans Regular";
  list-style-image: url("/idc/fragments/wcm_fr_head/images/bullets/checkmark_dark_orange_9x8.png");
  list-style-position: outside;
  font-size:16px;
}
.servicelayer .split .textitem .header h2,
.servicelayer .textitem .content h2 {
	color: #262626;
}


/* categorized list tabs */
.servicelayer .wholefixed-content .cat-list-accordion {
	margin-top: 0;
}
.contrast .servicelayer .wholefixed-content .cat-list-accordion-row {
    border-color: #666;
}
.servicelayer .wholefixed-content .cat-list-accordion-row-heading {
	position:static;
	height:auto;
	background-color:#eeeeee;
	min-height:42px;
}
.servicelayer .wholefixed-content .cat-list-accordion-row-heading h4 {
    padding: 10px 10px 6px;
	color: #222222;
	font-weight: bold;
	font-family: Arial;
}
.cat-list-accordion-row-heading h4 span.cat-list-accordion-row-heading-text {
	width:81%;
}
.contrast .servicelayer .wholefixed-content .cat-list-accordion-row-heading h4 {
	color: #fff;
}
.servicelayer .wholefixed-content .cat-list-accordion-row-entries {
    padding: 10px;
    position: static;
}
.contrast .servicelayer .wholefixed-content .cat-list-accordion-row-entry-text {
	color: #fff;
}
.servicelayer .wholefixed-content .cat-list-accordion-row-entry{
	width: 100%;
}

.servicelayer .wholefixed-content .cat-list-accordion li {
	list-style-position:outside;
	margin:0;
}
.servicelayer ul {
	list-style: none;
}
.servicelayer .vertical-contactlist .teaser .teasercontent,
.servicelayer .vertical-contactlist .tsr .tsrcontent {
	padding-left:40px;
}
.servicelayer .splitcol .teaser .teasercontent h4,
.servicelayer .splitcol .tsr .tsrcontent h4 {
	font-family: SwedSans-Regular,"Swedbank Sans Regular",Arial,sans-serif;
}

.servicelayer ul.tabNavigation {
	list-style: none;
	margin-left: 50px;
	margin-bottom: -1px;
	padding: 0;
	margin-top:23px;
	z-index:2;
}
#docplace .servicelayer ul.tabNavigation {
	margin-left: 30px;
}
.servicelayer ul.tabNavigation li {
	display: inline;
	list-style: none;
}

.servicelayer ul.tabNavigation li a {
	padding: 6px 12px 5px;
	color: #000;
	text-decoration: none;
	border: 1px solid #E1E1E1;
	font-family: SwedSans-Medium, "Swedbank Sans Medium";
	font-size: 15px;
	color: #222222;
	background: #fafafa;
}
.contrast .servicelayer ul.tabNavigation li a {
	color: #fff;
	border: 1px solid #666;
	background: #000;
}

.servicelayer ul.tabNavigation li a.selected,
.servicelayer ul.tabNavigation li a.selected:hover {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.contrast .servicelayer ul.tabNavigation li a.selected,
.contrast .servicelayer ul.tabNavigation li a.selected:hover {
	border-bottom: 1px solid #222;
	background: #222;
}

.servicelayer ul.tabNavigation li a:focus {
	outline: 0;
}
.servicelayer .wholefixed-content.tabs .tab-area {
	border-top:1px solid #e1e1e1;
}
.contrast .servicelayer .wholefixed-content.tabs #first, .contrast .servicelayer .wholefixed-content.tabs #second {
	border-top:1px solid #666;
}

/* contactlist-vertical */
.servicelayer .vertical-contactlist .teaserimg > img,
.servicelayer .vertical-contactlist .tsrimg > img {
    max-width: 30px;
}
.servicelayer .vertical-contactlist .teaser .teaserimg + .teasercontent,
.servicelayer .vertical-contactlist .tsr .tsrimg + .tsrcontent  {
	padding-left: 55px;
}
.servicelayer .vertical-contactlist .teaserheader,
.servicelayer .vertical-contactlist .tsrheader {
	color: #222;
	font-family: Arial,sans-serif;
}
.servicelayer .vertical-contactlist .teasertext,
.servicelayer .vertical-contactlist .tsrtext {
	font-size: 18px;
	color: #222;
	font-family: SwedSans-Medium, "Swedbank Sans Medium",Arial,sans-serif;
}
.servicelayer .vertical-contactlist .teasertext a,
.servicelayer .vertical-contactlist .tsrtext a {
	text-decoration: none;
	color: #222;
	font-family: SwedSans-Medium, "Swedbank Sans Medium",Arial,sans-serif;
}
.contrast .servicelayer .vertical-contactlist .teaserheader,
.contrast .servicelayer .vertical-contactlist .tsrheader,
.contrast .servicelayer .vertical-contactlist .teasertext,
.contrast .servicelayer .vertical-contactlist .tsrtext,
.contrast .servicelayer .vertical-contactlist .teasertext a,
.contrast .servicelayer .vertical-contactlist .tsrtext a {
	color: #fff;
}

.contrast .servicelayer .vertical-contactlist .teaserbottomlink a,
.contrast .servicelayer .vertical-contactlist .tsrbottomlink a {
	background: url(/idc/fragments/wcm_fr_newprofile/images/backgrounds/hc-link-arrow.png) no-repeat scroll 0 7px;
	color: #fabb0f;
}

