/* CSS Start_full */
.start-full .grid {
    box-sizing: border-box;
}
.start-full .container {
    padding-right: 0;
    margin: 0 0 30px;
}
.start-full #content .clear .container.carousel {
    margin-bottom: 40px;
}
/* Prioritized news-list */
#content-body .start-whole .splitcol .newslist.prio .header h2 {
    color: #262626;
}
#content-body .start-whole .typ-b .prio-news .sec-prio .splitcol {
    width: 100%;
    padding: 0 0 12px;
}
#content-body .start-whole .typ-b .prio-news .sec-prio .teaserimg,
#content-body .start-whole .typ-b .prio-news .sec-prio .tsrimg {
    float: left;
    padding: 0 6px 0 0;
}
.start-full .overlay {
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 6000;
}
.start-full .problemmsg {
    background: #FFF6CE;
    border-color: #FC0;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
/* crisis-information */
.start-full .crisis-information {
    border: 1px solid #fc0;
    border-radius: 3px;
    background: #FFFAE5 url(/idc/fragments/wcm_fr_newprofile/images/backgrounds/ico-alert-big.png) no-repeat 6px 8px;
    padding: 4px 10px 4px 60px;
}
.start-full .crisis-information a {
    color: #222;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
#dflt_text {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
}
.start-full input#questionid {
    height: 48px;
    line-height: 48px;
    padding-left: 10px;
    width: 80%;
    overflow: hidden;
    resize: none;
    border-color: transparent;
    border-style: none;
}
.start-full input#questionid:focus {
    outline: 0;
}
.start-full input[disabled]#questionid {
    background-color: #F7F7F7;
    color: #444;
}
/* whole area split */
.split-a1,
.split-a2 {
    width: 50%;
}
.split-b1,
.split-c2 {
    width: 66.66%;
}
.split-b2,
.split-c1,
.split-d1,
.split-d2,
.split-d3 {
    width: 33.33%;
}
.split-a1,
.split-b1,
.split-c1 {
    padding: 0 15px 0 0;
}
.split-d1 {
    padding: 0 20px 0 0;
}
.split-a2,
.split-b2,
.split-c2 {
    padding: 0 0 0 15px;
}
.split-d2 {
    padding: 0 10px;
}
.split-d3 {
    padding: 0 0 0 20px;
}
/* interestrate */
.start-full table.interestrate {
    width: 100%;
    margin: 0;
}
.interestrate tr,
.start-full p.interestrate {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
}
.start-full p.interestrate {
    color: #512b2b;
    margin: 10px 0 0;
}
.start-full p.interestrate a {
    line-height: 18px;
}
.start-full td.interestrate-right {
    text-align: right;
}
.start-full .interestrate-first-description {
    padding-bottom: 8px;
    font-family: SwedbankHeadlineBold, Arial, sans-serif;
    font-size: 16px;
    color: #512b2b;
    line-height: 22px;
    margin-top: 14px;
    max-width: 80%;
}
.start-full .interestrate-first-rate {
    font-family: SwedSans-Regular, Arial, sans-serif;
    font-size: 78px;
    padding-bottom: 9px;
    color: #f35b1c;
    line-height: 86px;
}
/* contactlist-horizontal */
.start-full .teaser-horizontal .teaserimg,
.start-full .tsr-horizontal .tsrimg {
    float: left;
    padding: 0 8px 6px 0;
}
.start-full .teaser-horizontal h2.teasertitle,
.start-full .tsr-horizontal h2.tsrtitle {
    padding-bottom: 30px;
}
.start-full .teaser-horizontal .teaserimg > img,
.start-full .tsr-horizontal .tsrimg > img {
    width: 30px;
}
.start-full .teaser-horizontal .teaserheader,
.start-full .tsr-horizontal .tsrheader {
    font-size: 14px;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.start-full .teaser-horizontal .teasertext,
.start-full .tsr-horizontal .tsrtext {
    font-size: 18px;
    color: #222;
    font-family: SwedSans-Medium, "Swedbank Sans Medium", Arial, sans-serif;
    margin: 0 0 0 40px;
}
.start-full .teaser-horizontal .teaserphone a,
.start-full .tsr-horizontal .tsrphone a {
    text-decoration: none;
    color: #222;
}
.start-full .container.teaserlist.horizontal-contactlist,
.start-full .container.tsrlist.horizontal-contactlist {
    margin-bottom: 28px;
}
/* horizontal teaser */
.start-full .container.teaserlist.horizontal,
.start-full .container.tsrlist.horizontal {
    padding-left: 0;
    padding-right: 0;
}
.container.teaserlist.horizontal .content ul.responsive,
.container.tsrlist.horizontal .content ul.responsive {
    list-style: none outside none;
    width: auto;
    margin: 0;
}
.container.teaserlist.horizontal .content .responsive li,
.container.tsrlist.horizontal .content .responsive li,
.horizontal-contactlist .content .teaser-horizontal,
.horizontal-contactlist .content .tsr-horizontal{
    float: left;
    border: none;
    width: 24.95%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container.teaserlist.horizontal .content .responsive .teaser,
.container.tsrlist.horizontal .content .responsive .tsr {
    float: none;
    width: 222px;
}
.horizontal-contactlist .content .teaser-horizontal .teasercontent,
.horizontal-contactlist .content .tsr-horizontal .tsrcontent {
    margin: 4px;
}
.horizontal-contactlist .content .newline,
.container.teaserlist.horizontal .content .responsive li.newline,
.container.tsrlist.horizontal .content .responsive li.newline {
    float: left;
    border: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
.horizontal-contactlist .content .newline.wrap4,
.container.teaserlist.horizontal .content .responsive li.newline.wrap4,
.container.tsrlist.horizontal .content .responsive li.newline.wrap4 {
    float: none;
    clear: left;
}
.split1.grid {
    width: 49.99%;
    margin: 0;
    padding: 0 15px 0 0;
}
.split2.grid {
    width: 49.99%;
    float: left;
    margin: 0;
    padding: 0 0 0 15px;
}
#content-body .container.teaserlist .teaser .teaserimg + .teasercontent,
#content-body .container.tsrlist .tsr .tsrimg + .tsrcontent {
    padding-left: 100px;
}
.teaser .teaserimg,
.tsr .tsrimg {
    max-width: 80px;
    padding-right: 6px;
    padding-top: 4px;
}
.multilinklist {
    background: #fbf2ea;
    border-color: #E1E1E1;
    border-style: solid;
    border-width: 1px;
}
.multilinklist h2 {
    border: 0;
    color: #f35b1c;
    margin: 0;
    padding: 0 0 14px 15px;
}
.multilinklist h3 {
    margin-bottom: 7px;
    border-bottom: 1px solid;
    font-family: SwedSans-Medium, "Swedbank Sans Medium", Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #512b2b;
    border-color: #ebe7e2;
}
.multilinklist li {
    list-style-position: outside;
}
.multilinksleft,
.multipanelleft {
    float: left;
    width: 66.66%;
    border-right: 1px solid #E1E1E1;
    box-sizing: border-box;
    padding: 20px 0 0;
}
.multilinksright,
.multipanelright {
    float: left;
    margin-left: -1px;
    width: 33.33%;
    box-sizing: border-box;
    border-left: none;
    padding: 20px 0 0;
}
.multipanelsmall .teaserlink,
.multipanelleft .teaserlink,
.multipanelright .teaserlink,
.multipanelsmall .tsrlink,
.multipanelleft .tsrlink,
.multipanelright .tsrlink {
    padding: 0 0 13px 15px;
}
.multilinklist p {
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.multilinklist p.teaserlink,
.multilinklist p.tsrlink {
    padding-left: 15px;
    padding-bottom: 25px;
    position: relative;
}
.multilinksleft .multilinklistelem {
    float: left;
    width: 24.95%;
    margin-bottom: 20px;
    padding: 0;
}
.multilinklistelem ul {
    list-style-type: none;
}
.multilinklistelem ul li a {
    font-size: 14px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #512b2b;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal;
    background: transparent;
    padding-left: 0;
    left: 14px;
    position: relative;
}
/* Multiple linklist 2 layout */
.multilink2 .header {
    overflow: hidden;
    width: 100%;
    height: 240px;
}
.multilink2 .header h1.headtext {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 90px;
}
.multilink2 .header h1.headtext.color3 {
    color: #f35b1c;
}
.multilink2 .lists {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    display: table;
    margin: -52px 0 0;
    padding: 0 0 0 40px;
}
.multilink2 .lists .list1 {
    display: table-cell;
    vertical-align: top;
    background: transparent url(/idc/fragments/wcm_fr_happy/images/slight-darker-apricot.gif) no-repeat 107% 100%;
}
.multilink2 .lists .list2 {
    display: table-cell;
    width: 30.6%;
    padding-right: 40px;
    padding-left: 10px;
    background: #fff8f2 no-repeat 0 0;
}
.multilink2 .lists-container .lists-row {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}
.multilink2 .lists-container .lists-row .lists-group {
    display: table;
    width: 100%;
}
.multilink2 .lists-container .lists-row .lists-group .single-linklist {
    color: #512b2b;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    padding: 0 10px 10px;
}
.multilink2 .lists-container2 .single-linklist {
    color: #512b2b;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px 10px;
}
.multilink2 .lists .single-linklist a {
    color: #512b2b;
    text-decoration: none;
}
.multilink2 .lists .single-linklist a:before {
    color: inherit;
}
.multilink2 .lists .single-linklist h3 {
    color: #512b2b;
    font-size: 20px;
    margin: 9px 0 0;
}
.multilink2.small .lists .single-linklist h3 {
    display: inline-block;
    margin: 5px 0 5px 3px;
}
.multilink2 .lists .single-linklist .linklist {
    padding: 4px 0 0;
}
.multilink2 .lists .single-linklist ul.linklist li a {
    font-weight: normal;
}
.multilink2 .icon {
    position: relative;
    width: 70px;
    height: 52px;
    border-radius: 35px 35px 0 0;
}
.multilink2.small .icon {
    position: relative;
    width: 28px;
    height: 30px;
    border-radius: 0 0 14px 14px;
    display: inline-block;
}
.multilink2.small .lists .list2 .single-linklist h3 {
    margin-left: -28px;
}
.multilink2.small .lists .list2 .single-linklist h3,
.multilink2 .lists .list2 .single-linklist h3 {
    color: #f35b1c;
    padding-bottom: 1px;
}
.multilink2 .line {
    height: 2px;
    background-color: #d4b8a3;
}
.multilink2 .pre_7 .line {
    background-color: #4572c0;
}
.multilink2 .pre_7 .icon {
    background: #4572c0 url(/idc/fragments/wcm_fr_happy/images/icons/betala.png) no-repeat 50% 50%;
}
.multilink2 .pre_8 .line {
    background-color: #31a3ae;
}
.multilink2 .pre_8 .icon {
    background: #31a3ae url(/idc/fragments/wcm_fr_happy/images/icons/spara.png) no-repeat 50% 50%;
}
.multilink2 .pre_6 .line {
    background-color: #fdc129;
}
.multilink2 .pre_6 .icon {
    background: #fdc129 url(/idc/fragments/wcm_fr_happy/images/icons/lana.png) no-repeat 50% 50%;
}
.multilink2 .pre_5 .line {
    background-color: #db4d8d;
}
.multilink2 .pre_5 .icon {
    background: #db4d8d url(/idc/fragments/wcm_fr_happy/images/icons/forsakra.png) no-repeat 50% 50%;
}
.multilink2 .lists-footer {
    clear: left;
    padding: 0 0 0 50px;
}
.multilink2 .lists-footer .footer-right-link {
    background: #fff8f2 none repeat scroll 0% 0%;
    float: right;
    width: 30.9%;
}
.multilink2 .lists-footer .footer-right-link .footer-line-top {
    margin-top: -2px;
    height: 2px;
    background: rgb(234, 227, 221) none repeat scroll 0% 0%;
    width: 77%;
    margin-left: 17px;
}
.multilink2 .lists-footer .left-link {
    float: left;
    padding-top: 13px;
}
.multilink2 .lists-footer .right-link {
    float: left;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.multilink2 .header .headtext-cont {
    width: 100%;
    display: table;
    height: 100%;
    margin: 0;
}
/* stock */
.container.stockquotes {
    max-width: 464px;
    font-size: 12px;
    margin: 0 auto;
}
div.advantage ul {
    padding-bottom: 0;
}
/* split in three - observe box-sizing = border-box*/
#start-full-split {
    margin: 0px;
}
#start-full-split .splitcol .container {
    min-height: 300px;
    margin: 0;
    padding: 0;
}
#start-full-split .split31,
#start-full-split .split33 {
    width: 32.75%;
    margin: 0;
    padding: 0;
}
#start-full-split .split32 {
    width: 34.4%;
    margin: 0;
    padding: 0;
}
#start-full-inner31 {
    border-right: 1px solid #E1E1E1;
    padding: 0 15px 0 0;
}
#start-full-inner32 {
    border-right: 1px solid #E1E1E1;
    padding: 0 15px;
}
#start-full-inner33 {
    padding: 0 0 0 15px;
}
#start-full-split .typ-b .advteaser-contentwrap,
#start-full-split .typ-b .prgtsr-contentwrap {
    padding: 20px 15px;
}
#start-full-split .splitcol .container.linklist {
    padding: 11px 15px 7px;
}
#start-full-split .container.advanced-intro .advintro-textcontent {
    margin-left: 0;
}
#start-full-split .container.advanced-intro.splitarea .advintro-mainimg {
    float: right;
    max-width: 40%;
    visibility: hidden;
    margin: 0 0 .833em 2.667%;
}
#start-full-split .container.linklist {
    padding: 11px 0 7px;
}
#start-full-split .container.advertisementlist {
    padding: 0 0 7px;
}
#start-full-split .teaser .teaserimg.right,
#start-full-split .tsr .tsrimg.right {
    padding: 2px 0 4px 7px;
}
.start-full #nav .main-nav {
    margin: 0 15px;
}
/* Advanced Intro */
.start-full .container.advanced-intro {
    height: 300px;
}
.start-full .container.advanced-intro.half {
    height: 150px;
}
.start-full .container.advanced-intro .advintro-contentwrap {
    padding-top: 41px;
    padding-left: 35px;
    padding-right: 15px;
}
.start-full .container.advanced-intro .advintro-contentwrap.half {
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 15px;
}
.start-full .container.advanced-intro.wholearea.textbg-graybg .advintro-contentwrap {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 15px;
}
.start-full .container.advanced-intro.wholearea.textbg-graybg .advintro-contentwrap.half {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 15px;
}
.start-full .container.advanced-intro.wholearea .advintro-content {
    max-width: 440px;
}
.start-full .container.advanced-intro.splitarea.textbg-graybg .advintro-mainimg {
    margin-top: -41px;
}
.start-full .container.advanced-intro.splitarea .advintro-mainimg {
    line-height: 300px;
    margin-top: -41px;
}
.start-full .container.advanced-intro.splitarea .advintro-mainimg.half {
    line-height: 150px;
    margin-top: -15px;
}
.start-full .container.advanced-intro.splitarea .advintro-mainimg img {
    max-height: 300px;
}
.start-full .container.advanced-intro.splitarea .advintro-mainimg.half img {
    max-height: 150px;
}
.start-full .container.advanced-intro .advintro-textcontent h1 {
    padding-bottom: 5px;
}
.start-full .container.advanced-intro .advintro-textcontent .advintro-textpart-wrapper {
    padding-bottom: 8px;
}
.start-full .container.advanced-intro .advintro-content .display5 a,
.start-full .container.advanced-intro .color3 .advintro-content .display5 a {
    background: none;
    background-image: none;
    left: 0;
    position: relative;
    margin-right: .7em;
    text-decoration: none;
    padding: 0;
}
.start-full .container.advanced-intro .color3 .advintro-content .display5 a:before {
    color: #fff;
}
.start-full .container.advanced-intro .advintro-videoteaser .advintro-videoteaser-textcontent h2,
.start-full .container.advanced-intro .advintro-videoteaser .advintro-videoteaser-textcontent p {
    font-size: 14px;
}

.start-full #content-body .container.advertisementlist,
.start-full .tsr .tsrcontent p.tsrlink {
    margin-top: 0;
}
#content-body .start-whole .newslist.prio .header,
.container.teaserlist.horizontal .content .responsive li.teaser,
.container.tsrlist.horizontal .content .responsive li.tsr {
    margin-bottom: 12px;
}
#content-body .start-whole .typ-b .prio-news .sec-prio .teasercontent,
#content-body .start-whole .typ-b .prio-news .sec-prio .tsrcontent,
.container.linklist a {
    display: block;
}
.container.crisis-information,
.container.crisis-information.last {
    margin-bottom: 30px;
}
.tsrlist.horizontal .tsrimg + .tsr-video-button + .tsrcontent {
    padding: 10px 0 0;
}
.start-full .container.teaserlist.horizontal .teasercontent p,
.start-full .container.tsrlist.horizontal .tsrcontent p,
.start-full #footer,
.start-full #legal {
    font-size: 12px;
    line-height: 18px;
}
.start-full .container.multilinklist div.header .icon-place,
.start-full .container.teaserlist.horizontal .content p.teaserlink a,
.start-full .container.tsrlist.horizontal .content p.tsrlink a {
    display: inline-block;
    line-height: 22px;
}
.multilink2.small .lists,
.multilink2 .linklist li + li {
    margin: 0;
}
.multilink2 .lists-container,
.multilink2 .lists-container2 {
    position: relative;
    display: table;
    width: 100%;
    float: left;
}
.multilink2 .linklist li + li a,
.start-full .container.teaserlist.horizontal .content .responsive .teaserimg,
.start-full .container.tsrlist.horizontal .content .responsive .tsrimg,
#start-full-split .container.advanced-intro .advintro-contentwrap,
#start-focus-content .text-ad .teaser .teasercontent,
#start-focus-content .text-re .tsr .tsrcontent {
    padding: 0;
}
/* top wuz twenny*/
.container.text-ad .teaser,
.container.text-re .tsr {
   /* padding: 0px 35px; Problem with text advertisements in whole area - should be removed? */
}
#start-full-split .container.linklist .emphasized,
#start-full-split .container.linklist .interestrate {
    margin-top: 5px;
}
.start-full .container.advanced-intro .advintro-videoembed-heading h2,
.start-full .container.advanced-intro .advintro-listlayer .advintro-listlayer-row .advintro-listlayer-header h2 {
    font-size: 16px;
    line-height: 22px;
}
.start-full #content-body .sec.upper-row .container,
.start-full #content-body .c-group.header .container {
    margin-bottom: 15px;
    padding-bottom: 0;
}
.start-full #content-body .splitcol-wrapper.c-group.upper-row,
.start-full #content-body .container.standalone-header {
    margin-bottom: 15px;
}
.start-full #content-body .splitcol-wrapper.c-group .container {
    height: 100%;
    margin-bottom: 0;
}
.start-full .split-d1.container-group {
    padding: 0 10px 0 0;
}
.start-full .split-d2.container-group {
    padding: 0 5px;
}
.start-full .split-b1.container-group {
    padding: 0 5px 0 0;
}
.start-full .typ-b.container-group .container.text-re .display2,
.start-full .typ-b.container-group .container.text-re .display3 {
    font-size: 30px;
    line-height: 34px;
}
.start-full .container-group .container.text-re .tsr {
    padding: 50px;
}
.start-full .container.tsrlist.horizontal.container-group .tsr.empty {
    visibility: hidden;
}
.start-full .container.tsrlist.horizontal.container-group .tsr {
    border: none;
    margin-bottom: 15px;
    width: 32.3%;
    min-height: 330px;
    position: relative;
    padding: 0;
}
.start-full .container.tsrlist.horizontal.container-group .tsrlist2-row .tsr {
    width: 49%;
}
.start-full .container.tsrlist.horizontal.container-group .tsrlist2-row {
    display: none;
    overflow: hidden;
}
.start-full .container.tsrlist.horizontal.container-group .tsrlist2-row .tsr.even {
    margin-right: 0;
    margin-left: 7.5px;
}
.start-full .container.tsrlist.horizontal.container-group .tsrlist2-row .tsr.odd {
    margin-right: 7.5px;
    margin-left: 0;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsrcontent {
    margin-top: 0;
    padding: 20px 15px 0;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsrimg-cgroup {
    width: 100%;
    height: 210px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsrimg-cgroup img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* height: auto; */
    /* width: auto; */
}
.start-full .container.tsrlist.horizontal.container-group .tsr.noimage .tsrcontent p.tsrtext {
    font-family: SwedbankHeadlineBold, Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #512b2b;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsrlink {
    padding-bottom: 20px;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsr-table {
    display: table;
    height: 100%;
    width:100%;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsr-row {
    display: table-row;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsr-upper {
    vertical-align:top;
    display: table-cell;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsr-lower {
    display: table-cell;
    vertical-align:bottom;
}
.start-full .container-group .container.text-re .tsr .tsrlink {
    margin-top: 14px;
}
.start-full .container.tsrlist.horizontal.container-group .tsr .tsrlink.invisible {
    visibility: hidden;
    position: inherit;
}
.container.tsrlist.horizontal.container-group .tsr .tsrlink a {
    font-family: SwedSans-Medium, Arial, sans-serif;
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;
    color: #257886;
}
.container.tsrlist.horizontal.container-group .tsr .tsrcontent h3 {
    font-family: SwedbankHeadlineBlack, Arial, sans-serif;
    color: #f35b1c;
    font-size: 22px;
    line-height: 26px;
}
.container.tsrlist.horizontal.container-group .tsr .tsrcontent p.tsrtext {
    font-family: SwedSans-Regular, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.container.tsrlist.container-group .tsr.tsrpos-0,
.container.tsrlist.container-group .tsr.tsrpos-3 {
    margin-right: 10px;
}
.container.tsrlist.container-group .tsr.tsrpos-1,
.container.tsrlist.container-group .tsr.tsrpos-4 {
    margin-right: 5px;
    margin-left: 5px;
}
.container.tsrlist.container-group .tsr.tsrpos-2,
.container.tsrlist.container-group .tsr.tsrpos-5 {
    margin-left: 10px;
}
.container.tsrlist.container-group.style-1 .tsr.tsrpos-1 {
    background-color: #fbedf4;
}
.container.tsrlist.container-group.style-1 .tsr.tsrpos-3,
.container.tsrlist.container-group.style-1 .tsr.tsrpos-5,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-0,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-2,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-4 {
    background-color: #ebf8f2;
}
.container-group .prgtsr-textcontent-inner,
.container-group .bleedingright .prgtsr-textcontent-inner,
.container-group .centered .prgtsr-textcontent-inner {
    padding: 30px 0px 0px;  
}
.splitcol.container-group .prgtsr-textcontent-inner,
.splitcol.container-group .centered .prgtsr-textcontent-inner {
    padding: 30px 35px 0px;  
}
.splitcol.container-group .bleedingright .prgtsr-textcontent-inner {
    padding: 30px 0px 0px 35px;
}
.splitcol.container-group .bleedingleft .prgtsr-textcontent-inner {
    padding: 30px 35px 0px 0px;
}
.container-group .bleedingleft .prgtsr-textcontent-inner {
    padding: 30px 15px 0px 0px;
}
.container-group .bleedingleft .prgtsr-contentwrap {
    padding: 20px 35px;
}
.splitcol.container-group .bleedingleft .prgtsr-contentwrap {
    padding-left: 0px;
}
.container-group .fullbleedright .prgtsr-textcontent-inner,
.container-group .fullbleedleft .prgtsr-textcontent-inner {
    padding: 0;
}
.container-group .progressive-tsr.fullbleedright .prgtsr-text,
.splitcol.container-group .progressive-tsr.fullbleedright .prgtsr-text {
    padding: 50px 0 0 50px;
}
.container-group .progressive-tsr.fullbleedleft .prgtsr-text {
    padding: 50px 50px 0 15px;
}
.crisis-information {
    border: none;
    border-radius: 0;
    background: #fbf2ea url(/idc/fragments/wcm_fr_happy/images/icons/Warning_Yellow.png) no-repeat 0 0;
    padding: 4px 10px 4px 76px;
}
.interestrate-icon {
    position: absolute;
    display: block;
    margin-top: -1px;
    right: 15px;
    background-color: #fdc329;
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
}
.interestrate-icon.container-group {
    background-color: inherit;
    width: auto;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.interestrate-icon img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
}
.interestrate-icon.container-group img {
    width: auto;
    height: auto;
    padding-top: 0;
}
.interestrate-header.container-group h3 {
    font-family: SwedbankHeadlineBlack, Arial, sans-serif;
    color: #f35b1c;
    font-size: 22px;
    line-height: 26px;
    margin-top: 14px;
    max-width: 80%;
}
.interestrate tr {
    background: none #fff;
    color: #512b2b;
}
.interestrate.container-group tr {
    background: none;
}
.interestrate td {
    border-bottom: 1px solid #ebe7e2;
    padding-right: 10px;
    padding-left: 10px;
}
.interestrate.container-group td {
    font-family: SwedSans-Regular, Arial, sans-serif;
    font-size: 16px;
    border-bottom: none;
    padding: 0;
}
.interestrate.container-group td.interestrate-last-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.interestrate.container-group td.interestrate-description {
    border-bottom: 1px solid #ebe7e2;
}
.interestrate.container-group td.interestrate-rate {
    color: #ee7023;
}
.container-group .teaserlink.interestrate a {
    font-family: SwedSans-Medium, Arial, sans-serif;
    text-decoration: underline;
    font-size: 16px;
    line-height: 24px;
    color: #257886;
    left: 0;
}
.interestrate tr:first-child {
    background: none transparent;
}
.interestrate tr:first-child > td {
    border-bottom: 2px solid #5b8ad6;
}
.interestrate tr.last td.interestrate-right {
    color: blue;
}
.interestrate tr.last td {
    color: red;
}
.interestrate-first-description.container-group {
    font-family: SwedSans-Regular, Arial, sans-serif;
    padding-bottom: 0;
    border-bottom: 1px solid #ebe7e2;
    max-width: 60%;
}
.container div.header.icon h1,
.container div.header.icon h3 {
    background: transparent none;
    padding: 0 0 2px;
}
.container.multilinklist div.header.icon .icon-place {
    height: 28px;
    width: 42px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-right: 5px;
    vertical-align: -7px;
    background:#ff6d16 url("/idc/fragments/wcm_fr_happy/images/icons/Ikon_foretag.png") no-repeat scroll 50% 50%;
}
.container.multilinklist div.header.icon h3 {
    border-bottom: 2px solid #ff6d16;
}
.container.multilinklist div.header.icon.insurance h3 {
    border-bottom: #db4d8d solid 2px;
}
.container.multilinklist div.header.icon.loans h3 {
    border-bottom: #fdc129 solid 2px;
}
.container.multilinklist div.header.icon.pay-transfer h3 {
    border-bottom: #4572c0 solid 2px;
}
.container.multilinklist div.header.icon.savings h3 {
    border-bottom: #31a3ae solid 2px;
}
.multipanelleft .teaserlink,
.multipanelright .teaserlink {
    position: relative;
}
.multipanelleft,
.multipanelright {
    padding-top: 0;
}
.multilinksright .container.multilinklistelem,
.multilinksleft .container.multilinklistelem,
.start-full #content-body .container.multilinklistelem,
.start-full #content-body .container.multilinklistelem {
    margin-bottom: 12px;
    padding: 0;
}
.multilinklistelem ul li a:before {
    font-size: 12px;
    font-family: SwedbankHeadlineBold, Arial, sans-serif;
    color: inherit;
    content: "\25BA";
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 7px 0 -13px;
}
#content-body .splitcol .container.stockquotes {
    margin: 0;
    padding: 0;
}
#start-full-split .splitcol.typ-b .container.linklist,
.container.linklist.startpage {
    padding: 1px 15px 20px;
}
.container.linklist.startpage {
    background: none #fbf2ea;
    position: relative;
}
#start-full-split .container.linklist .emphasized {
    margin-top: 19px;
}
.start-full #content-body .splitcol-wrapper.c-group.upper-row .container,
.container.tsrlist.horizontal.container-group .lastrow .tsr,
.prgtsr-mainimg-splitarea img {
    margin-bottom: 0;
}
.start-full #content-body .splitcol-wrapper.c-group .container .content,
.start-full #content-body .splitcol-wrapper.c-group .container .content > div {
    height: 100%;
}
.split-d3.container-group,
.split-b2.container-group {
    padding: 0 0 0 10px;
}
.container-group .container.text-re .display3,
.container.tsrlist.horizontal.container-group .tsr.noimage .tsrcontent h3 {
    font-size: 40px;
    line-height: 44px;
}
.container.tsrlist.horizontal.container-group .tsr .tsrlink a:before,
.container-group .teaserlink.interestrate a:before {
    content: none;
    margin: 0;
}
#start-full-inner31,
#start-full-inner32,
.multilinksleft,
.multipanelleft {
    border-right: none;
}
.interestrate.container-group tr:first-child > td,
.container table.interestrate.container-group {
    border-bottom: none;
}
.start-full .crisis-information h3,
.crisis-information h3 {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    line-height: 18px;
    font-family: Arial, sans-serif;
    margin: 2px 0 0;
    padding: 0;
}
.start-full .crisis-information p,
.crisis-information p {
    font-size: 14px;
    font-weight: normal;
    color: #222;
    line-height: 18px;
    margin: 0;
}
.multilinklistelem ul li a:hover,
p.interestrate a:hover {
    text-decoration: underline;
}
.multilink2,
.container.tsrlist.container-group.style-1 .tsr.tsrpos-0,
.container.tsrlist.container-group.style-1 .tsr.tsrpos-2,
.container.tsrlist.container-group.style-1 .tsr.tsrpos-4,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-1,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-3,
.container.tsrlist.container-group.style-2 .tsr.tsrpos-5 {
    background-color: #fbf2ea;
}
.multilink2 .header h1.headtext.size1,
.container-group .container.text-re .display2 {
    font-size: 66px;
    line-height: 70px;
}
.multilink2 .header h1.headtext.color2,
.container-group .container.text-re .display2 .highlighted,
.teaser-horizontal .teaserheader,
.tsr-horizontal .tsrheader,
.teaser-horizontal .teasertext,
.tsr-horizontal .tsrtext,
.teaser-horizontal .teasertext p.teaserphone a,
.tsr-horizontal .tsrtext p.teaserphone a {
    color: #512b2b;
}
.multilink2.small .pre_7 .icon,
.container.multilinklist div.header.icon.pay-transfer .icon-place {
    background: #4572c0 url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_betala.png) no-repeat 50% 50%;
}
.multilink2.small .pre_8 .icon,
.container.multilinklist div.header.icon.savings .icon-place {
    background: #31a3ae url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_spara.png) no-repeat 50% 50%;
}
.multilink2.small .pre_6 .icon,
.container.multilinklist div.header.icon.loans .icon-place {
    background: #fdc129 url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_lana.png) no-repeat 50% 50%;
}
.multilink2.small .pre_5 .icon,
.container.multilinklist div.header.icon.insurance .icon-place {
    background: #db4d8d url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_forsakra.png) no-repeat 50% 50%;
}
.splitcol .container.text-ad .teaser,
.splitcol .container.text-re .tsr,
.typ-b.container-group .container.text-re .tsr {
    padding: 15px;
}
.multilinksleft .multilinklistelem > div,
.multilinksright .multilinklistelem .content,
.container.tsrlist.horizontal.container-group .tsr.noimage .tsrcontent {
    padding: 0 15px;
}
/*wuz fiddy */
.start-full #content-body .container,
.separator,
.start-full #content-body .splitcol-wrapper.c-group.lower-row {
    margin-bottom: 30px;
}
.multipanelsmall,
.multilink2.small .header,
.multilink2 .lists-row.lists-rwd-link,
.container.multilinklist .multilinksright div.header.icon .icon-place {
    display: none;
}
.start-full #content .whole-content .grid.typ-b .container.text-ad .teaser,
.start-full #content .whole-content .grid.typ-b .container.text-re .tsr,
.start-full #content .carousel-panel-inner.filled-image .carousel-text-content > div {
    padding: 15px 15px 0px;
}

@media screen and (max-width:768px) {
    .multilink2 .header h1.headtext {
        padding: 0 50px;
    }
    .multilink2 .lists-container {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .multilink2 .lists-container2 {
        width: 100%;
        float: none;
    }
    .multilink2 .lists-container .lists-row {
        display: table-row;
    }
    .multilink2 .lists .lists-container .lists-row .list-group {
        width: 100%;
        display: table;
    }
    .multilink2 .lists {
        display: block;
        margin: 0;
    }
    .multilink2.small .lists {
        padding-top: 10px;
    }
    .multilink2 .lists .single-linklist h3 {
        display: inline-block;
        vertical-align: 7px;
        margin: 10px 0 5px 3px;
    }
    .multilink2.small .icon,
    .multilink2 .icon {
        position: relative;
        width: 42px;
        height: 28px;
        border-radius: 0 14px 14px 0;
        display: inline-block;
    }
    .multilink2 .lists .list2 .single-linklist h3,
    .multilink2.small .lists .list2 .single-linklist h3 {
        margin-left: -42px;
    }
    .multilink2 .pre_7 .icon {
        background: #4572c0 url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_betala.png) no-repeat 50% 50%;
    }
    .multilink2 .pre_8 .icon {
        background: #31a3ae url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_spara.png) no-repeat 50% 50%;
    }
    .multilink2 .pre_6 .icon {
        background: #fdc129 url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_lana.png) no-repeat 50% 50%;
    }
    .multilink2 .pre_5 .icon {
        background: #db4d8d url(/idc/fragments/wcm_fr_happy/images/icons/Ikon_forsakra.png) no-repeat 50% 50%;
    }
    .multilink2 .lists-footer {
        display: none;
    }
    .multilink2 .lists-row.lists-rwd-link {
        display: block;
        padding-left: 10px;
    }
    .multilink2 .list2 .lists-row.lists-rwd-link {
        padding-bottom: 15px;
    }
    .multilink2 .lists .list1 {
        display: block;
        background-image: none;
    }
    .multilink2 .lists .list2 {
        display: block;
        width: auto;
        background-image: none;
        margin-left: -39px;
        padding-left: 39px;
        padding-right: 0px;
    }
    .multilink2 .header,
    .multilink2 .header .headtext-cont {
        height: 300px;
    }
}
@media screen and (max-width:550px) {
    .multilink2 .header h1.headtext {
        font-size: 30px;
        line-height: 34px;
        padding: 0 30px;
    }
    .multilink2 .header h1.headtext.size1 {
        font-size: 40px;
        line-height: 44px;
    }
    .multilink2 .lists-container,
    .multilink2 .lists-container .lists-row,
    .multilink2 .lists .lists-container .lists-row .lists-group,
    .multilink2 .lists .lists-container .lists-row .lists-group .single-linklist {
        display: block;
        width: auto;
    }
    .multilink2 .header,
    .multilink2 .header .headtext-cont {
        height: 200px;
    }
}