    a {
        text-decoration: none;
    }
    .sale {
        font-family: Helvetica, verdana, sans-serif;
        color: #4F4F4F;
    }
    .sale .heading {
        font-size: 36px;
        font-weight: lighter;
    }
    .sale ul {
        margin: 15px 0;
        overflow: hidden;
    }
    .sale li {
        border-right: solid 1px #BBB;
        float: left;
        height: 100px;
        line-height: 65px;
        margin: 0 5px 0 0;
        width: 160px;
    }
    .sale ul .large {
        color: #4F4F4F;
        display: block;
        font-family: Verdana;
        font-size: 77px;
        font-weight: bold;
        letter-spacing: -5px;
    }
    .sale ul .percent-off {
        background: url('http://file12.bizrate-images.com/s2static/us/br/c5b41f07/br3/images/homepage/percent-off.gif') no-repeat;
        display: block;
        height: 70px;
        margin: 10px 10px 0 5px;
        width: 31px;
    }
    .sale ul .large,
    .sale ul .percent-off {
        float: left;
    }
    .sale .last {
        border-right: none;
    }
    .sale label a {
        background: url("http://file12.bizrate-images.com/s2static/us/br/c5b41f07/br3/images/homepage/double-arrows.jpg") center right no-repeat;
        color: #0066CC;
        display: block;
        float: left;
        font-size: 14px;
        line-height: 22px;
        margin: 0 5px 0 5px;
        padding-right: 14px;
    }
    .popular {
        border-top: 1px solid #CCC;
        margin: 40px 25px 0 0;
    }
    .popular p {
        background-color: #FFF;
        color: #3E3E3E;
        font-size: 16px;
        font-weight: normal;
        margin: 0 auto -10px auto;
        position: relative;
        text-align: center;
        top: -10px;
        width: 205px;
    }
    .popular ul {
        width: 100%;
    }
    .popular li {
        float: left;
        margin: 20px 0 0 10px;
    }
    .popular li a {
        color: #3E3E3E;
        display: block;
        font-size: 12px;
        text-decoration: none;
    }
    .popular img {
        height: 142px;
        width: 152px;
    }
