	.coupon-corner {
		color: #3E3E3E;
		font-size: 14px;
		font-weight: normal;
		margin: 10px 0 0 0;
	}
	.coupon-corner .heading {
		border-bottom: 1px solid #CCC;
		line-height: 26px;
		margin: 0 0 20px 0;
	}
	.coupon-corner ol {
		margin: 0 0 20px 25px;
	}
	.coupon-corner ol li {
		list-style-type: decimal;
		margin: 0 0 10px 0;
	}
	.coupon-corner .item {
		font-weight: bold;
		text-transform: uppercase;
	}
	.coupon-info p {
		font-size: 12px;
	}
	.coupon-info .title {
		font-size: 13px;
		line-height: 16px;
		margin: 0 0 5px 0;
	}
	.coupon-info .title span {
		text-decoration: underline;
		text-transform: uppercase;
	}
	.coupon-info .expiration,
	.coupon-info .promo-code {
		font-style: italic;
	}
	.coupon-info .expiration span {
		font-weight: bold;
	}
	.coupon-info .promo-code span {
		color: #1da502;
	}
	.coupon-corner a {
		color: #0066cc;
		font-size: 10px;
		font-weight: bold;
		margin: 0 0 0 5px;
		text-decoration: none;
		text-transform: uppercase;
	}
.promotions {
	margin: 0 0 20px 0;
}
.promotions .heading,
#invite-footer .heading {
	color: #003d7d;
	font-size: 16px;
	margin: 0 0 10px 0;
	text-transform: capitalize;
	text-align: left;
}
.promotions ul {
	overflow: auto;
	margin: 10px 0 0 0;
}
.promotions .section {
	border-right: 1px solid #E8E8E8;
	color: #666;
	display: block;
	height: 135px;
	float: left;
	margin: 20px 0 0 0;
	text-align: left;
}
.promotions .email-signup {
	margin-left: 10px;
}
.promotions ol {
	float: left;
	font-size: 11px;
	line-height: 18px;
	margin: 0 25px 0 0px;
	text-align: left;
}
.promotions ol li {
	list-style-type: none;
}
.promotions ol li a {
	color: #666;
}
.promotions form input,
.email-signup a {
	color: #666;
}
.email-signup .rules {
	font-size: 10px;
	font-style: italic;
}
.email-signup .rules a {
	text-decoration: underline;
}
.email-signup form input {
	margin: 15px 5px 5px 0;
}
.email-signup .text {
	height: 20px;
	vertical-align: top;
	width: 210px;
}
.promotions .email-signup {
	width: 310px;
	margin-left: 30px;
}
.promotions .mobile-promo {
	border-right: none;
	overflow: auto;
}
.mobile-promo img {
	float: left;
	margin: 0 10px 0 20px;
}
.mobile-wrap {
	display: block;
	float: left;
	width: 120px;
}
.promo {
	font-size: 10px;
	font-weight: bold;
	margin: 5px 0 5px 0;
	text-transform: uppercase;
}
.mobile-wrap a {
	color: #006bc3;
	display: block;
	line-height: 18px;
}

