@font-face {
	font-family: 'pf_dindisplay_proregular';
	src: url('../fonts/pfdindisplaypro-reg-webfont.eot');
	src: url('../fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdindisplaypro-reg-webfont.woff') format('woff'),
		 url('../fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
		 url('../fonts/pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_dindisplay_probold';
	src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
	src: url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
		 url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
		 url('../fonts/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_dindisplay_promedium';
	src: url('../fonts/pfdindisplaypro-med-webfont.eot');
	src: url('../fonts/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdindisplaypro-med-webfont.woff') format('woff'),
		 url('../fonts/pfdindisplaypro-med-webfont.ttf') format('truetype'),
		 url('../fonts/pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_dindisplay_prolight';
	src: url('../fonts/pfdindisplaypro-light-webfont.eot');
	src: url('../fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfdindisplaypro-light-webfont.woff') format('woff'),
		 url('../fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'),
		 url('../fonts/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'daxlinepro-regularregular';
	src: url('../fonts/daxlinepro-regular-webfont.eot');
	src: url('../fonts/daxlinepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/daxlinepro-regular-webfont.woff') format('woff'),
		 url('../fonts/daxlinepro-regular-webfont.ttf') format('truetype'),
		 url('../fonts/daxlinepro-regular-webfont.svg#daxlinepro-regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{height:100%;}
body {
	margin:0;
	color:#000;
	font:14px/17px 'pf_dindisplay_proregular',arial,sans-serif;
	background:#fff;
	min-width:945px;
	height:100%;
}
img {
	border-style:none;
	vertical-align:top;
}
a {
	color:#000;
	outline:none;
}
a:hover {
	text-decoration:none;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
#wrapper{
	width:100%;
	min-height:100%;
	overflow:hidden;
}
/*header start*/
#header{
	padding:0 0 31px;
}
.weather-block {
    display: none;
}
.holder:after{
	display:block;
	clear:both;
	content:' ';
}
.holder{
	margin:0 auto;
	min-width:945px;
	max-width:1302px;
	padding:0 31px;
}
.header-top:after{
	display:block;
	clear:both;
	content:' ';
}
.header-top{
	width:100%;
	background:#eee;
}
.login-list{
	float:right;
	margin:0;
	padding:8px 0 0 0;
	list-style:none;
}
.login-list li{
	float:left;
	font-size:14px;
	line-height:17px;
	margin:0 0 0 30px;
}
.login-list .no-log{
	display:block;
}
.login-list.log-in .no-log{
	display:none;
}
.login-list.log-in .log{
	display:block;
}
.login-list .log{
	display:none;
}
.login-list a{
	color:#008ce7;
	text-decoration:none;
}
.login-list a:hover{
	color:#f27418;
}
.login-list .ico{
	display:inline-block;
	vertical-align:middle;
}
.login-list .text{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 7px;
}
#nav ul:after{
	display:block;
	clear:both;
	content:' ';
}
#nav ul{
	float:left;
	margin:0 0 0 -17px;
	padding:0;
	list-style:none;
}
#nav ul li:first-child{
	margin:0;
}
#nav ul li{
	float:left;
	font-size:14px;
	line-height:17px;
	position:relative;
}
#nav ul .mail-link{
	display:none;
}
#nav .log-in .mail-link{
	display:block;
}
#nav .log-in .mail-link .num{
	color:#fff;
	background:#ff8124;
	border-radius:10px;
	display:inline-block;
	vertical-align:top;
	min-width:12px;
	height:18px;
	text-align:center;
	padding:2px 3px 0;
	font-size:11px;
	line-height:16px;
}
#nav ul a{
	color:#008ce7;
	text-decoration:none;
	display:block;
	height:29px;
	padding:10px 12px 0 17px;
}
#nav > ul > li.drop:hover{
	box-shadow:0 0 10px rgba(16,17,17,0.22);
}
#nav > ul > li > a:hover{
	color:#f27418;
}
#nav > ul > li.drop:hover a{
	background:#fff;
}
#nav > ul > li.drop:hover > a{
	margin:0 0 -1px;
	position:relative;
	z-index:2;
	padding-bottom:1px;
	color:#008ce7;
}
#nav ul .drop a em{
	background:url(../images/arr01.png) no-repeat 0 6px;
	width:9px;
	height:100%;
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 8px;
}
#nav ul li:hover .drop-down{
	display:block;
}
#nav ul .drop-down{
	background:#fff;
	box-shadow:0 0 10px rgba(16,17,17,0.22);
	width:276px;
	position:absolute;
	top:32px;
	left:0;
	display:none;
	z-index: 1;
	padding:8px 0 10px 16px;
}
#nav ul ul{
	margin:0 2px 0 0;
	padding:0;
	list-style:none;
	float:left;
	width:90px;
}
#nav ul ul li{
	font-size:14px;
	line-height:24px;
	float:none;
	box-shadow:none;
}
#nav ul ul li a{
	height:auto;
	padding:0;
}
#nav ul ul a:hover{
	color:#f27418;
}
.header-holder{
	width:100%;
	overflow:hidden;
	padding:17px 0 0;
}
.logo{
	margin:12px 17px 0 1px;
	overflow:hidden;
	float:left;
	background:url(../images/logo.png) no-repeat;
	width:121px;
	height:46px;
	text-indent:-9999px;
	cursor:pointer;
}
.logo a{
	height:100%;
	display:block;
}
.menu-holder{
	overflow:hidden;
}
.menu{
	margin:0;
	padding:0 0 9px 7px;
	list-style:none;
	overflow:hidden;
}
.menu li:first-child{
	margin:0;
}
.menu li{
	font-size:14px;
	line-height:17px;
	float:left;
	margin:0 0 0 29px;
}
.menu li.active a{
	font-family:'pf_dindisplay_probold';
	color:#525252;
}
.menu a{
	color:#008ce7;
	text-decoration:none;
}
.menu a:hover{
	color:#f27418;
}
.search-form{
	overflow:hidden;
}
.search-form .row{
	overflow:hidden;
	margin:0 0 8px;
}
.search-form .submit{
	float:right;
	margin:0 0 0 8px;
	height:32px;
	color:#fff;
	font:16px/19px 'pf_dindisplay_proregular', Arial, Helvetica, sans-serif;
	background:#ff8124 url(../images/ico03.png) no-repeat 25px 9px;
	border:0;
	padding:0 0 0 20px;
	width:120px;
	cursor:pointer;
	text-transform:uppercase;
}
.search-form .input-holder{
	overflow:hidden;
	border:1px solid #cfcfcf;
	box-shadow:inset 1px 1px 8px rgba(16,17,17,0.09);
	padding:0 10px;
}
.search-form .text{
	border:0;
	height:30px;
	padding:0;
	width:100%;
	background:none;
	font: 16px/17px   Helvetica, Arial, sans-serif;
}
.search-form .note{
	letter-spacing:0.01em;
	padding:0 0 0 6px;
}
.search-form label{
	color:#424242;
	font-size:14px;
	line-height:17px;
}
.search-form .value{
	color:#008ce7;
}
.search-form .value a{
	color:#008ce7;
	text-decoration:none;
}
.search-form .value a:hover{
	color:#f27418;
}
/*header end*/
/*main start*/
#main{
	overflow:hidden;
	padding:0 0 63px;
}
.aside{
	float:right;
	width:240px;
	margin:0 0 0 34px;
}
.aside .ads{
	margin:0 0 32px;
}
.widgets-list{
	margin:0 0 -19px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.widgets-list > li{
	padding:0 0 20px;
	letter-spacing:0.025em;
}
.widgets-list .heading-holder,
.course-block .heading-holder{
	overflow:hidden;
}
h2{
	color:#525252;
	font: 18px/21px 'pf_dindisplay_promedium', Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:0 0 10px;
	text-transform:uppercase;
	letter-spacing:0.025em;
}
.widgets-list .heading-holder h2,
.course-block .heading-holder h2{
	float:left;
	margin-right:17px;
	margin-bottom:7px;
}
h2 a{
	text-decoration:none;
	color:#525252;
}
h2 a:hover{
	color:#f27418;
}
.widgets-list .heading-holder .ico{
	margin:0 9px 0 0;
	display:inline-block;
	vertical-align:top;
}
.widgets-list .heading-holder .scores{
	color:#525252;
	font-size:18px;
	line-height:21px;
	margin:0 3px 0 0;
	display:inline-block;
	vertical-align:top;
}
.widgets-list .heading-holder .arr{
	padding:2px 0 0;
	display:inline-block;
	vertical-align:top;
}
.widgets-list .info-text{
	color:#525252;
	padding:3px 0 0;
}
.widgets-list .info-text a{
	color:#008ce7;
	text-decoration:none;
}
.widgets-list .info-text a:hover{
	color:#f27418;
}
.widgets-list .info-text p{
	margin:0;
}
.widgets-list .info-text .hide{
	padding:7px 0 19px;
}
.widgets-list .weather{
	color:#525252;
	padding:7px 2px 3px 0;
}
.widgets-list .weather .ico{
display: inline-block;

	margin:-21px 0 0 10px;
	vertical-align: top;
}
.widgets-list .temp{
	font:18px/21px 'pf_dindisplay_prolight', Arial, Helvetica, sans-serif;
	color:#008ce7;
	display:inline-block;
	margin:-3px 12px 0 0;
}
.widgets-list .temp .num{
	font-size:32px;
	display:inline-block;
	vertical-align:top;
	margin:-5px 0 0 0;
}
.widgets-list .weather .text{
	display:inline-block;
	color:#525252;
}
.widgets-list .text p{
	margin:0;
}
.weather-block{
	padding:16px 0 0;
}
.weather-list{
	margin:0 -22px 0 -5px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.weather-list li:first-child{
	margin:0;
}
.weather-list li{
	float:left;
	text-align:center;
}
.weather-list .icon{
	height:42px;
	margin:0 0 10px;
}
.weather-block li:first-child .value{
	border:0;
}
.weather-block  .value{
	border-left:1px solid #ccc;
	height:35px;
	font:14px/20px 'pf_dindisplay_prolight', Arial, Helvetica, sans-serif;
	padding:0 21px;
	overflow:hidden;
}
.weather-block  .value a{
	text-decoration:none;
}
.weather-block  .value .day{
	display:block;
	color:#525252;
	margin:-3px 0 0;
}
.weather-block  .value .deg{
	color:#888;
}
.course-block .heading-holder .date{
	color:#888;
	padding:2px 0 0 6px;
	display:inline-block;
	vertical-align:top;
}
.widgets-list .course-block{
	float:none;
}
.course-list{
	margin:0;
	padding:0;
	list-style:none;
}
.course-list li{
	color:#525252;
	font:14px/17px 'pf_dindisplay_prolight', Arial, Helvetica, sans-serif;
	overflow:hidden;
	margin:0 0 2px;
}
.course-list .name{
	color:#008ce7;
	float:left;
	width:56px;
	margin:0 10px 0 0;
}
.course-list .name a{
	text-decoration:none;
	color:#008ce7;
}
.course-list .name a:hover{
	color:#f27418;
}
.course-list .num{
	float:left;
	width:52px;
	margin:0 3px 0 0;
}

.course-list .num2{
	float: left;
    width:52px;
	margin:0 0 0 73px;
}

.course-list .num3{
	
    float: left;
	 width:52px;
	margin:0 0 0 73px;
}

.course-list .num4{
	float:left;
	width:52px;
	margin:0 3px 0 0;
}


.course-list .arr{
	float:left;
	padding:0px 0 0;
	width:10px;
	margin: 2px 5px 0 0;
}
.course-list .up{
	color:#127c00;
	float:left;
	min-width:46px;
	text-align:right;
}
.course-list .down{
	color:#de7071;
	float:left;
	min-width:46px;
	text-align:right;
}
/*sidebar start*/
#sidebar{
	float:left;
	width:310px;
	margin:0 32px 0 0;
}
.login-block{
	border:1px solid #cfcfcf;
	padding:9px 14px 14px;
	margin:0 0 15px;
}
.login-form .heading{
	font:24px/27px 'daxlinepro-regularregular', Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#424242;
	display:block;
	margin:0 0 5px;
}
.login-form .heading .ico{
	margin:3px 2px 0 0;
	vertical-align:top;
	display:inline-block;
}
.login-form .heading .txt{
	vertical-align:top;
	display:inline-block;
}
.login-form .row{
	margin:0 0 10px;
}
.login-form .input-holder{
	border:1px solid #cfcfcf;
	height:30px;
	box-shadow:inset 1px 1px 8px rgba(16,17,17,0.09);
	overflow:hidden;
}
.login-form .name-holder{
	overflow:hidden;
}
.login-form .domen{
	float:right;
	background:#eaeaea;
	width:64px;
	font-size:16px;
	line-height:19px;
	color:#008ce7;
	text-align:center;
	height:26px;
	padding:4px 0 0;
}
.login-form .text{
	width:100%;
	padding:1px 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:0;
	height:28px;
	background:none;
	font:16px/19px 'pf_dindisplay_proregular', Arial, Helvetica, sans-serif;
}
.login-form .text::-webkit-input-placeholder {
	color:#898989;
	opacity:1;
}
.login-form .text:-moz-placeholder {
	color:#898989;
	opacity:1;
}
.login-form .text::-moz-placeholder {
	color:#898989;
	opacity:1;
}
.login-form .text:-ms-input-placeholder {
	color:#898989;
	opacity:1;
}
.login-form .text:focus::-webkit-input-placeholder {
	color:transparent;
}
.login-form .text:focus:-moz-placeholder {
	color:transparent;
}
.login-form .text:focus:-ms-input-placeholder {
	color:transparent;
}
.login-form .text:focus::-moz-placeholder {
	color:transparent;
}
.login-form .line-row{
	overflow:hidden;
	margin:-2px 3px 0 0;
}
.login-form .line-row .forgot-line{
	float:right;
	color:#008ce7;
	font-size:13px;
	line-height:16px;
}
.login-form .check-holder{
	float:left;
	overflow:hidden;
}
.login-form .check{
	float:left;
	width:13px;
	height:13px;
	margin:3px 7px 0 0;
	cursor:pointer;
}
.login-form .check-holder label{
	cursor:pointer;
	color:#757474;
	font-size:15px;
	line-height:18px;
}
.login-form .submit-holder{
	overflow:hidden;
	padding:7px 3px 0 0;
}
.login-form .submit{
	float:left;
	background:#008ce7 url(../images/ico07.png) no-repeat 13px 9px;
	color:#fff;
	cursor:pointer;
	border:0;
	font:16px/19px 'pf_dindisplay_proregular', Arial, Helvetica, sans-serif;
	padding:0 0 0 21px;
	width:101px;
	height:34px;
	text-transform:uppercase;
}
.login-form .reg-link{
	float:right;
	color:#008ce7;
	text-transform:uppercase;
	text-decoration:none;
	font-size:16px;
	line-height:19px;
	margin:8px 0 0 0;
}
.login-form .reg-link .ico{
	margin:0 5px 0 0;
	display:inline-block;
	vertical-align:top;
}
.login-form .reg-link .txt{
	border-bottom:1px dashed #008ce7;
	display:inline-block;
	vertical-align:top;
}
.login-form .reg-link:hover .txt{
	border-bottom:1px dashed transparent;
}
.login-form .no-log{
	display:block;
}
.login-form.log-in .no-log{
	display:none;
}
.login-form.log-in .log{
	display:block;
	padding:0 0 5px;
}
.login-form .log{
	display:none;
}
.login-form .mailname{
	float:left;
	color:#008ce7;
	font-size:16px;
	line-height:19px;
	padding:0 0 0 14px;
}
.login-form .mailname a{
	color:#008ce7;
	text-decoration:none;
}
.login-form .mailname a:hover{
	color:#f27418;
}
.login-form .exit-link{
	color:#898989;
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	float:left;
	margin:0 0 0 30px;
}
.login-form .exit-link:hover{
	text-decoration:underline;
}
.login-form .exit-link .ico-link{
	margin:0 5px 0 0;
}
.login-form .row:after{
	display:block;
	clear:both;
	content:' ';
}
.login-form .messages-list{
	margin:0 -2px 4px;
	padding:6px 2px 5px 15px;
	list-style:none;
	overflow:hidden;
	background:url(../images/line01.png) repeat-x 0 100%;
}
.login-form .messages-list li{
	font-size:16px;
	line-height:19px;
	margin:0 0 9px;
}
.login-form .messages-list a{
	text-decoration:none;
	color:#525252;
}
.login-form .messages-list .icon{
	display:inline-block;
	vertical-align:middle;
	padding:0 4px 0 0;
}
.login-form .messages-list .txt{
	display:inline-block;
	vertical-align:middle;
}
.login-form .messages-list a:hover .txt{
	text-decoration:underline;
}
.login-form .log .reg-link-holder{
	overflow:hidden;
	padding:0 0 0 4px;
}
.login-form .log .reg-link{
	text-transform:none;
	float:left;
}
.sidebar-menu-holder{
	overflow:hidden;
	padding:0 25px 0 0;
}
.sidebar-menu ul:first-child{
	float:left;
}
.sidebar-menu ul{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.sidebar-menu ul li{
	font-size:16px;
	line-height:21px;
	margin:0 0 8px;
}
.sidebar-menu ul a{
	text-decoration:none;
	color:#424242;
}
.sidebar-menu ul a:hover{
	color:#f27418;
}
.sidebar-menu .ico{
	display:inline-block;
	vertical-align:middle;
	width:31px;
	text-align:center;
	margin:0 12px 0 0;
	height:21px;
	line-height:18px;
}
.sidebar-menu .ico img{
	vertical-align:middle;
}
.sidebar-menu .text{
	display:inline-block;
	vertical-align:middle;
}

.promo{
	margin-top:26px;
}

.sidebar-menu2 ul:first-child{
	float:left;
}
.sidebar-menu2 ul{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	width: 150px;
	
}
.sidebar-menu2 ul li{
	font-size:16px;
	line-height:21px;
	margin:0 0 8px;
	
}
.sidebar-menu2 ul a{
	text-decoration:none;
	color:#424242;
	
}
.sidebar-menu2 ul a:hover{
	color:#f27418;
}
.sidebar-menu2 .ico{
	display:inline-block;
	vertical-align:middle;
	width:31px;
	text-align:center;
	margin:0 12px 0 0;
	height:21px;
	line-height:18px;
}
.sidebar-menu2 .ico img{
	vertical-align:middle;
}
.sidebar-menu2 .text{
	display:inline-block;
	vertical-align:middle;
	font-size: 14px;

}
.sidebar-menu2 .item{

width:125px;
	text-align: center;
}
/*sidebar end*/
/*content start*/
#content{
	overflow:hidden;
}
.tabset{
	overflow:hidden;
}
.title-holder{
	overflow:hidden;
	padding:0 6px 0 0;
}
.title-holder .date{
	float:right;
	text-align:right;
	color:#888;
	font-size:13px;
	line-height:16px;
	padding:0px 0 0;
	letter-spacing:0.01em;
	
	
}


.title-holder .city {
    color: #008ce7;
    
    font-size: 14px;
   

    text-decoration: none;
    text-transform: uppercase;
}

.title-holder .city:hover {
  color:#f27418;
}

.title-list:after{
	display:block;
	clear:both;
	content:' ';
}
.title-list{
	margin:0 0 10px;
	padding:0;
	list-style:none;
	border-top:3px solid #b2dcf8;
	float:left;
}
.title-list li:first-child{
	margin:0;
}
.title-list li{
	font:18px/21px 'pf_dindisplay_promedium', Arial, Helvetica, sans-serif;
	float:left;
	text-transform:uppercase;
	margin:0 0 0 41px;
	letter-spacing:0.025em;
}
.title-list a{
	color:#525252;
	text-decoration:none;
	display:block;
	margin:-3px 0 0;
	border-top:3px solid transparent;
	padding:9px 0 0;
}
.title-list a:hover{
	color:#f27418;
	border-top:3px solid #f27418;
}
.title-list .active a:hover{
	color:#525252;
}
.title-list .active a{
	border-top:3px solid #008ce7;
}
.content-holder{
	padding:0 1px 5px;
}
.line-block{
	background:url(../images/line01.png) repeat-x 0 100%;
	padding:0 0 25px;
	margin:0 0 19px;
}
.news-block{
	overflow:hidden;
	letter-spacing:0.01em;
	padding:0 100px 0 0;
}
.news-block .img{
	float:left;
	width:93px;
	margin:2px 14px 0 0;
}
.news-block .text{
	color:#515151;
	font-size:13px;
	line-height:16px;
}
.news-block .heading{
	display:block;
	font-weight:normal;
	font-size:15px;
	line-height:16px;
	margin:0 0 2px;
}
.news-block .heading a{
	color:#008ce7;
	text-decoration:none;
}
.news-block .heading a:hover{
	color:#f27418;
}
.news-block .text-holder{
	height:64px;
	overflow:hidden;
}
.news-block .text p{
	margin:0;
}
.arts-list{
	margin:0 0 5px;
	padding:0;
	list-style:none;
}
.arts-list li{
	font-size:15px;
	line-height:24px;
	color:#515151;
	letter-spacing:0.01em;
}
.arts-list a{
	color:#008ce7;
	text-decoration:none;
}
.arts-list a:hover{
	color:#f27418;
}
.arts-list .title{
	color:#515151;
}

.programms-list .title{
	color:#515151;
}
.programms-list a:hover .title{
	text-decoration:underline;
}

.arts-list a:hover .title{
	text-decoration:underline;
}
.programms-holder{
	overflow:hidden;
	padding:21px 6px 0 0;
}
.programms-block{
	float:left;
}
.programms-block .title-list{
	float:none;
	margin:0 0 6px;
}
.programms-block .title-list a{
	padding:6px 0 0;
}
.programms-block .title-list li:first-child{
	margin:0;
}
.programms-block .title-list li{
	margin:0 0 0 22px;
}
.programms-list{
	margin:0;
	padding:0;
	list-style:none;
}
.programms-list li{
	font-size:14px;
	line-height:18px;
	color:#484848;
	margin:0 0 2px;
}
.programms-list a{
	color:#008ce7;
	text-decoration:none;
	margin:0 5px 0 3px;
}
.programms-list a:hover{
	color:#f27418;
}
.programms-holder .course-block{
	float:right;
	padding:0px 0 0;
}
.programms-holder .course-block .heading-holder .date{
	padding-right:29px;
}
.programms-holder .course-block h2{
	margin-right:12px;
}
.programms-holder .course-block .heading-holder{
	margin:0 0 0px;
}
.programms-holder .course-list .down,
.programms-holder .course-list .up{
	margin: 0 10px 0 0;
}

.course-block .course-list .down,
.course-block .course-list .up{
	margin: 0 10px 0 0;
}
.course-block .course-list .name{
	margin:0 16px 0 0;
}



.programms-holder .course-list .name{
	margin:0 16px 0 0;
}
.course-block-hide{
	display:none;
}
.tab{
	display:none;
	padding:22px 1px 0;
	overflow:hidden;
}
.programms-block .tab{
	padding:0;
}

/*content end*/
/*main end*/
/*footer start*/
#footer{
	color:#afafaf;
	overflow:hidden;
	padding:3px 0 12px;
	height:18px;
	width:100%;
	position:relative;
	margin:-33px 0 0;
}
#footer a{
	color:#afafaf;
	text-decoration:none;
}
#footer a:hover{
	text-decoration:underline;
}
.icos-list{
	float:left;
	margin:0 13px 0 0;
	padding:0;
	list-style:none;
}
.icos-list li:first-child{
	margin:0;
}
.icos-list li{
	float:left;
	line-height:13px;
	height:18px;
	margin:0 0 0 15px;
}
.icos-list img{
	vertical-align:middle;
}
.footer-menu{
	margin:0 29px 0 0;
	padding:0;
	list-style:none;
	float:left;
}
.footer-menu li:first-child{
	margin:0;
}
.footer-menu li{
	float:left;
	margin:0 0 0 29px;
}
.copy{
	font-style:normal;
	float:left;
}
/*footer end*/
/*popup start*/
.popup-holder{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display:none;
}
.bg{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	background: #000;
}
.popup{
	position:absolute;
	top: 50px;
	left: 50%;
	width:313px;
	margin: 0 0 0 -186px;
	background:#fff;
	padding:24px 30px 30px;
}
.popup .close{
	background:url(../images/close.png) no-repeat;
	width:10px;
	height:12px;
	position:absolute;
	top:29px;
	right:29px;
	text-indent:-9999px;
}
.popup .login-form .heading{
	font-size:20px;
}
.popup .login-form .heading .ico{
	margin:2px 4px 0 1px;
}
.popup .login-form .note{
	font-size:14px;
	line-height:18px;
	color:#8d8d8d;
	padding:4px 0 21px 1px;
}
.popup .login-form .note p{
	margin:0;
}
.popup .login-form .check-holder{
	float:right;
}
.popup .login-form .line-row .forgot-line{
	float:left;
}
.popup .login-form .line-row{
	margin:0 3px 21px 0;
	padding:1px 0 0;
}
/*popup end*/

.widgets-list .pogoda-left{
		margin:19px 0 0 0px;
		display:none;
	}
	
.pogoda-center  {
	display:none;
}	



.pogoda-center .weather{
	color:#525252;
	padding:7px 2px 3px 0;
}
.pogoda-center .weather .ico{
display: inline-block;

	margin:-25px 0 0 10px;
	vertical-align: top;
}

.pogoda-center .weather .text{
	display:inline-block;
	color:#525252;
}


.pogoda-center .temp {
    color: #008ce7;
    display: inline-block;
    font: 18px/21px "pf_dindisplay_prolight",Arial,Helvetica,sans-serif;
    margin: -3px 12px 0 0;
}


.pogoda-center.temp .num {
    display: inline-block;
    font-size: 32px;
    margin: -5px 0 0;
    vertical-align: top;
}	
	
	.pogoda-right .weather .text {
	display:block;
	margin: -5px 2px 0 0;
	position: absolute;
	}	
	
@media only screen and (max-height: 900px){
	
	.widgets-list > li {
    padding: 0 0 25px;
	}

}

@media only screen and (max-width: 1440px) and (max-height: 900px){
	.search-form .note{
		display:none;
	}
	

}
@media only screen and (max-height: 842px){
	.header-holder{
		padding:19px 0 0;
	}
	#header {
		padding: 0 0 15px;
	}
	.search-form .row {
	    margin: 0;
	}
	.tab {
	    padding: 10px 1px 0;
	}
	.line-block{
		padding:0 0 21px;
		margin:0 0 21px;
	}
}
@media only screen and (max-width: 1366px) and (max-height: 768px){
	.widgets-list .pogoda-right{
		display:none;
	}
	.widgets-list .pogoda-left{
		display:none;
	}
	
	.pogoda-center  {
	display:block;
	}
	
	.pogoda-center .weather .text {
	display:block;
	margin: -16px 2px 0 0;
	position: absolute;
	}
	
	.course-list {
	margin: 3px 0px 0 0;
	}
	
	.pogoda-center .temp {
	margin: -3px 2px 0 0;
	}
	
	.pogoda-center  {
	right: 70px;
	float: right;
	position: relative;
	}
	
	.course-list .num4 {
  display:none;
}
	.course-list .num3 {
  display:none;
}

	.pogoda-center .weather .ico {
	margin: -15px 0 0 10px;
	
	
	}
	
	.widgets-list 
	{
	margin: 0 0 0px;
	}
	
	.widgets-list > li
	{
	padding: 0 0 10px;
	}
	.aside .ads{
		margin:0 0 41px;
	}
	.tab{
		padding:10px 1px 0;
	}
	

#main{
		padding:0 0 28px;
	}
}
@media only screen and (max-width: 1297px){
	.logo{
		margin-left:1px;
	}
	#sidebar{
		margin:0 35px 0 0;
	}
	.news-block{
		padding:0 5px 0 0;
	}
}

@media only screen and (max-width: 1250px){
.promo{
	display:none;
}
.promo2{
	display:none;
}

	.title-list .item-hide{
		display:none;
	}
	.programms-holder .course-block{
		display:block;
	}
	.arts-list li {
		height: 24px;
		overflow: hidden;
	}
	.course-block-hide{
		display:none;
	}
	.weather-block{
		display:none;
	}
}
@media only screen and (max-width: 1190px){
.promo{
	display:none;
}
.promo2{
	display:none;
}
	
	.news-block .heading {
		height: 32px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 1120px){
.promo{
	display:none;
}
.promo2{
	display:none;
}
	#header{
		padding:0 0 0px;
	}
	#nav ul{
		margin:0 0 0 -12px;
	}
	.header-holder{
		padding:19px 0 0;
	}
	.search-form .submit{
		width:100px;
		padding:0 0 0 22px;
		margin:0 0 0 14px;
		background-position:12px 9px;
	}
	.logo{
		margin-left:2px;
	}
	.search-form .row{
		margin:0;
	}
	.search-form .note{
		display:none;
	}
	.aside .ads{
		margin:0 0 25px;
	}
	.widgets-list .info-text{
		padding:0;
	}
	.widgets-list .info-text .hide{
		display:none;
	}
	.widgets-list .weather{
		padding-top:4px;
	}
	#sidebar{
		width:227px;
		margin:0 30px 0 0;
	}
	#sidebar .login-form .heading{
		margin:0 0 6px;
	}
	#sidebar .login-form .row{
		margin:0 -3px 10px -4px;
	}
	#sidebar .login-form .line-row{
		padding:3px 0 0;
		margin:0 0 6px;
	}
	#sidebar .login-form .reg-link{
		float:left;
	}
	#sidebar .login-form .submit{
		margin:0 40px 6px 0;
	}
	#sidebar .login-form .submit-holder{
		padding-bottom:2px;
	}
	.sidebar-menu-holder{
		padding:0 3px 0 0;
		margin:0 0 0 -4px;
	}
	.sidebar-menu ul li{
		font-size:14px;
	}
	.sidebar-menu .ico{
		margin:0 3px 0 0;
	}
	.content-holder{
		padding:0 1px 5px;
	}
	.news-block .text{
		height:98px;
		overflow:hidden;
	}
	.news-block .heading{
		height:32px;
		overflow:hidden;
	}
	.line-block{
		/*padding:0 0 18px;
		margin:0 0 16px;*/
		padding:0 0 21px;
		margin:0 0 21px;
	}
	.arts-list{
		margin:0 0 -3px;
	}
	.arts-list li{
		height:24px;
		overflow:hidden;
	}
	.arts-list li.hide{
		display:none;
	}
	.arts-list a:hover{
		color:#f27418;
	}
	.programms-holder{
		padding-top:5px;
	}
	.programms-block .title-list li:first-child{
		margin:0;
	}
	.programms-block .title-list li{
		margin:0 0 0 48px;
	}
	.weather-block{
		display:none;
	}
	.aside{
		margin:0 0 0 20px;
	}
	#main{
		padding:20px 0 33px;
	}
	.login-form .mailname{
		float:none;
		display:block;
		padding-bottom:10px;
	}
	.login-form .exit-link{
		margin:0 0 0 8px;
	}
	.login-form .messages-list{
		padding-left:10px;
	}
	.login-form .log .reg-link{
		font-size:14px;
	}
	.login-form .log .reg-link .ico{
		margin:0 3px 0 0;
	}
	.tab{
		padding:10px 1px 0;
	}
}
@media only screen and (max-width: 1041px){
	.holder{
		padding:0;
		width:945px;
	}
}
@media only screen and (max-width: 1024px)and (max-height: 768px){
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	#wrapper{
		min-height:98%;
	}
	#footer{
		bottom:15px;
		margin:0 0 -17px;
	}
	.widgets-list > li{
	padding:0 0 10px;
	letter-spacing:0.025em;
}

	.pogoda-center  {
	display:none;
	}
	
	 .pogoda-left{
			display:none;
	}
	
	.widgets-list .pogoda-right{
			display:block;
	}

	
	.programms-holder .course-block{
		display:block;
	}
	
	
.course-block .course-list .down, .course-block .course-list .up {
   display:block;
   margin: 0 0 0 0;
}

.programms-list {
width: 220px;
overflow: hidden;

white-space: nowrap;
}

.programms-list li {


}
.programms-list a {




}

.course-list .arr {
 margin:2px 0px 0 0;
}

.course-list .num2 {
    float: left;
    margin: 0 0 0 56px;
    width: 52px;
}

.programms-holder .course-list .name {
    margin: 0 1px 0 0;
}

.aside .ads{
		margin:0 0 20px;
	}
	
	
	
	
.widgets-list .weather {
display: inline-block;
}

.widgets-list .pogoda-right h2 {
    float: left;
    margin-bottom: 7px;
    margin-right: 17px;
}

.widgets-list .info-text {
display: none;
}

.widgets-list .weather .text {
display: none;
}

.widgets-list .temp {
float: right;
}


.widgets-list .weather .ico {
    display: inline-block;
    margin: -10px 0 0 -5px;
    vertical-align: top;
}

.widgets-list .weather .ico img {
   
    width: 35px;
	height: 35px;
   
}


.widgets-list .weather  .temp {
    color: #525252;
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    margin: -2px 3px 0 5px;
    vertical-align: top;
font: 18px/21px "pf_dindisplay_proregular",arial,sans-serif;
}


.widgets-list .temp .num {
    color: #525252;
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    margin: 0 3px 0 0;
    vertical-align: top;
	font: 18px/21px "pf_dindisplay_proregular",arial,sans-serif; 
}

#main{
		padding:25px 0 0px;
	}

#wrapper {
    min-height: 97%;
}	
}
@media only screen and (max-height: 768px){
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	.title-holder .city
	{
	font-size: 13px;
	}
	.arts-list li.hide{
		display:none;
	}
	.weather-block{
		display:none;
	}
	/*#sidebar{
		margin: 0 30px 0 0;
		width: 227px;
	}*/
	#sidebar .login-form .heading {
		margin: 0 0 6px;
	}
	#sidebar .login-form .row {
		margin: 0 -3px 10px -4px;
	}
	#sidebar .login-form .line-row {
	    margin: 0 0 6px;
	    padding: 3px 0 0;
	}
	#sidebar .login-form .submit-holder {
	    padding-bottom: 2px;
	}
	#sidebar .login-form .submit {
	    margin: 0 40px 6px 0;
	}
	#sidebar .login-form .reg-link {
	    float: left;
	}
	.sidebar-menu-holder {
	    margin: 0 0 0 -4px;
	    padding: 0 3px 0 0;
	}
	.sidebar-menu ul li {
	    font-size: 14px;
		margin:0 0 7px;
	}
	.sidebar-menu .ico {
	    margin: 0 3px 0 0;
	}
	.course-block-hide {
	    display: block;
	}
	.programms-holder .course-block{
		display:none;
	}
	.header-holder{
		padding:17px 0 0;
	}
	.search-form .note{
		display:none;
	}
	#header{
		padding:0 0 0px;
	}
	.search-form .row{
		margin:0;
	}
	/*.tab{
		padding:10px 1px 0;
	}*/
	.line-block{
		margin:0 0 18px;
		padding:0 0 18px;
	}
	.programms-holder {
	    padding-top: 5px;
	}
	.widgets-list .info-text .hide {
	    display: none;
	}
	/*.aside .ads {
	    margin: 0 0 25px;
	}*/
}
@media only screen and (max-width: 1280px) and (min-width: 1210px) and (max-height: 720px) and (min-height: 704px){
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	.course-block-hide{
		display:none;
	}
	.programms-holder .course-block{
		display:block;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1210px) and (max-height: 704px) and (min-height: 550px){
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	.aside .ads{
		margin:0 0 43px;
	}
	.weather-block{
		display:none;
	}
}
@media only screen and (max-width: 1368px) and (max-height: 767px){
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	.programms-holder .course-block{
		display:block;
	}
	.course-block-hide{
		display:none;
	}
	

}
@media only screen and (max-width: 1200px){
	.programms-holder .course-block{
		display:block;
	}
	.course-block-hide{
		display:none;
	}
	
}

@media only screen and (max-width: 1280px) and (max-height: 800px) and (min-width: 1152px) {
	.promo{
		display:none;
	}
	.promo2{
	display:none;
}
	.pogoda-center  {
	display:none;
	}
	
	.widgets-list .pogoda-left{
			display:block;
	}
}


