
html { min-height: 100%; }

body {
  margin: 0;
  min-height: inherit;
}
 [im-sidebar] {
 display: none;
 position: fixed;
 height: 100%;
 width: 370px;
 z-index: 502;
 right: 0;
 background-color: #fff;
 border: 1px solid #ccc;
 box-shadow: 0 3px 25px rgba(0,0,0,0.3);
 z-index: 502;
}
 [im-sidebar-overlay] {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 opacity: 0;
 width: 2px;
 height: 2px;
 min-height: inherit;
}
 [im-sidebar]  a {
 text-decoration:none;
}


.im-wrapper {
	height: 100%;
	background: #f6f6f6;
}

.im-header {
	background-color: #00a499;
	height: 65px;
	width: 100%;
	border-bottom: 2px solid #f2c301;
}

.im-listing-header {
	background-color: #00a499;
	height: 65px;
	width: 100%;
	border-bottom: 2px solid #f2c301;
}

.im-header-icon-menu {
	position: relative;
	width: 40px;
	height: 100%;
	float: left;
	background-image: url("/images/icon_menu.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.im-header-icon-close {
	position: relative;
	width: 40px;
	height: 100%;
	float: right;
	background-image: url("/images/icon_close.png");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.im-header-icon-info {
	position: relative;
	width: 40px;
	height: 100%;
	float: right;
	background-image: url("/images/icon_info.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.im-header-title {
    position: absolute;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    width: 100%;
	margin-top: 2px;
}

.im-header-title-listing {
    position: absolute;
    font-size: 15px;
    display: block;
    text-align: center;
    width: 100%;
	line-height: 45px;
	margin-top: 0px;
}

.im-header-title-merchant {
    position: relative;
    font-size: 15px;
    display: block;
    text-align: center;
    width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.im-header-title-status {
    position: relative;
    font-size: 12px;
    padding: 3px;
    display: block;
    text-align: center;
    width: 100%;
}

.im-pd {
	width: 100%;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
	height: 125px;
}

.im-pd-icon {
	width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
	position: relative;
}

.im-pd-img {
	border: 1px solid #ababab;
    float: left;
    margin-right: 10px;
	position: absolute;
}

.im-pd-referralled {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.im-pd-title a{
	font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 2px 0 0 0;
}

.im-pd-title a:hover {
	color: #00a499;
	text-decoration: underline;
}

.im-pd p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.im-pd-describ {
	margin-bottom: 5px !important;
	font-size: 13px !important;
}

.im-pd-price {
    color: #e02152;
    font-size: 16px;
    font-weight: bold;
}

.im-pd-price .product-prop img {
    padding-left: 5px;
    margin-top: -4px;
}

.im-popup-price-2 {
    color: #5F5F5F;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height: 13px;
}

.im-chat-container {
    padding: 10px 15px 10px 15px;
    margin: 0 auto;
    background: #f6f6f6;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    top: 135px;
    bottom: 85px;
    right: 0;
    max-height: 100%;
}

.im-list-container {
    margin: 0 auto;
    background: #fff;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    top: 110px;
    bottom: 0;
	
}

.im-datestamp {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    color: #8b91a0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
	font-size: 11px;
}

.im-bubble {
    box-sizing: border-box;
    float: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
    border-radius: 5px;
    margin-bottom: 26px;
    padding: 6px 10px;
    color: #000;
    word-wrap: break-word;
    background: #fff;
    font-size:15px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(232,232,232,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(232,232,232,1);
    box-shadow: 1px 1px 1px 0px rgba(232,232,232,1);
}

.im-bubble p{margin:0;}

.im-bubble:before {
	content: '';
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
	background-image: url('/images/im-in.png');
    top: 0px;
    left: -7px;
}

.im-bubble-time {
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    left: 10px;
    color: #7C7C7C;
    min-width: 95px;
    
}

.im-bubble-alt {
    background: #ECECEC;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(220,220,220,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(220,220,220,1);
    box-shadow: 1px 1px 1px 0px rgba(220,220,220,1);
	float: right;
}

.im-bubble-alt:before {
    background-image: url('/images/im-out.png');
	top: 0px;
    left: inherit;
    right: -7px;
}

.im-bubble-alt-time {
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 10px;
    color: #7C7C7C;
    min-width: 100px;
    text-align: right;
}

.im-input-wrapper {
    height: 85px;
    padding: 5px;
    display: block;
    background: #Ececec;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 370px;	/*max-width:760px; for msite*/
    transition:.2s;
}

.im-inputtext-container {
    width: 100%;
    padding-right: 110px;
    position: relative;
}

.im-inputtext {
    padding: 6px 35px 6px 5px;
    height: 34px;
    line-height: 34px;
    width: 99%;
    border: 1px solid #ccc;
}

.im-input-send {
    width: 65px;
    height: 34px;
    position: absolute;
    right: 0px;
    background: #00a499;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.im-btn-buy {
    width: 100%;
    background: #00a499;
    border-radius: 4px;
    border: none;
    color: #fff;
    height: 34px;
    margin-top: 5px;
}

.im-input-send:hover, .im-btn-buy:hover {
	background: #116b65;
}

.im-listing-item, .im-list-trade-item {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
	overflow: auto;
}

.im-listing-item p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:15px;
}

.im-listing-pd-icon {
	width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
	position: relative;
}

.im-listing-pd-img {
    float: left;
    border: 1px solid #ebebeb;
    margin-right: 10px;
	position: absolute;
}

.im-referralled {
	position: absolute;
	right: 0;
	bottom: 0;
	padding:5px;
}

.im-listing-pd-title {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin: 5px 0 0 0 !important;
}

.im-listing-pd-merchant {
    font-size: 13px;
    color: #ababab;
    margin: 0 0 2px 0 !important;
    position: relative;
    padding: 0 55px 0 0;
}

.im-listing-pd-text {
    position: relative;
	color: #5F5F5F;	
}

.im-listing-time {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #ababab;
    font-weight: normal;
}

.im-listing-item:hover {
	background-color: #ececec;
}

.im-referral-price {
	height: 100%;
	width: 400px;
	position: absolute;
	top: 0;
}

.im-referral-overlay {
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position:absolute;
}

.im-referral-box {
	width: 300px;
	height: 200px;
	position: relative;
	margin: auto;
	display: block;
	background-color: #fff;
	margin-top: 50%;
	border-radius: 4px;
}

.im-referral-title {
	font-size: 18px;
	color: #5F5F5F;
	font-weight: bold;
	padding: 10px 20px;
}

.im-referral-pd-price {
	color: #e02152;
    font-size: 18px;
    font-weight: bold;
	padding: 0 10px;
}

.im-referral-price-option {
	padding: 10px;
	background-color: #eeeeee;
	margin: 0 20px 10px;
}

.im-referral-price-option:hover {
	background-color: #ececec;
}

.hong_20, .water_20 {
	padding: 0 5px;
}

.im-list-tab {
	width:100%;
	height: 45px;
	background: #fff;
}

.im-tab-all, .im-tab-enquiry, .im-tab-referral, .im-tab-trade{
	height: 45px;
	width: 50%;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
    display: block;
    float: left;
	font-size: 15px;
	color: #5F5F5F;
	text-align: center;
    line-height: 45px;
}

.im-tab-all:hover, .im-tab-enquiry:hover, .im-tab-referral:hover, .im-tab-trade:hover {
	background-color: #ececec;
}

.im-tab-active {
	border-bottom: 3px solid #f2c301;
}

.im-input-referraled {
	height: 55px;
}

.im-chat-referraled {
	bottom: 54px;
}

.im-info-option {
    position: fixed;
    top: 50px;
    right: 40px;
    width: 130px;
    height: 100px;
}

.im-info-arrow {
	background-image: url("/images/info_box_arrow.png");
	float: right;
	clear:both;
	height: 10px;
    width: 20px;
    margin-right: 14px;
}

.im-info-box {
	margin-top: 9px;
	height: 86px;
	width: 130px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 1px;
}

.im-info-port {
	margin: 5px;
    font-size: 15px;
	padding: 5px;
	color: #444444;
	text-align: center;
}

.im-info-port:hover {
	background: #ececec;
}

.im-info-line {
	height: 1px;
	width: 110px;
	background: #cccccc;
	margin: auto;
}

.im-tips{
	position:absolute;
	left:175px;
	height:75px;
	width:172px;
	background:#fff;
	top:40px;
	border-radius:10px;
	padding: 13px 10px 10px 21px;
	background:url('/images/im-tips-bg.png')
}

.im-tips p{
	font-size:12px;
	line-height:18px;
	color:#777777;
	margin:0;
	text-align:center;
}

.im-unread{
	position:absolute;
	right:0;
	top:2px;
	color:#fff;
	text-align:center;
	line-height:16px;
	background:#f13200;
	border-radius:10px;
	display:block;
	padding:0 4px;
	margin:5px 0;
	font-size:13px;
}

.im-delete {
	height: 100%;
	width: 400px;
	position: absolute;
	top: 0;
}

.im-delete-title {
	float:left;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
	padding: 10px 20px;
}

.im-delete-text {
	margin: 0 auto;
	text-align: center;
 	font-size: 14px;
	color: #333;
	font-weight: bold;
	padding: 5px 20px;
	margin-bottom:5px;
}

.im-delete-firm {
		font-size: 18px;
    width: 180px;
    height: 34px;
    background: #00a499;
    border-radius: 4px;
    border: none;
    color: #fff;
    margin-right:5px;
}
.im-delete-header {
	width: 100%;
}

.im-delete-overlay {
	left:0px;
	top:0px;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	position:absolute;
}
.im-delete-box {
	width: 420px;
	height: 220px;
	position: fixed;
	margin: auto;
	display: block;
	background-color: #fff;
	margin-top: 50%;
	border-radius: 4px;
	text-align:center;
	z-index: 1200;
	
}
.im-delete-closebtn
{
	position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: url('/images/dialog-close.png');
    cursor: pointer;
    z-index: 1103;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
}
.im-toggle-icon {
	width: 173px;
	height: 65px;
	position: fixed;
	right: -116px;
	top: 140px;
	cursor: pointer;
	z-index:501;
}
.im-toggle-unread {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f35328;
    border-radius: 50% 50%;
    top: 19px;
    left: 36px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
	z-index: 99999;
}
.im-system-msg {
	position: relative;
	clear: both;
	border-top: 1px solid #8b91a0;
	border-bottom: 1px solid #8b91a0;
	margin: 20px 5px;
	padding: 8px 0;
	box-sizing: border-box;
    word-wrap: break-word;
}

.im-system-msg p{
	color: #8b91a0;
	font-size: 13px;
	text-align: center;
	margin: 0;
	font-weight: bold;
	line-height: 18px;
}

.im-merchant-online-time {
	color: #333;
	clear: both;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	display: block;
}

.im-send-img, .im-send-img-icon input[type="file"] {
	display: none;
}

.im-send-img-icon {
	width: 24px;
	height: 18px;
	position: absolute;
	top: 8px;
	right: 77px;
	cursor: pointer;
}

.im-send-img-icon-img {
	background: url("/images/icon_send_img.png") no-repeat;
	background-size:100%;
	width: 24px;
    height: 18px;
    position: absolute;
    cursor: pointer;
}

.im-inputtext-container {
    width: 100%;
    padding-right: 0;
    position: relative;
}

.im-inputtext {
    width: 291px;
}

.im-input-send {
    float: right;
}

.im-datestamp {
	font-size: 11px !important;
}

.im-image
{
		height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
   }



.im-delete-title {
    float: left;
    font-size: 24px;
    color: #666666;
    padding: 10px 20px;
}

.hr {
	margin-bottom: 10px;
}

.im-delete-text {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #666666;
    /* font-weight: bold; */
    padding: 5px 20px;
    margin-bottom: 5px;
}

#inputemail {
    font-family: inherit;
    font-size: inherit;
    line-height: 30px;
    padding: 5px;
}


.im-delete-firm {
    font-size: 18px;
    width: 180px;
    height: 43px;
    margin: 10px;
}

.im-menu-icon-noti {
	width: 10px;
	height: 10px;
	background: #f35328;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 25px;
}



/*20160106*/
.im-empty-wrapper {
	width: 100%;
    vertical-align: middle;
    position: absolute;
    margin-top: 50%;
}

.im-empty {
	display: block;
	margin: auto;
	clear: both;
	margin-bottom: 10px;
	width: 84px;
	height: 126px;	
}

.im-empty-wrapper p{
	color: #CBCBCB;
	font-size: 15px;
	text-align: center;
}

/*20160108 kenny*/

.im-empty {
    width:auto;
	height:auto;
}

.im-empty-wrapper {
    margin-top: 14%;
}

.im-empty-wrapper p.im-empty-title{
	color:#212121;
	font-size:16px;
	margin-top: 16px;
}

.im-empty-wrapper p.im-empty-dsc{
	color: #b9b9b9;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
}

/*20160114*/
 [im-sidebar] {
	 height: 490px;
	 bottom: 0;
 }
 
 .im-info-option {
	 bottom: 340px;
	 top: auto;
 }
 
 .im-system-msg {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
 }
 
 .im-system-msg p {
    color: #8e8e93;
 }
  
 /*20160122*/
 .im-warning-icon {
	 width: 20px;
	 height: 20px;
	 float: left;
	 position: absolute;
	 left: -25px;
	 top: 7px;
 }
 
 /* 20160517 trade*/
.im-filter{
	width:100%;
	height:40px;
	background:#f6f6f6;
	text-align:center;
	font-size:14px;
	line-height:40px;
	position:relative;
}

.im-filter a{color:#00a499;}
.im-filter a:hover{opacity:0.8; color:#008a82;}
.im-filter-label img {vertical-align:middle; height:40px;}
.im-filter-label{
	z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    background: #f6f6f6;
}

.im-filter-select{
	position:absolute;
	top:-120px;
	left:0;
	background:#f6f6f6;
	width:100%;
	height:auto;
	z-index:1;
	transition:0.5s;
}

.im-filter-select-active{top:40px; transition:0.5s;}

.im-filter-option{
	height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #00a499;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}

.im-filter-option:hover{background:#ddd; cursor:pointer;}

.im-list-trade-item{position:relative;}

.im-list-trade-pd{
    width: 75px;
    height: 75px;
    margin-right: 10px;
	position:absolute;
}

.im-list-trade-pd img{
	border: 1px solid #ebebeb;
	height:75px;
	width:75px;
}

.im-list-trade-user{
	float: left;
    height: 45px;
    width: 100%;
    padding-left: 85px;
    position: relative;
}

.im-list-trade-pic{
	height: 43px;
    width: 43px;
    border-radius: 40px;
    overflow: hidden;
    border: 2px solid #fff;
    position: absolute;
    top: 50px;
    left: 50px;
}

.im-list-trade-pic img{
	width:43px;
	height:43px;
}

.im-list-trade-username, .im-list-trade-offer{
	overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
	line-height:24px;
	font-size:13px;
	color:#000;
    white-space: nowrap;
    margin: 0;
}
.im-list-trade-username{font-weight:bold;}

.im-list-trade-username{padding-right:65px;}
.im-list-trade-offer{color:#000;}
.im-list-trade-offer-price{color:#00a499; font-size:15px;}
/*.im-list-trade-offer-price:before{
	content:"HK$";
	font-size:11px;
	margin-right:2px;
}*/

.im-list-trade-text{
	float: left;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding-left: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color:#5F5F5F;
	position:relative;
}

.im-list-trade-item:hover{opacity:0.8;}

.im-list-trade-offer-label-sold,
.im-list-trade-offer-label-expired,
.im-list-trade-offer-label-deleted{
	background:#8e8e93;
	padding:1px 2px;
	margin-right:5px;
	color:#fff !important;
	font-size:12px;
}
.im-list-trade-offer-none{color:#ababab !important;}
.im-list-trade-offer-label-succeed{
	color:#5c5c5c !important;
	background:#ffc821;
	padding:1px 2px;
	margin-right:5px;
	font-size:12px;
}

.im-trade-pd-price{color:#00a499; font-size:16px; line-height:20px !important;}


.im-input-send-trade {
    width: 65px;
    height: 34px;
    position: absolute;
    right: 0px;
    background: #ffc821;
    border-radius: 4px;
    border: none;
    color: #555555;
}

.im-input-send-trade:hover{background:#f1c400;}
.im-input-send-trade:focus{outline:none;}

.im-trade-btn{
	width: 100%;
	background: #ffc821;
	border-radius: 4px;
	border: none;
	color: #555555;
	height: 34px;
	margin-top: 5px;
}

.im-trade-btn:hover{background:#f1c400;}
.im-trade-btn:focus{outline:none;}
.im-trade-btn-50{width:calc(50% - 5px);}
.im-trade-btn-50:last-of-type{margin-left:5px;}
.im-trade-btn-outline{
	background:none;
	border:1px solid #ffc821;
}

.im-trade-btn-outline:hover{
	background:rgba(255,255,255,0.3);
}

.im-trade-input-offer-label{
	width:40px;
	float:left;
	line-height: 34px;
    color: #555;
    text-align: center;
}
.im-trade-input-offer {
	float:left;
    padding: 6px 12px;
    height: 34px;
    line-height: 34px;
	width:calc(100% - 40px);
}

.im-trade-system-offer{
	clear:both;
	padding:10px 10px 10px 80px;
	border-radius:5px;
	box-shadow: 0px 1px 1px 0px rgba(220,220,220,1);
	margin-bottom:30px;
	position:relative;
	min-height:60px;
	word-break: break-all;
	font-size:15px;
}

.im-trade-system-offer .im-trade-offer-price{color:#00a499; font-size:16px;}
.im-trade-system-offer .im-trade-offer-price:before{
	content:"HK$";
	font-size:12px;
	margin-right:2px;
}

.im-trade-system-offer-buyer{background:url(/images/trade-offer-buyer.png) no-repeat #fff 15px 10px;    background-size: 50px 40px;}
.im-trade-system-offer-seller{background:url(/images/trade-offer-seller.png) no-repeat #fff 15px 10px;    background-size: 50px 40px;}
.im-trade-system-offer-buyer-fail{background:url(/images/trade-offer-buyer-fail.png) no-repeat #fff 15px 10px;    background-size: 50px 40px;}
.im-trade-system-offer-seller-fail{background:url(/images/trade-offer-seller-fail.png) no-repeat #fff 15px 10px;    background-size: 50px 40px;}
.im-trade-system-alert{background:url(/images/trade-system-alert.png) no-repeat #fff 15px 10px;    background-size: 50px 40px;}

.im-trade-system-offer p{
	line-height:20px;
	margin:0;
}

.im-trade-system-offer-time{
	position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
	color: #7C7C7C;
	font-size:11px;
}

.im-input-hide{
	transition:.5s;
	bottom:-95px;
}

.im-trade-disable{
	width: 100%;
    border: none;
    color: #555555;
    height: 34px;
    margin-top: 10px;
	line-height:34px;
	text-align:center;
}

.im-input-chatonly {
    height: 45px;
}

.im-input-buttononly {
    height: 45px;
    padding-top: 0;
}

.im-chat-container-chatonly{ bottom:43px;}

.im-pd-icon-trade-status{
	background: rgba(142,142,147,0.8);
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
}

  /*20160428*/
.im-pd-icon{width: 50px;height: 50px;}
.im-referralled{padding:0; opacity:0.8}
.im-pd{height:70px;}
.im-datestamp{ color:#8e8e93; font-size:12px !important;}
.im-datestamp span{margin:0 5px;}

.im-system-msg{margin:15px 5px;}

.im-alert-msg{
	clear:both;
	background:#ffdd87;
	margin: 15px 5px;
	padding: 8px 0;
	box-sizing: border-box;
    word-wrap: break-word;
}

.im-alert-msg p{
	margin:0;
	text-align:center;
	color:#8a6d3b;
	font-size:13px;
}

.product-prop img {
    padding-left: 5px;
    margin-top: -4px;
}

.im-bubble-alt-time{font-size:11px;}
.im-pd-price{font-weight:normal;}

.im-pd p{line-height:26px;}

/*20160505*/

.im-chat-container{transition:2s;}

.im-quote-msg{
	width: 100%;
    height: 30px;
    line-height: 30px;
    background: #d4d4d4;
    text-align: center;
	position:absolute;
	top:105px;
	z-index: -1;
	transition:2s;
}

.im-quote-msg img{
	width:20px;
	height:20px;
	vertical-align:text-bottom;
	margin-right:5px;
}

.im-quote-msg-yes .im-quote-msg{top:135px; transition:2s;}
.im-quote-msg-yes .im-chat-container{top:165px; transition:2s;}

/*20160518 avg reply time*/
.im-avg-reply{margin:5px 0 0 0;}
.im-avg-reply img{margin-right:5px;    vertical-align: middle;}
.im-avg-reply span{color:#00a499;}

/*20160524 style update*/
.im-quote-msg{font-size:13px;}
.im-bubble-alt-time{right:0px;}
.im-bubble-time{left:0px;}
.im-system-msg p{font-size:12px; font-weight:normal;}
.im-quote-msg img {width: 16px;height: 16px;}

.im-inputtext-container-trade{ padding-left:38px; position:relative;}
.im-inputtext-container-trade .im-inputtext{width:253px;}
.im-trade-msg-trigger{
	border:1px solid #ccc;
	position:absolute;
	width:34px;
	height:34px;
	left:0;
	cursor:pointer;
	background:url(/images/trade-msg-trigger.png) center no-repeat;
	background-size:15px;
}

.im-trade-msg-trigger:hover{background:url(/images/trade-msg-trigger-hover.png) center no-repeat #ccc;background-size:15px;}
.im-trade-msg-trigger-on{background:url(/images/trade-msg-trigger-alt.png) center no-repeat #ccc; background-size:15px;}
.im-trade-msg-trigger-on:hover{background:url(/images/trade-msg-trigger-alt.png) center no-repeat #ccc; background-size:15px;}

.im-trade-msg-container{
	position:absolute;
	bottom:40px;
	left:0;
}

.im-trade-msg-container p{margin: 10px 0;}

.im-trade-msg-container span{
	border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

.im-trade-msg-container span:hover{background:#f6f6f6;}

p.im-trade-system-offer-tips{
	font-size: 13px;
    margin-left: -70px;
    margin-top: 10px;
    border-top: 1px solid #ececec;
    padding-top: 10px;
}

/*20160614 rate*/
.im-header-title-rate{font-size: 18px;line-height: 45px;}
.im-pd-title{font-size:18px; font-weight:bold;}
.im-trade-rate-container{padding:0 10px; }
.im-trade-rating-wrapper{display:table; margin: 0px auto 15px;}
.im-trade-rate-container p{margin:10px 0; font-size:15px;}
.im-trade-rating{
    float: left;
    line-height: 25px;
    font-size: 16px;
	background-size:25px 25px;
	margin-right:10px;
	padding:5px 10px;
	border-radius:4px;
	position:relative;
}
.im-trade-rating:hover{
	background-color:#e7e7e7;
	cursor:pointer;
}

.im-trade-rate-container img {width:25px; height:25px; vertical-align:bottom; margin-right:2px;}



.im-trade-rating-arrow:after{
	content: "";
    position: absolute;
    bottom: -16px;
    left: 25px;
    background: url(/images/trade-rating-arrow.png);
    background-size: contain;
    height: 13px;
    width: 25px;
}

.im-trade-rate-comment{
	width: 100%;
    border: none;
    height: 100px;
    border-radius: 4px;
	padding:10px;
	resize:vertical;
	border: 1px solid #ddd;
}
.im-trade-rate-comment:focus{ outline:none;}

/*20160628 offer msg UI changes*/

.im-bubble-alt{background-color:#cde7e5;}

.im-trade-system-offer-buyer{background: url(/images/trade-offer-buyer.png) no-repeat #fff 10px 6px;}
.im-trade-system-offer-seller {background: url(/images/trade-offer-seller.png) no-repeat #fff 10px 6px;}
.im-trade-system-offer-buyer-fail {background: url(/images/trade-offer-buyer-fail.png) no-repeat #fff 10px 6px;}
.im-trade-system-offer-seller-fail {background: url(/images/trade-offer-seller-fail.png) no-repeat #fff 10px 6px;}

.im-trade-system-offer-buyer, .im-trade-system-offer-seller, .im-trade-system-offer-buyer-fail, .im-trade-system-offer-seller-fail{
    background-size: 30px 30px;
    padding: 10px 15px 10px 45px;
    font-size: 16px;
}

.im-trade-system-offer-seller.im-bubble-alt, .im-trade-system-offer-buyer.im-bubble-alt, .im-trade-system-offer-buyer-fail.im-bubble-alt, .im-trade-system-offer-seller-fail.im-bubble-alt{background-color:#cde7e5; color:#000;}

.im-trade-system-offer-buyer span:before, .im-trade-system-offer-seller span:before, .im-trade-system-offer-buyer-fail span:before, .im-trade-system-offer-seller-fail span:before{
	content:"HK$";
	font-size:13px;
	margin-left:2px;
}

.im-trade-tips{
	position: relative;
    clear: both;
	box-sizing: border-box;
    word-wrap: break-word;
	background:#fff;
	border-radius:5px;
	padding: 10px;
    text-align: center;
    margin: 0 0 15px 0;
}

.im-trade-tips p{margin:0; color:#8e8e93; font-size:12px;}

/*20160629 rate msg*/
.trade-rate-msg{
	width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.trade-rate-msg p{
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    font-size: 13px;
    padding: 2px 8px;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
}
.trade-rate-msg p:hover{background: #f6f6f6;}

.im-trade-rating-arrow:after{z-index:1;}

/*20160630*/
#moreroom{
	font-size: 15px;
    line-height: 30px;
    padding: 0 30px;
    background: #fff;
    color: #00a499;
    border-radius: 20px;
    border: 1px solid #00a499;
    margin: 20px 0;
}
#moreroom:hover{opacity:0.8;}

/*20160705*/
.im-header-title-listing{width:calc(100% - 20px); padding: 0 30px; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.im-list-trade-container{top:64px;}
.im-list-trade-container .im-list-trade-pic{
	height:75px;
	width:75px;
	border-radius: 75px;
    overflow: hidden;
    border: 2px solid #fff;
	top:10px;
	left:10px;
}
.im-list-trade-container .im-list-trade-pic img{width:75px; height:75px;}
.im-list-trade-offer-label-succeed{padding: 2px 4px;}
.im-list-trade-offer-label-decline{
	color: #fff ;
    background: #f13200;
    padding: 2px 4px;
    margin-right: 5px;
    font-size: 12px;
}

.im-tab-notification{
	background:#F13200;
	height:10px;
	width:10px;
	display:inline-block;
	margin-left:2px;
	border-radius:10px;
}

/*20160719*/
.im-trade-btn-sold{
	width: 100%;
	background: #8e8e93;
    border-radius: 4px;
    border: none;
    color: #fff;
    height: 34px;
	line-height:34px;
    margin-top: 5px;
	text-align:center;
}
/*20160719 resend image button*/
.im-resend-btn {
    display: block;
    background-color: rgba(0,0,0,0.4);
    width: 125px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    line-height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	padding: 0 20px;
}

.im-resend-btn img {
	width: 17px;
	height: 17px;
	margin-right: 5px;
	margin-top: -5px;
}

/*20160722 tim*/
.im-empty {width: 100px;}

/*20160728 fix im 30days*/
.im-pd{position:relative; z-index:1}
.im-quote-msg{z-index: inherit;}
.im-info-option{z-index: 2;}
