.hcsb_container{
	border-radius:0!important;
	height:auto!important;
	margin:0 0 20px 0!important;	
	width:auto!important;
}
.hcsb_topTitle{
	display:none!important;
}
.hcsb_container label{
	padding:0!important;
}
.hcsb_outer{
	border:2px solid #eaeaea!important;
	box-sizing:border-box!important;
	min-height:250px!important;
}
.hcsb_container input,
.hcsb_container select{
	border-radius:3px!important;
	border-style:inset!important;
	border-width:1px!important;
	border-color:#abadb3 #e3e9ef #e3e9ef #e3e9ef!important;
	padding:0!important;
}
.hcsb_checkinDateContent img,
.hcsb_checkoutDateContent img{	
	background:#00a499 url('https://cdn.datahc.com/Images/hc_icon_calendar_inverse.gif') no-repeat scroll center center!important; 
	top:0px!important;
	height:20px!important;
	width:21px!important;
}
.hcsb_citySearchWrapper,
.hcsb_checkinDateWrapper,
.hcsb_checkoutDateWrapper{
	float:left!important;
	padding-bottom:0!important;
	width:auto!important;
}
.hcsb_checkoutDateWrapper{
	margin-left:10%!important;
}
.hcsb_checkinDateWrapper{
	margin-right:10px!important;
}
.hcsb_citySearchWrapper{
	margin-right:20px!important;
	padding-bottom:10px!important;
	width:100%!important;
}
.hcsb_citySearchWrapper input{
	box-sizing:border-box!important;
	width:100%!important;
}
.hcsb_checkinDateWrapper select,
.hcsb_checkoutDateWrapper select,
.hcsb_guestsRoomsWrapper select{
	padding:0!important;
}
.hcsb_checkinDay,
.hcsb_checkoutDay{
	margin-left:20px!important;
}
.hcsb_checkinDateLabel,
.hcsb_checkoutDateLabel{
	padding-bottom:10px!important;
}
.hcsb_noDatesWrapper{
	padding:1em 0!important;
}
.hcsb_searchButton{
	background-image:none!important;
	border-radius:0!important;
	font-size:16px!important;
	height:30px!important;
	line-height:30px!important;
	margin-top:19px!important;
}
#hcsb_bodyElements{font-size:1em!important;}
@media only screen and (max-width:600px){
.hcsb_checkoutDateWrapper{
	margin-left:0!important;
	margin-top:10px!important;
}
.hcsb_searchButton{
	padding:0!important;
	text-align:center!important;
	width:100%!important;
}
}
#hc_custTopDest{
	font:12px "Helvetica Neue",Helvetica,Arial,sans-serif;
	width:100%;
}
.hc_i_wrapper{
	float:left;
	width:25%;
}
.hc_i {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 2px 2px 10px;
    position: relative;
}

.hc_i:hover {
    border-color: #00a499;
    border-width: 2px;
    padding: 1px 1px 9px;
}


.hc_i_photo{
	background-repeat:no-repeat;
	background-position:center 0;
	display:block;
	height:120px;
	margin:0 0 10px;
	width:auto;
}

.hc_i h3, .hc_i dl, .hc_i dt, .hc_i dd {
    margin: 0;
    padding: 0;
}
.hc_i h3{
	color:#111111;
	font-size:15px;
	float:left;
	padding:0 8px 0 33px;
	margin:0;
}
.hc_i h3 a,
.hc_i h3 a:visited{
	color:#111
}
.hc_i:hover h3 a{
	color:#00a499
}

.hc_i dd.hc_i_addr {
    display: block;
    height: 16px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-indent: 20px;
    top: 133px;
    width: 20px;
}
.hc_i:hover dd.hc_i_addr {
    left: 9px;
    top: 132px;
}
.hc_i dd.hc_i_addr .hc_icon {
    background: transparent url("https://cdn.datahc.com/Images/hc_flags_8bit.png?1.0.2016.028004-C79758") no-repeat scroll 0 0;
    border: 2px solid #ccc;
    height: 11px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 16px;
}
.hc_flag_tw .hc_icon {
    background-position: -176px -143px !important;
}
.hc_flag_hk .hc_icon {
    background-position: -176px -55px !important;
}
.hc_flag_jp .hc_icon {
    background-position: -192px -66px !important;
}
.hc_i dd.hc_i_numHtls {
    display: block;
    float: right;
    font-size: 1em;
    font-weight: bold;
    padding: 3px 10px 0 0;
    text-align: right;
    white-space: nowrap;
}
.cDivBoth{
	clear:both;
}