.btn-small,.btn_small{
	padding: 2px 8px;
	margin-top:3px;
}
.body_table a{color:#00a499;}
.body_table a:hover{color:#00a499;}
.body_table a.btn{color:#FFF;}

/* Ad */
#ad0 {width:auto; height:auto; margin:10px auto; text-align:center; float:none; display:inline-block;} /* angus 2013-11-28 */
#ad1 {width:300px; height:auto} /* don't set fixed height, need to support adsfactor 300x600 ad */
#ad2 {width:970px; height:90px; margin:20px auto 5px; text-align:center; } /* angus 2013-11-28 */
#ad4 {width:160px; height:600px}
#ad5 {width:300px; height:auto; margin-top:8px}
#ad8 {width:300px; height:auto; margin:8px 0; margin-bottom: 22px; display:none} /* don't set fixed height to support ysm */
#ad9 {width:970px; height:18px}
#ad9 a {font-size:15px; font-weight:bold; text-decoration:underline}
#ad9 a:hover {text-decoration:underline}


/* General */
tr.general_msg td {width:635px; height:100px; text-align:center; vertical-align:middle}
div.general_msg {padding-top:45px; text-align:center}
.clear {clear:both}
.nowrap {white-space:nowrap}
.small {font-size:11px}
.error {color:#FF0000}
.v12 {height:12px; line-height:12px}
.forum_link {font-size:9px; color:#000000; font-family:arial; -webkit-text-size-adjust:none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

optgroup.og_zone{background-color:#DDEDFF}

/* Debug Info */
#debug-container {position:absolute; left:50%; margin-left:-350px; z-index:99}
#debug-frame {position:absolute; width:700px; height:450px}
#debug-content {position:absolute; width:700px; height:450px; z-index:1; background-color:#FFFFCC; border:1px solid #000000; text-align:left; padding:10px; overflow:auto}

/* Pager */
.p_bar {height:20px}
.p_bar a {float:left; height:16px; padding:1px 4px; text-decoration:none}
.p_total {border:1px solid #DDD; font-weight:bold; color:#000000}
.p_pages {border:1px solid #DDD; border-left:0; margin-right:1px; vertical-align:middle; font-weight:bold; color:#000000}
.p_num {border:1px solid #D6E0EF; margin-right:1px; vertical-align:middle}
.p_margin {margin:8px 0; padding-bottom:8px;}
a:hover.p_num  {border:1px solid #000000; text-decoration:none}
.p_redirect {border:1px solid #D6E0EF; margin-right:1px}
a:hover.p_redirect {border:1px solid #000000; text-decoration:none}
.p_curpage {margin-right:1px; border:1px solid #D6E0EF; vertical-align:middle; background-color:#E6FDDF; color:#000000; font-weight:bold}
.p_top {margin-bottom:5px}
.p_bottom {margin-top:5px}

/* Rank */
.rank_title {width:294px; border-bottom:3px solid #DDD; padding:6px 3px; margin-top:20px}
.rank_table {display:table}
.rank_row {width:300px; display:table-row; border-bottom:1px dashed #DDD}
.rank_row div {padding:6px 3px; float:left}
.rank_tp_col1 {width:22px}
.rank_tp_col2i {width:64px}
.rank_tp_col3i {width:196px}
.rank_tp_col2 {width:180px}
.rank_tp_col3 {width:80px; text-align:right}
.rank_col1 {width:15px}
.rank_col2 {width:187px}
.rank_col3 {width:80px; text-align:right}
.rank_model {}
.rank_cat {font-size:11px; color:#777777}
.rank_price {font-weight:bold; color:#FF6600}

/* Index */
.idx_news_title {width:629px; border-bottom:3px solid #DDD; padding:6px 3px}
.idx_news {width:635px; margin:10px 0 15px 0; font-family:Verdana; font-size:13px; padding-bottom:10px; border-bottom:1px dashed #DDD}
.idx_news .headline {width:100%; margin-bottom:10px; border-bottom:1px dashed #DDD}
.idx_news .headline .cover {float:left; } /* 2013-04-03 updated by Angus */
.idx_news .headline .text {float:left; } /* 2013-04-03 updated by Angus */
.idx_news .headline .title {font-size:15px; font-weight:bold; margin-bottom:8px}
.idx_news .headline .title a {color:#333}
.idx_news .headline .title a:hover {color:#FF9900}
.idx_news .headline .date {color:#999; line-height:22px}
.idx_news .headline .abstract {line-height:22px}
.idx_news .sub {width:623px; background:url(../images/icon/bullet_orange.gif) no-repeat 0 6px; padding-left:12px; line-height:22px}
.idx_news .sub .date {color:#999}
.idx_news .sub div { cursor: pointer;}

.idx_table {width:634px; margin-left:1px}
.idx_group {width:309px; padding-bottom:20px; border:1px solid #DDD}
.idx_group_title {}
.idx_group_inner {padding:12px}
.idx_group_cat {width:170px; line-height:1.75em; float:left}
.idx_group_image {width:106px; height:81px; float:right; border:1px solid #DDD; background-color:#FFFFFF}
.idx_group_image img {width:100px; height:75px; margin:3px}
.idx_cat_stat {font-size:11px; color:#777777}

.idx_rank_title {width:305px; border-bottom:3px solid #DDD; padding:6px 3px}
.idx_rank_table {display:table}
.idx_rank_row {width:311px; display:table-row; border-bottom:1px dashed #DDD}
.idx_rank_row div {padding:6px 3px; float:left}
.idx_rank_tp_col1 {width:22px}
.idx_rank_tp_col2i {width:64px}
.idx_rank_tp_col3i {width:207px}
.idx_rank_tp_col2 {width:191px}
.idx_rank_tp_col3 {width:80px; text-align:right}
.idx_rank_lp_col1 {width:15px}
.idx_rank_lp_col2i {width:64px}
.idx_rank_lp_col3i {width:214px}
.idx_rank_lp_col2 {width:198px}
.idx_rank_lp_col3 {width:80px; text-align:right}
.idx_rank_model {}
.idx_rank_cat {font-size:11px; color:#777777}
.idx_rank_price {font-weight:bold; color:#FF6600}

/* Group page */
.group_menu {width:100%; height:75px}
.group_menu p {font-weight:bold; padding:5px 15px 25px 15px}
.group_cat {width:315px; margin:0 10px 25px 0; float:left} /* angus 2013-11-28 */
.group_cat_image {width:106px; height:81px; border:1px solid #DDD; background-color:#FFFFFF; margin-right:8px}
.group_cat_image img {width:100px; height:75px; margin:3px}
.group_cat_body {width:185px; float:left}
.group_cat_name {font-weight:bold;font-family: "微軟正黑體","Microsoft JhengHei","蘋果儷中黑","Apple LiGothic Medium","黑体","SimHei"; font-size: 16px; }
.group_cat_product p {background:url(../images/icon/bullet_orange.gif) no-repeat 0 7px; margin:0; padding:4px 0 4px 10px}
.group_cat_stat {font-size:11px; color:#777777}

/* Category page */
.cat_filter_table {width:655px; display:table} /* angus 2013-11-28 */
.cat_filter_head {width:100%; display:table-row; background-color:#E7ECDF}
.cat_filter_title {float:left; padding:5px; font-weight:bold}
.cat_filter_clear {float:right; padding:2px 5px}
.cat_filter {width:100%; display:table-row; background-color:#F8F8E8}
.cat_filter div {width:148px; height:36px; float:left; padding:5px; overflow:hidden}
.cat_filter span {font-weight:bold}
.cat_filter select {max-width:145px; width:expression(this.offsetWidth > 145?'145px':true)}

/* Product Grid */
.pgrid_table {width:100%; display:block}
.pgrid_col1 {width:120px; padding:8px 4px 15px 4px; border-top:1px dashed #DDD; border-bottom:1px dashed #DDD}
.pgrid_col2 {width:361px; padding:8px 4px 15px 4px; border-top:1px dashed #DDD; border-bottom:1px dashed #DDD}
.pgrid_col3 {width:150px; padding:8px 4px 15px 4px; border-top:1px dashed #DDD; border-bottom:1px dashed #DDD; text-align:right}
.pgrid_model {font-size:18px; font-weight:bold}
.pgrid_cat {font-size:11px; color:#777777}
.pgrid_price {font-size:18px; font-weight:bold; color:#FF6600}
.pgrid_attr {font-size:11px; table-layout:auto}
.pgrid_attr .name {white-space:nowrap; padding-right:8px}
.pgrid_attr div {width:230px}
.pgrid_bold {font-weight:bold}
.pgrid_label td {width:90px}
.pgrid_label img {vertical-align:top}
.pgrid_minibanner {width:100%}
.pgrid_minibanner td {height:auto; padding:12px 0; text-align:center; vertical-align:middle}

/* Product page */
.prod_prod {width:100%;position:relative;padding-top:20px;} /* angus 2013-11-28 , gama 2015-3-17*/
.prod_prod>div {display:inline-block;vertical-align: top;}
.prod_prod .col1a {width:215px}
.prod_prod .col1b {width:160px}
.prod_prod .col2a {width:440px} /* angus 2013-11-28 */
.prod_prod .col2b {width:475px}
.prod_prod .col3a {width:300px;position:absolute;top:20px;}
.prod_prod .col3b {display:block;margin-left: 300px;}
.prod_prod .col3b.position {position:relative;}
.prod_prod .col3b .report {position:absolute; top:0; right:20px; -moz-opacity:.4; filter:alpha(opacity=40); opacity:.4;}
.prod_prod .head_a {width:355px; min-height:66px; margin:0 10px 12px 0} /* angus 2013-11-28 */
.prod_prod .head_b , .my_trade .main .head_b{width:390px; margin:0 10px 12px 0}
.prod_prod .head_c {width:335px; margin:0 10px 12px 0}
.prod_prod .model , .prod_prod .mem_name , .my_trade .main .mem_name {font-size:18px; font-weight:bold}
.prod_prod .price {font-size:18px; font-weight:bold; color:#FF6600}
.prod_prod .trade_price {font-size:18px; font-weight:bold; color:#00a499}
.prod_prod .price_small {font-weight:bold; color:#FF6600}
.prod_prod .price_discount {font-size:11px; font-weight:normal; color:#707070;}
.prod_prod .desc {font-weight:bold}
.prod_prod .suggest {color:#777777}
.prod_prod .attr {table-layout:auto;display: block;padding-right: 20px;}
.prod_prod .attr td{vertical-align: top;}
.prod_prod .attr .name {white-space:nowrap; padding-right:8px;vertical-align: top;}
.prod_prod .attr .name_25 {line-height:25px;}
.prod_prod .attr img.top {vertical-align:top;}
.prod_prod .attr div {display: block;}
.prod_prod .rate {position:relative; width:55px}
.prod_prod .contact_btn:after{content: " 321";}
.prod_prod .contact_btn {display:block; width:100px; height:34px; 
  cursor:pointer; border:1px solid #00a499;background:#00a499;border-radius: 6px;color:#FFF;} 
.prod_prod .trade_func {width:340px; padding-top:10px;}
.prod_prod .thumb_area {padding-top:10px;}
.prod_prod .thumb_area a .thumb40 {width:40px; height:40px; overflow:hidden; float:left; display:inline-block; margin-right:10px; border:1px solid #DDDDDD; background-size:cover; background-position:center; background-repeat:no-repeat;}
.prod_prod .thumb_area a .thumb60 {width:60px; height:60px; overflow:hidden; float:left; display:inline-block; margin-right:10px; border:1px solid #DDDDDD; background-size:cover; background-position:center; background-repeat:no-repeat;}
.edit_prod {display:block; width:100%;  background:#fffbe1; border:1px solid #FC9; margin-bottom:10px;padding:10px 0px;}
.edit_prod a {line-height:25px; padding-left:10px;}
.login_notice {display:block;background:#fffbe1; border:1px solid #FC9; margin-bottom:10px;width:732px;margin-left:84px;text-align:center;height:100%;color:#003399;line-height:25px;padding-left:10px}
.register_notice {display:block;background:#fffbe1; border:1px solid #FC9; margin-bottom:10px;width:769px;margin-left:84px;text-align:center;height:100%;color:#003399;line-height:25px;padding-left:10px}

/* Added style (2013-09-25) by Seraph*/
/* product trading */
.prod_trading { width:100%;}
.prod_trading tbody{width:100%;}
.prod_trading td {padding:5px; border-bottom:1px dashed #DDDDDD;}
.prod_trading td.border {border:0}
.prod_trading .review_line {height:1px; border:0; border-top:1px solid #DDDDDD; padding: 0 0 10px 0;}
.prod_trading a {color:#555;text-decoration:none;}
.prod_trading a.btn{color:#FFF;}
.prod_trading a.btn.btn-small{font-size:13px;}
.prod_trading a .thumb60 {width:60px; height:60px; overflow:hidden; float:left; display:inline-block; margin-right:10px; border:1px solid #DDDDDD; background-size:cover; background-position:center; background-repeat:no-repeat;}
.prod_trading .head td {height:15px;  border-bottom:2px solid #eaeaeA;color:#888;}
.prod_trading .head td:first-child{width:50px;}
.prod_trading .price {font-weight:bold; color:#00a499;}
.prod_trading .date {vertical-align:top; text-align:right; font-size:9px; color:#777;}
.prod_trading .selling {color:#00a499;font-weight:bold;font-size: 13px;}
.prod_trading .sellend {color:#ff0000;font-weight:bold;font-size: 13px;}
.prod_trading .ask_btn {display:block; width:80px; height:20px; background:url(../images/icon/ask.gif) no-repeat; border:0; cursor:pointer; margin:15px 0;}
.prod_trading .ask_btn:hover {background:url(../images/icon/ask_o.gif) no-repeat;}
.prod_trading .ask_answer { width:600px; margin:5px auto;}
.prod_trading .tips_box {width:590px; margin:10px auto; color:#535353; background-color:#F3F3E6; padding:5px 5px;}
.prod_remarks {background:#fffbe1; padding:10px; font-size:13px; margin-bottom:15px;}
.prod_remarks .remarks_date {font-size:11px; color:#939393; text-align:right; margin:0;}
.prod_trade_contact {padding:5px 10px; margin-bottom:10px; width:317px; border:1px solid #CCC; background:#FFFFFF;}
.prod_trade_contact .trade_item_row {clear:left; margin:3px 0;}
.prod_trade_contact .trade_item_row .item_title {float:left; margin-right:20px; width:60px;}
.prod_trade_contact .trade_item_row .item_info {font-weight:bold;}


.description {padding:0 10px 20px 10px; font-size:15px;}
.label {padding:20px 10px 10px 10px;}
a.btn_sell { display:block; margin:20px 0; text-align:center; cursor:pointer;}
.btn_sell { display:block; margin:20px auto; width:120px; height:25px; line-height:23px; text-align:center; cursor:pointer;}
.stat_red { display:block; color:#bb0000; font-size:18px; line-height:18px; font-weight:bold; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}
.stat_green { display:block; color:#00a499; font-size:18px; line-height:18px; font-weight:bold; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}


/* Added style (2013-10-08) by Roland*/
.prod_trading button.reply_submit {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -365px; cursor:pointer; border:0; margin:5px auto;} 
.prod_trading .trade_reply_btn {cursor:pointer;}


/* Added style (2013-09-27) by Seraph*/
/* merchant quote */
.m_quote { display:block; width:633px; height:160px; border:1px solid #bbb; margin:15px 0;}
.m_quote_content {margin:15px;}
.m_quote_content .m_quote_content_col1 {float:left; display:inline-block; margin-right:10px;}
.m_quote_content_col2 {float:left; display:inline-block; width:341px;}
.m_quote_content_col3 {float:right;}

/* member contacted */
.contacted { display:block; margin:15px 0;}
.contacted table {width:100%; height:auto; margin-top:5px; }
.contacted table tr {vertical-align:middle;}
.contacted table th {padding:5px;border-bottom:2px solid #EAEAEA;}
.contacted table td {padding:5px;}
.contacted table td.line {padding:0; border-bottom:1px dashed #ddd;}
.contacted a.cancel_mark { vertical-align:top; line-height:20px; margin-right:5px; color:#777; cursor:pointer;}
.contacted .mark {cursor:pointer;}
.contacted .deal { display:inline-block;  background:#FFDC27; padding:3px; margin-right:10px; text-align:center; line-height:15px;}

.prod_rate {position:absolute}
.prod_rate .score {width:75px; height:48px; background:url("../images/rating_bg.gif") no-repeat; text-align:center; padding:15px 0 12px 0; font:bold 20px Arial; color:#646400}
.prod_rate .score .big {font-size:48px; line-height:48px; letter-spacing:-2px}
.prod_rate .detail {position:relative; top:2px; left:-88px; width:139px; padding:5px 10px; border:2px solid #EFEFC3; background-color:#FFFFFF; text-align:center}
.prod_rate .detail table {table-layout:auto; margin-bottom:5px}

.prod_quote {display:block}
.prod_quote td {padding:6px 4px; border-bottom:0}
.prod_quote img {vertical-align:-3px}
.prod_quote .head td {font-weight:bold; background-color:#E7ECDF; border:0}
.prod_quote .addr {padding-top:3px; font-size:11px; color:#777}
.prod_quote .price_line {height:18px}
.prod_quote .price {font-weight:bold; color:#FF6600}
.prod_quote .price_icon {margin-top:4px}
.prod_quote .cheap {font-weight:bold; color:#FF0000}
.prod_quote .date {vertical-align:bottom; font-size:9px; color:#777}
.prod_quote .mc {width:148px}
.prod_quote .remarks {width:311px}
.prod_quote .rowend {padding-bottom:12px; border-bottom:1px dashed #DDD; text-align:right}
.prod_quote_line {width:100%; height:1px; background-color:#BBBBBB; overflow:hidden; margin:8px 0}

.prod_quote .ar_outer {position:relative; background:#FFF6D3; border-radius:3px; width:75px; max-width:140px; height:auto; padding:3px 0 3px 20px; color:#B82B25; margin-top:12px}
.prod_quote .ar_inner {position:absolute; left:-5px; top:-3px}
.prod_quote .ar_text {color:#616161}

.prod_review {width:640px;} /* angus 2013-11-28 */
.prod_review .left {width:150px; background:url("../images/review_bg.jpg") no-repeat 85px 0}
.prod_review .avatar {width:75px; height:75px; border:1px solid #DDD; margin-bottom:6px; overflow:hidden}
.prod_review .avatar.img60 {width:60px height:60px;}
.prod_review img { max-width:71px; max-height:71px;}
.prod_review p { margin:0;}
.prod_review .align {display:table-cell; vertical-align:middle; text-align:center; margin:5px 0;}
.prod_review .info {width:139px; margin-top:12px}
.prod_review .info td {padding:1px 0}
.prod_review .rate {table-layout:auto; margin-top:12px}
.prod_review .rate td {padding-right:6px; white-space:nowrap}
.prod_review .line {width:100%; height:1px; background-color:#DDD; overflow:hidden; margin:5px 0}
.prod_review .row {width:471px}
.prod_review .row div {float:left; line-height:16px /* for chrome */}
.prod_review .col1 {width:50px; padding:3px 0; font-weight:bold}
.prod_review .col2 {width:421px; padding:3px 0}
.prod_review .score {width:30px; height:18px; text-align:center; padding:7px 0 5px; font:bold 18px/18px Arial; color:#888888; background-color:#EEEEEE; border:1px solid #DDD; overflow:hidden}
.prod_review .foot {width:431px; height:30px; padding-left:8px}
.prod_review .hide {display:none}
.prod_review .blue {color:#3366FF}
.prod_review_line {width:100%; height:1px; background-color:#BBBBBB; overflow:hidden; margin:8px 0}

.prod_ext {text-align:left}
.prod_ext table {table-layout:auto}
.prod_ext td {padding:4px 2px}
.prod_ext .grid td {border:1px solid #DDD}

.prod_annot tr {height:25px}
.prod_annot td {width:90px}
.prod_annot img {vertical-align:top}
.prod_minibanner {width:640px; height:auto; text-align:center; padding:12px 0; border-bottom:1px dashed #DDD}

/* Added style (2013-09-25) by Seraph*/
/* create product */
.crea_prod_table {width:635px; display:block; text-align:left;}
.crea_prod_title , .m_quote_title {width:100%; font-size:22px; padding:5px 0; text-indent:10px;}
.crea_prod_form {display:block; width:100%; padding-bottom:30px;}
.crea_prod_form tr.field_title {height:35px; text-align:left;}
.crea_prod_form tr.dotline {height:15px; border-bottom:1px dashed #989898; margin-bottom:15px;}

.crea_prod_form a:hover {text-decoration:none; color:#1A66FF}
.crea_prod_form .btn_preview { display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -337px; cursor:pointer; border:0;}
.crea_prod_form .btn_preview:hover , .crea_prod_form .prod_img .btn_prod_remove:hover {-moz-opacity:.85; filter:alpha(opacity=85); opacity:.85;}
.crea_prod_form .prod_img {width:60px; height:60px; margin:3px 15px 8px 0; float:left; display:inline-block; position:relative;}
.crea_prod_form .prod_img img.thumb60 {max-width:60px; max-height:60px; border:1px solid #DDDDDD; margin:auto; display:block;}
.crea_prod_form .prod_img .btn_prod_remove {width:14px; height:41px; display:block; background:url(../images/btn_remove.png) no-repeat; position:absolute; cursor:pointer; margin:0; padding:0; right:-2px; top:0;}
.crea_prod_form .btn_prod_upload {display:inline-block; width:60px; height:60px; background:url(../images/btn_prod_upload.png) no-repeat; cursor:pointer; border:0; margin:3px 15px 0 0;}
.crea_prod_form .btn_prod_upload:hover {box-shadow: 1px 1px 5px #e8e8e8;}
.crea_prod_form .btn_prod_upload input {-moz-opacity:0; filter:alpha(opacity=0); opacity:0; width:60px; height:60px; cursor:pointer;}

.func {color:#666666}
.required {color:#FF0000}
.member {font-weight:bold}
.preview_head {width:100%; display:table-row; background-color:#E7ECDF; margin-bottom:20px;}
.preview_title {float:left; padding:5px; font-weight:bold;}
.preview_edit {float:right; padding:2px 5px;}
.edit_prod_btn {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat -95px -307px; cursor:pointer; border:0;} 
.submit_prod_btn {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -365px; cursor:pointer; border:0; margin:20px auto;} 
.submit_prod_btn:hover , .edit_prod_btn:hover {-moz-opacity:.85; filter:alpha(opacity=85); opacity:.85;}

/* Added style (2013-10-04) by Seraph*/
/* Regular Form */
.regular_form {clear:both; width:600px; margin:0 auto; padding:30px 0;}
.regular_form .box { font-size:15px;width:500px; min-height:300px; border:1px solid #EZEZEZ;padding:10px 50px; margin-bottom:50px;}
.regular_form .box div{margin-bottom:10px;}
.regular_form .box img {display:inline-block;}
.regular_form .box span {vertical-align:top;}
.regular_form .box span.title {display:inline-block; width:100px; min-height:20px; font-size:15px; text-align:left;}
.regular_form .box span.fill {display:inline-block; width:250px; text-align:left; font-size:13px;}
.regular_form .box span.fill .text {height:20px; border-radius:5px; border:1px solid #cccccc; text-indent:5px;}
.regular_form .box span.fill .text150 {width:150px;}
.regular_form .box span.fill .text230 {width:230px;}
.regular_form .box span.fill .textarea {width:250px; height:100px; vertical-align:top;}
.regular_form .box .textarea {min-height:100px;}
.regular_form .box a.btn_form_cancel {display:inline-block; width:94px; height:28px; margin:20px; border:0; background:url(../images/price_interface_element.png) no-repeat -95px -307px;}
.regular_form .box a.btn_form_submit {display:inline-block; width:94px; height:28px; margin:20px; border:0; background:url(../images/price_interface_element.png) no-repeat 0 -365px;}
.regular_form .box a.btn_form_rate {display:inline-block; width:94px; height:28px; margin:20px; border:0; background:url(../images/price_interface_element.png) no-repeat -95px -336px;}
.regular_form .box a.btn_form_comfirm {display:block; width:151px; height:42px; background:url(../images/price_interface_element.png) no-repeat -164px -140px; margin:50px auto;}
.regular_form .box a:hover {opacity:1; filter:alpha(opacity=100); opacity:1; cursor:pointer;}
.regular_form ul {margin-left:18px; padding:0;}
.regular_form ul li {text-align:left; margin-bottom:5px;}
.regular_form .font_grey {color:#777; font-size:12px;}
.regular_form p.font15 {font-size:15px;}
.regular_form p.greentext { display:inline-block; color:#00a499; font-size:24px; line-height:40px; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}
.greentext{ display:block; color:#00a499; font-size:24px; line-height:40px;font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}
.regular_form p.redtext { display:inline-block; color:#bb0000; font-size:24px; line-height:40px; font-weight:bold; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}

.regular_form #back_btn {display:block; width:151px; height:42px; background:url(../images/price_interface_element.png) no-repeat -164px -181px; margin:50px auto;}
.submit_btn {display:block; width:151px; height:42px; background:url(../images/price_interface_element.png) no-repeat 0 -265px; margin:30px auto; cursor:pointer; border:0;}


/* Image */
a.thumb:hover img {border:1px solid #A5BA7B; cursor:url(../images/magnify.cur),auto}
.img60 {width:60px; height:60px; border:1px solid #DDD}
.img100 {width:100px; height:100px; border:1px solid #DDD}
.img150 {width:150px; height:150px; border:1px solid #DDD}
.img200 {width:200px; height:200px; border:1px solid #DDD}
.img200x100 {width:200px; height:100px; border:1px solid #DDD}
.img100x50 {width:100px; height:50px; border:1px solid #DDD}
.img280 {max-width:280px; max-height:280px;} /* Added style (2013-09-26) by Seraph*/
.img280box {width:282px; height:100%; display:table-cell; vertical-align:middle; text-align:center;border:1px solid #DDD;} /* Added style (2013-09-26) by Seraph*/
.avatar {border-radius: 50%;}
/* facebook icon */


.filter { float:right; padding-bottom:3px;}
.ban_acc { display:block; font-size:1.1em; font-weight:bold; color:#ff0000; border:1px solid #ff0000; padding:5px; text-align:center;}

.trade_guide {background:#FFFFE0; position:relative;}
.trade_guide td{color:#777; padding:5px 0 5px 8px; border:0;}
.trade_guide td span {color:#FF0000;}
a.guide_close {position:absolute; display:block; width:13px; height:13px; background:#FFF; border:1px solid #b4b4b4; color:#777; text-align:center; line-height:13px; font-size:11px; top:0; right:0; cursor:pointer;}
a.guide_close:hover {text-decoration:none;}

.trade_rate{width:455px; margin:0 auto;}
.trade_rate table { width:450px; }
.trade_rate table td {border-bottom:0; padding:5px 0;}
.trade_rate table td span {color:#777;}
.trade_rate .rate_submit {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -365px; cursor:pointer; border:0; margin:5px auto;} 
.trade_rate .rate_submit:hover {-moz-opacity:.85; filter:alpha(opacity=85); opacity:.85; }
.trade_rate .tips_box {width:450px; margin:5px auto; color:#535353; background-color:#F3F3E6; padding:5px 5px;}


/* Added style (2013-10-04) by Seraph*/
/* Tooltips */
a.tooltip {outline:none; color:inherit;font-size:inherit;opacity:1;position:inherit;z-index: 0;display: inline;}
a.tooltip img{padding: 0 0 0 3px;}
a.tooltip p {color:#666666; font-size: 14px; margin-bottom:3px }
a.tooltip p.red-remark {font-size:11px; color:#00a499; font-weight:normal;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
  z-index:10 ; 
  display:none ;
  padding: 14px;
  margin-top:20px ; 
  margin-left:-160px ;
  width:400px ; 
  height:auto ; line-height:16px;
  border: 1px solid #888888!important;
  border-radius: 4px;
  color: #444444; 
  font-size: 13px;
}
a.tooltip:hover span { 
  display:inline ; 
  position:absolute ; 
  border:1px solid #ECECEC ; 
  text-align:left ; 
  font-weight:normal ; 
  background:#FFF ;}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;display:none;}
a.tooltip span
{/*box-shadow:0 2px 5px #666;*/
    opacity:1;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.more{
	clear:both;
	font-size:12px;
	width:100%;
	text-align:center;
	display:block;
	height:26px;
	line-height:26px;
	color:#333;
	text-shadow: 0px 1px 1px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
	background-color:#DDD;
	background: -moz-linear-gradient(#EEE, #CCC);
	background: -o-linear-gradient(#EEE, #CCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC)); /* older webkit syntax */
	background: -webkit-linear-gradient(#EEE, #CCC);
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.more:hover{
	line-height:28px;
	background:#CCC;
	color:#000;
	background: -moz-linear-gradient(#BBB, #DDD);
	background: -o-linear-gradient(#EEE, #CCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC)); /* older webkit syntax */
	background: -webkit-linear-gradient(#EEE, #CCC);
}

/* Gallery CSS */
.full-image a.visible{
	display:block;
}
.full-image a.hidden{
	display:none;
}


/* modify the existing css */

/* trade listing page */

.body_full{ }
.trade_body{width:970px;  text-align:left; display:block; }
.trade_body a{color:#00a499}
.trade_body a:hover{color:#00a499;}

.trade_section{ width:100%; display:inline-block; margin:5px 0; }
.trade_section td{white-space:nowrap;}
.trade_section_title{ font-size:18px; padding:8px 45px 8px; font-weight:normal; cursor:default; position:relative; }
.trade_section_title a{ color:#444; text-decoration:none; }
.trade_more{ font-size:13px; margin-left:5px; font-weight:normal; text-shadow:none; color:# }

.trade_hline{ width:100%; height:10px; line-height:10px; overflow:hidden; margin-bottom:10px; display:block; border-bottom:1px solid #dadada; }
#trade_add{ position:absolute; display:block; right:35px; top:0px; }
#trade_add_btn{ padding:3px 22px 3px 10px; color:#fff ; text-shadow:none;border-radius:8px; font-size:16px; background-color:#00a499; background-image:url(../images/btn-trade-tips.png); background-repeat:no-repeat; background-position:right center;cursor:pointer; }
#trade_add_btn:hover{background:#008a82;}
#trade_add_guide{ position:absolute; display:none; top:26px; right:0; background-color:#FFF; padding:6px; border:1px solid #CCC; box-shadow:0 2px 5px #666; width:250px; text-shadow:none; font-size:15px; }

.trade_hot_btn{ display:block; width:80px; height:280px; position:absolute; cursor:pointer; }
.trade_hot_btn .trade_hot_arrow{ width:80px; height:60px; display:block; background-repeat:no-repeat;background-size:80%; background-position:center; display:block; position:absolute; top:107px;  }

#trade_hot_btnL .trade_hot_arrow{ background-image:url(../images/icon/slider-prev.png); }
#trade_hot_btnR .trade_hot_arrow{ background-image:url(../images/icon/slider-next.png); }
#trade_hot_btnL{ left:-34px; }
#trade_hot_btnR{ right:-34px; }
#trade_hot_btnL:hover .trade_hot_arrow{background-image:url('../images/icon/slider-prev-hover.png');}
#trade_hot_btnR:hover .trade_hot_arrow{background-image:url('../images/icon/slider-next-hover.png');}

/*trade hot*/
.trade_hot{ width:655px; height:285px; float:left; overflow:hidden; }
.trade_hot_body{ width:653px; height:284px; background:#FFF; position:relative; }
#trade_hot_items_wrapper {margin:0 45px; width:557px; overflow:hidden;}
#trade_hot_items{ width:1680px; display:block; margin:0 auto; }
.trade_hot_item{ float:left; margin:0 0 20px; overflow:hidden; background:#fff;border:1px solid #eaeaea;border-right:none;padding:10px 17px 10px;text-align:center; }

.trade_hot_thumb{ display:block; width:150px; height:150px; padding:2px;  overflow:hidden; }
.trade_hot_thumb img{ width:150px; height:150px; }
.trade_hot_title, a.trade_hot_title{ display:block;width:150px;color:#444 !important;  font-size:15px; margin-top:3px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.trade_hot_price{ width:150px; color:#00a499; font-size:16px; font-weight:bold; font-family:arial, sans-serif; white-space:nowrap; text-overflow:ellipsis; cursor:default; }

.trade_new{ width:970px; }
.trade_new_body{ width:968px; position:relative; }
#trade_new_items{  display:block; margin:0 auto;margin-left:44px;margin-right:39px;border:1px solid #ECECEC;border-width:1px 0 0 1px;font-size:0;}
.trade_new_item::before,.trade_new_item::after{content: "";margin:0;padding:0;}
.trade_new_item{ display:inline-block;margin: 0; padding:20px; background:#fff;border:1px solid #ECECEC;border-width: 0 1px 1px 0;text-align: center; }
.trade_new_thumb,.trade_new_item .trade_hot_thumb{ display:block; width:180px; height:180px; padding:2px;  overflow:hidden; }
.trade_new_thumb img,.trade_new_item .trade_hot_thumb img{ width:180px; height:180px; }
a.trade_new_title,.trade_new_item .trade_hot_title{ display:block;width: 180px;  color:#333; font-size:16px; margin-top:3px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
a.trade_new_title:hover{color:#333;}
.trade_new_price {display:block; color:#00a499; font-size:18px; font-weight:bold; font-family:arial, sans-serif; white-space:nowrap; text-overflow:ellipsis; cursor:default; }


.trade_others{ width:970px; height:288px; overflow:hidden; }
.trade_others_body{ width:968px; height:280; border-top:1px solid #ECECEC;margin-top:20px; }
.trade_others .trade_section_title{ color:#000; font-size:16px; }
#trade_others_items{  display:block; margin:0 auto;margin-left:44px;margin-right:38px;font-size: 0;border:1px solid #ECECEC; border-width:1px 0 0 1px; }
.trade_others_item{ display:inline-block; margin:0; overflow:hidden; border:1px solid #ECECEC; border-width:0 1px 1px 0;padding:13px;text-align: center;}
.trade_others_thumb{ display:block; width:130px; height:130px; background:#fff; padding:2px; border:1px solid #ccc; overflow:hidden; }
.trade_others_thumb img{ width:130px; height:130px; }
.trade_others_title{ display:block; width:130px; color:#0630a0; font-size:15px; margin-top:3px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.trade_others_price{ width:130px; color:#00a499; font-size:16px; font-weight:bold; font-family:arial, sans-serif; white-space:nowrap; text-overflow:ellipsis; cursor:default; }
.trade_others_thumb:hover{ border:1px solid #999; box-shadow:0 0 6px #aaa; -moz-box-shadow:0 0 6px #aaa; -webkit-box-shadow:0 0 6px #aaa; }
.trade_others_title:hover{ color:#f90; }

.trade_showlist{ display:block; width: 300px; height: 45px; line-height: 45px; color:#fff; font-size:18px;  margin: 20px auto 50px; background:#00a499;text-align:center;border-radius:10px; }
.trade_showlist:hover{color:#FFF;background:#008a82;text-decoration:none;}


.member_body table {display:table; width:100%;}
#Pagereg .regbox .reginfofill {width:400px;}
#Pagereg .regbox {float:left; width:430px; height:auto; border:1px solid #c4c4c4; box-shadow:3px 3px 3px #d3d3d3; font-size:15px; text-align:left; padding:10px 0 10px 25px; margin-bottom:50px;}


.howto_trade {text-align:left; height:75px; color:#3f3f3f; margin-bottom:10px; background:url(../images/howto_trade_bg.png) no-repeat; background-position:left bottom;background-size:670px auto;}
.howto_trade .howto_trade_title {color:#916c8f; font-weight:bold;}
.howto_trade .trade_step {display:inline-block; float:left; width:184px; height:auto; margin:12px 11px;}
.howto_trade .trade_step span.trade_pt {display:inline-block; float:left; width:15px; height:15px; border-radius:10px; background:#916c8f; color:#fff; line-height:15px; text-align:center; font-weight:bold; margin-right:6px;}
.howto_trade .trade_step span.trade_content {float:left; width:160px;}
.my_trade .trade_guide td{font-size: 12px;}
.trade_guide span.guipt {display:inline-block; width:5px; height:5px; border-radius:10px; background:#F90; margin-right:3px;}
#search_sechand {float:left; width:325px; height:22px; line-height:22px; margin:0 0 0 8px; color:#333; padding:0 5px; font-size:13px; border:1px solid #aaa}  /* line-height is to vertical center text in IE */
#searchg_sec{ height:24px; line-height:24px; width:110px; font-size:13px; } /* 2013-04-24 updated by angus */

.ls_inner_tr .trade_search_price{ font-weight:bold; color:#00a499; }
.ls_inner_tr_movr .trade_search_price{ font-weight:bold; color:#ffffff; }

.btn_sell_item { margin:5px 0 10px 5px; line-height:30px; text-align:center; cursor:pointer; background:#00a499; border:1px solid #00a499; color:#FFF; border-radius:3px; font-size:1.2em; text-shadow:0 1px 0 rgba(0,0,0,0.3); font-weight:bold; padding:0 10px;}
.btn_sell_small {margin:2px 5px; line-height:18px; text-align:center; cursor:pointer; background:#00a499; border:1px solid #008a82; color:#FFF; border-radius:3px; font-size:1em; padding:0 5px;  vertical-align:top;}
.btn_sell_item:hover , .btn_sell_small:hover {background:#008a82;}
/****2015-3-17 trade detail page, by gama*****/
.body_table{width:100%;}
.body_table .body_col1{vertical-align:top;}


.trad_help{/*padding-bottom:30px;*/
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  margin-right: 20px;
}
.trad_help a{display: inline-block;text-decoration: none;padding:2px 10px;margin-right:5px;/*border:1px solid #CCC;*/border-radius: 4px;/*color:#555;*/color: #888;font-size: 12px;}
.trad_help a img{/*margin:0 2px 5px;*/margin: 0 2px 3px 0;}
.trad_help a span{line-height: 30px;}
.trad_help a:hover{/*border-color:#00a499;color:#00a499;text-decoration: none;*/color:#888;text-decoration: underline;}
/* Tab */

.tabs{
	display:block;
	margin: 0 20px 20px 0;
  padding: 0;
	padding-bottom: 5px;
}

.tab{
	margin: 0;
  padding: 0;
	display:block;
	height: 38px;
	border-bottom: 2px solid #eaeaea;
}

.tab li{
	margin: 0;
	height: 38px;
	border-bottom: 2px solid #eaeaea;
	display:block;
	float:left;
}

@media screen and (min-width: 1190px){
  .tab li a,.tab li span{   padding: 0 25px;  }
}

.tab li a,.tab li span{
	display:block;
	margin: 0;
	line-height: 32px;
	
	padding:0 20px;
	height: 38px;
	color: #888888;
	font-size: 16px;
	text-align:center;
	text-decoration:none;
}

.tab li span{
	color: #121212;
}

.tab li span{
	border-bottom: 2px solid #f0c400;
}

.tab li:hover {
	border-bottom: 2px solid #aaaaaa;
}

.tab li:hover a,.tab li:hover span {
	color: #444444; 
}

.tab li span:hover {
	border-bottom: 2px solid #f0c400;
}

.tab li span:hover {
	cursor: default;
	color: #121212;
}
.tabs .content{padding:12px 6px; clear:both;padding:12px 6px;background: }


/**Trade Profile**/

.description {padding:0 10px 20px 10px; font-size:15px;width: 100%;  word-break: break-all;overflow: hidden;}
.label {padding:20px 10px 10px 10px;}
a.btn_sell { display:block; margin:20px 0; text-align:center; cursor:pointer;}
.btn_sell { display:block; margin:20px auto; width:120px; height:25px; line-height:23px; text-align:center; cursor:pointer;}
.stat_red { display:block; color:#bb0000; font-size:18px; line-height:18px; font-weight:bold; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}
.stat_green { display:block; color:#00a499; font-size:18px; line-height:18px; font-weight:bold; font-family:微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;}


/* Added style (2013-10-08) by Roland*/
.prod_trading button.reply_submit {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -365px; cursor:pointer; border:0; margin:5px auto;} 
.prod_trading .trade_reply_btn {cursor:pointer;}

 .my_trade ul.tra_taglist {margin: 0px;padding: 0px;display: block;height: 38px;border-bottom: 2px solid #EAEAEA;white-space:nowrap}
 .my_trade ul.tra_taglist li{display: inline-block;margin: 0px;padding: 0px;height: 38px;}
 .my_trade ul.tra_taglist li span,  .my_trade ul.tra_taglist li a{display: block;margin: 0px;line-height: 32px;padding: 0px 10px;height: 38px;
color: #888;
font-size: 14px;
text-align: center;
text-decoration: none;}
.my_trade ul.tra_taglist li span.tag-on {color:#121212; border-bottom: 2px solid #F0C400;}

/**My Trade**/

.my_trade .head td {border-bottom:2px solid #EAEAEA;color:#888;height:15px;}
.my_trade .head td:last-child{min-width:90px;}
.my_trade td {padding:10px 5px; border-bottom:1px dashed #DDDDDD;vertical-align:top; }
.my_trade td.left {width:150px;}
.my_trade .left .avatar {width:30px; height:30px;  overflow:hidden; margin:5px auto;}
.my_trade .left a{text-decoration: none;color:#555;}
.my_trade .left a:hover{color:#00a499;}
.my_trade .left .mem_name { display:inline-block;font-size:13px;}
.my_trade .col1 {float:left; width:70px; font-weight:bold;}
.my_trade .col2 {overflow-y:hidden;}
.my_trade .thumb60 {width:60px; height:60px; overflow:hidden; float:left; display:inline-block; margin-right:10px; border:1px solid #DDDDDD; background-size:cover; background-position:center; background-repeat:no-repeat;}
.my_trade .date {vertical-align:top; text-align:right; font-size:9px; color:#777;}
.my_trade span.prod_name { width:100px; display:block;}
.my_trade button {cursor:pointer; margin-right:5px; }
.my_trade p {color:#777; font-size:11px;}
.my_trade p em {font-style:normal; font-weight:bold;}
.my_trade .line {width:100%; height:1px; background-color:transparent; overflow:hidden; margin-bottom:15px;}
.my_trade .main .col2b table {width:440px;}
.my_trade .main .col2b table td {border:0; padding:5px 0;}
.my_trade .main .head_c{margin:0 10px 12px 0}
.my_trade .main .reminder {position:absolute; top:0; right:-20px;}
.my_trade .main .reminder div {display:inline-block; position:relative; float:right; width:105px; height:35px; margin-right:15px;}
.my_trade .main .reminder .count , .my_trade .main .reminder .count0 {display:block; position:absolute; top:0; right:0; color:#FFF; width:28px; height:17px; text-align:center; line-height:17px; font-size:11px; border-radius:5px;}
.my_trade .main .reminder .count {background:#DB0000;}
.my_trade .main .reminder .count0 {background:#B1B1B1;}
.my_trade .trade_rate_btn , .my_trade .trade_reply_btn {cursor:pointer;}
.my_trade button.reply_submit {display:block; width:94px; height:28px; background:url(../images/price_interface_element.png) no-repeat 0 -365px; cursor:pointer; border:0; margin:5px auto;} 
.my_trade .replyform {margin-top:15px;}
.filter { float:right; padding-bottom:10px;padding-top:10px;}
.ban_acc { display:block; font-size:1.1em; font-weight:bold; color:#ff0000; border:1px solid #ff0000; padding:5px; text-align:center;}



/**Message**/
#reg_success{width:350px;font-size:18px;margin:50px auto;text-align: center;padding:20px;border-radius: 5px;border:1px solid #EAEAEA;}
#reg_success a{display: inline-block;text-decoration: none;font-size: 16px;padding:5px 20px;margin:0 10px 20px;border:1px solid #00a499;background:#00a499;border-radius: 6px;color:#FFF;}
#reg_success a:hover{border-color:#008a82;}#reg_success .regs_box img {display:inline-block;}
#reg_success .regs_box p {text-align:center;}
#reg_success .regs_box a:hover {-moz-opacity:1; filter:alpha(opacity=100); opacity:1;}


/*Popup-dialog*/
.dialog-title, .dialog-content, .dialog-footer{
Font-family:helvetica neue,微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;
}
.dialog-content table.main{margin:0 auto;width:450px;}
.dialog-content table.main td{font-size:14px;padding:5px;}
.dialog-content table.main td.field_title{text-align: right;}
.dialog-content table.main td textarea{width: 100%;}

.body_table .pagination, .trade_section .pagination{margin:0;}
.body_table .pagination-total-wrapper, .trade_section .pagination-total-wrapper{ margin-top:10px; height:35px;}

.body_table .nav-menu,.trade_body .nav-menu{padding:10px 0;border-bottom:2px solid #eaeaea;margin-bottom:10px;color:#00a499;margin-right:20px;font-size:13px;}
.body_table .nav-menu a,.trade_body .nav-menu a,
.body_table .nav-menu div.breadcrumb-dividor, .trade_body .nav-menu div.breadcrumb-dividor{color:#333;}
.body_table .nav-menu div, .trade_body .nav-menu div{color:#00a499;}



.prod_prod .col3b a.tooltip span {
  margin-left: -150px;
}
/* 0702 17:00 end */

/* 20160503 trade create new trade */
.crea_prod_title{text-indent:0;}
.trade-add-pd-img{float:left;}
.trade-add-pd-img-remind{float:left;}

.trade-btn-submit{
	width: 100px;
	background: #ffd321;
	border-color: #ffd321;
	color: #555 !important;
	margin: 0 0 0 20px;
}

.trade-btn-submit:hover, .trade-btn-submit:avtive, .trade-btn-submit:focus{
	width: 100px;
	background: #ffd321;
	border-color: #ffd321;
	color: #555 !important;
	margin: 0 0 0 20px;
}

.trade-add-pd-img .btn_prod_upload {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../images/btn_prod_upload.png) no-repeat;
    cursor: pointer;
    border: 0;
    margin: 3px 15px 0 0;
}

.trade-add-pd-img .btn_prod_upload input {
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.trade-add-pd-img .btn_prod_upload:hover {box-shadow: 1px 1px 5px #e8e8e8;}

.trade-add-pd-img{margin:20px 0 15px 0;}

.trade-add-pd-img-label{
	float: left;
    line-height: 60px;
	margin-right:10px;
}

.trade-add-pd-img-file{float:left;}

.crea_prod_table{width:670px;}
.edit_prod{width:320px;}
.crea_prod_form textarea{
	width:360px;
	height:150px;
}
@media screen and (min-width: 1225px){
.crea_prod_table{width:870px;}
.edit_prod{width:390px;}
}
.trade-add-pd-img-remind span{display:inline-block;}
.crea_prod_form{padding-bottom:0; clear:both;}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.trade-add-pd-img .prod_img {width:60px; height:60px; margin:3px 15px 8px 0; float:left; display:inline-block; position:relative;}
.trade-add-pd-img .prod_img img.thumb60 {max-width:60px; max-height:60px; border:1px solid #DDDDDD; margin:auto; display:block;}
.trade-add-pd-img .prod_img .btn_prod_remove:hover {-moz-opacity:.85; filter:alpha(opacity=85); opacity:.85;}
.trade-add-pd-img .prod_img .btn_prod_remove {width:14px; height:41px; display:block; background:url(../images/btn_remove.png) no-repeat; position:absolute; cursor:pointer; margin:0; padding:0; right:-2px; top:0;}
/* end 20160503 trade create new trade */

/* #9777, hitler, 29042016 second-hand */
.secondhand_body .trade_body .nav-menu{
	margin-right:0;
}

.secondhand_body .trade_body {
    width: 970px !important;
	padding: 0;
}

.secondhand {
    display: inline-block;
    width: 100%;
}

.secondhand .secondhand_menu {
    width: 100px;
    margin: 5px;
    float: left;
    text-align: center;
}

.secondhand .secondhand_menu .secondhand_menu_header {
    padding: 0 5px;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    color: #fff;
    background: #f0c400;
}

.secondhand .secondhand_menu .secondhand_menu_content{
	padding: 5px;
	font-size:15px;
	border:1px solid #ccc;
	border-width: 0 1px 1px 1px;
}

.secondhand .secondhand_menu .secondhand_menu_content li{
	padding:10px 0;
}

.secondhand .secondhand_menu .secondhand_menu_content a{
	color:#666;
}

.secondhand .secondhand_menu .secondhand_menu_content_img{
	background-size: contain;
    width: 26px;
    height: 26px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
	margin-left:5px;
	display:none;
}

.secondhand .secondhand_menu .secondhand_menu_content_title{
	/*margin-left: 25px;*/
    line-height: 30px;
}


/*
@media screen and (min-width: 1225px){

	.secondhand .secondhand_content {
	width: 844px !important;
	}
	
	.secondhand .secondhand_content .secondhand_notice{
	width:764px !important;
	}
	
	.secondhand .secondhand_content .trade_section .trade_hot .trade_hot_body .trade_hot_item, .secondhand .secondhand_content .trade_section .trade_new .trade_new_body .trade_new_item, .secondhand .secondhand_content .trade_section .trade_others .trade_others_body .trade_others_item{
	width:208.26px !important;
	}
	
	.secondhand .secondhand_content .trade_section .post_ad2 {
    width: 834px !important;
	}
	
}
*/

.secondhand .secondhand_content {
	width: 860px;
	margin: 0;
	padding: 0 5px;
	float: right;
}

.secondhand .secondhand_content .secondhand_topbar{
	width:100%;
	margin-top:5px;
	
}

.secondhand .secondhand_content .secondhand_notice {
	width: -moz-calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
	margin: 0 5px 5px 0;
	padding: 0 10px;
	font-size: 15px;
	color: #333;
	float: left;
	background-color: #eee;
	line-height: 30px;
}

.secondhand .secondhand_content .secondhand_notice span{
	font-size:15px;
	color:#e02152;	
}

.secondhand .secondhand_content .post_btn{
	float: right;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/trade/2h-post-icon.png);
	background-color: #f0c400;
	border-radius: 5px;
}

.secondhand .secondhand_content .mytrade_btn{
	float:right;
	width:30px;
	height:30px;
	margin-right:5px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url(../images/trade/hp_my_trade.png);
	background-color:#f0c400;
	border-radius: 5px;
}

.secondhand .secondhand_content .post_btn_alert {
    width: 120px;
    height: 45px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/trade/2h-post-icon-box.png);
    position: absolute;
    line-height: 25px;
    margin-top: -42px;
    margin-left: -88px;
    padding: 5px;
    text-align: center;
    color: #666;
    font-size: 13px;
}

.secondhand .secondhand_content .trade_section{
	width:100% !important;
}

.secondhand .secondhand_content .trade_section .trade_hot{
	width:100% !important;
	height: auto;
}

.secondhand .secondhand_content .trade_section .trade_hot .trade_hot_body{
	width:100% !important;
	height: 320px;
	overflow: hidden;
}

.secondhand .secondhand_content .trade_section #trade_hot_items_wrapper{
	width:100% !important;
	margin:0px;
	
}

.secondhand .secondhand_content .trade_section .trade_section_title{
	padding: 10px 0 10px 10px;
	line-height: 30px;
}

.secondhand .secondhand_content .trade_section .trade_section_title .trade_more{
	float: right;
}

.secondhand .secondhand_content .trade_section .trade_hot .trade_hot_body .trade_hot_item{
    padding: 5px;
	margin:0;
}

.secondhand .secondhand_content .trade_section .trade-swiper-container .swiper-slide:last-child{
    border-right:1px solid #eaeaea;
}


.secondhand .secondhand_content #trade_hot_items {
    width: 100%;
}

.secondhand .secondhand_content .trade_section .trade_hot .trade_hot_body .trade_hot_item, .secondhand .secondhand_content .trade_section .trade_new .trade_new_body .trade_new_item, .secondhand .secondhand_content .trade_section .trade_others .trade_others_body .trade_others_item{
	width: 212.26px;
}

.secondhand .secondhand_content .trade_section .trade_hot_title, .secondhand .secondhand_content .trade_section a.trade_hot_title{
	width:150px !important;
	height:22px;
	margin: 3px auto;
}


.secondhand .secondhand_content .trade_section .trade_hot_price, .secondhand .secondhand_content .trade_section .trade_others_price{
	width:100% !important;
}



.secondhand .secondhand_content .trade_hot_thumb {
    display: block;
    width: 100%;
    height: 201px;
	padding:0;
	position: relative;
    overflow: hidden;
}

.secondhand .secondhand_content .trade_hot_thumb img {
	width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin: auto;
    display: block;
    position: absolute;
}

.secondhand .secondhand_content .trade_hot_item:hover, .secondhand .secondhand_content .trade_new_item:hover, .secondhand .secondhand_content .trade_others_item:hover{
opacity: 0.8;
    filter: alpha(opacity=80);
}

.secondhand .secondhand_content .trade_hot_item:hover .trade_hot_title, .secondhand .secondhand_content .trade_new_item:hover .trade_hot_title, .secondhand .secondhand_content .trade_others_item:hover .trade_hot_title{
color: #00a499;
text-decoration:none;
}

.secondhand .secondhand_content  .trade-swiper-container{
 	width: 100%;
    height: 100%;
}


.secondhand .secondhand_content .swiper-wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.secondhand .secondhand_content .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width:25%;
}

.secondhand .secondhand_content .trade_section .post_ad2 {
    text-align: center;
    width: 850px;
}

.secondhand .secondhand_content .trade_section .trade_new{
	width:100%;
}

.secondhand .secondhand_content .trade_new_body{
	width:100%;
	height: auto;
    overflow: hidden;
}

.secondhand .secondhand_content #trade_new_items{
	margin:0px;
	/*border: none;*/
	
}

.secondhand .secondhand_content .trade_new_body .trade_new_item{
	padding: 5px;
	/*border-width: 1px;*/

}

.secondhand .secondhand_content .trade_section .trade_others{
	width:100%;
	height:auto;
}

.secondhand .secondhand_content .trade_others_body{
	width:100%;
	overflow: hidden;
    height: auto;
}

.secondhand .secondhand_content #trade_others_items {
    margin: 0px;
    /*border: none;*/
}

.secondhand .secondhand_content .trade_others_body .trade_others_item {
    padding: 5px;
   /* border-width: 1px;*/

}

.secondhand .secondhand_content .trade_section .trade_hot_btn .trade_hot_arrow{
	top: 140px;
}

.secondhand .secondhand_content .trade_section #trade_hot_btnR {
    right: -23px;
	z-index:1;
}

.secondhand .secondhand_content .trade_section #trade_hot_btnL {
    left: -27px;
	z-index:1;
}

.secondhand .secondhand_content .trade_section .trade_hot_btn{
	top: 40px;
}

.secondhand .text-price-number, .secondhand .text-price-unit {
    font-family: helvetica neue,微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;
 }

.secondhand .text-price-unit {
    font-size: 15px;
}

.secondhand .text-price-number {
    font-size: 18px;
	margin-left: 2px;
}
/* end of #9777, hitler, 29042016 second-hand */

/* 20160503 trade detail, kenny */
.prod_prod .attr .name {
	vertical-align:middle;
	line-height:26px;
	width:110px;
}

.prod_prod .attr td{vertical-align:middle;}
.trade_price_1st{font-size:14px;}
.trade_price_1st a:hover{color:#e02152;}
a.tooltip p{margin: 0;margin-bottom: 3px;}
.trade-detail-hr{margin:5px 0;}
.prod_prod .contact_btn{
	width:150px;
	height:40px;
	border: 1px solid #ffd321;
  background: #ffd321;
  border-radius: 4px;
  color: #555;
}

.img280box{
	width:280px;
	height:280px;
}

.prod_prod{min-height:400px;}
@media screen and (min-width: 1225px){
	.img280box{width:400px;height:400px;}
	.prod_prod .col3b{margin-left:420px;}
	.prod_prod{min-height:500px;}
}

.img280box img{
	width:100%;
	height:auto;
}

.trade-delete-btn{
	width:120px;
	height:40px;
	color:#e02152;
	display:inline-block;
	background:none;
	border: none;
  border-radius: 4px;
	font-weight:bold;
}

.prod_prod .contact_btn:hover{
	background: #ffc821;
  border-color: #ffc821;
}

.prod_prod .contact_btn{display:inline-block;}
.trade-delete-btn:hover{ color:#cc1b49; }

/* end of 20160503 trade detail, kenny */


/* 20160503 trade detail */
.prod_prod .attr .name {
	vertical-align:middle;
	line-height:26px;
	width:110px;
}

.prod_prod .attr td{vertical-align:middle;}
.trade_price_1st{font-size:14px;}
.trade_price_1st a:hover{color:#e02152;}
a.tooltip p{margin: 0;margin-bottom: 3px;}
.trade-detail-hr{margin:5px 0;}
.prod_prod .contact_btn{
	width:150px;
	height:40px;
	border: 1px solid #ffd321;
  background: #ffd321;
  border-radius: 4px;
  color: #555;
}

.img280box{
	width:280px;
	height:280px;
}

.prod_prod{min-height:400px;}
@media screen and (min-width: 1225px){
.img280box{width:400px;height:400px;}
.prod_prod .col3b{margin-left:420px;}
.prod_prod{min-height:500px;}
}

.img280box img{
	width:100%;
	height:auto;
}

.trade-delete-btn{
	width:120px;
	height:40px;
	color:#e02152;
	display:inline-block;
	background:none;
	border: none;
    border-radius: 4px;
	font-weight:bold;
}

.prod_prod .contact_btn:hover{
	background: #ffc821;
    border-color: #ffc821;
}

.prod_prod .contact_btn{display:inline-block;}
.trade-delete-btn:hover{ color:#cc1b49; }

/* end 20160503 trade detail */


/* 20160504 update*/
.trade-btn-gary{
	width: 100px;
    background: #ddd;
    border-color: #ddd;
    color: #555 !important;
    margin: 0 0 0 20px;
}

.trade-btn-gary:hover, .trade-btn-gary:active, .trade-btn-gary:focus{
	background: #d6d6d6;
  border-color: #d6d6d6;
	color: #555 !important;
}

.crea_prod_form textarea{
	width:383px;
}

/*20160505, trade detail, kenny*/
table.crea_prod_form td{position:relative;}
table.crea_prod_form td .error-msg{
	margin-top: 0px;
	width:140px;
}

.trade-btn{
	color: #555 !important;
	border: 1px solid #ffd321;
	background: #ffd321;
}

.trade-btn:hover, .trade-btn:active, .trade-btn:focus, .trade-btn:visited{
	color: #555 !important;
	background: #ffc821;
    border-color: #ffc821;
}
/*end of 20160505, trade detail, kenny*/

/* 20160504 second-hand listing pg, hitler*/
.secondhand .secondhand_content .trade_section .trade_listing{
	width:100%;
	margin-bottom: 10px;
}

.secondhand .secondhand_content .trade_section .trade_listing .trade_listing_body {
    width: 100%;
    position: relative;
    border: 1px solid #ECECEC;
    border-width: 1px 0 0 1px;
}

.secondhand .secondhand_content .trade_section .trade_listing .trade_listing_body .trade_listing_item{
	display: inline-block;
    margin: 0;
    background: #fff;
    border: 1px solid #ECECEC;
    padding: 5px;
    border-width: 0 1px 1px 0;
    text-align: center;
	width: 212px;
}

/*
@media screen and (min-width: 1225px){
	.secondhand .secondhand_content .trade_section .trade_listing .trade_listing_body .trade_listing_item{
		width: 208px !important;
	}
	
}
*/

.secondhand .secondhand_content .trade_section .pagination-total-wrapper {
    margin-top: 0px;
}

.secondhand .secondhand_content .trade_section .trade_hline {
	height:1px;
}

.secondhand .secondhand_content .trade_section .trade_listing .trade_listing_body a .trade_listing_item:hover{
	text-decoration:none;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.secondhand .secondhand_content .trade_section .trade_listing .trade_listing_body a {
	color:#444;
}
/* end of 20160504 second-hand listing pg, hitler */

/* 19052016 second-hand listing no result, hitler */
.trade_listing_no_result{
	text-align:center; 
	padding:50px; 
	border:1px solid #ECECEC; 
	border-width:0 1px 1px 0;
}
/* end of 19052016 second-hand listing no result, hitler */

/* 20052016 second-hand bookmark */
.secondhand .trade_bookmark{
	background-image:url(../images/trade/trade_bookmark.png);
	height:32px;
	width:32px;
	background-repeat:no-repeat;
	z-index:2;
	position: absolute;
  visibility: visible; 
}
/*
.secondhand .trade_bookmark:hover .bkmark-hidden:hover{
	background-image:url(../images/trade/bookmark-icon-32x32.png);
}
*/

.secondhand .trade_bookmark.active{
	background-image:url(../images/trade/trade_bookmarked.png);
}

.bkmark-hidden{
	display:none;
}

.trade_hot_item:hover + .trade_bookmark{
	display:block;
	left: 180px;
  top: 0px;
}

.trade_new_item:hover + .trade_bookmark, .trade_others_item:hover + .trade_bookmark{
	display:block;
	top: 50px;
  left: 180px;
}
/* end of 20052016 second-hand bookmark */

/* fix bookmark bug, kenny */
.secondhand .trade_bookmark {
    right: 0px;
    top: -1px;
}
.trade_hot_item {position: relative;}
.trade_new_item {position: relative;}
.trade_others_item {position: relative;}

/*20160524 fix swiper overlap the bookmark*/
.secondhand .secondhand_content .trade_section .trade_hot_btn {top: 160px;}
.secondhand .secondhand_content .trade_section #trade_hot_btnR, .secondhand .secondhand_content .trade_section #trade_hot_btnL{height:60px; z-index:5;}
.secondhand .secondhand_content .trade_section .trade_hot_btn .trade_hot_arrow{top:0px;}


/*20160530 second hand 檢舉 product detail page */
.report_icon_title{
	color:#666;
	font-size:14px;
	margin-right:3px;
	margin-left:5px;
}

.prod_prod .report a{
	color:#666;
	text-decoration:none;
}

.prod_prod .report a:hover{
	color:#666;
	text-decoration:none;
}

.prod_prod .report img{
	vertical-align: text-top;
}

.prod_prod .attr td div{
	padding-right: 50px;
}
/*end of 20160530 second hand 檢舉 product detail page */

/*20160530 secondhand report form */
.dialog-content .nav-tabs > li > a{
	font-size: 18px;
	margin-right:0;
}

.dialog-content .nav-tabs {
	background-color: #ffffff;
	border-bottom: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-bottom: 2px #ebebeb solid;
}

.dialog-content .nav-tabs > li {
	text-align: center;
	border-left: 0;
	width:50%;
}

.dialog-content .nav-tabs > li.active > a {
	color: #121212;
	border-bottom: 2px #f0c400 solid;
	border-width: 0 0 2px 0;

}

.dialog-content .tab-content {
	padding-top: 0px;
	display: block;
	padding: 0;	
	margin-top:10px;
}


.dialog-content .fade.in {
	opacity: 1;
}

.dialog-content .trade-item-name{
	/*font-size: 18px;*/
	/*font-weight: bold;*/
	padding-left: 5px;
	line-height:30px;
}

.dialog-content .img60 {
	vertical-align: top;
}

.dialog-content .report-reason-option {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 15px;
	width: 100%;
	line-height: 20px;
}

.dialog-content .report-reason-option select {
	height: 30px;
	background-color: #fafafa;
	width: 280px;
	border-radius: 3px;
	font-size: 14px;
	border: 1px solid #aaa;
	outline: none;
	padding: 2px 4px;
	line-height: 20px;
}

.dialog-footer>.btn-block{
	border: 1px solid #ffd321;
	background: #ffd321;
	border-radius: 4px;
	color: #555;
}

.dialog-footer>.btn-block:hover, .dialog-footer>.btn-block:active, .dialog-footer>.btn-block:focus {
	background: #ffc821;
	border-color: #ffc821;
	color: #555 !important;
}

.secondhand-report-footer{
	bottom:inherit;
	position:initial;
}
/*end of 20160530 secondhand report form */

/*20160530 second hand 檢舉 member detail page */
.prod_prod .col2b .report{
	padding-top:20px;
}

.prod_trading a.btn.btn-small{
	border: 1px solid #ffd321;
	background: #ffd321;
	border-radius: 4px;
	color: #555;
}

.prod_trading a.btn.btn-small:hover, .prod_trading a.btn.btn-small:active, .prod_trading a.btn.btn-small:focus{
	background: #ffc821;
	border-color: #ffc821;
	color: #555 !important;
}
/* end of 20160530 second hand 檢舉 member detail page */

/* my trade edit page button*/
.trade-btn-submit:hover, .trade-btn-submit:active, .trade-btn-submit:focus{
    background: #f1c400;
    border-color: #f1c400;
}

/*trade-profile*/
.trade-profile-pic{
	height: 100px;
    width: 100px;
    display: block;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
	float:left;
}

.trade-profile-pic img{width:100px; height:100px;}

.trade-profile-info{float:left;margin: 5px 0 0 15px;}

.trade-profile-info h2{
	font-size: 20px;
	line-height: 29px;
	margin:0;
}

.trade-profile-rate{
	background:#eee;
	padding:0 10px;
	display: inline-block;
	height: 29px;
	font-size: initial;
	border-radius: 4px;
	margin: 5px 0;
	color: #111111;
}
.trade-profile-rate img{width: 18px;height: 18px;vertical-align:middle;}
.trade-profile-rate span{font-size: 14px;line-height: 30px;margin: 0 25px 0 5px;}
.trade-profile-date{font-size: 14px;color:#8e8e93;}
.trade-profile-date span{margin-right:10px;}
.trade-profile-header{margin:20px 0 15px 0;}


/*tab*/
.nav-tabs {
  background-color: #ffffff;
  border-bottom: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-bottom: 2px #ebebeb solid;
  height:40px;
}

.nav-tabs > li:first-child > a {
          border-radius: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
	 
}

.nav-tabs > li {
	text-align: center;
	border-left: 0;
}

.nav-tabs > li > a:hover {cursor:pointer;}

.nav-tabs > li > a {
	color: #999999;
	border-bottom: 2px #ebebeb solid;
	height:40px;
	font-size: 16px;
	padding: 10px 12px;
}

.nav-tabs > li > a:hover {
	color: #121212;
	background: #ffffff;
	border-bottom: 2px #dddddd solid;
}

.nav-tabs > li.active > a {
	color: #121212;
	border-bottom: 2px #f0c400 solid;
}

.nav-tabs > li.active > a:hover{border-bottom: 2px #f0c400 solid;}


/*trade-list*/
.trade-list-container{margin:20px -5px;}

.trade-list-container .item-wrapper{
	width:25%;
	padding:0 5px 10px;
	float:left;
}

.trade-list-container .item{
	border: 1px solid #eee;
	padding-bottom:10px;
}

.trade-list-container .item a:hover{text-decoration:none;}
.trade-list-container .item a:hover > div{opacity:0.8;}

.trade-list-container .item .item-img{position:relative; overflow:hidden;}

.trade-list-container .item .item-img img {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: absolute;
}

.trade-list-container .trade-item-name{
	width:100%;
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 10px auto 0;
	font-size:14px;
	color: #555;
	padding:0 10px;
	text-align:center;
}

.trade-list-container .product-price {
    color: #00a499;
    height: 20px;
    line-height: 20px;
    display: block;
	font-size:14px;
	text-align:center;
}

.trade-list-container .product-list-view{margin-bottom:10px;}

@media screen and (max-width: 1225px){
.trade-list-container .item-wrapper{width:33.33%;}
}

.trade-list-rate-container{ margin:10px 0;}
.trade-profile-rate-wrapper{
	position:relative;
	min-height: 120px;
	padding:10px 0;
	border-top: 1px dashed #eee;
}
.trade-profile-rate-wrapper:hover{background: #f7f7f7;}
.trade-profile-rate-wrapper:first-child{
	border-top:none;
}

.trade-profile-rate-user{
	width:100px;
	position:absolute;
	left:0;
	top:20px;
}
.trade-profile-rate-pic{
	height: 60px;
    width: 60px;
    display: block;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
	margin:0 auto;
}

.trade-profile-rate-pic img {
    width: 60px;
    height: 60px;
}

.trade-profile-rate-content{
	padding-left: 110px;
	margin:10px 0;
}

.trade-profile-rate-user p{
	text-align:center;
	font-size:13px;
	margin:5px 0;
	font-weight:bold;
	word-break: break-all;
	line-height:13px;
}

.trade-profile-rating{
	padding:5px;
	background:#eee;
	display:inline-block;
	border-radius: 4px;
	margin-right:10px;
}

.trade-profile-rating img{
	width:15px;
	height:15px;
	vertical-align:text-top;
	margin-right:2px;
}
.trade-profile-rate-comment{margin:10px 0;}

.trad_help{margin-right:0;}
.trade-profile-rating-date{color:#8e8e93;}

.trade-profile-wrapper .product-list-pager{padding:0 0 30px 0;}

/* 20160620 edit btn*/
.trade-btn-option{
	position:absolute;
    width: 150px;
}
.trade-btn-option-arrow {
    background-image: url("../images/info_box_arrow.png");
    float: right;
    clear: both;
    height: 10px;
    width: 20px;
    margin-right: 67px;
}

.trade-btn-option-box{
    margin-top: 9px;
    width: 150px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1px;
}

.trade-btn-option-action {
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    color: #444444;
    text-align: center;
}

.trade-btn-option-action:hover {background: #ececec;}
.trade-btn-option-box a:hover{text-decoration:none;}
.trade-btn-option-action-delete{color:#f13200;}

/*20160519 2nd hand alert message -ivy*/
/*.page-view-respond-control .home-wrapper .column-01 {margin-right: 20px;}*/
.page-view-respond-control .alert {min-height: 300px; align-items: center; display: flex;}
.page-view-respond-control .alert .line, .page-view-respond-control .alert .column {text-align: center; vertical-align: middle; margin: auto;}
.alert .line-01 .column-01, .alert .line-01 .column-02 {width: inherit; display: inline-block; margin: auto; float: none;}
.alert .line-01 .column-01 img {padding-right: 0; width: 25px; margin-right: 10px;}
.alert-success .msg-00 {margin-top: 0;}
.alert-success h4 {font-weight: normal; color: #333; font-size: 16px; margin-bottom: 0;}
.alert-success h4 a {color: #00a499;}
.alert-success h4 a:hover {color: #008a82;}
.alert .line-01 .column-03 {margin-top: 20px;}
.trade-alert-btn {font-size: 16px; width: 200px; margin: 0 10px; padding: 8px 0;}
/*End of 20160519 2nd hand alert message -ivy*/

/* 20160621 update*/
.trade-profile-header{ position:relative;}
.trade-profile-header .report {
    position: absolute;
    top: 10px;
    right: 10px;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
    opacity: .4;
}
.trade-profile-header .report a{text-decoration:none;}
.trade-profile-header .report img{vertical-align:text-top;}
.trade-profile-header .report:hover{opacity:.5}

/*20160627*/
.trade-home-wrapper{
	margin:0 auto;
}

.trade-home-content{
	width:970px;
	float:right;
	padding-bottom:50px;
}

.trade-home-content .trade-list-container .item-wrapper{width:20%;}
.trade-home-content .trade-list-container, .trade-list-content .trade-list-container{margin:0 -5px;}

.trade-home-section{margin:0 0 20px 0;}

.trade-section-title{position:relative;border-bottom: 2px #ebebeb solid;height: 40px;}
.trade-section-title h2{
	color: #121212;
    font-size: 18px;
    line-height: 33px;
    font-weight: normal;
    margin: 0 0 10px 0;
    border-bottom: 2px solid #f1c300;
    float: left;
    padding: 0 10px 5px 10px;
}
.trade-section-title-more{ color:#999999; font-size:13px; position:absolute; right:0; top:15px; cursor:pointer;}
.trade-section-title-more:hover{color:#00a499;}

.trade-home-banner img{display:block; margin:0 auto 25px;}

.trade-home-menu{
	width:200px;
	float:left;
	text-align:center;
}

.trade-home-menu-header{
	background:#ffc821;
	color:#4c4436;
	font-size:15px;
	font-weight:bold;
	line-height:40px;
}

.trade-home-menu ul{
	list-style:none;
	padding-left:0;
	border: 1px solid #c6c6c6;
    border-top: none;
	padding:5px 0;
}
.trade-home-menu ul li{line-height:35px; width:50%; float:left; display:inline-block;}
.trade-home-menu ul li:hover{background:#eee;}
.trade-home-menu ul li a{color: #111111;}
.trade-home-menu ul li a:hover{color:#00a499;}

.trade-home-sidebar{width:200px; float:left;}
.trade-home-profile{width:200px; float:left; position:relative;}
.trade-home-profile .trade-profile-pic{width:90px; height:90px; float:none; margin:auto;}
.trade-home-profile .trade-profile-pic img{width:90px; height:90px;}
.trade-home-profile p.trade-home-profile-username{font-size:15px; font-weight:bold; text-align:center; margin:0; color:#121212;}
.trade-home-profile p{text-align:center; margin:0 0 10px 0; color:#999999; font-size:12px;}
.trade-home-profile .trade-profile-rate{padding:0 5px;}
.trade-home-profile a:hover .trade-profile-pic{opacity:0.9;}
.trade-home-profile a:hover p.trade-home-profile-username{color:#00a499;}
.trade-home-profile a:hover{color:#00a499;}

.trade-home-profile-notification{
	position: absolute;
    top: 70px;
    right: 50px;
    background: #f13200;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    padding: 0 6px;
    border-radius: 20px;
}

.trade-list-content{
	width:970px;
	float:right;
	padding-bottom:50px;
}
.trade-list-content .trade-list-container .item-wrapper{width:20%;}

.trade-home-profile .trade-profile-rate{width:160px; display:block; margin:0 auto 5px;}
.trade-home-profile .trade-profile-rate div{display:inline-block; width:33.33%; float:left;}
.trade-home-profile .trade-profile-rate span{margin:0 0 0 5px;}

.trade-home-profile-btn{
	width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #4c4436;
    background: #ffc821;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
	background-image:url(../images/trade-home-add.png);
	background-position:30px 0px;
	background-repeat:no-repeat;
	float:left;
	margin-bottom:10px;
}
a.trade-home-profile-btn:hover, a.trade-home-profile-btn:focus{color:#4c4436; text-decoration:none; opacity:0.9;}

.pagination-wrapper .pagination{margin:0;}

.trade-home-menu a:hover, .trade-home-menu a:focus{text-decoration:none;}
.trade-home-menu a:hover .trade-home-menu-header{opacity:0.9}

.trade-home-content .trad_help{display:none;}
.trade-list-content .trad_help{display:none;}

@media screen and (max-width: 1225px) {
	.trade-home-sidebar{width:100px;}
	.trade-home-profile .trade-profile-rate{display:none;}
	.trade-home-profile{width:100px;}
	.trade-home-menu{width:100px;}
	
	.trade-home-content{width:870px;}
	.trade-home-menu ul li{width:100%;}
	
	.trade-home-profile-notification{right:10px;}
	
	.trade-list-content{width:870px;}
	
	.trade-home-profile-btn{width:100px; background-image:none;}
	
	.trade-home-sidebar .trad_help{display:none;}
	.trade-home-content .trad_help{display:block;}
	
	.trade-list-sidebar .trad_help{display:none;}
	.trade-list-content .trad_help{display:block;}
}


/* 20160630 2nd hand in 1st hand tab*/
a.trade-upload-btn {
    width: 180px;
    height: 34px;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #4c4436;
    background: #ffc821;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/trade-home-add.png);
    background-position: 9px -3px;
    background-repeat: no-repeat;
    float: left;
}

a.trade-upload-btn:hover, a.trade-upload-btn:focus {
    color: #4c4436;
    text-decoration: none;
    opacity: 0.9;
}

.trade-update-time {
    font-size: 11px;
    text-align: center;
    color: #bbb;
    line-height: 22px;
}

.product-detail-tab-content  .trade-list-container .item .item-img {
    height: 208px;
}

/*20160630 fix*/
.trade-profile-info a{color:inherit;}
.trade-profile-rate span{margin: 0 20px 0 5px;}
.trade-profile-rate img{vertical-align: sub;}

/*20160629 bookmark*/
.trade-list-container .item-wrapper{position:relative;}
.trade-item-bookmark{
	position:absolute;
	top:0;
	right:5px;
	background:url(../images/trade/trade-bookmark.png) center center no-repeat;
	display:block;
	height:40px;
	width:40px;
	z-index:1;
	display:none;
}
.trade-list-container .item-wrapper:hover .trade-item-bookmark{display:block;}

.trade-item-bookmark:hover{background:url(../images/trade/trade-bookmarked-hover.png) center center no-repeat; cursor:pointer;}
.trade-item-bookmarked{background:url(../images/trade/trade-bookmarked.png) center center no-repeat; display:block;}

/*20160704 my profile*/
.trade-my-container{margin:20px 0;}

ul.my-table-header{
	list-style:none;
	-webkit-padding-start:0;
	width:100%;
	display:block;
	border-bottom: 1px #ebebeb solid;
	color:#8e8e93;
	margin-bottom:0;
}

ul.my-item-header li{float:left;}
ul.my-item-header li:nth-child(1){width:500px;}
ul.my-item-header li:nth-child(2){width:100px;}
ul.my-item-header li:nth-child(3){width:70px; text-align:center;}

ul.my-item-wrapper{
	list-style: none;
    -webkit-padding-start: 0;
    border-bottom: 1px dotted #ccc;
    min-height: 90px;
    padding: 10px 0;
    margin-bottom: 0;
}
ul.my-item-wrapper:hover{background:#f6f6f6;}
ul.my-item-wrapper li{float:left;}
.my-item-wrapper li a:hover{color:#00a499;}

li.my-item-info{width:500px; position:relative;}
li.my-item-buyer{width:100px;}
li.my-item-action{width:70px;}

.my-item-info .item-info-img{
	width:70px;
	height:70px;
	position:absolute;
	left:0;
	top:0;
	border-radius:2px;
}
.my-item-info p{padding-left:80px; padding-right:10px; margin:0;}
.my-item-info p.item-info-title{color:#111; font-weight:bold; margin-top:2px;}
.my-item-info a:hover p.item-info-title{color:#00a499;}
.my-item-info p.item-info-price{
	color:#00a499;
	font-weight:bold;
	font-size:16px;
	margin:5px 0;
}
.my-item-info p.item-info-price span{
	font-size:13px;
	margin-right:2px;
}
.my-item-info p.item-info-price span.item-info-status{
	background: #a2a2a2;
    color: #fff;
    padding: 2px 5px;
    margin-right: 5px;
}

.my-item-info p.item-info-date{color:#545454; font-size:12px;}
.my-item-info p.item-info-date span{color:#8e8e93;}

.item-buyer-wrapper{ position:relative; margin-bottom:15px;}
.my-item-buyer img{
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:40px;
	border-radius:40px;
	border:1px solid #ccc;
}
.my-item-buyer p{
	margin:0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-item-buyer .item-buyer-username{padding-left:45px;}
.my-item-buyer .item-buyer-wrapper a{color:#111;}
.my-item-buyer p.item-buyer-offer{
	color:#00a499; 
	font-weight:bold;
	line-height:20px;
	height:20px;
	display:block;
	padding-left:45px;
}
.my-item-buyer p.item-buyer-offer span{font-size:12px; margin-right:1px;}

.my-item-buyer p.item-buyer-offer span.item-buyer-offer-accept{
	background:#f0c400;
	color:#4c4436;
	padding:2px 5px;
	margin-right:5px;
}
.my-item-buyer p.item-buyer-offer span.item-buyer-offer-decline{
	background:#f13200;
	color:#fff;
	padding:2px 5px;
	margin-right:5px;
}

.my-item-buyer a.my-item-buyer-more{
	margin-top: 10px;
    display: block;
    color: #00a499;
    font-size: 13px;
}

.my-item-action p{margin:0; text-align:center;}
.my-item-action a{color:#8e8e93; font-size:13px;}

.trade-my-pagination-wrapper{ height:34px; margin-bottom:20px;}
.trade-my-pagination-wrapper .pagination-total{float:left;}
.trade-my-pagination-wrapper .trade-my-filter{float:right;}
.trade-my-pagination-wrapper .trade-my-filter label{
	line-height:34px;
	color:#8e8e93;
	font-size:13px;
	margin-right:5px;
}

.item-buyer-im-notification{
	position: absolute;
    top: 27px;
    left: 27px;
    background: #f13200;
    display: block;
    border-radius: 10px;
    height: 14px;
    width: 14px;
    z-index: 1;
    border: 2px solid #fff;
}

@media screen and (min-width: 1225px){
ul.my-item-header li:nth-child(1){width:650px;}
ul.my-item-header li:nth-child(2){width:150px;}
li.my-item-info {width: 650px;}
li.my-item-buyer {width: 150px;}
}

ul.my-bought-header li{float:left;}
ul.my-bought-header li:nth-child(1){width:500px;}
ul.my-bought-header li:nth-child(2){
	width:170px;
	padding-right:5px;
	text-align:right;
}

.my-item-bought li.my-item-info{width:500px;}
.my-item-bought li.my-bought-action{width:170px;padding-top:15px;}

.my-item-info p.item-info-seller{color:#111;}
.my-item-info a:hover p.item-info-seller{color:#00a499;}
.my-item-bought li.my-bought-action p{
	margin:0; 
	text-align:right;
	padding-right:5px;
}
.my-item-bought .item-bought-offer{
	color:#00a499;
	font-size:16px;
	font-weight:bold;
}
.my-item-bought .my-bought-action a{color:#8e8e93; font-size:13px;}
.my-item-bought .item-bought-offer span{font-size:13px;}

@media screen and (min-width: 1225px){
	ul.my-bought-header li:nth-child(1){width:700px;}
	.my-item-bought li.my-item-info{width:700px;}
}

.trade-profile-rate-content p{
	display:inline-block;
	margin:0;
	color:#8e8e93;
	margin-right:10px;
}
.trade-profile-rate-content p span{color:#111;}

.trade-profile-rate-wrapper a{color:#111;}
.trade-profile-rate-wrapper a:hover p{color:#00a499; text-decoration:underline;}
/* 20160705 share bookmark*/
.prod_prod .attr .trade-detail-share{margin-top:10px;}
.prod_prod .attr .trade-detail-share div{display:inline-block; padding-right:5px;}

.trade-detail-bookmark{
	color: #888888;
    height: 40px;
	border-radius: 4px;
	border: 1px solid #bbbbbb;
	width:150px;
	background:url(../images/trade/trade-bookmark-detail.png) 20px 9px no-repeat;
	background-size:20px 20px;
	margin-left:5px;
	padding-left: 25px;
}
.trade-detail-bookmark:hover, .trade-detail-bookmarked{
	background:url(../images/trade/trade-bookmarked.png) 20px 9px no-repeat;
	background-size:20px 20px;
	border:1px solid #ffd321;
}
input#edit_item:focus {
    outline: none;
    border: none;
}
.trade-detail-wrapper a {color: #00a499;}

.my-item-buyer a.my-item-buyer-total{
	display: block;
    color: #00a499;
    font-size: 14px;
	line-height:25px;
}
.my-item-buyer-total img{
	position:inherit;
    width: 25px;
    height: 25px;
    border-radius: none;
    border: none;
	margin-right:3px;
}
a.my-item-buyer-total:hover img{opacity:0.8;}
.my-item-buyer p{color:#8e8e93;}

/*20160713*/
.trade-profile-list-sold{
	background: #8e8e93;
    color: #fff;
    padding: 2px 4px;
    font-size: 12px;
    margin-right: 5px;
}

.trade-home-menu ul li a {
	display: block;
}

/*20160714*/
.trade-menu-label {
	display: block;
    color: #4c4436;
    background: #ffc821;
    width: 90px;
    height: 40px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.trade-menu-label h2{
	font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    text-align: center;
}
.trade-menu{
	position:absolute;
	display:none;
	text-align: center;
	width: 90px;
    z-index: 99;
    background: #fff;
	margin-top: 39px;
}

.trade-menu ul{
	list-style: none;
    padding-left: 0;
    border: 1px solid #c6c6c6;
    border-top: none;
    padding: 5px 0;
	margin-bottom: 0;
}

.trade-menu ul li{
	line-height: 35px;
    width: 100%;
    float: left;
    display: inline-block;
}
.trade-menu ul li:hover{background: #eee;}
.trade-menu ul li a{color:#111111; display: block;}
.trade-menu ul li a:hover{color:#00a499;}

.breadcrumb-news {position:inherit;}
/*20160720 btn for no buyer chat room count*/
.prod_prod .contact_btn.no_contact {
	border: 1px solid #8e8e93;
	background: #8e8e93;
	color: #fff;
}
/*20160722 tim*/
.trade-profile-empty-img img {width: 150px;}
.trade_listing_no_result a {color: #00a499;}

/*20160725 my trade trade function banned*/
.trade-profile-wrapper .message {color: #f13200}