/*--------------------------------------------------------------------------------------------------
  BETS OF THE DAY // CONTRA.GR
----------------------------------------------------------------------------------------------------*/
html, body, div, button, h1, h2, h3, h4, img, figure, ul, li, a {
  	box-sizing: border-box;
    	-moz-box-sizing: border-box;
      		-webkit-box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
}

html, body {
	margin: 0 auto;
	width: 300px;
	height: 478px;
	overflow-x: hidden;
	overflow-y: auto; 
}

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	background-color: #043793;
}

figure {
	display: block;
	margin: 0;
	max-width: 100%;
}

img {
	display: inline-block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.clear {
  clear: both;
  display: block;
}

.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear:after {
  clear: both;
}

.betblog_articles {
	width: 300px;
	height: 478px;
	color: #ffffff;
}

a {
	color: inherit;
	background-color: transparent;
  	cursor: pointer;
  	text-decoration: none;
}

a:hover,
a:focus {
  	outline: none;
  	outline: 0 solid;
  	text-decoration: none; 
}

.header-block {
	margin: 0 0 10px;
	background-color: #357dd4;
	padding: 20px 10px 8px;
	color: #ffffff;
	font-size: 18px;
	line-height: 17px;
	font-weight: bold;
	text-align: left;
	height: auto;
}

.category,
.title {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	display: inline;
}

/*.category {*/
	/*color: #ff9900;*/
/*}*/

.title {
	color: #8DC6FF;
	/*padding-left: 5px;*/
}

.title a:hover {
	text-decoration: underline;
}

.lead {
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
	margin: 5px 0;
}

.lead p {
  display: inline;
}

.main_story {
	margin-bottom: 20px;
	height: 250px;
	overflow: auto;
}

.main_story .thumbnail {
	margin-bottom: 6px;
	height: 145px;
	overflow: hidden;
}

.main_story .lead {
	margin-top: 6px;
}

.rest_stories {
	list-style: none;
	margin: 0 -10px;
	padding: 0;
}

.rest_stories article {
	height: 128px;
	overflow: hidden;
}

.rest_stories .thumbnail {
	margin-bottom: 5px;
	height: 77px;
	overflow: hidden;
}

.rest_stories li {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	padding: 0 10px;
}

.rest_stories li:nth-child(2n+1) {
	clear: left;
}

.rest_stories .title,
.rest_stories .category {
	display: block;
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}

.rest_stories .title {
	margin-top: 1px;
}

.category {
	color: #ff9900;
}

.headers .category,
.headers .title {
	display: inline;
}

.category a:hover {
	text-decoration: underline;
}








