@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:none;
}
body * {
	margin:0;
	padding:0;
	border:none;
	font-size:12px;
	color:#333;
	font-family: Arial, Helvetica, sans-serif;
	outline:none;
}
.NY2013 {
	background: url("../images/img_ru/NYbg2013.png") repeat-x;
}
.NY2013 div {
	background: url("../images/img_ru/NY2013.png") no-repeat scroll center center transparent;
	margin: 0 auto;
	height:90px;
}
/* common styles
*****************/
.in {
	width:956px;
	margin:0 auto;
	padding:0 8px;
}
.clear {
	clear:both
}
.f_left {
	float:left;
}
.f_right {
	float:right;
}
h2 {
	font-family: pf_dindisplay_pro_mediumRg !important;
	font-weight:400 !important;
	text-transform:uppercase;
}
* { _noFocusLine: expression(this.hideFocus=true); }

a:active, a:select, a:visited { 
    border: none;
    outline: none;
}
/* header
*****************/
.header {
	height:69px;
}
.header .logo {
  float: left;
  width: 205px;	
}
.header .banner_top {
padding: 8px 0 0 10px;
float: left;
}
.header .soc {
	float: right;
    width: 117px;
}

.header .soc .google {
	background: url(../images/soc.png) no-repeat 0 0;
	width: 27px;
	height: 28px;
	float: left;
	margin-top: 23px;
}
.header .soc .fb {
	background: url(../images/soc.png) no-repeat -30px 0;
	width: 27px;
	height: 28px;
	float: left;
	margin-top: 23px;
	margin-left: 3px;
}
.header .soc .twitter {
	background: url(../images/soc.png) no-repeat -60px 0;
	width: 27px;
	height: 28px;
	float: left;
	margin-top: 23px;
	margin-left: 3px;
}
.header .soc .vk {
	background: url(../images/soc.png) no-repeat -90px 0;
	width: 27px;
	height: 28px;
	float: left;
	margin-top: 23px;
	margin-left: 3px;
}
.header .soc .google:hover {
	background: url(../images/soc.png) no-repeat 0 -28px;
}
.header .soc .fb:hover {
	background: url(../images/soc.png) no-repeat -30px -28px;
}
.header .soc .twitter:hover {
	background: url(../images/soc.png) no-repeat -60px -28px;
}
.header .soc .vk:hover {
	background: url(../images/soc.png) no-repeat -90px -28px;
}

/* menu
*****************/
.menu {
	background:#f5f5f5 url(../images/img_ru/bg.png) repeat-x;
	height:800px;
	padding:27px 0 0;
}
.menu .menu_nav {
	height:55px;
}
.menu .menu_nav_advertisers a:hover, .menu .menu_nav_partners a:hover, .menu .menu_nav_agents a:hover{
color:#7cc39e;
}
.menu .menu_nav_advertisers a {
    line-height: 55px;
    padding: 19px 119px 24px;
	color:#e0e0e0;
}
.menu .menu_nav_advertisers {
	background:url(../images/img_ru/nav_menu1.png) no-repeat;
	width:241px;
	height:55px;
	float:left;
	color:#e0e0e0;
}
.menu .menu_nav_advertisers:hover {
	background:url(../images/img_ru/nav_menu1.png) no-repeat 0 -55px;
	color:#7cc39e !important;
}
.menu .menu_nav_partners a {
    line-height: 55px;
    padding: 19px 119px 24px;
	color:#e0e0e0;
}
.menu .menu_nav_partners {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -241px 0;
	width:240px;
	height:55px;
	float:left;
	color:#e0e0e0;
}
.menu .menu_nav_partners:hover {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -241px -55px;
	color:#7cc39e !important;
}

.menu .menu_nav_agents a {
    line-height: 55px;
    padding: 19px 118px 24px;
	color:#e0e0e0;
}
.menu .menu_nav_agents {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -481px 0;
	width:239px;
	height:55px;
	float:left;
	color:#e0e0e0;
}
.menu .menu_nav_agents:hover {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -481px -55px;
	color:#7cc39e !important;
}

.menu .menu_nav_my a {
    line-height: 55px;
    padding: 19px 116px 24px;
	color:#678eb9;
}
.menu .menu_nav_my a:hover {
	color:#4b639c;
}
.menu .menu_nav_my {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -720px 0;
	white-space:235px;
	height:55px;
	float:left;
	color:#678eb9;
}
.menu .menu_nav_my:hover {
	background:url(../images/img_ru/nav_menu1.png) no-repeat -720px -55px;
	color:#4b639c !important;
}
.menu .menu_title {
	font-family: pf_dindisplay_pro_lightRg !important;
	font-size:28px;
	color:#fff;
	text-align:center;
	padding:10px 0 0;
	height:169px;
}
.menu .menu_title span {
	font-family: pf_dindisplay_probold !important;
	font-size:28px;
	color:#fff;
}
.menu .menu_title .mirs_link {
	font-family: pf_dindisplay_pro_lightRg !important;
	font-size:28px;
	color:#fff;
	text-decoration:none;
}

.menu .menu_advertisers,
.menu .menu_partners,
.menu .menu_agents {
    float: left;
    height: 200px;
    padding: 0px;
    width: 315px;
}

.menu .menu_advertisers .title,
.menu .menu_partners .title,
.menu .menu_agents .title  {
	margin:-157px 0 10px 15px;
}
.menu .menu_advertisers .title a,
.menu .menu_partners .title a,
.menu .menu_agents .title a {
	font-family: pf_dindisplay_pro_mediumRg !important;
	font-weight:400 !important;
	text-transform:uppercase;
	text-decoration:none;
	font-size:16px;
	color:#5981ab;
}
.menu .menu_advertisers .desc,
.menu .menu_agents .desc  {
	margin:0 100px 20px 15px;
}
.menu .menu_partners .desc {
	margin:0 85px 20px 15px;
}
.menu .menu_advertisers .desc a,

.menu .menu_partners .desc a,
.menu .menu_agents .desc a  {
	text-decoration:none;
	color:#000;
}
.menu .menu_advertisers .chat,
.menu .menu_partners .chat,
.menu .menu_agents .chat  {
	margin:0 0 15px 17px;
}
.menu .menu_advertisers {
	margin:0 0 0 -3px;
}
.menu .menu_partners {
	margin:0 8px;
}
.menu .menu_agents {
	margin:0 -3px 0 0;
}
.menu_bg {
	background:url(../images/img_ru/menu_bg.png) no-repeat;
}
.menu_bg_hover {
	background:url(../images/img_ru/menu_bg.png) no-repeat 0 -200px;
}
.menu_bg_hover .title a {
	color:#9f97de !important;	
}
.menu_bg_hover .desc a {
	color:#fff !important;
}
.menu .menu_advertisers_desc {
    float: left;
    height: 286px;
    padding: 60px 20px 0 0;
    width: 298px;
}
.menu .menu_partners_desc{
    float: left;
    height: 286px;
    padding: 60px 15px 0 5px;
    width: 298px;
}
.menu .menu_agents_desc {
    float: left;
    height: 286px;
    padding: 60px 5px 0 15px;
    width: 298px;
}
.menu h3 {
    font-size: 17px;
    font-weight: inherit;
    height: 50px;
    line-height: 22px;
    margin-bottom: 6px;
}
.menu .menu_advertisers_desc p,
.menu .menu_partners_desc p,
.menu .menu_agents_desc p {
	height:190px;
	line-height:21px;
}
.menu .menu_advertisers_desc div, .menu .menu_partners_desc div,.menu .menu_agents_desc div {
    background: url("../images/img_ru/apply.png") no-repeat scroll left top transparent;
    height: 40px;
    margin-left: -5px;
    padding: 5px 0 0 0;
    text-align: center;
    width: 210px;
}
.menu .menu_advertisers_desc div:hover, .menu .menu_partners_desc div:hover, .menu .menu_agents_desc div:hover{
    background: url("../images/img_ru/apply.png") no-repeat scroll left -45px transparent;
}
.menu .menu_advertisers_desc div a{
    color: #FFFFFF;
    font-family: pf_dindisplay_pro_mediumRg,Verdana,Geneva,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    padding: 8px 23px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu .menu_partners_desc div a {
    color: #FFFFFF;
    font-family: pf_dindisplay_pro_mediumRg,Verdana,Geneva,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    padding: 8px 38px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu .menu_agents_desc div a {
    color: #FFFFFF;
    font-family: pf_dindisplay_pro_mediumRg,Verdana,Geneva,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    padding: 8px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

/* services
*****************/
.services {
	background:url(../images/img_ru/services2.png) repeat-x;
	height:285px;
}
.services .services_mg,
.services .services_advertisers,
.services .services_partners,
.services .services_agents {
	float:left;
	width:220px;
	padding: 0 19px 0 0;
}
.services .services_advertisers a,
.services .services_partners a,
.services .services_agents a {
	text-decoration:none;
}
.services ul {
	list-style-type:none;
	padding:35px 0 0;
	color:#333333;
	font-weight:bold;
}
.services ul li {
	padding:0 0 0 10px;
	margin:10px 0 0px;
}
.services ul li span{
    margin-left: -10px;
    position: absolute;
	color:#7e7e7e !important;
	font-weight:400 !important;
}
.services ul li a{
	font-weight:400 !important;
	color:#7e7e7e !important;
	text-decoration:none;
	line-height:16px !important;
}

/* news_hits
*****************/
.news_hits h2{
	color: #5981AB;
	font-size:16px !important;
}
.news_hits {
	padding:40px 0;
	height:inherit;
}
.news_hits .last_news {
	width:720px;
	float:left;
}
.news_hits .last_news *{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
}
.news_hits .last_news div.news {
	float:left;
	width:350px;
	min-height:100px;
	overflow:hidden;
	padding:20px 10px 0 0;
}
.news_hits .last_news div.news img {
	margin:3px 0 0
}

.news_hits .last_news div.news .f_left {
	width:100px;
	margin-right:10px;
}
.news_hits .last_news div.news .f_right {
    height: 97px;
    overflow: hidden;
    width: 240px;
}

.news_hits .last_news div.news a.title{
	text-decoration:underline;
	color:#256bb3;
	line-height:20px;
}
.news_hits .last_news div.news a.desk{
	text-decoration:none;
	padding-right:7px;
}
.news_hits .last_news div.news a.desk p{
	margin-top:5px;
	color:#333;
}
/* hits
*****************/
.hits {
	width: 233px;
	float:right;
}
.new_page {
}
.new_page div.hit {
    border-bottom: 1px solid #F1F1F1;
    min-height: 295px;
    padding: 10px 0;
    width: 200px;
}
.new_page *:last-child {
    border-bottom: 0 none !important;
}
.new_page div.hit a {
    display: block;
    line-height: 20px;
    text-align: center;
}
.new_page div.hit a.desc {
    color: #256BB3;
    font-weight: bold;
}
.new_page div.hit a.img {
    height: 200px;
    margin: 5px 0 0;
    width: 200px;
}
.new_page div.hit a.title {
    margin-top: 10px;
    text-decoration: none;
}
.new_page div.hit a.price {
    background: #F5F5F5;
    border-radius: 0 0 3px 3px;
    color: #333;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    width: 200px;
}
/* catalog
*****************/
.catalog h2 {
	color: #5981AB;
	font-size:16px !important;
}
.catalog {
	background:url(../images/img_ru/catalog.png) repeat-x;
	height:1370px;
	padding-top:60px;
}
.catalog h2 {
	margin:0 0 20px;
}
.catalog .catalog_form {
    background:url(../images/img_ru/search.png) no-repeat;
	height:72px;
	width:957px;
}
.catalog .catalog_form .search_goods {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-weight: bold;
    height: 25px;
    margin: 8px 1px 0 13px;
    padding: 5px;
    width: 810px;
}
.catalog .catalog_form .search_partner {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-weight: bold;
    height: 28px;
    margin: 13px 5px 0 8px;
    padding: 5px 10px;
    width: 192px;
}
.catalog .catalog_form .search_partner option {
    padding: 4px 0 4px 12px;
}
.catalog .catalog_form .hs_submit {
	background:url(../images/img_ru/hs_submit.png) no-repeat;
    cursor: pointer;
    margin: 7px;
	width: 104px;
	height: 39px;
}
.catalog .catalog_form .hs_submit:hover {
	background:url(../images/img_ru/hs_submit.png) no-repeat 0 -39px;
}
.catalog .cat_block {
	width:220px;
	float:left;
	padding:35px 19px 0 0;
	height:245px;
}
.catalog .cat_block * {
	font-family:"Times New Roman", Times, serif;
}
.catalog .cat_block img {
	margin-left:47px;
}
.catalog .cat_block ul {
	font-size:16px;
	list-style-type:none;
	padding:5px 0 0;
	line-height: 25px;
}
.catalog .cat_block ul li {
	padding-left:10px;
}
.catalog .cat_block ul li span{
    margin-left: -10px;
    position: absolute;
	color:#256bb3;
}
.catalog .cat_block ul li a{
	font-size:14px;
	color:#256bb3;
}
.catalog .cat_block ul li .all_cat{
	font-style:italic;
	color:#838383;
	text-decoration:underline;
}

/* our_partners
*****************/
.our_partners h2 {
	color: #5981AB;
	font-size:16px !important;
}
.partners_list {
	width: 720px;
	float:left;
}
.our_partners h2 {
	margin:0 0 20px;
}
.our_partners .our_partners_block {
	float:left;
	height:145px;
	padding:0 20px 40px 0;
	width:220px;
}
.our_partners .our_partners_link {
	color:#256bb3;
	line-height:30px;
}
/* alphabet
*********************/
.alphabet_box {
	width: 720px;
	float:left;
}
.alphabet_box * {
	font-family:"Times New Roman", Times, serif;
}
.alphabet_box h2 {
	margin:0 0 20px;
}
.alphabet_box ul {
    list-style-type: none;
    width: 220px;
	padding:0 20px 40px 0;
}
.alphabet_box ul li {
    margin-top: 20px 0;
}
.alphabet_box ul li p.title {
    font-size: 16px;
    font-weight: 900;
	text-transform:uppercase;
}
.alphabet_box ul li a.desk {
    color: #256bb3;
    display: block;
    font-size: 12px;
    line-height: 26px;
}
/* partners
*****************/
.partners {
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}

.useful_links {
	width:300px;
	margin-top:20px;
}
.useful_links ul {
	list-style-type:none;
}
.useful_links ul li {
	height:40px;
	padding:20px 10px 15px 20px;
	border-top: 1px #F1F1F1 solid;
	float:left;
}
.useful_links ul li div.f_left {
	width:60px;
}
.useful_links ul li div.f_right {
	width:210px;
}
.useful_links ul li a.title {
	font-weight:bold;
	color:#0076a3;
	text-decoration:underline;
	display:block;
}
.useful_links ul li a.desk {
	text-decoration:none;
}

/* footer
*****************/
.bottom_menu {
    height: 200px;
    padding: 20px;
    width: 900px;
}
.bottom_menu a {
    color: #333333;
    float: left;
    font-size: 11px;
    height: 30px;
    text-align: left;
    text-decoration: underline;
    width: 180px;
}
.copyright {
    background: #f4f4f4;
    height: 45px;
	border-top:1px solid #ebebeb;
}
.copyright div, .copyright a, .copyright p {
    font-size: 11px;
    font-weight: bold;
	line-height:45px;
}
