/*normal*/
h1 { font-size: 19px; margin: 0 0 2px; font-weight:normal; color:#0054a6; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; }
h2 { color: #6399cd; font-size: 17px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; margin: 0 0 2px; }
h3 { color: #fff; font-size: 18px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; margin: 7px 0 0 1px; }
ul{padding:0px;margin:0px;line-height:5px;offsetHeight:0px}
.copyright { color: #abcae5; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 13px; text-transform: uppercase; text-align: right; }
.td_read_more_content { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: right center; text-decoration: none; text-align: right; padding-right: 10px; }
.read_more_content { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; text-decoration: none; background-repeat: no-repeat; background-position: right 7px; text-align: right; padding-right: 2px; }
.read_more_content:hover { color: #ed1c24; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: underline; background-repeat: no-repeat; background-position: right 7px; text-align: right; }
.td_back { background-image: url(../gfx/arrow_small_left.gif); background-repeat: no-repeat; background-position: left center; }
.back { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; text-decoration: none; text-align: left; padding-left: 11px; }
.back:hover { color: #ed1c24; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: underline; text-align: left; padding-left: 11px; }
/*portal items*/
.news { color: #000; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; text-decoration: none; text-align: left; padding-right: 12px; }
.portal_right { color: #0052a6; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; text-decoration: none; text-align: left; padding-right: 12px; }
.portal_right_date { color: #0052a6; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 14px; text-decoration: none; text-align: left; padding-right: 12px; }
.news_date { color: #4280c0; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: none; text-align: left; /*margin-left: 6px;*/ }
.read_more { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: 127px 7px; text-decoration: none; text-align: right; padding-right: 11px; }
.read_more:hover { color: #ed1c24; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: underline; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: 127px center; text-align: right; }
.read_more_right { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: 58px 7px; text-decoration: none; text-align: right; padding-right: 11px; }
.read_more_right:hover { color: #ed1c24; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: underline; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: 80px 7px; text-align: right; }
/*images*/
.images_portal { border-color: #7fa8d2; border-style: solid; border-width: 1px 0 1px 1px; }
.images_customers_vervolg { right: 0; float: left; margin: 5px 20px 5px 0; border: solid 1px #7fa8d2; }
.images { border: solid 2px #fff; }
/*navigation*/
.td_navigatie { font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; text-decoration: none; background-repeat: repeat-x; background-position: left top; margin-top: 5px; margin-left: 15px; }
TABLE.navi { HEIGHT: 23px; background-repeat: repeat-x; background-position: left top; }
.navi_line { DISPLAY: block; FONT-SIZE: 9px; COLOR: #99bbdb; FONT-FAMILY: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 21px; TEXT-DECORATION: none; padding-top: 2px; }
A.navi { color: #3376b8; font-size: 13px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 21px; text-decoration: none; display: block; padding: 0 10px; }
A.navi:hover { COLOR: #ed1c24; font-size: 13px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 21px; text-decoration: none; }
.td_menuleft_active { font-weight: normal; background-color: #e5f4fb; text-decoration: none; background-repeat: no-repeat; background-position: right center; display: block; }
.td_menuleft_arrow_up { font-weight: normal; background-image: url(../gfx/arrow_big_up.gif); text-decoration: none; background-repeat: no-repeat; background-position: right center; display: block; }
.td_menuleft_arrow_active { font-weight: normal; background-color: #e5f4fb; background-image: url(../gfx/arrow_big_down.gif); text-decoration: none; background-repeat: no-repeat; background-position: right center; display: block; }
.td_menuleft_arrow_down { font-weight: normal; background-image: url(../gfx/arrow_big_down.gif); text-decoration: none; background-repeat: no-repeat; background-position: right center; display: block; }
A.menuleft { DISPLAY: block; FONT-SIZE: 11px; COLOR: #3376b8; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 19px; TEXT-DECORATION: none; padding-left: 4px; }
A.menuleft:hover { COLOR: #ed1c24; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 19px; text-decoration: none; padding-left: 4px; }
/*
A.menuleft:active { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 19px; background-color: #e5f4fb; background-image: url(../gfx/arrow_big_up.gif); background-repeat: no-repeat; background-position: right center; text-decoration: none; padding-left: 4px; }
*/
.td_submenuleft { font-weight: normal; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: left center; text-decoration: none; padding-left: 10px; display: block; }
A.submenuleft { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; padding-left: 4px; display: block;}
A.submenuleft:hover { color: #ed1c24; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; padding-left: 4px; display: block; }
/*td_definitions*/
.td_top_navi { color: #0052a6; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; text-decoration: none; text-transform: uppercase; margin-left: 26px; }
.td_customers_logo { padding-top:1px; text-align:right; vertical-align:top; background-image: url(../gfx/bg_customers.gif); background-repeat: no-repeat; background-position: right top; text-decoration: none; }
.top_navi { color: #0052a6; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; text-decoration: none; text-transform: uppercase; }
.top_navi_line { color: #0052a6; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; text-decoration: none; text-transform: uppercase; padding-right: 6px; padding-left: 6px; }
.top_navi:hover { color: #ed1c24; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; text-decoration: underline; }
.td_top { background-color: white; background-image: url(../gfx/slice_top2.gif); background-repeat: repeat-x; background-position: left top; }
.td_bluebox { background-color: #0054a6; background-image: url(../gfx/slice_bluebox.gif); background-repeat: repeat-x; background-position: left top; }
.td_logo { background-color: white; background-image: url(../gfx/slice_logo.gif); background-repeat: repeat-x; background-position: left top; }
.td_bottom { background-color: #0052a6; background-image: url(../gfx/slice_bottom.gif); background-repeat: repeat-x; background-position: left top; }
/*content contact */
.zoek_textfield { color: #0052a6; font-size: 10px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; line-height: 11px; background-color: #ffffff; width: 217px; height: 17px; padding-top: 3px; padding-left: 5px; border: solid 0; }
.buttonForm { color: #fff; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: bold; line-height: 19px; background-color: #005daa; width						: 88px; height					: 20px; text-align				: center; border-width: 0; }
.inputForm, .inputFormSmall { color: #000; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; font-size				: 11px; background-color: #e5f4fb; width: 210px; height					: 20px; margin-top: 4px; padding-top: 0; padding-left: 4px; border: solid 1px #7fa8d2; }
.inputForm { background-color: #e5f4fb; }
.inputFormSmall { background-color: #e5f4fb; width						: 100px; }
.textareaForm { color: #000; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; background-color: #e5f4fb; width						: 210px; margin-top: 4px; padding-top: 0; padding-left: 4px; border: solid 1px #7fa8d2; }
.label, .labelSpan2 { color: #000; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; }
.label { width				 : 120px; margin-bottom: 4px; padding-bottom: 4px; }
.blockheader: text-align:left; vertical-align:top; width:25px; }
/*
.sitemap { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none;}
*/
.sitemap { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; }
.sitemap:link { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; }
.sitemap:active { color: #ed1c24; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; }
.sitemap:visited { color: #3376b8; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; }
.sitemap:hover { color: #ed1c24; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 19px; text-decoration: none; }
.read_more_news { color: #4280c0; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; line-height: 14px; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: top right; text-decoration: none; text-align: right; padding-right: 11px; }
.read_more_news:hover { color: #ed1c24; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal; text-decoration: underline; background-image: url(../gfx/arrow_small.gif); background-repeat: no-repeat; background-position: 127px center; text-align: right; }
td.columnstxt {
color: #000; font-size: 11px; font-family: Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; font-weight: normal;
line-height: 15px; text-align: justify; padding-left: 25px; padding-left: 0;
background-image: url(../gfx/bgColumns.gif); background-repeat: repeat-y; background-position: right center;
}

