/* This CSS file is part of the HTML5 / CSS3 tutorial on http://www.lingulo.com */

/* GLOBAL */
body
{
        /*border-top:5px solid #c54e3d;*/
        background:#ebe8de;
        font-family: 'Open Sans', sans-serif;
        color:#333333;
}

input
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        padding: 7px;
        outline: 0;
        border:0;
        width:250px;
        background: #EBE8DE;
        border-radius:5px;
}

input[type=submit]
{
        width:auto;
        padding: 5px 18px;
        line-height:25px;
        text-shadow:none;
        cursor:pointer;
        box-shadow: none;
        background: #333333;
        color: #fff;
}

p
{
        margin:5px 0;
        line-height:25px;
}

a
{
        text-decoration:none;
        color:inherit;
        transition: color .5s ease;
}


#imgcontainer 	{ 
				width: 400px; 
				height: 224px; 
				position: relative; 
				border:none ; 
				background:url('../img/contactus.jpg') no-repeat;
			}
			.parent1 	{ 
				/* overall animation container */
				height: 0; 
				overflow: hidden;

				transition-property: height;
				transition-duration: 1s;
				perspective: 1000px;
				transform-style: preserve-3d;
			}
			.parent2	{ 
				/* full content during animation *can* go here */ 
			}
			.parent3	{ 
				/* animated, "folded" block */
				height: 170px; 
				transition-property: all; 
				transition-duration: 1s;
				transform: rotateX(-90deg);
				transform-origin: top; 
			}

			/* Hover states to trigger animations */
			#imgcontainer:hover .parent1	{ 
				height: 170px; 
			}
			#imgcontainer:hover .parent3	{
				transform: rotateX(0deg); 
				height: 170px; 
			}
			



strong
{
        font-weight:bold;
}

figcaption strong
{
        border-bottom: 1px solid #D6D0C1;
        padding-bottom:10px;
        margin: 10px 0;
        display:block;
				overflow:auto;

}

figcaption
{
        line-height: 25px;
        font-size:14px;
        width:200px;
}

hr
{
        background-color: #D6D0C1;
        border:0;
        height:1px;
        margin:20px 0;
}



/* HEADER */

header
{
        position:relative;
        width:auto;
        max-width:900px;
        margin: 15px auto 10px auto;
}

header h1
{
        margin:10px 0 0 0;
        font-size:55px;
        color:#990000;
        font-family: 'Baumans', cursive;
		display:inline-block;
		
}
header .emblem
{
 margin-top: 10px;
 }
header p
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        color: #4A463B;
        margin-left:132px;
		
}

nav
{
        position:relative;
        right:0;
        bottom:0;
		width:auto;
		display:block;
		height: 27px;
						background-color:#689ebe;

}

#mainmenu
{
	width:100%;
    height:35px;
    display:block;
    position:fixed;
    top:0;
    left:0;
	z-index:990;
}

nav ul
{
        list-style:none;
		margin-left:5%;
}

nav ul li
{
        display:inline-block;
        float:none;
        padding:3px 3px;
		/*border-right: 1px solid #fff;*/
}

nav ul li a
{
        font-family: 'Open Sans', sans-serif;
        text-transform:uppercase;
        transition: all .25s ease;
		color: #ebe8de;
}

nav ul li a:hover
{
        color:#E56038;
}

#alternative_menu
{
        width: 150px;
        position:absolute;
        top:100px;
        left:50%;
        margin-left: -75px;
        display:none;
}

/* 3 COLUMNS */

#boxcontent
{
        width:auto;
        max-width:900px;
        margin:0 auto;
        padding:30px 0 45px 0;
}

#boxcontent article
{
        float:left;
        width:250px;
        margin-right:45px;
        font-size:14px;
}

#boxcontent article h3
{
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
        margin-bottom:10px;
        margin-left:75px;
		background-color: #333;
		color:#fff;
		line-height: 25px;
}

#boxcontent article img
{
        float:left;
}

#boxcontent article p
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin-left:75px;
}

#boxcontent .firstbox ul li
{
		line-height:15px;
		display:block;
        width:auto;
		font-weight:500;
        padding:0 0 4px 0px;
		margin-left:75px;
        margin-bottom:5px;
        border-bottom: 1px solid #333333; 
        background:url(img/arrowright2.png) left 6px no-repeat;
}
		
#boxcontent .firstbox ul li a:hover
{
        color:#990000;
}

#pagecontent
{
        width:auto;
        max-width:900px;
        margin:0 auto;
        padding:70px 0 45px 0;
}
#pagecontent  .pagetitle
{
        width:auto;
	
max-width:900px;

}

#pagecontent  h1
{
	margin-top: -50px;
	font-size: 27px;
	font-weight:bold;
	font-family:'Baumans', cursive;
	color:#334111;
}

#pagecontent article
{
        float:left;
        width:auto;
        font-size:14px;
}

#pagecontent article h3
{
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
        margin-bottom:10px;
        margin-left:0px;
		/*background-color: #B9B6B6;*/
		color:#000;
		line-height: 25px;
		
}
#pagecontent article h4
{
        font-family: 'Open Sans', sans-serif;
        font-size:20px;
        margin-bottom:10px;
}
#pagecontent article p
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin:0 auto;
		
}

#pagecontent article ul
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin:0 auto;
}

#pagecontent article ul li
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        margin:0 auto;
		margin-bottom: 15px;
}
#pagecontent .projects ul li
{
		line-height:10px;
        font-family: 'Open Sans', sans-serif;
        margin:0 auto;
		margin-bottom: 15px;}
		
#pagecontent   .websites
{
	max-width:900px;
	width:100%;
}
#pagecontent .websites table tbody th
{
	background:#333333;
	color:#fff;
}
	
#pagecontent .websites table tbody tr td
{
	padding: 5px;
}

#pagecontent .websites table tbody tr:nth-of-type(odd) { 
  background:#c0c0c0; 
}
#pagecontent .lead ul
{
	list-style-image:url(../img/Ethernet-Rj45-icon32.png);
}


#slider_content1, #slider_content2, #slider_content3, #slider_content4
{
        line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        width:350px;
        position:absolute;
        top:15%;
        left:15%;
        display:none;
        z-index:11;
		
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3, #slider_content4 h3
{
        color:#EBE8DE;
        font-size:25px;
        font-weight:bold;
        margin-bottom:10px;
        background-color:#333333;
        padding:10px 15px;
        border-radius: 15px 0 15px 0;
        display:inline-block;
}

#slider_content1
{
        display:block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p, #slider_content4 p
{
        margin:0 0 10px 0;
        color:#4a463b;
        background-color:#EBE8DE;
        padding:10px 15px;
        border-radius: 5px;
}

.slidesjs-container{
height: 275px !important;
}

.slidesjs-control{
height: 275px !important;
}

/* BUTTONS */

.button
{
        padding:7px 14px;
        border: 1px solid #c54e3d;
        background-image: linear-gradient(bottom, #E56038 0%, #ff8c66 100%);
        background-image: linear-gradient(to bottom, #ff8c66 0%, #E56038 100%);
        background-color: #eb653c;
        color: #EBE8DE;
        text-shadow: 1px 1px 0px #ff8155;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.button:hover
{
        background:none #EBE8DE;
        border-color: #EBE8DE;
        text-shadow:none;
        color: #4A463B;
}

.menubutton
{
        padding:7px 14px;
        /*border: 1px solid #c54e3d;*/
        background-image: linear-gradient(bottom, #105780 0%, #b4daf3 100%);
        background-image: linear-gradient(to bottom, #b4daf3 0%, #105780 100%);
        background-color: #105780;
        color: #EBE8DE;
        text-shadow: 1px 1px 0px #ff8155;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.menubutton:hover
{
        background:none #EBE8DE;
        border-color: #EBE8DE;
        text-shadow:none;
        color: #4A463B;
}


/* SPACER */

#spacer
{
        width:auto;
        /*height:60px;*/
        height:10px;
        background-color:#c54e3d;
        position:relative;
        font-family: 'Open Sans', sans-serif;
        color:#fff;
        font-size:18px;
}

#spacer p
{
        margin-top:22px;
        width:auto;
        position:absolute;
        left:50%;
        margin-left:-450px;
}

#spacer .search
{
        margin-top:15px;
        width:auto;
        position:absolute;
        right:50%;
        margin-right:-480px;
}


/* FOUR COLUMNS */

#four_columns, #text_columns
{
        line-height:25px;
        font-family: 'Open Sans', sans-serif;
        clear:both;
        width:auto;
        max-width:900px;
        margin:0 auto;
}

#four_columns h2, #text_columns h3
{
        font-size:20px;
        border-bottom: 1px solid #D6D0C1;
        padding: 20px 0;
        margin-bottom: 20px;
}

#four_columns .img-item
{
        float:left;
        margin-right:25px;
		margin-bottom:5px;
}

#four_columns .img-item a
{
        position:relative;
        display:block;
}

#four_columns .img-item-proj
{
        float:left;
        margin-right:20px;
		margin-top:20px;
}

#four_columns .img-item-proj a
{
        position:relative;
        display:block;
}

.homethumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:113px;
        background: #000 url(img/zoom.png) center center no-repeat;
		background: transparent \9;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}
.homethumb-screen:hover
{
        opacity:0.5;
}

.Servicesthumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:55px;
        background: #000 url(img/zoom.png) center center no-repeat;
		background: transparent \9;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}
.Servicesthumb-screen:hover
{
        opacity:0.5;
}

.thumb-screen
{
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:63px;
        background: #000 url(img/zoom.png) center center no-repeat;
		background: transparent \9;
        z-index:99;
        opacity: 0;
        transition: opacity .5s ease;
}

.thumb-screen:hover
{
        opacity:0.5;
}

#service .services h3
{
	font-size: 25px;
	font-weight:bold;
	font-family:'Baumans', cursive;
	
	background:none;
}
#service .services p
{
padding:10px;
line-height:30px;
font-size:18px;
}

#service .services ul
{
padding:10px;
line-height:30px;
font-size:18px;
list-style:square;
margin-left:25px;
}

#Softwaredev 
{
	/*background:#657686;
	height:700px;
	color:#fff;*/
	border-top:25px solid #657686;
	/*border-bottom:20px solid #657686;*/
	margin-bottom:3px;
	}
	
#Training 
{
        /*background-color:#7c9b72;
	color:white;
		height:700px;*/
	border-top:25px solid #7c9b72;
	/*border-bottom:20px solid #7c9b72;*/
	margin-bottom:3px;
}

#Networking 
{
	/*background:#88794e;
	color:white;
	height:auto;*/
border-top:25px solid #88794e;
	/*border-bottom:20px solid #88794e;*/
	margin-bottom:3px;
}

#Videoconference 
{
	/*background:#7c9b72;*/
	
	/*height:700px;*/
	border-top:25px solid #7c9b72;
	/*border-bottom:20px solid #7c9b72;*/
	margin-bottom:3px;
}
#email_internet 
{
	/*background:#88794e; 
	color:white;
	height:auto;
	min-height:700px;*/
	border-top:25px solid #88794e;
	/*border-bottom:20px solid #88794e;*/
	margin-bottom:3px;

}

#email_internet  ul li
{
	padding-left:10px;
	margin-bottom: 0px !important;
	font-weight: bold;
}
#email_internet table
{
margin-left:10px;
}
#email_internet table tr td,th
{
	font-size:15px;
	font-family: 'verdana';
	padding: 5px !important;
	
}
.mainheading
{
background:#333333;
}
.head{
/*background:#ba340f;*/
/*background:#1e8275;*/
color:#01203c;
font-weight:bold;
}
.even
{
/*background:#790917;*/
background:#415848
}
.odd
{
/*background:#dd7a27;*/
background:#a76885;
}
#webdesign 
{
	/*background:#7c9b72;
	color:white;
	height:auto;
	min-height:700px;*/
	border-top:25px solid #7c9b72;
	/*border-bottom:20px solid #7c9b72;*/
	margin-bottom:3px;

}
#datacentre 
{
    /*background:#7c9b72;
    color:white;
    height:auto;
    min-height:700px;*/
    border-top:25px solid #88794e;
    /*border-bottom:20px solid #7c9b72;*/
    margin-bottom:3px;

}
#hwswsuply 
{
	/*background-color:#657686;
	color:white;
	height:700px; */
	border-top:25px solid #657686;
	/*border-bottom:20px solid #657686;*/
	margin-bottom:3px;

}


/* TWO COLUMNS */

#text_columns article.column1, #text_columns .column2
{
        margin: 20px 0;
        font-size:14px;
        float:left;
        width:auto;
        max-width: 450px;
}

#text_columns .column2
{
        margin: 50px 0;
}

#text_columns article.column1 h3
{
	font-weight: bold;
}

#text_columns article.column1 ul
{
	display:inline-block;
	list-style: square;
	margin-right:13px;
}
#text_columns article.column1 table tbody tr td,th
{
	margin-right:13px;
}

#text_columns article.column1 table tbody tr td
{
	padding:5px;
}

.row
{
        position:relative;
        margin: 40px 0 0 0px;
        float:right;
        width:350px;
}

.row img
{
        float:left;
}

.row h4
{
        margin-left: 100px;
}

.row p
{
        margin-left: 100px;
}

.row ul
{
        margin-left: 100px;
}

.row ul li a:hover
{
        color: #990000;
}
.rocket, .clock
{
        top:0;
        left:0;
        position:absolute;
        height: 80px;
}

.rocket:hover
{
        opacity:0;
        transition: opacity 0.4s ease 0.2s;
        animation-name: stylie-transform-keyframes;
        animation-duration: 700ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        transform-origin: 0 0;
}

.clock:hover
{
        animation-name: stylie-transform2-keyframes;
        animation-duration: 100ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform-origin: 0 0;
}

.leadimg
{
	
}
		.tabimage
		{
			display:none;
		}
.mobileimg
{
	display:none;
}

/* FOOTER */

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:360px;
        background:#333333;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:280px;
        margin-right:20px;
		margin-bottom:20px;
}
footer .wrapper .column.leftcol ul li a:hover
{
        color:#fff;
}
footer .wrapper .column.leftcol ul li a img
{
        transition: border .25s ease;
       
        border:3px solid #444444;
}
footer .wrapper .column.leftcol ul li a img:hover
{
        border-color: #5e5e5e;
}
footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 4px 25px;
      line-height:15px;
        /*border-bottom: 1px solid #444444;*/
        background:url(img/arrowright2.png) left 6px no-repeat;
		font-size:11px;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}
footer .wrapper .column.midlist ul li a img
{
        transition: border .25s ease;
       
        border:3px solid #444444;
}
footer .wrapper .column.midlist ul li a img:hover
{
        border-color: #5e5e5e;
}
footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        line-height:15px;
		margin-bottom:10px;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #444444;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}

#copyright
{
        background: #1D1D1D;
        height:auto;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
	
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:25px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}
#copyright .disclaimer
{
	line-height:20px;
		color:#5e5e5e;
		font-size:11px;
}
#copyright .wrapper .social
{
        position:absolute;
        right:0;
        top:25px;
}
#copyright .wrapper .social a
{
        transition: opacity .25s ease;
        opacity: 0.3;
        margin-left: 12px;
        display:block;
        float:left;
}
#copyright .wrapper .social a:hover
{
        opacity: 0.7;
}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper a:hover
{
        color: #fff;
}


/* SKIPLINK */
.go-top {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
        display: none;
}
.fixed {
        position: fixed;
        top: 20em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
}
.go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
}


/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */
.slidesjs-container
{
        border-top: 1px #d6d0c1 solid;
}
#slides
{
  display: none
}

/* Center the slideshow */
.container
{
        width:auto;
        margin: 0 auto;
        position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active
{
  color:red;
}

#slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p .responsive_button, #slider_content4 p  .responsive_button
{
        display:none;
        color:#000;
}


/* MISC */
.clear
{
        clear:both;
}
.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}

/* Flexible Slide-to-top Accordion Style*/
.wrapperst{
	width:90%;
	max-width:900px;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    /*min-width:500px;*/
    margin: 0 auto;
}
.st-accordion ul li{
    height: 50px;
    border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
background: transparent url(../img/down.png) no-repeat center right;
    font-family: 'Josefin Slab',Georgia, serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 20px;
    display: block;
	position: relative;
    line-height: 70px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../img/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #1693eb;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #1693eb;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content h3{
    font-weight: bold;
	margin: 5px auto;
}

.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px; 
}

.st-content table tbody tr td,th{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  20px;
    padding: 0px 4px 15px 4px; 
	overflow: inherit;
}

.st-content table tbody tr th{
background: #1d2327;
color:#fff;
}

.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}

.st-accordion-inner ul{

margin:0 50px 10px 20px;

}



.st-accordion-inner ul li {
	height:auto;
	margin:5px auto;
	    border-bottom: 0px solid #c7deef;
			    border-top: 0px solid #c7deef;

       color:#333;
    overflow: auto;
	    font-size:  16px;
    font-family:  Georgia, serif;
    line-height:  20px;
    padding: 0px 4px 15px 4px; 

}

.st-accordion-inner ul li ul li{
	height:auto;

       color:#333;
	   
}

/*Footer scroller*/
/*On the main scroller, use relative positioning. This allows the option of adding things such as edge overlays later if desired.*/
    #scroller {
        position: relative;
    }
    /*For the inner holder, we clip anything that runs over, via "overflow: hidden".  We position the holder to fully fill its parent, the #scroller div.*/
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    /*On the unordered list that holds our photos, we remove the default margin and padding.  We also use "position: relative" so the list items can be laid out in a horizontal row.*/
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    /*On the individual list items, we remove the default padding, margin and list bullets.  The position is set to absolute; we'll use JavaScript to set the precise left positioning value.*/
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }

@media screen and (max-width: 500px){
	.st-accordion ul li > a{
		font-size:22px;
	}
}

#showLeftPush {
				display:none;
				}
@media (max-width: 1058px)
{
    #mainmenu ul li{
        padding:1px 1px !important;
    }
    .menubutton{
        padding:7px 5px !important;
    }
}
@media (max-width: 786px)
{
	#mainmenu {
		display:none;
		}
	#showLeftPush {
		display:block;
		}
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */
@media(max-width: 3000px)
{
#header900{
			display:block;
		}
		#header700{
			display:none;
		}
		#header500{
			display:none;
		}
		#header400{
			display:none;
		}
}
@media (max-width: 1215px)
{
	body:after {
		content: 'desktop';
		display:none;
		}
        #slider_content1, #slider_content2, #slider_content3, #slider_content4
        {
                width:auto;
                margin-right:50px;
        }
        #slider_content1 h2, #slider_content2 h2, #slider_content3 h2, #slider_content4 h2
        {
                font-size:18px;
        }
        #slider_content1 p, #slider_content2 p, #slider_content3 p, #slider_content4 p
        {
                font-size:14px;
        }
        #slider_content1 p .responsive_button, #slider_content2 p .responsive_button, #slider_content3 p .responsive_button, #slider_content4 p  .responsive_button
        {
                display:inline;
        }
        .container .button
        {
                display:none;
        }
		
		#header900{
			display:block;
		}
		#header700{
			display:none;
		}
		#header500{
			display:none;
		}
		#header400{
			display:none;
		}
}

@media (max-width: 915px)
{
		#header900{
			display:block;
		}
		#header700{
			display:none;
		}
		#header500{
			display:none;
		}
		#header400{
			display:none;
		}
        #boxcontent article
        {
                float: none;
                margin: 30px auto 0 auto;
                width: 60%;
        }
        #spacer
        {
                font-size:15px;
        }
        #spacer .search
        {
                margin-top:19px;
                margin-right:-385px;
        }
        #spacer p
        {
                margin-left:-370px;
        }
        input
        {
                padding:4px;
                font-size:14px;
        }
        input[type="submit"]
        {
                padding: 1px 14px;
        }
        #four_columns
        {
                width: 500px;
        }
        #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4)
        {
                margin-top: 25px;
        }
        #text_columns article.column1, #text_columns .column2
        {
                float:none;
                max-width: 500px;
                margin: 50px 30px 0 30px;
        }
        .column2 .row
        {
                float:none;
                margin:0 0 40px 50px;
        }
#pagecontent .lead ul
{
margin-left:30px;
	list-style-image:url(../img/Ethernet-Rj45-icon32.png);
}
        footer .wrapper .column
        {
                font-size: 12px;
                width: 230px;
        }
}

@media (max-width: 839px)
{
header
		{
			height:auto;
			}
#header900{
			display:none;
		}
		#header700{
			display:block;
		}
		#header500{
			display:none;
		}
		#header400{
			display:none;
		}
}
@media (max-width: 786px)
{
header{
			height:auto;
			}
	#menuback{
		background:#333333 !important;
	}
}
@media (max-width: 765px)
{
header{
			height:auto;
			}
#header900{
			display:none;
		}
		#header700{
			display:block;
		}
		#header500{
			display:none;
		}
		#header400{
			display:none;
		}
        .container
        {
                height:1px;
                top: -1500px;
        }
        
        header nav
        {
                right: auto;
                bottom: auto;
                left: 50%;
                top:100px;
                margin-left: -184px;
        }
		
		#menuback{
	background:#333333 !important;
}
        #spacer
        {
                /*height:100px;*/
                height:10px;
        }
        #spacer p
        {
                text-align:center;
                position:static;
                margin: 0 auto;
                padding:15px 0 7px 0;
        }
        #spacer .search
        {
                text-align:center;
                position:static;
                margin: 0 auto;
        }
		
		#pagecontent .lead ul
{
margin-left:30px;
	list-style-image:url(../img/Ethernet-Rj45-icon32.png);
}

        footer
        {
                padding-bottom:70px;
                height: auto;
        }
        footer .wrapper
        {
                width: 350px;
                margin: 0 auto;
        }
        footer .wrapper .column
        {
                margin-top:30px;
                float:none;
                font-size: 14px;
                width: auto;
        }
        footer .wrapper .social
        {
                display:none;
        }
		.leadimg
		{
			display:none;
		}
		.tabimage
		{
			display:block;
		}
		.mobileimg
		{
			display:none;
		}
		
		#service .services ul
{
padding:10px;
line-height:20px;
font-size:16px;
list-style:square;
margin-left:15px;

}

}
@media (max-width: 581px)
{
header
		{
			height:auto;
			}
#header900{
			display:none;
		}
		#header700{
			display:none;
		}
		#header500{
			display:block;
		}
		#header400{
			display:none;
		}
}
@media (max-width: 500px)
{
body:after {
		content: 'mobile';
		display:none;
		}
		
		header
		{
			height:auto;
			}
			#header900{
			display:none;
		}
		#header700{
			display:none;
		}
		#header500{
			display:none;
		}
		#header400{
			display:block;
		}
		header h1
		{
		font-size: 30px !important;
		}
		header .emblem
{
 margin-top: 10px ;
 }
#menuback{
	background:#333333 !important;
}
        #spacer
        {
                height:auto;
                padding-bottom:15px;
        }
		
			#pagecontent .lead ul
{
	margin-left:30px;
	list-style-image:url(../img/Ethernet-Rj45-icon32.png);
}

        #four_columns
        {
                width:auto;
        }
        #four_columns .img-item
        {
                width: 200px;
                float:none;
                margin: 25px auto 0 auto;
        }
		        #four_columns .img-item-proj
        {
                width: 200px;
                float:none;
                margin: 25px auto 0 auto;
        }

        #four_columns h2
        {
                margin: 0 30px;
        }
        .column2 .row
        {
                margin: 0 0 40px 10px;
                width:auto;
        }
		

        footer .wrapper
        {
                width:auto;
        }
        footer .wrapper .column
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
        input
        {
                width:auto;
        }
        #alternative_menu
        {
                display:block;
        }
        header nav
        {
                display:none;
        }
        header h1
        {
                font-size:40px;
        }
        header p
        {
                margin-left: 60px;
                font-size:14px;
        }
		
		#service .services p
		{
		padding:10px;
		font-size:15px;
		}
		
		#service .services ul
{
list-style:square;
padding:10px;
font-size:14px;
margin-left:5px;
}
#Softwaredev 
{
	height:auto;
	}
	
#Training 
{
	height:auto;

}

#Networking 
{
	height:auto;

}

#statenw3
{
	display:none;
	}
#statenw2
{
	display:none;
	}

#Videoconference 
{
	height:auto;

}
#email_internet 
{
	height:auto;

}
#webdesign 
{
	height:auto;

}
#hwswsuply 
{
	height:auto;

}

.leadimg
{
	display:none;
}
		.tabimage
		{
			display:none;
		}

.mobileimg
{
	display:block;
}

.st-accordion ul li > a{
    font-family: 'Josefin Slab',Georgia, serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 18px;
    display: block;
	position: relative;
    line-height: 70px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
}
/* SKIPLINK */
.go-top {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        padding: 1em;
        display: block;
}

.go-top:hover {
        background-color: rgba(0, 0, 0, 0.6);
}


/* SLIDESHOW */
/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}