﻿body,html{ width: 100%;clear: both;margin: 0px;padding: 0px;}
.wp1010,.main{ width: 1007px!important;margin-left: 0px;margin-right: 0px;}
.header_cate{width: 1007px!important;}
.main{overflow-x: hidden}
.header .menu_chinh ul{ width: 904px!important;}
.list_top, .submenu,.bodycontent{ width: 100%;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
.contentleft{ margin-left: 0px;padding-right: 10px;margin-top: 10px;}
.tnoibat .left{width: 230px;padding-left: 10px;}
.tnoibat .left p.date{ width: 217px;}
.tnoibat .left img{ width: 230px;}
.tnoibat p a{ width: 198px;}
.contentright{ margin-left: 15px;margin-top: 10px;}
.centerlist{width: 100%;margin-left: 0px;margin-right: 0px;}
.list_homebt{ padding-left: 5px;}
.list_homebt .bx-wrapper {max-width: 990px!important;}
.list_homebt .bx-controls-direction .bx-prev{left: -28px!important;}
.list_homebt .bx-controls-direction .bx-next{right: -12px!important;}
.fotter{ margin-left: 10px;}
.adv-top{ margin-left: 0px;width: 1005px;}
.adv-bottom{ margin-left: 0px;}

/***** video page ************/
.header2 .menu_chinh ul{ width: 100%!important;}
.menu_program .btnLPS{ width: 130px;padding-left: 10px;}
.slider li,.videokhac ul li{ width: 170px !important;}
.slider li img,.videokhac ul li img{width: 170px !important;}
#video_newest_container .bx-wrapper, #video_mostview_container .bx-wrapper, .slider .bx-wrapper {max-width: 960px!important;}
#video_newest_container .bx-controls-direction .bx-prev, #video_mostview_container .bx-controls-direction .bx-prev, .slider .bx-controls-direction .bx-prev{ left: -10px;}
#video_newest_container .bx-controls-direction .bx-next, #video_mostview_container .bx-controls-direction .bx-next, .slider .bx-controls-direction .bx-next{ right: -10px;}

/***** program schedule *******/
.guide-body .inner{ border-left: none;border-right: none;width: 1007px;}
.guide-body .scroll{ width: 1007px;}
.guide-body .window{width: 1007px;}
.guide-body .window .list-channel li{ width: 110px !important;}
.guide-body .window .list-channel li a{ width: 110px !important;}
.guide-body .window .list-channel li a img{ max-width: 110px !important;}
.guide-body .window #wrapper{ padding-left: 110px !important;}
.guide-head .inner{ padding-left: 13px;padding-right: 13px;}
.guide-body .shadow-rp.right,.guide-head .shadow-corner.top-right{ right: 1px;}
.guide-head .shadow-corner.top-left{left:0px;}
.menu_chinh ul li a {
  padding: 0 4px;
}