.title {
COLOR: #000000;
width: 50px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}
.pirmas {
COLOR: #000000;
width: 147px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}
.antras {
COLOR: #000000;
width: 140px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}
.dvigubas {
COLOR: #000000;
width: 267px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}
.trigubas {
COLOR: #000000;
width: 297px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}
.mygtukas {
COLOR: #000000;
width: 25px;
height: 19px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}

.export_button {
COLOR: #000000;
width: 200px;
height: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-decoration: none;
}

.pavadinimas {
	color: #202090;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:10px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.sarpav {
	color: #FF4D15;
	font-family: Verdana, sans-serif;
	padding:10px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.logotipas_m {
	color: #FFFFFF;
	background-color: #B70000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 7px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding:4px;
}

.logotipas {
	color: #FFFFFF;
	background-color: #B70000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-indent: 7px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding:4px;
}

.informacija {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-indent: 7px;
	font-size: 9px;
	font-weight: normal;
	text-decoration: none;
	text-align: right;
	padding:4px;
}

.rezultatai {
	text-indent: 6px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #e8e8e8;
	font-weight: normal;
	font-size: 12px;
	padding:4px;
	text-decoration: none;
        line-height: 1.4em;
}

.aprasymas {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding:4px;
}

.tekstas {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding: 4px;
	padding-top: 0px;
}

.skyrius {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
	padding-bottom: 2px;
}

td.antraste a {
	color: #1859A5;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

td.antraste div {
	text-indent: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
/*	margin-top: 0px;
	margin-bottom: 6px;
*/    line-height: 1.4em;
}

td.antraste, td.lastcol {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	text-decoration: none;
	vertical-align:top;
	padding:4px;
	border:0px;
	border-bottom:1px solid #E8E8E8;
	border-top:0px solid #E8E8E8;
}

td.lastcol {
	border-left:1px solid #E8E8E8;
	padding-left: 4px;
	font-weight: normal;
	
}

.robjektas, .robjektas_ {
	color: #1859A5;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.robjektas_ {
	color: #000000;
}

.rmiestas, .rtelefonas, .rsvetaine {
	text-indent: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding:0px;
	text-decoration: none;
/*	margin-top: 0px;
	margin-bottom: 6px;
*/      line-height: 1.4em;
}

.rsvetaine {
	color: #1859A5;
	text-indent: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding:4px;
	text-decoration: none;
/*	margin-top: 0px;
	margin-bottom: 6px;
*/    line-height: 1.4em;
}

.data {
	color: #F44A0E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding-top:3px;
	border:0px;
}

.laikas {
	color: #F44A0E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	padding-top:3px;
	padding-left:10px;
	border:0px;
}

.praejes_laikas {
	color: #B2B2B2;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding-top:0px;
	padding-left:0px;
	border:0px;
}


.darbo_laikas {
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: bottom;
	padding-top:0px;
	padding-left:0px;
	border:0px;
}

.laikassiandien {
	color: #F44A0E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding-top:0px;
	padding-left:0px;
	border:0px;
}

.sectionhead td
{
	background-color: #F44A0E;
	vertical-align: bottom;
}

.puslapis_off {
	color: #1859A5;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding-top:0px;
	padding-left:0px;
	border:0px;
}




#div_reng5569 .tabber{display:none;}
#div_reng5569 .tabberlive .tabbertabhide {
display:none;
}
#div_reng5569 .tabber {
}
#div_reng5569 .tabberlive {
margin-top:0.2em;
}
#div_reng5569 ul.tabbernav
{
margin:0;
padding: 3px 0;
border-bottom: 1px solid #B70000;
font: bold 12px Verdana, sans-serif;
}

#div_reng5569 ul.tabbernav li
{
list-style: none;
margin: 0;
display: inline;
}

#div_reng5569 ul.tabbernav li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #B70000;
border-bottom: none;
background: #eeeeee;
text-decoration: none;
}

#div_reng5569 ul.tabbernav li a:link { color: #B70000; }
#div_reng5569 ul.tabbernav li a:visited { color: #667; }

#div_reng5569 ul.tabbernav li a:hover
{
color: #000;
background: #dddddd;
border-color: #B70000;
}

#div_reng5569 ul.tabbernav li.tabberactive a
{
background-color: #fff;
border-bottom: 1px solid #fff;
}

#div_reng5569 ul.tabbernav li.tabberactive a:hover
{
color: #000;
background: white;
border-bottom: 1px solid white;
}

#div_reng5569 .tabberlive .tabbertab {
padding:3px;
border-left:1px solid #B70000;
border-right:1px solid #B70000;
border-top:0;
width:673px; }
