@charset "UTF-8";
/* CSS Document */

img.veidai {
	margin-right:6px;
	float:left;
}



.txt-veidai {
	margin-top:4px;
	padding-right:9px;
}

div.box1-veidai {
	overflow:hidden;
	background-color:#eceff5;
	margin-bottom:5px;
	
}

div.box1-veidai:hover {
	background-color:#dfeef6;
}

		
#lrytas-dienrastis-siandien {
	width:234px;
	height:143px;
	overflow:hidden;
	position:relative;
	left:15px;
	top:7px;
	margin-bottom:15px;
}

#lrytas-dienrastis-popierinis {
	width:240px;
	height:153px;
	background:url('../img/lrytas-dienrastis-popierinis_222_153.png') left top no-repeat;
	position:absolute;
	top:-8px;
	left:-9px;
}
.btn-skaityti{
	display: block;
	width: 254px;
	height: 42px;
	background: url('../img/skaityti-dienrasti.png') no-repeat 0 0;
	margin-top:8px;
}
.btn-skaityti:hover {
	background-position: 0 1px;
}


div.newspaper {
	position:relative;
}

div.bndr-fonas {
	background-color:#d9e0ec;
	width:246px;
	margin-left:5px;
}

.txt-bndr {
	margin-top:10px;
	margin-left:6px;
	margin-bottom:10px;
	margin-right:6px;
}

.btn-bendraukime {
	margin-left:4px;
	padding-bottom:4px;
}

.inside-box-koment {
width: 226px;
vertical-align: top;
text-align: left;
float: left;
margin-right:2px;
position: relative;
}

.koment-topic a {
	
	color:#000;
	text-decoration:none;
}

.koment-topic a:hover{
	text-decoration:underline;
}

.koment-topic span {
	line-height:10px;
	display:inline;
}

.koment-topic span a {
	font-size: 10px;
	color: #be1200;
	text-decoration: none;
	line-height:10px;
}



.koment-topic span a:hover {
	text-decoration:underline;
}

.koment-topic {
	font-size:12px;
	line-height:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top:0px;
	margin-right:2px;
	
	
}
.foto-koment {
	float:left;
	margin-right:2px;
	width:85px;
	height:100px;
	overflow:hidden;
	background-position:center;
}

.bqstart {
     float: left;
     height: 25px;
	 margin-left:-18px;
	 position:absolute;
     font-size: 29px;
     color: #0068b4;
	 margin-top:4px;
	 z-index:20;
	
	
	
 }

 .bqend {
     float: right;
     height: 25px;
     margin-top: 0px;
     padding-top: 15px;
	 padding-left:3px;
	 padding-bottom:1px;
	 
     font-size: 29px;
     color: #0068b4;
	 position:absolute;
	 z-index:20;
 }
 
blockquote {
display: block;
-webkit-margin-before: 0.4em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.koment-autorius {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	position:absolute;	
	bottom:0;
	left:87px;
	color:#fff;
	BACKGROUND-COLOR:#0068b4;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:1px;
	overflow:inherit;
}

.koment-autorius a {
	text-decoration:none;
	color:#fff;	
}

.koment-autorius a:hover {
	BACKGROUND-COLOR:#03508a;
}

.koment-foto {
	
}