@charset "utf-8";
/* CSS Document */

section.side-block {
	margin-bottom:20px;
}

section.side-block *:focus {
	outline:none;
}

section.side-block .collapsed {
	display:none;
}

section.side-block .hideBlock {
	display:none;
}

section.side-block .clearfix:after {
	clear:both;
}

section.side-block .clearfix:before, .clearfix:after {
	display:table;
	content:'';
	border-collapse:collapse;
}

div.side-news-block {
}

div.side-news-block  header {
	padding:12px 20px 10px 20px;
	position:relative;
}

div.side-news-block  header h3 {
	text-align:center;
	font-size:15px;
}

div.side-news-block  ul.block-tabs {
	list-style-type:none;
	z-index:0;
	position:relative;
	padding-top:2px;
}

div.side-news-block  ul.block-tabs li {
	width:92px;
	margin-left:6px;
	float:left;
}

div.side-news-block  ul.block-tabs li a {
	font-size:12px;
	font-weight:bold;
	padding:10px 0px;
	text-align:center;
	display:block;
	text-decoration:none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
}

div.side-news-block  div.block-tab-content {
	background-color:#FFFFFF;
	z-index:10;
	position:relative;
}

div.side-news-block  div.block-tab-content div.block-content-new {
	padding:9px;
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}

div.side-news-block div.block-tab-content div.block-content-new:hover {
	background-color:#f7f7f7;
}

div.side-news-block  div.block-tab-content a.button-show-more {
	margin-top:-1px;
}

div.side-news-block  ul.block-tabs li a, div.side-news-block  header {
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}

a.icon_hide-show {
	display:block;
	position:absolute;
	top:13px;
	right:10px;
}

a.icon_hide-show > span {
	position:relative;
	top:0px;
	right:0px;
	display:block;
	width:16px;
	height:16px;
	background-image:url('x-sprite.png');
	background-image:url('x-sprite.svg');
	background-position:-24px -24px;
	background-repeat:no-repeat;
}

a.icon_hide-show > span:hover {
	width:20px;
	height:20px;
	top:-2px;
	left:2px;
	background-position:-1px -22px;
}

a.icon_hide-show.icon-expand > span {
	background-position:-24px -3px;
}

a.icon_hide-show.icon-expand > span:hover {
	background-position:-1px -1px;
}


/* Rodyti daugiau */

a.button-show-more {
	display:block;
	width:100%;
	padding:15px 0;
	text-align:center;
	background:#f7f7f7;
	color:#808080;
	font-size:0.8em;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	clear:both;
	
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	
	-webkit-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6);
	-ms-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6);
	-o-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6);
	box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6);
	
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}

.button-show-more:hover{
	text-decoration:none;
	background:transparent;
}


/* New template */

div.news-template {
	clear:both;
	position:relative;
}

div.news-template  > a {
	display:block;
	float:left;
	margin-right:7px;
	width:90px;
	height:60px;
	background-position: 50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	z-index:10;
	text-decoration:none;
}

div.news-template  > div h4 {
	margin:0px;
	line-height:16px;
}

div.news-template  > div h4 > a {
	font-size:12px;
	line-height:16px;
	color:#000000;
}

div.news-template  > div h4 > a:hover {
	text-decoration:underline;
}

div.news-template  > div {
	height:auto;
	min-height:60px;
	position:relative;
}

div.news-template  > div h4 a.title {
	margin-right:5px;
}

div.news-template  > div h4 a.comments-count {
	color:#c61f10;
}

div.block-content-new.big-first-new div.news-template  > a {
	width:280px;
	height:187px;
	float:none;
	margin-right:0px;
	margin-bottom:5px;
}

a.category-logo {
	float:right;
	margin-top:10px;
}

div.block-content-new.big-first-new div.news-template  > div {
	min-height:20px;
}

div.block-content-new.big-first-new div.news-template  > div a.category-logo {
	margin-top:5px;
}


/* Icons */

.icon-video {
	position:relative;
}

.icon-video:after {
	width:100%;
	height:100%;
	position:absolute;
	background:url('http://www.lrytas.lt/style2011/gfx/play.png') center center no-repeat transparent;
	content:'';
	opacity:0.6;
	transition:opacity 0.25s;
}

.icon-video:hover:after {
	opacity:0.9;
}



/* BLUE STYLE */

div.side-news-block.blue-style  header, div.side-news-block.blue-style  ul.block-tabs {
	background-color:#0066B0;
}

div.side-news-block.blue-style  ul.block-tabs li a:hover, div.side-news-block.blue-style  ul.block-tabs li.tab-current a {
	color:#0066B0;
}

div.side-news-block.blue-style ul.block-tabs li a {
	background-color:#1B70B1;
	transition:all 0.15s ease-in-out;
	-webkit-transition:all 0.15s ease-in-out;
}

div.side-news-block.blue-style  header h3 {
	color:#FFFFFF;
}

div.side-news-block.blue-style ul.block-tabs li a:hover, div.side-news-block.blue-style ul.block-tabs li.tab-current a {
	background-color:#FFFFFF;
}

div.side-news-block.blue-style  ul.block-tabs li a {
	color:#FFFFFF;
}


/* Foto News tab */

div.photo-album div.tab-container {
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
	padding:10px 9px 0px 9px;
}

div.photo-album div.block-content div.block-content-new {
	float:left;
	margin-bottom:10px;
	padding:0px;
	border:0px;
}

div.photo-album div.block-content div.block-content-new:nth-child(2n-1) {
	margin-right:10px;
}

div.foto-news-template > a {
	width:135px;
	height:90px;
	display:block;
	position:relative;
	background-position: 50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	text-decoration:none;
}

div.foto-news-template > a span {
	position:absolute;
	top:5px;
	right:5px;
	font-size:11px;
	font-weight:bold;
	border:1px solid #333;
	border-radius:5px;
	color:#000000;
	padding:1px 7px;
	background-color:#FFFFFF;
	opacity:0.85;
	text-decoration:none;
}

div.foto-news-template:hover > a span {
	opacity:0.75;
}


.tab-content {
    display: none;
}

#pop-lnt-tab-1 {
 display: block;   
}
