.container {
        width: 295px;
        margin: 10px auto;
        font-size:14px;
}
.container h1 {
        font-size: 0px;
        line-height:54px;
        height:56px;
        width:245px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url(/img/top10/title_top10.jpg);
}
ul.tabs {
	margin: 0;
        background: #D02100;
	padding: 0;
	float: left;
	list-style: none;
	border-bottom: 1px solid #D02100;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 46px;
	line-height: 35px;
	border: 0px solid #D02100;
	border-left: none;
	background: #D02100;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	font-weight: bold;
	color: #660000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}
/*
ul.tabs li a:hover {
	background: #FFC600;
}
*/
/*
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
*/
.tab_container {
	border: 1px solid #D02100;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
        width:293px;
	background: #fff;
	margin-bottom:5px;
}
.tab_content {
	padding: 2px;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
#pop_komentuota, #pop_komentuota a ,#pop_skaityta, #pop_skaityta a{
        color: #660000;
        text-decoration: none;
        padding-bottom:5px;
}

#pop_komentuota a:hover, #pop_skaityta a:hover{
        text-decoration:underline;
}
li.class_pop_skaityta.active, li.class_pop_skaityta.active a{
        background: #D02100;
        font-size: 0px;
        height:40px;
        width:121px;
        background-repeat: no-repeat;
        background-image: url(/img/top10/skaityta_hover.jpg);
        background-position: 8px 8px;
}
li.class_pop_skaityta.active a span,li.class_pop_skaityta span, li.class_pop_komentuota span, li.class_pop_komentuota.active span{
        display:none;
}
li.class_pop_skaityta, li.class_pop_skaityta a{
        background: #fff;
        font-size: 0px;
        height:40px;
        width:121px;
        background-repeat: no-repeat;
        background-image: url(/img/top10/skaityta.jpg);
        background-position: 8px 8px;
}

li.class_pop_komentuota, li.class_pop_komentuota a{
        background: #fff;
        height:40px;
        font-size: 0px;
        width:174px;
        background-repeat: no-repeat;
        background-image: url(/img/top10/komentuota.jpg);
        background-position: 8px 8px;
}
li.class_pop_komentuota.active, li.class_pop_komentuota.active a{
        background: #D02100;
        height:40px;
        font-size: 0px;
        width:174px;
        background-repeat: no-repeat;
        background-image: url(/img/top10/komentuota_hover.jpg);
        background-position: 8px 8px;
}


.pop_entry{
        padding-bottom:5px;
}
