
	#topWrapper {position:relative;width:686px;height:auto;background:#fff;padding:12px 6px 0 0;}	
	#topWrapper:before {content: '';display: block;position: absolute;top: 0;left: 0;width: 1000px;height: 6px;background: url(http://img.lrytas.lt/css2/img/line1.jpg) top repeat-x;}
	#topWrapper.extraCositesWrapper:before {display:none !important;}
	#topWrapper,#topWrapper * {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
	#topWrapper .img,#topWrapper #top1 >a {position:relative;display: block;background:center no-repeat;background-size:cover;border-radius:2px;  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);}
	#topWrapper .img:hover, #topWrapper #top1 > a:hover {opacity: 0.9;}
	#topWrapper .img:before {content: "";display: block;padding-top: 66%;}
	#topWrapper .img .imgLink {position:absolute;top:0;right:0;bottom:0;left:0;}
	#topWrapper h1>a {display:inline-block;margin:2px 0;}
	#topWrapper a {color:#333;text-decoration:none;font-size:14px;}
	#topWrapper #top1 a {font-size: 26px;}
	#topWrapper p.nw {display:block;width:100%;}
	#topWrapper p.nw a {font-size: 10px !important;color: #c61f10;}
	#topWrapper p.nw span {font-size: 0;margin:0 4px;}
	#topWrapper a:hover {text-decoration:underline;}
	#topWrapper .post {margin-bottom:10px;vertical-align:top;}
	#topWrapper .posts {text-align:center;font-size:0;margin-top:10px;}
	#topWrapper .posts .post {display:inline-block;width:220px;text-align:left;margin-bottom:20px !important}
	#topWrapper .posts h1 {padding-right:10px;}
	#topWrapper .posts .post:nth-of-type(3n+2) {margin:0 10px;}
	#topAd {position:relative;overflow:hidden;max-width:100%;margin:10px 0;}
	#topWrapper .topposts .post:nth-of-type(n) {margin:0;}
	#topWrapper .topposts .post:nth-of-type(1) {margin-right:10px;}
	#topWrapper .topposts .post:nth-of-type(4),#topWrapper .topposts .post:nth-of-type(7) {margin: 0 10px;}
	#topWrapper .topposts .post:nth-of-type(1),#topWrapper .topposts .post:nth-of-type(2) {width:335px;}
	#topWrapper .topposts .post:nth-of-type(1) a,#topWrapper .topposts .post:nth-of-type(2) a {font-size:17px;}
	
	#topWrapper #top1 {height:295px;overflow:hidden;  position: relative;}
	#topWrapper #top1 >a {display: block;width: 445px;height: 295px;background: center no-repeat;background-size: cover;}
	#topWrapper #top1 .desc {position: absolute;top: 0;right: 0;left: 445px;bottom: 0;overflow: hidden;padding: 0 0 0 10px;}
	#topWrapper #top1 .desc h1 >a {font-size: 22px;line-height: 24px;}
	#topWrapper #top1 .desc .nw {line-height: 0;margin-bottom:5px;}
	#topWrapper #top1 .desc .text-13 {  line-height: 16px;}
	#topWrapper .lbl_lrytas_lt_i__las_vegaso .img .blocktag.poststatus {width:50px;height:25px;color: transparent;background-image: url('http://lib.lrytas.lt/gfx/logo/ceslogo.png');background-repeat: no-repeat;background-color: #fff;background-position: center;}
	
	#topWrapper .blocktag {display:block;}
	#topWrapper .img .blocktag {position:absolute;bottom:5px;left:5px;}
	#topWrapper #top1 .blocktag {position:relative;margin: 0 0 2px 0;display: inline-block;}
	#topWrapper .img .blocktag, #topWrapper #top1 .blocktag {padding:4px 8px;border-radius:3px;color:#fff;font-size:10px !important;font-weight:bold;text-transform: uppercase;border: 1px solid rgba(0,0,0,0.2);}
	
	.blocktag				 {background:#b62019;}
	.blocktag.lietuvos-diena {background:#005fa5;}
	.blocktag.verslas		 {background:#0a3462;}
	.blocktag.sportas		 {background:#fd6500;}
	.blocktag.pasaulis		 {background:#006d70;}
	.blocktag.pramogos		 {background:#eb3359;}
	.blocktag.zmones		 {background:#eb3359;}
	.blocktag.bendraukime	 {background:#fff url(http://lib.lrytas.lt/gfx/logo/bendraukime-mini.png) center center no-repeat;background-size: 90px;color: rgba(255,255,255,0) !important;width: 105px;}
	.blocktag.augintinis	 {background:#ca1122;}
	.blocktag.auto			 {background:#a3222a;}
	.blocktag.gyvenimo-budas {background:#9f006a;}
	.blocktag.bustas		 {background:#1578c1;}
	.blocktag.it			 {background:#1578c1;}
	.blocktag.kultura		 {background:#a3222a;}
	.blocktag.skonis		 {background:#ff6333;}
	.blocktag.stilius		 {background:#ec3359;}
	.blocktag.sveikata		 {background:#0268b3;}
	.blocktag.gamta 		{background:#61b64a;}
	#topWrapper .img .blocktag.poststatus {right: 5px;z-index: 8;left:auto;}
	#topWrapper #top1 .blocktag.poststatus {margin-right: 5px;}
	
	
	.komentarai{margin-bottom:7px;overflow:visible !important}
	.komentarai .komentarai_blokas{padding:9px 0 5px;position:relative;border-bottom:dotted 1px rgba(0,0,0,0.5)}
	.komentarai-title{font-size:18px!important;font-weight:700;color:#000;text-decoration:none}
	.komentarai-title:hover{text-decoration:underline}
	.komentarai .comment{width:333px !important;height:100px;position:relative;display:inline-block;margin:5px 2px 0 !important;border-radius:4px;overflow:hidden;border:1px solid rgba(0,0,0,0.1)}
	.komentarai .comment,.komentarai .comment *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
	.komentarai .photo{display:block;position:absolute;background:transparent center no-repeat;background-size:auto 100%;height:105px;width:172px;top:0;left:-20px}
	.komentarai .commentContent{position:absolute;top:0;right:0;bottom:0;width:230px;padding:10px;line-height:10px;text-align:right}
	.komentarai .comment .commentContent .permalink{line-height:14px;font-size:13px;font-family:Tahoma,Geneva,sans-serif;font-weight:700;padding:3px 0 0}
	.komentarai .comment .commentContent .permalink .str_new_url{font-weight:700;font-size:16px;color:#000;line-height:20px}
	.komentarai .comment .commentContent .permalink .str_comm_url{color:#c61f10 !important;font-size:12px !important}
	.komentarai .comment .commentContent .permalink span a{color:#c61f10}
	.komentarai .commentContent .author{font-weight:700;text-transform:uppercase;font-size:11px !important;color:#0067b4 !important;margin-bottom:2px}
	.komentarai .navigation2{position:absolute;right:0;top:10px;float:none;margin:0}
	.komentarai .navigation2 a{display:inline-block}
	.komentarai .navigation2 a:focus{outline:none}
	.komentarai a:hover{text-decoration:underline}
	.komentarai .swipe{overflow:hidden;visibility:hidden;position:relative}
	.komentarai .swipe-wrap{overflow:hidden;position:relative}
	.komentarai .swipe-wrap > div{float:left;width:100%;position:relative}
	.komentarai #swiper_authorComments_balls,#topBotSwiper_authorComments_balls{width:100%;height:32px;text-align:center}
	.komentarai #swiper_authorComments_balls > div, #topBotSwiper_authorComments_balls > div{width:15px;height:32px;display:inline-block;cursor:pointer;padding:6px 0;opacity:.2;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
	.komentarai #swiper_authorComments_balls > div > div, #topBotSwiper_authorComments_balls > div > div{background:#000;border-radius:4px;width:8px;height:8px;display:inline-block}
	.komentarai .lfpActive0 #swiper_authorComments_balls_0,.komentarai .lfpActive1 #swiper_authorComments_balls_1,.komentarai .lfpActive2 #swiper_authorComments_balls_2,.lfpActive0 #topBotSwiper_authorComments_balls_0,.lfpActive1 #topBotSwiper_authorComments_balls_1,.lfpActive2 #topBotSwiper_authorComments_balls_2{opacity:.6!important}
	.komentarai .lfpActive0 #swiper_authorComments_balls_0 div,.komentarai .lfpActive1 #swiper_authorComments_balls_1 div,.komentarai .lfpActive2 #swiper_authorComments_balls_2 div,.lfpActive0 #topBotSwiper_authorComments_balls_0 div,.lfpActive1 #topBotSwiper_authorComments_balls_1 div,.lfpActive2 #topBotSwiper_authorComments_balls_2 div{width:9px;height:9px;position:relative;top:1px}
	.komentarai .comment .commentContent .permalink .str_new_url{font-size:17px}
	.komentarai .commentContent{width:240px}
	.rbr_class_5 .str_image_comm{border:1px solid #ddd}
	.rbr_class_5 .str_image_comm strong{border-top:1px solid #ddd;padding:8px}
	.komentatorius_laiko_zenklai .photo{display:none}
	.komentatorius_laiko_zenklai .commentContent{width:auto}
	
	h2.topHeadline a {width:100%;display:block;font-size:0 !important;text-decoration:none;border-bottom:1px dotted rgba(0,0,0,0.5);padding: 15px 0 5px;}
	h2.topHeadline a:hover {text-decoration:underline;}
	
	#topBotSwiper{width:100%;overflow: hidden;visibility: hidden;position: relative;}
	#topBotSwiperWrapper{overflow: hidden;position: relative;}
	#topBotSwiperWrapper .posts{float:left;width:100%;position: relative;}
	
	.swiperNav {display: inline-block;width: 26px;height: 45px;cursor: pointer;vertical-align: top;}
	.swiperNav:before {content:'';display: inline-block;margin-top: 7px;width: 0;height: 0;border-top: 6px solid transparent;border-bottom: 6px solid transparent;opacity: 0.75;}
	.swiperNav:hover:before {opacity: 1;}
	.swiperNavNext:before {border-left: 6px solid #000;}
	.swiperNavPrev:before {border-right: 6px solid #000;}
	
	.nw .fbn {background:url(http://lib.lrytas.lt/gfx/default/fb.png) left center no-repeat;background-size:14px;padding-left: 17px;background-position: 0px -1px;padding-top: 1px;margin-left: 8px;  color: #3b5998 !important;}
	
	.post.play .img:after {content:'';position:absolute;top:0;right:0;bottom:0;left:0;background:url('http://img.lrytas.lt/img/playtv40x40.png') no-repeat center;pointer-events:none;}
		
	#extraLinks {width:100%;border:1px solid #ccc;border-left:0;border-right:0;overflow:hidden;margin-bottom:-21px;z-index: 2;position: Relative;}
	#extraLinks > a {display:block;position:relative;float:left;width:68px;height:48px;margin:10px 0;border-right:1px solid rgba(0,0,0,0.2);background-position:center 4px;background-repeat:no-repeat;background-size:28px;opacity:0.7;-webkit-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;-ms-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
	#extraLinks > a:hover {opacity:1;color:#005fa5;text-decoration:underline;}
	#extraLinks > a:last-of-type {border:0;}
	#extraLinks > a:before {position:absolute;bottom:2px;left:0;right:0;text-align:center;font-size:11px;}
	#elTemos		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/temos0.png);}
	#elValiutos		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/valiutos0.png);}
	#elPrograma		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/programa0.png);}
	#elRenginiai	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/renginiai0.png);}
	#elHoroskopai	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/horo0.png);}
	#elKeliones		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/keliones0.png);}
	#elAutotestai	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/auto0.png);}
	#elOrai			{background-image:url(//lib.lrytas.lt/gfx/extraLinks/orai0.png);}
	#elAtsiusk		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/atsiusk0.png);}
	#elLaikrastis	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/laikrastis0.png);}
	#elTemos:hover		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/temos1.png);}
	#elValiutos:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/valiutos1.png);}
	#elPrograma:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/programa1.png);}
	#elRenginiai:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/renginiai1.png);}
	#elHoroskopai:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/horo1.png);}
	#elKeliones:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/keliones1.png);}
	#elAutotestai:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/auto1.png);}
	#elOrai:hover		{background-image:url(//lib.lrytas.lt/gfx/extraLinks/orai1.png);}
	#elAtsiusk:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/atsiusk1.png);}
	#elLaikrastis:hover	{background-image:url(//lib.lrytas.lt/gfx/extraLinks/laikrastis1.png);}
	#elTemos:before			{content:'Temos';}
	#elValiutos:before		{content:'Valiutos';}
	#elPrograma:before		{content:'Programa';}
	#elRenginiai:before		{content:'Renginiai';}
	#elHoroskopai:before	{content:'Horoskopai';}
	#elKeliones:before		{content:'Kelionės';}
	#elAutotestai:before	{content:'Autotestai';}
	#elOrai:before			{content:'Orai';}
	#elAtsiusk:before		{content:'Atsiųsk';}
	#elLaikrastis:before	{content:'Dienraštis';}

.placementfix {
	position: fixed;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
}

#center_page {position:relative;}
#Aplinkablock {
    height: 50px !important;
}
div#Aplinkablokas #Aplinkastr {
    top: 56px;
}
#Aplinkablock a#Aplinkaantraste {
    font-size: 0 !important;
    background: 0 0 no-repeat url(https://img.lrytas.lt/lib/gfx/logo/aplinka.png);
    background-size: 125px;
};