@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(http://fonts.gstatic.com/s/comingsoon/v6/myblyOycMnPMGjfPG-DzP50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
