@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url(https://fonts.gstatic.com/s/imfelldwpica/v6/W81bfaWiUicLSPbJhW-AToJ9FRurQkHWDDTe2Dq6d_c.ttf) format('truetype');
}
