/* Common */
.bg-new-f2p
{
	background: 				#DDD;
}

.new-f2p-profile-cont
{
	position: 					relative;

	text-align: 				left; 

	color: 						#2C353C;
	font-weight: 				normal;

	border-radius: 				0 0 3px 3px;
}

.f2ps-flame-gif
{
	position: 					absolute;
	top: 						0px;
	right: 						-20px;

	width: 						30px;
	height: 					32px;

	line-height: 				32px;
}

.f2ps-flame-gif img
{
	width: 						100%;
	height: 					auto;
}

.new-f2p-profile-cont hr,
.f2ps-main-page hr,
.f2ps-page hr
{
	height: 					1px;

	padding: 					0;
	margin: 					0;

	line-height: 				1px;

	background: 				rgb(190, 198, 198);

	border-color:				#BEC6C6;
}



/* Form new f2p */
.f2p-data-cont
{
	position: 					relative;

	color: 						#FFF;

	background: 				#00AED0;

	border-radius: 				0 0 3px 3px;
}

.f2p-data-cont p
{
	padding: 					0 15px;
}


.new-f2p-profile-cont .row-height-1
{
	line-height: 				28px;
}

.new-f2p-profile-cont .header h3
{
	font-size: 					17px;
	font-weight: 				bold;
}

.new-f2p-profile-cont .header h3 .fa
{
	margin-right: 5px;
}

.new-f2p-profile-cont h4
{
	line-height: 				28px;

	font-size: 					14px;
	font-weight: 				bold;
}

.new-f2p-profile-cont .info-desc
{
	color: 						#999;
	font-size: 					11px;
	font-weight: 				normal;
	font-style: 				italic;
}

.new-f2p-profile-cont .input-style-1
{
	width: 						100%;
	height: 					28px;

	padding: 					0 5px;
	
	font-family: 				"Courier New", Courier, monospace;
	
	border: 					1px solid #BBB;
	border-radius: 				3px;
}

.new-f2p-profile-cont textarea
{
	width: 						100%;
	height: 					70px;

	padding: 					5px;
	
	font-size: 					11px;
	font-family: 				"Courier New", Courier, monospace;
	
	border: 					1px solid #BBB;
	border-radius: 				3px;
}

.new-f2p-profile-cont .f2p_rel_game
{
	width: 						100%;
	height: 					150px;

	padding: 					5px;
	
	font-size: 					11px;
	font-family: 				"Courier New", Courier, monospace;
	
	border: 					1px solid #BBB;
	border-radius: 				3px;
}

.new-f2p-profile-cont .checkbox-agree-terms
{
	margin-top: 				8px;
}

.new-f2p-profile-cont .btn-save-new-f2p,
.new-f2p-profile-cont .btn-cancel-f2p
{
	width: 						100%;
	height: 					28px;

	text-align: 				center;

	color: 						#FFF;

	border: 					1px solid;
	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.new-f2p-profile-cont .btn-save-new-f2p
{
	background: 				#00AED0;
	border-color: 				#00AED0;
}

.new-f2p-profile-cont .btn-cancel-f2p
{
	background: 				#E0272B;
	border-color: 				#E0272B;
}

.new-f2p-profile-cont .btn-save-new-f2p:hover
{
	color: 						#00AED0;
	background: 				rgba(0, 174, 208, 0.2);
}

.new-f2p-profile-cont .btn-cancel-f2p:hover
{
	color: 						#E0272B;
	background: 				rgba(224, 39, 43, 0.2);
}
/* --- */

/* Header */
.f2ps-header h1 {
	height:						auto;

	margin-top:					10px;
}

.f2ps-header h2.f2ps-claim {
	height:						63px;

	text-align:					center;
	line-height:				57px;

	font-size:					33px;
	font-family:				'Jura', sans-serif;
	font-weight:				bold;
}

.f2ps-header h1 img {
	width:						100%;
}

.f2ps-header 
{
	height: 					67px;

	margin: 					0;

	border: 					1px solid rgba(64, 80, 89, 0.5);
	border-radius: 				5px;
}


 /* --- */


/* Main page */

.f2ps-main-page .page-nav .page-link-cont
{
 height: 						30px;

 margin-right: 					3px;

 text-align: 					center;
}

.f2ps-main-page .page-nav .page-link-cont a, 
.f2ps-main-page .page-nav .page-link-cont span
{
 padding: 						0 10px;

 line-height: 					28px;
 display:						block;

 border: 						1px solid #B3BCC3;
 border-radius: 				3px;
}

.f2ps-main-page .page-nav .page-link-cont a
{
 -webkit-transition: 			all 200ms ease;
 -moz-transition: 				all 200ms ease;
 -ms-transition: 				all 200ms ease;
 -o-transition: 				all 200ms ease;
 transition: 					all 200ms ease;
}

.f2ps-main-page .page-nav .page-link-cont a.active,
.f2ps-main-page .page-nav .page-link-cont a:hover
{
 background: 					#FFF;
}

.f2ps-main-page .page-nav .page-link-cont span
{
 color: 						#B3BCC3;
 text-shadow: 					1px 1px 1px #FFF;
}




.f2ps-main-page .f2p-cont 
{
	width:						220px;
	margin-right:				26px;
	margin-bottom:				26px;
}

.f2ps-main-page .f2p-cont .f2p_box 
{
	position:					relative;

	background:					#FFF;

	border-radius:				0 0 3px 3px;
}

.f2ps-main-page .f2p-cont .f2p_box .f2ps-status
{
	position:					absolute;
	z-index: 					100;

	height: 					30px;

	padding: 					0 10px;

	line-height: 				30px;

	font-size: 					12px;

	background: 				rgba(255, 255, 255, 0.85);
}

.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-1,
.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-2,
.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-3
{
	display: 					block;
}

.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-1
{
	color: 						#64B664;
}

.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-2
{
	color: 						#FFC46A;
}

.f2ps-main-page .f2p-cont .f2p_box .f2ps-status .f2p-status-3
{
	color: 						#61D0FE;
}

.f2ps-main-page .f2p-cont .f2p_box .f2p_img
{
	
}

.f2ps-main-page .f2p-cont .f2p_box .f2p_img p
{
	width: 						100%;
	height: 					156px;

	overflow: 					hidden;
}

.f2ps-main-page .f2p-cont .f2p_box .f2p_img p img 
{
	width: 						100%;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.f2ps-main-page .f2p-cont .f2p_box .f2p_img:hover p img
{
	opacity:					0.7;
	transform: 					scale(1.1);
}

.f2ps-main-page .f2p_desc
{
	min-height: 				25px;

	overflow:					hidden;
}

.f2ps-main-page .f2p_desc h4
{
	max-width: 					275px;
	height: 					25px;

	line-height: 				25px;

	font-size: 					15px;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;

	overflow:					hidden;
}

.f2ps-main-page .f2p_desc p
{
	height: 					40px;

	line-height: 				20px;
}

.f2ps-main-page .avatar-cont img
{
	width: 						30px;
	height: 					30px;

	margin-right: 				5px;

	border-radius: 				50px;
}

.f2ps-main-page .f2p_owner-cont
{
	height: 					40px;

	overflow: 					hidden;
}

.f2ps-main-page .f2p_owner
{
	line-height: 				40px;
}

.f2ps-main-page .f2p_owner .steam-nick-cont
{
	max-width: 					135px;

	text-overflow: 				ellipsis;
	white-space: 				nowrap;

	overflow:					hidden;
}
/* --- */

/* Single f2p page */

.f2ps-page
{
	font-size: 					15px;
}

.f2ps-page h1
{
	font-size: 					19px;
}

.f2ps-page h2
{
	font-size: 					15px;
}

.f2ps-header h2
{
	font-size: 					15px;
}

.f2ps-page h3
{
	font-size: 					15px;
}

.back-to-f2ps
{
	margin-top: 				20px;
}

.back-to-f2ps a
{
	background: 				#FFF;
}

.back-to-f2ps a:hover
{
	
}

.f2ps-page .f2p-title
{
	height:						70px;

	padding: 					0px;

	line-height:				70px;

	font-size: 					19px;
}

.f2ps-page .f2p-title .fa
{
	padding: 					5px;
	margin-right: 				10px;

	border: 					1px solid #000;
	border-radius: 				50px;
}

.f2ps-page .avatar-cont
{
	border-radius: 				50px;

	overflow: 					hidden;
}

.f2ps-page .avatar-cont img
{
	width: 						100%;
	height: 					auto;
}

.f2ps-page .username-cont
{
	line-height: 				40px;
}

.f2ps-page .datime-info-cont
{
	padding: 					2px 8px;
	margin-right: 				5px;

	font-size: 					11px;
	text-shadow: 				1px 1px 1px #FFF;

	border: 					1px solid #2C353C;
	border-radius: 				5px;
	vertical-align:				middle;
}

.f2ps-page .datime-info-cont .fa
{
	font-size: 					11px;
	line-height:				10px;
}

.f2ps-page .games-to-f2p-title
{
	font-size: 					15px;
	font-weight: 				bold;
}

.f2ps-page .offer-box
{
	padding: 					15px 0;
	margin: 					0;
}

.f2ps-page .offer-box:nth-child(odd)
{
	background: 				#BEC6C6;
}

.f2ps-page .offer-img-cont img
{
	width: 						auto;
	height: 					60px;
}

.f2ps-page .offer-type-1,
.f2ps-page .offer-type-2,
.f2ps-page .offer-type-3
{
	line-height: 				60px;
}

.f2ps-page .offer-type-3 .fa
{
	color: 						#FFC46A;
}

.f2ps-page .accept-f2p-cont
{
	margin-top: 				15px;
}

.f2ps-page .btn-accept-f2p
{
	width: 						100%;
	height: 					28px;

	text-align: 				center;

	color: 						#FFF;

	background: 				#00AED0;

	border: 					1px solid;
	border-color: 				#00AED0;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.f2ps-page .btn-accept-f2p:hover
{
	background: 				rgba(0, 174, 208, 0.3);
}
/* --- */

.game-to-f2p p 
{
	width:						197px;
	height:						auto;
	
	overflow:					hidden;
}

.game-to-f2p p img
{
	width:						100%;
	height: 					auto;
	
	transition: 				all .2s ease-in-out;
}

.game-to-f2p:hover img
{
	transform: 					scale(1.1);
	opacity:					0.7;
}

.btn-f2p-this-game 
{
	width: 						100%;
	padding:					5px;

	color:						#FFF;

	background:					rgba(52, 157, 189, 1);

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.game-to-f2p:hover .btn-f2p-this-game
{
	background:					rgba(52, 157, 189, 0.3);
}

.single-game-box .single-game-offer .btn-accept-f2p {
	padding:					0px;
	background:					#349DBD none repeat scroll 0% 0%;
	color:						#fff;
	height:						40px;
	line-height:				39px;
	width:						105px;
	border:						1px solid #349DBD;
}
.single-game-box .single-game-offer .btn-accept-f2p:after {
	content:"Accept";
}

.single-game-box .single-game-offer .btn-accept-f2p:hover {
	padding:					0px;
	background:					rgba(52, 157, 189, 0.3);
	color:						#fff;
	height:						40px;
	line-height:				39
	border:						1px solid #349DBD;

}
.single-game-box .single-game-offer .btn-accept-f2p:hover:after {
	content:"Accept";
}


.show-more-about-f2ps
{
	padding: 					15px;

	line-height: 				18px;

	font-size: 					12px;

	background: 				#BEC6C6;

	border-radius: 				0 0 3px 3px;
}

.show-more-about-f2ps ul li
{
	padding-left: 				15px;
}