
/* --- GENERIC --- */
body
{
	clear: 						both;
	
	width: 						100%;
	min-width: 					970px;
	min-height: 				100%;
	
	margin: 					0 auto;
	
	text-align: 				left;
	line-height: 				1.25;
	
	color: 						#333;
	font-family: 				Arial, sans-serif;
	
	background: 				url('/img/bg-mainpage.png') #474747;
}

a 								{ color: #333; }
a:hover, 
a:focus 
{ 
	color: 						#333;
	text-decoration: 			none; 
	outline: 					none;
	
	border: 					none; 
}

button
{
	padding: 					0;
	
	background: 				none;
	
	border: 					none;
}

img 							{ border: none; }

label 							{ font-weight: normal }

li  							{ list-style: none; }

input 							{ border: none; outline: none; }

button:focus, 
input:focus 					{ outline: none; }

h1, h2, h3, h4, h5, h6, li, p, label, ul, ol
{ 
	padding: 					0; 
	margin: 					0; 
}

.clicker
{
	position: 					absolute;
	top: 						0;
	left: 						0;

	width: 						100%;
	height: 					100%;
}

.container
{
	width: 						990px;

	padding: 					0 15px;
	margin: 					0 auto;
}

#fixed-header
{
	position: 					fixed;
	z-index: 					2000;

	width: 						100%;

	background: 				#CC001D;

	/* box-shadow: 				0px 0px 5px 5px rgba(0, 0, 0, 0.25); */
}

.header-placeholder
{
	height: 					70px;
}

.showOnScroll
{
	opacity: 					0;
}

nav.site-menu ul li
{
	float: left;

	display: 					inline;
	line-height: 				70px;

	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
}

nav.site-menu ul li.logo-cont
{
	background: 				#2E2E2E;
}

nav.site-menu ul li a
{
	padding: 					0 18px;

	display: 					block;
	line-height: 				70px;

	color: 						#FFF;

	/* border-top: 				3px solid #CC001D; */

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

nav.site-menu ul li.logo-cont a
{
	padding: 					0 20px;

	border-color: 				#2E2E2E;
}

nav.site-menu ul li.bundles-cont a
{
	/* background: 				url('/img/icons/snake-bundle-button-speed.gif') no-repeat; */
}

nav.site-menu ul li.bundles-cont a:hover,
nav.site-menu ul li.bundles-cont a.active,
nav.site-menu ul li.bundles-cont a.selected
{
	/* background: 				url('/img/icons/snake-bundle-button-speed.gif') no-repeat #A70000; */
}


nav.site-menu ul li a:hover,
nav.site-menu ul li a.active,
nav.site-menu ul li a.selected
{
	background: 				#A70000;

	/* border-color: 				#FFF; */
}

nav.site-menu ul li.logo-cont a:hover
{
	background: 				#2E2E2E;
}

.sub-nav
{
	padding: 					15px 10px;
	padding-bottom: 			0;
	margin-bottom: 				2px;

	color: 						#FFF;

	background: 				#A70000;
}

.sub-nav ul li
{
	float: 						left;

	padding-bottom: 			15px;

	display: 					inline;
}

.mega-menu-item
{
	width: 						192px;

	min-height: 				35px;
}

.extra-info-cont
{
	position: 					absolute;
	bottom: 					38px;
	left: 						4px;

	width: 						50px;
	height: 					auto;
}

.medium-elem .extra-info-cont
{
	top: 						auto;
	bottom: 					0;
	left: 						0;

	width: 						70px;
	height: 					auto;
}

.extra-info-cont img
{
	width: 						100%;
	height: 					auto;
}

.mega-menu-item .img-cont
{
	display: 					block;

	margin: 					0 4px;

	border: 					2px solid #CC001D;
}

.mega-menu-item .img-cont img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.mega-menu-item .mega-menu-item-title
{
	text-align: 				center;
}

.mega-menu-item a, 
.mega-menu-item span
{
	color: 						#FFF;
	font-size: 					10px;
	font-family: 				"Lucida Console", Monaco, monospace;
}

.user-submenu .mega-menu-item
{
	width: 						auto;

	margin-right: 				35px;
}

.user-submenu .mega-menu-item a, 
.user-submenu .mega-menu-item span
{
	line-height: 				35px;

	font-size: 					13px;
}

.user-submenu .mega-menu-item span
{
	padding: 					6px 10px;

	color: 						#333;

	background: 				#FFF;

	border-radius: 				3px;
}

.steamnick-cont
{
	line-height: 				35px;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
}

.steamnick-cont .coins-amount
{
	text-shadow: 				-1px 1px 0 #DDD;
}

.steamnick-cont .coins-amount img
{
	height: 					12px;
	width: 						auto;

	vertical-align: 			middle;
}

.steamnick-cont .border-r-3
{
	margin-left: 				10px;
}

.steamnick-cont .steam-username
{
	padding: 					0 10px;

	color: 						#333;

	background: 				#FFF;
}

.steamnick-cont .avatar-cont
{
	width: 						auto;
	height: 					36px;

	padding: 					0;

	background: 				none;
}

.steamnick-cont .avatar-cont img
{
	width: 						auto;
	height: 					100%;
}

.steamnick-cont .fa
{
	margin-right: 				10px;

	font-size: 					16px;
}

.steamnick-cont .coins-amount
{
	padding: 					0 10px;

	color: 						#333;

	background: 				#FFF;

	border-left: 				1px solid #999;
}

.mega-menu-item .mega-menu-item-title a:hover
{
	color: 						#FFF;
}

.top-search .relative
{
	margin-top: 				17px;

	line-height: 				35px;
}

.top-search input
{
	height: 					35px;
	width: 						220px;

	padding: 					0 10px;

	line-height: 				35px;

	color: 						#999999;

	background: 				#FFF;
}

.top-search button
{
	position: 					absolute;
	top: 						0;
	right: 						0;

	width: 						35px;
	height: 					35px;

	line-height: 				35px;
	text-align: 				center;

	color: 						#FFF;
	font-size: 					17px;

	background: 				#2E2E2E;
}

.top-search .fa
{

}

.error_back
{
	background: 				#d2dada url("/img/back-error404.png") center 120px repeat; 
}

.pixel-font 
{
	font-family: 'Press Start 2P' !important;
}

.store_back_promo_1

{
	background: 				#474747 url("/store-img/store-back/voodoo_back.jpg?version=20161116a") center 55px no-repeat
}


.store_back_promo_2
{
	background: 				#474747 url("/store-img/store-back/codemasters_back.jpg?version=20161116C") center 55px no-repeat
}

.store_back_promo_3
{
	 background: 				#474747 url("/store-img/store-back/warhammer_eternal_crusade_back.jpg?version=20161116d") center 55px no-repeat;
}

.store_back_promo_4
{
	 background: 				#474747 url("/store-img/store-back/dark-souls2-juarez-bundle_scratch.jpg?version=20161116b") center 55px no-repeat;
}

.store_back_promo_5
{
	 background: 				#474747 url("/store-img/store-back/dieyoung-back.jpg?version=20161018a") center 45px no-repeat;
}

.store_back_promo_voodoo
{
	 background: 				#474747 url("/store-img/store-back/voodoo_back.jpg?version=20161029a") center 55px no-repeat;
}

.store_back_promo_downward
{
	 background: 				#474747 url("/store-img/store-back/downward_bg.jpg?version=20161029b") center 55px no-repeat;
}


/*
.store_back_promo_5
{
	clear: both;
    width: 100%;
    min-width: 970px;
    min-height: 100%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.25;
    color: #333;
    font-family: Arial, sans-serif;
    background: url('/img/bg-mainpage.png') #474747;
}
*/


.home_back_promo_1
{
	background: 				#474747 url("/store-img/store-back/voodoo_back.jpg?version=20161116a") center 55px no-repeat

}


.home_back_promo_2
{
	background: 				#474747 url("/store-img/store-back/codemasters_back.jpg?version=20161116C") center 55px no-repeat
}

.home_back_promo_3
{
	 background: 				#474747 url("/store-img/store-back/warhammer_eternal_crusade_back.jpg?version=20161116d") center 55px no-repeat;
}

.home_back_promo_4
{
	 background: 				#474747 url("/store-img/store-back/dark-souls2-juarez-bundle_scratch.jpg?version=20161116b") center 55px no-repeat;
}

.home_back_promo_5
{
	 background: 				#474747 url("/store-img/store-back/dieyoung-back.jpg?version=20161018a") center 45px no-repeat;
}


.home_back_promo_6
{
	 background: 				#474747 url("/store-img/store-back/dark-souls2-juarez-bundle_scratch.jpg?version=20161018a") center 55px no-repeat;
}

.home_back_promo_voodoo
{
	 background: 				#474747 url("/store-img/store-back/voodoo_back.jpg?version=20161029a") center 55px no-repeat;
}


.banner_back_store {
    position: relative;
    width: 100%;
    height: 117px;
    overflow: hidden;
}
.banner_back_store {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
	background:	 url("/store-img/banner-promo/banner-html/naild_960x150.png") center 0px no-repeat !important;
}


.info-main-back {
    position: absolute;
    right: 5px;
    top: 63px;
    font-size: 16px;
    font-weight: 100;
    color: #2E2E2E;
}
.logo_game {
	width: 200px;
	float: left;
	line-height: 100px;
}
.logo_game img{
	width: 200px;
	float: left;
	line-height: 100px;
}
.info-sub-back {
    position: relative;
	float:left;    
	font-size: 34px;
    font-weight: 100;
    color: #000;
	width:570px;
	margin:				0 25px;
    text-align:				center;
	letter-spacing:			0.005em;
}
.title-info-sub-back {font-size:25px;text-align:left;}
.subtitle-info-sub-back {width:600px;font-size:21px;text-align:left;}
.info-main-back {
    position: absolute;
    right: 0;
    top: 63px;
    font-size: 16px;
    font-weight: 100;
    color: #2E2E2E;
}

.link-on-banner 
{
	
	font-size: 21px;
	font-weight: 100;
	color: #000;
	text-align: left;
	letter-spacing: 0.005em;
	line-height: 27px;
}

.link-on-banner a 
{
	color: 						#C80032;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.link-on-banner a:hover
{
	color: 						#E71F51;
}

/*
.promo_store_link_overlay
{
	position:					absolute;
	top: 						0;
	left:						0;

	width: 						100%;
	height: 					117px;
}

.claim-main-back {
	position:					absolute;
	left:						0;
	font-size:					46px;
	font-weight:				800;
	color:						#2E2E2E;
	text-shadow:				2px 2px #ef4623;
	line-height:				40px;
	height:						50px;
}
.info-main-back {
	position:				absolute;
	right:					0;
	top:						0px;
	font-size:					16px;
	font-weight:				100;
	color:						#2E2E2E;
}
.claim-sub-back {
	position:				absolute;
	left:0;
	top:						50px;
	font-size:					26px;
	font-weight:				100;
	color:						#2E2E2E;
}
.info-sub-back {
	position:				absolute;
	left:0;
	top:						87px;
	font-size:					16px;
	font-weight:				100;
	color:						#2E2E2E;
}
.puppet1 {
	width: 77px;
	position: absolute;
	right: 103px;
	top: 22px;
	}
.info-puppet1  {
	position: absolute;
	right: 197px;
	top: 55px;
	}
.puppet2 {
	width: 67px;
	position: absolute;
	right: 289px;
	top: 52px;
	}
.info-puppet2  {
	width: 110px;
	position: absolute;
	right: 4px;
	top: 55px;
	}
*/
/* END STORE-BACK-PROMO */


.container-623 					{ width: 623px; }
.container-297 					{ width: 297px; }
.container-full 				{ width: 100%; padding: 20px 15px 0; margin: 0 auto; }

.bg-1 							{ background: #2E2E2E; }
.bg-2 							{ background: #404040; }
.bg-3 							{ background: #B3BBBB; }
.bg-3-op						{ background: rgba(255,255,255,0.3) !important; }
.bg-4 							{ background: #D2DADA; }
.bg-black						{ background: #000000 !important; }

/* TRADES COLOR BACKGROUNDS */
.bg-5 							{ background: #bec6c6; }

.col-5 							{ color: #bec6c6; }
/* END TRADES COLOR BACKGROUNDS */


.col-1							{ color: #2E2E2E; }
.col-2							{ color: #404040; }
.col-3							{ color: #d2dada !important; }

.bg-orange 						{ background: #FFB903; }
.bg-green 						{ background: #478EFF; }
.bg-blue 						{ background: #809D87; }
.bg-black 						{ background: #000000; }
/* --- */

.black-text 					{ color: #000000; }
.white-text 					{ color: #FFFFFF; }
.blue-text 						{ color: #2E2E2E; }
.red-text 						{ color: #C00; }
.red-garnet-text 				{ color: #A40000; }
.redark-text 					{ color: #802838; }
.cyan-text 						{ color: #0088EE; }
.yellow-text 					{ color: #CC0; }
.yellow-phospho-text 			{ color: #FFED45; }
.light-blue-text 				{ color: #00AED0; }
.orange-text 					{ color: #FF6633; }
.gray-middle 					{ color: #7e8080; }
.green-positive					{ color: #598527; }
.red-negative					{ color: #b13334; }
.blue-online					{ color: #00AED0; }

.st_ico 
{
	width: 						50px;
	height: 					50px;
	
	background: 				url("/img/icons/steam-icon-b-store.png") no-repeat scroll center center;
	margin:						0 auto;
}

.st_ico_big 
{
	
}

/* POPUP BANNER STORE */
#myModal-specialpack-offert .modal-header  {
	min-height: 16.43px;
	}

.social_postgames {
    background: none !important;
}
.social_center {
    background: none !important;
    border-bottom: none !important;
}
#share-text {
    margin: 0px;
}
#myModal-specialpack-offert .social_postgames .social_center {
	height:64px !important;
	margin-bottom:-5px;
	}
#myModal-specialpack-offert .social_postgames .social_center .row {
	border-bottom:none;
	}
#myModal-specialpack-offert .social_postgames .social_center .row .share-text{
	margin:12px auto -2px !important;
	}
#myModal-specialpack-offert .social_postgames .social_center .row .share-text span{
	font-size:17px; !important;
	}
	#myModal-specialpack-offert #share-text form p input {
		font-size: 16px;
		width: 300px;
		height: 31px;
	}
	
	#myModal-specialpack-offert #share-text form p .button-pop {
		width: 126px;
	}
	
/* END POPUP BANNER STORE */

/* SLIDER BANNER */
/*  FORZA IL BANNER SLIDER A RIMANERE SOTTO*/
.force-banner-above {
	
	position: relative;
	overflow: auto;
	z-index: 100;
	
	}
	
/*  FINE FORZA IL BANNER SLIDER A RIMANERE SOTTO*/
/* FINE SLIDER BANNER FORCED */


/* --- HEADER --- */
header
{
	
}

header,
header a
{
	color: 						#999;
}

.header-col-log, 
.header-col-menu,
.header-col-user
{
	width: 						auto;
}

.header-col-social
{
	float:						right;
}

header .logo, 
nav.top-menu ul li, 
.login-top a.login-btn, 
.login-top a.dropdown-toggle, 
nav.social-buttons ul li
{
	line-height: 				70px;
	font-size: 13px;
}

.header-col-menu .special
{
	padding: 					3px 10px;

	color: 						#00AED0;

	border: 					1px solid #00AED0;
	border-radius: 				5px;
}

.header-col-menu .special:hover
{
	color: 						#2BD9FB;

	border: 					1px solid #2BD9FB;
}

.login-top .login-btn,
.login-top .dropdown-toggle {
	
	float: left !important;
	
	}
	

.login-top .login-btn {
	
	float: right !important;
	
	}
	
	
.login-top .dropdown-menu
{
	top: 						56px;
	
	min-width: 					auto;
}

.login-top .dropdown-menu li a
{
	padding: 					3px 15px;
}

/* FOR TOO MUCH LONG EMAIL NAME */

.header-col-user {
	
	padding-left:				0;
	
	}

.dropdown-toggle {

}

/* END FOR TOO MUCH LONG EMAIL NAME */



/*.col-xs-3 .login-top 
{
	text-align: 				left;
}
.col-xs-3 .login-top:first-child 
{
	text-align: 				right;
}
*/
nav.top-menu ul li,
nav.social-buttons ul li
{
	float: 						left;
	
	display: 					inline;
}

nav.top-menu ul li
{
	margin: 0 10px;
}

nav.top-menu ul li a,
.login-top a
{
	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

nav.top-menu ul li a:hover,
.login-top a:hover
{
	color: 						#FFF;
}

nav.top-menu ul li a:focus,
.login-top a
{
	color: 						#999;
}

.login-top .button-pop
{
	padding: 					5px 10px;
	
	color: 						#FFF;
	
	background: 				#404040;
}

.login-top a.button-forgot:hover
{
	color: 						#999;
	text-decoration: 			underline;
}

nav.social-buttons
{
	margin-top: 				17px;
}

nav.social-buttons ul li
{
	width: 						35px;
	height: 					35px;
	
	margin: 					0px 0px 0px 7px;
	
	text-align: 				center;
	
	border-radius: 				20px;
	-moz-border-radius: 		20px;
	-webkit-border-radius: 		20px;
	
	overflow: 					hidden;
}

nav.social-buttons ul li a
{
	display: 					block;
	line-height: 				33px;
	height:						40px;
	color: 						#FFF;
	font-size: 					20px;
	
	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

nav.social-buttons ul li.tw a
{
	background: 				#64CDED;
}

nav.social-buttons ul li.tw a:hover
{
	color: 						#64CDED;
	
	background: 				#FFF;
}

nav.social-buttons ul li.fb a
{
	background: 				#4F7ABE;
}

nav.social-buttons ul li.fb a:hover
{
	color: 						#4F7ABE;
	
	background: 				#FFF;
}

nav.social-buttons ul li.yt a
{
	background: 				#EE6A53;
}

nav.social-buttons ul li.yt a:hover
{
	color: 						#EE6A53;
	
	background: 				#FFF;
}

nav.social-buttons ul li.pi a
{
	background: 				#cb2027;
}

nav.social-buttons ul li.pi a:hover
{
	color: 				#cb2027;
	
	background: 				#FFF;

}

nav.social-buttons ul li.gp a
{
	background: 				#c40807;
}

nav.social-buttons ul li.gp a:hover
{
	color: 						#c40807;
	
	background: 				#FFF;

}

nav.social-buttons ul li.st a
{
	height:						36px;

	background:					#5b5b5b url("/img/icons/steam-icon-w-header.png") center no-repeat;

}

nav.social-buttons ul li.st a:hover
{
	height:						36px;

	background:					#fff url("/img/icons/steam-icon-dg-header.png") center no-repeat;
}

/*
#myModal-login .modal-dialog .modal-content #popupemail,
#myModal-login .modal-dialog .modal-content #popuppassword {
	
	border:						1px solid #b3bbbb;
	
	}
	
#myModal-forpass .modal-dialog .modal-content .keys_description form .input-append #tforgotemail,
#myModal-register .modal-dialog .modal-content form table tbody tr td input {
	
	border:						1px solid #b3bbbb;
	
	}
	

#myModal-forpass .modal-dialog .modal-content .keys_description form .input-append .button {
	
	padding:					3px 10px;
	color:						#FFF;
	background:					#404040 none repeat scroll 0% 0%;
	font-size:					12px;
	float:						right;
}
	
#myModal-register .modal-dialog .modal-content form table tbody tr td button {
	
	color:						#FFF;
	background:					#404040 none repeat scroll 0% 0%;
	font-size:					12px;
	float:						right;
	padding:					6px 10px;
	margin:						0px 2px;
}
*/
/* --- */



/* --- MENU BUNDLE --- */
nav.main-menu
{
	margin: 					0 0;
	margin-top: 				25px;
}

nav.main-menu ul li
{
	position: 					relative;
	
	float: 						left;
	
	height: 					37px;
	
	padding: 					0 10px;
	margin: 					0 2px;
	
	display: 					inline;
	
	font-size: 					9px;
	text-transform: 			uppercase;
	
	background: 				#2E2E2E;
	
	border-top-left-radius: 				10px;
	-moz-border-top-left-radius: 			10px;
	-webkit-border-top-left-radius: 		10px;

	border-top-right-radius: 				10px;
	-moz-border-top-right-radius: 			10px;
	-webkit-border-top-right-radius: 		10px;

	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;

}

nav.main-menu ul li a
{
	color: 						#D2DADA;
	
	display: 					block;
	line-height: 				37px;
}

nav.main-menu ul li.active,
nav.main-menu ul li:hover
{
	background: 				#D2DADA;
}

nav.main-menu ul li.active a,
nav.main-menu ul li:hover a
{
	color: 						#2E2E2E;
}

.flame-gif
{
	position: 					absolute;
	top: 						-25px;
	right: 						-15px;
	z-index: 					100;
	
	width: 						41px;
	height: 					auto;
}

.flame-gif img
{
	width: 						100%;
}

.toggle-more-bundles
{
	position: 					absolute;
	top: 						0;
	right: 						0;

	height: 					37px;

	padding: 					0 10px;

	line-height: 				37px;

	font-size: 					11px;

	background: 				#D2DADA;

	border-radius: 				10px 10px 0 0;
}
/* --- */



/* --- GAMES CONTAINERS --- */
#home-store-carousel
{
	width: 						635px;
	height: 					311px;

	margin-right:				15px;
	margin-bottom:				15px;

	overflow: 					hidden;
}

.great-game
{
	position: 					relative;
	
	float: 						left;
	
	width: 						635px;
	height: 					311px;
	
	overflow: 					hidden;
}

.great-game .img-cont img
{
	width: 						635px;
	height: 					311px;
}

/*  BANNER IMAGE STORE PUBLISHER */
.banner-img {
	width: 					310px;
}
/*  FINE BANNER IMAGE STORE PUBLISHER */

.store-box-extra
{
	width: 						310px;
	height: 					298px;

	margin-bottom:				14px;
}

.store-box-extra a
{
	display: 					block;
	line-height: 				298px;
}

.store-box-extra a img.banner-img
{
	display: 					block;
}

.store-box-extra a .text-main-cont
{
	position: 					absolute;
	top: 						14px;
	left: 						14px;

	width: 						276px;

	padding: 					5px 0;

	text-align: 				center;

	color: 						#FFF;

	background: 				rgba(0, 0, 0, 0.4);
}

.store-box-extra a .text-main-cont .row-1
{
	line-height: 				34px;

	font-size: 					24px;
	font-weight: 				bold;
	text-transform: 			uppercase;
}

.store-box-extra a .text-main-cont .row-2
{
	line-height: 				26px;

	font-size: 					16px;
	text-transform: 			uppercase;
}

.store-box-extra a .text-main-cont .row-2 span
{
	
}

.sub-carousel-bar
{
	margin-bottom: 				14px;
}

.sub-carousel-bar .carousel-controls-container
{
	width: 						635px;
}

.sub-carousel-bar .carousel-controls
{
	width: 						310px;
	height: 					28px;

	line-height: 				28px;

	color: 						#FFF;
	font-size: 					25px;
	text-shadow: 				-1px 1px 0px #2E2E2E;

	/* background: 				url("/img/icons/slider_store_arrows.png") left 50% no-repeat; */

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.sub-carousel-bar .carousel-next
{
	/* background: 				url("/img/icons/slider_store_arrows.png") right 50% no-repeat; */
}

.sub-carousel-bar .carousel-controls:hover
{
	/* background: 				url("/img/icons/slider_store_arrows_active.png") left 50% no-repeat; */
}

.sub-carousel-bar .carousel-next:hover
{
	/* background: 				url("/img/icons/slider_store_arrows_active.png") right 50% no-repeat; */
}


.carousel-controls-container ul
{
	height: 					28px;
}

.carousel-controls-container ul li
{
	width: 						70px;
	height: 					10px;

	margin: 					0 5px;
	margin-top: 				9px;

	display: 					inline-block;

	cursor: 					pointer;

	border: 					1px solid #2E2E2E;
	border-radius: 				2px;
	-moz-border-radius: 		2px;
	-webkit-border-radius: 		2px;

	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

.carousel-controls-container ul li:hover,
.carousel-controls-container ul li.active
{
	background: 				#2E2E2E;
}

.claim-medium-games
{
	width: 						310px;

	height: 					27px;

	margin-bottom: 				14px;

	text-align: 				center;
	line-height: 				27px;

	border: 					1px solid #C3CBCB;
	border-radius: 				3px;
	-moz-border-radius: 		3px;
	-webkit-border-radius: 		3px;
	/* WITH PROMO BACKGROUND ON STORE */
	background: rgba(210,218,218,0.6);
}

.claim-medium-games h4
{
	text-align: 				center;
	line-height: 				26px;

	font-size: 					14px;
	font-weight: 				normal;
	text-transform: 			uppercase;
}

.medium-game
{
	position:					relative;
	float:						left;
	width:						310px;

	margin-right:				15px;
	margin-bottom:				15px;
	overflow:					hidden;
}

.great-game a,
.medium-game a
{
	display: 					block;
}

.medium-game .img-cont img
{
	width: 						100%;
	height:						auto;
}

.is-earlyaccess
{
	position:absolute;
	width: 30%;
	height: auto;
	z-index: 50;
}

.is-earlyaccess img
{
	width: 100%;
	height: auto;
	display: block;
}

.is-earlyaccess-big
{
	position:absolute;
	width: 20%;
	height: auto;
	z-index: 50;
}

.is-earlyaccess-big img
{
	width: 100%;
	height: auto;
	display: block;
}

.buttons-cont
{
	overflow: 					hidden;
}

.price-store-prod {
	float:						right;
	height:						60px;
	line-height:				60px;
	margin:						0 13px 0 0;
	}
	
.price-store-prod.first-p {
	color:						#FF0000;
	font-size:					15px;
	}

.price-store-prod.final-p {

	margin:						0 11px 0 0;
	color:						#598527;
	font-weight:				700;
	font-size:					17px;
	letter-spacing:				1px;
	}

.prices-cont .left
{
	width: 						62px;
	height: 					36px;
	
	text-align: 				center;
	line-height: 				36px;
	
	color: 						#FFF;
	font-size: 					22px;
	text-shadow: 				0 1px 0 #2E2E2E;
	
	background:					#598527;
}

.prices-cont .right
{
	width: 						62px;
	
	text-align: 				center;
	
	color: 						#333;
	
	
	
	height:						36px;
}

.prices-cont .right .inner
{
	height: 					36px;

	background: 				#FFF;
	
	border: 					1px solid #598527;
}

.prices-cont .right .top,
.prices-cont .right .bottom
{
	height: 					14px;
	
	line-height: 				19px;
	
	color:						#333;

}

.prices-cont .right .top
{
	color: 						#999;
	font-size: 					11px;
	text-decoration: 			line-through;
}

.prices-cont .right .bottom
{
	font-size: 					12px;
	font-weight: 				bold;
}

.price-cont
{
	height: 					38px;
	
	text-align: 				center;
	line-height: 				38px;
	
	color: 						#333;
	font-size: 					15px;
	font-weight: 				bold;
	
	background: 				#FFF;
}

.add-info-button-cont .price-cont
{
	width: 						100%;
}

/* STORE SINGLE PRODUCT */


.buttons-cont-sing
{
	margin: 					11px 10px 0 0;
}

.search-price-cont .buttons-cont-sing
{
	margin: 					0;
}

.prices-cont-sing .left
{
	width: 						62px;
	height: 					36px;
	
	text-align: 				center;
	line-height: 				36px;
	
	color: 						#FFF;
	font-size: 					22px;
	
	background:					#598527;
}

.prices-cont-sing .right
{
	width: 						62px;
	
	text-align: 				center;
	
	color: 						#333;
	
	background: 				#FFF;
	
	height:						36px;
}

.prices-cont-sing .right .inner
{
	height: 					31px;
	
	margin: 					3px;
	
	border: 					1px solid #598527;
	border-radius: 				3px;

}

.prices-cont-sing .right .top,
.prices-cont-sing .right .bottom
{
	height: 					14px;
	
	line-height: 				14px;
	
	color:						#000;

}

.prices-cont-sing .right .top
{
	color: 						#7c7c7c;
	font-size: 					11px;
	text-decoration: 			line-through;
}

.prices-cont-sing .right .bottom
{
	font-size: 					12px;
	font-weight: 				bold;
}

.price-cont-sing
{
	width: 						124px;
	height: 					30px;
	
	text-align: 				center;
	line-height: 				25px;
	
	color: 						#333;
	font-size: 					15px;
	font-weight: 				bold;
	
	background: 				#FFF;
}

.price-cont-sing-small
{
	width: 						80px;
	height: 					30px;
	
	text-align: 				center;
	line-height: 				20px;
	
	color: 						#333;
	font-size: 					13px;
	font-weight: 				bold;
	
	background: 				#FFF;
}

.price-cont-small
{
	width: 						60px;
	height: 					30px;
	
	text-align: 				center;
	line-height: 				20px;
	
	color: 						#333;
	font-size: 					13px;
	font-weight: 				bold;
	
	background: 				#FFF;
}

.discount-cont-small
{
	
}

.discount-cont-small .inner span
{
	text-decoration: 			line-through;
}



/*  ----  */

.game-row .price-cont
{
	width: 						124px;
	height: 					36px;
	
	line-height: 				36px;
}

.add-to-cart
{
	position: 					absolute;
	top: 						0;
	left: 						0;

	width: 						100%;
	height: 					38px;
	
	text-align: 				center;
	line-height: 				38px;
	
	color: 						#FFF;
	font-size: 					15px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;
	
	background:					#598527;
	
	display: 					none;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.product-page .game-data-cont .add-to-cart
{
	position: 					relative;

	height: 					36px;

	padding: 					0 15px;

	line-height: 				36px;
}

.add-to-cart:hover
{
	
}

.add-to-cart-small
{
	height: 					30px;
	
	padding: 					0 10px;
	margin: 					0 5px;
	
	line-height: 				30px;
	
	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #2E2E2E;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.price-discount-area, 
.add-to-cart-small
{
	margin-top: 				5px;
}

.dlc_area .add-to-cart-small
{

}

.dlc_area
{

}

.add-to-cart-small:hover
{
	background: 				#719D3F;
}

.search-page-store .add-to-cart-cont
{
	width: 						125px;

	margin-top: 				11px;
	margin-left: 				10px;
}

.search-page-store .add-to-cart-cont .add-to-cart
{
	height: 					36px;

	display: 					block;
	line-height: 				36px;
}

.sold_out
{
	width: 						124px;
	height: 					37px;
	
	text-align: 				center;
	line-height: 				36px;
	
	color: 						#FFF;
	font-size: 					20px;
	
	background:					#FF6633;
	
	display: 					none;
}

.top-games .add-to-cart a
{
	color: 						#FFF;
}

.add-info-button-cont:hover,
.buttons-cont:hover
{
	cursor: 					pointer;
}

.add-info-button-cont:hover .add-to-cart,
.buttons-cont:hover .add-to-cart
{
	display: 					block;
}

.add-info-button-cont:hover .prices-cont,
.add-info-button-cont:hover .price-cont
{
	
}

.sale-countdown-cont
{
	width: 						120px;
	
	text-align: 				center;
	line-height: 				30px;
	
	color: 						#2E2E2E;
	
	background: 				#FFF;
}

a.game-cover-great,
a.game-cover-medium
{
	position: 					absolute;
	top: 						0;
	left: 						0;
	z-index: 					50;
	
	background: 				rgba(0, 0, 0, 0.65);
	
	opacity: 					0.0;

	color: 						#FFF;
	
	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

a.game-cover-great,
a.game-cover-medium
{
	width: 						100%;
	height: 					100%;
}

.icon-gc-feat {
	
	float: left;
	margin-left: -25px;
	width: 20px;
	margin-top: 34px;

	}
	
.icon-gc-feat img {
	
	/*
	width:						80px;
	opacity:					0.4;
	*/
	
	width: 80px;
	opacity: 0.4;
	right: -20px;
	position: absolute;
	top: -12%;
	
	
	}

.games-rel a.game-cover-medium
{
	
}

a.game-cover-great:hover,
a.game-cover-medium:hover
{
	opacity: 					1.0;
}

a.game-cover-great .data-cont
{
	margin-top: 				80px;
}

a.game-cover-great h3,
a.game-cover-medium h3
{
	
}

a.game-cover-medium h3
{
	font-size: 					18px;
}

a.game-cover-great .drm-info-cover
{
	color: 						#FFF;
	font-size: 					30px;
}

.drm-info-cover .fa
{
	margin: 					0 5px;
}

a.game-cover-medium .drm-info-cover
{
	color: 						#FFF;
	font-size: 					23px;
}

h3.top-games-header
{
	text-align: 				center;
	
	color: 						#617484;
	font-size: 					30px;
	text-transform: 			uppercase;
}

h5.top-games-type-title
{
	text-align: 				center;
	
	border: 					1px solid #617484;
	
	border-radius: 				5px;
	-moz-border-radius: 		5px;
	-webkit-border-radius: 		5px;
}

h5.top-games-type-title a
{
	padding: 					10px 0;
	
	display: 					block;
	
	color: 						#617484;
	font-size: 					19px;
	text-transform: 			uppercase;
}

h5.top-games-type-title .fa
{
	margin-right: 				10px;
}

.top-game
{
	width: 						310px;
	
	margin-right: 				14px;
}

.top-game:last-child
{
	margin-right: 				0;
}


.top-game .medium-game
{
	float: 						none;
	
	width: 						auto;
	height: 					138px;
	
	margin: 					0;
}

.right-col .medium-game
{
	float: 						none;
	
	width: 						297px;
	height: 					auto;
	
	margin: 					0;
	margin-bottom: 				15px;
}

.right-col a.game-cover-medium
{
	width: 						297px;
	
}
/* --- */

/* --- FOOTER --- */
footer
{
	padding: 					50px 0;

	color: 						#999;
	font-family: 				"Lucida Console", Monaco, monospace;

	background:					rgba(25, 25, 25, 1) !important;

	/*background: 				rgba(0, 0, 0, 0.65);*/

	border-top: 				1px solid #000;
}

nav.footer-menu ul
{

}

nav.footer-menu ul li
{
	float: 						left;

	margin-right: 				25px;

	display: 					inline;
}

nav.footer-menu ul li a
{
	padding: 					0 15px;

	display: 					block;
	line-height: 				20px;

	color: 						#656565;
	font-size: 					12px;
	text-shadow: 				-1px 1px 0px #000;
	
	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

nav.footer-menu ul li a:hover
{
	color: 						#FFF;
}

nav.footer-menu ul li .bundles a
{
	color: 						#CC001D;
}

nav.footer-menu ul li .bundles a:hover
{
	color: 						#CC001D;
}

nav.footer-menu ul li:first-child a
{
	padding-left: 				0;
}


nav.social-menu
{

}

nav.social-menu ul li
{
	float: 						left;

	width: 						35px;
	height: 					35px;

	display: 					inline;
	text-align: 				center;

	margin-left: 				1px;
}

nav.social-menu ul li a
{
	display: 					block;

	line-height: 				35px;

	color: 						#999;
	font-size: 					20px;
	text-shadow: 				-1px 1px 0px #000;

	background: 				#2E2E2E;

	-webkit-transition: 		all 300ms ease;
	-moz-transition: 			all 300ms ease;
	-ms-transition: 			all 300ms ease;
	-o-transition: 				all 300ms ease;
	transition: 				all 300ms ease;
}

nav.social-menu ul li a:hover
{
	color: 						#FFF;
}

.footer_notes
{
	color: 						#656565;
	font-size: 					12px;
	text-shadow: 				-1px 1px 0px #000;
}
/* --- */

.button-pop
{
	padding: 					5px 10px;

	color: 						#FFF;

	background: 				#404040;
}

.check_give
{
	position:					absolute;
	top:						-200px;
}

.cover-layer
{
	position:					absolute;
	z-index: 					9999;

	width: 						100%;
	height: 					100%;

	background: 				rgba(0, 0, 0, 0.95);

	overflow: 					hidden;
}

.check-cont
{
	position: 					absolute;
	top: 						50%;
	left: 						50%;

	width: 						500px;
	height: 					120px;

	margin-top: 				-50px;
	margin-left: 				-250px;

	text-align: 				center;

	background: 				rgba(210, 218, 218, 0.8);

	border-radius: 				3px;
}

.check-cont .confirm-text
{
	margin-bottom: 				15px;

	font-size: 					20px;
}

.check-cont button
{
	width: 						100px;
	height: 					30px;

	margin: 					0 10px;

	line-height: 				30px;

	color: 						#D2DADA;
	font-size: 					14px;
	text-transform: 			uppercase;

	background: 				#2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.check-cont button.btn-confirm-yes:hover
{
	color: 						#00AED0;

	background: 				#FFF;
}

.check-cont button.btn-confirm-no:hover
{
	color: 						#E0272B;

	background: 				#FFF;
}


/* PAYMENT METHOD LOGOS */

.payments_logos {max-width:280px;overflow: auto;margin:0 auto;}

.payments_logos .logo-pay {float:left; margin:0 7px; line-height:35px;}

.stripe_logos {border:1px solid rgba(0,0,0,0.2);border-radius:4px;padding:0 7px;}

.gc_logos {border:1px solid rgba(0,0,0,0.2);border-radius:4px;padding:0 7px;}

.h-25 {height:35px;}

.payments_logos .logo-pay img {height:23px;}
/*
.triang {
	width: 10px;
	height: 0;
	border-left: 11px solid white;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	float: left;
}
*/
.triang-logo-pay {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,0.2);
	left: 262px;
	position: relative;
}

.triang-logo-pay2 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0,0,0,0.2);
	left: 587px;
	position: relative;
}
/* PAYMENT METHOD LOGOS */



/* HOMEPAGE */
.homepage
{
	
}

.bg-new-bundle
{
	position: 					absolute;
	top: 						68px;

	width: 						100%;
	height: 					326px;

	/* background: 				rgba(204, 0, 29, 0.3); */
	background: 				rgba(0, 0, 0, 0.2);

	border-top: 				1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 				1px solid rgba(0, 0, 0, 0.5);

	opacity: 					0.7;
}

.section-title
{
	padding-right: 				10px;

	color: 						#DAD6CA;
	font-size: 					20px;
	font-family: 				"Lucida Console", Monaco, monospace;
	font-weight: 				bold;
	font-style: 				italic;
	text-transform: 			uppercase;
	text-shadow: 				-1px 1px 0 #000;

	border-bottom: 				2px solid #999999;
}


.section-title .fa
{
	color: 						#999;
}

.section-title .breadcrumbs a
{
	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.section-title .claim
{
	font-style: 				normal;
}


.back-promo-home-store
{
	/*background: 				#DAD6CA;*/
	 background: 				#DAD6CA url('/home-banner-store/lethal-brutal-racing-h_960x80.png') top no-repeat;
	 border-bottom:				none !important;
	 height:					77px;
	 top:						5px;
	}


.disclaimer-bonus-g
{
	position: absolute;
	font-family: Arial, sans-serif;
	font-size: 10px;
	bottom: 7px;
	left: 10px;
	}



.homepage .store-title
{
	line-height: 				42px;
}

.pulsate-text
{
	padding: 					2px 5px;
	margin-right: 				5px;

	line-height: 				20px;

	color: 						#CC001D;
	font-size: 					12px;
	text-shadow: 				none;

	background: 				#FFF;

	border-radius: 				3px;
}

.elem-img-cont img
{
	width: 						100%;
	height: 					auto;

	-webkit-transition: 		all 500ms ease;
	-moz-transition: 			all 500ms ease;
	-ms-transition: 			all 500ms ease;
	-o-transition: 				all 500ms ease;
	transition: 				all 500ms ease;
}

.promo-box .elem-img-cont img
{
	height: 					293px;
}

.promo-trades-home-cont
{
	padding: 					20px 0;

	text-align: 				center;

	font-size: 					17px;

	background: 				url('/img/icons/didyouknow.png') 15px 50% no-repeat;

	overflow: 					auto;
}

.text-know
{
	float: left;
    margin-left: 58px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
	letter-spacing: 0.1px;
}

.butt-know
{
	float: right;
    margin-right: 20px;
}

.promo-trades-home-cont .fa
{
	margin: 					0 5px;

	font-size: 					20px;
}

.promo-trades-home-cont a
{
	font-weight: 				bold;
}

.promo-trades-home-cont a.more-info
{
	padding: 					10px;
	margin-left: 				10px;

	line-height: 				35px;

	color: 						#FFF;
	font-size: 					16px;
	font-family: 				"Lucida Console", Monaco, monospace;
	font-weight: 				normal;
	text-shadow: 				0 1px 0 #2E2E2E;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.main-elem-info-cont
{
	position: 					relative;

	height: 					293px;

	padding: 					15px;
	padding-top: 				0;
	margin-left: 				-15px;

	background: 				#FFF;

	overflow: 					hidden;
}

.main-elem-info-cont h1
{
	line-height: 				45px;

	text-align: 				center;

	font-size: 					16px;
	font-weight: 				bold;
	text-transform: 			uppercase;
	min-height: 				90px;
}

.promo-box .main-elem-info-cont h1
{
	
}

.main-elem-text
{
	text-align: 				justify;
	line-height: 				20px;
	margin-top: 				0;
	font-size: 					12px;
}

.countdown-big-cont
{
	width: 						160px;

	margin: 					0 auto;
}

.countdown-big-cont h5
{
	text-align: 				center;

	text-shadow: 				0px 1px 2px #AAA;
}

.countdown-big-cont .col-xs-3
{
	padding: 					0;
	margin: 					0;
}

.countdown-big-cont .countdown-value
{
	margin: 					0 5px;

	text-align: 				center;
	display: 					block;
	line-height: 				30px;

	color: 						#FFF;
	font-size: 					16px;
	font-weight: 				bold;
	text-shadow: 				0px 1px 0px #404040;

	background: 				#CC001D;
	border-radius: 				3px;
}

.purchase-button-cont
{
	text-align: 				center;
}

.purchase-button-cont a.button-big-blue
{

	display: 					block;
	line-height: 				30px;

	color: 						#FFF;
	font-size: 					18px;
	font-weight: 				bold;
	text-transform: 			uppercase;
	text-shadow: 				0px 1px 0px #404040;

	background: 				#CC001D;
	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.purchase-button-cont a.button-big-blue:hover
{
	background: 				#A70000;
}

.main-elem-subtitle
{
	position: 					absolute;
	right: 						15px;
	top: 						45px;
	z-index: 					75;

	width: 						341px;

	line-height: 				35px;
}

.promo-box .main-elem-subtitle
{
	/* width: 						315px; */
	margin-top: 0px;
}

.main-elem-subtitle p
{
	height: 					35px;

	text-align: 				center;
	line-height: 				35px;

	color:						#FFF;
	/*text-shadow: 				0px 1px 0px #2E2E2E;*/
	font-weight:				bold;

	background: 				#FF8A00;
}

.main-elem-subtitle .triangle
{
	position: 					absolute;
	left: 						-20px;
	top: 						0px;
	z-index: 					50;

	width: 						27px;
	height: 					35px;

	background: 				url('/img/icons/arrow-red-main-bundle.png');
}

.main-elem-subtitle .triangle-y
{
	position: 					absolute;
	left: 						-20px;
	top: 						0px;
	z-index: 					50;

	width: 						27px;
	height: 					35px;

	background: 				url('/img/icons/arrow-yellow-main-bundle.png');
}

.main-elem-subtitle .white-triangle
{
	left: 						-18px;
	z-index: 					25;

	background: 				url('/img/icons/white-arrow-anim-mainbundle-ok.png') !important;
}

section.store .store-row-cont
{
	margin-left: 				-8px;
	margin-right: 				-8px;
}

section.store .store-row-cont .game-col
{
	padding: 					0 8px;
}


.elem-a-cont
{
	position: 					absolute;
	z-index: 					50;

	width: 						100%;
	height: 					100%;

	overflow: 					hidden;
}

.elem-a-cont a
{
	display: 					block;

	height: 					100%;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.col-xs-8 .elem-a-cont a
{

}

.col-xs-6 .elem-a-cont a
{

}

.col-xs-4 .elem-a-cont a
{

}

.elem-a-cont a:hover
{
	background: 				rgba(0, 0, 0, 0.3);
}

/*
section.store .elem-a-cont a:hover
{
	background: 				rgba(89, 133, 39, 0.2);
}
*/

.abs-right-bottom 
{ 
	position: 					absolute;
	bottom: 					0;
	right: 						0;
	z-index: 					100; 
}

.abs-left-bottom
{
	position: 					absolute;
	bottom: 					14px;
	left: 						10px;
	z-index: 					100; 
}

.add-info-button-cont
{
	position: 					absolute;
	right: 						5px;
	bottom: 					35px;
	z-index: 					25;

	width: 						160px;

	border-radius: 				3px;

	overflow: 					hidden;

	box-shadow: 				0 0 5px rgba(0, 0, 0, 0.5);
}

section.store .add-info-button-cont,
.product-page .add-info-button-cont,
.game-list-cont .add-info-button-cont,
.ending-offers .add-info-button-cont
{
	right: 						10px;
	bottom: 					10px;
	z-index: 					25;
}

section.store .great-game .add-info-button-cont,
section.store .medium-game .add-info-button-cont,
.games-rel .add-info-button-cont,
.game-list-cont .add-info-button-cont,
.ending-offers .add-info-button-cont
{
	z-index: 					75;
}

.add-info-button-cont .left,
.add-info-button-cont .right
{
	width: 						50%;

	text-align: 				center;
}

.add-info-button-cont .left
{
	height: 					38px;

	line-height: 				38px;

	color: 						#FFF;
	font-size: 					22px;
	text-shadow: 				0px 1px 0px #2E2E2E;

	background: 				#CC001D;
}

section.store .add-info-button-cont .left
{
	/* background: 				#598527; */
}

.add-info-button-cont .right
{
	padding: 					2px;

	background: 				#FFF;
}

.add-info-button-cont .right .inner-info
{
	height: 					34px;

	line-height: 				16px;

	color: 						#333;
	font-size: 					12px;
	font-weight: 				bold;
	text-transform: 			uppercase;

	border: 					1px solid #CC001D;
	border-radius: 				3px;
}

section.store .add-info-button-cont .right .inner-info
{
	line-height: 				15px;

	font-size: 					13px;

	/* border-color: 				#598527; */
}

section.store .add-info-button-cont .right .inner-info span
{
	font-size: 					11px;
	text-decoration: 			line-through;

	border-color: 				#598527;
}

.add-info-button-cont .right .inner-info span
{
	color: 						#777;
	text-decoration: 			line-through;
}

.add-info-button-cont .right .inner-info a
{
	color: 						#2E2E2E;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.add-info-button-cont .right .inner-info a:hover
{
	color: 						#2E2E2E;
}

.sold-counter-cont
{
	position: 					absolute;
	right: 						5px;
	bottom: 					5px;
	z-index: 					25;

	width: 						160px;

	padding: 					0 5px;

	line-height: 				25px;

	color: 						#CC001D;

	background: 				#FFF;

	border-radius: 				3px;

	box-shadow: 				0 0 5px rgba(0, 0, 0, 0.5);
}

.sold-counter-cont .left
{
	font-size: 					11px;
	font-weight: 				bold;

	text-transform: 			uppercase;
}

.sold-counter-cont .right
{
	font-family: 				"Lucida Console", Monaco, monospace;
	font-weight: 				bold;
	letter-spacing: 			1px;
}

.add-info-medium-elem
{
	border: 					2px solid #CC001D;
	border-top: 				none;
}

section.store .add-info-medium-elem
{
	border: 					none;
}

.add-info-medium-elem .top
{
	background: 				#CC001D;
}

.add-info-medium-elem .top .plus-info
{
	padding-left: 				32px;
	padding-right: 				10px;

	height: 					40px;

	color: 						#FFF;
	font-size: 					13px;
	font-weight: 				bold;
	text-transform: 			uppercase;
	text-shadow: 				0px 1px 0px #404040;

	background: 				url('/img/icons/arrow-grey-bundle.png') left 50% no-repeat;
}

section.store .add-info-medium-elem .top .plus-info
{
	background: 				none;
}

.add-info-medium-elem .top .new
{
	
}

.add-info-medium-elem .line-height-row
{
	line-height: 				40px;
}

.add-info-medium-elem .line-height-rows
{
	line-height: 				20px;
}

.add-info-medium-elem .medium-elem-title
{
	padding: 					0 10px;

	line-height: 				40px;
}

.add-info-medium-elem .medium-elem-title .timeend
{
	color: 						#FFF;
	text-shadow: 				0px 1px 0px #404040;
}

.add-info-medium-elem h2
{
	line-height: 				40px;

	font-size: 					15px;
	font-weight: 				bold;
}

.add-info-medium-elem h2 a
{
	color: 						#FFF;
}

.add-info-medium-elem .max-width-350
{
	max-width: 					350px;

	white-space: 				nowrap;
	text-overflow: 				ellipsis;

	overflow:					hidden;
}

.add-info-medium-elem .max-width-200
{
	max-width: 					200px;

	white-space: 				nowrap;
	text-overflow: 				ellipsis;

	overflow:					hidden;
}

.add-info-medium-elem .bottom
{
	height: 					70px;

	line-height: 				16px;

	font-size: 					12px;

	overflow: 					hidden;
}

.medium-elem-title .timeend
{
	/* text-shadow: 				0px 1px 0px #FFF; */
}

.h-elem
{
	height: 					60px;

	overflow: 					hidden;
}

.h-elem .h-elem-1
{
	width: 						135px;

	text-align: 				center;
	line-height: 				60px;

	color: 						#FFF;
	text-shadow: 				0px 1px 0 #2E2E2E;
}

.h-elem img
{
	width: 						100%;
	height: 					auto;
}

.h-elem-1 .guaranteed,
.h-elem-1 .not-guaranteed
{
	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.h-elem .h-elem-1 .guaranteed
{
	background: 				#FF9900;
}

.h-elem .h-elem-1 .not-guaranteed
{
	background: 				#999999;
}

.h-elem:hover .h-elem-1 .guaranteed
{
	/* background: 				rgba(0, 174, 208, 0.75); */
}

.h-elem:hover .h-elem-1 .not-guaranteed
{
	/* background: 				rgba(153, 153, 153, 0.75); */
}

.h-elem .bg-arrow
{
	position: 					absolute;
	right: 						123px;

	width: 						22px;
	height: 					60px;

	background: 				url('/img/icons/arrow-dark-trades.png') left 50% no-repeat;
}

.h-elem .h-elem-2
{
	margin: 					0 135px;
}

.bg-guaranteed, 
.bg-not-guaranteed
{
	background: 				rgba(255, 255, 255, 1);

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.h-elem:hover .bg-guaranteed,
.h-elem:hover .bg-not-guaranteed
{
	/* background: 				rgba(255, 255, 255, 0.5); */
}

.h-elem .h-elem-2 h2
{
	padding: 					0 10px;

	line-height: 				60px;

	font-size: 					15px;
}

.h-elem .h-elem-2 h2 a:hover
{
	color: 						#333;
}

.h-elem .h-elem-2 h3
{
	margin-right: 				20px;

	line-height: 				60px;

	font-size: 					18px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #999;
}

.h-elem .h-elem-2 h3 img
{
	width: 						100%;
	height: 					auto;
}

.h-elem .under
{
	line-height: 				60px;

	text-align: 				center;

	background: 				rgba(255, 255, 255, 0.75);
}

.free2play .elem-img-cont a img
{
	display: 					block;
}

.free2play .elem-img-cont a
{
	display: 					block;
}

.free2play-title
{
	margin-top: 				5px;

	text-align: 				center;
	line-height: 				30px;

	background: 				#FFF;
}

.free2play .elem-img-cont
{
	position: 					relative;
}

.free2play .elem-img-cont a
{
	position: 					absolute;

	width: 						100%;
	height: 					100%;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.free2play .elem-img-cont a:hover
{
	background: 				rgba(0, 0, 0, 0.3);
}

.free2play-title a 
{
	font-size: 					13px;
}

.free2play-title a:hover
{
	color: 						#333;
}

.newsletter-cont
{
	text-align: 				center;

	font-size: 					15px;

	background: url('/img/icons/staytuned.png') 15px 50% no-repeat;
}

.newsletter-cont .text
{
	padding-left: 				125px;

	line-height: 				35px;

	font-size: 					17px;
}

.newsletter-cont .input-newsletter
{
	width: 						270px;

	padding: 					0 10px;
	margin-left: 				10px;
	margin-right: 				15px;

	height: 					35px;

	line-height: 				35px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #2E2E2E;

	background: 				url('/img/bg-mainpage.png') #2E2E2E;
}

.newsletter-cont .btn-subscribe-newsletter
{
	width: 						180px;
	height: 					35px;

	padding: 					0 10px;

	line-height: 				35px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #2E2E2E;

	background: 				#CC001D;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.newsletter-cont .btn-subscribe-newsletter:hover
{
	background: 				#A70000;
}

.btn-show-all-cont
{
	
}

.btn-show-all
{
	width: 						200px;

	margin: 					0 auto;

	text-align: 				center;
}

.btn-show-all a
{
	display: 					block;

	line-height: 				35px;

	color: 						#FFF;
	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #2E2E2E;

	background: 				#FFF;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.btn-show-all a:hover
{
	color: 						#FFF;

	background: 				#A70000;
}

.ribbon-bonus
{
	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	font-weight: 				bold;
	font-style: 				normal;
	
}
/*
.ribbon-bonus
{
	position: 					relative;

	width: 						170px;
	height: 					35px;
	
	margin: 					21px 0px 7px;
/*	margin: 					7px 0px;*/
	/*
	line-height: 				30px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #000;
	font-weight: 				bold;
	font-style: 				normal;

	overflow: 					auto;
}
*/
.back-promo-home-store .gift-icon {
	
	margin-top:					0;
    margin-left:				8px;	
	}

.testo-b-g 
{
	position: 					absolute;
	left: 						18px;
	z-index: 					10;
}

.testo-b-g1 
{
	position: 					absolute;
	top:						16px;
	left: 						58px;
	font-size:					19px;
	color:						#fff;
	z-index: 					10;
	/*text-shadow:				none !important;*/
}

.testo-b-g2 
{
	position:					absolute;
	top:						31px;
	left:						57px;
	font-size:					24px;
	letter-spacing:				3px;
	color:						#fff;
	z-index:					10;
	/*text-shadow:				none !important;*/
	}

.bonus-game-text 
{

	margin-left: 10px;
	margin-top: 21px;
	line-height: 45px;
	color: #000;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
}

.disclaimer-one
{

	line-height: 15px;
	color: #000;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, sans-serif;
	text-shadow: none !important;
	position: relative;
}

.bonus-game-text strong
{
	color: 						#CC001D;
}




#ribbon_game .gift-icon .fa-gift {
	
	padding: 					7px 9px;

	font-size: 					29px;
	
	color:						#fff;
		
	/*text-shadow:				none !important;*/
	
	}

.promo-text-store-link
{
	position: 					absolute;
	top: 						0;
	left: 						0;
	z-index: 					20;

	width: 						100%;

	line-height: 				77px;
}


	
#ribbon_game {
	
	width:						180px;
	height:						77px;
	padding-top:				15px;
	position:					relative;
	background:					#FF8A00;
	color:						#fff;
	font-size:					11px;
	letter-spacing:				0.2em;
	text-align:					center;
	text-transform:				uppercase;
	float:						left;
}

#ribbon_game:after {
	content:					"";
	position:					absolute;
	left:						0;
	bottom:						0;
	width:						180px;
	height:						0;
	border-left:				75px solid transparent;
	border-right:				36px solid #e8e8e8 !important;
	border-bottom:				41px solid transparent;
	border-top:					36px solid transparent;
	top:						0px;
}
	


#search-game-result
{
	position: 					fixed;
	top: 						45px;
	right: 						50%;
	z-index: 					2010;
	
	width: 						527px;

	margin-right: 				-445px;
	
	display: 					none;

	color: 						#FFF;
}

#search-game-result .tringle-cont
{
	height: 					20px;

	padding-right: 				80px;

	text-align: 				right;

	overflow: 					hidden;
}

#search-game-result .tringle-cont .fa
{
	color: 						#2E2E2E;
	font-size: 					30px;
}

.search-game-result-cont
{
	padding: 					10px;

	background: 				#2E2E2E;

	overflow: 					auto;

	-webkit-box-shadow: 		-5px 5px 0px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 			-5px 5px 0px 0px rgba(0,0,0,0.55);
	box-shadow: 				-5px 5px 0px 0px rgba(0,0,0,0.55);
}

#search-game-result ul li
{
	width: 						100%;
	
	margin-bottom: 				5px;
}

#search-game-result ul li:last-child
{
	margin-bottom: 				0;
}

#search-game-result ul li a
{
	display: 					block;
	
	color: 						#333;
}

#search-game-result ul li a:focus
{

}

#search-game-result ul li a img
{
	width: 						128px;
	height: 					60px;
	
	margin-right: 				10px;
}

#search-game-result ul li a span
{
	font-size: 					15px;
}

.search-price-cont
{
	height: 					35px;

	margin-top: 				13px;
	margin-right: 				15px;
}

.search-price-cont a.bundle-link
{
	padding: 					0 10px;

	display: 					block;
	line-height: 				35px;

	color: 						#FFF;
	font-size: 					15px;
	font-weight: 				bold;
}

#search-game-result ul li a.bundle-link
{
	color: 						#FFF;
}

.search-price-cont .price-cont
{
	width: 						124px;
}

.search-game-result-cont .see-more
{
	height: 					35px;

	margin: 					0 auto;
}

.search-game-result-cont .see-more a
{
	display: 					block;
	line-height: 				35px;

	color: 						#FFF;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.search-gametitle-cont
{
	min-height: 				60px;
}

.search-gametitle-cont a
{
	max-width: 					355px;

	white-space: 				nowrap;
	text-overflow: 				ellipsis;

	overflow:					hidden;
}

.game-opened-data .info-text-cont .fa-users,
.response-data-cont .fa-users
{
	color: 						#26ADE4;
}

.game-opened-data .info-text-cont .fa-gamepad,
.response-data-cont .fa-gamepad
{
	color: 						#F7A21B;
}

.search-switcher-cont button
{
	height: 					35px;

	padding: 					0 10px;
	margin-right: 				10px;

	color: 						#FFF;
	font-size: 					14px;
	font-family: 				"Lucida Console", Monaco, monospace;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.site-features-cont
{
	margin-top: 				30px;
}

.site-features-cont .feature-icon-cont
{
	position: 					absolute;
	top: 						-30px;
	left: 						25px;
}

.site-features-cont .feature-box
{
	height: 					219px;
}

.site-features-cont h3
{
	margin-left: 				75px;

	line-height: 				20px;

	font-size: 					15px;
	font-weight: 				bold;
	text-shadow: 				0px 0px 0 trasparent;
}

.site-features-cont img
{
	width: 						65px;

	margin-top: 				3px;
}

.powered_secured p, .powered_secured p {letter-spacing:	0.02em;}

.site-features-cont p
{
	padding: 					7px;

	text-align:					justify;
	
	line-height: 				20px;

	font-size: 					12px;
	
	
}

.site-features-cont p .text-shadow
{
	text-shadow: 				-1px 1px 0 #FFF;
}

.site-features-cont p a
{
	text-shadow: 				-1px 1px 0 #FFF;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.trade-item-message
{
	height: 					26px;
	width: 						280px;

	margin-top: 				17px;
	margin-right: 				17px;

	text-align: 				center;
	line-height: 				23px;

	background: 				#FFF;

	border: 					1px solid rgba(0, 0, 0, 0.3);
}

.page-nav .page-link-cont
{
	height: 					35px;

	margin-right: 				5px;

	text-align: 				center;
}

.page-link-cont a, 
.page-link-cont span
{
	padding: 					0 15px;
	
	display: 					block;
	line-height: 				35px;

	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
}

.page-nav .page-link-cont a
{
	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.page-link-cont a.active,
.page-link-cont a:hover
{
 background: 					#FFF;
}

.page-nav .page-link-cont span
{
	text-shadow: 				0 1px 0 #2E2E2E;
}

.join-forum-cont
{
	padding: 					10px;

	text-align: 				left;
	line-height: 				25px;

	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
}

.join-forum-cont p
{
	text-shadow: 				-1px 1px 0 #D67400;
}

.join-forum-cont input
{
	width: 						300px;
	height: 					25px;

	padding: 					0 10px;
	margin-right: 				15px;

	line-height: 				25px;

	color: 						#333;
	font-size: 					12px;
	font-family: 				Arial, sans-serif;
}

.join-forum-cont button
{
	height: 					25px;

	padding: 					0 10px;

	font-size: 					12px;

	background: 				#2E2E2E;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.join-forum-cont button:hover
{
	background: 				#3E3E3E;
}

.promo-trades-home-cont 
{
	padding-left: 				67px;
}

/* PROFILE GIVEAWAYS */
.giveaways-library-user-data
{
	line-height: 				35px;

	font-size: 					13px;
}

.giveaways-library-user-data .title
{
	margin-right: 				15px;

	color: 						#333;
	font-size: 					16px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #DDD;
}

.giveaways-library-user-data .evidence
{
	margin-right: 				15px;

	color: 						#333;
	font-size: 					14px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #DDD;
}

.giveaways-library-user-data .fa
{
	margin: 					0 5px;
}

.user-level-cont .right
{
	width: 						210px;
}

.level-bar-cont,
.level-bar
{
	height: 					35px;

	line-height: 				35px;

	border-radius: 				3px;

	overflow: 					hidden;
}

.level-bar-cont
{

}

.level-bar
{
	width: 						0;

	color: 						#FFF;
	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;
	text-transform: 			uppercase;
	white-space: 				nowrap;
}

.level-bar span
{
	padding: 					0 5px;
}

.level-bar span span
{
	padding: 					0;
}


.palette-grandient-1
{
	background: 				#CC001D; 
	background: 				-moz-linear-gradient(top, #CC001D 0%, #A70000 100%); 
	background: 				-webkit-linear-gradient(top, #CC001D 0%,#A70000 100%); 
	background: 				linear-gradient(to bottom, #CC001D 0%,#A70000 100%);
	filter: 					progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC001D', endColorstr='#A70000',GradientType=0 ); 
}

.palette-grandient-6
{
	background: 				#DAD6CA;
	background: 				-moz-linear-gradient(top, #DAD6CA 0%, #999999 100%);
	background: 				-webkit-linear-gradient(top, #DAD6CA 0%,#999999 100%);
	background: 				linear-gradient(to bottom, #DAD6CA 0%,#999999 100%);
	filter: 					progid:DXImageTransform.Microsoft.gradient( startColorstr='#DAD6CA', endColorstr='#999999',GradientType=0 );
}

.giveaways-list-cont ul li
{
	padding-left: 				5px;

	border-left: 				3px solid;
}

.library-entry-data-left
{
	width: 						826px;
}

.library-entry-data-right
{
	width: 						62px;
}

.library-entry-data-left .col-xs-3,
.library-entry-data-left .col-xs-2,
.library-entry-data-left .col-xs-4
{
	padding: 					0;
	margin: 					0;
}

.library-entry-data-left .col-xs-2 .entry-elem,
.library-entry-data-left .col-xs-3 .entry-elem,
.library-entry-data-left .col-xs-4 .entry-elem
{
	margin-right: 				5px;
}

.entry-elem
{
	height: 					35px;

	padding: 					0 10px;

	line-height: 				33px;

	font-size: 					13px;

	background: 				#EEE;

	border: 					1px solid #EEE;
}

.entry-elem .fa
{
	font-size: 					15px;
}

.entry-elem .steamnick
{
	font-weight: 				bold;
	text-shadow: 				0 1px 0 #FFF;
}

.entry-elem .indiegala-logo
{
	width: 						auto;
	height: 					25px;

	margin-top: 				5px;
}

.entry-elem .indiegala-logo img
{
	width: 						auto;
	height: 					100%;

	display: 					block;
}

.entry-elem a.steamnick:hover
{
	border-bottom: 				1px dotted #333;
}

.entry-elem .ellipsis-2,
.entry-elem .ellipsis-3
{
	max-width: 					175px;

	white-space: 				nowrap;
	text-overflow: 				ellipsis;
	overflow: 					hidden;
}

.entry-elem .ellipsis-2
{
	max-width: 					130px;
}

.owner-ticket-cont
{
	background: 				url('/img/giveaways/owner_coupon.jpg') right 50% no-repeat;
}

.winner-ticket-cont
{
	background: 				url('/img/giveaways/player_coupon.jpg') right 50% no-repeat;
}

.winner-ticket-cont button
{
	
}

.btn-check-all-completed-giveaways
{
	margin-top: 				5px;
	margin-right: 				5px;

	height: 					25px;

	padding: 					0 5px;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #2E2E2E;
}

.giveaways-library-cont h4 .btn-check-all-completed-giveaways .fa
{
	margin: 					0;
}

.serial-won
{
	height: 					27px;

	margin-top: 				3px;

	line-height: 				27px;
}

.serial-won input
{
	width: 						100%;

	padding: 					0;

	text-align: 				center;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #DDD;

	border: 					none;
}

.giveaways-list-cont .subtitle
{
	padding-left: 				10px;

	font-size: 					16px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #DDD;

}

.giveaways-list-cont .subtitle span
{
	font-size: 					12px;
	font-style: 				italic;
	text-shadow: 				none;
}

.leave-feedback-form-cont .send-feedback,
.leave-feedback-form-cont .send-giv-feedback
{
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #DDD;
}

.leave-feedback-form-cont .send-feedback input,
.leave-feedback-form-cont .send-giv-feedback input
{
	height: 					27px;

	padding: 					0 10px;
	margin-top: 				3px;

	line-height: 				27px;

	font-size: 					13px;
	font-family: 				Arial, sans-serif;
}

.leave-feedback-form-cont .send-feedback input,
.leave-feedback-form-cont .send-giv-feedback input
{
	width: 						600px;
	height: 					27px;

	padding: 					0 10px;
	margin-top: 				3px;

	line-height: 				27px;

	font-size: 					13px;
	font-family: 				Arial, sans-serif;
}

.leave-feedback-form-cont .send-feedback .chars-counter,
.leave-feedback-form-cont .send-giv-feedback .chars-counter
{
	color: 						#999;
	font-style: 				italic;
}

.leave-feedback-form-cont .send-feedback .btn-feedback,
.leave-feedback-form-cont .send-giv-feedback .btn-feedback
{
	margin-left: 				20px;
}

.check-if-won
{
	width: 						170px;
	height: 					27px;

	margin-top: 				3px;

	line-height: 				27px;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #000;
}

.giveaway-winner-cover
{
	position: 					fixed;
	top: 						0;
	left: 						0;
	z-index: 					2050;

	width: 						100%;
	height: 					100%;

	background: 				rgba(0, 0, 0, 0.8);
}

.giveaway-winner-cover .relative
{
	height: 					100%;
}

.giveaway-winner-cover .close-animation
{
	position: 					absolute;
	top: 						30px;
	right: 						30px;
	z-index: 					2050;
}

.giveaway-winner-cover .close-animation button
{
	opacity: 					0.6;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.giveaway-winner-cover .close-animation button:hover
{
	opacity: 					1;
}

.giveaway-winner-cover .close-animation .fa
{
	color: 						#FFF;
	font-size: 					40px;
}

.giveaway-winner-cover .inner-center
{
	position: 					absolute;
	top: 						20%;
	left: 						50%;
	z-index: 					2050;

	width: 						25%;
	height: 					auto;
	max-width: 					400px;

	margin-left: 				-10%;

	background: 				#FFF;

	border-radius: 				400px;
}

.giveaway-winner-cover .inner-center img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.giveaways-new-cont
{
	background: 				#EEE;
}

 .warning-giveaways-list {
 	padding: 10px 10px !important;
    color: #a70000 !important;
    font-size: 12px !important;
    letter-spacing: 0.004em !important;
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
}

.profile-form .form-section-margin-r-15
{
	margin-right: 				15px;
}

.profile-form 
{
	font-size: 					13px;
}

.profile-form hr
{
	height: 					1px;

	padding: 					0;
	margin: 					0;

	line-height: 				1px;

	background: 				#FFF;
	border-color: 				#CCC;
}

.profile-form .form-section-title
{
	line-height: 				28px;

	font-size: 					14px;
	font-weight: 				bold;
	text-shadow: 				-1px 1px 0 #FFF;

	border-color: 				#CCC;
}

.profile-form .form-input-1
{
	width: 						270px;
	height: 					28px;

	padding: 					0 10px;

	font-size: 					12px;

	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.profile-form .form-info-text,
.profile-form .form-info-text-2
{
	line-height: 				28px;

	color: 						#666;
	font-size: 					11px;
	font-weight: 				normal;
	font-style: 				italic;
}

.profile-form .form-info-text-2
{
	line-height: 				18px;
}

.profile-form .form-textarea-cont 
{

}

.profile-form .form-textarea-cont textarea
{
	width: 						100%;
	height: 					70px;
	resize: 					none;

	padding: 					5px;

	font-size: 					13px;

	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.profile-form .form-button-1
{
	height: 					28px;

	padding: 					0 10px;

	line-height: 				28px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.profile-form ul.form-owned-games-list
{

	width: 						100%;
	height: 					auto;

	padding: 					15px;

	font-size: 					13px;

	background: 				#FFF;

	border: 					1px solid #CCC;
	border-radius: 				3px;

	overflow: 					auto;
}

.profile-form ul.form-owned-games-list li
{
	margin-bottom: 				3px;
}

.profile-form ul.form-owned-games-list li:last-child
{
	margin-bottom: 				0;
}

.form-not-guaranteed
{
	padding: 					15px;

	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.giveaways-library-cont ul.form-not-guaranteed li
{
	margin-bottom: 				0;
}

ul.calculate-and-save-new-giv-cont
{
	width: 						866px;
	height: 					50px;

	overflow: 					hidden;

	border: 					1px solid #CCC;
	border-radius: 				3px;
}

ul.calculate-and-save-new-giv-cont li
{
	position: 					absolute;
	top: 						0;
	left: 						0;

	width: 						866px;

	padding: 					5px 5px;
	margin-bottom: 				0 !important;
}

.btn-calculate-giv-value
{
	margin-top: 				5px;
}

ul.calculate-and-save-new-giv-cont li.save-slide
{
	left: 						866px;
}

ul.calculate-and-save-new-giv-cont li .text
{
	padding: 					0 10px;

	line-height: 				38px;
}

ul.calculate-and-save-new-giv-cont li .result
{
	margin-top: 				5px;

	text-align: 				center;
	line-height: 				28px;

	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #CCC;

	background: 				#FFF;
}

ul.calculate-and-save-new-giv-cont li.save-slide .bg
{
	padding-right: 				5px;
	margin-right: 				2px;

	background: 				#EEE;
}

ul.calculate-and-save-new-giv-cont li.save-slide .right
{
	width: 						15%;
}

ul.calculate-and-save-new-giv-cont li.save-slide .right .btn-save-cont
{
	padding: 					0 10px;
}

ul.calculate-and-save-new-giv-cont li.save-slide .right .btn-save-cont button
{
	width: 						100%;
	height: 					28px;

	margin-top: 				5px;

	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				-1px 1px 0 #2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.giv-buttons-cont button.btn-create-giv
{
	opacity: 					0.5;
}
/* --- */

.banner-home-1 a
{
	display: 					block;
}

.banner-home-1 a img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.giveaways-banner-cont img,
.trades-banner-cont img
{
	width: 						100%;
	height: 					auto;
}

.giveaways-banner-cont a,
.trades-banner-cont a
{
	display: 					block;
}


/* COLOR 4 - SFONDO PRINCIPALE A RIGHE */
.palette-background-4-stripes {
	color: white;
	background: repeating-linear-gradient(
		-55deg,
		#474747,
		#474747 10px,
		#999 10px,
		#999 20px
	);
}


/* BORDI STONDATI */
.border-radius-3,
.bundle_header .countdown-value,
button.button-big-blue,
.col-xs-6 .bundle-item-cont,
.col-xs-4 .bundle-item-cont,
.bundle-item-trading-cards-cont span,
.bundle-item-trading-cards-cont strong,
.bundle-item-trading-cards-cont a,
.game-opened-data .more-info,
.game-opened-data .add-info-cont .fa,
.newsletter-cont,
.newsletter-cont .input-newsletter,
.newsletter-cont .btn-subscribe-newsletter,
#order-box,
#order-form-box .step-1 button,
#order-form-box .step-1 .custom-input,
.email-enter #email,
.btn-show-all a,
.store .add-info-medium-elem .top,
.add-info-medium-elem,
.free2play-title,
.banner_giveaway .form-cont input.giveaway-email,
.banner_giveaway .form-cont a.giveaway-popup-btn,
.button-pop,
.main-elem-info-cont,
.h-elem,
#header-title,
#header-title .add-steam #steam-account a,
.title_box1,
.shopping-cart-items-row .cart-input-cont input,
.sub-carousel-bar .carousel-controls,
#btn-notify-game,
#input-notify-game,
.add-to-cart-small,
.page-link-cont a, .page-link-cont span,
.trade-title-cont,
.trade-info-cont-left,
.trade-subsection-cont,
.customer-serial-offer-input,
.trades-user-header,
.error-page-cont,
.promo-trades-home-cont,
.promo-trades-home-cont a.more-info,
.search-game-result-cont,
.search-game-result-cont .see-more a,
.search-switcher-cont button,
.feature-box,
.top-search input,
.custom-games-switcher-cont button,
.btn-style-1,
.pinned,
.post-table-cell-right .btn-quote,
.join-forum-cont,
.join-forum-cont input,
.join-forum-cont button,
.report-cont,
.report-cont button,
.cover-cont,
.steamnick-cont .border-r-3,
.coins-pack,
.btn-buy-coins,
.coins-pack-cont .palette-background-gold,
.warning-text,
.giver-level,
.btn-check-all-completed-giveaways,
.check-if-won,
.ticket-info-cont .info-row a.steam-link,
.sort-item-sub
{
	border-radius: 				3px;
	overflow: 					hidden;
}


.woobox-giv {
	float: none;
    text-align: center;
    margin: 0 auto;
}


