
/* --- LIBRERIA CSS --- */
.absolute 						{ position: absolute; }
.relative 						{ position: relative; }

.left 							{ float: left; }
.right 							{ float: right; }
.clear 							{ clear: both; height: 0; line-height: 0; }
.fl-none						{ float: none !important; }

.top2							{ top: 2px !important; }
.right5							{ right: 5px !important; }
.right10						{ right: 10px !important; }

.top-20perc						{ top: 20% !important; }

.display_ib						{ display: inline-block !important; }
.display_b						{ display: block; }
.display_inli						{ display:inline; }
.display_init						{ display:initial; }
.display_n						{ display: none !important; }

.spacer-v-2 					{ height: 2px;  line-height: 2px; font-size: 2px; }
.spacer-v-3 					{ height: 3px;  line-height: 3px; font-size: 3px; }
.spacer-v-5 					{ height: 5px;  line-height: 5px; font-size: 5px; }
.spacer-v-7 					{ height: 7px;  line-height: 7px; font-size: 7px; }
.spacer-v-10 					{ height: 10px; line-height: 10px; font-size: 10px; }
.spacer-v-12 					{ height: 12px; line-height: 12px; font-size: 15px; }
.spacer-v-15 					{ height: 15px; line-height: 15px; font-size: 15px; }
.spacer-v-20 					{ height: 20px; line-height: 20px; font-size: 20px; }
.spacer-v-25 					{ height: 25px; line-height: 25px; font-size: 25px; }
.spacer-v-30 					{ height: 30px; line-height: 30px; font-size: 30px; }
.spacer-v-40 					{ height: 40px; line-height: 40px; font-size: 40px; }
.spacer-v-50 					{ height: 50px; line-height: 50px; font-size: 50px; }
.spacer-v-60 					{ height: 60px; line-height: 40px; font-size: 40px; }
.spacer-v-80 					{ height: 80px; line-height: 80px; font-size: 80px; }
.spacer-v-130 					{ height: 130px; line-height: 130px; font-size: 80px; }
.spacer-v-150 					{ height: 150px; line-height: 150px; font-size: 80px; }
.spacer-v-195 					{ height: 195px; line-height: 150px; font-size: 80px; }
.spacer-v-225 					{ height: 225px; line-height: 225px; font-size: 80px; }
.spacer-v-250 					{ height: 250px; line-height: 250px; font-size: 80px; }
.spacer-v-300 					{ height: 300px; line-height: 300px; font-size: 80px; }


.no-padding 					{ padding: 0; margin: 0 }
.padding-l-0		 			{ padding-left: 0px; }
.padding-r-0		 			{ padding-right: 0px; }

.box_pad_5 						{ padding: 5px; }
.box_pad_10 					{ padding: 10px; }
.box_pad_15 					{ padding: 15px; }
.box_pad_20 					{ padding: 20px; }
.box_pad_25 					{ padding: 25px; }
.box_pad_30 					{ padding: 30px; }
.box_pad_35 					{ padding: 35px; }
.box_pad_40 					{ padding: 40px; }
.box_pad_45 					{ padding: 45px; }
.box_pad_50 					{ padding: 50px; }

.pad_sides_6 					{ padding: 0 6px; }

.pad_sides_20 					{ padding: 0 20px; }


.pad_top_bot_15 					{ padding: 15px 0; }

.pad_top_6 						{ padding-top: 6px; }

.pad_top_3 						{ padding-top: 3px; }

.pad_top_8 						{ padding-top: 8px; }

.pad_bot_6 						{ padding-bottom: 6px; }

.pad-l-6 						{ padding-left: 6px; }

.pad-l-40 						{ padding-left: 40px; }

.pad-b-30						{ padding-bottom: 30px; }

.no-margin 						{ margin: 0 }

.margin-auto 					{ margin: 0 auto; }

.margin-top-3 					{ margin-top: 3px; }
.margin-top-12 					{ margin-top: 12px; }

.margin-top10-0 				{ margin: 10px 0 0 !important; }
.margin-left--5 				{ margin-left: -5px; }
.margin-left--10 				{ margin-left: -10px; }
.margin-left-0 					{ margin-left: 0 !important; }
.margin-left-5 					{ margin-left: 5px; }
.margin-left-10 				{ margin-left: 10px; }
.margin-left-13 				{ margin-left: 13px; }
.margin-left-15 				{ margin-left: 15px; }
.margin-left-20 				{ margin-left: 20px; }

.margin-right-0 				{ margin-right: 0 !important; }
.margin-right-5 				{ margin-right: 5px !important; }
.margin-right-8 				{ margin-right: 8px !important; }
.margin-right-10 				{ margin-right: 10px !important; }
.margin-right-15 				{ margin-right: 15px !important; }
.margin-right-20 				{ margin-right: 20px !important; }

.margin-box-5 					{ margin: 5px; }
.margin-box-10 					{ margin: 10px; }
.margin-box-15 					{ margin: 15px; }

.marg-l-r--10 					{ margin: 0px -10px !important; }
.marg-l-r-5 					{ margin: 0px 5px !important; }
.marg-l-r-7 					{ margin: 0px 7px !important; }
.marg-l-r-10 					{ margin: 0px 10px !important; }
.marg-l-r-15 					{ margin: 0px 15px !important; }
.marg-l-r-20 					{ margin: 0px 20px !important; }

.border							{border:1px solid rgba(0, 0, 0, .5);}
.border-t						{border-top:1px solid rgba(0, 0, 0, .5);}
.border-b						{border-bottom:1px solid rgba(0, 0, 0, .5);}
.border-l						{border-left:1px solid rgba(0, 0, 0, .5);}
.border-r						{border-right:1px solid rgba(0, 0, 0, .5);}
.border-none 					{ border: none !important }
.border-1-solid 				{ border: 1px solid; }
.border-2-solid 				{ border: 2px solid; }

.noselect 
{
	-webkit-touch-callout: 		none;
	-webkit-user-select: 		none;
	-khtml-user-select: 		none;
	-moz-user-select: 			none;
	-ms-user-select: 			none;
	user-select: 				none;
}

.border-light							{border:1px solid rgba(0, 0, 0, .3);}

.align-l 						{ text-align: left !important; }
.align-r 						{ text-align: right !important; }
.align-c 						{ text-align: center !important; }
.align-j 						{ text-align: justify !important; }

.italic 						{ font-style: italic; }
.oblique 						{ font-style: oblique; }
.font-normal 					{ font-weight: 100; }
.semibold 						{ font-weight: 400; }
.strong							{ font-weight: bold; }

.text-opt						{text-rendering:optimizeLegibility;}

.font-w-100 						{ font-weight: 100; }
.font-w-200 						{ font-weight: 200; }
.font-w-300 						{ font-weight: 300; }
.font-w-400 						{ font-weight: 400; }
.font-w-500 						{ font-weight: 500; }
.font-w-600 						{ font-weight: 600; }
.font-w-700 						{ font-weight: 700; }
.font-w-800 						{ font-weight: 800; }

.font-10 						{ font-size: 10px !important; }
.font-11 						{ font-size: 11px !important; }
.font-12 						{ font-size: 12px !important; }
.font-13 						{ font-size: 13px !important; }
.font-14 						{ font-size: 14px !important; }
.font-15 						{ font-size: 15px !important; }
.font-16 						{ font-size: 16px !important; }
.font-17 						{ font-size: 17px !important; }
.font-18 						{ font-size: 18px !important; }
.font-19 						{ font-size: 19px !important; }
.font-20 						{ font-size: 20px !important; }
.font-21 						{ font-size: 21px !important; }
.font-22 						{ font-size: 22px !important; }
.font-23 						{ font-size: 23px !important; }
.font-24 						{ font-size: 24px !important; }
.font-26 						{ font-size: 26px !important; }
.font-27 						{ font-size: 27px !important; }
.font-33 						{ font-size: 33px !important; }
.font-34 						{ font-size: 34px !important; }
.font-37 						{ font-size: 37px !important; }
.font-43 						{ font-size: 43px !important; }
.font-57 						{ font-size: 57px !important; }

.letter-spacing-039:					{ letter-spacing: 0.39px; }

.no-text-shadow					{ text-shadow: none !important; }

.width50						{ width: 50%; }
.width70						{ width: 70%; }
.w100							{ width: 100%; }

.max-w-950						{ max-width: 950px;}
.max-w-270						{ max-width: 270px;}
.max-w-100						{ max-width: 100px;}
.width-180						{ width: 180px !important; }
.width-200						{ width: 200px !important; }
.width-270						{ width: 270px !important; }
.width-960						{ width: 960px !important; }
.width-990						{ width: 990px !important; }
.width-297						{ width: 297px !important; }

.hauto							{ height: auto; }
.h18							{ height: 18px; }
.h19							{ height: 19px; }
.h20							{ height: 20px; }
.h30							{ height: 30px; }
.h40							{ height: 40px; }
.h50							{ height: 50px; }
.h60							{ height: 60px; }
.h65							{ height: 65px; }
.h70							{ height: 70px !important; }
.h80							{ height: 80px; }
.h90							{ height: 90px !important; }
.h135							{ height: 135px !important; }
.h145							{ height: 145px; }
.h185							{ height: 185px; }
.h200							{ height: 200px; }



.h560							{ height: 560px; }
.h570							{ height: 570px; }
.h580							{ height: 580px; }
.h700							{ height: 700px; }
.h930							{ height: 930px; }
.h1400							{ height: 1400px; }


.mh-70							{ max-height: 70px; }
.mh-90							{ max-height: 90px; }

.lh-10							{ line-height: 10px; }
.lh-19							{ line-height: 19px; }
.lh-20							{ line-height: 20px; }
.lh-21							{ line-height: 21px; }
.lh-21							{ line-height: 21px; }
.lh-23							{ line-height: 23px; }
.lh-25							{ line-height: 25px; }
.lh-28							{ line-height: 28px !important; }
.lh-30							{ line-height: 30px; }
.lh-35							{ line-height: 35px; }
.lh-65							{ line-height: 65px; }
.lh-70							{ line-height: 70px; }
.lh-320							{ line-height: 320px !important; }


.bold, .strong 					{ font-weight: bold; }
.underline 						{ text-decoration: underline; }

.overflow-auto 					{ overflow: auto; }
.overflow-hidden 				{ overflow: hidden; }
.display-none 					{ display: none; }
.visibility-hidden 				{ visibility: hidden; }

.bg-none 						{ background: none !important }

.mirror {
	-moz-transform:					scale(-1, 1);
	-webkit-transform:				scale(-1, 1);
	-o-transform:					scale(-1, 1);
	-ms-transform:					scale(-1, 1);
	transform:						scale(-1, 1);
}

.butt-minim { 
	border: 1px solid #FFF;
	padding: 0px 20px;
	height: 70px;
	width: 600px;
	border-radius: 8px;
	}
.butt-minim span { 

	line-height: 70px;
	color: #fff;
	font-size: 53px;
	}
	
/* ---  */