/* Common */
.bg-new-trade
{
	background: 				#EEEEEE;
}

.new-trade-profile-cont
{
	position: 					relative;

	text-align: 				left; 

	color: 						#333;
	font-weight: 				normal;

	border-top: 				1px solid #FFF;
}

.trades-flame-gif
{
	position: 					absolute;
	top: 						0px;
	right: 						-20px;

	width: 						30px;
	height: 					32px;

	line-height: 				32px;
}

.trades-flame-gif img
{
	width: 						100%;
	height: 					auto;
}

.new-trade-profile-cont hr,
.trades-main-page hr,
.trades-page hr,
.trade-user-page hr
{
	height: 					1px;

	padding: 					0;
	margin: 					0;

	line-height: 				1px;

	background: 				#F7F7F7;

	border-color:				#CCC;
}

hr.sep-1
{
	background: 				#FFF;

	border-color:				#AAA;
}

hr.dark
{
	background: 				#444;

	border-color:				#000;
}

#trade-wrapper
{
	
}


/* Trades library */
.trades-library-cont,
.giveaways-library-cont
{
	text-align: 				left;

	color: 						#333;
}

.trades-library-cont h4,
.giveaways-library-cont h4
{
	height: 					35px;

	padding-left: 				2px;
	margin-top: 				2px;

	text-align: 				left;

	border-left: 				2px solid #999;
}

.trades-library-cont h4 .fa,
.giveaways-library-cont h4 .fa
{
	margin-left: 				10px;

	font-size: 					14px;
}

.trades-library-cont h4 a,
.giveaways-library-cont h4 a
{
	padding-left: 				10px;

	display: 					block;
	line-height: 				35px;

	color: 						#FFF;
	font-size: 					16px;
	text-shadow: 				0 1px 0 #555;

	background: 				#999;
}

.trades-library-cont a,
.trades-library-cont a:hover,
.trades-library-cont a:focus
{
	
}

/*
.trades-library-cont h4.create-new-trade
{

	border-color: 				#333;
}

.trades-library-cont h4.trades-in-progress
{
	background: 				rgba(100, 182, 100, 0.35);

	border-color: 				rgb(100, 182, 100);
}

.trades-library-cont h4.trades-in-progress a .fa
{
	color: 						rgb(100, 182, 100);
}

.trades-library-cont h4.trades-offers
{
	background: 				rgba(255, 196, 106, 0.35);

	border-color: 				rgb(255, 196, 106);
}

.trades-library-cont h4.trades-offers a .fa
{
	color: 						rgb(255, 196, 106);
}

.trades-library-cont h4.trades-completed
{
	background: 				rgba(0, 174, 208, 0.35);

	border-color: 				rgb(0, 174, 208);
}

.trades-library-cont h4.trades-completed a .fa
{
	color: 						rgb(0, 174, 208);
}

.btn-refresh-trades-library
{
	margin-right: 				5px;
}

.trades-library-cont h4.trades-in-progress .btn-refresh-trades-library
{
	color: 						rgb(100, 182, 100);
}

.trades-library-cont h4.trades-offers .btn-refresh-trades-library
{
	color: 						rgb(255, 196, 106);
}

.trades-library-cont h4.trades-completed .btn-refresh-trades-library
{
	color: 						rgb(0, 174, 208);
}
*/

.trades-library-cont ul li,
.giveaways-library-cont ul li
{
	margin-bottom: 				5px;
}

.trades-list-cont ul li:last-child,
.giveaways-list-cont ul li:last-child
{
	margin-bottom: 				0;
}

.trades-library-cont ul .row-element
{
	height: 					35px;

	padding: 					0 10px;
	margin: 					0 2px;

	line-height: 				35px;

	background: 				#F4F4F4;
}

/*
ul.trades-in-progress-list li .row-element
{
	background: 				rgba(100, 182, 100, 0.1);
}

ul.trades-offers-list li .row-element
{
	background: 				rgba(255, 196, 106, 0.1);
}
*/

ul.trades-completed-list .traded-data
{
	border-left: 				5px solid #999;

	padding-left: 				2px;
}

ul.trades-completed-list li .not-guaranteed-serial .row-element
{
	
}

.trades-library-cont ul li .col-xs-4:first-child .row-element
{
	padding-left: 				10px;
}

.trades-library-cont ul li .row-element a
{

}

.trades-library-cont ul li .row-element a:hover
{
	text-decoration: 			underline;
}

.trades-library-cont ul .row-element .fa
{
	margin-right: 				10px;

	font-size: 					16px;
}

.trades-library-cont ul.trades-offers-list .col-xs-1 .row-element .fa
{
	margin-right: 				0;

	font-size: 					18px;

	cursor: 					pointer;
}

/*
ul.trades-in-progress-list li .row-element .fa
{
	color: 						rgb(100, 182, 100);
}

ul.trades-offers-list li .row-element .fa
{
	color: 						rgb(255, 196, 106);
}
*/

ul.trades-completed-list li .row-element .fa
{
	color: 						#999;
}

ul.trades-completed-list li .not-guaranteed-serial .row-element .fa
{
	
}


.trades-library-cont ul .row-element input
{
	width: 						150px;
	height: 					27px;

	padding: 					0px;

	text-align: 				center;
	line-height: 				27px;
}

.trades-library-cont ul li .ellipsis-cont-1,
.trades-library-cont ul li .ellipsis-cont-2
{
	max-width: 					296px;

	white-space: 				nowrap;
	text-overflow: 				ellipsis;

	overflow:					hidden;
}

.trades-library-cont ul li .ellipsis-cont-2
{
	max-width: 					212px;
}

.trades-library-cont ul li .traded-data
{
	width: 						858px;
}

.trades-library-cont ul li .btn-remove-offer,
.trades-library-cont ul li .btn-feedback-panel
{
	width: 						35px;
}

.trades-library-cont ul li .btn-remove-offer button,
.trades-library-cont ul li .btn-feedback-panel button,
.trades-library-cont ul li .btn-feedback-panel .feedback-up,
.trades-library-cont ul li .btn-feedback-panel .feedback-down,
.trades-library-cont ul li .btn-feedback-panel .not-yet-feedback
{
	width: 						100%;
	height: 					35px;

	line-height: 				35px;
	text-align: 				center;
}

.trades-library-cont ul.trades-offers-list li .btn-remove-offer
{
	background: 				#F4F4F4;
}

.trades-library-cont ul.trades-completed-list li .btn-feedback-panel
{
	color: 						#999;

	background: 				#F4F4F4;
}

.trades-library-cont ul.trades-completed-list li .btn-feedback-panel .feedback-up
{
	
}

.trades-library-cont ul.trades-completed-list li .not-guaranteed-serial .btn-feedback-panel .feedback-up
{
	color: 						#999;
}

.trades-library-cont ul.trades-completed-list li .btn-feedback-panel .feedback-down
{

}

.trades-library-cont ul.trades-completed-list li .not-guaranteed-serial .btn-feedback-panel button,
.trades-library-cont ul li .btn-feedback-panel .not-yet-feedback
{
	font-size: 					16px;
}

.trades-library-cont ul.trades-completed-list li .not-guaranteed-serial .btn-feedback-panel .feedback-up,
.trades-library-cont ul.trades-completed-list li .not-guaranteed-serial .btn-feedback-panel .feedback-down
{
	background: 				#F4F4F4;
}

.trades-library-cont ul li .col-xs-12 .row-element
{
	margin: 					0;

	font-size: 					14px;
}

.trades-library-cont ul li .feedback-cont .row-element input
{
	width: 						440px;

	padding: 					0 10px;
	margin: 					0 5px;

	text-align: 				left;
}

.trades-library-cont ul .row-element .send-feedback button
{
	height: 					25px;

	padding: 					0 10px;
	margin-left: 				10px;

	line-height: 				25px;

	font-size: 					12px;

	border: 					1px solid #999;
	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.trades-library-cont ul .row-element .send-feedback button .fa
{
	margin: 					0;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-up
{
	color: 						#999;

	border-color: 				#999;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-up .fa
{
	color: 						#999;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-up:hover,
.trades-library-cont ul .row-element .send-feedback button.feedback-up:hover .fa
{
	color: 						#FFF;

	background: 				#999;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-down
{
	color: 						#999;

	border-color: 				#999;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-down .fa
{
	color: 						#999;
}

.trades-library-cont ul .row-element .send-feedback button.feedback-down:hover,
.trades-library-cont ul .row-element .send-feedback button.feedback-down:hover .fa
{
	color: 						#FFF;

	background: 				#999;
}

.trades-library-cont .send-feedback .chars-counter
{
	margin-right: 				5px;

	color: 						#999;
	font-size: 					13px;
	font-style: 				italic;
}

.info-text-not-guaranteeed
{
	padding: 					10px;

	line-height: 				15px;

	font-size: 					12px;
	background: 				#F4F4F4;
}

.info-text-not-guaranteeed .fa
{
	font-size: 					16px;
}

.info-text-not-guaranteeed a,
.info-text-not-guaranteeed .fa
{
	
}

.info-text-not-guaranteeed a:hover
{
	
	text-decoration: 			underline;
}

.info-text-not-guaranteeed .fa-info-circle
{
	margin-right: 				5px;
}
/* --- */


/* Form new trade */
.trade-data-cont, 
.trade-data-cont-not-guaranteed 
{
	position: 					relative;

	color: 						#FFF;

	background: 				#00AED0;

	border-radius: 				0 0 3px 3px;
}

.trade-data-cont-not-guaranteed 
{
	background: 				#D8DEE1;
}

.trade-data-cont p, 
.trade-data-cont-not-guaranteed p
{
	padding: 					0 15px;
}

.trade-data-cont-not-guaranteed p
{
	color: 						#333;
}

.triangle-cont
{
	position: 					absolute;
	top: 						-18px;
	left: 						14px;
}

.triangle-cont .fa
{
	color: 						#DDDDDD;
	font-size: 					28px;
}

.trade-data-cont .triangle-cont .fa
{
	color: 						#00AED0;
}

.trade-data-cont .trade-data-cont-not-guaranteed .fa
{
	color: 						#D8DEE1;
}

.new-trade-profile-cont .row-height-1
{
	line-height: 				28px;
}

.new-trade-profile-cont .header h3
{
	font-size: 					17px;
	font-weight: 				bold;
}

.new-trade-profile-cont .header h3 .fa
{
	margin-right: 5px;
}

.new-trade-profile-cont h4
{
	line-height: 				28px;

	font-size: 					14px;
	font-weight: 				bold;

	border: 					none;
}

.new-trade-profile-cont h5
{
	line-height: 				28px;

	font-size: 					13px;
}


.new-trade-profile-cont .info-desc
{
	color: 						#606970;
	font-size: 					11px;
	font-weight: 				normal;
	font-style: 				italic;
}

.input-style-1
{
	width: 						100%;
	height: 					28px;

	padding: 					0 5px;
	
	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.new-trade-profile-cont .btn-get-owned-games-list
{
	width: 						auto;
	height: 					28px;

	padding: 					0 10px;
	margin-left: 				5px;

	line-height: 				28px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;

	background: 				#CC001D;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

#owned-games-list
{

}

.new-trade-profile-cont textarea
{
	width: 						100%;
	height: 					70px;

	padding: 					5px;
	
	font-size: 					13px;
	
	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.new-trade-profile-cont ul.trade_rel_game,
.new-trade-profile-cont ul.trade_rel_game_not_guaranteed
{
	width: 						100%;
	height: 					auto;

	padding: 					15px;
	
	font-size: 					13px;

	background: 				#FFF;
	
	border: 					1px solid #CCC;
	border-radius: 				3px;

	overflow: 					auto;
}

.new-trade-profile-cont ul.trade_rel_game_not_guaranteed
{
	height: 					auto;
}

.new-trade-profile-cont ul.trade_rel_game li
{
	margin-bottom: 				3px;
}

.new-trade-profile-cont ul.trade_rel_game li .game-title,
.new-trade-profile-cont ul.trade_rel_game_not_guaranteed li .game-title,
.profile-form ul.form-owned-games-list .game-title,
.profile-form ul.form-not-guaranteed .game-title
{
	height: 					25px;

	padding: 					0 15px;
	margin-left: 				15px;

	line-height: 				23px;

	background: 				#EEE;

	border: 					1px solid #DDD;
	border-radius: 				3px;
}

.new-trade-profile-cont ul.trade_rel_game_not_guaranteed li .game-title,
.profile-form ul.form-not-guaranteed .game-title
{
	width: 						100%;
	height: 					28px;

	margin: 					0;

	line-height: 				26px;
}

.new-trade-profile-cont button.btn-add-rel-game,
.profile-form button.btn-add-rel-game
{
	width: 						100%;

	line-height: 				25px;

	color: 						#FFF;

	background: 				#999;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.new-trade-profile-cont ul.trade_rel_game_not_guaranteed button.btn-add-rel-game,
.profile-form ul.form-not-guaranteed button.btn-add-rel-game
{
	line-height: 				28px;
}

.new-trade-profile-cont ul.trade_rel_game li button.btn-add-rel-game:hover,
.new-trade-profile-cont ul.trade_rel_game_not_guaranteed li button.btn-add-rel-game:hover
{
	background: 				#A70000;
}

.new-trade-profile-cont ul.trade_rel_game li button.btn-add-rel-game .fa,
.new-trade-profile-cont ul.trade_rel_game_not_guaranteed li button.btn-add-rel-game .fa
{
	margin-right: 				5px;

	font-size: 					15px;
}

.new-trade-profile-cont ul.trade_rel_game li button[disabled]
{
	background: 				#DDDDDD;
	text-shadow: 				0 1px 0 #DDDDDD;
}

.new-trade-profile-cont ul.trade_rel_game li button[disabled]:hover
{
	background: 				#DDDDDD;
}

.new-trade-profile-cont .checkbox-agree-terms
{
	margin-top: 				8px;
}

input.trade_guaranteed_only
{
	margin-top: 				7px;
	margin-left: 				10px;
}

.new-trade-btn-1
{
	width: 						100%;
	height: 					28px;

	text-align: 				center;

	color: 						#FFF;

	border-radius: 				3px;
}

.new-trade-profile-cont .btn-retrive-game-data
{
	background: 				#CC001D;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;
}

.new-trade-profile-cont .btn-retrive-game-data:hover
{
	background: 				#A70000;
}

ul.trade_rel_game_not_guaranteed button.error
{
	background: 				rgb(224, 39, 43);
}

ul.trade_rel_game_not_guaranteed button.error:hover
{
	background: 				rgba(224, 39, 43, 0.75);
}

.selected-rel-games-cont
{
	padding: 					15px;

	background: 				#FFF;

	border: 					1px solid #CCC;
	border-radius: 				3px;
}

.selected-rel-games-cont .selected-rel-game-info
{
	width: 						350px;

	padding-left: 				5px;
	margin-right: 				5px;
}

.selected-rel-games-cont .element-style-1
{
	height: 					28px;

	line-height: 				26px;

	background: 				#EEE;

	border: 					1px solid #DDD;
	border-radius: 				3px;
}

.selected-rel-games-cont .counter
{

}

.selected-rel-games-cont .counter,
.selected-rel-games-cont button
{
	width: 						28px;

	text-align: 				center;
}

.selected-rel-games-cont .selected-rel-game-info
{
	width: 						765px;

	padding-left: 				5px;
	margin: 					0 5px;
}

#selected-owned-game .selected-rel-game-info
{
	width: 						798px;

	margin: 					0;
	margin-right: 				5px;
}

.selected-rel-games-cont button:hover
{
	color: 						rgba(44, 53, 60, 0.75);
}

.new-trade-profile-cont .trade_description
{
	resize: 					none;
}

.new-trade-profile-cont .btn-save-new-trade,
.new-trade-profile-cont .btn-cancel-trade
{
	width: 						100%;
	height: 					30px;

	text-align: 				center;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.new-trade-profile-cont .btn-save-new-trade
{

}

.new-trade-profile-cont .btn-cancel-trade
{
	
}

.new-trade-profile-cont .btn-save-new-trade:hover,
.new-trade-profile-cont .btn-cancel-trade:hover
{
	
}
/* --- */

/* Header */
.trades-header h1 {
	height:						auto;

	margin-top:					10px;
}

.trades-header h2.trades-claim {
	height:						63px;

	text-align:					center;
	line-height:				57px;

	font-size:					33px;
	font-family:				'Jura', sans-serif;
	font-weight:				bold;
}

.trades-header h1 img {
	width:						100%;
}

.trades-header 
{
	height: 					67px;

	margin: 					0;

	border: 					1px solid rgba(64, 80, 89, 0.5);
	border-radius: 				5px;
}

.beta-icon 
{
	position: 					absolute;
	top: 						-21px;
	right: 						-20px;
}

.beta-icon h1 
{
	width:						86px;
}
 /* --- */


/* Main page */
.trades-main-page .page-nav
{

}

.filters-bnt, .search-cont
{
	
}

.search-type-cont
{
	padding-right: 				0;

	text-align: 				right;
	line-height: 				30px;
}

.search-type-cont button,
.search-type-cont a
{
	height: 					35px;

	padding: 					0 10px;
	margin-left: 				15px;

	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.search-cont #input-search
{
	width: 						100%;
	height: 					35px;

	padding: 					0 10px;
	padding-right: 				30px;

	line-height: 				35px;

	font-family: 				"Lucida Console", Monaco, monospace;
	font-size: 					13px;

	border-radius: 				3px;
}

.search-cont .absolute
{
	top: 						7px;
	right: 						22px;

	width: 						20px;
	height: 					20px;

	line-height: 				10px;

	font-size: 					14px;
	color: 						#FFF;

	background: 				#DDD;

	border-radius: 				50px;
}

.search-cont .search-trades-result-cont
{
	position: 					absolute;
	top: 						40px;
	right: 						15px;
	z-index: 					50;

	width: 						470px;

	background: 				#FFF;

	border-radius: 				3px;

	box-shadow: 				-7px 7px rgba(0, 0, 0, 0.5);
}

.search-cont .search-trades-result-cont h4
{
	font-size: 					18px;
}

.search-cont .search-trades-result-cont .trade-item
{
	margin-bottom: 				3px;
}

.search-cont .search-trades-result-cont .trade-item .img-cont
{
	padding-right: 				0;
}

.search-cont .search-trades-result-cont .trade-item .img-cont a
{
	display: 					block;
}

.search-cont .search-trades-result-cont .trade-item .img-cont a img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.search-cont .search-trades-result-cont .trade-item .title-cont
{
	width: 						338px;

	padding: 					0;
}

.search-cont .search-trades-result-cont .trade-item .title-cont a
{
	max-width: 					352px;

	padding: 					0 15px;

	display: 					block;
	line-height: 				48px;

	font-size: 					16px;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;

	background: 				rgba(0, 0, 0, 0.05);

	overflow: 					hidden;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.search-cont .search-trades-result-cont .trade-item .title-cont a:hover
{
	color: 						#333;

	background: 				rgba(0, 0, 0, 0.1);
}

.search-cont .search-trades-result-cont .try_more_specific
{
	line-height: 				20px;
}

.search-cont .search-trades-result-cont .try_more_specific .fa
{
	margin-right: 				5px;

	color: 						#ECBE13;
	font-size: 					18px;
}

.filters-bnt a
{
	padding: 					0 10px;

	text-align: 				center;
	display: 					block;
	line-height: 				35px;

	color: 						#FFF;
	font-size: 					14px;
	font-family: 				"Lucida Console", Monaco, monospace;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.filters-bnt a:hover,
.filters-bnt a.active
{

}

.trades-main-page .trade-cont 
{
	width:						304px;
	margin-right:				24px;
	margin-bottom:				24px;
}

.trades-main-page .trade-cont .trade_box 
{
	position:					relative;

	background:					#FFF;

	border-radius:				0 0 3px 3px;
}

.trades-main-page .trade-cont .trade_box .trades-status
{
	position:					absolute;
	z-index: 					100;

	height: 					30px;

	padding: 					0 10px;

	line-height: 				30px;

	font-size: 					12px;

	background: 				rgba(255, 255, 255, 0.85);
}

.trades-main-page .trade-cont .trade_box .trades-status .trade-status-1,
.trades-main-page .trade-cont .trade_box .trades-status .trade-status-2,
.trades-main-page .trade-cont .trade_box .trades-status .trade-status-3
{
	display: 					block;
}

.trades-main-page .trade-cont .trade_box .trades-status .trade-status-1
{
	color: 						#64B664;
}

.trades-main-page .trade-cont .trade_box .trades-status .trade-status-2
{
	color: 						#FFC46A;
}

.trades-main-page .trade-cont .trade_box .trades-status .trade-status-3
{
	color: 						#61D0FE;
}

.trades-main-page .trade-cont .trade_box .trade_img
{
	
}

.trades-main-page .trade-cont .trade_box .trade_img p
{
	width: 						100%;
	height: 					138px;

	overflow: 					hidden;
}

.trades-main-page .trade-cont .trade_box .trade_img p img 
{
	width: 						100%;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.trades-main-page .trade-cont .trade_box .trade_img:hover p img
{
	/*
	opacity:					0.7;
	transform: 					scale(1.1);
	*/
}

.trades-main-page .trade-cont .trade-type
{
	height: 					35px;

	text-align: 				center;
	line-height: 				35px;

	color: 						#FFF;
	font-size: 					14px;
	font-family: 				"Lucida Console", Monaco, monospace;
	/* text-shadow: 				0 1px 0 #2E2E2E; */
}

.trades-main-page .trade-cont .guaranteed-trade
{
	background: 				#00AED0;
}

.trades-main-page .trade-cont .not-guaranteed-trade
{
	background: 				#929292;
}

.trades-main-page .trade_desc
{
	min-height: 				88px;

	overflow:					hidden;
}

.trades-main-page .trade_desc h4
{
	max-width: 					275px;
	height: 					20px;

	line-height: 				20px;

	font-size: 					15px;
	text-overflow: 				ellipsis;
	white-space: 				nowrap;

	overflow:					hidden;
}

.trades-main-page .trade_desc p
{
	height: 					40px;

	line-height: 				20px;

	font-size: 					13px;
}

.trades-main-page .read-more
{
	height: 					20px;

	text-align: 				right;
	line-height: 				19px;
}

.trades-main-page .read-more a
{
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0 1px 0 #FFF;
	font-size: 					13px;
}

.trades-main-page .read-more a:hover
{
	text-decoration: 			underline;
}

.trades-main-page .avatar-cont img
{
	width: 						30px;
	height: 					30px;

	margin-right: 				5px;

	border-radius: 				50px;
}

.trades-main-page .trade_owner-cont
{
	height: 					40px;

	overflow: 					hidden;
}

.trades-main-page .trade_owner
{
	line-height: 				40px;
}

.trades-main-page .trade_owner .steam-nick-cont
{
	max-width: 					135px;

	text-overflow: 				ellipsis;
	white-space: 				nowrap;

	overflow:					hidden;
}

.trades-main-page .trade_owner .timeleft
{
	
}
/* --- */

/* Trade post page */
.trades-page
{
	font-size: 					15px;
}

.trades-page h1
{
	font-size: 					19px;
}

.trades-page h2
{
	font-size: 					15px;
}

.trades-header h2
{
	font-size: 					15px;
}

.trades-page h3
{
	font-size: 					13px;
}

.back-to-trades
{
	margin-top: 				7px;
}

.trade-user-page .back-to-trades
{
	margin-top: 				25px;
}

.back-to-trades a
{

}

.back-to-trades a:hover
{
	
}

.trades-page .trade-title,
.trade-user-page .trade-title
{
	padding: 					0px;

	line-height:				50px;

	font-size: 					19px;
}

.trade-user-page .trade-title
{
	padding: 					15px 0;

	line-height:				56px;
	font-size: 					19px;
}

.trades-page .trade-title .fa,
.trade-user-page .trade-title .fa
{
	margin-right: 				10px;
}

.trades-page .trade-title span .fa
{
	font-size: 					25px;
}

.trades-page h1.trade-title img
{
	width: 						auto;
	height: 					50px;

	margin-right: 				10px;
}

.trades-page .trade-img-cont
{
	width: 						400px;

	overflow: 					hidden;
}

.trades-page .trade-img-cont img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.trades-page .trade-info-cont,
.trades-page .trade-info-cont a
{
	color: 						#FFF;
	font-size: 					13px;
}

.trades-page .trade-info-cont h3
{
	line-height: 				26px;
}

.trades-page .avatar-cont
{
	border-radius: 				50px;

	overflow: 					hidden;
}

.trades-page .avatar-cont img
{
	width: 						100%;
	height: 					auto;
}

.trades-page .username-cont
{
	line-height: 				40px;
}

.trades-page .username-cont a
{
	font-size: 					17px;
}

.trades-page .username-cont a:hover
{
	border-bottom: 				1px dotted #FFF;
}

.reputation-cont
{
	font-size: 					13px;
	font-weight: 				normal;
}

.reputation-cont .positive-reputation
{
	color: 						#0B8305;
}

.reputation-cont .negative-reputation
{
	color: 						#CB2020;
}

.trades-page .datime-info-cont
{
	padding: 					4px 8px;
	margin-right: 				5px;

	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0px #000;
	font-weight: 				normal;

	border: 					1px solid #FFF;
	border-radius: 				5px;
}

.trades-page .offers-container .datime-info-cont
{
	text-shadow: 				none;

	border-color: 				#333;
}

.trades-page .datime-info-cont .fa
{
	font-size: 					11px;
	line-height:				10px;
}

.trades-page .games-to-trade-title
{
	font-size: 					14px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0px #FFF;
}

.trades-page .trade-description
{
	margin-top: 				10px;

	line-height: 				25px;
}

.trades-page .offer-box
{
	padding: 					15px 0;
	margin: 					0;
}

.trades-page .offer-box:nth-child(odd)
{
	
}

.trades-page .offer-img-cont img
{
	width: 						auto;
	height: 					60px;
}

.trades-page .offer-type
{
	line-height: 				60px;

	font-size: 					25px;
	text-shadow: 				0px 1px 0px #FFF;
}

.trades-page .accept-trade-cont
{
	margin-top: 				12px;
}

.trades-page .btn-accept-trade
{
	width: 						100%;
	height: 					35px;

	text-align: 				center;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	font-size: 					14px;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.trades-page .btn-blue
{
	
}

.trades-page .btn-grey
{
	
}

.trades-page .btn-blue:hover
{
	background: 				rgba(0, 174, 208, 0.3);
}

.trades-page .btn-grey:hover
{
	background: 				rgba(196, 196, 196, 0.3);
}
/* --- */

.games-want .col-xs-6
{
	width: 						200px;

	padding: 					0 10px;
	margin: 					0;
}

.game-to-trade p 
{
	width:						100%;
	height:						auto;
	
	overflow:					hidden;
}

.game-to-trade p img
{
	width:						100%;
	height: 					auto;
	
	transition: 				all .2s ease-in-out;
}

/*
.game-to-trade:hover img
{
	transform: 					scale(1.1);
	opacity:					0.7;
}
*/

.custom-games-switcher-cont button
{
	height:						35px;

	padding: 					0 10px;

	color: 						#FFF;

	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.btn-trade-this-game 
{
	width: 						100%;
	height:						35px;

	line-height:				35px;

	color:						#FFF;
	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.game-to-trade .btn-trade-this-game:hover
{
	
}

.games-want .game-to-trade
{
	position: 					relative;
}

.games-want .game-to-trade .offer-btn-cont
{
	
}

.game-to-trade .btn-go-to-serial-key-offer
{
	height:						35px;

	text-align: 				center;
	line-height:				35px;

	color: 						#FFF;
	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0px #2E2E2E;

	background:					#D2DADA;
}

.game-to-trade .btn-go-to-serial-key-offer button
{
	text-shadow: 				0px 1px 0px #2E2E2E;
}

.custom-offer-cont
{
	padding: 					0 30px;
}

.custom-game-offer-title
{
	font-size: 					15px;
	font-weight: 				bold;
}

.custom-game-offer-title-plus
{
	width: 50%;
	float: left;
	height: 33px;
	line-height: 33px;
}

.btn-show-custom-offer
{
	margin-left: 				10px;

	padding: 					2px 5px;

	font-weight: 				normal;
	text-shadow: 				1px 1px 1px #FFF;

	background: 				none;

	border: 					1px solid #333;
	border-radius: 				3px;
}

.btn-show-custom-offer:focus
{
	border: 					1px solid #333;
}

.custom-offer .fixed-height
{
	height: 					164px;

	overflow: 					visible;
	overflow-x: 				hidden;
}

.custom-offer-cont .custom-offer-item
{
	margin-bottom: 				5px;
	margin-right: 				5px;
}

.custom-offer-cont .custom-offer-item
{
	background: 				#FFF;
}

.custom-offer-cont .custom-offer .game-title
{
	line-height: 				35px;

	font-size: 					14px;
}

.custom-offer-cont .custom-offer .btn-trade-this-game:hover
{
	background:					rgba(52, 157, 189, 0.75);
}

.trade-subsection-title
{

}


.offers-container .single-game-box:nth-child(odd) {
	
	background:					#bec6c6;
	}
.offers-container .single-game-box {
	
	height:						80px;
	}
.single-game-box .single-game-offer {
	
	line-height:				80px;
	height:						80px;
	}
.single-game-box .single-game-offer .account-section {
	
	line-height:				76px;
	}
.single-game-box .single-game-offer .account-section .img-account-section img {
	
	width:						50px;
	}
.single-game-box .single-game-offer .account-section .name-account-section {
	
	line-height:				60px;
	}
.single-game-box .single-game-offer .account-section .name-account-section div {
	
	height:						20px;
	}
.single-game-box .single-game-offer .img-game-offer img {
	
	width:						120px;
	}
.single-game-box .single-game-offer .btn-accept-trade {
	padding:					0px;
	background:					#349DBD none repeat scroll 0% 0%;
	color:						#fff;
	height:						40px;
	line-height:				39px;
	width:						105px;
	border:						1px solid #349DBD;
}
.single-game-box .single-game-offer .btn-accept-trade:after {
	content:"Accept";
}

.single-game-box .single-game-offer .btn-accept-trade:hover {
	padding:					0px;
	background:					rgba(52, 157, 189, 0.3);
	color:						#fff;
	height:						40px;
	line-height:				39
	border:						1px solid #349DBD;

}
.single-game-box .single-game-offer .btn-accept-trade:hover:after {
	content:"Accept";
}

.customer-serial-offer-cont
{
	position: 					relative;

	min-height: 				200px;
	overflow: 					visible;
}

.customer-serial-offer-cont .dynamic-bg
{
	position: 					absolute;
	left: 						0;
	z-index: 					50;

	width: 						460px;
	height: 					100%;

	/*background: 				url('http://cdn.akamai.steamstatic.com/steam/apps/239140/header.jpg') right top no-repeat;*/
}

.customer-serial-offer-cont .dynamic-bg-opacity
{
	position: 					absolute;
	left: 						0;
	z-index: 					60;

	width: 						460px;
	height: 					100%;

	background: 				linear-gradient(90deg, rgba(190, 198, 198, 0.3), #DAD6CA); 
}

.customer-serial-offer-cont .customer-serial-offer-text
{
	padding: 					10px;

	background: 				rgba(255, 255, 255, 0.65);

	border-radius: 				3px;
}

.customer-serial-offer-cont .form-cont
{
	position: 					absolute;
	right: 						left;
	z-index: 					70;

	width: 						100%;
	height: 					100%;
}

.customer-serial-offer-cont .customer-serial-offer-input
{
	width: 						100%;
	height: 					35px;

	padding: 					0 10px;

	line-height: 				35px;

	font-size: 					12px;
	font-family: 				"Lucida Console", Monaco, monospace;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

.customer-serial-offer-cont button.customer-serial-offer-input
{
	color: 						#FFF;
	font-size: 					13px;
	font-family: 				"Lucida Console", Monaco, monospace;

	line-height: 				35px;

	background: 				rgb(52, 157, 189);

	border: 					none;
}

.customer-serial-offer-cont button.customer-serial-offer-input:hover
{
	background: 				rgba(52, 157, 189, 0.75);
}

.customer-serial-offer-cont input.error
{
	border-color: 				rgb(255, 113, 103);

	-webkit-box-shadow: 		inset 0px 0px 5px 0px rgba(255, 113, 103, 0.9);
	-moz-box-shadow: 			inset 0px 0px 5px 0px rgba(255, 113, 103, 0.9);
	box-shadow: 				inset 0px 0px 5px 0px rgba(255, 113, 103, 0.9);
}

.customer-serial-offer-cont input.insert
{
	border-color: 				rgb(52, 157, 189);

	-webkit-box-shadow: 		inset 0px 0px 2px 0px rgb(52, 157, 189);
	-moz-box-shadow: 			inset 0px 0px 2px 0px rgb(52, 157, 189);
	box-shadow: 				inset 0px 0px 2px 0px rgb(52, 157, 189);
}


.customer-serial-offer-cont button.error
{
	background: 				rgb(255, 113, 103);
}

.customer-serial-offer-cont button.error:hover
{
	background: 				rgb(255, 113, 103);
}

.customer-serial-offer-cont button.ok:hover
{
	background: 				#349DBD;
}

.customer-serial-offer-cont button.error .fa
{
	margin-left: 				5px;
}

.customer-serial-offer-cont .customer-serial-offer-text
{
	line-height: 				18px;

	color: 						#4D565D;
	font-size: 					13px;
}

.customer-serial-offer-cont .customer-serial-offer-text .fa
{
	margin-right: 				5px;

	font-size: 					16px;
}

.customer-serial-offer-cont .error-message .fa
{
	color: 						#FF7167;
}

.comments-cont
{
	font-size: 					14px;
}

.comments-cont ul li.spacer-bottom
{
	margin-top: 				15px;
}

.comments-cont ul li.spacer-bottom:first-child
{
	padding: 					0;
	margin: 					0;

	border: 					none;
}

.comment-sub-title
{
	color: 						#333;
	font-size: 					13px;
}

.comments-cont ul li .avatar-cont
{
	width: 						50px;
	height: 					50px;
}

.comments-cont ul li .avatar-cont img
{
	width: 						100%;
	height: 					auto;

	border-radius: 				60px;
	border: 					3px solid #FFF;
}

.comments-cont ul li .comment-data
{
	margin-left: 				65px;
}

.comments-cont ul li .comment-data .steam-nick-cont
{
	line-height: 				30px;

	font-size: 					15px;
	font-weight: 				bold;
}

.steam-nick-cont a:hover
{
	color: 						#333;
	border-bottom: 				1px dotted #333;
}

.comments-cont ul li .comment-data button.btn-expand-replies
{
	margin-right: 				5px;

	color: 						#405059;
	font-size: 					14px;
}

.comments-cont ul li .comment-data button.btn-expand-replies:disabled
{
	color: 						#A8B0B0;
	text-shadow: 				1px 1px 1px #FFF;
}

.comments-cont ul li .comment-data .comment-text
{
	line-height: 				20px;

	font-size: 					13px;

	background: 				#FFF;

	border: 					2px solid #999;
	border-top: 				none;
	border-right: 				none;
}

.comments-cont ul li .comment-data .comment-actions
{
	color: 						#333;
	font-size: 					13px;
}

.comments-cont ul li .comment-data .comment-actions .fa
{
	margin-right: 				5px;

	font-size: 					14px;
}

.comments-cont ul li .comment-data .comment-actions span
{
	margin-right: 				15px;
}

button.comment-button-style-1
{
	height: 					35px;

	padding: 					0 10px;

	line-height: 				35px;

	color: 						#FFF;
	font-family: 				"Lucida Console", Monaco, monospace;
	text-shadow: 				0px 1px 0 #2E2E2E;

	border-radius: 				3px;

	-webkit-transition: 		all 200ms ease;
	-moz-transition: 			all 200ms ease;
	-ms-transition: 			all 200ms ease;
	-o-transition: 				all 200ms ease;
	transition: 				all 200ms ease;
}

button.comment-button-style-1:hover,
.comment-actions button.selected
{
	background: 				#D2DADA;
}

.comments-cont ul li .comment-data .comment-actions button
{
	
}

.reply-cont
{
	padding-left: 				30px;

	border-left: 				2px solid #999;
}

.reply-text
{
	margin-right: 				30px;
}

.reply-cont textarea,
.write-comment-cont textarea
{
	width: 						100%;
	height: 					80px;
	resize: 					none;

	padding: 					5px;

	line-height: 				20px;

	color: 						#333;
	font-size: 					13px;

	border: 					2px solid #999;
	border-top: 				none;
	border-right: 				none;
	border-radius: 				3px;
}

.reply-cont .chars-counter,
.write-comment-cont .chars-counter
{
	color: 						#333;
	font-size: 					13px;
}

.reply-cont .btn-save-reply,
.write-comment-cont .btn-save-reply
{
	color: 						#333;
	font-size: 					15px;
	text-shadow: 				1px 1px 1px #FFF;
}

.reply-cont .btn-save-reply,
.write-comment-cont .btn-save-reply
{
	color: 						#333;
	font-size: 					15px;
	text-shadow: 				1px 1px 1px #FFF;
}

.comment-replies-cont
{
	padding-left: 				15px;

	border-left: 				2px solid #999;
}

.comment-wrapper
{
	padding-bottom: 			15px;
}

.comment-error, 
.comment-notice
{
	height: 					35px;

	padding: 					4px 10px;
	margin-left: 				15px;

	line-height: 				35px;

	font-size: 					13px;

	border: 					2px solid #999;
	border-top: 				none;
	border-right: 				none;
	border-radius: 				3px;
}

.comment-notice
{
	
}

hr.comment-sep
{
	background: 				#A8B0B0;

	border-bottom: 				1px solid #D2DADA;
}


/* Trade user page */
.rounded-border-3
{
	border-radius: 				3px;
}

.trade-user-page .trade-title .avatar-cont
{
	width: 						50px;
	height: 					50px;

	margin-right: 				10px;

	border: 					3px solid #FFF;
	border-radius: 				50px;

	overflow: 					hidden;
}

.trade-user-page .trade-title .avatar-cont img
{
	width: 						100%;
	height: 					auto;

	display: 					block;
}

.trade-user-page .trade-title .user-since
{
	margin-left: 				15px;

	color: 						rgba(51, 51, 51, 0.75);
	font-size: 					12px;
	font-style: 				italic;
}

.user-statistics-cont ul li
{
	line-height: 				40px;

	font-size: 					15px;

	border-bottom: 				1px solid #FFF;
}

.user-statistics-cont .bg-5 ul li
{
	border-color: 				#D2DADA;
}

.user-statistics-cont ul li:last-child
{
	border: 					none;
}

 ul li .right
{
	font-size: 					14px;
}

.user-statistics-cont ul li .spacer
{
	margin: 					0 5px;
}

.trade-section-title
{
	font-size: 					15px;
	font-weight: 				bold;
}

.dark-cont
{
	color: 						#FFF;
}

.feedbacks-cont ul li
{
	padding: 					15px;
	margin-bottom: 				15px;

	background: 				#FFF;

	border-radius: 				3px;
}

.feedbacks-cont ul li:last-child
{
	margin-bottom: 				0;
}

.feedbacks-cont ul li .avatar-cont
{
	width: 						50px;
	height: 					50px;

	
}

.feedbacks-cont ul li .avatar-cont img
{
	width: 						100%;
	height: 					auto;

	border-radius: 				60px;

	border: 					3px solid #FFF;
}

.feedback-data-cont
{
	width: 						828px;

	line-height: 				25px;
}

.feedback-data-cont .steam-nick-cont
{
	font-weight: 				bold;
}

.feedback-data-cont .date-cont
{
	width: 						12%;
}

.feedback-data-cont .text-cont
{
	width: 						83%;
}

.feedback-data-cont .text-cont p
{
	padding: 					0 10px;

	line-height: 				23px;

	background: 				#FFF;

	border: 					1px solid #CCC;
}

.feedback-data-cont .text-cont .no-feedback-text
{
	color: 						#CCC;
}

.feedback-data-cont .feed-cont
{
	width: 						5%;
}

.feedback-data-cont .feed-cont .fa-thumbs-up
{
	color: 						#0B8305;
}

.feedback-data-cont .feed-cont .fa-thumbs-down
{
	color: 						#CB2020;
}

.show-more-about-trades
{
	padding: 					15px;

	line-height: 				18px;

	font-size: 					12px;

	background: 				#BEC6C6;

	border-radius: 				0 0 3px 3px;
}

.show-more-about-trades ul li
{
	padding-left: 				15px;
}

.temp-page-cont
{
	padding: 					60px 15px;

	text-align: 				center;

	background: 				#FFF;

	border-radius: 				3px;
}

.temp-page-cont
{
	font-size: 					15px;
}

.temp-page-cont .fa
{
	margin-right: 				5px;

	color: 						#FFC46A;
}

/* GOOGLE ADS */
.google-ads-728-cont,
.google-ads-320-cont
{
	padding: 					20px 0;

	background: 				#FFF;

	border: 					1px solid #B3BCC3;
	border-radius: 				3px;
}

.google-ads-320-cont
{
	padding: 					25px 0;
}

.google-ads-728
{
	width: 						728px;

	margin: 					0 auto;
}

.google-ads-320
{
	width: 						336px;

	margin: 					0 auto;
}

.admin-btn-cont
{
	padding: 					0 10px;

	line-height: 				30px;

	color: 						#333;
	font-size: 					12px;

	border-top: 				1px solid #FFF;
}

.admin-btn-cont span
{
	
	text-decoration: 			underline;
}

.ban-button
{
	padding: 					0 5px;

	line-height: 				22px;

	color: 						#FFF;
	font-size: 					12px;

	border-radius: 				3px;
}

.ban-button:first-child
{
	margin-left: 				10px;
}

.btn-ban,
.btn-ban-temp
{
	background: 				#CB2020;
}

.btn-ban-remove
{
	background: 				#00AED0;
}


/* GIVEAWAY COMMONS */

/* NEW GIVEAWAY FORM */
.giveaways-library
{

}

.giveaways-form-bg
{
	background: 				url("/img/gifts_texture.jpg") left top;
}

.giveaways-form-bg .panel-body
{
	background: 				rgba(255, 255, 255, 0.85)
}

