/******************************************  
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
* 
* Simply copy an existing style from style.css to this file, 
* and modify it to your liking.
*/

ul.posts div.post-excerpt {
	color: #404040;
        font-size: 13px;
        line-height: 18px;
}

.post-content {
	color: #404040;
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        max-width: 630px;
}

/*
.post-content {
        font-size: 16px;
        line-height: 26px;
        overflow: hidden;
        max-width: 630px;
}
*/

.comment-list { margin: 0; padding: 15px 0 0; font-size: 12px; line-height: 18px;}
.comment-list li div p { color: #202020; }

 .CommentRating {
      text-align: right;
      float: right;
      margin-right: 10px;
 }

div.author-info {font-size: 13px; line-height: 18px; margin: 20px 0; padding: 15px 15px 5px; }

/* [gallery] shortcode styling */
.post-content .gallery,
.post-excerpt .gallery { margin: auto; clear:both; }
.post-content .gallery .gallery-item,
.post-excerpt .gallery .gallery-item {display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; margin-left: 0px; margin-top: 0px; margin-bottom: 12px; margin-right: 12px; }
.post-content .gallery img,
.post-excerpt .gallery img { border: solid 1px #727272; padding: 0px; }
.post-content .gallery-caption,
.post-excerpt .gallery-caption { margin-left: 0; }
.post-content div.gallery img:hover,
.post-excerpt div.gallery img:hover {border: solid 1px #d46670; }

.attachment-paultan-smallthumb { padding: 2px; }

/* Share buttons */
div#share-buttons {
	position:fixed;
	top: 220px;
	right: 0;
	z-index: 999;
	width: 60px;
	text-align: center;
	background: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
}

