body {
	background: none;
	background-color: #222;
	color: #444;
}

body, button, input, select, textarea {
	color: #444;
}

/*a { color: #de2f3a; }*/
a { color: #990000; }
a:hover { color: #214b7b; }

#header-menu div.wrapper,
#main div.wrapper {
	-moz-box-shadow: 0 0 10px #111;
	-webkit-box-shadow: 0 0 10px #111;
	box-shadow: 0 0 10px #111;
} 

#main div.wrapper-footer {
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
}

#main p.title-xlarge, .xlarge, .post-content h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold !important;
}

#pre-header {
	background-color: #333;
	color: #a4a4a4;
	text-shadow: #000 1px 1px 0;
}

#pre-header p,
#header-menu p {
	color: #aaa;
}

#pre-header p a,
#header-menu p a {
	color: #fff;
}

#pre-header a {
	color: #777;
}

#pre-header a:hover {
	color: #f5b74e;
}

header#header {
	background: #202020 url(../images/back-header-dark.png) repeat-x bottom left;
	border-top: solid 1px #444;

}

nav#header-menu div.wrapper {
	border-bottom: solid 1px #333;
	/* background: #343434 url(../images/back-menu-dark.png) repeat-x top left; */
	background: #343434;
}

ul#main-menu a {
	color: #fff;
	text-shadow: #1e272e 1px 1px 0;
}

ul#main-menu a:hover,
ul#main-menu li.current-menu-item a,
ul#main-menu li.current-menu-item li a:hover {
	color: #f5b74e;
}

ul#main-menu li.current-menu-item li a {
	color: #fff;
}

.dropdown ul {
	background: #232323; 
}

.dropdown li li a {
	color: #fff;
}

#main-menu li li a,
#main-menu .current-menu-item li a,
#main-menu li .current-menu-item a,
#main-menu li li a:hover {
	background: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

}

#main-menu li li a:hover {
	background-color: #444;
	color: #e0b422;
}

/*
	Main Content 
*/

#main div.wrapper {
	background-color: #fff;
}

#main div.wrapper-footer {
	background: #efede8 url(../images/back-prefooter-dark.png) repeat-x top left;
	color: #555;
}

div.wrapper-footer a {
	color: #de2f3a !important;
}

div.wrapper-footer a:hover {
	color: #f99734 !important;
}

#main div.wrapper-footer p.title {
	color: #34332f;
}

div.cover-border img {
	background-color: #fff;
	border: solid 1px #ddd;
}

p.title {
	color: #222;
}

p.breadcrumbs {
	color: #bbb;
}

p.breadcrumbs .current {
	color: #f5b74e;
}

p.title span {
	background-color: #fff;
}

p.title-nocenter span {
	background-color: #fff;
}

/*p.title a, ul.posts a, article.single p.postmetadata a {*/
p.title a, ul.posts a, article.single {
	/*color: #de2f3a !important;*/
	color: #000;
}

p.postmetadata a {
	/*color: #dd878d !important;*/
	color: #990000 !important;
}

p.title a:hover, ul.posts a:hover, article.single p.postmetadata a:hover {
	color: #cc333f !important;
}

ul.posts div.postmeta a {
	color: #fff !important;
}

ul.posts div.postmeta p.postmetadata,
ul.posts div.postmeta p.postmetadata a {
	color: #f5b74e !important;
}

ul.posts div.postmeta a:hover,
ul.posts div.postmeta p.postmetadata a:hover {
	color: #eb6841 !important;
}

ul.posts p.postmetadata, 
article.single p.postmetadata {
	color: #aaa;
}

ul.posts p.postcommentdata {
	font-size: 15px;
}
ul.posts p.postcommentdata a {
	font-weight: bold;
}
ul.posts p.postcommentdata a:hover {
	color: #eb6841 !important;
}

/* ul.posts-archive li,
ul.posts-side li {
	border-bottom: solid 1px #ddd;
} */

div.postmeta {
	background: transparent url(../images/back-postmeta.png) repeat top left;
}

.post-content blockquote {
	border-left: solid 5px #eee; 
	background-color: #fafafa; 
}
div.post-content a {
	color: #990000 !important;
	font-weight: bold;
	/* text-decoration: underline; */
}


/* Footer */

div.wrapper-footer p.title {
	background: none;
	color: #fff;
}

footer {
	background-color: #111;
	border-top: solid 1px #333;
	color: #717171;
}

footer a {
	color: #666;
}

footer a:hover {
	color: #f99734;
}

footer p.wpzoom a {color: #777;}
footer p.wpzoom a:hover { }

/********************************************************************************************* 

10. Comments  -------------------------  comments.php

*********************************************************************************************/   

.comment-list li .commbody { border-top: 1px solid #e6e6e6; }
.comment-author img { /* border:3px solid #fff; background-color: #dddddd; */ }
.bypostauthor .comment-author img { /* border:3px solid #c43c35; */ }
.comment-author cite.fn a { color: #5F6263; }
.comment-author cite.fn a:hover { color: #000; }
.comment-meta { color:#8d8d8d; }
.commleft { border-top:1px solid #e6e6e6; }
.commentmetadata a { color: #6D6C6C; }
.commentmetadata a:hover { color: #484040; }
.comment-list li div p { color: #202020; }
.comment .post-date .right a { color: #BBB; }
.comment .post-date .right a:hover { color: #234; }
.reply a, .cancel-comment-reply a { color: #7D7D7D; }
.reply a:hover, .cancel-comment-reply a:hover { color:#333;}

#comments #respond .comment-body { background: #FFF; }

#respond label { color: #7e7e7e; }
#respond #formLabels span {color: #7e7e7e; }
#respond .submit, .widget input#searchsubmit { text-shadow: 0 1px 0 #5A626A; color:#ffffff; background-color:#c43c35; }

/********************************************************************************************* 

7. Archives paged navigation

*********************************************************************************************/

div.navigation,
div.author-info {background-color: #f3f3f3; border: solid 1px #e7e7e7; background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));background-image:-moz-linear-gradient(top, #f9f9f9, #f1f1f1);background-image:-ms-linear-gradient(top, #f9f9f9, #f1f1f1);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f1f1f1));background-image:-webkit-linear-gradient(top, #f9f9f9, #f1f1f1);background-image:-o-linear-gradient(top, #f9f9f9, #f1f1f1);background-image:linear-gradient(top, #f9f9f9, #f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f1f1f1', GradientType=0);}

/* Post author box */
div.author-info div.thumb img {background-color: #fff;	border: solid 1px #ddd;	}

/* [gallery] shortcode styling */
.post-content .gallery img { border: solid 4px #f6f3ee; }
.post-content div.gallery img:hover {border: solid 4px #d46670; }

/* Twitter widget */
.widget .twitter-list li { border-bottom: 1px solid #dedcd8; }
#side .widget .twitter-list li { border-bottom: 1px solid #ddd; }
.widget .twitter-list .twitter-timestamp { color: #999; }

/* Recent Comments */
.recent-comments-list li {border-bottom: 1px solid #dedcd8; }
#side .recent-comments-list li {border-bottom-color: #ddd;} 

/* Flickr widget */
.widget .flickr_badge_image img { border: solid 1px #192027;}


