/* the reaction buttons region */
div.reaction_buttons{
    margin-top: 20px;
    font-size: 0.8em;
    text-align: left;
}

/* a single button */
div.reaction_buttons .reaction_button {
    line-height: 3.2em;
    padding: 5px;
    margin: 0 3px;
    margin-bottom: 25px;
    border: 1px dotted #000;
    cursor: pointer;
}

/* the button while hovering over it */
div.reaction_buttons > .reaction_button:hover {
    color: #ffffff;
    background-color:cecece;
}

/* the button after voting 
div.reaction_buttons > .voted, div.reaction_buttons > .voted:hover {
}
 /*

/* number of votes including parantheses.
.reaction_buttons .reaction_button .count {
}
 */

/* number of votes in between the parantheses.
.reaction_buttons .reaction_button .count_number {
}
 */
 
 
#sidebar div.widget_reaction_buttons h3 {
	margin: 0;
	margin-top: 4px;
	font-size: 1.1em;
}

#sidebar div.widget_reaction_buttons ol {
	margin-left: 25px;
}

