/*
@font-face{font-family: "HelveticaNeueLight2";	src:url(http://ospportal.orange.es/static/comun/font/helveticaneuelt-webfont.eot?#iefix) format("embedded-opentype"),url(http://ospportal.orange.es/static/comun/font/helveticaneuelt-webfont.woff) format("woff"),url(http://ospportal.orange.es/static/comun/font/helveticaneuelt-webfont.ttf) format("truetype"),url(http://ospportal.orange.es/static/comun/font/helveticaneuelt-webfont.svg#svgFontName) format("svg");}
@font-face{font-family:'oH_HelvNeue35';		src:url(http://ospportal.orange.es/static/comun/font/HelvNeue35.eot);src:url(http://ospportal.orange.es/static/comun/font/HelvNeue35.eot?#iefix) format('embedded-opentype'),url(http://ospportal.orange.es/static/comun/font/HelvNeue35.woff) format('woff');font-style:normal;}
@font-face{font-family:'oH_HelvNeue45';		src:url(http://ospportal.orange.es/static/comun/font/HelvNeue45.eot);src:url(http://ospportal.orange.es/static/comun/font/HelvNeue45.eot?#iefix) format('embedded-opentype'),url(http://ospportal.orange.es/static/comun/font/HelvNeue45.woff) format('woff');font-style:normal;}
@font-face{font-family:'oH_HelvNeue65';		src:url(http://ospportal.orange.es/static/comun/font/HelvNeue65.eot);src:url(http://ospportal.orange.es/static/comun/font/HelvNeue65.eot?#iefix) format('embedded-opentype'),url(http://ospportal.orange.es/static/comun/font/HelvNeue65.woff) format('woff');font-style:normal;}
@font-face{font-family:'oH_HelvNeue75';		src:url(http://ospportal.orange.es/static/comun/font/HelvNeue75.eot);src:url(http://ospportal.orange.es/static/comun/font/HelvNeue75.eot?#iefix) format('embedded-opentype'),url(http://ospportal.orange.es/static/comun/font/HelvNeue75.woff) format('woff');font-style:normal;}
*/

/*
	/bibliotecatelco/static/css/fonts/
*/


/* Helvetica Fonts */

	@font-face{font-family: "HelveticaNeueLight2";	src:url(/bibliotecatelco/static/css/fonts/helveticaneuelt-webfont.eot?#iefix) format("embedded-opentype"),url(/bibliotecatelco/static/css/fonts/helveticaneuelt-webfont.woff) format("woff"),url(/bibliotecatelco/static/css/fonts/helveticaneuelt-webfont.ttf) format("truetype"),url(/bibliotecatelco/static/css/fonts/helveticaneuelt-webfont.svg#svgFontName) format("svg");}
	@font-face{font-family:'oH_HelvNeue35';			src:url(/bibliotecatelco/static/css/fonts/HelvNeue35.eot);src:url(/bibliotecatelco/static/css/fonts/HelvNeue35.eot?#iefix) format('embedded-opentype'),url(/bibliotecatelco/static/css/fonts/HelvNeue35.woff) format('woff');font-style:normal;}
	@font-face{font-family:'oH_HelvNeue45';			src:url(/bibliotecatelco/static/css/fonts/HelvNeue45.eot);src:url(/bibliotecatelco/static/css/fonts/HelvNeue45.eot?#iefix) format('embedded-opentype'),url(/bibliotecatelco/static/css/fonts/HelvNeue45.woff) format('woff');font-style:normal;}
	@font-face{font-family:'oH_HelvNeue55';			src:url(/bibliotecatelco/static/css/fonts/HelvNeue55.eot);src:url(/bibliotecatelco/static/css/fonts/HelvNeue55.eot?#iefix) format('embedded-opentype'),url(/bibliotecatelco/static/css/fonts/HelvNeue55.woff) format('woff');font-style:normal;}
	@font-face{font-family:'oH_HelvNeue65';			src:url(/bibliotecatelco/static/css/fonts/HelvNeue65.eot);src:url(/bibliotecatelco/static/css/fonts/HelvNeue65.eot?#iefix) format('embedded-opentype'),url(/bibliotecatelco/static/css/fonts/HelvNeue65.woff) format('woff');font-style:normal;}
	@font-face{font-family:'oH_HelvNeue75';			src:url(/bibliotecatelco/static/css/fonts/HelvNeue75.eot);src:url(/bibliotecatelco/static/css/fonts/HelvNeue75.eot?#iefix) format('embedded-opentype'),url(/bibliotecatelco/static/css/fonts/HelvNeue75.woff) format('woff');font-style:normal;}

/* END Helvetica Fonts */



/* Helvetica Family */


	@font-face{
		font-family:'helveticaFamily';
		src:local('helveticaFamily Light'), local('helveticaFamily-Light'), url(/bibliotecatelco/static/css/fonts/HelvNeue35.eot);
		src:local('helveticaFamily Light'), local('helveticaFamily-Light'), url(/bibliotecatelco/static/css/fonts/HelvNeue35.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/HelvNeue35.woff) format('woff');
		font-style:normal;
		font-weight: 300;
	}
	@font-face{
		font-family:'helveticaFamily';
		src:local('helveticaFamily Semibold'), local('helveticaFamily-Semibold'), url(/bibliotecatelco/static/css/fonts/HelvNeue65.eot);
		src:local('helveticaFamily Semibold'), local('helveticaFamily-Semibold'), url(/bibliotecatelco/static/css/fonts/HelvNeue65.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/HelvNeue65.woff) format('woff');
		font-style:normal;
		font-weight: 600;
		font-weight: bold;
	}

	@font-face{
		font-family:'helveticaFamily';
		src:local('helveticaFamily Bold'), local('helveticaFamily-Bold'), url(/bibliotecatelco/static/css/fonts/HelvNeue75.eot);
		src:local('helveticaFamily Bold'), local('helveticaFamily-Bold'), url(/bibliotecatelco/static/css/fonts/HelvNeue75.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/HelvNeue75.woff) format('woff');
		font-style:normal;
		font-weight: 700;
	}
	@font-face{
		font-family:'helveticaFamily';
		src:local('helveticaFamily'), local('helveticaFamily'), url(/bibliotecatelco/static/css/fonts/HelvNeue45.eot);
		src:local('helveticaFamily'), local('helveticaFamily'), url(/bibliotecatelco/static/css/fonts/HelvNeue45.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/HelvNeue45.woff) format('woff');
		font-style:normal;
		font-weight: normal;
	}


/* END Helvetica Family */



/* ORANGE SANS */


	@font-face{
		font-family:'OrangeSansFamily';
		src:local('OrangeSansFamily Thin'), local('OrangeSansFamily-Thin'), url(/bibliotecatelco/static/css/fonts/orangesans35-webfont.eot);
		src:local('OrangeSansFamily Thin'), local('OrangeSansFamily-Thin'), url(/bibliotecatelco/static/css/fonts/orangesans35-webfont.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/orangesans35-webfont.woff) format('woff');
		font-style:normal;
		font-weight: 200;
	}
	@font-face{
		font-family:'OrangeSansFamily';
		src:local('OrangeSansFamily Light'), local('OrangeSansFamily-Light'), url(/bibliotecatelco/static/css/fonts/orangesans45-webfont.eot);
		src:local('OrangeSansFamily Light'), local('OrangeSansFamily-Light'), url(/bibliotecatelco/static/css/fonts/orangesans45-webfont.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/orangesans45-webfont.woff) format('woff');
		font-style:normal;
		font-weight: 300;
	}
	@font-face{
		font-family:'OrangeSansFamily';
		src:local('OrangeSansFamily Roman'), local('OrangeSansFamily-Roman'), url(/bibliotecatelco/static/css/fonts/orangesans55-webfont.eot);
		src:local('OrangeSansFamily Roman'), local('OrangeSansFamily-Roman'), url(/bibliotecatelco/static/css/fonts/orangesans55-webfont.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/orangesans55-webfont.woff) format('woff');
		font-style:normal;
		font-weight: 400;
		font-weight: normal;
	}
	@font-face{
		font-family:'OrangeSansFamily';
		src:local('OrangeSansFamily Medium'), local('OrangeSansFamily-Medium'), url(/bibliotecatelco/static/css/fonts/orangesans65-webfont.eot);
		src:local('OrangeSansFamily Medium'), local('OrangeSansFamily-Medium'), url(/bibliotecatelco/static/css/fonts/orangesans65-webfont.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/orangesans65-webfont.woff) format('woff');
		font-style:normal;
		font-weight: 600;
	}
	@font-face{
		font-family:'OrangeSansFamily';
		src:local('OrangeSansFamily Bold'), local('OrangeSansFamily-Bold'), url(/bibliotecatelco/static/css/fonts/orangesans75-webfont.eot);
		src:local('OrangeSansFamily Bold'), local('OrangeSansFamily-Bold'), url(/bibliotecatelco/static/css/fonts/orangesans75-webfont.eot?#iefix) format('embedded-opentype'),
			url(/bibliotecatelco/static/css/fonts/orangesans75-webfont.woff) format('woff');
		font-style:normal;
		font-weight: 700;
		font-weight: bold;
	}


/* END ORANGE SANS */



