/*	Global Footer
============================== */

div.dummy {
	text-align:center;
	height:2000px;
	background-color:#eaeaea;
}
div.dummy p {
	padding-top:10em;
	line-height:1.25;
}

/*	reset	*/

html {
/*	font-size: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	*/
}
body {
	line-height:1;
	font-size:100%;
	background-color:#eaeaea;
}
body,h1,h2,h3,footer,ul,li,p {
	padding:0;
	margin:0;
}

/*	layout	*/

footer.global-footer {
	font-family:Verdana,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
	background-color:#002e53;
}
footer.global-footer h2 {
	display:none;
}

footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon {
	text-align:left;
	white-space:nowrap;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon a {
	line-height:30px;
	height:30px;
	color:#727272;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon a:before {
	content: "";
	display:block;
	width:30px;
	height:30px;
	background-image:url(../img/gf_sns.png);
	background-repeat:no-repeat;
	background-size:cover;
	float:left;
	margin-right:12px;
	border-radius:5px;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-fb a:before {
	background-position:left top;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-tw a:before {
	background-position:0 -30px;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-yt a:before {
	background-position:0 -60px;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-ln a:before {
	background-position:0 -90px;
}
footer.global-footer div.gf-sns-media div.gf-unit ul li.gf-snslist a {
	font-size:87.5%;
	font-weight:bold;
	border-radius:16px;
	color:#0073cf;
	line-height:29px;
	height:29px;
}
footer.global-footer div.gf-sns-media div.gf-unit ul li.gf-snslist a:before {
	content: "";
	display:block;
	width:19px;
	height:19px;
	background-image:url(../img/gf_parts.svg);
	background-position:-1px -61px;
	background-repeat:no-repeat;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:8px;
	border-radius:50%;
}
footer.global-footer div.gf-sns-media div.gf-media ul li a {
	font-size:2px;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	background-image:url(../img/gf_logos.png);
	background-repeat:no-repeat;
	background-size:167px 250px;
	margin:0 auto;
}


/*	980 - 768
=================================== */

@media all and (min-width: 768px) {

div#con-body {
	position:relative;
}

footer.global-footer {
	min-width:980px;
	position:relative;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 1px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 1px;
	-ms-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 1px;
	-o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 1px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 1px;
	margin-bottom:20px;
}

footer.global-footer div.gf-sns-media {
	background-color:#fff;
	padding:20px 0 25px;
}
footer.global-footer div.gf-sns-media div.gf-unit {
	position:relative;
	width:980px;
	background-image: url(../img/gf_dotline.png);
	background-position:left bottom;
	background-repeat:repeat-x;
	padding-bottom:1px;
	margin:0 auto;
}
footer.global-footer div.gf-sns-media div.gf-sns {
	padding-bottom:20px;
}
footer.global-footer div.gf-sns-media div.gf-unit h3 {
	color:#4e4e4e;
	position:absolute;
	left:0;
	top:0;
	font-size:87.5%;
	padding-left:15px;
}
footer.global-footer div.gf-sns-media div.gf-sns h3 {
	line-height:30px;
	height:30px;
}
footer.global-footer div.gf-sns-media div.gf-media h3 {
	line-height:44px;
	height:44px;
}
footer.global-footer div.gf-sns-media div.gf-unit ul {
	display:table;
}
footer.global-footer div.gf-sns-media div.gf-media ul {
	width:86%;
	margin-left:14%;
}
footer.global-footer div.gf-sns-media div.gf-sns ul {
	width:73%;
	margin-left:27%;
}
footer.global-footer div.gf-sns-media div.gf-unit ul li {
	display:table-cell;
	vertical-align:middle;
}
footer.global-footer div.gf-sns-media div.gf-media ul li {
	background-image: url(../img/gf_dotline.png);
	background-position:right top;
	background-repeat:no-repeat;
}
footer.global-footer div.gf-sns-media div.gf-media ul li:last-child {
	background-image:none;
}
footer.global-footer div.gf-sns-media div.gf-unit ul li a {
	display:block;
	text-decoration:none;
}

footer.global-footer div.gf-sns-media div.gf-media ul li a {
	height:44px;
}
footer.global-footer div.gf-sns-media div.gf-media ul li.gf-radio a {
	width:117px;
	background-position:15px 0;
}
footer.global-footer div.gf-sns-media div.gf-media ul li.gf-bs a {
	width:122px;
	background-position:5px -50px;
}
footer.global-footer div.gf-sns-media div.gf-media ul li.gf-tbsch a {
	width:137px;
	background-position:5px -100px;
}
footer.global-footer div.gf-sns-media div.gf-media ul li.gf-bird a {
	width:167px;
	background-position:0 -150px;
}
footer.global-footer div.gf-sns-media div.gf-media ul li.gf-onde a {
	width:146px;
	background-position:0 -200px;
}

footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon a {
	letter-spacing:1px;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon a:after {
	content:"　";
}
footer.global-footer div.gf-sns-media div.gf-sns ul li.gf-icon a:hover {
	color:#333;
}
footer.global-footer div.gf-sns-media div.gf-unit ul li.gf-snslist a:hover {
	background-color:#b2d6f4;
}

footer.global-footer div.gf-inner {
	width:980px;
	margin:0 auto;
	padding:20px 0;
}
footer.global-footer div.gf-inner:after {
	content: "";
	clear: both;
	display: block;
}
footer.global-footer div.gf-bxline {
	border-top:2px dotted #177bd6;
	background-color:#036;
	border-bottom:2px dotted #177bd6;
}

footer.global-footer div.gf-inner div.gf-unit {
	width:24.5%;
	float:left;
}
footer.global-footer div.gf-inner ul {
	list-style-type:none;
}
footer.global-footer div.gf-inner div.gf-unit h3, footer.global-footer div.gf-inner div.gf-unit ul li {
	line-height:1.75;
	padding-left:15px;
}
footer.global-footer div.gf-inner div.gf-unit h3 {
	color:#99ccea;
	font-size:87.5%;
}
footer.global-footer div.gf-inner div.gf-unit ul li {
	font-size:83%;
}
footer.global-footer div.gf-inner div.gf-unit ul li a {
	text-decoration:none;
	color:#cce3f4;
}
footer.global-footer div.gf-inner div.gf-unit ul li a:hover {
	text-decoration:underline;
}
.pc-mgb2em {
	margin-bottom:2em;
}

footer.global-footer div.gf-bxline div.gf-inner h3, footer.global-footer div.gf-bxline div.gf-inner ul li {
	line-height:2;
}
footer.global-footer div.gf-bxline div.gf-inner h3 {
	font-size:87.5%;
}
footer.global-footer div.gf-bxline div.gf-inner ul li {
	font-size:83%;
}
footer.global-footer div.gf-bxline div.gf-inner ul li a {
	text-decoration:none;
	color:#cce3f4;
}

footer.global-footer div.gf-inner div.gf-company {
	float:left;
	width:73.5%;
}
footer.global-footer div.gf-inner div.gf-company ul {
	float:left;
	width:33.3%;
}

footer.global-footer div.gf-rights {
	text-align:center;
}
footer.global-footer div.gf-rights li {
	display:inline-block;
	padding-right:1.2em;
}
footer.global-footer div.gf-rights li a {
	color:#cce3f4;
	display:inline-block;
	text-decoration:none;
	font-size:75%;
	line-height:17px;
	height:17px;
}
footer.global-footer div.gf-rights li:before {
	content: "";
	float:left;
	display:block;
	width:17px;
	height:17px;
	margin-right:3px;
	background-image:url(../img/gf_parts.svg);
	background-position:0 -100px;
	background-repeat:no-repeat;
}
footer.global-footer div.gf-rights li a:hover {
	text-decoration:underline;
}


/* smp*/
footer.global-footer div.smp-service {
	background-color:#eaeaea;
}
footer.global-footer div.smp-service h3 {
	line-height:1.75;
	padding-left:15px;
	color:#4e4e4e;
	font-size:87.5%;
	margin-bottom:0.25em;
}
footer.global-footer div.smp-service ul {
	display:table;
	margin-left:15px;
}
footer.global-footer div.smp-service ul li {
	display:table-cell;
	/*text-align:center;*/
	/*padding-right:1.5em;*/
	padding-right:0.5em;
}
footer.global-footer div.smp-service ul li:last-child {
	padding-right:0;
}
footer.global-footer div.smp-service ul li a {
	display:block;
	font-size:83%;
	color:#0073cf;
	text-decoration:none;
	height:29px;
	line-height:29px;
}
footer.global-footer div.smp-service ul li a:before {
	content: "";
	display:block;
	width:15px;
	height:15px;
	float:left;
	background-image:url(../img/gf_parts.svg);
	background-position:-1px -121px;
	background-repeat:no-repeat;
	margin-top:7px;
	margin-right:5px;
}

}


/*	320 - 767
=================================== */

@media all and (max-width: 767px) {

footer.global-footer {
	margin-bottom:15px;
}
footer.global-footer div.gf-sns-media {
	padding-top:8px;
}
footer.global-footer div.roundBox {
	border-radius:10px;
	border:2px solid #0073cf;
	padding:0 12px;
	margin:0 8px 6px;
	background-color:#fff;
}
footer.global-footer div.roundBox h3 {
	background-image:url(../img/gf_parts.svg);
	background-position:right top;
	background-repeat:no-repeat;
	cursor: pointer;
	font-size:100%;
	line-height:45px;
	height:45px;
	color:#0066b8;
}

footer.global-footer div.roundBox ul {
	list-style-type:none;
}

footer.global-footer div.gf-inner div.roundBox ul.gf-smp-lines, footer.global-footer div.gf-inner div.roundBox ul li {
	border-bottom:1px solid #c2e0fa;
}
footer.global-footer div.gf-inner div.roundBox ul li:last-child {
	border-bottom:none;
}
footer.global-footer ul li a {
	display:block;
	text-decoration:none;
	color:#0073cf;
}
footer.global-footer div.gf-inner div.roundBox ul li a {
	display:block;
	text-decoration:none;
	background-image:url(../img/gf_parts.svg);
	background-repeat:no-repeat;
	background-position:right center;
	line-height:41px;
	height:41px;
	font-size:87.5%;
	color:#0073cf;
}
footer.global-footer div.roundBox .hidebox {
	display:block;
	border-top:2px dotted #b2d6f4;
	padding:10px 0;
}
footer.global-footer div.gf-rights {
	margin-top:10px;
	background-color:#b2d6f4;
	padding:10px 0;
}
footer.global-footer div.gf-rights:after {
	content: "";
	clear: both;
	display: block;
}
footer.global-footer div.gf-rights ul {
	list-style-type:none;
	display:block;
	max-width:306px;
	margin:0 auto;
}
footer.global-footer div.gf-rights ul li {
	float:left;
	border:1px solid transparent;
	/* パディングとボーダーを幅と高さに含める */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	/* Android2.x */
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/**/
}
footer.global-footer div.gf-rights ul li:nth-child(odd) {
	width:46%;
}
footer.global-footer div.gf-rights ul li:nth-child(even) {
	width:54%;
}
footer.global-footer div.gf-rights ul li:last-child {
	width:100%;
}
footer.global-footer div.gf-rights ul li a {
	background-color:#fff;
	line-height:39px;
	height:39px;
	font-size:75%;
	padding-left:8px;
}
footer.global-footer div.gf-rights ul li a:before {
	content: "";
	display:block;
	width:15px;
	height:15px;
	float:left;
	background-image:url(../img/gf_parts.svg);
	background-position:-1px -121px;
	background-repeat:no-repeat;
	margin-top:11px;
	margin-right:4px;
}

footer.global-footer div.gf-sns-media div.hidebox ul {
	max-width:274px;
	margin:0 auto;
}
footer.global-footer div.gf-sns-media div.hidebox ul:after {
	content: "";
	clear: both;
	display: block;
}

footer.global-footer div.gf-sns-media div.gf-sns ul li {
	float:left;
	padding-bottom:10px;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li:nth-child(odd) {
	width:55%;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li:nth-child(even) {
	width:45%;
}
footer.global-footer div.gf-sns-media div.gf-sns ul li:last-child {
	width:99.9%;
}

footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul {
	width:274px;
	height:105px;
	position:relative;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li {
	position:absolute;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-radio {
	left:1px;
	top:0;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-bs {
	left:0;
	top:44px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-tbsch {
	left:0;
	top:81px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-bird {
	left:107px;
	top:0;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-onde {
	left:128px;
	top:44px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li a {
	display:block;
	font-size:2px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-radio a {
	width:87px;
	height:21px;
	background-position:0 -10px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-bs a {
	width:122px;
	height:18px;
	background-position:0 -63px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-tbsch a {
	width:127px;
	height:22px;
	background-position:0 -111px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-bird a {
	width:167px;
	height:22px;
	background-position:0 -161px;
}
footer.global-footer div.gf-sns-media div.gf-media div.hidebox ul li.gf-onde a {
	width:146px;
	height:18px;
	background-position:0 -213px;
}

footer.global-footer .hidebox {
	overflow:hidden;
}

}

/*	page top
============================== */

p.pgt a {
	display:block;
	text-decoration:none;
}
@media all and (min-width: 768px) {
	p.pgt {
		position:absolute;
		right:20px;
		/*bottom:-9px;*/
		bottom:0;
	}
	p.pgt a {
		background-image:url(../img/gf_pagetop.png);
		background-position:left top;
		background-repeat:no-repeat;
		background-size:cover;
		width:152px;
		height:102px;
		font-size:2px;
		text-indent: 110%;
		white-space: nowrap;
		overflow: hidden;
	}
}
@media all and (max-width: 767px) {
	p.pgt {
		text-align:center;
	}
	p.pgt a {
		font-weight:bold;
		color:#fff;
		background-color:#0073cf;
		line-height:49px;
		height:49px;
	}
	p.pgt a span {
		display:inline-block;
		height:49px;
		background-image:url(../img/gf_parts.svg);
		background-position:0 -216px;
		background-repeat:no-repeat;
		padding-left:28px;
	}
}

@media all and (min-width: 768px) {
	p.pgt {
		/*top:-93px;*/
		/*bottom:-9px;*/
		bottom:0;
	}
}

/*	copyright
============================== */

p.copyright {
	color:#4e4e4e;
	text-align:center;
	line-height:1.25;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: 100%;
}
p.copyright a {
	color:#177bd6;
	text-decoration:underline;
}
@media all and (min-width: 768px) {
	p.copyright {
		width:980px;
		margin:20px auto 0;
		padding-bottom:30px;
		font-size:83%;
	}
	p.copyright a:hover {
		text-decoration:none;
	}
}
@media all and (max-width: 767px) {
	p.copyright {
		margin-top:20px;
		padding:0 15px 30px;
		font-size:75%;
	}
}