/* ===========================================
	TBS Responsive Global Header
=========================================== */

/*	reset
=================================== */

html {
	overflow-y: scroll;
}
body {
	padding:0;
	margin:0;
}

/*	common
=================================== */

/*	GH common
============================== */

div.global-header {
	position:relative;
	background-repeat:repeat-x;
	border-bottom:2px solid #c2c2c2 !important;
	background-color:#eaeaea;
}
div.global-header h1 {
	display:none;
}
div.global-header nav,
div.global-header ul,
div.global-header li,
div.global-header p {
	margin: 0;
	padding: 0;
	line-height:1;
	letter-spacing:0;
}
div.global-header ul {
	list-style-type: none;
}

/* causion */
div.gh-caution p {
	line-height:1.5;
	text-align:center;
	background-color:#ffe000;
	padding: 12px 0;
	margin-bottom:12px;
}
div.gh-caution p b, div.gh-caution p strong {
	font-style:normal;
	font-weight:bold;
	color:#c00;
}

/* banner */
div.global-header div.gh-super {
	text-align:left;
	margin:0 auto;
}

/* tbs tv side */
div.global-header div.gh-tbs ul li {
	display:block;
	position:absolute;
}
div.global-header div.gh-tbs ul li a {
	display:block;
	background-repeat:no-repeat;
	text-indent:110%;
	white-space:nowrap;
	overflow:hidden;
}

div.global-header {
	text-align:center;
}

/* tbs tv side */
div.global-header div.gh-tbs ul li a {
	background-image:url(/um/v7/img/gh_parts.svg);
}

/* causion */
div.gh-caution p {
	font-size:83%;
}

/*	GH Side Menu
=================================== */

div.gh-sidemenu {
	display:none;
	font-family:Verdana,Roboto,"Droid Sans","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
	text-align:left;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	background-color: #003866;
	padding:0;
	margin:0;
}
div.gh-sidemenu nav,
div.gh-sidemenu ul,
div.gh-sidemenu li,
div.gh-sidemenu p {
	margin: 0;
	padding: 0;
	line-height:1;
	text-align:left;
}
div.gh-sidemenu p.sm-title {
	font-size:87.5%;
	line-height:18px;
	font-weight:bold;
	color:#fff;
	background-color: #0473cf;
	padding: 10px;
}
div.gh-sidemenu ul {
	list-style-type: none;
	border-bottom: 6px solid #0473cf;
}
div.gh-sidemenu ul li {
	border-bottom: 2px solid #003866;
}
div.gh-sidemenu ul li:last-child {
	border-bottom: none;
}
div.gh-sidemenu ul li a {
	font-size:87.5%;
	text-align:left;
	font-weight:normal;
	line-height:18px;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #cce3f5;
	background-color: #005090;
	border:none;
}
div.gh-sidemenu ul li a:after {
	content: "";
	display:block;
	width:18px;
	height:18px;
	background-image:url(../img/gh_parts.svg);
	background-repeat:no-repeat;
	background-position:-260px -100px;
	float:right;
}
div.gh-sidemenu div.sm-search {
	padding:10px;
}
div.gh-sidemenu div.sm-search form:after {
	content: "";
	display:block;
	clear:both;
}
div.gh-sidemenu div.sm-search form {
	display: block;
	padding:0;
	margin:0;
}
div.gh-sidemenu div.sm-search form input,
div.gh-sidemenu div.sm-search form button {
	display: block;
	font-size:100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border: none;
	padding:0;
	margin:0;
}
div.gh-sidemenu div.sm-search form input {
	font-size:16px;
	height:24px;
	line-height:24px;
	background-color:#fff;
	width: 70%;
	float:left;
	padding:4px 4px 4px 8px;
	border-radius: 8px 0 0 8px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}
div.gh-sidemenu div.sm-search form input:focus {
	outline: 0;
}
div.gh-sidemenu div.sm-search form button {
	width:40px;
	height:32px;
	cursor: pointer;
	background-image:url(../img/gh_parts.svg);
	background-repeat:no-repeat;
	background-position:-258px -50px;
	background-color:#ffe000;
	float:left;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 0 8px 8px 0;
}


div.jack {
	padding: 0 10px 20px;
}
div.jack p {
	text-align:center;
}
div.jack p a {
	display:block;
	color:#d6ffb2;
	background-color:#9c6;
	text-decoration:none;
	font-size:83%;
	line-height:1.5;
	padding:10px 0;
}

div#con-wrap {
	min-width:320px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}
#con-body {
	background-color:#ededed;
}


/*	768 - 980
=================================== */

@media all and (min-width: 768px) {

div#con-wrap, div#con-body {
	min-width:980px;
}

/*	GH 980px
============================== */

div.global-header {
	letter-spacing:0;
	min-width: 980px;
}
div.global-header div.gh-super {
	width:980px;
}
div.global-header div.gh-super:before {
	content: "";
	display:block;
	float:left;
	width:126px;
	height:1px;
}
div.global-header div.gh-navi {
	width:980px;
}
div.global-header div.gh-menu ul.gh-main li a span {
	font-size:87.5%;
	padding:0 12px;
}
div.global-header div.gh-menu ul.gh-sub li a span {
	font-size:83%;
	padding:0 12px;
}
div.global-header div.gh-menu p.gh-search-btn a {
	letter-spacing:0.75em;
	font-size:83%;
}

/*	GH PC header
============================== */

div.global-header,
div.global-header ul li,
div.global-header p.gh-search-btn {
	font-family:Verdana,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
	font-size:16px !important;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: 100%;
}

/* causion */
div.gh-caution p {
	font-size:87.5%;
}

div.global-header {
	text-align:left;
	background-image:url(/um/v7/img/gh_bg_pc.svg);
}

/* banner */
div.global-header div.gh-super {
	padding-bottom:12px;
}
div.global-header div.gh-super img {
	display:inline;
}
div.global-header div.gh-super span {
	display:inline;
}

/* tbs tv side */
div.global-header div.gh-tbs {
	position:absolute;
	background-image:url(/um/v7/img/gh_parts.svg);
	background-repeat:no-repeat;
	background-position:left top;
	width:150px;
	height:75px;
}
div.global-header div.gh-tbs ul {
	display:block;
	background-image:url(/um/v7/img/gh_boobo.png);
	background-repeat:no-repeat;
	background-size:150px;
	background-position:0 36px;
	width:150px;
	height:75px;
}
div.global-header div.gh-tbs ul li.gh-home {
	left:30px;
	top:8px;
}
div.global-header div.gh-tbs ul li.gh-program {
	left:32px;
	top:40px;
}
div.global-header div.gh-tbs ul li.gh-home a {
	background-position:-170px 0;
	width: 90px;
	height: 26px;
}
div.global-header div.gh-tbs ul li.gh-program a {
	background-image: none;
	width: 86px;
	height: 25px;
}
div.global-header div.gh-tbs ul li.gh-side {
	display:none;
}

/* di2 only PC */
div.global-header div.gh-navi {
	height:76px;
	margin:0 auto;
}

/* di2 */
div.global-header div.gh-menu {
	position:relative;
	margin-left:150px;
}
div.global-header div.gh-menu ul.gh-main, div.global-header div.gh-menu ul.gh-sub {
	display:table;
	border-collapse: collapse;
	/* border-spacing: 0; */
}
div.global-header div.gh-menu ul.gh-main {
	width:100%;
}
div.global-header div.gh-menu ul.gh-sub {
	width:59%;
	margin-left:41%;
}
div.global-header div.gh-menu ul li {
	display:table-cell;
	vertical-align:middle;
	white-space:nowrap;
	}
div.global-header div.gh-menu ul.gh-main li {
	border-bottom:1px solid transparent;
}
div.global-header div.gh-menu ul li a {
	display:block;
	text-align:center;
	color:#222;
	text-decoration:none;
	}
div.global-header div.gh-menu ul li a:hover {
	/*font-weight:bold;*/
	color:#000;
}
div.global-header div.gh-menu ul.gh-main li a span {
	font-weight:bold;
	line-height:40px;
}
div.global-header div.gh-menu ul.gh-sub li a span {
	color:#fff;
	line-height:18px;
}
div.global-header div.gh-menu ul.gh-main li a:hover {
	background-color:#bfdcf3;
}
div.global-header div.gh-menu ul.gh-sub li a:hover,
div.global-header div.gh-menu p.gh-search-btn a:hover {
	background-color:#00569b;
}
div.global-header div.gh-menu ul.gh-main li a:before,
div.global-header div.gh-menu ul.gh-sub li a:before {
	content: "";
	display:block;
	float:left;
	margin-left: -1px;
	}
div.global-header div.gh-menu ul.gh-main li a:before {
	height:20px;
	margin-top:10px;
	border-left: 2px solid #80b9e7;
	}
div.global-header div.gh-menu ul.gh-sub li a:before {
	height:14px;
	margin-top:2px;
	border-left: 2px solid #80b9e7;
}
div.global-header div.gh-menu ul.gh-main li:first-child a:before,
div.global-header div.gh-menu ul.gh-sub li:first-child a:before {
	border-left:none;
}
div.global-header div.gh-menu ul.gh-main li a span,
div.global-header div.gh-menu ul.gh-sub li a span {
	display:inline-block;
}

/* search button */
div.global-header div.gh-menu p.gh-search-btn {
	position:absolute;
	left:0;
	top:41px;
}
div.global-header div.gh-menu p.gh-search-btn a {
	display:block;
	color:#fff;
	font-size:83%;
	text-decoration:none;
	line-height:18px;
	line-height:19px;	/* for IE9 */
	letter-spacing:0.75em;
	padding:0 15px;
}
div.global-header div.gh-menu p.gh-search-btn a:before {
	content: "";
	display:block;
	float:left;
	width:18px;
	height:18px;
	margin-right:10px;
	background-image:url(/um/v7/img/gh_parts.svg);
	background-position:0 -90px;
	background-repeat:no-repeat;
}
/*	GH PC search box
============================== */

div.gh-searchbox {
	display:none;
	position: absolute;
	left: 6px;
	bottom: 0;
}
div.gh-searchbox form {
	display: block;
	float: left;
	width: 290px;
	height: 42px;
	background-color: #fff;
	background-image: url(/um/v7/img/gh_parts.svg);
	background-position: 8px -200px;
	background-repeat: no-repeat;
	border: solid 2px #0073cf;
	padding:5px 5px 5px 35px;
	border-radius: 22px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-moz-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-ms-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-o-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
div.gh-searchbox form input {
	vertical-align: middle;
	box-shadow: none;
	border: none;
	font-size: 87.5%;
	line-height:28px;
	width: 170px;
	height: 28px;
	display: inline-block;
	/* */
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	/* */
	margin: 0;
	padding: 0;
}
div.gh-searchbox form input:focus {
	outline: 0;
}
div.gh-searchbox form button {
	display: block;
	float:right;
	color:#181818;
	background-color: #ffe000;
	font-size: 100%;
	/* letter-spacing:0.2em; */
	line-height: 1;
	text-align: center;
	font-weight: bold;
	width: 60px;
	height: 28px;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	margin:0;
	padding:0;
}
div.gh-searchbox a.gh-search-close {
	display: block;
	float: left;
	width: 38px;
	height: 38px;
	text-indent:110%;
	white-space:nowrap;
	overflow:hidden;
	background-color: #fff;
	border: solid 2px #0073cf;
	margin-left: 1px;
	background-image: url(/um/v7/img/gh_parts.svg);
	background-position: -71px -81px;
	background-repeat: no-repeat;
	border-radius: 22px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-moz-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-ms-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-o-box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	box-shadow: rgba(0,0,0,0.7) 0px 0px 5px 1px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

}


/*	320 - 767
=================================== */

@media all and (max-width: 767px) {

/*	GH smp
=================================== */

div.global-header {
	text-align:left;
	background-image:url(../img/gh_bg_smp.png);
	background-color:#ededed;
	/* background-color:#fff; */
	border-bottom:5px solid #0073cf !important;
}
/* banner */
div.global-header div.gh-super {
	width:320px;
/*
	height:50px;
*/
	overflow:hidden;
	padding-top:8px;
	padding-bottom:8px;
	position:relative;
}
div.global-header div.gh-super img {
	display:block;
}
/* causion */
div.gh-caution p {
	font-size:75%;
}

/* tbs tv side */
div.global-header nav, div.global-header div.gh-tbs {
	height:57px;
	/* margin-bottom:8px; */
}
div.global-header div.gh-tbs ul li {
	top:0;
	/* z-index: 800; */
}
div.global-header div.gh-tbs ul li.gh-home {
	left:50%;
	margin-left:-46px;
}
div.global-header div.gh-tbs ul li.gh-program {
	right: 5px;
	top: 5px;
}
div.global-header div.gh-tbs ul li.gh-side {
	left: 5px;
	top: 5px;
}
div.global-header div.gh-tbs ul li a {
	background-image:url(/um/v7/img/gh_parts.svg);
	background-repeat:no-repeat;
}
div.global-header div.gh-tbs ul li.gh-home a {
	background-position:-169px 16px;
	width:92px;
	height:52px;
}
div.global-header div.gh-tbs ul li.gh-program a, div.global-header div.gh-tbs ul li.gh-side a {
	border-radius:8px;
	width:60px;
	height:47px;
	background-color:#ffe000;
}
div.global-header div.gh-tbs ul li.gh-program a {
	background-position:-170px -100px;
}
div.global-header div.gh-tbs ul li.gh-side a {
	position:relative;
	background-position:-170px -50px;
}


/* case Responsive */
div.global-header div.gh-menu {
	display:none;
}

}

/*	MediaQuery for JS
============================== */

div#checker {display:none;}
@media all and (max-width: 0) {
div#checker {width:0;}
}
@media all and (min-width: 1px) and (max-width: 319px) {
div#checker {width:1px;}
}
@media all and (min-width: 320px) and (max-width: 479px) {
div#checker {width:2px;}
}
@media all and (min-width: 480px) and (max-width: 639px) {
div#checker {width:2px;}
}
@media all and (min-width: 640px) and (max-width: 767px) {
div#checker {width:2px;}
}
@media all and (min-width: 768px) and (max-width: 979px) {
div#checker {width:3px;}
}
@media all and (min-width: 980px) {
div#checker {width:4px;}
}
@media all and (orientation: portrait) {
div#checker {height:1px;}
}
@media all and (orientation: landscape) {
div#checker {height:2px;}
}