/* ===========================================
	TBS top
=========================================== */

body.idx a {
	outline-style:none;
}

h1.tbsh1 {
	display:none;
}

div.info-rig aside div.recta {
	width:300px;
	height:250px;
	overflow:hidden;
}

div.info ul {
	list-style-type:none;
}
div.info div.info-lef section.wnew ul li {
	display: block;
	border-bottom:1px solid #ccc;
}
div.info div.info-lef section.wnew ul li a {
	display: block;
	color:#0073cf;
	text-decoration: none;
}
div.info div.info-lef section.wnew ul li a dl {
	line-height:1.6;
	padding-left:16px;
	padding-right:16px;
	border-left:8px solid #fc0;
}
div.info div.info-lef section.wnew ul li a dl dt {
	font-size:75%;
	-webkit-text-size-adjust:100%;
	color:#4d9ddd;
	padding-top:8px;
	padding-bottom:1px;
}
div.info div.info-lef section.wnew ul li a dl dd {
	font-size:83%;
	-webkit-text-size-adjust:100%;
	padding-bottom:8px;
}
div.info div.info-lef section.wnew ul li.level2 time, div.info div.info-lef section.wnew ul li.level1 time {
	display: none;
}
div.info div.info-lef section.wnew ul li.level2 a, div.info div.info-lef section.wnew ul li.level1 a {
	font-weight:bold;
}
div.info div.info-lef section.wnew ul li.level2 a {
	color:#c00;
}
div.info div.info-lef section.wnew ul li.level2 a dl {
	border-left:8px solid #c00;
}
div.info div.info-lef section.wnew ul li.bg-red {
	background-color:#ffcce0 !important;
	border-bottom:1px solid #ededed;
}
div.info div.info-lef section.wnew ul li.bg-yellow {
	background-color:#fff4e0 !important;
}
div.info div.info-lef section.wnew ul li:nth-child(odd) {
	background-color:#f4f4f4;
}

div.info div.info-lef section.hot div.hot-img a {
	display:block;
	background-image:url(../img/idx_hot_default.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#4d9ddd;
	border:1px solid #4d9ddd;
}

div.info div.info-lef section.hot div.hot-img a img {
	display:block;
	width:260px;
	height:173px;
}
div.info div.info-lef section.hot ul li dl dt {
	color:#4d9ddd;
	font-size:75%;
	line-height:1.5;
}
div.info div.info-lef section.hot ul li.hot-main dl dt {
	/*color:#f083a3;*/
}
div.info div.info-lef section.hot ul li dl dd {
	font-size:87.5%;
	line-height:1.5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom:0.5em;
}
div.info div.info-lef section.hot ul li.hot-main dl dd {
	white-space: normal;
	height:3em;
}
div.info div.info-lef section.hot ul li p {
	font-size:83%;
	line-height:1.5;
}
div.info div.info-lef section.hot ul li p.hot-txt {
	color:#7b7b7b;
	color:#000;
	height:3em;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.info div.info-lef section.hot ul li p.btn-continue {
	text-align:right;
}
div.info div.info-lef section.hot ul li p.btn-continue a {
	color:#f93;
	text-decoration:none;
}
div.info div.info-lef section.hot ul li dl dt a, div.info div.info-lef section.hot ul li dl dd a {
	font-weight:bold;
	color:#0073cf;
	text-decoration: none;
}
div.info div.info-lef section.hot ul li.hot-main dl dd a {
	/*color:#ea4e7b;*/
}
div.info div.info-lef section.hot ul li.btn a {
	display:block;
	height:40px;
	line-height:40px;
	border-radius:12px;
	color:#333;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#ffec66;
	background-image:-moz-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#ffe000),to(#ffe000));
	background-image:-ms-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:linear-gradient(transparent 50%, #ffe000 50%);
}


@media all and (min-width: 768px) {

section.wnew h2:before,
section.hot h2:before,
div.pickup h2:before,
div.newsi h2:before {
	background-image:url(../img/idx_icons.svg);
	background-repeat:no-repeat;
	background-position:left top;
	background-color:#0073cf;
	border-radius:8px;
}
section.wnew h2:before {
	background-position:0 -50px;
}
section.hot h2:before {
	background-position:0 -100px;
}
div.pickup h2:before {
	background-position:left top;
	background-color:#fff;
}
div.newsi h2:before {
	background-position:0 -150px;
}

div.main {
	background-color:#0073cf;
	background-image:url(../img/idx_pc_bg.svg);
	padding:20px 0;
}
div.wrap {
	width:980px;
	margin:0 auto;
}
div.wrap:after {
	content: "";
	clear: both;
	display: block;
}

div.nojs {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	background-position:center top;
	background-repeat:no-repeat;
	width:980px;
	height:360px;
	border-radius:24px;
	margin:0 auto;
}


div.info {
	min-width:980px;
	background-color:#fff;
	background-image:url(../img/idx_boobo.png);
	background-position:center bottom;
	background-repeat:no-repeat;
}
div.info:before, div.info:after {
	content:"";
	display:block;
	height:12px;
	background-position:center top;
	background-repeat:repeat-x;
	background-image:url(../img/idx_line.png);
}

div.info div.info-lef {
	width:650px;
	float:left;
	padding:15px 0;
}
div.info div.info-lef:after {
	content: "";
	clear: both;
	display: block;
}
div.info div.info-rig {
	width:300px;
	padding-top:25px;
	float:right;
}

div.info div.info-lef h2 {
	color:#4e4e4e;
	height:49px;
	line-height:49px;
	font-size: 125%;
	margin-bottom:14px;
}
div.info div.info-lef h2:before {
	content:"";
	display:block;
	width:49px;
	height:49px;
	background-color:#0073cf;
	float:left;
	border-radius:8px;
	margin-right:14px;
}
div.info div.info-lef section.wnew {
	width:358px;
	float:left;
}
div.info div.info-lef section.wnew div.ovrflow {
	height:503px;
	overflow:auto;
}
div.info div.info-lef section.wnew div.ovrflow::-webkit-scrollbar {
	width: 8px;
	background: #eaeaea;
	border-radius: 16px;
}
div.info div.info-lef section.wnew div.ovrflow::-webkit-scrollbar-thumb {
	background: #99b2d6;
	border-radius: 16px;
}
div.info div.info-lef section.wnew ul {
	width: 330px;
}
div.info div.info-lef section.wnew p.btn {
	display:none;
}

div.info div.info-lef section.hot {
	width:262px;
	float:right;
}
div.info div.info-lef section.hot div.hot-img {
	margin-bottom:12px;
}


div.info div.info-lef section.hot ul li.btn {
	padding:6px 30px 0;
}

div.info div.info-lef section.wnew ul li a:hover {
	background-color: #fff47b;
	text-decoration: underline;
}
div.info div.info-lef section.hot div.hot-img a:hover {
	border:1px solid #0073cf;
}
div.info div.info-lef section.hot ul li p.btn-continue a:hover {
	text-decoration:underline;
}
div.info div.info-lef section.hot ul li dl dt a:hover, div.info div.info-lef section.hot ul li dl dd a:hover {
	text-decoration: underline;
}
div.info div.info-lef section.hot ul li.btn a:hover {
	background-color:#ffe000;
	background-image:none;
}

div.info-rig aside div.recta {
	margin-bottom:26px;
}
div.info-rig aside div.boobo {
	width:300px;
	height:280px;
	position:relative;
	background-repeat:no-repeat;
	overflow:hidden;
}
div.info-rig aside div.boobo a {
	display:block;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	width:300px;
	height:280px;
	/* background-color:#fc0;
	opacity:0.2; */
}
/*
div.info-rig aside div.boobo a:hover {
	background-color:#c00;
}
*/

footer.global-footer {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

}



@media all and (max-width: 767px) {

section.timetable h2:before,
section.wnew h2:before,
section.hot h2:before,
div.pickup section h2:before,
div.newsi section h2:before {
	content:"";
	display:block;
	float:left;
	width:24px;
	height:24px;
	margin-top:8px;
	margin-right:8px;
	background-image:url(../img/idx_icons_smp.svg);
	background-repeat:no-repeat;
	border-radius:4px;
}
section.timetable h2:before {
	background-position:left top;
}
section.wnew h2:before {
	background-position:0 -30px;
}
section.hot h2:before {
	background-position:0 -60px;
}
div.pickup h2:before {
	background-position:0 -90px;
}

div.info div.info-lef {
	background-color:#fff;
}
div.info div.info-lef:after {
	content:"";
	display:block;
	height:12px;
	background-position:center top;
	background-repeat:repeat-x;
	background-image:url(../img/idx_line.png);
	margin-top:5px;
}
div.info div.info-lef h2 {
	text-shadow: rgba(0,0,0,0.5) 0 -2px 1px;
	padding-left:10px;
	height:40px;
	line-height:40px;
	color:#fff;
	background-color:#1a81d4;
	background-image:-moz-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#0073cf),to(#0073cf));
	background-image:-ms-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:linear-gradient(transparent 50%, #0073cf 50%);
}
div.info div.info-lef section.wnew p.btn {
	padding:10px 0;
	background-color:#eaeaea;
}
div.info div.info-lef section.wnew p.btn a, section.timetable p.tv-more a {
	display:block;
	font-size:87.5%;
	height:32px;
	line-height:32px;
	border-radius:16px;
	color:#333;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#ffec66;
	background-image:-moz-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#ffe000),to(#ffe000));
	background-image:-ms-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:linear-gradient(transparent 50%, #ffe000 50%);
	width:262px;
	margin:0 auto;
}
div.info div.info-lef section.hot ul li.btn a {
	font-size:87.5%;
	height:32px;
	line-height:32px;
	border-radius:16px;
}
div.info div.info-lef section.hot div.hot-inner {
	width:262px;
	margin:0 auto;
}
div.info div.info-lef section.hot h2 {
	margin-bottom:10px;
}
div.info div.info-lef section.hot div.hot-img {
	margin-bottom:10px;
}

div.info-rig {
	background-color:#eaeaea;
	padding:10px 0;
}
div.info-rig aside div.recta {
	margin:0 auto;
}
div.info-rig aside div.boobo {
	display:none;
}

}