/*	idx Carousel
============================== */

/* SMP */
div#mainCarousel img {
	touch-callout: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-touch-callout: none;
	-moz-user-select: none;
}
div.hide {
	display: none !important;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	border: none;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: 87.5%;
	font-family: Arial;
	font-weight: bold;
	color: #666;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	/*background: #666;*/
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 10px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	/* background: #000; */
}



/* carousel */
@media all and (min-width: 768px) {
.cal-lazy {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	height: auto !important;
	width: auto !important;
}
.idx-carousel {
	min-width:980px;
	height:410px;
}
#mainCarousel {
	position: relative;
	width: 980px;
	height: 360px;
	margin: 0 auto 50px;
	-webkit-box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px;
	-moz-box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px;
	-ms-box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px;
	box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px;
}
#mainCarousel a {
	text-decoration: none;
}
#mainCarousel .slide_all {
	width: 980px;
	margin: 0 auto;
	height: 390px;
	position: relative;
	overflow: hidden;
}
#mainCarousel .slide_wrap {
	width: 1920px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
#mainCarousel ul.mainCarouselBanner {
	width: 200%;
	height: 360px;
}
#mainCarousel ul.mainCarouselBanner li {
	background-color: #fff;
	width: 640px;
	height: 360px;
	position: relative;
	float: left;
}
#mainCarousel ul.mainCarouselBanner li a.mainCarouselImg {
	display: inline-block;
	width: 640px;
	height: 360px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
	z-index: 29;
}
#mainCarousel ul.mainCarouselBanner li img {
	width: 100%;
	height: 100%;
}
#mainCarousel .text {
	width: 465px;
	position: absolute;
	bottom: -180px;
	font-size: 87.5%;
	line-height: 1.4;
	font-weight: bold;
	color: #fff;
	padding: 6px 160px 8px 15px;
	background-color: hsla(0,0%,0%,0.7)
}
#mainCarousel .text.noMov {
	width: 610px;
	padding: 6px 15px 8px 15px;
}
#mainCarousel .playButton {
	position: absolute;
	bottom: 8px;
	right: 12px;
	z-index: 30;
	width: 124px;
	height: 32px;
	display: none;
}
#mainCarousel .playButton.off {
	display: none;
}
#mainCarousel .playButton a {
	display: block;
	width: 124px;
	height: 32px;
	text-indent: -9999px;
	background-image: url(/um/v7/img/idx/carousel/top2.svg);
	background-size: 170px 2261px;
	background-repeat: no-repeat;
	background-position: 0px -1700px;
}
#mainCarousel .playButton a:hover {
	background-position: 0px -1732px;
}
#mainCarousel .rightButton {
	position: absolute;
	z-index: 40;
	top: 0;
	right: 0;
	background-image:-moz-linear-gradient(right, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	background-image:-ms-linear-gradient(right, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(254,254,254,0)),to(rgba(255,255,255,1)));
	background-image: linear-gradient(to left, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=1);	/* IE6-9 */
}
#mainCarousel .leftButton {
	position: absolute;
	z-index: 50;
	top: 0;
	left: -1px;
	background-image:-moz-linear-gradient(left, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	background-image:-ms-linear-gradient(left, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(254,254,254,0)),to(rgba(255,255,255,1)));
	background-image: linear-gradient(to right, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#00ffffff', GradientType=1 );	/* IE6-9 */
}
#mainCarousel .leftButton a {
	height: 360px;
	display: block;
	text-indent: -9999px;
	background-image: url(/um/v7/img/idx/carousel/top2.svg);
	background-size: 170px 2261px;
	background-repeat: no-repeat;
	background-position: 0px -360px;
}
#mainCarousel .rightButton a {
	height: 360px;
	display: block;
	text-indent: -9999px;
	background-image: url(/um/v7/img/idx/carousel/top2.svg);
	background-size: 170px 2261px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
#mainCarousel .leftButton a:hover {
	background-position: 0px -1080px;
}
#mainCarousel .rightButton a:hover {
	background-position: 0px -720px;
}
#mainCarousel ul.nav {
	position: absolute;
	width: 980px;
	bottom: 0;
	text-align: center;
}
#mainCarousel ul.nav li {
	display: inline-block;
}
#mainCarousel ul.nav li a {
	display: block;
	width: 12px;
	height: 12px;
	/*background-color: #fff;*/
	border-radius: 6px;
	margin: 4px 3px;
}
#mainCarousel ul.nav li a.on {
	background-color: #0073cf;
}
#mainCarousel ul.nav li a:hover {
	background-color: #C9F4FF;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 6px;
	margin: 4px 3px;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #0073cf;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background-color: #C9F4FF;
}
/*メインカルーセルからのモーダル*/
#lean_overlay {
	position: fixed;
	z-index: 9923;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	/*background: #000;*/
	display: none;
}
.modal {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	padding: 30px;
	width: 780px;
	z-index: 10000;
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(/um/v7/img/idx/carousel/modal_close.png);
	background-repeat: no-repeat;
	z-index: 2;
}
}

@media all and (max-width: 767px) {
.cal-lazy {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	height: auto !important;
	width: auto !important;
}

.idx-carousel {
	height:210px;
}
#idxJack {
	height:auto;
}

#mainCarousel {
	width: 100%;
	min-width:320px;
	height: 180px;
	margin: 0 auto;
	padding: 0 0 30px;
	position: relative;
	/*background-color: #d6d6d6;*/
	overflow: hidden;
}
#mainCarousel a {
	text-decoration: none;
}
#mainCarousel ul.mainCarouselBanner {
	margin: auto;
	height: 180px;
	overflow: hidden;
	/*background-color: #000;*/
	width: 200%;
}
#mainCarousel .slide_all {
	width: 100%;
	margin: 0 auto;
	height: 210px;
	position: relative;
	overflow: hidden;
	z-index: 9;
}
#mainCarousel .slide_wrap {
	width: 960px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}
#mainCarousel ul.mainCarouselBanner {
	width: 100%;
}
#mainCarousel ul.mainCarouselBanner li {
	background-color: #fff;
	width: 320px;
	height: 180px;
	position: relative;
	overflow:hidden;
	margin: auto;
	float: left;
}
#mainCarousel ul.mainCarouselBanner li a.mainCarouselImg {
	width: 320px;
	height: 180px;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#mainCarousel ul.mainCarouselBanner li img {
	width: 320px;
	height: 180px;
}
#mainCarousel .text {
	width: 232px;
	position: absolute;
	bottom: -180px;
	font-size: 75%;
	font-weight: bold;
	line-height: 1.3;
	color: #fff;
	padding: 4px 80px 4px 8px;
	background-color: hsla(0,0%,0%,0.7)
}
#mainCarousel .text.noMov {
	width: 310px;
	padding: 4px 8px 4px 8px;
}
#mainCarousel .playButton {
	position: absolute;
	bottom: 4px;
	right: 4px;
	z-index: 30;
	display: none;
}
#mainCarousel .playButton a {
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	background-image: url(/um/v7/img/idx/carousel/top.svg);
	background-size: 170px 2261px;
	background-repeat: no-repeat;
	background-position: 0px -1764px;
}
#mainCarousel .rightButton {
	width: 221px;
	height: 180px;
	z-index: 11;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	/*background-color: hsla(0,0%,0%,0.5)*/
	background-image:-moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background-image:-ms-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(254,254,254,0)),to(rgba(255,255,255,1)));
	background-image: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=1);	/* IE6-9 */
}
#mainCarousel .leftButton {
	width: 221px;
	height: 180px;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-image:-moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background-image:-ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(254,254,254,0)),to(rgba(255,255,255,1)));
	background-image: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#00ffffff', GradientType=1 );	/* IE6-9 */
	/*background-color: hsla(0,0%,0%,0.5)*/
}
#mainCarousel .rightButton a {
	display: block;
	width: 100%;
	height: 180px;
	position: relative;
	z-index: 12;
	background-image: url(/um/img/cover.png);
}
#mainCarousel .leftButton a {
	display: block;
	width: 100%;
	height: 180px;
	position: relative;
	z-index: 13;
	background-image: url(/um/img/cover.png);
}
#mainCarousel ul.nav {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
}
#mainCarousel ul.nav li {
	display: inline-block;
}
#mainCarousel ul.nav li a {
	display: block;
	width: 12px;
	height: 12px;
	/*background-color: #fff;*/
	border-radius: 6px;
	margin: 4px 3px;
}
#mainCarousel ul.nav li a.on {
	background-color: #0073cf;
}
#mainCarousel ul.nav li a:hover {
	background-color: #C9F4FF;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 6px;
	margin: 0 3px 9px;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #0073cf;
}
#mainCarousel .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background-color: #C9F4FF;
}
/*　モーダル*/

#lean_overlay {
	position: fixed;
	z-index: 9923;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	/*background: #000;*/
	display: none;
}
.modal {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	padding: 30px;
	width: 80%;
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/idx/carousel/modal_close_sp.png);
	background-repeat: no-repeat;
	z-index: 2;
}
}




/* no script */
.noscriptBox span {
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	margin:0 auto;
}
@media all and (min-width: 768px) {
.noscriptBox {
	padding:20px 0;
}
.noscriptBox span, .noscriptBox a img {
	width:640px;
	height:360px;
}
}
@media all and (max-width: 767px) {
.noscriptBox {
	padding:0;
	padding-top:15px;
	/*background-color:#D6D6D6;*/
}
.noscriptBox span, .noscriptBox a img {
	width:320px;
	height:180px;
}
}



.fp-causion {
	/*font-family:"ヒラギノ角ゴ ProN","ヒラギノ角ゴ Pro","メイリオ","ＭＳ Ｐゴシック";*/
	line-height:1.25;
	text-align:center;
	display:none;
}
@media all and (min-width: 768px) {
.fp-causion {
	font-size:75%;
	margin-bottom:20px;
}
}
@media all and (max-width: 767px) {
.fp-causion {
	font-size:67.5%;
	/*background-color:#D6D6D6;*/
	padding-bottom:10px;
}
}

@media print {
div#mainCarousel img {
	background-color:#fff;
}
}