/*	idx News i
=================================== */

div.newsi {
	background-color:#b3d5f1;
}

@media all and (min-width: 768px) {

div.newsi {
	padding:20px 0;
}
div.newsi section {
	position:relative;
	width:980px;
	margin:0 auto;
}
div.newsi section h2 {
	color:#4e4e4e;
	height:49px;
	line-height:49px;
	font-size: 125%;
	margin-bottom:17px;
}
div.newsi section h2:before {
	content:"";
	display:block;
	width:49px;
	height:49px;
	background-color:#0073cf;
	float:left;
	border-radius:8px;
	margin-right:14px;
}
div.newsi section ul {
	list-style-type:none;
}
div.newsi section ul.newsi-menu {
	position:absolute;
	left:250px;
	top:10px;
}
div.newsi section ul.newsi-menu li {
	float:left;
	padding-right:30px;
}
div.newsi section ul.newsi-menu li a {
	display:block;
	line-height:29px;
	height:29px;
	font-weight:bold;
	text-decoration:none;
	color:#0073cf;
	font-size:87.5%;
	background-color:#d9eaf8;
	border-radius:14px;
	padding:0 16px 0 5px;
}
div.newsi section ul.newsi-menu li a span {
	display:block;
	float:left;
}
div.newsi section ul.newsi-menu li a:before {
	content:"";
	display:block;
	width:19px;
	height:19px;
	float:left;
	margin-right:10px;
	margin-top:5px;
	border-radius:9px;
	background-image:url(../img/idx_parts.svg);
	background-position:-300px -860px;
	background-repeat:no-repeat;
	background-color:#0073cf;
}
div.newsi section ul.newsi-menu li a:hover {
	background-color:#ffea4e;
}
div.newsi section div.newsibox {
	position:relative;
	background-image:url(../img/idx_newsi_bg.png);
	background-position:center top;
	background-repeat:no-repeat;
	height:94px;
}
div.newsi section div.newsibox ul {
	display:table;
	width:948px;
	margin-left:16px;
}
div.newsi section div.newsibox ul li {
	display:table-cell;
	vertical-align:top;
	padding-right:27px;
}
div.newsi section div.newsibox ul li:last-child {
	padding-right:0;
}
div.newsi section div.newsibox ul li a {
	display:block;
	width:298px;
	text-decoration:none;
}
div.newsi section div.newsibox ul li a:after {
	content: "";
	clear: both;
	display: block;
}
div.newsi section div.newsibox ul li a span {
	display:block;
}
div.newsi section div.newsibox ul li a span.ni-img {
	background-repeat:no-repeat;
	float:left;
	border:2px solid transparent;
}
div.newsi section div.newsibox ul li a:hover span.ni-img {
	border:2px solid #ffea4e;
}
div.newsi section div.newsibox ul li a span.ni-img img {
	display:block;
	width:160px;
	height:90px;
}
div.newsi section div.newsibox ul li a span.ni-txt {
	float:right;
	width:123px;
	font-size:83%;
	line-height:1.6;
	padding-top:2px;
	color:#036;
	word-break:break-all;
	word-wrap:break-word;
	line-break:strict;
}
div.newsi section div.newsibox ul li a:hover span.ni-txt {
	text-decoration: underline;
}
div.newsi section div.newsibox ul li a span.ni-txt span {
	color:#486690;
	display:block;
	font-size:87.5%;
}

div.newsi section div.newsibox p.error {
	text-align:center;
	font-size:83%;
	line-height:1.5;
	padding-top:2.75em;
	background-color:#d9eaf8;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

}



@media all and (max-width: 767px) {

div.newsi {
	padding:10px 0;
}
div.newsi section {
	width:300px;
	margin:0 auto;
}
div.newsi section h2, div.newsi section div.newsibox ul, div.newsi section div.newsibox p {
	display:none;
}
div.newsi section ul.newsi-menu li a {
	display:block;
	text-decoration:none;
}
div.newsi section ul.newsi-menu li.btn-newsi a {
	background-color:#fff;
	border-radius:16px;
	height:60px;
	margin-bottom:10px;
	background-image:url(../img/idx_newsi_logo.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
div.newsi section ul.newsi-menu li.btn-newsi a:before {
	content:"動画が充実！TBSニュース";
	display:block;
	padding-top:5px;
	padding-left:56px;
	font-size:75%;
	line-height:1.25;
	color:#4e4e4e;
}
div.newsi section ul.newsi-menu li.btn-newsi a span {
	display:block;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}
div.newsi section ul.newsi-menu li.btn-weather a {
	display:block;
	line-height:31px;
	height:31px;
	font-weight:bold;
	color:#0073cf;
	font-size:100%;
	background-color:#d9eaf8;
	border-radius:15px;
	padding:0 14px 0 5px;
	margin:0 60px;
}
div.newsi section ul.newsi-menu li.btn-weather a:before {
	content:"";
	width:21px;
	height:21px;
	float:left;
	margin-right:10px;
	margin-top:5px;
	border-radius:10px;
	background-color:#0073cf;
	background-image:url(../img/idx_parts.svg);
	background-position:-200px -860px;
	background-repeat:no-repeat;
}

}