/*	idx Modal
=================================== */

div.md-overlay {
	display:none;
	z-index:9900;
	background-color:#000;
	opacity:0.7;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	right:0;
	bottom:0;
}
div.md-window {
	display:none;
	z-index:9901;
	position:fixed;
}
body.ie div.md-window {
	position:fixed;
	left:0px;
	top:0px;
}
div.md-window div.md-player {
	z-index:9901;
	background-color:#fff;
	border:6px solid #fff;
	box-sizing:border-box;
	width:100%;
	height:100%;
}
div.md-window div.md-player div.md-player-inner {
	/* background-color:black; */
	background:black url("/um/v7/img/idx/carousel/nowloading.gif") no-repeat center;
	width:100%;
	height:100%;
	position: relative;
	left:0;
	top:0;
}
div.md-window p.md-close {
	position: absolute;
	display: block;
	border:2px solid #fff;
	text-decoration:none;
	-webkit-box-shadow: rgba(0,0,0,1) 0px 0px 5px 1px;
	-moz-box-shadow: rgba(0,0,0,1) 0px 0px 5px 1px;
	-ms-box-shadow: rgba(0,0,0,1) 0px 0px 5px 1px;
	box-shadow: rgba(0,0,0,1) 0px 0px 5px 1px;
}
div.md-window p.md-close a {
	display:block;
	background-image:url(../img/di2_carousel.svg);
	background-repeat:no-repeat;
}

@media all and (max-width: 767px) {
	div.md-window {
		width:95%;
		margin:0 auto;
	}
	div.md-window div.md-player {
		margin-bottom:5px;
	}
	div.md-window p.md-close {
		width: 24px;
		height: 24px;
		top: -31px;
		right: -0px;
		border-radius:14px;
	}
	div.md-window p.md-close a {
		background-position:0 -250px;
		width:24px;
		height:24px;
	}
}

@media all and (min-width: 768px) {
	div.md-window {
		width:732px;
		margin:0 auto;
	}
	body.ie div.md-window {
		width:732px;
		margin:0px 0px 0px 0px;
	}
	div.md-window div.md-player {
		margin-bottom:10px;
	}
	div.md-window p.md-close {
		width: 38px;
		height: 38px;
		top: -45px;
		right: -0px;
		border-radius:21px;
	}
	div.md-window p.md-close a {
		background-position:0 -210px;
		width:38px;
		height:38px;
	}
}

@media all and (max-height: 454px) {
	div.md-window div.md-player {
		margin-bottom:5px;
	}
	div.md-window p.md-close {
		width: 24px;
		height: 24px;
		top: -31px;
		right: -0px;
		border-radius:14px;
	}
	div.md-window p.md-close a {
		background-position:0 -250px;
		width:24px;
		height:24px;
	}
}