/*	idx Pickup
=================================== */

/*
section.timetable div.ovrflow::-webkit-scrollbar,
div.pickup div.ovrflow::-webkit-scrollbar,
div.original div.ovrflow::-webkit-scrollbar {
	height:8px;
	background:#eaeaea;
	border-radius:16px;
}
section.timetable div.ovrflow::-webkit-scrollbar-thumb,
div.pickup div.ovrflow::-webkit-scrollbar-thumb,
div.original div.ovrflow::-webkit-scrollbar-thumb {
	background:#99b2d6;
	border-radius:16px;
}
*/

div.pickup {
	background-repeat:repeat;
}
div.original {
	background-color:#00569b;
	background-image:url(../img/di2_bg_dot_w.svg);
	background-repeat:repeat;
	padding:20px 0;
}

div.pickup section, div.original section {
	position:relative;
}

div.original section h2 {
	display:none;
}

div.original section ul.ctrl, div.pickup section ul.ctrl {
	list-style-type:none;
}
div.original section ul.ctrl a, div.pickup section ul.ctrl a {
	position:absolute;
	width:35px;
	display:block;
	background-image:url(../img/idx_parts.svg);
	background-repeat:no-repeat;
}
div.original section ul.ctrl a {
	top:0;
	height:108px;
}
div.pickup section ul.ctrl a {
	height:187px;
}
div.original section a.tv-lef, div.pickup section a.tv-lef {
	left:0;
}
div.original section a.tv-rig, div.pickup section a.tv-rig {
	right:0;
}
div.original section a.tv-lef {background-position:0 -100px;}
div.original section a.tv-rig {background-position:-40px -100px;}

div.original section div.ovrflow, div.pickup section div.ovrflow {
	-webkit-transform: translateZ(0);
	/*-ms-touch-action : none ; *//* for *IE10 */
	/*touch-action : none ;*/
	margin:0 40px;
}
div.original section div.ovrflow {
	background-color:#00457c;
}

div.pickup div.ovrflow ul, div.original div.ovrflow ul {
	list-style-type:none;
	display:block;
}
div.pickup div.ovrflow ul {
	/*width:2190px;*/
}
div.original div.ovrflow ul {
	/* margin:4px 4px 0; */
	/*width:1744px;*/
}

div.pickup div.ovrflow ul li, div.original div.ovrflow ul li {
	display:inline;
	float:left;
}
div.pickup div.ovrflow ul li {
	padding-right:10px;
}
div.pickup div.ovrflow ul li:last-child {
	padding-right:0;
}
div.original div.ovrflow ul li {
	/*padding-right:4px;*/
	border-top:4px solid #00457c;
	border-bottom:4px solid #00457c;
	border-left:4px solid #00457c;
}
div.original div.ovrflow ul li:last-child {
	border-right:4px solid #00457c;
}

div.pickup div.ovrflow ul li a, div.original div.ovrflow ul li a {
	display:block;
	text-decoration:none;
}
div.pickup div.ovrflow ul li a {
	width:210px;
	height:187px;
	overflow:hidden;
	background-color:#00203a;
}
div.pickup div.ovrflow ul li a span, div.original div.ovrflow ul li span {
	display:block;
}
div.pickup div.ovrflow ul li a span.pck-img, div.original div.ovrflow ul li span {
	position:relative;
	background-size:cover;
	background-position:left top;
}
div.original div.ovrflow ul li span {
	background-color:#00569b;
	width:170px;
	height:100px;
}
div.pickup div.ovrflow ul li a span.pck-img {
	width:210px;
	height:118px;
	background-color:#bfdcf3;
	background-color:#00569b;
}
div.pickup div.ovrflow ul li a span.pck-img img, div.original div.ovrflow ul li span a {
	position:absolute;
	left:0;
	top:0;
}
div.pickup div.ovrflow ul li a span.pck-txt {
	font-size:75%;
	line-height:1.5;
	color:#cce0f4;
	padding:6px 12px 0;
	word-break:break-all;
	word-wrap:break-word;
	line-break:strict;
}
div.pickup div.ovrflow ul li a span.pck-img img {
	display:block;
	border:none;
	width:210px;
	height:118px;
}
div.original div.ovrflow ul li span a img {
	display:block;
	border:none;
	width:170px;
	height:100px;
}

@media all and (max-width: 767px) {
div.pickup, div.original {
	background-position:left top;
}
div.pickup {
	background-color:#fff;
	background-image:url(../img/di2_bg_ill_blu.png);
	padding:0 0 20px;
}
div.pickup section h2 {
	text-shadow: rgba(0,0,0,0.5) 0 -2px 1px;
	padding-left:10px;
	height:40px;
	line-height:40px;
	color:#fff;
	background-color:#1a81d4;
	background-image:-moz-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#0073cf),to(#0073cf));
	background-image:-ms-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:linear-gradient(transparent 50%, #0073cf 50%);
	margin-bottom:10px;
}
div.pickup section ul.ctrl a {
	top:50px;
}
div.pickup section div.ovrflow, div.original section div.ovrflow {
	overflow:auto;
}
div.pickup section div.ovrflow {
	height:187px;
}
div.original section div.ovrflow {
	height:108px;
}
div.pickup section a.tv-lef {background-position:-160px -62px;}
div.pickup section a.tv-rig {background-position:-200px -62px;}
}


@media all and (min-width: 768px) {
div.pickup, div.original {
	min-width:980px;
	background-position:center top;
}
div.pickup {
	background-color:#0073cf;
	background-image:url(../img/di2_bg_ill_w.png);
	padding:20px 0;
}
div.pickup section h2 {
	color:#fff;
	font-size: 125%;
	height:49px;
	line-height:49px;
	margin-bottom:14px;
	text-shadow:0 2px 2px #005090;
}
div.pickup section h2:before {
	content:"";
	width:49px;
	height:49px;
	background-color:#fff;
	float:left;
	margin-right:10px;
}
div.pickup section ul.ctrl a {
	top:63px;
}
div.pickup section, div.original section {
	width:980px;
	margin:0 auto;
}
div.pickup section div.ovrflow, div.original section div.ovrflow {
	/* overflow:hidden; */
	overflow:auto;
}
div.pickup section div.ovrflow {
	height:187px;
	/* height:209px; */
}
div.original section div.ovrflow {
	height:108px;
	/* height:130px; */
}
div.pickup section a.tv-lef {background-position:0 -62px;}
div.pickup section a.tv-rig {background-position:-40px -62px;}
div.original section a.tv-lef:hover {background-position:-80px -100px;}
div.pickup section a.tv-lef:hover {background-position:-80px -62px;}
div.original section a.tv-rig:hover {background-position:-120px -100px;}
div.pickup section a.tv-rig:hover {background-position:-120px -62px;}
}






@media all and (min-width: 768px) {
div.original div.ovrflow ul li span,
div.original div.ovrflow ul li span a img {
	width:170px;
	height:100px;
}
div.original section ul.ctrl a {
	height:108px;
}
div.original section a.tv-lef {background-position:0 -100px;}
div.original section a.tv-rig {background-position:-40px -100px;}
}

@media all and (max-width: 767px) {
div.original div.ovrflow ul li span,
div.original div.ovrflow ul li span a img {
	width:136px;
	height:80px;
}
div.original section div.ovrflow,
div.original section ul.ctrl a {
	height:88px;
}
div.original section a.tv-lef {background-position:0 -110px;}
div.original section a.tv-rig {background-position:-40px -110px;}
}