/*	idx tvtimeline
=================================== */
section#timetable {
	display:none;
}
section.timetable {
	position:relative;
}
section.timetable ul.ctrl {
	list-style-type:none;
}
section.timetable ul.ctrl a {
	position:absolute;
	width:35px;
	display:block;
	background-image:url(../img/idx_parts.svg);
	background-repeat:no-repeat;
}
section.timetable a.tv-lef {
	left:0;
}
section.timetable a.tv-rig {
	right:0;
}
section.timetable div.ovrflow {
	-webkit-transform: translateZ(0);
/*	-ms-touch-action : none ; *//* for *IE10 */
/*	touch-action : none ;*/
	/* overflow:auto; */
	margin:0 40px;
}
section.timetable ul {
	list-style-type:none;
	display:block;
}
section.timetable div.ovrflow ul li {
	display:inline;
	float:left;
}
section.timetable div.ovrflow ul li:last-child {
	padding-right:0;
}
section.timetable div.ovrflow ul li a {
	display:block;
	color:#666;
	text-decoration:none;
	background-color:#fff;
}
section.timetable div.ovrflow ul li.now a {
	background-color:#ffe000;
}
section.timetable div.ovrflow ul li a dl {
	display:block;
}
section.timetable div.ovrflow ul li.now a dl dt {
	background-image:url(../img/idx_parts.svg);
	background-repeat:no-repeat;
}
section.timetable div.ovrflow ul li a dl dt b {
	display:block;
	color:#333;
	background-image:url(../img/idx_parts.svg);
	background-repeat:no-repeat;
}
section.timetable div.ovrflow ul li a dl dd {
}
section.timetable div.ovrflow ul li a dl dd span,
section.timetable div.ovrflow ul li:last-child a span {
	display:block;
}
section.timetable div.ovrflow ul li a dl dd span.txt {
	font-weight:bold;
	word-break:break-all;
	overflow: hidden;
	text-overflow: ellipsis;
}
section.timetable div.ovrflow ul li a dl dd span.txt span {
	display:inline;
}
section.timetable div.ovrflow ul li a dl dd span.thumb,
section.timetable div.ovrflow ul li:last-child a span.thumb {
	position:relative;
	background-size:cover;
	background-color:#e0e0e0;
}
section.timetable div.ovrflow ul li a dl dd span.thumb img,
section.timetable div.ovrflow ul li:last-child a span.thumb img {
	display:block;
}
section.timetable div.ovrflow ul li a dl dd span.thumb img {
	border:1px solid #d6d6d6;
}
section.timetable div.ovrflow ul li:last-child a {
	background-position:left top;
	background-repeat:no-repeat;
	background-size:cover;
}

div.comments {
	background-color:#fff4e0;
}
div.comments p {
	font-weight:bold;
	color:#cc0017;
	line-height:1.25;
}


@media all and (min-width: 768px) {

section#timetable {
	z-index:500;
}

section.timetable h2 {
	color:#4e4e4e;
	height:49px;
	line-height:49px;
	font-size: 125%;
	padding-left:125px;
	margin-bottom:17px;
}
section.timetable p {
	position:absolute;
}
section.timetable p.tv-date {
	background-color:#0073cf;
	background-image:url(../img/idx_tv_icon.png);
	background-repeat:no-repeat;
	background-position:left top;
	background-size:cover;
	left:0;
	top:0;
	width:105px;
	height:49px;
	line-height:49px;
	text-align:center;
	color:#fff;
	font-size:150%;
	font-weight:bold;
	border-radius:10px;
}
section.timetable p.tv-date span {
	display:block;
	color:#fff;
	font-weight:bold;
}
section.timetable p.tv-more {
	left:300px;
	top:11px;
}
section.timetable p.tv-more a {
	display:block;
	line-height:29px;
	height:29px;
	font-weight:bold;
	text-decoration:none;
	color:#0073cf;
	font-size:87.5%;
	background-color:#fff;
	border-radius:14px;
	padding:0 16px 0 5px;
}
section.timetable p.tv-more a:before {
	content:"";
	display:block;
	width:19px;
	height:19px;
	float:left;
	margin-right:10px;
	margin-top:5px;
	border-radius:9px;
	background-image:url(../img/idx_parts.svg);
	background-position:-300px -860px;
	background-repeat:no-repeat;
	background-color:#0073cf;
}
section.timetable p.tv-more a:hover {
	background-color:#ffea4e;
}

section.timetable ul.ctrl a {
	top:70px;
	height:240px;
}
section.timetable a.tv-lef {
	background-position:-160px -35px;
}
section.timetable a.tv-rig {
	background-position:-200px -35px;
}
section.timetable a.tv-lef:hover {
	background-position:-80px -35px;
}
section.timetable a.tv-rig:hover {
	background-position:-120px -35px;
}
section.timetable div.ovrflow {
	height:242px;
	/*height:264px;*/
}
section.timetable div.ovrflow ul {
	/*width:6510px;*/
}
section.timetable div.ovrflow ul li {
	padding-right:6px;
}
section.timetable div.ovrflow ul li a {
	width:296px;
	height:242px;
}
section.timetable div.ovrflow ul li a:hover {
	background-color:#fff47b;
}
section.timetable div.ovrflow ul li:last-child a {
	margin-top:2px;
	background-image:url(../img/idx_tv_more.png);
	width:296px;
	height:240px;
}
section.timetable div.ovrflow ul li:last-child a img {
	width:296px;
/*
	width:251px;*/
	height:240px;
}
section.timetable div.ovrflow ul li a dl {
	display:block;
	background-image:-moz-linear-gradient(#d6d6d6 2px, transparent 2px);
	/* background-image:-webkit-gradient(linear, left top, left bottom, from(#d6d6d6),color-stop(0.5,#d6d6d6),color-stop(0.5,transparent),to(transparent)); */
	background-image:-ms-linear-gradient(#d6d6d6 2px, transparent  2px);
	background-image:linear-gradient(#d6d6d6 2px, transparent 2px);
}
section.timetable div.ovrflow ul li a dl dt, section.timetable div.ovrflow ul li a dl dd {
	padding:0 8px;
}
section.timetable div.ovrflow ul li a dl dt {
	padding-top:2px;
}
section.timetable div.ovrflow ul li.now a dl dt {
	background-position:0 -500px;
}
section.timetable div.ovrflow ul li a dl dt b {
	height:29px;
	line-height:29px;
	font-size:87.5%;
	padding-left:27px;
	background-position:0 -800px;
}
section.timetable div.ovrflow ul li a dl dd span.thumb {
	margin-bottom:7px;
}
section.timetable div.ovrflow ul li a dl dd span img {
	width:278px;
	height:156px;
}
section.timetable div.ovrflow ul li a dl dd span.txt {
	font-size:83%;
	line-height:1.25;
	height:2.5em;
}

div.comments {
	padding:0.5em 1.5em;
	margin:15px 40px 0;
}
div.comments p {
	font-size:87.5%;
}

}



@media all and (max-width: 767px) {

section.timetable h2 {
	text-shadow: rgba(0,0,0,0.5) 0 -2px 1px;
	padding-left:10px;
	height:40px;
	line-height:40px;
	color:#fff;
	background-color:#1a81d4;
	background-image:-moz-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#0073cf),to(#0073cf));
	background-image:-ms-linear-gradient(transparent 50%, #0073cf 50%);
	background-image:linear-gradient(transparent 50%, #0073cf 50%);
	margin-bottom:10px;
}
section.timetable p.tv-date {
	display:none;
}
section.timetable p.tv-more {
	padding:10px 0;
}
section.timetable ul.ctrl a {
	top:50px;
	height:220px;
}
section.timetable a.tv-lef {
	background-position:-156px -44px;
}
section.timetable a.tv-rig {
	background-position:-204px -44px;
}
section.timetable div.ovrflow {
	height:220px;
	/*height:242px;*/
}
section.timetable div.ovrflow ul {
	/*width:4956px;*/
}
section.timetable div.ovrflow ul li {
	padding-right:6px;
}
section.timetable div.ovrflow ul li a {
	width:230px;
	height:220px;
}
section.timetable div.ovrflow ul li a dl dt b {
	height:30px;
	line-height:30px;
	font-size:75%;
	padding-left:20px;
	background-position:0 -700px;
}
section.timetable div.ovrflow ul li.now a dl dt {
	background-position:0 -600px;
}
section.timetable div.ovrflow ul li a dl dt, section.timetable div.ovrflow ul li a dl dd {
	padding:0 10px;
}
section.timetable div.ovrflow ul li a dl dd span.thumb {
	margin-bottom:8px;
}
section.timetable div.ovrflow ul li a dl dd span img {
	width:208px;
	height:116px;
}
section.timetable div.ovrflow ul li:last-child a img {
	width:230px;
	height:220px;
}
section.timetable div.ovrflow ul li:last-child a {
	background-image:url(../img/idx_tv_more_smp.png);
}
section.timetable div.ovrflow ul li a dl dd span.txt {
	font-size:75%;
	line-height:1.5;
	height:4.5em;
}

div.comments {
	padding:0.5em 1em;
	margin:0 40px 10px;
}
div.comments p {
	font-size:75%;
}

}