/* LEVEL3 */
div#level3 + div.main, div#level2 + div.main {

}
div#level3 + div.main div.idx-carousel,
div#level3 + div.main section.timetable {
	display:none;
}

div#level2 + div.main div.lv-live {
	display:none;
}


/* main */
div.lv3-main {
	background-color:#fff;
}
div.lv3-main a, div.lv3-main span {
	display:block;
	color:#333;
	text-align:center;
	text-decoration:none;
}
div.lv3-main a p, div.lv3-main span p {
	line-height:1.5;
	font-weight:bold;
	text-shadow:1px 1px 3px #ccc;
}
div.lv3-main a p.ft-big, div.lv3-main span p.ft-big {
	color:#222;
}

@media all and (min-width: 768px) {
div.lv3-main {
	margin:20px 0;
	-webkit-box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px, #cce3f5 0px 0px 50px 1px inset;
	box-shadow: rgba(0,34,62,0.3) 0px 0px 10px 1px, #cce3f5 0px 0px 50px 1px inset;
}
div.lv3-main a, div.lv3-main span {
	padding:5em 1em;
}
div.lv3-main a p.ft-big, div.lv3-main span p.ft-big {
	font-size:400%;
	margin-bottom:0.5em;
}
div.lv3-main a p.ft-mdl, div.lv3-main span p.ft-mdl {
	font-size:150%;
}
}
@media all and (max-width: 767px) {
div.lv3-main {
	-webkit-box-shadow: #cce3f5 0px 0px 50px 1px inset;
	box-shadow: #cce3f5 0px 0px 50px 1px inset;
}
div.lv3-main a, div.lv3-main span {
	padding:2em 1em;
}
div.lv3-main a p.ft-big, div.lv3-main span p.ft-big {
	font-size:150%;
	margin-bottom:0.5em;
}
div.lv3-main a p.ft-mdl, div.lv3-main span p.ft-mdl {
	font-size:83%;
}
}


/* ticker */
div#l-news-box {
	background-color:#fff;
}
@media all and (min-width: 768px) {
div#l-news-box {
	margin:0 0 20px;
}
}
@media all and (max-width: 767px) {
div#l-news-box {
}
}

/* earthquake */
div.lv-earth {
	background-color:#fffad6;
}
div.lv-earth h2 {
	font-size:125%;
	text-align:center;
	letter-spacing:1em;
	text-indent:1em;
	line-height:1.25;
	text-align:center;
	padding:0.25em 0;
	text-shadow:1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, 2px 2px 3px #99334e;
	background-color:#ffe017;
	background-image:-moz-linear-gradient(transparent 50%, #fc0 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#fc0),to(#fc0));
	background-image:-ms-linear-gradient(transparent 50%, #fc0 50%);
	background-image:linear-gradient(transparent 50%, #fc0 50%);
}
div.lv-earth a {
	display:block;
	text-decoration:none;
	color:#333;
}

div.earth-rig h3,
div.earth-rig p.earth-txt {
	line-height:1.75;
}
div.lv-earth a div.earth-inner p.earth-lnk {
	font-weight:bold;
}

@media all and (min-width: 768px) {
div.lv-earth {
	margin:20px 0 25px;
}
div.lv-earth div.earth-inner {
	padding:20px;
}
div.earth-pics {
	width:280px;
	float:left;
}
div.earth-pics + div.earth-rig {
	padding-left:300px;
}
div.earth-pics img {
	width:280px;
	height:158px;
}
div.lv-earth a div.earth-inner {
	position:relative;
}
div.lv-earth a div.earth-inner p.earth-lnk {
	position:absolute;
	right:25px;
	bottom:25px;
}
div.earth-rig p.earth-txt {
	font-size:87.5%;
}


div.lv-earth a div.earth-inner p.earth-lnk span {
	display:block;
	line-height:29px;
	height:29px;
	font-weight:bold;
	text-decoration:none;
	color:#0073cf;
	font-size:87.5%;
	background-color:#fff;
	border-radius:14px;
	padding:0 16px 0 5px;
}
div.lv-earth a div.earth-inner p.earth-lnk span:before {
	content:"";
	display:block;
	width:19px;
	height:19px;
	float:left;
	margin-right:10px;
	margin-top:5px;
	border-radius:9px;
	background-image:url(../img/idx_parts.svg);
	background-position:-300px -860px;
	background-repeat:no-repeat;
	background-color:#0073cf;
}


}

@media all and (max-width: 767px) {
div.lv-earth {
}
div.lv-earth div.earth-inner {
	padding:10px;
}
div.earth-pics {
	width:37%;
	float:left;
}
div.earth-pics + div.earth-rig {
	margin-left:40%;
}
div.earth-pics span {
	display:block;
	position:relative;
	height:0;
	padding-top:67.5%;
}
div.earth-rig h3 {
	font-size:87.5%;
}
div.earth-rig p.earth-txt {
	font-size:83%;
}
div.earth-pics span img {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
div.lv-earth a div.earth-inner p.earth-lnk {
	clear:both;
	padding-top:10px;
}

div.lv-earth a div.earth-inner p.earth-lnk span {
	display:block;
	font-size:87.5%;
	height:32px;
	line-height:32px;
	border-radius:16px;
	color:#333;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#ffec66;
	background-image:-moz-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.5,transparent),color-stop(0.5,#ffe000),to(#ffe000));
	background-image:-ms-linear-gradient(transparent 50%, #ffe000 50%);
	background-image:linear-gradient(transparent 50%, #ffe000 50%);
	width:262px;
	margin:0 auto;
}

}



/* live */
div.lv-live {
	background-color:#b3d5f1;

}
div.live-yt {
	position:relative;
	height:0;
	padding-top:67.5%;
}
div.live-yt iframe {
	border:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
p.live-txt {
	text-align:center;
	line-height:1.5;
	background-color: hsla(0, 0%, 100%, .5);
}
div.live-bird {
	background-color:#fff;
	border-top:3px solid #c00;
	border-bottom:3px solid #c00;
}
div.live-bird p.live-icon, div.live-bird p.live-logo {
	font-size:2px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:left top;
}
div.live-bird p.live-icon {
	background-image:url(../img/live_ico.gif);
}
div.live-bird p.live-logo {
	background-image:url(../img/live_bird.png);
}
p.live-cap {
	text-align:center;
	line-height:1.25;
	font-size:83%;
}
@media all and (min-width: 768px) {
div.lv-live {
	margin:25px 0;
	padding:15px 128px;
	-webkit-box-shadow: #fff 0px 0px 50px 1px inset;
	box-shadow: #fff 0px 0px 50px 1px inset;
}
p.live-txt {
	margin:0.75em 0;
}
div.live-bird {
	margin:0.5em 0;
}
div.live-bird p.live-icon,
div.live-bird p.live-logo {
	height:42px;
}
div.live-bird p.live-now {
	float:left;
	background-color:#c00;
	margin:6px 0;
	border-radius:15px;
}
div.live-bird p.live-now span {
	display:block;
	color:#fff;
	width:162px;
	text-align:center;
	font-weight:bold;
	line-height:30px;
}
div.live-bird p.live-icon {
	margin-left:80px;
	margin-right:20px;
	float:left;
	width:82px;
}
div.live-bird p.live-logo {
	float:right;
	width:280px;
	margin-right:80px;
}
}
@media all and (max-width: 767px) {
div.lv-live {
	padding:10px;
	-webkit-box-shadow: #fff 0px 0px 30px 1px inset;
	box-shadow: #fff 0px 0px 30px 1px inset;
}
p.live-txt {
	margin:0.25em 0;
}
div.live-bird {
	margin:0.25em 0;
}
div.live-bird p.live-icon,
div.live-bird p.live-logo {
	background-size:cover;
	height:25.2px;
	margin:0 auto;
}
div.live-bird p.live-icon {
	width:49.2px;
}
div.live-bird p.live-logo {
	width:168px;
}
div.live-bird p.live-now {
	background-color:#c00;
	width:240px;
	margin:5px auto;
	border-radius:12px;
}
div.live-bird p.live-now span {
	display:block;
	font-size:87.5%;
	color:#fff;
	text-align:center;
	font-weight:bold;
	line-height:24px;
}
}


div#l-news-box h2 {
	color:#fff;
	background-color:#c00;
	line-height:1.5;
}
@media all and (min-width: 768px) {
div#l-news-box {
	position:relative;
}
div#l-news-box h2 {
	position:absolute;
	left:0;
	top:0;
	padding:0 1em;
	z-index:50;
}
div#l-news-box {
	background-color:#fff;
	line-height:1.5;
	height:1.5em;
}
div#l-news-box p {
	line-height:1.5;
}
}
@media all and (max-width: 767px) {
div#l-news-box h2 {
	padding:0.2em 0;
	margin-bottom:0.5em;
}
div#l-news-box {
	background-color:#fff;
	line-height:4.4;
	height:4.4em;
}
div#l-news-box p {
	line-height:1.5;
}
}

/* Banner */
div.lv3Recta {
	position:absolute;top:-5000px;left:-9999px;
}
@media all and (min-width: 768px) {
div.lv3Recta + div.boobo {
	margin-top:276px;
}
}
@media all and (max-width: 767px) {
}