﻿@charset "utf-8";
/* CSS Document */
#mainNav {display: none;}
#PopUpHeader{display: none;}
#sidebar{display: none;}
.tagsWrapper{display: none;}
.comment{display: none;}
.newspar {display: none;}
.tags21{display: none;}
.relatedNews21 {display: none;}
.topSocial21 {display: none;}
.copyRight {display: none;}
.readmoreDetails {display: none;}
.footer{display: none;}
.breadCrum21 {display: none;}
.rightCont21{display: none;}
.socialIcon2{display: none;}
.socialDateSrc{display: none;}
.leftCont21{width:100%;}
.footerDataContainer{display: none;}
.comment_people{display: none;}
.byline {float: right;width: 100%;}
.detailsDate{float: right;width: 100%;}
.socialDetails{display: none;}
article p{font-size:25PX;}
.secDetailsCat{display: none;}
.byline{line-height:25px;}
.detailsTitle {max-height:30px;}
.byline article p {
color: #054c4c;
direction: rtl;
display: block;
float: right;
font-family: tahoma !important;
font-size: 15px;
width: 100% !important;
padding-left: 34px;
text-align: justify !important;padding-top:80px;height:25px;
}
.detailsTitle a {
color: #c11a24;
font-size: 26px;height:25px;
}
.imgDesc {
color: #97826b;
font-family: tahoma;
text-align: center;height:25px;
}
