﻿/* CSS Document
This notice must remain in place!
 _______________________________________________________________
|                                                               |
|     AUTHOR  :basma ibrahim                         |
|    WEBSITE  : { http://www.starware.net }                     |
|DESCRIPTION  : style sheet                                     |                                          
|                                           |
|      EMAIL  : basma@starware.net                       |
|                                       | 
|_______________________________________________________________|

*/
@font-face {
    font-family: "american_typewriterregular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ufonts.com_american_typewriter-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ufonts.com_american_typewriter-webfont.woff") format("woff"), url("fonts/ufonts.com_american_typewriter-webfont.ttf") format("truetype"), url("fonts/ufonts.com_american_typewriter-webfont.svg#american_typewriterregular") format("svg");
}
@font-face {
    font-family: "helveticareg";
    src: url("fonts/reg/helveticareg.eot?#iefix") format("embedded-opentype"), url("fonts/reg/helveticareg.woff") format("woff"), url("fonts/reg/helveticareg.ttf") format("truetype"), url("fonts/reg/helveticareg.svg") format("svg");
}
@font-face {
    font-family: "helveticabold";
    src: url("fonts/bd/helveticabold.eot?#iefix") format("embedded-opentype"), url("fonts/bd/helveticabold.woff") format("woff"), url("fonts/bd/helveticabold.ttf") format("truetype"), url("fonts/bd/helveticabold.svg") format("svg");
}
#NewsDetail {
	min-height:239px;
}

body
{
}
.headerCont {
	background-color:#000;
	
}
.header {
	background:url('../images/header-bg.jpg') no-repeat center top;
	height: 100px;
    padding-top: 2px;
	height:58px;
	width:1000px !important;
}
.logo {
	direction:rtl;
	float:right;
}
.logoImg {
	width:150px;
}
.headerLft {
	direction:ltr;
	float:left;
}
.fbLogin {}
.headTitle {
	margin:10% 0 0 1%;
}
.headTitle img {
	width:150px;
}
.topdiv {overflow:hidden;min-height:235px;margin:5px auto 0;width:1300px;}

.ZoneDiv
{
    border: 1px solid #636363;
	border-bottom:none;
    float: left;
    width: 350px;
}

.ZonesContainerDiv
{
    background: url("../images/table-bg1.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 150px;
    padding-left: 51px;
	cursor:grab !important;
    height: 258px;
	clear:both;
}

.ZoneSecondNameDiv
{ 
    color: #535353;
    font-size: 10px;
    margin-top: -3px;
    text-align: center;
}

.ZoneNameDiv
{
	background:url("../images/title-border.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #535353;
    margin-top: -4px;
}

.ZonesDiv
{
    /*position: relative;
      top: 275px;*/
    width: -moz-max-content;
	width:-webkit-max-content;
}

.NewsDiv
{
    height: 253px;
    width: -moz-max-content;
	width:-webkit-max-content;
}

.ToolBar
{
	
   border: 1px none;
    float: left;
    height: 130px;
    padding-left: 5px;
    padding-top: 4px;
    position: absolute;
    width: 20px;
    z-index: 6;
}

.BlockDiv
{
    float: right;
}

.NewBlockDiv
{
    float: right;
    min-height: 100px;
}

.ui-tooltip
{
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
}

.set
{
    display: inline-block;
}

.notification
{
    position: absolute;
    display: inline-block;
    font-size: 2em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
}

.ZoneNameContainer
{
      border: 1px solid;
    width: 100%;
      border: medium none !important;
    font-family: helveticareg;
    margin: 0 auto;
    text-align: center;
    width: 100%;
     min-height: 30px;
	 padding-top:4px;
}

.NewTitleContainer
{
background: url("../images/table.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 50px;
    padding: 0 7px;
    position: absolute;
    text-align: center;
    width: 246px;
    z-index: 1;
    padding: 3px 7px;
}
.NewTitleContainerRed 
{
color:white !important;
  background: url("../images/table-red.png") no-repeat scroll center top / 102% 49px rgba(0, 0, 0, 0) !important;
    height: 50px !important;
    padding: 0px !important;
    position: absolute !important;
    text-align: center !important;
    width: -moz-max-content !important;
	width: -webkit-max-content !important; 
      
		min-width:246px;

 
}
.NewTitleContainerRed .NewTitle {height:23px;padding:6px 10px 0 9px;}
.NewTitleContainerRed .DivDate {margin-top:0px;}
.NewTitle
{
    font-family: helveticabold;
    font-size: 13px;
    height: 19px;
    overflow: hidden;
    padding: 0 10px 0 9px;
    text-align: right;
}

.NewsContainer
{
    /*float:left;*/
    /*width: 200px;*/
    min-height: 225px;
    position: relative;
    width: -moz-max-content;
}

.article-text-cont {
	padding-left:14px;
}

.VRLine
{
    background-color: #979797;

    position: absolute;
    width: 2px;

}
.VRLineContainer
{

    position: absolute;
     z-index: 10;
       width: 15px;
}
.DivDate
{
    font-family: helveticareg;
    font-size: 11px;
    padding-right: 11px;
    text-align: right;
}
.Loading
{
    
    position: absolute;
    top: 36px;
    z-index: 51;
}
.Arrow
{
    background: url("../images/arrow.png") no-repeat scroll center top rgba(0, 0, 0, 0) ;
    width: 25px;
    z-index: 46;
    position:absolute;
    z-index: 2;
}
.ArrowRed 
{
    background: url("../images/arrow-red.png") no-repeat scroll center top rgba(0, 0, 0, 0) !important;
 
}
.ui-slider-vertical {width:1em ;}
.ui-widget-header, .ui-widget-content {background:url("../images/heroz-bar-bg.png") repeat-y scroll 0 0 #000000; }
.ui-widget-content {border:1px solid #222222  }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border-radius:261px;background:none repeat scroll 0 0 #F0262E ;border:1px solid #CA1119 }
.ui-slider-vertical .ui-slider-handle {left:-0.1em !important;}
.ui-slider .ui-slider-handle {width:17px ;height:16px ;}

 

.Hslider .ui-state-default, .Hslider .ui-widget-content .ui-state-default, .Hslider .ui-widget-header .ui-state-default {
	background: url("../images/newbar-title.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    height: 29px !important;
    margin-top: 5px;
	text-decoration:none;
    width: 99px !important;
text-align: center;background-repeat: no-repeat;
}
.Hslider .ui-state-default div, .Hslider .ui-widget-content .ui-state-default div, .Hslider .ui-widget-header .ui-state-default div {
	color: #FFFFFF;
   
    font-family: helveticareg; 
    font-size:10px !important;
    padding: 4px 3px 0px;
    text-align: center;
}
.Hslider .ui-widget-header,.Hslider .ui-widget-content {
	background: url("../images/newbar-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none !important;
    border-radius: 0 !important;
}
.Hslider  {
	background: url("../images/newbar-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none !important;
    border-radius: 0 !important;
    height: 31px;
	margin-top:-1px;
}


.container{
	width:935px;
	margin: 0 auto;
	direction:rtl

}
.imageDiv{
padding:4px;
float:right;
border:1px solid #a0a4a3;
width:390px;
overflow:hidden;
margin-bottom:10px;
margin-right:2%;
max-height:212px;

}
.imageDiv img{
	display: block;
    margin: 0 auto;
}

.textDiv{

float: right;
    line-height: 23px;
    margin-bottom: 0;
    padding-right: 10px;
	direction:rtl;
	width:880px;
}

.textDiv h2{
	margin:2px 0px 0px 0px;
	font-family:helveticabold;
	width:96%;
	color:#EA1A20;
	text-align:right;
}
.textDiv h2:hover {
	color:#EA1A20;
	text-decoration:underline;
}
.scroller {
	direction: rtl;
    text-align: right;
}
.newsDetail
{
	font-family:helveticareg;
 color: #454545;
    height: 130px;
    overflow: hidden;
	
    max-width: 859px;
    position:relative;
}

.dateDiv{
	font-family: helveticareg;
    font-size: 13px;
    margin-left: 40px;

}

/*Scroll Style */
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    left: 3px !important; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
	right:851px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    background:none repeat scroll 0 0 #CFDBE5 !important;
	opacity:0.72;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #CFDBE5;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #99A5AF;
}
.ps-scrollbar-x-rail {display:none !important;}
.footerCon {
    color: #353535;
    float: right;
    font-family: Myriad Pro;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.footerCon a {
    color: #A91416;
    font-family: Myriad Pro;
    text-shadow: 1px 1px #FFFFFF;
}
