body {
padding-top: 0 !important;	
}

iframe.twitter-tweet {
margin-left: auto;
margin-right: auto;	
}

.clear { clear: both; }

img.sports-logo-top {
display: inline-block;
vertical-align: top	
}

.google-ad-300x250 {
width: 300;
height: 250;
margin: 20px auto 30px;
clear: both;
text-align: center;
}

.google-ad-300x250 > div {
margin: 0 auto;	
}

#featured-nav li {
margin-right: 5px !important;
height: 55px;
overflow: hidden;
}

.social-sharethis-post {
position: relative;	
}

.social-sharethis-post .fa {
min-width: 45px !important;
line-height: 14px !important;
font-size: 16px !important;	
}

.social-sharethis-post .fa-pinterest {
background: #C92228;
}

.total-shares {
font-family: Arial, Helvetica, Sans-Serif;
text-align: center;
text-transform: uppercase;
color: #999;
font-size: 12px;
line-height: 11px;
font-weight: 800;
float: left;
margin-right: 11px;
margin-top: -6px;
}

.total-shares .num {
color: #CD1713;
font-size: 36px;
line-height: 34px;
}

/* -- mobile-logo -- */

div#mobile-home-wrap,
img#polusa-mobile-logo {
display: none;	
}

/* -- Slicknav -- */

div.slicknav_menu {
display: none;
font-family: Arial, Helvetica, Sans-Serif;	
}

/* -- Sports Widget -- */

.sports-frame {
margin: 0 auto;
width: 292px;	
height: 465px;
border: 4px #1D4792 double;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}


/* -- DSCC Widget -- */

.widget_polusa_dscc_skyscraper_widget div.widgetinner {
background: #ddd;
text-align: center; 
}

.widget_polusa_dscc_skyscraper_widget div.widgetinner img {
margin: 0 auto;
display: block;
vertical-align: top;
}


/* -- Cartoon Widget -- */

aside.widget_polusa_bd_fp_toon {
text-align: center;	
}

aside.widget_polusa_bd_fp_toon img {
display: block !important;
margin: 5px auto;	
}

/* -- Gform - MailChimp Widget -- */

aside#gform_widget-2,
aside#gform_widget-3 {
width: 100%;
padding: 2% 5%;
border: solid 1px #2B709C;
box-sizing: border-box;
background: #26A7DD;
}

aside#gform_widget-2 h3.widgettitle,
aside#gform_widget-3 h3.widgettitle {
font: 700 20px "Roboto Condensed",sans-serif;
color: #fff;
text-shadow: 1px 1px #CE1824;
text-align: center;
}

aside#gform_widget-2 label,
aside#gform_widget-3 label {
color: #fff;	
display: none;	
}

span#input_2_1_1_container,
span#input_2_1_2_container {
width: 100%;
margin-left: 0;	
}


input#gform_submit_button_2 {
  border: 0;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input#gform_submit_button_2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/* -- Display Posts Plugin (single.php) -- */

.display-posts-listing li {
margin-left: 20px;
list-style-type: disc;	
margin-bottom: 10px;
}


/*----- Popup Styles -----*/

div.popmake-title {
text-align: center !important;
margin-bottom: 10px;
}

button.popmake-close {
background: #004A92 !important;	
}

button.popmake-close:hover {
background: #5776CE !important;	
}

div.popmake-content a {
color: #004A92 !important;		
}

div.popmake-content div.fb-like {
margin: 10px auto;
width: 110px;
padding: 12px 30px;
height: 110px;
display: block;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background: #fff;
}


/* -- RESPONSIVE -- */

@media screen and (max-width: 994px) {

	div.site-nav {
	display: none;	
	}

	div.slicknav_menu {
	display: block;
	}
	
	img.sports-logo-top {
	display: none;	
	}	
	
} /* -- end 900 -- */

@media screen and (max-width: 680px) {

	body > div.container {
	overflow: hidden;	
	}


	body.home section#mid-slider,
	img#header_banner {
	display: none;	
	}
	
	div#header {
		padding: 0;
		background: #d6d5da;
		background: -moz-linear-gradient(left, #d6d5da 0%, #fbf8fe 50%, #d6d5da 100%);
		background: -webkit-linear-gradient(left, #d6d5da 0%,#fbf8fe 50%,#d6d5da 100%);
		background: linear-gradient(to right, #d6d5da 0%,#fbf8fe 50%,#d6d5da 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d5da', endColorstr='#d6d5da',GradientType=1 );	
	}

	img#polusa-mobile-logo {
	display: block;
	vertical-align: top;
	margin: 0 auto;
	width: 100%;
	height: auto;
	}

} /* -- end 680 -- */

@media screen and (max-width: 620px) {


	div#primary-right {
	width: 100%;
	margin: 10px auto;	
	}

	.widget_polusa_dscc_skyscraper_widget div.widgetinner {
	width: 100%;
	}

	#primary-mid.col-lg-4 {
	    width: 100%;
	}
		
} /* -- end 620 -- */

@media screen and (max-width: 580px) {

	div#featured-slider {
	display: none;	
	}

	div#mobile-home-wrap {
	display: block;	
	}
	
	article.mobile-home-article {
	margin-bottom: 15px;	
	}
	
	article.mobile-home-article img {
	float: left;
	width: 48%;
	margin-right: 15px;
	height: auto;
	}
	
	article.mobile-home-article h2.entry-title {
	font: 20px/23px "palatino linotype",palatino,"times new roman",times,serif;
	}
	
	article.mobile-home-article p.p-summary {
	padding: 10px 0;
	clear:both;
	}

	body > div.container {
	width: auto;	
	}

	div#primary-mid {
	width: auto;	
	}
	
	div#primary-left {
	max-width: 90%;
	margin: 10px auto;	
	}

} /* -- end 580 -- */

@media screen and (max-width: 480px) {

	article.mobile-home-article img {
	width: 100%;
	float: none;
	margin: 0 0 10px;	
	}
	
	article.mobile-home-article h2.entry-title {
	margin-bottom: 5px;	
	}
	
	article.mobile-home-article p.p-summary {
	padding-top: 0;	
	}
	
	i.fa-print,
	i.fa-pinterest,
	i.fa-linkedin, 
	section#mid-slider {
	display: none !important;	
	}

	.social-sharethis-post .fa {
	min-width: 40px !important;	
	}	

} /* -- end 480 -- */