h1 em {
  font-family: 'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin';
  font-style: normal;
}

.h3 {
  font-family: HelveticaNeueW02-65Medi,HelveticaNeueW10-65Medi;
  font-size: 21px;
  color: #000;
}

a.h3 {color: #d82231;}
a.h3:not(:hover) {text-decoration: none;}
@media (max-width: 767px) {
  h1, h2 {
    margin: 10px 0 5px;
  }
  .h3 {font-size: 16px;}
}


h4,
h5,
h6 {
  font-family: 'HelveticaNeueW02-65Medi', 'HelveticaNeueW10-65Medi', "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  color: #000;
}
h4.thin,
h5.thin,
h6.thin {
  font-family: 'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin', "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
}


/* MOVE to repository */

/*  CAROUSEL FIXES  */
.carousel .carousel-caption {padding: 0 15px !important;}

/* Removing repository styles error */
@media (max-width: 991px) and (min-width: 768px) {
  .carousel .carousel-inner .item {height: 400px!important;}
}

/* Map id=151 */
#c7636 .row-fluid > div {padding: 0;}
@media (max-width: 1335px) and (min-width: 768px) {
  #c7636 .row-fluid {padding-left: 75px;}
}

/* btns on hero fix */
.hero-header .carousel-caption .btn {margin-top:0; margin-bottom: 5px;}
.btn {margin-top:0; margin-bottom: 5px;}


/* mainnav toggle fix */
@media only screen and (max-width:767px) and (min-width:400px) {
  body {transition: padding-right 200ms, margin-left 200ms; box-sizing:content-box;}
  html.prls-mainnav-toggle body {
    margin-left: -300px; 
    position: absolute; 
    padding-right: 300px;
  }
  html.prls-mainnav-toggle .MainContainer {
    transform: translate(0,0)!important;
  }
}

@media screen and (max-width: 767px) {
  .img-to-top .csc-textpic-imagewrap {
    text-align: center;
    float: none!important;
    height: 50px;
  }
  .img-to-top .csc-textpic-imagewrap img {display: inline; max-height: 50px;}
  .img-to-top .csc-textpic-text {margin-left: 0;}

  /* submenu fix on PDE10 -- CHECK ON OTHER PAGES */
  .prls-subnav .prls-subnav-pages>li a, .prls-subnav .prls-subnav-pages>li span {padding: 0 0 0 15px;}
  .prls-subnav .prls-subnav-pages {margin: 0 -30px;}
}

.filmstrip.fit {padding: 0;}
.filmstrip.fit .filmstrip__content .filmstrip__item:first-child {padding-left: 0;}
.filmstrip.fit .filmstrip__content .filmstrip__item:last-child {padding-right: 0;}

/* removing container overflow */
.MainContainer > div > .img-to-top,
.MainContainer > div > .row-styled {
  overflow: hidden;
}

/* hero header fix */
.carousel.hero-header {
  margin-top: 0;
}

/* ol blue list titles -- PDSection(id=157) */

.ol-item-title,
.ol-item-title-warning {max-width: 400px;}

.ol-item-title > *:first-child,
.ol-item-title-warning > *:first-child {
  color: #09F;
  font-size: 60px;
  font-weight: 800;
  float: left;
  line-height: .9;
}

.ol-item-title-warning > *:first-child {color: #f8981d;}

.ol-item-title > *:not(:first-child),
.ol-item-title-warning > *:not(:first-child) {
  margin: 5px 0 0 45px;
}

/* remove after deploy */
.col-lightgrey .page-header, .row-lightgrey .page-header {border-color:#e6e6e6;position:relative;top:-15px;}

/* remove after deploy */
a:hover { color:#d82231;}
/* remove after deploy */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:inherit;text-decoration:none;}

body { /* remove after deploy */
background: #fff;
}

script {/* remove after deploy */
  display: none !important;
}




/* new */
html.prls-mainnav-toggle {overflow-y: hidden;}

/* tables */
@media (max-width: 767px) {
.table {table-layout: fixed;}
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 0;
}
}

/* search results */
.gsc-control-cse {
  padding: 0!important;
  width: 100%!important;
}

.gsc-control-cse .gsc-table-result,
.gsc-control-cse, .gsc-control-cse .gsc-table-result,
.gsc-control-cse {
  font-family: HelveticaNeueW02-45Ligh,HelveticaNeueW10-45Ligh,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif!important;
  font-size: inherit!important;
}

.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #0099ff!important;
  text-decoration: none!important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  color: #0099ff!important;
  text-decoration: none!important;
}

.gs-webResult div.gs-visibleUrl-short, .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl,
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
  color: #807f83!important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
  padding-left: 0!important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: #0099ff!important;
}

.gsc-results .gsc-cursor-box {margin-left: 0!important;}

.gsc-above-wrapper-area {
  border-bottom: none!important;
}

.gsc-result-info {padding-left: 0!important;}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
  padding: 0!important;
  margin: 0!important;
  border: none!important;
  background-color: transparent!important;
  font-size: 20px;
  color: #807f83!important;
}

.gcsc-branding {
  display: none;
}



@media only screen and (max-width: 767px) {
  .prls-subnav .prls-subnav-pages.clipped {
    margin-right: -30px;
    margin-left: -30px;
  }
}


.csc-header-alignment-center {
  text-align: center;
}

.csc-header-alignment-right {
  text-align: right;
}

.csc-header-alignment-left {
  text-align: left;
}

b, strong {
  font-family:'HelveticaNeueW02-65Medi', 'HelveticaNeueW10-65Medi',"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
}

.row-blue {background: #A0D6E8;}
.row-middle_align [class*="col-xs-"] {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-left: -10px;
  padding-left: 22px;
}

.jumbo-lead {
  margin-bottom: 21px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .jumbo-lead {
    font-size: 22.5px;
  }
}

/* Fancy Price */

.price-fancy {
  font-size: 25px;
  vertical-align: top;
  font-family:'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin', "Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  line-height: 1;
}
.price-fancy span {
  font-size: 50px;
  line-height: .8;
}
.price-fancy > * {
  vertical-align: top;
}
.price-fancy ~ .year {
  margin-left: -30px;
  font-size: 14px;
  color: #807f83;
  vertical-align: bottom;
}

.price-fancy.jp + span.year,
.price-fancy.hk + span.year,
.price-fancy.cn + span.year {margin-left: 0;}

.price-fancy.kr span, 
.price-fancy.cn span, 
.price-fancy.hk span, 
.price-fancy.ru span {font-size: 40px!important;}
.price-fancy.jp span {font-size: 30px!important;}

.price-fancy.ru + span.year {margin-left: -45px; display: inline-block;}
.price-fancy.kr + span.year {margin-left: -37px; font-size: 12px;}
.price-fancy.br + span.year {margin-left: -2px;}
.price-fancy.de ~ span.year,
.price-fancy.eu ~ span.year{font-size: 14px;}
.price-fancy span.currency {
  font-size: .6em!important;
  vertical-align: top;
  line-height: 1.3!important;
}
.price-fancy ~ .year + .year {margin-left: 0;}
.price-fancy.kr ~ .year + .year {margin-right: 20px;}
.section-compare th > .price.price-fancy.kr {font-size: 23px;}
.price-fancy.ru {line-height: .7;}


.price .point {
  opacity:0;
  position: absolute;
}

.h2 {
    font-family: HelveticaNeueW02-Thin,HelveticaNeueW10-35Thin,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #807f83;
}

.mktoForm .form-control {
    color: #4a4a4a;
}

.mktoForm .form-control::-webkit-input-placeholder {color:#c8c8c8;}
.mktoForm .form-control::-moz-placeholder          {color:#c8c8c8;}/* Firefox 19+ */
.mktoForm .form-control:-moz-placeholder           {color:#c8c8c8;}/* Firefox 18- */
.mktoForm .form-control:-ms-input-placeholder      {color:#c8c8c8;}

.prls-subnav.prls-subnav-top > .container {
  position: absolute;
  width: 100%;
}
@media (min-width: 1200px) {
  .prls-subnav.prls-subnav-top > .container {
    width: 1170px;
    left: 50%;
    margin-left: -585px;
  }
}




/* Sept 25th */
.bg-gray .page-header, 
.col-lightgrey .page-header, 
.row-corporate-red .page-header, 
.row-lightgrey .page-header {
  margin: 70px 0 21px;
  border-color: #e6e6e6;
}
.page-header {margin-top: 70px;}
.col-lightgrey .page-header, .row-lightgrey .page-header {top: 0;}

/* Oct 7th */
h1 + .tabselect-wrapper:not(:first-child) {
  position: relative;
  margin-top: -48px;
  float: right;
}
h2 + .tabselect-wrapper:not(:first-child) {
  position: relative;
  margin-top: -42px;
  float: right;
}
h3 + .tabselect-wrapper:not(:first-child) {
  position: relative;
  margin-top: -40px;
  float: right;
}

@media (max-width: 767px) {
  h1 + .tabselect-wrapper:not(:first-child) {margin-top: -35px;}
  h2 + .tabselect-wrapper:not(:first-child) {margin-top: -31px;}
  h3 + .tabselect-wrapper:not(:first-child) {margin-top: -34px;}
}

.btn-info-inverse, .btn-info-inverse:hover {
    background: #fff;
    color: #2dabff;
    border-color: #2dabff;
    margin-bottom: 0;
    border-radius: 1px;
}

blockquote footer p {
    display: inline;
}

body {overflow: hidden;}

/* Enlargeable */
.enlargeable em.enlarge {
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 0;
    height: auto;
    max-width: 100%;
    padding-right: 20px;
}

.enlargeable em.enlarge img {
    width: auto!important;
    margin: 0!important;
    float: right;
}

a.enlargeable {
    position: relative;
    display: table;
    margin: auto;
}

/* Tooltips in tables */
table [data-toggle="tooltip"]:after {content: '';display: block;width: 17px;height: 17px;background: url(/fileadmin/images/general/icon-tooltip.png) no-repeat;position: absolute;right: 5px;top: 50%;margin-top: -9px;}

table td {
    position: relative;
}

table .tooltip .tooltip-inner {
    background: #fff;
    color: #4a4a4a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
    padding: 10px 20px 20px 20px;
}

table .tooltip, table .tooltip.in {
    opacity: 1;
    padding: 0!important;
    margin: 0 0 -15px -30px!important;
    top: auto!important;
    bottom: 50%;
    left: 100%!important;
    min-width:200px;
}

table .tooltip .tooltip-arrow {
    display: none;
}

table [data-toggle="tooltip"] {
    width: 93%;
    display: inline-block;
    margin-right: 20px;
}

table [data-toggle="tooltip"][aria-describedby]:after {
    z-index: 9999;
    background-position: -19px 0;
}

/* Tables */
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.text-grey {
    color: #e4e4e4;
}

#search-field form {
    width: auto;
    padding: 0;
}


/* link-block styles (call, email and buttons ) */

.link-block .btn-group {
  width:100%;
}

.link-block .btn{
  width: 30%;
  float: left;
  padding-left:3px;
  padding-right:3px;
}

.link-block .btn .glyphicon {
  font-size: .7em;
}

.link-block .btn + .btn{
  margin-left: 5%;
}

.link-block .csc-textpic-intext-left-nowrap {
  float:left;
  margin-right:30px;
}

.link-block .csc-textpic-intext-left-nowrap p {
  margin-bottom: 0px;
  font-size: 20px;
  line-height:1em;
  color: #4a4a4a;
}

.link-block .csc-textpic-intext-left-nowrap p a {
  font-size: 15px;
  color: #09f;
}

@media(max-width:479px) {
  .link-block .btn {
    width: 100%;
    margin-bottom:20px;
  }
  .link-block .btn + .btn {
    margin-left:0px;
  }
}

@media(min-width:480px) and (max-width:600px) {
  .link-block .btn {
    font-size:10px;
  }
}

@media(min-width:601px) and (max-width:767px) {
  .link-block .btn {
    font-size:12px;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .link-block .btn {
    width: 100%;
    margin:0px 0px 20px;
  }
  .link-block .btn + .btn {
    margin-left:0px;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .link-block .btn {
    font-size:11px;
  }
}

@media(min-width:1200px) {
  .link-block .btn {
    font-size:13px;
  }
}