/* @license
 * MyFonts Webfont Build ID 2272703, 2012-05-04T14:15:07-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Congress Light by URW++
 * URL: http://www.myfonts.com/fonts/urw/congress/t-light/
 * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 * Licensed pageviews: unlimited
 * 
 * Webfont: Congress Bold by URW++
 * URL: http://www.myfonts.com/fonts/urw/congress/t-bold/
 * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro Extra Light by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/extra-light/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro Light Italic by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/light-italic/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro Bold by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/bold/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro Black by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/black/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro Light by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/light/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Sofia Pro by Mostardesign
 * URL: http://www.myfonts.com/fonts/mostardesign/sofia-pro/regular/
 * Copyright: Copyright (c) Olivier Gourvat - Mostardesign Studio, 2012. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Congress Regular by URW++
 * URL: http://www.myfonts.com/fonts/urw/congress/t-regular/
 * Copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
 * Licensed pageviews: unspecified
 * 
 * Webfont: Memimas Regular Ligatures by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/memimas/ligatures/
 * Copyright: Copyright (c) 1991-2005 Type-O-Tones. v 3.3 by Jose M. Uros &amp; Joan Barjau. Barcelona. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Memimas Medium Ligatures by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/memimas/medium-ligatures/
 * Copyright: Copyright (c) 1991-2004 Type-O-Tones. v 3.3 by Jose M. Uros &amp; Joan Barjau. Barcelona. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Memimas Medium by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/memimas/medium/
 * Copyright: Copyright (c) 1991-2005 Type-O-Tones. v 3.3 by Jose M. Uros &amp; Joan Barjau. Barcelona. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * Webfont: Memimas Regular by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/memimas/regular/
 * Copyright: Copyright (c) 1991-2005 Type-O-Tones. v 3.3 by Jose M. Uros &amp; Joan Barjau. Barcelona. All rights reserved.
 * Licensed pageviews: unspecified
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2272703
 * 
 * © 2012 Bitstream Inc
*/

/**
 * @license
 * MyFonts Webfont Build ID 3292658, 2016-10-06T16:53:14-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: MuseoSlab-700 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/700/
 * 
 * Webfont: MuseoSlab-300 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/300/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3292658
 * Licensed pageviews: Unlimited
 * Webfonts copyright: Copyright (c) 2009 by Jos Buivenga. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/



 @font-face {font-family: 'Congress-Lig';
 		src: url('webfonts/Congress-Lig.eot');
		src: url('webfonts/Congress-Lig.eot?#iefix') format('embedded-opentype'),
			url('webfonts/Congress-Lig.woff') format('woff'),
			url('webfonts/Congress-Lig.ttf') format('truetype');}
 
  
@font-face {
	font-family: 'Congress-Bol';
	src: url('webfonts/Congress-Bol.eot');
	src: url('webfonts/Congress-Bol.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Congress-Bol.ttf') format('truetype'),
		url('webfonts/Congress-Bol.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProExtraLight';
	src: url('webfonts/SofiaProExtraLight.eot');
	src: url('webfonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProExtraLight.ttf') format('truetype'),
		url('webfonts/SofiaProExtraLight.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProLight-Italic';
	src: url('webfonts/SofiaProLight-Italic.eot');
	src: url('webfonts/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProLight-Italic.ttf') format('truetype'),
		url('webfonts/SofiaProLight-Italic.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProBold';
	src: url('webfonts/SofiaProBold.eot');
	src: url('webfonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProBold.ttf') format('truetype'),
		url('webfonts/SofiaProBold.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProBlack';
	src: url('webfonts/SofiaProBlack.eot');
	src: url('webfonts/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProBlack.ttf') format('truetype'),
		url('webfonts/SofiaProBlack.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProLight';
	src: url('webfonts/SofiaProLight.eot');
	src: url('webfonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProLight.ttf') format('truetype'),
		url('webfonts/SofiaProLight.woff') format('woff');
	
}


@font-face {
	font-family: 'SofiaProRegular';
	src: url('webfonts/SofiaProRegular.eot');
	src: url('webfonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
		url('webfonts/SofiaProRegular.ttf') format('truetype'),
		url('webfonts/SofiaProRegular.woff') format('woff');
	
}


@font-face {
	font-family: 'Congress-Reg';
	src: url('webfonts/Congress-Reg.eot');
	src: url('webfonts/Congress-Reg.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Congress-Reg.ttf') format('truetype'),
		url('webfonts/Congress-Reg.woff') format('woff');
	
}


@font-face {
	font-family: 'Memimas-RegularLigatures';
	src: url('webfonts/Memimas-RegularLigatures.eot');
	src: url('webfonts/Memimas-RegularLigatures.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Memimas-RegularLigatures.ttf') format('truetype'),
		url('webfonts/Memimas-RegularLigatures.woff') format('woff');
	
}


@font-face {
	font-family: 'Memimas-MediumLigatures';
	src: url('webfonts/Memimas-MediumLigatures.eot');
	src: url('webfonts/Memimas-MediumLigatures.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Memimas-MediumLigatures.ttf') format('truetype'),
		url('webfonts/Memimas-MediumLigatures.woff') format('woff');
}


@font-face {
	font-family: 'Memimas-Medium';
	src: url('webfonts/Memimas-Medium.eot');
	src: url('webfonts/Memimas-Medium.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Memimas-Medium.ttf') format('truetype'),
		url('webfonts/Memimas-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Memimas-Regular';
	src: url('webfonts/Memimas-Regular.eot');
	src: url('webfonts/Memimas-Regular.eot?#iefix') format('embedded-opentype'),
		url('webfonts/Memimas-Regular.ttf') format('truetype'),
		url('webfonts/Memimas-Regular.woff') format('woff');
}

@font-face {
	font-family: 'MochaMattari';
	src: url('webfonts/MochaMattari.eot');
	src: url('webfonts/MochaMattari.eot?#iefix') format('embedded-opentype'),
	url('webfonts/MochaMattari.woff') format('woff'),
	url('webfonts/MochaMattari.ttf') format('truetype');
}

@font-face {font-family: 'MuseoSlab-700';
		src: url('webfonts/323DF2_0_0.eot');
		src: url('webfonts/323DF2_0_0.eot?#iefix') format('embedded-opentype'),
			url('webfonts/323DF2_0_0.woff2') format('woff2'),
			url('webfonts/323DF2_0_0.woff') format('woff'),
			url('webfonts/323DF2_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-300';
		src: url('webfonts/323DF2_1_0.eot');
		src: url('webfonts/323DF2_1_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/323DF2_1_0.woff2') format('woff2'),
		url('webfonts/323DF2_1_0.woff') format('woff'),
		url('webfonts/323DF2_1_0.ttf') format('truetype');}