@charset "utf-8";

html{
overflow-y:scroll;
overflow:-moz-scrollbars-vertical;
}
body{font-family:"돋움",Dotum,tahoma, arial;font-size:12px;color: #000;background:#fff;padding: 0px;margin:0px;}
body{*word-break:break-all;-ms-word-break:break-all;}
ul, ol, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, label, span, em, a, img
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}
ul { list-style-type: none; }

a {text-decoration: none; color: #000; outline: 0;}
a:hover 	{color:#ff1493; text-decoration: underline; }

A.menus:link {color: #000; text-decoration: none;}
A.menus:visited {color: #000; text-decoration: none;}
A.menus:hover {color: #000; text-decoration: underline;}
A.menus:active {color: #000; text-decoration: none;}



img{ border: none; }
h1,h2,h3{font-size:12px;text-align:left;font-weight:bold;}
h4,h5,h6{font-size:12px;text-align:left;}

em,address{font-style:normal;}
button,label{cursor:pointer;_cursor /**/:hand;}

html:first-child select{height:20px;padding-right:6px;}
option{padding-right:6px;}

.blind, legend{display:block;overflow:hidden;position:absolute;left:0;top:-5000px;}
hr{display:none;}
legend{*width:0;}


body,td,div,form,option,blockquote {font-size:12px;color:#000;font-family:"돋움",Dotum,tahoma, arial;line-height:160%;text-align:left;}
input{font-size:12px;color:#000;font-family:"돋움",Dotum,tahoma, arial;line-height:160%;}
/*textarea{font-size:12px;color:#000;font-family:"돋움",Dotum,tahoma, arial;line-height:160%;}*/
form{padding:0px; margin:0px;}
hr{display:none;}

.clear{clear:both;}

.cursor{cursor:pointer;}

#wrapper { 
 margin: 0 auto;
 width: 960px;
}
#header {
 width: 960px;
 float: left;
 padding: 0px;
 border: 0px;
 margin-bottom:5px;
 background: #fff;
}
#leftcolumn { 
 border: 0px;
 background: #fff;
 margin:0px;
 padding: 0px;
 width: 200px;
 float: left;
}
#rightcolumn { 
 float: right;
 border: 0px;
 background: #fff;
 margin:0px;
 padding: 0px;
 width: 755px;
 display: inline;
 position: relative;
}




.f_left{float:left;}
.f_right{float:right;}


#copyright{width:100%;position:bottom;clear:both;}
#rightcolumn #content_center{width:550px;float:left;background:#fff;margin-right:5px;}
#rightcolumn #content_right{width:200px;float:right;background:#fff;}



/*최상단 미니메뉴*/
.menu_top01{text-align:right;height:29px;width:960px;margin:0 auto;}
.top_l01{float:left;text-indent:1.2em;line-height:25px;}
#mini_gnb li{font:12px "돋움", Dotum; white-space:nowrap;}
#mini_gnb li a {text-decoration: none; color: #444; outline: 0;}
#mini_gnb li a:hover {color:#444; text-decoration: none; }

/*퀵메뉴*/
.quick_m{position:relative;width:960px;border:0;}
#gotop {
	position: absolute;
	left: 963px;
	top: 0px;
	background: #fff;
	width: 100px;
}

#gotop_left {
	position: absolute;
	left: -120px;
	top: 0px;
	background: #fff;
	width: 120px;
}



#headline{position:relative;width:100%;vertical-align:bottom;}
#headline #logo{float:left;width:225px;}


/*menu*/
.daumhide{visibility:hidden;position:absolute;top:-9999em;left:-9999em;width:1px;height:1px;line-height:0;overflow:hidden;}
.hsopan{visibility:hidden;position:absolute;top:-9999em;left:-9999em;width:1px;height:1px;line-height:0;overflow:hidden;}
#mimenu{position:relative;margin:auto;width:950px;background:url('/images2/Menu_Bg.jpg') no-repeat;padding-left:10px;}
#mimenu .menuns{height:36px;}
#mimenu .menuns dd{float:left;}

#mimenu .menuns .ma1{width:90px;height:36px;background:url('/images2/Menu01.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me1{width:90px;height:36px;background:url('/images2/Menu01.jpg') no-repeat;background-position:0 -36px;}
#mimenu .menuns .ma2{width:90px;height:36px;background:url('/images2/Menu02.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me2{width:90px;height:36px;background:url('/images2/Menu02.jpg') no-repeat;background-position:0 -36px;}

#mimenu .menuns .ma3{width:90px;height:36px;background:url('/images2/Menu03.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me3{width:90px;height:36px;background:url('/images2/Menu03.jpg') no-repeat;background-position:0 -36px;}

#mimenu .menuns .ma4{width:90px;height:36px;background:url('/images2/Menu04.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me4{width:90px;height:36px;background:url('/images2/Menu04.jpg') no-repeat;background-position:0 -36px;}

#mimenu .menuns .ma5{width:90px;height:36px;background:url('/images2/Menu05.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me5{width:90px;height:36px;background:url('/images2/Menu05.jpg') no-repeat;background-position:0 -36px;}

#mimenu .menuns .ma6{width:90px;height:36px;background:url('/images2/Menu06.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me6{width:90px;height:36px;background:url('/images2/Menu06.jpg') no-repeat;background-position:0 -36px;}
#mimenu .menuns .ma7{width:90px;height:36px;background:url('/images2/Menu07.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me7{width:90px;height:36px;background:url('/images2/Menu07.jpg') no-repeat;background-position:0 -36px;}

#mimenu .menuns .ma8{width:90px;height:36px;background:url('/images2/Menu08.jpg') no-repeat;background-position:0 0;}
#mimenu .menuns .me8{width:90px;height:36px;background:url('/images2/Menu08.jpg') no-repeat;background-position:0 -36px;}

.Mbt1{position:absolute;padding:17px 45px;text-align:center;height:1%;}
.Mbt2{position:absolute;padding:17px 40px;text-align:center;height:1%;}

/*서브메뉴*/
#mimenu dd ul {position:absolute; top:38px; display:none; white-space:nowrap;z-index:999;}
#mimenu dd ul li { float:left; width:auto; text-align:left;padding:5px 0; }
#mimenu dd ul li a{ display:inline;  padding:0; margin:0 10px; }


/*banner*/
.banner_topclass{border:0px solid #333;padding-top:25px;}/*최상단광고*/
.banner_ntopclass{text-align:right;}
.banner_top{float:right;border:0px solid #333;height:40px;line-height:40px;padding-top:10px;text-align:center;}
.banner_Main_google{padding-bottom:5px;text-align:center;}/*좌측상단*/
.banner_Main_left1{padding-bottom:5px;text-align:center;}/*좌측하단*/
.main_TAdcast{padding:5px 0;text-align:center;}/*센터상단*/
.main_Adcast{margin:5px 0;text-align:center;}/*센터중단*/
.banner_center2{margin:5px 0;text-align:center;}/*센터하단*/
.banner_right1{margin-bottom:5px;text-align:center;}/*메인우측상단*/

.banner_react03{clear:both;padding:5px 0;text-align:center;}
.banner_community02{clear:both;padding:5px 0;text-align:center;}

.google_icon{vertical-align:-7px;}

/*latest_center*/
.latest_center{border:1px solid #e4e4e4;}
.dayWather{background:#f2f2f2;padding:3px 0;text-indent:10px;}
.latest_7{position:relative;padding-left:130px;padding-top:5px;}
.ClatestLV{display:block;}
.ClatestLH{display:none;}

/*main_center L/R*/
.mTabL{float:left;width:270px;border:1px solid #e4e4e4;margin-bottom:5px;}
.mTabR{float:right;width:270px;border:1px solid #e4e4e4;margin-bottom:5px;}

/*community_center L/R*/
.cTabL{float:left;width:373px;border:1px solid #e4e4e4;margin-bottom:5px;}
.cTabR{float:right;width:373px;border:1px solid #e4e4e4;margin-bottom:5px;}

/*right_tab*/
.on_tabs{float:left;width:50%;background:#fff;text-align:center;padding:3px 0;}
.on_tabs h3{text-align:center;}
.off_tabs{float:left;width:50%;background:#ececec;text-align:center;padding:3px 0;}
.off_tabs h3{text-align:center;}
.on_tabs3{float:left;width:34%;background:#fff;text-align:center;padding:3px 0;}
.on_tabs3 h3{text-align:center;}
.off_tabs3{float:left;width:33%;background:#ececec;text-align:center;padding:3px 0;}
.off_tabs3 h3{text-align:center;}

.tabl_layer{width:100%;position:absolute;top:26px;left:0px;padding-top:3px;}


/*copyright*/
#Gcopyright{padding-top:5px;border-top:2px solid #c6c6c6;position:relative}
.copyright_ul{display:block;margin:0 auto;width:980px;}

.copyright_ul .copyright_meg{background:url('/img/logo_top02.gif') no-repeat 0 0;padding-left:200px;}
.copyright_ul .copyright_meg{color:#666;}
.copyright_logo{float:left;width:220px;height:57px;background:url('/img/logo_top02.gif') no-repeat;}
.copy_href{text-align:center;height:25px;vertical-align:top;}
.copy_href a{text-decoration: none;color:#000;}
.copy_href a:hover{text-decoration: underline;color:#ff1493;}



/*sub*/
.title_subt{text-indent:1em;border-bottom:2px solid #cecece;margin-top:10px;}
.sub_list_li01{clear:both;text-align:left;margin:12px 0;border-bottom:1px solid #ededed;line-height:160%;}
.sub_list_li_title{font-size:14px;}
.sub_list_li_date{font-size:11px;color:#017acf;}
.comment{color:#ff6600;}

.icon_imgp{vertical-align:-5px;}


/**/
.text4{padding:5px;text-align:center;font-weight:bold;color:#000;width:100px;}
.text_input4{border:1px solid #8888ff;height:23px;line-height:23px;}


.write_ul{line-height:160%;text-align:left;}
.write_ul li{line-height:160%;padding:3px;text-indent:1em;border-bottom:1px solid #d9d9d9;}
.write_ul li .winput{padding:5px 10px;text-indent:1.5em;border-left:1px solid #d9d9d9;}

.li_dot{background:url('/images2/li_dot.gif') no-repeat;background-position:3px 3px;height:21px;}

/*community latest*/
.websp_latest, .websp_latest h2, .websp_latest ul, .websp_latest li, .websp_latest p
{
	margin: 0px;
	padding: 0px;
}
.websp_latest img
{
	border: none;
}
.websp_latest
{
	padding-bottom: 5px;
	/*border-bottom: 1px dashed #E8E8E8;*/
	position: relative;
	overflow: hidden;
}


.websp_latest h1
{
color:#000;
font-size:16px;
}
.websp_latest h1 a
{
color:#000;
font-size:16px;
}
.websp_latest h1 a:hover
{
color:#ff1493;
font-size:16px;
text-decoration: underline;
}

.websp_latest h2
{
	padding: 5px 0px 2px 10px;
	/*background: url(<?=$latest_skin_path?>/img/dot.gif) no-repeat 10px 50%;*/
	border-bottom: 1px solid #EEE;
	overflow: hidden;
}

.websp_latest h2 a
{
	font: 12px Arial, Dodum;
	color: #000;
	text-decoration: none;
	font-weight:bold;
}
.websp_latest h2 a:hover
{
	font: 12px Arial, Dodum;
	color: #ff1493;
	text-decoration: none;
	font-weight:bold;
}

.websp_latest ul
{
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	list-style: none;
}
.websp_latest ul li
{
	padding: 0px;
	text-indent:10px;
	line-height: 20px;
	clear: both;
}

.websp_latest .websp_subject
{
	float: left;
}
.websp_latest .websp_subject a
{
	color: #000;
	text-decoration: none;
}
.websp_latest .websp_subject a:hover
{
	color: #ff1493;
	text-decoration: underline;
}

.websp_latest .websp_date
{
	float: right;
}

.websp_latest .websp_none
{
	text-align: center;
}

/* MORE */
.websp_latest .websp_more
{
	position: absolute;
	top: 5px;
	right: 10px;
}
/*community latest end*/

/*index latest1*/
.Mwebsp_latest, .Mwebsp_latest h2, .Mwebsp_latest ul, .Mwebsp_latest li, .Mwebsp_latest p
{
	margin: 0px;
	padding: 0px;
}
.Mwebsp_latest img
{
	border: none;
}
.Mwebsp_latest
{
	padding-bottom: 5px;
	position: relative;
	overflow: hidden;
}


.Mwebsp_latest h1
{
color:#444;
font-size:16px;
}
.Mwebsp_latest h1 a
{
color:#444;
font-size:16px;
}
.Mwebsp_latest h1 a:hover
{
color:#ff1493;
font-size:16px;
text-decoration: underline;
}

.Mwebsp_latest h2
{
	padding: 5px 0px 2px 10px;
	/*background: url(<?=$latest_skin_path?>/img/dot.gif) no-repeat 10px 50%;*/
	border-bottom: 1px solid #EEE;
	overflow: hidden;
}

.Mwebsp_latest h2 a
{
	font: 12px Arial, Dodum;
	color: #444;
	text-decoration: none;
	font-weight:bold;
}
.Mwebsp_latest h2 a:hover
{
	font: 12px Arial, Dodum;
	color: #ff1493;
	text-decoration: none;
	font-weight:bold;
}


.Mwebsp_latest ul
{
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	list-style: none;
}
.Mwebsp_latest ul li
{

	padding: 0px;
	text-indent:10px;
	line-height: 20px;
	clear: both;
}


.Mwebsp_latest .websp_subject
{
	float: left;
}
.Mwebsp_latest .websp_subject a
{
	color: #000;
	text-decoration: none;
}
.Mwebsp_latest .websp_subject a:hover
{
	color: #ff1493;
	text-decoration: underline;
}


.Mwebsp_latest .websp_date
{
	float: right;
}

.Mwebsp_latest .websp_none
{
	text-align: center;
}

/* MORE */
.Mwebsp_latest .websp_more
{
	position: absolute;
	top: 5px;
	right: 10px;
}
/*index latest1 end*/

/*뉴스 카테고리*/
.ca_nameNews{color:#339900;}


/*퀵광고*/
.qbane{margin-top:5px;border:1px solid #f0f0f0;clear:both;}


/*comment count*/
.commentCount{font-family:Tahoma,verdana;font-size:7pt;color:#fa8072;letter-spacing:0px;}



/*블라인드*/
.blind{color:#d0d0d0;}
.blind_subj{color:#d0d0d0;}
.Blind_txt{color:#ff6600;display:inline-block;background:url(/main/img/icon_singo.gif) no-repeat;background-position:left center;text-indent:20px;cursor:pointer;}
.Blind_vcontent{color:#ff6600;display:inline-block;background:url(/main/img/icon_singo.gif) no-repeat;background-position:left center;padding-left:20px;}