
#websp_login, #websp_login fieldset, #websp_login legend, #websp_login label, #websp_login input, #websp_login ul, #websp_login li, #websp_login2
{
	margin: 0px;
	padding: 0px;
}
#websp_login
{
	width: 100%;
	height: 107px;
	position: relative;
}
#websp_login fieldset
{
	padding: 0px 10px;
	border: 1px solid #CFD5E2;
	padding-top:5px;/**/
}
#websp_login fieldset legend
{

	font-size:0px;
}
#websp_login label
{
	display: none;
	margin-top: 2px;
	padding-top: 3px;
	padding-right: 2px;
	width: 23px;
	height: 19px;
	text-align: right;
	float: left;
	clear: both;
}
#websp_login .websp_id
{
	margin-top: 2px;
	width: 112px;
	height: 17px;
	background: url('../img/id_bg.gif') no-repeat center 50%;
	border: 1px solid #CCC;
	padding-top:3px;
}
#websp_login .websp_password
{
	margin-top: 2px;
	width: 112px;
	height: 17px;
	background: url('../img/password_bg.gif') no-repeat center 50%;
	border: 1px solid #CCC;
	padding-top:3px;
	
}
#websp_login .websp_txt
{
	margin-top: 2px;
	width: 112px;
	height: 17px;
	color: #222;
	border: 1px solid #CCC;
	padding-top:3px;
}

#websp_login a
{
	color: #222;
}
#websp_login a:hover
{
	color: #C00;
}

#websp_login .login_btn
{
	height: 46px;
	vertical-align: top;
	position: absolute;
	top: 7px;
	right: 10px;
}
#websp_login .websp_btn
{
	margin-top: 5px;
	padding-top: 3px;
	width: 50px;
	height: 22px;
	font: 11px ,dotum;
	color: #666;
	background: #F9F9F9;
	border: 1px solid #DDD;
}
#websp_login .login_btn
{
	_top: 19px;
	_right: 10px;
}


#websp_login ul
{
	margin-top: 5px;
	padding-left: 30px;
	padding-bottom: 5px;
	list-style: disc;
}


#websp_login2
{
	width: 100%px;
	height: 120px;
	padding: 10px;
	line-height: 15px;
	border: 1px solid #CFD5E2;
	margin-bottom:7px;
}
#websp_login2 span, #websp_login2 span a
{
	color: #63F;
	font-weight: bold;
}
#websp_login2 p
{
	padding-top: 3px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #CCC;
}

.loginuls2{margin-left:70px;height:80px;}
.loginuls2 img{margin:0;padding:0;vertical-align:top;}
.loginuls2 li{height:23px;line-height:23px;width:105px;}