.learn-wrap ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.learn-wrap ul li {
		padding: 5px 10px;
		font-size: 15px;
	}

	.learn-wrap ul li.selected {
		background: #F1F1F1;
	}
	
	.learn-wrap ul li.selected .time {
		background: #E55;
		color: #FFF;
	}

/**
 * Dekstop Site
 **/
body.desktop .learn-wrap {
	width: 1000px;
	margin: 0 auto;
}

body.desktop .learn-wrap h1 {
	padding: 0;
	margin: 0;
}

body.desktop .learn-subject {
	margin-bottom: 60px;
}

	body.desktop .learn-subject-summary {
		width: 230px;
		margin-right: 10px;
		vertical-align: top;
		display: inline-block;
	}
	
	body.desktop .learn-subject-lesson {
		width: 755px;
		vertical-align: top;
		display: inline-block;
	}
	
		body.desktop .learn-subject-lesson-list {
			vertical-align: top;
			display: inline-block;
			width: 375px;
		}
		
		body.desktop .learn-subject-lesson strong {
			display: block;
			font-size: 18px; 
			margin-bottom: 15px;
		}
		
		body.desktop .learn-wrap .time {
			border-radius:5px; 
			display:inline-block; 
			width:50px; 
			background:#F1F1F1; 
			text-align:right; 
			font-size:14px; 
			padding:2px 10px 2px 0px; 
			vertical-align:middle;
			margin-right: 5px;
		}


body.desktop .learn-video {
	display:inline-block; 
	width:570px; 
	vertical-align:top;
}

body.desktop .learn-video-right {
	display:inline-block; 
	width:390px; 
	vertical-align:top;
	padding-left: 20px;
}

	body.desktop .learn-video h1, body.desktop .learn-video-right h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	
body.desktop .book-content {
	min-height:500px; 
	background:#FFF; 
	vertical-align:top; 
	padding-right:70px; 
	border-right:1px solid #EEE; 
	display:inline-block; 
	width:600px; 
	margin:0 auto; 
	padding-top:30px;
}

body.desktop .book-pages {
	width:300px; 
	display:inline-block; 
	vertical-align:top; 
	padding-top:30px; 
	padding-left:25px
}

	body.desktop .book-pages ol {
		padding: 0 0 0 10px; margin: 0;
		list-style-position: inside;
	}
	
	body.desktop .book-pages ol li {
		padding: 7px 0;
		color: #00E;
	}
	
/**
 * Mobile Site
 **/
body.mobile .learn-wrap h1 {
	font-size: 24px;
}

	body.mobile .learn-subject-summary {
		padding: 10px;
	}
	
	body.mobile .learn-subject-lesson {
		padding: 10px;
	}
	
		body.mobile .learn-subject-lesson-list {
			margin-top: 10px;
		}
		
		body.mobile .learn-subject-lesson strong {
			display: block;
			font-size: 18px; 
			margin-bottom: 15px;
		}
		
		body.mobile .learn-wrap .time {
			border-radius:5px; 
			display:inline-block; 
			width:50px; 
			background:#F1F1F1; 
			text-align:right; 
			font-size:14px; 
			padding:2px 10px 2px 0px; 
			vertical-align:middle;
			margin-right: 5px;
		}
		
body.mobile .learn-video-right {
	border-top: 1px solid #EEE;
}

body.mobile .learn-video-right h1 {
        font-size: 18px;
        margin-bottom: 10px;
}