@charset "UTF-8";
/*
==================================================
Reset, Base
==================================================
*/
/*
--------------------------------------------------
@:Reset Style
--------------------------------------------------
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

nav, ol, ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea {
  line-height: 1.231;
  color: #000000;
  font-family: Meiryo,'Hiragino Kaku Gothic ProN', sans-serif;
  font-family: 'MS PGothic', arial, sans-serif\0/;
  font-size: 13px;
}

select,
input,
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: top;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, cite {
  font-style: normal;
}

table, th, td {
  border: none;
}

fieldset {
  border: none;
}

fieldset legend {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

input,
button,
textarea {
  border: 0;
}

/*
--------------------------------------------------
@:Default Style
--------------------------------------------------
*/
body {
  line-height: 1.231;
  color: #000000;
  font-family: Meiryo,'Hiragino Kaku Gothic ProN', sans-serif;
  font-family: 'MS PGothic', arial, sans-serif\0/;
  font-size: 13px;
}

a:link, a:visited {
  color: #424242;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #424242;
}
a:hover:link, a:hover:visited, a:hover:hover, a:hover:active, a:hover:focus, a:active:link, a:active:visited, a:active:hover, a:active:active, a:active:focus, a:focus:link, a:focus:visited, a:focus:hover, a:focus:active, a:focus:focus {
  text-decoration: underline;
}

/*
==================================================
Layout
==================================================
*/
/*
--------------------------------------------------
@:Body, LyWrap
--------------------------------------------------
*/
body {
  min-width: 940px;
  background: #ffffff;
}
body.bgGray01 {
  background: #f9f9f9;
}

.LyWrap {
  position: relative;
  width: 100%;
}

/*
--------------------------------------------------
@:Header
--------------------------------------------------
*/
.LyHead {
  position: relative;
  border-bottom: 3px solid #0088e7;
  width: 100%;
  background: #ffffff;
}
.LyHead .lyHeadInner {
  width: 940px;
  height: 57px;
  margin: 0 auto;
}
.LyHead .lyHeadInner:after {
  content: "";
  display: block;
  clear: both;
}
.LyHead.lyHeadSimple01 {
  border-bottom: 2px solid #0088e7;
}
.LyHead.lyHeadSimple01 .lyHeadInner {
  height: 50px;
}

/*
--------------------------------------------------
@:Footer
--------------------------------------------------
*/
.LyFoot {
  width: 940px;
  margin: 20px auto 17px;
}
.LyFoot.lyFootSimple01 {
  text-align: center;
}

/*
--------------------------------------------------
@:Contents
--------------------------------------------------
*/
.LyContents {
  overflow: hidden;
  background: #ffffff;
}

.LyMain {
  width: 940px;
  margin: 0 auto;
}

.LyCol:after {
  content: "";
  display: block;
  clear: both;
}
.LyCol .lyColL {
  float: left;
  width: 649px;
  padding-right: 34px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.LyCol .lyColR {
  float: right;
  width: 290px;
  padding-left: 35px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #eeeff0;
}

/*
==================================================
Extend
==================================================
*/
.LyFoot:after, .MdGFT02Link .mdGFT02Ul:after {
  content: "";
  display: block;
  clear: both;
}

.MdGHD01Logo .mdGHD01Livedoor, .MdGHD01Logo .mdGHD01Blog, .MdGHD03Link.mdGHD03LinkP02 li a, .MdCMN01Slide .slidesjs-pagination a, .MdCMN02Item .mdCMN02List li:before, .MdMoreLink01 a:before, .MdIco01, .MdList06 .mdList06Ul li .mdList06New {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
}

.MdGHD01Logo .mdGHD01Livedoor, .MdGHD01Logo .mdGHD01Blog, .MdGHD03Link.mdGHD03LinkP02 li a, .MdCMN01Slide .slidesjs-pagination a, .MdCMN02Item .mdCMN02List li:before, .MdMoreLink01 a:before, .MdIco01, .MdList06 .mdList06Ul li .mdList06New {
  background-image: url(/blog_portal/pc/img/v2/sprite.png);
}

/*
==================================================
Module
==================================================
*/
/*
--------------------------------------------------
from njlib-private/_style-mixin-module.scss
--------------------------------------------------
*/
/* @:MdCF */
.MdCF:after {
  content: "";
  display: block;
  clear: both;
}

/* @:MdHide */
.MdHide {
  position: absolute;
  left: -9999px;
}

/* @:MdNonDisp */
.MdNonDisp {
  display: none !important;
}

/* @:MdFont */
.MdFontB {
  font-weight: bold !important;
}

.MdFontN {
  font-weight: normal !important;
}

/* @:Link Style */
.MdLink01, .MdLink01:link, .MdLink01:visited, .MdLink01:hover, .MdLink01:active, .MdLink01:focus {
  text-decoration: underline !important;
}

.MdLink02, .MdLink02:link, .MdLink02:visited, .MdLink02:hover, .MdLink02:active, .MdLink02:focus {
  text-decoration: none !important;
}

.MdLink03, .MdLink03:link, .MdLink03:visited {
  text-decoration: underline !important;
}
.MdLink03:hover, .MdLink03:active, .MdLink03:focus {
  text-decoration: none !important;
}

.MdLink04, .MdLink04:link, .MdLink04:visited {
  text-decoration: none !important;
}
.MdLink04:hover, .MdLink04:active, .MdLink04:focus {
  text-decoration: underline !important;
}

/*
--------------------------------------------------
基本style
--------------------------------------------------
*/
/* @:MdMargin */
/*
--------------------------------------------------
Text
--------------------------------------------------
*/
/* @:MdSeparator */
/* @:MdColor */
/*
--------------------------------------------------
List
--------------------------------------------------
*/
/*
--------------------------------------------------
Form
--------------------------------------------------
*/
/*
--------------------------------------------------
Button, Icon
--------------------------------------------------
*/
/*
 * @:MdBtn{nn}{ActionName}{nn}
 */
/* @:MdBtn01{ActionName}{nn} : 画像のみのボタン */
/* @:MdBtn02{ActionName}{nn} : アイコン＋テキスト のボタン */
/* @:MdBtn03{ActionName}{nn} : CSSでボタンの装飾をしたボタン */
/*
--------------------------------------------------
@:GHD Module
--------------------------------------------------
*/
.MdGHD01Logo {
  position: absolute;
  top: 12px;
}
.MdGHD01Logo .mdGHD01Livedoor {
  width: 84px;
  height: 32px;
  background-position: 0px -36px;
}
.MdGHD01Logo .mdGHD01Blog {
  margin-left: 1px;
  width: 96px;
  height: 32px;
  background-position: 0px 0px;
}
.lyHeadSimple01 .MdGHD01Logo {
  top: 15px;
}
.lyHeadSimple01 .MdGHD01Logo .mdGHD01Livedoor {
  width: 63px;
  height: 23px;
  background-position: -100px 0px;
}
.lyHeadSimple01 .MdGHD01Logo .mdGHD01Blog {
  width: 72px;
  height: 23px;
  background-position: 0px -72px;
}

.MdGHD02Nav {
  float: left;
  margin: 20px 0 0 210px;
}
.MdGHD02Nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.MdGHD02Nav ul li {
  font-size: 16px;
  margin-left: 34px;
  float: left;
}
.MdGHD02Nav ul li:first-child {
  margin-left: 0;
}
.MdGHD02Nav ul li a {
  display: block;
  color: #616161;
}
.MdGHD02Nav ul li a:hover, .MdGHD02Nav ul li a:active, .MdGHD02Nav ul li a:focus {
  color: #0088e7;
  font-weight: bold;
  text-decoration: none;
}
body:not(:-moz-handler-blocked) .MdGHD02Nav ul li a:hover, body:not(:-moz-handler-blocked) .MdGHD02Nav ul li a:active, body:not(:-moz-handler-blocked) .MdGHD02Nav ul li a:focus {
  font-weight: normal;
  text-shadow: 0px 0.5px 0px #0088e7, 0px -0.5px 0px #0088e7;
}

.MdGHD03Link {
  margin-top: 21px;
  float: right;
}
.MdGHD03Link:after {
  content: "";
  display: block;
  clear: both;
}
.MdGHD03Link li {
  font-size: 14px;
  float: left;
}
.MdGHD03Link li:first-child {
  margin-left: 0;
}
.MdGHD03Link li a {
  color: #757575;
}
.MdGHD03Link.mdGHD03LinkP02 {
  margin-top: 16px;
}
.MdGHD03Link.mdGHD03LinkP02 li {
  margin-left: 23px;
}
.MdGHD03Link.mdGHD03LinkP02 li.mdGHD03Tw01 a {
  width: 19px;
  height: 19px;
  background-position: -123px -27px;
}
.MdGHD03Link.mdGHD03LinkP02 li.mdGHD03Fb01 a {
  width: 19px;
  height: 19px;
  background-position: -100px -27px;
}

/*
--------------------------------------------------
@:GFT Module
--------------------------------------------------
*/
.MdGFT01Copy {
  float: left;
  margin-right: 20px;
  color: #757575;
  font-size: 11px;
}
.MdGFT01Copy b {
  font-weight: normal;
}
.lyFootSimple01 .MdGFT01Copy {
  float: none;
  margin-right: 0;
}

.MdGFT02Link {
  float: left;
}
.MdGFT02Link li {
  float: left;
  margin-left: 10px;
}
.MdGFT02Link li:first-child {
  margin-left: 0;
}
.MdGFT02Link .mdGFT02Ul {
  display: inline-block;
  vertical-align: top;
}
.MdGFT02Link .mdGFT02Ul a {
  color: #757575;
}
.MdGFT02Link .mdGFT02Ul .mdGFT02Separator {
  display: inline-block;
  width: 0;
  height: 12px;
  overflow: hidden;
  margin: 0 5px 0 8px;
  border-left: 1px solid #cdcdcd;
  vertical-align: -2px;
}

.MdGFT03Share {
  float: right;
}
.MdGFT03Share ul li {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}

/*
==================================================
Contents Specific Style
==================================================
*/
.MdBox01 {
  margin: 0 0 50px;
}

.MdBox02 {
  border: 1px solid green;
}

.MdBox03 {
  border: 1px solid cyan;
}

.MdBox04 {
  border: 1px solid mediumpurple;
}

.MdCMN01Slide .mdCMN01Ul {
  position: relative;
  height: 360px;
  overflow: hidden;
}
.MdCMN01Slide .mdCMN01Ul .mdCMN01Item {
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0%;
}
.MdCMN01Slide .mdCMN01Ul a {
  width: 100%;
  height: 100%;
  display: block;
}
.MdCMN01Slide .slidesjs-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
  z-index: 11;
}
.MdCMN01Slide .slidesjs-pagination li {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 16px;
}
.MdCMN01Slide .slidesjs-pagination li:first-child {
  margin-left: 0;
}
.MdCMN01Slide .slidesjs-pagination a {
  vertical-align: bottom;
  width: 12px;
  height: 10px;
  background-position: -114px -67px;
}
.MdCMN01Slide .slidesjs-pagination a.active {
  width: 11px;
  height: 10px;
  background-position: -130px -67px;
}

.MdCMN02Item:after {
  content: "";
  display: block;
  clear: both;
}
.MdCMN02Item .mdCMN02Img {
  margin-right: 35px;
  float: left;
}
.MdCMN02Item .mdCMN02Txt {
  width: 285px;
  float: left;
}
.MdCMN02Item .mdCMN02Cnt {
  display: block;
  color: #000000;
  float: left;
}
.MdCMN02Item .mdCMN02Cnt:hover, .MdCMN02Item .mdCMN02Cnt:active, .MdCMN02Item .mdCMN02Cnt:focus {
  opacity: 0.5;
  -ms-filter: "alpha(opacity=50)";
}
.MdCMN02Item .mdCMN02CntTtl {
  margin-top: -4px;
  font-size: 30px;
  line-height: 1.35;
}
.MdCMN02Item .mdCMN02CntInfo {
  margin-top: 13px;
  font-size: 13px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdCMN02Item .mdCMN02CntTxt {
  margin-top: 16px;
  line-height: 1.35;
  font-size: 14px;
}
.MdCMN02Item .mdCMN02List {
  margin-left: 35px;
  margin-top: -5px;
  width: 290px;
  float: left;
}
.MdCMN02Item .mdCMN02List li {
  line-height: 27px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdCMN02Item .mdCMN02List li:before {
  content: 'ㅤ';
  vertical-align: 4px;
  width: 3px;
  height: 3px;
  background-position: -158px -27px;
}
.MdCMN02Item .mdCMN02List a {
  color: #000000;
}
.MdCMN02Item .mdCMN02List .mdIcoNew01 {
  margin-left: 6px;
  vertical-align: -1px;
}

.MdCMN03Notice .mdCMN03Ul {
  border-bottom: 1px solid #f2f2f2;
}
.MdCMN03Notice .mdCMN03Ul li {
  border-top: 1px solid #f2f2f2;
}
.MdCMN03Notice .mdCMN03Ul li:after {
  content: "";
  display: block;
  clear: both;
}
.MdCMN03Notice .mdCMN03Time {
  margin: 19px 24px 19px 0;
  float: left;
  font-size: 13px;
  color: #999999;
}
.MdCMN03Notice .mdCMN03Ttl {
  margin: 18px 0 19px 0px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdCMN03Notice .mdCMN03Ttl a {
  color: #424242;
}

.MdCMN04Link {
  text-align: center;
  margin: 35px 0;
}
.MdCMN04Link .mdCMN04Ttl {
  font-size: 16px;
  margin-right: 43px;
  color: #000;
  display: inline-block;
}
.MdCMN04Link .mdCMN04Ul {
  display: inline-block;
}
.MdCMN04Link .mdCMN04Ul li {
  display: inline-block;
}
.MdCMN04Link .mdCMN04Ul li a {
  color: #909090;
  font-size: 15px;
}

.MdHead01 {
  position: relative;
  margin: 41px 0 33px;
}
.MdHead01:after {
  content: "";
  display: block;
  clear: both;
}
.MdHead01 .MdTtl01,
.MdHead01 .MdTtl02,
.MdHead01 .MdTab01 {
  float: left;
}
.MdHead01 .MdMoreLink01 {
  margin-top: 14px;
}
.MdHead01 .MdTab01 {
  margin-left: 20px;
  margin-top: 13px;
}

.MdHead02 {
  position: relative;
  margin: 47px 0 33px;
}
.MdHead02:after {
  content: "";
  display: block;
  clear: both;
}
.MdHead02 .MdTtl01,
.MdHead02 .MdTtl02 {
  float: left;
}
.MdHead02 .MdMoreLink01 {
  margin-top: 8px;
}

.MdTab01 {
  font-size: 15px;
}
.MdTab01:after {
  content: "";
  display: block;
  clear: both;
}
.MdTab01 li {
  float: left;
}
.MdTab01 a {
  color: #888888;
  cursor: pointer;
}
.MdTab01 .ExSelected a {
  color: #0088e7;
  font-weight: bold;
  text-decoration: none;
}

.MdTtl01 {
  font-size: 28px;
}

.MdTtl02 {
  font-size: 24px;
}

.MdBtn01 a {
  display: block;
  width: 461px;
  height: 51px;
  line-height: 51px;
  border: 1px solid #e6e6e6;
  text-align: center;
  margin: 70px auto;
  cursor: pointer;
}

.MdMoreLink01 {
  float: right;
}
.MdMoreLink01 a {
  color: #616161;
  font-size: 15px;
  position: relative;
  padding-right: 16px;
}
.MdMoreLink01 a:before {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.48em;
  content: 'ㅤ';
  vertical-align: top;
  width: 8px;
  height: 14px;
  background-position: -146px -27px;
}

.MdBorderInner01 {
  position: relative;
}
.MdBorderInner01:before {
  content: "";
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.MdIco01 {
  vertical-align: top;
}
.MdIco01.mdIcoNew01 {
  width: 13px;
  height: 13px;
  background-position: -100px -50px;
}
.MdIco01.ico_arrow01 {
  width: 8px;
  height: 14px;
  background-position: -146px -27px;
}
.MdIco01.mdIcoStatus01 {
  width: 10px;
  height: 12px;
  background-position: -149px -50px;
}
.MdIco01.mdIcoStatus02 {
  width: 10px;
  height: 12px;
  background-position: -100px -67px;
}
.MdIco01.mdIcoStatus03 {
  width: 10px;
  height: 12px;
  background-position: -135px -50px;
}

.MdRank01 {
  position: absolute;
  top: 56px;
  left: 56px;
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: #bcbfce;
  line-height: 24px;
}
.MdRank01.rank1, .MdRank01.rank2, .MdRank01.rank3 {
  Background: #0088e7;
}

.MdList01 .mdList01Ul {
  margin-left: -35px;
  margin-bottom: -30px;
}
.MdList01 .mdList01Ul li {
  width: 290px;
  margin-bottom: 30px;
  margin-left: 35px;
  display: inline-block;
  vertical-align: top;
}

.MdList02 {
  min-height: 500px;
}
.MdList02 .mdList02Ul {
  margin-right: -35px;
  margin-top: -25px;
}
.MdList02 .mdList02Ul:after {
  content: "";
  display: block;
  clear: both;
}
.MdList02 .mdList02Ul li {
  float: left;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 25px;
  width: 280px;
}
.MdList02 .mdList02Ul li:nth-child(2n+1) {
  clear: left;
  margin-right: 35px;
  margin-left: 0;
}
.MdList02 .mdList02Ul li .mdList02LiOdd {
  clear: left;
}

.MdList03 .mdList03Ul {
  min-height: 504px;
}
.MdList03 li {
  margin-top: 21px;
}
.MdList03 li:first-child {
  margin-top: 0px;
}

.MdList04 li {
  margin-top: 22px;
}
.MdList04 li:first-child {
  margin-top: 0px;
}

.MdList05 .mdList05Ul {
  display: table;
}
.MdList05 .mdList05Ul li {
  width: 129px;
  display: table-cell;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 33px;
}
.MdList05 .mdList05Ul li:last-child {
  margin-right: 0;
}

.MdList06 .mdList06Ul li {
  width: 227px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  border-radius: 2px;
}
.MdList06 .mdList06Ul li .mdList06Ttl {
  margin: 17px 18px 0;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  line-height: 22px;
}
.MdList06 .mdList06Ul li .mdList06Thumb {
  max-height: 425px;
  overflow: hidden;
}
.MdList06 .mdList06Ul li .mdList06Desc {
  margin: 10px 18px 0;
  font-size: 13px;
  color: #676767;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.MdList06 .mdList06Ul li .mdList06Time {
  margin: 10px 18px 17px;
  font-size: 12px;
  color: #a2a2a2;
}
.MdList06 .mdList06Ul li .mdList06New {
  width: 14px;
  height: 13px;
  background-position: -117px -50px;
  margin-left: 5px;
}

.MdItem01 {
  border: 1px solid #f2f2f2;
}
.MdItem01 .mdItem01Img {
  width: 288px;
}
.MdItem01 .mdItem01Img img {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.MdItem01 a {
  color: #000000;
}
.MdItem01 .mdItem01EntryImg,
.MdItem01 .mdItem01EntryTxt {
  display: table-cell;
  vertical-align: top;
}
.MdItem01 .mdItem01Ttl {
  padding: 24px 15px 0;
  height: 81px;
  font-size: 15px;
  line-height: 1.3;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.MdItem01 .mdItem01EntryTxt {
  padding-left: 15px;
}
.MdItem01 .mdItem01Entry {
  height: 60px;
  margin-bottom: 15px;
  padding: 0 15px;
}
.MdItem01 .mdItem01EntryTtl {
  margin-top: -2px;
  font-size: 13px;
  line-height: 1.5;
}
.MdItem01 .mdItem01EntryTime {
  margin-top: 6px;
  font-size: 11px;
  color: #aaa;
}

.MdItem02 {
  position: relative;
  vertical-align: top;
  width: 289px;
}
.MdItem02 .mdItem02Img {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.MdItem02 .mdItem02Ttl {
  display: table-cell;
  padding-left: 15px;
}
.MdItem02 .mdItem02TtlTxt01 {
  font-size: 15px;
  line-height: 1.5;
}
.MdItem02 .mdItem02TtlTxt01 a {
  color: #424242;
}
.MdItem02 .mdItem02TtlTxt02 {
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MdItem02 .mdItem02TtlTxt02 a {
  color: #999999;
}

.MdItem03 .mdItem03Ttl {
  font-size: 15px;
  line-height: 1.5;
  height: 2.99em;
  overflow: hidden;
}
.MdItem03 .mdItem03Ttl a {
  color: #424242;
}
.MdItem03 .mdItem03Time01 {
  margin-top: 6px;
  font-size: 11px;
  color: #ff5252;
}
.MdItem03 .mdItem03Time01 a {
  color: #b9b9b9;
}

.MdItem04 a {
  display: block;
}
.MdItem04 .mdItem04Img {
  position: relative;
  display: table-cell;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.MdItem04 .mdItem04Ttl {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1.4;
}
.MdItem04 .mdItem04Ttl a {
  display: block;
  color: #424242;
}

.MdItem05 .mdItem05Ttl {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 13px;
}
.MdItem05 .mdItem05Img {
  display: table-cell;
  width: 129px;
}
.MdItem05 .mdItem05Img img {
  width: 129px;
  vertical-align: bottom;
}
.MdItem05 .mdItem05Link {
  font-size: 13px;
  margin-top: 5px;
}
.MdItem05 .mdItem05Link a {
  color: #a6a6a6;
}
.MdItem05 > a:link, .MdItem05 > a:visited, .MdItem05 > a:hover, .MdItem05 > a:active, .MdItem05 > a:focus {
  text-decoration: none;
}
.MdItem05 > a:hover .mdItem05Ttl:link, .MdItem05 > a:hover .mdItem05Ttl:visited, .MdItem05 > a:hover .mdItem05Ttl:hover, .MdItem05 > a:hover .mdItem05Ttl:active, .MdItem05 > a:hover .mdItem05Ttl:focus {
  text-decoration: underline;
}

.MdHLine01 {
  border-top: 1px solid #eeeff0;
  width: 100%;
  padding: 0 500%;
  margin: 0 -500%;
}
.MdHLine01.mdHLine01Auto {
  padding: 0;
  margin: 0;
}

.MdVLine01 {
  display: inline-block;
  margin-right: 6px;
  margin-left: 6px;
  color: #eeeff0;
  vertical-align: 1px;
  vertical-align: 0px;
}

.MdVLine02 {
  display: inline-block;
  margin-right: 8px;
  margin-left: 10px;
  color: #e4e5e5;
  vertical-align: 1px;
  vertical-align: 0px;
}

.MdVLine04 {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  color: #eeeff0;
  vertical-align: 1px;
  vertical-align: 0px;
}
