.dCampCountdown {
	text-align: center;
	margin: 25px 0;
}

.dCampCountdown p {
	margin: 0;
}

.dCampCountdown .showCountDown {
	font-size: 25px;
	color: #0f0f0f;
	display: none;
	margin: 0 0 10px 0!important;
	line-height: 100% !important;
}

.dCampCountdown .showCountDown span {
	font-size: 29px;
	color: #0f0f0f;
	display: inline-block;
	width: 1.2em;
	line-height: 100% !important;
}

.dCampCountdown .showEndDate {
	margin: 0 !important;
	font-size: 18px;
	color: #0f0f0f !important;
	line-height: 100% !important;
}
.dCampCountdown .notShowCount {
	font-size: 24px;
	color: #0f0f0f;
	line-height: 100% !important;
}