/* reset */
#mainVisualSlider p,
#mainVisualSlider ul,
#mainVisualSlider li {
	margin: 0;
	padding: 0;
}
#mainVisualSlider ul {
	list-style-type: none;
}
#mainVisualSlider a img {
	border: 0;
}

/* conainer */
#mainVisualSliderWrap {
	position: relative;
	min-width: 950px;
	height: 288px;
	overflow: hidden;
}
#mainVisualSlider {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1240px;
	margin-left: -620px;
	background-color: #fff;
	text-align: center;
}

/* main */
#mainVisualSlider .main {
	position: relative;
	height: 222px;
	overflow: hidden;
	text-align: left;
}
#mainVisualSlider .main .border {
	position: absolute;
	top: 17px;
	left: 50%;
	width: 706px;
	height: 192px;
	margin: 0 0 0 -360px;
	background-color: #ffffff;
	border: 6px solid #4b4b4b;
	z-index: 1;
}
#mainVisualSlider .main ul {
	position: absolute;
	top: 23px;
	left: 266px;
	height: 192px;
	zoom: 1;
	white-space: nowrap;
	overflow: hidden;
	z-index: 2;
}
#mainVisualSlider .main ul:after {
	display: block;
	content: "";
	clear: both;
}
#mainVisualSlider .main li {
	float: left;
	margin: 0 22px 0 0;
	padding: 0;
}
#mainVisualSlider .main li img {
	width: 706px;
	height: 192px;
}
#mainVisualSlider .main .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 3;
}
#mainVisualSlider .main .cover p {
	position: absolute;
	top: 0;
}
#mainVisualSlider .main .cover .coverLeft {
	left: 0;
	width: 245px;
	height: 222px;
	background: url('http://cache.img.gmo.jp/onamae/images/mainVisual_slider_left.png') repeat-y left center;
}
#mainVisualSlider .main .cover .coverRight {
	right: 0;
	width: 245px;
	height: 222px;
	background: url('http://cache.img.gmo.jp/onamae/images/mainVisual_slider_right.png') repeat-y right center;
}
#mainVisualSlider .main .button {
	position: absolute;
	top: 0;
	left: 50%;
	width: 750px;
	margin: 0 0 0 -375px;
	height: 0;
	z-index: 4;
}
#mainVisualSlider .main .button p {
	position: absolute;
	top: 0;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#mainVisualSlider .main .button .next {
	left: 710px;
}
#mainVisualSlider .main .button .prev {
	right: 710px;
}
#mainVisualSlider .main .button p a {
	display: block;
	width: 200px;
	height: 222px;
	background-repeat: no-repeat;
	white-space: nowrap;
	text-indent: -9999px;
}
#mainVisualSlider .main .button .next a:hover {
	background-position: left center;
	background-image: url('http://cache.img.gmo.jp/onamae/images/mainSlider/parts/main_next_btn.png');
}
#mainVisualSlider .main .button .prev a:hover {
	background-position: right center;
	background-image: url('http://cache.img.gmo.jp/onamae/images/mainSlider/parts/main_prev_btn.png');
}

/* thumbnail */
#mainVisualSlider .thumbnail {
	position: relative;
	width: 718px;
	height: 66px;
	margin: 0 auto;
	text-align: left;
}
#mainVisualSlider .thumbnail .button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}
#mainVisualSlider .thumbnail .button p {
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#mainVisualSlider .thumbnail .button p a {
	display: block;
	width: 37px;
	height: 66px;
	white-space: nowrap;
	text-indent: -9999px;
}
#mainVisualSlider .thumbnail .button .next {
	right: -37px;
	background-image: url('http://cache.img.gmo.jp/onamae/images/mainSlider/parts/thumbnail_next_btn.png');
}
#mainVisualSlider .thumbnail .button .prev {
	left: -37px;
	background-image: url('http://cache.img.gmo.jp/onamae/images/mainSlider/parts/thumbnail_prev_btn.png');
}
#mainVisualSlider .thumbnail .innerBox {
	position: relative;
	width: 100%;
	height: 66px;
	overflow: hidden;
}
#mainVisualSlider .thumbnail ul {
	position: absolute;
	top: 15px;
	left: 292px;
	height: 36px;
	zoom: 1;
	white-space: nowrap;
	overflow: hidden;
}
#mainVisualSlider .thumbnail ul:after {
	display: block;
	content: "";
	clear: both;
}
#mainVisualSlider .thumbnail li {
	float: left;
	margin: 0 13px 0 0;
	padding: 0;
}
#mainVisualSlider .thumbnail li img {
	width: 133px;
	height: 36px;
}
#mainVisualSlider .thumbnail .border {
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 11px;
	width: 137px;
	height: 40px;
	margin: 0 0 0 -71px;
	border: 2px solid #4b4b4b;
	box-sizing: content-box;
}
#mainVisualSlider .thumbnail .border span.arrow {
	position: absolute;
	top: -8px;
	left: 50%;
	display: block;
	height: 8px;
	width: 11px;
	margin: 0 0 0 -5px;
	background: url('http://cache.img.gmo.jp/onamae/images/mainSlider/parts/thumbnail_border_arrow.png') no-repeat center bottom;
}