/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {display:block; float:left;
    position:relative;
	overflow: hidden;
}
.nivoSlider img {
	position:relative;
	top:0px;
	left:0px;
	max-width: none;}
    
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px!important;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:10;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:relative; float:left;
   height:35px;
    top:2px;
	left:0px;
    margin:0px;
    padding:0px;
	bottom:0px;
	background:#dedede;
	color:#000000;
	width:100%;
	z-index:8;
	padding: 0px 0px;
	overflow: hidden;
	display:block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}



/* Desktop version */
@media (min-width:960px) {
   

.nivo-caption {position:absolute!important;z-index:20;
height:150px;
   background:none; 
    top:60%;left:12%!important; width:450px;

 }
          
          
.nivo-caption h2
{display:table;position:relative;font-size:1.5em!important;
     white-space: nowrap; width:auto!important; top:3%;left:0px;padding:8px;
      background:#313131; background:rgba(49, 49, 49, 0.8)!important; 
     color:#ffffff!important;

      }
.nivo-caption  a h2{color:#ffffff!important;}
      
.nivo-caption p{;padding:5px;
	margin:0;
}

div.copy{display:block!important; position:relative;
    top:-5px;background:#ffffff; background:rgba(255, 255, 255, 0.8)!important; color:#000000;
	width:98%;padding:8px; font-size:103%; font-weight:500;
	margin:0px;
}
}
/* END Desktop version */


div.copy{display:none;}

 .nivo-caption h2
 {display:block;position:relative;font-size:110%;
    padding:8px;width:100%; background:none;
    color:#000000!important;margin-top:0px;
      }
    


.nivo-caption a{text-decoration:none;
	display:inline !important;
}


.nivo-html-caption {
    display:none!important;
}


/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}