@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 400;
  src: local('Scheherazade'), local('Scheherazade-Regular'), url(https://fonts.gstatic.com/s/scheherazade/v12/AuKlqGWzUC-8XqMOmsqXi4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 700;
  src: local('Scheherazade Bold'), local('Scheherazade-Bold'), url(https://fonts.gstatic.com/s/scheherazade/v12/C1wtT46acJkQxc6mPHwvHH06qf9KHRHwsVx7iw5MXmY.ttf) format('truetype');
}
