.twitter-share-button {
  width: 96px !important;
}

.articles-holder .marker {
  color: #333;
  padding-bottom: 0px;
}

.text-form {
  margin: 0px!important;
}

.search-panel .holder .form-actions {
  margin: 0px!important;
}

.side-review .poll .vote-form .choices {
  margin: 0;
}

.side-review .poll .vote-form .choices .option {
  font-weight: bold;
}

/*.cite-left {*/
/*float: left;*/
/*width: 266px;*/
/*}*/

/*.cite-right {*/
/*float: right;*/
/*width: 266px;*/
/*}*/

.cite-left blockquote {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

blockquote, q {
  quotes: none;
}

/*.cite-left .quotes-t {*/
/*float: left;*/
/*}*/

.cite-left .quotes-t img {
  vertical-align: top;
}

.cite-left q {
  display: block;
  overflow: hidden;
  font: 18px/20px 'TradeGothicLTStd_bold';
  padding-top: 3px;
}

.cite-left q img {
  vertical-align: middle;
}

div.articles-holder .full-item {
  clear: both;

}
div.articles-holder .ctn .full-item {
	  display:inline-block;
}
div.articles-holder .ctn .full-item.video-content {
	display:block;
}
 


div.articles-holder .full-item div.holder {
  height: 322px;  
  overflow: hidden;
}
div.articles-holder  .ctn .full-item div.holder {
  height: auto;  
  overflow: hidden;
}
div.articles-holder  .ctn .full-item.video-content div.holder {
	  height: 322px;  
}

div.messages{
  position: relative;
  top:-37px;
}

.next-teaser-slider,
.prev-teaser-slider {
  display: none;
}

.video360-slider .prev-teaser-inside-slider,
.video360-slider .prev-teaser-slider,
.video360-slider .next-teaser-slider {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -47px;
  width: 20px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-video360.png) no-repeat;
}

.video360-slider .next-teaser-slider,
.video360-slider .next-teaser-inside-slider {
  left:auto;
  right:0;
  background-position: -20px 0;
}

a.disabled-link {
  pointer-events: none;
}

.video360-holder .ajax-progress-throbber {
  display: none;
}

.video360-t .item-list {
  display: none;
}

.footer-holder .poll .bar .foreground {
  height: 7px;
}

#lightbox div.fb-like span .fb_ltr {
  z-index: 999;
}

div.vote-holder .form-item .form-item,
.sidebar .poll .form-item .form-item,
.footer-holder .form-item .form-item {
  padding: 0 0 19px 0;
}

.footer-holder .vote-form .radioArea, #main .vote-holder .vote-form .radioAreaChecked,
#main .sidebar .poll .vote-form .radioArea, #main .sidebar .poll .vote-form .radioAreaChecked,
#main .vote-holder .vote-form .radioArea, #main .vote-holder .vote-form .radioAreaChecked {
  margin-top: 0;
}

.footer-holder .form-item.form-type-radios.form-item-choice,
.sidebar .poll .form-item.form-type-radios.form-item-choice,
#main .vote-holder .form-item.form-type-radios.form-item-choice {
  padding-bottom: 0;
}

.footer-holder .vote-form .form-item.form-type-radio.form-item-choice {
  padding: 8px 0 12px;
}

.footer-holder p.poll-results {
  margin: 0 0 22px;
}

.sidebar p.poll-results {
  margin: 0 0 14px;
}

.sidebar p.poll-question,
.footer-holder p.poll-question {
  margin: 0 0 12px;
}

.sidebar p.poll-question,
.footer-holder p.poll-question {
  margin: 0 0 12px;
}

.vote-holder h4 {
  margin: 0 0 26px;
}

#main div.vote-holder.full {
  margin: 11px 0 8px 0;
  padding: 5px;
}

.sidebar .poll .bar .foreground,
.vote-holder .poll .bar .foreground {
  height: 7px;
}

.footer-holder .poll div.bar,
.vote-holder .poll div.bar {
}

.poll .foreground:hover .percent{
  display: block;
}

.poll {
  overflow: visible;
}

.footer-holder .poll #edit-actions,
.sidebar .poll #edit-actions,
.vote-holder .poll #edit-actions {
  margin: 0;
}

.vote-form .radioArea,
.vote-form .radioAreaChecked {
  margin-top: 0px;
}

div.messages {
  width: 900px;
  margin: 10px auto;
}

#edit-search-api-views-fulltext-wrapper label {
  display: none;
}

.search-form .form-item-search-api-views-fulltext {
  float: left;
  width: 725px;
  height: 36px;
  padding: 0 16px 0 49px;
  background: url(../images/bg-search-input.gif) no-repeat;
}

.search-form .form-item-search-api-views-fulltext input {
  background: none;
  padding: 9px 0;
  height: 20px;
  float: left;
  width: 100%;
  border: solid;
  color: #3f3e3c;
  font-size: 13px;
  line-height: 20px;
  font-style: italic;
  margin: 0 -16px 0 -49px;
  border-color: transparent;
  border-width: 0 16px 0 49px;
}

.search-form .views-submit-button {
  float: right;
  padding: 0px;
}

.search-form .views-widget-filter-search_api_views_fulltext {
  padding: 0px;
}

.aside .block .list a.facetapi-active {
  float: left;
  color: #fc974d;
  padding: 0 24px 0 0;
  font-family: 'TradeGothicLTStd_bold';
  background: url(../images/btn-close-3.gif) no-repeat 100% 2px;
}

nav ul li a.active {
  color: white;
  text-decoration: none;
  background: url(../images/bg-nav-hover.gif) no-repeat 50% 0;
}

#main .content-block .map-holder {
  padding: 7px 7px 0 7px;
}

.email-form .row div.selectArea {
  background-position: -592px 0px;
}

.email-form .holder .frame .captcha img {
  width: 158px;
  height: 38px;
}

.form-send-email .text-form {
  margin-bottom: 19px!important;
}

#le-site-form-send-letter-to-friend-form label {
  display: none;
}

#le-site-form-send-letter-to-friend-form .grippie {
  display: none;
}

.flash-news {
  display: none;
}

#letter-info-messages .messages {
  top: 0;
  width: 422px;
}

.tooltip-iframe-elements {
  width: 400px;
}

.tooltip-iframe-elements .full-slide-holder .btn-prev,
.tooltip-iframe-elements .full-slide-holder .btn-next {
  top: 190px;
}

.form-send-email .letter-error {
  border: 1px solid #fe7641;
}

.form-send-email .form-item-nid {
  display: none;
}

div.tooltip-iframe-elements #block-system-main {
  overflow: hidden;
}

iframe.fb_ltr, iframe.fb_iframe_widget_lift {
  z-index: 100;
}

.fb-comments iframe {
  z-index: 50;
}

.social-show-delay {
  display: none;
}

div.social-bar,
div.social-bar-bottom {
  height: 20px;
}

/*div.social-bar-bottom div.fb-like *,*/
/*div.social-bar div.fb-like * {*/
/*max-width: 89px;*/
/*max-height: 20px;*/
/*}*/

/*div.social-bar-bottom div.fb-like,*/
/*div.social-bar div.fb-like {*/
/*max-width: 160px;*/
/*max-height: 20px;*/
/*}*/

.twitter-share-button {
  width: 96px !important;
}

.gc-bubbleDefault{
  border-collapse: separate;
}

.review-de-presse .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -26px 0 0 -43px;
  width: 87px;
  height: 52px;
  background: url(../images/btns.png) no-repeat 0 -104px;
  overflow: hidden;
  text-indent: -9999px;
}
 
#mce-MMERGE3 {
  display: none;
}
#ads_inter tbody{ border:none;}
#ads_inter{
	padding-top:15px;
	-webkit-transition: all,0.3s;
    -moz-transition: all,0.3s;
    transition: all,0.3s;
    transition-property: all, initial;
    transition-duration: initial, 0.3s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
	}
#ads_inter img[alt="Close"]{ height:24px; width:24px; position:absolute; top:10px; z-index:99999999; right:10px;}
.tab360 {
    margin: 0 0;
    padding: 0 0;
}
.top360_all{
	-webkit-box-shadow: 0px 0px 1px 0px rgba(49, 49, 49, 0.16);
-moz-box-shadow:0px 0px 1px 0px rgba(49, 49, 49, 0.16);
box-shadow: 0px 0px 1px 0px rgba(49, 49, 49, 0.16);
    margin-bottom: 20px;
	border-bottom:7px solid #fe7641;
}
.tab360 li{
    display: inline-block;
    width: 50%;
    margin: 0 0;
	float:left;
    padding: 0 0;
}
.tab360 div li{
	float:inherit;
}
.tab360 li a{
	     color: #6f6f6f;
    font: 17px/19px 'TradeGothicLTStd_bold';
    display: block;
    padding: 17px 0 16px 0px;
    border-bottom: 1px solid #dedede;
    text-align: center;
     background:#f9f9f9;	
	   border: 1px solid #f1f1f1;
	   text-transform:uppercase;
	       border-bottom: 1px solid #e4e2e2;
	   /*
	   
	   -webkit-box-shadow:inset 0px 0px 1px 0px rgba(49, 49, 49, 0.16);
-moz-box-shadow:inset 0px 0px 1px 0px rgba(49, 49, 49, 0.16);
box-shadow: inset 0px 0px 1px 0px rgba(49, 49, 49, 0.16);*/
	}
.tab360 li a.active{
	color:#000;
	    background: #fff;
		    border: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
	background:#fff url(../images/arrow_top360.png) no-repeat center 40px;
  

}
.tab360 li a:hover{
text-decoration:none;
}
#tab_jour ,#tab_semain{
background:#fff;
    clear: both;
	    border: 1px solid #f1f1f1;
    border-top: none;
	
    padding: 10px 4px;
}
.top360_all .top360-nav li a{
	  padding: 5px 9px;
	  display: block;
}
 .top360_all .top360-nav li a.active{
	    color: #ffffff;
    text-decoration: none;
    background: #fe7641;

    display: block;
	-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}
.top360_all .top360-nav li a:hover{
	background:#ededed;
	color:#717171;
	 display: block;
	-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}
.top360_all .top360-nav li {
    float: left;
       font: 14px/16px Arial;
    padding-right: 16px;
	    font-weight: bold;
}
.top360_all .top360-list li {
    overflow: hidden;
    font: 15px/20px 'TradeGothicLTStd_bold';
    background:none;
    padding: 16px 0 13px;
	  border-top: 1px solid #f1f1f1;
}
.top360_all .top360-list li:first-child{
	  border-top:none;
}
.top360_all .top360-nav{
	border-bottom: 1px solid #f1f1f1;
	padding: 0 0 10px;
}
/* Modification Reda */
hr{ border:1px solid #e1e1e1;
height:1px}

.ctn h2 a{ text-decoration:none; padding:16px 0; margin:20px 0; border-bottom:1px #e1e1e1 solid;  border-top:1px #e1e1e1 solid; color:#1b5989; clear:both; display:block;  }
.ctn h2 a:before{ content:"Lire aussi : "; text-transform:uppercase; margin-right:7px; display:inline-block  }
.ctn h2 a:hover{ text-decoration:underline;  }