@font-face {
	font-family: 'glypha_bold';
	src: url('../fonts/glypha-bold-webfont.eot');
	src: url('../fonts/glypha-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glypha-bold-webfont.woff') format('woff'),
		url('../fonts/glypha-bold-webfont.ttf') format('truetype'),
		url('../fonts/glypha-bold-webfont.svg#glypha_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TradeGothicLTStd_gerular';
	src: url('../fonts/tradegothicltstd.eot');
	src: url('../fonts/tradegothicltstd.woff') format('woff'),
		url('../fonts/tradegothicltstd.ttf') format('truetype'),
		url('../fonts/tradegothicltstd.svg#TradeGothicLTStd_gerular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TradeGothicLTStd_bold';
	src: url('../fonts/TradeGothicLTStd-Bold.eot');
	src: url('../fonts/TradeGothicLTStd-Bold.woff') format('woff'),
		 url('../fonts/TradeGothicLTStd-Bold.ttf') format('truetype'),
		 url('../fonts/TradeGothicLTStd-Bold.svg#TradeGothicLTStd_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
