.outtaHere {
	position:absolute;
	left:-3000px;
}
/* radio buttons */
.radioArea, .radioAreaChecked {
	float:left;
	width:21px;
	height:21px;
	background: url(../images/bg-radio.png) no-repeat;
	overflow: hidden;
	margin: 2px 8px 0 0;
}
.radioAreaChecked {background-position:0 -22px;}
/* checkboxes */
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:14px;
	height:14px;
	overflow:hidden;
	background:url(../images/bg-checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position:0 -14px;}
/*.radioAreaCheckedLabel,
.checkboxAreaCheckedLabel { color: red; }*/
/* selects */
.selectArea {
	float:left;
	width:100%;
	overflow:hidden;
	height:48px;
	color:#707070;
	font-size:14px;
	line-height:20px;
	position:relative;
	background:url(../images/bg-inputs.gif) no-repeat;
}
.valide .selectArea{
	background-position: -592px 0;
}
.error .selectArea{
	background-position: -592px -70px;
}
.selectArea .left {
	position:absolute;
	top:0;
	left:0;
	width:19px;
	height:100%;
	background:url(../images/bg-select-left.gif) no-repeat;
}
.selectArea a.selectButton {
	position:absolute;
	top:0;
	right:0;
	width: 100%;
	height:100%;
	background:url(../images/bg-select-button.gif) no-repeat 100% 0;
}
.selectArea .center{
	height:48px;
	display:block;
	overflow:hidden;
	line-height:48px;
	padding:0 48px 0 16px;
}
.selectArea .center img { float:left; }
/* selects drop-down */
.optionsDivInvisible,
.optionsDivVisible {
	position:absolute;
	z-index:30;
	font-size:11px;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	padding:5px;
	margin:0;
	overflow:hidden;
	list-style:none;
	background:#ebebeb;
	font-size:14px;
	line-height:20px;
	border:1px solid #d3d3d3;
}
.optionsDivVisible ul li {
	height: 1%;
	overflow: hidden;
	vertical-align: top;
}
.optionsDivVisible a {
	color:#707070;
	overflow:hidden;
	text-decoration:none;
	display:block;
	height:1%;
	background:#fff;
	padding:5px 16px;
}
.optionsDivVisible a img { float:left; }
.optionsDivVisible a:hover {
	background-color:#ededed;
	text-decoration: none;
}