* +html .top360-list li .text span{display:block;}
* +html .top360-list li .text span a{
	display:block;
	margin-top:expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}
* +html .links-list li span{display:block;}
* +html .links-list li span a{
	display:block;
	margin-top:expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}
#lang-popup .box .btn{
	line-height: 33px;
}
