/*
Name: Le360
URI: http://le360.ma/
Author: Le360.ma
Team :Reda El haimer <rhaimer@le360.ma> , M Youssef Allafkih youssef.fakih@gmail.com
*/

html,
body{
  min-width:1100px;
}
body{
  margin: 0;
  color: #333;
  font: 14px/22px 'TradeGothicLTStd_gerular', Arial, Helvetica, sans-serif;
  background: url(../images/bg-body.gif);
  font-smoothing:subpixel-antialiased;
}
p strong{
  font-family: 'TradeGothicLTStd_bold';
  font-weight: normal;
}
img{ border-style: none; }
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
input,
textarea,
select{
  vertical-align: middle;
  color: #333;
  font: 13px 'TradeGothicLTStd_gerular', Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
form,fieldset{
  margin: 0;
  padding: 0;
  border-style: none;
}
a:focus,
input:focus,
textarea:focus,
select:focus{ outline: none; }
blockquote, q {quotes:none;}
q:before,
q:after {content: "";}
header, nav, footer, section, article, aside{ display: block; }
.ar{float: right !important;}
.fl{float: left !important;}
.m1{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.m2{
  float: left;
  position: relative;
  left:50%;
}
.m3{
  float: left;
  position: relative;
  left:-50%;
}
#header{
  background: url(../images/bg-header.png) repeat-x;
  height: 88px;
  padding-bottom: 34px;
  position: relative;
  z-index:98;
}
.header-holder{
  width: 999px;
  margin: 0 auto;
}
.header-holder:after {
  content: "";
  display: block;
  clear: both;
}
.logo{
	float: left;
	width: 131px;
	height: 88px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
}
.logo a{
  display: block;
  height: 100%;
}
#nav{
  float: left;
  width: 600px;
  padding-left: 3px;
}
#nav ul{
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul li{
  float: left;
  width: 64px;
  text-align: center;
  font:14px/47px 'TradeGothicLTStd_bold';
  position: relative;
  font-weight: normal;
  letter-spacing: 0.5px;
}
.page-ie #nav ul li {
  font:14px/47px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
#nav ul li a{
  display: block;
  color: #fff;
  height: 45px;
  border-bottom: 6px solid #d93d25;
}
#nav ul li .policy{border-color: #d93d25;}
#nav ul li .economy{border-color: #009bff;}
#nav ul li .company{border-color: #9600b4;}
#nav ul li .culture{border-color: #00a53c;}
#nav ul li .monde{border-color: #ffae00;}
#nav ul li .media{border-color: #fa5f00;}
#nav ul li .sports{border-color: #f4d52b;}
#nav ul li .people{border-color: #329292;}
#nav ul li .nisaiat{border-color: #D92578;}
#nav ul li a:hover,
#nav ul li.active a{
  text-decoration: none;
  background: url(../images/bg-nav-hover.gif) no-repeat 50% 0;
}
.top-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.top-nav li{
  float: left;
  background: url(../images/divider-01.gif) repeat-y;
  height: 51px;
 /** padding-left: 2px;**/
  position: relative;
}
.top-nav li a{
  display: block;
  height: 51px;
}
.top-nav li a:hover{
  text-decoration: none;
}
.top-nav li span{
  display: block;
}
.top-nav>li:hover>span,
.top-nav>li.active>span{
  background: url(../images/bg-nav-hover.gif) no-repeat 50% 0;
}
.top-nav li .blog{
  color: #8ec82a;
  font:16px/51px 'TradeGothicLTStd_bold';
  padding: 0 7px;
}
.page-ie .top-nav li .blog {
  font:16px/51px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.top-nav li .mail{
  width: 58px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/bg-top-nav.png) no-repeat;
}
.top-nav li:hover .mail{
  background-position: 0 -51px;
}
.top-nav li .share{
  width: 48px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/bg-top-nav.png) no-repeat -60px 0;
}
.top-nav li:hover .share{
  background-position: -60px -51px;
}
.top-nav li .search{
  width: 48px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/bg-top-nav.png) no-repeat -110px 0;
}
.top-nav li:hover .search,
.top-nav li.active .search{
  background-position: -110px -51px;
}
.top-nav li .arabe{
  color: #fff;
  font:bold 26px/45px 'Adobe Arabic', Arial, Helvetica, sans-serif;
  padding: 0 13px 0 14px;
  text-align: center;
  width: 47px;
}
.top-nav li:hover .arabe{
  color: #fe6124;
}
/* .top-nav li.mail-btn{

}
.top-nav li.mail-btn .drop-share{
  display: none;
} */
.search-panel{
  height: 71px;
  background: url(../images/bg-search-panel.gif) repeat-x;
  display: none;
}
.search-panel .holder{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 18px;
}
.search-panel .text-form{
  float: left;
  width: 743px;
  height: 34px;
  background: url(../images/bg-forms.png) no-repeat;
  padding: 0 15px 0 40px;
  position: relative;
}
.search-panel .text-form .input-placeholder-text{
  top:0;
  left:40px;
  padding: 8px 0;
  color: #3f3e3c;
  font:14px 'TradeGothicLTStd_bold';
}
.search-panel .text-form input{
  float: left;
  width: 743px;
  padding: 8px 0;
  margin: 0;
  background: none;
  border: 0;
  color: #3f3e3c;
  font:14px 'TradeGothicLTStd_bold';
}
.page-ie .search-panel .text-form input {
  font:14px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.search-form input[type=submit],
.search-panel .btn-submit{
  float: left;
  width: 106px;
  height: 38px;
  padding: 0;
  margin: -1px 5px 0 20px;
  border: 0;
  background: url(../images/btns.png) no-repeat 0 -32px;
  font:14px/38px 'TradeGothicLTStd_bold';
  color: #fff;
  cursor: pointer;
}
.page-ie .search-panel .btn-submit {
  font:14px/38px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.search-panel .close-search-panel{
  width: 31px;
  height: 31px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  background: url(../images/btns.png) no-repeat 0 -71px;
  margin-top: 2px;
}




#main{
  width: 960px;
  margin: 0 auto 36px;
  background: url(../images/bg-main.gif) repeat-y;
  position: relative;
}
#main:after {
  content: "";
  display: block;
  clear: both;
}
.content-block{
  float: left;
  width: 599px;
  padding:14px 18px 35px;
}
.label-ttl{
  position: absolute;
  left: -11px;
  top: 14px;
  height: 25px;
  font:16px/17px 'TradeGothicLTStd_bold';
  z-index:1;
}
.mac .label-ttl,
.linux .label-ttl{
  height: auto;
}
.ff .label-ttl{
  line-height: 15px;
}
.page-ie .label-ttl {
  font:16px/17px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.label-ttl div{
  background: #329292;
  color: #fff;
  padding: 4px 18px;
  float: left;
  height: 17px;
}
.label-ttl div.corner{
  background: url(../images/corners.png) no-repeat;
  position: absolute;
  left: 0;
  top:auto;
  bottom: -11px;
  width: 10px;
  height: 11px;
  padding: 0;
}
.mac .label-ttl div.corner,
.linux .label-ttl div.corner{
  padding: 0;
}
.right-label,
.right-label div.corner{
  left:auto;
  right:-11px;
}
.right-label div.corner{
  background-position: -50px 0;
  right:0;
}
.social-bar,
.social-bar-bottom{
 /* padding: 3px 0 16px; */
 text-align:center;
}
.social-bar:after,
.social-bar-bottom:after {
  content: "";
  display: block;
  clear: both;
}
.title-content{
  width: 100%;
  position: relative;
  z-index:101;
}
.title-content:after {
  content: "";
  display: block;
  clear: both;
}
.title-content h1{
  margin: -8px 0 0;
  float: left;
  color: #3f3e3c;
  font:30px/35px 'glypha_bold';
  text-transform: uppercase;
  max-width: 255px;
}
.social-bar-bottom{
 /*  padding-bottom: 38px;*/
}
.social-bar-bottom .social-list{
  float: left;
}
.social-bar-bottom .social-list li{
  padding: 0 11px 0 0;
}
.social-list{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 34px;
  clear:both;
  float: right;
  position: relative;
  z-index: 150;
}
header .social-list{
  z-index: 151;
}
.social-list li{
  float: left;
  padding-left: 11px;
  position: relative;
}
/* .social-bar>.social-list>li{
  float: left;
} */
/* .social-list li img{
  vertical-align: top;
} */
.social-list li.social-list-fb{
  width: 95px;
  height: 20px;
}
.social-list li.social-list-tw{
  width: 95px;
  height: 20px;
}
.social-list li.social-list-gp{
  width: 75px;
  height: 20px;
}
.social-list li.share-box{
  width: 45px;
  height: 20px;
}
.articles-holder{
  padding-bottom: 13px;
}
.articles-holder .top-info{
  overflow: hidden;
}
.articles-holder h1,
.post-holder h1{
  margin: 0 0 8px;
  color: #329292;
  text-transform: uppercase;
  font:30px/35px 'glypha_bold';
  clear:both;

}
.articles-holder .date-ttl{
  display: block;
  color: #4d4d4d;
  font-size: 14px;
  padding-bottom: 12px;
}
.articles-holder .date-ttl a{
  color: #329292;
  text-decoration: underline;
}
.articles-holder .date-ttl a:hover{
  text-decoration: none;
}
.articles-holder .sup{
  color: #58a644;
}
.full-item{
  border: 1px solid #e5e5e5;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px #eaeaea;
  -moz-box-shadow: 1px 1px 1px #eaeaea;
  -ms-box-shadow: 1px 1px 1px #eaeaea;
  box-shadow: 1px 1px 1px #eaeaea;
  margin-bottom: 8px;
  clear:both;
}
.full-item img,
.full-item iframe{
  vertical-align: top;
  width: 100%;
}
.full-item .holder{
  position: relative;
}
.full-item .desc{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: url(../images/bg-shadow.png);
  color: #fff;
  font:15px/20px 'TradeGothicLTStd_bold';
  padding: 4px 0;
}
.page-ie .full-item .desc {
  font:15px/18px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.full-item .desc p{
  margin: 0 14px;
}
.full-item .desc p a{
  color: #fff;
}
.copy-item{
  display: block;
  color: #4d4d4d;
  font-size: 14px;
  padding-bottom: 11px;
}
.articles-holder p{
  margin: 0;
  word-wrap:break-word;
  /* clear:both; */
}
.articles-holder p a{
  text-decoration: underline;
}
.articles-holder p a:hover{
  text-decoration: none;
}
.articles-holder .marker{
  font:16px/20px 'TradeGothicLTStd_bold';
  margin-bottom: 19px;
  letter-spacing: 0.5px;
  clear:none;
}
.page-ie .articles-holder .marker {
  font:16px/18px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.articles-holder h2{
  margin: 0 0 6px;
  color: #329292;
  font:20px/23px 'glypha_bold';
}
.cite-right,
.cite-left{
  float: right;
  width: 266px;
}
.cite-left{
  float: left;
}
.cite-right blockquote,
.cite-left blockquote{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cite-right .quotes-t,
.cite-left .quotes-t{
  float: left;
  width: 27px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/cite.png) no-repeat;
}
.cite-right .quotes-b,
.cite-left .quotes-b{
  display: inline-block;
  width: 27px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/cite.png) no-repeat -50px 0;
  position: relative;
  top: 5px;
}
.cite-right .quotes-t img,
.cite-left .quotes-t img{
  vertical-align: top;
}
.cite-right q,
.cite-left q{
  display: block;
  overflow: hidden;
  font:18px/20px 'TradeGothicLTStd_bold';
  padding: 3px 0 6px;
}
.page-ie .cite-right q,
.page-ie .cite-left q{
  font:18px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.cite-right q img,
.cite-left q img{
  vertical-align: middle;
}
.articles-holder .text-info{
  padding-top: 20px;
}
.social-bar-bottom h3{
  float: right;
  margin: 0;
  color: #3f3e3c;
  font:16px/22px 'glypha_bold';
  position:relative;
  top:-34px;
}
.title{
  border-top: 8px solid #3f3e3c;
  padding: 10px 0 14px;
}
.title:after {
  content: "";
  display: block;
  clear: both;
}
.title h3{
  margin: 0 0 8px;
  color: #3f3e3c;
  font:24px/27px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
  word-break: break-all;
}
.page-ie .title h3{
  font:24px/27px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.title p{
  margin: 0;
  font:16px/20px 'TradeGothicLTStd_bold';
}
.page-ie .title p{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.content-slider{
  overflow: hidden;
  position: relative;
  padding: 0 31px 34px;
}
.content-slider .btn-prev,
.content-slider .btn-next{
  width: 19px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-twitter-nav.png) no-repeat;
  position: absolute;
  left: 1px;
  top: 33px;
}
.content-slider .btn-prev:hover{
  background-position: 0 -32px;
}
.content-slider .btn-next{
  background-position: -20px 0;
  left:auto;
  right:1px;
}
.content-slider .btn-next:hover{
  background-position: -20px -32px;
}
.content-slider .holder{
  width: 537px;
  overflow: hidden;
  position: relative;
  direction: ltr;
}
.gallery-holder .thumbnails,
.content-slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 99999px;
  overflow: hidden;
}
.gallery-holder .thumbnails li,
.content-slider-list li{
  float: left;
  width: 172px;
  padding: 0 3px 0 4px;
  font:14px/20px 'TradeGothicLTStd_bold';
  word-wrap: break-word;
}
.page-ie .gallery-holder .thumbnails li,
.page-ie .content-slider-list li{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.gallery-holder .thumbnails li .img,
.content-slider-list li .img{
  border: 1px solid #e8e8e8;
  padding: 2px;
  margin-bottom: 6px;
}
.gallery-holder .thumbnails li.active .img{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.gallery-holder .thumbnails li .img img,
.content-slider-list li .img img{
  vertical-align: top;
  cursor: pointer;
}
.content-slider-list li p{
  margin: 0 2px;
}
.facebook-widget{
  padding-top: 3px;
}
.facebook-widget img{
  vertical-align: top;
}
.sidebar{
  float: right;
  width: 300px;
}
.side-banner{
  padding-bottom: 41px;
}
.side-banner img{
  vertical-align: top;
}
.newletter-form{
  padding-bottom: 37px;
}
.newletter-form .title p{
  font:14px/20px 'TradeGothicLTStd_bold';
}
.page-ie .newletter-form .title p{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.newletter-form .row{
  overflow: hidden;
}
.newletter-form .text-form{
  float: left;
  width: 200px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #e4e4e4;
  height: 29px;
}
.newletter-form .text-form input{
  float: left;
  width: 200px;
  padding: 6px 0;
  margin: 0;
  background: none;
  border: 0;
}
.email-form input[type=submit],
.newletter-form .btn-submit{
  float: right;
  width: 63px;
  height: 31px;
  text-align: center;
  background: url(../images/btns.png) no-repeat;
  border: 0;
  padding: 0 0 2px;
  margin: 0;
  color: #fff;
  font:14px/31px 'TradeGothicLTStd_bold';
  cursor: pointer;
}
.page-ie .newletter-form .btn-submit,
.page-ie .email-form input[type=submit]{
  font:14px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.sidebar .title{
  padding-bottom: 9px;
}
.side-slider{
  padding-bottom: 27px;
}
.side-slider .title{
  padding-bottom: 0;
}
.side-slider .holder{
  width: 292px;
  padding: 4px 4px 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  background: url(../images/bg-side-slider.gif) no-repeat;
}
.side-slider .frame{
  width: 292px;
  overflow: hidden;
  position: relative;
  direction: ltr;
}
.side-slider .holder .m1{
  position: absolute;
  left: 0;
  top: 174px;
}
.side-slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 99999px;
}
.side-slider-list li{
  width: 292px;
  float: left;
}
.side-slider-list li .img{
  width: 292px;
  height: 161px
  overflow: hidden;;
  background: #fff;
  margin-bottom: 24px;
  position: relative;
}
.side-slider-list li img{
  vertical-align: top;
  width: 100%;
}
.side-slider p{
  margin: 0;
  font:14px/20px 'TradeGothicLTStd_bold';
  letter-spacing:0.05em;
}
.page-ie .side-slider p{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.side-slider .prev,
.side-slider .next{
  width: 58px;
  height: 161px;
  position: absolute;
  left: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-prev-next-side.png) no-repeat;
  z-index:1;
}
.side-slider .next{
  left:auto;
  right:4px;
  background-position: -60px 0;
}
.side-slider-nav{
  margin: 0;
  padding: 0 0 2px;
  list-style: none;
  float: left;
}
.side-slider-nav li{
  float: left;
}
.side-slider-nav li a{
  display: block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/bg-slider-nav.png) no-repeat;
}
.side-slider-nav li a:hover,
.side-slider-nav li.active a{
  background-position: 0 -17px;
}
.full-slide-holder .side-slider-nav li a{
  width: 21px;
  height: 21px;
  background: url("../images/bullet-slider.png") no-repeat;
}
.full-slide-holder .side-slider-nav li a:hover,
.full-slide-holder .side-slider-nav li.active a{
  background-position: 0 -25px;
}
.top360{
  padding-bottom: 23px;
}
.top360 .title{
  padding-bottom: 6px;
}
.top360-nav{
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  overflow: hidden;
}
.top360-nav li{
  float: left;
  font:16px/19px 'TradeGothicLTStd_bold';
  padding-right: 16px;
}
.page-ie .top360-nav li{
  font:16px/19px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.top360-nav li a{
  color: #333;
}
.top360-nav li a:hover,
.top360-nav li a.active{
  color: #fe7641;
  text-decoration: none;
}
.top360-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.top360-list li{
  overflow: hidden;
  font:16px/20px 'TradeGothicLTStd_bold';
  background: url(../images/divider-02.gif) repeat-x;
  padding: 16px 0 13px;
}
.page-ie .top360-list li{
  font:16px/20px  "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.top360-list li:first-child{
  background: none;
  padding-top: 0;
}
.top360-list li .num{
  width: 41px;
  height: 40px;
  float: left;
  text-align: center;
  background: url(../images/bg-num.png) no-repeat;
  color: #fff;
  font:20px/40px 'glypha_bold';
  text-shadow:0 -1px 0 #b1522d;
  margin-right: 11px;
}
.top360-list li .text{
  overflow: hidden;
  padding-top: 1px;
}
.top360-list li .text span{
  display: table;
  height: 40px;
}
.top360-list li .text span a{
  display: table-cell;
  vertical-align: middle;
}
.top360-list li .text a{
  color: #333;
}
.side-blog{
  padding-bottom: 27px;
}
.side-blog .title h3{
  margin-bottom: 12px;
}
.side-blog-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-blog-list li{
  overflow: hidden;
  padding: 2px 0 10px 1px;
}
.side-blog-list .img{
  padding: 2px;
  background: #fff;
  float: left;
  margin-right: 14px;
}
.side-blog-list .img img{
  vertical-align: top;
}
.side-blog-list .text{
  overflow: hidden;
  font:14px/17px 'TradeGothicLTStd_bold';
  padding-top: 30px;
}
.page-ie .side-blog-list .text{
  font:14px/17px  "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.side-blog-list .text strong{
  display: block;
  font:14px/17px 'TradeGothicLTStd_bold';
  padding-bottom: 6px;
}
.page-ie .side-blog-list .text strong{
  font:14px/17px  "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.side-blog-list .text .twitter-btn{
  width: 100%;
}
.side-blog-list .text .twitter-btn img{
  vertical-align: top;
}
.side-review{
  padding-bottom: 37px;
}
.side-review .title h3{
  margin-bottom: 12px;
}
.review-list{
  margin: 0;
  padding: 0 0 4px;
  list-style: none;
}
.review-list li{
  width: 100%;
  padding: 8px 0 12px;
}
.review-list li:after {
  content: "";
  display: block;
  clear: both;
}
.review-list li input{
  float: left;
}
.review-list li label{
  display: block;
  overflow: hidden;
  font:14px/20px 'TradeGothicLTStd_bold';
  letter-spacing:0.05em;
}
.page-ie .review-list li label{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.side-review .btn-submit,
#footer .btn-submit{
  display: block;
  width: 63px;
  height: 31px;
  text-align: center;
  background: url(../images/btns.png) no-repeat;
  border: 0;
  padding: 0 0 2px;
  margin: 0 0 0 2px;
  color: #fff;
  font:14px/31px 'TradeGothicLTStd_bold';
  cursor: pointer;
}
.page-ie #footer .btn-submit{
  font:14px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.slide-links{
  padding-bottom: 12px;
  position: relative;
}
.slide-links .title{
  padding-bottom: 5px;
  padding-right: 60px;
}
.slide-links .holder{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slide-links .prev,
.slide-links .next{
  position: absolute;
  right: 21px;
  top: 23px;
  width: 12px;
  height: 15px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-prev-next-page-links.png) no-repeat;
}
.slide-links .next{
  background-position: -15px 0;
  right:2px;
}
.links-list{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.links-list li{
  background: url(../images/ico-links.png) no-repeat 0 5px;
  font:14px/20px 'TradeGothicLTStd_bold';
  padding: 0 0 20px 39px;
}
.page-ie .links-list li{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.links-list li span{
  display: table;
  height: 40px;
}
.links-list li a{
  color: #333;
  display: table-cell;
  vertical-align: middle;
}
#footer{
  background:url(../images/bg-footer-top.png) repeat-x;
  padding-top: 44px;
}
.footer-top{
  background: #fff;
  /*padding-bottom: 27px;*/
  position: relative;
}
.footer-holder{
  width: 960px;
  margin: 0 auto;
  padding: 0 5px;
}
.footer-holder:after {
  content: "";
  display: block;
  clear: both;
}
#footer .column{
  float: left;
  width: 310px;
  padding: 0 20px 0 0;
}

#footer .column.first {
  padding-bottom: 27px;
}

#footer .ttl{
  overflow: hidden;
  height: 44px;
  background: url(../images/bg-title-footer.png) no-repeat;
  padding-left: 7px;
  margin: -44px 0 19px -6px;
}
#footer .ttl h3{
  margin: 0;
  float: left;
  padding-right: 7px;
  background: url(../images/bg-title-footer.png) no-repeat 100% -45px;
  color: #fff;
  font:16px/44px 'TradeGothicLTStd_bold';
}
.page-ie #footer .ttl h3{
  font:16px/44px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
#footer .ttl h3 span{
  float: left;
  background: #545350;
  padding: 1px 13px;
  min-width:50px;
  text-align: center;
}
#footer .column p{
  margin: 0 0 9px;
  font:16px/20px 'TradeGothicLTStd_bold';
}
.page-ie #footer .column p{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
#footer .column .holder{
  overflow: hidden;
}
.footer-list{
  float: left;
  margin: 0;
  padding: 0 2px 0 3px;
  list-style: none;
  width: 138px;
}
.footer-list li{
  padding: 0 0 20px 10px;
  background: url(../images/bullet-01.png) no-repeat 0 9px;
  font:16px/20px 'TradeGothicLTStd_bold';
}
.page-ie .footer-list li{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.footer-list li a{
  color: #333;
}
#footer .column-last{
  float: right;
  width: 284px;
}
.footer-soc-list{
  margin: 0 -20px 0 0;
  padding:3px 0 3px;
  list-style: none;
  border-bottom: 8px solid #3F3E3C;
  width: 304px;
}
.footer-soc-list:after {
  content: "";
  display: block;
  clear: both;
}
.footer-soc-list li{
  float: left;
  width: 46px;
  height: 46px;
  margin: 0 14px 13px 0;
  position: relative;
}
.footer-soc-list li:hover .drop-share{
  top:45px;
}
.footer-soc-list li a{
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/ico-footer-social.png) no-repeat;
}
.footer-soc-list li .facebook{
  background-position: 0 0;
}
.footer-soc-list li .twitter{
  background-position: -45px 0;
}
.footer-soc-list li .youtube{
  background-position: -90px 0;
}
.footer-soc-list li .google{
  background-position: -135px 0;
}
.footer-soc-list li .linkedin{
  background-position: -180px 0;
}
.footer-soc-list li .pinterest{
  background-position: -225px 0;
  width: 46px;
  height: 46px;
}
.footer-soc-list li .email{
  background-position: -272px 0;
}
.footer-soc-list li .rss{
  background-position: -317px 0;
}
#footer .newletter-form{
  width: 284px;
  position: absolute;
  padding: 0;
  bottom: 27px;
}
#footer .newletter-form h4{
  margin: 0 0 7px;
  font:16px/20px 'TradeGothicLTStd_bold';
}
.page-ie #footer .newletter-form h4{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
#footer .newletter-form p{
  margin: 0 0 9px;
  font:14px/20px 'TradeGothicLTStd_bold';
  letter-spacing:0.05em;
}
.page-ie #footer .newletter-form p{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.footer-bottom{
  height: 42px;
  background: url(../images/bg-footer-bottom.gif) repeat-x;
}
.logo-footer{
  float: left;
  width: 60px;
  height: 37px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/logo-footer.png) no-repeat;
  margin: 5px 0 0 2px;
}
.logo-footer a{
  display: block;
  height: 100%;
}
.footer-bottom .copy{
  float: right;
  color: #fff;
  font-size: 12px;
  line-height: 42px;
}
#footer .newletter-form .text-form{
  width: 187px;
  background: #;
}
#footer .newletter-form .text-form input{
  width: 187px;
}
.btn-prev-page,
.btn-next-page{
  position: fixed;
  left: 0;
  top: 273px;
  width: 31px;
  height: 59px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-prev-next-page.png) no-repeat;
  z-index:600;
}
.btn-next-page{
  background-position: 0 -60px;
  left:auto;
  right:0;
}
.home-holder,
#main.home-holder{
  width: 960px;
  margin: 0 auto;
  background: none;
}
.home-holder:after {
  content: "";
  display: block;
  clear: both;
}
.home-holder .content-block{
  width: 634px;
  padding: 0;
}
.home-holder .content-block .social-bar{
  padding: 0;
}
.video-content{
  margin-top: 11px;
}
.wording-article{
  margin: -6px 0 0;
  overflow: hidden;
  padding: 14px 8px 22px 3px;
}
.logo-tv{
  float: right;
  width: 107px;
  height: 93px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/logo-tv.gif) no-repeat;
  margin: -4px 0 0 25px;
}
.logo-tv a{
  display: block;
  height: 100%;
}
.wording-article p{
  margin: 0;
  font:16px/20px 'TradeGothicLTStd_bold';
  clear: none;
}
.page-ie .wording-article p{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.articles-holder .block-holder{
  overflow: hidden;
  padding: 3px 0 8px;
  float: left;
  width: 312px;
}
.articles-holder .block-holder .copy-item{
	padding-right: 15px;
}
.articles-holder .block-holder .marker{
  margin: 0;
}
.articles-holder .img-left{
  /*float: left;*/
  border: 1px solid #e5e5e5;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px #eaeaea;
  -moz-box-shadow: 1px 1px 1px #eaeaea;
  -ms-box-shadow: 1px 1px 1px #eaeaea;
  box-shadow: 1px 1px 1px #eaeaea;
  margin: -3px 12px 7px 0;
  position: relative;
}
.articles-holder .img-left .desc{
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 288px;
  background: url(../images/bg-shadow.png);
  color: #fff;
  font:15px/20px 'TradeGothicLTStd_bold';
  padding: 4px 0;
}
.articles-holder .img-left .desc {
  font:15px/18px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}
.articles-holder .img-left .desc p{
  margin: 0 14px;
}
.articles-holder .img-left .desc p a{
  color: #fff;
  text-decoration: none;
}
.articles-holder .img-left .desc p a:hover{
  text-decoration: underline;
}
.articles-holder .img-left img{
  vertical-align:top;
}
.pagination{
  float: left;
  margin: 0;
  padding: 25px 0 35px;
  list-style: none;
}
.pagination li{
  float: left;
  color: #fe7641;
  font:20px/23px 'TradeGothicLTStd_bold';
  padding: 0 10px;
}
.page-ie .pagination li{
  font:20px/23px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.pagination li a{
  float: left;
  font: 14px/23px 'TradeGothicLTStd_gerular', Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.pagination li a:hover{
  text-decoration: none;
  color: #fe7641;
}
.pagination li .prev,
.pagination li .next{
  float: left;
  width: 29px;
  height: 23px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/bg-pagination.png) no-repeat;
}
.pagination li .next{
  background-position: 0 -25px;
}
.statique-holder{
  padding: 39px 0;
}
.statique-holder h2{
  margin: 0 0 16px;
  color: #3f3e3c;
  font:20px/24px 'glypha_bold';
}
.statique-holder p{
  margin: 0 0 20px;
}
.main-holder{
  width: 100%;
  padding-bottom: 5px;
}
.main-holder:after {
  content: "";
  display: block;
  clear: both;
}
.category #main{
  background: #fff;
  width: 920px;
  padding: 20px 20px;
}
.category .content-block{padding: 0;}
.category .side-banner{padding-bottom: 21px;}
.category .newletter-form{padding: 0;}
.category .social-bar{padding-bottom: 45px;}
.category .copy-item{font-size: 12px;}
.category .pagination{padding: 20px 0 12px;}

.full-item .ttl2{
width: 980px !important;
}
.full-item .ttl{
  position: absolute;
  left: -17px;
 /* top: 50px;*/
  bottom: 30px;
  width: 105%;
}
.full-item .big {
width: 620px !important;
}

.full-item .ttlDossier {
width: 620px !important;
}
.full-item  .dossierHome {
bottom: -310px !important;
}

.full-item .ttlGallery{
width: 980px !important;
}

.full-item .ttl .corner{
  background: url(../images/corners.png) no-repeat;
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 10px;
  height: 11px;
}
.full-item .ttl .corner2{
  background: url(../images/corners.png) no-repeat;
  position: absolute;
  right: 0;
  bottom: -11px;
  width: 10px;
  height: 11px;
}
.full-item .ttl h2{
  margin: 0;
  overflow: hidden;
  color: #fff;
  font:25px/25px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
}
.full-item .ttl h2 a{
  color: #fff;
  display: block;
  overflow: hidden;
}
.full-item .ttl h2 a:hover{
  text-decoration: none;
}
.page-ie .full-item .ttl h2{
  font:26px/26px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.full-item .ttl h2 {
/*padding: 5px 10px;*/
padding: 0 10px;
}
.full-item .ttl h2 span{
  float: left;
  clear: both;
  background: #329292;
  padding: 5px 0 5px 10px ;
 /*   white-space:nowrap;*/
}
/* .full-item .ttl h2 span:first-child{
  padding-top: 8px;
} */
.mac .full-item .ttl h2 span,
.linux .full-item .ttl h2 span{
/*  padding-top: 17px;*/
}
.mac .full-item .ttl h2 ,
.linux .full-item .ttl h2 {
   padding-top: 5px; 
}

.ctn {
display: block;
}

/* .full-item .ttl h2 .t{
  padding-top: 12px;
}
.full-item .ttl h2 .b{
  padding-bottom: 12px;
} */
.media-block{
  border-top: 8px solid #3f3e3c;
  padding: 21px 0 35px;
  width: 100%;
}
.media-block .holder{
  width: 933px;
  margin: 0 0 0 -12px;
}
.media-block .holder:after {
  content: "";
  display: block;
  clear: both;
}
.media-block .box{
  float: left;
  width: 299px;
  font:14px/20px 'TradeGothicLTStd_bold';
  padding-left: 12px;
  position: relative;
}
.page-ie .media-block .box{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.media-block .item{
  border: 1px solid #e7e7e7;
  padding: 3px;
  position: relative;
  margin-bottom: 10px;
}
.media-block .item img{
  vertical-align:top;
}
.media-block .btn-play,
.side-slider-list .btn-play,
.btn-play{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -26px 0 0 -43px;
  width: 87px;
  height: 52px;
  background: url(../images/btns.png) no-repeat 0 -104px;
  overflow: hidden;
  text-indent: -9999px;
}
.media-block p{
  margin: 0 4px;
  letter-spacing:0.05em;
}
.page-ie .media-block p{
  letter-spacing:0;
}
.two-block{
  overflow: hidden;
  border-top: 8px solid #3f3e3c;
  padding: 16px 0 0;
}
.two-block .left-box{
  float: left;
  width: 290px;
  font:14px/20px 'TradeGothicLTStd_bold';
  margin-bottom: 44px;
}
.two-block .left-box .side-review{
  padding-bottom: 0;
}
.page-ie .two-block .left-box{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.two-block .left-box h3{
  margin: 0 20px 12px 0;
  color: #329292;
  font:24px/24px 'glypha_bold';
  /* max-height: 74px;*/
  overflow: hidden;
}
.two-block .left-box h3 a{
  color: #329292;
}
.two-block .left-box .img{
  width: 269px;
  padding: 3px;
  border: 1px solid #e5e5e5;
  margin-bottom: 12px;
}
.two-block .left-box .img img{
  vertical-align:top;
}
.two-block .left-box p{
  margin: 0;
}
.two-block .video-box{
  float: right;
  width: 607px;
  padding: 7px;
  border: 1px solid #eaeaea;
  margin: 3px 0 44px;
}
.two-block .video-box img{
  vertical-align:top;
}
.two-block .right-box{
  float: right;
  width: 596px;
}
.two-block .right-box .full-item .ttl{
  left:-16px
}
.two-block .title{
  border: 0;
  padding-bottom: 9px;
}
.two-block .title h3{
  color: #3f3e3c;
  font:24px/27px 'TradeGothicLTStd_bold';
  letter-spacing:0;
}
.page-ie .two-block .title h3{
  font:24px/27px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.home-archive h1{
  color: #3f3e3c;
}
.post{
  border-top: 8px solid #3f3e3c;
  padding: 16px 0 18px;
  min-height:177px;
}
.content-post-holder{
  border-top: 8px solid #3f3e3c;
  padding-top: 16px;
}
.content-post-holder h2{
  margin: -6px 0 12px;
  color: #3f3e3c;
  font:24px/27px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
}
.page-ie .content-post-holder h2{
  font:24px/27px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.post .holder{
  width: 100%;
}
.post .holder:after {
  content: "";
  display: block;
  clear: both;
}
.post .img{
  float: left;
  padding: 3px;
  border: 1px solid #e5e5e5;
  margin: 0 18px 0 0;
  position: relative;
}
.post .img.ar{
  margin: 0 0 0 18px;
}
.post .img img{
  vertical-align:top;
}
.post .text{
  overflow: hidden;
  padding-top: 3px;
  line-height: 20px;
}
.post .text h3{
  margin: 0 0 6px;
  font:16px/19px 'TradeGothicLTStd_bold';
}
.page-ie .post .text h3 {
  font:16px/19px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.post .text .date{
  display: block;
  font:12px/17px 'TradeGothicLTStd_bold';
  padding-bottom: 13px;
}
.page-ie .post .text .date {
  font:12px/17px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.post .text .date span{
  color: #329292;
}
.post .text p{
  margin: 0;
}
.post-holder{

}
.views-row-first .post{
  border: 0;
  padding-top: 0;
}
.post-holder h1{
  margin-bottom: 15px;
}
.post-holder .pagination{padding: 13px 0 0;}
.gallery-holder{
  clear:both;
}
.full-slide-holder,
.full-slider-lg{
  position: relative;
}
.full-slide-holder .m1{
  position: absolute;
  left: 0;
  top: 320px;
  z-index: 200;
}
.full-slide-holder .btn-prev,
.full-slide-holder .btn-next,
.full-slider-lg .btn-prev,
.full-slider-lg .btn-next{
  width: 34px;
  height: 34px;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  right: 51px;
  top: 309px;
  z-index:110;
  background: url(../images/btns.png) no-repeat 0 -182px;
}
.full-slide-holder .btn-next,
.full-slider-lg .btn-next{
  background-position: -34px -182px;
  right: 12px;
}
.disable-btn .btn-prev,
.disable-btn .btn-next{
  display: none;
}
.full-slide{
  margin:10px 0 21px;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  min-height: 380px;
  overflow: visible !important;
}
.full-slide .full-item .ttl,
.full-slide .label-ttl{
  left:-16px;
}
.full-slide .right-label{
  left:auto;
  right:-16px
}
.full-slide li{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 -20px;
  padding: 0 20px;
  background: url(../images/bg-body.gif);
}
.full-slide li.active{
  z-index:100;
}
.full-slide .full-item{
  margin-bottom: 5px;
}
.full-slide li p{
  margin: 0;
  font: 15px/20px 'TradeGothicLTStd_bold';
}

.desc p {
 font: 15px/20px 'TradeGothicLTStd_bold';
 margin: 10px 5px 10px 0px;
}
.page-ie .full-slide li p {
  font:15px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.twitter-block{
	padding-bottom: 30px;
  position: relative;
}
.twitter-block .title{
  width: 100%;
}
.twitter-block .title .twitter{
  float: right;
  margin-top: 4px;
}
.twitter-block .title h3{
  float: left;
}
.twitter-block .title .twitter img{
  vertical-align:top;
}
.twitt-slider{
  overflow: hidden;
}
.twitt-slider .ico{
  float: left;
}
.twitt-slider .holder{
  float: right;
  width: 474px;
  padding: 4px 40px;
  position: relative;
}
.twitt-slider .prev,
.twitt-slider .next{
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-twitter-nav.png) no-repeat;
}
.twitt-slider .prev:hover{
  background-position: 0 -32px;
}
.twitt-slider .next{
  left:auto;
  right:0;
  background-position: -20px 0;
}
.twitt-slider .next:hover{
  background-position: -20px -32px;
}
.twitt-slider .frame{
  width: 474px;
  overflow: hidden;
  direction: ltr;
}
.twitt-slider ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 9999px;
  overflow: hidden;
}
.twitt-slider ul li{
  color: #333;
  font: 16px/20px 'TradeGothicLTStd_bold';
  float: left;
  width: 474px;
}
.page-ie .twitt-slider ul li {
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.twitt-slider ul li a{
  color: #fc964a;
}
.video360{
  background: url(../images/bg-video360.gif);
  width: 100%;
}
.video360-t{
  background: url(../images/bg-video360-t.gif) repeat-x;
}
.video360-b{
  background: url(../images/bg-video360-b.gif) repeat-x 0 100%;
}
.video360-holder{
  width: 960px;
  margin: 0 auto;
  padding: 25px 0px;
}
.video360-holder h2{
  margin: 0 0 23px;
  color: #fff;
  font: 24px/27px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
}
.page-ie .video360-holder h2 {
  font:24px/27px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.video360-slider{
  overflow: hidden;
  padding: 0 29px;
  position: relative;
  height: 230px;
}
.video360-holder.active .video360-slider{
  height: auto;
  
      padding-bottom: 14px;
}
.video360-holder.active .video360-slider .prev-teaser,
.video360-holder.active .video360-slider .next-teaser,
.video360-slider .prev-slider,
.video360-slider .next-slider{
  display:none;
}
.video360-holder.active .video360-slider .prev-slider,
.video360-holder.active .video360-slider .next-slider{
  display: block;
}
.video360-slider .prev-teaser,
.video360-slider .next-teaser,
.video360-slider .prev-slider,
.video360-slider .next-slider{
  position: absolute;
  left: 0;
  top: 50%;
  /*margin-top: -58px;*/
  margin-top: -47px;
  width: 20px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-video360.png) no-repeat;
}
.video360-slider .next-slider,
.video360-slider .next-teaser{
  left:auto;
  right:0;
  background-position: -20px 0;
}
.video360-slider .holder{
  width: 902px;
  overflow: hidden;
  margin-bottom: -24px;
  position: relative;
  direction: ltr;
}
.video360-slider ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 99999px;
  direction: ltr;
}
.active .video360-slider ul{
  width: 920px;
  margin: 0 !important;
}
.active .video360-slider ul li{
  float: none;
}
.video360-slider ul li{
  float: left;
  width: 902px;
  height: 250px;
  direction: ltr;
}
.video360-slider ul li .row{
  overflow: hidden;
  width: 912px;
  margin: 0 0 24px -10px;
}
.video360-slider ul li .box{
  float: left;
  width: 291px;
  margin-left: 13px;
}
.video360-slider ul li .box .video{
  border: 4px solid #fff;
  position: relative;
  margin-bottom: 5px;
}
.video360-slider ul li .box .video img,
.video360-slider ul li .box .video iframe{
  vertical-align:top;
  width:281px;
  height:164px;
}
.video360-slider ul li .box .txt{
  padding: 0 4px;
  font: 14px/20px 'TradeGothicLTStd_bold';
  color: #fff;
  letter-spacing:0.05em;
}
.page-ie .video360-slider ul li .box .txt {
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.video360-slider ul li .box .txt p{
  margin: 0;
}
.video360-slider ul li .box .txt p a{
  color: #fff;
}
.video360-slider ul li .box .video .btn-play{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -26px 0 0 -43px;
  width: 87px;
  height: 52px;
  background: url(../images/btns.png) no-repeat 0 -104px;
  overflow: hidden;
  text-indent: -9999px;
}
.video360 .btn-video-more{
  width: 65px;
  height: 38px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/btn-more-vodeo360.png) no-repeat;
  margin: -43px auto 0;
  position: relative;
  top:49px;
}
.video360 .video360-holder.active .btn-video-more{
  background-position: 0 -38px;
}
.block-x3{
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 34px;
}
.block-x3-holder{
  width: 960px;
  margin: 0 auto;
}
.block-x3-holder .media-block{
  border: 0;
  padding: 37px 0 26px;
}
.block-x3-holder .media-block .holder{
  margin-left: -32px;
  width: 995px;
}
.block-x3-holder .media-block .box{
  margin-left: 32px;
  padding: 0;
}
.block-x3-holder .media-block .box .label-ttl{
  top:20px;
  left:-10px;
}






.facebook-side-block{

}
.facebook-side-block img{
  vertical-align:top;
}
.top-home-holder{
  width: 100%;
  float: left;
}
.top-home-holder .social-bar{
  padding: 0;
}
.top-home-holder .full-slide-holder .btn-prev,
.top-home-holder .full-slide-holder .btn-next,
.top-home-holder .full-slider-lg .btn-prev,
.top-home-holder .full-slider-lg .btn-next{
  top:432px;
}
.top-home-holder .full-slide-holder .btn-prev,
.top-home-holder .full-slide-holder .btn-next {
top: 250px ! important;
}
.top-home-holder .full-slide-holder .btn-prev{
left:12px !important;
}

.dossier-page .top-home-holder .btn-prev,
.dossier-page .top-home-holder .btn-next{
  top:432px;
}
.dossier-text{
  font: 15px/20px 'TradeGothicLTStd_bold';
  margin: -17px 3px 15px;
  clear:both;
}
.page-ie .dossier-text{
  font:15px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.dossier-text p{
  margin: 0;
}
#popup-banner{
  position: absolute;
  left: -9999px;
  top: -9999px;
  /* display: none; */
}
#popup-banner .holder{
  background: #fff;
  behavior: url(css/PIE.htc);
  position: relative;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  padding: 10px 16px;
}
#popup-banner .close{
  position: absolute;
  right: 9px;
  top: 9px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/close-popup.gif) no-repeat;
}
#popup-banner img{
  vertical-align:top;
}
#lang-popup{
  position: absolute;
  left: -9999px;
  top: -9999px;
}
#lang-popup .holder{
  position: relative;
  overflow: hidden;
  background: url(../images/bg-body.gif);
  padding: 39px 44px;
  behavior: url(css/PIE.htc);
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
#lang-popup .box{
  float: left;
  width: 430px;
}
#lang-popup .box .ttl{
  border-bottom: 8px solid #3f3e3c;
  height: 38px;
  margin-bottom: 21px;
}
#lang-popup .box.ar .ttl{
  text-align: right;
  direction: rtl;
}
#lang-popup .box .ttl h3{
  margin: 0;
  color: #333;
  font: 28px/31px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
  letter-spacing:-2px;
}
.linux #lang-popup .box .ttl h3{
  overflow: visible;
}
.page-ie #lang-popup .box .ttl h3 {
  font:28px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
#lang-popup .box .ttl h3.ar{
  font-family: "arial narrow", Arial, Helvetica, sans-serif;
}
#lang-popup .box .logo-img{
  text-align: center;
  height: 104px;
}
#lang-popup .box .logo-img img{
  vertical-align:top;
}
#lang-popup .box .btn-box{
  overflow: hidden;
}
#lang-popup .box .btn{
  height: 31px;
  overflow: hidden;
  background: url("../images/btn-02.png") no-repeat;
  float: left;
  color: #fff;
  cursor: pointer;
  font: 14px/32px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
}
.ie7 #lang-popup .box .btn,
.ie8 #lang-popup .box .btn{
  font:bold 14px/29px "arial narrow", Arial, Helvetica, sans-serif;
}
#lang-popup .box .btn.ar{
  font-size: 22px;
  font-family: "arial narrow", Arial, Helvetica, sans-serif;
}
#lang-popup .box .btn span{
  float: left;
  background: url("../images/btn-02.png") no-repeat 100% -31px;
  padding: 0 7px;
}
#lang-popup .box .btn:hover,
#lang-popup .box .btn:hover span{
  text-decoration: none;
}
#lang-popup .box.ar .ttl h3{
  font:bold 28px/31px 'Adobe Arabic', Arial, Helvetica, sans-serif;
  letter-spacing:0;
}
.drop-share{
  position: absolute;
  left: 50%;
  top: -9999px;
  width: 398px;
  background: url(../images/none.gif);
  margin-left: -197px;
  z-index:101;
  padding-top: 10px;
}
.top-nav li:hover .drop-share{
  top: 50px;
}
.drop-share strong.arrow{
  position: absolute;
  left: 50%;
  top: -11px;
  margin-left: -10px;
  width: 20px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/arrow-drop-share.png) no-repeat;
}
.drop-share .holder{
  background: url(../images/bg-drop-share.gif);
  position: relative;
  border: 1px solid #6f6e6e;
  behavior: url(css/PIE.htc);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.drop-share .frame{
  background: url(../images/bg-drop-share-fr.gif) repeat-x 0 100%;
  position: relative;
  /* overflow: hidden; */
  padding: 13px 17px;
  behavior: url(css/PIE.htc);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.newsletter-form{
  width: 314px;
  height: 30px;
  background: #fff;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}
.newsletter-form input{
  float: left;
  width: 314px;
  padding: 6px 0;
  margin: 0;
  background: none;
  border: 0;
  color: #504f4e;
  font: 14px/17px 'TradeGothicLTStd_bold',Arial,Helvetica,sans-serif;
}
.page-ie .newsletter-form input {
  font:14px/17px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.newsletter-form .input-placeholder-text{
  top:6px;
  left:10px;
  width: 314px;
  color: #504f4e;
  font: 14px/17px 'TradeGothicLTStd_bold',Arial,Helvetica,sans-serif;
  letter-spacing:-1px;
  background: none !important;
}
.page-ie .newsletter-form .input-placeholder-text {
  font:14px/17px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.drop-share .social-list{
  float: none;
  margin: 0 0 0 -2px;
  width: 380px;
  padding: 8px 0 12px;
  z-index: auto;
}
.drop-share .social-list:after {
  content: "";
  display: block;
  clear: both;
}
.drop-share .social-list li{
  float: left;
  background: none;
  height: auto;
  padding: 0 12px  0 0;
}
.drop-share>.social-list>li>span{
	background: none !important;
}
.wrapper {
  margin-bottom: -71px;
  padding:224px 0 0;
  position:relative;
  overflow: hidden;
  width: 100%;
  top:-72px;
}
.wrapper .wrap {
  text-align:center;
  position:absolute;
  z-index:1;
  width:100%;
  left:0;
  top:0;
}
.wrapper .wrap a {
  display:inline-block;
  /* margin:0 18px 0 0;*/
}
.wrapper .wrap img {vertical-align:top;}
.wrapper .home-holder,
.wrapper .banner-holder {
  padding:17px 23px 0;
  background:url("../images/bg-body.gif");
  position:relative;
  z-index:2;
}
.wrapper .banner-holder{
  width: 960px;
  margin: 0 auto;
  padding-top: 23px;
}
.home-page #main{
  width: 100%;
  background: none;
  margin: 0 0 36px;
}
div.side-slider-list {width:auto;}
.gallery-holder .full-slide li {background:#fff;}
.gallery-holder .full-slide-holder .btn-prev,
.gallery-holder .full-slide-holder .btn-next,
.gallery-holder .full-slider-lg .btn-prev,
.gallery-holder .full-slider-lg .btn-next {
  top:6px;
  left:5px;
  width:58px;
  height:322px;
  background:url(../images/arrows.png) no-repeat;
}
.gallery-holder .full-slide-holder .btn-next,
.gallery-holder .full-slider-lg .btn-next {
  background-position:-58px 0;
  left:auto;
  right:5px;
}
.gallery-holder .copy-box{
  overflow: hidden;
}
.gallery-holder .copy {
  padding:18px 0 21px;
  display:block;
  min-height: 22px;
}
.gallery-holder .link {
  background:url(../images/bg-btn-gray.gif) no-repeat 100% 0;
  font-family:TradeGothicLTStd_bold;
  text-transform:uppercase;
  position:relative;
  padding:0 10px 0 0;
  color:#fff;
  font-size:14px;
  line-height:30px;
  height: 30px;
  position:absolute;
  right:0;
  top:352px;
  z-index:101;
}
.gallery-holder .link strong {
  background:url(../images/bg-btn-gray.gif) no-repeat;
  margin:0 0 0 -5px;
  padding:0 0 0 10px;
  font-size:14px;
  line-height:32px;
  height: 30px;
  float:left;
  font-weight: normal;
}
.gallery-holder .link:hover,
.gallery-holder .link:hover strong{
  text-decoration: none;
}
.gallery-holder .full-slide li p {font-size:16px;}
.gallery-holder .thumbnails li {
  padding:0 2px;
  width:130px;
}
.gallery-holder .content-slider .btn-prev,
.gallery-holder .content-slider .btn-next {top:21px;}
.gallery-holder .content-slider .holder{
  width: 536px;
}
.gallery-holder .content-slider .btn-prev.disable,
.gallery-holder .content-slider .btn-next.disable{
  display: none;
}
.gallery-holder .content-slider {padding-bottom:19px;}
.lightbox {
  width:944px;
  margin:0 auto;
  padding:73px 0 0;
  background:url(../images/bg-light-box.png) no-repeat;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index:120;
}
.lightbox-holder {
  padding:0 0 73px;
  background:url(../images/bg-light-box.png) no-repeat -1888px 100%;
}
.lightbox-frame {
  color:#fff;
  position:relative;
  padding:9px 99px 0 87px;
  background:url(../images/bg-light-box.png) repeat-y -944px 0;
}
.lightbox .close {
  position:absolute;
  top:3px;
  right:83px;
  width:11px;
  height:15px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/btn-close.gif) no-repeat;
}
.lightbox .social-bar {
  padding:0 72px 20px 0;
  width:auto;
  position: relative;
  z-index: 101;
}
.lightbox .full-slide-holder,
.lightbox .full-slider-lg {padding:0 68px 0 64px;}
.lightbox .full-slide {margin:0;}
.lightbox .full-slide li {background:#2C2B2B}
.lightbox .full-slide-holder .btn-prev,
.lightbox .full-slide-holder .btn-next,
.lightbox .full-slider-lg .btn-prev,
.lightbox .full-slider-lg .btn-next {
  top:150px;
  left:0;
  width:36px;
  height:61px;
  background:url(../images/arrows-lightbox.gif) no-repeat;
}
.lightbox .full-slide-holder .btn-next,
.lightbox .full-slider-lg .btn-next {
  background-position:-36px 0;
  left:auto;
  right:0;
}
.lightbox .full-slide-holder .btn-prev:hover,
.lightbox .full-slider-lg .btn-prev:hover {background-position:0 -61px;}
.lightbox .full-slide-holder .btn-next:hover,
.lightbox .full-slider-lg .btn-next:hover {background-position:-36px -61px;}
.lightbox .holder img {vertical-align:top;}
.lightbox .full-slide .holder {
  padding:0 0 10px;
  border:0;
}
.lightbox .copy {
  display:block;
  padding:0 0 10px;
}
.lightbox .content-slider {padding:29px 71px 32px;}
.lightbox .content-slider .holder{
  width: 616px;
}
.lightbox .thumbnails li {
  width:132px;
  padding:0 11px;
}
.lightbox .full-slide li p {
  line-height:17px;
  font-size:14px;
}
.lightbox .thumbnails li .img {
  border:4px solid #fff;
  padding:0;
  margin:0;
}
.lightbox .content-slider .btn-prev,
.lightbox .content-slider .btn-next {
  top:51px;
  left:32px;
  background-position:0 -64px;
}
.lightbox .content-slider .btn-next {
  left:auto;
  right:36px;
  background-position:-20px -64px;
}
.lightbox .link{
  display: none;
}
.media-block.alt {
  width:auto;
  overflow:hidden;
  background:#fff;
  margin:0 0 48px;
  padding:11px 10px 0;
}
.media-block.alt .holder {
  border-top:8px solid #3f3e3c;
  padding:21px 0 0;
  margin:0 0 22px;
  width:100%;
}
.media-block.alt .box:first-child {margin-left:0;}
.media-block.alt .box {margin-left:20px;}
.media-block .wrap {
  background:url(../images/bg-mask.png);
  position:absolute;
  bottom:3px;
  right:3px;
  left:3px;
  top:3px;
  width: 291px;
}
.flash-news {
  position:fixed;
  z-index:999;
  width:100%;
  height:40px;
  left:0;
  bottom:0;
  padding:1px 0 0;
  color:#fff;
  font:16px/19px 'TradeGothicLTStd_bold';
  background:url(../images/bg-flash-news.png) repeat-x;
}
.page-ie .flash-news{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.flash-news .holder {
  position:relative;
  margin:0 auto;
  overflow: hidden;
  width:960px;
}
.flash-news .holder p {margin:0;}
.flash-news a,
.flash-news a.active{
  color: #fff;
}
.flash-news .holder .close-flash-news {
  position:absolute;
  right:-4px;
  top:6px;
  width:31px;
  height:31px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(../images/btn-close-2.png) no-repeat;
}
.full-slider-lg{
  position: relative;
}
.lightbox .full-slide .full-item {
  background:none;
  padding:0;
  margin:0;
  border:0;
  box-shadow:none;
  -webkit-box-shadow:none;
}
/*form-item-choice*/
.vote-form{
  width: 100%;
}
#main .vote-holder{
  padding: 28px 0 39px;
}
.vote-holder h4{
  margin: 0 0 22px;
  color: #fe7641;
  font: 16px/20px 'TradeGothicLTStd_bold';
}
#main .vote-form .radioArea,
#main .vote-form .radioAreaChecked{
  margin-top: -1px;
}
.page-ie .vote-form h4{
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.vote-form .form-item{
  margin: 0;
  padding-bottom: 19px;
  width: 100%;
}
.vote-form .form-item:after {
  content: "";
  display: block;
  clear: both;
}
.vote-form .choices{
  width: 100%;
  display: block;
  padding-bottom: 4px;
}
.vote-form .form-item .form-item{
  margin: 0;
  padding: 8px 0 12px;
  width: 100%;
  overflow: hidden;
}
.vote-form .form-item label{
  display: block;
  font: 14px/20px 'TradeGothicLTStd_bold';
  overflow: hidden;
}
.page-ie .vote-form .form-item label {
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.vote-form  .btn-submit{
  display: block;
  width: 63px;
  height: 31px;
  text-align: center;
  background: url(../images/btns.png) no-repeat;
  border: 0;
  padding: 0 0 1px;
  margin: 0 0 0 2px;
  color: #fff;
  font:14px/31px 'TradeGothicLTStd_bold';
  cursor: pointer;
}
.page-ie .vote-form .btn-submit{
  font:14px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.poll{
  padding: 0 75px 0 0;
  margin-top: -5px;
}
.poll .text{
  font: 14px/20px 'TradeGothicLTStd_bold';
  padding-bottom: 3px;
}
.page-ie .poll .text {
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.poll .row{
  width: 100%;
  position: relative;
  padding-bottom: 18px;
}
.poll .row:after {
  content: "";
  display: block;
  clear: both;
}
.poll .votes{
  position: absolute;
  right: -70px;
  top: -5px;
  width: 63px;
  white-space:nowrap;
  color: #fe7641;
  font: 14px/17px 'TradeGothicLTStd_bold';
}
.page-ie .poll .votes{
  font:14px/17px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.poll .bar{
  behavior: url(css/PIE.htc);
  border: 1px solid #c2c0c0;
  position: relative;
  height: 7px;
  background: url(../images/bg-bar-vote.gif) repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.poll .foreground{
  height: 7px !important;
  behavior: url(css/PIE.htc);
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/bg-foreground.gif) repeat-x !important;
}
.poll .foreground:hover .percent{
  display: block;
}
.poll .percent{
  position: absolute;
  right: -28px;
  bottom: 2px;
  width: 61px;
  height: 39px;
  overflow: hidden;
  background: url(../images/bg-percent.png) no-repeat;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 26px;
  display: none;
}
.form-submit{
  display: block;
  width: 135px;
  height: 31px;
  text-align: center;
  background: url(../images/btns.png) no-repeat 0 -216px;
  border: 0;
  padding: 0 0 1px;
  margin: 0 0 0 2px;
  color: #fff;
  font:14px/31px 'TradeGothicLTStd_bold';
  cursor: pointer;
}
.page-ie .form-submit{
  font:14px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.content-block .map-holder {
  padding:7px;
  margin:0 0 21px;
  background:#fff;
  text-align:center;
  border:1px solid #e5e5e5;
  box-shadow:0 0 3px #eaeaea;
  -webkit-box-shadow:0 0 3px #eaeaea;
}
.content-block .map-holder img {vertical-align:top;}
.content-block .info-container {
  overflow:hidden;
  margin:0 0 33px;
  font-size:14px;
  line-height:20px;
  font-family:'TradeGothicLTStd_bold';
}
.page-ie .content-block .info-container{
  font:14px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.email-form .heading,
.content-block .info-container .heading {
  display:block;
  margin:0 0 10px;
  color:#3f3e3c;
  font-size:18px;
  line-height:22px;
  font-family:'TradeGothicLTStd_bold';
}
.page-ie .email-form .heading,
.page-ie .content-block .info-container .heading{
  font:18px/22px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.content-block .info-container .column {
  float:left;
  width:198px;
  margin:0 0 -9999px;
  padding:0 25px 9999px 0;
  border-right:1px solid #010101;
}
.content-block .info-container .column address {
  display:block;
  font-style:normal;
  margin:0 0 7px;
}
.content-block .info-container .column address span {display:block;}
.content-block .info-container .column dl {
  margin:0;
  overflow:hidden;
}
.content-block .info-container .column dt {
  padding:0 5px 0 0;
  float:left;
}
.content-block .info-container .column dd {
  margin:0;
  display:block;
  overflow:hidden;
}
.content-block .info-container .holder {
  padding:0 0 0 23px;
  overflow:hidden;
}
.content-block .info-container .holder .footer-soc-list {border:0;}
.email-form {
  margin:0 0 -16px;
  width:592px;
}
.email-form .heading {
  display:block;
  margin:0 0 21px;
}
.email-form .row {
  padding:0 0 22px;
  width:100%;
}
.ie7 .email-form .row,
.ie8 .email-form .row{
  overflow: hidden;
}
.email-form .row:after {
  content:'';
  display:block;
  clear:both;
}
.email-form select {
  margin:0;
  width:100%;
  float:left;
}
.email-form .row .text {
  float:left;
  width:526px;
  height:38px;
  padding:5px 50px 5px 16px;
  background:url(../images/bg-inputs.gif) no-repeat 0 -70px;
  position: relative;
}
.input-placeholder-text{
  position: absolute;
  left: 16px;
  top: 13px;
  width:526px;
}
.email-form .row .textarea {
  float:left;
  width:592px;
  height:248px;
  background:url(../images/bg-inputs.gif) no-repeat 0 -281px;
  position: relative;
}
.email-form .row .text.valide {background-position:0 -141px;}
.email-form .row .text.error {background-position:0 -211px;}
.email-form .row .textarea.valide {background-position:-592px -281px;}
.email-form .row .textarea.error {background-position:-1184px -281px;}
.email-form .holder input,
.email-form .row input[type=text] {
  float:left;
  border:solid;
  border-color:transparent;
  border-width:0 50px 0 16px;
  background:none;
  width:100%;
  height:20px;
  padding:9px 0;
  margin:0 -50px 0 -16px;
  color:#707070;
  font-size:14px;
  line-height:20px;
}
.email-form .row textarea {
  float:left;
  border:0;
  background:none;
  border:solid;
  border-color:transparent;
  border-width:12px 16px;
  padding:0;
  overflow:auto;
  width:560px !important;
  height:224px !important;
  color:#707070;
  font-size:14px;
  line-height:20px;
  resize:none;
}
.email-form .holder {
  overflow:hidden;
  padding:0 0 0 250px;
}
.email-form .holder .frame {
  overflow:hidden;
  padding:0 0 2px;
}
.email-form .holder .text,
.email-form .captcha {
  float:left;
  width:142px;
  height:38px;
  padding:5px 10px;
  background:url(../images/bg-inputs.gif) no-repeat -430px -551px;
}
.email-form .captcha {
  width:158px;
  padding:5px;
  margin:0 12px 0 0;
  background-position:-251px -551px;
}
.email-form .captcha.valide{background-position: -842px -551px;}
.email-form .captcha.error{background-position: -1434px -551px;}
.email-form .holder .text.valide{background-position: -1022px -551px;}
.email-form .holder .text.error{background-position: -1614px -551px;}
.email-form .holder input {
  border-width:0 10px;
  margin:0 -10px;
}
.email-form .holder img {vertical-align:top;}
.email-form .holder a {
  color:#3f3e3c;
  font-size:13px;
  line-height:18px;
  text-decoration:underline;
}
.email-form .holder a:hover {text-decoration:none;}
.email-form input[type=submit] {
  margin:-5px 1px 0 0;
  float:right;
}
.page-title {
	overflow:hidden;
	margin:5px 0 19px;
}
.page-title h2 {
	margin:0;
	letter-spacing:-1px;
	text-transform:uppercase;
	font:24px/28px 'glypha_bold';
}
.page-title h2 .mark {color:#fc974d;}
.search-form {margin:0 0 17px;}
.search-form .text {
	float:left;
	width:725px;
	height:36px;
	padding:0 16px 0 49px;
	background:url(../images/bg-search-input.gif) no-repeat;
  position: relative;
}
.search-form .text .input-placeholder-text{
  padding: 9px 0;
  left: 49px;
  top:0;
  color:#3f3e3c !important;
  font-size:13px;
  line-height:20px;
  font-style:italic;
}
.search-form .text input {
	background:none;
	padding:9px 0;
	height:20px;
	float:left;
	width:100%;
	border:solid;
	color:#3f3e3c;
	font-size:13px;
	line-height:20px;
	font-style:italic;
	margin:0 -16px 0 -49px;
	border-color:transparent;
	border-width:0 16px 0 49px;
}
.search-form input[type=submit]{
	padding-bottom:3px;
	float:right;
	margin:0;
}
.main-container .aside {
	width:200px;
	float:left;
}
.search-holder {overflow:hidden;}
.search-result-list {
	padding:2px 15px 0 26px;
	overflow:hidden;
	list-style:none;
	line-height:20px;
	font-size:14px;
	color:#70747d;
	margin:0;
}
.search-result-list li {
	padding:0 0 20px;
	width:100%;
}
.search-result-list li:after {
	content:'';
	display:block;
	clear:both;
}
.search-result-list .img {
	border:1px solid #e5e5e5;
	position:relative;
	margin:2px 10px 0 0;
	background:#fff;
	padding:3px;
	float:left;
}
.search-result-list .img img {vertical-align:top;}
.search-result-list p {margin:0;}
.search-result-list .holder {width:100%;}
.search-result-list .holder:after {
	content:'';
	display:block;
	clear:both;
}
.search-result-list h3 {
	color:#384051;
	margin:0 0 8px;
	font:16px/20px 'glypha_bold';
}
.main-container {overflow:hidden;}
.aside h4{
	color:#3f3e3c;
	margin:0 0 13px;
	font:18px/22px 'TradeGothicLTStd_bold';
}
.page-ie .aside h4{
  font:18px/22px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.aside .block {
	border-top:5px solid #3f3e3c;
	padding:5px 0 16px;
	line-height:20px;
	font-size:14px;
	width:171px;
}
.aside .block .heading {
	font:16px/20px 'TradeGothicLTStd_bold';
	margin:0 0 4px;
	display:block;
}
.page-ie .aside .block .heading {
  font:16px/20px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.aside .block .list {
	list-style:none;
	padding:0;
	margin:0;
}
.aside .block .list li {
	overflow:hidden;
	width:100%;
}
.aside .block .list .active a {
	float:left;
	color:#fc974d;
	padding:0 24px 0 0;
	font-family:'TradeGothicLTStd_bold';
	background:url(../images/btn-close-3.gif) no-repeat 100% 2px;
}
.page-ie .aside .block .list .active a {
  font-family: "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.additional-search-form {
	overflow:hidden;
	margin:0 0 3px;
}
.additional-search-form .text {
	background:url(../images/bg-inputs.gif) no-repeat 0 -570px;
	padding:3px 8px;
	width:155px;
	height:23px;
	float:left;
}
.additional-search-form input[type=text] {
	border:solid;
	border-color:transparent;
	border-width:0 5px;
	background:none;
	float:left;
	padding:0;
	margin:0 -5px;
	width:100%;
	height:23px;
	line-height:23px;
}
.additional-search-form input[type=submit]{display:none;}
.social-list .drop-share{
  left: 32px;
  top: 25px;
  display: none;
}
#popup-mail-send{
  position: absolute;
  left: -99999px;
  top: -99999px;
  width: 522px;
  z-index:1000 !important;
  /* display: none; */
}
#popup-mail-send .holder{
  background:#e5e5e5 url(../images/bg-popup-mail.gif) repeat-x;
  position: relative;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  padding: 22px 18px;
}
.form-send-email{
  border-top: 8px solid #3f3e3c;
  padding-top: 10px;
}
.form-send-email h3{
  margin: 0 0 17px;
  text-transform: uppercase;
  color: #3f3e3c;
  font:24px/27px 'TradeGothicLTStd_bold';
}
.page-ie .form-send-email h3 {
  font:24px/27px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.form-send-email .text-form,
.form-send-email .area{
  overflow: hidden;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  background: #fff;
  height: 29px;
  width: 464px;
  margin-bottom: 19px;
  position: relative;
}
.form-send-email .text-form .input-placeholder-text,
.form-send-email .area .input-placeholder-text{
  position: absolute;
  left: 10px;
  top: 0;
  padding: 7px 0;
  font:italic 13px/16px arial, helvetica, sans-serif;
  width: 465px;
}

.form-send-email .text-form input,
.form-send-email .area textarea{
  float: left;
  width: 464px;
  padding: 7px 0;
  margin: 0;
  background: none;
  border: 0;
  color: #4d4d4d;
  font:italic 13px/16px arial, helvetica, sans-serif;
}
.form-send-email .area{
  height: 108px;
  padding: 10px;
  margin-bottom: 23px;
}
.form-send-email .area textarea{
  height: 108px;
  width: 464px;
  max-height: 108px;
  max-width: 464px;
  min-height: 108px;
  min-width: 464px;
  padding:0;
  overflow: auto;
  resize:none;
}
.form-send-email .text-form.parent-focus,
.form-send-email .area.parent-focus{
  border: 1px solid #fe7641;
}
.form-send-email .submit-box{
  overflow: hidden;
}
.form-send-email .btn-submit{
  float: right;
  width: 73px;
  height: 31px;
  text-align: center;
  background: url(../images/btns.png) no-repeat 100% 0;
  border: 0;
  padding: 0 0 2px;
  margin: 0 0 0 2px;
  color: #fff;
  font:14px/31px 'TradeGothicLTStd_bold';
  cursor: pointer;
}
.page-ie .form-send-email .btn-submit {
  font:13px/31px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.share-align-left .social-list .drop-share{
  margin-left: -334px;
  margin-left: -363px;
}
.share-align-left .social-list .drop-share strong.arrow{
  left:auto;
  right:22px;
}
/* banner */
.right-bottom-banner,
.right-top-banner,
.top-banner{
  width: 100%;
}
.top-banner{
  width: 1000px;
  margin: 0 auto 40px;
  text-align: center;
}
.right-top-banner{
  padding-bottom: 27px;
}
.right-bottom-banner img,
.right-bottom-banner iframe,
.right-bottom-banner object,
.right-top-banner img,
.right-top-banner iframe,
.right-top-banner object,
.top-banner img,
.top-banner iframe,
.top-banner object{
  vertical-align:top;
}
.btn-youtube,
.drop-share .social-list li .btn-youtube{
  float: left;
  height: 20px !important;
  font-size: 11px;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;

}
.btn-youtube .subscribe,
.drop-share .social-list li .btn-youtube .subscribe{
  background: url("../images/btn-youtube1.gif") no-repeat 100% -20px !important;
  padding-right: 11px;
}
.btn-youtube .subscribe span,
.drop-share .social-list li .btn-youtube .subscribe span{

  background: url("../images/btn-youtube1.gif") no-repeat !important;
  padding:0 4px 0 30px;
}
.btn-youtube span{
  float: left;
}
.btn-youtube .num,
.drop-share .social-list li .btn-youtube .num{
  background: url("../images/btn-youtube1.gif") no-repeat 0 -40px !important;
}
.btn-youtube .num span,
.drop-share .social-list li .btn-youtube .num span{
  background: url("../images/btn-youtube1.gif") no-repeat 100% -60px !important;
  padding: 0 4px;
  display: block;
}
.social-bar-bottom .social-list .drop-share{
  margin-left: -210px;
}
.download-list{
  margin: 0;
  padding: 8px 0 11px;
  list-style: none;
}
.download-list li{
  font:14px/17px 'glypha_bold';
  background: url("../images/ico-doc.png") no-repeat;
  padding: 2px 23px;
  letter-spacing:-1px;
}
.download-list li a{
  color: #3f3e3c;
}
.download-list li img{
  padding-right: 5px;
}
.flash-slider{
  position: relative;
  width: 799px;
  padding: 0 20px;
  margin: 11px 62px 0;
}
.flash-slider .frame{
  position: relative;
  overflow: hidden;
  width: 799px;
  height: 22px;
}
.flash-slider ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 799px;
  overflow: hidden;
  position: relative;
  height: 22px;
}
.flash-slider ul li{
  position: absolute;
  left: 0;
  top: 0;
  height: 22px;
  width: 799px;
  overflow: hidden;
  background: url("../images/none.gif");
}
.flash-slider ul li.active{
  z-index: 10;
}
.flash-slider .prev,
.flash-slider .next{
  position: absolute;
  left: 0;
  top: 1px;
  width: 12px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/btn-prev-next-flash.png") no-repeat;
  display: none;
}
.flash-slider .next{
  background-position: 0 -25px;
  left:auto;
  right:0;
}
#le-site-search-author-name-form{
  overflow: hidden;
}
#le-site-search-author-name-form .form-item{
  float: left;
  width: 125px;
  padding: 0 5px;
  height: 29px;
  background: url("../images/bg-inputs.gif") no-repeat 0 -570px;
  margin: 0;
}
#le-site-search-author-name-form .form-item input{
  float: left;
  width: 125px;
  padding: 5px 0;
  margin: 0;
  background: none;
  border: 0;
}
#le-site-search-author-name-form .form-submit{
  float: right;
  width: 25px;
  height: 29px;
  text-align: center;
  background-position: -175px -216px;
}
.home-cover div.messages{
  margin-bottom: 45px;
}
.error-node #main{
  background: none;
}
.error-page{
  border: 1px solid #c4c4c4;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px #c4c4c4;
  -moz-box-shadow: 0 0 4px #c4c4c4;
  -ms-box-shadow: 0 0 4px #c4c4c4;
  box-shadow: 0 0 4px #c4c4c4;
  position: relative;
  behavior: url(css/PIE.htc);
  width: 820px;
  margin: 0 auto 50px;
}
.error-page .holder{
  background: url("../images/bg-page-error.png");
  padding: 60px 80px;
  text-align: center;
}
.error-page .img{
  text-align: center;
  padding-bottom: 28px;
}
.error-page .img img{
  vertical-align: top;
}
.error-page p{
  margin: 0 0 43px;
  font:24px/29px 'TradeGothicLTStd_bold';
  letter-spacing: -1px;
}
.page-ie .error-page p {
  font:bold 24px/29px "arial narrow", Arial, Helvetica, sans-serif !important;
  letter-spacing:0;
}
.error-page .btn-box{
  overflow: hidden;
}
.error-page .btn-box a{
  float: left;
  height: 51px;
  background: url("../images/btn-01.png") no-repeat;
  font:20px/51px 'TradeGothicLTStd_bold';
  text-transform: uppercase;
  color: #fff;
}
.page-ie .error-page .btn-box a {
  font:20px/51px "arial narrow", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing:0;
}
.error-page .btn-box a span{
  display: block;
  height: 51px;
  background: url("../images/btn-01.png") no-repeat 100% 100%;
  padding: 0 18px;
}
.error-page .btn-box a.back-home{
  width: 320px;
  text-align: center;
  margin: 0 auto;
  float: none;
  display: block;
}
.error-page .btn-box a:hover,
.error-page .btn-box a:hover span{
  text-decoration: none;
}
.banner-blog{
  padding-bottom: 16px;
}
.banner-blog img{
  vertical-align: top;
}
.text-blog{
  margin: -2px 0 4px;
}
.text-blog h1{
  font-size: 18px;
  line-height: 22px;
}
.blog-holder{
  padding-top:39px;
  margin-bottom: -50px;
}
.blog-holder h1{
  margin: 0;
}
#container{
  overflow: hidden;
  margin: 0 -16px;
}
#container .box{
  float: left;
  width: 176px;
  margin: 15px 16px;
}
#container .box.no-text{
  margin-top: -14px;
}
#container .box .text{
  color: #333;
  font:16px/20px 'TradeGothicLTStd_bold';
  background: url("../images/divider-03.gif") repeat-x;
  padding: 16px 0 12px;
  margin-top: -31px;
}
#container .box .text a{
  color: #333;
  text-decoration: none;
}
#container .box .text a:hover{
  text-decoration: underline;
}
#container .box .text p{
  margin: 0;
  word-break:break-all;
}
#container .box .text.no-line{
  background: none;
  padding-top: 0;
  margin: 0;
}
#container .box .item{
  background: #f3f1f1;
  border: 1px solid #f3f1f1;
  -webkit-box-shadow: 3px 3px 3px #bdbdbd;
  -moz-box-shadow: 3px 3px 3px #bdbdbd;
  -ms-box-shadow: 3px 3px 3px #bdbdbd;
  box-shadow: 3px 3px 3px #bdbdbd;
  margin-bottom: 19px;
  padding-bottom: 3px;
  min-height: 247px;
  text-align: center;
  position: relative;
}
#container .box .item .img{
  border: 7px solid #fff;
  margin-bottom: 9px;
  height: 161px;
}
#container .box .item .img img{
  vertical-align: top;
  width: 100%;
}
#container .box .item strong{
  display: block;
  color: #333;
  font:14px/18px 'TradeGothicLTStd_bold';
}
#container .box .item strong a{
  color: #333;
}
#container .box .item .social{
  text-align: center;
  padding-top: 3px;
}
#container .box .item .social img{
  vertical-align: top;
}
#container .label-ttl{
  top: 17px;
  line-height: 12px;
  height: 23px;
}
#container .label-ttl div{
  padding: 4px 12px;
  height: 13px;
}
.mac .label-ttl div,
.linux .label-ttl div{
  padding-top: 10px;
}

#container .label-ttl div.corner{
  padding: 0;
}
.site-map{
  background: #fff;
  padding: 30px 22px;
}
.site-map .title{
  padding: 12px 0 18px;
}
.site-map .holder{
  overflow: hidden;
}
.site-map .col1{
  float: left;
  width: 190px;
  padding: 0 10px 0 0;
}
.site-map .col2{
  float: left;
  width: 157px;
  padding: 0 10px 0 0;
}
.site-map .col3{
  float: left;
  width: 179px;
  padding: 0 10px 0 0;
}
.site-map .col4{
  float: left;
  width: 212px;
  padding: 0 10px 0 0;
}
.site-map .col5{
  float: left;
  width: 138px;
}
.site-map h4{
  margin: 0;
  padding-bottom: 10px;
  color: #fc974d;
  font:22px/25px 'TradeGothicLTStd_bold';
}
.logo-map{
  display: block;
  width: 137px;
  height: 103px;
  overflow: hidden;
  text-indent: -9999px;
  background: url("../images/logo-site.jpg") no-repeat;
  border: 2px solid #e7e7e7;
  margin-top: 4px;
}
.logo-map a{
  display: block;
  height: 100%;
}
.site-map ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-map ul li{
  background: url("../images/bullet-01.png") no-repeat 0 8px;
  font:16px/19px 'TradeGothicLTStd_bold';
  padding: 0 0 5px 10px;
}
.site-map .btn{
  overflow: hidden;
  margin-top: 7px;
}
.site-map .btn a{
  height: 31px;
  overflow: hidden;
  background: url("../images/btn-02.png") no-repeat;
  float: left;
  color: #fff;
  cursor: pointer;
  font: 18px/32px "arial narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  direction: rtl;
}
.site-map .btn span{
  float: left;
  background: url("../images/btn-02.png") no-repeat 100% -31px;
  padding: 0 10px;
}
.fb_iframe_widget{
  direction: ltr;
}
.container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* h1, h2, h3, h4{
  overflow: hidden;
} */
.linux .title h3,
.linux .video360-holder h2{
  padding-top: 3px;
  overflow: visible;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
.top360-list li .text span span{
  display: block;
}

.side-slider .frame .img{
  position: relative;
}
.yt-none{  width:56px; height:26px; position:relative; bottom: 27px; left: 502px;}
/*adblock*/
#adb_msg{
    background: #fff;
    color: #000;
    padding: 0px;
}
#adb_msg h2{
background:#fe7641;
    margin: 0 0;
    padding: 6px 5px;
	color:#fff;
	
}
#adb_msg  p{
	padding: 7px;
}
#adb_msg  p.button{
	text-align:center;
	border-top:1px solid  #fe7641
}
#adb_msg  p.button button{
	    color: #fe7641;
    background: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 7px 11px;
	cursor:pointer;
	  
	  

}
#adb_msg  p.button button:hover{
	background:#fe7641;
	color:#fff;
}
.load{
	background:url("../images/loading_spinner.gif") no-repeat;
	width:200px;
	height:200px;
	
}
.articles-holder img{
	    cursor: pointer;
}