@charset "utf-8";
/* CSS Document */

#top_section {
    background:background: url("/assets/dev/images/navient_core/common/HOMEPAGE-2-1150X550.jpg") no-repeat scroll center top / contain rgba(0, 0, 0, 0);
}
/*#mobile_top_section {
    background: url("/assets/dev/images/navient_core/common/mobile/banner-home-mobile_640x280.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0) !important;
	background-color:#FFF;
}*/

@media (min-width: 1px) and (max-width: 768px) and (orientation : landscape) {

  #mobile_top_section {
    background: url("/assets/dev/images/navient_core/common/mobile/banner-home-mobile_640x280.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 180px;
    background-color: #FFF;
    height: 280px;
	}
}

/*iPhone 5 in landscape*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 

  #mobile_top_section {
    height: 262px !important;
	}

}
/*iPhone 5 in landscape*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 

  #mobile_top_section {
    height: 150px !important;
	}

}