#mobile_nav_flyout_left {
  z-index: 9999;
  background: #F6F6F7;
  min-height: 0 !important;
  position: fixed;
  top: -1px;
  bottom: 0;
  left: -81%;
  /* & > * {
      -webkit-transform: translateZ(0px);
  }*/
  -moz-transition: all .35s ease-in;
  -ms-transition: all .35s ease-in;
  -o-transition: all .35s ease-in;
  -webkit-transition: all .35s ease-in; 
  transition: all 0.35s ease-in 0s;-webkit-transform: translateZ(0px);
  }
  #mobile_nav_flyout_left.active {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.55); }

div.small.menu_overlay {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out; }

#mobile_nav_flyout_left.active ~ div.small.menu_overlay {
  background: rgba(0, 0, 0, 0.75);
  z-index: 9 !important;
  opacity: 0.75; }

#mobile_nav_flyout_left.active ~ #mobile_nav {
  margin-top: initial;
  position: fixed; }

#mobile_nav_flyout_left.active ~ #page_center {
  margin-left: 0;
  overflow: hidden; }

#mobile_nav_flyout_left.active ~ #top_section, #mobile_nav_flyout_left.active ~ #content {
  left: initial;
  overflow: hidden; }

.menu {
  transition: left 0.35s ease-out;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.main_menu {
  left: 0%; }

.hidden_main {
  left: -100%; }

.submenu {
  left: 100%; }

.submenu_visible {
  left: 0%; }

.nav {
  padding: 0 0 0 17.5px;
  display: block;
  font-size: 1.3rem;
  line-height: 36px;
  height: auto; /*45px;*/
  font-family: "Arial";
  font-weight: normal;
  background: transparent;
  border-top: 1px solid #bebebe;
  cursor: pointer;
  cursor: hand;
  -webkit-touch-callout: none; }
  .nav:last-of-type {
    border-bottom: 1px solid #bebebe; }

.nav_cat_label {
  color: #222222 !important;
  background-image: url("/assets/dev/images/navient_core/common/mobile/icon_MenuArrow_gray_mobile.png");
  background-repeat: no-repeat;
  background-size: auto 22px;
  background-position: 95% center; }
  .nav_cat_label.selected {
    color: white !important;
    background: #470a68;
    background-image: none; }
    .nav_cat_label.selected:active {
      text-decoration: none !important;
      background-color: #72246c; }
    .nav_cat_label.selected:hover, .nav_cat_label.selected:focus {
      text-decoration: none !important; }
  .nav_cat_label:last-of-type {
    border-bottom: 1px solid #bebebe;
    background-image: url("/assets/dev/images/navient_core/common/mobile/icon_leave_menu_mobile.png"); }
  .nav_cat_label:active {
    text-decoration: none !important;
    background-color: #e6e6e7; }
  .nav_cat_label:hover, .nav_cat_label:focus {
    text-decoration: none !important; }

.nav_mainmenu {
  color: white !important;
  background-color: #470a68;
  background-image: url("/assets/dev/images/navient_core/common/mobile/icon_MenuArrow_white_mobile.png");
  background-repeat: no-repeat;
  background-size: auto 22px;
  background-position: 7.5px center;
  padding-left: 30px; }
  .nav_mainmenu:active {
    text-decoration: none !important;
    background-color: #72246c; }
  .nav_mainmenu:hover, .nav_mainmenu:focus {
    text-decoration: none !important; }

.nav_cat_default {
  padding-left: 12.5px;
  font-size: 1.3rem;
  color: #222222 !important;
  background: #e8e8e8;
  font-family: "Arial"; }
  .nav_cat_default:active {
    background-color: #d6d6d6;
    text-decoration: none !important; }
  .nav_cat_default:hover, .nav_cat_default:focus {
    text-decoration: none !important; }

.nav_cat_item {
  padding-left: 17.5px;
  font-size: 1.2rem;
  background: #f8f8f8;
  font-family: "Arial";
  color: #222222 !important; }
  .nav_cat_item:active {
    background-color: #e6e6e6; }
  .nav_cat_item:hover, .nav_cat_item:focus {
    text-decoration: none !important; }
