/***************** sprites ***************
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=20d74cc5-7f7c-49a7-80ae-fa2f389c550d");*/
.arrow-link:before, .icon_arrow_white, .icon_leave_content, .offsite_blue_large::after, .icon_magnify, .icon_pdf, .icons_tile_customers, #user-type-btnimg-wrapper div.tileIcon.customer, .icons_tile_gov, #user-type-btnimg-wrapper div.tileIcon.business, .icons_tile_schools, #user-type-btnimg-wrapper div.tileIcon.school, .logo_navient, .logo_navient_tagline, #desktop-logo-holder .header-logo, .icon_arrow_purple, .icon_arrow_blue, .icon_print_off, .icon_print_on, .icon_email_off, .icon_email_on, .pattern_RightRail, .icon_arrow_purple_ON, .icon_arrow_blue_ON, .Search_Arrow_Left_Single, .Search_Arrow_Left_Double, .Search_Arrow_Right_Double, .Search_Arrow_Right_Single, .icon_leave_footer_ON, .icon_leave_footer, .icon_leave_content_sm_ON, .icon_leave_content_sm, .icon_leave_content_ON, .offsite_blue_large:hover::after {
  background: url("/assets/dev/images/navient_core/common/sprites/desktop-sprites.png") no-repeat; }

.icon_arrow_white {
  background-position: -216px -17px;
  width: 18px;
  height: 18px; }

.icon_leave_content, .offsite_blue_large::after {
  background-position: -258px -10px;
  width: 34px;
  height: 34px; }

.icon_magnify {
  background-position: -67px -67px;
  width: 20px;
  height: 20px; }

.icon_pdf {
  background-position: -118px -67px;
  width: 16px;
  height: 16px; }

.icons_tile_customers, #user-type-btnimg-wrapper div.tileIcon.customer {
  background-position: -2px -106px;
  width: 105px;
  height: 105px; }

.icons_tile_gov, #user-type-btnimg-wrapper div.tileIcon.business {
  background-position: -125px -107px;
  width: 105px;
  height: 105px; }

.icons_tile_schools, #user-type-btnimg-wrapper div.tileIcon.school {
  background-position: -258px -107px;
  width: 105px;
  height: 105px; }

.logo_navient {
  background-position: -46px -248px;
  width: 250px;
  height: 42px; }

.logo_navient_tagline, #desktop-logo-holder .header-logo {
  background-position: -43px -324px;
  width: 290px;
  height: 65px; }

.icon_arrow_purple {
  background-position: -63px -14px;
  width: 24px;
  height: 24px; }

.icon_arrow_blue {
  background-position: -14px -14px;
  width: 24px;
  height: 24px; }

.icon_print_off {
  background-position: -151px -52px;
  width: 46px;
  height: 46px; }

.icon_print_on {
  background-position: -202px -52px;
  width: 46px;
  height: 46px; }

.icon_email_off {
  background-position: -252px -52px;
  width: 46px;
  height: 46px; }

.icon_email_on {
  background-position: -301px -52px;
  width: 46px;
  height: 46px; }

.pattern_RightRail {
  background-position: -373px -24px;
  width: 6px;
  height: 6px; }

.icon_arrow_purple_ON {
  background-position: -163px -14px;
  width: 24px;
  height: 24px; }

.icon_arrow_blue_ON {
  background-position: -113px -14px;
  width: 24px;
  height: 24px; }

.Search_Arrow_Left_Single {
  background-position: -421px -19px;
  width: 6px;
  height: 12px; }

.Search_Arrow_Left_Double {
  background-position: -469px -19px;
  width: 12px;
  height: 12px; }

.Search_Arrow_Right_Double {
  background-position: -471px -68px;
  width: 12px;
  height: 12px; }

.Search_Arrow_Right_Single {
  background-position: -420px -68px;
  width: 6px;
  height: 12px; }

.icon_leave_footer_ON {
  background-position: -416px -166px;
  width: 18px;
  height: 18px; }

.icon_leave_footer {
  background-position: -18px -66px;
  width: 18px;
  height: 18px; }

.icon_leave_content_sm_ON {
  background-position: -466px -118px;
  width: 20px;
  height: 20px; }

.icon_leave_content_sm {
  background-position: -319px -19px;
  width: 20px;
  height: 20px; }

.icon_leave_content_ON, .offsite_blue_large:hover::after {
  background-position: -408px -111px;
  width: 34px;
  height: 34px; }

/****************** fonts *******************/
.size_1, .veneer-tile-header, .veneer-user-type h2 {
  font-size: 4.7rem;
  font-family: "Arial"; /*"Slate W01 Light"; */
  color: #333333; }

.size_2 {
  font-size: 3.6rem;
  font-family: "Arial"; /*"Slate W01 Medium";*/
  color: #333333; }

.size_3 {
  font-size: 3.0rem;
  font-family: "Arial"; /*"Slate W01 Medium";*/
  color: #333333; }

.size_4, .veneer-user-type a.tileCTA {
  font-size: 2.5rem;
  font-family: "Arial"; /*"Slate W01 Medium";*/ }

.size_5, #top_section #primary_nav div.primary_nav_items a {
  font-size: 2.4rem;
  font-family: "Arial"; /*"Slate W01 Medium";*/ }

.size_6, .veneer-user-type p {
  font-size: 2.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.size_7, .veneer-learn_more-text p, #desktop_leave_text {
  font-size: 2.1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333; }
  .size_7 b, .veneer-learn_more-text p b, #desktop_leave_text b {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold !important;
    color: #003399; }

.size_8, #top_links a, #top_links a:hover {
  font-size: 1.8rem;
  color: #470A68 !important;
  font-family: "Arial"; /*"Slate W01 Medium";*/ }

.size_9 {
  font-size: 2.0rem;
  font-family: "Arial"; /*"Slate W01 Medium";*/
  color: #333333; }

.size_10 {
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #333333; }

.size_11 {
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333; }
  .size_11 b {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold !important; }

.size_12 {
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #003399; }
  .size_12:hover {
    text-decoration: underline;
    color: #0057b6 !important; }

.size_13 {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333; }

.size_14 {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #003399; }
  .size_14:hover {
    text-decoration: underline;
    color: #0057b6 !important; }

.size_15, .footer_link {
  font-size: 1.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #470A68; }

.size_16 {
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333; }
  
/*
@font-face {
  font-family: "Slate W01 Light"; 
  src: url("/assets/dev/fonts/navient/slate-w01-light-webfont.eot?#iefix");
  src: url("/assets/dev/fonts/navient/slate-w01-light-webfont.eot?#iefix") format("eot"), url("/assets/dev/fonts/navient/slate-w01-light-webfont.woff") format("woff"), url("/assets/dev/fonts/navient/slate-w01-light-webfont.ttf") format("truetype"), url("/assets/dev/fonts/navient/late-w01-light-webfont.svg#90170f09-fd56-4d81-9183-89f4d3023375") format("svg"); }
@font-face {
  font-family: "Slate W01 Medium";
  src: url("/assets/dev/fonts/navient/slate-w01-medium-webfont.eot?#iefix");
  src: url("/assets/dev/fonts/navient/slate-w01-medium-webfont.eot?#iefix") format("eot"), url("/assets/dev/fonts/navient/slate-w01-medium-webfont.woff") format("woff"), url("/assets/dev/fonts/navient/slate-w01-medium-webfont.ttf") format("truetype"), url("/assets/dev/fonts/navient/slate-w01-medium-webfont.svg#e2bc308f-8bfe-48a1-89d7-a5a8ac370ff0") format("svg"); }
@font-face {
  font-family: "Slate W01 Medium Italic";
  src: url("/assets/dev/fonts/navient/slate-w01-medium-italic-webfont.eot?#iefix");
  src: url("/assets/dev/fonts/navient/slate-w01-medium-italic-webfont.eot?#iefix") format("eot"), url("/assets/dev/fonts/navient/slate-w01-medium-italic-webfont.woff") format("woff"), url("/assets/dev/fonts/navient/slate-w01-medium-italic-webfont.ttf") format("truetype"), url("/assets/dev/fonts/navient/slate-w01-medium-italic-webfont.svg#a310d281-7e9b-4b19-a94a-6a109a390385") format("svg"); }
@font-face {
  font-family: "Slate W01 Regular";
  src: url("/assets/dev/fonts/navient/slate-w01-regular-webfont.eot?#iefix");
  src: url("/assets/dev/fonts/navient/slate-w01-regular-webfont.eot?#iefix") format("eot"), url("/assets/dev/fonts/navient/slate-w01-regular-webfont.woff") format("woff"), url("/assets/dev/fonts/navient/slate-w01-regular-webfont.ttf") format("truetype"), url("/assets/dev/fonts/navient/slate-w01-regular-webfont.svg#cee327ea-b14e-45be-860f-f5d226b92bf3") format("svg"); }
@font-face {
  font-family: "Slate W01 Bold";
  src: url("/assets/dev/fonts/navient/slate-w01-bold-webfont.eot?#iefix");
  src: url("/assets/dev/fonts/navient/slate-w01-bold-webfont.eot?#iefix") format("eot"), url("/assets/dev/fonts/navient/slate-w01-bold-webfont.woff") format("woff"), url("/assets/dev/fonts/navient/slate-w01-bold-webfont.ttf") format("truetype"), url("/assets/dev/fonts/navient/slate-w01-bold-webfont.svg#db978b75-1d87-4a94-98f8-4f05471202da") format("svg"); }

*/

/****************** Mix-ins *******************/
/****************** Universal *******************/
html {
  font-size: 10px;overflow-x:hidden; }

body {
  font-family: 'Arial';
  overflow-x: auto; }

* {
  line-height: 1.25em; }

/****************** Center global layout according to stylesheet *******************/
main#desktop, #alert_top, #header, #content, #footer {
  min-width: 102.4rem;
  width: 102.4rem;
  position: relative;
  margin: 0px auto;
  -webkit-backface-visibility: hidden; }

#page_center {
  width: 102.4rem;
  margin: 0 auto;
  border: 0;
  -webkit-perspective: 0 !important; }

#page_container {
  width: 102.4rem;
  margin: 0 auto;
  background: #ffffff;
  background: -moz-linear-gradient(left, white 0%, #fefefe 40%, #fefefe 40%, white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(40%, #fefefe), color-stop(40%, #fefefe), color-stop(100%, white));
  background: -webkit-linear-gradient(left, white 0%, #fefefe 40%, #fefefe 40%, white 100%);
  background: -o-linear-gradient(left, white 0%, #fefefe 40%, #fefefe 40%, white 100%);
  background: -ms-linear-gradient(left, white 0%, #fefefe 40%, #fefefe 40%, white 100%);
  background: linear-gradient(to right, white 0%, #fefefe 40%, #fefefe 40%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); }

#content_container {
  padding-bottom: 0;
  padding-top: 0;
  max-width: none !important; }

#header_container {
  max-width: none !important; }

#top_section, #content {
  position: relative;
  left: 0%;
  transition: all .4s ease-out;
  transition-delay: 0s;
  -moz-transform-origin: left;
  -moz-transition: all .4s ease-out;
  -moz-transitionn-delay: 0s;
  -ms-transform-origin: left;
  -ms-transition: all .4s ease-out;
  -ms-transitionn-delay: 0s;
  -o-transform-origin: left;
  -o-transition: all .4s ease-out;
  -o-transitionn-delay: 0s;
  -webkit-transform: translateZ(0);
  -webkit-transform: translat3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: left;
  -webkit-transition: all .4s ease-out;
  -webkit-transition-delay: 0s;
  -webkit-animation: bugfix infinite 1s; }

/* GLOBAL IE FIXES */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #top_links_container {
    width: auto; }

  ul.footer_nav {
    width: auto; } }
/****************** Colors *******************/
/* Primary colors */
/* Secondary colors */
/****************** Links *******************/
a {
  color: #003399; }
  a:hover {
    color: #0057b6;
    text-decoration: underline; }
  a:visited {
    color: #003399; }

/****************** For vertically aligning content *******************/
.valign {
  display: table;
  margin: 0px auto; }

.valign-cell {
  display: table-cell !important;
  vertical-align: middle; }

.valign-cell_top {
  display: table-cell !important;
  vertical-align: top; }

/****************** Footer content *******************/
#footer_icon {
  height: 19px;
  width: 19px;
  vertical-align: middle; }

#footer_top_border {
  padding: 0;
  margin: 0 0 3rem 0;
  border-bottom: 5px solid #470a68;
  height: 0; }

#footer {
  background: #dedede;
  text-align: center; }
  #footer ul {
    display: inline-block;
    width: initial; }
  #footer #footer_container {
    width: 90rem;
    background: #dedede; }

.footer_link {
  color: #470a68;
  padding: 0 0.7rem 0 0.7rem;
  border-right: 1px solid #222222; }
  .footer_link a.newwindow {
 background: url("/assets/dev/images/navient_core/common/icon_OpeninNewWindow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #470a68 !important;
    padding-left: 20px;padding-top:3px;	 }
  .footer_link a.newinfo {
 background: url("/assets/dev/images/navient_core/common/icon-info-i.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #470a68 !important;
    padding-left: 20px;padding-top:3px;	 }
    .footer_link a:active, .footer_link a:hover {
      color: #72246c !important; }
  .footer_link a.link_offsite::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    background: url("/assets/dev/images/navient_core/common/sprites/desktop-sprites.png") no-repeat;
    background-position: -18px -66px;
    width: 18px;
    height: 18px; }
  .footer_link a.link_offsite:hover::after {
    background-position: -416px -166px; }
  .footer_link.last {
    padding-right: 0;
    border: none; }
  .footer_link span {
    vertical-align: middle; }

.footer_icon {
  padding: 0 0 0 15px; }

.footer_disclaimer {
  text-align: center;
  color: #3b3b3b;
  margin: 4rem 0 3rem 0; }

ul.secondFooterNav {
  margin-bottom: 50px; }

.common_clear {
  float: none;
  clear: both;
  height: 0;
  display: block; }

.align_left {
  text-align: left; }

.align_right {
  text-align: right; }

.resizeSmall:hover, .resizeLarge:hover {
  color: #0057b6; }

a.icon {
  color: transparent !important; }
  a.icon:hover, a.icon:focus, a.icon:active {
    color: transparent !important; }

footer {
  background: #DFDFDF;
  border-top: 5px solid #470a68;
  padding-bottom: 40px; }
  footer ul {
    width: auto; }
  footer #footer_nav_1 {
    margin-top: 15px; }
  footer #footer_nav_2 {
    margin-top: 10px;
    margin-bottom: 15px; }
  footer .footer_link {
    color: #470a68;
    font-family: "Arial"; /*"Slate W01 Medium";*/
    font-size: 12.5px;
    font-weight: normal;
    padding: 0 12px; }
    footer .footer_link a {
      color: #470a68 !important; }
      footer .footer_link a:active, footer .footer_link a:hover {
        color: #72246c !important; }
    footer .footer_link a.link_offsite {
      padding-right: 0 !important; }
  footer .footer_separator {
    padding: 0 7.5px;
    font-size: 1.3rem; }
  footer .footer_icon {
    padding: 0 0 0 7.5px; }
  footer .footer_disclaimer {
    text-align: center;
    font-family: "Arial"; /*"Slate W01 Light"; */
    font-size: 12px;
    font-weight: normal;
    color: #3b3b3b;
    margin-top: 25px;
    padding: 0 12.5px; }
  footer .secondFooterNav {
    margin-top: 15px;
    margin-bottom: 0; }
    footer .secondFooterNav:last-of-type {
      margin-top: 10px; }

@media (max-width: 850px) {
  .footer_link a.link_offsite::after {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: 0px;
    margin-left: .5em;
    background: url("/assets/dev/images/navient_core/common/sprites/mobile-sprites.png") no-repeat -105px -124px;
    background-size: 200px 175px;
    width: 22px;
    height: 21px; }
  .footer_link a.link_offsite:hover::after {
    background-position: -152px -124px; } }
@media (max-width: 850px) and (min-width: 524px) {
  .footer_medium {
    display: block; }

  .footer_small {
    display: none !important; } }
@media (max-width: 523px) {
  .footer_medium {
    display: none !important; }

  .footer_small {
    display: table; } }
.invisible {
  visibility: hidden; }

.zero_margin_top {
  margin-top: 0 !important; }

div#text_resizer a.zero_link, div#text_resizer a.zero_link:hover, div#text_resizer a.zero_link:active, div#text_resizer a.zero_link:visited {
  border-top: 0px solid transparent !important;
  padding: 0 !important;
  margin: 0 !important; }

.arrow-link:before, .icon_arrow_white, .icon_leave_content, .offsite_blue_large::after, .icon_magnify, .icon_pdf, .icons_tile_customers, #user-type-btnimg-wrapper div.tileIcon.customer, .icons_tile_gov, #user-type-btnimg-wrapper div.tileIcon.business, .icons_tile_schools, #user-type-btnimg-wrapper div.tileIcon.school, .logo_navient, .logo_navient_tagline, #desktop-logo-holder .header-logo, .icon_arrow_purple, .icon_arrow_blue, .icon_print_off, .icon_print_on, .icon_email_off, .icon_email_on, .pattern_RightRail, .icon_arrow_purple_ON, .icon_arrow_blue_ON, .Search_Arrow_Left_Single, .Search_Arrow_Left_Double, .Search_Arrow_Right_Double, .Search_Arrow_Right_Single, .icon_leave_footer_ON, .icon_leave_footer, .icon_leave_content_sm_ON, .icon_leave_content_sm, .icon_leave_content_ON, .offsite_blue_large:hover::after {
  background: url("/assets/dev/images/navient_core/common/sprites/desktop-sprites.png") no-repeat; }

.icon_arrow_white {
  background-position: -216px -17px;
  width: 18px;
  height: 18px; }

.icon_leave_content, .offsite_blue_large::after {
  background-position: -258px -10px;
  width: 34px;
  height: 34px; }

.icon_magnify {
  background-position: -67px -67px;
  width: 20px;
  height: 20px; }

.icon_pdf {
  background-position: -118px -67px;
  width: 16px;
  height: 16px; }

.icons_tile_customers, #user-type-btnimg-wrapper div.tileIcon.customer {
  background-position: -2px -106px;
  width: 105px;
  height: 105px; }

.icons_tile_gov, #user-type-btnimg-wrapper div.tileIcon.business {
  background-position: -125px -107px;
  width: 105px;
  height: 105px; }

.icons_tile_schools, #user-type-btnimg-wrapper div.tileIcon.school {
  background-position: -258px -107px;
  width: 105px;
  height: 105px; }

.logo_navient {
  background-position: -46px -248px;
  width: 250px;
  height: 42px; }

.logo_navient_tagline, #desktop-logo-holder .header-logo {
 
  /*background-position: -43px -324px;*/
  width: 290px;
  height: 65px;background:none;  }

.icon_arrow_purple {
  background-position: -63px -14px;
  width: 24px;
  height: 24px; }

.icon_arrow_blue {
  background-position: -14px -14px;
  width: 24px;
  height: 24px; }

.icon_print_off {
  background-position: -151px -52px;
  width: 46px;
  height: 46px; }

.icon_print_on {
  background-position: -202px -52px;
  width: 46px;
  height: 46px; }

.icon_email_off {
  background-position: -252px -52px;
  width: 46px;
  height: 46px; }

.icon_email_on {
  background-position: -301px -52px;
  width: 46px;
  height: 46px; }

.pattern_RightRail {
  background-position: -373px -24px;
  width: 6px;
  height: 6px; }

.icon_arrow_purple_ON {
  background-position: -163px -14px;
  width: 24px;
  height: 24px; }

.icon_arrow_blue_ON {
  background-position: -113px -14px;
  width: 24px;
  height: 24px; }

.Search_Arrow_Left_Single {
  background-position: -421px -19px;
  width: 6px;
  height: 12px; }

.Search_Arrow_Left_Double {
  background-position: -469px -19px;
  width: 12px;
  height: 12px; }

.Search_Arrow_Right_Double {
  background-position: -471px -68px;
  width: 12px;
  height: 12px; }

.Search_Arrow_Right_Single {
  background-position: -420px -68px;
  width: 6px;
  height: 12px; }

.icon_leave_footer_ON {
  background-position: -416px -166px;
  width: 18px;
  height: 18px; }

.icon_leave_footer {
  background-position: -18px -66px;
  width: 18px;
  height: 18px; }

.icon_leave_content_sm_ON {
  background-position: -466px -118px;
  width: 20px;
  height: 20px; }

.icon_leave_content_sm {
  background-position: -319px -19px;
  width: 20px;
  height: 20px; }

.icon_leave_content_ON, .offsite_blue_large:hover::after {
  background-position: -408px -111px;
  width: 34px;
  height: 34px; }

.icon_arrow_white_mobile, .icon_leave_content_mobile, .icon_leave_menu_mobile, .icon_mainMenu_default, #mobile_nav div.nav_table #mobile_nav_menu a div.mobile_menu_img, .icon_mainMenu_pressed, #mobile_nav div.nav_table #mobile_nav_menu a div.mobile_menu_img:active, .icon_MenuArrow_gray_mobile, .logo_navient_mobile, #mobile_nav div.nav_table #mobile_nav_logo .mobile_logo_img, .icon_arrow_blue_mobile_ON, .icon_arrow_blue_mobile, .icon_arrow_purple_mobile_ON, .icon_arrow_purple_mobile, .icon_leave_content_mobile_ON {
  background: url("/assets/dev/images/navient_core/common/sprites/mobile-sprites.png") no-repeat;
  background-size: 200px 175px; }

.icon_arrow_white_mobile {
  /* background-position: -6px -7px ;
  width: 38px;
  height: 38px; */
  background-position: -3px -3.5px;
  width: 20px;
  height: 20px; }

.icon_leave_content_mobile {
  /* background-position: -103px -5px ;
  width: 44px;
  height: 40px; */
  background-position: -51.5px -2.5px;
  width: 22px;
  height: 20px; }

.icon_leave_menu_mobile {
  /* background-position: -201px -1px ;
  width: 44px;
  height: 44px; */
  background-position: -100.5px -0.5px;
  width: 22px;
  height: 22px; }

.icon_mainMenu_default, #mobile_nav div.nav_table #mobile_nav_menu a div.mobile_menu_img {
  /* background-position: -16px -66px ;
  width: 68px;
  height: 62px; */
  background-position: -8px -33px;
  width: 34px;
  height: 31px; }

.icon_mainMenu_pressed, #mobile_nav div.nav_table #mobile_nav_menu a div.mobile_menu_img:active {
  /* background-position: -117px -66px ;
  width: 68px;
  height: 62px; */
  background-position: -58.5px -33px;
  width: 34px;
  height: 31px; }

.icon_MenuArrow_gray_mobile {
  background-position: -224px -74px;
  width: 44px;
  height: 44px; }

.logo_navient_mobile, #mobile_nav div.nav_table #mobile_nav_logo .mobile_logo_img {
  /* background-position: -18px -153px ;
  width: 240px;
  height: 40px; */
  background-position: -9px -76.5px;
  width: 120px;
  height: 20px; }

.icon_arrow_blue_mobile_ON {
  /* background-position: -155px -255px ;
  width: 38px;
  height: 38px; */
  background-position: -77.5px -127.5px;
  width: 19px;
  height: 19px; }

.icon_arrow_blue_mobile {
  /* background-position: -107px -255px ;
  width: 38px;
  height: 38px; */
  background-position: -53.5px -127.5px;
  width: 19px;
  height: 19px; }

.icon_arrow_purple_mobile_ON {
  /* background-position: -56px -255px ;
  width: 38px;
  height: 38px; */
  background-position: -28px -127.5px;
  width: 19px;
  height: 19px; }

.icon_arrow_purple_mobile {
  /* background-position: -5px -255px ;
  width: 38px;
  height: 38px; */
  background-position: -2.5px -127.5px;
  width: 19px;
  height: 19px; }

.icon_leave_content_mobile_ON {
  /* background-position: -303px -5px ;
  width: 44px;
  height: 40px; */
  background-position: -151.5px -2.5px;
  width: 22px;
  height: 20px; }

.multicolumn_column_container {
  margin: 0;
  padding: 0; }

.multicolumn_row {
  margin: 0;
  padding: 0; }
  .multicolumn_row .multicolumn_column {
    margin: 0;
    padding: 0; }

#header {
  background: transparent;
  height: 11rem; }
  #header #header_container {
    background: inherit;
    margin: 0;
    max-width: initial; }

#top_second_section {
  text-align: right;
  display: table;
  width: 100%;
  min-width: 108em;
  margin-top: 15px; }
  #top_second_section div {
    display: table-cell;
    vertical-align: middle; }
  #top_second_section #text_resizer {
    padding-right: 15px; }
    #top_second_section #text_resizer span {
      font-family: "Arial"; /*"Slate W01 Medium";*/
      padding: 0 5px; }
    #top_second_section #text_resizer span:hover {
      cursor: pointer;
      cursor: hand; }

#top_section {
  background: url("/assets/dev/images/navient_core/common/desktop/banner-home-desktop_1150x550.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 55rem; }
  #top_section #primary_nav {
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
    #top_section #primary_nav div.primary_nav_items {
      background: transparent;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%; }
      #top_section #primary_nav div.primary_nav_items a {
        padding: 1rem 2rem;
        display: table-cell;
        vertical-align: top;
        background: #470a68;
        overflow: hidden;
        text-align: left;
        border-right: 2px solid #856b93;
        color: white;
        font-family: "Arial"; /*"Slate W01 Light"; */ }
        #top_section #primary_nav div.primary_nav_items a:last-of-type {
          border: none; }
        #top_section #primary_nav div.primary_nav_items a:hover {
          background: #72246c;
          text-decoration: none; }

#desktop-logo-holder {
  margin: 2rem 0; }
  #desktop-logo-holder .header-logo {
    color: transparent !important;margin-left:20px !important; }
  #desktop-logo-holder a, #desktop-logo-holder a:hover, #desktop-logo-holder a:active {
    color: transparent !important;
    text-decoration: none !important; }

/*
   <div id="top_links_container" style="border:solid green 1px;max-width:700px;text-align:right;">
                                                <div id="top_links_content" style="text-align:right;width: 100%;">
                                           */
#top_links_container {
  width: initial;
  position: relative;
  text-align: center;
  /* Fix IE9 top-menu bug */
  /* max-width: 800px; */
  text-align: right;
  /* /Fix IE9 top-menu bug */ }
  #top_links_container #top_links_content {
    text-align: right !important;
    width: 100% !important; }
  #top_links_container div {
    position: relative;
    right: 0px;
    left: 0px; }
  #top_links_container > div:first-child {
    margin-top: 0; }

#top_nav {
  padding-top: 0px; }
  #top_nav #top_nav_container {
    height: 10rem;
    width: 100%; }

#top_links a {
  display: inline-block;
  padding: .35rem 1.0rem 0rem 1.25rem;
  margin-right: 1.0rem;
  border-left: none !important;
  border-top: solid transparent 5px;
  color: #470a68;
  text-align: center;
  font-family: "Arial"; /*'Slate W01 Regular';*/ }
  #top_links a:hover {
    border-top: solid #003399 5px !important;
    color: #003399 !important;
    padding: .35rem 1.0rem 0rem 1.25rem;
    text-decoration: none;
  font-family: "Arial"; /*'Slate W01 Regular';*/ }
  #top_links a.top_link_selected {
    border-top: solid #470a68 5px; }
  #top_links a:last-of-type {
    margin-right: 0; }


#user_types {
  margin-top: 26rem; }
  
#user_type_icons {
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center; }
  
#user_type_content {
  text-align: center;
  z-index: 1;
  position: relative;
  margin: -52.5px 0 0;
  padding-left: 0px;
  padding-right: 0px;
  }
  #user_type_content div:nth-child(2) {
    margin-left: 1.35rem;
    width: 31%; }
  #user_type_content div:nth-child(3) {
    float: right; }  
  #user_type_content h2 {
    color: #fff;
    font-size:3.0rem;
    margin-top: 60px;
    margin-bottom: 20px }
  #user_type_content p {
    color: #fff;
    font-size: 2.2rem;
    margin: 0 2px;
    /*min-height: 115px;*/
	padding:0 10px; }
  #user_type_content a.tile_CTA {
    padding: 5px 18px;
    margin: 20px 0 30px;
    display: inline-block;
    color: #fff;
    font-family: "Arial"; /*"Slate W01 Medium";*/
    font-size: 1.8rem;
	font-weight:bold;}
 
#user_type_borrower {
  background: #470a68; }

#user_type_school {
  background: #0057b6; }

#user_type_business {
  background: #0281a6; }


a.tile_CTA.borrower_CTA {
  background-color: #2d0245; }

a.tile_CTA.school_CTA {
  background-color: #044286; }

a.tile_CTA.business_CTA {
  background-color: #016e97; }
  
#content_container 
{
    padding: 7.5rem 0;
    text-align: center;
}  

#content_container .article h1 {
  margin-top: 0; 
  font-family: "Arial"; /*"Slate W01 Light"; */
  }
  
#content_container .article h1:before, #content_container .article h1:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 5px;
  /*background: #0C5BB3;*/
  position: relative;
  top: -10px; }

#content_container .article h1:before {
  margin-right: 20px; }

#content_container .article h1:after {
  margin-left: 20px; }

#content_container .article p {
  font-size: 1.8rem;
  padding: 0 35px; 
  margin-top: 1em; }
  
#content_container .article p + p {
  height: 34px; }

#content_container .article a {
  margin-top: 20px;
  font-weight: bold;
  /*background: url("/assets/dev/images/navient_core/common/desktop/icon_leave_content.png");*/
  background: url("/assets/dev/images/navient_core/common/desktop/icon_leave_content-left.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  padding-left: 24px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;  
}



#content #content_container {
  background: transparent;
  padding: 1.5rem 0 0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: initial;
  width: 102.4rem; }

.veneer-tile-header {
  color: #333; }

.veneer-tile-header:before, .veneer-tile-header:after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 5px;
  background: #0C5BB3;
  position: relative;
  top: -10px; }

.veneer-tile-header:before {
  margin-right: 20px; }

.veneer-tile-header:after {
  margin-left: 20px; }

.veneer-article {
  text-align: center;
  position: relative; }

.veneer-learn_more-text {
  margin-top: 20px;
  padding: 0 85px;
  text-align: center; }

#desktop_leave_text a {
  font-weight: bold;
  color: #003399; }

a[href].link_blue {
  color: #003399; }

.offsite_blue_large span {
  vertical-align: middle; }
.offsite_blue_large::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  top: -1.5px; }
.offsite_blue_large:hover {
  color: #0057b6 !important; }

#user-type-buttons-wrapper {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: -52.5px 0 0 0; }

#user-type-btnimg-wrapper {
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  /*img.tileIcon {
  	height: 105px;
  	width: 105px;
  }*/ }
  #user-type-btnimg-wrapper div.tileIcon {
    margin: 0 auto;
    color: transparent !important; }

#user-type-borrower {
  background: #470a68; }

#user-type-school {
  background: #0057b6; }

#user-type-business {
  background: #0281a6; }

.veneer-img-type:nth-child(2) {
  margin-left: 1.35rem;
  width: 31%; }
.veneer-img-type:nth-child(3) {
  float: right; }

.veneer-user-type {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  height: 35rem; }
  .veneer-user-type h2 {
    color: #fff;
    font-size: 4rem;
    margin-top: 60px;
    margin-bottom: 20px; }
  .veneer-user-type p {
    color: #fff;
    margin: 0 27.5px; }
  .veneer-user-type a.tileCTA {
    padding: 5px 18px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: 3rem; }
  .veneer-user-type:nth-child(2) {
    margin-left: 1.35rem;
    width: 31%; }
  .veneer-user-type:nth-child(3) {
    float: right; }

a.tileCTA.borrowerCTA {
  background-color: #2d0245; }

a.tileCTA.schoolCTA {
  background-color: #044286; }

a.tileCTA.businessCTA {
  background-color: #016e97; }

#veneer-users-holder {
  margin-top: 26rem; }

#mobile_nav {
  -webkit-box-shadow: 0px 1.5px 5px 0px rgba(75, 75, 75, 0.5);
  -moz-box-shadow: 0px 1.5px 5px 0px rgba(75, 75, 75, 0.5);
  box-shadow: 0px 1.5px 5px 0px rgba(75, 75, 75, 0.5);
  background: #F6F6F7;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 40px; }

#mobile_nav * {
  width: 100%;
  display: table-cell;
  vertical-align: middle; }

#mobile_nav a.login {
  display: inline !important;
  font-family: "Arial"; /*"Slate W01 Light"; */
  font-size: 1.5rem;
  color: #fff;
  background: #470a68;
  padding: .35rem 1.25rem;
  margin-right: 10px; }
  #mobile_nav a.login:focus, #mobile_nav a.login:active, #mobile_nav a.login:hover {
    text-decoration: none; }
  #mobile_nav a.login:active {
    background: #72246c; }

#mobile_nav div.nav_table * {
  display: table-cell;
  vertical-align: middle; }

#mobile_nav div.nav_table {
  width: 100%;
  height: inherit;
  display: table; }
  #mobile_nav div.nav_table #mobile_nav_logo {
    width: 49%;
    margin-right: 1%;
    text-align: center; }
    #mobile_nav div.nav_table #mobile_nav_logo img {
      width: auto;
      height: 20px;
      display: inline-block; }
    #mobile_nav div.nav_table #mobile_nav_logo .mobile_logo_img {
      color: transparent !important;
      display: inline-block; }
  #mobile_nav div.nav_table #mobile_nav_login {
    width: 24%;
    text-align: right; }
  #mobile_nav div.nav_table #mobile_nav_menu {
    width: 24%;
    margin-right: 1%;
    text-align: left; }
    #mobile_nav div.nav_table #mobile_nav_menu a {
      margin-left: 10px;
      display: inline-block;
      /* width: 34px;
      height: 34px;
      background: url("/assets/dev/images/navient_core/common/mobile/icon_mainMenu_default.png");
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center; */ }
      #mobile_nav div.nav_table #mobile_nav_menu a:active {
        /*background: url('/assets/dev/images/navient_core/common/mobile/icon_mainMenu_pressed.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;*/ }
      #mobile_nav div.nav_table #mobile_nav_menu a img {
        visibility: hidden; }
      #mobile_nav div.nav_table #mobile_nav_menu a div.mobile_menu_img {
        color: transparent !important;
        cursor: pointer;
        cursor: hand; }
      #mobile_nav div.nav_table #mobile_nav_menu a:hover, #mobile_nav div.nav_table #mobile_nav_menu a:active {
        text-decoration: none !important; }

#mobile_nav_flyout_left.active ~ #top_section,
#mobile_nav_flyout_left.active ~ #content {
  left: 81%;
  position: relative; }

#mobile_nav_flyout_left.active ~ #mobile_nav {
  position: absolute;
  margin-top: -40px; }

@media (min-width: 1px) and (max-width: 850px) {
  #user-type-school {
    background: #003399; }

  #page_container, #page_center {
    width: 100%; }

  #top_section {
    min-height: initial; }

  #header {
    height: auto; }
   
  #content {
    width: 100%; }
    #content #content_container {
      width: 100%;
      padding: 0px 0;
      border: none; }

  #veneer-users-holder {
    margin-top: 0; }

  #user-type-buttons-wrapper {
    margin: 0; }

  section.veneer-user-type {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
    height: auto;
    min-height: 15rem; }
    section.veneer-user-type:nth-child(2) {
      margin: 0;
      width: 100%; }
    section.veneer-user-type:nth-child(3) {
      float: none; }
    section.veneer-user-type h2 {
      font-family: "Arial"; /*"Slate W01 Light"; */
      font-size: 3rem;
      margin-top: 15px; }
    section.veneer-user-type p {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1.5rem;
      margin: 23px 5px 0 5px; }
    section.veneer-user-type a.tileCTA {
      /* background: url('/assets/dev/images/navient_core/common/mobile/icon_arrow_white_mobile.png');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 19px 19px;
      padding: 0 0 0 29px; */
      background-color: transparent;
      color: white !important;
      font-family: "Arial"; /*"Slate W01 Medium";*/
      font-size: 18px;
      margin-top: 23px;
      margin-bottom: 23px;
      position: relative;
      left: 0;
      right: 0;
      bottom: 0; }
      section.veneer-user-type a.tileCTA::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 4.25px;
        background: url("/assets/dev/images/navient_core/common/sprites/mobile-sprites.png") no-repeat;
        background-size: 200px 175px;
        background-position: -3px -3.5px;
        width: 20px;
        height: 20px; }
      section.veneer-user-type a.tileCTA:hover, section.veneer-user-type a.tileCTA:active {
        text-decoration: none; }
    section.veneer-user-type#user-type-borrower:active {
      background: #72246c; }
    section.veneer-user-type#user-type-school:active {
      background: #0057b6; }
    section.veneer-user-type#user-type-business:active {
      background: #0c97c0; }

  #mobile_top_section {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 158px;
    background: url("/assets/dev/images/navient_core/common/mobile/banner-home-mobile_640x280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    #mobile_top_section div {
      padding-top: 10px;
      font-family: "Arial"; /*"Slate W01 Light"; */
      font-size: 1.8rem;
      text-align: center;display:none; }

  .veneer-tile-header {
    font-size: 2.75rem;
    font-family: "Arial"; /*"Slate W01 Light"; */ }
    .veneer-tile-header::before {
      display: none; }
    .veneer-tile-header::after {
      display: none; }

  .article {
    margin: 0; }

  .veneer-learn_more-text {
    margin-top: 23px;
    padding: 0px 15px; }
    .veneer-learn_more-text p {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1.5rem; }
    .veneer-learn_more-text a {
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1.5rem;
      font-weight: bold; }
    .veneer-learn_more-text .offsite_blue_large::after {
      margin-left: 6.5px;
      background: url("/assets/dev/images/navient_core/common/sprites/mobile-sprites.png") no-repeat -52px -2px;
      background-size: 200px 175px;
      width: 22px;
      height: 21px;
      position: relative;
      top: -2px; }
    .veneer-learn_more-text .offsite_blue_large:active, .veneer-learn_more-text .offsite_blue_large:hover {
      text-decoration: none; }
      .veneer-learn_more-text .offsite_blue_large:active::after, .veneer-learn_more-text .offsite_blue_large:hover::after {
        background-position: -152px -2px; } 
        

  #banner_area {
    margin-top: 0;
    padding-top: 15px; }
    #banner_area div {
      display: inherit; }
    #banner_area #panel_login, #banner_area div.iframe-placeholder {
      display: none; }
    #banner_area #content_text {
      float: none;
      display: block;
      margin: 0 auto 10px auto;
      width: 100%; }
      #banner_area #content_text span.text {
        font-size: 1.5rem;
        font-family: "Arial"; /*"Slate W01 Light"; */
        margin-left: 35%;
        margin-right: 25px; }
      #banner_area #content_text a.contentCTA {
        background-size: 15px 15px;
        font-size: 1.25rem;
        padding-left: 25px;
        margin: 15px 25px 0 35%; }

  
  #top_section  
  {
    background: url("/assets/dev/images/navient_core/common/mobile/schools_640x280.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: initial;
    margin-top: 0; }
      
  
  #user_types {
    margin-top: 0; }
  

#user_type_content {
    margin: 0;
    }
    #user_type_content div:nth-child(2) {
      margin: 0;
      width: 100%; }
    #user_type_content h2 {
      font-family: "Arial"; /*"Slate W01 Light"; */
      font-size: 2.5rem;
      margin-top: 15px; }
    #user_type_content p {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1.5rem;
      margin: 23px 5px 0 5px; 
      min-height: initial;}
    #user_type_content a.tile_CTA {
      background: url('/assets/dev/images/navient_core/common/desktop/icon_arrow_white.png');
      background-repeat: no-repeat;
      background-position: left center;
      padding: 0 0 0 29px; 
      background-color: transparent;
      color: white !important;
      font-family: "Arial"; /*"Slate W01 Medium";*/
      font-size: 18px;
      margin-top: 23px;
      margin-bottom: 23px;
      position: relative;
      left: 0;
      right: 0;
      bottom: 0; }    
    
    .multicolumn_row .multicolumn_column {        
        margin: 0;
        padding: 0;        
        height: auto;    
        min-height: 15rem;
        width: 100%;
        clear: both;
}
#content_container .article h1 {
    font-size: 2.75rem;
    font-family: "Arial"; /*"Slate W01 Light"; */ }

#content_container .article p {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 1.5rem; 
      padding: 0 15px;}

#content_container .article a { 
  /*background: url("/assets/dev/images/navient_core/common/desktop/icon_leave_content_small.png");*/
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 24px;  
}

#content_container .article h1:before {
  display: none; }

#content_container .article h1:after {
  display: none; }
  
  #content_container 
{
    padding: 0px 0px 20px;
}  
        
}

/* ---------------------- /VENEER MOBILE PAGE -------------------- */
/* iPad - Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #top_section {
    background-image: url("/assets/dev/images/navient_core/common/desktop/customer_1150x550.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

  .large {
    display: block !important; }

  .small {
    display: none !important; }

  div#mobile_top_section {
    background-size: cover; }

  #print-email-wrapper {
    display: none; }

  #top_section {
    margin-top: 0px; }
    #top_section #section_1 #content_text {
      position: relative;
      top: 20px;
      left: -10%; }

  #section_1 * {
    display: inline-block !important; }

  #content_text {
    width: 500px;
    position: relative;
    top: -20rem; }

  #page_container, #page_center {
    width: 102.4rem; }

  section#section_1 #content_text span.text {
    font-size: 3.5rem; }

  section#section_1 #content_text a.contentCTA {
    font-size: 2.25rem; }

  div#content_container * {
    display: inline-block !important; }

  section#section_2 div#panel_left, section#section_2 div#panel_right {
    width: 45%;
    margin-left: 5%; }
    section#section_2 div#panel_left div.primary_panel_body p.text, section#section_2 div#panel_right div.primary_panel_body p.text {
      font-size: 2rem;
      margin-top: .5rem; }

  /*
  section#section_2div#panel_left div.primary_panel_title, section#section_2 div#panel_right div.primary_panel_title {
  	font-size: 2.5rem;
  }
  */
  /*
  section#section_2 div#panel_left div.primary_panel_body p.text, section#section_2 div#panel_right div.primary_panel_body p.text {
  	font-size: 2rem;
  	margin-top: .5rem;
  }
  */
  /*
  section#section_2 div#panel_left, section#section_2 div#panel_right {
  	width: 45%;
  	margin-left: 5%;
  }
  */
  section#section_3 {
    position: relative; }
    section#section_3 div.secondary_panel {
      width: 25%;
      margin: none !important; }

  #gov-page #top_section {
    height: 500px; }
    #gov-page #top_section #section_1 #content_text {
      position: relative;
      top: 75px;
      left: -10%; }
  #gov-page section#section_2 div#panel_left div.primary_panel_title {
    font-size: 2.5rem; }
  #gov-page .primary_panel_title, #gov-page .secondary_panel_title {
    font-size: 2.5rem !important; }

  section#section_1 #panel_login a.button {
    /* Prevent the arrow icon of the login button from overlapping
    the "OpenNet" and "DDI" text in the Schools landing page login form */
    padding: 5px 30px; }

  .veneer-page #top_section {
    background-size: cover;
    min-height: 500px; }
  .veneer-page #veneer-users-holder {
    margin-top: 0;
    top: 100px;
    position: relative; }
    .veneer-page #veneer-users-holder .veneer-user-type {
      display: inline-block !important;
      width: 33.23333% !important;
      float: none;
      min-height: 200px;
      padding-top: 26px; }
  .veneer-page span.veneer-tile-header {
    font-size: 3rem;
    width: 75rem;
    position: relative;
    left: -8%; }
    .veneer-page span.veneer-tile-header:after, .veneer-page span.veneer-tile-header:before {
      display: inline-block; }
    .veneer-page span.veneer-tile-header div#footer.large {
      padding-bottom: 0px; }
  .veneer-page div.veneer-learn_more-text {
    font-size: 2rem; }
  .veneer-page #content #content_container {
    width: 50%;
    padding: 50px 0;
    border: none;
    text-align: center;
    margin-top: 25px; }
  .veneer-page #user-type-btnimg-wrapper {
    top: 40px; }

  #footer #footer_container {
    width: 100%;
    background: #dedede !important; }

  #footer_top_border {
    display: block;
    margin: 0px; } }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  div#text_resizer {
    display: none; }

  div#secondary_nav.large {
    height: 7rem; }

  #top_section #secondary_nav div#secondary_nav_items {
    display: table; }
    #top_section #secondary_nav div#secondary_nav_items a {
      display: table-cell;
      max-width: 29%;
      font-size: 2rem;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding-right: 0; }

  #print-email-wrapper {
    display: none; }

  /* Give the container a fluid width instead of a rem-based width
  so that it doesn't stretch beyond iPad screen borders */
  #page_container {
    /* Style guide calls for 1.39% margin on left and right */
    width: 94.22%;
    margin: 0 auto; }

  #top_links_container a {
    font-size: 1.7rem !important; }

  #top_nav #top_nav_container {
    width: 100%; }

  #top_second_section {
    position: relative;
    left: 40%;
    width: initial; }

  #header, header * {
    max-width: 100% !important; }

  /* Call to action buttons on Veneer page */
  .veneer-user-type p {
    margin: 0 2rem;
    font-size: 2rem; }
  .veneer-user-type a.tileCTA {
    font-size: 2.25rem; }

  /* Eliminate excess space between call-to-action buttons
  and main page content */
  #content #content_container {
    padding: 3.5rem 0;
    width: 100%; }

  div.article.veneer-article.article_standard {
    width: 95%; }

  /* Shrink the blue lines that extend from both sides of the
  "Learn more" text */
  .veneer-tile-header::before, .veneer-tile-header::after {
    width: 15%; }

  .responsive #alert_top, .responsive #header, .responsive #content, .responsive #footer {
    width: 100%; }

  /* Make primary nav items in the School and Customers pages a bit smaller */
  #top_section #primary_nav div.primary_nav_items a {
    font-size: 2rem; }

  #content #main_content {
    width: 100%; }

  #top_second_section {
    left: 50%; }

  /*
  #category_interior {
  	#content #main_content {
  		width: 61%;
  	}
  	#top_second_section {
  		left: 50%;
  	}
  }
  */
  .responsive #top_second_section {
    left: 1%; }
  .responsive section#section_3 div.secondary_panel {
    width: 31%;
    min-height: 35rem;
    height: initial;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .responsive section#section_2 #panel_left {
    padding-left: 15px; }
  .responsive section#section_2 #panel_left, .responsive section#section_2 #panel_right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 49%;
    margin: 0; }
    .responsive section#section_2 #panel_left div.primary_panel_title, .responsive section#section_2 #panel_right div.primary_panel_title {
      font-size: 3rem;
      margin-bottom: .5rem; } }
#search {
/*  width: 30em;
  padding: 0 1rem 0 0;
  position: relative; }
  #search label {
    font-size: 1.75rem;
    font-family: "Arial"; "Slate W01 Light"; 
    color: #2F2F2F;
    display: none; */

    border: 1px solid #e5e5e5;
	border-radius: 3px;
    float: right;
    padding:4px 0 0 4px;
    position: relative;
    width: 35em;background: none repeat scroll 0 0 #f6f6f6;	
	}
  #search input {
/*    display: inline-block;
    background-size: 15px 15px;
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #C6C6C6;
    padding: 0 25px 0 2%;
    font-family: "Arial"; "Slate W01 Light"; 
    background-color: #F6F6F6;
    font-size: 1.75rem;
    width: 16rem;
    height: 2.5rem;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/

    background: none repeat scroll 0 0 transparent;
    border:none;
    display: inline-block;
    float: left;
    font-family: "Arial"; /*"Slate W01 Light"; */
    font-size: 1.65rem;
    height: auto; /*2.5rem;*/
    padding: 0;
    position: relative;
    width: 16rem;	
	float:left;width:160px;margin-top: 2px;
	outline:none;
	 }

.search-icon {
  /*background: url("/assets/dev/images/navient_core/common/desktop/icon_search.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  display: inline-block;
  background: url("/assets/dev/images/navient_core/common/sprites/desktop-sprites.png") no-repeat;
  background-position: -67px -67px;
  width: 20px;
  height: 20px;
  position: relative;
  right: 2.5rem;
  top: .5rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 200;*/ 
    background: url("/assets/dev/images/navient_core/common/icon_glasss.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    width: 20px;
    z-index: 200;
}
  

#login_button_holder {
  border: none;
  width: 1px; }
  #login_button_holder.customer_login {
    width: 17rem; }
  #login_button_holder a.btn_login {
    border: none;
    width: 10rem;
    padding: 5px 1rem 5px 15px;
    /*padding: 5px 1rem 5px 34px;
    background: url('/assets/dev/images/navient_core/common/desktop/icon_arrow_white.png');
    background-size: 18px 18px;
    background-position: 0.6rem center;
    background-repeat: no-repeat;*/
    background-color: #470a68;
    color: white !important;
    font-family: "Arial"; /*"Slate W01 Light"; */
    font-size: 1.6rem !important;
	font-weight:bold;}
    #login_button_holder a.btn_login::before {
      content: '';
      display: inline-block;
      background: url("/assets/dev/images/navient_core/common/sprites/desktop-sprites.png") no-repeat;
      background-position: -216px -17px;
      width: 18px;
      height: 18px;
      position: relative;
      top: 0.3rem;
      margin-left: -13px;
      margin-right: 10px; }
    #login_button_holder a.btn_login:hover {
      color: white !important;
      border: none !important;
      background-color: #72246c; }
    #login_button_holder a.btn_login.veneer_login {
      width: 15rem; }

  /* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
#page_container, #page_center {
    width: 100%; 
  }
.small{
  display: block !important;
}
.large{
  display: none !important;
}

#mobile_top_section{
  height: 285px !important;
}

}

  