html, body{
	min-width: 1000px;
}
/* common */
.box {
	width: 1000px;
	margin: 0 auto;
}
/* /common */

/* header */
.header{
	border-bottom: 1px solid #d4d4d4;
}

.header-top {
	height: 32px;
	border-bottom: 1px solid #ebebeb;
	font-family: simsun, 'microsoft yahei', sans-serif;
	font-size: 12px;
	line-height: 32px;
	background-color: #f9f9f9;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f9f9f9));
	background: -moz-linear-gradient(top, #fff,#f9f9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f9f9f9,grandientType=0);
	box-sizing: border-box;
}
.header-top a {
	color: #666;
}




.returnIndex {
	float: left;
	padding-left: 20px;
	background: url(/template/img/information/home.png) no-repeat 0 50%;
}
.opera-box {
	float: right;
	color: #666;
	font-size: 0;
}
.opera-box span {
	display: inline-block;
	border-right: 1px solid #e6e6e6;
	padding: 0 10px;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
}
a.login {
	color: #ea544a;
	text-decoration: underline;
}
.opera-box a em{font-size:12px;margin:0px 10px;}
.opera-box a {font-size:12px;}
.opera-box a span img{ border-radius: 100%;}
.header-middle {
	height: 100px;
	line-height: 100px;
	background: url(/template/img/information/headerBg.jpg) no-repeat 50% 0;
	background-size: 100% auto;
}
.search-box {
	float: right;
	position: relative;
}
.search-box input[type="text"] {
	width: 230px;
	height: 30px;
	border: 1px solid #c9c9c9;
	padding-left: 6px;
	padding-right: 60px;
	font-size: 14px;
	line-height: 30px;
	box-sizing: border-box;
}
.search-box input[type="button"] {
	position: absolute;
	right: 0;
	top: 37px;
	*right: 6px;
	*top: 35px;
	width: 50px;
	height: 30px;
	border: 0;
	background: #c01911 url(/template/img/information/zoom.png) no-repeat 50% 50%;
	cursor: pointer;
}

.nav {
	height:40px;
	line-height: 40px;
	background-color: #c01710;
	overflow: hidden;
}
.nav ul {
	*margin-top: 8px;
	margin-left: -2px;
}
.nav li {
	float: left;
}
.nav li span{
	display: inline-block;
	border-right: 1px solid #a20d06;
	border-left: 1px solid #cd4540;
	padding: 0 42px;
	*padding: 0 39px 0 40px;
	line-height: 26px;
	white-space: nowrap;
}
.nav a {
	color: #fff;
	*vertical-align: 4px;
}
.nav a:hover{
	text-decoration: underline;
}
.nav li:last-child span {
	border-right: 0;
}
/* /header */

/* container */
.container {
	padding-top: 26px;
}
.section-left {
	float: left;
	width: 680px;
}
.section-right {
	float: right;
	width: 300px;
}

.item-box{
	padding-bottom: 20px;
}
.item-title{
	line-height: 18px;
}
.item-title em{
	float: left;
	border-left: 7px solid #e71a21;
	padding-left: 6px;
	padding-right: 16px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	background-color: #fff;
}
.item-title i{
	display: block;
	width: 100%;
	height: 0;
	margin-top: 9px;
	border-top: 1px dashed #dcdcdc;
}
.item-title span{
	float: right;
	padding-left: 16px;
	font-size: 12px;
	background-color: #fff;
}
.item-title a{
	color: #808080;
}
.item-title a:hover{
	color: #c01710;
}

.item-content{
	padding-top: 18px;
	font-size: 14px;
}
.item-content-list{
	float: left;
}
.item-content-list li{
	line-height: 37px;
}
.item-content-list li a{
	color: #333;
}
.item-content-list li a:hover{
	color: #c01710;
}
.item-content-img{
	float: right;
	position: relative;
}
.item-content-img span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	background: url(/template/img/information/alpha80.png) repeat 0 0;
	background: rgba(255, 255, 255, .8);
}
.item-content-img span a{
	margin: 0 1em;
	color: #333;
	font-weight: bold;
}

.notice-content{
	width: 266px;
	height: 119px;
	margin: 24px auto;
	padding: 28px 16px;
	background: url(/template/img/information/noticeBg.png) no-repeat 0 0;
}
.notice-content p{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 36px;
}

.section-right .item-title em{
	color: #252525;
}

.item-system-list{
	padding: 14px 0;
	list-style: square;
}
.item-system-list li{
	list-style: square inside;
	color: #c0c0c0;
	font-size: 12px;
	line-height: 34px;
}
.item-system-list a{
	color: #252525;
}
.item-system-list img{
	display: none;
}
.item-system-list a:hover{
	color: #c01710;
}
.item-system-list li:hover img{
	display: inline-block;
}


.section2{
	padding-top: 20px;
	padding-bottom: 75px;
	background: url(/template/img/information/photoBg.gif) repeat 0 0;

}
.section2 .item-title em, .section2 .item-title span{
	background-color: transparent;
}
.item-photo-content{
	margin-left: -5px;
	*margin-left: -7px;
	padding-top: 32px;
}
.item-photo-box{
	position: relative;
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
}
.item-photo-box span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	background: url(/template/img/information/photoTxtBg1.png) repeat-x 0 100%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .7)));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}
.item-photo-box span a{
	margin: 0 12px;
	color: #fff;
}
.item-photo-box > a {
	font-size: 0;
}
.item-photo-box a img{
	vertical-align: middle;
}
.item-photo-content .item-photo-box:first-child span{
	height: 60px;
	font-size: 18px;
	line-height: 60px;
	background: url(/template/img/information/photoTxtBg.png) repeat-x 0 100%;
}
.item-productReco{
	padding-top: 34px;
}
.item-productReco-content{
	padding-top: 30px;
	margin-left: -1px;
}
.item-productReco-box{
	position: relative;
	float: left;
	margin-bottom: 5px;
}
.item-productReco-box > a{
	font-size: 0;
}
.item-productReco-left{
	float: left;
	width: 429px;
	margin-right: 5px;
}
.item-productRecoLeft-item{
	*display: inline;
	*zoom: 1;
	margin-left: -6px;
}
.item-productRecoLeft-item .item-productReco-box{
	margin-left: 5px;
}
.item-productReco-content > .item-productReco-box{
	margin-right: 5px;
}
.item-productReco-box span{
	position: absolute;
	left: 16px;
	bottom: 20px;
	width: 54px;
	border-bottom: 2px solid #fff;
	padding-bottom: 8px;
}
.item-productReco-box span a{
	display: inline-block;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
}

/* /container */

/* footer */
.footer{
	height: 92px;
	padding-top: 16px;
	color: #333;
	font-family: arial, 'microsoft yahei', sans-serif;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
}
.footer a{
	color: #333;
}

.nonIndex-footer{
	background-color: #f8f8f8;
}
/* /footer */


/* 列表 */
.list-box{
	padding-bottom: 130px;
}
.list-box-left{
	float: left;
	width: 640px;
}
.list-box-left ul{
	padding-bottom: 20px;
}
.list-box-left li{
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 18px;
}
.list-box-left li h2{
	padding-bottom: 16px;
	font-size: 18px;
}
.list-box-left li h2 a{
	color: #252525;
}
.list-box-left li h2 a:hover{
	color: #c01710;
	text-decoration: underline;
}
.list-item-abstract{
	color: #808080;
	font-size: 14px;
	line-height: 22px;
}
.list-item-abstract a{
	float: left;
	margin-right: 22px;
}
.list-item-data{
	padding-top: 6px;
	color: #808080;
	font-family: arial, 'microsoft yahei', sans-serif;
	font-size: 12px;
}
.list-item-data strong{
	float: left;
	font-weight: normal;
}
.list-item-data span{
	float: right;
}
.list-item-data span b{
	color: #ff2968;
	font-weight: normal;
}

/* 分页 */
.pagination-box{
	font-size: 0;
	text-align: center;
}
.pagination-box a[href]{
	color: #fff;
	background-color: #777;
}
.pagination-box a[href]:hover,.pagination-box a.active{
	background-color: #c01710;
}
.pagination-box a{
	display: inline-block;
	margin: 0 6px;
	padding: 12px 16px;
	color: #777;
	font-family: arial;
	font-size: 14px;
	background-color: transparent;
}


.list-box-right{
	float: right;
	width: 300px;
}
.list-common{
	margin-bottom: 16px;
	border-bottom: 5px solid #f2f2f2;
	padding-bottom: 18px;
	color: #252525;
}
.list-common h2{
	padding-bottom: 18px;
	font-size: 16px;
}
.last-information li{
	list-style: square inside;
	color: #c0c0c0;
	font-size: 12px;
	line-height: 24px;
}
.last-information a{
	color: #252525;
}
.last-information a:hover{
	color: #c01710;
	text-decoration: underline;
}

.hot-img ul{
	margin-left: -24px;
	*margin-left: -25px;
}
.hot-img li{
	float: left;
	margin-left: 24px;
	margin-bottom: 16px;
	font-size: 12px;
	letter-spacing: .5px;
}
.hot-img a{
	color: #252525;
	font-size: 0;
}
.hot-img p{
	margin-top: 8px;
	font-size: 12px;
}

.hot-article li{
	position: relative;
	margin-bottom: 6px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 8px;
	font-size: 12px;
	line-height: 20px;
}
.hot-article li:last-child{
	border-bottom: 0;
}
.hot-article li i{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	color: #fff;
	font-family: arial;
	line-height: 20px;
	text-align: center;
	background-color: #c01710;
}
.hot-article li a{
	color: #252525;
}
.hot-article li span{
	position: absolute;
	right: 0;
	top: 0;
}
.hot-article li b{
	color: #c01710;
	font-weight: normal;
}

/* 内容页 */
.details-box{
	padding-bottom: 100px;
}
.details-box-left{
	float: left;
	width: 640px;
}
.details-content{
	padding-bottom: 50px;
	color: #252525;
	font-family: arial, 'microsoft yahei', sans-serif;
	font-size: 16px;
	line-height: 22px;
}
.details-content h1{
	padding-bottom: 22px;
	font-size: 26px;
	line-height: 30px;
}
.details-content-data{
	margin-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	color: #808080;
	font-size: 12px;
}
.details-content-data .l{
	float: left;
}
.details-content-data .r{
	float: right;
}
.details-content-data a{
	color: #2d96e9;
}
.details-content-data .r i{
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 4px;
	background: url(/template/img/information/good.png) no-repeat 0 -13px;
	vertical-align: -2px;
	*vertical-align: 2px;
}
.details-content-data .r em{
	margin-left: 14px;
	font-size: simsun;
	font-weight: bold;
	cursor: pointer;
}
.details-content-data .r b{
	font-weight: normal;
}
.details-content img{
	display: block;
	margin: 0 auto;
}


.activity-details-discuss{
	padding-top: 60px;
}
.activity-details-d-form{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 22px;
}
.activity-details-d-form h3{
	padding-bottom: 16px;
	color: #010101;
	font-size: 20px;
	line-height: 20px;
}
.activity-details-d-form h3 em{
	float: left;
}
.activity-details-d-form h3 span{
	float: right;
	color: #808080;
	font-size: 16px;
}

.activity-details-d-form textarea{
	width: 96.6%;
	height: 72px;
	border: 1px solid #c1c1c1;
	padding: 10px;
}
.activity-details-d-form p{
	margin-top: 14px;
	color: #010101;
	line-height: 26px;
	text-align: right;
}
.activity-details-d-form p em{
	color: #ff334c;
}
.activity-details-d-form p button{
	width: 88px;
	height: 26px;
	margin-left: 10px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: #c01710;
	cursor: pointer;
}

.activity-details-discuss-item{
	border-bottom: 1px solid #eaeaea;
	padding-top: 24px;
}
.activity-details-discuss-item .item-photo{
	float: left;
	margin-right: 14px;
	border-radius: 100%;
	overflow: hidden;
}
.activity-details-discuss .item-content{
	padding-top: 0;
	padding-left: 62px;
	color: #505050;
}
.item-content h3{
	overflow: hidden;
}
.item-content h3 a{
	float: left;
	color: #4095ce;
}
.item-content h3 strong{
	margin-left: 10px;
	color: #505050;
	font-size: 12px;
	font-weight: normal;
}
.item-content h3 em{
	float: right;
	color: #b00000;
	font-size: 14px;
	font-weight: bold;

}
.item-content p{
	width: 30em;
	padding-top: 10px;
	line-height: 20px;
}
p.item-btns{
	width: auto;
	padding-top: 30px;
	padding-bottom: 18px;
	color: #999;
	font-family: arial, 'microsoft yahei';
	font-size: 12px;
}
.item-btns a{
	margin-left: 20px;
	color: #999;
	font-weight: bold;
}
.item-btns a em{
	font-weight: normal;
}
a.laud{
	display: inline-block;
	padding-left: 16px;
	font-weight: normal;
	line-height: 14px;
	background: url(/template/img/information/good.png) no-repeat 0 1px;
}
a.lauded{
	background-position: 0 -13px;
}

.item-content .activity-details-discuss-item{
	border-bottom: 0;
	border-top: 1px solid #eaeaea;
}
.item-content .activity-details-d-form{
	border-bottom: 0;
}
.item-content .activity-details-d-form p{
	width: auto;
	padding-top: 0;
	line-height: 26px;
}

/* 分页 */
.activity-details-discuss .pagination-box{
	padding: 50px 0 54px;
	font-size: 0;
	text-align: center;
}
.activity-details-discuss .pagination-box a{
	display: inline-block;
	width: 37px;
	height: 37px;
	margin: 0 6px;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	padding: 0;
	color: #7f7f7f;
	font-size: 14px;
	font-weight: bold;
	line-height: 37px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f0,grandientType=0);
	background-color: #f0f0f0;
	vertical-align: middle;
}
.activity-details-discuss a.pagination-prev,.activity-details-discuss a.pagination-next{
	position: relative;
}
.activity-details-discuss a.pagination-prev i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -3px;
	border-width: 6px 6px 6px 0;
	border-style: solid;
	border-color: transparent #4e4e4e;
}
.activity-details-discuss a.pagination-next i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -6px;
	margin-left: -3px;
	border-width: 6px 0 6px 6px;
	border-style: solid;
	border-color: transparent #4e4e4e;
}
.activity-details-discuss .pagination-box a:hover, .activity-details-discuss .pagination-box a.active{
	border-color: #760404;
	color: #fff;
	filter: none;
	background: #991010;
}
.activity-details-discuss a.pagination-prev:hover i,.activity-details-discuss a.pagination-next:hover i{
	border-color: transparent #fff;
}
.activity-details-discuss .pagination-box .disabled{
	color: #a0a0a0;
	cursor: default;
}
.activity-details-discuss .pagination-box .disabled:hover{
	border-color: #c1c1c1;
	color: #a0a0a0;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f0,grandientType=0);
	background-color: #f0f0f0;
}
.activity-details-discuss .pagination-box .disabled:hover i{
	border-right-color: #4e4e4e;
}
.activity-details-discuss .pagination-box span{
	display: inline-block;
	margin-left: 40px;
	color: #7f7f7f;
	vertical-align: middle;
}
.activity-details-discuss .pagination-box span i{
	font-size: 14px;
	vertical-align: middle;
}
.activity-details-discuss .pagination-box span input{
	width: 40px;
	height: 34px;
	margin: 0 4px;
	border: 1px solid #c1c1c1;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f0,grandientType=0);
	background-color: #f0f0f0;
}
.activity-details-discuss .pagination-box span button{
	width: 37px;
	height: 37px;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	outline: 0;
	color: #7f7f7f;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top, #fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#f0f0f0,grandientType=0);
	background-color: #f0f0f0;
	cursor: pointer;
}
.activity-details-discuss .pagination-box span button:hover{
	border-color: #760404;
	color: #fff;
	filter: none;
	background: #991010;
}

/* slides */
.slides-box{
	position: relative;
	width: 680px;
	height: 350px;
	margin-bottom: 36px;
}
.slides-box .slidesjs-pagination{
	position: absolute;
	right: 26px;
	bottom: 19px;
	z-index: 20;
}
.slides-box .slidesjs-pagination-item{
	float: left;
	margin-left: 10px;
	font-size: 0;
	line-height: 0;
}
.slides-box .slidesjs-pagination-item a{
	display: inline-block;
	width: 11px;
	height: 11px;
	font-size: 0;
	line-height: 0;
	background: url(/template/img/information/dot.png) no-repeat 0 0;
}
.slides-box .slidesjs-pagination-item .active{
	background-position: 0 -11px;
}
.slides-box .slides-descride{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: url(/template/img/information/alpha70.png) repeat 0 0;
	background: rgba(0, 0, 0, .7);
}
.slides-box .slides-descride a{
	margin-left: 14px;
	color: #fff;
	font-size: 22px;
}

/* 列表页slides */
.list-slides-box{
	position: relative;
	margin-bottom: 40px;
}
.list-slides-box .slides-descride{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: url(/template/img/information/alpha70.png) repeat 0 0;
	background: rgba(0, 0, 0, .7);
}
.list-slides-box .slides-descride a{
	margin-left: 34px;
	color: #fff;
	font-size: 18px;
}
.slidesjs-container{
	z-index: 4
}
.slidesjs-navigation{
	position: absolute;
	left: 0;
	top: 50%;
	width: 40px;
	height: 65px;
	margin-top: -33px;
	font-size: 0;
	line-height: 0;
	background: url(/template/img/information/navigation1.png) no-repeat 50% 0;
	/*background: url(/template/img/information/navigation.png) no-repeat 50% 12px rgba(0,0,0,.6);*/
	z-index: 6;
}
.slidesjs-next{
	left: auto;
	right: 0;
	background-position: 50% -65px;
}

.list-slides-box .slidesjs-pagination{
	position: absolute;
	right: 26px;
	bottom: 15px;
	z-index: 20;
	padding-bottom: 0;
}
.list-slides-box .slidesjs-pagination-item{
	float: left;
	margin-left: 10px;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 0;
	line-height: 0;
}
.list-slides-box .slidesjs-pagination-item a{
	display: inline-block;
	width: 11px;
	height: 11px;
	font-size: 0;
	line-height: 0;
	background: url(/template/img/information/dot.png) no-repeat 0 -22px;
}
.list-slides-box .slidesjs-pagination-item .active{
	background-position: 0 -11px;
}

.rAd-box{
	margin-bottom: 20px;
}

/* IEfixed */
.placeholder{
	color: #808080;
}

.header-top{
	border-bottom: 1px solid #ebebeb;
}
.header-top a:hover{
	color: #ea544a;
	text-decoration: underline;
}
.f-top-left{
	float: left;
	font-size: 0;
}
.f-top-left > a{
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}
span.f-share-box{
	display: inline-block;
	margin-left: 30px;
	font-size: 0;
	vertical-align: middle;
}
.f-share-box a{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background: url(/template/img/information/icon-top-allnav.png) no-repeat 0 50%;
	vertical-align: middle;
}
.f-share-box a:last-child{
	position: relative;
	background-position: -32px 50%;
}
.f-share-box a:first-child:hover{
	background-position: -62px 50%;
}
.f-share-box a:last-child:hover{
	background-position: -94px 50%;
}
.f-share-box a:last-child:hover .wechat-imgBox{
	display: block;
}
.wechat-imgBox{
	position: absolute;
	left: 0;
	top: 27px;
	width: 100px;
	height: 100px;
	margin-left: -30px;
	display: none;
}

.opera-box span{
	border-right: 0;
	line-height: 18px;	
}
.opera-box span:first-child{
	border-right: 1px solid #e6e6e6;
}
/*
.opera-box span:last-child a{
	display: inline-block;
	border-radius: 4px;
	padding: 0 10px;
	color: #fff;
	font-family: 'microsoft yahei';
	line-height: 20px;
	background-color: #c0292a;
}
.opera-box span:last-child a:hover{
	text-decoration: none;
}
*/
.opera-box span:first-child b{
	color: #ea544a;
	font-weight: normal;
}


.opera-box span.hrcolor a{
	display: inline-block;
	border-radius: 4px;
	padding: 0 10px;
	color: #fff;
	font-family: 'microsoft yahei';
	line-height: 20px;
	background-color: #c0292a;
}
.opera-box span.hrcolor a:hover{
	text-decoration: none;
}


.header-middle{
	height: 98px;
	border-bottom: 3px solid #c0292a;
	line-height: 98px;
}
.search-box input[type="button"]{
	top: 36px;
}
.logo-box{
	float: left;
}

.nav{
	background-color: #fff;
}
.nav ul{
	margin-left: 0;
	border-right: 1px solid #d4d4d4;
}
.nav li{
	width: 14.2857%;
	border-left: 1px solid #d4d4d4;
	box-sizing: border-box;
	text-align: center;
}
.nav a{
	color: #494949;
	font-size: 14px;
}
.nav a:hover, .nav a.active{
	color: #c0292a;
	text-decoration: none;
}

.footer{
	border-top: 1px solid #d8d9da;
	background-color: #e1e2e3;
}

.gotoTop{
	position: fixed;
	right: 236px;
	bottom: 190px;
	width: 54px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	background-color: #c0292a;
	z-index: 100;
	opacity: 0;
	display: none;
}
.poptip-arrow{
	position: relative;
	display: inline-block;
	overflow: hidden;
	font-family: simsun;
	font-size: 30px;
	font-style: normal;
	text-shadow:0 0 2px #ccc;
}
.poptip-arrow-bottom{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.poptip-arrow em,.poptip-arrow i{
	position: absolute;
	left: 0;
	top: 0;
	font-style: normal;
	line-height: 30px;
}
.poptip-arrow em{
	color: #fff;
}
.poptip-arrow i{
	color: #c0292a;
	text-shadow:none;
}
.poptip-arrow-bottom em{
	top: 0;
}
.poptip-arrow-bottom i{
	top: 3px;
}


/* 顶部焦点大图 */
.banner-box{ position: relative; width: 100%; height: 442px; overflow: hidden;}
.hd_slider{ position: relative; z-index: 1; width: 1000px; height: 442px; margin: 0 auto; overflow: hidden\0;  *overflow: hidden;}
.hd_slider .item{ position: relative; float: left; -webkit-transform:translate3d(0,0,0);/*for ipad*/}
.hd_slider .item_text{ position: absolute; top: 320px; left: 0; z-index: 1; width: 560px; height: 80px; padding: 10px; background-color: #B58D4F; font: normal 30px/40px "黑体"; color: #fff;}
.hd_slider .item img{ width: 1000px; height: 442px;}
.hd_slider_dots_w{ position: relative; z-index: 2;width: 1000px; height: 30px;margin: 0 auto; margin-top: -30px;}
.hd_slider_dot{ position: absolute; z-index: 999; right: 10px; bottom: 10px; height: 30px; text-align: center;width: 300px;}
.hd_slider_dot span{display: inline-block;vertical-align: middle;overflow: hidden;margin: 0 5px;cursor: pointer; background-color: #424242;}
.hd_slider_dot .dot_list{width: 10px;height: 10px; line-height: 0; font-size: 0; overflow: hidden;}
.hd_slider_dot .current{ background-color: #B58D4F;}

.hd_slider_prev{ position: absolute; left: 10px; top: -240px; width: 32px; height: 62px; cursor:pointer; background: url(/template/img/information/hd_btn_prev.png) 0 0 no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/template/img/information/hd_btn_prev.png');_background:none;}
.hd_slider_next{ position: absolute; right: 10px;top: -240px; width: 32px; height: 62px; cursor:pointer; background: url(/template/img/information/hd_btn_next.png) 0 0 no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/template/img/information/hd_btn_next.png');_background:none;}
.hd_slider_prevOn{ position: absolute; left: 10px; top: -240px; width: 32px; height: 62px; cursor:pointer; background: url(/template/img/information/hd_btn_prev_on.png) 0 0 no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/template/img/information/hd_btn_prev_on.png');_background:none;}
.hd_slider_nextOn{ position: absolute; right: 10px;top: -240px; width: 32px; height: 62px; cursor:pointer; background: url(/template/img/information/hd_btn_next_on.png) 0 0 no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale, src='/template/img/information/hd_btn_next_on.png');_background:none;}
.hd_slider_maskl, .hd_slider_maskr{ position: absolute; z-index: 2; background-color: #000;width: 1000px; height: 442px; opacity: 0.9; filter: alpha(opacity=90);}
.hd_slider_maskl{ top: -410px; left: -1000px; display:none\0; *display: none;}
.hd_slider_maskr{ top: -410px; left: 1000px; display:none\0; *display: none;}


.friendLink{
	padding: 40px 0;
	line-height: 30px;
}
.friendLink h2{
	float: left;
	margin-right: 32px;
	font-size: 12.5px;
	font-weight: bold;
	line-height: 30px;
	color:#000000;
	
}
.friendLink .box div{
	color: #a1a1a2;
	font-family: simsun;
	font-size: 0;
}
.friendLink a{
	color: #616161;
	font-size: 12px;
}
.friendLink a:hover{
	text-decoration: underline;
	color:#c0292a;
}
.friendLink i{
	margin: 0 10px;
	font-size: 12px;
}

/* crumbs */
.crumbs-box{
	margin-bottom: 24px;
	color: #838383;
	font-family: simsun;
	font-size: 12px;
}
.crumbs-box a[href]{
	color: #505050;
}
.crumbs-box a[href]:hover{
	text-decoration: underline;
}
.crumbs-box a[href]:first-child{
	padding-left: 20px;
	background: url(/template/img/information/home.png) no-repeat 0 0;
}
.crumbs-box i{
	color: #505050;
}

.details-content{
	margin-top: 24px;
}


/* about */
.about-body{
	background-color: #f5f5f5;
}
.about-body .header{
	background-color: #fff;
}
.about-box{
	position: relative;
	margin-top: 20px;
	margin-bottom: 80px;
	border: 1px solid #ececec;
	padding-top: 0;
	background-color: #fff;
	overflow: hidden;
}
.about-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	height: 100%;
	border-right: 1px solid #ececec;
	background-color: #fafafa;
}
.about-left li{
	position: relative;
	height: 48px;
	border-left: 3px solid transparent;
	border-bottom: 1px solid #ececec;
	padding-left: 20px;
	line-height: 48px;
}
.about-left li:hover, .about-left li.active{
	border-left-color: #c0292a;
	font-weight: bold;
	background-color: #fff;
}
.about-left li:after{
	position: absolute;
	right: 22px;
	top: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-style: solid;
	border-color: transparent #c0292a;
	visibility: hidden;
}
.about-left li:hover:after, .about-left li.active:after{
	visibility: visible;
}

.about-left a{
	color: #333;
	font-size: 14px;
}

.about-right{
	margin-left: 230px;
}
.about-right h1{
	height: 48px;
	border-bottom: 1px solid #ececec;
	padding-left: 30px;
	color: #c0292a;
	font-size: 14px;
	font-weight: bold;
	line-height: 48px;
}
.about-content{
	padding: 20px 30px;
	color: #666;
	font-size: 14px;
	line-height: 24px;
}
.about-content h3{
	margin: 6px 0;
	line-height: 24px;
}
.about-content p{
	margin: 20px 0;
}
.about-content strong{
	color: #000;
	font-weight: bold;
}
.about-content a{
	color: #c0292a;
	text-decoration: underline;
}
.about-content dl{
	margin-bottom: 10px;
	line-height: 32px;
}
.about-content ul{
	margin-bottom: 20px;
	line-height: 32px;
}


/* 资讯首页 v3 */
#info-index .box{
	width: 1160px;
}
#info-index .header-top{
	background: #f8f8f8;
}
#info-index .header-middle{
	height: 110px;
	border-bottom: 0;
	line-height: 110px;
	text-align: center;
	background: none;
}
#info-index .logo-box{
	float: none;
}
#info-index .nav{
	height: 60px;
	line-height: 60px;
	background-color: #c0292a;
}

.g-nav {
    width: 100%;
    background: #c0292a;
    height: 60px
}
.g-nav .m-nav {
    width: 1160px;
    background: #c0292a;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.g-nav .m-nav .navs {
    width: 1160px;
    overflow: hidden;
}

.g-nav .m-nav .navs a:hover {
    color: #fcff00;
}
.g-nav .m-nav .navs a.f20 {
    margin: 18px 10px 0 0;
    line-height: 22px
}
.g-nav .m-nav .navs span {
    display: block;
    float: left;
    height: 18px;
    width: 1px;
    border-right: 1px solid #fad6d6;
    background-color: #991c1c;
    margin: 21px 16px 0 5px;
}
.g-nav .m-nav .search {
    position: absolute;
    right: 0px;
    top: 0px
}
.g-nav .m-nav .search .icon_search {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 18px;
    background: url("/template/img/information/icon_search.png") no-repeat left top;
    cursor: pointer
}
.g-nav .m-nav .search .content {
    width: 386px;
    height: 50px;
    background: #c0292a;
    padding: 10px 0 0 10px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}
.g-nav .m-nav .search .content .text {
    width: 240px;
    height: 32px;
    background: #fff;
    float: left;
    padding: 8px 0 0 20px;
    margin: 0 1px 0 0
}
.g-nav .m-nav .search .content .text input {
    width: 220px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    color: #afb0b2;
    line-height: 26px;
    outline: none
}
.g-nav .m-nav .search .content .text input.on {
    color: #222
}
.g-nav .m-nav .search .content .btn {
    float: left;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: #e5e5e5;
    text-align: center;
    line-height: 40px;
    color: #030303;
    -webkit-transition: all .3s ease-in-out
}
.g-nav .m-nav .search .content .btn.on,
.g-nav .m-nav .search .content .btn:hover {
    background: #5a5b5d;
    color: #f4f4f4
}
.g-nav .m-nav .search .content .close {
    float: right;
    width: 26px;
    height: 26px;
    margin: 6px 10px 0 0;
    cursor: pointer;
    background: url("/template/img/information/icon_search.png") no-repeat right top;
}
.g-nav .m-nav .search_show .icon_search {
    display: none
}
.g-nav .m-nav .search_show .content {
    display: block
}

.top-ad-box{
	height: 66px;
	margin-top: 16px;
	background-color: #dcdcdc;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.g-main{
	width: 760px;
}

.m-first {
	margin-top: 30px;
}
.m-first .first {
	position: relative;
	width: 100%;
	height: 480px;
	margin: 0 0 20px;
}
.m-first .first .g-focus {
	width: 760px;
	height: 480px;
	overflow: hidden;
	background-color: #dcdcdc;
}
.m-first .first .today {
	width: 360px;
	height: 476px;
	border-bottom: 4px solid #000;
}
.m-first .first .today .title {
	height: 46px;
	background: url("/template/img/information/icon_focus.png") no-repeat 0 bottom;
	overflow: hidden;
	width: 100%;
	text-indent: -150px;
}
.m-first .first .today .news {
	height: 360px;
	overflow: hidden;
	padding-top: 18px;
}
.m-first .first .today .news div {
	height: 46px;
	background: url("/template/img/information/icon_focus.png") no-repeat 0 46px;
	width: 340px;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 18px;
	padding: 14px 0 0;
}
.m-first .first .today .news a{
	color: #222;
}
.m-first .first .today .news a:hover{
	color: #c0292a;
}


.manfirst_l {
	width: 760px;
	overflow: hidden; 
}
.manfirst_l .l {
	width: 300px;
	overflow: hidden;
	float: left; 
}

    
    
.manfirst_l .l .plan {
	width: 300px;
	margin-top: -20px;
	overflow: hidden;
}
.manfirst_l .l .plan .ad_switch{
	position: relative;
	margin-top: 20px;
}
.manfirst_l .l .plan .ad_switch .title{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 11px 0;
	text-align: center;
	background: url("/template/img/information/gradient_bg.png");
	_background: #000;
	_filter: alpha(opacity=70);
}
.manfirst_l .l .plan .ad_switch .title a{
	display: block;
	margin: 0 5%;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
a:hover
{
    color:#c0292a;
    }
.manfirst_l .l .plan .ad_switch:hover  .title a
{
    color:#c0292a;
    }

.manfirst_l .white{
	color: #fff;
}
.manfirst_l .r {
	width: 440px;
	overflow: hidden;
	float: right; 
}
.manfirst_l .r .news {
	width: 440px;
	height: 630px;
	overflow: hidden;
	position: relative; 
}
.manfirst_l .r .news .pic, .manfirst_l .r .news .mask, .manfirst_l .r .news .info {
	width: 440px;
	height: 630px;
	overflow: hidden; 
}
.manfirst_l .r .news .mask {
	position: absolute;
	z-index: 1;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background: #000;
	left: 0;
	top: 0;
}
.manfirst_l .r .news .info {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	padding: 20px 0 0 20px;
	width: 420px;
	height: 610px; 
}
.manfirst_l .r .news .info h2 {
	line-height: 36px;
	width: 245px;
	margin: 15px 0 10px; 
}
.manfirst_l .r .news .info h2.f24 a{
	font-size: 24px;
	font-weight: normal;
}
.manfirst_l .r .news .info p {
	line-height: 26px;
	color: #bbb;
	font-size: 14px;
	padding: 10px 0 0;
	width: 245px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.2); 
}
.manfirst_l .r .news .info ul {
	position: absolute;
	width: 240px;
	left: 20px;
	bottom: -1px; 
}
.manfirst_l .r .news .info ul li {
	height: 55px;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 56px; 
}
.manfirst_l .r .news .info ul li a{
	font-size: 16px;
	font-weight: bold;
}

.manfirst_l .r .news .info ul li a.orange{
	color: #fff;
}
.manfirst_l .r .news .info ul li a:hover
{
   color: #c0292a; 
   }

.g-side {
    width: 360px;
    position: relative
}

.ad_switch_pad {
	margin-bottom: 19px; 
}
.ad_switch_pad {
	width: 300px;
	overflow: hidden;
	padding: 30px;
	background: #e5e5e5;
}

.ad_vdeo {
	width: 360px;
	height: 250px; 
}
.ad_vdeo a .video {
	position: absolute;
    left: 140px;
    top: 85px;
    width: 80px;
    height: 80px;
    background: url("/template/img/information/play_btn.png") no-repeat; 
}
.man_title_pub {
	height: 35px;
	line-height: 30px;
	padding-top: 12px;
	border-top: 4px solid #222; 
}
.man_title_pub dt {
	height: 35px;
	float: left;
	font-size: 22px;
	background: url("/template/img/information/video_title.png") no-repeat; 
}
.man_title_pub dd {
	height: 35px;
	float: right; 
}
.man_title_pub dd a{
	color: #bd2819;
}
.man_title_pub dd i {
	font-size: 22px;
	color: #bd2819;
}
.man_title_pub.vdeo dt {
	background-position: 0 0;
	padding-left: 74px; 
}
.g-pic {
	overflow: hidden;
	position: relative;
}
.g-pic:hover span
{
    color:#c0292a;}
.g-pic a em {
	display: block;
	width: 100%;
	height: 50px;
	background: url("/template/img/information/gradient_bg.png");
	_background: #000;
	_filter: alpha(opacity=70);
	line-height: 58px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-indent: 20px;
	cursor: pointer;
	color: #fff;
}

.g-title {
    overflow: hidden;
    height: 80px;
    margin: 40px 0 0;
}
.g-title .title {
	position: relative;
    height: 45px;
    line-height: 45px;
}
.g-title .title strong {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 0;
    border-bottom: 1px solid #333;
    vertical-align: middle;
}
.g-title .title span{
    display: block;
    margin-top: -40px;
    color: #333;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.g-title .title span a{
	display: inline-block;
	padding: 0 20px;
	color: #000;
	line-height: 30px;
	background-color: #fff;
}
.g-title .links {
    text-align: center;
    padding: 3px 0 0;
    color: #b5b5b5
}
.g-title .links a {
    color: #5d5d5d
}
.g-title .links a:hover {
    color: #c0292a
}
.g-title .links span {
    display: inline-block;
    width: 40px
}


/* 第二栏 */
.big-g-pic{
	width: 100%;
	margin-bottom: 20px;
}
.big-g-pic img{
	width: 760px;
	height: 420px;
}
.m-second .big-g-pic.g-pic a em.fcut{
	font-size: 18px;
	font-weight: bold;
}
.m-second .g-pic a em.fcut{
	font-size: 14px;
	text-align: center;
	text-indent: 0;
}
.m-second .g-pic a em.fcut span{
	display: inline-block;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.m-second .m-first-top{
	position: relative;
	height: 520px;
	overflow: hidden;
}
.m-second .m-first-top .g-pic{
	width: 300px;
	height: 250px;
	margin: 0 0 20px;
}
.m-first-top .news{
	width: 440px;
	height: 520px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	background: #f2f2f2;
}
.m-first-top .news .g-pic{
	width: 100%;
	height: 360px;
	margin-bottom: 0;
}
.m-first-top .news dd {
	width: 440px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	color: #222;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-first-top .news dd a{
	color: #5a5b5d;
}
.m-first-top .news ul {
	width: 400px;
	overflow: hidden;
	margin: 0 auto;
	border-top: 1px solid #dbdbdb;
	padding-top: 10px;
}
.m-first-top .news li {
	width: 180px;
	height: 34px;
	line-height: 34px;
	margin-right: 20px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-first-top .news li a {
	color: #5a5b5d;
}
.m-first-top .news li a:hover{
	color: #c0292a;
}
.m-second .ad_first{
	width: 300px;
	height: 380px;
	background: #f2f2f2;
	padding: 20px 30px;
	margin: 0 0 20px;
}
.m-second .ad_first ul{
	padding-top: 8px;
}
.m-second .ad_first li{
	margin: 14px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-second .ad_first li a{
	color: #494949;
	font-size: 14px;
}
.m-second .ad_first li a:hover
{
    color:#c0292a;
    }
.m-first-top .news li a:hover{
	color: #c0292a;
}
.m-second .ad_first li a:hover
{
    color: #c0292a;
}
.public_arrow_title{
	padding: 0 20px;
}
.public_arrow_title span{
	color: #222;
	font-size: 22px;
	line-height: 46px;
}
.entertainment_hot{
	height: 174px;
	padding: 0 20px;
	margin-bottom: 10px;
}
.entertainment_hot ul{
	margin-left: 20px;
	list-style-type: disc;
}
.entertainment_hot li{
	list-style-type: disc;
	color: #494949;
	font-size: 13px;
	line-height: 30px;
}
.entertainment_hot li a{
	display: inline-block;
	width: 100%;
	color: #494949;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}
.entertainment_hot li a:hover
{
    color:#c0292a;
    }
.m-second .ad_first_r {
	width: 300px;
	background: #f2f2f2;
	padding: 20px 30px;
	margin: 0;
}

/* 第三栏 */
.big-g-picShow{
	position: relative;
}
.big-g-picShow .line{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 720px;
	height: 380px;
	background: url("/template/img/information/border_men.png") no-repeat;
}
.big-g-picShow .tit{
	width: 460px;
	height: 64px;
	overflow: hidden;
	padding: 10px;
	background: #fff;
	position: absolute;
	left: 142px;
	bottom: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, .5);
}
.big-g-picShow .tit h2 {
	color: #989898;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.big-g-picShow .tit h2  a{
	color: #000;
}
.big-g-picShow .tit h3 {
	color: #222;
	width: 410px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.big-g-picShow .tit h3  a{
	color: #222;
	font-size: 24px;
}

.w240{
	width: 240px;
}

.picShow {
	margin-left: -20px;
}
.picShow .g-pic{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.popular{
	margin-top: 20px;
}
.popular .g-pic{
	float: left;
}
.popular .most-popular{
	float: left;
	width: 500px;
	height: 248px;
	margin-left: 20px;
	border: 1px solid #000;
	border-width: 1px 0;
}
.popular .most-popular ul{
	padding: 10px 20px 0;
}
.popular .most-popular li{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.popular .most-popular li a{
	color: #5a5b5d;
	font-size: 18px;
	line-height: 46px;
}
.popular .most-popular li a:hover
{
    color:#c0292a;
    }

.trend_calendar {
	width: 360px;
	height: 420px;
	background: #e4e4e4;
	position: relative;
	margin-bottom: 20px;
}
.trend_calendar h2 {
	height: 45px;
	line-height: 45px;
	background: #cbcbcb;
	padding-left: 20px;
	color: #000;
}
.trend_calendar h2 {
	height: 45px;
	line-height: 45px;
	background: #cbcbcb;
	padding-left: 20px;
	color: #000;
}
.trend_calendar dl {
	width: 320px;
	margin: 20px auto 0;
	text-align: center;
}
.trend_calendar dt {
	width: 320px;
	height: 300px;
	overflow: hidden;
}
.trend_calendar dd {
	font-size: 16px;
	color: #000;
	padding-top: 10px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.trend_calendar dd a{
	color: #000;
}
.black_box {
	width: 320px;
	padding: 20px;
	background: #333;
	overflow: hidden;
}
.black_box .item{
	position: relative;
}
.black_box .item img{
	width: 320px;
	height: 480px;
}
.black_box .item dl {
	width: 280px;
	height: 80px;
	cursor: pointer;
	background: #000;
	position: absolute;
	left: 20px;
	bottom: 20px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	color: #fff;
	text-align: center;
}
.black_box .item dl dt {
	font-size: 18px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #64686b;
	margin-bottom: 0;
	font-weight: normal;
}
.black_box .item dl dd {
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}


.sing-box{
	height: 386px;
	margin-bottom: 46px;
	border: 4px solid #000;
	border-width: 4px 0;
}
.sing-box h3{
	height: 46px;
	color: #222;
	font-size: 20px;
	line-height: 46px;
}
.sing-box .eg p{
	line-height: 46px;
}
.sing-box .eg p a{
	color: #222;
	font-size: 20px;
}
.sing-box .eg p a:hover
{color: #c0292a;
    
    }
.writer-box{
	position: relative;
	width: 360px;
	height: 250px;
}
.writer-box .desc{
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 250px;
	height: 40px;
	margin-left: -125px;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(0, 0, 0, .32);
}


/* 第五栏 */
.shoppingShow {
	width: 1160px;
	height: 520px;
	overflow: hidden;
}
.shoppingShow .item {
	position: relative;
	overflow: hidden;
}
.shoppingShow .left {
	width: 400px;
	float: left;
	overflow: hidden;
}
.shoppingShow .left .item {
	width: 400px;
	height: 520px;
}
.shoppingShow .left .item dl {
 	width: 400px; 
}
.shoppingShow .item dl {
	height: 88px;
	position: absolute;
	cursor: pointer;
	left: 0;
	bottom: -88px;
	background: #000;
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	overflow: hidden;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.shoppingShow .item dt {
	height: 44px;
	line-height: 44px;
	font-size: 24px;
}
.shoppingShow .left .item dd {
	width: 360px;
}
.shoppingShow .item dd {
	height: 43px;
	line-height: 43px;
	font-size: 14px;
	border-top: 1px dashed #bababa;
	margin: 0 auto;
}
.shoppingShow .item.on dl {
	bottom: 0;
}

.shoppingShow .right {
	width: 740px;
	float: right;
	overflow: hidden;
}
.shoppingShow .right ul {
	width: 760px;
}
.shoppingShow .right li {
	width: 360px;
	height: 250px;
	overflow: hidden;
	float: left;
	margin: 0 20px 20px 0;
}
.shoppingShow .right .item {
	width: 360px;
	height: 250px;
}
.shoppingShow .right .item dl {
	width: 360px;
}
.shoppingShow .right .item dd {
	width: 320px;
}
.shoppingShow .right li.other .item {
	float: left;
	width: 170px;
}
.shoppingShow .right li.other dl {
	width: 170px;
}
.shoppingShow .right li.other dd {
	width: 130px;
}
.shoppingShow .right li.other .item.fright {
	float: right;
}


/* 第六栏 */
.g-ads-sixth {
	width: 1160px;
	overflow: hidden;
}
.g-ads-sixth .mask {
	width: 1190px;
}
.g-ads-sixth .ads-box {
	width: 370px;
	overflow: hidden;
	float: left;
	margin-right: 25px;
}
.g-ads-sixth .ads-box img {
	vertical-align: top;
}

.g-content-box{
	margin-top: 40px;
}
.bbs-psx {
	width: 800px;
	height: 515px;
	overflow: hidden;
}
.bbs-psx .sbox {
	width: 390px;
	float: left;
}
.bbs-psx .t, .bbs-sidepsx .t {
	height: 20px;
}
.bbs-psx .t dt, .bbs-sidepsx .t dt {
	width: 164px;
	float: left;
}
.bbs-psx .t h3, .bbs-sidepsx .t h3 {
	font-size: 20px;
}
.bbs-psx .btn {
	margin-left: 286px;
}
.bbs-psx .btn a {
	font-size: 14px;
	padding: 0 3px 0 5px;
	color: #c0292a;
	line-height: 30px;
}
.bbs-psx .cont {
	width: 370px;
	height: 200px;
	margin: 20px 20px 35px 0;
}
.bbs-psx .cont .shadow {
	width: 150px;
	height: 200px;
	float: left;
	overflow: hidden;
	position: relative;
}
.bbs-psx .cont .shadow a {
	display: block;
	width: 150px;
	height: 200px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.bbs-psx .cont .shadow a h2 {
	width: 120px;
	padding: 0 15px 0 15px;
	height: 50px;
	line-height: 65px;
	overflow: hidden;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: -50px;
	font-size: 12px;
	background: url("/template/img/information/bbs-imgbg00.png") repeat-x;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.bbs-psx .cont ul li {
	padding-left: 14px;
	_padding-left: 10px;
	width: 206px;
	height: 34px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 34px;
}
.bbs-psx .cont ul li a {
	color: #5a5b5d;
}
.bbs-psx .cont ul li a:hover
{
    color:#c0292a;
    }

.bbs-sidepsx {
	height: 516px;
}
.bbs-sidepsx h3 {
	float: left;
	font-size: 20px;
}
.bbs-sidepsx .btn {
	margin-left: 250px;
}
.bbs-sidepsx .btn h5 {
	font-size: 14px;
	margin: 0 5px 0 60px;
}
.bbs-sidepsx .btn h5 a{
	color: #c0292a;
}
.bbs-sidepsx .sbox {
	width: 360px;
	height: 470px;
	float: left;
	margin-top: 20px;
	background-color: #f2f2f2;
}
.bbs-sidepsx .cont {
	height: 250px;
	margin: 20px 20px 0 20px;
}
.bbs-sidepsx .cont .shadow {
	width: 320px;
	height: 250px;
	overflow: hidden;
}
.bbs-sidepsx .cont .shadow a {
	display: block;
	width: 320px;
	height: 250px;
	overflow: hidden;
}
.bbs-sidepsx .cont h4 {
	font-size: 16px;
	text-align: center;
	padding: 15px 0 15px 0;
	background: url("/template/img/information/dash.png") left bottom repeat-x;
}
.bbs-sidepsx .cont h4 a{
	color: #222;
}
.bbs-sidepsx .cont ul {
	padding-top: 10px;
}
.bbs-sidepsx .cont li {
	width: 320px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 32px;
}
.bbs-sidepsx .cont li a {
	color: #5a5b5d;
}


/* 第七栏 */
.m-seventh{
	margin-bottom: 40px;
}
.c2-l, .c2-r {
	height: 470px;
	overflow: hidden;
}
.c2-l dl, .c2-r dl {
	overflow: hidden;
	position: relative;
}
.c2-l dd, .c2-r dd {
	position: absolute;
	bottom: -40px;
	left: 0;
	padding: 0 20px;
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	font-size: 14px;
	background: transparent url("/template/img/information/bbs-fbg.png") left -39px repeat-x;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.c2-l dd a, .c2-r dd a {
	color: #fff;
}
.c2-l .item.on dd, .c2-r .item.on dd{
	bottom: 0;
}

.c2-l {
	width: 470px;
}
.c2-l dl {
	height: 470px;
}
.c2-l dt {
	width: 470px;
	height: 470px;
}
.c2-l dd {
	width: 430px;
}
.c2-r {
	width: 670px;
	background: transparent url("/template/img/information/fenge-x.png") 0 235px repeat-x;
}
.c2-r .c2r-s {
	width: 690px;
}
.c2-r dl {
	height: 210px;
	float: left;
	margin: 0 20px 49px 0;
}
.c2-r dt {
	width: 210px;
	height: 210px;
}
.c2-r dd {
	width: 170px;
}


/* 第八栏 */
.pub_columnCon {
	width: 1160px;
	overflow: hidden;
}
.inner_dna {
	width: 1180px;
	overflow: hidden;
}
.item_dna {
	width: 272px;
	height: 178px;
	border: 1px solid #dadada;
	overflow: hidden;
	float: left;
	margin: 0 20px 20px 0;
}
.item_dna h2 {
	color: #000;
	display: block;
	padding: 7px 0 0 10px;
	height: 27px;
	font-size: 22px;
}
.item_dna h2 a:link, .item_dna h2 a:visited, .item_dna h2 a:hover {
	color: #bd2819;
	font-size: 16px;
}
.item_dna p {
	/*height: 78px;*/
	width: 260px;
	overflow: hidden;
	line-height: 26px;
	padding: 0 0 14px 10px;
	font-size: 14px;
}
.item_dna p a {
	display: inline-block;
	margin: 0 13px 0 0;
	color: #5a5b5d;
}
.item_dna p a:hover {
	color: #bd2819;
}


#info-index .friendLink{
	text-align: center;
	background-color: #f2f2f2;
	
}
.friendLink i,.friendLink a{
	vertical-align: middle;
	white-space: nowrap;
	display:inline-block;
}
#info-index .friendLink .box{
	display: inline-block;
	max-width: 1160px;
	width: auto;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
	vertical-align: middle;
	text-align:left;
}
#info-index .friendLink .box h2{
	
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	float: none;
}
#info-index .friendLink .box div{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}


/* footer */
.public_footer .codeB {
	height: 210px;
	overflow: hidden;
	background: #fff;
	min-width: 1180px;
}
.public_footer .codeB .main {
	width: 1160px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 52px;
}
.public_footer .codeB dl {
	width: 558px;
	overflow: hidden;
	border-right: 1px solid #e5e5e5;
	float: left;
	padding-left: 20px;
}
/*
.public_footer .codeB dt {
	width: 250px;
	height: 80px;
	float: left;
	padding-left: 96px;
	background: url("/template/img/information/f_code_icon.png") no-repeat 0 18px;
	padding-top: 10px;
}
*/
.public_footer .codeB dt {
    background: rgba(0, 0, 0, 0) url("/template/img/information/f_code_icon.png") no-repeat scroll 0 18px;
    float: left;
    height: 146px;
    padding-left: 96px;
    padding-top: 0;
    width: 250px;
}
.public_footer .codeB dt strong {
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	color: #424242;
	display: block;
}
.public_footer .codeB dt p {
	font-size: 13px;
	color: #c2c2c2;
	width: 220px;
	line-height: 1.5;
}
.public_footer .codeB dd {
	width: 104px;
	height: 104px;
	float: left;
}
.public_footer .codeB dl.last {
	border-right: none;
	padding-left: 110px;
	width: 470px;
}
.public_footer .codeB dl.last dt{
	background: url("/template/img/information/f_weibo_icon.png") no-repeat 0 18px;
}

.public_footer .fb {
	min-height: 247px;
	overflow: hidden;
	background: #000;
	min-width: 1180px;
}
.public_footer .fb .main {
	width: 1160px;
	height: 247px;
	overflow: hidden;
	margin: 0 auto;
	background: url("/template/img/information/footer_b.jpg") no-repeat;
}
.public_footer .fb .main .menu {
	width: 1160px;
	padding-top: 18px;
	overflow: hidden;
}
.public_footer .fb .main .menu dt {
	width: 348px;
	height: 50px;
	float: left;
	overflow: hidden;
}
.public_footer .fb .main .menu dd {
	width: 812px;
	height: 50px;
	float: left;
	overflow: hidden;
	padding-top: 10px;
}
.public_footer .fb .main .menu dd a {
	font-size: 14px;
	color: #bebebe;
	margin: 0 26px;
}
.public_footer .fb .main .menu dd a:hover
{
    color:#c0292a;
    }
.public_footer .fb .main .address {
	width: 1168px;
	overflow: hidden;
	padding-top: 24px;
}
.public_footer .fb .main .address p {
	width: 378px;
	overflow: hidden;
	float: left;
	color: #595959;
	font-size: 14px;
	line-height: 30px;
}
.public_footer .fb .main .address p.p2 {
	width: 410px;
}
.public_footer .fb .main .address p a {
	color: #595959;
}


.hongren-reco{
	margin-top: 40px;
}
.hongren-reco ul{
	margin-left: -15px;
}
.hongren-reco li{
	float: left;
	width: 196px;
	height: 76px;
	margin-left: 15px;
	padding:  12px;
	background-color: #f2f2f2;
}
.hongren-reco li img{
	width: 80px;
	height: 80px;
}
.hongren-reco span{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 16px;
	border: 1px solid #979797;
	border-radius: 100%;
	overflow: hidden;
	box-sizing: border-box;
}
.hongren-reco h2{
	margin: 16px 0;
	color: #222;
	font-size: 20px;
}
.hongren-reco em{
	display: inline-block;
	width: 90px;
	height: 20px;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-color: #ff1b52;
}

.goTop{
	position: fixed;
	right: 160px;
	bottom: 100px;
	width: 52px;
	height: 52px;
	background: url(/template/img/information/goTop.png) no-repeat 0 0;
	cursor: pointer;
}

.g-focus .left, .g-focus .right {
	width: 30px;
	height: 57px;
	display: block;
	overflow: hidden;
	background: url("/template/img/information/foucs_icon.png") no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	z-index: 99;
	transition-property: left,right;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}
.g-focus .right {
	right: -30px;
	background-position: right 0;
}
.g-focus .left {
	left: -30px;
	background-position: 0 0;
}

.g-focus {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.g-focus .left.active {
	left: 20px;
}
.g-focus .right.active {
	right: 20px;
}
.g-focus .right:hover {
	background-position: right -57px;
}
.g-focus .left:hover {
	background-position: 0 -57px;
}

.g-focus .point {
	position: absolute;
	right: 22px;
	bottom: 22px;
	text-align: right;
	float: right;
	z-index: 2;
}
.g-point {
	width: 19px;
	height: 18px;
	display: block;
	float: left;
	margin-right: 5px;
	background: url("/template/img/information/foucs_icon.png") no-repeat 0 -124px;
	cursor: pointer;
}
.g-point.on {
	background-position: right -124px;
}
.g-focus .foucs .item {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	opacity: 0;
}

.black_box, .ad_first_box {
	position: relative;
	overflow: hidden;
}
.g-scollTwo, .g-scrollThree, .g-scrollFour, .g-scrollFive{
	position: relative;
	overflow: hidden;
}
.black_box .black_box_content, .g-scrollThree .black_box_content, .g-scrollFour .black_box_content, .g-scrollFive .black_box_content{
	width: 3000px;
	overflow: hidden;
}
.black_box .black_box_content .item {
	width: 320px;
	height: 480px;
	float: left;
	position: relative;
	overflow: hidden;
}
.black_box .black_box_content .item:hover dl
{ 
    color:#c0292a;
    }
.black_box .btn, .g-scrollThree .btn, .g-scrollFour .btn, .g-scrollFive .btn{
	width: 30px;
	height: 58px;
	background: url("/template/img/information/arrow.png") no-repeat;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -29px;
	z-index: 3;
	cursor: pointer;
}
.black_box .btn.right, .g-scrollThree .btn.right, .g-scrollFour .btn.right, .g-scrollFive .btn.right{
	left: auto;
	right: 10px;
	background-position: right 0;
}
.black_box .btn.right:hover, .g-scrollThree .btn.right:hover, .g-scrollFour .btn.right:hover, .g-scrollFive .btn.right:hover{
	background-position: right -60px;
}
.black_box .btn.left:hover, .g-scrollThree .btn.left:hover, .g-scrollFour .btn.left:hover, .g-scrollFive .btn.left:hover{
	background-position: 0 -60px;
}
.g-scrollThree .black_box_content .item{
	width: 300px;
	height: 280px;
	float: left;
	position: relative;
	overflow: hidden;
}
.g-scrollFour .black_box_content .item{
	width: 400px;
	height: 520px;
	float: left;
	position: relative;
	overflow: hidden;
}
.g-scrollFive .black_box_content .item{
	width: 470px;
	height: 470px;
	float: left;
	position: relative;
	overflow: hidden;
}


/*新添加  用于首页红人微吧轮播图   2016-07-21*/

.g-scrollSix
{
    overflow: hidden;
    position: relative;
    margin-top:20px;
    margin-left:20px;
    width:320px;
    height:250px;
}
                    
.g-scrollSix .black_box_content
{
    overflow: hidden;
    width: 3000px;
    height: 250px;
    margin-right:20px;
}
                    
                    
.g-scrollSix .black_box_content .item {
    float: left;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 320px;
               
}
                    
.g-scrollSix .btn {
    background: rgba(0, 0, 0, 0) url("/template/img/information/arrow.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 58px;
    left: 10px;
    margin-top: -29px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 3;
    margin-left:0;
}
                    
.g-scrollSix .btn.right {
    background-position: right 0;
    left: auto;
    right: 10px;
    margin-right:0;
}
                    
.g-scrollSix .btn.right:hover {
    background-position: right -60px;
}
                    
.g-scrollSix .btn.left:hover {
    background-position: 0 -60px;
}
                    
.bbs-sidepsx .sbox h4 {
    background: rgba(0, 0, 0, 0) url("/template/img/information/dash.png") repeat-x scroll left bottom;
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
    margin: 0 20px 0;
}
.bbs-sidepsx .sbox h4 a {
    color: #222;
}
.bbs-sidepsx .sbox ul {
    padding-top: 10px;
    margin: 0 20px 0;
}
.bbs-sidepsx .sbox li {
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
                        
}
.bbs-sidepsx .sbox li a {
    color: #5a5b5d;
}
.bbs-sidepsx .sbox li a:hover
{
    color:#c0292a;
    }
.g-scrollSix .black_box_content .item a em.fcut {
    font-size: 18px;
    font-weight: bold;
}
.g-scrollSix .black_box_content .item a em.fcut {
    font-size: 14px;
    text-align: center;
    text-indent: 0;
}
.g-scrollSix .black_box_content .item a em.fcut span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}


/*搜索*/

#search .btn
{
    border: 1px solid #e5e5e5;
    font-size:15px;
}

#search .btn:hover
{
    border: 1px solid #5a5b5d;
}

/*End*/

/*首页新导航*/
.g-nav .m-nav .navs .f22  { font-size: 22px;margin:19px 18px 0 0;display:table-cell;vertical-align:middle;}
.g-nav .m-nav .navs .f18  { font-size: 18px;margin:21px 15px 0 0;display:table-cell;vertical-align:middle;}
.g-nav .m-nav .navs { height:60px; 
text-align: center;}

.g-nav .m-nav .navs a {
    float: left;
    line-height:20px;
    color: #fff;       
}
.g-nav .m-nav .navs span{ display: block;
float: left;
height: 30px;
width: 1px;
border-right: 1px solid #fad6d6;
background-color: #991c1c;
margin: 15px 18px 0 3px;}
/*End*/

/*End*/


.m-right{width:50px; height:40px; line-height:40px; float:left; text-align:center; cursor:pointer;position: absolute;right:0;top:0;height: 128px;width:31px;background: #bf292a;line-height: 128px;color: #fff;font-size:20px;}
	#MScroll{width:200px; height:40px; overflow:hidden; float:left}
	#inner{width:200px; height:40px;}
	#inner .Lunb{width:1500px; list-style:none;height:128px;overflow:hidden;} 
	#inner .Lunb .nn{width:128px; float:left; list-style:none; line-height:40px; text-align:center;height: 128px;position: relative;margin-left:3px;margin-right:3px;}        
	#inner .Lunb .nn .tuceng4{
	display:none;position:absolute;left:0;bottom:0px;background: #cc5455;width: 128px;height:26px;opacity: 0.8; filter:alpha(opacity=80);
	}
	#inner .Lunb .nn .tuceng4 .mone{
	text-align:center;
	color: #fff;
	line-height: 26px;
	display: block;
	}
	#inner .Lunb .nn img
	{display:block;
	 width:100%;
	 height:100%;
	    }
	#page a{ margin:0px 10px; text-decoration:none}
	.form1{
	width: 1156px;
	height: 128px;
	margin: 23px auto;
	}
	#inner .Lunb .nn:hover .tuceng4{
	display: block;
	}
	
	
	#MScroll2{width:200px; height:40px; overflow:hidden; float:left}
	#inner2{width:200px; height:40px;}
	#inner2 .Lunb2{width:1500px; list-style:none;height:128px;overflow:hidden;} 
	#inner2 .Lunb2 .nn2{width:128px; float:left; list-style:none; line-height:40px; text-align:center;height: 128px;position: relative;margin-left:3px;margin-right:3px;}        
	#inner2 .Lunb2 .nn2 .tuceng4{
	display:none;position:absolute;left:0;bottom:0px;background: #cc5455;width: 128px;height:26px;opacity: 0.8; filter:alpha(opacity=80);
	}
	#inner2 .Lunb2 .nn2 .tuceng4 .mone{
	text-align:center;
	color: #fff;
	line-height: 26px;
	display: block;
	}
	#inner2 .Lunb2 .nn2 img
	{display:block;
	 width:100%;
	 height:100%;
	    }
	#page a{ margin:0px 10px; text-decoration:none}
	.form1{
	width: 1156px;
	height: 128px;
	margin: 23px auto;
	}
	#inner2 .Lunb2 .nn2:hover .tuceng4{
	display: block;
	}
/*登录图层*/
.loginTuceng
{
   width:460px;
   height:304px; 
   border:5px solid #d4d4d4;
   position:absolute;
   left:50%;
   top:50%;
   margin-left:-230px;
   margin-top:-152px;
    z-index:10001;
    background:#fff;
    display:none;
   
}
.loginTuceng .loginTucengT
{
   height:45px;
   width:428px;
   margin:5px;
   background:#ededed;
   line-height:45px;
   font-size:24px;
   color:#333333;
   padding-left:22px; 
  
    
}
.login-type
{
    width:321px;
    height:17px;
    text-align:center;
    margin-left:69px;
    margin-top:51px;
    font-size:17px;
    color:#545454;
    position:relative;
}
.login-type span
{
    color:#b5b5b5;
    font-size:20px;
    top:-9px;
    font-size:32px;
  }
.theoneline
{
    position:absolute;
    left:0;
    
    
 }
 .thetwoline
 {
      position:absolute;
    right:0;
     
 }
 .login-third-t
 {
   width:321px;
   height:66px; 
   margin-left:68px;
    margin-top: 36px;
  }
 .login-third-t a
 {
     display:inline-block;
     width:66px;
     height:66px;
     margin-left:27px;
     
     
  }
.third-tip
{
    width:321px;
    font-size:11px;
    display:inline-block;
    text-align:center;
     margin-left:68px;
     margin-top:33px; 
 }
.third-tip a
{
    color:#cc0d28;
    }
body,html{  width:100%;
    height:100%;}
.loginBig
{  
  width:100%;
 height:100%;
  background:black;
 filter:alpha(opacity=50);   
 -moz-opacity:0.5;   
 -khtml-opacity: 0.5;   
 opacity: 0.5; 
 position:absolute;
 z-index:10000;
 display :none;
 }

/*资讯列表改版by罗月明*/

.top-ad-box
{
    margin-top:0px;
    height:52px;
    background:#fff;
    border-bottom:2px solid #d7d7d7;
    width:100%;
}
.top-nav
{
    margin:0 auto;
    width:1160px;

    height:52px;
    line-height:52px;
}
.sz
{
   height:48px;
   line-height:48px;
   background:url("/template/img/zixun.jpg") no-repeat left center;
   padding-left:52px;
   float:left;
   margin-right: 20px;
   
}

.sz a
{
   font-size:20px;
   color:#222222;
}
.sz-nav
{
   height:48px;
   line-height:48px;
   float:left;
   width:558px;
   background:url("/template/img/shuxian.jpg") no-repeat left center;
}
.sz-nav li
{
    float:left;
    margin-left:20px;
}
.sz-nav li a
{
    color:#5a5b5d;
    font-size:14px;
}
.sz-nav li a:hover{color:#c0292a;}
.hotip
{
    
    display:inline-block;
    float:left;
 }
.hotip a
{
     color:#5a5b5d;
    font-size:12px;
    
    }
.hotip a .mar19
{
    margin-left:19px;
 }
.list-tip
{
    height:46px;
    line-height:46px;
    width:100%;
    width:1160px;
    margin:0 auto;
}
.list-tip span
{
    font-size:14px;
    color:#4c4c4c;
}
.list-tip i
{
    margin-left:8px;
    margin-right:6px;
    color:#4c4c4c;
}
.zixun-title
{
    height:40px;

    color:#323232;
    font-size:23px;
    line-height:40px;
    background:url("/template/img/zixun-title.jpg") no-repeat left center;
    padding-left:39px;
    border-bottom:1px solid #dcdcdc;
    
}
.list-box-left
{
    width:760px !important;
}
.list-box-left  .list-detall li
{
    height:245px;
}
.list-detall li dl
{
    width:760px;
    height:200px;
    margin-top:20px;
    position:relative;
}
.list-detall li dl dt
{
    height:200px;
    width:300px;
}
.list-detall li dl dt img
{
    width:100%;
    height:100%;
 }
.list-detall li dl dd h4
{

  font-size:22px;
  font-weight:900;
  color: #222222;
  width:391px;
  line-height:37px;
   position:absolute;
   left:340px;
   top:-11px;
   overflow:hidden;   
}
.list-detall li dl dd h4 a
{
  font-size:22px;
  font-weight:900;
  color: #222222; 
}
.list-detall li dl dd h4 a:hover{color:#c0292a;}

.list-detall li dl dd .list-content
{
   width:391px;
   line-height:25px;
   height:73px;
   position:absolute;
   left:340px;
   overflow:hidden;
   top:79px;
   margin-bottom: 10px;
    
 }
.list-detall li dl dd .list-content a
{
    color:#aeb0b2;
    font-size:13px;
}
.list-detall li dl dd .list-content a:hover{color:#c0292a;}
.list-detall li dl dd p 
{
   display:block; 
   position:absolute;
 }
.list-detall li dl dd p span
{
    padding:7px;
    border:1px solid #c9c9c9;
    border-radius:5px;
    display:inline-block;
    margin-left: 12px;
    color:#5a5b5d;
    font-size:12px;

}

.list-detall li dl dd i
{
    position:absolute;
    right:-143px;
    top:9px;
    display:inline-block;
    height:11px;
    line-height:11px;
    font-size:11px;
    color:#aeb0b2;
    background:url("/template/img/yan.jpg") no-repeat left center;
    padding-left:19px;
  }
  .list-box-left li {
    float: left;
    padding-bottom: 16px;
}

.list-box-right .sbox {
    background-color: #f2f2f2;
    float: left;
    height: 291px;
    margin-top: 20px;
    width: 360px;
}
.list-box-right {
    float: right;
    width: 360px !important;
}
.new-top .tops
{
    width:360px;
    height:77px;
    background:url("/template/img/tops.jpg") no-repeat left center;
    
 }
 .new-top
 {
     width:360px;
     margin-top:310px;
     background:#f2f2f2;
     border-bottom:4px solid #a3a3a3; 
 }
 .new-top ul
 {
     width:324px;

     margin-left:17px;
  }
  .new-top ul li
  {
      width:324px;
     height:60px;
     border-bottom:1px dashed #c9c9c9;
     line-height:60px;
}

 .new-top ul li a
 {
     margin-left:33px;
     font-size:15px;
     display:inline-block;
     height:60px;
     color:#323232;
     width:271px;
  }
 .new-top ul li a:hover{  color:#c0292a;}
  .new-top ul li i
  {
     font-style: oblique;
     font-size:32px; 
     float:left;
   }
 .new-top ul .linenone
 {
    border:none;
  }
  .new-top ul .linenone a
  {
      margin-left:15px;
  }
 .hot-soso
 {
     width:356px;
     border:2px solid #c9c9c9;
     margin-top:20px;
     clear:both;
 }
.hot-soso h3
{
    height:40px;
    color:#222222;
    font-size:23px;
    border-bottom:4px solid #000000;
    width:324px;
    line-height:40px;
    margin-left:18px;
    margin-top:18px
 }
.soso-box
{
    width:324px;
    margin-left:18px;
    line-height:32px;
    color:#cacaca;
    padding-bottom:20px;
 }
.soso-box a{color:#323232;font-size:15px;}
.soso-box a:hover{color:#c0292a;}
/*报名流程by罗月明*/
.process
{
    width:360px;
    margin-top:10px;
    margin-bottom:10px;
}
.processTitle
{
   width:360px;
   height:66px;
   line-height:66px;
   text-align:center;
   background:#bf292a;
}
.processTitle a
{
    color:#fff;
    font-size:20px;
    font-weight:700;
    }
.processTitle a:hover
{
    color:#fff;
    }
 .porcesslist
 {
     width:360px;
     height:58px;
     margin-top:28px;
  }
   .porcesslist .left
   {
       float:left;
       
    }
    .porcesslist .right
   {
       float:right;
    }
     .porcesslist li
     {
           width:168px;
     }
     .porcesslist li a
     {
         display:block;
         width:168px;
         height:66px;
         border:1px solid #c9c9c9;
         color:#333333;
         font-size:16px;
         line-height:66px;
         text-align:center;
    }
    .porcesslist li a:hover
    {
        color:#c0292a;
        }