/* javascript classes */

.js-template {
    display: none !important;
}

.js-hidden {
    display: none !important;
}
.js-dialog-title {
    display: none !important;
}

.js-invisible {
    visibility: hidden;
    height: 0;
    width: 0;
}


.js-expand-window {
    z-index: 600; 
    position: relative; 
    overflow:hidden; 
}

.js-page.js-disabled {
    display: none !important;
}
.js-ellipsis-l.js-disabled {
    display: none !important;
}
.js-ellipsis-r.js-disabled {
    display: none !important;
}
.js-home.js-disabled {
    display: none !important;
}
.js-end.js-disabled {
    display: none !important;
}

.operaFix{
	font-size:0;
	height:0;
	line-height:0;}