.phone.contentView #pageNg #myAccountData #buttonBar #button {
  margin-right: 0;
  width: 100%!important;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-two {
	height: 120px;
  margin-bottom: 0px!important;
}

.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow .inputContainer {
  height: 40px;
}

.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-two .inputContainer {
	height: 40px;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-two .inputContainer.mTop {
	margin-top: 20px;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-three{
	height: 180px;	
  margin-bottom: 0px!important;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-three .inputContainer{
	height: 40px;	
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow.middle-three .inputContainer.mTop {
	margin-top: 20px;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow .inputContainer {
  width: 100%;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form .inputRow .inputContainer.final {
  margin-top: 0px; 
}

.phone.contentView #pageNg #myAccountData #contentAddAddress form #buttonBarAdd {
  text-align: center;
}
.phone.contentView #pageNg #myAccountData #contentAddAddress form #buttonBarAdd #button {
  width: 100%;
}

.phone.contentView #pageNg #helpCenter #contentHelpCenter #bodyHelpCenter #myAccountData .inputRow {
  margin-bottom: 0px;
}



@media only screen and (max-width: 479px) and (min-width: 320px){
.phone.contentView #pageNg #helpCenter #contentHelpCenter #myAccountData #contentOrdersDetail .order .data.first .itemDetailTop {
  width: 65%;
  }
}
@media only screen and (min-width: 480px){
.phone.contentView #pageNg #helpCenter #contentHelpCenter #myAccountData #contentOrdersDetail .order .data.first .itemDetailTop .orderData {
  font: 300 16px/28px myriad-pro, sans-serif;
}

#myAccountData #contentOrdersDetail .order .data.first .itemDetailTop .label 
{
  float: left;
  width: 15%;
  font: 500 14px/12px myriad-pro, sans-serif;
}



