@charset "utf-8";

ul.megamenu {}

ul.megamenu li{
	float: none;
}

ul.megamenu li.clear-fix {
	float: none;
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
}

ul.megamenu a.mm-item-link {
	display: inline-block;
	z-index: 10;
	height: 19px;
	word-wrap:normal;
}

ul.megamenu a.mm-item-link:link {
	color: white;
	background-position: right 1pt;
}

ul.megamenu a.mm-item-link:visited {
	color: white;
}

/* mainmamu:hover; */
ul.megamenu a.mm-item-link-hover:link,
ul.megamenu a.mm-item-link-hover:visited {
	color: black;
}

ul.megamenu div.mm-item-content {
	display: block;
	position: absolute;
	z-index: 11;
	padding:13px 0px;
	color:#333;
	background:#fff;
	border:solid 5px #323232;
	border-top:none;
	font-family:Verdana, Arial, Helvetica, Geneva, sans-serif;
	overflow:hidden;

	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 5px 5px rgba(0,0,0,0.3);

}

ul.megamenu div.mm-item-content li a:link{
	color:#0069d4;
}

ul.megamenu div.mm-item-content li a:hover{
	color:#F28705;
	text-decoration:underline;
}

ul.megamenu div.mm-item-content #gn-find-car-content p{
	padding:0 0px;
	font-size:11px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, Geneva, sans-serif;
}

ul.megamenu div.mm-item-content li {
	font-size: 11px;
}

ul.megamenu div.mm-item-content #gn-find-car-content li:first-child p{
	padding:18px 0 0px;
}

ul.megamenu div.mm-item-content #gn-find-car-content > li{
	float:left;
	margin:0 0 0 18px;
	width:175px;
	min-height: 414px; /* ボーダー長さ調整 */
	border-right:dotted 1px #7f7f7f;
}

/*IE10以降に適用 ボーダー長さ調整*/
@media all and (-ms-high-contrast:none){
	ul.megamenu div.mm-item-content #gn-find-car-content > li{
	min-height: 432px;
	}
}

ul.megamenu div.mm-item-content #gn-be-forward-local-content > li{
	float:left;
	margin:0 0 0 18px;
	width:186px;
	border-right:dotted 1px #7f7f7f;
}

ul.megamenu div.mm-item-content #gn-find-car-content > li:last-child{
	border:none;
	margin:0 0 0 18px;
}

ul.megamenu div.mm-item-content #gn-be-forward-local-content > li:last-child{
	border:none;
	margin:0 0 0 18px;
}

ul.megamenu div.mm-item-content #gn-be-forward-help-content > li:last-child,
ul.megamenu div.mm-item-content #gn-be-forward-blog-content > li:last-child{
	border:none;
}

/*
ul.megamenu div.mm-item-content #gn-how-to-buy-content > li{
	margin:0 18px;
	width:300px;
}

ul.megamenu div.mm-item-content #gn-support-and-faqs-content > li{
	margin:0 18px;
	width:280px;
}
*/
#gloval-nav .not-link > a,
#gloval-nav .not-link > a:hover{
	cursor: default;
	text-decoration: none;
}

#gn-how-to-buy li,
#gn-help-and-support li,
#gn-blog-and-resources li,
#gn-about-be-forward li,
#gn-sign-in-content li,
#gn-sign-out-content li{
	margin:0 17px 0 15px;
	width: 190px;
}

#gn-about-be-forward .mm-item-content{
	margin-left: 2px;
}

#gn-sign-in-content li ul li,
#gn-sign-out-content li ul li {
	margin: 0 17px 0 0px;
	width: 187px;
}
ul.megamenu div.mm-item-content #gn-sign-out-content p{
	margin: 10px 17px 0 0;
	padding:0px;
	font-size:11px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, Geneva, sans-serif;
}

/* ul.megamenu div.mm-item-content #gn-be-forward-local-content > li{ */
/* 	width:300px; */
/* 	margin:0 18px 20px; */
/* 	color:#666; */
/* } */

ul.megamenu div.mm-item-content #gn-be-forward-local-content a{
	cursor:pointer;
	padding: 0 0 10px 35px;
	display: block;
	height: 20px;
}

ul.megamenu div.mm-item-content #gn-be-forward-help-content a,
ul.megamenu div.mm-item-content #gn-be-forward-blog-content a{
	cursor:pointer;
	padding: 0 0 0px 5px;
	display: block;
}

ul.megamenu div.mm-item-content #gn-be-forward-local-content > li:last-child{
	margin:0 18px 0px;
}

ul.megamenu div.mm-content-base {
	z-index: 12;
}

ul.megamenu div.mm-content-base .pulldown-left {
	float: left;
}

ul.megamenu div.mm-content-base .pulldown-left li {
	float: none;
	margin: 0;
	padding: 0;
}

ul.megamenu div.mm-content-base .pulldown-border {
	border-right: 1px solid rgb(218, 218, 218);
	padding-right: 20px;
	margin-right: 20px;
}

ul.megamenu div.mm-js-shadow {
	display: none;
	z-index: 5;
}

/* Local */

.local-service-tanzania a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1900px;
}

.local-service-malawi a{
	background:url("/assets/images/mgt_image.png") no-repeat 0px -2020px;
}

.local-service-mongolia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2260px;
}

.local-service-zambia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1980px;
}

.local-service-newzealand a{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2100px;
}

.local-service-kenya a{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2060px;
}

.local-service-uganda a{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2140px;
}

.local-service-zimbabwe a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2300px;
}

.local-service-georgia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2180px;
}

.local-service-southafrica a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2220px;
}

.local-service-mozambique a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1940px;
}

.local-service-southsudan a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2340px;
}

.local-service-drcongo a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2380px;
}

.local-service-caribbean a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1857px;
}

.local-service-russia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1817px;
}

.local-service-latinamerica a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1776px;
}

.local-service-armenia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1736px;
}

.local-service-oceania a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2420px;
}

.local-service-somalia a{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1696px;
}

.local-service-myanmar a{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -1656px;
}

ul.megamenu div.mm-item-content li.bestdeals a:link,
ul.megamenu div.mm-item-content li.bestdeals a:visited {
	color:#ff0000;
}
ul.megamenu div.mm-item-content li.careers a:link,
ul.megamenu div.mm-item-content li.careers a:visited {
	color: #F28705;
}
ul.megamenu div.mm-item-content li.bfs a:link,
ul.megamenu div.mm-item-content li.bfs a:visited {
	color: #ff3634;
}
.bfs a{
	background:url("/assets/images/icon_supporters.png") no-repeat;
	padding-left: 23px;
	display: block;
	font-size: 11px;
}

