/* tabs */
/* tabs style */
#container .box{
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fffced;
	padding: 10px 0 10px 10px;
	margin-bottom: 20px;
}

#container .tabs {
	border-bottom: 0px solid #e1e1e1;
}

#container .tabs li {
	background-image: url("/assets/images/tabs_menu_bg.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
	width: 146px;
	height: 10px;
	display: block;
	border: 1px solid #e1e1e1;
	padding: 5px 1px 9px 1px;
	line-height: 100%;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-right: 17px;
	margin-bottom: -1px;
	cursor: pointer;
	zoom: 1;
	position: relative;
}

#container .tabs li.mr0 {
	margin-right: 0;
}

#container .tabs li.tabs-inner {
  border: 1px solid #e1e1e1;
  border-bottom: none;
}

*html #container .tabs li {
	padding-bottom: 5px;
}

#container .tabs li a {
	padding-left: 10px;
	text-decoration: none;
}

#container .tabs li.active-hover a,
#container .tabs li.active a {
	background-image: url("/assets/images/tab_bg_icon.gif");
	background-position: 0 5px;
	background-repeat: no-repeat;
	border-bottom: none;
	margin-bottom: -1px;
	color:#000 !important;
}

#container .tabs li.active, #container .tabs li.active-hover{
	background-position: 0 -25px;
}

/* content-left */
#container #content {
	padding: 10px 10px 15px 10px;
	margin-bottom: 5px;
}
/*
#container #content #content-left {
	width: 650px;
	float: left;
}


#container #content-left .main {
	margin-bottom: 20px;
}

#container #content-left .main-inner {
	float: left;
	margin: 0;
	padding: 0;
}

#container #content-left #main-visual {
	position: relative;
	width: 410px;
	height: 220px;
	overflow: hidden;
}

#container #content-left #slide-navi {
	position: absolute;
	z-index: 9999;
	width: 200px;
	top: 331px;
	margin-left: 10px;
}

#container #content-left #slide-navi li {
	float: left;
	margin-right: 7px;
}

#container #content-left #slide-navi li a{
	height: 13px;
	width: 12px;
	background-image: url(/images/main_off.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
}

#container #content-left #slide-navi li.activeSlide a{
	height: 13px;
	width: 12px;
	background-image: url(/images/main_on.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
}

#container #content-left .search {
	width: 240px;
	float: left;
	background-image: url(/images/search_bg.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 220px;
}

*html #container #content-left .search {
	z-index: -5;
}

#container #content-left .search .main-text {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding: 10px 0 5px 10px;
	font-family: Arial;
}

#container #content-left .search table {
	margin-left: 10px;
	margin-bottom: 3px;
}

#container #content-left .search table th {
	text-align: left;
	padding-right: 10px;
	padding-bottom: 7px;
}

#container #content-left .search table td {
	padding-bottom: 7px;
}

#container #content-left .search table td select{
    padding: 2px;
    height: auto;
    width: 150px;
}

#container #content-left .search table td input {
    padding: 2px;
    height: auto;
    width: 142px;
}

#container #content-left .search table td .from-to {
	width: 65px;
}

#container #content-left .h2-box {
	background-image: url(/images/h2_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 8px;
	width: 650px;
	margin-bottom: 20px;
}

#container #content-left h2 span {
	background-color: #FFF;
	padding: 0 15px;
	margin-left: 30px;
	font-size: 22px;
	font-weight: bold;
	font-family: Helvetica, Arial;
}

#container #content-left .car-brand {
	float: left;
	padding-right: 15px;
}


#container #content-left .car-brand li {
	margin-bottom: 6px;
}

#container #content-left .car-brand img {
	margin-right: 3px;
	vertical-align: middle;
}

#container #content-left .pr0 {
	padding-right: 0;
}

#container #content-left .car-types {
	padding-left: 10px;
}

#container #content-left .car-types a {
	font-weight: bold;
}
#container #content-left .car-brand li a {
	color: #3366cc;
	font-weight: bold;
	font-size: 11px;
}
*/
#container .car-types li {
	float: left;
	text-align: center;
	padding-right: 20px;
	padding-bottom: 10px;
}
/*
#container #content-left .new-list li {
	float: left;
	height: 30px;
}

#container #content-left .new-list-box li {
	width: 207px;
	float: left;
	padding-bottom: 10px;
}

#container #content-left .new-list-box .list-left {
	width: 80px;
	float: left;
}

#container #content-left .new-list-box .list-right {
	width: 115px;
	float: right;
	font-size: 11px;
	line-height: 130%;
}

#container #content-left .new-list-box .list-right a {
	font-weight: bold;
}
*/
#mgt .research-list li {
	background-image: url("/assets/images/research_icon.gif");
	background-position: 0 7px;
	background-repeat: no-repeat;
	padding-left: 7px;
	padding-right: 10px;
	font-size: 11px;
}
/*
#container #content-left .reviews {
	margin-top: 20px;
}

#container #content-left .reviews-left {
	width: 418px;
	float: left;
}

#container #content-left .reviews-list li {
	float: left;
	height: 30px;
}

#container #content-left .reviews-right {
	width: 207px;
	float: right;
}
*/
#mgt .guides {
	width: 94%;
	padding-left: 24px;
}

#mgt #top-latest-news .guides .detail p{
	text-align: right;
}
/*
#container #content-left .guides-link a {
	font-weight: bold;
}

#container #content-left .price-icon {
	background-image: url(/images/price_img.gif);
	padding-left: 30px;
}

#container #content-left .year-icon {
	background-image: url(/images/year_img.gif);
	padding-left: 30px;
}

#container #content-left .category-icon {
	background-image: url(/images/category_img.gif);
	padding-left: 30px;
}

#container #content-left .models-icon {
	background-image: url(/images/models_img.gif);
	padding-left: 30px;
}
*/
#mgt .guides-text {
	font-weight: bold;
	border-bottom: 2px solid #f7941d;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#mgt .guides .guides-box {
	width: 30%;
	float: left;
}

#mgt #top-latest-news .guides > div{
	width: 100%;
}

#mgt .guides .latest-left {
	width: 40%;
	float: left;
}

#mgt .guides .latest-right {
	width: 40%;
	float: right;
}

#mgt #search-button a{
	color: #fff;
	font-weight: bold;
	display:block;
	padding:9px 0px;
}

#mgt #search-button a:hover{
	color: #F28705;
	font-weight: bold;
}
/*
#container #content-left .guides .latest-left li,
#container #content-left .guides .latest-right li {
	line-height: 130%;
	margin-bottom: 5px;
}
*/
/* content-right */
#container #content #content-right {
	width: 299px;
	float: right;
	font-size: 11px;
	line-height: 130%;
}

#content-right .mb10 a {
	text-decoration: none;
}

#content-right .mb10 a:hover {
	text-decoration: underline;
}

#container #content .right-box {
	border: 1px solid #d5d5d5;
	margin-bottom: 10px;
}

#container #content .right-box-inner {
	padding: 10px;
}

#container #content-right h3 {
	background-image: url("/assets/images/h3_bg.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 5px 0 5px 10px;
	border-bottom: 3px solid #272727;
	font-size: 14px;
	font-weight: bold;
}

#container #content-right .testimonials-left {
	width: 110px;
	float: left;
}

#container #content-right .testimonials-right {
	width: 150px;
	float: left;
	background-image: url("/assets/images/testimonials_bg_img.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 11px;
	padding: 10px 0 0 10px;
	line-height: 130%;
}

#container #content-right .best-seller {
	margin-bottom: 10px;
}

#container #content-right .best-seller-left {
	width: 30px;
	float: left;
}

#container #content-right .best-seller-center {
	width: 70px;
	float: left;
}

#container #content-right .best-seller-right {
	width: 170px;
	float: left;
}

#container #content-right .get-answers-q {
	margin-bottom: 5px;
}

#container #content-right .get-answers-q dt {
	width: 30px;
	float: left;
}

#container #content-right .get-answers-q dd {
	width: 240px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

#container #content-right .get-answers-a dt {
	width: 30px;
	float: left;
}

#container #content-right .get-answers-a dd {
	width: 240px;
	float: left;
}

#container #content-right .facebook * {
	border: none;
	overflow: hidden;
	background-color: transparent;
}

.search-box {
	margin-bottom: 20px;
}

.search-makes {
	width: 328px;
	float: left;
	border: 1px solid #cccccc;
}

.search-makes-left {
	width: 135px;
	float: left;
	padding-left: 5px;
}

.search-makes-right {
	width: 160px;
	float: left;
	padding-left: 5px;
}

.search-makes-left li, .search-makes-right li {
	margin-bottom: 5px;
	font-size:11px;
	/*font-weight:bold;*/
}

.search-makes-left img, .search-makes-right img {
	margin-right: 5px;
    vertical-align: middle;
}

.search-makes-left a, .search-makes-right a{
	color: #03c;
}

.search-types {
	width: 308px;
	float: right;
	border: 1px solid #cccccc;
}

.search-types-left {
	padding-left: 5px;
	line-height: 1em;
}

.search-types-left li {
	float: left;
    padding-top: 5px;
	padding-bottom: 8px;
    padding-right: 15px;
    text-align: center;
    font-weight: normal;
}

.search-types-left li.pr0 {
	padding-right: 0;
}

.search-types-left a{
	color: #03c;
}

.search-cars-box {
	padding: 5px 10px;
}


.search-cars-title {
	font-weight: bold;
	border-bottom: 2px solid #f7941d;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 14px;
}
/*
.search-cars-detail p {t;
    float: right;
    font-size: 11px;
    padding-left: 10px;
	padding-right: 15px;
	font-weight: bold;
}

.search-cars-detail .show {
    background-image: url(/images/arrow_more.gif);
    background-position: 0 8px;
    background-repeat: no-repeat;
}

.search-cars-detail .less {
    background-image: url(/images/arrow_less.gif);
    background-position: 0 8px;
    background-repeat: no-repeat;
}
*/
.box-height {
	height: 155px;
	overflow: hidden;
}



/*
**
** for mgt index
**
*/


/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display:inline-block;
	min-height: 1%;
}

#mgt .ad-gallery{
	margin: 0px auto 0;
}

	#mgt .ad-gallery .ad-thumb-list{
		padding:0px;
	}

	#mgt .ad-gallery .ad-thumb-list li{
		padding:0 10px 0 0;
	}

	#mgt .ad-gallery .ad-thumb-list li.ad-thumb-lastchild{
		padding:0 0 0 0px;
	}

	#mgt .ad-gallery .ad-thumb-list li a{
		/* border:solid 1px #dddddd; */
		/* padding:1px; */
	}

	#mgt .ad-gallery .ad-thumb-list .ad-active .ad-thumbs-frame{
		position:absolute;
		height:70px;
		width:128px;
		background-image:url("/assets/images/slider/frame_thumbs.png");
	}

	#mgt .ad-gallery .ad-thumb-list img{
		width:128px;
		height:70px;
		border:none;
	}

	#mgt .ad-gallery .ad-thumb-list a.ad-active{
		/* border:solid 2px #ff9715; */
		padding:0;
	}

	#mgt .ad-gallery .ad-thumb-list a.ad-active img{
	/*
		width:124px;
		height:66px;
	*/
	}

#mgt #warning a:link,
#mgt #warning a:visited,
#mgt #warning a:active,
#mgt #warning a:hover{
	color: #E60000;
}

#mgt #right-side #facebook-area * {
	border: none;
	overflow: hidden;
	background-color: transparent;
}

#mgt #contents .vehicle-list-box h2,
#mgt #contents #top-popular-models h2,
#mgt #contents #top-research-and-reviews h2{
	margin:0 0 32px;
	font-size:16px;
	border-bottom:solid 1px #f1892b;
}

#mgt #contents .vehicle-list-box h2 span,
#mgt #contents #top-popular-models h2 span,
#mgt #contents #top-research-and-reviews h2 span{
	display: inline-block;
	padding: 0 0 3px;
	border-bottom: solid 3px #F1892B;
	font-weight: bold;
}

#mgt #contents .vehicle-list-box h2 a,
#mgt #contents #top-popular-models h2 a,
#mgt #contents #top-research-and-reviews h2 a{
	color:#333;
	text-decoration:none;
}

#mgt #contents .vehicle-list-box h2 a:hover,
#mgt #contents #top-popular-models h2 a:hover,
#mgt #contents #top-research-and-reviews h2 a:hover{
	color:#F1892B;
}

.vehicle-list-box p{
	margin:0;
	font-size:12px;
	line-height:1;
}


.vehicle-list-box h3{
	margin:0 ;
	font-size:12px;
	line-height:1.3;
	font-weight: bold;
}

.vehicle-list-box h3 a:hover{
	color:#F28705;
}

#mgt #contents .top-fob-price{
	color:#4f9801;
	font-weight:bold;
}

#mgt #contents .vehicle-list-box h2 {
	margin: 0 0 10px;
}

#mgt #contents .vehicle-list-box h2 .subtitle {
	color: #00a2e8;
	border-bottom: 0px;
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
	text-decoration: underline;
}

.top-posted-date{
	color:#985601;
	font-weight:bold;
}

#mgt #contents .vehicle-list-box{
	margin: 0;
}

#mgt #contents .vehicle-list-box ul{
	padding:0 0 0 24px;
	clear: both;
	overflow:hidden;
}

#mgt #contents .vehicle-list-box li{
	float:left;
	width:107px;
	padding:0 23px 10px 0;
}

#mgt #contents .vehicle-list-box img{
	width:107px;
	height:79px;
}

.top-seemore{
	text-align:right;
	font-weight:bold;
}

.top-seemore a{
	text-decoration:underline;
}

.top-seemore a:hover{
	color:#F28705;
}

#top-sales-list .campaign{
	color: red;
	border: none!important;
	padding-bottom: 0px;
}

/* 20151109 add */
#mgt #contents  > .ad-gallery +.vehicle-list-box{
	margin:21px 0 0;
}

#mgt #contents .vehicle-list-box .top-seemore{
	font-size: 15px;
	margin-bottom: 15px;
}

/*
* Car Comparison Updates
                       */

#research_reviews_updates {
	margin-bottom:30px;
	overflow:hidden;
}

#research_reviews_updates_comparison {
	float:left;
	width:45%;
}

#research_reviews_updates_wiki {
	float:left;
	width:45%;
	padding-left:24px;
	margin-right:4%;
}