@charset "utf-8";

/* content */
#content {
    width: 960px;
    overflow: hidden;
    padding-left: 20px;
    margin:0 auto;
}

.txt-right{
	text-align:right;
}

/* breadclumb */
#bread {
    margin-bottom: 10px;
    overflow: hidden;
}

#bread li {
    float: left;
    padding-right: 5px;
}

#bread li a {
    margin-right: 5px;
}

/* Stocklist */
#list-content h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}

#featured {
    background-color: #f5f5f5;
    color: #000000;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #F1892B;
	border-left: none;
	border-right: none;
}
#featured .left {
    float: left;
    padding-right: 10px;
    width: 290px;
}
#featured .right {
    float: left;
    width: 640px;
}
#featured .right h2 {
    color: #FF7C00;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#featured .right p {
    line-height: 1.5;
}

#list-content .list-form {
    background-color: #ffd991;
    border: 1px solid #f8bb49;
    padding: 10px 10px 0 10px;
    font-size: 11px;
    margin-bottom: 10px;
}

#list-content .list-form td {
    padding-right: 5px;
    padding-bottom: 8px;
}

#list-content .list-form .last-row td {
    vertical-align: top;
    padding-top:0px;
    padding-bottom: 3px;
}

#list-content .list-form .last-row ul {
    padding-top: 2px;
    padding-left: 5px;
}

#list-content .list-form .last-row li {
    padding-right: 15px;
}

#list-content .list-form .last-row .icon-td {
    width: 450px;
}

#list-content .list-form .last-row .icon-td .clearfix-icon{
    clear: both;
}

#list-content .list-form .last-row .from-to,
#list-content .list-form .last-row .keyword {
    padding-top:0;
}

#list-content .pi-expire-timer div {
    display: inline-block;
}
#list-content .pi-expire-timer {
    margin: 0px 9px 4px 9px;
}

#list-content .pi-expire-timer .jst-seconds,
#list-content .pi-expire-timer .jst-minutes,
#list-content .pi-expire-timer .jst-hours {
    font-size: 13pt;
    font-weight: bold;
}

#list-content .pi-expire-timer .second-unit-symbol {
    font-weight: bold;
    font-size: 10pt;
}
#list-content .pi-expire-timer .minute-unit-symbol {
    font-weight: bold;
    font-size: 10pt;
    margin-right: 2px;
}
#list-content .pi-expire-timer .hour-unit-symbol {
    font-weight: bold;
    font-size: 10pt;
    margin-right: 2px;
}

/* stocklist accessories */
#list-content .list-form #accessories{
    overflow:hidden;
    padding:4px 0 0;
}

#list-content .list-form #accessories table{
    border-spacing:0;
    width:100%;
}

#list-content .list-form #accessories tr{
    background:#ffe5b5;
}

#list-content .list-form #accessories td{
    width:140px;
    vertical-align: top;
    list-style-type: none;
    padding: 5px 0 4px;
    font-size: 12px;
    font-family: arial;
    line-height: 1;
}

#list-content .list-form #accessories .last_td{
    width:60px;
}

#list-content .list-form #accessories label{
    vertical-align: bottom;
}

#list-content .list-form #accessories input{
    margin: 0 8px 0 5px;
}

#accessories_trigger{
    width:145px;
    display: inline-block;
    margin:4px 0 0;
    padding:2px 0px 2px 5px;
    color:#a94900;
    font-size:12px;
    font-family:arial;
    font-weight:bold;
    line-height:1;
    background:url("/assets/images/stocklist/accessories_trigger_icon_open.gif") no-repeat right center;
}

#accessories_trigger a{
    color:#a94900;
}

#accessories_trigger a:hover{
    color:#a94900;
}

#list-content .list-form table td select {
    width: 192px;
}

#list-content .list-form table td.from-to select {
    width: 85px;
}

#list-content .list-form table td.from-to input {
    width: 80px;
    text-align: right;
}

#list-content .list-form table td.pr15 {
    padding-right: 22px;
}

*html #list-content .list-form table td.pr15 {
    padding-right: 15px;
}

/*
#list-content .list-form table td ul {
	padding-right: 59px;
}
*/

*+html #list-content .list-form table td ul {
    padding-bottom: 2px;
}

*html #list-content .list-form table td ul {
    padding-bottom: 2px;
}

*html #list-content .list-form table td .ml10 {
    margin-left: 7px;
}

*+html #list-content .list-form table td .ml10 {
    margin-left: 7px;
}

#list-content .list-form table input {
    padding-right: 1px;
    padding: 3px 2px;
    vertical-align: middle;
}

#list-content .list-form table input.labelHighlight {
    color: #666;
}

#list-content .list-form table .keyword input {
    width: 185px;
    height:15px;
}

#list-content .list-form table td ul.pr0 {
    padding-right: 0;
}

#list-content .list-form table td ul li {
    float: left;
    margin-right: 5px;
}

#list-content .list-form table td ul li img,
#list-content .list-form table td ul li input {
    vertical-align: middle;
    padding: 0;
}

*html #list-content .list-form table td li input{
    margin-top: -4px;
}

#list-content .results{
    display: table;
    width: 100%;
}

#list-content .results:after{
    content: "";
    display: block;
    clear: both;
}

#list-content .results-top{
    margin: 0 0 10px;
}

#list-content .results-bottom{
    margin: 20px 0 0;
}

#list-content .results-hits{
    display: table-cell;
    font-size: 23px;
    font-weight: bold;
    vertical-align: middle;
    white-space: nowrap;
}

#list-content .results-top .results-pagination{
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
}

#list-content .results-pagination ul{
    line-height: 1;
    text-align: center;
}

#list-content .results-pagination li{
    display: inline-block;
}

#list-content .results-pagination li a{
    display: inline-block;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

#list-content .results-top .results-controllers{
    display: table-cell;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;
}

#list-content .results-controllers .control-name{
    display: inline-block;
    padding: 4px 2px;
    color: #777;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

#list-content .results-items{
    text-align: right;
}

#list-content .results-items .control-name{
    vertical-align: top;
}

#list-content .results-items ul{
    vertical-align: middle;
}

#list-content .results-items ul,
#list-content .results-items li{
    display: inline-block;
}

#list-content .results-items li a{
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
}

#list-content .results .active,
#list-content .results .selected a{
    color: #F1892B;
}

#list-content .results .pagination-prev{
    padding-right: 10px;
    padding-left: 20px;
    background: url("/assets/images/stocklist-pagination-prev.gif") center left no-repeat;
}

#list-content .results .pagination-next{
    padding-right: 20px;
    padding-left: 10px;
    background: url("/assets/images/stocklist-pagination-next.gif") center right no-repeat;
}

#list-content .results-sort{
    text-align: right;
}

#list-content .results-sort select{
    width: 140px;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
}

#list-content .cars-box {
    border: 1px solid #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#list-content .cars-box table {
    width: 959px;
}

#list-content .cars-box th {
    background-color: #ffd991;
    padding: 5px 0;
    text-align: center;
}

#list-content .cars-box th a {
    color: #000;
    text-decoration: underline;
}

#list-content .cars-box th a:hover {
    color: #000;
    text-decoration: none;
}

#list-content .cars-box td {
    vertical-align: middle;
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
    line-height: 1.0;
    color: #333;
}
#list-content .cars-box th,
#list-content .cars-box td{
    border-right: solid 1px #c8c8c8;
}
#list-content .cars-box th:first-child,
#list-content .cars-box th:last-child,
#list-content .cars-box td:first-child,
#list-content .cars-box td:last-child{
    border:none;
}

#list-content .cars-box td a {
    text-decoration: none;
}

#list-content .cars-box td a:hover {
    /*text-decoration: underline;*/
}

#list-content .cars-box td p {
    text-align: center;
    margin-bottom: 3px;
}

#list-content .cars-box td .none-search-result-area{
    text-align: center;
    font-size: 14px;
}
#list-content .cars-box td .none-search-result-area p{
    padding: 5px 0;
}

#list-content .cars-box td .none-search-result-area p:first-child{
    padding-top: 10px;
}

#list-content .cars-cash {
    margin-bottom: 5px;
    text-align: center;
}

#list-content .cars-cash .cars-cash-left {
    width: auto;
    float: none;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
}

#list-content .cars-cash .cars-cash-right {
    width: 90px;
    padding-right: 5px;
    float: right;
}

#list-content .cars-cash .cars-cash-left p,
#list-content .cars-cash .cars-cash-right p {
    margin-bottom: 0;
    word-wrap: break-word;
}

#list-content .cars-box td .img-border {
    border: 1px solid #e5e5e5;
}

#list-content .cars-box th img {
    vertical-align: middle;
}

#list-content .cars-box .vertical-bottom {
    vertical-align: bottom;
}

#list-content .cars-box .vertical-top {
    vertical-align: top;
    padding:0;
    padding-bottom: 10px;
}

#list-content .bg-f3 {
    background-color: #f3f3f3;
}

/* stocklist 2012-03-22 */
.calculator {
    padding: 10px 10px 7px 10px;
    border: 1px solid #1783b8;
    line-height: 100%;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #f3fbff;
}

.calculator td {
    vertical-align: top;
}

.calculator td.v-top {
    vertical-align: top;
}

.calculator td table td {
    padding-right: 10px;
    padding-bottom: 10px;
}

.calculator td input {
    padding: 0;
    vertical-align: middle;
    margin-right: 3px;
}

.calculator td table td.pb7 {
    padding-bottom: 5px;
}

.calculator td table td.pr0 {
    padding-right: 0;
}

.calculator .calculator-title {
    background-image: url("/assets/images/icon/gnome-calculator.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #1080b6;
    font-size: 16px;
    font-weight: bold;
}

.calculator .calculator-title span {
    font-size: 11px;
    color: #939393;
    padding-left: 2px;
    font-weight: bold;
}

.calculator .fixedTip {
    padding:0px;
}

a.button-calculate {
    color: #fff;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
    display: inline-block;
    text-transform:uppercase;
    text-shadow: 1px 1px 0 #333;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #1a99d5;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#1a99d5),to(#1a99d5));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#1a99d5),to(#1a99d5));
    border: solid 1px #096fa0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
}

a.button-calculate:hover {
    color: #fff;
    border-color: #096fa0;
    background: #3eb5ed;
    text-decoration: none;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button-calculate {
    background: #1a99d5;
}

a.button-calculate-inner, a.button-calculate-inner:hover, a.button-calculate-inner:active {
    background-image: url("/assets/images/icon/calculator.png");
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}

a.button-url {
    color: #fff;
    font: bold 13px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 20px;
    position: relative;
    display: inline-block;
    text-transform:uppercase;
    text-shadow: 1px 1px 0 #333;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #8c8c8c;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#8c8c8c),to(#8c8c8c));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#8c8c8c),to(#8c8c8c));
    border: solid 1px #424242;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
}

a.button-url:hover {
    color: #fff;
    border-color: #424242;
    background: #adadad;
    text-decoration: none;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button-url {
    background: #8c8c8c;
}

a.button-url-inner, a.button-url-inner:hover, a.button-url-inner:active {
    background-image: url("/assets/images/icon/page_copy.png");
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.font-normal {
    font-weight: normal;
}

#mgt table .reset-bt {
    font-size: 12px;
    padding: 5px 40px;
    margin-right: 0;
}

#container .print-bt {
    font-size: 13px;
    padding-right: 40px;
    padding-left: 47px;
}

#container .totla-box {
    width: auto;
    height: auto;
    float: none;
    margin-bottom: 10px;
}

.total-price-box {
    border-top: 1px solid #b2d6e7;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.total-price-box li {
    display: inline;
    margin-right: 5px;
}

.specs-left {
    width: 480px;
    float: left;
}

#mgt .tabs li.mr0 {
    padding-right: 0;
}

.dest-box th {
    text-align: left;
    vertical-align: top;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 90px;
    font-size: 10px;
    font-family: Arial,sans-serif;
    display: block;
}

.dest-box td {
    font-size: 11px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 5px;
}

a.tip {
    color: #3a87ad;
    font: 11px Arial, sans-serif;
    text-decoration: none;
    padding: 5px 7px;
    position: relative;
    display: inline-block;
    transition: border-color .218s;
    background: #d9edf7;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#d9edf7),to(#d9edf7));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#d9edf7),to(#d9edf7));
    border: solid 1px #bce8f1;
    border-radius: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 110%
}

a.information-collect {
    color: #3a87ad;
    font: 11px Arial, sans-serif;
    text-decoration: none;
    padding: 5px 7px;
	margin: 0 50px 10px 50px;
    position: relative;
    display: inline-block;
    transition: border-color .218s;
    background: #d9edf7;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#d9edf7),to(#d9edf7));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#d9edf7),to(#d9edf7));
    border: solid 1px #bce8f1;
    border-radius: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 110%
}

a.button-order-now-blue {
    color: #fff;
    font: bold 19px Arial, sans-serif;
    text-decoration: none;
    padding: 8px 40px;
    position: relative;
    display: inline-block;
    text-transform:uppercase;
    text-shadow: 1px 1px 0 #333;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#3366cc),to(#3366cc));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#3366cc),to(#3366cc));
    border: solid 1px #364780;
    border-radius: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

a.button-order-now-blue:hover {
    color: #fff;
    border-color: #364780;
    background: #4677d8;
    text-decoration: none;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button-order-now-blue {
    background: #3366cc;
}
/*
a.button-order-now-blue-inner, a.button-order-now-blue-inner:hover, a.button-order-now-blue-inner:active {
    background-image: url(/images/icon/order.png);
    background-position: 20px 50%;
    background-repeat: no-repeat;
    padding-left: 55px;
}
*/

a.button-order-now-orange {
    color: #fff;
    font: bold 19px Arial, sans-serif;
    text-decoration: none;
    padding: 8px 30px;
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 0 #333;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#ff7200),to(#ff7200));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#ff7200),to(#ff7200));
    border: solid 1px #aa160e;
    border-radius: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

a.button-order-now-orange:hover {
    color: #fff;
    border-color: #aa160e;
    background: #fb8322;
    text-decoration: none;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button-order-now-orange {
    background: #ff7200;
}

a.button-order-now-orange-inner, a.button-order-now-orange-inner:hover, a.button-order-now-orange-inner:active {
    background-image: url("/assets/images/icon/order_now.png");
    background-position: 20px 50%;
    background-repeat: no-repeat;
    padding-left: 55px;
}

/*************************************/
button.button-order-now-orange {
    color: #fff;
    font: bold 32px Arial, sans-serif;
    text-decoration: none;
    min-width: 250px;
    height: 68px;
    padding: 8px 30px;
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
	background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));
	background: linear-gradient(to bottom, #faa51a, #f47a20);
	background-color:#ff8300;
    border: solid 1px #d98405;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

button.button-order-now-orange:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: linear-gradient(to bottom, #f88e11, #f06015);
	background-color:#f88e11;
    text-decoration: none;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

button.button-order-now-orange-inner{
	background: url("/assets/images/icon/icon_inquiry.png") 20px 50% no-repeat,-webkit-gradient(linear, 0 0, 0 100%, from(#faa51a), to(#f47a20));
	background: url("/assets/images/icon/icon_inquiry.png") 20px 50% no-repeat,linear-gradient(#faa51a, #f47a20);
	background-color:#ff8300;
	padding-left:60px;
}

button.button-order-now-orange-inner:hover, button.button-order-now-orange-inner:active {
	background: url("/assets/images/icon/icon_inquiry.png") 20px 50% no-repeat,-webkit-gradient(linear, 0 100%, 0 0, from(#f88e11), to(#f06015));
	background: url("/assets/images/icon/icon_inquiry.png") 20px 50% no-repeat,linear-gradient(#f88e11, #f06015);;
	background-color:#f88e11;
	padding-left:60px;
}

button.button-order-now-orange[disabled] {
    opacity: 0.5;
}


/******************************/

.px10 {
    font-size: 10px;
}

.specs-right {
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-bottom: 10px;

}

.more-cars {
    background-image: url("/assets/images/stocklist/more_cars_bg.gif");
    background-repeat: repeat-x;
    background-position: 0 0;
    height: 22px;
    font-weight: bold;
    padding: 5px 0 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.thumb-icon {
    background-image: url("/assets/images/stocklist/thumb-icon.gif");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 15px;
    height: 16px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

.more-cars-box .blue{
	margin:0 0 9px;
}

.more-cars-box {
	width: 140px;
	padding: 10px 10px 4px;
	margin: 0 auto;
	font-family: Arial;
	line-height: 110%;
	float: left;
}
.more-cars-box p {
    margin-bottom: 3px;
}
.more-cars-box p:last-child{
	margin-bottom: 0;
}
.list-search-center{
	padding-top: 10px;
}

.list-search-center .tip{
	margin-top: 33px;
}

.list-search-center #mcc_target{
	height: 200px;
	min-height: 200px;
	margin: 0 0 16px;
	position: relative;
}
.list-search-center .loading-img{
	position:absolute;
	top:40px;
	left:50%;
	margin:0 0 0 -50px;
}


/*------------------------------------
thank you
 ------------------------------------*/
.thank-you-area#thanks_msg{
	border: none;
}
.thank-you .in-thank-you-wrap {
	padding: 10px 40px 40px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #f2f2f2;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #f2f2f2;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #f2f2f2;
}
#mgt .thank-you .headline{
	height: 29px;
	background: transparent url("/assets/images/inquiry_head_bg.jpg") repeat-x scroll 0 0;
	font-size: 12px;
	padding: 8px 0px 0px 10px;
	text-transform: none;
}
#mgt .thank-you .headline .jqmClose{
	float: right;
	padding: 0px 5px 0px;
	margin-top: -2px;
}
.thank-you .in-thank-you-wrap h2 {
	color: #008000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.thank-you .in-thank-you-wrap .thankyou-image {
	margin: 30px 0 0;
	text-align: center;
}
.thank-you .in-thank-you-wrap .description {
	margin: 20px 0 0;
	color: #505050;
	font-size: 15px;
	line-height: 1.5;
}
.thank-you .in-thank-you-wrap .link-area {
	margin: 30px 0 0;
	text-align: center;
}
.thank-you .in-thank-you-wrap .description strong {
	font-weight: bold;
}
.thank-you .in-thank-you-wrap .button-orange{
	font: bold 26px Arial, sans-serif;
	line-height: 26px;
	min-width: 250px;
	padding: 8px 0px;
	background: -webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));
	background: linear-gradient(to bottom, #faa51a, #f47a20);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}
.thank-you .in-thank-you-wrap .button-orange:hover{
	background: 7px 50% no-repeat,linear-gradient(#f88e11, #f06015);
	background-color: #f88e11;
}

#thanks_msg {
	width:500px;
	display: none;
	position:relative;
	height:auto;
	background:#FFFFFF;
	border:5px solid #ec6d02;
}

#thanks_msg .thanks_inquiry_msg {
	margin : 10px 20px 20px 20px;
}

/* Stocklist 2013-02-14 */

#list-content .underoffer{
    color: #333;
    margin: 0px 9px 4px 9px;
    font-weight: bold;
    font-size: 12px;
    text-align:left;
}
.clear .underoffer{
	text-align:center;
	font-weight:bold;
}
#list-content .can-listed-message{
	margin: 9px 9px 0;
	font-size: 14px;
}
/* Stocklist 2013-12-11 */
.notifyme{
	display:inline-table;
	width: 200px;
}
.notifyme p{
	text-align:center;
	line-height:10px;
}
.cars-box .notifyme-title{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px!important;
	display: table-cell;
	padding: 0;
}

.notifyme-body{
    font-size: 11px;
    font-weight: bold;
}

.notifyme .notifyme-hover{
	padding: 4px;
    display: none;
}

.notifyme:hover .notifyme-hover{
    position: absolute;
    top:-1px;
    left:-1px;
    width :98px;
    display: block;
    z-index: 10000;
    background-color: #1697d8;
    border: solid 1px rgb(243, 104, 11);
    border-radius: 2px;
    border:solid 1px #096fa0;
}

.notifyme-underoffer{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 309px;
    display:table;
    background-color: #1697d8;
    border-radius: 4px;
    text-align: center;
    cursor:pointer;
    position: relative;
    height: 50px;
    margin-bottom: 3px;
    box-shadow:0px 1px 3px 0px #a3a3a3;
    -moz-box-shadow:0px 1px 3px 0px #a3a3a3;
    -webkit-box-shadow:0px 1px 3px 0px #a3a3a3;
}
.notifyme-underoffer p{
	text-align:center;
	line-height:11px;
}
.notifyme-title-underoffer{
    font-size: 16px!important;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}
.notifyme-title-underoffer .bf-btn{
	padding: 20px 30px;
	margin-bottom: 10px;
}

.box-login{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 75px;
    width: 400px;
    margin-left: -200px;
    margin-top: -38px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    background-color: #FFF;
    border: solid 4px #FD970F;
    border-radius: 10px;
    z-index: 10;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.box-login p{
    text-align: center;
}

#list-detail .pi-expire-timer {
    margin: -6px 0 10px 0;
}
#list-detail .pi-expire-timer div {
    display: inline-block;
}
#list-detail .pi-expire-timer .second-unit-symbol {
    font-weight: bold;
    font-size: 13pt;
}
#list-detail .pi-expire-timer .minute-unit-symbol {
    font-weight: bold;
    font-size: 13pt;
    margin-right: 6px;
}
#list-detail .pi-expire-timer .hour-unit-symbol {
    font-weight: bold;
    font-size: 13pt;
    margin-right: 6px;
}

#list-detail .pi-expire-timer .jst-seconds,
#list-detail .pi-expire-timer .jst-minutes,
#list-detail .pi-expire-timer .jst-hours {
    font-size: 18pt;
    font-weight: bold;
}

#list-detail .can-listed-message{
    margin: 29px 0px;
    font-size: 13pt;
}

#list-detail-notifyme{
    text-align:center;
}

#list-detail-notifyme .notifyme {
    margin-top:6px;
}


/* Stocklist Detail */
#list-detail .list-detail-left {
    width: 460px;
    float: left;
}

#list-detail .list-detail-left .photo-click {
    text-align: center;
    margin: 5px 0;
}

#list-detail .list-detail-left .photo-click p {
    background-image: url("/assets/images/stocklist/click_icon.gif");
    background-position: 0 2px;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-weight: bold;
    display: inline-block;
/display: inline;
}
#list-detail #gallery {
    margin-top: 10px;
}

#list-detail #gallery li {
    float: left;
    padding-right: 8px;
    padding-bottom: 3px;
}

#list-detail .list-detail-right {
    width: 480px;
    float: left;
    margin-left: 20px;
}

#list-detail .list-detail-right h1 {
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

#list-detail .list-detail-center{
    clear: both;
}

#list-detail .list-detail-box {
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin: 10px 0;
    width: 290px;
    float: left;
}

#list-detail .list-detail-box .detail-error {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    text-align: center;
    line-height: 30px;
}

#list-detail .list-detail-box .detail-error img {
    margin-left: 10px;
    vertical-align: middle;
}

#list-detail .list-detail-box-underoffer {
    width: 313px;
    float: left;
}

#list-detail .list-detail-box-underoffer p {
    font-size: 13pt;
    margin-bottom: 10px;
}

#list-detail .list-detail-box-underoffer .login-is-text{
	color: #666;
	font-size: 14px;
	padding:4px 15px 0 0;
	display: inline-block;
}

#list-detail .list-detail-box-underoffer .notifyme-title-underoffer{
	margin: 6px 0;
}

#list-detail .list-detail-box-underoffer .detail-error {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    text-align: center;
    line-height: 30px;
}

#list-detail .list-detail-box-underoffer .detail-error img {
    margin-left: 10px;
    vertical-align: middle;
}

#list-detail .detail-icon {
    clear: both;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 16px;
}

#list-detail .detail-icon span{
	font-weight: bold;
}

#list-detail .detail-icon p {
    text-align: left;
}

#list-detail .detail-icon a {
    text-decoration: none;
    font-size: 16px;
}

#list-detail .detail-icon a:hover {
    text-decoration: underline;
}

#list-detail .car-underoffer-info-area .detail-icon{
	padding-top:10px;
	padding-bottom: 6px;
}
#list-detail .car-underoffer-info-area .detail-icon .find-more-text a{
	width: 100%;
	padding: 8px 0 8px 3px;
	border-top: 1px solid #e5e4e2;
	border-bottom: 1px solid #e5e4e2;
	display: inline-block;
}
#list-detail .detail-icon .choose-from-text{
	margin-top: 8px;
	font-size: 16px;
}

#list-detail .detail-icon .fa-chevron-down{
	font-size: 14px;
}

#list-detail .list-detail-box .list-fob {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#list-detail .list-detail-box .list-fob td {
    padding-bottom: 5px;
    padding-right: 10px;
    vertical-align: middle;
}


#list-detail .list-detail-box .pi-vehicle-price td{
	vertical-align: top;
	padding-right: 5px;
}

#list-detail .list-detail-box .pi-vehicle-price tr:first-child td:first-child  {
	font-size: 14px;
}
#list-detail .list-detail-box .pi-vehicle-price .green{
	font-size: 19px;
}

#list-detail .list-detail-box .pi-vehicle-price .line-through,
#list-detail .list-detail-box .pi-vehicle-price .red  {
	text-align: right;
}

#list-detail .list-detail-box .pi-vehicle-price .ip-usd-price,
#list-detail .list-detail-box .pi-vehicle-price .ip-jpy-price{
	float: right;
	font-weight: bold;
}

#list-detail .print {
    width: 168px;
    float: right;
    padding-top: 10px;
}

#list-detail .print-right p{
    text-align:center;
}

#list-detail .specification {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    line-height: normal;
}

#list-detail .specification th {
    width: 70px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding: 5px;
    border-right: 1px dotted #999999;
    border-bottom: 1px dotted #b4b4b4;
    font-family: Arial, Helvetica, sans-serif;
}

#list-detail .specification td {
    padding: 5px;
    font-size: 11px;
    border-bottom: 1px dotted #b4b4b4;
}

#list-detail .specification tr:not(:last-child) td {
    border-right:dotted 1px #bfbfbf;
}

#list-detail .specification .gray {
    background-color: #f2f2f2;
    color: #000;
}

.gold {
    background-color: #FFD700;
    color: #000;
}

#list-detail .list-title {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
}

#list-detail .list-inner {
    margin-bottom: 10px;
}

#list-detail .list-inner dt {
    width: 60px;
    text-align: left;
    float: none;
    font-weight: bold;
    color: #e66c00;
    clear:both;
    font-size: 11px;
}

#list-detail .list-inner dl {
    padding-bottom:25px;
}

#list-detail .inquiry {
    padding: 7px;
}

#list-detail .inquiry .inquiry-left {
    color: #858585;
    font-weight: bold;
}

#list-detail .inquiry .inquiry-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

#list-detail .inquiry dt {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#list-detail .inquiry dd {
    margin-bottom: 10px;
}

#list-detail .inquiry dd img {
    vertical-align: middle;
    margin-left: 5px;
}

#list-detail .inquiry dd input {
    width: 205px;
}

#list-detail .inquiry dd select {
    width: 220px;
}

#list-detail .inquiry form p {
    color: #858585;
    font-size: 11px;
}

/* tabs */
/* tabs style */
#mgt #spec {
    width: auto;
    float: left;
    border: 1px solid #e1e1e1;
}

#mgt #inquiry {
    margin-left: 0;
    width: auto;
    float: none;
    border: 1px solid #E1E1E1;
}

#mgt #popup_window #inquiry{
    margin-left: 0px;
}

#mgt .box{
    border: 1px solid #e1e1e1;
    /*border-top: 2px solid #60ae0d;*/
    padding: 5px;
    margin-bottom: 20px;
}

#mgt .boxes {
    border-top: 2px solid #60ae0d;
}

#container .border-orange {
    border-top: 2px solid #ff7200;
}

#container .border-blue {
    border-top: 2px solid #3366cc;
}

#container .border-green {
    border-top: 2px solid #008000;
}

*html #container .box{
    margin-top: -1px;
}

#mgt .tabs {
    /* border-bottom: 1px solid #e1e1e1; */
    overflow: hidden;
}

*html #container .specs-left .tabs {
    border-bottom: none;
    padding-bottom: 1px;
}

#mgt .headline{
    background-image: url("/assets/images/stocklist/more_cars_bg.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 10px;
    display: block;
    border-bottom: none;
    padding: 5px 1px 9px 5px;
    line-height: 100%;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
}
#mgt .tabs li {
    background-image: url("/assets/images/stocklist/list_bg.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    width: 131px;
    height: 10px;
    display: block;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    padding: 5px 1px 9px 1px;
    line-height: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-right: 11px;
    margin-bottom: -1px;
    cursor: pointer;
}

#mgt .tabs li.mr0 {
    margin-right: 0;
}

*html #mgt .tabs li {
    padding-bottom: 5px;
    margin-bottom: -3px;
}

#mgt .tabs li a {
    color: #000;
    text-decoration: none;
}

#mgt .tabs li.order-orange,
#mgt .headline.order-orange {
    background-image: url("/assets/images/stocklist/order_orange.gif");
}

#mgt .tabs li.order-blue,
#mgt .headline.order-blue  {
    background-image: url("/assets/images/stocklist/order_blue.gif");
}

#mgt .tabs li.iq a,
#mgt .headline.iq a {
    padding-left: 20px;
    color: #000;
    text-decoration: none;
    background-image: url("/assets/images/stocklist/mail-icon.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
}

#mgt .headline.iq.active-hover a,
#mgt .headline.iq.active a,
#mgt .tabs li.active-hover a,
#mgt .tabs li.active a {
    background-image: url("/assets/images/stocklist/mail-icon.png");
    background-position: 0 3px;
    background-repeat: no-repeat;
    border-bottom: none;
    margin-bottom: -1px;
    color: #FFF;
}

#container #list-detail .tabs .sc a {
    background-image: none;
}
#mgt .headline.active,
#mgt .headline.active-hover,
#mgt .tabs li.active,
#mgt .tabs li.active-hover{
    background-position: 0 -25px;
    border-bottom: none;
}

/* Stocklist Detail button */
a.print-inner, a.print-inner:hover, a.print-inner:active {
    background-image: url("/assets/images/stocklist/print-icon.png");
    background-position: 46px 5px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px 44px 5px 66px;
    background-color: #F2F2F2;
    border: 1px solid #B5B5B5;
    color: #6E6E6E;
    text-decoration: none;
    text-shadow: none;
}

a.print-inner:hover {
    background-image: url("/assets/images/stocklist/print-icon.png");
    background-position: 46px 5px;
    background-repeat: no-repeat;
    background-color: #E6E6E6;
    color: #6E6E6E;
    border: 1px solid #B5B5B5;
}

a.inquiry-inner, a.inquiry-inner:hover, a.inquiry-inner:active {
    background-image: url("/assets/images/stocklist/mail-icon.png");
    background-position: 20px 7px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

a.inquiry-inner {
    background-color: #60ae0d;
}

#productionym_window {
    position: absolute;
    width: 340px;
    height: 212px;
    background-color: #FFF;
    border: 5px solid #EC6D02;
    display: none;
}


#productionym_window .title{
    height: 20px;
    font-weight: bold;
    padding: 3px;
    background: transparent url("/assets/images/inquiry_head_bg.jpg") repeat-x scroll 0 0;
    font-size: 12px;
}

#productionym_window #productionym_target{
    padding:12px;
}

/* Quotation Board */
#list-content #tab{
    text-align: center;
    overflow: hidden;
}

#list-content #tab li{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2514px;
    width: 485px;
    float: left;
    line-height: 26px;
    /* font-weight: bold; */
    list-style: none;
    cursor: pointer;
    position: relative;
}
#list-content #tab li.right{
    margin-left: -10px;
}

#list-content #tab li:hover{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2488px;
    font-weight: bold;
}

#list-content #tab li.select{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2488px;
    font-weight: bold;
    z-index: 2;
}
#list-content #tab li:hover span,
#list-content #tab li.select span{
    font-weight: bold;
}
#list-content #tab-inner{
    text-align:center;
    overflow: hidden;
    margin-top:5px;
}

#list-content #tab-inner li{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2560px;;
    width: 240px;
    float: left;
    line-height: 20px;
    /* font-weight: bold; */
    list-style: none;
    cursor: pointer;
    margin-left: 5px;
}

#list-content #tab-inner li:hover{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2540px;
    color: #fff;
    font-weight: bold;
}
#list-content #tab-inner li.select{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2540px;
    color: #fff;
    font-weight: bold;
}

#list-content .qb-results{
    overflow: hidden;
}

#list-content .qb-results .qb-results-hits{
    float: left;
    width: 120px;
    padding-top: 3px;
    font-weight: bold;
}

#list-content .qb-results .qb-results-right{
    float: right;
    padding-top: 3px;
    font-weight: bold;
}
#price_year,
#price_mileage,
#year_mileage{
    width: 100%;
    text-align: center;
}

#price_year a,
#price_mileage a,
#year_mileage a{
    /*
    color: #57a2d2;
    text-decoration: underline;
    */
}

#price_year a:hover,
#price_mileage a:hover,
#year_mileage a:hover{
    /*color: #57a2d2;*/
    font-weight: bold;
}

#list-content .content_wrap2 table,
#list-content .content_wrap2 td,
#list-content .content_wrap2 th{
    border-color: #ddd;
    table-layout: fixed;
}

#list-content .content_wrap2 td a{
    display: block;
}

#list-content .content_wrap2 td a:hover{
}

#market_target .content_wrap2{
    width: 960px;
}

#nearest_port_city_status{
    color: #ff0000;
    font-weight: bold;
    margin: -5px 0 10px 10px;
}

#list-center {
	width:480px;
	margin: 20px auto;
}

#list-center .inquiry {
    padding: 0px 7px 0px 7px;
}

#list-center .inquiry-order{
    padding: 0px 7px 0px 7px;
}

#list-center .inquiry .inquiry-left {
    color: #858585;
    font-weight: bold;
}

#list-center .inquiry .inquiry-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

#list-center .inquiry dt {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#list-center.inquiry dd {
    margin-bottom: 10px;
}

#list-center .inquiry dd img {
    vertical-align: middle;
    margin-left: 5px;
}

#list-center .inquiry dd input {
    width: 205px;
}

#list-center .inquiry dd select {
    width: 220px;
}

#list-center .inquiry form p {
    color: #858585;
    font-size: 11px;
}

#list-center #country_info{
	padding: 0 10px;
}

#list-center .fixedTip img{
	vertical-align: top;
	}

#list-center .local-service  .fixedTip img,
#list-center .step1-area-left .fixedTip img{
	vertical-align: bottom;
	margin-left: 3px;
}

#list-center .quote-table-russian .fixedTip img{
	margin-left: 3px;
}

#list-center .step1-add-area .fixedTip img{
	margin-left: 5px;
	vertical-align: baseline;
}

#list-center .promotion-step2 .fixedTip img{
	width: 15px;
}

.stocklist-vt-box #nearest_port_city_status{
	/*margin: -30px 0 0 85px*/
	position: relative;
	left: 70px;
	top: -2px;
}

/* Finance */
.seemore-area a{
	padding-top: 5px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
.seemore-area .up-right,
.seemore-area .down-right{
	float:right!important;
	width: 300px!important;
	text-align: right;
	padding-right:15px;
	height:65px;
}

.seemore-area .up-left,
.seemore-area .down-left{
	float: none!important;
	width: 945px!important;

}
.seemore-area .up-left b,
.seemore-area .down-left b{
	padding-top:7px;
	display: inline-block;
}
.seemore-area .down-right{
	padding-top:50px;
}
#featured .up-left h2 {
	color: #FF7C00;
	font-size: 24px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
article {
	max-height:25px; /* seemore height */
	clear:both;
}


/* 201612 mypage sale */
.mypage_sale{
	position:relative;
}
.mypage_code{
	position: absolute;
	bottom: 23px;
	left: 340px;
	right: 0;
	text-align: center;
	color:#fff;
	font-size: 32px;
	line-height: 1;
	width: 310px;
	height: 30px;
}


