@media screen and (max-width:9999px){
	#mgt #body-wrap{
		width:1590px;
	}

	#mgt #body-wrap #contents{
		width:1070px;
	}
	#mgt .search-keyword-input{
		width:794px;
	}
}


@media screen and (max-width:1760px){
	#mgt #body-wrap{
		width:1460px;
	}

	#mgt #body-wrap #contents{
		width:940px;
	}
	#mgt .search-keyword-input{
		width:664px;
	}

	#mgt #contents .item7{
		display:none;
	}
}



@media screen and (max-width:1530px){
	#mgt #body-wrap{
		width:1330px;
	}
	#mgt .search-keyword-input{
		width:534px;
	}
	.search-keyword-headline {
	display: inline-block;
	width: 185px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	}
	#mgt #body-wrap #contents{
		width:810px;
	}


	#mgt #contents .item6,
	#mgt #contents .item7{
		display:none;
	}
}


@media screen and (max-width:1400px){
	#mgt #body-wrap{
		width:1200px;
	}

	#mgt #body-wrap #contents{
		width:680px;
	}
#mgt .search-keyword-input{
		width:434px;
		white-space: nowrap;4
		overflow: hidden;5
		text-overflow: ellipsis;
	}

	.search-keyword-button {
	float: right;
	width: 30px;
	height: 30px;
	padding: 0 0 0 16px;
	line-height: 36px;
	color: #fff;
	font-size: 13px;
	background: #F1892B url("../images/stocklist/icon_search.png") no-repeat 17px 7px;
	border: none;
	}
	.search-keyword-button:hover {
	background: #FF9C42 url("../images/stocklist/icon_search.png") no-repeat 17px 7px;
	cursor: pointer;
	}
	.search-keyword-headline {
	display: inline-block;
	width: 175px;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	}
	.search-mode-and {
	width: 90px;
	line-height: 30px;
	margin-right: 7px;
	}
	.search-mode-area {
	background: #FFE8D4;
	float: right;
	padding: 0 5px;
	color: #F1892B;
	font-weight: bold;
	}

	#mgt #contents .item5,
	#mgt #contents .item6,
	#mgt #contents .item7{
		display:none;
	}
}
