@charset "utf-8";



.popuploading {
  position:absolute;
  top:50%;
  left:50%;
}

.popup_close{
 float:right;
 padding-right:8px;
}

.popup_div .promotion-code-area{
	text-align: center;
	line-height: 15px;
	margin: 12px auto 24px;
}

.popup_div .promotion-code-block{
	display:inline-block;
	text-align: left;
	margin: 0 auto 0 auto;
}

.popup_div .promotion-code-block input{
	display:inline;
	width:180px;
	margin-bottom: 8px;
}

.popup_div .promotion-code-block h3{
	display:inline;
	margin:0 12px 0 0;
	font-weight:bold;
}
.popup_div .promotion-code-block .promotion-code-description{
	text-align: left;
}

.popup_div .promotion-code-block .promotion-code-description p{
	font-size: 13px;
	font-weight: bold;
	line-height: 150%;
	margin-bottom: 10px;
}
.popup_div .promotion-code-block .promotion-code-description p:last-child{
	margin-bottom: 0;
}
.popup_div .promotion-code-block .promotion-code-description p span {
    font-weight: bold;
}
.popup_div .promotion-code-block .promotion-code-description p .text-red{
	color: red;
}
.popup_div .promotion-code-block .comparision-area {
    display: none;
}
