@charset "utf-8";

/*--------------------------------------------
search
--------------------------------------------*/

/* TOP search */
.search-keyword-area{
	margin: 0 0 12px;
	/*padding:0 0 0 8px;*/
	border:solid  #F1892B 1px;
	display: table;
}

.search-keyword-headline{
	display: inline-block;
	width: 200px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	background: #F1892B;
	vertical-align: top;
	line-height: 30px;
	height: 30px;
	padding: 0 0 0 12px;
}

#mgt .search-keyword-input{
	width: 780px;
	height: 30px;
	padding: 0 0 0 4px;
	font-size:12px;
	border:none;
	background:#fefefe;
}

#mgt .search-keyword-input-stocklist {
	width: 684px;
	height: 30px;
	padding: 0 0 0 4px;
	font-size:12px;
	border:none;
	background:#fefefe;
}



@media all and (-ms-high-contrast:none){
	#mgt .search-keyword-input-stocklist {
		width: 684px;
	}
}


.search-keyword-button{
	/*float: right;*/
	display: table-cell;
	width:60px;
	/*height:30px;*/
	padding:0 0 0 16px;
	line-height:36px;
	color:#fff;
	font-size:13px;
	background:#F1892B url("/assets/images/stocklist/icon_search.png") no-repeat center 7px;
	border:none;
}

.search-keyword-button:hover{
	background:#FF9C42 url("/assets/images/stocklist/icon_search.png") no-repeat center 7px;
	cursor:pointer;
}

.search-mode-area{
	background: #FFE8D4;
	float: right;
	padding:0 15px;
	color: #F1892B;
	font-weight:bold;
}
.search-mode-area input{
	vertical-align:middle;
}
.search-mode-and{
	width:90px;
	line-height: 30px;
	margin-right:7px;
}
.search-mode-or{
}
.search-mode-and input, .search-mode-or input {
    margin: -3px 3px 0 0;
}

#contents .search-keyword-menu,
#content .search-keyword-menu{
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
	width: 193px;
}

#contents .search-keyword-menu select,
#content .search-keyword-menu select{
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: #F1892B url("/assets/images/stocklist/icon_downarrow.png") no-repeat;
	background-position: 174px,0;
	background-position-x: 174px;
	background-position-y: 4px;
	padding-left: 5px;
	width: 112%;
}

.search-keyword-menu option{
  border: 1px solid #F1892B;
  color: #fff;
  border:none;
}

/* safari のみ使用 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .contents-block {
    position: static;
  }
}


.search-keyword-menu input{
	vertical-align: middle;
	display: table-cell;
}
#contents .search-keyword-menu select::-ms-expand,
#content .search-keyword-menu select::-ms-expand {
	display: none;
}

/* search-keyword-menu  */
.search-keyword-menu ul{
  margin:0;
  padding:0;
}
.search-keyword-menu ul li {
  list-style: none;
  margin:0;
  padding-left:10px;
  font-size:14px;
  float: left;
  position: relative;
  width: 191px;
  height: 30px;
  line-height: 30px;
  background:#F1892B;
  color: #fff;
  text-align:left;
  font-weight:bold;
}
.search-keyword-menu ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.search-keyword-menu ul li:hover, .menu ul li a:hover {
  background:#FFAE64;
  color:#fff;
}
.search-keyword-menu ul li img{
	float: right;
	margin: 5px 10px 0 0;
}
.search-keyword-menu ul li ul {
  position: absolute;
  top: 30px;
  left:-1px;
  width: 150px;
  z-index: 100;
}
.search-keyword-menu ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 188px;
  height: 0;
  background:#fff;
  border:2px solid #F1892B;
}
.search-keyword-menu ul li ul li  a{
	color:#F1892B;
}
.search-keyword-menu ul li ul li:hover, .menu ul li ul li a:hover {
  background:#FFE8D4;
  color:#F1892B;
}
.search-keyword-menu ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:30px;
  z-index: 10;
}
.search-keyword-menu * {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*search-keyword-menu -end-*/

/* seo-list */
.seo-list-head {
	font-size: 15px;
	color: #C0C0C0;
	margin: 25px 0px 10px 0px;
}
.seo-list {
	width: 240px;
	height: 100px;
	font-size: 12px;
	float: left;
	list-style-type: none;
	line-height: 1.5;
	font-weight: bold;
}