@charset "utf-8";

/* 印刷用背景画像のプリントを表示設定 */
body {
    -webkit-print-color-adjust: exact;
}
@media print{
.step2-area,
.step3-area {
	display:none;
	}
}

/* for mgt */

body#mgt{
	background:#ffffff;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

#header{
    min-width: 1200px;
    color:#ffffff;
}

#in-header-top-wrap{
    width:100%;
    background:#f1892b;
}

#in-header-top{
    width:1200px;
    margin:0px auto;
    padding:5px 0;
}

#in-header-top:after{
    content:"";
    clear:both;
    display:block;
}

#header-status{
    float:left;
}

#header-status li{
    float:left;
    font-size:12px;
    margin:0 30px 0 0;
}

#header-status li a{
    color: #ffffff;
}

#header-status #ja-time{
    display:inline-block;
    height:17px;
    background:url("/assets/images/mgt_image.png") no-repeat 0px 0px;
    padding-left:25px;
}

#in-header-top h1{
	float:left;
	font-size: 12px;
	margin-left:20px;
}

#header-nav{
    float:right;
}

#header-nav li{
    float:left;
    display:inline-block;
    height:18px;
    margin-right: 5px;
}

#header-nav .lang-hide{
    display:none;
}

#header-nav a{
    display:block;
    color:#ffffff;
}
/*
#sign-in a{
    width:45px;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -27px;
    padding-left:25px;
}

#sign-in a:hover {
    background:url("/assets/images/mgt_image.png") no-repeat 0px -45px;
}

#sign-out a{
    width:53px;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -63px;
    padding-left:25px;
}

#sign-out a:hover {
    background:url("/assets/images/mgt_image.png") no-repeat 0px -81px;
}

#create-your-account a{
    padding:0 7px;
    background: #3296c4;
    border-radius: 3px;
}

#create-your-account a:hover{
    background: #226584;
}

#my-page a{
    padding:0 7px;
    background: #4266DA;
    border-radius: 3px;
}

#my-page a:hover{
    background:#262284;
}
*/
#header-nav #lang-en{
    width:64px;
    text-align:right;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -142px;
}

#header-nav #lang-ru{
    width:69px;
    text-align:right;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -164px;
}

#header-nav #lang-switch{
	margin-left: 20px;
}
#lang-switch .lang-active {
	display: none;
}

#lang-switch .lang-english {
    background:url("/assets/images/icon_language.png") no-repeat 0px -27px;
    padding-left:18px;
}

#lang-switch .lang-russian {
    background:url("/assets/images/icon_language.png") no-repeat 0px -58px;
    padding-left:18px;
}

#lang-switch .lang-french {
    background:url("/assets/images/icon_language.png") no-repeat 0px -89px;
    padding-left:18px;
}

#lang-switch .lang-georgian {
    background:url("/assets/images/icon_language.png") no-repeat 0px -119px;
    padding-left:18px;
}

#lang-switch .lang-portuguese {
    background:url("/assets/images/icon_language.png") no-repeat 0px -151px;
    padding-left:18px;
}

#lang-switch .lang-spanish {
    background:url("/assets/images/icon_language.png") no-repeat 0px -182px;
    padding-left:18px;
}

#lang-switch-wrapper{
    position: relative;
    width: 96px;
    padding: 0 6px;
    padding-right:16px;
    border-radius: 2px;
    background-color: #ededed;
    background-image: url("/assets/images/icon_language.png");
    background-position: 106px 6px;
    background-repeat: no-repeat;
    z-index:100;
}

#lang-switch-wrapper > a{
	color: #000;
	text-decoration:none;
}

#lang-switch-wrapper > a:hover{
	cursor:default;
	text-decoration:none;
}

#lang-switch-area{
	position:absolute;
	top:0px;
	right:0;
}

#lang-switch-menu{
	width: 118px;
	padding: 18px 0 0 0;
	background: transparent;
}

/*
#lang-switch-menu:before{
	content:"";
	height:0px;
	width:0px;
	display:block;
	position:absolute;
	top:20px;
	right:2px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #ededed;
}
*/

#lang-switch-menu li{
	display:block;
	float:none;
	margin:0;
	padding:4px 6px;
	background:#ededed;
	border-top:1px solid #d7d7d7;
}

/*
#lang-switch-menu li:last-child{
	border:none;
}
*/

#lang-switch-menu a{
	display:block;
}

#lang-switch-menu a:link,
#lang-switch-menu a:visited{
	color:#333;
}

#lang-switch-menu a:hover,
#lang-switch-menu a:acive,
#lang-switch-menu a:focus{
	color:#333;
}

	#lang-switch-english a {
		background:url("/assets/images/icon_language.png") no-repeat 0px -27px;
		padding-left:18px;
	}

	#lang-switch-russian a {
		background:url("/assets/images/icon_language.png") no-repeat 0px -58px;
		padding-left:18px;
	}

	#lang-switch-french a {
		background:url("/assets/images/icon_language.png") no-repeat 0px -88px;
		padding-left:18px;
	}

	#lang-switch-georgian a {
		background:url("/assets/images/icon_language.png") no-repeat 0px -118px;
		padding-left:18px;
	}

	#lang-switch-portuguese a {
		background:url("/assets/images/icon_language.png") no-repeat 0px -151px;
		padding-left:18px;
	}

    #lang-switch-spanish a {
        background:url("/assets/images/icon_language.png") no-repeat 0px -182px;
        padding-left:18px;
    }

#in-header-bottom-wrap{
    width:100%;
    height:74px;
    background:#222222;
}

#in-header-bottom{
    width:1200px;
    height:74px;
    margin:0px auto;
    overflow:hidden;
}

#logo{
    float:left;
    width:184px;
}

#logo a{
    display:block;
}

#logo img{
    vertical-align:bottom;
}

#gloval-nav{
    float:right;
    padding:3px 0 0;
    background:#222222;
    border-left:solid 1px #2c2c2c;
    border-right:solid 1px #0d0d0d;
}

#gloval-nav > li{
    float:left;
    width:109px;
    border-left:solid 1px #0d0d0d;
    border-right:solid 1px #2c2c2c;
    text-align:center;
    vertical-align:bottom;
}

#gloval-nav > li > a{
    display:block;
    padding:46px 0 7px;
    font-size:11px;
    cursor:pointer;
}

#gloval-nav a:hover{}

#gloval-nav #gn-browse-stock{
    background:url("/assets/images/mgt_image.png") no-repeat -19px  -192px;
}

#gloval-nav #gn-browse-stock:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -19px  -272px;
}

#gn-be-forward-local-content{ width: 430px; }

#gloval-nav #gn-auto-parts{
    background:url("/assets/images/mgt_image.png") no-repeat -145px -194px;
}

#gloval-nav #gn-auto-parts:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -145px -274px;
}

#gloval-nav #gn-how-to-buy{
    background:url("/assets/images/mgt_image.png") no-repeat -265px -194px;
}

#gloval-nav #gn-how-to-buy:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -265px -274px;
}

#gloval-nav #gn-testimonials{
    background:url("/assets/images/mgt_image.png") no-repeat -375px -194px;
}

#gloval-nav #gn-testimonials:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -375px -274px;
}

#gloval-nav #gn-be-forward-local{
    background:url("/assets/images/mgt_image.png") no-repeat -498px -194px;
}

#gloval-nav #gn-be-forward-local:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -498px -274px;
}

#gloval-nav #gn-help-and-support{
    background:url("/assets/images/mgt_image.png") no-repeat -635px -194px;
}

#gloval-nav #gn-help-and-support:hover{
    background:url("/assets/images/mgt_image.png") no-repeat -635px -275px;
}

#gloval-nav #gn-blog-and-resources{
    background:url("/assets/images/mgt_image.png") no-repeat  -776px -195px;
}

#gloval-nav #gn-blog-and-resources:hover{
    background:url("/assets/images/mgt_image.png") no-repeat  -776px -275px;
}

#gloval-nav #gn-about-be-forward{
    background:url("/assets/images/mgt_image.png") no-repeat  -905px -196px;
}

#gloval-nav #gn-about-be-forward:hover{
    background:url("/assets/images/mgt_image.png") no-repeat  -905px -276px;
}

#gloval-nav #sign-in{
    background:url("/assets/images/mgt_image.png") no-repeat  -1054px -191px;
}

#gloval-nav #sign-in:hover{
    background:url("/assets/images/mgt_image.png") no-repeat  -1054px -271px;
}

#gloval-nav #sign-out{
    background:url("/assets/images/mgt_image.png") no-repeat  -1198px -191px;
}

#gloval-nav #sign-out:hover{
    background:url("/assets/images/mgt_image.png") no-repeat  -1198px -271px;
}


/* in-header-banner-area welocme gift campaign 20160801 add */

#in-header-banner-area{
	width:100%;
	background:url("/assets/images/header_banner/campaign-wlcmgift-banner_bg.png");
	background-position:center;
	background-repeat: no-repeat;
	background-color: #00cf17;
}

@media screen and (min-width: 1900px) {
	#in-header-banner-area{
	background-size: 100% 100%;
	}
}

#in-header-banner{
	position:relative;
	width:1200px;
	height:73px;
	margin:0px auto;
	overflow: hidden;
}

#in-header-banner .cp-code{
	position:absolute;
	top: 23px;
	right: 202px;
	width:330px;
	height:50px;
}
#in-header-banner .cp-code input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	background: transparent;
	color:#fbfb29;
	font-size: 37px;
	font-weight: 700;
	font-style:italic;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	width: 100%;
	cursor: text;
	-moz-transform-origin: left top; /* Firefox */
	-webkit-transform-origin: left top; /* Chrome,Safari */
	-o-transform-origin: left top; /* Opera */
	-ms-transform-origin: left top; /* IE */
	transform-origin: left top; /* CSS3 */
	-moz-transform:    scaleX(.9);  /* Firefox */
	-webkit-transform: scaleX(.9);  /* Chrome,Safari */
	 -o-transform: scaleX(.9);  /* Opera */
	-ms-transform: scaleX(.9);  /* IE */
	transform: scaleX(.9);  /* CSS3 */
}

#in-header-banner.nomodal .cp-code{
	right: 159px;
	width: 353px;
}

#in-header-banner.nomodal .cp-code input{
	font-size: 39px;
}

#in-header-banner .cp-popup-btn{
	position:absolute;
	top: 4px;
	right: 22px;
	width: 160px;
	height: 50px;
	cursor: pointer;
	cursor: hand;
	display:block;
}
#in-header-banner a.cp-popup-btn:hover{
	background: #fff;
	opacity: 0.2;
}

@media all and (-ms-high-contrast: none) {
	#in-header-banner .cp-popup-btn {
		background-color: #000; /* IE10 */
		filter:alpha(opacity=0);
		-moz-opacity:0;
		opacity:0;
	}
}


/* campaign modalwindow */
#shade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:9998;
	background: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	}

.modalwin {
	position: absolute;
	width: 498px;
	height: 600px;
	background-image: url("/assets/images/header_banner/beforward_welcome_gift.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-top: 130px;
	z-index:9999;
}
#modalwin.show {
	display: block;
}
#modalwin.hide {
	display: none;
}
.modalwin-contents {
	overflow: hidden;
	zoom: 1;
}


/* closebtn  */
#modalwin a.modal-close {
	display: block;
	background-image: url("/assets/images/header_banner/close_btn.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 43px;
	height: 43px;
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
	cursor: hand;
}

#modalwin a.view-stocklist{
	position:absolute;
	bottom: 14px;
	left: 148px;
	width:195px;
	height:60px;
}

#modalwin a.view-stocklist:hover{
	background: #fff;
	opacity: 0.2;
}

#modalwin a.pdf-link{
	position:absolute;
	bottom: 113px;
	right: 27px;
	font-style: italic;
	color: #fbfb29;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

#modalwin a.pdf-link:hover{
	color: #ecec2c;
}

#mgt #modalwin input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	background: transparent;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fbfb29;
	cursor: text;
}

/* 長体 */
a.pdf-link,
#mgt #modalwin input{
	-moz-transform-origin: left top; /* Firefox */
	-webkit-transform-origin: left top; /* Chrome,Safari */
	-o-transform-origin: left top; /* Opera */
	-ms-transform-origin: left top; /* IE */
	transform-origin: left top; /* CSS3 */
	-moz-transform:    scaleX(.8);  /* Firefox */
	-webkit-transform: scaleX(.8);  /* Chrome,Safari */
	 -o-transform: scaleX(.8);  /* Opera */
	-ms-transform: scaleX(.8);  /* IE */
	transform: scaleX(.8);  /* CSS3 */
}

#mgt #modalwin input.cp-code2{
	position:absolute;
	top: 184px;
	left: 240px;
	font-size: 27px;
	width: 255px;
}

#mgt #modalwin input.cp-code3{
	position:absolute;
	bottom: 109px;
	left: 78px;
	font-size: 16px;
	width: 160px;
}


/* in-header-banner-area 48hour sale campaign 201601031 add */
#in-header-banner-area{
	width:100%;
	background: #a00000;
}

@media screen and (min-width: 1900px) {
	#in-header-banner-area{
	background-size: 100% 100%;
	}
}

#in-header-banner{
	position:relative;
	width:1200px;
	height:73px;
	margin:0px auto;
	overflow: hidden;
}

#in-header-banner .sale_promotion_code{
	position: absolute;
	top: 33px;
    right: 147px;
    width: 216px;
    height: 50px;
}

#in-header-banner .sale_promotion_code input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	background: transparent;
	color:#fff;
	font-size: 25px;
	font-weight: 700;
	width: 100%;
	cursor: text;
}

#in-header-banner.nobutton .sale_promotion_code{
	right: -5px;
}

#in-header-banner .sale-link-btn{
	position:absolute;
	top: 15px;
    right: 5px;
    width: 130px;
    height: 39px;
    background: #fff;
   box-shadow: 1px 3px 8px 0px #460101;
}

#in-header-banner a.sale-link-btn img:hover{
	opacity: 0.7;
}

#in-header-banner .countnumber{
	position:absolute;
	top: 8px;
	left: 3px;
	width:180px;
	height:50px;
}
#in-header-banner li{
	float:left;
	width:49px;
	height:49px;
	text-align:center;
	color:#ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	margin:0 5.2px;
	overflow: hidden;
}

/* body */

#body-wrap{
    width:1200px;
    margin:0px auto 90px;
    overflow: hidden;
}

#left-side{
    float:left;
    width:200px;
    padding:0 0 20px;
    line-height:1;
    font-family:Verdana, Arial, Helvetica, Geneva, sans-serif;
}

#left-side p{
    padding:8px 0 8px 12px;
    color:#ffffff;
    background:#f1892b;
    font-size: 15px;
    font-weight: bold;
}

/* stocklist left-sidebar  */
.search-left-sidebar {
	padding-top: 10px;
}
.search-left-sidebar #left-side{
	padding-top:30px;
}
/* stocklist left-sidebar end  */

#shop-by-make,
#shop-by-type,
#other-categories,
#shop-by-Price,
#shop-by-Discount{
    margin:0 0 32px;
    padding:0 5px;
}

#vehicles-in-stock{
    padding:0 5px;
}

#shop-by-make li,
#shop-by-type li,
#vehicles-in-stock li,
#other-categories li,
#shop-by-Price li,
#shop-by-Discount li{
    font-size:12px;
}

#shop-by-make li:first-child,
#shop-by-type li:first-child,
#vehicles-in-stock li:first-child,
#other-categories li:first-child,
#shop-by-Price li:first-child,
#shop-by-Discount li:first-child{
    border-top:none;
}

#shop-by-make li:last-child,
#shop-by-type li:last-child,
#vehicles-in-stock li:last-child,
#other-categories li:last-child,
#shop-by-Price li:last-child,
#shop-by-Discount li:last-child{
    border-bottom:none;
}

#shop-by-make a,
#shop-by-type a,
#vehicles-in-stock a,
#other-categories a,
#shop-by-Price a,
#shop-by-Discount a{
    display:block;
    padding:10px 0 10px 50px;
    color:#333;
    cursor:pointer;
}

#other-categories a,
#shop-by-type a{
    padding:14px 0 13px 58px;
}

#shop-by-make a:hover,
#shop-by-type a:hover,
#vehicles-in-stock a:hover,
#other-categories a:hover,
#shop-by-Price a:hover,
#shop-by-Discount a:hover{
    color:#F28705;
}

/* #vehicles-in-stock */
#vehicles-in-stock #vehicles-japan{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px 0px;
}
#vehicles-in-stock #vehicles-korea{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -33px;
}
#vehicles-in-stock #vehicles-uk{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -65px;
}
#vehicles-in-stock #vehicles-usa{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -100px;
}
#vehicles-in-stock #vehicles-france{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -131px;
}
#vehicles-in-stock #vehicles-thailand{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -195px;
}
#vehicles-in-stock #vehicles-zambia{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -227px;
}
#vehicles-in-stock #vehicles-tanzania{
    background:url("/assets/images/icon_vehicles_stock.png") no-repeat 0px -164px;
}

/* #shop-by-make */
#shop-by-make #makes-toyota{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px 0px;
}
#shop-by-make #makes-nissan{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -39px
}
#shop-by-make #makes-mazda{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -80px;
}
#shop-by-make #makes-mitsubishi{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -120px;
}
#shop-by-make #makes-honda{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -160px;
}
#shop-by-make #makes-suzuki{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -199px;
}
#shop-by-make #makes-subaru{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -236px;
}
#shop-by-make #makes-isuzu{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -271px;
}
#shop-by-make #makes-daihatsu{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -308px;
}
#shop-by-make #makes-hino{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -345px;
}
#shop-by-make #makes-mercedes-benz{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -387px;
}
#shop-by-make #makes-volkswagon{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -429px;
}
#shop-by-make #makes-bmw{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -471px;
}
#shop-by-make #makes-audi{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -509px;
}
#shop-by-make #makes-jeep{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -550px;
}
#shop-by-make #makes-peugeot{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -590px;
}
#shop-by-make #makes-ford{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -628px;
}
#shop-by-make #makes-volvo{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -664px;
}
#shop-by-make #makes-land-rover{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -699px;
}
#shop-by-make #makes-jaguar{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -735px;
}

#shop-by-make #makes-hyundai{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1347px;
}
#shop-by-make #makes-kia{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1385px;
}
#shop-by-make #makes-ssangyong{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1421px;
}
#shop-by-make #makes-lexus{
    background:url("/assets/images/icon_maker_type.png") no-repeat -1px -1868px;
}



/* shop-by-type */
#shop-by-type #types-suv{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -774px;
}
#shop-by-type #types-truck{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -812px;
}
#shop-by-type #types-pickup{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1504px;
}
#shop-by-type #types-van{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -850px;
}
#shop-by-type #types-sedan{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -885px;
}
#shop-by-type #types-bus{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -921px;
}
#shop-by-type #types-mini-van{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -954px;
}
#shop-by-type #types-hatchback{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -992px;
}
#shop-by-type #types-coupe{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1027px;
}
#shop-by-type #types-convertible{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1064px;
}
#shop-by-type #types-wagon{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1101px;
}
#shop-by-type #types-minibus{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1136px;
}
#shop-by-type #types-machinery{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1170px;
}
#shop-by-type #types-motorcycle{
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1459px;
}
#shop-by-type #types-tractor{
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1592px;
}
#shop-by-type #types-forklift{
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1689px;
}

/*  other-categories */
#other-categories #other-lefthand{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1218px;
}
#other-categories #other-diesel{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1299px;
}
#other-categories #other-manual{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1259px;
}
#other-categories #other-handicapped{
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1542px;
}
#other-categories #other-carloan {
    background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1639px;
}
#other-hybrid {
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1733px;
}

#shop-by-Price li{
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1785px;
}

#shop-by-Discount li{
	background:url("/assets/images/icon_maker_type.png") no-repeat 0px -1825px;
}

#right-side{
    float:right;
    width:240px;
    background:#ffffff;
}


#search{
    margin:0 0 10px;
    padding:14px 10px 15px 13px;
    color:#ffffff;
    background:#f1892b;
}

#search h2{
    margin:0 0 14px;
    padding:0 0 0 24px;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -360px;
    font-size:18px;
    font-weight:bold;
}

#search th,
#search td{
    padding:0 0 10px;
}

#search th{
    width:54px;
    font-size:12px;
}

#search td{
    width:160px;
}

#search-make-tr select,
#search-model-tr select,
#search-type-tr select,
#search-steering-tr select{
    padding:0;
    width:160px;
    height:20px;
    border:none;
    font-family:verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size:12px;
}

#search-year-tr td{
    width:30px;
    text-align:center;
    font-weight:bold;
    font-size: 14px;
}

#search-year-tr .from-to{
    width:65px;
    font-family:verdana, Arial, Helvetica, Geneva, sans-serif;
}

#search-year-tr .from-to select{
    height:20px;
    font-size:11px;
    border:none;
}

#search-keyword-tr input{
    padding:0 0 0 5px;
    width:155px;
    height:20px;
    border:none;
    font-size:11px;
    font-family:verdana, Arial, Helvetica, Geneva, sans-serif;
}

#search-button{
    width:130px;
    margin:0 0 0 54px;
    text-align:center;
    font-size: 14px;
    background:#222222;
}

#local-service{
    margin:0 0 10px;
    background:#f8f8f8;
}

#local-service h2{
    padding:10px 0 9px 60px;
    color:#ffffff;
    font-size:15px;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -400px;
}

#local-service-list li{
	background:url("/assets/images/mgt_image.png") no-repeat 0px -500px;
    border-top:solid 1px #ffffff;
	padding-left:15px;
	height: 35px;
}

#local-service-list li:hover{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -550px;
}

#local-service-list li:first-child{
    border-top:none;
}

#local-service-list a{
    display:block;
    color:#333333;
    cursor:pointer;
}

#local-service-list li:hover a{
    color:#4a801e;
    text-decoration: none;
}

#local-service-list h3{
    height:16px;
    padding:10px 0 9px 40px;
    font-size:14px;
    font-weight:bold;
    line-height:1;
    letter-spacing:-0.03em;
}

#local-service-list p{
    margin:-8px 0 0;
    padding:0 0 0 49px;
    font-size:11px;
    line-height:14px;
}

/* flag */

#local-service-tanzania h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1894px;
}

#local-service-malawi h3{
	background:url("/assets/images/mgt_image.png") no-repeat 0px -2014px;
}

#local-service-mongolia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2254px;
}

#local-service-zambia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1974px;
}

#local-service-newzealand h3{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2094px;
}

#local-service-kenya h3{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2054px;
}

#local-service-uganda h3{
    background: url("/assets/images/mgt_image.png") no-repeat 0px -2134px;
}

#local-service-zimbabwe h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2294px;
}

#local-service-georgia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2174px;
}

#local-service-southafrica h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2214px;
}

#local-service-mozambique h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1934px;
}

#local-service-southsudan h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2334px;
}
#local-service-drcongo h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2373px;
}

#local-service-caribbean h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1852px;
}

#local-service-russia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1812px;
}

#local-service-latinamerica h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1770px;
}

#local-service-armenia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1729px;
}

#local-service-oceania h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -2414px;
}

#local-service-somalia h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1689px;
}

#local-service-myanmar h3{
    background:url("/assets/images/mgt_image.png") no-repeat 0px -1649px;
}


/*
 #newsletter-signup-box{
 	margin:0 0 10px;
 	padding:18px 0 3px;
     background:url("/assets/images/top/beavip_signupbox.png") no-repeat top left;
 }
*/
/* 2015 0930
 #newsletter-signup-box form {
 	height:265px;
 }
*/

/* "BE A VIP!!!" 20160630 */

 #newsletter-signup-box{
	height:248px;
	margin:0 0 10px;
	padding:18px 0 0px;
	background:url("/assets/images/top/newsletter-signup-box.png") no-repeat top left;
	background-color: #000;
}
/*
 #newsletter-signup-box{
 	margin:0 0 10px;
 	padding:18px 0 3px;
     background:url("/assets/images/top/beavip_signupbox.png") no-repeat top left;
 }
*/
/* 2015 0930
 #newsletter-signup-box form {
 	height:265px;
 }
*/

.newsletter-signup-catch {
	margin: 0 0 7px;
	text-align: center;
	color: #fff;
	font-size: 37px;
	font-weight: 700;
	margin-top: 9px;
}

.newsletter-signup-text{
 	margin: 10px 23px 8px;
 	color: #FFF;
 	line-height: 1.2;
 	font-size:13px;
 }

.newsletter-signup-form{
 	padding:0 15px;
 }

#mgt .newsletter-signup-name,
#mgt .newsletter-signup-email{
 	width:186px;
 	height:19px;
 	padding: 3px 10px;
 	line-height:19px;
 	margin:0 0 10px;
 	border:solid #bdbdbd 1px;
 }

#mgt .newsletter-signup-country{
  	width: 208px;
 	height:27px;
 	margin:0 0 15px;
 	padding: 3px 6px;
 	line-height:19px;
 	color:#a9a9a9;
 	border:solid #bdbdbd 1px;
     width: 114%;
     background-image: url("/assets/images/top/img_select.png");
     background-repeat: no-repeat;
     background-position: 180px,0;
 }

#right-side #newsletter-signup-box input:placeholder-shown {
	color: #9a9a9a;
	}
#right-side #newsletter-signup-box input::-webkit-input-placeholder {
		color: #9a9a9a;
	}
#right-side #newsletter-signup-box input:-moz-placeholder {
		color: #9a9a9a; opacity: 1;
	}
#right-side #newsletter-signup-box input::-moz-placeholder {
		color: #9a9a9a; opacity: 1;
	}
#right-side #newsletter-signup-box input:-ms-input-placeholder {
		color: #9a9a9a;
    }

#mgt .newsletter-signup-country.selected,
#mgt .newsletter-signup-country option{
  color:#333;
}

 #mgt div.signup_custom {
   overflow: hidden; 伸ばした分を隠す
   width:208px;
 }

 #mgt .newsletter-signup-form .is-selected{
 	color:#000;
 }

 #mgt .newsletter-signup-submit{
 	width:124px;
 	margin:0 0 0 40px;
 	padding:3px 0;
 	color:#fff;
 	font-size:22px;
 	font-weight:bold;
 	background:#ff731e;
 	border:none;
 }

 #mgt .newsletter-signup-submit:hover{
 	color: #333333;
 	text-decoration:underline;
 }

/* "BE A VIP!!! END" 20160630 */


#facebook-area{
    width:240px;
    margin:0 0 20px;
}

#facebook-area h2{
}

#banner{}

#banner-list{}

#banner-list li{
    margin:0 0 20px;
}

#banner-list img{
    vertical-align:bottom;
}

#banner-list #cap-head{
    padding:5px 0;
    color:#0069d4;
    font-size:12px;
    font-weight:normal;
    line-height:1;
}

#banner-list #cap-text{
    font-size:11px;
    line-height:17px;
}

#banner-list #autoparts{

}

#banner-list #electronics img{

}

#contents{
    float:left;
    width:680px;
    margin:0 40px;
}

#warning{
    padding:5px 0 5px 35px;
    font-size:11px;
    background:url("/assets/images/mgt_image.png") no-repeat 12px -805px;
    margin:5px auto;
    width:920px;
}
#warning-top #warning{
	position: absolute;
	top: 0;
	left: 3px;
}
#warning-top{
    /*margin:0 0 10px 225px;*/
	position: relative;
	width: 760px;
	height: 28px;
	margin:0 auto 10px;
}

#warning-search{
	margin:5px auto;
	width:740px;
}

#warning-main{
	margin: 5px auto -20px;
	width:780px;
}

#warning-cap{
	margin: 5px auto -13px;
	width:725px;
}

#warning a:link,
#warning a:visited,
#warning a:active,
#warning a:hover,
#warning-head{
    color:#e60000;
}

#warning-head{
    font-weight:bold;
}

#warning-date{
    color:#000000;
}

/* for stocklist */
#list-content{
    width: 960px;
}

#footer{
    clear:both;
    color:#ffffff;
    background:#222222;
    font-size:12px;
    line-height:1;
    min-width: 1200px;
}

#in-footer-top-wrap{
    width:100%;
    background:#222222;
}

#in-footer-top{
    position:relative;
    width:1200px;
    margin:0px auto;
}

#back-to-top{
    position:absolute;
    top:-41px;
    right:0px;
}

#back-to-top a{
    width:52px;
    height:41px;
    display:block;
    cursor:pointer;
    background:url("/assets/images/mgt_image.png") no-repeat 0px -723px;

    font-size:0em;
}

#back-to-top a:hover{
    opacity:0.9;
}


/*20150917 modify in-footer-top*/
#in-footer-top p{
    margin:0 0 1px;
    color:#ff8a00;
    font-size:12px;
}

#in-footer-top ul{
    margin:0 0 15px;
}

#in-footer-top li{
	font-size: 11.5px;
    line-height: 1.4em;
}

#in-footer-top > li:first-child{
    margin:0 0 5px;
}

#in-footer-top li a{
    color:#fff;
}

#in-footer-top li a:hover{
    color:#F28705;
    text-decoration:underline;
}

/* 20150916 make #in-footer-left based*/
#wrap_company_social{
	width:1200px;
	height:120px;
	border-bottom: solid 1px #2c2c2c;
}
#in-footer-company{
	padding:20px 0 0 20px;
    float: left;
    width: 60%;
}

#footer-logo{
	float:left;
/*  margin: 0 0 45px; */
}

#contact-list{
    padding:0 0 0 200px;
}

#contact-list a:link,
#contact-list a:visited,
#contact-list a:active{
    color:#ffffff;
}

#contact-list a:hover{
    color:#ff8a00;
}

/* 20150917 make #in-footer-right based*/
#in-footer-menu{
    float:left;
    width:1160px;
    padding: 50px 0 50px 40px;
    overflow: hidden;
    border-top: 1px solid #0d0d0d;
}
#in-footer-menu li a{
    font-size:11px;
}

#footer-search{
    width:1160px;
}

/* 20150119 modify*/
.footer-search-column{
    width:165px;
    float:left;
}

.footer-search-column li{
	margin-right:4px;
}

#language-list .english a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -29px;
	padding-left:18px;
}

#language-list .russian a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -60px;
	padding-left:18px;
}

#language-list .french a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -91px;
	padding-left:18px;
}

#language-list .georgian a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -122px;
	padding-left:18px;
}

#language-list .portuguese a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -153px;
	padding-left:18px;
}

#language-list .spanish a{
	background:url("/assets/images/icon_language.png") no-repeat 0px -184px;
	padding-left:18px;
}

/* 20150917 modify */
ul#social-list{
	margin:45px 55px 0 0;
	float:right;
	width:290px;
}

#social-list li{
	float:left;
	overflow:hidden;
	margin-left:15px;
}

#in-footer-bottom-wrap{
	clear: both;
	width:100%;
	background:#f1892b;
}

#in-footer-bottom{
	width:1200px;
	margin:0px auto;
	padding:16px 0 14px;
	font-size:12px;
	overflow:hidden;
}

#copyright{
	float:left;
}

#footer-nav{
	float:right;
}

#footer-nav li{
	display:inline;
	border-left:solid 1px #fff;
	padding:0 6px;
}

#footer-nav li:first-child{
	border:none;
}

#footer-nav li a{
	color:#fff;
}


/* TOP search */
.search-keyword-area{
	margin: 0 0 12px;
	/*padding:0 0 0 8px;*/
	border:solid  #F1892B 1px;
}

.search-keyword-headline{
	display: inline-block;
	width: 200px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	background: #F1892B;
	vertical-align: top;
	line-height: 30px;
	height: 30px;
	padding: 0 0 0 12px;
}

#mgt .search-keyword-input{
	width: 606px;
	height: 30px;
	padding: 0 0 0 4px;
	font-size:12px;
	line-height:30px;
	border:none;
	background:#fefefe;
}

.search-keyword-button{
	float: right;
	width:60px;
	height:30px;
	padding:0 0 0 16px;
	line-height:36px;
	color:#fff;
	font-size:13px;
	background:#F1892B url("/assets/images/stocklist/icon_search.png") no-repeat 24px 7px;
	border:none;
}

.search-keyword-button:hover{
	background:#FF9C42 url("/assets/images/stocklist/icon_search.png") no-repeat 24px 7px;
	cursor:pointer;
}

.search-mode-area{
	background: #FFE8D4;
	float: right;
	padding:0 15px;
	color: #F1892B;
	font-weight:bold;
}
.search-mode-area input{
	vertical-align:middle;
}
.search-mode-and{
	width:90px;
	line-height: 30px;
	margin-right:7px;
}
.search-mode-and input, .search-mode-or input {
    margin: -3px 3px 0 0;
}

/* 車両詳細 */
.remarks table{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.attached_on{
	padding: 4px 12px 5px;
	text-align: center;
	background-color: #ffcfa6;
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	height: 20px;
	border-radius: 4px;
}

.attached_off{
	color: #A7A7A7;
	background-color: #F3F3F3;
	padding: 4px 12px 5px;
	text-align: center;
	border-right: 2px solid #FFF;
	border-top: 2px solid #FFF;
	height: 20px;
	border-radius: 4px;
}

/* country-judge */
#in-header-top .fixedTip{
	float: left;
	position: relative;
	left: -4px;
	top: 1px;
}

#country-judge-area {
	position: relative;
	display: inline-block;
	float: left;
}
#country-judge-area .country-switch-area > span {
	background-image: url("/assets/images/icon_language.png");
	background-position: 106px 6px;
	background-repeat: no-repeat;
}

#country-judge-area .country-switch-area > a {
	/*background: url('/images/icon_language.png') no-repeat 12px -26px;*/
	/*padding: 2px 3px 2px 50px;*/
}
.country-switch-area {
	display: inline-block;
	background-image: url("/assets/images/icon_language.png");
	background-position: 35px 6px;
	background-repeat: no-repeat;
	background-color: #ededed;
	margin-right: 10px;
	height: 19px;
	border-radius: 2px;
	vertical-align: middle;
}
.country-switch-area a img{
	width: 20px;
	padding: 0px 22px 0px 8px;
	vertical-align: top;
}
.country-judge {
	display: none;
}
#country-judge-area:hover .country-judge{
	display: block;
}
.country-judge .country-judge-inner:first-child{
	border-top:none;
}

.country-judge-inner:hover {
	background: #ededed;
	text-decoration: underline;
}
.defaultTheme strong{
	line-height: 23px;
}

.country-judge-inner{
	background: #ededed;
	border-top: 1px solid #d7d7d7;
	position: relative;
	padding: 5px 10px 5px;
	display:none;
}
#country-judge-area:hover .country-judge-inner{
	display:block;
}
#africa,
#asia,
#europe,
#north,
#caribbean,
#latin,
#oceania,
#cis,
#other{
	position: absolute;
	left: 130px;
	top:0px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #ededed;
	display:none;
	z-index: 100;
}

#africa {
	width: 370%;
}
#asia {
	width: 370%;

}
#europe{
	width: 370%;
}
#north {
	width: 150%;
}
#caribbean{
	width: 370%;
}
#latin{
	width: 370%;
}
#oceania{
	width: 370%;
}
#cis{
	width: 370%;
}
#other {
	width: 127%;
	padding: 5px 0;
}
.dropdown-menu {
	left: 81px;
	border-radius: 2px;
	width: 150px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	z-index: 90;
	list-style: none;
	margin-top: 0;
	padding: 0;
	position: absolute;
}

.country-judge-inner ul {
  background: #ededed;
  z-index: 101;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 3px;
  float: left;
  list-style: none;
  position: relative;
}

.country-judge-inner ul li{
	padding: 2px 3px;
	width: 190px;
	float:left;
}
.country-judge-list{
	width:184px;
}

.dropdown-menu {
	position: absolute;
	left: 81px;
	border-radius: 2px;
	width: 155px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	z-index: 90;
	list-style: none;
	margin-top: 0;
	padding: 0;
}

#country-judge-area {
	position: relative;
	display: inline-block;
	float: left;
}

ul.dropdown-menu {
}
#africa{
	display:none;
	transition-delay:1s;
}
.popover {
	width: 360%;
	position: absolute;
	left: 130px;
	top: 0;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #ededed;

}
/* firefoxのみ */
/*Front country judge ドロップダウン位置調整*/
@-moz-document url-prefix() {
    .dropdown-menu {
        left: 78px;
    }
}

.country-judge{
  left: 81px;
}

.section ul.vehicle-list{
    min-width:960px;
    margin-top: 5px;

    margin-bottom: 10px;
    overflow: hidden;
}

.section ul.vehicle-list li{
    margin:0 10px 10px 0;
    width: 180px;
    float: left;
}

#main .section ul.vehicle-list p.name {
    padding: 5px 7px;
    height:58px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    background: #333;
}

.section ul.vehicle-list p.price {
    padding: 0 3px;
    font-size: 16px;
    line-height: 1.2;
    color: #333;
    background: #ff9715;
    position: absolute;
    top: 108px;
    right: 5px;
}

.section ul.vehicle-list .price em {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.section ul.vehicle-list li a {
    display: block;
    position: relative;
    text-decoration: none;
}

/*on the way to georgiaページ*/
#your-benefits{
	margin-bottom: 40px;
}
#your-benefits h2{
	margin-left: 10px;
	font-size: 32px;
}
#your-benefits ol{
	list-style-type: decimal;
	margin-left: 40px;
	font-weight: bold;
	font-size: 18px;
	color: #ce4844;
}
#your-benefits li{
	margin-bottom: 10px;
}
#your-benefits li span{
	font-size: 14px;
	color: #333;
}
#your-benefits li a{
	font-size: 14px;
	font-weight: normal;
}
#your-benefits .caption {
	font-size: 18px;
	font-weight: bold;
	color: #ce4844;
}
#your-benefits.zambia-local-stock-visuals ol {
	color: #f97000;
}
#your-benefits.zambia-local-stock-visuals li .caption {
	color: #f1892b;
}
#your-benefits .emphasized {
	font-size: 24px;
	font-weight: bold;
	color: #337ab7;
}

#main .section h2.way-to-georgia,
#main .section h2.zambia-local-stock {
	border-bottom:solid 2px #F1892B;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

#visuals.on-the-way-to-georgia-visuals{
	height:660px;
}

#visuals div.way-to-description .header{
	padding:0 0 8px;
	font-size:32px;
    font-weight: bold;
}

#visuals div.way-to-description.top{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
	top: 10px;
    border: none;

    margin: 0;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    line-height: 1;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 10px;
}

#visuals div.way-to-description.bottom{
	font-size: 15px;
	bottom: 10px;
	border: none;

	margin: 0 10px;
	padding: 8px 10px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.3;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.5);
	position: absolute;
}

#visuals div.way-to-description.left{
	font-size: 15px;
	bottom: 10px;
	border: none;

	margin: 0;
	padding: 8px 10px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.3;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 10px;
	min-height:150px;
	max-width: 440px;
}

#visuals div.way-to-description.right{
	font-size: 15px;
	bottom: 10px;
	border: none;

	margin: 0;
	padding: 8px 10px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.3;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.5);
	position: absolute;
	right: 10px;
	min-height:150px;
	max-width: 440px;
}

#visuals .way-to-link{
	color: #0FF;
	font-weight: bold;
}

.section ul.vehicle-list p.way-to-label-under-offer{
	padding: 0 3px;
	font-size: 16px;
	line-height: 1.2;
	color: green;
	background: #fff;
	position: absolute;
	top: 108px;
	right: 5px;
}

.section ul.vehicle-list p.way-to-label-sold{
	padding: 0 3px;
	font-size: 16px;
	line-height: 1.2;
	color: #e00;
	background: #fff;
	position: absolute;
	top: 108px;
	right: 5px;
}


/* skype-area:on_the_way_to_georgia */
.skype-main-area{
	margin: 0px 0px 20px 10px;
	border-left: 5px solid #f97000;
	padding-left: 15px;
	float: left;
	width:60%;
}
#content .skype-main-area h2{
  margin-bottom: 15px;
  padding: 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 34px;
  border: none;
  letter-spacing: -1px;
}
#content .skype-main-area h2 span{
	font-size: 20px;
	margin-left:5px;
	float: none;
}

#content .skype-main-area h3{
	font-size: 20px;
	font-weight:bold;
}

.skype-main-area ul {
	float: left;
	display: inline-block;
	padding-left: 10px;
}
.skype-main-area li {
	float: left;
	padding: 5px 10px 4px;
}
.skype-main-area  span{
	font-weight: bold;
	float: left;
}
.skype-main-area p ul{
	width:60px!important;
	padding-left:10px!important;
	border-radius: 2px;
	margin-left: 0!important;
}
.skype-main-area img{
	margin-left:0!important;
	margin-top: 0!important;
}
/* skype-area:on_the_way_to_georgia end */


p.mt10.px11 {
	text-align: left !important;
	padding-left: 28%;
}


/* ---------------------------------------------
	TOP "BE A VIP!!!" campaign
------------------------------------------------ */
/*
#newsletter-signup-box {
  width:240px;
  height:305px;
  background: url("/assets/images/top/beavip_signupbox2.png") no-repeat top left;
  margin-bottom: 10px;
}

#newsletter-signup-form {
	position:relative;
}
*/
/* 共通化できるクラスは共通化 */
/*
#mgt #newsletter-signup-form .newsletter-signup-name, .newsletter-signup-email, .newsletter-number {
	width:173px;
	height:13px;
	margin: 0 ;
	position:absolute;
	font-size:11px;
	border:none;
	color:#000000;
	background-color:transparent;
}

#mgt #newsletter-signup-form .newsletter-signup-name {
	top:166px;
	left:30px;
}

#mgt #newsletter-signup-form .newsletter-signup-email {
	top:193px;
	left:30px;
}

#mgt #newsletter-signup-form .newsletter-number{
	top:182px;
	left:53px;
}

#mgt #newsletter-signup-form .signup_custom select.country {
	width:177px;
	height:20px;
	position:absolute;
	top:221px;
	left:30px;
	font-size:10px;
	border:none;
	background-color:transparent;
	padding-left: 0px;
}
*/
/* #newsletter-signup-form .signup_custom select.city { */
/* 	width:75px; */
/* 	height:18px; */
/* 	position:absolute; */
/* 	top:159px; */
/* 	left:123px; */
/* 	font-size:10px; */
/* 	border:none; */
/* 	background-color:transparent; */
/* } */

/* #newsletter-signup-form .signup-check{ */
/* 	position:absolute; */
/* 	top:198px; */
/* 	left:52px; */
/* 	font-size:14px; */
/* 	border:none; */
/* } */
/*
#mgt #newsletter-signup-form input.signup-check{
	position:absolute;
	top:3px;
	left:13px;
	font-size:14px;
	border:none;
}

#mgt #newsletter-signup-form p#checkbox_top_text {
	width:157px;
	color:#e8cc67;
	position:absolute;
	top:247px;
	left:42px;
	font-size:10px;
	font-weight: 700;
    line-height: 10px;
    text-align: center;
}

#mgt #newsletter-signup-form p#checkbox_top_text a {
	color:#e8cc67;
	    text-decoration: underline;
}

#newsletter-signup-form label img.form_check_01 {
	position: absolute;
	top: 200px;
    left: 68px;
}

#newsletter-signup-form label img.form_check_02 {
	position: absolute;
	top: 200px;
    left: 116px;
}


#newsletter-signup-form input.newsletter-signup-submit{
	width:181px;
	color:#000000;
	font-weight:700;
	position:absolute;
	top:273px;
	left:29px;
	font-size:11px;
	background-color:transparent;
    cursor: pointer;
    border: none;
    font-family:Verdana;
}
@-moz-document url-prefix() {
 #newsletter-signup-form input.newsletter-signup-submit {
    top: 271px;
  }
}
#newsletter-signup-form .newsletter-signup-submit:hover{
	text-decoration: underline;
	font-weight: 700;
}
*/
/* Follow us on */

#follow_us {
	width: 240px;
	height:110px;
    padding: 10px 0 15px 5px;
	border-top:solid 1px #F1892B;
	border-bottom: solid 1px #F1892B;
	margin: 10px 0 15px 0;
}

#follow_us ul{
	background: url("/assets/images/top/social_sprite.png") no-repeat 0px 0px;
    display: block;
	width: 245px;
	height: 83px;
	font-size: 0;
}

#follow_us li{
	display:inline-block;
	width:36px;
	height:36px;
	margin-right: 13px;
	margin-bottom: 10px;
}

#follow_us li a{
	display:inline-block;
	width:36px;
	height:36px;
}

#follow_us li a:hover {
	position: relative;
	left: 0;
	top: 0;
}

#follow_us p {
	font-size:18px;
	margin-bottom: 5px;
    font-weight: 700;
}


/*------------------------------
20160704 Tour Country splite
-------------------------------*/
#africa a, #asia a,
#europe a, #north a,
#caribbean a, #latin a,
#oceania a, #cis a, #other a{
	display:block;
    padding:1px 0 1px 4px;

}

#africa .sprite, #asia .sprite,
#europe .sprite, #north .sprite,
#caribbean .sprite, #latin .sprite,
#oceania .sprite, #cis .sprite,
#other .sprite{
    background: url("/assets/images/you_country_flags.png") no-repeat 0px -5px;
    display: block;
	float: left;
	width: 30px;
	height: 22px;
	padding: 0px;
}
#africa .ao{
	background-position: -5px -7px;
	margin: 0 0 0 2px;
}
#africa .bj{
	background-position: -5px -36px;
	margin: 0 0 0 2px;
}
#africa .bw{
	background-position: -5px -65px;
	margin: 0 0 0 2px;
}
#africa .bf{
	background-position: -5px -93px;
	margin: 0 0 0 2px;
}#africa .bi{
	background-position: -5px -122px;
	margin: 0 0 0 2px;
}
#africa .cm{
	background-position: -5px -151px;
	margin: 0 0 0 2px;
}
#africa .ci{
	background-position: -5px -180px;
	margin: 0 0 0 2px;
}
#africa .cd{
	background-position: -5px -209px;
	margin: 0 0 0 2px;
}
#africa .dj{
	background-position: -5px -238px;
	margin: 0 0 0 2px;
}
#africa .eg{
	background-position: -5px -267px;
	margin: 0 0 0 2px;
}
#africa .et{
	background-position: -5px -296px;
	margin: 0 0 0 2px;
}
#africa .ga{
	background-position: -5px -325px;
	margin: 0 0 0 2px;
}
#africa .gh{
	background-position: -5px -354px;
	margin: 0 0 0 2px;
}
#africa .gn{
	background-position: -5px -383px;
	margin: 0 0 0 2px;
}

#africa .gw{
	background-position: -50px -7px;
	margin: 0 0 0 2px;
}
#africa .ke{
	background-position: -50px -36px;
	margin: 0 0 0 2px;
}
#africa .ls{
	background-position: -50px -65px;
	margin: 0 0 0 2px;
}
#africa .lr{
	background-position: -50px -94px;
	margin: 0 0 0 2px;
}#africa .ly{
	background-position: -50px -123px;
	margin: 0 0 0 2px;
}
#africa .mg{
	background-position: -50px -152px;
	margin: 0 0 0 2px;
}
#africa .mw{
	background-position: -50px -181px;
	margin: 0 0 0 2px;
}
#africa .ml{
	background-position: -50px -210px;
	margin: 0 0 0 2px;
}
#africa .mu{
	background-position: -50px -238px;
	margin: 0 0 0 2px;
}
#africa .mz{
	background-position: -50px -267px;
	margin: 0 0 0 2px;
}
#africa .na{
	background-position: -50px -296px;
	margin: 0 0 0 2px;
}
#africa .ng{
	background-position: -50px -325px;
	margin: 0 0 0 2px;
}
#africa .cg{
	background-position: -50px -354px;
	margin: 0 0 0 2px;
}
#africa .rw{
	background-position: -50px -383px;
	margin: 0 0 0 2px;
}

#africa .sn{
	background-position: -94px -7px;
	margin: 0 0 0 2px;
}
#africa .sc{
	background-position: -94px -36px;
	margin: 0 0 0 2px;
}
#africa .sl{
	background-position: -94px -65px;
	margin: 0 0 0 2px;
}
#africa .so{
	background-position: -94px -94px;
	margin: 0 0 0 2px;
}#africa .za{
	background-position: -94px -123px;
	margin: 0 0 0 2px;
}
#africa .ss{
	background-position: -94px -152px;
	margin: 0 0 0 2px;
}
#africa .sd{
	background-position: -94px -181px;
	margin: 0 0 0 2px;
}
#africa .sz{
	background-position: -94px -210px;
	margin: 0 0 0 2px;
}
#africa .tz{
	background-position: -94px -238px;
	margin: 0 0 0 2px;
}
#africa .tg{
	background-position: -94px -267px;
	margin: 0 0 0 2px;
}
#africa .ug{
	background-position: -94px -296px;
	margin: 0 0 0 2px;
}
#africa .zm{
	background-position: -94px -325px;
	margin: 0 0 0 2px;
}
#africa .zw{
	background-position: -94px -354px;
	margin: 0 0 0 2px;
}



#asia .bh{
	background-position: -138px -8px;
	margin: 0 0 0 2px;
}
#asia .bd{
	background-position: -138px -36px;
	margin: 0 0 0 2px;
}
#asia .bn{
	background-position: -138px -64px;
	margin: 0 0 0 2px;
}
#asia .kh{
	background-position: -138px -94px;
	margin: 0 0 0 2px;
}#asia .cn{
	background-position: -138px -123px;
	margin: 0 0 0 2px;
}
#asia .cy{
	background-position: -138px -152px;
	margin: 0 0 0 2px;
}
#asia .tl{
	background-position: -138px -181px;
	margin: 0 0 0 2px;
}
#asia .hk{
	background-position: -138px -210px;
	margin: 0 0 0 2px;
}
#asia .in{
	background-position: -138px -238px;
	margin: 0 0 0 2px;
}
#asia .id{
	background-position: -138px -267px;
	margin: 0 0 0 2px;
}
#asia .jp{
	background-position: -138px -296px;
	margin: 0 0 0 2px;
}
#asia .jo{
	background-position: -138px -323px;
	margin: 0 0 0 2px;
}
#asia .kr{
	background-position: -138px -352px;
	margin: 0 0 0 2px;
}
#asia .kw{
	background-position: -138px -383px;
	margin: 0 0 0 2px;
}
#asia .la{
	background-position: -182px -8px;
	margin: 0 0 0 2px;
}
#asia .lb{
	background-position: -182px -36px;
	margin: 0 0 0 2px;
}
#asia .mo{
	background-position: -182px -64px;
	margin: 0 0 0 2px;
}
#asia .my{
	background-position: -182px -93px;
	margin: 0 0 0 2px;
}
#asia .mn{
	background-position: -182px -122px;
	margin: 0 0 0 2px;
}
#asia .mm{
	background-position: -182px -151px;
	margin: 0 0 0 2px;
}
#asia .om{
	background-position: -182px -180px;
	margin: 0 0 0 2px;
}
#asia .pk{
	background-position: -182px -209px;
	margin: 0 0 0 2px;
}
#asia .ph{
	background-position: -182px -239px;
	margin: 0 0 0 2px;
}
#asia .qa{
	background-position: -182px -267px;
	margin: 0 0 0 2px;
}
#asia .mv{
	background-position: -182px -297px;
	margin: 0 0 0 2px;
}
#asia .sa{
	background-position: -182px -325px;
	margin: 0 0 0 2px;
}
#asia .sg{
	background-position: -182px -353px;
	margin: 0 0 0 2px;
}
#asia .lk{
	background-position: -182px -383px;
	margin: 0 0 0 2px;
}
#asia .th{
	background-position: -226px -8px;
	margin: 0 0 0 2px;
}
#asia .tr{
	background-position: -226px -36px;
	margin: 0 0 0 2px;
}
#asia .ae{
	background-position: -226px -64px;
	margin: 0 0 0 2px;
}



#europe .at{
	background-position: -226px -93px;
	margin: 0 0 0 2px;
}
#europe .be{
	background-position: -226px -122px;
	margin: 0 0 0 2px;
}
#europe .dk{
	background-position: -226px -151px;
	margin: 0 0 0 2px;
}
#europe .fi{
	background-position: -226px -180px;
	margin: 0 0 0 2px;
}
#europe .fr{
	background-position: -226px -209px;
	margin: 0 0 0 2px;
}
#europe .de{
	background-position: -226px -238px;
	margin: 0 0 0 2px;
}
#europe .gr{
	background-position: -226px -267px;
	margin: 0 0 0 2px;
}
#europe .hu{
	background-position: -226px -296px;
	margin: 0 0 0 2px;
}
#europe .ie{
	background-position: -226px -325px;
	margin: 0 0 0 2px;
}
#europe .it{
	background-position: -226px -354px;
	margin: 0 0 0 2px;
}
#europe .lu{
	background-position: -226px -382px;
	margin: 0 0 0 2px;
}
#europe .mt{
	background-position: -270px -8px;
	margin: 0 0 0 2px;
}
#europe .nl{
	background-position: -270px -36px;
	margin: 0 0 0 2px;
}
#europe .no{
	background-position: -270px -65px;
	margin: 0 0 0 2px;
}
#europe .pl{
	background-position: -270px -93px;
	margin: 0 0 0 2px;
}
#europe .pt{
	background-position: -270px -122px;
	margin: 0 0 0 2px;
}
#europe .es{
	background-position: -270px -151px;
	margin: 0 0 0 2px;
}
#europe .se{
	background-position: -270px -180px;
	margin: 0 0 0 2px;
}
#europe .ch{
	background-position: -270px -209px;
	margin: 0 0 0 2px;
}
#europe .gb{
	background-position: -270px -238px;
	margin: 0 0 0 2px;
}



#north .ca{
	background-position: -270px -267px;
	margin: 0 0 0 2px;
}

#north .us{
	background-position: -270px -296px;
	margin: 0 0 0 2px;
}



#caribbean .ai{
	background-position: -270px -325px;
	margin: 0 0 0 2px;
}
#caribbean .ag{
	background-position: -270px -354px;
	margin: 0 0 0 2px;
}
#caribbean .aw{
	background-position: -270px -383px;
	margin: 0 0 0 2px;
}
#caribbean .bs{
	background-position: -314px -8px;
	margin: 0 0 0 2px;
}
#caribbean .bb{
	background-position: -314px -34px;
	margin: 0 0 0 2px;
}
#caribbean .bm{
	background-position: -314px -64px;
	margin: 0 0 0 2px;
}
#caribbean .vg{
	background-position: -314px -93px;
	margin: 0 0 0 2px;
}
#caribbean .ky{
	background-position: -314px -122px;
	margin: 0 0 0 2px;
}
#caribbean .dm{
	background-position: -314px -151px;
	margin: 0 0 0 2px;
}
#caribbean .do{
	background-position: -314px -180px;
	margin: 0 0 0 2px;
}
#caribbean .gd{
	background-position: -314px -209px;
	margin: 0 0 0 2px;
}
#caribbean .gy{
	background-position: -314px -238px;
	margin: 0 0 0 2px;
}
#caribbean .ht{
	background-position: -314px -267px;
	margin: 0 0 0 2px;
}
#caribbean .jm{
	background-position: -314px -296px;
	margin: 0 0 0 2px;
}
#caribbean .ms{
	background-position: -314px -325px;
	margin: 0 0 0 2px;
}
#caribbean .xc{
	background-position: -314px -354px;
	margin: 0 0 0 2px;
}
#caribbean .kn{
	background-position: -314px -383px;
	margin: 0 0 0 2px;
}
#caribbean .lc{
	background-position: -358px -8px;
	margin: 0 0 0 2px;
}
#caribbean .xm{
	background-position: -358px -35px;
	margin: 0 0 0 2px;
}
#caribbean .vc{
	background-position: -358px -64px;
	margin: 0 0 0 2px;
}
#caribbean .sr{
	background-position: -358px -93px;
	margin: 0 0 0 2px;
}
#caribbean .vg{
	background-position: -358px -122px;
	margin: 0 0 0 2px;
}
#caribbean .tt{
	background-position: -358px -151px;
	margin: 0 0 0 2px;
}
#caribbean .tc{
	background-position: -358px -180px;
	margin: 0 0 0 2px;
}



#latin .bo{
	background-position: -358px -209px;
	margin: 0 0 0 2px;
}
#latin .cl{
	background-position: -358px -238px;
	margin: 0 0 0 2px;
}
#latin .cr{
	background-position: -358px -267px;
	margin: 0 0 0 2px;
}
#latin .gt{
	background-position: -358px -296px;
	margin: 0 0 0 2px;
}
#latin .hn{
	background-position: -358px -325px;
	margin: 0 0 0 2px;
}
#latin .pa{
	background-position: -358px -354px;
	margin: 0 0 0 2px;
}
#latin .py{
	background-position: -358px -383px;
	margin: 0 0 0 2px;
}
#latin .pe{
	background-position: -402px -8px;
	margin: 0 0 0 2px;
}
#latin .sv{
	background-position: -402px -34px;
	margin: 0 0 0 2px;
}
#latin .ni{
	background-position: -402px -64px;
	margin: 0 0 0 2px;
}



#oceania .au{
	background-position: -402px -93px;
	margin: 0 0 0 2px;
}
#oceania .ck{
	background-position: -402px -122px;
	margin: 0 0 0 2px;
}
#oceania .fj{
	background-position: -402px -151px;
	margin: 0 0 0 2px;
}
#oceania .ki{
	background-position: -402px -180px;
	margin: 0 0 0 2px;
}
#oceania .mh{
	background-position: -402px -209px;
	margin: 0 0 0 2px;
}
#oceania .fm{
	background-position: -402px -238px;
	margin: 0 0 0 2px;
}
#oceania .nr{
	background-position: -402px -267px;
	margin: 0 0 0 2px;
}
#oceania .nc{
	background-position: -402px -296px;
	margin: 0 0 0 2px;
}
#oceania .nz{
	background-position: -402px -325px;
	margin: 0 0 0 2px;
}
#oceania .pw{
	background-position: -402px -354px;
	margin: 0 0 0 2px;
}
#oceania .pg{
	background-position: -402px -383px;
	margin: 0 0 0 2px;
}
#oceania .ws{
	background-position: -446px -8px;
	margin: 0 0 0 2px;
}
#oceania .sb{
	background-position: -446px -35px;
	margin: 0 0 0 2px;
}
#oceania .to{
	background-position: -446px -64px;
	margin: 0 0 0 2px;
}
#oceania .tv{
	background-position: -446px -93px;
	margin: 0 0 0 2px;
}
#oceania .vu{
	background-position: -446px -122px;
	margin: 0 0 0 2px;
}

#cis .am{
	background-position: -446px -151px;
	margin: 0 0 0 2px;
}
#cis .az{
	background-position: -446px -180px;
	margin: 0 0 0 2px;
}
#cis .ge{
	background-position: -446px -209px;
	margin: 0 0 0 2px;
}
#cis .kz{
	background-position: -446px -238px;
	margin: 0 0 0 2px;
}
#cis .kg{
	background-position: -446px -267px;
	margin: 0 0 0 2px;
}
#cis .ru{
	background-position: -446px -296px;
	margin: 0 0 0 2px;
}
#cis .ua{
	background-position: -446px -325px;
	margin: 0 0 0 2px;
}


#other .ot{
	background-position: -446px -354px;
	margin: 0 0 0 2px;
}
