@charset "utf-8";
/* CSS Document */

/* LAYOUT
==================================================*/

body{
	background:url(../images/bg_body.png) repeat left top;
}
#wrapper{
	text-align:center;
	min-width:1024px;
	padding-top:80px;
	background:url(../images/bg_body_map.png) no-repeat center top;
}

/* Header
==================================================*/
header{
	position:absolute;
	top:0;
	left:0;
	height:86px;
	width:100%;
	min-width:1024px;
	text-align:left;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 3px 10px #bbb;
	-moz-box-shadow: 0px 3px 10px #bbb;
	-webkit-box-shadow: 0px 3px 10px #bbb;
	text-align:center;
}

#headerIn{ width:1024px; margin:0 auto; text-align:left; position:relative;}

/* Contents
==================================================*/

#contents{
	text-align:left;
	width: 1000px;
	padding-top: 43px;
	margin:0 auto;
	background: rgba(255,255,255,0.8);
	min-height:200px;
	z-index:1;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
section#column1{ padding-bottom:30px;}

#contents h2{ text-align:center; font-size:24px; font-weight:bold; }
#contents h3{ text-align:center; font-size:24px; font-weight:bold; margin-top: -3px; margin-bottom: 9px;}



/* panel */
#topCont{
	width: 840px;
	margin:0 auto;
	padding: 2px 30px 20px;
	border-radius:5px;
	border:1px solid #CCCCCC;
	margin-bottom:20px;
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,235,235,0.5) 0%, rgba(255,255,255,0.5) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,0.5)), color-stop(98%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,235,235,0.5) 0%,rgba(255,255,255,0.5) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,235,235,0.5) 0%,rgba(255,255,255,0.5) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,235,235,0.5) 0%,rgba(255,255,255,0.5) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,235,235,0.5) 0%,rgba(255,255,255,0.5) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 1px 1px 3px rgba(0,0,0,0.225) inset;
}

#topCont>h2 {
    margin : 10px;
}

#topCont>.inner{
	background: #F5F5F5;
	margin-bottom: 15px;
	box-shadow: 0 0 0 2px #FFF inset, 0 0 3px rgba(153,153,153,0.4), 0 1px 2px rgba(0,0,0,0.3);
	padding: 20px;
}

#topCont>.inner>div {
	display: inline-block;
	vertical-align: top;
	min-height: 245px;
}
#topCont>.inner>div:nth-child(2){ margin:0 10px; padding:0 10px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
#topCont>.inner dl:nth-child(2){ border-top:1px solid #CCCCCC; padding-top:30px; margin-top:30px;}
#topCont>.inner dl>dt{ text-align:center; font-weight:bold; margin-bottom:10px; font-size:14px; }
#topCont>.inner dl>dd{ text-align:center; margin-bottom:10px;}

#topCont .inner .left {
	width: 210px;
}
#topCont .inner .center {
	  width: 200px;
}
#topCont .inner .right {
	width: 330px;
}
#topCont>.inner dl>dd.pull-right {
    float:right;
}
#topCont>.inner dl>dd.pull-left {
    float:left;
}
#topCont>.inner .right dl {
    margin-left : 20px;
}
#topCont>.inner dl>dd>a{
	display:inline-block;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f9f9 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	text-align:center;
	border-radius:5px;
	border:#C8C9CE 1px solid;
	font-weight:bold;
	min-width:120px;
	padding:7px 10px;
	font-size:14px;
	box-shadow:  1px 1px 0px 0px #FFF inset,-1px -1px 0px 0px  #FFF inset;
	-moz-box-shadow:  1px 1px 0px 0px #FFF inset,-1px -1px 0px 0px  #FFF inset;
	-webkit-box-shadow: 1px 1px 0px 0px #FFF inset,-1px -1px 0px 0px  #FFF inset;
}

#bottomCont ul>li>a:hover {text-decoration:underline; color:#999;}
#topCont>.inner dl>dd>a:hover {text-decoration:none; background:#FFFFFF;}

#bottomCont{
	width:800px;
	padding:25px 50px;
	margin:0 auto;
	border-radius:5px;
	border:1px solid #CCCCCC;
	margin-bottom:35px;
	background: rgba(185,185,185,0.5); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,185,185,0.5) 1%, rgba(205,205,205,0.5) 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(185,185,185,0.5)), color-stop(96%,rgba(205,205,205,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(185,185,185,0.5) 1%,rgba(205,205,205,0.5) 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(185,185,185,0.5) 1%,rgba(205,205,205,0.5) 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(185,185,185,0.5) 1%,rgba(205,205,205,0.5) 96%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(185,185,185,0.5) 1%,rgba(205,205,205,0.5) 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	text-align:center;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1) inset;
}
#bottomCont p{ text-align:left; margin-bottom:25px;}
#bottomCont p.banner{ padding-bottom:20px; margin-bottom:10px; border-bottom:1px solid #fff; text-align:center;}
#bottomCont p.banner img{ margin-right:15px;}
#bottomCont p.banner img:last-child { margin-right:0px;}
#bottomCont ul{ margin: 0 auto;}
#bottomCont ul>li{ display:inline-block;}
#bottomCont ul>li>a{
	display:inline-block;
	text-align:center;
	margin-right:5px;
	min-width:80px;
	padding:7px 10px;
	font-size:14px;
	text-decoration: underline;
}

.copyright{ text-align:center; color:#999; margin-bottom:40px;}

span.italic{ font-style: italic;}
span.underline{ text-decoration: underline; color:#ff0000;}
span.redcolor{ color:#ff0000;}



.btnLink {
	cursor: pointer;
}











