/* General styles for all menus */

@media only screen and (min-width : 200px) and (max-width :767px) {
.touch-button {
    cursor: pointer;
    float: right;
    height: 39px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 0;
    width: 40px;
}
.touch-button .fa-chevron-down {
    color: #ffffff;
    display: inline-block;
    font-size: 0;
    height: 40px;
    width: 40px;
	background:url("../images/down-arrow.png") no-repeat;
	background-position:center center;
	background-size:20px;
}
#header-content #main-menu .menu li {width:100%; position:relative;}	
#header-content #showLeftPush {
 float: left;
    left: 10px;
    padding: 5px 0;
    position: absolute;
    top: 60px;
    width: 50px;
    z-index: 999;
}
#showLeftPush span {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 5px;
    margin: 5px 0;
    width: 35px;
}
#header-content  .cbp-spmenu {
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

#header-content .cbp-spmenu-vertical {
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1000;
	float:left;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #5f5f5f;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

#header-content  .cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

#header-content .cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

#header-content  .cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

}