/* default */

/*Allmode Name*/
.typeone h4.allmode-name, 
.typetwo h4.allmode-name, 
.typethree h4.allmode-name, 
.typefour h4.allmode-name, 
.typefive h4.allmode-name, 
.typefive2 h4.allmode-name, 
.typesix h4.allmode-name .typesix2 h4.allmode-name, 
.typeseven .allmode-carousel h4.allmode-name,
.typeoscars h4.allmode-name
{border-bottom-color: #dfaf0d!important; color: #dfaf0d!important;}

.typeseven .allmode-carousel h4.allmode-name {font:14px/20px "Verdana","Geneva",sans-serif; }

.typeone h4.allmode-name a, 
.typetwo h4.allmode-name a, 
.typethree h4.allmode-name a, 
.typefour h4.allmode-name a, 
.typefive h4.allmode-name a, 
.typefive2 h4.allmode-name a, 
.typesix h4.allmode-name a, 
.typesix2 h4.allmode-name a, 
.typeseven .allmode-carousel h4.allmode-name a,
.typeoscars h4.allmode-name a,
{color: #dfaf0d!important; }

.typeone h4.allmode-name a:hover, 
.typetwo h4.allmode-name a:hover, 
.typethree h4.allmode-name a:hover, 
.typefour h4.allmode-name a:hover, 
.typefive h4.allmode-name a:hover, 
.typefive2 h4.allmode-name a:hover, 
.typesix h4.allmode-name a:hover, 
.typesix2 h4.allmode-name a:hover, 
.typeseven .allmode-carousel h4.allmode-name a:hover,
.typeoscars h4.allmode-name a:hover,
{color: #dfaf0d!important; }

.typetwo .allmode-hits {background:url("../../crnobelo4/images/trending.png") no-repeat scroll right;}
.typeoscars .allmode-hits {background:url("../../crnobelo4/images/trending.png") no-repeat scroll right;}

#wrapper2 .moduletable .typetwo h4.allmode-name {text-transform:none;}
#wrapper2 .moduletable .typetwo h4.allmode-name {background:url("../../crnobelo4/images/trending.png"); background-repeat:no-repeat; background-position:110px 8px;}
#wrapper2 .moduletable.typetwo {margin:0;}

#wrapper2 .moduletable .typeoscars h4.allmode-name {text-transform:none;}
#wrapper2 .moduletable .typeoscars h4.allmode-name {background:url("../../crnobelo4/images/oscars-icon.png"); background-repeat:no-repeat; background-position:90px 5px;}
#wrapper2 .moduletable.typeoscars {margin:10px 0 0;}

.typeoscars .allmode-topbox .allmode-topitem {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 9px;
    min-height: 80px;
    overflow: visible;
}

.typeoscars .allmode-itemsbox li:last-child {
    border: medium none;
    margin: 0;
    padding: 0;
}

.typeoscars .allmode-topbox .allmode-topitem:nth-last-child(2) {
    border: medium none;
    margin: 0;
    padding: 0;
}






