/* Flexnav Base Styles */
@media only screen and (min-width : 200px) and (max-width :767px) {
/*.cbp-spmenu > ul {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0; }*/
  .cbp-spmenu > ul.opacity {
    opacity: 0; }
  .cbp-spmenu > ul.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .cbp-spmenu > ul.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  .cbp-spmenu > ul li {
    font-size: 100%;
    position: relative;
    overflow: hidden; }
/*  .cbp-spmenu > ul li a {
    position: relative;
    display: block;
    padding: .96em;
    z-index: 2;
    overflow: hidden;
    color: #222222;
    background: #a6a6a2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }*/
  .cbp-spmenu > ul li ul { padding:0;
    width: 100%; }
    .cbp-spmenu > ul li ul li {
      font-size: 100%;
      position: relative;
      overflow: hidden; }
  .cbp-spmenu > ul li ul.flexnav-show li {
    overflow: visible; }
  .cbp-spmenu > ul li ul li a {
    display: block;
    background: #b2b2af; }
  .cbp-spmenu > ul ul li ul li a {
    background: #bfbfbc; }
  .cbp-spmenu > ul ul li ul li ul li a {
    background: #cbcbc9; }
  .cbp-spmenu > ul .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center; }
    .cbp-spmenu > ul .touch-button:hover {
      cursor: pointer; }
    .cbp-spmenu > ul .touch-button .navicon {
      position: relative;
      top: 10px;
      font-size: 12px;
      color: #666; }

.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #a6a6a2;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center; }
    .menu-button .touch-button .navicon {
      font-size: 16px;
      position: relative;
      top: 1em;
      color: #666; }


  body.one-page {
    padding-top: 70px; }

  .cbp-spmenu > ul {
	  padding:0;
    overflow: visible; }
    .cbp-spmenu > ul.opacity {
      opacity: 1; }
    .cbp-spmenu > ul.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
/*    .cbp-spmenu > ul li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      background-color: #a6a6a2;
      overflow: visible;
      width: 100%; }*/
/*    .cbp-spmenu > ul li a {
      border-left: 1px solid #acaca1;
      border-bottom: none; }*/
    .cbp-spmenu > ul li > ul {
      position: relative;
      top: auto;
      left: 0; }
      .cbp-spmenu > ul li > ul li {
        width: 100%; }
    .cbp-spmenu > ul li ul li > ul {
      
      top: 0; }
    .cbp-spmenu > ul li ul li a {
      border-bottom: none; }
    .cbp-spmenu > ul li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      .cbp-spmenu > ul li ul.open li {
        overflow: visible;
        max-height: 100px; }
      .cbp-spmenu > ul li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  .menu-button {
    display: none; } 
.oldie body.one-page {
  padding-top: 70px; }
.oldie .cbp-spmenu > ul {
  overflow: visible; }
  .oldie .cbp-spmenu > ul.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .cbp-spmenu > ul li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .oldie .cbp-spmenu > ul li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .cbp-spmenu > ul li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .cbp-spmenu > ul li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .cbp-spmenu > ul li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .cbp-spmenu > ul li ul li ul {
    top: 0; }
  .oldie .cbp-spmenu > ul li ul li a {
    border-bottom: none; }
  .oldie .cbp-spmenu > ul li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .cbp-spmenu > ul li ul.open li {
      width: 100%; }
    .oldie .cbp-spmenu > ul li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .cbp-spmenu > ul ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .cbp-spmenu > ul li {
  width: 19.9%; }

}