@charset "utf-8";
/* CSS Document Copyright (C) 2015 Highwood Design Limited. All rights reserved.
/**********************************************************************************************/
/* Common items                                                                               */
#hwd-container {
	margin-bottom:20px;
	overflow:hidden;
}
#hwd-container .clear {
	clear:both;
}
#hwd-container .hide {
        display:none;
}
#hwd-container .media-header {
	position:relative;
}
#hwd-container .media-header > .btn-group {
	padding-bottom:10px;
}
#hwd-container .pull-right.thumb-wrapper {
        margin-bottom:0;
        margin-left:5px;
        margin-right:0;
        margin-top:0;
}
#hwd-container .pull-left.thumb-wrapper {
        margin-bottom:0;
        margin-left:0;
        margin-right:5px;
        margin-top:0;
}
#hwd-container .element-invisible { /* Used when rendering dropdown lists */
	position:absolute;
	padding:0;
	margin:0;
	border:0;
	height:1px;
	width:1px;
	overflow:hidden;
}
#hwd-container .img-responsive {
        max-width:100%;
        height:auto;
}
#hwd-container .btn.btn-noevent {
       pointer-events:none;
       cursor:default;
}
/* Modal (lightbox) container */
#hwd-container.hwd-modal {
	margin:20px;
}
/**********************************************************************************************/
/* Media thumbnail container and overlay styles                                               */
#hwd-container .media-item-format-1-0, #hwd-container .media-item-format-1-1, #hwd-container .media-item-format-1-2, #hwd-container .media-item-format-1-3, #hwd-container .media-item-format-1-4, #hwd-container .media-item-format-2, #hwd-container .media-item-format-2-2, #hwd-container .media-item-format-3, #hwd-container .media-item-format-4, #hwd-container .media-item-format-5, #hwd-container .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
#hwd-container .media-item a {
        line-height:0px; /* Keeps duration overlay location correct */
        word-wrap:break-word;
}
#hwd-container .media-duration {
	position:absolute;
	left:2px;
	bottom:2px;
	color:#fff;
	font-size:10px;
	padding:1px 2px;
        background-color:rgba(0, 0, 0, 0.6);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
        box-shadow:0 0 1px #DDDDDD;        
        line-height:12px;        
}
#hwd-container .media-thumbnail-overlay
{
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
        background-color:rgba(0, 0, 0, 0.6);
        z-index:3;
        width:100%;
        font-weight:600;
        font-size:90%;
        padding:10px;
        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box; 
}
/**********************************************************************************************/
/* Media views                                                                                */
#hwd-container .media-media-title {
	float:left;
	margin-right:10px;
}
/* Details specific styles */
#hwd-container .media-details-view {
	margin:10px 0;
/*	padding-bottom:20px; */
}
#hwd-container .media-details-view .item {
	position:relative;
}
#hwd-container .media-details-view .media-item {
	position:relative;
/*	margin:10px 0; */
}
#hwd-container .media-details-view .media-item-format-1-0, #hwd-container .media-details-view .media-item-format-1-1, #hwd-container .media-details-view .media-item-format-1-2, #hwd-container .media-details-view .media-item-format-1-3, #hwd-container .media-details-view .media-item-format-1-4, #hwd-container .media-details-view .media-item-format-2, #hwd-container .media-details-view .media-item-format-3, #hwd-container .media-details-view .media-item-format-4, #hwd-container .media-details-view .media-item-format-5, #hwd-container .media-details-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
#hwd-container .media-details-view h1.contentheading,
#hwd-container .media-details-view h2.contentheading,
#hwd-container .media-details-view h3.contentheading,
#hwd-container .media-details-view h4.contentheading,
#hwd-container .media-details-view h5.contentheading,
#hwd-container .media-details-view h6.contentheading {
	font-size:16px;
	line-height:22px;
    margin:5px 0;
    padding:0 0 25px   
}
/* Gallery specific styles */
#hwd-container .media-gallery-view {
	margin:10px 0;
}
#hwd-container .media-gallery-view .media-item {
	position:relative;
	margin:10px 0;
}
#hwd-container .media-gallery-view .media-item-format-1-1, #hwd-container .media-gallery-view .media-item-format-1-2, #hwd-container .media-gallery-view .media-item-format-1-3, #hwd-container .media-gallery-view .media-item-format-1-4, #hwd-container .media-gallery-view .media-item-format-2, #hwd-container .media-gallery-view .media-item-format-3, #hwd-container .media-gallery-view .media-item-format-4, #hwd-container .media-gallery-view .media-item-format-5, #hwd-container .media-gallery-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
/* List specific styles */
#hwd-container .media-list-view {
	margin:10px 0;
}
#hwd-container .media-list-view .media-item {
	position:relative;
        margin:0 10px 0 0;        
}
#hwd-container .media-list-view .media-item-format-1-1, #hwd-container .media-list-view .media-item-format-1-2, #hwd-container .media-list-view .media-item-format-1-3, #hwd-container .media-list-view .media-item-format-1-4, #hwd-container .media-list-view .media-item-format-2, #hwd-container .media-list-view .media-item-format-3, #hwd-container .media-list-view .media-item-format-4, #hwd-container .media-list-view .media-item-format-5, #hwd-container .media-list-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
#hwd-container .media-list-view p.contentheading {
        font-weight:bold;
}
#hwd-container .media-list-view table .row-fluid span.label {
        margin-right:5px; // Add padding to the labels in the list and manage views.
}
#hwd-container .media-list-view table .row-fluid div.media-info-hits,
#hwd-container .media-list-view table .row-fluid div.media-info-likes {
        clear:both;
        margin:5px 0;        
}
#hwd-container .media-list-view h1.contentheading,
#hwd-container .media-list-view h2.contentheading,
#hwd-container .media-list-view h3.contentheading,
#hwd-container .media-list-view h4.contentheading,
#hwd-container .media-list-view h5.contentheading,
#hwd-container .media-list-view h6.contentheading {
	font-size:16px;
	line-height:22px;
	font-weight:700;
        margin:0 0 5px 0;
        padding:0;
}
/* Category tree specific styles */
#hwd-container .categories-list {
	margin:0 0 20px 0;
	clear:both;
}
#hwd-container .categories-list > ul {
	margin:0;
	padding:0;
	list-style:none;
}
#hwd-container .categories-list > ul > li {
	margin:0;
	padding:10px;
	list-style:none;
	background-color:#f5f5f5;
	margin-bottom:20px;
	padding:19px;
	min-height:20px;
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
        clear:both;        
}
#hwd-container .categories-list > ul > li > .categories-list > ul > li {
	background-color:#f8f8f8;
}
#hwd-container .categories-list > ul > li > .categories-list > ul > li > .categories-list > ul > li {
	background-color:#fff;
}
#hwd-container .categories-list .item-title {
	font-size:16px;
	line-height:36px;
	font-weight:bold;
	display:block;
}
#hwd-container .categories-list .category-desc {
	position:relative;
	padding-right:20px;    
	margin:10px 0;
}
#hwd-container .categories-list dl {
	clear:both;
	display:block;
}
#hwd-container .categories-list dt, #hwd-container .categories-list dd {
	display:inline;
	margin:0;
}
#hwd-container .categories-list .category-desc .media-item {
        width:150px!important; /* Set width of thumbnail container in lists, and category tree */
	position:relative;
	margin:0 10px 5px 0;
}
#hwd-container .categories-list .media-item-format-1-1, #hwd-container .categories-list .media-item-format-1-2, #hwd-container .categories-list .media-item-format-1-3, #hwd-container .categories-list .media-item-format-1-4, #hwd-container .categories-list .media-item-format-2, #hwd-container .categories-list .media-item-format-3, #hwd-container .categories-list .media-item-format-4, #hwd-container .categories-list .media-item-format-5, #hwd-container .categories-list .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
/**********************************************************************************************/
/* Featured media views                                                                       */
#hwd-container .media-featured-view .media-item {
	position:relative;
	margin:10px 0;
}
#hwd-container .media-featured-view .media-item-format-1-1, #hwd-container .media-featured-view .media-item-format-1-2, #hwd-container .media-featured-view .media-item-format-1-3, #hwd-container .media-featured-view .media-item-format-1-4, #hwd-container .media-featured-view .media-item-format-2, #hwd-container .media-featured-view .media-item-format-3, #hwd-container .media-featured-view .media-item-format-4, #hwd-container .media-featured-view .media-item-format-5, #hwd-container .media-featured-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
/**********************************************************************************************/
/* Media item view                                                                            */
#hwd-container .media-item-container {
	margin:0 0 20px 0;
}
#hwd-container .media-item-container .media-item-full {
	text-align:center;
	width:100%;
	margin:10px 0;
	background:#45484d; /* Old browsers */
	background:-moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #45484d 0%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #45484d 0%, #000000 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #45484d 0%, #000000 100%); /* IE10+ */
	background:linear-gradient(top, #45484d 0%, #000000 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0 ); /* IE6-9 */
}
#hwd-container .media-item-container .media-item-full img {
	max-width:100%;
}
#hwd-container .media-respond object, #hwd-container .media-item-container .media-item-full-slideshow object {
	left:0; /* Strange little tweak for JW Player 6 in Flash mode */
}
#hwd-container .media-info-thumbnail {
        float:right;
	max-height:110px;
        padding-left:10px;
}
#hwd-container .media-info-container {
	min-width:180px;
	float:right;
}
#hwd-container .media-actions-container {
	position:relative;
        float:left;
        margin-bottom:10px;
		margin-top:10px;
}
#hwd-container .media-count {
	text-align:right;
	font-weight:bold;
	margin-bottom:5px;
	font-size:1.5em;
}
#hwd-container .media-rating-stats {
	text-align:right;
	margin-bottom:5px;
}
#hwd-container .media-rating-stats { 
        padding-top:10px; 
}
#hwd-container .media-rating-stats .percentbar {
        background:#CCCCCC; 
        border:0; 
        height:10px; 
        float:right; 
        width:100px;
}
#hwd-container .media-rating-stats .percentbar div { 
        background:#559900; 
        height:10px;
}
#hwd-container .media-rating-stats .rating-stats { 
        clear:right;
        padding-top:5px;
        float:right;
}
#hwd-container .media-maker {
	text-align:right;
	margin-bottom:5px;
}
#hwd-container .media-date {
	text-align:right;
	margin-bottom:5px;
}
#hwd-container .icon-heart.red {
        color:#cc181e!important; /* For favourited media */
}
#hwd-container .tags {
        padding:5px 0;
}
#hwd-container .tags li {
        display:inline-block;
        padding:0 0 5px 0;
}
/**********************************************************************************************/
/* Navigation on media item view                                                              */
#hwd-container .media-item-navigation {
	text-align:center;
	width:100%;
	margin:10px 0;
        position:relative;
        color:#cacaca;
        min-height:70px;
}
#hwd-container .media-item-navigation .span4.navigation-next {
        text-align:right;
        padding-right:60px;
        min-height:70px!important; /* Force a hieght to prevent empty navigation from being invisible */
}
#hwd-container .media-item-navigation .span4.navigation-prev {
        text-align:left;
        padding-left:60px;
        min-height:70px!important; /* Force a hieght to prevent empty navigation from being invisible */
}
#hwd-container .media-item-navigation .span4.navigation-next h3,
#hwd-container .media-item-navigation .span4.navigation-next a.navigation-next-title {
        text-align:right;
}
#hwd-container .media-item-navigation .span4.navigation-prev h3,
#hwd-container .media-item-navigation .span4.navigation-prev a.navigation-prev-title {
        text-align:left;
}
#hwd-container .media-item-navigation .navigation-category a, #hwd-container .media-item-navigation .navigation-category h3,
#hwd-container .media-item-navigation .navigation-album a, #hwd-container .media-item-navigation .navigation-album h3,
#hwd-container .media-item-navigation .navigation-group a, #hwd-container .media-item-navigation .navigation-group h3,
#hwd-container .media-item-navigation .navigation-playlist a, #hwd-container .media-item-navigation .navigation-playlist h3 {
        text-align:center;
}
#hwd-container .media-item-navigation .navigation-next a,
#hwd-container .media-item-navigation .navigation-next a.navigation-next-title h3,
#hwd-container .media-item-navigation .navigation-prev a,
#hwd-container .media-item-navigation .navigation-prev a.navigation-prev-title h3,
#hwd-container .media-item-navigation .navigation-category a,
#hwd-container .media-item-navigation .navigation-album a,
#hwd-container .media-item-navigation .navigation-group a,
#hwd-container .media-item-navigation .navigation-playlist a {
        color:#cacaca;
}
#hwd-container .media-item-navigation .navigation-next a:hover,
#hwd-container .media-item-navigation .navigation-prev a:hover,
#hwd-container .media-item-navigation .navigation-category a:hover,
#hwd-container .media-item-navigation .navigation-album a:hover,
#hwd-container .media-item-navigation .navigation-group a:hover,
#hwd-container .media-item-navigation .navigation-playlist a:hover {
        text-decoration:underline;
}
#hwd-container .media-item-navigation .navigation-btn {
        position:absolute;
        top:50%;
        width:50px;
        height:50px;
        font-size:30px;
        z-index:3;
        background-color:#000;
	-webkit-box-shadow:0 0 5px #ff;        
	   -moz-box-shadow:0 0 5px #fff;
	        box-shadow:0 0 5px #fff;
}
#hwd-container .media-item-navigation .navigation-btn.prev {
        left:0;
        margin-top:-25px;        
        margin-left:-10px;
        text-align:center;
        line-height:1em;
}
#hwd-container .media-item-navigation .navigation-btn.next {
        right:0;
        margin-top:-25px;        
        margin-right:-10px;
        text-align:center;
        line-height:1em;
}
#hwd-container .media-item-navigation .navigation-btn i {
        margin-top:17px;        
        margin-left:-15px;
        font-size:30px;
        color:#cacaca;
        z-index:4;
}
#hwd-container .media-item-navigation .navigation-btn i:before {
        line-height:14px
}
#hwd-container .media-item-navigation h3 {
	font-size:13px;
	line-height:15px;
	font-weight:700;
        margin:5px 0 10px 0;
        padding:0;   
        vertical-align:center;
}
/**********************************************************************************************/
/* Category view                                                                              */
#hwd-container .media-category-title {
	float:left;
	margin-right:10px;
}
#hwd-container .media-categories-lists {
	padding:10px;
	margin:10px 0;
}
#hwd-container .media-categories-lists ul {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
#hwd-container .media-categories-lists ul li {
	float:left;
	width:20%;
	margin:0;
	padding:0;
	list-style:none;
}
#hwd-container .media-category-description {
	margin:10px 0 20px 0;
}
/**********************************************************************************************/
/* Search view                                                                                */
#hwd-container .media-search-title {
	float:left;
	margin-right:10px;
}
/**********************************************************************************************/
/* Albums view                                                                                */
#hwd-container .media-album-title {
	float:left;
	margin-right:10px;
}
#hwd-container .media-album-description {
	margin:10px 0 20px 0;
}
/**********************************************************************************************/
/* Groups view                                                                                */
#hwd-container .media-group-title {
	float:left;
	margin-right:10px;
}
#hwd-container .media-group-description {
	margin:10px 0 20px 0;
}
#hwd-container .media-group-map {
	position:relative;
	margin:0;
        height:400px;
        background:#eeeeee;
/*
	border:1px solid #ddd;
	background:-moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
	background:-webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background:-o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background:-ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background:linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); 
*/
}
#hwd-container .media-group-map #media-group-map-canvas { height: 100% } // https://developers.google.com/maps/documentation/javascript/tutorial
#hwd-container .media-group-map .sidebar_map {
	float:right;
	width:25%;
	height:200px;
	overflow-y:scroll;
}
#hwd-container .media-group-map .sidebar_map a {
	display:block;
	padding:5px;
	cursor:pointer;
	border-bottom:1px solid #ddd;
}
#hwd-container .media-group-map .sidebar_map a:hover {
}
#hwd-container .media-group-members img {
	margin:0 5px 5px 0;
}
/**********************************************************************************************/
/* Playlists view                                                                             */
#hwd-container .media-playlist-title {
	float:left;
	margin-right:10px;
}
#hwd-container .media-playlist-description {
	margin:10px 0 20px 0;
}
/**********************************************************************************************/
/* Channels view (and overlay styles)                                                         */
#hwd-container .media-channels-title {
	float:left; /* Requires separate class as channel title is overlaid on header image   */
	margin-right:10px;
}
#hwd-container .media-channel-title {
    color:#fff;
}
#hwd-container .media-channel-overlay
{
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
        background-color:rgba(0, 0, 0, 0.6);
        z-index:3;
        width:100%;
        padding:10px;
        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box;        
}
#hwd-container .media-channel-overlay h2,
#hwd-container .media-channel-overlay h2 {
        padding:0;
        margin:0 0 10px 0;        
}
#hwd-container .media-channel-overlay a,
#hwd-container .media-channel-overlay a,
#hwd-container .media-channel-overlay a:hover,
#hwd-container .media-channel-overlay a:hover,
#hwd-container .media-channel-overlay a:focus,
#hwd-container .media-channel-overlay a:focus
{
        color:#fff;
}
#hwd-container .media-channel-overlay div.media-info-hits,
#hwd-container .media-channel-overlay div.media-info-likes {
        clear:both;
        margin:5px 0;        
}
#hwd-container .media-details-view.channel-view dl.media-info dd.media-info-count { 
	display:inline-block;
        float:none;
        padding:0 0 5px 0; 
}
#hwd-container .media-channel-nav {
	position:absolute;
	right:5px;
	top:5px;
        z-index:3;
}
#hwd-container .media-channel-avatar {
	position:absolute;
	top:5px;
	left:5px;
        z-index:3;
        
}
/**********************************************************************************************/
/* My account                                                                                 */
#hwd-container .media-account-title {
	float:left;
	margin-right:10px;
}
/**********************************************************************************************/
/* Tab menu                                                                                   */
#hwd-container .media-tabmenu ul {
	margin-top:10px;
	margin-left:0;
	margin-bottom:18px;
	list-style:none;
        *zoom:1;
}
#hwd-container .media-tabmenu ul:before,
#hwd-container .media-tabmenu ul:after {
	display:table;
	content:"";
	line-height:0;
}
#hwd-container .media-tabmenu ul:after {
	clear:both;
}
#hwd-container .media-tabmenu ul > li {
	float:left;
}
#hwd-container .media-tabmenu ul > li > a {
	display:block;
	text-decoration:none;
	padding-right:5px;
	padding-left:5px;
	margin-right:10px;
	line-height:14px;
	padding-top:8px;
	padding-bottom:8px;
	margin-top:2px;
	margin-bottom:2px;     
        border-bottom:3px solid;
}
#hwd-container .media-tabmenu ul > li > a:hover,
#hwd-container .media-tabmenu ul > li > a:focus {
	text-decoration:none;
        border-color:#000;
}
#hwd-container .media-tabmenu ul > .active > a,
#hwd-container .media-tabmenu ul > .active > a:hover,
#hwd-container .media-tabmenu ul > .active > a:focus {
        border-bottom:3px solid;
        border-bottom-color:#000;
}
/**********************************************************************************************/
/* Listing meta data                                                                          */
#hwd-container dl.media-info {
        padding:0;
        margin:0;
	font-size:13px;
	line-height:20px;
	font-weight:400;        
}
#hwd-container dl.media-info dd {
        display:block;
        margin:0;
        padding:2px 0;
}
#hwd-container dl.media-info dt.media-info-term {
        display:none;
}
#hwd-container dl.media-info dd.media-info-hits { 
        float:left;
}
#hwd-container dl.media-info dd.media-info-likes { 
        float:right;
}
#hwd-container dl.media-info .media-info-created { 
        color:#999;
}
/**********************************************************************************************/
/* Item meta data                                                                             */
#hwd-container .media-category-description dl.media-info dd, 
#hwd-container .media-album-description dl.media-info dd,
#hwd-container .media-group-description dl.media-info dd,
#hwd-container .media-playlist-description dl.media-info dd,
#hwd-container .media-channel-description dl.media-info dd {
        display:inline-block;
        float:none;
	margin:0;
	margin-right:10px;
	margin-bottom:10px;
	padding:0;
}
#hwd-container .media-category-description dl.media-info dd.media-info-hits, #hwd-container .media-category-description dl.media-info dd.media-info-count,
#hwd-container .media-album-description dl.media-info dd.media-info-hits, #hwd-container .media-album-description dl.media-info dd.media-info-count,
#hwd-container .media-group-description dl.media-info dd.media-info-hits, #hwd-container .media-group-description dl.media-info dd.media-info-count,
#hwd-container .media-playlist-description dl.media-info dd.media-info-hits, #hwd-container .media-playlist-description dl.media-info dd.media-info-count,
#hwd-container .media-channel-description dl.media-info dd.media-info-hits, #hwd-container .media-channel-description dl.media-info dd.media-info-count {
	padding:2px 5px;
}
#hwd-container .media-category-description dl.media-info dd.media-info-likes,
#hwd-container .media-album-description dl.media-info dd.media-info-likes,
#hwd-container .media-group-description dl.media-info dd.media-info-likes,
#hwd-container .media-playlist-description dl.media-info dd.media-info-likes,
#hwd-container .media-channel-description dl.media-info dd.media-info-likes {
	padding:0;
	margin:0;
}
/**********************************************************************************************/
/* Activities                                                                                 */
#hwd-container ul.media-activity-list {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
#hwd-container ul.media-activity-list li.media-activity-item {
	margin:0 0 5px 0;
	padding:0;
	list-style:none;
        clear:both;        
}
#hwd-container ul.media-activity-list li.media-activity-item .media-activity-avatar {
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
#hwd-container ul.media-activity-list li.media-activity-item .media-activity-desc {
        margin:0;
        padding:0;       
}
#hwd-container ul.media-activity-list li.media-activity-item .media-activity-date {
	font-size:11px;
        margin:0;
        padding:0;
}
/**********************************************************************************************/
/* Responsive media display (controls the aspect and responsiveness of the players)           */
#hwd-container .media-respond {
        overflow:hidden;
        position:relative;
        margin:0 auto;
}
#hwd-container .media-respond div.media-content {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        z-index:2;
        clear:both;
}
#hwd-container .media-respond .media-aspect {
        background:#000;
        z-index:1;
}
#hwd-container .media-respond .media-aspect[data-aspect='0.75'] {
        padding-top:75%; /* 4:3 aspect ratio */
}
#hwd-container .media-respond .media-aspect[data-aspect='0.5625'] {
        padding-top:56%; /* 16:9 aspect ratio */
}
/**********************************************************************************************/
/* Set width of thumbnails in lists                                                           */
#hwd-container div.media-item img.media-thumb {
        max-width:100%;   
}
#hwd-container div.media-item:not(.originalaspect) img.media-thumb {
        top: 50%;
        -webkit-transform: translateY(-50%); 
           -moz-transform: translateY(-50%); 
            -ms-transform: translateY(-50%); 
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
    
}
#hwd-container table.category div.media-item {
        width:100px!important;
}
/**********************************************************************************************/
/* Gives us some margin for alerts (used within the player container)                         */
#hwd-container .alert.margin10 { 
        margin:10px;
}
/**********************************************************************************************/
/* Sharing panel                                                                              */
#hwd-container .share-panel { 
        margin:25px 0;
}
#hwd-container .share-panel .share-url,
#hwd-container .share-panel .share-embed { 
        position:relative; 
}
#hwd-container .share-panel .icon-link,
#hwd-container .share-panel .icon-embed {
        position:absolute;
        padding:7px 10px;
        pointer-events:none;
        left:0px;
}
#hwd-container .row-fluid.share-panel input.share-url-input,
#hwd-container .row-fluid.share-panel input.share-embed-input {
        color:#666;
        margin-left:0!important;
        padding-left:30px;
        padding-top:6px;
        padding-bottom:6px;
        width:100%;
        margin:0;
}
#hwd-container .share-panel label { 
        color:#456;
        font-size:18px;
        display:block;
}
#hwd-container .share-panel .social-icon {
        max-width:32px;
        margin-right:10px;
}
#hwd-container .share-panel .social-icon img {
        height:auto;
        max-width:100%;
        vertical-align:middle;
}
/**********************************************************************************************/
/* UberUpload upload bar                                                                      */
#upload_status_wrap {
        margin-bottom:10px;
}
#upload_status_wrap.bar1 {
        background-color:#FFFFFF;
        position:relative;
        text-align:left;
        height:24px;
        width:250px;
        border:1px solid #505050;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
}
#upload_status.bar2 {
        background-color:#99CC00;
        position:relative;
        text-align:left;
        height:24px;
        width:0%;
        background-image:url('../images/ajaxupload/progress-bar/progress.gif');
}
/**********************************************************************************************/
/* Modal windows for adding media/members to elments                                          */
body.modal .filter .btn-toolbar {
    margin-left:5px;
    margin-right:5px;
}
body.modal .pull-right.thumb-wrapper {
        margin-bottom:0;
        margin-left:5px;
        margin-right:0;
        margin-top:0;
}
body.modal .pull-left.thumb-wrapper {
        margin-bottom:0;
        margin-left:0;
        margin-right:5px;
        margin-top:0;
}
/**********************************************************************************************/
/* Forms                                                                                      */
#hwd-container input.input-large-text {
	font-size:18px!important;
	height:auto!important;
}
#hwd-container input.hwd-form-title {
        min-height:38px!important;
}
#hwd-container input.hwd-form-filedata {
        margin-bottom:5px;
}
#hwd-container .btn-toolbar.category-save-button {
        margin-top:0px; // Prevents margin for the category edit page.
}
#hwd-container input.hwd-form-keywords {
        width:350px;
        max-width:100%;
}
/**********************************************************************************************/
/* Media queries                                                                              */
@media only screen and (max-width:767px) {
        #hwd-container .media-details {
                float:none;
        }
        #hwd-container .media-info-container {
                float:none;
                width:100%;
        }
        #hwd-container .media-info-container div {
                text-align:left;
        } 
        #hwd-container .media-item img, #hwd-container .media-item-full img {
                max-width:100%!important;
        }
        #hwd-container .media-actions-container {
                float:none;
                width:100%;
        }
        #hwd-container .media-rating-stats { 
                padding-top:10px; 
        }
        #hwd-container .media-rating-stats .percentbar {
                float:left; 
        }
        #hwd-container .media-rating-stats .rating-stats { 
                clear:left;
                float:left;
                padding-bottom:10px; 
        }
        #hwd-container .display-limit {
                float:none;
                margin-bottom:5px;
        }
    
}
/* Sharing panel */
@media only screen and (max-width:767px) {
        #hwd-container .row-fluid.share-panel [class*="span"] {
                display:block;
                width:100%;
                min-height:28px;
                -webkit-box-sizing:border-box;
                   -moz-box-sizing:border-box;
                        box-sizing:border-box;
                float:left;
                margin-left:2.127659574%;
                *margin-left:2.0744680846383%;
        }
        #hwd-container .row-fluid.share-panel [class*="span"]:first-child {
                margin-left:0;
        }        
        #hwd-container .row-fluid.share-panel .span6 {
                width:48.936170208%;
                *width:48.882978718638%;
        }        
}




















.ajax-loading {
	background:transparent url(../images/ajax-loader.gif) center center no-repeat!important;
	min-width:16px!important;
	min-height:11px!important;
}
.ajax-loading-button {
	background:transparent url(../images/ajax-loader.gif) center center no-repeat!important;
	width:auto!important;
	height:auto!important;
	margin-bottom:0!important;
	padding:3px 20px!important;
	text-indent:-9999px!important;
}
.ajax-error {
	color:red!important;
	background-color:#F2DEDE!important;
}
.ajax-success {
	color:#468847!important;
	background-color:#DFF0D8!important;
}
.ajax-loading-slideshow {
	background:transparent url(../images/ajax-loader-slideshow.gif) center center no-repeat;
	width:16px;
	height:16px;
}













/**********************************************************************************************/
/* Magnific popup */
.mfp-iframe-holder .mfp-content {                   /* Global iframe width                                       */
        max-width:900px;
}
.mfp-iframe-form .mfp-iframe-holder .mfp-content {         /* Global iframe width                                        */    
        max-width:600px;      
}
.mpf-page .mfp-iframe-holder .mfp-content {         /* Global iframe width                                        */           
        max-width:900px;
}
.mfp-alert .mfp-iframe-holder .mfp-content {
        max-width:600px; 
        max-height:250px;
}
.mfp-alert .mfp-iframe-holder span.mfp-close {
        color:#FFFFFF!important;
        padding-right:6px;
        right:-6px;
        text-align:right;
        font-size:14px;
        cursor:pointer;
        width:100%;
        opacity:1;
}
.mfp-alert .mfp-inline-holder .mfp-content {
        max-width:600px; 
        max-height:250px;

  background-attachment:scroll;
  background-clip:border-box;
  background-color:#fff;
  background-image:none;
  background-origin:padding-box;
  background-position:0 0;
  background-repeat:repeat;
  background-size:auto auto;
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  max-width:650px;
  padding-bottom:20px;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  position:relative;
  text-align:left;
        
}
.mfp-alert .mfp-inline-holder span.mfp-close {
        color:#FFFFFF!important;
        padding-right:6px;
        right:-6px;
        text-align:right;
        font-size:14px;
        cursor:pointer;
        width:100%;
        opacity:1;
}
.mfp-video-vineco .mfp-iframe-scaler {              /* Aspect ratio for vine.co                  */
        padding-top:600px;
}
.mfp-video-vineco .mfp-iframe-holder .mfp-content { /* Aspect ratio for vine.co                  */
        max-width:600px;
}
/* ajax video */
.mfp-ajax-audio .mfp-ajax-holder .mfp-content,
.mfp-ajax-document .mfp-ajax-holder .mfp-content,
.mfp-ajax-image .mfp-ajax-holder .mfp-content,
.mfp-ajax-video .mfp-ajax-holder .mfp-content {
        line-height:0;
        width:100%;
        max-width:900px;
}
.mfp-ajax-audio .mfp-ajax-holder .mfp-close,
.mfp-ajax-document .mfp-ajax-holder .mfp-close,
.mfp-ajax-image .mfp-ajax-holder .mfp-close,
.mfp-ajax-video .mfp-ajax-holder .mfp-close {
        color:white;
        right:-6px;
        text-align:right;
        padding-right:6px;
        width:100%;
}
.mfp-ajax-audio .mfp-ajax-holder,
.mfp-ajax-document .mfp-ajax-holder,
.mfp-ajax-image .mfp-ajax-holder,
.mfp-ajax-video .mfp-ajax-holder {
        padding-top:40px;
        padding-bottom:40px; 
}
.mfp-ajax-audio .mfp-ajax-holder .mfp-close,
.mfp-ajax-document .mfp-ajax-holder .mfp-close,
.mfp-ajax-image .mfp-ajax-holder .mfp-close,
.mfp-ajax-video .mfp-ajax-holder .mfp-close {
        top:-40px; 
}

.mfp-iframe-holder .mfp-close {
        background:none;
        background-image:none;
        border:none;
}
.mfp-ajax-embed .mfp-ajax-holder .mfp-content {
        line-height:0;
        width:auto;
        max-width:900px;
}
.mfp-ajax-embed .mfp-ajax-holder .mfp-close {
        color:white;
        right:-6px;
        text-align:right;
        padding-right:6px;
        width:100%;
}
.mfp-ajax-embed .mfp-ajax-holder {
        padding-top:40px;
        padding-bottom:40px; 
}
.mfp-ajax-embed .mfp-ajax-holder .mfp-close {
        top:-40px; 
}








/* FIX:JoomlaXTC - Retroid  */
#hwd-container .media-mediamenu ul.nav-pills li {
	list-style:none;
}
/* FIX:Theme1984  */
#hwd-container .row-fluid {
        margin-left:0;
}
#hwd-container .row-fluid [class*="span"] {
        padding-left:0;
}
/* FIX:XTC Retroid   */
#hwd-container div.media-header ul.dropdown-menu li {
        list-style-type:none;
}
/* FIX:rt_ionosphere_responsive */
#hwd-container .btn {
	margin-top:0;
}
/* FIX:Artisteer */
#hwd-container .media-item a img {
        margin:0px;
}
/* FIX:Artisteer */
#hwd-container .btn {
        height:auto;
}
/* FIX:Rt_myriad */
#adminForm #hwd-container fieldset {
        padding:0;
        margin:0;
}
/* FIX:Custom */
#hwd-container .media-item img.media-thumb,
.hwd-container .media-item img.media-thumb {
        margin-right:0;
        margin-left:0;
}
/* FIX:Input padding when span assigned to class */
#hwd-container .row-fluid input.span12 {
        padding-left:6px;
}
/* FIX:Xero */
#hwd-container dl {
        clear:none;
}
#hwd-container .media-details-view h1.contentheading,
#hwd-container .media-details-view h2.contentheading,
#hwd-container .media-details-view h3.contentheading,
#hwd-container .media-details-view h4.contentheading,
#hwd-container .media-details-view h5.contentheading,
#hwd-container .media-details-view h6.contentheading {
	clear:none;   
}
/* FIX:JWPlayer */
#hwd-container .jwvideo audio, #hwd-container .jwvideo video,
.hwd-container .jwvideo audio, .hwd-container .jwvideo video {
        max-width: none;
}
/* FIX:gk_game_magazine */
#hwd-container button {
    float:none;
}












