@charset "utf-8";
/* CSS Document Copyright (C) 2015 Highwood Design Limited. All rights reserved.
/* This sheet loads core Joomla styles which HWD attempts
/* to use both for the component and module views.
/**********************************************************************************************/
/*
 * Icons
 * 
 */
@font-face {
	font-family: 'IcoMoon';
	src: url('../../../../media/jui/fonts/IcoMoon.eot');
	src: url('../../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HwdIcoMoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
#hwd-container [data-icon]:before, .hwd-container [data-icon]:before {
	font-family: 'HwdIcoMoon', 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
#hwd-container [class^="icon-"], .hwd-container [class^="icon-"],
#hwd-container [class*=" icon-"], .hwd-container [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
        background:none!important; /* Prevent use of glyphicons background image */
}
#hwd-container [class^="icon-"]:before, .hwd-container [class^="icon-"]:before,
#hwd-container [class*=" icon-"]:before, .hwd-container [class*=" icon-"]:before {
	font-family: 'HwdIcoMoon', 'IcoMoon';
	font-style: normal;
	speak: none;
}
#hwd-container [class^="icon-"].disabled, .hwd-container [class^="icon-"].disabled,
#hwd-container [class*=" icon-"].disabled, .hwd-container [class*=" icon-"].disabled {
	font-weight: normal;
}
/* joomla-icomoon */
#hwd-container .icon-edit:before, .hwd-container .icon-edit:before {
	content: "\2b";
}
#hwd-container .icon-unpublish:before, .hwd-container .icon-unpublish:before {
	content: "\4a";
}
#hwd-container .icon-publish:before, .hwd-container .icon-publish:before {
	content: "\47";
}
#hwd-container .icon-delete:before, .hwd-container .icon-delete:before {
	content: "\49";
}
#hwd-container .icon-arrow-left:before, .hwd-container .icon-arrow-left:before {
	content: "\e008";
}
#hwd-container .icon-arrow-right:before, .hwd-container .icon-arrow-right:before {
	content: "\e006";
}
#hwd-container .icon-user:before, .hwd-container .icon-user:before {
	content: "\22";
}
/*#hwd-container .icon-thumbs-up:before, .hwd-container .icon-thumbs-up:before {
	content: "\5b";
}
#hwd-container .icon-thumbs-down:before, .hwd-container .icon-thumbs-down:before {
	content: "\5c";
}*/
#hwd-container .icon-flag:before, .hwd-container .icon-flag:before {
	content: "\35";
}
#hwd-container .icon-search:before, .hwd-container .icon-search:before {
	content: "\53";
}
#hwd-container .icon-checkmark:before, .hwd-container .icon-checkmark:before {
	content: "\47";
}
/* hwd-icomoon */
#hwd-container .icon-thumbs-up:before, .hwd-container .icon-thumbs-up:before {
	content: "\e613";
}
#hwd-container .icon-thumbs-down:before, .hwd-container .icon-thumbs-down:before {
	content: "\e614";
}
#hwd-container .icon-download:before, .hwd-container .icon-download:before {
	content: "\e600";
}
#hwd-container .icon-info:before, .hwd-container .icon-info:before {
	content: "\e606";
}
#hwd-container .icon-share:before, .hwd-container .icon-share:before {
	content: "\e60d";
}
#hwd-container .icon-link:before, .hwd-container .icon-link:before {
	content: "\e604";
}
#hwd-container .icon-embed:before, .hwd-container .icon-embed:before {
	content: "\e60b";
}
#hwd-container .icon-code:before, .hwd-container .icon-code:before {
	content: "\e60c";
}
#hwd-container .icon-play:before, .hwd-container .icon-play:before {
	content: "\e60a";
}
#hwd-container .icon-warning:before, .hwd-container .icon-warning:before {
	content: "\e615";
}
#hwd-container .icon-star:before, .hwd-container .icon-star:before {
	content: "\e611";
}
#hwd-container .icon-plus:before, .hwd-container .icon-plus:before {
	content: "\e609";
}
#hwd-container .icon-tree:before, .hwd-container .icon-tree:before {
	content: "\e603";
}
#hwd-container .icon-location:before, .hwd-container .icon-location:before {
	content: "\e61e";
}
#hwd-container .icon-calendar:before, .hwd-container .icon-calendar:before {
	content: "\e61f";
}
#hwd-container .icon-heart:before, .hwd-container .icon-heart:before {
	content: "\e612";
}
#hwd-container .icon-expand:before, .hwd-container .icon-expand:before {
	content: "\e602";
}


#hwd-container .icon-image:before, .hwd-container .icon-image:before {
	content: "\2f";
}
#hwd-container .icon-grid:before, .hwd-container .icon-grid:before {
	content: "\58";
}
#hwd-container .icon-list:before, .hwd-container .icon-list:before {
	content: "\31";
}

/*
 * Alignment
 * 
 */
#hwd-container .pull-right, .hwd-container .pull-right {
	float:right;
}
#hwd-container .pull-left, .hwd-container .pull-left {
	float:left;
}
/*
 * Clearfix
 * 
 */
#hwd-container .clearfix, #hwd-container .clearfix {
	*zoom: 1;
}
#hwd-container .clearfix:before, .hwd-container .clearfix:before,
#hwd-container .clearfix:after, .hwd-container .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
#hwd-container .clearfix:after, .hwd-container .clearfix:after {
	clear: both;
}
/*
 * Grid
 * 
 */
#hwd-container .row, .hwd-container .row {
	margin-left: -20px;
	*zoom: 1;
}
#hwd-container .row:before, .hwd-container .row:before,
#hwd-container .row:after, .hwd-container .row:after {
	display: table;
	content: "";
	line-height: 0;
}
#hwd-container .row:after, .hwd-container .row:after {
	clear: both;
}
#hwd-container [class*="span"], .hwd-container [class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
#hwd-container .span12, .hwd-container .span12 {
	width: 940px;
}
#hwd-container .span11, .hwd-container .span11 {
	width: 860px;
}
#hwd-container .span10, .hwd-container .span10 {
	width: 780px;
}
#hwd-container .span9, .hwd-container .span9 {
	width: 700px;
}
#hwd-container .span8, .hwd-container .span8 {
	width: 620px;
}
#hwd-container .span7, .hwd-container .span7 {
	width: 540px;
}
#hwd-container .span6, .hwd-container .span6 {
	width: 460px;
}
#hwd-container .span5, .hwd-container .span5 {
	width: 380px;
}
#hwd-container .span4, .hwd-container .span4 {
	width: 300px;
}
#hwd-container .span3, .hwd-container .span3 {
	width: 220px;
}
#hwd-container .span2, .hwd-container .span2 {
	width: 140px;
}
#hwd-container .span1, .hwd-container .span1 {
	width: 60px;
}
#hwd-container .row-fluid, .hwd-container .row-fluid {
	width: 100%;
	*zoom: 1;
}
#hwd-container .row-fluid:before, .hwd-container .row-fluid:before,
#hwd-container .row-fluid:after, .hwd-container .row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
#hwd-container .row-fluid:after, .hwd-container .row-fluid:after {
	clear: both;
}
#hwd-container .row-fluid [class*="span"], .hwd-container .row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846383%;
}
#hwd-container .row-fluid [class*="span"]:first-child, .hwd-container .row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
#hwd-container .row-fluid .controls-row [class*="span"] + [class*="span"], .hwd-container .row-fluid .controls-row [class*="span"] + [class*="span"] {
	margin-left: 2.127659574%;
}
#hwd-container .row-fluid .span12, .hwd-container .row-fluid .span12 {
	width: 99.99999999%;
	*width: 99.946808500638%;
}
#hwd-container .row-fluid .span11, .hwd-container .row-fluid .span11 {
	width: 91.489361693%;
	*width: 91.436170203638%;
}
#hwd-container .row-fluid .span10, .hwd-container .row-fluid .span10 {
	width: 82.978723396%;
	*width: 82.925531906638%;
}
#hwd-container .row-fluid .span9, .hwd-container .row-fluid .span9 {
	width: 74.468085099%;
	*width: 74.414893609638%;
}
#hwd-container .row-fluid .span8, .hwd-container .row-fluid .span8 {
	width: 65.957446802%;
	*width: 65.904255312638%;
}
#hwd-container .row-fluid .span7, .hwd-container .row-fluid .span7 {
	width: 57.446808505%;
	*width: 57.393617015638%;
}
#hwd-container .row-fluid .span6, .hwd-container .row-fluid .span6 {
	width: 48.936170208%;
	*width: 48.882978718638%;
}
#hwd-container .row-fluid .span5, .hwd-container .row-fluid .span5 {
	width: 40.425531911%;
	*width: 40.372340421638%;
}
#hwd-container .row-fluid .span4, .hwd-container .row-fluid .span4 {
	width: 31.914893614%;
	*width: 31.861702124638%;
}
#hwd-container .row-fluid .span3, .hwd-container .row-fluid .span3 {
	width: 23.404255317%;
	*width: 23.351063827638%;
}
#hwd-container .row-fluid .span2.fivecolumns, .hwd-container .row-fluid .span2.fivecolumns {
	width: 18.2978723408%;
	*width: 18.34042553228936%;
}
#hwd-container .row-fluid .span2, .hwd-container .row-fluid .span2 {
	width: 14.89361702%;
	*width: 14.840425530638%;
}
#hwd-container .row-fluid .span1, .hwd-container .row-fluid .span1 {
	width: 6.382978723%;
	*width: 6.3297872336383%;
}
#hwd-container .row-fluid .offset12, .hwd-container .row-fluid .offset12 {
	margin-left: 104.255319138%;
	*margin-left: 104.14893615928%;
}
#hwd-container .row-fluid .offset12:first-child, .hwd-container .row-fluid .offset12:first-child {
	margin-left: 102.127659564%;
	*margin-left: 102.02127658528%;
}
#hwd-container .row-fluid .offset11, .hwd-container .row-fluid .offset11 {
	margin-left: 95.744680841%;
	*margin-left: 95.638297862277%;
}
#hwd-container .row-fluid .offset11:first-child, .hwd-container .row-fluid .offset11:first-child {
	margin-left: 93.617021267%;
	*margin-left: 93.510638288277%;
}
#hwd-container .row-fluid .offset10, .hwd-container .row-fluid .offset10 {
	margin-left: 87.234042544%;
	*margin-left: 87.127659565277%;
}
#hwd-container .row-fluid .offset10:first-child, .hwd-container .row-fluid .offset10:first-child {
	margin-left: 85.10638297%;
	*margin-left: 84.999999991277%;
}
#hwd-container .row-fluid .offset9, .hwd-container .row-fluid .offset9 {
	margin-left: 78.723404247%;
	*margin-left: 78.617021268277%;
}
#hwd-container .row-fluid .offset9:first-child, .hwd-container .row-fluid .offset9:first-child {
	margin-left: 76.595744673%;
	*margin-left: 76.489361694277%;
}
#hwd-container .row-fluid .offset8, .hwd-container .row-fluid .offset8 {
	margin-left: 70.21276595%;
	*margin-left: 70.106382971277%;
}
#hwd-container .row-fluid .offset8:first-child, .hwd-container .row-fluid .offset8:first-child {
	margin-left: 68.085106376%;
	*margin-left: 67.978723397277%;
}
#hwd-container .row-fluid .offset7, .hwd-container .row-fluid .offset7 {
	margin-left: 61.702127653%;
	*margin-left: 61.595744674277%;
}
#hwd-container .row-fluid .offset7:first-child, .hwd-container .row-fluid .offset7:first-child {
	margin-left: 59.574468079%;
	*margin-left: 59.468085100277%;
}
#hwd-container .row-fluid .offset6, .hwd-container .row-fluid .offset6 {
	margin-left: 53.191489356%;
	*margin-left: 53.085106377277%;
}
#hwd-container .row-fluid .offset6:first-child, .hwd-container .row-fluid .offset6:first-child {
	margin-left: 51.063829782%;
	*margin-left: 50.957446803277%;
}
#hwd-container .row-fluid .offset5, .hwd-container .row-fluid .offset5 {
	margin-left: 44.680851059%;
	*margin-left: 44.574468080277%;
}
#hwd-container .row-fluid .offset5:first-child, .hwd-container .row-fluid .offset5:first-child {
	margin-left: 42.553191485%;
	*margin-left: 42.446808506277%;
}
#hwd-container .row-fluid .offset4, .hwd-container .row-fluid .offset4 {
	margin-left: 36.170212762%;
	*margin-left: 36.063829783277%;
}
#hwd-container .row-fluid .offset4:first-child, .hwd-container .row-fluid .offset4:first-child {
	margin-left: 34.042553188%;
	*margin-left: 33.936170209277%;
}
#hwd-container .row-fluid .offset3, .hwd-container .row-fluid .offset3 {
	margin-left: 27.659574465%;
	*margin-left: 27.553191486277%;
}
#hwd-container .row-fluid .offset3:first-child, .hwd-container .row-fluid .offset3:first-child {
	margin-left: 25.531914891%;
	*margin-left: 25.425531912277%;
}
#hwd-container .row-fluid .offset2, .hwd-container .row-fluid .offset2 {
	margin-left: 19.148936168%;
	*margin-left: 19.042553189277%;
}
#hwd-container .row-fluid .offset2:first-child, .hwd-container .row-fluid .offset2:first-child {
	margin-left: 17.021276594%;
	*margin-left: 16.914893615277%;
}
#hwd-container .row-fluid .offset1, .hwd-container .row-fluid .offset1 {
	margin-left: 10.638297871%;
	*margin-left: 10.531914892277%;
}
#hwd-container .row-fluid .offset1:first-child, .hwd-container .row-fluid .offset1:first-child {
	margin-left: 8.510638297%;
	*margin-left: 8.4042553182766%;
}
#hwd-container [class*="span"].hide, .hwd-container [class*="span"].hide,
#hwd-container .row-fluid [class*="span"].hide, .hwd-container .row-fluid [class*="span"].hide {    
	display: none;
}
#hwd-container [class*="span"].pull-right, .hwd-container [class*="span"].pull-right,
#hwd-container .row-fluid [class*="span"].pull-right, .hwd-container .row-fluid [class*="span"].pull-right {
	float: right;
}
/*
 * Tables
 * 
 */
#hwd-container table, .hwd-container table {
	max-width: 100%;
}
#hwd-container .table, .hwd-container .table {
	width: 100%;
	margin-bottom: 18px;
}
#hwd-container .table th, .hwd-container .table th,
#hwd-container .table td, .hwd-container .table td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
#hwd-container .table th, .hwd-container .table th {
	font-weight: bold;
}
#hwd-container .table thead th, .hwd-container .table thead th {
	vertical-align: bottom;
}
/*
 * Wells
 * 
 */
#hwd-container .well, .hwd-container .well {
/*	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
#hwd-container .well-large, .hwd-container .well-large {
	padding: 24px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}
#hwd-container .well-small, .hwd-container .well-small {
	padding: 9px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;*/
			display:none;
}
/*
 * Dropdown
 * 
 */
#hwd-container .dropdown-menu, .hwd-container .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}
#hwd-container .dropdown-menu.pull-right, .hwd-container .dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
#hwd-container .dropdown-menu > li > a, .hwd-container .dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
        text-decoration: none;
}
#hwd-container .dropdown-menu > li > a:hover, .hwd-container .dropdown-menu > li > a:hover,
#hwd-container .dropdown-menu > li > a:focus, .hwd-container .dropdown-menu > li > a:focus {    
	text-decoration: none;
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top,#08c,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#08c,#0077b3);
	background-image: -o-linear-gradient(top,#08c,#0077b3);
	background-image: linear-gradient(to bottom,#08c,#0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}
#hwd-container .dropdown-menu > .active > a, .hwd-container .dropdown-menu > .active > a,
#hwd-container .dropdown-menu > .active > a:hover, .hwd-container .dropdown-menu > .active > a:hover,
#hwd-container .dropdown-menu > .active > a:focus, .hwd-container .dropdown-menu > .active > a:focus {
        color: #333;
	text-decoration: none;
	outline: 0;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top,#08c,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#08c,#0077b3);
	background-image: -o-linear-gradient(top,#08c,#0077b3);
	background-image: linear-gradient(to bottom,#08c,#0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0076b2', GradientType=0);
}
#hwd-container .open, .hwd-container .open {
	*z-index: 1000;
}
#hwd-container .open > .dropdown-menu, .hwd-container .open > .dropdown-menu {
	display: block;
}
#hwd-container .pull-right > .dropdown-menu, .hwd-container .pull-right > .dropdown-menu {
	right: 0;
	left: auto;
}
/*
 * Tabs and Pills
 * 
 */
#hwd-container .nav, .hwd-container .nav {
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
#hwd-container .nav > li > a, .hwd-container .nav > li > a {
	display: block;
	text-decoration: none;
}
#hwd-container .nav > li > a:hover, .hwd-container .nav > li > a:hover,
#hwd-container .nav > li > a:focus, .hwd-container .nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}
#hwd-container .nav-tabs, .hwd-container .nav-tabs,
#hwd-container .nav-pills, .hwd-container .nav-pills {    
	*zoom: 1;
}
#hwd-container .nav-tabs:before, .hwd-container .nav-tabs:before,
#hwd-container .nav-tabs:after, .hwd-container .nav-tabs:after,
#hwd-container .nav-pills:before, .hwd-container .nav-pills:before,
#hwd-container .nav-pills:after, .hwd-container .nav-pills:after {
	display: table;
	content: "";
	line-height: 0;
}
#hwd-container .nav-tabs:after, .hwd-container .nav-tabs:after,
#hwd-container .nav-pills:after, .hwd-container .nav-pills:after {
	clear: both;
}
#hwd-container .nav-tabs > li, .hwd-container .nav-tabs > li,
#hwd-container .nav-pills > li, .hwd-container .nav-pills > li {
	float: left;
}
#hwd-container .nav-tabs > li > a, .hwd-container .nav-tabs > li > a,
#hwd-container .nav-pills > li > a, .hwd-container .nav-pills > li > a {    
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
}
#hwd-container .nav-tabs, .hwd-container .nav-tabs {
	border-bottom: 1px solid #ddd;
	display:none;
}
#hwd-container .nav-tabs > li, .hwd-container .nav-tabs > li {
	margin-bottom: -1px;
}
#hwd-container .nav-tabs > li > a, .hwd-container .nav-tabs > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
}
#hwd-container .nav-tabs > li > a:hover, .hwd-container .nav-tabs > li > a:hover,
#hwd-container .nav-tabs > li > a:focus, .hwd-container .nav-tabs > li > a:focus {
	border-color: #eee #eee #ddd;
}
#hwd-container .nav-tabs > .active > a, .hwd-container .nav-tabs > .active > a,
#hwd-container .nav-tabs > .active > a:hover, .hwd-container .nav-tabs > .active > a:hover,
#hwd-container .nav-tabs > .active > a:focus, .hwd-container .nav-tabs > .active > a:focus {
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}
#hwd-container .nav-pills > li > a, .hwd-container .nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
#hwd-container .nav-pills > .active > a, .hwd-container .nav-pills > .active > a,
#hwd-container .nav-pills > .active > a:hover, .hwd-container .nav-pills > .active > a:hover,
#hwd-container .nav-pills > .active > a:focus, .hwd-container .nav-pills > .active > a:focus {
	color: #fff;
	background-color: #08c;
}
#hwd-container .tab-content, .hwd-container .tab-content {
	overflow: auto;
	overflow: hidden;        
}
#hwd-container .tab-content > .tab-pane, .hwd-container .tab-content > .tab-pane,
#hwd-container .pill-content > .pill-pane, .hwd-container .pill-content > .pill-pane {
	display: none;
}
#hwd-container .tab-content > .active, .hwd-container .tab-content > .active,
#hwd-container .pill-content > .active, .hwd-container .pill-content > .active {
	display: block;
}
/*
 * Inputs
 * 
 */
#hwd-container select, .hwd-container select,
#hwd-container textarea, .hwd-container textarea,
#hwd-container input[type="text"], .hwd-container input[type="text"],
#hwd-container input[type="password"], .hwd-container input[type="password"],
#hwd-container input[type="datetime"], .hwd-container input[type="datetime"],
#hwd-container input[type="datetime-local"], .hwd-container input[type="datetime-local"],
#hwd-container input[type="date"], .hwd-container input[type="date"],
#hwd-container input[type="month"], .hwd-container input[type="month"],
#hwd-container input[type="time"], .hwd-container input[type="time"],
#hwd-container input[type="week"], .hwd-container input[type="week"],
#hwd-container input[type="number"], .hwd-container input[type="number"],
#hwd-container input[type="email"], .hwd-container input[type="email"],
#hwd-container input[type="url"], .hwd-container input[type="url"],
#hwd-container input[type="search"], .hwd-container input[type="search"],
#hwd-container input[type="tel"], .hwd-container input[type="tel"],
#hwd-container input[type="color"], .hwd-container input[type="color"] {
	display: inline-block;
	height: 18px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	vertical-align: middle;
        box-sizing: content-box; /* Force heights to be consistent */
}
#hwd-container select, .hwd-container select,
#hwd-container input[type="file"], .hwd-container input[type="file"] {
	height: 28px;
	*margin-top: 4px;
	line-height: 28px;
        box-sizing: border-box; /* Force heights to be consistent */
}
#hwd-container select, .hwd-container select {
	width: 220px;
	border: 1px solid #ccc;
	background-color: #fff;
}
#hwd-container select[multiple], .hwd-container select[multiple],
#hwd-container select[size], .hwd-container select[size] {
	height: auto;
}
#hwd-container .input-mini, .hwd-container .input-mini {
	width: 60px;
}
#hwd-container .input-small, .hwd-container .input-small {
	width: 90px;
}
#hwd-container .input-medium, .hwd-container .input-medium {
	width: 150px;
}
#hwd-container .input-large, .hwd-container .input-large {
	width: 210px;
}
#hwd-container .input-xlarge, .hwd-container .input-xlarge {
	width: 270px;
}
#hwd-container .input-xxlarge, .hwd-container .input-xxlarge {
	width: 530px;
}
/*
 * Search filter
 * 
 */
#hwd-container .js-stools .btn-wrapper, .hwd-container .js-stools .btn-wrapper {
	display: inline-block;
	margin: 0 5px 0 0;
}
#hwd-container button.btn::-moz-focus-inner, .hwd-container button.btn::-moz-focus-inner,
#hwd-container input[type="submit"].btn::-moz-focus-inner, .hwd-container input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}
#hwd-container .input-append input[class*="span"], .hwd-container .input-append input[class*="span"] {
	display: inline-block;
}
#hwd-container .input-append, .hwd-container .input-append {
	display: inline-block;
	margin-bottom: 9px;
	vertical-align: middle;
	font-size: 0;
	white-space: nowrap;
}
#hwd-container .input-append input, .hwd-container .input-append input,
#hwd-container .input-append select, .hwd-container .input-append select {
	font-size: 13px;
}
#hwd-container .input-append input, .hwd-container .input-append input,
#hwd-container .input-append select, .hwd-container .input-append select {
	position: relative;
	margin-bottom: 0;
	*margin-left: 0;
	vertical-align: top;
	-webkit-border-radius: 0 3px 3px 0;
	   -moz-border-radius: 0 3px 3px 0;
	        border-radius: 0 3px 3px 0;
}
#hwd-container .input-append .btn, .hwd-container .input-append .btn {
	vertical-align: top;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
#hwd-container .input-append .active, .hwd-container .input-append .active {
	background-color: #a9dba9;
	border-color: #46a546;
}
#hwd-container .input-append input, .hwd-container .input-append input,
#hwd-container .input-append select, .hwd-container .input-append select {
	-webkit-border-radius: 3px 0 0 3px;
	   -moz-border-radius: 3px 0 0 3px;
	        border-radius: 3px 0 0 3px;
}
#hwd-container .input-append .btn, .hwd-container .input-append .btn {
	margin-left: -1px;
}
#hwd-container .input-append .btn:last-child, .hwd-container .input-append .btn:last-child {
	-webkit-border-radius: 0 3px 3px 0;
	   -moz-border-radius: 0 3px 3px 0;
	        border-radius: 0 3px 3px 0;
}
/*
 * Carets
 * 
 */
#hwd-container .caret, .hwd-container .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}
#hwd-container .dropdown .caret, .hwd-container .dropdown .caret {
	margin-top: 8px;
	margin-left: 2px;
}
#hwd-container .btn .caret, .hwd-container .btn .caret {
	margin-top: 8px;
	margin-left: 0;
	margin-bottom: 7px;
}
#hwd-container .btn-group .btn .caret, .hwd-container .btn-group .btn .caret {
	margin-top: 7px;
	margin-left: 0;
	margin-bottom: 7px;
}
#hwd-container .btn-large .caret, .hwd-container .btn-large .caret {
	margin-top: 6px;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
}
#hwd-container .btn-mini .caret, .hwd-container .btn-mini .caret,
#hwd-container .btn-small .caret, .hwd-container .btn-small .caret {
	margin-top: 8px;
}
#hwd-container .btn.btn-micro .caret, .hwd-container .btn.btn-micro .caret {
	margin: 5px 0;
}
#hwd-container .btn-primary .caret, .hwd-container .btn-primary .caret,
#hwd-container .btn-warning .caret, .hwd-container .btn-warning .caret,
#hwd-container .btn-danger .caret, .hwd-container .btn-danger .caret,
#hwd-container .btn-info .caret, .hwd-container .btn-info .caret,
#hwd-container .btn-success .caret, .hwd-container .btn-success .caret,
#hwd-container .btn-inverse .caret, .hwd-container .btn-inverse .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
/*
 * Buttons
 * 
 */
#hwd-container .btn, .hwd-container .btn {
/*	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);*/
	text-decoration: none;
}
/*#hwd-container .btn:hover, .hwd-container .btn:hover,
#hwd-container .btn:focus, .hwd-container .btn:focus,
#hwd-container .btn:active, .hwd-container .btn:active,
#hwd-container .btn.active, .hwd-container .btn.active,
#hwd-container .btn.disabled, .hwd-container .btn.disabled,
#hwd-container .btn[disabled], .hwd-container .btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}*/
#hwd-container .btn:active, .hwd-container .btn:active,
#hwd-container .btn.active, .hwd-container .btn.active {
	background-color: #cccccc \9;
}
#hwd-container .btn:first-child, .hwd-container .btn:first-child {
	*margin-left: 0;
}
/*#hwd-container .btn:hover, .hwd-container .btn:hover,
#hwd-container .btn:focus, .hwd-container .btn:focus {
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	   -moz-transition: background-position .1s linear;
	     -o-transition: background-position .1s linear;
	        transition: background-position .1s linear;
}*/
#hwd-container .btn:focus, .hwd-container .btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
#hwd-container .btn.active, .hwd-container .btn.active,
#hwd-container .btn:active, .hwd-container .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
#hwd-container .btn.disabled, .hwd-container .btn.disabled,
#hwd-container .btn[disabled], .hwd-container .btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
#hwd-container .btn-micro, .hwd-container .btn-micro {
	padding: 1px 4px;
	font-size: 10px;
	line-height: 8px;
}
#hwd-container .btn-mini [class^="icon-"], .hwd-container .btn-mini [class^="icon-"],
#hwd-container .btn-mini [class*=" icon-"], .hwd-container .btn-mini [class*=" icon-"] {
	margin-top: -1px;
}
#hwd-container .btn-mini, .hwd-container .btn-mini {
	padding: 2px 6px;
	font-size: 9.75px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
#hwd-container .btn-large {
	padding: 11px 19px;
	font-size: 16.25px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}
#hwd-container .btn-primary.active, .hwd-container .btn-primary.active,
#hwd-container .btn-warning.active, .hwd-container .btn-warning.active,
#hwd-container .btn-danger.active, .hwd-container .btn-danger.active,
#hwd-container .btn-success.active, .hwd-container .btn-success.active,
#hwd-container .btn-info.active, .hwd-container .btn-info.active,
#hwd-container .btn-inverse.active, .hwd-container .btn-inverse.active {
	color: rgba(255,255,255,0.75);
}
#hwd-container .btn-primary, .hwd-container .btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top,#08c,#0044cc);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
	background-image: -webkit-linear-gradient(top,#08c,#0044cc);
	background-image: -o-linear-gradient(top,#08c,#0044cc);
	background-image: linear-gradient(to bottom,#08c,#0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	*background-color: #0044cc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#hwd-container .btn-primary:hover, .hwd-container .btn-primary:hover,
#hwd-container .btn-primary:focus, .hwd-container .btn-primary:focus,
#hwd-container .btn-primary:active, .hwd-container .btn-primary:active,
#hwd-container .btn-primary.active, .hwd-container .btn-primary.active,
#hwd-container .btn-primary.disabled, .hwd-container .btn-primary.disabled,
#hwd-container .btn-primary[disabled], .hwd-container .btn-primary[disabled] {
	color: #fff;
	background-color: #0044cc;
	*background-color: #003bb3;
}
#hwd-container .btn-primary:active, .hwd-container .btn-primary:active,
#hwd-container .btn-primary.active, .hwd-container .btn-primary.active {
	background-color: #003399 \9;
}
#hwd-container .btn-warning, .hwd-container .btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top,#fbb450,#f89406);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
	background-image: -o-linear-gradient(top,#fbb450,#f89406);
	background-image: linear-gradient(to bottom,#fbb450,#f89406);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
	border-color: #f89406 #f89406 #ad6704;
	*background-color: #f89406;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#hwd-container .btn-warning:hover, .hwd-container .btn-warning:hover,
#hwd-container .btn-warning:focus, .hwd-container .btn-warning:focus,
#hwd-container .btn-warning:active, .hwd-container .btn-warning:active,
#hwd-container .btn-warning.active, .hwd-container .btn-warning.active,
#hwd-container .btn-warning.disabled, .hwd-container .btn-warning.disabled,
#hwd-container .btn-warning[disabled], .hwd-container .btn-warning[disabled] {
	color: #fff;
	background-color: #f89406;
	*background-color: #df8505;
}
#hwd-container .btn-warning:active, .hwd-container .btn-warning:active,
#hwd-container .btn-warning.active, .hwd-container .btn-warning.active {
	background-color: #c67605 \9;
}
#hwd-container .btn-danger, .hwd-container .btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color: #bd362f #bd362f #802420;
	*background-color: #bd362f;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#hwd-container .btn-danger:hover, .hwd-container .btn-danger:hover,
#hwd-container .btn-danger:focus, .hwd-container .btn-danger:focus,
#hwd-container .btn-danger:active, .hwd-container .btn-danger:active,
#hwd-container .btn-danger.active, .hwd-container .btn-danger.active,
#hwd-container .btn-danger.disabled, .hwd-container .btn-danger.disabled,
#hwd-container .btn-danger[disabled], .hwd-container .btn-danger[disabled] {
	color: #fff;
	background-color: #bd362f;
	*background-color: #a9302a;
}
#hwd-container .btn-danger:active, .hwd-container .btn-danger:active,
#hwd-container .btn-danger.active, .hwd-container .btn-danger.active {
	background-color: #942a25 \9;
}
#hwd-container .btn-success, .hwd-container .btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	*background-color: #51a351;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#hwd-container .btn-success:hover, .hwd-container .btn-success:hover,
#hwd-container .btn-success:focus, .hwd-container .btn-success:focus,
#hwd-container .btn-success:active, .hwd-container .btn-success:active,
#hwd-container .btn-success.active, .hwd-container .btn-success.active,
#hwd-container .btn-success.disabled, .hwd-container .btn-success.disabled,
#hwd-container .btn-success[disabled], .hwd-container .btn-success[disabled] {
	color: #fff;
	background-color: #51a351;
	*background-color: #499249;
}
#hwd-container .btn-success:active, .hwd-container .btn-success:active,
#hwd-container .btn-success.active, .hwd-container .btn-success.active {
	background-color: #408140 \9;
}
#hwd-container .btn-info, .hwd-container .btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
	background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	*background-color: #2f96b4;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#hwd-container .btn-info:hover, .hwd-container .btn-info:hover,
#hwd-container .btn-info:focus, .hwd-container .btn-info:focus,
#hwd-container .btn-info:active, .hwd-container .btn-info:active,
#hwd-container .btn-info.active, .hwd-container .btn-info.active,
#hwd-container .btn-info.disabled, .hwd-container .btn-info.disabled,
#hwd-container .btn-info[disabled], .hwd-container .btn-info[disabled] {
	color: #fff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}
#hwd-container .btn-info:active, .hwd-container .btn-info:active,
#hwd-container .btn-info.active, .hwd-container .btn-info.active {
	background-color: #24748c \9;
}
/*
 * Button groups
 * 
 */
#hwd-container .btn-group, .hwd-container .btn-group {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
	*margin-left: .3em;
}
#hwd-container .btn-group:first-child, .hwd-container .btn-group:first-child {
	*margin-left: 0;
}
#hwd-container .btn-group + .btn-group, .hwd-container .btn-group + .btn-group {
	margin-left: 5px;
}
#hwd-container .btn-toolbar, .hwd-container .btn-toolbar {
	font-size: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}
#hwd-container .btn-toolbar > .btn + .btn, .hwd-container .btn-toolbar > .btn + .btn,
#hwd-container .btn-toolbar > .btn-group + .btn, .hwd-container .btn-toolbar > .btn-group + .btn,
#hwd-container .btn-toolbar > .btn + .btn-group, .hwd-container .btn-toolbar > .btn + .btn-group {
	margin-left: 5px;
}
#hwd-container .btn-group > .dropdown-menu, .hwd-container .btn-group > .dropdown-menu {
        font-size: 13px;
}
#hwd-container .btn-group > .btn, .hwd-container .btn-group > .btn {
	position: relative;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
#hwd-container .btn-group > .btn + .btn, .hwd-container .btn-group > .btn + .btn {
	margin-left: -1px;
}
#hwd-container .btn-group > .btn, .hwd-container .btn-group > .btn {
	font-size: 13px;
}
#hwd-container .btn-group > .btn-mini, .hwd-container .btn-group > .btn-mini {
	font-size: 9.75px;
}
#hwd-container .btn-group > .btn-micro, .hwd-container .btn-group > .btn-micro {
	font-size: 10px;
}
#hwd-container .btn-group > .btn-small, .hwd-container .btn-group > .btn-small {
	font-size: 12px;
}
#hwd-container .btn-group > .btn-large, .hwd-container .btn-group > .btn-large {
	font-size: 16.25px;
}
#hwd-container .btn-group > .btn:first-child, .hwd-container .btn-group > .btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	    -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
	        border-bottom-left-radius: 4px;
}
#hwd-container .btn-group > .btn:last-child, .hwd-container .btn-group > .btn:last-child,
#hwd-container .btn-group > .dropdown-toggle, .hwd-container .btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	    -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
	        border-bottom-right-radius: 4px;
}
#hwd-container .btn-group > .btn.large:first-child, .hwd-container .btn-group > .btn.large:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 6px;
	    -moz-border-radius-topleft: 6px;
	        border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	    -moz-border-radius-bottomleft: 6px;
	        border-bottom-left-radius: 6px;
}
#hwd-container .btn-group > .btn.large:last-child, .hwd-container .btn-group > .btn.large:last-child,
#hwd-container .btn-group > .large.dropdown-toggle, .hwd-container .btn-group > .large.dropdown-toggle {
	-webkit-border-top-right-radius: 6px;
	    -moz-border-radius-topright: 6px;
	        border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	    -moz-border-radius-bottomright: 6px;
	        border-bottom-right-radius: 6px;
}
#hwd-container .btn-group > .btn:hover, .hwd-container .btn-group > .btn:hover,
#hwd-container .btn-group > .btn:focus, .hwd-container .btn-group > .btn:focus,
#hwd-container .btn-group > .btn:active, .hwd-container .btn-group > .btn:active,
#hwd-container .btn-group > .btn.active, .hwd-container .btn-group > .btn.active {
	z-index: 2;
}
#hwd-container .btn-group .dropdown-toggle:active, .hwd-container .btn-group .dropdown-toggle:active,
#hwd-container .btn-group.open .dropdown-toggle, .hwd-container .btn-group.open .dropdown-toggle {
	outline: 0;
}
#hwd-container .btn-group > .btn + .dropdown-toggle, .hwd-container .btn-group > .btn + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	*padding-top: 5px;
	*padding-bottom: 5px;
}
#hwd-container .btn-group > .btn-mini + .dropdown-toggle, .hwd-container .btn-group > .btn-mini + .dropdown-toggle {
	padding-left: 5px;
	padding-right: 5px;
	*padding-top: 2px;
	*padding-bottom: 2px;
}
#hwd-container .btn-group > .btn-small + .dropdown-toggle, .hwd-container .btn-group > .btn-small + .dropdown-toggle {
	*padding-top: 5px;
	*padding-bottom: 4px;
}
#hwd-container .btn-group > .btn-large + .dropdown-toggle, .hwd-container .btn-group > .btn-large + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px;
	*padding-top: 7px;
	*padding-bottom: 7px;
}
#hwd-container .btn-group.open .dropdown-toggle, .hwd-container .btn-group.open .dropdown-toggle {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	        box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
#hwd-container .btn-group.open .btn.dropdown-toggle, .hwd-container .btn-group.open .btn.dropdown-toggle {
	background-color: #e6e6e6;
}
#hwd-container .btn-group.open .btn-primary.dropdown-toggle, .hwd-container .btn-group.open .btn-primary.dropdown-toggle {
	background-color: #0044cc;
}
#hwd-container .btn-group.open .btn-warning.dropdown-toggle, .hwd-container .btn-group.open .btn-warning.dropdown-toggle {
	background-color: #f89406;
}
#hwd-container .btn-group.open .btn-danger.dropdown-toggle, .hwd-container .btn-group.open .btn-danger.dropdown-toggle {
	background-color: #bd362f;
}
#hwd-container .btn-group.open .btn-success.dropdown-toggle, .hwd-container .btn-group.open .btn-success.dropdown-toggle {
	background-color: #51a351;
}
#hwd-container .btn-group.open .btn-info.dropdown-toggle, .hwd-container .btn-group.open .btn-info.dropdown-toggle {
	background-color: #2f96b4;
}
#hwd-container .btn-group.open .btn-inverse.dropdown-toggle, .hwd-container .btn-group.open .btn-inverse.dropdown-toggle {
	background-color: #222;
}
/*
 * Label and badges
 * 
 */
#hwd-container .label, .hwd-container .label,
#hwd-container .badge, .hwd-container .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #999;
}
#hwd-container .label, .hwd-container .label {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
#hwd-container .badge, .hwd-container .badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	   -moz-border-radius: 9px;
	        border-radius: 9px;
}
#hwd-container .label:empty, .hwd-container .label:empty,
#hwd-container .badge:empty, .hwd-container .badge:empty {
	display: none;
}
#hwd-container a.label:hover, .hwd-container a.label:hover,
#hwd-container a.label:focus, .hwd-container a.label:focus,
#hwd-container a.badge:hover, .hwd-container a.badge:hover,
#hwd-container a.badge:focus, .hwd-container a.badge:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
#hwd-container .label-important, .hwd-container .label-important,
#hwd-container .badge-important, .hwd-container .badge-important {
	background-color: #b94a48;
}
#hwd-container .label-important[href], .hwd-container .label-important[href],
#hwd-container .badge-important[href], .hwd-container .badge-important[href] {
	background-color: #953b39;
}
#hwd-container .label-warning, .hwd-container .label-warning,
#hwd-container .badge-warning, .hwd-container .badge-warning {
	background-color: #f89406;
}
#hwd-container .label-warning[href], .hwd-container .label-warning[href],
#hwd-container .badge-warning[href], .hwd-container .badge-warning[href] {
	background-color: #c67605;
}
#hwd-container .label-success, .hwd-container .label-success,
#hwd-container .badge-success, .hwd-container .badge-success {
	background-color: #468847;
}
#hwd-container .label-success[href], .hwd-container .label-success[href],
#hwd-container .badge-success[href], .hwd-container .badge-success[href] {
	background-color: #356635;
}
#hwd-container .label-info, .hwd-container .label-info,
#hwd-container .badge-info, .hwd-container .badge-info {
	background-color: #3a87ad;
}
#hwd-container .label-info[href], .hwd-container .label-info[href],
#hwd-container .badge-info[href], .hwd-container .badge-info[href] {
	background-color: #2d6987;
}
#hwd-container .label-inverse, .hwd-container .label-inverse,
#hwd-container .badge-inverse, .hwd-container .badge-inverse {
	background-color: #333;
}
#hwd-container .label-inverse[href], .hwd-container .label-inverse[href],
#hwd-container .badge-inverse[href], .hwd-container .badge-inverse[href] {
	background-color: #1a1a1a;
}
#hwd-container .btn .label, .hwd-container .btn .label,
#hwd-container .btn .badge, .hwd-container .btn .badge {
	position: relative;
	top: -1px;
}
#hwd-container .btn-mini .label, .hwd-container .btn-mini .label,
#hwd-container .btn-mini .badge, .hwd-container .btn-mini .badge {
	top: 0;
}
/*
 * Media queries for grid
 * 
 */
@media (max-width: 767px) {
	#hwd-container .row-fluid, .hwd-container .row-fluid {
		width: 100%;
	}
	#hwd-container .row, .hwd-container .row {
		margin-left: 0;
	}
	#hwd-container [class*="span"], .hwd-container [class*="span"],
	#hwd-container .row-fluid [class*="span"], .hwd-container .row-fluid [class*="span"],
	#hwd-container .row-fluid [class*="span"].fivecolumns, .hwd-container .row-fluid [class*="span"].fivecolumns {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#hwd-container .span12, .hwd-container .span12,
	#hwd-container .row-fluid .span12, .hwd-container .row-fluid .span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	#hwd-container .row-fluid [class*="offset"]:first-child, .hwd-container .row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
}
/*
 * Component specific fixes
 * 
 */
#hwd-container .btn-group > .dropdown-toggle {
        margin: 0;  /* Chrome fix */
}
#hwd-container .js-stools-container-bar button.btn {
	margin: 0;  /* Chrome fix */
}
#hwd-container .js-stools-container-bar #filter_search {
	margin-right: 0;  /* Chrome fix */
	margin-left: 0;  /* Chrome fix */
}
#hwd-container .chzn-container-multi .chzn-choices li.search-field input[type="text"] {
        margin: 1px 0;
        box-sizing: content-box;  
}
#hwd-container .radio.btn-group > label:first-of-type {
	margin-left: 0;
	-webkit-border-bottom-left-radius: 4px;
	        border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	    -moz-border-radius-topleft: 4px;
}
#hwd-container textarea {
        height: auto;
}
#hwd-container fieldset.radio.btn-group {
        font-size: 1em;  /* RocketTheme fix */
}
#hwd-container .btn-group a.btn, .hwd-container .btn-group a.btn {
	margin-right: 0px;
}
