@charset "utf-8";
/* CSS Document Copyright (C) 2015 Highwood Design Limited. All rights reserved.
/* This sheet loads a lite set of styles for HWD related modules and plugins
/**********************************************************************************************/
/* Used when rendering dropdown lists                                                         */
.hwd-container .element-invisible { 
	position:absolute;
	padding:0;
	margin:0;
	border:0;
	height:1px;
	width:1px;
	overflow:hidden;
}
/* Details specific styles */
.hwd-container .media-details-view {
	margin:10px 0;
}
.hwd-container .media-details-view .item {
	position:relative;
}
.hwd-container .media-details-view .media-item {
	position:relative;
/*	margin:10px 0; */
}
.hwd-container .media-details-view .media-item-format-1-0, .hwd-container .media-details-view .media-item-format-1-1, .hwd-container .media-details-view .media-item-format-1-2, .hwd-container .media-details-view .media-item-format-1-3, .hwd-container .media-details-view .media-item-format-1-4, .hwd-container .media-details-view .media-item-format-2, .hwd-container .media-details-view .media-item-format-3, .hwd-container .media-details-view .media-item-format-4, .hwd-container .media-details-view .media-item-format-5, .hwd-container .media-details-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
.hwd-container .media-details-view h1.contentheading,
.hwd-container .media-details-view h2.contentheading,
.hwd-container .media-details-view h3.contentheading,
.hwd-container .media-details-view h4.contentheading,
.hwd-container .media-details-view h5.contentheading,
.hwd-container .media-details-view h6.contentheading {
	font-size:16px;
/*	line-height:22px; */
/*	font-weight:700; */
        margin:5px 0;
        padding:0;        
}
/* Gallery specific styles */
/**********************************************************************************************/
.hwd-container .media-gallery-view {
	margin:10px 0;
}
.hwd-container .media-gallery-view .media-item {
	position:relative;
	margin:10px 0;
}
.hwd-container .media-gallery-view .media-item-format-1-1, .hwd-container .media-gallery-view .media-item-format-1-2, .hwd-container .media-gallery-view .media-item-format-1-3, .hwd-container .media-gallery-view .media-item-format-1-4, .hwd-container .media-gallery-view .media-item-format-2, .hwd-container .media-gallery-view .media-item-format-3, .hwd-container .media-gallery-view .media-item-format-4, .hwd-container .media-gallery-view .media-item-format-5, .hwd-container .media-gallery-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
/* List specific styles */
/**********************************************************************************************/
.hwd-container .media-list-view {
	margin:10px 0;
}
.hwd-container .media-list-view .media-item {
	position:relative;
        margin:0 10px 0 0;        
}
.hwd-container .media-list-view .media-item-format-1-1, .hwd-container .media-list-view .media-item-format-1-2, .hwd-container .media-list-view .media-item-format-1-3, .hwd-container .media-list-view .media-item-format-1-4, .hwd-container .media-list-view .media-item-format-2, .hwd-container .media-list-view .media-item-format-3, .hwd-container .media-list-view .media-item-format-4, .hwd-container .media-list-view .media-item-format-5, .hwd-container .media-list-view .media-item-format-6 {
	position:absolute;
	top:5px;
	left:5px;
}
.hwd-container .media-list-view p.contentheading {
        font-weight:bold;
}
.hwd-container .media-list-view table .row-fluid span.label {
        margin-right:5px; // Add padding to the labels in the list and manage views.
}
.hwd-container .media-list-view table .row-fluid div.media-info-hits,
.hwd-container .media-list-view table .row-fluid div.media-info-likes {
        clear:both;
        margin:5px 0;        
}
.hwd-container .media-list-view h1.contentheading,
.hwd-container .media-list-view h2.contentheading,
.hwd-container .media-list-view h3.contentheading,
.hwd-container .media-list-view h4.contentheading,
.hwd-container .media-list-view h5.contentheading,
.hwd-container .media-list-view h6.contentheading {
	font-size:16px;
	line-height:22px;
	font-weight:700;
        margin:0 0 5px 0;
        padding:0;
}

/* Listing meta data                                                                          */
.hwd-container dl.media-info {
        padding:0;
        margin:0;
	font-size:13px;
	line-height:20px;
	font-weight:400;        
}
.hwd-container dl.media-info dd {
        display:block;
        margin:0;
        padding:2px 0;
}
.hwd-container dl.media-info dt.media-info-term {
        display:none;
}
.hwd-container dl.media-info dd.media-info-hits { 
        float:left;
}
.hwd-container dl.media-info dd.media-info-likes { 
        float:right;
}
.hwd-container dl.media-info .media-info-created { 
        color:#999;
}
/**********************************************************************************************/
/* Media thumbnail container and overlay styles                                               */
.hwd-container .media-duration {
	position:absolute;
	left:2px;
	bottom:2px;
	color:#fff;
	font-size:10px;
	padding:1px 2px;
        background-color:rgba(0, 0, 0, 0.6);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
        box-shadow:0 0 1px #DDDDDD;        
        line-height:12px;        
}
/**********************************************************************************************/
/* Media display                                                                              */
.hwd-container .media-item-container {
	margin:0;
}
.hwd-container .media-item-container .media-item-full {
	text-align:center;
	width:100%;
}
/**********************************************************************************************/
/* Responsive media display (controls the aspect and responsiveness of the players)           */
.hwd-container .media-respond {
        overflow:hidden;
        position:relative;
        margin:0 auto;
}
.hwd-container .media-respond div.media-content {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        z-index:2;
        clear:both;
}
.hwd-container .media-respond .media-aspect {
        background:#000;
        z-index:1;
}
.hwd-container .media-respond .media-aspect[data-aspect='0.75'] {
        padding-top:75%; /* 4:3 aspect ratio */
}
.hwd-container .media-respond .media-aspect[data-aspect='0.5625'] {
        padding-top:56%; /* 16:9 aspect ratio */
}
/**********************************************************************************************/
/* Activities                                                                                 */
.hwd-container ul.media-activity-list {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
.hwd-container ul.media-activity-list li.media-activity-item {
	margin:0 0 5px 0;
	padding:0;
	list-style:none;
        clear:both;        
}
.hwd-container ul.media-activity-list li.media-activity-item .media-activity-avatar {
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
.hwd-container ul.media-activity-list li.media-activity-item .media-activity-desc {
        margin:0;
        padding:0;       
}
.hwd-container ul.media-activity-list li.media-activity-item .media-activity-date {
	font-size:11px;
        margin:0;
        padding:0;
}
/**********************************************************************************************/
/* Classic audio layout                                                                       */
.hwd-container .media-audio-view a.media-track {
	padding:8px;
	line-height:18px;
	vertical-align:top;
	border-top:1px solid #ddd;
        display:block;
        text-decoration:none;
}
.hwd-container .media-audio-view a.media-track:hover {
}
.hwd-container .media-audio-view a.media-track:last-child {
	border-bottom:1px solid #ddd;
        margin-bottom:5px;
}

.hwd-container .media-audio-view .row-fluid i.icon-play {

}
/**********************************************************************************************/
/* Thumbnail overlay controls                                                                 */
.hwd-container .media-thumbnail-overlay
{
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
        background-color:rgba(0, 0, 0, 0.6);
        z-index:3;
        width:100%;
        font-weight:600;
        font-size:90%;
        padding:10px;
        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box; 
}
/**********************************************************************************************/
/* Categories module                                                                          */
.hwd-container.categories-module {
	margin:10px 0;
}
/**********************************************************************************************/
/* Mediaitem layouts */
.hwd-container .media-details-view.media-layout-documentation {
	margin:50px 0;
}

.hwd-container .media-details-view.media-layout-blog h3.contentheading {
	margin:20px 0;
}

.hwd-container.media-layout-details {
	display:inline-block; 
        margin-right:20px;
        vertical-align:top;
        max-width:100%;
}
.hwd-container.media-layout-details .media-details-view.media-layout-details {
	max-width:100%;
}
.hwd-container .media-details-view.media-layout-details .media-item {
        margin:0;
}
  


















.hwd-container img.media-carousel-thumb {
    margin:0 auto;
    max-width:600px;
}
.hwd-container div.media-item img.media-thumb {
        max-width:100%;
}
.hwd-container div.media-item:not(.originalaspect) img.media-thumb {
        top: 50%;
        -webkit-transform: translateY(-50%); 
           -moz-transform: translateY(-50%); 
            -ms-transform: translateY(-50%); 
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
    
}












ul.hwd-container.categories-module ul {
        margin-left:10px;
}
