@charset "utf-8";
/* CSS Document */
.mobile-mainmenu {display:none;}
#mobileeng{display:none;}
#main .blog-featured .items-row.cols-1 {
	background: #ffffff none repeat scroll 0 0;
    float: left !important;
    height: 223px;
    margin: 5px 1px 20px !important;
    overflow: hidden;
	padding-right:3px;
    width: 32%;
}
#main .blog-featured {float:left; width:100%;}
#main .blog-featured .cols-1 .item h2 span {
    color: #de4946;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.blog-featured .item img {width:200px; height:90px;}
#main .blog-featured .cols-1 .item p {
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0;
    width: 200px;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+2) {
    border-left: 1px dotted #bdbdbd;
    border-right: 1px dotted #bdbdbd; 
    margin:5px 2px 20px!important;
	padding-left:4px;
	padding-right:6px;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+3) {
	padding-left:1px;
	padding-right:2px;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+2) .item {margin:0 5px 0 0;}
#main .items-row h2 {float:left; margin:0; width:100%;}
#main .blog-featured .cols-1 .item p {margin:0;}
#main .pagination{padding-top:10px;}
#main .blog-featured .items-row.cols-1 h2 span, #main .blog-featured .items-row.cols-1 h2 {
    color: #de4946;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    padding: 5px 0 2px;
}
@media only screen and (min-width : 200px) and (max-width :767px) {
#banner-background {display:none;}
#wrapper2 #main .item-page h2 {
font-size: 22px;
line-height: 25px;
margin-top:-5px;
}
#mobileeng{
display:inherit;
position:fixed; 
bottom:0;
z-index:999999;
}
#mobile-ad {display:inherit;}

.top-main-menu {display: none;}
.mobile-mainmenu {display:block;}
#header-content #logo-banner-header .logoheader {width:100%;}
#header-content #logo-banner-header .logoheader { width:100%;}
#header {min-height:50px;}
#header-content #logo-banner-header #header-banner {display:none;}
#Leaderboard_Banner img {height: auto;width: 100%;}
#Leaderboard_Banner a { display: inline-block; margin: 0 auto; text-align: center;width: 100%;}
#main-content {width:100%;}	
#main-content #wrapper2 { float: none; width: 100%;}
.#col-right{float: none; width: 100%;}
#headline-1 > #fpssContainer459.fpss-template-simple, #headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper, 
#headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer459.fpss-template-simple img{width:100%; height:390px;}
#header h1.logo a{width:100%;}
#headline {height: auto;width: 100%;}
#main{width:100%; height:auto;}
#front-b {width:100%;}
#bottom { width: 100%;}
.typesevenleft .allmode-carousel h4.allmode-name{width:97%;}
.allmode-carousel .allmode-items {width:100% !important;}
#col-right { float: none; width: 100%;}
#col-right .moduletable-sidebar-a, #col-right .moduletable{width:97%;}
.fb_iframe_widget iframe {width:101% !important;}
.fb_iframe_widget span{width:100% !important; }
.fb_iframe_widget {width:100%;}
#col-right .fb-recommend .facebook-recommend-box {width:100%;}
#footer #footer-content #footer-outer { float: none; width: 100%;display:none;}
#footer #footer-content #footer-sub { float: none; width: 100%;}
#footer #footer-content #footer-outer #footer-inner #bottom-right {width:100%; float:none;}
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu{width:100%; float:none;}
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li { border-right: medium none; float: none; height: 212px; width: 100%;
border-bottom:1px solid #303030;}
#footer #footer-content #footer-sub .copyright {width:100%;}
#footer #footer-content #footer-sub .copyright ul.menu {display: inline-block;float: none;margin: 0 auto;padding: 6px 0 0;text-align: center;width:100%;}
#footer #footer-content #footer-sub .copyright ul.menu li { display: inline-block; float: none;vertical-align: top;}
.item-353 > a { padding-left: 0 !important;}
#header-content #topmenu-social-menu #topmenu {width:100%;}
#header-content #main-menu {width:240px; position:fixed; background:#2e2e2e; height:100%; overflow:scroll;}
#header-content #main-menu .menu {width:100%;}
#search-bar{display:none;}
#social-menu {display:none;}
.brand-light {width:100%;}
#header h1.logo {background: #000 url("../images/crnobelo/logo.png") no-repeat;display: block;background-position:center center;}
#header h1.logo { background-position:center center !important; background-color:#000 !important;}
#header-content #topmenu-social-menu #topmenu .menu li.item-138 a {padding: 6px 0;}
#header-content #main-menu .menu li a {padding: 11px 15px;}
#header-content #main-menu .menu li ul { height: auto; overflow: unset; position: relative;}
#header-content #main-menu .menu li.active.deeper.parent {margin-bottom: 0;}
#all-content #header { background-color: #000 !important;}
.moduletable.facebook {display:none;}
.allmode-columns .allmode-comments {background:url("../images/comments.png") no-repeat !important;}
#main .blog-featured .cols-3 .item h2, #main .blog-featured .cols-3 .item p {width:100%;}
/*#main .blog-featured .cols-3 .item:hover { background: rgba(0, 0, 0, 0) url("../images/crnobelo/bg-item.png") no-repeatrepeat; background-size:100%; background-position:center top;}*/
#main .blog-featured .cols-3 .column-2 {padding:0;}
.typefour .allmode-showall {right:10px !important;}
.typeseven {width:100%;}
.typesix {width:100% !important;}
.typefive, .typefive2{width:98% !important;}
#wrapper2 .moduletable { width:98% !important;}
#wrapper2 .item-page p img { height: auto;width: 100%;}
.item-page iframe { height: auto;  width: 100%;}
#header-content #main-menu .menu li ul li a {background:#2e2e2e;}
#main .pagination {width:97%;}
#logo-banner-header{background-color: #000;}
#footer #footer-content #footer-sub .logo { float: none; margin: 0 auto; width: 192px;}
.custom.copy-right span {display: inline-block;text-align: center; width: 100%;}
.moduletable.typeseven {width: 90%;}
.typeseven{width:100%;}
.item-page .itp-share-gone, .itp-share-pinterest{display:none;}
.itp-share-fbl {width:200px;}

.bottom468{display:none;}
#below-banner{display:none;}
.moduletable.games {display:none;}
.moduletable.recommended{display:none;}

iframe { width: 100%;}
img { max-width: 100%;}
#header-content #main-menu .menu li.item-101 a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-left: medium none;
    padding: 15px 16px 14px;
    text-indent:2px;
}
#header-content #main-menu .menu li.item-101 a:hover, #header-content #main-menu .menu li.item-101.active a:hover {background:none;}
#header-content #main-menu .menu li.item-101.active a{background:none !important;}
#header-content #main-menu .menu li.active {background-color:#2e2e2e !important;}
#header-content #main-menu .menu li.item-101 a:hover, #header-content #main-menu .menu li.item-101.active a:hover {color:#fff !important; font-size:14px;}
img {
  max-width: 100%;
}
#header-content #main-menu .menu li a {text-transform:none;}
#___plusone_0 {
    display: none !important;
}
#wrapper2 .tab-pane.nn_tabs-pane table td p img {
    height: auto;
    width: 120px;
}
.brand-light{background:none;}
.control-group {
    width: 100%;
}
.control-label {
    width: 90%;
}
.controls {
    width: 90%;
	padding: 3px 0;
}
.controls #jform_contact_name {
    width:100%;
}
.controls #jform_contact_message {
    width:100%;
}
.controls .required {
    width: 100%;
}
.form-actions {
    padding: 10px 0;
}
#main .contact .contact-form{width:100%;}
.item-page table {
    width: 98% !important;
}
.controls #jform_contact_name, .controls input, .controls #jform_contact_message {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    float: left;
    font-size: 12px;
    margin: 6px 0 10px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 100%;
}
.media .media-object {
    float: none;
    margin: 0 auto;
	width: 97%;
}
.media .media-body {
    float: left;
    overflow: unset;
    padding: 5px 0 20px 5px;
/*    text-align: center; */
    width: 97%;
}
/*#below-banner{width:97%;}*/
#front-a {width:100%;}
.cols-4 .column-1, .cols-4 .column-3 {
    float: left;
    width:45%;
}
.cols-4 .column-2, .cols-4 .column-4 {
    float: left;
    width:45%;
}
#headline-1 > #fpssContainer121.fpss-template-simple, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer121.fpss-template-simple img
{width:100%;}
#bottom .moduletable-who-wears-it-better{width:97%;}
#bottom .moduletable-movie-ideas {width:97%;}
#bottom .moduletable-photo-news, #bottom .moduletable-kvizovi {width:97%;}
#main-content .allmode-columns .allmode-item {width:97% !important;}
.control-group {
    float: left;
    width: 100%;
}
.branding-container {width:100%;}
.allmode-columns .allmode-topitem {width:99%;}
#adminForm .cols-3 .column-1, #adminForm .cols-3 .column-2, #adminForm .cols-3 .column-3 {width:95%;}
#main .contact .contact-form #contact-form fieldset dl dt, #main .contact .contact-form #contact-form fieldset dl dd {width:97%;}
#main .contact .contact-form #contact-form fieldset dl dd #jform_contact_message {width:95%;}
.control-group {
    float: left;
    width: 100%;
}
.item-page .jvrel_box_bottom_left .jvrel_box_info{width:100%;}
.item-page .jvrel_box_bottom_left .jvrel_box_info .jvrel_article_im{width:100%;}
.item-page .jvrel_box_bottom_left .jvrel_box_info .jvrel_article_im a {
    display: block;
    float: left;
    width: 100%;
} 
.allmode-center .allmode-slider .allmode-items {
    height: 285px !important;
}
#header-content #main-menu .menu li.active a {
    background-color: #2e2e2e !important;
    color: #ffffff !important;
}
#header-content #main-menu .menu li ul li a {
    background: #2e2e2e none repeat scroll 0 0;
    border-bottom: 1px solid #5f5f5f;
    padding: 11px 24px;
}


#wrapper2 .tab-pane.nn_tabs-pane table td p img {
    height: auto;
    width: 120px;
}

#wrapper2 .nn_tabs_content.nn_tabs_count_1.nn_tabs_item_active table td p img {
    height: auto;
    width: 120px;
}
#wrapper2 .nn_tabs_nav .nn_tabs_tabs li a {
    font-size: 14px;
    padding: 6px 0 2px;
    text-align: center;
    width: 130px;
}
#wrapper2 .nn_tabs_count_2 .nn_tabs_item.nn_tabs_count_2 img {
    height: auto;
    width: 132px;
}
#wrapper2 #nn_tabs_item_1____161___-3 img {
    height: auto;
    width: 130px;
}
#wrapper2 #nn_tabs_item_1____161___-4 img {
    height: auto;
    width: 130px;
}
#wrapper2 .nn_tabs_item.nn_tabs_count_3 img {
    height: auto;
    width: 130px;
}

#wrapper2 .nn_tabs_item.nn_tabs_count_4 img {
  height: auto;
    width: 130px;
}

.allmode-columns .allmode-topitem {
    margin-left: 0;
}
.allmode-slider .caroufredsel_wrapper {
    height: 350px !important;
}
.caroufredsel_wrapper #allmode-id369 {
    height: 345px !important;
}
.caroufredsel_wrapper #allmode-id369 {
    height: 298px !important;
}
.allmode-slider .caroufredsel_wrapper {
    height: 290px !important;
}
.allmode-itemsbox .allmode-center .allmode-slider #allmode-id385.allmode-items, .allmode-itemsbox .allmode-center .allmode-slider allmode-items {
    height: 345px !important;
}
.allmode-center .allmode-slider .caroufredsel_wrapper {
    height: 350px !important;
}

#lbClose.grey, #lbPause.grey {
background-size:50%;
background-position:center center
}

#lbNext {
background-size:25%;
background-position:right 25%;
}
#lbNext.grey:hover, #lbNext.grey:visited:hover{
background-size:25%;
background-position:right 25%;
}

#lbPrev {
background-size:25%;
background-position:left 25%;
}

#lbPrev.grey:hover, #lbPrev.grey:visited:hover {
background-size:25%;
background-position:left 25%;
}

#lbBottomNav #lbClose {
    margin-top: 0;
}


#lbBottomNav #lbPause {
    margin-top: 0;
}

.grey #lbBottomNav {
    position: absolute;
    right: 0;
    top: -3px;
}

.grey #lbNumberDisplay { margin-top: 18px;}

#lbHoverNav #lbPrev {height: 205px !important;}

#lbHoverNav #lbNext {height: 205px !important;}



/*#main .blog-featured .items-row.cols-3.row-3 .item {
    height: 220px;
    min-height: 226px;
}

#main .blog-featured .items-row.cols-3.row-4 .item.column-1 {
    height: 230px;
    min-height: 281px;
}
#main .blog-featured .items-row.cols-3.row-4 .item.column-2 {
    height: 200px;
    min-height: 200px;
}

#main .blog-featured .items-row.cols-3.row-5 .item.column-1 {
    height: 225px;
    min-height: 242px;
}
#main .blog-featured .items-row.cols-3.row-5 .item.column-2, #main .blog-featured .items-row.cols-3.row-5 .item.column-3 {
    height: 135px;
    min-height: 135px;
}
#main .blog-featured .items-row.cols-3.row-6 .item {
    height: 185px;
    min-height: 185px;
}
*/}
@media only screen and (min-width : 200px) and (max-width :500px) {
	
.wrapper, #content-page{width:90%; padding:0;}
#footer #footer-content {width:90%;}
#headline-1, #headline-2, #headline-3 {width:97%;}
#headline #headline-2 {padding-top: 5px;}
#headline #headline-1 {margin: 0 auto;padding-right: 0;width: 97%;}
#headline-2 > #fpssContainer461.fpss-template-simple, #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper,
 #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer461.fpss-template-simple img {width:100%;}
 #headline-2 > #fpssContainer461.fpss-template-simple, #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper, 
 #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer461.fpss-template-simple img {
    height: 228px;
    margin: 0 auto;
    width: 290px;
}
#headline-3 > #fpssContainer462.fpss-template-simple, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper,
 #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slide, #headline-3 > #fpssContainer462.fpss-template-simple img {
	  height: 228px;
    margin: 0 auto;
    width: 290px;
 }
 
 #headline-3 > #fpssContainer462.fpss-template-simple, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slide, #headline-3 > #fpssContainer462.fpss-template-simple img{width:100%;}
 
#main .pagination li {margin-left:2px;}
.moduletable-home-video .custom-home-video td {
    display: inline;
    float: left;
    margin: 0 3px 0 2px;
    width: 48%;
	height:154px;
}
#wrapper2 .moduletable {width:100%;}
.typesevenleft {width:98.4% !important; height:318px;}
.typesevenright {width:98.4% !important; height:318px;}
.typesevenleft2 {width:98.4% !important; height:226px;}
.typesevenright2 {width:96.4% !important; height:226px;}
.allmode-carousel-double .allmode-items {width:100% !important;}
#allmode-second {width:100% !important;}
.typesevenright .allmode-carousel-double .allmode-item {margin:0 auto; float:none;}
.typesevenleft .allmode-carousel .allmode-item, .typesevenleft2 .allmode-carousel .allmode-item, .typesevenright2 .allmode-carousel .allmode-item {float:none;margin:0 auto;}
.typesevenleft .allmode-carousel .allmode-item, .typesevenright .allmode-carousel-double .allmode-item, .typesevenleft2 .allmode-carousel .allmode-item { width: 280px !important;}
.typesevenright2 .allmode-carousel .allmode-item {width: 280px !important; margin:0 auto;}
#col-right .recommended ul li a {font-weight:normal;}
#main .blog-featured .cols-3 .column-1 a img, #main .blog-featured .cols-3 .column-2 a img, #main .blog-featured .cols-3 .column-3 a img {
    height: auto !important;
    width: 100% !important;
}
#wrapper2 .typesix {margin-right: 0 !important; width: 96% !important;}
#wrapper2 .typesix2{ margin-right: 0 !important; width: 96% !important;}
#wrapper2 .typeone{ margin-right: 0 !important; width: 96% !important;}
.allmode-columns .lt320 .allmode-wrapper {width: 94% !important;}
.allmode-portal .allmode-topbox, .allmode-portal .allmode-itemsbox, .allmode-portal .allmode-items {float: left; margin: 0; width: 99%;}
#wrapper2 #main .item-page {width: 94%;}
.allmode-columns .allmode-wrapper {width:97%;} 
.allmode-slider .caroufredsel_wrapper {height:280px !important;}
.typesevenright .allmode-box .allmode-itemsbox .allmode-slider .caroufredsel_wrapper { height: 140px !important;}
/*#Rectangle_Banner img {width: 100%;}*/
#topmenu-social-menu #topmenu li a {padding:6px 6px !important;}
#allmode-id385 {height:275px !important;}
.horoskop-menu ul li img {
    height: auto;
    width: 43px;
}
.horoskop-menu ul li {
    margin: 5px 2px;
}
#main ul li{width:130px;}
#headline-2 > #fpssContainer123.fpss-template-simple, #headline-2 > #fpssContainer123.fpss-template-simple .slides-wrapper, #headline-2 > #fpssContainer123.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer123.fpss-template-simple img
{width:100%;}
.allmode-itemsbox .allmode-center .allmode-slider #allmode-id369.allmode-items {
    height: 345px !important;
}
.allmode-itemsbox .allmode-center .allmode-slider #allmode-id370.allmode-items {
    height: 345px !important;
}
.allmode-itemsbox .allmode-center .allmode-slider #allmode-id371.allmode-items {
    height: 345px !important;
}
.allmode-itemsbox .allmode-center .allmode-slider #allmode-id377.allmode-items {
    height: 345px !important;
}
}
@media only screen and (min-width : 501px) and (max-width :767px) {
#wrapper2 #main .item-page {width:94%;}
.wrapper, #content-page{width:94%; padding:0;}
#footer #footer-content {width:94%;}
#headline-1 { float: left; padding-right: 5px; width: 55%;}
#headline-2 {width:42%;}
#headline-3 {width:42%;}
#headline-2 > #fpssContainer461.fpss-template-simple, #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper,
#headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer461.fpss-template-simple img {width:100%; height:194px;}
#headline-3 > #fpssContainer462.fpss-template-simple, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper,
 #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slide, #headline-3 > #fpssContainer462.fpss-template-simple img{width:100%; height:188px;}
.moduletable-home-video .custom-home-video td{width:48%;}
.allmode-columns .allmode-wrapper { width: 48%;}
#wrapper2 .moduletable.typesix { width: 46% !important;}
.typeone { width: 98%;}
#wrapper2 .moduletable.typefive { width:46.4% !important;}
#wrapper2 .moduletable.typefive2 {width: 47% !important;}
.typesevenleft, .typesevenleft2 {width: 100% !important; height:262px;}
.typesevenright, .typesevenright2 {width: 100% !important; height:262px;}
.typesevenright .caroufredsel_wrapper {height:112px !important}
.typesevenright .caroufredsel_wrapper .allmode-items {height:112px !important}
.typesevenright .allmode-carousel-double .allmode-title {margin-top: -70px;}
#main .blog-featured .cols-3 .column-1 a img, #main .blog-featured .cols-3 .column-2 a img, #main .blog-featured .cols-3 .column-3 a img {
    display: block;
    float: none !important;
    height: auto !important;
    margin: 0 auto !important;
    width: 200px !important;
}
.typeseven .allmode-carousel .allmode-item { margin: 0 18px; width: 42% !important;}
#wrapper2 .moduletable.typesix2 {width: 47% !important;}
.typesix2 {width: 100% !important;}
.allmode-columns .lt320 .allmode-wrapper { width:48% !important;}
.allmode-portal .allmode-topbox {
    float: left;
    margin: 0;
    width: 49%;
}
.allmode-portal .allmode-itemsbox {  float: left;
    margin: 0 0 0 6px;
    width: 48%;
}
#main .blog-featured .cols-3 .item {
    float: left;
    height: 275px;
    margin: 0 0 6px 8px;
    width: 48%;
}
#wrapper2 #bottom .moduletable.typesevenleft, #wrapper2 #bottom .moduletable.typesevenright, #wrapper2 #bottom .moduletable.typesevenleft2, #wrapper2 #bottom .moduletable.typesevenright2{
	width:47.5% !important;}
.allmode-slider .caroufredsel_wrapper {height:224px !important;}
.typesevenright .allmode-box .allmode-itemsbox .allmode-slider .caroufredsel_wrapper {
    height: 110px !important;
}
.typesevenleft .allmode-carousel .allmode-item {width:100% !important;}
.typesevenleft .allmode-carousel .allmode-title, .typesevenleft .allmode-carousel .allmode-title{margin-top: -64px;}

.horoskop-menu ul li img {
    height: auto;
    width: 56px;
}

}
@media only screen and (min-width :200px) and (max-width :550px) {
	#Leaderboard_Banner img {height: auto;width:100%;}
	#col-right .horoskop #horoskop a {width:43px; margin-left:2px;}
	#col-right .horoskop #horoskop-sprite a {width:43px; margin-left:2px;}
}
@media only screen and (min-width :551px) and (max-width :767px) {
	#Leaderboard_Banner img {height: auto;width:550px;}
}

@media only screen and (min-width :768px) and (max-width :980px) {
.wrapper {width:100%;}
#header-content #logo-banner-header .logoheader {width:100%;}
#header-content #main-menu .menu{width:100%;}
#content-page {width:98%; padding:0;}
#main-content{width:100%;}

#main-content #wrapper2 {
    float: none;
    width: 100%;
}
#col-right {
    float: none;
    width: 100%;
}
#headline {float: none; margin: 0 auto; width: 715px;}
#headline-1{width:420px;}
#headline-1 > #fpssContainer459.fpss-template-simple, #headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper, 
#headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer459.fpss-template-simple img{width:415px;}
#main {
    float: none;
    margin: 5px auto;
    padding: 5px;
    width: 723px;
}
#main .blog-featured .cols-3 .item{width:226px;}
#main .pagination{width:703px;}
#front-b{float: none; margin: 10px auto; width: 723px;}
/* #front-b{float: none; margin: 10px auto; width: 723px;} */
#front-b{float:none; margin-left: auto; margin-right: auto; margin-top: 40px;}
#bottom{width:723px; float:none; margin:0 auto 10px;}
.typesevenleft{width:342px !important;}
.typesevenright{width:342px !important;}
.typesevenright .allmode-carousel-double .allmode-title, .typesevenright .allmode-carousel-double .allmode-title {margin-top: -40px;}
.typesevenleft2, .typesevenright2 {width:342px !important;}
.allmode-items, #allmode-second {width:100% !important;}
#col-right {
    float: none;
    margin: 0 auto;
    width: 705px;
}
#col-right .moduletable, #col-right .moduletable-sidebar-a {
    width: 100%;
}
#col-right .facebook .facebook-like-box, .fb_iframe_widget{width:100%;}
.fb_iframe_widget span{width: 710px !important;}
.fb_iframe_widget iframe{width:100% !important;}
#col-right .fb-recommend .facebook-recommend-box{width:100%;}
#footer #footer-content, #footer #footer-content #footer-outer, #footer #footer-content #footer-sub {width:100%;}
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu{width:746px;}
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li{width:140px;}
#search-bar{display:none;}
#header-content #logo-banner-header #header-banner{width:100%; float:none; display:none;}
.allmode-columns .allmode-wrapper{width:356px !important;}
#wrapper2 .moduletable{width:736px;} 
.typesix, .typefive {width: 356px !important;}
.typesix2, .typefive2 {width: 358px !important;}
.typeseven{width:100%;}
.typeseven .allmode-carousel h4.allmode-name{width:100%;}
.caroufredsel_wrapper {width:100% !important;}
.typeseven .allmode-carousel .allmode-item {width:245px !important;}
#all-content #header { background-color: #252525 !important;}
.allmode-columns .allmode-comments {background:url("../images/comments.png") no-repeat !important;}
#main .contact .contact-form {width:100%;}
.controls #jform_contact_name, .controls input, .controls #jform_contact_message {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    float: left;
    font-size: 12px;
    margin: 6px 0 10px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.control-group {
    float: left;
    width: 100%;
}
#headline-1 > #fpssContainer121.fpss-template-simple, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer121.fpss-template-simple img
{width:100%;}
/*#below-banner {
    float: none;
    margin: 5px auto;
    width: 95%;
}*/
#below-banner{display:none;}
#front-a {
    float: none;
	margin: 10px auto;
	width: 723px;
 /* margin: 0 auto 10px; */
 /* width: 96%; */
}
#bottom .moduletable-movie-ideas, #bottom .moduletable-who-wears-it-better, #bottom .moduletable-photo-news, #bottom .moduletable-kvizovi{width:48%;}

#logo-banner-header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #212121;
    border-top: 1px solid #212121;
    height: 100px;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
}

#logo-banner-header {
    background-color: #1a1a1a;
    border-bottom: 1px solid #212121;
    border-top: 1px solid #212121;
    height: 100px;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
}
#header-content #main-menu .menu li a {
    font-size: 13px;
    padding: 14px 9px;
}
}




@media only screen and (min-width :200px) and (max-width :410px) {
#main .blog-featured .cols-3 .item {float:none; margin: 0 auto; width:97%; /*height:260px;*/ padding:0 0 20px 0;}
#main .blog-featured .cols-3 .column-1{width:97%; /*min-height:270px;*/}
}
@media only screen and (min-width :200px) and (max-width :370px) {
.moduletable-home-video .custom-home-video a img {width:100%;}
.itp-share {height:50px;}
}
@media only screen and (min-width :200px) and (max-width :479px) {

#main .blog-featured {
	margin-top:-15px;
}
	
#main .blog-featured .items-row.cols-1 {
   background: #ffffff none repeat scroll 0 0;
    float: left !important;
    margin: 20px 0 8px !important;
    width:100%;
}
#main .blog-featured .items-row.cols-1:nth-child(2n+2) {
	border:0;
    margin: 20px 0 8px 0 !important;
	padding-left:0;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+3) {
	border:0;
    margin: 20px 0 8px 0 !important;
	padding-left:0;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+2) {
	border:0;
    margin: 20px 0 8px 0 !important;
	padding-left:0;
}
#main .blog-featured .items-row.cols-1:nth-child(3n+2) .item {
	margin:0!important;
}
#main .blog-featured .cols-1 .item p{width:100%;}
#main .items-row h2 {
    margin:6px 0 0;
	float:left; width:100%;
}
.blog-featured .item img {height:auto; width:100%;}
#main .blog-featured .items-row.cols-1 {min-height:150px; height:auto;}

#main .blog-featured .cols-1 h2 span {
    color: #de4946;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

}
@media only screen and (min-width :480px) and (max-width :767px) {
	
#main .blog-featured .items-row.cols-1 {
   background: #ffffff none repeat scroll 0 0;
    float: left !important;
    margin: 6px 0 8px !important;
    padding: 0 0 0 1%;
    width: 48%;
	height:230px;
}
#main .blog-featured .items-row.cols-1:nth-child(2n+2) {
    border-left: 1px dotted #bdbdbd;
    border-right: medium none;
    margin: 6px 0 8px 5px !important;
}

#main .blog-featured .items-row.cols-1:nth-child(3n+2) {
    border-left: medium none;
    border-right: medium none;
    margin: 6px 0 8px !important;
}
#main .blog-featured .cols-1 .item p {width:100%;}
.blog-featured .item img {
    height: auto;
    width: 100%;
}

}
/*.controls #jform_contact_name, .controls input, .controls #jform_contact_message {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    float: left;
    font-size: 12px;
    margin: 6px 0 10px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}*/
#main .contact .contact-form #contact-form fieldset dl dd input {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 7px 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width:250px;
}

.form-actions {
    padding: 10px 0;
}
 