/*-------------------------------------------------------------------------------------------*/
/* BODY
/*-------------------------------------------------------------------------------------------*/
* {margin: 0;padding: 0;border:0;}

/* Heading */
body { background-color: #dcdcdc; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; }
body.contentpane { width: auto; margin: 10px; text-align: left; }
img { border: 0 none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
a { color: #DE4946; outline: none; text-decoration: none; }

#all { width: auto; }
#all-content { overflow: auto; width: auto; }

/* The Clearfix*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } .clear { clear: both; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clr { clear: both; }

/* Typography */
h1 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-size: 20px; font-weight: normal; margin: 10px 0; }
h2 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-size: 18px; font-weight: normal; margin: 10px 0; }
/*h3 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-size: 14px; font-weight: bold; margin: 5px 0; }*/
h3 { color: #555555; font-size: 16px; font-weight: bold;  margin:25px 0 10px; }
h4 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: normal; margin: 5px 0; }
h5 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-weight: normal; margin: 3px 0; }
h6 { color: #000; font-family: Arial, Helvetica, sans-serif;  font-weight: normal; margin: 3px 0; }
p { font-family: Arial, Helvetica, sans-serif;  font-size: 12px; margin: 5px 0; }

/* Input */
input, textarea { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }

/* Placeholder */
::-webkit-input-placeholder { color: #dcdcdc; font-style: italic; } :-moz-placeholder { color: #dcdcdc; font-style: italic; } ::-moz-placeholder { color: #dcdcdc;  font-style: italic; } :-ms-input-placeholder { color: #dcdcdc !important; font-style: italic; }

.wrapper { margin: 0 auto; width: 970px; position: relative; }

/*-------------------------------------------------------------------------------------------*/
/* HEADER
/*-------------------------------------------------------------------------------------------*/

/* Header */
#header { position: relative; float: left; z-index: 2; width: 100%; height: auto; min-height: 174px; padding: 0; margin-bottom: 10px; background-color: #1a1a1a; }
#header-content { width: 100%; margin: 0 auto; position: relative; }

/* Header Layout */
#header form .button{font-weight:bold;margin: 0;cursor:pointer;text-align:center;text-transform:uppercase}
#header form .inputbox{font-size:1em;width:13em;padding:3px;}
#header form .inputbox { margin: 2px 13px 2px 2px;}
#header form .inputbox:focus { margin: 1px 11px 0 1px; }
#header ul li a:link, #header ul li a:visited {text-transform:uppercase; padding:10px; display:inline}
#header ul.menu li{display:inline ;padding:0;margin:0;}
#header ul li.active a:link, #header ul li.active a:visited {text-transform:uppercase;padding:10px 10px;}

/* Topmenu */
#header-content #topmenu-social-menu { width: 100%; height: 28px; background-color: #111111; }
#header-content #topmenu-social-menu #topmenu { float: left; width: 485px; }
#header-content #topmenu-social-menu #topmenu .menu { float: left; }
#header-content #topmenu-social-menu #topmenu .menu li { float: left; }
#header-content #topmenu-social-menu #topmenu .menu li a { color: #EEEEEE; display: block; font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: normal; padding: 6px 10px; text-transform: none; }
#header-content #topmenu-social-menu #topmenu .menu li.item-138 a { background: none; padding: 6px 10px 6px 0; }
#header-content #topmenu-social-menu #topmenu .menu li.active a { background: none; }
#header-content #topmenu-social-menu #social-menu { float: left; overflow: hidden; width: 485px; }
#header-content #topmenu-social-menu #social-menu .custom { }
#header-content #topmenu-social-menu #social-menu .custom .icon { float: right; list-style: none outside none; }
#header-content #topmenu-social-menu #social-menu .custom .icon li { float: left; margin: 5px 0 0; padding: 0; }
#header-content #topmenu-social-menu #social-menu .custom .icon li a { display: block; margin: 0 0 0 8px; padding: 0; }
#header-content #topmenu-social-menu #social-menu .custom .icon li a img { }

/* article styles */
.blockquote-article {
	background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px #d9d9d9;
    color: #474747!important;
    line-height: 20px!important;
    margin: 0 0 20px!important;
    padding: 14px 20px 13px;
    position: relative;
}

/* Logo */
#header h1.logo { display: block; background: url("../images/crnobelo/logo.png") 0 0 no-repeat; }
#header h1.logo a { display: block; width: 175px; height: 99px; }
.brand-light { background: url("../images/crnobelo/logo-light.png") 0 0 no-repeat; height: 100px; left: -185px; position: absolute; top: 0; width: 573px; z-index: 1; opacity: 0.5; }
h1#logo{font-size:3.5em;line-height:1.0em;margin:0 !important;}

/* LogoCB */
#header h1.logocb { display: block; background: url("../images/crnobelo/logo.png") 0 0 no-repeat; }
#header h1.logocb a { display: block; width: 175px; height: 99px; }
h1#logocb{font-size:3.5em;line-height:1.0em;margin:0 !important;}

/* Banner Header */
#logo-banner-header { width: 100%; height: 100px; margin: 0 auto; background-color: #1a1a1a; border-top:  1px solid #212121; border-bottom: 1px solid #212121; }
#header-content #logo-banner-header .logoheader { float: left; height: 99px; margin: 0; overflow: hidden; position: relative; width: 175px; z-index: 2; }
#header-content #logo-banner-header #header-banner { float: left; width: 795px; margin: 0; text-align: right; padding-top: 5px; position:relative; z-index:2; }
#header-content #logo-banner-header #header-banner #banner { float: right; margin: 20px 0; width: 468px; }
#header-content #logo-banner-header #header-banner #banner .custom p { padding: 0; margin: 0; display: block; }

/* Main Menu */
#header-content #main-menu { float: left; position: relative; width: 100%; margin: 0; background: url("../images/crnobelo/menu-bg.png") left top repeat-x;}
#header-content #main-menu .menu { position: relative; width: 971px; margin: 0 auto; }
#header-content #main-menu .menu li { float: left; width: auto; }
#header-content #main-menu .menu li.active { background-color: #dcdcdc; }
#header-content #main-menu .menu li.active.deeper.parent { margin-bottom: 50px; }
#header-content #main-menu .menu li:hover { background-color: #dcdcdc; }
#header-content #main-menu .menu li a { position: relative; display: block; border-right: 1px solid #212121; padding: 15px 15px 14px 15px; color: #f0f0f0; font-family: Verdana, sans-serif; font-size: 14px; font-weight: normal; text-transform: uppercase; }
@-moz-document url-prefix() { #header-content #main-menu .menu li a { padding: 14px 15px; }}
#header-content #main-menu .menu li.current a:hover { color: #f0f0f0; }
#header-content #main-menu .menu li a:hover, #header-content #main-menu .menu li.current.active a:hover { color: #cecece; }

#header-content #main-menu .menu li ul { display: none; height: 50px; left: 0; position: absolute; z-index: 99; overflow: hidden; }
#header-content #main-menu .menu li ul li { position: relative; }
#header-content #main-menu .menu li:hover ul { display: block; }
#header-content #main-menu .menu li.active.deeper.parent .sub-menu { background: none repeat scroll 0 0 #2A2A2A; height: 50px; left: 0; position: absolute; width: 100%; z-index: 99; }
#header-content #main-menu .menu li.active.deeper.parent .sub-menu .menu-level1 li.active.deeper.parent { position: relative; }
#header-content #main-menu .menu li.active.deeper.parent .sub-menu .menu-level1 li.active.deeper.parent .sub-menu { display: none; }
#header-content #main-menu .menu li.active ul { display: block; }
#header-content #main-menu .menu li ul li a { border: 0 none; color: #f0f0f0; font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; padding: 18px 13px; text-transform: uppercase; }
@-moz-document url-prefix() { #header-content #main-menu .menu li ul li a { padding: 18px 13px 16px;  }}
#header-content #main-menu .menu li.current a { color: #f0f0f0; }
#header-content #main-menu .menu li.active a { color: #f0f0f0; }
#header-content #main-menu .menu li.active ul li.active.current a { color: #000; }
#header-content #main-menu .menu li.active a:hover { color: #f0f0f0; }
#header-content #main-menu .menu li.active ul li a { color: #f0f0f0; }
#header-content #main-menu .menu li.active ul li a:hover { color: #f0f0f0; }
#header-content #main-menu .menu li.current ul li a { color: #f0f0f0; }
#header-content #main-menu .menu li.current ul li a:hover { color: #f0f0f0; }
#header-content #main-menu .menu li.active ul li.active.current ul li a { color: #f0f0f0; }
#header-content #main-menu .menu li.active ul li.active.current ul li a:hover { color: #f0f0f0; }

#header-content #main-menu .menu li.item-101 a { border-left: 1px solid #212121; padding: 15px 22px 14px; background: url(../images/crnobelo/home-icon.png) center 15px no-repeat; text-indent: -9999px; }
#header-content #main-menu .menu li.item-101 a:hover { background: url(../images/crnobelo/home-icon-active.png) center 15px no-repeat; }
#header-content #main-menu .menu li.item-101.active a { color: #f0f0f0; background: url(../images/crnobelo/home-icon-active.png) center 15px no-repeat; }
#header-content #main-menu .menu li.item-101.active a:hover { background: url(../images/crnobelo/home-icon-active.png) center 15px no-repeat; }
@-moz-document url-prefix() { #header-content #main-menu .menu li.item-101 a { padding: 14px 22px 14px; }}
#header-content #main-menu .menu li.item-147 a:hover { background-color: #c10551; }
#header-content #main-menu .menu li.item-147.active a, #header-content #main-menu .menu li.item-147.active a:hover { background-color: #c10551; }
#header-content #main-menu .menu li.item-648 a:hover { background-color: #14b9d5; }
#header-content #main-menu .menu li.item-648.active a, #header-content #main-menu .menu li.item-648.active a:hover { background-color: #14b9d5; }
#header-content #main-menu .menu li.item-652 a:hover { background-color: #4daf7c; }
#header-content #main-menu .menu li.item-652.active a, #header-content #main-menu .menu li.item-652.active a:hover { background-color: #4daf7c; }
#header-content #main-menu .menu li.item-656 a:hover { background-color: #ee8126; }
#header-content #main-menu .menu li.item-656.active a, #header-content #main-menu .menu li.item-710.active a:hover { background-color: #ee8126; }
#header-content #main-menu .menu li.item-120 a:hover { background-color: #f54545; }
#header-content #main-menu .menu li.item-120.active a, #header-content #main-menu .menu li.item-120.active a:hover { background-color: #f54545; }
#main-menu .menu li.item-663 a:hover { background-color: #dfaf0d; }
#header-content #main-menu .menu li.item-663.active a, #header-content #main-menu .menu li.item-663.active a:hover { background-color: #dfaf0d; }
#header-content #main-menu .menu li.item-173 a:hover { background-color: #039592; }
#header-content #main-menu .menu li.item-173.active a, #header-content #main-menu .menu li.item-173.active a:hover { background-color: #039592; }
#header-content #main-menu .menu li.item-143 a:hover { background-color: #039592; }
#header-content #main-menu .menu li.item-143.active a, #header-content #main-menu .menu li.item-143.active a:hover { background-color: #039592; }
#header-content #main-menu .menu li.item-162 a:hover { background-color: #1d8be0; }
#header-content #main-menu .menu li.item-162.active a, #header-content #main-menu .menu li.item-162.active a:hover { background-color: #1d8be0; }
#header-content #main-menu .menu li.item-235 a:hover { background-color: #90899b; }
#header-content #main-menu .menu li.item-235.active a, #header-content #main-menu .menu li.item-235.active a:hover { background-color: #90899b; }
#header-content #main-menu .menu li.item-737 a:hover { background-color: #039592; }
#header-content #main-menu .menu li.item-737.active a, #header-content #main-menu .menu li.item-173.active a:hover { background-color: #039592; }

#header-content #main-menu .menu li.item-839 a:hover { background-color: #779CCE; }
#header-content #main-menu .menu li.item-839.active a, #header-content #main-menu .menu li.item-173.active a:hover { background-color: #4478BC; }
#header-content #main-menu .menu li.item-839 { background-color: #4478BC; }


/*Search*/
#search-bar { position: relative; width: 970px; height: 50px; margin: 0 auto; margin-bottom: -50px; }
#search-bar .search { position: absolute; right: 0; top:0; z-index: 1; }
#search-bar .searchfield { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; background: #111111 url("../images/crnobelo/searchicon.png") no-repeat right center; width: 50px !important; padding: 0 7px !important; padding-right: 43px; margin: 0 !important; font-size: 1.7em !important; color: #dcdcdc; text-indent: -9999px; border: none; border-right: 1px solid #212121; cursor: pointer; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; transition: all 0.4s linear; height:46px; }
#search-bar .searchfield:focus { width: 970px !important; color: #dcdcdc; text-indent: 0px; cursor: text; }
#header #search-bar form .button { display: none; }

/* Search Layout */
.searchintro {font-weight:normal;margin:20px 0 20px;}
#searchForm, #finder-search{padding:10px;}
.form-limit {margin:20px 0 0;text-align:right;padding:0 10px 0 20px;}
.highlight {font-weight:bold;}
.ordering-box {float:right;}
.phrases-box {width:65%;float:left}
.only, .phrases {margin:10px 0 0 0px;padding:10px ;line-height:1.3em;}
label.ordering {/*display:block;*/margin:10px 0 10px 0}
.word {padding:10px 10px 10px 0;}
.word input {font-weight:bold;margin:0px 10px 0px 10px;padding:4px;font-size:1em}
.word label {font-weight:bold}
fieldset.only label, fieldset.phrases label {margin:0 10px 0 0px}
.ordering-box label.ordering {margin:0 10px 5px 0;/*float:left*/}
form .search label, form .finder label {display:none}
form #finder-filter-select-list label {display:block;margin-top: 10px;margin-bottom: 2px;}
.search legend {font-weight:bold;padding:0;}

/* ++++++++++++++  Search Results  ++++++++++++++++++ */
dl.search-results {padding:10px;}
dl.search-results dt.result-title {padding:15px 15px 0px 5px; font-weight:bold;}
dl.search-results dd {padding:2px 15px 2px 5px}
dl.search-results dd.result-text {padding:10px 15px 10px 5px;line-height:1.7em}
dl.search-results dd.result-url {font-size:90%;padding:2px 15px 15px 5px;}
dl.search-results dd.result-created {padding:2px 15px 15px 5px}
dl.search-results dd.result-category {padding:10px 15px 5px 5px}

/* Input Boxes */
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2 {border: 1px solid #CCCCCC;}
.inputbox, textarea {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; padding:4px; /*margin:0 10px;*/}

/* ++++++++++++++  position  ++++++++++++++ */
.blog-featured { padding: 0; }
.items-leading { padding:0px 5px 10px 5px; overflow:hidden; margin-bottom:10px; }
.row-separator { display: block; clear: both; margin: 0; border: 0px; height:15px; }
.item-separator { display: none; margin: 0px; }
#top { margin:0 0 20px 0; overflow:hidden; }

/* ++++++++++++++  blog  ++++++++++++++ */
.cols-1 { display: block; float: none !important; margin: 0 !important; }
.cols-2 .column-1 { width:46%; float:left; }
.cols-2 .column-2 { width:46%; float:right; margin:0; }
.cols-3 .column-1 { float:left; width:29%; padding:0px 5px; margin-right:4%; }
.cols-3 .column-2 { float:left; width:29%; margin-left:0; padding:0px 5px; }
.cols-3 .column-3 { float:right; width:29%; padding:0px 5px }
.items-row { overflow:hidden; }
.column-1, .column-2, .column-3 { /*padding:10px 5px;*/ }
.column-2 { width:55%; margin-left:40%; }
.column-3 { width:30% }
.blog-more { padding:10px 5px;}

/*Main*/
#main .write_comment.readmore { bottom: 250px; display: block; height: 220px; position: relative; width: 200px; z-index: 999; }
#main .write_comment.readmore a.readon { display: block; height: 220px; margin: 0; padding: 0; text-indent: -999em; width: 200px; }

/*Main list*/
#main ul{list-style-position:outside; list-style-type:square; padding:0 0 0 15px; margin:15px 0 15px 0px;}
#main ul li { /* float: left;*/ /* list-style-image: url("../images/crnobelo/tick1.png");*/ list-style-position: inside; padding: 0 5px 5px; }
#main ul li ul li { /* list-style-image: url("../images/crnobelo/tick1.2.png");*/ list-style-position: inside; }
#main ul li ul li ul li { /*list-style-image: url("../images/crnobelo/tick1.3.png");*/ list-style-position: inside; }
#main ol{padding:0 0 0 20px;margin:-10px 0 15px;list-style-position:outside}
#main ol li { /* float: left; */ /*list-style-image: url("../images/crnobelo/tick2.png");*/ list-style-position: inside; padding: 0 10px; width: 100%; }
#main ol li ol li { /*list-style-image: url("../images/crnobelo/tick2.2.png");*/ list-style-position: inside; }
#main ol li ol li ol li { /*list-style-image: url("../images/crnobelo/tick2.3.png");*/ list-style-position: inside; }

/*-------------------------------------------------------------------------------------------*/
/* CONTENT
/*-------------------------------------------------------------------------------------------*/

#contentarea, #contentarea2 { float: left; margin: 0; padding: 0; width: 100%; }
#content-page { margin: 0 auto; overflow: hidden; padding: 0 8px; position: relative; width: 970px; z-index: 1; }

#main-content { margin: 0 auto; /*overflow: hidden;*/ padding: 0; width: 970px; position: relative; }
#main-content #wrapper2 { float: left; width: 650px; }

#above-banner { background-color: #ffffff; float: left; margin: 0 0 10px; padding: 5px; width: 630px; text-align: center; }
#above-banner .customabove468 p { margin: 0; }
#above-banner img, #below-banner img { width: 468px; }

.banner-left { float: left; }
.banner-right { float: right; }

/*Top Slider*/
#headline { float: left; width: 640px; height: 440px; padding: 5px; margin: 0 0 10px; background-color: #ffffff; }
#headline-1 { float: left; width: 345px; padding-right: 5px; }
#headline-2 { float: left; width: 290px; padding-bottom: 5px; }
#headline-3 { float: left; width: 290px; }
#headline-1 > #fpssContainer121.fpss-template-simple, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper, #headline-1 > #fpssContainer121.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer121.fpss-template-simple img { width: 345px; height: 440px; }
#headline-2 > #fpssContainer123.fpss-template-simple, #headline-2 > #fpssContainer123.fpss-template-simple .slides-wrapper, #headline-2 > #fpssContainer123.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer123.fpss-template-simple img { width: 290px; height: 240px; }
#headline-3 > #fpssContainer124.fpss-template-simple, #headline-3 > #fpssContainer124.fpss-template-simple .slides-wrapper, #headline-3 > #fpssContainer124.fpss-template-simple .slides-wrapper .slides .slide, #headline-3 > #fpssContainer124.fpss-template-simple img { width: 290px; height: 195px; }
#fpssContainer121.fpss-template-simple .slides-wrapper .slides .slide .slidetext, #fpssContainer123.fpss-template-simple .slides-wrapper .slides .slide .slidetext, #fpssContainer124.fpss-template-simple .slides-wrapper .slides .slide .slidetext { background-color: rgba(0,0,0,0.75); bottom: -60px; left: 0; margin: 0; padding: 4px 8px 12px; position: absolute; right: 0; width: auto; /*z-index: 1;*/ -webkit-transition-duration: 0.3s;
transition-duration: 0.3s; }
#fpssContainer121.fpss-template-simple .slides-wrapper .slides:hover .slidetext, #fpssContainer123.fpss-template-simple .slides-wrapper .slides:hover .slidetext, #fpssContainer124.fpss-template-simple .slides-wrapper .slides:hover .slidetext  { background-color: rgba(245,69,69,0.90); bottom:0!important; }
#fpssContainer121.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer123.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer124.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer121.fpss-template-simple .slides-wrapper .slides .slidetext h1 span, #fpssContainer123.fpss-template-simple .slides-wrapper .slides .slidetext h1 span, #fpssContainer124.fpss-template-simple .slides-wrapper .slides .slidetext h1 span { padding: 10px 0px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; color: #ffffff; text-transform: uppercase; line-height: 1.6em; letter-spacing: 0.4pt;}
.fpss-template-simple .slidetext p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

/*Top Slider J v3.4*/
#headline-1 > #fpssContainer459.fpss-template-simple, #headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper, #headline-1 > #fpssContainer459.fpss-template-simple .slides-wrapper .slides .slide, #headline-1 > #fpssContainer459.fpss-template-simple img { width: 345px; height: 440px; }
#headline-2 > #fpssContainer461.fpss-template-simple, #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper, #headline-2 > #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slide, #headline-2 > #fpssContainer461.fpss-template-simple img { width: 290px; height: 240px; }
#headline-3 > #fpssContainer462.fpss-template-simple, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper, #headline-3 > #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slide, #headline-3 > #fpssContainer462.fpss-template-simple img { width: 290px; height: 195px; }
#fpssContainer459.fpss-template-simple .slides-wrapper .slides .slide .slidetext, #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slide .slidetext, #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slide .slidetext { background-color: rgba(0,0,0,0.75); bottom: -60px; left: 0; margin: 0; padding: 4px 8px 12px; position: absolute; right: 0; width: auto; /*z-index: 1;*/ -webkit-transition-duration: 0.3s;
transition-duration: 0.3s; }
#fpssContainer459.fpss-template-simple .slides-wrapper .slides:hover .slidetext, #fpssContainer461.fpss-template-simple .slides-wrapper .slides:hover .slidetext, #fpssContainer462.fpss-template-simple .slides-wrapper .slides:hover .slidetext  { background-color: rgba(245,69,69,0.90); bottom:0!important; }
#fpssContainer459.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slidetext h1, #fpssContainer459.fpss-template-simple .slides-wrapper .slides .slidetext h1 span, #fpssContainer461.fpss-template-simple .slides-wrapper .slides .slidetext h1 span, #fpssContainer462.fpss-template-simple .slides-wrapper .slides .slidetext h1 span { padding: 10px 0px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; color: #ffffff; text-transform: uppercase; line-height: 1.6em; letter-spacing: 0.4pt;}
.fpss-template-simple .slidetext p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }


#below-banner { background-color: #ffffff; float: left; margin: 0 0 10px; width: 640px; text-align: center; padding: 5px; }
#below-banner .custombelow468 { padding: 5px; border-bottom: 1px solid #dcdddf; }
#below-banner .custombelow468 p { margin: 0; }
#front-a { /*background-color: #ffffff;*/ float: left; margin-bottom: 10px; width: 650px; }

/**************************************************************/


/***************Begin Content Page**********************/

#wrapper2 #main .item-page { width: 630px; float: left; padding: 10px; margin: 0; background-color: #ffffff; }
/*#wrapper2 #main .item-page h2 { padding: 10px 5px; margin: 0 0 10px; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 24px; line-height:32px; font-weight: bold; text-transform: uppercase; }*/
#wrapper2 #main .item-page h2 { padding: 10px 5px; margin: 0 0 10px; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 42px; line-height:42px; font-weight: 500;}
#wrapper2 #main .item-page h2 a { color: #585858; } #wrapper2 #main .item-page h2 a:hover { color: #585858; }
#wrapper2 #main .item-page p { /*width: 100%;*/ margin: 0 0 15px; color: #555555; font-size: 13px; line-height: 1.6em; }
#wrapper2 #main .item-page p h2 { float: left; }

/* Moduletable */
#wrapper2 .moduletable { width: 640px; float: left; padding: 5px; margin: 0 0 10px; background-color: #ffffff; }
#wrapper2 .moduletable h3 { padding: 6px 5px 8px; margin: 0; margin-bottom: 10px; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold; text-transform: uppercase; }

/* Moduletable AllmodeName */
#wrapper2 .moduletable h4.allmode-name { padding: 6px 5px 8px; margin: 0 0 10px; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold; text-transform: uppercase; }
#wrapper2 .moduletable .allmode-portal { padding: 0; margin: 0; }

/* Tabs Nav */
div.nn_tabs_nav { margin: 0; padding: 0; background: none; border-bottom: 2px solid #dcdcdc; border-top: none; } 
div.nn_tabs_nav li.nn_tabs_tab a, div.nn_tabs_nav li.nn_tabs_tab a:link { padding: 7px 8px 2px; }
div.nn_tabs_nav li.nn_tabs_tab.active a, div.nn_tabs_nav li.nn_tabs_tab.active a:hover, div.nn_tabs_nav li.nn_tabs_tab a:hover { color: #585858; background-color: #dcdcdc; }

/* Tabs Nav J3.4 */
div.nn_tabs { margin: 0; padding: 0; background: none; border-bottom: 2px solid #dcdcdc; border-top: none; } 
div.nn_tabs li.nn_tabs a, div.nn_tabs li.nn_tabs a:link { padding: 7px 8px 2px; }
div.nn_tabs li.nn_tabs.active a, div.nn_tabs li.nn_tabs.active a:hover, div.nn_tabs li.nn_tabs a:hover { color: #585858; background-color: #dcdcdc; }

/* Blog Featured */
/* #main { background: none; float: left; margin: 0 0 10px; padding: 0; width: 650px; } */
#main { background: none; float: left; margin: 0; padding: 0; width: 650px; }
#main .blog-featured { background-color: #ffffff; padding: 0; }
#main .blog-featured .cols-3 { padding: 5px 0px 0; }
#main .blog-featured .cols-3 .item { float: left; height: 220px; margin: 0 5px 10px 9px; overflow: hidden; padding: 0; text-align: left; width: 200px; }
#main .blog-featured .cols-3 .item:hover { background: url("../images/crnobelo/bg-item.png") repeat-y center top; }
#main .blog-featured .cols-3 .item .img-intro-left { float: left; margin: 0 0 10px; }
#main .blog-featured .cols-3 .item .img-intro-left img { height: 92px; width: 200px; }
#main .blog-featured .cols-3 .column-1 { padding: 0; margin: 0 9px 10px 6px; }
#main .blog-featured .cols-3 .column-2 { border-left: 1px dotted #BDBDBD; border-right: 1px dotted #BDBDBD; margin: 0 0 10px; padding: 0 9px; }
#main .blog-featured .cols-3 .column-1 a img, #main .blog-featured .cols-3 .column-2 a img, #main .blog-featured .cols-3 .column-3 a img { height: 90px!important; width: 200px!important }
#main .blog-featured .cols-3 .item h2 { display: block; float: left; height: auto; margin: 0; overflow: hidden; padding: 9px 0 4px; width: 200px; line-height: 19px; }
#main .blog-featured .cols-3 .item h2 span { color: #DE4946; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; }
#main .blog-featured .cols-3 .item p { color: #666666; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; margin: 0 0 10px; padding: 0; width: 200px; line-height: 20px; }
#main .blog-featured .cols-3 .column-3 { margin-right: 0; padding: 0; }
#front-b { background-color: #ffffff; float: left; width: 650px; margin-bottom: 10px; margin-top:10px;}

/* Horoskop */
#main-content #wrapper2 .horoskop { margin-top: 0; }
.horoskop img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }
.horoskop1 { color: #222222 !important; }

/* Menu Horoskop */
.horoskop-menu ul { list-style: none; display: block; float: left; }
.horoskop-menu ul li { float: left; margin: 5px 8px; }
.horoskop-menu ul li img { width: 90px; height: 90px; }
.horoskop-menu ul li img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }

/* Bonus Horoskop */
.bonus-horoskop ul { list-style-position: outside; padding-left: 17px; }
.bonus-horoskop ul li { padding: 5px; padding-left: 0px; }
.bonus-horoskop ul li h4 { padding: 0; margin: 0; font-size: 13px; }
.bonus-horoskop ul li a { color: #07AAC5; font-weight: normal; }
.bonus-horoskop ul li a:hover { color: #14b9d5; opacity: 0.7; }

/*horoskop front module*/
#horoskop-sprite {margin-top:5px;margin-bottom:10px;}
#horoskop-sprite a {background-image: url('../images/crnobelo/horoskop-front.png');display: block;float: left;height: 50px;width: 50px;}
#horoskop-sprite a b {display: none;}

a#oven2 {background-position: 0 -115px;}
a#oven2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#bik2 {background-position: -50px -115px;}
a#bik2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#bliznaci2 {background-position: -100px -115px;}
a#bliznaci2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#rak2 {background-position: -150px -115px;}
a#rak2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#lav2 {background-position: -200px -115px;}
a#lav2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#devica2 {background-position: -250px -115px;}
a#devica2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#vaga2 {background-position: 0 -165px;}
a#vaga2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}
	
a#skorpija2 {background-position: -50px -165px;}
a#skorpija2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}
	
a#strelec2 {background-position: -100px -165px;}
a#strelec2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#jarec2 {background-position: -150px -165px;}
a#jarec2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#vodolija2 {background-position: -200px -165px;}
a#vodolija2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

a#ribi2 {background-position: -250px -165px;}
a#ribi2:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;	
	-khtml-opacity: 0.7;
	opacity: 0.7;}

/* Home Video Moduls */
.moduletable-home-video { padding: 5px 4px 0; }
.moduletable-home-video h3 { border-bottom: 2px solid #039592; padding: 6px 5px 8px; margin: 0; margin-bottom: 10px; text-transform: uppercase; font-size: 12px; }
.moduletable-home-video span.backh3 { color: #039592; padding: 0; }
.moduletable-home-video #hwdvids .standard { border: none !important; }
.moduletable-home-video a { color: #7A7A7A; font-size: 11px !important; font-weight: normal; text-decoration: none; }
.moduletable-home-video .custom-home-video td { display: inline; float: left; margin: 0 2px 0 2px; }
.moduletable-home-video .custom-home-video span { display: block; margin-top: 5px; font-size: 11px!important; line-height: 15px; }
.moduletable-home-video .custom-home-video a img { border: 1px solid #039592 !important; height: auto; padding: 1px; width: 152px; }
.moduletable-home-video img { border: none !important; }
.moduletable-home-video #hwdvids .box { border: none !important; padding-top: 0; }
.moduletable-home-video #hwdvids .listThumbnail { padding: 0; }
.moduletable-home-video #hwdvids .listThumbnail a img { border: 1px solid #039592 !important; height:100px; }

#hwdvids .standard .read-more { padding: 0 !important; position: relative; }
#hwdvids .standard .read-more a { font-size: 11px !important; position: absolute; right: 10px; top: -34px; z-index: 9999; color: #787777; text-transform: lowercase; }

/* Bottom Moduls */
#bottom { background: none; float: left; margin: 0 0 10px; padding: 0; width: 650px; }
#bottom .custombottom468 { background-color: #ffffff; margin: 0 0 10px; padding: 5px; }
#bottom .custombottom468 p { margin: 0; }
#bottom .custombottom468 img { width: 468px; }

/*#bottom .moduletable-who-wears-it-better { background-color: #ffffff; float: left; margin: 0 0 10px; padding: 5px; width: 305px; position: relative; }*/
#bottom .moduletable-who-wears-it-better { background-color: #ffffff; float: left; margin: 0; padding: 5px; width: 310px; position: relative; }
#bottom .moduletable-who-wears-it-better h3 { border-bottom: 2px solid #c10551; padding: 6px 5px 8px; margin: 0; position: relative; }
#bottom .moduletable-who-wears-it-better h3 span.backh3 { color: #c10551; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-transform: uppercase;}

/* Komu mu stoi podobro Raxo */

/*Typeseven*/
.typeseven {position:relative;}

.typesevenleft {position: relative;width: 310px!important;height:349px;}
/*.typesevenleft .allmode-carousel h4.allmode-name { width: 310px; margin: 0 auto!important; border-bottom: 2px solid #c10551!important; color: #c10551!important; }*/
.typesevenleft .allmode-carousel h4.allmode-name { width: 310px; margin: 0 auto!important; border-bottom: 2px solid #dfaf0d!important; color:#dfaf0d!important; }
.typesevenleft .allmode-carousel .allmode-itemsbox { border: none; margin: 0; }
.typesevenleft .allmode-carousel .allmode-left { /* background-image: none; */ top: -30px; right: 15px; left: inherit; width: 26px; height: 23px; }
.typesevenleft .allmode-carousel .allmode-right { /* background-image: none; */ top: -30px; right: 0px; left: inherit; width: 26px; height: 23px; }
.typesevenleft .allmode-carousel .allmode-prev, .typesevenleft .allmode-carousel .allmode-next { width: 26px; height: 23px; top: 0; margin-top: 0; /* background-color: #d2d2d2; */ cursor: pointer; }
/*.typesevenleft .allmode-carousel .allmode-prev:hover, .typesevenleft .allmode-carousel .allmode-next:hover { background-color: #585858; } */
/* .typesevenleft .allmode-carousel .allmode-prev { background-position: -1px 50%!important; } */
/* .typesevenleft .allmode-carousel .allmode-next { background-position: -154px 50%!important; } */
.typesevenleft .allmode-carousel .allmode-center { padding-top: 8px; padding-bottom:0px; margin: 0; }
.typesevenleft .allmode-carousel .allmode-slider { margin: 0; }
.typesevenleft .allmode-carousel .allmode-item { margin: 0; width:310px!important; height:310px!important; } 
.typesevenleft .allmode-carousel .allmode-show { border: none; }
.typesevenleft .allmode-carousel .allmode-show .allmode-img { margin: 0; }
.typesevenleft .allmode-carousel .allmode-title, .typesevenleft .allmode-carousel .allmode-title 
{max-height: 35px; margin-top: -30px; font: 13px/18px Arial, Helvetica, sans-serif;  display: block;  background:none repeat scroll 0 0 #000000; position:relative; text-transform: uppercase; line-height: 18px; opacity: 0.7;} 
.typesevenleft .allmode-carousel .allmode-title, .typesevenleft .allmode-carousel .allmode-title a {color: #fff; padding-left:4px; padding-top:6px; padding-bottom:6px;}
.typesevenleft .allmode-carousel .allmode-title a:hover, .typesevenleft .allmode-carousel .allmode-text a:hover { text-decoration: none; }
.typesevenleft .allmode-carousel .allmode-info { float: left; background-image: none; margin: 5px 8px 0 0; text-transform: uppercase; font-size: 10px; font-weight: normal; color: #787777; }
.typesevenleft .allmode-carousel .allmode-info a { color: #787777; } .typesevenleft .allmode-carousel .allmode-info a:hover { color: #222; }
.typesevenleft .allmode-carousel .allmode-info span { margin-left: 5px; }
.typesevenleft .allmode-carousel .allmode-details { float: left; padding: 1px 0 0 16px; border: none; background: url(comments.png) left 2px no-repeat; color: #999999; font: 11px/13px "Arial","Helvetica",sans-serif; }
.typesevenleft .allmode-carousel .allmode-details a, .typesevenleft .allmode-carousel .allmode-details a:hover { color: #999999; }


.typesevenleft2 {position: relative;width: 310px!important; height:249px;}
.typesevenleft2 .allmode-carousel h4.allmode-name { width: 310px; margin: 0 auto!important; border-bottom: 2px solid #f54545!important; color: #f54545!important; }
.typesevenleft2 .allmode-carousel .allmode-itemsbox { border: none; margin: 0; }
.typesevenleft2 .allmode-carousel .allmode-left { background-image: none; top: -30px; right: 15px; left: inherit; width: 26px; height: 23px; }
.typesevenleft2 .allmode-carousel .allmode-right { background-image: none; top: -30px; right: 0px; left: inherit; width: 26px; height: 23px; }
.typesevenleft2 .allmode-carousel .allmode-prev, .typesevenleft2 .allmode-carousel .allmode-next { width: 26px; height: 23px; top: 0; margin-top: 0; /* background-color: #d2d2d2; */ cursor: pointer; }
/* .typesevenleft2 .allmode-carousel .allmode-prev:hover, .typesevenleft2 .allmode-carousel .allmode-next:hover { background-color: #585858; }
.typesevenleft2 .allmode-carousel .allmode-prev { background-position: -1px 50%!important; }
.typesevenleft2 .allmode-carousel .allmode-next { background-position: -154px 50%!important; } */
.typesevenleft2 .allmode-carousel .allmode-center { padding-top: 8px; padding-bottom:0px; margin: 0; }
.typesevenleft2 .allmode-carousel .allmode-slider { margin: 0; }
.typesevenleft2 .allmode-carousel .allmode-item { margin: 0; width:310px!important; height:210px!important; } 
.typesevenleft2 .allmode-carousel .allmode-show { border: none; }
.typesevenleft2 .allmode-carousel .allmode-show .allmode-img { margin: 0; }
.typesevenleft2 .allmode-carousel .allmode-title, .typesevenleft2 .allmode-carousel .allmode-title 
{max-height: 35px; margin-top: -30px; font: 13px/18px Arial, Helvetica, sans-serif;  display: block;  background:none repeat scroll 0 0 #000000; position:relative; text-transform: uppercase; line-height: 18px; opacity: 0.7;} 
.typesevenleft2 .allmode-carousel .allmode-title, .typesevenleft2 .allmode-carousel .allmode-title a {color: #fff; padding-left:4px; padding-top:6px; padding-bottom:6px;}
.typesevenleft2 .allmode-carousel .allmode-title a:hover, .typesevenleft2 .allmode-carousel .allmode-text a:hover { text-decoration: none; }
.typesevenleft2 .allmode-carousel .allmode-info { float: left; background-image: none; margin: 5px 8px 0 0; text-transform: uppercase; font-size: 10px; font-weight: normal; color: #787777; }
.typesevenleft2 .allmode-carousel .allmode-info a { color: #787777; } .typesevenleft2 .allmode-carousel .allmode-info a:hover { color: #222; }
.typesevenleft2 .allmode-carousel .allmode-info span { margin-left: 5px; }
.typesevenleft2 .allmode-carousel .allmode-details { float: left; padding: 1px 0 0 16px; border: none; background: url(comments.png) left 2px no-repeat; color: #999999; font: 11px/13px "Arial","Helvetica",sans-serif; }
.typesevenleft2 .allmode-carousel .allmode-details a, .typesevenleft2 .allmode-carousel .allmode-details a:hover { color: #999999; }


.typesevenright {float: right!important;position: relative;width: 310px!important;height:349px;}
.typesevenright .allmode-carousel-double h4.allmode-name { width: 310px; margin: 0 auto!important; border-bottom: 2px solid #f54545!important; color: #f54545!important;}
.typesevenright .allmode-carousel-double .allmode-itemsbox { border: none; margin: 0; }
.typesevenright .allmode-carousel-double .allmode-left { background-image: none; top: -30px; right: 15px; left: inherit; width: 26px; height: 23px; }
.typesevenright .allmode-carousel-double .allmode-right { background-image: none; top: -30px; right: 0px; left: inherit; width: 26px; height: 23px; }
.typesevenright .allmode-carousel-double .allmode-prev, .typesevenright .allmode-carousel-double .allmode-next { width: 26px; height: 23px; top: 0; margin-top: 0; /* background-color: #d2d2d2; */ cursor: pointer; }
/*.typesevenright .allmode-carousel-double .allmode-prev:hover, .typesevenright .allmode-carousel-double .allmode-next:hover { background-color: #585858; }
.typesevenright .allmode-carousel-double .allmode-prev { background-position: -1px 50%!important; }
.typesevenright .allmode-carousel-double .allmode-next { background-position: -154px 50%!important; } */
.typesevenright .allmode-carousel-double .allmode-center { padding-top: 8px; padding-bottom:0; margin: 0; }
.typesevenright .allmode-carousel-double .allmode-slider { margin: 0; }
.typesevenright .allmode-carousel-double .allmode-item { margin: 0; width:310px!important;  }
.typesevenright .allmode-carousel-double .allmode-show { border: none; }
.typesevenright .allmode-carousel-double .allmode-show .allmode-img { margin: 0; }
.typesevenright .allmode-carousel-double .allmode-title, .typesevenright .allmode-carousel-double .allmode-title { 
max-height: 35px; margin-top: -30px; font: 13px/18px Arial, Helvetica, sans-serif; display: block; background:none repeat scroll 0 0 #000000; position:relative; text-transform: uppercase; line-height: 18px; opacity: 0.7;} 
.typesevenright .allmode-carousel-double .allmode-title, .typesevenright .allmode-carousel-double .allmode-title a {color: #fff;  padding-left:4px; padding-top:6px; padding-bottom:6px;} 
.typesevenright .allmode-carousel-double .allmode-title a:hover, .typesevenright .allmode-carousel-double .allmode-text a:hover { text-decoration: none; }
.typesevenright .allmode-carousel-double .allmode-info { float: left; background-image: none; margin: 5px 8px 0 0; text-transform: uppercase; font-size: 10px; font-weight: normal; color: #787777; }
.typesevenright .allmode-carousel-double .allmode-info a { color: #787777; } .typesevenright .allmode-carousel-double .allmode-info a:hover { color: #222; }
.typesevenright .allmode-carousel-double .allmode-info span { margin-left: 5px; }
.typesevenright .allmode-carousel-double .allmode-details { float: left; padding: 1px 0 0 16px; border: none; background: url(comments.png) left 2px no-repeat; color: #999999; font: 11px/13px "Arial","Helvetica",sans-serif; }
.typesevenright .allmode-carousel-double .allmode-details a, .typesevenright .allmode-carousel-double .allmode-details a:hover { color: #999999; }

.typesevenright2 {float: right!important;position: relative;width: 310px!important; height:249px;}
.typesevenright2 .allmode-carousel h4.allmode-name { width: 310px; margin: 0 auto!important; border-bottom: 2px solid #dfaf0d!important; color: #dfaf0d!important;}
.typesevenright2 .allmode-carousel .allmode-itemsbox { border: none; margin: 0; }
.typesevenright2 .allmode-carousel .allmode-left { background-image: none; top: -30px; right: 15px; left: inherit; width: 26px; height: 23px; }
.typesevenright2 .allmode-carousel .allmode-right { background-image: none; top: -30px; right: 0px; left: inherit; width: 26px; height: 23px; }
.typesevenright2 .allmode-carousel .allmode-prev, .typesevenright2 .allmode-carousel .allmode-next { width: 26px; height: 23px; top: 0; margin-top: 0; /* background-color: #d2d2d2; */ cursor: pointer; }
/* .typesevenright2 .allmode-carousel .allmode-prev:hover, .typesevenright2 .allmode-carousel .allmode-next:hover { background-color: #585858; }
.typesevenright2 .allmode-carousel .allmode-prev { background-position: -1px 50%!important; }
.typesevenright2 .allmode-carousel .allmode-next { background-position: -154px 50%!important; } */
.typesevenright2 .allmode-carousel .allmode-center { padding-top: 8px; padding-bottom:0; margin: 0; }
.typesevenright2 .allmode-carousel .allmode-slider { margin: 0; }
.typesevenright2 .allmode-carousel .allmode-item { margin: 0; width:310px!important; height:210px!important;  }
.typesevenright2 .allmode-carousel .allmode-show { border: none; }
.typesevenright2 .allmode-carousel .allmode-show .allmode-img { margin: 0; }
.typesevenright2 .allmode-carousel .allmode-title, .typesevenright2 .allmode-carousel .allmode-title { 
max-height: 35px; margin-top: -30px; font: 13px/18px Arial, Helvetica, sans-serif; display: block; background:none repeat scroll 0 0 #000000; position:relative; text-transform: uppercase; line-height: 18px; opacity: 0.7;} 
.typesevenright2 .allmode-carousel .allmode-title, .typesevenright2 .allmode-carousel .allmode-title a {color: #fff;  padding-left:4px; padding-top:6px; padding-bottom:6px;} 
.typesevenright2 .allmode-carousel .allmode-title a:hover, .typesevenright .allmode-carousel .allmode-text a:hover { text-decoration: none; }
.typesevenright2 .allmode-carousel .allmode-info a { color: #787777; } .typesevenright2 .allmode-carousel .allmode-info a:hover { color: #222; }
.typesevenright2 .allmode-carousel h4.allmode-name a {color:#dfaf0d!important;}



/*#bottom .moduletable-movie-ideas { background-color: #ffffff; float: right; margin: 0 0 10px; padding: 5px; width: 305px; position: relative; }*/
#bottom .moduletable-movie-ideas { background-color: #ffffff; float: right; margin: 0; padding: 5px; width: 310px; position: relative; }
#bottom .moduletable-movie-ideas h3 { border-bottom: 2px solid #f54545; padding: 6px 5px 8px; margin: 0; position: relative; }
#bottom .moduletable-movie-ideas h3 span.backh3 { color: #f54545; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-transform: uppercase;}

#bottom .moduletable-photo-news { background-color: #ffffff; float: left; margin: 0; padding: 5px; width: 310px; position: relative; }
#bottom .moduletable-photo-news h3 { border-bottom: 2px solid #f54545; padding: 6px 5px 8px; margin: 0; position: relative; }
#bottom .moduletable-photo-news h3 span.backh3 { color: #f54545; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-transform: uppercase;}

#bottom .moduletable-weekend-ideas { background-color: #ffffff; float: right; margin: 0; padding: 5px; width: 310px; position: relative; }
#bottom .moduletable-weekend-ideas h3 { border-bottom: 2px solid #c10551; padding: 6px 5px 8px; margin: 0; position: relative; }
#bottom .moduletable-weekend-ideas h3 span.backh3 { color: #c10551; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-transform: uppercase;}

#bottom .nspArtPage .nspArt h4.nspHeader { background: url("../images/crnobelo/bg-title-gk4.png") repeat-x scroll center center transparent; bottom: 33px; margin: 0; opacity: 0.7; padding: 11px 0 10px; position: relative; width: 305px; }
#bottom .nspArtPage .nspArt h4.nspHeader a { color: #FFFFFF; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 12px; padding: 0 10px; }
#bottom .nspPagination { display: none; }
#bottom .nspPrev { background: url("../images/crnobelo/preview-next.png") no-repeat scroll left center transparent; height: 12px; margin: 0; width: 12px; }
#bottom .nspNext { background: url("../images/crnobelo/preview-next.png") no-repeat scroll right center transparent; height: 12px; margin: 0; width: 12px; }
#bottom .nspPrev:hover { opacity: 0.8; }
#bottom .nspNext:hover { opacity: 0.8; }
#bottom .nspMain { position: relative; top: -28px; width: 100%; }
#bottom #nsp-nsp_127 { height: 250px; overflow: hidden; }
#bottom #nsp-nsp_127 .nspArts { height: 250px; }
#bottom #nsp-nsp_127 .nspArts img { height: 202px; width: 305px; }
#bottom #nsp-nsp_128 { height: 350px; overflow: hidden; }
#bottom #nsp-nsp_128 .nspArts { height: 350px; }
#bottom #nsp-nsp_128 .nspArts img { height: 303px; width: 305 }
#bottom #nsp-nsp_130 { height: 350px; overflow: hidden; }
#bottom #nsp-nsp_130 .nspArts { height: 350px; }
#bottom #nsp-nsp_130 .nspArts img { height: 303px; width: 305 }
#bottom #nsp-nsp_131 { height: 250px; overflow: hidden; }
#bottom #nsp-nsp_131 .nspArts { height: 250px; }
#bottom #nsp-nsp_131 .nspArts img { height: 202px; width: 305px; }
#bottom .nspBotInterface, #bottom .nspTopInterface { height: 19px; margin: 0 0 15px; overflow: hidden; padding: 6px; }

/*Contact*/
#main .contact { background-color: #ffffff; float: left; padding: 0 10px; }
#main .contact h2 { color: #DE4946; font-size: 20px; }
#main .contact h3 { display: none; }
#main .contact h3#form-contact { display: none; }
#main .contact .contact-address { float: left; margin: 0; }
#main .contact .contact-address .jicons-icons { float: left; margin: 0 5px 0 0; }
#main .contact .contact-address .jicons-icons img { }
#main .contact .contact-address address { float: left; margin: 0; }
#main .contact .contact-address address .contact-street { color: #555555; }
#main .contact .contact-contactinfo { float: left; }
#main .contact .contact-contactinfo p { float: left; margin: 0; }
#main .contact .contact-contactinfo h3 { display: none; }
#main .contact .contact-contactinfo p .jicons-icons { }
#main .contact .contact-contactinfo p .jicons-icons img { margin: 0 0 -5px; }
#main .contact .contact-contactinfo p .contact-emailto { }
#main .contact .contact-contactinfo p .contact-emailto a { color: #DE4946; text-decoration: none; transition: color 0.2s linear 0s; }
#main .contact .contact-contactinfo p .contact-emailto a:hover { color: #222; }
#main .contact .contact-contactinfo p .contact-telephone { }
#main .contact .contact-form { float: left; margin: 25px 0 0; }
#main .contact .contact-form #contact-form { }
#main .contact .contact-form #contact-form fieldset { border: 0 none; margin: 0 auto; padding: 0; }
#main .contact .contact-form #contact-form fieldset legend { display: none; }
#main .contact .contact-form #contact-form fieldset dl { }
#main .contact .contact-form #contact-form fieldset dl dt { display: block; float: left; width: 620px; }
#main .contact .contact-form #contact-form fieldset dl dt #jform_contact_email_copy { border: 1px solid #D7D7D7; margin: 5px 8px 5px 5px; }
#main .contact .contact-form #contact-form fieldset dl dt #jform_contact_email_copy-lbl { color: #555555; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; margin: 5px 0 5px 25px; }
#main .contact .contact-form #contact-form fieldset dl dt label { color: #555555; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; width: 100%; }
#main .contact .contact-form #contact-form fieldset dl dd { display: block; float: left;  width: 620px;}
#main .contact .contact-form #contact-form fieldset dl dd .button.validate { background-color: #B2B2B2; border: 1px solid #939393; color: #FFFFFF; display: block; float: right !important; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 0 8px 15px 0; padding: 6px 8px; transition: color 0.2s linear 0s; }
#main .contact .contact-form #contact-form fieldset dl dd .button.validate:hover { color: #000; }
#main .contact .contact-form #contact-form fieldset dl #send-contact { border-bottom: 1px solid #D3D3D3; padding-bottom: 18px; }
#main .contact .contact-form #contact-form fieldset dl dd input { background: none repeat scroll 0 0 #F1F1F1; border: 1px solid #D7D7D7; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; float: left; font-size: 12px; line-height: 12px; padding: 7px 5px; width: 440px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
#main .contact .contact-form #contact-form fieldset dl dd input#jform_contact_email_copy { border: 0 none; bottom: 24px; float: left; left: 0; margin: 0; padding: 0; position: relative; width: auto; }
#main .contact .contact-form #contact-form fieldset dl dd input:focus { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6); }
#main .contact .contact-form #contact-form fieldset dl dd #jform_contact_message { background: none repeat scroll 0 0 #F1F1F1; border: 1px solid #D7D7D7; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; height: 210px; padding: 5px; width: 600px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
#main .contact .contact-form #contact-form fieldset dl dd #jform_contact_message:focus { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6); }
#main .contact .contact-miscinfo { float: left; }
#main .contact .contact-miscinfo .contact-misc { margin: 10px 0 0; }
#main .contact #logo-post { border-top: 1px solid #D3D3D3; float: left; margin: 20px 0 0; width: 100%; }
#main .contact #logo-post ul { float: left; list-style: none outside none; padding: 0; width: 620px; }
#main .contact #logo-post ul li { float: left; list-style: none outside none; margin: 0 0 30px; padding: 0; width: 33.3%; }
#main .contact #logo-post ul li.first { }
#main .contact #logo-post ul li.second { }
#main .contact #logo-post ul li.last { }
#main .contact #logo-post ul li img { }
.contact input:focus, textarea:focus { border-color: #A1A1A1; transition: border-color 0.25s ease-in-out 0s; }
.control-group {float: left;width: 100%;}
.controls #jform_contact_name, .controls input, .controls #jform_contact_message {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
    margin: 6px 2px 10px;
    padding: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}
	.form-actions {
    padding: 10px 0;
}



/*  ####################   forms   #####################  */
#member-registration{padding:0 5px}
#member-registration fieldset{border:solid 1px #ddd}
form fieldset dt{clear:left ;float:left;width:12em;padding:3px 0}
form fieldset dd{float:left;padding:3px 0}
fieldset{margin:10px 0 ;padding:15px 0px;border:solid 1px}

/* ++++++++++++++  login Layout  ++++++++++++++ */
#login-form{padding-top:5px}
#login-form fieldset{padding:0px;}
#login-form .inputbox{padding:2px}
#login-form fieldset.input{padding:10px 0 0 0;margin:0px 0 10px 5px}
#login-form label{margin-right:10px;width:8.4em;display:block;float:left}
#form-login-remember label{float:none;width:auto;display:inline}
.logout-button{margin-top:10px}
input.button, button.button, button.validate{cursor:pointer;padding:3px 5px 3px 7px ;font-weight:bold;line-height:1.2em;font-family:arial;}
#modlgn-username, #modlgn-passwd{width:9em}
.module_content #form-login-username label, .module_content #form-login-password label{float:left;width:5.2em}
.login-fields{margin:10px 0}
.login-fields label{float:left;width:9em}
.login-description img, .logout-description img{ float:left;margin-right:20px}
.login-description, .logout-description{overflow:hidden;padding-left:5px;margin:20px 0 10px 0}
.logout-description{ margin-bottom:20px}

/* Pagination */
#main .pagination { background-color: #ffffff; clear: both; float: left; height: auto; margin: 0 auto; padding: 0 10px 10px ; text-align: center; width: 630px; }
.page-count { float: left; margin: 0 0 5px; text-align: center; width: 100%; }
.page-nav { margin: 0 auto; width: 90px; }
#main .pagination ul { float: right; list-style-type: none; margin: 0 auto; padding: 0; text-align: left; width: auto; }
#main .pagination li { display: block; float: left; list-style: none; padding: 0; margin-left: 3px; width: auto; text-align: center; background-color: #eaeaea; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;}
#main .pagination li span { color: #B2B2B2; padding: 3px 4px; display: block; min-width: 14px; }
#main .pagination li a { color: #585858; text-decoration: none; padding: 3px 4px; display: block; min-width: 14px; }
#main .pagination li a:hover { color: #fff; background-color: #585858; }

#main .pagination li.pagination-start, #main .pagination li.pagination-prev, #main .pagination li.pagination-next, #main .pagination li.pagination-end { float: left; padding: 0; }
#main .pagination li.pagination-start a, #main .pagination li.pagination-start span, #main .pagination li.pagination-prev a, #main .pagination li.pagination-prev span, #main .pagination li.pagination-next a, #main .pagination li.pagination-next span, #main .pagination li.pagination-end a, #main .pagination li.pagination-end span { display: block; }

#main .item-page .pagination li span, #main .item-page .pagination li a  { font-size: 20px;  } 

/*#main .item-page .pagination { width: 600px !important; border: none !important; padding-top: 0; }
#main .item-page .pagination ul { display: block; float: none !important; margin-bottom: 30px; margin-left: -20px; margin-top: -10px; text-align: center; }
#main .item-page .pagination li span { color: #555; display: none; }
#main .item-page .pagination ul li.pagination-start, #main .item-page .pagination ul li.pagination-end { display: none; }
#main .item-page .pagination .pagenavcounter { color: #555555; font-weight: normal; width: 100%; }*/

/* Page break pagination styling */
#main .pager { background-color: #ffffff; clear: both; float: left; height: auto; margin: 0 auto; padding: 0 10px 10px ; text-align: center; width: 630px; }
.page-count { float: left; margin: 0 0 5px; text-align: center; width: 100%; }
.page-nav { margin: 0 auto; width: 90px; }
#main .pager ul { float: right; list-style-type: none; margin: 0 auto; padding: 0; text-align: left; width: auto; }
#main .pager li { display: block; float: left; list-style: none; padding: 0; margin-left: 3px; width: auto; text-align: center; background-color: #eaeaea; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;}
#main .pager li span { color: #B2B2B2; padding: 3px 4px; display: block; min-width: 14px; }
#main .pager li a { color: #585858; text-decoration: none; padding: 3px 4px; display: block; min-width: 14px; }
#main .pager li a:hover { color: #fff; background-color: #585858; }

#main .pager li.pagination-start, #main .pager li.pagination-prev, #main .pager li.pagination-next, #main .pager li.pagination-end { float: left; padding: 0; }
#main .pager li.pagination-start a, #main .pager li.pagination-start span, #main .pager li.pagination-prev a, #main .pager li.pagination-prev span, #main .pager li.pagination-next a, #main .pager li.pagination-next span, #main .pager li.pagination-end a, #main .pager li.pagination-end span { display: block; }

#main .item-page .pager li span, #main .item-page .pager li a  { font-size: 20px;  }

#main .item-page .pager { width: 600px !important; border: none !important; padding-top: 0; }
#main .item-page .pager ul { display: block; float: none !important; margin-bottom: 30px; margin-left: -20px; margin-top: -10px; text-align: center; }
#main .item-page .pager li span { color: #555; display: none; }
#main .item-page .pager ul li.pagination-start, #main .item-page .pager ul li.pagination-end { display: none; }
#main .item-page .pager .pagenavcounter { color: #555555; font-weight: normal; width: 100%; }

/***************End Left Col************************/

/*-------------------------------------------------------------------------------------------*/
/* COL RIGHT
/*-------------------------------------------------------------------------------------------*/

/* Col Right */
#col-right { float: right; width: 310px; }

/* Moduletable */
#col-right .moduletable { width: 300px; float: left; padding: 5px; margin: 0 0 10px; background-color: #ffffff; }
#col-right .moduletable h3 { padding: 6px 5px 8px; margin: 0; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold; text-transform: uppercase; }
#col-right .moduletable-sidebar-a { background-color: #ffffff; border-bottom: 1px solid #DCDDDF; float: left; margin: 0 0 10px; padding: 5px; width: 300px; min-height:250px; }
#col-right .moduletable-sidebar-a h3 { display: none; }

/* Recommended */
#col-right .recommended ul { margin-top: 5px; width:100%; }
#col-right .recommended ul li { float: left; width: 50%; margin: 0; padding: 0; line-height: 2.22em; list-style-image: url("../images/crnobelo/star.png"); list-style-position: inside; }
#col-right .recommended ul li a { padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold; text-decoration: none; display: inline; letter-spacing: -0.1pt; }
#col-right .recommended ul li a:hover { color: #222222; }

/* Horoskop */
#col-right .horoskop #horoskop { margin: 10px 0 0; }
#col-right .horoskop #horoskop div { clear: none!important; display: none; }
#col-right .horoskop #horoskop a { display: block; float: left; width: 50px; height: 45px; margin-bottom: 8px; text-indent: -999em;  }
#col-right .horoskop #horoskop a:hover { opacity: 0.7; }
#col-right .horoskop #horoskop a#oven { background: url(../images/crnobelo/horoskop/oven.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#bik { background: url(../images/crnobelo/horoskop/bik.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#bliznaci { background: url(../images/crnobelo/horoskop/bliznaci.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#rak { background: url(../images/crnobelo/horoskop/rak.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#lav { background: url(../images/crnobelo/horoskop/lav.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#devica { background: url(../images/crnobelo/horoskop/devica.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#vaga { background: url(../images/crnobelo/horoskop/vaga.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#skorpija { background: url(../images/crnobelo/horoskop/skorpija.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#strelec { background: url(../images/crnobelo/horoskop/strelec.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#jarec { background: url(../images/crnobelo/horoskop/jarec.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#vodolija { background: url(../images/crnobelo/horoskop/vodolija.svg) top center no-repeat; }
#col-right .horoskop #horoskop a#ribi { background: url(../images/crnobelo/horoskop/ribi.svg) top center no-repeat; }

/* Facebook */
#col-right .facebook .facebook-like-box { height: 236px; overflow: hidden; position: relative; width: 300px; }
#col-right .facebook .facebook-like-box .inner { margin: -2px 0 0 -2px; }

/* Facebook Recommend */
#col-right .fb-recommend .facebook-recommend-box { width: 296px; height: 392px; overflow: hidden; position: relative;  }
#col-right .fb-recommend .facebook-recommend-box .inner { margin: -2px 0 0 -2px; }

/* Weather */
#col-right .weather .gkwMainLeft { background: rgba(204, 204, 204, 0.15); }
#col-right .weather .gkwMainRight { float: none; margin: 0; padding: 3px; padding-left: 80px; background: rgba(204, 204, 204, 0.14); }
#col-right .weather .gkwMainRight h2 { color: #585858; }
#col-right .weather .gkwMainRight p { margin: 0.8em 0; }
#col-right .weather ul.gkwNextDays { display: none; background: rgba(204, 204, 204, 0.14); margin: 2px 0 0; }
#col-right .weather div.gkwFday { border-left: 1px solid #ffffff; padding: 5px 0 6px; }
#col-right .weather .gkwDay { font-weight: normal; font-style: normal; font-size: 11px; }
#col-right .weather .gkwDayTemp span.gkwDayNight { background: none; color: inherit; }

/* Game */
#col-right .games div.srfrContainer ul.srfrList { padding: 0 5px; }
#col-right .games ul li { display: inline-block; width: 70px; height: 60px; margin: 0 0 4px; padding: 0; border-bottom: none; }
#col-right .games ul li p { margin: 0; padding: 0; }
#col-right .games ul li img { display: block; width: 70px; height: 60px; margin: 0; padding: 0; border-radius: 6px; }
#col-right .games .srfrContainer { margin-top: 8px; }

/*Mostread*/
#col-right .mostread .allmode-default, #col-right .mostread .allmode-default .allmode-topbox { margin: 0; }
#col-right .mostread .allmode-default .allmode-name {  padding: 6px 5px 8px; margin: 0; border: none; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold !important; text-transform: uppercase; }
#col-right .mostread .allmode-default .allmode-topitem { border: none; border-bottom: 1px dotted #dddddd; padding: 6px 0 4px 0; margin-bottom: 0; }
#col-right .mostread .allmode-default .allmode-topitem:hover { background: rgba(0, 0, 0, 0.02); }
#col-right .mostread .allmode-default .allmode-topitem .allmode-title { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
#col-right .mostread .allmode-default .allmode-topitem .allmode-title a { min-height: 55px; font-size: 12px; font-weight: normal; color: #666666 !important; text-decoration: none; display: block; }
#col-right .mostread .allmode-default a:hover { border: none; }
#col-right .mostread .allmode-default .allmode-img img { padding: 0; border: none; border-radius: 0; margin: 0 9px 0px 0; }
#col-right .mostread .allmode-default .allmode-topitem:last-child { border: none; margin: 0; padding: 6px 0 0 0; }

#col-right .mostread .allmode-najcitani, #col-right .mostread .allmode-default .allmode-topbox { margin: 0; }
#col-right .mostread .allmode-najcitani.allmode-name {  padding: 6px 5px 8px; margin: 0; border: none; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold !important; text-transform: uppercase; }
#col-right .mostread .allmode-najcitani .allmode-topitem { border: none; border-bottom: 1px dotted #dddddd; padding: 6px 0 4px 0; margin-bottom: 0; }
#col-right .mostread .allmode-najcitani .allmode-topitem:hover { background: rgba(0, 0, 0, 0.02); }
#col-right .mostread .allmode-najcitani .allmode-topitem .allmode-title { font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin:0 0 2px; }
#col-right .mostread .allmode-najcitani .allmode-topitem .allmode-title a { min-height: 55px; font-size: 12px; font-weight: normal; color: #666666 !important; text-decoration: none; display: block; }
#col-right .mostread .allmode-najcitani a:hover { border: none; }
#col-right .mostread .allmode-najcitani .allmode-img img { padding: 0; border: none; border-radius: 0; margin: 0 9px 0px 0; float:left; width:55px; height:55px; }
#col-right .mostread .allmode-najcitani .allmode-topitem:last-child { border: none; margin: 0; padding: 6px 0 0 0; }

/*Online Media*/
#col-right .online-media .tabs_buttons { padding: 0; margin: 0; border-bottom: 2px solid #dcdcdc; color: #585858; font-size: 12px; font-weight: bold; text-transform: uppercase; }
#col-right .online-media #sptab105 .tabs_mask { background-color: transparent; }
#col-right .online-media #sptab105 ul.tabs_container li.tab { background-color: transparent; color: #939393; }
#col-right .online-media #sptab105 ul.tabs_container li.tab:hover { color: #585857; }
#col-right .online-media #sptab105 ul.tabs_container li.tab.active { color: #585857; }

/*Random Quote*/
#col-right .random-quote { background-color: #ffffff; border-bottom: 1px solid #DCDDDF; float: left; margin: 0 0 10px; padding: 5px; width: 300px; }
#col-right .random-quote h3 { background: none repeat scroll 0 0 #eee; border-top: 2px solid #20BB74; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; margin: 0; padding: 8px 0; }
#col-right .random-quotee h3 .backh3 { background: none repeat scroll 0 0 #20BB74; padding: 7px 10px; }
#col-right .random-quote div { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; margin: 5px; }
#col-right .random-quote div a { color: #666666; float: right; margin: 0 0 5px; text-align: right; text-decoration: none; font-style: italic; font-weight: bold; font-size: 12px; }
#col-right .random-quote .custom-random-quote #vip-quote { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; margin: 5px; }

/*Latest Comments*/
#col-right .comments .ccomment { list-style: none; }
#col-right .comments .ccomment li.ccomment { border-bottom: 1px dotted #dddddd; padding: 5px; }
#col-right .comments .ccomment li.ccomment:hover { background: rgba(0, 0, 0, 0.02); }
#col-right .comments .ccomment .ccomment_info { background: none; }
#col-right .comments .ccomment .ccomment_info a { color: #DE4946; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.8em; text-decoration: none; }
#col-right .comments .ccomment li.ccomment:last-child { border: none; margin: 0; padding-bottom: 0; }

/*Sub Menu*/
#col-right #sub_menu { background-color: #ffffff; margin: 0 0 10px; padding: 5px 5px 5px 25px; }
#col-right #sub_menu .sub-menu h3 { background-color: #eeeeee; color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; line-height: 13px; margin: 0 0 10px; padding: 8px 0; }
#col-right #sub_menu .sub-menu h3 .backh3 { background: none repeat scroll 0 0 #F5B825; padding: 7px 10px; }
#col-right #sub_menu .menu li { float: left; line-height: 1.5em; list-style-image: url("../images/crnobelo/star.png"); margin: 0; padding: 2px 0; width: 50%; }
#col-right #sub_menu .menu li a { color: #666666; display: inline-block; font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; height: 12px; line-height: 12px; overflow: hidden; padding: 0; text-decoration: none; transition: color 0.2s linear 0s; width: 140px; }
#col-right #sub_menu .menu li ul { padding: 0 5px; }
#col-right #sub_menu .menu li ul li { float: left; width: 100%; }
#col-right #sub_menu .menu li ul li a { width: 125px; }

/***************End Right Col************************/

/*Footer*/
#footer { background: none repeat scroll 0 0 #151515; float: left; margin: 0 auto; min-height: 200px; width: 100%; position: relative; }
#fb-root { display: none; margin: 0 auto; padding: 0; width: 970px; }
#footer #footer-content { margin: 0 auto; min-height: 200px; padding: 0; width: 980px; }
#footer #footer-content #footer-outer { float: left; width: 980px; }
#footer #footer-content #footer-outer #footer-inner #bottom-left { float: left; width: 215px; }
#footer #footer-content #footer-outer #footer-inner #bottom-left .box1 { float: left; margin: 20px 0 0 0; width: 100%; }
#footer #footer-content #footer-outer #footer-inner #bottom-left .box2 { float: left; margin: 0 0 0 15px; width: 100%; }
#footer #footer-content #footer-outer #footer-inner #bottom-left .box2 .menu { float: left; }
#footer #footer-content #footer-outer #footer-inner #bottom-left .box2 .menu li { float: left; }
#footer #footer-content #footer-outer #footer-inner #bottom-left .box2 .menu li a { background: none repeat scroll 0 0 transparent; color: #EEEEEE; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; padding: 0 8px 0 0;}

#footer #footer-content #footer-outer #footer-inner #bottom-left .box2 .menu li.active a { background: none; }
#footer #footer-content #footer-outer #footer-inner #bottom-right { float: left; overflow: hidden; width: 100%; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu { float: right; list-style: none outside none; margin: 20px 0px 20px 0; width: 980px; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li { border-right: 1px solid #303030; float: left; height: 230px; padding: 5px 2px 0; width: 135px; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li.item-101 { display: none; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li.item-468 { border-left: 1px solid #303030; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li a { color: #D7D7D7; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 14px; padding: 4px 0 4px 9px; text-align: left; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li ul { float: left; list-style: none outside none; margin: 0; padding: 1px 0 0; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li ul li { height: auto; padding: 0; border: none; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li ul li a { color: #D7D7D7; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; padding: 4px 0 4px 9px; text-align: left; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li.item-331 ul li a { font-size: 14px; line-height: 14px; }
#footer #footer-content #footer-outer #footer-inner #bottom-right .menu li:last-child { border: none; }

#footer #footer-content #footer-sub { border-top: 1px solid #292929; float: left; width: 980px; padding: 10px 0; }
#footer #footer-content #footer-sub .logo { float: left; width: 192px; margin-right: 25px; }
#footer #footer-content #footer-sub .logocb { float: left; width: 192px; margin-right: 25px; }
#footer #footer-content #footer-sub .copyright { float: left; width: 758px; padding-top: 32px; }
#footer #footer-content #footer-sub .copyright .copy-right { float: left }
#footer #footer-content #footer-sub .copyright .copy-right p { color: #B7B7B7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; }
#footer #footer-content #footer-sub .copyright ul.menu { float: right; list-style: none; display: block; }
#footer #footer-content #footer-sub .copyright ul.menu li { float: left; display: block; }
#footer #footer-content #footer-sub .copyright ul.menu li a:link, ul.menu li a:visited { padding: 0px 0 0px 15px; }
#footer #footer-content #footer-sub .copyright ul.menu li a, ul.menu li a:hover, ul.menu li a:active, ul li a:focus { color: #d7d7d7; }

#footer #footer-content #footer-sub .bottom-social { float: right; padding: 10px 0 0; width: 100px; }
#footer #footer-content #footer-sub .bottom-social .icon { float: right; list-style: none outside none; }
#footer #footer-content #footer-sub .bottom-social .icon li { float: left; margin: 5px 0 0; padding: 0; }
#footer #footer-content #footer-sub .bottom-social .icon li a { display: block; margin: 0 0 0 8px; padding: 0; }

/* Footer Layout */
#footer-sub{padding:0px}
#footer-outer{padding:0;}
.box{text-align:left}
.box ul{ list-style-type:none}
#bottom .newsfeed-item{padding:0;margin-bottom:10px}
.box .moduletable_menu, .box .moduletable{margin:10px}
.box3{padding-left:10px}
.box h3{font-size:1.3em}
#bottom ul.latestnews{padding-left:0}
#footer p{font-size:0.8em;margin:0}
p.syndicate
{float:left;display:block;text-align:left;}

/* footer menu */
ul.menu li a:link, ul.menu li a:visited {display:block;padding:7px 4px 7px 15px;text-decoration:none;}


/***************End Footer************************/

.zu-list-article { margin-top: 8px; }
.zu-list-article .control { height: 19px; overflow: hidden; float: right; position: absolute; right: 12px; top: 12px; }
.zu-list-article .control .prev span, .zu-list-article .control .next span { height: 12px; margin: 0; width: 12px; cursor: pointer; float: right; text-indent: -999em; }
.zu-list-article .control .prev span:hover, .zu-list-article .control .next span:hover { opacity: 0.8; }
.zu-list-article .control .prev span { background: url("../images/crnobelo/preview-next.png") no-repeat scroll right center transparent; }
.zu-list-article .control .next span { background: url("../images/crnobelo/preview-next.png") no-repeat scroll left center transparent; }

.moduletable-who-wears-it-better .article-content a { display: block; }
.moduletable-who-wears-it-better .article-content a img { height: 310px; width: 310px; }
.moduletable-movie-ideas .article-content a { display: block; }
.moduletable-who-wears-it-better .article-content, .moduletable-movie-ideas .article-content { position: relative; }
.moduletable-movie-ideas .article-content .image0, .moduletable-movie-ideas .article-content .image1 { position: relative; height: 150px; overflow: hidden; width: 100%; margin-top: 8px; }
.moduletable-movie-ideas .article-content .image1 { margin-top: 10px; }
.moduletable-photo-news .article-content a, .moduletable-weekend-ideas .article-content a { display: block; }
.moduletable-photo-news .article-content, .moduletable-weekend-ideas .article-content { position: relative; min-height: 205px; }

.zu-list-article .article-content .title { filter: alpha(opacity=50); background: none repeat scroll 0 0 #000000; bottom: 0; height: 32px; margin: 0; opacity: 0.7; position: absolute; width: 305px; }
.zu-list-article .article-content .title a { text-decoration: none; text-transform: uppercase; }
.zu-list-article .article-content .title span { color: #FFFFFF; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; height: 12px; line-height: 18px; overflow: hidden; padding: 8px; text-transform: uppercase; }

.moduletable-who-wears-it-better .article-content { height: 310px; }
.moduletable-who-wears-it-better .article-content .image0 { position: relative; z-index: 999; }
.moduletable-who-wears-it-better .article-content .image1 { display: none; }

#sptab139 .tabs_buttons { border-top: 2px solid #BA7E59; overflow: hidden; }
#sptab139 ul.tabs_container li.tab.active { background-color: #BA7E59; color: #FFFFFF; }
#sptab140 .tabs_buttons { border-top: 2px solid #20BB74; overflow: hidden; }
#sptab141 .tabs_buttons { border-top: 2px solid #F5B825; overflow: hidden; }
#sptab142 .tabs_buttons { border-top: 2px solid #B2B2B2; overflow: hidden; }

.blog-featured .item img { border: none !important; }

#above970 p { margin: 0; }
/*#above970 { margin-bottom: 10px; }*/

.bottom468 { text-align: center; background-color: #ffffff; margin-bottom: 10px; margin-top:10px; padding: 5px; width: 640px; }

.custom-watch-online a, .custom-listen-online a { color: #666666; font-size: 10px; font-weight: normal; text-decoration: none; }
.custom-watch-online a:hover, .custom-listen-online a:hover { color: #de4946; }

#banner-background { position: relative; }

.branding-wapper { bottom: 0; left: -1056px; overflow: hidden; position: absolute; right: 0; top: -11px; z-index: 0; height: 1074px;}
.branding { position: relative; }
.branding-container { margin: auto; position: relative; width: 970px; }
.sticky { position: fixed!important; margin-top:-186px!important; }
.sticky2 { position: fixed!important; margin-top:-186px!important; }
.sticky-lr { position: fixed!important; margin-top:-186px!important; }
/*.sticky { position: fixed!important; margin-top:-176px!important; }  */
.stickyinner { position: fixed!important; margin-top:-236px!important; }  

/*#bleft { position:relative; margin-top:-10px;}
#bright { position:relative; margin-top:-10px;}*/
#lr-wrapper {position:relative;}
#bleft { position: absolute; left:50%; margin-top:-10px;}
#bright { position: absolute; right:50%; margin-top:-10px;}

/*.item-page .jvrel_box_bottom_left { background-color: #eeeeee; border-top: 2px solid #DE4946; margin: 10px 0; overflow: hidden; padding: 0; width: 620px !important; }*/
.item-page .jvrel_box_bottom_left {  margin: 10px 0; overflow: hidden; padding: 0; width: auto; }

/*.item-page .jvrel_box_bottom_left .jvrel_box_title { background-color: #DE4946; color: #FFFFFF; float: left; font-size: 13px; margin: 0; padding: 3px 6px 7px; width: auto !important; }*/
.item-page .jvrel_box_bottom_left .jvrel_box_title { border-bottom: 2px solid #dcdcdc; color: #585858; float: left; font-size: 13px; margin: 0; padding: 3px 6px 7px; width: 100%; text-transform:uppercase; }

.item-page .jvrel_box_bottom_left .jvrel_box_info { background-color: #ffffff; float: left; left: -5px; margin: 0; padding: 5px 0 0; position: relative; width: 635px; }
.item-page .jvrel_box_bottom_left .jvrel_box_info .jvrel_article_im { border-right: 1px dotted #BDBDBD; clear: none; color: #555555; float: left; font-size: 11px; line-height: 1.4; margin: 0; min-height: 185px; padding: 0 5px; width: 200px; }
.item-page .jvrel_box_bottom_left .jvrel_box_info .jvrel_article_im a { color: #DE4946; font-size: 11px; font-weight: bold; line-height: 1.4; text-decoration: none; transition: color 0.2s linear 0s; }
.item-page .jvrel_box_bottom_left .jvrel_box_info .jvrel_article_im a:hover { color: #222; }
.item-page #comment { margin: 0; float: left; }
.item-page #comment div.josc_buttons ul li a { color: #FFFFFF; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; padding: 4px 10px; text-decoration: none; text-transform: capitalize; }
.item-page #joomlacommentform fieldset legend#CommentFormTitle { background-color: #EEEEEE; border-top: 2px solid #B2B2B2; color: #FFFFFF; font-size: 13px; margin: 0 auto; padding: 0; text-transform: capitalize; width: 620px; }

@media screen and (-webkit-min-device-pixel-ratio:0) { .item-page #joomlacommentform fieldset legend#CommentFormTitle { padding-bottom: 27px; } }

.item-page #joomlacommentsearch fieldset, .item-page #joomlacommentform fieldset .name-title { margin: 0 0 10px 7px; }
.item-page #joomlacommentform fieldset h3.comment-title { background-color: #B2B2B2; color: #FFFFFF; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; margin: 0; padding: 7px; }
.item-page #jvrel_box_socialmedia { background: none repeat scroll 0 0 #F0F0F0; border-top: 1px solid #D5D5D5; clear: both; display: none; height: 20px; margin-bottom: 4px; margin-top: 4px; overflow: visible; padding: 9px; }
.item-page #comment #CommentMenu div.josc_buttons { background-color: #B2B2B2; float: right; padding: 5px; }
.item-page #comment #CommentMenu div.josc_buttons li { border: 0; }
.item-page #comment #SearchResults .postinfo, #Comments .postinfo { color: #d2d2d2; float: right; font-size: 0; font-weight: normal; line-height: 20px; vertical-align: top; }
.item-page #comment #SearchResults ul li.post div.postcontent, #Comments ul li.post div.postcontent { background: none repeat scroll 0 0 transparent; color: #666666; padding: 5px; }
.item-page #comment #SearchResults ul li.post div.postcontent, #Comments ul li.post div.postcontent p { margin: 0!important; }
.item-page #Comments ul li.post div.postfooter span a:hover { color: #D66060; text-decoration: underline; }
.item-page #joomlacommentsearch fieldset, .item-page #joomlacommentform fieldset { background: none repeat scroll 0 0 transparent; border: 0 none; margin: 0 0 0; padding: 0; }
.item-page #joomlacommentform fieldset #ubbcontainer, .item-page #joomlacommentform fieldset #emoticons { margin: 0 0 8px 7px; }

#comment #Comments { background-color: #ffffff; float: left; padding: 0; width: 620px; }

.item-page div#poweredby.small { display: none; text-align: center; }
.standard div { clear: none!important; }
.standard iframe.youtube-player { height: 440px!important; width: 630px!important; }

#main #hwdvids .videoBox { width: 24.8%; }
#main #hwdvids .videoBox .box { padding: 2px 0 2px 5px; }


/* hwdmediashare styles */
#front-a .moduletable-home-video .hwd-container .more-videos {float:right; margin-top:-40px;padding-right:5px;}
#front-b .moduletable-home-video .hwd-container .more-videos {float:right; margin-top:-40px;padding-right:5px;}

#main #hwd-container {background-color:#fff; padding:10px;margin-top:-20px;}
h2.media-title {color: #585858;font-size: 42px; font-weight: 500; line-height: 42px;margin: 0 0 10px;padding: 10px 5px;border-bottom: 2px solid #dcdcdc;}
#hwd-container .media-media-title {margin:20px 0 10px!important;}


.listThumbnail a .hasTip img { border: 0 none !important; height: 95px; width: 150px; }

#main #hwdvids .videoBox .box div div strong a { color: #DE4946; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; height: 40px; line-height: 15px; text-decoration: none; }
.hwdmodule-h4 .standard #hwdvs_bwn { height: 105px; margin: 0 10px 0 0; overflow: hidden; position: relative; width: 635px; }

.tip-wrap { background: none repeat scroll 0 0 #FFFFCC; border: 1px solid #D4D5AA; color: #323232; float: left; max-width: 200px; padding: 5px; z-index: 100; }

.share-face-twitter-google { background: #f8f8f8; height: 30px; margin: 0 5px; }
.share-face-twitter-google .like-facebook { float: left; margin: 5px; }
.share-face-twitter-google .share-facebook { background: url("../images/btn-shareface.png") no-repeat scroll 0 0 transparent; float: left; height: 18px; margin: 5px; overflow: hidden; width: 60px; }
.share-face-twitter-google .share-facebook a { opacity: 0; }
.share-face-twitter-google .twitter { float: left; margin: 5px; width: 80px; }
.share-face-twitter-google .google { float: left; height: 26px; margin: 5px 5px 0; overflow: hidden; width: 75px; }

#hwdvids #comments { margin: 10px; }

.item-page .social-share { background-color: #f8f8f8; display: none; float: left; height: 30px; margin: 0 0 10px; overflow: hidden; width: 100%; }
.item-page .itp-share-tw { float: left; margin: 0px 5px 5px 5px; overflow: hidden; width: 85px; }
.item-page .itp-share-fbl { float: left; margin: 0px 5px 5px 0; }
.item-page .itp-share-gone { float: left; margin: 0px 0px 5px 0px; overflow: hidden; width: 70px; }
.item-page .itp-share-gshare { float: left; margin: 5px; }

.itp-share-pinterest { float: left; margin: 0px 0px 5px 0px; }

#jvrel_box_socialmedia .addthis_button_tweet.at300b { float: left; width: 90px; }
#jvrel_box_socialmedia .addthis_button_google_plusone.at300b { float: left; width: 70px; }

.jvrel_article_im img.jvrel_thumb { height: 90px !important; margin-bottom: 4px; margin-right: 4px; width: 200px !important; }

/* .moduletable-sidebar-a #banner { clip: auto !important; } */

.item-page .kasocialsharing span { float: left; }
.item-page .kasocialsharing { background-color: #f8f8f8; border: 0 none; border-radius: 0 0 0 0; box-shadow: 0 0 0 0; float: left; height: 24px; margin: 0 0 7px; overflow: hidden; padding: 4.5px 15px; width: 590px; }
.item-page .kasocialsharing .kafblike { display: inline-block; height: 25px; margin: 3px 3px 3px 5px; width: 55px; z-index: 9999; }
.item-page #btn-share-face { background: url("../images/btn-share-face.png") no-repeat scroll 0 0 transparent; float: left; height: 18px; margin: 6px; text-indent: -999em; width: 60px; }
.item-page #btn-share-face a { display: block; width: 60px; height: 18px; }

#like-send-face { float: left; margin: 5px; }

#hwdvids #comment #Comments { background-color: #ffffff; float: left; padding: 0 5px; width: 630px; }
#hwdvids #joomlacommentform fieldset legend#CommentFormTitle { background-color: #eeeeee; border-top: 2px solid #B2B2B2; clear: both; color: #FFFFFF; display: block; float: left; font-size: 13px; margin: 0 auto; padding: 0; text-transform: capitalize; width: 630px; }
#hwdvids #joomlacommentform fieldset legend#CommentFormTitle h3.comment-title { background-color: #B2B2B2; color: #FFFFFF; float: left; font-size: 13px; line-height: 13px; margin: 0; padding: 7px 7px 8px; }
#hwdvids #joomlacommentform { width: 630px; }
#hwdvids #joomlacommentform .button { margin: 0; text-align: center; }
#hwdvids #Comments ul li.post { background: none repeat scroll 0 0 transparent; border-color: -moz-use-text-color -moz-use-text-color #D66060; border-style: none none solid; border-width: 0 0 1px; float: left; list-style: none outside none; margin: 5px 0; padding: 0 0 5px; width: 630px; }

.item-page .share-face-twitter-google { background-color: #f8f8f8; float: left; height: 30px; margin: 0 auto; width: 620px; }

.box-all { position: relative; }
.box-all .link-title-hover { position: relative; }
.box-all:hover { background: url("../images/crnobelo/bg-item.png") repeat-y scroll center top transparent; }
.box-all:hover .link-title-hover .link-view-hover { }
.box-all .link-title-hover .link-view-hover { background: none; font-size: 0; height: 185px; left: 0; margin: 0; position: absolute; text-indent: -999em; top: -105px; width: 200px; }
.box-all .link-title-hover .link-view-hover span { display: block; font-size: 0; height: 95px; margin: 88px 0 0; text-indent: -999em; width: 200px; }

.itp-share { background-color: #f8f8f8; clear: both; display: block; height: 25px; padding-left: 5px; padding-top: 5px; position: relative; margin-bottom: 10px; }

.custom-home-video table { border-collapse: collapse; }

#contentarea .search { background-color: #ffffff; padding-bottom: 10px; }
#contentarea .search fieldset { border: none; margin: 0; }
#contentarea .search .search-pages-counter, #contentarea .search #search-query-explained, #contentarea .search .error { padding: 0 5px; }

#idSiteMeterHREF img { display: none; }

#main ul.actions li.edit-icon img, #main .blog-featured ul.actions li.edit-icon img { height: auto !important; width: auto !important; }

.switcher { font-size: 14px; margin: 0 auto; padding-top: 10px; width: 100px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
#bright { margin-right: -627px; }
#bleft { margin-left: -630px; }
}

#col-right .criteo {
	background-color:#dcdcdc;
}

/* related plugin styling */


#relatedarticleaftercontenth3 {
	border-bottom: 2px solid #dcdcdc;
    color: #585858;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 3px 0 7px 0!important;
	padding-top:3px!important;
	padding-left:0px!important;
	padding-bottom:7px!important;
	padding-right:0px!important;
    text-transform: uppercase;
    width: 100%;
	
}

.relatedarticleaftercontentitem.relatedarticleaftercontentitem_box {

    clear: none;
    color: #555555;
    float: left;
    font-size: 11px;
	font-weight: bold;
    line-height: 1.4;
    margin: 0;
	padding: 0 6px 0 4px!important;
    width: 200px;
	
	
}

#relatedarticleaftercontentitems li + li {
	border-right: 1px dotted #bdbdbd;
}


/* new modules front styling */
.typesix .front h4.allmode-name {border-bottom-color: #c10551!important; color: #c10551!important;}
.typesix .front h4.allmode-name a {color: #c10551!important;}
.typesix .front .allmode-category a {color: #c10551!important;}
.typesix .front .allmode-comments {display:none;}

.typesix2 .front h4.allmode-name {border-bottom-color: #ee8126!important; color: #ee8126!important;}
.typesix2 .front h4.allmode-name a {color: #ee8126!important;}
.typesix2 .front .allmode-category a {color: #ee8126!important;}
.typesix2 .front .allmode-comments {display:none;}

/*
.typetwo .front h4.allmode-name, .allmode-carousel h4.allmode-name{border-bottom-color: #14b9d5!important; color: #14b9d5!important;}
.typetwo .front h4.allmode-name a, .allmode-carousel h4.allmode-name a {color: #14b9d5!important;}
.typetwo .front .allmode-category a, .allmode-carousel .allmode-info a {color: #14b9d5!important;}*/

/* mobile ads */
#mobile-ad {position:fixed;width:100%;height:auto;bottom:0;text-align:center;line-height:0;z-index:9999;}
@media screen and (orientation:portrait){#mobile-ad img {width:100%;height:auto;}}
@media screen and (orientation:landscape){#mobile-ad img {width:50%;height:auto;}}

/* mobile ads */
#wrapper2 .moduletable-mobile-ad { background-color:none; margin:0 padding:0; width:100%; height:auto; text-align:center; }
#wrapper2 .moduletable-mobile-ad iframe {width:auto;}

/* najgledani videa nedelava front */
.videos-front h2.contentheading {font-size:12px!important;}
.videos-front h2.contentheading a {color:#666666 !important;}
.videos-front h2.contentheading :last-child {margin-bottom:0;}
.videos-front .hwd-container .media-details-view {margin-bottom:-10px; margin-top:10px;}
.videos-front .row-fluid {margin-bottom:10px;}

/* embed fb video */
.fb-video.fb_iframe_widget.fb_iframe_widget_fluid_desktop {
margin:0 0 15px;	
}

/* buttons */
.btn-group + .btn-group {
    margin-left: 5px;
}
.pull-left {
    float: left;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}
.btn-group > .btn {
    border-radius: 0;
    position: relative;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #bbb #bbb #a2a2a2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}


[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-right: 0.25em;
    width: 14px;
}

/* icomoon */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?1zhhmy');
    src:    url('../fonts/icomoon.eot?1zhhmy#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1zhhmy') format('truetype'),
        url('../fonts/icomoon.woff?1zhhmy') format('woff'),
        url('../fonts/icomoon.svg?1zhhmy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e900";
}

.only {display:none;}
.tooltip {display:none!important;}

#front-a  .moduletable .typetwo .allmode-img img{
	height: 80px;
    width: 110px
}

.span4.pull-left.jvrel_relart .media img {
	height:90px;
	width:200px;
}

.span4.jvrel_relart .media img {
	max-width:200px;
}	


#front-a .moduletable.jobs {
	margin-bottom:0;
}

#front-a .moduletable.jobs a {
	color:#2899d5;
}

#front-a .moduletable.jobs a:hover{
	color:#4CB748;
}

#front-a .moduletable.jobs table.rsstable td, .ultimaterss table {
	border-color: -moz-use-text-color -moz-use-text-color #dddddd;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
}

#front-a table.rsstable td {
	border-bottom:1px #dddddd dotted;
}

/* temp hide css
.item-143 {display:none!important;}
.item-162 {display:none!important;}
#header-content #main-menu .menu li.item-101 a {padding: 14px 23px!important;}
#header-content #main-menu .menu li a {padding: 14px 10px!important;}
 */