/*-------------------------------------------------------------------
Footer
-------------------------------------------------------------------*/
#footer{
	width:100%;
	overflow:hidden;
	background-color:#333;
	background-image:url('/~/media/images/footer/footer-background-notop.jpg');
	background-repeat:repeat-x;
	background-position:bottom;
    padding:0 10px;}
.rtl #footer {
	padding-top:20px;
	font-weight:bold;
}
.rtl #footer a {
	font-weight:initial;
}
#footer .bar{
	width:100%;
	overflow:hidden;
	background-color:#ccc;
	border-top:3px solid #000;
	border-bottom:1px solid #000;
	padding:5px 0;}
#footer .bar .newsletter{width:73%;font-size:14px;line-height:16px;float:left;color:#000;margin-right:2%;}
#footer .bar .newsletter a.btn{margin-left:5%;}
#footer .menu{font-size:12px;line-height:15px;padding-right:15px;margin:0 0 25px;}
.rtl #footer .menu {
	padding-right:0px; 
	padding-left:15px;
}
#footer .menu ul li > a{color:#808080;display:block;text-decoration:none;}
#footer .menu ul li > a:hover{text-decoration:underline;}
#footer .menu ul.social{display:inline-block;margin-bottom:5px;}
#footer .menu ul.social > li{float:left;}
.rtl #footer .menu ul.social > li {
	float:right;
}
#footer .menu ul.social > li > a{display:block;margin-right:5px;margin-bottom:5px;}
.rtl #footer .menu ul.social > li > a {
	margin-right:0px;
	margin-left:5px;
}
#footer .menu h5{font-size:12px;line-height:14px;margin-bottom:10px;}
#footer .menu .copyright{
	font-size:11px;
	line-height:13px;
	color:#808080;
	margin-top:10px;
	margin-bottom:10px;}
#footer .menu .chatlink{margin:10px 0;}
#footer .menu .chatlink .chat{display:none;/*float:left;margin-right:5px;*/}
#footer .menu .affiliates > a{display:inline-block;}
/* Mobile Nav -------------------------------------*/
	#footer .mobile-nav > ul.mmenu{margin-bottom:12px;}
	#footer .mobile-nav > ul.mmenu> li{border-bottom:1px solid #fff;}
	#footer .mobile-nav > ul.mmenu > li > a{
		font-size:16px;
		line-height:18px;
		position:relative;
		color:#fff;
		display:block;
		padding:14px 5px;}
	#footer .mobile-nav > ul.mmenu > li > a > span.arrow-right{
		width:10px;
		height:22px;
		position:absolute;
		top:50%;
		right:10px;
		margin-top:-11px;}
	#footer .mobile-nav > a{font-weight:normal;position:relative;margin-bottom:12px;}
	#footer .mobile-nav .mobile-store-icons{margin-bottom:15px;}
	#footer .mobile-nav a.appstore,
	#footer .mobile-nav a.googlestore{max-width:129px;display:block;padding:0;margin:0 auto;}
	#footer .mobile-nav a.appstore{margin-bottom:8px;}
	#footer .mobile-nav > a.btn.grey {padding:10px 0px;}
	#footer .mobile-nav > a > span{position:relative;}
	#footer .mobile-nav > a > span > .icon{;vertical-align:middle; margin-right:5px}
.rtl #footer .mobile-nav > a > span > .icon {
	margin-right:0px;
	margin-left:5px;
}
	#footer .mobile-nav > a > span > .icon > img{width:90%;display:block;}
	#footer .mobile-nav > a > span > .icon > img.wmail{padding-top:5px;}
	#footer .mobile-nav > a.btn:nth-child(2) > span.icon{}
	#footer .mobile-nav > a.btn:nth-child(3) > span.icon{}
	#footer .mobile-nav > ul.social{width:100%;display:inline-block;text-align:center;margin-bottom:10px;}
	#footer .mobile-nav > ul.social > li{display:inline-block;}
	#footer .mobile-nav > p{
		font-size:16px;
		line-height:18px;
		color:#fff;
		text-align:center;
		padding:0 15px;
		margin-bottom:25px;}
	#footer .mobile-nav > p.copyright{font-size:14px;line-height:16px;}
	#footer .mobile-nav #footerLanguage > li > a,
	#footer .mobile-nav #footerCurrency > li > a{font-size:16px;line-height:18px;display:block;padding:10px;}
	#footer .mobile-nav #footerCurrency > li{border-bottom:1px solid #000;}
	#footer .mobile-nav #footerCurrency > li:last-child{border-bottom:0;}
	#footer .mobile-nav #footerCurrency > li > a{cursor:pointer;}
	#footer .mobile-nav #footerCurrency > li > a > img{float:right;}
.rtl #footer .mobile-nav #footerCurrency > li > a > img {
	float:left;
}

#footer #trustwaveSealImage {
	width: 60px;
	margin-left: -3px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.rtl #footer #trustwaveSealImage {
	margin-left:0px;
	margin-right:-3px;
}

.affiliates {
    display:block;
}