@charset "UTF-8";
/* ------------------------------------------------------------------
Author: Edgar Olivares <eolivares@awareweb.com>
Version 0.1
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
Default Elements 
-------------------------------------------------------------------*/
html,body{height:100%;}
body{
	font-family:arial,sans-serif;
	font-weight:normal;
	font-size:12px;
	line-height:14px;
	color:#fff;}
.rtl {
	direction:rtl
}
hr{
	display: block;
	height: 1px;
	border: 0;
	background: #000;
	margin: 10px 0;}
	
ul{list-style:none;}

h1{font-size:35px;line-height:37px}
h2{font-size:28px;line-height:30px;}
h3{font-size:24px;line-height:26px;}
h4{font-size:20px;line-height:22px;}
h5{font-size:16px;line-height:18px;}

p{font-size:12px;line-height:14px;}

button,
input,
select,
textarea{font-family: arial,sans-serif;}

.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}

/* Sub Section ----------------------------------------------------*/
	a,
	a:link{text-decoration:none;outline:0;color:#ccc;}
	a:visited{text-decoration:none;}
	a:hover{text-decoration:none;border:none;}
	a:active{}

/*-------------------------------------------------------------------
General
-------------------------------------------------------------------*/
	.inner-container{
		width:1024px;
		position:relative;
		padding:0;
		margin-left:auto;
		margin-right:auto;}
	.img-responsive{max-width:100%;height:auto;display:block;}
	.align-image-left,
	.align-image-right,
	.align-image-center{display:block;}
	.align-image-left{float:left;}
.rtl .align-image-left {
	float:right;
}
	.align-image-right{float:right;}
.rtl .align-image-right {
	float:left;
}
	.align-image-center{margin:0 auto;}
	#form1{width:100%;display:table;}

/*-------------------------------------------------------------------
Helper Classes
-------------------------------------------------------------------*/
	/* Designed for visibility on small devices only */
	.laptop-visible, .mobile-visible, .tablet-visible, 
	.phablet-visible, .phone-visible, .phone-smll-visible{display:none !important;}
	/* Designed to be hidden on small devices only */
	.laptop-hidden, .mobile-hidden, .tablet-hidden, 
	.phablet-hidden, .phone-hidden, .phone-smll-hidden{display:block !important;} 

/*-------------------------------------------------------------------
Side Bar
-------------------------------------------------------------------*/
	#sidebar{
		width:253px;
		float:left;
		padding:0;
		margin-right:15px;
		margin-bottom:20px;}
.rtl #sidebar {
	float:right;
	margin-right:0px;
	margin-left:15px;
}
	#sidebar > div{padding:8px;margin-bottom:10px;}
	#sidebar > div:last-child{margin-bottom:0;}
	#sidebarRight{width:205px;position:absolute;top:0;right:20px;}
.rtl #sidebarRight {
	right:auto;
	left:20px;
}

/*-------------------------------------------------------------------
Overrides
-------------------------------------------------------------------*/
	#page-container.home #body{width:1024px !important;}
	#page-container.home #content{width:755px !important;}
	/* Subpage -------------------------------*/
		#page-container.subpage #header .inner-container{width:100% !important;min-width:1024px;max-width:100%;}
		#page-container.subpage #footer .inner-container{max-width:97%;margin:0 1.5%;}
		#page-container.subpage #footer .menu{margin:25px 0;}
		#page-container.subpage #footer-left{width:76.38%;float:left;}
.rtl #page-container.subpage #footer-left {
	float:right;
}
		#page-container.subpage #footer-left .menu{max-width:265px;}
		#page-container.subpage #footer-right{width:23.62%;max-width:265px;float:right;}
.rtl #page-container.subpage #footer-right {
	float: left;
}
		#page-container.subpage #footer-right .menu{width:100%;}
		#page-container.subpage #footer-right .menu{max-width:265px;background-color:#000;padding:25px 15px;margin:0;}
		#page-container.subpage #footer-right .menu ul.social{display:block;overflow:hidden;}
		#page-container.subpage #footer-right .menu .affiliates{display:none;}
		#page-container.subpage #body{width:1024px;max-width:1024px;overflow:hidden;color:#000;position:relative;padding:20px;}
	/* Conversion Calculators ----------------*/
		#page-container.conversion #body p{margin-bottom:16px;}
		#page-container.conversion .headline-border{border-bottom:1px solid #000;padding:5px 0;margin-bottom:10px;}
		#page-container.conversion .nav li{display:inline-block;position:relative;}
		#page-container.conversion .nav li > img.icons{position:absolute;top:50%;left:0;margin-top:-25px;}
		#page-container.conversion .nav li > a{
			width:190px;
			height:60px;
			max-width:100%;
			color:#fff;
			font-size:12px;
			line-height:14px;
			text-decoration:none;
			font-weight:bold;
			text-align:left;
			display:table-cell;
			vertical-align:middle;
			border:solid 1px #ccc;
			background-color:#999;
			background-repeat:no-repeat;
			background-position:left;
			padding:6px 10px 6px 60px;
			margin:2px;}
		#page-container.conversion .nav li > a:hover{background-color:#cc0000;}
	/* Articles Library ----------------------*/
		#page-container.articles #body{width:1394px;max-width:1394px;padding:0 20px 20px;margin-top:20px;}
		#page-container.articles #sidebar{width:307px;max-width:100%;padding:0;margin-right:0;}
		#page-container.articles #sidebar > div{padding:0;margin-bottom:20px;}
		#page-container.articles #sidebar > div:last-child{margin-bottom:0;}
		#page-container.articles #content{width:100%;padding-left:328px;padding-right:228px;}
	/* Article -------------------------------*/
		#page-container.article #content{padding-left:0;padding-right:228px;}

/*-------------------------------------------------------------------
Components
-------------------------------------------------------------------*/
	/* Linked Index List ---------------------------*/
		.linked-index-list h5{font-size:18px;color:#fff;text-transform:capitalize;margin-bottom:10px;}
		.linked-index-list h5 > a{font-size:13px;line-height:15px;text-transform:capitalize;}
		.linked-index-list a:hover{text-decoration:underline;}
		.linked-index-list h2{font-size:14px;font-weight:bold;line-height:16px;}
		.linked-index-list a.main-link{
			color:#fff;
			display:block;
			margin-bottom:6px;}
		.linked-index-list ul{padding-left:4px;margin-bottom:5px;}
		.linked-index-list ul li h3{font-weight:normal;}
		.linked-index-list ul li h3 a{font-size:13px;line-height:15px;display:block;}
	/* Breadcrumbs ---------------------------------*/
		#breadcrumbs{font-size:10px;line-height:12px;color:#666;padding:0 20px;margin-top:5px;margin-bottom:15px;}
		#breadcrumbs a{color:#333;text-decoration:underline;}
	/* Triple Widgets ------------------------------*/
		.tri-widgets{width:100%;}
		.tri-widgets > div{width:31.085%;max-width:235px;float:left;margin-right:3.3725%;}
.rtl .tri-widgets > div {
	float:right; 
	margin-right:0px;
	margin-left:3.3725%;
}
		.tri-widgets > div:last-child{margin-right:0;}
.rtl .tri-widgets > div:last-child {
	margin-left:0px;
}
		.tri-widgets > div + div + div {margin-right:0;}
.rtl .tri-widgets > div + div + div {
	margin-left:0px;
}
	/* Related List --------------------------------*/
		.related-list{list-style:disc;padding-left:5px;margin-left:10px;margin-right:20px;}
.rtl .related-list {
	padding-left:0px;
	margin-left:20px;
	padding-right:5px;
	margin-right:10px;
}
		.related-list > li{padding:3px 0;}
		.related-list > li > a{color:blue;text-decoration:underline;}
	/* Callout -------------------------------------*/
		.callout h4{border-bottom:1px solid #666;padding-bottom:3px;margin-bottom:6px;}
		.callout p{margin:6px 0;}
		.callout p.link{font-weight:bold;}
		.callout p.link a{color:blue;text-decoration:underline;}
	/* Social Toolbox ------------------------------*/
		.social-toolbox{display:block;float:right;margin:10px;}
.rtl .social-toolbox {
	float:left;
}
		.social-toolbox li{display:block;float:left;margin-right:4px;}
.rtl .social-toolbox li {
	float:right;
	margin-right:0px;
	margin-left:4px;
}
		.social-toolbox li:last-child{margin-right:0;}
.rtl .social-toolbox li:last-child {
	margin-left:0px;
}
		.social-toolbox li > a {display:inline-block;}
		.social-toolbox li > a > span.icon{display:block;}
		.social-toolbox .rss-btn img,
		.social-toolbox .sharelink-btn img{width:16px;height:16px;display:block;}
		.social-toolbox .separator{color:#000;display:inline-block;}
	/* Related Articles ----------------------------*/
		.related-articles-widget{width:100%;border:1px solid #999;margin-bottom:15px;}
		.related-articles-widget h4{
			font-size:12px;
			line-height:14px;
			color:#555;
			background-color:#eee;
			border-bottom:1px solid #999;
			padding:5px;
			margin:0;}
		.related-articles-widget .content{clear:both;padding:8px 8px 0;margin:0;}
		.related-articles-widget .content:last-child{padding-bottom:8px;}
		.related-articles-widget .content a{color:blue;text-decoration:underline;}
	/* Article Info --------------------------------*/
		.article-info{width:100%;margin-bottom:15px;}
		.article-info h4{font-size:12px;line-height:14px;border-bottom:1px solid #666;}
		.article-info p{margin:10px 0;}

/*-------------------------------------------------------------------
Slider
-------------------------------------------------------------------*/
	.slider{position:relative;margin-bottom:20px;}
.rtl .slider {
	direction:ltr;
}
	.slider .img-wrap{position:relative;border-bottom:1px solid #666;}
	.slider #prev,
	.slider #next{width:15px;height:50px;position:absolute;bottom:0;z-index:10;}
	.slider #prev{
		left:0;
		background-image:url(/~/media/images/global/buttons/promo-carousel-prev.png);
		background-position:0 0;
		background-color:#282828;}
	.slider #next{
		right:0;
		background-image:url(/~/media/images/global/buttons/promo-carousel-next.png);
		background-position:-15px 0;
		background-color:#282828;}
	.slider #prev:hover{background-position:-15px 0;}
	.slider #next:hover{background-position:0 0;}
	.slider .slide{min-height:160px;overflow:hidden;display:table;position:relative;padding:10px;}
.rtl .slider .slide {
	direction: rtl;
	text-align:right;
}
	.slider .slide .slide-image-link{width:32%;max-width:235px;overflow:hidden;float:left;display:block;}
.rtl .slider .slide .slide-image-link {
	float:right;
}
	.slider .slide > .content{width:68%;height:auto;float:left;position:relative;padding-left:10px;}
	slider .slide > .content > h4.title{font-size:14px;line-height:16px;margin:0 0 5px;}
	.slider .slide > .content > p{font-size:12px;line-height:14px;color:#ccc;margin:0;}
.rtl .slider .slide > .content {
	float:right;
	padding-left:0px;
	padding-right:10px;
}
	.slider .slide > .content > ul li, 
    .slider .slide > .content > ol li {text-indent: -1em; padding-left:1em;}

.rtl .slider .slide > .content > ul li, 
.rtl .slider .slide > .content > ol li {text-indent: -1em; padding-right:1em; padding-left:0px;}


	.slider .slide > .content > a.btn{position:relative;bottom:0;float:right;margin-top:10px;}
.rtl .slider .slide > .content > a.btn {
	float:left;
}
	.slider #thumb{width:715px;overflow:hidden;}
	.slider .thumb{
		width:143px;
		height:50px;
		float:left;
		display:block;
		overflow:hidden;
		position:relative;}
	.slider .thumb + .thumb{border-left:1px solid #666;}
	.slider .thumb > img{position:absolute;opacity:0.5;}
	.slider .thumb > img:nth-child(2){display:none;}
	.slider .thumb.selected{
		background:#fefefe; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background:-moz-linear-gradient(top,  #fefefe 5%, #e2e2e2 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(5%,#fefefe), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  #fefefe 5%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  #fefefe 5%,#e2e2e2 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  #fefefe 5%,#e2e2e2 100%); /* IE10+ */
		background:linear-gradient(to bottom,  #fefefe 5%,#e2e2e2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-8 */}
	.slider .thumb.selected > img:nth-child(2){display:block;opacity:1;}
	.slider .thumb.selected > img:nth-child(1){display:none;}
	.slider #pager{margin:0 15px;}	

/*-------------------------------------------------------------------
Drop Down(s)
-------------------------------------------------------------------*/
	.dropdown{position:relative;cursor:pointer;}
	.dropdown a.toggle{position:relative;padding-right:30px !important;}
.rtl .dropdown a.toggle {
	padding-right:0px;
	padding-left:30px !important;
}
	.dropdown a.toggle > span.arrow-wht{position:absolute;top:50%;right:6px;margin-top:-10px;}
.rtl .dropdown a.toggle > span.arrow-wht {
	right:auto;
	left:6px;
}
	.dropdown.open{background-color:#333;}
	.dropdown.open .dropdown-menu{display:block;z-index:9999;}
	.dropdown:hover{background:#333;}
	.dropdown-menu{
		min-width:180px;
		display:none;
		position:absolute;
		top:44px;
		left:0;
		background-color:#666;
		z-index:100;
		padding:10px 15px;
		margin:0;}
	.dropdown-menu > span{
		font-size:10px;
		line-height:12px;
		display:block;
		text-transform:capitalize;
		margin:5px 0}
	.dropdown-menu > h6{font-size:12px;line-height:14px;text-align:left;text-transform:uppercase;color:#999;}
	.dropdown-menu > a.btn{display:block;}
	.dropdown-menu > ul > li{display:block;text-align:left;}
	.dropdown-menu > ul > li > a{text-transform:capitalize !important;}

/*-------------------------------------------------------------------
Expandables
-------------------------------------------------------------------*/
	.expandables li{position:relative;overflow:hidden;padding:0;margin:0;}
	.expandables li > a.toggle{outline:0;text-transform:capitalize;position:relative;}
	.expandables li > a.toggle > span.ec{
		width:15px;
		height:10px;
		position:absolute;
		top:50%;
		right:10px;
		margin-top:-5px;}
.rtl .expandables li > a.toggle > span.ec {
	right:auto;
	left:10px;
}
	.expandables li > .drawer{background-color:#333;}
	.expandables li > .drawer > ul > li{position:relative;padding:0;margin:0;}
	.expandables li > .drawer > ul > li > .drawer{padding:0 0 0 15px;}
	.expandables li > .drawer > ul > li > .drawer a{display:block;text-transform:capitalize;padding:2px 0 0 4px;}
.rtl .expandables li > .drawer > ul > li > .drawer a {
	padding:2px 4px 0 0;
}
.expandables li > .drawer > ul > li > .drawer a:hover{text-decoration:underline;}
	.expandables .drawer{display:block;position:absolute;left:-9999px;}
	.expandables .open > .drawer{position:static;}
		
/*-------------------------------------------------------------------
Columns/Grids
-------------------------------------------------------------------*/
	.col-2,
	.col-3,
	.col-4,
	.col-5{float:left;}
.rtl .col-2, .rtl .col-3, .rtl .col-4, .rtl .col-5 {
	float:right;
}
	.col-2{width:50%;}
	.col-3{width:33.3%;}
	.col-4{width:25%;}
	.col-5{width:20%;}

/*-------------------------------------------------------------------
Buttons
-------------------------------------------------------------------*/
	.btn{
		font-size:12px;
		font-weight:bold;
		cursor:pointer;
		display:inline-block;
		text-align:center;
		padding:5px;}
	.btn.bradius{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	.btn.bradius-med{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
	.btn.default,.btn.primary,.btn.secondary{text-transform:capitalize;}
	.btn.disabled,
	.btn.disabled:hover{
		color:#333;
		cursor:default;
		border-color:#666;
		background-color:#ccc;
		background-image:url("/~/media/images/global/buttons/gray-button-background.jpg");}
	.btn.default{
		color:#000 !important;
		background-color:#bbb;
		border:1px solid #999;}
	.btn.primary{
		font-size:14px;
		color:#fff;
		background-color:#ce2828;
		background-repeat:no-repeat;
		background-position:center center;
		border:1px solid #333;
		padding:5px 10px;}
	.btn.primary:hover{
		background-color:#520a0a;
		border-color:#000;}
	.btn.secondary{color:#fff;background-color:#ce2828;border:1px solid #666;}
	.btn.grey{
		font-size:18px;
		line-height:20px;
		color:#fff;
		display:block;
		background-color:#535353;
		padding:15px 0;}

/*-------------------------------------------------------------------
Icons
-------------------------------------------------------------------*/
	.icon{
		display:inline-block;
		overflow:hidden;
		text-indent:-9999px;
		background-repeat:no-repeat;}
	.icon.ismll{width:16px;height:16px;background-size:16px !important;}
	.icon.imed{width:20px;height:20px;}
	.icon.ilrg{width:30px;height:30px;}
	.icon.chat{background-position:-21px -84px;}
	.icon.arrow-wht{background-position:-21px -68px;}
	.icon.ec{background:url('/~/media/images/global/buttons/ec-icon.png');background-position:0 -15px;}
	.icon.ec.open{background-position:0 0;}
	.icon.facebook{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M22.439%2010.95h4v-4.95h-4c-3.311%200-6%202.92-6%206.5v2.5h-4v4.97h4v12.03h5v-12.03h5v-4.97h-5v-2.55c0-.86.532-1.5%201-1.5z%22%2F%3E%3C%2Fsvg%3E);}
	.icon.twitter{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.67%209.38c-.779.35-1.63.58-2.51.69.9-.54%201.6-1.4%201.92-2.42-.85.5-1.78.87-2.78%201.06-.8-.85-1.94-1.38-3.19-1.38-2.42%200-4.379%201.96-4.379%204.38%200%20.34.04.68.11%201-3.64-.18-6.86-1.93-9.02-4.57-.38.65-.59%201.4-.59%202.2%200%201.52.77%202.86%201.95%203.64-.72-.02-1.39-.22-1.98-.55v.06c0%202.12%201.51%203.89%203.51%204.29-.37.1-.75.149-1.15.149-.28%200-.56-.029-.82-.08.56%201.74%202.17%203%204.09%203.041-1.5%201.17-3.39%201.869-5.44%201.869-.35%200-.7-.02-1.04-.06%201.94%201.239%204.24%201.97%206.71%201.97%208.049%200%2012.45-6.67%2012.45-12.45l-.01-.57c.839-.619%201.579-1.389%202.169-2.269z%22%2F%3E%3C%2Fsvg%3E);}
	.icon.linkedin{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8%2012h4v14h-4zM23.27%2012.8c-1.49-.84-3.689-.91-5.27-.18v-.62h-4v14h4v-8.95l1.65-.79c.399-.19%201.289-.18%201.66.03.29.15.69.81.69%201.21v8.5h4v-8.5c0-1.84-1.15-3.82-2.73-4.7z%22%2F%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%2210%22%20cy%3D%228%22%20r%3D%222.5%22%2F%3E%3C%2Fsvg%3E);}
	.icon.google_plusone_share{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M15.31%207.58c.56.47%201.73%201.44%201.73%203.3%200%201.81-1.03%202.67-2.05%203.47-.32.32-.69.66-.69%201.2s.37.83.64%201.05l.88.681c1.081.899%202.05%201.739%202.05%203.42%200%202.3-2.23%204.62-6.43%204.62-3.55%200-5.26-1.69-5.26-3.5%200-.881.44-2.131%201.88-2.98%201.52-.93%203.57-1.05%204.67-1.12-.34-.441-.73-.91-.73-1.661%200-.42.12-.66.24-.95-.27.02-.54.05-.78.05-2.59%200-4.06-1.93-4.06-3.84%200-1.12.51-2.37%201.57-3.28%201.39-1.15%203.06-1.35%204.38-1.35h5.041l-1.561.88-1.52.01zm-1.74%2010.85c-.2-.02-.32-.02-.56-.02-.22%200-1.54.05-2.57.39-.54.2-2.1.78-2.1%202.521s1.69%202.979%204.3%202.979c2.35%200%203.59-1.12%203.59-2.64.01-1.24-.8-1.91-2.66-3.23m.71-4.64c.56-.56.61-1.35.61-1.79%200-1.76-1.05-4.5-3.08-4.5-.64%200-1.32.32-1.71.81-.41.52-.54%201.17-.54%201.81%200%201.64.95%204.35%203.06%204.35.61%200%201.27-.29%201.66-.68%22%2F%3E%3Cpath%20d%3D%22M27.74%2010.31h-3.72v-3.71h-.92v3.71h-3.72v.93h3.72v3.71h.92v-3.71h3.72z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);}
	.icon.email{background:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26.189%209.55h-20.149l10.02%207.57%2010.129-7.57zm-10.129%2010.12l-10.28-8.8v11.58h20.57v-11.49l-10.29%208.71z%22%2F%3E%3C%2Fsvg%3E);}
	.search{
		background-image:url('/~/media/images/header/magnify.png');
		background-repeat:no-repeat;
		background-position:center center;
		background-size:26px auto;}
	.icon.custom-expander{}

/*-------------------------------------------------------------------
Misc.
-------------------------------------------------------------------*/
	.hide{display:none !important;}	
	.us-bg,
	.int-bg{background-position:top right;background-repeat:no-repeat;}
.rtl .us-bg, .rtl .int-bg {
	background-position:top left;
}
	.int-bg{background-image:url('/~/media/images/footer/worldwide.png');}
	.dropdown-hr{
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, #666666, white, #666666);
		background-image: -moz-linear-gradient(left, #666666, white, #666666);
		background-image: -ms-linear-gradient(left, #666666, white, #666666);
		background-image: -o-linear-gradient(left, #666666, white, #666666);}
	.primary-gradient{
		background-color:#181818;
		background-image:url('/~/media/images/homepage/section-background.jpg');
		background-repeat:repeat-x;
		background-position:bottom;
		border:1px solid #666;}	
	.animate{transition:all 0.2s ease;-moz-transition:all 0.2s ease;-webkit-transition:all 0.2s ease;}
