/*-------------------------------------------------------------------
Homepage
-------------------------------------------------------------------*/
body{background-color:black;}
#page-container.home{background-color:#333;}
#page-container.home #header #header-left{width:auto;padding-top:0;}
#page-container.home #header-search-wrapper{display:none;}
#page-container.home #header-middle .navigation{margin-top:56px;}
#page-container.home #body{
	width:100%;
	max-width:1024px;
	overflow:hidden;
	padding:0;
	margin:30px auto 0;}
#page-container.home #search{display:none;}
#page-container.home #search div.searchbox-inner {display:table; width:100%}
#page-container.home #content{width:73.829%;float:left;}
.rtl #page-container.home #content {
	float:right;
}
#page-container.home .heading{
	font-family:helvetica,arial,sans-serif;
	font-size:35px;
	font-weight:bold;
	font-style:italic;
	line-height:37px;
	color:#fbc213;
	display:block;
	text-shadow:2px 2px 8px #000;
	margin-bottom:8px;}
#page-container.home .heading a{color:#fbc213;}
#page-container.home .heading span{
	font-size:22px;
	line-height:24px;
	text-align:right;
	display:block;
	padding-right:4px;
	margin-top:2px;}
.rtl #page-container.home .heading span {
	text-align:left;
	padding-right:0px;
	padding-left:4px;
}
.searchbox-inner-categories, .searchbox-inner-searchtext, .searchbox-inner-searchbutton, .searchbox-inner-stockRohs {
    display:table-cell;
    vertical-align: top;
}
.searchbox-inner-categories {
    width:20%;
}
.searchbox-inner-searchbutton {
    width:75px;
}
.searchbox-inner-stockRohs {
    /*width:auto;
    max-width:100%;
    min-width:1%;*/
    width:100px;
    padding-left:4px;
    white-space: nowrap;
    padding-right:10px;
}
.rtl .searchbox-inner-stockRohs {
    padding-left:10px;
    padding-right:4px;
}
#page-container.home .heading > span > sup{top:-4px;}
#page-container.home .searchbox select,
#page-container.home .searchbox input[type="text"],
#page-container.home .searchbox input[type="image"]{
    height:30px;
    font-size:14px;
    vertical-align: top;
}
#page-container.home .searchbox select{
    width:100%;
    -webkit-appearance:menulist-button;
}
#page-container.home .searchbox input{
    margin-left:1%;
}
.rtl #page-container.home .searchbox input {
	margin-right:1%;
	margin-left:0px;
}
#page-container.home .searchbox input[type="text"]{
    padding:3px 8px;
    width:100%;
    border:solid 1px #ccc;
}
#page-container.home .searchbox input[type="image"]{
	border:solid 1px #ccc;
    border-radius: 0 2px 2px 0;
	text-indent:-9999px;
	background-image:url('/~/media/Images/Global/Buttons/search-button.jpg');
	background-position:center center;
	background-repeat:no-repeat;
    width:75px;
}

.rtl #page-container.home .searchbox input[type="image"] {
    border-radius: 2px 0 0 2px;
}

#page-container.home .searchbox .searchbox-inner .searchbox-inner-stockRohs input {
    margin-right:5px;
}
.rtl #page-container.home .searchbox .searchbox-inner .searchbox-inner-stockRohs input {
    margin-right:0px;
    margin-left:5px;
}
#page-container.home .searchbox .searchbox-inner .searchbox-inner-stockRohs label {
    white-space: nowrap;
}

#page-container.home .searchbox p{font-size:13px;text-align:center;clear:both;padding:20px;}
#page-container.home .searchbox p > a{color:#fff;text-decoration:underline;}
#page-container.home .tri-widgets{margin-bottom:25px;}
#page-container.home .tri-widgets .content{width:100%;min-height:200px;padding:8px;}
#page-container.home .tri-widgets .content > h5{margin-bottom:10px;}
#page-container.home .tri-widgets .content > a{display:table;margin-bottom:8px;}
#page-container.home .tri-widgets .content > a > img{width:30px;height:42px;padding:6px 0;margin-right:15px;}
.rtl #page-container.home .tri-widgets .content > a > img {
	margin-right:0px;
	margin-left:15px;
}
#page-container.home .tri-widgets .content > a > span.text{
	font-size:14px;
	line-height:16px;
	display:table-cell;
	vertical-align:middle;
}
#page-container.home .linked-index-list{
	background-color:#181818;
	background-image:url('/~/media/images/homepage/section-background.jpg');
	background-repeat:repeat-x;
	background-position:bottom;
	border:1px solid #666;}
	
/*-------------------------------------------------------------------
Image Link Carousel
-------------------------------------------------------------------*/
.carousel{
	width:65.5425%;
	max-width:495px;
	overflow:hidden;
	float:left;
	position:relative;
	margin-right:3.3725%;}
.rtl .carousel {
	float:right;
	margin-right:0px;
	margin-left:3.3725%;
}
.carousel .slide{display:block;float:left;}
.rtl .carousel .slide {
	float:right;
}
.carousel .prev{left:0;}
.carousel .next{right:0;}
.carousel .prev > img,
.carousel .next > img{position:absolute;top:50%;margin-top:-1.5em;}
.carousel .prev > img{left:3px;}
.carousel .next > img{right:3px;}
.carousel .pager{
	position: relative;
	bottom: 1.4em;
	text-align: center;}
.carousel .pager > div {display: inline-block;}
.carousel .pager span {
	width: 12px;
	height: 12px;
	margin: 0px 2px;
	opacity: 0.65;
	background: #fff;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.carousel .pager .active span {opacity:1;}
.carousel .pager > a:last-child{margin-right:0;}
.image-content{width:31.085%;max-width:235px;float:left;margin-bottom:20px;}
.rtl .image-content {
	float:right;
}

/*-------------------------------------------------------------------
Newsletter Sign Up
-------------------------------------------------------------------*/
.newsletter{min-height:72px;}
.newsletter .subscribe{
	height:100%;
	font-size:12px;
	font-weight:bold;
	line-height:14px;
	text-align:center;
	color:#fbc213;
	float:right;
	display:block;
	border-left:1px solid #666;
	padding-left:8px;
	margin-left:10px;}
.rtl .newsletter .subscribe {
	float:left;
	border-left:none;
	border-right:solid 1px #666;
	padding-left:0px;
	margin-left:0px;
	padding-right:8px;
	margin-right:10px;
}
.newsletter .subscribe > img{display:block;}
.newsletter h5{font-size:14px;line-height:16px;color:#fbc213;margin:0 0 5px;}
.newsletter p{font-size:13px;line-height:15px;}

/*-------------------------------------------------------------------
Oversize the fonts for Japanese, Korean and Chinese
-------------------------------------------------------------------*/
.slider .slide > .content > h4.title:lang(ja),
.slider .slide > .content > h4.title:lang(zh),
.slider .slide > .content > h4.title:lang(ko){
                font-size:16px;
                line-height:18px;
}
.slider .slide > .content > p:lang(ja),
.slider .slide > .content:lang(ja),
.slider .slide > .content > p:lang(zh),
.slider .slide > .content:lang(zh),
.slider .slide > .content > p:lang(ko),
.slider .slide > .content:lang(ko){
                font-size:14px;
                line-height: 16px;
}

#pagelayout_0_content_4__promoPlayer img {width:100%;}