@charset "UTF-8";
/*-------------------------------------------------------------------
This file contains a collection of:
	HTML5 Broilerplate, Eric Meyer, and normalization cross-browser fixes
	Custom classes used throughout multiple projects
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
Cross Browser Fixes
-------------------------------------------------------------------*/
	*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
	a,abbr,address,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strong,sub,sup,tt,var,
	b,u,i,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section,summary,
	time,mark,audio,video{
		margin:0;
		padding:0;
	}
	article,aside,details,figcaption,figure,footer,
	header,hgroup,menu,nav,section,summary,object,embed{
		display:block;
	}
	audio,canvas,video{display:inline-block;}
	audio,canvas,img,video {vertical-align: middle;}
	h1,h2,h3,h4,h5,h6{font-size:100%;}
	table{
		border-collapse:collapse;
		border-spacing:0;
	}
	strong,b,mark{
		font-weight:bold;
		font-style:inherit;
	}
	em,i,cite,q,address,dfn,var{
		font-style:italic;
		font-weight:inherit;
	}
	abbr[title],dfn[title]{
		cursor:help;
		border-bottom:1px dotted;
	}
	ins{border-bottom:1px solid;}
	a:focus {outline: thin dotted;}
	a:active, a:hover {outline: 0;}
	a,u,ins{text-decoration:none;}
	del,s{text-decoration:line-through;}
	pre,code,samp,kbd{font-family:monospace;}
	small{font-size:0.75em;}
	img{
		border:none;
		font-style:italic;
	}
	button,
	input,
	select,
	textarea{
		font:inherit;
		font-size: 100%;
		margin: 0;
		vertical-align: baseline;
		*vertical-align: middle;
	}
	textarea {overflow: auto;vertical-align: top;resize: vertical;}
	button,
	html input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
		*overflow: visible;
	}
	button[disabled],
	html input[disabled] {
		cursor: default;
	}
	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box;
		padding: 0;
		*height: 13px; /* IE7 */
		*width: 13px; /* IE7 */
	}
	input[type="search"] {
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}
	legend{border: 0;padding: 0;white-space: normal;}
	sub,
	sup {
		font-size: 75%;
		position: relative;
	}
	sub{vertical-align: baseline;top:2px;}
	sup{vertical-align:top;}
	hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0;
	}

/*-------------------------------------------------------------------
Custom Universal Classes / Web Defined Fixes 
-------------------------------------------------------------------*/
	.left{float:left;}
.rtl .left{
	float:right;
}
	.right{float:right;}
.rtl .right {
	float:left;
}
	.center{margin:0 auto;}
	.clear{clear:both;}

	.align_left{text-align:left;}
.rtl .align_left {
	text-align:right;
}
	.align_right{text-align:right;}
.rtl .align_right {
	text-align:left;
}
	.align_center{text-align:center;}

	.align_left_img{float:left;margin:0 10px 10px 0;}
.rtl .align_left_img {
	float:right;
	margin:0 0 10px 10px;
}
	.align_right_img{float:right;margin:0 0 10px 10px;}
.rtl .align_right_img {
	float:left;
	margin:0 10px 10px 0;
}
	.align_center_img{display:block;margin: 10px auto;}

	/* Cloaking ---------------------------------------------------*/
		.hidden{display: none !important;visibility: hidden;} /* Hide From Browsers */
		/* Hide only visually, not screenreaders */
		.visuallyhidden {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		/* Allows visuallyhidden to be focusable via keyboard */
		.visuallyhidden.focusable:active,
		.visuallyhidden.focusable:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
		.invisible{visibility: hidden;} /* hide visually + screenreaders; but maintain layout */

	/* Clearfix ---------------------------------------------------*/
		.clearfix:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		} 
		.clearfix{display: inline-block;}
		html[xmlns] .clearfix {display: block;}
		* html .clearfix {height: 1%;}

	/* Skype - Prevent Formating of Numbers -----------------------*/
		span.skype_pnh_container{display: none !important;}
		span.skype_pnh_print_container {display: inline !important;}

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/