@charset "UTF-8";
/*-------------------------------------------------------------------
Author: Edgar Olivares <eolivares@awareweb.com>
Version 0.1
-------------------------------------------------------------------*/

/* Helper Classes -------------------------------------------------*/
	/* Designed for visibility on small devices only */
	.laptop-visible, .mobile-visible, .tablet-visible, 
	.phablet-visible, .phone-visible, .phone-smll-visible{display:none !important;}
	/* Designed to be hidden on small devices only */
	.laptop-hidden, .mobile-hidden, .tablet-hidden, 
	.phablet-hidden, .phone-hidden, .phone-smll-hidden{display:block !important;} 
	
/*-------------------------------------------------------------------
Desktops: 1180px
-------------------------------------------------------------------*/	
@media screen and (max-width:1180px){
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	#main-nav ul.account li:nth-child(2) > div > .dropdown-menu{right:0;left:auto;}
}

/*-------------------------------------------------------------------
Tablets: 1040px
-------------------------------------------------------------------*/
@media screen and (max-width:1044px){
	.tablets-hidden{display:none !important;}
	.tablets-visible{display:block !important;}
	.inner-container{width:100%;}
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	#header .inner-container{margin:0;}
	/*-------------------------------------------
	Footer
	-------------------------------------------*/
	#footer .menu:nth-child(4){padding-right:5px;}
	/*-------------------------------------------
	Overrides
	-------------------------------------------*/
	#page-container.home #header #header-left{width:220px;}
	#page-container.home #body{width:98%;margin-left:1%;margin-right:1%;}
	#page-container.home h1.heading > span{padding-left:10%;}

	#page-container.articles #content{padding-right:0;}
	#page-container.articles #sidebarRight{
		width:100%;
		clear:both;
		position:static;
		overflow:hidden;
		padding-top:30px;}
	#page-container.articles .related-articles-widget{width:48%;min-height:220px;float:left;margin-right:4%;}
	#page-container.articles .related-articles-widget:last-child{margin-right:0;}
}
@media screen and (max-width:960px){
	.mobile-visible{display:block !important;}
	.mobile-hidden{display:none !important;}
	#header .lc{display:none;}
    #page-container.home #header #header-left{width:190px;}
	#header {font-size:11px;}
}
/*-------------------------------------------------------------------
Phablets: 768px
-------------------------------------------------------------------*/
@media screen and (max-width:768px){
	.phablet-hidden{display:none !important;}
	.phablet-visible{display:block !important;}
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	#header .inner-container{width:100%;}
	#header #header-left{
		width:94px;
		position:absolute;
		left:50%;
		padding:0;
		margin-left:-50px;
		margin-top:3px;}
	#header #header-right{float:none;position:absolute;right:0;}
.rtl #header #header-right {
	right:auto;
	left:0;
}
	#header #header-middle .search-form{padding:3px 10px;margin-top:56px;}
	#header #header-middle .search-form > div{position:relative;padding-right:70px;}
.rtl #header #header-middle .search-form > div {
	padding-right:0px;
	padding-left:70px;
}
	#header #header-middle .search-form input{height:37px;}
	#header #header-middle .search-form input[type=text]{
		width:100%;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border:1px solid #000;}

	#header #header-middle .search-form input[type=button]{
		width:62px;
		position:absolute;
		top:0;
		right:0;
		background-color:#fbc213;
		border:1px solid #000;}
.rtl #header #header-middle .search-form input[type=button] {
	right:auto;
	left: 0;
}
	#header-search-wrapper{display:none;}
	#header .mobile-nav > li{display:inline-block;}
	#header .mobile-nav > li > a{display:inline-block;padding:10px 6px;}
	#header .mobile-nav > li > a > img{width:85%;}
	#header .mobile-nav > li.cart > a{position:relative;}
	#header .mobile-nav > li.cart > a > span.quantity{
		font-size:12px;
		text-align:center;
		position:absolute;
		top:4px;
		left:35px;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		background-color:red;
		padding:4px 8px 2px 7px;
		border: 1px solid #630D10}

	#push-menu .pm-toggle{padding:7px 15px 4px;}
.rtl #push-menu .pm-toggle {
	padding:7px 0 4px 15px
}
	#push-menu .pm-toggle > .menu-title{font-size:11px;text-align:center;padding-top:5px; font-family: Arial;}
	/*-------------------------------------------
	Footer
	-------------------------------------------*/
	#footer .inner-container{width:100%;margin:0;}
	#footer{background-image:none !important;background-color:#000 !important;border-top:1px solid #fff;}
	#footer .mobile-nav > a.btn.grey{width:48%;float:left;margin:0 1% 12px;}

	/*-------------------------------------------
	Side Bar
	-------------------------------------------*/
	#sidebar{width:100%;max-width:100%;float:none;}
	#sidebar .linked-index-list h4{font-size:21px;line-height:23px;}
	#sidebar .linked-index-list a.main-link{font-size:18px;line-height:20px;}
	/*-------------------------------------------
	Overrides
	-------------------------------------------*/
	#page-container.subpage #header .inner-container{width:100%;margin:0;}
	#page-container.subpage #footer-left{width:auto;float:none}
	#page-container.subpage #footer-right{width:25%;}
	#page-container.subpage #footer-right .menu{max-width:100%;}

	#page-container.home #header #header-left{width:94px;padding-top:0;}
	#page-container.home #body{margin-top:20px;}
	#page-container.home #content{width:100%;float:none;}
	#page-container.home .tri-widgets{margin-bottom:0;}
	#page-container.home .tri-widgets > div{width:100%;max-width:100%;float:none;margin-right:0;margin-bottom:20px;}
	#page-container.home .tri-widgets .content > h5{font-size:18px;line-height:22px;}
	#page-container.home .tri-widgets .content > a > span.text{font-size:18px;line-height:22px;}
	
	#page-container.articles #sidebar{width:100%;}
	#page-container.articles #content{padding-left:0;}

	#page-container.article #content{padding-right:0;}
	#page-container.article #sidebarRight{width:100%;position:static;}
	/*-------------------------------------------
	Slider
	-------------------------------------------*/
	.slider .slide .slide-image-link img{margin-bottom:15px;}
	.slider .slide > .content > h4.title{font-size:18px;line-height:20px;margin-bottom:15px;}
	.slider .slide > .content > p, .slider .slide > .content > ul{font-size:16px;line-height:19px;}
	/*-------------------------------------------
	Custom Expandable
	-------------------------------------------*/
	.customExpandable{position:relative;overflow:hidden;}
	.customExpandable .toggle .expander{color:#555;float:right;}
	.customExpandable .toggle .expander:after{content: '+';}
	.customExpandable .drawer{height:0;overflow:hidden;}
	.customExpandable.open .drawer{min-height:920px;}
	.customExpandable.open .toggle > .expander:after{font-size:15px;content:'-';}
	/*-------------------------------------------
	Misc.
	-------------------------------------------*/
	.us-bg{background-image:none;}
	.int-bg{background-image:none;}
}
@media screen and (max-width: 660px){
	/*-------------------------------------------
	Footer
	-------------------------------------------*/
	#footer .mobile-nav > a.btn.grey{width:100%;margin-left:0;margin-right:0;}
	/*-------------------------------------------
	Overrides
	-------------------------------------------*/
	#page-container.subpage #body{padding:20px 2%;}

	#page-container.articles .related-articles-widget{min-height:260px;}
	/*-------------------------------------------
	Slider
	-------------------------------------------*/
	.slider .slide .slide-image-link,
	.slider .slide > .content{width:100%;float:none;padding-left:0;}
	/*-------------------------------------------
	Columns/Grids
	-------------------------------------------*/
	.col-2.med{width:100%;float:none;}
}
/*-------------------------------------------------------------------
Phones: 485px
-------------------------------------------------------------------*/
@media screen and (max-width: 485px){
	.phone-hidden{display:none !important;}
	.phone-visible{display:block !important;}
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	#header .logo{width:106px;top:5px;}

	#mobile-nav{height:66px;}
	#mobile-nav > ul > li > a > img{max-width:30px;}

	#push-menu{width:243px;left:-243px;}
	#push-menu .pm-toggle{right:-60px;}
	.push-body-right{left:243px;}
	/*-------------------------------------------
	Overrides
	-------------------------------------------*/
	#page-container.conversion .nav{overflow:hidden;}
	#page-container.conversion .nav li{width:50%;float:left;}
	#page-container.conversion .nav li > img.icons{width:30px;left:6px;margin-top:-15px;}
	#page-container.conversion .nav li > a{padding-left:40px;}

	#page-container.articles .related-articles-widget{width:100%;min-height:120px;margin-right:0;float:none;}
    #page-container.home .slider .slide > .content > a.btn {width:100%; padding:10px;}
    #page-container.home .slider .slide > .img-responsive {width:100%; margin:0 0 10px 0}
}
