@font-face {
  font-family: 'avery-iconset';
  src:url('/vgnfiles/op/common/fonts/avery-iconset.eot');
  src:url('/vgnfiles/op/common/fonts/avery-iconset.eot?#iefix') format('embedded-opentype'),
      url('/vgnfiles/op/common/fonts/avery-iconset.woff') format('woff'),
      url('/vgnfiles/op/common/fonts/avery-iconset.woff2') format('woff2'),
      url('/vgnfiles/op/common/fonts/avery-iconset.ttf') format('truetype'),
      url('/vgnfiles/op/common/fonts/avery-iconset.svg#avery-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
.averyicon {
  font-family: 'avery-iconset';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.avery-icon-bang:before {content: "\e901"}
.avery-icon-printer-round:before {content: "\e602"}
.avery-icon-design-monitor:before {content: "\e605"}
.avery-icon-tear:before {content: "\e606"}
.avery-icon-abrasion:before {content: "\e607"}
.avery-icon-printer:before {content: "\e60f"}
.avery-icon-chemical:before {content: "\e612"}
.avery-icon-temp:before {content: "\e616"}
.avery-icon-trueblock:before {content: "\e61a"}
.avery-icon-ultrahold:before {content: "\e900"}
.avery-icon-water:before {content: "\e61b"}
.avery-icon-uvlight:before {content: "\e61c"}
.avery-icon-archival:before {content: "\e620"}
