.body-wrap {
  line-height: 18px;
  min-width: 960px;
  padding: 10px 0 15px 0;
  width: 100%;
}
.body-wrap ul, 
.body-wrap ol {
  margin: 0;
  padding: 0;
}
.body-wrap .clear {
  clear: both;
}
/* wrap for body */
.body-wrap .container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .body-wrap .container {
    width: 960px;
  }
}
@media (min-width: 992px) {
  .body-wrap .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .body-wrap .container {
    width: 960px;
  }
}
.body-wrap .container-fluid {
  margin-right: auto;
  margin-left: auto;
  min-width: 960px;
}
.body-container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  width: 960px;
}

/*------------------------------------*\
   $RESPONSIVE GRID CLASSES
\*------------------------------------*/
.body-wrap .row {
  margin-left: 0;
  margin-right: 0;
}
.body-wrap .col-xs-1, .body-wrap .col-sm-1, .body-wrap .col-md-1, .body-wrap .col-lg-1,
.body-wrap .col-xs-2, .body-wrap .col-sm-2, .body-wrap .col-md-2, .body-wrap .col-lg-2,
.body-wrap .col-xs-3, .body-wrap .col-sm-3, .body-wrap .col-md-3, .body-wrap .col-lg-3,
.body-wrap .col-xs-4, .body-wrap .col-sm-4, .body-wrap .col-md-4, .body-wrap .col-lg-4, 
.body-wrap .col-xs-5, .body-wrap .col-sm-5, .body-wrap .col-md-5, .body-wrap .col-lg-5,
.body-wrap .col-xs-6, .body-wrap .col-sm-6, .body-wrap .col-md-6, .body-wrap .col-lg-6,
.body-wrap .col-xs-7, .body-wrap .col-sm-7, .body-wrap .col-md-7, .body-wrap .col-lg-7,
.body-wrap .col-xs-8, .body-wrap .col-sm-8, .body-wrap .col-md-8, .body-wrap .col-lg-8, 
.body-wrap .col-xs-9, .body-wrap .col-sm-9, .body-wrap .col-md-9, .body-wrap .col-lg-9, 
.body-wrap .col-xs-10, .body-wrap .col-sm-10, .body-wrap .col-md-10, .body-wrap .col-lg-10, 
.body-wrap .col-xs-11, .body-wrap .col-sm-11, .body-wrap .col-md-11, .body-wrap .col-lg-11, 
.body-wrap .col-xs-12, .body-wrap .col-sm-12, .body-wrap .col-md-12, .body-wrap .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
