html, body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
ol,
ul {
  padding-left: 0;
}
nav a.bold {
  font-weight: bold !important;
}
@media (min-width: 768px) {
  nav a.black {
    color: #000 !important;
  }
}
@media (min-width: 768px) {
  nav a.blue {
    color: #427bc0 !important;
  }
}
#averyHeader *,
#averyFooter * {
  box-sizing: border-box;
}
#averyHeader .container,
#averyFooter .container {
  max-width: 970px;
}

/* ----------------------------------------------------------- Nav Columns - */
.nav__row {
  margin-right: -15px;
  margin-left: -15px;
}
.nav__row::before, .nav__row::after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.nav__row::after {
  clear: both;
}
.nav__column {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .nav__column {
    float: left;
    width: 20%;
  }
}

/* ----------------------------------------------------------------- Login - */
.navbar--login {
  font-size: 13px;
  // font-size: 1.3rem;
  margin-bottom: 0;
  background-image: url("/vgnfiles/images/common/header_tile_01.png");
  min-height: 30px;
  border-radius: 0;
}
.navbar--login .l18n-option,
.navbar--login .nav {
  margin-right: 12px;
}
.navbar--login .l18n-option > li,
.navbar--login .nav > li {
  line-height: 18px;
}
.navbar--login .l18n-option > li > a,
.navbar--login .l18n-option > li > span,
.navbar--login .nav > li > a,
.navbar--login .nav > li > span {
  padding: 5px 8px;
  font-weight: 700;
  font-size: 13px;
  // font-size: 1.3rem;
  line-height: 18px;
  color: #fff;
  display: inline-block;
}
.navbar--login .l18n-option > li > a:focus,
.navbar--login .l18n-option > li > a:hover,
.navbar--login .l18n-option > li > span:focus,
.navbar--login .l18n-option > li > span:hover,
.navbar--login .nav > li > a:focus,
.navbar--login .nav > li > a:hover,
.navbar--login .nav > li > span:focus,
.navbar--login .nav > li > span:hover {
  background-color: transparent;
}
.navbar--login .l18n-option {
  display: inline-block;
}
.navbar--login .nav .open > a {
  background-color: #fff !important;
  border-radius: 3px 3px 0 0;
  color: #2A6496;
}
.navbar--login .nav > li {
  display: none;
}
.navbar--login .nav > li#signInLink,
.navbar--login .nav > li.dropdown {
  display: inline-block;
}
.navbar--login .nav > li > .dropdown-toggle {
  border-left: 1px dotted #5874AF;
}
.navbar--login .nav > li > .dropdown-menu {
  min-width: auto;
  border: 0;
  border-top-left-radius: 3px;
}
.navbar--login .dropdown-menu > li {
  text-align: right;
  color: #2A6496;
}
.navbar--login .dropdown-menu > li > a {
  color: #2A6496;
}

/* ----------------------------------------------------- Header Navigation - */
.header__btn--search {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  font-size: 12px;
  // font-size: 1.2rem;
  padding: 0 10px 0 6px;
  border: 0;
}
.header__btn--search:hover {
  color: #fff;
  background-color: transparent;
}

.navbar--avery {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar--avery {
    font-size: 12px;
    // font-size: 1.2rem;
    background: #0b3fa2;
    background: linear-gradient(to bottom, #0b3fa2 0%, #032b82 100%) repeat scroll 0% 0% transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0b3fa2', endColorstr='#032b82');
    border-radius: 0;
    padding-top: 10px;
    padding-top: .6em;
    border: 0;
  }
}
@media (min-width: 992px) {
  .navbar--avery {
    font-size: 16px;
    // font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .navbar--avery {
    min-height: 56px;
  }
  .navbar--avery .navbar-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    background: #0b3fa2;
    background: linear-gradient(to bottom, #0b3fa2 0%, #032b82 100%) repeat scroll 0% 0% transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0b3fa2', endColorstr='#032b82');
  }
}
.navbar--avery .navbar-header .navbar-brand {
  padding: 0 15px;
  display: inline-block;
  position: relative;
}
@media (max-width: 768px) {
  .navbar--avery .navbar-header .navbar-brand {
    height: auto;
    display: block;
  }
}
.navbar--avery .navbar-header .navbar-brand::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar--avery .navbar-header .navbar-brand .logo {
  height: 52px;
  width: 95px;
}
@media (min-width: 768px) {
  .navbar--avery .navbar-header .navbar-brand .logo {
    height: 44px;
    width: 95px;
  }
}
.navbar--avery .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 3px;
}
@media (max-width: 768px) {
  .navbar--avery .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 58px;
    max-height: 100%;
    z-index: 999;
    margin: 0;
    background: #1A4491;
    background: linear-gradient(to bottom, #1A4491 0%, #103177 100%) repeat scroll 0% 0% transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1A4491', endColorstr='#103177');
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav {
    width: 580px;
  }
}
.navbar--avery .nav > li:hover > a {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar--avery .nav > li:hover > a {
    background-color: #fff;
    color: #474A50;
    border-right: 0;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-top: 12px;
    position: relative;
    z-index: 9999;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav > li:hover > a {
    padding-right: 26px;
  }
}
.navbar--avery .nav > li > a {
  color: #fff;
}
@media (max-width: 768px) {
  .navbar--avery .nav > li > a {
    border-bottom: 1px solid #2F4A83;
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav > li > a {
    margin-top: 12px;
    margin-bottom: 23px;
    padding: 0 19px;
    border-right: 1px dotted #5874AF;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav > li > a {
    padding: 0 25px;
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav > li:last-child > a {
    border-right: 0;
    padding-right: 20px;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav > li:last-child > a {
    padding-right: 25px;
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav > li.open:hover {
    background-color: transparent;
  }
  .navbar--avery .nav > li.open:hover > a {
    background-color: #fff;
  }
}
.navbar--avery .nav > li.open > a {
  background-color: #E00034;
  border-bottom: 0;
}
@media (min-width: 768px) {
  .navbar--avery .nav > li.open > a {
    background-color: transparent;
  }
  .navbar--avery .nav > li.dropdown {
    float: none;
    display: inline-block;
    margin-left: -5px;
    position: static;
  }
  .navbar--avery .nav > li.dropdown.on > a {
    margin-bottom: 13px;
  }
  .navbar--avery .nav > li.dropdown.on:hover > a {
    margin-bottom: 0;
  }
  .navbar--avery .nav > li.dropdown.on::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f5f5f5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar--avery .nav > li.dropdown.on:hover::after {
    border-bottom-width: 0;
  }
  .navbar--avery .nav > li.dropdown:hover {
    -webkit-box-shadow: -3px 14px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -3px 14px 8px rgba(0, 0, 0, 0.4);
  }
  .navbar--avery .nav > li.dropdown:hover > a::after,
  .navbar--avery .nav > li.dropdown:hover > a::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    display: block;
    width: 12px;
    height: 12px;
    bottom: 1px;
  }
  .navbar--avery .nav > li.dropdown:hover > a::after {
    right: -12px;
    box-shadow: -6px 6px 0 #fff;
  }
  .navbar--avery .nav > li.dropdown:hover > a::before {
    left: -12px;
    box-shadow: 6px 6px 0 #fff;
  }
  .navbar--avery .nav > li.dropdown:hover .dropdown-menu {
    display: block;
    -webkit-box-shadow: 0 -5px 24px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -5px 24px rgba(0, 0, 0, 0.6);
  }
}
.navbar--avery .nav > li.dropdown-disable:hover::before {
  box-shadow: none;
}
@media (min-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu {
    display: none;
    min-width: 200px;
    width: 100%;
    height: 252px;
    top: 61px;
    border-radius: 0;
    border: 0;
    padding-top: 47px;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav > li .dropdown-menu {
    top: 64px;
  }
}
.navbar--avery .weprint-divider {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  float: right;
  width: 40%;
}
.navbar--avery .weprint-divider::before {
  content: "";
  display: block;
  width: 0;
  height: 180px;
  border-left: 2px solid #dedede;
  position: absolute;
  left: -1px;
}
@media (max-width: 768px) {
  .navbar--avery .weprint-divider::before {
    border-width: 0;
  }
}
.navbar--avery .weprint-logo-link {
  display: inline-block;
  margin-bottom: 4px;
  color: #0056ac;
  position: relative;
}
.navbar--avery .weprint-logo-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar--avery .weprint-logo-link:hover,
.navbar--avery .weprint-logo-link:focus {
  text-decoration: none;
}
.navbar--avery .weprint-logo-link img,
.navbar--avery .weprint-logo-link object {
  vertical-align: bottom;
  margin-right: 5px;
}
.navbar--avery .weprint-menu-logo {
  background-color: #fff;
  margin-top: -6px;
  margin-bottom: 8px;
  padding-top: 6px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .navbar--avery .weprint-menu-logo {
    padding-top: 0;
    margin-top: -19px;
  }
}
.navbar--avery .nav > li .dropdown-menu ul {
  list-style: none !important;
  padding: 0;
}
.navbar--avery .nav > li .dropdown-menu li {
  margin: 5px;
}
@media (min-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu li {
    margin: 0 -15px;
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu li strong a {
    color: #000;
    font-weight: bold;
  }
}
.navbar--avery .nav > li .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6px 7px;
}
@media (max-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu li a {
    border: 1px solid #3956A0;
    border-radius: 5px;
  }
}
@media (min-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu li a {
    color: #474A50;
    padding: 6px 0 6px 15px;
    font-size: 13px;
  }
  .navbar--avery .nav > li .dropdown-menu li a:hover {
    background-color: #eff4fa;
  }
}
.navbar--avery .nav > li .dropdown-menu li a.nav-advert {
  border: 0;
  padding: 0;
  text-align: center;
}
.navbar--avery .nav > li .dropdown-menu li a.nav-advert img {
  display: inline-block;
}
@media (min-width: 768px) {
  .navbar--avery .nav > li .dropdown-menu .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar--avery .nav > li .dropdown-menu .container {
    width: 905px;
  }
}
.navbar--avery .navbar-form {
  padding-right: 0;
  border-top: 0;
  border-bottom: 0;
  box-shadow: none;
}
@media (max-width: 768px) {
  .navbar--avery .navbar-form {
    margin-right: 0;
    margin-bottom: 43px;
  }
}
@media (min-width: 768px) {
  .navbar--avery .navbar-form {
    margin-top: 4px;
  }
}
.navbar--avery .input-group {
  background-color: #062B83;
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(48, 48, 48, 0.4) inset;
}
@media (min-width: 992px) {
  .navbar--avery .input-group {
    width: 235px;
  }
}
.navbar--avery .form-control {
  background-color: transparent;
  background-image: none;
  border: 0 solid #ccc;
  padding-right: 0;
  padding-left: 15px;
  font-weight: 600;
  color: #a5afcf;
  font-style: italic;
}
@media (min-width: 768px) {
  .navbar--avery .form-control {
    font-size: 12px;
    // font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .navbar--avery .form-control {
    font-size: 13px;
    // font-size: 1.3rem;
  }
}

/* ------------------------------------------------------------ Breadcrumb - */
.breadcrumb-nav {
  background-color: #f5f5f5;
  min-height: 36px;
}
@media (max-width: 768px) {
  .breadcrumb-nav {display: none}
}
.breadcrumb-nav .container {max-width: 970px;}
.breadcrumb-nav .breadcrumb {margin-bottom: 0}
.breadcrumb-nav li {font-size: 14px}
.breadcrumb-nav a {color: #427bc0}
.breadcrumb-nav .no-slash::before {content: "" !important}

/* ---------------------------------------------------------------- Footer - */
@media (max-width: 768px) {
  #averyFooter {
    margin-bottom: 40px;
  }
}
.footer__socialmedia {
  background-color: #F4F4F4;
}
@media (min-width: 768px) {
  .footer__socialmedia {
    padding-top: 15px;
    height: 70px;
  }
}
@media (max-width: 992px) {
  .footer__socialmedia .form-control {
    padding: 6px 6px;
  }
}
.footer__socialmedia__icons {
  padding-right: 15px;
  padding-left: 15px;
  position: fixed;
}
.footer__socialmedia__icons .fa {
  line-height: inherit;
}
@media (min-width: 768px) {
  .footer__socialmedia__icons {
    position: static;
    float: left;
    width: 33.33333333%;
  }
}
@media (max-width: 768px) {
  .footer__socialmedia__icons {
    background: #1A4491;
    background: linear-gradient(to bottom, #1A4491 0%, #103177 100%) repeat scroll 0% 0% transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1A4491', endColorstr='#103177');
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}
.footer__socialmedia__icons .icon {
  display: inline-block;
  width: 1.43em;
  height: 1.43em;
  font-size: 20px;
  // font-size: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}
.footer__socialmedia__icons .icon:hover {
  opacity: .7;
}
@media (max-width: 768px) {
  .footer__socialmedia__icons .icon {
    margin: 6px 2px 0 2px;
  }
}
@media (min-width: 768px) {
  .footer__socialmedia__icons .icon {
    font-size: 25px;
    // font-size: 2.5rem;
  }
}
.socialmedia__icon--pinterest {background-color: #cb2027}
.socialmedia__icon--facebook {background-color: #3c5b9b}
.socialmedia__icon--youtube {background-color: #fe3432}
.socialmedia__icon--twitter {background-color: #2daae1}
.socialmedia__icon--instagram {background-color: #517fa4}
.footer__newsletter--signup {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  text-align: right;
}
@media (min-width: 768px) {
  .footer__newsletter-signup {
    float: left;
    width: 66.66666667%;
  }
}
.footer__newsletter-signup .form-inline label {
  font-size: 18px;
  // font-size: 1.8rem;
  font-weight: normal;
  line-height: 16px;
  line-height: 1em;
}
@media (min-width: 1200px) {
  .footer__newsletter-signup .form-inline label {
    margin-right: 15px;
    margin-right: 1em;
  }
}
.footer__newsletter-signup .form-inline label .small {
  font-size: 12px;
  // font-size: 1.2rem;
  font-weight: normal;
}
.footer__newsletter-signup .form-inline .form-control {
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .footer__newsletter-signup .form-inline .form-control {
    width: 200px;
  }
}
.footer__newsletter-signup .form-inline .form-control,
.footer__newsletter-signup .form-inline .btn {
  vertical-align: top;
  font-size: 13px;
}
.footer__newsletter-signup .btn-success {
  background: linear-gradient(to bottom, #5BAF07 0%, #004D00 100%) repeat scroll 0% 0% transparent;
  border-color: #409205;
}
.footer__newsletter-signup .btn-success:hover,
.footer__newsletter-signup .btn-success:focus,
.footer__newsletter-signup .btn-success:active {
  background: none repeat scroll 0% 0% #5BAF07;
  border-color: #5BAF07;
}
.footer__sitemap {
  padding: 25px 0;
  background: #ECECEC;
  background: linear-gradient(to bottom, #ECECEC 0%, #F8F8F8 100%) repeat scroll 0% 0% transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ECECEC', endColorstr='#F8F8F8');
}
.footer__sitemap h2 {
  margin-top: 20px;
  margin-top: 1.4em;
  margin-bottom: 9px;
  margin-bottom: .67em;
  font-size: 14px;
  // font-size: 1.4rem;
  font-weight: bold;
}
.footer__sitemap h2 a {
  color: #474A51;
}
.footer__sitemap h2 a:hover {
  color: #427BC0;
}
.footer__sitemap ul {
  list-style: none;
  padding-left: 2px;
  padding-left: .138em;
  overflow: hidden;
}
.footer__sitemap ul li {
  margin-bottom: .1em;
}
.footer__sitemap ul li a {
  color: #474A51;
  font-size: 12px;
  // font-size: 1.2rem;
}
.footer__sitemap ul li a:hover {
  color: #427BC0;
}
.footer__copyright {
  background-image: url("/vgnfiles/images/common/footer_tile_01.png");
  text-align: center;
}
.footer__copyright p {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  // font-size: 1.4rem;
}

/* ------------ Footer hack needed because main content is not responsive. - */
@media (max-width: 768px) {
  #averyFooter {
    margin-bottom: 74px;
  }
  .footer__newsletter-signup {
    display: none;
  }
  .footer__copyright {
    position: fixed;
    bottom: 40px;
  }
  .footer__copyright p {
    font-size: 12px;
    line-height: 1.6rem;
    margin: 0px -15px 3px -15px;
  }
}