@charset "UTF-8";
/*------------------------------------*\
   $BOOTSTRAP EXTENDS
\*------------------------------------*/
.unordered-list {
  list-style: none;
}
.unordered-list li {
  font-size: 14px;
  font-size: 1.4rem;
  position: relative;
}
.unordered-list.bulleted-list li {
  margin-bottom: 1px;
  margin-bottom: 0.1rem;
  line-height: 21px;
  line-height: 2.1rem;
  margin-left: 28px;
  margin-left: 2.8rem;
}
.unordered-list.bulleted-list li:before {
  content: "·";
  font-size: 160%;
  position: absolute;
  top: 1px;
  top: .05rem;
  left: -12px;
  left: -1.24rem;
}

.btn-blue {
  background: linear-gradient(to bottom, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%) repeat scroll 0% 0% transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: medium none;
  color: #FFF;
  cursor: pointer;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: none repeat scroll 0% 0% #76a6d7;
  color: #FFF;
}

.btn-yellow {
  background: linear-gradient(to bottom, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%) repeat scroll 0% 0% transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: medium none;
  color: #FFF;
  cursor: pointer;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active {
  background: none repeat scroll 0% 0% #feb100;
  color: #FFF;
}

.homepage .container {
  max-width: none;
}

/*------------------------------------*\
   $Normal Carousel
\*------------------------------------*/
@media (max-width: 768px) {
  .carousel {
    overflow: hidden;
  }
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item > img,
.carousel-fade .carousel-inner .item > a > img {
  margin: 0 auto;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media (min-width: 768px) {
  .normal-carousel .container,
  .normal-carousel .split-captions {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50%);
    top: 0px;
    bottom: 0px;
    padding: 0px;
  }
}
.normal-carousel .split-captions {
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
@media (min-width: 768px) {
  .normal-carousel .split-captions {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .normal-carousel .split-captions {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .split-captions {
    width: 1170px;
    padding: 0px;
  }
}
.normal-carousel .carousel-caption {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  position: absolute;
  right: auto;
  bottom: auto;
  z-index: 900;
  display: block;
  cursor: pointer;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  text-align: left;
  text-shadow: none;
  color: #444444;
  top: 0;
  left: 0;
  width: 36%;
  height: 100%;
  font-size: 11px;
  font-size: 1.1rem;
  padding: 8px;
  padding: .7em;
  line-height: 13px;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .normal-carousel .carousel-caption.text-center {
    text-align: center;
  }

  .normal-carousel .carousel-caption.text-center img {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .normal-carousel .carousel-caption {
    padding: 16px 21px;
    padding: 1.2em 1.5em 1.2em 1.5em;
    line-height: 16px;
    line-height: 1.2em;
    border-radius: 8px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1%;
    width: 41%;
    height: auto;
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .normal-carousel .carousel-caption {
    padding: 19px 38px 19px 25px;
    padding: 1.2em 2.4em 1.2em 1.54em;
    line-height: 19px;
    line-height: 1.2em;
    width: 36%;
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .carousel-caption {
    width: 40%;
  }
}
.normal-carousel .carousel-caption sup {
  top: -.8em;
  font-size: 50%;
}
.normal-carousel .carousel-caption h2 {
  color: #0238A4;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4px;
  margin-bottom: .34em;
  margin-top: 0;
}
@media (min-width: 768px) {
  .normal-carousel .carousel-caption h2 {
    margin-bottom: 8px;
    margin-bottom: .34em;
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .normal-carousel .carousel-caption h2 {
    margin-bottom: 10px;
    margin-bottom: .34em;
    font-size: 27px;
    font-size: 2.7rem;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .carousel-caption h2 {
    font-size: 30px;
    font-size: 3rem;
  }
}
.normal-carousel .carousel-caption h3 {
  font-size: 11px;
  font-size: 1.1rem;
  margin-bottom: .9em;
  padding-top: .22em;
}
@media (min-width: 768px) {
  .normal-carousel .carousel-caption h3 {
    font-size: 17px;
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  .normal-carousel .carousel-caption h3 {
    font-size: 19px;
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .carousel-caption h3 {
    font-size: 21px;
    font-size: 2.1rem;
  }
}
.normal-carousel .carousel-caption p {
  font-size: inherit;
  color: #444444;
  margin-top: 0;
  margin-bottom: 9px;
  margin-bottom: .64em;
  line-height: 1.3em;
}
@media (min-width: 768px) {
  .normal-carousel .carousel-caption p {
    margin-bottom: 10px;
    margin-bottom: .64em;
  }
}
.normal-carousel .carousel-caption a {
  color: #427bc0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 768px) {
  .normal-carousel .split-captions img.hero {
    max-height: 100%;
    float: left;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .normal-carousel .split-captions img.hero {
    position: absolute;
    z-index: 901;
    width: 40%;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 1200px) {
  .normal-carousel .split-captions img.hero {
    width: 46%;
  }
}
.normal-carousel .split-captions .split-caption-item {
  padding: 0px;
  height: 100%;
}
@media (max-width: 768px) {
  .normal-carousel .split-captions .carousel-caption {
    padding: 10px;
    width: 100%;
    position: static;
    font-size: 1em;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .normal-carousel .split-captions .carousel-caption {
    padding-left: 42px;
    padding-right: 12px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 34%;
    width: 65%;
  }
}
@media (min-width: 992px) {
  .normal-carousel .split-captions .carousel-caption {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .split-captions .carousel-caption {
    left: 40%;
  }
}
.normal-carousel .split-captions .carousel-caption h2 {
  font-size: 14px;
  font-size: 1.25em;
}

@media (min-width: 768px) {
  .normal-carousel .split-captions .carousel-caption h2 {
    font-size: 17px;
    font-size: 1.25em;
  }
}
@media (min-width: 992px) {
  .normal-carousel .split-captions .carousel-caption h2 {
    font-size: 20px;
    font-size: 1.25em;
  }
}
@media (min-width: 1200px) {
  .normal-carousel .split-captions .carousel-caption h2 {
    font-size: 24px;
    font-size: 1.499em;
  }
}
.normal-carousel .carousel-indicators {
  display: block;
  height: 30px;
  width: auto;
  background: rgba(179, 179, 179, 0.4);
  bottom: 0;
  right: 0;
  padding: 10px;
  left: auto;
  z-index: 200;
}
@media (min-width: 768px) {
  .normal-carousel .carousel-indicators {
    border-radius: 3px;
    background: rgba(179, 179, 179, 0.4);
    bottom: 20px;
    right: 18%;
  }
}
.normal-carousel .carousel-indicators li {
  border-radius: 2px;
  background-color: #fff;
  border-width: 0px;
}
.normal-carousel .carousel-indicators .active {
  border-width: 0px;
  background-color: #427bc0;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.normal-carousel .carousel-indicators .controls {
  width: 12px;
  background-color: transparent;
  color: #fff;
  position: relative;
  margin-right: 15px;
  padding: 0;
  top: -3px;
  font-size: 14px;
  text-indent: 0px;
}
.normal-carousel .carousel-indicators .controls.paused {
  color: #427bc0;
}
.normal-carousel .carousel-indicators .controls:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -7px;
  height: 15px;
  border-right: 1px dotted #fff;
}

/*------------------------------------*\
   $HERO SLIDER HOMEPAGE
\*------------------------------------*/
.hero-homepage div,
.hero-homepage input,
.hero-homepage button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-homepage div:before,
.hero-homepage div:after,
.hero-homepage input:before,
.hero-homepage input:after,
.hero-homepage button:before,
.hero-homepage button:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.homepage-body-wrap div,
.homepage-body-wrap input,
.homepage-body-wrap button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.homepage-body-wrap div:before,
.homepage-body-wrap div:after,
.homepage-body-wrap input:before,
.homepage-body-wrap input:after,
.homepage-body-wrap button:before,
.homepage-body-wrap button:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-homepage {
  background: #F4F7FA;
  height: 422px;
  margin-bottom: 10px;
  overflow: hidden;
}

.cycle-slideshow {
  overflow: hidden;
  /*width: 100%  add back when responsive */
  width: 1800px;
  margin: 0 auto;
}

.cycle-slideshow img {
  overflow: hidden;
  /*min-width: 1800px;
  width: 100%; add back when responsive */
  width: 100%;
}

.cycle-slideshow img.img-responsive {
  width: auto;
  max-width: 100%;
  margin-bottom: 23px;
}

/* pager */
.slideshow-pager-wrap {
  position: relative;
}

.slideshow-pager {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: -65px;
  /*20150427 - change back to -145px when add redcross link*/
  z-index: 200;
}

.slideshow-pager ul {
  display: inline-block;
}

/* IE8 hack */
@media \0screen {
  .slideshow-pager {
    background-image: url(/vgnfiles/images/homepage/bnr/home-ie-pagerBG.png);
    background-repeat: none;
  }

  .slideshow-pager ul {
    float: right;
    margin-top: 5px;
  }
}
.slideshow-pager .btn-pause {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.slideshow-pager .btn-pause:after {
  content: "";
  border-right: 1px dotted #fff;
  position: absolute;
  left: 8px;
  top: 1px;
  width: 20px;
  height: 20px;
}

.slideshow-pager .btn-pause:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

#custom-pager li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  text-indent: -999px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fff;
}

#custom-pager li.cycle-pager-active {
  background-color: #427bc0;
}

/* slider captions */
.cycle-caption-wrap {
  position: relative;
}

.cycle-caption {
  position: absolute;
  left: 25px;
  top: -370px;
  z-index: 800;
}

.cycle-overlay {
  position: absolute;
  z-index: 900;
  top: 50px;
  left: 15%;
  width: 415px;
  display: block;
  cursor: pointer;
}

.caption-bg {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  /*min-height: 230px;*/
  padding: 20px 40px 20px 25px;
}

.cycle-caption {
  color: transparent;
}

.cycle-overlay h2,
.cycle-overlay p,
.cycle-overlay a {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.cycle-overlay h2 {
  color: #031f73;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cycle-overlay h3 {
  font-size: 21px;
  margin-bottom: 19px;
  padding-top: 5px;
}

.cycle-overlay p {
  color: #444444;
  font-size: 16px;
  margin-top: 0;
}

.cycle-overlay a {
  color: #427bc0;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  text-decoration: none;
}

.glyphicon-pause:before {
  content: "\e073";
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/vgnfiles/op/common/css/fonts/glyphicons-halflings-regular.eot");
  src: url("/vgnfiles/op/common/css/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/vgnfiles/op/common/css/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/vgnfiles/op/common/css/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/vgnfiles/op/common/css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
   $HOMEPAGE BODY CONTENT
\*------------------------------------*/
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* ------------------------------------------------------ Canada Home page - */
.homepage-body-wrap {
  background: #f3f6f9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjZmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f3f6f9 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f6f9), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f3f6f9 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #f3f6f9 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f3f6f9 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #f3f6f9 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f6f9', endColorstr='#ffffff',GradientType=0 );
}

.homepage-body-content {
  color: #474a50;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 40px 0;
  position: relative;
}
.homepage-body-content .divider-dotted {
  border-right: 1px dotted #c9d3e4;
  height: 80%;
  position: absolute;
  left: 49%;
  top: 10%;
  width: 1px;
  z-index: 100;
}
.homepage-body-content .module {
  text-align: center;
}
.homepage-body-content .module h2 {
  color: #0039a6;
  font-size: 20px;
  /* has to be px to override main.css -- actual 1.25em; */
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
.homepage-body-content .module p {
  font-size: 16px;
  /* has to be px to override main.css */
  line-height: 1.5em;
  padding-bottom: 20px;
}
.homepage-body-content .module p .btn-blue {
  background: #76a6d7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2YTZkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzViOGZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzQzN2NjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTRkOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76a6d7), color-stop(31%, #5b8fcb), color-stop(52%, #437cc1), color-stop(100%, #1e4d9d));
  background: -webkit-linear-gradient(top, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%);
  background: -o-linear-gradient(top, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%);
  background: -ms-linear-gradient(top, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%);
  background: linear-gradient(to bottom, #76a6d7 0%, #5b8fcb 31%, #437cc1 52%, #1e4d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a6d7', endColorstr='#1e4d9d',GradientType=0 );
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 2em;
  margin-left: 5px;
  padding: 0 15px;
  text-decoration: none;
}
.homepage-body-content .module p .btn-blue:hover {
  background: #76a6d7;
  text-decoration: none;
  color: #fff;
}
.homepage-body-content .module p .btn-blue:before, .homepage-body-content .module p .btn-blue:after {
  content: " ";
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.homepage-body-content .module p .btn-blue:after {
  clear: both;
}
.homepage-body-content .product-search {
  text-align: center;
}
.homepage-body-content .product-search .search-form {
  padding-left: 16%;
  padding-top: 20px;
}
.homepage-body-content .product-search .search-form input[type=search] {
  background: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  float: left;
  height: 30px;
  padding: 5px;
  width: 180px;
}

.btn.home-dpo-start {
  background: #feb100;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYjEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZlYTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2ZmOTIwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2ZjOTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkOGUwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZThhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feb100), color-stop(52%, #fea200), color-stop(83%, #ff9201), color-stop(86%, #fc9200), color-stop(97%, #fd8e01), color-stop(100%, #fe8a00));
  background: -webkit-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -o-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -ms-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: linear-gradient(to bottom, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb100', endColorstr='#fe8a00',GradientType=0 );
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 2em;
  margin-top: 15px;
  padding: 0 15px;
}
.btn.home-dpo-start:hover {
  background: #feb100;
  text-decoration: none;
}

/* ---------------------------------------------------------- US Home page - */
.carousel-inner {
  background-color: #f4f4f4;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}

.below-fold {
  background: #f3f6f9;
  /* Old browsers */
  background: linear-gradient(to bottom, #f3f6f9 0%, #ffffff 100%) repeat scroll 0% 0% transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f3f6f9, endColorstr=#ffffff);
}

.below-fold-content {
  color: #474a50;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 26px 0;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .below-fold-content {
    width: 94%;
  }
}
@media (min-width: 768px) {
  .below-fold-content .three-cols {
    margin-left: -50px;
    margin-right: -50px;
  }
  .below-fold-content .three-cols .points {
    margin-left: 0 !important;
  }
}

.newWePrintImg {
  margin-bottom: 4px;
  margin-bottom: .4em;
}
@media (min-width: 768px) {
  .newWePrintImg {
    margin-bottom: 16px;
    margin-bottom: 1.2em;
  }
}
@media (min-width: 992px) {
  .newWePrintImg {
    margin-bottom: 19px;
    margin-bottom: 1.2em;
  }
}

.choose-one {
  text-align: center;
}
.choose-one img {
  display: block;
  margin: 0 auto;
  padding-bottom: 12px;
}
.choose-one h1 {
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: -.23rem;
  color: #0238a4;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .choose-one h1 {
    font-size: 43px;
    font-size: 4.3rem;
  }
}
.choose-one .redDot {
  background-color: #ff0028;
  color: #fff !important;
  border-radius: 50%;
  font-size: 19px;
  font-size: 1.9rem;
  letter-spacing: -.1rem;
  padding: 4px;
  vertical-align: middle;
}
.choose-one p {
  font-weight: bold;
  letter-spacing: .04rem;
}

.which-one .points {
  text-align: left;
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
  display: block;
  margin-left: 13%;
}
.which-one h2 {
  font-size: 21px;
  font-size: 2.1rem;
  letter-spacing: -.04rem;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}
.which-one .unordered-list.bulleted-list li {
  margin-left: 13px;
  margin-left: 1.3rem;
  margin-bottom: 3px;
  margin-bottom: 0.3rem;
}

.youprint-blurb:before, .below-fold-content .three-cols .weprint-blurb:before {
  content: "";
  display: inline-block;
  height: 86%;
  width: 1px;
  position: absolute;
  top: 46px;
  right: 0px;
  border-right: 1px dotted #cbd2e5;
}

.youprint-blurb, .weprint-blurb, .help-blurb {
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .youprint-blurb, .weprint-blurb, .help-blurb {
    margin-top: -48px;
  }
  .below-fold-content .three-cols .youprint-blurb,
  .below-fold-content .three-cols .weprint-blurb,
  .below-fold-content .three-cols .help-blurb {
    margin-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
.youprint-blurb img, .weprint-blurb img, .help-blurb img {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.btn.home-dpo-start {
  background: #feb100;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYjEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZlYTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2ZmOTIwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2ZjOTIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkOGUwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZThhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feb100), color-stop(52%, #fea200), color-stop(83%, #ff9201), color-stop(86%, #fc9200), color-stop(97%, #fd8e01), color-stop(100%, #fe8a00));
  background: -webkit-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -o-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: -ms-linear-gradient(top, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  background: linear-gradient(to bottom, #feb100 0%, #fea200 52%, #ff9201 83%, #fc9200 86%, #fd8e01 97%, #fe8a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb100', endColorstr='#fe8a00',GradientType=0 );
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 2em;
  margin-top: 15px;
  padding: 0 15px;
}

.btn.home-dpo-start:hover {
  background: #feb100;
  text-decoration: none;
}

/*------------------------------------*\
   $HOMEPAGE TOOLTIP
\*------------------------------------*/
.tooltip {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}

.tooltip .tooltip-info {
  display: none;
  background: #262626;
  border: 1px solid #fea100;
  border-radius: 5px;
  font-size: 12px !important;
  padding: 7px;
  position: absolute;
  left: 110%;
  top: 3px;
  width: 160px;
  z-index: 300;
  color: #fff;
}

.tooltip .tooltip-info:before, .tooltip .tooltip-info:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fea100;
}

.tooltip .tooltip-info:after {
  left: -8px;
  border-right-color: #262626;
}

.tooltip .tooltip-info .info {
  display: block;
}

.tooltip:hover .tooltip-info, .tooltip:focus .tooltip-info {
  display: inline-block;
}

a:focus + .tooltip .tooltip-info {
  display: inline-block;
}

.homepage-body-content .index-maker img {
  margin: 15px 0;
}