/* Essential CSS * NON GLOBAL * 
Note: Selectors listed here are used by all browsers with the exception of
the selectors that have the same name provided in ie.css (used by all Internet Explorer
browsers except IE 6) and ie6.css (used by IE 6 browsers only).
Before you change the name of the selector or decide to pull it check ie.css and ie6.css class to see if 
there are different css properties associated with the selector with the same name.
If the selector exists on ie.css or ie6.css, these css properties cannot be pulled out or it will result in
cross browser formatting issues.
*/

/* Action includes action items such as view demo, view details, write a review, 
    add to cart, read reviews, etc.. */
	
.action_gray_alignment_wrap {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}	
.action_gray_wrap {
	display: block;
	margin: 0px auto 2px auto;
	padding: 3px 0px 1px 0px;
	height: 21px;
	color: #447CBD;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #F2F2F2;
}
	.action_gray_wrap img {
		padding: 0px 5px 2px 0px;
	}
.action_wrap_2 {
	padding: 10px 14px 0px 0px;
	width: 680px;
	height: 18px;
	text-align: right;
	position: relative;
	left: -139px;
}
/* End Action */
/* Background Wraps */
/* 1 col wraps are 927px wide. These wraps are used when the left navigation is not present. */
.bg_1col_bot_wrap {
	width: 927px;
	height: 14px;
	background: url(/avery/static/images/bg_927x14_roundedBtm.gif) no-repeat bottom left;
}
.bg_1col_bot_wrap_2 {
	margin: -2px 0px 0px 0px;
	width: 927px;
	height: 14px;
	background: url(/avery/static/images/bg_927x14_roundedBtm.gif) no-repeat bottom left;
}
.bg_1col_bot_wrap_3 { /* this is a hack for ie */
	margin: -1px 0px 0px 0px;
	width: 927px;
	height: 15px;
	background: url(/avery/static/images/bg_927x14_roundedBtm.gif) no-repeat bottom left;
}
.bg_1col_mid_wrap {
	width: 927px;
	background: url(/avery/static/images/bg_927x14_roundedMid.gif) repeat-y top left;
}
.bg_1col_top_wrap {
	width: 927px;
	height: 14px;
	background: url(/avery/static/images/bg_927x14_roundedTop.gif) no-repeat top left;
}
/* 2 col wraps are 711px wide. These wraps are used when the left navigation is present. */
.bg_2col_bot_wrap {
	width: 711px;
	height: 14px;
	background: url(/avery/static/images/bg_711x10_rightCol_btm.gif) no-repeat bottom left;
}
.bg_2col_bot_wrap_2 {
	margin: -6px 0px 0px 0px;
	width: 711px;
	height: 14px;
	background: url(/avery/static/images/bg_711x10_rightCol_btm.gif) no-repeat bottom left;
}
 /* print JS Dependency */
#bg_2col_mid_wrap {
	width: 711px;
	background: url(/avery/static/images/bg_711x1_rightCol_mid.gif) repeat-y top left;
}
#bg_2col_mid_wrap_2 { /* print JS Dependency */
	margin: 9px 0px 0px 0px;
	width: 711px;
	background: url(/avery/static/images/bg_711x1_rightCol_mid.gif) repeat-y top left;
}
#bg_2col_mid_wrap_3 {
	width: 711px;
	height: 419px;  
	background: url(/avery/static/images/bg_711x419_promos.jpg) no-repeat top left;
}
.bg_2col_top_wrap {
	width: 711px;
	height: 15px;
	background: url(/avery/static/images/bg_711x10_rightCol_top.gif) no-repeat top left;
}
/*Added for artf1747 to remove pin images for Landing pages*/
.bg_2col_wrap {
    width: 711px;
    height: 15px;
    /*background: url(/avery/static/images/bg_711x10_rightCol_top.gif) no-repeat top left;*/
}
/*Added to remove pin lines for home page */
.bg_2col_wrap_home {
    width: 711px;
    height: 5px;
    /*background: url(/avery/static/images/bg_711x10_rightCol_top.gif) no-repeat top left;*/
}

/* bg double line wraps */
.bg_double_line_bottom {
	margin: 0px 0px -11px 0px;
	padding: 0px 0px 0px 0px;
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_bottom_2 {
	margin: 10px 0px -11px 0px;
	padding: 0px 0px 0px 0px;
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_bottom_3 { /* don't delete. this is a hack for ie6 & 7 */
	margin: 0px 0px -11px 0px;
	padding: 0px 0px 0px 0px;
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap {
	padding: 3px 0px 0px 0px; /* added 3px padding to compensate for the background image */
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap_2 {
	padding: 4px 0px 3px 0px; /* added 3px padding to compensate for the background image */
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap_4 {
	padding: 13px 0px 10px 0px; /* added 3px top padding to compensate for the background image */
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap_5 {
	margin: 10px 0px 0px 0px; /* top margin is 9px here but 10px visually */
	padding: 2px 0px 0px 0px; /* added 3px top padding to compensate for the background image */
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap_7 {/* mostly used as the last double line wrap with page numbers */
	margin: 0px 0px 0px 0px;
	padding: 11px 0px 0px 0px;
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_double_line_wrap_10 { /* DON'T DELETE. This is exactly the same as bg_double_line_wrap_6 but it is used on other css files  */
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 1px 0px;
	width: 683px;
	background: url(/avery/static/images/gfx_1x3_doubleline_border.gif) repeat-x top left;
}
.bg_gray {
	background-color: #eae8e9;
}
.bg_pad_9_15_10_15 {
	margin: 2px 0px 10px 0px;
	padding: 8px 14px 14px 13px;
	background: #d4dee6;
}
	.bg_pad_9_15_10_15 a {
		font-size: 1.2em;
	}
.bg_roundedCorner_btm {
	margin: 0px 0px 10px 0px;
	width: 683px;
	height: 14px;
	background: url(/avery/static/images/bg_683x14_rndCorner_btm.gif) no-repeat bottom left;
}
.bg_roundedCorner_mid {
	margin: -6px 0px -1px 0px;
	padding: 0px 14px 0px 14px;
	width: 655px;
	line-height: 1.4em;
	background: url(/avery/static/images/bg_683x1_rndCorner_mid.gif) repeat-y top left;
}
	.bg_roundedCorner_mid a {
		font-size: 1.2em;
	}
.bg_roundedCorner_top {
	width: 683px;
	height: 14px;
	background: url(/avery/static/images/bg_683x14_rndCorner_top.gif) no-repeat top left;
}
.bg_w899_gray_rndCorner_btm {
	margin: 0px 0px 0px 0px;
	width: 899px;
	height: 14px;
	background: url(/avery/static/images/bg_899x14_rndCornerGray_btm.gif) no-repeat top left;
}
.bg_w899_gray_rndCorner_mid {
	margin: -6px 0px 0px 0px;
	padding: 0px 14px 0px 14px;
	width:871px; /* width is 899 if padding is added */
	background: #eae8e9;
}
.bg_w899_gray_rndCorner_top {
	width: 899px;
	height: 14px;
	background: url(/avery/static/images/bg_899x14_rndCornerGray_top.gif) no-repeat top left;
}	
.bg_w486_gray_rndCorner_btm {
	margin: 0px 0px 0px 0px;
	width: 486px;
	height: 14px;
	background: url(/avery/static/images/bg_486x14_rndCornerGray_btm.gif) no-repeat top left;
}
.bg_w486_gray_rndCorner_mid {
	margin: -6px 0px 0px 0px;
	padding: 0px 14px 0px 14px;
	width:458px; /* width is 486 if padding is added */
	background: #eae8e9;
}
.bg_w486_gray_rndCorner_top {
	width: 486px;
	height: 14px;
	background: url(/avery/static/images/bg_486x14_rndCornerGray_top.gif) no-repeat top left;
}
/* End Background Wraps */
.blue_12em {
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 7px 0px;
	color: #447cbd;
	font-size: 1.2em;
	line-height: 1.2em;
}
.blue_wrap {/* On ie.css the css property is different to main cross browser compatibility.*/
	float: left;
	width: 683px;
	color: #447cbd;
}
.borR_gray {
	border-right: solid 1px #D9DDE2;
}
.borR_gray_pad_0_14_0_0 {
	border-right: solid 1px #D9DDE2;
	padding: 0px 14px 0px 0px;
}
/* Table Cell */
.cell_bor_wrap {
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #B0C3D2;					
}
.cell_row {
	padding: 7px 10px 10px 10px;					
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #B0C3D2;
	line-height: 1.2em;					
}
.cell_row_alt {
	background-color: #D4DEE7;
}
/* End Table Cell */
/* Check box */
.chb_10em_b_wrap {/* On ie.css the css property is different to main cross browser compatibility.*/
	margin: 0px 0px -5px -4px; /* margin is for the input box default spacing */
	padding: 7px 0px 0px 0px;
	font-size: 1.0em;
	font-weight: bold;
}
.chb_10em_b_wrap_2 {
	margin: 2px 0px -3px -2px;
	padding: 5px 0px 0px 0px;
	font-size: 1.0em;
	font-weight: bold;
}
/* End Check box */
/* Content */
.content_1col_3col_inside_2ndcol_wrap {
	float: left;
	padding: 6px 14px 0px 14px;
	width: 149px;
}
.content_1col_3col_inside_3rdcol_wrap {
	float: left;
	padding: 6px 14px 0px 14px;
	width: 305px;
}
.content_1col_3col_inside_3rdcol_button_wrap {
	padding: 4px 0px 0px 0px;
}
.content_item_img {
	float: left;
	padding: 10px 14px 10px 14px;
	width: 100px;
	height: 100px;
}
.core_promo_spacer {
	float: left;
	width: 14px;
	height: 341px;
}
/* End Content */
.dhtml_rollover { /* drop down list */
    z-index:999;
	visibility: hidden;
	position: absolute;
	margin: -3px 0px 0px 0px;
	padding: 10px 10px 8px 10px;
	width: 230px;
	height: auto;
	font-size: 1.2em;
	line-height: 1.5em;
	border: solid 1px #D9DDE2;
	background: #fff;
}
.display_block {
	display: block;
	margin: 1px 0px 0px 0px;
}
.display_block_2 { /* this is a hack for ie */ 
	display: block;
	margin: 1px 0px 0px 0px;
}
/* float C*/
.floatC_pad_15_0_0_0_w195_wrap {
    text-align:center;
    padding: 15px 0px 0px 0px;
    width: 195px;
}
/* floatL */
.floatL_pad_0_0_0_0_w327_wrap {
	float: left;
	padding: 0px 0px 0px 0px;
	width: 327px;
}
.floatL_pad_0_0_0_0_w327_wrap_2 {
	float: left;
	margin: 0px 0px 0px 14px;
	padding: 0px 0px 0px 0px;
	width: 327px;
}
.floatL_pad_0_0_0_0_w705_wrap {
	float: left;
	margin: -3px 0px -1px 0px;
	padding: 0px 0px 0px 0px;
	width: 705px;
	font-size: 1.2em;
}
.floatL_pad_0_0_0_14_w150_wrap {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 14px;
	width: 150px;
	font-size: 1.0em;
}
.floatL_pad_0_0_0_15_w734_wrap {
    float: left;
	padding: 0px 0px 0px 15px;
	width: 734px;
}
.floatL_pad_0_0_0_23_w314_wrap {
	float: left;
	padding: 0px 0px 0px 18px;
	margin: 0 10px 0 10px;
	width: 312px; //Changed to fix the IE6 alignment issue
}
.floatL_pad_0_14_0_0_w327_wrap {
	float: left;
	padding: 0px 14px 0px 0px;
	width: 327px;
}
.floatL_pad_0_14_0_0_w720_wrap {
    float: left;
	margin: 0px 0px -1px 0px;
	padding: 0px 14px 0px 0px; 
	width: 720px;
	line-height: 1.2em;
}
.floatL_pad_0_14_0_14_w484_wrap {
	float: left;
	padding: 0px 14px 0px 14px;
	width: 484px;
}
.floatL_pad_0_14_0_14_w511_wrap {
	float: left;
	padding: 0px 14px 0px 14px;
	width: 511px;
}
.floatL_pad_0_23_0_0_w314_wrap,
.floatl_pad_0_23_0_0_w314_wrap {
	float: left;
	padding: 0px 23px 0px 0px;
	width: 314px;
}
.floatL_pad_3_14_0_0_w720_wrap {
    float: left;
	padding: 3px 14px 0px 0px; 
	width: 720px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.floatL_pad_3_14_0_0_w720_wrap_2 {
    float: left;
	padding: 0px 14px 0px 0px; 
	width: 720px;
}
.floatL_pad_3_14_4_0 {
	float: left;
	padding: 3px 14px 4px 0px;
}
.floatL_pad_5_0_0_0_wrap {
	float: left;
	margin: 0px 0px -1px 0px;
	padding: 5px 0px 0px 0px;
}
.floatL_pad_7_0_1_0_w86_wrap {
	float: left;
	padding: 7px 0px 1px 0px;
	width: 86px;
}
.floatL_pad_10_0_0_0_w214_10em_wrap {
    display: block;
    float: left;	
	padding: 10px 0px 0px 0px;	
	width: 214px;
	font-size: 1.0em;
}
.floatL_w160px_h341_wrap {
	float: left;
	width: 160px;
	height: 341px;
}
.floatL_w195_wrap {
	float: left;
	width: 195px;
}
.floatL_w222_wrap {
	float: left;
	width: 222px;
}	
.floatL_w391_h75_wrap {
	float: left;
	width: 391px;
	height: auto !important; /* read by firefox, ie7 */
	height: 75px; /* ie6 hack */
	min-height: 75px; /* ignored by ie6 */
}
.floatL_w391_h98_wrap {
	float: left;
	width: 391px;
	font-size: 1.0em;
	height: auto !important; /* read by firefox, ie7 */
	height: 98px;
	min-height: 98px; /* ignored by ie6 */
}
.floatL_w484_wrap {
	margin: -6px 0px 0px 0px;
	width: 484px;
}
.floatL_w666_wrap {
	float: left;
	width: 666px;
}
.floatL_w704_wrap {
	float: left;
	width: 704px;
}
/* End floatL */
/* floatR */
.floatR_b_12em {
	float: right;
	font-size: 1.2em;
	font-weight: bold;
}
.floatR_mar_37_14_14_0_w359_wrap {
	float: right;
	margin: 37px 14px 14px 0px; 
	width: 359px;
}
html* .floatR_pad_0_0_0_0_2 { /* This is a Safari Hack. Ignore the error from css validator */
	float: right;
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.floatR_pad_0_0_0_14_w180_wrap {
	float: right;
	padding: 0px 0px 0px 14px;
	width: 180px;
	text-align: right;
}
.floatR_pad_0_0_0_34_h18_wrap {
	float: right;
	padding: 0px 0px 0px 34px;
	height: 18px;
}
.floatR_pad_0_0_0_14_h18_wrap {
	float: right;
	padding: 0px 0px 0px 14px;
	height: 18px;
}
.floatR_pad_0_14_0_0_w150_wrap {
	float: right;
	padding: 0px 14px 0px 0px;
	width: 150px;
	font-weight: bold;
	text-align: right;
}
.floatR_pad_5_0_0_0_w100_wrap {
	float: right;
	padding: 5px 0px 0px 0px;
	width: 100px;
	text-align: center;
}
.floatR_pad_7_0_10_0_w555_wrap {
	float: right;								
	padding: 7px 0px 10px 0px;
	width: 555px;
}
.floatR_pad_13_0_0_0_w186_wrap {
	float: right;
	padding: 13px 0px 0px 0px;
	width: 184px; // Changed to fix the IE6 alignment issue
}
.floatR_w691_wrap {
	float: right;
	margin: -1px 0px 2px 13px;
	width: 691px;
}

.floatR_w490_wrap {
	float: right;
	margin: -1px 0 2px 13px;
	width: 490px;
}

/* End floatR */
.h36_wrap {
	margin: 0px 0px 8px 0px;
	height: 36px;
}
.h16_wrap {
	height:16px;
	margin:0 0 8px;
}
.img_vert_align_mid {
	padding: 0px 0px 0px 5px;
	vertical-align: middle;
}
/* Margin */
.mar_0_auto_0_auto_pad_0_15_0_15 {
	margin: 0px auto 0px auto;
	padding: 0px 10px 0px 10px;
}
.mar_10_0_10_0 {
	margin: 10px 0px 10px 0px;
}
.mar_hack {
	margin: 0px 0px 0px 0px;
}
.mar_hack_2 { /* don't delete. this is spacing hack for ie; values are different in ie.css */
	margin: 0px 0px 0px 0px;
}
.mar_hack_3 { /* don't delete. this is spacing hack for ie; values are different in ie.css */
	margin: 0px 0px -1px 0px;
}
.mar_hack_4 {
	margin: -3px 0px 1px 0px;
}
.mar_hack_5 { /* this is a hack for 19, 26 */
	margin: -3px 0px 0px 0px;
	line-height: 1.4em;
}
	.mar_hack_5 b {
		font-size: 1.05em; /* this is 14px on screen */
	}
.mar_hack_6 {
	margin: -1px 0px 0px 0px;
}
.mar_hack_7 {
	margin: 0px 0px 1px 0px;
}
.mar_hack_8 {
	margin: -4px 0px 0px 0px;
}
.mar_hack_9 {
	margin: -1px 0px 0px 0px;
}
.mar_hack_10 {
	margin: 0px 0px -8px 0px;
}
.mar_hack_11 { /* this is a hack for ie */
	margin: 0px 0px 0px 0px;
}
.mar_hack_12 {
	margin: 0px 0px -4px 0px;
}
.mar_hack_13 { /* this is a hack for ie */
	margin: 0px 0px 0px 0px;
}
.mar_hack_16 {
	margin: 0px 0px -3px 0px; /* this is a hack for ie */
}
.mar_hack_17 { /* this is a hack for ie */
	margin: -3px 0px 1px 0px;
}
.mar_hack_18 { /* this is a hack for ie */
	margin: 0px 0px 1px 0px;
}
.mar_hack_19 {
	margin: 0px 0px -6px 0px;
	padding: 0px 0px 0px 0px;
}
.mar_hack_20 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.mar_hack_21 {
	margin: 0px 0px -5px 0px;
}
.mar_hack_22 { /* don't delete. this is spacing hack for ie; values are different in ie.css */
	margin: -1px 0px 0px 0px;
}
.mar_hack_23 { /* this is a hack for ie */
	margin: 0px 0px 0px 0px;
}	
/* End Margin */
.normal_10em {
	font-size: 1.0em;
	font-weight: normal;
}
.normal_12em { 
	font-size: 1.2em;
	font-weight: normal;
}
.number_2 {
	float: left;
	padding: 0px 0px 0px 0px;
	width: 17px;
	font-size: 1.2em;
}
/* Padding */
.pad_0_0_0_0 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.pad_0_0_0_0_2 {
	margin: -1px 0px 1px 0px;
	padding: 0px 0px 0px 0px;
}
.pad_0_0_0_0_3	{
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 0px 0px;
}
.pad_0_0_0_0_12em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_0_0_0_0_12em_2 {
	margin: -3px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_0_0_0_0_12em_3 {
	margin: -2px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_0_0_0_0_b_10em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.0em;
	font-weight: bold;
}
.pad_0_0_0_0_b_12em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	font-weight: bold;
}
.pad_0_0_0_0_b_13em_U {
	margin: -6px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #447cbd;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}
.pad_0_0_0_0_mid_wrap {
	padding: 0px 0px 0px 0px;
	width: 899px;
}
.pad_0_0_0_0_w98_wrap {
	margin: auto auto auto auto;
	padding: 0px 0px 3px 0px;
	width: 98px;
	text-align: center;
}
.pad_0_0_0_0_w195_wrap {
	padding: 0px 0px 0px 0px;
	width: 195px;
	line-height: 1.5em;
}
.pad_0_0_0_0_w222_wrap {
	padding: 0px 0px 0px 0px;
	width: 222px;
	line-height: 1.5em;
}
.pad_0_0_0_0_w342_wrap {
	padding: 0px 0px 0px 0px;
	width: 342px;
}
.pad_0_0_0_0_w683_wrap {
	padding: 0px 0px 0px 0px;
	width: 683px
}
.pad_0_0_0_0_w683_borB_wrap {
	margin: 0px 0px 6px 0px;
	padding: 10px 0px 10px 0px;
	width: 683px;
	border-bottom: dotted 1px #363A40;
}
.pad_0_0_0_0_w899_wrap {
	padding: 0px 0px 0px 0px;
	width: 899px;
}
.pad_0_0_0_8_img {
	padding: 0px 0px 0px 8px;
	vertical-align: middle;
}
.pad_0_0_0_10 {
	padding: 0px 0px 0px 10px;
}
.pad_0_0_0_14 {
	padding: 0px 0px 0px 14px;
}
.pad_0_0_0_14_2 {
	margin: 1px 0px 0px 0px;
	padding: 0px 0px 0px 14px;
}
.pad_0_0_0_15_b_13em {
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 13px;
	font-size: 1.35em;
	font-weight: bold;
}
.pad_0_0_1_0 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 1px 0px;
	}
.pad_0_0_1_0_2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.pad_0_0_1_0_10em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 1px 0px;
	font-size: 1.0em;
	line-height: 1.1em;
}
.pad_0_0_2_0 {
	padding: 0px 0px 2px 0px;
}
.pad_0_0_5_0 {
	padding: 0px 0px 5px 0px;
}
.pad_0_0_5_0_2 { /* don't delete. this is exactly the same as .pad_0_0_5_0 but this is hack for ie6 & 7 */
	padding: 0px 0px 5px 0px;
}
	.pad_0_0_5_0_2 a {
		color: #7F7F7F;
	}
	.pad_0_0_5_0_2 img {
		padding: 0px 5px 0px 0px;
	}
.pad_0_0_5_0_3 {
    margin: -1px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}	
.pad_0_0_5_0_alignR {
	padding: 0px 0px 5px 0px;
	text-align: right;
}
.pad_0_0_5_0_alignR_2 { /* this is a hack for ie */
	padding: 0px 0px 5px 0px;
	text-align: right;
}
.pad_0_0_6_0 {
	padding: 0px 0px 6px 0px;
}
.pad_0_0_6_0_10em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 0px;
	font-size: 1.0em;
	line-height: 1.1em;
}
.pad_0_0_6_0_12em_2 { /* don't delete. this may be exactly the same as pad_0_0_6_0_12em but this is a hack for ie6 & 7 */
	margin: -2px 0px 0px 0px;
	padding: 0px 0px 6px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_0_0_6_0_12em_3 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 0px;
	font-size: 1.2em;
	line-height: 1.1em;
}
.pad_0_0_7_0 {
	padding: 0px 0px 8px 0px; /* bottom padding here is 7px but 10 visually */
	text-align: center;
}
.pad_0_0_7_0_2 {
	padding: 0px 0px 5px 0px;
}
.pad_0_0_7_0_w899_wrap {
	padding: 0px 0px 7px 0px;
	width: 899px;
}
.pad_0_0_8_0_w195_wrap {
	padding: 0px 0px 8px 0px;
	width: 195px;	
}
.pad_0_0_8_0_w222_wrap {
	padding: 0px 0px 8px 0px;
	width: 222px;	
}
.pad_0_0_9_0_w899_borB_wrap {
	padding: 0 0px 9px 0px; /* bottom is 9px here but 10px visually */
	width: 899px;
	border-bottom: solid 1px #D9DDE2;
}
.pad_0_0_9_0_w899_borB_software_wrap {
	padding: 0 0px 9px 0px; /* bottom is 9px here but 10px visually */
	width: 899px;
	/*border-bottom: solid 1px #D9DDE2;*/
}

.pad_0_0_9_0_w899_borB_software_wrap_leftmargin {
	margin-left:10px;
	padding: 0 0px 9px 0px; /* bottom is 9px here but 10px visually */
	width: 899px;
	/*border-bottom: solid 1px #D9DDE2;*/
}

.pad_0_3_0_2 {
	padding: 0px 3px 0px 2px;
}
.pad_0_4_0_4 {
	padding: 0px 4px 0px 4px;
}
/*Modified by Kalcy -- to add the worldwide link in the header - 04/28/08*/
.pad_0_9_0_99_h41_wrap {
	padding: 0px 9px 0px 32px;
	height: 41px;
}

.pad_0_14_0_0_borR {
	padding: 0px 14px 0px 0px;
	border: solid 1px #D9DDE2;
	border-width: 0px 1px 0px 0px;	
}
.pad_0_14_0_14_w899_mid_wrap {
	padding: 0px 14px 0px 14px;
	width: 899px;
}
.pad_0_14_14_14 {
	padding: 0px 14px 14px 14px;
}
.pad_0_15_0_15_1col_wrap {
	padding: 0px 15px 0px 15px;
	width: 927px;
}
.pad_0_15_0_15_1col_wrap_2 { /* this is a hack for the print page*/
	padding: 0px 15px 0px 15px;
	width: 927px;
}
.pad_0_15_0_15_1col_wrap_3 {
	margin: -1px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
	width: 927px;
}
.pad_0_29_0_29_w899_wrap {
	margin: 7px 0px 0px 0px; /* top is 7px here but 10px visually */
	padding: 0px 29px 0px 29px;
	width: 899px;
}
.pad_1_0_0_0 {
	padding: 1px 0px 0px 0px;
}
.pad_1_14_9_14 {
	padding: 1px 14px 9px 14px;
	display: block;	
}
.pad_2_2_2_2_w116_8em_bor_wrap  {
	padding: 2px 2px 2px 2px;
	width: 116px;
	border: solid 1px #999;
	color: #363A40;
	font-size: 0.8em; /* this is 12px on the screen */
	font-weight: bold;
}
.pad_3_0_0_0 {
	padding: 3px 0px 0px 0px;
}
.pad_3_0_0_0_12em {
	margin: 0px 0px -1px 0px;
	padding: 3px 0px 0px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_3_0_0_0_10em {
	padding: 3px 0px 0px 0px;
	line-height: 1.5em;
	font-size: 1.0em;
}
.pad_3_0_3_0_12em {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 5px 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.pad_3_0_5_0_12em {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 5px 0px;
	font-size: 1.2em;
	font-weight: normal;	
}
.pad_4_0_0_0 {
	padding: 4px 0px 0px 0px;
}
.pad_4_0_0_0_w683_wrap {
	padding: 4px 0px 0px 0px;
	width: 683px
}
.pad_4_0_0_0_w683_wrap_2 { /* this is a hack for ie6 & 7 */
	padding: 6px 0px 0px 0px;
	width: 683px
}
.pad_4_0_9_0_12em {
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 9px 0px;
    font-size: 1.2em;
	line-height: 1.2em;
}
.pad_5_0_0_0 {
	padding: 5px 0px 0px 0px;
}
.pad_5_0_0_0_12em {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 0px;
	font-size: 1.2em;
	line-height: 1.1em;
}
.pad_5_0_2_0 {
	padding: 5px 0px 2px 0px;
}
.pad_6_0_0_0 {
	padding: 6px 0px 0px 0px;
}
.pad_6_10_0_0 {
	padding: 6px 10px 0px 0px;
}
.pad_7_0_0_0_w711_wrap {
	padding: 7px 0px 0px 0px; /* top padding is 10px but need to use 7px instead */
	margin:0 0 0 0;
	width: 711px;
}
.pad_7_0_8_3 {
	padding: 7px 0 8px 3px;
}
.pad_7_0_10_0 {
	padding: 7px 0px 10px 0px;
}
.pad_7_0_10_0_w711_wrap {
	padding: 7px 0px 10px 0px; /* 7px top here but 10px visually*/
	width: 711px;
}
.pad_8_0_0_0_w683_wrap {
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	width: 683px;
}
.pad_9_0_0_0 {
	padding: 9px 0px 0px 0px;
}
.pad_9_0_0_0_wrap {
	padding: 9px 0px 0px 0px;
	text-align: center;
}
.pad_10_0_0_0 {
	padding: 10px 0px 0px 0px;
}
.pad_10_0_0_0_w899_wrap {
	padding: 10px 0px 0px 0px;
	width: 899px;
}

.pad_10_15_15_0_w705_wrap { 
	float: left;
	margin: 15px 0px 0px 0px;
	border-top: 1px solid #D9DDE2;
	padding: 10px 15px 15px 0px;
	width: 705px;
}
.pad_10_0_0_0_w486_wrap {
	padding: 10px 0px 0px 0px;
	width: 486px;
}
.pad_10_0_0_0_wrap_2 { /* dont delete. this is hack */
	padding: 10px 0px 0px 0px;
	text-align: center;
}
.pad_10_0_12_0_w486_wrap {
	padding: 10px 0px 12px 0px;
	width: 486px;
}
.pad_10_0_0_0_software_wrap_2 { /* dont delete. this is hack */
	padding: 10px 0px;
	text-align: left; 
}
.pad_10_0_0_14 {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 14px; /* top padding 9 here but 10px visually */
}
.pad_10_14_0_15_wrap {
	padding: 10px 14px 0px 15px;
	width: 927px;
}
.pad_11_0_0_0_w927_wrap {
 	padding: 11px 0px 0px 0px; /* 11px here but 10 on screen */
	width: 927px;
	height: auto !important; /* modern browsers */
	height: auto; /* ie */
	min-height: 500px; /* modern browsers */
}
.pad_14_0_0_0_w683_h50_wrap {
	padding: 14px 0px 0px 0px;
	width: 683px;
	height: 50px;
}
.pad_14_14_14_14 {
	padding: 14px 14px 14px 14px;
}
.pad_15_0_0_0 {
	padding: 15px 0px 0px 0px;
}
.pad_20_0_0_0_w683_wrap {
	padding: 20px 0px 0px 0px;
	width: 683px;
	height: 304px;
	text-align: center;
}
/* End Padding */
/* Page Number */
.page_number_wrap {
	float: right;
	margin: -1px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
}
	.page_number_wrap a {
		padding: 0px 1px 0px 1px;
		font-weight: bold;
	}
		.page_number_wrap a.selected {
			font-weight: bold;
			cursor: text;
		}
		.page_number_wrap a.selected:hover {
			text-decoration: none;
		}	
.page_out_of_wrap {
	padding: 0px 0px 0px 43px;
	font-weight: normal;
}		
/* End Page Number */
/* Promo */
.promo_content_1col_wrap {
	padding: 2px 11px 0px 13px;
	width: 687px;
}
.promo_content_2col_wrap {
	padding: 2px 19px 0px 21px;
	width: 671px;
}
.promo_content_3col_wrap {
	padding: 2px 11px 0px 13px;
	width: 687px;
}
.promo_item_1col_content_wrap {
	float: right;
	margin: -8px 0px -2px 0px; /*Changed to fix the text being cut off in ie6*/
	padding: 8px 14px 0px 0px;
	width: 253px;
}
.promo_item_1col_wrap {
	width: 687px;
	height: 132px;
}
.promo_item_2col_content_wrap {
	float: right;
	margin: -8px 0px -2px 0px; /*Changed to fix the text being cut off in ie6*/
	padding: 8px 10px 0px 0px;
	width: 126px;
}
.promo_item_col_spacer {
	float: left;
	width: 10px;
	height: 18px;
}
.promo_item_2col_wrap {
	float: left;
	width: 333px;
}
.promo_item_3col_content_wrap {
	float: right;
	margin: -8px 0px -2px 0px;  /*Changed to fix the text being cut off in ie6*/ 
	padding: 8px 10px 0px 0px;
	width: 93px;
}
.promo_item_3col_spacer {
	float: left;
	width: 10px;
	height: 10px;
}
.promo_item_3col_wrap {
	float: left;
	width: 220px;
}
.promo_mar_0_0_9_0_wrap {
	margin: 0px 0px 9px 0px;
	width: 711px;
	background: #d4dee6;
}
.promo_mar_3_0_0_0_wrap {
	margin: 3px 0px 0px 0px;
	width: 711px;
	background: #d4dee6;
}
.promo_mar_10_0_0_0_wrap {
	margin: 10px 0px 0px 0px; /* top margin 10px visually */
	width: 711px;
	background: #d4dee6;
}
.promo_mar_10_0_10_0_wrap {
	margin: 10px 0px 10px 0px; /* top and bottom margin 10px visually */
	width: 711px;
	background: #d4dee6;
}
.promo_mar_11_0_0_0_wrap {
	margin: 11px 0px 0px 0px; /* top margin 10px visually */
	width: 711px;
	background: #d4dee6;
}
.promo_w683_mid_wrap_2 {
	padding: 0px 14px 0px 14px;
	width: 683px;
}
.promo_w683_mid_wrap_3 { /* this is the same as promo_w683_mid_wrap_2 but this is a hack for ie6 & 7   */
	padding: 0px 14px 0px 14px;
	width: 683px;
}
.promo_w697_mid_wrap {
	margin-bottom: 15px;
    margin-top: 2px;
    padding: 0px 1px 0px 0px;
    width: 697px;    
}
/*new tag for center Home Landing hero Image*/
.promo_w698_mid_wrap {
    padding: 0px;
    width: 697px;       
}
.promo_w698_mid_wrap_nopadding {
    padding: 0px;
    width: 697px;    
}
.quickLinks_rollover_list_home {
	top: 0;
	position: relative;
	z-index: 5;
	margin: -5px 0px 10px 2px;
	padding: 0px 0px 0px 0px;
	width: 193px; 
	_width:173px;
	line-height:18px;
	border: solid 1px #bfc2c6;
	background: #d4dee7;
}
	.quickLinks_rollover_list_home a {
		display: block;
		padding: 0px 10px 1px 10px;
		width: auto;
		font-size: 1.0em;
		font-weight: bold;
		text-decoration: none;
		text-indent: 3px;
		border-bottom: solid 1px #fff;
	}
	  .quickLinks_rollover_list_home a.last_link {
		display: block;
		padding: 0px 10px 1px 10px;
		width: auto;
		color: #447CBD;
		font-size: 1.0em;
		font-weight: bold;
		text-decoration: none;
		text-indent: 3px;
		border: 0;
	}
		.quickLinks_rollover_list_home a:hover {
			text-decoration: underline;
		}
		* html .quickLinks_rollover_list_home a { /*IE only hack*/
			width: 100%;
		}
/* End Promo */
/* Rating */
.rating_wrap {
	padding: 0px 0px 5px 0px;
	font-size: 1.0em;
	font-weight: bold;
}
	.rating_wrap img {
		padding: 0px 0px 0px 0px;
	}
.rating_wrap_2 {
	margin: 0px 0px -1px 0px;
	padding: 6px 0px 6px 0px;
	font-weight: bold;
	text-align: center;
}
/* End Rating */
.subtitle_10em {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 3px 0px;
    font-size: 1.0em;
    font-weight: normal;
}
.subtitle_b_10em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.0em;
	font-weight: bold;
}
.subtitle_12em {
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 3px 0px;
    font-size: 1.2em;
    font-weight: normal;
}
.subtitle_b_13em {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #363A40;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_2 {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 0px;
	color: #363A40;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_3 {
    margin: 0px 0px 0px 0px;
	padding: 5px 0px 4px 0px;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_4 {
	display: block;
	margin: -2px 0px 0px 0px;
	padding: 0px 0px 4px 0px;
	color: #363A40;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_5 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_6 {
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_7 {
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 3px 0px;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_b_13em_8 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.3em;
	line-height: 1.1em;
	font-weight: bold;
}
.subtitle_blue_b_13em {
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #2751c1;
	font-size: 1.3em;
	font-weight: bold;
}
.subtitle_white_b_13em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
}
.title_b_12em {
	margin: 0px 0px 0px 0px;
	padding: 0px 15px 10px 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	line-height: 1.2em;
}
.title_12em_2 {
	margin: -1px 0px 0px 0px;
	padding: 7px 0px 0px 0px;
	font-size: 1.2em;
}
.title_13em {
	padding: 3px 0px 0px 0px;
	font-size: 1.3em;
}
.title_b_13em_borB {
	display: block;
	margin: 4px 0px 0px 14px;
	padding: 0px 0px 1px 0px;
	width: 328px;
	color: #C70909;
	font-size: 1.3em;
	font-weight: bold;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #D9DDE2;
}
.title_b_13em_borB_2 {
	display: block;
	margin: 4px 0px 0px 14px;
	padding: 0px 0px 1px 0px;
	width: 326px;
	color: #C70909;
	font-size: 1.3em;
	font-weight: bold;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #D9DDE2;
}
.title_b_18em {
	margin: -7px 0px -2px 0px;
	padding: 0px 0px 0px 0px;
	color: #363A40;
	font-size: 1.8em;
	font-weight: bold;
}
.title_b_18em_4 {
	display: block;
	margin: 0px 0px -3px 0px;
	padding: 0px 0px 8px 0px;
	color: #363A40;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.1em;
}
.title_red_b_10em {
	margin: -1px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #c70909;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1em;
}
.title_red_b_10em_2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 7px 0px;
	color: #c70909;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1em;
}
.title_red_b_12em {
	margin: -3px 0px 1px 0px;
	color: #C70909;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
}
.title_white_b_10em {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	color: #fff;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1em;
}
.title_white_b_18em {
	margin: -7px 0px -2px 0px;
	padding: 0px 0px 0px 0px;
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;
}
.w402_wrap {
	width: 402px;
}
.w683_mid_wrap {
	width: 683px;
}
.w899_wrap_2 { /* don't delete. this is a hack. */
	width: 899px;
}













/* CYRIL 02.14.08 */

.bg_w711_wrap {
	width: 711px;
	background: url(/avery/static/images/bg_711x1_blueGrad_mid.jpg) repeat-y top left;
}
.bg_w711_h25_wrap {
	width: 711px;
	height: 21px;
	background: url(/avery/static/images/bg_711x25_blueGrad_btm.jpg) no-repeat bottom left;
}
.bg_pad_0_14_0_14_w683_stretch_wrap {
	padding: 0px 14px 0px 14px;
	width: 683px;
	background: url(/avery/static/images/bg_711x178_blueGrad_stretch.jpg) no-repeat top left;
}
.bg_pad_14_14_0_14_w683_h60_wrap {
	padding: 14px 14px 0px 14px;
	width: 683px;
	height: 60px;
	background: url(/avery/static/images/bg_711x74_blueGrad_top.jpg) no-repeat top left;
}
.core_promos_spacer {
	float: left;
	width: 14px;
	height: 14px;
}
.floatL_w160px_wrap {
	float: left;
	width: 160px;
}
.mar_hack_24 {
	margin: 5px 0px 0px 0px;
}
.pad_0_10_10_10 {
	padding: 0px 10px 10px 10px;
}
.pad_0_10_0_10 {
	padding: 0px 10px 0px 10px;
}
.pad_5_0_4_0_10em {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 4px 0px;
	font-size: 1.0em;
	line-height: 1.1em;
}
.promo_item_1col_img_wrap {
	float: left;
	padding: 0px 0px 0px 10px;
	width: 396px;
}
.bg_promo_1col_top {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_1col_top.jpg) no-repeat top left;
}
.bg_promo_1col_btm {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_1col_btm.jpg) no-repeat top left;
}
.bg_promo_1col_mid {
	padding: 0px 14px 0px 14px;
	width: 683px;
	background:url(/avery/static/images/bg_711x1_promo_1col_mid.jpg) repeat-y top left;
}
.promo_item_2col_img_wrap {
	float: left;
	padding: 0px 0px 0px 10px;
	width:177px;
}
.bg_promo_2col_top {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_2col_top.jpg) no-repeat top left;
}
.bg_promo_2col_btm {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_2col_btm.jpg) no-repeat top left;
}
.bg_promo_2col_mid {
	padding: 0px 14px 0px 14px;
	width: 683px;
	background:url(/avery/static/images/bg_711x1_promo_2col_mid.jpg) repeat-y top left;
}
.promo_item_3col_img_wrap {
	float: left;
	padding: 0px 0px 0px 10px;
	width:100px;
}
.bg_promo_3col_top {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_3col_top.jpg) no-repeat top left;
}
.bg_promo_3col_btm {
	width:711px;
	height: 17px;
	background: url(/avery/static/images/bg_711x17_promo_3col_btm.jpg) no-repeat top left;
}
.bg_promo_3col_mid {
	padding: 0px 14px 0px 14px;
	width: 683px;
	background:url(/avery/static/images/bg_711x1_promo_3col_mid.jpg) repeat-y top left;
}
.w711_wrap {
	width: 711px;
}

/* CYRIL 02.29.08 */
.floatL_pad_0_14_0_0_w720_wrap {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 14px 0px 0px;
	width: 720px;
	line-height: 1.2em;
}
.floatL_pad_3_14_0_0 {
	float: left;
	padding: 3px 14px 0px 0px;
}

/* add by hema for rollover image */
.content_item_compare {
	padding: 0px 0px 0px 14px;
	width: 100px;
}
.content_item_img_compare {
	float: left;
	width: 100px;	
	height:140px;
} 


.rolloverimage					{ position:relative; z-index:0; color:#FFF; text-decoration:none !important; }
.rolloverimage:hover			{ background:transparent; z-index:500; }
.rolloverimage #popwin			{ background:url(http://s7d3.scene7.com/is/image/AveryDennison/proddetail_popup_bg?fmt=gif-alpha) no-repeat left top;
				 		  position:absolute; padding:11px; visibility:hidden; width:293px; height:320px; text-align:center; cursor:hand; }			  
.rolloverimage #popwin span		{ padding:5px 22px 0 12px; text-align:left; font-size:11px; font-weight:bold; line-height:14px; display:block; }
#popwin #pop_prodimg	{ width:260px; height:260px; margin:0 0 0 11px; *margin-left:-8px; padding:0; display:block; }
.rolloverimage:hover #popwin	{ visibility:visible; left:100px;
						  top:-164px; /* position the popup img */
						  *top:-50px; /* position the popup img IE */ }
/* roll over image hack for opera */
@media all and (min-width:0px){

.rolloverimage:hover #popwin {
position:relative; 
left:100px; 
top:-102px; 
visibility:visible;
display:block; 
}
}
