/* --------------------------------------------------------
	FOOTER GENERAL STYLE
   -------------------------------------------------------- */

	footer.row {
		background: #444443;
		
	}
	
	footer ul.footer {
		border-right: solid 1px #505053;
		margin-top: 20px;
		margin-bottom: 20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
	
	footer ul.footer li {
		/*font: 11px/14px Arial, Tahoma, Helvetica, sans-serif;*/
		font: 11px/14px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		margin: 10px 0;
	}
	
	footer ul.footer li a {
		color: #888;
	}
	
	footer ul.footer li.heading {
		/*font: bold 11px/18px Arial, Tahoma, Helvetica, sans-serif;*/
		font: bold 11px/18px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		margin: 5px 0;
		text-transform: uppercase;
		color: #CCC;
	}


/* --------------------------------------------------------
	SEARCH
   -------------------------------------------------------- */


	footer .search {
		margin: 25px 0 20px 0;
		clear: both;
	}
	
	footer .search p {
		/*font: bold 11px/18px Arial, Tahoma, Helvetica, sans-serif;*/
		font: bold 11px/18px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		margin-bottom: 8px;
		text-transform: uppercase;
		color: #CCC;
	}
	
	footer .search input[type=text] {
		width: 88%;		
	}
	
	footer .subscribe input[type=text] {
		width: 100%;
		border-radius: 3px;	
	}
	
	@media all and (max-width: 1024px) {
		footer .search input[type=text] {
			width: 80%;		
		}
		
		footer .subscribe input[type=text] {
			width: 90%;
			border-radius: 3px;	
		}
	}
	
	
/* --------------------------------------------------------
	SUBSCRIBE
   -------------------------------------------------------- */

	footer .subscribe {
		margin-bottom: 20px;
	}
	
	footer .subscribe p {
		/*font: bold 11px/18px Arial, Tahoma, Helvetica, sans-serif;*/
		font: bold 11px/18px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		margin-top: 10px;
		text-transform: uppercase;
		color: #CCC;
		
		/* Added by Razan 20130430 */
		margin-bottom: 0;
	}
	
	.social-media p {
		/*font: bold 11px/18px Arial, Tahoma, Helvetica, sans-serif;*/
		font: bold 11px/18px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		margin: 10px 0 5px 0;
		text-transform: uppercase;
		color: #CCC;
	}
	
	/* Added by Razan 20130502 */
	.warningMessage span {
    /*font: bold 11px Arial, Helvetica, Tahoma, sans-serif;*/
	font: `bold 11px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
    color: #ddd;
    background: #b00;
    padding: 3px 5px;
    margin-top: 5px;
    border-radius: 3px;
        -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
    }
    .successMessage span {
    /*font: bold 11px Arial, Helvetica, Tahoma, sans-serif;*/
	font: bold 11px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
    color: #ddd;
    background: #000;
    padding: 3px 5px;
    margin-top: 5px;
    border-radius: 3px;
        -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
    }
    /* - 20130502 */

/* --------------------------------------------------------
	SOCIAL MEDIA (ALSO USED IN WP TOP STORY)
   -------------------------------------------------------- */
   
	.social-media {
		margin: 10px 0 20px 0;
	}
	
	.social-media a {
		margin-right: 3px;
		display: inline-block;
		width: 24px;
		height: 24px;
	}
	
	.social-media a.facebook {
		background: url(/Themes/TSOL/img/facebook_bw.png) no-repeat;
	}
	
	.social-media a.facebook:hover {
		background: url(/Themes/TSOL/img/facebook_color.png) no-repeat;
	}
	
	.social-media a.twitter {
		background: url(/Themes/TSOL/img/twitter_bw.png) no-repeat;
	}
	
	.social-media a.twitter:hover {
		background: url(/Themes/TSOL/img/twitter_color.png) no-repeat;
	}
	
	.social-media a.gplus {
		background: url(/Themes/TSOL/img/gplus_bw.png) no-repeat;
	}
	
	.social-media a.gplus:hover {
		background: url(/Themes/TSOL/img/gplus_color.png) no-repeat;
	}
	
	.social-media a.sharethis {
		background: url(/Themes/TSOL/img/share_bw.png) no-repeat;
	}
	
	.social-media a.sharethis:hover {
		background: url(/Themes/TSOL/img/share_color.png) no-repeat;
	}
	
	.social-media a.rss {
		background: url(/Themes/TSOL/img/rss_bw.png) no-repeat;
	}	
	
	.social-media a.rss:hover {
		background: url(/Themes/TSOL/img/rss_color.png) no-repeat;
	}
	
	.social-media a.email {
		background: url(/Themes/TSOL/img/email_bw.png) no-repeat;
	}
	
	.social-media a.email:hover {
		background: url(/Themes/TSOL/img/email_color.png) no-repeat;
	}
	
	.row.copyright {
		background: #282828;
	}
	
/* --------------------------------------------------------
	COPYRIGHT
   -------------------------------------------------------- */
   
	.copyright p {
		text-align: center;
		/*font: bold 11px/30px Arial, Tahoma, Helvetica, sans-serif;*/
		font: 11px/30px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		color: #AAA;
		line-height:16px; 
		margin:10px auto;
	}
	
/* --------------------------------------------------------
	PARTNER LOGOS
   -------------------------------------------------------- */

	.partner {
		overflow: hidden;
		margin-bottom: 20px;
	}
	
	.partner p {
		/*font: bold 10px/16px Arial, Tahoma, Helvetica, sans-serif;*/
		font: bold 10px/16px 'Roboto', Arial, Tahoma, Helvetica, sans-serif;
		color: #666;
		margin-bottom: 10px;
	}
	
	.partner li {
		float: left;
		margin-right: 20px;
	}
	
	.partner .ntt a {
		background: url(/Themes/TSOL/img/ntt_bw.png) no-repeat bottom center;
		display: block;
		width: 130px;
		height: 45px;
	}
	
	.partner .ntt a:hover {
		background: url(/Themes/TSOL/img/ntt_color.png) no-repeat bottom center;
	}
	
	.partner .ann a {
		background: url(/Themes/TSOL/img/ann_bw.png) no-repeat bottom left;
		display: block;
		width: 95px;
		height: 45px;
	}
	
	.partner .ann a:hover {
		background: url(/Themes/TSOL/img/ann_color.png) no-repeat bottom left;
	}
	
	.partner .loanstreet a {
		background: url(/Themes/TSOL/img/loanStreet_bw.png) no-repeat bottom left;
		display: block;
		width: 170px;
		height: 39px;
		margin-top:28px;
	}
	
	.partner .loanstreet a:hover {
		background: url(/Themes/TSOL/img/loanStreet_color.png) no-repeat bottom left;
	}
    
    .partner .leaderonomics a {
	    background:url(http://clips.thestar.com.my/Themes/TSOL/img/leaderonomics_bw.png) no-repeat bottom left;
	    display: block;
	    width: 130px;
	    height:27px;
	    margin-top: 43px;
    }
	
    .partner .leaderonomics a:hover {
	    background:url(http://clips.thestar.com.my/Themes/TSOL/img/leaderonomics_color.png) no-repeat bottom left;
    }
	
	.partner .red a {
		background: url(/Themes/TSOL/img/redfm_bw.png) no-repeat bottom center;
		display: block;
		width: 100px;
		height: 45px;
	}
	
	.partner .red a:hover {
		background: url(/Themes/TSOL/img/redfm_color.png) no-repeat bottom center;
	}
	
	.partner .suria a {
		background: url(/Themes/TSOL/img/suria_bw.png) no-repeat bottom center;
		display: block;
	    width: 110px;
	    height:60px;
	}
	
	.partner .suria a:hover {
		background: url(/Themes/TSOL/img/suria_color.png) no-repeat bottom center;
	}
	
	.partner .nine88 a {
		background: url(/Themes/TSOL/img/988_bw.png) no-repeat bottom center;
		display: block;
		width: 70px;
		height: 60px;
	}
	
	.partner .nine88 a:hover {
		background: url(/Themes/TSOL/img/988_color.png) no-repeat bottom center;
	}
	
	.partner .capital a {
		background: url(/Themes/TSOL/img/capital_bw.png) no-repeat bottom center;
		display: block;
		width: 118px;
	    height: 52px;
	}
	
	.partner .capital a:hover,
	.partner .capital a:active {
		background: url(/Themes/TSOL/img/capital_color.png) no-repeat bottom center;
	}