/*
.container.header {
    margin-top: 31px;
}
*/

/* --------------------------------------------------------
	MASTHEAD
   -------------------------------------------------------- */

#logo {
	background: #FFF;
	overflow: hidden;
}

#logo .wp {
	text-align: center;
	margin: 12px 0;
}


/*
#logo.wp {
	text-align: center;
}


a#logo-inner {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a#logo-inner img {
	display: block;
	margin: 0 auto;
}


#logo img {
	margin: 24px 0;	
} */

#logo.wp .logo-inner img { margin: 12px 0; }
#logo .logo-inner img { margin: 27px 0; } 
