nav {
	overflow: hidden;
}


#navi-tier01 {
	background: #000;
	overflow: hidden;
}

.hover {
    display:block !important; 
    background: #8c0000 !important;
}

ul.tier01 {
	background: #000;
	width: 100%;
}

ul.tier01 li {
	float: left;
}

ul.tier01 li:hover {
    background: #8c0000;    
}

ul.tier01 li a {
    padding: 3px 11px;
    color: #e6e6e6;
    font: bold 13px/31px Arial, Helvetica, Tahoma, sans-serif;
    display: block;
    /*border-bottom: 3px solid #000;*/
    text-transform: uppercase;
    margin: 0 18px;
    text-decoration: none;
}

/*
ul.tier01 li a:hover {
border-bottom: 3px solid #e6e6e6;
text-decoration: none;
}
*/

ul.tier01 li a img {
	margin: 0px;
}
ul.tier01 li.selected 
{
    background:#B00;  
    color: #FFF;
    text-decoration: none;
}
/*
ul.tier01 li.selected a {
    border-bottom: 3px solid #B00;
}
*/
ul.tier01 li.selected:hover 
{
    color: #FFF;
    text-decoration: none;
}

.dropdown {
	overflow: hidden;
}

#navi-tier02 {
	background: #B00;
	overflow: hidden;
}

ul.tier02 {
	background: #B00;
	display: none;
	width: 100%;
	overflow: hidden;
}

ul.tier02.selected {
	display: block;
}

ul.tier02.selected a {
	border-bottom: 3px solid #B00;
}

ul.tier02 li {
	float: left;
}

ul.tier02 li a {
padding: 2px 12px 0 12px;
margin: 0 12px;
color: #e1e1e1;
border-top: none;
font: 12px/24px Arial, Helvetica, Tahoma, sans-serif;
display: block;
border-bottom: 3px solid #8c0000;
text-transform: none;
text-decoration: none;
}

ul.tier02 li.hover a {
	border-bottom: 3px solid #8c0000;
}

ul.tier02 li a:hover {
	border-bottom: 3px solid #FFF;
}

ul.tier02 li.selected a {
	border-bottom: 3px solid #FFF;
}

/* Comment out because do not want to show the second tier navi for home
ul.tier02.home {
	display: block;
}
*/

div a.home {
	background: url(../img/home.png) no-repeat;
	width: 14px;
	height: 31px;
}

/*
div a.home:hover {
	border-bottom: 3px solid #FFF;
	text-decoration: none;
}
ul.tier02.home.selected {
    background: #B00;
}

ul.tier02.more {
	display: block;
}

div a.more:hover {
	border-bottom: 3px solid #FFF;
	text-decoration: none;
}
ul.tier02.more.selected {
    background: #B00;
}
*/
/* --------------------------------------------------------
	LOCAL NAV
   -------------------------------------------------------- */
   
   
	#local-navi {
        border-top: solid 1px #666;
        border-bottom: solid 30px #FFF;
        background: #888;
        overflow: hidden;
    }

	#local-navi ul {
		overflow: hidden;
	}
	
	#local-navi ul li {
		float: left; 
		margin-right: 10px;
	}
	
	#local-navi ul li a {
		padding: 7px 20px;
		display: block;
		font: 14px/20px Arial, Helvetica, sans-serif;
		text-decoration: none; 
		color: #FFF;
	}
	
	#local-navi ul li a:hover {
		background: #FFF;
		color: #B00;
	}
	
/* --------------------------------------------------------------------------------------
	LIFESTYLE LOCAL NAVI HOME ICONS
   -------------------------------------------------------------------------------------- */	
	
	
	#local-navi ul li.health-home a {
		background: url(../img/icon-health.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.health-home-selected a, #local-navi ul li.health-home a:hover  {
		background: url(../img/icon-health-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.food-home a {
		background: url(../img/icon-food.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.food-home-selected a, #local-navi ul li.food-home a:hover {
		background: url(../img/icon-food-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.women-home a {
		background: url(../img/icon-women.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.women-home-selected a, #local-navi ul li.women-home a:hover {
		background: url(../img/icon-women-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.family-home a {
		background: url(../img/icon-family.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.family-home-selected a, #local-navi ul li.family-home a:hover {
		background: url(../img/icon-family-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.books-home a {
		background: url(../img/icon-books.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.books-home-selected a, #local-navi ul li.books-home a:hover {
		background: url(../img/icon-books-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.entertainment-home a {
		background: url(../img/icon-entertainment.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.entertainment-home-selected a, #local-navi ul li.entertainment-home a:hover {
		background: url(../img/icon-entertainment-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.marketWatch-home a {
		background: url(../img/icon-mwatch.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.marketWatch-home-selected a, #local-navi ul li.marketWatch-home a:hover {
		background: url(../img/icon-mwatch-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.marketEvents-home a {
		background: url(../img/icon-mevent.png) no-repeat center center;
		height: 20px;
		padding: 7px 40px;
	}
	
	#local-navi ul li.marketEvents-home-selected a, #local-navi ul li.marketEvents-home a:hover {
		background: url(../img/icon-mevent-hover.png) no-repeat center center #FFF;
		height: 20px;
		padding: 7px 40px;
	}
	
	

	
/*  TSOL Navi Hover
    Functions with TSOLHeader component and its corresponding JS in Main.js.
--------------------------------------------------------------------------------

ul.tier01 > li.mouse-hover { background: #8c0000; }
ul.tier02.mouse-hover { display: block; background: #8c0000; }
ul.tier02.home.hide { display: none; }
ul.tier02.home.mouse-hover.hide { display: block; }

#navi-tier02.mouse-hover { background: #8c0000; }
ul.tier01 li.mouse-hover a { border-bottom: 3px solid #8c0000; }
ul.tier01 li.mouse-hover a:hover { border-bottom: 3px solid #8c0000; }

ul.tier02.mouse-hover li a { border-bottom: 3px solid #8c0000; }
ul.tier02.mouse-hover li a:hover { border-bottom: 3px solid #fff; color: #fff; }

--------------------------------------------------------------------------------
 */