
/* --------------------------------------------------------
	MOBILE NAVI
   --------------------------------------------------------*/	
	.mobilenavibutton {
		display:inline-block;
		background:#0080cc;
		border-radius:2px;
		font-size:13px;
		}
	.mobilenavibutton2 {
		display:inline-block;
		background:#0080cc;
		border-radius:2px;
		font-size:13px;
		padding: 8px 12px;
		color:#fff;
		font-family:'Roboto', Arial, Helvetiva, Tahoma, sans-serif;
		border:none;		
		}
	.mobilenavibutton a {
		color:#fff;
		text-decoration:none;
		display:block;
		padding: 8px 12px;
		text-align:center;
		}
	.usrname{
		font-size: 0.938em;
		line-height: 1.400em;
		color: #333;
		padding-bottom:10px
		font-family:'Roboto', Arial, Helvetiva, Tahoma, sans-serif;
		font-weight:bold;
	}