/* #404
   ========================================================================== */
.error404 h1{
    text-align: center;
    color: #f26322;
}
.error404 img{
    display: block;
    margin: 0 auto;
}
.error404 .site-content{
    padding-bottom: 120px;
    padding-top: 120px;
}

/* #About Shatel
   ========================================================================== */
.vc_parallax-inner{
    height: 680px !important;
}
.no-sidebar{
    padding-top: 0;
    overflow-x: hidden;
}
.center-section{
    margin-left: auto;
    margin-right: auto;
    max-width: 83.0769em;    
}
.center-section p{
	line-height: 2.5em;
}
h3.vc_custom_heading{
    color: #444444;
    font-family: IRANSansWeb_Bold !important;
    font-size: 18px;
    font-weight: bold !important;    
}
.image-manager-text h4{
    margin-top: 0;
    margin-bottom: -25px;
    font-family: IRANSansWeb_Bold !important;
    font-size: 16px;
    font-weight: bold !important;
    color: #444444;    
}
.image-manager-text p{
    color: #999999;
}
.image-manager-text{
    margin-top: -15px;
}
.workspace-img img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;    
}
.workspace-img img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;      
}
.workspace-img .vc_column-inner{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.page-about .ppt,.page-about .pp_gallery,.page-about .pp_hoverContainer{
    display: none !important;
}
.pp_hoverContainer,.pp_details{
	font-size: 0;
}
.pp_details{
	padding-left: 10px;
}
.pp_play,.currentTextHolder,.pp_description{
	display: none !important;
}
div.pp_default a.pp_arrow_next{
	left: 2px !important; 
}
a.pp_close {
    right: 18px !important;
    top: 2px !important;
}
.pp_top,.pp_bottom{
	display: none;
}
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_content_container .pp_left{
	background: none !important;
}
.border-50 .vc_btn3.vc_btn3-color-green.vc_btn3-style-flat{
	background-color: #56c45f !important;
	border-radius: 50px;
	font-family: IRANSansWeb_Bold;
}
.border-50 .vc_btn3.vc_btn3-color-green.vc_btn3-style-flat:hover{
	background-color: #3cab45 !important;
}
.wpb_wrapper h5{
    font-family: IRANSansWeb_Bold !important;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 0;
    color: #444444;
}
.section-grayBorder p{
    color: #b1b1b1;
    font-size: 12px;
    margin-top: 0;
}
.section-grayBorder h5{
	margin-top: 35px;
}
.section-grayBorder .wpb_single_image{
	margin-bottom: 0;
}
.section-grayBorder{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.section-grayBorder .vc_col-sm-4{
	margin-left: 40px;
}
.section-grayBorder .vc_col-sm-2{
	margin-left: -40px;
}
.responsive-manager .vc_col-sm-4{
            float: right;
}
@media (max-width: 767px) {
		.section-grayBorder .vc_col-sm-4{
			margin-left: 0;
		}
		.section-grayBorder .vc_col-sm-2{
			margin-left: 0;
		}
		.section-grayBorder .center-section .vc_sep_line{
			display: none;
		} 
		.section-grayBorder p,.section-grayBorder h5{
			text-align: center;
		}
        .responsive-hide{
            display: none;
        }
	}