@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../fonts/RobotoCondensed-Bold.eot');
  src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url('../fonts/RobotoCondensed-Bold.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'BeaufortforLOL';
  src: url('../fonts/BeaufortforLOL-Regular.eot');
  src: url('../fonts/BeaufortforLOL-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BeaufortforLOL-Regular.woff') format('woff'), url('../fonts/BeaufortforLOL-Regular.ttf') format('truetype'), url('../fonts/BeaufortforLOL-Regular.svg#glyphicons-halflingsregular') format('svg');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	font-family: sans-serif;
	font-size: 12.53px;
	outline-style:none;
	/*background: url(../images/bg.png) no-repeat center center fixed; */
	background: url(../images/main_bg.png) repeat center center transparent;
  	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

blockquote, q {
	quotes: none;
}
a{
	outline: none!important;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}
a:hover{
	text-decoration: none;
	text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
	clear: both;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.abs{
	position: absolute;
}
.flashLeft{
	border-left:1px solid #00302a;
}
.block{
	display: block;
}
.none{
	display:none;
}
*:not(div.modal-backdrop){
	transition: all 0.25s ease-in-out;
}
.center{text-align: center;}
.fulw{width: 100%;}
.pdt15{padding-top:15px;}
.pdr75{padding-right: 7.5px}
.pdl75{padding-left: 7.5px}
.mt15{margin-top: 15px;}
/*===============================================================================================================*/
.header .topHeader{
	background: url(../images/top_bg.png) repeat center center transparent;
	border: 1px solid #000000;
}
.header .logo{
	border-left: 1px solid #37383c;
	border-top: 1px solid #37383c;
}
.header .logo a{
	display: inline-block;
	padding: 24px 0 16px 19px;
}
.header .qc{
	/*border-right: 1px solid #37383c;
	border-top: 1px solid #37383c;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.header .qc > div{
	width: 728px;
	display: inline-block;
}
.hrTop{
	border-left: 1px solid #000000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.hrTop hr{
	margin: 0;
	border-left: 1px solid #4c4e50;
	border-right: 1px solid #4c4e50;
	border-top: 1px solid #383a3c;
	border-bottom: 1px solid #333537;
}
.menuMain{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	overflow: hidden;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
}
.news{
	border-left: 1px solid #000000;
	/*border-right: 1px solid #000000;*/
	border-bottom: 3px solid #f3ec53;
	/*background: #000000;*/
	margin-bottom: 5px;
	margin-top: 1px;
}
.mainMenu{
	list-style: none;
	display: block;
	background: url(../images/mn.png) repeat-x center center transparent;
	overflow: hidden;
	border: 1px solid #393d40;
}
.mainMenu > li > a{
	font-family: RobotoCondensed-Bold;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	padding: 18px 20px;
	display: block;
}
.mainMenu > li:first-child a{
	padding-left: 27px;
}
.mainMenu > li:last-child{
	border-right: none;
}
.mainMenu > li{
	float: left;
}
.mainMenu > li.current-menu-item{
	background: url(../images/mn_h.png) repeat-x center center transparent;
	border-left: 1px solid #fcf15e;
	border-right: 1px solid #fcf15e;
}
.mainMenu > li:hover{
	background: url(../images/mn_h.png) repeat-x center center transparent;
	border-left: 1px solid #fcf15e;
	border-right: 1px solid #fcf15e;
}
.mainMenu > li{
	border-right: 1px solid #393d40;
	border-left: 1px solid #030304;
}
.hdNews{
	line-height: 36px;
	border-left: 1px solid #f9ee5d;
	border-right: 1px solid #f9ee5d;
	border-top: 1px solid #f9ee5d;
	font-size: 16px;
	font-family: RobotoCondensed-Bold;
	color: #fff;
	text-transform: uppercase;
	padding: 0 30px 0 14px;
	display: inline-block;
	background: url(../images/new_ng.png)repeat-x center center transparent;
}
.hdNews i {
    padding-right: 14px;
    vertical-align: 3px;
}
#listNewsDetail .item i{
	font-size: 7px;
	color: #f1ea52;
	padding-left: 10px;
	padding-right: 7px;
	vertical-align: 2px;
}
.listNews{
	display: inline-block;
	max-width: 80%;
	line-height: 36px;
	/*border-top: 1px solid #1b1b1b;*/
	vertical-align: bottom;
	width: 100%;
	max-height: 36px;
	overflow: hidden;
}
.listNews a{
	font-family: Tahoma;
	font-size: 14px;
	color: #ddcb77;
}
.listNews a:hover{
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #f1ea52;
}
.mainMenu .sub-menu li{
	display: inline-block;
}
.menu{
	position: relative;
}
.mainMenu .sub-menu {
    background: #1b1b1b none repeat scroll 0 0;
    color: #fff;
    left: 0;
    border-top: 1px solid #393d40;
    margin-top: 0px;
    line-height: 39px;
    position: absolute;
    width: 100%;
    z-index: 999;
    display: none
}
.mainMenu > li:hover > .sub-menu{
	display: block;
}
.mainMenu .sub-menu > li > a{
	color: #f0f0f0;
    display: inline-block;
    font-family: Roboto-Regular;
    font-size: 13px;
    padding: 0 25px;
}
.mainMenu .sub-menu > li:hover > a{
	font-weight: bold;
	color: #fff;
}
.sub-menu .sub-menu {
    border-bottom: 3px solid #f3ec53;
    display: none;
}
.mainMenu .sub-menu > li:hover .sub-menu{
	display: block;
}
.deSlideshow{
	border: 1px solid #000;
}
.detailPost{
	border-top: 1px solid #393d40;
	border-right: 1px solid #393d40;

	background: #212528; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFjMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #212528 0%, #1a1c20 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212528), color-stop(100%,#1a1c20)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #212528 0%,#1a1c20 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #212528 0%,#1a1c20 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #212528 0%,#1a1c20 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #212528 0%,#1a1c20 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212528', endColorstr='#1a1c20',GradientType=0 ); /* IE6-8 */

}
.listNews .owl-controls{
	display: none;
}
.thumbImg{
	padding: 0;
}
.dePost{
	padding: 20px 10px;
}
.dePost > h3 a{
	font-family: RobotoCondensed-Bold;
	font-size: 20px;
	line-height: 33px;
	color: #fff;
}
.dateTime {
    color: #f1ea52;
    padding: 20px 0;
	font-family: Roboto-Regular;
	font-size: 14px;
}
.dateTime i {
    padding-right: 15px;
    vertical-align: 1px;
}
.sum{
	font-family: Tahoma;
	font-size: 14px;
	color: #999;
	line-height: 22px;
	text-transform: lowercase;
}
.slideshow .owl-controls{
	border-top: 1px solid #000;
	width: 100%;
	text-align: center;
	margin-top: 0;
	float: left;
	background: url(../images/m_bg.png) repeat-x center center transparent;
}
.slideshow .owl-controls:before{
	content: '';
	float: left;
	height: 40px;
	width: 3px;
	background: url(../images/l_bg.png) no-repeat center center transparent;
}
.slideshow .owl-controls:after{
	content: '';
	float: right;
	height: 40px;
	width: 3px;
	background: url(../images/l_bg.png) no-repeat center center transparent;
}
.owl-pagination{
	display: inline-block;
	min-width: 225px;
	max-width: calc(100% - 26px);
	height: 40px;
	background: url(../images/m-owl.png)repeat-x center center transparent;
}
.owl-pagination:before{
	content: '';
	float: left;
	padding-top: 1px;
	height: 40px;
	margin-left: -13px;
	width: 16px;
	background: url(../images/l_owl.png) no-repeat center center transparent;
}
.owl-pagination:after{
	content: '';
	float: right;
	height: 40px;
	margin-right: -13px;
	width: 16px;
	background: url(../images/r-owl.png) no-repeat center center transparent;
}
.owl-theme .owl-pagination .owl-page{
    height: 38px;
    width: 35px;
    margin: 1px 0 0;
    border: 1px solid transparent;
    border-radius: 0;
	transform: skew(-20deg);


}
.owl-theme .owl-pagination .owl-page.active,.owl-theme .owl-pagination .owl-page:hover{
    border: 1px solid #faef5d;
    background: #faef5e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZWY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMzhlMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #faef5e 0%, #b38e29 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faef5e), color-stop(100%,#b38e29)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #faef5e 0%,#b38e29 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #faef5e 0%,#b38e29 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #faef5e 0%,#b38e29 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #faef5e 0%,#b38e29 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faef5e', endColorstr='#b38e29',GradientType=0 ); /* IE6-8 */

}
.owl-theme .owl-pagination .owl-page span.owl-numbers{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ebf1f4;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
    height: auto;
    line-height: 36px;
    margin: 0;
    transform: skew(20deg);
    width: auto;
}
.owl-theme .owl-pagination .owl-page.active span,.owl-theme .owl-pagination .owl-page:hover span{
	background: none;
	margin: 0;
}
.content .container{
	background: url(../images/main_bg.png) repeat center center transparent;
	/*border-left: 1px solid #000;
	border-right: 1px solid #000;*/
	border-bottom: 1px solid #000;
}
.bordery{
	border: 3px solid #222;
	overflow: hidden;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.35);
}
.blockHome{
	border-bottom: 1px solid #000;
	margin-top: 15px;
}
.title{
	background: url(../images/m_bg.png) repeat-x center center transparent;
	height: 40px;
	width: calc(100% - 6px;);
}
.title:before{
	background: url(../images/l_bg.png) repeat-x center center transparent;
	height: 40px;
	width: 3px;
	float: left;
	content: '';
	margin-left: -15px;
}
.title:after{
	background: url(../images/r_bg.png) repeat-x center center transparent;
	height: 40px;
	width: 3px;
	float: right;
	content: '';
}
.detailBlock{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.detailBlock > div{
	border: 1px solid #2d3134;
	background: #212528;
	padding: 15px 15px 15px 0;
}
.thumbImg img{
	max-width: 100%;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
#video .bigDetail > a{
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    color: #ccc;
    line-height: 17px;
    margin-top: 5px;
    display: block;
}
#video .bigDetail > a:hover{
    color: #f1ea52;
}
.bigDetail > a{
    font-family: RobotoCondensed-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    margin-top: 7px;
    display: block;
}
.bigDetail > a:hover{
    color: #f1ea52;
}
.dateTime span{
	color: #999999;
	font-family: Roboto-Regular;
}
.bigDetail .thumbImg img{
	border: 1px solid #000;
}
.bigDetail .dateTime{
	color: #edca22;
}
.sum a{
	color: #ddcb77;
}
.bigDetail .dateTime{
	font-size: 12px;
	padding: 10px 0;
}
.bigDetail .dateTime i{
	padding-right: 7px;
}
.bigDetail .sum{
	font-size: 12px;
	color: #cccccc;
	font-family: Tahoma;
	line-height: 20px;
	text-transform: lowercase;
}
.bigDetail .sum a{
	display: inline-block;
	padding-left: 7px;
}
.blockHome .title{
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 15px;
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
}
.blockHome .title i{
	color: #edca22;
	padding-right: 8px;
}
.blockHome .title a{
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	padding-left: 15px;
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
}
.blockHome .title a:hover{
	color: #ddcb77;
}
.detailBlock ul{
	list-style: none;
}
.detailBlock ul li{
	border: 1px solid #000;
	overflow: hidden;
	margin-bottom: 10px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

	background: #222629; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #222629 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222629), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222629 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222629', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */

}
.blockStyle{
	border: 1px solid #000;
	overflow: hidden;
	margin-bottom: 5px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

	background: #222629; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #222629 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222629), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222629 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222629', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */

}
.detailBlock ul li > div{
	border: 1px solid #343538;
	overflow: hidden;
}
.leftItem > img {
    border: 1px solid #000;
    float: left;
    margin: 13px;
}
.rightItem{
	padding: 13px;
}
.rightItem a{
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.rightItem a:hover{
    color: #f1ea52;
}
.rightItem .dateTimeSmall{
	font-size: 12px;
	font-family: Roboto-Regular;
	color: #888889;
	margin-top: 5px;
}
.detailRightHome {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.detailRightHome > div{
	background: #212528;
    padding: 15px;
	border: 1px solid #2c3032;
}
.blockHome img{
	max-width: 100%;
}
.rightNew{
	list-style: none;
	overflow: hidden;
}
.rightNew li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #000;

	background: #222629; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #222629 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222629), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222629 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222629', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */
}
.rightNew li:last-child{
	border-bottom: none;
}
.rightNew li > div{
	border: 1px solid #343538;
	overflow: hidden;
	position: relative;
}
.style2 .bigDetail > a{
	margin-top: 5px;
	line-height: 20px;
}
.style2 .thumbImg{
	border: 1px solid #000;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.style2 .thumbImg > div{
	/*padding: 9px;*/
	border: 1px solid #343538;

	background: #222629; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #222629 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222629), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222629 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222629', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */

}
.style2 .thumbImg img{
	max-width: 100%
}
.style2 > div{
	padding: 15px 7.5px;
}
.style2 .col-md-4{
	padding: 0 7.5px;
}
.tab-panel{
	margin-top: 10px;
}
.nav-tabs{
	border-bottom: none;
}
.tab-panel .nav-tabs > li:first-child{
	margin-left: 1px;
}
.tab-panel .nav-tabs > li.active > a, .tab-panel .nav-tabs > li.active > a:focus, .tab-panel .nav-tabs > li.active > a:hover, .tab-panel .nav-tabs > li > a:hover{
	border: 1px solid #fdf25e ;
	padding: 0;

	background: #f1ea52; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMThhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f1ea52 0%, #b18a28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ea52), color-stop(100%,#b18a28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1ea52 0%,#b18a28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ea52', endColorstr='#b18a28',GradientType=0 ); /* IE6-8 */

}
.tab-panel .nav-tabs > li > a{
	border: 1px solid #000;
	padding: 0;
	background: #212528;
}
.tab-panel .nav-tabs > li > a:hover span,.tab-panel .nav-tabs > li.active > a span{
 	border: 1px solid transparent;
}
.tab-panel .nav-tabs > li > a span{
	border: 1px solid #2d3134;
	padding: 13px;
	display: inline-block;
	font-family: RobotoCondensed-Bold;
	font-size: 14px;
	color: #fff;
	border-radius: 4px 4px 0 0;
	text-transform: uppercase;
}
.tab-content{
	/*overflow: hidden;*/
	border: 1px solid #000;
	background: #212528;
}
.tab-content .col-md-4{
	padding: 0 7.5px;
}
.tab-content > div{
	padding: 15px 7.5px;
}
.footer .container{
	border: 1px solid #000;


	background: #212528; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMjUyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #212528 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212528), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #212528 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #212528 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #212528 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #212528 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212528', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */

}
.footer .col-md-12{
	text-align: center;
}
.footer .col-md-12 img{
	margin-top: -2px;
}
.copyright{
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #8d8c8c;
	text-transform: uppercase;
	padding: 20px 0 20px;
	line-height: 20px;
}
.copyright a{
	color: #edca22;
}
.menuFooter{
	padding: 25px 0 0 0;
}
.menuFooter > div{
	text-align: center;
}
.menuFooter ul{
	display: inline-block;
	overflow: hidden;
}
.menuFooter ul li {
    border-right: 1px solid #ddcb77;
    display: inline-block;
    margin-bottom: 10px;
}
.menuFooter ul li:last-child{
	border-right: none;
}
.menuFooter ul li a {
    color: #ddcb77;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}
.menuFooter ul li a:hover{
	color: #edca22;
}
.social{
	text-align: center;
}
.social ul {
    display: inline-block;
    list-style: outside none none;
    margin-top: 15px;
    overflow: hidden;
}
.social ul li{
	display: inline-block;
}
.social ul li a{
	vertical-align: top;
	margin-left: 5px;
}
.social ul li.tv a {
    background: #2eb5ed none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 24px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 42px;
    opacity: 0.8;
}
.social ul li.gg a {
    background: #ff5f5f none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
    opacity: 0.8;
}
.social ul li.fb a {
    background: #0c4e91 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
    opacity: 0.8;
}
.social ul li.tt a {
    background: #0fc5f3 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
    opacity: 0.8;
}
.social ul li.yt a {
    background: #cf1a1a none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 24px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
    opacity: 0.8;
}
.social ul li a:hover{
	opacity: 1;
}
.giftcodefb p{
	text-align: center;
}
.re_gift {
    background: #0074d1 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: RobotoCondensed-Bold;
    font-size: 24px;
    padding: 15px 40px;
    text-transform: uppercase;
}
.re_gift:hover{
	background: #008EFF;
	color: #fff;
}
.re_gift i{
	padding-right: 15px;
}
.giftcodefb p.note{
	font-style: italic;
    line-height: 1.42;
    margin-top: 21px;
    color: #fff;
}
.giftcodefb p.note span{
	font-size: 15px;
    font-family: RobotoCondensed-Bold;
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
}
.giftcodefb{
	text-align: center;
}
.giftcodefb a.loginfb{
	background: #3a5795; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNTc5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzNhNTc5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTU3OTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3a5795 0%, #3a5795 51%, #3a5795 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a5795), color-stop(51%,#3a5795), color-stop(100%,#3a5795)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3a5795 0%,#3a5795 51%,#3a5795 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3a5795 0%,#3a5795 51%,#3a5795 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3a5795 0%,#3a5795 51%,#3a5795 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3a5795 0%,#3a5795 51%,#3a5795 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5795', endColorstr='#3a5795',GradientType=0 ); /* IE6-8 */

	border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
    padding: 5px 15px;
}
.giftcodefb a.loginfb i{
	color: #fff;
	padding-right: 8px;
}
.detailGiftCode {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -30px;
    padding: 5px 10px;
    position: absolute;
}
.giftcodep{
	color: #fff;
    font-size: 18px;
    margin: 20px 0;
}
.giftcodep span{
	font-weight: bold;
}
.infoCatDetail {
    background: #eeeeee none repeat scroll 0 0;
    bottom: 3px;
    line-height: 22px;
    padding: 0 10px 0 0;
    width: 100%;
}
.infoCatDetail > span {
    background: #008e00 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: roboto-regular;
    line-height: 22px;
    margin-right: 5px;
    padding: 1px 8px 0;
    text-align: center;
}
.fixed.fixedPo{
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 99;
}
.content .col-md-4{
	position: relative;
}
.champion_top_10 img {
    width: 100%;
}
.champion_top_10 {
    border: 1px solid #000;
    display: inline-block;
    margin-top: 4px;
    width: 61px;
    transition: all 0.25s ease-in-out;
}
.champion_top_10:hover{
	border: 2px solid #f1ea52;
}
.titleBig{
    background: transparent url("../images/tt_b.png") repeat-x scroll center center;
    /*border-top: 1px solid #303030;*/
    float: left;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-left: 3px;
}
.titleBig h1,.titleBig h2{
	font-family: RobotoCondensed-Bold;
	font-size: 17px;
	color: #ccc;
	text-transform: uppercase;
	line-height: 40px;
	text-align: left;
}
.breadcrumbs{
	font-family: RobotoCondensed-Bold;
	font-size: 14px;
	color: #ccc;
	line-height: 40px;
}
.breadcrumbs a{
	color: #ccc;
	padding: 0 3px;
}
.breadcrumbs > span > span{
	padding: 0 0 0 3px;
}
.breadcrumbs a:hover{
    color: #f1ea52;
}
.champions{
	border: 1px solid #000;
	border-bottom: none;
}
.champions > div{
	padding-right: 0;
}
.pdr75{
	padding-right: 7.5px;
}
.pdl75{
	padding-left: 7.5px;
}
.thumbnail_cham{
	border: 1px solid #000;
	width: 100%;
}
.champ_name{
	font-family: RobotoCondensed-Bold;
	font-size: 25px;
	color: #ddcb77;
	padding-bottom: 20px;
}
.champ_des{
	font-family: sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #999999;
	padding-bottom: 17px;
	font-weight: bold;
	padding-left: 3px;
}
.champ_des span:first-child{
	display: inline-block;
	min-width: 130px;
}
.item_table{
	border: 1px solid #000000;
	border-bottom: none;
}
.item_table:nth-child(2n+1){
	background: #1a1c20;
}
.item_table:last-child{
	border-bottom: 1px solid #000000;
}
.item_table div{
	border: 1px solid #323438;
}
.item_table span{
	line-height: 28px;
	display: inline-block;
	padding-left: 13px;
	min-width: 160px;
	font-family: Roboto-Regular;
	font-size: 12px;
	text-transform: uppercase;
	color: #999999;
}
.item_table ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}
.item_table ul li{
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
    height: 18px;
    margin-bottom: 0;
    box-shadow: none;
    width: 12px;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b1c20+0,212528+100 */
	background: #1b1c20; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiMWMyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTI1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1b1c20 0%, #212528 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1c20), color-stop(100%,#212528)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1b1c20 0%,#212528 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1b1c20 0%,#212528 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1b1c20 0%,#212528 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1b1c20 0%,#212528 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1c20', endColorstr='#212528',GradientType=0 ); /* IE6-8 */

}
ul.deff li.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ed312+0,3c740a+100 */
	background: #4ed312; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlZDMxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc0MGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4ed312 0%, #3c740a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ed312), color-stop(100%,#3c740a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4ed312 0%,#3c740a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4ed312 0%,#3c740a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4ed312 0%,#3c740a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4ed312 0%,#3c740a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ed312', endColorstr='#3c740a',GradientType=0 ); /* IE6-8 */
}
ul.attack li.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f61b04+0,801e0e+100 */
	background: #f61b04; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2MWIwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDFlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f61b04 0%, #801e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f61b04), color-stop(100%,#801e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f61b04 0%,#801e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f61b04 0%,#801e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f61b04 0%,#801e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f61b04 0%,#801e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f61b04', endColorstr='#801e0e',GradientType=0 ); /* IE6-8 */

}
ul.magic li.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04a9f6+0,0e5680+100 */
	background: #04a9f6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0YTlmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTU2ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #04a9f6 0%, #0e5680 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04a9f6), color-stop(100%,#0e5680)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #04a9f6 0%,#0e5680 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #04a9f6 0%,#0e5680 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #04a9f6 0%,#0e5680 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #04a9f6 0%,#0e5680 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a9f6', endColorstr='#0e5680',GradientType=0 ); /* IE6-8 */

}
ul.difficult li.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b22ff5+0,6f0e80+100 */
	background: #b22ff5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyMmZmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBlODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b22ff5 0%, #6f0e80 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b22ff5), color-stop(100%,#6f0e80)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b22ff5 0%,#6f0e80 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b22ff5 0%,#6f0e80 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b22ff5 0%,#6f0e80 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b22ff5 0%,#6f0e80 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22ff5', endColorstr='#6f0e80',GradientType=0 ); /* IE6-8 */
}
.item_table ul li:last-child{
	border-right: 1px solid #000;
}
.detailBlock .skill_champ{
	margin-top: 20px;
	overflow: hidden;
	/*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);*/
}
.detailBlock .skill_champ li{
	float: left;
	border: 1px solid #000;
	width: 83.65px;
	margin-bottom: 0;
	height: 83.65px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.detailBlock .skill_champ li:nth-child(6){
	margin-left: 83.97px;
}
.detailBlock .skill_champ li div{
	border: 1px solid #323438;
	display: block;padding: 9px;
}
.blockStyle > div{
	border: 1px solid #323438;
	display: block;padding: 15px;
}
.blockStyle h3{
	font-family: RobotoCondensed-Bold;
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}
.blockStyle p {
    color: #999;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 200px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
}
/*.blockStyle:hover p{
	height: auto;
}*/
.blockStyle:hover{
	position: absolute;
	width: calc(100% - 22.5px);
	z-index: 99;
}
.contentPostStyle .nav-tabs > li > a > span{
	border: 1px solid #2d3134;
	display: block;
	padding: 10px 15px;
	border-radius: 4px 4px 0 0;
	font-size: 14px;
}
.contentPostStyle .nav-tabs > li > a{
	font-family: RobotoCondensed-Bold;
	text-transform: uppercase;
	color: #fff;
	padding: 0;
	background: #212528;
	border-radius: 4px 4px 0 0;
	border: 1px solid #000000;
}
.contentPostStyle .nav-tabs > li{
	margin-bottom: 0;
}
.contentPostStyle .nav-tabs > li.active > a, 
.contentPostStyle .nav-tabs > li.active > a:focus, 
.contentPostStyle .nav-tabs > li.active > a:hover{
	border: 1px solid #fdf25e;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1ea52+0,b18a28+100 */
	background: #f1ea52; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMThhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f1ea52 0%, #b18a28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ea52), color-stop(100%,#b18a28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1ea52 0%,#b18a28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ea52', endColorstr='#b18a28',GradientType=0 ); /* IE6-8 */

}
.contentPostStyle .nav-tabs > li.active > a > span, 
.contentPostStyle .nav-tabs > li.active > a:focus > span, 
.contentPostStyle .nav-tabs > li.active > a:hover > span{
	border: 1px solid transparent;
}
.contentPostStyle .nav{
	padding: 0 1px;
}
.contentPostStyle .tab-content > div{
	padding: 15px;
	border: 1px solid #2d3033;
}
.blockcat{
	border: 1px solid #000000;
	background: #212528;
}
.contentPostStyle .blockcat:nth-child(2n+1){
	background: #1a1c20;
}
.blockcat > div{
	border: 1px solid #2d3134;
	padding: 10px;
}
.borderblack{
	display: block;
	border: 1px solid #000;
	overflow: hidden;
	position: relative;
}
.blockcat .thumbimg{
	overflow: hidden;
}
.championtype {
    color: #fff;
    font-family: RobotoCondensed-Bold;
    left: -70px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 18px;
    transform: rotate(-45deg);
    width: 200px;
}
.blockcat .titlecat{
    color: #fff;
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    line-height: 27px;
    color: #ddcb77;
}
.blockcat .titlecat a:hover{
	color: #f1ea52;
}
.blockcat .dateTime{
	font-size: 12px;
	padding: 10px 0;
}
.blockcat .dateTime i{
	padding-right: 10px;
	padding-left: 15px;
}
.blockcat .dateTime i:first-child{
	padding-left: 0	;
}
.rw-ui-info-container,.rw-ui-info-container:hover .rw-ui-info-inner-container{
	background: transparent !important;
}
.rw-ui-container.rw-halign-right, .rw-ui-container.rw-halign-right .rw-ui-info-inner-container{
	border: none !important;
}
.rw-valign-middle.rw-halign-right.rw-size-tiny .rw-ui-info-outer-nub, .rw-valign-middle.rw-halign-right.rw-size-tiny.rw-ui-info-outer-nub,
.rw-valign-middle.rw-halign-right.rw-size-tiny .rw-ui-info-inner-nub, .rw-halign-right.rw-size-tiny.rw-ui-info-inner-nub{
	display: none;
}
.rw-no-labels td:first-child{
	display: none;
}
.rw-no-labels .rw-ui-star.rw-size-tiny .rw-ui-stars li{
	margin: 2px !important;
}
.rw-ui-container.rw-size-tiny.rw-valign-middle.rw-halign-right .rw-ui-info-container{
	margin-top: 2px;
}
.rw-no-labels .rw-ui-container.rw-size-tiny span.rw-ui-info{
	font-size: 11px;
    font-family: RobotoCondensed-Bold;
    color: #999999 !important;
}
.rating {
    margin-bottom: 10px;
}
.list_item_spell img{
	border: 1px solid #000;
}
.blockcat .sum {
    font-size: 12px;
    line-height: 20px;
    font-family: tahoma;
    color: #999;
    margin-top: 10px;
    text-align: justify;
}
.contentPostStyle .detailBlock{
	border: none;
}
.contentPostStyle .detailBlock > div{
	border: none;
	padding: 0;
	margin: 0 -7.5px;
}
.contentPostStyle .detailBlock .bigDetail{
	margin-bottom: 15px;
	min-height: 240px;
}
.tab-pane .fb-comments {
    background: #212528 none repeat scroll 0 0;
    display: block !important;
    min-height: 180px;
    overflow: hidden;
    width: 100%;
}
.modal-dialog {
    margin: 80px auto;
}
.detail_post_champ{
	border: 1px solid #000;
}
.detail_post_champ > div{
	background: #212528 none repeat scroll 0 0;
    border: 1px solid #2d3134;
    padding: 15px;
}
.detail_post_champ > div > h1{
    font-family: RobotoCondensed-Bold;
    font-size: 22px;
    color: #ddcb77;
    line-height: 32px;
    margin-bottom: 17px;
}
.expert_post .dateTime{
	font-size: 12px;
    font-family: Roboto-Regular;
    color: #999999;
}
.expert_post .dateTime i{
	font-size: 16px;
	padding-right: 8px;
    color: #edca22;
}
.expert_post .dateTime{
	padding: 0;
}
.social_post ul{
	list-style: none;
	text-align: right;
}
.social_post li{
	display: inline-block;
	padding: 0 2px;
}
.social_post li a{
	color: #edca22;
	opacity: 0.8;
	font-size: 16px;
	display: block;
	padding: 0 3px;
}
.social_post li a:hover{
	opacity: 1;
}
.expert_post{
	position: relative;
}
.content_post_champ, .content_post_default{
	color: #bbb;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
    text-align: justify;
}
.content_post_champ p{
	line-height: 22px;
	margin-bottom: 25px;
}
.content_post_champ img{
	max-width: 100%;
}
.tab-content > .tab-pane{
	overflow: hidden;
}
.related_post .detailBlock > div{
	padding: 15px 10px;
}
.related_post .item{
	padding: 0 10px;
}
.related_post .bigDetail .thumbImg{
	border: 1px solid #010101;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.related_post .bigDetail .thumbImg > div{
	border: 1px solid #383b3d;
	padding: 13px;
}
.related_post .bigDetail .thumbImg > div.nopd{
	padding: 0;
}
.related_post .bigDetail > a{
	margin-top: 10px;
}
.related_post .owl-pagination{
	display: none;
}
.related_post .owl-buttons {
    position: absolute;
    right: 0;
    top: -50px;
}
.related_post .owl-theme .owl-controls .owl-buttons div{
	width: 18px;
	height: 18px;
	background: #fff;
	color: #000;
	padding: 0;
	opacity: 1;
	line-height: 18px;
	text-align: center;
}
.related_post .owl-theme .owl-controls .owl-buttons div.owl-next{
	padding-left: 3px;
}
.related_post #answers{
	padding: 15px 10px;
}
.cham_big .champ_name{
	padding-bottom: 4px;
}
.cham_big .price span{
	display: inline-block;
    font-family: RobotoCondensed-Regular;
    color: #ddcb77;
}
.cham_big .price span img{
	vertical-align: -7px;
    padding-right: 4px;
}
.cham_big .champ_des{
    font-family: RobotoCondensed-Regular;
    text-transform: none;
    padding: 3px 0;
}
.cham_big .champ_des span:first-child{
	min-width: 70px;
}
.tooltip_post{
	color: #ddcb77;
}
.menu_content{
	border: 10px solid #000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
    
     -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter: grayscale(100%);
     filter: gray;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

}
.menu_content > div{
	background: rgba(0,0,0,0.5);
	padding: 5px;
    margin: 30px 0 30px 40px;
    display: inline-block;
    min-width: 250px;
}
.menu_content > div > ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    list-style: outside none none;
    padding: 10px 20px;
}
.menu_content li{
	display: block;
}
.menu_content a{
	color: #fff;
	display: block;
	line-height: 36px;
}
.menu_content a:hover{
	color: #edca22;
}
.main_post{
	border: 10px solid #000;
	margin-top: 3px;
	background: #000;
}
.main_post > div{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#090e12+0,000000+100&amp;0.74+0,1+42,1+100 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5MGUxMiIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzA1MDgwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(9,14,18,0.74) 0%, rgba(5,8,10,1) 42%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,14,18,0.74)), color-stop(42%,rgba(5,8,10,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(9,14,18,0.74) 0%,rgba(5,8,10,1) 42%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(9,14,18,0.74) 0%,rgba(5,8,10,1) 42%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(9,14,18,0.74) 0%,rgba(5,8,10,1) 42%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(9,14,18,0.74) 0%,rgba(5,8,10,1) 42%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd090e12', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	border-top: 1px solid #343538;
}
.main_post > div{
	margin-top: 20px;
	padding: 10px;
}
.main_post > div:first-child{
	margin-top: 0;
}
.pros_cons .img-thumb {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: top;
}
.ct_pros,.ct_cons{
	display: inline-block;
	max-width: 255px;
}
.ct_pros ul, .ct_cons ul{
	max-width: 250px;
}
.title_mp > h3 {
    color: #ddcb77;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 10px 0 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.title_mp a span {
    color: #ddcb77;
    display: block;
    font-family: robotoCondensed-regular;
    font-size: 10px;
    line-height: 8px;
    margin-top: -55px;
    text-align: center;
    text-transform: uppercase;
}
.title_mp a{
	top: 0;
}
.title_mp i {
    font-size: 16px;
}
.block_rune{
	margin-top: 30px;
}
.block_rune:first-child{
	margin-top: 0;
}
.data_runes > div{
	text-align: center;
}
.ct_rune{
	margin-top: 20px;
}
/*.tree1{
	background: url(../images/bg-1_small.jpg) no-repeat center center transparent;
	width: 208px;
	height: 402px;
	display: inline-block;
}
.tree2{
	background: url(../images/bg-2_small.jpg) no-repeat center center transparent;
	width: 208px;
	height: 402px;
	display: inline-block;
}
.tree3{
	background: url(../images/bg-3_small.jpg) no-repeat center center transparent;
	width: 208px;
	height: 402px;
	display: inline-block;
}
.m_masteries{
	margin-bottom: 15px;
}
.bgtree{
	text-align: center;
}
.bgtree > h5{
	color: #ccc;
	margin-bottom: 10px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.mastery_div {
    display: inline-block;
    height: 38px;
    margin-bottom: 25px;
    margin-right: 6px;
    position: relative;
    width: 38px;
    vertical-align: top;
}
.bgtree > div{
	padding-left: 4px;
	padding-top: 25px;
}
.mastery_div > .max_add{
	background: transparent url("../images/points-bg.png") no-repeat scroll center center;
    color: #fff;
    font-size: 10px;
    height: 13px;
    margin: -7px 0 0 3px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    width: 31px;
    z-index: 100;
    line-height: 10px;
}
.transparent_tree {
    opacity: 0.4;
}*/
.ct_runes hr{
	border-color: #2d3134;
}
.dt_skill{
	text-align: center;
}
.dt_skill span{
	display: inline-block;
	vertical-align: top;
}
.table_skill .table > tbody > tr > td {
    border: medium none;
    padding: 5px 2px;
    color: #666;
    cursor: pointer;
    vertical-align: middle;
}
.table_skill .table > tbody > tr > td.active{
	background: transparent;
}
.table_skill .table > tbody > tr > td.active span{
	background: url(../images/ability-selected.png) repeat center center transparent;
	color: #fff;
}
.table_skill .table > tbody > tr > td:first-child{
	width: 30px;
}
.table_skill .table > tbody > tr > td:first-child img{
	border: 1px solid #2d3134;
}
.table_skill .table > tbody > tr > td span{
	border: 1px solid #000;
	width: 30px;
	height: 30px;
	display: block;
	background: #111;
	line-height: 28px;
	text-align: center;
}
.table_skill table{
	margin-top: 15px;
}
.dt_spell {
    margin-bottom: 30px;
    text-align: center;
}
.dt_spell span{
	cursor: pointer;
}
.img_spell{
	text-align: center;
}
.img_spell span{
	cursor: pointer;
}
.ct_items > h4,.blockgameplay > h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.items_block{
	padding-bottom: 20px;
	border-bottom: 1px solid #2d3134;
	margin-bottom: 20px;
}
.items_block_full{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.items_block:last-child{
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}
.blockgameplay{
	padding-bottom: 20px;
	border-bottom: 1px solid #2d3134;
	margin-bottom: 20px;
}
.blockgameplay:last-child{
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}
.img_items{
	text-align: center;
}
.img_items > h5 {
    color: #ccc;
    margin-bottom: 17px;
    text-align: center;
	font-size: 14px;
	line-height: 17px;
	
}
.full_items_div{
	padding: 30px;
}
iframe{
	max-width: 100% !important;
	display: inline-block;
}




.guide-threats {
    display: inline-block;
    margin: 140px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
.guide-threats > * {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.guide-threats a, .guide-threats span {
    color: #b6bed4;
    font-family: robotocondensed-regular;
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
}
.guide-threats span {
    color: #656567;
}
.guide-threats .bar {
    background: #070c17 none repeat scroll 0 0;
    border: 2px solid #192034;
    border-radius: 5px;
    font-size: 0;
    padding: 0 2px;
}
.guide-threats .bar > div:nth-child(-n+3):hover, 
.guide-threats .bar > div.selected:nth-child(-n+3), 
.guide-threats .bar > a:nth-child(-n+3):hover,
.guide-threats .bar > a.selected:nth-child(-n+3) {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3f9e2e 0%, #56f748 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(201, 255, 191, 0.75) inset;
}
.guide-threats .bar > div,
.guide-threats .bar > a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #63661e 0%, #babf3b 100%) repeat scroll 0 0;
    color: #165a1b;
    cursor: pointer;
    display: inline-block;
    font-family: robotocondensed-regular;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin-right: 2px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 57px;
}
.guide-threats .bar > div:nth-last-child(-n+3),
.guide-threats .bar > a:nth-last-child(-n+3) {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #6a1f20 0%, #c43c39 100%) repeat scroll 0 0;
}
.guide-threats .heroes-wrap {
    max-width: 108px;
    position: absolute;
}
.guide-threats .heroes-wrap .heroes img,
.guide-threats .heroes-wrap .heroes > div {
    height: 30px;
    vertical-align: top;
    width: 30px;
}

.guide-threats .heroes-wrap .heroes > div {
    border: 1px solid #192034;
    display: inline-block;
    margin-left: 2px;
}
.guide-threats .heroes-wrap .heroes {
    background: #070c17 none repeat scroll 0 0;
    border: 2px solid #192034;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0;
    padding: 3px;
    position: relative;
    text-align: left;
    z-index: 5;
}
.guide-threats .heroes-wrap .heroes::after {
    border-color: #192034 transparent transparent;
    border-style: solid;
    border-width: 6px 4px 0;
    bottom: -9px;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.guide-threats .heroes-wrap .heroes.right::after {
    right: 2px;
}
.guide-threats .heroes-wrap .heroes.selected,
.guide-threats .heroes-wrap .heroes:hover {
    border-color: #273551;
}
.guide-threats .heroes-wrap {
    max-width: 108px;
    position: absolute;
}
.guide-threats .heroes-wrap.right {
    right: 45px;
}
.guide-threats .heroes-wrap.up {
    bottom: calc(100% + 10px);
}
.guide-threats .heroes-wrap .heroes.down::after {
    border-color: transparent transparent #192034;
    border-width: 0 4px 6px;
    bottom: auto;
    top: -9px;
}
.guide-threats .heroes-wrap .heroes.left::after {
    left: 2px;
}
.guide-threats .heroes-wrap .heroes.selected.down::after,
.guide-threats .heroes-wrap .heroes.down:hover::after {
    border-color: transparent transparent #273551;
}
.guide-threats .heroes-wrap.down {
    top: 34px;
}
.guide-threats .bar > div:nth-child(-n+3),
.guide-threats .bar > a:nth-child(-n+3) {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2a6a1f 0%, #43c439 100%) repeat scroll 0 0;
}
.guide-threats .bar > div:hover,
.guide-threats .bar > div.selected,
.guide-threats .bar > a:hover,
.guide-threats .bar > a.selected{
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 190, 0.75);
    background: #9ca030;
    background: linear-gradient(to bottom, #9ca030 0%, #e8ed5a 100%);
}
.guide-threats .bar > div:nth-last-child(-n+3):hover,
.guide-threats .bar > div.selected:nth-last-child(-n+3),
.guide-threats .bar > a:nth-last-child(-n+3):hover,
.guide-threats .bar > a.selected:nth-last-child(-n+3){
    box-shadow: inset 0 0 5px rgba(255, 160, 161, 0.75);
    background: #9e2e30;
    background: linear-gradient(to bottom, #ab3234 0%, #ff4d4a 100%);
}

.threat-desc {
    margin-top: 15px;
}
.threat-desc table {
    border-spacing: 0 3px;
    width: 100%;
}
.threat-desc table th:first-child {
    text-align: center;
}

.threat-desc table th {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}
.threat-desc table td.threat {
    padding-top: 21px;
    text-align: center;
    width: 70px;
}
.threat-desc table td {
    background: #111 none repeat scroll 0 0;
    padding-bottom: 7px;
    padding-top: 7px;
    vertical-align: middle;
}

.threat-desc table td:nth-child(3){
    padding-left: 10px;
    padding-right: 10px;
}
.threat-desc table td:last-child{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.threat-desc table th:last-child{
    padding-left: 10px;
    width: 120px;
}
.threat-desc table th:nth-child(3){
    padding-left: 10px;     
}
.threat-desc table td:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.threat-desc table td.threat{
    padding-top: 7px;
}
.threat-desc table td.threat > div {
    border-radius: 3px;
    color: #161616;
    display: inline-block;
    font-family: robotocondensed-regular;
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    width: 26px;
}
.threat-desc table td.threat > div.green {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3f9e2e 0%, #56f748 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(201, 255, 191, 0.75) inset;
}
.threat-desc table td.pic {
    width: 51px;
}
.threat-desc table td.pic img {
    border: 1px solid #181f33;
    width: 51px;
}
.threat-desc table td.name {
    color: #b1b1b1;
    font-family: robotocondensed-regular;
    font-size: 14px;
    line-height: 1;
    padding-left: 16px;
    padding-top: 7px;
    width: 121px;
}
.threat-desc table td.name img{
    margin-right: 5px;
}
.threat-desc table td.desc {
    color: #abaead;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
    width: 465px;
}
.threat-desc table td:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.threat-desc table td.threat > div.yellow {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #9ca030 0%, #e8ed5a 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(255, 255, 190, 0.75) inset;
}
.threat-desc table td.threat > div.red {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ab3234 0%, #ff4d4a 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(255, 160, 161, 0.75) inset;
}
.guide-threats .bar > div:last-child, #guide-pages .guide-threats .bar > a:last-child {
    color: #5a1616;
    margin-right: 0;
}
.heroes-wrap.down.left {
    left: 45px;
}
.threat-desc table {
    border-collapse: unset;
    border-spacing: 0 3px;
    width: 100%;
}
.tooltip_post{
	cursor: pointer;
}

.bb_tt tr td {
    vertical-align: top;
}
.image_tt {
    border-right: 1px solid #2d3134;
    padding-right: 10px;
    width: 38px;
}

.content_tt {
    padding-left: 10px;
    line-height: 20px;
}
.tooltip_post a,.tooltip_post a:hover{
	color: #ddcb77;
}
.tooltip_post img, .dt_skill > span > img{
	display: inline-block;
}
.tooltipster-runes img{
	border: none;
}
.data_rune{
    text-align: center;
}
.content_rune {
    text-align: justify;
    vertical-align: middle;
}
.ct_gameplay_video {
    text-align: center;
}


/*tooltip*/
.item-name.tt-name {
    color: #ddcb77;
    display: block;
    font-family: Tahoma, Verdana;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.item-head h4 {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    line-height: 13px;
    margin: 5px 0;
    color: #ddcb77;
}

.des {
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}
.recipe-container {
    background-color: transparent;
    display: inline-block;
}
.recipe-bar2 {
    background: url("../images/recipe-bar2.png") no-repeat scroll center bottom #040c17;
    padding-bottom: 4px;
}
.recipe1 img {
    border: 1px solid #4a4a4a;
    height: 50px;
    padding: 1px;
    width: 50px;
}
.recipe-bar .bar1 {
    background: url("../images/recipe-bar1.png") no-repeat scroll left top #1C1E22;
    float: right;
    height: 5px;
    width: 50%;
}
.recipe-bar .bar2 {
    background: url("../images/recipe-bar1.png") no-repeat scroll center top #1C1E22;
    height: 5px;
}
.recipe-bar .bar3 {
    background: url("../images/recipe-bar1.png") no-repeat scroll right top #1C1E22;
    float: left;
    height: 5px;
    width: 50%;
}
.recipe-pad {
    padding: 0 5px;
    vertical-align: top;
}
.recipe2 img {
    border: 1px solid #4a4a4a;
    height: 30px;
    padding: 1px;
    width: 30px;
}
.recipe-bar2 {
    background: url("../images/recipe-bar2.png") no-repeat scroll center bottom #1C1E22;
    padding-bottom: 4px;
}
.recipe-pad2 {
    padding: 0 1px;
    vertical-align: top;
}
.recipe3 img {
    border: 1px solid #4a4a4a;
    height: 15px;
    padding: 1px;
    width: 15px;
    vertical-align: top;
}
/*.recipe-container td{
    background-color: #1C1E22;
}*/
.recipe-bar .bar4 {
    background: url("../images/recipe-bar2.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 5px;
}
.recipe-pad{
  text-align: center;
}
.recipe-pad table{
  display: inline-block;
}
.recipe-container {
    position: absolute;
    right: 3px;
}
.recipe1.c{
	text-align: center;
}
.tooltipster-light .tooltipster-content{
	max-width: 550px;
}
.tooltipster-light .summary{
    padding: 10px 0;
    font-family: Tahoma, Verdana;
    font-size: 12px;
    font-style: italic;
    color: #77c7cc;
    line-height: 17px;
}
.tooltipster-light .tt-info{
	line-height: 22px;
}
.tooltipster-content .item_table span{
	min-width: 100px;
}
/*/tooltip*/

/**/
.mgt15{
	margin-top: 15px;
}
.page-navi {
    display: block;
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: right;
}
.wp-pagenavi > a,.wp-pagenavi > span{
	border: 1px solid #000 !important;
	padding: 0 !important;
	text-align: center !important;
	display: inline-block !important;
	background: #1a1c20 !important;
}
.wp-pagenavi > a > span, .wp-pagenavi > span > span{
	padding: 0 !important;
	widows: 24px !important;
	line-height: 24px !important;
	text-align: center !important;
	background: #27282c !important;
	color: #fff;
	margin: 0 !important;
	min-width: 24px !important;
	line-height: 24px !important;
	border: 1px solid #323438 !important;
	display: inline-block !important;
}
.wp-pagenavi > a.last > span{
	min-width: 60px !important;
}
.wp-pagenavi > span.current, .wp-pagenavi > a:hover{
	border: 1px solid #fdf25e !important;
}
.wp-pagenavi > span.current > span, .wp-pagenavi > a:hover > span{
	border: none !important;
	background: #f1ea52 !important; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMThhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
	background: -moz-linear-gradient(top,  #f1ea52 0%, #b18a28 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ea52), color-stop(100%,#b18a28)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1ea52 0%,#b18a28 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1ea52 0%,#b18a28 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1ea52 0%,#b18a28 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #f1ea52 0%,#b18a28 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ea52', endColorstr='#b18a28',GradientType=0 ) !important; /* IE6-8 */
}


.tree1{
	background: url(../images/mas_1.png) no-repeat center center/cover transparent;
	width: 330px;
	height: 532px;
	display: inline-block;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 80px;
    position: relative;
    vertical-align: top;
}
.tree1 .firststyle_div .mastery_div > span{
	background-position: 0px -321px;
}
.tree1 .firststyle_div .mastery_div.transparent_tree > span{
	background-position: 0px -276px;
}
.tree1 .secondstyle_div .mastery_div > span{
	background-position: 0px -561px;
}
.tree2{
	background: url(../images/mas_2.png) no-repeat center center/cover transparent;
	width: 330px;
	height: 532px;
	display: inline-block;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 80px;
    position: relative;
    vertical-align: top;
}
.firststyle_div .mastery_div{
	background-size: 51px;
	background-repeat: no-repeat;
}
.secondstyle_div .mastery_div > img{
	border-radius: 50%;
}
.firststyle_div .mastery_div > span{
	width: 46px;
	height: 46px;
	display: block;
	background-image: url(../images/hover.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100%;
	position: absolute;
	top: 0;
}
.tree2 .firststyle_div .mastery_div > span{
	background-position: 0px -137px;
}
.tree2 .firststyle_div .mastery_div.transparent_tree > span{
	background-position: 0px -91px;
}
.bd{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40%;
}
.bd.no-bd{
	background-image: url(../images/arrow.png);
}
.bd.left-bd{
	background-image: url(../images/left_arrow.png);
}
.bd.right-bd{
	background-image: url(../images/right_arrow.png);
}
.tree3{
	background: url(../images/mas_3.png) no-repeat center center/cover transparent;
	width: 330px;
	height: 532px;
	display: inline-block;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 80px;
    position: relative;
    vertical-align: top;
}
.tree3 .firststyle_div .mastery_div > span{
	background-position: 0px -505px;
}
.tree3 .firststyle_div .mastery_div.transparent_tree > span{
	background-position: 0px -461px;
}
.firststyle_div{
    display: block;
    overflow: hidden;
    position: relative;
    padding: 8px 9px;
}
.secondstyle_div, .thirdstyle_div{
    display: block;
    overflow: hidden;
    position: relative;
    padding: 11px 4.5px;
}
.firststyle_div .mastery_div:nth-child(2){
    /*float: right;*/
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
}
.secondstyle_div .mastery_div:nth-child(1),.thirdstyle_div .mastery_div:nth-child(1){
    margin-left: 0;
}
.secondstyle_div .mastery_div{
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.secondstyle_div .mastery_div > span{
	background-image: url(../images/hover2.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: cover;
	background-position: 0px -113px;
	display: block;
	width: 56px;
	height: 56px;
    position: absolute;
   	top: 0;			
   	left: 0;
}
.tree3 .secondstyle_div .mastery_div > span{
	background-position: 0px -1009px;
}
.tree2 .secondstyle_div .mastery_div.active_mas > span{background-position: 0px -168px;}
.tree2 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{background-position: 0px -280px;}
.tree2 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{background-position: 0px -392px;}
.tree3 .secondstyle_div .mastery_div.active_mas > span{background-position: 0px -1065px;}
.tree3 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{background-position: 0px -1176px;}
.tree3 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{background-position: 0px -1289px;}
.tree1 .secondstyle_div .mastery_div.active_mas > span{background-position: 0px -617px;}
.tree1 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{background-position: 0px -729px;}
.tree1 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{background-position: 0px -841px;}
.firststyle_div .mastery_div{
    width: 46px;
    height: 46px;
    /*margin-right: 8px;*/
}
.secondstyle_div .mastery_div,.thirdstyle_div .mastery_div{
    width: 56px;
    height: 56px;
    margin-left: 44px;
}
.mastery_div {
    /*float: left;*/
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 99;
    /*border: 2px solid #978a75;*/

}
.secondstyle_div .mastery_div,.thirdstyle_div .mastery_div {
    float: none;
    vertical-align: top;
}
.secondstyle_div{
    text-align: justify;
}
.mastery_div > .max_add{
	background: transparent url("../images/points-bg.png") no-repeat scroll center center/ 100% 100%;
    color: #FFDE00;
    font-size: 10px;
    height: 16px;
    margin: -7px 0 0 3px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    width: 31px;
    z-index: 100;
    line-height: 12px;
    right: -9px;
}
.total_mas {
    font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-top: -24px;
	margin-bottom: 4px;
	color: #f0e6d2;
	font-family: BeaufortforLOL, serif;
}
.total_count{
	color: #c9a452;
	font-size: 32px;
	position: absolute;
	top: 5px;
	left: 44%;
	font-family: BeaufortforLOL, serif;
	font-weight: 700
}
.m_masteries{
	margin-bottom: 15px;
}
.bgtree{
	text-align: center;
}
.bgtree > h5{
	color: #ccc;
	margin-bottom: 10px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.transparent_tree:not(.dis_add) img {
    filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.content_post_default ul{
	padding-left: 20px;	
}
.content_post_default img{
	max-width: 100%;
}
.content_post_default{
	margin-top: 0;
}
.detail_post_default{
	color: #ddcb77;
    font-family: RobotoCondensed-Bold;
    font-size: 22px;
    line-height: 32px;
}
.nobbt{
	border-bottom: none;
}
.detailBlock .titlediv >div > div {
    border: 1px solid #323438;
    display: block;
    padding: 5px;
    text-align: center;
}
.detailBlock .titlediv > div{
    border: 1px solid #000;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;

	background: #222629; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #222629 0%, #1a1b1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222629), color-stop(100%,#1a1b1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #222629 0%,#1a1b1f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #222629 0%,#1a1b1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222629', endColorstr='#1a1b1f',GradientType=0 ); /* IE6-8 */
}
.titlediv {
    margin-top: 2px;
}
.detailBlock .titlediv >div > div .champ_name{padding-bottom: 7px;}
.detailBlock .titlediv >div > div .champ_des{padding-bottom: 7px;}
.scence_bk{
	padding: 7px 5px;
	text-align: center;
}
.top_head {
    background: #151514 none repeat scroll 0 0;
    border-bottom: 1px solid #393939;
}
#searchform{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #444444 0%, #222222 100%) repeat scroll 0 0;
    border: 1px solid #0E0E0E;
    border-radius: 4px;
    margin-top: 12px;
    padding: 5px 10px 6px;
    position: relative;
    white-space: nowrap;
    width: 423px;
    float: right;
}
#searchform > div {
    color: #f7cd07;
    display: inline-block;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: -2px;
}
.textSearch.form-control {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #232323 0%, #171717 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 black inset, 0 0 15px 0 rgba(0, 0, 0, 0.15) inset, 1px 1px 1px 0 rgba(255, 255, 255, 0.1);
    box-sizing: content-box;
    color: white;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    padding: 5px 7px 6px;
    vertical-align: top;
    width: 300px;
    display: inline-block;
}
.logo{
	padding-top: 7px;
	padding-bottom: 7px;
}
.author_post{
	font-family: tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #bbb;
}
.all_champions {
    text-align: center;
}
.all_champions > a {
    margin-top: 10px;
	background: #212528;
	display: inline-block;
}
.all_champions > a:hover{
	border-radius: 5px;
	border: 2px solid #000;
	background: #f1ea52; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMThhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f1ea52 0%, #b18a28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ea52), color-stop(100%,#b18a28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1ea52 0%,#b18a28 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1ea52 0%,#b18a28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ea52', endColorstr='#b18a28',GradientType=0 ); /* IE6-8 */
}
.tab-all_champions > a:hover span,.all_champions > a span{
 	border: 1px solid transparent;
}
.all_champions > a span{
    color: #000;
    display: inline-block;
    font-family: RobotoCondensed-Bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 7px 17px;
    cursor: pointer;
    /*background: #f1ea52;*/
    font-size: 14px;
    line-height: 1;
    background: url(../images/new_ng.png)repeat-x center center transparent;
}
.bb_tt.ttip-rune h3{
    font-family: Tahoma;
    font-size: 11px;
    color: #ddcb77;
    margin-bottom: 5px;
    line-height: 17px;
    text-transform: uppercase;
}
.bb_tt.ttip-rune p {
    padding: 10px 0;
    font-family: Tahoma, Verdana;
    font-size: 12px;
    font-style: italic;
    color: #77c7cc;
    line-height: 17px;
    text-align: center;
}
.bb_tt.ttip-masteries h3{
	font-family: Tahoma;
    font-size: 12px;
    color: #ddcb77;
    margin-bottom: 5px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.bb_tt.ttip-masteries p{
	padding: 10px 0;
    font-family: Tahoma, Verdana;
    font-size: 12px;
    font-style: italic;
    color: #77c7cc;
    line-height: 17px;
}

.top_menu {
    background: #1d1d1d none repeat scroll 0 0;
    border: 1px solid #282727;
    box-shadow: 0 1px 8px 3px #101010 inset, 0 -1px 8px 3px #101010 inset;
    overflow: hidden;
}
.top_menu li img{
	margin-right: 5px;
	height: 17px;
}
.top_menu li a {
    color: #ddcb77;
    display: block;
    font: 12px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    padding: 4px 10px !important;
    text-transform: uppercase;
}
.top_menu li a:hover{
	content: #f1ea52;
	background-color: rgba(255, 255, 255, 0.05);
}
.top_menu li {
    border-right: 1px solid #131212;
    box-shadow: 1px 0 0 0 #282727;
    float: left !important;
    list-style: outside none none;
    padding: 0;
}
ul.menu_top {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #252525 0%, #171717 100%) repeat scroll 0 0;
    border: medium none;
    margin: 0 auto;
    padding: 0;
}
.thumbnail_guide {
    float: left;
    width: 80px;
    margin-right: 8px;
}
.more_guide_de {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.col-md-6 .more_guide_de:last-child{
	margin-bottom: 0;
}
.more_guide_de .detail_guide >a {
    color: #fff;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.more_guide_de .detail_guide >a:hover{
	color: #f1ea52;
}
.more_guide_de .tooltipster-item{
	margin-right: 3px;
}
.thumb_champ_r {
    float: left;
    margin-right: 10px;
    width: 80px;
}
.champ_right {
    display: block;
    overflow: hidden;
    position: relative;
}
.champ_right .detail_champ_r > h2 {
    color: #fff;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    position: absolute;
    left: 105px;
    top: 30px;
}
.champ_right .detail_champ_r > h4{
	color: #f1ea52;
	position: absolute;
    left: 100px;
    top: 60px;
}
.champ_right .detail_champ_r > a {
    background: transparent url("../images/new_ng.png") repeat-x scroll center center;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    line-height: 1;
    padding: 7px 17px;
    text-transform: uppercase;
    position: absolute;
    right: 10px;
    top: 40px;
}
.champ_right .more_guide_de .detail_guide > a{
	line-height: 16px;
	font-size: 12px;
	margin-bottom: 5px;
}
.champ_right .thumbnail_guide{
	width: 64px;
}
.champ_right hr{
	border-color: #666;
    margin-top: 10px;
}
.ct_masteries .col-md-7{
	margin-top: 25px;
}
/*MOI THEM*/
.item_nice_list{
    text-align: center;
}
#items_nice h4{
	margin-bottom: 7px;
}
.item_nice_list .img_items{
    display: inline-block;
    margin: 0 3px 3px;
}
.content_nice_item{
	padding-left: 137px;
	padding-right: 137px;
}
.content_nice_item #content_nice_item_dota{
	padding-left: 20px;
	padding-right: 20px;
}
body
{
	-moz-user-select: none !important;
	-webkit-touch-callout: none!important;
	-webkit-user-select: none!important;
	-khtml-user-select: none!important;
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
}


/* DOTA */
.ic_str, .ic_agi, .ic_int{
	padding: 10px 0;
    text-align: center;
}
.ic_str > img,
.ic_agi > img,
.ic_int > img {
    border: 3px solid #454545;
    border-radius: 50%;
}
.ic_str.active > img, 
.ic_agi.active > img, 
.ic_int.active > img{
	border-color: #F9F9F9;
}
.ic_Detail{
	color: #a0a0a0;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    line-height: 20px;
}
.titleHeroes{
	color: rgba(255, 255, 255, 0.4);
    font-family: RobotoCondensed-Regular;
    padding: 10px 0;
}
.hr_dota{
	border-color: rgba(255, 255, 255, 0.1);
	margin-top: 15px;
	margin-bottom: 15px; 
}
.recipe_dota .recipe-bar2 span ,.recipe_dota .recipe2 td{
    position: relative;
    display: inline-block;
}
.tr_price {
    width: 50px;
    position: absolute !important;
    bottom: -2px;
    left: 0;
    font-size: 9px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    height: 14px;
    font-family: RobotoCondensed-Regular;
}
span.tr_price2 {
    width: 30px;
    position: absolute;
    bottom: -8px;
    left: 0;
    color: #fff;
    font-size: 9px;
    height: 14px;
    background: rgba(0,0,0,0.3);
    font-family: RobotoCondensed-Regular;
}
.tooltipster-light .tt-info.tt-info-dota{
	line-height: 18px;
	font-size: 11px;
}
.tt-info.tt-info-dota.tt-note {
    color: #888;
    font-style: italic;
    line-height: 15px;
}
.tt-info.tt-info-dota.tt-function {
    color: #888;
    line-height: 17px;
    padding-bottom: 10px;
}
span.tt-info-cooldown {
    width: 30%;
    display: inline-block;
    padding: 10px 0 10px 25px;
    background: url(../images/cooldown.png) no-repeat left center transparent;
}
span.tt-info-manacost {
    width: 30%;
    display: inline-block;
    padding: 10px 0 10px 25px;
    background: url(../images/mana.png) no-repeat left center transparent;
}
.champ_des.heroes_des span:first-child {
    min-width: 45px;
    line-height: 18px;
}
.detailBlock .skill_champ.skill_heroes li:nth-child(6){
	margin-left: 0;
}
.heroes_name{
	text-align: center;
	font-size: 21px;
	color: #fff;
	font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif;
	line-height: 28px;
	padding-bottom: 10px;
}
.heroes_sum {
    color: #aaa;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
	font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif;
    text-align: center;
}
.table-dt-des td {
    background: #111 none repeat scroll 0 0;
    color: #808080;
    font-size: 10px;
    padding: 3px;
    min-width: 80px;
    text-transform: uppercase;
    border: 1px solid #252525;
}
.table-dt-des{
	border: 2px solid #252525;
	margin: 15px 0;	
}
.table-dt-des table{
	width: 100%;
	color: #aaa;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.table-dt-des table tr td:last-child{
	color: #fff;
	line-height: 14px;
}

.table-dt-stats table{
	width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	color: #aaa;
    text-transform: uppercase;
}
.table-dt-stats table tr td{
	padding: 2px;
}
.table-dt-stats table tr td:first-child{
	width: 80px;
    font-size: 10px;
    color: #606060;
}
.table-dt-stats table tr td:first-child img{
	margin-right: 5px;
    vertical-align: -3px;
    width: 15px;
}
.table-dt-stats{
	border: 3px solid #131313;
	margin: 15px 0;
}

.table-dt-stats table tr:nth-child(2n) td{
	background-color: #101010;
}
.table-dt-stats table tr:nth-child(2n+1) td{
	background-color: #181818;
}
.table-dt-stats table tr td:last-child{
	border-left: 1px solid #131313;
	color: #00ff00;
}
.detailBlock .heroes_skill ul li{
	background: transparent;
	box-shadow: none;
	margin-bottom: 5px;
	border: none;
}
.detailBlock .heroes_skill ul li > div{
	border: none;
	float: left;
}
.detailBlock .heroes_skill ul li > div img{
	background: #111 none repeat scroll 0 0;
    border: 1px solid #2d2d2d;
    height: 60px;
    margin-right: 5px;
    padding: 3px;
    width: 60px;
}
.detailBlock .heroes_skill ul li > div.dt-ski{
	background: #111 none repeat scroll 0 0;
    border: 1px solid #2d2d2d;
    color: #6f6f6f;
    font-size: 10px;
    height: 60px;
    line-height: 16px !important;
    overflow: hidden;
    padding: 3px;
    width: 85%;
    font-family: Lucida Sans Unicode,Arial,Helvetica,sans-serif
}
.heroes_skill .dt-ski h4 {
    color: #c0c0c0;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 3px;
}
.img-fe {
    width: 15%;
}
.red{
	color: #ff0000;
}
.green{
	color: #00ff00;
}
.blue{
	color: #00ffff
}
.extend li img {
    background: #111 none repeat scroll 0 0;
    border: 1px solid #2d2d2d;
    height: 40px;
    margin: 1px;
    padding: 2px;
    width: 40px;
}
.detailBlock .heroes_skill ul.extend li{
	display: inline-block;
}
.bio-wrap {
    background: #111111 none repeat scroll 0 0;
    border: 1px solid #2d2d2d;
    color: #6f6f6f;
    font-size: 11px;
    line-height: 1.6em;
    min-height: 159px;
    padding: 8px;
}
.bio-height {
    height: 159px;
    overflow: hidden;
}
.img-bdr {
    border: 1px solid #7f281e;
    padding: 3px;
    float: left;
}
.mr10 {
    margin-right: 10px;
}
.btn-expand {
    background: rgba(0, 0, 0, 0) url("../images/forum-btn.png") repeat-x scroll center top;
    border: 1px solid #3b3b3b;
    color: #dccabe;
    display: block;
    font-size: 10px;
    margin-top: 2px;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.table_skill_dota.table_skill .table > tbody > tr > td span{
	width: 20px;
	font-size: 11px;
}
.heroes_skill{
	width: 22%;
	float: left;
	padding-left: 5px;
}
.tooltipster-item-dota{
	cursor: pointer;
	color: #ddcb77;
}
.tooltipster-dota .tooltipstered{
	color: #ddcb77;
}
.qcshow {
    bottom: 0;
    height: 90px;
    left: calc((100% - 728px) / 2);
    position: fixed;
    width: 728px;
    background: transparent;
}

.contentPostStyle .tab-content.categame > div{
	padding: 15px 22.5px;
}
.categame > div > .row > .col-md-3{
	padding: 0 7.5px;
}
.related_post.categame .bigDetail > a{
	margin-top: 5px;
}
.related_post.categame .bigDetail .thumbImg{
    position: relative;
}
.bigDetail .dateTime.typegame{
	margin-bottom: 5px;
	padding-top: 5px;
}
.viewmore{
	background: transparent url("../images/new_ng.png") repeat-x scroll center center;
	display: block;
	border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    text-align: center;
    padding: 7px 17px;
    text-transform: uppercase;	
}
.viewmore:hover{
	color: #000;
}
.viewmore i{
	margin-right: 5px;
}
.loadingcat {
  background: rgba(41, 41, 41, 0.6) none repeat scroll 0 0;
  height: 100%;
  overflow: hidden;
  padding-top: 20%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: none;
}
.loadingcat > div {
  background: rgba(41, 41, 41, 0.8) none repeat scroll 0 0;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 30px 100px;
}
.hoverdiv{
  	background: #212528;
  	border: 3px solid #000;
  	border-radius: 3px;
  	display: none;
  	position: absolute;
  	width: 500px;
  	left: 50%;
  	font-family: Roboto-Regular;
  	top: 35%;
  	z-index: 999;
    color: #fff;
}
.listdata .bigDetail:hover .hoverdiv{
	display: block;
}
.hoverdiv h3 {
    font-size: 16px;
    font-weight: bold;
  	font-family: RobotoCondensed-Bold;
    padding: 15px;
    text-transform: uppercase;
}
.hoverdiv ul{
	list-style: none;
}
.hoverdiv ul li{
	line-height: 22px;
	font-size: 14px;
}
.homepage {
    background: #c9af38 none repeat scroll 0 0;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.fanpage {
    background: #9A0209;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.hoverdiv .col-md-4, .hoverdiv .col-md-8{
	padding: 0 15px;
}
.hoverdiv .col-md-4{
	padding-right: 7.5px;
}
.hoverdiv .col-md-8{
	padding-left: 7.5px;
}
.fanpage:hover, .homepage:hover, .linkdownload:hover{
	color: #fff;
}
.hoverdiv p {
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: justify;
}
.no-pdr{
	padding-right: 0;
}
.slideshowgame .owl-controls .owl-pagination{
	display: none !important;
}
.slideshowgame .owl-controls{
	margin-top: 0;
	background: #000;
}
.bold{
	font-weight: bold;
}
.slideshowgame .owl-theme .owl-controls .owl-buttons div{
	background: transparent;
	font-size: 22px;
}
.title_game {
  	color: #fff;
  	font-size: 30px;
  	text-transform: uppercase;
  	font-family: RobotoCondensed-Bold;
  	line-height: 36px;
  	margin-bottom: 20px;
}
.detail-game{
	line-height: 26px;
	color: #fff;
}
.descriptiongame{
	margin-top: 20px;
}
.nobr{
	border: none;
}
.linkdownload {
    background: #8D8C8C;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.banner-footer{
	margin: 15px 20px;
}
.dateTime.typegame{
	padding: 5px 0 10px;
	line-height: 14px
}
.game_info .homepage, .game_info .fanpage{
	color: #fff !important;
	text-transform: none;
	font-size: 14px;
	font-weight: normal;
}
.attributes{
	width: 460px;
	height: 284px;
	background: url(../images/bg_att.png) no-repeat center center transparent;
	display: inline-block;
	margin: 10px 0 30px;
}
.attributes > p{
	font-size: 14px;
	color: #90abab;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	line-height: 36px
}
.attributes .line{
	height: 52px;
	margin-bottom: 8px;
}
.attributes .line .left_attribute,
.attributes .line .right_attribute{
	float: left;
	width: 210px;
	height: 100%;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
.attributes .line .active{
    color: #EECC8A;
	text-shadow: 0px 0px 10px rgba( 244, 98, 4, 0.8 );
}
.attributes .line .middle_attribute{
	float: left;
	width: 36px;
	height: 100%;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    color: #EECC8A;
	text-shadow: 0px 0px 10px rgba( 244, 98, 4, 0.8 );
}