@media (min-width: 1200px) {
	.dePost{
		min-height: 339px;
	}
	.bordery > .col-md-8{
		padding-right: 0;
	}
	.menuFooter ul li:nth-child(4){
		border-right: none;
	}
	.info_item {
	    min-width: 450px;
	}
}
