@media (max-width: 767px) {
	#searchform{
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.textSearch.form-control{
		width: 80%;
	}
	.news{
		display: none;
	}
	.deSlideshow .detailPost{
		padding: 0;
	}
	.dePost{
		padding-top: 10px;
	}
	.dePost > h3 a{
		font-size: 16px;
		line-height: 24px
	}
	.dateTime{
		padding: 10px 0;
	}
	.owl-theme .owl-pagination .owl-page span.owl-numbers{
		line-height: 32px;
	}
	.bigDetail .sum{
		margin-bottom: 10px;
	}
	.detailBlock > div{
		padding: 15px 0 0;
	}
	.detailBlock ul li{
		margin-bottom: 0;
	}
	.bigDetail > a{
		font-size: 14px;
		line-height: 20px;
	}
	.rightItem a{
		font-size: 12px;
		line-height: 18px
	}
	#homenewstyle2-2 .detailBlock > div{
		padding: 0;
	}
	.style2 .col-md-4, .tab-content .col-md-4{
		padding: 0;
	}
	.style2 .bigDetail > a{
		padding: 0 10px;
	}
	#homenewstyle2-2 .bigDetail .dateTime{
		padding-left: 10px;
		padding-right: 10px;
	}
	.champion_top_10{
		width: calc(20% - 3px);
	}
	.qcshow{
		display: none;
	}
	.header .qc > div{
		display: none;
	}
	.titleBig{
		float: none;
	}
	.titleBig .col-md-6:last-child{
		display: none;
	}
	.titleBig .breadcrumbs{
		display: none;
	}
	.contentPostStyle .tab-content > div > h1{
		font-size: 16px;
		line-height:24px;
		margin-bottom: 10px
	}
	.content_post_champ, .content_post_default{
		font-size: 12px;
		line-height: 18px;
	}
	.related_post .bigDetail .thumbImg > div{
		padding-left: 0;
	}
	.pdr75{
		padding-right: 15px;
	}
	.pdl75{
		padding-left: 15px;
	}
	.search_champ{
		width: 100% !important;
		padding: 0 15px !important;
	}
	.champ_thumb{
		margin: 5px 6px !important;	
	}
	.champ_thumb img{
		width: 70px !important;
		height: 70px !important;
	}
	.champ_thumb h3{
		font-size: 6px !important;
	}
	.blockHome center{
		overflow: hidden;
	}
	.champ_des{
		padding: 8px 0;
	}
	.detailBlock .skill_champ li{
		width: 83px;
		height: 83px;
	}
	.scence_bk{
		display: none;
	}
	.detailBlock .skill_champ{
		margin-bottom: 20px;
	}
	.detail_post_champ > div > h1{
		font-size: 16px;
		line-height: 22px;
	}
	div.menu_content{
		background: #000 !important
	}
	.menu_content > div{
		margin: 0;
		min-width: 100%;
		width: 100%;
	}
	.main_post > div:first-child{
		border-top: none;
	}
	.title_mp > h3{
		font-size: 12px;
	}
	.title_mp a span{
		margin-top: -48px;
	}
	.title_mp > a{
		display: none;
	}
	.pros_cons .img-thumb{
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center
	}
	.tree2{
		width: 100%;
		height: auto
	}
	.ct_masteries .row{
		margin: 0 -10px;
	}
	.ct_masteries .col-md-5,.ct_masteries .col-md-7{
		padding: 0;
	}
	.tree2, .tree3, .tree1{
		width: 230px;
		height: 398px;
		padding: 10px 0 0;
		background-size: cover;
	}
	.secondstyle_div .mastery_div, .thirdstyle_div .mastery_div{
		margin-left: 26px;
	}
	.firststyle_div .mastery_div:nth-child(2){
		margin-right: 8px;
	}
	.firststyle_div .mastery_div{
		width: 40px;
		height: 40px;
	}
	.mastery_div > .max_add{
		right: 2px;
	}
	.secondstyle_div .mastery_div, .thirdstyle_div .mastery_div{
		width: 46px;
		height: 46px;
	}
	.tree2 .secondstyle_div:nth-child(2) .active_mas:before,
	.tree3 .secondstyle_div:nth-child(2) .active_mas:before,
	.tree1 .secondstyle_div:nth-child(2) .active_mas:before{
		background-position: -11px -11px;
		background-size: 150%;
		width: 48px;
		height: 48px;
	}
	.tree2 .secondstyle_div:nth-child(4) .active_mas:before,
	.tree3 .secondstyle_div:nth-child(4) .active_mas:before,
	.tree1 .secondstyle_div:nth-child(4) .active_mas:before{
		background-position: -23px -30px;
		width: 56px;
		height: 55px;
		background-size: 190%
	}
	.tree2 .thirdstyle_div .active_mas:before,
	.tree3 .thirdstyle_div .active_mas:before,
	.tree1 .thirdstyle_div .active_mas:before{
		background-size: 190%;
		background-position: -24px -105px;
		width: 56px;
		height: 55px;
	}
	.firststyle_div, .secondstyle_div, .thirdstyle_div{
		padding: 6px 9px;
	}
	.total_mas{
		font-size: 12px;
		margin-left: 10px;
		margin-top: 30px;
	}
	.firststyle_div .mastery_div > span{
		width: 40px;
		height: 40px;
	}
	.tree2 .firststyle_div .mastery_div.transparent_tree > span{
		background-position: 0px -80px;
	}
	.tree2 .firststyle_div .mastery_div > span{
		background-position: 0px -120px;
	}
	.tree3 .secondstyle_div:nth-child(4) .active_mas:before{
		background-position: -23px -34px;
	}
	.tree3 .thirdstyle_div .active_mas:before{
		background-position: -24px -100px;
	}
	.dt_skill{
		margin-bottom: 10px;
	}
	.dt_skill span{
		margin-bottom: 4px;
	}
	.tree1 .secondstyle_div:nth-child(4) .active_mas:before{
		background-position: -7px -75px;
		width: 58px;
		background-size: 130%
	}
	.tree1 .thirdstyle_div .active_mas:before{
		background-size: 125%;
		background-position: -6px -140px;
		width: 58px;
	}
	.main_post > div{
		padding: 10px 0;
	}
	.skills .title_mp h3{
		padding: 0 10px;
	}
	.table-responsive{
		border: none;
	}
	.table_skill .table > tbody > tr > td:first-child{
		width: 30px !important;
		display: block;
	}
	.full_items_div{
		padding: 30px 15px;
		margin: 0 -15px;
	}
	.ct_items > h4, .blockgameplay > h4{
		font-size: 12px;
		text-align: left;
	}
	.items_block .col-md-6{
		margin-bottom: 30px;
	}
	.content_nice_item{
		padding: 0;
	}
	.ct_gameplay_video iframe{
		max-height: 250px !important;
	}
	.guide-threats{
		display: none;
	}
	.threat-desc table{
		max-width: 600px !important;
		width: 600px !important;
	}
	.threat-desc table td, .threat-desc table th{
		border-top: none !important;
	}
	.threat-desc table td.pic{
		padding-top: 10px;
		width: 55px;
	}
	.threat-desc table td.threat{
		padding-top: 12px;
	}
	.threat-desc table td.name{
		padding-top: 12px;
	}
	.threat-desc table td:last-child{
		font-family: robotocondensed-regular;
		white-space: normal !important;
	}
	.more_guide_de .detail_guide >a{
		font-size: 12px;
		line-height: 18px;
	}
	.thumbnail_guide{
		width: 60px
	}
	div.detail_guide_item{
		float: right
	}
	.table-dt-des{
		border: none;
	}
	.heroes_skill{
		padding-left: 0;
	}
	.heroes_dotas.detailBlock > div{
		padding: 15px 0 !important;
	}
	.heroes_thumb > a{
		width: 37px !important;
	}
	.detailBlock .heroes_skill ul li{
		margin-bottom: 0 !important;
	}
	.detailBlock .heroes_skill ul li > div img{
		border: none !important;
		height: 55px !important;
	}
	.extend li img{
		border: none !important;
		height: 35px !important;
		margin: 1px 0 !important;
		width: 35px !important;
	}
	.btn-expand{
		margin-bottom: 15px !important;
	}
	.secondstyle_div .mastery_div > span{
		width: 46px;
		height: 46px;
		background-position: 0px -92px;
	}
	.tree2 .secondstyle_div .mastery_div.active_mas > span{
		background-position: 0px -138px;
	}
	.tree2 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{

		background-position: 0px -230px;
	}
	.secondstyle_div .mastery_div:nth-child(1), .thirdstyle_div .mastery_div:nth-child(1){
		margin-left: 7px;
	}
	.tree3 .firststyle_div .mastery_div.transparent_tree > span{
		background-position: 0px -400px;
	}
	.tree3 .firststyle_div .mastery_div > span{
		background-position: 0px -440px;
	}
	.tree3 .secondstyle_div .mastery_div > span{
		background-position: 0px -828px;
	}
	.tree3 .secondstyle_div .mastery_div.active_mas > span{
		background-position: 0px -874px;
	}
	.tree3 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{
		background-position: 0px -966px;
	}
	.tree3 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{
		background-position: 0px -1058px;
	}
	.tree1 .firststyle_div .mastery_div.transparent_tree > span{
		background-position: 0px -240px;
	}
	.tree1 .firststyle_div .mastery_div > span{
		background-position: 0px -320px;
	}
	.tree1 .secondstyle_div .mastery_div > span{
		background-position: 0px -460px;
	}
	.tree1 .secondstyle_div .mastery_div.active_mas > span{
		background-position: 0px -506px;
	}
	.tree1 .secondstyle_div.secondstyle_2 .mastery_div.active_mas > span{
		background-position: 0px -598px;
	}
	.tree1 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{
		background-position: 0px -690px;
	}
	.tree2 .secondstyle_div.secondstyle_3 .mastery_div.active_mas > span{
		background-position: 0px -322px;
	}
	.detailBlock .skill_champ li:nth-child(6){
		 margin-left: 0px; 
	}

}

/*.blockHome {
    margin-top: 50px;
}
.pdr75 {
    margin-bottom: 10px;
}
.champ_des {
    font-size: 11px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.champ_des span:first-child {
    min-width: 100px;
}
.item_table span {
    line-height: 25px;
    padding-left: 5px;
    min-width: 70px;
    font-size: 10px;
}
.item_table ul li {
	height: 15px;
    width: 9px;
}
.detailBlock .skill_champ {
	margin-top: 10px;
}
.detailBlock .skill_champ li {
    width: 20%;
    height: 20%;
}
.detailBlock .skill_champ li div {
    padding: 2px;
}
.scence_bk {
    padding-top: 7px;
   display: none;
}
*/