.font {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.wz {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}
.wznr {
	font-family: "宋体";
	font-size: 12px;
	line-height: 40px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.wp {
	font-family: "宋体";
	font-size: 12px;
	line-height: 5px;
	font-weight: normal;
	text-decoration: none;
}
.lx {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #5C3317;
	text-decoration: none;
}
.an1 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.an {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.new {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #FF3300;
	text-decoration: none;
}

.wz:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}
.wz:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}
.wz:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.newbt {
	font-family: "宋体";
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}
.wzb {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}