.header { height: 84px; }
.menu .lgoSite { height: 91px;}
.menu .lgoSite a { margin-top: 20px; }
.menu .lgoSite:before { height: 92px; }
#socialSearch { display: none; }
#content { margin-top: 100px; }
#prevBtnEdt, #prevBtnCont, #nextBtnEdt, #nextBtnCont { display: none !important; }
.menuBlocks>div.col-1 { display: none; }


.menuFooter { min-width: 0;  display: none; }

.alignCont { width: 751px; }
.header .menuSite { width: 60%; }
.header .menuSite li:nth-child(6) { clear: left; border-left: 0; }
.header .menuSite li { border-bottom: 1px solid #292f53; }
.header .menuSite li:nth-child(6), .header .menuSite li:nth-child(6) + li { border-bottom: 0; }
#MainContent>div.col-2 { display: none; }
#MainContent.two-cols>div.col-1 { width: 100%; }
.menuSite li:hover .submenu { display: none; }
#plugins li #blc_login {right: -140px;}


.menuBlocks>.col-2 { width: 100%; }
/* Featured */
ul.specialFeatured>li { width: 236px; height: 236px; margin-left: 20px; }
ul.specialFeatured>li img { width: 236px; height: 236px; }
ul.specialFeatured li:hover div { height: 236px; }
/* Col 2 */
.menuBlocks>.col-2>.block { padding: 0;}
/* Universal TV */
.listDests li { width: 172px; margin-left: 19px; }
.listDests li img { width: 172px; }
/* Mediabox */
#MainMediabox { width: 502px; }
#MainMediabox ul.mediaList li { width: 158px; }
#MainMediabox ul.mediaList li a { font-size: 15px;}
/* Gallery */
.GalleryHome { width: 748px; }
.GalleryHome .menuHidden li {width: 33%; }
.sliderGal .mask { width: 747px; }
.gal #ftoFull img { width: 100%; }
/* Slider Time */
.sliderTime .mask { width: 674px; margin: 0 18px; }
.sliderTime a.btnNext { right: -22px; }
.sliderTime a.btnPrev { left: -22px; }
.timelineBlock>a.btnPrev { left: 0; }
.timelineBlock>a.btnNext { right: 17px; }
.timelineBlock>div.timeLineMenu {width: 720px; margin: 0; }
.timelineBlock { padding: 0 20px; }
.addressBlock div.widgetBlock h3:before {left: 3px; -webkit-transform: scale(0.90); -moz-transform: scale(0.90); -o-transform: scale(0.90); -ms-transform: scale(0.90); transform: scale(0.90); }
.addressBlock div.widgetBlock { padding-left: 150px; }
.addressBlock input[type=text] { width: 190px; font-size: 9px; line-height: 15px; }
.addressBlock button[type=submit] { padding: 0 15px 0 44px }
.addressBlock button[type=submit]:before {width: 33px; } 
.addressBlock button[type=submit]:after {right: 70px}
.addressBlock div.texts {margin-right: 16px; }

/* Blogs */
#blocksBottom.three-cols .col-1, #blocksBottom.three-cols .col-2, #blocksBottom.three-cols .col-3 { width: 100%; float: none; padding-top: 1px; }
ul.listBlogs li, ul.listBlogs li img { width: 230px; }
/* Hide Another Columns*/
#blocksBottom.three-cols .col-2, #blocksBottom.three-cols .col-3 { display: none;  }

#socialProjectsBlock .specialFeatured li:nth-child(2n+1) { margin-left: 20px;}
#socialProjectsBlock .specialFeatured li:first-child { margin-left: 0px;}
#socialProjectsBlock .specialFeatured li, #socialProjectsBlock .specialFeatured li img { width: 167px; }

#ThreeBottom { display: none; }
#ThreeBottom + #ThreeBottom { display: block; }

#ThreeBottom.three-cols>.col-1, #ThreeBottom.three-cols>.col-2, #ThreeBottom.three-cols>.col-3 { width: 233px;}
#ThreeBottom.three-cols iframe { width: 233px !important; }

#InstaField ul { overflow: hidden; }
#InstaField ul li{ width: 98px; height: 98px;}
#InstaField ul li img { width: 88px; height: 88px;  }

#InstaField span.followers { display: none; }

#InstaField ul li:nth-child(3n+1) { margin-left: 10px; clear: none; }
#InstaField ul li:nth-child(2n+1) { margin-left: 0px;  }
#InstaField ul li + li + li + li + li + li + li { display: none;  }

/* Mediabox */
#MainMediabox #mediaShow>ul>li { width: 509px; }
#MainMediabox #mediaShow ul li figcaption h3 { width: 364px;}

/* Agenda */
.agenda { width: auto; margin: 0 10px 20px 10px}
.agenda caption { width: auto; margin: 10px; }
.eventBlock { width: 169px; }
.eventBlock>div>a>img { width: 167px ; }

#popNews { margin-right: 0; }

.menu .menuSite>li:hover>a:after { display: none; }
.articlePos article .col-3, .articlePos article .col-1 { display: none; } 
.articlePos { width: 716px; margin-left: -352px; top: 81px; }
.articlePos article { background: #FFF; width: 716px; }

div.centeredBtn div { width: 716px;  }
div.centeredBtn { top: 81px; right: -10px; }

#nextEvents .eventBlock { margin-left: 70px;  }
#nextEvents .destEvents li.eventBlock:nth-child(4n+1) { margin-left: 70px; }
#nextEvents .destEvents li.eventBlock:nth-child(3n+1) { margin-left: 0px; }

.BishopBar { display: block !important; }

a.galerieExpand, a.btnPrevPhoto, a.btnNextPhoto { display: none !important; }

.specialFeatured.diferentSizes.greatOne li:first-child img {width: auto; height: auto; }

.specialFeatured.diferentSizes.greatOne + style + .specialFeatured li,
.specialFeatured.diferentSizes.greatOne + style + .specialFeatured li img,
.specialFeatured.diferentSizes + .specialFeatured li,
.specialFeatured.diferentSizes + .specialFeatured li img
{
	width: 237px;
	height: 237px;
}

.specialFeatured.diferentSizes.greatOne + style + .specialFeatured li:hover div {
	height: 193px;
}

.specialFeatured.diferentSizes li:first-child img { width: auto; height: auto; }

.imgPromessa { width: 750px; }
.btnReloadPromessa {margin-left: -220px !important;}

#vidsBlockCont .col-2.expanded .two-cols .col-2 #bibliaOnline { display: none; }

#FaleConoscoBlock .two-cols .col-2 { display: none; }
#FaleConoscoBlock .two-cols .col-1 { width: 750px; }
#FaleConoscoBlock .two-cols .col-1 img { width: 750px; }

#biblia #blc_nav_livros { overflow-y: scroll !important; -webkit-overflow-scrolling: touch !important; }

#BibliaBlock .two-cols>.col-1  { width: 780px; float: right; }
#biblia #blc_nav_livros { float: left; width: 180px; }

.specialFeatured.diferentSizes.greatOne li:first-child { width: 750px; height: 299px; }
.specialFeatured.diferentSizes.greatOne li:first-child img { width: 750px; height: 299px; }
ul.specialFeatured.diferentSizes.greatOne li:first-child:hover div { height: 299px; }
ul.specialFeatured.diferentSizes.greatOne li:first-child:hover div { width: 100%; }


.specialFeatured.diferentSizes li:first-child,
.specialFeatured.diferentSizes li:first-child img,
ul.specialFeatured.diferentSizes li:first-child:hover div { 
	width: 494px;
	height: 280px;
}
.specialFeatured.diferentSizes li + li,
ul.specialFeatured.diferentSizes li + li:hover div { height: 130px; }


#imageDestBlock {
	width: 751px;
	margin-left: 0; 
	height: 501px; 
}
#imageDestBlock img {
	width: 751px;
	height: 501px;
}