@charset "utf-8";
/*
  Helper
----------------------------------------------------------------------------------------------------*/
.ofh {
  overflow: hidden !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.posr {
  position: relative !important;
}

.posa {
  position: absolute !important;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.vat {
  vertical-align: top !important;
}

.vam {
  vertical-align: middle !important;
}

.vab {
  vertical-align: bottom !important;
}

.bdrn {
  border: none !important;
}

.dn {
  display: none;
}
.f10 {
  font-size: 75% !important;
}
.f12 {
  font-size: 100%;
}
.ft12 {
  font-size: 100% !important;
}

.f14 {
  font-size: 107.1% !important;
}


.f16 {
  font-size: 142.9%;
}

.wfn {
  font-family: "A-OTF UD 新ゴ Pr6 L","A-OTF UD Shin Go Pr6 L","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.wfb {
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}

/* Spacing Classes --------------------------------------------*/
.mod {
  margin: 12px !important;
}

.m0 {
  margin: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mts {
  margin-top: 6px !important;
}

.mtm {
  margin-top: 12px !important;
}

.mtl {
  margin-top: 18px !important;
}

.mtx {
  margin-top: 24px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mbs {
  margin-bottom: 6px !important;
}

.mbm {
  margin-bottom: 12px !important;
}

.mbl {
  margin-bottom: 18px !important;
}

.mbx {
  margin-bottom: 24px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mls {
  margin-left: 6px !important;
}

.mlm {
  margin-left: 12px !important;
}

.mll {
  margin-left: 18px !important;
}

.mlx {
  margin-left: 24px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mrs {
  margin-right: 6px !important;
}

.mrm {
  margin-right: 12px !important;
}

.mrl {
  margin-right: 18px !important;
}

.mrx {
  margin-right: 24px !important;
}

.pod {
  padding: 12px !important;
}

.p0 {
  padding: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pts {
  padding-top: 6px !important;
}

.ptm {
  padding-top: 12px !important;
}

.ptl {
  padding-top: 18px !important;
}

.ptx {
  padding-top: 24px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pbs {
  padding-bottom: 6px !important;
}

.pbm {
  padding-bottom: 12px !important;
}

.pbl {
  padding-bottom: 18px !important;
}

.pbx {
  padding-bottom: 24px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pls {
  padding-left: 6px !important;
}

.plm {
  padding-left: 12px !important;
}

.pll {
  padding-left: 18px !important;
}

.plx {
  padding-left: 24px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.prs {
  padding-right: 6px !important;
}

.prm {
  padding-right: 12px !important;
}

.prl {
  padding-right: 18px !important;
}

.prx {
  padding-right: 24px !important;
}

.ctp_s {
  padding: 0px 12px !important;
}

.ctp_l {
  padding: 0px 25px !important;
}

/* Text Decorative Classes --------------------------------------------*/
.fwb {
  font-weight: bold;
}

.fwn {
  font-weight: normal !important;
}


/* show only SP --------------------------------------------*/
.showOnlySp {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .showOnlySp {
    display: block !important;
  }
}

/*
  Container
----------------------------------------------------------------------------------------------------*/
#page {
  min-width: 984px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #page {
    min-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  #page {
    min-width: 280px;
  }
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

.container {
  width: 984px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .containerPc {
    display: none;
  }
}

.containerSp {
  display: none;
}
@media screen and (max-width: 768px) {
  .containerSp {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .viewPc {
    display: none !important;
  }
}

/*
  Header
----------------------------------------------------------------------------------------------------*/
#headerArea {
  background: #FFF;
  position: relative;
  z-index: 100;
  *text-align: left;
  font-family: "A-OTF UD 新ゴ Pr6 L","A-OTF UD Shin Go Pr6 L","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  #headerArea {
    border-bottom: 1px solid #e6e9ee;
  }
}
#headerArea .icon_window {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  vertical-align: 0px;
  *zoom: 1;
}
#headerArea a:hover {
  text-decoration: underline;
}

.headerGlobal {
  padding-bottom: 72px;
}
@media screen and (max-width: 768px) {
  .headerGlobal {
    padding-bottom: 0;
  }
}
.headerGlobal .logoTop {
  display: block;
  line-height: 1;
  float: left;
  padding: 15px 0 15px;
}
@media screen and (max-width: 768px) {
  .headerGlobal .logoTop {
    float: none;
    display: block;
    width: 90px;
    text-align: center;
    padding: 16px 0 23px;
    margin: 0 auto;
  }
}
.headerGlobal .noscript {
  text-align: center;
  margin: 90px 0 -50px;
}
.headerGlobal .noscript_nogn {
  text-align: center;
  margin: 20px 0 0;
}
@media screen and (max-width: 768px) {
  .headerGlobal .noscript {
    border-top: 1px solid #e6e9ee;
    text-align: center;
    margin: 0;
    padding: 20px 12px 20px;
  }
}

.headerUtilityArea {
  float: right;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .headerUtilityArea {
    float: none;
    line-height: 1;
  }
}

.headerUtility1 {
  padding-top: 12px;
  min-height: 15px;
}
.headerUtility1 ul li {
  padding-left: 14px;
  margin-right: 14px;
  border-left: 1px solid #e6e9ee;
}
.headerUtility1 ul li a {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
}
.headerUtility1 ul li:first-child {
  border-left: none;
}
.headerUtility1 .headerLinkOther {
  width: 736px;
  float: left;
  text-align: right;
  *height: 14px;
  *line-height: 14px;
  *overflow: hidden;
}
.headerUtility1 .headerLinkOther li {
  display: inline;
  *zoom: 1;
  *line-height: 14px;
}
.headerUtility1 .headerLinkOther li a {
  line-height: 1;
  *padding-top: 1px;
  *zoom: 1;
  *line-height: 14px;
}
.headerUtility1 .headerLinkOther .link_global a {
  *padding-top: 0;
  padding-left: 3px;
  background: none;
}
.headerUtility1 .infoSituation {
  float: right;
  text-align: right;
}
.headerUtility1 .infoSituation li {
  display: inline;
  float: right;
}
@media screen and (max-width: 768px) {
  .headerUtility1 {
    display: none;
  }
}

.headerUtility2 {
  padding-top: 9px;
  *padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .headerUtility2 {
    padding-top: 0;
  }
}
.headerUtility2 ul {
  width: 667px;
  float: left;
  padding-top: 6px;
  text-align: right;
}
.headerUtility2 ul li {
  display: inline;
  padding-left: 14px;
  margin-right: 14px;
  border-left: 1px solid #e6e9ee;
}
.headerUtility2 ul li a {
  padding-left: 9px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
}
.headerUtility2 ul li:first-child {
  border-left: none;
}
@media screen and (max-width: 768px) {
  .headerUtility2 ul {
    display: none;
  }
}
.headerUtility2 .areaRight {
  float: right;
}
@media screen and (max-width: 768px) {
  .headerUtility2 .areaRight {
    width: 100%;
    float: none;
  }
}
.headerUtility2 .areaRight .headerSearch {
  float: right;
}
@media screen and (max-width: 768px) {
  .headerUtility2 .areaRight .headerSearch {
    display: none;
  }
}
.headerUtility2 .areaRight .headerSearch fieldset {
  position: relative;
  width: 202px;
  height: 24px;
}
.headerUtility2 .areaRight .headerSearch legend {
  display: none;
}
.headerUtility2 .areaRight .headerSearch .areaSearch {
  width: 160px;
  padding: 3px 30px 3px 10px;
  height: 16px;
  line-height: 16px;
  border: none;
  background: #e6e9ee;
  border-radius: 12px;
  border: 1px solid #e6e9ee;
  transition: all 0.2s;
  color: #AAB2BE;
}
.headerUtility2 .areaRight .headerSearch .areaSearch:focus {
  outline: none;
  background: #fff;
}
.headerUtility2 .areaRight .headerSearch .btn_search {
  position: absolute;
  top: 6px;
  right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: none;
  background: url(http://media3.kddi.com/extlib/module/btn_search_01.png) no-repeat left top;
}
.headerUtility2 .areaRight p {
  float: left;
  padding-top: 6px;
}
@media screen and (max-width: 768px) {
  .headerUtility2 .areaRight p {
    display: none;
  }
}

.headerUtility2 .link_none a {
  *padding-top: 0;
  padding-left: 3px;
  background: none;
}

.headerBtnNav_sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .headerBtnNav_sp {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.headerNavTop {
  position: relative;
  z-index: 15;
  padding: 9px 0;
  *padding: 6px 0 5px;
  font-size: 85.71429%;
  line-height: 1;
  border-top: 1px solid #e6e9ee;
}
.headerNavTop .headingPage {
  float: left;
  color: #1A1A71;
  font-size: 166.66667%;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.headerNavTop .headingPage a {
  color: #1A1A71;
}
.headerNavTop .headingPage a:hover {
  text-decoration: none !important;
}
.headerNavTop .linkCat {
  float: right;
  padding-top: 4px;
}
.headerNavTop .linkCat .li_consumers {
  border-left: none;
  position: relative;
  z-index: 5;
  padding-right: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_04.gif) no-repeat right center;
}
.headerNavTop .linkCat .li_consumers > a:hover {
  text-decoration: none !important;
}
.headerNavTop .linkCat li {
  position: relative;
  float: left;
  padding-left: 14px;
  margin-right: 14px;
  border-left: 1px solid #e6e9ee;
}
.headerNavTop .linkCat li > span {
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.headerNavTop .linkCat li .consumers {
  display: none;
  position: absolute;
  z-index: 10;
  top: -10px;
  left: -7px;
  left: -8px\9;
  *left: -8px;
}
.headerNavTop .linkCat li .consumers > dt {
  position: relative;
  z-index: 10;
  padding: 9px 2px 7px;
  width: 146px;
  height: 14px;
  text-align: center;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 7px 7px 0 0;
  background: url(http://media3.kddi.com/extlib/module/bg_consumersH.gif) no-repeat left top;
}
.headerNavTop .linkCat li .consumers > dt span {
  padding-left: 18px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
  background: url(http://media3.kddi.com/extlib/module/icon_consumers.gif) no-repeat left center;
}
.headerNavTop .linkCat li .consumers .boxCons {
  position: absolute;
  left: 0;
  width: 334px;
  height: 126px;
  padding: 20px 25px 18px;
  background: url(http://media3.kddi.com/extlib/module/bg_consumersB.png) no-repeat left top;
}
@media screen and (max-width: 768px) {
  .headerNavTop .linkCat li .consumers .boxCons {
    display: none;
  }
}
.headerNavTop .linkCat li .consumers .boxCons .linkAu {
  display: block;
  float: left;
  text-align: center;
  padding-right: 23px;
  border-right: 1px solid #e6e9ee;
}
.headerNavTop .linkCat li .consumers .boxCons .linkAu img {
  margin-bottom: 8px;
  border: 1px solid #e6e9ee;
  border-radius: 3px;
}
.headerNavTop .linkCat li .consumers .boxCons .linkAu .icon_window {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.headerNavTop .linkCat li .consumers .boxCons dl {
  overflow: hidden;
  padding-top: 2px;
  padding-left: 20px;
  *zoom: 1;
  background: #FFF;
}
.headerNavTop .linkCat li .consumers .boxCons dl dt {
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.headerNavTop .linkCat li .consumers .boxCons dd {
  margin-top: 27px;
  position: relative;
  padding: 0;
}
.headerNavTop .linkCat li .consumers .boxCons dd li {
  float: none;
  padding: 0;
  margin: 0 0 12px 0;
  border-left: none;
}
.headerNavTop .linkCat li .consumers .boxCons dd li a {
  padding-left: 9px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left 4px;
}
@media screen and (max-width: 768px) {
  .headerNavTop {
    display: none;
  }
}

.headerNavTopSp {
  display: none;
}
@media screen and (max-width: 768px) {
  .headerNavTopSp {
    border-top: 1px solid #e6e9ee;
    padding: 0;
    width: 100%;
    line-height: 1.3;
    display: block;
  }
  .headerNavTopSp .headingPage {
    display: none;
  }
  .headerNavTopSp .linkCat {
    padding-top: 0;
    float: none !important;
  }
  .headerNavTopSp .linkCat li {
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-left: 0 !important;
    margin-right: 0 !important;
    border-left: 1px solid #e6e9ee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }
  .headerNavTopSp .linkCat li:first-child {
    border-left: none;
  }
  .headerNavTopSp .linkCat li a, .headerNavTopSp .linkCat li span {
    height: 61px;
    display: block;
    padding-top: 9px;
  }
  .headerNavTopSp .sp_consumersTop {
    display: none;
    position: relative;
    background: #AAB2BE;
    padding: 0 12px;
    font-size: 142.85714%;
  }
  .headerNavTopSp .sp_consumersTop .arrow_com {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    text-align: center;
  }
  .headerNavTopSp .sp_consumersTop .arrow_com img {
    vertical-align: top;
  }
  .headerNavTopSp .sp_consumersTop .btn_hComClose {
    text-align: center;
    padding: 20px 0;
  }
  .headerNavTopSp .sp_consumersTop .linkAu {
    position: relative;
    display: block;
    background: #FFF;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 20px;
    color: #556;
  }
  .headerNavTopSp .sp_consumersTop .linkAu:hover {
    text-decoration: none !important;
  }
  .headerNavTopSp .sp_consumersTop .linkAu img {
    vertical-align: middle;
    border: 1px solid #e6e9ee;
    border-radius: 4px;
    margin-right: 17px;
  }
  .headerNavTopSp .sp_consumersTop .linkAu .icon_linkList {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
  }
  .headerNavTopSp .sp_consumersTop .linkAu .icon_linkList img {
    border: none;
    border-radius: 0;
    margin-right: 0;
  }
  .headerNavTopSp .sp_consumersTop dt {
    color: #fff;
    margin-bottom: 10px;
  }
  .headerNavTopSp .sp_consumersTop li {
    float: none;
    margin-bottom: 0;
    border-bottom: 2px solid #aab2be;
    background: #fff;
  }
  .headerNavTopSp .sp_consumersTop li:first-child {
    border-radius: 7px 7px 0 0;
    overflow: hidden;
  }
  .headerNavTopSp .sp_consumersTop li:last-child {
    border-radius: 0 0 7px 7px;
    overflow: hidden;
  }
  .headerNavTopSp .sp_consumersTop li a {
    position: relative;
    display: block;
    padding: 28px 40px 28px 20px;
    color: #556;
  }
  .headerNavTopSp .sp_consumersTop li a:hover {
    text-decoration: none !important;
  }
  .headerNavTopSp .sp_consumersTop li .icon_linkList {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
  }
  .headerNavTopSp .sp_consumersTop li .icon_linkList img {
    display: block;
  }
}

.link_consumers {
  display: inline-block;
  *zoom :1;
  min-height: 14px;
  padding-left: 18px;
  background: url(http://media3.kddi.com/extlib/module/icon_consumers.gif) no-repeat left center;
}
@media screen and (max-width: 768px) {
  .link_consumers {
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background: url(http://media3.kddi.com/extlib/module/btn_consumers_01.gif) no-repeat center center;
    -webkit-background-size: 95px 50px;
    background-size: 95px 50px;
  }
}

.link_business {
  display: inline-block;
  *zoom :1;
  min-height: 14px;
  padding-left: 18px;
  background: url(http://media3.kddi.com/extlib/module/icon_business.gif) no-repeat left center;
}
@media screen and (max-width: 768px) {
  .link_business {
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background: url(http://media3.kddi.com/extlib/module/btn_business_01.gif) no-repeat center center;
    -webkit-background-size: 95px 50px;
    background-size: 95px 50px;
  }
}

.link_corporate {
  display: inline-block;
  *zoom :1;
  min-height: 14px;
  padding-left: 18px;
  background: url(http://media3.kddi.com/extlib/module/icon_corporate.gif) no-repeat left center;
}
@media screen and (max-width: 768px) {
  .link_corporate {
    padding-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background: url(http://media3.kddi.com/extlib/module/btn_corporate_01.gif) no-repeat center center;
    -webkit-background-size: 56px 50px;
    background-size: 56px 50px;
  }
}

.spHeaderSearch {
  display: none;
}
@media screen and (max-width: 768px) {
  .spHeaderSearch {
    display: block;
    float: none;
    margin-right: 0;
  }
}
.spHeaderSearch fieldset {
  position: relative;
  width: 200px;
  height: 24px;
}
.spHeaderSearch legend {
  display: none;
}
.spHeaderSearch .areaSearch {
  width: 200px;
  padding: 0 30px 0 8px;
  height: 24px;
  border: none;
}
.spHeaderSearch .btn_search {
  position: absolute;
  top: 6px;
  right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: none;
  background: url(http://media3.kddi.com/extlib/module/btn_search_02.gif) no-repeat left top;
  background-size: 13px;
}
@media screen and (max-width: 768px) {
  .spHeaderSearch {
    padding: 16px 12px;
    border-top: 1px solid #e6e9ee;
    float: none;
    margin-right: 0;
  }
  .spHeaderSearch fieldset {
    position: relative;
    width: auto;
  }
  .spHeaderSearch legend {
    display: none;
  }
  .spHeaderSearch .areaSearch {
    display: block;
    width: 100%;
    background: none #e6e9ee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    color: #AAB2BE;
  }
}

/*
  EMG
----------------------------------------------------------------------------------------------------*/
#EMG, #EMG2, #GETWELL {
  overflow: hidden;
  background: #DDE0E7;
}
#EMG .noemg {
  margin: 24px auto;
}
#EMG .box, #EMG2 .box, #GETWELL .box {
  display: block;
  border-radius: 7px;
  background: #fff;
  margin: 0 12px 0px;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  #EMG .box, #EMG2 .box, #GETWELL .box  {
    margin: 0 6px 0px;
  }
}
#GETWELL .box {
  text-align: left;
  margin-top: 24px;
}
#GETWELL .box .ind {
  padding: 16px 15px 1px;
}
#GETWELL .box .ind p {
  margin-bottom: 15px;
}
#EMG .infoImportant {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 0;
}
#EMG .infoImportant .header_infoImportant {
  position: relative;
  display: block;
  *zoom: 1;
  padding: 10px 40px;
  text-align: center;
  color: #fff;
  background: #0E0E69;
  border-radius: 7px 7px 0 0;
}
#EMG .infoImportant .header_infoImportant .btn_oc {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-weight: normal;
}
#EMG .infoImportant .header_infoImportant .btn_oc img {
  vertical-align: -5px;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .header_infoImportant .btn_oc img {
    margin-right: 0;
  }
  #EMG .infoImportant .header_infoImportant .btn_oc span {
    display: none;
  }
}
#EMG .infoImportant .header_infoImportant:hover h2, #EMG .infoImportant .header_infoImportant:hover .btn_oc {
  text-decoration: none !important;
  color: #CDCDE0;
}
#EMG .infoImportant h2 {
  font-family: "A-OTF UD 新ゴ Pr6 R","A-OTF UD Shin Go Pr6 R","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#EMG .infoImportant .emgNewsItem {
  padding: 15px;
  border-top: 1px solid #e6e9ee;
}
#EMG .infoImportant .emgNewsItem:first-child {
  border-top: none;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgNewsItem {
    position: relative;
  }
}
#EMG .infoImportant dt {
  float: left;
}
#EMG .infoImportant .emgDay {
  text-align: left;
  width: 8.4em;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgDay {
    float: none;
    margin-bottom: 8px;
  }
}
#EMG .infoImportant .emgLabel {
  text-align: left;
  padding-top: 2px;
  *padding-top: 0;
}
#EMG .infoImportant .emgLabel img {
  display: block;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgLabel {
    position: absolute;
    top: 15px;
    left: 140px;
  }
}
#EMG .infoImportant dd {
  overflow: hidden;
  *zoom: 1;
}
#EMG .infoImportant .emgContent {
  padding-left: 20px;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgContent {
    padding-left: 0px;
  }
}
#EMG .infoImportant .emgText {
  text-align: left;
  position: relative;
  padding-left: 32px;
  padding-right: 80px;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgText {
    position: static;
    padding-left: 11px;
    padding-right: 0;
  }
}
#EMG .infoImportant .emgText a {
  margin-left: -10px;
  *zoom: 1;
}
#EMG .infoImportant .emgText a:hover {
  text-decoration: underline;
}
#EMG .infoImportant .emgText .link_arrow {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left 5px;
  *background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left 8px;
}
#EMG .infoImportant .emgText .icon_window {
  display: inline-block;
  *display: inline;
  margin-right: 5px;
  vertical-align: 1px;
  *zoom: 1;
  border: none !important;
}
#EMG .infoImportant .emgText .link_list {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
@media screen and (max-width: 480px) {
  #EMG .infoImportant .emgText .link_list {
    position: relative;
    margin-top: 8px;
    text-align: right;
  }
}
#EMG .infoImportant .emgText .link_list img {
  vertical-align: -4px;
  margin-right: 5px;
}
#EMG .ind, #EMG2 .ind {
  padding: 15px;
}
#EMG .area, #EMG2 .area {
  margin: 24px 0;
}
#EMG .m_boxes2, #EMG2 .m_boxes2 {
  margin-top: 24px;
}
#EMG .m_boxes2 .area, #EMG2 .m_boxes2 .area {
  margin-top: 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 480px) {
  #EMG .m_boxes2 .area, #EMG2 .m_boxes2 .area {
    float: none;
    width: 100%;
  }
}
#EMG2 .m_boxes2, #EMG2 .m_boxes1, #EMG2 .m_boxes2img {
  *margin-bottom: 24px;
}
#EMG2 .m_boxes2 .box {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #EMG .m_boxes1, #EMG .m_boxes2, #EMG2 .m_boxes2, #EMG2 .m_boxes1, #GETWELL .m_boxes1 {
    padding: 0 6px;
  }
}
#EMG .area dt, #EMG2 .area dt {
  position: relative;
  display: block;
  *zoom: 1;
  padding: 10px 14px;
  text-align: center;
  color: #fff;
  background: #0E0E69;
  font-family: "A-OTF UD 新ゴ Pr6 R","A-OTF UD Shin Go Pr6 R","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  #EMG .area dt, #EMG2 .area dt {
    border-radius: 7px 7px 0 0;
  }
}
#EMG .area dd, #EMG2 .area dd {
  display: block;
  padding: 15px 15px;
  text-align: left;
}
#EMG .area dt img, #EMG2 .area dt img {
  position: absolute;
  right: 15px;
  top: 14px;
}
@media screen and (max-width: 768px) {
  #EMG .icon_listview, #EMG2 .icon_listview {
    display: none;
  }
}
#EMG a:hover dt, #EMG2 a:hover dt {
  color: #CDCDE0;
}
#EMG a:hover dd, #EMG2 a:hover dd {
  text-decoration: underline;
}
#EMG .ind .icon_window, #EMG2 .ind .icon_window {
  display: inline-block;
  *display: inline;
  margin-right: 5px;
  vertical-align: 1px;
  *zoom: 1;
  border: none !important;
}

.MAIN-COLUMN #EMG {
  background: transparent;
}

.MAIN-COLUMN #EMG .m_boxes1, .MAIN-COLUMN #EMG .m_boxes1 .infoImportant {
  margin-top: 0;
  margin-bottom: 24px;
}

#headerArea .noArrow, #footerArea .noArrow {
  padding-left: 0 !important;
  background: none !important;
}

.MAIN-COLUMN #EMG .box dl,
.MAIN-COLUMN #EMG .box dt {
  margin-bottom: 0;
}

#EMG .m_boxes2img .area01,
#EMG .m_boxes2img .area02,
#EMG2 .m_boxes2img .area01,
#EMG2 .m_boxes2img .area02 {
  margin-top: 0;
  float: left;
  width: 50%;
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #EMG .m_boxes2img,
  #EMG2 .m_boxes2img {
    padding: 0 6px;
  }
}
@media screen and (max-width: 480px) {
  #EMG .m_boxes2img .area01,
  #EMG .m_boxes2img .area02,
  #EMG2 .m_boxes2img .area01,
  #EMG2 .m_boxes2img .area02 {
    float: none;
    width: 100%;
  }
}

#EMG .m_boxes2img img,
#EMG2 .m_boxes2img img {
  max-width: 100% !important;
  height: auto;
}

#EMG .m_boxes2img .area01 .box,
#EMG2 .m_boxes2img .area01 .box {
  background: #fff;
  padding-bottom: 10px;
}
#EMG .m_boxes2img .area02 .box,
#EMG2 .m_boxes2img .area02 .box {
  background: #f6f6f6;
  padding-bottom: 10px;
}

/* Skip Block --------------------------------------------*/
.skip {
  position: absolute;
  left: -9999em;
}

/*
  Global Nav
----------------------------------------------------------------------------------------------------*/
.navGlobal {
  min-width: 984px;
  border-top: 1px solid #e6e9ee;
  padding-bottom: 10px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  height: auto;
  *text-align: left;
  *left: 0;
  font-family: "A-OTF UD 新ゴ Pr6 R","A-OTF UD Shin Go Pr6 R","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  .navGlobal {
    min-width: 320px;
    display: none;
    position: relative;
    background: #aab2be !important;
    padding-bottom: 0;
    overflow: visible;
  }
  .navGlobal:before {
    content: '';
    display: block;
    position: absolute;
    right: 30px;
    top: -10px;
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #aab2be;
  }
}
.navGlobal .navWrap {
  background: #f1f2f6;
}
@media screen and (max-width: 768px) {
  .navGlobal .navWrap {
    padding: 20px 12px 0;
    background: #aab2be;
  }
  .navGlobal .navWrap li a {
    background: #fff !important;
  }
}
.navGlobal .icon_linkList {
  display: none;
}
@media screen and (max-width: 768px) {
  .navGlobal .icon_linkList {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
  }

  .navGlobal .icon_linkList img {
    display: block;
  }
}
.navGlobal .spUtility {
  display: none;
}
@media screen and (max-width: 768px) {
  .navGlobal .spUtility {
    display: block;
    padding: 0 12px;
  }
}
.navGlobal .spUtility .smallBtn {
  border-radius: 7px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 30px;
}
.navGlobal .spUtility .smallBtn li {
  float: left;
  width: 50%;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.navGlobal .spUtility .smallBtn li:first-child {
  border-right: 2px solid #aab2be;
  border-radius: 7px 0 0 7px;
}
.navGlobal .spUtility .smallBtn li:last-child {
  border-radius: 0 7px 7px 0;
}
.navGlobal .spUtility .smallBtn li a {
  display: block;
  padding: 20px 15px 20px 17px;
  line-height: 20px;
  font-size: 14px;
  color: #545465;
  font-weight: bold;
  background: #fff !important;
}
.navGlobal .spUtility .navLinkHorizon {
  float: left;
  padding-top: 10px;
  width: auto;
}
.navGlobal .spUtility .navLinkHorizon li {
  float: left;
  margin-right: 24px;
  background: #aab2be !important;
  border-radius: 0 0 0 0;
}
.navGlobal .spUtility .navLinkHorizon li a {
  font-size: 16px;
  padding: 0 0 0 12px;
  color: #fff;
  background: url(http://media3.kddi.com/extlib/corporate/module/icon_arrow_04.gif) no-repeat left center;
  background-size: 6px 10px;
  background-color: #AAB2BE !important;
}
@media screen and (max-width: 768px) {
  .navGlobal .spUtility .navLinkHorizon li a:hover {
    color: white !important;
    background: url(http://media3.kddi.com/extlib/corporate/module/icon_arrow_04.gif) no-repeat left center !important;
    background-size: 6px 10px !important;
    background-color: #AAB2BE !important;
  }
  .navGlobal .spUtility .navLinkHorizon li .icon_window {
    vertical-align: 1px !important;
  }
}
.navGlobal .spUtility .navLinkHorizon li:last-child {
  margin-right: 0;
}
.navGlobal .spUtility .bnrIp {
  float: right;
  padding-bottom: 30px;
}
.navGlobal .btn_hNavClose {
  display: none;
}
@media screen and (max-width: 768px) {
  .navGlobal .btn_hNavClose {
    display: block;
    padding-bottom: 20px;
    text-align: center;
  }
}
.navGlobal ul {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .navGlobal ul {
    width: 100%;
    margin: 0 0 30px;
    border-radius: 7px;
    overflow: hidden;
  }
}
.navGlobal li {
  float: left;
  margin-bottom: -10px;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  .navGlobal li {
    margin-bottom: 0;
    border-bottom: 2px solid #aab2be;
    background: #fff;
  }
  .navGlobal li:first-child {
    border-radius: 7px 7px 0 0;
    overflow: hidden;
  }
  .navGlobal li:last-child {
    border-radius: 0 0 7px 7px;
    overflow: hidden;
  }
}
.navGlobal li a {
  position: relative;
  display: block;
  padding: 18px 0;
  text-align: center;
  color: #555566;
  *zoom: 1;
  border-bottom: 1px solid #f1f2f6;
  cursor: pointer;
}
.navGlobal li a:hover {
  text-decoration: none !important;
}
.navGlobal li a:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  bottom: -11px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .navGlobal li a:after {
    display: none;
  }
}
.navGlobal li a .line {
  border-right: 1px solid #dde0e7;
  line-height: 20px;
  display: block;
}
.navGlobal li a .line span {
  display: inline-block;
  line-height: 24px;
  padding: 0 9px;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .navGlobal li a {
    width: auto !important;
    padding: 30px 40px 30px 17px;
    border: none;
    text-align: left;
    font-size: 20px;
    color: #545465;
    overflow: hidden;
    background: none transparent;
  }
  .navGlobal li a .line {
    border: none;
    float: left;
  }
  .navGlobal li a .line span {
    border: none;
    float: left;
    padding: 0;
  }
  .navGlobal li a:hover {
    color: #545465;
    background: none transparent;
  }
  .navGlobal li a:hover .line {
    border: none;
  }
  .navGlobal li a:last-child {
    border-bottom: none;
  }
}
.navGlobal li .is_current {
  border-bottom: 1px solid #e6e9ee;
}
@media screen and (max-width: 768px) {
  .navGlobal li .is_current {
    border-bottom: none;
  }
}
.navGlobal li .is_current .line span {
  display: inline-block;
  line-height: 24px;
  padding: 0 9px;
  border-radius: 12px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .navGlobal li .is_current .line span {
    background: #fff;
    color: #555566;
		padding: 0;
  }
}
.navGlobal li .is_current:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  bottom: -11px;
  left: 0;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .navGlobal li .is_current:after {
    display: none;
  }
}
.navGlobal li .is_current.is_ov .line span {
  background: #f1f2f6;
  color: #555566;
}
.navGlobal li .is_ov {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .navGlobal li .is_ov {
    color: #555566;
    background: none #FFF;
    border-bottom: none;
  }
}
@media screen and (max-width: 768px) {
  .navGlobal li .is_ov .line {
    border-right: 1px solid #fff;
  }
}
.navGlobal li .is_ov .line span {
  display: inline-block;
  line-height: 24px;
  padding: 0 9px;
  border-radius: 12px;
}
.navGlobal a:hover {
  text-decoration: none;
}

/* MEGA Drop --------------------------------------------*/
.navGlobal .navGrovalDrop {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  .navGlobal .navGrovalDrop {
    display: none;
  }
}

.navGlobal .navGlobal-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.navGlobal .navGlobal-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.navGlobal .navGrovalDrop .wrapper {
    position: relative;
    padding-top: 25px;
}

.navGlobal .navGrovalDrop a {
  padding: 0;
  color: #fff;
  border-bottom: none;
  background: none;
  text-align: center;
  background: none !important;
}
.navGlobal .navGrovalDrop a:hover {
  border-bottom: none;
  text-decoration: underline !important;
}
.navGlobal .navGrovalDrop a img {
  display: block;
  margin-bottom: 8px;
  border-radius: 7px;
}
.navGlobal .navGrovalDrop a img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.navGlobal .navGrovalDrop .gnavTop {
  float: left;
  width: 222px;
  padding: 10px 0 20px 1px;
}
.navGlobal .navGrovalDrop ul {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 20px 6px;
  width: auto;
}
.navGlobal .navGrovalDrop ul li {
  float: left;
  margin: 0 0 0 16px;
  width: 130px;
  border-bottom: none;
}
.navGlobal .navGrovalDrop ul .lineFirst {
  height: 157px;
}
.navGlobal a:hover {
  text-decoration: underline;
}

/*
  Topic Path
----------------------------------------------------------------------------------------------------*/
#TOPIC-PATH {
  line-height: 1;
  padding: 9px 0;
  border-bottom: 1px solid #e6e9ee;
  text-align: left;
}
/*
@media screen and (max-width: 768px) {
  #TOPIC-PATH {
    display: none;
  }
}
*/
#TOPIC-PATH ul {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #TOPIC-PATH ul {
    width: auto;
    margin: 0 12px;
  }
}
#TOPIC-PATH ul li {
  display: inline;
  margin-right: 12px;
  padding-left: 15px;
  color: #556;
  font-size: 11px;
  line-height: 1.8;
  *zoom: 1;
  background: url("http://media3.kddi.com/extlib/module/arrow_topicpath.gif") no-repeat left 2px;
  *background: url("http://media3.kddi.com/extlib/module/arrow_topicpath.gif") no-repeat left 5px;
}
#TOPIC-PATH ul li:first-child {
  background: none;
  padding-left: 0;
}
#TOPIC-PATH ul li a:hover {
  text-decoration: underline;
}

/*
  CONTAINER
----------------------------------------------------------------------------------------------------*/
.ID-CONTAINER {
  background: url(http://media3.kddi.com/extlib/module/bg_page_01.gif) repeat-x left -200px;
}
@media screen and (max-width: 768px) {
  .ID-CONTAINER {
    position: relative;
    background: none;
  }
}

/*
  POPUP
----------------------------------------------------------------------------------------------------*/
#POPUP {
  width: 714px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #POPUP {
    width: 100%;
  }
}
#POPUP .MAIN-COLUMN {
  float: none;
  width: 100%;
}
#POPUP .MAIN-COLUMN .box .box {
  margin: 0;
  border: 1px solid #E6E9EE;
}
#POPUP .MAIN-COLUMN .box .m_boxes1 .box,
#POPUP .MAIN-COLUMN .box .m_boxes2 .box {
  margin: 0 12px 24px;
}
@media screen and (max-width: 480px) {
  #POPUP .MAIN-COLUMN .box .m_boxes1 .box,
  #POPUP .MAIN-COLUMN .box .m_boxes2 .box {
    margin: 0 0 24px;
  }
}

#POPUP .MAIN-COLUMN table {
  margin-top: 25px;
  font-size: 85.71429%;
}
#POPUP .MAIN-COLUMN table th, #POPUP .MAIN-COLUMN table td {
  font-size: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
#POPUP .MAIN-COLUMN .box .halfL,
#POPUP .MAIN-COLUMN .box .halfR {
  width: 320px;
}
#POPUP .MAIN-COLUMN .m_boxes2 .area {
  width: 50%;
}
#POPUP .MAIN-COLUMN .popup_header {
  position: relative;
  margin-top: -3px;
  *zoom: 1;
}
#POPUP .MAIN-COLUMN .popup_header .btn_close {
  position: absolute;
  top: -5px;
  right: 0;
}
#POPUP .MAIN-COLUMN .popup_header .btn_close img {
  border: none;
}
#POPUP .MAIN-COLUMN h1 {
  height: auto;
  padding: 0;
  margin: 0;
  border-bottom: none;
}
#POPUP .MAIN-COLUMN h1 img {
  border: none;
}
#POPUP .MAIN-COLUMN .popup_footer {
  position: relative;
  margin: 15px 0 10px;
  height: 20px;
}
#POPUP .MAIN-COLUMN .popup_footer .btn_close {
  position: absolute;
  top: 0;
  right: 0;
}
#POPUP .MAIN-COLUMN .popup_footer img {
  border: none;
}
#POPUP .MAIN-COLUMN .copyright {
  margin-top: 20px;
  padding: 0;
  text-align: left;
}
#POPUP .MAIN-COLUMN .btn_close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

#POPUP .MAIN-COLUMN .box .txtArea {
  width: 485px;
  float: left;
}
@media screen and (max-width: 768px) {
  #POPUP .MAIN-COLUMN .box .txtArea {
    width: 73%;
  }
}
@media screen and (max-width: 480px) {
  #POPUP .MAIN-COLUMN .box .txtArea {
    width: 100%;
    float: none;
    margin-bottom: 12px;
  }
}
#POPUP .MAIN-COLUMN .box .figure {
  width: 153px;
  padding-left: 22px;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  #POPUP .MAIN-COLUMN .box .figure {
    width: 23%;
  }
}
@media screen and (max-width: 480px) {
  #POPUP .MAIN-COLUMN .box .figure {
    width: 153px;
    padding-left: 0;
    margin: 0 auto;
  }
}

/*
  RIGHT SIDE
----------------------------------------------------------------------------------------------------*/
/* box --------------------------------------------*/
.RIGHT-SIDE .box {
  display: block;
  border-radius: 7px;
  background: #fff;
  margin: 0 12px 24px;
  font-size: 85.71429%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .RIGHT-SIDE .box {
    margin: 0 6px 24px;
    *margin: 0 12px 24px;
  }
  .RIGHT-SIDE .box img {
    max-width: 100% !important;
    height: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.RIGHT-SIDE .box hr {
  margin: 0;
}
.RIGHT-SIDE .box .ind img {
  border: 1px solid #e6e9ee;
}
.RIGHT-SIDE .box .ind .line {
  margin: 15px -15px;
}
.RIGHT-SIDE .box .ind .line hr {
  margin: 0;
}
.RIGHT-SIDE .bnr {
  display: block;
  border-radius: 7px;
  background: transparent;
  margin: 0 12px 24px;
  font-size: 85.71429%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .RIGHT-SIDE .bnr {
    margin: 0 6px 24px;
    *margin: 0 12px 24px;
  }
  .RIGHT-SIDE .bnr img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
  }
  .RIGHT-SIDE .bnr .icon_img {
    width: auto !important;
  }
}
.RIGHT-SIDE .ind {
  padding: 15px 15px 5px;
}
.RIGHT-SIDE .ind a:hover {
  text-decoration: underline;
}
.RIGHT-SIDE li a:hover {
  text-decoration: underline;
}
.RIGHT-SIDE .m_boxes2 {
  zoom: 1;
}
.RIGHT-SIDE .m_boxes2:before, .RIGHT-SIDE .m_boxes2:after {
  content: "";
  display: block;
  overflow: hidden;
}
.RIGHT-SIDE .m_boxes2:after {
  clear: both;
}
.RIGHT-SIDE .m_boxes2 .area {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .RIGHT-SIDE .m_boxes2 .area {
    width: 50%;
    *width: 100%;
    float: left;
    *float: none;
  }
}
@media screen and (max-width: 480px) {
  .RIGHT-SIDE .m_boxes2 .area {
    width: 100%;
    float: none;
  }
}
.RIGHT-SIDE .m_boxes2 .area .box > a .icon_img {
  border-radius: 0;
}
.RIGHT-SIDE .m_boxes2 .area .bnr img {
  border-radius: 7px;
  display: block;
  border: none;
}
.RIGHT-SIDE .m_boxes2 .area .bnr .ami {
  border-radius: 7px;
}

/* Heading --------------------------------------------*/
.RIGHT-SIDE .h3R {
  display: block;
  position: relative;
  z-index: 10;
  padding: 15px 17px;
  font-size: 116.66667%;
  background: #dde0e7;
  margin-bottom: 0;
  overflow: hidden;
  *zoom: 1;
  border-radius: 7px 7px 0 0;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.RIGHT-SIDE .h3R h3 {
  margin-bottom: 0;
  float: left;
}
.RIGHT-SIDE .h3R .icon_linkList {
  float: right;
}
.RIGHT-SIDE .h3RTop {
  display: block;
  position: relative;
  z-index: 10;
  padding: 15px 17px;
  font-size: 116.66667%;
  color: #fff;
  margin-bottom: 0;
  overflow: hidden;
  *zoom: 1;
  border-radius: 7px 7px 0 0;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.RIGHT-SIDE .h3RTop h3 {
  margin-bottom: 0;
  padding-right: 25px;
}
.RIGHT-SIDE .h3RTop .icon_linkList {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -10px;
}
.RIGHT-SIDE a.h3RTop:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.RIGHT-SIDE .hLevel4 {
  margin-bottom: 10px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}

/* hr --------------------------------------------*/
.RIGHT-SIDE hr {
  margin: 0;
}

/* Print Button --------------------------------------------*/
.RIGHT-SIDE .area_print {
  padding-top: 37px;
  height: 64px;
  margin-bottom: 23px;
}
.RIGHT-SIDE .area_print .btn_print {
  display: inline-block;
  width: 218px;
  margin-left: 12px;
  height: 20px;
  line-height: 20px;
  font-size: 78.57143%;
  color: #767676;
  text-align: center;
  border: solid 2px #dde0e7;
  border-radius: 12px;
}
.RIGHT-SIDE .area_print .btn_print .icon_print {
  vertical-align: -1px;
  margin-right: 7px;
}
.RIGHT-SIDE .area_print .btn_print:hover {
  background: #F1F2F6;
}
@media screen and (max-width: 768px) {
  .RIGHT-SIDE .area_print {
    display: none;
  }
}

/* Rnav --------------------------------------------*/
.RIGHT-SIDE .rNav {
  font-size: 116.66667%;
}
.RIGHT-SIDE .rNav li {
  border-top: 1px solid #D6D9E2;
}
.RIGHT-SIDE .rNav li:first-child {
  margin-top: 0;
  border-top: none;
}
.RIGHT-SIDE .rNav li a {
  display: block;
  padding: 10px 18px 10px 25px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat 15px 18px;
}
.RIGHT-SIDE .rNav li .noArrow {
  background: none;
  padding-left: 12px;
}
.RIGHT-SIDE .rNav li ul {
  margin: 0;
  background: #e6e9ee;
  font-size: 85.71429%;
}
.RIGHT-SIDE .rNav li ul li:first-child {
  border-top: 1px solid #D6D9E2;
}
.RIGHT-SIDE .rNav li ul li a {
  padding: 9px 18px 9px 43px;
  display: block;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat 32px 15px;
}
.RIGHT-SIDE .rNav li ul li ul {
  margin: 0;
  background: #e6e9ee;
  font-size: 100%;
}
.RIGHT-SIDE .rNav li ul li ul li:first-child {
  border-top: 1px solid #D6D9E2;
}
.RIGHT-SIDE .rNav li ul li ul li a {
  padding: 9px 18px 9px 66px;
  display: block;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat 49px 15px;
}
.RIGHT-SIDE .rNav li ul li ul .is_current > a {
  color: #fff;
  font-weight: bold;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_02.gif) no-repeat 49px 15px;
}
.RIGHT-SIDE .rNav li ul .is_current > a {
  color: #fff;
  font-weight: bold;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_02.gif) no-repeat 32px 15px;
}
.RIGHT-SIDE .rNav .is_current > a {
  color: #fff;
  font-weight: bold;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_02.gif) no-repeat 15px 18px;
}

/*
  RERATIOn Page Block
----------------------------------------------------------------------------------------------------*/
.RELATION {
  padding: 18px 0 6px;
  *zoom: 1;
  background: #e6e9ee;
  *text-align: left;
}
.RELATION a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .RELATION {
    margin: 0;
  }
}
.RELATION dt {
  padding-left: 12px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.RELATION .m_boxes4 {
  position: relative;
  zoom: 1;
}
.RELATION .m_boxes4:before, .RELATION .m_boxes4:after {
  content: "";
  display: block;
  overflow: hidden;
}
.RELATION .m_boxes4:after {
  clear: both;
}
@media screen and (max-width: 768px) {
  .RELATION .m_boxes4 {
    padding: 0 6px 24px;
  }
}
.RELATION .m_boxes4 .area {
  float: left;
  width: 246px;
}
@media screen and (max-width: 768px) {
  .RELATION .m_boxes4 .area {
    width: 25%;
  }
}
.RELATION .m_boxes4 .box {
  display: block;
  border-radius: 7px;
  background: #fff;
  margin: 15px 12px 24px;
  overflow: hidden;
}
.RELATION .m_boxes4 .box img {
  border-bottom: 1px solid #e6e9ee;
  border-radius: 7px 7px 0 0;
}
@media screen and (max-width: 768px) {
  .RELATION .m_boxes4 .box img {
    height: auto;
    max-width: 100%;
  }
}
.RELATION .m_boxes4 .box .ami {
  border-radius: 7px 7px 0 0;
}
.RELATION .m_boxes4 .box p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .RELATION .m_boxes4 .box {
    margin: 12px 6px 0;
  }
}
.RELATION .m_boxes4 .ind {
  padding: 15px;
}
.RELATION .m_boxes4 .ind span {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
  margin-left: -10px;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  .RELATION .m_boxes4 .ind span {
    margin-left: 0;
  }
}
.RELATION .m_boxes4 .ind .icon_window {
  margin-right: 5px !important;
  border: none;
  border-radius: 0;
}
.RELATION hr {
  background: #D4D7DF;
}
@media screen and (max-width: 480px) {
  .RELATION hr {
    margin-top: 12px;
  }
}
.RELATION .glossary-header {
  position: relative;
}
.RELATION .glossary-header h2 {
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.RELATION .glossary-header p.icnBlank {
  position: absolute;
  right: 0px;
  top: 2px;
  font-weight: bold;
}
.RELATION .glossary-list {
  margin-left: -6px;
  padding: 9px 0;
  padding: 9px 0 18px\9;
  overflow: hidden;
  line-height: 1;
  width: 714px;
}
@media screen and (max-width: 768px) {
  .RELATION .glossary-list {
    width: 100%;
  }
  .RELATION .glossary-header h2 {
    padding-left: 12px;
  }
  .RELATION .glossary-header p.icnBlank {
    right: 12px;
  }
}
.RELATION .glossary-list li {
  float: left;
  white-space: nowrap\9;
  margin: 9px 20px 9px -1px;
  padding-left: 20px;
  border-left: 1px solid #CCD0D9;
}
.RELATION .glossary-list li:first-child {
  padding-left: 8px;
}
.RELATION .glossary-list a {
  padding-left: 12px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
}
.RELATION .icnBlank a {
  padding-left: 12px;
  background: url(http://media3.kddi.com/extlib/module/icon_window_01.gif) no-repeat left center;
}
.RELATION .glossary-list .icon_window {
  margin-right: 6px;
}
.RELATION .glossary-list:not(:target) {
  padding: 9px 0;
}
@media screen and (max-width: 768px) {
  .RELATION .glossary-list li:first-child {
    padding-left: 20px;
  }
}

/* slide navigation --------------------------------------------*/
.RELATION .relationPage {
  overflow: hidden;
}
.RELATION .pager {
  position: relative;
  display: none;
}
@media screen and (max-width: 480px) {
  .RELATION .pager {
    display: block;
  }
}
.RELATION .listDot {
  text-align: center;
  padding: 3px 0;
}
.RELATION .listDot li {
  display: inline-block;
  margin: 0 4px;
}
.RELATION .listDot li a {
  display: inline-block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  background: url(http://media3.kddi.com/extlib/module/icon_dot_02.gif) no-repeat left top;
  background-size: 14px;
}
.RELATION .listDot li .is_current {
  background: url(http://media3.kddi.com/extlib/module/icon_dot_02_ov.gif) no-repeat left top;
  background-size: 14px;
}
.RELATION .navArrows .btnPrev {
  position: absolute;
  left: 22px;
  top: 0;
  display: none;
}
.RELATION .navArrows .btnNext {
  position: absolute;
  right: 22px;
  top: 0;
}

/* Link Img --------------------------------------------*/
.RELATION .link_selfW, .RELATION .link_selfB, .RELATION .link_blankW, .RELATION .link_blankB {
  position: relative;
  display: inline-block;
  overflow: hidden;
  *zoom: 1;
}
.RELATION .link_selfW .icon_img, .RELATION .link_selfB .icon_img, .RELATION .link_blankW .icon_img, .RELATION .link_blankB .icon_img {
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  border: none !important;
  border-radius: 0 !important;
}
@media screen and (max-width: 768px) {
  .RELATION .link_selfW .icon_img, .RELATION .link_selfB .icon_img, .RELATION .link_blankW .icon_img, .RELATION .link_blankB .icon_img {
    top: 5px;
    right: 5px;
    *top: 10px;
    *right: 10px;
  }
}
.RELATION .link_selfW:hover, .RELATION .link_selfB:hover, .RELATION .link_blankW:hover, .RELATION .link_blankB:hover {
  border: 3px solid #0e0d6a;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .RELATION .link_selfW:hover, .RELATION .link_selfB:hover, .RELATION .link_blankW:hover, .RELATION .link_blankB:hover {
    border: none !important;
  }
}
.RELATION .link_selfW:hover > img, .RELATION .link_selfB:hover > img, .RELATION .link_blankW:hover > img, .RELATION .link_blankB:hover > img {
  margin: -3px -3px 0;
}
@media screen and (max-width: 768px) {
  .RELATION .link_selfW:hover > img, .RELATION .link_selfB:hover > img, .RELATION .link_blankW:hover > img, .RELATION .link_blankB:hover > img {
    margin: 0;
  }
}
.RELATION .link_selfW:hover > .ind, .RELATION .link_selfB:hover > .ind, .RELATION .link_blankW:hover > .ind, .RELATION .link_blankB:hover > .ind {
  margin: 0 -3px -3px;
}
@media screen and (max-width: 768px) {
  .RELATION .link_selfW:hover > .ind, .RELATION .link_selfB:hover > .ind, .RELATION .link_blankW:hover > .ind, .RELATION .link_blankB:hover > .ind {
    margin: 0;
  }
}

.RELATION .box .link_selfW, .RELATION .box .link_selfB, .RELATION .box .link_blankW, .RELATION .box .link_blankB {
  display: block;
}

/*
  Footer
----------------------------------------------------------------------------------------------------*/
#footerArea {
  position: relative;
  z-index: 5;
  background: #fff;
  *text-align: left;
  font-family: "A-OTF UD 新ゴ Pr6 L","A-OTF UD Shin Go Pr6 L","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 768px) {
  #footerArea {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  #footerArea {
    margin-top: 0;
  }
}
#footerArea a:hover {
  text-decoration: underline;
}

.footerGlobal {
  position: relative;
}
@media screen and (max-width: 768px) {
  .footerGlobal {
    display: none;
    padding: 0 12px;
    background: #aab2be;
    border-top: none !important;
  }
  .footerGlobal:before {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    top: -10px;
    height: 0;
    width: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #aab2be;
  }
  .footerGlobal .wrapper {
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
  }
}

.btn_fNavClose {
  display: none;
}
@media screen and (max-width: 768px) {
  .btn_fNavClose {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footerGlobalSp {
    position: relative;
    padding: 26px 0 26px;
    border-top: none;
  }
  .footerGlobalSp .logoFooter {
    line-height: 1;
    text-align: center;
  }
  .footerGlobalSp .sp_footerBtnNav {
    position: absolute;
    top: 14px;
    left: 15px;
  }
  .footerGlobalSp .sp_footerBtnTop {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

.footerSearch {
  position: relative;
  border-top: 1px solid #e6e9ee;
}
@media screen and (max-width: 768px) {
  .footerSearch {
    display: none;
  }
}
.footerSearch .wrapper {
  padding: 19px 0;
}
.footerSearch fieldset {
  position: relative;
  width: 222px;
  height: 24px;
}
.footerSearch legend {
  display: none;
}
.footerSearch .areaSearch {
  width: 180px;
  padding: 3px 30px 3px 10px;
  height: 16px;
  line-height: 16px;
  border: none;
  background: #e6e9ee;
  border-radius: 12px;
  border: 1px solid #e6e9ee;
  transition: all 0.2s;
  color: #AAB2BE;
}
.footerSearch .areaSearch:focus {
  outline: none;
  background: #fff;
}
.footerSearch .btnSearch {
  position: absolute;
  top: 6px;
  right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: none;
  background: url(http://media3.kddi.com/extlib/module/btn_search_01.png) no-repeat left top;
}

/* business / corporate common footer--------------------------*/
.footerCommon {
  border-top: 1px solid #0e0e69;
  font-size: 78.57143%;
  line-height: 1;
}
.footerCommon .logoFooter {
  float: left;
  padding: 36px 36px 41px 0;
}
@media screen and (max-width: 768px) {
  .footerCommon {
    border-top: 1px solid #e6e9ee;
  }
}

.footerUtility1 {
  padding: 21px 0 19px;
  height: 11px;
}
.footerUtility1 ul {
  position: relative;
  z-index: 10;
}
.footerUtility1 ul li {
  position: relative;
  float: left;
  padding-left: 14px;
  margin-right: 14px;
  border-left: 1px solid #e6e9ee;
}
.footerUtility1 ul li .footerConsumers {
  display: none;
  position: absolute;
  z-index: 100;
  top: -14px;
  left: -12px;
}
.footerUtility1 ul li .footerConsumers > dt {
  position: relative;
  z-index: 10;
  padding: 9px 2px 7px;
  width: 136px;
  height: 24px;
  text-align: center;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 7px 7px 0 0;
  background: url(http://media3.kddi.com/extlib/module/bg_footerConsumersH.gif) no-repeat left top;
}
.footerUtility1 ul li .footerConsumers .boxCons {
  position: absolute;
  left: 0;
  z-index: 15;
  top: -159px;
  width: 324px;
  height: 126px;
  padding: 20px 20px 18px;
  background: url(http://media3.kddi.com/extlib/module/bg_footerConsumersB.png) no-repeat left top;
}
@media screen and (max-width: 768px) {
  .footerUtility1 ul li .footerConsumers .boxCons {
    display: none;
  }
}
.footerUtility1 ul li .footerConsumers .boxCons .linkAu {
  display: block;
  float: left;
  text-align: center;
  padding-right: 18px;
  border-right: 1px solid #e6e9ee;
}
.footerUtility1 ul li .footerConsumers .boxCons .linkAu img {
  margin-bottom: 10px;
  border: 1px solid #e6e9ee;
  border-radius: 3px;
}
.footerUtility1 ul li .footerConsumers .boxCons .linkAu .icon_window {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  margin-right: 5px;
}
.footerUtility1 ul li .footerConsumers .boxCons .linkAu a {
  background: none;
  padding-left: 0;
}
.footerUtility1 ul li .footerConsumers .boxCons dl {
  overflow: hidden;
  padding-top: 2px;
  padding-left: 20px;
  *zoom: 1;
  background: #FFF;
}
.footerUtility1 ul li .footerConsumers .boxCons dl dt {
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.footerUtility1 ul li .footerConsumers .boxCons dd {
  margin-top: 27px;
  position: relative;
  padding: 0;
}
.footerUtility1 ul li .footerConsumers .boxCons dd li {
  float: none;
  padding: 0;
  margin: 0 0 12px 0;
  border-left: none;
}
.footerUtility1 ul li .footerConsumers .boxCons dd li a {
  padding-left: 9px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left 4px;
}
.footerUtility1 ul li a {
  padding-left: 9px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
}
.footerUtility1 ul li .liConsumers {
  position: relative;
  z-index: 10;
}
.footerUtility1 ul li:first-child {
  border-left: none;
}

.footerUtility2 {
  overflow: hidden;
  padding: 21px 0 19px;
  border-top: 1px solid #e6e9ee;
}
.footerUtility2 ul li {
  float: left;
  padding-left: 14px;
  margin-right: 14px;
  border-left: 1px solid #e6e9ee;
}
.footerUtility2 ul li a {
  padding-left: 9px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
}
.footerUtility2 ul li:first-child {
  border-left: none;
}
.footerUtility2 .copyright {
  float: right;
  padding: 2px 4px 0 0;
  margin-top: 20px;
}

.footerUtilitySp1 {
  line-height: 1;
  border-bottom: 1px solid #e6e9ee;
}
.footerUtilitySp1 li {
  float: left;
  width: 25%;
  padding: 37px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e6e9ee;
}
.footerUtilitySp1 li:first-child {
  border-left: none;
}

.sp_consumersFoot {
  display: none;
  position: relative;
  background: #AAB2BE;
  padding: 0 12px;
  font-size: 181.81818%;
}
.sp_consumersFoot .arrow_com {
  position: absolute;
  top: -1px;
  left: 25%;
  width: 25%;
  text-align: center;
}
.sp_consumersFoot .arrow_com img {
  vertical-align: top;
}
.sp_consumersFoot .btn_fComClose {
  text-align: center;
  padding: 20px 0;
}
.sp_consumersFoot .linkAu {
  position: relative;
  display: block;
  background: #FFF;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
  color: #556;
}
.sp_consumersFoot .linkAu img {
  vertical-align: middle;
  border: 1px solid #e6e9ee;
  border-radius: 4px;
  margin-right: 17px;
}
.sp_consumersFoot .linkAu .icon_linkList {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 17px;
}
.sp_consumersFoot .linkAu .icon_linkList img {
  border: none;
  border-radius: 0;
  margin-right: 0;
}
.sp_consumersFoot dt {
  color: #fff;
  margin-bottom: 10px;
}
.sp_consumersFoot li {
  float: none;
  margin-bottom: 0;
  border-bottom: 2px solid #aab2be;
  background: #fff;
}
.sp_consumersFoot li:first-child {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}
.sp_consumersFoot li:last-child {
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  border-bottom: none;
}
.sp_consumersFoot li a {
  position: relative;
  display: block;
  padding: 28px 40px 28px 20px;
  color: #556;
}
.sp_consumersFoot li a:hover {
  text-decoration: none !important;
}
.sp_consumersFoot li .icon_linkList {
  display: block;
  position: absolute;
  right: 17px;
  top: 50%;
  margin-top: -10px;
}

.footerUtilitySp2 {
  line-height: 1;
}
.footerUtilitySp2 li {
  float: left;
  width: 50%;
  padding: 17px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e6e9ee;
  border-bottom: 1px solid #e6e9ee;
}
.footerUtilitySp2 li:first-child {
  border-left: none;
}

@media screen and (max-width: 768px) {
  .copyright {
    text-align: center;
    padding: 33px 0;
  }
}
#TOTOP {
  position: fixed;
  z-index: 101;
  right: 10px;
  bottom: -50px;
  -webkit-transform: translateZ(0);
}
#TOTOP a {
  float: right;
  display: block;
  width: 135px;
  height: 44px;
  line-height: 44px;
  padding: 0 16px 0 48px;
  background: url(http://media3.kddi.com/extlib/module/btn_totop.png) no-repeat left top;
}
#TOTOP .scroll:visited {
  color: #0066aa;
}
#TOTOP .scroll:hover {
  color: #1d9bff;
}
@media screen and (max-width: 768px) {
  #TOTOP {
    display: none;
  }
}

#footerArea .stop {
  position: absolute !important;
  top: 10px !important;
}

.tag-line {
  margin: 0 auto;
  font-size: 11px;
  line-height: 1.4;
}

/* business / contact--------------------------*/

@media screen and (max-width: 768px) {
  .contactimg {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .contactimg {
    display: none;
  }
}
.ttlTxt {
  width: 100%;
  margin: 0 auto 15px;
}

.box_btn {
  display:table;
  width:100%;
}

.box_btn div {
  display: table-cell;
  width: 40%;
  vertical-align: top;
}

.box_btn div .shp {
  width: 75%;
  margin: 0 auto 15px !important;
}

.box_btn div p {
  width: 85%;
  margin: 0 auto 15px !important;
}



.box_btn div.middle {
  vertical-align: middle !important;
}

.box_btn figure {
  width: 85%;
  margin: 0 auto 15px;
  text-align: center;
}

.box_btn figure img {
  width: 90%;
}

.box_btn .btn_blueBlockM, .box_btn .btn_redBlockM {
  width: 90% !important;
  margin: 0 auto;
  padding: 15px 10px !important;
  border-radius: 24px !important;
}

@media screen and (max-width: 480px) {

  .box_btn div {
    display: block;
    width: 100%;
  }
}

/* business / info--------------------------*/
.info li {
display: inline-block;
width: 20.5%;
vertical-align: top;
}
.info li img {
margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .info {
    width: 740px;
  }
}


@media screen and (min-width: 768px) {
  .info li {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .info li {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  .info li {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .info li figure {
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .info li {
    width: 45%;
    margin: 0 2%;
  }
}

.box_inquiry {
    float: inherit !important;
    display: table-cell !important;
    vertical-align: middle;
}

/* business / contact right--------------------------*/
.buttonext {
  padding: 10px 12px 10px 12px; !important;
}
