@charset "utf-8";
#EMG {
  background: #DDE0E7;
}

/*
  MAIN COLUMN
----------------------------------------------------------------------------------------------------*/
#headerArea {
  padding-bottom: 0;
  *text-align: left;
}
#headerArea .headerUtilityArea {
  padding-bottom: 9px;
}
@media screen and (max-width: 480px) {
  #headerArea .headerUtilityArea {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .headerNavTopSp {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .headerNavTopSp {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .spHeaderSearch {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .spHeaderSearch {
    display: block;
  }
}

.headerFix {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: -47px;
  left: 0;
  background: #FFF;
  -webkit-transform: translateZ(0);
}
@media screen and (max-width: 480px) {
  .headerFix {
    display: none;
  }
}
.headerFix .areaRight {
  float: right;
  width: 575px;
  *width: 585px;
}
.headerFix .areaRight .linkCat {
  padding-top: 7px;
  padding-right: 5px;
  float: left;
}
.headerFix .areaRight .headerSearch {
  float: right;
}
@media screen and (max-width: 768px) {
  .headerFix .areaRight .headerSearch {
    display: none;
  }
}
.headerFix .areaRight .headerSearch fieldset {
  position: relative;
  width: 202px;
  height: 24px;
}
.headerFix .areaRight .headerSearch legend {
  display: none;
}
.headerFix .areaRight .headerSearch .areaSearch {
  width: 160px;
  padding: 3px 30px 3px 10px;
  height: 16px;
  line-height: 16px;
  border: none;
  background: #e6e9ee;
  border-radius: 12px;
  border: 1px solid #e6e9ee;
  transition: all 0.2s;
  color: #AAB2BE;
}
.headerFix .areaRight .headerSearch .areaSearch:focus {
  outline: none;
  background: #fff;
}
.headerFix .areaRight .headerSearch .btn_search {
  position: absolute;
  top: 6px;
  right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  border: none;
  background: url(http://media3.kddi.com/extlib/module/btn_search_01.png) no-repeat left top;
}

.MAIN-COLUMN .annotation {
  font-size: 75%;
  font-weight: normal;
}

/*
  FOOTER
----------------------------------------------------------------------------------------------------*/
#footerArea {
  border-top: 10px solid #0E0D6A;
}
@media screen and (max-width: 768px) {
  #footerArea .footerGlobal {
    display: block !important;
    background: #FFF;
    border-bottom: 1px solid #0e0d6a;
  }
  #footerArea .footerGlobal:before {
    display: none;
  }
}
#footerArea .footerGlobal dl dt {
  padding: 20px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e9ee;
}
#footerArea .footerGlobal dl dt strong {
  font-weight: normal;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#footerArea .footerGlobal dl dd ul {
  margin-bottom: 20px;
}
#footerArea .footerGlobal dl dd ul li {
  margin-bottom: 10px;
  padding-left: 14px;
}
#footerArea .footerGlobal dl dd ul li .link_arrow {
  margin-left: -10px;
  *zoom: 1;
}
#footerArea .footerGlobal dl dd ul li .icon_window {
  margin-left: -12px;
  margin-right: 6px;
  *zoom: 1;
}
#footerArea .footerGlobal .footerSearch {
  height: 63px;
}
@media screen and (max-width: 480px) {
  #footerArea .footercommon {
    font-size: 71.42857%;
  }
}
#footerArea .footerUtilitySp2 .pcHidden li {
  padding: 15px 5px;
  line-height: 1.4;
}
#footerArea .footerUtilitySp2 .pcHidden li .icon_window {
  margin-right: 6px;
}

.footerItem {
    border-bottom: 1px solid #e6e9ee;
    position: relative;
}

#footerArea .footerItem dl dt {
    padding: 12px 0;
}