@charset "utf-8";

/* ====================================================

     MAIN_COLUMN

====================================================== */

/* ====================================================
    
		(1) Layout
		
		01. Base		
		02. Boxes
		03. Tabs
		04. In Layout
		05. Image float
		06. Other
		
======================================================= */

/* 01. Base
------------------------------------------------------- */
.MAIN-COLUMN {
  position: relative;
  z-index: 2;
  width: 75%;
  float: left;
  *text-align: left;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN {
    width: 100%;
    float: none;
  }
}


/* 02. Boxes
------------------------------------------------------- */

/* Base ---------------------------------------- */
.MAIN-COLUMN .box {
  display: block !important;
  overflow: hidden;
  border-radius: 7px;
  background: #fff;
  margin: 0 12px 24px;
  word-wrap: break-word;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box {
    margin: 0 6px 24px;
  }
  .MAIN-COLUMN .box img {
    max-width: 100% !important;
    height: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.MAIN-COLUMN .ind {
  padding: 18px 15px 3px 15px;
  zoom: 1;
}
.MAIN-COLUMN .ind:before,
.MAIN-COLUMN .ind:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .ind:after { clear: both;}

/* Outside Box --------------------------------- */
.MAIN-COLUMN .boxTrance {
  display: block;
  margin: 0 12px 24px;
}
.MAIN-COLUMN .boxTrance p { margin-bottom: 15px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .boxTrance { margin: 0 6px 24px;}
}

/* gray border */
.MAIN-COLUMN .m_borderBox {
  margin: 0 12px 24px;
  padding: 18px 15px 3px;
  border: 2px solid #DEE1E8;
  border-radius: 7px;
}
.MAIN-COLUMN .m_borderBox p { margin-bottom: 15px;}
.MAIN-COLUMN .m_borderConversion {
  margin: 0 12px 24px;
  padding: 18px 15px 3px;
  border: 2px solid #D24531;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_borderConversion { margin: 0 6px 24px;}
}
.MAIN-COLUMN .m_borderConversion p { margin-bottom: 15px;}
.MAIN-COLUMN .box .m_borderConversion { margin: 0 0 24px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .m_borderConversion { margin: 0 0 24px;}
}
.MAIN-COLUMN .m_borderBox a:hover,
.MAIN-COLUMN .m_borderConversion .listVerticalIn a:hover { text-decoration: underline;}


/* 1 stations ------------------------------------ */
.MAIN-COLUMN .m_boxes1 {
  position: relative;
  *text-align: left;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes1 { padding: 0 6px;}
}

/* 2 stations ----------------------------------- */
.MAIN-COLUMN .m_boxes2 {
  zoom: 1;
  *text-align: left;
}
.MAIN-COLUMN .m_boxes2:before,
.MAIN-COLUMN .m_boxes2:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .m_boxes2:after { clear: both;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes2 { padding: 0 6px;}
}
.MAIN-COLUMN .m_boxes2 .area {
  float: left;
  width: 369px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes2 .area { width: 50%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .m_boxes2 .area,
#POPUP .MAIN-COLUMN .m_boxes2 .area {
    float: none;
    width: 100%;
  }
}
.MAIN-COLUMN .m_boxes2 .box { overflow: hidden;}

/* 2 stations02 ---------------------------------- */
.MAIN-COLUMN .m_boxes2ls { zoom: 1;}
.MAIN-COLUMN .m_boxes2ls:before,
.MAIN-COLUMN .m_boxes2ls:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .m_boxes2ls:after { clear: both;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes2ls { padding: 0 6px;}
}
.MAIN-COLUMN .m_boxes2ls .area01 {
  float: left;
  width: 492px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes2ls .area01 { width: 66.66666%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .m_boxes2ls .area01 {
    float: none;
    width: 100%;
  }
}
.MAIN-COLUMN .m_boxes2ls .area02 {
  float: left;
  width: 246px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes2ls .area02 { width: 33.33333%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .m_boxes2ls .area02 {
    float: left;
    width: 100%;
  }
  .MAIN-COLUMN .m_boxes2ls .area02 .area {
    float: left;
    width: 50%;
  }
}
.MAIN-COLUMN .m_boxes2ls .box { overflow: hidden;}

/* 3 stations -------------------------------------- */
.MAIN-COLUMN .m_boxes3 { zoom: 1;}
.MAIN-COLUMN .m_boxes3:before,
.MAIN-COLUMN .m_boxes3:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .m_boxes3:after { clear: both;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3 { padding: 0 6px;}
}
.MAIN-COLUMN .m_boxes3 .area {
  float: left;
  width: 246px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3 .area { width: 33.33333%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .m_boxes3 .area { width: 50%;}
}
.MAIN-COLUMN .m_boxes3 .box { overflow: hidden;}
.MAIN-COLUMN .m_boxes3 .box img {
  border-bottom: 1px solid #e6e9ee;
  border-radius: 7px 7px 0 0;
}
.MAIN-COLUMN .m_boxes3 .box .link_selfW > img,
.MAIN-COLUMN .m_boxes3 .box .link_selfB > img,
.MAIN-COLUMN .m_boxes3 .box .link_blankW > img,
.MAIN-COLUMN .m_boxes3 .box .link_blankB > img {
  border-radius: 7px 7px 0 0;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3 .box .link_selfW > img:first-child,
	.MAIN-COLUMN .m_boxes3 .box .link_selfB > img:first-child,
	.MAIN-COLUMN .m_boxes3 .box .link_blankW > img:first-child,
	.MAIN-COLUMN .m_boxes3 .box .link_blankB > img:first-child {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.MAIN-COLUMN .m_boxes3 .box .ami {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}
.MAIN-COLUMN .m_boxes3 a.box:hover dt,
.MAIN-COLUMN .m_boxes3 a.box:hover span {
  text-decoration: underline;
}

/* 3 stations (top) ------------------------------------- */
.MAIN-COLUMN .m_boxes3top { zoom: 1;}
.MAIN-COLUMN .m_boxes3top:before,
.MAIN-COLUMN .m_boxes3top:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .m_boxes3top:after { clear: both;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3top { padding: 0 6px;}
}
.MAIN-COLUMN .m_boxes3top .area {
  float: left;
  width: 246px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3top .area { width: 33.33333%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .m_boxes3top .area { width: 50%;}
}
.MAIN-COLUMN .m_boxes3top .box { overflow: hidden;}
.MAIN-COLUMN .m_boxes3top .box .link_selfW > img,
.MAIN-COLUMN .m_boxes3top .box .link_selfB > img,
.MAIN-COLUMN .m_boxes3top .box .link_blankW > img,
.MAIN-COLUMN .m_boxes3top .box .link_blankB > img {
  border-bottom: none;
  border-radius: 7px 7px 0 0;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3top .box .link_selfW > img:first-child,
	.MAIN-COLUMN .m_boxes3top .box .link_selfB > img:first-child,
	.MAIN-COLUMN .m_boxes3top .box .link_blankW > img:first-child,
	.MAIN-COLUMN .m_boxes3top .box .link_blankB > img:first-child {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.MAIN-COLUMN .m_boxes3top .box .icon_img { border-radius: 0 0 0 0;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_boxes3top .box .icon_img { width: auto !important;}
}
.MAIN-COLUMN .m_boxes3top .box .ami { border-radius: 7px 7px 0 0;}
.MAIN-COLUMN .m_boxes3top .box:hover dl,
.MAIN-COLUMN .m_boxes3top .box:hover p {
  color: #D2EEFA;
}
.MAIN-COLUMN .m_boxes3top .ind {
  display: block;
  padding: 15px 17px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 0 0 7px 7px;
}

/* border --------------------------------------------*/
.MAIN-COLUMN .m_border {
  margin: 0 12px 24px;
  padding: 15px 0;
  border: 2px solid #DEE1E8;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_border { margin: 0 12px 24px;}
}

.MAIN-COLUMN .m_border .box { overflow: hidden;}


/* other --------------------------------------------*/
.MAIN-COLUMN .other { margin-bottom: 24px;}
.MAIN-COLUMN .other .box { margin-top: 20px;}
.MAIN-COLUMN .other dt {
  margin: 0 12px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}


/* 03. Tab
------------------------------------------------------- */

/* normal */
.MAIN-COLUMN .tabSkipLinkMulti {
  width: 720px;
  margin: 0 12px 24px;
  border-radius: 7px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tabSkipLinkMulti { width: auto;}
}
.MAIN-COLUMN .tabSkipLinkMulti li {
  border-left: 1px solid #E6E9EE;
  border-top: 1px solid #E6E9EE;
  margin-left: -1px;
  margin-top: -1px;
  font-weight: bold;
  overflow: hidden;
}
.MAIN-COLUMN .tabSkipLinkMulti a, .MAIN-COLUMN .tabSkipLinkMulti span {
  display: block;
  background: #fff;
  *zoom: 1;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .tabSkipLinkMulti a, .MAIN-COLUMN .tabSkipLinkMulti span {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .MAIN-COLUMN .tabSkipLinkMulti a span, .MAIN-COLUMN .tabSkipLinkMulti span span {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.MAIN-COLUMN .tabSkipLinkMulti a .annotation, .MAIN-COLUMN .tabSkipLinkMulti span .annotation {
  padding: 0 0 0 10px;
  color: #555566;
}
.MAIN-COLUMN .tabSkipLinkMulti a:hover { text-decoration: underline;}
.MAIN-COLUMN .tabSkipLinkMulti .is_current { color: #fff;}

.MAIN-COLUMN .tab2 li {
  width: 357px;
  text-align: center;
  float: left;
}
#POPUP .MAIN-COLUMN .tab2 li { width: 50%;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tab2 li { width: 50%;}
}
.MAIN-COLUMN .tab2 li a, .MAIN-COLUMN .tab2 li span {
  display: block;
  padding: 10px 5px;
}
.MAIN-COLUMN .tab3 li {
  width: 238px;
  text-align: center;
  float: left;
}
#POPUP .MAIN-COLUMN .tab3 li { width: 33.33333%;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tab3 li { width: 33.33333%;}
}
.MAIN-COLUMN .tab3 li a, .MAIN-COLUMN .tab3 li span {
  display: block;
  padding: 10px 5px;
}
.MAIN-COLUMN .tab4 li {
  width: 178px;
  text-align: center;
  float: left;
}
.MAIN-COLUMN .tab4 li:first-child {
  width: 180px;
}
#POPUP .MAIN-COLUMN .tab4 li { width: 25%;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tab4 li {
    width: 25%;
  }
  .MAIN-COLUMN .tab4 li:first-child {
    width: 25%;
  }
}
.MAIN-COLUMN .tab4 li a, .MAIN-COLUMN .tab4 li span {
  display: block;
  padding: 10px 5px;
}
.MAIN-COLUMN .tab5 li {
  width: 143px;
  text-align: center;
  float: left;
}
.MAIN-COLUMN .tab5 li:first-child {
  width: 142px;
}
#POPUP .MAIN-COLUMN .tab5 li { width: 20%;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tab5 li { width: 20%;}
  .MAIN-COLUMN .tab5 li:first-child { width: 20%;}
}
.MAIN-COLUMN .tab5 li a, .MAIN-COLUMN .tab5 li span {
  display: block;
  padding: 10px 5px;
}
.MAIN-COLUMN .tab6 li {
  width: 119px;
  text-align: center;
  float: left;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .tab6 li { width: 16.66667%;}
}
.MAIN-COLUMN .tab6 li a, .MAIN-COLUMN .tab6 li span {
  display: block;
  padding: 10px 5px;
}


/* inner tab */
.MAIN-COLUMN .m_gray {
  background: #e6e9ee;
  border-radius: 7px;
  margin: 0 12px 24px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .m_gray { margin: 0 12px 24px;}
}
.MAIN-COLUMN .m_gray .hLevel2G {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 15px 18px;
  font-size: 114.28571%;
  z-index: 5;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  zoom: 1;
  font-weight: bold;
  background: #dde0e7;
}
.MAIN-COLUMN .m_gray .hLevel2G input { margin-right: 5px;}
.MAIN-COLUMN .ind .m_gray {
  margin: 0;
  border-radius: 0;
}
.MAIN-COLUMN .listSkipLink {
  padding: 20px 15px 10px;
  *padding: 20px 5px 8px 15px;
}
.MAIN-COLUMN .listSkipLink li {
  float: left;
  display: block;
  white-space: nowrap\9;
  margin: 0 10px 10px 0;
  position: relative;
  *float: none;
  *display: inline;
  *zoom: 1;
}
.MAIN-COLUMN .listSkipLink li img { border: none;}
.MAIN-COLUMN .listSkipLink:not(:target) {
  padding: 20px 15px 3px\9 !important;
}

/* Horizontal List */
.MAIN-COLUMN .listHorizontal {
  padding: 9px 0;
  padding: 9px 0 18px\9;
  *padding: 9px 0 18px;
  margin-left: -5px;
  overflow: hidden;
  zoom: 1;
}
.MAIN-COLUMN .listHorizontal:before, .MAIN-COLUMN .listHorizontal:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .listHorizontal:after { clear: both;}
.MAIN-COLUMN .listHorizontal li {
  float: left;
  white-space: nowrap\9;
  *white-space: nowrap;
  margin: 6px 20px 6px -1px;
  padding-left: 20px;
  border-left: 1px solid #CCD0D9;
}
.MAIN-COLUMN .listHorizontal li a:hover { text-decoration: underline;}
.MAIN-COLUMN .listHorizontal:not(:target) { padding: 9px 0\9;}

/* Tab in Box */
.MAIN-COLUMN .tabHistory {
  margin: 0;
  border-radius: 7px 7px 0 0;
}
.MAIN-COLUMN .tabHistory li {
  position: relative;
  border-left: 1px solid #E6E9EE;
  border-bottom: 1px solid #E6E9EE;
  margin-left: -1px;
  font-weight: bold;
  *zoom: 1;
  background: transparent;
}
.MAIN-COLUMN .tabHistory li:first-child {
  border-left: none;
}
.MAIN-COLUMN .tabHistory a, .MAIN-COLUMN .tabHistory span {
  display: block;
  *zoom: 1;
  background: #FFF;
}
.MAIN-COLUMN .tabHistory a:hover {
  text-decoration: underline;
}
.MAIN-COLUMN .tabHistory .is_current { position: relative;}
.MAIN-COLUMN .tabHistory .is_current a { color: #fff;}
.MAIN-COLUMN .tabHistory .is_current .tabArrow {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.MAIN-COLUMN .tabHistory li:first-child a, .MAIN-COLUMN .tabHistory li:first-child span {
  border-radius: 7px 0 0 0;
}
.MAIN-COLUMN .tabHistory li:last-child a, .MAIN-COLUMN .tabHistory li:last-child span {
  border-radius: 0 7px 0 0;
}


/* 04. In Layout
------------------------------------------------------- */

/* 2 separate */
.MAIN-COLUMN .box .halfL {
  width: 330px;
  float: left;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .halfL {
    background: none;
    width: 50%;
    padding-right: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .halfL {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}
.MAIN-COLUMN .box .halfL > dl { margin-bottom: 0;}
.MAIN-COLUMN .box .halfR {
  width: 330px;
  float: right;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .halfR {
    background: none;
    width: 50%;
    padding-left: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .halfR {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-bottom: 15px;
  }
}
.MAIN-COLUMN .box .halfR > dl { margin-bottom: 0;}
.MAIN-COLUMN .box .halfL02 {
  width: 330px;
  float: left;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .halfL02 {
    background: none;
    width: 50%;
    padding-right: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.MAIN-COLUMN .box .halfL02 .mainLineHalf .setR { margin-bottom: 0;}
.MAIN-COLUMN .box .halfR02 {
  width: 330px;
  float: right;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .halfR02 {
    background: none;
    width: 50%;
    padding-left: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* 3 separate */
.MAIN-COLUMN .box .thirdL {
  width: 212px;
  float: left;
  margin: 0 24px 15px 0;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .thirdL {
    background: none;
    width: 32%;
	margin-bottom: 15px;
    margin-right: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .thirdL {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}
.MAIN-COLUMN .box .thirdC {
  width: 212px;
  float: left;
  margin-bottom: 15px;
  margin: 0 24px 15px 0;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .thirdC {
    background: none;
    width: 32%;
	margin-bottom: 15px;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .thirdC {
    width: 100%;
    float: none;
    padding: 0;
  }
}
.MAIN-COLUMN .box .thirdR {
  width: 212px;
  float: right;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .thirdR {
    background: none;
    width: 32%;
	margin-bottom: 15px;
    margin-left: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .thirdR {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-bottom: 15px;
  }
}
.MAIN-COLUMN .box .thirdCR {
  width: 448px;
  float: right;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .thirdCR {
    background: none;
    margin: 0 0 15px 0;
    width: 66.66666%;
    padding-left: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .thirdCR {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-bottom: 15px;
  }
}

/* Half border */
.MAIN-COLUMN .box .halfBoxes {
  position: relative;
  bottom: -4px;
  border-top: 1px solid #e6e9ee;
  *zoom: 1;
  margin: -21px -15px 0;
  *width: 714px;
}
.MAIN-COLUMN .box .halfBoxes:first-child { border-top: none;}
.MAIN-COLUMN .box .halfBoxes:before, .MAIN-COLUMN .box .halfBoxes:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .halfBoxes:after { clear: both;}
.MAIN-COLUMN .box .halfBoxes .areaHalf {
  width: 50%;
  float: left;
  *zoom: 1;
  margin-bottom: -1px;
  margin-right: -1px;
  border-bottom: 1px solid #e6e9ee;
  border-right: 1px solid #e6e9ee;
}
.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn {
  padding: 18px 14px 3px;
  *zoom: 1;
}
.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn dl {
  margin-bottom: 15px;
}
.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfLmini,
.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfRmini {
  width: 156px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfLmini,
	.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfRmini {
    width: 100%;
  }
  .MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfLmini .btn_blueBlockM,
	.MAIN-COLUMN .box .halfBoxes .areaHalf .boxIn .halfRmini .btn_blueBlockM {
    padding: 9px 10px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.MAIN-COLUMN .box .halfBoxes .areaHalf .mainLineHalf { *margin-bottom: 15px;}
.MAIN-COLUMN .box .halfBoxes .areaHalf .mainLineHalf .setR {
  margin-bottom: 0;
}
.MAIN-COLUMN .box .halfBoxes .areaHalf .youtube {
  margin-top: 0;
  margin-bottom: 10px;
}
.MAIN-COLUMN .box .halfBoxes .moreCont { display: none;}
.MAIN-COLUMN .box .halfBoxes:not(:target) {
  position: relative\9;
  margin-top: -21px\9;
  bottom: -3px\9;
}
.MAIN-COLUMN .box .mainLineHalf { *zoom: 1;}
.MAIN-COLUMN .box .mainLineHalf:before,
.MAIN-COLUMN .box .mainLineHalf:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .mainLineHalf:after { clear: both;}
.MAIN-COLUMN .box .mainLineHalf > .setL {
  float: left;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .mainLineHalf > .setL {
    max-width: 45.5% !important;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .mainLineHalf > .setL {
    float: none;
    margin-bottom: 15px;
    max-width: 100% !important;
    text-align: center;
  }
}
.MAIN-COLUMN .box .mainLineHalf > .setR {
  overflow: hidden;
  padding-left: 18px;
  margin-bottom: 15px;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .mainLineHalf > .setR {
    margin-top: 0;
    padding-left: 18px;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .mainLineHalf > .setR { padding-left: 0;}
}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4_link {
  margin-bottom: 15px;
  padding-left: 10px;
}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4_link .link_arrow {
  margin-left: -10px;
  *zoom: 1;
}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4_link .icon_window { margin-left: -12px;}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4 { margin-bottom: 15px;}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4 .link_arrow {
  margin-left: -10px;
  *zoom: 1;
}
.MAIN-COLUMN .box .mainLineHalf > .setR .hLevel4 .icon_window { margin-left: -12px;}
.MAIN-COLUMN .box .mainLineHalf > .setR .txtAdress { margin-top: 20px;}

/* Half border02 */
.MAIN-COLUMN .box .halfLines {
  zoom: 1;
  overflow: hidden;
  margin: -15px 0 15px;
}
.MAIN-COLUMN .box .halfLines:before, .MAIN-COLUMN .box .halfLines:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .halfLines:after { clear: both;}
.MAIN-COLUMN .box .halfLines .areaHalf {
  width: 50%;
  float: left;
  margin-right: -1px;
  border-bottom: 1px solid #e6e9ee;
  border-right: 1px solid #e6e9ee;
}
.MAIN-COLUMN .box .halfLines .areaHalf .boxIn { padding: 18px 14px 3px;}
.MAIN-COLUMN .box .halfLines .areaHalf .boxIn dl { margin-bottom: 15px;}
.MAIN-COLUMN .box .halfLines .areaHalf:nth-child(2n-1) .boxIn {
  padding-left: 0;
}
.MAIN-COLUMN .box .halfLines .areaHalf .mainLineHalf .setL,
.MAIN-COLUMN .box .halfLines .areaHalf .mainLineHalf .setR,
.MAIN-COLUMN .box .halfLines .areaHalf .mainLineHalf dl {
  margin-bottom: 0;
}
.MAIN-COLUMN .box .halfLinesLast {
  zoom: 1;
  overflow: hidden;
  margin: -15px 0 -4px;
}
.MAIN-COLUMN .box .halfLinesLast:before, .MAIN-COLUMN .box .halfLinesLast:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .halfLinesLast:after { clear: both;}
.MAIN-COLUMN .box .halfLinesLast .areaHalf {
  width: 50%;
  float: left;
  margin-right: -1px;
  border-bottom: 1px solid #e6e9ee;
  border-right: 1px solid #e6e9ee;
}
.MAIN-COLUMN .box .halfLinesLast .areaHalf .boxIn { padding: 18px 14px 3px;}
.MAIN-COLUMN .box .halfLinesLast .areaHalf .boxIn dl { margin-bottom: 15px;}
.MAIN-COLUMN .box .halfLinesLast .areaHalf:nth-child(2n-1) .boxIn { padding-left: 0;}
.MAIN-COLUMN .box .halfLinesLast .areaHalf .mainLineHalf .setL,
.MAIN-COLUMN .box .halfLinesLast .areaHalf .mainLineHalf .setR,
.MAIN-COLUMN .box .halfLinesLast .areaHalf dl .setL,
.MAIN-COLUMN .box .halfLinesLast .areaHalf dl .setR {
  margin-bottom: 0;
}

/* white frame */
.MAIN-COLUMN .box .areaBorder {
  margin-bottom: 15px;
  border: 1px solid #E6E9EE;
  padding: 18px 20px 3px;
}

/* gray frame */
.MAIN-COLUMN .box .areaBorderBg {
  margin-bottom: 15px;
  border: 1px solid #E6E9EE;
  background: #F9FAFC;
  padding: 18px 20px 3px;
}

/* gray frame header */
.MAIN-COLUMN .box .areaBorderDl {
  margin-bottom: 15px;
  border: 1px solid #E6E9EE;
}
.MAIN-COLUMN .box .areaBorderDl > dt {
  padding: 8px 14px;
  margin-bottom: 0 !important;
  background: #F9FAFC;
  border-top: 1px solid #E6E9EE;
  border-bottom: 1px solid #E6E9EE;
  border-radius: 0;
  *zoom: 1;
}
.MAIN-COLUMN .box .areaBorderDl > dt .hLevel4 {
  float: left;
  margin-bottom: 0 !important;
}
.MAIN-COLUMN .box .areaBorderDl > dt .btn_regist {
  padding-top: 4px;
  float: right;
}
.MAIN-COLUMN .box .areaBorderDl > dt:first-child { border-top: none;}
.MAIN-COLUMN .box .areaBorderDl > dt:before, .MAIN-COLUMN .box .areaBorderDl > dt:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .areaBorderDl > dt:after { clear: both;}
.MAIN-COLUMN .box .areaBorderDl > dd { padding: 14px 14px 0px 14px;}


/* boxSolv */
.boxProbSolv { margin-bottom: 25px;}
.boxProbSolv .boxPreb {
  margin-bottom: 15px;
  border: 1px solid #E6E9EE;
  background: #F9FAFC;
  padding: 10px;
}
.boxProbSolv .boxSolv {
  position: relative;
  padding-left: 36px;
}
.boxProbSolv .img_arrow {
  position: absolute;
  left: 18px;
  top: 5px;
  border: none !important;
}


/* 05. Images float
------------------------------------------------------- */
/* width190px */
.MAIN-COLUMN .box .txtArea,
.MAIN-COLUMN .m_borderBox .txtArea {
  width: 467px;
  float: left;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .txtArea,
	.MAIN-COLUMN .m_borderBox .txtArea { width: 70%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .txtArea,
	.MAIN-COLUMN .m_borderBox .txtArea {
    width: 100%;
    float: none;
    margin-bottom: 12px;
  }
}
.MAIN-COLUMN .box .figure,
.MAIN-COLUMN .m_borderBox .figure {
  width: 192px;
  padding-left: 24px;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .figure,
	.MAIN-COLUMN .m_borderBox .figure { width: 25%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .figure,
	.MAIN-COLUMN .m_borderBox .figure {
    width: 192px;
    padding-left: 0;
    margin: 0 auto;
  }
}
/* ----- */
.MAIN-COLUMN .box .areaBorderBg .txtArea { width: 425px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .areaBorderBg .txtArea { width: 70%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .areaBorderBg .txtArea { width: 100%;}
}
.MAIN-COLUMN .box .areaBorderBg .figure { width: 192px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .areaBorderBg .figure { width: 25%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .areaBorderBg .figure { width: 192px;}
}

.MAIN-COLUMN .box .areaBorderBg .imgMd .txtArea {  width: 464px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .areaBorderBg .imgMd .txtArea { width: 65%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .areaBorderBg .imgMd .txtArea { width: 100%;}
}
.MAIN-COLUMN .box .areaBorderBg .imgMd .figure { width: 153px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .areaBorderBg .imgMd .figure { width: 30%; }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .areaBorderBg .imgMd .figure { width: 153px;}
}

/* width151px */
.MAIN-COLUMN .box .imgMd .txtArea { width: 506px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .imgMd .txtArea { width: 90%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .imgMd .txtArea { width: 100%;}
}

.MAIN-COLUMN .box .imgMd .figure { width: 153px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .imgMd .figure { width: 25%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .imgMd .figure {  width: 153px;}
}

/* width270px */
.MAIN-COLUMN .box .imgLg .txtArea { width: 387px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .imgLg .txtArea { width: 100%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .imgLg .txtArea { width: 100%;}
}

.MAIN-COLUMN .box .imgLg .figure { width: 272px;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .imgLg .figure { width: 35%;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .imgLg .figure { width: 272px;}
}

/* float reverse */
.MAIN-COLUMN .box .flR .txtArea { padding-left: 24px;}
.MAIN-COLUMN .box .flR .figure {
  float: left;
	padding-left: 0;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .flR .txtArea { padding-left: 0;}
	.MAIN-COLUMN .box .flR .figure { float: none;}
}

/* any size */
.MAIN-COLUMN .box .mainLine {
  *zoom: 1;
  margin-bottom: 15px;
	*margin-bottom: 30px;
}
.MAIN-COLUMN .box .mainLine:before, .MAIN-COLUMN .box .mainLine:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .mainLine:after { clear: both;}
.MAIN-COLUMN .box .mainLine .setL { float: left;}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .mainLine .setL {
    max-width: 45.5% !important;
  }
}
.MAIN-COLUMN .box .mainLine .setR {
  overflow: hidden;
  padding-left: 18px;
  margin-bottom: 0;
  *zoom: 1;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .mainLine .setR {
    margin-top: 0;
    padding-left: 18px;
  }
}

/* 06. Other
------------------------------------------------------- */
/* News Area */
.MAIN-COLUMN .box .listNewsIn {
  overflow: hidden;
  margin: -19px -15px 0;
}
.MAIN-COLUMN .box .listNewsIn li {
  padding: 21px 17px;
  border-top: 1px solid #e6e9ee;
  border-bottom: none;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem { *zoom: 1;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem dt {
  float: left;
  margin-bottom: 0;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .nonDay { width: 140px;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem dd {
  overflow: hidden;
  padding-left: 14px;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem dd p { margin-bottom: 0;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem dd .link_arrow {
  display: inline-block;
  background-position: left 8px;
  *background-position: left 7px;
  margin-left: -10px;
  *zoom: 1;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem dd .icon_window {
  margin-left: -14px;
  *zoom: 1;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .listNewsIn .listNewsItem .fr { padding-top: 12px;}
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .listNewsIn .listNewsItem dt {
    width: auto;
    float: none;
    margin-bottom: 10px;
  }
  .MAIN-COLUMN .box .listNewsIn .listNewsItem .fl { float: none;}
  .MAIN-COLUMN .box .listNewsIn .listNewsItem .fr {
    padding-top: 12px;
    float: none;
    text-align: center;
  }
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons {
  margin-left: -10px;
  margin-bottom: 10px;
  padding-top: 2px;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons li {
  float: left;
  border: none;
  padding: 0;
  margin-right: 10px;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons li img {
  border: none;
  vertical-align: top;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons:not(:target) { padding-top: 0\9;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIconsIr {
  padding-top: 4px;
  float: left;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIconsIr li {
  float: left;
  border: none;
  padding: 0;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIconsIr li img { border: none;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIconsIr:not(:target) { padding-top: 0\9;}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsText {
  padding-top: 2px;
  padding-left: 30px;
  overflow: hidden;
  *zoom: 1;
}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem { *zoom: 1;}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem dl { margin-bottom: 0;}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem dt { margin-bottom: 6px;}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem dd { padding-left: 10px;}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem dd .link_arrow {
  margin-left: -10px;
  *zoom: 1;
}
.MAIN-COLUMN .box .listNewsIn .listTopicsItem dd .icon_window {
  margin-left: -12px;
  *zoom: 1;
}


.MAIN-COLUMN .listNewsIcon {
  padding-top: 2px;
  padding-right: 15px;
  float: right;
  font-size: 87.5%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.MAIN-COLUMN .listNewsIcon.outHeader { font-size: 100%;}
.MAIN-COLUMN .listNewsIcon li {
  float: left;
  margin-left: 15px;
  text-align: right;
}
.MAIN-COLUMN .listNewsIcon li a { display: block;}
.MAIN-COLUMN .listNewsIcon li a:hover { text-decoration: underline !important;}
.MAIN-COLUMN .listNewsIcon li img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: -5px;
  margin-right: 5px;
}
.MAIN-COLUMN .listNewsIcon li .icon_window { vertical-align: 0px;}
.MAIN-COLUMN .listNewsIcon .icon_tell {
  text-align: left;
  margin-top: -2px;
  *zoom: 1;
  max-width: 120px;
}
.MAIN-COLUMN .listNewsIcon .icon_tell img { vertical-align: middle;}
.MAIN-COLUMN .listNewsIcon .icon_tell span {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-size: 85.71429%;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .listNewsIcon .btn_rss { display: none;}
  .MAIN-COLUMN .listNewsIcon li {
    float: none;
    text-align: right;
    width: auto;
    height: auto;
    margin-left: 0;
  }
  .MAIN-COLUMN .listNewsIcon li a { margin: 0 auto;}
}

/* ====================================================
    
		(2) Parts
		
		01. Heading
		02. Links
		03. Lists
		04. Text
		05. Table
		06. Line
		07. Image
		08. Other
		
======================================================= */

/* 01. Heading
------------------------------------------------------- */

/* h1 ------------------------------------------ */
.MAIN-COLUMN h1 {
  height: 101px;
  line-height: 101px;
  margin: 0 12px 24px;
  font-size: 171.42857%;
  *text-align: left;
  font-family: "A-OTF UD 新ゴ Pr6 R","A-OTF UD Shin Go Pr6 R","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
#POPUP .MAIN-COLUMN h1 { line-height:normal;}

@media screen and (max-width: 768px) {
  .MAIN-COLUMN h1 {
    line-height: 1.6;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 24px;
    padding: 31px 18px;
    width: 100%;
    height: auto;
    background: #fff;
    border-bottom: 1px solid #e6e9ee;
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN h1 {
    margin: 0 0 24px;
    height: auto;
    background: #fff;
    border-bottom: 1px solid #e6e9ee;
  }
}

/* h Level2 ------------------------------------ */
.MAIN-COLUMN .hLevel2 {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 15px 0;
  font-size: 114.28571%;
  z-index: 5;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  zoom: 1;
}
.MAIN-COLUMN .hLevel2:before, .MAIN-COLUMN .hLevel2:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .hLevel2:after { clear: both;}
.MAIN-COLUMN .hLevel2 a:hover { text-decoration: underline;}
.MAIN-COLUMN .hLevel2 h2 {
  float: left;
  padding: 0 15px 0 36px;
  min-height: 24px;
  line-height: 24px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.MAIN-COLUMN .hLevel2 h2 .icon_window { margin: 0 5px 0 0;}
.MAIN-COLUMN .hLevel2 .icon_linkList {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 15px;
}
.MAIN-COLUMN .hLevel2 .rightLink {
  margin-right: 15px;
  float: right;
  font-size: 87.5%;
  background-position: left 7px;
}
.MAIN-COLUMN .hLevel2 .hLabel { padding-right: 15px;}

.MAIN-COLUMN .hLevel2 img { border: none !important;}
.MAIN-COLUMN a.hLevel2 { color: #555566;}
.MAIN-COLUMN a.hLevel2:visited { color: #555566;}
.MAIN-COLUMN a.hLevel2:focus { color: #555566;}
.MAIN-COLUMN a.hLevel2:hover { color: #555566;}
.MAIN-COLUMN a.hLevel2:active { color: #555566;}
.MAIN-COLUMN a.hLevel2 h2 { padding: 0 40px 0 36px;}
.MAIN-COLUMN a.hLevel2:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* h Level3 ------------------------------------ */
.MAIN-COLUMN .hLevel3 {
  padding: 0 2px 10px;
  margin: 25px 0 15px;
  font-size: 114.28571%;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.MAIN-COLUMN .hLevel3:first-child { margin-top: 0;}

.MAIN-COLUMN header.hLevel3, .MAIN-COLUMN .ind > a.hLevel3 {
  position: relative;
  display: block;
  zoom: 1;
  color: #555566;
}
.MAIN-COLUMN header.hLevel3:before,
.MAIN-COLUMN header.hLevel3:after,
.MAIN-COLUMN .ind > a.hLevel3:before,
.MAIN-COLUMN .ind > a.hLevel3:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN header.hLevel3:after,
.MAIN-COLUMN .ind > a.hLevel3:after {
  clear: both;
}
.MAIN-COLUMN header.hLevel3 h2,
.MAIN-COLUMN header.hLevel3 h3,
.MAIN-COLUMN .ind > a.hLevel3 h2,
.MAIN-COLUMN .ind > a.hLevel3 h3 {
  float: left;
  padding-right: 35px;
}

.MAIN-COLUMN .hLabel {
  float: right;
  padding-top: 7px;
}
.MAIN-COLUMN .hLabel li {
  float: left;
  margin-left: 10px;
}
.MAIN-COLUMN .hLabel .label {
  display: inline-block;
  *zoom: 1;
  border-radius: 2px;
  color: #fff;
  padding: 5px 10px 4px;
  font-size: 10px;
  line-height: 1;
  background: #565665;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.MAIN-COLUMN .hLabel .label .link_arrow { background: url(http://media3.kddi.com/extlib/module/icon_arrow_02.gif) no-repeat left 3px;}
.MAIN-COLUMN .hLabel .label:hover { text-decoration: none !important;}
.MAIN-COLUMN .hLabel a.label:hover { background: #898989;}

/* h Level4 ------------------------------------ */
.MAIN-COLUMN .hLevel4 {
  margin: 10px 0 10px !important;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.MAIN-COLUMN .hLevel4:first-child { margin: 0 0 10px !important;}


/* h Level5 ------------------------------------ */
.MAIN-COLUMN .hLevel5 {
  margin: 5px 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-bottom: 3px;
  font-family: "A-OTF UD 新ゴ Pr6 R","A-OTF UD Shin Go Pr6 R","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


/* 02. Links
------------------------------------------------------- */
.MAIN-COLUMN .listSkipLink a:hover { text-decoration: none;}

.MAIN-COLUMN .ind a:hover,
.MAIN-COLUMN .m_border a:hover,
.MAIN-COLUMN .m_borderBox a:hover,
.MAIN-COLUMN .other a:hover {
  text-decoration: underline;
}

.MAIN-COLUMN .link_arrow {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left center;
  *background: url(http://media3.kddi.com/extlib/module/icon_arrow_01.gif) no-repeat left 7px;
}
.MAIN-COLUMN .link_arrow02 {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/module/icon_arrow_02.gif) no-repeat left 5px;
}

/* icon */
.MAIN-COLUMN .icon_window {
  display: inline-block;
  *display: inline;
  margin-right: 5px;
  vertical-align: 1px;
  *zoom: 1;
  border: none !important;
  border-radius: 0 !important;
}
.MAIN-COLUMN li .icon_window {
  margin-left: 0;
  margin-right: 5px;
}
.MAIN-COLUMN .icon_listview {
  display: inline-block;
  border: none !important;
}
.MAIN-COLUMN .icon_pdf,
.MAIN-COLUMN .icon_exl {
  margin-right: 8px;
  vertical-align: -1px;
  border: none !important;
}
.MAIN-COLUMN .icon_download {
  margin-right: 6px;
  vertical-align: 1px;
  border: none !important;
}
.MAIN-COLUMN .icon_skiplink {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px 0 0;
  border: none !important;
}
.MAIN-COLUMN .m_borderConversion .icon_skiplink { vertical-align: 3px;}


/* 03. Lists
------------------------------------------------------- */

/* Normal List */
.MAIN-COLUMN .box .listVerticalIn,
.MAIN-COLUMN .m_borderBox .listVerticalIn,
.MAIN-COLUMN .m_borderConversion .listVerticalIn {
  padding: 0 3px 5px 3px;
}
.MAIN-COLUMN .box .listVerticalIn li,
.MAIN-COLUMN .m_borderBox .listVerticalIn li,
.MAIN-COLUMN .m_borderConversion .listVerticalIn li {
  margin-bottom: 10px;
}

.MAIN-COLUMN .box .listVerticalInNo { padding: 0 3px 15px 3px;}
.MAIN-COLUMN .box .listVerticalInNo li,
.MAIN-COLUMN .box .listVerticalInNo ul li {
  margin-bottom: 0;
}
.MAIN-COLUMN .box .listVerticalIn li ul,
.MAIN-COLUMN .box .listVerticalInNo li ul {
  margin-left: 1.5em;
}
.MAIN-COLUMN .box .listVerticalIn li .listFooterNoteIn,
.MAIN-COLUMN .box .listVerticalInNo li .listFooterNoteIn {
  margin-left: 0;
}

/* Dot List */
.MAIN-COLUMN .box .listVerticalDotIn,
.MAIN-COLUMN .m_borderBox .listVerticalDotIn,
.MAIN-COLUMN .m_borderConversion .listVerticalDotIn  {
  padding: 0 3px 5px 3px;
}
.MAIN-COLUMN .box .listVerticalDotIn > li,
.MAIN-COLUMN .m_borderBox .listVerticalDotIn > li,
.MAIN-COLUMN .m_borderConversion .listVerticalDotIn > li {
  margin-bottom: 10px;
  padding-left: 15px;
  background: url(http://media3.kddi.com/extlib/module/icon_dot_03.gif) no-repeat left 9px;
}
.MAIN-COLUMN .box .listVerticalDotIn .listVerticalInNo,
.MAIN-COLUMN .box .listVerticalDotIn .listVerticalIn {
  padding: 0;
}
.MAIN-COLUMN .box .listVerticalDotIn .listVerticalInNo li,
.MAIN-COLUMN .box .listVerticalDotIn .listVerticalIn li {
  background: none;
  padding-left: 0;
}

/* Number Normal List */
.MAIN-COLUMN .box .listVerticalNumIn,
.MAIN-COLUMN .m_borderBox .listVerticalNumIn,
.MAIN-COLUMN .m_borderConversion .listVerticalNumIn {
  padding: 0 3px 5px 25px;
  list-style-type: decimal;
}
.MAIN-COLUMN .box .listVerticalNumIn li,
.MAIN-COLUMN .m_borderBox .listVerticalNumIn li,
.MAIN-COLUMN .m_borderConversion .listVerticalNumIn li {
  margin-bottom: 10px;
}

/* Number & head List */
.MAIN-COLUMN .listDl { *zoom: 1;}
.MAIN-COLUMN .listDl li {
  margin-bottom: 15px;
  *zoom: 1;
}
.MAIN-COLUMN .listDl li dl { margin-bottom: 0;}
.MAIN-COLUMN .listDl li dt { margin-bottom: 10px;}
.MAIN-COLUMN .listDl li .dt_link { padding-left: 10px;}
.MAIN-COLUMN .listDl li .dt_link a {
  margin-left: -10px;
  display: inline-block;
  *zoom: 1;
  background-position: left 8px;
}
.MAIN-COLUMN .listDl li dd { padding-left: 10px;}
.MAIN-COLUMN .listDl li dd ul.listVerticalIn { padding-left: 15px !important;}

/* Number () List */
.MAIN-COLUMN .box .listVerticalIn li .num_prt {
  padding-left: 1.6em;
  text-indent: -1.6em;
  *zoom: 1;
}

/* Alphabet List */
.MAIN-COLUMN .box .listVerticalAlpha {
  padding: 0 3px 5px 25px;
  list-style-type: lower-latin;
}
.MAIN-COLUMN .box .listVerticalAlpha li { margin-bottom: 10px;}

/* Footnote */
.MAIN-COLUMN .listFooterNote {
  margin: 0 12px 24px;
  font-size: 85.71429%;
}
.MAIN-COLUMN .listFooterNoteIn {
  margin: 0 0 15px;
  font-size: 85.71429%;
}
.MAIN-COLUMN .listFooterNote li dl,
.MAIN-COLUMN .listFooterNoteIn li dl {
  overflow: hidden;
  *zoom: 1;
  color: #555565;
  margin-bottom: 0;
}
.MAIN-COLUMN .listFooterNote li dt,
.MAIN-COLUMN .listFooterNoteIn li dt {
  float: left;
  width: 40px;
  margin-bottom: 0;
}
.MAIN-COLUMN .listFooterNote li dd,
.MAIN-COLUMN .listFooterNoteIn li dd {
  overflow: hidden;
  *zoom: 1;
}
.MAIN-COLUMN .listFooterNote li dd .listDot li,
.MAIN-COLUMN .listFooterNoteIn li dd .listDot li {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/business/module/icon_dot_01.gif) no-repeat 2px 7px;
}
.MAIN-COLUMN .listFooterNote li.txtClr01 dl,
.MAIN-COLUMN .listFooterNoteIn li.txtClr01 dl { color: #D24430;}
.MAIN-COLUMN .listVerticalIn .listFooterNoteIn li,
.MAIN-COLUMN .listDl .listFooterNoteIn li {
  margin-bottom: 0;
}
.MAIN-COLUMN .listFooterNoteNumIn {
  margin: 0 0 15px;
  padding: 0 0 0 17px;
  list-style-type: decimal;
  font-size: 85.71429%;
}
.MAIN-COLUMN .listFooterNoteNumIn li {
  margin-bottom: 10px;
  padding-left: 2px;
}

.MAIN-COLUMN .icon_asterisk {
  padding-left: 20px;
  background: url(http://media3.kddi.com/extlib/module/icon_asterisk_01.png) no-repeat left 3px;
}
.MAIN-COLUMN .icon_asterisk02 {
  padding-left: 20px !important;
  background: url(http://media3.kddi.com/extlib/module/icon_asterisk_02.gif) no-repeat left 3px !important;
  color: #D24430;
}
.MAIN-COLUMN .icon_asterisk_en {
  padding-left: 20px;
  background: url(http://media3.kddi.com/extlib/module/icon_asterisk_03.gif) no-repeat left 3px;
}
.MAIN-COLUMN .listFooterNoteNumIn .icon_asterisk { padding-left: 20px !important;}

/* Horizontal List (border) */
.MAIN-COLUMN .box .listHorizontalIn {
  padding-bottom: 9px;
  overflow: hidden;
  margin-left: -15px;
  margin-top: -6px;
  zoom: 1;
}
.MAIN-COLUMN .box .listHorizontalIn:before, .MAIN-COLUMN .box .listHorizontalIn:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .listHorizontalIn:after { clear: both;}
.MAIN-COLUMN .box .listHorizontalIn li {
  float: left;
  white-space: nowrap\9;
  *white-space: nowrap;
  margin: 6px 20px 6px -1px;
  padding-left: 20px;
  border-left: 1px solid #CCD0D9;
}
.MAIN-COLUMN .box .listHorizontalIn:not(:target) { padding: 0 0 9px 0\9;}

/* Horizontal List (No border) */
.MAIN-COLUMN .box .listHorizontalNbIn {
  padding-bottom: 9px;
  overflow: hidden;
  margin-top: -6px;
  zoom: 1;
}
.MAIN-COLUMN .box .listHorizontalNbIn:before, .MAIN-COLUMN .box .listHorizontalNbIn:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .listHorizontalNbIn:after { clear: both;}
.MAIN-COLUMN .box .listHorizontalNbIn li {
  float: left;
  white-space: nowrap\9;
  *white-space: nowrap;
  margin: 6px 20px 6px -1px;
}
.MAIN-COLUMN .box .listHorizontalNoBorderIn:not(:target) { padding: 0 0 9px 0\9;}

/* Horizontal List (3 separate) */
.MAIN-COLUMN .box .listHorizontalThirdIn {
  padding-bottom: 9px;
  overflow: hidden;
  margin-top: -6px;
  zoom: 1;
}
.MAIN-COLUMN .box .listHorizontalThirdIn:before, .MAIN-COLUMN .box .listHorizontalThirdIn:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .box .listHorizontalThirdIn:after { clear: both;}
.MAIN-COLUMN .box .listHorizontalThirdIn li {
  float: left;
  white-space: nowrap\9;
  *white-space: nowrap;
  margin: 6px 0 6px -1px;
  width: 215px;
  padding-left: 12px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .listHorizontalThirdIn li {
    padding: 0 20px 0 10px;
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.MAIN-COLUMN .box .listHorizontalThirdIn li .link_arrow {
  margin-left: -10px;
  *zoom: 1;
}
.MAIN-COLUMN .box .listHorizontalIn:not(:target) { padding: 0 0 9px 0\9;}
.MAIN-COLUMN .box .listHorizontalThirdImgIn li {
  float: left;
  margin-bottom: 15px;
  width: 200px;
  padding-left: 20px;
}


/* Normal DL List */
.MAIN-COLUMN .box dl { margin-bottom: 15px;}
.MAIN-COLUMN .box dt { margin-bottom: 10px;}

/* Line DL List */
.MAIN-COLUMN .lineDt {
  margin-bottom: 15px;
  zoom: 1;
}
.MAIN-COLUMN .lineDt:before, .MAIN-COLUMN .lineDt:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .lineDt:after { clear: both;}
.MAIN-COLUMN .lineDt dt { 
  float: left;
  margin-bottom: 0;
}
.MAIN-COLUMN .lineDt dd {
  padding-left: 8px;
  overflow: hidden;
  *zoom: 1;
}

/* for Information DL List */
.MAIN-COLUMN .m_border dt {
  padding: 0 15px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
*font-weight: bold;
}
.MAIN-COLUMN .m_border dt .link_arrow { background-position: 0 center;}


/* other */
.MAIN-COLUMN .box .listVerticalIn li .num_circle,
.MAIN-COLUMN .m_borderBox .listVerticalIn li .num_circle,
.MAIN-COLUMN .m_borderConversion .listVerticalIn li .num_circle {
  padding-left: 18px;
  text-indent: -18px;
  *zoom: 1;
}


/* 04. Text
------------------------------------------------------- */
.MAIN-COLUMN .ind p { margin: 0 0 15px;}
.MAIN-COLUMN .ind pre { margin-bottom: 15px;}

/* Color */
.MAIN-COLUMN .txtClr01 { color: #D24430;}
.MAIN-COLUMN .hRed {
  margin-bottom: 15px;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  *font-weight: bold;
  color: #D24430;
}

/* Font */
.MAIN-COLUMN .leadText {
  font-weight: bold;
  font-size: 114.28571%;
  margin-bottom: 15px;
}

/* Label */
.label_point {
  display: inline-block;
  *zoom: 1;
  margin-right: 6px;
  padding: 0 6px;
  color: #fff;
  vertical-align: 1px;
  font-size: 75%;
  border-radius: 2px;
}
.label_pointR {
  display: inline-block;
  *zoom: 1;
  margin-right: 6px;
  padding: 0 6px;
  color: #fff;
  vertical-align: 1px;
  font-size: 75%;
  border-radius: 2px;
}
.lpClr02 {
  background: #fff !important;
  border: 1px solid #999 !important;
  color: #666 !important;
}

/* Red parts */
.MAIN-COLUMN .redSquare {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  background: #D24430;
  vertical-align: 2px;
}
.MAIN-COLUMN .c_red {
  color: #D24430;
  margin-left: 10px;
}
.MAIN-COLUMN .c_blue { color: #0066AA;}


/* 05. Table
------------------------------------------------------- */

.MAIN-COLUMN .tableUnit {
  text-align: right;
  margin-bottom: 0 !important;
  font-size: 85.71429%;
}
.MAIN-COLUMN caption {
  text-align: left;
  font-family: "A-OTF UD 新ゴ Pr6 M","A-OTF UD Shin Go Pr6 M","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  *font-weight: bold;
}
.MAIN-COLUMN caption.hLevel4 { font-size: 116.66667%;}

/* width100% */
.MAIN-COLUMN table.tableFull { width: 100%;}

/* base */
.MAIN-COLUMN table {
  margin-bottom: 15px;
  border: 1px solid #e6e9ee;
  font-size: 85.71429%;
}

@media screen and (max-width: 768px) {
  .MAIN-COLUMN table { font-size: 71.42857%;}
}
.MAIN-COLUMN table th {
  background: #F9FAFC;
  text-align: left;
}
.MAIN-COLUMN table th.color01,
.MAIN-COLUMN table td.color01 {
  background-color: #D24430;
  color: #fff;
}
.MAIN-COLUMN table th, .MAIN-COLUMN table td {
  padding: 8px 11px;
  border: 1px solid #e6e9ee;
  word-break: break-all;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN table th, .MAIN-COLUMN table td {
    font-size: 10px;
    padding: 6px;
  }
}
.MAIN-COLUMN table td { background-color: #fff;}
.MAIN-COLUMN table .center { text-align: center;}
.MAIN-COLUMN table .hLine th, .MAIN-COLUMN table .hLine td {
  border: 1px solid #e6e9ee;
  background: #F9FAFC;
}
.MAIN-COLUMN table .listDot li {
  padding-left: 10px;
  background: url(http://media3.kddi.com/extlib/business/module/icon_dot_01.gif) no-repeat 2px 7px;
}
.MAIN-COLUMN .tableThin th, .MAIN-COLUMN .tableThin td { padding: 5px 11px;}
.MAIN-COLUMN .tac th, .MAIN-COLUMN .tac td { text-align: center;}

.MAIN-COLUMN .box table ul,
.MAIN-COLUMN .box table li,
.MAIN-COLUMN .box table dl,
.MAIN-COLUMN .box table .lineDt dt {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.MAIN-COLUMN table .wordBreak{
	word-wrap:break-all;
	}

/* 06. Line
------------------------------------------------------- */
.MAIN-COLUMN hr { margin: 0 12px 24px;}
.MAIN-COLUMN .ind .line {
  margin: 18px -15px;
  *zoom: 1;
  height: 1px;
  overflow: hidden;
}
.MAIN-COLUMN .ind .line hr {
  margin: 0;
  padding: 0;
  *zoom: 1;
  *margin: -7px 0 0 0;
}

/* 07. Image
------------------------------------------------------- */

.MAIN-COLUMN .ind img { border: 1px solid #e6e9ee;}
.MAIN-COLUMN .ind .noborder { border: none;}

/* mainImage */
.MAIN-COLUMN .pageImg {
  padding: 10px 10px 10px;
  margin: 0 12px 24px;
  border-radius: 7px;
  background: #dde0e7;
}
.MAIN-COLUMN .pageImg02 {
  padding: 15px;
  margin: 0 12px 24px;
  border-radius: 7px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .pageImg,
	.MAIN-COLUMN .pageImg02 {
    margin: 0 6px 24px;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .pageImg,
	.MAIN-COLUMN .pageImg02 {
    margin: 0 -6px 24px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .pageImg img,
	.MAIN-COLUMN .pageImg02 img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .MAIN-COLUMN .pageImg .icon_img,
	.MAIN-COLUMN .pageImg02 .icon_img {
    width: auto;
    height: auto;
  }
}
.MAIN-COLUMN .pageImg .link_selfW, .MAIN-COLUMN .pageImg .link_selfB, .MAIN-COLUMN .pageImg .link_blankW, .MAIN-COLUMN .pageImg .link_blankB,
.MAIN-COLUMN .pageImg02 .link_selfW, .MAIN-COLUMN .pageImg02 .link_selfB, .MAIN-COLUMN .pageImg02 .link_blankW, .MAIN-COLUMN .pageImg02 .link_blankB {
  border-radius: 0;
  display: block;
}
.MAIN-COLUMN .pageImg .link_selfW:hover img, .MAIN-COLUMN .pageImg .link_selfB:hover img, .MAIN-COLUMN .pageImg .link_blankW:hover img, .MAIN-COLUMN .pageImg .link_blankB:hover img,
.MAIN-COLUMN .pageImg02 .link_selfW:hover img, .MAIN-COLUMN .pageImg02 .link_selfB:hover img, .MAIN-COLUMN .pageImg02 .link_blankW:hover img, .MAIN-COLUMN .pageImg02 .link_blankB:hover img {
  margin: -3px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .pageImg .link_selfW:hover img, .MAIN-COLUMN .pageImg .link_selfB:hover img, .MAIN-COLUMN .pageImg .link_blankW:hover img, .MAIN-COLUMN .pageImg .link_blankB:hover img,
	.MAIN-COLUMN .pageImg02 .link_selfW:hover img, .MAIN-COLUMN .pageImg02 .link_selfB:hover img, .MAIN-COLUMN .pageImg02 .link_blankW:hover img, .MAIN-COLUMN .pageImg02 .link_blankB:hover img {
    margin: 0;
  }
}
.MAIN-COLUMN .sld_noscript .pageImg,
.MAIN-COLUMN .sld_noscript .pageImg02 {
  margin-bottom: 0;
}
.MAIN-COLUMN .sld_noscript ul {
  margin: 0 12px 24px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .sld_noscript .pageImg,
  .MAIN-COLUMN .sld_noscript .pageImg02 {
    position: absolute;
    margin-top: 0;
    top: 0;
  }
  .MAIN-COLUMN .sld_noscript ul {
    position: absolute;
    top: 0;
    padding-top: 35%;
  }
}

/* Caption */
.MAIN-COLUMN .box .figure .ficaption,
.MAIN-COLUMN .m_borderBox .figure .ficaption {
  margin-top: 5px;
  font-size: 85.71429%;
}
.MAIN-COLUMN .box .figure .imgReport,
.MAIN-COLUMN .m_borderBox .figure .imgReport {
  padding-top: 36px;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .box .figure .imgReport,
	.MAIN-COLUMN .m_borderBox .figure .imgReport {
    padding-top: 0;
  }
}

/* Link icon */
.MAIN-COLUMN .link_selfW, .MAIN-COLUMN .link_selfB, .MAIN-COLUMN .link_blankW, .MAIN-COLUMN .link_blankB {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 7px;
  *zoom: 1;
	max-width: 100% !important;
}
.MAIN-COLUMN .link_selfW .icon_img,
.MAIN-COLUMN .link_selfB .icon_img,
.MAIN-COLUMN .link_blankW .icon_img,
.MAIN-COLUMN .link_blankB .icon_img {
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  border: none !important;
  border-radius: 0 !important;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .link_selfW .icon_img,
	.MAIN-COLUMN .link_selfB .icon_img,
	.MAIN-COLUMN .link_blankW .icon_img,
	.MAIN-COLUMN .link_blankB .icon_img {
    top: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .link_selfW:hover,
	.MAIN-COLUMN .link_selfB:hover,
	.MAIN-COLUMN .link_blankW:hover,
	.MAIN-COLUMN .link_blankB:hover {
    border: none !important;
  }
}
.MAIN-COLUMN .link_selfW:hover > img,
.MAIN-COLUMN .link_selfB:hover > img,
.MAIN-COLUMN .link_blankW:hover > img,
.MAIN-COLUMN .link_blankB:hover > img {
  margin: -3px -3px 0;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .link_selfW:hover > img,
	.MAIN-COLUMN .link_selfB:hover > img,
	.MAIN-COLUMN .link_blankW:hover > img,
	.MAIN-COLUMN .link_blankB:hover > img {
    margin: 0;
  }
}
.MAIN-COLUMN .link_selfW:hover > .ind,
.MAIN-COLUMN .link_selfB:hover > .ind,
.MAIN-COLUMN .link_blankW:hover > .ind,
.MAIN-COLUMN .link_blankB:hover > .ind {
  margin: 0 -3px -3px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .link_selfW:hover > .ind,
	.MAIN-COLUMN .link_selfB:hover > .ind,
	.MAIN-COLUMN .link_blankW:hover > .ind,
	.MAIN-COLUMN .link_blankB:hover > .ind {
    margin: 0;
  }
}
.MAIN-COLUMN .link_selfW:hover > .ind .link_arrow,
.MAIN-COLUMN .link_selfB:hover > .ind .link_arrow,
.MAIN-COLUMN .link_blankW:hover > .ind .link_arrow,
.MAIN-COLUMN .link_blankB:hover > .ind .link_arrow {
  text-decoration: underline;
}

.MAIN-COLUMN .box .link_selfW,
.MAIN-COLUMN .box .link_selfB,
.MAIN-COLUMN .box .link_blankW,
.MAIN-COLUMN .box .link_blankB {
  display: block;
}
.MAIN-COLUMN .box > .link_selfW > img,
.MAIN-COLUMN .box .link_selfB > img,
.MAIN-COLUMN .box .link_blankW > img,
.MAIN-COLUMN .box .link_blankB > img {
  border-radius: 7px 7px 0 0;
}
.MAIN-COLUMN .box > .link_selfW .icon_img,
.MAIN-COLUMN .box .link_selfB .icon_img,
.MAIN-COLUMN .box .link_blankW .icon_img,
.MAIN-COLUMN .box .link_blankB .icon_img {
  border-radius: 0 !important;
}
.MAIN-COLUMN .box .ind .link_selfW,
.MAIN-COLUMN .box .ind .link_selfB,
.MAIN-COLUMN .box .ind .link_blankW,
.MAIN-COLUMN .box .ind .link_blankB {
  display: inline-block;
  border-radius: 0;
  max-width: 100% !important;
}
.MAIN-COLUMN .box .ind .link_selfW > img,
.MAIN-COLUMN .box .ind .link_selfB > img,
.MAIN-COLUMN .box .ind .link_blankW > img,
.MAIN-COLUMN .box .ind .link_blankB > img {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .ind .link_selfW:hover,
	.MAIN-COLUMN .box .ind .link_selfB:hover,
	.MAIN-COLUMN .box .ind .link_blankW:hover,
	.MAIN-COLUMN .box .ind .link_blankB:hover {
    border: none !important;
  }
}
.MAIN-COLUMN .box .ind .link_selfW:hover > img,
.MAIN-COLUMN .box .ind .link_selfB:hover > img,
.MAIN-COLUMN .box .ind .link_blankW:hover > img,
.MAIN-COLUMN .box .ind .link_blankB:hover > img {
  margin: -3px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .box .ind .link_selfW:hover > img,
	.MAIN-COLUMN .box .ind .link_selfB:hover > img,
	.MAIN-COLUMN .box .ind .link_blankW:hover > img,
	.MAIN-COLUMN .box .ind .link_blankB:hover > img {
    margin: 0;
  }
}


/* 08. Other
------------------------------------------------------- */

/* Pagination */
.MAIN-COLUMN .pagination {
  zoom: 1;
}
.MAIN-COLUMN .pagination:before, .MAIN-COLUMN .pagination:after {
  content: "";
  display: block;
  overflow: hidden;
}
.MAIN-COLUMN .pagination:after { clear: both;}

.MAIN-COLUMN .pagination-prev,
.MAIN-COLUMN .pagination-next {
  margin-bottom: 15px;
}
.MAIN-COLUMN .pagination-prev {
  width: 296px;
  float: left;
  padding: 0 15px 0 30px;
  border-right: 1px solid #dee1e8;
}
.MAIN-COLUMN .pagination-next {
  width: 297px;
  float: right;
  padding: 0 30px 0 15px;
  text-align: right;
  border-left: 1px solid #dee1e8;
  margin-left: -1px;
  *zoom: 1;
}
.MAIN-COLUMN .pagination-prev p,
.MAIN-COLUMN .pagination-next p {
  position: relative;
  margin-bottom: 0;
  min-height: 20px;
}
.MAIN-COLUMN .pagination-prev span,
.MAIN-COLUMN .pagination-next span {
  display: block;
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.MAIN-COLUMN .pagination-prev img,
.MAIN-COLUMN .pagination-next img {
  position: absolute;
  border: none !important;
  vertical-align: -5px;
}
.MAIN-COLUMN .pagination-prev img {
  top: 0;
  left: -30px;
}
.MAIN-COLUMN .pagination-next img {
  top: 0;
  right: -30px;
}
@media screen and (max-width: 768px) {
  .MAIN-COLUMN .pagination-prev,
  .MAIN-COLUMN .pagination-next {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .MAIN-COLUMN .pagination-prev {
    padding-right: 15px;
  }
  .MAIN-COLUMN .pagination-next {
    padding-left: 15px;
  }
  .MAIN-COLUMN .pagination-prev:not(:last-child) {
    border-right: none;
  }
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .pagination-prev span,
  .MAIN-COLUMN .pagination-next span {
    display: none;
  }
}



/* tel */
.MAIN-COLUMN .icon_freecall {
  margin-right: 5px;
  border: none !important;
  display: inline-block;
  vertical-align: -4px;
}
.MAIN-COLUMN .tel {
	cursor: default;
	font-size: 114.286%;
}
.MAIN-COLUMN .tel:hover {
  text-decoration: none !important;
  color: #06a;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .tel { cursor: pointer;}
}
.MAIN-COLUMN .telL {
  font-size: 142.85714%;
  cursor: default;
  display: inline-block;
  *zoom: 1;
  vertical-align: -2px;
}
.MAIN-COLUMN .telL:hover {
  text-decoration: none !important;
  color: #06a;
}
@media screen and (max-width: 480px) {
  .MAIN-COLUMN .telL { cursor: pointer;}
}

.MAIN-COLUMN .freedial { font-size: 85.71429%;}


/* ====================================================

     RIGHT-SIDE

======================================================= */

.RIGHT-SIDE {
  position: relative;
  z-index: 1;
  width: 25%;
  float: right;
  *text-align: left;
  word-wrap: break-word;
}
@media screen and (max-width: 768px) {
  .RIGHT-SIDE {
    width: auto;
    float: none;
    margin-top: 0;
    padding: 24px 6px 1px;
    background: #ccd0d9;
  }
}
@media screen and (max-width: 480px) {
  .RIGHT-SIDE { margin-top: 24px;}
}
.RIGHT-SIDE .bnr img {
  border-radius: 7px;
}
.RIGHT-SIDE .bnr .icon_img {
  border-radius: 0px;
}

.MAIN-COLUMN .link_arrow.icon_back {
    background: url("http://media3.kddi.com/extlib/module/icon_arrow_05.gif") no-repeat scroll left 5px rgba(0, 0, 0, 0);
}
======================================================= */

.MAIN-COLUMN-FULL .pageImg {
    background: #dde0e7 none repeat scroll 0 0;
    border-radius: 7px;
    margin: 0 12px 24px;
    padding: 10px;
}
.MAIN-COLUMN-FULL .pageImg02 {
    background: #fff none repeat scroll 0 0;
    border-radius: 7px;
    margin: 0 12px 24px;
    padding: 15px;
}
@media screen and (max-width: 768px) {
.MAIN-COLUMN-FULL .pageImg, .MAIN-COLUMN-FULL .pageImg02 {
    margin: 0 6px 24px;
}
}
@media screen and (max-width: 480px) {
.MAIN-COLUMN-FULL .pageImg, .MAIN-COLUMN-FULL .pageImg02 {
    margin: 0 -6px 24px;
    padding: 0;
}
}
@media screen and (max-width: 768px) {
.MAIN-COLUMN-FULL .pageImg img, .MAIN-COLUMN-FULL .pageImg02 img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.MAIN-COLUMN-FULL .pageImg .icon_img, .MAIN-COLUMN-FULL .pageImg02 .icon_img {
    height: auto;
    width: auto;
}
}

.MAIN-COLUMN-FULL .sld_noscript .pageImg, .MAIN-COLUMN-FULL .sld_noscript .pageImg02 {
    margin-bottom: 0;
}
.MAIN-COLUMN-FULL .sld_noscript ul {
    margin: 0 12px 24px;
}
@media screen and (max-width: 768px) {
.MAIN-COLUMN-FULL .sld_noscript .pageImg, .MAIN-COLUMN-FULL .sld_noscript .pageImg02 {
    margin-top: 0;
    position: absolute;
    top: 0;
}