@charset "utf-8";
/*
  body
----------------------------------------------------------------------------------------------------*/
body{*text-align:left;}

/*
  leftBlock & rightBlock
----------------------------------------------------------------------------------------------------*/
#leftBlock0001 {
    overflow: hidden;
    width: 75%;
    *float: left;
}
:root #leftBlock0001 {
    float: left;
}
#rightBlock0002 {
    overflow: hidden;
    width: 25%;
}
:root #rightBlock0002 {
    clear: right;
}
/*
  106.162.242.107
----------------------------------------------------------------------------------------------------*/
.MAIN-COLUMN .pbNestedWrapper {
	overflow: hidden;
}

/*
  /business/mobile/service/global-passport/enabled-device/
----------------------------------------------------------------------------------------------------*/

.MAIN-COLUMN .setR .tableGrobalPass th {
height: 26px;
}

.MAIN-COLUMN .setR .tableGrobalPass td {
height: 78px;
}

/*
  overriding SitePublis system CSS
----------------------------------------------------------------------------------------------------*/

#headerArea.pbHeaderArea{
	overflow : visible ;
}

#headerArea.pbHeaderArea .pbNestedWrapper{
	overflow : visible ;
}


@media screen and (max-width: 480px) {
  #leftBlock0003 {
    width: 100% !important;
  }
  #rightBlock0004 {
    width: 50% !important;
  }
  .pbHorizontalNested {
    width: 100% !important;
    float: none !important;
  }
}

.MAIN-COLUMN{width:100% !important;}
.RIGHT-SIDE {width:100% !important;}

@media screen and (max-width: 768px){
	#leftBlock0001 {
		float:none;
		width: 100%;
	}
	#rightBlock0002 {
		width: 100%;
	}
	#leftBlock0003 {
		float:none;
		width: 100%;
	}
	#rightBlock0004 {
		width: 50%;
	}
	.TOP-MAIN #leftBlock0001 {
		float:none;
		width: 100%;
	}
	.TOP-MAIN #rightBlock0002 {
		float:none;
		width: 100%;
	}
	.MAIN-COLUMN .m_boxes2ls02 .area01 {
	width: 50%;
	}
	.RIGHT-SIDE .pbNestedWrapper .box {
	margin: 0px 18px 24px 6px;
	}
	.RIGHT-SIDE .m_boxes2 {
	margin: 0 12px 0 0;
	}
	.MAIN-COLUMN .setR .tableGrobalPass th {
	height: 36px;
	}
}

@media screen and (max-width: 480px){
	.RIGHT-SIDE {
		width: auto !important;
	}
	.TOP-MAIN #leftBlock0001 {
		float:none;
		width: 100%;
	}
	.TOP-MAIN #rightBlock0002 {
		float:none;
		width: auto ;
	}
	.MAIN-COLUMN .m_boxes2ls02 .area02 {
		float: left;
		width: 100%;
	}
	.MAIN-COLUMN .m_boxes2ls02 .area02 .area {
		float: left;
		width: 50%;
	}
	.RIGHT-SIDE .pbNestedWrapper .box {
	margin: 0 6px 24px;
	}
	.RIGHT-SIDE .m_boxes2 {
	margin: 0;
	}
	.MAIN-COLUMN .m_boxes2ls02 .area01 {
	width: 100%;
	}
}

.pbHorizontalNested{
	line-height:inherit !important;
}

/*
  Topic Path
----------------------------------------------------------------------------------------------------*/
.TOPIC-PATH {
  line-height: 1;
  padding: 11px 0;
  border-bottom: 1px solid #e6e9ee;
  color: #556;
  font-size: 11px;
  /*word-spacing:8px;*/
}

.TOPIC-PATH-INNER{
	width:960px;
	margin:0 auto;
	font-size: 11px;
	line-height: 1.4;
}

.TOPIC-PATH-INNER strong{
	font-weight:normal;
}

.TOPIC-PATH a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .TOPIC-PATH {
    padding: 9px 0;
  }
  .TOPIC-PATH .TOPIC-PATH-INNER {
    width: auto;
    margin: 0 12px;
    line-height: 1.8;
  }
}


/*
  corporate
----------------------------------------------------------------------------------------------------*/

.listFooter3 .areaSp dd .areaQr {
margin-bottom: 8px;
}


.MAIN-COLUMN .listSkipLink li {
  float: left;
  display: block;
  white-space: nowrap\9;
  margin: 0 10px 4px 0;
  position: relative;
  *float: none;
  *display: inline;
  *zoom: 1;
}

.RIGHT-SIDE .spLine .setL {
  margin-bottom: 5px;
}

/*.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons li {
float: left;
border: none;
padding: 0;
margin-right: 10px;
margin-top: -2px;
}*/

.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons li {
float: left;
border: none;
padding: 0;
margin-right: 10px;
margin-top: -2px;
margin-bottom: -1px;
}
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons li:not(:target) {
margin-top: 0px\9;
}

/*
  personal
----------------------------------------------------------------------------------------------------*/

/*
.MAIN-COLUMN .m_grayIn .btn_OrangeM {
overflow: hidden;
display: inline-block;
line-height: 1;
padding: 8px 25px;
border-radius: 30px;
color: white;
min-height: 30px;
background: #f27935;
width: 250px;
margin-bottom: -1px;
}
*/
.RIGHT-SIDE .btn_orangeS_w {
width: 100%;
overflow: hidden;
display: inline-block;
line-height: 1;
text-align: center;
line-height: 24px;
border-radius: 12px;
font-size: 85.71429%;
font-weight: bold;
background-color: #f27935;
color: white;
margin-bottom: 5px;
}

.RIGHT-SIDE .btn_redS_w {
width: 100%;
overflow: hidden;
display: inline-block;
line-height: 1;
text-align: center;
line-height: 24px;
border-radius: 12px;
font-size: 85.71429%;
font-weight: bold;
background-color: #d24430;
color: white;
margin-bottom: 5px;
}

/*
  .m_boxes2
----------------------------------------------------------------------------------------------------*/


.m_boxes2{}


.m_boxes2 .pbNested{
	clear:none;
}

.MAIN-COLUMN .m_boxes2 .pbNestedWrapper{
	float:left;
	width:369px;
}

.largeTabArea .m_boxes2 .pbNestedWrapper{
	float: left;
	width: 50%;
}



.SMB-MAIN .largeTabArea .m_boxes2 .pbNestedWrapper .area{
	float: left;
	width: 100%;
}

.largeTabArea .RIGHT-SIDE .m_boxes2 .pbNestedWrapper {
	float: left;
	width: 100%;
}

/*.RIGHT-SIDE .m_boxes2 .area{
width: 100%;
}*/

.m_boxes2 .pbNestedWrapper .area .pbNestedWrapper{
	float:none;
	width:100%;
}

.largeTabChange .m_boxes2 #pbBlock116156 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock376615 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock116157 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock377449 .area {
float: left;
width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock783899 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock783900 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock807245 .area {
	float: left;
	width: 100%;
}

.largeTabChange .m_boxes2 #pbBlock807254 .area {
	float: left;
	width: 100%;
}

@media screen and (max-width: 768px){
	.m_boxes2 .pbNestedWrapper{
		width: 50%;
	}
	.m_boxes2 .pbNestedWrapper .area{
		width: 100%;
	}
	.RIGHT-SIDE .m_boxes2 .pbNestedWrapper {
	width: 50%;
	float: left;
	}
	.largeTabArea .RIGHT-SIDE .m_boxes2 .pbNestedWrapper {
	float: left;
	width: 50%;
	}
	.RIGHT-SIDE #pbBlock67161 .bnr {
	margin: 0 18px 24px 6px;
	}
	.largeTabBody .MAIN-COLUMN .m_boxes1 {
	padding: 0 0;
	}
	.cnHeaderBlock1 .wrapper {
	margin-bottom: 0;
	}
	.MAIN-COLUMN .m_boxes2 .pbNestedWrapper {
	width: 50%;
	}
}

@media screen and (max-width: 480px){
	.MAIN-COLUMN .m_boxes2 .pbNestedWrapper{
		width: 100%;
	}
	/*.TOP-MAIN .pbNestedWrapper .m_boxes1 {
	padding: 0 0;
	}*/
	.TOP-MAIN .pbNestedWrapper .m_boxes3lss {
	padding: 0 0;
	}
	#TOP_MAIN .pbNestedWrapper .m_boxes1 {
	padding: 0 0;
	}
	.TOP-MAIN #leftBlock0001 .MAIN-COLUMN .m_boxes1 {
	padding: 0 0;
	}
	.RIGHT-SIDE .m_boxes2 .pbNestedWrapper {
	width: 100%;
	}
	.largeTabArea .RIGHT-SIDE .m_boxes2 .pbNestedWrapper {
	width: 100%;
	}
	.SMB-MAIN .largeTabBody .m_boxes3lss {
	padding: 0 0;
	}
	.SMB-MAIN .largeTabChange .m_boxes2 {
	padding: 0 0;
	}
	.largeTabArea .m_boxes2 .pbNestedWrapper {
	float: none;
	width: 100%;
	}
	.largeTabArea .m_boxes2 #pbBlock783899 {
	float: none;
	width: 100%;
	}
	.largeTabArea .m_boxes2 #pbBlock783900 {
	float: none;
	width: 100%;
	}
	.largeTabArea .m_boxes2 #pbBlock807245 {
	float: none;
	width: 100%;
	}
	.largeTabArea .m_boxes2 #pbBlock807254 {
	float: none;
	width: 100%;
	}
	.TOP-MAIN #pbBlock116156 .box {
	margin: 0 6px 24px;
	}
	.TOP-MAIN #pbBlock376651 .m_boxes3lss {
	padding: 0 6px;
	}
	.TOP-MAIN .container #leftBlock0001 .MAIN-COLUMN .m_boxes1 {
	padding: 0 3px;
	}
}

/*
  case-study
----------------------------------------------------------------------------------------------------*/

#leftBlock0003 {
    overflow: hidden;
    width: 50%;
}
:root #leftBlock0003 {
    float: left;
}
#rightBlock0004 {
    overflow: hidden;
    width: 50%;
}
:root #rightBlock0004 {
    clear: right;
}

/*
  newsrelease icon
----------------------------------------------------------------------------------------------------
.MAIN-COLUMN .box .listNewsIn .listNewsItem .newsCatIcons {
  margin-left: -10px;
  margin-bottom: 10px;
  padding-top: 5px;
}*/

.pbFooterArea {
overflow: visible;
}

.pbFooterArea .pbNestedWrapper{
overflow: visible;
}

/*
  noscript
----------------------------------------------------------------------------------------------------*/
#pbBlock423527 .headerGlobal{
padding-bottom: 20px;
}

#pbBlock435912 .headerGlobal{
padding-bottom: 20px;
}