#footerArea #TOTOP {
	display: none;
}

.MAIN-COLUMN .box .halfBoxes .areaHalf {
  height: auto !important;
  float: none;
  width: 100%;
}

.MAIN-COLUMN .box .halfBoxes .areaHalf {
  height: auto !important;
}

.MAIN-COLUMN .box .mainLineHalf > .setL {
  float: none !important;
}