@charset "utf-8";
/*
  Reset
----------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

:root ol {
  margin: 0;
  padding: 0;
}

:root ul {
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input:focus {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*
  Base Style
----------------------------------------------------------------------------------------------------*/
body {
  color: #555566;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background: #f1f2f6;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  *text-align: center;
}

a {
  text-decoration: none;
  color: #0066aa;
}

a:visited {
  color: #552277;
}

a:hover {
  color: #1d9bff;
}

b {
  font-weight: bold;
}

hr {
  display: block;
  margin: 0 0 24px;
  height: 1px;
  background: #dde0e7;
  color: #dde0e7;
  border: none;
  clear: both;
}

img {
  vertical-align: middle;
}
