body,p,td,div,span{font-family:arial,helvetica,sans-serif;font-size:13px;color:#000;}
body{background:#fff;margin:0px;padding:0px;border:0;text-align: center;}

p{margin:5px 0 8px 0;}
img{border:0px;}
h1{color:#930;font-size:17pt;font-weight:bold;padding:0;margin:12px 0;}
#resulth1{background-color:#ffefe7;padding:0px 5px 0px 5px;border-top:#930 1px dotted;}
h2{font-size:14pt;font-weight:bold;color:#044284;padding:0; margin-bottom: 2px;}
.h2red{font-size:14pt;font-weight:bold;color:#930;padding:0; margin-bottom: 2px;}
h3{font-size:13pt;font-weight:bold;}
h3 a{color:#930;}
h3 a:hover{text-decoration:none;}
hr{border:0;color:#aaa;background-color:#aaa;height:1px;}
a{color:#069;text-decoration:underline;}
a:hover{text-decoration:none;}

#headerout{background:#044284;text-align: center;}
#header{width:960px;height:60px;background:#044284;padding:0px;margin-left: auto;margin-right: auto;text-align: left;overflow:auto;}
#logo{padding: 14px 0px;width:270px;float:left;}
#topslogan{width:660px;float:right;text-align: right;text-transform: uppercase;padding-top:18px;}
.topNavAbs{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 960px;
}
.topNavIn{
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.topNavLeft{
	height: 55px;
	width:270px;
	float:left;
	cursor: pointer;
	margin:0px;
}
.topNavRight{
	width:660px;
	float:right;
	padding-top:20px;
	margin:0px;
	text-align: right;
}
.dropbtn {
	color: white;
	padding: 12px;
	border: none;
	cursor: pointer;
	font-size: 10pt;
	text-transform: uppercase;
	display: inline-block;
}
@-moz-document url-prefix() {
	.topNavRight{padding-top:21px;}
	.dropbtn {padding: 11px 12px;}
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	width: 365px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: left;
	border:#ccc 1px solid;
}
.dropdown-content a {
	color: #069;
	padding: 10px 10px;
	text-decoration: none;
	display: inline-block;
	width:160px;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}



#contentout{width:960px;padding-top:5px;margin-left: auto;margin-right: auto;text-align: left;overflow:auto;}
#content{padding:0px 0px 15px 0px;width:630px;float:left;}
#right{width:300px;float:right;}
#contentbig{padding:0px 0px 15px 0px;width:745px;float:right;}

#footer{background:#333;padding:20px 0px;font-size:12px;color:#ddd;text-align:center;}
#footer a{color:#ddd;}
#footer a:hover{text-decoration:none;}

#socialicons{padding: 8px 0px;}
#shout{padding: 8px 0px;}
#sh{border:solid 1px #aaa;padding-top:10px;padding-bottom:10px;background-color:#eee;text-align:center;border-radius: 3px;box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);}

#othercalc{
	border:solid 1px #044284;
	margin: 12px 0px 3px 0px;
}
#octitle{
	background-color: #044284;
	padding: 6px;
	color: #fff;
	font-size: 15px;
	font-weight:bold;
}
#octitle a{
	color: #fff;
	text-decoration: none;
}
#octitle a:hover {
	text-decoration: underline;
}
#occontent{
	padding: 3px 6px;
}
#occontent a{
	display: inline-block;
	width: 142px;
	padding: 3px 0px;
}
#ocother{
	background-color: #ddd;
	padding: 6px;
	text-align: center;
	font-size: 12px;
	color: #bbb;
}
#sectitle{
	background-color: #044284;
	padding: 6px;
	color: #fff;
	font-size: 15px;
	font-weight:bold;
}

.hl{list-style-type: none;margin: 0 1px 0px 1px;padding: 5px 0 5px 8px;background-color: #fff;border-bottom:solid 1px #4fa4c3;}
.hl li{padding: 0 0 5px 0;}
.hl li a{text-decoration:none;}
.hl li a:hover{text-decoration:none;border-bottom:#006699 1px dotted;}
.smtb a{text-decoration:none;border-bottom:#006699 1px solid;}
.smtb a:hover{text-decoration:none;border-bottom:#ffffff 1px dotted;}
#hc{width:195px;background-color: #4fa4c3;}
.notebox{border:solid 1px #aaa;background-color:#eee;padding:10px;}
.notebox ul{list-style-type: none;margin: 0;padding: 0;}
.notebox ul li{padding: 5 0 0px 0;}
.smalltext{font-size:8pt;}
.bigtext{font-size:15px;}
.verybigtext{font-size:20px;}
table.cinfoT{color:#404040;background-color:#fafafa;border:1px #666 solid;border-collapse:collapse;border-spacing:0;margin-top:0;}
table.cinfoT td.cinfoHd{border-bottom:2px solid #666;background-color:#E0F0FE;font-weight:bold;color:#404040;padding:3px;}
table.cinfoT td.cinfoHdL{border-bottom:2px solid #666;border-left:1px solid #666;background-color:#E0F0FE;font-weight:bold;color:#404040;padding:3px;}
table.cinfoT td{border-bottom:1px dotted #666;color:#404040;padding:3px;}
table.cinfoT tr:nth-child(odd) {
	background-color: #eee;
}
table.cinfoT tr:nth-child(even) {
	background-color: #fff;
}
.cinfoBodL{border-left:1px dotted #CEDCEA;}
#topmenu ul {color: #000;border-bottom: 1px solid #446EC0;margin: 12px 0px 0px 0px;padding: 0 0 5 0;padding-left: 8px;font-size: 13px;font-weight: bold;}
#topmenu ul li {display: inline;overflow: hidden;list-style-type: none;margin-left: 3px;}
#topmenu ul li a, #topmenu ul li a:visited {color: #fff;background: #446EC0;border: 1px solid #446EC0;padding: 5px 5px 5px 5px;margin: 0;text-decoration: none;border-top-left-radius: 3px;border-top-right-radius: 3px;}
#topmenu ul li a:hover {background: #eee;color: #000;}
#topmenu ul #menuon a {color: #000;background: #eee;border: 1px solid #446EC0;padding: 5px 5px 5px 5px;margin: 0;text-decoration: none;border-bottom: 2px solid #eee;border-top-left-radius: 3px;border-top-right-radius: 3px;}
#topmenu ul #menuon a:hover {background: #f5f8ec;}

fieldset{
	margin-top:10px;
	padding:0px 10px 5px 10px;
	border: solid 0px #bdd2da;
	border-radius: 3px;
	background:#eee;
	color: #eee;
}
legend{
	font-size:15px;
	font-weight: bold;
	border-radius: 3px;
	padding: 5px 15px;
	background:#eee;
	color: #000;
}
fieldset a{
	display: inline-block;
	white-space: nowrap;
	padding: 6px;
	font-size:14px;
	background:#044284;
	color: #fff;
	margin-bottom:5px;
	border-radius: 3px;
	text-decoration: none;
}
fieldset a:hover{
	background:#c47751;
	color: #fff;
}
fieldset div{
	display: inline-block;
	white-space: nowrap;
	padding: 10px;
	font-size:15px;
	background:#044284;
	color: #fff;
	margin-bottom:5px;
	border-radius: 3px;
	text-decoration: none;
}
fieldset div:hover{
	background:#c47751;
	color: #fff;
}

.panel{
	background:#eee;
	border: solid 1px #ccc;
	padding: 5px;
	border-radius: 3px;
}
#calinfoout{background-color:#EEEEEE;width:258px;}
.calinfoinner{padding:5px;border-top:1px solid #262626;border-left:1px solid #262626;border-right:2px outset #262626;border-bottom:2px outset #262626;}
#calinfoout input{width:45px;height:30px;margin:2px;background-color:#FFF;font-family:arial,helvetica,sans-serif;font-size: 14px;border:1px solid #262626;}
#calinfoout #calInfoOutPut{width:242px;font-size:18px;padding:3px;cursor:text;text-align: right;background-color:#B8C6A3;color:#000000;}
#calinfoout .calinfonm{color:#FFF;font-weight:bold;background-color:#262626;}
#calinfoout .calinfoop{color:#262626;font-weight:bold;background-color:#cccccc;}
#calinfoout .calinfoeq{color:#FF0000;font-weight:bold;background-color:#DCADB0;}
#calinfoout .calinfofunc{color:#185290;font-weight:bold;background-color:#C8D8E8;height:23px;padding-bottom:1px;}
#printit{width: 80px;float:right;text-align:right;}
.panel2{background-color:#eeeeee;padding: 5px;border-right:1px solid #bbbbbb;border-bottom:1px solid #bbbbbb;border-left:1px solid #bbbbbb;}
.h2result{background:#ffefe7;border:1px solid #c47751;padding: 3px;margin-top:3px;border-radius: 3px;}
.h3head{margin-bottom: 2px;}
.sectionlists{}
.sectionlists div{padding-bottom: 5px;}

#sciout{
	padding:5px;
	border-top:1px solid #262626;
	border-left:1px solid #262626;
	border-right:2px outset #262626;
	border-bottom:2px outset #262626;
	background: #eeeeee;
}
#sciOutPut{
	font-size:18px;
	padding:3px;
	margin:2px;
	cursor:text;
	text-align:right;
	background-color:#B8C6A3;
	border:1px solid #87996b;
	border-radius: 3px;
	color:#000;
}
.scifunc{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	width:50px;
	height:25px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#185290;
	background-color:#C8D8E8;
}
.scifunc:active {
	background-color:#013f7d;
	color:#ffffff;
}
.scinm{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	background-color:#262626;
}
.scinm:active {
	background-color:#aaaaaa;
	color:#000000;
}
.sciop{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#262626;
	background-color:#ccc;
}
.sciop:active {
	background-color:#000000;
	color:#ffffff;
}
.scird{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	height:30px;
	margin:1px;
	border:1px solid #eeeeee;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;
	color:#262626;
}
.scieq{
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px;
	text-align:center;
	width:50px;
	height:30px;
	margin:1px;
	border:1px solid #262626;
	border-radius: 3px;
	font-family:arial,helvetica,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#F00;
	background-color:#DCADB0;
}
.scieq:active {
	background-color:#ff0000;
	color:#ffffff;
}



a.hhfin, a.hhfin:hover{
	background:#fff url(/img/hh.png) 0px 0 no-repeat;
	display:block;
	height:39px;
	width:195px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhwlo, a.hhwlo:hover{
	background:#fff url(/img/hh.png) 0px -40px no-repeat;
	display:block;
	height:39px;
	width:195px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhmat, a.hhmat:hover{
	background:#fff url(/img/hh.png) 0px -80px no-repeat;
	display:block;
	height:44px;
	width:195px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhpre, a.hhpre:hover{
	background:#fff url(/img/hh.png) 0px -125px no-repeat;
	display:block;
	height:39px;
	width:195px;
	text-indent:-9999px;
	overflow:hidden;
}
a.hhoth, a.hhoth:hover{
	background:#fff url(/img/hh.png) 0px -165px no-repeat;
	display:block;
	height:44px;
	width:195px;
	text-indent:-9999px;
	overflow:hidden;
}

.mbtn{
	text-align: center;
	margin: 10px 0px;
	background: #eb580c;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 15px 12px 15px;
}
.mbtn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.leftinput{
	width: 280px;
	float: left;
}
.rightresult{
	width: 320px;
	float: right;
}
#clear{margin-left: auto;margin-right: auto;clear: both;height: 1px;}
.leftchart{
	padding-top:10px;
	width: 445px;
	float: left;
}
.rightpie{
	padding-top:10px;
	width: 155px;
	float: right;
}

