/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
#lifestyle .flexslider .flex-viewport .slides.figure-slide img, #lifestyle .bpM58.flexslider .slides img  {width: 113%}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { background: url('../img/flex-arrows.png') no-repeat; text-decoration:none; display: block; margin:0; position: absolute; top: 39%; z-index: 10; overflow: hidden; cursor: pointer; color: rgba(0,0,0,1);}
/*.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 60px; padding:15px 5px; margin: -30px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0.5; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;  background:rgba(0, 0, 0, 0.6);}*/
.flex-direction-nav .flex-prev { /*opacity: 0.7;*/ left: 10px; background-position: -11px center; border-radius: 0 2px 2px 0 }
.flex-direction-nav .flex-next { /*opacity: 0.7;*/ right: 10px; text-align: right; background-position: 11px center; border-radius: 2px 0 0 2px; /*box-shadow: -2px 0 1px #AFAEAE*/}
/* Watch Clear full widht*/
.clear .flexslider.relatedVideo.noPadding .flex-prev {left: 0px}
.clear .flexslider.relatedVideo.noPadding .flex-next {right: 0px}
/*.flexslider:hover .flex-prev { left: 10px; } SIN MOVIMIENTO DE LOS CONTROLES - SOLO OPACITY
.flexslider:hover .flex-next { right: 10px; }*/
.flexslider:hover .flex-next, .flexslider:hover .flex-prev, .flexprogramas:hover .flex-next, .flexprogramas:hover .flex-prev, .flexespeciales:hover .flex-next, .flexespeciales:hover .flex-prev, .flexactivities:hover .flex-next, .flexactivities:hover .flex-prev, .flexhistory:hover .flex-next, .flexhistory:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Pause/Play 
.flex-pauseplay a { display: block; width: 15px; height: 15px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }*/

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center; padding-right: 20px}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #eeeeee; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,.3); box-shadow: inset 0 0 3px rgba(0,0,0,.3)}
.flex-control-paging li a:hover { background: #eeeeee}
.flex-control-paging li a.flex-active { background: #6e6e6e; cursor: default}

/*.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}*/

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

/* HACK foxplay  */
.flexslider { background: none; border: none; border-radius: 0; box-shadow: 0 0 0 0; margin: 0}
.flexslider .slides li {position: relative}

/* HACK Item Recipes */
.flexslider .flex-viewport ul li {padding: 5px 0; margin-right: 20px;}
.relatedVideo .vecIconPlay { top: 75px; right: 15px}
.relatedVideo .flex-direction-nav a { top: 27%}
.flexslider.relatedVideo article {height:auto}
.flex-direction-nav li a { background-color: #eee; width: 20px; height:50px;} 
.flex-direction-nav a {display: inline-block; /* box-shadow: 2px 0 1px #AFAEAE;*/}
.bWhite .flex-direction-nav li a {background-color: #fff}

/* CUSTOM STYLES - HAY QUE CHEQUEARLOS VIENEN DE MAIN.CSS 
	
	AGREGAR ACA LOS ESTILOS DE LOS MODULOS CON SLIDER / RELACIONADAS Y DEMAS

 */

/*#home*/ #wrapper .flexslider { background: none; border: none; border-radius: 0; box-shadow: 0 0 0 0; margin: auto; /* margin-left:-10px; margin-right:-10px Correccion por modulo slide en Lifestyle Recipes */} 

.container .flexslider {padding-left: 10px; padding-right: 10px}

/*#home */#wrapper .flexslider .slides li {position: relative}

.sliderMask.flexslider .flex-direction-nav a {font-family: 'icomoon';height: 50px;width: 20px;background: #eee;position: absolute;top: 38%;margin-top: -25px; opacity:1; font-weight:bold}
.sliderMask.flexslider .flex-direction-nav a.flex-next{right:10px; border-radius: 3px 0 0 3px;}
.sliderMask.flexslider .flex-direction-nav a.flex-prev{ left:10px; border-radius:0 3px 3px 0}
.sliderMask.flexslider .flex-direction-nav a.flex-next:before, .sliderMask.flexslider .flex-direction-nav a.flex-prev:before{
top: 50%;
position: absolute;
margin-top: -8px;
left: 50%;
font-size:16px; font-weight:bold}
.sliderMask.flexslider .flex-direction-nav a.flex-prev:before{margin-left:-10px;}
.sliderMask.flexslider .flex-direction-nav a.flex-next:before{margin-left:-6px}
.sliderMask.flexslider{ padding-right:10px}
.highlight .sliderMaskBox li{ width:1280px; position:relative;}

/* PROFILE */
#profile .sliderMask .flex-direction-nav a{top:37%}

/* LIFESTYLE PILLAR PROGRAMAS RELATED */
.flexprogramas .flex-direction-nav a  { top: 41%}
.flexespeciales .flex-direction-nav a { top: 34%}
.flexespeciales article { position: relative; /*height: 170px; */width: 300px}
.flexespeciales article H1 { color: #fff!important; position: absolute; bottom: 12px; left: 12px; padding-right: 32px; line-height: 24px}
.flexespeciales article .shadow { position: absolute; top: 0; left: 0}
.flexslider.relatedVideo article {box-shadow:none}

/* Margin top en caja de videos */
.relatedVideo h4 {margin-top:10px}

/* RELATED RECIPES ARTICLE */
.flexslider article {box-shadow:0px 1px 2px #afaeae; height: 260px; position: relative; width: 220px; overflow: hidden}
.flexslider.noitem article {height: auto!important}
.flexslider.item article {height: 200px; overflow: hidden;position: relative; width: 220px; box-shadow:none;}
.flexslider.item article HEADER {background-color: #eee; background-color: #eee; width:100%; padding: 0px; position: inherit;}
.flexslider.item .flex-direction-nav a {top: 20%}
.flexslider article HEADER { background-color: #fff; padding: 10px 10px 14px 10px; height: 135px;position: absolute; width: 100%; bottom: 0}
.flexslider article figure.note-slider {max-height:125px; overflow:hidden}
.item .slides article header h1, .slides article header h1 {font-weight: 300!important; font-size: 1.3em; line-height: 1.2em; margin-bottom: 4px}
/*.flexslider .slides article header h1 strong {font-weight: 700!important; font-size: 1.2em!important}*/
.slides article header h3, .slides article header h2 { font-size:1em; line-height: 1; margin-bottom: 4px; font-weight: 300}
/*.flexslider article HEADER H2 { margin-bottom: 3px; font-weight: 300}*/
.relatedFeatured .shadowFeatured { left: 0; position: absolute; bottom: 0}
.flexrelated .slides li {margin-right: 20px}

/* TITULARES DE MODULOS */
aside .bpS100.bpM100 > h5 { text-transform: uppercase; letter-spacing: -1px}

/* LINKS A TODAS LAS NOTAS -- ETC */
aside .pullRight .vectors .arrows {height: 16px;}
aside .pullRight .vectors .arrows, section .pullRight .vectors .arrows, #search .pullRight .vectors .arrows { margin-left: 9px; vertical-align: baseline; width: 6px}