/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Custom sizes
============================================================================================== */

/* For desktop 1024 ---------------------------- */
@media (min-width: 980px) and (max-width: 1299px) {
	#mainLogo img {width: 90px;}
	.cbpHeader .search {width:15%}
	.search span {right:10px}
	#filters .search span {right:20px}
	#mainHeader .cbpHeader nav a, #mainHeader .cbpHeader .cbpHeaderShrink nav a {padding:20px 11px; font-size: 1em}
	#mainHeader .cbpHeader nav .dropDownBox a, #mainHeader .cbpHeader .cbpHeaderShrink nav .dropDownBox a {
		display: inline-block;
		padding: 7px 10px;
		line-height: inherit;
		width: 100%
	}
	.label .fox-label {
		padding: 0 5px 1px;
	}
    .scrollingHeadSection .container .headerInfo H1 { max-width: 75%}
	.Bbox img, .Mbox img {height:auto /*Estira las imagenes del HL02 height:27.8vw*/}
	.bpS25.wBox {height:28.65vw}
	/*.bpS41.featured { width: 40%; margin-right: 10px; overflow: hidden} */
	#headerSection .headerInfo.noAuth.layoutTwo {min-height: 380px}
	#headerSection #player figure { max-height: 380px; overflow: hidden}
	.figure-special article figure { max-height: 126px}
	
	/********************* NO BORRAR FIX PARA GRILLA HOME PAGE */
	figure.hl2 img.imgResponsive {max-width: 101.5%!important}
	/********************* NO BORRAR FIX PARA GRILLA HOME PAGE */

	.noSlide .relatedVideo .vecIconPlay {
		bottom: 75px;
		right: 20px;
		top: inherit
	}
	#ui-id-1 {
    	background: #fff;
	    right: 5px !important; 
    	left: inherit !important;
	    width: 330px;
    	padding: 0;
	    border-radius: 5px;
    	padding: 5px 0px
	}
	#lifestyle .bpS41.bpM41.featured article.featuredRelated IMG {
		height: 100%;
		margin-top: 0;
		min-width:100%;
		width: auto
	}
	.videoPlayM {overflow:hidden}
	/*.videoPlayM #player figure .imgResponsive {height:380px;max-width:none;width:auto}*/
	#sports article.featuredRelated IMG {width: 100%!important}

}

/* For desktop 1366 and lower ------------------------------------- */
@media (max-width: 1299px) {
	.label b, .contentList div span	{font-size:.625em}  /*on psd 10px*/
	.label li, .label p	{font-size:.688em}  /*on psd 11px*/
	.label h4, #moreAbout #mainContent h4, .secndBtn, #profileConnect a, #overlayPlayer p, #overlayPlayer .bottom, #welcomeProfile .row span, .orderList li a, .contentList div * {font-size:.750em} /*on psd 12px*/ 
	.wBox .label h3, #auth h3, #profile #menuFilter li a, .devicesConfig p, #profileBadge p	{font-size:.875em} /*on psd 14px*/
	.label h2, .label h3, .mainBtn, #headerSection #overlayPlayer b, .highlight .completeProfile p {font-size:1em} /*on psd 16px*/ 
	.Bbox h2, .label h1, .highlight .complex h1, #headerSection h1, #profile #headerSection h3 {font-size:1.875em}/*on psd 30px*/
	#headerSection .headerInfo.bpM100 h1 {font-size:1.500em}/*on psd 24px*/
	#profileConnect .social a {font-weight:400}
	
	.wBox .label h3 {margin:7px 0 0 0}
	.label.new {padding:.38em .938em .8em 1.125em}
	/*.navbarInner.paddingLarge{ padding-left:50px; padding-right:50px}*/
	.container.headerInfo {
		height:29vw;
		padding-top:10px
	}
	#headerSection h1, #profile #headerSection h3 {margin-top:10px}
	.sectionBtn img {width:40px}
	#headerSection h6 {margin:15px 0}
	#moreAbout .iconList div {margin:20px 5px 0 5px}

	#overlayPlayer .providerGrid {margin-top:20px}
	#overlayPlayer .bottom {margin-top:10px}
	#overlayPlayer h5 {margin-bottom:10px}
	/*.iconsX2 { width:95px; height: 90px }*/
	#profile #menuFilter li a {padding:12px 12px}
	#profile #menuFilter li a span {
		font-size:10px;
		margin-top:1px;
		padding:4px;
		width:20px
	}

	.devicesConfig div a.editBtn {padding:9px 10px}

	#profileBadge img {
		margin-top: -55px;
		width: 205px
	}
	#profileBadge p {
		margin-top:-15px;
		left: 25%
	}
	#profileBadge .iconsX2 {
		width: 120px;
		height: 120px;
		margin-top: -60px;
		left: 20px
	}

	.contentList .watchedTime {margin-top: 3px}
	#profile #headerHero .paddingLarge {padding-left:35px}

	.highlight .complex h5 {margin:1.67em 0 0 0}
	
	.label b.foxsports-premium {
    	background-position: right -15px !important;
	    padding: 9px 67px 8px;
    	top: 5px
	}
}

/* For desktop 1366 ---------------------------- */
@media (min-width: 1300px) {
	.cbpHeader #mainLogo img {max-width: 130px}
	.cbpHeader .search {width:15%}
	.bpS25.wBox {height:28.6vw}
	.container.headerInfo {height:100%}
	/*.container.headerInfo.specials {height:17vw }*/
	#overlayPlayer .providerGrid a img {max-width:125px}
	.devicesConfig div input {width:65%}
	#profile #headerHero .paddingLarge {padding-left:60px}
	#headerSection .headerInfo.noAuth.layoutTwo {min-height: 434px}
	#headerSection #player figure { max-height: 385px; overflow: hidden}
	.highlight .complex h5{ margin:1em 0 0 0}
	#home .row a.mainBtn.mt10.act {padding: 6px}
	#lifestyle .bpS41.bpM41.featured article.featuredRelated IMG {
		height: auto;
		margin-top: 0
	}
	.noSlide .relatedVideo .vecIconPlay { bottom: 60px; right: 20px; top: inherit }
	.figure-special article figure { max-height: 128px}
}

/* For desktop 1620 and smartTv ---------------------------- */
@media (min-width: 1580px) {
	.cbpHeader #mainLogo img {max-width: none}
	.bpS25.wBox {height:454px}
	.cbpHeader .cbpInner #mainLogo {margin:0}
	.internal #headerSection {
		padding-left: 5px!important;
		padding-right: 5px!important
	}
	#headerSection header {padding-left:0}
	/*.navbarInner.paddingLarge{ padding-left:50px; padding-right:50px}*/
	.container.headerInfo {height:475px}
	/*.sectionLogo{right:0}*/
	.containerFluid.navSection {padding-left:87px}
	#headerHero {padding: 0}
	.internal #headerSection div.paddingLarge > .bpM100 {padding:0 5px}
	#moreAbout .iconList div {width:13%}
	#mainContent > .container {max-width: 1600px}
	#mainContent .containerFluid > .paddingLarge {
		padding-left:80px;
		padding-right:80px
	}
	.generalSection .search {margin-right:-10px}
	.generalSection #mainHeader #auxiliarMenu {max-width:1600px}
	#profile #headerHero .paddingLarge {padding-left:90px}
	#headerSection .headerInfo.noAuth.layoutTwo {
		min-height: 470px;
		margin-left: 10px
	}
	#headerSection #player figure { max-height: 470px; overflow: hidden}

	#scheduleContainer #hours * {line-height: 50px; /*margin:0 auto!important; max-width: 1450px; padding-left:10px*/}
	#lifestyle .bpS41.bpM41.featured article.featuredRelated IMG {
		height: auto;
		margin-top: -25px
	}
	.Season .flexslider .flex-viewport ul li {padding: 5px 0; margin-right: 20px; width: 227px!important}
	/* Featured related Notes */
	.featuredRelatedRecipe img {width:572px}
  	article.featuredRelatedRecipe {max-width: 572px!important}
}

/*Fix about alignment on left layout*/
@media (min-width: 1580px) and (max-width: 1650px) {
	#showMenu .containerFluid.navSection {
		padding-left:70px;
		padding-right:70px
	} 
	#mainWrap #headerSection header {padding-left:10px}
}

@media (min-width: 1550px) and (max-width: 1620px) {
	#scheduleContainer .scrolling#hours span {box-shadow:none}
}


/* For Tablets ---------------------------- */
@media (max-width: 980px) {
	#mainLogo img {width: 90px;}
	.containerFluid.gutter10, .containerFluid#Footer, .container, #wrapper, #mainHeader {
		min-width:760px;
		margin: 0 -5px 0 0
	}
	#mainHeader .cbpHeader nav a, #mainHeader .cbpHeader .cbpHeaderShrink nav a {
		padding-left:8px;
		padding-right:8px;
		font-size: 1em
	}
	/*#headerSection header{ padding-left:20px}*/
	/*.navbarInner.paddingLarge{ padding-left:50px; padding-right:50px}*/
	.container.headerInfo {height:32vw}
	.cbpHeader .dropDownBox a, .cbpHeader.cbpHeaderShrink .dropDownBox a {font-size: .8em !important}
    
	footer#Footer {
    	/*height: 100%;*/
		height: auto;
    	padding: 10px
	}
	#Footer p, #Footer nav {
    	float: none !important;
	    text-align: center;
    	padding: 5px 0
	}
	#Footer .menuBottom {
    	float: none !important
	}
	.noSlide .relatedVideo .vecIconPlay { bottom: 110px; right: 20px; top: inherit }
	.viewContinue {	min-width: 320px!important}
    .highlight .sectionLogo.home, .HLboxes .sectionLogo.home { top: 10px; right: 15px}
	.highlight .sectionLogo.home .vectors svg, .HLboxes .sectionLogo.home .vectors svg {width: 30px; height: 15px}
	.highlight .sectionLogo.home .vectors.vecLogoFox svg, .HLboxes .sectionLogo.home .vectors.vecLogoFox svg {height: 15px; width: 30px}
	.highlight .sectionLogo.home .vectors.vecLogoNatGeo svg, .HLboxes .sectionLogo.home .vectors.vecLogoNatGeo svg {height: 20px; width: 35px}
	.highlight .sectionLogo.home .vectors.vecLogoFoxSports svg, .HLboxes .sectionLogo.home .vectors.vecLogoFoxSports svg {height: 20px; width: 34px}	
	.highlight .sectionLogo.home .vectors.vecLogoFoxLife svg, .HLboxes .sectionLogo.home .vectors.vecLogoFoxLife svg { height: 15px; width: 45px}
	.highlight .sectionLogo.home .vectors.vecLogoFx svg, .HLboxes .sectionLogo.home .vectors.vecLogoFx svg {width: 25px; height: 15px}
	.highlight .sectionLogo.home .vectors.vecLogoMundoFox svg, .HLboxes .sectionLogo.home .vectors.vecLogoMundoFox svg {width: 60px; height: 15px}.highlight .sectionLogo.home .vectors.vecLogoTheFilmZone svg, .HLboxes .sectionLogo.home .vectors.vecLogoTheFilmZone svg  {height: 25px; width: 25px}
    .highlight .sectionLogo.home .vectors.vecLogoCinecanal svg, .HLboxes .sectionLogo.home .vectors.vecLogoCinecanal svg  {height: 25px; width: 30px}
}

@media (max-width: 1100px) {
	#mainWrap {width:100%!important}
	
	#profile #headerSection .imgCircle {
		width:100px;
		height:100px
	}
	.profileInfo {margin-top:15px}
	#profile #menuFilter li a {padding:12px 6px}
	.devicesConfig div input {width:150px}
	.devicesConfig div > div, .devicesConfig div a span.vecIconInfo {bottom:10px}
	#welcomeProfile .row span {width:75%}
	.highlight .complex .label {top: 0%}
	.highlight .completeProfile .absolute {bottom:8%}
	#watchingBox .completeProfile .heading {margin-bottom: -55px}

	.highlight .complex h5 {margin:1em 0 0 0}
	#home .row a.mainBtn.mt10.act {padding: 6px}
	
	 .suscriptors, .suscriptors strong, .slides .suscriptors, .tempsuscriptors.tempsuscriptors strong
 	{font-size: 10px}
}

/* Less than tablets ---------------------------- 
@media (max-width: 768px) { 
	.cbpInner li{ width:100%} .cbpHeader nav{ float:none; width:100%}
	.menuMobile.Dnone{ display:block}
	#mainMenu{ display:none; margin-top:-1px}
	.cbpInner #mainMenu li{ background:#000}
	.cbpInner #mainMenu li:hover, .cbpInner  #mainMenu li.active{ background:#1b1b1b}
	.cbpInner #mainMenu li a{width: 100%; display: inline-block; padding: 0 20px;}
	.pullRight.menuBottom{ float:left!important; margin-top:10px}
	.dropDown:hover .dropDownBox{ display:none}
	.container.headerInfo{height:38vw}
	#mainMenu li.tags, .cbpHeader.cbpHeaderShrink #mainMenu li.tags{ margin-top:0}
	#mainMenu li.tags{padding-top:10px; height:50px}
	.dropDown .arrows{ display:none}
}*/


/* Ipad (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Add your styles for devices with a maximum width of 1024 */
}

/* Ipad (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Add your styles for devices with a maximum width of 768 */
}


@media (min-width: 760px) and (max-width: 979px) {
	.containerFluid.gutter10, .containerFluid#Footer, .container, #wrapper, #mainHeader {
		min-width:100%;
		margin: 0 -5 0 0;
		max-width:100%
	}  
	#home .row a.mainBtn.act {
		font-size: .75em;
		padding: 2px;
		min-width: 150px;
		text-align: center;
		margin-top: 5px
	}
	#home .row a.mainBtn.mt10.act {
		padding: 2px
	}
	.Bbox h2, .label h1, .highlight .complex h1, #headerSection h1, #profile #headerSection h3 {
		font-size: 1.5em
	}
	.label {
		max-height: 130px
	}
	.cbpHeader.cbpHeaderShrink .search{ 
		margin-right:0px
	}
	#mainHeader .cbpHeader nav a, #mainHeader .cbpHeader .cbpHeaderShrink nav a {
		padding-left: 4px;
		padding-right: 4px;
		font-size: .9em
	}
	.paddingLarge {
		padding-left:10px!important;
		padding-right:10px!important
	}
	.cbpHeader .cbpInner {
		min-width: 100%
	}
	.highlight .complex h5 {
		margin: 0;
		font-size: .75em;
	}
	.highlight .complex .label {
		left:0
	}
	article.featuredRelated IMG {
		height:100%!important;
		width: auto;
	}
	.noSlide .relatedVideo .vecIconPlay { bottom: 80px; right: 20px; top: inherit }	
}