img.wp-smiley {
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .05em 0 .1em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}/**
 * Like Button toolbar button, loading text & container styles
 *
 * @todo: doesn't look like "style.css" is used anymore.
 */


/* Master container */
#jp-post-flair {
	padding-top: .5em;
}

/* Overall Sharedaddy block title */
div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	clear: both;
}

div.sharedaddy h3.sd-title {
	margin: 0 0 1em 0;
	display: inline-block;
	line-height: 1.2;
	font-size: 9pt;
	font-weight: bold;
}

div.sharedaddy h3.sd-title:before {
	content: "";
	display: block;
	width: 100%;
	min-width: 30px;
	border-top: 1px solid #ddd;
	margin-bottom: 1em;
}


/* Toolbar */
#wpadminbar li#wp-admin-bar-admin-bar-likes-widget {
	width: 61px;
	overflow: hidden;
}

#wpadminbar iframe.admin-bar-likes-widget {
	width: 61px;
	height: 28px;
	min-height: 28px;
	border-width: 0px;
	position: absolute;
	top: 0;
}

div.jetpack-likes-widget-wrapper {
	width: 100%;
	min-height: 50px;	/* Previous height, 60px */
	position: relative; /* Need to abs position placeholder and iframe so there isn't a jarring jump */
}

div.jetpack-likes-widget-wrapper .sd-link-color {
	font-size: 12px;
}

div.jetpack-likes-widget-wrapper.slim-likes-widget {
	width: 1px; /* initial default */
	min-height: 0;
}

#likes-other-gravatars {
	display: none;
	position: absolute;
	padding: 10px 10px 12px 10px;
	background-color: #2e4453;
	border-width: 0;
	box-shadow: 0 0 10px #2e4453;
	box-shadow: 0 0 10px rgba(46,68,83,.6);
	min-width: 130px;
	z-index: 1000;
}

#likes-other-gravatars * {
	line-height: normal;
}

#likes-other-gravatars .likes-text {
	color: white;
	font-size: 12px;
	padding-bottom: 8px;
}

#likes-other-gravatars ul,
#likes-other-gravatars li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#likes-other-gravatars li::before {
	content: "";
}

#likes-other-gravatars ul.wpl-avatars {
	overflow: auto;
	display: block;
	max-height: 190px;
}

#likes-other-gravatars ul.wpl-avatars li {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px 5px 0;
}

#likes-other-gravatars ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

#likes-other-gravatars ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}

div.sd-box {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
}

.entry-content .post-likes-widget, .post-likes-widget,
.comment-likes-widget {
	margin: 0;
	border-width: 0;
	display: block;
}


/* Loading text */
.post-likes-widget-placeholder {
	margin: 0;
	border-width: 0;
	position: relative;
}

.post-likes-widget-placeholder .button {
	display: none;	/* Let's not show a dummy like button, let's just make a great button experience once it's loaded */
}

.post-likes-widget-placeholder .button span {
}

.post-likes-widget-placeholder .loading {
	color: #999;
	font-size: 12px;
}

.slim-likes-widget .post-likes-widget {
	width: auto;
	float: none;
}


/* Like Special cases (display on it's own) */
div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like .post-likes-widget {
	width: 100%;
	float: none;
	position: absolute; /* Need to abs position placeholder and iframe so there isn't a jarring jump */
	top: 0;
}

.comment-likes-widget {
	width: 100%;
}


/* Make ratings block. @todo: make !important unnecessary by removing inline style */
.pd-rating {
	display: block !important;
}


/* Hide G+ title */
.sd-gplus .sd-title {
	display: none;
}
/**
 * Add text colors to the playlist shortcode light color scheme.
 * 
 * Core ticket: https://core.trac.wordpress.org/ticket/27562
 */

.wp-playlist-light {
	color: #000;
}

.wp-playlist-light .wp-playlist-item {
	color: #333;
}

.wp-playlist-light .wp-playlist-playing {
	background: #fff;
	color: #000;
}

.wp-playlist-dark .wp-playlist-item .wp-playlist-caption {
	color: #fff;
}

.wp-playlist-caption {
	display: block;
}/**
 * MP6 hacks, CSS that's either WPCOM specific or otherwise not suitably for MP6 proper
 */

/* Invert stats sparkline on light theme */
body.admin-color-mp6-light li#wp-admin-bar-stats img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/* Fix dashicons priority so Japanese users can use the toolbar. Should long term be fixed in whatever plugin that forces all fonts to be Arial */
i.mce-i-bold, i.mce-i-italic, i.mce-i-bullist, i.mce-i-numlist, i.mce-i-blockquote, i.mce-i-alignleft, i.mce-i-aligncenter, i.mce-i-alignright, i.mce-i-link, i.mce-i-unlink, i.mce-i-wp_more, i.mce-i-strikethrough, i.mce-i-spellchecker, i.mce-i-fullscreen, i.mce-i-wp_fullscreen, i.mce-i-wp_adv, i.mce-i-underline, i.mce-i-alignjustify, i.mce-i-forecolor, i.mce-i-pastetext, i.mce-i-pasteword, i.mce-i-removeformat, i.mce-i-charmap, i.mce-i-outdent, i.mce-i-indent, i.mce-i-undo, i.mce-i-redo, i.mce-i-help, i.mce-i-wp_help, i.mce-i-wp-media-library, i.mce-i-ltr, i.mce-i-wp_page, .mce-close {
	font: normal 20px/1 'dashicons' !important;
}

.dashicons, .dashicons-before:before {
	font-family: 'dashicons' !important;
}

.noticon {
	font-family: "Noticons" !important;
}.bbp-staff-role {
	color: #f1831e;
}

.bbp-a8c-reply {
	background: #e9eff3 !important;
	border: 1px solid #c8d7e1;
	width: 98% !important;
}@font-face{font-family:'icomoon';src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/icomoon/icomoon.eot?u1njcj);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/icomoon/icomoon.eot?u1njcj#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/icomoon/icomoon.ttf?u1njcj) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/icomoon/icomoon.woff?u1njcj) format("woff"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/icomoon/icomoon.svg?u1njcj#icomoon) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Austin Text Web';src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-SemiboldItalic-Web.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-SemiboldItalic-Web.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-SemiboldItalic-Web.woff) format("woff");font-weight:600;font-style:italic;font-stretch:normal}.AustinText-SemiboldItalic-Web{font-family:'Austin Text Web';font-weight:600;font-style:italic;font-stretch:normal}@font-face{font-family:'Austin Text Web';src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-Semibold-Web.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-Semibold-Web.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinText/AustinText-Semibold-Web.woff) format("woff");font-weight:600;font-style:normal;font-stretch:normal}.AustinText-Semibold-Web{font-family:'Austin Text Web';font-weight:600;font-style:normal;font-stretch:normal}@font-face{font-family:'Austin Hairline Web';src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Italic-Web.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Italic-Web.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Italic-Web.woff) format("woff");font-weight:400;font-style:italic;font-stretch:normal}.AustinHairline-Italic-Web{font-family:'Austin Hairline Web';font-weight:400;font-style:italic;font-stretch:normal}@font-face{font-family:'Austin Hairline Web';src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Roman-Web.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Roman-Web.eot?#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/commercial/AustinHairline/AustinHairline-Roman-Web.woff) format("woff");font-weight:400;font-style:normal;font-stretch:normal}.AustinHairline-Roman-Web{font-family:'Austin Hairline Web';font-weight:400;font-style:normal;font-stretch:normal}@font-face{font-family:"GothamHTF-Bold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Bold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Bold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Bold.svg#GothamHTF-Bold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Bold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Bold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"GothamHTF-Book";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Book.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Book.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Book.svg#GothamHTF-Book) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Book.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Book.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"GothamHTF-Black";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Black.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Black.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Black.svg#GothamHTF-Black) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Black.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Black.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"GothamHTF-Medium";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Medium.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Medium.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Medium.svg#GothamHTF-Medium) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Medium.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-Medium.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"GothamHTF-BookItalic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-BookItalic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-BookItalic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-BookItalic.svg#GothamHTF-BookItalic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-BookItalic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/gotham/GothamHTF-BookItalic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-Italic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Italic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Italic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Italic.svg#AustinText-Italic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Italic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Italic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-Semibold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Semibold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Semibold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Semibold.svg#AustinText-Semibold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Semibold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Semibold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-ItalicNo2";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-ItalicNo2.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-ItalicNo2.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-ItalicNo2.svg#AustinText-ItalicNo2) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-ItalicNo2.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-ItalicNo2.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-Roman";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Roman.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Roman.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Roman.svg#AustinText-Roman) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Roman.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Roman.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-Bold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Bold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Bold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Bold.svg#AustinText-Bold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Bold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin_text/AustinText-Bold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-Italic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Italic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Italic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Italic.svg#Austin-Italic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Italic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Italic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AustinText-SemiboldItalic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/AustinText-SemiboldItalic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/AustinText-SemiboldItalic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/AustinText-SemiboldItalic.svg#AustinText-SemiboldItalic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/AustinText-SemiboldItalic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/AustinText-SemiboldItalic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-Semibold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Semibold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Semibold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Semibold.svg#Austin-Semibold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Semibold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Semibold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-Light";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Light.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Light.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Light.svg#Austin-Light) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Light.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Light.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-Medium";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Medium.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Medium.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Medium.svg#Austin-Medium) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Medium.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Medium.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-Bold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Bold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Bold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Bold.svg#Austin-Bold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Bold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-Bold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"Austin-BoldItalic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-BoldItalic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-BoldItalic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-BoldItalic.svg#Austin-BoldItalic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-BoldItalic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/austin/Austin-BoldItalic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-Regular";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Regular.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Regular.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Regular.svg#ACaslonPro-Regular) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Regular.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Regular.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-Bold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Bold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Bold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Bold.svg#ACaslonPro-Bold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Bold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Bold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-Italic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Italic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Italic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Italic.svg#ACaslonPro-Italic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Italic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Italic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-BoldItalic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-BoldItalic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-BoldItalic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-BoldItalic.svg#ACaslonPro-BoldItalic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-BoldItalic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-BoldItalic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-Semibold";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Semibold.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Semibold.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Semibold.svg#ACaslonPro-Semibold) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Semibold.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-Semibold.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"ACaslonPro-SemiboldItalic";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-SemiboldItalic.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-SemiboldItalic.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-SemiboldItalic.svg#ACaslonPro-SemiboldItalic) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-SemiboldItalic.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/acaslon/ACaslonPro-SemiboldItalic.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:"AracneSoftReg";src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/aracne/AracneSoftReg.eot);src:url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/aracne/AracneSoftReg.eot#iefix) format("embedded-opentype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/aracne/AracneSoftReg.svg#AracneSoftReg) format("svg"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/aracne/AracneSoftReg.ttf) format("truetype"),url(/wp-content/themes/vip/sc-stylecaster-2016/public/css/../assets/font/aracne/AracneSoftReg.woff) format("woff");font-weight:normal;font-style:normal}
