#online-downloader-inner
{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1065px;
	background-color: rgb(34,96,159);
	padding-bottom: 13px;
}
#instruction
{
    font-family: "Myriad Pro", "Myriad Pro2", "arial";
    font-size: 16px;
    color: rgb(221,236,249);
    margin-left: 64px;
	margin-right: 64px;
    padding-top: 22px;
}

#instruction a
{
	color: rgb(221,236,249);
}

#url
{
    font-family: "arial";
    font-size: 22px;
    padding: 16px;
    font-size: 25px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px black;
    width: 905px;
    height: 33px;
    margin-left: 60px;
    margin-top: 4px;
	box-sizing: content-box;
}

#configuration
{
    background: linear-gradient(to bottom, #3F78AF, #538ABB);
    border-radius: 10px;
    width: 310px;
    height: 82px;
    margin-left: 63px;
    margin-top: 24px;
    padding-left: 10px;
    padding-top: 12px;
    float: left;
}

#convert-button
{
    background-image: url(imgs/buttons-sprite.png);
	background-position: 0px 0px;
    width: 283px;
    height: 64px;
    float: left;
    margin-left: 340px;
    margin-top: 47px;
    cursor: pointer;
}

#convert-button:hover
{
	background-position: 0px -74px;
}

#convert_text
{
    padding-top: 16px;
    text-align: center;
    font-family: "Myriad Pro", "Myriad Pro2", "arial";
    font-size: 28px;
    font-weight: bold;
    color: rgb(71,71,71);
}

.config
{
    float: left;
    font-family: "Myriad Pro", "Myriad Pro2", "arial";
    font-size: 15px;
    color: rgb(156,156,156);
    margin-top: 1px;
}

.selectedValueText
{
    padding-top: 15px;
    padding-left: 15px;
}

.config-combo
{
	background-image: url("img/config-combo-left.png"),  url("img/config-combo-right.png"), url("img/config-combo-middle.png");
    background-repeat: no-repeat,  no-repeat, repeat-x;
	font-family: "Myriad Pro", "Myriad Pro2", "arial";
	background-position: left ,right, center ;
    width: 143px;
    height: 51px;
    color: rgb(76,76,76);
    font-size: 21px;
    cursor: pointer;
    margin-top: 1px;
}

.config-combo:hover
{
	background-image: url("img/config-combo-left.png"),  url("img/config-combo-right-mo.png"), url("img/config-combo-middle.png");
}

.config-combo-option
{
	font-family: "Myriad Pro", "Myriad Pro2", "arial";
	width: 126px;
	height: 22px;
	color: rgb(76,76,76);
	font-size: 16px;
	padding-top: 2px;
	padding-left: 13px;
	background-color: rgb(255,255,255);
}

.config-combo-option a {
  text-decoration: none;
  color: rgb(76,76,76);
}

.config-combo-option a:hover {
  color: rgb(255,255,255);
}

.config-combo-option-enlarge
{
	width: 157px;
}

.config-combo-option-enlarge a:link
{
	text-decoration: none;
}

.config-combo-option-enlarge a
{
	color: rgb(76,76,76);
}

.config-combo-option-enlarge a:hover
{
	color: rgb(255,255,255);
}

.config-combo-option-enlarge:hover
{
	background-color: rgb(30,144,255);
	color: rgb(255,255,255);
}

.config-combo-option:hover
{
	background-color: rgb(30,144,255);
	color: rgb(255,255,255);
}

.combo-options
{
	border: 2px solid;
	border-color: rgb(30,80,132);
	width: 139px;
	margin-top: -1px;
	cursor: pointer;
}

#config-source
{
    width: 175px;
}

#combo-options-source
{
	width: 170px;
}

#config-format
{
	cursor: pointer;
	position: relative;
}

#combo-options-quality,
#config-quality,
#combo-options-source,
#config-source
{
    margin-left: 11px;
	position: relative;
}
.config-text
{
    margin-left: 6px;
}

#quality-text,
#source-text
{
	margin-left: 15px;
}

#online-download-frame
{
    width: 1065px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 33px;
    padding-left: 26px;
    background-repeat: no-repeat
}

#online-converter-title
{
    background: linear-gradient(to bottom, #3A6898, #194A7C);
    font-family: "Myriad Pro", "Myriad Pro2", "arial";
    font-size: 22px;
    color: rgb(255,255,255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#ADVertical
{
	position: absolute;
	padding-left: 50px;

}

div#GoLine {
    margin-top: 24px;
    height: 131px;
}