@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
    font-family: Verdana, sans-serif;
    color: #333;
}
#logo{
    width: 100%;
    text-align: center;
    margin: 35px 0 10px 0;
    opacity:.95;    
}
#centerStuff{
    width: 100%;
    text-align: center;

}
#logo img{
    border:0;
}
#title{
	font: bold 16px Verdana, sans-serif;
	color:#fff;
    width: 100%;
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}
#BorderTop{
	width:100%;
	height:30px;
    background:#474543 url('/images/tinylogo.png') no-repeat left top;
	position:fixed;
	top:0%;
    text-align: center;
    font: bold 14px/30px  Verdana, sans-serif;
    color: #fff;
}
.BorderTopRight{
    text-align: right !important;
}
#BorderBottom{
	background-color:#F8991D;
	width:100%;
	height:10px;
	position:fixed;
	bottom:0px;
}
/* common */
.fb-like{
    margin: 10px 0 10px 0;
}
.spacer{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}
a{color:#0356AD; text-decoration: none; font-weight:bold} 
a:visited {color:#0356AD; text-decoration: none}  
a:hover { color:#666666; text-decoration: underline}
a:active {position: relative; top: 1px}
.myclass {
 border-style: solid;
 border-width: 2px;
 -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 border-radius: 15px;
}
.leftBox{
    position: fixed;
    background:#474543;
    padding: 0 2px 2px 10px;
    color: #fff;
    left:0;
    width: 88px;
    height: 30px;
    font-size: 12px;
    border-top-right-radius:1em;
    -moz-border-radius-topright:1em;
    -webkit-border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    -moz-border-radius-bottomright:1em;
    -webkit-border-bottom-right-radius:1em;
    -khtml-border-radius: 1em;
}
.hideOverflow{ 
    overflow:hidden;
}
.leftBox a{color:#F9F9F9; text-decoration: none; font-weight:bold} 
.leftBox a:visited {color:#F9F9F9; text-decoration: none}  
.leftBox a:hover { color:#E8E8E8; text-decoration: underline}
.leftBox a:active {position: relative; top: 1px}
h2 {
    margin: 5px;
}
.leftBox1{
    top: 212px;
	z-index: 2000;
}
.leftBox2{
    top: 406px;
}
.fbMain{
    position:fixed;
    top: 260px;
    left: 20px;
}
.addthisHeader{
    position:  fixed;
    top: 390px;
    left: 20px;
}
.divContent{ 
    background-color: #F8991D; 
    margin: 0 0 0 0; 
    text-align: center;
    color: #fff;
    padding-top: 10px;
    width: 50%;
     padding-bottom: 10px;   
}
.divContent span.title{
    font: bold 28px  Verdana, sans-serif;
    
}

.divContent2{ 
    background-color: #BABABA; 
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divContent2 span.title{
    font: bold 28px  Verdana, sans-serif;
}
.leftPanel{
    float:left;
    width:49.8%;
}
.rightPanel {
    float:right;
    width:49.8%;
}
.youtube{
    width:495px;
    margin: 0 auto;
    float: right;    
}
.soundcloud{
    width:495px;
    margin: 0 auto;
    float: left;
}
.otherSites{
    width: 1000px;
    margin: 0 auto; 
}
.clear-both {
   clear: both;
}

.innerBox{ 

    height: 155px; 
    background-color: #FFF; 
    width:445px; 
    margin: 0 auto; 
    padding: 0 15px 0 15px;
    color:black;
    text-align: center;
    line-height: 18px;
}
.innerBox2{ 
    
    background-color: #FFF; 
    width:760px; 
    margin: 0 auto; 
    padding: 0 110px 10px 110px;
    text-align: left;
    line-height: 18px;
	font: 13px/20px verdana, sans-serif;
    color: #333;
}
.innerBox2 h2{
    font: bold 18px Verdana, sans-serif;
    margin: 10px 0 10px 0;
    padding: 0;
}

.innerBox3{ 
    background-color: #FFF; 
    width:960px; 

    margin: 0 auto; 
    text-align: center;
    line-height: 18px;
	font: 13px/20px verdana, sans-serif;
    color: #333;
}
.innerBoxTop5{ 
    background-color: #FFF; 
    width:960px; 
    margin: 0 auto; 
    text-align: center;
    line-height: 18px;
	font: 13px/20px verdana, sans-serif;
    color: #333;
}
.innerBox4{ 
    background-color: #E3E3E3; 
    width:960px; 
    margin: 0 auto; 
    padding: 0 0px 0px 0px;
    text-align: center;
    line-height: 16px;
	font: 13px/20px verdana, sans-serif;
    color: #333;
}
h3{
    border-bottom:2px solid #989EA4;
    color:#3C3C3C;
    font:bold 18px/21px verdana, sans-serif;
    margin:0 0 3px 0;
    padding: 13px 0 2px 12px;
}
ul,label{
	
	margin:0;
	padding:0;
	list-style-type:none;
   /* font-family: "Myriad Pro", "Myriad Pro2", Verdana;
    font-size: 18px;*/
}
.inlineThem{

display: inline-block;
}
.lister{
    float:left;
    margin-left:20px;
    padding:0;
    width: 220px;
}
.red{
    font-weight:bold;
    color: red;
}
.borderCurve{
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius:1em;
    -khtml-border-radius: 1em;  
    
}
/*------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------NO NEED TO EDIT BELOW THIS LINE--------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
#FormContainer1, #FormContainer2{ /* Main Form Container */
	width:315px;
	height:56px;
    margin: 0 6px 0 0;
	background-image:url(images/field.png);
	background-repeat:no-repeat;
	text-align:center;
	float:left;
}
#textURL1, #textURL2{ /* Main Form */
	width:280px;
	height:56px;
	border:none;
	background:none;
	font-family: Verdana, sans-serif;
	font-size:16px;
	color:#999;
	outline:none;
	line-height:56px;
}
/*------------------------------------BUTTONS (also common)--------------------------------------*/
.getVideo{
    display: block;
	margin-left:8px;
	margin-right:8px;
	border:none;
	background:#F8991D url(/images/button.png) no-repeat;
	width:115px;
	height:56px;
	cursor:pointer;
    color: #fff;
    font: bold 18px "courier new", sans-serif;
    text-align: center;
    line-height: 56px;
}
.getVideo:hover{
    background-color:#56A5EC;
}
.getVideo a{
    color: #fff;
}
.buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:4em;
	background:#DBDBDB;
	color:#FFF;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-size:20;
    font-weight:bold;
    font-family: Verdana;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}
blockquote { border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; color: #666; padding: 7px; }
#formStyle label{
    display: block;
    float: left;
    clear:left;
    width: 110px;
    text-align: right;
    padding-top: 4px;
    line-height: 29px;
    font-weight: bold;

}
/*------------------------------------ download page --------------------------------------*/
.videoLink{
    float:left;
    font-size:12px;
    padding:10px 2px 10px 2px;
    border:solid 1px #F8991D;
    width:350px;
    margin:2px 10px 20px 10px;
}
.wide{
    width: 515px;
    margin-right:0;
}
#videoContainer{
    float:left;
    width: 400px;
}
#videoBox{
    float: left;
    clear: left;
    width: 400px;
}
#retry{
    float:left;
    clear: left;
    width:400px;
}
#videoDownload{
    float: left;
    padding: 10px 0 0 15px;
    width: 345px;
}
#preview{
    float: left;
    width: 400px;
}
#downloadTitle{
    float: left;
    width: 350px;
    margin-left: 10px;
}
.shareTitle{
    float: left;
    width: 750px;
    margin-top: 10px;
}
.shareContainer{
    float: left;
    width: 750px;
}
.addthisDownload{
    float: left;
    width: 460px;
}
.fbDownloadPage{
    float: left;
    margin-left: 8px;
    margin-right: 7px;
}
.socialContainer{
    margin-top: 10px;
}