@charset "utf-8";
/* CSS Document */

/*------------- general elements start -------------*/
* {
	margin:0;
	border:0;
	padding:0;
}
/* body {
	font-family: 'Lucida grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	color:#000;
	background:#32344d;
} */
body {
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	line-height:22px;
	color:#000;
	background:#32344d;
}
textarea, input {
	font-family:"Lucida Sans Unicode", Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	color:#555;
}
p {
	margin-top:8px;
	margin-bottom:8px;
	display:block;
	overflow:hidden;
}
ol, ul {
	list-style: none outside none;
}
a {
	color:#073c8d;
	text-decoration:none;
	display:block;
}
p a {
	display:inline;
}
a:hover {
	text-decoration:none;
	color:#32344d;
}
img {
	display:block;
	overflow:hidden;
}
h1, h2, h3, h4, h5, h6 {
	display:block;
	overflow:hidden;
	font-weight:normal;
	margin:10px 0px 13px 0px;
	color:#111;
	padding-bottom:3px;
}
h6 {
	font-size:14px;
	margin-bottom:5px;
}
h5 {
	font-size:14px;
	margin-bottom:5px;
	font-weight:bold;
}
h4 {
	font-size:18px;
	margin-bottom:5px;
}
h3 {
	font-size:20px;
}
h2 {
	font-size:24px;
}
h1 {
	font-size:28px;
}
table {
	margin-bottom:15px;
	border:1px solid #ddd;
	border-right:none;
	width:100%;
	border-collapse:separate;
	border-spacing:0;
	vertical-align:middle;
	background:#fcfcfc;
}
td {
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}
table, td, th {
	text-align:center;
	height:30px;
}
th {
	background:#f2f2f2;
	height:40px;
	border-right:1px solid #ddd;
}
tr:hover {
	background:#f4f4f4;
}
/*------------- general elements end -------------*/
/* header starts */
.headerWrap {
	display:block;
	overflow:visible;
	height:180px;
	position:relative;
	width:100%;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/headerBgSlice.gif) 0 0 repeat-x;
	min-width:1010px;
	z-index:9997;
}
.headerWrapFixed {
	position:fixed;
	top:-139px;
	left:0px;
}
.header {
	display:block;
	overflow:visible;
	height:180px;
	width:1010px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
/* Under Logo */
.underLogo {
	display:block;
	overflow:hidden;
	float:left;
	padding:0 8px 0 8px;
	margin:10px 5px 0 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#fff;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.uLfacebook {
	background:#3b5998;
}
.uLRadio{
	background:#79011c;
}
.uLTv{
	background:#092d52;
}
.uLLinks{
	background:#262626;
}
.underLogo a {
	color:#fff;
}

.topNetwork {
	display:block;
	overflow:hidden;
	height:30px;
	width:1010px;
	background:#000;
}
.topNetwork p {
	margin-top:0px;
	margin-bottom:8px;
	display:block;
	overflow:hidden;
}
.topNetwork span, .topNetwork a {
	display:block;
	overflow:hidden;
	position:relative;
	float:left;
	xborder-right:1px dotted #333;
	xborder-left:1px dotted #333;
	padding:4px 9px 0 10px;
	color:#fff;
	height:30px;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: 500;
}
.topNetwork span {
	color:#ccc;
	padding-left:10px;
}
.topNetwork a:hover {
	background:#fff;
	color:#000;
	text-decoration:none;
}
.topNetwork > a:first-child {
	background:#fff;
	color:#000;
	text-decoration:none;
	border:0;
}
.advWithUs {
	float:right;
	margin-bottom:0px;
	background:#31387b;
	width:300px;
	text-align:right;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: 500;
}
.advWithUs a {
	border:none;
	float:right;
}
.logoAdsWrap {
	display:block;
	height:109px;
	width:1010px;
	overflow:hidden;
	position:relative;
}
.logoWrap {
	display:block;
	overflow:hidden;
	position:relative;
	float:left;
	width:255px;
	margin-right:15px;
	margin-left:11px;
	height:81px;
	margin-top:9px;
	padding-top:5px;
	padding-bottom:5px;
}
.lAdWrap {
	display:inline;
	overflow:hidden;
	width:729px;
	height:91px;
	margin-top:9px;
	position:relative;
	float:right;
}

.headerSocial span {
	display:block;
	float:left;
}
.headerSocial {
	display:block;
	overflow:hidden;
	height:25px;
	margin-top:5px;
}
.headerSocial div {
	float:left;
	margin-top:0px;
	margin-left:0Px;
	margin-right:0px;
	display:inline-block;
}
.fb-like {
	margin-top:-3px;
}
.mainMenu {
	display:block;
	overflow:visible;
	height:41px;
	Xfont-size: 18px;
	float:left;
	position:relative;
	width:800px;
	z-index:9999;
	margin-left:10px;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: 500;
}
.mainMenu > li {
	display:block;
	overflow:visible;
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:3px;
	float:left;
	position:relative;
}
.mainMenu > li > a {
	height:30px;
	line-height:30px;
	display:block;
	color:#FFF;
	padding-left:12px;
	padding-right:12px;
}
.mainMenu > li:hover {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff;
}
.mainMenu > li.hasSubMenu:hover {
	height:36px;
	margin-bottom:0px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	margin-bottom:0px;
}
.mainMenu > li.hasSubMenu > a {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/mainMenuArrowBg.png) right 13px no-repeat;
	margin-right:7px;
}
.mainMenu > li:hover > a {
	color:#364C8A;
	text-decoration:none;
}
.mainMenu > li.hasSubMenu:hover > a {
	color:#34386a;
	text-decoration:none;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/mainMenuArrowBg.png) right -31px no-repeat;
}
.currentPage {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/mainMenuCurrentBg.png) repeat-x;
}
.mainMenu > li > ul {
	display:none;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:36px;
	width:220px;
	background:#fff;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	-moz-box-shadow:0px 4px 6px #222;
	-webkit-box-shadow:0px 4px 6px #222;
	box-shadow:0px 3px 5px #777;
}
.mainMenu > li > ul >li {
	display:block;
	padding-left:10px;
	overflow:hidden;
	height:30px;
	border-top:1px solid #efefef;
	padding-right:10px;
}
.mainMenu > li > ul >li >a {
	display:block;
	line-height:30px;
	color:#34386a;
}
.mainMenu > li > ul >li > a:hover {
	text-decoration:none;
}
.mainMenu > li > ul > li:hover {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/subMenuBgSlice.png) 0 0 repeat-x;
}
.mainMenu > li > ul > li:last-child:hover {
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}
.loginWrap {
	display:block;
	overflow:visible;
	height:36px;
	float:right;
	position:relative;
	margin-top:10px;
	margin-right:10px;
	z-index:9998;
}
.loginBtn a {
	display:block;
	overflow:visible;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#fff;
}
/* Original Drop Down

.loginBtn {
	display:block;
	overflow:visible;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: 700;
}
.loginBtn > span {
	padding-left:7px;
	padding-right:7px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/mainMenuArrowBg.png) 52px 13px no-repeat;
	height:30px;
	padding-bottom:6px;
	font-weight:bold;
	color:#fff;
	overflow:visible;
	position:relative;
	cursor:pointer;
	line-height:30px;
	display:block;
}
.loginBtn:hover > span {
	text-decoration:none;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/mainMenuArrowBg.png) 52px -31px no-repeat;
	height:30px;
	color:#34386a;
	line-height:30px;
}
.loginFormWrap {
	display:none;
	position:absolute;
	right:0px;
	top:36px;
	background:#fff;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	width:970px;
	min-height:30px;
	padding:10px;
	-moz-box-shadow:0px 4px 6px #222;
	-webkit-box-shadow:0px 4px 6px #222;
	box-shadow:0px 3px 5px #777;
}*/

/* header ends */
/* general elements start */
.pageWrap {
	background:#fff;
	width:1010px;
	margin-top:15px;
	display:block;
	overflow:visible;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
}
.pageContent {
	width:984px;
	display:block;
	overflow:hidden;
	margin:13px 13px 10px 13px;
	background:#ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
}
.sidebarWrap {
	display:block;
	overflow:hidden;
	position:relative;
	float:right;
	width:362px;
}
.sidebarShortInfo {
	display:block;
	overflow:hidden;
	background:#fff;
	margin:10px 10px 10px 0;
}
.sidebarBlueTitle {
	color:#fff;
	font-weight:bold;
	background:#bf0404;
	display:block;
	overflow:hidden;
	text-align:center;
	padding-top:4px;
	text-transform:uppercase;
	font-size:12px;
	padding-bottom:3px;
}
.sidebarBlueTitle:hover {
	color:#ddd;
}
.bookmarkSidebar {
	margin-top:10px;
	color:#255bbf;
	margin-left:10px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bookmarkSidebar a {
	color:#255bbf;
	font-weight:bold;
	float:left;
}
.bookmarkSidebar .userCount {
	float:right;
	padding-right: 10px;
	color:#30377a;
	font-weight:bold;
}
.sidebarContentWrap {
	display:block;
	overflow:hidden;
	min-height:50px;
}
.contentSmallTitle {
	border-bottom:1px solid #e2e2e2;
	color:#111;
	font-weight:bold;
}
/* general elements end */
/* contact page starts */
.contactWrap {
	display:block;
	overflow:hidden;
	width:602px;
	padding:10px;
	float:left;
	position:relative;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.contactDetails {
	display:block;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	padding:10px;
}
.contactDetails h2, .contactDetails h4 {
	font-weight:normal;
}
.contactColumn {
	display:block;
	overflow:hidden;
	position:relative;
	float:left;
	width:170px;
	margin:0 11px 10px 0;
	background:#fff;
}
.lastContactColumn {
	background:none;
}
.columnTitle {
	color:#fff;
	background:#3e4483;
	display:block;
	overflow:hidden;
	text-align:left;
	padding-top:3px;
	text-transform:capitalize;
	margin-top:0px;
	text-decoration:none;
	padding-left:10px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:13px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.randomNewsWrap {
	display:block;
	overflow:hidden;
	margin-bottom:10px;
}
.randomNewsWrap .thumb {
	margin-left:11px;
	border:4px solid #d4d4d4;
	width:140px;
	margin-bottom:4px;
}
.randomNewsDetails {
	background:#efefef;
	padding-left:10px;
	padding-right:10px;
	width:128px;
	margin-left:11px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding-top:2px;
	padding-bottom:5px;
	margin-bottom:0px;

}
.contactSidebarAd {
	display:block;
	width:170px;
	Xheight:100px;
	margin-bottom:6px;
}
.departmentEmail {
	color:#666;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/orangeDot.jpg) 0 center no-repeat;
	padding-left:10px;
	font-weight:bold;
	line-height:15px;
}
/* contact page ends */
/* home page start */
.homeWrap {
	display:block;
	overflow:hidden;
	width:602px;
	padding:10px;
	float:left;
	position:relative;
}
.homeContent {
	display:block;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	padding:10px;
}
.homeTitle {
	display:block;
	overflow:hidden;
	width:582px;
	margin-top:10px;
	margin-bottom:10px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.homeTitle h3 {
	display:inline-block;
	float:left;
	margin-top:5px;
	-line-height:27px;
}
.homeTitle a {
	display:inline-block;
	float:right;
	margin-top:5px;
}
.homeSearch {
	display:block;
	overflow:hidden;
	float:right;
	position:relative;
	width:152px;
	height:30px;
}
.searchBtnSubmit {
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(//manithan.anfiles.com/assets/desktop_theme01/images/searchBtnBg.png) no-repeat left top;
	height: 30px;
	width: 30px;
	cursor: pointer;
}
#s {
	background: url(//manithan.anfiles.com/assets/desktop_theme01/images/searchFieldBg.png) no-repeat left top;
	color: #767676;
	margin-left: 4px;
	padding-left:10px;
	width: 112px;
	font-size: 12px;
	padding-bottom: 5px;
	padding-top:5px;
	height:20px;
	margin-top:0px;
	font-size:11px;
}
.newsArchive {
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #ddd;
}
.homeRss {
	padding-right:20px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/rss.png) right center no-repeat;
	margin-right:10px;
}
.orderWrap {
	display:block;
	overflow:hidden;
	background:#f2f2f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
	padding:10px;
	margin-bottom:15px;
}
.filterLink {
	display:block;
	overflow:hidden;
	float:left;
	margin-right:5px;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	color:#666;
}
.filterLink:hover {
	text-decoration:none;
	color:#fff;
	background:#999;
}
.filterActive {
	border-color:#ecaa3d;
	background:#efbb1e url(//manithan.anfiles.com/assets/desktop_theme01/images/filterBtnBg.png) 0 0 repeat-x;
	color:#fff;
}
.filterActive:hover {
	border-color:#e18c47;
	background:#efbb1e url(//manithan.anfiles.com/assets/desktop_theme01/images/filterBtnBg.png) 0 0 repeat-x;
}
.orderBtn {
	display:block;
	overflow:hidden;
	float:right;
	margin-top:2px;
}
#orderFull {
	background-position: 0 0;
}
#orderList {
	background-position: -28px 0;
}
.postWrapSmall {
	padding-bottom:10px;
	margin-bottom:15px;
	border-bottom:1px solid #f2f2f2;
	display:block;
	overflow:hidden;
}
.postWrapSmall img{
	width: 100px;
	height: 70px;
}
.postWrap {
	padding-bottom:10px;
	margin-bottom:15px;
	border-bottom:1px solid #f2f2f2;
	display:block;
	overflow:hidden;
}
.postImage {
	display:block;
	overflow:hidden;
	float:left;
	margin-right:12px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.postWrap img{
	width: 245px;
	height: 150px;
}
.postInfo {
	display:block;
	overflow:hidden;
	float:left;
}
.postLargeInfo {
	width:317px;
}
.postSmallInfo {
	width:452px;
}
.postTitle {
	font-weight:none;
	font-size:14px;
	margin-bottom:5px;
	text-decoration:none;
	line-height:25px;
}
.postTitleSmall {
	font-weight:none;
	font-size:14px;
	margin-bottom:5px;
	text-decoration:none;
	line-height:25px;
	color: #000;
}
/* Photo Video */

.mediaAttach {
	display:block;
	overflow:hidden;
	float:left;
	margin-right:5px;
	padding:0 8px 0 8px;
	margin-bottom: 4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#fff;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.mPhoto {
	background:#68bf22;
}
.mVideo {
	background:#117fef;
}
.mBreaking {
	background:#cd0000;
}
.mAudio {
	background:#ff6418;
}
.attachLinks {
	display:block;
	height:24px;
	margin-bottom:5px;
	overflow:hidden;
}
.attachLinks a {
	height:24px;
	width:24px;
	margin-right:15px;
	float:left;
}
.imagesLink {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/imagesLinkBg.png) 0 0 no-repeat;
}
.audioLink {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/audioLinkBg.png) 0 0 no-repeat;
}
.videoLink {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/videoLinkBg.png) 0 0 no-repeat;
}
.postDetails {
	margin-bottom:0px;
	color:#666;
	font-size:11px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.postDetails span {
	font-weight:bold;
	margin-right:10px;
	display:inline;
	color:#555;
	float:right;
}
.postDetails span a {
	font-weight:bold;
	color: #000;
}
.postDetails span.postTypeS {
	float:left;
}
.postDetails span.postTime {
	float:left;
	font-weight:normal;
}
.pageNumbers {
	display:block;
	overflow:hidden;
	background:#f2f2f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
	padding:10px;
	margin-bottom:15px;
}
.pageNumber {
	display:block;
	overflow:hidden;
	float:left;
	padding: 2px 4px 2px 4px;
	background:#fff;
	border:1px solid #e4e4e4;
	margin-right:6px;
	line-height:18px;
	color:#364C8A;
	font-size:12px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.pageNumber:hover {
	border-color:#ecaa3d;
	background:#efbb1e url(//manithan.anfiles.com/assets/desktop_theme01/images/filterBtnBg.png) 0 0 repeat-x;
	color:#fff;
}
.currentPageNumber {
	border-color:#ecaa3d;
	background:#efbb1e url(//manithan.anfiles.com/assets/desktop_theme01/images/filterBtnBg.png) 0 0 repeat-x;
	color:#fff;
}
.currentPageNumber:hover {
	border-color:#ecaa3d;
}
.nextPage {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/pageNumberArrowBg.png) right center no-repeat;
	padding-right:15px;
	padding-left:10px;
}
.prevPage {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/pageNumberArrowBgLeft.png) left center no-repeat;
	padding-left:15px;
	padding-right:10px;
}
.homeNewStuff {
	display:block;
	overflow:hidden;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	margin-top:15px;
}
.newStuffItem {
	display:block;
	width:100px;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:11px;
	margin-right:9px;
	font-size:13px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.newStuffItem a {
	text-align:center;
	font-weight:bold;
}
.newStuffItem a img {
	margin-left:6px;
	margin-bottom:5px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.newStuffItem p {
	margin-bottom:0px;
	color:#666;
	text-align:center;
}
.time {
	display:block;
	overflow:hidden;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	margin-top:15px;
}
.timeZone {
	width:110px;
	padding-left:20px;
	padding-right:20px;
	border-right:2px solid #ddd;
	float:left;
	margin-bottom:0px;
	text-align:center;
	color:#555;
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.lastZone {
	border-right:none;
	padding-right:0;
}
.timeZone span {
	font-weight:bold;
	font-size:20px;
	color:#000;
	text-align:center;
}
.sidetimeZone {
	width:65px;
	padding-left:10px;
	padding-right:10px;
	border-right:2px solid #ddd;
	float:left;
	margin-bottom:0px;
	text-align:center;
	color:#555;
	padding-top:0px;
	padding-bottom:4px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.sidelastZone {
	border-right:none;
	padding-right:0;
}
.sidetimeZone span {
	font-weight:bold;
	font-size:12px;
	color:#000;
	text-align:center;
}
.tabsWidgetWrap {
	display:block;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	margin-top:15px;
	position:relative;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.tabsWidgetWrap >h5 {
	color:#111;
	margin-bottom:5px;
	margin-left:10px;
}
.tabsWidget {
	display:block;
	overflow:hidden;
	width:682px;
	position:relative;
}
.tabsMenu {
	display:block;
	overflow:hidden;
	width:140px;
	background:#30377a;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
.tabsMenu li {
	display:block;
	overflow:hidden;
	width:140px;
}
.tabsMenu li a {
	padding-left:10px;
	line-height:30px;
	margin:0px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tabsMenu li a.current {
	background:#464b81 url(//manithan.anfiles.com/assets/desktop_theme01/images/homeTabMenuArrowBg.png) right center no-repeat;
}
.homeTabs {
	display:block;
	overflow:hidden;
	width:462px;
	margin-left:140px;
	position:relative;
}
.homeTab {
	display:block;
	overflow:hidden;
	float:left;
	width:462px;
}
.homeTab > h5 {
	line-height:30px;
	margin-top:0px;
	background:#efeded;
	padding-left:10px;
	margin-bottom:15px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.homePanelItem {
	display:block;
	padding-right:10px;
	padding-left:10px;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:1px solid #efefef;
	margin-top:10px;
	margin-bottom:10px;
}
.homePanelItem:hover {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
}
.homePanelItemImage {
	float:left;
	width:100px;
	margin-right:10px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.homePanelItemImage img {
	width:100px;
}
.homePanelItemInfo {
	display:block;
	overflow:hidden;
	float:left;
	width:304px;
}
.homePanelItemInfo p {
	line-height:18px;
	margin-bottom:5px;
}
.homePanelItemTitle {
	margin-bottom:5px;
}
.homePanelItemTitle span {
	padding-right:14px;
	color:#666;
	text-align:right;
	display:inline-block;
	font-weight:normal;
	margin-left:10px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/numberOfNewsCommentsBg.png) right center no-repeat;
}
.groupLink {
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	margin-top:5px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.groupLinks {
	margin-left:20px;
	color:#202020;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.addWebLink {
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
	color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#f2f2f2;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:11px;
	font-size:12px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.placeAd {
	background:#fff;
	text-align:center;
	font-size:12px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.homePanel {
	display:block;
	overflow:hidden;
	width:351px;
	margin:0 11px 10px 0;
	float:left;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}
.homeSPanelItem {
	display:block;
	padding-right:10px;
	padding-left:10px;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:1px solid #efefef;
	margin-top:10px;
	margin-bottom:10px;
}
.homeSPanelItem:hover {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
}
.homeSPanelItemImage {
	float:left;
	width:80px;
	margin-right:10px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.homeSPanelItemImage img {
	float:left;
	width:80px;
}
.homeSVideoItem {
	display:block;
	padding:0 10px 4px 10px;
	overflow:hidden;
	border-bottom:1px solid #efefef;
	margin-top:10px;
	margin-bottom:10px;
}
.homeSVideoItem:hover {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
}
.homeSVideoItemImage {
	float:left;
	width:80px;
	margin-right:10px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.homeSVideoItemTitle {
	margin-bottom:5px;
	position:relative;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.homeSVideoItemTitle:hover {
	text-decoration:none;
	color:#666;
}
.homeSPanelItemInfo {
	display:block;
	overflow:hidden;
	float:left;
	width:233px;
}
.homeSPanelItemInfo p {
	line-height:18px;
	margin-bottom:5px;
}
.homeSPanelItemTitle {
	margin-bottom:5px;
	position:relative;
}
.homeSPanelItemTitle span {
	padding-right:14px;
	color:#666;
	text-align:right;
	display:inline-block;
	font-weight:normal;
	margin-left:10px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/numberOfNewsCommentsBg.png) right center no-repeat;
	float:right;
	margin-left:10px;
}
.homeSPanelItemTitle:hover span {
	text-decoration:none;
	color:#666;
}
.sidebarAds {
	display:block;
	overflow:hidden;
	width:351px;
	margin:0 11px 10px 0;
	padding-top:8px;
	text-align: center;
	float:left;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}
.homeSocial {
	display:block;
	overflow:hidden;
	width:351px;
	margin:0 11px 10px 0;
	float:left;
	position:relative;
}
.homeSocial a {
	float:left;
	display:block;
	width:145px;
	height:41px;
	margin-left:20px;
	display:block;
	overflow:hidden;
}
.twitterBtn {
	margin-left:21px;
}
.tableWrap {
	margin-left:10px;
	margin-right:10px;
	padding:5px;
	background:#999;
	margin-top:10px;
	margin-bottom:2px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tableWrap td {
	text-align:left;
	padding-left:5px;
	color:#666;
	border-right:none;
	height:24px;
}
.tableWrap tr {
	border-top:1px solid #bbbbbb;
	border-right:none;
	height:24px;
}
.tableWrap table {
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	border-top:none;
	border-wight:none;
	margin-bottom:0px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
td.tableNumber {
	width:26px;
	background:#aaa;
	text-align:center;
	padding-left:0px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.tableWrap th {
	width:100px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.tableWrap h5 {
	color:#fff;
	margin-top:0px;
	margin-bottom:5px;
	border-right:0px;
	font-size: 11px;
}
.sliderWidget {
	margin-bottom: 10px;
}
.sliderWrap {
	display:block;
	overflow:hidden;
	margin-top:15px;
	position:relative;
}
.slidesWrap {
	display:block;
	overflow:hidden;
	width:224px;
	height:126px;
	padding:10px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/sliderBg.jpg) left bottom repeat-x;
	margin-left:52px;
	position:relative;
}
.slideWrap {
	display:block;
	overflow:hidden;
	width:224px;
	height:126px;
	top:0px;
	left:0px;
	position:absolute;
	top:0px;
	left:0px;
	margin-left:10px;
	margin-top:10px;
}
.slideWrap img {
	position:absolute;
}
.slideWrap .slideInfo {
	position:absolute;
	bottom:0px;
	left:0px;
	background:#b61606;
	z-index:10;
	color:#fff;
	width:100%;
}
.slideInfo span {
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/slideInfoArrow.png) 5px center no-repeat;
	display:inline-block;
	padding-left:26px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#prevSlide {
	width:11px;
	height:22px;
	position:absolute;
	top:60px;
	left:30px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/prevSlideBg.png) 0 0 no-repeat;
}
#nextSlide {
	width:11px;
	height:22px;
	position:absolute;
	top:60px;
	right:31px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/nextSlideBg.png) 0 0 no-repeat;
}
.moreSlidesList {
	color:#666;
	text-transform:uppercase;
	background:#efeded;
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	padding-bottom:5px;
	padding-top:5px;
	margin-top:25px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#openList {
	margin-top:5px;
	display:block;
	overflow:hidden;
	float:right;
	margin-left:10px;
	height:16px;
	width:16px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/openListBg.png) 0 0 no-repeat;
}
#closeList {
	margin-top:5px;
	display:block;
	overflow:hidden;
	float:right;
	margin-left:10px;
	height:16px;
	width:16px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/closeListBg.png) 0 0 no-repeat;
}
.moreSlides {
	display:block;
	overflow:hidden;
	margin-bottom:10px;
}
.moreSlides a {
	padding-left:30px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/moreSlidesBg.png) left center no-repeat;
	margin-left:20px;
	color:#00519d;
	margin-bottom:5px;
}
/* home page ends */
/* news page starts */
.newsWrap {
	display:block;
	overflow:hidden;
	width:602px;
	padding:10px;
	float:left;
	position:relative;
}
.newsContent {
	display:block;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	padding:10px;
}
body .newsContent a {
	display: inline;
}
.newsTopAdsWrap {
	display:block;
	overflow:hidden;
	width:984px;
	margin-top:15px;
	position:relative;
	margin-bottom:15px;
	margin-left:15px;
}
.newsTopAds {
	display:block;
	overflow:hidden;
	width:993px;
}
.newsTopAdsWrap span {
	display:block;
	float:left;
	position:relative;
	widthX:239px;
	overflow:hidden;
	padding-right: 5px;
	margin-right:9px;
}

.newsTopAdsFullWrap {
	display:block;
	overflow:hidden;
	width:984px;
	margin-top:15px;
	position:relative;
	margin-bottom:15px;
	margin-left:15px;
}
.newsTopAdsFullWrap span {
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
	margin-right:9px;
}
.breadCrumb {
	display:block;
	overflow:hidden;
	position:relative;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.breadCrumb .fb-like {
	margin-top:0px;
}
.breadCrumb p {
	margin-top:0px;
	display:inline-block;
	float:left;
}
.breadCrumb div {
	display:block;
	overflow:hidden;
	float:right;
}
.newsLargeTitle {
	margin-bottom:5px;
	line-height:1.2em;
}
.newsDateInfo {
	color:#555;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.newsType {
	color:#666;
	font-weight:bold;
	padding-right:5px;
	margin-right:5px;
}
.newsCategory {
	color:#555;
	font-weight:bold;
	margin-left:15px;
	margin-right:5px;
}
.newsLargeImage {
	display:block;
	overflow:hidden;
	margin-bottom:15px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:10px solid #f4f4f4;
	background:#f4f4f4;
	position:relative;
}
.newsLargeImage img {
	border:1px solid #999;
	float:left;
}
.newsLargeImage p {
	color:#666666;
	float:left;
	width:560px;
	margin: 5px 0 0 0;
}
.newsLargeImage span {
	display:block;
	float:left;
	margin-right:5px;
	font-weight:bold;
	color:#666666;
}
.newsFull img,
.newsFull iframe,
.newsFull embed,
.newsFull object {
	display: block;
    margin-left: auto;
    margin-right: auto;
	overflow:hidden;
	margin-bottom:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:6px solid #dddddd;
	position:relative;
	width: 540px;
}
.newsContent li {
	Xbackground:url(//manithan.anfiles.com/assets/desktop_theme01/images/dot.gif) 0 6px  no-repeat;
	padding-left:6px;
	margin:10px 0 10px 6px;
	border-left:4px solid #32344d;
}
.newsUtilities {
	display:block;
	/*overflow:hidden;*/
	background:#f2f2f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
	padding-top:13px;
	padding-bottom:13px;
	line-height:14px;
	padding-left:8px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	clear: both;
}
.newsUtilities a {
	color:#666;
}
.newsUtils {
	float:right;
	margin-right:8px;
	padding-right:8px;
	border-right:1px solid #666;
}
.print {
	margin-right:0px;
	border-right:none;
}
.shareNewsWrap {
	display:block;
	overflow:hidden;
	background:#f2f2f2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
	padding-top:13px;
	padding-bottom:10px;
	padding-left:8px;
}
.shareNewsWrap div {
	display:block;
	position:relative;
	float:left;
	overflow:hidden;
}
.shareNewsWrap .fb-like {
	margin-top:0px;
}
.shareNewsWrap > iframe {
	margin-right:10px;
	position:relative;
	float:left;
}
.newsPostAd {
	text-align: center;
}
.newsAuthorWrap {
	display:block;
	overflow:hidden;
	margin:10px 0 10px 0;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
}
.newsAuthor {
	display:block;
	overflow:hidden;
	float:left;
	width:350px;
	font-size: 13px;
}
.newsAuthor > a {
	float:left;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:14px;
}
.newsAuthor a {
	font-size:18px;
	font-weight:400%;
}
.newsAuthor p {
	float:left;
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:16px;
	width:250px;
	color:#666;
	line-height:20px;
}
.newsAuthor p span {
	color:#555;
	font-weight:bold;
}
.newsViews {
	display:block;
	overflow:hidden;
	float:right;
	font-size:14px;
	margin-top:24px;
	font-family: 'Ubuntu', 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.pageTitle {
	margin-bottom:5px;
	font-size: 18px;
	line-height:30px;
	border-bottom:2px solid #000;
	border-top:1px dotted #ddd;
	padding: 8px 0 8px 0;
}
.galleryWidget {
	display:block;
	overflow:hidden;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	margin:0 11px 10px 0;
	width:351px;
}
.seeMoreWidgetLink {
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.widgetTitleWrap {
	display:block;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
}
.blueWidgetTitle {
	background:#30377a;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.greenWidgetTitle {
	background:#34841b;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.blackWidgetTitle {
	background:#2e2e2e;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.fbWidgetTitle {
	background:#3b5998;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.redWidgetTitle {
	background:#bf0404;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.widgetTitleWrap h5 {
	margin-bottom:0px;
	color:#fff;
	display:inline-block;
	float:left;
	margin-top:0px;
	font-size:12px;
	font-weight:bold;
	padding-top:3px;
}
.widgetTitleWrap a {
	float:right;
	display:inline-block;
	text-align:right;
	padding-right:10px;
	color:#fff;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/allFeaturesBg.png) right center no-repeat;
	margin-top:3px;
}
.sidebarGalleryItem {
	width:158px;
	display:block;
	overflow:hidden;
	float:left;
	margin:6px 8px 1px 9px;
}
.sidebarGalleryItem a {
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
a.sidebarGalleryItemTitle {
	font-weight:bold;
	text-align:center;
	font-size:14px;
	margin-top:4px;
	padding:0px;
	border:none;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-height:44px;
	border-bottom:1px dotted #e4e4e4;
}
.newsPanels {
	display:block;
	overflow:hidden;
	margin-top:15px;
	width:602px;
}
.newsPanelWrap {
	margin-right:14px;
	display:block;
	overflow:hidden;
	float:left;
}
.newsPanel {
	display:block;
	overflow:hidden;
	width:294px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	margin-bottom:15px;
}
.newsPanel:last-child {
	margin-bottom:0px;
}
.newsLastPanel {
	margin-right:0px;
}
.newsPanelItem {
	display:block;
	padding-right:10px;
	padding-left:10px;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:1px solid #efefef;
	margin-top:10px;
	margin-bottom:10px;
}
.newsPanelItem:hover {
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
}
.newsPanelItemImage {
	float:left;
	width:80px;
	margin-right:10px;
	padding:3px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.newsPanelItemImage img {
	width:80px;
}
.newsPanelItemInfo {
	display:block;
	overflow:hidden;
	float:left;
	width:176px;
}
.newsPanelItemInfo p {
	line-height:18px;
	margin-bottom:5px;
}
.newsPanelItemTitle {
	margin-bottom:5px;
	font-weight:none;
	position:relative;
}
.newsPanelItemTitle span {
	padding-right:14px;
	color:#666;
	text-align:right;
	display:inline-block;
	font-weight:normal;
	margin-left:10px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/numberOfNewsCommentsBg.png) right center no-repeat;
	float:right;
	margin-left:10px;
}
.newsPanelItemTitle:hover span {
	text-decoration:none;
	color:#666;
}
/* news page ends */
/* page share starts */
#share_buttons_single_page img {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
#share_buttons_wrapper {
	left:-124px;
	position: absolute;
	margin-left: 35px;
	width: 280px;
	margin-top:-5px;
	height:100%;
}
#share_buttons_single_page {
	background: white;
	border: 1px solid white;
	border-right: none;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	box-shadow: -2px 0 10px #666;
	-moz-box-shadow: -2px 0 10px #666;
	-webkit-box-shadow: -2px 0 10px #666;
	margin: 0 0 10px 10px;
	padding: 10px 8px 5px 10px;
	position: absolute;
	text-align: left;
	width:61px;
}
#share_buttons_single_page.fixed {
	position: fixed;
	top:61px;
}
#share_buttons_single_page .wdt_button {
	float:left;
	clear:left;
	margin-bottom: 10px;
}
/* page share ends */
/* side ad starts */
.sideAdLargeRight {
	position:absolute;
	right:-172px;
	width:160px;
	display:block;
	overflow:hidden;
	margin-top:-5px;
	height:100%;
}
#sideAdLargeRight.fixed {
	position: fixed;
	top:61px;
}
.sideAdLargeLeft {
	position:absolute;
	left:-172px;
	width:160px;
	display:block;
	overflow:hidden;
	margin-top:-5px;
}
#sideAdLargeLeft.fixed {
	position: fixed;
	top:61px;
}
/* side ad ends */
/* user profile page starts */
.userProfileWrap {
	display:block;
	background:#ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow:hidden;
}
.userProfileTitle {
	display:block;
	background:#181527;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
	padding-top:5px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.userProfileTitle h3, .userProfileTitle p {
	color:#fff;
	display:inline-block;
	float:left;
}
.userProfileTitle p {
	color:#555;
	margin-top:13px;
	margin-left:10px;
}
.userProfileTitle span {
	color:#fff;
}
.sendMessage {
	background:#fff;
	float:right;
	padding-left:8px;
	padding-right:8px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin-top:11px;
	font-size: 11px;
}
.sendMessage:hover {
	text-decoration:none;
	color:#fff;
	background:#999;
}
.userDetailsWrap {
	display:block;
	overflow:hidden;
	padding:15px;
}
.userSidebarWrap {
	display:block;
	overflow:hidden;
	float:left;
	width:300px;
	margin-right:19px;
}
.userInfoTitle {
	color:#fff;
	font-weight:bold;
	background:#3e4483;
	display:block;
	overflow:hidden;
	text-align:left;
	padding-top:4px;
	text-transform:capitalize;
	padding-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:12px;
	padding-top:3px;
}
.userTab {
	display:block;
	overflow:hidden;
}
.userTabsMenu {
	display:blcok;
	overflow:hidden;
}
.userTabsMenu li {
	display:block;
	overflow:hidden;
	float:left;
	margin-right:6px;
}
.userTabsMenu li a {
	color:#fff;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background: #454545 url(//manithan.anfiles.com/assets/desktop_theme01/images/fullPageMenuBg.png) 0 0 repeat-x;
	padding-bottom: 3px;
}
.userTabsMenu li a.current {
	display:inline-block;
	float:left;
	background:#fff;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	font-weight:bold;
	padding-bottom:3px;
	color: #000;
}
.userTabsMenu li a:hover {
	text-decoration:none;
	background:#fff;
	color:#000;
}
.userPhotoWrap {
	display:block;
	overflow:hidden;
	padding:14px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	margin-bottom:15px;
}
.sendMessage2 {
	margin-top:20px;
	margin-bottom:0px;
	padding-top:4px;
}
.userPageAd {
	display:block;
	overflow:hidden;
	width:300px;
}
.userPersonalInfoWrap {
	display:block;
	float:right;
	width:635px;
	overflow:hidden;
}
.userPersonalInfo {
	display:block;
	overflow:hidden;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 4px 4px 4px;
	-webkit-border-radius:0px 4px 4px 4px;
	border-radius:0px 4px 4px 4px;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
	width:615px;
}
.userStats span {
	font-weight:bold;
	display:inline-block;
	width:140px;
	color:#666;
}
.userStats {
	margin-bottom:10px;
}
#comments {
	background:#fff;
	margin-top: 10px;
}
/* user profile page ends */
/* full page starts */
.fullPageWrap {
	display:block;
	overflow:hidden;
	background:#dddddd;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.fullMenuWrap {
	background:#000;
	display:block;
	overflow:hidden;
	height:130px;
	position:relative;
}
.fullPageShortInfo {
	display:block;
	overflow:hidden;
	float:left;
	position:relative;
	margin-top:25px;
	margin-left:15px;
}
.releaseDate {
	display:inline-block;
	float:right;
	color:#eaeaea;
	font-weight:bold;
	margin-top:50px;
	margin-right:15px;
}
.releaseDate span {
	font-weight:normal;
}
.fullTopTitle {
	margin-bottom:5px;
	color:#fff;
	font-size:25px;
}
.fullTopLink {
	color:#eaeaea;
	font-weight:bold;
	margin-bottom:0px;
}
.fullTopLink a {
	color:#febd45;
	font-weight:normal;
}
.fullMenu {
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0px;
	left:15px;
}
.fullMenu li {
	display:block;
	float:left;
	position:relative;
	margin-right:2px;
}
.fullMenu li a {
	color:#fff;
	font-weight:bold;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	background:#454545 url(//manithan.anfiles.com/assets/desktop_theme01/images/fullPageMenuBg.png) 0 0 repeat-x;
	padding-bottom:3px;
}
.fullMenu li a:hover {
	background:#fff;
	color:#000;
	text-decoration:none;
}
.fullMenu li a.current {
	background:#fff;
	color:#000;
}
.fullMenu li a:hover {
	text-decoration:none;
}
.fullContentWrap {
	display:block;
	overflow:hidden;
	padding:15px;
	margin-left:15px;
	margin-right:15px;
	background:#fff;
	margin-bottom:15px;
	background:#fff url(//manithan.anfiles.com/assets/desktop_theme01/images/contactDetailsBgSlice.jpg) 0 bottom repeat-x;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}
ul.customList {
	display:block;
	padding-left:15px;
}
.customList li {
	display:block;
	overflow:hidden;
	padding-left:15px;
	background:url(//manithan.anfiles.com/assets/desktop_theme01/images/orangeDot.jpg) 0 center no-repeat;
	margin-bottom:10px;
}
/* full page ends */
/* footer starts */
.footerWrap {
	display:block;
	position:relative;
	overflow:hidden;
	width:984px;
	margin-left:13px;
	margin-top: 10px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.footerTabs {
	display:block;
	overflow:hidden;
	float:left;
}
.seeMoreWebLinks {
	display:block;
	overflow:hidden;
	float:right;
	color:#32344d;
	text-decoration:none;
	font-size:12px;
	text-align:right;
	margin-right:0px;
	font-weight:bold;
}
.seeMoreWebLinks:hover {
	text-decoration:none;
	color:#999;
}
.footerTabs li {
	display:block;
	overflow:hidden;
	float:left;
	margin-right:4px;
}
.footerTabs li a {
	background:#afafaf url(//manithan.anfiles.com/assets/desktop_theme01/images/footerTabBgSlice.png) left bottom repeat-x;
	color:#fff;
	font-weight:bold;
	padding-left:8px;
	padding-right:8px;
	padding-top:5px;
	padding-bottom:3px;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.footerTabs li a:hover {
	text-decoration:none;
	color:#666;
}
.footerTabs li a.current {
	background:#000;
	color:#fff;
}
.footerTabsWrap {
	display:block;
	overflow:hidden;
	background:#000;
	color:#fff;
	padding-bottom:10px;
	-moz-border-radius:0px 4px 4px 4px;
	-webkit-border-radius:0px 4px 4px 4px;
	border-radius:0px 4px 4px 4px;
	float:left;
	width:984px;
}
.footerTab {
	display:block;
	overflow:hidden;
	padding-left:15px;
	padding-right:15px;
}
.footerColumn {
	display:block;
	overflow:hidden;
	float:left;
	width:149px;
	margin-right:12px;
}
.footerColumn h5 {
	color:#ffffff;
	text-transform:uppercase;
	font-size:12px;
}
.footerColumn a {
	color:#eaeaea;
	font-size: 11px;
}
.footerColumnLast {
	margin-right:0px;
}
.footerAd {
	margin:6px 0 6px 0;
	display:block;
	overflow:hidden;
	width:729px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.creditsWrap {
	display:block;
	margin-left:13px;
	margin-top:15px;
	width:984px;
	margin-bottom:15px;
	overflow:hidden;
	background:#5a5e86 url(//manithan.anfiles.com/assets/desktop_theme01/images/footerCreditsBgSlice.png) 0 bottom repeat-x;
	padding-top:10px;
	padding-bottom:10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family: 'Lucida Sans Unicode', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.creditsWrap span {
	float:left;
	display:block;
	font-size:12px;
	color:#fff;
	margin-left:8px;
}
.creditsWrap a {
	display:inline-block;
	color:#fff;
	font-size:12px;
	border-left:1px solid #fff;
	padding-left:10px;
	padding-right:8px;
	line-height:14px;
	margin-top:4px;
}
.creditsWrap a:first-child {
	border-left:none;
}
.alignRight {
	float: right;
	display: inline-block;
}
/* footer ends */
::selection {
	background: #31387b;
	color: #fff;
}

/* Form related styles begin here */

.mask {
	background: #000;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 10000;
	
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.holder {
	background: #FFF;
	xborder: 1px solid #000;
	padding: 20px;
	position: fixed;
	z-index: 10001;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	width: 420px;
}

form#tool {
	margin: 0;
	padding: 0;
}
body form#tool div {
	font-size: 12px;
}
form#tool h3 {
	border-bottom: 2px solid #32344d;
	margin: 0 0 5px 0;
	padding: 0 0 3px 0;
	color: #383e7f;
}
form#tool .error {
	color: #ff0000;
}
body form#tool .message {
	margin: 0 0 5px 0;
}
body form#tool .message.success {
	color: #467c06;
}
body form#tool .message.failure {
	color: #e01101;
}
form#tool input, 
form#tool select, 
form#tool option,
form#tool textarea {
	border: 1px solid #dadada;
	padding: 3px;
	font-size: 14px;
	color: #383e7f;
	font-weight:bold;
	resize: none;
}
form#tool .controls {
	padding-top: 10px;
}
form#tool .controls a {
	background: #394080;
	border: 1px solid #2f303e;
	color: #d3d7ff;
	display: inline-block;
	margin-left: 5px;
	padding: 5px 15px;
	text-decoration: none;
	font-size: 14px;
}
form#tool .controls a:first-child {
	margin-left: 0;
}
form#tool .controls a:hover {
	background: #32344d;
	border: 1px solid #2f303e;
	color: #FFF;
}
/* Form related styles end here */

/* Custom Social Button Start */
#shares{margin:10px 0 10px 0; clear: both;}
.sharrre{margin:10px 10px 10px 0; float:left; font-family: 'Lucida grande', Tahoma, Arial, Helvetica, sans-serif;}
.sharrre .box a:hover{text-decoration:none;}

.sharrre .count {
color:#131313;
display:block;
font-size:14px;
font-weight:bold;
line-height:24px;
height:24px;
position:relative;
text-align:center;
width:70px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
border:1px solid #D1D1D1;
background: #fff;
text-decoration:none;
}

.sharrre .count:before, .sharrre .count:after {
content:'';
display:block;
position:absolute;
left:49%;
width:0;
height:0;
}
.sharrre .count:before {
border:solid 7px transparent;
border-top-color:#D1D1D1;
margin-left:-7px;
bottom: -14px;
}
.sharrre .count:after {
border:solid 6px transparent;
margin-left:-6px;
bottom:-12px;
border-top-color:#fff;
}
.sharrre .share {
color:#FFFFFF;
display:block;
font-size:12px;
font-weight:bold;
height:26px;
line-height:26px;
margin-top:8px;
padding:0;
text-align:center;
text-decoration:none;
width:70px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px; 
}
#twitter .share {color: #fff; background: #2aa9e0;}
#facebook .share {color: #fff; background: #204385;}
#googleplus .share {color: #fff; background: #eb4026;}
#pinterest .share {color: #fff; background: #ca212a;}
#totalcount .share {color: #fff; background: #47494d;}
/* Custom Social Button End */