/* Overall Layout */

.cta-page-wrapper {
  background-color: white;
  min-height: 114px;
}

.middle .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.middle {
  background-color: #e9e9e9;
}

.cb-program-band-wrapper {
  margin-bottom: 18px;
}

.cb-arch-menu-wrapper {
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
}

.social-media-wrapper {
  margin-top: 92px;
  margin-bottom: 108px;
}

@media (max-width: 767px) {
  .middle .container {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .cb-program-band-wrapper {
    margin-bottom: 18px;
  }

  .cb-arch-menu-wrapper {
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .social-media-wrapper {
    margin-top: 36px;
    margin-bottom: 96px;
  }
}

.bottom-page-wrapper {
  background-color: white;
}

.front .lv-globalfooter-widget,
.front .lv-globalfooter-widget .lv-controls {
  margin-top: 0;
  background-color: white;
}

/* CTA now called hi-transactions*/
.cb-hi-transactionsband {
  display: none;
}

.cb-hi-transactions {
  position: relative;
}

/* Arch Menu */
.cb-arch-menu-wrapper h2 {
  margin-top: 0;
}

.cb-arch-menu-wrapper h3 {
  color: #505050;
}

/* Social Media */
.social-media-wrapper {
  text-align: center;
}

.icon-wrapper {
  margin-bottom: 3px;
}

.icon-wrapper a {
  color: #006298;
  font-size: 32px;
  margin: 0px 5px;
}

.icon-wrapper a:hover,
.icon-wrapper a:focus {
  color: #ffde17;
  text-decoration: none;
}

/* Admin Controls */
.cb-admin-controls {
  position: fixed;
  z-index: 10003;
  right: -100px;
}

.cb-admin-controls li{
  width: 135px;
  background: #fff;
  padding: .25em .5em;
  border-radius: 5px 0 0 5px;
  list-style: none;
}

.cb-admin-controls li:hover{
  margin-right: 100px;
}

.front .cb-hi-transactionsband .cb-hi-transactions .edit-link{
  position: absolute;
  bottom: 25px;
  right : 0;
  width: initial;
  margin: 0;
  float: none;
  border: 0!important;
}

.cb-hi-transactions .edit-link:hover{
  text-decoration: underline;
}

.arch-menu-edit {
  font-weight: normal;
  font-size: .75em;
  padding: 0 1em;
  color: black;
}

.arch-menu-edit:hover{
  color: #006298;
}

.menu-item-edit {
  font-size: .75em;
  position: absolute;
  right: 1.25em;
  top: 2em;
  z-index: 100;
  font-weight: normal;
}

@media (max-width: 767px) {
  .menu-item-edit,
  .arch-menu-edit,
  .cb-hi-transactions .edit-link {
    display: none;
  }
}

/* Focus */
.cb-hero-login-wrapper .form-control:focus,
.cb-hero-login-wrapper .lv-signin-button:focus {
  outline: thin dotted;
  outline: 10px auto #fff;
  outline-offset: -2px;
}

.cb-program-brand li {
  position: relative;
}

.lv-identity-widget .lv-signin-button:focus,
.lv-identity-widget .form-control:focus,
.cb-hi-transactions.focus,
.lv-search-widget .btn:focus,
.cb-program-brand a:focus,
.lv-search-widget.lv-search-type-college .input-group input:focus {
  box-shadow:         #ff8000 0 0 0 2px inset;
  -moz-box-shadow:    #ff8000 0 0 0 2px inset;
  -webkit-box-shadow: #ff8000 0 0 0 2px inset;
  outline: none;
}


.cb-arch-view > a:focus {
  outline: 3px solid #ff8000;
  border-right: 4px solid #ff8000;
  border-top: 3px solid #ff8000;
  border-bottom: 3px solid #ff8000;
}

.lv-login-controls a:focus,
.icon-wrapper > a:focus {
  box-shadow:         #ff8000 0 0 0 2px;
  -moz-box-shadow:    #ff8000 0 0 0 2px;
  -webkit-box-shadow: #ff8000 0 0 0 2px;
  outline: none;
}
