div.sys_main_logo { background:none; }



div.sys_ml_wrapper {position: relative;text-align: center;}



.nav li ul.last-menu { z-index:99; top:0; }



div.sys_root { padding:0; }



div.sys_cr_wrapper div.sys_cr { white-space:normal; overflow:hidden; }



div.sys_cr_wrapper div.sys_cr div.bottomLinks, div.sys_cr_wrapper div.sys_cr div.bottomCpr { float:left; }



div.sys_root_bg { background:none; }



div.sys-service-menu div.sys-sm-profile i.sys-icon, div.sys-service-menu div.sys-sm-profile img.sys-smp-thumbnail { border-radius:0 0 0 0; }



.mastero .topright .sys-service-menu .sys-sm-profile span.sys-smp-title { font-weight: 600; /*margin: 0 10px 0 -4px;*/ }



/*mastero Header*/



.mastero .mastero_header { background:#1d1f21; /*background:rgba(133, 133, 133, 0.4) none repeat scroll 0 0;*/ position:fixed; top:0; left:0; right:0; z-index: 999; min-height:90px; }



.mastero_header_inner { position:relative; }



.menu_left_bar { position:absolute; top:23px; left: 50px; text-decoration:none !important; z-index: 9999;   }



.menu_left_bar i { color:#ed1c24; font-size:28px;  }



.mastero_logo {/* padding: 24px 0;*/ padding: 0px 0;text-align: center; }



.container.containerback { padding-top:90px; }







/*default banner*/



.boxContent .bx-splash-txt b { color:#fff !important; }



.splash_block .disignBoxFirst { margin:0 0 30px !important; }







/*search bar*/



div.sys-service-menu div.sys-sm-item { border:1px solid #cccccc; background:#f1f1f1; border-radius:0 0 0 0; }



div.sys-service-menu div.sys-sm-profile i.sys-icon, div.sys-service-menu div.sys-sm-profile img.sys-smp-thumbnail,div.sys-service-menu a.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover span.sys-sm-item, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover img.sys-smp-thumbnail { border-color:#cccccc; }



div.sys-service-menu-wrp { position:static; height:auto; }



div#sys_search input { border:0 none; background:none; box-shadow:0 0 0; height:30px; padding-right:50px; width:190px; border-radius:0 0 0 0; }



div.sys-service-menu-wrp:first-child { margin-left:15px; }



div.sys-service-menu a.sys-sm-item { position:absolute; top:0; right:0; }



.disignBoxFirst .boxFirstHeader .dbTitle, .disignBoxFirst .boxFirstHeader { font-weight:500; }



/*shoutbox*/



.emojiPickerIconWrap { display:block; }



#shoutbox_msg_field { width:100% !important;  }



.siteStatMain { margin:0; }



/*service menu*/



/*div.sys-sm-item-submenu-cnt { padding:20px 25px 20px 15px; }*/



div.sys-sm-item-submenu-cnt { padding:0px; }



.popup_form_wrapper .container{  padding:0; }



div.sys-sm-item-submenu div.sys-service-menu-profile { padding-bottom:0; padding-top:0; }



div.sys-sm-item-submenu div.sys-service-menu div.sys-sm-link { padding:0; margin-top: 5px; }



.dbTopMenuPopup .dbTopMenuPopupCnt { padding:0; }



.dbTopMenuPopup .active, .dbTopMenuPopup .notActive { padding:0 20px 0 10px; margin:0; }



div.thumbnail_image p.thumbnail_image_letter, div.thumbnail_image p.thumbnail_image_letter2 { font-size:30px; height:52px; line-height:52px; width:52px;  border-radius:50%; }



div.paginate_btn { border:0 none; }



div.paginate_btn a, div.paginate_btn span, div.paginate_page a, div.paginate_page span { height:40px; line-height:40px; }



div.paginate div.info_section { height:auto; }



/*wall*/



.wall-outline div.wall-oii-comments { height:32px; line-height:32px; }



div.wall-oii-comments .sys-icon { display:none; }



.shoutbox_wrapper { width:auto !important; }



.social_icon {padding: 5px 0;}



#join_form .input_wrapper_submit .form_input_submit,#login_box_form .input_wrapper_submit .form_input_submit { font-size:17px; }



div.sys-form-login-join ul.sys-flj-navigation li a, div.sys-form-login-join ul.sys-flj-navigation li.ui-tabs-active a { font-size:20px; }



div.sys-form-login-join ul.sys-flj-navigation li a, div.sys-form-login-join ul.sys-flj-navigation li.ui-tabs-active a { padding:0.5em 1em; }



.bx-def-font-inputs-captions { font-size:14px; }



.wall-view div.thumbnail_image p.thumbnail_image_letter, .wall-view div.thumbnail_image p.thumbnail_image_letter2, .wall-view  div.thumbnail_image,.wall-view div.thumbnail_image img.thumbnail_image_file, .wall-view div.thumbnail_image img.thumbnail_image_file2 { width:56px; height:56px; }



.wall-view div.thumbnail_image img.thumbnail_image_file, .wall-view div.thumbnail_image img.thumbnail_image_file2 { border-radius:50%; }



.boxContent .actionsBlock b { color:#fff; }



div.sys_sub_menu { background:none; }



div.sys_ph_submenu_submenu .act a.sublinks, div.sys_ph_submenu_submenu .act a.sublinks:link, div.sys_ph_submenu_submenu .act a.sublinks:visited, div.sys_ph_submenu_submenu .pas:hover a.sublinks, div.sys_ph_submenu_submenu .pas:hover a.sublinks:link, div.sys_ph_submenu_submenu .pas:hover a.sublinks:visited { color:#fff; text-decoration:none; }



div.sys_ph_submenu_submenu div.act, div.sys_ph_submenu_submenu div.pas { border-radius:0 0 0 0; font-size:14px; padding:7px 30px 7px 15px;}



.form_advanced_table .bx-form-block-header .bx-form-caption { background:#f1f1f1; text-align:left; padding:10px 15px 10px }



button.bx-btn.form_input_multiply_add, button.bx-btn.form_input_multiply_remove, button.bx-btn.form_input_multiply_other { background:none!important; border:0 none; padding:0; height:20px;  line-height:normal; box-shadow:0 0 0;}



button.bx-btn.form_input_multiply_add:hover, button.form_input_multiply_remove:hover, button.bx-btn.form_input_multiply_other:hover { background:none; border:0 none; }



.form_advanced_table .bx-form-value .bx-btn.form_input_multiply_other:hover, .form_advanced_table .bx-form-value .bx-btn.form_input_multiply_add:hover, .form_advanced_table .bx-form-value .bx-btn.form_input_multiply_remove {

  background: none!important;

}

div.paginate_page {border:0 none;} 



.boxFirstHeader.bx-def-bh-margin { margin:0; padding:10px 20px 10px; }



.boxContent .bx-twig-unit-thumb-cont { width:auto; }



.bx-twig-unit-thumb-cont img { box-shadow:0 0 0; }



#searchForm .checkboxgroup_custom  { float:left; }



div.sys-profile-cover-menu .sys-pcm-item { font-size:16px; }



/*.sys-account-control .form_advanced_table .bx-form-block-header { margin:0; border-top:1px solid #ccc; }*/



.form_advanced_table .bx-form-element {  }



table tr .forum_table_column_stat { width:auto; }



select.forum_form_field, input.forum_form_field { width:100%; }



/*.forum_post_text { max-width:100%; }*/



/*.sys-account-control .form_advanced_wrapper, #sbs-subscriptions-form .sbs-subscriptions-form_wrapper, .pmt_details_wrapper { border-top:1px solid #ccc; }*/



#pmt-filter-text-history, #pmt-filter-text-processed, #pmt-filter-text-pending { width:200px; }



#pmt-form-processed, #pmt-form-pending { padding:20px; }



.boxContent div#pmt-orders-pending, .boxContent div#pmt-orders-processed, .boxContent div#pmt-orders-history { margin:0; width:100%; }



.table-responsive, div.admin_actions_panel { margin:0; }



#pmt_details .bx-form-block-header { margin:0; border-bottom:1px solid #ccc; }



div.view_message_container div.message_actions_cnt { height:auto; }



div.view_message_container div.message_actions_compose div.messages_options { position:static;}



div.top_settings_block div.per_page_block select { height: 35px; width:auto; }



div.top_settings_block div.per_page_block .input_wrapper_select { height:auto; }



div.thumbnail_image p.thumbnail_image_letter, div.thumbnail_image p.thumbnail_image_letter2, .bx-btn, .bx-btn:active, .cur_pnt, #btnCancel { border:0 none; }



div.paginate_btn a:hover, div.paginate_page a:hover { background:none; }



.dbTopMenu .dbTopMenuPopup { font-weight:normal; font-size:12px; text-transform:uppercase; }



div.shoutbox_wrapper { border:0 none; }



.popup_form_wrapper .container  { box-shadow:0 0 0; }



.bx-def-font-large { font-size:14px; }



body.homepage .sys_main_page_width {



  max-width:none;



}



body .sys_main_page_width {



  max-width:1170px;



}







/*************************Theme****************/



.mm-menu { max-width:260px; }



html.mm-opening .mm-slideout {



    -webkit-transform: translate(260px, 0);



    -moz-transform: translate(260px, 0);



    -ms-transform: translate(260px, 0);



    -o-transform: translate(260px, 0);



    transform: translate(260px, 0); 



}



.mm-menu.mm-theme-dark .mm-listview > li:hover .mm-next::after, .mm-menu.mm-theme-dark .mm-listview > li:hover .mm-arrow::after { border-color:#fff;}



.mm-navbar .mm-title { font-size:14px; }



.mm-menu .nav > li > a { background:none; }



.mm-menu .nav > li > a:hover, .mm-menu .nav > li:hover > a, .mm-menu .nav > li.current-menu-item > a, .mm-menu .nav > li.current_page_parent > a, .mm-menu .nav > li.current-menu-parent > a, .mm-menu .nav > li.active > a, .mm-menu .nav > li.activate > a { background:none; }



div.sys_copyright, div.sys_copyright div.sys_cr_wrapper {



  background: #3b3b3b none repeat scroll 0 0;



}



.bx-def-font .bottom_links_block {



  color: #fff;



  text-transform: uppercase;



}



div.sys_cr div.bottomLinks span {



  font-family: "Hind",sans-serif;



  margin-left: 20px;



}



.sys_copyright div.sys_cr div.bottomCpr {



  color: #fff;



  float: right;



  font-family: "Hind",sans-serif;



  text-align: right;



}



body .sys_root {



  padding-top: 90px;



}



.sys_root .containerback {



  min-height: 400px;



}



body.home .sys_root { padding-top:0px; }



.input_wrapper.input_wrapper_text.clearfix.shoutbox_send_field { height: 38px; }



body.memberin .mainfooter .sys_copyright { margin-bottom: 40px; margin-top: 0px; }



/*.homepage .sys_main_content.sys_main_page_width > .container {



  padding: 0;



  width: auto;



}*/



.form_advanced_table .input_wrapper {



  margin-right: 0;



}



body div.sys_ph_submenu_submenu {



  background-color: #222;



}







.tags_wrapper.bx-def-bc-margin span.one_tag {



  font-size: 14px !important;



  text-transform: capitalize;



}



.fileTitle.bx-def-margin-sec-top.bx-def-font-h1 {



  color: #fff;



}



.homepage .search-section { display:none; }



.sys_breadcrumb .sys_bc  { height: auto; line-height: 52px; }



.topright  div.sys-service-menu { line-height: 52px; }



.searchblock .col-sm-5 { padding: 0; }



.form_advanced_wrapper.invite_friend_wrapper { padding: 20px; }



#sys-bm-switcher-language .boxFirstHeader.bx-def-bh-margin { padding: 0; }



#sys-bm-switcher-language .boxFirstHeader .dbTitle { font-size: 18px; }



#sys-bm-switcher-template .boxFirstHeader.bx-def-bh-margin { padding: 0; }



.upcoming_event_container ul.diamond-grid li a.diamond { background-position: center center; }



#orca_main .dbTmCntLine td:hover { background:none; }



.bx-btn.form_input_multiply_add { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; }



#owl-demo .item{



margin: 14px;



}



#owl-demo .item img{



display: block;



width: 100%;



height: auto;



}







.latestgrp_container .owl-pagination {



  display: none;



}











.service-menu .sys-service-menu .sys-sm-item.sys-smi-profile, .service-menu .sys-service-menu .sys-sm-item.sys-smi-profile:hover {



  background: none;



  border: 1px solid #ed1c24;



  text-transform: capitalize;



}



.sys-sm-item-submenu .popup_form_wrapper .container {



  background:#181818;



  border: 1px solid #181818;



}



.content_outline .wall-load-more button.bx-btn {



  color:#fff;



}



.owl-theme .owl-controls .owl-buttons div { position: absolute; }



.owl-theme .owl-controls .owl-buttons .owl-prev{ left: -50px; top: 43%;  }



.owl-theme .owl-controls .owl-buttons .owl-next{ right: -50px; top: 43%;  }







/*.sys_root .containerback { margin-top: 20px; }



.homepage .sys_root .containerback { margin-top:0px; }*/







/***************************************End*******************/



@media (min-width:1300px) {



	/*.container { max-width:1600px; width:90%; }*/



}







@media(max-width:1200px){



.login_ajax_wrap.login-section { margin-top: 90px; }



.owl-theme .owl-controls .owl-buttons .owl-prev{ left: 0px;  }



.owl-theme .owl-controls .owl-buttons .owl-next{ right: 0px;  }







}



@media (min-width:1200px) {



	/*.container { width:90%; }*/



	.containerback { position:relative; min-height:1400px; padding:0;} 



	/*.containerback .row { margin:0; }*/



	/*.containerback .row > .col-sm-3 { position:absolute; left:0; top:0; bottom:0; width:270px; padding:0; background:#fff; }*/



	.containerback .row > .col-sm-9 { margin-left:300px; width:auto; float:none; padding:0; }



	div.view_message_container div.message_actions_compose div.messages_options {  float:left }



    div.view_message_container div.message_actions_compose div.form_advanced_wrapper  { float:right;}



/*	div.sys-sm-item-submenu { left: 1012.9px !important; }*/







}







@media (min-width: 992px) and (max-width: 1199px) {



/*	.container { width:96%; }



	.containerback { position:relative; min-height:1400px; padding:0;} 



	.containerback .row { margin:0;  }



	.containerback .row > .col-sm-3 { position:absolute; left:0; top:0; bottom:0; width:220px; padding:0; background:#fff; }



	.containerback .row > .col-sm-9 { margin-left:250px; width:auto; float:none; padding:0; }*/



	div.sys_ml_wrapper .logo { margin:0 10px; }



	.topright { text-align:right; }



/*	div.sys-service-menu-wrp { float:none; }



	div.sys-service-menu-wrp:first-child { margin:0 0 10px; }*/



	.mastero .sys_main_content.sys_main_page_width { width: 970px; }



	.homepage .mastero .sys_main_content.sys_main_page_width { width:auto; }



	div.view_message_container div.message_actions_compose div.messages_options {  float:left }



    div.view_message_container div.message_actions_compose div.form_advanced_wrapper  { float:right;}



	



}







@media (min-width: 768px) and (max-width: 991px) {



/*	.container { width:96%; }



	.containerback { position:relative; padding:0;} 



	.containerback .row { margin:0;  }



	.containerback .row > .col-sm-3 { width:100%; float:none; padding:0; background:#fff; margin:0 0 30px; }



	.containerback .row > .col-sm-9 {  width:100%; float:none; padding:0; }*/



		div.col2page



	{



		width:100% !important;



		margin: 0 !important;



	}



	div.view_message_container div.message_actions_compose div.messages_options {  float:left }



    div.view_message_container div.message_actions_compose div.form_advanced_wrapper  { float:right;}



	.mastero .sys_main_content.sys_main_page_width { width: 750px; }



	.homepage .mastero .sys_main_content.sys_main_page_width { width:auto; }



	



}



@media(min-width:768px) and (max-width:992px){



	.mastero .mastero_header .social_links { display: table; float: none; margin: 0 auto; }



	.mastero .mastero_header .social_links ul { padding: 0px 0; margin-top: 0px; }



	/*.mastero .mastero_logo { padding: 5px 0; }*/



	.mastero_header div.sys-service-menu { line-height: 82px; }



	.mastero .mastero_header .mastero_header_inner .search_display { left: auto; right: 0; z-index: 999; border: none; }



/*	.mastero .setting_icon_container li { float: none; }



	.mastero .setting_icon_container { display: block; width: auto; }



	.mastero .setting_icon_container { background: rgba(133, 133, 133, 0.4) none repeat scroll 0 0; padding: 10px; position: absolute; right: 5px; top: 128px; left: auto; }



.mastero_header { position: static; }



.mastero .setting_icon_container_inner { display: block; height: 100%; width: auto; }*/



}







@media (max-width: 767px){



	



	.mastero .mastero_header .social_links { display: table; float: none; margin: 0 auto; width: auto; }



	.mastero .mastero_logo img { height: auto; max-width: 250px; margin: 0; }



	.mastero .mastero_header .social_links ul li { margin-top: 0px; }



	.mastero .service-menu .sys-service-menu-wrp {



  float: none;





  text-align: center;



  margin: 0 auto;



  display: table;



}



.latestgrp_container .album_content_img a div {



  height: 100%;



}



.sys-sm-item-submenu .popup_form_wrapper .container {



  background:#181818;



  border: 1px solid #181818;



}



/*	.mastero .mastero_logo { padding: 12px 0 0 0; }*/



	body .sys_root { padding-top: 0; }



	.mastero .mastero_header .social_links ul { padding: 0px 0; margin-top: 0px; }



	div.sys-service-menu div.sys-sm-item.sys-smi-join span.sys-smp-title, div.sys-service-menu div.sys-sm-item.sys-smi-profile span.sys-smp-title, div.sys-service-menu div.sys-sm-item.sys-smi-profile span.sys-sm-item { display:inline-block; }



	div.sys-service-menu div.sys-sm-item.sys-smi-search { display:block; }



	div.sys-service-menu div.sys-sm-item.sys-smi-search-simple { display:none; }



	div.sys-service-menu-wrp:first-child { margin:0 15px 0 0; float:left; }



	.topright { text-align:center; margin:15px 0 0; }



	div.sys-service-menu-wrp { float:right;  }



	.boxContent .ads_Unit { float:none; width:100%; }



}



@media (max-width: 480px){



	  /* div.sys-service-menu div.sys-sm-item.sys-smi-profile span.sys-smp-title, div.sys-service-menu div.sys-sm-item.sys-smi-profile span.sys-sm-item { display:none; }*/



		body .mastero .mastero_header { position: static; }



		.mastero .mastero_header .mastero_header_inner .search_display { left: auto; right: 0; z-index: 999; border: none; }



		.mastero .mastero_logo img { height: auto; max-width: 180px; }



}