@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand_bold-webfont.eot');
    src: url('quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand_bold-webfont.woff2') format('woff2'),
         url('quicksand_bold-webfont.woff') format('woff'),
         url('quicksand_bold-webfont.ttf') format('truetype'),
         url('quicksand_bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff'),
         url('montserrat-regular-webfont.ttf') format('truetype'),
         url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'belleroselight';
    src: url('bellerose-webfont.eot');
    src: url('bellerose-webfont.eot?#iefix') format('embedded-opentype'),
         url('bellerose-webfont.woff2') format('woff2'),
         url('bellerose-webfont.woff') format('woff'),
         url('bellerose-webfont.ttf') format('truetype'),
         url('bellerose-webfont.svg#belleroselight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('always_in_my_heart-webfont.eot');
    src: url('always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('always_in_my_heart-webfont.woff2') format('woff2'),
         url('always_in_my_heart-webfont.woff') format('woff'),
         url('always_in_my_heart-webfont.ttf') format('truetype'),
         url('always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;

}