.site_stats .item > a i {
  color: #ed1c24;
}
body, .ui-tabs .ui-tabs-nav li

{

	background:#181818;

}

/************filter**********/



.footer-container .footer_top a {

  color: #fff;

}

.logo-b span.c-clor {

  color: #ed1c24;

}

.wall-load-more button.bx-btn { color: #fff; opacity: 1; }

div.wall-oii-actions .bx-btn:hover {

  background-color: #ed1c24;

  border-color: #ed1c24;

}

div.sys_ph_submenu_submenu a.sublinks, div.sys_ph_submenu_submenu a.sublinks:link, div.sys_ph_submenu_submenu a.sublinks:visited { color:#ed1c24; }

.bx-def-font, div.sys_bc div.bc_unit, div.sys_page_header, div.searchrow_block div.short_desc div.nick a, .forum_topic_title, .sys-service-menu a, h2, .bx-def-font-h2, .form_advanced_table select, .form_advanced_table input[type="text"], .form_advanced_table input[type="date"], .form_advanced_table input[type="datetime"], .form_advanced_table input[type="date_time"], .form_advanced_table input[type="number"], .form_advanced_table input[type="email"], .form_advanced_table input[type="url"], .form_advanced_table input[type="password"], .form_advanced_table textarea, .sys_file_search_unit .sys_file_search_title a, div.wall-oii-title a, div.wall-oii-description, .thumb_username a, .form_advanced_table, .form_advanced_table th, .form_advanced_table td, div.subMenu a.sublinks, div.subMenu a.sublinks:link, div.subMenu a.sublinks:visited, div.sub_design_box_head .caption_section, .MsgBox .msgbox_content, .siteStatUnit .sys-icon, div.sys_page_header a, div.sys_page_icon .img_submenu.sys-icon, div.sys_page_icon .img_submenu.sys-icon, .dbTopMenu .sys-icon, div.top_settings_block , .votes_big b, .votes_small b, div.sys-service-menu span.sys-sm-item, div.sys-service-menu a.sys-sm-item, div.sys-service-menu a.sys-sm-item:link, div.sys-service-menu a.sys-sm-item:visited, div.sys-service-menu div.sys-sm-item.sys-smi-join, div.sys-service-menu div.sys-sm-item.sys-smi-profile,div#sys_search input, div.sys-service-menu a.sys-sm-item:active, div.sys-service-menu div.sys-sm-item.sys-smi-profile:active, div.sys-service-menu div.sys-sm-item.sys-smi-profile:active span.sys-sm-item, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover img.sys-smp-thumbnail, div.sys-service-menu a.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover span.sys-sm-item, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover img.sys-smp-thumbnail, div.sys_ph_submenu_submenu div.pas, .bx-form-block-header .bx-form-caption, .dbTopMenu .dbTmActive, .dbTopMenu .dbTmActive:hover, div.dbTopMenu div a, div.dbTopMenu div a:link, div.dbTopMenu div a:active, div.dbTopMenu div a:visited, .dbTopMenuPopup .active, div.wall-oii-posted, .wall-oii-author-name a, .bx-def-font-grayed, 

.bx-twig-unit .bx-twig-unit-special, .sys_album_info .sys_album_from a, div.wall-event-circle i, div.wall-divider-cnt, .bx-def-font-inputs-captions, .input_wrapper_doublerange .ui-state-default, 

.input_wrapper_doublerange .ui-widget-content .ui-state-default, .input_wrapper_doublerange .ui-widget-header .ui-state-default, .input_wrapper_doublerange  .ui-widget-header,

 .form_advanced_table .bx-form-info .sys-icon, .ui-tabs .ui-tabs-nav li a

{

/*Denre
        color:#7c7e80;
*/
    color:#fff;
}

}



.forum_topic_title, .forums_index_short a, p, .boxContent b

{

	color:#7c7e80;	
}

.social_media p {

  color: #7c7e80;

}

.boxFirstHeader .dbTitle {color: #ed1c24;font-size: 18px;font-weight: 500;min-height: 0;line-height: normal;text-transform:uppercase; font-family: "montserratregular" ;	}

/******************Temp**********/

a, a:link, a:visited, .rss_read_more, .siteStatUnit a, div.subMenu div.act, div.subMenu a.sublinks:hover, p i, .form_advanced_table .sys-icon.info, .form_advanced_table .sys-icon.warn, .sys_album_info .sys_album_title a, .lcont_other div a, .sys_cal_cell a b, .categories_col a, .bx_ava_actions .sys-icon, div.sys_bc a, div.sys_bc a:link, div.sys_bc a:visited, div.sys_bc a:hover, div.sys_bc a:active, div.paginate div.view_all a, div.paginate_btn .sys-icon, div.wall-oii-description a, .sys_download_unit > div > a, .form_advanced_table .sys-icon.multiply_add_button, .form_advanced_table .sys-icon.multiply_other_button, .form_advanced_table .sys-icon.reload_button, div.sys-form-login-join .bx-form-element a, div.sys-form-login-join .bx-form-element a:link, div.sys-form-login-join .bx-form-element a:hover, div.sys-form-login-join .bx-form-element a:active, div.paginate div.pages_section a, .disignBoxFirst .boxFirstHeader, .disignBoxFirst .boxFirstHeader .dbTitle  

, .sys_file_search_unit .sys_file_search_from a, .bx-twig-unit .bx-twig-unit-special, div.sys_bc div.bc_divider, div.searchrow_block div.short_desc div.nick a, .social_icon li a:hover {

   color:#ed1c24;
}











a:hover, a:focus{

    text-decoration:none;

} 

div.paginate_btn a:hover i, div.paginate_page a:hover i{ color:#fff; }



a:active 

{

	text-decoration:underline;

}

.dbTopMenu .active, .dbTopMenu .notActive:hover, .sys_album_item_empty, .lcont_top,div.sys_ph_submenu_submenu div.act, div.sys_ph_submenu_submenu div.pas:hover, div.shoutbox_wrapper, 

.form_input_file, .form_input_select, .form_input_select_multiple, .form_input_select_box, .form_input_slider, .input_wrapper_select_box .form_input_text, .form_advanced_table select, 

.form_advanced_table input[type="text"], .form_advanced_table input[type="date"], .form_advanced_table input[type="datetime"], .form_advanced_table input[type="date_time"],

 .form_advanced_table input[type="number"], .form_advanced_table input[type="email"], .form_advanced_table input[type="url"], .form_advanced_table input[type="password"],

  .form_advanced_table textarea, .forum_form_field, div.wall-divider-cnt, div.wall-event-cnt, .form_input_text:focus, .form_input_textarea:focus, .form_input_email:focus, .form_input_url:focus, 

  .form_input_date:focus, .form_input_datetime:focus, .form_input_password:focus, .form_input_number:focus, .form_input_slider:focus, .form_input_range:focus, .form_input_doublerange:focus, 

  .form_input_select:focus, div.sys-service-menu div.sys-sm-item, div.wall-event div.wall-event-owner div.thumbnail_block, .sys_cal_cell_blank, .sys_cal_cell,

   .form_advanced_table .bx-form-block-header .bx-form-caption, .input_wrapper_doublerange  .ui-state-default, .input_wrapper_doublerange  .ui-widget-content .ui-state-default,

    .input_wrapper_doublerange  .ui-widget-header .ui-state-default, .input_wrapper_doublerange .ui-widget-header, .input_wrapper_doublerange .ui-widget-content

{

/*Denre	background:#333333;*/
    background:#7c7e80;

}

 div.cmt-post-reply table.cmt-balloon, table.cmt-balloon, div.wall-divider::before, div.wall-divider-today::before, div.wall-event::before

{

	background-color: #333333;

}

div.thumbnail_image p.thumbnail_image_letter, div.thumbnail_image p.thumbnail_image_letter2, .dbTopMenu .dbTmActive, div.wall-oi-item-cnt { background:#333333;}

.dbTopMenu .dbTmActive, .popup_form_wrapper .container, .ui-tabs .ui-tabs-panel{ border-color:#222222; }

.popup_form_wrapper .container, div.wall-oii-comments:hover, .disignBoxFirst, div.subMenu, .searchblock, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li.ui-tabs-active  { /*Denre background:#1d1f21;*/ background:transparent; }

/*Denre extra */
.form_input_text.bx-def-font-inputs {background-color: #1d1f21;}

div.paginate, div.wall-oi-item-cnt, .form_input_file, .form_input_select, .form_input_select_multiple, .form_input_select_box, .form_input_slider, .input_wrapper_select_box .form_input_text, 

.form_advanced_table select, .form_advanced_table input[type="text"], .form_advanced_table input[type="date"], .form_advanced_table input[type="datetime"], .form_advanced_table input[type="date_time"],

 .form_advanced_table input[type="number"], .form_advanced_table input[type="email"], .form_advanced_table input[type="url"], .form_advanced_table input[type="password"], 

 .form_advanced_table textarea, .forum_form_field, div.wall-divider-cnt, div.wall-event-cnt, .form_input_text:focus, .form_input_textarea:focus, .form_input_email:focus, .form_input_url:focus, 

 .form_input_date:focus, .form_input_datetime:focus, .form_input_password:focus, .form_input_number:focus, .form_input_slider:focus, .form_input_range:focus, .form_input_doublerange:focus,

  .form_input_select:focus, div.sys-service-menu div.sys-sm-item, div.sys-service-menu div.sys-sm-profile i.sys-icon, div.sys-service-menu div.sys-sm-profile img.sys-smp-thumbnail, 

  div.sys-service-menu a.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item:hover, div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover span.sys-sm-item, 

  div.sys-service-menu div.sys-sm-item.sys-smi-profile:hover img.sys-smp-thumbnail, div.wall-event div.wall-event-owner div.thumbnail_block, .sys_cal_cell_blank, .sys_cal_cell, 

  .input_wrapper_doublerange .ui-state-default, .input_wrapper_doublerange .ui-widget-content .ui-state-default, .input_wrapper_doublerange .ui-widget-header .ui-state-default, 

  .input_wrapper_doublerange .ui-widget-header, .input_wrapper_doublerange .ui-widget-content, .bx-def-hr, div.wall-outline-paginate, .rss_read_more

   { border-color:#333333; }

.quote_div .author

{

	color:#333333;

}

.bx-btn, .bx-btn:active, .cur_pnt, #btnCancel, .sys-auth a, div.sys-profile-cover-actions .bx-btn, .forum_reply_button .bx-btn

{

	background:#ed1c24;

}

#loading, .sys_cal_today

{ border-color:#ed1c24; }

#loading, .sys_cal_today

{

	background:#ed1c24 !important;

}

a.backtop:hover{

    background-color: #ed1c24 !important;

}

.bx-btn:hover, .cur_pnt:hover, #btnCancel:hover, div.sys-profile-cover-actions .bx-btn:hover, .forum_reply_button .bx-btn:hover

{

	background:#333333;

}

div.wall-oii-comments

{

	background:#ed1c24;

}

div.wall-oi-item-circle

{

	background:#9a9a9a;

}

/*---------------------header------------------------*/

div#sys_search input.input_main, #bx_forum_search_input

{

	color:#cccccc;

}

/*----------------body font------------------*/

.bx-def-font, .bx-def-font-small, .bx-btn, .bx-btn:active, .cur_pnt, #btnCancel, p, .boxContent b, .one_tag, h2, .bx-def-font-h2, .sys_file_search_unit .sys_file_search_title a, .forum_topic_title, .rss_read_more, div.paginate div.view_all a, div.wall-oii-title a, div.wall-oii-description, div.wall-oii-comments a, div.wall-load-more .bx-btn, .thumb_username a, .form_advanced_table, .form_advanced_table th, .form_advanced_table td, .quote_div .author, .sys_album_info .sys_album_title a, .forums_index_short_cat, .sys_cal_cell a, div.bx_files_title a, .fileTitle, .sys_download_unit > div > a, div.searchrow_block div.short_desc div.nick a , div.login_ajax_wrap div.sys-form-login-join, div.login_ajax_wrap div.sys-form-login-join input, div.login_ajax_wrap div.sys-form-login-join select, div.login_ajax_wrap div.sys-form-login-join textarea, div.login_ajax_wrap div.sys-form-login-join button, .bx-form-block-header .bx-form-caption 

{

	font-family: Poppins;

}

/*------------------header font----------------------*/

.disignBoxFirst .boxFirstHeader, .disignBoxFirst .boxFirstHeader .dbTitle, div.sys_page_header a, div.sub_design_box_head .caption_section, div.sys_page_header, .form_advanced_table th.block_header, div.sys-form-login-join ul.sys-flj-navigation li a, div.sys-form-login-join ul.sys-flj-navigation li.ui-tabs-active a, div.sys_bc a, div.sys_bc a:link, div.sys_bc a:visited, div.sys_bc a:hover, div.sys_bc a:active, div.sys_bc div.bc_unit

{

	font-family: Poppins;

}





/*----------menu font--------------*/

.nav > li > a, .nav ul li a 

{

	font-family: open sans;

}

.mm-listview > li > a, .mm-listview li a, .mm-navbar .mm-title {

  font-family: Poppins;color: #7c7e80;

}
.mm-listview > li > a:hover, .mm-listview li a:hover, .mm-navbar .mm-title {

  font-family: Poppins;color: #fff;

}
.sys-sm-item-submenu .popup_form_wrapper.trans_box .sys-service-menu i {
  color: #ed1c24;
}

.rrssb-buttons li a .rrssb-icon svg path, .rrssb-buttons li a .rrssb-icon svg polygon {
  fill: #ed1c24;
}



/*-----------------------navigation--------------------*/

	.nav > li > a {

			background:url(../images/menuback.png) repeat-x scroll top center;

	}

	.mainmenu_whole {

    background: url("../images/menuback.png") repeat scroll center top transparent;

    }

		.nav > li > a:hover, .nav > li:hover > a, .nav > li.current-menu-item > a, .nav > li.current_page_parent > a, .nav > li.current-menu-parent > a, .nav > li.active > a, .nav > li.activate > a{

	background:url(../images/menbackhover.png) repeat-x scroll top center;

			}

			.nav ul li a {

				color: #888;

			}

			.nav ul li a:hover { color:#000;}

			

/*--------------------footer----------------------*/

div.powered_section

{

	color:#9a9a9a;

}

div.powered_section a

{

	color:#0c7ae0;

}			

div.sys_cr

{

		color:#7a797a;

}

.bottomLinks a

{

	color:#9A9A9A;

}





/************************************************Default*************************************/



/*.owl-theme .owl-controls .owl-prev {



  background: rgba(0, 0, 0, 0) url("../images/left-arrow.png") no-repeat scroll left center;



  height: 43px;



  width: 43px;



  text-indent: -9999px;



}



.owl-theme .owl-controls .owl-next {



  background: rgba(0, 0, 0, 0) url("../images/right-arrow.png") no-repeat scroll left center;



  height: 43px;



  width: 43px;



  text-indent: -9999px;



}*/

.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a { color:#ed1c24; }



.mastero .tp-bullets.simplebullets.round .bullet {

  background: url("../images/dotted.png") no-repeat scroll left top;

  width:15px;

  height:20px;

}

.mastero .tp-bullets.simplebullets.round .bullet:hover, .mastero .tp-bullets.simplebullets.round .bullet.selected, .mastero .tp-bullets.simplebullets.navbar .bullet:hover, .mastero .tp-bullets.simplebullets.navbar .bullet.selected {

  background-position: -18px 0;

}

.mastero .tp-bullets.simplebullets.round .bullet { background-position: 3px 0; width: 18px;}

.album_content_img a div {position: absolute;  background: rgba(255,101,176,0.7) none repeat scroll 0 0; width: 100%;height: 100%;}

.album_content_img a div label{ background: url('../images/black_diamond.png') no-repeat scroll center center; }





	.slide_arrow li {

	float: left;

	margin: 0 5px;

	padding: 0px;

	border: none;

	border-radius: 0px;

	}

	.slide_arrow li {

	-ms-transform: rotate(45deg); /* IE 9 */

	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */

	transform: rotate(45deg);

	background: #494949;

	}

	.slide_arrow li:first-child { background: #ed1c24; }

	.slide_arrow li:first-child:hover { background: #494949; }

	.slide_arrow li:hover { background:#ed1c24; }

	

	

	.slide_arrow li a span {  

	-ms-transform: rotate(-45deg); /* IE 9 */

	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */

	transform: rotate(-45deg);

	display: block;

	height: 7px;

	width: 10px;

	margin: 0 auto;

	background:url("../images/slider_icon.png") no-repeat scroll 0 0;

	}

	

	

	.slide_arrow li:first-child + li  a span.right-arrow {

	background-position: -32px 0px;

	

	}

	

	.slide_arrow li a i.fa.fa-angle-down {

	margin-top: 1px;

	}

	.slide_arrow li a {  

	display: table-cell;

	height: 20px;

	text-align: center;

	width: 20px;

	vertical-align: middle;  

	}

	

	.fontawe li {

	float: left;

	background: #494949;

	-ms-transform: rotate(45deg); /* IE 9 */

	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */

	transform: rotate(45deg);

	margin:0 10px;

	width:auto; height:auto;

	transition: all 0.2s ease-out 0s;

	}

	.fontawe li:hover { background:#ed1c24; }

	

	.fontawe li a {

	display: table-cell;

	height: 40px;

	text-align: center;

	vertical-align: middle;

	width: 40px;

	float: none;

	}

	.fontawe li a span {

	-ms-transform: rotate(-45deg); /* IE 9 */

	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */

	transform: rotate(-45deg);

	display:block;

	height:21px;

	margin: 0 auto;

	background:url('../images/social_icons.png') no-repeat;

	width: 13px;

	text-align:center;

	}

	.fontawe li:first-child + li a span { background-position: -45px 0; width: 22px;  }

	.fontawe li:first-child + li + li a span { background-position: -95px 0; width: 20px;  }

	.fontawe li:first-child + li + li + li a span { background-position: -145px 0; width: 20px;  }

	

.left-s i {

  color: #fff;

  display: block;

  font-size: 35px;

  left: -2px;

  position: relative;

  top: 3px;

}

	

.right-s i {

  color: #fff;

  display: block;

  font-size: 35px;

  right: -2px;

  position: relative;

  top: 3px;

}

	.latestgrp_container .left-s, .latestgrp_container .right-s {

  border: 2px solid #ed1c24;

  text-align: center;

  height: 45px;

  width: 45px;

  vertical-align: middle;

  display: table-cell;

  border-radius: 50%;

}

.latestgrp_container .left-s i, .latestgrp_container .right-s i {

	color:#ed1c24;

}





.one_tag:hover{background:#ed1c24;}

.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a, .boxFirstHeader .dbTitle, .bx-twig-unit-title.bx-def-font-h2 > a, .dbTopMenu .active span, div.dbTopMenu div a:hover, .rss_item_header.bx-def-font-h2 a, #bx_tellfriend .login_ajax_wrap .disignBoxFirst .boxFirstHeader, #extra_menu_section .sys-icon, .footer_top div.dbTitle, .boxFirstHeader h2.dbTitle, .right_block .sys_sub_menu .sys_page_header_submenu, .right_block .sys_sub_menu .sys_page_header_submenu i, .latest_title h5, #sys_popup_ajax .boxFirstHeader, .upcoming_quotes .quote_div .daily_quotes p.author {

  color: #ed1c24;

}

.bx-def-font .bx-btn,.gsc-search-button, .view_all_btn{background-color: #ed1c24; }

.bsetec_controls button, .upcomingalbum_container li .bsetec_event_link a.sold_out {
  background: #ed1c24;
}

#slides  div.featured_block_1:hover, #slides  div.featured_block_1.active, .bsetec_bloglist li:hover, .bsetec_bloglist li.active, .bsetec_forumlist li:hover,.bsetec_forumlist li.active { border-bottom: 1px solid #ed1c24; }



a, a:link, a:hover, a:active, a:visited { color:#ed1c24; outline:0 none; }

.bx-def-font .bx-btn-small:hover, .bx-def-font .bx-btn:hover, .mastero .upcoming_album_outer .bsetec_event_link .sold_out:hover, .upcoming_event_outer .bsetec_photo_links a.view_all_btn:hover { /*background:#d31b75; */ background:#ed1c24;} .foot_downloads .sys_download_unit a i {color: #fff;} .sys_main_content .disignBoxFirst .boxFirstHeader .dbTitle {color: #ed1c24;} .homepage .sys_main_content .disignBoxFirst .boxFirstHeader .dbTitle {color: #7c7e80;}    .sys_main_content .disignBoxFirst .boxFirstHeader {color: #ed1c24;} .homepage .sys_main_content .disignBoxFirst .boxFirstHeader {color: #7c7e80;}







/************************************Status********************/



.site_staus_slider .item {

  text-align: center;

}

.site_staus_slider .item i {

  font-size: 50px;

  color:#ed1c24;

}

.site_staus_slider .item h4 a {

  color: #7c7e80;

  font-family: Poppins;

  font-size: 14px;

  font-weight: 400;

  text-decoration: none;

  text-transform: capitalize;

}

.site_staus_slider .item p {

  color: #7c7e80;

  font-family: Poppins;

  font-size: 36px;

  font-weight: 600;

}

.site_staus_slider .item h4 {

  margin-bottom: 10px;

  margin-top: 15px;

}

.site_staus_slider {

  margin-top: 40px;

}

.site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-prev {

  left: 0px;

  position: absolute;

  top: 25%;

  color:#333;

  text-align: left;

}

.site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-prev i, .site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-next i { color:#333;  font-size: 55px; }

.site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-next {

  right: 0px;

  position: absolute;

  top: 26%;

  text-align: right;

}





@media(min-width:1200px){

.site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-prev {

  left: -20px;

}

.site_staus_slider.owl-theme .owl-controls .owl-buttons .owl-next {

  right: -20px;

}	



}





/************************************End********************/



