/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}
.padding-left2-none {
    background: #e4e5e5;
    border: 1px solid #cfd1d2;
    padding: 20px;
    text-align: center;
	 margin:30px 0px;
}
.padding-left-thank{}
@font-face {
    font-family: 'raleway-regular';
    src: url('raleway/raleway-regular-webfont.eot');
    src: url('raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-regular-webfont.woff') format('woff'),
         url('raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('raleway/raleway-regular-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('raleway/raleway-medium-webfont.eot');
    src: url('raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-medium-webfont.woff') format('woff'),
         url('raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('raleway/raleway-medium-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-light';
    src: url('raleway/raleway-light-webfont.eot');
    src: url('raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-light-webfont.woff') format('woff'),
         url('raleway/raleway-light-webfont.ttf') format('truetype'),
         url('raleway/raleway-light-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-extrabold';
    src: url('raleway/raleway-extrabold-webfont.eot');
    src: url('raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('raleway/raleway-extrabold-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-bold';
    src: url('raleway/raleway-bold-webfont.eot');
    src: url('raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-bold-webfont.woff') format('woff'),
         url('raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('raleway/raleway-bold-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}

html, body {
	height: 100%;font-family:Arial, Helvetica, Gotham, "Helvetica Neue", sans-serif;
	color: #555;
}
body {
	padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
a, a:link, a:hover, a:focus {
	color: #289057;
	text-decoration: underline;
}
.img-portfolio {
	margin-bottom: 30px;
}
.img-hover:hover {
	opacity: 0.8;
}
/* Home Page Carousel */

header.carousel {
	height: 50%;
}
header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
	height: 100%;
}
header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}
/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}
.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}
.period {
	display: block;
	font-style: italic;
}
/* Footer Styles */

footer {
	margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
.customer-img,  .img-related {
	margin-bottom: 30px;
}
}

@media(max-width:767px) {
.img-portfolio {
	margin-bottom: 15px;
}
header.carousel .carousel {
	height: 70%;
}
}
body {
	padding-top:99px;
	background-color: #eee;
	font-size: 14px;color:#444;
}
.container {
	background-color: #eee;
}
.navbar-inverse .container {
	background-color: #fff;
	border-color: #fff;
}
.navbar > .container .navbar-brand {
	padding: 0;
	margin-left: 0;
	width:96px;position:relative;
}
.navbar > .container .navbar-brand img {
	max-width: 100%;
}
.logo-text {
	text-decoration: none!important;
	color: #444;
	font-size: 26px;
	font-weight: bold;
	line-height: 0.6;
	margin: 14px 0px 8px 10px;
	float: left;
	font-family: Arial, sans-serif
}
.logo-text span {
	font-weight: normal;
	font-size: 14px;
}
.logo-text:hover {
	color: #289057;
	text-decoration: none;
}
.search-block {
	width:370px;
	margin: 14px 0px 0px 40px;
	float: left;
	position: relative;
	border: 1px solid #D0D0D0;
}
.search-block input {
	width: 100%;
	float: left;
	border: 1px solid #fff;
	padding: 5px;
}
.search-block input[type='submit'] {
	width: 100px;
	color: #595959;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
}
.versions {
	width: 180px;
	color: #fff;
	float: left;
	margin: 20px 0;
	text-align: center;
}
.versions a {
	color: #cf8c8d;
	font-weight: 700;
	margin: 10px;
}
.versions a.v-active {
	color: #fff;
}
.size-controls {
	width:185px;
	color: #fff;
	float: right;
	margin: 15px 0 8px;
	text-align: center;
}
.size-controls .small{display:none;}
.size-controls a {
	text-decoration: none!important;
	margin: 5px;
	color: #fff;
	border: 1px solid #444;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	background-color: #444;
	line-height: 24px;
}
.small {
	font-size: 12px;
	font-weight: 700;
}
.medium {
	font-size: 14px;
	font-weight: 700;
}
.large {
	font-size: 16px;
	font-weight: 700;
}
a.white {
	background-color: #fff;
	color: #000;
}
a.black {
	background-color: #000;
	color: #fff;
}
.share {
	color: #444;
	border-left: 1px solid #D0D0D0;
	float: left;
	margin-left: 5px;
	padding-left: 5px;
	line-height: 36px;
}
.navbar-inverse {background-color: #fff;}
.nav a {text-transform: uppercase;}
.nav li{border-left:1px solid #2295a2;}
.nav li a{border-left:1px solid #31cbdc;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {background-color: #038695;}
.navbar-inverse .navbar-collapse, .blue-bar {
	background: #2295a2; /* Old browsers */
background: -moz-linear-gradient(top, #2295a2 0%, #0cb6c9 47%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2295a2), color-stop(47%,#0cb6c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2295a2 0%,#0cb6c9 47%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2295a2 0%,#0cb6c9 47%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2295a2 0%,#0cb6c9 47%); /* IE10+ */
background: linear-gradient(to bottom, #2295a2 0%,#0cb6c9 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2295a2', endColorstr='#0cb6c9',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .navbar-nav > li > a {
	color: #bcf6fd;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover {color: #ffff;}
.navbar-inverse .navbar-toggle {border-color: #fff; background-color:#2295A2;margin-right: 30px;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color:#fff;border-color: #2295A2;}
.navbar-inverse .navbar-toggle:hover .icon-bar {background-color: #2295A2;border-color: #2295A2;}
.navbar-collapse .nav li, .navbar-collapse .nav li a {border-left: 0px solid #2295A2;}
.navbar-collapse .nav .dropdown-menu{ border-top:1px solid #fff;}
.navbar-header {margin-top: -55px;}
.caret {margin-left: 12px;}
.navbar-collapse {padding:0px;}
.navbar-nav {margin:0 10px;}


.dropdown-menu {
	padding: 0;
	border-radius: 0;
}
.dropdown-menu li {border:0px solid red;
	border-bottom: 1px solid #fff;background-color: #038695;
}
.dropdown-menu li a {border:0px solid red;
	padding: 8px 15px; text-transform:none; text-decoration:none;color:#fff;
}
.what-new {
	font-size: 13px;
}
.what-new-block{background-color: #fff;
    display: table-cell;
    float: left;
    height: 100%;
    width: 100%;}
.what-new span {background-color:#f15305;
	display: block;color:#fff;
	float: left;
	width: 114px;
	font-weight:bold;
	font-size: 14px;
	line-height: 36px;
	padding:2px 10px;display:none;
}
.what-new p b {display: block;float:left;padding: 7px 10px;margin-right:10px; background-color:#464646;color:#fff;}
.section-one.container { background-color:transparent; margin:15px auto;padding: 0;}
.web-links {
	background-color: #fff;
}
.web-links a {
	padding: 10px;
	padding: 10px 20px;
	float: right;
	color: #444;
	font-weight:bold;
}
.web-links a img {
	width: 20px;
	margin-left: 5px;
}
a.connect-cm {
	float: left;
}
.banner {
	width: 100%;margin-top:20px;
}
.carousel-inner img {
	text-align: center;
}
header.carousel {
	height:362px;
}
.carousel-caption p {font-size: 18px;color: #FFF;margin-bottom: 0;}
.padding-none {
	padding: 0;
}
.padding-left-none {
	padding-left: 0;
}
.padding-right-none {
	padding-right: 0;
}
.banner-right, .banner-right-2 {
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.banner-right hr {
	clear: both;
	border-bottom: 1px solid #d0d0d0;
	margin: 0;
}
.profile, .connect {
	width: 100%;
	float: left;
	padding: 12px 0 0 0
}
p.p-img {
	width:160px;
	float: left;
	text-align: center;
}
p.p-img-right {
	width: 180px;
	float: right;
	text-align: center;
}
.profile.second, .connect.second {
	border-top: 1px solid #d0d0d0;
}
.profile span {
	font-weight:bold;
}
.profile a {
	line-height: 24px;
	float: left;
}

.quick-links .dropdown-toggle{width:112px;}
.profile a img {margin-right: 5px;}
.invest-content{min-height:200px;float: left;}
.invest-content .invest-content{width:100%;}
.invest-content ul{ height:auto !important;padding:0px!important; }
.invest-content ul li{list-style:none;background:none!important;float:left;display:inline-block;margin-right:20px;}
.invest-content h2{	margin:0px 0px 10px 0px;}
.invest-content p{margin:0px 0px 10px 0px!important;}
.connect a {
	background-color: #000000;
	padding: 10px;
	color: #fff;
	clear: both;
	margin: 10px;
	display: inline-block;
}
.container.section-two {
	padding:20px 20px 0 20px;
}
.block {
	width: 33.3%;
	float: left;
	overflow: hidden;
}
.highlight a {
	width: 100%;
	padding:9px 10px;
	background-color: #f34704;
	color: #fff;
	float: left;
	margin-bottom:5px;
	border-radius:5px;
	text-decoration: none;
}
.highlight a img {
	float: right;
}
.highlight a span {
	font-size: 18px;
}
.section-head {
	color: #fff;
	font-size: 16px;
	padding: 6px 10px;
	overflow: hidden;
}
.section-head a {
	font-size: 14px;
	color: #fff;
	float: right;
	margin: 0px;
}
.section-head img {
	float: right
}
.press-releases p {
	margin: 20px;
}
.press-releases p img {
	width: 200px;
	float: right;
	margin: 0 0 15px 15px;
}
.press-releases p span {
	font-size: 30px;
	line-height: 0;
}
.press-releases p span.size-18 {
	font-size: 18px;
}

.initiatives-block {
    box-sizing: border-box;
    clear: none;
    float: left;
    margin: 15px 0 0;
    text-align: left;
    width: 100%;
	padding:0 9px 5px 9px;  border: 1px solid #d8d5d5;
}
.initiatives-block a{float: right;}
.initiatives-block hr{margin:5px 0;}
.invest-link{padding:0 30px 0;float:left;text-align:left;margin-top:-40px;position:relative;}
.bx-wrapper .bx-viewport { background-color:transparent!important;}
.invest-link a {border:1px solid #F58335;color:#F58335;border-radius:4px;
	width:auto; background-color:#fff;
	display: inline-block;
	text-align: center;
	padding: 15px;
	box-sizing: inherit;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
}
.invest-link a:hover{border:1px solid #F58335;color:#fff; background-color:#F58335;}
.boxscroll {
	height: 242px;
}
.gov-info{height:338px;}
.block-content, .block-content1, .ap-profile, .other-links-block, .c-establish, .invest-content{ background-color:#fff;}
.gov-info .block-content .bx-wrapper{margin:0 !important;}
.inner-content .ap-profile{margin-bottom:15px;}
.gov-info l1{height:120px;clear:both;}
.inner-content .gov-info{margin-top:15px;}
/*.inner-content .gov-info ul{border:1px solid #F58335;}*/
.highlight ul, .press-releases ul, .gov-info ul {
	list-style: none;
	width: 100%;
	float: left;
	height: 290px;
	padding: 10px 0;
	margin: 0;
	background-color: #fff;
}
.highlight ul li, .press-releases ul li{
	margin: 10px 3%;width: 94% !important;
}
.gov-info ul li {margin:8px 3%;width: 94% !important;/*word-break: break-all;*/}
.gov-info ul li p {margin-bottom:0;}
.highlight .section-head, .photo-gallery .section-head, .section-head .nav-tabs {
	background-color: #757575
}
.press-releases .section-head, .csr-activities .section-head, .c-establish .section-head ,.invest-content  .section-head  {
	background-color: #f58335;
}
.csr-activities, .c-establish, .employment{margin-top:20px;height:365px;}
.ngo-initiative{
margin-top:15px;height:245px;	border:1px solid #c5c5c5;border-top:0px solid red;
}
.c-establish{height:393px;border:1px solid #c5c5c5;border-top:0px solid red;}
.csr-activities{height:auto;}
.csr-activities .block-content1, .downloads .block-content1, .smart-village .block-content1{border:1px solid #c5c5c5;overflow: hidden;padding:10px;}
.gov-info .section-head, .ngo-initiative .section-head, .employment .section-head{background-color:#E36C1A;}
.gov-count {border:1px solid #C1BFBF;background-color: #fff;}
.government{padding-bottom:15px;}
blockquote{border:0px solid red;}
.gov-count p {width:30%;float:left;margin:0px 1% 24px;font-size:12px;text-align:justify;}
.gov-count p span {display: block;color: #444;}
.number {font-size:72px;line-height:60px;margin-top:30px;margin-bottom:15px;text-align:center;font-weight:bold;}
.name {font-weight:bold;font-size: 14px;text-align:center;margin-bottom:20px;height: 40px;}
.gov-right {background-color: #c1bfbf;height: 260px;}
.gov-right p {margin:13px;font-size: 16px;}
.gov-right p a {font-weight:bold;color: #444;text-decoration: underline;}
.gov-info ul {height:304px;}
.gallery-section {margin:15px 0 0 0;padding: 0px;clear: both;float: left;}
.photo-gallery header.carousel {
	height: 290px;
}
.photo-gallery .section-head {
	padding: 0px;
}
.photo-gallery .section-head a {
	padding: 12px 10px;
	margin: 0;
}
.section-head ul li a {
	color: #ccc;
	font-size: 18px;
	padding: 8px 10px!important;
	margin: 0px;
	text-decoration: none;
}
.section-head ul li a.active {
	color: #fff;
}
.section-head ul li {
	list-style: none;
	border-right: 1px solid #ccc;
}
.nav-tabs {
	margin: 0px;
	padding-left: 0px;
	float: left;
}
#photos, #videos {
	position: relative;
}
.photo-content {
	width:100%;height: 326px;overflow: hidden;
}
.caption{position: absolute;
top: 287px;color:#fff;
right: 0px;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
text-align: center;
padding: 10px;}
.caption-video{position: absolute;top:0px;right: 0px;width: 100%;}
#photos .bx-pager, #videos .bx-pager {
	position: absolute;
	top: 12px;
	right: 14px;
	width: 60px;
}
.bx-viewport {
	min-height: 125px
}
#photos .bx-pager a, #videos .bx-pager a {
	margin: 2px;border: 2px solid #fff;
	float: left;
}
.adds-block {
	padding: 18px;
	border-right: 1px solid #D0D0D0;
}
.padding-le-re {
	padding-left: 0px;
}
.padding-re-re {
	padding-right: 0px;
}
.margin-bottim17 {
	margin-bottom: 17px;
}
.padding-re-5 {
	padding-right: 8px;
}
.padding-le-5 {
	padding-left: 8px;
}
.adds-block img {
	max-width: 100%;
}
.other-links-block {border:1px solid #C6C6C6;padding: 10px;margin-top:20px;height:336px;}
.other-links-block a img {float: left;
    width: 30%;
}
.other-links-block ul {padding: 0px;margin: 0px -10px;}
.other-links-block li {background-color: #f7f7f7;border:1px solid #e9e9e9;
	float: left;
	list-style: outside none none;
    margin: 0 0 10px 3%;
    text-align: center;
    width: 45%;
}
.other-links-block li.link-50{width:45%;}
.other-links-block li:hover { background-color:#ffefe4;}
.other-links-block li span {
	  color: #000;
    float: right;
    font-size: 14px;
    height: 52px;
    padding: 10px 0;
    text-align: left;
    width: 68%;
}
.footer {background: #5c5b5b!important;overflow: hidden;border-top:20px solid #fff;}
.footer ul{padding: 0;}
.footer-bar {
	background-color: #393838;
	float: left;
	width: 100%;
}
.social-icons {
	float: right
}
.social-icons a{float:left;width: 30px;height:30px;	margin: 10px 10px 10px 0;}
.social-icons img {
	width: 30px;height:30px;

}
.vis-count {width:170px;
	float: left;
	color: #ccc;
	margin: 10px 20px 0 20px;
	font-weight:bold;
	font-size: 18px;
}
.vis-count p {margin-bottom:10px}
.vis-count p span {
	font-size: 14px;
	padding-left: 10px;float:right;margin-top:7px;
}
/*.footer .col-lg-2, .footer .col-lg-4 {
	padding-top: 30px;
}*/
.footer ul li {
	list-style: none;
	padding: 2px 0px;
}
.foot-image img {
	margin-bottom: 15px;
}
.social-block {
	border-left: 1px solid #8a8a8a;
	padding: 10px 0px;
}
.social-block .social-icons {
	padding: 0px 30px 20px 30px;
	border-bottom: 1px solid #8a8a8a;
}
.social-block .emergency {
	padding: 0px 30px 20px 30px;
}
.footer ul li strong {
	color: #fff;
	font-weight:bold;
}
.footer ul li a {
	color: #d4d1d1;
	text-decoration: none;
}
.footer ul li a:hover {
	color: #fff;
}
.social-icons h4, .emergency h4 {
	margin: 0px;
	color: #fff;
	margin-bottom: 15px;
}
.emergency {
	clear: both;
	margin-top: 13px;
}
.emergency a {
	width: 25%;
	float: left;
	text-align: center;
}
.emergency-no span {
	color: #000;
}
.emergency a:hover strong {
	text-decoration: none;
	color: #db0a1f;
}
.emergency a span {
	margin-bottom: 10px;
	float: left;
	text-align: center;
	display: block;
	width: 100%;
	height: 30px;
}
.emergency strong {
	clear: both;
	display: block;
	text-align: center;
	color: #fff;
}
.copyright {
	background: #4b4949;
	padding: 10px;
	text-align: center;
	color: #797878;
	font-size: 12px;clear:both;
}
.copyright a:link {
	font-weight:bold;
	color: #fff;
}
.highlight li, .press-releases li {
	background: url(../images/list-item.png) 0px 5px no-repeat;
	padding-left: 16px;
	font-size: 15px;
}
.press-releases {background-color: #fff;}
.gov-info li a { text-decoration:none;}
.gov-info li a p{ font-size:14px;text-decoration:none;color:#444;line-height:18px;}
.gov-info li a p.heading{font-weight:bold;
	text-decoration: none; 
	color: #E36C1A;
	display: block;margin-bottom:5px;
}
.gov-info li {border-bottom: 1px solid #ccc;clear:both;min-height:64px;}

.inner-content {
	padding:15px 0px;clear:both;margin:0 20px;
	background-color: #fff;
}
.inner-content h1 {
	font-size:24px;
	font-weight: normal;
	margin: 0;
	border-bottom: 1px solid #DDD;
	padding-bottom:8px;
	/*text-transform: uppercase*/
}
.inner-content h1 span {
	font-size: 14px;
	text-transform: none;
	border-right: 1px solid #ccc;
	padding: 6px;
	margin-right: 6px;
}
.inner-content h1 span.page-name{border:0px solid red;font-size: 24px;}
.inner-content .nav a {text-transform:none;}
.inner-content .nav-tabs{margin-top: 15px;}
.glance {width: 30%;margin: 20px 3.3% 20px 0;float: left;background-color: #3fabcf;text-align: center;color: #fff;}
.glance img{}
.glance h3, .glance p{ text-align:center;}
.post-sec {
	margin: 15px 0 0 0;
	clear: both;
}
.post-sec span {
	font-size: 20px;
}
.post-sec img.l-img, img.l-img {float: left;margin: 0 15px 15px 0;}
.post-sec img.r-img, img.r-img {float: right;margin: 0 0 15px 15px;}
.csr-activities img{margin: 0 15px 0 0;}
.csr-activities p a {margin-top: 20px;float:right;}
.inner-content h2.sub-heading {clear: both;background-color: #f5f5f5;padding: 5px;font-size: 24px;}
.post-small {width:50%;float: left;padding-right: 15px; font-size:13px;clear:both;}
.post-small.post-right{padding:0 0 0 15px;clear:none;}
.post-small span {font-size: 18px;}
.post-small a {float: right;}

.institution-block{width:50%;float: left;clear: none;margin:15px 0 0 0; box-sizing:border-box;}
.institution-block p{border: 1px solid #D8D5D5; border-radius:4px;padding:10px;margin: 0px 10px;overflow: hidden;}
.institution-block p{text-align:center;}
.institution-block img{ border-radius:50%;}
.institution-block span.heading {font-size: 18px;display:block;color: #E36C1A;text-align:center;}
.institution-block p span.initiative-content{text-align:justify;display: block;}
span.initiative-content a{float:right;}

.inner-content .panel-heading{padding:0px;overflow:hidden;position:relative;}
.inner-content .panel-heading a{padding:10px 15px;width:100%;float:left;}
.inner-content .panel-heading .glyphicon-chevron-down, .inner-content .panel-heading .glyphicon-chevron-up{position:absolute;top:15px;right:15px;color:#444;}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 20px;
	margin-bottom: 10px;font-size: 17px;
}
.internal-links {
	text-align: center;
}
.internal-links a {width: 170px;
	display: inline-block;
	padding: 15px;
	color: #444;
	text-decoration: none;
	font-weight: 700;
	margin: 10px 5px;
}
.internal-links a img {	margin-bottom: 10px;border-radius:50%}
.introduction {
	border: 1px solid #ccc;
	overflow: hidden;
	padding: 10px 10px 0 10px;
	background-color: #f3f3f3;
	margin-top: 15px;
}
.introduction h3 {
	margin-top: 0
}
.tabs-right {
	margin: 20px 0;
}
.tabs-right > .nav-tabs {
	float: right;
	margin-left: 19px;
	border: 0px solid red;
	width: 300px;
}
.tabs-right > .nav-tabs > li {
	width: 100%;
}
.tabs-right > .nav-tabs > li a {
	margin-left: -2px;
	;
	border: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a:hover {
	border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
	border-color: #ddd #ddd #ddd transparent;
*border-left-color: #ffffff;
	color: #00a148;
}
.tabs-right > .nav-tabs > li > a:focus, .tabs-right > .nav-tabs .active > a:focus {
	color: #00a148;
	outline: none;
}
#myCarousel-1 p {
	margin-top: 10px;
	font-size: 15px;
	width: 80%;
	text-decoration: none;
}
#myCarousel-1 p::after {
	content: attr(href);
	padding-left: 10px;
	text-decoration: underline;
}
#myCarousel-1 h2 a:active{
	text-decoration: underline;
	color: white;
}

.bq3 {
	width: 70%;
	margin-top: -12px;
	background: url(../images/a9l0g3.png) top left no-repeat;
	padding-left: 10px;
	margin-left: 15px;
	line-height: 18px;
	padding-bottom: 0px
}
.bq3 p.quot {
	margin-top: -7px;
	margin-bottom: 0px;
	padding-right: 0px;
	line-height: 18px;
	background: url('../images/eb1yrr.png') bottom right no-repeat;
	padding-bottom: 0px;
	color: #333;
	font-size: 12px;
}

.pol-links-cont{float:left;}
.pol-links-cont, .block-content{width:100%;padding:0px;clear: both;border:1px solid #c5c5c5;height:360px;border-top:0px solid red;}
/*.pol-links-cont .bx-viewport{height:100%!important;}*/
.bx-wrapper .bx-viewport {background: transparent;}
.box-links p {margin: 0px;}
.box-links a {color: green !important;font-size:13px;}
p.box-links {margin-top:0px;}
.cm-title{width:60%;clear: both;text-align:right;font-size:12px;}
.cm-title p{margin: 5px 20px;}
.cm-title p span{font-size:24px;}
.boxscroll span.cm {	}
.tab-pane img{max-width:100%;}
.tab-pane p{margin:15px 0;float:left;width: 100%;}
.tab-pane table{width:100%;clear:both;}
.tab-pane td{padding:10px;}
.first-para img{width:300px;float:left;margin:0 10px 10px 0}
.website-link{float:right;display: inline-block;}
.website-link a{ font-weight:bold;}

.nav-tabs{border:2px solid #e5e4e4;border-bottom: 0px solid red;width: 100%;background-color: #E5E4E4;}
.nav-tabs li a:link, .nav-tabs li a:focus, .nav-tabs li a:hover{color:#444; text-decoration:none;}
.nav-tabs > li.active > a{ background-color:#fff; text-decoration:none;color:#444!important;}
#my-tab-content{clear:left;margin-bottom: 15px;}
.tab-content > .tab-pane { border: 1px solid #E5E4E4;padding:0 15px 15px 15px;overflow: hidden;}

map { position: relative; }
area + span { position: absolute; margin-left: -9999em; }
area:hover + span {
    position: absolute; /* can only be positioned relative to the entire map, not the area */
    left:-310px;
    top: 0px;
    z-index: 99;
    background: #fef7dd;
    border: 1px solid #dfd3ab;
    margin: 0;
    width: 250px;
    padding:10px;
}
area:hover + span p{ margin-bottom:5px;font-size:12px;}

.inner-banner{width:100%;margin-top:15px;overflow:hidden;}
.inner-banner img{margin:0;}
.culture-banner{ background:#fd9604 url(../images/culture-bg.png) 0 0 repeat}
.history-banner{ background:#fd9604 url(../images/history-bg.jpg) 0 0 repeat}
.left-col{ background-color:#ddd;}

.login-drop{float:right;list-style: none;margin:15px 15px 0 10px;padding: 0;}
.login-drop li{display:inline-block;padding:5px 10px;/* border-left:1px solid #c5c5c5; */
}
.login-drop li li{width:100%;}
.login-drop .dropdown.open{ background-color:#444;}
.login-drop .dropdown.open a{color:#fff;}
.login-drop .dropdown-menu{ background-color:#038695}
.login-drop .dropdown-menu li{padding:0;border-left:0px solid red;}
.login-drop .dropdown-menu li a{color:#fff;width:100%;}
.login-drop .dropdown-menu li a:hover{background-color:#0ca8ba;}

.quick-links{margin:0;}
.quick-links li{padding: 7px 10px;}
.quick-links a{padding:0}
.quick-links .dropdown-menu{min-width:300px;	}
.quick-links .dropdown-menu li{	width:48%;float:left;margin:0px 1%;}
.quick-links .dropdown-menu a{}
.footer-banner{max-width:100%;margin-top:15px;}


.date-block{font-family: arial;width:44px;float:left;border-radius:6px;border:1px solid #ffe0cb; text-align:center;padding:6px;margin:0 10px 10px 0; background-color:#fff3e4;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fff3e4+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fff3e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fff3e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fff3e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fff3e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fff3e4 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#fff3e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff3e4',GradientType=0 ); /* IE6-9 */
}
.date-block.pdf-block {width: 40px;padding: 0px 4px;margin: 0 10px 8px 0;}
.pdf-block img{margin:6px 5px;}
.date-block .date{ font-size:20px;font-family: arial;color:#E36C1A;line-height: 10px;}
.date-block .month{color:#000;}
.date-block .year{line-height:12px;}
.facebook{ background-color:#5d9cec}
.twitter{ background-color:#4fc0e8}
.g-plus{ background-color:#ee5567}
.facebook:hover{ background-color:#4b89dc!important}
.twitter:hover{ background-color:#3aafda!important}
.g-plus:hover{ background-color:#db4453!important}

.bottom-slider{	margin:18px 0 0 0;padding:0;border:1px solid #C6C6C6;}
.bottom-slider li{border:2px solid #e4e5e7;padding:5px;min-height:245px;width:183px !important;float:left;}
.bx-viewport{}
.bottom-slider li h2{text-align: center;color: #e36c1a;font-size:14px;}
.bottom-slider li p{font-size: 12px;margin: 0 1% 14px;}
.bottom-slider li a{float:right;font-size:13px;}
.bottom-right img{width:100%;margin-bottom:3px;}
.bottom-right  {margin-top:20px; }
.bx-wrapper{max-width:100% !important;margin:18px!important;}
.block-content1{clear: both;}
.block-content1 p{clear:both;}
.boxscroll1{height:330px;padding: 10px;margin: 0px 2px;}

.lineage{ font-size:12px;color:#c2c2c2;clear:both; text-align:center;margin:10px;border-top:1px solid #6c6c6c;}

.ap-profile{border:1px solid #C1BFBF;margin-top:20px;border-top:0px solid red;}
.ap-profile .section-head, .ap-initiative .section-head{background-color: #3FABCF;}
.ap-profile img{background-color: #3FABCF;
margin: 18px auto;
border-radius: 50%;
width: 140px;
height: 140px;
padding: 20px;
display: block;}
.ap-profile ul{list-style:none;padding:0;}
.ap-profile ul li{border-bottom:1px solid #C1BFBF;margin:10px;}
.ap-profile ul li .left-span{ font-weight:bold;width:150px;display:block;float:left;}
.map{max-width:100%;}

.downloads{margin-top:20px;}
.downloads ul{margin-bottom:0px;border-top:0px solid red; list-style:none;}
.downloads .section-head{background-color: #208db1;}
.downloads li {margin-bottom:15px; list-style-type:decimal;margin-left:20px;min-height:50px;}
/*.downloads li a {
	color: #E36C1A;
	background: url(../images/download-icon.png) top right no-repeat;
	display: block;
	padding-right: 18px;
}
*/
.smart-village{margin-top:20px;}
.smart-village .section-head{background-color:#E36C1A;}

.andra-map{width:75%;float:right;position:relative;}
.andra-map svg{width:100%;height:500px\9;}
.andra-map a{text-decoration:none;}
.district-links{margin-top:20px;width:25%;float:left; border-bottom:1px solid #c4e7eb;background-color:#ecfdff;}
.district-links a{display:block;padding: 10px;border-top:1px solid #c4e7eb;}
img{max-width:100%;}
.andra-map a:link rect{display:none;}
.andra-map title{border:1px solid red;}
.district-details{border-radius: 4px;border:1px solid #B9B8B8; background-color:#E4E4E4; font-size:12px;padding:5px;width:250px;position:absolute;display:none;}
.district-details p{margin-bottom:3px;}

#a-anantapur{top:60%;left:25%;}
#a-chittoor{top:75%;left:45%;}
#a-cuddapah{top:60%;left: 36%;}
#a-nellore{top: 64%;left: 48%;}
#a-kurnool{top: 49%;left: 31%;}
#a-guntur{top: 39%;left: 54%;}
#a-prakasam{top: 48%;left: 47%;}
#a-westgodavari{top: 35%;left: 11%;}
#a-krishana{top: 45%;left: 8%;}
#a-vishakhapatnam{top:18%;left:22%;}
#a-eastgodavari{top: 30%;left: 18%;}
#a-srikakulam{top:9%;left:41%;}
#a-vizianagaram{top:9%;left:35%;}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/back-to-top.png) 0 0 no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.5;
}
.cd-top.cd-is-visible:hover {
  opacity:1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

.members-list{margin-top:15px;}
.profile-list-header, .profile-list{width:100%;float:left;/* word-break:break-all;*/}
.profile-list-header{ background-color:#E36C1A;color:#fff;font-weight:bold;margin-top:15px;}
.panel-body .profile-list-header{margin-top:0px;}
.photo, .minister-name,.portfolio, .details,.contact-details, .portfolio-40, .col-25, .col-50,.col-60,.col-70, .col-75, .col-20, .col-30, .col-10, .col-40{float: left;padding:10px;}
.photo{width:15%;}
.minister-name{width:25%;}
.portfolio{width:30%;}
.portfolio-40{width:40%;}
.col-10{width:10%;}
.col-20{width:20%;}
.col-25{width:25%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-50{width:50%;}
.col-60{width:60%;}
.col-70{width:70%;}
.col-75{width:75%;}
.details{width:30%;}
.contact-details{width:40%;}
.portfolio-40 ol{padding: 0 0 0 18px;}
.profile-list.alt{ background-color:#f2f4f4;}
.list-styles{ background-color:#f1f1f1}
.list-styles td{padding:10px;}
.department-header-list{
	background-color:#0cb6c9 ;color:#fff;margin:15px 0;padding:8px;
}
.department-header-list h2{
	font-size:18px;
	padding:0px;
	margin:0px;
}
.profile-list-header.header{
	background:#bbbdbd !important;
}
.headding{
 
    padding: 10px;
width:100%;
margin-bottom:6px;
}
.department-header{ background-color:#E36C1A;color:#fff;margin-top:15px;padding:8px;}
.department-list .department-name, .department-list .portfolio, .department-list .details{width:33.3%;float: left;padding:10px;}
.department-list{border-bottom:1px solid #E5E4E4;}
.department-list.header{ background-color:#f2f4f4;}

.profile-block h2, .profile-block h4{margin-top:0;}
.profile-block h2{font-size:20px;}
.profile-block ul{padding:0;}
.profile-block li{border-top:1px solid #c5c5c5;float:left;width:100%; list-style:none;}
.profile-block li dt, .profile-block li dd {float:left;padding:5px;}
.profile-block li dt{width:40%;}
.profile-block li dd {width:60%;}
.first-para{margin-top:15px;}

.nav-tabs li, .nav-tabs li a{border:0px solid red;}

#all > ul {list-style: none;float: left; width:50%; padding: 0 10px 0 0;}
#all a { text-decoration: none; display: block; padding: 10px;background: #38AC5E; border-radius:4px; color: white;text-align: center;margin: 0 0 5px 0; -webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;}
 #all:hover a {opacity: 0.2;}
#all:hover ul:hover a {opacity: 0.5;}
#all:hover ul:hover a:hover {opacity: 1;background: #38AC5E;}

.bx-prev{background:#fff url(../images/previous.png) 0 0 no-repeat;}
.bx-next{background:#fff url(../images/next.png) 0 0 no-repeat;}

.org-list{margin-top:15px;}
.org-list ul{list-style: none;float: left; width:50%; padding: 0 10px 0 0;}
.org-list.coloumn-2 ul{width:100%}
.org-list.coloumn-2 ul li{width:48%;float: left;margin-right:2%;}
.org-list a { text-decoration: none; display: block; padding: 10px;border-radius:4px; color: #444;text-align: center;margin: 0 0 5px 0;border:1px solid #d8d5d5;}
.org-list a:hover { background-color:#38AC5E ; color:#fff;border:1px solid #38AC5E;}
.right-col .org-list{margin-top:15px}
.right-col .org-list ul{width:100%;}
.org-list .panel-body a { text-align:left;}

.photos-list a, .videos-list a{text-align:left;padding-left:50px;}

.GAD-list ul{width:100%;}
.GAD-list ul li{ background:url(../images/pdf.png) 10px 8px no-repeat;}
.org-list.GAD-list a:hover { background:#38AC5E url(../images/pdf-hover.png) 8px 8px no-repeat; color:#fff;border:1px solid #38AC5E;}

.org-list .panel-heading a{margin:0;border:0px solid #D8D5D5;padding-left:16px;text-align: left;}
.org-list .panel-body .pdfs a{text-align: left;}
.org-list .panel-heading a:hover{ background: none;color:#444;}

.org-list.GAD-list{margin-top:15px;width:100%;}
.org-list.GAD-list a{text-align:left;padding-left:45px;}
.org-list.photos-list a{background:#fff url(../images/photo-icon.png) 8px 4px no-repeat;}
.org-list.photos-list a:hover{background:#38AC5E url(../images/photo-icon-hover.png) 8px 4px no-repeat;}
.org-list.videos-list a{background:#fff url(../images/video-icon.png) 8px 4px no-repeat;}
.org-list.videos-list a:hover{background:#38AC5E url(../images/video-icon-hover.png) 8px 4px no-repeat;}

.GAD-list p{margin-bottom:5px}

.select-service{margin-top:15px;}
.select-service select{padding:6px;}
.service-links{margin-top:20px;}
.service-links .panel-heading {
    background: transparent linear-gradient(to bottom, #EDEDED 8%, #DDD 95%) repeat scroll 0% 0%;
}

.entry-content{margin-top:15px;}


a.tip-pop {outline:none; }
a.tip-pop strong {line-height:30px;}
a.tip-pop:hover {text-decoration:none;} 
a.tip-pop span { z-index:10;display:none; padding:14px 20px;margin-top:-30px;margin-left:28px;width:300px; line-height:16px;}
a.tip-pop:hover span{display:inline; position:absolute; color:#111;border:1px solid #DCA; background:#fffAF0;}
a.tip-pop span{border-radius:4px;}

.history-tabs{margin-top:15px;}

.panel-body h4{margin:0;}
.history-links{margin-top:15px;}

.history-tabs .panel-heading {
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top, #ededed 8%, #dddddd 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ededed), color-stop(95%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ededed 8%,#dddddd 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ededed 8%,#dddddd 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ededed 8%,#dddddd 95%); /* IE10+ */
background: linear-gradient(to bottom, #ededed 8%,#dddddd 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */}

.history-tabs .panel-body a{ display:inline-block;padding:10px;float:left; background-color:#38AC5E;color:#fff;margin:0 15px 5px 0; text-decoration:none;border-radius:4px;}

.pdfs a{padding-left:45px!important; background:url(../images/pdf.png) 10px 8px no-repeat transparent!important;color:#444!important;width:100%;margin:10px 0 0 0!important;border:1px solid #d8d5d5;text-align: left;}
.pdfs a:hover{ background-color:#289057!important;color:#fff!important;}

/*  top whats new styles */
.what-new-bg{background-color: #FFF;
height: 100%;
display: block;
float: left;
width: 100%;}
.what-new #myCarousel{background-color:#fff;padding:10px 8px;border-top:4px solid #f15305;color:#2295A2;}
.vertical .carousel-inner {
  height: 100%;
}
.fl-right{float:right;padding-right:10px;padding-bottom:10px;}
hr{
 clear: both;
}
.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {left: 0;}
.carousel.vertical .item p {margin: 0;}

p{ text-align:justify;}
.star{color:#ad0303; font-size:30px;line-height: 4px;}
.policies li{margin-bottom:10px;}
.policies li ul{margin:10px;}
.table-style tr{border-bottom:1px solid #DDD;}
.table-style td{padding:8px 0;}
.accordion2 .panel-heading a{margin-bottom:0!important;background-color: #fff!important;color:#444;}
.accordion2 .panel-heading a .glyphicon-chevron-up, .accordion2 .panel-heading a .glyphicon-chevron-down{color:#8c8c8c;    font-size:10px;}
.accordion2 .profile-list-header.header {background-color:#E36C1A !important;color: #fff;}
.news-link a{ display:block;padding:10px 0;}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #2295A2;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background-color:  #116a74;
}
.section-two{margin-top:20px;}
.post-small-content{font-size:12px!important;}
.iframe-scroll{overflow-x:scroll;}
.search-link{float: left;width: 100%;border-bottom: 1px solid #DDD;padding: 15px 0;}
.search-link h4{margin: 0px 0 5px 0;}
.search-link p{margin-bottom: 0px;}
.search-link p a{float:right;}

hr{margin:12px 0;}
.email-address{ word-break:break-all}
.cat-post-item{list-style:none!important;}
.footer-widget.footer-4 h1{display: none;}
.mtphr-dnt-title{display:none}


@media(min-width:768px) {
.container, .footer {padding: 0px;
	width: 100%;
	margin: 0px auto;
	max-width: 1200px;background-color:#fff;
}
.container{padding:0px;}
.main-container{margin:0 20px;}
.navbar-nav.navbar-right:last-child {
	margin-right: 0px;
}
}@media(max-width:340px) {
.search-block {margin:18px 5% 10px!important;}
}

@media(max-width:360px) {
.navbar > .container .navbar-brand {width: 25%;float:left;}
.navbar > .container .logo-text {width: 67%;font-size: 22px;}
.logo-text span {font-size: 11px;}
.navbar-brand img {max-width: 100%;}
}

@media(max-width:760px) {
.block {width: 100%;float: left;clear: both;}
.navbar-brand img {width: 70px;}
.navbar > .container .navbar-brand {width: auto;}
.carousel-caption p {display: none;}
.other-links-block {padding: 0px;text-align: center;}
.other-links-block li {width: 77px;margin: 10px 5px;float: none;display: inline-block;}
.footer .col-lg-2 {width:100%;float: left;}
.footer ul {padding-left: 10px;}
.footer .col-lg-2:nth-child(3), .social-block {clear: both;}
.post-small{width:100%;}
.navbar{margin-bottom:0;}
header.carousel {height: auto;}
.carousel-inner img {max-width:100%;}
.banner .col-lg-7{padding:0}
.profile{display:none;}

.login-drop {float:left;margin-top:2px;}
.login-drop li {padding:0px 0 0 10px;border-left: 0px solid #C5C5C5;}
.login-drop li.share-links-top{display:none;}
.navbar-collapse .nav li{ border-bottom: 1px solid #2295A2;}

.padding-left-none, .padding-right-none, padding-none{padding:0;}
.bottom-right img{max-width:100%!important;}
.b-link {width:100%;margin:10px 0 0 0;}
.pol-links-cont, .other-links-block, .employment{height:auto;overflow:hidden;}
.bx-wrapper {margin: 0 !important;}

.container.section-two {padding: 15px 15px 0px;}
.gov-info, .ap-profile, .downloads, .other-links-block, .csr-activities, .ap-initiative, .c-establish, .employment, .bottom-right{margin-top:15px;}
.other-links-block ul {margin: 0px;}

.navbar-right .dropdown-menu {}
.navbar-inverse .navbar-nav .open .dropdown-menu > li{background-color: #15a0b0;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #fff;}
.web-links{position:absolute;top:130px;right:10px;z-index:9999;background-color:transparent;}
.web-links a {padding: 0px 0 0 10px;font-weight:normal;}
.login-drop {margin-top: 0;}

.glance{width:90%;margin:10px 5%;}
.inner-content {padding:15px 15px 0 15px;overflow: hidden;margin: 0;}
.inner-content .gov-info {margin:15px 0 0 0;}

.district-links, .andra-map{width:100%;}

.what-new #myCarousel {margin:0;clear: both;}
.what-new {margin: 0 15px;}
.pol-links-cont {width: 100%;}
/*.pol-links-cont .bx-viewport{padding:10px;}*/
.invest-content p {margin: 10px !important;}
.invest-content{margin-bottom:15px;}
.invest-content h2 {margin:10px;font-size: 20px;}
.invest-link {text-align: center;width: 100%;margin-top:50px;}
.blue-bar {margin-top:70px;}
.inner-content h1 {font-size: 14px;}

.photo {width: 25%;}
.minister-name, .portfolio, .details {width: 75%;float: right;}
.org-list.coloumn-2 ul, .org-list ul{padding:0;}
.org-list.coloumn-2 ul li { width:100%;}
.page-name{font-size: 18px!important;display: block;margin-top: 10px;}
.institution-block {width:100%;}

.col-40, .col-20{padding: 0px 0px 5px;width:100%;}

.department-list .department-name, .department-list .portfolio, .department-list .details{width:100%;padding:5px 5px 0 5px;}
.navbar-inverse .navbar-toggle {position: absolute;top: 10px;right: 10px;margin: 0px;}

}

@media(max-width:761px) {
.navbar-fixed-top {position: relative;}
body {padding-top: 0;}
.size-controls {display: none;}
.search-block {width: 90%;margin:30px 5% 10px;}
.press-releases, .gov-info {clear: both}
.highlight ul, .press-releases ul, .gov-info ul {border-left: 1px solid #D0D0D0;}
}

@media(max-width:800px) {
.post-small-content, span.heading{display:block;clear:both;}
.profile-block h2{font-size: 24px;}
}

@media(min-width:761px) and (max-width:1000px) {
body {padding-top: 148px;}
.block {width: 50%;float: left;height: 300px;}
.container{width:760px;}
.logo {display: block;position: relative;z-index: 999;}
.logo, .search-block {width: 50%;float: left;margin: 0;}
.search-block {width: 300px;}
.versions, .size-controls {width: 25%;float: left;}
.logo img {width: 80px;}
.search-block form {margin: 15px;}
.search-block input[type="submit"] {top: 15px;right: 15px;}
.navbar-inverse .navbar-nav > li > a {font-size: 12px;padding:8px 6px;}
.caret {margin-left: 8px;}
.navbar-nav.navbar-right:last-child {margin-right:-5px;}
.banner .col-lg-8 {width:100%;padding:0;}
.banner-right.col-lg-4 {width:100%;padding: 0;margin-top: 20px;}
header.carousel {height: 204px;}
.profile {width: 50%;}
.profile.second, .connect.second {border-top:0px solid #D0D0D0;}
.p-content{margin: 10px;}
.banner-right-2 {width: 100%;}

.pol-links-cont, .block-content{height:auto;line-height:20px;overflow: hidden;}
.ap-profile ul li .left-span {width: 120px;}
.other-links-block li{width: 44%;}
.other-links-block li span{padding: 0px;}
.gov-info {height: auto;}
.bx-controls{width: 50%;float: right;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{width: 50%!important;}
.invest-content h2{font-size: 22px;}
.inner-content h1 span.page-name, h3, .h3 {font-size: 20px;}
/*table {word-break: break-all;}*/
.institution-block span.heading {padding: 0px 5px;}
.andra-map ,.district-links {width: 100%;}
.district-links a {width: 50%;float:left;}
}

@media(min-width:750px) and (max-width:1050px) {
	.logo{width:50%;display: block;position: relative;z-index: 99;}
	.navbar > .container .navbar-brand {width: 70px;}
	.nav > li > a {padding: 10px 12px;}
	.logo-text span {font-size: 13px;}
	.search-block form {margin: 0px;}
	.search-block{width: 260px;margin: 15px 15px 0px 7px;}
	.login-drop{width:162px;}
	.web-links a.connect-cm {padding: 10px 10px;}
	.login-drop.quick-links {width:135px;}
	.size-controls{width:184px;}
	.search-block input[type="submit"] {top: 0px;right: 0px;}
	.invest-link {margin-top: -60px;padding: 0px 10px;}
	.invest-link a{padding: 10px;}
	.bx-controls.bx-has-pager{margin-top: -34px;border: 1px solid #fff;}
	.other-links-block li span, body, .gov-info li a p{font-size: 11px;}
	.fill img{max-width:120%;}
	.invest-link {margin-top: 8px;}
}
.desaturated {
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
    -webkit-filter: grayscale(1) !important;
    -moz-filter: grayscale(100%) !important;
    -ms-filter: grayscale(100%) !important;
    -o-filter: grayscale(100%) !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
    filter: gray !important;
}


.blackurl, .desaturated.blackurl .a, .desaturated.blackurl  a:link, .blackurl  a:visited, .blackurl  a:hover, .desaturated.blackurl  a:focus, .desaturated.blackurl .logo-text,.blackurl .quick-links a, .blackurl .quick-links a.dropdown-toggle, .blackurl .gov-info li a p{color:#fff;}
.blackurl .invest-link a, .blackurl .invest-link a{color:#000;}
.blackurl {background:#000 !important;color: #fff;}
.blackurl  a:link, .blackurl  a:visited, .blackurl .gov-info li a p{color: #fff;}

.blackurl .accordion2 .panel-heading a:link, .blackurl .accordion2 .panel-heading a:visited, .blackurl .accordion2 .panel-heading a:hover, .blackurl .photos-list a{color: #000;}

.blackurl .inner-content h2.sub-heading, .blackurl .search-block input{color: #000;}

.blackurl .invest-link a{color:#000;}
.blackurl div{
	background:#000!important;	
}

.blackurl .footer{
	border-top:10px solid #000!important;
}
.blackurl  .blue-bar,.blackurl .section-head{
	border:1px solid #fff;
}

#ascrail2000{z-index:9999 !important}

.scrollgallery .thumbareaContent img {
  cursor: pointer;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
  width: 119px !important;
}

.scrollgallery .thumbareaContent {
  white-space: nowrap;
  text-align: center;
}

.scrollgallery .thumbarea {
  background: #fff!important;
  border-radius:0px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;

}

.scrollgallery .imagearea {
  border-bottom: thin solid #fff !important;
  margin: 0 0 53px;
  padding: 5px;
}

.scrollgallery .imageareaContent {
    margin-top: 10px;
}

.social-links{
 
  background: #fff;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0;
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 100;
 
}
.social-share a {
    padding: 8px 10px!important;
	display:block;
 
}
.social-share-links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#sc_calendar_title{
padding: 10px;
  background-color:#9dd7ea;
  color:  #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  }
  #sc_events_calendar_head{
  position: relative;
  
  }
  #sc_event_nav_prev{
  position: absolute;
  top: 5px;
  left: 10px;
  }
  #sc_event_nav_next{
  position: absolute;
  top: 5px;
  right: 10px;
  }
  #sc_calendar{
  padding: 10px;
  }
  .calendar{
  width:100%;
  }
  #sc_calendar_wrap{
  padding: 0px  10px 10px 10px;
  }
    .calendar th,   .calendar td{
	padding: 5px;
	background: #f5f2f2;
	border: 1px solid #fff;
	text-align: center;
	}
.thc-calendar-row .thc-calendar-day-head {
border-bottom: 1px solid #208db1;
padding: 4px;
}

.day-number a{
 color:#000;
text-decoration: none;
}
.today a{
background: #3eb573;
padding:5px ;
color: #fff;

}
.thc-highlight{
background: #980d0d;
padding: 5px 5px;
color: #fff !important;
text-decoration: none!important;
}
.sc_day_div .day-number:nth-child(2){display: none;}
.list-item-h{
padding-top: 10px;color:  #000;
}

.list-item-h a{
color:  #000;
text-decoration: none!important;
}
.list-item-h{
display: inline-block;
padding: 3px 5px;
}
.bottom-slider1{
clear: both;
padding: 10px 0 0 0 ;
}
.bottom-slider1 li {
    border: 2px solid #e4e5e7;
    float: left;
    
    padding: 2px;
    width: 280px !important;
}
.bottom-slider1  .bx-viewport {
    min-height: 75px;
}.bottom-slider1 .bx-wrapper {
    margin: 4px !important;
	margin-top: 20px!important;
  
}