*{
	margin: 0;
	padding: 0;
}
body{
	line-height: 1.6;
	font-size: 14px;
	font-family:  Microsoft YaHei,Arial, Helvetica,"\534E\6587\9ED1\4F53", sans-serif;
	background-color: #f5f5f5;
	color:#454545;
}
html{
	-webkit-text-size-adjust:none; 
}
html{
	font-size: 100px; 
}
body{
	font-size: 0.14rem;
}
ol,ul,li{
	list-style-type: none;
}
img{
	border:0;
	max-width:100%; 
	-ms-interpolation-mode: bicubic; 
	-moz-interpolation-mode:bicubic; 
	-webkit-interpolation-mode:bicubic;
}
a{
	text-decoration: none;
}
em, i, b{
	font-style: normal;
}
@font-face {
	font-family: "iconfont";
    src: url('iconfont.eot'); 
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), 
    url('iconfont.woff') format('woff'), 
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg'); 
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.layer_bg{
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: fixed;
	top:0;left:0;
	z-index:999;
}
/* 头部 */
.nav_top_161025{
	position:fixed;
	width:100%;
	background-color:#c70c0c;
	height:0.4rem;
	line-height:0.4rem;
	z-index:9999;

}

.nav_top_box_161025{
	padding:0 15px;
	position:relative;
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
 -ms-flex-pack: justify;
-webkit-justify-content: space-between;
        justify-content: space-between;
}
.nav_text_161025{
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-49%);
	        transform:translateX(-49%);
	color:#fff;
}
.index_box_161025{ margin-bottom: .05rem;;}
.nav_logo_161025 img{
	display:block;
	padding-top:0.08rem;
	width:0.63rem;
	height:0.25rem;
}
.nav_more_161025{
	position:relative;
}
.nav_more_161025 span{
	font-size:0.14rem;
	color:#fff;
}
.nav_more_161025 i{
	font-size:0.14rem;
	color:#fff;
	margin-left: .05rem;;
}
.nav_pop_161025{
	position:fixed;
	top:0.4rem;
	left:0;
	width:100%;
	display:none;
	z-index:999;
	border-bottom:1px solid #ccc;
}
.nav_pop_ul{
	position:absolute;
	width:33%;
	background-color:#fff;
	padding:5px 0;
	z-index:9999;
	display:none;
	text-align: center;
	right: 0;
}

.nav_pop_ul ul li a{
	display:block;
	padding:0.05rem 15px;
	color:#777;
	font-size:0.12rem;
}
.nav_more_162014{
	display:none;
}
.more_active{
	display:block;
}
.more_active{
	background-color:#eee;
}
.nav_pop_ul .nav_more_162014 a{
	padding-left:30px;
}

/* 头部 end */
/* 底部 */
.foot_161025{
	width:100%;
	position:fixed;
	border-top:1px solid #e5e5e5;
	left:0;
	bottom:0;
	background-color:#fff;
}
.foot_161025 ul{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.foot_161025 ul li{
	position:relative;
	text-align:center;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
}
.foot_161025 ul li a{
	display:block;
	padding:0.1rem 0;
	color:#313131;
}
.foot_161025 ul li a::before{
	content:'';
	position:absolute;
	width:1px;
	height:0.2rem;
	right:0;
	top:0.12rem;
	background-color:#e5e5e5;
}
/* 底部 end */ 

.banner_1161025{
	padding:0 15px;
	padding-top:0.5rem;
	overflow:hidden;
	margin-bottom:0.075rem;
}
.banner_1161025 .swiper-container{
	width:100%;
	height:1.67rem;
}
.banner_1161025 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.banner_1161025 .swiper-slide img{
	width:100%;
}
.main_161025{
	padding:0 15px;
	padding-bottom: 0.5rem;
}
.index_tit_161025{
	padding:0.05rem 0;
	margin-bottom:15px;
	border-bottom:1px solid #db1014;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
 -ms-flex-pack: justify;
-webkit-justify-content: space-between;
        justify-content: space-between;
}
.index_tit_161025 h3{
	font-size:0.14rem;
	color:#db1014;
}
.index_tit_161025 a{
	font-size:0.12rem;
	color:#878787;
}
.index_item_161025{
	border-bottom:1px solid #d0d0d0;
	/* margin-bottom:15px; */
}
.index_item_161025:last-child{ border-bottom: none;}
.index_item_161025 dl{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin:10px 0;
}
.index_item_161025 dl dt{
	width:1.02rem;
	height:0.9rem;
	margin-right: 0.05rem;
}
.index_item_161025 dl dt img{
	width:1.02rem;
	height:0.9rem;
}
.index_item_161025 dl dd{
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	        height: .9rem;
	        overflow: hidden;
}
.index_item_161025 dl dd a{
	display:block;
	height:0.4rem;
	line-height:0.2rem;
	width:100%;
	overflow:hidden;
	font-size:0.13rem;
	color:#000;
	margin-bottom:0.05rem;
}
.index_item_161025 dl dd p{
	color:#b5b5b5;
	font-size:0.12rem;
	line-height:0.16rem;
}
.index_item_161025 ul{
	overflow:hidden;
	margin-bottom:8px;
}
.index_item_161025 ul li{
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
 -ms-flex-pack: justify;
-webkit-justify-content: space-between;
        justify-content: space-between;
     height:0.2rem;
     overflow:hidden;
}
.index_item_161025 ul li a{
	color:#2e6e9e;
	font-size:0.12rem;
	position: relative;
	width: 100%;
}
.index_item_161025 ul li em{    width: 70%;height: .2rem;
    overflow: hidden;
    float: left;
    display: inline-block;}
.index_item_161025 ul li i{
	color:#b5b5b5;
	font-size:0.12rem;
	float: right;
}
.index_zz_161025 img{
	width:100%;
	height:auto;
	min-height: 0.8rem;
}
.index_item_mp3{
	margin-bottom:15px;
}
.index_item_mp3 img{
	width:100%;
}
.main_pc { display: none; }
.main_wap { display: block; }