*{
	margin: 0;
	padding: 0;
}
body{
	line-height: 1.6;
	font-size: 14px;
	font-family: 'microsoft yahei';
	background-color: #f5f5f5;
	color:#454545;
}
ol,ul,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
em, i{
	font-style: normal;
}
@font-face {
	font-family: "iconfont";
    src: url('iconfont.eot'); 
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), 
    url('iconfont.woff') format('woff'), 
    url('iconfont.ttf') format('truetype'),
    url('iconfont.svg#iconfont') format('svg'); 
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.fl{
	float: left;
}
.fr{
	float: right
}
/*layer_bg*/
.layer_bg{
	display:none;
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: fixed;
	top:0;left:0;
	z-index:101;
}

.main_161024{
	width:1200px;
	margin:0 auto;
	min-width: 1200px;
	clear:both;
	overflow: hidden;
}
.auto_161024{
	min-width: 1200px;
	margin:0 auto;
}
.m1200_161024{
	width:1200px;
	min-width: 1200px;
	margin:0 auto;
}

.top_161024{
	margin:0 auto;
	background-color: #fff;
}
.top_head{
	width: 1200px;
	position: relative;
}
.logo_161024{
	text-align: center;
}
.top_lang_161024{
	position: absolute;
	right:0;
	top:24px;
}
.top_lang_161024 p{
	height: 16px;
	line-height: 16px;
	width: 106px;
	clear:both;
	margin: 9px;
}
.top_lang_161024 p a{
	color:#1e1e1e;
}
.top_lang_161024 p img{
	display: block;
	float: left;
	margin-right: 8px;
}
.top_lang_161024 p em{
	float: left;
}
.top_lang_161024 p a:hover em{
	color:#e64f18;
}
.nav_161024{
	width:100%;
	height: 52px;
	line-height: 52px;
	background-color: #ca0010;
	margin-bottom: 25px;
}
.nav_active{
	position: fixed;
	left: 0;
	top:0;
	z-index: 999;
}
.nav_box_161024{
	position: relative;
}
.nav_161024 ul li{
	width:150px;
	text-align: center;
	float: left;
	line-height: 52px;
}
.nav_161024 ul li a{
	display: block;
	font-size: 18px;
	font-family: '微软雅黑';
	color:#fff;
	line-height: 52px;
}
.nav_161024 li.active a{
	background-color: #a90e11;
}
.nav_161024 li a:hover{
	background-color: #e20202;
}
.nav_161024 li.hd_161024{
	width:auto;
	margin-left: 20px;
	line-height: 58px;
}
.nav_161024 li.hd_161024 a{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding:0 18px;
	background-color: #e46406;
	border-radius: 4px;
}
.nav_161024 li.hd_161024 a:hover{
	background-color: #ec6b0d;
}
.nav_161024 li.nav_up_162014  i{
	position: absolute;
	color:#fff;
	font-size: 30px;
}
.nav_161024 li.nav_up_162014 dd a{
	background: none;
}
.nav_more_162014{
	position: absolute;
	left:0;
	top:52px;
	width:100%;
	background-color: #fff;
	display: none;
	z-index: 999;
	box-shadow:rgb(204, 204, 204) 1px 0px 5px;
}

.nav_161024 .nav_more_162014 a{
	color:#222;
}
.nav_161024 .nav_more_162014 a:hover{
	background: none;
	color:#e20202;
}
.nav_161024 .nav_more_162014 dl{
	margin:0 30px;
	border-bottom: 1px solid #EFEFEF;
	clear: both;
	overflow: hidden;
}
.nav_161024 .nav_more_162014 dd{
	float: left;
}
.nav_161024 .nav_more_162014 dd a{
	display: block;
/*	width: 148px;*/
	padding: 0 35px;
	text-align: center
}

/*首页轮播*/
.banner_161024{
	width:822px;
	height: 370px;
	overflow: hidden;
}
.xmSlide {
	background-color: #022c5e;
	position: relative;
}

.xmSlide-pagination {
	position: absolute;
	right:40px;
	bottom: 30px;
	padding-top: 10px;
	text-align: center;
	height: 20px;
	z-index: 99;
}

.xmSlide-pagination li {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px;
}

.xmSlide-pagination li a {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-color: #ccd1d9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;

}
.xmSlide-pagination li a.active {
	background-color: #fff;
}

.xmSlide-control {
	overflow: hidden;
}
/*首页轮播 end*/
.login_161024{
	width:332px;
	height: 370px;
	background-color: #fff;
}
.login_161024_box{
	margin:15px 15px 0 15px;
	position: relative;
}
.login_hd_161024 .login-switch{
	position: absolute;
	right:0;
	top:0;
	width:43px;
	height: 43px;
	z-index: 9;
	cursor: pointer;
}
.login_hd_161024 .login-tip{
	position: absolute;
	right:55px;
	top:10px;
	width:139px;
	height: 22px;
	z-index: 9;
	background: url(../images/login/ts_icon.jpg) no-repeat;
	background-size: cover;
}
.login_hd_161024 .login-tip em{
	color:#e46406;
	padding-left: 26px;
}
.login_form_161024{
	padding-top: 65px;
	padding-left: 18px;
	padding-right: 18px;
}
#login_input_161024 .login-title{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 12px;
}
#login_input_161024  .login_input{
	position: relative;
	border:1px solid #e0d9db;
	height: 40px;
}
#login_input_161024  .login_input input{
	border:none;
	padding:0 15px;
	width:182px;
	background: none;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
#login_input_161024 i{
	position: absolute;
	right: 15px;
	top:4px;
	z-index: 9;
	font-size: 20px;
	color:#ded6d9;
}
#login_input_161024 .login_name{
	border-bottom: none;
}
.login_form_161024 .login_btn{
	margin-top: 18px;
	margin-bottom: 18px;
}
#login_input_161024 .login_btn a{
	display: block;
	height: 44px;
	line-height: 44px;
	line-height: :44px;
	overflow: hidden;
	position: relative;
	z-index: 3;
	background-color: #e20202;
	border-radius: 8px;
	text-align: center;
	color:#fff;
	font-size: 18px;
}
#login_input_161024 p{
	font-size: 12px;
	color:#000;
}
#login_wx_161024{
	text-align: center;
}
#login_wx_161024 p{
	margin-bottom: 10px;
}
#login_wx_161024 img{
	display: inline-block; 
	margin:0 auto;
	margin-bottom: 10px;
}
#login_wx_161024 span{
	text-align: left;
}
#login_wx_161024 p,
#login_wx_161024 span{
	display: block;
	font-size: 14px;
	color:#000;
}
.login_161024_user{
	/*border:1px solid #d9d9d9;*/
	overflow: hidden;
	clear:both;
}
.login_user_dl{
	height: 160px;
	border-bottom: 1px solid #f1f1f1;
	background: url(../images/login/user_bg.jpg) repeat-x;
}
.login_user_dl dl{
	padding:30px 20px 0 20px;
	clear:both;
	overflow: hidden;
}
.login_user_dl dt{
	float: Left;
}
.login_user_dl dt img{
	width: 100px;
	height: 100px;
	display: inline-block;
}
.login_user_dl dd{
	float: right;
	width:170px;
	position: relative;
}
.login_user_dl dd h3{
	font-size: 14px;
}
.login_user_dl dd p{
	line-height: 1.5;
}
.login_user_dl dd .btn{
	clear:both;
	overflow: hidden;
	margin-top: 10px;
}
.login_user_dl dd .btn a{
	width:77px;
	height: 22px;
	line-height: 22px;
	border:1px solid #ef1916;
	color:#ef1916;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
}
.login_user_dl dd .lgoin_out{
	position: absolute;
	right:0;
	top:0;
	z-index: 9;
	padding-bottom: 1px;
	border-bottom: 1px solid #c5c0b9;
	
}
.login_user_dl dd .lgoin_out a{
	color:#c5c0b9;
}
.login_user_dl dd .lgoin_out a:hover{
	color:#f01916;
}
.login_user_info{
	padding:24px 20px;
}
.login_user_info h3{
	font-size: 16px;
	margin-bottom: 10px;
}
.login_user_info h3 i{
	color:#f01916;
}
.login_user_info ul{
	clear:both;
	overflow: hidden;
}
.login_user_info li{
	line-height: 1.8;
}
.login_user_info li a{
	float: left;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	width:214px;
	color:#222;
}
.login_user_info li span{
	float: right;
	color:#bbb;
}
.login_user_info li a:hover{
	color:#e64f18;
}
.index_left_161024{
	width: 822px;
}
.index_tit_161024{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #db1014;
	
	clear:both;
	overflow: hidden;
	margin-bottom: 24px;
}
.index_tit_161024 span{
	color:#db1014;
	font-size: 18px;
	font-weight: bold;
}
.index_tit_161024 a{
	float: right;
	font-size: 14px;
	color:#878787;
}
.index_tit_161024 a:hover{
	color:#e20202;
}
.index_left_ul_161024{
	width:850px;
}
.index_left_ul_161024 li.index_left_li{
	float: left;
	width:402px;
	margin-right: 20px;
	height: 220px;
	margin-bottom: 20px;
}
.index_left_ul_161024 .index_box_top{
	clear: both;
	margin-bottom: 12px;
	overflow: hidden;
}
.index_left_ul_161024 .index_box_l img{
	display: block;
	width:158px;
	height: 134px;
}
.index_left_ul_161024 .index_box_r{
	width:226px;
	position: relative;
	height: 134px;
}
.index_left_ul_161024 .index_box_r h5{
	line-height: 22px;
	height:44px;
	overflow:hidden;
}
.index_left_ul_161024 .index_box_r h5 a{
	font-size: 14px;
	color:#454545;
}
.index_left_ul_161024 .index_box_r h5 a:hover{
	color:#e64f18;
}
.index_left_ul_161024 .index_box_r div{
	color:#777;
	height:44px;
	line-height:22px;
	overflow:hidden;
}
.index_left_ul_161024 .index_box_r p{
	position: absolute;
	left:0;
	bottom: 0;
	z-index: 3;
}
.index_left_ul_161024 .index_box_r p span{
	display: block;
	font-size: 12px;
	color:#afafaf;
	line-height: 22px;
}
.index_left_ul_161024 .index_box_bottom li{
	line-height: 22px;
	clear:both;
	overflow: hidden;
}
.index_left_ul_161024 .index_box_bottom li a{
	color:#2e6e9e;
}
.index_left_ul_161024 .index_box_bottom li a:hover{
	color:#e64f18;
}
.index_left_ul_161024 .index_box_bottom li em{
	float: left;
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	width: 285px;
}
.index_left_ul_161024 .index_box_bottom li i{
	float: right;
}
.index_right_161024{
	width:332px;
}
.index_right_161024 li{
	clear:both;
	overflow: hidden;
	height: 100px;
	margin-bottom: 16px;
} 
.index_right_161024 li .index_right_img img{
	width: 100px;
	height: 100px;
}
.index_right_161024 .index_right_info{
	width: 218px;
}
.index_right_161024 .index_right_info h5{
	height: 44px;
	overflow: hidden;
}
.index_right_161024 .index_right_info h5 a{
	font-size: 14px;
	color:#454545;
}
.index_right_161024 .index_right_info h5 a:hover{
	color:#e64f18;
}
.index_right_161024 .index_right_info span{
	display: block;
	color:#afafaf;
	font-size: 12px;
}
.index_right_161024 .index_right_info p{
	width: 100%;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-size: 12px;
	color:#777;
}
.index_zz_161024 img{
	width: 100%;
	height: auto;
	
}
.index_right_161024 .index_right_mp3{
	width: 332px;
	height: 228px;
}
.flink_161024{
	width: 100%;
	background-color: #ececec;
	padding:30px 0;
}
.flink_161024 .flink_tit{
	position: relative;
	height: 25px;
	line-height: 25px;
}
.flink_161024 .flink_tit h3{
	letter-spacing:12px;
	text-align: center;
	color:#232323;
}
.flink_161024 .flink_tit span{
	position: absolute;
	width:44%;
	top:12px;
	height: 1px;
	background-color: #bababa;
}
.flink_161024 .flink_tit span.flink_fl{
	left:0;
	width: 43%;
}
.flink_161024 .flink_tit span.flink_fr{
	right:0;
}
.flink_161024 ul{
	margin-top: 15px;
}
.flink_161024 ul li{
	display: inline-block;
	margin-right:17px;
	line-height: 26px;
}
.flink_161024 ul li a{
	color:#000;
}
.flink_161024 ul li a:hover{
	color:#e64f18;
}
/*底部*/
.foot_161024{
	width: 100%;
	background-color: #232323;
	padding-top: 58px;
	
	
}
.foot_top_161024{
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #424242;
}
.foot_logo_161024{
	float: left;
}
.foot_nav_161024{
	float: left;
	margin-left: 50px;
}
.foot_nav_161024 dl{
	width: 120px;
	float: left;
	padding-left: 30px;
	border-left: 1px solid #6b6b6b;
	min-height: 160px;
}
.foot_nav_161024 dl dt{
	margin-bottom: 5px;
}
.foot_nav_161024 dl dt a{
	font-size: 18px;
	color:#ebf8ff;
}
.foot_nav_161024 dl dd{
	line-height: 30px;
}
.foot_nav_161024 dl dd a{
	font-size: 14px;
	color:#ebf8ff;
}
.foot_nav_161024 dl dd a:hover{
	color:#e64f18;
}
.foot_wx_161024{
	float: right;
}
.foot_wx_161024 img{
	display: block;
	width: 121px;
	height: 121px;
}
.foot_wx_161024 p{
	text-align: center;
	line-height: 30px;
	color:#ebf8ff;
}
.foot_text{
	padding:20px 0;
	text-align: center;
}
.foot_text p{
	color:#f5f5f5;
	line-height: 24px;
}
.channal_box_top{
	margin-bottom:15px;
}
.channal_box_top dl{
	clear:both;
	height:190px;
}
.channal_box_top dl dt{
	float:left;
	width:395px;
	height:190px;
}
.channal_box_top dl dt img{
	width:100%;
	height:100%;
	display:inline-block;
}
.channal_box_top dl dd{
	float:right;
	width:395px;
}
.channal_box_top dl dd h3{
	height:50px;
	line-height:25px;
	overflow:hidden;
	margin-bottom:10px;
}
.channal_box_top dl dd h3 a{
	color:#454545;
}
.channal_box_top dl dd h3 a:hover{
	color:#f16c23;
}
.channal_box_top dl dd span{
	display:block;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
}
.channal_box_top dl dd span em{
	display:block;
	width:50%;
	float:left;
	color:#bbb;
}
.channal_box_top dl dd p{
	line-height:22px;
	height:85px;
	color:#777;
	position:relative;
}
.channal_box_top dl dd p a{
	position:absolute;
	right:0;
	bottom:-2px;
	color:#f16c23;
}
.channal_box_bottom ul{
	clear:both;
	overflow:hidden;
}
.channal_box_bottom ul li{
	margin-bottom:15px;
	width:48%;
	height:104px;
}
.channal_box_bottom_tit{
	margin-bottom: 10px;
}
.channal_box_bottom_tit em{
	display:inline-block;
	border:1px solid #f16c23;
	color:#f16c23;
	border-radius:3px;
	position:relative;
	z-index:3;
	padding:0 5px;
	margin-right: 5px;
}
.channal_box_bottom_tit a{
	color:#454545;
	font-size:16px;
	font-weight:bold;
}
.channal_box_bottom_tit a:hover{
	color:#f16c23;
}
.channal_box_bottom ul li p{
	color:#777;
	line-height:22px;
}

.index_left_ul_161024 .index_box_r .index_row_2{
	height:88px;
}

.main_wap { display: none; }
.main_pc { display: block; }
