/**
 * @file
 * CSS base styles for 2.5 version of theme
 *
 */
@charset "UTF-8";

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2.625em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;  
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h4 {
  font-size: 1.5em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
}

h5 {
  font-size: 1.25em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.3;
}

h6 {
  font-size: 1.125em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.4;
}

p {
  font-weight: 300;
  margin: .5em 0 1em;
}

#page-title .title {
  font-size: 2.625em;
  line-height: 1;
  margin: 0 0 .5em 0;
  padding: 10px 10px 20px;
}

dl, ol, ul {
  margin: .5em 0 .5em 0;
}

#masthead {
  min-height: 0;
  padding-top: 0;
  position: relative;
}

@media only screen and (min-width: 51em) {
  #masthead {
    padding-top: 45px;
  }
}

#identity {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
  position: relative;
  top: 0;
}

#identity-wrapper {
  background-color: transparent;
  max-width: 1170px;
}

#primary-menus {
  background: #eeb211 url("../images/bg-tile-primary-menus.png") repeat-y center center;
  position: relative;
  top: 0;
}

#utility {
  box-shadow: none;
  min-height: 45px;
  overflow: hidden;
  top: -135px;
}

#breadcrumb {
  background-color: #ffffff;
}

#breadcrumb li {
  font-size: .7em;
}

#breadcrumb li a {
  padding: 5px 15px 5px 5px;
}

#breadcrumb li a:link,
#breadcrumb li a:visited {
  color: #545454;
}

#breadcrumb li a:after {
  color: #545454;
  top: 10px;
}

#breadcrumb .row {
  background-color: #ffffff;
  border: none;
  padding: 10px 5px 10px;
}

.front #header-spotlight,
#header-spotlight {
  padding-top: 0;
}

.row {
  max-width: 1170px;
  padding: 0;
}

.block .block-body {
  padding: 0 5px;
}

.block .block-title-wrapper h4,
.block.block-views .block-title-wrapper h4 {
  color: #262626;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size:1.2em;
  font-weight: 700;
  line-height: 1;
  border-bottom: 4px solid #eeb211;
  text-transform: uppercase;
}

.promo-block .block-title-wrapper {
  padding: 0;
}

.promo-block .block-title-wrapper h4 {
  border: none;
}

.promo-block .block-body {
  padding: 10px;
}

.block.related-info-block .block-title-wrapper h4 {
  font-size: 1.1em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  padding: 5px;
}

.block.icon-alert-title .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-alert-title .block-title-wrapper h4:before {
  color: inherit;
  content: "\f06a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.icon-download-title .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-download-title .block-title-wrapper h4:before {
  color: inherit;
  content: "\f01a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.icon-info-title .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-info-title .block-title-wrapper h4:before {
  color: inherit;
  content: "\f05a";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.icon-link-title .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-link-title .block-title-wrapper h4:before {
  color: inherit;
  content: "\f14c";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.icon-institution .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-institution .block-title-wrapper h4:before {
  color: inherit;
  content: "\f19c";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.icon-mortar-board .block-title-wrapper h4 {
  padding: 5px;
}

.block.icon-mortar-board .block-title-wrapper h4:before {
  color: inherit;
  content: "\f19d";
  display: inline-block;
  float: none;
  font-family: "FontAwesome";
  font-size: inherit;
  font-weight: 300;
  margin: 0 6px 0 0;
  padding: 0;
}

.block.block-title-bg-gt-blue .block-title-wrapper {
  background-color: #00254c;
  padding: .65em 0;
}

.block.block-title-bg-gt-blue .block-title-wrapper > h4 {
  border: none;
  color: #ffffff;
  margin: 0;
}

.block.block-title-bg-gt-gold .block-title-wrapper {
  background-color: #eeb211;
  padding: 10px;
}

.block.block-title-bg-gt-gold .block-title-wrapper > h4 {
  border: none;
  color: #262626;
  margin: 0;
}

.block.block-title-bg-gray .block-title-wrapper {
  background-color: #545454;
  padding: 10px;
}

.block.block-title-bg-gray .block-title-wrapper > h4 {
  border: none;
  color: #ffffff;
  margin: 0;
}

.block.block-title-bg-black .block-title-wrapper {
  background-color: #262626;
  padding: 10px;
}

.block.block-title-bg-black .block-title-wrapper > h4 {
  border: none;
  color: #ffffff;
  margin: 0;
}

#primary-menus-wrapper {
  max-width: 1170px;
}

.node-unpublished {
  background: transparent url("../images/bg-unpublished-node.png") repeat center center;
}

.gtct-carousel-slide__overlay-image {
  max-width: 1170px;
}

.gtct-carousel-slide__title-static .gtct-carousel-slide__title-text {
  font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.gtct-carousel-slide__title-static .gtct-carousel-slide__summary-text {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media only screen and (min-width: 37.5em) {
  
  body.node-type-multipurpose-page .body {
    padding-bottom: 40px;
  }
  
  body.node-type-multipurpose-page .articles {
    margin-bottom: 40px;
    padding: 20px;
  }
  
  body.node-type-multipurpose-page .sidebar {
    padding-bottom: 40px;
  }
}

body.node-type-horizontal-landing-page .body-row,
body.node-type-horizontal-landing-page .block-row {
  padding: 20px 0;
}

body.node-type-horizontal-landing-page .body-row:first-child {
  padding: 10px 0 20px 0;
}

.front-page-title-hidden body.node-type-horizontal-landing-page #content .body-row .row-content,
body.node-type-horizontal-landing-page #content .row-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 10px;
}

body.node-type-horizontal-landing-page #main #page-title .title {
  max-width: 1170px;
  padding: 20px 10px;
}

body.node-type-horizontal-landing-page #main #content-lead .region,
body.node-type-horizontal-landing-page #main #content-close .region {
  max-width: 1170px;
  padding: 0;
}

@media only screen and (min-width: 51em) {
  
  body.node-type-horizontal-landing-page .body-row,
  body.node-type-horizontal-landing-page .block-row {
    padding: 40px 0;
  }
  
  body.node-type-horizontal-landing-page .body-row:first-child {
    padding: 0 0 20px 0;
  }
}

body.node-type-horizontal-landing-page #support div,
body.node-type-horizontal-landing-page #support ul.tabs,
body.node-type-horizontal-landing-page #support ul.action-links {
  max-width: 1170px;
}

body.node-type-vertical-landing-page .body-row,
body.node-type-vertical-landing-page .block-row {
  padding: 20px 0;
}

body.node-type-vertical-landing-page .body-row:first-child {
  padding: 10px 0 20px 0;
}

@media only screen and (min-width: 51em) {
  
  body.node-type-vertical-landing-page .body-row,
  body.node-type-vertical-landing-page .block-row {
    padding: 40px 0;
  }
  
  body.node-type-vertical-landing-page .body-row:first-child {
    padding: 0 0 20px 0;
  }
}

body.front-page-title-hidden.node-type-vertical-landing-page .body-row:first-child {
  padding: 20px 0;
}

@media only screen and (min-width: 51em) {
  
  body.front-page-title-hidden.node-type-vertical-landing-page .body-row:first-child {
    padding: 40px 0;
  }
}

