/* DigOut new design temp hotfix */
@import url("http://static.ekstrabladet.dk/misc/temp/df-digout_desktop.css");
/* /DigOut new design temp hotfix */

/* DigOut DrFront quickfix */
#front-53 .df-img-container .df-img-layer { background-image:none; display:none; height:0; position:inherit; width:0; visibility:hidden; }

.df-container-skin-digout-brown .digoutimg:before {
    content:none;
    top:0px;
    display:none;
    height:0px;
    left:0px;
    overflow:hidden;
    position:absolute;
    width:0px;
}
.df-img-container-inner {
    position:relative;
}
.drfront .bg-digout-gul a:link, .drfront .bg-digout-gul a:visited {
    color:#000;
}
#front-53 .article-extract {
    padding:0 0 8px 0;
}
#front-53 .article-extract.row-1 {
    border-top-width:2px;
    padding:0;
}
#front-53 .article-extract.row-3 {
    border-top-width:0;
}
.banner h1 {
    display:none;
}
.adtechWallpaper {
    top: 272px;
}
.frontpagewallpaper.adtechWallpaper {
    top: 221px;
}

/* Temp drfront, bg-color front fix */
.drfront .bg-black { background-color:transparent!important; }
.drfront .bg-green { background-color:transparent!important; }
.drfront .bg-orange { background-color:transparent!important; }

.gluedtotop {
    z-index: 49000;
}
.frontpage .listhead.listhead--ekstra.p-relative.is-list-ekstra.nomargin {
    color: #000;
}
/*
*/
.socialopening-text {
    display: none;
}
.audiencereport-ad {
    display: inline;
}
.inthemiddle,
#eb_fullBody {
    height: 0;
    overflow: visible;
}


.ekstra-wireframe .bg_eb-black {
    background: #000;
    color: #fff;
}
.ekstra-wireframe .block {
    display: block;
}
.ekstra-wireframe .link-box_imagecellDbl img {
    float: left;
    width: 75px;
}
.ekstra-wireframe .link-box_textcell {
    padding:0 10px;
}

.ekstra-wireframe .embedcontent {
    width: 730px;
}
iframe.widgetiframe,
.ekstra-wireframe iframe.widgetiframe,
.ekstra-wireframe iframe.ebembed,
.ekstra-wireframe iframe.works-embed {
    border: 0;
    width: 100%;
}
.ekstra-wireframe input,
.ekstra-wireframe textarea,
.ekstra-wireframe select {
    color: #000;
}


.ekstra-wireframe .ekstra-bodytext .embedcontent.block {
    float: none; display: block; height: auto; width: 730px;
}
.ekstra-wireframe .ekstra-bodytext .clipwebtv {
    display: block;
    width: 100%; height: 410px; padding: 0px;
}
.ekstra-wireframe .ekstra-bodytext .clipimageinner {
    display: block; height: 100%; width: 100%; position: relative;
}
.ekstra-wireframe .ekstra-bodytext .cliptvplayer .clipimageinner {
    position:absolute;
}
.ekstra-wireframe .ekstra-bodytext .clipimageinner iframe {
    width: 100%; height: 100%;
    border:0;
}

.top10 {
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
}

.top10 li {
  border-bottom: 1px solid #111;
  color: #999;
  font-size: 12px;
  padding: 10px;
}

.top10 .txt {
  font-size: 16px;
  font-weight: bold;
}

.top10 span {
  font-weight: normal;
}
.fs-italic {
  font-style: italic;
  font-family: "Titillium Web", Arial, sans-serif;
}
.fashion-author-img {
    background-size: 125px;
  }
/* Native skin Sand QuickFix */
.drfront .bg-native-sand .article-content {
    padding:0 6px;
    background-color:#cec4a6;
    color:#000;
}
.drfront .bg-native-sand a:link,
.drfront .bg-native-sand a:visited,
.drfront .bg-native-sand h3,
.drfront .bg-native-sand h3 a:link,
.drfront .bg-native-sand .subheading a:link,
.drfront .bg-native-sand h3 a:visited,
.drfront .bg-native-sand .subheading a:visited,
.drfront .bg-native-sand a.read-more-link:link,
.drfront .bg-native-sand a.external-link:link,
.drfront .bg-native-sand a.alternative-link:link,
.drfront .bg-native-sand .desktop a:hover,
.drfront .bg-native-sand .desktop  a.external-link:hover {
    color:#000;
}
.drfront .bg-native-sand .left,
.drfront .bg-native-sand .df-img-container,
.drfront .bg-native-sand .fullsize {
    margin:0 6px 0 -6px;
}
.drfront .bg-native-sand .right {
    margin:0 -6px 0 0;
}
.drfront .bg-native-sand .df-native {
    font-size:17px;
    font-weight:normal;
    display:inline-block;
    margin-top:6px;
    padding:1px 2px 1px;
    color:#fff;
    background-color:#84a8c4;
}


.tm-communcation {
    display: none;
}
.tm-communcation.js-visible {
    display: block;
}

.ekstra-header--teaser .header-logo-ekstra {
  transform: translateX(-465px);
}

.listimage--columnlist {
  display: block;
}
.listimage--standardlist {
  display: table-cell;
}
.listitem-ekstra.eb-row {
  width: 100%;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.333%;
}
.size1of4 {
  width: 25%;
}
.benefits-teaser-container.teaser-insight {
    transform: none;
}
.eblive-notification-container {
  opacity: 0;
}
.list-scroll {
  overflow-x: hidden;
}
.list-image-wrapper--half + .list-text {
  width: 50%;
}
/* DrFront v3 snippet fix */
#drfront_version_3 .df-article-content p img.fullsize {
    margin-left: -6px;
}
#drfront_version_3 .df-article-content h3 a img.fullsize {
    margin-left: -6px;
}
/* DrFront v3 EKSTRA fix */
#front-68-1 {
    overflow: hidden;
    padding-bottom: 10px !important;
}

.cb-expand:checked~.transition-expand, .transition-expand.expanded, .transition-expand.transition-expanded {
  max-height: 30050px;
}

.advertorials a {
  height: 130px;
}
