@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 800;
  src: local('Coda Heavy'), local('Coda-Heavy'), url(http://fonts.gstatic.com/s/coda/v11/XMn0_sSpx9PqyzpvTBBkaA.ttf) format('truetype');
}
