﻿body{
	font-family: '宋体'; background:#222121;
}
input,
select,
textarea{
	font-family: 宋体;
}
.wrap{
	width: 100%; max-width:1200px;
	margin: 0 auto;
	position: relative;
}




.f_left{ float:left;}
.f_right{ float:right;}

a:hover{ text-decoration:none; cursor:pointer;}
.ht2{ width:100%; height:2px;}


/*----------header----------*/
.header{

}

.menu{padding: 30px 0 80px 0;height:88px; line-height:88px;}
.menu_nav{ margin-left:20px;}
.menu_nav li{ float:left; position:relative;}
    .menu_nav li ul { position:absolute; top:60px; display:none; left:0;}
        .menu_nav li ul li { line-height:25px; }
.menu_nav li a{ padding:0 8px; font-size:14px;  color:#353535;font-family: '微软雅黑';}






/*----------mainer----------*/
.mainer{

}


.banner{ height:293px;}


        .mainer_menu{ width:740px; height:65px; position:relative; background:url(../img/menu.png) no-repeat center center; }
        .xuanhu{height:100%; line-height:65px; float:left; }
            .xuanhu a { display: block; font-family: '微软雅黑'; padding: 0 10px; background: url(../img/xuanhu.png) no-repeat center center; font-size: 18px; color: #fff; text-shadow: 1px 0px 2px #ff6a00; float: left; line-height: 65px; }
                .xuanhu a.xuanhu_a { background: url(../img/xuanhu_a.png) no-repeat center center; }
        .xuanqu{ width:350px; height:100%; float:left; margin-right:30px; line-height:32px;}
        .xuanqu ul li{ width:50%; float:left; text-align:center;}
            .xuanqu ul li a { color: #e4b76e;  }
                .xuanqu ul li a label{ padding:0 5px;}
                 .more { float: left; color: #e4b76e; }
                    .more a { color: #e4b76e; }
                     .more span { display: block; line-height: 32px; }
                        .more span label { padding: 0 10px; background: #484747; margin:0 2px; color:#fff;}
						.shuangx{ width:30px; height:15px; padding: 0 10px; background: #484747; margin:0 2px; color:#fff; border:0px;}
                         .more span img { vertical-align: middle; margin-right: 5px; }
                    .more a.a_enter { padding: 3px 15px; background: url(../img/a_btn.png) no-repeat center center; color: #5b2a02; }
        .beino { position: absolute; right: -200px; top: 0; width: 200px; height: 65px; font-size:14px; line-height: 65px; color: #fff; font-family: '微软雅黑'; }
        .div_contant{ width:100%; height:auto; background:#141414; }
        .div_left{ width:25%; float:left;}
        .game_start{ width:100%;}
            .game_start a { display:block; width:300px; height:99px; overflow:hidden;  position:relative; }
            .game_start img{ background:url(../img/start.png) no-repeat;  width:300px; float:left; height:99px; position:absolute; top:50%; left:50%;transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-webkit-transition:all 1s; -o-transition:all 1s; margin-left:-150px; margin-top:-50px;}
            .game_start a:hover img{ width:300px; height:99px; background:url(../img/start2.png) no-repeat; }
			
			a.g_star {width: 300px; height: 99px; background:url(../img/start.png) no-repeat; display: block; text-indent: -3000px;}
			a.g_star:hover {background:url(../img/start2.png) no-repeat;}
			
             .login_btn { width: 100%; }
                .login_btn a { display: block; width: 50%; background: url(../img/login_btn.png) no-repeat center center; height: 30px; line-height: 31px; color: #fff; float: left; text-align: center; color: #f8b66e;font-size:14px;transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-webkit-transition:all 1s; -o-transition:all 1s; }
                    .login_btn a:hover { opacity:0.8; filter:alpha(opacity=80) }    
                .login_btn a:hover img { transform:rotateY(360deg) }
                    .login_btn a img{ vertical-align:middle; margin-right:5px;transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-webkit-transition:all 1s; -o-transition:all 1s;}
                     .login_btn a.a_login { background: url(../img/login_btn.png) no-repeat right center; }
             .div_center { width: 50.5%; float: left; }
        .div_right{ width:24.5%; float:left;}


        .login{ width:96%; margin-left:2%; padding:10px 0; float:left; background:#141414;}

        .login table{ width:100%; }
            .login table tr td { border:5px solid #141414; line-height:25px; vertical-align:middle}
            .login table tr td.td1 { width: 75%; }
                .login table tr td input{ vertical-align:middle;}
                 .login table tr td input.input_txt { width: 98%; height: 25px; background: #42403f; border: 0; color: #787878; text-indent: 1em; }
        .a_login_btn { display: block; width: 60px; height: 55px; line-height: 55px; text-align: center; font-size: 14px; color: #d8cab0; text-shadow: 0px 3px 2px #111; font-weight: bold; float: right; background: url(../img/login.png);transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-webkit-transition:all 1s; -o-transition:all 1s; }
            .a_login_btn:hover { font-size:18px; }
        .login table tr td span { color: #a6a4a4; }
            .login table tr td span input{margin-right:10px;}
             .login table tr td span a { color: #e4b76e; }
            .login table tr td span label { color: #353525;padding:0 1px; }
        .a_download { display: block; width: 100%; text-align: center; line-height: 40px; background: url(../img/a_download.png) no-repeat center center; background-size: 100% 100%; font-size: 18px; color: #c7e3f7; font-family: '微软雅黑';; }
        .a_download img{ vertical-align:middle; margin-right:15px;}
        .div_banner{ padding:0 3px; height:304px; position:relative;}
        .div_banner ul li{ position:absolute; width:100%; height:100%; z-index:5}
        .div_bar{ position:absolute; bottom:10px; right:5px; z-index:10;}
        .div_bar a{ float:left; width:10px; height:10px; border-radius:10px; margin:0 1px; display:block; background:#262626}
        .div_bar a.on{ width:20px; background:#8b252c}
		
		
		
        .r_padd{ width:95%; margin:0 auto; background:#141414}
        .div_title { padding: 10px 0; color: #bdbcbc; }
         .div_title select { width: 100px; }
        .r_padd table { width: 90%; margin:0 auto; color: #bab9b9; }
            .r_padd table tr td { line-height: 30px; border-bottom: 1px dashed #1e1e1e; text-align: center; }
            .r_padd table tr td.td1{ height:15px; line-height:15px; border:0;}
            .r_padd table tr.t_head td { color: #ba9f6d; border-bottom:2px solid #3e3e3e;  font-size:14px;}
            .r_padd table tr td .span_red{ color:red;}
            .r_padd table tr.tr_last td { border:none;}
		
		#ts_td td{border-bottom:none}
		.r_padd table tr td{ line-height:28px; border-bottom: 1px dashed #1e1e1e; text-align: center; }
		.r_padd table tr td.td1{ height:8px; line-height:8px; border:0;}
		.qfzdl{width:155px;height:25px;color:#ba9f6d;font-family: '微软雅黑';background: url(../img/bn.png) no-repeat center center; margin:0 auto;text-align:center;line-height:25px;margin-top:10px;font-size:15px;display:block;}
		
        .div_cont{ }
         .span_tit { display: block; width: 100%; margin:0 auto; line-height: 40px; position: relative; }
            .span_tit .tit_more { position: absolute; font-size:12px; right: 15px; top:0; line-height:40px; display:block; width:40px; color: #959595; }
                .span_tit .tit_more img{padding-top:2px; margin-left:5px;}
                 .span_tit label { font-size: 21px ; text-indent:1em; display:block; font-family: '微软雅黑'; }
                  .span_tit ul { overflow:hidden;}
                  .span_tit ul li{float:left;}
                  .span_tit ul li a{ display:block; padding:0 20px; color:#9c9999; font-size:14px; font-weight:bold;}
                  .span_tit ul li a:hover{ background:#712228; color:#cececd}
                    .span_tit ul .on a { background:#712228; color:#cececd }
             .c_c2a672 { color: #c2a672; }

        .div_left1 { background: #2d2d2d; }


        .banner1{ width:100%; text-align:center; margin-top:10px;}
        .banner1 img{ border:3px solid #1c1c1c;}
        .ul_list{ width:90%; margin:0 auto; margin-top:15px;padding-bottom:15px;}
        .ul_list li a{ color:#9c9999; display:block; line-height:30px;}
        .ul_list li a span{ float:right;}
        .ul_list li a.on,.ul_list li a:hover{ color:#d81b1b}

        .ul_list.ul_border{ width:96%; float:right;}
        .ul_border li a{ border-bottom:1px dashed #1e1e1e; line-height:32px;  }
        .ul_border li.li_last a{ border:0;}
        .ul_border li a img{margin-left:5px;}
        .ul_list.ul_border span{ margin-right:5px;}

		.banner2{ text-align:center;}
        .banner2 img{ margin-top:12px;}
		/***新加的视频板块***/
        .div_center2 .tit_more{position: absolute;font-size: 12px;right: 15px;top: 0;line-height: 40px;display: block;width: 40px;color: #959595;}
        .left_mov{background: #111;}
/*
        .left_mov img{padding:15px;}
	.left_mov a{display: block;width: 120px;position: relative;top: -42px;float: left;left: 28px;color: #fff;font-size: 14px;font-family: '微软雅黑';background: url(../img/j.png) no-repeat right center;}
*/
        .left_mov a:hover{text-decoration: underline;}
        #right_mov{height:179px;}

		.slideGroup{text-align:left;  }
		.slideGroup .parHd{ height:50px; line-height:50px;position:relative;  }
		.slideGroup .parHd ul{ float:left; position:absolute;width:100%;height:50px;   }
		.slideGroup .parHd ul li{ float:left;cursor:pointer;font-size: 21px;color: #8d8d8d;line-height: 50px;font-family: '微软雅黑';}
		.slideGroup .parHd ul span{text-indent: 0;padding: 0 5px;font-size: 21px;display: block;font-family: '微软雅黑';float: left;height: 50px;line-height: 50px;color: #8d8d8d;}
		.slideGroup .parHd ul li.on{color:#e4b76e;}
		.slideGroup .parHd ul a{float:right;position: absolute;font-size: 12px;right: 15px;top: 0;line-height: 40px;display: block;width: 40px;color: #959595;}
		.slideGroup .slideBox{ overflow:hidden; zoom:1;padding: 15px 0 10px 60px;position:relative;   }
		.slideGroup .sPrev,.slideGroup .sNext{position: absolute;left: 18px;top:55px;display: block;width: 30px;height: 70px;color: #72736E;font-size: 50px;line-height:70px; }
		.slideGroup .sNext{ left:auto; right:18px;color: #72736E;  }
		.slideGroup .sPrev:hover,.slideGroup .sNext:hover{ color:#e4b76e;  }
		.slideGroup .parBd{height: 179px;background-color: rgb(45, 45, 45);}
		.slideGroup .parBd ul{ overflow:hidden; zoom:1;   }
		.slideGroup .parBd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; }
		.slideGroup .parBd ul li .pic img{ width:240px; height:145px; display:block;  padding:2px;}	
/***新加的视频板块end***/
        .banner2{ text-align:center;}
        .banner2 img{ margin-top:12px;}


        .div_contant1.div_contant{ background:none;}

        .span_tit2{ display:block; font-size:21px; color:#8d8d8d; line-height:50px; font-family:'微软雅黑'}
        .left_scroll{ height:290px; background:#141414; }
        .bar{ width: 18px; height:30px; margin-top:125px; cursor:pointer;  }
        .bar_left{ float:left; background:url(../img/bar_left.png) no-repeat center center;margin-left:10px;}
        .bar_right{ float:right; background:url(../img/bar_right.png) no-repeat center center;margin-right:10px;}
        .bar span{ display:block; width:100%; height:100%; background:#fff; filter:alpha(opacity=20); border-radius:2px; opacity:0.2}
        .bar span:hover{ background:red; opacity:0.3}
        .pic_scroll{ width:80%; height:250px; margin:0px auto; padding-top:20px; overflow:hidden; text-align:center;}
        .pic_scroll ul{ width:1000%; height:100%;}
        .pic_scroll ul li{float:left; width:100%; height:100%;}
        .pic_scroll ul li span{ display:block; color:#9c9999; font-size:14px;}

        .div_center2{ width:75%; float:left;}
        .div_cont2{ width:100%; height:290px;  overflow:hidden; background:#2d2d2d }

        .div_tag{ width:100%; margin:0 15px; position:relative;}
        .div_tag ul{ overflow:hidden; margin-bottom:10px; padding-top:15px; border-bottom:2px solid #3c3c3c; height:50px; width:50%; line-height:50px;}
        .div_tag ul li{ float:left; margin-right:20px; color:#727272;}
        .div_tag ul li img{ vertical-align:middle; margin-right:5px;}
        .div_tag ul li.on,.div_tag ul li:hover{ color:#d8ba62}
        .div_tag p label{ float:left;}
        .div_tag .div_tag_qh{ color:#9c9999;  line-height:30px; width:90%; }
            .div_tag .div_tag_qh img { position: absolute; right:0; top:0px; }
            .div_tag .div_tag_qh p { width: 50%;clear:both; }
        .div_tag p i{ display:block; float:left; width:13px; height:30px;margin:0 2px; background:url(../img/star.png) no-repeat center center;         }
        .div_tag p i.on{background:url(../img/star_on.png) no-repeat center center;}
         .div_tag p a{ padding:7px 10px; border:1px solid #e4b76e; }


         .left_scroll2{  background:#2d2d2d; width:90%; padding:10px 5%; height:270px; }
         .left_scroll2 ul{ padding-bottom:5px;}
         .left_scroll2 ul li{ line-height:25px; color:#8d8d8d;}
         .left_scroll2 ul li a{ padding:3px 5px; color:#fff; background:#b27d4d}
         .left_scroll2 table { width:100%;}
         .left_scroll2 table tr td{ width:50%; vertical-align:middle;}
         
         .div_ewm{ height:132px; width:100%; display:table; text-align:center;}
         .div_ewm img{ }
         .div_ewm p{ width:80%; line-height:30px; color:#9c9999; font-weight:bold; margin:0 auto; text-align:center;}
          .div_ewm p a{ color:red;}

          .div_table{ height:270%; width:100%; background:#141414}
          .div_table table{ width:100%;}
          .div_table table tr td.td1{ width:80px; font-weight:bold; background:#1c1c1c}
          .div_table table tr td.td1 span{ font-weight:100; font-size:6px; color:#3f3f3f}
          .div_table table tr td{ border-bottom:2px solid #222; height:95px; vertical-align:middle; color:#9c9999; text-align:center;}
          .div_table table tr td ul{padding:5px 0;  padding-left:10px; margin-left:10px; background:url(../img/ul_bg.png) no-repeat left center; overflow:hidden;}
          .div_table table tr td ul li{ float:left;}
           .div_table table tr td ul li a{ color:#9c9999}
           .div_table table tr td ul li label{  display:block; height:10px; background:#9c9999; width:1px; margin:1px 5px;}
          .span_tit2 .tit_more{ line-height:50px;}

          .span_tit2.span_tit ul li a{ padding:0; font-size:21px;  font-weight:100;}
          .span_tit2.span_tit ul li label{ text-indent:0; padding:0 5px;}
          .span_tit2.span_tit ul li a.on,.span_tit2.span_tit ul li a:hover{ background:none; color:#e4b76e;}
          .div_right .left_scroll2 ul { margin:0;}
           
          .div_right .left_scroll2 ul li a{ background:none; line-height:35px; border-color:#343434; color:#9c9999; padding:0;}
		  
		
		
/*----------footer----------*/
.footer{

}
.slides{position: absolute;overflow: hidden;height:900px;}
        .slides .hd{z-index: 1;height: 15px;overflow: hidden;position: absolute;top: 535px;right: 50%;margin-right: -600px;}
		.slides .hd ul{ overflow:hidden; zoom:1; float:left;}
		.slides .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#262626; cursor:pointer;display:block;}
		.slides .hd ul li.on{ background:#8B252C;}
		.slides .bd{ position:relative; height:100%; z-index:0;margin:0 auto;}
		.slides .bd ul{margin: 0 auto;}
		.slides .bd li{ zoom:1; vertical-align:middle; }
		.slides .bd img{display:block; text-align:center }
