/* REGULAR */

@font-face {
    font-family: 'Lato';
    src: url('lato-regular.eot?rev=1448266639');
    src: url('lato-regular.eot?rev=1448266639&#iefix') format('embedded-opentype'),
    url('lato-regular.woff2?rev=1448266639') format('woff2'),
    url('lato-regular.woff?rev=1448266639') format('woff'),
    url('lato-regular.ttf?rev=1448266639') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('./lato-italic.eot?rev=1448266639');
    src: url('./lato-italic.eot?rev=1448266639&#iefix') format('embedded-opentype'),
    url('./lato-italic.woff2?rev=1448266639') format('woff2'),
    url('./lato-italic.woff?rev=1448266639') format('woff'),
    url('./lato-italic.ttf?rev=1448266639') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* BOLD */

@font-face {
    font-family: 'Lato';
    src: url('./lato-bold.eot?rev=1448266639');
    src: url('./lato-bold.eot?rev=1448266639&#iefix') format('embedded-opentype'),
         url('./lato-bold.woff2?rev=1448266639') format('woff2'),
         url('./lato-bold.woff?rev=1448266639') format('woff'),
         url('./lato-bold.ttf?rev=1448266639') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./lato-bolditalic.eot?rev=1448266639');
    src: url('./lato-bolditalic.eot?rev=1448266639&#iefix') format('embedded-opentype'),
         url('./lato-bolditalic.woff2?rev=1448266639') format('woff2'),
         url('./lato-bolditalic.woff?rev=1448266639') format('woff'),
         url('./lato-bolditalic.ttf?rev=1448266639') format('truetype');
    font-weight: bold;
    font-style: italic;
}








