::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b9b9b9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b9b9b9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b9b9b9;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #b9b9b9;
}

.fancybox-overlay {z-index: 100005!important;}

.flash {z-index: 1;}
.notBar {z-index: 10005;}

/* pageskin */
.pageSkinTop,
.pageSkinLeft,
.pageSkinRight,
#pageskin_sabah_right {-webkit-transform-style: preserve-3d; -webkit-transform:translate3d(0,0,0);}

/*#pageskin_sabah_right,
#pageskin_sabah_left {top: 0!important;}*/

.topBanner,
.headBannerCover {/*height: 102px;*/ padding: 6px 0; position: relative; z-index: 5001; background: url('../i/top-banner-bg.jpg'); overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	body.gallDetail	.headBannerCover {width: 100%; position: fixed; top: 0; left: 0;}
	body.gallDetail.pageSkinFull .headBannerCover {top: 50px;}

.extra-navwrapper {margin-bottom: 10px;}

header {width: 100%; position: relative; z-index: 10004; background-color: #fff;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
		-webkit-transform-style: preserve-3d;
        -webkit-transform:translate3d(0,0,0);

}
	body.gallDetail header,
	body.sticky header {position: fixed; top: 0;}
	body.gallDetail header {top: 94px;}
	body.gallDetail.pageSkinFull header {top: 155px!important;}
	
	header:after {content: ''; width: 100%; height: 2px; position: absolute; top: 60px; left: 0; z-index: 1; background-color: #d11919;}
	header .topFrame {width: 100%; max-width: 1138px; height: 62px; margin: 0 auto; position: relative; z-index: 3;}
	header .topFrame .logo {width: 127px; display: block; margin: 0; padding: 0; float: left;}
	
	header .topFrame .menu {width: calc(100% - 140px); float: right;}
	header .topFrame .menu .arrow {bottom: 0; border: solid transparent; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(190, 23, 23, 0); border-bottom-color: #be1717; border-width: 10px; margin-left: -10px; opacity: 0;
		-webkit-transition: all .25s .25s ease-in-out;
		   -moz-transition: all .25s .25s ease-in-out;
		    -ms-transition: all .25s .25s ease-in-out;
		     -o-transition: all .25s .25s ease-in-out;
		        transition: all .25s .25s ease-in-out;
	}
	header .topFrame .menu.current .arrow {opacity: 1;}
	header .topFrame .menu > ul {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
		}
	header .topFrame .menu > ul > li {height: 62px; display: inline-block; -webkit-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; line-height: 60px;}
	header .topFrame .menu > ul > li > a {height: 62px; display: block; position: relative; font-family: 'Roboto Slab', serif; /*font-size: 15px;*/ font-size: 14px; color: #14233a; font-weight: 700; text-align: center; line-height: 62px; white-space: nowrap; cursor: pointer; transition:all 0.3s ease;}
	header .topFrame .menu > ul > li.desktop-none,
	header .topFrame .menu > ul > li .down,
	header .topFrame .menu > ul > li:first-child > a {display: none;}
	header .topFrame .menu > ul > li > a > .fa {margin-right: 3px;}
	header .topFrame .menu > ul > li > a > .fa.fa-line-chart {color: #098efb;}
	header .topFrame .menu > ul > li > a > .fa.fa-heart {color: #d11919;}
	header .topFrame .menu > ul > li > a .special-category,
	.menu.navobile-navigation > ul > li > a .special-category {height: 30px; margin-top: 16px; display: inline-block; vertical-align: top; padding:0 6px; position: relative; color: #fff; font-style: normal; line-height: 30px;}
	.menu.navobile-navigation > ul > li > a .special-category {margin-top: 6px;}
	header .topFrame .menu > ul > li > a .special-category.temmuz15 {padding:0 6px 0 32px; background: #dc230d url(../i/special-category.png?v2) no-repeat 0 1px;}
	header .topFrame .menu > ul > li > a .special-category.spor,
	.menu.navobile-navigation > ul > li > a .special-category.spor {background: #206602;}
	header .topFrame .menu > ul > li > a .special-category.magazin,
	.menu.navobile-navigation > ul > li > a .special-category.magazin {width: 72px; background: #93278f;
		-webkit-box-sizing: content-box;
		   -moz-box-sizing: content-box;
		        box-sizing: content-box;
	}
	.menu.navobile-navigation > ul > li > a .special-category.magazin {width: 92px;}
  	header .topFrame .menu > ul > li > a .special-category .eff1,
  	header .topFrame .menu > ul > li > a .special-category .eff2,
  	.menu.navobile-navigation > ul > li > a .special-category .eff1,
  	.menu.navobile-navigation > ul > li > a .special-category .eff2 {width: 100%; position: absolute; top: 0; left: 0; font-style: normal; background: #93278f; text-align: center;
  		-webkit-animation-name: magazineFadeInOut;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 4s;
		-moz-animation-name: magazineFadeInOut;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-iteration-count: infinite;
		-moz-animation-duration: 4s;
		-o-animation-name: magazineFadeInOut;
		-o-animation-timing-function: ease-in-out;
		-o-animation-iteration-count: infinite;
		-o-animation-duration: 4s;
		animation-name: magazineFadeInOut;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 4s;
  	}
	header .topFrame .menu > ul > li > a .special-category .eff1,
	.menu.navobile-navigation > ul > li > a .special-category .eff1 {
		-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
		-o-animation-delay: 2s;
		animation-delay: 2s;
	}
	header .topFrame .menu > ul > li > a .special-category .eff2,
	.menu.navobile-navigation > ul > li > a .special-category .eff2 {
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-o-animation-delay: 0s;
		animation-delay: 0s;
	}
	@-webkit-keyframes magazineFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@-moz-keyframes magazineFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@-o-keyframes magazineFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@keyframes magazineFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}
	header .topFrame .menu > ul > li > a .special-category2 {padding: 2px 10px; background: #d11919; color: #fff; font-style: normal; border-radius: 5px;}

	header .topFrame .menu > ul > li .sidebar,
	header .topFrame .menu > ul > li .search {display: block; position: relative; font-size: 18px; color: #14233a; text-align: center; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; cursor:pointer; transition:all 0.3s ease;}
	header .topFrame .menu > ul > li .sidebar i,
	header .topFrame .menu > ul > li .search i {width: 18px;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	header .topFrame .menu > ul > li .sidebar.show i {
		/*-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);*/
	}
	header .topFrame .menu > ul > li .sidebar.show i:before,
	header .topFrame .menu > ul > li .search.show i:before {content: '\f00d';}
	header .topFrame .menu > ul > li.selected a,
	header .topFrame .menu > ul > li .sidebar.show,
	header .topFrame .menu > ul > li .search.show,
	header .topFrame .menu > ul > li > a:hover,
	header .topFrame .menu > ul > li .sidebar:hover,
	header .topFrame .menu > ul > li .search:hover {color: #d11919;}
	header .topFrame .menu > ul > li > a:after,
	header .topFrame .menu > ul > li .search:after {content: ''; width: 0; height: 30px; position: absolute; left: 0; top: 50%; border-left: 1px solid #e6e6e6;
		-webkit-transform: translate(0, -50%);
		   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
	}

	header .topFrame .menu > ul li .subMenu {width: 100%; height: 0; position: absolute; left: 0; top: 62px; background: #fff; visibility: hidden; opacity: 0; overflow: hidden;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), inset 0px 6px 6px -6px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), inset 0px 6px 6px -6px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2), inset 0px 6px 6px -6px rgba(0,0,0,0.4);
		-webkit-transition: all .25s .5s ease-in-out;
		   -moz-transition: all .25s .5s ease-in-out;
		    -ms-transition: all .25s .5s ease-in-out;
		     -o-transition: all .25s .5s ease-in-out;
		        transition: all .25s .5s ease-in-out;
	}
	header .topFrame .menu > ul li.current .subMenu {height: 370px; visibility: visible; opacity: 1;}
	header .topFrame .menu > ul li .subMenu .allLink {width: 100%; height: 40px; padding: 0 10px; position: absolute; bottom: 0; right: 0; border-top: 1px solid #e7e9eb; line-height: 40px; text-align: right;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	header .topFrame .menu > ul li .subMenu .tabFrame .allLink {width: 75%;}
	header .topFrame .menu > ul li .subMenu .allLink a {font-family: 'Roboto Slab', serif; font-size: 14px; color: #356083; font-weight: 700;}
	header .topFrame .menu > ul li .subMenu .allLink a:hover {color: #d11919;}

	header .topFrame .menu > ul li .subMenu .listFrame {padding: 0 4px;}
	header .topFrame .menu > ul li .subMenu .listFrame ol {width: 100%; display: inline-block; vertical-align: top;}
	header .topFrame .menu > ul li .subMenu .listFrame ol li {width: 25%; float: left;}

	header .topFrame .menu > ul li .subMenu .listFrame ol li a,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a {display: block; margin: 16px 5px; font-family: 'Roboto Slab', serif; font-size: 15px; color: #14233a;}
	header .topFrame .menu > ul li .subMenu .listFrame ol li a span,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a span {width: 230px; height: 230px; display: block; overflow: hidden;}
	header .topFrame .menu > ul li .subMenu .listFrame ol li a span img,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a span img {transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none;}
	header .topFrame .menu > ul li .subMenu .listFrame ol li a:hover span img,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a:hover span img {
	    transform:scale(1.05);
	    -ms-transform:scale(1.05);
	    -moz-transform:scale(1.05);
	    -webkit-transform:scale(1.05);
	    -o-transform:scale(1.05);
	}
	header .topFrame .menu > ul li .subMenu .listFrame ol li a strong,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a strong {height: 48px; display: block; margin: 10px; line-height: 22px; font-weight: 600; overflow: hidden;}
	header .topFrame .menu > ul li .subMenu .listFrame ol li a:hover,
	header .topFrame .menu > ul li .subMenu .tabFrame dl dd a:hover {color: #d11919;}

	header .topFrame .menu > ul li .subMenu .tabFrame {}
	header .topFrame .menu > ul li .subMenu .tabFrame ol {width: 25%; height: 370px; padding-bottom: 40px; background-color: #f4f4f4; border-right: 1px solid #e7e9eb; box-sizing: border-box; -moz-box-sizing: border-box;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		-webkit-justify-content: center;
		justify-content: center;
	}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li {width: 101%; height: 32px; display: inline-block; vertical-align: top; line-height: 32px;}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li > a {display: block; padding: 0 18px; position: relative; font-family: 'Roboto Slab', serif; font-size: 15px; color: #14233a; line-height: 32px; font-weight: 700; box-sizing: border-box; -moz-box-sizing: border-box;}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li > a i {position: absolute; top: 50%; right: 16px; font-size: 22px; color: #89919c; opacity: 0;
		-webkit-transform: translate(0, -50%);
		   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
	}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li:hover > a {color: #d11919;}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li.current > a {background-color: #fff; border: solid #e7e9eb; border-width: 1px 0 ; color: #356083; line-height: 30px;}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li.current > a i {opacity: 1;}

	header .topFrame .menu > ul li .subMenu .tabFrame ol > li dl {width: 75%; padding: 0 3px; position: absolute; top: 0; right: 0; visibility: hidden; opacity: 0;
		-webkit-transition: all .2s ease-in-out;
		   -moz-transition: all .2s ease-in-out;
		    -ms-transition: all .2s ease-in-out;
		     -o-transition: all .2s ease-in-out;
		        transition: all .2s ease-in-out;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li.current dl {visibility: visible; opacity: 1;}
	header .topFrame .menu > ul li .subMenu .tabFrame ol > li dl dd {width: 33.333%; float: left;}

	header .searchFrame {width: 100%; position: absolute; top: 62px; left: 0; z-index: 2; background-color: #f5f5f5; /*visibility: hidden;*/  pointer-events: none; opacity: 0;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	header .searchFrame.show {/*visibility: visible;*/ pointer-events: inherit; opacity: 1;}
	header .searchFrame .wrapper {width: 100%; height: 70px; margin: 0 auto; font-family: 'Roboto Slab', serif;}
	header .searchFrame .wrapper .endList {width: 100%; display: inline-block; vertical-align: top; padding-top: 14px; font-size: 14px;}
	header .searchFrame .wrapper .endList > span {display: inline-block; vertical-align: top; padding-top: 12px; font-weight: 700;}
	header .searchFrame .wrapper .endList > ul {width: calc(100% - 560px); display: inline-block; vertical-align: top; padding-top: 12px;}
	header .searchFrame .wrapper .endList > ul li {margin: 0 7px; float: left;}
	header .searchFrame .wrapper .endList > ul li a:hover {text-decoration: underline;}
	header .searchFrame .wrapper .endList .inputBox {height: 41px; float: right; background-color: #fff;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
	}
	header .searchFrame .wrapper .endList .inputBox input {display: inline-block; vertical-align: top; margin:0; padding:0; float: left; background: none; border: none; font-family: 'Open Sans', sans-serif; font-size: 15px; outline: inherit;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	header .searchFrame .wrapper .endList .inputBox .inputtext {width: 390px; padding: 10px;}
	header .searchFrame .wrapper .endList .inputBox .submit {width: 41px; height: 41px; background-color: #d11919; font-family:'FontAwesome'; font-size: 20px; color: #fff; line-height: 41px; cursor: pointer;}

	header .bottomFrame {background: #132239;}
	header .bottomFrame .menu {width: 100%; position: relative; margin: 0 auto; height: 38px;}
	header .bottomFrame .menu ul {width: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	header .bottomFrame .menu ul > li {height: 38px; display: block; -webkit-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; position: relative;}
	header .bottomFrame .menu ul > li > a {height: 38px; display: block; position: relative; font-family: 'Roboto Slab', serif; font-size: 15px; color: #fff; text-align: center; line-height: 38px;}
	header .bottomFrame .menu ul > li.selected > a:after {content:''; width: 100%; height: 1px; position: absolute; bottom: 4px; left: 0; background: #fff;}
	header .bottomFrame .menu ul > li:hover > a {background: #356083;}
	header .bottomFrame .menu ul > li.selected:hover > a:after {visibility: hidden;}
	
	header .bottomFrame .menu ul > li ol {min-width: 120px; display: none; position: absolute; left: 0; top: 38px; background:rgba(53,96,131,0.94);}
	header .bottomFrame .menu ul > li ol a {display: block; height: 39px; line-height: 39px; padding: 0 10px; color: #fff; white-space: nowrap;}
	header .bottomFrame .menu ul > li ol a:before {content: ''; display: block; height: 1px; background: #14233a;}
	header .bottomFrame .menu ul > li ol li:first-child a:before,
	header .bottomFrame .menu ul > li.diziler ol li:nth-child(-n+3) a:before,
	header .bottomFrame .menu ul > li ol a:hover:before {visibility: hidden;}
	header .bottomFrame .menu ul > li:hover > ol {display:block;}
	header .bottomFrame .menu ul ol a:hover {background:rgba(255,255,255,0.3);}
	
	header .bottomFrame .menu ul > li.diziler > a {background: #4198d2;}
	header .bottomFrame .menu ul > li.diziler ol {width: 550px; left: auto; right: 0; background: #4198d2;}
	header .bottomFrame .menu ul > li.diziler ol li {float: right;}

	header .bottomFrame .menu ul > li.onhayat > a > img {margin-top: 9px;}
	header .bottomFrame .menu ul > li.onhayat ol a:before {background-color: #ff0a8f;}
	header .bottomFrame .menu ul > li.onhayat:hover > a,
	header .bottomFrame .menu ul > li.onhayat.current > a {background:#ff780f;}
	header .bottomFrame .menu ul > li.onhayat ol {
		background: rgba(255,119,15,1);
		background: -moz-linear-gradient(top, rgba(255,119,15,1) 0%, rgba(255,9,144,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,119,15,1)), color-stop(100%, rgba(255,9,144,1)));
		background: -webkit-linear-gradient(top, rgba(255,119,15,1) 0%, rgba(255,9,144,1) 100%);
		background: -o-linear-gradient(top, rgba(255,119,15,1) 0%, rgba(255,9,144,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,119,15,1) 0%, rgba(255,9,144,1) 100%);
		background: linear-gradient(to bottom, rgba(255,119,15,1) 0%, rgba(255,9,144,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff770f', endColorstr='#ff0990', GradientType=0 );
	}
	
	header .bottomFrame .menu li.diziler ol a {width:163px; height: 39px; text-align: right; position: relative; line-height: 18px; overflow: hidden; white-space: normal;}
	header .bottomFrame .menu li.diziler ol a > span {width: 133px; height: 39px; display: table-cell; padding-left: 30px; vertical-align: middle;}
	header .bottomFrame .menu li.diziler ol a em {width:29px; height:27px; padding-top:2px; position: absolute; left: 10px; bottom: 0; background: #14233a; font-size: 12px; color: #fff; line-height: 14px; letter-spacing: 0.3px; font-style: normal; text-align: center;}

.menuSideBar {width: 240px; height: 100%; position: fixed; top: 0; left: 0; /*z-index: 210000;*/ z-index: 10000; background-color: #fff; opacity: 0;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
	-webkit-transform: translateX(-250px);
	   -moz-transform: translateX(-250px);
	    -ms-transform: translateX(-250px);
	     -o-transform: translateX(-250px);
	        transform: translateX(-250px);
	-webkit-transition: transform .25s ease-in-out, opacity .25s ease-in-out;
	   -moz-transition: transform .25s ease-in-out, opacity .25s ease-in-out;
	    -ms-transition: transform .25s ease-in-out, opacity .25s ease-in-out;
	     -o-transition: transform .25s ease-in-out, opacity .25s ease-in-out;
	        transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}
	.menuSideBar.show {opacity: 1;
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		    -ms-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	}
	.menuSideBar nav {}
	.menuSideBar nav ul {border-bottom: 1px solid #e7e9eb;}
	.menuSideBar nav > ul > li {height: 40px; display: block; position: relative; z-index: auto; border-top: 1px solid #e7e9eb; line-height: 40px;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	.menuSideBar nav > ul > li:first-child {border-top: none;}
	.menuSideBar nav > ul > li.current {background-color: #f4f4f4;}
	.menuSideBar nav > ul > li.meteor,
	.menuSideBar .nav-modal ol li a,
	.menuSideBar nav > ul > li a {display: block; padding-left: 20px; position: relative; font-family: 'Roboto Slab', serif; font-size: 15px; color: #14233a; font-weight: 700; white-space: nowrap;}
	.menuSideBar nav > ul > li.meteor {font-size: 15px; cursor: default;}
	.menuSideBar nav > ul > li.meteor .iconDiv {width: 41px; height: 41px; display: inline-block; vertical-align: top;}
	.menuSideBar nav > ul > li.meteor .iconDiv [class^="flaticon-"]:before,
	.menuSideBar nav > ul > li.meteor .iconDiv [class*=" flaticon-"]:before,
	.menuSideBar nav > ul > li.meteor .iconDiv [class^="flaticon-"]:after,
	.menuSideBar nav > ul > li.meteor .iconDiv [class*=" flaticon-"]:after {font-size: 46px; color: #14233a;}
	.menuSideBar nav > ul > li .fa {position: absolute; top: 50%; right: 15px; color: #89919c;
		-webkit-transform: translate(0, -50%);
		   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
	}

	.menuSideBar nav > ul > li a.icon {padding:0 0 0 60px;}
	.menuSideBar nav > ul > li a.icon img {position: absolute; top: 50%; left: 20px;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}

	.menuSideBar nav > ul > li ol {display: none;}
	.menuSideBar .nav-modal ol {opacity: 0;
		-webkit-transition: opacity .25s ease-in-out;
		   -moz-transition: opacity .25s ease-in-out;
		    -ms-transition: opacity .25s ease-in-out;
		     -o-transition: opacity .25s ease-in-out;
		        transition: opacity .25s ease-in-out;
	}
	.menuSideBar .nav-modal ol.show {opacity: 1;}
	.menuSideBar .nav-modal ol li {height: 30px; display: block; line-height: 30px;}
	.menuSideBar .nav-modal ol li a {padding: 0 12px; font-size: 15px;}
	.menuSideBar .nav-modal ol li a > i {font-style: normal;}
	.menuSideBar .nav-modal ol li a > i.yellow {background:#fed55b; padding: 2px 5px;}
	.menuSideBar .nav-modal ol li a:hover {background-color: #f4f4f4; color: #be1717;}

	.menuSideBar .nav-modal {width: 0; min-width: 0; padding: 10px; position: absolute; top: 0; left: 230px; z-index: 10; background-color: #fff; visibility: hidden; opacity: 0;
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
				box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;		
	}
	.menuSideBar.active .nav-modal {width: auto; min-width: 170px; visibility: visible; opacity: 1;}
	.menuSideBar .nav-modal .wrapper {overflow: hidden;}
	.menuSideBar .nav-modal .modalPointer {width: 0; height: 0; display: inline-block; border-left: 20px inset transparent; border-right: 20px inset transparent; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-right: 20px solid #b3b3b3; position: absolute; left: -41px; top: 0; bottom: auto;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	.menuSideBar .nav-modal .modalPointer.middle {top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menuSideBar .nav-modal .modalPointer.bottom {top: auto; bottom: 0;}
	.menuSideBar .nav-modal .modalPointer .conceal {width: 0; height: 0; display: inline-block; border-left: 20px inset transparent; border-right: 20px inset transparent; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-right: 20px solid #fff; position: absolute; left: -19px; top: -20px;}

	.menuSideBar .mediaShare {}
	.menuSideBar .mediaShare ul {width: 100%; display: inline-block; vertical-align: top; border-bottom: 1px solid #e7e9eb;}
	.menuSideBar .mediaShare ul li {width: 25%; height: 40px; float: left; }
	.menuSideBar .mediaShare ul li a {display: block; height: 40px; background-color: #3a5a98; font-size: 20px; color: #fff; text-align: center; line-height: 40px;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	.menuSideBar .mediaShare ul li a.twt {background-color: #29a7df;}
	.menuSideBar .mediaShare ul li a.gplus {background-color: #db4e3e;}
	.menuSideBar .mediaShare ul li a.rss {background-color: #ed802c;}
	.menuSideBar .mediaShare ul li a:hover {background-color: #fff; color: #3a5a98;}
	.menuSideBar .mediaShare ul li a:hover.twt {background-color: #fff; color: #29a7df;}
	.menuSideBar .mediaShare ul li a:hover.gplus {background-color: #fff; color: #db4e3e;}
	.menuSideBar .mediaShare ul li a:hover.rss {background-color: #fff; color: #ed802c;}

main .mansetSmall {z-index: 2;}


/* ztk logo effect */
header .topFrame .menu > ul > li > a.zk strong {margin: 20px 0 0 3px; float: left; font-size: 12px; font-weight: 700; line-height: 12px;}
	.menuSideBar nav > ul > li a.zk.effect-6 span,
	header .topFrame .menu > ul > li > a.zk.effect-6 span,
	.menu.navobile-navigation > ul > li > a.zk.effect-6 span {display:block; width: 25px; height: 25px; margin: 17px 0 0 5px; position: relative; float: left;}
	.menuSideBar nav > ul > li a.zk.effect-6 span {margin: 0; position:absolute; top: 50%; left: 20px;	
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menu.navobile-navigation > ul > li > a.zk.effect-6 span {margin: 7px 7px 0 0;}
	.menuSideBar nav > ul > li a.zk.effect-6 span em,
	header .topFrame .menu > ul > li > a.zk.effect-6 span em,
	.menu.navobile-navigation > ul > li > a.zk.effect-6 span em {width: 25px; height: 25px; display: block; position: absolute; left: 0; background-repeat: no-repeat;
	  -webkit-animation-name: ztkFadeInOut;
	  -webkit-animation-timing-function: ease-in-out;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-duration:4s;
	  -moz-animation-name: ztkFadeInOut;
	  -moz-animation-timing-function: ease-in-out;
	  -moz-animation-iteration-count: infinite;
	  -moz-animation-duration: 4s;
	  -o-animation-name: ztkFadeInOut;
	  -o-animation-timing-function: ease-in-out;
	  -o-animation-iteration-count: infinite;
	  -o-animation-duration: 4s;
	  animation-name: ztkFadeInOut;
	  animation-timing-function: ease-in-out;
	  animation-iteration-count: infinite;
	  animation-duration: 4s
	 }
	  
	.menuSideBar nav > ul > li a.zk.effect-6 span em.eff1,
	header .topFrame .menu > ul > li > a.zk.effect-6 span em.eff1,
	.menu.navobile-navigation > ul > li > a.zk.effect-6 span em.eff1 {
		background-image: url(../i/ztk-1.png);
	  -webkit-animation-delay:2s;
	  -moz-animation-delay:2s;
	  -o-animation-delay: 2s;
	  animation-delay: 2s;
	}
	.menuSideBar nav > ul > li a.zk.effect-6 span em.eff2,
	header .topFrame .menu > ul > li > a.zk.effect-6 span em.eff2,
	.menu.navobile-navigation > ul > li > a.zk.effect-6 span em.eff2 {
		background-image: url(../i/ztk-2.png?v1);
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  -o-animation-delay: 0s;
	  animation-delay: 0s;
	}
	@-webkit-keyframes ztkFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@-moz-keyframes ztkFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@-o-keyframes ztkFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}

	@keyframes ztkFadeInOut {
		0% {opacity:1;}
		50% {opacity:0;}
		100% {opacity:1;}
	}


/* hava durumu */
.menuSideBar nav .meteorMenu {width: 0; height: 0; text-align: left; font-family: 'Roboto Slab', serif; color: #fff; line-height: 24px; opacity: 0; overflow: hidden;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	    -ms-transition: opacity .25s ease-in-out;
	     -o-transition: opacity .25s ease-in-out;
	        transition: opacity .25s ease-in-out;
}
	.menuSideBar nav .meteorMenu.show {width: 170px; height: auto; opacity: 1;}
	.menuSideBar nav .meteorMenu ul {height: auto;}
	.menuSideBar nav .meteorMenu strong {display: block; color: #cceeeb; font-weight: normal; background: #00a99d; line-height: 30px; padding: 0 10px;}
	.menuSideBar nav .meteorMenu .mBox {display: block; height: 60px; padding: 0 10px 10px; font-family: 'Roboto Slab', serif; font-size: 44px; line-height: 60px; background: #00a99d;}
	.menuSideBar nav .meteorMenu .mBox .iconDiv {float: left; height: 60px; width: 75px; display: block;}
	.menuSideBar nav .meteorMenu .mBox .iconDiv [class^="flaticon-"]:before,
	.menuSideBar nav .meteorMenu .mBox .iconDiv [class*=" flaticon-"]:before,
	.menuSideBar nav .meteorMenu .mBox .iconDiv [class^="flaticon-"]:after,
	.menuSideBar nav .meteorMenu .mBox .iconDiv [class*=" flaticon-"]:after {font-size:70px; font-weight:normal;}
	.menuSideBar nav .meteorMenu a {display: block; position: relative;}
	.menuSideBar nav .meteorMenu a.ara 			{background: #66cac4; color:#fff; font-size:14px; padding:0 0 0 35px;}
	.menuSideBar nav .meteorMenu a.ara:before 	{content: ''; width: 13px; height: 18px; position: absolute; top: 50%; left: 14px; background: url('../i/icoMeteor.png') no-repeat -12px 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menuSideBar nav .meteorMenu a.besGun 		{background: #ccedeb url('../i/icoMeteor.png') no-repeat 21px -24px; color:#00a99d; font-size:13px; padding:0 0 0 15px;}
	.menuSideBar nav .meteorMenu a.mainL 		{background: #e7f7f6 url('../i/icoMeteor.png') no-repeat 21px -24px; color:#00a99d; font-size:13px; padding:0 0 0 15px;}
	.menuSideBar nav .meteorMenu div.ara 		{display: block; background: #66cac4; color:#fff; font-size:13px; padding:0 0 0 35px; position:relative;}
	.menuSideBar nav .meteorMenu div.ara:before {content:""; height:24px; width:35px; position:absolute; top:0; left:0; background:url('../i/icoMeteor.png') no-repeat 0 0;}
	.menuSideBar nav .meteorMenu div.ara input[type="text"] {width:100px; height:24px; line-height:24px; border:none; background:#66cac4; color:#fff;}
	.menuSideBar nav .meteorMenu div.ara .close {height:24px; width:24px; background:url('../i/icoMeteor.png') no-repeat 0 -48px; text-indent:-9999px; position:absolute; top:0; right:10px;}
	.menuSideBar nav .meteorMenu ul {display:block; width:170px; color:#00a99d;}
	.menuSideBar nav .meteorMenu ul li {display:block; padding:0; float:none; background:#fff; text-align:left;}
	.menuSideBar nav .meteorMenu ul li span,
	.menuSideBar nav .meteorMenu ul li a {display:block; padding:0 0 0 35px;}
	.menuSideBar nav .meteorMenu ul li + li {border:none; border-top:1px solid #66cac4;}


body.gallDetail main > aside.leftSticky {margin: 0 0 0 640px; position: fixed;}
body.gallDetail.pageSkinFull main > aside.leftSticky {top: 256px!important;}

/* mobile menu */
.mobilMask {position: fixed; width: 100%; height: 100%; z-index: 10005; background: rgba(0,0,0,0.7);}
.show-navobile {display: none; width: 62px; height: 62px; text-align: center; line-height: 62px; position: absolute; left: 0px; top: 0; color: #14233a; font-size: 18px;}
.mobile-category-show {display: none; position: absolute; right: 10px; top: 0;}
.mobile-category-show li {float: left;}
.mobile-category-show li a {display: block; font-family: 'Roboto Slab', serif; font-size: 14px; font-weight: 700;}
.mobile-category-show li .special-category {height: 24px; margin-top: 18px; display: inline-block; padding:0 6px 0 32px; background: #dc230d url('../i/special-category.png?v2') no-repeat 0 1px; color: #fff; font-style: normal; line-height: 24px;}
/* ac kapat button clone  */ 
.show-navobile-clone {position:absolute; top:20px; left:20px;color:#ffffff; z-index:50; font-size:18px; width:50px; height:50px; background-color:red;  }

.menu.navobile-navigation > ul {display: block; height: 100%;}
	.menu.navobile-navigation > ul > li {float:none; display:block; height:auto; border-bottom: 1px solid #293c58; cursor:pointer;}
	.menu.navobile-navigation > ul > li.desktop-none {border: none;}
	.menu.navobile-navigation > ul > li.list-visible {position: relative;}
	.menu.navobile-navigation > ul > li .down {width: 40px; height: 40px; padding: 0; position: absolute; top: 0; right: 0; font-size: 26px; color: #fff; text-align: center; line-height: 40px;}
	.menu.navobile-navigation > ul > li > a {width:100%; display: block; padding:0 20px; font-family: 'Roboto Slab', serif; font-size: 1.1em; color: #ffffff; font-weight: 700; height:40px; line-height:40px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.menu.navobile-navigation > ul > li > .subMenu {width:100%; display:none; background: rgba(20,35,58,0.8); position:relative; top:0px;  padding:0 20px 0 30px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.menu.navobile-navigation > ul > li.list-none > .subMenu {display: none!important;}
	.menu.navobile-navigation > ul > li > .subMenu a {width:100%; display: block; font-family: 'Roboto Slab', serif; font-size: .9em; color: #ffffff; height:34px; line-height:34px;}

.menu .mediaShare {width: 100%; position: absolute; bottom: 0; overflow: hidden;}
	.menu .mediaShare li {width: 25%; height: 40px; float: left; }
	.menu .mediaShare li a {display: block; height: 40px; background-color: #3a5a98; font-size: 20px; color: #fff; text-align: center; line-height: 40px;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}
	.menu .mediaShare li a.twt {background-color: #29a7df;}
	.menu .mediaShare li a.gplus {background-color: #db4e3e;}
	.menu .mediaShare li a.rss {background-color: #ed802c;}
	.menu .mediaShare li a:hover {background-color: #fff; color: #3a5a98;}
	.menu .mediaShare li a:hover.twt {background-color: #fff; color: #29a7df;}
	.menu .mediaShare li a:hover.gplus {background-color: #fff; color: #db4e3e;}
	.menu .mediaShare li a:hover.rss {background-color: #fff; color: #ed802c;}

.menu.navobile-mobile-only,
.menu.navobile-mobile-only > ul li .subMenu .listFrame,
.menu.navobile-mobile-only > ul li .subMenu .tabFrame ol > li dl,
.menu.navobile-mobile-only > ul > li:last-child,
.menu.navobile-mobile-only > ul > li > .sidebar,
.menu.navobile-mobile-only > ul > li.mobile-none,
.menu.navobile-mobile-only > ul > li .subMenu .tabFrame ol > li > a i {display: none;}

.menu.navobile-mobile-only .mediaShare {display: block;}

#navobile-device-pixel {width: 0;}


@media (min-width: 768px) {
  header .topFrame,
  header .searchFrame .wrapper,
  header .bottomFrame .menu {width: 740px;}
}

@media (min-width: 992px) {
  header .topFrame,
  header .searchFrame .wrapper,
  header .bottomFrame .menu {width: 960px;}
}

@media (min-width:1200px) {
    header .topFrame,
    header .searchFrame .wrapper,
    header .bottomFrame .menu {width: 980px;}
}

@media (min-width:1441px) {
    header .topFrame,
    header .searchFrame .wrapper,
    header .bottomFrame .menu {width: 1138px;}  
}

@media screen and (max-width: 993px) {
	header .topFrame .logo {margin: 0 auto; float: none;}

	.show-navobile {display:block;}
	
    html,
    .navobile-bound {overflow-x: hidden; overflow-y: visible; height: auto; width: 100%;}

    .overflowscrolling {
      -webkit-overflow-scrolling: touch;
    }
    
    #navobile-device-pixel {width: 1px;}

    .menu.navobile-desktop-only {display: none;}
    .menu.navobile-mobile-only,
    .mobile-category-show {display: block;}

    .navobile-navigation {height: 100%; left: -100%; overflow: auto; position: absolute; top: -100%; width: 50%; z-index: -1;      
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }

    .navobile-bound .navobile-navigation {padding: 20px 0 40px 0; position: fixed; top: 0; z-index: 10006; margin: 0px; height: 100%; background: rgba(20,35,58,0.8); box-shadow: 0 0 1px 0 #000; transition: 0.2s;
    	-webkit-box-sizing: border-box;
    	   -moz-box-sizing: border-box;
    	        box-sizing: border-box;
    }
	.navobile-bound .navobile-navigation.navobile-navigation-visible {left: 0;}
    .navobile-navigation ul {overflow: auto;}

    .navobile-navigation li {float: none; overflow: hidden;}

    .navobile-content {position: relative; z-index: 3;
      -webkit-transition: -webkit-transform 0.2s linear;
      -moz-transition: -moz-transform 0.2s linear;
      -o-transition: -ms-transform 0.2s linear;
      -ms-transition: -o-transform 0.2s linear;
      transition: transform 0.2s linear;
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translate3d(-50%,0,0);
      -moz-transform: translate3d(-50%,0,0);
      -ms-transform: translate3d(-50%,0,0);
      -o-transform: translate3d(-50%,0,0);
      transform: translate3d(-50%,0,0);
    }
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:425px) {
	header .topFrame .logo {margin: 0 0 0 50px;}
	.mobile-category-show li .special-category {width: 82px; height: 32px; line-height: 16px;}
	header .bottomFrame .menu ul > li > a {font-size: 10px;}
}	