.style1 {
	text-align: center;
}

.form-login  {
	width: 205px;
	padding: 6px 4px 4px 3px;
	border: 1px solid #DAECF8;
	background-color:#FFFFFF;
	font-size: 16px;
	color: #439BBC;
}

#login-box {
	width:334px;
	height: 350px;
	padding: 0px 0px 0 0px;
	color: #439BBC;
	font: 14px Arial, Helvetica, sans-serif;
	background: url(style2011/login-box-backg.png) no-repeat left top;
	}
	
.style1 {
	color: #3fd7fe;
}
.style2 {
	text-align: center;
}
.style4 {
	text-decoration: none;
}

.style2 {
	margin-top: 0px;
}
.style4 {
	border-style: solid;
	border-width: 0;
}
.style6 {
	color: #367D98;
}
.style7 {
	text-decoration: none;
}
.style8 {
	border-width: 0;
}
.style9 {
	font-size: medium;
}

#menu {
	background: #84006c;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu li {
	float: right;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
}
#menu a {
	background: #84006c url("seperator.gif") bottom right no-repeat;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
}
#menu a:hover {
	background: #ffd96e url("hover_new.gif") bottom center no-repeat;
	color: #420036;
	padding-bottom: 8px;
	}