
div.calendar {
text-align: center;
background-color: #fff;
padding: 5px;
border: solid 1px #aaa;
-webkit-box-shadow: 2px 2px 2px #888;
-moz-box-shadow: 2px 2px 2px #888;
box-shadow: 2px 2px 2px #888;
border-radius: 4px;
color: #666;
}

table.calendar {
table-layout: fixed;
border-collapse: separate;
border-spacing: 6px;
}

table.calendar td, table.calendar th {
padding: 5px 5px;
}

table.calendar td span, table.calendar th span {
}

td.empty {
border: solid thin #d3d3d3;
}

th.week {
}

td.nav, td.day {
cursor: pointer;
font: 13px "Tahoma",HelveticaNeue,Arial !important;
border: 1px solid #d3d3d3;
/*background: #525252;*/
/*border-color: #4c4c4c #313131 #1f1f1f;*/
color: #666;
/*text-shadow: 0 1px 0 #2e2e2e;*/
/*
-webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
-moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
*/
}

td.selected {
background: #fce00b;
/* border: 1px solid #fce00b; */
/*text-shadow: 0 1px 0 #363636;
-webkit-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
-moz-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;*/
}

div.calendar *:focus, div.commentAdd *:focus {
	/*border: 1px solid #fce00b;*/
	outline:  2px solid #fce00b
}
.calendar .disabled, .calendar .empty {
    /*background: #ccc !important;*/
	opacity: 0.35;
}
.calendar .month {
    text-transform: uppercase;
    color: #2574bb;
}
.calendar .year {
    text-transform: uppercase;
    color: #2574bb;
}
.calendar .week {
	color: #d3d3d3;
}
.calendar .nav {
	color: #2574bb;
}
