﻿.station-menu-control {
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
	position: relative;
}

.station-menu-control.open {
	border-bottom-color: #fff;
	position: relative;	
	z-index:1001;
	box-shadow: none;
	background: #fff url('/PublishingImages/CMS/common_icons.png') no-repeat right -112px;
}
.station-menu-control.open:focus {
	border-top-color: #999;
	border-left-color: #999;
	border-right-color: #999;
	border-bottom-color: #fff;
}

.station-menu-control.open {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}

.station-selector {
	width: 1000px !important;	
	position: absolute;
	z-index: 1000;
	margin: -10px 0px !important;
	float: none !important;
}

.station-selector   #station-selector-box.open {
	display: block;
}
.station-selector #station-selector-box {
	clear: both;
	float: left;
	border: solid 1px #999;
	background: #fff;
	display: none;
	-webkit-border-radius:0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	width: auto;
	padding: 20px 10px;
	z-index: 4;
	position: absolute;
}

.location-selector-box-wrapper {
	float: left;
	padding: 12px;
}

.station-selector #station-selector-box .toolbar {
	margin-bottom: -5px;
}


.station-selector #station-selector-box .station-selector-box-wrapper{
	width: auto !important;
}
.station-selector #station-selector-box ul {
	float: left;
	clear: none;
	width: 145px;
	}

.station-selector #station-selector-box ul:first-child{
	padding: 0 0 15px 10px;
}

.station-selector #station-selector-box ul {
	float: left;
	margin: 0px;
	padding: 0 0 15px 22px;
	border-right: 1px solid #eee;
}

.station-selector #station-selector-box ul:last-child{
	border-right: none !important;
}

.station-selector #station-selector-box li {
	width: 230px;
	color: #666;
}

.station-selector #station-selector-box ul li {
	float: left;
	clear: left;
	width: 140px;
	list-style: none;
	line-height: 8px;
	padding: 0px;
}

.station-selector #station-selector-box ul li.no-match{
	width: auto !important;
}

.station-selector #station-selector-box .languages {
	float: left;
	clear: left;
	margin-bottom: 5px;
}

.station-selector #station-selector-box a {
	font-family: "Tahoma","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 13px;
	line-height: 16px;
	padding: 1.5px 0px;
	text-decoration: none;
	color: #333;
	display: block;
	width: 100%;
}

.station-selector #station-selector-box a:after{
	content: "";
	display: block;
	clear: both;
}

.station-selector #station-selector-box li.highlight a,
.station-selector #station-selector-box a:focus,
.station-selector #station-selector-box a:hover {
	background-color: #999;
	color: #fff;
	display: block;
}

.station-selector #station-selector-box h4 {
	margin-left: 10px;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #333;
	font-size: 14px !important;
}
.station-selector #station-selector-box  .no-match h5,
.station-selector #station-selector-box h5 {
	font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	margin: 0;
	text-transform: none;
	color: #2574bb;
	float: left;
	font-size: 13px;
	font-weight: 400;
}

.station-selector .stations, 
.station-selector .stations > .name {
	clear: both;
}

.station-selector .stations div{
	margin: 0 !important;
}

.station-selector .divider {
	height: 1px;
	margin: 8px 1px;
}

.station-menu-control .dropdown input[type="text"] {
	position: relative;
}

.station-selector-target-show {
	-webkit-box-shadow: none !important;
	-moz-box-shadow:  none !important;
	box-shadow: none !important;
	border-bottom: none !important; 
	border-radius: 3px 3px 0px 0px !important;
	border-color: #999 !important;
}