body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  word-break: break-all;
  line-height: 1.4;
}
body {
  color: #222222;
}
a {
  color: #255E86;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.none {
  display: none;
}
li {
  list-style: none;
}
#fb-root {
  height: 0;
}
#fb-root.has-fixed-header {
  height: 50px;
}
.v2 {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.v2 .header {
  height: 50px;
  width: 100%;
  overflow: auto;
  background-color: #fd8e32;
  text-align: center;
  overflow: visible;
  position: relative;
}
.v2 .header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.v2 .header__content {
  width: 1130px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
.v2 .header__logo {
  height: 50px;
  width: 250px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/img/v2/logo.png');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.v2 .header__navi {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.v2 .header__search {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  padding: 10px 15px;
}
.v2 .header__search__form {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 200px;
  height: 22px;
  padding: 4px 8px;
  color: #676767;
  font-size: 12px;
  background: #fff;
  margin: 0;
  vertical-align: top;
}
.v2 .header__search__form:focus {
  outline: none;
  background: #ffc;
}
.v2 .header__search__button {
  height: 30px;
  border: 1px solid #ddd;
  line-height: 28px;
  margin: 0;
  padding: 0 10px 0 28px;
  font-size: 14px;
  background-color: #f4f4f4;
  background-image: url('/assets/img/v2/ic_search_black.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  vertical-align: top;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.v2 .header__search__button:hover {
  background-color: #e6e6e6;
}
.v2 .header__search__button:focus {
  outline: none;
}
.v2 .header__categories {
  display: inline-block;
}
.v2 .header__categories li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 15px;
}
.v2 .header__categories li a {
  color: white;
  font-size: 12px;
}
.v2 .header__categories li a:hover {
  color: white;
}
.v2 .header__menu {
  display: inline-block;
  color: white;
  padding: 0 18px;
  font-size: 12px;
  line-height: 28px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 28px;
  cursor: pointer;
  vertical-align: middle;
}
.v2 .header__menu > .icon {
  display: inline-block;
  width: 14px;
  height: 30px;
  margin: 0 2px 0 0;
  background-image: url('/assets/img/v2/ic_menu.png');
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.v2 .header__menu:hover {
  background-color: #FFB477;
}
.v2 .header__menu.active {
  background-color: #FFB477;
}
.v2 .header__account {
  display: inline-block;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
  margin: 6px 10px 10px 0;
}
.v2 .header__account a {
  display: inline-block;
  text-decoration: none;
}
.v2 .header__account__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}
.v2 .header__utility {
  position: absolute;
  top: 45px;
  right: 0px;
  width: 250px;
  z-index: 2;
}
.v2 .header__utility__arrow {
  margin: 0 50px 0 auto;
  width: 0;
  height: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid white;
  z-index: 100;
}
.v2 .header__utility__content {
  padding: 5px 0;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.v2 .header__utility__content ul li a {
  display: block;
  text-align: left;
  padding: 12px 12px;
  font-size: 12px;
  line-height: 1;
  background-color: white;
  color: #222222;
}
.v2 .header__utility__content ul li a:hover {
  color: #222222;
  background-color: #f6f6f6;
}
.v2 .header__utility__content ul li a.account_link {
  padding: 8px 12px;
  line-height: 20px;
}
.v2 .header__utility__content ul li a.account_link img {
  vertical-align: top;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.v2 .section_header {
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #ff8e1f;
  margin: 8px 0 10px 0;
  padding: 0 0 0 6px;
  font-weight: 600;
}
.v2 .side_header {
  font-size: 14px;
  height: 29px;
  line-height: 29px;
  font-weight: 600;
  margin: 5px 0;
}
.v2 .icon-star {
  display: inline-block;
  width: 12px;
  height: 14px;
  vertical-align: bottom;
  background-image: url(/assets/img/v2/ic_fav.png);
  background-position: top;
  background-repeat: no-repeat;
}
.v2 .footer {
  background-color: #f6f6f6;
  margin: 10px 0 0 0;
  color: #5c5a59;
  font-size: 12px;
  clear: both;
}
.v2 .footer__content {
  width: 1130px;
  margin: 0 auto;
  padding: 35px 0;
}
.v2 .footer__heading {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 1em 0;
  padding: 0;
}
.v2 .footer__3col {
  width: 1130px;
  display: table;
  vertical-align: top;
}
.v2 .footer__main {
  display: table-cell;
  text-align: center;
  padding: 25px 10px 35px 0;
  vertical-align: top;
}
.v2 .footer__tagline {
  margin: 8px auto;
  width: auto;
  font-size: 10px;
  line-height: 20px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 0 2em;
  display: inline-block;
  color: #4e4d4b;
}
.v2 .footer__right {
  display: table-cell;
  width: 600px;
  vertical-align: top;
}
.v2 .footer__categories {
  width: 300px;
  float: left;
}
.v2 .footer__categories li {
  font-size: 12px;
  line-height: 1.67;
}
.v2 .footer__categories li a {
  color: #5c5a59;
}
.v2 .footer__categories__list {
  display: table;
}
.v2 .footer__categories__list ul {
  display: table-cell;
  width: 150px;
}
.v2 .footer__about {
  width: 300px;
  float: left;
}
.v2 .footer__about li {
  font-size: 12px;
  line-height: 1.67;
}
.v2 .footer__about li a {
  color: #5c5a59;
}
.v2 .footer__popular_keyword {
  width: 600px;
  padding-top: 15px;
  float: none;
  clear: both;
}
.v2 .footer__popular_keyword li {
  float: left;
  font-size: 12px;
  line-height: 1.67;
  margin-right: 15px;
}
.v2 .footer__popular_keyword li a {
  color: #5c5a59;
}
.v2 .messages .alert--success {
  background-color: #00cc00;
  color: white;
}
.v2 .messages .alert--error {
  background-color: #ff0033;
  color: white;
}
.v2 .messages .alert--danger {
  background-color: #ff0033;
  color: white;
}
.v2 .messages .alert p {
  display: block;
  width: 1130px;
  margin: 0 auto;
  line-height: 2;
  font-size: 13px;
  text-align: center;
}
.v2 .logo_print {
  display: none;
}
/* @group floating-clear */
.cfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 100%;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cfix {
  display: inline-block;
  zoom: 1;
}
/* Hides from IE-mac Hack \*/
* html .cfix {
  height: 1%;
}
.cfix {
  display: block;
}
.font-en {
  font-family: Helvetica, sans-serif;
}
@font-face {
  font-family: 'icon';
  src: url('/assets/fonts/icon.eot?ljn39x');
  src: url('/assets/fonts/icon.eot?ljn39x#iefix') format('embedded-opentype'), url('/assets/fonts/icon.ttf?ljn39x') format('truetype'), url('/assets/fonts/icon.woff?ljn39x') format('woff'), url('/assets/fonts/icon.svg?ljn39x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-fav_fill {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fav_fill::before {
  content: "\e900";
}
.icon-fav_outline {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fav_outline::before {
  content: "\e901";
}
.image-hover:hover {
  opacity: 0.8;
}
.v2 .section-header_with-subtitle {
  margin: 20px 0 20px;
  position: relative;
}
.v2 .section-header_with-subtitle::before {
  display: block;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #ccc7c5;
}
.v2 .section-header_with-subtitle__text {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #ff8e1f;
  padding-bottom: 5px;
}
.v2 .section-header_with-subtitle__title {
  color: #222222;
  font-size: 20px;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  margin-right: 20px;
}
.v2 .section-header_with-subtitle__subtitle {
  color: #B9B9B9;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
}
.v2 .simple-message {
  margin: 20px 20px 100px;
}
.v2 .article-fav-views {
  color: white;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}
.v2 .article-fav-views__pv {
  display: inline-block;
  width: 90px;
}
.v2 .article-fav-views__fav-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v2 .article-fav-views__fav-icon::before {
  vertical-align: middle;
}
.v2 .article-fav-views__fav-icon::before {
  content: "\e901";
}
.v2 .article-fav-views__fav {
  display: inline-block;
  width: 50px;
}
.v2 .article-fav-views__pr {
  font-size: 10px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 3px;
}
.v2 .pager {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 0;
}
.v2 .pager li {
  line-height: 36px;
  font-size: 12px;
  display: inline-block;
  color: #979c9a;
}
.v2 .pager li a {
  display: inline-block;
  border-top: 1px solid #ccc7c5;
  border-right: 1px solid #ccc7c5;
  border-bottom: 1px solid #ccc7c5;
  padding: 0 16px;
  color: #979c9a;
}
.v2 .pager li > span {
  display: inline-block;
  border-right: 1px solid #ccc7c5;
}
.v2 .pager li:first-child {
  border-left: 1px solid #ccc7c5;
}
.v2 .pager li.active a {
  border: 1px solid #ff8e1f;
  background-color: #ff8e1f;
  color: white;
}
.v2 .daily-pickup-topic__link {
  display: block;
  box-sizing: border-box;
  width: 276px;
  height: 172px;
  margin: 0 auto 5px;
  overflow: hidden;
}
.v2 .daily-pickup-topic__image {
  width: 276px;
  height: 118px;
  background-color: #f0edec;
  background-size: cover;
  background-position: 0 -27.6px;
  margin: 0 auto;
}
.v2 .daily-pickup-topic__image:hover {
  opacity: 0.8;
}
.v2 .daily-pickup-topic__title {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 30px 5px 0;
  line-height: 1.3;
  height: 60px;
  color: #222222;
  float: left;
  position: relative;
}
.v2 .daily-pickup-topic__title::after {
  position: absolute;
  top: 20px;
  right: 0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url(/assets/img/v2/ic_arrow_circle.png);
}
.v2 .daily-pickup-topic__article-list {
  clear: both;
}
.v2 .daily-pickup-topic__article {
  position: relative;
  box-sizing: border-box;
  height: 52px;
  border-bottom: 1px solid #f0edec;
}
.v2 .daily-pickup-topic__article:first-child {
  border-top: 1px solid #f0edec;
}
.v2 .daily-pickup-topic__article-link {
  height: 100%;
  display: block;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 13px;
  color: #222222;
  padding: 10px 10px 0 10px;
}
.v2 .daily-pickup-topic__topics-link {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #255e86;
}
.v2 .breadcrumbs {
  width: 1130px;
  margin: 12px auto;
  font-size: 12px;
}
.v2 .breadcrumbs a {
  color: #222222;
}
.v2 .breadcrumbs .here {
  color: #fd8e32;
}
.v2 .index-upper {
  display: inline-block;
  position: relative;
  background-color: #f0edec;
  width: 100%;
  height: 440px;
  box-sizing: border-box;
}
.v2 .index-upper::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .index-upper-container {
  width: 1130px;
  margin: 20px auto;
}
.v2 .index-cover-container {
  float: left;
  margin-right: 24px;
}
.v2 .index-pickup-topic-container {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 0 #ccc7c5;
  position: relative;
  border-top: 3px solid #fd8e32;
  box-sizing: border-box;
  float: left;
  width: 296px;
  height: 400px;
  margin-right: -4px;
}
.v2 .index-pickup-topic-container__heading {
  text-align: center;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 20px auto 0;
}
.v2 .index-pickup-topic-container__heading::after {
  display: block;
  content: "";
  width: 79px;
  margin: 12px auto;
  height: 6px;
  background-image: url(/assets/img/topic/wavy_orange.png);
}
.v2 .cover {
  background-color: #FFFFFF;
  box-shadow: 0 2px 0 0 #ccc7c5;
  box-sizing: border-box;
  width: 814px;
  height: 400px;
  padding: 20px;
}
.v2 .cover::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .cover__item {
  float: left;
  box-sizing: border-box;
  width: 378px;
}
.v2 .cover__item:first-child {
  margin-right: 18px;
}
.v2 .cover__title {
  color: #222222;
  line-height: 1.3;
  font-size: 16px;
  margin: 12px 0 10px;
  height: 44px;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
}
.v2 .cover__description {
  color: #4B4B4B;
  line-height: 1.5;
  font-size: 12px;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
.v2 .cover__image-link {
  position: relative;
  width: 100%;
}
.v2 .cover__image {
  display: block;
  width: 378px;
  height: 260px;
}
.v2 .cover__image:hover {
  opacity: 0.8;
}
.v2 .cover__fav-views {
  color: white;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 300px;
}
.v2 .cover__fav-views__pv {
  display: inline-block;
  width: 90px;
}
.v2 .cover__fav-views__fav-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v2 .cover__fav-views__fav-icon::before {
  vertical-align: middle;
}
.v2 .cover__fav-views__fav-icon::before {
  content: "\e901";
}
.v2 .cover__fav-views__fav {
  display: inline-block;
  width: 50px;
}
.v2 .cover__fav-views__pr {
  font-size: 10px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 1px 3px;
}
.v2 .container_3col {
  display: table;
  width: 1130px;
  margin: 0 auto;
  vertical-align: top;
}
.v2 .container_3col .col_left {
  display: table-cell;
  vertical-align: top;
  width: 184px;
  padding: 0 12px 0 0;
}
.v2 .container_3col .col_right {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  padding: 0 0 0 12px;
}
.v2 .container_3col .col_right__section {
  margin: 0 0 20px 0;
}
.v2 .container_3col .col_middle {
  padding: 0 12px;
  display: table-cell;
  vertical-align: top;
}
.v2 .cards__item {
  box-sizing: border-box;
  height: 181px;
  padding: 10px 0;
  overflow: auto;
  border-bottom: 1px solid #ccc7c5;
}
.v2 .cards__item:first-child {
  padding-top: 0;
  height: 171px;
}
.v2 .cards__item__thumbnail {
  float: left;
  width: 230px;
  height: 160px;
}
.v2 .cards__item__thumbnail:hover {
  opacity: 0.8;
}
.v2 .cards__item__body {
  width: 366px;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0 0 10px;
  float: left;
  position: relative;
}
.v2 .cards__item__body--2col {
  width: 540px;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0 0 10px;
  float: left;
  position: relative;
}
.v2 .cards__item__title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: black;
}
.v2 .cards__item__summary {
  font-size: 12px;
  line-height: 1.5;
  color: #4b4b4b;
}
.v2 .cards__item__info {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: #979c9a;
  font-size: 12px;
  vertical-align: bottom;
  width: 356px;
}
.v2 .cards__item__info--2col {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: #979c9a;
  font-size: 12px;
  vertical-align: bottom;
  width: 530px;
}
.v2 .cards__item__fav {
  padding-left: 15px;
}
.v2 .cards__item__pr {
  float: right;
  font-size: 10px;
  line-height: 1;
  border: 1px solid #979c9a;
  border-radius: 3px;
  padding: 1px 3px;
}
.v2 .categories li {
  padding: 0 16px;
  border-top: 1px solid #ccc7c5;
}
.v2 .categories li a {
  display: block;
  line-height: 1;
  color: #222222;
  font-size: 12px;
  padding: 10px 20px 10px 0;
  background-image: url(/assets/img/v2/ic_arrow_s.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.v2 .categories li:last-child {
  border-bottom: 1px solid #ccc7c5;
}
.v2 .categories li:hover {
  background-color: #f6f6f6;
}
.v2 .categories__more {
  display: block;
  font-size: 12px;
  text-align: right;
  margin: 10px 0 20px 0;
  line-height: 1;
}
.v2 .listing__item {
  padding: 5px 0px;
  overflow: visible;
  border-bottom: 1px solid #ccc7c5;
  height: 87px;
  box-sizing: border-box;
}
.v2 .listing__item:first-child {
  padding-top: 0;
  height: 82px;
}
.v2 .listing__item:after {
  display: table;
  content: " ";
}
.v2 .listing__item:before {
  display: table;
  content: " ";
}
.v2 .listing__item__thumbnail {
  width: 76px;
  height: 76px;
  float: left;
  background-size: 76px 76px;
  position: relative;
}
.v2 .listing__item__no {
  position: absolute;
  top: 5px;
  left: -2px;
  background-color: #f1d062;
  display: inline-block;
  color: #4e4d4b;
  font-weight: 700;
  z-index: 2;
  width: 28px;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  padding: 0 0;
  text-align: center;
}
.v2 .listing__item__no--ribbon {
  position: absolute;
  left: 26px;
  top: 5px;
  display: block;
  width: 0;
  height: 0;
  border-top: 9px solid #f1d062;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #f1d062;
  border-left: 0px solid #f1d062;
}
.v2 .listing__item__body {
  width: 213px;
  float: left;
  height: 76px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  line-height: 1.1;
}
.v2 .listing__item__title {
  font-size: 13px;
  line-height: 1.1;
  color: #222222;
}
.v2 .listing__item__info {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  color: #979c9a;
  width: 213px;
}
.v2 .listing__item__fav {
  padding-left: 10px;
}
.v2 .listing__item__pr {
  float: right;
  font-size: 10px;
  line-height: 1;
  border: 1px solid #979c9a;
  border-radius: 3px;
  padding: 1px 3px;
}
.v2 .listing__more {
  text-align: right;
  font-size: 12px;
  display: block;
  margin: 10px 0 10px 0;
}
.v2 .topics__item {
  margin: 5px 0 5px 0;
}
.v2 .topics__image {
  display: block;
  width: 300px;
  height: 71px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.v2 .topics__title {
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 14px;
  margin-top: 2px;
  color: #222222;
}
.v2 .tags {
  font-size: 0;
}
.v2 .tags__item {
  display: inline-block;
}
.v2 .tags__item a {
  display: inline-block;
  padding: 0 10px;
  line-height: 24px;
  font-size: 12px;
  color: #222222;
  margin: 0 8px 10px 0;
  border: 1px solid #ccc7c5;
  border-radius: 3px;
}
.v2 .words__item {
  display: inline-block;
}
.v2 .words__item a {
  display: inline-block;
  padding: 0 10px;
  line-height: 24px;
  font-size: 12px;
  color: #222222;
  margin: 0 8px 10px 0;
  border: 1px solid #ccc7c5;
  border-radius: 3px;
}
.v2 .hot_links {
  margin: 20px auto;
  display: table;
  width: 1130px;
  vertical-align: top;
  font-size: 0;
}
.v2 .hot_links__col {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.v2 .hot_links__col h3 {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.v2 .channels__item {
  box-sizing: border-box;
  display: block;
  height: 87px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc7c5;
}
.v2 .channels__item:first-child {
  padding-top: 0;
  height: 82px;
}
.v2 .channels__item__image {
  width: 76px;
  height: 76px;
  float: left;
  font-size: 0;
}
.v2 .channels__item__image img {
  width: 76px
                    height: 76px;
  overflow: none;
}
.v2 .channels__item__body {
  float: left;
  padding: 0 0 0 10px;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.1;
}
.v2 .channels__item__body a {
  color: #222222;
}
.v2 .channels__item:before,
.v2 .channels__item:after {
  content: "";
  display: table;
}
.v2 .about {
  border: solid 1px #ddc597;
  padding: 20px;
  width: 1130px;
  box-sizing: border-box;
  margin: 10px auto 10px auto;
}
.v2 .about__heading {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0.8em 0;
}
.v2 .about p {
  font-size: 11px;
  color: #7f7f7f;
  line-height: 1.55;
}
.v2 .about a {
  color: #7f7f7f;
}
.inquiry {
  width: 880px;
  margin: 12px auto;
}
.inquiry dt {
  font-weight: bold;
}
.inquiry__disclaimer {
  line-height: 1.6;
}
.inquiry__table {
  width: 900px;
}
.inquiry__table th {
  width: 180px;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}
.inquiry__table td {
  padding: 10px;
}
.inquiry .disabled {
  opacity: 0.6;
}
.inquiry .disabled input[type=text] {
  background-color: #eee;
}
.inquiry__option_table {
  width: 100%;
}
.inquiry__option_table th {
  padding: 5px;
  width: 110px;
  text-align: left;
  font-weight: normal;
}
.inquiry__option_table td {
  padding: 5px;
}
.inquiry__option_tel {
  width: 600px;
}
.inquiry__option_tel th {
  text-align: left;
  font-weight: normal;
}
.inquiry__option_tel th,
.inquiry__option_tel td {
  padding: 5px 5px 3px 0;
  width: 300px;
}
.inquiry__option_tel th input[type=text],
.inquiry__option_tel td input[type=text] {
  width: 280px;
}
.inquiry__form {
  margin: 2em 0 0 0;
  width: 900px;
}
.inquiry__form__required {
  font-size: 12px;
  color: #fc7274;
  font-weight: normal;
}
.inquiry__form__required:after {
  content: ")";
}
.inquiry__form__required:before {
  content: "(";
}
.inquiry__form dt {
  margin: 1em 0 4px 0;
}
.inquiry__form input[type=text] {
  font-size: 14px;
  line-height: 1;
  width: 100%;
}
.inquiry__form textarea {
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  height: 10em;
}
.inquiry__form button {
  padding: 0 5em;
  font-size: 16px;
  line-height: 2;
  color: white;
  border-radius: 3px;
  background-color: #fd8e32;
}
.inquiry__form button:hover {
  opacity: 0.7;
}
.inquiry__form button:disabled {
  background-color: #c0c0c0;
}
.inquiry__privacy {
  font-size: 12px;
  line-height: 1.4;
  margin: 12px 0;
}
.inquiry__back_to_top {
  display: block;
  width: auto;
  text-align: center;
  margin: 20px auto 100px auto;
}
.inquiry__back_to_top a:link,
.inquiry__back_to_top a:visited {
  color: #fd8e32;
}
.inquiry__subtitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
.inquiry__announcement {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #dddddd;
  margin: 80px 0;
  width: 100%;
}
.inquiry__announcement p {
  font-size: 14px;
  line-height: 1.6;
}
.inquiry__announcement-link {
  display: inline-block;
  margin: 30px 0 0;
  padding: 5px 80px;
  font-size: 16px;
  line-height: 2;
  color: white !important;
  border-radius: 3px;
  background-color: #fd8e32;
  text-decoration: none;
}
.inquiry__announcement-link:hover {
  opacity: 0.7;
  text-decoration: none;
}
.v2 .spot {
  color: #222222;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.6;
}
.v2 .spot__header {
  display: table;
  width: 814px;
  box-sizing: border-box;
}
.v2 .spot__header__main {
  display: table-cell;
}
.v2 .spot__header__actions {
  display: table-cell;
  width: 180px;
  position: relative;
}
.v2 .spot__header__actions__share {
  display: table;
  width: 100%;
  position: relative;
}
.v2 .spot__header__actions__share--left {
  vertical-align: bottom;
  display: table-cell;
}
.v2 .spot__header__actions__share--right {
  vertical-align: bottom;
  width: 93px;
  display: table-cell;
}
.v2 .spot__action__coupon {
  float: right;
  width: 200px;
  margin-bottom: 8px;
}
.v2 .spot__action__coupon__to_coupons {
  display: block;
  background-color: #fd8e32;
  text-align: center;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.v2 .spot__action__coupon__to_coupons:hover {
  text-decoration: none;
  opacity: 0.7;
}
.v2 .spot__action__fav {
  border: solid 2px #fd8e32;
  color: #fd8e32;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  margin: 0 0 10px 0;
}
.v2 .spot__action__share__twitter {
  background-image: url(/assets/img/spot/btn-share-twitter-pc.png);
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: bottom;
}
.v2 .spot__action__share__facebook {
  background-image: url(/assets/img/spot/btn-share-fb-pc.png);
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: bottom;
}
.v2 .spot__action__share__button {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid 1px #979797;
  color: #979797;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.v2 .spot__action__share__detail {
  top: 52px;
  position: absolute;
  right: 0px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #CCC7C5;
  width: 160px;
  z-index: 2;
}
.v2 .spot__action__share__detail:after,
.v2 .spot__action__share__detail:before {
  bottom: 100%;
  left: 70%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.v2 .spot__action__share__detail:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.v2 .spot__action__share__detail:before {
  border-color: rgba(204, 199, 197, 0);
  border-bottom-color: #CCC7C5;
  border-width: 11px;
  margin-left: -11px;
}
.v2 .spot__action__share__detail__text {
  background-color: #f7f7f7;
  margin: 0 0 10px 0;
  padding: 5px;
}
.v2 .spot__action__share__detail__qr {
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}
.v2 .spot__action__share__detail__qr .icon--mobile {
  display: inline-block;
  background-image: url(/assets/img/spot/icon-mobile.png);
  background-size: 10px 14px;
  width: 10px;
  height: 14px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .v2 .spot__action__share__detail__qr .icon--mobile {
    background-image: url(/assets/img/spot/icon-mobile@2x.png);
  }
}
.v2 .spot__qr {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: solid 1px #ccc7c5;
}
.v2 .spot__name {
  font-size: 28px;
  color: #444444;
  line-height: 1.22;
  font-weight: 700;
  margin: 10px 0 10px 0;
}
.v2 .spot__info {
  margin: 10px 0 15px 0;
}
.v2 .spot__tel {
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin: 10px 20px 10px 0;
}
.v2 .spot__tel__icon {
  display: inline-block;
  width: 15px;
  height: 20px;
  background-image: url('/assets/img/spot/icon-phone-pc.png');
  background-position: center;
  margin: 0 5px 0 0;
}
.v2 .spot__address {
  display: inline-block;
}
.v2 .spot__purpose,
.v2 .spot__area {
  margin: 5px 0;
}
.v2 .spot__purpose dt,
.v2 .spot__area dt,
.v2 .spot__purpose dd,
.v2 .spot__area dd {
  display: inline-block;
  padding: 0 1rem 0 0;
  margin: 0;
}
.v2 .spot__purpose dt,
.v2 .spot__area dt {
  font-weight: bold;
}
.v2 .spot nav {
  font-size: 0;
  border-bottom: 1px solid #fd8e32;
  margin: 10px 0;
}
.v2 .spot nav li {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  width: 25%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0;
  color: #222222;
  color: #ccc;
}
.v2 .spot nav li.active {
  color: #222;
  border-bottom: 3px solid #fd8e32;
  font-weight: 700;
}
.v2 .spot nav li.active:hover {
  background-color: white;
}
.v2 .spot nav li:hover {
  background-color: #eee;
}
.v2 .spot nav li a {
  display: block;
  color: #222222;
}
.v2 .spot__subtitle {
  margin: 16px 0 10px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #fd8e32;
}
.v2 .spot__table {
  width: 814px;
  border-collapse: collapse;
  margin: 10px 0;
}
.v2 .spot__table th {
  width: 122px;
  font-weight: normal;
  text-align: left;
  border-top: 1px solid #eee;
  background-color: #f0edec;
  padding: 10px 13px;
  border: 1px solid #c8c8c8;
}
.v2 .spot__table td {
  border: 1px solid #c8c8c8;
  padding: 10px 13px;
}
.v2 .spot__map {
  width: 814px;
  height: 480px;
  margin: 5px 0;
}
.v2 .spot__map__caption {
  margin: 5px 0;
}
.v2 .spot__map__caption__address {
  float: left;
}
.v2 .spot__map__caption__link {
  float: right;
}
.v2 .spot__print {
  display: inline-block;
  background-color: #fd8e32;
  color: white;
  line-height: 40px;
  border-radius: 10px;
  padding: 0 2em;
  cursor: pointer;
}
.v2 .spot__option {
  text-align: right;
  margin: 0 0 12px 0;
}
.v2 .spot__top__coupons {
  margin: 1.5rem 0;
}
.v2 .spot__top__coupons__link {
  text-align: right;
  margin: 10px 0;
}
.v2 .spot .coupons__terms {
  font-size: 11px;
  line-height: 1.6;
  margin: 24px 0;
}
.v2 .spot .coupon {
  position: relative;
  width: 814px;
  box-sizing: border-box;
  border: dashed 3px #c4c4c4;
}
.v2 .spot .coupon__box {
  margin: 4px;
  border: solid 20px #f2d158;
  padding: 5px;
}
.v2 .spot .coupon__title {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 20px;
}
.v2 .spot .coupon__title strong {
  font-size: 48px;
  color: #e40b42;
}
.v2 .spot .coupon__badge {
  display: inline-block;
  width: 78px;
  height: 78px;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v2 .spot .coupon__info {
  background-color: #f7f7f7;
  margin: 0;
  width: 100%;
}
.v2 .spot .coupon__info th {
  width: 100px;
}
.v2 .spot .coupon__info__valid_until th,
.v2 .spot .coupon__info__valid_until td {
  font-weight: 700;
}
.v2 .spot .coupon__info__condition {
  margin: 5px 25px;
}
.v2 .spot .coupon__link {
  float: right;
  width: 200px;
}
.v2 .spot .coupon__link__to_coupons {
  display: block;
  margin: 18px 10px 0 10px;
  background-color: #fd8e32;
  text-align: center;
  color: white;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1;
}
.v2 .spot .coupon__link__to_coupons:hover {
  text-decoration: none;
  opacity: 0.7;
}
.v2 .spot .coupon__body {
  position: relative;
  width: 554px;
}
.v2 .spot__top__picture {
  background-color: #f7f7f7;
  padding: 12px 0;
}
.v2 .spot__top__picture__main {
  display: block;
  margin: 0 auto;
  max-width: 760px;
  max-height: 600px;
}
.v2 .spot__top__picture p {
  text-align: center;
}
.v2 .spot__top__picture__thumbnails {
  text-align: center;
}
.v2 .spot__top__picture__thumbnails img {
  margin: 3px 3px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.v2 .spot__top__picture__thumbnails img.active {
  border: 2px solid #fd8e32;
}
.v2 .spot__top__picture__link {
  text-align: right;
  margin: 0 3px 0 0;
}
.v2 .spot .pictures {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.v2 .spot .picture {
  font-size: 0;
  display: inline-block;
  margin: 0 7px 7px 0;
  padding: 0;
}
.v2 .spot .picture img {
  width: 156px;
  height: 156px;
}
.v2 .spot .picture:nth-child(5) {
  margin: 0 0 8px 0;
}
.v2 .spot_top {
  position: relative;
  margin: 0;
}
.v2 .spot_top__page_title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #fd8e32;
  margin: 10px 0;
  padding: 0 10px;
}
.v2 .spot_top__item {
  box-sizing: border-box;
  margin: 0 5px 16px 5px;
  min-height: 160px;
}
.v2 .spot_top__item__image {
  float: left;
  width: 230px;
  height: 160px;
  background-color: #cccccc;
  line-height: 160px;
  text-align: center;
  color: #979c9a;
  display: block;
  background-image: url(/assets/img/spot_noimage.png);
  background-position: center;
  background-size: 230px 160px;
}
.v2 .spot_top__item__area {
  color: #979c9a;
}
.v2 .spot_top__item__body {
  padding: 0 0 0 10px;
  overflow: hidden;
}
.v2 .spot_top__item__name {
  font-size: 16px;
  color: black;
  display: block;
  font-weight: 700;
}
.v2 .spot_top__item__name a {
  color: #222222;
  line-height: 20px;
  vertical-align: middle;
}
.v2 .spot_top__item__description {
  font-size: 12px;
  line-height: 1.6;
}
.v2 .spot_top__item__coupon {
  color: #fd8e32;
  border: 1px solid #fd8e32;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 1em;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
@media print {
  .v2 .spot nav {
    display: none;
  }
  .v2 .spot__header__actions {
    display: none;
  }
  .v2 .spot__print {
    display: none;
  }
}
/**
* 右カラム
* 旧スタイルと共有のテンプレートに適用する
*/
.v2 .right-content .headline h2 {
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #ff8e1f;
  margin: 8px 0 10px 0;
  padding: 0 0 0 6px;
  font-weight: 600;
}
.v2 .right-content .headline.no-border h2 {
  border-width: 0px;
  margin-bottom: 0px;
}
.v2 .right-content .article-list {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #dddddd;
  border-width: 1px 0 0 0;
  padding: 8px 0 8px 8px;
}
.v2 .right-content .article-list a {
  color: #222222;
}
.v2 .right-content .article-list a:hover {
  text-decoration: underline;
}
.v2 .right-content .article-list:after {
  position: relative;
  display: block;
}
.v2 .right-content .article-list:first-child {
  border-top: none;
}
.v2 .right-content .article-list .image-area {
  float: left;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.v2 .right-content .article-list .image-area img {
  height: 65px;
  width: auto;
}
.v2 .right-content .article-list .desc-area {
  box-sizing: border-box;
  width: 220px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  line-height: 1.1;
}
.v2 .right-content .article-list .article-list__pr {
  color: #aaa;
  font-size: 12px;
}
.v2 .right-content .article-list .rank-no {
  position: absolute;
  width: 20px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #E5E5E5;
  border-radius: 50%;
  font-size: 13px;
  line-height: 20px;
  top: 1px;
  left: 0px;
  color: #000;
}
.v2 .right-content .article-list .rank-no.orange {
  background: #F8A200;
  color: #fff;
}
.v2 .right-content .search-input-area {
  margin-bottom: 10px;
}
.v2 .right-content .search-input-area input {
  box-sizing: border-box;
  width: 208px;
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  font-size: 15px;
  vertical-align: top;
}
.v2 .right-content .search-input-area button {
  height: 33px;
  line-height: 33px;
  padding: 0 8px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-image: linear-gradient(#ffffff, #f3f3f3);
  font-size: 17px;
}
.v2 .right-content .search-input-area button:hover {
  background-image: linear-gradient(#f3f3f3, #ffffff);
}
.v2 .right-content .banner-2 {
  width: 289px;
  height: 53px;
  margin: 10px 0;
  background: url(/assets/img/list/banner-2.png) no-repeat;
  background-position: 0 0;
}
.v2 .right-content .banner-2:hover {
  background-position: -289px 0;
}
.v2 .right-content .banner-3 {
  width: 289px;
  height: 53px;
  margin: 10px 0;
  background: url(/assets/img/list/banner-3.png) no-repeat;
  background-position: 0 0;
}
.v2 .right-content .banner-3:hover {
  background-position: -289px 0;
}
.v2 .right-content .search-by-area-more a,
.v2 .right-content .search-by-pp-more a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #676767;
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.v2 .right-content .search-by-area-more a:hover,
.v2 .right-content .search-by-pp-more a:hover {
  color: #fd8e32;
}
.v2 .right-content .search-by-area-more a img,
.v2 .right-content .search-by-pp-more a img {
  position: relative;
  margin-right: 5px;
  padding: 8px 0;
  vertical-align: top;
}
.v2 .right-content .btn-reporter-info {
  width: 288px;
  height: 134px;
  margin: 10px 0;
  background: url(/assets/img/list/btn-reporter-info.png) no-repeat;
  background-position: 0 0;
}
.v2 .about_ad__head {
  margin: 0 0 10px 0;
  padding: 16px 0;
  background-color: #f0edec;
}
.v2 .about_ad__head h1 {
  width: 1130px;
  margin: 0 auto;
  font-size: 20px;
}
.v2 .about_ad__body {
  width: 1130px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
}
.v2 .about_ad h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  padding: 4px 0;
  margin: 20px 0 ;
  border-bottom: 3px solid #fd8e32;
}
.v2 .about_ad h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  padding: 4px 0;
  margin: 18px 0 ;
}
.v2 .about_ad p {
  margin: 0 0 10px 0;
}
.v2 .about_ad p strong {
  font-size: 24px;
  font-weight: 700;
  color: #fd8e32;
}
.v2 .about_ad .note {
  font-size: 11px;
}
.v2 .about_ad__image {
  display: block;
  margin: 36px auto;
}
.v2 .about_ad__buttons {
  margin: 30px 0 36px 0;
  text-align: center;
  vertical-align: top;
}
.v2 .about_ad__buttons a {
  display: inline-block;
  background-color: #fd8e32;
  margin: 10px 20px;
  color: white;
  line-height: 50px;
  font-size: 16px;
  padding: 0 2em;
  width: 300px;
  height: 50px;
  border-radius: 6px;
}
.v2 .about_ad__buttons a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.v2 .about_ad__buttons__item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.v2 .about_ad__buttons__caption {
  font-size: 14px;
  line-height: 20px;
}
.v2 .about_ad__toc {
  text-align: center;
  vertical-align: top;
  margin: 30px 0 20px 0;
}
.v2 .about_ad__toc a {
  display: inline-block;
  border: 1px solid #fd8e32;
  margin: 5px 20px;
  color: #fd8e32;
  line-height: 60px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 2em;
  width: 340px;
  height: 60px;
  border-radius: 6px;
}
.v2 .about_ad__toc a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.v2 .about_ad__toc__item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.v2 .about_ad__toc__caption {
  font-size: 14px;
  line-height: 20px;
}
.v2 .about_mediaguide {
  width: 1130px;
  min-height: 700px;
  margin: 0 auto;
}
.v2 .about_mediaguide__description {
  margin: 10px 0;
  font-size: 16px;
}
.v2 .about_mediaguide__description-center {
  text-align: center;
}
.v2 .about_mediaguide__download {
  display: block;
  width: 300px;
  margin: 100px auto 25px;
  color: white;
  text-align: center;
  background-color: #fd8e32;
  padding: 1em 0;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
  box-shadow: 0px 1px 0px #BBBBBB;
}
.v2 .about_mediaguide__download:hover {
  text-decoration: none;
  opacity: 0.7;
  box-shadow: none;
}
.under-article__ad--wrapper {
  height: 280px;
  width: 336px;
  display: inline-block;
}
.ranking__ad--wrapper {
  height: 90px;
  width: 728px;
  margin: 10px auto 0 auto;
}
.over-footer__ad--wrapper {
  width: 1130px;
  margin: 0 auto;
  position: relative;
}
.over-footer__ad {
  display: inline-block;
  width: 810px;
}
.js-fix-position {
  z-index: 10;
}
.v2 .channel-top__page_title {
  margin: 10px 0;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  border-bottom: 1px solid #fd8e32;
}
.v2 .channel-top-list__item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #CCC7C5;
}
.v2 .channel-top-list__item__image {
  float: left;
  width: 150px;
  height: 150px;
}
.v2 .channel-top-list__item__body {
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  height: 150px;
}
.v2 .channel-top-list__item__new {
  display: inline-block;
  padding: 1px 5px;
  color: #fff;
  background: #E40B42;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  border-radius: 1px;
  font-family: Helvetica, sans-serif;
}
.v2 .channel-top-list__item__name {
  display: inline-block;
  font-size: 16px;
  color: black;
  font-weight: 700;
}
.v2 .channel-top-list__item__name a {
  color: #222222;
}
.v2 .channel-top-list__item__description {
  font-size: 12px;
  line-height: 1.6;
}
.v2 .channel-top-list__item__info {
  position: absolute;
  bottom: 0;
  color: #979c9a;
  font-size: 12px;
}
.v2 .topic-grid {
  margin-top: 20px;
}
.v2 .topic-grid::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .topic-grid a {
  color: inherit;
}
.v2 .topic-grid__item {
  box-sizing: border-box;
  float: left;
  width: 362px;
  height: 344px;
  margin: 0 22px 50px 0;
}
.v2 .topic-grid__item:nth-child(3n+0) {
  margin-right: 0;
}
.v2 .topic-grid__item__image {
  width: 360px;
  height: 220px;
  background-size: cover;
  background-color: #f0edec;
  background-position: 0 -10.28571429px;
}
.v2 .topic-grid__item__image:hover {
  opacity: 0.8;
}
.v2 .topic-grid__item__name {
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  margin: 15px 0 10px;
  text-align: left;
  color: #222222;
  font-size: 20px;
}
.v2 .topic-grid__item__description {
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 14px;
  color: #9B9B9B;
}
.v2 .topic-view-root {
  padding-bottom: 90px;
}
.v2 .topic-view-top {
  margin: 80px 0 70px;
  height: 416px;
}
.v2 .topic-view-top::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .topic-view-top-left {
  float: left;
  width: 540px;
  margin: 0 20px 0 10px;
}
.v2 .topic-view-top-right {
  float: left;
}
.v2 .topic-view-page-title {
  position: relative;
  text-align: center;
}
.v2 .topic-view-page-title__thumbnail {
  margin: 0 auto 20px;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background-size: cover;
  background-position: center;
}
.v2 .topic-view-page-title__text {
  font-size: 26px;
}
.v2 .topic-view-page-title__text::after {
  display: block;
  content: "";
  width: 418px;
  margin: 20px auto;
  height: 6px;
  background-image: url(/assets/img/topic/wavy_orange.png);
}
.v2 .topic-view-page-title__description {
  color: #4B4B4B;
  font-size: 14px;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  line-height: 1.6;
  text-align: left;
}
.v2 .topic-view-large-image {
  width: 560px;
  height: 416px;
  background-size: cover;
  background-position: center;
}
.v2 .topic-view-article-list::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .topic-view-article-list__item {
  box-sizing: border-box;
  width: 265px;
  height: 365px;
  border: 1px solid #ccc7c5;
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 23.33333333px;
  margin-bottom: 23.33333333px;
}
.v2 .topic-view-article-list__item:nth-child(4n+0) {
  margin-right: 0;
}
.v2 .topic-view-article-list__image {
  width: 265px;
  height: 170px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.v2 .topic-view-article-list__image:hover {
  opacity: 0.8;
}
.v2 .topic-view-article-list__image::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-image: url(/assets/img/topic/wavy_white.png);
}
.v2 .topic-view-article-list__title {
  display: block;
  margin: 15px 10px;
  height: 60px;
  color: #222222;
  font-size: 15px;
  font-family: "HiraKakuProN-W6", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.v2 .topic-view-article-list__description {
  display: block;
  margin: 15px 10px;
  height: 100px;
  color: #7B7B7B;
  font-size: 12px;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  line-height: 1.3;
}
.v2 .topic-view-article-list__fav-views {
  color: #7b7b7b;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  position: absolute;
  margin: 0 10px;
  bottom: 15px;
}
.v2 .topic-view-article-list__fav-views__pv {
  display: inline-block;
  width: 90px;
}
.v2 .topic-view-article-list__fav-views__fav-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v2 .topic-view-article-list__fav-views__fav-icon::before {
  vertical-align: middle;
}
.v2 .topic-view-article-list__fav-views__fav-icon::before {
  content: "\e901";
}
.v2 .topic-view-article-list__fav-views__fav {
  display: inline-block;
  width: 50px;
}
.v2 .topic-view-article-list__fav-views__pr {
  font-size: 10px;
  border: 1px solid #7b7b7b;
  border-radius: 3px;
  padding: 1px 3px;
}
.v2 .topic-view-seo-text {
  margin: 25px 0 50px;
  border: 6px solid #DDDDDD;
  padding: 20px;
  color: #7B7B7B;
  font-size: 14px;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}
.v2 .topic-view-seo-text * {
  font-size: inherit;
}
.v2 .topic-pager-wrap {
  margin: -10px 0 100px;
}
.v2 .topic-top-page-title {
  color: #222222;
  font-size: 26px;
  font-family: "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  margin: 30px 0 20px;
}
.v2 .pickup-topic-list {
  overflow: hidden;
  position: relative;
  height: 277px;
}
.v2 .pickup-topic-list .slick-arrow {
  background-color: rgba(34, 34, 34, 0.7);
  border: 1px solid #FFFFFF;
  z-index: 1;
  height: 100px;
  font-size: 0;
  width: 50px;
  margin: auto 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  padding: 0;
  text-align: center;
}
.v2 .pickup-topic-list .slick-arrow.slick-prev {
  left: 0;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.v2 .pickup-topic-list .slick-arrow.slick-prev::before {
  display: inline-block;
  content: "";
  left: 3px;
  width: 20px;
  height: 20px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(225deg);
  transform-origin: center center;
}
.v2 .pickup-topic-list .slick-arrow.slick-next {
  right: 0;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.v2 .pickup-topic-list .slick-arrow.slick-next::before {
  display: inline-block;
  content: "";
  left: 3px;
  width: 20px;
  height: 20px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
  transform-origin: center center;
}
.v2 .pickup-topic-list__item {
  display: inline-block;
  width: 100%;
}
.v2 .pickup-topic-list__item::after {
  content: " ";
  display: block;
  clear: both;
}
.v2 .pickup-topic-list__carousel-dots {
  height: 10px;
  width: 100%;
  margin: 20px 0 30px;
}
.v2 .pickup-topic-list__carousel-dots .slick-dots {
  text-align: center;
  line-height: 0;
}
.v2 .pickup-topic-list__carousel-dots .slick-dots li {
  line-height: 0;
  position: relative;
  display: inline-block;
}
.v2 .pickup-topic-list__carousel-dots .slick-dots li button {
  position: relative;
  line-height: 0;
  font-size: 0;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0 10px 0;
}
.v2 .pickup-topic-list__carousel-dots .slick-dots li button::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ccc7c5;
  border-radius: 10px;
}
.v2 .pickup-topic-list__carousel-dots .slick-dots li.slick-active button::before {
  background-color: #ff8e1f;
}
.v2 .pickup-topic-list__link {
  display: block;
  float: left;
  outline: none;
}
.v2 .pickup-topic-list__link:first-child {
  margin-right: 20px;
}
.v2 .pickup-topic-list__image {
  width: 555px;
  height: 277px;
  background-color: #f0edec;
  background-size: cover;
  background-position: center;
}
.v2 .pickup-topic-list__image:hover {
  opacity: 0.8;
}
.content-wrapper {
  box-sizing: border-box;
  width: 1130px;
  margin: 0 auto;
  position: relative;
}
.content-wrapper .main-content {
  box-sizing: border-box;
  float: left;
  font-size: 13px;
  width: 815px;
  overflow: hidden;
}
.content-wrapper .right-content {
  box-sizing: border-box;
  float: left;
  width: 315px;
  padding-left: 15px;
  padding-right: 0;
  font-size: 13px;
  overflow: hidden;
}
.js-ui-flash {
  position: fixed;
  min-width: 300px;
  padding: 8px 10px;
  text-align: center;
  background-color: rgba(255, 255, 102, 0.7);
  font-size: 14px;
  color: #444;
  bottom: 0px;
  right: 0px;
}
.js-ui-lightbox-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.js-ui-lightbox-image-box {
  position: fixed;
  width: 100%;
  top: 20vh;
  z-index: 1002;
  color: white;
  font-size: 12px;
  line-height: 1.5;
}
.js-ui-lightbox-image-box > img {
  display: block;
  max-width: 900px;
  max-height: 70vh;
  min-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  background-image: url(/assets/img/spinner.gif);
  background-position: center;
  background-repeat: no-repeat;
}
.js-ui-lightbox-image-box p {
  padding: 10px;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}
.js-ui-lightbox-hide {
  display: block;
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  text-align: right;
  font-size: 50px;
}
.js-ui-lightbox-hide > span {
  cursor: pointer;
}
.js-ui-lightbox-thumbnails {
  display: block;
  width: 900px;
  height: 86px;
  margin: 0 auto;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
  text-align: center;
}
.js-ui-lightbox-thumbnails > img {
  width: 80px;
  height: 80px;
  margin: 0 2px;
  opacity: 0.5;
}
.js-ui-lightbox-thumbnails > img:hover {
  opacity: 1;
  cursor: pointer;
}
.js-ui-lightbox-thumbnails > img.active {
  opacity: 1;
  border: 2px solid #fd8e32;
}
.js-ui-lightbox-prev {
  display: inline-block;
  font-size: 40px;
  width: 50px;
  text-align: center;
  position: absolute;
  top: 70px;
  cursor: pointer;
}
.js-ui-lightbox-prev > i {
  display: none;
}
.js-ui-lightbox-prev > i:active {
  color: #fd8e32;
}
.js-ui-lightbox-next {
  font-size: 40px;
  width: 50px;
  text-align: center;
  position: absolute;
  top: 70px;
  display: inline-block;
  cursor: pointer;
}
.js-ui-lightbox-next > i {
  display: none;
}
.js-ui-lightbox-next > i:active {
  color: #fd8e32;
}
@media print {
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
  .right-content {
    display: none;
  }
  .left-content {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .content-wrapper {
    width: 815px;
  }
  .v2 .logo_print {
    display: block;
    width: 815px;
    margin: 0 auto;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #fd8e32;
  }
  .v2 .logo_print > img {
    width: 180px;
    height: 28px;
  }
}
