@charset 'UTF-8';
.content-wrapper .main-content {
  min-width: 1170px;
}
.messages {
  top: 0px!important;
}
.p-bg-wrapper {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.p-bg-wrapper .p-bg {
  width: 100%;
  background: url('/assets/img/top2/image-top.png') no-repeat;
  background-position: center;
  height: 420px;
  z-index: -10;
}
.top-message-area {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 400px;
  width: 100%;
}
.top-message-area h1 {
  color: #4E2111;
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 5px 8px #fff;
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
.top-message-area .btn-area {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: -98px;
}
.top-message-area .btn-area a {
  margin-left: 20px;
  margin-right: 20px;
}
.content-box {
  min-width: 1170px;
  z-index: 10;
  background: #fff;
}
.content-box .inner-box {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
}
.zoom {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #fff;
}
.zoom.left-box {
  float: left;
  margin-right: 40px;
}
.zoom.small {
  margin-left: 4px;
  margin-bottom: 4px;
  float: left;
}
.zoom.small a:link,
.zoom.small a:visited {
  text-decoration: none;
}
.zoom:hover {
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.15);
}
.zoom.large {
  width: 540px;
  overflow: hidden;
  margin-bottom: 20px;
}
.zoom.large .image-outer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 540px;
  height: 330px;
}
.zoom.large .image-outer img {
  width: 540px;
}
.zoom.small {
  width: 286px;
  height: 230px;
  overflow: hidden;
}
.zoom.small .image-outer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 274px;
  height: 170px;
}
.zoom.small .image-outer img {
  height: 170px;
}
.zoom.small .image-outer .favcount-overflow {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.2);
  font-weight: normal;
  color: #fff;
  border-radius: 4px;
  padding: 2px 4px 0px;
  font-size: 12px;
}
.zoom.middle {
  width: 370px;
  overflow: hidden;
}
.zoom.middle .image-outer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 370px;
  height: 230px;
}
.zoom.middle .image-outer img {
  width: 370px;
}
.zoom .image-title {
  margin-top: 6px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  padding-left: 5px;
}
.zoom .image-text {
  padding-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  color: #999;
  padding-left: 5px;
}
.zoom .image-text .a {
  text-decoration: none;
}
.hotel .small,
.food .small {
  height: 250px;
}
.banner-wrapper {
  position: relative;
}
.banner-wrapper .btn-register {
  position: absolute;
  right: 36px;
  top: 22px;
}
.banner-wrapper .btn-register .btn-register-div {
  width: 225px;
  height: 62px;
  background: url(/assets/img/top2/btn-register.png) no-repeat;
}
.banner-wrapper .btn-register .btn-register-div:hover {
  background: url(/assets/img/top2/btn-register.png) no-repeat;
  background-position: 0px -71px;
}
.banner-wrapper .btn-report-register {
  position: absolute;
  right: 115px;
  top: 22px;
}
.banner-wrapper .btn-report-register .btn-report-register-div {
  width: 304px;
  height: 77px;
  background: url(/assets/img/top2/btn-report-register.png) no-repeat;
}
.banner-wrapper .btn-report-register .btn-report-register-div:hover {
  background: url(/assets/img/top2/btn-report-register.png) no-repeat;
  background-position: 0 -79px;
}
.map-area {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 1170px;
  height: 634px;
  padding-left: 30px;
}
.map-area .nonborder {
  border: none;
  outline: none;
}
.map-area #area li {
  float: left;
  margin-top: 8px;
  margin-right: 20px;
}
.map-area #area li:before {
  font-family: FontAwesome;
  content: "\f0da";
  margin-right: 5px;
}
.map-area #area li a:link,
.map-area #area li a:visited {
  color: #555555;
  text-decoration: underline;
}
.map-area #area li a:hover {
  color: #fa8d25;
}
.map-area {
  position: relative;
  background: url(/assets/img/top2/image-map.png) no-repeat;
  width: 1170px;
  height: 634px;
}
.map-area .area-block-list {
  position: absolute;
  right: 30px;
  top: 30px;
}
.japan-map {
  position: relative;
}
.japan-map .btn-area {
  position: absolute;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #ffffff, #dddddd);
  font-size: 15px;
  padding: 4px 8px 0px;
  border-radius: 4px;
  border: 1px solid #999;
}
.japan-map .btn-area:link,
.japan-map .btn-area:visited {
  text-decoration: none;
}
.japan-map .btn-area:hover {
  color: #999;
}
.japan-map .btn-area.hokkaido {
  left: 298px;
  top: 70px;
}
.japan-map .btn-area.tohoku {
  left: 396px;
  top: 200px;
}
.japan-map .btn-area.koshinetsu {
  left: 239px;
  top: 217px;
}
.japan-map .btn-area.kanto {
  left: 370px;
  top: 307px;
}
.japan-map .btn-area.tokai {
  left: 295px;
  top: 348px;
}
.japan-map .btn-area.hokuriku {
  left: 214px;
  top: 262px;
}
.japan-map .btn-area.kinki {
  left: 243px;
  top: 376px;
}
.japan-map .btn-area.chuugoku {
  left: 128px;
  top: 293px;
}
.japan-map .btn-area.shikoku {
  left: 182px;
  top: 394px;
}
.japan-map .btn-area.kyuusyuu {
  left: 52px;
  top: 397px;
}
.japan-map .btn-area.okinawa {
  left: 173px;
  top: 130px;
}
.area-list {
  position: absolute;
  top: 478px;
  left: 32px;
  width: 520px;
}
.area-list li {
  position: relative;
  float: left;
  width: 98px;
  font-size: 14px!important;
  margin-left: 30px;
  margin-bottom: 1px;
}
.area-list li a {
  position: relative;
}
.area-list li a:link,
.area-list li a:visited {
  text-decoration: none;
}
.area-list li img.mark-area-list {
  position: relative;
  top: -9px;
  margin-right: 3px;
}
.area-block-list {
  float: left;
  width: 560px;
  margin-left: 2px;
}
.area-block-list li.btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px!important;
  width: 165px;
  height: 68px;
  background: rgba(153, 219, 217, 0.3);
  border: 1px solid #e5f6f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #005551;
}
.area-block-list li.btn:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #99dbd9;
  color: #005551;
}
.area-block-list a {
  text-decoration: none !important;
}
.switch-info {
  border: 1px dashed #cccccc;
  text-align: center;
  font-size: 24px;
  padding: 20px 20px 10px;
  margin-bottom: 40px;
}
.switch-info .left-box {
  float: left;
  width: 50%;
  padding-top: 5px;
}
.switch-info .right-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  margin-left: 40px;
  float: left;
  padding: 10px;
  font-size: 16px;
  background: #E74C3C;
  color: #fff;
}
.pickup-activity {
  margin-top: 10px;
  margin-left: 2px;
  margin-bottom: 4px;
}
.pickup-activity .image-title {
  font-size: 16px;
}
.pr {
  font-size: 11px;
  line-height: 12px;
  color: #aaa;
}
.purposes-list {
  margin-bottom: 30px;
}
.purposes-list ul {
  margin-left: 15px;
}
.purposes-list ul li {
  float: left;
  width: 275px;
}
.purposes-list {
  border: 1px solid #eee;
  border-top: 2px solid #aaa;
  background: #FDFDF7;
  padding-top: 5px;
  padding-bottom: 5px;
}
.purposes-list li {
  position: relative;
  margin-left: 0;
  border: 1px dashed #ddd;
  border-width: 0px 1px 1px 0;
  padding: 4px;
}
.purposes-list li:nth-child(4n) {
  border-width: 0 0 1px 0;
}
.purposes-list li a:link,
.purposes-list li a:visited {
  text-decoration: none;
}
.purposes-list li img {
  position: relative;
  top: -9px;
  margin-left: 10px;
  margin-right: 3px;
}
.btn-more {
  font-size: 14px;
  line-height: 34px;
  text-decoration: none;
  display: inline-block;
  height: 37px;
  background: url(/assets/img/top2/btn-parts-center.png) repeat-x;
}
.btn-more:link,
.btn-more:visited {
  text-decoration: none;
}
.btn-more:before {
  content: '　';
  background: url(/assets/img/top2/btn-parts-left.png) no-repeat;
  width: 26px;
  height: 37px;
  display: inline-block;
  margin-right: 6px;
}
.btn-more:after {
  content: '　';
  background: url(/assets/img/top2/btn-parts-right.png) no-repeat;
  width: 12px;
  height: 37px;
  display: inline-block;
}
.relative {
  position: relative;
}
.border-box {
  margin-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 4px;
  margin-left: 0!important;
  padding-top: 10px!important;
  margin-bottom: 10px;
}
.border-box .inner-box {
  margin-left: 10px!important;
}
.pickup-and-new-plan {
  margin-left: -30px;
  margin-bottom: 30px;
}
.pickup-and-new-plan .inner-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 370px;
  margin-left: 30px;
}
.pickup-and-new-plan .inner-box .zoom.middle {
  margin-bottom: 5px;
}
.pickup-and-new-plan .inner-box.center .ranking,
.pickup-and-new-plan .inner-box.right .ranking {
  margin-top: 40px;
}
.pickup-and-new-plan .inner-box.center ul,
.pickup-and-new-plan .inner-box.right ul {
  margin-left: -20px;
  padding-top: 3px;
}
.pickup-and-new-plan .inner-box.center ul li,
.pickup-and-new-plan .inner-box.right ul li {
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  font-size: 12px;
}
.pickup-and-new-plan .inner-box.center ul li:hover,
.pickup-and-new-plan .inner-box.right ul li:hover {
  color: #fa8d25;
}
.pickup-and-new-plan .inner-box.center ul li:hover .inner-box.left,
.pickup-and-new-plan .inner-box.right ul li:hover .inner-box.left {
  border-color: #fa8d25;
}
.pickup-and-new-plan .inner-box.center ul li .inner-box.left,
.pickup-and-new-plan .inner-box.right ul li .inner-box.left {
  float: left;
  border: 1px solid #ccc;
  padding: 1px;
  width: 54px;
  height: 54px;
  margin-bottom: 8px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
.pickup-and-new-plan .inner-box.center ul li .inner-box.left img,
.pickup-and-new-plan .inner-box.right ul li .inner-box.left img {
  height: 50px;
  width: 50px;
}
.pickup-and-new-plan .inner-box.center ul li .inner-box.right,
.pickup-and-new-plan .inner-box.right ul li .inner-box.right {
  padding-top: 0;
  float: left;
  margin-left: 10px;
  width: 250px;
  width: 284px;
}
.characteristic-message {
  padding-bottom: 40px;
}
.characteristic-message ul {
  margin-top: 40px;
  margin-left: -100px;
}
.characteristic-message ul li {
  position: relative;
  float: left;
  width: 270px;
  margin-left: 130px;
}
.characteristic-message ul li:before {
  font-family: FontAwesome;
  margin-right: 10px;
  font-size: 40px;
  position: absolute;
  display: block;
  color: #8ecc2a;
  top: -5px;
  left: -20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background: #eee;
}
.characteristic-message ul li.message1:before {
  content: "\f02d";
}
.characteristic-message ul li.message2:before {
  content: "\f135";
}
.characteristic-message ul li.message3:before {
  content: "\f040";
}
.characteristic-message ul li p {
  font-size: 18px;
  position: relative;
  padding-left: 40px;
}
.characteristic-message ul li p.text {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.characteristic-message ul li .btn-reporter-offer {
  margin-top: 10px;
}
.characteristic-message ul li .btn-reporter-offer:before {
  font-family: FontAwesome;
  margin-right: 5px;
  content: "\f0a1";
}
.content-wrapper {
  display: none;
}
.headline {
  margin-top: 30px;
  border-bottom: 1px solid #eee!important;
  padding-bottom: 6px;
  margin-bottom: 0!important;
}
.headline h2 {
  color: #818181;
  font-weight: bold!important;
  font-size: 18px!important;
  border-width: 0px!important;
}
.headline.no-border {
  border-bottom: none!important;
}
.detail-area-list {
  border-top: 2px solid #eee;
  background: #FDFDF7;
  padding-bottom: 10px;
}
.detail-area-list .cols {
  float: left;
  width: 146px;
  height: 300px;
  padding: 0 10px;
  margin-top: 10px;
  border-left: 1px dashed #eee;
}
.detail-area-list .cols:first-child {
  border-width: 0;
}
.detail-area-list .cols ul {
  margin-bottom: 10px;
}
.detail-area-list .cols ul a:link,
.detail-area-list .cols ul a:visited {
  text-decoration: none;
}
.detail-area-list .area-title {
  background: #F5F5E9;
  padding: 2px 20px 0px;
  font-size: 14px;
  margin-bottom: 10px;
}
.detail-area-list .area-region {
  width: 100%;
  padding: 0px 20px;
  position: relative;
  font-size: 12px;
}
.detail-area-list .area-region:before {
  content: "　";
  background: url(/assets/img/top2/arrow-right.png) no-repeat;
  display: block;
  float: left;
  position: relative;
  top: 6px;
  margin-right: 0px;
}
.pickup-region-wrapper {
  padding: 10px;
}
.pickup-title {
  background: #F5F5E9;
  line-height: 1.71;
  padding: 2px 20px 0px!important;
  font-size: 14px;
  margin-bottom: 10px;
}
li.pickup-region {
  float: left;
  font-size: 12px;
  text-align: center;
  padding: 2px 20px;
  border-left: 1px dashed #eee;
}
.pickup-region-inner a:first-child li {
  border-width: 0;
}
.square-list a {
  display: block;
  float: left;
  margin-left: 10px;
}
.square-list a:link,
.square-list a:visited {
  text-decoration: none;
}
.square-list .photo {
  width: 80px;
  margin-bottom: 10px;
}
.square-list .title {
  width: 257px;
  font-size: 16px;
  margin-left: 14px;
}
.rank-no {
  position: absolute;
  width: 20px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  top: -4px !important;
  right: -8px !important;
  background: #E5E5E5;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}
.rank-no.orange {
  background: #F8A200;
  color: #fff;
}
.topic-banner {
  float: left;
  margin: 15px 5px 0;
}
