@charset "UTF-8";
/* CSS Document */

  /*EMBED FONT PROXIMA */
@font-face {
    font-family: ProximaNova;
    src: url(ProximaNova-Regular_0.otf);
}
@font-face {
    font-family: ProximaNovaBold;
    src: url(ProximaNova-Bold_0.otf);
}
.proximaFont {
    font-family: ProximaNova,Arial,Helvetica,sans-serif;
}
.proximaFont strong {
    font-family: ProximaNovaBold;
    font-weight: normal;
  }
  /*EMBED FONT PROXIMA */