@import "/img/_b/font/embed-font.css";

/* -- Precedente telone - mantenere fino a bonifica effettuata --- */
.contTelone {float:left; width:100%; overflow:hidden;}
.contTelone .sideDx .item:first-child {margin-bottom:16px;}
.contTelone .sideDx .item > * {display:block;}
.contTelone .sideDx .item .itemImg {display:block; width:100%;}
.contTelone .sideDx .item .alt {display:none;}
.contTelone .altTxt, 
.contTelone.contSmall .sideDx {display:none;}
.contTelone.contSmall .sideDx {width:100%;}
.contTelone.contSmall .altTxt {display:block;}
.contTelone.contSmall .altTxt .item {float:right; margin-bottom:20px; width:49%; background:#f0efea;}
.contTelone.contSmall .altTxt div:first-child .item {float:left;}
.contTelone.contSmall .altTxt .item a {display:block; padding:8px 0; font-size:14px; text-align:center; color:#332121;}
.contTelone.contSmall .altTxt .item a > img {display:none;}
.contTelone.contSmall .w_telone_new {float:right; width:100%;}
.w_telone_new {position:relative; z-index:1; min-height:250px; margin-bottom:20px;}
.w_telone_new .linkTelone {display:none; height:250px; width:100%; min-width:744px; background:url() no-repeat 0 0; overflow:hidden;}
.w_telone_new .linkTelone.sel {display:block;}
.w_telone_new .linkTelone:hover {text-decoration:none;}
.w_telone_new .linkTelone .prezzo {position:absolute; z-index:1; top:190px; left:35px; padding:8px 0 6px;}
.w_telone_new .linkTelone .prezzo .itemPrice {font-size:24px;}
.w_telone_new .linkTelone .prezzo .itemDelPrice {float:left; padding-right:12px; margin:4px 8px 0 0; font-size:14px;}
.w_telone_new .listDx {position:absolute; z-index:2; top:17px; right:17px; width:200px; font-size:13px; color:#FFF; background:rgba(33, 33, 33, 0.85); border:1px solid #666;}
.w_telone_new .listDx li {padding:10px 18px; border-top:1px solid #666; cursor:pointer;}
.w_telone_new .listDx li:first-child {border-top:0;}
.w_telone_new .listDx li.sel, 
.w_telone_new .listDx li:hover {background:rgba(200, 200, 200, 0.2);}
.w_telone_new .listDx li strong {display:block;}
.w_telone_new.tSmall .listDx {top:44px; width:auto; background:none; border:0;}
.w_telone_new.tSmall .listDx li {margin-bottom:25px; padding:5px; background:rgba(30,30,30,0.4); border:1px solid rgba(255, 255, 255, 0.15);}
.w_telone_new.tSmall .listDx li > span {display:block; width:10px; height:10px; text-indent:999em; overflow:hidden;}
.w_telone_new.tSmall .listDx li:hover > span, 
.w_telone_new.tSmall .listDx li.sel > span {background:#fff;}
.w_telone_new .listBott {display:none;}
.w_telone_new.tSmall .listBott {display:block; margin-top:10px; text-align:center;}
.w_telone_new.tSmall .listBott li {display:inline-block; min-width:18%; color:#fff; font-size:0; border-left:1px solid #c1c1c1;}
.w_telone_new.tSmall .listBott li:first-child {border-left:0;}
.w_telone_new.tSmall .listBott li strong {display:block; padding:0 20px; color:#265abd; font-weight:normal; font-size:13px; line-height:14px; cursor:pointer;}
/* -- // --- */

.w_telone {position:relative; z-index:1; width:100%; height:305px; margin:6px 0 20px;}
.w_telone .contItem {position:absolute; z-index:1; top:0; left:0; height:100%; overflow:hidden; white-space:nowrap;}
.w_telone .contItem .itemTelone {position:relative; z-index:1; display:inline-block; width:1236px; height:100%; overflow:hidden; background:url() no-repeat;}
.w_telone .contItem .itemTelone:hover {text-decoration:none;}
.w_telone .contItem .itemTelone .linkTelone {position:relative; display:block; height:305px; width:100%;}
.w_telone .contItem .itemTelone .bollo {position:absolute; top:0; left:0;}
.w_telone .contItem .itemTelone .prezzo {position:absolute; z-index:1; top:170px; left:470px;}
.w_telone .contItem .itemTelone .prezzo .itemPrice {font-size:56px; font-weight:bold;}
.w_telone .contItem .itemTelone .prezzo .itemPrice span {font-size:30px;}
.w_telone .contItem .itemTelone .prezzo .itemDelPrice {padding-left:12px; margin:4px 8px 0 0;  color:#666; font-size:16px;}
.w_telone .rightPos {position:absolute; z-index:2; top:0; right:25px; height:250px;}
.w_telone .rightPos:before {content:" "; display:inline-block; width:1px; height:100%; vertical-align:middle;}
.w_telone .rightPos .listDx {display:inline-block; width:200px; font-size:13px; color:#FFF; background:rgba(33, 33, 33, 0.85); border:1px solid #666; vertical-align:middle;}
.w_telone .rightPos .listDx li {padding:10px 18px; border-top:1px solid #666; cursor:pointer;}
.w_telone .rightPos .listDx li:first-child {border-top:0;}
.w_telone .rightPos .listDx li.sel, 
.w_telone .rightPos .listDx li:hover {background:rgba(200, 200, 200, 0.2);}
.w_telone .rightPos .listDx li strong {display:block;}
.w_telone.tSmall .listDx {top:44px; width:auto; background:none; border:0;}
.w_telone.tSmall .listDx li {margin-bottom:25px; padding:5px; background:rgba(30,30,30,0.4); border:1px solid rgba(255, 255, 255, 0.15);}
.w_telone.tSmall .listDx li > span {display:block; width:10px; height:10px; text-indent:999em; overflow:hidden;}
.w_telone.tSmall .listDx li:hover > span, 
.w_telone.tSmall .listDx li.sel > span {background:#fff;}
.w_telone.tMicro .contItem .itemTelone {background-position:-215px 0;}
.w_telone.tMicro .contItem .itemTelone .prezzo {left:263px;}

@keyframes sarBgBlink{
	0% {background:#ffbe00;} 50% {background:#b00000;} 100% {background:#ffbe00;}
}
/* Telone sar per bf 2016 */
.w_telone_sar {position:relative; z-index:1; margin:0 auto; width:100%;}
.w_telone_sar:after {content:" "; clear:both; display:block; height:1px;}
.w_telone_sar .nav_btn,
.w_telone_sar .link_nav {position:absolute; z-index:100; top:180px; width:17px; height:27px; text-indent:-999em; background:url("../images/ico_img.png") no-repeat; cursor:pointer;}
.w_telone_sar .nav_indietro {left:15px; background-position:0 -110px;}
.w_telone_sar .nav_indietro:hover {background-position:0 -140px;}
.w_telone_sar .nav_indietro.disabled {background-position:0 -80px;}
.w_telone_sar .nav_avanti {right:15px; background-position:-20px -110px;}
.w_telone_sar .nav_avanti:hover {background-position:-20px -140px;}
.w_telone_sar .nav_avanti.disabled {background-position:-20px -80px;}
.w_telone_sar .contSlide {position:relative; z-index:1; width:100%; height:420px; overflow:hidden;}
.w_telone_sar .slider {position:absolute; z-index:1; top:0; left:0; height:100%; white-space:nowrap}
.w_telone_sar .prod {float:left; height:100%; text-align:center;}
.w_telone_sar .prod .item {position:relative; display:inline-block; padding:0 1px; width:18%; height:100%; text-decoration:none; vertical-align:top;}
.w_telone_sar .prod .item .bgWhite {padding:5%; min-height:360px; background:#FFF; white-space:normal;}
.w_telone_sar .prod .item .bgWhite a {display:block;}
.w_telone_sar .prod .item .bgWhite a:hover {text-decoration:none; opacity:0.9;}
.w_telone_sar .prod .item .bgWhite a > * {display:block; margin:3px auto; color:#000;}
.w_telone_sar .prod .item .bgWhite a .itemImg {margin-bottom:5px; width:90%;}
.w_telone_sar .prod .item .bgWhite a .itemName {margin:2px 0 10px; text-transform:uppercase; font-size:14px; line-height:16px; height:32px; overflow:hidden;}
.w_telone_sar .prod .item .bgWhite a .sar .sarTime {position:relative; display:inline-block; padding-left:12px; width:128px; height:25px; line-height:25px; color:#FFF; font-size:18px; border-radius:12px; background:#b00000;}
.w_telone_sar .prod .item .bgWhite a .sar .sarTime:before{content:url("/layout/images/clock.png"); position:absolute; left:0; bottom:0; line-height:0;}
.w_telone_sar .prod .item .bgWhite a .sar .sarTime.lightBlink {background:#ffbe00;
-webkit-animation:sarBgBlink 2s infinite; /* Safari 4.0 - 8.0 */
animation:sarBgBlink 2s infinite;
}.w_telone_sar .prod .item .bgWhite a .sar .sarTime.alertBlink {background:#ffbe00;
-webkit-animation:sarBgBlink 0.5s infinite; /* Safari 4.0 - 8.0 */
animation:sarBgBlink 0.5s infinite;
}
.w_telone_sar .prod .item .bgWhite a .risparmio {margin-top:5px; font-size:13px; height:16px;}
.w_telone_sar .prod .item .bgWhite a .risparmio del {color:#000 !important}
.w_telone_sar .prod .item .bgWhite a .itemPrice {margin-top:-5px; font-size:33px; font-weight:bold;}
.w_telone_sar .prod .item .bgWhite a .bollo {position:absolute; top:6px; right:6px; padding:10px 0; width:51px; height:31px; font-size:10px; line-height:13px; color:#FFF; background:#c00; border-radius:100%;}
.w_telone_sar .prod .item .bgWhite a .bollo strong {display:block; font-size:18px;}
.w_telone_sar .prod .item .bgWhite a .remain {position:absolute; top:16px; left:6px; padding:4px 10px 4px 35px; font-size:9px; line-height:11px; color:#FFF; text-align:left; background:#2a3139; border-radius:16px;}
.w_telone_sar .prod .item .bgWhite a .remain .txtBig {position:absolute; top:-4px; left:0; width:39px; height:39px; line-height:39px; font-size:36px; text-align:center; background:#2a3139; border-radius:100%;}
.w_telone_sar .prod .item .bgWhite a .remain .txtMid {display:block; font-size:11px;}
.w_telone_sar .prod .item .bgWhite .btn {font-size:12px;}
.w_telone_sar .prod .item.itemCover .cover {position:absolute; top:0; left:0; right:0; bottom:0; margin:0; padding:40% 8px 0; font-size:25px; line-height:105%; color:#FFF; background:#000; background:rgba(0,0,0,0.8);  text-transform:uppercase;}
.w_telone_sar .prod .item.itemCover .addPref {position:relative;}
.w_telone_sar .prod .item.itemCover .btn {background:#bebebe;}
.w_telone_sar .prod .item.itemCover a .bollo {background:#000;}
.w_telone_sar .prod .item .addPref {display:block; padding-bottom:10px; color:#cbcbcb; text-decoration:underline;}
.w_telone_sar .prod .item .addPref:before {content:url("/layout/images/micro_stella.png"); margin-right:8px; vertical-align:sub;}
.w_telone_sar .prod .item .addPref.active {color:#666;}
.w_telone_sar .prod .item .addPref.active:before {content:url("/layout/images/micro_stella_y.png");}
.w_telone_sar > .prod {margin-bottom:20px; width:100%; text-align:left;}
.w_telone_sar > .prod .item {width:19.3%; text-align:center; border:1px solid #DDD;}
.w_telone_sar > .prod .item:hover {border-color:#BBB;}
.w_telone_sar > .prod .item .addPref {color:#999;}
.w_telone_sar.sar_preload .nav_btn {display:none;}
.w_telone_sar.sar_preload .slider,
.w_telone_sar.sar_preload .slider .prod {width:100%;}
.sezHome .w_telone_sar .prod {display:none;}
.sezHome .w_telone_sar .prod:first-child {display:block;}
.sezHome .w_telone_sar .prod .item {width:19.3%; height:99.5%; text-align:center; border:1px solid #DDD;}
.sezHome .w_telone_sar + .contBtn {padding:10px 0;}

.liquidSpace .w_mono {float:right; width:48%;}
.liquidSpace .w_mono:first-child {float:left;}
.w_mono .box_center {float:left; width:94%; padding:0 3%;}
.w_mono .item {clear:both; float:left; width:100%; padding:6px 0; border-top:1px solid #DEDEDE}
.w_mono .item:first-child {border-top:0;}
.w_mono a.itemBrand {font-size:13px;}
.w_mono .linkTit {display:block; font-size:12px; padding-bottom:6px; overflow:hidden;}
.w_mono .linkTxt {display:block; padding-bottom:3px; overflow:hidden;}
.w_mono .linkTxt:hover {text-decoration:none;}
.w_mono .contPrice {overflow:hidden;}
.w_mono .itemDelPrice {padding-right:6px;}
.w_mono .linkImg {float:left; margin:0 8px 2px 0;}
.w_mono .contPrice .btn.cart {margin-top:3px; clear:both;}
.vetrineProd .liquidSpace .w_mono {width:100%;}

.w_hot .tit {font-size:14px;}

.w_vertical_list .box_center {float:left; padding-top:12px;}
.w_vertical_list .item {float:left; padding:0 6px 12px;}
.w_vertical_list .item .linkImg {float:left; margin-right:8px;}
.w_vertical_list .item .linkImg .itemImg {width:50px; height:50px;}
.big_class .w_vertical_list .item .linkImg .itemImg {width:auto; height:auto;}
.w_vertical_list .item .linkTit {float:left; width:95px; font-size:12px;}
.w_vertical_list .item .contPrice {float:right; text-align:right; padding-top:7px; width:68px; font-size:10px;}
.w_vertical_list .item .itemPrice {display:block;}
.w_list_num .listNum {float:left; width:20px; padding:1px 7px 0 0; margin-top:15px; height:20px; line-height:20px; text-align:center; color:#8a8a82; font-weight:bold; font-size:12px; background:url(../images/bg_circ.png) no-repeat;}
.w_list_num .item {float:left; padding:0 2% 12px; width:96%;}
.w_list_num .item .linkImg {margin-right:7px;}
.w_list_num .item .linkTit {float:none; width:auto;}
.w_list_num .item .contPrice {float:none; width:auto;}
.w_list_num .item .itemPrice {display:inline; padding-left:8px;}

.w_compare .tit, 
.w_slide .tit, 
.w_orizontal_list .tit, 
.w_col.box_grigio .tit, 
.w_pacchetti .tit {font-size:15px; color:#000;}
.w_compare .box_center {margin:8px 0 10px;}
.w_compare h4.lightGray {font-size:12px; font-weight:normal; padding-bottom:10px;}
.w_compare .item {text-align:center; float:left;}
.w_compare .item .linkTit {display:block; padding:10px 0 2px;}
.w_compare .leftSide {float:left; width:14%; padding:0 2%; border-right:1px solid #dedede; vertical-align:top;}
.w_compare .rightSide {float:left; width:80%; padding:0 0 0 1%;}
.w_compare .rightSide .item {width:18%; padding:0 0.9%;}

.w_slide {margin-bottom:15px;}
.w_slide .tit {padding:4px 0 10px;}
.w_slide .nav_btn {float:left; margin-top:35px; width:22px; height:57px; cursor:pointer; background:url("../images/nav_button.png") no-repeat 0 0;}
.w_slide .nav_indietro {margin-right:10px;}
.w_slide .nav_indietro:hover {background-position:0 -57px;}
.w_slide .nav_avanti {float:right; margin-left:10px; background-position:-22px 0;}
.w_slide .nav_avanti:hover {background-position:-22px -57px;}
.w_slide .nav_btn.disabled {background:none; cursor:default;}
.w_slide .contSlide {position:relative; height:170px; white-space:nowrap; overflow:hidden; z-index:1;}
.w_slide .contSlide .slider {position:absolute; top:0; left:0;}
.w_slide .item {display:inline-block; width:130px; margin-right:20px; text-align:center; vertical-align:top; overflow:hidden;}
.w_slide .item .linkImg {margin-bottom:5px; width:100%; min-height:75px; background:url("../images/loading.gif") no-repeat 50% 30px;}
.w_slide .item .linkTit {white-space:normal;}
.w_slide .item a {display:block; font-weight:bold; font-size:12px;}

.w_slide_cat .contCat {display:inline-block; border-left:1px solid #d9d9d9; padding:0 28px; text-align:center; vertical-align:top;}
.w_slide_cat .contCat:first-child {border-left:0;}
.w_slide_cat .contTit {display:block; background-color:#e9e9e0; padding:4px 10px; margin-bottom:15px;}
.w_slide_cat .contTit .titCat {display:block; font-size:14px; color:#463233;}
.w_slide_cat .contTit a {font-weight:bold;}
.w_slide_cat .contSlide {height:220px;}
.w_slide_cat .nav_btn {margin-top:75px;}
.w_slide_cat .item {margin:0;}

.w_slide_small .contSlide {height:135px;}
.w_slide_small .item {width:80px;}
.w_slide_small .item a {font-size:10px;}
.w_slide_small .item .linkTit {font-weight:normal;}

.w_marchi .contFirstItem {float:left; width:146px;}
.w_marchi .item {float:right; width:146px; text-align:center; margin-bottom:15px;}
.w_marchi .item .bgSchermo {display:block; width:146px; height:69px; background:url("../images/bg_schermo.gif") no-repeat;}
.w_marchi .item .bgSchermo:hover {text-decoration:none;}
.w_marchi .item .bgSchermo img {display:inline-block; width:1px; height:32px;}
.w_marchi .item .bgSchermo strong {display:inline-block; vertical-align:middle; font-size:17px; color:#FFF; width:135px; padding-right:6px;  text-shadow:2px 2px 1px #000; cursor:pointer;}
.w_marchi .item .linkTit {display:block; line-height:13px;}
.w_marchi .liquidSpace .contItem {float:left; width:25%;}
*:first-child+html .w_marchi .liquidSpace .contItem:first-child {width:24%;} /*per IE7 */

.w_list_slide {margin-bottom:15px; border:2px solid #d9d9d9; border-top-width:1px; height:217px; background-color:#f2f2f2; position:relative; z-index:1;}
.w_list_slide li {border-top:1px solid #d9d9d9; width:196px;}
.w_list_slide li .fakeLink {display:block; font-size:12px; line-height:16px; padding:7px 10px; cursor:pointer; position:relative; z-index:2;}
.w_list_slide li.sel .fakeLink {background-color:#FFF; color:#000; cursor:default; text-decoration:none;}
.w_list_slide .liquidSpace {display:none; position:absolute; top:0; left:0; width:100%;}
.w_list_slide .liquidSpace .w_slide {padding:40px 10px 0; margin-left:195px; margin-bottom:0; background-color:#FFF; border-left:1px solid #d9d9d9;}
.w_list_slide .liquidSpace .contSlide {height:176px;}
.w_list_slide .sel .liquidSpace {display:block;}
.w_list_slide_orizzontal {border-top-width:2px;}
.w_list_slide_orizzontal li {float:left; width:auto; border-right:1px solid #d9d9d9; border-top:0;}
.w_list_slide_orizzontal .liquidSpace {top:29px;}
.w_list_slide_orizzontal .liquidSpace .w_slide {padding-top:10px; margin:0; border-left:0;}
.w_fast_add {border:2px solid #d9d9d9; margin-bottom:15px;}
.w_fast_add .itemPrice {font-size:15px;}
.w_fast_add .contAddItem {float:left; width:98%; padding:0 1% 15px;}
.w_fast_add .tit {font-size:15px; padding:8px 0;}
.w_fast_add .subTit {font-size:13px; padding:8px;}
.w_fast_add .contAddItem .item {float:left; width:25%;}
.w_fast_add .contAddItem .item .itemImg {float:left; margin-right:15px; width:50%; max-width:125px;}
.w_fast_add .contAddItem .item .itemName {display:block; overflow:hidden; padding:4px 0 10px; word-wrap:break-word;}
.w_fast_add .contAddItem .ico_piu_pacc{float:left; margin-top:35px;}
.w_fast_add .rightSide {float:right; width:20%; min-width:195px; font-size:15px;}
.w_fast_add .rightSide #NumeroTotaleCorrelato {display:block;}
.w_fast_add .rightSide .btnAddCart {margin-top:15px;}
.w_fast_add .contProdotti {overflow:hidden; /*white-space:nowrap;*/ height:120px; margin-right:6px;}
.w_fast_add .contProdotti .prod {display:inline-block; vertical-align:top; width:24%; min-width:98px; margin-bottom:20px; text-align:center; border-left:1px solid #E7E7E7;}
.w_fast_add .contProdotti .prod:first-child {border:0;}
.w_fast_add .contProdotti .prod .nessunProdotto {border:1px solid #E7E7E7; height:100px;}
.w_fast_add .contProdotti .prod .center {display:block; margin:0 auto; width:86%; white-space:normal;}
.w_fast_add .contProdotti .prod .center img:first-child {width:100%; max-width:100px;}
.w_fast_add .contProdotti .prod .center .ico_delete {vertical-align:bottom; margin-left:6px;}
.w_fast_add .w_list_slide {clear:both; border:0; margin:0;}
.w_fast_add .w_list_slide .liquidSpace .w_slide {padding-top:20px;}
.w_fast_add .w_list_slide .liquidSpace .contSlide {height:196px;}
.w_fast_add .w_list_slide .nav_btn {margin-top:55px}
.w_fast_add .w_list_slide .checkboxCorrelato {padding-top:4px;}
.w_fast_add .w_list_slide .testoAdd {padding-right:3px; vertical-align:top;}

.w_orizontal_list .box_center {padding:8px 0 8px 4px;}
.w_orizontal_list .item {float:left; width:19%; padding-left:4px; text-align:center;}
.w_orizontal_list .item .linkTit {display:block; padding:0 3%}

.w_col {margin-bottom:15px;}
.w_col .subTit {font-size:12px;}
.w_col .box_center {width:98%; padding:8px 2% 8px 0;}
.w_col.box_grigio .box_center {padding:8px 0 8px 2%;}
.w_col .col {float:left; padding-right:2%;}
.w_col img {margin:0 3% 10px 0;}
.w_col .listBlueArrow {font-size:12px; overflow:hidden;}
.w_2_col .col {width:48%;}
.w_3_col .col {width:31%;}
.w_4_col .col {width:23%;}
.w_5_col .col {width:18%;}
.w_6_col .col {width:14.6%;}
.w_7_col .col {width:12.2%;}
.w_8_col .col {width:10.5%;}
.w_9_col .col {width:9.1%;}
.w_10_col .col {width:8%;}

.w_attribute {border-top:1px solid #D6D6D6;}
.w_attribute .tit {font-size:14px; font-weight:normal;}
.w_attribute .tit strong {font-size:16px;}
.w_attribute .tit a {font-weight:bold;}
.w_attribute .subTit {font-size:15px; color:#333;}
.w_attribute p {padding:4px 0; color:#515151;}
.w_attribute .listBlueArrow {font-size:11px;}

.w_crossSell .tit {padding:10px 10px 0; font-size:14px;}
.w_crossSell .item {clear:both; padding:10px 0;}
.w_crossSell .item .linkImg {float:left; padding:0 8px 5px;}
.w_crossSell .item .liquidSpace {padding-right:10px;}
.w_crossSell .item a .itemBrand {display:block; font-weight:bold;}
.w_crossSell .item .linkTit {font-size:12px;}

.w_cat_ass {float:left; width:100%; padding-bottom:15px; margin:-15px 0 15px; border-bottom:1px solid #CEC9BE;}
.w_cat_ass h4 {line-height:26px; font-size:13px; color:#333; font-weight:normal;}
.w_cat_ass .item {border:1px solid #BAD4F9; border-radius:4px; float:left; width:130px; text-align:center;}
.w_cat_ass .item .linkTit {display:block; font-size:12px; padding:5px; background-color:#BAD4F9;}
.w_cat_ass .contRight {overflow:hidden;}
.w_cat_ass .contRight .contIntem {float:left; width:25%; text-align:right;}
.w_cat_ass .contRight .contIntem .item {float:none; display:inline-block;}

.w_sugg_cart {float:left; width:100%; padding-bottom:15px;}
.w_sugg_cart h3 {font-weight:normal; font-size:16px; padding-bottom:15px;}
.w_sugg_cart .item {float:left; width:14.5%; padding:5px 1% 0; text-align:center; font-size:12px;}
.w_sugg_cart .item .linkImg {display:inline-block; width:120px;}
.w_sugg_cart .item .linkTit {display:block; padding:5px 0;}
.w_sugg_cart .item .itemPrice {display:inline-block; font-size:16px; line-height:24px; vertical-align:top; padding-right:5px;}

.w_formFilter label {float:left; width:94%; padding:2px 3%; font-size:12px;}
.w_formFilter label span {float:left; width:50%;}
.w_formFilter label select {float:right; width:50%;}

/* Nuovi widget */
.w_widget {float:left; margin-bottom:20px;}
.w_widget .tit {font-weight:normal; padding:7px 1%; font-size:14px; color:#313131; background:#F4F4F4;}
.w_widget .tit.lightColor {color:#797979;}
.w_widget .item .linkTit {padding:8px 2% 0; font-size:13px;}
.w_widget .item .itemBrand {padding-bottom:5px;}
.w_compare.w_widget .item, 
.w_orizontal_list.w_widget .item {padding:15px 2% 0;}
.w_compare.w_widget .tit {padding-left:8%;}
.w_compare.w_widget .rightSide .tit {padding-left:2%}
.w_compare.w_widget .leftSide, 
.w_compare.w_widget .rightSide {padding:0;}
.w_compare.w_widget .leftSide {width:20%;}
.w_compare.w_widget .rightSide {float:none; overflow:hidden; width:auto;}
.w_compare.w_widget .rightSide .item {width:20.8%;}
.w_orizontal_list.w_widget .item {width:15.8%;}
.w_slide.w_widget {float:none;}
.w_slide.w_widget .contSlide {height:182px; margin-top:10px;}

.w_widget.w_new {clear:both; float:none; overflow:hidden;}
.w_widget.w_new .tit {padding:7px 0 0; background:none;}
.w_widget.w_new .item .itemBrand, 
.w_sconti_rovescia .item .itemBrand {display:inline-block; margin:7px 0 0; padding:0 7px; color:#FFF; font-size:10px; line-height:17px; white-space:nowrap; max-width:99%; text-transform:uppercase; background:#5C5C5C;}
.w_widget.w_new h3 {padding-bottom:14px; font-size:17px; font-weight:normal;}
.w_widget.w_new .item .itemImg {display:block; width:100%;}
.w_widget.w_new .item .linkTit {display:block;}
.w_widget.w_new .item:first-child {padding-left:0 !important;}
.w_widget.w_new .item del {color:#999;}
.w_widget.w_new .item .price {color:#000;}
.w_widget.w_new .contItem {overflow:hidden;}
.w_widget.w_new .contItem + .contItem {float:left; margin-top:20px;}
.w_widget.w_new .contItem.siteFont .linkTit {padding-top:4px; font-size:16px; line-height:17px; text-transform:uppercase;}

.item.multiLink {text-align:center;}
.item.multiLink .linkTit {padding-top:2px; font-size:17px; font-weight:bold;}
.item.multiLink .itemDesc {margin-top: 7px; font-size: 12px;}
.item.multiLink .itemDesc a {margin-left:10px;}
.item.multiLink .itemDesc a:first-child {margin-left:0px;}
.item.multiLink .itemImg {margin-bottom:4px;}

.w_widget.w_new.da3 .item {float:left; padding-left:2%; width:32%;}
.w_widget.w_new.da4 {white-space:nowrap;}
.w_widget.w_new.da4 .item {display:inline-block; padding-left:15px; width:239px; vertical-align:top; white-space:normal;}
#content > .w_widget.w_new.da4 .item, 
#header .w_widget.w_new.da4 .item {width:233px;}
.w_widget.w_new.da3 .item .border .linkTit, 
.w_widget.w_new.da4 .item .border .linkTit {height:64px; overflow:hidden;}
.w_widget.w_new.da4 .item.itemMoreH {float:left; padding-left:2%; width:23.5% !important;}
.w_widget.w_new.da4 .item.itemMoreH.multiLink span {font-weight:normal;}
.w_widget.w_new.da5 .item {float:left; padding-left:1.5%; width:18.8%;}
.w_widget.w_new.da5 .item:first-child {padding-left:0;}

.w_widget.boxColor {padding:14px 18px 18px; background:#e9e3d5;}
.w_widget.boxColor, 
.w_widget.boxColor a {color:#272737; text-transform:uppercase;}
.w_widget.w_new.boxColor.da4 .item {width:225px;}

/* Nuovi widget differenziati per dimensione "resized" (default) o "fixed" */
.w_widget.w_listItem {padding:14px 2% 18px; width:96%; text-align:center; overflow:hidden;}
.w_widget.w_listItem .item .linkTit, 
.w_widget.w_centerItem .contItem .item .linkTit {display:block; margin-bottom:10px; padding:5px 0 0; text-transform:uppercase; font-size:15px;  font-family:"Roboto";}
.w_widget.w_listItem .item img {display:block; width:100%;}
.w_widget.w_listItem:after {content:" "; display:block; clear:both;}
.w_widget.w_listItem .contItem .item {float:left; padding-left:2%; width:32%;}
.w_widget.w_listItem .contItem .item:first-child {padding-left:0 !important;}
.w_widget.w_listItem .contItem.da3 .item {margin-bottom:18px; padding-left:2%; width:32%;}
.w_widget.w_listItem .contItem.da4 .item {padding-left:2%; width:23.5%;}
.w_widget.w_listItem .contItem.da5 .item {padding-left:1.5%; width:18.8%;}
.w_widget.w_listItem .contItem.fixed {clear:both; white-space:nowrap; overflow:hidden;}
.w_widget.w_listItem .contItem.fixed .item {float:none; display:inline-block; vertical-align:top;}
.w_widget.w_listItem .contItem.da5.fixed .item {padding-left:16px; width:222px;}
.w_widget.w_listItem .contItem.da6.fixed .item {padding-left:12px; width:177px;}
.w_widget.w_listItem.w_caract {font-size:14px;}
.w_widget.w_listItem.w_caract .ico {margin:0 auto 10px; padding:5%; width:15%; background:#006fde; border-radius:50%;}
.w_widget.w_listItem.w_caract .siteFont {padding-bottom:15px; font-size:19px;}
.w_widget.w_listItem.w_caract ul {padding-bottom:15px;}
.w_widget.w_listItem.w_caract ul li:before {content:"- ";}
.w_widget.w_listItem.w_caract .linkBlu {font-weight:bold;}

.w_widget.w_centerItem {float:none;}
.w_widget.w_centerItem .contItem {text-align:center;}
.w_widget.w_centerItem .contItem .item img {display:block; width:100%;}
.w_widget.w_centerItem .contItem .item {float:none; display:inline-block; margin:0 -2px; padding:5px 8px 10px; width:181px; vertical-align:top;}

.w_widget.w_new.itemOrizz .item {width:31%; padding:10px 2% 5px 0;}
.w_widget.w_new.itemOrizz .item .itemBrand {margin-top:15px;}
.w_widget.w_new.itemOrizz .item .linkTit {margin:5px 0; padding:0; max-height:48px; overflow:hidden;}
.w_widget.w_new.itemOrizz .item .linkImg {float:left; margin-right:8%; width:120px;}

.w_widget.w_new.w_mosaic {margin-bottom:2px; height:334px;}
.w_widget.w_new.w_mosaic .item {float:left; margin:0 17px 17px 0; height:152px;}
.w_widget.w_new.w_mosaic .item img {width:auto; height:100%;}
.w_widget.w_new.w_mosaic .item.itemMoreH {height:322px;}
.w_widget.w_new.w_mosaic .leftSide {float:left; width:771px; height:334px;}
.w_widget.w_new.w_mosaic .rightSide {float:right; width:236px;}
.w_widget.w_new.w_mosaic .rightSide .item {margin-right:0;}

.w_widget.w_new .item .border {border:1px solid #919191; border-bottom-width:3px;}
.w_widget.w_new .item .contTxt {padding:10px 15px;}
.w_widget.w_new .item .contTxt .linkTit {display:block; margin-bottom:5px; padding:0; font-size:20px; color:#000; font-weight:normal;}
.w_widget.w_new .item .contTxt .itemDesc a {font-size:12px; color:#7f7f7f;}
.w_widget .linkRight {float:right; margin:4px 0 0; font-size:11px; line-height:14px; text-decoration:underline;}

/*WIDGET PRUDSYS*/
.prudsys_compare.w_compare {width:99.6%; padding-bottom:0; margin-bottom:30px;}
.prudsys_compare.w_compare .tit {margin:0 0 5px; padding:8px; font-size:14px; line-height:19px; color:#b9b9b9; text-align:left; border-top:1px solid #c8c8c8;}
.prudsys_compare.w_compare .item {float:left; padding-bottom:15px !important; width:100px !important; text-align:left;}
.prudsys_compare.w_compare .item .linkImg {text-align:center;}
.prudsys_compare.w_compare .item .linkTit {clear:both; margin:0 0 5px 0; height:32px; overflow:hidden;}
.prudsys_compare.w_compare .item del {display:block; padding-right:5px; min-width:1px; height:14px;}
.prudsys_compare.w_compare .leftSide {width:185px; float:left; text-align:center;  border-right:0;}
.prudsys_compare.w_compare .leftSide .tit { text-align:center;}
.prudsys_compare.w_compare .leftSide .item { padding:0 40px;}
.prudsys_compare.w_compare .liquidSpace .rightSide {position:relative; z-index:1; margin:0px; border-left:1px solid #c8c8c8; height:250px; overflow:hidden;}
.prudsys_compare.w_compare .liquidSpace .rightSide .tit {text-align:left; padding-left:25px;}
.prudsys_compare.w_compare .liquidSpace .rightSide .item {padding:0 13px 0 14px;}
.prudsys_compare.w_compare .liquidSpace .icoImgBow.arrCoverW {position:absolute; z-index:2; left:-2px; top:120px;}
.prudsys_compare.w_compare .liquidSpace .rightSide h3.tit + .item {padding-left:40px;}
.icoImgBow {display:inline-block; text-indent:-999em; background:url("../images/ico_img_prudsys.png") no-repeat;}
.icoImgBow.arrCoverW {width:10px; height:15px;}

.w_orizontal_list.w_new .w_orizontal_list_item {clear:both; display:block; padding:10px 0 2px; height:235px; overflow:hidden;}
.w_orizontal_list.w_new .w_orizontal_list_item .item {float:left; margin:0 5px 10px; padding:0; width:140px; height:100%; text-align:center; border:1px solid transparent;}
.w_orizontal_list.w_new .w_orizontal_list_item .item del {padding-right:5px; min-width:1px; height:14px;}
.w_orizontal_list.w_new .w_orizontal_list_item .item .itemImg {display:inline-block; width:auto; max-width:100%; max-height:140px;}
.w_orizontal_list.w_new .w_orizontal_list_item .item .linkTit {clear:both; display:block; margin:0; height:32px; overflow:hidden;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_big {height:270px;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_big .item {width:175px;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_big .item .itemImg {max-height:180px;}
/* Con hover */
.w_orizontal_list.w_new.w_over_desc .w_orizontal_list_item .item .linkTit {height:auto; max-height:0; transition:0.3s;}
.w_orizontal_list.w_new.w_over_desc .w_orizontal_list_item .item:hover .linkTit {max-height:32px;}
.w_orizontal_list.w_new.w_over_desc.w_max .w_orizontal_list_item .item:hover .linkTit {max-height:42px;}
/*  - - - -  */
.w_orizontal_list.w_new.w_max {margin-bottom:5px;}
.w_orizontal_list.w_new.w_max, 
.w_orizontal_list.w_new.w_max * {text-align:center !important;}
.w_orizontal_list.w_new.w_max .tit {display:inline-block; margin-bottom:8px; padding:8px 80px; border-bottom:1px solid #ccc;}
.w_orizontal_list.w_new.w_max .w_orizontal_list_item {height:325px; }
.w_orizontal_list.w_new.w_max .w_orizontal_list_item .item {display:inline-block; float:none; width:230px; vertical-align:top;}
.w_orizontal_list.w_new.w_max .w_orizontal_list_item .item .linkTit {padding:3px 2% 0; font-size:15px; line-height:20px; height:40px; text-transform:uppercase;}
.w_orizontal_list.w_new.w_max .w_orizontal_list_item .item .itemImg {max-height:230px;}
.w_orizontal_list.w_new.w_max .w_orizontal_list_item .item del {display:inline-block; margin-right:5px;}
.w_orizontal_list.w_new.w_max .w_orizontal_list_item .item .itemPrice {font-size:17px;}
.w_orizontal_list.w_new .w_orizontal_list_item .item:hover {border-color:#CCC;}
.w_slide.w_orizontal_list.w_new {position:relative; z-index:1;}
.w_slide.w_orizontal_list.w_new .nav_btn {position:absolute; z-index:2; top:50%; left:0; margin:-44px 0 0; padding:30px 8px; height:27px; width:17px; background:#c8c8c8; opacity:0.7; border-radius:0 4px 4px 0;}
.w_slide.w_orizontal_list.w_new .nav_btn:hover {opacity:0.9;}
.w_slide.w_orizontal_list.w_new .nav_btn.disabled {opacity:0.2 !important;}
.w_slide.w_orizontal_list.w_new .nav_btn.nav_avanti {left:auto; right:0; border-radius:4px 0 0 4px;}
.w_slide.w_orizontal_list.w_new .nav_btn:before {content:" "; display:inline-block; height:27px; width:17px; background:url("../images/ico_img.png") no-repeat -44px -135px;}
.w_slide.w_orizontal_list.w_new .nav_btn.nav_avanti:before {background-position:-64px -135px}
.w_slide.w_orizontal_list.w_new .w_orizontal_list_item .item {float:none;}
.w_widget.w_orizontal_list.w_new.w_full_height .w_orizontal_list_item {height:auto;}
/* Max3: centrati e immagini grandi*/
.w_orizontal_list.w_new.w_max3 .w_orizontal_list_item {height:auto;}
.w_orizontal_list.w_new.w_max3 .w_orizontal_list_item .item {padding:0 1%; width:30%;}

.box_4cat {float:left; width:100%; margin-bottom:17px; border-bottom:4px solid #5c5c5c;}
.box_4cat .col {float:left; width:25%;}
.box_4cat .col .border {padding:2px; border:1px solid #b2b2b2; border-width:1px 1px 0 0;}
.box_4cat .col:first-child .border {border-left:1px solid #cecece;}
.box_4cat .col img {width:100%;}
.box_4cat .col dl {padding:16px; font-size:12px;}
.box_4cat .col dt {padding-bottom:2px; font-size:14px; font-weight:bold;}

.w_configuratore {margin-bottom:0}
.w_configuratore .rightSide {float:right; padding:14px 21px 0; width:194px; height:254px; background:#8599b4;}
.w_configuratore .rightSide h4 {padding-bottom:5px; font-weight:normal; font-size:17px;}
.w_configuratore .rightSide h4 img {float:left; margin-right:8px;}
.w_configuratore .rightSide select {margin-top:5px; padding:5px 2%; width:100%; font-size:13px; line-height:16px;}
.w_configuratore .rightSide .btn {display:block; margin-top:12px;}
.w_configuratore .rightSide .btn span {display:block;}
.w_configuratore .box_4cat .col .border {height:259px;}
.w_configuratore .box_4cat, 
.w_configuratore .box_4cat .col .border {border-color:#e4e8ee;}

.w_config_new {padding-bottom:20px; text-align:center; text-transform:uppercase;}
.w_config_new legend {margin:0; padding-bottom:2px; font-size:15px; background:none;}
.w_config_new ul {padding-bottom:15px;}
.w_config_new ul li {display:inline-block; font-size:14px;}
.w_config_new ul li:hover {opacity:0.7}
.w_config_new ul li span {display:inline-block; margin:2px; padding:5px 0; border:2px solid #ccc; border-radius:15px; cursor:pointer; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.w_config_new ul li input:checked + span {color:#FFF; border-color:#006fde; background:#006fde;}
.w_config_new ul li input {display:none;}
.w_config_new ul.w_c_loghi li span {width:auto; padding:14px 15px; border-color:#ccc;}
.w_config_new ul.w_c_loghi li span img {display:block; width:90px;}
.w_config_new ul.w_c_loghi li input:checked + span {border-color:#006fde; background:none;}
.w_config_new .btn {margin:10px 0; padding:0 40px; border:0; border-radius:20px;}
.w_config_new.da4 li span {width:170px;}
.w_config_new.da5 li span {width:135px;}
.w_config_new.da6 li span {width:110px;}

/*INFO BAR*/
.w_telone .infoBar {position:absolute; left:0; bottom:0; margin-bottom:0; border-top:1px solid #FFF;}
.infoBar {clear:both; margin-bottom:20px; display:table; width:100%; background:#fdbf14;}
.infoBar > * {display:table-cell; padding:7px 0; font-size:12px; text-align:center; vertical-align:middle;}
.tMicro .infoBar > * {min-width:188px;}
.infoBar > *:first-child {border-left:0 !important;}
.infoBar > * > * {display:inline-block; vertical-align:middle;}
.infoBar > * img.ico {max-width:40px; max-height:40px;}
.infoBar > * .txt {padding:0 5px; text-align:left;}
.infoBar > a:hover {opacity:0.8; text-decoration:none;}

.contOverInfoBar {width:920px; height:550px; background:#FFF;}
.bottomService {padding:0 0 0 50px; background:#fdbf14;}
.contOverInfoBar .contServGeneral {display:none; margin:0; padding:0 0 0 50px; height:513px; background-position:109% 0;}
.contOverInfoBar .contServGeneral.sel {display:block;}
#fancybox-content .contOverInfoBar p {padding-bottom:12px;}

.contOverStartPlus {width:920px;}
.contOverStartPlus .contServGeneral {margin:0; padding:0 0 20px 50px; background-position:104% 100%;}
.contOverStartPlus .contServGeneral ul.listCirc {padding-left:20px; line-height:140%;}
.contOverStartPlus .bottomTxt {padding:10px 30px !important; font-size:11px; color:#FFF; background:#2a3139;}
.contOverStartPlus .bottomTxt * {color:#FFF;}

.w_serv_3col {float:left; padding:15px 0 25px; width:100%;}
.w_serv_3col .col {float:left; padding:0 2%; width:29%; text-align:center; border-left:1px solid #94989b;}
.w_serv_3col .col:first-child {border-left:0;}
.w_serv_3col .col .logo {display:inline-block; width:55px;}
.w_serv_3col .col .tit {display:block; padding-bottom:5px; font-size:19px;}
.w_serv_3col .col .txt {display:block; font-size:14px; line-height:150%;}

/*BLOCCHI CATEGORIE*/
.bigBorderBottom {border-bottom:4px solid #ffbe00;}
.w_ricerca {overflow:hidden; float:left; width:100%; margin-bottom:25px; padding-bottom:15px;}
.w_ricerca .tit {font-weight:normal; font-size:18px; padding-bottom:0; border-bottom:1px solid #b9b9b9;}
.w_ricerca .tit > * {position:relative; z-index:1; bottom:-8px; padding-bottom:15px; display:inline-block;}
.w_ricerca .tit .arrowBottom {min-width:110px; background:url("../images/apice_telone.gif") no-repeat 90px 100%;}
.w_ricerca ul {width:100%;}
.w_ricerca .item {position:relative; z-index:1; float:left; width:33.3%; padding-top:10px; /*border-bottom:1px dotted #e3e3e3;*/}
.w_ricerca.da4 .item {width:25%; text-align:center;}
.w_ricerca.noImg .item .leftSide {width:auto}
.w_ricerca.noImg .item a {height:auto;}
.w_ricerca .item:hover .btn_light {background-position:100% -18px;}
.w_ricerca .item .btn_light {font-weight:bold; margin-top:3px;}
.w_ricerca.noImg .item .btn_light {margin-left:10px;}
.w_ricerca .item a {display:block; margin:11px 0 11px -1px; height:105px; /*border-left:1px dotted #A7A7A7;*/ text-decoration:none;}
.w_ricerca .item a img {display:inline-block; vertical-align:middle; margin:0 3% 0 4%;}
.w_ricerca .item a .leftSide {display:inline-block; vertical-align:middle; width:42.9%!important;}
.w_ricerca .item .leftSide .text {font-size:16px; color:#313131;}
.w_ricerca.da4 .item .leftSide .text {font-size:15px;}
.w_ricerca.noImg .item .leftSide, .w_ricerca.da4 .item .leftSide {text-align:left; text-transform:uppercase;}
.w_ricerca .item a .leftSide .cufonFont {display:block; font-size:22px; color:#000;}
.w_ricerca .item.small {width:20%; min-height:100px; margin-bottom:-1px;}
.w_ricerca .item.small a {height:95px;}
.w_ricerca .item.small a img {width:70px;}
.w_ricerca .item.small a .cufonFont {font-size:19px; width:100px; padding-top:3px;}
.w_ricerca .item.small a .leftSide {Width:54%;}
.btn_light {display:inline-block; padding:1px 12px 1px 6px; height:16px; line-height:17px; font-size:11px; color:#fff !important; background:url("http://www.eplaza.it/layout/images/btn_leggero.png") no-repeat 100% 0;}

.w_navCat {position:relative; z-index:1; text-align:center; border:2px solid #606060; margin-top:16px; margin-bottom:17px;}
.w_navCat + .w_navCat {margin-top:33px;}
.w_navCat .tit {margin:-16px 0 5px; font-size:16px;}
.w_navCat .tit span {display:inline-block; padding:5px 15px; color:#fff; background:#000;}
.w_navCat .linkRight {position:absolute; top:-18px; right:0; z-index:2; font-size:12px; color:#000;}
.w_navCat.w_slideCat .contNavCat {margin:0 25px;}
.w_navCat .contNavCat .item {float:left; margin-bottom:17px; padding:5px 1%; width:18%;}
.w_navCat .contNavCat dl.item {text-align:left; font-size:13px;}
.w_navCat .contNavCat dl.item dt {font-weight:bold; padding-bottom:4px;}
.w_navCat .contNavCat .item .itemImg {display:block; margin:0 auto 4px; width:100%; max-width:180px;}
.w_navCat .contNavCat .item .linkTit {display:block; margin:2px 0 0; font-size:14px; line-height:17px;}
.w_navCat .contNavCat.topProd {clear:both;}
.w_navCat .contNavCat.topProd .item {width:23%; margin-bottom:27px;}
.w_navCat .contNavCat.topProd.da3 .item {width:31%;}
.w_navCat .contNavCat.topProd.da3 .itemCat {text-align:left;}
.w_navCat .contNavCat.topProd.da3 .itemCat img.left {margin:0 5%; width:40%; max-width:120px;}
.w_navCat .contNavCat.topProd.da3 .itemCat dl {overflow:hidden; font-size:13px;}
.w_navCat .contNavCat.topProd.da3 .itemCat dl dt {font-weight:bold; padding-bottom:3px;}
.w_navCat .contNavCat.lilProd h3 {height: 15px;}
.w_navCat .contNavCat.lilProd .tit {border-top:1px solid #818181; margin: 0 40px;}
.w_navCat .contNavCat.lilProd .tit span {color:#373737; background:#ffffff; position: relative; top: -14px;}
.w_navCat .contNavCat.lilProd .item {width:14.6%;}
.w_navCat .contNavCat.lilProd.da5 .item {width:18%;}
.w_navCat .contNavCat.lilProd .item .itemImg {max-width:100px;}
.w_navCat .contNavCat.lilProd.da5 .item .itemImg {max-width:120px;}
.w_navCat .contNavCat.lilProd .item .linkTit {font-size:13px;}
.w_navCat.w_slideCat .contNavCat {overflow:hidden; white-space:nowrap;}
.w_navCat.w_slideCat .contNavCat .col {display:inline-block; width:100%; white-space:normal; vertical-align:top;}
.w_navCat.w_slideCat .contNavCat .col .item {margin-bottom:0;}
.w_navCat.w_slideCat .contNavCat .col .item .linkTit {height:34px; overflow:hidden;}
.w_navCat.w_slideCat .nav_btn {position:absolute; top:46%; width:17px; height:27px; cursor:pointer; text-indent:-999em; background:url("../images/ico_img.png") no-repeat;}
.w_navCat.w_slideCat .nav_indietro {left:10px; background-position:0 -110px;}
.w_navCat.w_slideCat .nav_indietro:hover {background-position:0 -140px;}
.w_navCat.w_slideCat .nav_indietro.disabled {background-position:0 -80px; cursor:default;}
.w_navCat.w_slideCat .nav_avanti {right:10px; background-position:-20px -110px;}
.w_navCat.w_slideCat .nav_avanti:hover {background-position:-20px -140px;}
.w_navCat.w_slideCat .nav_avanti.disabled {right:10px; background-position:-20px -80px; cursor:default;}
.w_navCat.w_slideCat .nav_list {display:inline-block; position:relative; z-index:1; bottom:-9px; padding:0 10px; background:#FFF;}
.w_navCat.w_slideCat .nav_list li {display:inline-block;  margin:0 5px; width:10px; height:10px; text-indent:-999em; background:#FFF; border:1px solid #000; cursor:pointer;}
.w_navCat.w_slideCat .nav_list li:hover {background:#ccc;}
.w_navCat.w_slideCat .nav_list li.sel {background:#000; cursor:default;}

.w_navCat_new {margin-bottom:15px;}
.w_navCat_new:after {content:" "; clear:both; display:block;} 
.w_navCat_new .item {float:left; margin:0 0 1.5% 1.5%; padding-left:2%; width:30%; height:164px; background:#e8e8e8 url() no-repeat 100% 50%;}
.w_navCat_new .item:nth-child(3n-2) {margin-left:0;}
.w_navCat_new .item dt {padding:18px 0 4px; font:bold 18px "siteFont", Arial;}
.w_navCat_new .item dd {margin-left:8px; font-size:14px;}
.w_navCat_new .item dd:before {content:" "; display:inline-block; margin:7px 4px 0 -8px; width:4px; height:4px; border-radius:3px; background:#000; vertical-align:top;}

.w_labelNavCat {position:relative; margin-bottom:15px; padding-top:4px; border-bottom:1px solid #7a7a7a;}
.w_labelNavCat .absRight {position:absolute; top:2px; right:2px; font-size:12px;}
.w_labelNavCat .labelName {float:left; width:100%; border-bottom:1px solid #4c4c4c;}
.w_labelNavCat .labelName li {float:left; margin-right:-1px; font-size:12px; color:#737373; border:1px solid #c7c7c7; border-bottom:0; cursor:pointer;}
.w_labelNavCat .labelName li span {display:block; padding:4px 14px;}
.w_labelNavCat .labelName li.sel {position:relative; margin-top:-4px; margin-bottom:-1px; padding-bottom:1px; border-color:#4c4c4c; border-bottom:1px solid #FFF;}
.w_labelNavCat .labelName li.sel:before {content:""; display:block; height:3px; background:#fabc15;}
.w_labelNavCat .contNavCat {display:none; padding:20px 0; width:100%; table-layout:fixed;}
.w_labelNavCat .contNavCat.sel {display:table;}
.w_labelNavCat .contNavCat .item {display:table-cell;}
.w_labelNavCat .contNavCat .item .linkImg {display:block; text-align:center; font-size:13px;}
.w_labelNavCat .contNavCat .item .linkImg .itemImg {display:block; margin:0 auto; width:100%; max-width:180px;}
.w_labelNavCat .contNavCat .item .linkImg .itemImg + span {margin-top:5px;}

/* Sconti alla rovescia */
#bottomOffer {clear:both; margin-bottom:15px; white-space:nowrap; overflow:hidden;}
#bottomOffer > * {display:inline-block; vertical-align:top; margin-right:12px; white-space:normal;}
.w_sconti_rovescia {width:472px; height:134px; border:9px solid #fcc71f; border-left:0; }
.w_sconti_rovescia .leftSconti {float:left; font-size:15px; padding:0 10px 0 70px; width:154px; height:100%; background:#fcc71f url("../images/bg_w_sconti.jpg") no-repeat 0 50%;}
.w_sconti_rovescia .leftSconti .titolo {padding-top:10px; font-size:28px; line-height:24px;  color:#FFF; text-transform:uppercase;}
.w_sconti_rovescia .leftSconti .titolo .red {display:block; font-size:22px;}
.w_sconti_rovescia .leftSconti p {padding:5px 0 2px;}
.w_sconti_rovescia .contItem {position:relative; z-index:1; height:100%; background:#fff;}
.w_sconti_rovescia .contItem .slider {position:relative; z-index:1; top:0; left:0; white-space:nowrap;}
.w_sconti_rovescia .contItem .item {display:inline-block; margin:15px 0 11px; padding:0 8px; width:224px; height:110px; font-size:13px; border-left:1px solid #cdcdcd;}
.w_sconti_rovescia .contItem .item:first-child {border-left:0}
.w_sconti_rovescia .contItem .item .linkImg {position:static; float:left; margin-right:7px;}
.w_sconti_rovescia .contItem .item .itemBrand {margin:0 0 3px !important;}
.w_sconti_rovescia .contItem .item .linkTit {display:block; padding:0; white-space:normal;}
.w_sconti_rovescia .contItem .item .itemPrice {display:block; padding-bottom:3px; font-size:15px;}
.w_sconti_rovescia .contItem .item .sconto {font-size:11px; color:#3c3c3c;}
.w_sconti_rovescia .contItem .item .sconto .red {color:#3c3c3c !important;}
.w_sconti_rovescia .contItem .item .sconto + .red {display:block;}

/*HEADER LOGO BRAND STORE E LISTING*/
.brandStoreBig {display:block; padding:8px 0px 7px; margin-bottom:10px; text-decoration:none !important;}
.brandStoreBig > * {display:inline-block; vertical-align:middle;}
.brandStoreBig .brandLogo {padding:0 15px; width:197px; vertical-align:middle;}
#sideSx + .liquidSpace .brandStoreBig .brandLogo {width:auto;}
.brandStoreBig .callToAction {display: none;}
.brandStoreBig .txt {width:75%; font-size:16px;}
.brandStoreBig .brandArrow {margin-left:1%;}

/*HEADER LOGO BRAND SCHEDA PRODOTTO*/
#galleryImg .contBrand {margin-top: 10px;}
#galleryImg .brandStoreBig .brandLogo {width:30%; padding:0 10px;}
#galleryImg .brandStoreBig .brandLogo img {width:100%;}
#galleryImg .brandStoreBig .txt {display: none;}
#galleryImg .brandStoreBig .callToAction {display: inline-block; /*width: 64%;*/ font-size: 12px;}


/*HEADER LOGO DOPPIO*/
.da2 .contBrand {display: inline-block; margin-left: 1%; width: 49.2%; vertical-align: middle;}
.da3 .contBrand {display: inline-block; margin-left: 1%; width: 32.3%; vertical-align: middle;}
.da2 .contBrand:first-child,
.da3 .contBrand:first-child {margin-left: 0;}
.da2 .contBrand .brandStoreBig .brandLogo {width: auto;}
.da3 .contBrand .brandStoreBig .brandLogo {padding:0 1% 0 5%; width: 40%!important; text-align: center;}
.da3 .contBrand .brandStoreBig .brandLogo img {width: 100%;}
.da2 .contBrand .brandStoreBig .txt,
.da3 .contBrand .brandStoreBig .txt {display: none;}
.da2 .contBrand .brandStoreBig .callToAction {display: inline-block; font-size: 16px;}
.da3 .contBrand .brandStoreBig .callToAction {display: inline-block; /*padding-left: 15px;*/ width: auto; font-size: 12px;}
.da2 .contBrand .brandStoreBig .brandArrow {margin-left:5px;}
.da3 .contBrand .brandStoreBig .brandArrow {margin-left:2%;}

/*CONTENITORE PROMO UNDERTOOLBAR CAMIONCINO*/
.contPromo {margin:0 4.5% 17px; border:2px solid #d10000;}
.contPromo h2 {padding:6px 0; font-size:19px; text-align:center;font-weight:normal;}
.contPromo h2 span {}
.contPromo a {font-weight: bold;}
.contPromo img {position: absolute; float: left; margin-left: -15px; padding:6px 0; /*width:35px; height:24px;*/}

/*CONTENITORE PROMO UNDERTOOLBAR*/
/*.contPromo {width:100%; padding-bottom:17px;}
.contPromo h2 {padding:10px; font-size:18px; text-align:center; border:2px solid #d40001;}
.contPromo h2 strong {color:#d40001;}
.contPromo h2 span {font-weight:normal;}*/
.sezResearch .containerPromo {padding-bottom: 0; overflow: visible;}
.containerPromo {padding-bottom: 5px; overflow: hidden; text-align: center;}
.contPromo2 {display: inline-block; margin-bottom: 17px; width: 90%; height: 40px; border:2px solid #d10000;}
.contPromo2:before {content: " "; display: inline-block; height: 100%; vertical-align: middle; width: 1px;}
.contPromo2:first-child {margin-left: 0!important;}
.contPromo2 > * {display: inline-block; vertical-align: middle;}
.contPromo2 span.left,
.contPromo2 span.right {width: 7px; height: 100%; background: url("http://www.eprice.it/img/_b/layout/images/dot_red_white.gif") no-repeat 0 50%;}
.contPromo2 span.left {margin-left: -4px;}
.contPromo2 span.right {margin-right: -4px;}
.contPromo2 .item {/*margin:0 15px 0 11px;*/ width: 95%;}
.contPromo2 .item > * {display: inline-block; vertical-align: middle; font-size:19px;}
.contPromo2 .item h2 {/*font-size:15px;*/}
.contPromo2 .item span.textual {/*font-size:15px;*/}
.contPromo2 .item .gestOverlayer.openRight .overlayer {/*width: 230px;*/ width: 350px; font-size: 12px;}
.contPromo2 .linkTit {font-weight: bold;}
.da2 .contPromo2 {margin-left: 2%; width: 48%;}
.da3 .contPromo2 {margin-left: 1%; width: 31.8%;}
.da3 .contPromo2 .item span.textual {display: block;}
.da2 .contPromo2 .item > * {font-size:16px;}
.da3 .contPromo2 .item > * {font-size:15px;}

/*CONTENITORE PROMO TESTUALI*/
.contPromoText {margin-bottom:17px; padding:10px; text-align:center; background-color:#f4f4f4;}
.contPromoText * {display:inline-block; font-size:15px; line-height:15px;}
.contPromoText dd {border-left:1px solid #c1c1c1;}
.contPromoText dt + dd,
.contPromoText dd:first-child {border-left:0;}
.contPromoText dd span {padding:0 10px;}

/*TITOLO WIDGET MARCHI*/
.w_marchi h3.tit {font-size: 17px; font-weight: normal; margin-bottom: 17px;}

.hide1024 {display:none;}

/* Widget wearable */
.w_widget.w_img_right {border-bottom:1px solid #d8d8d8;}
.w_orizontal_list.w_img_right .contLeft {position:relative; z-index:1; float:left; margin-right:12px;}
.w_orizontal_list.w_img_right .contLeft:after {content:""; position:absolute; top:0; right:0; height:112px; border-right:17px solid #FFF; border-bottom:17px solid transparent;}
.w_orizontal_list.w_img_right .contLeft .contTxt {position:absolute; left:0; bottom:0; padding:0 20px; width:185px; height:110px; font-size:13px; color:#fff; background:rgba(0, 0, 0, 0.5); border-right:17px solid #FFF; border-top:17px solid transparent;}
.w_orizontal_list.w_img_right .contLeft .contTxt h4 {font-size:17px; padding-bottom:10px;}
.w_orizontal_list.w_img_right .w_orizontal_list_item.w_big {clear:right; height:237px;}
.w_orizontal_list.w_img_right .w_orizontal_list_item.w_big .item {width:130px;}

.w_img_desc .contRight {float:right; width:741px;}
.w_img_desc .contRight .right a {display:block; font-size:12px;}
.w_img_desc .contRight .txt {padding:0 12px;}
.w_img_desc .contLeft {position:relative; z-index:1; height:250px; background:url() no-repeat 50% 50%;}
.w_img_desc .contLeft:before, 
.w_img_desc .contLeft:after {content:""; position:absolute; right:0; height:108px; border-right:17px solid #FFF;}
.w_img_desc .contLeft:before {top:0; border-bottom:17px solid transparent;}
.w_img_desc .contLeft:after {bottom:0; border-top:17px solid transparent;}
.w_img_desc .contRight .txt h3 {padding-bottom:10px; font-size:18px;}
.w_img_desc .contRight .txt p {padding-bottom:10px; font-size:14px; line-height:18px;}
.w_img_desc .contRight .txt .itemPrice {font-size:18px; vertical-align:middle; padding-right:15px;}
.w_img_desc .contRight .btn {margin-top:15px;}

/*widget liste verticali con img e descrizione*/
.w_vertical_list_new {text-align: center;}
.w_vertical_list_new .tit {display:inline-block; margin-bottom:8px; padding:8px 80px!important; border-bottom:1px solid #ccc;}
.w_vertical_list_new .w_vertical_list_new_item .w_col {float: left; padding-left: 2.5%; width: 18%;}
.w_vertical_list_new .w_vertical_list_new_item .w_col:first-child {padding-left: 0;}
.w_vertical_list_new .contUp {position: relative; margin-bottom: 15px; width: 100%;}
.w_vertical_list_new .contUp img {width: 100%; margin: 0!important;}
.w_vertical_list_new .contUp .contTxt {position:absolute; left:0; bottom:0; padding:14px; font-size:13px; text-align: left; color:#fff; background:rgba(0, 0, 0, 0.5);}
.w_vertical_list_new .contUp .contTxt:after {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: #ffffff; border-top-color: rgba(0, 0, 0, 0.5); border-width: 15px; margin-left: -15px; }
.w_vertical_list_new .item {text-align: center;}

/*widget telone con frecce*/
.w_telone_arrow {position:relative; z-index:1; margin:0 auto; width:983px;}
.w_telone_arrow.w_fullW {margin:0; width:100%;}
.w_telone_arrow .nav_btn {position:absolute; z-index:100; top:180px; width:17px; height:27px; text-indent:-999em; background:url("http://www.eprice.it/layout/images/ico_img.png") no-repeat; cursor:pointer;}
.w_telone_arrow .nav_indietro {left:15px; background-position:0 -110px;}
.w_telone_arrow .nav_indietro:hover {background-position:0 -140px;}
.w_telone_arrow .nav_indietro.disabled {background-position:0 -80px;}
.w_telone_arrow .nav_avanti {right:15px; background-position:-20px -110px;}
.w_telone_arrow .nav_avanti:hover {background-position:-20px -140px;}
.w_telone_arrow .nav_avanti.disabled {background-position:-20px -80px;}
.w_telone_arrow .contSlide {position:relative; z-index:1; width:100%; height:385px; overflow:hidden;}
.w_telone_arrow .slider {position:absolute; z-index:1; top:0; left:0; height:100%; white-space:nowrap}
.w_telone_arrow .slider > div {float:left; height:100%;}
.w_telone_arrow .slider .item {display:inline-block; width:100%; height:100%; text-decoration: none; background:url() no-repeat 50% 0;}
.w_telone_arrow .slider .item .bgZone {display: block; margin: 230px 0 0 112px; width: 370px; height: 90px; background: #ffbb00;}
.w_telone_arrow .slider .item .bgZone .contTxt {text-align: left;}
.w_telone_arrow .slider .item .bgZone .contTxt h3 {padding: 20px 0 10px 20px; font-size: 24px; font-weight: normal; color: #ffffff;}
.w_telone_arrow .slider .item .bgZone .contTxt .prezzo {float: left; padding-left: 20px;}
.w_telone_arrow .position {position:absolute; z-index:2; bottom:18px; width: 100%; text-align: center;}
.w_telone_arrow .position li {display:inline-block; padding:0 6px; }
.w_telone_arrow .position li:before {content:" "; display:inline-block; height:10px; width:10px; background:#FFF; border-radius:10px; cursor:pointer;}
.w_telone_arrow .position li.sel:before {background-color:#ff6100;}

/*LAYER VALUTAZIONE SELLER*/
.valSeller2 h3 {margin-bottom: 5px;}
.valSeller2 p {margin-bottom: 5px;}
.valSeller2 form { text-align: center;}
.valSeller2 .row {padding: 10px 0; height: 24px; text-align: left;}
.valSeller2 .row > * {/*display: inline-block;*/}
.valSeller2 .row h4 {float: left; width: 500px; font-size: 15px;}
.valSeller2 .row h4 span {font-size: 12px; font-weight: normal; color: #999999;}
.valSeller2 .row label {float: left; width: 70px; font-size: 14px; text-align: left;}
.valSeller2 .row input {margin-right: 10px;}
.valSeller2 .btn {margin-top: 10px;}

/*STAR RATING SYSTEM*/
.starRating {display:inline-block; position:relative; height:28px; background:url("../images/starsYellowBig.png") repeat-x 0 0; vertical-align:bottom}
.starRating div {float:left; position:relative; height:28px}
.starRating input {position:relative; z-index:1; width:28px; height:28px; margin:0!important; padding:0; opacity:0; filter: alpha(opacity=0); /* per IE8 e precedenti */}
.starRating label {position:absolute; top:0; left:0; width:100%!important; height:28px}
.starRating span {display:none}
.starRating input:checked + label,
.starRating:hover input:checked:hover + label {background:url("../images/starsYellowBig.png") repeat-x 0 -28px}
.starRating:hover input:checked + label {background:transparent}
.starRating:hover input:hover + label {background:url("../images/starsYellowBig.png") repeat-x 0 -56px}
.starRating input:checked + span + label,
.starRating:hover input:checked:hover + span + label {background:url("../images/starsYellowBig.png") repeat-x 0 -28px}
.starRating:hover input:checked + span + label {background:transparent}
.starRating:hover input:hover + span + label {background:url("../images/starsYellowBig.png") repeat-x 0 -56px}

/*PROMO TESTUALI DETTAGLIO*/
.contExtraPromo {margin:17px 0; /*padding:10px 2%;*/ /*font-size:13px;*/ border: 1px solid #d6d6d6; border-bottom: none;}
.contExtraPromo .btn {margin-left: 10px;}
.contExtraPromo .tit {font-size:14px; font-weight: normal;}
.contExtraPromo .linkImg {margin-right: 25px;}
.contExtraPromo p {margin: 5px 0; font-size: 13px; line-height: 18px;}
.contExtraPromo p.small { font-size: 11px;}
.contExtraPromo .extraPromo {padding:10px 2%;  border-bottom: 1px solid #d6d6d6;}
.contExtraPromo .greyZone {margin-top: -5px; padding:5px 2%; background-color: #f4f4f4; border-top: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;}
.contExtraPromo .greyZone a {color: #000000;}
.contExtraPromo .buttonZone {}
.contExtraPromo .buttonZone > * {display: inline-block; vertical-align: middle; line-height: 35px;}

/*WIDGET RIBBON (prosegue nelle media query)*/
.info_ribbon {clear:both; border-bottom:4px solid #034da2;}
.sezProd .info_ribbon {margin:-14px 0 15px}
.info_ribbon .leftSide {float:left; width:250px; min-height:50px;}
.info_ribbon .leftSide .tit {padding-top:50px; font-size:15px; font-weight:normal;}
.info_ribbon .contSlide {position:relative; z-index:1; bottom:-10px; overflow:hidden;}
.info_ribbon .contSlide .sliderOne {position:absolute; z-index:1; top:0; left:0;}
.info_ribbon .contSlide .item {display:inline-block; margin-bottom:7px; width:32.9%; font-size:13px; vertical-align:top;}
.info_ribbon .contSlide .item img {float:left; margin:0 2% 0 3%; width:120px;}
.info_ribbon .contSlide .item .txt {display:block; margin-top:25px; padding-right:20px; border-left:1px solid #b6b6b6; white-space:normal;}
.info_ribbon .contSlide .item:first-child .txt {border-left:0;}
.info_ribbon .contSlide .item .txt .itemName {display:block; height:47px; overflow:hidden;}
.info_ribbon .contSlide .item:after {content:" "; clear:both; position:relative; z-index:1; bottom:-5px; display:block; height:4px; border-top:4px solid transparent;}
.info_ribbon .contSlide .item.sel:after {background:url("../images/arrow_down_az.gif") no-repeat 50% 0; border-color:#86bae2;}
.info_ribbon .contSlide .item.sel img {opacity:0.5;}
.info_ribbon.scrollProd {height:151px;}
.info_ribbon.scrollProd .tit {padding-top:64px;}
.info_ribbon.scrollProd .contSlide {height:100%; white-space:nowrap;}
.info_ribbon.scrollProd .contSlide .sliderOne .item {width:137px; text-align:center;}
.info_ribbon.scrollProd .contSlide .sliderOne .item:before {content:" "; position:absolute; top:15%; display:block; width:1px; height:70%; background:#b6b6b6;}
.info_ribbon.scrollProd .contSlide .sliderOne .item:first-child:before {display:none;}
.info_ribbon.scrollProd .contSlide .sliderOne .item:first-child {border:0;}
.info_ribbon.scrollProd .contSlide .sliderOne .item img {float:none; display:block; margin:0 auto 3px; width:100px;}
.info_ribbon.scrollProd .contSlide .sliderOne .item .txt {margin:0 auto; padding-right:0; width:100px; height:33px; text-align:center; border:0;}
.info_ribbon.scrollProd .contSlide .sliderOne .item .txt .itemName {height:16px;}
.info_ribbon.scrollProd .rightSide {float:right; width:135px; height:100%; text-align:center;}
.info_ribbon.scrollProd .rightSide:before {content:" "; display:inline-block; width:1px; height:100%; vertical-align:middle;}
.info_ribbon.scrollProd .rightSide .txt {display:inline-block; padding:4px 8px; vertical-align:middle; background:#e9edf6;}
.info_ribbon.scrollProd .rightSide .txt strong {display:block;}

.info_ribbon .leftSide .tit,
.info_ribbon.scrollProd .rightSide span.txt,
.infocommerce .info_ribbon .leftSide img, 
.infocommerce .info_ribbon.scrollProd .rightSide a.txt {display:none;}
.infocommerce .info_ribbon .leftSide .tit, 
.infocommerce .info_ribbon.scrollProd .rightSide span.txt {display:inline-block;}
.infocommerce.fixRibbon .info_ribbon {position:fixed; z-index:9999; top:0; width:983px; background:#fff;}
.infocommerce .info_ribbon.scrollProd .rightSide {display: none;} /*tolgo la parte a sinistra se sono nella landing infocommerce*/

.info_ribbon .nav_btn {float:left; margin-top:75px; cursor:pointer;}
.info_ribbon .nav_indietro {margin-right:10px;}
.info_ribbon .nav_avanti {float:right; margin-left:10px;}
.info_ribbon .nav_btn.disabled {background:none; cursor:default;}


/* WIDGET DAYONE */
.w_new.w_dayone {position: relative; padding-bottom:25px; background-color: #000000; text-align: center;}
.w_new.w_dayone .tit {font-size: 19px; color: #ffffff;}
.w_new.w_dayone .w_orizontal_list_item {margin-left: 46px; margin-top: 15px; width: 672px; height: 266px; overflow: hidden;}
.w_new.w_dayone .contSlide {height:270px;}
.w_new.w_dayone .slider .item  {margin:0 5px; padding:15px 0 0; width:158px; color: #ffffff; text-align: center;}
.w_new.w_dayone .slider .item:first-child {margin-left: 0;}
.w_new.w_dayone .slider .item .linkTit {height: 42px; font-size: 16px; font-weight: bold; color: #ffffff;}
.w_new.w_dayone .slider .item .itemDesc {display: block; font-size: 13px;}
.w_new.w_dayone .slider .item .item_platform {display:inline-block; margin:7px 0 0; padding:0 7px; color:#FFF; font-size:11px; line-height:17px; white-space:nowrap; max-width:99%; text-transform:uppercase;}
.w_new.w_dayone .slider .item .game_blue {background-color: #0068bf;}
.w_new.w_dayone .slider .item .game_green {background-color: #107c10;}
.w_new.w_dayone .slider .item .game_lightblue {background-color: #009cc6;}
.w_new.w_dayone .slider .item .game_red {background-color: #ce181e;}
.w_new.w_dayone .slider .item .game_grey {background-color: #a8a8a8;}
.w_new.w_dayone .slider .item .qDayone {top: -15px; background:url("http://static.eprice.it/img/_b/layout/images/qualif_dayone.png") no-repeat;}
.w_new.w_dayone .nav_btn {margin:140px 1.5% 0; width:17px; height:27px; text-indent:-999em; background:url("http://www.eprice.it/layout/images/ico_img.png") no-repeat;}
.w_new.w_dayone .nav_indietro {background-position:0 -110px;}
.w_new.w_dayone .nav_indietro:hover {background-position:0 -140px;}
.w_new.w_dayone .nav_indietro.disabled {background-position:0 -80px;}
.w_new.w_dayone .nav_avanti {background-position:-20px -110px;}
.w_new.w_dayone .nav_avanti:hover {background-position:-20px -140px;}
.w_new.w_dayone .nav_avanti.disabled {right:10px; background-position:-20px -80px;}

/* WIDGET FORMPRINT */
.w_navCat.w_formPrint{border:2px solid #0071bf; font-size:14px; padding:0 10px 15px; position:relative; z-index:2;}
.w_navCat.w_formPrint .tit span{background-color:#0071bf; font-weight:normal;}
.w_navCat.w_formPrint form{text-align:left; margin-top:25px;}
.w_navCat.w_formPrint .contFormPrint div{float:left; width:67.8%;}
.w_navCat.w_formPrint .contFormPrint div.rootAutoComp{position:relative; width:31%; border-right:1px solid #ccc; margin-right:1%;}
.w_navCat.w_formPrint .contFormPrint div .txt{display:block; margin-bottom:5px;}
.w_navCat.w_formPrint .contFormPrint div input, .w_navCat.w_formPrint .contFormPrint div select{font-size:13px;}
.w_navCat.w_formPrint .contFormPrint div input{width:112px; padding:10px; height:13px;}
.w_navCat.w_formPrint .contFormPrint div select{width:134px; height:36px; border:1px solid #d1d1d1; padding-left:10px; outline:0;}
.w_navCat.w_formPrint .contFormPrint div select:-moz-focusring{color:transparent; text-shadow:0 0 0 #000;}
.w_navCat.w_formPrint .contFormPrint div select option{padding:5px;}
.w_navCat.w_formPrint .contFormPrint div select option:last-child{font-weight:bold;}
.w_navCat.w_formPrint .contFormPrint div .btn {background-color:#0072bf;}
.w_navCat.w_formPrint .contFormPrint div .btn span {color:#fff; font-weight:normal;}
.w_navCat.w_formPrint .contAutoComplete{width:409px !important; max-height:400px; top:56px; left:0; overflow:auto;}
.w_navCat.w_formPrint .contAutoComplete span.searchSugg{position:absolute; top:5px; right:5px; font-size:11px; color:#969696;}


/* WIDGET CONFIGURATORE TABLET/PORTATILI */
.w_navCat.w_configTablet{border:2px solid #0071bf; font-size:12px; padding:0 10px 15px; position:relative; z-index:2; background:url(/images/widget/bg_w_config_tablet.png) repeat-y -30px top;}
.w_navCat.w_configTablet .tit span{background-color:#0071bf; font-weight:normal; text-transform:uppercase}
.w_navCat.w_configTablet .contConfigTablet { display:table; width:100%; margin-top:-16px; padding:0px 0px 25px; text-align:left;}
.w_navCat.w_configTablet .contConfigTablet > div { display:table-cell; padding:32px 10px 0 10px; background:url(/images/widget/bg_w_config_tablet_column.png) no-repeat left bottom;}
.w_navCat.w_configTablet .contConfigTablet > div dt { margin-bottom:8px; font-weight:bold}
.w_navCat.w_configTablet .contConfigTablet > div dd { padding-left:17px; line-height:19px; color:#245DB3; cursor:pointer}
.w_navCat.w_configTablet .contConfigTablet > div dl.active dd { color:#000;}
.w_navCat.w_configTablet .contConfigTablet > div dd span { font-size:11px; color:#515151; }
.w_navCat.w_configTablet .contConfigTablet > div dd:hover { text-decoration:underline}
.w_navCat.w_configTablet .contConfigTablet > div dd.selected, .w_navCat.w_configTablet .contConfigTablet > div dl.active dd.selected { font-weight:bold; color:#245DB3; background:url(/images/widget/w_config_tablet_checked.png) no-repeat left;}
.w_navCat.w_configTablet .contConfigTablet > div dd.selected span { font-weight:normal}
.w_navCat.w_configTablet .contConfigTablet > div dd.disabled, .w_navCat.w_configTablet .contConfigTablet > div dd.disabled span { color:#999 !important; cursor:default}
.w_navCat.w_configTablet .contConfigTablet > div dd.disabled:hover { text-decoration:none}
.w_navCat.w_configTablet .contConfigTablet > div.filter { width:130px; padding-left:0; background:none; }
.w_navCat.w_configTablet .contConfigTablet > div.filter dd { color:#000;}
.w_navCat.w_configTablet .contConfigTablet > div.filter dd.selected {color:#000; background:url(/images/widget/w_config_tablet_filter_sel.png) no-repeat left;}
.w_navCat.w_configTablet .btn{background-color:#0072bf;}
.w_navCat.w_configTablet .btn span{color:#fff; font-weight:normal; text-transform:uppercase}

/* MODIFICHE PRUDSYS */
.w_big.w_slide .item {width:180px;}
.w_big.w_slide .contSlide { height:220px;}

/* widget su piu' righe */
.w_orizontal_list.w_new .w_orizontal_list_item.w_row {height:auto;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_row .item {margin: 15px 2%; padding: 0; width: 12.5%;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_row .item .itemImg {max-width: 150px;}

/* widget su piu' righe */
.w_orizontal_list.w_new .w_orizontal_list_item.w_bigger {height: 285px;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_bigger .item {margin: 15px 2%; padding: 0; width: 12.5%;}
.w_orizontal_list.w_new .w_orizontal_list_item.w_bigger .item .itemImg{max-width: 150px;}

/*Widget tecnologie da4 */
	.w_widget.w_new.boxColore {background: none repeat scroll 0 0 #fff; border:solid 2px #7d9fb7; padding:0; }
	.w_widget.w_new.boxColore h3 {font-size: 17px; font-weight: normal; padding: 7px 18px; background-color:#d8e3ea; color:#1e1e1e; }
	.w_widget.w_new.boxColore.da4 .item {width: 25%; padding:30px 0; position: relative;}
	.w_widget.w_new.boxColore.da4 .item .revealMe {position: absolute; bottom: 0; left: 0; display: none; padding: 0 10px; height: 100%; text-align: left; color: #333333; background: url("http://static.eprice.it/img/_b/layout/images/bgGreyOpacity.png");}
	.w_widget.w_new.boxColore.da4 .item .revealMe h2 {padding: 10px 0;}
	.w_widget.w_new.boxColore.da4 .item .revealMe p {font-size: 12px; color: #000000;}	
	.w_widget.w_new.boxColore.da4 .item .revealMe ul {}
	.w_widget.w_new.boxColore.da4 .item .revealMe li {font-size: 14px; color: #000000; margin-bottom: 2px;}	
	.w_widget.w_new.boxColore.da4 .item .revealMe .btn {margin-top: 10px;}	
	.w_widget.w_new.boxColore h3 strong {color:#1e1e1e;}

/* PACCHETTI CONSIGLIATI - INIZIO */

.ico_piu_pacc{display:inline-block; width:30px; line-height:30px; background-color:#e5e5d9; font-weight: bold; font-size:21px; margin-top:65px;}

/* WIDGET PACCHETTI SLIDE */
.w_pacchetti{border-top:1px solid #d6d6d6; margin-bottom:15px;}
.w_pacchetti .tit{font-weight:normal; font-size:19px; margin:10px 0; float:left;}
.w_pacchetti .tit + a{float:right; margin-top:15px;}
.w_pacchetti .w_slide_block{background-color:#f5f6f8; clear:both; position:relative;}
.w_pacchetti .w_slide_block .nav_btn{position:absolute; width:28px; height:28px; background:url("../images/nav_button_gallery.png") no-repeat; top:50%; margin-top:-14px;}
.w_pacchetti .w_slide_block .nav_indietro{left:10px;}
.w_pacchetti .w_slide_block .nav_avanti{right:10px; background-position:100% 0;}
.w_pacchetti .w_slide_block .nav_indietro:hover{background-position:0 -28px;}
.w_pacchetti .w_slide_block .nav_avanti:hover{background-position:100% -28px;}
.w_pacchetti .contSlide{width:890px; overflow:hidden; margin:0 auto;}
.w_pacchetti .slider{overflow:hidden; position:relative;} 
.w_pacchetti .item {float:left; width:890px; padding:10px 0;}
.w_pacchetti .item > p{padding:8px 0 0; float:left;}
.w_pacchetti .item .promoTxt{margin-right:3px;}
.w_pacchetti .item .leftSide {overflow:hidden; background-color:#fff; padding:10px;}
.w_pacchetti .item .leftSide a {float:left; width:30%; text-align:center;}
.w_pacchetti .item .leftSide a .itemName{font-size:13px;}
.w_pacchetti .item .leftSide a .itemName, .w_pacchetti .item .leftSide a .price{display:block; text-align:left; padding-left:5%;}
.w_pacchetti .item .leftSide a img{display:block; margin:10px auto 0;}
.w_pacchetti .ico_piu{float:left;}
.w_pacchetti .item .rightSide {float:right; padding-left:15px;}
.w_pacchetti .item .rightSide .btnAddCart {margin-bottom:5px;}
.w_pacchetti .item .rightSide .btn.cart {margin-bottom:5px;}
.w_pacchetti .item .rightSide .contPrice{margin-bottom:15px;}
.w_pacchetti .item .rightSide .contPrice .itemPrice {display:block;}
.w_pacchetti .item .rightSide .contPrice p{margin-top:10px;}
.w_pacchetti .item .rightSide .tagPromo{color:#fff; margin-right:10px;}
.w_pacchetti .item .rightSide .tagPromo:before{border-left:9px solid #d10000; border-bottom:9px solid transparent; border-top:8px solid transparent; right:-8px;}
.w_pacchetti .item .rightSide .tagPromo .circle{position:absolute; right:0; top:50%; margin-top:-2px; width:4px; height:4px; background-color:#fff; border-radius:50px;}
.w_pacchetti .item .nomeProd {display:block; font-size:12px;}
.w_pacchetti .item .itemPrice{font-size:18px; display:block;}
.w_pacchetti .otherRow {float:left; width:100%;}
.w_pacchetti .btn_altriPacchetti {clear:both; margin:0 auto 15px; width:176px; height:22px; background:url("../images/altripacchetti.png") no-repeat; cursor:pointer;}
.w_pacchetti .btn_altriPacchetti:hover {background-position:0 -22px;}

/* WIDGET PACCHETTI STATICI */
.w_pacchettiStatici{clear:both; border-bottom:4px solid #5b9fe3; position:relative;}
.sezProd .w_pacchettiStatici {margin:-14px 0 15px}
.w_pacchettiStatici .leftSide {float:left; padding-left:40px; min-height:50px; text-align:center;}
.w_pacchettiStatici .leftSide .tit{padding-top:50px; font-size:17px; font-weight:normal;}
.w_pacchettiStatici .leftSide .tit + a{display:inline-block; margin-top:15px;}
.w_pacchettiStatici .contSlide{position:relative; z-index:1; overflow:hidden;}
.w_pacchettiStatici .contSlide .item {display:inline-block;  width:32.9%; font-size:13px; vertical-align:top; padding-top:10px;}
.w_pacchettiStatici .contSlide .item img {float:left; margin:0 2% 0 3%; width:120px;}
.w_pacchettiStatici .contSlide .item .txt {display:block; margin-top:25px; padding-right:20px; border-left:1px solid #b6b6b6; white-space:normal;}
.w_pacchettiStatici .contSlide .item:first-child .txt {border-left:0;}
.w_pacchettiStatici .contSlide .item .txt .itemName {display:block; height:47px; overflow:hidden;}
.w_pacchettiStatici .contSlide .item.sel:after {background:url("../images/arrow_down_az.gif") no-repeat 50% 0; border-color:#86bae2;}
.w_pacchettiStatici .contSlide .item.sel img {opacity:0.5;}
.w_pacchettiStatici{height:151px;}
.w_pacchettiStatici .contSlide {height:100%; white-space:nowrap;}
.w_pacchettiStatici .contSlide .sliderOne .item {width:30%;}
.w_pacchettiStatici .contSlide .sliderOne .item img {float:none; display:block; margin:0 auto 3px; width:100px;}
.w_pacchettiStatici .contSlide .sliderOne .item .txt {margin:0 auto; padding-right:0; width:100px; height:33px; border:0;}
.w_pacchettiStatici .contSlide .sliderOne .item .txt .itemName {height:16px;}
.w_pacchettiStatici .arrow{border-left:12px solid transparent; border-right:12px solid transparent; border-top:12px solid #5b9fe3; bottom:-16px; left:50%; margin-left:-6px; position:absolute; z-index:1;}

.w_pacchettiStatici .rightSide {float:right; height:100%; background-color:#f5f6f8; padding-left:15px; padding-right:15px;}
.w_pacchettiStatici .rightSide .btnAddCart {margin-bottom:5px;}
.w_pacchettiStatici .rightSide .btn.cart {margin-bottom:5px;}
.w_pacchettiStatici .rightSide .contPrice{margin-bottom:15px; padding-top:10px;}
.w_pacchettiStatici .rightSide .contPrice .itemPrice {display:block;}
.w_pacchettiStatici .rightSide .contPrice p{margin-top:10px;}
.w_pacchettiStatici .rightSide .tagPromo{color:#fff; margin-right:10px;}
.w_pacchettiStatici .rightSide .tagPromo:before{border-left:9px solid #d10000; border-bottom:9px solid transparent; border-top:8px solid transparent; right:-8px;}
.w_pacchettiStatici .rightSide .tagPromo .circle{position:absolute; right:0; top:50%; margin-top:-2px; width:4px; height:4px; background-color:#fff; border-radius:50px;}

/* PACCHETTI CONSIGLIATI - FINE */

/* Widget responsive*/
.w_resp_item {text-align:center;}
.w_resp_item .item {display:inline-block; vertical-align:top; padding:5px 0 20px; font-size:13px;}
.w_resp_item .item .relative {display:inline-block;}
.w_resp_item .item .relative .q_img {position:absolute; top:32%; right:15%;}
.w_resp_item .item .siteFont {display:block; padding:4px 0 1px; font-size:17px; color:#006fde;}
.w_resp_item.da3 .item {width:33%;}

.w_marchi_new .item {display:inline-block; margin:0 -3px 15px 0; width:20%; min-width:130px; vertical-align:middle; text-align:center;}

.w_widget.w_new.w_provati {display:table; width:100%; text-align:center;}
.w_widget.w_new.w_provati .item {display:table-cell; padding:0 10px !important;}
.w_widget.w_new.w_provati .item > * {display:block; margin:0 auto; width:94%; max-width:250px; min-width:160px;}
.w_widget.w_new.w_provati .item img {display:block; width:100%; padding-bottom:4px;}
.w_widget.w_new.w_provati .item .videoRew {position:relative; margin-bottom:25px; padding:4px; font-size:16px; color:#FFF; background:#006fde;}
.w_widget.w_new.w_provati .item .videoRew:after {content:" "; position:absolute; top:100%; left:50%; margin-left:-8px; display:inline-block; border:8px solid transparent; border-top:14px solid #006fde; border-bottom:0;}
.w_widget.w_new.w_provati .item .videoRew a {display:block;}
.w_widget.w_new.w_provati .item .videoRew .icoPlay {position:absolute; top:50%; left:50%; margin:-22px 0 0 -22px; width:44px;}
.w_widget.w_new.w_provati .item .videoRew:hover {text-decoration:none;}
.w_widget.w_new.w_provati .item .videoRew:hover .icoPlay {opacity:0.8;}
.w_widget.w_new.w_provati .item .itemBrand {display:inline-block; width:auto; min-width:0;}
.w_widget.w_new.w_provati .item .itemName {display:block; height:32px; margin:5px 0; font-size:13px; overflow:hidden;}
.w_widget.w_new.w_provati .item del {padding-right:8px;}

.w_primo_piano {padding-bottom:20px; font-size:14px;}
.w_primo_piano > .left {margin-right:2%;}
.w_primo_piano .tit.siteFont {font-size:19px;}
.w_primo_piano .liquidSpace > .txt {float:left; width:60%;}
.w_primo_piano .liquidSpace > .txt p {padding:6px 0;}
.w_primo_piano .rightSide {position:relative; float:right; padding:5px 0 0; width:33%; height:222px; text-align:center; border:3px solid #006fde;}
.w_primo_piano .rightSide:before {content:" "; position:absolute; right:100%; top:49%; border:8px solid transparent; border-right:13px solid #006fde;}
.w_primo_piano .rightSide > img {display:inline-block; width:150px;}
.w_primo_piano .rightSide:hover {text-decoration:none;}
.w_primo_piano .rightSide .txt,
.w_primo_piano .rightSide .txt > * {display:block; padding:4px;}
.w_primo_piano .rightSide .txt .itemName {display:none;}


/* nuovi oggetti vetrine */
.titImg {margin:0 auto; width:100%; max-width:983px;}
.titImg:after {content:" "; clear:both; display:block; height:0; width:100%;}

@media (min-width:1215px){
	.hide1024 {display:block;}
	.w_widget.w_new.da3 .item .border .linkTit {height:43px;}
	.w_navCat .contNavCat.topProd.da3 .itemCat img.left {margin:0 10%; max-width:150px;}
	.w_navCat.w_slideCat .contNavCat {margin:0 60px;}
	.infoBar li a span {text-align:left;}
	.tMicro .infoBar > * {min-width:200px;}
    .contPromo {margin:0 14.5% 17px;}
    .contPromo2 {width: 71%}
    .pp_hp .infoCart .col {padding-left:100px!important;}
	.sezProd .info_ribbon.scrollProd .rightSide {width:106px;} /*parte per ribbon infocommerce*/
	.w_orizontal_list.w_new.w_dayone .slider .item {width: 175px;}
	.w_orizontal_list.w_new.w_dayone .w_orizontal_list_item {width: 925px; height: 285px;}
	.w_navCat.w_formPrint .contFormPrint div input{width:190px;}
	.w_navCat.w_formPrint .contFormPrint div select{width:191px}
	.w_navCat.w_configTablet{font-size:13px; background:url(/images/widget/bg_w_config_tablet.png) repeat-y left top;}
	.w_navCat.w_configTablet .contConfigTablet > div.filter { width:160px;}
	/*widget tecnologie da4*/
	.w_widget.w_new.boxColore.da4 .item .revealMe h2 {  padding: 5px 0;  font-size: 14px;}
	.w_widget.w_new.boxColore.da4 .item .revealMe li { font-size: 12px;}
	.w_widget.w_new.boxColore.da4 .item .revealMe p { font-size: 12px;}	
	.w_widget.w_listItem .contItem.da6.fixed .item {padding-left:22px;}
    .w_pacchetti .contSlide, .w_pacchetti .item{width:1150px;}
	.w_telone_sar .prod .item .bgWhite a .bollo {right:9px;}
	.w_telone_sar .prod .item .bgWhite a .remain {left:9px;}
	.w_telone_sar .prod .item .bgWhite .btn {font-size:14px;}
}

/* Retrocomp vecchi negozi*/
#sideSx .box_menu h4 {font-weight:bold;}
#sideSx .box_menu ul.listPrinc {margin-bottom:15px;}


