/*
Theme Name:hosyusokuhou
Description:保守速報用テーマ
Theme URI:
Version:1.0.0
*/

@charset "utf-8";
/* CSS Document */

html {
	overflow: auto;
}

html,body {
	height: 100%;
	width : 100%;
	font-family: 'meiryo','メイリオ','ms pgothic','ms pゴシック',osaka,sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: url(./commons/bg.jpg);
}

a {
	text-decoration: none;
	outline: none;
}

a:link {
	color:#0052e1;
}

a:visited {
	color:#0052e1;
}

a:hover {
	color: #ff8c00;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	list-style-type: none;
}

#debug {
	display: none;
}


/* [レス設定]
-------------------------------------------------------------- */

.res_name {
	display: block;
	font-size: 13px;
	margin: 0 0 5px;
}

.res_honbun {
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	display: block;
	margin: 0 0 50px;
}


/* [wrapper]
-------------------------------------------------------------- */
div#wrap {
	_height: 1%;
	width: 990px;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
	overflow-y: hidden;
}

div#wrapper:after, div.comment:after, #recent li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


/* [header]
-------------------------------------------------------------- */
div.naviarea {
	min-width: 990px;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #000), color-stop(0.50, #222), color-stop(0.00, #444));
	background: -webkit-linear-gradient(top, #444 0%, #222 50%, #000 100%);
	background: -moz-linear-gradient(top, #444 0%, #222 50%, #000 100%);
	background: -o-linear-gradient(top, #444 0%, #222 50%, #000 100%);
	background: -ms-linear-gradient(top, #444 0%, #222 50%, #000 100%);
	background: linear-gradient(to bottom, #444 0%, #222 50%, #000 100%);
	font-size: 14px;
}

div.naviarea a {
	display: block;
	color: #ddd;
	width: 98px;
	border-left: 1px solid #444;
	line-height: 30px;
}

div.naviarea a:hover {
	color: skyblue;
	background: #222;
}

div.naviarea a.last {
	width: 97px!important;
	border-right: 1px solid #444;	
}

div.naviarea a.copy {
	width: auto!important;
	padding: 0 5px;
	border-right: 1px solid #444;	
}

ul.navilist {
	width: 990px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
}

ul.navilist li {
	float: left;
	padding: 0;
	height: 30px;
	text-align: center;
}

ul.navilist img {
	margin-right: 3px;
	vertical-align: -10%;
}

header {
	min-width: 1000px;
	width: 100%;
	height: 110px;
	margin: 0 auto;
	background: #fff;
	border-bottom: 1px solid #555;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

div#headerinner {
	position: relative;
	width: 990px;
	margin: 0 auto;
	padding: 0;
}

a#logobanner {
	display: inline-block;
	margin: 9px 0 0;
}

div#head_banner {
	float: right;
	margin: 8px 6px 0 0;
	padding: 0;
	width: 728px;
	height: 90px;
	border: 1px solid #888;
}
/*
div#head_banner > * {
	display: none;
}
*/
div#head_rtrank {
/*	float: left;	*/
	margin: 10px 0 0;
	padding: 0;
	width: 740px!important;
	height: 116px;
	overflow: hidden;
/*	filter: alpha(opacity=0);
	opacity: 0;
	-moz-opacity: 0;*/
}

div#head_rtrank div.popularArticlesWithImage.A {
	padding: 0;
	margin-left: -12px;
}

div#head_rtrank div.popularArticlesWithImage.A ul {
	width: 755px!important;
}

div#head_rtrank div.popularArticlesWithImage.A ul li {
	margin: 0 0 0 12px !important;
}

div#siteinfo {
	width: 210px;
	height: 180px;
	background: #eddab2;
	padding: 10px;
	text-align: center;
}

div.blogroll-channel {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	background: #fff;
}


/* [main]
-------------------------------------------------------------- */

div#main {
	margin: 0 auto;
}

img#midashi {
	margin: -20px 0px 5px 10px;
}

div#contents {
	width: 738px;
	margin: 0 auto;
}
#contents.single {
	background: #f9f9f9;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

aside#side {
	position: relative;
	width: 238px;
	height: auto;
	margin: 10px 10px 0 0;
	border: 1px solid #c0c0c0;
	background: #fff;
	font-size: 14px;
}

div#headline {
	margin: 0 auto;
	padding: 5px;
	width: 728px;
	height: 300px;
	background: #fff;
	border: 1px solid #c0c0c0;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidewrapper .screen-reader-text {
	display: none;
}

div.sidetitle {
	font-size: 14px;
	margin: 3px 3px 8px;
	padding: 6px 3px 6px 8px;
	text-shadow: 1px 1px 1px rgba(128,128,128,0.4);
	background: #ffaf4d;
	color: #fff;
}

div.sidewrapper {
	margin: 0 0 15px;
}

.sidewrapper .execphpwidget, .sidewrapper .textwidget, .xoxo.blogroll {
	font-size: 12px;
	width: auto;
	height: auto;
	padding: 0px 9px;
	margin: 5px 0 15px!important;
	font-family: 'ms pgothic','ms pゴシック',osaka,sans-serif;
}
.sidewrapper form {
	width: 94%;
}
.sidewrapper form, .sidewrapper select {
	display: block;
	margin: 0 auto;
}
.sidewrapper .textwidget > a {
	display: block;
	margin-bottom: 1em;
}
.sidewrapper .textwidget > a:last-child {
	margin-bottom: 0;
}

div.sidebody {
	margin: 0;
}

div.abanner {
	margin: 10px 0;
	padding: 5px;
	width: 728px;
	height: auto;
	min-height: 90px;
	background: #fff;
	border: 1px solid #ccc;
}

div.abanner > * {
}

table.abox {
	margin: 10px auto;
}
table.abox td {
	vertical-align: bottom;
}
table.abox td:first-child {
	padding-right: 30px;
}
div#adside {
	width: 200px;
	margin: 10px auto 0;
}


/* [ブログパーツ用]
-------------------------------------------------------------- */

#recent {
	margin: 0;
	padding: 0;
}

#recent li {
	line-height: 1.2;
	padding: 8px 0;
	min-height: 1px;
	text-align: left;
	border-bottom: 1px dotted #888;
}

#recent li img {
	width: 60px;
	height: 60px;
	border: 0;
	margin: 0 5px 0 0;
	float: left;
}

select {
	width: 220px;
}


/* [entry]
-------------------------------------------------------------- */

article.entrybox, div#entryarea, div#commentarea {
	height: auto;
	margin: 0 auto;
}

article.entrybox {
	margin: 0 auto;
	padding: 0 0 5px;
	background: #f9f9f9;
	margin: 0 auto 20px;
	border: 1px solid #c0c0c0;
}

div#entryarea {
	margin: 0 auto;
	padding: 0;
	background: #f9f9f9;
	border-top: 1px solid #c0c0c0;
}

div#commentarea {
	width: 738px;
	margin: 0 auto;
	padding: 20px 0 0;
	background: #fff;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

div.entry {
	width: auto;
	margin: 0;
	padding: 20px 20px;
}

.entryheader {
	position: relative;
	width: auto;
	padding: 10px;
	color: #888;
	border-bottom: 1px dashed #888;
	background: url(./commons/comcount_bg.png) right top no-repeat;
}

img.entrythumb {
	margin: 2px 0;
	padding: 3px;
	width: 300px;
/*	height: 118px;
*/	border: 1px solid #aaa;
	background: #fff;
	vertical-align: middle;
}

a.entrytitle {
	border-left: 5px solid #ffaf4d;
	display: inline-block;
	padding: 10px 7px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #ccc;
	max-width: 645px;
	line-height: 1.5;
	height: auto;
}

div.btnlist {
	position: absolute;
	right: 0;
	bottom: 10px;
}

div.entryinfo {
	margin: 10px -5px 0;
	padding: 10px 10px 0 5px;
	border-top: 1px solid #ddd;
	font-size: 14px;
}

div.entryinfo > a:first-child {
	margin-right: 5px;
}

div.entryinfo #headbtns {
	float: right;
	margin-top: -5px;
	padding: 0;
	max-width: 300px;
}
div.entryinfo #headbtns > * {
	vertical-align: middle;
	margin-top: 3px;
}
div.entryinfo #headbtns > *:not(:first-child) {
	margin-left: 5px;
}

a.comcount {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px #ccc;
}

.twitter-share-button.twitter-count-horizontal, .hatena-bookmark-button-frame {
	margin-top: -3px;
}

.twitter-share-button.twitter-count-horizontal {
	width: 110px !important;
}

.entrybody {
	line-height: 1.5;
	padding: 20px 15px;
	word-break: break-word;
}

.entrybody p#aa {
	font-family: "ＭＳ Ｐゴシック","ＭＳＰゴシック","MSPゴシック","MS Pゴシック","MS PGothic";
	font-size: 12px;
	line-height: normal;
	letter-spacing: normal;
}

.entrybody blockquote {
	width: 665px;
	margin: 0 auto;
	padding: 10px 15px 10px 20px;
	font-size: small;
	font-weight: normal;
	border-top: 1px dashed #BBB;
	border-left: 1px dashed #BBB;
	border-right: 1px dashed #BBB;
	border-bottom: 1px dashed #BBB;
	background: #fff;
	color: #333;
}
img.pict, .entrybody img {
	padding: 3px;
	border: 1px solid #aaa;
}

img.pict:hover, div#footerad img:hover, div#bottombtn a, img.entrythumb:hover, img#logo:hover, div.adbanner > *:hover, div#sidead:hover, #head_banner:hover, .innerbanner:hover, #adbox td:hover, #form-header:hover, #footerad:hover, .entrybody img:hover {
	filter: alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity: 0.7;
}

img.pict, div#bottombtn a:hover, .entrybody img {
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}

span.continues {
	display: block;
	margin: 10px 15px 0;
	padding: 3px;
	border: 1px solid #888;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

a.continue {
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	background: #e4ffe4;
	text-align: center;
	text-decoration: none !important;
}

span.boxcontinues {
	display: inline-block;
	margin: 10px 0 0 50px;
	padding: 3px;
	border: 1px solid #888;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

a.boxcontinue {
	display: inline-block;
	width: 300px;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	background: #e4ffe4;
	text-align: center;
	text-decoration: none !important;
}

a.continue:hover, a.boxcontinue:hover {
	background: #bbb;
}

div.plugin-recent_articles.sidewrapper a {
	display: block;
	border-bottom: 1px dashed #aaa;
	padding: 8px 0;
}

div.plugin-recent_articles.sidewrapper a:hover, .related-articles a:hover {
	background: #ffd;
}

/* [記事下ボックス]
-------------------------------------------------------------- */

div#bottombtn {
	margin: 20px auto 0;
	text-align: center;
}

div#bottombtn a {
	display: inline-block;
	font-weight: bold;
	width: 320px;
	height: 40px;
	padding-left: 30px;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: left top;
	background-repeat: no-repeat;
	color: #fff;
}

.share_twitter {
	margin-right: 20px;
	background-image: url(./commons/btn_tweet.png);
}
div#bottombtn a:last-child {
	background-image: url(./commons/btn_hatebu.png);
}

div#bottombox {
	height: 603px;
	margin: 0 auto;
	overflow: hidden;
}

div#rtrank, div#comrank {
	float: left;	
}

div#comrank {
	margin-left: 15px;
}

div#rtrank div.popularArticlesWithImage.A, div#comrank div.popularArticlesWithImage.A {
	float: left;
	width: 358px;
	height: 575px;
	margin: 0;
	padding: 0;
}

div#comrank div.popularArticlesWithImage.A ul li {
}

div#comrank div.popularArticlesWithImage.A div.title {
    background-color: #5a5a5a;
    background-color: rgba(0,0,0,0.6);
}

div.retweet {
	background: #00bfff!important;
}

div.comment {
	background: #ffa500!important;
}

div.innerbanner {
	margin: 0 auto;
	padding: 20px 0;
	width: 728px;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

#commentarea h2, #bottombox h2 {
	margin: 0 12px 10px;
	padding: 3px 0 3px 8px;
	border-left: 3px solid #888;
	border-bottom: 1px dashed #ccc;
	text-shadow: 1px 1px 2px #aaa;
	font-size: 16px;
	color: #666;
}


/* [comment]
-------------------------------------------------------------- */

#comments-list {
	margin: 0 20px;
}
#comments-list, .tooltip {
	font-family: "ＭＳ Ｐゴシック","ＭＳＰゴシック","MSPゴシック","MS Pゴシック","MS PGothic";
	font-size: 12px;
	line-height: 14px;
}

h5#comtop {
	margin: 0;
	padding: 20px 20px 0;
	font-weight: normal;
	font-size: 16px;
}

.com_name {
	color: #008000;
}

.activecomment {
	padding: 10px 0;
	background: #fdd;
	border-top: none !important;
	border-bottom: 1px dashed #fdd;
	-moz-box-shadow: 0px 0px 15px 15px #fdd;
	-webkit-box-shadow: 0px 0px 15px 15px #fdd;
	box-shadow: 0px 0px 15px 15px #fdd;
}

.cominfo {
	float: left;
	width: 160px;
}

.comtext {
	overflow: hidden;
	padding: 10px 0 20px 15px;
}

.reslist {
	display: inline-block;
	margin: 1em 0 0;
	padding: 0.3em 0 0;
	color: #888;
	border-bottom: 1px dashed #ccc;
}
.reslist .comanchor.sansyo {
	padding: 0 0 0.3em 0.5em;
}

.comtext p {
	margin: 0;
}

.cominfo h6 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.cominfo ul {
	font-size: 12px;
	margin: 5px 0;
	padding: 5px 0 0;
	border-top: 1px solid #888;
	color: #aaa;
}

.comres {
	float: right;
}

.number {
	position: absolute;
	right: 10px;
	bottom: 5px;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	font-style: oblique;
	color: #ddd;
}

#form-header {
	width: 728px;
	margin: 0 auto;
	padding: 20px 0;
}

#comment-form * {
	margin: 0;
	padding: 0;
}

#comment-form{
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	font-size: 14px;
	line-height: 22px;
}

#comment-form p{
	margin: 10px 0;
}

p.error {
	display: none;
	padding: 10px;
	border: 1px dased #888;
	color: #F00;
}

#form-button{
	margin: 0;
}

#comment-form input[name='author'] {
	border: 1px solid #ccc;
	width: 225px;
	padding: 2px;
	font-size: 13px;
}

#comment-form textarea {
	border: 1px solid #ccc;
	width: 710px;
	height: 200px;
	padding: 2px;
	font-size: 13px;
}

#comment-form input[type='submit'] {
	text-size: 16px;
	width: 717px;
	height: 30px;
}

div.side form input.sfbtn {
	background: #EEE;
	border: 1px solid #CCC;
	padding: 1px;
}

p.tooltip {
	position: absolute;
	display: none;
	max-width: 550px;
	padding: 10px 10px 0;
	background: #fff;
	border: 1px solid #888;
	box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.2);
	z-index: 9999;
	filter: alpha(opacity=95);
	opacity: 0.95;
	-moz-opacity: 0.95;
}

a.comanchor {
	display: inline-block;
	padding: 0 10px 5px 0;
}


/* [footer]
-------------------------------------------------------------- */

footer {
	position: static;
	width: 100%;
	min-width: 990px;
	margin: 20px 0 0;
	padding: 0 0 10px;
	background-color: #5a5a5a;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
	border-top: 2px solid #aaa;
	opacity: 1;
}

div#footerinner {
	width: 990px;
	height: 585px;
	margin: 0 auto;
	padding: 10px 0 0;
	opacity: 1;
	font-size: 14px;
	overflow: hidden;
}

div#hatena1, div#hatena2 {
	float: left;
	width: 320px;
	height: 585px;
	margin: 0 15px 0 0;
	background: #fff;
	border: #444;
}

div#i2i-00208891-viewwrap {
	margin: 10px auto;
}

div#footerrss {
	float: left;
	width: 310px;
	height: 585px;
	margin: 0;
	padding: 0 5px;
	text-align: center;
	background: #fff;
	border: #444;
	overflow: hidden;
}

div#rsswrap {
	float: left;
	width: 310px;
	height: 532px;
	margin: 0 0 10px;
	text-align: center;
	background: #fff;
	border: #444;
	overflow-y: auto;
	overflow-x: hidden;
}

div#footerad {
	width: 300px;
	margin: 0 auto;
}

div#footerinner h2 {
	font-size: 16px;
	margin: 5px 10px 5px 8px;
	padding: 0 10px 3px 5px;
	text-shadow: 1px 1px 3px #aaa;
	border-left: 3px solid #889;
	border-bottom: dashed 1px #ccc;
	text-align: center;
	color: #333;
}

footer ul {
	margin: 0;
	padding: 0 5px;
}

footer ul li {
}

footer ul a {
	position: relative;
	display: block;
	line-height: 1.2;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

footer ul a:hover {
	background: #ffd;
}

footer ul p {
	position: absolute;
	right: 0;
	bottom: 10px;
	display: inline-block;
	margin: 0;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #f00;
	background: #fbb;
	border-bottom: 1px solid #f00;
}

a.copy {
	display: block;
	margin: 0 auto;
	display: block;
	text-align: center;
}

a.copy:link {
	color: #fff;
}

a.copy:hover {
	color: orange;
}


/* [記事本文設定]
-------------------------------------------------------------- */

.entry blockquote{
	width: 90%;
	padding: 5px 15px;
	margin: 5px 10px;
	border: solid 1px #888;
	line-height: 170%;
}


/* [フェード設定]
-------------------------------------------------------------- */

#pagenavi li, p.navibtn {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

div.popularArticlesWithImage.A li, footer a, a.continue, a.boxcontinue {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

img#logo, div.popularArticlesWithImage.A img, img.pict, div#footerad img, img.entrythumb, div.adbanner > *, #head_banner, .innerbanner, #adbox td, #form-header, #footerad, .entrybody img {
/* エフェクト速度変更-0.5~0.1_131007 */
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
}

div.popularArticlesWithImage.A ul li a:hover > div.image img {
	filter: alpha(opacity=70);
	opacity: 0.7;
	-moz-opacity: 0.7;
}


/* [カテゴリ最新記事のスタイル]
-------------------------------------------------------------- */

h3 {
	margin: 20px 10px 0;
	padding: 3px 0 3px 8px;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-shadow: 1px 1px 2px #aaa;
	font-size: 16px;
	color: #666;
}

#related {
	margin: 0 auto 20px;
	padding: 0;
	font-size: 12px;
	list-style: none;
}

#related li {
	margin: 0 10px;
}

#related li a {
	display: block;
	border-bottom: 1px dashed #aaa;
	padding: 8px 0;
}


/* [ページナビ]
-------------------------------------------------------------- */

ul#pager {
	margin: 0 auto 20px;
	padding: 0;
	text-align: center;
}

ul#pager li {
	display: inline;
}

ul#pager li.current {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin: 0 auto;
	padding: 0 10px;
	line-height: 28px;
	border:1px solid #888;
	background-color: #333;
}

ul#pager li.off {
	display: none;
}

ul#pager a, .pager-inner a {
	border: 1px solid #888;
	background-color: #fff;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	font-weight: normal;
	line-height: 28px;
	margin: 0 5px;
	padding: 0 10px;
	text-decoration: none;
}

ul#pager a:hover, .pager-inner a:hover {
	color: #fff;
	background-color: #333;
}

#pagenavi, .pager {
	margin: 10px auto;
}

#pagenavi {
	margin: 20px auto 0;
	border-top: 3px double #ccc;
}

ul#navibox {
	height: 80px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#pagenavi li.prev {
	float: left;
	background: url(./commons/arrowl_off.png) 370px center no-repeat;
	min-height: 50px;
	font-size: 14px;
	line-height: 110%;
	border-right: 1px dashed #ccc;
	text-align: left;
	padding: 0;

}

#pagenavi li.next {
	float: right;
	background: url(./commons/arrowr_off.png) -20px center no-repeat;
	min-height: 50px;
	font-size: 14px;
	line-height: 110%;
	text-align: right;
	padding: 0 0 0 1px;
}

#pagenavi li.prev:hover {
	background: #ffd url(./commons/arrowl_on.png) left center no-repeat;
}

#pagenavi li.next:hover {
	background: #ffd url(./commons/arrowr_on.png) right center no-repeat;
}

#pagenavi a {
	display: inline-block;
	width: 318px !important;
	height: 50px !important;
	padding: 15px 25px;
}

ol.paging-number,
ol.paging-number li {
	padding: 0;
	display: inline;
}

/*	PC/SP切替	*/
.pc-switcher {
	background: rgba(255,255,255,0.5);
	text-align: center;
}
.pc-switcher > * {
	display: inline-block;
	width: 50%;
	line-height: 4rem;
	font-size: 1.6rem;
}
.pc-switcher .active {
	font-weight: bold;
	background: rgba(0,0,0,0.3);
	color: #fff;
}


/* [右サイドナビ]
-------------------------------------------------------------- */

#navi_top, #navi_comwrite, #navi_prev, #navi_next, #navi_comment {
	position: fixed;
	margin: 0 0 0 740px;
	background-color: #ddd;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.navibtn a {
	width: 50px;
	height: 50px;
	margin: 0;
	overflow: hidden;
	display: block;
}

.navibtn img {
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-opacity: 0;
}

.navibtn img:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
}

#navi_top, #navi_comwrite {
}

#navi_top {
	bottom: 50px;
	background-image: url(./commons/navi_top.png);
	cursor: pointer;
}

#navi_top:hover {
	background-image: url(./commons/navi_top_on.png);
}

#navi_comwrite {
	bottom: 203px;
	background-image: url(./commons/navi_comwrite.png);
}

#navi_comwrite:hover {
	background-image: url(./commons/navi_comwrite_on.png);
}

#navi_comment {
	bottom: 254px;
	background-image: url(./commons/navi_comment.png);
}

#navi_comment:hover {
	background-image: url(./commons/navi_comment_on.png);
}

#navi_prev {
	bottom: 101px;
	background-image: url(./commons/navi_prev.png);
}

#navi_prev:hover {
	background-image: url(./commons/navi_prev_on.png);
}

#navi_next {
	bottom: 152px;
	background-image: url(./commons/navi_next.png);
}

#navi_next:hover {
	background-image: url(./commons/navi_next_on.png);
}


/* [RSS（iframe）]
----------------------------------------------- */

iframe.rsstop_fr {
	width: 100%;
	height: 650px;
	text-align: left;
	font-weight: normal;
	font-size: 120%;
}

div#bottom_rss {
	width: 720px;
	height: 620px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
}

iframe.entrybottomrss {
	width: 5000px;
	height: 620px;
	overflow: hidden;
	margin-left: -2398px;
}

iframe.middlerss {
	width: 5000px;
	height: 250px;
	margin-left: -800px;
}

div#middle_rss {
	height: 200px;
	margin: 0 auto;
	padding: 0 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
	overflow-y: auto;
	overflow-x: hidden;
}

div#last_rss {
	width: 728px;
	margin: 10px 0;
	padding: 5px;
	height: 250px;
	background-color: #fff;
	border: 1px solid #ccc;
	overflow-x: hidden;
	overflow-y: auto;
}

iframe.bottomrss {
	width: 5000px;
	height: 755px;
	overflow: hidden;
	margin-left: -3200px;
}


/* Popular Articles with Image (Tag, Plugin)
----------------------------------------------- */

div.popularArticlesWithImage.A{
	margin: 0 auto;
	padding-left: 20px;
}

div.popularArticlesWithImage.A ul{
	margin:0;
	padding:0;
	text-align:center;
}

div.popularArticlesWithImage.A ul li{
	float: left;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 0 8px 8px !important;
	padding: 3px;
	background: #ccc;
	vertical-align: top;
	text-align:left;
}

div.popularArticlesWithImage.A ul li:hover {
	background: orange;
}

div.popularArticlesWithImage.A ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 160px;
	height: 100px;
	transition: all 0.3s ease;
	background: #ccc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

div.popularArticlesWithImage.A li div.image img {
	border-width: 0px;
}

div.popularArticlesWithImage.A li div.image.noimage {
	background: #daf5da;
}

div.popularArticlesWithImage.A div.title {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 28px;
	padding: 2px 3px;
    background-color: #5a5a5a;
    background-color: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 16px;
	line-height: 15px;
	text-align: left;
	overflow: hidden;
	font-size: 13px;
}

div#bottombox div.popularArticlesWithImage.A div.title {
	width: 159px!important;
}

div.popularArticlesWithImage.A div.retweet,
div.popularArticlesWithImage.A div.comment{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	*display: inline;
	*zoom: 1;
	padding: 3px 2px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 2px #888;
}

div.popularArticlesWithImage.A li div.image.noimage {
	background-image: url(./commons/noimage.png);
	width: 160px;
	height: 100px;
}

/* 独自人気記事パーツCSS_20130405 */
div#head_rtrank {
	width: 752px!important;
	height: 114px;
	margin-left: -12px;
}
#head_rtrank ul {
	margin: 0;
	padding: 0;
}
#head_rtrank li, #bottombox li {
	margin: 0 0 0 12px !important;
	float: left;
	position: relative;
	display: inline-block;
	padding: 3px;
	background: #ccc;
	vertical-align: top;
	text-align: center;
}
#head_rtrank li:hover, #bottombox li:hover {
	background: orange;
}
#head_rtrank a, #bottombox a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 170px;
	height: 110px;
	transition: all 0.3s ease;
	background: #fff;
	overflow: hidden;
}
div#head_rtrank img.thumb {
	margin: 0;
	padding: 0;
	width: 170px;
	min-height: 110px;
}
div#bottombox img.thumb {
	margin: 0;
	padding: 0;
	width: 165px;
	min-height: 100px;
}
/*
#head_rtrank li:hover > a img, #bottombox li:hover > a img {
	opacity: 0.7;
}
*/
li:hover > a span.etitle, li:hover > a span.title {
	height: 97%;
}
li:hover > a span[class$=count] {
	top: 84%;
}
span.etitle, span.title {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 28px;
	width: 97%;
	padding: 2px 3px;
    background-color: #5a5a5a;
    background-color: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 16px;
	line-height: 15px;
	text-align: left;
	overflow: hidden;
	font-size: 13px;
}
/*#head_rtrank span, #bottombox span {*/
span.rtcount, span.comcount, span.randombox {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 2px #888;
	background: deepskyblue;
	z-index: 1;
	padding: 3px 2px;
}
span.rtcount {
	background: deepskyblue;
}
span.comcount {
	background: orange;
}
span.randombox {
	background: green;
}
#head_rtrank li, div#bottombox li, #head_rtrank span, div#bottombox span {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#head_rtrank img, div#bottombox img {
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
}



div#bottombox div ul li{
	float: left;
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 0 8px 8px !important;
	padding: 3px;
	background: #ccc;
	vertical-align: top;
	text-align:left;
}

div#bottombox div ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 165px;
	height: 100px;
	transition: all 0.3s ease;
	background: #ccc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	overflow: hidden;
}
div#rtrank ul, div#comrank ul {
	float: left;
	width: 358px;
	height: 570px;
	margin: 0;
	padding: 0;
}

/* スマホ広告領域_131224 */
div#spad {
	display: none;
}

/* PC追尾広告_150123 */
#fixAd {
	position: relative;
	width: 238px;
	height: auto;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
}
#fixAd div.side {
	text-align: center;
}
aside#side, div#main {
	float: none;
	display: inline-block;
	vertical-align: top;
}
div#main {
	width: 734px;
}

/* コメントRTランキング上広告_20151219 */
div.innerbanner {
	width: 728px;
	height: 90px;
	margin: 0 auto 10px;
}

/* 個別記事・続きを読む部分広告_20151219 */
div#admiddle {
	margin-bottom: 20px;
	text-align: center;
}
div#admiddle > div {
	display: inline-block;
}
div#admiddle > div.adm_left {
	margin-right: 30px;
}


/*	まとめくす	*/
.entrybody .t_h {
	font-size: small;
	color: #4d4d4d;
}
.entrybody .t_b {
	font-size: medium;
	font-weight: bold;
	margin-bottom: 2em;
	color: #333;
}
.entrybody .aa {
	font-family: "ＭＳ Ｐゴシック","ＭＳＰゴシック","MSPゴシック","MS Pゴシック","MS PGothic";
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
}
.entrybody .t_b[style^='font-family:Mona']{
	font-weight: normal;
}
.entrybody .threadurl {
	font-size: x-small;
	color: #999;
}

/*	広告	*/
#side .abox {
	margin: 0 auto;
	text-align: center;
}
#side .abox > div {
	display: inline-block;
}