non_floatRsp@media all and (min-width:681px) {

/* スマホ非表示 */
.spSwitch {
  display: none;
}
}

@media all and (max-width: 680px) {

/* PC非表示 */
.pcSwitch,
#sideL,
#side {
  display: none;
}

/* スマホ表示 */
.spSwitch {
  display: block;
  width: 100%;
}

.gcfSp.pcSwitch {
  display: none!important;
}

/* 全体 */
body,
#main {
  width: 100%;
  min-width: 100% !important;
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  clear: both;
  margin: 30px 0 0;
}

.header {
  border-top:none;
}

#contents h1{
  font-size: 18pt;
  margin: 20px 0 0;
}

#contents h2{
  font-size: 16pt;
}

#contents_2column h2{
  font-size: 16pt;
}

.node{
	padding:0 10px;
}

img{
	max-width:100%;
	height:auto;
}

.sp-form table th,
.sp-form table td{
	display:block;
}

.sp-form .photoform table.mailform tr th{
	width:100% !important;
	box-sizing:border-box;
}

.sp-form table td input[type="text"],
.sp-form table td input[type="email"]{
	width:100%;
	box-sizing:border-box;
}

.sp-form div.mfp_buttons ul{
	width:100%;
	height:auto;
	text-align:center;
}

.sp-form div.mfp_buttons ul li{
	display:inline-block;
	float:none;
}


/* ヘッダー */
.menu-btn-Wrapper{
  width: 100%;
  padding: 5px 0 0px 0;
  background: #ad0003;
  z-index: 10000;
  height: 40px;
  position: absolute;
}
.menu-btn-Wrapper.top{
	position:relative;
	height:40px;
}

.menu-btn-Wrapper.header{
  height: 88px;
}

.menu-btn-Wrapper .menu-btn-left {
  margin: 0px 0 auto 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 16px;
}

.menu-btn-Wrapper .menu-btn-left.top {
 margin: 10px 0 auto 10px;
 height: 50px;
}

.menu-btn-Wrapper .menu-btn-right {
 text-align: right;
}

.menu-btn-Wrapper .menu-btn-title{
  right: 5px;
  position: relative;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
}

.menu-btn-Wrapper .menu-btn-title a {
  text-decoration: none;
}

.menu-btn-Wrapper .menu-btn-title .navicon-bell {
  width: 26px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.menu-btn-Wrapper .menu-btn-title .navicon-heart {
  width: 28px;
  margin: 0 auto;
  float: l;
  text-align: center;
  display: block;
}

.menu-btn-Wrapper .menu-btn-title .navicon-people {
  width: 17px;
  margin: 0 auto;
  float: l;
  text-align: center;
  display: block;
}

.menu-btn-Wrapper .menu-btn-title .navicon-bell img,
.menu-btn-Wrapper .menu-btn-title .navicon-heart img,
.menu-btn-Wrapper .menu-btn-title .navicon-people img {
  width: 80%;
}

.menu-btn-Wrapper .menu-btn-title .navicon-text{
  width: 48px;
  font-size: 10px;
  text-align: center;
  letter-spacing: -1px;
  margin: 0;
  line-height: 1.2;
}

.menu-btn-Wrapper .menu-btn{
  right: 4px;
  position: relative;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
}

.menu-btn-Wrapper .menu-btn .navicon-line{
  width: 26px;
  margin: 0 auto;
  height: 3px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: #fff;
}

.menu-btn-Wrapper .menu-btn .navicon-text{
  width: 48px;
  font-size: 10px;
  text-align: center;
  letter-spacing: -1px;
  margin: 0;
}


/* グローバルメニュー 右サイド 背景　バツ */
#batsu {
  position: absolute;

    /* 大きさの設定(全体ではなく、線1本の大きさ) */
  width: 30px;
  height: 3px;

    /* 色の設定 */
  background-color: #fff;

   /* 45度回転 */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);

  /* 位置調整 */
  margin: 20px 15px 0 6px;
}

/* :afterを使って、バツのもう1本の線を描く */
#batsu:after {

  /* :afterをblockとして表示する */
  content: "";
  display: block;

   /* 大きさの設定(親要素=#batsuと全く同じ) */
    width: 100%;
    height: 100%;

   /* 色の設定(親要素と同じ) */
    background-color: inherit;

    /* まわす */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#page_navi{
  margin-top: 130px;
  padding: 5px;
  line-height:1.4em;
  height:auto;
}

.spSearchWrapper {
  width: 100%;
  background-color: #ad0003;
}


    /* まわす */
#container{
  position: relative;
  padding: 50px 0 30px;
}
#container.top{
	padding:0 0 30px;
	z-index:10000;
}

#container_2{
  position: relative;
  padding: 150px 0 120px;
}


/* 地震情報 */
.spAlertInfo {
  margin: 10px;
  word-break: break-all;
}

.spAlertInfo h2 {
  padding: 0 10px !important;
  font-size: 16px;
  background: none;
}

.spAlertInfo p {
  float: left;
  width: 50%;
  text-align: right;
  font-size: 10pt;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.spAlertInfo .number {
  float: left;
  width: 50%;
  text-align: right;
  color: #C00;
  font-size: 9pt;
}

.spAlertInfo span {
  font-size: 10pt;
  margin: 0;
  font-weight: bold;
}

.spAlertInfo .day {
  text-align: right;
  font-size: 10pt;
  margin: 5px 0 0 0;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
}



/* 絞り込み検索 */
.modal-content {
display:none;
width:96%;
margin:0 2% !important;
padding:10px 0 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

.modal-content p {
margin:0;
padding:0;
}

.modal-overlay {
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:120%;
background-color:rgba(0,0,0,0.75);
}

.modal-wrap {
z-index:10000;
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:scroll;
padding: 10px 5px 0 0;
-webkit-overflow-scrolling: touch;
background-color:rgba(0,0,0,0.75);
}

.modal-open {
color:#ad0003;
text-decoration:none;
padding: 15px 5px 10px;
margin: 5px;
background: #ffcb16;
display: block;
text-align: center;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
font-size: 9px;
}


.spSearchWrapper .modal-open {
  border: solid 3px #fff;
  padding: 10px 5px 7px;
}

.modal-open.narrowDown {
text-decoration:none;
border: none;
padding: 20px 0 5px;
margin: 0;
background: none;
display: inline;
}

.modal-open:hover {
cursor:pointer;
color:#ad0003;
}

.modal-close {
color:#00f;
text-align: right;
}

.modal-close:hover {
cursor:pointer;
color:#f00;
}

p.close_top{
text-align: right;
margin: 0;
position: relative;
padding: 10px 0;
height: 30px;
}

p.close_top .modal-close{
width: 40px;
display: block;
height: 2px;
font-size: 1.2em;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
background-color: #ffffff;
background-color: #ffffff;
position: absolute;
right: 0;
}

p.close_top .modal-close:after{
/* :afterをblockとして表示する */
  content: "";
    display: block;

  /* 大きさの設定(親要素=#batsuと全く同じ) */
    width: 100%;
    height: 100%;

  /* 色の設定(親要素と同じ) */
    background-color: inherit;

    /* まわす */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.modal-content > ul{
overflow: hidden;
margin:0;
padding:0;
}

.modal-content > ul li.lavel{
background-color: #F70841;
font-size: 1.6em;
padding:5px 30px;
font-weight: bold;
}

.modal-content > ul li.lavel a{
color: #fff;
}

#detailSearch {
  position: relative;
  color: #666666;
  z-index: 100;
  background-color: #fff;
  padding: 10px 20px 20px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 0;
}

#detailSearchForm {
  font-size: 12px;
  width: 100%;
}

.searchFormList {
  clear: both;
  margin: 10px 0 0px;
}


#searchFormBottom {
  clear: both;
  margin: 10px;
  overflow: hidden;
  height: auto;
}
#searchCharacteristic,
#searchPrice,
#searchGift,
#searchArea,
#searchUse {
  float: left;
  width: 100%;
  font-weight: bold;
  color: #666666;
  white-space: normal;
  padding: 4px 0 5px 10px;
  border-left: solid 5px #ad0003;
  margin: 10px 0 ;
}

#searchCharacteristicCheckBoxes,
#searchPriceRange {
  float: left;
  width: 100%;
  color: #666666;
  vertical-align: middle;
  white-space: normal;
}

#searchCharacteristicCheckBoxes label {
  display: block;
  margin: 5px 0;
}

#searchPriceRange input {
    height: 22px;
    margin: 0 8px 5px 0;
    border: 1px solid #cccccc;
}

.searchFormGenreSelect,
.searchFormGenreArea,
.searchFormGenreUse,
#searchFormGenreSelect,
#searchFormGenreArea,
#searchFormGenreUse {
    float: right;
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    outline: 0px;
    margin-bottom: 10px;
    margin-right: 0;
}

.searchFormGenreSelectWrapperListSubArrow {
  margin: -15px 10px 0 140px;
}

.searchFormGenreSelectWrapperListSubArrow img {
  margin: 0px 0 -20px -130px;
}

.categorySubText {
  width: 80%;
}




 #detailSearchForm #clearSettingsButton {
    cursor: pointer;
    float: left;
    display: block;
    width: 42%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    text-align: center;
    font-weight: bold;
    -webkit-user-select: none;
    margin: 15px 0 0 10px;
}

#detailSearchForm #searchButton {
    cursor: pointer;
    float: right;
    display: block;
    width: 42%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #ad0003;
    border: 1px solid #cccccc;
    text-align: center;
    font-weight: bold;
    -webkit-user-select: none;
    margin: 15px 10px 0 0;
 }

input[type="text"],
input[type="password"],
textarea {
  background: white;
}

.detailCondition {
  display: inline-block;
  width: 35%;
  font-size: 12px;
  font-weight: bold;
}

.detailCondition a {
  text-decoration: none;
}





.triangle{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 5px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 5px solid transparent;
    vertical-align: middle;
}

.searchWrapper {
  display: inline-block;
  width: 98%;
  font-size: 12px;
  height: 52px;
}

dl.searchDetail{
  position: relative;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 5px;
  margin: 3px 3px 5px;
}

.spSearchWrapper dl.searchDetail{
  border: 4px solid #fff;
}

dl.searchDetail dt{
  padding:0 ;
}

dl.searchDetail dt input{
  width:70%;
  height:24px;
  line-height:24px;
  background:none;
  border:none;
  padding-left: 10px;
}

dl.searchDetail dt input[type="text"],
dl.searchDetail dt input[type="password"],
dl.searchDetail dt textarea {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 12px !important;
}

.searchWrapper dl.searchDetail dt input {
  width: 70%;
}

.spSearchWrapper .searchWrapper dl.searchDetail dt input {
  width: 70%;
  margin-left: -24%;
}

dl.searchDetail dd{
  position:absolute;
  top:-2px;
  right:-2px;
  width:25%;
}

dl.searchDetail dd button{
  display: block;
  background: #ad0003;
  width: 100%;
  height: 32px;
  line-height: 28px;
  border: none;
  border-radius: 0 5px 5px 0;
}

dl.searchDetail dd button:hover {
  background:#ad0003;
}

dl.searchDetail dd button span{
  display: inline-block;
  color:#FFF;
  font-weight: bold;
  letter-spacing: 2px;
}

.detailcontentsTitle {
  display: block;
  color: #ad0003;
  text-align: center;
  height: 25px;
  background-color: #ffcb16;
  vertical-align: middle;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 4px;
}

.detailCondition.top {
  width: 100%;
  margin: 10px 0 0;
}

.detailCondition.top .modal-open {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px 5px 10px;
}

.searchWrapper.top {
  width: 98%;
  margin: auto;
  background-color: #ad0003;
  padding: 0 1%;
  height: 52px;
}

.searchWrapperTitle {
  width: 100%;
  background-color: #ad0003;
  height: 27px;
}

.searchWrapperTitle ul {
  text-align: center;
  padding: 3px 0 0px;
  font-size: 0;
  font-weight: bold;
}

.searchWrapperTitle ul a {
  padding: 20px 0 5px;
  text-decoration: none!important;
}

.searchWrapperTitle ul li {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 24%;
  text-decoration: none;
}

.searchWrapperTitle ul a:link li,
.searchWrapperTitle ul a:visited li,
.searchWrapperTitle ul a:hover li,
.searchWrapperTitle ul a:active li { 
  color: #fff!important; 
  text-decoration: none!important;
}

.selected-filters-wrapper.clb {
  margin: 0 10px;
}

.selected-filters-wrapper.selectUpper {
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
}


/* YouTube */
.youtubeSp {
  position: relative;
  width: 100%;
  padding: 75% 0 0 0;
}

.youtubeSp iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p.spYouTube {
  position: absolute;
  top: 0;
  margin-top: -25px !important;
}

/* リスト画像 */
.boxWrapper {
  overflow: hidden;
  position: relative;
  zoom:1;
}

.boxWrapper .box {
  margin: 0;
  float: left;
  width: 100%;
  background: #fff;
  border-bottom: solid 2px #ccc;
}

.boxWrapper .box.first {
  border-top: solid 2px #ccc;
}

.boxWrapper .box img {
  width: 48%;
  margin: 1%;
  float: left;
}

.boxWrapper .box h3 {
  margin: 0;
  padding: 5px 5px 0 5px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.boxWrapper .box p {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.boxWrapper .right {
  width: 48%;
  margin: 1%;
  float: left;
}


/* 目的に合わせて検索 */
.globalMenu {
  padding: 0 0 0;
  border-bottom: solid 1px #ccc;
  background-color: #fafcf1;
  margin: 0 auto 10px;
}

.globalMenu h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.globalMenu .row{
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
  margin: 0;
}

.globalMenu .cell {
  display: table-cell;
  width: 100%;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  position: relative;
}

.globalMenu .cell.cellright {
  border-right: solid 1px #ccc;
}

.globalMenu .cell::after {
  display: block;
  content: '';
  position: absolute;
  top: 1.2em;
  right: 0.6em;
  width: 10px;
  height: 10px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.globalMenu .cell a {
  color: #ad0003;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  display: block;
  font-size: 11px;
}

.globalMenu .cell a:hover{
    background: #c64d4f;
    color: #FFF;
}

.globalMenu .cell span.img {
  padding: 8px;
  width: 20px;
  height: 35px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.globalMenu .cell a:hover span.img img {
    background: #c64d4f;
}

.fa-envelope-o:before {
content: "\f002";
}

/* チョイスからのメッセージ */
#choiceMessage {
    background: #ffdddd;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: #ff4444 1px solid;
    line-height: 1.5em;
    padding: 5px;
    z-index: 2;
    color: #880000;
  }

#choiceMessage h3 {
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 10px 0 10px !important
}

#choiceMessage p {
    word-wrap: break-word;
    font-size: 0.75em;
    line-height: 1.5em;
    margin: 0 10px 0 10px !important
}


/* オリジナル特集 */
#original h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

/* シリーズ特集 */
#series h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

/* 通常特集 */
#normal h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}


/* 自治体からの最新情報 */
.spMunicipalityNews {
  margin: 30px 10px 10px;
}

.spMunicipalityTitleNews {
  text-align: center;
  background: #9c1d22;
  color: #fff;
  font-weight: bold;
}

.spMunicipalityTitleNews p {
  margin: 0;
}

.spMunicipalityTitleNews span {
  margin: -20px 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.spMunicipalityNews .PR_mark{
  line-height: 2;
}

.spMunicipalityNews .date{
  line-height: 1.5;
  font-size: 10px;
  padding: 5px 2px 0;
}

ul.spMunicipalityNews {
  position: relative;
  left: 53%;
  float: left;
  margin: 0;
}

li.spMunicipalityNews {
  position: relative;
  left: -50%;
  float: left;
  width: 45%;
  padding: 0 !important;
  margin: 10px 5px;
}

li.spMunicipalityNews a {
  border: none;
}

ul.spMunicipalityNews li.list {
  margin: 0 0 10px;
  text-align: right;
  width: 40%;
  clear: both;
}

ul.spMunicipalityNews li.list a {
  text-decoration: none;
  color: #9c1d22;
  font-weight: bold;
  display: inline-block
}

li.spMunicipalityNews img {
  width: 100% !important;
}

.spMunicipalityNews h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.spMunicipalityNews h4 {
  font-size: 12px;
}


/* 自治体からの使い道情報 */
.spMunicipalityTitleUse {
  text-align: center;
  background: #006B3E;
  color: #fff;
  font-weight: bold;
}

.spMunicipalityTitleUse p {
  margin: 0;
}

.spMunicipalityTitleUse span {
  margin: -20px 0 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.spMunicipalityUse .PR_mark{
  line-height: 2;
}

.spMunicipalityUse .date{
  line-height: 1.5;
  font-size: 10px;
  padding: 5px 2px 0;
}

.spMunicipalityUse h4 {
  font-size: 12px;
}

ul.spMunicipalityUse {
  position: relative;
  left: 53%;
  float: left;
  margin: 0;
  border: none;
}

li.spMunicipalityUse {
  position: relative;
  left: -50%;
  float: left;
  width: 45%;
  padding: 0 !important;
  margin: 10px 5px;
  border: none;
}

li.spMunicipalityUse a {
  border: none;
}

ul.spMunicipalityUse li.list {
  margin: 0 0 10px;
  text-align: right;
  width: 40%;
  clear: both;
}

ul.spMunicipalityUse li.list a {
  text-decoration: none;
  color: #006B3E;
  font-weight: bold;
  display: inline-block
}

li.spMunicipalityUse img {
  width: 100% !important;
}

.spMunicipalityUse h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

/* 自治体からの情報 */
img.newImg.photo.sp-image {
    position: absolute;
    z-index: 100;
}

/* チョイスリンク集 */
.globalMenu .cell.choice span.img {
  width: 28px;
  height: 28px;
  padding: 10px;
}


/* チョイスからのお知らせ */
#choice h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}


#pickup h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

#pickup a {
  text-decoration: none;
  font-size: 12px;
}

#pickup .pickupWrapper {
  height: 100px !important;
}

#pickup span.pickupRegion {
  display: block;
  margin: 10px 15px 5px;
  font-weight: bold;
  color: #ad0003;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#pickup span.pickupTitle {
  display: block;
  margin: 5px 15px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.pickup_list {
  display: inline-block !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}

.pickup_list {
  display: inline-block !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}


.spMunicipalityNews_pickup_list {
  display: inline-block !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}


/* カテゴリーからお礼の品をさがす */
.globalMenu .cell.Cate span.img {
  padding: 15px 10px 10px 10px;
  width: 25px;
  height: 25px;
}

.globalMenu .cell.Cate::after {
  top: 1.4em;
}


/* 自治体への応援メッセージ */
#cheer h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.voice_box_main {
    margin: 0 15px 10px 20px;
    font-size: 14px;
}


/* おすすめ最新情報 */
#recommendedNewInfo {
  margin: 60px 0 0:
}

#recommendedNewInfo h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

#newblog {
  background: #fff;
  margin: 20px 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: #ccc 1px solid;
}

#newblog p {
  word-wrap: break-word;
}

.prefectureSpWrapper {
  width: 100%;
  word-break: break-all;
  margin-left: 0;
}

#post-3626 .newbox_spmargin ul.government_news_List li .newItem {
  float: none;
}


/* ふるさと納税ニュース */
#jijipressNewInfo {
  position: relative;
}

#jijipressNewInfo h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
}

#jijipressNewInfo p {
  padding-left: 10px;
  margin-left: 10px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 20px;
  margin: 5px 0 0;
}



#jijipressNewInfoBlog {
  background: #fff;
  margin: 20px 10px 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: #ccc 1px solid;
  line-height: 1.5em;
  padding: 10px;
  z-index: 2;
}

#jijipressNewInfoBlog h3 {
    font-weight: normal;
    font-size: 0.9em;
    margin: 0;
}

#jijipressNewInfoBlog p {
  word-wrap: break-word;
  font-size: 0.75em;
  line-height: 0;
  margin: 3px 10px 10px 20px !important;
  text-align: right;;
}

.jijipressList {
  margin: 10px 0 10px;
  display: inline-block;
  width: 100%;
}

.jijipressListNews {
  margin: 20px 0 0;
}

.jijiSpecial{
	float:none;
	text-align:right;
}


/* バナー */
.bannerWrapper.banner1 {
  background-color: #fafcf1;
  padding: 10px 0;
  height: auto;
}

.bannerWrapper.banner2 {
  padding: 15px 0 0;
}

.bannerWrapper .banner {
  padding: 0 20px 0;
  margin: 0;
  background-color: #fafcf1;
}


.bannerWrapper .banner img {
  width: 100%;
}

.bannerWrapper .banner2 img {
  width: 100%;
}


/* メニュー　リンク */
.globalMenu.link {
  padding: 0;
  border-bottom: solid 1px #fff;
  background-color: #fafcf1;
}

.globalMenu.link .row{
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #ad0003;
  margin: 0;
}

.globalMenu.link .cell {
  display: table-cell;
  width: 50%;
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  position: relative;
}

.globalMenu.link .cell.cellright {
  border-right: solid 1px #fff;
}

.globalMenu.link .cell::after {
  display: block;
  content: '';
  position: absolute;
  top: 1.2em;
  right: 0.6em;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.globalMenu.link .cell a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  display: block;
  height: 10px;
  padding: 20px 10px;
  font-size: 11px;
}

.globalMenu.link .cell a:hover{
    background: #c64d4f;
    color: #FFF;
}


/* メモバイル / パソコン　表示 */
.bannerWrapper .changePC {
  height: 20px;
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 5px;
  font-size: 12px;
}

.bannerWrapper .changePC ul {
  text-align: center;
}

.bannerWrapper .changePC ul li {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
  font-weight: bold;
}

.bannerWrapper .changePC ul li a {
  text-decoration: none;
  color: #333;
}

.bannerWrapper .changePC ul li.title {
  text-align: left;
  width: 20%;
}

.bannerWrapper .changePC ul li.line {
  border-right: solid 1px #7D7D7D;
  font-weight: normal;
}


/* フッター */
.spSwitch.footer {
  position: relative;
  background: none;
}

.footer {
  background-color: #ad0003;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 0;
  position: absolute;
  width: 100%;
  margin: -30px auto 0;
  height: auto;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer ul {
  margin: 5px;
}

.footer ul li {
  display: inline-block;
  float: none;
}

.footer ul li.title {
  font-weight: bold;
}

.footer ul li.copy {
  margin: 5px 10px 0 10px;
}

.googleadsNone {
  display: none;
}

.footerSwitch {
  display: block;
  position: relative;
  color: #ad0003;
  margin: 20px auto 50px;
  width: 30%;
  border: solid 2px #ad0003;
  padding: 10px;
  background: #fff;
  clear:both;
}

.footerSwitch  a {
  color: #ad0003;
}

/* 地域 */
#contents {
  width: 100%;
  overflow: hidden;
}


.spRegion {
  width: 96%;
  padding: 5px 2%;
  margin-bottom: 120px;
}

.spRegion table {
  width: 100% !important;
}

.spRegion table tr th {
  font-size: 14px;
  vertical-align: top;
  padding: 5px 0 5px 10px !important;
  width: 30% !important;
}

.spRegion table tr td {
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
  padding: 5px 0 0 5px !important;
}

.spRegion table tr td a {
  padding: 0 5px 8px 0;
  display: inline-block;
}

.spRegion-area {
  margin: -30px auto -10px;
}

.spRegion-areaTitle {
  width: 100%;
}

#contents .section table {
  width: 95% !important;
  margin: 30px 10px 30px 10px;
}


#contents ul.minibnr_box {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}

#contents ul.minibnr_box li {
  padding: 10px;
  margin: 0;
  float: left;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

#contents .areicon {
    width: 95%;
    padding: 10px;
    line-height: 2;
}

#contents .aretit {
    padding: 0 10px;
}

#contents .arenavi {
    width: 95%;
    padding: 0 10px;
    line-height: 2;
}

#contents .areaList {
    width: 95%;
    padding: 0 10px;
}

#contents .areaList ul {
    width: 100%;
}

#contents .iconsection {
    width: 100%;
}

.box04 {
    width: 100%!important;
}

.box-map {
  display: none;
}

.slide_box{
    display:none;
    color:#fff;
    padding:15px!important;
    margin-top:20px;
}
.btn{
    padding:10px;
}
.btn.active{
    padding:10px;
    color:#fff;
}
.btn:hover{
    cursor:pointer;
}

#contents .areaList h3 {
    background: url(/img/sp/add.png) no-repeat right;
}


#contents .areaList.active h3 {
    background: url(/img/sp/minus.png) no-repeat right;
}

#contents .prefecturesBox {
  width: 94% !important;
  margin: 0 auto !important;
  padding: 2% !important;
}

#contents .prefecturesBox ul li {
  font-size: 11px !important;
}


/* お礼の品でチョイス */
#post-2048 .spDocomo {
  display: none;
}

#contents .spProduct {
  margin: 74px 0 0 0;
}

#contents .spProduct h2 {
  font-size: 14pt;
  font-weight: bold;
  color: #2c2c2c;
  background-color: #fff;
}

#contents ul.spProductCategory {
  background-color: #fff;
}

#contents ul.spProductCategory li a {
  display: block;
  color: #ad0003;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(255, 255, 255, .1);
  text-decoration: none;
}

#contents ul.spProductCategory li a:hover{
    background: #c64d4f;
    color: #FFF;
}

#contents ul.spProductCategory li span.img {
    padding: 0 10px 0 0;
    width: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#contents ul.spProductCategory li a:hover span.img img {
    background: #c64d4f;
}

#contents .itemDetail {
  clear: both;
  display: inline-block;
}

#contents .itemDetailLeft {
  float: left;
  width: 45%;
}

#contents .itemDetailRight {
  float: right;
  width: 45%;
}

#contents.page-product_category h3 {
  margin: 1em 0 0;
}

/* 使い道でチョイス */
.page-use_category .page-use_category_wrapper {
  margin-top: 0!important;
}

.page-use_category h1.lineU6 {
  margin-top: 0!important;
}

.page-use_category_box {
  margin: 10px;
}

.page-use_category_box dl.selectUse dd {
    width: 100%;
}

.page-use_category_box a img {
  width: auto;
  margin: 10px;
}


/* ランキングでチョイス */
#contents h1.rankingTitle {
  margin: -20px 0 0;
}

#contents .detail2.ranking p {
  margin: 0 10px !important;
}

#contents .detail2.ranking a {
  padding-top: 10px;
  height: 28px;
  float: left;
  width: 100%;
}

dl.selectUse.ranking dd {
  width: 95%;
  padding: 2.5%;
}

.rankingDendou table td, table th {
  padding: 9px 10px;
  text-align: left;
}

.grayBox_sp_pc.rankingPV {
  width: 95%;
  margin: 0 2.5%;
}

.grayBox_sp_pc.rankingPV .row div.col-sm-6,
.grayBox_sp_pc.rankingPV .row div.col-sm-4 {
  display: inline-block;
  width: 100%;
}

.otherTop .redBox680imgHead.rankingPV {
  margin: 0 auto !important;
}

.otherTop .redBox680imgHead.rankingPV .redBox680imgBody {
  background: none;
  background-color: #ffe9e9;
  border: #b36e6e solid 1px;
  border-radius: 5px;
}

.otherTop .redBox680imgHead.rankingPV .redBox680imgBody img {
  display: inline-block;
}

.donationRanking .donationTopRanking img {
  display: none;
}

.donationRanking .grayBox_2column2 {
  background: none;
  background-color: #f4f4f4;
  border: #cccccc solid 1px;
  border-radius: 5px;
  width: 95%;
  margin: 0 2.5% 20px;
}

.donationRanking .grayBox_2column2 h4 {
  margin: 0;
}

.donationRanking .grayBox_2column2 small p {
  line-height: 2.5em !important;
}

.rankingFavorite {
  display: none;
}

.caption.rankSearch h4 {
    height: auto;
}

.container.rankPv {
  width: 95%;
}

.rankTop30 {
  width: 90%;
  margin: 0 auto;
}

#contents.page-product_category h1 {
  margin-top: 0 !important;
}

#contents.page-product_category .box04.mT20 {
  margin-top: 0 !important;
}

.pageNumber ul.pageNumberList li {
    padding: 3px 7px;
}

#contents #rankinglist_itembox h3 {
  position: relative;
  padding: 13px 35px 13px 60px;
  font-size: 19px;
}

#contents #rankinglist_itembox h3 .rankingListToggle {
    background: url(/img/sp/add.png) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: right;
    position: absolute;
    right: 10px;
}

#contents #rankinglist_itembox h3.active .rankingListToggle {
    background: url(/img/sp/minus.png) no-repeat ;
}

#contents.anythingRanking .redBox680imgBody p {
  margin: 10px;
}

ol.rank-list{
	margin-left:5px;
	padding:0;
}

ol.rank-list li.more5 span.num{
	width:46px;
}
ol.rank-list li span.pref{
	vertical-align:top;
}

/* ランキングSP */
.rankTabpanel ul {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 11px;
}
.rankTabpanel li {
  display: table-cell;
  background: #fff;
}
.rankTabpanel li.is-active {
  background: #AC0C0C;
  width: 30%;
  border-bottom: none;
}
.rankTabpanel li.is-active a {
  color: #fff;
  border-bottom: none;
}
.rankTabpanel div:nth-of-type(n+2) {
  display: none;
}

.theme-tabpanel {
  margin: 10px 0 30px;
}
.theme-tabpanel li {
  text-align: center;
  width: 30%;
  border-top: none;
}
.theme-tabpanel li + li {
  border-left: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;
  width: 30%;
  border-top: none;
}
.theme-tabpanel li a {
  display: block;
  color: #333;
  padding: 13px 0px;
  font-size: 13px;
  letter-spacing: -1px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;
}

.theme-tabpanel .rankTabpanelWrapper li a {
  border-top: none;
  border-bottom: none;
}

.theme-tabpanel {
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  background: #fff;
  overflow: hidden;
  margin: 0 0 80px;
}
.theme-tabpanel img {
  float: left;
  width: 130px;
  clear: both;
  padding: 5px;
  position: relative;
}

.theme-tabpanel img.genteiImg {
  position: absolute;
  left: 0;
}

.theme-tabpanel p {
  padding: 0 10px;
  overflow: hidden;
}

.theme-tabpanel p.caution {
  font-size: 12px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper img {
  width: 88px;
  padding: 0;
  margin: 0 15px 0 60px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper span.RankingCount_img img {
  position: absolute;
  width: 36px;
  left: -40px;
  top: 10px;
  z-index: 10;
}

.theme-tabpanel #tab3.rankTabpanelWrapper span.RankingCount {
  position: absolute;
  background-color: #d8d8d8;
  width: 30px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  left: 22px;
  top: 18px;
  color: #111111;
  text-align: center;
  border: 1px solid #fff;
  z-index: 10;
}

.theme-tabpanel #tab3.rankTabpanelWrapper a li.HallofFame1,
.theme-tabpanel #tab3.rankTabpanelWrapper a li.HallofFame2 {
  background-color: #fee9e9!important;
  border-top: #AC0C0C solid 2px !important;
}

.theme-tabpanel #tab3.rankTabpanelWrapper a li.HallofFame2 {
  border-bottom: #AC0C0C solid 2px !important;
}

.theme-tabpanel #tab3.rankTabpanelWrapper span.HallofFame img {
  position: absolute;
  width: 40px;
  left: -40px;
  top: 10px;
  z-index: 10;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.HallofFame1 p.prefecture,
.theme-tabpanel #tab3.rankTabpanelWrapper li.HallofFame2 p.prefecture {
   padding: 30px 0 0;
   font-size: 16px;
}



.rankTabpanelWrapper a {
  display: inline-block !important;
  width: 100%;
  margin-bottom: -4px;
}

.rankTabpanelWrapper a li {
  width: 100% !important;
  clear: both !important;
  float: left !important;
  display: block !important;
  background: #fff !important;
  border: none !important;
  border-bottom: 1px solid #f0f0f0 !important;
  position: relative;
}

.theme-tabpanel .rankTabpanelWrapper li {
  padding: 0;
  display: inline;
  overflow: hidden;
  text-decoration: none;
}

.theme-tabpanel .rankTabpanelWrapper li span.RankingCount_img {
  position: absolute;
  width: 36px;
  left: 2px;
  top: 0px;
  z-index: 10;
}

.theme-tabpanel .rankTabpanelWrapper li span.RankingCount {
  position: absolute;
  background-color: #d8d8d8;
  width: 30px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  left: 10px;
  top: 10px;
  color: #111111;
  text-align: center;
  border: 1px solid #fff;
  z-index: 10;
}



.theme-tabpanel .rankTabpanelWrapper li .title {
  display: block;
}


.theme-tabpanel .rankTabpanelWrapper li p.title {
  overflow: hidden;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #333;
  text-align: left;
  padding: 5px 10px 2px;
}

.theme-tabpanel .rankTabpanelWrapper li .prefecture {
  display: block;
}

.theme-tabpanel .rankTabpanelWrapper li p.prefecture {
  font-size: 13px;
  font-weight: normal;
  padding: 2px 5px 0px 10px;
  color: #333;
  margin: 0;
  text-align: left;
}

.theme-tabpanel .rankTabpanelWrapper li .price {
  display: block;
}

.theme-tabpanel .rankTabpanelWrapper li p.price {
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px 0px 10px;
  color: #AC0C0C;
  margin: 0;
  text-align: left;
}

.theme-tabpanel .rankTabpanelWrapper li.moreContents {
  height: 30px;
  padding: 10px 0 0;
}

.theme-tabpanel .rankTabpanelWrapper li.moreContents a {
  color: #AC0C0C;
}

.theme-tabpanel .rankTabpanelWrapper li.moreContents .fa {
  color: #AC0C0C;
}


.theme-tabpanel #tab1.rankTabpanelWrapper li p.text,
.theme-tabpanel #tab3.rankTabpanelWrapper li p.text {
  text-align: left;
  padding: 5px 15px 10px;
  margin: 0;
  font-size: 12px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li p.prefecture {
  overflow: hidden;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #AC0C0C;
  text-align: left;
  padding: 20px 10px 0px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li p.pv {
  overflow: hidden;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #333;
  text-align: left;
  padding: 0px 10px 2px;
}


.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf img {
   float: left;
    width: 130px;
    clear: both;
    padding: 5px;
    margin: 0;
    position: relative;
    left: 0;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf img.genteiImg {
    position: absolute;
    left: 0;
    margin-top: 10px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p {
  overflow: hidden;
  font-size: 11px;
  margin: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #333;
  text-align: left;
  padding: 10px 10px 2px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p.prefecture {
  font-size: 10px;
  padding: 0px 10px 5px;
  font-weight: normal;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p.amount {
  padding: 0px 10px 2px;
  font-weight: normal;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p.amount span.amount {
  font-weight: bold;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p.percent {
  padding: 0px 10px 0px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf p.percent span.percent {
  background-color: #7f7f7f; 
  color: #fff; 
  position: relative;
  display: block;
  border-radius: 5px;
}

.theme-tabpanel #tab3.rankTabpanelWrapper li.gcf span.RankingCount {
  left: 10px;
  top: 10px;
  width: 20px;
}

/* おすすめでチョイス */
.page-popular_tokusan .box04 {
  margin-top: 0!important;
}

.page-popular_tokusan .page-popular_tokusan_wrapper {
  margin-top: 0!important;
}

.page-popular_tokusan h1.lineU6 {
  margin-top: 0!important;
}


.page-popular_tokusan .page-popular_tokusan_wrapper {
  margin-top: 0!important;
}

.page-popular_tokusan .page-popular_tokusan_banners {
  float: none;
  margin: 0 auto !important;
  display: block;
  width: 100%;
  max-width: 330px;
}

.page-popular_tokusan .page-popular_tokusan_banners .topbannerB {
  height: auto;
  padding: 10px 0;
  margin: -5px 0 15px !important;
}

.page-popular_tokusan .page-popular_tokusan_banners2 {
  float: none;
  margin: 0 auto !important;
  display: block;
  width: 100%;
  max-width: 215px;
}

.page-popular_tokusan .page-popular_tokusan_banners2 .topbannerS {
  height: auto;
  padding: 10px 0;
  margin: -5px 0 15px !important;
}


/* 災害支援でチョイス */
.disasterDonation {
  margin: 0 auto;
}

.disasterDonation h3 {
  margin: 10px;
}

.page-alert_list {
  padding: 0 10px;
}

.page-alert_list h1.lineU6 {
  margin-top: 0!important;
}

.page-alert_list .page-alert_list_text {
  font-size: 16px!important;
}

.page-alert_list .page-alert_list_wrapper {
  padding: 0 10px;
}

.page-alert_list .page-alert_list_wrapper .btn_200,
.page-alert_list .btn_200 {
  width: auto;
  padding: 10px !important;
  margin-top: 10px;
}

ul.alertList h3{
  float: none;
  width: auto;
  margin: 10px 0 0;
}

.detail.spDisaster {
  margin: 0 0 20px;
}

.modal-window .modal-inner{
  left: 55%;
  margin-left: -50%;
  padding: 5%;
  width: 80%;
  height: 88%;
  top: 2%;
}
.disasterInfo {
  margin: 0 0 20px;
}

.page-alert_listSp {
  font-size: 12px;
}

.page-alert_listSp .alertList h3 {
  margin: 5px 0 0;
  padding: 0;
}

.page-alert_listSp li {
  padding: 5px 0 !important;
}

.page-alert_listSp .alert_text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.page-alert_listSp + p {
  margin: 5px;
  font-size: 12px;
}

.page-alert_listSp .btn_200 {
  padding: 5px !important;
}

/* メールマガジン */
.register_table th,
.register_table td {
  width: auto !important;
  display: block !important;
  overflow:hidden;
}

.register_table .lineR1s {
    border-right: none;
}

.register_table input[type="text"],
.register_table input[type="password"],
.register_table textarea {
  width: 80% ;
}

.mailmagazineRelease {
  margin-bottom: 75px;
}


dl.selectUse.searchRankingPV dd{
  width: 95%;
  padding: 2.5%;
}

.btn_red02.password-reminder a {
  margin-right: 0 !important;
}

.btn_gray02.password-reminder {
  margin-top: 0 !important;
}


/* 検索結果 */
#contents.page-search {
  margin-bottom: 100px;
}

#contents.page-search .box04.mT20{
  margin-top: 0 !important;
}

#contents.page-search input[type="text"],
#contents.page-search input[type="password"],
#contents.page-search textarea {
  width: 50%;
}

/* ログイン */

.loginInterimRegistrationCompletion {
  padding: 0 0 70px !important;
}

.register_form .btn_w200 {
    width: auto;
}

.register_form .width_198 {
    width: 100%;
}

.otherTop .redBox680imgHead {
  margin: 0 auto 130px !important;
}

.otherTop .redBox680imgHead img {
 display: none;
}

.otherTop .redBox680imgHead.redBoxLogin {
  margin: 0 10px 120px !important
}


.greenBox680imgBody,
.grayBox680imgBody,
.redBox680imgBody{
  width: 98%;
  padding: 0!important;
  margin-left: 1%;
}

.redBox680imgBody.redBox680imgBodyTop{
  background-color: #ffe9e9;
  border-top: solid 1px #b36e6e;
  border-right: solid 1px #b36e6e;
  border-left: solid 1px #b36e6e;
}

.redBox680imgBody.redBox680imgBodyBottom{
  background-color: #ffe9e9;
  border-right: solid 1px #b36e6e;
  border-left: solid 1px #b36e6e;
}

.register_form {
    margin: 20px 10px;
	box-sizing: content-box;
}

.page-registration .btn_gray02 a {
  margin-right: 0 !important;
}

.page-registration-update .btn_gray02 a {
  margin-right: 0 !important;
}

.page-password-reminder-update .btn_gray02 a {
  margin-right: 0 !important;
}


.page-registration-update .register_table input[type="text"],
.page-registration-update .register_table input[type="password"],
.page-registration-update .register_table textarea {
  width: 100% ;
}


.page-password-reminder-mail {
    margin: 0 0 100px 0;
}

/* コンテンツ2カラム解除！ */
#contents_2column{
	width:100%;
}


.h4_nonMargin{margin:10px 0px 20px; line-height:1.2em;}

.h4_sp{color:#000 !important;}
.h3_sp{margin:0px 0px;}
.city {color:#000 !important; margin:0px 0px; font-weight: 800; font-size:14px}


.slideBox{
  padding: 10px;
  border: 1px #ccc solid;
  display: none;
}

.btn100{
 width:100%;
 margin-left:10px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .竏Ｃox, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.heart_big{
 color:#c67673;
 font-size:16px;
}


#contents_2column{
 width:100%;
}

/* ふるさと納税とは */
.aboutWrapper h2{
  font-size: 16pt;
  letter-spacing: -2px;
}

.aboutWrapper p {
  font-size: 13px;
}

.aboutWrapper .redBox680imgBody {
  width: 90%;
  margin: 21px auto 0;
  padding: 12px 10px 5px !important;
  border: solid 1px #b36e6e;
  background: #ffe9e9;
}

.aboutWrapper .grayBoxAbout {
    width: 90%;
    margin: 21px auto 0;
    padding: 12px 10px 5px !important;
    border: solid 1px #333;
}

.aboutWrapper .spAboutNone {
  display: none;
}

.aboutWrapper h3.about {
  font-size: 16px;
  background-size: 40px;
  padding: 13px 50px 13px 50px;
}

.aboutWrapper .aboutNote .redBox680imgBody {
  background: #ffe9e9;
  border: solid 1px #b36e6e;
  width: 94%;
  left: 1%;
  padding: 2% !important;
}

.aboutWrapper {
  width: 96%;
  margin: 1% 2% 1%;
}


.aboutWrapper .btn_donation a {
    font-size: 16px;
    width: 90%;
    margin: 0 5%;
}


.aboutWrapper .redBox680imgHead {
    margin: 0 auto 10px !important;
}

.aboutWrapper .detail {
  font-size: 12px;
  padding: 10px 10px 10px 20px;
  letter-spacing: -1px;
}

.aboutWrapper .aboutStep .box04 img {
  width: 50%;
}

/* 
.aboutWrapper img.aboutImgRes {
  max-width: 100%;
}

.exampleDeduction.about02Wrapper {
  width: 100%;
  margin: 0 auto;
}

.exampleDeduction.about02Wrapper dl.slidetoggle_menu b {
  font-size: 14px;
}

.exampleDeduction.about02Wrapper .grayBoxAbout {
    width: 85%;
}

.exampleDeduction.about02Wrapper .redBoxAbout {
  width: 85%;
}

.aboutWrapper .aboutPcImg {
  display: none;
}

.aboutWrapper .aboutSpImg {
  display: block;
}
*/

/* =====▼▽　161011追加　"トップ"　▽▼===== */

/* ランキング */
.theme-topRankingItem {
  margin: 10px 0 0;
}

.theme-topRankingItem.Recommend {
  margin: 30px 0 0;
}

.theme-topRankingItem h3 {
  border-left: solid 5px #ad0003;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.theme-topRankingItem li {
  text-align: center;
}
.theme-topRankingItem li + li {
  border-left: solid 1px #e0e0e0;
}
.theme-topRankingItem li a {
  display: block;
  color: #999;
  padding: 10px;
  text-decoration: none;
}
.theme-topRankingItem div.Wrapper {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  background: #ffffff;
  overflow: hidden;
  border-top: 1px solid #f0f0f0;
}

.theme-topRankingItem a {
  text-decoration: none !important;
}

.theme-topRankingItem .imgWrapper {
  position: relative;
}
.theme-topRankingItem .RankingCount_img {
  position: absolute;
  width: 36px;
  left: 2px;
  top: 0px;
}

.theme-topRankingItem .RankingCount {
  position: absolute;
  background-color: #d8d8d8;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  left: 5px;
  top: 5px;
  color: #111111;
  text-align: center;
  border: 1px solid #fff;
}

.theme-topRankingItem div img {
  float: left;
  width: 130px;
}

.theme-topRankingItem div.textWrapper {
  overflow: hidden;
}
.theme-topRankingItem div p {
  padding: 0px 5px 0px 10px;
  overflow: hidden;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #333;
}


.theme-topRankingItem div p.prefecture {
  font-size: 13px;
  font-weight: normal;
  padding: 2px 5px 0px 10px;
}
.theme-topRankingItem div p.price {
  color: #AC0C0C;
  padding: 0 5px 0px 10px;
}

.theme-topRankingItem a.Wrapper.last {
  display: block;
}

.theme-topRankingItem div.Wrapper.last {
  border-bottom: 1px solid #f0f0f0;
}

.theme-topRankingItem div.Wrapper.last p {
  text-align: right;
  font-weight: normal;
  color: #AC0C0C;
}
.theme-topRankingItem div.Wrapper.last .fa {
  color: #AC0C0C;
}



.sideL_pickup,
.sideL_news {
  background-color: transparent;
}

/* =====▼▽　161026追加　"還付と控除の目安"　▽▼===== */

/* ランキング */
.exampleDeduction {
   width: 96%;
   margin: 0 2%;
}

#simulation form select {
  font-size: 12px !important;
   padding: 8px 60px 8px 8px;
   line-height: 14px;
}

.exampleDeduction h1 {
  margin: 0 !important;
  font-size: 20px !important;
  line-height: 24px !important;
}

.exampleDeduction h2 {
  font-size: 16px !important;
}

.exampleDeduction h2 span {
  font-size: 18px !important;
}

/*--===== お礼の品詳細ページ  =====--*/
ul#pagenavi{
	overflow:hidden;
}
ul#pagenavi li{
	white-space:normal;
}

.node,
ul.tabPrefecture.prefecture,ul.tabPrefecture.use_taxpayment,
ul.tabPrefecture.EmergencyAssistance{margin:0 0 20px; padding:0 15px;}
.node img{width:100%; height:auto;}
.pc-block{display:none;}
#contents #areabox{width:100%; overflow:hidden;}
#contents #areabox #areaTitleBox{margin:0 10px;}
#contents #areabox ul.prefectureImg li img{width:40px; height:auto;}
#contents #areabox li.furigana{font-size:11px;}
#contents #areabox #areaTitleBox h1.name{margin:0; padding-left:0; font-size:18px;}
#contents #areabox li:first{margin-right:5px;}

/*-- フォーム内イメージ用 --*/
.node form.wpcf7-form img{width:auto; height:auto;}

.favorite-btn,.kifu-btn{
	width:48%;
	float:none;
	display:inline-block;
}

.kifu-btn.wide{width:100%; box-sizing:border-box;}

#socialbuttons{
	width: auto;
    float: none;
    clear: both;
    background: #deded0;
    padding: 7px 8px 0;
    margin: 0 10px 10px;
}

.kifu-btn a,
.favorite-btn .btn-block{
	padding:8px;
	font-size:14px;
	width:auto;
    display:block;
}

.kifu-btn a span,
ul.tabPrefecture li a span{display:none;}
ul.tabPrefecture{letter-spacing: -1em;}
ul.tabPrefecture li{width:30%;}

ul.tabPrefecture li a{
	width:auto;
	height:auto;
	line-height:130%;
	padding:10px;
	font-size:15px;
	font-weight:100;
	letter-spacing:-0.01em;
}

ul.tabPrefecture li.use_taxpayment a{line-height:130%;}
ul.tabPrefecture li a br{display:none;}

#contents .iconsection{width:auto; margin:0 10px 20px; box-sizing:border-box;}
#contents .areiconbox,#contents .areiconbox ul{width:auto;}
#contents .areiconbox ul{padding:0 10px; text-align:center;}
#contents .areiconbox li{margin-bottom:5px;}

/*移行期間の対応*/
#contents .areiconbox_new,#contents .areiconbox_new ul{width:auto;}
#contents .areiconbox_new ul{padding:0 10px; text-align:center;}
#contents .areiconbox_new li{margin-bottom:5px;}

#contents.prefecture-page .node h2{font-size:18px;}
dl.selectUse dt{width:100%;}
dl.selectUse dt img{display:block; margin:0 auto 10px; width:auto; height:auto;}
.prefecture-page .node dd{margin:0;}
table.area_yearnumber_tbl{width:100%; font-size:14px;}
dl#areainfo dd{width:auto; word-break:break-all; word-wrap: break-word;}
.prefecture-page h3 .toggle_btn,
.prefecture-page h2 .toggle_btn{
	background: url(/img/sp/add.png) no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    float: right;
    position: absolute;
    right: 10px;
}
.prefecture-page .slide_in{display:none;}
h3.slide_btn{margin:0;}
.prefecture-page .node h2 img{width:30px; height:30px;}
.prefecture-page .node .newItem{float:left; width:30%;}
.prefecture-page .node .newItem img{width:100%; height:auto; margin:0;}
.prefecture-page .node .tx-box{float:left; width:68%; margin-left:2%;}
.prefecture-page .node .tx-box p{font-size:14px;}
ul.government_news_List h3{width:auto; margin:0;}
ul.government_news_List div.date{float:none;}
.hentry{margin-bottom:0;}
.node.prefecture-intro-btn{display:block;}
.node.prefecture-intro-btn a{
	display:block;
	padding:10px;
	border:solid 2px #A21717;
	font-weight:bold;
	background: url(/img/sp/next.png) 98% 50% no-repeat;
	background-size:24px;
}

.prefecture-page .node h3.use_taxpayment.report,
.prefecture-page .node h3.use_taxpayment{margin:0 0 5px; font-size:18px;}
.prefecture-page .node .use_taxpayment{margin-bottom:20px; overflow:hidden;}
.prefecture-page .node .use_taxpayment ul{overflow:hidden;}
div.use_taxpayment ul li,div.use_taxpayment ul li.notice{width:50%; margin:5px 0 10px; font-size:16px; text-align:center;}
div.use_taxpayment ul li span.waku,div.use_taxpayment ul li span.wakuRed{font-size:16px;}
div.use_taxpayment.zaisei ul li,div.use_taxpayment.zaisei ul li.notice{text-align:center; width:100%;}
#contents.prefecture-page .node h2.alert{padding-left:45px; background:url(/images/icon_alert.png) no-repeat center left; background-size:40px;}
ul.alertList div.date{margin:10px 10px 20px 0;}
ul.alertList div.accepting{padding:5px 10px; font-size:12px;}
.prefecture-page .alert_text .btn-box a.btn_red03,
.prefecture-page .alert_text .btn-box a.btn_yellow{width:40%;}
#side{width:80%; float:none; margin:0 auto;}
#side #sp-modal-box{padding:10px 10px 20px; background:#fff;}
#side .modal-close{position:relative; padding:10px;}
#side .modal-close span{
	position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin:0;
}
#side .modal-close span:after{
	content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.facebook-side-box{width:100%;}

div.fb-like-box,
div.fb-like-box iframe[style],
div.fb-like-box span {
	max-width: 100% !important;
}
div.fb_iframe_widget,
div.fb_iframe_widget iframe[style],
div.fb_iframe_widget span,
._2p3a,
.uiScaledImageContainer._2zfr{
	width: 100% !important;
	height: 300px !important;
}

.government_news_head h2{margin:0;}
.sp-center{display:block; margin:0 auto;}


#contents .exampleDeduction .tb_example th,
#contents .exampleDeduction .tb_example td {
  font-size: 10px;
}


/* ランキングページ  */
.pageRankWrapCate {
  position: relative;
  margin: 0;
}

/* Frame */
.pageRankWrapCate .frame {
  height: 50px;
  line-height: 42px;
  overflow: hidden;
}

.pageRankWrapCate .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
  border-top: solid 1px #e0e0e0;
}

.pageRankWrapCate .frame ul li {
  float: left;
  width: 126px;
  height: 100%;
  margin: 0 2px 0 0px;
  padding: 2px 0;
  background: #fff;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  border-bottom: #e0e0e0 solid 1px;
  border-left: none;
  border-top: none;
  display: inline-block;
  background: rgba(160, 50, 50, 0.13);
}

.pageRankWrapCate .frame ul li.active {
  color: #a03232;
  border-bottom: #a03232 solid 3px;
  font-weight: bold;
  background: #fff;
}

/* スライド画像 */
.detail_img {
    width: 100% !important;
}

/* ====== 横幅330pxのlist ===== */
ul.list330{margin-right: -1%; text-align: center;}
ul.list330 li{display:inline-block; float:none; max-width:auto; margin-right:1%;}


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% !important;
  height: auto;
  max-height:100% !important;
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}

/*--======= ログインのモーダルウィンドウ修正 ==========--*/
.modal-window#modal-login-form h4.lineU1s{
  margin:0.2em 0;
}
.register_table td,
.register_table th{
  padding: 3px;
}
.modal-window .modal-inner p{
  padding: 0 10px 10px;
}

}

@media all and (min-width:681px) {

.hide-sm {
    display: none !important;
}


  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}



.non-col {
  position: relative;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}




@media all and (max-width: 430px) {

.non-list {
 float: none !important;
}

.js-slide-text {
    display: none;
}

.spm10 {
 margin:10px;
}

.nonLine {
 border:0px;
}

#main.otherTop .newbox_spmargin #contents_2column .spm10 .btn_red02 a{
  display: inline-block;
}


.sp-textLeft {
 text-align:left
}
.sp-float-R {
 float:right
}

#accordion {
  border: 1px #ccc solid;
  border-top: none;
  width:500px;
}
#accordion dt {
  background: #ddd;
  padding: 10px;
  border-top: 1px #ccc solid;
}
#accordion dt a {
  color: #000;
  text-decoration: none;
  display:block;
}
#accordion dd {
  padding: 10px;
}

/*--===== >-地域ページ  =====--*/

ul.tabPrefecture li{
	width:auto;
}

#contents.prefecture-page .node .recommend-box .list-btn a{
	width:auto;
	display:block;
	box-sizing:border-box;
}

img{
    max-width: 100%;
    height: auto;
}

}


.newbox_spmargin a img {
    max-width:100%;
}


@media all and (max-width:443px) {

.otherTop .redBox680imgHead.rankingPV .redBox680imgBody .rankingPVimg {
  float: none !important;
  }

.otherTop .redBox680imgHead.rankingPV .redBox680imgBody {
  width: 94%;
  padding: 2% !important;
  margin-left: 1%;
}

}

@media all and (max-width:360px) {
/* 災害支援でチョイス ※文字が一行に入らないため */
.page-alert_list .page-alert_list_text {
  font-size: 15px!important;
}
}

.slideWrapper {
	height: 97px !important;
}

.newsSlide  {
  height: 160px !important;
  border: solid 1px #ccc;
  padding: 2px;
  font-size: 10px;
  background-color: #fff;
  overflow: hidden;
}
