@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/css/fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('/css/fonts/OpenSans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/css/fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/css/fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/css/fonts/OpenSans-Extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('/css/fonts/OpenSans-CondensedBold.woff') format('woff');
}

/* Begin Reset settings */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Open Sans","sans-serif";
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
/* End Reset settings */

/* Begin Fix text-align: justify; */
.content-justify {
    text-align: justify;
}
.content-justify:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
.content-justify > * {
    display: inline-block;
}
/* End Fix text-align: justify; */

/* Begin Base settings */
#wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -105px; /* The latter figure depends on the height of the footer */
    width: 100%;
}
#wrapper > iframe {
    position: absolute;
    bottom: 0;
}
#wrapper.index-page + #footer {
    border-top: none;
}
#wrapper.index-page + #footer > #footer-content {
    border-top: 1px solid #dbdbdb;
}
#wrapper.index-page #nav-static .nav-menu-links > a {
    color: #fff;
}
#wrapper.index-page #nav-static .nav-menu-links > a:hover {
    color: #7dff1f;
}
#wrapper.index-page #nav-static > .nav-logo {
    background-image: url('/images/logo_white.png');
}
#wrapper.index-page #nav-static > .nav-sandwich-menu-button {
    background-image: url('/images/sanvich-menu-ico-white.png');
}
#wrapper.index-page #nav-static {
    border-bottom: none;
}
.hide {
    display: none;
}
/* End Base settings */

/* Begin Content not selectable */
.not-selectable {
    user-select: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}
/* End Content not selectable */

/* Begin Fix text-align: justify; */
.content-justify {
    text-align: justify;
}
.content-justify:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}
.content-justify > * {
    display: inline-block;
}
/* End Fix text-align: justify; */

/* Begin Clearfix settings */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
/* End Clearfix settings */

body > iframe {
    display: none;
}

/* Begin Modal Promo */
#modal-promo {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 2;
}
#modal-promo.show {
    display: block;
}
#modal-promo-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
#modal-promo-window {
    position: absolute;
    max-width: 700px;
    left: 30px;
    right: 30px;
    margin: 188px auto;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .1);
}
#modal-promo-header {
    height: 40px;
    background-color: #59c959;
    font-family: 'Open sans';
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
#modal-promo-close {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    background-color: #59c959;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
}
#modal-promo-close:before {
    content: "+";
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight: 300;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: color .2s;
    -webkit-transition: color .2s;
}
#modal-promo-close:hover {
    background-color: #fff;
}
#modal-promo-close:hover:before {
    color: #59c959;
}
#modal-promo-content {
    padding: 40px 70px 60px;
    box-sizing: border-box;
    font-family: 'Open sans';
    color: #363636;
}

#modal-promo-content > h2 {
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    color: inherit;
    font-weight: normal;
}

#modal-promo-content > h3 {
    padding-bottom: 30px;
    font-size: 18px;
    color: #32a64d;
    line-height: 24px;
}

#modal-promo-content-text {
    font-size: 14px;
    line-height: 18px;
}
#modal-promo-content-text > p {
    padding: 10px 0;
    font-size: inherit;
}
#modal-promo-content-text > p:before {
    content: "";
    position: relative;
    display: inline-block;
    height: 4px;
    width: 4px;
    top: -3px;
    margin-right: 8px;
    margin-left: -13px;
    border-radius: 100%;
    background-color: #595959;
}
#modal-promo-status[data-only="-1"] {
    display: none;
}
#modal-promo-status {
    position: relative;
    padding: 17px 70px 60px;
}
#modal-promo-status:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    top: 0;
    left: 70px;
    right: 70px;
    background-color: #d8d8d8;
}
#modal-promo-status-star {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.modal-promo-status-symbol {
    position: absolute;
    display: none;
    top: 34px;
    left: 98px;
    margin-left: -7px;
}
.modal-promo-status-symbol.gold {
    margin-left: -9px;
}
#modal-promo-status.extreme > .modal-promo-status-symbol.extreme,
#modal-promo-status.gold > .modal-promo-status-symbol.gold {
    display: inline-block;
}
#modal-promo-status.extreme > #modal-promo-status-star > path {
    fill: #ca5ed6;
}
#modal-promo-status.extreme > #modal-promo-status-progress > div {
    background-color: #ca5ed6;
}
#modal-promo-status.gold > #modal-promo-status-star > path {
    fill: #ffc100;
}
#modal-promo-status.gold > #modal-promo-status-progress > div {
    background-color: #ffc100;
}
#modal-promo-status > span {
    display: inline-block;
    padding-left: 7px;
    font-family: 'Open sans';
    font-weight: 300;
    font-size: 24px;
    color: #363636;
    line-height: 55px;
    vertical-align: middle;
}
#modal-promo-status-text {
    position: absolute;
    top: 33px;
    right: 70px;
    font-family: 'Open sans';
    font-size: 16px;
    color: #9b9b9b;
}
#modal-promo-status-text > strong {
    font-weight: 300;
    font-size: 24px;
    color: #363636;
}
#modal-promo-status-progress {
    height: 5px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #e6e6e6;
}
#modal-promo-status-progress > div {
    height: 100%;
    width: 0;
    border-radius: 5px;
}
#modal-promo-buttons {
    padding-bottom: 30px;
    text-align: center;
}
#modal-promo-buttons > * {
    display: inline-block;
    height: 60px;
    padding: 0 44px;
    border-radius: 3px;
    background-color: #40bd5e;
    font-family: 'Open sans';
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
}
#modal-promo-buttons > *:hover {
    background-color: #38a652;
}
#modal-promo-buttons > *:active {
    background-color: #2a8c41;
}
#modal-promo-buttons.store > * {
    display: inline-block;
}
#modal-promo-buttons > div,
#modal-promo-buttons.store > a {
    display: none;
}
    /* End Modal Promo */

/* Begin Header Styles */
#header {
    width: 100%;
    height:87px;
    position: relative;
    background-color: #fff;
}
#nav-static-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.13);
}
#nav-static {
    height: 47px;
    max-width: 1300px;
    margin: auto;
    padding: 34px 30px 5px;
    position: relative;
    font-family: "Open Sans";
    border-bottom: 1px solid #e9e9e9;
}
#nav-static .nav-menu-links > a {
    vertical-align: middle;
}
.nav-logo {
    position: absolute;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    width: 140px;
    height: 37px;
    display: inline-block;
    float: left;
    margin-right: -100%;
    margin-top: -9px;
}
.nav-menu,
.nav-menu-links > a {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
#nav-static > .nav-menu.device-version {
    z-index: 0;
    top: 86px;
    right: 0;
    width: 100%;
    height: 0;
    transition: height 0.7s ease 0s;
    -webkit-transition: height 0.7s ease;
       -moz-transition: height 0.7s ease;
         -o-transition: height 0.7s ease;
}
.nav-menu {
    text-align: justify;
    min-width: 100%;
    color: #fff;
}
.nav-menu:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
.nav-menu-links {
    display: inline;
    vertical-align: top;
    cursor: default;
}
.nav-menu-links:before {
    width: 150px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
.nav-menu-links > a {
    padding: 0 1%;
    color: #474747;
}
.nav-menu-links > a + a {
    padding: 0 1%;
}
.nav-menu-links > a:hover {
    color: #7dff1f;
}
.nav-btns {
    display: inline-block;
    min-width: 80px;
    margin-top: -9px;
}
.nav-btns > a {
    font-weight: 400;
    display: inline-block;
    padding: 10px 15px 12px;
}
.nav-btns > div {
    position: relative;
}
.nav-btn,
.nav-btn-sign-on {
    border: 1px solid #67ce1d;
}
.nav-btn {
    margin-right: 15px;
    background-color: #67ce1d;
    color: #fff;
}
.nav-btn-sign-on {
    font-family: "Open Sans";
    color: #67ce1d;
}
.nav-btn:hover,
.nav-btn-sign-on:hover {
    border: 1px solid #6bd61e;
    background-color: #6bd61e;
    color: #fff;
}
.nav-user-logged {
    position: absolute;
    right: 0;
    padding-right: 10px;
    font-size: 0;
}
.nav-user-logged > * {
    font-size: 16px;
}
.nav-btns > svg,
.nav-user-logged > svg {
    position: relative;
    display: inline-block;
    top: -4px;
    right: 14px;
    vertical-align: top;
    cursor: pointer;
    animation: promo 5s ease 5s infinite;
    -webkit-animation: promo 5s ease 5s infinite;
}
.nav-btns > svg {
    top: 5px;
}
#nav-static > svg {
    position: absolute;
    display: none;
    top: 28px;
    right: 68px;
    animation: promo 5s ease 5s infinite;
    -webkit-animation: promo 5s ease 5s infinite;
}
.nav-btns > svg,
.nav-user-logged > svg,
#nav-static > svg {
    opacity: 1;
    visibility: visible;
    transition: .2s;
}
.nav-btns > svg.hidden,
.nav-user-logged > svg.hidden,
#nav-static > svg.hidden {
    opacity: 0;
    visibility: hidden;
}
@keyframes promo {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(180deg);
    }
    20%, 100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes promo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(180deg);
    }
    20%, 100% {
        -webkit-transform: rotate(360deg);
    }
}
.nav-user-logo {
    display: inline-block;
    margin-top: -15px;
    border-radius: 100%;
    overflow: hidden;
    height: 48px;
    width: 48px;
    margin-right: 6px;
    cursor: pointer;
}
.nav-user-logo > img {
    width: 60px;
    height: 48px;
    margin-left: -6px;
}
.nav-popover:before,
.nav-popover-arrow:before,
.nav-popover-content:before,
.nav-popover:after,
.nav-popover-arrow:after,
.nav-popover-content:after {
    box-sizing: border-box;
}
.nav-popover {
    position: absolute;
    width: 200px;
    right: 10px;
    top: 45px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    white-space: normal;
    color: #797979;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    z-index: 1;
}
.nav-popover > .nav-popover-arrow {
    border-width: 10px;
}
.nav-popover > .nav-popover-arrow:after {
    border-width: 10px;
}
.nav-popover > .nav-popover-arrow,
.nav-popover > .nav-popover-arrow:after {
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    position: absolute;
}
.nav-popover.bottom > .nav-popover-arrow {
    top: -10px;
    left: 174px;
    margin-left: -11px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}
.nav-popover.bottom > .nav-popover-arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}
.nav-popover-content {
    background-color: rgba(0, 0, 0, 0.1);
}
.nav-popover-content > a {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    color: #535353;
}
.nav-popover-content > a:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}
.nav-popover-content > a > span:before {
    content: "";
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    vertical-align: top;
    background-image: url('/images/drop-down-icons.png');
    margin-left: 8px;
}
.nav-popover-username {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-popover-user-logo > img {
    width: 100%;
    height: 100%;
}
.nav-popover-to-profile,
.nav-popover-buy-coins,
.nav-popover-settings {
    margin-bottom: 1px;
}
.nav-popover-to-profile > span:before {
    height: 18px;
    margin-top: -3px;
    background-position: 0 -39px;
}
.nav-popover-buy-coins {
    position: relative;
}
.nav-popover-buy-coins > span:before {
    height: 18px;
    margin-top: -3px;
    background-position: 0 -80px;
}
.nav-popover-buy-coins > span > span + span {
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 11px;
    color: #bababa;
    position: absolute;
    right: 12px;
    top: 13px;
}
.nav-popover-settings > span:before {
    height: 16px;
    margin-top: -2px;
    background-position: 0 -120px;
}
.nav-popover-sign-out > span:before {
    height: 15px;
    margin-top: -2px;
    background-position: 0 -162px;
}
.nav-sandwich-menu-button {
    height: 23px;
    width: 24px;
    background-image: url('/images/sanvich-menu-ico-gray.png');
    background-repeat: no-repeat;
    display: none;
    float: right;
    margin-top: -3px;
    cursor: pointer;
}
/* End Header Styles */

/* Begin Content Styles */
#content-wrapper {
    padding-top: 0;
    padding-bottom: 105px;
    background-color: #fff;
}
#content-wrapper.device-version {
    transition: padding-top 0.7s ease 0s;
    -webkit-transition: padding-top 0.7s ease;
       -moz-transition: padding-top 0.7s ease;
         -o-transition: padding-top 0.7s ease;
}
#content {
    position: relative;
    margin: 0 auto !important;
    width: 768px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
    line-height: normal;
    z-index: 0;
    text-align: left;
}
#content span {
    line-height: normal;
}

/* Navigation fixed menu */
#nav-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, 0.15), 0 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.15), 0 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.15), 0 2px rgba(0, 0, 0, 0.05);
    opacity: 0.95;
    z-index: 1;
    display: none;
    font-family: "Open Sans";
}
#nav-fixed svg {
    display: none;
}
#nav-fixed .nav-menu-links > a {
    vertical-align: middle;
}
#nav-fixed .nav-btns > a {
    font-size: 14px;
}
#nav-fixed .nav-user-logo {
    margin-top: -11px;
    height: 40px;
    width: 40px;
}
#nav-fixed .nav-user-logo > img {
    width: 50px;
    height: 40px;
    margin-left: -5px;
}
#nav-fixed  .nav-popover.bottom > .nav-popover-arrow {
    left: 178px;
}
#nav-fixed-menu {
    position: relative;
    max-width: 1300px;
    margin: auto;
    padding: 20px 30px 0;
}
#nav-fixed-menu .nav-menu-links > a {
    color: #474747;
    font-size: 14px;
}
#nav-fixed-menu .nav-menu-links > a:hover {
    color: #7dff1f;
}

/* Header */
@media screen and (max-width: 1150px) {
    .nav-btns-camfrog-phrase {
        display: none;
    }
}
@media screen and (min-width: 961px) {
    #content-wrapper {
        padding-top: 0 !important;
    }
}
@media screen and (max-width: 960px) {
    #wrapper.index-page #nav-static .nav-menu-links > a {
        color: #474747;
    }
    .nav-logo {
        position: relative;
    }
    .nav-sandwich-menu-button {
        display: inline-block;
    }
    #nav-static > .nav-sandwich-menu-button + svg {
        display: block;
        cursor: pointer;
    }
    .nav-btns > svg {
        display: none;
    }
    #nav-static > .nav-menu {
        top: 60px;
    }
    #nav-static .nav-menu-links > a {
        margin-top: 0;
    }
    .nav-menu {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        z-index: 1;
        top: 56px;
        right: 30px;
        min-width: 200px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
           -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
        background: none repeat scroll 0 0 #fff;
        margin-left: 0;
        height: 0;
    }
    .nav-menu:after {
        display: none;
    }
    .nav-menu > div {
        display: block;
    }
    .nav-menu-links > a,
    .nav-btns > a {
        display: block;
        font-size: 14px;
        padding: 10px 20px;
        color: #474747;
        line-height: normal;
        background-color: transparent;
        border: none;
        font-weight: inherit;
        margin: 0;
    }
    .nav-btns {
        padding-right: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .nav-btns > a {
        height: 20px;
    }
    .nav-menu-links:before {
        display: none;
    }
    .nav-menu-links > a + a {
        padding: 10px 20px;
    }
    .nav-menu-links > a:hover,
    .nav-btns > a:hover {
        background-color: transparent;
        border: none;
        color: #7dff1f;
    }
    .nav-btns-camfrog-phrase {
        display: inline;
    }
    .nav-user-logged {
        position: relative;
        float: right;
        margin-bottom: -30px;
    }
    #nav-fixed .nav-btn-sign-on:hover {
        border: none;
        background-color: transparent;
        color: #7dff1f;
    }
}

@media screen and (max-width: 600px) {
    #modal-promo-content > h3 {
        font-size: 26px;
    }
    #modal-promo-status > span {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #modal-promo-content,
    #modal-promo-status {
        padding-left: 30px;
        padding-right: 30px;
    }
    #modal-promo-status:before {
        left: 30px;
        right: 30px;
    }
    .modal-promo-status-symbol {
        left: 58px;
    }
    #modal-promo-status-text {
        right: 30px;
    }
}

/* Begin Footer Styles */
#footer {
    position: relative !important;
    background-color: #f3f3f3;
    height: 104px !important;
    border-top: 1px solid #dbdbdb;
    padding: 0 !important;
    width: 100% !important;
}
/* Social section */
#footer-social {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 415px;
    height: 50px;
    margin-left: -207px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    color: transparent;
}
#footer-social > div {
    margin-top: 13px;
}

/* Footer content */
#footer-content {
    max-width: 1300px;
    margin: 0 auto;
    font-size: 11px;
    padding: 60px 30px 0;
    color: #8f8f9b;
    text-align: justify;
    background-color: #f3f3f3;
}
#footer-content:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
#footer-content > div {
    vertical-align: top;
}
#footer-menu,
#footer-change-language {
    display: inline-block;
}
#footer-menu {
    width: 45%;
    text-align: justify;
    float: left;
}
#footer-menu:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}
#footer-menu > a {
    font-size: 12px;
    font-weight: 600;
    margin: 0 1%;
    color: #8f8f9b;
    white-space: nowrap;
    display: inline-block;
}
#footer-change-language {
    position: relative;
    padding-left: 5%;
}
#footer-change-language-content > span,
#current_selected_language {
    vertical-align: top;
}
#footer-change-language-form {
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ecebeb));
    background: -moz-linear-gradient(top, #fff, #ecebeb );
    background: -o-linear-gradient(top, #fff, #ecebeb );
    background: -ms-linear-gradient(top, #fff, #ecebeb );
    display: none;
    right: 0;
    top: -325px;
    max-width: 200px;
    position: absolute;
}
#footer-change-language-form > ul {
    border: 1px solid #ccc;
    min-width: 70px;
    padding: 5px;
    text-align: center;
    list-style: none outside none;
}
#footer-change-language-form > ul > li {
    display: block;
    padding: 5px 0;
    list-style-type: none;
    line-height: 18px;
    white-space: nowrap;
    font-size: 11px;
    background-image: none;
    color: #8f8f9b;
}
#lang_list_check > * {
    cursor: pointer;
}
#lang_list_check {
    display: inline-block;
    vertical-align: inherit;
    position: relative;
}
#lang_list_check > img {
    margin-top: -2px;
}
#footer-privacy-copyright {
    text-align: right;
    float: right;
}
#footer-privacy-copyright > div {
    display: inline-block;
}
#footer-privacy > a {
    padding-right: 10px;
    color: #8f8f9b;
    white-space: nowrap;
    text-decoration: underline;
    display: inline-block;
}

/* Footer */
@media screen and (max-width: 1100px) {
    #footer-change-language {
        float: right;
    }
    #footer-privacy-copyright {
        width: 100%;
    }
    #footer-menu {
        width: 60%;
    }
}
@media screen and (max-width: 750px) {
    #footer-menu {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    #footer-content {
        padding: 27px 0 0;
    }
    #footer-change-language-form {
        top: -330px;
        font-size: 14px;
    }
    #footer-content > div {
        padding-bottom: 0;
    }
    #footer-menu {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    #footer-menu:after {
        content: none;
    }
    #footer-menu > a,
    #footer-change-language-content,
    #footer-privacy-copyright > div {
        padding: 20px 0;
        font-size: 16px;
        font-weight: normal;
        border-bottom: 1px solid #e1e1e1;
        margin: 0;
        text-align: center;
    }
    #footer-menu > a,
    #footer-change-language-content,
    #footer-privacy-copyright > div {
        width: 90%;
    }
    #footer-change-language,
    #footer-privacy-copyright {
        padding-right: 0;
    }
    #footer-change-language {
        width: 100%;
        color: #8f8f9b;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
    }
    #footer-change-language-content {
        display: inline-block;
    }
    #footer-privacy-copyright {
        text-align: center;
    }
}
@media screen and (max-width: 440px) {
    #footer-social {
        width: 300px;
        margin-left: -151px;
    }
}
/* End Footer Styles */
