#modal-wrapper {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    visibility: hidden;
    transition: opacity .4s,
                visibility .4s,
                left 0s ease .4s;
}
#modal-wrapper.show {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity .4s,
                visibility .4s,
                left 0s;
}
#modal-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
#modal {
    display: table-cell;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
}
#modal-window {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 650px;
}
#modal-close {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .2s;
}
#modal-close:hover {
    opacity: 1;
}
#modal-close.hide {
    display: none;
}