/*
	// основные цвета
		#6f1010 - "active"
		#1a1818 - "серый" - бэкграунд
		#d70d0d - "синий" - link
		#6f1010 - active2
		#d70d0d - hover2
		#6f1010 - bg-header
		#b8b8b8 - gray-link

		d70d0d - синий выделенный
		6f1010 - синий активный

		1a1818 - link hover

	// - цвета кнопок
		#6f1010 - active
		#d70d0d - hover

	Шрифты:
		Georgia
		Tahoma
		Arial
*/

* {	padding:0; margin:0; outline:0; line-height:110%; -webkit-margin-before:0;-webkit-margin-after:0;}

html { height:100%; }

body {
	background:#1a1818;
	font-size:14px;
	color:#ccc;
	font-family:Tahoma, Arial, sans-serif;
}

#pC {
	opacity:0;
}

p {margin-bottom:0.5em}

h1, h2, h3, h4 {
	font-weight:normal;
}

h1 {font-size:192%;}
h2 {font-size:169%;}
h3 {font-size:146%;}
h4 {font-size:123%;}


a {color:#247acb;}
a:hover {color:#b61c1c;text-decoration:none;}
a:active {text-decoration:underline;}
a img {border:0;}

input[type*=submit],input[type*=button] {
	cursor:pointer;
}

.clearfix {
	float: none;
	clear: both;
}

.wrapper {
	min-width:972px;
	margin:0 auto;
	position:relative;
	max-width:1460px;
	width:98%;
}

header {
	position:relative;
	height:245px;
	background:#212121;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;
	border-bottom:2px groove #333;
	border-color:rgba(70,70,70,0.5);
}

header.small {
	height:195px;
}

	header .logo {
		display:block;
		position:absolute;
		top:-26px;
		left:-20px;
		width:533px;
		height:130px;
		padding-top:10px;
		background:url('../img/sprites.png') repeat-x left -1154px;
		color:#6f1010;
		z-index:2;
	}

	header.small .logo {
		top:-2px;
		left:-3px;
		width:232px;
		height:68px;
		padding-left:79px;
		padding-top:10px;
		background:url('../img/sprites.png') repeat-x left -123px;
	}

	header .hd {
		display:block;
		position:absolute;
		top:0px;
		right:0px;
		width:106px;
		height:123px;
		background:url('../img/sprites.png') repeat-x top right;
		z-index:2;
	}

	header .userbar{
		display:block;
		position:absolute;
		top:0px;
		right:0px;
		height:30px;
		color:#4a4a4a;
		z-index:2;
		text-align:left;
		font-size:14px;
	}

		header .userbar a {
			color:#fff;
			position:relative;
			line-height:38px;
			padding:0px 15px;
			height:38px;
			display:block;
			float:left;
			min-width:50px;
			max-width:150px;
			margin:0px;
			border-right:1px solid #555;
		}

		header .userbar a:first-child {
			border-left:1px solid #555;
		}

			/*header .userbar a .reg, header .userbar a .login, header .userbar a .heart, header .userbar a .slogo, header .userbar a .mobile{
				position:absolute;
				height:13px;
				left:10px;
				top:50%;
				margin-top:-6px;
			}*/

			header .userbar a div{
				position:relative;
				float:left;
				height:13px;
				margin-top:13px;
				margin-right:10px;
			}

				header .userbar a div div{
					position:relative;
					float:left;
					height:0px;
					margin-top:0px;
					margin-right:0px;
				}

			header .userbar a span {
				float:left;
				line-height:38px;
				height:38px;
				cursor:pointer;
			}

			header .userbar a hr {
				clear:both;
				border:0px;
				height:0px;
				background:transparent;
				visibility:hidden;
			}

			header .userbar a .heart {
				width:14px;
				background:url('../img/sprites.png') no-repeat -123px -13px;
			}

			header .userbar a .help {
				width:14px;
				background:url('../img/helpicon.png') no-repeat 0px 0px;
			}

			header .userbar a .login {
				width:12px;
				background:url('../img/sprites.png') no-repeat -229px -13px;
			}

			header .userbar a .reg {
				width:13px;
				background:url('../img/sprites.png') no-repeat -241px -13px;
			}

			header .userbar a .slogo {
				width:14px;
				background:url('../img/sprites.png') no-repeat -201px -13px;
			}

			header .userbar a .mobile {
				width:14px;
				height:16px;
				margin-top:11px;
				background:url('../img/sprites.png') no-repeat -215px -16px;
			}

			header .userbar a:hover .heart{
				background-position: -123px top;
			}

			header .userbar a:hover .login{
				background-position: -229px top;
			}

			header .userbar a:hover .reg{
				background-position: -241px top;
			}

			header .userbar a:hover .slogo {
				background-position: -201px top;
			}

			header .userbar a:hover .mobile {
				background-position: -215px top;
			}

			header .userbar a .likes {
				position:relative;
				height:13px;
				float:left;
				margin-top:12px;
				margin-left:4px;
				margin-right:0px;
			}

				header .userbar a .likes div {
					float: left;
					display: block;
					background: #585858;
					height: 14px;
					font-size: 12px;
					line-height: 14px;
					color: white;
					padding:0px 6px;
					text-decoration: none;
					border-radius:3px;
				}

				header .userbar a .likes div.clearfix {
					width:0px;
					height:0px;
					background:transparent;
				}

				header .userbar a .likes div.op {
					padding:0px;
					height:15px;
					width:2px;
					background:url('../img/bg.png') no-repeat left -640px;
				}

				header .userbar a .likes div.end {
					display:none;
					padding:0px;
					height:15px;
					width:1px;
					background:url('../img/bg.png') no-repeat right -640px;
				}

				header .userbar a:hover .likes div {
					color:white;
				}

		header .userbar a:hover {
			color:#d70d0d;
			background-color:#333;
		}

	header .sponsored_links {
		position:absolute;
		left:0px;
		bottom:0px;
		height:30px;
		width:100%;
		text-align:left;
	}

		header .sponsored_links a {
			line-height:30px;
			margin:0px 5px;
			padding:0 5px;
		}

	/*header .userbar {
		display:block;
		position:absolute;
		top:46px;
		left:540px;
		width:140px;
		color:#4a4a4a;
		z-index:2;
		text-align:left;
		font-size:12px;
	}*/

	header .social .addthis_toolbox {
		position: absolute;
		width: auto !important;
		height: 46px;
		top: 17px !important;
		right: 17px !important;
		background:
		transparent;
		float: right;
		padding: 0;
		max-width: 1000px;
		min-width:300px;
	}

	header.small .social {
		display:none;
	}

	#flash-player .social {
		position:absolute;
		top:50%;
		margin-top:-148px;
		right:0px;
		width:46px;
		height:250px;
		display:none;
	}

	#flash-player:hover .social {
		display:block;
	}

	#flash-player .social .addthis_toolbox {
		position:absolute !important;
		width:auto !important;
		height:46px !important;
		right:10px !important;
		background:transparent;
		float:right;
		padding:0;
		z-index:100;
	}

	.addthis_floating_style {
		position:absolute;
		background:transparent;
	}

	.addthis_floating_style.addthis_32x32_style {
		width:auto;
	}

		div.social .addthis_toolbox a:hover {
			opacity:1 !important;
		}

		div.social .addthis_toolbox div.addthis_internal_container {
			float:right;
			width:auto !important;
		}

		div.social .addthis_toolbox div.addthis_internal_container a{
			float:left !important;
			display:block;
			width:46px;height:46px;
		}

		div.social .addthis_toolbox div.addthis_internal_container a div {
			width:46px;height:46px;
		}


		div.social .addthis_button_facebook div
		{
			background:transparent url('../img/sprites.png') -546px 0px no-repeat;
		}

		div.social .addthis_button_facebook div:hover
		{
			background:transparent url('../img/sprites.png') -500px 0px no-repeat;
		}

		div.social .addthis_button_facebook div:active {
			background:transparent url('../img/sprites.png') -454px 0px no-repeat;
		}


		div.social .addthis_button_twitter div
		{
			background:transparent url('../img/sprites.png') -546px -54px no-repeat;
		}

		div.social .addthis_button_twitter div:hover
		{
			background:transparent url('../img/sprites.png') -500px -54px no-repeat;
		}

		div.social .addthis_button_twitter div:active
		{
			background:transparent url('../img/sprites.png') -454px -54px no-repeat;
		}

		div.social .addthis_button_google div
		{
			background:transparent url('../img/sprites.png') -454px -219px no-repeat;
		}

		div.social .google div
		{
			float:left !important;
			display:block;
			width:46px;height:46px;
			background:transparent url('../img/sprites.png') -546px -219px no-repeat;
		}
		div.social .google div:hover
		{
			float:left !important;
			display:block;
			width:46px;height:46px;
			background:transparent url('../img/sprites.png') -500px -219px no-repeat;
		}
		div.social .google div:active
		{
			float:left !important;
			display:block;
			width:46px;height:46px;
			background:transparent url('../img/sprites.png') -454px -219px no-repeat;
		}

		div.social .addthis_button_favorites div
		{
			background:transparent url('../img/sprites.png') -546px -108px no-repeat;
		}
		div.social .addthis_button_favorites div:hover
		{
			background:transparent url('../img/sprites.png') -500px -108px no-repeat;
		}
		div.social .addthis_button_favorites div:active
		{
			background:transparent url('../img/sprites.png') -454px -108px no-repeat;
		}

		div.social .addthis_button_compact div
		{
			background:transparent url('../img/sprites.png') -546px -164px no-repeat;
		}
		div.social .addthis_button_compact div:hover
		{
			background:transparent url('../img/sprites.png') -500px -164px no-repeat;
		}
		div.social .addthis_button_compact div:active
		{
			background:transparent url('../img/sprites.png') -454px -1648px no-repeat;
		}


	header .toolbar {
		position:absolute;
		top:38px;
		left:0px;
		min-width:970px;
		width:100%;
		height:163px;
		z-index:0;
		background:url('../img/bg.png') repeat-x left 0px;
	}

	header.small .toolbar {
		height:120px;
		background:url('../img/bg.png') repeat-x left -510px;
	}

		header .toolbar .cats {
			position:absolute;
			bottom:50px;
			left:155px;
			z-index:3;
		}


		header.small .toolbar .cats {
			left:320px;
		}

			header .toolbar .cats a {
				display:block;
				position:relative;
				float:left;
				line-height:40px;
				height:40px;
				font-size:22px;
				padding:0 15px;
				margin:0 2px;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				color:#fff;
			}

				header .toolbar .cats a div{
					position:absolute;
					top:0px;
					left:50%;
					margin-left:-6px;
					width:13px;
					height:6px;
				}

				header .toolbar .cats a.current div {
					background:url('../img/sprites.png') no-repeat -254px 0px;
				}

			header .toolbar .cats a:hover {
				color:#212121;
				text-decoration:none;
			}

			header .toolbar .cats a.current {
				color:#6f1010;
				text-decoration:none;
			}

		header .toolbar nav {
			position:absolute;
			height:40px;
			bottom:0px;
			left:0px;
			z-index:1;
			width:100%;
			overflow:hidden;
		}

			header .toolbar nav a{
				display:block;
				float:left;
				padding:0px 8px 0px 8px;
				height:40px;
				line-height:40px;
				color:white;
				font-size:16px;
				text-decoration:none;
			}

			header .toolbar nav a:first-child{
				margin-left:8px;
			}

			header .toolbar nav a:hover {
				background:#d70d0d;
			}

			header .toolbar nav a.active, header .toolbar nav a.current {
				background:#6f1010;
				text-decoration:none;
			}

		header a.more  {
			position:absolute;
			height:26px;
			line-height:26px;
			bottom:0px;
			right:0px;
			z-index:100;
			font-size:16px;
			padding:7px 26px 7px 16px;
			color:white;
			text-decoration:none;
			background:#891515 url('../img/bg.png') no-repeat 90% -772px;
		}

			header a.more  span {
				border-bottom:1px dotted #fff;
			}

			header a.more:hover{
				background-color:#d70d0d;
			}

		header .toolbar .search {
			position:absolute;
			top:74px;
			right:21px;
			width:294px;
			height:33px;
			overflow:hidden;
			background:url('../img/sprites.png') no-repeat left -66px;
		}

		header .toolbar .search.focus {
			background:url('../img/sprites.png') no-repeat left -33px;
		}

			.toolbar .search  input.sch{
				border:0;
				position:absolute;
				top:8px;
				padding:0px 30px 0px 10px;
				width:214px;
				font-size:16px;
				background-color:transparent;
				color:#b61c1c;
			}

			.toolbar .search input.submit {
				position:absolute;
				left:270px;
				top:10px;
				width:13px;
				height:13px;
				border:0;
				background:url('../img/sprites.png') no-repeat -137px top;
				background-color:transparent;
			}

	header .wrapper {
		white-space:nowrap;
		height:100%;
	}

	header h1{
		padding-top:207px;
		float:left;
		line-height:120%;
	}

	h1{
		font-size: 192%;
		float: left;
		line-height: 40px;
	}

	header.small h1{
		padding-top:154px;
		float:left;
		line-height:120%;
	}

	header .filter {
		padding-top:209px;
		margin-left:20px;
		float:left;
		position:relative;
		top:0px;
	}

	header.small .filter {
		padding-top:157px;
		margin-left:20px;
		float:left;
	}
		.filter a {
			display:block;
			float:left;
			padding:7px 14px;
			margin:0px 10px;
			border-radius:20px;
			text-decoration:none;
			color:#ccc;
		}

		.filter a span{
			border-bottom:1px dotted #ccc;
		}

		.filter a:hover span{
			border-bottom:1px dotted #fff;
		}

		.filter a:hover {
			background-color:#247acb;
			color:white;
		}

		.filter a.current, .filter a.current:hover {
			background-color:#094b89;
			color:white;
		}

		.filter a.current span{
			border-bottom:0px dotted #fff;
		}


footer.first {
	position:relative;
	height:186px;
	background:#212121;
	padding-left:15px;
	padding-right:15px;
	padding-top:30px;
	overflow:hidden;
	border-top:2px groove #333;
	border-color:rgba(70,70,70,0.5);
}

	footer.first .toolbar {
		position:relative;
		height:56px;
	}

		footer.first .toolbar .head {
			position:absolute;
			top:13px;
			left:-3px;
			width:99px;
			height:24px;
			padding-top:9px;
			padding-right:10px;
			text-align:center;
			background:url('../img/sprites.png') no-repeat left top;
			line-height:100%;
			color:white;
		}

		footer.first .toolbar .search {
			position:absolute;
			top:13px;
			left:114px;
			width:254px;
			height:33px;
			background:url('../img/sprites.png') no-repeat left -33px;
			background-color:transparent;
			overflow:hidden;
		}

		footer.first .toolbar .search.focus {
			background:url('../img/sprites.png') no-repeat left -66px;
		}

			footer .toolbar .search  input.sch{
				color:#525252;
			}

	footer.first nav {
		font-family:Georgia;
		width:100%;
		margin-top:3px;
	}
		footer.first nav .block, footer.first nav .firstBlock  {
			float:left;
			width:22%;
			border-top:1px dotted #777;
			height:180px;
		}

		footer.first nav .block{
			margin-left:3.9%;
		}

		footer.first nav div.block:first-child, footer.first nav .block_first {
			margin-left:0px !important;
		}

		footer.first nav a {
			display:block;
			position:relative;
			color:#ccc;
			padding:7px 10px 6px 10px;
			text-decoration:none;
			border-bottom:1px dotted #777;
		}

		footer.first nav a:hover {
			background:#b61c1c;
			color:white;
			border-bottom:1px solid #b61c1c;
			top:-1px;
			margin-bottom:-1px;
			border-top:1px solid #b61c1c;
		}

footer.second {
	position:relative;
	height:49px;
	background:url('../img/bg.png') repeat-x left -461px;
	padding-left:15px;
	padding-right:15px;
	border-top:2px groove #333;
	border-color:rgba(70,70,70,0.5);
	color:#525252;
}

	footer.second .userbar {
		display:block;
		position:absolute;
		right:0px;
		line-height:48px;
		height:50px;
		z-index:2;
		text-align:right;
		font-size:12px;
	}

	footer.second .copy {
		display:block;
		position:absolute;
		left:0px;
		line-height:48px;
		height:50px;
		z-index:2;
		text-align:right;
		font-size:12px;
	}

	footer.second a {

	}

	footer.second .copy a {
		margin-left:30px;
	}

	footer.second a:hover {

	}


section.pagination {
	height:49px;
	position:relative;
	padding-top:11px;
	padding-left:15px;
	padding-right:15px;
	z-index:0;
}
section section.pagination {
	padding-left:0;
}
	section.pagination nav {
		position:relative;
		float:left;
		width:auto;
		border:1px solid #000;
		z-index:0;
	}
		section.pagination nav a, section.pagination nav .spacer, section.pagination nav .dots {
			position:relative;
			display:block;
			float:left;
			text-decoration:none;
			width:35px;
			height:24px;
			padding-top:12px;
			border-left:1px solid #000;
			text-align:center;
			background:#2e2e2e;
			color:#fff;
			font-size:14px;
			font-family:Arial;
			z-index:0;
		}

		nav.abc a:not(:first-child) {
			text-transform:uppercase;
		}

		.pagination nav a:nth-child(2),.pagination nav a.active:nth-child(2), .pagination nav a.active:nth-child(2):hover {
			border-left:0px solid #c0c0c0;
		}

		section.pagination nav a:hover {
			background-color:#b61c1c;
			color:white;
			top:-1px;
			left:-1px;
			z-index:1;
			border:1px solid #b61c1c;
			border-left:2px solid #b61c1c;
			margin-right:-2px;
			margin-bottom:-2px;
		}

		section.pagination nav a:nth-child(2):hover:not(.active) {
			border-left:1px solid #b61c1c;
		}

		section.pagination nav a.active, section.pagination nav a.active:hover {
			color:#fff;
			top:0px;
			left:0px;
			z-index:1;
			border:0;
			border-left:1px solid #000;
			margin-right:0px;
			margin-bottom:-1px;
			border-bottom:1px solid #b61c1c;
			background:url('../img/bg.png') repeat-x left -736px;*/
		}

		section.pagination nav .spacer{
			width:5px;
		}

		section.pagination nav a.next, section.pagination nav a.prev {
			width:60px;
		}

	section.pagination .info {
		position:absolute;
		right:0px;
		top:0px;
		font-size:12px;
	}

		section.pagination .info div{
			position:absolute;
			left:0px;
			top:0px;
			white-space:nowrap;
			padding-top:13px;
			margin-left:20px;
		}

	section.pagination  .filter {
		float:right;
		position:relative;
		top:5px;
	}

section.layout {
	position:relative;
	padding-top:11px;
	padding-left:15px;
	padding-right:15px;
	z-index:2;
}

	section.layout .item {
		display:block;
		position:relative;
		float:left;
		width: 241px;
		height: 164px;
		background:url('../img/sprites.png') no-repeat left -201px;
		margin:1px;
		z-index:2;
	}

	section.layout .models .item {
		background:transparent;
		width: 241px;
		height: 319px;
	}

	section.layout .categories .item {
		background:transparent;
		width: 241px;
		height: 275px;
	}

		section.layout .categories .item  a{
			display:block;
			text-align:center;
			padding-bottom:5px;
			padding-top:3px;
			color:white;
			text-decoration:none;
			font-size:16px;
			line-height:150%;
		}

		section.layout .categories .item  a:hover{
			display:block;
			text-align:center;
			background:#6f1010;
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
		}

		section.layout .item .img {
			position:absolute;
			display:block;
			top:2px;
			left:3px;
			width:235px;
			height:132px;
			overflow:hidden;
			z-index:5;
		}

		section.layout .item .img2 {
			position:absolute;
			display:block;
			top:3px;
			left:3px;
			overflow:hidden;
			z-index:5;
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
		}

		section.layout .item:hover .img2 {
			box-shadow:none;
		}

			section.layout .item .img img{
				width:235px;
				height:132px;
				float:left;
			}

			section.layout .sites .item .img img{
				position:absolute;
				width:231px;
				left:50%;
				margin-left:-116px;
				height:128px;
				top:50%;
				margin-top:-64px;
			}

			section.layout .item .img2 img{
				width:235px;
				height:313px;
				display:block;
			}

			section.layout .item .img3 img{
				width:235px;
				height:235px;
			}

			section.layout .photos .item .img img{
				height:235px;
			}

		section.layout .item .hd {
			position:absolute;
			display:none;
			top:18px;
			left:150px;
			width:34px;
			height:17px;
			overflow:hidden;
			z-index:10;
			background:url('../img/sprites.png') no-repeat -327px -312px;
		}

		section.layout .item .favorite {
			position:absolute;
			cursor:pointer;
			display:none;
			top:10px;
			left:190px;
			width:36px;
			height:36px;
			overflow:hidden;
			z-index:10;
			opacity:0.7;
			background:url('../img/sprites.png') no-repeat -324px -329px;
		}

		section.layout .item .favorite.remove {
			background:url('../img/sprites.png') no-repeat -288px -329px;
		}

		section.layout .item .favorite:hover {
			opacity:1;
		}

		section.layout .item .toolbar {
			display:block;
			position:relative;
			top:0px;
			left:0px;
			width:100%;
			height:164px;
			z-index:0;
		}

			section.layout .categories .item .toolbar {
				display:block;
				position:relative;
				top:0px;
				left:0px;
				width:100%;
				height:296px;
				z-index:0;
			}


			section.layout .item .toolbar .spacer{
				height:138px;
				width:100%;
			}

			section.layout  .categories  .item .toolbar .spacer{
				height:280px;
				width:100%;
			}

				section.layout .models .item  .toolbar .spacer{
					height:319px;
					width:100%;
					position:relative;
					z-index:6;
				}

				section.layout .models .item   a {
					text-decoration:none;
				}

				section.layout .item .toolbar .spacer p{
					height:140px;
					padding-left:116px;
					padding-right:3px;
					color:#ddd;
					font-size:11px;
					cursor:pointer;
				}

				section.layout .item .toolbar .spacer p a{
					left:0;
					padding-top:10px;
					font-size:150%;
				}

				section.layout .item .toolbar .spacer p a:hover{
					text-decoration:underline;
				}

				section.layout .item .toolbar .spacer p span{
					color:#aaa;
				}

				section.layout .models .item .toolbar .spacer p{
					padding:5px;
					height:auto;
					color:#ddd;
					font-size:14px;
					line-height:125%;
					position:absolute;
					bottom:24px;
					z-index:100;
					right:3px;
					background:rgb(137,21,21);
					background:rgba(137,21,21,0.75);
					display:none;
					width:180px;
				}

				section.layout .models .item:hover .toolbar .spacer p{
					display:block
				}

			section.layout .item .toolbar  .head{
				position:relative;
				display:block;
				left:13px;
				width:215px;
				height:18px;
				line-height:18px;
				overflow:hidden;
				text-decoration:none;
				color:#ccc;
				padding-bottom:0px;
			}

			section.layout .sites .item .toolbar  .head{
				text-align:center;
			}

			section.layout .models .item .toolbar  .head{
				position:absolute;
				background:rgb(137,21,21);
				background:rgba(137,21,21,0.75);
				z-index:100;
				bottom:3px;
				left:23px;
				font-size:18px;
				padding:5px;
				width:205px;
				color:white;
			}

			section.layout .models .item:hover .toolbar  .head{
				background:#891515;
				color:white;
			}

			section.layout .item .toolbar .tags {
				display:none;
				color:#ef2b2b;
				position:relative;
			}

			section.layout .item .toolbar .tags p{
				margin:0px;
			}

			section.layout .sites .item .toolbar .tags {
				display:none;
				color:#fff;
				position:relative;
			}

				section.layout .sites .item .toolbar .tags {
					display:none;
					color:#fff;
					position:relative;
				}

				section.layout .item .toolbar .tags .icon {
					position:absolute;
					margin-top:8px;
					left:9px;
					width:15px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -150px top;
				}

				section.layout .item .toolbar .tags .icon-cat {
					position:absolute;
					margin-top:8px;
					left:12px;
					width:12px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -280px top;
				}

                section.layout .item .toolbar .tags .icon-site {
                    position:absolute;
                    margin-top:8px;
                    left:12px;
                    width:14px;
                    height:13px;
                    background:url('../img/sprites.png') no-repeat -294px top;
                }

				section.layout .item .toolbar .tags .icon-models {
					position:absolute;
					margin-top:8px;
					left:12px;
					width:11px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -268px top;
				}

				section.layout .item .toolbar .tags  hr{
					border:0;
					border-top:1px groove #a22;

				}

				section.layout .item .toolbar .tags p{
					display:block;
					padding:5px 28px 10px 30px;
				}

				section.layout  .sites .item .toolbar .tags p{
					font-size:90%;
					padding:5px 10px 10px 10px;
					line-height:150%;
				}

				section.layout  .sites .item .toolbar .tags p span{
					font-weight:bold;
				}

				section.layout .item .toolbar .tags a {
					color:white;
					position:relative;
					margin-right:5px;
				}

				section.layout .item .toolbar .tags a:after {
				  content: ",";
				  position:absolute;
				  bottom:0px;
				  color:#013363;
				  text-decoration:none;
				}

				section.layout .item .toolbar .tags a:last-child:after {
				  content:none;
				  text-decoration:none;
				}

	section.layout .item:hover {
		position:relative;
		z-index:5;
	}

	section.layout .item:hover .head{
		height:auto;
		white-space: normal;
		color:white;
	}

	section.layout .item:hover .toolbar {
		background:#891515;
		height:auto;
		box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
	}

	section.layout .photos .item {
		background:transparent;
		width: 237px;
		height: 264px;
		background:#212121;
		margin:3px;
		box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
	}

	section.layout .photos .item .toolbar {
		height:265px;
		width: 241px;
		margin-left:-2px;
		margin-toP:-1px;
	}

	section.layout .photos .item .spacer {
		height:241px;
	}

	section.layout .photos .item .toolbar span{
		position:absolute;
		bottom:0px;
		display:none;
		z-index:12;
		color:white;
		line-height:20px;
		padding:5px 10px;
	}

	section.layout .photos .item .toolbar span.photos-col{
		width:100%;
		right:0px;
		text-align:right;
		background:rgba(137,21,21,0.8);
		z-index:11;
	}

	section.layout .photos .item .toolbar span.favorite{
		padding:0;
	}

	section.layout .photos .item:hover .toolbar span{
		display:block;
	}


	section.layout .photos .item .toolbar span img{
		height:auto;
		width:auto;
	}

	section.layout .photos .item .img {
		position:absolute;
		display:block;
		top:2px;
		left:3px;
		width:235px;
		height:235px;
		overflow:hidden;
		z-index:5;
	}

	section.layout .item .toolbar:hover, section.layout .item .toolbar:hover .tags, section.layout .item:hover .toolbar .tags, section.layout .item .toolbar:hover .favorite, section.layout .item .toolbar:hover .hd   {
		display:block;
	}

	section.layout .adv-right-300{
		float:right;
		width:300px;
		margin-right:4px;
		height:780px;
		position:relative;
	}

		section.layout .adv-right-300 .block{
			float:right;
			width:300px;
			height:250px;
			margin-bottom:10px;
			background:#222;
			overflow:hidden;
		}

	section.layout #flash-player{
		position:relative;
		margin-right: 320px;
		margin-left: 4px;
	}

         #flash-player p {
             text-align: center;
             position: absolute;
             top: 50%;
             width: 100%
         }

	section.layout .add-info {
		margin-top:10px;
		margin-right: 320px;
		margin-left: 4px;
	}

	section.layout .add-info h3 {
		float:left;
	}

		section.layout .add-info .tags {
			margin-left:300px;
			position:relative;
		}

		section.layout .add-info .tags nav {
			position:relative;
			float:right;
		}

		section.layout .add-info .head {
			position:relative;
			float:left;
			width:100%;
			clear:left;
			margin-top:10px;
		}


		section.layout .add-info .head h3{
			position:absolute;
			bottom:0px;
		}

				section.layout .add-info .tags a {
					display:block;
					font-size:11px;
					float:left;
					color:#1a1818;
					text-decoration:none;
					margin-left:10px;
					margin-bottom:10px;
					position:relative;
				}

				section.layout .add-info .tags  a div {
					float:left;
					display:block;
					background:url('../img/sprites.png') no-repeat -8px -365px;
					height:18px;
					padding-left:3px;
					padding-right:3px;
					text-decoration:none;
					line-height:18px;
					color:white;
				}

				section.layout .add-info .tags  a div.op {
					padding:0px;
					height:18px;
					width:7px;
					background:url('../img/sprites.png') no-repeat 0px -365px;
				}

				section.layout .add-info .tags  a div.end {
					padding:0px;
					height:18px;
					width:1px;
					background:url('../img/sprites.png') no-repeat -7px -365px;
				}

				section.layout .add-info .tags a:hover {
					color:white;
				}

				section.layout .add-info .tags  a:hover div {
					background-position:-8px -383px;
				}

				section.layout .add-info .tags  a:hover div.op {
					background-position:0px -383px;
				}
				section.layout .add-info .tags  a:hover div.end {
					background-position:-7px -383px;
				}

				section.layout .add-info .tags .clearfix_bg {
					position:absolute;
					height:2px;
					background:url('../img/sprites.png') no-repeat right -401px;
					width:350px;
					bottom:0px;
					right:0px;
				}

		section.layout .add-info .linkforfiles {
			float:left;
			margin-bottom:2px;
			margin-top:10px;
		}

			section.layout .add-info .linkforfiles a {
				display:block;
				float:left;
				text-decoration:none;
				font-size:16px;
				color:#1a1818;
				font-weight:bold;
				font-family:arial;
				margin-right:3px;
			}

			section.layout .add-info .linkforfiles a:hover {
				color:#fff;
			}

				section.layout .add-info .linkforfiles a.mob {
					padding-left:53px;
					padding-top:12px;
					width:88px;
					height:31px;
					background:url('../img/sprites.png') no-repeat 0px -403px;
				}

					section.layout .add-info .linkforfiles a.mob:hover {
						background-position: 0px -446px;
					}

					section.layout .add-info .linkforfiles a.mob:active {
						background-position: 0px -597px;
					}

				section.layout .add-info .linkforfiles a.mov {
					padding-left:63px;
					padding-top:7px;
					width:88px;
					height:36px;
					background:url('../img/sprites.png') no-repeat -141px -403px;
				}

					section.layout .add-info .linkforfiles a.mov:hover {
						background-position: -141px -446px;
					}

					section.layout .add-info .linkforfiles a.mov:active {
						background-position: -141px -597px;
					}


				section.layout .add-info .linkforfiles a.wmv {
					padding-left:63px;
					padding-top:7px;
					width:78px;
					height:36px;
					background:url('../img/sprites.png') no-repeat 0px -489px;
				}

					section.layout .add-info .linkforfiles a.wmv:hover {
						background-position: 0px -532px;
					}

					section.layout .add-info .linkforfiles a.wmv:active {
						background-position: 0px -640px;
					}

				section.layout .add-info .linkforfiles a.fhd {
					position:relative;
					margin-top:-5px;
					padding-left:105px;
					padding-top:12px;
					width:97px;
					height:42px;
					background:url('../img/sprites.png') no-repeat -158px -489px;
				}

					section.layout .add-info .linkforfiles a.fhd:hover {
						background-position: -158px -543px;
					}

					section.layout .add-info .linkforfiles a.fhd:active {
						background-position: -158px -640px;
					}

			section.layout .add-info .linkforfiles a small{
				display:block;
				font-size:10px;
				color:#1a1818;
				font-weight:bold;
			}

		section.layout .add-info hr {
			clear:left;
			border:0;
			border-top:2px groove #444;
			border-bottom:0px solid #eee;
			line-height:0;
		}

		section.layout .add-info .bar {
			position:relative;
			float:left;
			width:100%;
			clear:left;
		}
			section.layout .add-info .bar .models{
				position:relative;
				float:left;

				padding-top:10px;
				padding-left:20px;
			}

				section.layout .add-info .bar .models span{
					float:left;
				}

				section.layout .add-info .bar .models div{
					margin-left:50px;
				}

					section.layout .add-info .bar .models div a{
					white-space:nowrap;
				}

				section.layout .add-info .bar .models .heart {
					margin:0;
					position:absolute;
					top:12px;
					left:2px;
					width:13px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -137px -13px;
				}

			section.layout .add-info .bar .rating{
				position:relative;
				float:left;
				padding-top:10px;
				padding-left:20px;
				margin-left:10px;
			}

				section.layout .add-info .bar .rating span{
					float:left;
				}

				section.layout .add-info .bar .rating div{
					margin-left:50px;
				}

				section.layout .add-info .bar .rating div  a{
					display:block;
					margin-top:1px;
					margin-right:5px;
					float:left;
					width:14px;
					height:14px;
					background:url('../img/sprites.png') no-repeat -173px 0px;

				}

					section.layout .add-info .bar .rating div  a.selected{
						background:url('../img/sprites.png') no-repeat -187px 0px;
					}

				section.layout .add-info .bar .rating .chart {
					margin:0;
					position:absolute;
					top:12px;
					left:3px;
					width:11px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -150px -13px;
				}

			section.layout .add-info .bar .cats{
				position:relative;
				float:right;
				padding-top:10px;
				padding-left:20px;
			}

				section.layout .add-info .bar .cats .film {
					margin:0;
					position:absolute;
					top:12px;
					left:3px;
					width:13px;
					height:13px;
					background:url('../img/sprites.png') no-repeat -278px -13px;
				}

		section.layout .add-info .comment {
			position:relative;
			clear:left;
			background:#222;
			border-radius:1px;
			border:1px solid #313131;
			margin-top:10px;
			padding:10px 15px;
			color:#ddd;
			margin-right:150px;
		}

			section.layout .add-info .comment .add_fav{
				position:absolute;
				right:-150px;
				top:50%;
				margin-top:-9px;
				height:18px;
			}

				section.layout .add-info .comment .add_fav a {
					position:relative;
					color:#ccc;
					line-height:18px;
				}

				section.layout .add-info .comment .add_fav a:hover {
					color:#fff;
				}

				section.layout .add-info .comment .add_fav a div {
					position:absolute;
					top:50%;
					margin-top:-18px;
					left:-40px;
					width:36px;
					height:36px;
					background:transparent url(../img/sprites.png) -324px -329px;
				}

				section.layout .add-info .comment .add_fav a:hover div{
					background:transparent url(../img/sprites.png) -288px -329px;
				}

	section.layout .sitelink {
		position:relative;
		height:108px;
		overflow:hidden;
		margin-top:10px;
	}
		section.layout .sitelink .imgbg {
			position:absolute;
			top:1px;
			left:1px;
			width:170px;
			height:100px;
			padding:3px;
			background:transparent url(../img/sprites.png) -417px -295px;
			z-index:3;
		}
			section.layout .sitelink .imgbg img{
				width:170px;
				height:100px;
			}

		section.layout .sitelink .imgdsc {
			position:absolute;
			top:0px;
			left:0px;
			width:60px;
			height:50px;
			padding:3px;
			background:transparent url(../img/sprites.png) -360px -403px;
			z-index:4;
		}

		section.layout .sitelink .dbar {
			position:relative;
			margin-top:6px;
			margin-left:176px;
			margin-right:22px;
			font-size:20px;
			line-height:50px;
			padding-left:10px;
			height:50px;
			background:transparent url(../img/bg.png) repeat-x -0px -1069px;
			color:#1a1818;
			text-align:center;
		}
			section.layout .sitelink .dbar b:first-child {
				color:white;
			}

			section.layout .sitelink .dbar u {
				text-decoration:line-through;
			}

			section.layout .sitelink .dbar .bar-end{
				position:absolute;
				top:0px;
				right:-22px;
				width:22px;
				height:50px;
				background:transparent url(../img/sprites.png) -433px -403px;

			}

			section.layout .sitelink .dbar small {
				font-size:14px;
			}

			section.layout .sitelink .join {
				position:relative;
				display:block;
				margin-top:10px;
				margin-left:auto;
				margin-right:auto;
				/*top:65px;left:186px;*/
				height:43px;
				/*float:left;
				max-width:270px;*/
				text-decoration:none;
				max-width:500px;
			}

				section.layout .sitelink .join div{
					float:right;width:10px;
					height:43px;
					background:transparent url(../img/sprites.png) -10px -1015px;
				}

				section.layout .sitelink .join div:first-child{
					float:left;
					background-position:-0px -1015px;
				}

				section.layout .sitelink .join span {
					position:relative;
					margin-left:10px;
					margin-right:10px;
					display:block;
					line-height:40px;
					height:43px;
					padding:0px 10px;
					background:transparent url(../img/sprites.png) -20px -1015px;
					color:#1a1818;
					font-size:16px;
					text-decoration:none;
					font-weight:bold;
					text-align:center;
				}

				section.layout .sitelink .join:hover div {
					background-position:-10px -1058px;
				}


				section.layout .sitelink .join:active div {
					background-position:-10px -1101px;
				}

				section.layout .sitelink .join:hover span {
					color:white;
					background-position:-20px -1058px;
				}

				section.layout .sitelink .join:hover div:first-child {
					background-position:-0px -1058px;
				}


				section.layout .sitelink .join:active div:first-child {
					background-position:-0px -1101px;
				}

				section.layout .sitelink .join:active span {
					color:#000;
					background-position:-20px -1101px;
				}


				section.layout .sitelink .join  hr {
					clear:both;
					border:0;
					height:0px;margin:0;
				}

			section.layout .sitelink .sitelink-add {
				position:absolute;
				top:65px;
				right:25px;
				height:43px;
				float:left;
				font-weight:bold;
				text-align:center;
				line-height:21px;
				font-size:14px;
				color:white;
			}
				section.layout .sitelink .sitelink-add b {
					color:#e52a2a;
				}

section.layout .discount {
		position:relative;
		height:108px;
		overflow:hidden;
		margin-top:10px;
	}
		section.layout .discount .imgbg {
			position:absolute;
			top:1px;
			left:1px;
			width:170px;
			height:100px;
			padding:3px;
			background:transparent url(../img/sprites.png) -417px -295px;
			z-index:3;
		}
			section.layout .discount .imgbg img{
				width:170px;
				height:100px;
			}

		section.layout .discount .imgdsc {
			position:absolute;
			top:0px;
			left:0px;
			width:60px;
			height:50px;
			padding:3px;
			background:transparent url(../img/sprites.png) -360px -403px;
			z-index:4;
		}

		section.layout .discount .dbar {
			position:relative;
			margin-top:6px;
			margin-left:176px;
			margin-right:22px;
			font-size:20px;
			line-height:50px;
			padding-left:10px;
			height:50px;
			background:transparent url(../img/bg.png) repeat-x -0px -1069px;
			color:#1a1818;
			text-align:center;
		}
			section.layout .discount .dbar b:first-child {
				color:white;
			}

			section.layout .discount .dbar u {
				text-decoration:line-through;
			}

			section.layout .discount .dbar .bar-end{
				position:absolute;
				top:0px;
				right:-22px;
				width:22px;
				height:50px;
				background:transparent url(../img/sprites.png) -433px -403px;

			}

			section.layout .discount .dbar small {
				font-size:14px;
			}

			section.layout .discount .join {
				position:relative;
				display:block;
				margin-top:10px;
				margin-left:auto;
				margin-right:auto;
				/*top:65px;left:186px;*/
				height:43px;
				/*float:left;
				max-width:270px;*/
				text-decoration:none;
				max-width:500px;
			}

				section.layout .discount .join div{
					float:right;width:10px;
					height:43px;
					background:transparent url(../img/sprites.png) -10px -1015px;
				}

				section.layout .discount .join div:first-child{
					float:left;
					background-position:-0px -1015px;
				}

				section.layout .discount .join span {
					position:relative;
					margin-left:10px;
					margin-right:10px;
					display:block;
					line-height:40px;
					height:43px;
					padding:0px 10px;
					background:transparent url(../img/sprites.png) -20px -1015px;
					color:#1a1818;
					font-size:16px;
					text-decoration:none;
					font-weight:bold;
					text-align:center;
				}

				section.layout .discount .join:hover div {
					background-position:-10px -1058px;
				}


				section.layout .discount .join:active div {
					background-position:-10px -1101px;
				}

				section.layout .discount .join:hover span {
					color:white;
					background-position:-20px -1058px;
				}

				section.layout .discount .join:hover div:first-child {
					background-position:-0px -1058px;
				}


				section.layout .discount .join:active div:first-child {
					background-position:-0px -1101px;
				}

				section.layout .discount .join:active span {
					color:#000;
					background-position:-20px -1101px;
				}


				section.layout .discount .join  hr {
					clear:both;
					border:0;
					height:0px;margin:0;
				}

			section.layout .discount .discount-add {
				position:absolute;
				top:65px;
				right:25px;
				height:43px;
				float:left;
				font-weight:bold;
				text-align:center;
				line-height:21px;
				font-size:14px;
				color:white;
			}
				section.layout .discount .discount-add b {
					color:#e52a2a;
				}


	section.layout .modelblock {
		margin-top:10px;
		margin-right: 320px;
		margin-left: 4px;
		color:#ссс;
		line-height:150% !important;
	}

		section.layout .modelblock * {
			line-height:125% !important;
		}

		section.layout .modelblock h3 {
			padding-top:20px;
		}

		section.layout .modelblock h2 {
			padding-top:10px;
			font-size:400%;
		}

		section.layout .modelblock span {
		}

		section.layout hr {
			border:0;
			border-top:2px groove #444;
			border-bottom: 0px solid #eee;
			margin:5px 0px;
		}

		section.layout .modelblock .modelimg{
			width:211px;
			height:279px;
			float:left;
			border:2px solid #ddd;
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
		}


		section.layout .modelblock .modelsinfo{
			margin-left:33.5%;
			padding-left:10px;
		}

		section.layout .modelblock .modelssite a{
			display:block;
			float:left;
			text-align:center;
			height:120px;
			margin:9px;
			padding-bottom:4px;
			color:white;
			text-decoration:none;
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
			background:#222;
		}
			section.layout .modelblock .modelssite a:hover {
			color:#d70d0d;
			box-shadow:0px 0px 10px 0px rgba(0,0,0,0.75);
			}

			section.layout .modelblock .modelssite a img{
				width:170px;
				height:100px;
			}

	section.layout .siteblock {
		position:relative;
	}
		section.layout .siteblock  a{
			display:block;
			float:left;
			width:300px;
			height:190px;
			border:2px solid #212121;
			box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
		}

		section.layout .siteblock .info {
			margin-left:320px;
		}

			section.layout .siteblock .info p {
				line-height:150%;
			}
			section.layout .siteblock .info p span {
				font-weight:bold;
			}

	section.layout .adv-banner {
		width:728px;
		height:90px;
		overflow:hidden;
		background:#222;
		margin:10px auto;
	}

	section.layout .form  fieldset {
		border:2px groove #eee;
		padding:10px 20px;
		border-radius:4px;
	}

		section.layout .form  fieldset legend {
			padding:10px;
			background:#eee;
			border:2px groove #eee;
			font-size:130%;
			margin-left:-12px;
			border-radius:4px;
		}

		section.layout .form  fieldset label {
			width:150px;
			text-align:right;
			margin-right:10px;
			display:block;
			float:left;
			padding-top:6px;
		}

		section.layout .form  fieldset input:not([type=submit]){
			padding:5px 10px;
			border:1px solid #999;
			background:#aaa;
			border-radius:4px;
		}
		input:-webkit-autofill  {
			background:#aaa;
		}

		section.layout .form  fieldset input:focus:not([type=submit]){
			padding:5px 10px;
			border:1px solid #fff;
			background:#ddd;
			border-radius:4px;
			box-shadow:0px 0px 10px 0px rgba(255,255,255,0.3);
		}

		section.layout .form  fieldset input[type=submit]{
			padding:5px 10px;
			margin-left:160px;
		}

		section.layout .form  fieldset a {
			margin-left:160px;
		}

		section.layout .form  fieldset span:not(.check) {
			padding-left:160px;
			display:block;
		}

		section.layout .form .rinfo{
			font-size:80%;
			color:#666;
			padding-left:160px;
		}

/* Tabs
------------------------------------------------------------- */
.rtabs {
}
dl.rtabs {
	clear: left;
	display: block;
	height: 32px;
	padding: 0px;
	border-bottom:2px groove #444;
}
dl.rtabs dt, ul.rtabs li, dl.rtabs div.pi {
	display: inline-block;
	float: left;
	position:relative;
	border-bottom: none;
	cursor: pointer;
	margin-left:13px;
	margin-right:10px;
	background:url(../img/sprites.png) no-repeat -20px -1016px;
	height:32px;
}

	dl.rtabs dt .left, dl.rtabs div.pi  .left  {
		position:absolute;
		left:-10px;
		top:0px;
		height:100%;
		width:10px;
		background:url(../img/sprites.png) no-repeat 0px -1016px;
	}

	dl.rtabs dt .right, dl.rtabs div.pi  .right  {
		position:absolute;
		right:-10px;
		top:0px;
		height:100%;
		width:10px;
		background:url(../img/sprites.png) no-repeat -10px -1016px;
	}


dl.rtabs dt a, dl.rtabs div.pi a, ul.rtabs li a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	font-weight: bold !important;
	font-family:Arial;
	padding:8px 10px 0px 10px;
	display:block;
}
dl.rtabs dt:hover, dl.rtabs div.pi:hover, dl.rtabs dt:focus, dl.rtabs dt:active, ul.rtabs li:hover, ul.rtabs li:focus, ul.rtabs li:active {
	background:url(../img/sprites.png) no-repeat -20px -1059px;
}

	dl.rtabs dt:hover .left, dl.rtabs div.pi:hover .left {
		background:url(../img/sprites.png) no-repeat 0px -1059px;
	}

	dl.rtabs dt:hover .right, dl.rtabs div.pi:hover .right {
		background:url(../img/sprites.png) no-repeat -10px -1059px;
	}


dl.rtabs dt a:hover, dl.rtabs dt a:hover, ul.rtabs a:hover {
	color: #000;
}
dl.rtabs dt.active, dl.rtabs dt.active:focus, ul.rtabs li.active, ul.rtabs li.active:hover, ul.rtabs li.active:focus, ul.rtabs li.current, ul.rtabs li.current:hover, ul.rtabs li.current:focus {
	cursor: default;
	color: #000;
	background:url(../img/sprites.png) no-repeat -20px -1059px;
}

	dl.rtabs dt.active .left, dl.rtabs div.pi.active .left {
		background:url(../img/sprites.png) no-repeat 0px -1059px;
	}

	dl.rtabs dt.active .right, dl.rtabs div.pi.active .right {
		background:url(../img/sprites.png) no-repeat -10px -1059px;
	}

dl.rtabs dt:active , dl.rtabs div.pi:active {
		background:url(../img/sprites.png) no-repeat -20px -1102px;
	}

	dl.rtabs dt:active .left, dl.rtabs div.pi:active .left {
		background:url(../img/sprites.png) no-repeat 0px -1102px;
	}

	dl.rtabs dt:active .right, dl.rtabs div.pi:active .right {
		background:url(../img/sprites.png) no-repeat -10px -1102px;
	}

dl.rtabs dt.active a, ul.rtabs li.active a, ul.rtabs li.current a {
	cursor: default;
	color: #000;
}
dl.rtabs dd {
	display: none;
	margin: 33px 0px 1px -100%;
	padding: 0px;
	padding-top:10px;
	float: right;
	width: 100%;
	border-top:0px solid #eee;
}
dl.rtabs dd.active {
	display: block;
}
/* Comments
----------------------------------------------------------------------------- */
.rcomment {
    font-size: 12px;
	margin: 5px 3px 5px 3px;
	padding: 5px;
	clear: both;
	overflow: hidden;
	display: block;
	border-top: 1px #0a0a0a solid;
}
.rcomment a {
    float: right;
}
.rcomment a.avatar {
	float: left;
	display: block;
	margin-right: 10px;
	text-decoration: none;
	font-size: 12px;
	color: #666;
}
.rcomment a.avatar:hover {
	color: #FF0000;
}
.rcomment a.avatar img {
	display: block;
	margin: 5px;
}
.rcomment a.avatar small {
	display: block;
	font-size: 10px;
	color: #999;
    width: 54px;
}
.rcomment span {
	display: inline;
	color: #ccc;
    font-size: 13px;
}

fieldset {
	margin: 5px;
	padding: 1em;
	border: 1px #333 solid;
	display: block;
	overflow: visible;
}
fieldset p {
	margin: 2px 12px 10px 10px !important;
	overflow: visible;
}
fieldset p.rinfo{
	color: #666;
}
fieldset label {
	display: block;
	margin: 1px;
	padding: 1px;
}
fieldset label.inline {
	display: inline;
}
fieldset legend {
	font-size: 20px;
	padding: 2px 4px 10px 4px;
	color: #666;
	font-weight: 600;
}
fieldset input[type=text], fieldset  input[type=file], fieldset  input[type=password], fieldset  select, fieldset textarea {
	border: 1px #999 solid;
	padding:5px;
	background:#aaa;
	border-radius: 4px;
}
fieldset input[type=submit], fieldset  input[type=button] {
	margin: 3px 0px 0px 2px;
	background: url('../img/sprites.png')no-repeat -20px -1059px;
	padding: 7px 14px 7px 14px;
	border:0;
	border-radius:10px;
	font-weight:bold;
	box-shadow:0px 2px 4px 0px rgba(0,0,0,0.3);
}
fieldset input[type=submit]:hover, fieldset  input[type=button]:hover {
	background: url('../img/sprites.png')no-repeat -20px -1016px;
	color: #FFF;
	cursor: pointer;
}

fieldset input[type=submit]:active, fieldset  input[type=button]:active {
	background: url('../img/sprites.png')no-repeat -20px -1102px;
	color: #FFF;
	cursor: pointer;
}

fieldset input[type=text], fieldset input[type=password] {
	width: 320px;
}
fieldset input[type=text].date {
	width: 70px;
}
fieldset input[type=text]:hover, fieldset input[type=password]:hover, fieldset select:hover, fieldset textarea:hover, fieldset input[type=text]:focus, fieldset input[type=password]:focus, fieldset select:focus, fieldset textarea:focus {
	border-color: #fff;
	background:#eee;
}

dd .pagination nav {
	border:0;
}

/*----------------------------------------------------------------------------- */
#ph-gallery {
	position:relative;
	margin-right: 320px;
	margin-left: 4px;
}

	#i-viewer {
		position:relative;
		background:#000;
		/*border:1px solid #666;*/
		overflow:hidden;
	}

	#i-viewer:hover {
		/*border:1px solid #ccc;*/
	}

		#bpc {
			display:block;
			position:relative;
			top:10px;
			left:10px;
			right:10px;
			bottom:10px;
			overflow:hidden;
		}

		#bpc .c{
			display:table;
			width:100%;
			height:100%;
		}


		#bpc .c div{
			display:table-cell;
			text-align:center;
			vertical-align:middle;
			overflow:hidden;
                        width: 640px;
                        height: 480px;
		}
			#bpc .c div img{
				cursor:pointer;
				display:none;
			}

		#i-viewer a {
			position:absolute;
			top:0px;
			height:100%;
			width:15%;
		}

		#i-viewer a:hover {
			background-color:rgba(255,255,255,0.4);
		}

		#i-viewer a.next {
			right:0px;
		}

			#i-viewer a div{
				position:absolute;
				width:50px;
				height:80px;
				background:#ccc;
				top:50%;
				left:50%;
				margin-top:-40px;
				margin-left:-25px;
				background:url('../img/sprites.png') -0px -694px;
				opacity:0;
			}

			#i-viewer a.next div {
				background-position: -50px -694px;
			}

			#i-viewer:hover a div {
				opacity:0.5;
			}

			#i-viewer a:hover div {
				opacity:1;
			}

		#i-viewer span {
			position:absolute;
			width:80px;
			height:80px;
			background:#ccc;
			right:15%;
			cursor:pointer;
			margin-right:20px;
			bottom:20px;
			background:rgba(255,255,255,0.4) url('../img/sprites.png') -513px -614px;
			opacity:0;
		}

		#i-viewer:hover span {
			opacity:0.5;
		}

		#i-viewer span:hover {
			opacity:1;
		}

		#i-viewer span.play {
			margin-right:110px;
			background-position: -433px -614px;
		}

		#i-viewer span.pause {
			margin-right:110px;
			background-position: -513px -534px;
		}

	#i-iconscroller {
		position:relative;
		height:110px;
		overflow:hidden;
	}
		#ilc {
			position:relative;
			margin-left:125px;
			margin-right:125px;
			height:110px;
			overflow:hidden;
		}

			#ilc .ill{
				position:absolute;
				top:0px;
				left:0px;
				height:140px;
			}

				#ilc .ill img {
					margin:10px 5px;
					display:block;
					position:relative;
					float:left;
					cursor:pointer;
					width:120px;
					height:90px;
					opacity:0.7;
				}

				#ilc .ill img:hover {
					opacity:1;
					box-shadow:0px 0px 10px 0px rgba(0,0,0,0.7);
				}

				#ilc .ill img.active {
					margin:8px 3px;
					border:2px solid #ccc;
					box-shadow:0px 0px 10px 2px rgba(0,0,0,0.7);
					z-index:2;
					opacity:1;
				}

		#i-iconscroller a{
			position:absolute;
			top:10px;
			height:90px;
			width:120px;
			left:0px;
			background:transparent;
		}

		#i-iconscroller a:hover{
			background:#242121;
		}

		#i-iconscroller a.next {
			left:auto;
			right:0px;
		}

			#i-iconscroller a div {
				position:absolute;
				width:60px;
				height:80px;
				background:#ccc;
				top:50%;
				left:50%;
				margin-top:-40px;
				margin-left:-30px;
				background:url('../img/sprites.png') -0px -774px;
				opacity:0.5;
			}

			#i-iconscroller a.next div {
				background-position: -60px -774px;
			}

			#i-iconscroller a:hover div{
				opacity:1;
			}


/*----*/

@media screen and (min-width: 1490px) {
    .wrapper {width:1460px;}
	section.layout #flash-player {
		height: 670px;
		background:#000;
	}
	section.layout .modelimg {
		width: 370px !important;
		height: 490px !important;
	}
   }

@media screen and (max-width: 1489px) {
    .wrapper {width: 1216px;}
    section.layout #flash-player  {
		height: 537px;
		background:#000;
	}
	section.layout .modelimg {
		width: 290px !important;
		height: 384px !important;
	}
   }

@media screen and (max-width: 1240px) {
    .wrapper {width: 972px;}
    section.layout #flash-player {
		height: 390px;
		background:#000;
	}
	section.layout .modelimg {
		width: 211px !important;
		height: 279px !important;
	}
   }
   }

.photoarrowleft, .photoarrowright, .photoscroll {
    height: 130px;
    text-decoration: none;
    display: -moz-inline-stack;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.photoarrowleft, .photoarrowright {
    background-position:  center center;
    background-repeat: no-repeat;
    width: 30px;
    background-color: #EEE;
}
.photoarrowleft:hover, .photoarrowright:hover {
    background-color: #FFE8DD;
}
.photoarrowleft {
    background-image: url('../img/imageNavLeft.gif');
   	border-top-left-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
}
.photoarrowright {
    background-image: url('../img/imageNavRight.gif');
  	 border-top-right-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;

}
.photorotate {
    text-align: center;
    width: 100%;
    margin: 5px 0 5px 0;
}
.photoscroll {
    width: 88% !important;
}
img.photo {
	width: 160px;
	height: 120px;
	background: url('../img/loading160x120.gif') no-repeat center;
	margin: 5px 1px 1px 1px;
	border: 2px #333 solid;
}
img.photoactive {
    border-color: red;
}
img.photo:hover {
    border-color: #ed641a;
}

/*-- ExoClick Ad. PopUp--*/
.allIM {
	display: block;
	width: 100%;
	left: 0px;
	bottom: 0px;
	position: fixed;
	z-index: 9998;
	height: 0;
}

.allIMwindow {
	display: block;
	width: 377px;
	height: 323px;
	top: 0px;
	right: 10px;
	position: absolute;
	z-index: 9999;
	background:url('../img/sprites.png') -0px -1295px;
	font-family: Arial;
	font-size: 11px;
}

.allIMwindow-header {
	line-height: 25px;
	width: 314px;
	height: 30px;
	background-repeat: repeaet-none;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-left: 14px;
	padding-bottom: 0px;
	margin: 0px;
}

.allIMwindow-header-close{
	display: block;
	position: absolute;
	top: 6px;
	right: 8px;
	width:26px;
	height:26px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	background:url('../img/sprites.png') -377px -1295px;
}

.allIMwindow-header-close:hover{
	background-position:-377px -1321px;
}

.allIMwindow-header-close:active{
	background-position:-377px -1347px;
}

.IMcontent {
	width: 300px;
	position:absolute;
	top:35px;
	left:40px;
}

/*-- ExoClick Ads. Close&Plat--*/

.close2play-ads {	/*:2652*/
    width: 638px !important;
    height: 366px !important;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -314px !important;
    margin-top: -183px !important;
    background: url('../img/c2pbg.png') -0px -0px !important; /*Õàìåíèòü àäðåñ ôàéëà ñ ïîäëîæêîé*/
    z-index: 10000;
}

    .close2play-ads iframe:last-child { /*:2665*/
        border: 0 !important;
        position: absolute;
        top: 30px;
        right: 14px;
    }

    .close2play-ads iframe:first-child { /*add class*/
        left:5px;
        right:auto;
        top: 23px;
    }

    .close2play-ads div:last-child {/*:2672*/
        position: absolute;
        width: 299px;
        height: 51px !important;
        color: rgba(0, 0, 0, 0) !important;
        top: 290px;
        left: 50%;
        margin-left:-149px;
        cursor: pointer;
        font-size: 0px !important;
        background: url('../img/sprites.png') -0px -2067px !important;
    }

	.close2play-ads div:hover {
		background-position: -0px -2118px !important;
	}

	.close2play-ads div:active {
		background-position: -0px -2169px !important;
	}

.close2play-ads-small {
    width: 328px !important;
    height: 366px !important;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -164px !important;
    margin-top: -183px !important;
    background:url('../img/sprites.png') -0px -1618px !important;
    z-index: 10000;
}

.close2play-ads-small  iframe {
    border:0 !important;
    position:absolute;
    top:30px;
    left:14px;
}

.close2play-ads-small div {
    position:absolute;
    width:299px;
    height:51px !important;
    color:transparent !important;
    top: 290px;
    left:23px;
    cursor:pointer;
    background:url('../img/sprites.png') -0px -2067px !important;
}

.close2play-ads-small div:hover {
    background-position: -0px -2118px !important;
}

.close2play-ads-small div:active {
    background-position: -0px -2169px !important;
}

/*-- Bottom Adware --*/

#b-adw {
	position:relative;
	width:940px;
	height:250px;
	margin:auto;
}