@charset "gb2312";
/*---------------- news list --------------*/
.news-list-type li {
    overflow: hidden;
    width: 100%;
    float: left;
    height: 34px;
    line-height: 34px;
}

.news-list-type li a {
    display: block;
    font-size: 16px;
    color: #666666;
    text-indent: 17px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/flag-bg.png") no-repeat -6px -23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-list-type li a:hover {
    color: #0e9bec;
    background-position: -6px 7px !important;
}

.news-list-type-s li a {
    background-position: -6px -53px;
}

.news-list-type2 li {
    position: relative;
    height: 120px;
    padding: 22px 0;
    border-bottom: 1px solid #eee;
}

.news-list-type2 li img {
    float: left;
}

.news-list-type2 li .text-wrap {
    width: 502px;
    float: right;
}

.news-list-type2 li h4 {
    height: 22px;
    padding-top: 3px;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
}

.news-list-type2 li h4 a {
    color: #333;
}

.news-list-type2 li p {
    margin-top: 20px;
    font-size: 14px;
    color: #747373;
    line-height: 24px;
}

.news-list-type2 li .flag-team {
    position: absolute;
    left: 183px;
    bottom: 25px;
}

.news-list-type2 li .flag-team span {
    float: left;
    height: 16px;
    padding: 0 3px;
    margin-right: 12px;
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: #FB9E31;
    border: 1px solid #FB9E31;
}
.news-list-type2 li .flag-teams {
    position: absolute;
    left: 183px;
    bottom: 50px;
}

.news-list-type2 li .flag-teams span {
    float: left;
    height: 16px;
    padding: 0 3px;
    margin-right: 12px;
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: #FB9E31;
    border: 1px solid #FB9E31;
}
.news-list-type2 li .flag-team em {
    position: relative;
    top: 3px;
    font-size: 14px;
    font-style: normal;
    color: #FB9E31;
}

.news-list-type2 li .flag-team i {
    color: #b3b3b3;
    font-style: normal;
}

.news-list-type2 li .icon-hot {
    position: absolute;
    left: -3px;
    top: 22px;
}

.icon-hot {
    display: inline-block;
    width: 34px;
    height: 27px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") no-repeat -87px -40px;
}

.news-list-type3 li {
    position: relative;
    padding: 22px 0 0px;
}

.news-list-type3 li img {
    float: left;
    border: 1px solid #eee;
}

.news-list-type3 li .text-wrap {
    width: 176px;
    float: right;
}

.news-list-type3 li h4 {
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    overflow: hidden;
}

.news-list-type3 li h4 a {
    color: #333;
}

.news-list-type3 li p {
    margin-top: 10px;
    font-size: 14px;
    color: #747373;
    line-height: 24px;
}

/*---------------- article type --------------*/
.article-type img {
    display: block
}

.article-type h4 {
    height: 20px;
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 30px;
    overflow: hidden;
    font-weight: normal;
}

.article-type h4 a {
    color: #333;
}

.article-type h4 a:hover {
    color: #0e9bec;
}

/*----------------- title ------------*/
.title-type {
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: normal;
    color: #404040;
    border-bottom: 1px solid #EEE;
}

.title-type a {
    color: #404040;
}

/*----------------- tab ------------*/
.tab-title {
    height: 36px;
    border-bottom: 1px solid #eee;
}

.tab-title a {
    float: left;
    margin-right: 30px;
    font-size: 24px;
    line-height: 24px;
    color: #404040;
}

.tab-title a.active {
    height: 35px;
    color: #FF9E05;
    border-bottom: 1px solid #FF9E05;
}

.tab-title a:hover {
    text-decoration: none;
}

.tab-content .tab-item {
    display: none;
}

.tab-title-yellow a.active {
    color: #0e9bec;
    border-bottom: 1px solid #0e9bec;
}

/*---------------- layout ----------------*/
.layout {
    width: 1100px;
    margin: 0 auto;
}

.site-top-bar {
    height: 53px;
    background-color: #333;
}

.site-top-bar .site-slogan {
    float: left;
    /*width: 266px;*/
    /*height: 18px;*/
    /*margin-top: 15px;*/
    /*background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png");*/
}

.site-top-bar .link {
    float: right;
    margin-top: 14px;
    margin-left: 30px;
    color: #fff;
}

.site-top-bar .search-bar {
    position: relative;
    float: right;
    width: 135px;
    height: 26px;
    margin-top: 11px;
    margin-left: 35px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") 0 -78px;
}

.site-top-bar .search-bar .search-btn {
    position: absolute;
    top: -1px;
    right: 0;
    width: 28px;
    height: 28px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") 0 -40px;
    cursor: pointer;
}

.site-top-bar .search-bar input {
    width: 90px;
    height: 26px;
    padding: 0 10px;
    color: #fff;
    background: none;
    border: 0;
}

.site-top-bar .login-btn {
    float: right;
    height: 53px;
    padding: 0 17px;
    margin-right: 27px;
    font-size: 17px;
    line-height: 48px;
    color: #fff;
    background-color: #FDB01D;
    border-bottom: 4px solid #E19505;
}

.site-main-nav {
    /*height: 239px;*/
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/site-nav-bg_02.jpg") center 0
}

.site-main-nav h1 {
    float: left;
    /*margin-top: 30px;*/
}

.site-main-nav .nav {
    float: right;
    width: 767px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: -40px;
}

.site-main-nav .nav a {
    float: left;
    width: 81px;
    margin-top: 20px;
    font-size: 16px;
    color: #404040;
}

.index-ad1 {
    /*margin-top: 5px;*/
}

.site-sub-nav {
    height: 71px;
    overflow: hidden;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/quick-link-bg_03.jpg");
}

.site-sub-nav a.link {
    float: left;
    height: 71px;
    padding: 0 17px;
    font-size: 16px;
    line-height: 83px;
    color: #404040;
}

.site-sub-nav a.link:hover {
    text-decoration: none;
    background-color: #FCAF24;
}

.site-sub-nav .right-area .link {
    float: right;
}

.yyfsj-tab-title a.yyfsj {
    width: 132px;
    height: 24px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") 0 -140px no-repeat;
    margin-right: 0;
}

.yyfsj-tab-title a.mxkjf {
    width: 124px;
    height: 24px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") -132px -140px no-repeat;
}

.yyfsj-tab-title a.active {
    border-bottom: 0;
}

.footer-photo {
    height: 362px;
    margin-top: 100px;
    margin-bottom: 100px;
    /*background: url(../images/footer-photo_34.jpg) no-repeat center 0;*/
}

.to-top-wrap {
    position: fixed;
    width: 40px;
    left: 50%;
    margin-left: 572px;
    bottom: 200px;
}

.to-top-wrap .past-article {
    display: block;
    width: 39px;
    height: 41px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") 0 -172px;
    position: relative;
}

.to-top-wrap .past-article .calWrapper {
    /*display: none;*/
    position: absolute;
    top: -2px;
    left: -168px;
}

.calWrapper {
    display: none;
    width: 140px;
    margin: 2px;
    background: #fff;
    z-index: 99999;
    zoom: 1;
}

.calWeek {
    width: 130px;
    color: #576673;
    height: 21px;
    padding-left: 6px;
    line-height: 21px;
    float: left;
    border-bottom: 1px solid #d9d9d9;
    background: #F7FCFE;
}

.calWeek b {
    width: 30px;
    display: block;
    float: left;
    font-size: 12px;
    text-align: center;
}

.calendar {
    border: 1px solid #d2d2d2;
    background: #FFF;
    position: absolute;
    margin: 0;
    padding: 5px 0 0 5px;
    float: left;
    font-family: Verdana, Arial;
    font-size: 10px;
    width: 160px;
    z-index: 99999;
    zoom: 1;
}

.calendar td {
    text-align: center;
    height: 18px;
    line-height: 20px;
    background: #fff;
}

.calendar td span, .calendar td a, .calendar td a:visited {
    width: 20px;
    height: 18px;
    display: block;
    font-size: 10px;
    line-height: 17px;
    color: #000;
    text-decoration: underline;
    background: #F0F0F0;
}

.calendar td span {
    text-decoration: none;
}

.calendar td a:hover {
    text-decoration: none;
    background: #d9d9d9;
}

.calendar td .g, .calendar td a.g, .calendar td a.g:visited {
    color: #537D37;
}

.calendar td .r, .calendar td a.r, .calendar td a.r:visited {
    color: #CE0112;
}

.to-top-wrap .past-article:hover {
    background-position: -40px -172px;
}

.to-top-wrap .to-top {
    display: block;
    width: 40px;
    height: 41px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/home/index-common-pic.png") 0 -213px;
}

/*----------------- footer ------------*/
.footernews {
    background-color: #f0f0f0;
    overflow: hidden;
}

.footer {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

.footer-nav {
    height: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.footernew {
    margin: 25px auto;
    text-align: center;
    width: 550px;
}

.footernew a {
    margin-top: 10px;
}

.footernew P {
    border: #d2d2d2 1px solid;
    padding: 0px;
    line-height: 20px;
    margin: 6px;
    width: 120px;
    float: left;
    height: 50px;
    font-size: 12px;
}

.footernew img {
    vertical-align: middle;
}

.footernew .fl {
    padding: 3px;
}

.footernew .fr {
    width: 72px;
    padding: 5px 3px 0px;
}

.copyright {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 30px;
}

.footer-nav a, .copyright a {
    color: #333;
}

.copyright a:hover {
    color: #28B7E3;
}

.copyright {
    color: #555
}

#footer-sns {
    position: absolute;
    top: 35px;
    right: 0;
}

#footer-sns a, #footer-sns span {
    width: 29px;
    height: 25px;
    background: url(http://www.chinabyte.com/w/pic/14828/images/footer-sns.jpg) no-repeat;
    margin-left: 20px;
    display: block;
    float: left;
}

#footer-sns .qqzon {
    background-position: -47px 0px;
    width: 35px;
}

#footer-sns .qqwb {
    background-position: -95px 0px;
    width: 35px;
}

#footer-sns .renren {
    background-position: -137px 0px;
    width: 50px;
}

#footer-sns .wx {
    background-position: -190px 0px;
    width: 50px;
}

#footer-sns .weixin {
    background-position: -240px 0px;
}

.wx_p {
    position: absolute;
    top: 35px;
    right: -11px;
    z-index: 10;
}

#footer-sns .yidong a {
    float: left;
    width: 145px;
    height: 54px;
    margin: 0;
}

#footer-sns .yidong {
    padding: 20px 0 0;
}

/*---------------- top news ----------------*/
.index-top-news .carousel-figure {
    width: 740px;
    height: 414px;
    overflow: hidden;
    float: left;
    position: relative;
}

.index-top-news .carousel-figure a {
    display: inline-block;
    color: #ffffff;
}

.index-top-news .carousel-figure .mask {
    width: 740px;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8f000000, endColorstr=#8f000000);
}

.index-top-news .carousel-figure h2 {
    width: 700px;
    padding: 0 20px;
    position: absolute;
    top: 70%;
    left: 0;
}

.index-top-news .carousel-figure p {
    width: 680px;
    padding: 0 30px;
    position: absolute;
    top: 80%;
    left: 0;
}

.index-top-news .top-news {
    float: right;
    width: 340px;
}

.index-top-news .top-news h2 {
    height: 20px;
    margin-top: 22px;
    margin-bottom: 30px;
    overflow: hidden;
    font-weight: normal;
}

.index-top-news .top-news h2 a {
    font-size: 18px;
    color: #333;
}

.index-top-news .top-news p {
    line-height: 24px;
}

.index-top-news .top-news p a {
    font-size: 14px;
    color: #666666;
}

.index-top-news .top-news a:hover {
    color: #0e9bec;
}

.index-top-news .news-list-type {
    margin-top: 20px;
}

.index-top-news .news-list-type li {
    overflow: hidden;
    width: 100%;
    float: left;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/flag-bg.png") no-repeat 324px -145px;
}

/*---------------- btgc ----------------*/
.index-layout .col-sub {
    width: 685px;
}

.index-layout .col-extra {
    width: 365px;
}

.btgc-area .figure-wrap img {
    display: block;
}
.btgc-area .figure-wrap {
    position: relative;
    float: left;
}
.btgc-area .figure-wrap .bitegc {
    position: absolute;
    top: 13px;
    left: 14px;
}
.btgc-area .figure-wrap h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 52px;
    text-indent: 13px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/mask-bg_31.png");
}

.btgc-area .figure-wrap h4 a {
    font-weight: normal;
    color: #fff;
}

.btgc-area .text-wrap {
    float: right;
    width: 375px;
}

.btgc-area .text-wrap h3 {
    margin-top: 8px;
    font-size: 22px;
    line-height: 36px;
    font-weight: normal;
}

.btgc-area .text-wrap span {
    margin-left: 6px;
    font-size: 14px;
    color: #B3B3B3;
    vertical-align: middle;
}

.btgc-area .text-wrap span em {
    color: #FB9E31;
}

.btgc-area .text-wrap p {
    margin-top: 24px;
    font-size: 14px;
    color: #747373;
    line-height: 24px;
}

.btgc-area .author-article .author-info img {
    float: left;
}

.btgc-area .author-article {
    width: 745px;
}

.btgc-area .author-article li {
    float: left;
    width: 325px;
    height: 100px;
    margin-top: 30px;
    margin-right: 46px;
}

.btgc-area .author-article .author-info h4 {
    float: left;
    margin-top: -6px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #fb9e31;
}

.btgc-area .author-article .author-info h4 span {
    color: #B3B3B3;
}

.btgc-area .author-article p {
    margin-top: 8px;
    font-size: 18px;
    color: #747373;
    line-height: 24px;
}

.index-layout .news-center h3 {
    position: relative;
    height: 20px;
    margin-top: 42px;
    margin-bottom: 10px;
    font-weight: normal;
}

.index-layout .news-center h3 a {
    font-size: 18px;
    color: #333;
}

.index-layout .news-center h3 .icon-top-news {
    position: absolute;
    top: -22px;
    left: 0;
    display: block;
    width: 34px;
    height: 26px;
    /*background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") no-repeat -44px -40px;*/
}

.index-layout .news-center p {
    font-size: 14px;
    line-height: 24px;
    color: #747373;
}

.index-layout .news-center .news-list-type li a {
    background-position: -6px -53px;
}

.index-layout .science-area {
    padding-left: 44px;
    padding-right: 32px;
}

.index-layout .science-area a {
    float: left;
    width: 58px;
    height: 26px;
    line-height: 26px;
    margin-top: 16px;
    margin-right: 10px;
    font-size: 14px;
    color: #00aa98;
    text-align: center;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") no-repeat 0 -109px;
}

.index-layout .science-area a:hover {
    color: #fff;
    text-decoration: none;
    background-position: -58px -109px;
}

.index-layout .ad-text-area {
    padding-top: 5px;
    padding-left: 10px;
    height: 60px;
    background-color: #F4F4F4;
}

.index-layout .ad-text-area li {
    height: 26px;
    margin-left: 10px;
    line-height: 26px;
    float: left;
    /*overflow: hidden;*/

}

.index-layout .ad-text-area li a {
    display: inline-block;
    width: 140px;
    font-size: 12px;
    color: #666666;
    text-indent: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/flag-bg.png) no-repeat -6px -85px;
}

.qyjs-area {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.qyjs-area .left-area,
.qyjs-area .right-area {
    width: 310px;
}

.qyjs-area .right-area {
    margin-right: 30px;
}

.qyjs-area .top-news img {
    display: block;
}

.qyjs-area .top-news h4 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
}

.qyjs-area .top-news h4 a {
    color: #404040;
}

.yyfsj-top {
    position: relative;
}

.yyfsj-top .icon-yaoyan {
    position: absolute;
    top: 237px;
    right: 24px;
    display: block;
    width: 64px;
    height: 41px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/index-common-pic.png") no-repeat -137px -31px;
}

.yyfsj-top .time {
    font-size: 14px;
    font-style: normal;
    color: #FB9E31;
}

.yyfsj-top .time i {
    color: #b3b3b3;
    font-style: normal;
}

.yyfsj-top p {
    margin-top: 12px;
    font-size: 14px;
    color: #747373;
    line-height: 24px;
}

.it-purchase-wrap {
    border: 1px solid #eee;
}

.it-purchase-wrap .title {
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    font-size: 24px;
    font-weight: normal;
    padding-right: 50px;
    border-bottom: 1px solid #F2F2F2;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/it-pur_18.jpg") no-repeat 190px center;
}

.it-purchase-wrap .title a {
    color: #000000;
}

.it-purchase-wrap .bottom-area {
    padding-left: 43px;
    padding-bottom: 30px;
}

.it-purchase-wrap .bottom-area li img {
    display: block;
}

.it-purchase-wrap .bottom-area li {
    position: relative;
    float: left;
    margin-right: 38px;
    border: 1px solid #eee;
}

.it-purchase-wrap .bottom-area li h4 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    text-indent: 13px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/mask-bg2_07.png");
}

.it-purchase-wrap .bottom-area li h4 a {
    font-weight: normal;
    color: #fff;
}

.it-purchase-wrap .name_class {
    width: 315px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.it-purchase-wrap .name_class .clearfix {
    font-size: 16px;
}

.it-purchase-wrap .name_class .clearfix li {
    float: left;
    margin: 10px 20px 10px 0;
    cursor: pointer;
}

.it-purchase-wrap .name_class .clearfix li.lon {
    color: #88A4FF;
    font-weight: bold;
}

.it-purchase-wrap .search_class {
    border: 1px solid #88A4FF;
    width: 307px;
    position: relative;
    height: 32px;
    z-index: 1000;
}

.it-purchase-wrap .search_class .cp_class {
    float: left;
}

.it-purchase-wrap .search_class span {
    display: block;
    width: 79px;
    padding: 6px 3px 6px 5px;
    font-size: 12px;
    background-color: #F6F5F5;
    cursor: pointer;

}

.it-purchase-wrap .search_class span i {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 3px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/flag-bg.png") no-repeat -4px -124px;
}

.it-purchase-wrap .search_class input {
    width: 180px;
    height: 32px;
    border: none;
    padding-left: 5px;
    float: left;
}

.it-purchase-wrap .search_class .button {
    display: block;
    width: 44px;
    height: 34px;
    background: url("http://www.chinabyte.com/w/x/chinaByte2016/images/homepage/search_03.png") no-repeat;
    vertical-align: middle;
    position: absolute;
    top: -1px;
    right: -4px;
    cursor: pointer;
}

.it-purchase-wrap .search_class .product {
    position: absolute;
    top: 31px;
    display: none;
}

.it-purchase-wrap .search_class .product li {
    width: 78px;
    height: 31px;
    line-height: 31px;
    text-align: left;
    padding-left: 10px;
    background-color: #F6F5F5;
    border-bottom: 1px dashed #DDDDDD;
    cursor: pointer;
}

.it-purchase-wrap .search_class .product li + li + li + li + li {
    border-bottom: none;
}

.it-purchase-wrap .search_class .product li:hover {
    background-color: #ffffff;
}

.it-purchase-wrap .search_class .search_product {
    position: absolute;
    top: 31px;
    left: 78px;
    background-color: #ffffff;
    display: none;
}

.it-purchase-wrap .search_class .search_product a {
    display: block;
    width: 216px;
    height: 31px;
    line-height: 31px;
    padding-left: 10px;
    border-bottom: 1px dashed #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
}

.it-purchase-wrap .search_class .search_product a + a + a + a + a {
    border-bottom: none;
}

.it-purchase-wrap .search_class .search_product a:hover {
    color: #d32f3c;
}

.n_class {
    display: none;
}

.b_class {
    display: block;
}

.it-purchase-wrap .hot-text {
    text-align: right;
    margin-right: 20px;
}

.it-purchase-wrap .hot-text a {
    color: #000000;
    display: inline-block;
    margin: 5px 2px;
}

.it-purchase-wrap .hot-text a:hover {
    color: #d32f3c;
}

.it-purchase-wrap .leixing .fix {
    margin: 3px 0;
}

.it-purchase-wrap .leixing .fix .fixl {
    width: 70px;
    font-size: 14px;
}

.it-purchase-wrap .leixing .fix .fixr {
    width: 220px;
}

.it-purchase-wrap .leixing .fix .fixr a {
    display: inline-block;
    font-size: 12px;
    margin: 0px 5px;
    padding: 0 2px;
    color: #000000;
}

.it-purchase-wrap .leixing .fix .fixr a:hover {
    color: #d32f3c;
}

.it-purchase-wrap .inner-box {
    z-index: 10000;
}

.adv_CB-homepage-test, .mlp_CB-homepage-test {
    width: 140px;
    height: 24px;
    line-height: 24px;
    float: left;
    margin-right: 3px;
    overflow: hidden;
}
.site-main-nav .nav a.w61 {
    width: 61px;
}












