@charset "gb2312";
/* CSS Document */
body { 
	font: 12px/20px '\5FAE\8F6F\96C5\9ED1', Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
}
body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, a, span, i, b ,header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu {
	padding: 0; 
	margin: 0;
}
header,footer,section,article,aside,nav,hgroup,figure,figcaption { display:block; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td, a, span, i, em, b, p, label { 
	word-break: break-all; 
	word-wrap: break-word;
}
table { 
	border-collapse: collapse; 
	border-spacing: 0;
}
*, :focus { outline: none; }
input::-ms-clear{display:none;}
ol, ul, li { list-style: none outside; }
address, caption, cite, code, dfn, em, var { 
	font-weight: normal;
	font-style: normal; 
}
abbr, acronym, fieldset, img { 
	font-variant: normal; 
	border: 0; 
}
h1,h2,h3,h4,h5,h6 {
	line-height: 100%;
}
input, textarea, select { 
	font-family: '\5FAE\8F6F\96C5\9ED1'; 
	font-size: 12px; 
	font-weight: inherit; 
}
textarea { 
	font-family: '\5FAE\8F6F\96C5\9ED1'; 
	font-size: 12px; 
	resize: none;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { 
	padding: 0; 
	border: none;
}
.clearfix,.news-list-type { *zoom: 1; }
.clearfix:before, .clearfix:after,
.news-list-type:before ,.news-list-type:after{ 
	display: table; 
	line-height: 0; 
	content: "";
}
.clearfix:after,
.news-list-type:after { clear: both; }
input {
	outline: none;
}
a { 
	cursor: pointer;
	outline: none;
	color: #000000;
	text-decoration: none;
	-webkit-touch-callout:none;
}
a:hover {
	text-decoration: underline;
}
.fl,
.left-area,
.layout-left,
.col-sub,
.col-main { 
	float: left ; 
	*display: inline ;
}

.fr,
.right-area,
.layout-right,
.col-extra { 
	float: right ; 
	*display: inline ;
}
.overflow-h {
	overflow: hidden;
}
.fl-im { float: left !important; }
.fr-im { float: right !important; }
.fs-12 {
	font-size: 12px !important;
}

/* margin */
.ml0 {
	margin-left: 0 !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt42 {
	margin-top: 42px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pl10 {
	padding-left: 10px !important;
}













/*
	.gradient{
		background-color: #000;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#000');
		background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#000));
		background-image: -webkit-linear-gradient(top, #bbb, #000);
		background-image: -moz-linear-gradient(top, #bbb, #000);
		background-image: -ms-linear-gradient(top, #bbb, #000);
		background-image: -o-linear-gradient(top, #bbb, #000);
		background-image: linear-gradient(top, #bbb, #000);
	}

	@font-face{ 
		font-family: 'MyFont';
		src: url('myfont.eot');
		src: url('myfont.eot?#iefix') format('embedded-opentype'),
			url('myfont.woff') format('woff'),
			url('myfont.ttf') format('truetype'),
			url('myfont.svg#webfont') format('svg');
	}

	h1 { font-family: 'MyFont', sans-serif; }

	<video poster="images/preview.png" width="1280" height="720" controls="controls" preload="none"> 
		<source src="media/video.mp4" type="video/mp4"></source> 
		<source src="media/video.webm" type="video/webm"></source> 
		<source src="media/video.ogg" type="video/ogg"></source>
	</video>

	<audio controls="controls" preload="none">
		<source src="music.ogg" type="audio/ogg">
		<source src="music.mp3" type="audio/mpeg">
	</audio>
*/

