/*----- tabbed featured games -----*/
.gamebox {
	float:left;
	text-align:left;
	width:590px;
	margin:20px 0 0 0; 
	line-height: 1.3;
}
.gamebox a {
	font-size:13pt;
	color:#333333;
	line-height:18pt;
	font-weight: bold;
}
.gameinfo {
	float:left;
	width: 280px;
	margin-left:30px;
}
.gameinfo div a {
	font-size:8pt;
}
.gameicon {
	background-repeat: no-repeat;
	background-position:center;
	background-size:280px;
	background-color:#eee;
	float: left;
	border-width: 0px;
	width: 280px;
	height: 165px;
}
.deks {
	font-weight: 400;
	font-size: 85%;
	margin-top: 5px;
}
.playcount {
	font-weight: 200;
	font-size: 78%;
	color:#949292;
	text-transform: uppercase;
	margin-top:20px;
}
.homeCat {
	text-transform: uppercase;
	font-weight: normal !important;
	position:relative;
	padding:3px 5px;
	margin:10px 0;
	background:#F90;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
a.homeCat{
	color:#FFFFFF !important;
}
.gameTypeHP.picture_click {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: 0 -164px;
	top:5px;
}
.gameTypeHP.click_box {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: -21px -163px;
	top:3px;
}
.gameTypeHP.map, .gameTypeHP.map_shape {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: -40px -162px;
	top:3px;
}
.gameTypeHP.slideshow {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: -81px -164px;
	top:4px;
}
.gameTypeHP.picture_click {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: -60px -163px;
	top:4px;
}
.gameTypeHP.multiple_choice {
	display: inline-block;
	width: 19px;
	height: 17px;
	margin-left: 5px;
	position: relative;
	background: transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-position: -106px -163px;
	position: relative;
	right:0;
	top:4px;
}

/*----- future Carousel zone -----*/
.carousel {
	min-height:245px;
}

/*----- Tabs -----*/
#tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
#tab-links:after {
	display:block;
	clear:both;
	content:'';
}
#tabs ul#tab-links {		
	padding:0;
	margin:0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	height:34px;
}
#tab-links li {
	margin:0 0 0 7px;
	float:left;
	list-style:none;
}
#tab-links h1, #tab-links h3 {
	padding:9px 15px;
	display:inline;
	background:#d8d8d8;
	font-size:16px;
	font-weight:300;
	color:#8f8f92;
	transition:all linear 0.15s;
	cursor:pointer;
}
#tab-links h1:hover, #tab-links h2:hover {
	background:#eee;
	text-decoration:none;
}
#tab-links .active, #tab-links .active:hover {
	background:#f90;
	color:#fff;
	font-weight:400;
	font-size:19px;
	cursor: default;
}

/*----- Content of Tabs -----*/
#tab-content {
	padding:0;
	border-top:4px solid #f90;
	background:#fff;
	width:590px;
}
.tab {
	display:none;
}
.tab.active {
	display:block;
}
.clear {
	overflow: auto;
	width: 100%;
}
.subHead {
	color:#f90;
	text-transform: uppercase;
	font-size:100%;
	font-weight:500;
	margin-top:10px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

/*----- Unplayed Tab -----*/
#unplayed-category {
	margin-top:20px;
}
#unplayed-tab ul {
	margin-top:20px;
    list-style-type: none;
}
#unplayed-tab ul li {
	font-size:14px;
    border-bottom: 1px solid #e5e5e5;
    padding:6px 0px 6px 0px;
    overflow:hidden;
}
#unplayed-tab ul li a span:hover {
	text-decoration:underline;
}
.unplayed-game-name {
	float:left;
}
.unplayed-game-cat {
	color:#949292;
	position:absolute;
	left:400px;
}
.unplayed-playcount {
	float:right;
}
.selectLabel {
	font-size: 80%;
    color: #6e6d71;
    font-weight: bold;
}
#subcategory-label {
	padding-left:20px;
}
#quiz-type-label {
	padding-left:20px;
}
#unplayed-subcategory {
	max-width:128px;
}
#unplayed-tab h3 {
	font-weight: normal;
    font-size: 125%;
    -webkit-margin-after: .5em;
}
/*----- even more -----*/
#evenMore {
	width: 590px;
	min-height:100px;
	float: left;
	margin: 20px 0 0 0;
}
#game-thumbnails {
	margin: 0;
	list-style: none;
	position: relative;
}
#game-thumbnails {
	padding:0;
}
#game-thumbnails li {
	float: left;
	display: block;
	margin: 0 30px 0 0;
	width: 125px;
	list-style-image: none;
	border-bottom: none !important;
	/*could use a truncation script to add an ellipsis if overflow is greater than 2 lines*/
}
#game-thumbnails li:last-child {
	margin:0;
}
#game-thumbnails li a {
	font-weight:bold;
	font-size:10pt;
}
#game-thumbnails .last {
	margin-right: 0 !important;
}
.moreIconBox {
	background-position:center;
	background-size:cover;
}

/* CSS for sporcle vault */
#vault {
	font-size: 88%;
	text-transform: uppercase;
	width:590px;
}
#reloadBox {
	display: inline-block;
	margin-left: 10px;
}
#reload {
	top: -1px;
	position: relative;
}
#reload a {
	background:transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png') -131px -162px no-repeat;
	height: 17px;
	line-height: 17px;
	display: inline-block;
	padding-left: 20px;
	font-weight: normal;
	font-size: 75%;
	color: #09c;
}	
.random-placeholder {
	height:165px;
	width:590px;
	background-color:#eee;
}

/* ----- daily dose -----*/
.dailyDose {
	display:inline-block; 
	width:51px; 
	height:51px; 
	margin-right:5px;
}
.dailyLink:hover {
	text-decoration:none;
}
.ddBox {
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 128px;
}
.ddBox div {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 72%;
	clear: both;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.ddBox a {
	font-size: 10pt;
	color:#09c;
	line-height: 1.4;
	display: block;
}
#wordLadder {
	background:transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png') -1px -78px no-repeat;
}
#missingWord {
	background:transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png') -110px -78px no-repeat;
}
#quickPick {
	background:transparent url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png') -56px -78px no-repeat;
}

div.day {
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	margin: 30px 0 0;
	padding: 10px 0 5px 0;
	font-weight: 300;
	border-bottom: 4px solid #f90;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
}
span.date {
	font-size: 8pt;
	font-weight: normal;
	float: right;
	line-height: 17pt;
	text-transform: uppercase;
	margin-top:5px;
}

/*----- RHC -----*/
.imuAdRight {
	width:300px;
	height:250px;
}
.tower {
	margin-top: 20px;
}

/*-- right box flames --*/
.rightBox ol {
	padding-left:0;
	list-style: none;
	margin:-5px 0 0 0 ;
}
.rightBox li {
	line-height: 1.4;
	font-weight: bold;
    overflow: hidden;
}
.rightBox li a {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rightBox ol.small li a {
	width: 90%;
}
.rightBox ul#pop li a {
    width: 70%;
}
.rightBox ol.small div.flame {
	background-image: url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
	background-repeat: no-repeat;
	float: left;
	width: 12px;
	height: 15px;
	margin-right: 8px;
}
.rightBox ol.small div.flameR {
	background-position: -15px -140px;
}
.rightBox ol.small div.flameO {
	background-position: -26px -140px;
}
.rightBox ol.small div.flameY {
	background-position: -37px -140px;
}
.rightBox a.flame:hover {
	text-decoration: underline;
}
.rightBox h4 {
	margin:10px 0 0 0;
	font-weight: 200;
	text-transform: uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;		
	font-weight: 600;	
	
}
.rightBox ul {
	list-style-type: none;
	margin: -5px 0 0 0;
}
.rightBox ul li span{
	color:#949292;
	font-weight: normal;
	float: right;
}
.rightBox ul#pop li {
	line-height: 2em ;
	border-bottom:1px solid #e5e5e5;
}

/** Mobile portion of rhc area */
#mobile {
	margin:-5px 0 0 0;
	display: inline-block;
	position: relative;
}
.stat {
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 0 10px 0;	
}
.appStore {
	text-align: center;
	float:left;
	width: 100px;
}
.appStore div {
	margin-left:24px;
}
	
/** Itunes/Android mobile buttons */
.mobile_itunes, .mobile_droid, .mobile_kindle {
	background-image: url("//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png");
	height: 52px;
	width: 52px;
	margin-bottom: 5px;
}
.mobile_itunes {
	background-position: 0px 0px;
}
.mobile_kindle {
	background-position: -53px 0px;
}	
.mobile_droid {
	background-position: -107px 0px;
}
.moreIconBox {
	width: 125px;
	height: 75px;
	background-repeat: no-repeat;
	background-color: #eee;
	margin-bottom:5px;
}
.rightBox p {
	padding:0;
	margin:0;
}
a.blackLink {
	color:#000;
	text-decoration: underline;
}
p.padded{
	padding:10px 0 0 0;
}
#rightboxThumb {
	display:inline-block;
	width:65px;
	height:65px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
#rightboxInfo{
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
	width:210px;
}

/* Staff Picks Carousel */
#staff-picks-wrapper {
	width: 824px;
	height: 220px;
	margin: 0 auto 20px;
	overflow: hidden;
	padding: 0 48px;
	box-sizing:content-box;
}
#staff-picks .staff-pick {
	width:206px;
	float:left;
	position:relative;
}
.staff-pick-wrapper {
	height:220px;
	width:100%;
}
.staff-pick-image {
	height:100%;
	width: 100%;
	background-position:center;
	background-size:cover !important;
	position: absolute;
	top: 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}
.staff-pick-wrapper:hover .staff-pick-image {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none; /* IE 6-9 */
} 
.staff-pick-overlay {
	height:100%;
	width:100%;
	position: relative;
}
.staff-pick-wrapper:hover .staff-pick-overlay {
	display: none;
}
.staff-pick-name {
	height: 62px;
	width: 100%;
	position:absolute;
	bottom:0;
	box-sizing:border-box;
	padding:10px;
	color:#eee;
	background-color:rgba(0, 0, 0, 0.5);
	font-size:18px;
}
.staff-pick-category {
	position: absolute;
	bottom: 62px;
	right: 0;
	padding: 5px 10px;
	text-align: center;
	background-color: #f90;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;	
}
.staff-pick:nth-child(odd) .staff-pick-overlay {
	background-color:rgba(255, 197, 0, 0.5); /* yellow */
}
.staff-pick:nth-child(even) .staff-pick-overlay {
	background-color:rgba(255, 127, 0, 0.5); /* orange */
}

/* prev/next buttons in the staff picks carousel */
.slick-prev, .slick-next {
	width:48px;
	height:96px;
	position: absolute;
	top: 50%;
	display: block;
	margin-top: -48px;
	padding: 0;
	cursor: pointer;
	border: none;
	outline: none;
	color: transparent;
	font-size: 0;
}
.slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover {
	background-image:  url('//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png');
}
.slick-prev {
	background-position: 0 -194px;	
	left: -48px;
}
.slick-next {
	background-position: -49px -194px;	
	right: -48px;
}
.slick-prev:hover {
	background-position: 0 -295px;	
}
.slick-next:hover {
	background-position: -49px -295px;	
}

/* octoquiz game in the right rail */
.content-item-headline {
	height: auto;
	width: 280px;
	text-align: left;
	padding: 60px 10px 10px 10px;
	position: absolute;
	bottom: 0;
	/* background gradient */	
	background: rgba(36,36,36,0);
	background: -moz-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,0)), color-stop(90%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
	background: -o-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
	background: -ms-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
	background: linear-gradient(to bottom, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#000000', GradientType=0 );
}
.spotlight-title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	line-height: 1.2em;
	margin: 0;
	font-size:120%;
	text-decoration: none;
}
#spotlight {
	position:relative;
}
.spotlightHero {
	display: inline-block;
	background: #222;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	width:300px;
	height:150px;
	color:#fff;
}
.spotlightHero:hover {
	color:#f90;	
}

/* Sporcle Promo */
#sporcle-promo {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	width:530px;
	margin: 20px 0 0 0;
	padding: 8px 8px 8px 50px;
	line-height: 1.3;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	background: #d8d8d8 url(//d162758vd3dbpx.cloudfront.net/images/homeSprite13.png) 10px -460px no-repeat;
}
#sporcle-promo a {
	color:#ce0814;
}
/* Sporcle News */
.news-image {
    display:inline-block;
}

/*recently updated right rail*/
.updatedBy {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.updatedBy a{
    font-weight: normal;
    text-align: left;
}
#recentlyUpdatedRightBox ul#pop .recentlyUpdatedUpdator {
    float: right;
    width: 100%;
}
#recentlyUpdatedRightBox ul#pop .recentlyUpdatedGame {
    width: 65%;
 }
.mediumButton {
    width: 200px;
    padding: 15px;
}

.tabLoadingGif {
    text-align: center;
    padding-top: 20px;
}
.borderedList li {
	line-height: 2em;
	border-bottom: 1px solid #e5e5e5;
}
.borderedList a{
	font-weight: bold;
}
.borderedList p {
	display: block;
    clear: both;
    line-height: 1em;
    font-weight: normal;
    padding-bottom: 7px;
    font-size: 12px;
}
/* featured badge */
#featured-badge-container {
    background-image: url('//d162758vd3dbpx.cloudfront.net/images/featuredbadge_bg.jpg');
    height: 192px;
    display: table;
    border-radius: 10px;
    border: 1px solid #e2e2e5;
}

#featured-badge-img {
    height: 125px;
    width: 125px;
    margin-left: 60px;
}

#featured-badge-img-cell, #featured-badge-info-cell {
    display: table-cell;
    vertical-align: middle;
}

#featured-badge-img-cell {
    width: 200px;
}

#featured-badge-info-container {
    margin-right: 50px;
    margin-left: 45px;
    text-align: center;
}

#featured-badge-name a {
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.2em;
    color: #0099cc ;
    text-decoration: none;
}

#featured-badge-text {
    font-size: 1.1em;
    margin: 5px 0 10px 0;
    font-weight: bold;
}

#featured-badge-button {
    font-weight: normal;
    display: inline-block;
    background-color: #f90;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    color: #fff;
    font-family: Open Sans, sans-serif;
}

#featured-badge-button:hover {
    background-color: rgb(255, 132, 0);
    cursor: pointer;
}

#featured-badge-button.earned {
	padding-left:40px;
	background-image: url('//d162758vd3dbpx.cloudfront.net/images/icon-earned.png');
	background-repeat: no-repeat;
	background-position: 16px 16px;
}
/* end featured badge */

/* partner promo */
.promo-image {
	height: 150px;
    width: 300px;
    position:relative;
}
.promo-image:hover .promo-desc{
	color: #f90;
}
.promo-fade {
    height: auto;
    width: 280px;
    text-align: left;
    padding: 60px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    background: rgba(36,36,36,0);
    background: -moz-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,0)), color-stop(90%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
    background: -o-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
    background: -ms-linear-gradient(top, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
    background: linear-gradient(to bottom, rgba(36,36,36,0) 0%, rgba(0,0,0,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#000000', GradientType=0 );
}
.promo-desc {
	color:#fff;
	text-align:center;	
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.2em;
    margin: 0;
    font-size: 120%;
    text-decoration: none;
}
/* end partner promo */