﻿*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
img { border: 0; display: block; }
h1, h2, h3, h4, h5, h6, h7, p { padding: 0; margin: 0; }
ul, ol, li { padding: 0; margin: 0; list-style: none; }
form { padding: 0; margin: 0; }
.radio { vertical-align: middle; }
select, input, textarea, option { padding: 0; margin: 0; font-size: 11px; color: #333333; outline: none; }
::-webkit-input-placeholder {color: #ccc;}
:-moz-placeholder {color: #ccc;}
::-moz-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}
/*======================================================*/
body {
	font-size: 12px;
	color: #757470;
	background: #262523;
	-webkit-text-size-adjust:none;
}
a {
	color: #cf8511;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
.clearfloat {clear: both; float: none; display: table; zoom: 1;}
/*======================================================*/
/* header */
/*======================================================*/
.head {
	width: 100%;
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top,  #404040 0%, #353535 50%, #292929 51%, #1c1c1c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #404040 0%,#353535 50%,#292929 51%,#1c1c1c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #404040 0%,#353535 50%,#292929 51%,#1c1c1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #101010;
}
div.header {
	clear: both;
	width:982px;
	height:62px;
	margin: 0 auto;
	z-index: 11;
	position: relative;
}
div.logo {
	position: absolute;
	left: 0;
	top: 11px;
}
div.logo a img {width:205px; height:40px; border:none;}
/*---------------------*/
/* bookmark at the top */
/*---------------------*/
.tbookshare {
	width: 72px;
	height: 32px;
	position: absolute;
	right: 0;
	top: 16px;
}
.tbookshare .addthis_toolbox {
	float:left;
}
.tbookshare .addthis_toolbox a {float: left; padding: 0 2px;}
.tbookshare .addthis_toolbox a img {
	width: 32px;
	height: 32px;
	border: 0;
}
.tbookshare .addthis_toolbox a.addthis_button_favorites img {background: url(/images/tbook.png) 0 0 no-repeat;}
.tbookshare .addthis_toolbox a.addthis_button_compact img {background: url(/images/tshare.png) 0 0 no-repeat;}
.tbookshare .addthis_toolbox a.addthis_button_expanded img {background: url(/images/tshare.png) 0 0 no-repeat;}
/*-------------*/
/* top menu */
/*-------------*/
div.mholder {
	width: 100%;
	margin-bottom: 20px;
}
ul.topmenu {
	width: 982px;
	margin: 0 auto;
}
ul.topmenu:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.topmenu li {
	display:block;
	float:left;
}
ul.topmenu li a {
	display:block;
	font-size: 12px;
	line-height: 16px;
	padding: 7px 10px;
	margin-right: 4px;
	text-decoration: none;
	color: #e5bc15;
	background: #1d1c1a;
	border-radius: 0 0 4px 4px;
}
ul.topmenu li a:hover {
	color: #fff;
	background: #0d0c0a;
}

/*-------------*/
/* search form */
/*-------------*/
div.search {
	position: absolute;
	width: 380px;
	height: 38px;
	left: 50%;
	margin-left: -190px;
	top: 12px;
	background: #484746;
	border-radius: 4px;
	border: 1px solid #000;
}
div.search input.sf {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 320px;
	border: none;
	background: none;
	font-size: 16px;
	color: #fff;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 4px;
}
div.search input.sb {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	height: 38px;
	border: none;
	background: none;
	font-size: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	cursor: pointer;
	background: url(/images/search.png) 12px 11px no-repeat #e4ac00;
	border-radius: 0 4px 4px 0;	
}
div.search.bottom {
	position: relative;
	right: auto;
	top: auto;
	margin-left: auto;
	margin: 0 auto 30px auto;
}
.autocomplete-suggestions {border: 1px solid #1d1d1c; border-top: none; background:#484746; overflow: auto; box-shadow: 0px 4px 8px rgba(0,0,0,0.5); font-size: 14px; margin-top: 10px; opacity: 0.9;}
.autocomplete-suggestion {padding: 4px 5px; white-space: nowrap; overflow: hidden; color: #ddd; cursor: pointer;}
.autocomplete-selected { background: #111; color: #fff;}
.autocomplete-suggestions strong { font-weight: normal; color: #ffce00; }
/*-----------------*/
/* language select */
/*-----------------*/
#lngselect {
	position: absolute;
	right: 90px;
	top: 19px;
	width: 126px;
	padding-left: 5px;
	z-index: 2000;
	cursor:pointer;
	background:url(/images/select-arrow.png) no-repeat 100% 50%;
	text-align: left;
	border-radius: 3px;
}
#lngselect.down:after {
	position: absolute;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-bottom: 10px solid #3f3f3f;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	right: 50px;
	top: 27px;
	z-index: 2000;
}
#lngselect strong {
	display:block;
	width: 68px;
	padding:7px 0 7px 32px;
	font-size: 13px;
	line-height:13px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-transform:capitalize;
	cursor:pointer;
	font-weight: normal;
	color: #fff;
}
#lngselect ul {
	display:none;
	position:absolute;
	top:35px;
	right: 0;
	width:584px;
	background:#1c1c1c;
	border: 1px solid #3f3f3f;
	z-index:3000;
	height:140px;
	overflow:auto;
	text-transform:capitalize;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
	-webkit-overflow-scrolling: touch;
	border-radius: 3px;
}
#lngselect ul li {
	float: left;
}

#lngselect ul li a {
	display:block;
	float: left;
	width: 114px;
	padding:7px 0 7px 32px;
	font-size: 13px;
	line-height: 13px;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-transform:capitalize;
	border-radius: 0;
}
#lngselect ul li a:hover {color: #fff;}
#lngselect strong.en, #lngselect ul li a.en {background: url(http://static.webclicks24.com/images/flags/gb.png) 5px 50% no-repeat;}
#lngselect strong.cs, #lngselect ul li a.cs {background: url(http://static.webclicks24.com/images/flags/cz.png) 5px 50% no-repeat;}
#lngselect strong.da, #lngselect ul li a.da {background: url(http://static.webclicks24.com/images/flags/dk.png) 5px 50% no-repeat;}
#lngselect strong.de, #lngselect ul li a.de {background: url(http://static.webclicks24.com/images/flags/de.png) 5px 50% no-repeat;}
#lngselect strong.el, #lngselect ul li a.el {background: url(http://static.webclicks24.com/images/flags/gr.png) 5px 50% no-repeat;}
#lngselect strong.es, #lngselect ul li a.es {background: url(http://static.webclicks24.com/images/flags/es.png) 5px 50% no-repeat;}
#lngselect strong.fr, #lngselect ul li a.fr {background: url(http://static.webclicks24.com/images/flags/fr.png) 5px 50% no-repeat;}
#lngselect strong.ko, #lngselect ul li a.ko {background: url(http://static.webclicks24.com/images/flags/kr.png) 5px 50% no-repeat;}
#lngselect strong.it, #lngselect ul li a.it {background: url(http://static.webclicks24.com/images/flags/it.png) 5px 50% no-repeat;}
#lngselect strong.hu, #lngselect ul li a.hu {background: url(http://static.webclicks24.com/images/flags/hu.png) 5px 50% no-repeat;}
#lngselect strong.nl, #lngselect ul li a.nl {background: url(http://static.webclicks24.com/images/flags/nl.png) 5px 50% no-repeat;}
#lngselect strong.ja, #lngselect ul li a.ja {background: url(http://static.webclicks24.com/images/flags/jp.png) 5px 50% no-repeat;}
#lngselect strong.no, #lngselect ul li a.no {background: url(http://static.webclicks24.com/images/flags/no.png) 5px 50% no-repeat;}
#lngselect strong.pl, #lngselect ul li a.pl {background: url(http://static.webclicks24.com/images/flags/pl.png) 5px 50% no-repeat;}
#lngselect strong.pt, #lngselect ul li a.pt {background: url(http://static.webclicks24.com/images/flags/pt.png) 5px 50% no-repeat;}
#lngselect strong.sk, #lngselect ul li a.sk {background: url(http://static.webclicks24.com/images/flags/sk.png) 5px 50% no-repeat;}
#lngselect strong.sl, #lngselect ul li a.sl {background: url(http://static.webclicks24.com/images/flags/si.png) 5px 50% no-repeat;}
#lngselect strong.fi, #lngselect ul li a.fi {background: url(http://static.webclicks24.com/images/flags/fi.png) 5px 50% no-repeat;}
#lngselect strong.sv, #lngselect ul li a.sv {background: url(http://static.webclicks24.com/images/flags/se.png) 5px 50% no-repeat;}
#lngselect strong.ru, #lngselect ul li a.ru {background: url(http://static.webclicks24.com/images/flags/ru.png) 5px 50% no-repeat;}

/*==========headers======================*/
h1,h2 {
	clear: both;
	width: 982px;
	height: 32px;
	padding: 0;
	font-size: 22px;
	line-height: 28px;
	font-weight: normal;
	margin: 5px auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform:capitalize;
	color: #bab8b2;
	text-shadow: 0px -1px 0px #000;
	border-bottom: 1px solid #191817;
	box-shadow: 0 1px 0 #353430;
}
/*==========popular queries thumbs=======*/
ul.tcats {
	width: 990px;
	margin: 10px auto 30px auto;
}
ul.tcats:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.tcats li {
	width: 320px;
	height: auto;
	float: left;
	margin: 0 3px 8px 3px;
	padding: 1px;
	padding-bottom: 40px;
	border: 1px solid #111110;
	background: #1d1d1c;
	position: relative;
}
ul.tcats li:hover {background: #000;}
ul.tcats li img {
	width: 320px;
	height: 180px;
	display: block;
	border: none;
}
ul.tcats li h3 {
	position: absolute;
	bottom: 5px;
	left: 1px;
	width: 310px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: capitalize;
	text-align: left;
	z-index: 1;
	text-indent: 22px;
	background:url("/images/fld.png") 5px 7px no-repeat;
}
ul.tcats li:hover h3 {color: #fff;}
ul.tcats span.cnt {
	display: block;
	position: absolute;
	z-index:3;
	bottom: 43px;
	right: 4px;
	color:#fff;
	line-height: 14px;
	padding: 5px;
	text-align:center;
	background: url(http://static.webclicks24.com/images/60.png) repeat;
	border-radius: 2px;
}
/*==========content=======*/
ul.content {
	width: 990px;
	margin: 0 auto;
}
ul.content:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.content li {
	width: 320px;
	height: auto;
	float: left;
	margin: 0 3px 8px 3px;
	border: 1px solid #111110;
	padding: 1px;
	padding-bottom: 99px;
	background: #1d1d1c;
	position: relative;
}
ul.content li:hover {background: #000;}
ul.content li img {
	width: 320px;
	height: 180px;
}
ul.content li h3 {
	position: absolute;
	bottom: 72px;
	left: 0;
	padding: 4px 5px 4px 5px;
	width: 312px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	text-indent: 20px;
	border-bottom: 1px dotted #1d1d1c;
	z-index: 20;
	color: #aaa;
	background: url(/images/desc.png) 5px 5px no-repeat #1d1d1c;
}
ul.content li h3.full {
	white-space: normal;
	height: auto;
}
ul.content li:hover h3 {background-color: #000;}
ul.content li span.dur {
	position: absolute;
	z-index:3;
	bottom: 99px;
	right: 1px;
	color:#fff;
	width:50px;
	height: 12px;
	line-height: 14px;
	padding: 5px 0;
	text-align:center;
	font-weight:bold;
	font-size: 11px;
	background: url(http://static.webclicks24.com/images/60.png) repeat;
}
ul.content li span.add {
	display: block;
	position: absolute;
	left: 5px;
	bottom: 52px;
	font-size: 11px;
	line-height: 15px;
	padding-left: 20px;
	background:url(/images/date.png) 0px 0px no-repeat;
	color: #767473;
}
ul.content li span.src {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 52px;
	font-size: 11px;
	line-height: 15px;
	padding-left: 20px;
	background:url(/images/site.png) 0px 0px no-repeat;
}
/*ul.content li span.src a {color: #767473;}
ul.content li span.src a:hover {color: #fff;}*/
ul.content li span.tl {
	position: absolute;
	bottom: 5px;
	left: 0;
	padding: 4px 5px 0 5px;
	width: 312px;
	height: 38px;
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	border-top: 1px dotted #1d1d1c;
	line-height: 19px;
	text-transform: capitalize;
	text-indent: 20px;
	background:url(/images/rel.png) 5px 7px no-repeat;
}
/*ul.content li span.tl a {
	display: inline-block;
	line-height: 19px;
	height: 19px;
	padding: 0 10px 0 12px;
	background: url(/images/t.png) 0 3px no-repeat;
}*/
ul.content li a.report {
	display:block;
	position: absolute;
	left: 1px;
	bottom: 99px;
	background: url(http://static.webclicks24.com/images/report.png) 6px 5px no-repeat #000;
	width: 24px;
	height: 22px;
	z-index: 10;
	opacity: 0.6;
}
ul.content li:hover a.report:hover {
	opacity: 1;
}
/*==========not found=======*/
div.notfound {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
}
div.notfound b {text-transform: capitalize;}
div.notfound a {
	display:block;
	padding:10px;
	font-size:24px;
	line-height: 24px;
	text-decoration: none;
	min-width: 60px;
	text-align: center;
	border-radius: 0;
	margin: 10px auto;
	border: 1px solid #dacec5;
	background: #ece8d8;
	text-transform: capitalize;
}
div.notfound a:hover {border: 1px solid #83390d; color: #fff;}


/*==========popular queries text=======*/
div.az {
	width: 990px;
	margin: 5px auto 30px auto;
}
div.az:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.az ul {
	width: 20%;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
div.az ul li {
	display: block;
	width: 100%;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-indent: 22px;
	background: url(/images/fld.png) 2px 3px no-repeat;
}
div.az ul li > a {
	display: block;
	width: 70%;
	line-height: 24px;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	text-transform: capitalize;
}
div.az ul li > span {
	display: block;
	width: 28%;
	line-height: 24px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	text-align: right;
}
div.az ul li.space {background: none;}
div.az ul li.letter {
	font-size: 16px;
	line-height: 24px;
	width: 98%;
	background: #21201e;
	border-bottom: 1px solid #201f1d;
	box-shadow: 0 1px 0 #2b2a27;
	text-transform: uppercase;
	color:#bab8b2;
	text-indent: 5px;
}

/*==========navigation=======*/
div.nav {
	width:982px;
	margin: 10px auto;
	text-align:left;
	clear:both;
}
div.nav:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.nav.top {padding-bottom: 5px;}
div.nav.bottom {margin-bottom: 20px;}
div.sort {
	float: left;
}
div.durgrp {
	float: left;
	margin-left: 10px;
}
div.sort a, div.durgrp a {
	display:block;
	float:left;
	padding:10px;
	font-size:14px;
	line-height: 14px;
	text-decoration: none;
	min-width: 60px;
	text-align: center;
	margin: 0 3px 0 0;
	background: #42403c;
	border-radius: 3px;
	color: #ddd;
}
div.sort a:hover, div.durgrp a:hover {
	background: #575552;
	color: #fff;
}
div.sort a.current, div.durgrp a.current {
	color: #000;
	background: #cf9a0b;
	font-weight: bold;
	
	color: #fff;
	background: #000;
	box-shadow: 0 1px 0 #353430;
}
div.pages {
	float: right;
}
div.pages>span {
	display: block;
	float: left;
	padding:10px;
	font-size:13px;
	line-height: 14px;
	border-right: none;	
}
div.pages a {
	display:block;
	float:left;
	padding:10px;
	font-size:14px;
	line-height: 14px;
	text-decoration: none;
	min-width: 18px;
	text-align: center;
	margin: 0 0 0 3px;
	background: #42403c;
	border-radius: 3px;
	color: #ddd;
}
div.pages a:hover {
	background: #575552;
	color: #fff;
}
div.pages a.current {
	color: #000;
	font-weight: bold;
	background: #cf9a0b;
	
	color: #fff;
	background: #000;
	box-shadow: 0 1px 0 #353430;
}

/*==========related text=======*/
div.related {margin: 8px auto; width: 982px;}
div.related:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.related a {display:block; float:left; margin-right:10px; text-indent:16px; min-height:18px; background:url(/images/lupe.png) 0px 0px no-repeat; text-transform:capitalize; margin-bottom: 5px;}
div.related span {display:block; float:left; margin-right:8px; margin-bottom: 5px;}

/*==========toplist=======*/
div.tradeindex {
	width: 990px;
	margin: 5px auto 30px auto;
}
div.tradeindex:after {content: ""; width: 0; height: 0; display: block; clear: both;}

div.tradeindex div.cont {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	height: auto;
	float: left;
	padding: 4px;
}
div.tradeindex div.cont div.timg {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}
div.tradeindex div.cont div.timg img {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 100%;
	height: auto;
	background:#1d1d1c; 
	border:1px solid #111110;
}
div.tradeindex div.cont div.timg a:hover img {border: 1px dotted #444;}
div.tradeindex div.cont div.timg h4 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

ul.globaltop {
	float:left;
	width:20%;
}
ul.globaltop li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:100%;
	height:24px;
	font-size: 14px;
	line-height: 24px;
	padding-right:5px;
	margin-bottom:3px;
	white-space:nowrap;
	overflow:hidden;
	text-indent: 3px;
	border-bottom:1px dotted #1d1d1c;
}

/*-------------------------*/
/* Bookmark and share line */
/*-------------------------*/
.bookshare {
	width: 648px;
	margin: 0 auto 10px auto;
	padding-bottom: 10px;
}
.bookshare:after {content: ""; width: 0; height: 0; display: block; clear: both;}
.bookshare.top {height: 50px; overflow: hidden; padding-bottom: 0; margin-bottom: 10px;}
.bookshare .addthis_toolbox {
	float:left;
	display:inline;
	margin:2px 0 0 0;
}
.bookshare .addthis_toolbox a {float: left; padding: 0 2px;}
.bookshare .addthis_toolbox a img {
	background:url(/images/social.png);
	width: 50px;
	height: 50px;
	border: 0;
}
.bookshare .addthis_toolbox .sharetext {float: left; line-height: 50px; padding: 0 10px 0 30px; font-size: 14px;}
/*.bookshare .addthis_toolbox a.addthis_button_favorites img {width: 180px; background: url(/images/bookmark.png) 0 0 no-repeat; background-position: 0px 0px;}*/
.bookshare .addthis_toolbox a.addthis_button_favorites img {background-position: 0px -750px;}
.bookshare .addthis_toolbox a.addthis_button_facebook img {background-position: 0px 0px;}
.bookshare .addthis_toolbox a.addthis_button_twitter img {background-position: 0px -50px;}
.bookshare .addthis_toolbox a.addthis_button_google img {background-position: 0px -100px;}
.bookshare .addthis_toolbox a.addthis_button_delicious img {background-position: 0px -150px;}
.bookshare .addthis_toolbox a.addthis_button_digg img {background-position: 0px -200px;}
.bookshare .addthis_toolbox a.addthis_button_stumbleupon img {background-position: 0px -250px;}
.bookshare .addthis_toolbox a.addthis_button_yahoobkm img {background-position: 0px -300px;}
.bookshare .addthis_toolbox a.addthis_button_compact img {background-position: 0px -350px;}
.bookshare .addthis_toolbox a.addthis_button_expanded img {background-position: 0px -350px;}
.bookshare .addthis_toolbox a.addthis_button_pinterest_share img {background-position: 0px -400px;}
.bookshare .addthis_toolbox a.addthis_button_reddit img {background-position: 0px -450px;}
.bookshare .addthis_toolbox a.addthis_button_linkedin img {background-position: 0px -500px;}
.bookshare .addthis_toolbox a.addthis_button_email img {background-position: 0px -550px;}
.bookshare .addthis_toolbox a.addthis_button_google_plusone_share img {background-position: 0px -600px;}
.bookshare .addthis_toolbox a.addthis_button_myspace img {background-position: 0px -650px;}
.bookshare .addthis_toolbox a.addthis_button_pinterest_share img {background-position: 0px -400px;}
.bookshare .addthis_toolbox a.addthis_button_pinterest_share img {background-position: 0px -400px;}

/*==========footer=======*/
div.footer {
	clear: both;
	width: 982px;
	margin: 0 auto;
}
span.desktopspan, span.mobilespan {display: none;}

/*==========back to top=======*/
#back_to_top {
	right:20px;
	bottom:7%;
	z-index:1000;
	font-size:12px;
	position:fixed;
	display: none;
}
#back_to_top a#back-to-top {
	text-decoration:none;
	display:block;
	padding:10px 15px;
	width: 30px;
	height: 30px;
	position:relative;
	z-index:99999;
	background:#cf8511;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	border-radius:10%;
	opacity: 0.6;
}
#back_to_top a#back-to-top img {
	border: none;
	width: 30px;
	height: 30px;
}
#back_to_top a#back-to-top:hover {opacity: 0.8;}
/*==========ads=======*/
.ads3 {width:960px; margin:0 auto 30px auto; clear: both;}
.ads3:after {content: ""; width: 0; height: 0; display: block; clear: both;}
.ads3b {width:300px; height:250px; padding:4px; background: #292321; border: 1px solid #473e3c; margin: 0 5px 10px 5px; float:left;}
.divider {width:100%; height:45px; background:url("/images/bg1.png") top left repeat-x;}


/* 4 col
--------------------------------------------*/
@media all and (min-width: 1340px) {
	div.header, ul.topmenu, div.footer, div.nav, div.related {width: 1312px;}
	h1,h2 {width: 1312px;}
	div.tradeindex, div.az {width: 1320px;}
	ul.tcats, ul.content {width: 1320px;}
	div.search {width: 700px; margin-left: -350px;}
	div.search input.sf {width: 640px;}
	div.tradeindex div.cont {width: 16.666%;}
}

/* 5 col
--------------------------------------------*/
@media all and (min-width: 1670px) {
	div.header, ul.topmenu, div.footer, div.nav, div.related {width: 1642px;}
	h1,h2 {width: 1642px;}
	div.tradeindex, div.az {width: 1650px;}
	ul.tcats, ul.content {width: 1650px;}
}
/* < 1000
--------------------------------------------*/
@media all and (max-width: 1000px) {
	.hideonmobile {display: none;}
	body {padding: 0 5px 5px 5px;}
	div.head, div.header, div.mholder, ul.topmenu, div.az, div.nav, div.footer, div.tradeindex, h1, h2, div.related, div.h, ul.content, ul.tcats, div.bookshare {width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
	div.mholder {padding: 0 5px;}
	h1,h2 {height: auto; line-height: 38px}
	#lngselect ul {width: 300px; height: auto;}
	div.sort, div.durgrp {display: table; width: 50%; border-spacing: 2px;}
	div.durgrp {margin-left: 0;}
	div.sort a, div.durgrp a {display: table-cell; float: none; width: 50%; text-align: center; margin: 0;}
	div.nav.top div.pages {display: none;}
	ul.content, ul.tcats {padding-left: 0;}
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {width: 33.3333%; margin: 0; border: 2px solid #262523; box-shadow: inset 0 0 1px #000; padding: 2px; padding-bottom: 99px; box-sizing: border-box; -moz-box-sizing: border-box; min-height: 100px;}
	ul.tcats li, ul.tcats li:hover {padding-bottom: 30px;}
	ul.content li img, ul.tcats li img {width: 100%; height: auto; max-height: 180px;}
	ul.content li h3, ul.tcats li h3 {width: 100%; left: 0; box-sizing: border-box; -moz-box-sizing: border-box;}
	ul.tcats li h3 {font-size: 16px; height: 30px; line-height: 30px; background:url("/images/fld.png") 5px 11px no-repeat;}
	ul.tcats li span.cnt {bottom: 32px;}
	ul.content li h3 {height:27px; border-left: 1px solid #000; border-right: 1px solid #000;}
	ul.content li span.dur {right: 2px;}
	ul.content li span.add {left: 5px;}
	ul.content li span.src {right: 5px;}
	ul.content li span.tl {width: 100%; height: 43px; box-sizing: border-box; -moz-box-sizing: border-box;}
	ul.content li a.report {left: 2px;}
	div.pages {float: none; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; display: table; border-spacing: 2px;}
	div.pages span, div.pages a {display: table-cell; float: none; text-align: center;}
	div.pages span.ptitle {display: none;}
	div.nav.bottom div.sort,div.nav.bottom div.durgrp {display: none;}
	ul.globaltop {width:25%;}
	ul.globaltop.col5 {display: none;}
	div.az ul {width: 100%; padding-left: 0;}
	div.az ul li {width: auto; padding-right: 30px; float: left; margin-bottom: 5px;}
	div.az ul li > a {width: auto; float: left; text-indent: 0; padding-left: 22px;}
	div.az ul li > span {width: auto; float: left; padding-left: 0px; display: none;}
	div.az ul li.letter, div.az ul li.space {width: 100%; padding-right: 0;}
}

/* <900
--------------------------------------------*/
@media all and (max-width: 899px) {
	div.head {background: #1d1d1d;}
	div.header {height: 110px; padding-top: 60px; padding-bottom: 0;}
	div.search {position: relative; width: 100%; height: 40px; box-sizing: border-box; -moz-box-sizing: border-box; left:auto; right: auto; top: auto; margin: 0 auto;}
	div.search input.sf {width: 200px;}
	div.search.bottom {margin: 0 auto 20px auto; left: auto; top: auto;}
	
}

/* <768
--------------------------------------------*/
@media all and (max-width: 767px) {
	ul.content li,ul.content li:hover {padding-bottom: 139px;}
	ul.content li h3 {bottom: 94px; height:45px; white-space: normal; z-index: 1;}
	ul.content li h3.full {white-space: normal; height:45px;}
	ul.content li span.dur {bottom: 139px;}
	ul.content li span.add {bottom: 73px;}
	ul.content li span.src {bottom: 53px; left: 5px; right: auto;}
	ul.content li a.report {right: 5px; left: auto; bottom: 68px; opacity: 1; background: url(http://static.webclicks24.com/images/report.png) 6px 5px no-repeat}
}


/* <600px - 3 small columns
--------------------------------------------*/
@media all and (max-width: 599px) {
	ul.tcats li h3 {font-size: 13px;}
	div.tradeindex div.cont {width: 33.333%;}
	div.tradeindex div.cont div.timg h4 {font-size: 13px;}
}

/* <520
--------------------------------------------*/
@media all and (max-width: 519px) {
	div.h {padding: 0;}
	div.tbookshare {display: none;}
	div.h h1 {width: 100%;}
	ul.globaltop {width:33.333%;}
	ul.globaltop.col4 {display: none;}
	div.pages a.delta4 {display: none;}
	div.header {height: 100px; padding-top: 50px; padding-bottom: 0;}
	div.logo {top: 5px;}
	div.logo a img {width: 220px; height: 36px;}	
	#lngselect {top: 7px; right: 0; width: 55px; height: 30px;}
	#lngselect strong {width: 0; height: 20px;}
	#lngselect strong span {display: none;}
	#lngselect.down:after {right: 28px; top: 30px;}
	#lngselect ul {right: 5px; top:38px;}
	ul.topmenu li.ext {display: none;}
	div.mholder {margin-bottom: 10px;}
}

/* <480px - 2 columns
--------------------------------------------*/
@media all and (max-width: 479px) {
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {width: 50%;}
	div.pages a.delta3 {display: none;}	
	ul.globaltop {width:50%;}
	ul.globaltop.col3 {display: none;}
	div.sort, div.durgrp {width: 100%; float: none;}
	div.sort {margin-bottom: 5px;}
	h1,h2 {font-size: 16px;}
	div.tradeindex div.cont {width: 50%;}
}

/* 400 - 2 small columns
--------------------------------------------*/
@media all and (max-width: 400px) {
	ul.tcats li h3 {font-size: 13px;}
	div.pages a.delta2 {display: none;}
	ul.topmenu li a.first {display: none;}
}