@charset "utf-8";
/* =======================================
	Global Home Style
  2014.07.28
  
  This file should include rules from:
  -reset.css (all)
  -global.css (partly)
========================================== */

/* reset rules (from "/styles/reset.css) */
body,div,dl,dt,dd,ul,ol,menu,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,label,
p,blockquote,table,th,td {margin: 0; padding: 0;}

html,body {color: #000; width: 100%; position: relative;}

body {-webkit-text-size-adjust: none;}
* html body {}
*:first-child+html body {}

img {border: 0; vertical-align: top; display: block;}

article,aside,section,details,header,hgroup,footer,figure,
h1,h2,h3,h4,h5,h6,p,li,label,dl,dd,dt,div,span {font-size: 100%; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal;}
ul,dl,ol,menu {text-indent: 0;}
li {list-style: none;}

address,caption,cite,code,dfn,em,strong,th,i,var,ins,del {font-size: 100%; font-family: sans-serif; font-style: normal;}
em,strong,b {font-weight: bold;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}

input,select,textarea,button {font-size: 100%; font-family: sans-serif; font-weight: normal; font-style: normal;}
input[type=radio], input[type=checkbox] {height: 13px; width: 13px; padding: 0; margin: 0;}
textarea {resize: none;}
* html input,* html textarea,* html select {font-size: 100%;}
*:first-child+html+input,*:first-child html+textarea,*:first-child+html select {font-size: 100%;}

table {border-collapse: collapse; border-spacing: 0; font-size: inherit;}
th,td {text-align: left; vertical-align: top;}
caption {text-align: left;}

pre,code,kbd,samp,ttm,dfn,param {font-family: monospace;}
* html pre,* html code,* html kbd,* html samp,* html tt {font-size: 100%; line-height: 100%;}
*:first-child+html pre,*:first-child html+code,*:first-child html+kbd,*:first-child+html+samp,*:first-child+html tt {line-height: 100%;}

a {outline: -1px; cursor: pointer;}
menu {line-height: 0;}
li {display: inline; line-height: 1;}
input[type=text],input[type=password],select,textarea {background-image: -webkit-gradient( linear,left bottom,left top,color-stop(0, #fff),color-stop(0.9, #fff)); background-image: -moz-linear-gradient(center bottom, #fff 0%, #fff 90%);}
.dev-mobile input[type=text], .dev-mobile input[type=password], .dev-mobile select, .dev-mobile textarea,
.mobile input[type=text], .mobile input[type=password], .mobile select, .mobile textarea {-webkit-appearance: none;}

/* universal rules */
/* * Clearfix all box elements * */
article,nav,aside,section,header,footer,hgroup,h1,h2,h3,h4,h5,h6,fieldsed,dl,menu,div,p,.box{zoom:1; position: relative;}
article:before,nav:before,aside:before,section:before,header:before,footer:before,hgroup:before,h1:before,h2:before,h3:before,h4:before,h5:before,h6:before,fieldsed:before,dl:before,menu:before,div:before,p:before,.box:before,article:after,nav:after,aside:after,section:after,header:after,footer:after,hgroup:after,h1:after,h2:after,h3:after,h4:after,h5:after,h6:after,fieldsed:after,dl:after,menu:after,div:after,p:after,.box:after{content:'';display:table}
article:after,nav:after,aside:after,section:after,header:after,footer:after,hgroup:after,h1:after,h2:after,h3:after,h4:after,h5:after,h6:after,fieldsed:after,dl:after,menu:after,div:after,p:after,.box:after{clear:both}
fieldset {border: none;display: block;}
.display-block{display:block}
.display-inline{display:inline}
.display-inlineblock{display:inline-block}
.display-none,.hide{display:none}
.right{float:right}
.left{float:left}
.float-none{float:none}
.clear-both{clear:both}
.clear-none{clear:none}
.clear-right{clear:right}
.clear-left{clear:left}
.pos-relative{position:relative}
.pos-absolute{position:absolute}
.pos-fixed{position:fixed}
.valign-top{vertical-align:top}
.valign-bottom{vertical-align:bottom}
.valign-middle{vertical-align:middle}
.margin-allzero{margin:0}
.margin-auto{margin-left:auto;margin-right:auto}
.padding-allzero{padding:0}
.border-none{border:none}
.border-hair{border-width:1px}
.border-solid{border-style:solid}
.border-dotted{border-style:dotted}
.border-no-top{border-top:none}
.border-no-bottom{border-bottom:none}
.border-no-right{border-left:none}
.border-no-left{border-right:none}
.text-clean{text-decoration:none}
.text-underline{text-decoration:underline}
.text-bold{font-weight:700}
.text-norm{font-weight:400}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
b,em,strong{font-weight:700}
.roundcon-half{border-radius:.5em}
.roundcon-no-ne{border-top-right-radius:0}
.roundcon-no-se{border-bottom-right-radius:0}
.roundcon-no-sw{border-bottom-left-radius:0}
.roundcon-no-nw{border-top-right-radius:0}
img{border:none;color:red;vertical-align:middle}
ins{background-repeat:no-repeat;border:none;display:inline-block;vertical-align:middle}
a{text-decoration:none;color: #002859;}
a:hover{text-decoration:underline}


/* html page structure */
.html-page-height-full {height: 100%;}

/*country-flags*/
.flag {background: url(../images/flag_countries.gif) no-repeat;}
.country-au .country-select-set .flag, .flag-AU {background-position: left -00px ;}
.country-cn .country-select-set .flag, .flag-CN {background-position: left -15px ;}
.country-hk .country-select-set .flag, .flag-HK {background-position: left -30px ;}
.country-id .country-select-set .flag, .flag-ID {background-position: left -60px ;}
.country-in .country-select-set .flag, .flag-IN {background-position: left -45px ;}
.country-kr .country-select-set .flag, .flag-KR {background-position: left -75px ;}
.country-my .country-select-set .flag, .flag-MY {background-position: left -90px ;}
.country-ph .country-select-set .flag, .flag-PH {background-position: left -105px ;}
.country-sg .country-select-set .flag, .flag-SG {background-position: left -120px ;}
.country-tw .country-select-set .flag, .flag-TW {background-position: left -136px ;}
.country-th .country-select-set .flag, .flag-TH {background-position: left -150px ;}
.country-us .country-select-set .flag, .flag-US {background-position: left -165px ;}

/*theme style*/
html, body {height: 100%;}
.jobseeker-site, .jobseeker-site footer{line-height: 1; color: #333;}
.jobseeker-site .content-page {margin: 0 auto; width: 1008px;}
.jobseeker-site .page-body {}
.jobseeker-site .footer-body {background-color: #062e56;}
.jobseeker-site .page-content {min-height: 500px;}

.global-home {height: 100%; background: #002859 url(../images/bg_globalhome.png) 50% 35px no-repeat;}
.global-home .page-body {min-height: 100%;}
.global-home .page-content {padding-bottom: 32px;}
.global-home .ghome-page-footer {height: 32px; margin-top: -32px; position:relative;}

.page-content {background: transparent;}
.ghome-page-header,
.ghome-page-footer {display:block;}
.ghome-content {box-shadow: none;}

/*- footer -*/
.footer-body {width: 1008px; margin:auto; border-top: 4px solid #002859;}

.footer-body .lower-footer {font-size: 12px; line-height: 1.25; background-color: #002859; padding: 6px 0 5px;}
.footer-body .lower-footer p, .footer-body .lower-footer menu li {color: #999;}
.footer-body .lower-footer menu {}
.footer-body .lower-footer menu li {display:inline;}
.footer-body .lower-footer menu li a,.footer-body .lower-footer menu li b {display: block; float: left; margin: 0 3px; text-decoration: none;}
.footer-body .lower-footer menu li a:hover {text-decoration: underline;}
.footer-body .lower-footer menu li:first-child a {margin: 0 3px 0 0;}

.footer-copyright {width: 44.8%; float: left;}
.footer-links {width: 55%; float: right;}
.footer-links .urls {float: right;}
.footer-links menu img {height: 30px;}
.footer-body .extra {display: none; margin-right: 16px;}

.lower-footer img {height: 14px;}
.footer-body .lower-footer p,
.footer-body .lower-footer a,
.footer-body .lower-footer b,
.footer-body .lower-footer menu li {color:#fff;}

.ghome-page-footer {background-color: #002859; background-image: none;}
.ghome-page-footer .ghome-footer-body {width: 1008px; border-top: 4px solid #8695a9; margin:auto; padding-top: 4px;}
.ghome-page-footer .ghome-footer-body p {font-size: 12px; color: #8695a9; margin-left: 24px;}

/*- header -*/
.ghome-page-header {background-color: #fff; border-bottom: 4px solid #002859;}
.header-body {background: #fff; margin: 0 auto -4px; border-bottom: 4px solid #002859;}
.header-body .header-logo {color: #fff; background: url(../images/jobsdb_logo_ghome_2015.png) left bottom no-repeat; margin: 0 0 45px 36px;}
.header-body .header-logo a {display: block; margin: 53px 0 0 0; padding: 69px 288px 0 0; float: left;}
.header-body .header-logo a span {display: none;}

/*- global home -*/
.ghome-content {padding-top: 140px;}
.ghome-content-body {width: 1008px; margin:auto; padding: 100px 0 0; background-color: rgba(255,255,255,.98); border-radius: 2px; box-shadow: 0 3px 6px rgba(0,0,0,.1);}
.ghome-content-tileset {margin: 0 0 100px 24px;}

.ghome-header {color:#0f2c55; font-size: 20px; line-height: 1.2; font-weight:bold; margin-bottom: 36px;}

.ghome-tiles {}
.ghome-tiles .ghome-item {display:block; float:left; width: 225px; margin: 0 20px 36px 0; }
.ghome-tiles .ghome-item .arrow-down {padding-right: 16px; background: url(../images/icon_home-arrowdn-draker.gif) right center no-repeat;}
.ghome-tiles .ghome-link ins {vertical-align:bottom;}
.ghome-tiles .ghome-item .flag {width: 22px; height: 13px; margin-right: 3px;}
.ghome-tiles .ghome-link,
.ghome-tiles .ghome-link span {color:#298eb9; font-weight:bold;}
.ghome-tiles a:hover {text-decoration:none;}

.ghome-item .home-globe {width: 22px; height: 16px; margin-right: 3px; background: url(../images/icon_home-globe.png) 0 50% no-repeat;}

.ghome-other {display:none; z-index: 2;}
.ghome-list-layer {position: absolute; min-width: 260px; padding-top: 10px}
.ghome-list-layer-body {border: 2px solid #79c9ee; background-color:#f7fafb; border-radius: 5px; box-shadow: 0 3px 6px rgba(0,0,0,.1);}
.ghome-list-layer-body h6 {background-color:#79c9ee;color:#fff; padding: 4px 10px; font-size: 12px; font-weight:bold; line-height: 1.2;}
.ghome-list-layer a {display:block; clear:both; color:#666; padding: 8px 10px; font-size: 14px;}
.ghome-list-layer a:hover {background-color:#dfeaef; text-decoration:none;}
.ghome-list-layer-body:after {border-bottom: 10px solid #79c9ee; border-left: 10px solid transparent; border-right: 10px solid transparent; content: ""; display: inline-block; left: 16px; position: absolute; top: -10px;}
.ghome-other-list b {color: #298eb9; font-weight: normal;}

.ghome-remember {font-size: 14px;}
.ghome-remember input {vertical-align: bottom; margin-right: 4px;}

/*- responsive height -*/
@media screen and (max-height: 740px) {
  .ghome-content {padding-top: 40px;}
  .ghome-content-tileset {}
  .ghome-other-list {max-height: 167px; overflow-y: auto;}
}
@media screen and (min-height: 741px) and (max-height: 800px) {
  .ghome-content {padding-top: 60px;}
}
@media screen and (min-height: 741px){
  .ghome-other-list {max-height: 207px; overflow-y: auto;}
}


