﻿@charset "utf-8";
/* CSS Document */
html,body,div,ul,ol,li,p,h2,h1,h3,h4,span,input,textarea,select,option,table,tr,td{padding:0;margin:0;box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

body{font-family:Arial, sans-serif,"宋体";color:#333;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;font-size: 12px;}
img{border:none;}
ul,li{list-style-type:none;}
i,em{font-style: normal;}
input{outline: none;}
.row{ padding-top: 20px; padding-bottom: 20px;}
.center .row:nth-child(1){ padding-top: 0px;}
a{text-decoration:none; color:#333;}
a:hover{ text-decoration: none; color: #3c88c6; }
*{margin: 0; padding: 0;}
.clear{display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0; margin-top: 0px !important;; padding-left: 0px !important;;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
span,a,div,em,p{word-wrap: break-word;word-break: normal; word-break:break-all;}
.center {
  
  margin-right: auto;
  margin-left: auto;position: relative;
}

.clearfix{*height:1%;}
.pr{position: relative;z-index: 0;}
.pa{position: absolute;}
.tin{text-indent:2em; overflow:hidden;}
.fl{float:left; display:block;}
.fr{float:right; display:block;}
.dis{display:none;}
.bord_bot_red{ border-bottom: 2px solid #dc0500;}
.pd0{padding: 0 !important;}
.tac{text-align: center;}
.f_wet{font-weight: bold;}
.f_c_8f{color: #8f8f8f;}
.f_c_red{color:#dc0500 !important;}
.f_c_green{color:#3b7004 !important;}
.f_c_000{color: #000;}
.f_c_fff{color: #fff;}
.f_c_666{color: #666 !important;}
.f_c_999{color: #999 !important;}
.f_c_333{color: #333 !important;}
.f_c_444{color: #444;}
.f_c_blue{color: #3c88c6 !important;}
.f_c_30405a{color: #333 !important;}
.pt_20{padding-top: 20px;}
.pd_24{padding: 24px !important;}
.mt_20{margin-top: 15px !important;}
.mt_25{margin-top: 25px;}
.ml_15{margin-left: 15px;}
.ml_20{margin-left: 20px;}
.ml_3{margin-left: 1%;}
.ml_10{margin-left: 10px;}
.ml_8{margin-top: 8px;}
.mr_3{margin-right: 3%;}
.mr_30{margin-right: 30px;}
.mb_15{margin-bottom: 15px;}
.pad20{ padding: 20px;}
.border{border:1px solid #e9e9e9;}
.f_s_14{font-size: 14px;}
.f_s_16{font-size: 16px;}
.f_s_13{font-size: 13px;}
.border_dash{border-bottom: 1px dashed #e9e9e9;}
.mt_10{margin-top: 15px !important;}
.mt_15{margin-top: 15px !important;}
.mt_0{margin-top: 0 !important;}
.bord_b{border-bottom: 1px solid #e9e9e9;}
.bord_t{border-top: 1px solid #e9e9e9 !important;}
.bord_b2{border-bottom: 2px solid #e9e9e9;}
.pl_65{padding-left: 65px;}
.pdb_10{padding-bottom: 10px;}
.ml_5{margin-left: 5%;}
.ml_9{margin-left: 9%;}
.pd_30{padding: 30px;}
.pl_50{padding-left: 50px;}

.w100{width: 100% !important;}
.minheight_480{min-height: 480px;}
.pd240{padding: 30px 40px 25px 45px;}
.bod_r{border-right: 1px solid #a1a1a1;}
.back_blue{background: #1083c4; color: #fff;}
.back_none{background: none !important;}
.bord_none{border:none !important;}
.text_hang{overflow:hidden;white-space:nowrap;text-overflow: ellipsis; }
.back_f8{background: #f8f8f8;}
.padl_265{padding-left: 265px;}
.tac_r{text-align: right;}
.pdb_5{padding-bottom: 5px;}
.mb_50{margin-bottom: 50px;}
.pdt0{padding-top: 0 !important;}
.mgt0{margin-top: 0 !important;}
.mgb0{margin-bottom: 0;}
.pdt0{padding-top: 0;}
.pdb0{padding-bottom: 0;}
.noleftmg{margin-left: 0;}
.norightmg{margin-right: 0;}
.noleftmg{margin-left: 0;}
.norightpad{padding-right: 0;}
.noleftpad{padding-left: 0 !important;}
.f_c_origin{color: #f58a22;}
/*zzg */
.nopadt{ padding-top:0px !important;}
.nomgt{ margin-top:0px !important;}

.login_tab input {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #8e96a1;
  line-height: 47px;
  margin-top: 10px;
  padding: 0 10px;
  color: #666;}




/*表格*/



/* header
----------------------------------------------------------*/

/*  common css  */
.mouse_hand{cursor:pointer}
.thesis_click{background:#3c88c6 !important;color:#fff !important;}

