@charset "utf-8";
/* CSS Document */

body{background: #f0f0f0;  }
p,span,em{word-wrap:break-word; }
p{margin: 0;}
/*head*/
/*变量*/ 
textarea{resize:none;}
/*head*/
.head{height: 66px; /*background: url(../images/header_bg.jpg) repeat-x;*/ background:#3573b9;}
.head_head{height: 66px;}
.head_cont .pdt0{padding-bottom: 0;padding-top: 0;}
.head{ height: 66px;border-bottom: 1px solid #166cb6;}
.logo {height: 66px;padding-top: 17px;}
.logo a img{width: 80%;}
.head_nav > ul{clear: both;padding-left: 15px;}
.head_nav > ul > li{ float:left;padding:0 10px 0 10px; }
.head_nav > ul > li > a,.zixunpr{color: #fff;display: inline-block;line-height: 66px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  text-align: center; }
.head_nav > ul > li>em{display: inline-block;width: 10px;height: 10px; background: url(../images/right_sj.png)center no-repeat;margin-left: 5px;}
.head_nav > ul > li:hover{background:#4c76b4;cursor: pointer;}
.zixunpr:hover em{background: url(../images/down_sj.png)center no-repeat;cursor: pointer;}

.head_nav ul li span{display: inline-block;vertical-align: middle;padding-right: 15px;height: 20px;}
.head_seach{width: 370px;height: 38px; margin-left:0px;background:#365686;border-radius: 3px;margin-top: 18px;border:1px solid #166cb6;overflow: hidden;padding:4px;display: none}
.head_seach input{vertical-align: middle;}
.seach_text{width: 88%;height:28px; line-height:25px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  border: none;outline: none;padding-left: 10px;}
.seach_sub{width: 34px; height: 30px; background: url(../images/search-white.png)4px 4px no-repeat;border:none;cursor: pointer;float: right;background-size: 70%;}
.head_cont_pho{display: none;}
.head_cont{z-index: 33;}
.pdb_5{color: #888;}
.ss_hf a{cursor: pointer;}
.seach,.nav_mean{display: none;}
.login_box{color: #fff;}
.login_box a{color: #fff;display: inline-block;padding: 0 5px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-top: 5px;}
.login_li{display: none;}
.pc_search img{display: inline-block;margin-right: 5px;}
.pc_search{vertical-align: middle;font-size: 15px;display: inline-block;margin-right: 10px;color: #fff;background: #fff;border-radius: 15px;line-height: 25px;padding:0 10px;}
.searinput{width: 160px;height: 30px;line-height: 30px;background: none;border:0; color:#252525;}
.pc_search em,.pc_search input{vertical-align: middle;}
/*footer*/
.footer{width: 100%;padding-top: 40px;border-top: 1px solid #eeeeee;}
.foot_left{width: 195px;}
.foot_left p{color: #cccccc;line-height: 22px;text-align: center;}
.son_web{margin-left:85px;max-height: 170px;width: 10%;}
.son_web .foot_nav_tit{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;}
.son_web ul li{line-height: 24px;}
.son_web ul li a{color: #888;}
.channel{width: 240px;}
.channel a{display: inline-block;width: 115px;line-height: 24px;color: #888;}
.about_us{margin-left: 0;}
.erweima{width: 225px;margin-top: -8px;}
.erweima p{display: inline-block;margin-left: 29px; font-size: 15px;text-align: center;line-height: 40px;}
.erweima p img{display: inline-block;}
.web_map{color: #888;padding-top: 10px;}
.web_map p{line-height: 28px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.web_map p a{color: #888;}
.mt_30{margin-top: 30px;}
/*二级导航*/
.zixunpr{position: relative;}
.head_nav{z-index: 333;}
.sub_nav{background: #efefef;top: 66px;left: 0;width: 670px;padding: 15px 20px 0 20px;border:1px solid #ddd;border-top: 0;display: none;}
.sublist1{float: left;line-height: 30px;color: #333;text-align: left; }
.sublist1 h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4469a0;font-weight: 600;line-height: 30px;padding-bottom: 10px;}
.sublist1 ul{line-height: 30px;font-size: 12px;padding: 0px 18px 20px 0;border-right: 1px solid #dddddd;margin-right: 30px;}
.sublist1 ul:last-child{border-right: 0;}
.sublist1 ul li>em{display: inline-block;width: }
.sublist1 ul li >a{color: #555;}
.sublist1 ul li >a:hover{color: #4469a0;}
.sublist2{width: 215px;}
.iput_sea{background: #fff;border:1px solid #ddd;}
.sublist2 input{width: 170px;line-height: 34px;color: #252525;border:none;padding: 0px 10px;}
.sublist2 button{width: 34px;height: 34px;border:0;text-align: center;background: #fff;}
.sublist2 button img{display: inline-block;vertical-align: middle;}
.xyyz{width: 400px;}
.xyyz ul{float: left;width: 180px;margin-right: 0; padding-right: 10px;}
.pdl_30{padding-left: 30px !important ;}
/*left-banner*/
/*焦点图*/
.slideBox{ position:relative;margin:0 auto;  max-width:640px;/* 设置焦点图最大宽度 */ }
.slideBox .bd{ position:relative; z-index:0;}
.slideBox .bd li{ position:relative; text-align:center;padding-top: 0;width: 100%;}
.slideBox .bd li img{vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */ height:204px;}
.college .slideBox .bd li img{width: 179px; height:101px;}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  display: block;}  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:42px; line-height:42px; color:#fff;  text-align:left; z-index: 3;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.slideBox .hd{ position:absolute;width:100%;height:1em; padding-top:.3em; bottom:-20px; z-index:1; text-align:center;   }
.slideBox .hd li{ display:inline-block; width:20px; height:5px; background: #8fa7c9; text-indent:-8889px; overflow:hidden; margin:0 .3em; cursor:pointer; }
.slideBox .hd li.on{background: #ff8a00; background-size: 100% 100%; opacity:1;}
/*.slideBox .prev,.slideBox .next{ position:absolute; left:1em; top:0; display:block; width:3%; height:100%;text-align:center;}*/
.tit_bg{background: #000;opacity: 0.5;z-index: 2;position: absolute;bottom: 0;left: 0;height: 42px;width: 100%;}



/*index conten*/
.white{background: #fff;}
.new_recommend ul{height: 40px;border-bottom: 1px solid #eaeaea;}
.new_recommend ul li{float: left;height: 40px;padding: 0 10px;line-height: 40px;cursor: pointer;}
.new_recommend ul .tabs_on span{color: #4b78b7 !important;border-bottom: 2px solid #4b78b7; margin-top: -2px;}
.tabs_on2{color: #4b78b7 !important;border-bottom: 3px solid #4b78b7;}
.new_recommend ul li span{display: block;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;    }
.new_recommend .new_list .n_list_cont{height:36px;}
.new_recommend .new_list{ padding: 9px 0 12px 0;}
.new_recommend .new_list:first-child{padding-top: 0;margin-top: -4px;}
.new_cent >div{padding: 0px 15px 20px 10px;}
.new_list{border-bottom: 1px solid #eaeaea;padding:10px 0; }
.new_list h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  font-weight: normal;line-height: 22px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }
.new_list h2 a{color: #000;display:block;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.new_list h1 a{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #333;display: block;float: none;padding-right: 0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.n_list_cont {color: #888;line-height: 20px;max-height: 36px;overflow:hidden;}
.tjcont_style{max-height: 34px;}
.new_time{color: #888;line-height: 23px;}
.new_more{float: right;margin-top: -30px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #3b73b9;margin-top: -30px;}
.guide {background: #fff;border:1px solid #e9e9e9;padding-right: 15px;padding-top: 10px;}
.new_cont h5{font-weight: normal;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-bottom: 5px;line-height: 20px;margin:0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.z_list_cont{line-height: 18px;color: #252525;height: 36px;overflow: hidden;color: #888;}
.guide_cont{padding: 0 !important;}
.guide ul {line-height: 36px;height: 40px;font-size: 18px;border-bottom: 1px solid #eaeaea;margin-left: 15px;}
.guide ul li{float: left;padding:0 10px;cursor: pointer;}
.news2{padding: 0px 15px 0px 15px;}
.guide ul .tabs_on,.guide ul .tabs_on1{color: #3b73b9;border-bottom: 3px solid #3b73b9;}
.news2 .row{border-bottom: 1px solid #eaeaea;margin-left: 0;padding-bottom: 10px;}
.news2 .row:last-child{border-bottom: none;}
.news2 .row .clo-md-4{padding: 0;}
.news2 .row>div:first-child{padding-left: 0;padding-right: 0;}
.news2 .row>div:first-child img{width: 100%;}
.news2 .row>div:last-child img{padding-right: 0;}
.news2 > .bord_b:last-child{border-bottom: none;}
.size12{font-size: 12px;}
.gg{padding-top: 20px;}
.gg img{width: 100%;}
.time1{width: 44px;height: 54px;background: url(../images/time_bg.jpg) no-repeat;padding-top: 8px;text-align: center;color: #888;}
.time1 em{display: block;text-align: center;line-height: 20px;font-size: 20px;color:#4469a0;}

.title_w{background:url(../images/jiao.png) right top no-repeat #476da5;height: 50px;}
.title_w span{margin-left: 20px;margin-right: 10px;}
.title_w span img{display: inline-block;}
.guide1{padding-top: 0;padding-right: 0;line-height: 50px;font-size: 18px;color: #fff;background: #fff;}
.new{padding:15px 20px 15px 20px;border-bottom: 1px dashed #eaeaea;}
.new h4{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 23px;height: 50px;overflow: hidden;color: #333;}
.h80{height: 80px;overflow: hidden;color: #888;font-size: 12px;line-height: 20px;}
/*新闻切换*/
.slideBox1{ position:relative;margin:0 auto;  max-width:640px;/* 设置焦点图最大宽度 */padding: 0 20px; }
.slideBox1 .bd{ position:relative; z-index:0;}
.slideBox1 .bd li{ position:relative; text-align:center;}
.slideBox1 .bd li img{vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox1 .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  display: block;}  /* 去掉链接触摸高亮 */
.slideBox1 .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:42px; line-height:42px; color:#fff;  text-align:left;border-top: 1px solid #fff;z-index: 3;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.slideBox1 .hd{ position:absolute;width:100%;height:1em; padding-top:.3em; bottom:-20px; z-index:1; text-align:center;display: none;}
.slideBox1 .hd li{ display:inline-block; width:20px; height:5px; background: #8fa7c9; text-indent:-8889px; overflow:hidden; margin:0 .3em; cursor:pointer; }
.slideBox1 .hd li.on{background: #ff8a00; background-size: 100% 100%; opacity:1;}
.slideBox1 .prev,.slideBox1 .next{ position:absolute;  display:block; width:18px; height:18px;text-align:center;z-index: 99;cursor: pointer;}
.slideBox1 .prev{background: url(../images/left.png) no-repeat;right: 40px;bottom:-30px;}
.slideBox1 .next{background: url(../images/right.png) no-repeat;right: 20px;bottom:-30px;}
.check_new_list{padding:13px 0;}
.check_new_list a{display: inline-block;}
.time2{width: 50px;background:#7b858a;color: #fff;font-size: 12px;display: block;border-radius: 3px;}
.time2 span,.time2 em{display: block;text-align: center; }
.time2 span{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  background: #4d78b7;height: 30px;line-height: 30px;}
.time2 em{font-size: 12px;line-height: 26px;background: #ededed;color: #252525;}
.new_cont1{width: 80%;font-size: 12px;text-align: left;}
.bgColor{background: #4469a0;} 
.fontColor{color:#4469a0;}
.new3_cont{background: #fff;padding-bottom: 40px;border:1px solid #e9e9e9;border-top: none;}
.gg2{width: 100%;display: none;}
.gg2 img{width: 100%;}
.news2 h2{font-size: 20px;font-weight: normal;padding-left: 20px;line-height: 40px;padding-bottom: 10px;}
.img100 img{width: 100%;}
.z_list_cont1{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 25px; color: #252525;}
.time3{line-height: 20px;color: #888;}
.video_play a{display: inline-block;text-align: center;margin-right: 15px;padding-top:10px;margin-top: 10px}
.video_play a img{display: inline-block;margin-bottom: 10px;}
.video_play a:first-child{background: url(../images/video1.jpg) center top no-repeat;}
.video_play a:last-child{background: url(../images/see.jpg) center top no-repeat;}
.video_play a:first-child:hover{background: url(../images/video.jpg)center top no-repeat !important;}
.video_play a:last-child:hover{background: url(../images/see1.jpg)center top no-repeat !important;}
.join{margin-top: -30px;}
.join a{display: inline-block;padding: 5px 20px;border:1px solid #e0e0e0;border-radius: 3px;margin-left: 15px;}
.join a:first-child{background: #5ebd5e;color: #fff;border-color: #478e47;}
/*.new_video{padding-bottom: 50px !important;}*/

.department{padding:10px 20px 15px 20px;}
.department > a{display: inline-block;width: 75px;line-height: 50px;color: #252525;}
.pdtb25{padding-top: 25px;padding-bottom: 25px;}
.popular_article{padding-top: 10px;}
.popular_article li{overflow:hidden;white-space:nowrap;text-overflow: ellipsis;line-height: 32px;height: 32px; color: #252525;}
.popular_article li em{display: inline-block;width: 16px;height: 16px;text-align: center;line-height: 16px;color: #fff;background: #d2d2d8;margin-right: 10px;}
.list1 em{background: #fd5401 !important;}
.list2 em{background: #fe7e01 !important;}
.list3 em{background: #ffab02 !important;}
.topic_more {cursor: pointer;text-align: center;line-height: 40px;margin-top: 15px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  display: block;color: #252525;}
.index_title{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #104e81;border-bottom: 1px solid #e6eaed;height: 40px;}
.index_title span{display: inline-block;border-bottom: 2px solid #104e81;margin-bottom: -1px;height: 40px;line-height: 48px;}
.index_title a{float: right;width: 15px;height: 15px; margin-top: 20px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;}
.gg_xueshu{width: 100%;}
.gg_xueshu a{display: block;}
.gg_xueshu a img{width: 100%;}

/*会议频道*/
.bgf6{background: #f6f6fa;padding-bottom: 20px;padding-top: 20px;}
.headtop{padding: 0;z-index: 33;}
.headtop form{display: none;}
.headtop form input[text]{width: auto;}
.headtop >p{display: inline-block;vertical-align: middle;margin-right: 20px;}
.headtop >p:last-child{margin-right: 0;float: right;padding-top: 10px;}
.headtop .headtit{color: #4072bb;}
.meet_headtit{font-size: 30px;line-height: 64px;}
.searchbox{display: inline-block; height: 34px;border:1px solid #5175a9;line-height: 30px;color: #252525;}
.headtop form {display: inline-block; }
.searchbox form .iptstyle3,.searchbox .iptstyle3{border:none;padding: 0 10px;width: 230px;}
.searbtn{border:none;background: #5175a9;color: #fff;padding: 0 15px;height: 32px;border:1px solid #5175a9;	}
.otherlist{color: #888;font-size: 12px; display: inline-block;height: 30px;line-height: 30px;z-index: 2;padding-left:10px;}
.otherlist >a{padding: 0 5px;/* border:1px solid #f4f4f4;*/}
.otherlist a:hover{color: #466da6;}
.otherlist a,.otherlist span{color: #333;}
.subnavbox{border-top:3px solid #4a74b2;background: #eaeaf1;border-bottom: 1px solid #4a74b2;}
.subnavlist{padding: 0;}
.subnavlist ul li{float: left;padding: 0 15px;line-height: 38px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-right: 10px;}
.nav_on{border-bottom: 3px solid #4f7dbf;}
.breadcrumb{background:none !important;padding-top: 0;padding-bottom: 0; color:#cbcbcb;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 0;}
.breadcrumb .row{padding-bottom: 0;}
.breadcrumb span img{display: inline-block;}
.breadcrumb span,.breadcrumb a{vertical-align: middle;color:#9A9898;}
.subbanner,.subbanner2{/*height: 75px;*/margin-bottom: 20px;}
.subbanner img,.subbanner2 img{width: 100%;height: 100%;}
.hy_listbody{padding: 20px 40px;}
.hy_listbody li{    padding: 25px 40px 25px 40px;border-bottom: 1px dotted #aaa9a9; }
.hy_listbody li h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;   color: #456ca5;margin-bottom: 10px;}
.hy_listbody li>p{line-height: 22px;font-size: 13px;margin-bottom: 10px;color: #252525;}
.hy_listbody li a{color: #5383c9;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  font-weight: bold;}
.hy_listbody li a:hover{color: #ff4a00}
.hy_listbody li:hover{background: #f5f5f5;}
.rightbox{padding: 20px;background: #fff;}
.rightbox h2,.rightbox1 h2{color: #1e4f96;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  font-weight: normal;border-bottom: 1px solid #e1e1e1;padding-bottom: 10px;margin-bottom: 10px;}
.rightbox h3 span{vertical-align: middle;display: inline-block;}
.rightbox h3 span img{display: inline-block;margin-right: 5px;}
.rightbox h3{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;   color: #1e4f96;margin-bottom: 10px;font-family: "微软雅黑";}
.siderbarlist{padding-left: 18px;line-height: 24px;color: #252525;padding-bottom: 20px;border-bottom: 1px dashed #e1e1e1;}
.siderbarlist li em{width: 5px;height: 9px;background: url(../images/icon_left.jpg) no-repeat;display: inline-block;vertical-align: middle;margin-right: 5px;}
.borbox1{margin-top: 20px;}

.contantbar{margin-top: 20px;}
.contantbar h1{height: 40px;line-height: 40px;background: #4a74b2;color: #fff;padding-left: 15px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.contantbar h1>span{width: 16px;height: 6px;position: absolute;bottom:-5px;left: 20px;display: inline-block;background: url(../images/dsj.jpg)no-repeat;}
.contactbox{padding: 20px;}
.contactbox p{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 25px;margin-bottom: 5px;}
.contactbox p span{margin-right: 5px;}
.banner_zixun{padding: 20px;}
.banner_zixun h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 30px;margin-bottom: 10px;}
.banner_zixun p{margin-bottom: 20px;}
.banner_zixun p img{width: 100%;}

.page_on{background: #1caaea;color: #1caaea;color: #fff;}
.page{text-align: center;margin-top: 10px;padding-bottom: 20px;margin-top: 20px;}
.page a,.pages a{display: inline-block;padding: 6px 12px;border:1px solid #e0e0e0;margin-right: 10px;}
.page .active,.pages .active{background: #1caaea;color: #1caaea;color: #fff;}
/*会议频道首页*/
.meetindex{padding: 10px 40px 20px 40px; }
.meetindex .news3{padding:25px 40px 25px 40px; }
.meetindex .row.bord_b_b{padding-bottom: 40px;}
.mtbodylist{margin-top: 18px;}
.lefttime{width: 70px;height: 80px;background: #4f7dbf;padding: 3px;}
.lefttime span{font-size: 18px;padding: 5px 10px 5px 10px ;border-bottom: 1px solid #eaeaea;}
.lefttime span,.lefttime em{display: block;text-align: center;line-height: 20px;color: #fff;}
.lefttime em{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-top:4px;}
.newscenternew{width: 100%;padding-left: 85px;}
.newscenternew h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #333;margin-bottom: 8px;}
.newscenternew p{line-height: 20px;height: 60px;overflow: hidden;color: #252525;}
.zxhuiyi{margin-top: 10px;}
.zxhuiyi h4{margin-bottom: 15px;border-bottom: 1px solid #e8e8e8;}
.zxhuiyi h4 span{background: #fff;display: inline-block;padding: 0 15px 0 0;margin-bottom: -10px;}
.zxhuiyi ul li{line-height: 22px;}
.zxhuiyi ul li em{color: #4f7dbf;margin-right: 5px;}
.border_bottom{border-bottom: 1px dashed #929292;padding-bottom: 20px;}

.meetbody h4{background: #eee;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #555;height:30px;line-height: 30px;padding-left: 10px;border-bottom: 1px solid #c9c9c9;}
.meetbody h4 a{display: inline-block;font-size: 12px;color: #888;float: right;padding-right: 10px;}
.newsimg{width: 100px;max-height: 74px;overflow: hidden;border:1px solid #ddd;}
.newsimg img{width: 100%;}
.newstext h6{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 20px;margin-bottom: 5px;max-height: 40px;overflow: hidden;}
.newstext p{color: #888;}
.newstext {width: 100%;padding-left: 110px;min-height: 68px;}
.meetinglist{padding-left: 15px;padding-top: 10px;}
.meetinglist li{list-style-type: disc;line-height: 23px; }
.meetinglist li a{color: #252525;line-height: 18px;}
.hykxbody h4{background: #fff;border-bottom: 3px solid #c9c9c9;margin-bottom: 20px;}
.hykxbody div p{margin-top: 10px;color: #252525;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.hykxbody div p span{display: block;line-height: 20px;color: #888;}
.borbox2{padding:10px 20px 20px 20px;background: #fff;border: none;}
.rightbox h2 a,.rightbox1 h2 a{font-size: 12px;color: #888;float: right;padding-right: 10px;}
.borbox2 > p{padding-bottom: 10px;padding-top: 10px;}
.borbox2 > p a{display: inline-block;padding: 0 10px;margin-bottom: 3px; text-align: center;line-height: 30px;border:1px solid #fff;color: #252525;background: #f0f0f0;border-right: none;border-bottom: none;}
.borbox2 > p a:hover{background: #ff4a00;color: #fff;}
.border_b{border-bottom: 1px dashed #929292;}
.fb_message{margin-top: 15px;}
.fb_message a{display: block;text-align: center;line-height: 45px;background: #4a74b2;border-radius: 4px;color: #fff;font-size: 18px;}
.fb_message a img{margin-right: 10px;}
.calendar{border: 1px solid #eaeaea;border-left: none;border-bottom:none;}
.calendar a{display: inline-block;width: 32%;line-height: 30px;text-align: center;border:1px solid #eaeaea;border-right:0;border-top: 0;}
.calendar a:hover{border-bottom: 1px solid #4a74b2;}
.imgleft{width: 55px;height: 40px;overflow: hidden;}
.imgleft img{width: 100%;height: 100%;}
.englishbox{padding-top: 15px;}
.tenxtright{padding-left: 65px;}
.tenxtright p{margin: 0;}
.tenxtright p .guankan{margin-left: 0;}
.newmeetbox1{padding: 10px;min-height: 60px;}
.titbgstyle{height: 17px;line-height: 17px;display: inline-block;background: url(../images/rightbg.jpg) top right #4a74b2 no-repeat;color: #fff;padding: 0 30px 0 10px;border-radius: 8px;font-size: 12px;margin-bottom: 3px;}
.titbgstyle a{color: #fff;}
h1 a{font-size: 12px;padding-right: 10px;float: right;color: #fff;}
.content{padding: 30px 40px 20px 40px;min-height:718px;}
.content h1{font-size: 24px;line-height: 35px;}
.sublist{margin-top: 10px;}
.sublist span{color: #888;display: inline-block;margin-right: 15px;}
.sublist span.comment{display: inline-block;background: url(../images/wypl_bg.jpg) no-repeat;}
.sublist .comment a,.enrollment a{display: inline-block;padding: 3px 12px;color: #fff;}
.enrollment{display: inline-block;background: url(../images/wybm_bg.jpg) no-repeat;}
.enrollment a{padding: 3px 8px;}
.hot{margin-top: 10px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  min-height: 14px; color: #a1a2a2;}
.size_hot{color: #aa1801;}
.hot a{color: #4f7dbf;display: inline-block;padding: 0 5px;}
.metagesleft,.metagesright{background: #f6f6fa;border-right: 1px solid #e4e4e4;width: 50%;}
.metagesright{border-left: 1px solid #fff;border-right: none;}
.metages{margin-top: 20px;}
.metages h2{background: #e4e4e4;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 40px;display: block;padding-left: 20px;margin-top: 0;}
.metages h2 span{margin-right: 10px;}
.metagesleft_cont{padding: 15px 38px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;   color: #777;line-height: 26px;min-height: 185px;}
.infocont {padding-bottom: 50px;padding-top: 20px;}
.infocont h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #222;line-height: 30px;margin-top: 20px;}
.infocont >p{margin-top: 15px;line-height: 24px;color: #252525;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.statement{background: #f0f0f0;padding: 20px;border-top:3px solid #252525;}
.smlist{padding-left: 15px;color: #252525;}
.smlist li{list-style-type: decimal;line-height: 24px;margin-top: 10px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.comments{padding-top: 0px;background: #fff;margin-top: 50px;}
.thumbs p{display: inline-block;margin-right: 22px;}
.thumbs p span{border:1px solid #9d9ea3;color: #9d9ea3;border-radius: 50%;overflow: hidden;width: 50px;height: 50px;text-align: center;line-height: 50px;font-size: 25px;vertical-align: middle;}
.thumbs p em{vertical-align: middle;margin-left: 10px;color: #000;}
.comments .row{padding-top: 0;border-bottom: 1px solid #e2e2e2;padding-bottom: 0;}
.comments .row > div{border-right: 1px solid #E2E2E2;height: 80px;line-height: 80px;text-align: center;}
.col-md-4.col-lg-4 .bshare-custom.icon-medium{margin-top: 30px;}
.bshare-custom .bdshare-button-style0-16{ width:260px;}
.col-md-4.col-lg-4 .enrollment{display: inline-block;width: 64px;height:22px;margin: 30px auto 0 auto;line-height: 22px; }
.col-md-4.col-lg-4 .enrollment a{padding: 0 8px;}

/*评论模块*/
.jt-replybox{margin-top: 20px;}
.jt-textarea-wrapper{width: 85%;float: left;}
.info_form,.plcont{width: 100%; padding-left: 60px; padding-bottom:10px;}
.plcont a{ color:#4f7dbf;}
.plcont a:hover{ color:#ff6600;}
.info_form >div{background: #fdfdfd;}
.jt-textarea-wrapper{width: 100%; height: 75px; border:1px solid #ccc;padding: 10px;}
.jt-textarea-wrapper textarea{width: 100%; height: 100%; border:0;outline: none;}
.jt-post-toolbar{width: 100%;height: 30px;border:1px solid #ccc;border-top: none;}
.jt-post-button{float: right;border:1px solid #ccc;border-right: 0; border-top: 0; border-bottom: 0;background: none; line-height: 30px;width: 100px;cursor: pointer;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.info_about{margin-top: 40px;}
.info_about h2{border-bottom: 3px solid #e6e6e6;color: #C91618;
line-height: 50px; font-size: 18px;}
.info_about h2 span{display: inline-block;border-bottom: 3px solid #C91618;margin-bottom: -3px;}
.info_about_list{margin-top: 10px;color: #252525;padding-left: 17px;}
.info_about_list li{line-height: 30px;list-style-type: disc;
}
.info_about_list li a{color: #252525;}
.info_about_list li:hover a{color: #C91618;}

.yi_pinlun{margin-top: 20px;}
.tx_name{text-align: center;line-height: 30px;}
.tx_name img{display: block;}
.jt-avatar{width: 50px; height: 50px;}
.jt-avatar img {width: 100%;}
.plcont p{margin-bottom: 5px;}
.timebox span{color: #888;display: inline-block;margin-right: 15px;}
.plcont .pl_name{color: #252525;}

.thumbs .glyphicon:hover{color: #4a74b2;cursor: pointer;}
.hotpl li{list-style-type: decimal-leading-zero;border-bottom: 1px dashed #e0e0e0;cursor: pointer;}
.hotpl li a{display: block;padding:10px 0;}
.hotpl li p{line-height: 20px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;cursor: pointer;}
.hotpl li p:hover{color: #43689d;}
.hotpl li div{color: #888;padding-top: 5px;}
.hplist_cont{display: none;}

.nearmt{line-height: 30px;}
.nearmt li a{display: block;}
.nearmt li em{width: 18px;height: 18px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  text-align: center;line-height: 18px;color: #fff;background: #6a6a6a;border-radius: 50%;overflow: hidden;display: inline-block;vertical-align: middle;margin-right: 5px;}
.nearmt li span{display: inline-block;vertical-align: middle;max-width: 193px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.nearmt li:nth-child(1) em{background: #358fce;}
.nearmt li:nth-child(2) em{background: #59b353;}
.nearmt li:nth-child(3) em{background: #f47e00;}

.infopage{top: 20px;right: 20px;}
.infopage a{display: inline-block;vertical-align: middle;}
.infopage em{display: inline-block;padding: 0 15px;vertical-align: middle;}
.pagelast,.pagenext{width: 31px;height: 31px;display: inline-block;background: url(../images/left_jt.jpg) no-repeat;}
.pagenext{background: url(../images/right_jt.jpg) no-repeat;}
.pagelast:hover{background: url(../images/left_jt_on.jpg) no-repeat;}
.pagenext:hover{background: url(../images/right_jt_on.jpg) no-repeat;}

/*报名*/
.form-horizontal{padding-bottom: 30px;}
.zhuti{background: #f0f9ff;padding:30px 60px;}
.zhuti h3{font-size: 22px;text-align: center;}
.zhuti p{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 30px;margin-top: 15px;}
.subtitle{border-bottom: 1px solid #1872ba;margin-top: 35px;}
.subtitle span{padding: 12px 16px;border-radius: 4px;margin-bottom: -25px;display: inline-block;color: #fff;background: #1872ba;font-size: 18px;}

.fan1 > div{height: 40px;margin-bottom: 15px;}
.pdt10{padding-top: 8px;}
.fan1 label{vertical-align: middle;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;}
.action_items{height: auto !important;border-bottom: 1px solid #eaeaea;padding-bottom: 15px;}
.acction{text-align: right;width: 65%;margin-top: 15px;}
.acction span{display: inline-block;padding:5px 20px;background: #ff6500;color: #fff;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  border-radius: 3px;cursor: pointer;margin-right: 15px;}
label.col-sm-1.control-label.f_c_red {text-align: left !important;}
.checkbox2{padding-top: 0!important;}
.checkbox2 span{margin-top: 0;}
.mb0{margin-bottom: 0 !important;}
.w10{width: 10%;}
.textarea textarea{width: 100%;height: 150px;border:1px solid #aad2ec;border-radius: 3px;padding: 10px;}
.jddz{background:url(../images/fangzi.jpg)left center no-repeat;padding-left: 30px;line-height: 30px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;margin-top: 15px;}
.daytime{padding-top: 20px;padding-bottom: 20px; font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 23px;}
.daytime input{border:0;border-bottom: 1px solid #9f9f9f;width: 150px;}
.beizhu{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-top: 10px;line-height: 25px;}
.wxts{background: #f1f6fa;padding: 20px 20px 40px 20px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 20px;}
.topts{font-size: 26px;color: #005d8e;text-align: center;padding: 15px 0;}
.wxts p{margin-bottom: 10px;line-height: 28px;}
.wxts a{color: #e00202;}
.botts{padding:20px;}
.chakan{display: inline-block;padding: 0 15px;background: #446ba4;color: #fff;line-height: 33px;border-radius: 4px;}
.chakan span{display: inline-block;margin-right: 5px;}
.chakan:hover{color: #fff;}
.hauto{height: 160px !important;}
.btn_sub{width: 175px;height: 40px;line-height: 40px;text-align: center;background: #4f79b8;color: #fff;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  border-radius: 3px;border:none;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; margin-right: 20px;}
.btn_rst{background: #8e8e8e;}

/*新闻*/
.news{border-bottom: 1px dashed #afafaf;padding: 20px 0;}
.news h3{display: inline-block;width: 80%;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #000;line-height: 21px;}
.news .time{display: block;color: #888;line-height: 30px;}
.news p{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 21px;color: #555;}
.news a{display:block;color: #1872ba;}
.news a:hover{color: #5175a9;}
.ifpage{text-align: center;line-height: 30px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-top: 50px;padding-bottom: 40px;}
.ifpage a{display: inline-block;height: 34px;border:1px solid #c9c9c9;line-height: 34px;color: #333;padding: 0 12px;}
.ifpage a:hover,.page_on{background: #ff4a00;color: #fff !important;border:1px solid #ff4a00 !important;border-radius: 2px;}
.ifpage a img{display:inline-block;}
.pglast,.pgnext{display: inline-block;padding: 0 10px;width: auto !important;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 30px;}
.mt_30{margin-top: 30px;}

/*资讯首页*/

.leftbox h2,.all_keshi h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  border-bottom: 1px solid #d2dbe9;color: #4072bb;line-height: 35px;padding: 5px 0;}
.leftbox h2 span,.all_keshi h2 span{display: inline-block;padding: 0 5px;border-bottom: 3px solid #4072bb;margin-bottom: -5px;line-height: 35px;}
.leftbox h2 a,.all_keshi h2 a{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4072bb;float: right;}
.allks_list{padding: 20px 0;}
.all_keshi{padding-top: 50px;}
/*.nk{padding-bottom: 25px;}*/
.nk{background: #f4f4f4;}
.nk>p{width: 78px;line-height: 25px;background: #f2f2f2;min-height:25px;}
.nk>p>em{display: block;line-height: 25px;background: #a5a5a5;color: #fff;text-align: center;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.nk_list{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 25px;color: #888;background: #fff;padding-bottom: 25px;padding-left: 20px;float: left;width: 90%;}
.nk_list a{display: inline-block;padding: 0 3px;color: #252525;}
.nk_list a:hover{color: #4072bb;}
.binjigg{padding-top: 30px;}
.binjigg .hd {height: 30px;position: relative;bottom: 0;}
.binjigg .hd li{width: 10px;height: 10px;margin-top: 10px;border-radius: 50%;background: #68c7f7;}
.binjigg .hd li.on{background: #ff9200;}
.tpugap{padding:0 15px 15px;background: #fff;}
.bofang,.guankan{background: url(../images/video1.jpg) no-repeat;background-size: 15px;padding-left: 18px;display: inline-block;}
.guankan{background: url(../images/see.jpg) no-repeat;background-size: 15px;margin-left: 8px;}
.videobox{background: #fff;padding: 15px;}
.videobox a{color: #888;}
.videobox a:hover{color: #888;}
.right_sbanner1{width: 100%;}
.right_sbanner1 img{width: 100%;}
.rightbox1{border:1px solid #e9e9e9;}
.zhinan{padding: 20px 15px;}
.imgleftbg{background: url(../images/zhinan_left_bg.jpg) no-repeat;width: 73px;height: 65px;padding:5px 13px 5px 5px;}
.tenxtright2{padding-left: 80px;min-height: 65px;}
.tenxtright2 a{margin-bottom:10px;max-height: 30px;overflow: hidden;display: block;margin-top: 0;line-height: 16px;}
.jdbli{padding: 20px 15px; }
.rightbox1 h3{border-top:1px solid #e5e5e5;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;   font-weight: normal; padding-bottom: 10px;margin-bottom: 10px;}
.rightbox1 h3 span{background: url(../images/right_bg2.jpg) no-repeat;display: inline-block;width: 90px;height: 34px;line-height: 29px;text-align: center;padding-left: 20px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #fff;}
.rightbox1 h3 a{float: right;line-height: 34px;color: #252525;}
.bingli p{margin-bottom: 10px;color: #888;}
.bingli .tit{margin-bottom: 10px;color: #444;}

.bingli a:hover{color: #888;}
.bingli a:hover .tit{color: #1e4f96;}
.bl_list{padding-left: 15px;}
.bl_list li{line-height: 25px;list-style-type: disc;}
.circle{padding: 20px 15px;}
.change{cursor: pointer;}
.tuiian{display: inline-block;background: url(../images/tuijian.jpg) no-repeat;width: 40px;height: 18px;line-height: 18px;text-align: center;padding-right: 6px;color: #fff;margin-right: 5px;}
.tenxtright3 .h5{font-size: 12px;margin-top: 0;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;margin-bottom: 0;}
.imgleft2{height:60px;}

.icon_rs{display: inline-block;width: 50%;background: url(../images/icon_renshu.jpg) left center no-repeat;padding-left: 15px;background-size: 12px;}
.icon_ht{display: inline-block;width: 50%;background: url(../images/icon_topic.jpg) left center no-repeat;padding-left: 15px;background-size: 12px;}
.pt5{padding-top: 5px;}
.tenxtright3 > a{display: block;}
.tenxtright3 p,.tenxtright3 > a{padding-bottom: 5px;}
.xkhot{padding: 20px 15px;}
.kxrd p{line-height: 20px;}
.kxrd> ul {height: 26px;border-bottom: 1px solid #e9e9e9;}
.kxrd> ul li{cursor:pointer;float: left;line-height: 25px;padding: 0 5px;}
.kxrd >ul .tabs_on{border-bottom: 1px solid #4f7dbf;}
.bord_b_d{border-bottom: 1px dashed #929292;padding: 10px 0 5px 0;  }
.all_keshi{padding-top: 20px;width:100%;overflow: hidden;}
.all_keshi h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #005d8e;}
.all_keshi ul{height: 250px;width: 120%;}
.all_keshi li{float: left;margin-right: 43px;margin-top: 30px;}
.all_keshi li h1{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  text-align: center; }
.qklist{background: url(../images/rmqk_bg.jpg) no-repeat;width: 120px;height: 230px;padding: 50px 12px 	20px 25px;}
.qklist a{display: block;line-height: 22px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.headtit_right{display: inline-block;vertical-align: top;margin-left: 15px;}
.headtit_right em{font-size: 17px;display: inline-block;background: #4c76b4;color: #fff;vertical-align: middle;height: 24px;width: 24px;text-align: center;line-height: 27px;}
.headtit .lmming{font-size: 30px;line-height: 30px;  font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;}
.headtit_right i{display: inline-block;font-size: 12px;padding:  0 12px;background: #8a8a8a;line-height: 24px;vertical-align: middle;margin-top: 2px;color: #fff;cursor: pointer;margin-left: -3px;}
.headtit_right .sanjiao_zx{display: inline-block;bottom: -8px;right: 0;width: 9px;height: 8px;background: none;}

.gongju em,.fuwu em{display: inline-block;width: 23px;height: 23px;background: url(../images/gongju.jpg)no-repeat;vertical-align: middle;margin-right: 3px;}
.gongju:hover em{background: url(../images/gongju_on.jpg) no-repeat;}
.fuwu em{background: url(../images/fuwu.jpg) no-repeat;margin-left: 3px;}
.fuwu:hover em{background: url(../images/fuwu_on.jpg) no-repeat;}
.ahoner a:hover{color: #ff4a00 ;}
.gongju1 em{background: url(../images/icon_gj.png) no-repeat;background-size: 18px;margin-right: 5px;}
.gongju1:hover em{background: url(../images/icon_gj_on.png) no-repeat;background-size: 18px;}
.fuwu1 em{background: url(../images/icon_fw.png) no-repeat;background-size: 18px;margin-right: 5px;}
.fuwu1:hover em{background: url(../images/icon_fw_on.png) no-repeat;background-size: 18px;}
.ahoner1 a:hover span {color: #44699e !important;}
.morepr{z-index: 33;width: 53px;line-height: 36px;display: inline-block;border:none;border-top:1px solid #f4f4f4;border-right: 1px solid #f4f4f4;}
.morepr >img{margin-left: 5px;display: inline-block;}
.morepr:hover,.morehover{background: #fff;border-top: 1px solid #bdbdbd;border-right: 1px solid #bdbdbd;text-decoration: none;color: #333;}
.morebox{ width: 612px;background: #fff;top:32px;right: 0;border:1px solid #ccc;display: inline-block;padding: 20px;display: none;}
.morebox >ul >li{float: left;width: 25%;}
.morebox >ul >li ul{padding-left: 10px;color: #333;}
.morebox >ul >li ul li img{margin-right: 5px;}
.morebox >ul >li ul li a:hover{color: #466da6;}

/*关注效果*/
.headtit_right .glyphicon-heart{color: #fff;}

/*咨询列表页*/
.news3{padding: 25px 15px 25px 0;border-bottom: 1px dotted #e8e8e8;}
.news3 >span{width: 145px;height: 93px;display: block;float: left;overflow: hidden; border:1px solid #e8e8e8;}
.news3 >span img{width: 100%; min-height:93px;}
.news3:hover{background: #f8f8f8;}
.newcont1{width: 100%;padding-left:165px !important;}
.newcont1 h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 10px;}
.newcont1 h3 a{color: #4072bb;font-weight: bold;width: 80%;line-height: 23px;}
.newcont1 h3 a:hover{color: #ff4a00;text-decoration: underline;}
.newcont1 p{font-size: 13px;line-height: 20px;color: #252525;}
.newcont1 .time{font-size: 12px;color: #888;display: inline-block;float: right;}
.newcont_h{height:60px;overflow: hidden; }
.fenlei >p{border-bottom: 1px dashed #cbcaca;padding: 10px 0;}
.fenlei>p a{display: inline-block;padding:0 15px; background: #f0f0f0;margin-bottom: 2px;color: #252525;line-height: 25px;text-align: center;}
.fenlei>p a:hover{background: #ff4a00;color: #fff;}
.pdl_10{padding-left: 10px;}
/*新闻详情*/
.yuanshi p{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-top: 15px;}
.yuanshi p a{color: #e74c3c;text-decoration: underline;}
.ss_tit{height: 33px;border-bottom: 1px solid #a6a6a6;background: #ebebeb;}
.suoshu > .suoshu_list{background: #eef5ff;padding: 20px 15px;color: #252525;}
.suoshu > .suoshu_list span{display: inline-block;padding-right:10%;line-height: 30px;}
.suoshu > .suoshu_list a{color: #4b78b7;}
.suoshu1 p span{display: inline-block;width: 50%;line-height: 33px;padding-left: 12px;vertical-align: middle;}
.bgstyle2{background: url(../images/suoshu.jpg) left center no-repeat #a6a6a6;color: #fff;overflow: hidden;}
.ss_cont{padding: 20px 10px;background: #f6f6f6;}
.ss_cont>img{width: 110px;height: 118px;vertical-align: middle;}
.fushu{display: inline-block;vertical-align: middle;}
.fushu a{display: inline-block;width: 105px;height:25px;border-radius: 3px;text-align: center;line-height: 25px;color: #fff;margin-bottom: 5px;}
.alin1{background: #3498db;}
.alin2{background: #9b59b6;}
.alin3{background: #e74c3c;}
.alin4{background: #2ecc71;}
.qkluntan{background: url(../images/qikanluntan.jpg) no-repeat; background-size: 100% 100%;height: 160px;}
.qkluntan a{width: 80%;height: 35px;line-height: 35px;text-align: center;border-radius: 5px;background: #a2b44c;color: #fff;display: inline-block;margin: 20% 10%;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.qkluntan a img{margin-right: 5px;width: 20px;}
.qkluntan1{background: #f6f6f6;height: 160px;}
.qkluntan1 a{display: block;padding: 10% ;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4f7dbf;word-wrap:break-word;}
.aboutbox{border-top:3px solid #000;margin: 15px;}
.about_newx p{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.about_newx p a{display: inline-block;color: #4f7dbf;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding:  0 10px;}
.about_newx {border-right: 1px solid #e4e4e4;}
.about_newx ul {padding-left: 15px;padding-top: 10px;}
.about_newx ul li{list-style-type: disc;line-height: 24px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;}
.about_newx ul li a{color: #333;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.guess{padding-left: 0 !important;}
.contribute{background: #fff;padding: 40px;}
.guess li{overflow: hidden;height: 24px;}

/*我要投稿*/
.xubox{background: #f1f6fa;padding: 40px;}
.xubox h2{font-size: 26px;color: #005d8e;text-align: center;border-bottom: 1px solid #d1d3ca;margin-bottom: 20px;}
.xubox h2 span{background: #f1f6fa;display: inline-block;padding: 0 20px;margin-bottom: -20px;line-height: 40px;}
.tougao p{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;line-height: 28px;}
.tougao p a{color: red;}

.tishi{line-height: 30px;margin-bottom: 20px;}
.form-group form >div{height: 35px;margin-bottom: 20px;}
.form-group form .textarea{width: 100%;}
.form-group label{text-align: left;line-height: 34px; font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-right: 0;color: #252525;}
.checkbox input{display: inline-block;vertical-align: middle;margin-right:30px;margin-left:0px !important;}
.checkbox span{display: inline-block;margin-left: 16px;margin-top: 5px;margin-right: 13px;}
.dy_form,.reset{background: #527ec0;width: 170px;height: 40px;font-size: 20px;color: #fff;text-align: center;margin-left: 20px;margin-top: 20px;}
.dy_form:hover,.reset:hover{color: #fff;}
.reset{background: #9e9e9e;}
.f_s_18{font-size: 18px !important;}
.frombox{padding: 20px;min-height: 690px;}
.xuanxiang{padding: 10px 0;}
.xuanxiang p span{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;}
.xuanxiang p input{border:1px solid #aad2ec;padding: 8px 10px;min-width: 200px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.xuanxiang p .xing{display: inline-block;padding: 5px 5px;color: red;line-height: 32px;}
.xuanxiang p .xing a{color: red;font-size: 12px;display: inline-block;vertical-align: middle;}
.erfen{display: inline-block;vertical-align: middle;width:40%;}
.pd0{padding: 0;}
.xuanxiang select{border:1px solid #aad2ec;line-height: 32px;padding:8px 10px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.erfen2{width: 59%;}
.iptstyle2{width: 450px;}
.iptstyle3{width: 910px;}
.tgao .baodian{height: 26px;line-height: 26px;border-radius: 3px;border:1px solid #aad2ec;width: 215px;}
.ly_box .iptstyle3{width: 910px;height:150px;vertical-align: top;border:1px solid #aad2ec;}
.xuanxiang .ly_box{padding: 0;}
.tg.form-group{padding-left: 45px;}
.xuanxiang textarea{border:1px solid #aad2ec;}
.tg_btn{padding-left: 47px;}
.commentary{border:1px solid #d6d5d5;background: #fff;padding: 10px;width: 550px;top: 50px;right: 18px;display: none;}
.commentary_list{background: #f1f6fa;padding: 20px;}
.c_list1{margin-bottom: 15px;}
.commentary_list h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #466ca4;margin-bottom: 8px;}
.c_list1 h4{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #d57302;line-height: 26px;}
.commentary_list p{line-height: 23px;color: #252525;}
.way{border-top: 1px dashed #e0e0e0;padding: 5px}
.meail{margin-top: 10px;}
.meail a{display: inline-block;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-right: 20px;}
.tttop{position: absolute;width: 13px;height: 10px;top: -10px;right: 20px;display: inline-block;}
.tgxz{cursor: pointer;display: inline-block;height: 36px;line-height: 30px;}
/*会议列表首页*/
.bord_style2{border-bottom: 1px dashed #ababab;padding-bottom: 30px;}

.catalist{padding-top: 20px;}
.catalist h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 40px;background: #e2eaf7;border:1px solid #c1c9dc;padding: 0 15px;border-bottom: 0;}
.catalist h3 a{color: #4072bb;}
.hy_table{border:1px solid #e4e4e4;}
.hy_table p{padding: 0 18px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 40px;}
.hy_table p span{display: inline-block;}
.tb_neme{background: #f8f8f8;border-bottom:1px solid #e4e4e4;font-size: 16px !important;}
.tb_neme span:first-child{padding-left: 20px;}
.hy_table span,.hy_table em,.hy_table i{display: inline-block;}
.hy_table span{width: 55%;}
.hy_table span a{color: #4072bb;}
.hy_table em{width: 15%;color: #252525;}
.hy_table i{width: 28%;color: #252525;}
.iput_bm{display: inline-block;padding: 3px 10px;background: #989898;color: #fff; border-radius: 3px;line-height: 20px;float: right;margin-top:8px;}
.hymk1{padding-top: 10px;padding-bottom: 20px;}
.hy_table_list p span{width: 80%;}
.hy_table_list p i{width: 10%;margin-left: 2%;}

/*发布会议*/
.xilai{border:1px solid #aad2ec;background: #f1f6fa;display: inline-block;line-height: 32px;width: 200px;padding: 0 10px;background: url(../images/select_bg.jpg) right 0 no-repeat;}
.xilai em{margin-top: -2px;display: inline-block;vertical-align: middle;}
.ipts2{border:1px solid #aad2ec !important;}
.fabu {text-align: right !important;line-height: 35px;padding-right: 10px;}
.ptrow0 .row{padding-bottom: 0;}

.selectbox{width:200px;line-height:35px;border:1px solid #aad2ec;background: #fff; display: block;height: 35px;}
.selectbox option{width:150px;height:30px;cursor: pointer; }
.zind{z-index: 3;}
.selectbox1 select option{height: 35px;width: 200px;}
.dxannz{padding-top: 5px;}
.dxannz span{display: inline-block;margin-right: 10px;}
.dxannz span input{vertical-align: middle;margin-right: 5px;cursor: pointer;}
.dxannz span em{display: inline-block;vertical-align:middle;padding-top: 4px;}
.fsubmit{margin-top: 30px;}


.dxannz{padding-top: 5px;}
.dxannz span{display: inline-block;margin-right: 10px;}
.dxannz span input{vertical-align: middle;margin-right: 5px;cursor: pointer;}
.dxannz span em{display: inline-block;vertical-align:middle;padding-top: 4px;}
.fsubmit{margin-top: 30px;}

.headtit_right .glyphicon-heart{margin-right:0;}
/*个人中心*/
.glyphicon-heart,.glyphicon-share-alt{margin-right: 5px;}
.usercont{border:1px solid #eaeaea;margin: 0;padding-bottom: 0;padding-top: 0;}
.user_message_top{border-top:4px solid #4d78b7;color: #4d78b7;padding: 20px 28px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 30px;border-bottom: 1px solid #d6d6d6;}
.user_message_top .glyphicon{font-size: 20px;margin-right: 5px;}
.welcome{color: #252525;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.user_message_top p em{font-size: 20px;color: #ff6600;}
.what{font-size: 12px;padding-left: 25px;color: #333;}
.what a{text-decoration: underline;}
.user_message_center{background: #e6e5e5;padding: 20px;}
.user_message_center p{height: 40px;color: #fff;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  text-align: center;line-height: 40px;margin-bottom: 15px;}
.user_message_center p a{color: #fff; }
.user_style1{background: #fa6b02;}
.user_style2{background: #3c9451;}
.user_style3{background: #888888;}
.user_message_bottom{}
.user_tit{background: #4d78b7;color: #fff;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  text-align: center;line-height: 40px;}
.user_tit .glyphicon{margin-right: 5px;vertical-align: middle;}
.user_message_bottom p{border-bottom: 1px solid #d6d6d6;line-height: 40px;text-align: center;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.user_message_bottom p a:hover{color: #4d78b7;}
.left_rightbody {padding: 40px;min-height: 650px;}
.left_rightbody h2{border-bottom: 1px solid #e2e2e2;margin-bottom: 25px;}
.left_rightbody h2 span{display: inline-block;border-bottom: 1px solid #4d78b7;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 35px;color: #4d78b7;}
.jinzhan{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #252525;height: 70px;overflow: hidden;}
.jinzhan em{color: #f60;}
.jinzhan a{text-decoration: underline;color: #4d78b7;}
.tool a{height: 45px;border:1px solid #dfdfdf;display: inline-block;line-height: 45px;text-align: center;margin: 8px 8px 0 0; padding: 0 22px;}
.tool a:hover{background: #f0f0f0;}
.rightbody{padding: 10px 15px;}
.rightbody h2{margin-bottom: 15px;}
.rightbody h2 span{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4d78b7;}
.rightbody h2 span img{margin-right:5px;}
.tool2{border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;}
.tool2 a{width:50%;margin-right: 0;border-right: 0;border-bottom: 0;margin-top: 0;background: #f7f7f7;font-size: 12px;text-align: left;padding: 0 0 0 10px;}
.tool2 a em{display: inline-block;background: #f00;color: #fff;font-size: 10px;padding: 1px 5px;border-radius:5px;position: absolute;line-height: 12px;vertical-align: top;margin-top: 5px;margin-left: 2px;}
.w100{width: 100%;}
/*我的sci库*/
.sci_seach{background: #f0f0f0;padding: 20px;margin-bottom: 15px;}
.ipt_text,.baodian{border:1px solid #dadada;background: #fff;padding:0 0 0 10px;line-height: 26px;min-width: 150px;font-size: 12px;}
.select{display: inline-block;margin-right: 10px;}
.baodian{height: 25px;}
.ipt_sub,.fabiao{background: #4d78b7;border:none;height: 35px;padding: 0 20px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #fff;line-height: 35px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; border-radius: 3px;}
.ipt_sub:hover{color: #fff;}
.sci_seach input,.sci_seach select{margin-right: 10px;vertical-align: middle;}
.f_c_0{color: #000;}
.sci_seach span{display: inline-block;margin-right: 10px;}
.sci_add{display: inline-block;padding: 0 15px;background: #fe9436;color: #fff;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height:30px;height: 30px;border-radius: 3px;}
.sci_add:hover{color: #fff;}
.tab_tit{background: #4d78b7;color: #fff;}
.tab_form tr th{border-collapse:collapse;border:0 !important;text-align: center;}
.tab_form tr td span{display:block;line-height: 24px;text-align: center;}
.w20{width: 18%;text-align: center;}
.w25{width: 25%;text-align: center;}
.blue{color: #4d78b7;}
.bianji{display: inline-block;padding: 5px 20px;background: #4d78b7;color: #fff;border-radius: 3px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.bianji:hover{color: #fff;}
.pdt20{padding-top: 35px !important;}
.neirong{padding:20px;}

/*添加sci*/
.addsci{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.addsci p{margin-top: 20px;}
.f_s_12{font-size: 12px;}
.ts_box{width: 270px;display: inline-block;line-height: 20px;vertical-align:middle;font-size: 12px;}

.addsci .textarea,.textarea{vertical-align: top;width: 80%;padding: 10px;height: 150px;border:1px solid #dadada;}
.axb{width: 16px; height: 16px; margin-right: 10px;  vertical-align: top; cursor: pointer;}
.w430{width: 430px !important;}
.filebox{padding: 15px 20px;display: inline-block;border:1px solid #dadada;width: 74%;}
.ipt_file{display: inline-block;width: 100%;cursor: pointer;}
.chuan{display: inline-block;padding: 3px 8px;background: #4d78b7;color: #fff;}
.ts_box1{font-size: 12px;color: #252525;padding-left: 120px;display: inline-block;margin-top: 10px;line-height: 23px;}
.ts_box1 a{color: #4d78b7;}
textarea.iptstyle3{width: 910px;}
.submitwork p>span:first-child{width: 21%;text-align: right;display: inline-block;}
.submitwork .w74{width: 74% ;}
.submitwork .fsubmit{padding-left: 22%;}
.ct_box .textarea{width: 100%;border-radius: 2px;}
/*弹出*/
.alert_box{height: 100%;width: 100%;position: fixed;top: 0;left:0;}
.bg_bg{background: #000;opacity: 0.5;z-index: 1;height: 100%;width: 100%;}
.alert{background: #fff;width: 350px;padding: 0 10px 40px 10px;position: fixed;top: 20%;left: 50%;margin-left: -175px;text-align: center;z-index: 33;}
.alert p{text-align: center;}
.alert_box .accuss{font-size: 32px;font-weight: bold;color: #2d85cc;margin-bottom: 20px;}
.accuss span{vertical-align: middle;margin-right: 8px;font-size: 35px;}
.alert_link{text-align: center;}
.alert_link a{display: inline-block;width: 140px;height: 40px;line-height: 40px; background: #fe9436;color: #fff;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.link_style2{background: #4e7aba !important;margin-left: 20px;border-radius: 3px;}
.closebox{text-align: right;height: 30px;margin-bottom: 20px;}
.close{display: inline-block;margin-bottom: 30px;width: 30px;height: 30px;opacity: 1;
    margin-right: -240px;}
.down_share{padding-top: 30px;}
/*我提交的学术论著*/
.w35{width: 35%;}
.w20{width:20%;text-align: center;}
.w15{width: 15%;text-align: center;}
.lunzhu_tab{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 40px;}
.lunzhu tr td,.sci_tab tr td{text-align: center;vertical-align: middle !important;}
.lunzhu tr .tac_l,.lunzhu_tab tr .tac_l{text-align: left;padding-left: 20px;}
.lunzhu tr .tac_l img{margin-right: 5px;}
.lunzhu_tab tr th{text-align: center;border:0 !important;}
.lunzhu_tab em,.lunzhu_tab span{display: inline-block;vertical-align: top;}
.lunzhu_tab em{padding-top: 3px;margin-right: 5px;}
.lunzhu_tab span{width: 84%;line-height: 20px;}

/*查找宝典*/
.biblebody{padding: 30px 20px;min-height: 650px;}
.usercont.biblebody.white form{border:1px solid #e0e0e0;border-bottom: none;}
.bible{padding: 20px;}
.bible form{border:1px solid #e0e0e0;;}
.bible h2{text-align: center;font-size: 16px;color: #fff;background: #E4F0FA;line-height: 40px; color:#205D99 }
.bible_f{line-height: 44px;border-bottom: 1px solid #dadada;color: #252525;}
.bible_f span{ padding:0 15px;display: inline-block;}
.bible_f span:first-child{width: 20%;text-align: right;border-left: 0;}
.bible_f span:last-child{width: 78%;}
.bible_f div{ padding:0 5px;display: inline-block;}
.bible_f div.msgleft{width: 17%;text-align: right;border-left: 0; font-weight:bold; line-height:24px;padding:0 5px;display: inline-block;}
.bible_f div.msgright{width: 78%; line-height:24px;padding:0 5px;display: inline-block;}
.bible_f .ipt_text{line-height: 26px;}
.bible_f .ts_box1{padding-left: 15px;}
.ineed{width: 100% !important;text-align: left !important;}
.ineed .ipt_sub{margin-right: 15px;padding: 0 50px;}
.ineed{padding: 10px 15px 10px 65px !important;}
.ineed a{display: inline-block;}
.ineed a em{display: inline-block;color: red;margin-right: 5px;    font-size: 20px; vertical-align: middle; margin-top: -5px;}
.ineed a em img{width: 18px;}
#no-more-tables{padding: 20px;}
#no-more-tables a{color: #4d78b7;}
.ineed .ipt_sub{margin-right: 17px;}
.ineed .kscx{margin-left:15px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
a.kscx.gxsy{margin-left: 15px;}
.bible{    padding-bottom: 31px;}
.search_relust{padding-top: 30px;}
.search_relust h2{background: #799bcc;line-height: 40px;padding-left: 20px;color: #fff;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.search_relust >p{padding-left: 20px;line-height: 30px;}
.about_serch{color: #252525;margin: 15px 0;}
.about_serch a{color: #5b8cd4;display: inline-block;padding: 0 10px;}
.sswz{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.sswz a{color: #5b8cd4;display: inline-block;}
.search_relust_cont{padding-top: 30px;}
.search_relust_cont p{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 23px;text-indent: 2em;margin-bottom: 15px;}
.laiyuan{margin-top: 15px;}
.laiyuan a{color:#5b8cd4; }
.pl_sc{text-align: right;}
.pl_sc p{display: inline-block;padding: 2px 10px;border:1px solid #dadada;cursor: pointer;border-radius: 3px;margin-left: 15px;}
.pl_sc p a{color: #4d78b7;}
.pl_sc p span{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-right: 5px;vertical-align: middle;}
.glyphicon-comment{color: #515567;}
.sear_list{border:1px solid #dadada;padding: 20px;margin-bottom: 20px;}
.tab_tit_top{background: #E4F0FA;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #205D99;line-height: 40px;}
.tab_tit_top span{display: inline-block;padding-left: 20px;}
.w75{width: 75%;}
.tab_sc tr th{padding-left: 20px;}
.sc_tab tr td{font-size: 12px;line-height: 40px;padding: 0 20px;vertical-align: middle;text-align: center !important;}
.tab_sc .w25{text-align: center;}
.sc_tab tr td:first-child{text-align: left !important;}
/*icd查询*/
.xsq em{background: url(../images/xsq.png) no-repeat;background-size: 18px;margin-right: 5px;}
.xsq:hover em{background: url(../images/xsq_on.png) no-repeat;background-size: 18px;}
.input_search_group{display: block;}
.input_search_group input{line-height: 24px;border:1px solid #d8d8d8;border-right: 0;background: #fff;padding:0 10px;}
.input_search_group button,.sbmit{width: auto; padding: 0 15px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  background: #4d78b7;color: #fff;line-height: 25px;border:none;border:1px solid #d8d8d8;}
.bm_search{padding: 15px 0;background: #f0f0f0;border-bottom: 1px dashed #dadada;}
.bm_search span{margin-right: 10px; display: inline-block;line-height: 24px;padding-left: 20px;}
.bm_search .ipt_text{line-height: 24px;width: 230px;}
.register_link{display: inline-block;padding: 0 15px;line-height: 24px;border-radius: 15px;background: red;color: #fff;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  float: right;margin-right: 20px;}
.register_link:hover{color: #fff;}
.register_link .glyphicon{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-left: 0;}
.tac th{text-align: center;}
.tac th:first-child{text-align: left;}
.sc_tab a{color: #4d78b7;}
.sc_tab a:hover{color: red;}

/*cid详情页*/
.related{padding-top: 30px;}
.related h3{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.related .tool{margin-top: 15px;}
.related .tool a{line-height: 28px;height: 28px;background: #f0f0f0;}
.related .tool a:hover{background: #44699e;color: #fff;}
/*摘要页面*/
.kscx{background: #e7f1ff;padding: 0 15px;height: 40px;line-height: 40px;}
.gxsy{background: #ffe7fe;}
.tiaojian {border-bottom: 1px solid #dadada;}
.tiaojian span{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-left: 20px;display: inline-block;line-height: 50px;color: #252525;}
.mt20{margin-top: 20px;}
.zy_tab tr th,.zy_tab tr td{text-align: left;padding-left: 15px;vertical-align: middle !important;padding: 5px 5px 5px 5px!important;font-size: 12px;}
.zy_tab tr td span{display: inline-block;max-width: 160px;}
.zy_tab tr td em{display: inline-block;max-width: 250px;}
.zy_tab tr td a{color: #4d78b7;}
.zy_tab tr td a:hover{color: #d90309;}

.zy_into{border:1px solid #dadada;border-bottom: 0;}
.zy_into p{line-height: 40px;font-size: 12px;border-bottom: 1px solid #dadada;}
.zy_into span{display: inline-block;padding:15px 5px 15px 10px;vertical-align: middle;max-width: 80%;}
.zy_into span:first-child{width: 19%;text-align: right;}

.zy_into span em{display: block;line-height: 24px;}
.zy_share{height: 40px;padding: 20px 0;}

/*自然基金分析*/
.analysis{padding: 15px 0;}
.analysis span{display: inline-block;min-width: 100px;text-align: right;padding-left: 15px;}
.analysis input{border:1px solid #dadada;line-height: 26px;padding: 0 10px;vertical-align: middle;width: 100px;margin-right: 15px;}
.bidui p{border-bottom: 1px solid #dadada;}
.analysis select{line-height: 26px;height: 26px;}
.cxbox{text-align: center;background: #f0f0f0;}
.analysis > a{display: inline-block;border-radius: 3px;background: #f78801;}
.ipt_style2{width: 60%;vertical-align: top;padding-left: 0 !important;}
.ipt_style2 input{width: 100%;}
.ipt_style2 em{display: block;font-size: 12px;color: #888;padding: 5px 0;text-align: left;}
.spanstyle2{padding-top: 10px;}
.pdt_30{padding-top: 30px;}
.cxbox .bg_blue,.tiaojian .bg_blue{background: #4d78b7;margin-left: 30px;}

/*期刊首页*/
.zhuxingtu{padding-top: 30px;}
.zhuxingtu .zhushi{color: #4d78b7;line-height: 24px;padding: 10px 0;}
.leftbodr_h2{background: #4f7bbc;font-size: 18px;color: #fff;padding: 10px 20px;line-height:24px;}
.leftbodr_h2 em{display: block;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.ipt_style3{width: 50px;border:1px solid #dadaad;line-height: 26px;margin-left: 5px;margin-right: 5px;padding-left: 5px;}
.pdl_20{padding-left: 20px;}
.searchsuccess tr th{font-size:12px;color: #252525;font-weight: normal;text-align: center;}
.w30{width: 30%;}
.jindutio{width: 50px;border:1px solid #4d78b7;height: 20px;display: inline-block;text-align: left;}
.jindutio em{background:#4d78b7;width: 78%;color: #4d78b7;display: inline-block;height: 19px;}
.searchsuccess tr td a{color: #4d78b7;}
.searchsuccess tr td a:hover{color: #d90309;}
.error{padding: 20px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4f7bbc;}
.table>tbody>tr>td{padding: 5px;}
/*sci首页*/
.w24{width: 24%;}
.sci tr td span{display: block;}
.span_sty2{padding-left: 0;text-align: left;margin-top: 5px;}
.sci p{line-height: 20px;margin-top: 5px;}
.sci_span1,.sci_span2,.sci_span3,.sci_span4{border-left: 1px solid #dadada;display:inline-block;padding: 10px 20px 0 20px;width: 50%}
.sci_span2{width: 29%}
.sci_span3{width: 70%}
.sci_span4{width:10%;text-align: center;}
.zy_into.sci span{line-height: 20px;}
.sci_span3 em{display: inline-block;border:1px solid #e0e0e0;border-left: none;width: 410px;background: #f4f4f4;}
.sci_span3 em i{display:inline-block;width: 100px;text-align: center;line-height: 25px; border-left: 1px solid #e0e0e0;}
.bdl{border-left: 1px solid #e0e0e0;}
.zy_into a{color: #4d78b7;}
/*评论*/
.comment{margin-top: 20px; width:100%; padding:20px;}
.comment .tab_tit_top{text-align: center;}
.tab_tit_top2{height: 40px;line-height: 40px;background: #ebebeb;}
.comment_span1{width: 60px;display: inline-block;padding-left: 10px;}
.tab_tit_top2 span a{display: inline-block;padding: 0px 8px;background: #338fce;border-radius: 5px;line-height: 22px;color: #fff;}
.tab_tit_top2 span a:hover{color: #fff;}
.help_medsci{line-height: 22px;background: #d90309;color: #fff;float: right;padding: 0 8px;border-radius: 5px;margin-top: 9px;margin-right: 10px;}
.comment_list{margin-top: 25px;padding-bottom: 20px;border-bottom: 1px solid #dadada;}
.comment_list .comment_span1{float:left;text-align: center;}
.comment_list .comment_span1 em{padding: 3px;background: #fff;border:1px solid #e5e5e5;display:inline-block;text-align: center;margin-bottom: 10px; overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.com_cont>p{min-height: 62px;padding-left:75px;line-height: 20px;padding-right: 20px; }
.comment_span1 >em:last-child{width: 100%;}
.com_cont em,.com_cont a{color: #4d78b7;}
.comment_sun{float: right;}
.comment_sun >span{width: 60px;text-align: center;line-height: 25px;border:1px solid #dee0de;border-radius: 3px;display: inline-block;margin-right: 10px;}
.com_cont2{padding-left: 100px;}
.com_cont2 >p{line-height: 30px;float:left;}
.com_cont3{background: #f5f5f5;border:1px solid #e4e4e4;padding: 10px;display: none;}
.com3_top1{line-height:30px;border-bottom: 1px dashed #C7C6C6; }
.pl_con{min-height: 50px;line-height: 25px;border-bottom: 1px dashed #C7C6C6;margin-bottom: 8px;}
.com_cont3{margin-right: 10px;}
.com_cont3 >p{margin-bottom: 5px;}
.mesay{text-align: right;}
.mesay >span{display: inline-block;padding:0 15px;border:1px solid #458cf5;border-radius: 2px;line-height: 25px;cursor: pointer;}
.write_box{height: 85px;}
.write_box .textarea{border:1px solid #d6dffa;background: #fff;padding: 10px;height: 44px;width: 100%;margin: 10px 0;}
.write_box .fabiao{display: inline-block;padding: 2px 10px;background: #458cf5;color: #fff;border:1px solid #1a63cc;float: right;}
.huifu{cursor: pointer;}
.huifu_on{height: 30px;background: #f4f4f4;cursor: pointer;}
.kkk{width: 60px;height: 4px;background: #f4f4f4;top: -4px;right: 0;display: inline-block;}
.share_tgjy{border:1px solid #dadada; margin-top: 20px;}
.share_tgjy a{color: #4d78b7;}
.share_tgjy p >span{display: inline-block;vertical-align:middle;padding-left: 15px;}
.share_tgjy p >span:first-child{width: 25%;height: 60px;border-right: 1px solid #dadada;text-align: center;line-height: 60px;}
.share_tgjy p >span:last-child{width: 74%;}
.pinglun2{line-height: 25px !important;}
.share_tgjy .pl_box >span:first-child{display: inline-block;height: 210px;line-height: 210px;border-right: 1px solid #dadada;}
.share_tgjy .pl_box .pinglun2{padding: 0 15px;}
.share_tgjy .pl_box .pinglun2 em{display: block;line-height: 45px;}
.share_tgjy .pl_box .pinglun2{height: 210px;}
.pl_box .pinglun2 .textarea{padding: 10px;border:1px solid #cfcfcf;width: 100%;height:95px;vertical-align: top;background: #f4f4f4;}
.sci >div{border-bottom: 1px solid #dadada;}
.sci >div span{float: left;}
.sci>div>div{min-height: 50px;}
.bord_l{border-left: 1px solid #dadada;width: 70%;}

/*medsci指数*/
.tb_sci{font-size: 12px;}
.sci tr,.tb_sci tr{border-bottom: 1px solid #dadada;vertical-align: middle;padding:5px 0;}
.tb_sci tr{border-right: 1px solid #dadada;}
.tb_sci{width: 100%;line-height: 22px;}
.tb_sci tr td{padding: 10px 15px;vertical-align: middle;border-left: 1px solid #dadada;}
.w50{width: 50%;text-align: left;}
.article tr td{padding: 15px 15px !important;}
.article tr td:first-child{text-align: left;}
.tb_sci a{ color:#3573b9; }

/*在线留言*/
.zxly{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #005d8e;}
.tab_tit_top img{width: 16px;margin-right: 4px;}
.com_cont h4{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  padding-left: 100px;margin-bottom:5px;}
.com_cont h4 span{font-size: 12px;float: right;padding-right: 20px;}
.replay{padding-left: 100px;padding-right: 20px;}
.replay p{text-align: right;color: #4b78b7;}
.replay .y_replay{text-align: left;color: #dd8600;border-top: 1px solid #dd8600;padding-top: 10px;padding-left: 20px;}
.huifu_cont p{color: #466ba2;text-align: left;}
.bg_f4{background: #f4f4f4;}
.ly_box{padding: 20px 15px;}
.ly_box h2{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #4b78b7;line-height: 30px;border-bottom: 1px solid #4b78b7;}
.ly_box input,.ly_box textarea{height: 40px;border-radius: 3px;border:1px solid #dadada;width: 100%;margin: 20px 0;padding: 0 10px;}
.ly_box textarea{height: 90px;padding: 10px;margin-top: 0;margin-bottom: 0;}
.ipt_group{text-align: center;}
.ipt_group input{width: 40%;display: inline-block;margin-right:4%;}
.ipt_group .reset{background: #606060;}
.moment{line-height: 40px;color: red;padding-left: 20px;}

/*英汉翻译*/
.yhhy{padding: 40px 40px 180px 40px ;}
.yhhy h1{font-size: 24px;color: #333;}
.yhhy >p{font-size: 12px;color: #4b78b7;line-height: 30px;margin: 20px 0;}
.qiehuan .baodian{height: 26px;border-radius: 5px;}
.qh_click{cursor: pointer;margin: 0 25px;width: 27px;height: 23px;display: inline-block;background: url(../images/qiehuan.jpg) no-repeat;vertical-align: middle;}
.qh_click:hover,.qh_click:active{background: url(../images/qiehuan_on.jpg) no-repeat !important;}
.qiehuan .ipt_sub{height: 34px;line-height: 34px;margin-left: 20px;padding: 0 25px;vertical-align: middle;}
.fy_left{width: 50%;height: 200px;border:1px solid #dfdfdf;padding: 15px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.fy_left textarea{width: 100%;height: 100%; border:none;}
.fy_right{background: #f0f0f0;color: #000;border:0;}
.fy_right textarea{background: #f0f0f0;}
.jingshi{line-height: 30px;padding-top: 20px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: red !important;}
.jingshi .glyphicon{font-size: 20px;vertical-align: middle;display: inline-block;margin-right: 8px;margin-top: -4px;}

.share_tgjy input{line-height: 28px;width:80px;margin: 0 10px 0 5px;vertical-align: middle;}
.share_tgjy .ipt_sub {width: auto;}

/*404*/
.qt_error{width: 100%;height: 100%;min-height: 630px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; padding-top: 100px;}
.qt_error .headline{margin: 0 auto;text-align: center;}
.error_right a{display: inline-block;}
.back_last{background: #8fc320;line-height: 34px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #fff;text-align: center;border-bottom:2px solid #5a8e20;border-radius: 5px;padding: 0 25px;margin-right: 20px;}
.back_index{background: #4c77b5;color: #fff;padding: 0 25px;border-radius: 5px;text-align: center;border-bottom:2px solid #395c90;line-height: 34px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.error_left{text-align: left;margin-right: 20px;color: #888;line-height: 22px;}
.error_left h3{font-size: 24px;color: #000;margin-bottom: 10px;}
.error_left h3 span{font-size:36px;}
.error_left h3 p{font-size:14px;}
.error-content{text-align: center;padding-top: 58px;}
.error-content >div{display: inline-block;vertical-align: top;margin-left: 20px;}
.error_right a:hover{color: #fff;}
.in_subnav{border-bottom: 1px solid #6f7e9b;background: #fff;}
.in_subnav h3{border-bottom:3px solid #668bbf;display: inline-block;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }

/*首页新增分类导航*/
.in_subnav_list{line-height: 30px;padding: 0;padding-top: 3px;z-index: 28;}
.in_subnav_list h3{line-height: 38px;display: inline-block;color: #4d76b4;}
.in_subnav_list >ul{display: inline-block;vertical-align: bottom;padding: 0 0px 0 10px;margin-right: 0;font-size: 12px;}
.in_subnav_list >ul >li{float: left;line-height: 38px;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  border:1px solid #fff;text-align: center;}
.in_subnav_list >ul >li a{border-bottom: 3px solid #fff;margin-bottom: -1px;}
.in_subnav_list ul li a{display: inline-block;}
.in_subnav_list >ul >li:last-child{margin-right: 0;padding: 0 7px;margin-left: 6px;}
.in_subnav_list >ul >li:hover > a{color: #4d76b4;border-bottom: 3px solid #4d76b4;}
.in_subnav .row{padding: 0 ;}
.in_subnav_list >ul >li > span{padding: 0 10px;}
.in_subnav_list >ul >li > span img{display: inline-block;margin: 0px;}
.fl_zixun:hover{border-bottom: 1px solid #fff;}
.fl_zixun img{margin-left: 5px;}
/*.fl_zixun:hover{border:1px solid #bdbdbd;border-bottom: 2px solid #fff !important;}*/
.fl_sub_nav{padding: 25px 0;background: #fff;display: none;top:40px;right:0;border:1px solid #bdbdbd;width: 510px;}
.fl_sub_nav .sublist1:first-child{padding-left: 20px;}
.fl_sub_nav .sublist1 ul{margin-right:0;border-right: 0;padding-left: 10px;font-size: 12px;padding: 0 16px 0 16px;}
.fl_sub_nav .sublist1:last-child ul{margin-right:0;border-right: 0;}
.baixian{display: inline-block;width: 54px;height: 40px;position: absolute;right: -1px;top: -40px;border:1px solid #bdbdbd;border-bottom:1px solid #fff;background: url(../images/baixin.jpg) repeat-x bottom ;cursor: pointer;}

.medical{padding: 25px 0;}
.pdl0{padding-left: 0}
/*.slideBox .bd li:nth-child(2),.slideBox .bd li:nth-child(3){display: none;}*/

/*search 页面样式*/
.all_search{padding:30px 0 30px 0;border-bottom: 1px solid #e1e1e1;}
.all_search .searchbox{height: 42px;display: block;}
.all_sear_shbox{max-width: 780px;border:none;line-height: 40px;font-size: 18px;}
.all_sear_shbox .iptstyle3{width:85%;border: 1px solid #5175a9;}
.all_sear_shbox .searbtn{width: 15%;font-size: 22px;height: 42px;vertical-align: top;}
.all_sh_ly{line-height: 20px;}
.all_sh_ly span{display: inline-block;margin: 0 15px;color: #252525;cursor: pointer;}
.all_sh_ly span:first-child{margin-left: 0;}
.all_sh_ly_on{border-bottom: 3px solid #5175a9;line-height: 40px;}
.search_re{padding: 20px 0;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.search_re span{cursor:auto;}
.yd_search_re{margin-bottom: 20px;}
.yd_search_re h4{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #000;}
.yd_search_re p{font-size: 12px;color: #252525;margin-top: 6px;line-height: 18px;}
.yd_search_re .ill_js{color: #44699e;}
.about_searchbox h5{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #333;line-height: 30px;margin-bottom: 10px;}
.about_searchlist a{display: inline-block;margin-right: 20px;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #44699e;line-height: 30px;}
.about_searchlist ul li{height: 30px;overflow: hidden;}
.about_searchlist ul li a{line-height: 30px;font-size: 12px;margin-right: 0;color: #333;}
.about_searchlist ul li a:hover{color: #44699e;}
.about_searchlist ul li span{max-width: 190px;overflow: hidden;display: inline-block;height: 30px;vertical-align: middle;margin-right: 5px;}
.about_searchlist ul li em{display: inline-block;max-width: 60px;overflow: hidden;height: 30px;vertical-align: middle;}
.remen{padding: 20px;}
.remen .about_searchlist a{font-size: 12px;}

/*搜不到关键词页面*/
.sear_proposal{min-height: 200px;}
.sear_proposal h3{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #000;line-height: 30px;}
.sear_proposal ul{padding-left: 15px;}
.sear_proposal ul li{color: #000;list-style-type: disc;}
.sear_proposal ul li span{color: #252525;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 25px;}
/*416页面*/
.feifbox{padding: 20px 0;min-height: 630px;}
.feifbox h1{font-size: 20px;margin-bottom: 20px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }
.bake_data{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  line-height: 30px;margin-bottom: 20px;}

/*首页修改20160115*/
.nstyle{border:none;background: none;}
.sec_form{display: inline-block;}
.c_xiang{background: #338fce;color: #fff !important;padding: 2px;}
.c_ping{background: #5daa62;color: #fff !important;padding:1px 2px;}
.c_wen{background: #fe8d01;color: #fff !important;padding:1px 2px;}
.c_jie{background: #d502b5;color: #fff !important;padding:1px 2px;}

/*我要投稿*/
.tgxz_box{border:1px solid #d6d5d5;width: 570px;padding: 6px;background: #fff; top: 45px;right: 0;}
.tgxz_cont{padding: 15px 20px;background: #f1f6fa;}
.tgxz_cont h4{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #466ca4;line-height: 30px;}
.tgxz_cont h5{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #d57302;line-height: 14px;}
.tgxz_cont p{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 10px;color: #252525;}
.bord_xd{border-bottom:1px dotted #a5a5a5;padding-bottom: 10px;}
.tgfs p a{display: inline-block;}
.sjiaoxing{top: -10px;right: 40px;}
.replay_btn{}

.alert_bg{background: #000;opacity:0.5;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 3;}
.alert_contbox{padding: 30px;z-index: 2;width: 400px;padding-bottom: 40px; position: absolute;left: 50%;top: 20%;margin-left: -200px;background: #fff;z-index: 4;}
.alert_cont{padding-top: 40px;}
.alert_contbox p{color: #333;font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 20px;}
.alert_contbox p a{display: inline-block;margin-right: 15px;}

.alertbox{width: 100%;height: 100%;z-index: 888;background: none;left: 0;top: 0;margin-left: 0;}

.jsastm p{padding:5px 20px;}
.detail_login{margin-top: 30px;}
.detail_login a{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #fff;display: inline-block;line-height: 30px;height: 30px;}
.detail_login a:hover{text-decoration: underline;}

.contantbar.border.white.mt_20{border:none;}

#bm_from .row{height: auto;}
.shaixuan{float: right;font-size: 13px;}
.shaixuan select{font-size: 12px;padding:3px 0px;}
.sx_search{height: 24px;line-height: 24px;font-size: 13px;width: 47px;vertical-align: middle;cursor: pointer;}
.ggdc{padding-bottom: 0px;padding-top: 15px;}
.ggdc .col-md-12{padding: 0;}
.ggdc .col-md-12 img{width: 100%;}

.zhinans.white.mt_20{padding: 20px 15px;}
/*新首页*/
.newindex{padding: 20px;border:1px solid #eaeaea;margin-top: 10px;}
.newindex_h2{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 15px;}
.newindex_zxgj_top > a{display: inline-block;width: 44%;margin-right: 5%;background: #f2f6fe;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #3164af;text-align: center;line-height: 30px;margin-bottom: 15px;}
.newindex_zxgj_top{border-bottom: 1px solid #e0e0e0;}
.newindex_zxgj_center{border:1px solid #ecf1fa;background-color: #f9fbff;padding:22px 15px;margin-top: 20px;}
.newindex_zxgj_center h2{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #3164af;}
.style1{margin-top: 12px;}
.style1 input{width: 150px;height: 29px;line-height: 29px;padding:0 10px;border:1px solid #dbdbdb;vertical-align: middle;}
.style1 input.btn_sear_sy2{background: #6a93cf;color: #fff;padding: 6px 0;text-align: center; width: 60px;display: inline-block;vertical-align: middle; border:none; line-height:inherit;}
.zxgj_bottom{padding: 0;}
.zxgj_bottom ul li{display: inline-block;width: 49%;height: 36px;line-height: 36px;text-align: center;border-right: 1px solid #e3e9f1;}
.zxgj_bottom ul li:last-child{ border-right:none;}
.newindex_zxgj_center ul{border-bottom: 1px solid #e3e9f1;}
.zxgj_bottom_style{padding:0 15px 15px 15px;}
.zxgj_bottom .tabs_on{color: #4c78ba; font-weight:bold;}
.ms_special_box{margin-top: 40px;border:1px solid #e5eeff;background-color: #eff5ff;padding: 15px;}
.ms_special_box h3,.h3_style{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  margin-bottom: 10px;color: #000;}
.ms_special_box h3 a,.h3_style a{display: inline-block;float: right;color: #252525;}
.special_list ul{padding-left:0px;}
.special_list ul li{line-height: 25px;background: url(../images/list_img.jpg) left center no-repeat;padding-left: 10px;}
.special_list ul li a{color: #252525;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;}
.special_list ul li a:hover{color: #3164af;}
.special_list ul li .new_time{display: none;}
.zixun_tj{margin-top:8px;padding-top: 2px;}
.zixun_tj p span{color: #3164af;margin-right: 10px;}
.zixun_tj p{height: 28px;line-height: 28px;overflow: hidden;}
.zixun_tj p a{color: #252525; font-size:15px; font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;}

.nind_gg img,.guang2 img{width: 100%;height: 75px;}
.guang1{padding-right: 10px;}
.guang2{padding-left: 5px;}
.guang3{height: 75px;}
.guang3 img{height: 100%;height: 75px;}

/*医学关注*/
.med_attention{border:1px solid #e9e9e9;border-top: 2px solid #43689f;padding-top: 0;padding-bottom: 0;}
.med_attention h2{line-height: 37px;padding: 0 15px;background-color: #fafafa;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.med_attention h2 span{float: right;}
.med_attention h2 span a{color: #252525;font-size: 12px;}
.attent_news{padding: 20px;border-right: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9;}
/*学院*/
.college{border-bottom: none;}
.college .new_video {padding-bottom:0;margin: 0 !important;}
.college .new_video .new_cont{text-align: left;}
.college .new_video .new_cont h4{width: 100%;height: 38px; overflow:hidden;text-overflow: ellipsis;margin-bottom: 5px;font-weight: bold;font-family: "微软雅黑" !important;}
.college .new_video .new_cont p{line-height: 25px;color: #888;}
.college .new_video .new_cont .join{padding: 0px;margin-top: 5px;}
.college .new_video .new_cont .join a{margin-right: 15px;margin-left: 0;padding:0px 20px;display: inline-block;}
.college .new_video .video_play a{display: inline-block;}
.slideBox2{border-bottom: 1px solid #e9e9e9;padding-bottom: 34px;}
.slideBox2 .hd{bottom:0;}
.slideBox2 .hd ul{text-align: right;font-size: 0;}
.slideBox2 .hd ul li{display: inline-block;margin-right: 10px;margin-top: -15px;}
.attent_news.mxkt{padding: 0 20px;}
.attent_news.mxkt .slideBox2{border-bottom: none !important;}

.new_video .col-md-5{width: 40%;overflow: hidden;}
.new_video .col-md-7{width: 60%;padding-left: 15px;}
/*.mxkt .slideBox .bd ul li .new_cont p{height: 60px;overflow: hidden;}*/
.special_list.attent_news:last-child{border-bottom: none}
.check_new_list .new_cont1{width: 74%;}
h5{overflow:hidden;white-space:nowrap;text-overflow: ellipsis;font-size: 15px;margin-bottom: 5px;margin-top: 0;padding-top: 0;color: #565656;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }

.n_product_box{margin-top: 20px;margin-bottom: 20px;}
.n_product{text-align: center;padding: 10px;border-right: 1px dashed #ebebeb;}
.n_product p img{display: inline-block; }
.n_product h6{font-size: 16px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #333;}
.n_product span{display: block;color: #666;}
.n_product a{color: #0e9be1;display: block;line-height: 25px;}
.n_product_box .n_product:last-child{border-right: none;}
.tucao{padding-left: 0;padding-top: 6px;height: 170px;}
.tucao img{width: 100%; height: 100%;}
.tucaobox{padding: 0 15px;}
.check_new_list .name{color: #252525;}
.check_new_list .plconten{padding: 10px 20px;background: #edf2f9;border-radius: 5px;margin-top: 10px;margin-bottom: 10px;}
.check_new_list .sjpingl{top: -5px;left: 30px;}
.plrightbox{border-bottom: 1px solid #ebeef1;}
.friend_link{line-height: 50px;margin: 20px 0;background-color: #eeeeee;color: #cecece;}
.friend_link a{display: inline-block;padding: 0 6px;color: #252525;font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }
.friend_link span{font-size: 14px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  color: #333;}
.fr_listfl ul li{ padding-bottom: 3px;}
.newindex_top{padding-bottom:0px;padding-top: 15px;}
.fl_listfl{border:1px solid #e8e8e8;padding: 25px 13px 13px 13px;background: #f9fdff;margin: 0;}
.fl_listfl ul li{display: inline-block;margin-right: 10px;line-height: 20px; padding-bottom:12px; 
 }
.fl_listfl ul li a{color: #252525; font-size:14px; }
.fr_listfl{padding:6px 15px;}
.fl_listfl .col-md-3{padding: 0 0 0 15px;}
.fl_listfl.fr_listfl img,.fl_listfl.fr_listfl ul{display: inline-block;vertical-align: middle;}
.fl_listfl.fr_listfl img{width: 70px;margin: 6px 9px 6px 0;display: inline-block;}
.fl_listfl.fr_listfl ul{width: 155px;}
.fl_listfl.fr_listfl ul li{line-height: 18px;}
.fl_listfl.fr_listfl ul li a{color: #357cb0;}

.pl_laiyuan{color: #252525;}
.footer .container{ padding-bottom:30px;}
.footer { padding-bottom:12px;}
.web_map a{ color:#888;}
.web_map{ text-align:center;}
.newindex,.med_attention,.n_product_box,.med_attention,.friend_link{ background:#fff;}
body{ background:#f0f0f0 !important;}
.nopadl{ padding-left:0px !important;}

/*sci新页面*/
.SCIcx{background:#fff;}
.sciboxjg{padding: 20px 0px;}
.sciboxjg h2{font-size: 16px;padding: 18px;border:1px solid #afd2f0;background: #f1f7fc; font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }
.sciboxjg h2 em{color: #fe7700;}
.sci_jieguo{padding: 18px;border:1px solid #f0f0f0;margin-top: 18px;background: #fbfbfb;}
.sci_jieguo h1{border-bottom: 1px solid #f2f2f2;font-size: 25px;color: #266bb9;padding: 5px 0 15px 0;}
/*.yxyzcx_left{border-left: 1px solid #e8e8e8 }*/
.yxyzcx_left h2{font-size: 30px;color: #f60;background: none;border:none;}
.yxyzcx_left h2 p{display: block;font-size: 14px;margin-top: 15px;padding-left: 15px;color:#b4b4b4;}
.meszhishu{width: 89px;height: 89px;background: url(../images/round_bg.png) no-repeat;padding: 20px 10px;text-align: center;font-size:20px;font-weight: bold;color: #f60; }
.yxyzcx_right{font-size: 16px;line-height: 28px;font-family: "微软雅黑";}
.yxyzcx_right p a{display: inline-block;margin-bottom: 7px; text-decoration: underline; padding:0px 12px;border:1px solid #b9cdeb;border-radius: 2px;font-size: 12px;color: #4d78b7;line-height: 22px;}
.yxyzcx_right p em{color: #f60;}
.yxyzcx_right .anniu{margin-top: 10px;}
.sci_jieguo .row{padding:10px 0 0 0;}
.sci_jieguo .row .col-md-9{padding-left: 0;}
.anniu span a:first-child{border:none;padding: 0 4px;}

.table>tbody>tr>td{padding: 10px 5px;}
select{height: 28px;line-height: 28px;}
.table > tbody + tbody{border-top: 1px solid #ddd;}
thead tr th{border-bottom: none !important;}
/*#no-more-tables{ padding:0px;}*/
.bible h2{border-bottom: 1px solid #e8e8e8;}
.usercont.biblebody.white .bible{padding: 0;}
.usercont.biblebody.white #no-more-tables{padding:40px 0 0 0;}
#no-more-tables.mt20{margin-top: 0;}
.table-bordered{font-size: 12px;}
.zhinanbox,.xkhot { line-height:24px;}
.content h1{  border-bottom:1px solid #e8e8e8; padding-bottom:20px;font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;  }
.infocont a{ color: #4d78b7; }
.infocont a:hover{ color:#ff6600;}
.fl_listfl{padding:22px 15px 8px 15px;}
.fr_listfl{padding-top:4px;	}
.xinmu{ color:#F00; margin-left:20px;}
.sci_jieguo h1 span{ font-size:14px; color:#888; margin-left:12px;}
.bible h2{ font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif; }
.sublist span.comment{
   margin-top: 0px;
     width: inherit; 
   padding: 0px; }
.infocont p{ padding-bottom:20px;}
.infocont img{ margin-bottom:10px; margin-top:10px; max-width:100%;}
.videobox,.circle { display:none;}
.kscx,.gxsy{ background:none; }
.quote{ padding: 10px; display:block;
color: #999;
border-left: 3px solid #f1f1f1;}
.mes0330 .zy_into { margin-top:20px; border:1px solid #e8e8e8; padding-top:10px; padding-bottom:10px; border-left: 2px solid #337ab7;}
.mes0330 .zy_into p{ line-height:24px; border-bottom:1px solid #f2f2f2;}
.mes0330 .zy_into span{ line-height:24px; padding:5px;}
.mes0330 .zy_into span:first-child{ font-weight:bold;}
.sfbz{color: #1e4f96;
font-size: 14px;
font-family: 'Heiti SC',"微软雅黑", 'microsoft yahei', Arial, sans-serif;
font-weight: normal;
border-bottom: 1px solid #e1e1e1;
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 10px;}
.sfbz a{color: #1e4f96;}



/* header
----------------------------------------------------------*/

/*  common css  */
.mouse_hand{cursor:pointer}
.thesis_click{background:#3c88c6 !important;color:#fff !important;}

.focus{ width:100%; height:140px;  margin:0 auto; position:relative; overflow:hidden;   }
	.focus .hd{display: none; width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
	.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
		-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
	}
	.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
	.focus .hd ul .on{ background:#FE6C9C;  }

	.focus .bd{ position:relative; z-index:0; }
	.focus .bd li img{ width:100%;  height:140px; }
	.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }

	.rightbar{position: fixed;top: 25%;right: 0;z-index: 999;}
	.rightbar img{display: inline-block;}
	.newindex_top .fr_listfl ul li{padding-bottom: 3px;}
	.col-md-5.col-xs-5{padding-left: 0;}
.sspl_box{height: 468px;overflow-y:scroll; }


p.bible_f.cx_sendleft{padding-left: 10px;}
p.bible_f.cx_sendleft textarea{border:0;width:100%;height: 200px;outline: none;}
.fwfd{padding: 0 10px 10px 10px;border-bottom: 1px solid #eaeaea;}
.fwfd input{width: 150px;height: 35px;border:none;background: #6a93cf;color: #fff;text-align: center;line-height: 35px;font-size: 14px;font-family: "微软雅黑";}
.fwfd input:last-child{background: #ff8a00;}



.img_close{ float: right; position: relative; right: 8px; top: 0; height: 25px;width: 25px;}

.icon_con{ padding-left: 8px}
.show_app_dl{display: none; padding: 8px 0; background-color: #f2f2f2; position: fixed; bottom: 0;left: 0;width: 100%;}
.icon_con img{ width: 50px; float: left;}
.icon_con img.download1{float:none;position: relative; top: 0px;}

.wenz{ padding-left: 58px; margin-right:40px;}
.s_name{ font-size:16px; color: #232222 }
.s_con{overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 100%; display: block; font-size: 14px;color: #666;}
.home .top1{ position: absolute;}
.flclose,.sear_close,.sjjz{display: none;}
#header_login_status,.login_box{margin-top: 20px;}
#header_login_status,#header_login_status1{color: #fff;font-size: 14px;color: #fff;line-height: 32px;}
#header_login_status a,#header_login_status1 a{color: #fff;}
.leftbar{position: fixed;top: 50%;left: 0;width: 115px;height: 250px;}
.leftbar img{width: 100%;}

.leftbar .slideBox .bd li img{ height:170px}


.rightbar{position: fixed;right: 0;top: 50%;}

.rightbar >div{border-bottom: 1px solid #fff;}
.wxewm{top: 0;right:68px;}
.appewm{bottom: 0;right:68px;}


.guang{margin-bottom: 20px;}
.guang ul{float: right; width:26%;}
.guang .focus{float: left;overflow: hidden;width:73%;height: 159px;}
/*.guang .focus img{width: 100%;}*/
.guang .focus .bd li img{width: 100%; height: auto;}
.guang img{width: 100%;}
.guang ul li{position: relative;border-bottom: 1px solid #fff;cursor: pointer;overflow: hidden;}

#my{    margin-left: 0; width: 100%; height: 100%; position: fixed; top: 0; left: 0;}
.bg_back{background: #000;opacity: 0.8;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}
#my .close{width: 30px;height: 30px;position: absolute;z-index: 999;margin-top: -10px;
    right: 50%; margin-right: -244px;opacity: 1;top:20%;}
.close:hover, .close:focus{opacity: 1;}
.close img{width: 100%;  }

.alert_img{width: 480px;position: absolute;top: 20%;left: 5%;z-index: 3;
border-radius:8px;    left: 50%;background:#fff;    margin-left: -240px;text-align: center;}
#my .alert_img img{display: inline-block; border-radius: 5px;}
.tcwenzi{ padding:20px; font-size:16px; line-height:26px; padding-top:30px;color:red;}
.tcwenzi a{ color:#ED5565}
a{cursor: pointer;}

.pho_btnlink a{display: inline-block;padding: 6px 30px;font-size: 16px;color: #fff;background: #436aa3;border:3px;}

.ewm_box{padding-bottom:50px;}


/*20160802*/

.left_top{background: #4294e1;display: block; color: #fff;width:100px;height: 23px;line-height: 22px; font-size: 13px;font-family: "微软雅黑"; text-align: center;left: -29px;top: 7px;
	transform:rotate(-43deg);
	-ms-transform:rotate(-43deg); 	/* IE 9 */
	-moz-transform:rotate(-43deg); 	/* Firefox */
	-webkit-transform:rotate(-43deg); /* Safari 和 Chrome */
	-o-transform:rotate(-43deg); 
}
.near_recomment{background: #fff;border:1px solid #e8e8e8;padding: 15px 18px;margin-bottom: 15px;}
.near_recomment span,.near_recomment a{display: inline-block;margin-right: 15px;font-size: 12px;}
.near_recomment a{padding: 3px 18px;border-radius: 15px;border:1px solid #dadada;}
.right_sbanner1{ padding:0px; padding-bottom:10px;}
.binjigg{ padding-top:15px;}

#header_login_status a:first-child{}
.container .okmemo-tmp-unselect{ color:#ff6600; text-decoration:underline; font-weight:bold;}

.subbanner2{height: auto;}
.subbanner_fd{position: fixed;top: 2%}

/*.hide{display: none;}*/

.alert_box{z-index: 2;}
.st2_alertbox .alert{width: 450px;padding:20px;margin-left: -225px;}
.st2_alertbox .alert p{text-align: left;}
.agree_close{display: inline-block;color: #2cade7;cursor: pointer;}

.lunzhu_table tr td{border:1px solid #dadada;width: 25%;padding: 6px 10px;text-align: center;font-size: 14px;}
.h-tbs_c1 p{font-size: 14px;line-height: 24px;margin-bottom: 10px;}