
@charset "utf-8";
/* CSS Document */

@media(max-width: 992px) {
	#bdshare{display: none;}
	.center {margin-right: auto;margin-left: auto;width: 100%;}
	/*head*/
	.show_app_dl{display: block;}
	.meszhishu{position: absolute;top: -215px; right:0px;width: 45px;height: 45px;background: url(../images/round_bg.png) no-repeat;background-size:45px;padding: 10px 10px;text-align: center;font-size: 12px;}
	.bible_f span:first-child{ width:30%; }
	.bible_f span:last-child{ width:66%;vertical-align: middle;}
	.bible_f .ts_box1{ display:none;}
	body{color: #333;/*padding-bottom: 70px;*/}
	img{display: inline-block;max-width: 100%;}
	.head_nav,.head_seach{display: none;}
	.login_box{display: block;width: 100%; padding: 0px 0 5px 0;background: #fff; z-index: 50;position: absolute;top: -57px;left: 0;margin-top: 0;border-bottom: 1px solid #eaeaea;}
  	.login_box a{padding: 0;font-size: 12px;color: #333;}
  	.sear_close{display: block;color: #D8D5D5;float: right;font-size: 25px;margin-top: 10px;margin-right: 10px;cursor: pointer;}
  	.sec_form{display: block;}
	.pc_search{border:1px solid #eaeaea;margin: 10px;}
	.searinput{width: 200px;}
	.bible_f .ts_box1{ display:none;}
	.seach,.nav_mean{display: block;}
	.login_li{text-align: right;}
	.login_li a{display: inline-block;}
  	.head{ height: 50px;}
  	.head_cont{ padding-top:10px; }
	/*.content{margin-top: -140px;}*/
	.content{padding: 10px;}
	.head_cont_pho{display: block !important;}
/*	.head_cont{display: none;}*/
	.logo{padding-top: 6px !important;padding-left: 10px;}
	.head_cont .logo img{width: 70%;}
	.nav_pho{top: 20px;right: 10px;width: 95px;}
	.seach{width: 30px;margin-right: 20px;cursor: pointer;}
	.head_nav_on{background: none;}
	.head_nav {width: 100%; background: #fff;color: #333;padding-top: 21px;position: absolute;top: 50px;left: 0;z-index:25;padding: 0;display: block;border-bottom: 1px solid #eaeaea;}
	.head_nav ul li:hover{background: none;}
/*	.head_nav > ul > li{float: none;}*/
	.head_nav > ul > li{padding: 0;width: 16%;text-align: center;}
	.head_nav > ul > li > a,.head_nav > ul > li{line-height: 40px;color: #333;}
	.head_nav > ul > li > a{font-size: 15px;}
	.head_nav > ul{padding-left: 0;}
	.head_nav > ul >li{padding:0;width: 16%;font-size: 14px;text-align: center; }
	.head_nav > ul > li>em{display: none;}
	/*二级导航*/
	.top_m_a >a{display: none;}
	.top_m_d{display: block; position:inherit;background: none;}
	.top_m_d > a{padding: 8px 10px 8px 10px;border-bottom: 1px solid #e0e0e0;height: auto;}
	.nav_mean{width: 30px;cursor: pointer;}
	.seach_bar{width: 100%;top:66px;left: 0;padding: 10px; margin-left: 0;border:1px solid #e0e0e0;display: none;background: #fff;}
	.seach_text{width: 68%;}
	.seach_sub{width:30px;}
	.head_seach,.head_seach1{border:1px solid #e0e0e0;margin-left: 0;}
	.head_seach1{width: 80%;}
	.head_seach1 .seach_text{width: 88%;}

	.nav_mean_list{width: 120px;z-index: 400;top: 45px; right: -30px;background: #436aa3;display: none;}
	.nav_mean_list ul li {border-bottom: 1px solid #1e3a63;padding: 5px 0;}
	.nav_mean_list ul li:nth-child(3){border-bottom: 0;}
	.nav_mean_list ul li a{display: inline-block;font-size: 14px;line-height: 30px;padding-left: 5%;color: #fff;}
	.nav_mean_list ul li img{width: 12%;padding-left: 8%;display: inline-block;}
	.banner{padding-top: 0;}



	/*daohang*/
	.sub_nav{position: fixed;top: 90px;left: 0;width: 100%;padding: 8px 10px 20px 10px;}
	
	.sublist1{width: 33%;}
	/*footer*/
	.foot_left,.son_web{float: none;}
	.son_web{margin-left: 0;}
	.medical_title{margin-top: 20px;}
	.newindex{margin-top: 30px;padding: 20px 0 0 0;}
	.newindex_top .col-md-9.col-xs-12.noleftpad{padding: 20px 10px !important;}
	.newindex_top > .col-md-3{padding: 0px 10px 30px 10px;}
	.newindex_top .col-md-9,.newindex_top .col-md-3{width: 100%;background: none;background: #fff; }
	.fl_listfl ul li{width: 28%;height: 32px;text-align: center;line-height: 32px;border:1px solid #ddd;margin-top: 10px;}
	.fl_listfl ul{padding: 0;}
	.fr_listfl{display: none;}
	/*metting*/
	.meeting_seach_img{display: none;}
	.m_seach{padding-left: 0;}
	.pd_020{padding: 0 10px;}
	.biaoqian{display: block;margin-top:10px;margin-left:0;}
	.biaoqian a{display: block;margin-top: 10px;}
	.meeting_seach{padding: 0;}
	.m_seach select,.m_seach >p input{margin-bottom: 10px}
	.meeting{width: 100%;margin-top: 10px;}
	.meeting_list li{font-size: 14px;padding:0;width: 33%;}
	.yxs_link a{margin-right: 10px;}
	.son_web{width: 100%;}
	.bg_fff{padding:0;}

	.recom_research{padding-left: 10px;}
	.info_title{line-height: 25px;margin-bottom: 10px;}
	.dy_info_title{line-height: 28px;padding:0 10px 20px 10px;font-size: 16px;}
	.dy_form{padding: 10px;}
	.classification{padding:10px;}
	.classification > div{margin-top: 10px;}
	.classification >div a{margin-right: 0;}
	.pho_cont{padding: 0 0 0 10px;}
	.sx_xx_nr >div >p{line-height: 25px;}
	.left{padding-right: 0;}
	.down img{width: 4%;}
	.resear_link a{margin-right: 12px;}

	/*20160113*/
	.newindex_top{display: block;width: 90%;position: fixed;top: 0;z-index:45;overflow: hidden;left: -90%;background:#eee;padding: 0 3% 15px;}

	.fldh1{animation:myfirst 1s;animation-fill-mode:forwards;
			-moz-animation:myfirst 1s; -moz-animation-fill-mode:forwards;/* Firefox */
			-webkit-animation:myfirst 1s; -webkit-animation-fill-mode:forwards;/* Safari and Chrome */
			-o-animation:myfirst 1s;-o-animation-fill-mode:forwards;
			
			
			
			
					
	}
	@keyframes myfirst{
		0%{left:-90%;}
		100%{left:0%;}
	}
	@-moz-keyframes myfirst{
		0%{left:-90%;}
		100%{left:0%;}
	}

	@-webkit-keyframes myfirst{
		0%{left:-90%;}
		100%{left:0%;}
	}

	@-o-keyframes myfirst{
		0%{left:-90%;}
		100%{left:0%;}
	}

	.fldh2{animation:seent 1s;animation-fill-mode:forwards;
			-moz-animation:seent 1s; -moz-animation-fill-mode:forwards;/* Firefox */
			-webkit-animation:seent 1s; -webkit-animation-fill-mode:forwards;/* Safari and Chrome */
			-o-animation:seent 1s;-o-animation-fill-mode:forwards;
			
			
			
			
		}
	@keyframes seent{
		0%{left:0%;}
		100%{left:-90%;}
	}
	@-moz-keyframes seent{
		0%{left:0%;}
		100%{left:-90%;}
	}
	@-webkit-keyframes seent{
		0%{left:0%;}
		100%{left:-90%;}
	}

	@-o-keyframes seent{
		0%{left:0%;}
		100%{left:-90%;}
	}





	.searchdh1{animation:mysearo 0.5s;animation-fill-mode:forwards;
				-moz-animation:mysearo 0.5s; -moz-animation-fill-mode:forwards;/* Firefox */
				-webkit-animation:mysearo 0.5s;-webkit-animation-fill-mode:forwards; /* Safari and Chrome */
				-o-animation:mysearo 0.5s;-o-animation-fill-mode:forwards;
				
				}
	@keyframes mysearo{
		0%{top:-57px;}
		100%{top:0px;}
	}
	@-moz-keyframes mysearo{
		0%{top:-57px;}
		100%{top:0px;}
	}
	@-webkit-keyframes mysearo{
		0%{top:-57px;}
		100%{top:0px;}
	}
	@-o-keyframes mysearo{
		0%{top:-57px;}
		100%{top:0px;}
	}

	.searchdh2{animation:myseart 0.5s;animation-fill-mode:forwards;
				-moz-animation:myseart 0.5s;-moz-animation-fill-mode:forwards; /* Firefox */
				-webkit-animation:myseart 0.5s;-webkit-animation-fill-mode:forwards; /* Safari and Chrome */
				-o-animation:myseart 0.5s;-o-animation-fill-mode:forwards;	
				
			}
	@keyframes myseart{
		0%{top:0;}
		100%{top:-57px;}
	}
	@-moz-keyframes myseart{
		0%{top:0;}
		100%{top:-57px;}
	}
	@-webkit-keyframes myseart{
		0%{top:0;}
		100%{top:-57px;}
	}
	@-o-keyframes myseart{
		0%{top:0;}
		100%{top:-57px;}
	}
	.flclose{display: block;font-size: 40px;line-height: 40px;margin-top: 10px; color: #999;font-weight: bolder;float: right;}
	.in_subnav_list,.footer{display: none;}
	.noleftpad{padding-left: 0px !important;}
	.norightpad{padding-right: 0px !important;}
	.department,.gg_xueshu,.footer >.center,.web_map,.gg2{display: none;}
	.medical .col-xs-12{margin-bottom: 10px;padding-left: 10px !important;}
	.medical .col-md-9 .col-xs-12{padding-left: 0 !important;padding-right: 0;}
	.news2{padding:0;}
	.news2 h2{padding-left: 10px;font-size:16px; line-height: 22px;}
	.join{margin-top: 10px;}
	.join a:first-child{margin-left: 0;}
	.wap_footer{display: block;}
	.footer{padding-top: 20px !important;padding-bottom: 20px;}
	.medical{padding-bottom: 0;}
	.new_cent >div{padding: 0px 0px 20px 0px;}
	.new_recommend ul li:first-child{padding-left: 0;}
	.wap_bg{background: #fff;}
	.wap_bg .col-xs-12 .guide{border:none;}
	.time1{margin-right: 10px;}
	.col-md-9.col-sx-12.noleftpad{padding:0 !important;}
	.meetindex.infobody{padding: 20px 10px;}
	.breadcrumb{padding: 8px 24px;}
	.infobody h1{font-size: 18px;}
	.sublist span{margin-right: 2px;}
	.hot{font-size: 12px;line-height: 20px;}
	.hot .fr{display: none;}
	.col-md-3.col-xs-3.norightpad.img100{padding:0 0 0 10px !important;}
	p.join.fr{float: none;}
	/*20160118*/
	.infobody{min-height: auto;}
	/*SCI新增页面*/
	.sciboxjg{padding: 0;}
	.yxyzcx_left h2{padding-left: 0;padding: 0;}
	.yxyzcx_left h2 p{display: inline-block;}
	.baofenbi{margin-top: 15px;}
	.yxyzcx_right{font-size: 12px;line-height: 22px;}
	.sci_jieguo .row{padding-top: 0;}
	.anniu span,.anniu a{display: inline-block;margin-right: 10px;margin-bottom: 6px;}
	.sciboxjg{padding-bottom: 20px;}
	.sci_jieguo{padding: 10px;}
	.sci_jieguo h1{font-size: 16px;margin-bottom: 0px;padding: 5px 50px 15px 0;}
	.sci_jieguo .yxyzcx_left,.sci_jieguo .col-md-9.col-xs-12{padding:0;}
	.yxyzcx_left h2{font-size: 20px;}
	.tool2 a{width:50%;}
	.ineed .kscx{margin-left: 0;font-size: 12px;}
	.ineed{padding: 10px !important;}
	.ineed a,.ineed button{font-size: 12px;padding: 2px 10px;}
	.bible,#no-more-tables{padding: 20px 10px;}
	.bible h2{font-size: 16px;font-family: "微软雅黑";}
	.biblebody{padding: 0;}
	.bible_f{line-height: 22px;}
	.bible_f span{padding: 10px 2px;}
	#form1 .bible_f span{line-height: 22px;padding: 10px 5px 10px 5px;}
	select{height: 25px;}
	.headtit .lmming{font-size: 22px;margin-bottom: 10px;}
	.headtop >p{margin-bottom: 15px;}
	.headtop{padding: 0 10px;}
	.rightbar,.new_time,.leftbar{display: none;}
	
	.n_product p img{ width:50px; height:auto;}
	.attent_news{border-right: none }
	.head_nav > ul > li > a, .zixunpr{color: #333;}
	.sci_span3 em{width: 220px;}
	.sci_span3 em i{width: 50px;}
	.container{padding-left:0;padding-right: 0;}
	.fl_listfl{padding:0;border:none;background: none;}
	.col-md-9.col-xs-12.noleftpad{padding:0 10px !important;}
	.ms_special_box{background: none;padding:20px 0px;border:none;}
	.attent_news{padding:10px 0;}
	.col-md-7.col-xs-12.noleftpad.norightpad.video_kt{display: none;}
	.mxkt,.nind_gg{display: none;}
	.col-md-3.col-xs-12.noleftpad.norightpad{padding:0 10px;}
	.tucaobox .col-md-7{padding:0px 0;}
	.tucaobox{padding: 0 10px;}
	.check_new_list .new_cont1{width: 80%;}
	.row{margin-right: 0;margin-left: 0;}
	.attent_news.bord_none{padding: 20px 10px;}
	.col-md-5.tucao.norightpad{display: none;}
	.row.tucaobox{padding: 0;}
	.friend_link,.newcont1 .time,.subbanner2,.tpugap,.zhinan,.morepr,.zixun_tj,.subbanner{display: none;}
	.new_list h2,.zixun_tj p a,.newcont1 h3{font-size: 14px;margin-bottom: 5px;}
	.headtit_right,.a.morepr.pr.class_name,.circle,.otherlist{display: none;}
	.searchbox form .iptstyle3, .searchbox .iptstyle3{width: 210px;}
	.meetindex .news3{padding: 10px;}
	.newcont_h{max-height: 60px;height: auto;}
	.content h1{font-size: 20px; font-weight:bold; line-height:28px;}
	.breadcrumb .row{   font-size:12px;}
	.row{ padding-top:10px;}
	.news3 > span{ width:100px; height:75px;}
	.newcont1{ padding-left:110px !important; }
	.nopadl{ padding-left:0px !important; }
	.content h1{ padding-bottom:10px;}
	.breadcrumb {padding: 0 10px;}
	.videobox{padding: 10px;}
	.about_newx{padding:0 10px;}
	.ahoner{display: none !important;}
	.meetindex .news3{padding: 20px 10px;}
	.statement{padding: 0;}
	.ineed .ipt_sub,.ineed .kscx,.ineed a{width: 40%;margin-bottom: 10px;text-align: center;}
	.ineed a em img{display: none;}
	.sci_span2{width: 25%;}
	.container .row .comment{background: none;}
	.zy_into span{padding: 10px;}
	.rightbox1{display: none;}
	.ineed .ipt_sub{margin-left: 0;padding: 0;}

	.m-mask{display: none; background-color: rgba(102,102,102,.5);width: 100%; height: 100%; position: fixed;left: 0;top: 0;z-index:45;}
	#header_login_status{display: none;}
	#header_login_status1{display: none;text-align: right;padding:0 15px;margin-top: 13px; padding-left:0px;}
	#header_login_status1.sjjz{display: block;color: #333;float: left !important;}
	#header_login_status1.sjjz a{color: #333; margin-left:15px; margin-right:15px;}
	.new_recommend{margin-top: 40px;}
	/*隐藏部分*/
	#floatDiv,.meethead,.ms_special_box,.med_attention .col-md-9.col-xs-12{display:none;}
	.sublist1.sublist2{display: none;}
	
	.sublist1.xyyz{width: 100%;}
	.xyyz ul{width: 45%;}
	.sublist1 ul{line-height: 25px;font-size: 14px;margin-right: 12px;padding: 0px 0px 4px 0;}
	.ggdc{display: none;}
	.nav_close{position: relative;bottom: 0px;right:0px;font-size: 42px;width: 32px;height: 25px;color: #888;line-height: 20px;float: right;}
	.sublist1.xyyz .pdl_30{padding-left: 0 !important;}
	.hy_listbody li{padding: 20px 10px 10px 10px;}
	.guang .focus{height: auto !important;}
	#my .alert_img img{display:none;}
	#my .alert_img .pho_btnlink{display: block !important;}

	#my .alert_img{width: 90%;left: 5%;margin-left:0;}
	#my .close{margin-right: 0;right: 2%;}

	.ewm_fud{display: none !important;}
	.zy_into span{width: 75%;}
	.zy_into span:first-child{width: 25%;}
	.usercont.biblebody.white #no-more-tables{    padding: 20px 0 0 0; }
	.bible span{display: inline-block;margin-bottom: 10px;}
	
	/*20161123*/
	#if_container{width: 100% !important;}
	.ineed span>a{width: 100%;}
	.tab_tit_top2{height: auto;}
	.comment_span1{padding-left: 10px;}
	.tb_sci tr td{padding: 10px 8px;}
	.comment{padding: 20px 10px;}
	.zy_into .bdl,.zy_into .sci_span2,.zy_into .sci_span4{width:18%;text-align: center;}
	.adv1201{display: none;}
	.st2_alertbox .alert{width: 90%;margin-left: 0;left: 5%;top:10%;height: 400px;overflow-y: auto;}
	.left_rightbody{padding:15px;}
	.channel{margin-left: 15px;}

}
@media(max-width:320px) {
	.searchbox form .iptstyle3, .searchbox .iptstyle3{ width:240px;}
	
}
@media(max-width:370px) {
	.col-md-5.col-xs-5.norightpad.img100,.col-md-7.col-xs-7.new_cont{width: 100%;padding-left: 0 !important;}
	.college .slideBox .bd li img{height: auto;}
	.video_play{margin-bottom: 10px;}
	#InviteWindow{ display:none !important;}
	
	
}
@media(max-width:1300px) {
	.erweima p{margin-left:30px;}
	.son_web{margin-left: 15px;}
	.erweima{display: none;}
}
@media(min-width:930px) {
	.nav_close{display: none;}
}

