
/* Copy this css into you're theme to style the SendPress sign up widget. */

/* container for the signup form */
.sendpress-signup-form{
	position:relative;
	}
	/* labels in the sign up form */
	.sendpress-signup-form label{
		display:block;
		word-wrap: none;
		padding:0 5px 0 0 ;
		color:#a0a0a0 !important;
	}
	/* input fields in sign up form */
	.sendpress-signup-form input[type=text]{
		width: 70% !important;
		margin-top: 10px !important;
		background:#616161 !important;
		color:#ffffff !important;
	}
	/* submit button */
	.sendpress-submit{
		margin-top: 15px;
		width: 50% !important;
		background:#41b6e8 !important;
		display: inline-block !important;
		color:#fff !important;
		
	}
	/* element where error messages are displayed */
	.sendpress-signup-form #error{
		/* color:#8B0000; */
		color:#ccc;
		margin:10px 0px;
		display:none;
	}
	/* element where the thank you message shows upon successful submit */
	.sendpress-signup-form #thanks,
	.sendpress-signup-form #exists{
		margin:10px 0px;
		display:none;
		color:#ccc;
	}
	/*Extra fields that only exist if you have SendPress Pro*/
	.signup-fields-bottom label{
		/*float:left;*/
		display:inline;
	}

	.ajaxloader{
		margin-top: 5px;
		position:absolute;
		text-align:center;
		margin-left:5px;
		display:none;
	}

