@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url(https://fonts.gstatic.com/s/lekton/v7/YyER7tmu7BJxyzR0twzSmw.ttf) format('truetype');
}
