.else{margin:10px}.atyaf{position:absolute;margin-bottom:0;right:50%;color:#fff;font-size:12px;font-weight:300;line-height:40px;-webkit-transform:translateX(50%);-moz-transform:translateX(50%);-ms-transform:translateX(50%);-o-transform:translateX(50%);transform:translateX(50%)}
@media (max-width: 480px){
	#header.fixed .menu_container .social{display: none}
	#header.fixed .menu_container {
	position: absolute;
    left: 15px;
    top: -46px;
	}
	#header.fixed .menu_toggle{
    position: absolute;
    right: 15px;
    top: -45px;
	}
}