	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-bouquet:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-cherries:before { content: "\f102"; }
.flaticon-cocktail:before { content: "\f103"; }
.flaticon-cream:before { content: "\f104"; }
.flaticon-cream-1:before { content: "\f105"; }
.flaticon-cupcake:before { content: "\f106"; }
.flaticon-dress:before { content: "\f107"; }
.flaticon-earrings:before { content: "\f108"; }
.flaticon-eye:before { content: "\f109"; }
.flaticon-female:before { content: "\f10a"; }
.flaticon-flower:before { content: "\f10b"; }
.flaticon-flower-1:before { content: "\f10c"; }
.flaticon-gift:before { content: "\f10d"; }
.flaticon-hairdresser:before { content: "\f10e"; }
.flaticon-hairdryer:before { content: "\f10f"; }
.flaticon-handbag:before { content: "\f110"; }
.flaticon-hanger:before { content: "\f111"; }
.flaticon-hat:before { content: "\f112"; }
.flaticon-heart:before { content: "\f113"; }
.flaticon-high-heel:before { content: "\f114"; }
.flaticon-lips:before { content: "\f115"; }
.flaticon-lipstick:before { content: "\f116"; }
.flaticon-march:before { content: "\f117"; }
.flaticon-mixer:before { content: "\f118"; }
.flaticon-nail-polish:before { content: "\f119"; }
.flaticon-nail-polish-1:before { content: "\f11a"; }
.flaticon-pearls:before { content: "\f11b"; }
.flaticon-perfume:before { content: "\f11c"; }
.flaticon-powder:before { content: "\f11d"; }
.flaticon-ring:before { content: "\f11e"; }
.flaticon-short-dress:before { content: "\f11f"; }
.flaticon-woman:before { content: "\f120"; }
.flaticon-woman-1:before { content: "\f121"; }
.flaticon-woman-2:before { content: "\f122"; }