/* -- START -- GENERAL */
.bsaHidden {
	opacity: 0;
}

/* FONTS */
.bsaProContainer,
.bsaProOrderingForm,
.bsaStatsWrapper {
	font-family: inherit;
}

.bsaLoader,
.bsaLoaderRedirect {
	display: inline-block;
	margin: 0 5px -3px;
	width: 16px;
	height: 16px;
	background: url('../../img/white-loader.gif') white center center no-repeat;
	background-size: 100%;
	padding: 2px;
	border-radius: 20px;
}

.bsaLoaderRedirect {
	display: block;
	margin: 20px auto;
}

/* Colors */

.bsaGreen { color: #4CAF50; }
.bsaBlue { color: #2196F3; }
.bsaYellow { color: #FBCD39; } /*FBC02D*/
.bsaViolet { color: #673AB7; }
.bsaRed { color: #F44336; }

.bsaGreenBg { background-color: #4CAF50; }
.bsaBlueBg { background-color: #2196F3; }
.bsaYellowBg { background-color: #FBC02D; }
.bsaVioletBg { background-color: #673AB7; }
.bsaRedBg { background-color: #F44336; }

.ui-state-disabled.bsaProUnavailableDate, .ui-state-disabled.bsaProUnavailableDate:hover, .ui-datepicker .ui-datepicker-calendar .ui-state-disabled.bsaProUnavailableDate:hover {
	background-color: #F44336 !important;
	color: white !important;
	opacity: .2;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {

}
/* -- END -- GENERAL */


/* -- START -- ITEMS */
.bsaProContainer h3 {
	font-size: 16px;
}

.bsaProContainer a,
.bsaProContainer span,
.bsaProContainer p {
	font-size: 14px;
}

.bsaProContainer a {
	display: block;
}

.bsaProContainer,
.bsaProContainer .bsaProItems {
	height: 100%;
	width: 100%;
	clear: both;
	display: table;
}

.bsaProContainer .bsaProItem {
	position: relative;
}

.bsaProContainer .bsaProHeader {
	padding: 10px 15px;
	margin: 0;
}

.bsaProContainer .bsaProHeader .bsaProHeader__title {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
}

.bsaProContainer .bsaProHeader .bsaProHeader__formUrl {
	float: left;
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: left;
}

.bsaProContainer .bsaProItem {
	opacity: 0;
}

.bsaProContainer .bsaProItem.animated {
	opacity: 1;
}

.bsaProContainer .bsaProItem {
	float: right;
	padding: 0;
	width: 100%;
}

.bsaProContainer .bsaProItemInner__img {
	background-position: center;
	background-size: cover;
}

.bsaProContainer .bsaGridGutter .bsaProItem { margin: .8% 1.6% .8% 0; } /* Normal Grid */
.bsaProContainer .bsaGridGutVer .bsaProItem { margin: .8% 0 .8% 0; } /* Only Vertical Gutter Grid */
.bsaProContainer .bsaGridGutHor .bsaProItem { margin: 0 1.6% 0 0; } /* Only Horizontal Gutter Grid */
.bsaProContainer .bsaGridNoGutter .bsaProItem { margin: 0; }  /* No Gutter Grid */

.bsaProContainer .bsaProItem:first-child,
.bsaProContainer .bsaProItem.bsaReset {
	margin-right: 0 !important;
	clear: right;
}
/* -- END -- ITEMS */


/* -- START -- ORDERING FORM */
.bsaProOrderingForm {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #444444;
	background-color: #FFFFFF;
	overflow: hidden;
}

.bsaProOrderingFormInner {
	padding: 20px;
	overflow: hidden;
}

.bsaProInputs {
	width: 100%;
	float: right;
}

.bsaProInputs > h3 {
	padding: 0 !important;
	margin: 0 0 15px !important;
	font-size: 18px !important;
}

.bsaProInputsLeft {
	margin-left: 0;
}

.bsaProInputsRight {
	margin-top: 25px;
	margin-right: 0;
}

.bsaProInput {
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
}

.bsaProInput label {
	float: right;
	width: 100%;
	margin: 10px 0 5px 0;
	font-size: 12px;
	font-weight: 700;
}

.bsaProInput:nth-of-type(1) label {
	margin: 0 0 5px;
}

.bsaProInput > input,
.bsaProInput input[type="file"],
.bsaProSelectSpace select {
	float: right;
	box-sizing: border-box;
	border-radius: 3px !important;
	border: 0 none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	font-size: 12px;
	line-height: 20px;
	padding: 10px;
	width: 100% !important;
	background-color: #f5f5f5 !important;
	color: 	#444444;
}

.bsaProSelectSpace > select {
	background-image: url('../../img/select-arrow.png');
	background-repeat: no-repeat;
	background-position: 2.5% 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.bsaProInputsGroup {
	clear: both;
	overflow: hidden;
}

.bsaGetBillingModels {
	float: right;
	width: 100%;
	margin: 0 0 20px;
	clear: both;
}

.bsaProInputsRight .bsaProInputsValues {
	margin-top: 20px;
}

.bsaProInputsRight .bsaInputInnerModel {
	opacity: .5;
}

.bsaProInputsRight .bsaInputInnerModel.bsaSelected {
	opacity: 1;
}

.bsaProInputsRight .bsaProInput {
	float: right;
	width: 30%;
}

.bsaProInputsRight .bsaProInput:nth-of-type(2) {
	margin: 0 5%;
}

.bsaProInputsRight .bsaInputInner {
	padding: 10px;
	margin: 0;
	text-align: center;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 3px;
}

.bsaProInputsRight .bsaInputInner input,
.bsaProInputsRight .bsaInputInner label {
	cursor: pointer;
}

.bsaProInputsRight .bsaInputInner label {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #444444;
}

.bsaProExpiration,
.bsaProPrice,
.bsaProDiscount {
	display: block;
}

.bsaProExpiration {
	font-weight: 400;
	font-size: 14px;
}

.bsaProPrice {
	font-size: 17px;
	color: #65cc84;
}

.bsaProDiscount {
	float: left;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	background-color: #df5050;
	color: white;
	padding: 1px 7px;
	margin-top: 5px;
	border-radius: 3px;
}

.bsaProInputsValues .bsaInputInner label {
	margin: 5px 0 0;
}

.bsaTemplatePreview {
	max-width: 370px;
	max-height: 600px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}

.bsaTemplatePreview .bsaProContainer .bsaProItemInner__img {
	background-position: center;
	background-size: 100%;
}

.bsaProSubmit,
.bsaProSubmit:hover,
.bsaProSubmit:active {
	float: left;
	color: #ffffff;
	background-color: #65cc84 !important;
	border-color: #3cbb62 !important;
	border: 0;
	border-left: 3px;
	background: none;
	padding: 10px 20px;
	box-shadow: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.bsaPayPalSection {

}

.bsaPayPalSectionBg {
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
	opacity: .8;
}

.bsaPayPalSectionCenter {
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.bsaPayPalSectionCenterFixed {
	position: fixed;
	z-index: 999;
}

.bsaPayPalSectionCenterResponsive {
	width: 60%;
	height: 60%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
}

.bsaProImgSubmit {
	display: block;
	margin: 0 auto;
	background: white;
}
/* -- END -- ORDERING FORM */


/* -- START -- ALERTS */
.bsaProAlert {
	float: right;
	width: 100%;
	padding: 10px 0;
	margin: 0 0 15px;
	border-radius: 3px;
	text-align: center;
	z-index: 100;
	position: relative;
}

.bsaProAlert strong,
.bsaProAlert p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
}

.bsaProAlert > p {
	margin: 0 !important;
}

.bsaProAlert,
.bsaProAlert > a,
.bsaProAlert > a:hover,
.bsaProAlert > a:focus {
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

.bsaProAlertSuccess {
	background-color: #65cc84;
}

.bsaProAlertFailed {
	background-color: #df5050;
}
/* -- END -- ALERTS */


/* -- START -- STATS */
.bsaStatsWrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100000;
	background-color: white;
}

.bsaStatsWrapper h2 {
	font-size: 22px;
	margin: 20px 0;
}

.bsaStatsWrapper h3 {
	font-size: 18px;
	margin: 15px 0;
}

.bsaStatsWrapperBg {
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.bsaStatsWrapper .tooltip {
	position: absolute;
	padding: 15px;
	margin: 0;
	color: white;
	background-color: black;
}

.bsaStatsButtons {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0 0 20px;
}

.bsaPrevWeek {
	display: inline-block;
	width: 50%;
	text-align: right;
}

.bsaNextWeek {
	display: none;
	float: left;
	text-align: left;
}

.bsaStatsWrapper table {
	table-layout: fixed;
	width: 100%;
	min-width: 700px;
	overflow-x: scroll;
}

.bsaStatsWrapper table td {
	font-weight: normal;
	border: 1px solid #ededed;
	padding: 10px 15px;
}

.bsaStatsWrapper .bsaOdd {
	background-color: #f9f9f9;
}

.bsaStatsWrapperInner {
	position: relative;
	max-width: 1200px;
	padding: 40px;
	margin: 0 auto;
	color: black;
}

.bsaSumStats {
	float: right;
	width: 30%;
	padding: 15px 0;
	text-align: center;
	margin-bottom: 25px;
	color: black;
	background-color: #eeeeee;
}

.bsaStatsWrapper .ct-chart .ct-series.ct-series-b .ct-bar,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-b .ct-line,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-b .ct-point,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut { stroke: #673AB7; }

.bsaStatsWrapper  .ct-chart .ct-series.ct-series-a .ct-bar,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-a .ct-line,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-a .ct-point,
.bsaStatsWrapper .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut { stroke: #FBCD39; }

.bsaStatsClicks {
	overflow-y: scroll;
}

.bsaStatsClose {
	position: absolute;
	cursor: pointer;
	top: 40px;
	left: 40px;
	width: 25px;
	height: 25px;
	background: url('../../img/close-black.png') white center center no-repeat;
}

.bsaCorrectIcon {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background: url('../../img/correct.png') white center center no-repeat;
}

.bsaInCorrectIcon {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background: url('../../img/incorrect.png') white center center no-repeat;
}
/* -- END -- STATS */


/* -- START -- POPUP */
.bsaPopupWrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100000;
	background-color: white;
	background-position: top center;
}

.bsaPopupWrapperBg {
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.bsaPopupWrapperInner {
	position: relative;
	max-width: 1200px;
	padding: 10% 10% 70px;
	margin: 0 auto;
	color: black;
	background-color: white;
}

.bsaPopupClose {
	position: absolute;
	cursor: pointer;
	top: 40px;
	left: 40px;
	width: 25px;
	height: 25px;
	background: url('../../img/close-black.png') white center center no-repeat;
}
/* -- END -- POPUP */


/* -- START -- FLOATING */
.bsaFloatingButton {
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
}

.bsaFloatingClose {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url('../../img/close-black.png') center center no-repeat;
}
/* -- END -- FLOATING */


/* -- START -- SCROLL BAR */
.bsaProScrollBarButton {
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
}

.bsaProScrollBarClose {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url('../../img/close-black.png') center center no-repeat;
}
/* -- END -- SCROLL BAR */


/* -- START -- CORNER */
.bsaProRibbon {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background-image: url('../../img/corner-peel.png');
	background-position: top center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.bsaProCornerContent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 200%;
	height: 75%;
	overflow: hidden;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);
	z-index: 9999;
}

.bsaProCornerInner {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding-right: 25px;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari */
	transform: rotate(-45deg);
	z-index: 9998;
}

/*@-webkit-keyframes bsaRibbonAnimate {*/
/*0%   {width:150px;height:150px;}*/
/*50%  {width:160px;height:160px;}*/
/*100% {width:150px;height:150px;}*/
/*}*/

/*@keyframes bsaRibbonAnimate {*/
/*0%   {width:150px;height:150px;}*/
/*50%  {width:160px;height:160px;}*/
/*100% {width:150px;height:150px;}*/
/*}*/

/*.bsaProCorner {*/
/*-webkit-animation: bsaRibbonAnimate 1.4s; *//* Chrome, Safari, Opera */
/*-webkit-animation-iteration-count: infinite;*/
/*animation: bsaRibbonAnimate 1.4s;*/
/*animation-iteration-count: infinite;*/
/*}*/
/* -- END -- CORNER */


/* -- START -- LINK */
.bsaProLink {
	display: inline;
	position: relative;
	cursor: pointer;
}
.bsaProLink .bsaProLinkHover {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	padding-top: 25px;
	/*-webkit-transition: all .4s ease-out; *//* Chrome, Safari, Opera */
	/*transition: all .4s ease-out;*/
}
.bsaProLink:hover .bsaProLinkHover {
	display: block;
	opacity: 1;
	/*-webkit-transition: all .4s ease-out; *//* Chrome, Safari, Opera */
	/*transition: all .4s ease-out;*/

	-webkit-animation: bsaLinkAnimate .4s ease-out;
	animation: bsaLinkAnimate .4s ease-out;
}
@-webkit-keyframes bsaLinkAnimate {
	0%   {opacity:0;}
	25%  {opacity:0;}
	90%  {opacity:.7;}
	100% {opacity:1;}
}

@keyframes bsaLinkAnimate {
	0%   {opacity:0;}
	25%  {opacity:0;}
	90%  {opacity:.7;}
	100% {opacity:1;}
}
/* -- END -- LINK */


/* -- START -- RESPONSIVE STYLES */
@media (min-width: 768px) {

	.bsaProInputs {
		width: 47.5%;
	}

	.bsaProInputsLeft {
		margin-left: 2.5%;
	}

	.bsaProInputsRight {
		margin-top: 0;
		margin-right: 2.5%;
	}
}

@media (min-width: 1px) {
	.bsaProContainer.bsa-pro-col-1 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }

	.bsaProContainer.bsa-pro-col-1 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
}

@media (min-width: 600px) {
	.bsaProContainer.bsa-pro-col-1 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutter .bsaProItem { width: 48.4%; margin: .8%; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutter .bsaProItem { width: 48.4%; margin: .8%; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem { width: 48.4%; margin: .8%; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutter .bsaProItem { width: 48.4%; margin: .8%; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutter .bsaProItem { width: 48.4%; margin: .8%; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0 .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0 .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0 .8% 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem { width: 48.4%; margin: 0 .8%; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutHor .bsaProItem { width: 48.4%; margin: 0 .8%; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutHor .bsaProItem { width: 48.4%; margin: 0 .8%; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/
}

@media (min-width: 900px) {
	.bsaProContainer.bsa-pro-col-1 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutter .bsaProItem { width: 49.2%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutter .bsaProItem { width: 32.2%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem { width: 49.2%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutter .bsaProItem { width: 23.8%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutter .bsaProItem { width: 32.2%; margin: .8% 1.6% .8% 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutVer .bsaProItem { width: 33.33333333%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutVer .bsaProItem { width: 25%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutVer .bsaProItem { width: 33.33333333%; margin: .8% 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutHor .bsaProItem { width: 49.2%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutHor .bsaProItem { width: 32.2%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem { width: 49.2%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutHor .bsaProItem { width: 23.8%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutHor .bsaProItem { width: 32.2%; margin: 0 1.6% 0 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridNoGutter .bsaProItem { width: 33.33333333%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridNoGutter .bsaProItem { width: 25%; margin: 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridNoGutter .bsaProItem { width: 33.33333333%; margin: 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/
}

@media (min-width: 1200px) {
	.bsaProContainer.bsa-pro-col-1 .bsaGridGutter .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutter .bsaProItem { width: 49.2%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutter .bsaProItem { width: 32.2%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem { width: 23.8%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutter .bsaProItem { width: 11.11111111%; margin: .8% 1.6% .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutter .bsaProItem { width: 6.866666666%; margin: .8% 1.6% .8% 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem:nth-child(2n+1) { margin-left: 1.6%; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutVer .bsaProItem { width: 100%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutVer .bsaProItem { width: 50%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutVer .bsaProItem { width: 33.33333333%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem { width: 25%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutVer .bsaProItem { width: 12.5%; margin: .8% 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutVer .bsaProItem { width: 8.33333333%; margin: .8% 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridGutHor .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridGutHor .bsaProItem { width: 49.2%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridGutHor .bsaProItem { width: 32.2%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem { width: 23.8%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridGutHor .bsaProItem { width: 11.11111111%; margin: 0 1.6% 0 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridGutHor .bsaProItem { width: 6.866666666%; margin: 0 1.6% 0 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem:nth-child(2n+1) { margin-left: 1.6%; }*/

	.bsaProContainer.bsa-pro-col-1 .bsaGridNoGutter .bsaProItem { width: 100%; margin: 0; }
	.bsaProContainer.bsa-pro-col-2 .bsaGridNoGutter .bsaProItem { width: 50%; margin: 0; }
	.bsaProContainer.bsa-pro-col-3 .bsaGridNoGutter .bsaProItem { width: 33.33333333%; margin: 0; }
	.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem { width: 25%; margin: 0; }
	.bsaProContainer.bsa-pro-col-8 .bsaGridNoGutter .bsaProItem { width: 12.5%; margin: 0; }
	.bsaProContainer.bsa-pro-col-12 .bsaGridNoGutter .bsaProItem { width: 8.33333333%; margin: 0; }
	/*.bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem:nth-child(2n+1) { margin-left: 0; }*/
}

/* Scroll Bar */
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-4 .bsaGridGutter .bsaProItem { width: 21.8%; margin: .8% 1.6% .8% 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-4 .bsaGridGutVer .bsaProItem { width: 25%; margin: .8% 0; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-4 .bsaGridGutHor .bsaProItem { width: 23.8%; margin: 0 0 0 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-4 .bsaGridNoGutter .bsaProItem { width: 25%; margin: 0; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-8 .bsaGridGutter .bsaProItem { width: 21.8%; margin: .8% 1.6% .8% 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-8 .bsaGridGutVer .bsaProItem { width: 25%; margin: .8% 0; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-8 .bsaGridGutHor .bsaProItem { width: 23.8%; margin: 0 0 0 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-8 .bsaGridNoGutter .bsaProItem { width: 25%; margin: 0; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-12 .bsaGridGutter .bsaProItem { width: 21.8%; margin: .8% 1.6% .8% 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-12 .bsaGridGutVer .bsaProItem { width: 25%; margin: .8% 0; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-12 .bsaGridGutHor .bsaProItem { width: 23.8%; margin: 0 0 0 1.6%; }*/
/*.bsaProScrollBar .bsaProContainer.bsa-pro-col-12 .bsaGridNoGutter .bsaProItem { width: 25%; margin: 0; }*/
.bsaProScrollBar .bsaReset { clear: none !important; } /* Scroll Bar */
/* -- END -- RESPONSIVE STYLE */


/* -- START -- SCROLL BAR */
/* Container DIV - automatically generated */
.simply-scroll-container {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
	position: relative;
	overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.simply-scroll-list li img {
	border: none;
	display: block;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
	width: 1920px;
	height: auto;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
	width: 1920px;
	height: auto;
}
/* -- END -- SCROLL BAR */


/* -- START -- MARKETING AGENCY */
.bsaSite {
	text-align: center;
	background: lightgrey no-repeat;
	background-size: cover;
	height: 125px;
	position: relative;
}

.bsaSiteInner {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 125px;
	overflow: hidden;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner h3 {
	margin: 10px 0 0 !important;
	padding: 10px 10px 15px !important;
}

.bsaSiteInner h3 > a,
.bsaSiteInner h3 > small,
.bsaSiteInner h3 > a:hover,
.bsaSiteInner h3 > small:hover {
	position: relative;
	color: white !important;
	bottom: 10px;
}

.bsaSiteInner h3 > a {
	position: relative;
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 5px;
	text-decoration: none !important;
}

.bsaSiteInner h3 > small {
	font-weight: normal;
	position: absolute;
	width: 90%;
	right: 0;
	top: 80px;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 5%;
	opacity: 1;
	text-overflow: ellipsis;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner:hover h3 > small {
	opacity: 0;
	right: 0;
	top: 140px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner .bsaSiteActions {
	font-weight: normal;
	position: absolute;
	width: 84%;
	right: 0;
	bottom: -40px;
	overflow: hidden;
	opacity: 0;
	margin: 0 8%;
	padding: 0;
	-webkit-transition: all .25s; /* For Safari 3.1 to 6.0 */
	transition: all .25s;
}

.bsaSiteInner .bsaSiteActions .bsaSiteAction {
	float: right;
	width: 47%;
	margin: 0;
	padding: 4px 0;
	color: white;
	border-radius: 40px;
	border: 1px solid white;
	text-align: center;
	-webkit-transition: all .25s; /* For Safari 3.1 to 6.0 */
	transition: all .25s;
}

.bsaSiteInner .bsaSiteActions .bsaSiteAction a {
	color: white;
	text-decoration: none;
	-webkit-transition: all .25s; /* For Safari 3.1 to 6.0 */
	transition: all .25s;
}

.bsaSiteInner .bsaSiteActions .bsaSiteAction:hover{
	color: black;
	background-color: white;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner .bsaSiteActions .bsaSiteAction:hover a {
	color: black;
}

.bsaSiteInner .bsaSiteActions .bsaSiteActionLeft {

}

.bsaSiteInner .bsaSiteActions .bsaSiteActionRight {
	float: left;
}

.bsaSiteInner:hover .bsaSiteActions {
	opacity: 1;
	right: 0;
	bottom: 15px;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner .bsaSiteInnerBg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: .5;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

.bsaSiteInner:hover .bsaSiteInnerBg {
	opacity: .9;
	background-color: black;
	-webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
	transition: all .5s;
}

/* -- END -- MARKETING AGENCY */


/* -- START -- AD NOTICE */
.bsaBlurWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
}

.bsaBlurInner {
	width: 100%;
	max-width: 500px;
	height: 150px;
	margin: 15% auto 0;
	background: url('../../img/detection.png') center left no-repeat;
	text-align: center;
}

.bsaBlurInnerContent {
	float: right;
	text-align: right;
	font-size: 14px;
	margin-top: 45px;
	margin-right: 15px;
	padding: 15px;
	max-width: 60%;
}

.bsaBlurInnerContent h3 {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.bsaBlurInnerContent p {
	margin: 10px 0 0;
	padding: 0;
	font-size: 14px;
	color: black;
}

.bsaBlurContent > * {
	filter: blur(5px) !important;
	-webkit-filter: blur(5px) !important;
	-moz-filter: blur(5px) !important;
	-o-filter: blur(5px) !important;
	-ms-filter: blur(5px) !important;
	opacity: .5;
}

.bsaBlurContent > .bsaBlurWrapper {
	filter: blur(0) !important;
	-webkit-filter: blur(0) !important;
	-moz-filter: blur(0) !important;
	-o-filter: blur(0) !important;
	-ms-filter: blur(0) !important;
	opacity: 1;
}
/* -- END -- AD NOTICE */