/*
Theme Name: aispanel
Theme URI: http://ilaiki.com/
Author: aissam elkallali
Author URI: http://www.3issam.com
Description: wordpress theme
Version: 1.0.0
Text Domain: ap
Tags:

*/

@import url(assets/css/font-awesome.min.css);
@import url(assets/css/pe-icon-food.css);
@import url(assets/fonts/icon/flaticon.css);
@import url(assets/css/bootstrap.min.css);
@import url(assets/css/pushy.min.css);
@import url(assets/css/ticker.css);
@import url(assets/css/edited.css);
@import url(assets/css/owl.carousel.min.css);
@import url(assets/css/owl.theme.default.min.css);
@import url(assets/css/hover-min.css);

/**
 * Droid Arabic Naskh
================================================================================ */
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/DroidNaskh-Regular.eot);
    src: url(assets/fonts/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'), url(assets/fonts/DroidNaskh-Regular.woff2) format('woff2'), url(assets/fonts/DroidNaskh-Regular.woff) format('woff'), url(assets/fonts/DroidNaskh-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/DroidNaskh-Bold.eot);
    src: url(assets/fonts/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'), url(assets/fonts/DroidNaskh-Bold.woff2) format('woff2'), url(assets/fonts/DroidNaskh-Bold.woff) format('woff'), url(assets/fonts/DroidNaskh-Bold.ttf) format('truetype')
}
/**
 * FrutigerLTArabic
================================================================================ */
@font-face {
    font-family: FrutigerLTArabic;
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/FrutigerLTArabic-bold.eot);
    src: url(assets/fonts/FrutigerLTArabic-bold.eot?#iefix) format("embedded-opentype"), url(assets/fonts/FrutigerLTArabic-bold.woff) format("woff"), url(assets/fonts/FrutigerLTArabic-bold.ttf) format("truetype")
}

@font-face {
    font-family: FrutigerLTArabic;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/FrutigerLTArabic-roman.eot);
    src: url(assets/fonts/FrutigerLTArabic-roman.eot?#iefix) format("embedded-opentype"), url(assets/fonts/FrutigerLTArabic-roman.woff) format("woff"), url(assets/fonts/FrutigerLTArabic-roman.ttf) format("truetype")
}
.h1, .h2, .h3, h1, h2, h3,.h4, .h5, .h6, h4, h5, h6{
    margin: 0;
    padding: 0;
}
h1 , h2{
    font-size: 18px;
}
ul , ol , li{
    margin:0;
    padding:0;
    list-style-type: none;  
}
a {
    color: #1b1b1b;
    text-decoration: none;
}
a:focus, a:hover {
    color: #000;
    text-decoration: none;
}
.thumbnail {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: none;
}
.thumbnail img{
    width: 100%;
}
.aphov{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #222222;
    background-origin: padding-box, padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px, 100% 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
}
.item:hover .aphov{
    background-size: 60px 60px, 100% 100%;
    opacity: 0.3;
    visibility: visible;
}
.kitch .fst:hover .aphov{
    background-size: 60px 60px, 100% 100%;
    opacity: 0.3;
    visibility: visible;
}
body,
html {
    direction: rtl;
}

body {
    font-family: FrutigerLTArabic, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.topbar  {
    height: 40px;
    background-color: #e83193 ;
    font-size: 11px;
    position: relative;z-index: 99;
}

.topbar  .item {
    display: block;
    float: right;
    position: relative;
    padding: 0 15px;
    font-weight: 300;
    line-height: 40px;
    height: 40px;
    color: #fff;
}
.topbar  .item a{
    color: #FFF;
}
.topbar  .item .box {
    z-index: 10;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 0;
    background-color: #e83193;
}

.topbar  .item .box:before {
    content: '';
    position: absolute;
    right: 60px;
    bottom: 100%;
    border: 8px solid transparent;
    border-bottom-color: #e83193;
}

#header .menu_container ul,
.topbar  .item .box ul {
    margin: 0;
    list-style-type: none;
}

.topbar  .item.currency .box {
    display: none;
    width: 240px;
}

.topbar  .item.currency .box ul li {
    padding: 6px 15px;
    line-height: normal;
}

.topbar  .item.currency .box ul li.head {
    font-weight: 700;
}

.topbar  .item.currency .box ul li:nth-child(even) {
    background-color: #065d97;
}

.topbar  .item.currency .box ul li .numb {
    float: left;
}

.topbar  a.item:hover {
    background-color: #e83193;
}


/*
* topbar social
*/
.topbar .social a {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    font-size: 2em;
    line-height: 36px;
    color: #fff;
}

.topbar .social a i {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
}
.topbar .social a i{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.topbar .social a:hover i {
    font-size: 36px;
    -webkit-transform: translate(10%,-20%) rotate(-15deg);
    -moz-transform: translate(10%,-20%) rotate(-15deg);
    -ms-transform: translate(10%,-20%) rotate(-15deg);
    -o-transform: translate(10%,-20%) rotate(-15deg);
    transform: translate(10%,-20%) rotate(-15deg);
}

.topbar .social a[class*=facebook]:hover {
    background-color: #344e86;
}
.topbar .social a[class*=twitter]:hover {
    background-color: #3ea1ec;
}

.topbar .social a[class*=google]:hover {
    background-color: #d83a2b;
}

.topbar .social a[class*=youtube]:hover {
    background-color: #b71d1c;
}

.topbar .social a[class*=instagram]:hover {
    background-color: #386589;
}


.header_fixed_height.height {
    height: 100px;
}

#header {
    height: auto;
    margin-bottom: 10px;
}
#header,
#header .logo img,
#header .menu_container ul.menu > li ul
{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#header .logo img {
    height: 64px;
}

#header .left {
    position: relative;
    margin-top: 0;
}

#header .menu_toggle {
    float: right;
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-align: center;
    font-size: 2em;
    line-height: 38px;
    color: #e83193;
    position: absolute;
    right: 15px;
    top: -50px;
}

#header .header_l:after,
#header .header_l:before,
#header .menu_container:after,
#header .menu_container:before {
    content: " ";
    display: table;
}

#header .header_l:after,
#header .menu_container:after {
    clear: both;
}

#header .menu_container {
    margin-bottom: 15px;
}
#header.fixed .menu_container{
    border-bottom: 0;   
    margin-top: 10px;
}
#header .menu_container ul.menu > li {
    position: relative;
}

#header .menu_container ul.menu > li:hover>a:before,
#header .menu_container ul.menu>li>a.current:before,
#header .menu_container ul.menu>li>a:hover:before {
    width: 100%;
    height: 3px;
}

#header .menu_container ul.menu > li ul li a,
#header .menu_container ul.menu>li>a {
    display: block;
    position: relative;
    font-size: 18px;
    color: #1d1d1d;
}


#header .menu_container ul.menu > li>a i {
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    display: block;
    border-radius: 50%;
    background: #e83193;
    width: 60px;
    height: 60px;
    color: #FFF;
    margin: 0 auto;
    border: 2px solid #ffffff;
}

#header .menu_container ul.menu > li ul {
    border-bottom: 6px solid #fafafa;
    background-color: #fff;
}

#header .menu_container ul.menu > li ul li a {
    padding: 6px 10px;
    font-size: 14px;
}

#header .menu_container ul.menu > li ul li a:hover {
    color: #fff;
    background-color: #e83193;
}


#header .menu_container .search {
    position: relative;
    width: 36px;
    height: 36px;
}
    #header.fixed .menu_container .search{
        margin-top: 0;
    }
#header .menu_container .search input[type=text] {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 10px;
    width: 36px;
    height: 36px;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    padding-left: 35px;
}

#header .menu_container .search input[type=text].not-empty,
#header .menu_container .search input[type=text]:focus {
    padding: 0 10px 0 58px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #e83193;
    cursor: text;
}

#header .menu_container .search input[type=text].not-empty~label,
#header .menu_container .search input[type=text]:focus~label {
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
}

#header .menu_container .search input[type=text].not-empty~button,
#header .menu_container .search input[type=text]:focus~button {
    visibility: visible;
    z-index: 3;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

#header .menu_container .search label{
    display: block;
    z-index: 4;
    position: absolute;
    top: -10px;
    left: 10px;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: #c1bebe;
    cursor: pointer;
    background: #EEE;
    width: 40px;
    height: 40px;
    border-radius: 0 0 10px 10px;
}
#header.fixed .menu_container .search label {
    display: block;
    z-index: 4;
    position: absolute;
    top: -6px;
    left: 12px;
    margin: 0;
    font-size: 1.5em;
    color: #e83193;
    cursor: pointer;
}

#header .menu_container .search button {
    visibility: hidden;
    z-index: 5;
    position: absolute;
    top: 4px;
    left: 15px;
    padding: 4px 10px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    background-color: rgba(0,0,0,.5);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
}

#header .menu_container .search button:hover {
    background-color: #076eb2;
}

#header .header_l {
    margin-bottom: 15px;
}

#header .header_l .lnk {
    border: 1px solid #F1F1F1;
    background-color: #fafafa;
}

#header .header_l .lnk .header {
    display: table-cell;
    position: relative;
    height: 38px;
    padding: 0 15px;
    vertical-align: middle;
}

#header .header_l .lnk .header:after,
#header .header_l .lnk .header:before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    border: 19px solid transparent;
}

#header .header_l .lnk .header:before {
    z-index: 1;
    left: -40px;
    border-right-color: #F1F1F1;
}

#header .header_l .lnk .header:after {
    z-index: 2;
    left: -38px;
    border-right-color: #fafafa;
}

#header .header_l .lnk .header span {
    z-index: 3;
    position: relative;
}

#header .header_l .lnk .content {
    display: table-cell;
    padding-right: 25px;
    overflow: hidden;
    vertical-align: middle;
}

#header .header_l .lnk .content span {
    margin: 0 5px;
    color: #ccc;
}

#header .header_l .lnk .content a {
    color: #4d4d4d;
}

#header .header_l .lnk .content a:hover{
    color: #e83193;
}

#header .datetime {
    color: #9c9b9b;
}

#header.fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

#header.fixed .logo img {
    height: 34px;
}

#header.fixed .datetime,
#header.fixed .header_l {
    display: none;
}


#header.fixed .menu_container ul.menu > li>a i{
    display: none;
}
#header .menu_container ul.menu > li>a:hover i,
#header .menu_container ul.menu > li>a:focus i,
#header .menu_container ul.menu > li>a:active i
{
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media(max-width:480px) {
    .topbar  .item:nth-child(3) ,
    .topbar  .item:nth-child(4) ,
    .topbar  .item:nth-child(5) {
        display: none;
    }

    #header .logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    #header .logo img,
    #header .menu_container .search {
        display: inline-block;
    }

    #header .left {
        float: none!important;
        width: 100%!important;
        top: 10px;
    }

    #header .menu_container {
        text-align: center;
    }
    #header .menu_container .search label {
    display: block;
    z-index: 4;
    position: absolute;
    top: -6px;
    left: 12px;
    margin: 0;
    font-size: 2em;
    color: #e83193;
    cursor: pointer;
    background: none;
    }
  

  
}

@media(min-width:479px) and (max-width:767px) {
    .topbar  .item:nth-child(3) ,
    .topbar  .item:nth-child(4) ,
    .topbar  .item:nth-child(5) {
        display: none;
    }
}

@media(max-width:767px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
        #header .menu_container .search label {
    display: block;
    z-index: 4;
    position: absolute;
    top: -6px;
    left: 12px;
    margin: 0;
    font-size: 2em;
    color: #e83193;
    cursor: pointer;
    background: none;
    }
}

@media(max-width:991px) {
    #header h1 {
    float: right;
    width: 120px;
    margin-top: 10px;
    margin-left: 15px;
    }
    
    #header .left {
        float: right;
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: -o-calc(100% - 150px);
        width: calc(100% - 150px);
    }

    #header .menu_container {
        border-bottom: 0;
    }

    #header .header_l,
    #header .menu_container ul.menu {
        display: none;
    }

    #header .menu_container .search{
        float: left;
    }


    #header .menu_container .search input[type=text].not-empty,
    #header .menu_container .search input[type=text]:focus {
        width: 300px;
    }
}


@media(min-width:992px) and (max-width:1199px) {
    #header h1 {
    float: right;
    width: 120px;
    margin-top: 10px;
    margin-left: 15px;
    }

    #header .left {
        float: right;
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: -o-calc(100% - 150px);
        width: calc(100% - 150px);
    }

    #header .menu_toggle {
        display: none;
    }

    #header .menu_container ul.menu,
    #header .menu_container ul.menu > li {
        float: right;
    }

    #header .menu_container ul.menu > li:hover ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: skew(0deg,0deg);
        -moz-transform: skew(0deg,0deg);
        -ms-transform: skew(0deg,0deg);
        -o-transform: skew(0deg,0deg);
        transform: skew(0deg,0deg);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
    }

    #header .menu_container ul.menu > li>a {
        padding: 8px 6px;
        font-size: 14px;
    }

    #header .menu_container ul.menu > li ul {
        visibility: hidden;
        z-index: 10;
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        padding: 10px 0;
        opacity: 0;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.16);
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,.16);
        box-shadow: 0 2px 3px rgba(0,0,0,.16);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
    }

    #header .menu_container .search{
        float: left;
        margin-top: 10px;
    }



    #header .menu_container .search input[type=text].not-empty,
    #header .menu_container .search input[type=text]:focus {
        width: 300px;
    }

    #header .header_l .lnk {
        float: right;
        height: 40px;
        overflow: hidden;
    }

    #header .header_l .lnk .content a {
        font-size: 11px;
    }

    #header .header_l .lnk._1 {
        width: 60%;
        margin-left: 3%;
    }

    #header .header_l .lnk._2 {
        width: 37%;
    }

    

}

@media(min-width:1200px) {
    #header h1 {
    float: right;
    width: 120px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    }
    #header.fixed h1 {
        width: 67px;
    }
    #header .left {
        float: right;
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: -o-calc(100% - 150px);
        width: calc(100% - 150px);
    }

    #header .menu_toggle {
        display: none;
    }

    #header .menu_container ul.menu,
    #header .menu_container ul.menu > li {
        float: right;
    }

    #header .menu_container ul.menu > li:hover ul {
        visibility: visible;
        opacity: 1;
        -webkit-transform: skew(0deg,0deg);
        -moz-transform: skew(0deg,0deg);
        -ms-transform: skew(0deg,0deg);
        -o-transform: skew(0deg,0deg);
        transform: skew(0deg,0deg);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
    }

    #header .menu_container ul.menu > li>a {
    padding: 10px 0 5px;
    margin: 0 10px;
    text-align: center;
    font-size: 15px;
    text-align: center;
    }
    #header .menu_container ul.menu > li>a[class*=home] i{
        background: #f4a0cd;
        color: #FFF;
        box-shadow: 0px 0 0 2px #f4a0cd;
    }
    #header .menu_container ul.menu > li>a[class*=dress] i{
        background:#a4c5dc;
        color: #FFF;
        box-shadow: 0px 0 0 2px #a4c5dc;
    }
    #header .menu_container ul.menu > li>a[class*=eye] i{
        background: #e9d076 ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #e9d076;
    }
    #header .menu_container ul.menu > li>a[class*=heartbeat] i{
        background: #ee7db9;
        color: #FFF;
        box-shadow: 0px 0 0 2px #ee7db9;
    }
    #header .menu_container ul.menu > li>a[class*=cupcake] i{
        background: #ffe45e ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #ffe45e;
    }
    #header .menu_container ul.menu > li>a[class*=mars] i{
        background: #b2eaa0 ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #b2eaa0;
    }
    #header .menu_container ul.menu > li>a[class*=flower] i{
        background: #cdb8e8 ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #cdb8e8;
    }
    #header .menu_container ul.menu > li>a[class*=play] i{
        background: #ea8686 ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #ea8686;
    }
    #header .menu_container ul.menu > li>a[class*=star] i{
        background: #39afaf  ;
        color: #FFF;
        box-shadow: 0px 0 0 2px #39afaf;
    }
    #header.fixed .menu_container ul.menu > li>a{
        height: 35px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
    }
    #header.fixed .menu_container ul.menu > li>a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #e83193;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#header.fixed .menu_container ul.menu > li>a:hover:before,#header.fixed .menu_container ul.menu > li>a:focus:before,#header.fixed .menu_container ul.menu > li>a:active:before {
  left: 0;
}

    #header .menu_container ul.menu > li ul {
        visibility: hidden;
        z-index: 10;
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        padding: 10px 0;
        opacity: 0;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.16);
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,.16);
        box-shadow: 0 2px 3px rgba(0,0,0,.16);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
    }

    #header .menu_container .search{
        float: left;
        margin-top: 10px;
    }


    #header .menu_container .search input[type=text].not-empty,
    #header .menu_container .search input[type=text]:focus {
        width: 300px;
    }

    #header .header_l .lnk {
        float: right;
    }

    #header .header_l .lnk._1 {
        width: 60%;
        margin-left: 3%;
    }

    #header .header_l .lnk._2 {
        width: 37%;
    }
}


/*
* ap slider
*/
.ap-slider{
    position: relative;
    margin-bottom: 25px;
}
.ap-slider .owl-nav {
    position: absolute;
    top: 10px;
    left: 10px;
}
.ap-slider .owl-nav>* {
    background: #FFF;
    width: 40px;
    height: 40px;
    margin-bottom: 3px;
    border-radius: 50%;
    text-align: center;
}
.ap-slider .owl-dots {
    position: absolute;
    top: 100px;
    left: 15px;
}
.ap-slider .owl-dots .owl-dot {
    display: block;
    zoom: 1
}
.ap-slider .owl-dots .owl-dot span {
    background: #FFF;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    margin: 5px;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}
.ap-slider .owl-dots .owl-dot.active span,
.ap-slider .owl-dots .owl-dot:hover span {
    border-color: #e83193;
}

.ap-slider .det{
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
}
.ap-slider .det a{
    color: #FFF;
}
.ap-slider .det h2{
    font-size: 2em;
    margin-bottom: 15px;
}
.ap-slider .det a.rmore{
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.ap-slider .thumbnail{
    overflow: hidden;
}
.ap-slider .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.ap-slider .item:hover .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
.owl-carousel .owl-dot:hover, .owl-carousel .owl-nav .owl-next:hover, .owl-carousel .owl-nav .owl-prev:hover{
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.rmore:hover{
    border-color: #e83193!important;
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* 
unsli
*/
.unsli .item{
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.unsli .item .det{
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
    width: 100%;
}
.unsli .item .det a{
    color: #FFF;
}
.unsli .item .det a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.unsli .thumbnail{
    overflow: hidden;
}
.unsli .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.unsli .item:hover .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
/*
kitch
*/
.kitch{
    background: #ffd400;
    background: -webkit-linear-gradient(13deg,#f7f7f7 10%, #ffd400 80%,#FFF 10%);
    background: -o-linear-gradient(13deg,#f7f7f7 10%, #ffd400 80%,#FFF 10%);
    background: -moz-linear-gradient(13deg,#f7f7f7 10%, #ffd400 80%,#FFF 10%);
    background: linear-gradient(13deg,#f7f7f7 10%, #ffd400 80%,#FFF 10%);
    position: relative;
}
.kitch .t{
    margin-bottom: 25px;
}
.kitch .t h4 {
    font-size: 1.5em;
    font-weight: 800;
}
.kitch .fst {
    position: relative;
    margin-bottom: 25px;
}
.kitch .fst .det{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 70%, rgba(0, 0, 0, 0.58) );
    background: -o-linear-gradient(90deg , rgba(0,0,0,0) 70%), rgba(0, 0, 0, 0.58);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 70%), rgba(0, 0, 0, 0.58);
    background: linear-gradient(90deg ,rgba(0,0,0,0) 70%, rgba(0, 0, 0, 0.58));
    z-index: 9;
}
.kitch .fst .cat {
    background: rgba(0,0,0,.25);
    color: #FFF;
    padding: 5px 15px;
    display: -webkit-inline-box;
}
.kitch .fst .met {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}
.kitch .fst .met i{
    background: rgba(255,255,255,.15);
    padding: 5px;
    width: 30px;
    height: 30px;
    line-height: 21px;
    text-align: center;
    border-radius: 50%;
    text-shadow: none;
}
.kitch a{
    color: #FFF;
}
.kitch .fst h2 {
    color: #FFF;
    font-size: 24px;
    margin: 15px 0;
    text-shadow: 1px 1px 1px #000;
}
.ap-kitch{
    margin-bottom: 25px;
}
.ap-kitch .item{
    background: #FFF;
    padding: 0;
}
.ap-kitch .item .thumbnail{
    position: relative;
}
.ap-kitch .item .thumbnail .det{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
}
.ap-kitch .item .met{
    font-size: 12px;
    padding: 15px;
}

.ap-kitch .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    margin-right: -17px;
    background: #95cc50;
    padding: 10px 10px 5px;
}
.ap-kitch .owl-next {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;
    margin-left: -17px;
    background: #95cc50;
    padding: 10px 10px 5px;
}
.kitch .kitch_nav .item{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid rgb(182, 163, 116);
    border-radius: 20px 0 20px 20px;
    height: 75px;
    width: 130px;
    text-align: center;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.kitch .kitch_nav .item a {
    color: #8a6d3b;
    text-shadow: 0px 0px 1px #ccc;
}
.kitch .kitch_nav .item i {
    font-size: 30px;
    margin-bottom: 10px;
}
.kitch .kitch_nav .item h4 {
    font-size: 15px;
    font-weight: 400;
}
.kitch a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}

/*
* Famely
*/
.famel{
    background: #f7f7f7;
    padding: 25px 0;
    margin-bottom: 40px;
}
.famel .fst .item{
    position: relative;
    margin-bottom: 15px;
}
.famel .fst .item .det{
    position: absolute;
    bottom: 0;
    padding: 25px;
    width: 100%;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
}
.famel .fst .item a{
    color: #FFF;
}
.famel .fst .item h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.famel .fst .item a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.famel .snd .t{
    text-align: center;
    margin-bottom: 15px;
}
.famel .snd .t h4{
    font-size: 2em;
}
.famel .snd .t hr {
    border: 2px solid #d0a9be;
    width: 40px;
}
.famel .snd .det{
    padding: 10px;
    text-align: center;
    z-index: 9;
}
.famel .snd .det h2{
    font-size: 14px;
    margin-bottom: 10px;
}
.famel .snd .det a.rmore {
    color: #e83193;
    border: 1px solid #e83193;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.famel .snd .item:hover a.rmore{
    background: #e83193;
    color: #FFF;
}
.famel .snd .item{
    background: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    text-align: center;
}


/*
* Helth
*/
.helth{
    margin-bottom: 25px;
}
.helth .t {
    text-align: center;
}
.helth .t h4{
    font-size: 2em;

}
.helth .t hr {
    border: 2px solid #dedede;
    width: 40px;
} 
.helth .fst {
    margin-bottom: 25px;
}
.helth .fst .item{
    position: relative;
}
.helth .fst .item .det{
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
    width: 100%;
}
.helth .fst .item .det a{
    color: #FFF;
}
.helth .fst .item .det h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.helth .fst .item a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.helth .snd .item{
    margin-bottom: 25px;
    border:1px solid #EEE;
    width: 100%;
}
.helth .snd .thumbnail{
    position: relative;
    padding:0; 
}
.helth .snd .thumbnail:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background: #FFF;
    background: -webkit-linear-gradient(90deg, #fff,rgba(255, 255, 255, 0));
    background: -o-linear-gradient(90deg, #fff,rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(90deg, #fff,rgba(255, 255, 255, 0));
    background: linear-gradient(90deg, #fff,rgba(255, 255, 255, 0));
}
.helth .snd .det{
    padding: 15px;
    z-index: 9;
}
.helth .snd .det h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.helth .snd .shar a{
    font-size: 24px;
    color: #ddd;
    margin-left: 10px;
}


/*
* Stars
*/
.stars .t{
    text-align: center;
}
.stars h4{
    display: inline;
    background: rgba(243, 243, 243, 0.78);
    padding: 2px 25px;
    font-size: 2em;
}
.stars hr{
    border: 1px solid #000;
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 15px;
}
.stars .fst{
    margin-bottom: 30px;
}
.stars .fst .item {
    position: relative;
    margin-bottom: 15px;
}
.stars .fst .item .det {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 30px;

    background: #000;
    background: -webkit-linear-gradient(-90deg,#000 , rgba(0,0,0,0) 40%);
    background: -o-linear-gradient(-90deg,#000 , rgba(0,0,0,0) 40%);
    background: -moz-linear-gradient(-90deg,#000 , rgba(0,0,0,0) 40%);
    background: linear-gradient(-90deg,#000 , rgba(0,0,0,0) 40%);
    z-index: 9;

}
.stars .fst .item .det h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.stars .fst .item a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.stars .fst .item .det a{
    color: #FFF;
}

.stars .snd .item{
    margin-bottom: 25px;
    border-color: #EEE;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    padding: 5px;
}

.stars .thumbnail{
    overflow: hidden;
}
.stars .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.stars .item:hover .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}





/*
* beauty
*/
.beauty{
    padding: 15px 0;
    background: #7d197c;
    background: -webkit-linear-gradient(13deg,#3f063e , #7d197c);
    background: -o-linear-gradient(13deg,#3f063e , #7d197c);
    background: -moz-linear-gradient(13deg,#3f063e , #7d197c );
    background: linear-gradient(13deg,#3f063e , #7d197c);
    margin-bottom: 50px;
}
.beauty .t{
    text-align: center;
    color: #FFF;
}
.beauty h4{
    font-size: 2em;
}
.beauty hr{
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 40px;
}
.beauty .fst{
    margin-bottom: 25px;
}
.beauty .fst .item .det {
    position: absolute;
    bottom: 0;
    padding: 30px;
    width: 100%;
    background: #000;
    text-align: center;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
    z-index: 9;
}
.beauty .fst .item .det a{
    color: #FFF;
}
.beauty .fst .item .det h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.beauty .fst .item .det a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}


.beauty .owl-dots {
    text-align: center;
    margin-top: 15px;
}
.beauty .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}
.beauty .owl-dots .owl-dot span {
    background: #390338;
    border: 2px solid #5f105e;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}
.beauty .owl-dots .owl-dot.active span,
.beauty .owl-dots .owl-dot:hover span {
    border-color: #FFF;
    background: #FFF;
}
.beauty .thumbnail {
    background: #000;
    overflow: hidden;
}
.beauty .item .thumbnail img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: block;
    max-width: 100%;
    height: auto;
}
.beauty .item:hover .thumbnail img {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -o-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
}
.beauty .snd .item{
    background: #FFF;
    text-align: center;
    margin-bottom: 15px;
}
.beauty .snd .item .det{
    text-align: center;
    padding: 15px;
    z-index: 9;
}
.beauty .snd .item .det h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.beauty .snd .det a.rmore {
    color: #e83193;
    border: 1px solid #e83193;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.beauty .snd .det a.rmore:hover{
    color: #FFF;
}
.beauty .snd .shar{
    position: absolute;
    top: 50px;
    right: 50%;
    margin-right: -35px;
    font-size: 24px;
    opacity: 0;
}
.beauty .snd .item:hover .shar{
    opacity: 9;
}
.beauty .snd .shar a{
    color: #FFF;
}


/*
* dec
*/
.dec{
    padding: 25px 0;
    margin-bottom: 50px;
}
.dec .t{
    text-align: center;
}
.dec h4{
    font-size: 2em;
}
.dec hr{
    border: 2px solid #2dacc3;
    width: 40px;
}
.dec .fst .item{
    position: relative;
    margin-bottom: 15px;
}
.dec .fst .item .det {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #2dacc3;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2dacc3),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#2dacc3,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#2dacc3 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#2dacc3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#2dacc3', GradientType=0);
    z-index: 9;
}
.dec .fst .item .det h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: 1px 0px 1px rgba(0,0,0,.5);
}
.dec .fst .item .det a {
    color: #FFF;
}
.dec .fst .item a.rmore {
    border: 1px solid #FFF;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
}
.dec .thumbnail{
    overflow: hidden;
}
.dec .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.dec .item:hover .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
.dec .snd .item{
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}

.dec .snd .item .det{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
    line-height: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.dec .snd .item .det a{
    color: #FFF;
}
.dec .snd .item .det h2{
    font-size: 24px;
    text-shadow: 1px 0px 1px rgba(0,0,0,.5);
}
.dec .bo:last-child{
    background: #2dacc3;
}
.dec .bo{
    background: #d6b7a5;
}
.dec .bo:hover,.dec .to:hover{
    background: #e83193;
}



/*
* mdya
*/
.mdya{
    background: #EEE;
    border-bottom: 1px solid #15191d;
    padding: 15px 0 50px;
}
.mdya .t{
    text-align: center;
}
.mdya .t h4{
    font-size: 2em;
    color: #555;
}
.mdya hr{
    border: 2px solid #2dacc3;
    width: 40px;
}
.mdya .fst .item{
    position: relative;
    margin-bottom: 15px;
}
.mdya .fst .item .det {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000', GradientType=0);
    z-index: 9;
    width: 100%;
}
.mdya .fst .item .det a{
    color: #FFF;
}
.mdya .fst .item .det h2{
    font-size: 24px;
    padding-right: 55px;
}
.mdya .fst .item .play {
    color: #FFF;
    background: url(./img/play.svg)no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
    float: right;
}
.mdya .fst .item .galr {
    color: #FFF;
    background: url(./img/gallery.svg)no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
    float: right;
}
.mdya .snd .item {
    background: #FFF;
    text-align: center;
    margin-bottom: 15px;
    min-height: 220px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}
.mdya .snd .item .det{
    padding: 15px;
    z-index: 9;
}
.mdya .snd .item h2{
    font-size: 16px;
    text-align: center;
}
.mdya .snd .thumbnail{
    position: relative;
}
.mdya .snd .item .play {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    background: url(./img/play.svg)no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
}
.mdya .snd .item .galr {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    background: url(./img/gallery.svg)no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
}

.mdya .thumbnail {
    background: #000;
    overflow: hidden;
}
.mdya .item .thumbnail img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    display: block;
    height: auto;
    opacity: 1
}
.mdya .item:hover .thumbnail img {
    opacity: 0.6;
}
/*
* footer
*/
footer {
    background: #0f1215;
    color: #FFF;
    position: relative;
}

footer .in-footer {
    padding: 10px;
}

footer .footer-logo {
    width: 100px;
    height: 55px;
    background: url("./img/logo.png") no-repeat center;
    background-size: 100px 55px;
    margin: 0 auto 21px;
    display: block;
    filter: alpha(opacity=9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity: 0.3;
    zoom: 1;
}
footer hr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 400px;
    width: 80%;
    border-top: 1px solid rgba(150, 150, 150, 0.1);
}
footer .info {
    width: 90%;
    max-width: 600px;
    margin: 42px auto 36px;
    text-align: center;
    clear: both;
    color: rgba(255, 255, 255, 0.24);
}
footer .inf {
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

footer .copy {
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 15px
}

footer .copyright {
    float: left;
    margin: 0;
    color: rgba(255, 255, 255, 0.26);
    font-size: 13px
}

footer .inform-logo {
    background: url(img/asm.png) center no-repeat;
    width: 45px;
    height: 25px;
    float: left
}

.f-menu,
.f-menu li {
    float: right
}

.f-menu li {
    border-left: 1px solid rgba(0,0,0,.2);
}

.f-menu li a {
    padding: 5px 10px;
    font-size: 13px;
    color: #FFF;
}
/* social links */
footer .social-links {
    margin: 40px auto 30px auto;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

footer .social-links li a {
    color: rgba(255, 255, 255, 0.1);
}

footer .social-links li a:hover {
    color: white;
}

footer .social-links li:last-child {
    margin-left: 0;
}


footer .mail {
    max-width: 600px;
    margin: 42px auto 36px;
    text-align: center;
    clear: both;
}
footer .mail button.button.button-primary {
    background: #e83193;
    border: 0;
    padding: 10px 15px;
    margin: 0;
    border-radius: 3px;
}
footer .mail input.input {
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    background:#FFF url(./img/mail.png)no-repeat 15px;
    color: #000;
    padding-left: 40px;
}
/* go to top button 
------------------------------------------------------------------ */
#go-top {
    position: absolute;
    top: -21px;
    left: 50%;
    z-index: 600;
}

#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 54px;
    width: 54px;
    margin-left: -27px;
    background: #e83193;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    border-radius: 50%;

}

#go-top a:hover {
    background: #FFF;
    color: #000000;
}

#go-top a i {
    margin-left: 1px;
    position: relative;
    right: 0;
}

/*
Comments
*/
.comments {
    margin-bottom: 25px;
    padding: 0;
}
.comments .respond{
    padding: 5px;
}
.comments .t {
    padding: 15px;
    text-align: center;
    position: relative;
}
.comments .t {
    padding: 15px 0;
    text-align: center;
}
.comments .t:after {
    z-index: 4;
    content: '.';
    color: transparent;
    width: 100%;
    height: 1px;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 10px;
    border-top: 2px dotted #f1f1f1;
}
.comments .t .label {
    padding: 0 12px;
    margin: 0;
    position: relative;
    z-index: 5;
    color: #e83193;
    border-radius: 0;
    font-weight: normal;
    font-size: 26px;
    line-height: 100%;
    background: #fff;
}
.comments .form-control,
.comments .input input {
    color: #607D8B;
    margin-bottom: 10px;
}

.comments .input {
    margin-bottom: 10px
}

.comments .input p {
    padding: 10px 0
}

.comments .input input {
    padding: 5px 10px;
    outline: 0
}
.comments .input label {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-weight: 700;
}
.comments .input .txt {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: #f9f9f9;
    border-color: #D4D4D4;
}
.comments .alert-warning{
    margin: 0;
}
.comments .no-com{
    padding: 10px;
}
.comments .btn-submit {
    color: #FFF;
    background-color: #e83193;
    border-color: #e83193;
    vertical-align: top;
    height: 100px;
    width: 100px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px 0 0 6px;
    border: 0;
    margin: 0;
    z-index: 99
}
.comments .input-group-addon, .input-group-btn{
    vertical-align: top;
}
.comments h3.rep{
    margin: 0 0 25px 0;
    float: right;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.comments h3.rep .splitter {
    background: #efeeee;
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: 1;
    right: 0;
    top: 19px;
}
.comments h3.rep span {
    background: #fff url(./img/comment-icon.png) 110px bottom no-repeat;
    padding: 0 36px 0 10px;
    font-size: 18px;
    color: #4c5155;
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 24px;
}
.commentlist{
    margin-bottom: 20px;
    padding: 10px;
}
.commentlist .comment-author.vcard img {
    float: right;
    border-radius: 3px;
    margin-left: 15px
}

.commentlist .thread-even {
    background: #F9F9F9;
    padding: 15px;
    border: 1px solid #EFEEEE;
    margin-bottom: 10px;
}

.commentlist .thread-odd {
    padding: 15px;
    border: 1px solid #EFEEEE;
    margin-bottom: 10px;
}

.commentlist ul.children {
    margin-right: 10%
}

.commentlist cite.fn {
    float: right;
    margin-left: 10px;
    color: #F61911;
    font-size: 15px;
    font-weight: 700
}
.commentlist cite.fn a{
    color: #F61911;
}

.commentlist li {
    list-style-type: none!important
}

.comments .respond .input-group {
    margin-bottom: 5px
}

.comments .respond .input-group-addon {
    width: 36px
}

.comments .respond textarea.form-control {
    padding: 10px;
    margin-bottom: 5px;
    height: 100px
}

.comments .respond .not {
    color: #818891;
    font-style: italic;
    padding: 0
}

.comments .fb-comments {
    padding: 0
}

.comments .fb_iframe_widget_fluid span,
iframe.fb_ltr {
    width: 100%!important
}

.comments ul.nav.nav-tabs{
    margin: 0!important
}

.comments .panel-default {
    padding: 0;
    background: #FFF
}
.comments .reply {
    background: #EEE;
    display: table;
    padding: 5px 10px;
    font-size: 13px;
    margin: 10px 0;
}
.comments .replay {
    background: #FFF;
    padding-bottom: 10px
}

.comments .replay .panel-heading {
    background: #FFF;
    color: #171B22;
    margin-bottom: 15px;
    border-bottom: 3px solid #171B22
}

.comments .replay h3.title {
    color: #171B22
}

.comments .panel-body {
    padding: 0
}


/*
* For Mobile
*/
@media (max-width: 767px){
    #header .logo img{
        height: 48px;
    }
    #header .menu_container {
        position: absolute;
        left: 15px;
        top: -46px;
    }
    .ap-slider,.kitch .fst,.famel .snd .item{
        margin-bottom: 10px;
    }
    .ap-slider .det h2{
        font-size: 18px;
        margin: 0;
        padding-left: 20px;
    }
    .ap-slider .det a.rmore{
        display: none;
    }

    .unsli .item .det a.rmore{
        display: none;
    }
    .unsli .item .det{
        padding:5px; 
    }
    .unsli .item .det h2{
        font-size: 16px;
        text-align: center;
    }
    .kitch .t{
        text-align: center;
    }
    .kitch .fst h2{
        font-size: 18px;
    }
    .kitch .fst .det{
        padding:10px; 
    }
    .kitch .fst .cat{
        display: none;
    }
    .helth .fst .item .det{
        padding: 5px;
    }
    .stars .fst .item .det{
        padding:10px; 
    }
    .stars .fst .item .det h2{
        font-size: 18px;
    }
    .beauty .fst .item .det{
        padding: 10px;
    }
    .beauty .fst .item .det h2{
        font-size: 18px;
    }
    .beauty .fst .item .det a.rmore{
        margin: 0;
    }
    .beauty .snd .item .det{
        padding:5px; 
    }
    .mdya .fst .item .det{
        padding: 10px;
    }
    .mdya .fst .item .det h2{
        font-size: 18px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
        padding-left: 5px;
        padding-right: 5px;
    }
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .single_p .social{
        position: relative;
        top: 0;
    }
    .single_k .t h2.ktitle{
        font-size: 1.5em!important;
        padding: 0!important;
    }
}


/*
* kitch_nav
*/
.kitch_nav {
    text-align: center;
    margin-bottom: 15px;
}
.kitch_nav .item{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 20px 0 20px 20px;
    height: 80px;
    width: 130px;
    text-align: center;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
}
.kitch_nav .item:after{
    z-index: 4;
    content: '.';
    color: transparent;
    width: 1px;
    height: 14px;
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    border-right: 2px dotted #f1f1f1;
}
.kitch_nav .item:hover{
    background: #e83193;
    color: #ffffff;
    border-color: #e83193;
}
.kitch_nav .item a{
    color: #555;
}
.kitch_nav .item:hover a{
    color: #FFF;
}
.kitch_nav .item i{
    font-size: 30px;
    margin-bottom: 10px;
}
.kitch_nav .item h4{
    font-size: 15px;
    font-weight: 400;
}
/*
* Single Post
*/
.single_p{
    margin-bottom: 50px;
}
.single_p .met{
    padding: 5px 0;
    border-bottom: 2px dotted #f1f1f1;
    margin-bottom: 15px;
    position: relative;
}
.single_p .met .thumb,.single_p .met .auth{
    display: inline-block;
    vertical-align: middle;
}
.single_p .met .thumb img {
    border-radius: 50%;
    border: 2px dotted #FFF;
    background: #e83193;
    padding: 1px;
}
.single_p .met .auth{
    font-weight: 800;
}
.single_p .met .time {
    color: rgba(0,0,0,.5);
    font-size: 13px;
    font-weight: 400;
}
.single_p .met .auth>* {
    display: block;
}
.single_p .text{
    font-size: 18px;
}
.single_p .text p{
    text-align: justify;
    line-height: 200%;
}

/*share*/
.single_p .social{
    position: absolute;
    left: 0;
    top: 10px;
}
.single_p .social a,.single_p .social span {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    font-size: 1.5em;
    line-height: 36px;
    color: #fff;
    text-align: center;
}

.single_p .social a .fa , .single_p .social span .fa {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
}
.single_p .social a .fa , .single_p .social span .fa{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.single_p .social a:hover .fa,.single_p .social span:hover .fa {
    font-size: 36px;
    -webkit-transform: translate(10%,-20%) rotate(-15deg);
    -moz-transform: translate(10%,-20%) rotate(-15deg);
    -ms-transform: translate(10%,-20%) rotate(-15deg);
    -o-transform: translate(10%,-20%) rotate(-15deg);
    transform: translate(10%,-20%) rotate(-15deg);
}

.single_p .social a[class*=facebook] {
    background-color: #344e86;
}
.single_p .social a[class*=twitter] {
    background-color: #3ea1ec;
}

.single_p .social a[class*=google] {
    background-color: #d83a2b;
}
.single_p .social span[class*=ficon] {
    background-color: #eee;
    color: #000;
    cursor: pointer;
    font-size: 1.3em;
}

/*
* s_video
*/
.s_video {
    background: #076eb2;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: linear-gradient(#e83193 50%, rgba(255,255,255,0) 0) 0 0, radial-gradient(circle closest-side, #e83193 53%, rgba(255,255,255,0) 0) 0 0, radial-gradient(circle closest-side, #e83193 50%, rgba(255,255,255,0) 0) 55px 0 #076eb2;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}
.s_video .t{
    background: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.075);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.075);
    box-shadow: 0 3px 5px rgba(0,0,0,.075);
    margin-bottom: 15px;
    color: #FFF;
    font-size: 20px;
}
.s_video .t h1{
    padding: 18px 0;
}
.s_video .t .container {
    position: relative;
}
.s_video .vc_goUp,.s_video .vc_goDown {
    display: inline-block;
    padding: 0;
    background: rgba(0,0,0,.2);
    width: 49%;
    text-align: center;
    font-size: 1.5em;
    color: #FFF;
}
.s_video .vc_list li{
    margin-bottom: 1px;
    background: rgb(6, 101, 165);
    padding: 5px;
}

.s_video .vc_list .det a{
    color: #FFF;
}
.s_video .vc_list .det h2{
    font-size: 14px;
    margin-top: 10px ;
    font-weight: 800;
}
.s_video .vc_list .det .time{
    font-size: 13px;
}
.s_video .vc_list .play {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    background: url(./img/play.svg)no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
}
/*
* single_k
*/
.single_k  {
    margin-bottom: 50px;
    background: linear-gradient(#ffd400 50%, rgba(255,255,255,0) 0) 0 0, radial-gradient(circle closest-side, #ffd400 53%, rgba(255,255,255,0) 0) 0 0, radial-gradient(circle closest-side, #ffd400 50%, rgba(255,255,255,0) 0) 55px 0 #ffffff;
    background-size: 110px 400px;
    background-repeat: repeat-x;
    padding-top: 25px;
    -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,.075);
    box-shadow: inset 0 4px 4px rgba(0,0,0,.075);
}
.single_k .crumbs {
    background: rgba(255,255,255,.15);
    color: #FFF;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 0;
}
.single_k .crumbs a {
    color: #8a6d3b;
}
.single_k .t h2{
    font-size: 26px;
    color: #e83193;
}
.single_k .t hr{
    width: 30px;
    border-top: 5px solid #e83193;
    margin: 15px 0;
}
.single_k .t h2.ktitle{
    font-size: 2em;
    position: relative;
    padding: 15px;
    color: #000;
}
.single_k .t h2.ktitle:after {
    content: '';
    color: transparent;
    min-height: 5px;
    display: block;
    padding: 0;
    border: 0;
    background: url(./img/grd.png) 0 0;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 100%;
}
.single_k .inn-right {
    background: #ffffff url(./img/shad.png)no-repeat right 50px;
    -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.35)75);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.35);
}
.single_k .met {
    text-align: center;
    margin-bottom: 25px;
}
.single_k .met li{
    display: inline-block;
    margin: 10px;
    text-align: right;
    font-size: 15px;
}
.single_k .met li label{
    margin: 0;
}
.single_k .met li i {
    display: block;
    font-size: 30px;
    border: 2px solid #ffd400;
    color: #ffd400;
    width: 60px;
    height: 60px;
    line-height: 57px;
    text-align: center;
    border-radius: 50%;
}
.single_k .rec {
    margin-bottom: 25px;
}
.single_k .rec ul {
    margin-right: 20px;
}
.single_k .rec li {
    list-style-type: disc;
    margin-right: 20px;
    color: #d8d8d8;
}
.single_k .rec li span{
    color: #333;
    font-size: 15px;
}

.single_k .det .item {
    padding: 15px;
    margin-bottom: 25px;
    background: #ffd400;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
}
.single_k .det .item .p {
    padding-right: 60px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.single_k .det .contr a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #ffd400;
    margin: 0px 0 0px -4px;
    font-size: 24px;
}
.single_k .det .contr a:hover{
    background: #EEE;
}
.single_k .det .num {
    padding: 0 15px;
    background: #e83193;
    float: right;
    margin-left: 10px;
    font-size: 2em;
    color: #ffffff;
}
.single_k .meta{
    padding: 5px;
    background: #ffd400;
    border-radius: 10px 10px 0 0 ;
    position: relative;
}
.single_k .meta>*{
    display: inline-block;
    vertical-align: top;
}
.single_k .meta a{
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
}
.single_k .meta img{
    border-radius: 10px;
}
.single_k .meta .auth>*{
    display: block;
}
.single_k .meta .time{
    color: rgba(0,0,0,.2);
    font-size: 13px;
}
.single_k .content{
    padding: 15px 0;
}
.single_k .content p{
    text-align: justify;
    font-size: 18px;
}
.single_k .inn-left .thumbnail{
    overflow: hidden;
}
.single_k .inn-left .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.single_k .inn-left .thumbnail img:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
.single_k .social{
    position: absolute;
    left: 10px;
    top: 5px;
}
.single_k .social a {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    font-size: 1.5em;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
.single_k .social .fa{
    font-size: 20px;
}
.single_k .social a[class*=facebook] {
    background-color: #344e86;
}
.single_k .social a[class*=twitter] {
    background-color: #3ea1ec;
}

.single_k .social a[class*=google] {
    background-color: #d83a2b;
}
/*
* more posts
*/
.more_p {
    margin-bottom: 25px;
}
.more_p .t{
    padding: 15px;
    background: #fafafa;
    margin-bottom: 15px;
}
.more_p .item{
    padding: 5px;
}
.more_p .n{
    position: relative;
    margin-bottom: 10px;
}
.more_p .n h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #000;
    font-size: 16px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
}
.more_p .n a{
    color: #FFF;
}
/*
* kitchen
*/
.kitchen {
    margin-bottom: 50px;
}
.kitchen .inn .item{
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    margin-bottom: 25px;
    overflow: hidden;
}
.kitchen .inn .item .det h2{
    padding: 10px;
}
.kitchen .inn .item .det .meta {
    background: #ffd400;
    padding: 10px;
    font-size: 14px;
    position: relative;
    border-radius: 0 0 2px 2px ;
}
.kitchen .inn .item .det .meta:before {
    background: rgba(0, 0, 0, 0) url("./img/rk.png") repeat-x;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: -12px;
    width: 100%;
    z-index: 77;
}
.kitchen .inn .item .det .meta>*{
    padding: 0;
}
.kitchen .inn .item .thumbnail{
    position: relative;
}
.kitchen .inn .item .thumbnail h2 {
    position: absolute;
    padding: 20px 10px;
    bottom: 0;
    width: 100%;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    z-index: 9;
    text-shadow: 1px 0px 1px rgba(0,0,0,.5);
    text-align: center;
}
.kitchen .inn .item .thumbnail a{
    color: #FFF;
}
.kitchen .inn .item .thumbnail hr {
    width: 40px;
    margin: 15px auto 0px;
}
.kitchen .thumbnail{
    overflow: hidden;
}
.kitchen .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.kitchen .thumbnail:hover img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}

/*
* tx_kitchen
*/
.tx_kitchen .t{
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #FaFaFa;
    text-align: center;
}
.tx_kitchen .t h2 {
    font-size: 24px;
    color: #e83193;
}
.tx_kitchen .inn .item{
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    margin-bottom: 15px;
    overflow: hidden;
}
.tx_kitchen .inn .item .det h2{
    padding: 10px;
}
.tx_kitchen .inn .item .det .meta {
    background: #ffd400;
    padding: 10px;
    font-size: 14px;
}
.tx_kitchen .inn .item .det .meta>*{
    padding: 0;
}
.tx_kitchen .inn .item .thumbnail{
    position: relative;
}
.tx_kitchen .inn .item .thumbnail h2 {
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
    background: #ffd400;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ffd400),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#ffd400,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#ffd400 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#ffd400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#ffd400', GradientType=0);
    z-index: 9;
    text-shadow: 1px 0px 1px rgba(0,0,0,.5);
}
.tx_kitchen .inn .item .thumbnail a{
    color: #FFF;
}


/*
* 404
*/
.err {
    text-align: center;
    margin-bottom: 50px;
}

.err h1.page-title {
    font-size: 10em;
    color: #434A54;
    font-family: Century Gothic, Tahoma
}

.err .static-text {
    font-size: 14px
}

/*
* Widget
*/
.widget{
    margin-bottom: 25px;
}
.widget h2.widget-title {
    padding: 15px 0;
    text-align: center;
}
.widget h2.widget-title:after {
    z-index: 4;
    content: '.';
    color: transparent;
    width: 100%;
    height: 1px;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 10px;
    border-top: 2px dotted #f1f1f1;
}
.widget h2.widget-title .label {
    padding: 0 12px;
    margin: 0;
    position: relative;
    z-index: 5;
    color: #e83193;
    border-radius: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 100%;
    background: #fff;
}
.widget li{
    position: relative;
    padding: 10px;
}
.widget li:before {
    content: "\f104";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: block;
    float: right;
    text-decoration: inherit;
    font-size: 14px;
    margin-left: 12px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    margin-top: 5px;
}
/*
* Widget News 
*/
.widget-news{

}
.widget-news .n{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    margin-bottom: 15px;
    width: 100%;
}
.widget-news .n h2{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 800;
}
.widget-news .n:hover a{
    color: #FFF;
}
.widget-news .thumbnail{
    overflow: hidden;
}
.widget-news .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.widget-news .n:hover .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
/* n2 */
.widget-news.n2 .n{
    position: relative;
    margin-bottom:25px; 
}
.widget-news.n2 .n .desc{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000000', GradientType=0);
}
.widget-news.n2 .n .desc h2{
    color: #FFF;
    font-size: 24px;
}


/*
* Archive
*/
.cat-header{
    position: relative;
    text-align: center;
    padding: 15px 0;
    border-top:1px solid #EEE;
}
.cat-header:after {
    content: '';
    color: transparent;
    min-height: 8px;
    display: block;
    padding: 0;
    margin: 20px 0;
    border: 0;
    background: url(./img/grd.png) 0 0;
}
.cat-header h1{
    font-size: 26px;
}
.archive-cat{
    margin-bottom: 50px;
}
.archive-cat .fst{
    margin-bottom: 25px;
}
.archive-cat .fst h2{
font-size: 24px;
    margin-bottom: 15px;
    line-height: 150%;
    font-weight: 800;
    margin-right: -30px;
    margin-top: 10px;
    background: #FFF;
    padding: 12px;
    border-right: 4px solid #f1f1f1;
}
.archive-cat .fst h2:hover a{
    color: #FFF;
}
.archive-cat .fst .date{
    color: #ccc;
}
.archive-cat .fst p{
    text-align: justify;
    font-size: 15px;
    color: #777;
}
.archive-cat .item{
    position: relative;
    margin-bottom: 15px;
}
.archive-cat .item .det{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.archive-cat .item .det h2{
    background: #FFF;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 800;
}
.archive-cat .item .det h2:hover a{
    color: #FFF;
}
.archive-cat .item .det .share{
    display: none;
    background: #FAFAFA;
    padding: 5px;
    height: 40px;
}

.archive-cat .item:hover .share{
    display: block;
}
.archive-cat .thumbnail{
    overflow: hidden;
}
.archive-cat .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.archive-cat .thumbnail:hover img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
.archive-cat .a_video{ 
}
.archive-cat .a_video .item{
    position: relative;
    margin-bottom: 15px;
}
.archive-cat .a_video .item .det {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000', GradientType=0);
    z-index: 9;
}
.archive-cat .a_video .item .det a{
    color: #FFF;
}
.archive-cat .a_video .item .det h2{
    font-size: 24px!important;
    padding-right: 55px!important;
    background: none!important;
    margin: 0!important;
}
.archive-cat .snd.a_video .item .det{
    padding: 15px;
}
.archive-cat .snd.a_video .item .det h2{
    font-size: 18px!important;
    padding-right: 55px!important;
    background: none!important;
    margin: 0!important;
}
.archive-cat .a_video .item .play {
    color: #FFF;
    background: url(./img/play.svg)no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
    float: right;
}
/*agallery*/
.archive-cat .a_galr{ 
}
.archive-cat .a_galr .item{
    position: relative;
    margin-bottom: 15px;
}
.archive-cat .a_galr .item .det {
    position: absolute;
    bottom: 0;
    padding: 30px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(1,rgba(0,0,0,0)));
    background: -ms-linear-gradient(bottom,#000,rgba(0,0,0,0));
    background: -moz-linear-gradient(center bottom,#000 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0),#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='#000', GradientType=0);
    z-index: 9;
}
.archive-cat .a_galr .item .det a{
    color: #FFF;
}
.archive-cat .a_galr .item .det h2{
    font-size: 24px!important;
    padding-right: 55px!important;
    background: none!important;
    margin: 0!important;
}
.archive-cat .snd.a_galr .item .det{
    padding: 15px;
}
.archive-cat .snd.a_galr .item .det h2{
    font-size: 18px!important;
    padding-right: 55px!important;
    background: none!important;
    margin: 0!important;
}
.archive-cat .a_galr .item .galr {
    color: #FFF;
    background: url(./img/gallery.svg)no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
    float: right;
}
/*
* Search
*/
.c_search {
    margin-bottom: 50px;
}
.c_search .sheader{
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}
.c_search .fst{
    margin-bottom: 25px;
}
.c_search .fst h2{
font-size: 24px;
    margin-bottom: 15px;
    line-height: 150%;
    font-weight: 800;
    margin-right: -30px;
    margin-top: 10px;
    background: #FFF;
    padding: 12px;
    border-right: 4px solid #f1f1f1;
}
.c_search .fst h2:hover a{
    color: #FFF;
}
.c_search .fst .date{
    color: #ccc;
}
.c_search .fst p{
    text-align: justify;
    font-size: 15px;
    color: #777;
}
.c_search .item{
    position: relative;
    margin-bottom: 25px;
}
.c_search .item .det{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.c_search .item .det h2{
    background: #FFF;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 800;
}
.c_search .item .det h2:hover a{
    color: #FFF;
}
.c_search .item .det .share{
    display: none;
    background: #FAFAFA;
    padding: 5px;
    height: 40px;
}

.c_search .item:hover .share{
    display: block;
}
.c_search .thumbnail{
    overflow: hidden;
}
.c_search .thumbnail img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.c_search .thumbnail:hover img {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1.3) rotate(5deg);
    -moz-transform: scale(1.3) rotate(5deg);
    -o-transform: scale(1.3) rotate(5deg);
    -ms-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}
/*
* share buttons
*/
.share-button{
  position:absolute;
  height:36px;
  top:5px;
  width:110px;
  left:50%;
  margin-left:-55px;
  background:rgba(255, 255, 255, 0.32);
  border-radius:20px;
  overflow:hidden;
  line-height:36px;
  user-select: none;
  opacity: 0;
  z-index: 99;
  transition: 0.3s all;
}
.item:hover .share-button{
    opacity: 9;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(30px);
}
/*----- FIX overflow + transform + border-radius ---*/
.share-button:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
box-sizing: content-box;
transform: translate(0,0);
border-radius: 50px;
z-index: 3;
pointer-events: none;
}
.lid{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#eee;
  border-radius:20px;
  color:#333;
  transition: 300ms ease all;
  transform-origin: 0 0;
  cursor:pointer;
    z-index: 4;
    text-align: center;
}
.open .lid{
  transform:rotateX(90deg);
}
.thank-you {
    position:absolute;
    top: -100px;
    left: 0;
    width: 100%;
    color: #fff;
    transition: 300ms ease all;
    text-align: center;
}
.thankyou .thank-you{
  position:absolute;
  top:0px;
}
.share-item{
  display:block;
  color:#368b8b;
  background:#fff;
  text-decoration:none;
  height:30px;
  width:30px;
  text-align:center;
  line-height:30px;  
  border-radius:50%;
  float:left;
  margin-left:3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: 500ms ease all;
}
.share-item:active{
  background:#eb4c89;
  transition: 50ms ease all;
}
.share-item:nth-child(1){
transform: translateX(200px) rotate(180deg);
}
.share-item:nth-child(2){
transform: translateX(400px) rotate(200deg);
}
.share-item:nth-child(3){
transform: translateX(580px) rotate(220deg);
}
.share-item:nth-child(4){
transform: translateX(740px) rotate(240deg);
}
.share-item:nth-child(5){
transform: translateX(880px) rotate(260deg);
}
.share-item:nth-child(6){
transform: translateX(1000px) rotate(280deg);
}
.open .share-item{
transform: translateX(0) rotate(0);  
margin-left:3px;
color: #e83193;
}
.sh-items {
position: absolute;
top: 0;
right: 0;
height: 100%;
padding: 3px 0;
width: 185px;
}
.sh-items-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;  
  width : 267px;
  left: 50%;
  margin-left:-133.5px;
}
.shared .share-item{
  transform :translateY(200px);
}
.shared .share-item:nth-child(1){
  transition: 200ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(2){
  transition: 600ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(3){
  transition: 1000ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(4){
  transition: 1400ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(5){
  transition: 1800ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(6){
  transition: 2200ms cubic-bezier(.32,-0.22,.9,.93) all;
}


/*
* Pagination
*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: #e83193;
    border-color: #e83193;
}
.pagination>li>a, .pagination>li>span{
    color:#e83193; 
}


/*
* crumbs
*/
.crumbs {
    background: #fafafa;
    color: #ccc;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
}
.crumbs a{
    color: #555;
}


/*
* post_tags
*/
.post_tags{
    margin: 25px 0;
    font-size: 14px;
}
.post_tags .t {
    padding: 3px 15px;
    background: #e83193;
    color: #FFF;
    margin-left: 5px;
    line-height: 260%;

}
.post_tags a {
    border: 1px solid #e83193;
    padding: 2px 15px;
    line-height: 260%;
    color: #e83193;
}
.post_tags a:hover{
    background: #e83193;
    color: #FFF;
}


/*
* Page
*/
.page .inn .content{
    margin-bottom: 25px;
}
.page .inn .content{
    text-align: justify;
}
.page .inn .content p{
    font-size: 16px;
    font-weight: 800;
    line-height: 200%;
}


/* 
* Gallery
*/
.galr {
    background: #e83193;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 25px;
}
.galr .t h2{
    font-size: 24px;
    color: #FFF; 
}
.galr .t hr{
    width: 40px;
    border:1px solid rgba(0,0,0,.2);
}
.galr #gal{
    position: relative;
}


.galr .carousel-inner>.item>a>img,.galr .carousel-inner>.item>img{
    margin: 0 auto;
    padding: 5px;
    background: #FFF;
}
.galr .carousel-control{
    z-index: 99;
}
.galr .carousel-control.right,.galr .carousel-control.left {
    width: 50px;
    height: 50px;
    line-height: 20px;
    font-size: 3em;
    color: #fff;
    text-shadow: none;
    background: rgba(0,0,0,.2);
    border-radius: 100%;
    top: 50%;
    margin-top: -50px;
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.galr .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.galr .carousel-inner .active {
  opacity: 1;
}

.galr .carousel-inner .active.left,
.galr .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.galr .carousel-inner .next.left,
.galr .carousel-inner .prev.right {
  opacity: 1;
}

.galr .carousel-control {
  z-index: 2;
}


/* hab_ADS */
#hab #advertiser_background {
    margin-top: 40px;
}
#hab #advertiser_background{
    overflow: hidden;
    position: absolute;
    width: 1423px;
    height: 950px;
    top: 0px;
    left: 50%;
    margin-left: -711px;
    text-align: center;
}
#hab #header{
    margin-top: 197px;
}
#hab #header .container,#hab .fetured .container{
    position: relative;
}
#hab #header.fixed{
    margin-top: 0;
}
#hab #header h1{
    position: relative;
}
#hab .container{
    position: relative;
}
#hab .galr .t h2,#hab .s_video .t h1{
    color: #000;
}

/* Adsense */
.ads-h {
    position: relative;
    text-align: center;
    padding: 15px;
}
.ads-d-top,.ads-d-un,.ads-d-bottom,.ads-m-top,.ads-m-un,.ads-m-bottom{
    text-align: center;
    padding: 15px 0;
}