
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.jcarousel-skin-tango {
  text-align: center;
}

.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #E6E6E6;
  border: 1px solid #346F97;
  margin: auto;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 220px;
  height: 145px;
  padding: 10px 10px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 220px;
  height: 145px;
  padding: 10px 5px;
}

.jcarousel-skin-tango .jcarousel-navigation-before {
  padding-top: 10px;
}

.jcarousel-skin-tango .jcarousel-navigation-after {
  padding-bottom: 5px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 220px;
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
  height: 145px;
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-item {
  padding-top: 10px;
  width: 220px;
  height: 133px;
  overflow: hidden;
  border: 1px solid #CCC;
  border-radius: 10px;
  list-style: none;
  background: #fff none;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin: 0 10px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
  margin: 10px 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-tango .jcarousel-next,
.jcarousel-skin-tango .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(arrows.png);
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 65px;
  left: 5px;
  background-position: 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 65px;
  right: 5px;
  background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px -32px;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}

.jcarousel-skin-tango .jcarousel-navigation {
  margin: 0;
  padding: 4px;
}

.jcarousel-skin-tango .jcarousel-navigation li {
  display: inline;
  margin: 0 0 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-tango .jcarousel-navigation li a {
  color: #12A698;
  padding: 1px 5px;
}


.jcarousel-skin-tango .jcarousel-navigation li a:hover {
  color: white;
  padding: 0px 4px;
  background-color: #A0DCD9;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #4C9899;
}

.jcarousel-skin-tango .jcarousel-navigation li.active a {
  color: white;
  padding: 0px 4px;
  background-color: #12A698;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #1B6364;
}
