/* CSS Document
This notice must remain in place!
 ________________________________________________
|                                                |
|    AUTHOR  : Sherif Magdy Youssief             |
|    WEBSITE  : { http://www.youm7.com }         |
|	 DESCRIPTION  : style sheet                  |                                          
|    DATE  : 31/03/2016                          |
|________________________________________________|
*/

body {font-family:'Droid Arabic Kufi';direction:rtl;text-align:right;}
.dropDown ul {display:none;}
.dropDown:hover ul {display:block;position: absolute;z-index: 2147483647;}
ul {list-style:none;}
a:hover {text-decoration:none;}
.container{width: 100%; padding: 0px;max-width:960px;}
a:hover {text-decoration:none;}
.row {margin:0px;}
h1, h2, h3 , h4 {margin:0px;padding:0px;}

/********body*******/
table {WIDTH:100% !IMPORTANT;margin:15px auto !important;max-width:100% !important;}
.bodyCC {direction:rtl;text-align:right;margin-top:15px;width:960px !Important;}

.leaderBoard1 {background: rgb(240, 240, 240) url("http://img.youm7.com/images/graphics/icuads2016/728x90.jpg") no-repeat scroll center center; padding: 5px; margin: 10px auto; border: 1px solid rgb(226, 226, 226); width: 738px; height: 100px;}
.leaderBoard1 img {}

.rightCol {}
.title h2 {width:100%;background:#c8050b none repeat scroll 0 0;color:#FFF;font-family:'Droid Arabic Kufi';font-weight: bold; font-size: 18px; padding: 10px 10px 8px;margin-bottom:15px;}

.newsCont {background:#f4f4f4;padding:10px;margin-bottom:10px;}
.newsCont:nth-child(odd) {background:#d7d7d7 none repeat scroll 0 0;}
.newsCont:nth-child(even){}
.newsCont h2 {font-family:'Droid Arabic Kufi';color:#ca0003;font-size: 12px; font-weight: bold;margin-bottom:10px;}
.newsCont h3 {font-family:'Droid Arabic Kufi';color:#2e2e2e;font-weight: bold; font-size: 16px;margin-bottom: 10px;line-height: 25px;}
.newsCont h3:hover {color:#ca0003;}
.newsCont .newsDate {color:#898989;font-size: 10px;}

.loadMore {margin-bottom:15px;background:#c8050b;text-align: center; padding: 5px;}
.loadMore:hover {}
.loadMore a {text-decoration:none !important;color:#FFF;font-weight:bold;display:block; font-size: 30px;padding:5px;}
.loadMore a:hover {}

.leftCol {padding-left:5px;} 
.leftAdv {border:1px solid #bdbdbd;margin-top: 15px; width: 300px; background: rgb(240, 240, 240) url("http://img.youm7.com/images/graphics/prlmanynewnow.gif?1") no-repeat scroll center center;margin-bottom:15px;}
.leftAdv img{display:block;margin:0 auto;}
.mostReadCont {margin-bottom: 15px; background: rgb(234, 234, 234) none repeat scroll 0% 0%;padding-bottom:5px;}
.mostReadCont h2 {background: rgb(200, 5, 11) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-family: 'Droid Arabic Kufi'; padding: 10px; font-size: 18px;}
.mostRead { margin: 0px 10px;padding: 10px 0px; border-bottom: 1px solid rgb(200, 5, 11);}
.mostRead h3 {font-family:'Droid Arabic Kufi';color:#747474;font-size: 15px; line-height: 20px;}
.mostRead h3:hover {color:#C8050B;}
.mostReadCont div:last-child {border:none;}
.bottomAdv {margin:15px 0;}
.socialMediaLeft {text-align:center;}
.socialMediaLeft a {display: inline-block;max-width: 18.5%;margin-bottom:15px;}
.socialMediaLeft img {display:inline-block;}
.socialMediaLeft img:hover {opacity:0.6;}

.websites {text-align:Center;border-top: 2px solid rgb(179, 179, 179); padding-top: 15px;margin-bottom:15px;float:left;width:100%;}
.websites a {display:inline-block;margin:0 5px 10px;}
.websites img {display:inline-block;max-width:70px;}
.websites img:hover {opacity:0.7;}
.imgLoad {display:none;max-width:25px;}
 
.topTop {z-index:9999999;max-width: 60px; position: fixed; right: 2%; bottom: 2%;display:none;}
.topTop a {position:relative;z-index:9999999999999999999999999999999999;}
/*Header Style*/
.adv-y {margin:5px auto;max-width:728px}
.headerCont {}
.headerCont .container {width:960px !important;}
.header {background:transparent url("../images/headerNewBg23.jpg") repeat-x scroll 0 0;}
.secondMenu {padding-right:15px;clear:both;}
.firstMenu ul li {float:right;padding-bottom:7px}
 .secondMenu ul li {float:right;}
.firstMenu ul h2, .secondMenu ul h2 {font-family:'Droid Arabic Kufi';color:#ccc;text-shadow:0 2px #282828;font-size:14px;float:right;padding:8px 0 0 8px;margin:0px;font-weight:normal;}
.secondMenu ul h2 {padding:22px 19px 15px;}
.firstMenu ul h2:hover , .secondMenu ul h2:hover, .dropMenu a:hover{color:#E03030;}
.y7Desktop {max-width:200px;margin:6px 2px 0 10px;}
.header .socialMediaIco {float:left;}
.socialMediaIco a {float:right;height:30px;width:30px;margin:0px;}
.facebookIco{background:url(../images/facebook.png?2) no-repeat}.facebookIco:hover{background:url(../images/facebook2.png?2) no-repeat}.twitterIco{background:url(http://img.youm7.com/images/twitter.png?2) no-repeat}.twitterIco:hover{background:url(http://img.youm7.com/images/twitter2.png?2) no-repeat}.googleplusIco{background:url(http://img.youm7.com/images/googleplus.png?2) no-repeat}.googleplusIco:hover{background:url(http://img.youm7.com/images/googleplus2.png?2) no-repeat}.rssIco{background:url(http://img.youm7.com/images/rss.png?2) no-repeat}.rssIco:hover{background:url(http://img.youm7.com/images/rss2.png?2) no-repeat}.youtubeIco{background:url(http://img.youm7.com/images/youtube.png?2) no-repeat}.youtubeIco:hover{background:url(http://img.youm7.com/images/youtube2.png?2) no-repeat}.flickerIco{background:url(http://img.youm7.com/images/flicker.png?2) no-repeat}.flickerIco:hover{background:url(http://img.youm7.com/images/flicker2.png?2) no-repeat}.instgramIco{background:url(http://img.youm7.com/images/instgram.png?2) no-repeat}.instgramIco:hover{background:url(http://img.youm7.com/images/instgram2.png?2) no-repeat}.iphoneIco{background:url(http://img.youm7.com/images/apple.png?2) no-repeat}.iphoneIco:hover{background:url(http://img.youm7.com/images/apple2.png?2) no-repeat}.androidIco{background:url(http://img.youm7.com/images/android.png?2) no-repeat}.androidIco:hover{background:url(http://img.youm7.com/images/android2.png?2) no-repeat}.blackberryIco{background:url(http://img.youm7.com/images/blackberry.png?2) no-repeat}.blackberryIco:hover{background:url(http://img.youm7.com/images/blackberry2.png?2) no-repeat}
.date {margin-right:13px;font-family:'Droid Arabic Kufi';line-height:16px;color:#FFF;max-width:130px;font-size:11px;text-align:right;}
.dropMenu {position:relative;}
.dropMenu:hover {cursor:pointer;}
.dropMenu a {position:relative;font-family:'Droid Arabic Kufi';color:#ccc;text-shadow:0 2px #282828;font-size:14px;font-weight:normal;display:block;padding:13px 0 10px;}
.dropMenu li a {line-height:33px !important;}
.dropMenu ul a {padding:0px;}
.dropMenu ul {right: 0%;position: absolute;display:none;clear:both;background:#3F3F3F;padding:7px;z-index:999999999999;width:265px;}
.dropMenu:hover ul {display:block !important;}
.dropMenu ul li{	float: right;display:block;z-index: 9999;clear:none;margin:0px;}
.dropMenu li a { display: block;font-size: 14px;}
.dropMenu h2 {padding:9px 8px !important;margin:0px;}

.bigMenu {max-width:300px;}  
.bigMenu li {width:50%;}
.menuForMobile {margin-top: -9px;}
.menuForMobile li {min-width:30%;} 

.logoContBg {min-width:960px !important;background:#FFF  /*url("http://img.youm7.com/images/graphics/hedad2016newlast2.png")no-repeat scroll center*/;}
.logoCont {clear:both;padding:10px 0px;width:960px !important;}
.logo {padding:9px 0px;}
.logo a {margin:0 auto;display:block;margin-top: 20px;}
.logo a img {margin:0 auto;display:block;}
.chief img {margin-top:22px;}
.logoAdv {border: 1px solid rgb(226, 226, 226); background: rgb(240, 240, 240) url("http://img.youm7.com/images/graphics/icuads2016/468x110.jpg") no-repeat scroll center center; width: 478px; height: 122px; margin-top: 0px; float: left;padding:5px;}
.logoAdv img {margin:0 auto; display:block;background:#f6f6f6 none repeat scroll 0 0;padding:5px;border:1px solid rgb(226, 226, 226);}

/*Ticker*/
.ticker {min-height:48px;padding-left:0px;}
.tickerAndSearch {min-width:960px;background:#3b3b3b;overflow:hidden;width:100% !important;}
.tickerAndSearch .container {width:960px !Important;min-width:960px !important;}
.tickerAndSearch {}
.tickersIco {float:right;}
#nt-example2 li, #nt-title h3 a {overflow:hidden;word-wrap:keep-all;font-size:13px;}
#nt-title {float:right;display:none;max-width: 500px;overflow:hidden;height:30px !important;}
#nt-title-container {background: #434343 none repeat scroll 0px 0px; height: 31px; border-radius: 8px; margin-top: 8px;}
.rssIco {float:left;}
#nt-title h3 a {font-size:13px !important;}
/*Search*/
.searchCont {}
.searchCont .input-group {margin-top: 12px;}
.btn-search {background:none;padding:0px;float:left;width:20%;}
.btn-search img {}
.btn-search img:hover {opacity:0.8;}
.searchCont input {width:80% !important;display:block;direction:rtl;text-align:right;height: 23px; border-radius: 5px !important; padding: 3px;-moz-border-radius: 5px !important;-webkit-border-radius: 5px !important}

/*Slider and adv*/
.slider-and-adv {max-height:292px;margin-bottom:15px;min-width:960px;}
.slider-cont {padding: 0px;}
.midAdv-cont {min-height:270px;background:url(http://img.youm7.com/images/graphics/icuads2016/300x250.jpg) no-repeat center center; padding-left:0px; border: 1px solid #e2e2e2;z-index: 2;padding:10px;margin:10px auto !important;max-width:320px;}

/*Slider*/
#slider {position: relative;z-index:2;}
#mainNews {background-color: #5d5d5d;float: right;width: 400px;}
.newsInfo {border: 2px solid #000;display: none;float: right;margin: 8px;width: 384px;}
.newsInfo .image {height: 200px;width: 380px;}
.newsInfo .image img {max-height: 200px;max-width: 380px;}
.newsInfo .label1 {background-color: #de2323;border-top: 2px solid #000;height: 55px;padding: 5px;width: 380px;}
.newsInfo .label1 a {  display: block;  height: 48px;   margin: 0 5px; overflow: hidden;color: #fff; font-family: Arial,Helvetica,sans-serif;  font-size: 14px; font-weight: 700; line-height: 14px; text-align: justify; text-decoration: none;}
#subNews {float: right;height: 287px;width: 220px;}
.top-0 {margin-top:0px !important;}
.newsLinks {
	cursor:pointer;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;background-color: #444;background-image: url("http://img.youm7.com/images/general/mainNewsLinksBg.gif?1");background-position: right top;background-repeat: repeat-y;border-color: #3b3a3a -moz-use-text-color #3b3a3a #3b3a3a;border-image: none;border-style: solid none solid solid;border-width: 2px medium 2px 2px;height: 61px;margin: 5px 0 5px 5px;width: 230px;}

.newsLinks h4, .newsLinks h3 { color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: right;
	padding-left:5px;
    text-decoration: none;display: block;height: 42px;line-height: 19px;margin: 11px 5px 8px;overflow: hidden;width: 225px;}
.newsLinks.selected {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #de2323;
    background-image: url("http://img.youm7.com/images/general/mainNewsLinksSBg.gif?1");
    border-color: #de2323 -moz-use-text-color #de2323 #de2323;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 2px medium 2px 2px;
}
/*3agel*/
.agel-cont {overflow:hidden;margin-bottom:15px;}
.agel-cont .col-xs-12 {padding:0px;}
 .TopNewsDiv {
        float: right;
        position: relative;
        width: 960px;
        
    }

    .SingleNewDiv {
        cursor: pointer;
        min-height: 90px;
        position: absolute;
        direction: ltr;
        width: 120px;
    }

    .TopNewsImg1 {
        border-radius: 3px;
        width: 95%;
    }

    .TopNewNewsLink {
        background-image: url("http://img.youm7.com/images/link.png?2");
        background-repeat: repeat;
        bottom: 5px;
        height: 20px;
        position: absolute;
        right: 15px !important;
        width: 20px;
    }
	.SingleNewDiv:hover  .TopNewNewsLink,
	.TopNewNewsLink:hover { background-image: url("http://img.youm7.com/images/link-hover.png?2") !important;background-repeat: repeat !important;}
    .TopNewNewsLinkhover {
        background-image: url("http://img.youm7.com/images/link-hover.png?2") !important;
        background-repeat: repeat !important;
    }

    .SliderUpDiv {
        background-image: url("http://img.youm7.com/images/mogaz.jpg");
        background-repeat: no-repeat;
        float: right;
        height: 27px;
        position: static;
        width: 100%;
    }

    .SliderDownDiv {
        background-image: url("http://img.youm7.com/newsbar_files/black-tr.png?2");
        background-size: 100% auto;
        bottom: -2px;
        color: #FFFFFF;
        direction: rtl;
        float: right;
        font-family: Droid Arabic Kufi, arial;
        font-size: 15px;
        font-weight: bold;
        height: 30px;
        left: 0;
        line-height: 30px;
        padding: 0 !important;
        position: relative;
        text-align: center;
        top: 184px;
        width: 970px;
    }

    .LoadingTopNews {
        height: 32px !important;
        left: 50px;
        position: absolute;
        top: 35px;
        width: 32px !important;
    }

    .SingleNewDivLoading {
        border: 1px solid !important;
        border-radius: 13px;
        max-width: 240px !important;
    }

    .TopNewNewsLinkLoading {
        display: none !important;
    }

    .TopNewsPlay {
        background-color: #3B3B3B;
        background-image: url("http://img.youm7.com/images/pause-pause.png?2");
        background-repeat: no-repeat;
        cursor: pointer;
        float: left;
        height: 22px;
        margin-left: 5px;
        margin-top: 0;
        width: 22px;
    }

        .TopNewsPlay:hover, .TopNewsIncreaseSpeed:hover, .TopNewsDecreaseSpeed:hover {
            background-color: #C31E1E !important;
        }

    .TopNewsPlayToggle {
        background-color: #3B3B3B !important;
        background-image: url("http://img.youm7.com/images/playplay.png?2") !important;
        background-repeat: no-repeat;
    }

    .TopNewsIncreaseSpeed {
        background-color: #3B3B3B;
        background-image: url("http://img.youm7.com/images/forward-play.png?2");
        background-repeat: no-repeat;
        cursor: pointer;
        float: left;
        height: 22px;
        margin-left: 5px;
        margin-top: 0;
        width: 22px;
    }

    .TopNewsIncreaseSpeedToggle {
        background-image: url("http://img.youm7.com/images/forward-dum.png?2") !important;
        background-repeat: no-repeat;
    }

    .TopNewsDecreaseSpeed {
        background-color: #3B3B3B;
        background-image: url("../../images/prev-play.png?2");
        background-repeat: no-repeat;
        cursor: pointer;
        float: left;
        height: 22px;
        margin-left: 10px;
        margin-top: 0;
        width: 22px;
    }

    .TopNewsDecreaseSpeedToggle {
        background-color: #3B3B3B;
        background-image: url("../../images/prev-dum.png?2") !important;
        background-repeat: no-repeat;
    }

    

    .SingleNewDiv {
        position: absolute;
        width: 120px;
        min-height: 90px;
        cursor: pointer;
    }

    .TopNewsImg1 {
        width: 95%;
        border-radius: 3px;
    }

    .TopNewNewsLink {
        background-image: url("http://img.youm7.com/images/link.png?2");
        background-repeat: repeat;
        bottom: 7px;
        height: 20px;
        position: absolute;
        right: 8px;
        width: 20px;
    }

    .TopNewNewsLinkhover {
        background-image: url("../../images/link-hover.png?2") !important;
        background-repeat: repeat !important;
    }

    .SliderUpDiv {
        background-image: url("http://img.youm7.com/images/mogaz.jpg");
        background-repeat: no-repeat;
        float: right;
        height: 27px;
        position: static;
        width: 100%;
    }

    .SliderDownDiv {
        background-image: url("http://img.youm7.com/images/black-tr.png?2");
        background-repeat no-repeat;
        background-size: 100% auto;
        float: right;
        height: 31px;
        line-height: 30px;
        width: 100%;
        direction: rtl;
        bottom: -2px;
        color: #FFFFFF;
        font-family: 'arial';
        font-size: 20px;
        font-weight: bold;
        height: 30px;
        left: 0;
        padding: 0 !important;
        text-align: center;
        position: relative;
        top: 184px;
    }

    .LoadingTopNews {
        width: 32px !important;
        height: 32px !important;
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .SingleNewDivLoading {
        border: 1px solid !important;
        max-width: 240px !important;
        border-radius: 13px;
    }

    .TopNewNewsLinkLoading {
        display: none !important;
    }

    .TopNewsPlay {
        background-image: url("http://img.youm7.com/images/pause-pause.png?2");
        background-repeat: no-repeat;
        background-color: #3B3B3B;
        cursor: pointer;
        float: left;
        height: 22px;
        margin-left: 5px;
        margin-top: 0;
        width: 22px;
    }

        .TopNewsPlay:hover, .TopNewsIncreaseSpeed:hover, .TopNewsDecreaseSpeed:hover {
            background-color: #C31E1E !important;
        }

    .TopNewsPlayToggle {
        background-image: url("http://img.youm7.com/images/playplay.png?2") !important;
        background-repeat: no-repeat;
        background-color: #3B3B3B !important;
    }

    .TopNewsIncreaseSpeed {
        background-image: url("http://img.youm7.com/images/forward-play.png?2");
        background-repeat: no-repeat;
        background-color: #3B3B3B;
        float: left;
        height: 22px;
        margin-left: 5px;
        margin-top: 0;
        width: 22px;
        cursor: pointer;
    }

    .TopNewsIncreaseSpeedToggle {
        background-image: url("http://img.youm7.com/images/forward-dum.png?2") !important;
        background-repeat: no-repeat;
        backgrond-color: #3B3B3B !important;
    }



    .TopNewsDecreaseSpeed {
        background-image: url("http://img.youm7.com/images/prev-play.png?2");
        background-repeat: no-repeat;
        background-color: #3B3B3B;
        float: left;
        height: 22px;
        margin-left: 10px;
        margin-top: 0;
        width: 22px;
        cursor: pointer;
    }

    .TopNewsDecreaseSpeedToggle {
        background-image: url("http://img.youm7.com/images/prev-dum.png?2") !important;
        background-repeat: no-repeat;
        background-color: #3B3B3B;
    }

/*News Content*/
.news-content {}
.right-Content {padding-left:0px;padding-right:0px;padding-bottom:30px;width:580px; }
.hotFile {width:100% !Important;}
.right-Content > .container {max-width:570px;margin-right:0px;}
.right-Content h2 {background:#5D5D5D;margin:0px;padding:6px 10px;color:#FFF;border-right:10px solid #8e8e8e;}
.right-Content h2 a:hover, .left-Content h2 a:hover {background-image: url("http://img.youm7.com/images/general/titleHBG.gif?1");background-position: left center;background-repeat: no-repeat;}
.right-Content h2 a {font-family:'Droid Arabic Kufi',Tahoma;font-size:12px;color:#FFF;display:block;font-weight:bold;}
.right-Content h2 a:hover {}
.right-Content .bigOneSec {margin-top:0px;}
.bigOneSec {padding:10px;background:#F0F0F0;min-height:160px;border-bottom:2px solid #FFF;}
.bigOneSec:hover {background:#D7D7D7;}
.bigOneImg {float:right;}
.bigOneImg img {border:1px solid #999;max-width:170px;max-height:130px;margin-left:10px;}
.bigOneSec h3{line-height:20px;text-align:right;margin:0px;padding:0px;}
.bigOneSec h3 a {font-family:;color:#df2829;text-align:right;text-decoration:none;font-size:18px;font-weight:bold;}
.bigOneSec:first-of-type  h3 a {font-size:23px;line-height:28px;}
.bigOneSec h3 a:hover {text-decoration:underline;}
.bigOneSec h4 {}
.bigOneSec h4 a {font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;color: #999;}
.newsDate {color: #666;font-size: 11px;text-align: right;}
.newsDate2 {background: transparent url("http://img.youm7.com/images/today.gif?1") no-repeat scroll right center; padding-right: 35px; color: rgb(223, 40, 41); font-size: 12px;}
.bigOneSec .newsDate {margin-right:178px;display:block;}
.smallOnes {}
.smallOneSec {height:230px;padding:15px;background:#F0F0F0;border-bottom:2px solid #FFF;}
.smallOneSec:hover {background:#DCDCDC;}
.smallOneImg {float:right;}
.smallOneImg img {float:right;margin-left:10px;border:1px solid #999;max-height: 120px;max-width: 90px;}
.smallOneSec h3 {width:150px;float:right;line-height:18px;}
.smallOneSec a {color:#000;font-size:15px;font-weight:700;text-align:right;text-decoration:none;font-family:Arial,Helvetica,sans-serif;}
.smallOneSec a:hover {text-decoration:underline;}

.smallOnes h3:nth-child(odd) a {}
.smallOnes div:nth-child(1n+0) h3 a {color:#000 !important;}
.smallOnes div:nth-child(3n+0) h3 a {color:#df2829 !important;}
.smallOnes div:nth-child(4n+0) h3 a {color:#df2829 !important;}
.smallOnes div:nth-child(5n+0) h3 a {color:#000 !important;}
.smallOnes div:nth-child(6n+0) h3 a {color:#000 !important;}

.mor-section {clear:both;background:#F0F0F0;direction:ltr;padding:3px 15px;}
.mor-section img{margin: 0px ! important;}
.mor-section img:hover {opacity:0.6;}
.smallSections .mor-section {border-top:2px solid #FFF;}
.section-news .mor-section img{display:block;margin:0 auto;}

.smallSections {margin-top: 15px;padding: 2px;}
.smallSection {padding:5px 9px 10px;background:#F0F0F0;margin-top:5px;}
.smallSections .smallSection:first-of-type {padding-bottom:15px !important;}
.smallSection img {height:110px;display:block;margin:0 auto;float:none;border:1px solid #999; max-height: 130px;max-width: 140px;}
.smallSections .smallSection:first-of-type img {max-width:170px;max-height:130px;height:130px;}
.smallSection h3 {line-height:20px;}
.smallSection h3 a {overflow:hidden;height:65px;color: #3a3a3a;font-family:Tahoma;line-height:18px;font-size:13px;font-weight:normal;text-align: right;display:block;margin-top:5px;text-decoration: none;}
.smallSection h3 a:hover ,
.smallSections .smallSection:nth-child(4n+0) h3 a:hover,
.smallSections .smallSection:nth-child(6n+0) h3 a:hover{color:#df2829 !important;}
.smallSections .smallSection:nth-child(4n+0) h3 a:hover,
.smallSections .smallSection:nth-child(6n+0) h3 a:hover {text-decoration:none !important;}
.smallSections .smallSection:nth-child(2n+0) h3 a{line-height: 21px;color:#df2829 !important;font-weight:bold;font-family: Arial,Helvetica,sans-serif ;font-weight:700;font-size: 17px;}
.smallSections .smallSection:nth-child(2n+0) h3 a:hover {text-decoration:underline;}
.smallSections .smallSection:nth-child(4n+0) h3 a{color:#3a3a3a !important;font-size: 13px;font-weight: 400 ;font-family:Tahoma !important;font-size:13px;}
.smallSections .smallSection:nth-child(6n+0) h3 a{color:#3a3a3a !important;font-size: 13px;font-weight: 400;font-family:Tahoma !important;font-size:13px;}

.mostImgNew img{width:100%;}
.albums-youm7 {margin:15px auto;max-width:360px;overflow:hidden;}

.pager li > a, .pager li > span {padding:2px 9px !important;border-radius:0px !important;}
.light-theme a:hover {background:#e03030 none repeat scroll 0 0 !important;border:1px solid #e03030 !important;}
.ellipse {background:none !important;}

/*Left Content*/
.left-Content {padding:0px 0px 30px 0px;width:380px;}
.left-Content h2 {max-width:360px;font-family:'Droid Arabic Kufi',Tahoma;font-size:12px;color:#FFF;background:#5D5D5D;font-weight:bold;margin:0px auto 5px;padding:5px 10px;border-right:10px solid #8e8e8e;}
.left-Content h2 a {font-family:'Droid Arabic Kufi',Tahoma;font-size:12px;color:#FFF;display:block;font-weight:bold;}
.left-Content img {margin:0 auto;display:block;}
.albumMokhtar {margin:15px 0px;display:block;}
.albumMokhtar img {margin:0 auto;}
.midAdv-cont2 {margin:15px 0px;}

.margin-top {margin-top:15px;}
.left-Content .margin-top img {margin:0 auto;display:block;}
.left-Content .margin-top a {margin:0 auto;display:block;}
/*3agel*/
.mosCont {clear: right;height: 238px;margin: 0 auto;width: 100%;}

.SliderUpDiv {background-image: url("http://img.youm7.com/images/mogaz.jpg");background-repeat: no-repeat;float: right;height: 27px;position: static;}
.TopNewsDiv {margin-right:-2px;float: right;position: relative;}
.SingleNewDiv {cursor: pointer;direction: ltr;min-height: 90px;position: absolute;width: 120px;}
.TopNewsImg1 {border-radius: 3px;width: 96%;display:block;}
.TopNewNewsLink {background-image: url("http://img.youm7.com/images/link.png?2");background-repeat: repeat;bottom: 7px;height: 20px;position: absolute;right: 8px;width: 20px;}

/*Polls*/
#pollsBox {background:#F0F0F0;padding:10px;margin:0 auto;max-width:350px;}
#pollsBox h5 {color: #df2829;font-family: Arial,Helvetica,sans-serif;font-size: 18px;font-weight: 700;text-align: justify;width: 300px;display: block;padding: 10px 10px 5px;}
.pollsOption {height: 20px;}
.pollsOption input {margin-right: 20px;margin-top: 3px;vertical-align: top;}
#pollsBox span {color: #3a3a3a;font-size: 13px;line-height: 16px;padding-right: 10px;}
#pollsButtons {text-align:center;height: 33px;padding-bottom: 30px;width: 360px;}
#voteButton, #resultsButton {height: 33px;display:inline-block;}
#backButton {width:360px;}
#resultsButton input ,#voteButton input, #backButton input{;font-family:"Droid Arabic Kufi";display:inline-blocl;background: #df2829;border: medium none;color: transparent;cursor: pointer;color:#FFF;padding:5px 10px;}
#resultsButton input:hover , #voteButton input:hover , #backButton input:hover{background:#5D5D5D;cursor:pointer;}
#backButton input{margin:6px auto 0;display:block;}

/*Home Right Cont*/
.home-right .bigOneSec:first-of-type h3 a {font-size:20px;line-height:22px;}


/*Share Icon*/
.share_icons {text-align:center;height: 21px;margin: 15px 0;padding: 0;text-align: center;}
.share_icons li {display:inline-block;width:30px;height:30px;overflow:hidden;}
.share_icons a {display:block;cursor:pointer;}
.share_icons img {max-height:30px;max-width:30px;}
.share_icons img:hover {opacity:0.7;}
.share_icons .whatsapp {display:none;}

/*writersCOnt*/
.writersCOnt {max-width:360px;}
.oneWriter {padding:10px;border-bottom:2px solid #FFF;background:#F0F0F0;}
.writerImg {}
.writerImg img {border:2px solid #989896;max-height: 75px;max-width: 55px;float:right;margin-left:7px;}
.writerInfo {height:83px;overflow:hidden;}
.writerInfo h4 {}
.writerInfo h4 a {display:block;border-bottom:1px solid #ccc;color:#df2829;font-size:11px;font-weight:400;text-decoration:none;font-family:Tahoma;}
.writerInfo h3 {}
.writerInfo h3 a {font-weight: bold; display: block; line-height: 18px;color:#5d5d5d;font-family:Arial,Helvetica,sans-serif;font-size:13px;text-align:justify;text-decoration:none;}
.writerInfo h3 a:hover {text-decoration:underline;}

/*Most read*/
.most-read {direction:rtl;margin:0 auto 15px;max-width:360px;}
.most-read .nav-tabs {padding:0px;margin-top:15px;background: rgb(93, 93, 93) none repeat scroll 0% 0%;margin-bottom:5px;}
.most-read .nav-tabs li{float:right;border:0px !important;width:50%;text-align:Center;}
.most-read .nav-tabs li.active a {background:#df2829 !important;color:#FFF;border:0px !important;border-radius:0px !important;}
.most-read .nav-tabs a{color:#FFF;font-weight:bold;text-align:Center;border:none !important;margin:0px !important;padding:3px;font-size:12px;}
.most-read .nav-tabs a:hover {color:#FFF;background:none !important;border:none !important;}
li.width100 {width:100% !important;}
li.width100 a {font-size:13px !important;padding:5px !important;text-align:right !important;}
.most-read .tab-content {background:#F0F0F0;padding:5px;}
.most-read .most-read{}
.most-read .most-commented {}
.most-read h3 {margin:0px;padding:5px;border-bottom: 2px solid #fff}
.most-read h3 a { font-size: 17px;font-family:arial ;  font-weight: 700; line-height: 21px;text-align: right;text-decoration: none;}
.most-read h3 a:hover {text-decoration:underline;}
.most-read h3:nth-child(odd) a {color:#df2829 ;}
.most-read h3:nth-child(even) a {color: #3a3a3a ;}

/*Section*/
.section-news {}
.section-news h2, .editors-cont h2{margin-bottom:5px;font-family: "Droid Arabic Kufi"; font-weight: bold; font-size: 16px;}
.section-news h2 a, .editors-cont h2 a{font-size:15px;}
.section-news .bigOneSec:first-of-type .bigOneImg {float:left !important;}
.section-news .bigOneSec:first-of-type .bigOneImg img {margin-left:0px;margin-right:10px;}
.section-news .bigOneSec:first-of-type .newsDate {margin-right:0px !Important;}
.section-news .bigOneSec p {color:#3a3a3a;font-family: tahoma;text-align:justify;font-size: 12px;padding-right: 180px;}
.section-news .bigOneSec:first-of-type  p{padding-right:0px;padding-left:190px;}
.section-news .newsDate {color:#666;margin-top:5px;margin-bottom:5px;}
.showMoreNew {background: rgba(0, 0, 0, 0) url("http://img.youm7.com/images/moreMoreNew.png?1") no-repeat scroll center center; color: transparent; font-weight: bold; border: medium none; height:36px;width:95px; margin:1px auto 8px; display: block;}
.showMoreNew:hover {opacity:0.8;}

/*writers*/
.editors-cont {}
.editors-cont .bigOneSec {min-height:10px;}
.editors-cont .bigOneSec .newsDate {margin-top:3px;margin-right:0 !important;}
.editors-cont .bigOneSec p {color: #3a3a3a;
    display: block;
    margin: 0;
    padding: 0;
    text-align: justify;font-family: Tahoma;   font-size: 12px;}
/*Article*/
.article-cont {overflow:hidden;}
article {background:#f0f0f0;padding-bottom:15px;}
.articleHeader,#articleHeader {border-right:10px solid #F6F6F6;background: transparent url("../images/storyHeaderBg.jpg") repeat-x scroll 0 0;padding: 10px 15px;border-left:5px solid #f0f0f0;}

.breadcumb {}
.breadcumb a {display:inline-block;margin:5px;color:#df2829;font-family:'Droid Arabic Kufi';font-size:13px;}
.breadcumb a:hover {}
.breadcumb img { width: 17px;display:inline-block}
article h1 {line-height:32px;color:#df2829;font-family:Arial,Helvetica,sans-serif;font-size:26px;margin:0px;padding:15px 0;font-weight:bold;}
.newsStoryDate {color: #666;display:block;font-size: 11px;font-weight: 700;}
.img-cont {padding:15px;border-top:2px solid #FFF;border-right:10px solid #F6F6F6;}
.img-cont img {border:1px solid #666;max-width:100%;margin:0 auto;display:block;}
.img-cap, .uplCaption { clear: both; color: #666; display: block; font-family: Tahoma;font-size: 11px;padding-top: 10px;text-align: center;}
.writeBy {color: #df2829 !important; font-family: Arial,Helvetica,sans-serif;  font-size: 16px;  font-weight: 700;margin-bottom:15px;display:block;}
.articleCont {border-right:10px solid #F6F6F6;padding:15px;border-top:2px solid #FFF;font-family:Arial,Helvetica,sans-serif !important;font-size:16px !important;font-weight:700 !important;line-height:28px !important;text-align:justify !important;}
.articleCont font,.articleCont p , .articleCont p span, .articleCont p strong, .articleCont h3, .articleCont h2 {border:none !important;background:none !Important;color:#333;font-family:Arial,Helvetica,sans-serif !important;font-size:16px !important;font-weight:700 !important;line-height:28px !important;text-align:justify !important;}
.articleCont iframe {position:relative !important;display:block;margin:0 auto;max-width:100%;min-height:350px !Important;}
.articleCont .advArticle iframe {min-height:60px !important;}
.articleCont a {color:#DF2829 !important;background:none !Important;}
.articleCont a:hover {text-decoration:underline;}
.relatedNewsArticle {padding:15px;}
.subTitle {font-weight: bold;margin: 10px 0px 0px !important;}
.relatedNewsArticle h2, h2.NewsSubTitleText {border:none !important;color: #df2829;margin:0px;padding:0px;font-size:16px;background:none;font-weight:bold;display:block;font-family:Arial,Helvetica,sans-serif;line-height:25px;}
.relatedNewsArticle a, span.NewsSubTitleText {display:inline-block;color:#df2829 !important;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-weight:700;font-size:16px;line-height:28px;margin:5px 0px;display:block;}
.relatedNewsArticle a:hover, span.NewsSubTitleText:hover {text-decoration:none;}
.NewsSubTitleText {display:inline-block !important;}
.articleHeader h2 {display:none;}
.arrowImg {display: block; float: right; width: 14px; margin: 15px 2px 0px 0px;}
.subTitle	{margin: 0px 20px 3px; font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: rgb(139, 139, 139);}
.articleCont p .img-cap {padding-top:0px;margin-bottom:20px;}
/*Read Also*/
.readAlso {border-top:5px solid #FFF;background:#f0f0f0;padding:15px 0px;border-bottom:5px solid #FFF;}
.readAlso-news {}
.readAlso-news img { border: 1px solid #999;display:block;margin:0 auto;max-height: 130px;max-width: 170px;}
.readAlso-news h3 {padding:5px 0px;margin:0px;}
.readAlso-news h3 a { color: #df2829;  font-family: Arial,Helvetica,sans-serif;  font-size: 17px;text-align: right;font-weight:bold;}
.readAlso-news h3 a:hover {text-decoration:underline;}
.readAlso > div {border-right:1px solid #FFF;}
.readAlsoTitle {color:#FFF;font-size:13px;font-family:'Droid Arabic Kufi',Tahoma;font-weight:bold;}

/*Tags*/
.tags {text-align:right;background:#F0F0F0;padding:15px;border-bottom:5px solid #FFF;}
.tags h3 {margin:0px;padding:0px;display:inline-block;}
.tags h3 a {background:#7a7a7a none repeat scroll 0 0;color:#fff;font-family:'Droid Arabic Kufi';text-align:Center;padding:5px 15px;display:inline-block;font-size:14px;}
.tags h3 a:hover {background:#c51c13 none repeat scroll 0 0;color:#FFF;}

/*Poll result*/
.bar-main-container {
    padding-right: 14px;
}

.bar-main-container .wrap {
    margin-bottom: 3px;
}

.bar-percentage {
    display: inline;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 700;
    margin: -4px 5px 0;
    padding: 0;
}

.bar-container {
    width: 239px;
}
.bar {
    background: rgba(0, 0, 0, 0) url("http://img.youm7.com/images/general/pollMeterBg.gif?1") repeat-x scroll 0 0;
    border: 1px solid #ce2020;
    font-size: 0;
    height: 10px;
    line-height: 0;
    margin: 4px 0 0 70px;
}

/*Don't miss*/
.dontmiss {margin-top: -26px; position: relative; z-index: 99;}
.dontImg {width:100%;}
.dont-cont {}
.dont-cont img {border: 1px solid #999;height: 120px;width: 90px;}
.dont-cont h3 {}
.dont-cont h3 a {}
.dont-cont h3 a:hover {}

/*article head writer*/
.articleArcitle {
    clear: right;
}

.rssCont div { background: #6a6a6a none repeat scroll 0 0;border-right: 10px solid #fff;margin-bottom: 10px;margin-left: 0;margin-top: 0;}
.rssCont a {background:url("http://img.youm7.com/images/rss2.png?2") no-repeat scroll center right;padding:12px 33px 12px 0;display:block;color: #fff;display: block;font-weight: bold;}
.rssCont img {}
#articleWriterImg {
    display: inline;
    float: right;
    margin: 0 12px 0 10px;
    width: 60px;
}

#articleWriterImg img {
    border: 1px solid #999;
    display: block;
    height: 70px;
    margin: 4px;
    width: 50px;
}

#articleHeader h3 {
    color: #999;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin: 0 20px;
    padding: 0;
}

#articleHeader h3 A {
    color: #999;
	font-weight:bold;
	font-size:20px;
	font-family:arial;
}
#articleHeader h1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: medium none !important;
    color: #df2829 !important;
    display: block !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 26px !important;
    height: auto !important;
    margin: 0 20px 5px !important;
    padding: 0 !important;
}

/*Footer Style*/
.footer-up {background:#3A3A3A;padding:5px 15px 15px;}
.footerMenu {}
.footer {min-width:960px !important;}
.footerMenu {}
.footerMenu ul {padding:12px;}
.footerMenu li {float:right;width:33%;margin-top:3px;}
.footerMenu a {}
.footerMenu h2 {font-family:'Droid Arabic Kufi';color:#ccc;text-shadow:0 2px #282828;font-size:14px;padding:4px 0 0 8px;margin-top:7px;font-weight:normal;text-align:right;}
.footerMenu h2:hover {color:#E03030;}
.footerSocialMedia {margin-top:50px;padding:20px 0px ;margin-bottom:20px;clear:both;}
.youm7-partners {margin: 0px auto 20px; max-width: 262px;}
.footer .socialMediaIco {max-width: 304px; margin: 0px auto 15px;min-height:30px;}
.footer-span-new {clear: both; max-width: 196px; margin: 0px auto;}
.copyRights {color:#ccc;clear:both;}
.footer-copyright .copyright {display: inline-block;font-family: 'Droid Arabic Kufi';}
.copyright {float:right;clear:left;direction:rtl;font-family:'Droid Arabic Kufi';font-size:12px;}
.copyright h1 {color: #ccc;display: inline-block;font-family: 'Droid Arabic Kufi';font-size: 13px;}
.social-footer {border-right: 1px solid black; margin-top: 20px;}
.createdBy {font-size:12px;padding-bottom:5px;float:left;clear:left;}
.developedBy .title {float:left;font-size:12px;}
.designedBy img, .developedBy img {display: block;float: left;margin-left: 2px;margin-top: 1px;}
.footer-logo {margin: 0px auto; display: block; max-width: 206px;}
.footer-logo img {margin:0px auto;}
.social-new-ico {width: 196px; margin: 0px auto;}
.social-new-ico a {width:20px;height:20px;display:inline-block;}
.social-new-ico a img:hover, .app-links a img:hover {opacity:0.8;}
.footer-bottom {background:#2D2D2D;padding:15px;}
.app-links {position: relative; top: 65px; float: left; left: 40px;}
.app-links a {display:inline-block;margin:0 auto;}
.mobile-app {background:rgba(0, 0, 0, 0) url("../images/footer/Ada.png") no-repeat scroll center bottom;height:134px;position: relative; max-width: 990px ! important;}


body {background-color: #c31e1e;background-image: url("http://img.youm7.com/images/general/bodyBg.jpg");background-position: center center;background-repeat: repeat-y;}

.container { width: @container-desktop !important; }	

/*Content Style*/
.bodyCont {background:url(../images/contBg.jpg) no-repeat scroll center center #FFF;margin:10px auto;min-height:600px;width:960px !Important;}
.bodyCon {background:#FFF !important;min-width:960px !Important;}
/*It will apply to all ie from 8 and below * */
	@media screen\0 {}
	
	/***********************************************/

    .mostviewedtitle {
    font-family: 'Droid Arabic Kufi';
    color: #747474;
    font-size: 15px;
    line-height: 20px;
}

.smallNews {
    padding: 10px 0px;
    /*height: 55px;
    overflow: hidden;*/
}
.mostRead blockquote {
    padding: 0;
    margin: 0;
    border-left: 0px solid #eee;
}
.mostviewedtitle:hover{    color: #C8050B;}
.akhbar{padding:0;}

/*One Writer*/
.bigOneArticleInfo {background: rgb(240, 240, 240) none repeat scroll 0% 0%; height: 100px; padding-top: 15px;border-bottom:1px solid #FFF;}
.bigOneArticleInfo .bigOneImg {}
.bigOneArticleInfo .bigOneImg img {}
.bigOneArticleInfo h1 {  color: #666;display: block;font-family: Arial,Helvetica,sans-serif;font-size: 22px;margin: 45px 10px 0;font-weight:bold;}
.bigArticle {background:#F0F0F0;padding:15px;border-bottom:1px solid #FFF;}
.bigArticle h3 {}
.bigArticle h3 a { color: #df2829;font-size: 20px;font-weight: bold;text-align: right;text-decoration: none;}
.bigArticle h3 a:hover {text-decoration:underline;}
.bigArticle p {font-family:tahoma;}

.smallArticles {background:#F0F0F0;}
.smallArticles h3 {padding:5px 15px;border-bottom:1px solid #FFF;}
.smallArticles h3 a {color:#3a3a3a;font-size:12px;font-weight:bold;font-family:tahoma;padding:3px 0px;}
.smallArticles h3 a:hover {color:#df2829;}
.smallArticles h3 span { color: #666;font-size: 11px;font-weight: 400;}

/**New Header**/		
	.containerforNewHeader {border-right:1px solid #CDCDCD;border-left:1px solid #CDCDCD;margin:0px 26px 0 0;float:right;position:relative;max-width:584px;direction:rtl;width:578px;direction: rtl;padding:3px 10px 7px;}
	.containerforNewHeader img {display:block;margin-top:4px;}
	.containerforNewHeader a {
	border-right: 0 solid #cdcdcd;
    display: inline-block;
    height: 32px;
    margin: 0 27px !important;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;	
	}
	.containerforNewHeader a:hover {cursor:pointer;}
	.homeIco img {margin-left: 5px; margin-top: -9px;}
	.backToClass {opacity:1 !important;display: block !important; float: right; margin-top: 14px;}
	.containerforNewHeader img:hover {opacity:0.7;}
	.box21Sh{display: none;position: absolute;}
	a:hover + .box21Sh,.box21Sh:hover{display: inline-block;z-index: 100;top:43px;right:auto;left:auto;margin-right: -118px;}
	.box21Sh img {opacity:1 !important;border:2px solid #939393}
	.leftScreenShot {left:0px !important;}
	.socialFixed2 {position: fixed; z-index: 10001;padding: 0px 178px; width: 998px !important; top: -14px;}
	.newHeaderLmenu {margin-bottom:0px;}
	.dropMenu {margin-top: 1px;}
	.headerFix {top:0px;width: 100%; position: fixed; background: transparent url("../images/headerNewBg23.jpg") repeat-x scroll 0px 0px; z-index: 9999;display:none;left:0px;right:0px;}
	.headerFix .header .firstMenu, .header .secondMenu  {min-width:960px !important;}
	.socialFixed22 {display:block;}
	.leftAdsFix {float: left; margin-left: -145px; background: transparent ; width: 130px; height: 600px;}
	.rightAdsFix {float: right; margin-right: -145px; background: transparent; width: 130px; height: 600px;}
	.rightAdsFix1 {position: fixed; z-index:10001; margin-top: -356px; margin-left: 975px;height: 600px;width: 130px;background:transparent;}
	.leftAdsFix1 {position: fixed; margin-left: 0px; z-index: 10001; margin-right: 975px; margin-top: -356px; height: 600px;width: 130px;background:transparent	;}
	.secBody .leftAdsFix1, .secBody .rightAdsFix1 {margin-top: -238px !important}
	.headerNewNew {background:#fff url("../images/headerNewBg23.jpg") repeat-x scroll 0 0;width:100%; }
	#commentsList .titleComment, #addCommentBlock .titleComment {padding:5px;color:#FFF;background:#5D5D5D;margin: 5px 0px; font-weight: bold; font-family: droid arabic kufi; font-size: 12px;}
	#addCommentBlock {background:#F0F0F0;}
	#result label {display:block;font-size:12px;}
	#PostOpinionForm .submit { background: transparent url("http://img.youm7.com/images/sendBtn.gif?1") no-repeat scroll 0 0;
    border: medium none !important;
    color: #df2829;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 22px;
    line-height: 0;
    margin: 0 auto;
    text-decoration: none;
    width: 54px;}
	#addCommentBlock p input, #addCommentBlock p textarea {
    color: #333;
    font-family: Tahoma;
    font-size: 14px;
    max-width: 540	px !important;
	border:1px solid #666;
    width: 540px;}
	#commentsList blockquote {padding:0px;background:#F0F0F0;}
	.commentCount {background: transparent url("http://img.youm7.com/images/commentIcon.gif?1") no-repeat scroll 0 0;
    color: #fff;
    display: inline;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 23px;
    font-weight: 700;
    height: 36px;
    margin: 10px 10px 0 0;
    padding-left: 8px;
    text-align: left;
    width: 50px;}
	.socialFixed22 .dropMenu ul {right:-47px !important;width:180px !important;}
	.socialFixed22 .dropMenu li {min-width:200px !important;clear:both !important;float:none !Important}
	.ta3leq textarea {height:150px;max-width:100% !important;}
.commentBlock {
    border-bottom: 2px solid #fff;
    clear: both;
    margin: 5px 0 0;
    width: 100%;
	background:#f0f0f0 none repeat scroll 0 0;
}
.commentHeader {
    display: inline;
    float: right;
    margin: 10px;
    width: 440px;
}

.commentHeader h4 {
    color: #df2829;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0 0 3px;
	font-weight:bold;
}

.commentAuthor {
    display: block;
    font-size: 11px;
    font-weight: 700;
    margin: 0 0 3px;
}

.commentDate {
    color: #666;
    display: block;
    font-size: 11px;
    margin: 0;
}

.commentBody {
    clear: both;
    width: 100%;
}
.showMore1 {background:#F0F0F0;padding: 1px; display: block; margin-top: -22px;}
.no-more-data {padding: 10px;color: rgb(223, 40, 41); font-weight: bold; text-align: center; background: rgb(240, 240, 240) none repeat scroll 0% 0%; padding: 10px 10px 5px;}
.commentBody p {
    border-top: 1px solid #f9f9f9;
    display: block;
    margin: 5px 20px 5px 10px;
    padding: 10px;
    text-align: justify;
	font-family: Tahoma;
    font-size: 12px;
}
.youm7Protocol {background:#F0F0F0;padding:10px;color:#df2829;font-family:Droid Arabic Kufi;font-weight:bold;font-size:13px;text-align:center;}
.youm7Protocol a {color:#666;font-weight:bold;display:block;text-align:center;margin-top:10px;}
.youm7Protocol a:hover {color:#df2829;}
.articleCont img {max-width:100%;margin:0 auto;display:block;}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.share_icons .whatsapp {display:inline-block;} 
	.newsInfo .label1 a {font-size:13px;}
	.headerFix .secondMenu {display:none !important;}
	.newsLinks h4, .newsLinks h3 {font-size:13px !important;}
	.smallOneSec a {font-size:13px;}
	.smallSections .smallSection:nth-child(2n) h3 a {font-size:14px !important;}
	.searchCont input {height:28px !important;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	 .share_icons .whatsapp {display:inline-block;}
	 .newsInfo .label1 a {font-size:12px;}
	 .headerFix .secondMenu {display:none !important;}
	 .newsLinks h4, .newsLinks h3 {font-size:12px !important;}
	 .smallOneSec a {font-size:12px;}
	 .smallSections .smallSection:nth-child(2n) h3 a {font-size:13px !important;}
	 .searchCont input {height:28px !important;}
	}
 
 
/*Search Page*/
.totalresult {font-family: Droid Arabic Kufi;font-size: 15px;width: 215px;}
#NewsSectionPaging {direction: rtl;}
.no-results {display: block; font-family: Droid Arabic Kufi; font-size: 16px; margin: 0 auto; width: 11%; color: #e03030;}
.searchDiD {display:none;float: right;margin-left: 7px;margin-right: -156px;}
.resultT  {margin-top: 66px;}
 #PagingHref {
            background: url("http://img.youm7.com/images/moreMoreNew.png?2") no-repeat scroll 0 0 transparent !important;
            border: medium none !important;
            color: transparent;
            display: block;
            font-size: 16px;
            height: 37px;
            margin-bottom: 0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: 10px;
            padding: 0;
            text-align: center;
            width: 96px;
        }

        /* fix rtl for demo */ .chosen-rtl .chosen-drop {
            left: -9000px;
        }

        <a href="../../Models/News.cs" > ../../Models/News.cs</a > #result {
            border: 1px solid #920013;
            border-radius: 10px 10px 10px 10px;
            float: right;
            margin-right: -10px;
            padding: 9px;
            width: 619px;
        }

        input.showMore {
            clear: right;
            cursor: pointer;
            display: block;
            margin-top: 10px;
            padding: 0 20px;
        }

        body {
            margin: 0 auto;
        }

        .content {
            margin: 0 auto !important;
        }

        #Srcform {
        }

        }

        div.frmdata {
        }

        .frmdata {
            background: none repeat scroll 0 0 #EFEFEF;
            padding: 20px;
            margin:  20px auto;
        }

        div.frmdata .tr {
            clear: right;
        }

            div.frmdata .tr .firsttd {
                font-family: Droid Arabic Kufi;
                width: 215px;
                font-size: 15px;
            }

            div.frmdata .tr div {
                margin-bottom: 9px;
                float: right;
                width: 50%;
                font-family: tahoma;
            }

        div.frmdata input {
            border: 1px solid #C6C6C6;
            height: 29px !important;
            width: 334px;
        }

        .chosen-choices li.search-field input {
        }

        .text-areaSmall {
            width: 105px !important;
        }

        div.frmdata select
        }

        div.frmdata ul {
        }
		.searchHeader .dropMenu a{padding-top:19px !important;}
		.searchHeader .dropMenu ul li {clear: both !important;float: none !important;min-width: 200px !important;}
		.searchHeader .dropMenu h2 {padding:0 8px !important;}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.smallOneSec {height:250px !important;}
	.newsLinks h4, .newsLinks h3, .smallOneSec a {font-size:14px !important;}
	.smallSections .smallSection:nth-child(2n) h3 a {font-size:15px !important;}
	.searchCont input {padding-top:0px !Important;line-height:20px !important;}
	.newsInfo .label1 a {font-size:13px;}
	.dropMenu ul {left:0px !Important;right:-70px !important;}
	.newsLinks h4, .newsLinks h3 {font-size:13px !important;}
	.smallOneSec a {font-size:13px;} 
	.smallSections .smallSection:nth-child(2n) h3 a {font-size:14px !important;}
	.searchCont input {height:28px !important;}
	
	}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.smallOneSec {height:250px !important;}
	.newsLinks h4, .newsLinks h3, .smallOneSec a {font-size:14px !important;}
	.smallSections .smallSection:nth-child(2n) h3 a {font-size:15px !important;}
	.searchCont input {padding-top:0px !Important;line-height:20px !important;}
	.newsInfo .label1 a {font-size:13px;}
	.dropMenu ul {left:0px !Important;right:-70px !important;}
	.headerFix .secondMenu {display:none !important;}
	.newsLinks h4, .newsLinks h3 {font-size:12px !important;}
	.smallOneSec a {font-size:12px;}
	.smallSections .smallSection:nth-child(2n) h3 a {font-size:13px !important;}
	.searchCont input {height:28px !important;}
	
}
        /*div.frmdata .searchbutton {
            background: url("http://www.youm7.com/images/graphics/searchBtn.gif?1") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: medium none !important;
            border-radius: 4px;
            color: transparent;
            cursor: pointer;
            height: 22px !important;
            margin: 20px 334px 0 0;
            width: 53px;
        }*/
		#showorhide {clear:both !important;}
        #headerAds {
            float: left;
            height: 90px;
            margin-top: 13px;
            padding: 0 19px 14px 20px;
            vertical-align: top;
            direction: rtl;
            width: 240px;
        }

        .showMoreNew {
            cursor: pointer !important;
            border: none !important;
        }
		.chosen-container.chosen-with-drop .chosen-drop {position:relative !important;z-index:9999;overflow:hidden;height:150px !important;right:0px !important;width:100%;}
		.chosen-container-multi .chosen-choices li.search-choice, .chosen-container .chosen-results li {font-family:Droid Arabic Kufi !important;}
		.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {background:url('../images/Delete.png?2') 0 0 no-repeat !important;}
		.chosen-container {width:461px !important;}
        .info_section {
            border-bottom: 2px solid #fff;
            margin-top: 20px;
            overflow: hidden;
            height: auto !important;
            padding-bottom: 10px;
            width: 770px;
        }

        .l_info_section {
            float: left;
            width: 593px;
        }

            .l_info_section h2 {
                line-height: 28px !important;
                margin: 0 !important;
                overflow: hidden;
                width: 576px;
            }

        #header #logoBar {
            margin-top: -2px;
        }

        .footer-menus {
            padding-top: 38px !important;
        }

        .l_info_section a:link {
            color: #e03030;
            display: block;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 18px;
			font-weight:bold;
            text-decoration: underline;
        }

        .l_info_section span {
            float: left;
            font-family: 'droid_arabic_naskhregular';
            font-size: 12px;
            font-weight: 100;
            height: 20px;
            margin-top: 5px;
            width: 593px;
        }

            .l_info_section span h6, .l_info_section span h3 {
                color: #868686;
                float: right;
                font-family: tahoma;
                font-size: 11px;
                font-weight: 100;
                width: 45%;
            }

        .l_info_section p, .l_info_section h3 {
            -moz-font-feature-settings: normal;
            -moz-font-language-override: normal;
            color: #3a3a3a;
            font-family: tahoma;
            font-size: 12px;
            font-weight: normal;
            line-height: 20px !important;
            margin-bottom: 0;
            overflow: hidden;
            text-align: justify;
            width: 576px;
        }

        .article {
            float: right;
            height: 70px !important;
            margin-left: 10px;
            margin-top: 10px;
            overflow: hidden;
            width: 50px !important;
        }

            .article img {
                height: 70px !important;
                width: 50px !important;
            }

        .l_info_section {
            float: right !important;
        }

        .info_section {
            width: 100% !important;
        }

        .r_info_section img {
            float: right;
            height: 133px;
            width: 164px;
            border: 1px solid #666;
        }

        .r_info_section {
            float: right;
            height: 133px;
            margin-left: 5px;
            width: 168px;
        }

        .l_info_section a {
            color: #e03030;
        }

        .secref a {
            color: rgb(139, 139, 139) !important;
            font-weight: bold !important;
            font-size: 15px !important;
        }
#mainContainer {margin: 0 auto;
width:960px;
    overflow: hidden;
    padding: 0;}
.border-bottom {height:10px;background:#414141;}
.tr .searchbtn {padding:5px;text-align:center;display:inline-block;}
#elmazeed {border-radius:0px !important;margin:0px;width:100%;padding: 7px 15px; font-weight: bold;background:#2d2d2d none repeat scroll 0 0;}
#elmazeed:hover {background:rgb(237, 27, 36) none repeat scroll 0 0;}
.tr {margin-top:10px;}
.tr .searchTxt {width:100%;float:none;}
.moremore { display: block;float: left !important;margin-top: 5px;width: 25% !important;}
.searchBig {margin-top:5px;background: rgb(237, 27, 36) none repeat scroll 0% 0%; width: 25% !important; color: rgb(255, 255, 255); font-family: Droid Arabic Kufi !important; font-weight: bold; cursor: pointer;}
#elmazeed {color:#FFF;font-family: droid arabic kufi; display: block; padding: 4px 15px; font-size: 13px;}
#Drpcallist_chosen {width:100% !important;}
.chosen-drop {width:100% !important;}
.field-validation-error {color: rgb(195, 30, 30); font-size: 12px;}
.shortUrl {padding:2px 0px 5px;clear: both; width: 100%; margin: 0px auto; text-align: center; background: rgb(240, 240, 240) none repeat scroll 0% 0%; border: 1px solid rgb(227, 227, 227); max-width: 360px;}
.shortUrl span {}
.shortUrl input {width:200px;border: 1px solid rgb(67, 67, 67); text-align: left; padding: 2px;}
.shortUrl button {background: rgb(67, 67, 67) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 2px 5px; font-size: 14px; margin-top: 4px; border-radius: 0px;}
.shortUrl button:hover {background:#C31E1E;color:#fff;}
.relatedLinks {}
.relatedLinks span {color:#df2829 !important;display:block;margin-bottom:10px;font-size: 16px;font-family:Droid Arabic Kufi;}
.relatedLinks h4 {margin:0px;padding:0px;margin-bottom: 14px;}
.relatedLinks h4 a {color:#df2829;font-family: Arial,Helvetica,sans-serif;font-size: 15px;font-weight: 700;line-height: 28px;text-align: justify;display:block;margin-bottom:5px;text-decoration:underline;}
.relatedLinks h4 a:hover {text-decoration:none;}
.sharePrint {text-align:center;margin:15px auto;}
.sharePrint a {display:inline-block;}
.sharePrint img:hover {opacity:0.8;}
.imgcontainer {margin:15px auto;}
.imgcontainer span, .articleCont p, .articleCont span, .articleCont strong, .articleCont div {background:none !Important;}
.imgcontainer br {display:none !important;}
.fixedMenMen {position:relative;}
.date-header {display: inline-block; float: left; color: #000; position: absolute; left: 12px; top: 12px;font-size:13px;font-size:13px;}
.img-cap, .uplCaption, .imgcontainer .uplCaption { clear: both !Important; color: #666 !Important; display: block !Important; font-family: Tahoma !Important;font-size: 11px !Important;padding-top: 3px !Important;text-align: center !Important;margin-bottom:20px !important;}
.coloredquoute, .coloredquoute span, .coloredquoute strong, .coloredquoute p, .coloredquoute b {color:#df2829 !important;}

/*Sports Wedj.*/
.sports-wedjet {margin:15px auto;max-width:360px;background:#F0F0F0;}
.top-sports {background:#f0f0f0 url("../images/sports-img/sports-bg-small.jpg") no-repeat scroll center bottom;}
.sports-wedjet h2 {font-family: Droid Arabic Kufi; font-weight: bold; font-size: 16px;font-size: 15px;color:#40CF7B;margin:5px 0px;text-align:center;background: transparent none repeat scroll 0% 0%; border: medium none;padding:10px;}
.sports-week {color:#787878;text-align: center; font-size: 11px; font-weight: bold;padding:0 0 15px ;}
.sports-week span {background:#787878;border-radius: 50px; padding: 2px 8px; color: rgb(255, 255, 255);}
.big-match {text-align:Center;}
.big-match div {display:inline-block;}
.big-team {}
.big-team img {display:inline-block;}
.big-team span {display:block;font-weight:bold;padding:3px;}
.sports-time {color:#40CF7B;font-size:25px;font-weight:bold;}
.sports-location {color:#787878;text-align:center;font-size:13px;}
.sports-sponser {text-align:left;padding:5px;font-weight:bold;font-size:13px;}
.sports-sponser span {display:block;}
.sports-sponser img {display:inline-block;}
.bottom-sports {background:#3B3B3B;padding:10px 0;}
.bottom-sports img {display:inline-block;}
.bottom-sports span {color:#FFF;text-align: center;}
.match-details {border-bottom:1px solid #c31e1e;border-radius: 5px;text-align: center;margin:0 auto 10px; max-width: 340px; background: rgb(67, 67, 67) none repeat scroll 0% 0%; padding: 4px;}
.right-small-club {text-align:right;}
.left-small-club {text-align:left;}
.small-match-details {padding:0px;font-weight:bold;font-size:11px;color: #FFF;text-align: center;}
.time-small-match {background:#3B3B3B;display:inline-block;margin:5 auto;padding:3px 5px;}
.result-small-match {}
.sports-scd {background:#27AE61;color:#FFF !important;margin-top: 0px; margin-right: auto; margin-left: auto; width: 100px; display: block; text-align: center; border-radius: 5px; padding: 2px;}
.sports-wedjet-big {max-width:100%;}
.sports-wedjet-big .top-sports {background:#f0f0f0 url("../images/sports-img/sports-bg.jpg") no-repeat scroll center bottom;}
.sports-wedjet-big .bottom-sports {min-height: 230px;}
.sports-wedjet-big .sports-week {display:block;}
.sports-wedjet-big .sports-location {font-size: 10px;}
.sports-wedjet-big .top-sports {min-height:230px;}
.bottom-sports .match-details:last-child {border-bottom:1px solid #C31E1E;}
.voteNewNew {max-width:300px;margin:0 auto;}
#showt-xd-iframe {display:none;}

@media print {
  a[href]:after {
    content: none !important;
  }
  .socialFixed22 {display:none !important}
  .right-Content h2 {background:#5d5d5d none repeat scroll 0 0 !important;}
  .footer {background:#3A3A3A !important;}
}

.showt-xd-iframe{display:none}

/*new polls*/
.newPolls {text-align:right;direction:rtl;background: rgb(240, 240, 240) none repeat scroll 0% 0%; padding: 10px 5px;}
.question-poll {}
.question-poll h3 {color:#DF2829;font-family:'Droid Arabic Kufi';text-align:right;direction:rtl;display: block; padding: 5px; font-size: 20px;}
.question-poll iframe, .question-poll img {max-width:100%;margin:5px auto 15px; display: block; width: 95%;}
.answers-polls {margin:0px;}
.answers-polls div {border:1px solid #E03029;padding:5px;}
.answers-polls iframe {max-width:90%;}
.answers-polls span {padding: 0px 5px;display: inline-block; min-height: 25px; color: rgb(223, 40, 41); font-weight: bold;}
.answers-polls option {display: inline-block; margin-left: 3px;}
.answers-polls img {width: 100%;}
.postquareNewsLeft {margin:5px 11px 0px -15px !important}
.margin-top iframe {display:block;margin:10px auto !important;max-width:100%;}

/*new Header*/
.firstMenu {border-top:1px solid #cdcdcd;background:rgba(0, 0, 0, 0) url("../images/newHeader/bg.png") repeat scroll center center; min-height: 54px;padding-top: 3px;}
.date-header img{display:inline-block;margin-right:10px;}
.ourWebsites {float: right; margin-top: 15px;}

/*enas*/
.first-women-row {}
.first-women-row img {margin:0 auto;display:block;}
.first-women-row .right-Content {padding-bottom:12px !important;}
.first-women-row .right-Content, .women-cont .articleCont {background:#f0f0f0 none repeat scroll 0 0}
.women-title {background:#D7D7D7;margin:5px 0 0;}
.women-title a {color:#E24743;font-family:"Droid Arabic Kufi";font-size:16px;padding:0 5px 10px;font-weight:bold;display:inline-block;}
.women-cont .bigOneSec .newsDate {margin-right:0px;}
.women-cont .bigOneSec {overflow:hidden;margin-top:5px;height: 398px;}
.women-cont .bigOneSec h3 {margin-top:5px;}
.women-cont .bigOneSec img{width:100%;}
.women-cont .smallSection h3 a {line-height:20px !important;}
.women-cont .bigOneSec p {padding: 10px 0px;line-height:23px;} 
.women-news-small {text-align:right;padding:5px;}
.women-news-small .smallSection img {width:100%;max-width:100%;}
.women-news-small .smallSection{width:180px;display: inline-block;margin:0 0 5px;}
.women-title img{display:block;margin:0 auto;}
.women-albums .bigOneSec {border-left:2px solid #fff;}
.women-album h3 {text-align:center;}
.women-album img {margin:5px auto;display:block;}
.women-album h3 a { font-size: 20px;line-height: 22px;color:#df2829;font-weight: bold; display: inline-block; margin-top: 6px;}
