@charset "Shift_JIS";

/* == BASIC ELEMENTS' SETTINGS == */
body {
	margin: 0px;
	padding: 0px;
	color: #000;
	background-color: #fff;
	font-size: 12px;
}
div,
p {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
a,
a:link {
	color: #333;
	text-decoration: underline;
}
a:visited {
/*	color: #333;
	text-decoration: none;*/
	color: #666;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #666;
	text-decoration: none;
}
img {
	border: none;
}
/* == /BASIC ELEMENTS' SETTINGS == */

/* == BASIC PARTS == */
.wrapper {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.header-inner,
.link-area-inner,
.footer-inner {
	margin: 0px auto;
	width: 950px;
}
.header {
	height: 75px;
	min-width: 950px;
	background: url(../images/bg-header.jpg) center top no-repeat;
}
.link-area {
	clear: both;
/*	_height: 360px;*/
	min-height: 360px;
	min-width: 950px;
	color: #fff;
	background-color: #535252;
	background: url(../images/bg-link_area.gif) left top repeat-x;
}
.footer {
	height: 50px;
}
/* == /BASIC PARTS == */

/* == COMMON CLASSES == */
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0px;
	visibility: hidden;
}
.no-display {
	display: none;
}
img.icon-link-a {
	vertical-align: middle;
	padding-right: 5px;
}
img.icon-outlink-a {
	vertical-align: middle;
	padding-left: 3px;
}
span.note {
	font-size: 10px;
	color: #666;
}
.no_script {
	margin: -20px auto 10px;
	border: 1px solid #f60;
	padding: 5px 7px;
	width: 60em;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}
/* == /COMMON CLASSES == */

/* == HEADER == */
.header-inner {
	position: relative;
}
.header .logo {
	margin: 0px;
	padding: 16px 0px 0px;
	width: 197px;
	height: 59px;
	float: left;
}
.header .logo h1 {
	margin: 0px;
	padding: 0px;
}
.header div.grand-navi {
	margin: 0px;
	padding: 18px 0px 0px;
	width: 471px;
	height: 57px;
	float: left;
}
.header div.grand-navi ul.grand-navi {
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 5px 0px;
	width: 458px;
	height: 52px;
	list-style: none;
}
.header div.grand-navi ul.grand-navi li {
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
}
.header div.grand-navi ul.grand-navi li.grand-navi-partition {
	margin-right: 10px;
}
.header .houjin {
	margin: 0px;
	padding: 18px 0px 0px;
	width: 103px;
	height: 57px;
	float: left;
	position: relative;
	z-index: 10;
}
.header .link_search {
	margin: 0px;
	padding: 0px;
	width: 179px;
	height: 75px;
	font-size: 10px;
	line-height: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
}
.header .link_search #link-sitemap {
	position: absolute;
	right: 60px;
	top: 16px;
}

.header .link_search #siteserch {
	position: absolute;
	right: 54px;
	top: 16px;
}


.header .link_search #link-buffalo_global {
	position: absolute;
	right: 0px;
	top: 16px;
}
.header .link_search form#site-search {
	position: absolute;
	right: 0px;
	top: 36px;
}
.header .link_search form#site-search input {
	vertical-align: middle;
}
.header .link_search form#site-search input#site-search-query {
	font-size: 12px;
	line-height: 14px;
	padding: 2px 1px;
	width: 114px;
	height: 14px;
	border: 1px solid #7f9db9;
	background: url(../images/bg-query_text.gif) no-repeat 2px center;
	background-color: #fff;
}
/* == /HEADER == */

/* == LINK_AREA == */
.link-area a,
.link-area a:link {
	color: #fff;
	text-decoration: underline;
}
.link-area a:visited {
/*	color: #fff;
	text-decoration: none;*/
	color: #ccc;
	text-decoration: underline;
}
.link-area a:hover,
.link-area a:active {
	color: #ccc;
	text-decoration: none;
}
.link-area .link-area-inner {
	padding-top: 10px;
}
.link-area h3 {
	margin: 18px 0px 8px;
	padding: 0px;
}
.link-area ul.flat {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	line-height: 13px;
	list-style: none;
}
.link-area ul.flat li {
	margin: 0px;
	padding: 2px 0px;
}
.link-area ul.flat li.mt6 {
	margin-top: 0px;
}
.link-area div.link-column {
	float: left;
}
.link-area div#link-column1 {
	width: 90px;
}
.link-area div#link-column2 {
	width: 120px;
}
.link-area div#link-column3 {
	width: 150px;
}
.link-area div#link-column4 {
	width: 165px;
}
.link-area div#link-column5 {
	width: 140px;
}
.link-area div#link-column6 {
	width: 160px;
}
.link-area div#link-column7 {
	width: 120px;
}
.link-area h3 {
	text-indent:-9999px;
	background:no-repeat;
	font-size:100%;
	height:12px;
}
.link-area #link-memory {
	background-image:url(/common/images/txt-memory.gif);
}
.link-area #link-usbmemory {
	background-image:url(/common/images/txt-usb_memory.gif);
}
.link-area #link-memorycard {
	background-image:url(/common/images/txt-memory_card.gif);
}
.link-area #link-ssd {
	background-image:url(/common/images/txt-ssd.gif);
}
.link-area #link-hdd {
	background-image:url(/common/images/txt-harddisk.gif);
}
.link-area #link-drive {
	background-image:url(/common/images/txt-dvd_drive.gif);
}
.link-area #link-addoninterface {
	background-image:url(/common/images/txt-addon_interface.gif);
}
.link-area #link-wirelesslan {
	background-image:url(/common/images/txt-wireless_lan.gif);
}
.link-area #link-lanconnection {
	background-image:url(/common/images/txt-lan_connection.gif);
}
.link-area #link-visualdevice {
	background-image:url(/common/images/txt-visual_device.gif);
}
.link-area #link-kids {
	background-image:url(/common/images/txt-kids.gif);
}
.link-area #link-customersupport {
	background-image:url(/common/images/txt-customer_support.gif);
}
.link-area #link-taioujoho {
	background-image:url(/common/images/txt-taiou_joho.gif);
}
.link-area #link-bsolution {
	background-image:url(/common/images/txt-b_solution.gif);
}

/* == /LINK_AREA == */

/* == FOOTER == */
.footer .footer-menu {
	margin: 0px;
	padding: 5px 0px 0px;
	max-width: 747px;
	font-size: 10px;
	line-height: 12px;
	float: right;
}
.footer .footer-menu ul {
	margin: 0px;
	padding: 10px 0px 0px;
	list-style: none;
	float: left;
}
.footer .footer-menu ul li {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	float: left;
}
.footer .footer-menu div.footer-logo-buffalo {
	margin: 0px;
	padding: 9px 0px 0px 12px;
	float: left;
}
.footer .footer-menu div.footer-logo-melco {
	margin: 0px -3px 0px 0px;
	padding: 0px 0px 0px 15px;
	width: 121px;
	height: 29px;
	position: relative;
	float: left;
}
.footer #copyright {
	margin: 0px;
	padding: 15px 0px 0px;
	width: 202px;
	height: 12px;
	float: left;
}
/* == /FOOTER == */

/**
 * osusume-information(2012/03/14)
*/
#osusume-information {
	min-width: 950px;
	*height: 150px;
	background: url(/common/images/osusume-information/bg.gif) 0 0 repeat;
	text-align: center;
	margin: 0;
	padding:0 0 15px 0;
}
#osusume-information .osusume-header {
	width: 950px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
#osusume-information .osusume-header:after {
	clear: both;
	content: " ";
	display: block;
	height: 0px;
	visibility: hidden;
}
#osusume-information .title {
	float: left;
	margin: 7px 0 10px 0;
	padding: 0 0 0 8px;
	position: relative;
	border-left: 4px solid #b91d1c;
	color: #333;
	font-size: 120%;
}
#osusume-information .detail {
	float: right;
}
#osusume-information h2 a {
	position: absolute;
	top: -3px;
	right: 0;
	z-index: 560;
}
#osusume-information .inner {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
#osusume-information .footOsusumeSlide {
	width: 960px;
	margin: 0 auto;
	*overflow: hidden;
}
#osusume-information #slider {
	width: 950px;
	height: 135px;
	margin:-20px 0 0 0;
}
#osusume-information #slider div {
	width: 880px;
	height: 91px;
	margin: 20px 0 0 26px;
}

#osusume-information-slidewrap {
	padding: 5px 0 0 0;
}
#osusume-information-slide {
	width: 868px;
	height: 91px;
	padding: 0 32px 0 50px;
}
#osusume-information-slide-inner {
	width: 848px;
	height: 91px;
	overflow: hidden;
	position: relative;
	margin: 0 20px 0 0;
}
#osusume-information-slide-inner div {
	width: 848px;
	height: 91px;
	margin: 0 0 0 -20px;
}
#osusume-information-slide ul {
	width: 868px;
	height: 91px;
	margin: 0 0 0 -20px;
	padding: 0;
	list-style: none;
}
#osusume-information-slide li {
	float: left;
	_display: inline;
	margin: 0 0 0 20px;
	padding: 0;
}
#osusume-information-slide .image {
	display: block;
	position: relative;
	padding: 3px 4px 4px 4px;
	background: #fff;
	text-align: center;
}
#osusume-information-slide .image img {
	display: inline;
}
#osusume-information-slide .ribbon {
	width: 55px;
	height: 55px;
	display: block;
	position: absolute;
	top: 0;
	right: -1px;
	z-index: 200;
}
#osusume-information-slidewrap .jquery-slider {
	position: relative;
}
#osusume-information-slide .jquery-slider-element {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}
#osusume-information-slide .jquery-slider-control {
	width: 31px;
	height: 31px;
	display: block;
	margin: 16px 0 0 0;
	cursor: pointer;
}
#osusume-information-slide .jquery-slider-control-prev {
	background: url(/common/images/osusume-information/btn-navi.gif) 0 0 no-repeat;
}
#osusume-information-slide .jquery-slider-control-prev:hover {
	background: url(/common/images/osusume-information/btn-navi.gif) 0 -31px no-repeat;
}
#osusume-information-slide .jquery-slider-control-next {
	float: right;
	background: url(/common/images/osusume-information/btn-navi.gif) -31px 0 no-repeat;
}
#osusume-information-slide .jquery-slider-control-next:hover {
	background: url(/common/images/osusume-information/btn-navi.gif) -31px -31px no-repeat;
}
#osusume-information-slide .osusumePrev {
	width: 34px;
	height: 105px;
	display: block;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: 300;
	padding: 0;
}
#osusume-information-slide .osusumeNext {
	width: 34px;
	height: 105px;
	display: block;
	position: absolute;
	top: 14px;
	right: 0;
	z-index: 310;
	padding: 0;
}
#osusume-information-slide .jquery-slider-pages {
	height: 20px;
	overflow: visible;
	position: absolute;
	top: -31px;
	right: 460px;
}
#osusume-information-slide .jquery-slider-page {
	width: 17px;
	height: 17px;
	display: block;
	float: right;
	position: relative;
	background: url(/common/images/osusume-information/icon-pagenation.gif) 0 0 no-repeat;
	cursor: pointer;
}
#osusume-information-slide .jquery-slider-page:hover {
}
#osusume-information-slide .jquery-slider-page-current {
	background: url(/common/images/osusume-information/icon-pagenation.gif) -17px 0 no-repeat;
	cursor: default;
}

/**
 * footer-navi(2012/03/14)
*/
#footer-navi {
	min-width: 950px;
	clear: both;
	padding: 30px 0 30px 0;
	background: #535252 url(/common/images/footer-navi/bg-link_area.gif) 0 0 repeat-x;
	color: #fff;
	text-align: center;
}
#footer-navi a {
	color: #fff;
	text-decoration: underline;
}
#footer-navi-inner {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: url(/common/images/footer-navi/separator.gif) 0 0 repeat-y;
}
#footer-navi .products {
	width: 444px;
	float: left;
}
#footer-navi .support_s {
	width: 222px;
	float: left;
	padding: 0 0 0 31px;
}
#footer-navi .company {
	width: 222px;
	float: left;
	padding: 0 0 0 31px;
}
#footer-navi .title {
	margin: 0 0 13px 0;
	padding: 0 0 0 10px;
	background: url(/common/images/footer-navi/arrow-write.gif) 0 0.3em no-repeat;
	font-size: 120%;
}
#footer-navi .column {
	padding: 0 0 0 10px;
}
#footer-navi .products .column {
	width: 212px;
	float: left;
}
#footer-navi .column ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer-navi .column li {
	margin: 0 0 5px 0;
	line-height: 1.4;
}
.footer .footer-menu {
	font-size: 100%;
}
/* 201207 SNS button */
/* 201611 SNS button 修正 */
#lineShareArea {
	/*width:462px;*/
	float:right;
	margin:0;
}
#lineShareArea a {
	width:auto !important;
	text-decoration:none !important;
	padding:0 !important;
	text-indent:0 !important;
}
#lineShareArea img {
	display:inline !important;
}
#lineShareArea ul {
	*height:20px;
	*overflow:hidden;
	margin:0;
}
#lineShareArea ul li {
	display:inline;
	float:left;
	padding:0;
	margin:0 0 0 10px !important;
	vertical-align:middle;
}
#lineShareArea ul li a span{
	display: block !important;
}
#lineShareArea ul li.twitterBt {
	width:92px;
}
#lineShareArea ul li.mixiCheckBt {
	margin:0 0 0 7px !important;
	width:58px;
}
#lineShareArea ul li img {
	margin:0 !important;
	padding:0 !important;
}
#lineShareArea .shareBt a {
	font-size:12px;
}
#lineShareAreaWrap {
	width:950px;
	margin:5px auto 0 auto;
	*margin:5px auto 5px auto;
}
.mb5{
	margin-bottom: 5px;	
}
.mb20{
	margin-bottom: 20px;	
}
/* 201406 サービス追加 */
#footer-navi .products{
	width: 365px;
}
#footer-navi .products .column{
	width: 172px;
}
#footer-navi .service{
	padding: 0 10px;
	width: 185px;
	float: left;
}
#footer-navi .support_s{
	padding: 0 10px;
	width: 180px;
}
#footer-navi .company{
	padding: 0 0 0 10px;
	width: 170px;
}
#footer-navi .noLinkTitle{
	background:none;
}
/* 201406 ロゴ変更 */
.header .logo{
	padding: 12px 0px 0px;
}
/* 201408 ヘッダーサービス追加 */
.header .logo{
	width: 164px;
}
.header div.grand-navi ul.grand-navi li.grand-navi-partition {
	margin-right: 7px;
}
.header div.grand-navi ul.grand-navi{
	margin:0 8px 0 0;
	width:504px;
}
.header div.grand-navi{
	width:512px;
}
#footer-navi a.newwin{
	background: url(../images/icon-window_02.gif) right 50% no-repeat;
	padding-right: 16px;
}
/* 2015 4 Facebookウィジェット追加 */
#facebookBox{
	border-top:1px solid #ccc;
	margin:30px 0 0 0;
}
#facebookBox #facebookBoxInner{
	background:#f6f7f8;
	padding:0 110px;
	margin:30px 0 0 0;
}