@charset "euc-jp";

/* == BASIC PARTS == */
.pankuzu-area-inner,
.main-inner {
	margin: 0px auto;
	width: 950px;
}
.pankuzu-area {
	min-width: 950px;
	background-color: #b91d1c;
}
.pankuzu-area-inner {
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 17px;
}
.pankuzu-area-inner:after {
	clear: both;
	content: " ";
	display: block;
	height: 0px;
	visibility: hidden;
}
.pankuzu-area-inner .pankuzu-list {
	font-size: 12px; /* TMP */
	line-height: 17px;
	color: #fff;
	float: left;
	width: 740px;
}
.pankuzu-area-inner .pankuzu-list a,
.pankuzu-area-inner .pankuzu-list a:link,
.pankuzu-area-inner .pankuzu-list a:visited {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}
.pankuzu-area-inner .pankuzu-list a:hover,
.pankuzu-area-inner .pankuzu-list a:active {
	color: #fff;
	text-decoration: none;
}