@charset "euc-jp";
.floating{
	position:relative;
	top:60px;
	display: none;
}
.floating a:hover img{
	opacity:0.9;
	filter: alpha(opacity=90);
	-ms-filter: "alpha(opacity=90)";
}
.floatingClose {
	position: absolute;
	display: block;
	height: 22px;
	width: 22px;
	cursor: pointer;
	z-index: 10;
	right: 5px;
	top: 6px;
}
.slideImg .floatingClose{
	display:none;
}
.floatingImg{
	position:absolute;
	top:0;
	right:0;
}
.floatingOpen{
	position: absolute;
	right: -45px;
	cursor: pointer;
}