/* == DEFAULT == */
a,
a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	color: #600060;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #b91d1c;
	text-decoration: none;
}
/* == /DEFAULT == */
