/* == PICKUP_AREA == */
.pickup {
	padding: 0;
	min-width: 950px;
	min-height: 152px;
	background: #ffffff url(../images/bg-pickup.png) no-repeat center top;
}
.pickup-inner {
	margin: 0 auto;
	width: 950px;
	position: relative;
}
.pickup #font-resize {
	padding-top: 6px;
}

/* ==== */

#pickup-head {
	padding-top: 4px;
	height: 44px;
/*	float: left;*/
}
#pickup-head h2#pickup-title {
	margin: 0;
	padding: 0;
	height: 44px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/pickup/h2-pickup_12.gif) no-repeat left bottom;
}
#pickup-body {
	position: relative;
}
#pickup-body .pickup-body-inner {
	width: 950px;
}
#pickup-body ul.pickup-banner-list {
	margin: 0;
	padding: 0;
	width: 837px;
	height: 64px;
	list-style: none;
	float: left;
}
#pickup-body ul.pickup-banner-list li {
	margin: 0;
	padding: 0 10px 0 0;
	width: 199px;
	height: 64px;
	overflow: hidden;
	float: left;
}
#pickup-body ul.pickup-banner-list li a {
	display: block;
	border: 2px solid #dedede;
	width: 195px;
	height: 60px;
}
#pickup-body ul.pickup-banner-list li a,
#pickup-body ul.pickup-banner-list li a:link,
#pickup-body ul.pickup-banner-list li a:visited {
	border-color: #dedede;
}
#pickup-body ul.pickup-banner-list li a:hover,
#pickup-body ul.pickup-banner-list li a:active {
	border-color: #35a2b7;
}
#pickup-body .pickup-more {
	float: right;
}
#pickup-body #pickup-ovl {
	position: absolute;
	border: 3px solid #35a2b7;
	width: 193px;
	height: 58px;
}
#pickup-body #pickup-feature {
	padding: 9px 0 0;
	width: 950px;
	height: 31px;
	background: url(../images/pickup/bg-pickup-feature_12.gif) no-repeat left top;
	overflow: hidden;
	position: relative;
}
#pickup-feature #pickup-feature-indicator {
	position: absolute;
	top: 2px;
	left: 95px;
	width: 9px;
	height: 9px;
	font-size: 1%;
	overflow: hidden;
	background: url(../images/pickup/bg-pickup-point_12.gif) no-repeat left top;
}
#pickup-feature #pickup-feature-text {
	padding: 6px 8px 0 33px;
	height: 20px;
	font-size: 100%;
	line-height: 20px;
	overflow: hidden;
}
/* == /PICKUP_AREA == */
