@charset "euc-jp";

/* == COMMON CLASSES == */
a.brightover,
a.brightover:link,
a.brightover:visited {
	opacity: 1.0;
}
a.brightover:hover,
a.brightover:active {
	opacity: 0.7;
}
/* == /COMMON CLASSES == */

/* == BASIC PARTS == */
.wrapper {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.header-inner,
.visual-navi-inner,
.main-inner,
.link-area-inner,
.footer-inner {
	margin: 0px auto;
	width: 950px;
}
.header {
	height: 75px;
}
.header-inner {
	height: 75px;
}
.visual-navi {
	height: 252px;
	min-width: 950px;
	background-color: #b91d1c;
	position: relative;
}
.pickup {
	padding: 0;
	min-width: 950px;
	min-height: 33px;
	background: #ffffff url(../images/bg-pickup.png) no-repeat center top;
}
.pickup-inner {
	margin: 0 auto;
	width: 950px;
	position: relative;
}
#font-resize {
/*	width: 218px;*/
	height: 19px;
	float: right;
	overflow: hidden;
}
.pickup #font-resize {
	padding-top: 6px;
}
#font-resize #font-resize-caption {
	width:  83px;
	height: 19px;
	float:  left;
}
#font-resize ul#font-resize-buttons {
	margin:  0px;
	padding: 0px;
/*	width: 103px;*/
	height: 19px;
	float:  left;
	overflow: hidden;
	list-style: none;
}
#font-resize ul#font-resize-buttons li {
	display: block;
	margin:  0px;
	padding: 0px 0px 0px 7px;
/*	width:  auto;*/
	font-size: 1%;
	line-height: 1%;
	height: 19px;
	float:  left;
}

.main {
	padding: 20px 0px 30px;
	min-width: 950px;
	background: url(../images/bg-main.jpg) center top no-repeat;
}
.main-inner:after {
	clear: both;
	content: " ";
	display: block;
	height: 0px;
	visibility: hidden;
}
.alpha-beta {
	width: 645px;
	float: left;
}
.left-navi {
	width: 190px;
	float: left;
}
.contents {
	width: 440px;
	float: right;
}
.right-navi {
	width: 290px;
	float: right;
}
.link-area {
	clear: both;
	padding-bottom: 20px;
	min-height: 340px;
	color: #fff;
	background-color: #535252;
}
.footer {
	height: 50px;
}
.no-display {
	display: none;
}

/* == /BASIC PARTS == */

/* == EMERGENCY_INFORMATION_AREA == */
#emergency-information {
	margin: 0 0 15px;
	padding: 0;
	background: url(../images/bg-eminfo-body2.gif) left top repeat-y;
}
#emergency-information div.emergency-info-inner {
	margin: 0;
	padding: 0;
	background: url(../images/bg-eminfo-foot2.gif) left bottom no-repeat;
}
#emergency-information div.emergency-info-body {
/*	margin: 0 0 -3px 0;*/
	padding: 9px 5px 0 85px;
	min-height: 16px;
	background: url(../images/bg-eminfo-head2.gif) left top no-repeat;
}
#emergency-information div.emergency-info-body strong {
	font-size: 100%;
	font-weight: bold;
}
#emergency-information div.emergency-info-body strong.red {
	color: #B91D1C;
}
#emergency-information div.emergency-info-body p {
	margin: 0;
	padding: 0 0 12px 0;
	font-size: 100%;
	line-height: 16px;
}
#emergency-information div.emergency-info-body p.head {
	padding-bottom: 0;
	color:#B91D1C;
	font-size:120%;
	line-height:1.2;
}
#emergency-information div.emergency-info-body p.cts {
	padding-bottom: 0;
	padding-left: 8px;
	color:#B91D1C;
	font-size:120%;
	font-weight:bold;
	line-height:1.2;
	text-indent: -8px;
}
#emergency-information div.emergency-info-body ul {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 16px;
	list-style-type: none;
}
#emergency-information div.emergency-info-body ul li {
	padding: 0 0 12px 0;
}
/* == /EMERGENCY_INFORMATION_AREA == */

/* == NEWS_AREA == */
.news-area {
}
.news-area .tab-content .tab-content-inner {
	background: url(../images/bg-pre-body.gif) left top repeat-y;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 440px;
}
.news-area .tab-content .tab-content-inner p.to_all {
	margin: 9px 2px 0px;
	padding: 0px;
	font-size: 84%;
	line-height: 120%;
	text-align: right;
}
.news-area .tab-content .tab-content-inner div.pr_rss {
	margin: -10px 0 9px;
	padding: 0;
	height: 14px;
}
.news-area .tab-content .tab-content-inner div.pr_rss img {
	vertical-align: middle;
}
.news-area .tab-content .tab-content-inner div.date-block {
	margin: 10px 0px;
	padding: 0px;
}
.news-area .tab-content .tab-content-inner div.date-block+div.date-block {
	padding-top: 11px;
	background: url(../images/bg-separator.gif) left top repeat-x;
}
.news-area .tab-content .tab-content-inner div.date-block h3 {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: bold;
	line-height: normal;
}
.news-area .tab-content .tab-content-inner .article {
	margin: 0px;
	padding: 10px 0px 0px;
}
.news-area .tab-content .tab-content-inner .article .article-image {
	display: table-cell;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	min-width: 10px;
}
.news-area .tab-content .tab-content-inner .article .article-body {
	display: table-cell;
	vertical-align: top;
	font-size: 100%;
	line-height: 133.3%;
}
.news-area .tab-content .tab-content-inner div.article-block {
	margin: 0px 10px 8px;
	padding: 8px 0px 0px;
}
.news-area .tab-content .tab-content-inner div.article-block+div.article-block {
	padding-top: 10px;
	background: url(../images/bg-separator.gif) left top repeat-x;
}
.news-area .tab-content .tab-content-inner div.article-block .article-image {
	display: block;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	min-width: 10px;
	float: left;
}
.news-area .tab-content .tab-content-inner div.article-block .article-body {
	display: block;
	margin: 0px;
	font-size: 100%;
	line-height: 133.3%;
}

.news-area .tab-content .tab-content-inner div.article-block .article-body div.date-cts {
	margin: 6px 0 0 7px;
	text-indent: -7px;
}


.news-area .tab-content .tab-content-inner div.article-block .article-body span{
	margin: 0 0 0 4px;

}
.news-area .tab-content .tab-content-inner div.article-block p.date-title {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #000000;
	font-size: 84%;
	line-height: 130%;
}
.news-area .tab-content .tab-content-inner div.article-block p.date-title span.seihin-page {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	line-height: 130%;
	font-weight: normal;
	color: #666;
}
.info {
	margin: 0;
	padding: 2px 0 0 0;
	line-height: 16px;
	color: #000000;
}
.info img{
	margin: 0 6px 0 1px;
	vertical-align: bottom;
}
.info span{
	margin: 0;
	padding: 0;
	color: #b91d1c;
}
/* == /NEWS_AREA == */




/* == BANNER_AREA == */
.banner-area {
	margin: 8px 0 0;
	width: 295px;
	background: url(../images/bg-banner_area2.gif) left top repeat;
}
.banner-area ul.banner-list {
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 1px;
	width: 294px;
	overflow: hidden;
	list-style: none;
}
.banner-area ul.banner-list li {
	display: block;
	margin: 0px;
	padding: 10px 0px 0px;
	width: 147px;
	height: 40px;
	overflow: hidden;
	float: left;
}
/* == /BANNER_AREA == */

/* == HOUJIN_AREA == */
div.houjin-area div.info2nd,
div.partner-area div.info2nd,
div.corporate-area div.info2nd {
	margin-top: 8px;
	padding-top: 9px;
	background: url(../images/bg-info2nd-separator.gif) left top no-repeat;
}
div.houjin-area {
	margin: 18px 0px 0px;
	padding: 0px;
	width: 295px;
}
div.houjin-area p.link-a {
	margin: 0px;
	padding: 0px 0px 0px 6px;
	position: relative;
	background: url(../images/icon-link-ab.gif) no-repeat left 0.5em;
}
div.houjin-area h2 {
	margin: 0px;
	padding: 0px;
	width: 295px;
	height: 30px;
}
div.houjin-area div.houjin-area-inner {
	margin: 0px;
	padding: 9px 10px 8px;
	width: 275px;
	font-size: 100%;
	line-height: 150%;
}
/* == /HOUJIN_AREA == */

/* == PARTNER_AREA == */
div.partner-area {
	margin: 18px 0px 0px;
	padding: 0px;
	width: 295px;
}
div.partner-area p.link-a {
	margin: 0px;
	padding: 0px 0px 0px 6px;
	position: relative;
	background: url(../images/icon-link-am.gif) no-repeat left 0.5em;
}
div.partner-area h2 {
	margin: 0px;
	padding: 0px;
	width: 295px;
	height: 30px;
}
div.partner-area div.partner-area-inner {
	margin: 0px;
	padding: 9px 10px 8px;
	width: 275px;
	font-size: 100%;
	line-height: 150%;
}
/* == /PARTNER_AREA == */

/* == CORPORATE_AREA == */
div.corporate-area {
	margin: 18px 0px 0px;
	padding: 0px;
	width: 295px;
}
div.corporate-area p.link-a {
	margin: 0px;
	padding: 0px 0px 0px 6px;
	position: relative;
	background: url(../images/icon-link-al.gif) no-repeat left center;
}
div.corporate-area h2 {
	margin: 0px;
	padding: 0px;
	width: 295px;
	height: 30px;
}
div.corporate-area div.corporate-area-inner {
	margin: 0px;
	padding: 9px 10px 8px;
	width: 275px;
	font-size: 100%;
	line-height: 150%;
}
div.corporate-area div.corporate-area-inner ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
div.corporate-area div.corporate-area-inner ul.flatten {
	margin-right: -10px;
	width: 281px;
}
div.corporate-area div.corporate-area-inner ul li {
	margin: 0px;
	padding: 0px 10px 0px 6px;
	position: relative;
	background: url(../images/icon-link-al.gif) no-repeat left 0.5em;
}
div.corporate-area div.corporate-area-inner ul.flatten li {
	float: left;
}
/* == /CORPORATE_AREA == */

/* == MELCO_GROUP_AREA == */
div.melco-area {
	margin: 15px 0px 0px;
	padding: 0px;
	width: 290px;
	background: url(../images/bg-right-body.gif) left top repeat-y;
}
div.melco-area h2 {
	margin: 0px;
	padding: 0px;
	width: 290px;
	height: 39px;
	background: url(../images/h2-melco-group.gif) no-repeat left top;
	text-indent: -9999px;
}
div.melco-area div.melco-area-inner {
	margin: 5px 0px 0px 6px;
	padding: 0px;
	width: 280px;
	overflow: hidden;
}
.melco-box-top {
	margin: 0;
	padding: 0;
	display: block;
	width: 270px;
}
.melco-box {
	background: url(../images/bg-separator.gif) left top repeat-x;
	margin: 0;
	padding: 6px 0 0 0;
	display: block;
	width: 270px;
}
.melco-img {
	width: 68px;
	float: left;
}
.melco-title {
	width: 195px;
	float: right;
	font-size: 100%;
	line-height: 133.3%;
}
.melco-title p{
	margin: 2px 0 0 7px;
	padding: 0;
}
.melco-btm{
	margin: 4px 0 0 0;
}

/* == /MELCO_GROUP_AREA == */



/* == COR_AREA == */
div.cop-area {
	margin: 15px 0px 0px;
	padding: 0px;
	width: 290px;
	background: url(../images/bg-right-body.gif) left top repeat-y;
}
div.cop-area h2 {
	margin: 0px;
	padding: 0px;
	width: 290px;
	height: 39px;
	background: url(../images/h2-corp.gif) no-repeat left top;
	text-indent: -9999px;
}
div.cop-area div.cop-area-inner {
	margin: 0px 0px 0px 11px;
	padding: 0px;
	width: 280px;
	overflow: hidden;
	background: url(../images/cop-list-bg.gif) no-repeat left bottom;
}
div.cop-area div.cop-area-inner ul.cop-list {
	display: block;
	margin: 0;
	padding: 8px 0 0 0px;
	width: 275px;
	overflow: hidden;
	background: url(../images/cop-list-bg02.gif) no-repeat left top;
}
div.cop-area div.cop-area-inner ul.cop-list li {
	display: block;
	padding: 0px;
	margin: 0;
	width: 130px;
	min-height: 35px;
	float: right;
	font-size: 100%;
	color: #333333;
}

div.cop-area div.cop-area-inner ul.cop-list li.cop-list-left{
	width: 134px;
	float: left;
}
div.cop-area div.cop-area-inner ul.cop-list li.cop-list-both{
	margin: 0;
	padding: 0;
	display: block;
	width: 270px;
	min-height: 24px;
	float: left;
}

/* == /COR_AREA == */



/* == LEFT_NAVI_AREA == */


.left-navi h2 {
	margin: 0;
	padding: 0;
	width: 190px;
	height: 39px;
	overflow: hidden;
}
.brand h2{
	background: url(../images/h2-brand.gif) no-repeat left top;
	text-indent: -9999px;
}

/* == /LEFT_NAVI_AREA == */


/* == CLOSEUP_AREA == */

.left-navi h2.closeup {
	margin: 15px 0 0 0;
	padding: 0;
	width: 190px;
	height: 39px;
	overflow: hidden;
	background: url(../images/h2-close_up.gif) no-repeat left top;
	text-indent: -9999px;
}

/* == /CLOSEUP_AREA == */


/* == ONLINE-SHOPPING_AREA == */

.online-shopping {
	margin: 15px 0 0 0;
}

/* == /ONLINE-SHOPPING_AREA == */


/* == NEWS_AREA == */

.news-area h2.news {
	margin: 0;
	padding: 0;
	width: 440px;
	height: 39px;
	overflow: hidden;
	display: block;
	background: url(../images/h2-press_release.gif) no-repeat left top;
	text-indent: -9999px;
}
.rss {
	margin: 0;
	position: relative;
	top: -30px;
	width: 60px;
	float:right;
}
.ichiran {
	margin: 0px 0 0 0;
	position: relative;
	top: -30px;
	width: 49px;
	float:right;
}


/* == /NEWS_AREA == */




/* == SUPPORTNEWS_AREA == */

.news-area h2.supportnews {
	margin: 15px 0 0 0;
	padding: 0;
	width: 440px;
	height: 39px;
	overflow: hidden;
	display: block;
	background: url(../images/h2-supportnews.gif) no-repeat left top;
	text-indent: -9999px;
}

/* == /SUPPORTNEWS_AREA == */



/* == INFONEWS_AREA == */

.news-area h2.info {
	margin: 15px 0 0 0;
	padding: 0;
	width: 440px;
	height: 39px;
	overflow: hidden;
	background: url(../images/h2-info.gif) no-repeat left top;
	text-indent: -9999px;
}


/* == /INFONEWS_AREA == */



/* == BANNER_AREA_RIGHT == */

.support-area .bnr {
	margin: 0 0 4px 0;
}

/* == /BANNER_AREA_RIGHT == */



/* == CORP_AREA == */

h2.corp {
	margin: 15px 0 0 0;
	padding: 0;
	width: 290px;
	height: 39px;
	overflow: hidden;
	background: url(../images/h2-corp.gif) no-repeat left top;
}

/* == /CORP_AREA == */


/* == TOPGUIDE_AREA == */

#topguide-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.topguide-overlay-bg {
	background-color: #fff;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	display: none;
}
#topguide-modalwindow {
	padding-bottom: 30px;
	display: none;
}
.modalwindow-fixed-layout {
	width: 724px;
	height: 386px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 102;
	margin-top: -193px;
	margin-left: -362px;
}
.topguide-modalwindow-inner {
	width: 724px;
	height: 386px;
	margin: 0 auto;
	background: #fff url(../images/bg-topguide.gif) no-repeat left top;
	overflow: hidden;
}
.topguide-modalwindow-inner .cts-text {
	width: 420px;
	float: left;
	display: inline;
	padding-left: 6px;
}
.topguide-modalwindow-inner .cts-img {
	width: 275px;
	float: right;
	display: inline;
	padding: 22px 20px 28px 0;
}
.topguide-modalwindow-inner h2 {
	margin: 22px 0 0 16px;
	width: 386px;
	height: 25px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/title-topguide.gif) no-repeat left top;
}
.topguide-modalwindow-inner .lead {
	padding-top: 24px;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
.topguide-modalwindow-inner .domain {
	padding-top: 16px;
	text-align: center;
	font-size: 150%;
}
.topguide-modalwindow-inner .btn {
	padding-top: 24px;
	text-align: center;
}
.topguide-modalwindow-inner .btn span {
	margin: 0 auto;
	display: block;
}
.topguide-modalwindow-inner .text {
	padding-top: 30px;
	padding-left: 16px;
	overflow: hidden;
}
.topguide-modalwindow-inner .cts-foot {
	padding: 18px 24px 0 24px;
}
.topguide-modalwindow-inner .cts-foot .message {
	font-size: 120%;
	font-weight: bold;
}
.topguide-modalwindow-inner .cts-foot p {
	padding-top: 10px;
	padding-left: 2px;
	font-size: 120%;
}
.topguide-modalwindow-inner .cts-foot p a {
	padding-left: 22px;
	line-height: 15px;
	background: url(../images/icon-topguide.gif) no-repeat left top;
}

/* == /TOPGUIDE_AREA == */

/*20160425追記*/
.content-left {
	float:left;
}
.kumamoto {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #F00;
	width: 646px;
	box-sizing: border-box;
}
.kumamoto p.read-txt {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:16px;
	line-height:1.5em;
	font-weight: bold;
}
.kumamoto p.link-txt {
	margin-top:20px;
	font-size: 14px;
	
}
.kumamoto p.link-txt a {
	color:#000;
}
.kumamoto p.link-txt a:hover {
	color: #DC0003;
}