
.visual-navi{
	height:305px;
	padding:20px 0 0 0;
	background:url(../images/vnavi/navi_bg_02.png) 0 0 repeat-x;
}
.visual-navi-inner{
	width:950px;
	margin:0 auto;
}
.visual-navi-inner h2{
	margin:0;
	padding:0
}
.visual-navi-inner ul li a{
	display:block;
}
.boxMax,.boxMin{
	width:132px;
	float:left;
}
.boxMax ul,.boxMin ul{
	margin:0;
	padding:0;
}
.boxMax ul li,.boxMin ul li{
	width:132px;
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}
.otukaiNav,.seihinNav{
	padding: 0 0 5px 0;
	background: url(../images/vnavi/navi_bg_01.png) 0 bottom repeat-x;
}
.otukaiNav{
	width:264px;
	margin:0 26px 0 0;
	float:left;
}
.otukaiNav .boxMin{
	width:132px;
}
.seihinNav{
	width:660px;
	float:left;
}
.seihinNav .boxMin{
	width:528px;
}
