/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
  	transition:all 1s ease !important;
	-moz-transition:all 1s ease !important;
	-ms-transition:all 1s ease !important;
	-o-transition:all 1s ease !important;
	-webkit-transition:all 1s ease !important;
  }

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	opacity:0;
	width: 100%;
	left: 0;
	top: 0;
  	transition:all 1s ease !important;
	-moz-transition:all 1s ease !important;
	-ms-transition:all 1s ease !important;
	-o-transition:all 1s ease !important;
	-webkit-transition:all 1s ease !important;
  }

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	opacity:1;
  }

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
  
	max-height: 251px;
}
.Div-Slide-Ads {
    width: 197px;
    margin: 20px auto;
    height: 293px;
}
.Ul-Slider-Ads li a img {
    height: 270px;
    width: 191px;
    border: #ffffff 3px solid;
}
.rslidesads_tabs.rslidesads2_tabs{
    height: 17px;
    overflow: hidden;
    margin: 5px auto;
    padding-top: 5px;
    clear: both;
    text-align: center;
}
.rslidesads_tabs.rslidesads2_tabs li {
    margin: 2px auto;
    padding: 2px;
    display: inline;
    width: 15px;
    height: 13px;
	background:url(/_img/HomePage/bottom-slide.png) center no-repeat;
	transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.rslidesads_tabs.rslidesads2_tabs li a {
	text-decoration: none;
	font-size: 0px;
	width: 15px;
	height: 15px;
	padding: 8px;
	line-height: 13px;
}
.rslidesads_here,.rslidesPicturalNews_here{
	background:url(/_img/HomePage/bottom-slide-on.png) center no-repeat !important;
}
.Div-Slide-Gallery {
    width: 206px;
    margin: 20px auto;
    height: 160px;
}
.Ul-Slider-Gallery li a img {
    height: 160px;
    width: 200px;
    border: #ffffff 3px solid;
}
.rslidesgallery_tabs.rslidesgallery1_tabs, .rslidesgallery_tabs.rslidesgallery3_tabs {
    width: 92px;
    height: 17px;
    overflow: hidden;
    margin: 5px auto;
    padding-top: 5px;
}
.rslidesgallery_tabs.rslidesgallery1_tabs li, .rslidesgallery_tabs.rslidesgallery3_tabs li {
    float: right;
    margin: 2px;
    padding: 2px;
    width: 15px;
    height: 13px;
	background:url(/_img/HomePage/bottom-slide.png) center no-repeat;
	transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
}
.rslidesgallery_tabs.rslidesgallery1_tabs li a, .rslidesgallery_tabs.rslidesgallery3_tabs li a {
	text-decoration: none;
	font-size: 0px;
	width: 15px;
	height: 15px;
	padding: 8px;
	line-height: 13px;
}
.rslidesgallery_here{
	background:url(/_img/HomePage/bottom-slide-on.png) center no-repeat !important;
}
#Ul-Slider-Gallery {
	width: 206px;
	height: 166px;
	max-width: 200px;
	max-height: 166px;
	margin-right: 1px;
	margin-bottom: 11px;
	overflow:hidden;
}
.Div-Slide-Gallery {
    width: 206px;
    margin: 20px auto;
    height: 166px;
}