﻿.OpinionTextAnswer {
    width: 450px;
    height: 260px;
    background: white;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}
.OpinionTextAnswer .header {
    width: 100%;
    margin: 0px;
    height: 46px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('/_img/header_modal.jpg') repeat-x;
}
.btnClose {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    z-index: 1;
    background: url('/_img/btnClose.jpg') no-repeat 0px 0px;
    display: inline-block;
    cursor: pointer;
}
.btnClose:hover {
    background: url('/_img/btnClose.jpg') no-repeat -20px 0px;
}
.OpinionTextAnswer .content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    margin: 0px;
    overflow:auto;
}
.OpinionTextAnswer .content > p {
    margin:4px 15px;
    font: 15px Nassim,tahoma;
}
.OpinionTextAnswer .content .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    margin: 0px;
}
.OpinionTextAnswer .content .footer .delimiter {
    position: absolute;
    top: 0px;
    width: 90%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    border-top: 1px solid #e5e5e5;
}
.OpinionTextAnswer .header .title {
    position: absolute;
    display: inline-block;
    right: 12px;
    font: bold 17px fpyekan,tahoma;
}
.OpinionTextAnswer .content .footer .btnArea {
  text-align: center;
  padding-top: 10px;
}
.OpinionTextAnswer .content .footer .btnArea>input {
    width: 75px;
}
.OpinionTextAnswer .content {
    font-size: 12px;
}
span[name^='lnk'] {
    color: #009cff;
    cursor: pointer;
    font-weight: bold;
}
span[name^='lnk'].disabled {
    color: #727272;
    cursor: default;
    font-weight: bold;
    pointer-events: none;
}
#ScoreLink{
    font-weight:bold;
    color:#1376b7;
    cursor:pointer;
}
.overlay {
    background: black none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    margin: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
#TextAnswer{
    width:87%;
    font: 12px tahoma;
    letter-spacing: 1px;
    margin: 5px;
    outline: medium none;
    padding: 5px 5px 5px 25px;
    resize: none;
}

#btnTextAnswer{
    border: 1px solid #bebfbf;
    border-radius: 5px;
    color: #5f5f5f;
    cursor: pointer;
    font: bold 12px tahoma;
    height: 30px;
    margin: 10px 5px 0 20px;
    padding: 5px;
    text-align: center;
    float:left;
}
#btnTextAnswer:hover{
    background: #4a4a4a none repeat scroll 0 0;
    color: #fff;
}