@media (max-width: 768px) {
	.info_block p:after
	{
		content: '768'
	}
	.mobile_nav{
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.mobile_nav ul{
		float: none;
		text-align: center;
		float: none;
		margin: 0;
	}
	.mobile_nav ul li{
		display: block;
		margin: 0;
		margin-bottom: 7px;
	}
	nav{
		text-align: center;
		background: #FF8C15;
	}
	nav a.link_price{
		float: none;
		display: inline-block;
		margin-bottom: 7px;
	}
	nav a.link_price:before{
		content: none;
	}
	.last_link:before{
		content: '';
		width: 100%;
		display: block;
	}
	.last_link{
		float: none;
	}
	header form{
		width: 52%;
	}
	header form::before{
		content: none;
	}
	header form input[type="text"]{
		padding-left: 10px;
	}
	.flexslider .slides > li .text-slider{
		width: 100%;
	}
	.flexslider .slides > li p{
		font-size: 25px;
		line-height: 25px;
	}
	.flex-control-nav{
		bottom: 0;
	}
	.info_home ul li{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 15px;
	}
	.info_home > img{
		display: none;
	}
	.information{
		margin-top: 10px;
	}
	.saitbar{
		display: block;
		float: none;
		width: 100%;
		max-width: 300px;
		margin: auto;
		margin-top: 30px;
	}
	.right_content{
		float: none;
		width: 100%;
	}
	footer{
		padding: 20px 0px;
	}
	.copirait{
		float: none;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
	}
	.copirait:before{
		content: none;
	}
	ul.ul_social{
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
	ul.ul_social li{
		margin: 0 2px;
	}
	.conunt_footer{
		float: none;
		margin: auto;
	}
	.mobile_menu{
		width: 60px;
		height: auto;
		margin: auto;
		cursor: pointer;
	}
	.mobile_menu div{
		width: 100%;
		height: 4px;
		background: #fff;
		margin-bottom: 4px;
		border-radius: 4px;
	}
	.mobile_nav{
		display: none;
	}
	.bread_crumbs{
		display: none;
	}
	.right_window{
		display: none;
	}
	.left_window{
		width: 100%;
		float: none;
	}
	.mobile_nav_ul{
		display: block;
	}
	.saitbar{
		display: none;
	}
	.saitbar_2{
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;
		margin: auto;
		margin-top: 30px;
	}
	.title_saitbar{
		background: url(../img/fon_title_2.png);
		background-size: cover;
		height: 50px;
		padding-top: 10px;
	}
	form.form_saitbar input[type="submit"]{
		background: #FF7011;
	}
	.top-header{
		padding-left: 15px;
		padding-right: 15px;
	}
	.top-header::before{
		background-position: 68% -50px;
	}
	.top-header p{
		display: none;
	}
	.title-header,
	.contain-top-header-r{
		text-align: center;
	}
	ul.footer-ul{
		max-width: 400px;
		margin: auto;
		margin-bottom: 30px;
	}
	ul.footer-ul li .icone-fuuter{
		display: none;
	}
	ul.footer-ul li{
		width: 48%;
		float: left;
		margin-bottom: 10px;
	}
	ul.footer-ul li:nth-child(2n){
		float: right;
	}
	ul.footer-ul li:nth-child(2n) + li{
		clear: left;
	}
	ul.footer-ul li a{
		max-width: 100%;
	}
	.wr-footer p{
		float: none;
		display: block;
	}
	.wr-footer .count{
		float: none;
		margin: auto;
		margin-top: 20px;
	}
	.title-header {
		font-size: 25px;
		line-height: 28px;
		margin-bottom: 25px;
	}

}



