@media (max-width: 992px) {
	.info_block p:after
	{
		content: '992'
	}
	nav ul{
		margin-right: 3%;
	}
	ul.author_ul li p{
		font-size: 13px;
	}
	.copirait{
		margin-right: 15%;
	}
	.window_block{
		margin-top: 50px;
	}
	.saitbar .link_block_ul{
		display: none;
	}

	.calculator{
		padding: 10px 10px;
	}
	.calculator p{
		width: 100%;
		float: none;
		margin-bottom: 10px;
		text-align: center;
	}
	.calculator p span{
		margin: 0;
		padding: 0 4px;
	}
	.calculator form{
		float: none;
		width: 100%;
	}
	form.form_saitbar{
		width: 94%;
	}
	.top-header{
		padding-left: 100px;
		padding-right: 100px;
	}
	.top-header::before{
		background-position: 18% -49px;
	}
	.contain-top-header-l{
		display: none;
	}
	.contain-top-header-r{
		float: none;
		width: 100%;
		text-align: right;
	}
	.contain-top-header-r a:last-child{
		display: none
	}
	.contain-top-header-r a{
		display: inline-block;
		max-width: 350px;
	}
	.footer-new::before{
		background-position: left 0;
	}
}

@media (min-width: 769px){

	.mobile_nav{
		display: block !important;
	}

}


