@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.ttf') format('truetype'),
	url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OfficinaSansBoldC';
	src: url('../fonts/OfficinaSansBoldC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OfficinaSansBoldC.woff') format('woff'),
	url('../fonts/OfficinaSansBoldC.ttf') format('truetype'),
	url('../fonts/OfficinaSansBoldC.svg#OfficinaSansBoldC') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OfficinaSansBlackC';
	src: url('../fonts/OfficinaSansBlackC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OfficinaSansBlackC.woff') format('woff'),
	url('../fonts/OfficinaSansBlackC.ttf') format('truetype'),
	url('../fonts/OfficinaSansBlackC.svg#OfficinaSansBlackC') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'Roboto-Regular';
	font-size: 14px;
	min-width: 320px;
	overflow-x: hidden;
	background-color: #c7dc94;
}
.row:after,
.info_home ul:after,
ul.ul_why_over:after,
ul.reiting:after,
.work_info:after,
.name_author_work:after,
.all_works:after,
footer:after,
.bread_crumbs .corumbs:after,
.alphabet_index:after,
.alphabet_index:after,
.right_alphedet ul:after,
.block_list:after,
.navigation_page:after,
.link_block:after,
.link_block_left li:after,
.block_line_input:after,
.link_down:after,
.date_list:after,
.window_block:after,
.form_window:after,
.capcha:after,
.calculator:after,
.calculator form:after,
.contain-top-header:after,
ul.footer-ul:after
{
	content: '';
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}
input:focus{
	outline: none;
}
.clear{
	clear: both;
}
.container-fluid,
.baner_top{
	max-width: 989px;
}
.baner_top{
	margin: auto;
}
mark{
	background: none;
	display: inline;
	padding: 0;
}
h1{
	margin:0 0 0 0;
	font-size:1;
	font-weight:normal;
	line-height:1.4;
}
h2.header2{
	margin:0 0 0 0;
	font-size:14;
	font-weight:normal;
	line-height:1.4;
	text-align: center;
}
h3{
	margin:0 0 0 0;
	font-size:14;
	font-weight:normal;
	line-height:1.4;
}
h4{
	margin:0 0 0 0;
	font-size:14;
	font-weight:normal;
	line-height:1.4;
}
h5{
	margin:0 0 0 0;
	font-size:14;
	font-weight:normal;
	line-height:1.4;
}
h6{
	margin:0 0 0 0;
	font-size:14;
	font-weight:normal;
	line-height:1.4;
}
/*header*/
.baner_top{
	width: 100%;
	height: auto;
	background: url(../img/footer-banner-background.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	padding: 17px 0 19px 0;
	position: relative;
	z-index: 1;
}
.baner_top img{
	max-width: 100%;
}
nav{
	width: 100%;
}
nav .container-fluid{
	background: url(../img/fon_nav.png) 50% bottom;
	padding-top: 10px;
	padding-bottom: 9px;
}
nav ul{
	margin-right: 12.7%;
	float: left;
}
nav li{
	display: inline-block;
	margin-right: 13px;
}
nav li:last-child{
	margin-right: 0;
}
nav a{
	color: #FFF;
	/*font-family: 'Roboto-Bold';*/
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}
nav a.link_price{
	color: #FFFA66;
	/*font-family: 'Roboto-Bold';*/
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
	float: left;
	font-family: 'Roboto-Regular';
}

nav a.link_price:before{
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 0px 5px 0 0;
	background: url(../img/link_price.png) no-repeat;
}
.last_link{
	float: right;
}
nav a:hover{
	text-decoration: none;
}
header{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
}
header .container-fluid{
	background: #fff;
	padding-top: 33px;
	padding-bottom: 47px;
}
header .logo{
	float: left;
}
header .logo img{
	max-width: 100%;
}
header form{
	width: 61%;
	height: 45px;
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFF 100%);
	border: 1px solid #CECECE;
	-moz-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	-webkit-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	box-shadow: inset 0 0 3.4px 0.6px #FFF;
	float: right;
	border-radius: 30px 35px 35px 30px;
	position: relative;
	overflow: hidden;
	margin-top: 13px;
}
header form input[type="text"]{
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	padding: 0 101px 0 46px;
	color: #1B4D55;
	font-size: 14px;
	position: relative;
	z-index: 1;
}
header form input[type="button"],
header form input[type="submit"]{
	width: 92px;
	height: 46px;
	position: absolute;
	right: -1px;
	top: -1px;
	border: none;
	background: url(../img/fon_submit.png);
	background-repeat: repeat-y;
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-transform: uppercase;
	z-index: 2;
}
header form:before{
	content: '';
	width: 19px;
	height: 19px;
	background: url(../img/search.png);
	display: block;
	position: absolute;
	left: 14px;
	top: 13px;
}
/*header*/
section.content{
	width: 100%;
	padding-top: 1px;
}
.content_block{
	position: relative;
	z-index: 1;
}
.block_white{
	width: 100%;
	position: relative;
}
.content .container-fluid{
	background: #fff;
	box-shadow: 0px 0px 7px #A1A1A1;
	margin-top: -13px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*slider*/
/* Slider
http://www.freshdesignweb.com/fashion-responsive-slider-tutorial.html
*/
/* Slider
/*-----------------------------------------------------------------------------------*/
*{
	padding: 0;
	margin: 0;
}
.flex-container a:active,
.flexslider a:active{
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav{
	margin: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider{
	width: 100%;
	margin: 0;
	background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F5F5F5 0%, #FFF 100%);
	border: 1px solid #D4D6DA;
	overflow: hidden;
}
.flexslider .slides > li
{
	display: none;
	text-align: right;
	position: relative;
}
.flexslider .slides img
{
	max-width: 100%;
}
.flex-pauseplay span{
	text-transform: capitalize;
}
.slides:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
html[xmlns] .slides{
	display: block;
}
* html .slides{
	height: 1%;
}
.no-js .slides > li:first-child{
	display: block;
}
.flexslider{
	position: relative;
	zoom: 1;
}
.flexslider .slides{
	zoom: 1;
}
.flexslider .slides > li{
	position: relative;
}
.flex-container{
	zoom: 1;
	position: relative;
}
/* Direction Nav */
.flex-direction-nav li a{
	width:45px;
	height:42px;
	margin:0;
	display: block; position:
	absolute; right:11px;
	cursor: pointer;
	display: none;
}
.flex-direction-nav li a.next{
	background:url(../images/next.png) no-repeat center;
	bottom:184px;
}
.flex-direction-nav li a.prev{
	background:url(../images/prev.png) no-repeat center;
	bottom:141px;
}
.flex-direction-nav li a.next:hover{
	background:url(../images/next_a.png) no-repeat center;
}
.flex-direction-nav li a.prev:hover{
	background:url(../images/prev_a.png) no-repeat center;
}
.flex-direction-nav li a.disabled {
	opacity: .3;
	filter:alpha(opacity=30);cursor: default;
}
/* Control Nav */
.flex-control-nav
{
	width: 100%;
	position: absolute;
	bottom: 21px;
	text-align: left;
	margin-left: 40px;
}
.flex-control-nav li
{
	margin-right: 3px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	border-radius: 50%;
	border: 1px solid #1E8F8F;
	background: #fff;
}
.flex-control-nav li a{
	width: 9px;
	height: 9px;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
}

.flex-control-nav li a.active,
.flex-control-nav li a:hover
{
	background: #1E8F8F;
	border-radius: 50%;
}
.flex-control-nav li a.active{
	cursor: default;
}
/*slider*/
.flexslider .slides > li .text-slider{
	position: absolute;
	left: 37px;
	top: 30px;
	text-align: left;
	width: 59%;
}
.flexslider .slides > li p{
	font-family: 'OfficinaSansBlackC';
	font-size: 37px;
	color: #FF8900;
	line-height: 37px;
}
.flexslider .slides > li p span{
	color: #1E8F8F;
	display: block;
}
.info_home{
	width: 100%;
	position: relative;
	margin-top: 30px;
	margin-top: 37px;
}
.info_home > img{
	max-width: 100%;
	display: block;
	margin: auto;
}
.info_home ul{
	margin-bottom: 16px;
}
.info_home ul li{
	width: 33%;
	text-align: center;
	padding: 0 5%;
	float: left;
}
.title_info_li span{
	display: block;
	height: 60px;
	background: url(../img/pat_info.png) no-repeat;
	margin: auto;
	margin-bottom: 12px;
}
.title_info_li span.img_info_1{
	width: 73px;
}
.title_info_li span.img_info_2{
	width: 61px;
	background-position: -80px 0;
}
.title_info_li span.img_info_3{
	width: 73px;
	background-position: -142px 0;
}
.info_home ul li a mark{
	color: #1E8F8F;
	font-family: 'OfficinaSansBoldC';
	font-size: 20px;
	line-height: 26px;
	text-decoration: underline;
}
.info_home ul li p{
	color: #000;
	font-size: 14px;
	margin-top: 13px;
	line-height: 21px;
}
.info_home ul li a:hover mark{
	text-decoration: none;
}
.information{
	position: relative;
	z-index: 1;
	margin-top: -71px;
}
.saitbar{
	width: 32%;
	overflow: hidden;
	float: left;
}
.block_saitbar{
	width: 100%;
	background: #F4F4F4;
	padding-bottom: 19px;
	margin-bottom: 11px;
}
.title_saitbar{
	width: 100%;
	height: 70px;
	background: url(../img/fon_title.png) no-repeat;
	color: #FFF;
	font-family: 'OfficinaSansBoldC';
	font-size: 20px;
	text-transform: uppercase;
	padding: 14px 10px 0 17px;
	margin-bottom: 14px;
	background-position: -4px -5px;
}
ul.sit_news{
	margin: 0 18px 0 21px;
	margin-bottom: 16px;
}
ul.sit_news li{
	border-bottom: 1px solid #B1B5B6;
	padding-bottom: 14px;
	margin-bottom: 14.2px;
}
ul.sit_news li a{
	color: #007A7A;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
ul.sit_news li a:hover{
	text-decoration: none;
}
.date_news{
	color: #476063;
	font-size: 12px;
	font-weight: 400;
	margin-top: 11px;
}
.date_news:before{
	content: '';
	width: 15px;
	height: 14px;
	background: url(../img/date.png);
	display: block;
	float: left;
	margin: 0px 8px 0 0px;
}
a.link_all{
	color: #FF7011;
	font-family: 'OfficinaSansBlackC';
	font-size: 16px;
	text-decoration: underline;
	margin: 0 0 0 17px;
	display: inline-block;
}
a.link_all:hover{
	text-decoration: none;
}
ul.author_ul{
	margin: 0 17px;
}
ul.author_ul li{
	width: 50%;
	float: left;
	text-align: center;
	margin-bottom: 25px;
	position: relative;
	padding: 0 5px;
}
ul.author_ul li a{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.line_li{
	clear: both;
	width: 100%;
	border-top: 1px solid #B1B5B6;
	border-bottom: 1px solid #fff;
	margin: 0px 0 15px 0;
}
.ava_author{
	background: #fff;
	width: 78px;
	height: 78px;
	margin: auto;
	border: 1px solid #DCDCDC;
	border-radius: 50%;
	position: relative;
	text-align: center;
	padding-top: 1px;
	margin-bottom: 7px;
}
.count_ava{
	width: auto;
	height: 28px;
	min-width: 41px;
	background-color: #E20;
	border: 2px solid #F4F4F4;
	position: absolute;
	right: 0px;
	top: -7px;
	border-radius: 20px;
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	text-shadow: 0.5px 0.9px 1px rgba(94, 70, 13, 0.27);
	padding-top: 4px;
	padding: 4px 7px 0px 7px;
}
.count_collor_2{
	background: #F03F00;
}
.count_collor_3{
	background: #FF4F11;
}
.count_collor_4{
	background: #FF7011;
}
.count_collor_5{
	background: #FF8400;
}
.count_collor_6{
	background: #F7AE00;
}


.ava_author img{
	width: 65px;
	height: 65px;
	border: 1px solid #DCDCDC;
	border-radius: 50%;
	margin-top: 5px;
}
ul.author_ul li p{
	color: #183741;
	font-size: 15px;
	text-decoration: underline;
}
ul.author_ul li:hover p{
	text-decoration: none;
}
ul.ul_partner{
	margin: 0 20px 0 16px;
}
ul.ul_partner li{
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 22px;
}
ul.ul_partner li:after{
	content: '';
	border-top: 1px solid #B1B5B6;
	border-bottom: 1px solid #fff;
	display: block;
	margin-top: 19px;
}
.img_partner{
	max-width: 260px;
	margin: auto;
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 20px;
}
.containr_par{
	height: 105px;
}
.containr_par img {
	display: inline-block;
	vertical-align: middle;
	background: #9F9;
	max-width: 90%;
}
.containr_par:before {
	content: "";
	display: inline-block;
	min-height: inherit;
	height: 100%;
	vertical-align: middle;
}
.img_partner:after{
	content: '';
	background-color: #FFF;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	border: 7px solid #E5E5E5;
	border-radius: 12px;
}
.img_partner:before{
	content: '';
	width: 180px;
	height: 68px;
	display: block;
	background: url(../img/fon_img.png);
	position: absolute;
	bottom: -24px;
	left: calc(50% - 90px);
	z-index: -2;
}
ul.ul_partner li a{
	font-size: 14px;
	font-weight: 400;
	color: #007D7D;
	text-decoration: underline;
}
ul.ul_partner li a:hover{
	text-decoration: none;
}
ul.ul_partner li p{
	margin-top: 2px;
}
.right_content{
	width: 67%;
	float: right;
	background: #fff;
}
.why_over{
	position: relative;

	border: 1px solid #E5E5E5;
	padding: 27px 44px 10px 49px;
	margin-bottom: 10px;
}
.leptop_over
{
	min-height: 310px;
}
.lettop{
	width: 100%;
	height: 310px;
	background: url(../img/lettop.png) no-repeat 0% 0;
	position: absolute;
	bottom: 0;
}
.right_content h3.title_h3{
	color: #183741;
	font-family: 'OfficinaSansBlackC';
	font-size: 22px;
	text-align: center;
	margin-bottom: 38px;
	line-height: 26px;
}
ul.ul_why_over{
	margin-bottom: 10px;
}
ul.ul_why_over li{
	width: 50%;
	float: left;
	padding-left: 46px;
	position: relative;
	margin-bottom: 52px;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	padding-right: 17px;
	min-height: 35px;
}
ul.ul_why_over li:nth-child(2n){
	padding-left: 56px;
}
ul.ul_why_over li:nth-child(2n) + li{
	clear: left;
}
ul.ul_why_over li:before
{
	content: '';
	width: 30px;
	height: 33px;
	display: block;
	background: url(../img/like.png) no-repeat;
	position: absolute;
	left: 0;
	top: 3px;
}
ul.ul_why_over li:nth-child(2n):before{
	left: 12px;
}
.popular_works{
	width: 100%;
	border: 1px solid #E5E5E5;
	padding: 26px 13px 18px 15px;
	margin-bottom: 11px
}
.popular_works h3{
	margin-bottom: 32px;
}
ul.ul_works{
	margin-bottom: 15px;
}
ul.ul_works > li{
	border-bottom: 1px solid #B1B5B6;
	margin-bottom: 21px;
	padding-bottom: 19px;
	padding-left: 6px;
}
ul.ul_works > li:last-child{
	margin-bottom: 0;
}
.links_work{
	margin-bottom: 12px;
}
.links_work a{
	color: #007A7A;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.links_work a:hover{
	text-decoration: none;
}
.work_info_left{
	float: left;
	margin-right: 31px;
}
ul.reiting{
	margin-bottom: -3px;
}
ul.reiting li{
	width: 16px;
	height: 15px;
	background: url(../img/star.png) no-repeat;
	float: left;
	margin-right: 2px;
}
ul.reiting li.no_star{
	background-position: -16px 0;
}
.author_work{
	float: left;
}
.name_author_work{
	font-size: 12px;
	font-weight: 400;
	color: #476063;
	margin-bottom: 4px;
}
.name_author_work:before{
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	background: url(../img/author.png);
	float: left;
	margin: 0px 5px 0 0;
}
.name_author_work a{
	color: #000;
	text-decoration: underline;
}
.name_author_work a:hover{
	text-decoration: none;
}
.author_work p a{
	color: #000101;
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
}
.author_work p a:hover{
	text-decoration: none;
}
.all_works{
	width: 100%;
}
.all_works a.link_all{
	float: left;
	margin-top: 0;
	margin-left: 6px;
}
a.download_link{
	float: right;
	color: #19797B;
	font-family: 'OfficinaSansBlackC';
	font-size: 16px;
	text-decoration: underline;
	margin-right: 8px;
}
a.download_link:before{
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	background: url(../img/plus.png) no-repeat;
	float: left;
	margin: 2px 7px 0 0;
}
a.download_link:hover{
	text-decoration: none;
}

ul.ul_reviews{
	margin-top: -10px;
}
ul.ul_reviews li{
	border-bottom: 1px solid #B1B5B6;
	margin-bottom: 16px;
	padding-bottom: 18px;
	padding-left: 6px;
}
ul.ul_reviews li p{
	color: #000;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 21px;
}
.author_reviews{
	font-size: 14px;
}
.author_reviews:before{
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	background: url(../img/author.png);
	float: left;
	margin: 0px 5px 0 0;
}
.author_reviews a{
	color: #1E8F8F;
}
.author_reviews a:hover{
	text-decoration: underline;
}
footer{
	width: 100%;
	height: auto;
	background: url(../img/fon_footer.png) no-repeat 50% 0 #23A2A2;
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 60px;
	position: relative;
	z-index: 1;
}
.copirait{
	float: left;
	padding-left: 45px;
	position: relative;
	color: #fff;
	margin-right: 21%;
	margin-bottom: 20px;
}
.copirait:before{
	content: '';
	width: 30px;
	height: 32px;
	display: block;
	background: url(../img/like_2.png);
	position: absolute;
	left: 4px;
	top: 2px;
}
ul.ul_social{
	float: left;
	margin-top: -4px;
}
ul.ul_social li{
	display: inline-block;
	margin-right: 6px;
}
ul.ul_social li a{
	width: 39px;
	height: 38px;
	display: block;
	background: url(../img/social.png);
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
ul.ul_social li a.tvit{
	background-position: -49px 0;
}
ul.ul_social li a.vk{
	background-position: -97px 0;
}
ul.ul_social li a.odnok{
	background-position: -145px 0;
}
ul.ul_social li a.odnok{
	background-position: -145px 0;
}
ul.ul_social li a.google_plus{
	background-position: -195px 0;
}
ul.ul_social li a:hover{
	opacity: 0.6;
}
.conunt_footer{
	float: right;
	width: 88px;
	height: 31px;
	/*background: url(../img/count.png);*/
	margin-top: 1px;
}
/***********inner page***********/
.information_inner{
	margin-top: 0;
}
.bread_crumbs{
	width: 100%;
	width: calc(100% + 20px);
	margin-left: calc(-10px);
	border-bottom: 1px solid #E5E5E5;
	padding: 0px 14px 5px 14px;
	margin-bottom: 6px;
	margin-top: -3px;
}
.corumbs{
	padding-left: 20px;
}
.corumbs span{
	position: relative;
}
.corumbs{
	position: relative;
}
.corumbs:first-child:before{
	content: '';
	width: 14px;
	height: 12px;
	display: block;
	position: absolute;
	left: 3px;
	top: 4px;
	background: url(../img/home.png);
}
.corumbs span a{
	direction: block;
	float: left;
	color: #007A7A;
	margin-top: 2px;
	text-decoration: underline;
}
.corumbs span a:hover{
	text-decoration: none;
}
.corumbs span a:after{
	content: '';
	width: 8px;
	height: 5px;
	display: inline-block;
	background: url(../img/vector.png);
	float: right;
	margin: 6px 5px 0 8px;
}
.corumbs span{
	font-size: 12px;
	color: #183741;
}
.baner_saitbar{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.baner_saitbar img{
	width: 100%;
}

ul.inner_nav{
	width: 100%;
	border: 1px solid #E5E5E5;
	background: #F2F2F2;
	margin-bottom: 8px;
}
ul.inner_nav li{
	width: 100%;
	position: relative;
}
ul.inner_nav li:after{
	content: '';
	width: 19px;
	height: 18px;
	direction: block;
	background: url(../img/marker.png) no-repeat;
	position: absolute;
	top: 14px;
	top: calc(50% - 9.5px);
	right: 10px;
	z-index: 1;
}
ul.inner_nav li:last-child{
	border: none;
}
ul.inner_nav li a{
	font-family: 'OfficinaSansBoldC';
	font-size: 17px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #146264;
	display:block;
	padding: 17px 35px 15.6px 25px;
	border-bottom: 1px solid #E5E5E5;
}
ul.inner_nav li.active_nav a
/*,ul.inner_nav li:hover a*/{
	background: url(../img/fon_link.png);
	color: #fff;
	border-bottom: 1px solid #F2F2F2;
}
ul.inner_nav li.active_nav:after/*,
ul.inner_nav :hover:after*/{
	background-position: -21px 0;
}

.right_content_inner{
	border: 1px solid #EDEDED;
	padding: 16px 17px 10px 16px;
	overflow: hidden;
}
.baner_inner{
	width: 100%;
	overflow: hidden;
	margin-bottom: 21px;
}
.baner_inner img{
	width: 100%;
}
.baner_yandex{
	width: 100%;
	margin-bottom: 14px;
}
.baner_yandex img{
	width: 100%;
}
.title_h1{
	text-align: center;
	color: #FF5B08;
	font-family: 'OfficinaSansBlackC';
	font-size: 22px;
	margin-bottom: 25px;
}
.alphabet_index{
	border-top: 1px solid #B1B5B6;
	border-bottom: 1px solid #B1B5B6;
	padding: 18px 12px 10px 16px;
	margin-bottom: 20px;
}
.left_alphedet{
	width: 8%;
	float: left;
}
.left_alphedet a{
	font-size: 12px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px solid #D4D4D4;
}
.left_alphedet a:hover{
	border-bottom: 1px solid #fff;
}
.right_alphedet{
	float: right;
	width: 90.5%;
}
.right_alphedet ul{
	margin-bottom: 10px;
}
.right_alphedet ul li{
	display: block;
	float: left;
	margin-right: 2px;
}
.right_alphedet ul li a{
	font-size: 12px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px solid #D4D4D4;
	direction: block;
	padding: 0 3.2px;
}
.right_alphedet ul li a:hover{
	border-bottom: 1px solid #fff;
}
ul.alphabet_ul{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 22px;
	-moz-column-gap: 22px;
	column-gap: 22px;
	margin-left: 8px;
	margin-bottom: 21px;
}
ul.alphabet_ul li{
	margin-bottom: 7px;
}
ul.alphabet_ul li a{
	color: #007A7A;
	font-size: 14px;
	text-decoration: underline;
}
.right_content_inner .title_h4{
	color: #000;
	font-size: 15px;
	font-family: 'Roboto-Regular';
	text-align: left;
	margin: 0 5px 20px 6px;
}
ul.list_ul{
	margin-bottom: 29px;
}
ul.list_ul > li{
	padding-left: 24px;
	position: relative;
	font-size: 15px;
	margin-bottom: 27.5px;
}
ul.list_ul > li .list_link a{
	color: #007A7A;
	text-decoration: underline;
}
ul.list_ul > li .list_link{
	margin-bottom: 11px;
}
ul.list_ul > li .list_link a:hover{
	text-decoration: none;
}
ul.list_ul > li p{
	margin-bottom: 5px;
}
a.link_icon{
	width: 27px;
	height: 27px;
	display: block;
	background: url(../img/info_2.png);
	float: left;
	margin-right: 14px;
}
ul.list_ul > li ul.reiting{
	float: left;
	margin: 6px 10px 0 0;
}
ul.list_ul > li .block_list span{
	float: left;
	margin-top: 2px;
}
.navigation_page{
	width: 100%;
	border-top: 1px solid #B1B5B6;
	border-bottom: 1px solid #B1B5B6;
	padding: 20px 5px 13px 5px;
	margin-bottom: 24px;
	text-align: center;
}
.navigation_page p{
	float: left;
	margin-right: 8px;
	color: #476063 !important;
	margin-top: 3px;
	font-size: 12px !important;
}
.navigation_pos{
	display: inline-block;
	font-size: 12px;
}
.navigation_pos ul{
	float: left;
	margin-top: 3px;
}
.navigation_pos ul li{
	float: left;
}
.navigation_pos ul li a{
	padding: 2px 4.5px;
	color: #000;
}
.navigation_pos ul li a:hover,
.navigation_pos ul li a.acrive_page{
	color: #fff;
	background: #007A7A;
}
.block_inner .content_inner p{
	color: #000;
	font-size: 18px;
	font-weight: 400;
	margin-left: 8px;
	line-height: 22px;
	margin-bottom: 0;
}
.block_inner .right_content_inner .title_h1{
	margin-bottom: 13px;
}
.content_inner{
	margin-bottom: 25px;
}
table{
	width: 100%;
	width: calc(100% + 34px);
	margin-left: calc(-16px);
	margin-bottom: 36px;
}
table tr{
	background: #F2F2F2;
	border-bottom: 1px solid #fff;
}
table tr:last-child{
	border-bottom: none;
}
table tr:nth-child(2n){
	background: #F8F8F8;
}
table tr td{
	padding: 9px 10px 5px 24px;
	border-right: 1px solid #fff;
	font-size: 16px;
}
table tr td:last-child{
	border-left: none;
}
table tr td a{
	color: #146264;
	text-decoration: underline;
}
table tr td a:hover{
	text-decoration: none;
}
.link_block{
	width: 100%;
	padding: 0 10px;
	margin-bottom: 25px;
}
.link_block_left{
	width: 38%;
	float: left;
	border-right: 1px solid #E5E5E5;
	padding: 2px 10px 2px 0;
}
.link_block_ul li{
	margin-bottom: 27px;
	position: relative;
	padding-left: 41px;
	min-height: 40px;
}
.link_block_ul li a{
	color: #146264;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}
.link_block_ul li a:hover{
	text-decoration: none;
}
.link_block_ul li a:before{
	content: '';
	width: 40px;
	height: 40px;
	display: block;
	background: url(../img/icone_1.png) no-repeat;
	position: absolute;
	left: -11px;
	top: 0px;
}
.link_block_ul li.download_link a:before{
	background-position: 0 -40px;
}
.link_block_ul li.qu_link a:before{
	background-position: 0 -80px;
}
.partner_link{
	width: 100%;
	text-align: center;
}
.partner_link img{
	max-width: 100%;
}
.link_block_right{
	width: 58%;
	float: right;
}
.link_block_right > div{
	margin-bottom: 19px;
}
.link_block_right > div img{
	max-width: 100%;
}
.information_inner h3.title_h3{
	color: #FF7011;
	font-family: 'Roboto-Bold';
	font-size: 17px;
	text-align: left;
	margin-left: 8px;
	line-height: 22px;
	margin-bottom: 22px;
}
.information_inner form{
	margin: 0 12px 28px 14px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"]{
	width: 100%;
	height: 45px;
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFF 100%);
	border: 1px solid #CECECE;
	-moz-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	-webkit-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	box-shadow: inset 0 0 3.4px 0.6px #FFF;
	margin-bottom: 17px;
	padding-left: 24px;
	border-radius: 25px;
	color: #1B4D55;
	font-size: 14px;
	font-weight: 400;
	padding-right: 10px;
}
.block_submit input[type="submit"],
.block_submit input[type="button"]{
	margin: auto;
	width: 100%;
	height: 45px;
	border: none;
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	border-radius: 25px;
	text-transform: uppercase;
	background: url(../img/submit.png) no-repeat 50% 0;
}
.block_submit{
	text-align: center;
	max-width: 303px;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 25px;
	overflow: hidden;
}
.block_line_input input{
	width: 48.9%;
	float: left;
}
.block_line_input input:last-child{
	float: right;
}
/* file */
.jq-file {
	width: 100%;
	border: 1px solid #CECECE;
	border-radius: 25px;
	margin-bottom: 11px;
}
.jq-file input {
	height: auto;
	line-height: 1em;
	cursor: pointer;
}
.jq-file__name {
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 45px;
	padding: 13px 100px 0 23px;
	border-radius: 4px;
	background: #FFF;
	color: #333;
	white-space: nowrap;
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFF 100%);
	-moz-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	-webkit-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	box-shadow: inset 0 0 3.4px 0.6px #FFF;

	color: #1B4D55;
	font-size: 14px;
	font-weight: 400;
}
.jq-file__browse {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 92px;
	text-align: center;
	padding-top: 13px;
	background: url(../img/fon_submit.png);
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-transform: uppercase;
}
/* file */
.block_inner p{
	color: #000;
	font-size: 15px;
	font-weight: 400;
}
.block_inner .right_content_inner > p{
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 18px;
}
.calculator{
	width: 100%;
	margin-bottom: 20px;
}
.calculator img{
	width: 100%;
}
.title_h5{
	color: #000;
	font-family: 'Roboto-Bold';
	font-size: 15px;
}
.block_description{
	padding: 0 7px;
}
.block_description p{
	margin-bottom: 19px;
}
.link_down{
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
}
.link_down div{
	display: inline-block;
	text-align: left;
	width: 75%;
}
.link_down div a{
	color: #146264;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}
.link_down div a:hover{
	text-decoration: none;
}
.link_down div a:before{
	content: '';
	content: none;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin-right: 10px;
	background: url(../img/icone_1.png) no-repeat 0px -40px;
}
.how_much{
	width: 304px;
	height: auto;
	border: 1px solid #FE9900;
	position: relative;
	margin: auto;
	text-align: center;
	margin-bottom: 8px;
	padding-bottom: 6px;
}
.how_much_top{
	background: #FE9900;
	padding: 6px 5px 6px 5px;
	color: #000;
	font-size: 14px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin-bottom: 6px;
}
.how_much a{
	color: #007A7A;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.how_much a:hover{
	text-decoration: none;
}
.date_list{
	clear: both;
	padding-top: 2px;
}
.date_list .date_news{
	float: left;
	margin-right: 10px;
	margin-top: 6px;
}
.date_list span{
	font-size: 15px;
}
.saitbar .link_block_ul{
	margin-left: 30px;
	width: 209px;
	margin-top: 32px;
}

.position{
	position: fixed;
	top: 0;
}
.regestration{
	display: inline-block;
	margin-left: 10px;
	color: #79D2E4;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px dashed #79D2E4;
	cursor: pointer;
}
.regestration:hover{
	border: none;
}
form.form_saitbar{
	width: 100%;
	width: 259px;
	margin: auto;
	margin-bottom: 12px;
}
form.form_saitbar input[type="submit"]{
	width: 100%;
	height: 45px;
	border: none;
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-transform: uppercase;
	background: url(../img/submit.png);
	border-radius: 25px;
}
.forgot_password{
	text-align: center;
}
.forgot_password a{
	color: #007A7A;
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;
}
.forgot_password a:hover{
	text-decoration: none;
}

ul.links_bar{
	padding: 26px 20px 10px 27px;
}
ul.links_bar li{
	margin-bottom: 7px;
}
ul.links_bar li a{
	color: #007A7A;
	font-size: 15px;
	font-weight: 400;
	text-decoration: underline;
}
ul.links_bar li a:hover{
	text-decoration: none;
}

.modal_window{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.57);
	z-index: 99999;
	overflow: auto;
	display: none;
}
.close_window{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.window_block{
	max-width: 940px;
	height: auto;
	padding: 27px 30px 35px 30px;
	background: #fff;
	margin: auto;
	margin-top: 8%;
	position: relative;
	z-index: 2;
	display: none;
	margin-bottom: 30px;
}
.title_window{
	text-align: center;
	color: #FF5B08;
	font-family: 'OfficinaSansBlackC';
	font-size: 22px;
	margin-bottom: 20px;
}
.left_window{
	width: 61%;
	float: left;
}
.form_window_left{
	width: 48.2%;
	float: left;
	padding-bottom: 10px;
}
/*select*/
.select
{
	width: 100%;
	height: 45px;
	position: relative;
	color: #1D5F9C;
	font-size: 16px;
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFF 100%);
	border: 1px solid #CECECE;
	-moz-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	-webkit-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	box-shadow: inset 0 0 3.4px 0.6px #FFF;
	border-radius: 25px;
	padding-left: 18px;
	margin-bottom: 22px;
}
.select:after
{
	content: '';
	width: 32px;
	border-left: 1px solid #E4E4E4;
	height: 43px;
	background: url(../img/vector_1.png) no-repeat 10px 11px;
	display: block;
	position: absolute;
	top: 0px;
	right: 11px;
	border-radius: 0 25px 25px 0;
}
.select input{
	width: 100% !important;
	height: 100% !important;
	border: none !important;
	background: none !important;
	padding: 0 0px 0 4px !important;
	box-shadow: none !important;
	margin: 0 !important;
	color: #1D5F9C;
	font-size: 15px;
	cursor: default;
}
.option{
	position: absolute;
	width: 100%;
	width: calc(100% + 4px);
	left: -2px;
	display: none;
	border-top: none;
	z-index: 9;
	text-align: left;
}
.option div{
	width: 100%;
	padding: 5px 5px;
	cursor: pointer;
	border: 1px solid #B4CCCF;
	padding-left: 15px;
	border-radius: 25px;
	background: #fff;
}
.option div:hover{
	background: #F4F4F5;
}
/*select*/
.margin_form{
	padding-left: 14px;
	margin-left: 24px;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	color: #1B4D55;
}
.margin_form span{
	/*color: #DE0000;*/
	display: block;
	position: absolute;
	left: 0;
	top: 0px;
}
.form_window_right{
	width: 48%;
	float: right;
}
.capcha{
	margin-bottom: 0px;
}
.left_capcha{
	float: left;
	width: 33%;
	margin-top: 12px;
}
.left_capcha img{
	max-width: 100%;
}
.form_window_right input{
	float: right;
	width: 63%;
}
textarea{
	width: 100%;
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFF 100%);
	background-image: linear-gradient(to top, #F4F4F4 0%, #FFF 100%);
	border: 1px solid #CECECE;
	-moz-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	-webkit-box-shadow: inset 0 0 3.4px 0.6px #FFF;
	box-shadow: inset 0 0 3.4px 0.6px #FFF;
	resize: none;
	padding: 25px 10px 10px 10px;
	border-radius: 25px;
	margin-bottom: 16px;
}
textarea.texar_1{
	height: 293px;
}
textarea.texar_2{
	height: 107px;
}
form.form_window input[type="submit"]{
	width: 100%;
	max-width: 312px;
	height: 45px;
	background-color: #FF7011;
	border-radius: 25px;
	border: none;
	background: url(../img/submit.png);
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-transform: uppercase;
	float: none;
}
form.form_window input{
	color: #1B4D55;
}
.right_window{
	width: 35.6%;
	float: right;
	margin-top: -1px;
}
.right_window p{
	margin-bottom: 19px;
}
.right_window p:last-child{
	margin-bottom: 0;
}
.close_w{
	width: 35px;
	height: 37px;
	position: absolute;
	background: url(../img/close_w.png);
	top: -37px;
	right: 0;
	cursor: pointer;
}
.overflow{
	overflow: hidden;
}



.with_active{
	margin-left: 27px;
	margin-bottom: 27px;
}
.with_active a{
	color: #007A7A;
	font-size: 15px;
	font-weight: 400;
	text-decoration: underline;
	position: relative;
	display: inline-block;
	padding-left: 15px;
}
.with_active a:hover{
	text-decoration: none;
}
.with_active a:before{
	content: '';
	width: 6px;
	height: 19px;
	background-color: #FF7011;
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
}
/***********inner page***********/
nav a.link_price:hover,
.info_home ul li a:hover mark,
ul.sit_news li a,
a.link_all:hover,
ul.ul_partner li a:hover,
.links_work a:hover,
.author_reviews a:hover,
a.download_link:hover,
.right_alphedet ul li a:hover,
ul.alphabet_ul li a:hover,
ul.list_ul li .list_link a:hover,
table tr td a:hover,
.link_block_left li a:hover,
.link_down div a:hover,
.how_much a:hover,
.forgot_password a:hover,
ul.links_bar li a:hover,
.with_active a:hover,
ul.nav_inner li a:hover
{
	color: #000
}

ul.sit_news li a:hover,
ul.author_ul li:hover p,
.name_author_work a:hover,
.alphabet_index a:hover
{
	color: #007d7e !important;
}


h1, h2, h3, h4, h5, h6{
	color: #183741;
	margin-bottom: 25px;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 16px;
}

table.table_inner tbody tr td:first-child{
	width: 38.8%;
}


::-webkit-input-placeholder {color: #1B4D55; opacity: 1;}
::-moz-placeholder          {color: #1B4D55; opacity: 1;}/* Firefox 19+ */
:-moz-placeholder           {color: #1B4D55; opacity: 1;}/* Firefox 18- */
:-ms-input-placeholder      {color: #1B4D55; opacity: 1;}

input:focus,
textarea:focus
{
	outline: none;
}



ul.nav_inner{
	text-align: center;
	margin-bottom: 20px;
}
ul.nav_inner li{
	display: inline-block;
	margin: 0 8.6px;
}
ul.nav_inner li a{
	text-transform: uppercase;
	font-size: 16px;
	color: #146264;
	text-decoration: underline;
}
ul.nav_inner li a:hover{
	text-decoration: none;
}
.calculator{
	width: 100%;
	/*height: 97px;*/
	background: #F88706;
	border-radius: 5px;
	padding: 12px 12px 10px 18px;
}
.calculator p {
	float: left;
	font-size: 18px;
	line-height: 23px;
	font-family: 'Roboto-Bold';
	color: #222;
	width: 143px;
}
.calculator p span{
	color: #FFF;
	display: inline-block;
	background: #333333;
	padding: 2px 10px;
	margin-left: -10px;
}
.calculator form {
	float: right;
	width: calc(100% - 169px);
	margin: 0;
}
.calculator form textarea{
	width: 31%;
	height: 75px;
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 0;
	padding: 7px 5px 5px 8px;
	float: left;
	margin-right: 2.6%;
	margin-bottom: 0;
	font-size: 14px;
}
.div_cal{
	float: left;
	width: 41%;
}
.calculator form input{
	width: 100%;
	height: 22px;
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 0;
	margin-bottom: 4px;
	padding: 0 4px 0 5px;
	font-size: 14px;
}
.calculator form select{
	width: 100%;
	height: 22px;
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 0;
	margin-bottom: 2px;
	padding: 0 4px 0 3px;
	font-size: 14px;
	margin-bottom: 5px;
}
.calculator form select:last-child{
	margin-bottom: 0;
}
.button_cal{
	float: right;
	width: 22.9%;
}
.button_cal input[type="submit"]
{
	width: 100%;
	height: 55px;
	background-image: -moz-linear-gradient(bottom, #0D0D0D 0%, #4D4B4D 100%);
	background-image: -o-linear-gradient(bottom, #0D0D0D 0%, #4D4B4D 100%);
	background-image: -webkit-linear-gradient(bottom, #0D0D0D 0%, #4D4B4D 100%);
	background-image: linear-gradient(to top, #0D0D0D 0%, #4D4B4D 100%);
	border: 1px solid #484748;
	color: #FEFEFE;
	font-family: 'Roboto-Bold';
	font-size: 17px;
	border-radius: 5px;
	margin-bottom: 0px;
}
.button_cal div{
	margin: 0;
	color: #0B0B0B;
	font-size: 14px;
	font-family: 'Roboto-Regular';
	text-align: center;
}
.mobile_nav_ul{
	display: none;
}
.text_baner{
	margin-left: 20px;
	width: 260px;
}
.text_baner p{
	margin-bottom: 10px;
}
/*----------------------------------------*/
.top-header{
	position: relative;
	width: 100%;
	padding-bottom: 21px;
	padding-top: 10px;
	font-weight: 700;
	background: #C7DC94;
}

.top-header:before{
	content: '';
	width: 100%;
	height: 694px;
	display: block;
	position: absolute;
	background: url(../img/header-bg-1.png) 50% 0 no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}
@media (max-width: 1500px){
	.top-header:before{
		background-position: 20% 0;
	}
}
@media (max-width: 1140px){
	.top-header{
		padding-left: 70px;
		padding-right: 70px;
	}
}
.top-header .container-fluid{
	padding: 0;
	position: relative;
	z-index: 9;
}
.title-header{
	text-shadow: 0.5px 0.9px 1px #fff;
	color: #a2213b;
	font-size: 35px;
	/*font-weight: 400;
	font-family: 'Noto Sans';
	font-weight: 700;*/
	margin-bottom: 2px;
}
.title-header a{
	font-family: 'Roboto-Bold', sans-serif;
	text-shadow: 0.5px 0.9px 1px #fff;
	color: #a2213b;
	text-decoration: underline;
}
.title-header a:hover{
	text-decoration: none;
}
.top-header p{
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	max-width: 800px;
	margin-bottom: 22px;
	letter-spacing: 0.4px;
}
.contain-top-header-l{
	width: 59%;
	float: left;
}
.contain-top-header-l ul{
	width: 100%;
}
.contain-top-header-l ul li{
	width: 49%;
	float: left;
	padding-left: 38px;
	margin-bottom: 16px;
	position: relative;
	min-width: 22px;
	font-family: 'Roboto-Regular', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;
	letter-spacing: -0.2px;
}
.contain-top-header-l ul li:before{
	content: '';
	width: 22px;
	height: 22px;
	background: url(../img/marker-2.png) no-repeat;
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
}
.contain-top-header-l ul li:nth-child(2n){
	float: right;
}
.contain-top-header-l ul li:nth-child(2n) + li{
	clear: left;
}
.contain-top-header-r{
	float: right;
	width: 40%;
}
.contain-top-header-r a{
	width: 100%;
	padding: 16px 10px;
	border-radius: 25px;
	background: #7DB82C;
	display: block;
	margin-bottom: 17px;
	text-align: center;
	font-family: 'Roboto-Bold', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}
.contain-top-header-r a:last-child{
	margin-bottom: 0;
	background: url(../img/button-grean.png) 50% 50% no-repeat;
	background-size: cover;
}
.contain-top-header-r a:first-child{
	background: url(../img/button-dark.png) 50% 50%;
	background-size: cover;
}
.contain-top-header-r a:hover{
	background: url(../img/violet.png) 50% 50%;
	background-size: cover;
}
nav{
	position: relative;
	z-index: 9;
}
.footer-new{
	padding: 23px 0 20px 0;
	position: relative;
}
.footer-new:before{
	content: '';
	width: 100%;
	height: 723px;
	background: url(../img/footer-bg.png) 50% 0 no-repeat;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;

}
ul.footer-ul{
	margin-bottom: 43px;
}
ul.footer-ul li{
	float: left;
	width: 20%;
	text-align: center;
}
ul.footer-ul li .icone-fuuter{
	width: 129px;
	height: 129px;
	background-color: #fff;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
}
ul.footer-ul li .icone-fuuter:before{
	content: "";
	display: inline-block;
	min-height: inherit;
	height: 100%;
	vertical-align: middle;
}
ul.footer-ul li .icone-fuuter img{
	max-width: 92%;
}
ul.footer-ul li a{
	display: inline-block;
	max-width: 100px;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: 'Roboto-Bold', sans-serif;
}
ul.footer-ul li a:hover{
	text-decoration: none;
}
.wr-footer{
	display: inline-block;
}
.title-footer{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.wr-footer{
	display: inline-block;
}
.wr-footer p{
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	max-width: 250px;
	text-align: left;
	padding-left: 40px;
	position: relative;
	margin-right: 20px;
	float: left;
	font-family: 'Roboto-Regular', sans-serif;
}
.wr-footer p:before{
	content: '';
	width: 30px;
	height: 32px;
	display: block;
	background: url(../img/like-2.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.wr-footer .count{
	width: 88px;
	height: 31px;
	background: url(../img/count-2.png) no-repeat;
	float: right;
}
/**************Дополнение**************/
.block_price:after,
.leaft_form:after,
.capcha_2:after
{
	content: '';
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}

.block_price{
	width: 100%;
	margin-bottom: 40px;
}
.number_price{
	width: 94px;
	height: 92px;
	background: url(../img/namber.png);
	float: left;
}
.right_price{
	float: right;
	width: calc(100% - 104px);
	margin-top: 3px;
}
.title_price
{
	color: #F88706;
	font-family: 'Roboto-Bold';
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	margin-bottom: 4px;
}
.right_price form{
	margin: 0;
}
.leaft_form{
	width: 57.8%;
	float: left;
}
.leaft_form select{
	width: 100%;
	height: 22px;
	background-color: #FFF;
	border: 1px solid #666;
	margin-bottom: 5px;
}
.leaft_form input{
	width: 100%;
	height: 22px;
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 0;
	padding: 0 10px 0 10px;
}

.right_price form input[type="button"],
.right_price form input[type="submit"]
{
	width: 39%;
	float: right;
	margin-right: 2%;
	height: 45px;
	background-color: #FF7011;
	border: none;
	background: url(../img/submit.png);
	border-radius: 25px;
	color: #FFF;
	font-family: 'Roboto-Bold';
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 2px;
}
.capcha_2{
	margin-bottom: 30px;
	text-align: center;
}
.capcha_2 .precap{
	margin-bottom: 5px;
	font-family:"Courier New", Courier, monospace, bold;
	font-size:9px;
}
.wrap_cacha{
	display: inline-block;
}
.capcha_2 p{
	float: left;
	margin-right: 10px;
}
.capcha_2 input[type="text"]{
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 0;
	padding: 0 10px 0 10px;
	float: left;
	width: 80px;
	height: 23px;
	margin-right: 5px;
}
.capcha_2 input[type="submit"],
.capcha_2 input[type="button"]{
	width: 122px;
	float: left;
	height: 25px;
	margin-top: -1px;
}
.modal_window_2 .window_block{
	max-width: 645px;
}
.modal_window_2 .window_block .left_window{
	width: 46%;
}
.modal_window_2 .window_block .right_window{
	width: 49%;
}
/**************Дополнение**************/
ul.icone_inner{
	width: 100%;
	margin: 25px 0 25px 0;
}
ul.icone_inner li{
	margin-bottom: 5px;
}
ul.icone_inner li img{
	float: left;
	width: 58px;
	height: 58px;
}
ul.icone_inner li:after{
	content: '';
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}
ul.icone_inner li:before{
	content: '';
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}
ul.icone_inner li a:before{
	content: '';
	display: block;
	float: left;
	width: 58px;
	height: 58px;
	position: absolute;
	left: 0;
	top: 0;
}
ul.icone_inner li span{
	float: left;
	width: calc(100% - 65px);
	margin-top: 19px;
	text-decoration: underline;
}
ul.icone_inner li span:hover{
	text-decoration: none;
}
ul.icone_inner li a{
	color: #224F4C;
	display: inline-block;
	position: relative;
	padding-left: 65px;
	min-height: 60px;
	padding-top: 19px;
	text-decoration: underline;
}
ul.icone_inner li a:hover{
	text-decoration: none;
}
ul.link_block_ul_2{

}

ul.link_block_ul_2 li{
	/*padding-top: 11px;*/
}
ul.link_block_ul_2 li a{
	line-height: 16px;
}
ul.link_block_ul_2 li a:before{
	top: calc(50% - 20px);
}
ul.link_block_ul_2 li a{
	line-height: 20px;
	display: inline-block;
}
ul.link_block_ul li.download_link a:before{
	background: url(../img/godl.png);
}
ul.link_block_ul li.viewtext_link a:before{
	background: url(../img/viewtext.png);
}
ul.link_block_ul li.workinfo_link a:before{
	background: url(../img/info.png);
}
ul.link_block_ul li.clouse a:before{
	background: url(../img/clouse.png);
}

.div_maring{
	margin-left: 20px;
}
