body {
	overflow-x: hidden !important;
}

.heroscroller{ display: none ;}

.heroscroller .items div.item{ height:1px !important; width:1px !important; overflow: hidden; display: none}

.medium_ad{
	top: 0;
	position: absolute;
	right: 30px;
	background: #fff;
	padding-left: 20px;
}

.layout.layoutStandard.horizontal
{
	position: relative;
	overflow: visible;
}


div.featureinfo h2, .availability, .fromlbl, .featureprice, .featureinfobutton, .description{display: none;}

.heroimg{
	position: relative;
}

.heroimg img{
	height:270px;
	width:770px;
}

a.herolink{
	display: block;
	height:270px;
	width:770px;
	position: absolute;
	z-index: 50;
}

div.prodlisting, div.bestprodlisting{	
	margin-left: 50px;
}
	div.prodlisting h2{
		margin-bottom: 6px;
		color: 
		#464646;
		font-size: 24px;
		font-weight: bold;
	}

	div.prodlisting ul{

	}
		div.prodlisting ul li{
			display: inline-block;
			border:3px solid whiteSmoke;
		}
			div.prodlisting ul li:hover{
				border:3px solid #d5d5d5;
			}

 

/*best seller without ul wrapper*/
		div.bestprodlisting img{
			display: inline-block;
			border:3px solid whiteSmoke;
		}

		div.bestprodlisting img:hover{
				border:3px solid #d5d5d5;
			}

/*Best Seller Marketing Manager*/
	.bestseller_container{	
		margin-left: 45px;
		margin-bottom: 10px;
}
	div.bestseller_container div.item{
		display: inline-block;
		margin: 0 .5px 0;
		*float: left;

	}
	.bestseller_container h2{
		margin-bottom: 6px;
		color: #333334;
		font-size: 24px;
		font-weight: normal;
		font-family: 'solido_bold', arial, sans-serif;
	}
	img.bestseller_box{
		display: inline-block;
		border:3px solid whiteSmoke;
		}

	img.bestseller_box:hover{
		border:3px solid #d5d5d5;
			}
/*
|||||||||||||||||||||||||||||||
	styles for hero slider
|||||||||||||||||||||||||||||||	
*/

.showcase-load
{
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}



/* Container when content is shown in slider */

.showcase-thumbnail-restriction{
	margin-top:-7px !important;
	height:270px !important;
	background:none !important;
}
.showcase
{
	position: relative;
	margin: auto;
}

	.showcase-content-container
	{
		background-color: #000;
	}
	
	/* Navigation arrows */
	.showcase-arrow-previous, .showcase-arrow-next
	{
		position: absolute;
		background: url('/gs/pages/storefront/home/img/arrows.png');
		width: 33px;
		height: 33px;
		top: 220px;
		cursor: pointer;
	}
	
	.showcase-arrow-previous
	{
		left: -60px;
	}
	
	.showcase-arrow-previous:hover
	{
		background-position: 0px -34px;
	}
	
	.showcase-arrow-next
	{
		right: -56px;
		background-position: -34px 0;
	}
	
	.showcase-arrow-next:hover
	{
		background-position: -34px -34px;
	}
	
	/* Content */
	.showcase-content
	{
		background-color: #000;
		text-align: center;
	}
		.showcase-content a{
			display: block;
			height:270px;
			width:770px;
			position: absolute;
			z-index: 50;
		}

		.showcase-content img{
			height:270px;
			width:770px;
		}
		
		.showcase-content-wrapper
		{
			text-align: center;
			height: 470px;
			width: 700px;
			display: table-cell;
			vertical-align: middle;
		}
		
		/* Styling the tooltips */
		.showcase-plus-anchor
		{
			background-image: url('/gs/pages/storefront/home/img/plus.png');
			background-repeat: no-repeat;
		}
		
		.showcase-plus-anchor:hover
		{
			background-position: -32px 0;
		}
		
		div.showcase-tooltip
		{
			background-color: #fff;
			color: #000;
			text-align: left;
			padding: 5px 8px;
			background-image: url(/gs/pages/storefront/home/img/white-opacity-80.png);
		}
		
		/* Styling the caption */
		.showcase-caption
		{
			color: #000;
			padding: 8px 15px;
			text-align: left;
			position: absolute;
			bottom: 10px; left: 10px; right: 10px;
			display: none;
			background-image: url(/gs/pages/storefront/home/img/white-opacity-80.png);
		}
		
	.showcase-onepage .showcase-content
	{
		margin-bottom: 10px;
	}
	
	/* Button Wrapper */
	.showcase-button-wrapper
	{
		clear: both;
		margin-top: 10px;
		text-align: center;
	}
	
		.showcase-button-wrapper span
		{
			margin-right: 3px;
			padding: 2px 5px 0px 5px;
			cursor: pointer;
			font-size: 12px;
			color: #444444;
		}
	
		.showcase-button-wrapper span.active
		{
			color: #fff;
		}
	
	/* Thumbnails */
	.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */
	{
		background-color: #000;
	}
	
	.showcase-thumbnail-wrapper
	{
		overflow: hidden;
	}
		
		.showcase-thumbnail
		{
			width: 190px;
			height: 67px;
			cursor: pointer;
			
			position: relative;
		}
		
			.showcase-thumbnail-caption
			{
				position: absolute;
				bottom: 2px;
				padding-left: 10px;
				padding-bottom: 5px;
			}
			
			.showcase-thumbnail-content
			{
				padding: 10px;
				text-align: center;
				padding-top: 25px;
			}
			
			.showcase-thumbnail-cover
			{
				background-image: url(/gs/pages/storefront/home/img/black-opacity-40.png);
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
			}
		
		.showcase-thumbnail:hover
		{
			
		}
		
			.showcase-thumbnail:hover .showcase-thumbnail-cover
			{
				display: none;
			}
		
		.showcase-thumbnail.active
		{
			
		}
		
			.showcase-thumbnail.active .showcase-thumbnail-cover
			{
				display: none;
			}
	
	.showcase-thumbnail-wrapper-horizontal
	{
		padding: 10px;
	}
	
		.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail
		{
			margin-right: 10px;
			width: 116px;
		}
	
	.showcase-thumbnail-wrapper-vertical
	{
		
	}
	
		.showcase-thumbnail-wrapper-vertical .showcase-thumbnail
		{
			margin-bottom: 1px;
		}
		
	.showcase-thumbnail-button-backward,
	.showcase-thumbnail-button-forward
	{
		padding: 7px;
		cursor: pointer;
	}
	
	.showcase-thumbnail-button-backward
	{
		padding-bottom: 0px;
		padding-right: 0px;
	}
	
		.showcase-thumbnail-button-backward .showcase-thumbnail-vertical,
		.showcase-thumbnail-button-forward .showcase-thumbnail-vertical,
		.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal,
		.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
		{
			display: none;
		}
		
		.showcase-thumbnail-button-backward .showcase-thumbnail-vertical
		{
			background-position: 0 -51px;
			margin-left: 55px;
		}
		.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical
		{
			background-position: -17px -51px;
		}
		
		.showcase-thumbnail-button-forward .showcase-thumbnail-vertical
		{
			background-position: 0 -34px;
			margin-left: 55px;
		}
		.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical
		{
			background-position: -17px -34px;
		}
		
		.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
		{
			background-position: 0 -17px;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal
		{
			background-position: -17px -17px;
		}
		
		.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal
		{
			background-position: 0 0;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal
		{
			background-position: -17px 0;
		}
		
		/* Hide button text */
		.showcase-thumbnail-button-forward span span,
		.showcase-thumbnail-button-backward span span
		{
			display: none;
		}
	


/* Clear (used for horizontal thumbnails)
-------------------------------------------*/

.clear
{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	float: none;
}




/*
|||||||||||||||||||||||||||||||
	styles for carousel
|||||||||||||||||||||||||||||||	
*/


.featurediv img{
	margin-top:6px;
	max-width:160px;
	max-height:100px;
}

.featurediv h2 {
	font-size: 12px !important;
	font-weight: normal;
	margin: 6px 0 0 0 !important;
}

.featurediv h2 a{
	font-size: 14px !important;
	font-weight: normal;
	margin: 6px 0 0 0 !important;
	color: #ee2e24;
}

.featurediv p{
margin-top: 5px;
  font-family: 'solido_book';
  color: #000;
  font-size: 12px;
}

.featuredoff{
	background: #fff;
	width: 850px;
	height: 220px;
	padding: 10px;
	margin: 30px 45px;
	position: relative;
}

	.featuredoff h2{
		margin-bottom: 6px;
		color: #333334;
		font-size: 24px;
		font-weight: normal;
		font-family: 'solido_bold', arial, sans-serif;
	}
		.featuredoff h2.mainh1{}
		.featuredoff h2 span{
			font-size: 12px;
			font-weight: 400;
			padding-left: 10px;
		}

	.featuredoff .viewmore{
		position: absolute;
		width: 180px;
		left: 690px;
		top: 18px;
		background: #eee;
		text-align: center;
	}

	.viewmore h3 {
		color: #333334;
		font-size: 18px !important;
		font-weight: normal;
		font-family: 'solido_bold', arial, sans-serif;
		margin: 0 !important;
		border-bottom: 1px solid #fff;
		padding: 6px;
	}

			.viewmore ul {
				margin: 4px 0 -4px 0;
			}
			
			.viewmore ul li {
				background: none;
				padding: 6px 0 0 0;
				font-size: 14px;
				font-weight: normal;
				font-family: 'solido_book', arial, sans-serif;
				border-bottom: 1px solid #fff;
				display: inline-block;
				width: 180px;
				height: 24px;
			}
			
			.viewmore ul li a {
				color: #333334 !important;
				text-decoration: none !important;
				width: 180px;
				height: 30px;
				display: inline-block;
			}

			.viewmore ul li:hover, .viewmore ul li:focus{
				color: #fff !important;
				background: #ee2e24;
				text-decoration: none !important;
				font-weight: normal;
				font-family: 'solido_bold', arial, sans-serif;
			}
						
			.viewmore ul li a:hover {
				color: #fff !important;
				text-decoration: none !important;
				font-weight: normal;
				font-family: 'solido_bold', arial, sans-serif;
			}


			.viewmore .offers-viewall {
				margin: 5px 0;
			}



/* Circular Content Carousel Style */
.ca-container{
	background: #fff;
	width: 660px;
	height: 170px;
	padding-top: 16px;
	position: absolute;
	top: 46px;
	left: 10px;
}
.ca-wrapper{
	width: 600px;
	height: 170px;
	padding: 0;
	margin-left: 30px;
	position: relative;
	overflow: hidden;
	float: left;
}
.ca-item{
	width: 200px;
	height: 170px;
	padding-left: 10px;
}


.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}

.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	width: 180px;
	height: 170px;
	margin: 0 10px;
	font-size: 11px !important;
	line-height: 12px;
	position: absolute;
	overflow: hidden;
}



.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
}

.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	background: url(/gs/pages/storefront/home/devProd/img/menunav_prev2.png) 0 0;
	width: 30px;
	height: 60px;
	position:absolute;
	top: 100px;
	margin-top:-60px;
	left:0px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background: url(/gs/pages/storefront/home/devProd/img/menunav_next2.png) 0 0;
	width: 30px;
	height: 60px;
	top: 100px;
	left:auto;
	right:0px;
}
.ca-nav span:hover{
	background-position: 0 60px;
	cursor: pointer;
}

/*
|||||||||||||||||||||||||||||||
	styles for What's Hot section
|||||||||||||||||||||||||||||||	
*/
#content .alert img{
margin: 20px 45px 10px;

}

.omtr-whatshot1 a, .omtr-whatshot2 a, .omtr-whatshot3 a{
	float: left;
}
	.omtr-whatshot1 a:hover, .omtr-whatshot2 a:hover, .omtr-whatshot3 a:hover{
		opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
	}





/*
|||||||||||||||||||||||||||||||
	hot.css 
|||||||||||||||||||||||||||||||	
*/


.thehotness{
	width:850px;
	margin-left: 45px;
	background:#eeeeee;
	padding:10px;
/*	height:240px;
*/	margin-bottom: 20px;
	overflow:hidden;
}
	.thehotness .hotcont{
		width: 240px;
		float: left;
		padding: 20px;
	}
		.thehotness .hotcont h2{
			color:#195f91;
			margin-top:10px;
			font-size: 24px;
		}

/*
|||||||||||||||||||||||||||||||
	hot.css Marketing Mangager
|||||||||||||||||||||||||||||||	
*/
	.thehotness .item{
		width: 240px;
		float: left;
		padding: 20px;
	}
		.thehotness h2{
			color:#195f91;
			margin-top:10px;
			font-size:14px;
		}












.product-lists{
	margin-top: 30px;
	margin-left: 45px;
margin-bottom:70px;
}


/*
|||||||||||||||||||||||||||||||
	itrade.css 
|||||||||||||||||||||||||||||||	
*/
.tradevalues{
	background: #eee;
	position: relative;
	height:230px;
	padding: 10px;
	margin-bottom: 30px;
	width:850px;
	margin-left:45px;
}
	.tradevalues h2{
		margin-bottom: 6px;
		color: #464646;
		font-size: 21px;
		font-weight: bold;
	}

	.tradevalues a.viewall{
		background: url(/gs/pages/storefront/home/img/viewall_button.png) 0 0;
		width: 74px;
		height: 20px;
		position: absolute;
		top: 13px;
		left: 480px;
	}

		a.viewall:hover {
			background-position: 0 20px;
		}
		
		a.viewall span {
			display: none;
		}

	.tradevalues .ignad{
		background: #fff;
		padding-left: 20px;
		position: absolute;
		right:0;
		top: 0;
	}

	.tradevalues .thevalues{
		width: 260px;
		border-right:1px solid #ccc;
		height: 230px;
		background: url(/gs/pages/storefront/home/img/hptrade_bkgd_v2.jpg) 0 45px no-repeat;
		position: relative;
	}
		.tradevalues .thevalues .thessshot{
			text-align:right;
			width: 130px;
			position: absolute;
		}
			.tradevalues .thevalues .thessshot p{
				margin:0;
			}

				.tradevalues .thevalues .thessshot.theone{
					left: 120px;
					top: 44px;
				}
				.tradevalues .thevalues .thessshot.thetwo{
					left: 120px;
					top: 94px;
				}
				.tradevalues .thevalues .thessshot.thethree{
					left: 120px;
					top: 144px;
				}

			.tradevalues .thevalues .thessshot .thetitleofit{
				color: #333;
				font-size: 17px;
				float: left;
				margin-top: 12px;
			}

				.tradevalues .thevalues .thessshot .thetitleofit sup{
					font-size:9px;
				}

			.tradevalues .thevalues .thessshot .tradeitin{
				color: #898989;
				font-size:10px;
				text-transform: uppercase;
			}

			.tradevalues .thevalues .thessshot .bigtoppriced{
				color: #5998c3;
				font-size: 23px;
				font-weight: bold;
				line-height: 20px;
			}

			.tradevalues .thevalues .thessshot .tradeitin2{
				font-size:10px;
				margin-top: -2px;
				color: #898989;
			}

		.tradevalues .thevalues p.legal{
			font-size:8px;
			position: absolute;
			bottom: -13px;
			right:17px;
			text-align:left;
			width:270px;
		}

	.tradevalues .othertrades{
		width: 230px;
		height: 190px;
		padding-left: 10px;
		float: left;	
	}
	
	.otherfeature {
		width: 210px;
		padding: 0 10px 6px 10px;
		text-align: center;
		clear: both;
		line-height: 12px;
	}
	
	.otherfeature img {
		clear: both;
		margin-bottom: 6px;
	}
	
	a.otherheader {
		color: #306c9d !important;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		text-decoration: none !important;
	}
	
	a.otherheader:hover {
		color: #306c9d !important;
		text-decoration: underline !important;
	}

		.viewmoretrades ul {
			margin: 4px 0 -4px 5px;
		}
		
		.viewmoretrades ul li {
			background: url(/gs/pages/storefront/home/img/viewmore_arrow.png) 9px 3px no-repeat;
			padding: 4px 0 4px 30px;
			font-size: 13px;
			font-weight: bold;
		}
		
		.viewmoretrades ul li a {
			color: #306c9d !important;
			text-decoration: none !important;
		}
		
		.viewmoretrades ul li a:hover {
			color: #306c9d !important;
			text-decoration: underline !important;
		}
		
.preowned_header {
	width: 250px;
	height: 230px;
	position: absolute;
	top: 10px;
	left: 330px;
}

.preowned_header h2 {
	color: #464646;
	font-size: 21px;
	font-weight: bold;
	position: relative;
}

.preowned_header h2 a {
	background: url(/gs/pages/storefront/home/devprod/img/viewall_button.png) 0 0;
	width: 74px;
	height: 20px;
	position: absolute;
	top: 2px;
	right: 0px;
	display: block;
	text-indent: -9999px;
}

.preowned_header h2 a:hover {
	background-position: 0 20px;
}

.preowned_content, .endeca_grid {
	margin-top: 6px;
	width: 250px;
}

.preowned_content td, .endeca_grid td {
	min-height: 42px;
	padding: 3px;
	border-top: #fff 1px solid;
}

.preowned_content tr, .endeca_grid tr {
	background: url(/gs/pages/storefront/home/devprod/img/list_bkgd.png) 0 0;
}

.preowned_content tr:hover, .endeca_grid tr:hover {
	background: url(/gs/pages/storefront/home/devprod/img/list_bkgd.png) 0 60px;
}

.preowned_content .itemboxart img, .endeca_grid .itemboxart img {
	max-width: 38px;
	max-height: 38px;
}

.preowned_content .itemtitle a, .endeca_grid .itemtitle a {
	color: #306c9d !important;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.preowned_content .itemtitle a:hover, .endeca_grid .itemtitle a:hover {
	text-decoration: underline !important;
}

.preowned_content .itemprice, .endeca_grid .itemprice {
	color: #494949 !important;
	font-size: 14px !important;
	font-weight: bold !important;
	text-align: right;
}

.preowned_content .itemprice p, .endeca_grid .itemprice p {
	margin-top: 10px;
}

.loading_anim {
	display: none;
}



/*
|||||||||||||||||||||||||||||||
	home.css 
|||||||||||||||||||||||||||||||	
*/



.home-main {
	width: 870px;
	margin: 20px 45px 30px;
	position: relative;
}

.home-main img {
	border: none;
}

.row-spacer {
	width: 870px;
	height: 30px;
	clear: both;
}

.col-spacer {
	width: 30px;
	height: 100%;
	float: left;
}

.viewall-btn {
	background: url(/gs/pages/storefront/home/devprod/img/viewallbtn_new.png) 0 0;
	width: 180px;
	height: 30px;
	display: block;
}

.viewall-btn:hover {
	background-position: 0 30px;
}

.viewall-btn span {
	display: none;
}



/* ========== BANNER ROTATOR ========== */

.banner-rotator {
	background: url(/gs/pages/storefront/home/img/ajax-loader.gif) center center no-repeat #eee;
	width: 870px;
	height: 305px;
}

.panes div {
	width: 718px;
	height: 305px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 0;
}

.tabs {
	width: 152px;
	height: 300px; 
	padding-top: 3px;
	position: relative;
}

ul.tabs li { 
	display: block !important;
	outline:none;
}

ul.tabs a  {
	background: url(/gs/pages/storefront/home/devprod/img/menuitems_hover.png) 0 60px;
	width: 120px;
	height: 64px;
	padding: 6px 16px 0 16px;
	margin-bottom: 5px;
	display: block !important;
	text-align: center;
	text-decoration: none !important;
	outline:none;
}

ul.tabs li a.current, ul.tabs li a.current:hover {
	background: url(/gs/pages/storefront/home/devprod/img/menuitems_hover.png) 0 0;
}

ul.tabs li a:hover {
	background-position: 0 140px;
}

ul.tabs li .thb {
	width: 120px;
	height: 51px;
}

ul.tabs li h1 {
	color: #306c9d;
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
}

.rotator-navmenu {
	width: 152px;
	height: 305px; 
	padding: 0;
	margin: 0;
	top: 0px;
	left: 718px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}



/* ========== OFFERS SLIDER ========== */

.offers-deals {
	background: #eee;
	width: 850px;
	height: 210px;
	padding: 10px;
}

.offers-deals h1 {
	margin-bottom: 6px;
	color: #464646;
	font-size: 24px;
	font-weight: bold;
}

.offers-slider {
	background: #fff;
	width: 660px;
	height: 160px;
	padding-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .prev {
	background: url(/gs/pages/storefront/home/devprod/img/menunav_prev.png) 0 0;
	width: 30px;
	height: 60px;
	margin-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .next {
	background: url(/gs/pages/storefront/home/devprod/img/menunav_next.png) 0 0;
	width: 30px;
	height: 60px;
	margin-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .prev:hover, .offers-slider .next:hover {
	background-position: 0 60px;
	cursor: pointer;
}

.offers-slider .scrollable {
	width: 600px;
	height: 160px;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	float: left;
}

.offers-slider .scrollable .items {
	width: 3600px;
	position: absolute;
}

.offers-slider .scrollable .items div {
	float: left;
}

.offers-slider .scrollable .item {
	width: 160px;
	height: 160px;
	margin: 0 20px;
	float: left;
	font-size: 11px !important;
	line-height: 12px;
}

.offers-deals h2 {
	font-size: 12px !important;
	font-weight: bold;
	margin: 6px 0 0 0 !important;
}

.offers-deals h2 a {
	color: #306c9d !important;
	text-decoration: none !important;
}

.offers-deals h2 a:hover {
	color: #306c9d !important;
	text-decoration: underline !important;
}

.offers-more {
	width: 170px;
	height: 180px;
	margin-left: 20px;
	float: right;
}

.offers-deals h3 {
	color: #464646;
	font-size: 18px !important;
	font-weight: bold;
	margin: 0 !important;
}

.offers-more ul {
	margin: 4px 0 -4px 0;
}

.offers-more ul li {
	background: url(/gs/pages/storefront/home/devprod/img/viewmore_arrow.png) 9px 7px no-repeat;
	padding: 7px 0 7px 30px;
	font-size: 14px;
	font-weight: bold;
}

.offers-more ul li a {
	color: #306c9d !important;
	text-decoration: none !important;
}

.offers-more ul li a:hover {
	color: #306c9d !important;
	text-decoration: underline !important;
}

.offers-viewall {
	margin: 10px 48px;
}



/* ========== TRADE-INS/BANNER AD ========== */

.trade-values {
	background: #eee;
	width: 520px;
	height: 230px;
	padding: 10px;
	margin-right: 30px;
	float: left;
}

.trade-values h1 {
	width: 400px;
	margin-bottom: 6px;
	color: #464646;
	font-size: 24px;
	font-weight: bold;
	float: left;
}

.trade-viewall {
	margin: 4px 4px 0 0;
	float: right;
}

.trade-group {
	width: 250px;
	height: 180px;
	margin-top: 10px;
	float: left;
}

.trade-item {
	width: 115px;
	height: 80px;
	margin: 10px 10px 0 0;
	float: left;
}

.trade-item img {
	max-width: 46px;
	max-height: 72px;
	margin-right: 8px;
	float: left;
}

.trade-item .copy {
	width: 60px;
	text-align: right;
	float: left;
}

.trade-item .item-name {
	width: 60px;
	color: #333;
	font-size: 17px;
	clear: right;
	float: right;
	text-align: right;
}

.trade-item .item-name sup {
	font-size: 8px;
}

.trade-item .item-price {
	width: 60px;
	color: #5998c3;
	font-size: 23px;
	font-weight: bold;
	line-height: 20px;
	clear: right;
	float: right;
	text-align: right;
}

.trade-item .item-mid {
	width: 60px;
	color: #898989;
	font-size: 10px;
	clear: right;
	float: right;
	text-align: right;
}

.trade-spacer {
	width: 10px;
	height: 180px;
	pading-right: 10px;
	margin: 10px 0 0 9px;
	float: left;
	border-left: #333 1px solid;
}

.sub-ad {
	background: #000;
	width: 300px;
	height: 250px;
	float: left;
}



/* ========== SUB FEATURES ========== */

.sub-features {
	background: #eee;
	width: 870px;
	height: 250px;
}

.sub-feature {
	width: 250px;
	height: 210px;
	margin: 20px;
	float: left;
	font-size: 12px !important;
	line-height: 14px;
}

.sub-feature h2 {
	font-size: 13px !important;
	font-weight: bold;
	margin: 8px 0 0 0 !important;
}

.sub-feature h2 a {
	color: #306c9d !important;
	text-decoration: none !important;
}

.sub-feature h2 a:hover {
	color: #306c9d !important;
	text-decoration: underline !important;
}



/* ========== PRODUCT LISTS ========== */

.product-lists {
	width: 870px;
	height: 479px;
}

.product-list-group {
	width: 270px;
	height: 350px;
	float: left;
}

.product-list-group h1 {
	margin-bottom: 10px;
	color: #464646;
	font-size: 21px;
	font-weight: bold;
	float: left;
}

.product-list-viewall {
	margin: 6px 4px 0 0;
	float: right;
}

.product-list-viewall a {
	color: #306c9d !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;
}

.product-list-viewall a:hover {
	text-decoration: underline !important;
}

.product-list-feature {
	background: url(/gs/pages/storefront/home/devprod/img/listbig_bkgd.png) 0 0;
	margin-top: 8px;
	width: 262px;
	height: 112px;
	padding: 4px;
	clear: both;
	border-bottom: #fff 1px solid;
}

.product-list-feature:hover {
	background-position: 0 110px;
}

img.list-box-big {
	max-width: 68px;
	max-height: 92px;
	float: left;
}

.list-copy-big {
	width: 184px;
	margin: 10px 0 0 10px;
	float: right;
}

.list-title-big {
	width: 184px;
}

.list-title-big a {
	color: #306c9d !important;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none !important;
	clear: both;
	float: left;
	text-align: left;
}

.list-title-big a:hover {
	text-decoration: underline !important;
}

.list-mid-big {
	width: 184px;
	color: #898989;
	font-size: 11px;
	clear: both;
	float: left;
	text-align: left;
}

.list-note-big {
	width: 184px;
	color: #898989;
	font-size: 12px;
	font-weight: bold;
	clear: both;
	float: left;
	text-align: left;
}

.product-list-inner {
	width: 270px;
	height: 310px;
	clear: both;
}

.product-list-inner table {
	width: 270px;
}

.product-list-inner td {
	height: 61px !important;
	padding: 4px;
	border-bottom: #fff 1px solid;
}

.product-list-inner tr {
	background: url(/gs/pages/storefront/home/devprod/img/list_bkgd.png) 0 0;
}

.product-list-inner tr:hover {
	background: url(/gs/pages/storefront/home/devprod/img/list_bkgd.png) 0 60px;
}

.list-box {
	max-width: 38px;
	max-height: 52px;
}

.list-title a {
	color: #306c9d !important;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;
}

.list-title a:hover {
	text-decoration: underline !important;
}

.list-price {
	color: #494949 !important;
	font-size: 14px;
	font-weight: bold;
	clear: both;
	float: right;
	text-align: right;
}

.list-mid {
	color: #898989;
	font-size: 10px;
	clear: both;
	float: right;
	text-align: right;
}



.trdidev-btn {
	background: url(/gs/pages/storefront/home/img/tradeidevice_button.png) 0 0;
	width: 164px;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 6px;
	left: 45px;
}

.trdidev-btn:hover {
	background-position: 0 20px;
}

.trdidev-btn span {
	display: none;
}

.trdoff-btn {
	background: url(/gs/pages/storefront/home/img/tradeoffers_button.png) 0 0;
	width: 164px;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 14px;
	left: 348px;
}

.trdoff-btn:hover {
	background-position: 0 20px;
}

.trdoff-btn span {
	display: none;
}



/*consolebox*/

.consolebox{
		margin-top: -280px;
		position: absolute;
		margin-left: 317px;
		height: 250px;
		width: 280px;
		padding-left: 10px;
	}
		.consolebox h2{
			margin-bottom: 6px;
			color: #464646;
			font-size: 21px;
			font-weight: bold;
			padding: 10px 0 0 2px;
		}

	.consolebox .theconsoles{
		float:left;
		height:64px;
		width:130px;
		position:relative;
	}
		.consolebox .theconsoles:hover{
			background:#e2e2e2;
			cursor:pointer;
		}
			.consolebox .theconsoles:hover p.con_price{
				color:#195f91;
			}
			.consolebox .theconsoles:hover p.con_title{
				color:#3e3e3e;
			}

		.theconsoles p.con_title{
			font-size:14px;
			position: absolute;
			top: 8px;
			left: 50px;
		}
		.theconsoles p.con_from{
			font-size:8px;
			position: absolute;
			top: 22px;
			left: 50px;
		}
		.theconsoles p.con_price{
			font-size:19px;
			position: absolute;
			top: 29px;
			left: 50px;
			color:#5998c3;
			font-weight: bold;
		}

	.consolebox div.con_xbox{
		border-right:1px solid #e8e8e8;
		border-bottom:1px solid #e8e8e8;
	}
	.consolebox div.con_wii{
		border-bottom:1px solid #e8e8e8;
	}
	.consolebox div.con_ps3{
		border-right:1px solid #e8e8e8;
		border-bottom:1px solid #e8e8e8;
	}
	.consolebox div.con_3ds{
		border-bottom:1px solid #e8e8e8;
	}

	.consolebox .clearly{clear:both}

	.consolebox div.con_all{
		position: absolute;
		top: 18px;
		right: 25px;
	}
		.consolebox div.con_all a{
			color: white;
			background: url(/gs/pages/storefront/home/img/consoles/bkg_link.png) top left repeat-x;
			padding: 3px 6px;
			border-radius: 3px;
			font-size: 10px;
			font-weight: bold;
		}
			.consolebox div.con_all a:hover{
				background-position:0 -20px;
				text-decoration:none;
			}

/* styles for record lists */

	.omtr-mostanticipated_row5_col1, .omtr-preowned_row5_col2, .omtr-nowshipping_row5_col3{
		float:left;
		margin-left: 53px;
		margin-bottom: 50px;
		margin-top: 20px;
	}

		 .omtr-mostanticipated_row5_col1 h2 a, 
		 .omtr-preowned_row5_col2 h2 a, 
		 .omtr-nowshipping_row5_col3 h2 a
		 {
		 	color: white;
			background: url(/gs/pages/storefront/home/img/consoles/bkg_link.png) top left repeat-x;
			padding: 3px 6px;
			border-radius: 3px;
			font-weight: bold;
			float: right;
			font-size: 11px;
		 }
		 	.omtr-mostanticipated_row5_col1 h2 a:hover, 
			.omtr-preowned_row5_col2 h2 a:hover, 
			.omtr-nowshipping_row5_col3 h2 a:hover
			{
				background-position:0 -20px;
				text-decoration:none;
			}

	table.endeca_grid {position:relative}		

	table.endeca_grid tr{position:relative}

		table.endeca_grid tr a.fauxlink{
			display: block;
			height: 48px;
			width: 248px;
			position: absolute;
			left: 55px;
			z-index:20;
		}

	/*table.endeca_grid tr:first-child td.itemboxart img{
		height:100px !important;
		max-height:100px !important;
		width:82px !important;
		max-width:82px !important;
	}*/	

/* added text */
td.itemprice{position:relative;}

div.aslowas, div.only{
	font-size: 8px;
	font-weight: normal;
	position: relative;
	top: -40px;
	right: 3px;
	color: gray;
}

.endeca_grid .itemprice p{
	margin-top:20px !important;
}

.shopcolumn{
	display: inline-block;
	margin: 15px 0 10px 50px;
}
.shopcolumn h2{font-size: 20px;}

.shopcolumn h2 span {
	display: none;
}
/*.shopcolumn h2 span a {
	color: white;
	background: url(/gs/merchincludes/homepage/img/consoles/bkg_link.png) top left repeat-x;
	padding: 3px 6px;
	border-radius: 3px;
	font-weight: bold;
	float: right;
	font-size: 11px;
	margin-top: 2px;
}
*/






ul.tabs div {
margin-top: 2px;
font-family: "helvetica", "arial", "sans-serif";
font-weight: normal;
}



/* end */