

.home_social {
	background: #eee;
	width: 860px;
	height: 40px;
	margin: 15px 50px 0 50px;
	position: relative;
	border-bottom: #fff 30px solid;
}

.home_social_gp {
	top: 8px;
	left: 425px;
	position: absolute;
}

.home_social_tw {
	top: 6px;
	left: 540px;
	position: absolute;
}

.home_social_fb {
	top: 8px;
	left: 10px;
	position: absolute;
}

.home_social_yt {
	top: 7px;
	left: 710px;
	position: absolute;
}

.fb-like {
	position: relative !important;
	left: 0 !important;
}


.fb_iframe_widget iframe {
position: absolute;
width: 430px !important;
height: 20px !important;
}