
.showcase-load
{
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}
/* Container when content is shown in slider */

.showcase-thumbnail-restriction
{
	margin-top: -7px !important;
	height: 270px !important;
	background: none !important;
}
.showcase
{
	position: relative;
	margin: auto;
}

.showcase-content-container
{
	background-color: #000;
}

/* Navigation arrows */
.showcase-arrow-previous, .showcase-arrow-next
{
	position: absolute;
	background: url('/gs/merchincludes/homepage/img/arrows.png');
	width: 33px;
	height: 33px;
	top: 220px;
	cursor: pointer;
}

.showcase-arrow-previous
{
	left: -60px;
}

.showcase-arrow-previous:hover
{
	background-position: 0px -34px;
}

.showcase-arrow-next
{
	right: -56px;
	background-position: -34px 0;
}

.showcase-arrow-next:hover
{
	background-position: -34px -34px;
}

/* Content */
.showcase-content
{
	background-color: #000;
	text-align: center;
}
.showcase-content a
{
	display: block;
	height: 270px;
	width: 770px;
	position: absolute;
	z-index: 50;
}

.showcase-content img
{
	height: 270px;
	width: 770px;
}

.showcase-content-wrapper
{
	text-align: center;
	height: 470px;
	width: 700px;
	display: table-cell;
	vertical-align: middle;
}

/* Styling the tooltips */
.showcase-plus-anchor
{
	background-image: url('/gs/merchincludes/homepage/img/plus.png');
	background-repeat: no-repeat;
}

.showcase-plus-anchor:hover
{
	background-position: -32px 0;
}

div.showcase-tooltip
{
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: 5px 8px;
	background-image: url(/gs/merchincludes/homepage/img/white-opacity-80.png);
}

/* Styling the caption */
.showcase-caption
{
	color: #000;
	padding: 8px 15px;
	text-align: left;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	display: none;
	background-image: url(/gs/merchincludes/homepage/img/white-opacity-80.png);
}

.showcase-onepage .showcase-content
{
	margin-bottom: 10px;
}

/* Button Wrapper */
.showcase-button-wrapper
{
	clear: both;
	margin-top: 10px;
	text-align: center;
}

.showcase-button-wrapper span
{
	margin-right: 3px;
	padding: 2px 5px 0px 5px;
	cursor: pointer;
	font-size: 12px;
	color: #444444;
}

.showcase-button-wrapper span.active
{
	color: #fff;
}

/* Thumbnails */
.showcase-thumbnail-container /* Used for backgrounds, no other styling!!! */
{
	background-color: #000;
}

.showcase-thumbnail-wrapper
{
	overflow: hidden;
}

.showcase-thumbnail
{
	width: 190px;
	height: 67px;
	cursor: pointer;
	position: relative;
}

.showcase-thumbnail-caption
{
	position: absolute;
	bottom: 2px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.showcase-thumbnail-content
{
	padding: 10px;
	text-align: center;
	padding-top: 25px;
}

.showcase-thumbnail-cover
{
	background-image: url(/gs/merchincludes/homepage/img/black-opacity-40.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.showcase-thumbnail:hover
{
}

.showcase-thumbnail:hover .showcase-thumbnail-cover
{
	display: none;
}

.showcase-thumbnail.active
{
}

.showcase-thumbnail.active .showcase-thumbnail-cover
{
	display: none;
}

.showcase-thumbnail-wrapper-horizontal
{
	padding: 10px;
}

.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail
{
	margin-right: 10px;
	width: 116px;
}

.showcase-thumbnail-wrapper-vertical
{
}

.showcase-thumbnail-wrapper-vertical .showcase-thumbnail
{
	margin-bottom: 1px;
}

.showcase-thumbnail-button-backward, .showcase-thumbnail-button-forward
{
	padding: 7px;
	cursor: pointer;
}

.showcase-thumbnail-button-backward
{
	padding-bottom: 0px;
	padding-right: 0px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-vertical, .showcase-thumbnail-button-forward .showcase-thumbnail-horizontal, .showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
{
	display: none;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-vertical
{
	background-position: 0 -51px;
	margin-left: 55px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-vertical
{
	background-position: -17px -51px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-vertical
{
	background-position: 0 -34px;
	margin-left: 55px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-vertical
{
	background-position: -17px -34px;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal
{
	background-position: 0 -17px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-backward:hover .showcase-thumbnail-horizontal
{
	background-position: -17px -17px;
}

.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal
{
	background-position: 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.showcase-thumbnail-button-forward:hover .showcase-thumbnail-horizontal
{
	background-position: -17px 0;
}

/* Hide button text */
.showcase-thumbnail-button-forward span span, .showcase-thumbnail-button-backward span span
{
	display: none;
}
.home-main
{
	width: 870px;
	margin-bottom: 15px;
	position: relative;
	margin-left: 5px;

}

.home-main img
{
	border: none;
}
.banner-rotator
{
	background: url(/gs/merchincludes/homepage/img/ajax-loader.gif) center center no-repeat #eee;
	width: 870px;
	height: 305px;
}
.panes div
{
	width: 718px;
	height: 305px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 0;
}
.rotator-navmenu
{
	width: 152px;
	height: 305px;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 718px;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.tabs
{
	width: 152px;
	height: 300px;
	padding-top: 3px;
	position: relative;
}

ul.tabs li
{
	display: block !important;
	outline: none;
}

ul.tabs a
{
	background: url(../../../Common/css/GameStopDotCom/images/menuitems_hover.png) 0 60px;
	width: 120px;
	height: 64px;
	padding: 6px 16px 0 16px;
	margin-bottom: 5px;
	display: block !important;
	text-align: center;
	text-decoration: none !important;
	outline: none;
}

ul.tabs li a.current, ul.tabs li a.current:hover
{
	background: url(../../../Common/css/GameStopDotCom/images/menuitems_hover.png) 0 0;
}

ul.tabs li a:hover
{
	background-position: 0 140px;
}

ul.tabs li .thb
{
	width: 120px;
	height: 51px;
}

ul.tabs li h1
{
	color: #306c9d;
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
}

ul.tabs li a div
{
        color: #306c9d;
        font-size: 10px;
        font-weight: bold;
        line-height: 18px;
}
/************************************************************/
/*
|||||||||||||||||||||||||||||||
	styles for best seller
|||||||||||||||||||||||||||||||	
*/
div.prodlistingbestseller
{
	margin-left: 5px;
	margin-bottom: 20px;
}

div.prodlistingbestseller div h2
{
	margin-bottom: 6px;
	color: #464646;
	font-size: 24px;
	font-weight: bold;
}

div.prodlistingbestseller div.title
{
  margin-bottom: 6px;
  color: #464646;
  font-size: 24px;
  font-weight: bold;
}

div.prodlistingbestseller div.item
{
	
	display: inline-block;
	border: 3px solid whiteSmoke;
	*display: inline;
}

div.prodlistingbestseller div.item:hover
{
	border: 3px solid #d5d5d5;
}

div.prodlistingbestseller div.item a img.bestseller
{
	height: 121px;
	width: 99px;
}

/***********************************************/
/*
|||||||||||||||||||||||||||||||
	styles for ad banner
|||||||||||||||||||||||||||||||	
*/
div.prodlistingadbanner
{
	width: 850px;
	margin-left: 5px;
	background: #eeeeee;
	padding: 10px;
	height: 200px;
	margin-bottom: 20px;
	overflow: hidden;
}
div.prodlistingadbanner div h2
{
	display: none;
}

.hideme
{
	display: none;
}
.showme
{
	display: block;
}

div.prodlistingadbanner div.item
{
	width: 240px;
	float: left;
	padding: 20px;
}

div.prodlistingadbanner div.item a img.adbanner
{
	height: 160px;
	width: 250px;
}

/**********************************************/



.featuredoff
{
	background: #eee;
	width: 850px;
	height: 220px;
	padding: 10px;
	margin-left: 5px;
	margin-bottom:20px;
	position: relative;
}

.featuredoff h2
{
	margin-bottom: 6px;
	color: #464646;
	font-size: 24px;
	font-weight: bold;
}
.featuredoff h2.mainh1
{
}
.featuredoff h2 span
{
	font-size: 12px;
	font-weight: 400;
	padding-left: 10px;
}

.featuredoff .viewmore
{
	position: absolute;
	width: 180px;
	left: 690px;
	top: 18px;
}

.viewmore h3
{
	color: #464646;
	font-size: 18px !important;
	font-weight: bold;
	margin: 0 !important;
}

.viewmore ul
{
	margin: 4px 0 -4px 0;
}

.viewmore ul li
{
	background: url(/Common/css/GameStopDotCom/images/viewmore_arrow.png) 9px 7px no-repeat;
	padding: 7px 0 6px 30px;
	font-size: 14px;
	font-weight: bold;
}

.viewmore ul li a
{
	color: #306c9d !important;
	text-decoration: none !important;
}

.viewmore ul li a:hover
{
	color: #306c9d !important;
	text-decoration: underline !important;
}

.viewmore .offers-viewall
{
	margin: 10px 48px;
}

/* Circular Content Carousel Style */
.ca-container{
	background: #fff;
	width: 660px;
	height: 170px;
	padding-top: 16px;
	position: absolute;
	top: 46px;
	left: 10px;
}
.ca-wrapper{
	width: 600px;
	height: 170px;
	padding: 0;
	margin-left: 30px;
	position: relative;
	overflow: hidden;
	float: left;
}
.ca-item{
	width: 200px;
	height: 170px;
	padding-left: 10px;
}


.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}

.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	width: 180px;
	height: 170px;
	margin: 0 10px;
	font-size: 11px !important;
	line-height: 12px;
	position: absolute;
	overflow: hidden;
}



.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
}

.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	background: url(/Common/css/GameStopDotCom/images/menunav_prev.png) 0 0;
	width: 30px;
	height: 60px;
	position:absolute;
	top: 100px;
	margin-top:-60px;
	left:0px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background: url(/Common/css/GameStopDotCom/images/menunav_next.png) 0 0;
	width: 30px;
	height: 60px;
	top: 100px;
	left:auto;
	right:0px;
}
.ca-nav span:hover{
	background-position: 0 60px;
	cursor: pointer;
}

/*
|||||||||||||||||||||||||||||||
	styles for carousel
|||||||||||||||||||||||||||||||	
*/


.featurediv img{
	margin-top:6px;
	max-width:160px;
	max-height:100px;
}

.featurediv h2 {
	font-size: 12px !important;
	font-weight: bold;
	margin: 6px 0 0 0 !important;
}
.featurediv p{
	margin-top:5px;
}


.offers-viewall {
	margin: 10px 48px;
}

.viewall-btn {
	background: url(/Common/css/GameStopDotCom/images/viewall_button.png) 0 0;
	width: 74px;
	height: 20px;
	display: block;
}

.viewall-btn:hover {
	background-position: 0 20px;
}

.viewall-btn span {
	display: none;
}

/* ========== OFFERS SLIDER ========== */

.offers-deals {
	background: #eee;
	width: 850px;
	height: 210px;
	padding: 10px;
}

.offers-deals h1 {
	margin-bottom: 6px;
	color: #464646;
	font-size: 24px;
	font-weight: bold;
}

.offers-slider {
	background: #fff;
	width: 660px;
	height: 160px;
	padding-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .prev {
	background: url(/gs/merchincludes/homepage/devprod/img/menunav_prev.png) 0 0;
	width: 30px;
	height: 60px;
	margin-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .next {
	background: url(/gs/merchincludes/homepage/devprod/img/menunav_next.png) 0 0;
	width: 30px;
	height: 60px;
	margin-top: 15px;
	position: relative;
	float: left;
}

.offers-slider .prev:hover, .offers-slider .next:hover {
	background-position: 0 60px;
	cursor: pointer;
}

.offers-slider .scrollable {
	width: 600px;
	height: 160px;
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	float: left;
}

.offers-slider .scrollable .items {
	width: 3600px;
	position: absolute;
}

.offers-slider .scrollable .items div {
	float: left;
}

.offers-slider .scrollable .item {
	width: 160px;
	height: 160px;
	margin: 0 20px;
	float: left;
	font-size: 11px !important;
	line-height: 12px;
}

.offers-deals h2 {
	font-size: 12px !important;
	font-weight: bold;
	margin: 6px 0 0 0 !important;
}

.offers-deals h2 a {
	color: #306c9d !important;
	text-decoration: none !important;
}

.offers-deals h2 a:hover {
	color: #306c9d !important;
	text-decoration: underline !important;
}

.offers-more {
	width: 170px;
	height: 180px;
	margin-left: 20px;
	float: right;
}

.offers-deals h3 {
	color: #464646;
	font-size: 18px !important;
	font-weight: bold;
	margin: 0 !important;
}

.offers-more ul {
	margin: 4px 0 -4px 0;
}

.offers-more ul li {
	background: url(/gs/merchincludes/homepage/devprod/img/viewmore_arrow.png) 9px 7px no-repeat;
	padding: 7px 0 7px 30px;
	font-size: 14px;
	font-weight: bold;
}

.offers-more ul li a {
	color: #306c9d !important;
	text-decoration: none !important;
}

.offers-more ul li a:hover {
	color: #306c9d !important;
	text-decoration: underline !important;
}

/*Recordlist V2 HOME */
.endeca_grid div.trow{width:254px; overflow:hidden; padding:0 0 2px 0; border-top:1px solid #FFF;background-color: #EDEBEB;background: -moz-linear-gradient(100% 100% 90deg, #EDEBEB, #F4F4F4);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EDEBEB));	cursor:pointer;}
.endeca_grid div.trow:hover{width:254px; overflow:hidden; padding:0 0 2px 0; border-top:1px solid #FFF;	background-color: #F4F4F4;background: -moz-linear-gradient(100% 100% 90deg, #F4F4F4, #EDEBEB);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEBEB), to(#F4F4F4));}
.endeca_grid div.trow.sponsored {background-color: #FFECA5;background: -moz-linear-gradient(100% 100% 90deg, #FFECA5, #FFF8CE);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF8CE), to(#FFECA5));}
.endeca_grid div.trow.sponsored:hover {	background-color: #FFF8CE;background: -moz-linear-gradient(100% 100% 90deg, #FFF8CE, #FFECA5);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFECA5), to(#FFF8CE));}
.endeca_grid div.trow a.itemlink{ text-decoration:none;background-color : transparent;}
.endeca_grid div.trow div.itemboxart {padding:3px; margin:0; width:38px; height:44px;float:left;}
.endeca_grid div.trow div.itemboxart img{max-width:38px; max-height:38px; display: block; margin: 0 auto;}
.endeca_grid div.trow div.itemtitle
{
    padding:0px; text-align:left;
    float: left;
    height: 40px;
    width: 144px;
    margin: 5px 0 0 10px;
}
.endeca_grid div.trow div.itemtitle a:link, .endeca_grid div.trow div.itemtitle a:visited
{
    font-weight:bold; font-size:12px; text-decoration:none;
    color:#095490; background:transparent;
 }
.endeca_grid div.trow div.itemtitle a.shorttitle:link, .endeca_grid div.trow div.itemtitle a.shorttitle:visited {width:160px;}
.endeca_grid div.trow:hover div.itemtitle a:link, .endeca_grid div.trow:hover div.itemtitle a:visited{text-decoration:underline;}
.endeca_grid div.trow div.itemtitle span {color:#CC0000; font-weight:bold; font-size:12px; float:left; clear:left; width:160px; margin:0px 0px 0px 16px;}
.endeca_grid div.trow div.itemrelease {padding:0px; vertical-align:top; text-align:left;}
.endeca_grid div.trow div.itemrelease p{height:auto; width:54px; float:left; font-size:12px; color:#999; margin:7px 0px 0px 0px; text-align:center;}
.endeca_grid div.trow div.itemrelease span{font-weight:bold; float:left; clear:none; font-size:12px; width:54px; color:#505050; margin:0px 0px 0px 0px; text-align:center;}
.endeca_grid div.trow div.itemprice {padding:0px; vertical-align:top; text-align:right;}
.endeca_grid div.trow div.itemprice p {font-weight:bold; font-size:14px; color:#505050; margin:15px 5px 0px 0px; overflow:visible; white-space:nowrap;}
.endeca_grid div.trow.sponsored div.itemtitle {background:transparent url(/common/css/entry/images/cs_sponsored_flag.png) no-repeat 12px 8px;}
.endeca_grid div.trow div.itemprice div.aslowas{font-size:8px; font-weight:normal;position:relative;top:-25px;right:6px;color:Gray;display: inline;}