
/* CSS Document */ 

.cs_home{
	width: 870px;
	margin-left: 45px;
	margin-top: 20px;
}
.cs_home h2{
	margin-bottom: 6px;
	color: #333334;
	font-size: 24px;
	font-weight: normal;
	font-family: 'solido_bold', arial, sans-serif;
}
.cs_home h2 span{
	margin-right: 10px;
	float: right;
}




/* Boxart Scroller */
.scrollholder {margin-bottom:20px; height:191px;
background: #fff; /* old browsers */
}

.scrollholder .scrollshelf {position:relative; overflow:hidden; float:left; width:774px; height:188px;}

.scrollholder .scrollshelf .items { /* must be very large */ width:20000em; position:absolute; clear:both;}
.scrollholder .scrollshelf .items div {float:left; }
/* single item */
.scrollholder .scrollshelf .items .group .item {width:104px; height:170px; padding:0px; margin:14px 3px 0px 19px; text-align:center; overflow:visible; position:relative;} 
.scrollholder .scrollshelf .items .group .item label {position:absolute; top:-9px; right:14px; width:58px; height:9px; background:transparent url(/common/css/entry/images/available_now_sponsored_flag.png) no-repeat 0px 0px;}

.scrollholder .scrollshelf .items .group .item a:link, .scrollshelf .items .group .item a:visited { font-size:11px; margin:0px auto; width:75px; height:75px; width:auto; font-size:11px; text-decoration:none;}
.scrollholder .scrollshelf .items .group .item a:link img, .scrollholder .scrollshelf .items .group .item a:visited img {border: 1px solid #d3d3d3; width:auto; max-width: 105px; height:auto; -webkit-box-shadow: 0px 0px 0px #fff;
box-shadow: 0px 0px 0px #fff; max-height: 110px;}

.scrollholder .scrollshelf .items .group .item a:link p, .scrollholder .scrollshelf .items .group .item a:visited p {text-align:center; width:104px; height:46px; color:#202020; line-height:14px; font-weight:bold; position:absolute; bottom:0px; left:0px; margin-bottom:0;}

.scrollholder .scrollshelf .items .group .item a:link p span, .scrollholder .scrollshelf .items .group .item a:visited p span {text-align:center; width:98px; height:auto; line-height:14px; font-weight:normal; display:block; clear:left; color:#FFFFFF;background:#999999; border-width:1px; border-style:solid; border-color:#AAAAAA #CCCCCC #CCCCCC #AAAAAA; padding:1px 3px; font-size:11px; position:absolute; bottom:0; left:0;}

.scrollholder .scrollshelf .items .group .item a:hover p span {background:#FFFFFF;color:#999999;}
.scrollholder .scrollshelf .items .group .item a:hover p {color:#095490;}
.scrollholder .scrollshelf .items .group .item a .platforms {display:none;}
.scrollholder .scrollshelf .items .group .item a .price {display:none;}
.scrollholder .scrollshelf .items .group .item a.addcart:link, .scrollholder .scrollshelf .items .group .item a.addcart:visited {display:none;}

.scrollholder .scrollshelf .active {border:2px solid #000; position:relative; 	cursor:default;}
.scrollholder a.browse {background:url(/gs/pages/storefront/global/img/carousel_arrows_new.png) no-repeat; display:block; width:30px; height:30px; float:left; margin:50px 10px 0px 10px; cursor:pointer; font-size:1px; }
.scrollholder a.right {background-position: 0 -30px; clear:right; margin-right: 0px;}
.scrollholder a.right:hover {background-position:-30px -30px;}
.scrollholder a.right:active {background-position:-60px -30px;} 
.scrollholder a.left {margin-left: 8px;} 
.scrollholder a.left:hover {background-position:-30px 0;}
.scrollholder a.left:active {background-position:-60px 0;}
.scrollholder a.disabled {visibility:hidden;}

/* Scrolling Animation for Sertona load */
.loading_anim {margin:25px auto 0px auto; width: 6em; height:auto; background: rgba(255, 255, 255, .8);}

/* Isoloated Support for Best Sellers */
.tworow { background: #EEEEEE; }
.tworow h2 { background: none; color: #464646; text-shadow: none; font-size: 20px; margin: -2px 0; }
.tworow h2 a { display: none; }
.tworow .recinfo { width: 522px; padding: 6px 4px; background: #FFFFFF; filter: none; border-color: #eee; border-width: 0 10px 10px 10px; border-style: solid; }
.tworow .item { float: left; width: 80px; height: 108px; margin: 0 12px; text-align: center; }
.tworow .item a:link, .tworow .item a:visited, .tworow .item a:hover { background: none; }
.tworow .item img { max-width: 80px; max-height: 108px; }
.tworow .item p { display: none; }


/* Boxart Scroller -- Version1*/

.scrollholderv1 {margin-bottom:20px; height:auto; border:0px solid #d8d8d8;width:868px; background:#fff}
.scrollholderv1 .scrollshelf {position:relative; overflow:hidden; float:left; width:774px; height:265px;margin-bottom:0px;display:table-cell;vertical-align:middle;}
.scrollholderv1 .scrollshelf .items { /* must be very large */ width:20000em; position:absolute; clear:both;}
.scrollholderv1 .scrollshelf .items div {float:left; width:820px; }
.scrollholderv1 .scrollshelf .items .group .item {width:164px; height:auto; padding:0px;margin:0px 0px 0px 0px; text-align:center; overflow:visible; position:relative;} 
.scrollholderv1 .scrollshelf .items .group .itemborder { border-left:1px solid #202020;} 
.scrollholderv1 .scrollshelf .items .group .item p {margin-bottom: 0px;}
.scrollholderv1 .scrollshelf .items .group .item p img{position: static;bottom: 0;}
.scrollholderv1 .scrollshelf .items .group .item p.rating {height:15px;}
.scrollholderv1 .scrollshelf .items .group .item p.rating strong {color: #333334;font-size: 14px;font-weight: normal;font-family: "solido_bold";-webkit-font-smoothing: antialiased; text-align:center; text-transform: uppercase;}
.scrollholderv1 .scrollshelf .items .group .item p.rating strong em { font-style:normal;font-weight:bold;padding-left:2px;}
.scrollholderv1 .scrollshelf .items .group .item p span.price{ color: #333334;font-family:"solido_bold";-webkit-font-smoothing: antialiased;font-weight: normal;font-size:18px;height: 5px;text-align:center;width:100px;} 
.scrollholderv1 .scrollshelf .items .group .item p a.title {font-weight: bold;height: 30px;}
.scrollholderv1 .scrollshelf .items .group .mainitem {width:100px;height:auto; overflow:visible; position:relative;vertical-align:middle;padding:0px 5px 0px 5px;}
.scrollholderv1 .scrollshelf .items .group .mainitem a:link {margin:5px auto; clear: left;float: none; height:80px; width: 70px; display:block}
.scrollholderv1 .scrollshelf .items .group .subitem {width:100px;text-align:center; overflow:visible; position:relative;vertical-align:bottom;}
.scrollholderv1 .scrollshelf .items .group .item .subitem a.btn_negative{color: #fff; font: 14px "solido_bold";-webkit-font-smoothing: antialiased; background: #ee2424; width: 100px; max-height: 23px; padding: 5px 0 0 0; -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; border-radius: 0px; border: 0px; text-shadow: 0px 0px 0px;text-transform: uppercase;}
.scrollholderv1 .scrollshelf .items .group .item label {position:absolute; top:-9px; right:14px; width:58px; height:9px; background:transparent url(/common/css/entry/images/available_now_sponsored_flag.png) no-repeat 0px 0px;}
.scrollholderv1 .scrollshelf .items .group .item a:link, .scrollshelf .items .group .item a:visited { font-size:13px; width:100px; height:125px; width:auto; font-family: "solido_book"; -webkit-font-smoothing: antialiased;color: #333334; text-decoration:none;}
.scrollholderv1 .scrollshelf .items .group .item a:link.title, .scrollshelf .items .group .item a:visited.title { font-size:13px; margin:0px; width:100px; height:46px; width:auto; font-family: "solido_book"; -webkit-font-smoothing: antialiased;color: #333334; text-decoration:none;}
.scrollholderv1 .scrollshelf .items .group .item a:link img, .scrollholderv1 .scrollshelf .items .group .item a:visited img {border:0px; width:auto; max-width:100px; max-height:125px; height:auto;}
.scrollholderv1 .scrollshelf .items .group .item a:link p, .scrollholderv1 .scrollshelf .items .group .item a:visited p {overflow:hidden; text-align:center; width:104px; height:43px; color:#202020; line-height:14px; font-weight:bold; position:absolute; left:0px; margin-bottom:0;}
.scrollholderv1 .scrollshelf .items .group .item a:link p span, .scrollholderv1 .scrollshelf .items .group .item a:visited p span {text-align:center; width:98px; height:auto; line-height:14px; font-weight:normal; display:block; clear:left; color:#FFFFFF;background:#999999; padding:1px 3px; font-size:11px; position:absolute; bottom:0; left:0;}
.scrollholderv1 .scrollshelf .items .group .item a:hover p span {background:#FFFFFF;color:#999999;}
.scrollholderv1 .scrollshelf .items .group .item a:hover p {color:#095490;}
.scrollholderv1 .scrollshelf .items .group .item a .platforms {display:none;}
.scrollholderv1 .scrollshelf .items .group .item a .price {display:none;}
.scrollholderv1 .scrollshelf .items .group .item a.addcart:link, .scrollholderv1 .scrollshelf .items .group .item a.addcart:visited {display:none;}
.scrollholderv1 .scrollshelf .active {border:2px solid #000; position:relative; 	cursor:default;}
.scrollholderv1 a.browse {background:url(/gs/pages/storefront/global/img/carousel_arrows_new.png) no-repeat; display:block; width:30px; height:30px; float:left; margin:100px 10px 0px 10px; cursor:pointer; font-size:1px; }
.scrollholderv1 a.right {background-position: 0 -30px; clear:right; margin-right: 0px;}
.scrollholderv1 a.right:hover {background-position:-30px -30px;}
.scrollholderv1 a.right:active {background-position:-60px -30px;} 
.scrollholderv1 a.left {margin-left: 8px;} 
.scrollholderv1 a.left:hover {background-position:-30px 0;}
.scrollholderv1 a.left:active {background-position:-60px 0;}
.scrollholderv1 a.disabled {visibility:hidden;}
a.btn_negative{text-align:center;color:#FFF;font-weight:bold;cursor:pointer;text-decoration:none;}


/*Large boxart styles----Start*/

/* Boxart Scroller */
.lboxscrollholder {margin-bottom:20px; height:241px;
background: #EAEAEA; /* old browsers */
background: -moz-linear-gradient(top, #EAEAEA 0%, #C3C3C3 70%, #E4E4E4 70%, #C3C3C3 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(70%,#C3C3C3), color-stop(70%,#E4E4E4), color-stop(100%,#C3C3C3)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAEAEA', endColorstr='#C3C3C3',GradientType=0 ); /* ie */}

.lboxscrollholder .scrollshelf {position:relative; overflow:hidden; float:left; width:774px; height:238px;}

.lboxscrollholder .scrollshelf .items { /* must be very large */ width:20000em; position:absolute; clear:both;}
.lboxscrollholder .scrollshelf .items div {float:left; width:774px; }
/* single item */
.lboxscrollholder .scrollshelf .items .group .item {width:104px; height:208px; padding:0px; margin:14px 3px 0px 19px; text-align:center; overflow:visible; position:relative;} 
.lboxscrollholder .scrollshelf .items .group .item label {position:absolute; top:-9px; right:14px; width:58px; height:9px; background:transparent url(/common/css/entry/images/available_now_sponsored_flag.png) no-repeat 0px 0px;}

.lboxscrollholder .scrollshelf .items .group .item a:link, .scrollshelf .items .group .item a:visited { font-size:11px; margin:0px auto; width:75px; height:75px; width:auto; font-size:11px; text-decoration:none;}
.lboxscrollholder .scrollshelf .items .group .item a:link img, .lboxscrollholder .scrollshelf .items .group .item a:visited img {border:0px; width:auto; max-width:99px; height:auto; -webkit-box-shadow: 0px 2px 2px #777;
box-shadow: 0px 2px 2px #777; }

.lboxscrollholder .scrollshelf .items .group .item a:link p, .lboxscrollholder .scrollshelf .items .group .item a:visited p {text-align:center; width:104px; height:46px; color:#202020; line-height:14px; font-weight:bold; position:absolute; bottom:0px; left:0px; margin-bottom:0;}

.lboxscrollholder .scrollshelf .items .group .item a:link p span, .lboxscrollholder .scrollshelf .items .group .item a:visited p span {text-align:center; width:98px; height:auto; line-height:14px; font-weight:normal; display:block; clear:left; color:#FFFFFF;background:#999999; border-width:1px; border-style:solid; border-color:#AAAAAA #CCCCCC #CCCCCC #AAAAAA; padding:1px 3px; font-size:11px; position:absolute; bottom:0; left:0;}

.lboxscrollholder .scrollshelf .items .group .item a:hover p span {background:#FFFFFF;color:#999999;}
.lboxscrollholder .scrollshelf .items .group .item a:hover p {color:#095490;}
.lboxscrollholder .scrollshelf .items .group .item a .platforms {display:none;}
.lboxscrollholder .scrollshelf .items .group .item a .price {display:none;}
.lboxscrollholder .scrollshelf .items .group .item a.addcart:link, .lboxscrollholder .scrollshelf .items .group .item a.addcart:visited {display:none;}

.lboxscrollholder .scrollshelf .active {border:2px solid #000; position:relative; 	cursor:default;}
.lboxscrollholder a.browse {background:url(/gs/pages/storefront/global/img/carousel_arrows_new.png) no-repeat; display:block; width:30px; height:30px; float:left; margin:50px 10px 0px 10px; cursor:pointer; font-size:1px; }
.lboxscrollholder a.right {background-position: 0 -30px; clear:right; margin-right: 0px;margin-top:71px;}
.lboxscrollholder a.right:hover {background-position:-30px -30px;}
.lboxscrollholder a.right:active {background-position:-60px -30px;} 
.lboxscrollholder a.left {margin-left: 8px; margin-top:71px;} 
.lboxscrollholder a.left:hover {background-position:-30px 0;}
.lboxscrollholder a.left:active {background-position:-60px 0;}
.lboxscrollholder a.disabled {visibility:hidden;}


/* LargeBoxart Scroller -- Version1*/

.lboxscrollholderv1 {margin-bottom:20px; height:auto; border:1px solid #d8d8d8;width:868px;}
.lboxscrollholderv1 .scrollshelf {position:relative; overflow:hidden; float:left; width:774px; height:277px;margin-bottom:0px;display:table-cell;vertical-align:middle;}
.lboxscrollholderv1 .scrollshelf .items { /* must be very large */ width:20000em; position:absolute; clear:both;}
.lboxscrollholderv1 .scrollshelf .items div {float:left; width:797px; }
.lboxscrollholderv1 .scrollshelf .items .group .item {width:129px; height:auto; padding:0px;margin:5px 0px 0px 0px; text-align:center; overflow:visible; position:relative;} 
.lboxscrollholderv1 .scrollshelf .items .group .itemborder { border-left:1px solid #202020;} 
.lboxscrollholderv1 .scrollshelf .items .group .item p {margin-bottom: 0.8em;}
.lboxscrollholderv1 .scrollshelf .items .group .item p.rating {height:15px;}
.lboxscrollholderv1 .scrollshelf .items .group .item p.rating strong {background-color: #707070;border-radius: 3px 3px 3px 3px;color: #EEEEEE;font-size: 11px;font-weight: normal;margin-bottom: 14px;margin-top: -10px;padding: 1px 4px;text-transform: uppercase;}
.lboxscrollholderv1 .scrollshelf .items .group .item p.rating strong em { font-style:normal;font-weight:bold;padding-left:2px;}
.lboxscrollholderv1 .scrollshelf .items .group .item p span.price{ color: #202020;font-weight: bold;font-size:11px;height: 5px;text-align:center;width:100px;} 
.lboxscrollholderv1 .scrollshelf .items .group .item p a.title {font-weight: bold;height: 43px;}
.lboxscrollholderv1 .scrollshelf .items .group .mainitem {width:100px;height:243px;text-align:center; overflow:visible; position:relative;vertical-align:middle;padding:0px 5px 0px 5px;}
.lboxscrollholderv1 .scrollshelf .items .group .mainitem a:link {margin:5px auto; clear: left;float: none;overflow: hidden; height:142px; width: 70px; display:block}
.lboxscrollholderv1 .scrollshelf .items .group .subitem {width:100px;height:15px;text-align:center; overflow:visible; position:relative;vertical-align:bottom; }
.lboxscrollholderv1 .scrollshelf .items .group .item .subitem a.btn_negative{background: #CC0000/* old browsers */;
background: -moz-linear-gradient(center top , #FF0000 0px, #A60000 100%) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000),  color-stop(100%,#A60000)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#A60000',GradientType=0 ); /* ie */padding: 2px 16px; border: 1px solid #ffffff;}
.lboxscrollholderv1 .scrollshelf .items .group .item label {position:absolute; top:-9px; right:14px; width:58px; height:9px; background:transparent url(/common/css/entry/images/available_now_sponsored_flag.png) no-repeat 0px 0px;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:link, .scrollshelf .items .group .item a:visited { font-size:11px; margin:5px 0px 0px 0px; width:75px; height:142px; width:auto; font-size:11px; text-decoration:none;background:#ffffff;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:link img, .scrollholderv1 .scrollshelf .items .group .item a:visited img {border:0px; width:auto; max-width:100px; max-height:125px; height:auto;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:link p, .scrollholderv1 .scrollshelf .items .group .item a:visited p {text-align:center; width:104px; height:46px; color:#202020; line-height:14px; font-weight:bold; position:absolute; bottom:0px; left:0px; margin-bottom:0;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:link p span, .scrollholderv1 .scrollshelf .items .group .item a:visited p span {text-align:center; width:98px; height:auto; line-height:14px; font-weight:normal; display:block; clear:left; color:#FFFFFF;background:#999999; border-width:1px; border-style:solid; border-color:#AAAAAA #CCCCCC #CCCCCC #AAAAAA; padding:1px 3px; font-size:11px; position:absolute; bottom:0; left:0;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:hover p span {background:#FFFFFF;color:#999999;}
.lboxscrollholderv1 .scrollshelf .items .group .item a:hover p {color:#095490;}
.lboxscrollholderv1 .scrollshelf .items .group .item a .platforms {display:none;}
.lboxscrollholderv1 .scrollshelf .items .group .item a .price {display:none;}
.lboxscrollholderv1 .scrollshelf .items .group .item a.addcart:link, .scrollholderv1 .scrollshelf .items .group .item a.addcart:visited {display:none;}
.lboxscrollholderv1 .scrollshelf .active {border:2px solid #000; position:relative;      cursor:default;}
.lboxscrollholderv1 a.browse {background:url(/common/css/entry/images/carousel_arrows_wii.png) no-repeat; display:block; width:30px; height:30px; float:left; margin:50px 10px 0px 10px; cursor:pointer; font-size:1px; }
.lboxscrollholderv1 a.right {background-position: 0 -30px; clear:right; margin-right: 0px;margin-top:71px;}
.lboxscrollholderv1 a.right:hover {background-position:-30px -30px;}
.lboxscrollholderv1 a.right:active {background-position:-60px -30px;} 
.lboxscrollholderv1 a.left {margin-left: 8px;margin-top:71px;} 
.lboxscrollholderv1 a.left:hover {background-position:-30px 0;}
.lboxscrollholderv1 a.left:active {background-position:-60px 0;}
.lboxscrollholderv1 a.disabled {visibility:hidden;}
a.btn_negative{text-align:center;color:#FFF;font-weight:bold;cursor:pointer;text-decoration:none;}


/*Large boxart styles----End*/

