@charset "UTF-8";
/* 技能标签 */
.form-group {
  position: relative;
}

.techTags {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
  display: none;
  position: absolute;
  width: 320px;
  padding: 15px;
  z-index: 2;
  margin-bottom: 0;
}
.techTags .taglist--inline {
  margin-bottom: -5px;
}
.techTags .tab-pane {
  padding-top: 10px;
}
.techTags .nav-tabs {
  border-bottom: none;
}
.techTags .nav-tabs li {
  border: none;
}
.techTags .nav-tabs li a {
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 5px;
  border: none;
}
.techTags .nav-tabs li a:hover, .techTags .nav-tabs li a:focus {
  background-color: #EEE;
}
.techTags .nav-tabs .active a {
  border: none;
  color: #FFF;
  background-color: #009A61;
}
.techTags .nav-tabs .active a:hover, .techTags .nav-tabs .active a:focus {
  border: none;
  color: #FFF;
  background-color: #009A61;
}
