[type="typeHelper"] {
  display: none;
}

.sf-typeHelper {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  color: #555;
  vertical-align: middle;
  border-radius: 3px;
  max-width: 100%;
  cursor: text;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 5px 0 5px;
}
.sf-typeHelper-single {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0;
  background-color: transparent;
}
.sf-typeHelper-single .sf-typeHelper-input {
  display: none;
}
.sf-typeHelper-single .sf-typeHelper-item {
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
  color: #666;
}
.sf-typeHelper [data-role=remove]:hover {
  cursor: pointer;
}
.sf-typeHelper-item {
  display: inline-block;
  color: #017e66;
  background-color: #e7f2ed;
  font-size: 13px;
  text-align: center;
  margin-right: .5rem;
  padding: 5px 8px;
  line-height: 1;
  margin-bottom: 5px;
}
.sf-typeHelper-item [data-role='remove'] {
  margin-left: 6px;
}
.sf-typeHelper-item.blink {
  transition: all 1s;
}
.sf-typeHelper-input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0 0 5px 0;
  text-transform: lowercase;
  width: 6rem;
  max-width: 100%;
}
.sf-typeHelper-list {
  padding: 5px 0 !important;
  z-index: 1001;
}
.sf-typeHelper.error::after {
  padding: 0;
}

.sf-typeHelper--single {
  padding-bottom: 5px;
}
.sf-typeHelper--single .sf-typeHelper-input {
  margin-bottom: 0;
}
.sf-typeHelper--single .sf_typeHelper-input {
  padding-bottom: 5px;
}

.sf-typeHelper-list {
  width: 320px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
}

.sf-typeHelper-list > .active > a, .sf-typeHelper-list > .active > a:hover {
  background-color: #F5F5F5;
  color: #333;
}
