a {
    color: #336;
}
body {
    font-size: 12px;
}

h1, h2, h3, h4 {
    color: #D56023;
}

.label-h4 {
    background-color: #D56023;
}

blockquote.edit{
    border-left: 5px solid #0080c1;
}

blockquote.edit:hover{
    border-left: 5px solid #0080c1;
}

.popover {
    max-width: inherit;
}

.popover-footer {
    clear: both;
}

.popover-footer *{
    float: right;
    margin-bottom: 15px;
    margin-left: 5px;
}

.ui-autocomplete-loading {
    background: url('../img/autoloading.svg') no-repeat right center;
}

.ui-widget-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    color: #333333;
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: inherit;
    margin: inherit;
}
.ui-menu .ui-menu-item a {
    display: block;
    font-weight: normal;
    line-height: 1.5;
    min-height: 0;
    padding: 2px 0.4em;
    text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: repeat-x scroll 50% 50% #0080C1;
    border: inherit;
    color: #FFFFFF;
    font-weight: inherit;
}
.ui-widget-content a {
    color: inherit;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: inherit;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: inherit;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: inherit;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: inherit;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: repeat-x scroll 50% 50% #0080C1;
    border: inherit;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.1em;
}



.facet-item {
    font-size: 80%;

	font-weight:normal;
}

li.facet-item label {
 
	font-weight:normal;
}


.glyphicon-move {
    cursor: move;
}

.glyphicon-empty {
    background: none;
}

select {
    margin-bottom: 0px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle, .table > thead > tr > th.middle, .table > tbody > tr > th.middle, .table > tfoot > tr > th.middle,
.table > thead > tr > td.middle, .table > tbody > tr > td.middle, .table > tfoot > tr > td.middle {
    vertical-align: middle;
}

input[type="file"] {
    margin-bottom: 10px;
}

.bloc {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 14px 20px;
}



.debug {
	margin-top:2em;
    background: #fff;
    border: 1px solid #ddd;
    text-align: left;
    padding: 30px 10px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.debug::after {
    content: "Debug";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

/*Bootstrap reecriture*/
.input-append,.input-prepend {
    display: block;
}

/* SHERPA/ROMEO */
.sherpa-green {
    background-color: #D0F9D2;
    color: #3c763d;
}

.sherpa-blue {
    background-color: #D3ECFA;
    color: #31708f;
}
.sherpa-yellow {
    background-color: #FFFF99;
    color: #8a6d3b;
}
.sherpa-white {
    background-color: #FFFFFF;
    color: #333333;
}
/**
 * Recherche
 */
.facet-label {
    font-weight: bold;
    font-size: 100%;
}

/* .facet-label .facet-control { display: none; } */
/* .facet-label:hover .facet-control { display: inline; } */
.facet-control {
    display: inline;
}

.facet-content {
    max-height: 300px;
    overflow: auto;
}

input.facet-input {
    height: 20px;
    font-size: 90%;
}

/**
 * Formulaires
 */

input.error, textarea.error {
	border : 1px solid #b94a48;
}

div.error {
	color : #b94a48;
}

input.error:focus, textarea.error:focus {
	border : 1px solid #953b39;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}	

.form-error {
	display : none;
}

/**
 * Recherche
 */

.popover .form dt {
    width: 150px;
}
.popover .form dd, .popover .form dd input, .popover .form dd select, .popover .form dd textarea {
    width: 300px;
}
.popover .form dd .inputlangmulti {
    width: 157px;
}
.popover .form dd .inputmulti {
    width: 246px;
}

/**
 * Mes recherches
 */

.table-mysearch div.search_lib {
	font-weight : bold;
}

.search_params {
	padding-left : 20px;		
}

.table_search_params {
	border-left : 2px solid #0088CC;
}

.table_search_params td {
	border : none;
	padding : 5px;
	font-style : italic;
}

.table_search_params th {
	border : none;
	padding : 5px 5px 5px 10px;
	font-weight : normal;
	color : #0088CC; 
}

.table-mysearch .popover {
	width : 170px;
}

.table-mysearch .freq-btn {
	width : 120px;
}

/**
 * Widget
 */
.widget {
    position: relative;
    margin: 5px 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}
/*.widget:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}*/
.widget-header {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    /*-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;*/
    color: #d56022;
    text-transform: uppercase;
}
.widget-header-search {
	padding: 3px 3px 3px 6px;
	margin: 0;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;	
}

.widget-search {
    position: relative;
    margin: 5px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}


.widget-footer {
    text-align:right;
}
.widget-footer a{
    color: #999999;
    padding: 2px;
    font-size: 9px;
}
.widget-content {
    padding: 8px 14px;
    margin: 0;
}
.widget-content hr {
    margin: 5px 0;
}
.widget-content .title {
    font-weight:bold;
    text-transform: uppercase;
}
.widget-content .date {
    font-size: 11px;
    font-style: italic;
}
.widget-content .body {
    font-size:12px;
    line-height: 14px;
    text-align: justify;
    padding-left: 5px;
    margin-bottom: 5px;
}
.widget-content .link {
    margin-top: 5px;
}
.widget-content .important {
    color: #d56022;
    font-size: 20px;
    font-weight: bold;
}
.widget-content .btn-link {
    background: #d56022;
    color: #ffffff;
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}
/* Begin ZMO */
.widget-content .btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* End ZMO */

.widget a.display {
    display:none;
}
.widget .item:hover a.display {
    display:inline;
}
.widget .last-doc {
    list-style-type: none;
    padding-left:0;
}
.widget .last-doc li:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.keywords {text-align: justify;}
.keword-1 { font-size: 8px;}
.keword-2 { font-size: 9px;}
.keword-3 { font-size: 10px;}
.keword-4 { font-size: 12px;}
.keword-5 { font-size: 14px;}
.keword-6 { font-size: 16px;}
.keword-7 { font-size: 18px;}
.keword-8 { font-size: 20px;}
.keword-9 { font-size: 22px;}
.keword-10 { font-size: 24px;}

/**
 * Homepage
 */

.home-title {
    color: #d56022;
}

/**
 * Document
 */

.col-lang {padding-right:0;}
.opacity {
    opacity: 0.25;
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.25s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.25s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.25s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.25s ease-in-out; 
}
.opacity:hover {
    opacity: 1;
    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* Hack IE 8 */
    filter: alpha(opacity = 100); /* Hack IE 5-7 */
}
.col-content {padding-left:0;padding-right:0;margin-right:0;margin-left:-15px;}

#document {margin-top:10px;}
#document .title { font-size: 24px; line-height: 26px;color: inherit;}
#document .abstract {margin-top:20px;}
#document .abstract-content { text-align: justify; background:#f8f8f8;padding:10px;border-bottom: 1px solid #dddddd; margin-bottom:10px; }
#document .author:not(:last-of-type):after { content: ", ";}
#document .authors .corresponding { font-size: 10px; font-style: italic;margin-bottom: 10px;}
#document .structid {background: #666; color: #fff; margin: 0px 4px 0px 0px; padding: 1px 4px;}
#document .well.struct {margin-bottom: 10px;}
#document .well.struct ul {padding-left: 30px;margin-bottom: 0px;}
#document .keywords {text-align: inherit;}
#document .file {border: 1px solid #dddddd;}
#document .file-hover:hover {background: red;}
#document .file-shadow {background: url('/img/file_shadow.jpg') right top no-repeat; width:80px; margin-left: auto; margin-right:auto;margin-bottom:10px;}
#document table .meta-name {background: #f8f8f8; text-align:right;}
#document .metadatas {margin-top:10px;}
 /*
#document .id {
    background: #d56022;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#document .id .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
#document .title {
    margin-top:20px;
    font-size: 24px;
    line-height: 26px;
}



#document .abstract {
    margin-top:20px;
    text-align: justify;
}
#document .nav {
    margin-bottom: 0px;
}
#document .nav li>a {
    line-height: 10px;
    font-size: 12px;
    font-weight: normal;
}
#document .tab-content {
    border-left: 1px solid #ddd;
    padding: 10px 0 0 10px;
}

#document #tab-abstract li.active>a {
    background:#f8f8f8;
}
#document #content-abstract {
    background:#f8f8f8;
    padding:10px;
}

#document .abstract-title {
    font-style: italic;
    font-weight: bold;
}
#document .ref-biblio {
    padding: 10px;
    font-style: normal;
}
#document .structs {
    margin-top:10px;
}
#document .structid {
    background: #666;
    color: #fff;
    margin: 0px 4px;
    padding: 1px 4px;
}
#document .struct .prec {
    font-size: small;
    font-style: italic;
}
#document .metadatas {
    margin-top: 20px;
}
#document .more-data a {
    color: #666;
    font-size: 12px;
}
*/
.typdoc-category {
    color: #d56022;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 140px;

}
.footer-default {
    background: url(/img/footer-bg.jpg) no-repeat 10px 10px #9a9b9c;
    margin-top: 30px;
    border-top: 2px solid #ffffff;
}
.footer .footer-contact {
    margin-left: 300px;
    padding-top: 25px;
}
.footer .footer-contact h4, .footer .footer-contact a {
    color: #dadadb;
}
.footer .footer-contact h4 {
    text-transform: uppercase;
    font-weight: normal;
}
.footer .footer-ccsd {
    float: right;
    margin-top: -70px;
    margin-right: 50px;
}

/**
 * Debug
 */

.ccsd-debug {
	border : 1px solid #428BCA;
	border-radius: 4px;
	background-color : #F5F5F5;
}

.ccsd-debug legend {
	border : 1px solid #428BCA;
	border-radius: 4px;
	background-color : #cee4f6;
	width : auto;
	font-size : 16px;
	margin: 0px 0px 0px 10px;
	padding : 0px 10px;
}

.ccsd-debug .infos {
	float : right;
	position : relative;
	top : -12px;
	border-left : 1px dashed #428BCA;
	border-bottom : 1px dashed #428BCA;
	border-radius: 0px 4px 0px 4px;
	background-color : #cee4f6;
	font-size : 12px;
	font-style : italic;
	padding : 10px;
	color : #888888;
}

.ccsd-debug pre {
	border : none;
	background : none;
}

.arxiv {
    color: #ffffff;
    background: #b31b1b;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
    padding: 2px 4px;
    border-radius: 2px;
}
.label-right {
    font-weight: normal;
    margin-right:2px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-autocomplete .ui-menu-item a  {
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
}
.input-group-addon>button {
    background: inherit;
}

/**
 * Recherche
 */
.facet-label {
	font-weight: bold;
	font-size: 100%;
    cursor:pointer;
}

/* .facet-label .facet-control { display: none; } */
/* .facet-label:hover .facet-control { display: inline; } */
.facet-control {
	display: inline;
}

.facet-content {
	max-height: 300px;
	overflow: auto;
}
.facet-content ul {
    margin-bottom: 0;
}
.facet-content li label {
    margin-top:2px;
    margin-bottom:2px;
}
.facet-content li label .badge{
    background: #bbbbbb;
    font-size: 10px;
    font-weight: normal;
}
.facet-content li:hover label .badge{
    background: #999999;
}
i.gray{
    color: #bbbbbb;
}
input.facet-input {
	margin-bottom: 5px;
}


.highlight {
    font-weight:bold;
}

.flag {
	width: 16px;
	height: 11px;
	background:url(/img/flags.png) no-repeat
}

.flag.flag-de {background-position: -16px 0}
.flag.flag-es {background-position: -32px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-gb, .flag.flag-en {background-position: -16px -11px}
.flag.flag-us {background-position: -32px -11px}

.grayscale {
	filter: url(/img/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}

.tooltip-inner {
    max-width: 500px!important;
}

.ui-autocomplete li span.valid, .ui-autocomplete li span.old, .ui-autocomplete li span.incoming {display: block;  margin: -2px -0.4em;  padding: 2px;}
.ui-autocomplete li span.valid { background: #dff0d8; color: #3c763d;}
.ui-autocomplete li span.old { background: #fcf8e3; color: #8a6d3b;}
.ui-autocomplete li span.incoming { background: #f2dede; color: #a94442;}

.ui-menu .ui-menu-item a.ui-state-focus span.valid,
.ui-menu .ui-menu-item a.ui-state-active span.valid,
.ui-menu .ui-menu-item a.ui-state-focus span.old,
.ui-menu .ui-menu-item a.ui-state-active span.old,
.ui-menu .ui-menu-item a.ui-state-focus span.incoming,
.ui-menu .ui-menu-item a.ui-state-active span.incoming{background: inherit; color:#fff;}

.ui-autocomplete li>a>span>span:first-child:before{content: ' ';  clear: right;  display: block;}
.ui-autocomplete li>a>span>span {font-size: smaller;}

.ui-autocomplete .titleAbbr {font-style: italic;}
.ui-autocomplete .issn:before {content: ' - issn : ';}
.ui-autocomplete .eissn:before {content: ' - eissn : ';}
.ui-autocomplete .reference:before {content: ' - ref :';}
.ui-autocomplete .acronym:before, .ui-autocomplete .publisher:before {content: ' - ';}

.ui-autocomplete li dl {margin:0; padding-left:10px;font-size:smaller;}
.ui-autocomplete li {margin-bottom:1px;}



/* alert box orange */
.alert-orange {
  color: #D56022;
  background-color: #ffe1c6;
  border-color: #ffbb6d;
}

.alert-orange h4 {
  color: #ce5c00;
}
/* label orange */
.label-orange,
.badge-orange {
  background-color: #D56022;
}

.label-orange[href],
.badge-orange[href] {
  background-color: #356635;
}

/* alert violet */
.alert-violet {
  color: #86708A;;
  background-color: #E3D9E5;
  border-color: #C9BFCB;
}

.alert-violet h4 {
  color: #ce5c00;
}
/* label violet */
.label-violet,
.badge-violet {
  background-color: #86708A;;
}

.label-violet[href],
.badge-violet[href] {
  background-color: #356635;
}

/* Moderation */

.deleted {
 text-decoration: line-through;
}
