@import '/content/dam/www-telenet-be/css/clickable-gsa-card.css';
@import '/content/dam/www-telenet-be/css/general/multiple-tabs-styling.css';

/* @import '/etc/designs/aff-telenet-be/css/vars.less'; */
/* bg images : background-image:url(/etc/designs/aff-telenet-be/media/file-is-weer-anders.name); */
/* COLORS */
/* fonts */

/* -- start various -- */
	a.magenta-block-link {
		background-color: #e5007d;
		color: white;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		display: inline-block;
		padding: 2px 10px 2px 10px;
		margin-top: 10px;
		text-decoration: none;
		border:1px solid #e5007d;
	}
	a.magenta-block-link:hover {
		background-color: #fff;
		color: #e5007d;
		text-decoration: none;
		border:1px solid #e5007d;
	}
/* -- einde various -- */

/* start fix snap */
	.snap .snapcontainer .snapitem:nth-child(1),
	.snap .snapcontainer .snapitem:nth-child(2)
	{
	  height: 149px;
	  margin:0;
	  margin-bottom: 10px;
	  position: relative;
	  border: 1px solid #ffffff;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  -moz-background-clip: padding;
	  -webkit-background-clip: padding-box;
	  background-clip: padding-box;
	}
	.snap .snapcontainer .snapitem:nth-child(1){
	  float:left;
	}
	.snap .snapcontainer .snapitem:nth-child(2){
	  float:right;
	}
	.snap .snapcontainer .snapitem a {
	  width: 100%;
	}
	@media only screen and (max-width: 639px) {
		.snap .snapcontainer .snapitem:nth-child(1),
		.snap .snapcontainer .snapitem:nth-child(2)
		{float:none;}
	}
/* einde fix snap */

/* start fix for tvchannels */
div.channel-tool .channelContainer {
	background-color:transparent !important;
}
.masonry .innerChannel {
	border: 1px solid #ccc;
}
/* einde fix for tvchannels */


/* fix 4 iphone 6 smiley widget */
.toch div.getsmily_start_widget {display:none;}

/* --- start temp. hide priceincrease --- */
	.inbasketpi2016.hidden, .priceincrease2016reference.hidden, .priceincreaseTarieven.hidden {display:none !important;}
	.inbasketpi2016, .priceincrease2016reference, .priceincreaseTarieven {/*display:none !important;*/}
/* --- end temp. hide priceincrease ---*/

/* --- start priceincrease --- */
	/* start fix mobile basket */
	@media only screen and (max-width: 620px) {
		.parbase.shopping-basket.section {margin-bottom:90px;}
	}
	/* einde fix mobile basket */
	.priceincrease2016reference {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		background: #f5f5f5;
		padding: 8px 15px;
		text-align: center;
		font-size: 90%;
	}
	.inbasketpi2016 {
		position:relative;
		height:1px;
	}
	.inbasketpi2016 .priceincrease2016reference {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		background: #f5f5f5;
		padding: 8px 15px;
		text-align: left;
		background-color: #e5e5e5;
		position: absolute;
		top: 35px;
		font-size: 90%;
	}
	.priceincreaseTarieven .priceincrease2016reference {background:#fff;}
/* --- end priceincrease --- */

/* start fix for header aanmelden */
	.upc_login_nav_container .header-login .loginbutton:after {
		content: "";
	}
	.upc_login_nav_container .header-login .loginbutton:hover {
		text-decoration:underline;
	}
	.upc_login_nav_container .header-login .loginbutton {
		margin-left:5px;
	}
	.upc_login_nav_container .template_header_login {
		margin-right:10px;
	}
/* einde fix for header aanmelden */

/* start fix h3 home */
	.upc-grouping-padding-container .title h3.blue.ph6 {
		margin-top:0;
	}
	.pnomargin .upc-grouping-padding-container .title h3.blue.ph6 {
		margin-bottom:9px;
	}
	.pnomargin p {margin:0;}
	.pnomargin .upc_rte_padding_10 {padding:0;}
/* end fix h3 home */

/* +++++++++++ --- RADIUS --- ++++++++++++ */
.comparetransform {
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transform-origin: 80px 50px 0;
  -o-transform-origin: 80px 50px 0;
  -webkit-transform-origin: 80px 50px 0;
  transform-origin: 80px 50px 0;
  -moz-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  -webkit-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s;
}
.rotate5deg {
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
/* +++++++++++ --- BACKGROUND TRANSITION --- ++++++++++++ */
.bgTransition {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
/* start nieuw-blok */
/* einde nieuw-blok */
/* start experience-blok */
.tn-pricewrap .tn-bigprice {
  font-size: 220%;
  color: #f26534;
  font-family: 'OmnesSemiBold';
}
.tn-pricewrap-no-color .tn-bigprice {
  font-size: 220%;
  font-family: 'OmnesSemiBold';
}
.experience-banner {
  height: 324px;
  padding-left: 34px;
  position: relative;
}
.experience-banner .bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.experience-banner .bottom img {
  margin-left: 20px;
  max-width: 100%;
}

/*--- HOMEPAGE ASPOT ---*/

.nomargin{
  margin:0 !important;
}
.no-padding-bottom {
	padding-bottom:0 !important;
}
@media only screen and (max-width: 959px) {
	.no-padding-bottom.fix-min-height {
		min-height:10px !important;
	}
	.smalerthandesktop {display:none;}
}
@media only screen and (min-width: 960px) {
	.evenhomepageboxresponsive {
		min-height:320px;
		position:relative;
	}
	.evenhomepageboxresponsive .upc-grouping-padding-container > div.parsys {
		/* position: relative; */
		/*padding-bottom: 42px;*/
		height:280px;
	}
	.evenhomepageboxresponsive .upc-grouping-padding-container > div.parsys .button.section {
		position: absolute;
		width: 100%;
		height: 42px;
		bottom:15px;
		left:0;
	}
}

.upc-basic-aspot-container.upc-basic-aspot-size-medium, 
.upc-basic-aspot-container.upc-basic-aspot-size-medium .upc-aspot-wrapper, 
.upc-basic-aspot-container.upc-basic-aspot-size-medium .upc-aspot-wrapper .upc-aspot-item{
  background-size: cover;
}

/* --- start fix for shoppingbasket (columns in general) --- */
	@media only screen and (max-width: 959px) and (min-width: 621px) {
		.parsys_column>.parsys_column.upc_columns_percent_70_30-c0 {
			width: 69%;
		}
		.parsys_column>.parsys_column.upc_columns_percent_70_30-c1 {
			width: 29%;
		}
	}
/* --- einde fix for shoppingbasket (columns in general) --- */

/* start fix for main-nav */
.upc_nav_main .level2>li, .upc_nav_main .level3>li.haschildren {
   white-space: nowrap;
}
/* end fix for main-nav */
/* start fix for responsive footer */
@media only screen and (max-width: 959px) {
	#fatfooter_nested_columns.upc_columns_percent_20_20_20_20_20 > div {width: 28% !important; clear:none;}
	#fatfooter_nested_columns .upc_columns_percent_20_20_20_20_20-c0 {margin-left: 15px;}
}
@media only screen and (max-width: 959px) and (min-width: 720px) {
	#fatfooter_nested_columns.upc_columns_percent_20_20_20_20_20 .parsys_column.upc_columns_percent_20_20_20_20_20-c3 {clear:left;}
}

@media only screen and (max-width: 719px) {
	#fatfooter_nested_columns.upc_columns_percent_20_20_20_20_20 > div {width: 45% !important;}
	#fatfooter_nested_columns .upc_columns_percent_20_20_20_20_20-c0 {margin-left: 0;}
	#fatfooter_nested_columns.upc_columns_percent_20_20_20_20_20 .parsys_column.upc_columns_percent_20_20_20_20_20-c4 {clear:left;}
}
@media only screen and (max-width: 479px) {
	#fatfooter_nested_columns.upc_columns_percent_20_20_20_20_20 > div {width: 100% !important;}
	#fatfooter_nested_columns .upc_columns_percent_20_20_20_20_20-c0 {margin-left: 0;}
}
/* end fix for responsive footer */
@media only screen and (max-width: 719px) {
  .experience-banner {
    height: auto;
  }
  .experience-banner .bottom {
    position: relative;
  }
}
div.richtext strong {
  font-family: 'OmnesSemiBold';
}
div.richtext b {
  font-family: 'OmnesSemiBold';
}
/* einde experience-blok */

h1.nom{
  margin: 0px;
}

.no-link-styling a{
  text-transform: none;
  color: inherit;
  text-decoration: none;
}

.upc_rte_linkmore1.back-to-top a:before,
.upc_rte_linkmore2.back-to-top a:before,
.upc_rte_linkmore3.back-to-top a:before,
.upc_rte_linkmore4.back-to-top a:before{
  content: "\e806";
  letter-spacing: 0px;
}

table th small {font-family: 'OmnesRegular',sans-serif;}

@media only screen and (min-width: 719px) {
	.upc-content-wrapper .mobilenavigation {display: none;}
}
/* start fix for mobile tabs */
@media only screen and (max-width:750px){.upc-mobile-accordion{display:block!important}
/* end fix for mobile tabs */