body{background-color:#062F43;font-family:arial,helvetica,clean,sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;line-height:1.231;margin:0;padding:0;color:#000000;min-width:600px;width:100%;}

td.yel{color:#FF0;}
a{color:#000000;text-decoration:underline;}
a:hover{background:#336699 none repeat scroll 0 0;color:#FFFFFF;text-decoration:none;}
h1{font-family:times, Times New Roman, times-roman, georgia, serif;font-size:36px;line-height:60px;letter-spacing:-1px;color:#444 margin:0 0 0 0;padding:0 0 0 0;font-weight:100;text-align:center;}
h2{font-family:times, Times New Roman, times-roman, georgia, serif;font-size:28px;color:#000000;margin:10 10 10 10;padding:0 0 0 0;font-weight:100;text-align:center;line-height:25px;}
h5{font-family:times, Times New Roman, times-roman, georgia, serif;font-size:18px;color:#000000;margin:0 0 0 0;padding:0 0 0 0;font-weight:100;text-align:center;}
h1 a{color:#FFC;}
.faq {text-align:left;
	color: #0B198C;
    margin-top: 50px;
}

.faqdiv
{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
    font-size: medium;
    width: 80%;
    margin: 0 auto;
}
h3{text-align:center;font-size:16px;color:#CCC;margin:0 0 0 0;padding:0 0 0 0;font-weight:100;}
h4{text-align:center;font-size:12px;color:#222;margin:0 0 0 0;padding:0 0 0 0;font-weight:100;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-style:italic;}
table.main{text-align:left;width:100%;border-spacing:0;font-size:12px;font-family:Arial, Helvetica, sans-serif;}

table.upcoming{width:95%;border-spacing:0;font-size:12px;border-color:#CCC;color:#FFE; border-collapse: collapse;
}

table.all{width:84%;margin-left:10%;margin-right:10%;border-style:solid;;border-width:1px;border-color:#CCC}
table.homeonly{width:49%;font-family:Arial, Helvetica, sans-serif;border-color:#CCC}

td.under{background:#9DFDA3;}
td.over{background:#FFCA95;}
 

td.relegation{background-image:url(imgs/table_relegation.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.promotion{background-image:url(imgs/table_promotion.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.uefacup{background-image:url(imgs/table_uefacup.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.uefacupQ{background-image:url(imgs/table_uefacupQ.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.championsleague{background-image:url(imgs/table_championsleague.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.promotionPO{background-image:url(imgs/table_promotionPO.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
tr.foottable{background:#FFFFFF none repeat scroll 0 0;color:#000000;height:28px;text-align:center;}
tr.head{padding:1em 1em 1em;background:#060 none repeat scroll 0 0;color:#FFF;height:12px;}
tr.headupc{background:#000 none repeat scroll 0 0;color:#FFF;;font-size:12px;}
tr.headupa{background:#060 none repeat scroll 0 0;color:#fff;font-size:11px;}
td.head{text-align:center;background-image:url(imgs/leftcrn.gif);background-position:top left;background-repeat:no-repeat;}
td.head2{background-image:url(imgs/rightcrn.gif);background-position:top right;background-repeat:no-repeat;}
td.relegationPO{background-image:url(imgs/table_relegationPO.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.championsleagueQ{background-image:url(imgs/table_championsleagueQ.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
td.rank{background-image:url(imgs/table_regular.gif);background-position:center center;background-repeat:no-repeat;color:white;font-weight:bold;font-size:12px;padding:0;text-align:center;width:26px;}
tr.predict{background:#004747;padding:0;}
tr.skrz{font-style:italic;text-decoration:line-through;}
tr.predict2{background:#FFFFFF;}

tr.home{background:#FC0;height:22px;}
tr.away{background:#6CF;height:22px;}
td.away{text-align:right;}

tr.onem{background:white none repeat scroll 0 0;height:22px;}
tr.onem3{background:white none repeat scroll 0 0;height:22px;}
tr.twom{background:#ECF3FE none repeat scroll 0 0;height:22px;}
tr.onem2{background:#C7DDFF none repeat scroll 0 0;height:22px;}
tr.onem1{background:#CCFF66 none repeat scroll 0 0;height:22px;}
tr.onem4{background:#FFF6B3 none repeat scroll 0 0;height:22px;}
tr.onem5{background:#FFFF66 none repeat scroll 0 0;height:22px;}
tr.head{padding:1em 1em 1em;background:#060 none repeat scroll 0 0;color:#FFF;height:12px;}
tr.headupc{background:#000 none repeat scroll 0 0;color:#FFF;;font-size:12px;}
tr.headupa{background:#060 none repeat scroll 0 0;color:#fff;font-size:11px;}
td.head{text-align:center;background-image:url(imgs/leftcrn.gif);background-position:top left;background-repeat:no-repeat;}
td.head2{background-image:url(imgs/rightcrn.gif);background-position:top right;background-repeat:no-repeat;}
td.detail{text-align:center;color:#006;}
td.detail a{text-align:center;color:#006;}
#header{border-bottom:1px solid #000000;width:920px;border-bottom:1px solid #000000;}
#header p, #header h1 {margin:0;padding:0.4em 15px 0;font-weight:100%;}
#header ul{clear:left;float:left;list-style-image:none;list-style-position:outside;list-style-type:none;margin:10px 0 0;padding:0;width:100%;}
#header img{float:right;}
#header ul li{display:inline;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
#header ul li a{background:#060 none repeat scroll 0 0;color:#FF9;display:block;float:left;left:15px;line-height:1.3em;margin:0 0 0 1px;padding:3px 10px;position:relative;text-align:center;text-decoration:none;}
#header ul li a:hover{background:#336699 none repeat scroll 0 0;color:#FFFFFF;}
#header ul li a.active, #header ul li a.active:hover{background:#000000 none repeat scroll 0 0;color:#FFFFFF;font-weight:bold;}
#header ul li a span{display:block;}
#layoutdims{background:#EEEEEE none repeat scroll 0 0;border-top:4px solid #000000;clear:both;margin:0;padding:6px 15px;text-align:right;}
#wrap{text-align:left;margin:10px auto;padding:0px;border:0;width:900px;height:7999px;background:#FFFFFF;}
#info{width:700px;color:#333;margin:20px 0px 100px 10px;padding:6px;padding-bottom:2px;padding-left:18px;background-color:#CBE3D2;}
#col1{float:left;width:740px;padding-left:7px;background-color:#FFF;}
#col3{float:right;width:142px;}
#footer{border-top:1px solid #000000;clear:both;float:left;width:100%;}
#footer p{margin:0;padding:10px;}
#navlist2{background:gray none repeat scroll 0 0;font-family:Verdana,"Geneva CE",lucida,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin-left:0;padding:0 0px 0px;width:140px;font}
#navlist2 li{background:#FFFFFF none repeat scroll 0 0;border-bottom:1px solid gray;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;text-align:left;}
#navlist2 strong{font-size:14px;font-style:italic;}
#navlist2 li a{background:#C8FFE3 none repeat scroll 0 0;border-left:1em solid #AAAABB;display:block;padding:0.25em 0.5em 0.25em 0.75em;text-decoration:none;}
#navlist2 li a:link{color:#000000;}
#navlist2 li a:visited{color:#000000;}
#navlist2 li a:hover{background:#333322 none repeat scroll 0 0;border-color:#FFEE33;color:#FFFFFF;}
table.list_today{font-family:Arial, Helvetica, sans-serif;border-spacing:7px;border-collapse:separate;}
table.list_today tr:hover{background:#FFFFFF;}
tr.headupe{font-size:11px;background:#48697D;color:#FFC;}
tr.headupe a{color:#FFC;}

#date{text-align:center;font-size:15px;font-family:Arial, Helvetica, sans-serif;width:200px;}
#date a{text-decoration:none;color:#444;}

td.soutez a{text-decoration:none;font-size:12px;color:#FFD;}
td.soutez{text-align:left;background-color:#693;}
td.soutez a{color:#CFC;}
td.teamhead{text-align:center;font-style:italic;font-size:15px;color:#F00;font-weight:bold;}
table.upcoming a{text-decoration:none;color:#EEE;}
tr.onem:hover{background:#FFFF00;}
tr.twom:hover{background:#FFFF00;}
tr.predict:hover{background:#003300;}

.menu2{width:700px;height:25px;position:relative;z-index:100;border-right:0 font-family:arial, sans-serif;}
* html .menu2{width:820px;w\idth:819px;}
.menu2 ul{padding:0;margin:0;list-style-type:none;}
.menu2 ul ul{width:190px;}
.menu2 li{float:left;width:80px;position:relative;}
.menu2 a, .menu2 a:visited{display:block;font-size:12px;text-decoration:none;color:#fff;width:72px;height:30px;border:1px solid #000;border-width:1px 1px 1px 1px;background:#65643A;line-height:29px;padding-left:5px;}
* html .menu2 a, * html .menu2 a:visited{width:74px;w\idth:73px;}
.menu2 ul ul a.drop, .menu2 ul ul a.drop:visited{background:#d4d8bd r;}
.menu2 ul ul a.drop:hover{background:#c9ba65;}

.menu2 ul ul:hover a.drop{background:#c9ba65;}
.menu2 ul ul ul a, .menu2 ul ul ul a:visited{background:#e2dfa8;}
.menu2 ul ul ul a:hover{background:#b2ab9b;}
.menu2 ul ul{visibility:hidden;position:absolute;height:0;top:31px;left:0;width:84px;border-top:1px solid #000;}
* html .menu2 ul ul{top:30px;t\op:31px;}
.menu2 ul ul ul{left:124px;top:-1px;width:84px;}
.menu2 ul ul ul.left{left:-124px;}
.menu2 table{position:absolute;top:0;left:0;border-collapse:collapse;;}
.menu2 ul ul a, .menu2 ul ul a:visited{background:#d4d8bd;color:#000;height:auto;line-height:1em;padding:3px 3px;width:255px;border-width:0 1px 1px 1px;}
* html .menu2 ul ul a, * html .menu2 ul ul a:visited{width:230px;w\idth:255px;}
.menu2 a:hover, .menu2 ul ul a:hover{color:#000;background:#b7d186;}
.menu2:hover > a, .menu2 ul ul:hover > a{color:#000;background:#b7d186;}
.menu2 ul li:hover ul, .menu2 ul a:hover ul{visibility:visible;}
.menu2 ul:hover ul ul{visibility:hidden;}
.menu2 ul:hover ul:hover ul{visibility:visible;}
.menu2 ul:hover ul:hover ul{visibility:visible;}
.menu2 a.long, .menu2 a.long:visited{background:#900300;}
.menu2 a.longer, .menu2 a.longer:visited{background:#900300;width:200px;}
table{border-collapse:collapse;text-align:left;}
.lineups{background-color:#EFEFFF;vertical-align:top;font-size:11px;}
td#gamecss{background-color:#669900;border-bottom:2px solid #336600;border-color:#336600;border-width:2px;color:#FFFFFF;font-family:Verdana,"Geneva CE",lucida,sans-serif;font-variant:normal;font-weight:normal;text-align:left;font-size:12px;}
H1#gamecss{font-family:Georgia,"Times New Roman", Times, serif;font-size:20px;line-height:30px;letter-spacing:-1px;color:#fff;margin:0 0 0 0;padding:0 0 0 0;font-weight:bold;text-align:center;background-color:#360;}
.score{text-align:center;font-family:Georgia,"Times New Roman", Times, serif;font-weight:bold;font-size:32px;color:#000;}
.odds{text-align:center;font-size:18px;}
.odds a{color:#039;font-family:Georgia,"Times New Roman", Times, serif;text-decoration:none;}
.odds a:hover{background-color:#039;color:#FFF;}
.h2h a{color:#039;font-weight:bold;text-decoration:none;}
.h2h a:hover{background-color:#039;color:#FFF;}
.stred{text-align:center;}
.detail2{font-style:italic;text-align:left;}
table#gamec{text-align:left;}
a#gamecss{color:#00C;}
#gamec{margin:0;padding:0;text-align:center;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
button.datedit{background:url('button.png') no-repeat #E2E2E2 center center;width:22px;height:22px;_cursor:hand;cursor:pointer;vertical-align:top;margin:0;}
button.datedit span{display:none;}
div.datedit{background-color:#E0E0E0;border:1px solid #808080;padding:2px;text-align:center;font-size:11px;width:15em;}
div.datedit a{text-decoration:none;}
div.datedit div.top{font-weight:bolder;font-size:13px;}
div.datedit div.top a{color:#000000;}
div.datedit div.top a:hover{text-decoration:underline;}
div.datedit div.top a.navig{position:absolute;width:9px;height:9px;top:6px;}
div.datedit div.top a.prev{left:4px;background:url('prev_mon.png') no-repeat;}
div.datedit div.top a.next{right:4px;background:url('next_mon.png') no-repeat;}
div.datedit div.top a.navig span{display:none;}
ul.dateditSelector{position:absolute;z-index:1;margin:0;border:1px solid #808080;background-color:#FFFFFF;line-height:1.15;text-align:left;padding:0 0 2px 0;list-style-type:none;}
ul.dateditSelector li{padding:0;margin:0;}
ul.dateditSelector li.sel a{background-color:#E0E0E0;}
ul.dateditSelector li.head{text-align:center;border-bottom:1px solid #808080;font-weight:bolder;background-color:#808080;margin-bottom:2px;color:#FFFFFF;}
ul.dateditSelector a{display:block;text-decoration:none;color:#000000;padding:0 4px;}
ul.dateditSelector a:hover, ul.dateditSelector li.sel a:hover{background-color:#BEBEBE;}
ul.dateditSelector li a span{color:#808080;margin-left:1em;}
div.datedit div.inner{background-color:#FAFAFA;border:1px solid #808080;}
.datedit td{padding:0;}
div.datedit div.inner table{padding:0;margin:0;line-height:1;border-spacing:2px;width:100%;background:url('header.png') repeat-x left 3.4ex;}
div.datedit div.inner table td, div.datedit div.inner table th{width:14.2857142857143%;border-spacing:0;text-align:right;overflow:hidden;}
div.datedit div.inner table td a{display:block;color:#000000;padding:2px;border:1px solid #EAEAEA;}
div.datedit div.inner table td a:hover, div.datedit div.inner table td.weekend a:hover{border:1px solid #FF4040;background-color:#FFC7C7;}
div.datedit div.inner table td.inact{background-color:transparent;color:#A0A0A0;padding:2px;}
div.datedit div.inner table td.today a{background-color:#C8C8FF}
div.datedit div.inner table td.weekend a{}
div.datedit div.inner table td.sel a{border:1px solid #FF4040;}
div.datedit div.inner table td{background-color:#EAEAEA;}
div.datedit div.inner table th{font-weight:bolder;text-align:center;line-height:1.4;padding-bottom:1ex;}
div.datedit div.time{margin:4px 0 2px 0;text-align:right;}
div.datedit div.time input{width:1.5em;font-size:11px;background-color:#FAFAFA;border:1px solid #808080;padding:1px;height:2.1ex;}
div.datedit div.time div{display:inline;position:relative;padding-right:16px;vertical-align:bottom;}
div.datedit div.time span{display:none;}
div.datedit div.time button{position:absolute;width:16px;height:50%;_height:9px;padding:0;}
div.datedit div.time a{padding:0 4px;cursor:hand;}
div.datedit div.time .btn1{top:0;background:url('up.png') no-repeat center center;}
div.datedit div.time .btn2{bottom:0;_top:9px;background:url('down.png') no-repeat center center;}
form{margin:0;}
label{width:4em;float:left;text-align:right;margin-right:0.5em;display:block}
input{color:#781351;background:#ffff99;border:1px solid #781351}
fieldset{border:1px solid #781351;width:20em}
legend{color:#fff;background:#006600;border:1px solid #781351;padding:2px 6px}
#twitter {
    background-color: #C5EBF5;
    background-image: none;
    border: 1px solid #66C9E9;
    
    height: 67px;
    width: 248px;
}
#twitter a {
    float: left;
    font: 1.1em/1.5em Arial;
    height: 66px;
    padding: 12px 0 0 70px;

}
#vogel {
    background: url("twitter_a.gif") no-repeat scroll 0 0 transparent;
}
#vogel:hover {
    background: url("twitter_h.gif") no-repeat scroll 0 0 transparent;
}
.wdl {background:url(../flags/flag4.png); width:14px; height:14px;  display:inline-block; display: -moz-inline-stack; vertical-align:middle;}
.won {background-position:-1px -257px;}
.won2 {background-position:-17px -257px;}
.draw {background-position:-33px -257px;}
.draw2 {background-position:-49px -257px;}
.lost {background-position:-65px -257px;}
.lost2 {background-position:-81px -257px;}
.won3 {background-position: -97px -257px;}
.draw3 {background-position:-113px -257px;}
.lost3 {background-position:-129px -257px;}
.detail3 {background-position:-145px -257px;}
.detail2 {background-position:-161px -257px;}
.detail1 {background-position:-177px -257px;}

.flag {background:url(../flags/flag4.png) no-repeat; width:20px; height:14px;  display:inline-block; display: -moz-inline-stack;vertical-align:middle; }

.Algeria {background-position:-23px -1px;}
.Andorra {background-position:-45px -1px;}
.Angola {background-position:-67px -1px;}
.Antigua_and_Barbuda {background-position:-89px -1px;}
.Argentina {background-position:-111px -1px;}
.Armenia {background-position:-133px -1px;}
.Australia {background-position:-155px -1px;}
.Austria {background-position:-177px -1px;}
.Azerbaijan {background-position:-199px -1px;}

.Bahrain {background-position: -1px -17px;}
.Barbados {background-position:-23px -17px;}
.Belarus {background-position:-45px -17px;}
.Belgium {background-position:-67px -17px;}
.Benin {background-position:-89px -17px;}
.Bermuda {background-position:-111px -17px;}
.Bolivia {background-position:-133px -17px;}
.Bosnia_Herzegovina {background-position:-155px -17px;}
.Botswana {background-position:-177px -17px;}
.Brazil {background-position:-199px -17px;}

.Bulgaria {background-position: -1px -33px;}
.Burkina_Faso {background-position: -23px -33px;}
.Cameroon {background-position: -45px -33px;}
.Canada {background-position: -67px -33px;}
.Cape_Verde {background-position: -89px -33px;}
.Chile {background-position: -111px -33px;}
.China {background-position: -133px -33px;}
.Colombia {background-position: -155px -33px;}
.Congo {background-position: -177px -33px;}
.Costa_Rica {background-position: -199px -33px;}

.Croatia {background-position: -1px -49px;}
.Cuba {background-position: -23px -49px;}
.Cyprus {background-position: -45px -49px;}
.Czech_Republic {background-position: -67px -49px;}
.Denmark {background-position: -89px -49px;}
.DR_Congo {background-position: -111px -49px;}
.Ecuador {background-position: -133px -49px;}
.Egypt {background-position: -155px -49px;}
.El_Salvador {background-position: -177px -49px;}
.England {background-position: -199px -49px;}

.Estonia  {background-position: -1px -65px;}
.Faroe_Islands  {background-position: -23px -65px;}
.Fiji  {background-position: -45px -65px;}
.Finland  {background-position: -67px -65px;}
.France  {background-position: -89px -65px;}
.Gabon  {background-position: -111px -65px;}
.Gambia  {background-position: -133px -65px;}
.Georgia {background-position: -155px -65px;}
.Germany {background-position: -177px -65px;}
.Ghana {background-position: -199px -65px;}

.Greece {background-position: -1px -81px;}
.Guadeloupe {background-position: -23px -81px;}
.Guatemala {background-position: -45px -81px;}
.Guinea {background-position: -67px -81px;}
.Haiti {background-position: -89px -81px;}
.Honduras {background-position: -111px -81px;}
.Hong_Kong {background-position: -133px -81px;}
.Hungary {background-position: -155px -81px;}
.Iceland {background-position: -177px -81px;}
.India {background-position: -199px -81px;}

.Indonesia {background-position: -1px -97px;}
.International {background-position: -23px -97px;}
.Iran {background-position: -45px -97px;}
.Iraq {background-position: -67px -97px;}
.Ireland {background-position: -89px -97px;}
.Israel {background-position: -111px -97px;}
.Italy {background-position: -133px -97px;}
.Ivory_Coast {background-position: -155px -97px;}
.Jamaica {background-position: -177px -97px;}
.Japan {background-position: -199px -97px;}

.Jordan {background-position: -1px -113px;}
.Kazakhstan {background-position: -23px -113px;}
.Kenya {background-position: -45px -113px;}
.Kuwait {background-position: -67px -113px;}
.Kyrgyzstan {background-position: -89px -113px;}
.Laos {background-position: -111px -113px;}
.Latvia {background-position: -133px -113px;}
.Lebanon {background-position: -155px -113px;}
.Lesotho {background-position: -177px -113px;}
.Liberia {background-position: -199px -113px;}
 
.Libya {background-position: -1px -129px;}
.Liechtenstein {background-position: -23px -129px;}
.Lithuania {background-position: -45px -129px;}
.Luxembourg {background-position: -67px -129px;}
.Macedonia {background-position: -89px -129px;}
.Malawi {background-position: -111px -129px;}
.Malaysia {background-position: -133px -129px;}
.Mali {background-position: -155px -129px;}
.Malta {background-position: -177px -129px;}
.Martinique {background-position: -199px -129px;}

.Mexico {background-position: -1px -145px;}
.Moldova {background-position: -23px -145px;}
.Montenegro {background-position: -45px -145px;}
.Morocco {background-position: -67px -145px;}
.Mozambique {background-position: -89px -145px;}
.N__Ireland {background-position: -111px -145px;}
.Namibia {background-position: -133px -145px;}
.Netherlands {background-position: -155px -145px;}
.New_Zealand {background-position: -177px -145px;}
.Nicaragua {background-position: -199px -145px;}

.Nigeria {background-position: -1px -161px;}
.Norway {background-position: -23px -161px;}
.Oman {background-position: -45px -161px;}
.Pakistan {background-position: -67px -161px;}
.Palestine {background-position: -89px -161px;}
.Panama {background-position: -111px -161px;}
.Paraguay {background-position: -133px -161px;}
.Peru {background-position: -155px -161px;}
.Philippines {background-position: -177px -161px;}
.Poland {background-position: -199px -161px;}

.Portugal {background-position: -1px -177px;}
.Puerto_Rico {background-position: -23px -177px;}
.Qatar {background-position: -45px -177px;}
.Romania {background-position: -67px -177px;}
.Russia {background-position: -89px -177px;}
.Rwanda {background-position: -111px -177px;}
.San_Marino {background-position: -133px -177px;}
.Saudi_Arabia {background-position: -155px -177px;}
.Scotland {background-position: -177px -177px;}
.Senegal {background-position: -199px -177px;}

.Serbia {background-position: -1px -193px;}
.Sierra_Leone {background-position: -23px -193px;}
.Singapore {background-position: -45px -193px;}
.Slovakia {background-position: -67px -193px;}
.Slovenia {background-position: -89px -193px;}
.Solomon_Islands {background-position: -111px -193px;}
.South_Africa {background-position: -133px -193px;}
.South_Korea {background-position: -155px -193px;}
.Spain {background-position: -177px -193px;}
.St_Kitts_and_Nevis {background-position: -199px -193px;}

.Sudan {background-position: -1px -209px;}
.Swaziland {background-position: -23px -209px;}
.Sweden {background-position: -45px -209px;}
.Switzerland {background-position: -67px -209px;}
.Syria {background-position: -89px -209px;}
.Tahiti {background-position: -111px -209px;}
.Taiwan {background-position: -133px -209px;}
.Tanzania {background-position: -155px -209px;}
.Thailand {background-position: -177px -209px;}
.Togo {background-position: -199px -209px;}

.Trinidad_and_Tobago {background-position: -1px -225px;}
.Tunisia {background-position: -23px -225px;}
.Turkey {background-position: -45px -225px;}
.U_A_E_ {background-position: -67px -225px;}
.Uganda {background-position: -89px -225px;}
.Ukraine {background-position: -111px -225px;}
.Uruguay {background-position: -133px -225px;}
.USA {background-position: -155px -225px;}
.Venezuela {background-position: -177px -225px;}
.Vietnam {background-position: -199px -225px;}

.Wales {background-position: -1px -241px;}
.Yemen {background-position: -23px -241px;}
.Zambia {background-position: -45px -241px;}
.Zimbabwe {background-position: -67px -241px;}
.Albania {background-position: -89px -241px;}
.Uzbekistan {background-position: -111px -241px;}

function land(ref, target)
{
lowtarget=target.toLowerCase();
if (lowtarget=="_self") {window.location=loc;}
else {if (lowtarget=="_top") {top.location=loc;}
else {if (lowtarget=="_blank") {window.open(loc);}
else {if (lowtarget=="_parent") {parent.location=loc;}
else {parent.frames[target].location=loc;};
}}}
}
function jump(menu)
{
ref=menu.choice.options[menu.choice.selectedIndex].value;
splitc=ref.lastIndexOf("*");
target="";
if (splitc!=-1)
{loc=ref.substring(0,splitc);
target=ref.substring(splitc+1,1000);}
else {loc=ref; target="_self";};
if (ref != "") {land(loc,target);}
}
