.tooltipster-sd
{
    border-radius: 3px;
    border: 3px solid #e8e8e8;
    background: #fff;
    color: #666666;
    z-index: 10;
}
.tooltipster-sd .tooltipster-content
{
    color: #666;
    font-size: 12px;
    line-height: 1.25em;
    padding: 10px;
}

