/* Reset */

#loginForm textarea { resize:none; font-size:1em; font-family:Arial, Helvetica, sans-serif;}

#loginForm input {
	margin: 0;
}

#loginForm textarea {
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	white-space: normal;
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: auto;
}

/* Typography */
/*#loginForm {    //vajen
	background: white;
	color: black;
	font: 12px/1.2em Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; 
} */
/*#loginForm a {      //vajen
	color: #1B6F9F;
}*/

#loginForm .clr{
	clear:both;
	width:100%;
	height:1px;
	line-height:1px;
	overflow:hidden;
	margin: -1px 0 0;
}


/*soc*/
.login_register_vk_button, .login_register_fb_button{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
   /* background: #5c80a4;*/
    text-decoration: none;
    width: 80px;
}
#loginForm a.login_register_vk_button { margin-bottom: 28px; }
#loginForm .social_reg a.login_register_vk_button { margin-bottom: 0px; }
#loginForm .social_reg .login_register_vk_button, #loginForm .social_reg .login_register_fb_button { width: 60px; }
#loginForm a.login_register_vk_button, #loginForm a.login_register_fb_button{
    color: white;
}

.login_register_fb_button{
    /*background: #4669b6;
    margin-left: 10px;*/
}

.login_register_vk_icon, .login_register_fb_icon{
    background: url("/img/new/icon_soc_big.png") no-repeat;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.login_register_fb_icon{
    background-position: center right;
}

#loginForm .rg_forms{
    margin-left: 0;
    padding-left: 10px;
}
#loginForm .rg_forms.confirm_code_from_letter {
    border-right: none;
    width: 100%;
}

#loginForm .rg_forms, #loginForm .rg_soc{
    /*width: 292px;*/
}

dt#js_tap_panel_auth .rg_soc{
    float: right;
    width: 160px;
    margin-top: 38px;
}

#js_tap_panel_auth .social_reg .rg_soc{
	/*padding-left: 40px;
	padding-top: 15px;*/
}

#loginForm .rg_for_input{
    margin-left: 0;
}

#loginForm .rg_inp_descr{
    display: inline;
}

.rg_text_inner{
    font-size: 18px;
    font-weight: lighter;
    display: block;
    text-align: center;
    margin-top: 30px !important;
}

/*Kulakov*/
#loginForm .rg_for_input_wide{
    width: 100%;
}


.subscribe_reg {
    margin-top: 38px;
}
.rg_description_text {
	font-size: 13px;
	padding: 28px 0 5px 0;
}
.social_reg {
    float: right;
    width: 180px; margin-top: 45px;
}
.social_reg .rg_description {
	margin: 0;
}
.rg_soc_auth_agree {
	padding: 1em 0.6em;
}