﻿html {
    font-family: 'source_sans_pro',sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

menu {
    display: inline-block;
}

a:hover, a:focus {
    color: #008CFF;
    text-decoration: none;
}

a:focus {
    color: #fff;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}

    .breadcrumb h1 {
        font-size: 1.08em;
        display: block;
        margin: 5px 0;
        font-weight: 700;
        color: #000;
    }

.row {
    width: 100%;
    display: block;
    margin: 0;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.form-control {
    height: 34px;
    padding: 6px 12px;
    padding-left: 26px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
}

    .form-control:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        border: 3px solid #ffcb05;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        outline: 0;
    }

    .form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999;
    }

input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
    line-height: 30px;
    line-height: 1.5 \0;
}

.btn {
    display: inline-block;
    padding: 3px 9px;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    outline: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button_info {
    color: #fff;
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    padding: 0 1.2%;
}

.btn-default {
    color: #333;
    background-color: #ffcb05;
    border-color: #ffcb05;
    height: 34px;
    border: 2px solid inherit;
}

[role="tooltip"] {
    z-index: 100;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

    .dropdown-menu > li > a {
        display: block;
        padding: 4px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #fff;
        white-space: nowrap;
        font-family: source sans,lato,sans-serif;
        transition: all .3s;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            color: #000;
            text-decoration: none;
            background-color: #ffcb05;
        }

.navbar-brand {
    float: left;
    padding: 4px 15px;
    font-size: 18px;
    line-height: 0px;
    height: auto;
}

    .navbar-brand img {
        width: 225px;
    }

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding: 2px 0 0;
}

.navbar-nav > li > form > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control {
    box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
}

.modal {
    top: 25%;
}

.nav > li > form > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > .open > a,
.nav > li > .open > a:hover,
.nav > li > .open > a:focus {
    color: #fff;
    background-color: #333;
}


@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}


@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        width: 79%;
        padding: 0px;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: 170px;
        vertical-align: middle;
    }

    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .modal-sm {
        width: 400px;
    }

    .navbar-form {
        width: 448px;
        padding-top: 3px;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
    }

        .navbar-right ~ .navbar-right {
            margin-right: 0;
        }
}



.navbar-default {
    background-color: #1f1f1f;
    border-bottom: 1px solid;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > form > a {
        color: #fff;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        line-height: 2;
        padding-top: 14px;
        padding-bottom: 14px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus,
        .navbar-default .navbar-nav > li > form > a:hover,
        .navbar-default .navbar-nav > li > form > a:focus {
            color: #e3e3e3;
            background-color: #333;
        }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .nav > .open > a,
    .nav > .open > a:hover,
    .nav > .open > a:focus {
        color: #fff;
        background-color: #333;
    }



.pagination {
    display: inline-block;
    padding: 0;
    margin: 0px 0;
    border-radius: 4px;
}


.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
    -ms-box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #fff;
    box-shadow: 1px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 0px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 1px 0px 0px rgba(0,0,0,0.2);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100040;
    background-color: #000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.pagination {
    padding: 0;
    margin: 10px 0;
}


/*Producto Multimedia*/
.nav-tabs {
    border: 4px solid transparent;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: transparent;
        border-bottom: 4px solid #ffcb05;
    }

    .nav-tabs > li {
        min-width: 130px;
        text-align: center;
    }

        .nav-tabs > li > a {
            color: #555;
            border: transparent;
            border-bottom: 4px solid transparent;
        }

        .nav-tabs > li a i {
            font-size: 1.2em;
            padding: 0 4px;
            vertical-align: text-bottom;
        }

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.nav-tabs > li > a:hover {
    border: transparent;
    border-bottom: 4px solid #ffcb05;
    color: #333;
}

.tab-content > .tab-pane {
    text-align: center;
    margin: 20px 0;
}

.carousel-control.right, .carousel-control.left {
    background: none;
}
