#officeBrowserFeedbackOverlayBackground{background-color:rgba(0,0,0,0.5);color:#444;left:0;top:0;width:100%;height:100%;min-height:530px;position:fixed;z-index:10000000000;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none;user-select:none}.AppRtl #officeBrowserFeedbackOverlayBackground{right:0}.officeBrowserFeedbackOverlayMinWidth{min-width:780px}.officeBrowserFeedbackNarrowLayout.officeBrowserFeedbackOverlayMinWidth{min-width:320px}@-moz-keyframes officeBrowserFeedbackMainContainerGrowfromcenter{from{margin-top:0;
height:0}
to{margin-top:-180px;
height:360px}}
@-webkit-keyframes officeBrowserFeedbackMainContainerGrowfromcenter{from{margin-top:0;
height:0}
to{margin-top:-180px;
height:360px}}
@-o-keyframes officeBrowserFeedbackMainContainerGrowfromcenter{from{margin-top:0;
height:0}
to{margin-top:-180px;
height:360px}}
@-ms-keyframes officeBrowserFeedbackMainContainerGrowfromcenter{from{margin-top:0;
height:0}
to{margin-top:-180px;
height:360px}}
@keyframes officeBrowserFeedbackMainContainerGrowfromcenter{from{margin-top:0;
height:0}
to{margin-top:-180px;
height:360px}}
#officeBrowserFeedbackMainContainer{border-top:1px solid gray;border-bottom:1px solid gray;background-color:#fff;top:50%;min-width:100%;position:absolute;margin-top:-180px;height:360px;-moz-animation-duration:1s;-webkit-animation-duration:1s;-o-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;-moz-animation-name:officeBrowserFeedbackMainContainerGrowfromcenter;-webkit-animation-name:officeBrowserFeedbackMainContainerGrowfromcenter;-o-animation-name:officeBrowserFeedbackMainContainerGrowfromcenter;-ms-animation-name:officeBrowserFeedbackMainContainerGrowfromcenter;animation-name:officeBrowserFeedbackMainContainerGrowfromcenter;-moz-animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}#officeBrowserFeedbackMainContentHolder{height:100%;width:720px;margin:0 auto}.officeBrowserFeedbackNarrowLayout #officeBrowserFeedbackMainContentHolder{height:100%;width:300px;margin:0 auto}#officeBrowserFeedbackLeftFormContainer{float:left;margin-left:180px}.AppRtl #officeBrowserFeedbackLeftFormContainer{float:right;margin-right:180px;margin-left:0px}.officeBrowserFeedbackNarrowLayout #officeBrowserFeedbackLeftFormContainer{float:left;margin-left:0}.AppRtl .officeBrowserFeedbackNarrowLayout #officeBrowserFeedbackLeftFormContainer{float:right;margin-right:0}#officeBrowserFeedbackMiddleFormContainer{margin-left:540px}.AppRtl #officeBrowserFeedbackMiddleFormContainer{margin-right:540px;margin-left:0px}.officeBrowserFeedbackNarrowLayout #officeBrowserFeedbackMiddleFormContainer{margin-left:0}.AppRtl .officeBrowserFeedbackNarrowLayout #officeBrowserFeedbackMiddleFormContainer{margin-right:0}.officeBrowserFeedbackFormContainer{height:100%;width:360px}.officeBrowserFeedbackNarrowLayout .officeBrowserFeedbackFormContainer{height:100%;width:300px}#officeBrowserFeedbackTitle{padding-top:24px;padding-bottom:27px}#officeBrowserFeedbackColumnSeparatorDiv{width:100%;height:245px}.officeBrowserFeedbackShowRightBorder{border-right:1px solid #e0e0e0}.AppRtl .officeBrowserFeedbackShowRightBorder{border-left:1px solid #e0e0e0;border-right:none}#officeBrowserFeedbackQuestionLeftText{padding-top:0;padding-bottom:18px;width:310px}.officeBrowserFeedbackQuestionMiddleText{padding-top:75px;padding-bottom:18px}#officeBrowserFeedbackQuestionMiddleText{padding-top:75px;padding-bottom:18px}.officeBrowserFeedbackFontTitle{font-size:24px;font-family:'wf_SegoeUIRegular','wf_SegoeUI','Segoe UI Regular','Segoe UI','Segoe','Segoe WP','Tahoma','Verdana','Arial','sans-serif'}.officeBrowserFeedbackFontSubtitle{font-size:19px;font-family:'wf_SegoeUIRegular','wf_SegoeUI','Segoe UI Regular','Segoe UI','Segoe','Segoe WP','Tahoma','Verdana','Arial','sans-serif'}.officeBrowserFeedbackFontText{font-size:18px;font-family:'wf_SegoeUIRegular','wf_SegoeUI','Segoe UI Regular','Segoe UI','Segoe','Segoe WP','Tahoma','Verdana','Arial','sans-serif'}.officeBrowserFeedbackLineHeight{line-height:100%}.officeBrowserFeedbackTextAlginLeft{text-align:left}.AppRtl .officeBrowserFeedbackTextAlginLeft{text-align:right}.officeBrowserFeedbackTextAlignLeft{text-align:left}.AppRtl .officeBrowserFeedbackTextAlignLeft{text-align:right}.officeBrowserFeedbackPadLeft36px{padding-left:60px}.AppRtl .officeBrowserFeedbackPadLeft36px{padding-right:60px;padding-left:0px}.officeBrowserFeedbackMarginLeft36px{margin-left:60px}.AppRtl .officeBrowserFeedbackMarginLeft36px{margin-right:60px;margin-left:0px}.officeBrowserFeedbackNarrowLayout .officeBrowserFeedbackMarginLeft36px{margin-left:0}.AppRtl .officeBrowserFeedbackNarrowLayout .officeBrowserFeedbackMarginLeft36px{margin-right:0}.officeBrowserFeedbackOverallAnchor:hover,.officeBrowserFeedbackOverallAnchor:focus{cursor:pointer;text-decoration:none;background-color:#19478a !important;outline:2px dashed transparent}.officeBrowserFeedbackOverallAnchor{color:#fff;width:300px;height:50px;text-decoration:none !important;display:table-row;outline:1px solid transparent}.officeBrowserFeedbackOverallImage{width:30px;height:30px;padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;border:none;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;display:table-cell}.officeBrowserFeedbackOverallText{color:#fff;vertical-align:middle;text-align:left;display:table-cell;width:250px;text-decoration:none}.AppRtl .officeBrowserFeedbackOverallText{text-align:right}.officeBrowserFeedbackFullWidth20pxHeight{width:100%;height:20px}#officeBrowserFeedbackPrivacyStatementLinkDiv{width:100%;padding-top:0;padding-bottom:24px}#officeBrowserFeedbackPrivacyStatementLink{text-decoration:none;color:#04c}#officeBrowserFeedbackPrivacyStatementLink:hover,#officeBrowserFeedbackSubmitButton:focus{cursor:pointer;text-decoration:none;color:#04c}#officeBrowserFeedbackLeftFormContainer.slideLeft{-moz-animation-duration:2s;-webkit-animation-duration:2s;-o-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s;-moz-animation-name:officeBrowserFeedbackLeftFormContainerSlideLeft;-webkit-animation-name:officeBrowserFeedbackLeftFormContainerSlideLeft;-o-animation-name:officeBrowserFeedbackLeftFormContainerSlideLeft;-ms-animation-name:officeBrowserFeedbackLeftFormContainerSlideLeft;animation-name:officeBrowserFeedbackLeftFormContainerSlideLeft;-moz-animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}.AppRtl #officeBrowserFeedbackLeftFormContainer.slideLeft{-moz-animation-name:officeBrowserFeedbackLeftFormContainerSlideRight;-webkit-animation-name:officeBrowserFeedbackLeftFormContainerSlideRight;-o-animation-name:officeBrowserFeedbackLeftFormContainerSlideRight;-ms-animation-name:officeBrowserFeedbackLeftFormContainerSlideRight;animation-name:officeBrowserFeedbackLeftFormContainerSlideRight}@-moz-keyframes officeBrowserFeedbackLeftFormContainerSlideLeft{from{margin-left:180px}
to{margin-left:0}}
@-moz-keyframes officeBrowserFeedbackLeftFormContainerSlideRight{from{margin-right:180px}
to{margin-right:0}}
@-webkit-keyframes officeBrowserFeedbackLeftFormContainerSlideLeft{from{margin-left:180px}
to{margin-left:0}}
@-webkit-keyframes officeBrowserFeedbackLeftFormContainerSlideRight{from{margin-right:180px}
to{margin-right:0}}
@-ms-keyframes officeBrowserFeedbackLeftFormContainerSlideLeft{from{margin-left:180px}
to{margin-left:0}}
@-ms-keyframes officeBrowserFeedbackLeftFormContainerSlideRight{from{margin-right:180px}
to{margin-right:0}}
@keyframes officeBrowserFeedbackLeftFormContainerSlideLeft{from{margin-left:180px}
to{margin-left:0}}
@keyframes officeBrowserFeedbackLeftFormContainerSlideRight{from{margin-right:180px}
to{margin-right:0}}
@-moz-keyframes officeBrowserFeedbackLeftFormContainerSlideLeft{from{margin-left:180px}
to{margin-left:0}}
@-moz-keyframes officeBrowserFeedbackLeftFormContainerSlideRight{from{margin-right:180px}
to{margin-right:0}}
#officeBrowserFeedbackMiddleFormContainer.slideLeft{-moz-animation-duration:2s;-webkit-animation-duration:2s;-o-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s;-moz-animation-name:officeBrowserFeedbackMiddleFormContainerSlideLeft;-webkit-animation-name:officeBrowserFeedbackMiddleFormContainerSlideLeft;-o-animation-name:officeBrowserFeedbackMiddleFormContainerSlideLeft;-ms-animation-name:officeBrowserFeedbackMiddleFormContainerSlideLeft;animation-name:officeBrowserFeedbackMiddleFormContainerSlideLeft;-moz-animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;-ms-animation-fill-mode:forwards;animation-fill-mode:forwards}.AppRtl #officeBrowserFeedbackMiddleFormContainer.slideLeft{-moz-animation-name:officeBrowserFeedbackMiddleFormContainerSlideRight;-webkit-animation-name:officeBrowserFeedbackMiddleFormContainerSlideRight;-o-animation-name:officeBrowserFeedbackMiddleFormContainerSlideRight;-ms-animation-name:officeBrowserFeedbackMiddleFormContainerSlideRight;animation-name:officeBrowserFeedbackMiddleFormContainerSlideRight}@-moz-keyframes officeBrowserFeedbackMiddleFormContainerSlideLeft{from{margin-left:540px}
to{margin-left:360px}}
@-moz-keyframes officeBrowserFeedbackMiddleFormContainerSlideRight{from{margin-right:540px}
to{margin-right:360px}}
@-webkit-keyframes officeBrowserFeedbackMiddleFormContainerSlideLeft{from{margin-left:540px}
to{margin-left:360px}}
@-webkit-keyframes officeBrowserFeedbackMiddleFormContainerSlideRight{from{margin-right:540px}
to{margin-right:360px}}
@-ms-keyframes officeBrowserFeedbackMiddleFormContainerSlideLeft{from{margin-left:540px}
to{margin-left:360px}}
@-ms-keyframes officeBrowserFeedbackMiddleFormContainerSlideRIght{from{margin-right:540px}
to{margin-right:360px}}
@keyframes officeBrowserFeedbackMiddleFormContainerSlideLeft{from{margin-left:540px}
to{margin-left:360px}}
@keyframes officeBrowserFeedbackMiddleFormContainerSlideRight{from{margin-right:540px}
to{margin-right:360px}}
@-moz-keyframes officeBrowserFeedbackMiddleFormContainerSlideLeft{from{margin-left:540px}
to{margin-left:360px}}
@-moz-keyframes officeBrowserFeedbackMiddleFormContainerSlideRight{from{margin-right:540px}
to{margin-right:360px}}
#officeBrowserFeedbackComment{color:#444;width:300px;height:120px;padding:5px;margin-bottom:30px}#officeBrowserFeedbackScreenshotContainer{width:300px;height:43px}#officeBrowserFeedbackScreenshotCheckboxText{display:table-row}#officeBrowserFeedbackScreenshotCheckbox{display:table-cell;width:18px;vertical-align:baseline;padding-right:3px}#officeBrowserFeedbackScreenshotText{display:table-cell;vertical-align:baseline}#officeBrowserFeedbackSubmitButtonContainer{width:300px;height:34px}#officeBrowserFeedbackSubmitButton{height:34px;float:right;background-color:#0167b1;color:#fff;padding:0 20px 0 20px;border-radius:0;margin:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-decoration:none;border:none}.AppRtl #officeBrowserFeedbackSubmitButton{float:left}#officeBrowserFeedbackSubmitButton:hover,#officeBrowserFeedbackSubmitButton:focus{cursor:pointer;text-decoration:none;color:#fff}.officeBrowserFeedbackBackgroundBLue{background-color:#0167b1 !important;outline:4px solid transparent}.officeBrowserFeedbackBackgroundGrey{background-color:#666 !important}.officeBrowserFeedbackHidden{display:none}.officeBrowserFeedbackVisible{display:block}#officeBrowserFeedbackContactInfoComment{width:300px;height:80px;padding:5px;margin-bottom:18px}#officeBrowserFeedbackContactInfoEmailText{padding-bottom:18px;font-size:16px;line-height:120%}#officeBrowserFeedbackUservoiceLinkFormMiddleText{font-size:16px;line-height:120%;padding-bottom:16px}#officeBrowserFeedbackUservoiceLinkFormAnchor{font-size:16px}#officeBrowserFeedbackContactInfoEmailInput{font-size:14px;width:300px;height:27px;padding-left:5px;padding-right:5px}.officeBrowserFeedbackFormContainer{position:relative}.officeBrowserFeedbackComment{font-size:14px;border:1px solid #b0b0b0;overflow:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;resize:none}.officeBrowserFeedbackSubmitButtonContainer{width:300px;height:34px;position:absolute;bottom:24px}.officeBrowserFeedbackSubmitButton{height:34px;float:right;background-color:#0167b1;color:#fff;padding:0 20px 0 20px;border-radius:0;margin:0;box-shadow:none;text-decoration:none;border:1px solid transparent}.AppRtl .officeBrowserFeedbackSubmitButton{float:left}.officeBrowserFeedbackSubmitButton:hover,.officeBrowserFeedbackSubmitButton:focus{cursor:pointer;text-decoration:none;color:#fff;outline:2px dashed transparent;border:1px solid;background-color:#19478a !important}.officeBrowserFeedbackLinkDiv{width:100%;padding-top:0;padding-bottom:24px}.officeBrowserFeedbackLink{text-decoration:none;color:#04c;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:transparent}@media screen and (-ms-high-contrast:active){.officeBrowserFeedbackOverallAnchor:hover,.officeBrowserFeedbackOverallAnchor:focus,.officeBrowserFeedbackOverallAnchor:hover *,.officeBrowserFeedbackOverallAnchor:focus *,.officeBrowserFeedbackSubmitButton:hover,.officeBrowserFeedbackSubmitButton:focus,.officeBrowserFeedbackBackgroundBLue,.officeBrowserFeedbackBackgroundBLue .officeBrowserFeedbackOverallText{-ms-high-contrast-adjust:none;background-color:Highlight !important;color:HighlightText !important;outline-color:inherit !important}}