.header__search .item__text {
    background-color: #efefef;
}

.easy-select-box {
    width: 142px;
    height: 42px;
    top: 0;
    left: 0;
    vertical-align: middle;
    background-color: white;
    border-radius: 0 4px 4px 0;
    outline: 0;
}

.esb-displayer {
    width: 142px;
    z-index: 0;
    position: relative;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    height: 42px;
    border-radius: 0 4px 4px 0;
    padding-left: 5px;
}

.esb-dropdown {
    display: none;
    background-color: white;
    position: relative;
    z-index: 3;
    border: 1px solid #bfbfbf;
    padding: 8px;
    width: 124px !important;
    cursor: pointer;
}

.esb-dropdown .esb-item:hover {
    color: #b3b3b3;
}

.page-timeshift .easy-select-box {
    width: 163px;
    height: 37px;
    top: 0;
    left: 0;
    vertical-align: middle;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
}

.page-timeshift .esb-displayer {
    width: 163px;
    z-index: 0;
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(166, 166, 166);
    display: table-cell;
    vertical-align: middle;
    height: 37px;
    border-radius: 4px;
}

.page-timeshift .esb-dropdown {
    display: none;
    background-color: rgb(248, 248, 248);
    position: relative;
    z-index: 3;
    border: 1px solid rgb(166, 166, 166);
    width: 144px !important;
}

.content__search-result .easy-select-box {
    width: 138px;
    height: 40px;
    top: 0;
    left: 0;
    vertical-align: middle;
    background-color: rgb(248, 248, 248);
    border-radius: 0 4px 4px 0;
}

.content__search-result .esb-displayer {
    width: 138px;
    z-index: 0;
    position: relative;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(166, 166, 166);
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    border-radius: 0 4px 4px 0;
    font-size: 12px;
}

.content__search-result .esb-dropdown {
    display: none;
    background-color: rgb(248, 248, 248);
    position: relative;
    z-index: 3;
    border: 1px solid rgb(166, 166, 166);
    width: 120px !important;
}

.news-archive .esb-displayer {
    width: 142px;
    z-index: 0;
    position: relative;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    height: 42px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 0 4px 4px 0;
    padding-left: 5px;
}

.live-detail__play {
    background-color: black;
    border-radius: 3px;
}

.play-radio {
    opacity: 0.8;
}

.btn--share {
    width: 164px;
    background-color: white;
    outline: none;
}

.heading-area__link .btn--share {
    border: none;
    font-size: 13px;
    font-weight: bold;
    width: auto;
}

.btn--area-change {
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    outline: none;
}

.volume-slider {
    height: 1px;
    width: 129px;
    position: absolute;
    left: -7.5px;
    top: 0;
}

.program-table__date-wrapper {
    overflow: hidden;
    margin-left: 32px;
    border-left: 1px solid #dfdfdf;
}

.program-table__date-wrapper .program-table__date-outer {
    padding-left: 0;
}

.program-table__date-outer {
    position: relative;
    width: 3000px;
    margin-left: -1px;
}

.esb-displayer .icon {
    position: absolute;
    top: 18px;
    right: 13px;
    margin-top: -5px;
}

.top-search .esb-displayer .icon, .search-result .esb-displayer .icon, .news .esb-displayer .icon{
    top: 21px;
}
