#flash {
    position: absolute;
    top: 0;
}

#colorbox--share .seekbar {
    border: 1px solid #aaa;
    height: 5px;
}

.icon--volume-btn {
    width: 15px;
    height: 15px;
}

.page-default .icon--seek-btn {
    background: url('/apps/images/live-seek.png') no-repeat center;
    width: 13px;
    height: 12px;
}
