#flash {
    position: absolute;
    top: 0;
}

#colorbox--share #seekbar{
  border: 1px solid #aaa;
  height: 5px;
}

.icon--seek-btn {
    margin-right: -3px;
}

.seek-slider {
    height: 1px;
    position: absolute;
    top: -1px;
    width: 210.5px;
    left: -6.5px;
}