@font-face {
	font-family: 'Arial-Rounded-Bold';
	src:url('../fonts/arialroundedmtbold.eot');
	src:url('../fonts/arialroundedmtbold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arialroundedmtbold.woff') format('woff'),
		url('../fonts/arialroundedmtbold.ttf') format('truetype'),
		url('../fonts/arialroundedmtbold.svg#Arialroundedmtbold') format('svg');
	font-weight: normal;
	font-style: normal;
	}
/* General Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}img,object,embed{vertical-align:bottom;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}a *{cursor:pointer;}input,textarea,select{vertical-align:middle;}
/* General settings */
html{
min-height:100%;/*height:100%*/
background:#fff;
}
body{
color:#000;
font:400 12px/14px 'Open Sans', sans-serif;
/*min-width:1222px;*/
height:100%;/*min-height:100%*/
}
/** {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}*/
img {
	max-width: 100%;
	height: auto;
}
a{
color:#000;
text-decoration:underline;
outline:none;
}
a:hover{
text-decoration:none;
}
.aft:after{
	display:block;
	clear:both;
	content:'';
}
.w1{
	width:100%;
	overflow:hidden;
}
.wrapper{
	max-width:1322px;
	margin:0 auto;
}
.wrfield{
	padding:0 11px;
	overflow:hidden;
}
.field{
	outline:none;
	display:block;
	width:100%;
	border:1px solid #c5c5c5;
	outline:none;
	color:#7c7c7c;
	font:400 13px/16px 'Open Sans', sans-serif;
	height:16px;
	margin:0 -11px;
	padding:8px 10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#fff;
}
.f-placeholder:-moz-placeholder {color:#7c7c7c;opacity:1;}
.f-placeholder::-moz-placeholder {color:#7c7c7c;opacity:1;}
.f-placeholder::-webkit-input-placeholder {color:#7c7c7c;}
.f-placeholder:-ms-input-placeholder {color:#7c7c7c;}
.f-placeholder::placeholder{color:#7c7c7c;}
.f-placeholder.placeholder{color:#7c7c7c !important;}
.f-placeholder:focus:-moz-placeholder {color:transparent;}
.f-placeholder:focus::-moz-placeholder {color:transparent;}
.f-placeholder:focus::-webkit-input-placeholder {color:transparent;}
.f-placeholder:focus:-ms-input-placeholder {color:transparent;}
.f-placeholder:focus::placeholder {color:transparent;}
.f-placeholder{
	color:#676767;
}
.wrtextarea{

}
.textareafield{
	resize:vertical;
	min-height:52px;
}
.outtaHere{
	position:absolute;
	left:-3000px;
}
.optionsDivInvisible{
	display:none;
}
.wrselectfield{
	/*padding:0 47px 0 11px;*/
	/*padding:0 0 0 11px;*/
	overflow:hidden;
}
.two-selects{
	overflow:hidden;
}
.two-selects .wrselectfield{
	float:left;
	/*width:12px;*/
	width:70px;
}
.wrdatesleects{
	overflow:hidden;
}
.wrdatesleects .wrselectfield{
	float:left;
	width:33.33%;
	
	margin-bottom: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.wrdatesleects .wrselectfield + .wrselectfield{
	padding-left:11px;
}

.selects-date{
	margin-left:-11px;
}
.selects-date .selectArea.selectdate{
	float:left;
	margin:0 0 0 11px;
}
.selects-date .selectArea.selectdate + .selectArea.selectdate{
	
}
.select-divider{
	float:left;
	color:#757575;
	font:400 13px/16px 'Open Sans', sans-serif;
	padding:9px 3px;
}
.castomselect{

}
.selectArea.castomselect{
	outline:none;
	display:block;
	width:100% !important;
	border:1px solid #c5c5c5;
	outline:none;
	color:#7c7c7c;
	font:400 13px/16px 'Open Sans', sans-serif;
	/*height:16px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 -47px 0 0;
	padding:8px 46px 8px 10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#fff;
	position:relative;
}
.selectArea.selectdate{
	width: 100% !important;
}
.selectArea.castomselect .selectButton{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(http://i0.tryboobs.com/images/arrow_select.png) no-repeat 100% 0;
}
.drop-castomselect{
	/*width:519px !important;*/
	max-height:200px;
	overflow:auto;
	margin:-1px 0 0;
	font:400 13px/16px 'Open Sans', sans-serif;
	border:1px solid #c5c5c5;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	z-index:5000;
}
.sm-select{
	width:178px !important;
}
.age-select{
	width:68px !important;
}
.stngs-select{
	width:386px !important;
}
/*.selectdate{
	width:120px !important;
}*/
.drop-castomselect ul{
	
}
.drop-castomselect li{
	
}
.drop-castomselect li a{
	display:block;
	padding:8px 10px;
	background:#fff;
	color:#7c7c7c;
	text-decoration:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.drop-castomselect li a:hover{
	background:#d1d1d1;
}
.castomcheckbox,
.checkboxArea,
.checkboxAreaChecked{
	background:url(http://i0.tryboobs.com/images/checkbox.png) no-repeat 0 0;
	display:inline-block;
	vertical-align:top;
	margin-right:8px;
	width:16px;
	height:16px;
	cursor:pointer;
}
.checkboxAreaChecked{
	background-position:0 -16px;
}
.castomradiokbox,
.radioArea,
.radioAreaChecked{
	background:url(http://i0.tryboobs.com/images/radiobox.png) no-repeat 0 0;
	display:inline-block;
	vertical-align:top;
	margin-right:8px;
	width:17px;
	height:18px;
	cursor:pointer;
}
.radioAreaChecked{
	background-position:0 -18px;
}
/* header */
.header{
	overflow:hidden;
	margin:0 -9999px;
	padding:0 9999px;
	background:#f1f1f1;
}
h1{
	float:left;
	margin:10px 20px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	width:184px;
	height:45px;
	background:url(http://i0.tryboobs.com/images/logo.png) no-repeat 0 0;
}
h1 a{
	display:block;
	height:100%;
}
.otherhead{
	float:right;
	padding:16px 0;
}
.searchbar{
	float:left;
	width:440px;
}
.btn-search{
	float:right;
	width:44px;
	border:1px solid #c5c5c5;
	border-width:1px 1px 1px 0;
	height:34px;
	outline:none;
	cursor:pointer;
	text-indent:-9999px;
	line-height:0;
	overflow:hidden;
	background:#f9f9f9 url(http://i0.tryboobs.com/images/btn-search.png) no-repeat 50% 6px;
	-webkit-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
}
.btn-search:hover{
	background-position:50% -45px;
}
.searchbar .field{
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.wr-btn-field{
	overflow:hidden;
}
.wr-btnright{
	text-align:right;
}
.wr-btn-align-center{
	text-align:center;
}
.btn-field{
	display:inline-block;
	vertical-align:top;
	/*width:100%;*/
	min-width:96px;
	outline:none;
	border:0;
	cursor:pointer;
	background:#d1d1d1;
	height:34px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	color:#676767;
	font:400 13px/16px 'Open Sans', sans-serif;
	padding:0 10px;
	text-align:center;
}
.wr-btn-field .btn-field{
	min-width:10px;
	width:100%;
	padding:0;
}
.wr-btnright .btn-field{

}
.btn-field:hover{
	background:#e10005;
	color:#fff;
}
/* logbar */
.logbar{
	overflow:hidden;
	margin-left:56px;
	float:left;
	font:400 13px/16px 'Open Sans', sans-serif;
	text-shadow:1px 1px 0 #ddd;
}
.logbar li:first-child{
	margin:0;
}
.logbar li{
	float:left;
	margin-left:2px;
}
.logbar a{
	text-decoration:none;
	display:block;
	color:#676767;
	padding:9px 12px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#d1d1d1;
}
.logbar a:hover{
	background:#e10005;
	color:#fffefe;
	text-shadow:0 0 0 #000;
}
.logbar .l-mobileversion{
	padding-left:24px;
	background:#d1d1d1 url(http://i0.tryboobs.com/images/l-mobileversion.png) no-repeat 8px 9px;
}
.logbar .l-mobileversion:hover{
	background:#e10005 url(http://i0.tryboobs.com/images/l-mobileversion.png) no-repeat 8px -35px;
}
/* wrap-nav */
.wrap-nav{
	background:#c1c1c1 url(http://i0.tryboobs.com/images/wrap-nav.gif) repeat-x 0 0;
	margin:0 -9999px 14px !important;
	padding:0 9999px !important;
	font:400 14px/16px 'Open Sans', sans-serif;
	text-transform:uppercase;
}
.fr-nav{
	position:relative;
}
.l-upload{
	text-decoration:none;
	float:right;
	padding:13px 16px;
	color:#3b3b3b;
	background:#9b9b9b;
	text-shadow:1px 1px 0 #aeaeae;
	margin-left:20px;
}
.l-upload:hover{
	background:#e10005;
	color:#fff;
	text-shadow:0 0 0 #aeaeae;
}
.nav{
	overflow:hidden;
}
.nav > li{
	float:left;
}
.nav > li > a{
	display:block;
	text-decoration:none;
	color:#353535;
	padding:13px 16px;
}
.nav > li > a:hover{
	color:#fff;
	background:#e10005;
}
.nav .vc-active{
	color:#fff;
	background:#e10005;
}
.nav .item-active{
	display:block;
	padding:13px 16px;
	font-weight:700;
	color:#fff;
	background:#e10005;
}
.view-categories{

}
.dropcategories{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	width:100%;
	border-top:1px solid #a3a3a3;
	background:url(http://i0.tryboobs.com/images/dropcategories.png) repeat 0 0;
	padding:14px 0 8px;
	text-transform:none;
	font-size:13px;
	display:none;
	text-transform:capitalize;
}
.wr-cat-lists{
	overflow:hidden;
}
.dropcategories ul:first-child{
	margin:0;
}
.dropcategories ul{
	float:left;
	width:182px;/*203*/
	margin-left:26px;
}
.last-ul{
	padding-bottom:64px;
}
.dropcategories li{

}
.dropcategories ul a{
	text-decoration:none;
	display:block;
	padding:8px 5px 8px 34px;
	color:#353535;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.dropcategories ul a:hover{
	background:#e10005;
	color:#fff;
}
.wr-allcategories{
	padding-right: 50px;
	float: right;
}
.l-allcategories{
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	color:#fff;
	background:#e10005;
	padding:8px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin-top:-32px;
	position: relative;
}
.l-allcategories:hover{
	background:#d1d1d1;
	color:#111;
}
/* container */
.container{

}
.container + .container{
	margin-top:16px;
}
.c-title{
	margin-bottom:8px;
	
}
.c-title:before{
	content: '';
	display: table;
}
.c-title:after{
	content: '';
	display: table;
	clear: both;	
}
.c-sort{
	float:right;
	margin-left:20px;
	color:#313131;
	z-index: 10;
	position: relative;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.c-sort-title{
	float:left;
	margin-right:6px;
}
.c-sort-list{
	text-transform:uppercase;
	float:left;
}
.c-sort-list li:first-child{
	background:none;
	margin:0;
	padding:0;
}
.c-sort-list li{
	float:left;
	background:url(http://i0.tryboobs.com/images/f-lists-divider.gif) no-repeat 0 50%;
	padding-left:10px;
	margin-left:8px;
}
.c-sort-list a{
	color:#868686;
	text-decoration:none;
}
.c-sort-list a:hover{
	text-decoration:underline;
	color:#e10005;
}
.c-sort-list .item-active{
	text-decoration:underline;
	color:#e10005;
}
.sort-abc{
	float:none;
	text-align:right;
}
.sort-abc li{
	float:none;
	display:inline-block;
	vertical-align:top;
}
h2{
	color:#313131;
	text-transform:uppercase;
	font:700 14px/16px 'Open Sans', sans-serif;
	overflow:hidden;
}
.showing{
	color:#8c8c8c;
	font:400 11px/16px 'Open Sans', sans-serif;
	margin-left:10px;
	text-transform:none;
}
/* videos */
.videos{
	overflow:hidden;
	font:400 11px/14px 'Open Sans', sans-serif;
	margin:-5px 0 0 -3px;
}
.th-video{
	text-decoration:none;
	float:left;
	width:20%;
	
	padding: 0 2px 5px;
	color:#4f4f4f;
	/*margin:5px 0 0 3px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.th-video ins{
	display:block;
	/*margin:0 -2px 0;*/
	position:relative;
	text-decoration:none;
	border:1px solid #dbdbdb;
}
.th-video:hover ins{
	color:#fff;

	background:#e10005;
	border-color:#e10005;
}
.th-video ins span{
	position:absolute;
	bottom:2px;
	z-index:50;
	color:#616161;
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg.png) repeat 0 0;
}
.th-video:hover ins span{
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg-hover.png) repeat 0 0;
	color:#fff;
}

.th-video .time{
	left:2px;
	padding:3px 4px;
	text-align:center;
	min-width:32px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.th-video .vote-th{
	right:2px;
	padding:0 3px 0 5px;
}
.th-video .vote-th em{
	display:inline-block;
	vertical-align:top;
	padding:3px 0 3px 12px;
	background:url(http://i0.tryboobs.com/images/vote-th.png) no-repeat 0 4px;
}
.th-video:hover .vote-th em{
	background-position:0 -25px;
}
.th-video img{
	width: 100%;
	display: block;
}
.th-video .title{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font:400 13px/16px 'Open Sans', sans-serif;
	padding: 4px;
	background: #dbdbdb;
}
.th-video .descr{
	display:block;
	color:#929292;
	padding: 0 4px;
	padding-bottom: 5px;
	background: #dbdbdb;
}
.th-video:hover .title{
	color:#fff;
	background:#e10005;
}
.th-video:hover .descr{
	color:#710102;
	background:#e10005;
}
.th-video .added{
	float:right;
	margin-left:10px;
}
.th-video .views{
	display:block;
	overflow:hidden;
	padding-left:20px;
	background:url(http://i0.tryboobs.com/images/th-video-views.png) no-repeat 0 2px;
}
.th-video:hover .views{
	background-position:0 -26px;
}
.favorite-videos{

}
.favorite-videos .th-video{
	float:none;
	display:block;
	margin:0;
}
.wr-thvideo{
	float:left;
	width:240px;
	margin:5px 0 0 3px;
}
.th-options-delet{
	display:block;
	margin-top:6px;
	text-align:center;
}
.th-options-delet .castomcheckbox,
.th-options-delet .checkboxArea,
.th-options-delet .checkboxAreaChecked{
	
}
.hp-delet{
	font:400 13px/16px 'Open Sans',sans-serif;
	color:#E10005;
	margin-bottom:8px;
}
/* pagination */
.pagination{
	margin-top:30px;
	text-align:center;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.pagination li:first-child{
	margin:0;
	margin-top: 2px;
	margin-bottom: 2px;
}
.pagination li{
	margin-left:1px;
	display:inline-block;
	vertical-align:top;
	margin-top: 2px;
	margin-bottom: 2px;
}
.pagination a{
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	vertical-align:top;
	background:#d1d1d1;
	min-width:31px;
	padding:8px 3px;
	color:#111;
}
.pagination a:hover{
	color:#fff;
	background:#e10005;
}
.pagination .item-active{
	display:inline-block;
	vertical-align:top;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	min-width:31px;
	padding:8px 3px;
	color:#fff;
	background:#e10005;
}
.pagination .pag-prev,
.pagination .pag-next{
	position:relative;
	padding:0;
	width:37px;
	height:32px;
	text-indent:-9999px;
	overflow:hidden;
}
.pagination .pag-prev{

}
.pagination .pag-next{

}
.pagination .pag-prev ins,
.pagination .pag-next ins{
	position:absolute;
	top:50%;
	margin-top:-4px;
	width:5px;
	height:9px;
	background:url(http://i0.tryboobs.com/images/pag-arrows.png) no-repeat 0 0;
}
.pagination .pag-prev ins{
	left:50%;
	margin-left:-2px;
	background-position:0 0;
}
.pagination .pag-prev:hover ins{
	background-position:0 -9px;
}
.pagination .pag-next ins{
	right:50%;
	margin-right:-2px;
	background-position:-5px 0;
}
.pagination .pag-next:hover ins{
	background-position:-5px -9px;
}
/* footer */
.footer{
	margin:26px -9999px 0;
	padding:14px 9999px 28px;
	background:#f1f1f1;
}
.bottomspots{
	overflow:hidden;
	height: 257px;
	margin:-7px 0 16px -7px;
	font-size: 0;
	text-align: center;
}
.spot{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	width:300px;
	height:250px;
	margin:7px 0 0 7px;
}
.bottomspots img{
	vertical-align:top;
	width:300px;
	height:250px;
}
.f-content{
	position:relative;
	padding-left:40%;
	font:400 12px/14px 'Open Sans', sans-serif;
	color:#6d6d6d;
	text-align:right;
	min-height:60px;
}
.f-lists{
	color:#454545;
	/*text-align:right;*/
}
.f-lists + .f-lists{
	margin-top:4px;
}
.f-lists li:first-child{
	background:none;
	margin:0;
	padding:0;
}
.f-lists li{
	display:inline;
	padding-left:12px;
	margin-left:8px;
	background:url(http://i0.tryboobs.com/images/f-lists-divider.gif) no-repeat 0 50%;
}
.f-lists a{
	color:#454545;
	text-decoration:none;
}
.f-lists a:hover{
	text-decoration:underline;
}
.l-webmasters{
	background:url(http://i0.tryboobs.com/images/l-webmasters.png) no-repeat 0 1px;
	padding-left:16px;
}
.f-lists .item-active{
	text-decoration:underline;
}
.f-content .text{
	border-top:1px solid #787878;
	padding-top:5px;
	margin-top:8px;
	font-size:11px;
}
.f-logo{
	text-align:left;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:11px;
	left:0;
	background:url(http://i0.tryboobs.com/images/f-logo.png) no-repeat 0 0;
	/*background:url(http://i0.tryboobs.com/images/logo.png) no-repeat 0 0;*/
	width:184px;
	height:45px;
}
.f-logo a{
	display:block;
	height:100%;
}
/* cat-thumbs */
.cat-thumbs{
	overflow:hidden;
	font:400 16px/18px 'Open Sans', sans-serif;
	margin:-5px 0 0 -3px;
}
.th-cat{
	text-decoration:none;
	
	
	float:left;
	padding:0 1px 2px;
	width: 20%;
	color:#4f4f4f;
	/*margin:5px 0 0 3px;*/
	text-transform:capitalize;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.th-cat:hover .title{
	color:#fff;
	background:#e10005;
/*	*/
}
.th-cat ins{
	display:block;
	/*margin:0 -3px 0;*/
	position:relative;
	border:1px solid #dbdbdb;
}
.th-cat img{
	display: block;
	width: 100%;
}
.th-cat .roliks{
	font:400 11px/14px 'Open Sans', sans-serif;
	position:absolute;
	bottom:2px;
	left:2px;
	z-index:50;
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg.png) repeat 0 0;
	color:#616161;
	padding:0 4px;
}
.th-cat:hover .roliks{
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg-hover.png) repeat 0 0;
	color:#fff;
}
.th-cat:hover ins{
	border-color:#e10005;
}
.th-cat .roliks span{
	display:inline-block;
	vertical-align:top;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	min-width:27px;
	padding:3px 0 3px 15px;
	background:url(http://i0.tryboobs.com/images/th-cat-roliks.png) no-repeat 0 3px;
}
.th-cat:hover .roliks span{
	background-position:0 -33px;
}
.th-cat .title{
	padding: 4px;
	background:#dbdbdb;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/* models-thumbs */
.models-thumbs{
	clear: both;
	overflow:hidden;
	font:400 16px/18px 'Open Sans', sans-serif;
	margin-bottom: -25px;
}
.th-model{
	text-decoration:none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	padding:0 3px 5px;
	width: 16.66%;
	color:#4f4f4f;
	margin-bottom: 25px;
}
.th-model:hover{
	color:#fff;
}

.th-model ins{
	border:1px solid #dbdbdb;
	display:block;
	position:relative;
}
.th-model:hover ins{
	border-color:#e10005;
}
.th-model img{
	display: block;
	width: 100%;
}
.th-model .roliks{
	font:400 11px/14px 'Open Sans', sans-serif;
	position:absolute;
	bottom:2px;
	left:2px;
	z-index:50;
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg.png) repeat 0 0;
	color:#616161;
	padding:0 4px;
}
.th-model:hover .roliks{
	background:url(http://i0.tryboobs.com/images/th-video-ins-span-bg-hover.png) repeat 0 0;
	color:#fff;
}
.th-model .roliks span{
	display:inline-block;
	vertical-align:top;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	min-width:27px;
	padding:3px 0 3px 15px;
	background:url(http://i0.tryboobs.com/images/th-cat-roliks.png) no-repeat 0 3px;
}
.th-model:hover .roliks span{
	background-position:0 -33px;
}
.th-model .title{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	background:#dbdbdb;
	padding: 4px;
}
.th-model:hover .title{
	color:#fff;
	background:#e10005;
}
.wr-allmodels{
	margin-top:20px;
	text-align:right;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.l-allmodels{
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	background:#d1d1d1;
	color:#676767;
	text-shadow:1px 1px 0 #ddd;
	padding:8px 14px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.l-allmodels:hover{
	background:#e10005;
	color:#fff;
	text-shadow:0 0 0 #ddd;
}
/* viewmodel */
.viewmodel{
	border:1px solid #dbdbdb;
	overflow:hidden;
	margin-bottom:16px;
}
.model-adv{
	float:right;
	margin-left:30px;
	width:752px;
	text-transform:uppercase;
	font:700 24px/26px 'Open Sans', sans-serif;
	border-left:1px solid #dbdbdb;
}
.model-adv li:first-child{
	border-top:none;
}
.model-adv li{
	border-top:1px solid #dbdbdb;
}
.model-adv a{
	display:block;
	text-decoration:none;
	color:#3b3b3b;
	padding:27px 60px 27px 88px;
	/*background:#f4f4f4;*/
}
.model-adv a:hover{
	color:#e10005;
	/*background:#fff;*/
}
.model-adv span{
	text-transform:none;
}
.l-madv-best{
	background:#f4f4f4 url(http://i0.tryboobs.com/images/l-madv-best.png) no-repeat 26px 20px;
}
.l-madv-best:hover{
	background:#fff url(http://i0.tryboobs.com/images/l-madv-best.png) no-repeat 26px -93px;
}
.l-madv-buy{
	background:#f4f4f4 url(http://i0.tryboobs.com/images/l-madv-buy.png) no-repeat 28px 29px;
}
.l-madv-buy:hover{
	background:#fff url(http://i0.tryboobs.com/images/l-madv-buy.png) no-repeat 28px -89px;
}
.l-madv-video{
	background:#f4f4f4 url(http://i0.tryboobs.com/images/l-madv-video.png) no-repeat 30px 24px;
}
.l-madv-video:hover{
	background:#fff url(http://i0.tryboobs.com/images/l-madv-video.png) no-repeat 30px -90px;
}
.vm-content{
	overflow:hidden;
}
.vm-content .cover{
	float:left;
	margin:1px 10px 1px 1px;
}
.vm-content .sm-cover{

}
.vm-content img{
	vertical-align:top;
	width:180px;
	height:240px;
}
.vm-content .sm-cover img{
	width:150px;
	height:120px;
}
.vm-description{
	overflow:hidden;
	padding-top:10px;
}
.vp-description{
	padding-bottom:10px;
}
.vm-title{
	color:#3b3b3b;
	text-transform:uppercase;
	margin-bottom:18px;
	font:700 14px/16px 'Open Sans', sans-serif;
}
.vm-details{
	color:#868686;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.vm-details li:first-child{
	margin-top:0;
}
.vm-details li{
	margin-top:14px;
}
.vm-details span{
	color:#3b3b3b;
}
/* twocol */
.twocol{
	overflow:hidden;
	margin-bottom:16px;
}
.two-rcol{
	width:300px;
	float:right;
	margin-left:22px;/*12*/
}
.two-other{
	overflow:hidden;
}
/* right-spots */
.right-spots{
	padding-top:24px;
}
.right-spots .spot{
	float:none;
	margin:0;
}
.right-spots .spot + .spot{
	margin-top:20px;
}
.right-spots img{
	vertical-align:top;
	width:300px;
	height:250px;
}
/* latestevents */
.latestevents{
	color:#606060;
}
.th-event:first-child{
	margin:0;
}
.th-event{
	margin-top:5px;
	border:1px solid #dbdbdb;
	background:#f4f4f4;
	padding:5px 8px 7px;
}
.th-event:hover{
	background:#fff;
}
.ev-data{
	overflow:hidden;
	margin-bottom:5px;
	line-height:16px;
}
.ev-added{
	float:right;
	margin-left:20px;
	color:#9b9b9b;
}
.ev-data a{
	text-decoration:none;
	color:#e10005;
}
.ev-data a:hover{
	text-decoration:underline;
}
.anonymous-user{
	color:#000;
}
.evdata-other{
	overflow:hidden;
}
.ev-title{
	margin-bottom:3px;
	color:#191919;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.ev-title a{
	text-decoration:none;
	color:inherit;
}
.ev-title a:hover{
	text-decoration:underline;
}
.ev-decription{

}
/* list-members */
.list-members{
	overflow:hidden;
	margin:-5px 0 0 -5px;
}
.th-member{
	margin:5px 0 0 5px;
	background:#f4f4f4;
	float:left;
	padding:4px;
	width:230px;
	border:1px solid #dbdbdb;
}
.th-member:hover{
	border-color:#dc6b6e;
	background:#fff;
}
.th-member .cover{
	text-decoration:none;
	float:left;
	margin-right:4px;
	border:1px solid #e3e3e3;
}
.th-member img{
	vertical-align:top;
	width:88px;
	height:68px;
}
.th-member .description{
	overflow:hidden;
	display:block;
}
.th-member .title{
	display:block;
	margin:-2px 0 5px;
	color:#555;
	font:400 13px/16px 'Open Sans', sans-serif;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.th-member:hover .title{
	color:#e10005;
}
.th-member .title a{
	color:inherit;
	text-decoration:none;
}
.th-member .joined{
	color:#929292;
	display:block;
	font-size:11px;
	margin-bottom:13px;
}
.th-member .total-videos{
	font:400 12px/14px 'Open Sans', sans-serif;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
	color:#717171;
	padding:5px 7px 5px 20px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#d1d1d1 url(http://i0.tryboobs.com/images/total-videos.png) no-repeat 8px 8px;
}
.th-member:hover .total-videos{
	background:#e10005 url(http://i0.tryboobs.com/images/total-videos.png) no-repeat 8px -23px;
	color:#fff;
}
.th-member .l-addmember{
	display:inline-block;
	vertical-align:top;
	margin-left:4px;
	height:24px;
	width:25px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#d1d1d1 url(http://i0.tryboobs.com/images/l-addmember.png) no-repeat 8px 7px;
	text-indent:-9999px;
	overflow:hidden;
}
.th-member .l-addmember:hover{
	background:#e10005 url(http://i0.tryboobs.com/images/l-addmember.png) no-repeat 8px -33px;
}
/* top-profiles */
.top-profiles{
	width:240px;
	margin-left:7px;
}
.tp-content{

}
.tp-content .th-member:first-child{
	border-width:1px;
}
.tp-content .th-member{
	float:none;
	border-width:0 1px 1px;
	display:block;
	width:auto;
	margin:0;
}
.tp-content .th-member:hover{
	border-color:#dbdbdb;
}
/* sort-members */
.sort-members{
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:8px 8px 16px;
}
.sm-col:first-child{
	margin-left:0;
}
.sm-col{
	float:left;
	margin-left:6px;
}
.sm-query{
	width:240px;
}
.sm-gender{
	width:180px;
}
.sm-age{
	width:151px;
}
.sm-avatarsonly{
	color:#7c7c7c;
	font-size:11px;
	width:100px;
	padding-top:25px;
	padding-bottom: 5px;
}
.lvl-avatarsonly{
	display:inline-block;
	vertical-align:middle;
	width:72px;
}
.sm-avatarsonly .castomcheckbox,
.sm-avatarsonly .checkboxArea,
.sm-avatarsonly .checkboxAreaChecked{
	vertical-align:middle;
}
.smcol-title{
	display:block;
	margin-bottom:7px;
	color:#555;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.sort-members .wr-btn-field{
	padding-top:23px;
	width: 82px;
	float: left;
}
/* settings */
.settings{
	max-width:562px;
	border:1px solid #dbdbdb;
	background:#fff;
	margin:30px auto;
}
.settings + .settings{
	/*margin-top:30px;*/
}
.uploadsetings{
	width:1150px;
}
.settings-title{
	overflow:hidden;
	/*border-bottom:1px solid #c9c9c9;*/
	padding:13px 14px;
	/*margin-bottom:36px;*/
}
.stngs-helptitle{
	float:right;
	margin-left:10px;
	color:#929292;
	font-size:11px;
	max-width:250px;
}
h4{
	color:#313131;
	font:700 14px/16px 'Open Sans', sans-serif;
	text-transform:uppercase;
}
.stngs-helpmessages{
	/*color:#929292;*/
	color:#BC0202;
	font-size:11px;
	display:block;
	padding-bottom:1px;
}
.nofirstmartop{

}
.stngs-lines{
	border-top:1px solid #c9c9c9;
	/*padding:36px 19px 30px;*/
	padding:22px 19px 30px;
}
.stngs-line:first-child{
	margin-top:0;
}
.stngs-line{
	margin-top:22px;
	overflow:hidden;
}
.stngs-line.field_error{
	margin-top:5px;
	color:#bc0202;
	padding-bottom:1px;
}
.mt5{
	margin-top:5px;
	padding-bottom:1px;
}
.ml136{
	margin-left:136px;
}
.stngs-line-nohidden{
	margin-top:22px;
}
.line-title{
	float:left;
	width:126px;
	margin:8px 10px 0 0;
	color:#757575;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.margtopnone{
	margin-top:0;
}
.wr-addcategory,
.wr-selectcategory{
	overflow:hidden;
}
.wr-addcategory a,
.wr-selectcategory a{
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	margin-left:10px;
	background:#d1d1d1;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	min-width:74px;
	padding:9px 10px;
	text-align:center;
	color:#555;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.wr-selectcategory a{
	margin:0;
}
.wr-addcategory a:hover,
.wr-selectcategory a:hover{
	color:#fff;
	background:#e10005;
}
.uploadavatar{
	overflow:hidden;
}
.uploadavatar .cover{
	float:left;
	border:1px solid #e3e3e3;
	margin-right:14px;
}
.uploadavatar img{
	vertical-align:top;
	width:150px;
	height:120px;
}
.upla-content{
	overflow:hidden;
	color:#929292;
	font-size:11px;
}
.choosefile{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-bottom:11px;
	overflow: hidden;
}
.choosefile span{
	border:1px solid #d5d5d5;
	display:inline-block;
	vertical-align:top;
	min-width:74px;
	padding:7px 10px 6px;
	text-align:center;
	color:#717171;
	font:400 13px/16px 'Open Sans', sans-serif;
	background:url(http://i0.tryboobs.com/images/choosefile.png) repeat-x 0 0;
}
.choosefile:hover span{
	background:#e10005;
	color:#fff;
}
.upload-field{
	opacity:0;
	filter:Alpha(Opacity=0);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	font-size:150px;
}
.dn-field{
	display:none !important;
}
.sizefile{
	margin-bottom:17px;
}
.deleteavatar{

}
.stngs-gender{
	overflow:hidden;
	color:#717171;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.gender-item{

}
.gender-item + .gender-item{
	margin-left:24px;
}
.gender-block-item:first-child{
	margin:0;
}
.gender-block-item{
	display:block;
	margin-top:6px;
}
.settings .btn-field{
	
}
.capchaline{

}
.capchaline .stngs-helpmessages{
	display:block;
	margin-bottom:8px;
}
.covercapcha{
	padding-left:136px;
	margin-bottom:8px;
}
.covercapcha img{
	vertical-align:top;
	width:165px;
	height:68px;
}
.capchacontrol{
	overflow:hidden;
}
.order18{
	padding-left:136px;
	color:#929292;
	font-size:11px;
}
.forgotpassword{
	text-align:right;
	/*color:#e10005;*/
	text-transform:uppercase;
}
.forgotpassword a{
	color:inherit;
	color:#e10005;
}
.forgotpassword a:hover{
	text-decoration:none;
}
.uplset-content{
	overflow:hidden;
}
.uplset-content .stngs-lines{
	/*float:left;
	width:524px;*/
	padding-top:8px;
}
/*.uplset-content .stngs-lines + .stngs-lines{
	margin-left:26px;
}*/
.wr-uploadvideo{
	overflow:hidden;
	position:relative;
}
.uploadvideo-title{
	float:right;
	margin-left:10px;
	background:#d1d1d1;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	min-width:74px;
	padding:9px 10px;
	text-align:center;
	color:#555;
	font:400 13px/16px 'Open Sans', sans-serif;
	cursor:pointer;
}
.wr-uploadvideo:hover .uploadvideo-title{
	color:#fff;
	background:#e10005;
}
.uploadvideo-title .upload-field{

}
/* trailer */
.trailer{

}
.player{

}
.player img{
	vertical-align:top;
}
.tr-bottom{
	border:1px solid #c6c6c6;
	border-width:0 1px 1px;
	padding-top:16px;
}
.spottextlink{
	padding:0 10px;
	margin-bottom:8px;
	text-transform:uppercase;
	font:700 14px/16px 'Open Sans', sans-serif;
	text-align:center;
}
.spottextlink a{
	color:#e10005;
}
.spottextlink a:hover{
	text-decoration:none;
}
.trailerspot{
	text-align:center;
	margin-bottom:10px;
	padding:0 10px;
}
.wrtrspot{
	display:inline-block;
	vertical-align:top;
	min-width:100px;
	border:1px solid #dddcdc;
}
.trailerspot img{
	vertical-align:top;
	width:auto;
	max-height:120px;
}
.wr-tabssite{
	
}
.tabstitle{
	overflow:hidden;
	text-transform:uppercase;
	font:400 13px/16px 'Open Sans', sans-serif;
	padding-left:1px;
}
.tabstitle li:first-child{
	margin:0;
}
.tabstitle li{
	float:left;
	margin-left:1px;
}
.tabstitle a{
	display:block;
	text-decoration:none;
	border:1px solid #c5c5c5;
	border-width:1px 1px 0;
	color:#323232;
	background:url(http://i0.tryboobs.com/images/tabslinks.png) repeat-x 0 0;
	padding:8px 10px;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.tabstitle a:hover{
	background:#e10005;
	color:#fff;
}
.tabstitle .ui-tabs-active a{
	background:#e10005;
	color:#fff;
}
.tabscontent{
	border-top:1px solid #c5c5c5;
	background:#f4f4f4;
}
.trailer-description{
	overflow:hidden;
	background:#f4f4f4 url(http://i0.tryboobs.com/images/trailer-description.gif) repeat-y 204px 0;
}
.tr-desrc-left{
	float:left;
	width:176px;
	margin:4px 8px 0 0;
	padding:0 14px;
}
/* votebar */
.votebar{
	overflow:hidden;
	margin-bottom:6px;
	display:block !important;
}
.votebar li:first-child{
	margin:0;
	padding:0;
	background:none;
}
.votebar li{
	background:url(http://i0.tryboobs.com/images/trailer-description.gif) repeat-y 0 0;
	margin-left:8px;
	padding-left:10px;
	float:left;
}
.l-vote{
	display:block;
	/*text-indent:-9999px;
	overflow:hidden;*/
	margin:3px 0;
	width:21px;
	height:22px;
	text-decoration:none;
}
.positivelike{

}
.negativelike{

}
.votebar img{
	vertical-align:top;
	width:21px;
	height:22px;
}
.l-vote:hover img{
	opacity:0.7;
	filter:Alpha(Opacity=70);
}
.progress{
	width:96px;
	text-align:center;
	color:#4e4d4d;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.outputvote{
	display:block;
	margin-bottom:6px;
}
.voteline{
	height:6px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	overflow:hidden;
	position:relative;
	background:#e10005;
}
.wrvoteline{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	height:6px;
	background:#6b9d00;
}
.list-descr-tr{
	font:400 13px/16px 'Open Sans', sans-serif;
	color:#6e6e6e;
	margin-bottom:10px;
}
.list-descr-tr li:first-child{
	margin:0;
}
.list-descr-tr li{
	margin-top:5px;
}
.list-descr-tr span{
	display:inline-block;
	vertical-align:top;
	padding-left:24px;
}
.l-addtofavorites{
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	padding:0 0 0 24px;
	background:url(http://i0.tryboobs.com/images/l-addtofavorites.png) no-repeat 3px 50%;
	color:#e10005;
}
.tr-views{
	background:url(http://i0.tryboobs.com/images/tr-views.png) no-repeat 2px 50%;
}
.tr-time{
	background:url(http://i0.tryboobs.com/images/tr-time.png) no-repeat 1px 0;
	padding-top:2px;
	padding-bottom:2px;
}
.tr-added{
	background:url(http://i0.tryboobs.com/images/tr-added.png) no-repeat 4px 0;
	padding-top:1px;
}
.tr-desrc-other{
	overflow:hidden;
	padding:8px 18px 0 0;
	margin-bottom:12px;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.trailertext{
	color:#303030;
	margin-bottom:17px;
}
.uniline{
	overflow:hidden;
}
.uniline + .uniline{
	margin-top:14px;
}
.uniline-title{
	float:left;
	width:64px;
	margin:5px 6px 0 0;
	color:#1e1d1d;
}
.uniline-content{
	overflow:hidden;
}
.uniline-wrcontent{
	margin:-3px 0 0 -3px;
}
.uniline a,
.uniline .uniline-content .nolink-model{
	display:inline-block;
	vertical-align:top;
	margin:3px 0 0 3px;
	padding:5px 7px 4px;
	text-align:center;
	min-width:32px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	text-decoration:none;
	background:#d1d1d1;
	color:#676767;
}
.uniline a:hover{
	background:#e10005;
	color:#fff;
}
/* addcomment */
.addcomment{
	padding:11px 11px 20px;
}
.comment{
	border-bottom:1px solid #e2e2e2;
	margin-bottom:8px;
	padding-bottom:6px;
}
.comment + .comment{
	/*margin-top:8px;*/
}
.comment-title{
	font-size:11px;
	color:#878787;
	margin-bottom:6px;
}
.comment-title a{
	color:#e10005;
	text-decoration:none;
}
.comment-title a:hover{
	text-decoration:underline;
}
.nolink-user{
	color:#e10005;
}
.comment-date{
	display:inline-block;
	vertical-align:top;
	padding-left:8px;
	background:url(http://i0.tryboobs.com/images/comment-date.gif) no-repeat 0 50%;
	margin-left:6px;
}
.comment-description{
	font:400 13px/18px 'Open Sans', sans-serif;
	color:#555;
}
.wr-laddcomm{
	text-transform:uppercase;
}
.l-addcomment{
	color:#e10005;
}
.l-addcomment:hover{
	text-decoration:none;
}
.ac-add{
	/*margin-top:16px;*/
	padding-top:16px;
	display:none;
}
.ac-add .stngs-line:first-child{
	margin:0;
}
.ac-add .stngs-line{
	margin-top:10px;
}
.ac-add .wrtextarea{
	/*margin-bottom:10px;*/
}
.ac-add .textareafield{

}
/* output-votemessages */
.output-votemessages{
	margin-bottom:16px;
}
.output-votemessages span{

}
.g_hidden{
	display:none;
}
/* popup */
.popup{
	z-index:5000;
	display:none;
}
.pp-shadow{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:4500;
	background:url(http://i0.tryboobs.com/images/pp-shadow.png) repeat 0 0;
	display:none;
}
.uploader_popup{
	z-index:4500 !important;
	position:fixed !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	height:100% !important;
	background:url(http://i0.tryboobs.com/images/pp-shadow.png) repeat 0 0;
}
.uploader_progress{
	z-index:5000;
	position:fixed !important;
	outline:1px solid #DBDBDB;
	border:1px solid #fff;
	border-width:10px 20px;
	width:600px !important;
	background:#D1D1D1;
	color:#555;
	font:400 16px/20px 'Open Sans', sans-serif;
	text-align:center;
	padding:4px 0;
	margin-left:-321px;
	top:40% !important;
	left:50% !important;
}
.progress_bar{
	/*width:600px !important;
	outline:1px solid #DBDBDB;
	border:1px solid #fff;
	border-width:10px 20px;
	background:#D1D1D1;
	color:#555;
	font:400 16px/20px 'Open Sans', sans-serif;
	text-align:center;
	padding:4px 0;
	margin-left:-321px;
	position:fixed;
	top:40%;
	left:50%;*/
	width:100% !important;
}
.pp-uploadvideo{
	background:#fff;
	border:1px solid #DBDBDB;
	width:726px;
	position:fixed;
	top:15%;
	left:50%;
	margin-left:-364px;
}
.wrap-chbcont{
	padding:11px 20px 20px 0;
	border-top:1px solid #DBDBDB;
}
.wr02-chbcont{
	max-height:400px;
	overflow:auto;
}
.pp-checkboxes-content{
	/*padding:11px 20px 20px 0;
	border-top:1px solid #DBDBDB;*/
	overflow:hidden;
}
.pp-checkboxes-content li,
.item-box{
	float:left;
	width:150px;
	margin:9px 0 0 20px;
}
.pp-checkboxes-content .castomcheckbox,
.pp-checkboxes-content .checkboxArea,
.pp-checkboxes-content .checkboxAreaChecked{
	float:left;
}
.lbl-select-model{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-bottom:1px;
}
.pp-uploadvideo-footer{
	border-top:1px solid #DBDBDB;
	padding:15px 20px 20px;
	text-align:right;
}
.pp-uploadvideo-footer li:first-child{
	margin:0;
}
.pp-uploadvideo-footer li{
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
}
.pp-uploadvideo-footer a{
	color:#e10005;
}
.pp-uploadvideo-footer a:hover{
	text-decoration:none;
}
.pp-uploadvideo-footer .l-addcat{
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	margin-left:10px;
	background:#d1d1d1;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	min-width:74px;
	padding:9px 10px;
	text-align:center;
	color:#555;
	font:400 13px/16px 'Open Sans', sans-serif;
}
.pp-uploadvideo-footer .l-addcat:hover{
	color:#fff;
	background:#e10005;
}
.nocontent{

}
.profile-menu{
	float:right;
	margin-left:30px;
	width:312px;
	text-transform:uppercase;
	font:700 13px/16px 'Open Sans', sans-serif;
	border-left:1px solid #dbdbdb;
}
.profile-menu li:first-child{
	/*border-top:none;*/
}
.profile-menu li{
	border-bottom:1px solid #dbdbdb;
}
.profile-menu a{
	display:block;
	text-decoration:none;
	color:#3b3b3b;
	padding:14px 20px 14px 28px;
	background:#f4f4f4;
}
.profile-menu a:hover{
	color:#e10005;
	background:#fff;
}
.profile-menu .item-active{
	color:#e10005;
	background:#fff;
	padding:14px 20px 14px 28px;
	display:block;
}
/* default-cancel */
.default-cancel{

}
.default-cancel ul{
	padding-left:40px !important;
	margin:16px 0 !important;
	list-style-type:disc !important;
}
.default-cancel em{
	font-style:italic !important;
}
.default-cancel h1,
.default-cancel h2,
.default-cancel h3,
.default-cancel h4,
.default-cancel h5,
.default-cancel h6{
	margin:19px 0 !important;
	color:#000 !important;
	display:block !important;
	font-weight:bolder !important;
}
.default-cancel h1{
	font-size:2em !important;
	margin:.67em 0 !important;
}
.default-cancel h2{
	font-size:1.5em !important;
	margin: .75em 0 !important;
}
.default-cancel h3{
	font-size:1.17em !important;
	margin:.83em 0 !important;
}
.default-cancel h4,
.default-cancel p{
	margin:1.12em 0 !important;
}
.default-cancel h5{
	font-size:.83em !important;
	margin:1.5em 0 !important;
}
.default-cancel h6{
	font-size:.75em !important;
	margin:1.67em 0 !important;
}
.default-cancel strong{
	font-weight:bolder !important;
}
.textsite{

}
.btn-sort {
	display: none;
	text-decoration: none;
	color: #676767;
	padding: 6px 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #d1d1d1;
	border: none;
	margin: -6px 0 0;
	outline: none;
	cursor: pointer;
}
.btn-sort:hover {
  background: #e10005;
  color: #fffefe;
  text-shadow: 0 0 0 #000;
}
.btn-sort[aria-expanded="true"] {
	background: #e10005;
	color: #fffefe;
	text-shadow: 0 0 0 #000;
}

.sort-collapse.open {
	display: block;
}
@media (max-width: 1240px) {
	.sm-col {
		width: 100% !important;
		float: none;
		margin-left: 0 !important;
		margin-bottom: 10px;
		padding-top: 0;
	}
	.sort-members .wr-btn-field {
		padding-top: 0;
		
	}
	.model-adv {
		width: 560px;
	}
}
@media (max-width: 1100px) {
	.nav > li > a {
	  padding: 13px 10px;
	}

}
@media (min-width: 1024px) {
	.sort-collapse {
		display: block !important;
		visibility: visible !important;
		height: auto !important;
		overflow: visible !important;
	}

}
@media (min-width: 980px) {
	.wrapper {
		padding: 0 50px;
	}
}
@media (max-width: 980px) {
	.wrap-nav {
		margin:0 0 14px !important;
		padding:0 0 !important;
	}
}
@media (max-width: 1024px) {
	.th-video, .th-cat {
		width: 25%;
	}
	.nav > li > a {
	  padding: 13px 7px;
	  font-size: 12px;
	}
	.th-model {
		width: 20%;
	}
	.sort-collapse {
		display: none;
		position: absolute;
		top: 100%;
		min-width: 200px;
		right: 0;
		border: 1px solid #dbdbdb;
		background: #fff;
		padding: 5px 0;
	}
	.c-sort-list li {
		background: none;
		float: none;
		margin: 0;
		padding: 6px 0 !important;
		padding-left: 10px !important;
	}
	.searchbar {
		width: 250px;
	}
	.logbar {
		margin-left: 40px;
	}
	
	.videos {
		margin: -5px -3px 0 -3px;
	}
	.container {
	  padding: 0 3px;
	}
	h1 {
		margin: 10px 20px 0 5px;
	}
	.f-content {
		padding-right: 5px;
	}
	.f-logo {
		left: 5px;
	}
	.model-adv {
		width: auto;
		float: none;
		margin-left: 0;
		margin-bottom: 10px;
		border-bottom: 1px solid #dbdbdb;
	}
	.btn-sort {
		display: block;
	}
	.c-sort-title{
		display: none;
	}
}
@media (max-width: 768px) {
	#ero_advertising_banner {
		display: none !important;
	}
	.f-lists li {
		display: inline-block;
		padding-top: 4px;
	}
	.nav > li > a {
	  padding: 13px 16px;
	  font-size: 14px;
	}
	.header {
		margin-bottom: 14px;
	}
	.wrap-nav {
		margin-top: -14px !important;
	}
	.two-rcol {
		float: none;
		width: auto;
		text-align: center;
		overflow: hidden;
		margin: 0 5px;
		margin-bottom: 14px;
	}
	.right-spots {
		height: 250px;
		overflow: hidden;
	}
	.tp-content .th-member {
		margin-bottom: 5px;
		border-width: 1px 1px 1px;
	}
	.right-spots .spot + .spot {
		margin-top: 0;
	}
	.th-video, .th-cat {
		width: 33.33%;
	}
	.th-model {
		width: 25%;
	}
	.f-content {
		padding-left: 0;
		padding-top: 20px;
		text-align: center;
	}
	.f-logo {
		position: static;
		display: block;
		margin: 15px auto 0;
	}
	.f-lists {
		padding: 0 10px;
	}
	.f-content .text {
		padding: 0 10px;
		padding-top: 5px;
		margin-top: 15px;
	}
	.searchbar {
		width: 100%;
		float: none;
	}
	.logbar {
		float: none;
		width: 100%;
		margin: 10px 0;
	}
	.logbar li {
		width: 33.33%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0 2px;
	}
	.otherhead {
		padding-top: 0;
	}
	.nav li {
		float: none;
	}
	.l-upload {
		margin: 0;
		display: block;
		float: none;
	}
	.dropcategories ul:first-child {
		margin-left: 26px;
	}
	.navbar-collapse.collapse {
	    padding-bottom: 0;
	}

}
@media (max-width: 640px) {
	.settings {
		max-width: none;
		width: auto;
		margin: 0 10px 20px;
	}
	.line-title {
		display: block;
		float: none;
		width: auto;
		margin-bottom: 5px;
	}
	.covercapcha {
		padding-left: 0;
	}
	.order18 {
		padding-left: 0;
	}
	.uplset-content .stngs-lines + .stngs-lines {
		margin-left: 0;
	}
	.wrselectfield{
		width: 100%;
	}
	.wrselectfield {
		padding-left: 0;
	}
}
@media (max-width: 480px) {
	.th-video, .th-cat {
		width: 50%;
	}
	.model-adv {
	  font: 700 16px/18px 'Open Sans', sans-serif;
	}
	.th-model {
		width: 33.33%;
	}
	.wrdatesleects .wrselectfield {
		width: 100%;
		padding-left: 0;
	}
	.wrdatesleects .wrselectfield + .wrselectfield {
		padding-left: 0;
	}
	.upla-content {
		text-align: center;
	}
	.uploadavatar .cover {
			display: block;
			width: 150px;
			margin: 0 auto 10px;
			float: none;
	}
	.trailer-description {
		background: #f4f4f4;
	}
	.tr-desrc-left {
		float: none;
		width: auto;
	}
	.list-descr-tr li {
		display: inline-block;
		vertical-align: middle;
	}
	.votebar {
		display: table !important;
		width: 100%;
	}
	.votebar li {
		padding: 0;
		float: none;
		display: table-cell;
		text-align: center;

	}
	.progress {
		width: auto;
		padding: 0 10px;
	}
	.l-vote {
		display: inline-block;
	}
	.tr-desrc-other {
		padding: 8px 18px;
	}
}
@media (max-width: 360px) {
	.th-video, .th-cat {
		width: 100%;
	}
	.th-model {
		width: 50%;
	}
	.th-member {
		width: auto;
		float: none;
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.vm-content {
		padding: 0 5px 10px;
	}
	.vm-content .cover {
		float: none;
		margin: 0;
	}
	.vm-content img {
		display: block;
		width: 100%;
		height: auto;
	}
	.wrdatesleects .wrselectfield {
		width: 100%;
	}
}

.collapse {
  display: none;
  visibility: hidden; 
}
.collapse.in {
    display: block;
    visibility: visible; 
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -moz-transition-property: height, visibility;
    -o-transition-property: height, visibility;
       transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  -moz-transition-duration: .35s;
    -o-transition-duration: .35s;
       transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
       transition-timing-function: ease; 
}

.navbar-collapse {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    overflow-x: visible;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse.in {
    /*overflow-y: auto;*/
    overflow-y: inherit;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 10px;
    padding: 9px 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}
@media (min-width: 768px) {
    .navbar-toggle {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.icon-bar {
    background-color: #e10005;
}
.icon-bar {
    -webkit-transition: 0.2s opacity ease, 0.2s background ease, 0.2s top ease, 0.2s -webkit-transform ease 0.2s;
    -moz-transition: 0.2s opacity ease, 0.2s background ease, 0.2s top ease, 0.2s -moz-transform ease 0.2s;
    -o-transition: 0.2s opacity ease, 0.2s background ease, 0.2s top ease, 0.2s -o-transform ease 0.2s;
    transition: 0.2s opacity ease, 0.2s background ease, 0.2s top ease, 0.2s transform ease 0.2s;
}
.player-inner {
 position: relative;
 height: 0;
}
#kt_player, #kt_player_internal {
 position: absolute !important;
 left: 0 !important;
 top: 0 !important;
 height: 100% !important;
 width: 100% !important;
}
#kt_player img {
 position: absolute !important;
 left: 50% !important;
 top: 50% !important;
 height: 100px !important;
 width: 100px !important;
 margin: -50px 0 0 -50px;
}
/*#kt_player_internal::-webkit-media-controls {
    display:none !important;
}*/
.bottomspots-mobile {
	display: none;
	height: auto !important;
}
.bottomspots-mobile .spot {
	height: auto !important;
	margin: 0 !important;
}
.bottomspots-mobile strong,
.bottomspots-mobile b {
	display: block;
	font-size: 12px;
	margin: 4px 0;
}
@media (max-width: 768px) {
	.bottomspots {
		display: none;
	}
    .bottomspots-mobile {
    	display: block;
    }
}

@media (max-width: 768px) {
	.right-spots {
		display: none;
	}
}