/*不显示ie输入框后边的X*/
::-ms-clear{display: none;}
::-ms-reveal{display: none;}
body,ul,li,img,p,input,div{
	font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	list-style: none;
}
body{min-width:1000px;}
h1,h2,h3,h4,ul,li,dl,dd,dt{

	margin: 0px;
	padding: 0px;
}
textarea,input{outline:none;resize:none} 
a{
	color:#5EA2C9;
	text-decoration: none;
}
a{blr:expression(this.onFocus=this.close()); ;} /* 只支持IE，过多使用效率低 */ 　 
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　 
a:focus { -moz-outline-style: none; } /* IE不支持 */ 
a:focus {
     outline:none;
     -moz-outline:none;
}

.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}

.common{
	width: 1000px;
	margin: 0 auto;
}
.clear{

	clear: both;
	display: block;
}

a.more,.no_more{

	display: block;
	height: 37px;
	line-height: 37px;
	width:300px;
	background:#f2f3f5;
	color: #51545b;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	margin: 10px 0px;
	margin-top: 60px;
}

a.more:hover{
	background:#7f889d;
	color: #fff;

}

img.border_avatar:hover{
	border:3px solid #7f889d;
}

.a_border{
	display:inline-block;
	padding:2px;
	border:#CCC solid 1px;
	transition:border-color 0.45s;

 }
 .a_border:hover{
	padding:0px;
	border:#3098D3 solid 3px;
 }


/*顶部开始*/
.top{

	background: #FAFAFA;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #EEE;
	color: #99999b;
}

.top a{
	color: #99999b;
	text-decoration: none;
}
.top .top_nav{

	float: left;
}
 

.top .top_user a.login{

	color: #5EA2C9;
	text-decoration: none;
}

.top .top_user a.reg{
}

.top .top_user{
	margin-right:5px;
	float: right;
}
.top .top_user a{
	margin-left:5px;	
}
.top .top_user a:hover{
	color:#5EA2C9;
}

/*顶部结束*/


/*头部开始*/
.header{
	height: 105px;
	top:0;
	width:100%;
	background-color:#FFF;
	background-color:regb(255,255,255);
	z-index:100;
}
.header h1{
	margin-top: 20px;
}
.header h1.logo{

	float: left;


}
.header h1.logo a{
	
	background: url(../images/logo.png) no-repeat;
	height: 68px;
	width: 200px;
	text-indent: -9999px;
	display: inline-block;
}


/*头部结束*/




/*搜索开始*/
.seach{

	float: left;
	/*margin-top: 10px;*/
	margin-left: 77px;
}

.seach .seach_tab{
	height: 26px;
	padding-top:14px;
	overflow:hidden;
}

.seach .seach_tab a{
	color: #575757;
	text-decoration: none;
	padding: 0 10px;
	height:26px;
	line-height:26px;
	font-size: 14px;
	display: block;
	float:left;
}
.seach .seach_tab a:hover{
	background-color:#ECF6FB;
	color:#49A9DC;
}

.seach .seach_tab a.currt{
	background-color:#49a9dc;
	color:#FFF;
	/*background:url('../images/seach_currt.gif') no-repeat center bottom;*/
}

.seach .seach_content{

	margin-top: -1px;
}

.seach .seach_content input{
	border: 2px solid #49a9dc;
	border-right:0px;
	height: 18px;
	line-height: 18px;
	padding: 6px 10px;
	width: 425px;
	float: left;
}


.seach .seach_content button{
	border: 0px;
	height: 34px;
	line-height: 34px;
	background: #49a9dc;
	margin: 0px;
	padding: 0px;
	color: #fff;
	width:84px;
	text-align:center;
	float: left;
	font-size: 18px;
	font-family:'\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
	letter-spacing:3px;	
}
	
.seach .seach_content button:hover{
	cursor: pointer;
	background-color:#2D9BD7;
}

.seach .seach_hotcity{

	color: #99999b;
	margin-top: 5px;
}
.seach .seach_hotcity a{

	color: #99999b;
	text-decoration: none;
	margin: 0 5px;
}


/*搜索结束*/






/*全局导航开始*/
.nav{

	height:40px;
	line-height: 40px;
	background: #49a9dc;
 
}
.nav .nav_list ul li{
	height:40px;
	float: left;

}

.nav .nav_list ul li a{

	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.nav .nav_list ul li.first{
	width: 180px;
	color: #fff;
	background: #40a1cc;
	padding-left: 30px;
	position:relative;
	z-index:56;
}

.nav .nav_list ul li.first a{

	color:#fff;
}
.nav .nav_list ul li.on{

	background: #207496;
}
.nav .nav_list ul li{

	padding: 0 20px;
	font-size: 14px;
}

.nav .nav_list ul li.hover{
	background: #40a1cc;
	cursor: pointer;
}
/*
.nav .nav_list ul li a.change_city{

	margin-left: 10px;
	font-weight: 100;
	font-size: 12px;

}
*/

.ecity{
	float: right;
	font-size: 20px;
	font-weight: normal;
	text-align:center;
	font-size:13px;
	width:130px;
	position:relative;	
	overflow:hidden;
}

.ecity a{
	display:block;
	width:100%;
	height:32px;
	line-height:32px;
}
	
.channel-type{
	color:#A8A8A8;
	background-color:#F6F6F6;
}

.change_city{
	color:#FFF;
	background-color:#B3B3B3;
	position:absolute;
	left:0;
	top:32px;
	z-index:2;
	opacity:0;
}

.change_city_box{
	position: absolute;
	top:38px;
	left:0;
	background-color: #fff;
	background-color:rgba(255,255,255,0.95);
	color: #40a1cc;
	width: 958px;
	display: none;
	padding: 20px;
	border: 1px solid #40a1cc;
	/*border-top: none; */
	min-height:25px;
	box-shadow:#AAA 4px 4px 3px -3px;
	overflow:hidden;
}

.change_city_box .city_l{
	display:inline-block;
	text-align:left;
	width:12px;
}
.city_list_rows{
	margin-right:12px;
	display: inline-block;
}

.nav .nav_list ul li.bg_change_city{

	background: #fff;
	color: #40a1cc;
	border: 1px solid #40a1cc;
	z-index: 200;
	position: relative;
	margin-right: -2px;
}

.nav .nav_list ul li.bg_change_city a{
	color: #40a1cc !important;
}

.change_city_box p{
	line-height: 25px;
}

.change_city_box a{
	color:#40a1cc !important;
}

/*全局导航结束*/

/*城市首页导航开始*/
.nav_city{
	height:40px;
	line-height: 40px;
}
.nav_city .nav_list{
	height:38px;
	border-bottom:#40A7D4 solid 2px;
	}
.nav_city .nav_list ul li{
	float: left;
	height:38px;
	padding: 0 20px;
	font-size: 14px;
}

.nav_city .nav_list ul li a{
	text-decoration: none;
	color: #575757;
	font-weight: bold;
}
.nav_city .nav_list ul li.first{
	width: 123px;
	padding-left:30px;
	color: #fff;
	background:#40A1CC !important;
	position:relative;
	z-index:101;
}

.nav_city .nav_list ul li.first a{
	color:#fff;
}
.nav_city .nav_list ul li.on{
	background: #F3F3F3;
}
.nav_city .nav_list ul li.on a{
	color:#25A5D4;
}

.nav_city .nav_list ul li.hover{
	background:#DFF2F9;
	cursor: pointer;
}
.nav_city .nav_list ul li.hover a{
	color:#4F6269;
}
/*城市首页导航结束*/


.footer{
	height: 240px;
	background: #F5F5F5;
	border-top:#F2F2F2 solid 0px;
}
.footer *{
	font-size:12px;
}

.footer_top{

	height: 120px;
	padding-top: 20px;
	border-bottom: 1px solid #EBEBEB;
}

.footer_logo{

	float: left;
	width: 140px;
	
}

.footer_logo a{

	display: inline-block;
	background: url('../images/bottom_logo.png') no-repeat;
	width: 88px;
	height: 88px;
}

.footer_list{

	float: left;
}

.footer_list dl{

	float: left;
	width: 200px;
}

.footer_list dl a{

	color: #939292;
	text-decoration: none;
}

.footer_list dl dt *{
	line-height:28px;
	font-size: 16px;
}

.footer_list dl dd{

	line-height: 22px;
	height: 22px;
}

.footer_bottom{
	color: #B8B8B8;
	margin-top: 10px;
}

.footer_bottom p{

	line-height: 22px;
}
.footer_bottom a{

	color: #B8B8B8;
	text-decoration: none;
}

.bottom{
	margin-top: 5px;
	color: #B8B8B8;
	margin-bottom: 20px;
}

.bottom p{
	line-height: 22px;
}

.promote_header{
	margin: 20px 10px 0px 10px;

}

.promote_title_left{

	display: inline-block;
	float: left;
	font-size: 12px;
	background: url(../images/icon.gif) no-repeat left -506px;
	padding-left: 16px;
	height: 25px;
	line-height: 25px;
	color: #666;
}

.promote_title_right{

	display: none;
	float: right;
	color: red;
	font-size: 12px;
}
.promote_title_right a{
	color: red;
}
.promote_header ul{
	display:block;
	padding: 10px 0 0 0;
}

.promote_header ul li{
	font-size: 13px;
	line-height: 24px;
	height:24px;
	padding:0 15px;
}
.promote_header ul li:hover{
	background-color:#F3F3F3;
}
.promote_header ul li a span{

	/*background: url(../images/icon.gif) no-repeat left -186px;*/
	margin-left: 18px;
	color: #999;
	font-size:12px;
}
.promote_header ul li a span:hover{
color:#666;
animation:2 urlhover 0.2s;
-webkit-animation:2 urlhover 0.2s;
-o-animation:2 urlhover 0.2s;
-moz-animation:2 urlhover 0.2s;

}
@keyframes urlhover{
	0%{margin-left:18px;}
	25%{margin-left:17px;}
	75%{margin-left:19px;}
	100%{margin-left:18px;}
	}
@-moz-keyframes urlhover{
	0%{margin-left:18px;}
	25%{margin-left:17px;}
	75%{margin-left:19px;}
	100%{margin-left:18px;}
	}
@-webkit-keyframes urlhover{
	0%{margin-left:18px;}
	25%{margin-left:17px;}
	75%{margin-left:19px;}
	100%{margin-left:18px;}
	}
@-o-keyframes urlhover{
	0%{margin-left:18px;}
	25%{margin-left:17px;}
	75%{margin-left:19px;}
	100%{margin-left:18px;}
	}

.promote_header ul li a{
	color: #5295D8;
}

.promote_header ul li i{
	float: right;
	font-size: 12px;
	font-style: normal;
	color: #CCC;
}
.promote_header ul li i span{
	color:#F60;
	padding:0;
}
.tuiguang_hidden{
	clear:left;
	overflow:hidden;
	height:130px;
	transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tuiguang_more{
	border:none;
	border-top:#CCC solid 2px;
	bottom:0;
	height:6px;
	width:100%;
	margin-top:10px;
	cursor:pointer;
	background:url("data:image/jpg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAICAgICAgICAgICAgICAgMCAgICAwMDAwMDAwMEAwMDAwMDBAQFBQUFBQQGBgYGBgYICAgICAgICAgICAgICAj/2wBDAQICAgMDAwYEBAYIBwYHCAkJCQkJCQkICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAj/wAARCAAEAAcDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EAB8QAAICAgEFAAAAAAAAAAAAAAIDAQQFBhEUITFhY//EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwBtqepYINtyTejE1hRRaXUZAlXBlkmgyRVI/PtHiOZ9cB//2Q==") no-repeat center 0;
	display:none;
	transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition-delay: 0.8s;
	-moz-transition-delay: 0.8s; /* Firefox 4 */
	-webkit-transition-delay: 0.8s; /* Safari 和 Chrome */
	-o-transition-delay: 0.8s;
	}
	
.tuiguang_more_up{
	transform:rotate3d(1,0,0,-180deg);
	-ms-transform:rotate3d(1,0,0,-180deg);		/* IE 9 */
	-webkit-transform:rotate3d(1,0,0,-180deg);	/* Safari and Chrome */
	-o-transform:rotate3d(1,0,0,-180deg);		/* Opera */
	-moz-transform: rotate3d(1,0,0,-180deg);
}
/**/




#to_top{
	width:60px;
	height:60px;
	background:url(../images/top.gif) no-repeat -51px 0;
	text-indent:-9999em;
	overflow:hidden;
	display:none;
	position:fixed;
	bottom:100px;
	right:0
}
a#to_top:hover{
	background-position:-113px 0
}

.select_city{
	font-size:12px;
}
.city_name_mao{
	display:block;
	float:left;
	font-size:16px;
	margin-right:20px;
}
.embed_black_div{
	width:100%;
	height:100%;
	position:fixed;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDIvMDcvMTV95As+AAAADUlEQVQImWNgYGC4CQAA3gDaqF+DswAAAABJRU5ErkJggg==");
	z-index:999;
	display:none;
	top:0;
	left:0;
}

.embed_black_div .embed_div{
	position:absolute;
	width:548px;
	height:452px;
	margin:-260px auto auto -279px;
	top:50%;
	left:50%;
	background-color:#555;
	padding:0px 5px 5px 5px;
}
.embed_black_div .embed_div h1{
	font-size:16px;
	display:block;
	color:#FFF;
	height:32px;
	line-height:32px;
	font-weight:normal;
	padding-left:6px;
}
.embed_black_div .embed_div h1 s{
	display:block;
	text-decoration:none;
	cursor:pointer;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:18px;
	position:absolute;
	top:4px;
	right:5px;
}
.embed_black_div .embed_div h1 s:hover{
	background-color:#C00;
}
.embed_black_div .embed_div embed{
	width:548px;
	height:420px;
}
.body_mohu{
	-webkit-filter: blur(3px); /* Chrome, Opera */
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}
.head_cityname{display:none;}