.index_page .index_page_top{
	margin: 20px 0;
	overflow:hidden;
}

/**********************以下可以删除**********************/
.city_list,.city_channel,.city_broad{
	float:left;	
}

/*城市*/
.city_list{
	width:158px;
	margin-right:10px;
	height:487px;
	background-color:#F9F9F9;
}
.city_list .letter{			/*城市首字母*/
	width:30px;
	height:100%;
	background-color:#CFF0FF;
	text-align:center;
	font-size:12px;
	float:left;
}
.city_list .letter dd{
	color:#42A2CC;
	line-height:22px;
	height:22px;
	cursor:default;
}

.city_list .letter .letter_checked{		/*选中的城市首字母*/
	background-color:#57B8E3;
	color:#FFF;
}

.city_list .city_dl{					/*城市*/
	display:none;
	width:127px;
	height:485px;
	border:#EFEFEF solid 1px;
	border-left:none;
	float:left;
}
.city_list .city_dl_checked{			/*被选中的城市*/
	display:block;
}

.city_list .city_dl dd{					/*城市名*/
	height:32px;
	line-height:32px;
	font-size:14px;
	padding-left:30px;
	cursor:pointer;
}
.city_list .city_dl dd a{
	color:#40B2E4;
	display:block;
}
.city_list .city_dl .dd_checked{		/*被选中的城市名*/
	background-color:#6BCBF5;
}
.city_list .city_dl .dd_checked a{
	color:#FFF;
}

/*商圈导航*/
.city_channel{
	width:353px;
	height:485px;
	border:#F0F0F0 solid 1px;
}

/*社区导航*/
.city_broad{
	width:475px;
	height:485px;
	border:#F0F0F0 solid 1px;
	border-left:none;
	position:relative;
}

/*商圈导航,社区导航,共用部分*/
.city_channel h3 , .city_broad h3{
	height:40px;
	line-height:40px;
	color:#3FA0CB;
	font-size:13px;
	margin-left:10px;
}
.city_channel dl,.city_broad dl{		/*导航内容*/
	color:#565656;
	line-height:14px;
	display:none;
}
.city_channel .channel_broad_checked,.city_broad .channel_broad_checked{
	display:block;
}
.city_channel dl dt,.city_broad dl dt{
	height:14px;
	padding:10px 10px 6px 10px;
	font-weight:bold;
	display:block;
	clear:both;

}
.city_channel dl dd,.city_broad dl dd{
	height:14px;
	margin:6px auto;
	padding:0px 10px;
	float:left;
	border-right:#CCC solid 1px;
}
.city_channel dl dd a,.city_broad dl dd a{
	color:#565656;
}
.city_channel dl dd a:hover,.city_broad dl dd a:hover{
	color:#207594;
}


/*城市广告adv*/
.city_broad .city_adv{
	width:474px;
	height:484px;
	padding:1px 0 0 1px;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	overflow:hidden;
	background:#FFF;
	display:none;
}
.city_broad .city_adv_checked{
	display:block;
}

.city_broad .city_adv div{
	border:#FFF solid 1px;
	border-top:none;
	border-left:none;
	width:236px;
	height:152px;
	float:left;
	overflow:hidden;
}
.city_broad .city_adv div:first-child{
	height:330px;
	width:473px;
}
.city_broad .city_adv div img{
	margin:0;padding:0;width:100%;height:100%;
	-webkit-transition:-webkit-transform 0.25s;
	-moz-transition:-moz-transform 0.25s; /* Firefox 4 */
	-ms-transition:-ms-transform 0.25s;
	-o-transition:-o-transform 0.25s;
}
.city_broad .city_adv div img:hover{
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	zoom:1.04\9;
	margin:-2% 0 0 -2%\9;
}
.city_broad .city_adv em{
	position:absolute;
	width:22px;
	height:22px;
	background:url(../images/close1.png) 0 0 no-repeat;
	right:1px;
	top:1px;
	cursor:pointer;
}
.city_broad .city_adv em:hover{
	background:url(../images/close1.png) 0px -22px no-repeat;
}
/**********************可以删除**********************/


/*切换卡片开始*/
.index_page_card{
	height:600px;
	background-color:#EEE;
	width:100%;
	position:relative;
	/*margin-bottom:20px;*/
}
.index_page_card dl{
	padding:0;
	margin-left:-40px;
	position:absolute;
	left:50%;
	bottom:40px;
	z-index:3;
}
.index_page_card dl dd{
	display:block;
	float:left;
	width:14px;
	height:14px;
	margin:0 3px;
	border-radius:50%;
	background-color:#666;
	}
.index_page_card dl dd:hover{
	background-color:#40A1CC;
}
.index_page_card dl .dian_hover{
	background-color:#40A1CC;
}

.index_page_card ul{
	padding:0;
	margin:0 auto;
	width:100%;
	height:100%;
	position:relative;
}
.index_page_card ul li{
	width:100%;
	height:100%;
	padding:0;
	position:absolute;
	top:0;
	left:0;	
	list-style:none;
	overflow:hidden;
	display:none;	
}

.img_a,.img_b{
	position:absolute;
	top:0;
	left:50%;
	margin-left:-700px;
	width:1400px;
	height:600px;
}


/*.show_before{opacity:0;filter:alpha(opacity=0);z-index:1;}
.show_after{opacity:1;filter:alpha(opacity=100);z-index:2;}
*/
.show_before .img_a{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);

}
.show_after .img_a{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-o-transform:scale(1,1);

	transition:transform 4.5s linear;
	-webkit-transition:transform 4.5s linear;
	-moz-transition:transform 4.5s linear;
	-o-transition:transform 4.5s linear;
	
	transition-delay:0.35s;
	-webkit-transition-delay:0.35s;
	-moz-transition-delay:0.35s;
	-o-transition-delay:0.35s;	
}

.show_before .img_b{
	opacity:0;
	filter:alpha(opacity=0);
	}
.show_after .img_b{
	opacity:1;
	filter:alpha(opacity=100);
	
	transition:0.6s linear;
	-webkit-transition:0.6s linear;
	-moz-transition:0.6s linear;
	-o-transition:0.6s linear;

	transition-delay:0.5s;
	-webkit-transition-delay:0.5s;
	-moz-transition-delay:0.5s;
	-o-transition-delay:0.5s;
}
	
/*切换卡片结束*/

	
	
	
	

.index_page .index_page_bottom_left{

	float: left;
	width: 350px;
}

.index_page .index_page_bottom_center{

	float: left;
	width: 390px;
}

.index_page .index_page_bottom_right{

	float: left;
	width: 260px;
}
.index_page_bottom h1{

	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*background: url('../images/index_h1.gif') no-repeat left bottom;*/
	padding-left: 10px;
	color: #393939;
}
.index_page_bottom{
	overflow:hidden;
	margin-bottom:40px;
}

.index_page_bottom .title a{

	display: inline-block;
	margin-right: 30px;
	color: #333;
}

.index_page_bottom .title a.hover{

	color: #86d1f0;
}
.index_page_bottom .index_page_bottom_left .index_userbox_list{

	 padding: 10px;
}
.index_page_bottom .index_page_bottom_left .index_userbox_list ul li{

	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.index_page_bottom .index_page_bottom_left .index_userbox_list ul li img{

	width: 38px;
	height: 38px;
}

.index_page_bottom_right .down_backgound{

	height: 280px;
	background: url('../images/index_h1.gif') no-repeat left top;
	margin-top: 10px;
}

.index_page_bottom_right .down_button{

	background: url('../images/index_h1.gif') no-repeat left -289px;
	height: 40px;
	display: block;
	text-align: center;
	margin: 10px 0;
}

.link{

	margin-bottom: 30px;
	display: block;
	margin-top: 10px;
	color: #999;
}

.index_page_bottom_center .message_list{

	margin-bottom: 30px;
	margin-top: 10px;
}

.index_page_bottom_center .message_list p{

	/*margin-bottom: 10px;*/
	height: 36px;
	line-height: 36px;
	color: #999;
	font-size: 12px;
	padding: 5px;
}

.index_page_bottom_center .message_list p:hover{

	background: #f2f2f2;
}

.index_page_bottom_center .message_list p i{

	background: url('../images/index_h1.gif') no-repeat left -350px;
	height: 24px;
	width: 20px;
	display: inline-block;
	margin: 0 5px;
}
.index_page_bottom_center .message_list p img{
	width: 30px;
	height: 30px;
}

.index_page_bottom_center .message_list p a{

	color: #999;
}
.change_city_box{
	color: #C40000 !important;
	border: 1px solid #C40000 !important	;
}
.change_city_box a{
	color:#C40000 !important;
}

