.navigation-top__left-area ._link.project_r {
  color: #FB9100 !important;
}
#background-image {
  background-image: url(images/gb.jpg) !important;
}

#background-texture {
	background: #0c2a35;
    background-image: url(images/texture.jpg) !important;
	background-repeat: no-repeat;
	background-position: top center;
}

#app > .bodyWrapper  .footer-main__dropdown-menu {
    display: none !important;
}