#body {
    text-align:center;
    padding:0;
    margin:-25px -1px 0;
    font-family:"Open Sans";
    font-size:18px;
    font-weight:300;
}
#body h2 {
  font-family:"Open Sans";
  font-weight:600;
  text-transform:uppercase;
  margin-left:0;
}

.index-editor,
.index-funny,
.index-makeup {
  text-decoration:none;
  display:block;
}
.picbuzz-link {
    background: url(../bundles/photofrontendbundle/media/images/index/banner_pickbuzz.gif) no-repeat 0 0;
    width: 876px;
    position: relative;
    height: 616px;
    display: block;
}

/* editor.pho.to */
.index-editor {
  color:#fef8c6;
  background:#3e3d4c;
  text-align:center;
  padding:22px 0 15px;
  position:relative;
}
.editor-promo-image {
   background: url(../bundles/photofrontendbundle/media/images/index/free-online-photo-editor.jpg) no-repeat;
   width:853px;
   height:434px;
   display:block;
   margin:0 auto;
   text-align:center;
   padding-top:344px;
   text-decoration:none;
   -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
           box-sizing:border-box;
   overflow:hidden;
   position:relative;
   z-index:10;
}
.index-editor h2 {
  color:#fef8c6;
  font-size:36px;
}
.index-editor p {
  padding:5px 15px 15px;
}
.new-label {
  position:absolute;
  top:-6px;
  right:-6px;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -43px;
  width:132px;
  height:128px;
}
.editor-get-started-btn {
  background:#0bd197;
  color:#fff;
  font-size:26px;
  font-weight:600;
  min-width:230px;
  display:inline-block;
  line-height:52px;
  height:54px;
  padding:0 10px;
  vertical-align:middle;
  border-radius:3px;
  position:relative;
}
.editor-get-started-btn:before,
.editor-get-started-btn:after {
  content:'';
  position:absolute;
  z-index:-2;
}
.editor-get-started-btn:after {
    left:0;
    bottom:0;
    right:-1px;
    height:33px;
    -webkit-box-shadow:0 33px 0 rgba(61,23,48,0.3);
       -moz-box-shadow:0 33px 0 rgba(61,23,48,0.3);
            box-shadow:0 33px 0 rgba(61,23,48,0.3);
    -webkit-transform:skew(45deg);
       -moz-transform:skew(45deg);
        -ms-transform:skew(45deg);
         -o-transform:skew(45deg);
            transform:skew(45deg);
    -webkit-transform-origin:0 100%;
       -moz-transform-origin:0 100%;
        -ms-transform-origin:0 100%;
         -o-transform-origin:0 100%;
            transform-origin:0 100%;
}
.editor-get-started-btn:before {
    left:100%;
    margin-left:-53px;
    top:-84px;
    width:53px;
    height:85px;
    -webkit-box-shadow:0 86px 0 rgba(61,23,48,0.3);
       -moz-box-shadow:0 86px 0 rgba(61,23,48,0.3);
            box-shadow:0 86px 0 rgba(61,23,48,0.3);
    -webkit-transform:skew(45deg);
       -moz-transform:skew(45deg);
        -ms-transform:skew(45deg);
         -o-transform:skew(45deg);
            transform:skew(45deg);
    -webkit-transform-origin:0 100%;
       -moz-transform-origin:0 100%;
        -ms-transform-origin:0 100%;
         -o-transform-origin:0 100%;
            transform-origin:0 100%;
}
.editor-get-started-btn .arrow {
  display:inline-block;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 0 no-repeat;
  width:14px;
  height:23px;
  margin-left:30px;
  vertical-align:middle;
}


/* funny.pho.to */
.index-funny {
  background:url(../bundles/photofrontendbundle/media/images/index/photo-effects-collages-frames.jpg) center 17px  no-repeat;
  height:622px;
  margin-bottom:-30px;
  padding-left:365px;
  text-align:left;
  z-index:20;
  position:relative;
}
.index-funny h2 {
  color:#333333;
  font-size:30px;
  line-height:36px;
  padding-top:68px;
  margin:0;
}
.funny-get-started-btn {
  font-size:26px;
  font-weight:600;
  min-width:165px;
  display:inline-block;
  line-height:52px;
  height:54px;
  padding:0 10px;
  vertical-align:middle;
  border-radius:3px;
  color:#333333;
  border:2px solid #333333;
  text-align:center;
  margin-top:25px;
}
.funny-get-started-btn:after {
  content:'';
  display:inline-block;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) -18px 0 no-repeat;
  width:14px;
  height:23px;
  margin-left:18px;
  vertical-align:middle;
}

/* makeup.pho.to */
.index-makeup {
  color:#0b0b0b;
  background:#ebf4f6;
  padding:55px 0 15px;
  position:relative;
  z-index:10;
}
.index-makeup h2 {
  color:#712393;
  font-size:36px;
}
.makeup-promo-image {
  position:relative;
  background:url(../bundles/photofrontendbundle/media/images/index/portrait-retouching-before-after.jpg) no-repeat;
  width:846px;
  height:317px;
  margin:10px auto 0;
}
.makeup-get-started-btn {
  position:absolute;
  width:216px;
  height:216px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -804px no-repeat;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}
.makeup-get-started-btn span {
  font-size:26px;
  display:inline-block;
  vertical-align:middle;
  line-height:26px;
  text-align:left;
  margin-top:80px;
  padding:0 32px 0 0;
  position:relative;
  max-width:160px;
}
/*.makeup-get-started-btn span:first-line {
  font-size:32px;
  font-weight:900;
}*/
.makeup-get-started-btn span b {
  font-size:32px;
  font-weight:900;
  display: block;
}
.makeup-get-started-btn span:after {
  content:'';
  position:absolute;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) -36px 0;
  width:23px;
  height:39px;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
}
.makeup-before-label,
.makeup-after-label {
  position:absolute;
  bottom:27px;
  line-height:30px;
  height:34px;
  font-size:22px;
  color:#fff;
  font-weight:300;
  min-width:83px;
  padding:0 6px;
  text-align:center;
}
.makeup-before-label {
  left:0;
  border-radius:0 17px 17px 0;
  background:rgba(43,43,43,0.7);
}
.makeup-after-label {
  right:0;
  border-radius:17px 0 0 17px;
  background:rgba(122,4,169,0.7);
}
/* more services */
.index-more-services {
  height:243px;
  background:#3eaee1;
  position:relative;
  padding-top:75px;
  z-index:10;
}
.more-services-logo {
  font-size:150px;
  font-weight:bold;
  color:#fff;
  line-height:111px;
  display:block;
  cursor:default;
}
a.more-services {
  font-size:24px;
  color:#fdfdfc;
  font-weight:300;
  position:absolute;
  left:487px;
  top:222px;
  text-decoration:none;
}
.mobile-banner {
    background:#ebebeb;
    z-index:20;
    position:relative;
}
.mobile-image {
    background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -173px;
    float:left;
    width:230px;
    height:259px;
    margin:-77px 20px 20px 46px;
}
.mobile-banner p {
    font-weight:300;
    font-size:20px;
    color:#0b0b0b;
    text-align:left;
    padding:30px 0 32px 0;
  
}
.android-apps, .ios-apps {
    display:block;
    float:left;
    margin:0 15px 30px 0;
}
.android-apps {
    background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -738px;
    width:156px;
    height:53px;
}
.ios-apps {
    background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -677px;
    width:154px;
    height:53px;
}


/*---share.pho.to banner---*/
.share-banner {
  background:#afd1da;
  padding:26px 70px 45px 45px;
  text-align:right;
  color:#225360;
  overflow:auto;
}
.share-photo-image {
  float:right;
  background:url(../bundles/photofrontendbundle/media/images/index/index-sprite-new.png) 0 -461px;
  width:203px;
  height:199px;
}
.share-banner p {
  font-weight:300px;
  font-size:20px;
  line-height:32px;
  padding:35px 0 0 0;
  margin-right:253px;

}
.share-banner a {
  color:#225360;
  text-decoration:none;
}
.share-link {
  font-weight:normal;
  text-decoration:none;
}

/*.art-photo-banner {
  background:url(../media/images/index/art-photo-banner.png);
  height:148px;
  width:848px;
  display:block;
}
.magic-photo-banner {
  background:url(../media/images/index/magic-photo-banner.jpg);
  height:122px;
  width:848px;
  display:block;
  margin-bottom:20px;
}*/

#newsblock {
	width:250px;
	text-align:center;
	margin-top:9px;
}
#newsblock .body {
	padding-bottom:10px;
}
.newsblock-item {
	padding: 0 3px 10px 10px;
	text-align:left;
	margin:0;
}
.newsblock-item strong {
	font-size:14px;
	color:#195877;
	font-weight:normal;
}
.newsblock-item .picon-clear {
	clear:both;
	float:left;
	margin:2px 2px 2px -1px;
	border:0;
}
.newsblock-item .picon-inline {
	display:inline;
	vertical-align:middle;
	margin:0px 2px 0px -1px;
	border:0;
}
.newsblock-item .logo-inline {
	display:inline;
	vertical-align:middle;
	margin-top:-7px;
}
#newsblock a.readmore {
	font-weight:bold;
	color:#036492;
}
#newsblock a.other-news {
	font-size:14px;
	font-weight:bold;
	color:#036492;
}
.newsblock-item .icon {
	background:url(../bundles/photofrontendbundle/media/images/news-block/newsblock-icons.png) no-repeat;
	width:22px;
	height:22px;
}
.newsblock-item .makeup .icon {
	background-position: 0 0;
}
.newsblock-item .funny .icon {
	background-position: 0 -23px;
}
.funny-group-icon {
	margin:0;
}
/******************************/
.blog-news {
  padding: 0 8px;
  text-align: left;
  margin-left: -5px;
  margin-right: -5px;
}
.blog-news.news-page{
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 15px;
	background: transparent;
}
.blog-news .pn{
	margin-top: 35px;
}
@media (min-width: 1240px) {
  .blog-news {
    padding: 0 8px;
    padding-bottom: 15px;
  }
}
.blog-news li {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  padding-left: 60px;
  overflow: hidden;
}
.blog-news.news-page li{
	overflow: hidden;
	padding: 6px 0;
	padding-left: 68px;
}
.blog-news.news-page p{
	height: auto;
	font-size: 14px;
	padding-top: 0px;
}
.blog-news.news-page .blog-news-date{
	padding-top: 2px;
}
.blog-news .preview{
	display: block;
	float: left;
	margin-right: 15px;
	margin-left: -68px;
	width: 50px;
	height: 50px;
	font-size: 0px;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(../bundles/photofrontendbundle/img/nophoto.png);
}
.blog-news .preview.old{
	border: 1px solid #CFCFCF;
}
.blog-news .preview img{
	display: inline-block;
	vertical-align: middle;
}
/****ICONS***/
.blog-news .preview.icons:before{
	content: '';
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	background: url(../bundles/photofrontendbundle/media/images/online-services/funny/groups-icons-2.png);
}
.blog-news .preview.icons:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.blog-news .preview.icons.star:before{
	background-position: 0 -344px;
	width: 24px;
	height: 26px;
}
.blog-news .preview.icons.zodiac:before{
	background-position: 0 -320px;
	width: 24px;
	height: 23px;
}
.blog-news .preview.icons.filters-effects:before{
	background-position: 0 -422px;
	width: 24px;
	height: 26px;
}
/****END ICONS***/
.blog-news.news-page img{
	margin-top: 0px;
	float: none;
	margin-right: 0px;
}
.blog-news li + li {
  padding-top: 20px;
}
.blog-news img {
  float: left;
  margin: 8px 0px 0 -60px;
}
.blog-news p {
  overflow: hidden;
  display: block;
  padding: 10px 0 0;
  margin: 0;
  font-size: 13px;
}
.blog-news a{
	text-decoration: none;
}
.blog-news-date {
  display: block;
  color: #515151;
  font-size: 11px;
}
.sidebar-title{
  color: #1b1f2c;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 15px 0 10px;
}
#right-content .news-arhive {
	text-align:center;
	padding: 15px 0;
}
#right-content .news-arhive a {
	font: normal 12px/1 Arial;
	color:#4A6D84;
	display:inline-block;
	text-decoration:none;
}
#right-content .news-arhive a i {
	display:block;
	float:left;
	margin: 0 5px 0 0;
	width:16px;
	height:13px;
	background: url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat -160px -160px;
}
#right-content .news-arhive a:hover {
	color:#348FCB;
	text-decoration:underline;
}
#right-content .news-arhive a:hover i {
	background-position: -176px -160px;
}
#right-content  h3.news-title{
	color: #1b1f2c;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	margin: 15px 0 10px;
}

#tutorial-link, #tutorial-link-center, #tutorial-link-right, #report-block, #more-fun, .tutorial-link-text {
	font-size:14px;
	color:#1295d9;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-align:left;
	clear:both;
}
#tutorial-link-right{
	padding-top:3px;
	margin-bottom:10px;
}
.flashwidget-code {
	padding: 5px 0 0 38px;
}
.flashwidget-code label{
	float:left;
	font-size:12px;
	margin-top:2px;
	cursor:pointer;
}
.flashwidget-code input{
	font-size:11px;
	border:1px solid #7e9db9;
	color:#838383;
	width:150px;
	height:15px;
	margin-left:2px;
}
#tutorial-link img, #tutorial-link-center img, #tutorial-link-right img {
	display:inline;
	vertical-align:middle;
	margin:0 4px;
}
#suggestion-block .body {
	width:230px;
	padding:0 9px;
}
#suggestion-block a {
	text-decoration:none;
	color:#1295d9;
}
#suggestion-block a:hover {
	text-decoration:underline;
}
#report-block img.bug, #tutorial-link img.book, #tutorial-link-center img.book, #tutorial-link-right img.book, #more-fun img, .tutorial-link-text img {
	float:left;
	clear:right;
	margin:5px 4px 3px 4px;
}
.user-photo {
	border:1px solid #d5d9df;
	margin: 2px 0px;
	float:left;
	text-align:center;
}
#latest-enhanced-photos .title, #share-result .title {
	color: #7c7c7c;
	font-size:16px;
	text-align:center;
	position:relative;
}
#latest-enhanced-photos .title {
	padding-top:10px;
}
#scroll-back {
	padding-top:10px;
}

#latest-enhanced-photos .list {
	height:397px;
	width:177px;
	overflow:hidden;
	position:relative;
	z-index:100;
	float:left;
	padding:0 35px;
}
.user-photo .before {
	height:81px;
	width:81px;
	float:left;
	margin:6px 1px 0px 0px;
	cursor:pointer;
}
.user-photo .after {
	height:81px;
	width:81px;
	float:left;
	margin:6px 0px 0px 0px;
	cursor:pointer;
}
#before-after-preview .after, #before-after-preview .before {
	cursor:default;
}
.user-photo img.arrow {
	display:inline;
	vertical-align:middle;
}
#share-it-btn {
	margin:5px 0;
}
#bookmark {
	text-align:center;
	margin-top:12px;
}

#latest-enhanced-photos a.view-more {
	font-size:14px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
#external-apps {
	margin:9px 0;
}
#external-apps .body {
	font-size:16px;
	text-align:center;
	padding:0 9px;
	position:relative;
	float:left;
	width:230px;
}
#external-apps .body a {
	text-decoration:none;
	padding-top:13px;
	display:block;
	color:#1295d9;
}
#external-apps .body a:hover {
	text-decoration:underline;
}
#external-apps .tutorial-link-text {
	padding-bottom:0px;
}
#freedownloadscenter {
	margin-top:9px;
}
#freedownloadscenter .header {
	height:25px;
	padding-top:7px;
}
#results-block .body {
	position:relative;
	float:left;
}
.right-footer {
	background:url(../bundles/photofrontendbundle/media/images/right-content-footer-blue.png) no-repeat;
	height:20px;
	margin:0 -5px -20px -5px;
	position:relative;
}
.vacancy-banner {
  margin:17px 0 13px;
  display:block;
}
.social-block {
	text-align:center;
	margin-bottom:15px;
	position:relative;
	z-index:100;
}
.social-block h6 {
	font:normal 12px/1 Arial, sans-serif;
	color:#4A6D84;
	padding:0 0 7px 0;
	margin:0;
}
.social-block ul {
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
	zoom:1;
}
*:first-child+html .social-block ul {
	display:inline;
}
.social-block ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.social-block ul li {
	float:left;
	display:inline;
	margin: 0 3px;
}
.social-block ul li a {
	display:block;
	width:20px;
	height:20px;
	background:url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat 0 -160px;
}
.social-block ul li.rss a {
	background-position:0 -160px;
}
.social-block ul li.fb a {
	background-position:-20px -160px;
}
.social-block ul li.vk a {
	background-position:-40px -160px;
}
.social-block ul li.tw a {
	background-position:-60px -160px;
}
.social-block ul li.li a {
	background-position:-80px -160px;
}
.social-block ul li.yt a {
	background-position:-100px -160px;
}
.social-block .bm {
	background: url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat 0 -180px;
	display:inline-block;
	width:85px;
	height:17px;
	margin-top:10px;
}
.new-block {
	margin-bottom:20px;
    margin-top:20px;
}
.new-block .news-arhive {
	text-align:center;
}
.new-block .news-arhive a {
	font: normal 12px/1 Arial;
	color:#4A6D84;
	display:inline-block;
	text-decoration:none;
}
.new-block .news-arhive a i {
	display:block;
	float:left;
	margin: 0 5px 0 0;
	width:16px;
	height:13px;
	background: url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat -160px -160px;
}
.new-block .news-arhive a:hover {
	color:#348FCB;
	text-decoration:underline;
}
.new-block .news-arhive a:hover i {
	background-position: -176px -160px;
}
.sidebar-menu {
}
#right-content .block-editing-preview {
	margin-bottom:6px;;
	width:238px;
}
.sidebar-menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.sidebar-menu ul.big-list {
	border-bottom:1px solid #CFCFCF;
	padding-bottom:10px;
	margin-bottom:10px;
}
.sidebar-menu ul.big-list li {
	zoom:1;
}
.sidebar-menu ul.big-list li:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.sidebar-menu ul.big-list li a {
	display:block;
	font:normal 14px/40px Arial;
	color:#247096;
	text-decoration:none;
}
.sidebar-menu ul.big-list li i {
	display:block;
	width:45px;
	height:40px;
	float:left;
	background: url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat -260px 0;
	margin:0 5px 0 0;
}
.sidebar-menu ul.big-list li.gored i {
	background-position: -260px 0;
}
.sidebar-menu ul.big-list li.upphoto i {
	background-position: -305px 0;
}
.sidebar-menu ul.big-list li.sendcard i {
	background-position: -350px 0;
}
.sidebar-menu ul.big-list li.crealbum i {
	background-position: -395px 0;
}
.sidebar-menu ul.big-list li a:hover {
	color:#348FCB;
}
.sidebar-menu ul.big-list li.gored a:hover i {
	background-position: -260px -40px;
}
.sidebar-menu ul.big-list li.upphoto a:hover i {
	background-position: -305px -40px;
}
.sidebar-menu ul.big-list li.sendcard a:hover i {
	background-position: -350px -40px;
}
.sidebar-menu ul.big-list li.crealbum a:hover i {
	background-position: -395px -40px;
}
.sidebar-menu ul.small-list {
}
.sidebar-menu ul.small-list li {
	zoom:1;
	margin-bottom:5px;
}
.sidebar-menu ul.small-list li:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.sidebar-menu ul.small-list li a {
	display:block;
	font:normal 12px/26px Arial;
	color:#4A6D84;
	text-decoration:none;
}
.sidebar-menu ul.small-list li i {
	display:block;
	width:45px;
	height:26px;
	float:left;
	background: url(../bundles/photofrontendbundle/media/images/sidebar/main-sprite-sidebar.gif) no-repeat -260px -80px;
	margin:0 5px 0 0;
}
.sidebar-menu ul.small-list li.tiphoto i {
	background-position: -260px -80px
}
.sidebar-menu ul.small-list li.contest i {
	background-position: -305px -80px
}
.sidebar-menu ul.small-list li.freesoft i {
	background-position: -350px -80px
}
.sidebar-menu ul.small-list li.apiprog i {
	background-position: -395px -80px
}
.sidebar-menu ul.small-list li.addcomm i {
	background-position: -440px -80px
}
.sidebar-menu ul.small-list li.aboutus i {
	background-position: -485px -80px
}
.sidebar-menu ul.small-list li.feedback i {
	background-position: -530px -80px
}
.sidebar-menu ul.small-list li a:hover {
	color:#348FCB;
	text-decoration:underline;
}
.sidebar-menu ul.small-list li.tiphoto a:hover i {
	background-position: -260px -106px
}
.sidebar-menu ul.small-list li.contest a:hover i {
	background-position: -305px -106px
}
.sidebar-menu ul.small-list li.freesoft a:hover i {
	background-position: -350px -106px
}
.sidebar-menu ul.small-list li.apiprog a:hover i {
	background-position: -395px -106px
}
.sidebar-menu ul.small-list li.addcomm a:hover i {
	background-position: -440px -106px
}
.sidebar-menu ul.small-list li.aboutus a:hover i {
	background-position: -485px -106px
}
.sidebar-menu ul.small-list li.feedback a:hover i {
	background-position: -530px -106px
}

.frame-white {
	background:url(../bundles/photofrontendbundle/media/images/frames/frame-white.gif) no-repeat;
	width:7px;
	height:7px;
}
.frame-blue {
	background:url(../bundles/photofrontendbundle/media/images/frames/frame-blue.gif) no-repeat;
	width:7px;
	height:7px;
}
.blue-border {
	background:url(../bundles/photofrontendbundle/media/images/frames/blue-border.gif) no-repeat;
	width:7px;
	height:7px;
}
.options-frame {
	background:url(../bundles/photofrontendbundle/media/images/frames/options-frame.gif) no-repeat;
	width:5px;
	height:4px;
}
.frame-yellow {
	background:url(../bundles/photofrontendbundle/media/images/frames/frame-yellow.gif) no-repeat;
	width:7px;
	height:7px;
}
.frame-grey {
	background:url(../bundles/photofrontendbundle/media/images/frames/frame-grey.gif) no-repeat;
	width:7px;
	height:7px;
}
.frame-footer {
	width:7px;
	height:7px;
}
.frame1{
	float: left;
	margin: -1px 0 -6px -1px;
	position: relative;
	background-position: 0 0;
}
.frame2{
	float: right;
	margin: -1px -1px -6px 0;
	position: relative;
	background-position: 0 -8px;
}
.frame3{
	float: right;
	margin: 0 -1px -1px 0;
	position: relative;
	background-position: 0 -16px;
}
.frame4{
	float: left;
	margin: 0 0 -1px -1px;
	position: relative;
	background-position: 0 -24px;
}
