#imagenEspecial{
    background-image:url('http://www.himgs.com/imagenes/hello/common/tag-con-banner/queen-90/desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 10.42%;
    margin-bottom: 3em;
    margin-top:0em;
}

@media (max-width: 768px){
    #imagenEspecial{
        background-image: url('http://www.himgs.com/imagenes/hello/common/tag-con-banner/queen-90/mobile.png');
        padding-top: 23.43%;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}