.ChuyenMuc .clip-img{
	max-height: 107px;
}
#inner-wrapper #header #inner #logo{
	height: auto;
}
#inner-wrapper #header #inner #logo img{
	float: left;
	width: 100%;
	clear: both;
	display: block;
}
/* Category Slide */
#sidebar .event_title-img, .videontd .event_title-img
{
	text-align: center;
}
#sidebar .Event_list, .videontd .Event_list
{
	margin-bottom: 10px;
	background: #FCFCFC !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	border: 1px solid #CED7DC !important;
}
#sidebar .Event_list ul#List_cat, .videontd .Event_list ul#List_cat
{
	margin-top: 0px;
}
#sidebar ul#List_cat, .videontd ul#List_cat
{
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 0px 10px;
	border: 1px solid #CED7DC !important;
}
#sidebar .widgetbox ul#List_cat, .videontd .widgetbox ul#List_cat
{
	margin: 0px;
	padding: 0px 13px 0px 0px;
}
#sidebar ul#List_cat li, .videontd ul#List_cat li
{
	margin: 0px 0px 6px 0px !important;
	background: url("../gimages/bullet.jpg") no-repeat scroll 0 5px transparent !important;
	border-bottom: 1px dotted #BBBBBB;
	padding: 0px 0px 5px 10px;
	clear: both !important;
}
#sidebar ul#List_cat li:last-child, .videontd ul#List_cat li:last-child
{
	border-bottom: 0px;
}
#sidebar ul#List_cat li img, .videontd ul#List_cat li img
{
	float: left;
	margin-right: 10px;
}
#sidebar ul#List_cat li h3.ss_title, .videontd ul#List_cat li h3.ss_title
{
	font-size: 12px !important;
	color:#222 !important;
	background: none !important;
	margin: 0px !important;
	padding: 0px !important;
	font-weight: normal !important;
	text-transform: none !important;
	height: auto !important;
	line-height: 17px !important;
}
#sidebar ul#List_cat li h3.ss_title a, .videontd ul#List_cat li h3.ss_title a
{
	font-size: 12px !important;
	color:#222 !important;
}
#sidebar ul#List_cat li h3.ss_title a:hover, .videontd ul#List_cat li h3.ss_title a:hover
{
	color:#B50007 !important;
	text-decoration: none;
}
#sidebar ul#List_cat li .ss_date
{
	font-size: 11px;
	color: #B50007;
}
.HomeCatSlide .title_cat
{
	background:#EAEEF1;
	padding: 5px 10px;
	text-transform: uppercase;	
	color:#B50007;
	font-size: 14px;
	font-weight: bold; 
	margin-top: 0px !important;
}
.HomeCatSlide
{
	margin-top: -5px;
	color:#B50007 !important;
}

.HomeCatSlide  a:hover,  #sidebar .HomeCatSlide a:hover, .HomeCatSlide  a .title_cat:hover
{
	color:#ff7200 !important;
	text-decoration: none;
}
/* Scrollbar */
.Event_list #scrollbar1 .viewport
{
	margin-top: 10px;
	height: 200px;
	border: 0px !important;
	padding-bottom: 10px;
}
#scrollbar1 .cat_post 
{
	right: 0px !important;
}
.cat_list_single
{
	padding-top: 10px;
}
#sidebar .event_title, .videontd .event_title
{
	background: url(../gimages/bg_event_title_b.jpg) no-repeat center bottom; 
	padding: 6px 10px;
	color: #B50007 !important;
	text-align: center;
	font-weight: bold !important;
	background: none !important;
	text-transform: uppercase !important;
	font-size: 14px !important;
	border-top: 3px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#sidebar .focus_event_title, .videontd .focus_event_title
{
	padding: 13px 0px 0px 0px;
	color:#B50007 !important;
	text-align: center;
	background: url(../gimages/bg_event_title_t.jpg) no-repeat center top;
	font-weight: bold !important;
	text-transform: uppercase !important;
	font-size: 14px !important;
}
#sidebar .title_focus_home, .videontd .title_focus_home{
	background: none !important;
}
#sidebar .event_title-img, .videontd .event_title-img
{
	text-align: center;
}
#sidebar .Event-list, .videontd .Event-list
{
	border: 1px solid #ccc !important;
	padding: 2px !important;
	margin-bottom: 10px !important;
	background: none !important;
	background: url(../gimages/bg_event_title_t.jpg) no-repeat center top;
}
/* Event Column 1 */

#sidebar .Event-list ul.event_slide_1, .videontd .Event-list ul.event_slide_1
{
	background: rgba(189, 101, 92, 0.72) !important;
	padding-top: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-top: 5px !important;
}
#sidebar .Event-list ul.event_slide_1 li, .videontd .Event-list ul.event_slide_1 li
{
	border-bottom: 1px dotted #F9A29A;	
	padding: 5px 0px 5px 0px;
	margin: 0px 0px;
	list-style: none;
	width: 100%;
	text-align: left;
	clear: both;
	display: inline-block;
}
#sidebar .Event-list ul.event_slide_1 li img, .videontd .Event-list ul.event_slide_1 li img
{
	float: left;
	margin-right: 10px;
}
#sidebar .Event-list ul.event_slide_1 li a, .videontd .Event-list ul.event_slide_1 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_1 li a:hover, .videontd .Event-list ul.event_slide_1 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* End */
/* Event Column 2 */

#sidebar .Event-list ul.event_slide_2
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	display: inline-block;
	width: 100%;
}
#sidebar .Event-list ul.event_slide_2 li
{
	padding: 5px 0px 5px 12px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 131px;
	display: inline-block;
}
#sidebar .Event-list ul.event_slide_2 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#sidebar .Event-list ul.event_slide_2 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_2 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
.title_cat_img
{
	text-align: center;
}
/* End */
/* Event Column 2 */

#sidebar .Event-list ul.event_slide_3
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	display: inline-block;
	width: 100%;
}
#sidebar .Event-list ul.event_slide_3 li
{
	padding: 5px 0px 5px 6px;
	margin: 0px 0px;
	float: left;
	width: 90px;
}
#sidebar .Event-list ul.event_slide_3 li img
{
	height: 66px;
	width: 90px;
}
#sidebar .Event-list ul.event_slide_3 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#sidebar .Event-list ul.event_slide_3 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_3 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* End */
#sidebar .Event-list ul.event_slide
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
#sidebar .Event-list ul.event_slide li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 12px;
	margin: 0px 10px;
	background: url(../gimages/event_bullet.gif) no-repeat;
	background-position: 0px 8px;
}
#sidebar .Event-list ul.event_slide li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
#sidebar .Event-list ol
{
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
#sidebar .Event-list ol li{
	display:inline-block;
	padding: 0px 3px;
	text-align:left;
	font-size: 12px;
	list-style:none;
	color:#222222;
	cursor:pointer;	
	background: #ccc;
	margin:0 3px;
}
#sidebar .Event-list ol li:hover{background:#B50007 !important; color:#fff !important;}
#sidebar .Event-list ol li.current{color:#fff !important;font-weight:bold; background:#B50007 !important;}

#recent_news_ajax
{
	background: #F5F5F5 url(../gimages/bg_news.jpg) repeat-x !important;
	margin-bottom: 10px !important;
}
.recent_post_ajax
{
	margin: 0px !important;
	padding: 0px 0px 0px 0px !important;
	list-style: none !important;
}
#recent_news_ajax .title_recent_news
{
	text-transform: uppercase !important;
	font-size: 14px !important;
	color:#b70712 !important;
	padding: 10px 0px 10px 10px !important;
	font-weight: bold !important;
}
.recent_post_ajax li 
{
	background: none !important;
	padding-bottom: 10px !important;
}
.recent_post_ajax li.Newsrow1
{
	background: #BB0F1D !important;
	margin: 0px 10px !important;
	padding: 10px 10px 0px 10px !important;
}
.recent_post_ajax li.Newsrow1 img
{
	float: none !important;
	border: 2px solid #fff !important;
	margin: 0px auto !important;
	display: block !important;
}
.recent_post_ajax li  img
{
}
.recent_post_ajax li.Newsrow1 h3
{
	font-size: 12px !important;
	color:#222 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	line-height: 17px !important;
}
.recent_post_ajax li.Newsrow1 h3 a
{
	color:#fff !important;
}
.recent_post_ajax li.Newsrow1 h3 a:hover
{
	color:#E0E0E0 !important;
}
.recent_post_ajax .ulmore
{
	background: #fff !important;
	margin: 10px !important;
	width: 93% !important;
	display: inline-block;
	padding: 9px 0px 0px 0px !important;
}
.recent_post_ajax li.Newsrow2
{
	float:left;
	margin-left: 9px;
	width: 125px;
}
.recent_post_ajax li.Newsrow2  img
{
	padding: 3px;
	background: #fff;
	border: 1px solid #ccc;
}
.recent_post_ajax li.Newsrow2 h3
{
	font-size: 12px !important;
	color:#B50007 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	line-height: 17px !important;
}
.recent_post_ajax li.Newsrow2 h3 a
{
	color:#B50007 !important;
}
.recent_post_ajax li.Newsrow2 h3 a:hover
{
	color:#222 !important;
}
.recent_post_ajax .ulmore2
{
	margin: 0px 10px !important;
}
.recent_post_ajax .ulmore2 li
{
	list-style: none !important;
	color:#B50007 !important;
	padding-left: 15px !important;
}
.recent_post_ajax li .entry-date
{
	font-size: 11px;
	color:#B50007;
}
.recent_post_ajax li h3 a
{
	font-size: 12px;
	color:#222;
} 
.recent_post_ajax li h3 a:hover
{
	color:#B50007;
	text-decoration: none;
}

/* Category Home */
.HomeCatSlide .CatHome-list ul li a, #sidebar .HomeCatSlide .CatHome-list ul li a
{
	color:#222 !important;
}
.HomeCatSlide .CatHome-list ul li a:hover, #sidebar .HomeCatSlide .CatHome-list ul li a:hover
{
	color:#B50007 !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1
{
	margin: 7px 10px 10px 10px !important;
	padding: 0px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li
{
	border-bottom: 1px dotted #F9A29A;	
	padding: 5px 0px 5px 0px;
	margin: 0px 0px;
	list-style: none;
	width: 100%;
	clear: both;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li .info_date
{
	color:#B50007;
	font-size: 11px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li:last-child
{
	border-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li img
{
	float: left;
	margin-right: 10px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* 2 */
.HomeCatSlide .CatHome-list
{
	border: 1px solid #ccc !important;
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.HomeCatSlide .CatHome-list ul.ListCatHome_2
{
	margin-top: 5px !important;
	margin-bottom: 3px !important;
	display: inline-block;
	width: 100%;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li
{
	padding: 5px 0px 5px 12px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 131px;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li img, .HomeCatSlide .CatHome-list ul.ListCatHome_3 li img
{
	margin-bottom: 3px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}

/* Option category home 3 */

.HomeCatSlide .CatHome-list ul.ListCatHome_3
{
	margin-top: 5px !important;
	margin-bottom: 3px !important;
	display: inline-block;
	width: 100%;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li
{
	padding: 5px 0px 5px 7px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 90px;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* 4 */

#sidebar .Event-list ul.event_slide
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
#sidebar .Event-list ul.event_slide li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 12px;
	margin: 0px 10px;
	background: url(../gimages/event_bullet.gif) no-repeat;
	background-position: 0px 8px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4
{
	padding-top: 5px !important;
	margin-top: 5px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4 li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 10px;
	margin: 0px 10px;
	background: url(../gimages/bullet_event.jpg) no-repeat;
	background-position: 0px 10px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4 li:last-child
{
	border-bottom:0px;
}

/* Tabs SLide */
ul.tabs_recent {
	margin:0px;
	padding:0px;
	background: #fff;
}
ul.tabs_recent li {
	list-style:none;
	display:inline;
}
ul.tabs_recent li a {
	color:#222;
	padding:0px 0px 0px 0px;
	text-decoration:none;
	font-size:13px;
	height: 27px;
	line-height: 27px;
	display:inline-block;
	width: 147px;
	text-align: center;
	font-weight:bold;
	text-transform:uppercase;
}
ul.tabs_recent li a:hover {
}
ul.tabs_recent li.li_tm a.active_slideTab {
	color:#B70712 !important;
	width: 150px;
	background:url(../gimages/tab_active.png) no-repeat;
}
ul.tabs_recent li.li_tn a.active_slideTab {
	color:#B70712 !important;
	width: 150px;
	background:url(../gimages/tab_active_tinnong.png) no-repeat;
}
.tabs_listSlide {
	padding:10px 0px 0px 0px !important;	
}
#content_2 { display:none; padding-bottom: 1px; }
.recent_post_ajax #content_2 .Most_Viewed
{
	background: #BB0F1D !important;
	margin: 0px 10px !important;
	padding: 10px 10px 0px 10px !important;
}
.recent_post_ajax #content_2 .Most_Viewed li
{
	margin: 0px;
	padding: 0px 0px 5px 0px !important;
}
.recent_post_ajax #content_2 .Most_Viewed li img
{
	float: none !important;
	border: 2px solid #fff !important;
	margin: 0px auto 5px auto !important;
	display: block !important;
}
.recent_post_ajax #content_2 .Most_Viewed li a
{
	color:#fff;
}
.recent_post_ajax #content_2 .Most_Viewed li a:hover
{
	color:#E0E0E0;
}
.recent_post_ajax #content_2 .OtherViewed
{
	margin: 10px !important;
	background: #fff !important;
	padding: 10px 10px 3px 10px !important;
}
.recent_post_ajax #content_2 .OtherViewed li
{
	border-bottom: 1px dotted #ccc;
	width: 100%;
	display: inline-block !important;
	padding: 0px 0px 5px 0px !important;
	margin: 0px 0px 5px 0px !important;
}
.recent_post_ajax #content_2 .OtherViewed li:last-child
{
	border: 0px;
}
.recent_post_ajax #content_2 .OtherViewed li img
{
	float: left; 
	margin-right: 10px;
}
.recent_post_ajax #content_2 .OtherViewed li a
{
	color:#0072BC;
}
.recent_post_ajax #content_2 .OtherViewed li a:hover
{
	color:#B50007;
}
.tabs_listSlide ul li:last-child {
	border-bottom:none;
}
.tabs_listSlide ul li a {
	text-decoration:none;
	color:#3e4346;
	font-size: 12px;
}
.tabs_listSlide ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}
.tabs_listSlide ul li a:hover {
	color:#a59c83;
}
.tabs_listSlide ul li a:hover small {
	color:#baae8e;
}
/* Category Slide */

#sidebar .event_title-img
{
	text-align: center;
	border-top: 1px solid #CCC !important
}
#sidebar .Event_list
{
	margin-bottom: 10px;
	background: #FCFCFC !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	border: 1px solid #CED7DC !important;
}
#sidebar .Event_list ul#List_cat
{
	margin-top: 0px;
}
#sidebar ul#List_cat
{
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 0px 10px;
	border: 1px solid #CED7DC !important;
}
#sidebar .widgetbox ul#List_cat
{
	margin: 0px;
	padding: 0px 13px 0px 0px;
}
#sidebar ul#List_cat li
{
	margin: 0px 0px 6px 0px !important;
	background: url("../gimages/bullet.jpg") no-repeat scroll 0 5px transparent !important;
	border-bottom: 1px dotted #BBBBBB;
	padding: 0px 0px 5px 10px;
	clear: both !important;
}
#sidebar ul#List_cat li:last-child
{
	border-bottom: 0px;
}
#sidebar ul#List_cat li img
{
	float: left;
	margin-right: 10px;
}
#sidebar ul#List_cat li h3.ss_title
{
	font-size: 12px !important;
	color:#222 !important;
	background: none !important;
	margin: 0px !important;
	padding: 0px !important;
	font-weight: normal !important;
	text-transform: none !important;
	height: auto !important;
	line-height: 17px !important;
}
#sidebar ul#List_cat li h3.ss_title a
{
	font-size: 12px !important;
	color:#222 !important;
}
#sidebar ul#List_cat li h3.ss_title a:hover
{
	color:#B50007 !important;
	text-decoration: none;
}
#sidebar ul#List_cat li .ss_date
{
	font-size: 11px;
	color: #B50007;
}
#sidebar .title_cat
{
	background: url(../gimages/bg_event_title_t.jpg) no-repeat center top;
	padding: 13px 0px 8px 0px;
	text-transform: uppercase;	
	color:#B50007;
	font-size: 14px;
	text-align: center;
	font-weight: bold; 
	margin-top: 0px !important;
}
.bg_title_cat_b
{
	background: url(../gimages/bg_event_title_b.jpg) no-repeat center top;
	width: 300px;
	height: 8px;
}
.HomeCatSlide .title_cat
{
	background:#EAEEF1;
	padding: 5px 10px;
	text-transform: uppercase;	
	color:#B50007;
	font-size: 14px;
	font-weight: bold; 
	margin-top: 0px !important;
}
.HomeCatSlide
{
	margin-top: -5px;
	color:#B50007 !important;
}

.HomeCatSlide  a:hover,  #sidebar .HomeCatSlide a:hover, .HomeCatSlide  a .title_cat:hover
{
	color:#ff7200 !important;
	text-decoration: none;
}
/* Scrollbar */
.Event_list #scrollbar1 .viewport
{
	margin-top: 10px;
	height: 200px;
	border: 0px !important;
	padding-bottom: 10px;
}
#scrollbar1 .cat_post 
{
	right: 0px !important;
}
.cat_list_single
{
	padding-top: 10px;
}
#sidebar .Event-list
{
	border: 1px solid #ccc !important;
	padding: 0px 0px 2px 0px !important;
	margin-bottom: 10px !important;
}
/* Event Column 1 */

#sidebar .Event-list ul.event_slide_1
{
	background: #F7F7F7 !important;
	padding-top: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-top: 1px !important;
}
#sidebar .Event-list ul.event_slide_1 li
{
	border-bottom: 1px dotted #C0BFBF;	
	padding: 5px 0px 5px 0px;
	margin: 0px 0px;
	list-style: none;
	width: 100%;
	clear: both;
	display: inline-block;
}
#sidebar .Event-list ul.event_slide_1 li img
{
	float: left;
	margin-right: 10px;
}
#sidebar .Event-list ul.event_slide_1 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_1 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* End */
/* Event Column 2 */

#sidebar .Event-list ul.event_slide_2
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	display: inline-block;
	width: 100%;
}
#sidebar .Event-list ul.event_slide_2 li
{
	padding: 5px 0px 5px 12px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 131px;
	display: inline-block;
}
#sidebar .Event-list ul.event_slide_2 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#sidebar .Event-list ul.event_slide_2 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_2 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
.title_cat_img
{
	text-align: center;
}
/* End */
/* Event Column 2 */

#sidebar .Event-list ul.event_slide_3
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
	display: inline-block;
	width: 100%;
}
#sidebar .Event-list ul.event_slide_3 li
{
	padding: 5px 0px 5px 6px;
	margin: 0px 0px;
	float: left;
	width: 90px;
}
#sidebar .Event-list ul.event_slide_3 li img
{
	height: 66px;
	width: 90px;
}
#sidebar .Event-list ul.event_slide_3 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#sidebar .Event-list ul.event_slide_3 li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide_3 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* End */
#sidebar .Event-list ul.event_slide
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
#sidebar .Event-list ul.event_slide li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 12px;
	margin: 0px 10px;
	background: url(../gimages/event_bullet.gif) no-repeat;
	background-position: 0px 8px;
}
#sidebar .Event-list ul.event_slide li a
{
	font-size: 12px;
	color:#222;
}
#sidebar .Event-list ul.event_slide li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
#sidebar .Event-list ol
{
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#recent_news_ajax
{
	background: #F5F5F5 url(../gimages/bg_news.jpg) repeat-x !important;
	margin-bottom: 10px !important;
}
.recent_post_ajax
{
	margin: 0px !important;
	padding: 0px !important;
	list-style: none !important;
}
#recent_news_ajax .title_recent_news
{
	text-transform: uppercase !important;
	font-size: 14px !important;
	color:#b70712 !important;
	padding: 10px 0px 10px 10px !important;
	font-weight: bold !important;
}
.recent_post_ajax li 
{
	background: none !important;
	padding-bottom: 7px !important;
}
.recent_post_ajax li.Newsrow1
{
	background: #BB0F1D !important;
	margin: 0px 10px !important;
	padding: 10px 10px 0px 10px !important;
}
.recent_post_ajax li.Newsrow1 img
{
	float: none !important;
	border: 2px solid #fff !important;
	margin: 0px auto !important;
	display: block !important;
}
.recent_post_ajax li  img
{
}
.recent_post_ajax li.Newsrow1 h3
{
	font-size: 12px !important;
	color:#222 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	line-height: 17px !important;
}
.recent_post_ajax li.Newsrow1 h3 a
{
	color:#fff !important;
}
.recent_post_ajax li.Newsrow1 h3 a:hover
{
	color:#E0E0E0 !important;
}
.recent_post_ajax .ulmore
{
	background: #fff !important;
	margin: 10px !important;
	width: 93% !important;
	display: inline-block;
	padding: 9px 0px 0px 0px !important;
}
.recent_post_ajax li.Newsrow2
{
	float:left;
	margin-left: 9px;
	width: 125px;
}
.recent_post_ajax li.Newsrow2  img
{
	padding: 3px;
	background: #fff;
	border: 1px solid #ccc;
}
.recent_post_ajax li.Newsrow2 h3
{
	font-size: 12px !important;
	color:#B50007 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	line-height: 17px !important;
}
.recent_post_ajax li.Newsrow2 h3 a
{
	color:#B50007 !important;
}
.recent_post_ajax li.Newsrow2 h3 a:hover
{
	color:#222 !important;
}
.recent_post_ajax .ulmore2
{
	margin: 0px 10px !important;
}
.recent_post_ajax .ulmore2 li
{
	list-style: disc !important;
	color:#F04655 !important;
	font-size: 16px;
	padding-left: 0px !important;
	margin-left: 15px !important;
}
.recent_post_ajax li .entry-date
{
	font-size: 11px;
	color:#B50007;
}
.recent_post_ajax li h3 a
{
	font-size: 12px;
	color:#222;
} 
.recent_post_ajax li h3 a:hover
{
	color:#B50007;
	text-decoration: none;
}

/* Category Home */
.HomeCatSlide .CatHome-list ul li a, #sidebar .HomeCatSlide .CatHome-list ul li a
{
	color:#222 !important;
}
.HomeCatSlide .CatHome-list ul li a:hover, #sidebar .HomeCatSlide .CatHome-list ul li a:hover
{
	color:#B50007 !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1
{
	margin: 7px 10px 10px 10px !important;
	padding: 0px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li
{
	border-bottom: 1px dotted #F9A29A;	
	padding: 5px 0px 5px 0px;
	margin: 0px 0px;
	list-style: none;
	width: 100%;
	clear: both;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li .info_date
{
	color:#B50007;
	font-size: 11px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li:last-child
{
	border-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li img
{
	float: left;
	margin-right: 10px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_1 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* 2 */
.HomeCatSlide .CatHome-list
{
	border: 1px solid #ccc !important;
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.HomeCatSlide .CatHome-list ul.ListCatHome_2
{
	margin-top: 5px !important;
	margin-bottom: 3px !important;
	display: inline-block;
	width: 100%;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li
{
	padding: 5px 0px 5px 12px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 131px;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li img, .HomeCatSlide .CatHome-list ul.ListCatHome_3 li img
{
	margin-bottom: 3px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_2 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}

/* Option category home 3 */

.HomeCatSlide .CatHome-list ul.ListCatHome_3
{
	margin-top: 5px !important;
	margin-bottom: 3px !important;
	display: inline-block;
	width: 100%;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li
{
	padding: 5px 0px 5px 7px;
	margin: 0px 0px;
	list-style: none;
	float: left;
	width: 90px;
	display: inline-block;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li.last_item_event
{
	clear: both;
	float: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li a
{
	font-size: 12px;
	color:#222;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_3 li a:hover
{
	font-size: 12px;
	text-decoration: none;
	color:#B50007;
}
/* 4 */

#sidebar .Event-list ul.event_slide
{
	background: #ECE2E1 !important;
	padding-top: 5px !important;
	margin-top: 5px !important;
}
#sidebar .Event-list ul.event_slide li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 12px;
	margin: 0px 10px;
	background: url(../gimages/event_bullet.gif) no-repeat;
	background-position: 0px 8px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4
{
	padding-top: 5px !important;
	margin-top: 5px !important;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4 li
{
	border-bottom: 1px solid #fff;	
	padding: 5px 10px 5px 10px;
	margin: 0px 10px;
	background: url(../gimages/bullet_event.jpg) no-repeat;
	background-position: 0px 10px;
}
.HomeCatSlide .CatHome-list ul.ListCatHome_4 li:last-child
{
	border-bottom:0px;
}
.Event-list .highlights
{
	padding: 10px 10px 6px 10px !important;
}
.Event-list .highlights li
{
	background:#BB0F1D !important;
	padding: 10px 10px 8px 10px !important;
}
.Event-list .highlights li img
{
	text-align: center !important;
	margin-top: 1px;
	border: 2px solid #FFFFFF !important;
}
.Event-list .highlights li .item_title_fo
{
	font-size: 12px !important;
	color:#fff !important;
	padding-top: 5px;
	font-weight: normal !important;
}
.Event-list .highlights li .item_title_fo a
{
	font-size: 12px !important;
	color:#fff !important;
}
.Event-list .highlights li .item_title_fo a:hover
{
	font-size: 12px !important;
	text-decoration: none !important;
	color:#e0e0e0 !important;
}

.event_more{
	text-align: right;
	display: inline-block;
	width: 100%;
	margin: 5px 0px 5px 0px;
}
#sidebar .event_title a, #sidebar .focus_event_title a{
	color: #B50007;
	text-decoration: none;
}
#sidebar .event_title a:hover, #sidebar .focus_event_title a:hover{
	color: #ff7200;
	text-decoration: none;
}
.event_more a{
	color: #0072BC !important;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 5px;
	font-style: italic;
	background: none;
}
.event_more a:before{
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 12px;
	font-style: normal;
	color: #222222;
	padding-right: 5px;
}
.event_more a:hover{
	color: #B70712 !important;
	text-decoration: none;
}
.updating_home{
	background: #B50007 !important;
	background-size: 8px auto !important;
	border: 0px solid #B50007 !important;
	border-radius: 2px 2px 2px 2px !important;
	color: #fff !important;
	display: inline-block !important;
	font-size: 11px !important;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	margin-right: 3px !important;
	display: inline-block;
	padding: 0 2px !important;
	text-transform: uppercase;
	vertical-align: middle !important;
}
.MenuItem .search_menu #text-search-menu{
	width: 88% !important;
}