/* Style Slider Logo Topic Footer */
#topiclogo {
    margin: 15px 0 10px 15px;
    width: 930px;
	border-top: 1px solid #d3d3d3;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 0;
}
#topiclogo .sliderkit-nav{
	width: 920px;
	padding: 0 5px;
}
#topiclogo .sliderkit-nav-clip{
	width: 884px !important;
	margin: 0 0px 0 5px; 
}
#topiclogo ul li{
	background: none;
	width: 290px;
	margin: 0 5px 0 0;
	padding: 0;
}
#topiclogo .sliderkit-nav-clip ul li > a{
	width: 290px;
}
#topiclogo .sliderkit-nav-clip ul li img{
	width: 290px;
	height: 106px;
}
#topiclogo .sliderkit-nav .sliderkit-btn{
	position: relative;
	top: 28px;
}
#topiclogo .sliderkit-nav .sliderkit-nav-prev{
	left: -2px;
}
#topiclogo .sliderkit-nav .sliderkit-nav-btn span{
	font-size: 30px;
}
.sliderkit{width:600px;min-height:50px !important;margin:15px 0 10px 0px;height:auto;}
/* Navbar */
.sliderkit .sliderkit-nav{left:0;bottom:0;width:600px;height:auto !important;padding:0;overflow:hidden;}
.sliderkit .sliderkit-nav-clip ul li h2
{
	margin: 0px 0px 0px 0px!important;
	font-size: 12px !important;
}
.sliderkit .sliderkit-nav-clip ul li.navlastitem
{
	background: none;
}
.sliderkit .sliderkit-nav-clip ul li{float:left;width:167px; height:auto !important; margin: 0px 0px; padding: 0px 10px; text-align:left; background: url(../images/line.jpg) no-repeat top right; }
.sliderkit .sliderkit-nav-clip ul li > a{display:block;width:170px;height:auto;overflow:hidden;margin:0;}
/* Buttons */
.sliderkit .sliderkit-nav .sliderkit-nav-btn{}
.sliderkit .sliderkit-nav .sliderkit-nav-btn span{display:block; font-family: 'FontAwesome'; font-size: 50px; color: #D6B1B1; height: 40px; line-height: 40px;}
.sliderkit .sliderkit-nav .sliderkit-nav-btn a{display:block;width:15px;height:36px;}
.sliderkit .sliderkit-nav .sliderkit-nav-prev a:hover{text-decoration: none;}
.sliderkit .sliderkit-nav .sliderkit-nav-next a:hover{text-decoration: none;}
.sliderkit .sliderkit-nav .sliderkit-nav-prev{left:0px; width: 15px; float:left;}
.sliderkit .sliderkit-nav .sliderkit-nav-next{right:0px;width: 15px; float:left;}
.sliderkit .sliderkit-nav .sliderkit-nav-prev a{}
.sliderkit .sliderkit-nav .sliderkit-btn-disable a{cursor:default;}
.sliderkit .sliderkit-nav .sliderkit-nav-prev.sliderkit-btn-disable span{color: #C1C1C1;}
.sliderkit .sliderkit-nav .sliderkit-nav-next.sliderkit-btn-disable span{color: #C1C1C1;}

.sliderkit{ display: block; position:relative;text-align:left;}
/*---------------------------------
 *  Navigation
 *---------------------------------*/
.sliderkit .sliderkit-nav{z-index:10;text-align:center;}

/* Nav > Clip */
.sliderkit .sliderkit-nav-clip{position:relative;overflow:hidden;margin:0 5px 0px 5px; padding-left: 0px; width: 560px !important; float: left; height: auto !important;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0; width: 2900px;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{overflow:hidden;}

/*---------------------------------
 *  Buttons
 *---------------------------------*/
.sliderkit .sliderkit-btn{z-index:10;}
.tabcd {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.tabcd > h3 {
    background: none repeat scroll 0 0 #ccc;
    color: #b40d0d;
    display: inline-block;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -26px;
    z-index: 989;    
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tabcd > h3 a{
	color: #b40d0d;
}
.tabcd > h3 a:hover{
	color: #ff7200;
	text-decoration: underline;
}
