

/* 1. Reset */
@import "css/reset.css";
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(css/Roboto-Condensed.woff) format('woff');
}

.button_count .like_button_dark .like_button_no_like .liketext, .button_count .connect_widget_like_button .liketext {
    background-position: left -35px !important;
    margin-left: -1px !important;
}
a.connect_widget_like_button span {
    line-height: 10px !important;
}
/* So do chinh phu */
.ten {
	text-align: center !important;
	font-size: 14px;
	font-family: arial;
	margin: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.ten a {
	color: #222 !important;
	text-decoration: none;
}

.ten a:hover {
	color: #722626 !important;
}

.chucvu {
	text-align: center !important;
	font-size: 13px;
	font-family: arial;
	margin-bottom: 5px;
}

.subten {
	text-align: center !important;
	font-size: 10px;
	text-shadow: 0 0 0;
	font-family: arial;
	margin: 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.subten a {
	color: #222 !important;
	text-decoration: none;
}

.subten a:hover {
	color: #722626 !important;
}

.subchucvu {
	text-align: center !important;
	font-size: 12px;
	font-family: arial;
}

.xuanphuc {
	float: left;
	width: 120px;
}

.trunghai {
	float: left;
	width: 120px;
}

.pbm {
	float: left;
	width: 120px;
}
.vdd {
	float: left;
	width: 120px;
}

.vanninh {
	float: left;
	width: 120px;
}

.quangthanh {
	float: left;
	width: 120px;
}

.daiquang {
	float: left;
	width: 120px;
}

.binhminh {
	float: left;
	width: 120px;
}

.dinhhue {
	float: left;
	width: 120px;
}

.vanbinh {
	float: left;
	width: 120px;
}

.entry #table1 div {
	text-align: center;
}

#table1 {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

.entry #table1 ul li {
	background: url(images/icon1.gif) no-repeat;
	background-position: 0px 8px;
	padding: 3px 0px 3px 15px;
	font-size: 13px;
	line-height: 20px;
}

.collefttd {
	padding: 5px;
}
/* End */
#logo{
	width: 960px;
}
#menu ul li img {
	margin-top: 9px;
	*margin-top: 0px;
	vertical-align: top;
}
/* 2. Defaults */
body {
	background: #fff url("images/bg2.png") repeat-x;
	font: 12px/17px Arial, Helvetica, sans-serif;	
	-webkit-text-size-adjust:100%;
	color: #222;
}
.headNTD
{
	margin: 0 auto;
	width:960px;
}
input {
	font-family: Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

.right {
	float: right;
	*margin-top: -13px;
}

.left {
	float: left;
}

.breakingbox img {
	padding: 6px 0px 0px 6px;
}
/* 3. Hyperlinks */
a,a:visited,a:active {
	color: #464b7e;
	text-decoration: none;
}

a:hover {
	color: #ffa200;
	text-decoration: underline;
}

a:focus,a:hover,a:active {
	outline: none;
}

a img {
	border: none;
}

/* 4. Advertisement */
.ad728x90 {
	width: 728px;
	height: 90px;
	margin: 9px 0px 0px 0px;
	border: 1px solid #fff;
}

.ad300x255 {
	width: 300px;
	height: 255px;
	margin-bottom: 10px;
	padding: 0px 0px 15px 0px;
	border-bottom: 4px solid #B40D0D;
}

/* 5. Search Form */
#search {
	margin: 2px 0px 0px 0px;
}

.searchinput {
	display: inline;
	float: right;
	width: 100px;
	height: 16px;
	margin: -20px 40px 0px 0px;
	padding: 2px 4px 2px 4px;
	font-size: 11px;
	color: #666;
	border: 1px solid #e6e6e6;
}

.searchsubmit {
	display: inline;
	float: right;
	background: url(images/search.png) repeat-x center;
	width: 29px;
	height: 20px;
	margin: -20px 5px 0px 3px;
	border: none;
	cursor: pointer;
}

/* 6. Header */
#header {
	height: 120px;
	margin: 0px 0px 5px 0px;
	padding: 5px 7px;
	line-height: 70px;
	border-top: 3px solid #fff;
}
/*.imagelogo { float: left; background: url(images/logo.png) no-repeat; width: 960px; height: 130px; margin: 10px 0px 0px 0px; cursor: pointer; } */
.imagelogo {
	float: left;
	width: 960px;
	height: 110px;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}

.textlogo {
	display: inline;
	float: left;
	width: 210px;
	margin: 20px 0px 0px 5px;
	text-transform: uppercase;
	color: #fff;
}

.textlogo h1 {
	margin: 0px 0px 7px 0px;
	font: 44px/44px Impact, Arial Black;
}

.textlogo h2 {
	font: 12px/16px Arial;
}

.textlogo a,.textlogo a:hover,.textlogo a:visited {
	color: #fff;
	text-decoration: none;
}

/* 7. Dropdown Menu */
#menu {
	background: url(images/bgmenu.png) repeat-x;
	height: 34px;
	position: relative;
	z-index: 100;
}

#menu ul {
	float: left;
}

#menu ul li {
	position: relative;
	display: inline;
	float: left;
	height: 34px;
	*padding: 10px 0px 0px 0px;
	line-height: 34px;
}

#menu ul li .first {
	background: none !important;
	padding-left: 10px;
}

#menu ul li a {
	display: inline-block;
	padding: 0px 14px;
	height: 34px;
	line-height: 34px;
	font: 12px, "Tahoma";
	color: #fff;
	font-weight: bold;
	white-space: nowrap;
}

#menu ul li a.home {
	display: block;
	background: transparent !important;
	padding: 0px 10px 0px 10px;
	height: 34px;
	line-height: 34px;
	font: 12px, "Tahoma";	
	vertical-align: top;
	color: #222;
	font-weight: bold;
}

* html #menu ul li a {
	display: inline-block;
	float: left;
}

* html #menu ul li ul li a {
	float: none;
}
#menu ul li a.home, #menu ul li.switch a
{
	border-left: 0px !important;
	font-size: 20px;
	color: #fff;
	font-family:'FontAwesome';
}

#menu ul li a:link,#menu ul li a:visited {
	text-decoration: none;
	background: url(images/line_menu.jpg) repeat-y;
}
#menu ul li:last-child a
{
	padding-right: 0px;
}
#menu ul li a:hover,#menu .current-cat a,#menu .current-category-ancestor a,#menu .current-cat-parent a,#menu .select a,#menu li.current-menu-item a,#menu li.current-menu-parent a, #menu li.current-post-ancestor a
{
	color: #aaa;
	text-decoration: none;
}

#menu ul li ul {
	display: block;
	position: absolute;
	left: 0px;
	margin: 0px 0px 0px 4px;
	padding: 0px;
	visibility: hidden;
	border-bottom: 1px solid #afafaf;
	z-index: 95;
}

#menu ul li ul li {
	display: list-item;
	float: none;
	background: none;
	padding: 0px;
	font-size: 12px;
}

#menu ul li ul li ul {
	top: 0px;
	margin: 0px;
}

#menu ul li ul li a,#menu .select ul li a {
	width: 150px;
	height: auto;
	font: bold 11px Arial;
	padding: 3px 10px;
	margin: 0px;
	background: #f9f9f9;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	color: #222;
	border-top: 1px solid #afafaf;
}

#menu ul li ul li a:hover {
	background: #f0f0f0;
	color: #222;
	text-decoration: none;
}

/* 8. Container */
#wrapper {
	background: #fff;
	width: 960px;
	margin: 0px auto 0px auto;
	border: 1px solid #bbb;
	border-bottom: none;
	box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

#inner {
	background: #fff;
	width: 930px;
	padding: 5px 15px 9px 15px;
}

.column-left {
	float: left;
	background: #fff;
	width: 615px;
	padding: 0px 0px 0px 0px;
	border-right: 1px solid #ddd;
}
#column1 {
	float: left;
	background: #fff;
	width: 600px;
	padding: 0px 15px 0px 0px;
}

/* 9. Featured News */
#featured {
	background: #fff;
	margin: 0px 0px 0px 0px;
}

#featured h1 {
	margin: 0px 0px 5px 0px;
	font: 20px/22px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

#featured h2 {
	margin: 10px 0px 3px 0px;
	font-weight: bold;
	font: 13px/16px Arial,Helvetica,Tahoma,sans-serif;
}
#featured .title_l
{
	float: left;
	margin-right: 10px;
	width: 90px;
}
#featured .title_r
{
	float: left;
	line-height: 18px;
	width: 135px;
	height: 90px;
	overflow: hidden;
}
#featured h2 img
{
}
#featured h1 a, #featured h2 a {
	color: #222;
	font-weight: bold;
}
#featured h2 .title_r a, #featured h2 .title_l a {
	color: #222;
	font-weight: normal;
}
#featured h2 a:hover
{
	color: #B70712;
	text-decoration: none;
}
.featuredthumb {
	position: relative;
}

.featuredpost {
	width: 340px;
	left: 0px;
	bottom: 4px;
	padding: 10px 5px;
	min-height: 55px;
}
.featuredpost .icon_photo, .featuredpost .icon_video{
	color: #fff;
}
.featuredpost a {
	font: 16px/19px Arial,Helvetica,Tahoma,sans-serif;
	color: #fff;
	font-weight: bold;
}

.featuredpost a:hover {
	font: 16px/19px Arial,Helvetica,Tahoma,sans-serif;
	color: #e0e0e0;
	font-weight: bold;
	text-decoration: none;
}

/* 10. Breaking News*/
#breaking {
	background: #fff;
	width: 600px;
	padding: 0px 0px 10px 0px;
}

.breakingbox {
	display: inline;
	float: left;
	background: #f5f5f5;
	width: 142px;
	height: 170px;
	margin: 5px 10px 0px 0px;
	border-bottom: 1px dotted #ccc;
}
.item_hdlast
{
	margin: 5px 0px 0px 0px !important;
}
.breakingbox h2 {
	padding: 0px 5px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* 11. Postbox */
.postbox {
	width: 600px;
	padding: 0px 0px 8px 0px;
}

.postbox h2 {
	margin: 3px 0px 5px 0px;
	font: 15px/18px Arial,Helvetica,Tahoma,sans-serif;
	font-weight: bold;
}

.postbox h2 a,.postbox h2 a:visited {
	color: #ff7200;
}

.postbox h2.normal {
	margin-top: 0px;
	font-weight: normal;
}
.postbox .item_list h2.normal_small
{
	font-size:13px;
	text-align: left;
}
.postbox ul {
	margin: 10px 0px 0px 0px;
}


.postbox li a,.postbox li a:visited {
	color: #0b37f1;
}

.boxleft {
	float: left;
	width: 295px;
	margin: 10px 0px 0px 0px;
}

.boxright {
	float: right;
	width: 295px;
	margin: 10px 0px 0px 0px;
}

#featured .boxleft {
	float: left;
	width: 350px;
	padding: 5px;
	background: #BB0F1D;
	margin: 0px 0px 0px 0px;
}

#featured .boxright {
	float: right;
	font-size: 13px;
	width: 255px;
	margin: 0px 0px 0px 0px;
}
.fead-item
{
	background: url(images/sub1_bg.jpg) repeat-x top right;
	height: 89px;
	padding: 15px 10px 10px 10px;
}
#featured .boxright h2:first-child {
	margin-top: 0px;
}
#featured .boxright .date{
	font-size: 11px;
	color: #B70712;
	text-transform: uppercase;
}
.date {
	font-size: 11px;
	color: #B50007;
	text-transform: none;
}
.dateanninh
{
	font-size: 11px;
	color: #999999;
	clear: both;
}

.gray {
	font-size: 9px;
	color: #666;
}

.readmore a {
	font-size: 11px;
	font-style: italic;
	color: #ff7b05;
}

.readmore a:hover {
	font-size: 11px;
	font-style: italic;
	color: #ff5400;
}

/* 12. Content */
#fullcontent {
	float: left;
	background: #fff;
	width: 930px;
	margin: 0px 0px 15px 0px;
}

#content {
	float: left;
	background: #fff;
	width: 600px;
	padding: 0px 15px 15px 0px;
	border-right: 1px solid #ddd;
}

h2.pagetitle {
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

h2.pagetitle a,h2.pagetitle a:hover {
	color: #222 !important;
	text-decoration: none;
}

h1.pagetitle {
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

h1.pagetitle a,h1.pagetitle a:hover {
	color: #222 !important;
	text-decoration: none;
}

.posttitle {
	margin: 0px 0px 10px 0px;
	font: 18px/20px Arial,Helvetica,Tahoma,sans-serif;
	font-weight: bold;
	color: #2854BB;
}

.posttitle a,.posttitle a:visited {
	color: #222;
}

.postmeta {
	width: 100%;
	margin: 0px 0px 5px 0px;
}

.postmeta .comment {
	background: url(images/comment.png) no-repeat right 0px;
	padding: 0px 20px 0px 0px;
}

/* 13. Entry */
.entry {
	padding: 15px 0px 10px 0px;
	color: #222;
	line-height: 1.6em;
	border-top: 1px solid #ddd;
	font-size: 14px;
}

.entry p {
	padding-bottom: 10px;
	text-align: justify;
}

.entry div p.wp-caption-text {
	text-align: center;
}

.entry div {
	text-align: justify;
}

.entry strong {
	font-weight: bold;
}

.entry em {
	font-style: italic;
	font-weight: normal;
}

.entry strong em,.entry em strong {
	font-style: italic;
	font-weight: bold;
}

.entry h1 {
	font: 22px/24px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry h2 {
	font: 20px/22px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry h3 {
	font: 18px/20px Tahoma, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry h4 {
	font: 16px/18px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry h5 {
	font: 14px/16px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry h6 {
	font: 13px/15px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0px 0px 7px 0px;
}

.entry a,.entry a:visited {
	color: #FF7200;
}

.entry a:hover {
	color: #B50007;
	text-decoration: underline;
}

.entry a img {
	border: none;
}

.entry ul {
	margin: 0px 0px 0px 7px;
	padding-bottom: 10px;
	list-style: none;
}
.entry ul li
{
	background: url(images/1.gif) 0px 5px no-repeat;
	padding-left: 15px;
}
.entry ol {
	margin: 0px 0px 10px 25px;
	list-style-type: decimal;
}

.entry ol ol {
	list-style: upper-alpha;
}

.entry ol ol ol {
	list-style: lower-roman;
}

.entry ol ol ol ol {
	list-style: lower-alpha;
}

.entry ul ul,.entry ol ol,.entry ul ol,.entry ol ul {
	margin-bottom: 0px;
}
/*.entry ul li { background: url(images/dot-gray.gif) no-repeat 0 7px; padding: 2px 0px 3px 10px; font-size: 12px; line-height: 15px; }*/
.entry ol li {
	padding: 3px 0px 3px 0px;
	font-size: 12px;
	line-height: 15px;
}

.entry li a:link,.entry li a:visited {
	color: #222;
}

.entry li a:hover {
	color: #B50007;
}

.entry li ul {
	margin: 0px;
	padding: 0px;
}

.entry del {
	text-decoration: line-through;
	color: #aaa;
}

.entry ins {
	text-decoration: underline;
	font-weight: bold;
}

.entry blockquote {
	margin: 20px 0;
	padding: 15px 15px 1px 15px;
	background: #FCF4F4;
	border: 1px solid #ccc;
	border-width: 1px 0px;
	font-family: Arial ,Georgia, "Times New Roman", Times, serif;
}

.entry blockquote p,blockquote a,blockquote {
	color: #000;
	font-style: italic;
	font-size: 1em;
}

.entry dfn {
	font-weight: bold;
}

.entry pre,.entry code,.entry tt {
	margin: 1.5em 0px;
	white-space: pre;
	display: block;
}

.entry pre,.entry code,.entry tt {
	font: 0.8em 'andale mono', 'monotype.com', 'lucida console', monospace;
	line-height: 1.7;
	background: #f5f5f5;
	overflow: auto;
	padding: 1em;
	color: #999;
}

.entry hr {
	background: #e6e6e6;
	color: #e6e6e6;
	clear: both;
	width: 100%;
	height: 1px;
	margin: 15px 0px;
	border: none;
}

.entry input,.entry textarea {
	font-size: 1em;
	padding: 3px;
}

.tags {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	color: #CE0019;
	font-size: 13px;
	text-align: left !important;
}
.buttonFilter{white-space: nowrap !important;}
.baiviet {
	background: #fff url(images/baiviet.gif) no-repeat 0px 0px;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
	color: #ff7b05;
}

.tags a,.tags a:visited {
	color: #222;
	text-decoration: none;
}

.tags a:hover {
	color: #B50007;
	text-decoration: underline;
}
.single_share
{
	border: 1px solid #B50007;
	display: inline-block;
	padding: 7px 10px 7px 10px;
	margin-top: 10px;
	background: #FCF4F4;
	width: 578px;
	margin-bottom: 5px;
}
.single_share_left
{
	float:left;
	width: 278px;
	border-right: 1px solid #B50007;
	padding-right: 0px;
	margin-right: 10px;
}
.left_share{
	width: 301px;
	padding-right: 5px !important;
}
.title_face
{
	color:#B50007; 
	padding-bottom: 5px;
	font-size: 1.1em;
	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-style: normal;
}
.single_share_right
{
	float:left;
	width: 280px;
}
.right_share{
	width: 260px !important;
}
.single_share_right .fb-share-button{
	margin-right: 3px;
}
/* Paths */
#paths {
	width: 580px;
	border: 1px solid #ddd;
	float: left;
	margin-bottom: 15px;
	padding: 6px 10px;
	overflow: hidden;
	font-size: 12px;
	color: #444;
}

#paths a,#paths a:visited,#paths strong {
	padding: 5px 0px;
}

#paths strong {
	font-weight: bold;
}

#paths a {
	color: #B50007;
	text-decoration: underline;
}

#paths a:hover {
	color: #FF7200;
	text-decoration: none;
}

#paths span.padthiconhome {
	padding-left: 0;
	font-size: 14px;
	color: #B50007;
	margin-right: 5px;
	font-family: "FontAwesome";
}

/* 15. Archive */
.archive {
	padding: 15px 0px;
	border-bottom: 1px solid #ddd;
}
.archive:last-child{
	border-bottom: 0px;
}
.archive .date{
	font-size: 11px;
	color: #666;
	text-transform: uppercase;
}
.archive .categories-links{
	color: #666;
	font-weight: bold;
}
.archive .categories-links:hover{
	color: #B50007;
	text-decoration: none;
}
.archive img {
	padding: 0px 10px 0px 0px;
}
.archive_top img {
	padding: 2px !important;
	margin-right: 10px;
	-webkit-border-radius: 5px; 
	-moz-border-radius:    5px; 
	border-radius: 5px; 
	border: 1px solid #ccc;

}
.archive h2 {
	margin: 0px 0px 8px 0px;
	font: 16px/18px Arial,Helvetica,Tahoma,sans-serif;
}

.archive h2 a,.archive h2 a:visited {
	color: #B50007;
}
.archive h2 a:hover
{
	color:#FF7200;
	text-decoration: none;
}





.maincat{
	background: url("images/bg_cat_title.jpg") no-repeat scroll center -25px transparent !important;
}
.titlecat{	
	text-align: center;
	width: 100%;
	padding: 5px 0 18px;
	min-height: 40px;
}
.titlecat .cattitle{
	text-align: center;
	padding-top: 8px;
	font-weight: bold;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 1.4em !important;
	text-transform: uppercase;
	color: #b70714;
}
.archivetop{
	display: inline-block;
	width: 100%;
	margin-bottom: 12px;
	padding: 0px !important;
	border: 0px !important;
}
.archive_small {
	border-bottom: 1px dotted #ddd;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
}
.archive_small:last-child{
	border-bottom: 0px;
}
.archive_small .date{
	font-size: 11px;
	color: #666;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 5px;
}
.archive_small img {
	padding: 0px 10px 0px 0px;
}
.archivetop .catthumb{
	width: 250px;
	float: left;
}
.archivetop .infocate{
	width: 320px;
	background: #b70714;
	float: left;
	min-height: 158px;
	padding: 10px 15px 15px 15px;
	color: #fff;
}
.archivetop .infocate .desccate{
	font-size: 13px;
	text-align: justify;
	color: #fff;
	line-height: 20px;
}
.archivetop .infocate .desccate:first-letter{
	float: left;
	font-size: 380%;
	margin-right: 6px;
	font-style: italic;
	margin-top: 0px;
	line-height: 40px;

}
.archivetop .infocate h2 a, .archivetop .infocate h2 a:visited {
	color: #fff;
	font-weight: bold;
}
.archivetop .infocate h2 a:hover{
	color:#FFB5B9;
	text-decoration: none;
}
.infocate .icon_photo, .infocate .font_video, .infocate .font_photo{
	color: #fff;
}
.archive_news{
	float: left;
	margin-right: 12px;
	width: 192px;

}
.itemcatlast{
	margin-right: 0px !important;
}
.archivetop img {
	padding: 0px !important;
	margin-right: 0px;

}
.archive_news h2, .archivetop h2 {
	margin: 7px 0px 8px 0px;
	font: 14px/18px Arial,Helvetica,Tahoma,sans-serif;
}

.archive_small h2 {
	margin: 0px 0px 8px 0px;
	font: 12px/17px Arial,Helvetica,Tahoma,sans-serif;
}

.archive_small h2 a,.archive_small h2 a:visited, .archive_news h2 a {
	color: #B50007;
	font-weight: bold;
	font-size: 13px;
	line-height: 17px;
}
.archive_small h2 a:hover, .archive_news h2 a:hover
{
	color:#FF7200;
	text-decoration: none;
}
.archive_news .desccate{
	font-size: 13px;
	text-align: justify;
	line-height: 19px;
}
.listtoppostcat{
	display: inline-block;
	width: 100%;
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.showdailyview{
	float: left;
	margin-right: 0px;
	width: 192px;
}
.title_topview{
	background: #bb0f1d;
	padding: 7px 10px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.showdailyview li{
	list-style: none;
	background: #f5f5f5;
	margin: 0px 15px 10px 0px;
    padding-bottom: 5px;
}
.showdailyview li img{
	margin-bottom: 5px;
}
.showdailyview li a{
	font-size: 12px;
	color: #bb0f1d;
	font-weight: bold;
}
.showdailyview li a.title_weekly_post{
	padding: 0;
	line-height: 16px;
}
.showdailyview li a:hover{
	color: #81040e;
	text-decoration: none;
}
.listcatsmall{
	float: right;
	padding-left: 15px;
	width: 393px;
	background: #fff url(images/line_subcat.jpg) repeat-y left top;
}
.fulllist{
	float: none !important;
	width: 100% !important;
	background: none !important;
	padding-left: 0px !important;
}
.loading_ajaxcat {
    background: url("images/ajax-loader.gif") no-repeat scroll center center transparent;
    display: none;
    height: 32px;
    margin-top: 25px;
    width: 100%;
}
.smallleft{
	float: left;
	width: 100px;
	margin-right: 15px;
}
.smallleftfull{
	width: 130px !important;
}
.smallright{
	float: left;
	width: 277px;
}
.smallrightfull{
	width: 455px !important;
}
.smallright .desc{
	text-align: justify;
	font-size: 12px;
	line-height: 17px;
	display: inline-block;
}

.listposttag{
	display: inline-block;
	width: 100%;
	border-top: 1px solid #ddd;
	padding-top: 8px;
	margin: 7px 0px 0px 0px;
}
.listposttag span.item-cat{
	list-style: none;
	margin: 0px 4% 0px 0px;
	padding: 0px 0 0 4%;
	float: left;
	position: relative;
	width: 44%;
	line-height: 16px;
	background: url(images/1.gif) no-repeat 0px 4px;
}
.listposttag span.icon-item{
	position: absolute;
	top: -14px;
	left: 0px;
	color: #B50007;
	font-family: "FontAwesome";
	font-size: 16px;
	font-weight: bold;
	background: #fff;
	display: none;
}
.listposttag span.item-cat-last{
	margin-right: 0 !important;
}
.listposttag span.item-cat a{
	font-size: 11px;
	color: #222;
}
.listposttag span.item-cat a:hover{
	color: #B50007;
	text-decoration: none;
}

/* 16. Images */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
}

img.alignnone {
	padding: 0px;
	margin: 0px 0px 10px 0px;
	display: inline;
}

img.alignright {
	padding: 0px;
	margin: 0px 0px 10px 10px;
	display: inline;
}

img.alignleft {
	padding: 0px;
	margin: 0px 10px 10px 0px;
	display: inline;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height: auto !important;
}

.alignright {
	float: right;
	margin: 0px 0px 10px 10px;
}

.alignleft {
	float: left;
	margin: 0px 10px 10px 0px;
}
/*.entry img{
	background: #F7F7F7;
	max-width: 590px;
	text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}*/
.wp-caption {
	background: #F7F7F7;
	max-width: 598px;
	text-align: center;
	padding: 4px 0px 5px 0px;
	border: 1px solid #e6e6e6;
}

.wp-caption img {
	margin: 0px 5px 5px;
	padding: 0px;
	border: 0px;
}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 0px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
blockquote .wp-caption, blockquote iframe{max-width: 560px;}
blockquote .wp-caption img{max-width: 590px;}
/* 17. Sidebar */
#sidebar {
	float: right;
	background: #fff;
	width: 300px;
}

#sidebar h1.widgettitle {
	color: #b50007;
}

.widgettitle:before {
    content: " ";
    height: 25px;
    padding: 1px 12px 0 0;
    background: url("images/icon_d.png") no-repeat center left;
    display: block;
    float: left;
    width: 12px;
    margin-left: 5px;
}

#sidebar li ul {
	border: none;
}

#sidebar a,#sidebar a:visited {
	color: #222;
}
#sidebar .widgetbox .widgetnews a
{
	color: #B50007;
}
#sidebar .widgetbox .widgetnews a:hover
{
	text-decoration: underline;
}
#sidebar .widgetbox .chuyende a
{
	color: #222 !important;
}
#sidebar .widgetbox .chuyende .date
{
	color: #B50007;
}
#sidebar .widgetbox .chuyende a:hover
{
	text-decoration: underline;
	color: #B50007 !important;
}
#sidebar .textwidget a.hopthu {
	color: #FF7200;
	font-size: 13px;
	font-weight: bold;
}

#sidebar .textwidget a.hopthu:hover {
	color: #B50016;
}
/*
#___plusone_0,#___plusone_2,#___plusone_20 {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
}*/

#sidebar a:hover {
	color: #B50007;
}

.widgetbox {
	margin: 10px 0px 10px 0px; /*padding-bottom: 15px;*/
}

.widgetnews {
	margin: 0px 0px 1px 0px;
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
}

.widgetnews img {
	float: left;
	padding: 0px 10px 0px 0px;
}

.adtext {
	margin-bottom: 10px;
	color: #999;
	font-size: 10px;
	text-transform: uppercase;
}

#sidebar .widgetbox .textwidget ul {
	list-style: none;
	margin: 0px;
}

#sidebar .widgetbox .textwidget ul li {
	clear: both;
	margin-left: 0px;
	padding: 2px 0 5px 15px;
	width: 280px;
	background: url("images/icon2.gif") no-repeat scroll 0 8px transparent;
}
.qflickr-title
{
	padding-top: 5px;
}
div.widgetbox ul li {
	list-style: none;
	padding: 2px 0 6px 15px;
	background: url("images/icon2.gif") no-repeat;
	background-position: 0px 6px;
}

div.widgetbox ul {
	list-style: none;
	margin: 0px !important;
}

div#subscribe ul li {
	background: transparent;
	padding: 0px;
	text-align: center;
}
/* 18. Subscribe */
#subscribe {
	background: #fafafa url(images/graybg.png) repeat-x scroll center bottom;
	padding: 8px 5px;
	border: 1px solid #ddd;
	font-size: 90%;
}

.subscribe_icons {
	width: 285px;
	margin: 0px auto;
}

.subscribe_icons li {
	display: inline;
	float: left;
	margin: 0px 2px 5px 2px;
	width: 62px;
	text-align: center;
	font-size: 11px;
}

.subscribe_icons a {
	display: block;
	padding: 40px 0 2px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
}

.subscribe_icons a:hover {
	color: #444;
	text-decoration: none;
	-moz-box-shadow: 0 2px 4px hsla(0, 0%, 0%, .35);
	-webkit-box-shadow: 0 2px 4px hsla(0, 0%, 0%, .35);
}

.subscribe_icons .subscribe_buzz a {
	background: url(images/buzz.png) center top no-repeat;
}

.subscribe_icons .subscribe_twitter a {
	background: url(images/twitter.png) center top no-repeat;
}
.subscribe_twitter {
	background: url(images/ic_twitter.png) center top no-repeat;
}
.subscribe_icons .subscribe_facebook a {
	background: url(images/facebook.png) center top no-repeat;
}
.subscribe_facebook {
	background: url(images/ic_facebook.png) center top no-repeat;
}
.subscribe_icons .subscribe_rss a {
	background: url(images/rss.png) center top no-repeat;
}

.subscribe_icons .subscribe_email a {
	background: url(images/email.png) center top no-repeat;
}
.subscribe_email span
{
	padding-top: 5px;
}
.subscribe_icons li.subscribe_email {
	display: block;
	margin-top: 5px;
}

/* 19. Tabber */
.tabber {
	width: 298px;
	margin: 0px 0px 5px 0px;
}

.tabber ul {
	background: #fff;
}

.tabs {
	display: block;
	margin: 0px 1px 0px 0px;
}

.tabs li {
	float: left;
	display: inline;
	background: #f9fafa url(images/graybg.png) repeat-x;
}

.tabs li a {
	display: block;
	margin: 0px 1px 0px 0px;
	padding: 2px 8px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.tabs li a:hover {
	color: #B50007;
	text-decoration: none;
}

.tabs li a.selected,.tabs li a.selected:hover {
	background: #fff;
	color: #B50007;
	border-bottom: 1px solid #fff !important;
}

.tabcontent {
	width: 278px;
	margin: -1px 0px 0px 0px;
	padding: 10px 10px 5px 10px;
}

.tabcontent li {
	list-style: decimal outside;
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 5px 0px;
	color: #666;
}

/* 20. Widgets */
.halfwidth .textwidget {
	text-align: left;
}

.textwidget p {
	text-align: center;
}

.widget {
	width: 300px;
}
/*.widget ul li { background: url(images/dot-gray.gif) no-repeat left 9px; padding: 3px 0px 3px 10px; }*/
.widget ul li {
	background: no-repeat left 9px;
	padding: 3px 0px 0px 0px;
	text-align: left;
}

.halfwidth ul li {
	/*float: left;
	width: 140px;*/
}

h1.widgettitle,h2.widgettitle {
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	height: 25px;
	border: 1px solid #f0ae5a;
	border-top: 1px solid #B50007;
	border-left: 0px solid #B50007;
	border-right: 0px solid #B50007;
	border-bottom: 1px solid #fff;
	line-height: 27px;
	background: url(images/back_menu.png);
}

h1.widgettitle a, h2.widgettitle a
{
	color: #b50007 !important;
	text-decoration: none;
}
h1.widgettitle a:hover, h2.widgettitle a:hover
	{
	color: #ff7200 !important;
	text-decoration: none;
}

/* 21. Calendar*/
#wp-calendar {
	width: 100%;
}

#wp-calendar,#wp-calendar th,#wp-calendar caption {
	text-align: center;
}

#wp-calendar th {
	background: #f5f5f5;
	padding: 3px;
	border: 1px solid #f0f0f0;
}

#wp-calendar td {
	padding: 5px 2px;
	border: 1px solid #f0f0f0;
}

#wp-calendar caption {
	background: transparent;
	font-weight: bold;
	padding: 3px 0px 7px 0px;
	color: #333;
}

#wp-calendar #today {
	background: #f5f5f5;
	font-weight: bold;
}

/* 22.Comments */
#comments {
	/*border-top: 2px solid #CD0019;*/
	position: relative;
	margin-top: 0px;
	padding: 20px 0px 0px 0px;
}

#comments h3 {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding-bottom: 0px;
}

#comments .comment {
	margin-top: -1px !important;
	list-style-type: none;
}

#comments .avatar {
	float: left;
}

#comments img.avatar {
	background: #fff;
	padding: 2px;
	border: 1px solid #e6e6e6;
}

#comments .comment-right {
	margin-left: 0px;
}

#comments .comment .comment-container {
	padding: 3px 0px 15px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px dotted #ccc;
}
#comments .comment-head .name .icon_face a, #comments .comment-head .name .icon_face
{
	display: inline-block;
	width: 36px;
	height: 32px;
	font-size: 0px;
}
#comments .comment-head .date a,#comments .comment-head .edit {
	font-size: 11px;
	color: #777;
	padding: 0px 5px 0px 0px;
}

#comments .comment-entry {
	color: #555;
	padding: 0px;
	font-size: 12px;
	margin: 0px;
}
.comment_shadow
{
}
#comments .comment-entry p {
	margin: 0 0 0px 0;
	line-height: 20px;
	text-align: justify;
	font-size: 13px;
}

#comments li {
	padding: 15px;
	border: 1px solid #ddd;
}

#comments .navigation a {
	display: block;
	margin: 15px 0 0 0;
	text-decoration: none;
}

#comments .navigation a:hover {
	
}

#comments .unapproved {
	text-align: center;
	padding: 5px;
}

/* 23. Comments Form */


#respond .left {
	float: left;
	width: 200px;
}

#respond .right {
	float: left;
	width: 350px;
}

#commentform {
	margin: 15px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

#commentform input.txt {
	color: #555;
	width: 180px;
	font-size: 12px;
	margin: 0px 10px 10px 0px;
}

input.txt,textarea {
	background: #f5f5f5 !important;
	border: 1px solid #ddd;
	border-color: #ddd #eee #eee #ddd;
	padding: 3px 5px;
}

input.txt:focus,textarea:focus {
	background: #FFF !important;
	border: 1px solid #ccc;
	color: #111 !important;
}

/* 24. Pagination */
.pagenavi {
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #ddd;
	margin-top: 15px;
}

.nextprev a {
	padding: 7px 0px;
}

.device_mobile
{
	float: left;
	width: 150px;
	margin-right: 10px;
}
.device_mobile img
{
	float: left;
	margin-right: 5px;
}
.device_mobile .phienban
{
	text-transform: uppercase;
	font-size: 11px;
	clear: both;
	font-weight: bold;
	display: block;
	color:#5A5A5A;
}
.device_mobile .didong
{
	text-transform: uppercase;
	font-size: 13px;
	color:#5A5A5A;
	font-weight: bold;
}


.device_mobilev2
{
	float: left;
	width: 190px;
	text-align: right;
	margin-right: 10px;
}
.device_mobilev2 img
{
	float: left;
	margin-right: 5px;
}
.device_mobilev2 .phienban
{
	text-transform: uppercase;
	font-size: 11px;
	clear: both;
	padding-bottom: 3px;
	font-weight: bold;
	display: block;
	color:#7B7B7B;
}
.device_mobilev2 .didong
{
	text-transform: uppercase;
	font-size: 20px;
	color:#7B7B7B;
	font-weight: 500;
}

#searchformv2
{
	border: 1px solid #CCCCCC;
}
#searchsubmit1 {
	background: #9E0618;
	border: 1px solid #7F0312;
	color: #fff;	
	height: 22px;	
	float: right;
	margin-top: 3px;
	width: 137px;
}
#searchsubmit {
	background: #9E0618;
	border: 1px solid #7F0312;
	color: #fff;	
	height: 22px;	
	width: 75px;
}
#searchsubmitv2 {
	border: 0px;
	background: none;
	cursor: pointer;
	color: #222;	
	height: 22px;	
	width: 20px;
	font-family: "FontAwesome";
}
#searchform {
    border: 1px solid #CCCCCC;
}
input.gsc-input {
	height: 25px;
}

.cse input.gsc-search-button,input.gsc-search-button {
	background: #9E0618 !important;
	border: 1px solid #7F0312 !important;
	color: #fff !important;
	height: 25px;
	padding: 0px 5px !important;
	cursor: pointer !important;
	width: 75px !important;
}

#wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	/*margin: -17px auto;*/
	width: 960px;
}

#bigline {
	height: 20px;
	background: #fff;
	padding: 5px 5px 5px 10px;
	color: #666;
}

ul#ticker {
	height: 21px;
	overflow: hidden;
	text-align: right;
}

ul#ticker {
	list-style: none outside none;
}

ul#ticker li {
	margin-bottom: 2px;
}

ul#ticker li a {
	color: #666;
}
ul#ticker li a:hover
{
	color:#DB1610;
	text-decoration: none;
}
ul#ticker li span.date {
	color: #777;
}

#youtubearea h3 {
	border: 0px;
}

#youtubearea h5 {
	text-align: center;
	font-weight: bold;
	line-height: 15px;
	text-transform: uppercase;
	margin-bottom: 7px;
	margin-top: 7px;
}

#youtubearea p {
	text-align: center;
}

#youtubearea p.bd {
	border-bottom: 1px dotted #CCCCCC
}

.flickr {
	text-align: center;
}

#sidebar .widgetbox ul {
	list-style: disc outside none;
	margin-left: 13px;
}

.widget .widgetbox table td h3 {
	width: 170px;
	font-size: 12px;
}

#wrapper #logo img {
	width: 960px;
}

.wp-caption img {	
    max-width: 588px;
    height: auto;
}

.flickr .widgettitle {
	text-align: left;
}

/* For Newstube theme */
ul.relatedpost,ul.otherpost,ul.newpost {
	list-style: none;
	border: 0px !important;
}

ul.relatedpost li,ul.otherpost li,ul.newpost li {
	list-style: none;
	background: url("images/dot-gray.gif") no-repeat scroll 0 10px
		!important;
	padding: 0px 0px 0px 10px;
}

ul.relatedpost h2,ul.otherpost h3,ul.newpost h3 {
	font-size: 12px;
	margin: 0;
	float: left;
	padding: 0px;
	line-height: 26px !important;
	font: 12px/17px Arial, Helvetica, sans-serif;
}

#cse-search-box #q {
	border: 1px solid #CCCCCC;
	height: 20px;
	cursor: auto;
	padding: 0px !important;
	margin-left: 0;
	color: #000;
	background: transparent !important;
	width: 210px;
}

ul.relatedpost span {
}
ul.otherpost span,ul.newpost span {
	line-height: 26px;
}

ul.otherpost .entry-date,ul.newpost .entry-date {
	margin-left: 5px;
}

div#otherposttitle,div#newposttitle {
	font-size: 14px;
	font-weight: bold;
}

#feedform {
	float: left;
	width: 100%;
}

#feedform #textfeedform {
	width: 220px;
	float: left;	
	height: 35px;
}

#feedform #submitfeed {
	border: medium none;
	width: 75px;
	height: 22px;
	background: none repeat scroll 0 0 #9E0618;
	color: #FFF;
	margin-left: 3px;
	font-size: 13px;
	font-weight: normal;
}
/* Life Facebook */
.like_face
{
	display: inline-block;
	padding-top: 8px;
	margin-left: -10px;
	vertical-align: top;
}

/* Comment wp and Facebook */
.commentlist
{
	padding: 15px 0px 0px;
}

#comments .commentlist li.sub_com
{
	background: #faf7ed;
	padding-top: 25px;
	clear: both;
	display: block;
	margin-bottom: 15px;
	border: 1px solid #EDEDED;
}
#comments .commentlist li
{
	border: 0px solid #9E0618;
	padding: 15px 0px;
}
#comments .commentlist li .children li
{
	border: 0px solid #DDDDDD;
}
#comments .commentlist li .children li.depth-2
{
	padding-right: 10px;
	padding-bottom: 0px;
}
#comments .commentlist li .children li.depth-3, #comments .commentlist li .children li.depth-4
{
	padding-right: 0px;
	padding-bottom: 0px;
}
#respond .thongtin_comment 
{
	display: inline-block;
	width: 100%;
}
#respond .comment_hoten
{
	float:left;
	width: 192px;
	margin-right: 10px;
}
#respond .comment_mail
{
	float:left;
	width: 192px;
	margin-right: 10px;
}
#respond .comment_web
{
	float:left;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
li.sub_com #respond .comment_mail, li.no_sub_com #respond .comment_mail
{
	float:none;
}
#respond .comment_hoten input, #respond .comment_mail input, #respond .comment_web input
{
	width: 185px;
	background: #fff !important;
	color:#7F0F0F;
	padding: 0px 0px 0px 5px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
}
li.no_sub_com #commentform textarea, li.sub_com #commentform textarea
{
	width: 350px !important;
}
li.no_sub_com #commentform textarea, li.sub_com #commentform textarea
{
	width: 550px !important;
}
li.depth-2 #commentform textarea
{
	width: 530px !important;
}
li.depth-3 #commentform textarea
{
	width: 510px !important;
}
li.depth-4 #commentform textarea
{
	width: 490px !important;
}
li.depth-5 #commentform textarea
{
	width: 470px !important;
}
li.no_sub_com #respond .comment_hoten input, li.no_sub_com #respond .comment_mail input, li.no_sub_com #respond .comment_web input, li.sub_com #respond .comment_hoten input, li.sub_com #respond .comment_mail input, li.sub_com #respond .comment_web input
{
	width: 220px;
}
li.sub_com #respond .comment_mail, li.sub_com #respond .comment_web, li.sub_com #respond .comment_hoten, li.sub_com #respond .comment_mail, li.sub_com #respond .comment_web, li.sub_com #respond .comment_hoten
{
	float:none;
	width: 192px;
	margin-right: 10px;
}
.icon_face
{
	display: inline-block;
	width: 36px;	
	vertical-align: top;
	height: 32px;
	margin-left: 5px;
}
.share
{
	display: inline-block;
	margin-top: 3px;
}

.footer-container-01 h2{
	font-size: 12px;
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}
.footer-container-01 .footer-container-02 .foor-row1 {
    background: url(images/line_ngang.jpg) no-repeat right bottom;
    padding-bottom: 25px;
}
.footer-container-01 {
	width: 100%;
	margin: -1px auto 0px auto;
	height: 293px;
	background: url("images/bgfoo.jpg") no-repeat center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}
.footer-container-01 .f_share_icon a{

	font-family: 'FontAwesome';
	font-size: 20px;
}
.footer-container-01 a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.footer-container-01 a:hover {
	text-decoration: none;
	color: #ff6600;
}

.footer-container-01 .footer-container-02 {
	margin: 0 auto;
	height: 293px;
	width: 962px;
	position: relative;
}

.footer-container-01 .footer-container-02 .box1 {
	width: 495px;
	margin-left: 220px;
	margin-top: 35px;
	float:left;
	color: #666;
	padding-right: 20px; 
	background: url(images/line_dung.jpg) right top no-repeat;
}
.footer-container-01 ul {
	list-style-type: none;
	padding: 5px 0px 0px 0px;
}
.footer-container-01 ul li {
	background: url(images/bullet.png) no-repeat;
	background-position: 0px 7px;
	padding-left: 12px;
	padding-bottom: 1px;
	list-style-type: none;
}
.footer-container-01 .box3 ul li
{
	padding-bottom: 3px;
}
.footer-container-01 .boxv3 ul li
{
	padding-bottom: 3px;
}
.footer-container-01 .box1 ul li {
	margin-top: 0px;
	background: none;
	overflow: hidden;
	text-align: right;
	padding-bottom: 7px; 
	padding-right: 0px;
}
.footer-container-01 .box1 ul li:after {
	font-family: "FontAwesome";
	font-size: 12px;
	color: #B40D0D;
	padding-left: 3px;
	content: "\f100";
}
.bg_line_fo
{
	background: url(images/line_fo.jpg) no-repeat top right;
	height: 2px;
	margin: 13px 1px 0px 0px;
}
.food_face
{
	margin-left: 220px;
	margin-top: 0px;
}
.foo_left_share
{
	width: 305px;
	float:left;
}
.contact_ntd{
	float: right;
	margin: 20px 20px 0px 0px;
}
.icon_face_f
{
	background: url(images/icon_ff.jpg) no-repeat;
	width: 50px;
	float:left;
	height: 34px;
	display: inline-block;
}
.website_rate
{
	float: left;
	width: 280px;
	font-size: 12px;
	color:#333;
	margin-top: 10px;
}
.title_face_fo span, .title_Profile_fo span 
{
	color:#B40D0D;
	font-weight: bold;
}
.foo_share_r
{
	float: left;
	width: 370px;
	margin-left: 100px;
}
.title_face_fo, .title_Profile_fo
{
	width: 215px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#333;
	font-size: 12px;
	background: url(images/line-top-title.jpg) no-repeat top left;
}
.title_contact_f{
	text-align: center;
	line-height: 22px;
}
.email_contact_f{
	text-align: center;
}
.page_face_f
{
	float:left;
	width: 240px;
}
.title_dktm
{
	color:#b40d0d;
	margin-right: 5px;
	padding-bottom: 7px;
	font-weight: normal;
	padding-left: 0px;
	font-size: 12px;
	height: 18px;
	display: inline-block;
}
.foo_share_r #feedform
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	clear: both;
	width: auto;
	margin-top: 20px;
}
#feedform form{
	border: 1px solid #cccccc;
	background: #fff;
}
.foo_share_r #feedform #textfeedform
{
	float: none;
	font-size: 12px;
	width: 220px;
	height: 35px;
	border: 0;
	padding: 0px 5px;
	margin: 0px 5px 0px 0px;
}
.foo_share_r #feedform #submitfeed
{
	background: url(images/btn_arrow.png) no-repeat center center;
	width: 30px;
	height: 35px;
	padding: 0px;
	text-indent: -990px;
	cursor: pointer;
	margin: 0px;
	color:#fff;
	font-size: 11px;
}
.f_share_icon
{
	display: inline-block;	
	text-align: center;
	clear: both;
	margin: 15px 0px 0px 55px;
}
.f_share_icon a{
	padding: 0 5px;
	color: #C4131C;
	display: inline-block;
	margin-left: 0px;
}
.f_share_icon a:hover{
	color: #F97500;
}
.footer-container-01 .box1 a span {
	font-weight: bold;
	color: #b40d0d;
}
.line_share_copy
{
	background: url(images/line_copy.jpg) no-repeat top right;
	margin-top: 10px;
	display: inline-block;
	height: 2px;
	margin-right: 0px;
	width: 435px;
}
.footer-container-01 .box1 .RSS {
	padding-right: 20px;
	height: 2px;
	display: inline-block;
	background: url("images/mRSS.png") no-repeat right center;
}
.footer-container-01 .box2 {

	float:left;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 35px;
}

.footer-container-01 .box2 span{
	color:#B40D0D;
	font-weight: bold; 
	
	
}
.footer-container-01 .boxv2 {

	float:left;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 35px;
}

.footer-container-01 .boxv2 span{
	color:#B40D0D;
	font-weight: bold; 
	
	
}
.footer-container-01 .email_contact_f a
{
	color:#B40D0D;
	font-weight: bold; 
}
.footer-container-01 .email_contact_f a:hover
{
	color:#F97500; 
}
.footer-container-01 .box3 {
	float:right;
	margin-right:10px;
	margin-top: 35px;
}
.footer-container-01 .boxv3 {
	float:left;
	margin-left:40px;
	margin-top: 35px;
}
.copyright{
	color: #fff;
	letter-spacing: 2px;
	padding-top: 3px;
	font-size: 11px;
	text-align: right;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.copyright a{
	color: #fff;
}
.copyright a:hover{
	color: #fff;
	text-decoration: underline;
}
.copyright_ntd
{
	position: absolute;
	bottom: 65px;
	right: 62px;
}
.wwwtdq
{
	text-align: right;
	margin-bottom: 5px;
}
.linkdo
{
	text-align: right;
	color: #767373;
	letter-spacing: 2px;
}
.linkdo a
{
	color: #767373;
}
.linkdo span
{
	color: #767373;
	padding: 0px 3px;
}
.linkdo a:hover
{
	color: #504c4c;
}
.icon_photo, .font_photo{font-family: 'FontAwesome'; font-weight: normal !important; color: #636262; font-size: 10px; height: 14px; display: inline-block; margin: 0px 0 0 2px;} 
.icon_video, .font_video{font-family: 'FontAwesome'; font-weight: normal !important; color: #636262; font-size: 10px; height: 14px; display: inline-block; margin: 0px 0 0 2px;}
/* Chinh sua moi */
.CateHome
{
	display: inline-block;
	width: 100%;
	padding-bottom: 5px;
}
.Category_1
{
	float:left;
	width: 292px;
	margin-top: 10px;
}
.CatImg, .imgCatehome{
	position: relative;
}
.gim_icon{
	font-family: 'FontAwesome';
	font-size: 12px;
	color: #636262;
	margin-left: 3px;
	font-weight: normal !important;  
}
.icongim{
	background: url(images/gim.png) no-repeat top right;
	position: absolute;
	top: -8px;
	width: 27px;
	height: 37px;
	display: inline-block;
	right: 10px;
}
.Category_2
{
	float:right;
	margin-top: 10px;
	width: 292px;
}
.Category_2 .CatImg
{
	text-align: right;
}
.CatTitle
{
	padding: 10px 0px 0px 0px;
}
.CatTitle a
{
	color:#B40D0D !important;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}
.CatTitle a:hover
{
	color:#FF7200 !important;
	text-decoration: none;
}
.CatDesc
{
	font-size: 13px;
	text-align: justify;
}
.gray_line
{
	color: #666666;
	font-size: 9px;
	padding: 0px 5px;
}

/*---------*/
.Catfor
{
	margin-top: 10px;	
	display: inline-block;
	width: 100%;
	padding-bottom: 5px;
}
.Categoryfor_3, .Categoryfor_4{
	margin-top: 10px;
}
.thumb_gim_right, .Categoryfor_3
{
	float: right;
	width: 292px;
}
.thumb_gim_right .thumb, .Categoryfor_3 .thumb
{
	float: right;
	margin-left: 10px;
}
.Categoryfor_2
{
	float: left;
	width: 292px;
}
.Categoryfor_2 .thumb
{
	float: right;
	margin-left: 10px;
}
.Catfor h3, .CatTitlefor h3
{
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	margin-top: -4px;
	margin-bottom: 5px;
	text-decoration: none;
}
.Catfor h3 a
{
	color:#B50007 !important;
	text-decoration: none;
}
.Catfor h3 a:hover
{
	color:#ff7200 !important;
}
.CatTitlefor h3 a
{
	color:#B50007 !important;
	text-decoration: none;
}
.CatTitlefor h3 a:hover
{
	color:#ff7200 !important;
}
.Categoryfor_1
{
	float: right;
	width: 292px;
}
.Categoryfor_1 .thumb
{
	float: right;
	margin-left: 10px;
}
.thumb_gim_left, .Categoryfor_4
{
	float: left;
	width: 292px;
}
.thumb_gim_left .thumb, .Categoryfor_4 .thumb
{
	float: right;
	margin-left: 10px;
}
.CatDescfor
{
	font-size: 13px;	
	text-align: justify;
}
.CatMoretitle
{
	margin-top: 5px;
	line-height: 22px;
	text-align: justify;
}
.CatMoretitle .date
{
	padding-right: 5px;
	vertical-align: top;
	font-size: 11px;
}
.CatMoretitle a
{
	background: url(images/bullet2.gif) no-repeat;
	background-position: 0px 4px;
	padding-right: 0px;
	font-size: 13px;
	line-height: 24px;
	padding-left: 10px;
	color:#060606;
}
.CatMoretitle a:hover
{
	text-decoration: none;
	color:#B40D0D;
}
.CatMoretitle_l
{
	margin-top: 5px;
	line-height: 22px;
	width: 295px;
	float: left;
}
.CatMoretitle_l .date
{
	padding-right: 5px;
	font-size: 12px;
}
.CatMoretitle_l ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.CatMoretitle_l ul li
{
	list-style: none;
	margin: 0px;
	vertical-align: top;
	text-align: left;
	line-height: 19px;
	display: inline-block;
	width: 100%;
	padding: 0px 0px 7px 0px;
	background: none;
}
.CatMoretitle_l ul li a
{
	padding-right: 0px;
	vertical-align: top;
	font-size: 12px;
	color:#060606;
}
.CatMoretitle_l ul li a:hover
{
	text-decoration: none;
	color:#B40D0D;
}
.CatMoretitle_r
{
	margin-top: 5px;
	line-height: 22px;
	margin-left: 10px;
	width: 295px;
	float: left;
}
.CatMoretitle_r .date
{
	padding-right: 5px;
	font-size: 12px;
}
.CatMoretitle_r ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.CatMoretitle_r ul li
{
	list-style: none;
	margin: 0px;
	text-align: left;
	line-height: 19px;
	display: inline-block;
	width: 100%;
	padding: 0px 0px 7px 0px;
	background: none;
}
.CatMoretitle_r ul li a
{
	padding-right: 0px;
	font-size: 12px;
	vertical-align: top;
	color:#060606;
}
.CatMoretitle_r ul li a:hover
{
	text-decoration: none;
	color:#B40D0D;
}
.catboxleft
{
	float: left;
	margin: 10px 0 0;
	width: 292px;
}
.postbox .catboxleft h2
{
	color:#060606 !important;
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
	text-decoration: none;
}
.postbox .catboxleft h2 a
{
	text-decoration: none;
	font-size: 14px;
	color:#B40D0D !important;
}
.postbox .catboxleft h2 a:hover
{
	color:#FF7200 !important;
}
.catboxright
{
	float: right;
	margin: 10px 0 0;
	width: 292px;
}
.catboxright .item_list
{
	display: inline-block;
	padding-bottom: 10px;
}
.catboxright img
{
	float: right;
	margin-left: 10px;
}
.postbox .catboxright h2.normal
{
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
}
.normal_small {
	width: 60%;
	text-align: justify;
}
.normal_small a{
	color: #B50007 !important;
	text-decoration: none;
}
.normal_small a:hover{
	color: #ff7200 !important;
	text-decoration: none;
}
.postbox .catboxright h2.normal a
{
	font-size: 13px;
	color:#060606 !important;
}
.postbox .catboxright h2.normal a:hover
{
	color:#B40D0D !important;
}
.CatMoretitle2
{
	margin-top: 3px;
	line-height: 22px;
	width: 295px;
	float:left;
}
.CatMoretitle2 ul
{
	margin: 5px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}
.icon_font{
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    color: #060606;
}
.column-left .icon_font{
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    color: #060606;
    float: left;
    width: 4%;
}
.CatMoretitle2 ul li
{
	list-style: none;
	margin: 0px;
	text-align: left;
	line-height: 17px;
	background: none;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 0px 0px 5px 0px;
}
.column-left .link-title{	
    float: left;
    width: 96%;
}
.CatMoretitle2 ul li a
{
	font-size: 12px;
	vertical-align: top;
	color:#060606;
}
.CatMoretitle2 ul li a:hover
{
	text-decoration: none;
	color:#B40D0D;
}
.CatMoretitle2 .date
{
	padding-left: 3px;
	padding-top: 2px;
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
}
.CatMoretitle3
{
	margin-top: 3px;
	line-height: 22px;
	width: 295px;
	float:left;
	margin-left: 10px;
}
.CatMoretitle3 ul
{
	margin: 5px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}
.CatMoretitle3 ul li
{
	list-style: none;
	margin: 0px;
	background: none;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	padding: 0px 0px 5px 0px;
	line-height: 17px;
}
.CatMoretitle3 ul li .link-title{	
    float: left;
    width: 96%;
}
.CatMoretitle3 ul li a
{
	font-size: 12px;
	vertical-align: top;
	color:#060606;
}
.CatMoretitle3 ul li a:hover
{
	text-decoration: none;
	color:#B40D0D;
}
.CatMoretitle3 .date
{
	padding-top: 2px;
	font-size: 11px;
	vertical-align: top;
}
.LogoNN div.textwidget ul li p
{
	text-align: left;
	margin-bottom: 0px;
}
.LogoNN{
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px;
}

.LogoNN div.textwidget ul li p.ChucvuLD
{
	color:#b1b1b1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
.LogoNN div.textwidget ul li p.NameLD
{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.LogoNN div.textwidget ul li p.NameLD a
{
	color: #000;
}
.LogoNN div.textwidget ul li p.NameLD a:hover
{
	color: #3b2727;
	text-decoration: none;
}
.LogoNN div.textwidget ul li.ColLogo_1
{
	float: left;
	width: 220px;
	padding: 5px 0px 0px 10px;
	margin-right: 3px;
	border-top: 3px solid #ff1111;
}
.LogoNN div.textwidget ul li.ColLogo_1 .ChucvuLD a
{
	color:#b1b1b1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.LogoNN div.textwidget ul li .ChucvuLD a:hover
{
	color:#3b2727;
	text-decoration: none;
}
.LogoNN div.textwidget ul li.ColLogo_1 .ChucvuLD a:hover
{
	color:#3b2727;
	text-decoration: none;
}
.LogoNN div.textwidget ul li.ColLogo_2
{
	float: left;
	padding: 5px 0px 0px 10px;
	margin-right: 3px;
	width: 220px;
	border-top: 3px solid #ffc000;
}
.LogoNN div.textwidget ul li.ColLogo_2 .ChucvuLD a
{
	color:#b1b1b1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
.LogoNN div.textwidget ul li.ColLogo_2 .ChucvuLD a:hover, .LogoNN div.textwidget ul li.ColLogo_4 .ChucvuLD a:hover
{
	color:#3b2727;
	text-decoration: none;
}
.LogoNN div.textwidget ul li.ColLogo_4
{
	float: left;
	padding: 5px 0px 0px 10px;
	width: 220px;
	border-top: 3px solid #ffc000;
}
.LogoNN div.textwidget ul li.ColLogo_4 .ChucvuLD a
{
	color:#b1b1b1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
/* End */
.timkiem{
	width: 100%;
	margin-bottom: 5px;
}
.widgetbox .widgetnews h2{
	display: block;
}
.entry .single_share img{
	margin-top: 3px;
}
.entry .single_share .fb-like{
	margin-right: 3px;
}
.wpzoomSocial {
	background: #F2F2F2;
	border-bottom: 1px solid #DDDDDD;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	padding: 5px 8px 0 0px;
	text-align: right !important;
	width: 592px;
}
.sharegogole
{
	width: 61px; 
	height: 22px;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.sharegogole div
{
	padding-bottom: 0px !important;	
	width: auto !important; 
}
.headline, #headline{border:1px solid #CCC;display:inline-block;padding:7px 10px; background: #F9F9F9;}  
.headline headlineTitle, #.headline headlineTitle {display:inline;font-size:14px;font-weight:700;margin-right:3px}  
.headline #togglelink, #headline #togglelink {display:inline-block;font-size:12px}  
#reference{clear:both;border:1px solid #CCC;padding:7px 10px}  
#reference .referenceTitle{list-style:none;margin:0;padding:0}  
#reference .referenceTitle li{float:left;background:none;cursor:pointer;margin:0 25px 0 0;padding:0}  
#reference .referenceTitle li:hover{text-decoration:underline}  
#reference .referenceTitle li.active{color:#336;font-weight:700;text-decoration:underline}  
.headline .headlineContent,#reference .referenceContent{clear:both} 
.headline a{color: #0645AD !important;} 

#headline #headlineContent{clear:both} 
#headline a{color: #0645AD !important;}   
#reference .referenceTitle li{height: 30px;}  
#reference {margin: 0px 0px 10px 0px}  
.image_carousel
{	
	padding: 10px 10px 10px 10px !important;
	margin: 10px 15px 5px 15px !important;
}
.image_carousel .slide_item
{
	width: 290px !important;
}

.facebook_ntd
{
	border: 1px solid #ccc;
}
.title_face
{
	text-align: center;
}

.left_share .title_face, .right_share .title_face{
	text-align: left !important;
}

.recent_post_ajax .ulmore2 li a
{
	color:#0072BC !important;
}
.recent_post_ajax .ulmore2 li a:hover
{
	color:#B50007 !important;
	text-decoration: none  !important;
}
div.headline:last-child
{
	border: 1px solid #DFE0E2 !important;
	width: 98% !important;
	padding: 7px 5px !important;
	margin-bottom: 10px !important;
}
.widget.album_flickr{
	clear: both;
	display: inline-block;

}
.widget.album_youtube{
	clear: both;
	display: inline-table;
}
.fb_iframe_widget .fb_ltr
{
	left: 0px !important; 
}
#sidebar ul.List_op1 li
{
	background: none !important;
	padding: 0px 0px 5px 0px !important;
	width: 100%;
}
.tinnoibatslide iframe
{
	height: 340px !important;
	width: 300px !important;
}
.article_clip
{
	background: #BB0F1D !important;
	border: 1px solid #BB0F1D !important;
}
.article_clip div
{
	border: 1px solid #FFFFFF !important;
	color: #FFFFFF !important;
	text-shadow: none !important;
}
.article_clip div a
{
	color: #FFFFFF !important;
}
.goole-plus-footer{
	float: left;
    margin: -5px 0px 0px;
    overflow: hidden;
    width: 90px;
    height: 30px;
}
.title-video h2{
	color: #2854BB !important;
	font-weight: bold !important;
	line-height: 28px !important;
}
.youtube-flickr-title{
	display: none  !important;
}
.youtube-slider-title{
	display: none  !important;
}
#content #other_news{
	margin-top: 10px !important;
}

/*================ Start defind style post types ==================*/
.ai-content{
	float: left;
	width: 100%
}
.ai-lideshow{
	float: left;
	width: 100%;
}
.ail-title{
	color: #2854BB;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0;
}
.ail-date{
	border-bottom: 1px solid #DDDDDD;
    float: left;
    font-size: 12px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    width: 98%;
}
.ail-des-post{
	margin-top: 10px;
	float: left;
	text-align: left;
	font-size: 13px;
	margin-left: 10px;
}
.ail-showbig{
	float: left;
	text-align: center;
	width: 98%;
	height: 660px;
	overflow: hidden;
	margin-top: 15px;
	padding: 0px 10px;
}
.ail-showbig-pre{
	background: #4b595a;
	width: 32px;
	height: 660px;
	opacity: 0.52;
	position: absolute;
	z-index: 1000;
}
.ail-showbig-pre p{
	background: url('images/albumgallery/small_left.png') no-repeat 50% 50% ;
	width: 32px;
	height: 100%;
}
.ail-showbig-next{	
	background: #4b595a;
	width: 32px;
	height: 100%;
	opacity: 0.52;
	position: relative;
	z-index: 1000;
	float: right;
}
.ail-showbig-next p{
	background: url('images/albumgallery/small_right.png') no-repeat 50% 50%;
	width: 32px;
	height: 100%;
}
.ail-showbig-img{
	position: relative;
}
.ail-showbig-img ul li{
	width: 100%;
	position: absolute;
}
.ail-showbig-img ul li img{
	width: 100%;
	height: 660px;
}
.ai-ext{
	border-top: 5px solid #fe0002;	
	padding: 10px 0px 10px;
	margin-top: 25px;	
}
.aie-comment{
	float: left;
	width: 70%;
	padding: 0px 15px;
}
.aie-comment #comments{
	border: none;
}
.aie-sidebar-right{
	float: left;
	width: 24%;
	background: #013d6f;
	color: #fff;
	padding: 16px 3px 0px 18px;
}
.aie-sidebar-right-title{
	font-size: 15px;
	font-weight: bold;
}
.aiesr-items{
	margin-top: 25px;
	padding-bottom: 25px;
}
.aiesr-items ul li {
	width: 211px;
	margin-bottom: 10px; 
	
}
.aiesr-items ul li:last-child{
	margin-bottom: 0px;
}
.aiesri-title{
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
	float: left;
}
.aiesri-title a{
	color: #fff;
}
.aiesri-img{
	background: url('images/albumgallery/pic_bg.png') no-repeat;
	width: 161px;
	height: 124px;
	float: left;
}
.aiesri-img img{
	width: 151px;
	height: 122px;
}
.aiesri-date{
	float: left;
	font-size: 13px;
	margin-top: 30px;
	margin-left: 10px;	
}
.aiesri-date p{
	color: #8c8b90;
}
.aie-sidebar-botton{
	background: #013d6f;
	color: #fff;
	min-height: 200px;
	margin-top: 15px;
	padding: 20px 0px 20px 40px;
}
.aiesb-items{
	margin-top: 20px;
	min-height: 215px;
}
.aie-sidebar-botton-title{
	font-size: 15px;
	font-weight: bold;
}
.aiesb-items ul li {
	float: left;
	width: 161px;
	margin-right: 68px;
}
.aiesb-items li:last-child{
	margin-right: 0px;
}
.aiesb-img{
	background: url('images/albumgallery/pic_bg.png') no-repeat;
	width: 161px;
	height: 124px;
}
.aiesb-img img{
	width: 151px;
	height: 122px;
}
.aiesb-date{
	margin-top: 10px;	
}
.aiesb-date p{
	float: left;	
}
.aiesb-title{
	margin-top: 5px;
	font-weight: bold;
	
}
.aiesb-title a{
	color: #fff;
} 
.ail-showsmall{
	background: #333;
	width: 98%;
	padding: 0px 10px;
	height: 122px;
	overflow: hidden;
	margin-top: 12px;
}
.ail-showsmall-pre{
	background: #4b595a;
	width: 32px;
	height: 122px;
	opacity: 0.52;
	position: absolute;
	z-index: 1000;
}
.ail-showsmall-pre p{
	background: url('images/albumgallery/big_left.png') no-repeat 50% 50%;
	width: 32px;
	height: 122px;
}
.ail-showsmall-thumb{
	width: 100%;
	height: 122px;
	overflow: hidden;	
}
.ail-showsmall-thumb-selected{	
	background: url('images/albumgallery/arrow_yf.png') no-repeat 50% 0% #fe0000;
	height: 122px !important;
	width: 157px !important;
}
.ail-showsmall-thumb-selected img{
	width: 145px !important;
	height: 111px !important;
	margin: 6px 1px 3px 6px;
}
.ail-showsmall-thumb ul li{
	width: 150px;
	height: 122px;
	float: left;
}
.ail-showsmall-thumb img{
	width: 153px;
	height: 122px;
}
.ail-showsmall-next{
	background: #4b595a;
	width: 32px;
	height: 122px;
	opacity: 0.52;
	position: relative;
	z-index: 1000;
	float: right;
	top: -114px;
}
.ail-showsmall-next p {
	background: url('images/albumgallery/big_right.png') no-repeat 50% 50%;
	width: 32px;
	height: 122px;
}
.ail-showbig-img-des{
	position: absolute;
	background: #2d2d2b;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.62;
	min-height: 30px;
	bottom: 5px;
	padding: 14px 10px 10px 10px;
	width: 600px;
	text-align: center;
	left: 155px;
}
.ail-showsmall-thumb-des{
	display: none;
}
.aie-comment .textarea_focus{
	background: url("../gimages/caution.png") no-repeat scroll center top #FFFFFF !important;
}
.aie-comment #commentform textarea{
	height: 195px;
}
.aie-comment #respond .comment_mess{
	height: 235px;
}
.extend-analytics{
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/*================ End defind style post types ==================*/
.slidebar_face, #sidebar .fb-like-box{
	overflow:hidden !important;
	width: 292px !important;
	height: 190px !important;
}
.aligncenter{
	max-width: 598px !important;
}

.scores-tab ul li{padding:0px !important; border-bottom: 1px solid #B50007;cursor: pointer;float: left;width: 100px;height: 20px;list-style: none !important; background: none !important ;text-align: center;}
.active-tab {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-bottom: medium none !important;border-image: none;border-left: 1px solid #B50007;border-right: 1px solid #B50007;border-top: 1px solid #B50007;color: #000000;}
.entry .wpzoomSocial a.iconfont_face, .entry .single_share a.iconfont_face{
	font-size: 19px;
	padding-right: 3px;
	font-family: "FontAwesome";
	color: #405884;
}
.entry .single_share a{
	vertical-align: top;
}
.entry .wpzoomSocial a.iconfont_twitter, .entry .single_share a.iconfont_twitter{
	font-size: 19px;
	font-family: "FontAwesome";
	color: #97DAF5;
	padding-right: 4px;
}

/* ================= Custom Style Subcategory ================= */
.subcatinpost{
	margin-top: 5px;
}
.listpost{
	float: left;
	background: #f5f5f5;
	width: 299px;
	border-bottom: 2px solid #fff;
}
.subcatinpost .icon_logo{
	background: url(images/favicon-tran-dai-quang.ico) no-repeat;
	width: 16px;
	height: 18px;
	margin-top: 7px;
	float: left;
	position: relative;
	margin-right: 10px;
}
.subcatinpost .title_cat{
	width: 223px;
	float: left;
	background: #F6EDCE;
	padding: 7px 10px 6px 25px;
	position: relative;
	-webkit-border-radius: 50px 0px 0px 0px; 
	-moz-border-radius:    50px 0px 0px 0px; 
	border-radius: 50px 0px 0px 0px; 
}
.subtitlecat{
	padding-left: 15px;
	position: relative;
	display: inline-block;
	padding-bottom: 10px;	
}
.bgshowcate{
	background: url(images/shaw_title_cat.png) no-repeat center top;
	position: absolute;
	top: -34px;
	height: 43px;
	width: 100%;
	right: 0px;
}
.subtitlecat .title_cat{
	font-size: 14px;
	text-transform: uppercase;
	color: #B40D0D;
}
.subtitlecat .title_cat a{	
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400 !important;
	font-size: 1.2em !important;
	color: #B40D0D;
	font-weight: bold;
}
.subtitlecat .title_cat a:hover{
	color: #ff7200;
	text-decoration: none;
}
.subcatinpost .infocate{
	margin: 0px 15px 10px 15px;
	padding-bottom: 10px;
	position: relative;
	border-bottom: 1px solid #e9e9e9;
}
.subcatinpost .postincat .infocate{
	margin-bottom: 0px;
}
.subcatinpost .infocate h2{
	font-size: 13px;
	font-weight: bold;
	color: #34676A;
	line-height: 17px;
	padding-bottom: 10px;
}
.subcatinpost .infocate h2 a{
	font-size: 13px;
	font-weight: bold;
	color: #34676A;
}
.subcatinpost .infocate h2 a:hover{
	color: #B40D0D;
	text-decoration: none;
}
.subcatinpost .infocate .desccate{
	font-size: 12px;
	text-align: justify;
	line-height: 17px;
}
.subcatinpost .line-sub{
	border-top: 1px solid #fff;
	padding-top: 10px;
	margin: 0px 15px;
}
.subcatinpost .smallpostincat{
	margin: 0px 15px 15px 15px;
	clear: both;
	width: 268px;
	display: inline-block;
}
.subcatinpost .smallpostincat img{
	float: left;
	margin-right: 15px;
}
.subcatinpost .smallpostincat h2 a{
	font-size: 12px;
	font-weight: bold;
	color: #34676A;
}
.subcatinpost .smallpostincat h2 a:hover{
	text-decoration: none;
	color: #B40D0D;
}
.iconmorecat{
	float: right;
	width: auto;
	background: #cbe3e4;
	padding: 3px 30px 3px 40px;
	-webkit-border-radius: 50px 0px 0px 0px; 
	-moz-border-radius:    50px 0px 0px 0px; 
	border-radius: 50px 0px 0px 0px; 
}
.iconmorecat .iconfont_more{
	font-size: 16px;
	text-align: center;
	font-family: 'FontAwesome';
	color: #2e6c6e;
	display: inline-block;

}
.iconmorecat .iconfont_more a{
	color: #2e6c6e;

}
.iconmorecat .iconfont_more a:hover{
	color: #2e6c6e;
	text-decoration: none;

}
.listcatle{
	background: #F5F5F5;
	display: inline-block;
	width: 100%;
}
.listoddleft{
	width: 299px;
	float: left;
}
.listoddright{
	width: 299px;
	float: right;
}

.subcatinpost .oddpostincat{
	margin: 0px 15px 15px 15px;
	clear: both;
	width: 268px;
	display: inline-block;
}
.subcatinpost .oddpostincat img{
	float: left;
	margin-right: 15px;
}
.subcatinpost .oddpostincat h2 a{
	font-size: 12px;
	font-weight: bold;
	color: #34676A;
}
.subcatinpost .oddpostincat h2 a:hover{
	text-decoration: none;
	color: #B40D0D;
}
/**/
#sidebar .Event-list .focus_event_title, #sidebar .Event-list .event_title{	
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.2em !important;
  background: none !important;
  padding: 6px 10px !important;
  box-shadow: 0px 2px 0 #FCFAFA !important;
  border-bottom: 1px solid #CCC !important;
  border-top: 1px solid #B50007 !important;
}
#inner #sidebar .Event-list{
	border-top: 0px !important;
}
#sidebar ul.tabs_recent li .tab_recent_slide{
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400 !important;
	font-size: 1.2em !important;
}
ul.tabs_recent li .tab_recent_slide span{
	font-weight: 400 !important;
	font-size: 1em !important;
}
#sidebar .Event-list .highlights li{
	background: none !important;
	padding: 0px !important;
}
#sidebar .Event-list .highlights li img{
	margin-top: 0px !important;
	border: 0px !important;
	width: 278px;
	height: auto;
}
#sidebar .Event-list .highlights li .item_title_fo a{
	color: #B50007 !important;
	font-size: 14px !important;
	font-weight: bold !important;
}
#sidebar .Event-list .highlights li .item_title_fo a:hover{
	color: #ff7200 !important;
}
.topviewscat .title_topviewcat{		
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 1.2em !important;
}
h1.pagetitle{	
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 1.2em !important;	
  color: #0072BC;
}
.title_topview{
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 1.2em !important;	
}
#preadmore{
	font-style: italic;
	font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.showtk #otherposttitle{
	margin-top: 5px !important;
}
#event_list_single{
	margin-top: 5px !important;
}
#preadmore strong{
	font-weight: 400;
}
#preadmore a{
	font-style: normal;
	color: #FF7200;
}
#preadmore a:hover{
	color: #B50007;
}
.navi_album .pre-albumkhac .icon{
	line-height: 39px !important;	
}
.navi_album .next-albumkhac .icon{
	line-height: 39px !important;
}
.camnhan{
	height: 52px !important;
}
.slibar-right .tagAlbumRight li a.title-link{
	background: none repeat scroll 0 0 rgba(139, 138, 138, 0.8) !important;
}
.list-albumlq{
	padding: 17px 9px 15px !important;
}
.list-albumlq .tagAlbumRight li{
	width: 160px !important;
}
.otherAlbum .title .text{
	line-height: 28px !important;
}

/* Style Topic Header */
.topic_home{
	background: #ededed;
	margin-bottom: 5px;
}
.topic_home .title_cd{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	background: url(images/bg_title_topic.png) no-repeat;
	font-size: 1.1em !important;	
	float: left;
	height: 33px;
	width: 81px;
	line-height: 33px;
	font-weight: bold;
	padding-left: 10px;
}
.topic_home ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.topic_home ul li{
	list-style: none;
	float: left;
	margin: 0;
	padding: 7px 6px;
	border-right: 1px solid #fff;
}
.topic_home ul li:last-child{
	border-right: 0;
	padding-right: 0;
}
.topic_home ul li a{
	color: #3f3d3d;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
}
.topic_home ul li a:hover{
	color: #B50007;
	text-decoration: none;
}
/* start album truyen */
.orther-truyen{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.orther-truyen .orther-title{
	background: none repeat scroll 0 0 #B50007;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    position: relative;
    text-transform: uppercase;	
    margin-bottom: 5px;
}
.orther-truyen .orther-item{
	margin: 10px;
}
.orther-truyen .orther-item{

}
.orther-truyen .orther-item ul li{
	float: left;
	width: 167px;
	text-align: center;
	margin-right: 7px;
}
.orther-truyen .orther-item ul li a{
	font-size: 13px;
	text-decoration: none;
	color: #B50007;
}
.orther-truyen .orther-item ul li a:hover{
	color: #fff;
}

.orther-truyen .orther-item ul li img{
	width: 130px;
	height: 190px;
}
.taglienquan{
	overflow: hidden;
	width: 580px;
	margin: 10px 0 0 0;
	font-size: 13px;
	background: #f9f9f9;
	padding: 5px 10px;
	height: 20px;
	line-height: 22px;
	display: inline-block;
}
.taglienquan a{
	color: #444;
}
.taglienquan a:hover{
	color: #B50007;
	text-decoration: none;
}
/* end album truyen */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#wrapper .topic_home ul li{
		padding: 7px 7px !important;
	}
}
.flagcounter
{
	margin: 0 auto;
	display: block;
}
#content .postmeta .topic_name a{color: #FF7200; font-weight: 500;}
#content .postmeta .topic_name a:hover{color: #B50007;}

.kqtn {
    background: #9F224E;
    text-align: center;
}
.entry .faleft{margin-top: 10px; display: block;}
.entry .faleftcol{margin: 8px 0; text-align: center;}
.entry .farightcol{margin-left: 65px;}

.botruongtdq{
	text-align: center;
}
.thutruongbca {
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.itembca {
    float: left;
    margin-right: 13px;
    width: 140px;
}
.thutruongbca img{
	height: auto;
	border: 1px solid #ccc;
    width: 140px;
}
.itembca.itembca-last {
    margin-right: 0;
}
.thutruongbca .ten {
    font-size: 13px;
}
.thutruongbca-last{
	margin-bottom: 10px;
}
.mapbocongan p{
	display: none !important;
}
.mapbocongan br{
	display: none;
}
.sub_banner{
	margin-bottom: 10px;
	display: block;
	clear: both;
}
.topbcttmy{
	margin-bottom: 10px;
}
.jvectormap-tip{
	display: none !important;
}