.load_poll{
	background: url(../gimages/ajax-loader.gif) no-repeat center center;
	height: 32px;
	width: 100%;
	display: none;
	margin-top: 25px;
}
.wp_polls .pollbar {
    background: #B50007;
    font-size: 6px;
    height: 7px;
    line-height: 7px;
    margin: 0px;  
	-webkit-border-radius: 5px; 
	-moz-border-radius:    5px; 
	border-radius: 5px;
}
.result_poll .pollbar_full{
	width: 100%;
    background-image: url("../gimages/pollbg.gif");
    font-size: 6px;
    height: 7px;
    line-height: 7px;    
	-webkit-border-radius: 5px; 
	-moz-border-radius:    5px; 
	border-radius: 5px;
}
.wp_polls{
	border: 1px solid #E2E2E2;
	margin: 0px;
	padding: 0px;
	border-top: 0px;
}
.button_vote_poll{
	float: left;
	margin-right: 10px;
}
#poll_list_cat{
	padding-bottom: 0px;
}
.wp_polls .results_poll{
	padding-bottom: 0px;
}
.wp_polls .results_poll a{
	color: #2854BB !important;
}
.wp_polls .results_poll a:hover{
	color: #B50007 !important;
	text-decoration: none !important;
}
.wp_polls .question_title{
	font-size: 14px !important;
	font-weight: bold !important;
	margin-bottom: 5px;
	line-height: 18px !important;
}
.wp_polls .wp_polls-form{
	padding: 5px 10px 15px 10px;
}
.wp_polls .checknopoll{
	padding-left: 10px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: red;
}
.wp_polls .textnopoll{
	background: #605E5F;
    border: 1px solid #8E8A8A;
    color: #FFFFFF;
    padding: 3px 10px;
}
.wp_polls .title_thamdo{
	color: #B50007;
	font-size: 14px;
	border-top: 2px solid #B50007;
	padding-top: 5px;
	background: #FAFAFA;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
}
.result_poll .question_title{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.result_poll ul{
	padding-left: 10px !important;
	padding-right: 10px !important;
	list-style: none !important;
	margin: 0px !important;
}
.result_poll ul li{
	list-style: none !important;
	padding: 0px !important;
	background: none !important;
	margin: 0px 0px 5px 0px !important;
}
.result_poll .total_num{
	font-weight: bold !important;
	color: #B50007 !important;
}
.result_poll .total_poll{
	text-align: right !important;
	padding-right: 10px !important; 
	padding-bottom: 10px;
}
.result_poll .button_vote_poll{
	float: right !important;
	margin-right: 10px !important;
}
.wp_polls ul li, .wp_polls-ul li, .wp_polls-ans ul li {
	text-align: left;
	background-image: none;
	padding: 0px 0px 5px 0px !important;
	display: block;
}
#poll_list_cat .wp_polls-ul{
	margin-left: 0px;
	margin-bottom: 5px;
}
.wp_polls ul li input{
	margin-right: 3px;
	cursor: pointer;
}
.wp_polls ul, .wp_polls-ul, .wp_polls-ans ul  {
	text-align: left;
	list-style: none;
	float: none;
}
.wp_polls ul li:before, .wp_polls-ans ul li:before, #sidebar ul ul li:before {
	content: '';
}
.wp_polls IMG, .wp_polls LABEL , .wp_polls INPUT {
	display: inline;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-weight: normal !important;
	font-size: 13px !important;
}
.wp_polls-ul {
	padding: 0px;
	margin: 0px 0px 10px 10px;
}
.wp_polls-ans {
	width:100%;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	/* background-color: #ffffff; */
}
.wp_polls-loading {
	background: url(../gimages/ajax-loader.gif) no-repeat center center;
	height: 32px;
	width: 100%;
	display: none;
	margin-bottom: 10px;
}
.wp_polls-image {
	border: 0px;
}
.button_vote_poll a{
	border:1px solid #c8c8c8 !important;
	padding: 3px 10px !important;
	color: #fff !important;
	background: #B50007 !important;
	text-decoration: none !important;
	font-size: 13px !important;
}
.button_vote_poll a:hover{
	background: #7A070B !important;
}
.wp_polls .Buttons {
	border:1px solid #c8c8c8;
	cursor: pointer;
	padding: 3px 10px;
	color: #fff;
	background: #B50007;
}
.wp_polls .Buttons:hover{
	background: #7A070B;
}
/* Polls Archive Paging */
.wp_polls-paging a, .wp_polls-paging a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp_polls-paging a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp_polls-paging a:hover {	
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
.wp_polls-paging a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp_polls-paging span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #000000;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.wp_polls-paging span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
.wp_polls-paging span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
.wp_polls .bieuquyet{
	font-size: 14px !important;
	color: #2854BB !important;
	margin-left: 10px;
	text-decoration: none !important;
	float: left;
}

.wp_polls .bieuquyet:hover{
	color: #B50007 !important;
	text-decoration: none !important;
}