/* Tabs SLide */
#inner-wrapper #recent_news_ajax{
	clear: both;
}
ul.tabs_recent {
	margin:0px;
	position: relative;
	clear: both;
	padding:0px;
	background: #fff;
}
ul.tabs_recent li {
	list-style:none;
	display:inline;
}
ul.tabs_recent li span {
	color:#B70712;
	padding:0px 0px 0px 0px;
	text-decoration:none;
	font-size:13px;
	height: 27px;
	line-height: 27px;
	display:inline-block;
	cursor: pointer;
	width: 145px;
	text-align: center;
	font-weight:bold;
	text-transform:uppercase;
}
ul.tabs_recent li span:hover {
}
ul.tabs_recent li.li_tm span.active_slideTab {
	color:#B70712 !important;
	background:url(../gimages/tab_active.png) no-repeat;
}
ul.tabs_recent li.li_tn span
{
	float:right;
	width: 140px;
}
ul.tabs_recent li.li_tn span.active_slideTab {
	color:#B70712 !important;
	background:url(../gimages/tab_active_tinnong.png) no-repeat right top;
}
ul.tabs_recent li.li_tn span {
	color:#B70712 !important;
}
.tabs_listSlide {
	padding:0px 0px 0px 0px;	
}
#content_2 { 
	padding: 10px 0px 1px 0px !important; 
	margin-top: -10px !important;
	display: none;
	background: #F5F5F5 url(../gimages/bg_news.jpg) 0px -30px repeat-x !important;
	margin-bottom: 10px !important; 
}
#content_2 .Most_Viewed
{
	background: #BB0F1D !important;
	margin: 0px 10px !important;
	padding: 10px 10px 0px 10px !important;
}
#content_2 .Most_Viewed li
{
	margin: 0px;
	padding: 0px 0px 5px 0px !important;
}
#content_2 .Most_Viewed li img
{
	float: none !important;
	border: 2px solid #fff !important;
	margin: 0px auto 5px auto !important;
	display: block !important;
}
#content_2 .Most_Viewed li a
{
	color:#fff !important;
	font-size: 12px !important;
}
#content_2 .Most_Viewed li a:hover
{
	color:#E0E0E0 !important;
	text-decoration:none !important;
}
#content_2 .Most_Viewed li .numbercomment a{color: #FF6600 !important;}
#content_2 .Most_Viewed li .numbercomment a:hover{color: #FF6600 !important;}
#content_2 .OtherViewed
{
	margin: 10px !important;
	background: #fff !important;
	padding: 10px 10px 3px 10px !important;
}
#content_2 .OtherViewed li
{
	border-bottom: 1px dotted #ccc;
	width: 100%;
	display: inline-block !important;
	padding: 0px 0px 5px 0px !important;
	margin: 0px 0px 5px 0px !important;
}
#content_2 .OtherViewed li:last-child
{
	border: 0px;
}
#content_2 .OtherViewed li img
{
	float: left; 
	margin-right: 10px;
}
#content_2 .OtherViewed li a
{
	color:#0072BC;
	font-size: 12px !important;
}
#content_2 .OtherViewed li a:hover
{
	color:#B50007;
}
.tabs_listSlide ul li:last-child {
	border-bottom:none;
}
.tabs_listSlide ul li a {
	text-decoration:none;
	color:#3e4346;
}
.tabs_listSlide ul li a:hover {
	color:#a59c83;
}
.Newsrow1 .updating_home, .Most_Viewed .updating_home{background: #fff !important;color: #B50007 !important;}
.Newsrow1 .font_video, .Newsrow1 .font_photo, .Newsrow1 .gim_icon, .Most_Viewed .gim_icon, .Most_Viewed .icon_photo, .Most_Viewed .icon_video{color: #fff;}
.updating_home{
	background: #B50007 !important;
	background-size: 8px auto !important;
	border: 0px solid #B50007 !important;
	border-radius: 2px 2px 2px 2px !important;
	color: #fff !important;
	display: inline-block !important;
	font-size: 11px !important;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	margin-right: 3px !important;
	display: inline-block;
	padding: 0 2px !important;
	text-transform: uppercase;
	vertical-align: middle !important;
}
.featuredpost .updating_home{
	background: #fff !important;
	color: #000 !important;
}
.event-btn{
	background: #ff7200 !important;
	background-size: 8px auto !important;
	border: 0px solid #B50007 !important;
	border-radius: 2px 2px 2px 2px !important;
	color: #fff !important;
	display: inline-block !important;
	font-size: 11px !important;
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	margin-right: 3px !important;
	display: inline-block;
	padding: 0 2px !important;
	text-transform: uppercase;
	vertical-align: middle !important;
}
.listviewcat .news_full .icon_photo, .listviewcat .news_full .font_video{color: #fff !important;}
.numbercomment{color: #ff6600; font-size: 12px;margin-left: 3px; font-weight: bold; display: none !important;}
.numbercomment a:before{font-family: 'FontAwesome';content: "\f0e5"; margin-right: 2px;}
.OtherViewed .numbercomment, .smallpostincat .numbercomment{color: #ff6600;}
.numbercomment a, .CatTitle .numbercomment a, .CatTitlefor h3 .numbercomment a{color: #ff6600 !important; font-size: 12px; text-decoration: none;}
.numbercomment a:hover, .CatTitle .numbercomment a:hover, .CatTitlefor h3 .numbercomment a:hover{color: #B50007 !important;}
.name_topic{font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;text-transform: uppercase;font-size: 12px;}
.topic_name{display: inline-block;width: 100%; margin: 10px 0;}
.box-single .topic_name{margin-bottom: 0;}
#single-detai .box-single .topic_name{margin-bottom: 10px; margin-top: 0px;}
.topic_name a{color: #222; font-weight: bold; font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; font-size: 18px; text-decoration: none; }
.postmeta .topic_name a{color: #0645AD;}
.topic_name a:hover{color: #B50007;}
.box-single .topic_name a:hover{color: #0645AD;}
.topic_name a:after{content: ":";}
h1.pagetitle {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700 !important;
	font-size: 1.2em !important;
	color: #0072BC;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
}
.pagensh{margin-bottom: 10px !important; padding-bottom: 5px;}
.dailymotion{
	display: block;
	text-align: center;
	margin: 0 auto 15px;
}
.dailymotion iframe{
	width: 100%;
}
.icon_photo, .font_photo, .icon_video, .font_video {
    font-family: 'FontAwesome';
    font-weight: normal !important;
    color: #636262;
    font-size: 10px;
    height: 14px;
    display: inline-block;
    margin: 0px 0 0 2px;
    background: none !important;
}
#BANNER a span{
	text-transform: uppercase;
}