 @CHARSET "UTF-8";
.youtube-iosSlider {
	width: 290px;	
	margin-left: 4px;
	height: 235px;
	overflow: hidden;
}
.youtube-slider-title{
	background: url('../gimages/youtube_images/widget/bg1.png') no-repeat;
	height: 44px;
	padding-top: 15px;
}
.youtube-slider-title p{
	background-image: url("../gimages/youtube_images/widget/icon-photo.png");
	background-repeat: no-repeat;
	background-position: 60px center;
	font-size: 18px;	
	color: #ce0100;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
	margin-left: 95px;
}
.youtube-flickr-title {
	background: url('../gimages/youtube_images/widget/bg1.png') no-repeat;
	height: 50px;
	color: #CE0100;	
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.youtube-flickr-title .youtube{	
    float: left;
    height: 28px;
    margin: 0 0 1px 50px;
    padding-top: 14px;
    text-align: center;  
    width: 90px;
    cursor: pointer;
}
.youtube-flickr-title .divide{
	background-image: url("../gimages/youtube_images/widget/divide.png");
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    height: 28px;
    padding-top: 15px;
    width: 2px;
}
.youtube-flickr-title .flickr{	
    float: left;   
    height: 28px;
    margin-bottom: 5px;
    margin-left: 18px;
    padding-top: 15px;   
    width: 90px;
    cursor: pointer;
}
.youtube-iosSlider .slider {
	width: 100%;
	height: 100%;
}

.youtube-iosSlider .slider .item {
	position: relative;
	top: 0;
	left: 0;
	width: 320px;
	height: 228px;
	background: url('../gimages/youtube_images/widget/shadow.png') no-repeat bottom;
	margin: 0 0 0 0;
}
.youtube-iosSlider .slider .item a{
	display: block;
}
.youtube-iosSlider .slider .item img{
	width: 290px;
	height: auto !important;
}
.youtube-item-des{
	background: none repeat scroll 0 0 #2b0101;
	bottom: 13px;
	max-height: 80px;	
	position: absolute;
	width: 290px;	
	opacity: 0.65;
	margin-left: 0;
}
 .youtube-item-des-title{ 	
 	width: 245px; 	
 }
.youtube-item-des p{	
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    font-size: 13px;    
padding: 5px 0px 0px 10px;
    line-height: 1.3;    
}
.youtube-icon-play{
	background: url("../gimages/youtube_images/widget/icon-play.png") no-repeat scroll right center transparent;
	width: 42px;
	height: 53px;
	float: right;
}

.youtube-iosSliderButtons {		
	left: 10px;
	width: 200px;
	height: 10px;
	margin-left: 5px;
}

.youtube-iosSliderButtons .button {
	float: left;
	width: 12px;
	height: 12px;
	background: #7b7b7b;
	margin: 0 10px 0 0;
	opacity: 0.25;	
	border-radius: 12px;
}

.youtube-iosSliderButtons .selected {
	background: #df2100;
	opacity: 1;
	bo;
}
.youtube-view-more{
	background: url('../gimages/youtube_images/widget/stroke.png') no-repeat bottom;
	height: 25px;
	width: 96px;	
	float: right;
	margin-bottom: 10px;
	margin-right: 5px
}
.youtube-view-more p{
	background: url('../gimages/youtube_images/widget/arrow.png') no-repeat right;
	width: 80px;
	margin-left: 8px;
}
.youtube-view-more p a{
	color: #3e3e3e;
	font-size: 14px;
}
#loadajax {
    background: url(../gimages/ajax-loader.gif) no-repeat center center;
    height: 32px;
    width: 100%;
    display: none;
    margin-top: 25px;
}