.search
{
	BORDER-RIGHT: steelgray 1px inset;
	BORDER-TOP: steelgray 1px inset;
	BORDER-LEFT: steelgray 1px inset;
	BORDER-BOTTOM: steelgray 1px inset;
	BACKGROUND-COLOR: #DAE7F1;
	top: 6px;
	right: inherit;
}

.z {border:1px dashed #f00;}
.relative {position:relative;}

#support_menu_block{
	top: 93px;
	right: 0px;
	width: 138px;
	height: 0px;
	border:0px;
	position: absolute;
	background-color: #CFE0EF;
	background-image: url(bg_menu.gif);
	background-repeat: repeat;
}

.menu_list {
	background-image: url(bg_menu.gif);
	background-repeat: repeat;
	padding: 0 px;
	border-bottom: 0 px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F3FBFE;
}
.p {
	color: #85ABD6;
	background-position: center center;
	font-style: inherit;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	clip: inherit;
	font-weight: bold;
}
.text {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #3076B6;
	text-indent: 3px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.A {
	font-size: 12px;
	font-style: italic;
	color: #2264B5;
}
.style1 {
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
	color: #1E76B0;
	margin-top: 0%;
	background-color: #D6EFFA;
	margin-bottom: 0px;
	background-image: url(bg1.gif);
	background-repeat: repeat-x;
}
.style7 {
	background-position: center center;
	font-style: inherit;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	clip: inherit;
	text-decoration: inherit;
	border-width: 0;
	margin: 0;
	background-image: url(bg_7.gif);
}
.style12 {
	background-position: center center;
	font-style: inherit;
	clip: inherit;
	color: #000033;
	text-decoration: inherit;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.style19 {
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	clip: inherit;
	text-decoration: inherit;
	background-position: center center;
	color: #000053;
}
.style25 {
	font: 12px;
	border-top-color: #B7CDE8;
}
.style28 {
	font-style: inherit;
	clip: inherit;
	text-decoration: inherit;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-position: center center;
	color: #00668C;
	font-weight: bold;
}
.style29 {
	border: 1px solid #D8E3F1;
	background-color: #ECF3FB;
}
.style30 {
	font-style: normal;
	clip: inherit;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center center;
	color: #00668C;
	font-weight: bold;
}
.style30a {
	font-style: normal;
	clip: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center center;
	color: #FF6600;
	font-weight: bold;
}
.style40 {font-style: inherit; clip: inherit; text-decoration: inherit; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 13px; background-position: center center;}
.Buy {
	background-color: #EAF5FA;
	border-color: #9FBFDC;
}

.gr {
	border-bottom-width: 2px;
	background-image: url(../support/idm-grabber/Grabber/l.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.gr1 {
	background-image: url(../support/idm-grabber/Grabber/bg.gif);
	background-repeat: no-repeat;
	background-position: top-left;
	}
