div{margin:0px;}
h1 {
font-family: arial, verdana, sans-serif; 
font-size: 18px;
color:#0077FF;
margin-left:10px;
}
h2{
font-family: arial, verdana, sans-serif;
font-size: 16px;
color:#0077FF;
margin:5px;
}
h3{
font-family: arial, verdana, sans-serif;
font-size: 14px;
color: red;
}
img {
    max-width: 100%;
    height: auto;      
}

.divtext p:first-letter {
    color: #CC3300; /* Красный цвет первой буквы */
    font-size:14pt;
    font-weight:bold;
   }

   
p{ font-family: arial, verdana, sans-serif; font-size: 16px; color: #333; margin-left:15px;}
a{ font-family: arial, verdana, sans-serif; font-size: 16px; color: #003366; }
a:hover,
a:active,
a:focus { color: #000; text-decoration: none;}
.curled {
    position:relative;
    width:97%;
    padding:1em;
    margin:1em 1px 4em;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    border:1px solid #efefef;
    -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
         border-radius:0 0 120px 120px / 0 0 6px 6px;
}
 
.curled:before,
.curled:after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:12px;
    left:10px;
    width:50%;
    height:55%;
    max-width:200px;
    -webkit-box-shadow:0 2px 12px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:0 2px 12px rgba(0, 0, 0, 0.5);
            box-shadow:0 2px 12px rgba(0, 0, 0, 0.5);
     -webkit-transform:skew(-8deg) rotate(-3deg);
        -moz-transform:skew(-8deg) rotate(-3deg);
         -ms-transform:skew(-8deg) rotate(-3deg);
          -o-transform:skew(-8deg) rotate(-3deg);
             transform:skew(-8deg) rotate(-3deg);
} 
 
.katalog1{
border: 1px solid #7188FF;
 background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #FFF, #BFD4FF);
}

.katalog2{border: 1px solid #7188FF;}

.akatalog {margin:3px;padding: 1px 1px 1px 15px;width: 90%;display: block;color: #003366;background: url(img/akatalog1.png) no-repeat 1px 1px;
font: 12px Verdana, Arial, Helvetica, sans-serif;
}

.akatalog:hover,
.akatalog:active,
.akatalog:focus {margin:3px;padding: 1px 1px 1px 15px; color: #CC3300; no-repeat 1px 1px #FFFFCC; text-decoration: none;}
.akatalog#active_menu {margin:3px;padding: 1px 1px 1px 15px; color: #CC3300; no-repeat 1px 1px #FFFFCC;font-weight: bold;}
.gensec{font: 11px Verdana, Arial, Helvetica, sans-serif;}
.nizpravo{font: 11px Verdana, Arial, Helvetica, sans-serif;}
.navl{ font-family: arial, verdana, sans-serif; font-size: 13px; color: #003366; margin-left:10px;}
a.navl:hover,
a.navl:active,
a.navl:focus {color: #CC3300;  text-decoration: none;}
.navspan{ margin-left:10px; }
.share{ margin-left:10px; }
.red{ color: #C00000; font: 14px ; }
a.ared{ color: #C00000; font: 12px ;}
.page{text-align:center;}
.viewinfo{font-size:12px; color:#999999; }
.red{color:#FF0000; font-weight: bold;}
.green{color:#007F00; font-weight: bold;}


.class {
    min-height: 2000px;
    width: 400px;
    margin: 0 auto;
}
#back-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
}
#back-top a {
    width: 48px;
    display: block;
    text-align: center;
    font: bold 8px Arial;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    text-decoration: underline;
}
#back-top span {
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: -14px;
    background: #0077FF;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.imghight{ margin-top:-5px;}


 .pagelink {  margin-left: 20px; font-size:9.5pt; }
        
.pagelink a {
    text-decoration: none;
	background:#fff;
	border: solid 1px #AAE;
	color: #15B;
	text-align:center;
}

.pagelink a, .pagelink span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagelink .current {
    color: #F00;
	font-weight:bold;
}

.pagelink .current.prev, .pagelink .current.next{
	color:#999;
	border-color:#999;
	border: solid 1px #AAE;
	background:#fff;
}
