/*
	Theme Name: NicoBlog
	Template: Newsmag
	Version: 3.2
*/

#login-form {
	min-height: 590px;
}

.vc_row {
    margin-left: 0px;
}
.vc_column_container>.vc_column-inner {
    padding-left: 0px;
}

@media screen and (max-width: 480px) {
.crp_related a {
    width: 120px;
	}

#primosu  {
	width: 320px;
	overflow: hidden;
	}
	
}

#primosu  {
	height:90px;
}

#primodestra {
	width: 300px;
	height: 250px;
	margin-left: 20px;
}

.vc_message_box {
    margin: 0;
}

.entry-thumb {
float: none;
margin-right: auto;
margin-left: auto;
}

.list-all-posts {
    margin-left: 20px;
}


.td-post-image-full {
    left: 0;
    width: 640px !important;
}

@media (max-width: 480px){
.td-main-menu-logo img {
max-width: 240px!important
}
}

.term-links .usa {
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('/img/usa.gif');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .term-links .japan {
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('/img/japan.gif');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .term-links .europe {
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('/img/europe.gif');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .term-links .korea {
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('/img/korea.gif');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .term-links .china {
        display: inline-block;
        width: 16px;
        height: 11px;
        background: url('/img/china.gif');
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
	
	
	/* RELATED POSTS */
	
	.crp_related {
	clear: both;
	margin: 10px 0;	
		
}
.crp_related h3 {
	margin: 0 !important;
}
.crp_related ul {
	list-style: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
.crp_related li, .crp_related a {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.crp_related li {
	margin: 5px !important;
	border: 1px solid #ddd;
	padding: 6px;
}
.crp_related li:hover {
	background: #eee;
	border-color: #bbb;
}
/*.crp_related a {
  width: 150px;
  height: 150px;
  text-decoration: none;
}*/
.crp_related a:hover {
	text-decoration: none;
}
/*.crp_related img {
  max-width: 150px;
  margin: auto;
}*/
.crp_related .crp_title {
	position: absolute;
	height: inherit;
	bottom: 6px;
	left: 6px;
	padding: 3px;
/*  width: 144px;   = 150px - (3px * 2) */
	color: #fff;
	font-size: .9em;
	text-shadow: 1000 .1em .1em .2em;
	background: rgb(0.5, 0.5, 0.5);
	background: rgba(0, 0, 0, 0.5);
}
.crp_related li:hover .crp_title {
	background: rgb(0.2, 0.2, 0.2);
	background: rgba(0, 0, 0, 0.8);
}

.crp_related .crp_thumb, .crp_related li, .crp_related .crp_title {
	vertical-align: bottom;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.crp_clear {
	clear: both;
}
	
	/* END RELATED POSTS*/
	
	/* site rules */
	
div#site-rules li {
    list-style-type: decimal;
}

#site-rules  {

    padding-left: 10%;
	font-size: 14px;
    font-family: inherit;
    background-color: rgb(77, 99, 154);
    border: 10px;
    border-color: #000;
    border-style: dashed;
}

/* end site rules */