.authors-container{
    overflow: hidden;
	margin-bottom:10px;
}
.authors-container .bx-wrapper{
    margin: 0 !important;
}

.bx-wrapper .bx-viewport{ 
    left: 0;
    background: none;
    border: none;
}
.author-box{
    width: 119px;
    height: 270px;
    float: left;
    margin: 0 5px 0 0;
    position: relative;
    overflow: hidden;
}
.author-box.odd, .author-box.odd .author-box-name{
    background: #7a7a7a;
}
.author-box.even, .author-box.even .author-box-name{
    background: #282C2B;
}
.author-box:hover,
.author-box:hover .author-box-name{
    background: #8EC63F;
}
.author-box img{
    width: 100%;
    max-width: 100%;
}
.author-box a{
    color: #fff;
    text-decoration: none;
}
.author-box-title{
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
    padding: 5px;
}
.author-box-name{
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    bottom: 15px;
    left: 5px;
}
.potd {
    width: 982px;
    height: 308px;
}

.potd:hover {
    opacity: 0.7;
}