@import url("./reset.css"); /* reset all styles; customized html5boilerplate reset; */
@import url("./grid.css");  /* grid styles; http://www.gridsystemgenerator.com/ */
@import url("./band1.css"); /* Band 1 : Identity, Action; */
@import url("./band2.css"); /* Band 2 : Main Navigation [Task, Research]; */
@import url("./band3.css"); /* Band 3 : Banner; */
@import url("./band4.css"); /* Band 4 : Body [Left, Center, Right]; */
@import url("./band5.css"); /* Band 5 : Anchor; */
@import url("./uniform.css"); /* customized uniformJS styles; just using the SELECT replacement; */
@import url("./uniform.sentence.css"); /* specific sizes for form fields that are found in sentence format; */
@import url("./custom-theme/jquery-ui-1.8.16.custom.css"); /* jQuery UI theme (using the date picker); */

a {
	text-decoration: none;
}
	a:link {
		color: #369;
	}
	a:visited {
		color: #369;
	}
	a:hover {
		color: #f63;
	}
	a:active {
		color: #f63;
	}
	a:focus {
		color: #666;
	}
	
	/* skip navigation link, only visible when it's focused; */
	a.skip {
		position: absolute;
		top: 0;
		left: -999em;
		z-index: 10000;
	}
		a.skip:focus,
		a.skip:active {
			left: 0;
		}
abbr {}
address {}
area {}
article {}
aside {}
audio {}
b {
	font-weight: bold;
}
base {}
bdo {}
blockquote { margin: 0 0 0 30px;}
body {
	background: #eee url(../img/bgBody.png) repeat-x;
	color: #000;
	font-size: 13px;
}
br {}
button {}
canvas {}
caption {}
cite {}
code {}
col {}
colgroup {}
command {}
datalist {}
dd {
	margin: 0 0 0 20px;
}
del {}
details {}
dfn {}
div {}
	/* grid container; */
	div.container_10 {
		background: #fff;
		/*background: #fff url(../img/grid/1000_10_10_10.png) top center repeat-y;*/ /* background for debugging the grid; */
	}
	/* horizontal groupings of chambers (CMS term for blocks/groups of content/slots/zone/etc); */
	div.band {
		position: relative;
	}
	/* container for the jQuery UI Datepicker plugin; */
	div.datepicker {}
		/* icon to the right of the INPUT that triggers the Datepicker; */
		div.datepicker a {
			cursor: pointer;
			float: right;
			height: 29px;
			width: 28px;
			background: url(../img/spriteXY.png) -100px -27px no-repeat;
			vertical-align: bottom;
		}
		div.datepicker input {
			width: 143px !important;
			border-right: 0;
			float: left;
		}
	/* container for a row of form elements (think TR); */
	div.formrow {
		padding-bottom: 10px;
	}
	/* container for a checkbox form control; */
	div.checkbox {
		padding: 0 0 0 20px;
		position: relative;
	}
		div.checkbox input {
			position: absolute;
			top: 5px;
			*top: 0;
			left: 0;
			_left: -22px;
		}
		html.ie8 div.checkbox input {
			top: 1px;
			left: -2px;
		}
		html.ie9 div.checkbox input {
			top: 0;
			left: -2px;
		}
		div.checkbox label {
			color: #369;
			display: block;
			padding: 2px 0;
		}
	/* container for a radio form control; */
	div.radio {
		position: relative;
		padding-left: 20px;
	}
		div.radio input {
			position: absolute;
			top: 2px;
			*top: -2px;
			left: 0;
			_left: -20px;
		}
		html.ie8 div.radio input {
			top: -2px;
		}
		html.ie9 div.radio input {
			top: -3px;
		}
	div.center,
	#content p.center {
		text-align: center;
		margin-top: 20px;
	}
dl {
	margin: 15px 0 0 0;
}
dt {
	font-weight: bold;
}
em {
	font-style: italic;
}
embed {}
fieldset {}
figcaption {
}
figure {}
footer {}
form {
	margin: 15px 0 0 0;
}
h1 {
	color: #666;
	font-size: 22px;
}
	p + h1,
	ul + h1 {
		margin-top: 15px;
	}
	h1 + h2 {
		margin-top: 0;
	}
h2 {
	color: #f30;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 0 0;
}
	h2 + p,
	h2 + ul {
		margin-top: 0;
	}
	/* used on form (table like layout); */
	h2.label {
		font-size: 13px;
		color: #333;
		margin: 0;
		padding: 7px 0 0;
		font-weight: bold;
		*font-weight: normal; /* ensures the H2 fits in it's container; */
	}
	/* same as h2.label, but expected to be 2 lines of text; */
	h2.labellarge {
		font-size: 13px;
		color: #333;
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	/* search results header; */
	h2.search {
		color: #333;
		margin: 0;
	}
		/* for when div.searchNarrow isn't present; */
		div.search + h2.search {
			margin-top: 20px;
		}
h3 {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 0 0;
}
	h3 + p,
	h3 + ul {
		margin-top: 0;
	}
h4 {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin: 15px 0 0 0;
}
	h4 + p,
	h4 + ul {
		margin-top: 0;
	}
h5 {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin: 15px 0 0 0;
}
h6 {
	color: #000;
	font-size: 13px;
	margin: 15px 0 0 0;
}
head {}
header {}
hgroup {}
hr {
	margin: 20px 0 15px;
	position: static;
	width: 100%;
}
	div.formrow + hr {
		margin-top: 2px;
	}
html {}
i {
	font-style: italic;
}
iframe {
	display: block;
}
img {}
input {}
	/* input[type=text,date,etc]; */
	input.texttype {
		border: 1px solid #ccc;
		color: #000;
		font-size: 13px;
		padding: 6px 4px;
		*padding: 5px 4px 6px;
	}
		html.mozilla input.texttype { padding: 7px 4px 6px; }
		html.ie8     input.texttype { padding: 6px 4px 5px; }
		
		/* placeholder styles; */
		input.texttype::-webkit-input-placeholder { color: #666; }
		input.texttype:-moz-placeholder           { color: #666; }
		input.placeholder                         { color: #666; }
		
		/* specific widths within the grid; */
		.grid_2 input.texttype { width: 170px; }
		.grid_3 input.texttype { width: 270px; }
		
	/* input[type=submit]; */
	input.submittype {
		background-color: #f30;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fb6944), to(#ff3300));
		background-image: -webkit-linear-gradient(top, #fb6944, #ff3300);
		background-image:    -moz-linear-gradient(top, #fb6944, #ff3300);
		background-image:     -ms-linear-gradient(top, #fb6944, #ff3300);
		background-image:      -o-linear-gradient(top, #fb6944, #ff3300);
		background-image:         linear-gradient(top, #fb6944, #ff3300);
				  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#fb6944", EndColorStr="#ff3300");
		border: 0;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		padding: 7px 35px;
		*padding: 5px 20px 6px;
	}
		input.submittype:hover {
			background: #f30;
			filter: inherit;
		}
	input.popupsubmit{
		  background: url(../img/button_close.jpg);
		  border: medium none;
		  color: transparent;
          display: inline;
          height: 27px;
          width: 72px;
	}
	
	input.ffclear{
		  background: url(../img/button_clear.jpg);
		  border: medium none;
		  color: transparent;
          display: inline;
          height: 27px;
          width: 94px;
	}
	
	input.ffsearch{
		  background: url(../img/button_search.jpg);
		  border: medium none;
		  color: transparent;
          display: inline;
          height: 27px;
          width: 100px;
		  margin-left: 10px;
	}
	
	input.ffnewsearch{
		background: url(../img/button_newsearch.jpg);
		border: medium none;
		color: transparent;
        display: inline;
        height: 27px;
        width: 109px;
	}
	
	div.popupbody{
		  padding-left: 25px;
	}
.ffsearch-background{
		  background-color: #EEE;
	}

.ffsearchsquarebox{
		  padding: 0px 0px 15px 10px;
		  width: 98%;
	}

.ffsubtitletext{
		  font-family: Arial,Helvetica,sans-serif;
		  font-size: 16px;
		  font-weight: bold;
		  padding-left: 0px;
		  margin-left: 0px;
		  color: #F30;
	}

.ffbutton-background{
		  background-color:#DCDCDC;
}

.searchbuttonrow{
		  padding-left: 10px;
		  padding-top: 10px;
		  padding-bottom: 10px;
}
ins {
	text-decoration: underline;
}
keygen {}
kbd {}
label {}
	/* a label in a grid layout (this is the important part) joining two other elements; */
	label.join {
		display: block;
		cursor: default;
		text-align: center;
		padding: 9px 0 0;
	}
		html.ie8 label.join { padding: 7px 0 0; }
		html.ie9 label.join { padding: 6px 0 0; }
	/* advanced query page; layout acts/looks like a table; */
	label.table {
		display: inline-block;
		padding: 7px 0 0;
	}
	/* used for multiple form inputs on a single line; the form is designed like a sentence; */
	label.sentence {
		display: inline-block;
		margin: 0 10px;
		position: relative;
		top: 2px;
	}
	/* label.sentence that comes first - we don't want the left margin; */
	label.first {
		margin-left: 0;
	}
legend {}
li {}
link {}
map {}
mark {}
menu {}
meta {}
meter {}
nav {}
noscript {}
object {}
ol {
	margin: 15px 0 0 0;
}
ol ol { margin: 0 0 0 0;}
/* added padding for IE6 browser to avoid numbers on ordered list being cutoff */
html.ie6 ol {
	padding: 0 0 0 10px;
}

/* added padding for IE7 browser to avoid numbers on ordered list being cutoff */
html.ie7 ol {
	padding: 0 0 0 10px;
}

	ol li {
		/*list-style: decimal;*/
		margin: 0 0 0 20px;
	}
	/* used on the search results page; */
	ol.results {
		margin-top: 25px;
		*position: relative;
	}
		/* if there is no "did you mean..." P tag; */
		h2 + ol.results {
			margin-top: 10px;
		}
		ol.results a {
			font-size: 14px;
			font-weight: bold;
		}
		ol.results li {
			list-style: none;
			margin: 0;
			padding: 10px 0;
		}
			ol.results li.featured {
				background: #eee;
				margin: 0 -10px;
				padding: 10px;
				*position: relative;
				*zoom: 1;
			}
		ol.results span {}
			ol.results span.url {
				color: #f30;
			}
		ol.results span.top-pg-nav, span.bt-pg-nav  {
			font-size: 85%;
			font-weight: normal;
			float: right;
		}
		ol.results span.top-pg-nav a {
			font-size: 100% !important;
			font-weight: normal !important;
			text-decoration: none !important;
		}

optgroup {}
option {}
output {}
p {
	margin: 15px 0 0 0;
}
table p {
	margin: 0;
}
	/* "did you mean..." */
	p.spelling {
		margin-top: 5px;
	}
		p.spelling a {
			font-style: italic;
			font-weight: bold;
		}
	/* read more links; should be the same as a single link UL.links LI; */
	p.more {
		font-weight: bold;
		position: relative;
		padding-left: 20px;
	}
		p.more span {
			position: absolute;
			top: 5px;
			left: 10px;
			_left: -10px;
			height: 8px;
			width: 4px;
			background: url(../img/spriteXY.png) -105px 0 no-repeat;
			overflow: hidden;
		}
		/* news listing on the homepage; */
		ul.news + p.more {
			margin-top: 5px;
		}
	/* social links on the homepage; */
	p.social {
		padding: 5px 0 0;
	}
		p + p.social {
			padding: 0;
		}
		p.social a {
			width: 32px;
			height: 32px;
			text-indent: -999em;
			overflow: hidden;
			float: left;
			margin: 0 17px 10px 0;
		}
	/* movie title, used under a YouTube video (IFRAME); */
	p.movietitle {
		background: #eee;
		font-size: 11px;
		margin-top: 1px !important;
		padding: 3px 10px;
	}
		div.home p.movietitle {
			background: transparent;
			padding: 0;
		}
	/* filing and payment on the homepage; */
	p.filingandpayment a {
		width: 180px;
		height: 30px;
		margin-bottom: 3px;
		display: block;
	}
param {}
pre {
	margin: 15px 0 0 0;
}
progress {}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
	q:before {
		content: "\201C";
		content: open-quote;
	}
	q:after {
		content: "\201D";
		content: close-quote;
	}
rp {}
rt {}
ruby {}
samp {}
script {}
section {}
select {
	color: #666;
	font-size: 13px;
	padding: 5px;
	*width: 100%;
}
small {
}
source {}
span {}
	span.title {
		color: #f30;
	}
strong {
	font-weight: bold;
}
style {}
sub {}
summary {}
sup {}
.container_10 table {
	margin: 15px 0 0 0;
	width: 100%;
}
	/* used on the results page; */
	table.providers {
		border-collapse: collapse;
		margin-top: 20px;
	}
		table.providers a {
			display: block;
			padding: 2px 0 2px 20px;
			position: relative;
		}
			table.providers a span {
				background: url(../img/spriteXY.png) no-repeat;
				position: absolute;
				height: 16px;
				width: 16px;
				top: 2px;
				left: 0;
				_left: -20px;
			}
				table.providers a.hours span            { background-position: -60px -88px; }
				table.providers a.directions span       { background-position: -76px -88px; }
				
				table.providers a.hours:hover span      { background-position: -92px -88px; }
				table.providers a.directions:hover span { background-position: -108px -88px; }
		table.providers td {
			background: #fff;
			border: 0;
			border-top: 1px solid #ccc;
			padding: 10px 0;
		}
			table.providers tr:first-child td { border-top: 0; }
			table.providers tr.first-child td { border-top: 0; }
	/* a table for just number data; */
	table.numbers {
		font-size: 11px;
	}
		table.numbers th {
			background: #CEF;
			border: 0;
			border-left: 1px dashed #fff;
			font-weight: bold;
			padding: 3px 5px;
			text-align: center;
		}
			table.numbers th:first-child { border-left: 0; }
			table.numbers th.first-child { border-left: 0; }
			/* when a TH is in the body, make sure the zebra stripe can be seen; */
			table.numbers tbody th {
				background: transparent;
				text-align: left;
			}
		table.numbers td {
			border: 0;
			border-left: 1px dashed #ccc;
			padding: 3px 5px;
			text-align: right;
		}
tbody {}
textarea {}
tfoot {}
th {}
thead {}
time {}
title {}
tr {}
	/* added via JS; */
	tr.zebra {
		background: #eee;
	}
ul {
	margin: 15px 0 0 0;
}
	ul li {
		list-style: disc;
		margin: 0 0 0 20px;
	}
	ul ul li { list-style: circle;
		   margin: 0 0 0 20px;
	}
	ul ul{
		margin: 0 0 0 0;
	}
	li ol li{
    list-style-type:decimal;
	}
	/* used when a list is comprised of primarily links; */
	ul.links {}
		ul.links li {
			list-style: none;
			margin: 0;
			padding: 2px 0 2px 10px;
			position: relative;
		}
		ul.links span {
			position: absolute;
			top: 6px;
			left: 0;
			_left: -10px;
			height: 8px;
			width: 4px;
			background: url(../img/spriteXY.png) -105px 0 no-repeat;
			overflow: hidden;
		}
	/* list of news articles (on the homepage); */
	ul.news {
		margin: 0;
	}
		ul.news li {
			list-style: none;
			margin: 0;
			padding: 5px 0 5px 10px;
			border-bottom: 1px dashed #ccc;
		}
var {}
video {}
wbr {}


/**
 * @section  Helper Classes;
 * @note 	no semantic meaning, these are for utility;
 **/
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after { content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



@media all and (orientation:portrait) {}



@media all and (orientation:landscape) {}



@media screen and (max-device-width: 480px) {}



@media print {
	/* base print styles */
	div,
	body,
	html {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	
	a, 
	a:visited { 
		text-decoration: underline;
	}
		.ir a:after,
		a[href^="javascript:"]:after,
		a[href^="#"]:after {
			content: "";
		}
		
	pre,
	blockquote { 
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	
	thead { display: table-header-group; }
	
	tr, 
	img { page-break-inside: avoid; }
	
	@page { margin: 0.5cm; }
	
	p, 
	h2, 
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2, 
	h3 { page-break-after: avoid; }
	
	/* set the width of the page to auto so nothing gets cut off; */
	div.container_10 {
	   width: auto;
	}
	
	/* hide all the elements that we don't want to show; */
	div.navglobal,
	div.identityaction div.search, /* we do want div.search available when it's in the body; */
	div.navmain,
	div.banner,
	div.anchor,
	div.navlocal,
	div.navlocal,
	div.module,
	div.datepicker a {
	   display: none;
	}
	/* for the few pages that have div.module in the #content area - show them; */
	#content div.module {
	   display: block;
	}
	/* if background images aren't turned on, all form elements disappear - this ensures that they are, at a minimum, outlined; */
	input.submittype,
	input.texttype,
	div.selector {
	   border: 1px solid #ccc !important;
	}
	
	/* for printing in IE6 of the query page; */
	div.container_10 div.prefix_2 {
	   padding-left: 0;
	}
}

.ellipsis {  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}

/* WEM tools */
#vui-cps-ui-tool li {
	list-style: none;
	margin: 0;
}

a.cssForHover {  
  font-weight: bold;
  border-bottom: 1px dashed #336699;
}

#content div.wysiwyg a.cssForHover {
	text-decoration: none;
}

a.cssForHover:hover {
  cursor: help;
  color:  #336699;
  font-weight: bold;
  border-bottom: 1px dashed #336699;
}

a.title {
	font-weight: bold;
}

.pubs .grid_1 {
	width: 90px;
	margin-left: 0;
	margin-right: 0;
}

