﻿.images-with-links .number-element-4 {
  width: 22%;
  width: -webkit-calc(25% - 15px);
  width: -moz-calc(25% - 15px);
  width: calc(25% - 15px) !important; }

.images-with-links .link-to-all {
  /*margin-top: 14px;
        margin-bottom: 14px;*/
  width: 100%;
  margin-right: 0;
  padding-right: 0; }

.images-with-links .title-content {
  width: 100%;
  font-size: 19px;
  font-weight: 400;
  display: block;
  margin: 0px 0px 10px 0px; }

.images-with-links .section-link-to-all {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  float: right;
  padding: 0;
  margin-top: 14px; }

.images-with-links .title-link-all {
  font-size: 14px;
  font-weight: 400;
  display: block;
  float: right;
  margin: 0px 10px 0px 0px;
  padding: 0;
  text-decoration: underline; }

.images-with-links .title-section {
  font-size: 19px;
  font-weight: 400;
  display: block;
  margin: 0;
  position: relative;
  /*padding-bottom: 14px;
        border-bottom: 1px solid #f1f1f1;*/
  margin-bottom: 14px;
  width: 100%; }
  .images-with-links .title-section .all {
    color: #292929;
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: underline;
    float: right;
    margin: 9px 0; }
  .images-with-links .title-section .image {
    background: url(/Content/images/nav-arrow-right.png) scroll right no-repeat;
    padding-right: 25px;
    background-size: 14px 14px !important; }
  .images-with-links .title-section .image-left {
    background: url(/Content/images/nav-arrow-left.png) scroll left no-repeat;
    padding-left: 25px;
    background-size: 14px 14px !important; }

.images-with-links .deals-desktop .deal-single {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 18px;
  width: 24%;
  width: -webkit-calc((100% - 60px) / 4);
  width: -moz-calc((100% - 60px) / 4);
  width: calc((100% - 60px) / 4); }
  .images-with-links .deals-desktop .deal-single a img {
    width: 100%; }
  .images-with-links .deals-desktop .deal-single a img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc; }
  .images-with-links .deals-desktop .deal-single img {
    width: 100%; }
  .images-with-links .deals-desktop .deal-single img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc; }
  .images-with-links .deals-desktop .deal-single .caption {
    color: #505050;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 5px 0 0;
    text-decoration: underline; }

.images-with-links .deals-mobile {
  display: none; }

@media (min-width: 720px) and (max-width: 1023px) {
  .images-with-links .deals-desktop {
    display: none; }
  .images-with-links .title-content {
    margin: 0px 0px 0px 0px !important; }
  .images-with-links .deals-mobile {
    display: block; }
    .images-with-links .deals-mobile .title-section {
      margin-left: 0px !important; }
    .images-with-links .deals-mobile h1.title-section::after {
      content: "";
      background: url("/Content/images/nav-arrow-up.png") no-repeat;
      width: 14px;
      height: 10px;
      display: inline-block;
      position: absolute;
      right: 14px;
      top: 14px;
      background-size: 14px 10px !important; }
    .images-with-links .deals-mobile h1.title-section.collapsed::after {
      background: url("/Content/images/nav-arrow-down.png") no-repeat !important;
      background-size: 14px 10px !important; }
    .images-with-links .deals-mobile h1.title-section {
      border: 1px solid #fff;
      border-bottom: none;
      cursor: pointer;
      font-weight: normal;
      padding: 10px 10px 10px 15px;
      position: relative;
      color: #292929;
      display: block;
      font-weight: 400;
      font-size: 17px !important;
      margin: 0;
      background: #e7ebee;
      text-transform: uppercase; }
    .images-with-links .deals-mobile .deal-single {
      text-align: left;
      border: 1px solid #fff;
      background-color: #e1e5e9; }
      .images-with-links .deals-mobile .deal-single .caption {
        color: #505050;
        display: block;
        line-height: 12px;
        margin: 5px 0 0 15px;
        font-weight: 400;
        font-size: 14px;
        margin-top: 3px;
        padding: 10px 0; }
    .images-with-links .deals-mobile .deal-single:last-child {
      margin-bottom: 0; }
    .images-with-links .deals-mobile .orizontal-images-list {
      margin-top: 14px; }
      .images-with-links .deals-mobile .orizontal-images-list ul.images-list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li {
          display: inline-block;
          margin: 0 7px !important;
          width: 210px !important;
          vertical-align: top; }
          .images-with-links .deals-mobile .orizontal-images-list ul.images-list li img {
            width: 100%; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li:first-child {
          margin-left: 0px !important; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li:last-child {
          margin-right: 0px !important; } }

@media (min-width: 320px) and (max-width: 720px) {
  .images-with-links .deals-desktop {
    display: none; }
  .images-with-links .title-content {
    margin: 10px 0px 0px 0px !important; }
  .images-with-links .deals-mobile {
    display: block; }
    .images-with-links .deals-mobile h1.title-section::after {
      content: "";
      background: url("/Content/images/nav-arrow-up.png") no-repeat;
      width: 14px;
      height: 10px;
      display: inline-block;
      position: absolute;
      right: 14px;
      top: 14px;
      background-size: 14px 10px !important; }
    .images-with-links .deals-mobile h1.title-section.collapsed::after {
      background: url("/Content/images/nav-arrow-down.png") no-repeat !important;
      background-size: 14px 10px !important; }
    .images-with-links .deals-mobile h1.title-section {
      border: 1px solid #fff;
      cursor: pointer;
      font-weight: normal;
      padding: 10px 10px 10px 15px;
      position: relative;
      color: #292929;
      display: block;
      font-weight: 400;
      font-size: 17px !important;
      margin: 0;
      background: #e7ebee;
      text-transform: uppercase; }
    .images-with-links .deals-mobile .deal-single {
      margin: 0;
      text-align: left;
      border: 1px solid #fff;
      border-bottom: none;
      background-color: #e1e5e9; }
      .images-with-links .deals-mobile .deal-single .caption {
        color: #505050;
        display: block;
        line-height: 12px;
        margin: 5px 0 0 15px;
        font-weight: 400;
        font-size: 14px;
        margin-top: 3px;
        padding: 10px 0; }
    .images-with-links .deals-mobile .deal-single:last-child {
      border-bottom: 1px solid #f1f1f1; }
    .images-with-links .deals-mobile .orizontal-images-list {
      margin-top: 14px; }
      .images-with-links .deals-mobile .orizontal-images-list ul.images-list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li {
          display: inline-block;
          margin: 0 7px !important;
          width: 210px !important;
          vertical-align: top; }
          .images-with-links .deals-mobile .orizontal-images-list ul.images-list li img {
            width: 100%; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li:first-child {
          margin-left: 0px !important; }
        .images-with-links .deals-mobile .orizontal-images-list ul.images-list li:last-child {
          margin-right: 0px !important; } }

