﻿body {
  color: #292929 !important;
  position: relative;
  background-color: #f7f7f7 !important;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

b, strong, label {
  font-weight: 600 !important; }

.ctn-white-gen {
  background: none !important; }

audio {
  display: none !important; }

input[type=text],
input[type=email],
input[type=password],
select {
  box-shadow: none !important;
  /*-webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;*/ }

.obscure,
.obscure-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #292929;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: none; }

.old-price {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 15px;
  text-decoration: line-through !important; }

@media (min-width: 320px) and (max-width: 720px) {
  body {
    background-color: #ffffff !important; } }

a {
  color: #292929; }

a:hover {
  color: #292929;
  text-decoration: none !important; }

a:hover {
  text-decoration: none; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00234b+0,003e67+51,014b78+100 */
  background: #014653;
  /* Old browsers */
  /*background: -moz-linear-gradient(left, #00234b 0%, #003e67 51%, #014b78 100%); 
    background: -webkit-linear-gradient(left, #00234b 0%,#003e67 51%,#014b78 100%); 
    background: linear-gradient(to right, #00234b 0%,#003e67 51%,#014b78 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00234b', endColorstr='#014b78',GradientType=1 );*/ }

.white {
  background: #ffffff; }

.circular-std {
  font-family: "Open Sans", sans-serif; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin {
  margin: 0 !important; }

.margin-plus {
  margin-bottom: 0; }

.text-align-right {
  text-align: right; }

.spacer {
  padding-bottom: 13px;
  overflow: hidden; }

.spacer-top {
  padding-top: 13px;
  overflow: hidden; }

.spacer-bottom {
  padding-bottom: 14px;
  overflow: hidden; }

.padding-top-std {
  padding-top: 14px; }

.padding-bottom-std {
  padding-bottom: 14px; }

.no-spacer {
  overflow: hidden;
  margin-top: 2px; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.w-33 {
  width: 33.3%; }

.w-66 {
  width: 66.6%; }

.number-element-1 {
  width: 100%; }

.ie11 .number-element-2 {
  width: 50% !important; }

.number-element-2 {
  width: 48% !important;
  width: -webkit-calc(50% - 7px) !important;
  width: -moz-calc(50% - 7px) !important;
  width: calc(50% - 7px) !important; }

.ie11 .number-element-3 {
  width: 33.3% !important; }

.number-element-3 {
  width: 32%;
  width: -webkit-calc(33.3% - 12.3px) !important;
  width: -moz-calc(33.3% - 12.3px) !important;
  width: calc(33.3% - 12.3px) !important; }

.ie11 .number-element-showcase-3 {
  width: 33.3% !important; }

.number-element-showcase-3 {
  width: 32%;
  width: -webkit-calc(33.3% - 12.3px) !important;
  width: -moz-calc(33.3% - 12.3px) !important;
  width: calc(33.3% - 12.3px) !important; }

.ie11 .number-element-4 {
  width: calc(25%) !important; }

.number-element-4 {
  width: 25%;
  width: -webkit-calc(25% - 10.5px) !important;
  width: -moz-calc(25% - 10.5px) !important;
  width: calc(25% - 10.5px) !important; }

.ie11 .number-element-5 {
  width: 20% !important; }

.number-element-5 {
  width: 20% !important;
  width: -webkit-calc(20% - 7px) !important;
  width: -moz-calc(20% - 7px) !important;
  width: calc(20% - 7px) !important; }

.modulo-ctn {
  overflow: hidden; }

.container {
  position: relative; }

.none {
  display: none !important; }

.logo-link {
  overflow: hidden;
  font-size: 0;
  display: table;
  margin-top: -8px;
  /*margin-left: 17px;*/ }

.logo-link-mobile {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-align: center;
  z-index: 0; }

.logo {
  background: url(/Content/images/new-logo-ibs.png);
  background-size: 140px 60px;
  width: 140px;
  height: 60px;
  display: inline-block; }

.homepage .main-ctn .margin-bottom {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/************/
/*.title-section.Libri,
.title-section.Film,
.title-section.CD,
.title-section.eBook,
.title-section.Videogame,
.title-section.Giocattoli {
    padding-left: 35px;
}*/
/*.title-section.Libri::before {
    content: "";
    background-image: url('/Content/images/icone20x20-LIBRI.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-section.Film::before {
    content: "";
    background-image: url('/Content/images/icone20x20-DVD.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-section.CD::before {
    content: "";
    background-image: url('/Content/images/icone20x20-CD.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-section.eBook::before {
    content: "";
    background-image: url('/Content/images/icone20x20-ebook.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-section.Giocattoli::before {
    content: "";
    background-image: url('/Content/images/icone20x20-giocattoli.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.title-section.Videogame::before {
    content: "";
    background-image: url('/Content/images/icone20x20-GAMES.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}*/
.link-to-all {
  padding-right: 15px;
  display: inline-block;
  text-decoration: none !important; }

/******************/
/* Header */
.container-fluid header {
  background: #014653 none repeat scroll 0% 0%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 7px;
  width: 100%;
  z-index: 999; }

.sub_header {
  position: relative;
  z-index: 99;
  background-color: #044d5b !important;
  margin-top: 60px; }

.header-ctn,
.sub-header-ctn {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px; }
  .header-ctn .category-sel,
  .sub-header-ctn .category-sel {
    padding: 7px; }
    .header-ctn .category-sel a,
    .sub-header-ctn .category-sel a {
      display: inline-block; }
  .header-ctn a.select-category,
  .sub-header-ctn a.select-category {
    background: url(/Content/images/icoMenuLeft_w.png) no-repeat;
    background-size: 22px 22px;
    padding-top: 2px; }
  .header-ctn a.select-category:hover,
  .header-ctn a.select-category.active,
  .sub-header-ctn a.select-category:hover,
  .sub-header-ctn a.select-category.active {
    background: url(/Content/images/icoMenuLeft_y.png) no-repeat;
    background-size: 22px 22px;
    color: #f7cf61 !important; }
  .header-ctn .drop-header-menu,
  .sub-header-ctn .drop-header-menu {
    background-color: #fff;
    border-bottom: none;
    box-sizing: border-box;
    left: 100px;
    padding: 10px !important;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-out 0.3s, visibility 0.3s ease-out 0.3s;
    display: none;
    width: 205px;
    z-index: 99999;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    background-size: 12px 5px; }
    .header-ctn .drop-header-menu .title,
    .sub-header-ctn .drop-header-menu .title {
      width: 100%;
      border-bottom: 1px solid #e1e1e1;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px; }
    .header-ctn .drop-header-menu a.login,
    .sub-header-ctn .drop-header-menu a.login {
      background-color: #0aa5b3;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fff;
      display: block;
      margin: 10px auto;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      cursor: pointer !important; }
    .header-ctn .drop-header-menu .register a,
    .sub-header-ctn .drop-header-menu .register a {
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      text-decoration: underline;
      vertical-align: top;
      color: #4a4a4a !important; }
    .header-ctn .drop-header-menu ul.drop-header-links,
    .sub-header-ctn .drop-header-menu ul.drop-header-links {
      margin: 0;
      padding: 0;
      width: 100%; }
      .header-ctn .drop-header-menu ul.drop-header-links li,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li {
        padding-left: 10px !important;
        position: relative;
        display: block; }
      .header-ctn .drop-header-menu ul.drop-header-links li:hover,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li:hover {
        background-color: #f1f2f7; }
      .header-ctn .drop-header-menu ul.drop-header-links li a,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li a {
        line-height: 32px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #4a4a4a;
        display: block;
        width: 100%;
        height: 100%; }
      .header-ctn .drop-header-menu ul.drop-header-links li.greyItem,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li.greyItem {
        background-color: #f1f2f7;
        margin: 0 -14px;
        padding: 4px 14px;
        width: calc(100% + 28px); }
      .header-ctn .drop-header-menu ul.drop-header-links li.firstItem,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li.firstItem {
        padding-top: 15px; }
        .header-ctn .drop-header-menu ul.drop-header-links li.firstItem a,
        .sub-header-ctn .drop-header-menu ul.drop-header-links li.firstItem a {
          line-height: 12px; }
      .header-ctn .drop-header-menu ul.drop-header-links p.item-num,
      .sub-header-ctn .drop-header-menu ul.drop-header-links p.item-num {
        color: #939393;
        padding: 0; }
      .header-ctn .drop-header-menu ul.drop-header-links li.blueItem,
      .sub-header-ctn .drop-header-menu ul.drop-header-links li.blueItem {
        background-color: #5d606e;
        margin: 0 -14px;
        padding: 4px 14px;
        width: calc(100% + 28px); }
        .header-ctn .drop-header-menu ul.drop-header-links li.blueItem a,
        .sub-header-ctn .drop-header-menu ul.drop-header-links li.blueItem a {
          color: #fff; }
    .header-ctn .drop-header-menu a::after,
    .sub-header-ctn .drop-header-menu a::after {
      background: none;
      bottom: auto;
      height: auto;
      width: auto;
      position: relative;
      right: auto; }
  .header-ctn .activeDropdown,
  .sub-header-ctn .activeDropdown {
    display: block; }

@media (min-width: 320px) and (max-width: 480px) {
  .header-ctn .drop-header-menu,
  .sub-header-ctn .drop-header-menu {
    left: 58px;
    top: 31px; } }

.main-search {
  height: 34px;
  margin-top: 4px;
  border: none;
  background: #fff;
  color: #292929 !important;
  /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.main-search::-webkit-input-placeholder {
  color: #292929; }

.main-search:-moz-placeholder {
  /* Firefox 18- */
  color: #292929; }

.main-search::-moz-placeholder {
  /* Firefox 19+ */
  color: #292929; }

.main-search:-ms-input-placeholder {
  color: #292929; }

#suggestions {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f1f2f7;
  display: none;
  padding: 7px;
  position: absolute;
  /*right: 5%;*/
  top: 38px;
  /*width: 90%;*/
  width: 70%;
  z-index: 99999; }
  #suggestions hr {
    border: 1px solid;
    color: #f1f1f1;
    margin: 0;
    padding: 0; }
  #suggestions .result {
    color: #000;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer; }
    #suggestions .result:hover {
      background: #0AA5B3;
      color: #fff; }
  #suggestions .selected {
    background: #0AA5B3;
    color: #fff; }

.dropdown-category, .dropdown-category:hover, .dropdown-category:focus {
  /*background: transparent;
    border-radius: 25px 0 0 25px;*/
  background-color: #ddd;
  border-radius: 4px 0 0 4px;
  color: #014653;
  /*color: #0aa5b3;
    color: #fff;*/
  border: none;
  font-size: 13px;
  height: 34px;
  padding: 7px 15px 13px 8px;
  font-weight: 600;
  margin-top: 4px; }
  .dropdown-category .plus-ico, .dropdown-category:hover .plus-ico, .dropdown-category:focus .plus-ico {
    position: absolute;
    right: 7px;
    top: 16px;
    display: inline-block;
    width: 11px;
    height: 11px;
    background-size: 11px 11px !important;
    background: url("/Content/images/piu.png"); }

.search-submit {
  background: #fff;
  border-radius: 0 4px 4px 0;
  padding: 13px 20px;
  text-indent: -9999px;
  color: #959aad;
  border: none;
  font-size: 13px;
  height: 34px;
  margin-top: 4px; }

.search-submit::after {
  content: "";
  background: url(/Content/images/searchBgButton.png) no-repeat;
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
  position: absolute;
  top: 4px;
  left: 0px; }

.search-submit:hover::after {
  width: 26px;
  height: 26px;
  background-size: 26px 26px; }

.header-link {
  padding-left: 0;
  float: right; }
  .header-link a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    line-height: 18px;
    text-decoration: none !important; }
  .header-link .cart-link {
    background: url("/Content/images/icon_carrello.png") no-repeat center 0;
    background-size: 28px;
    padding-top: 30px;
    display: inline-block;
    width: 80px; }
  .header-link .cart-link:hover {
    background: url("/Content/images/icon_carrello_2.png") no-repeat center 0;
    background-size: 28px;
    color: #f7cf61; }
  .header-link .top-right-links {
    float: right; }
    .header-link .top-right-links .top-login {
      float: left;
      padding: 0 7px; }
      .header-link .top-right-links .top-login .drop-access-menu {
        background: url("/Content/images/icon_mioibs.png") no-repeat center -4px;
        background-size: 28px;
        padding-top: 35px;
        display: inline-block;
        width: 80px;
        font-size: 12px !important;
        line-height: 13px !important;
        margin-top: 8px !important; }
      .header-link .top-right-links .top-login .drop-sub-menu-logged {
        background: url(/Content/images/icon_mioibs_2.png) no-repeat top left;
        background-position: left -3px;
        background-size: 28px;
        padding-left: 35px;
        padding-top: 0 !important;
        padding-bottom: 5px;
        margin-top: 5px;
        display: inline-block;
        font-size: 12px !important;
        line-height: 13px !important;
        margin-top: 10px !important;
        height: 42px !important; }
    .header-link .top-right-links .top-login:hover .drop-access-menu {
      background: url("/Content/images/icon_mioibs_2.png") no-repeat center -4px;
      background-size: 28px;
      color: #f7cf61; }
    .header-link .top-right-links .top-login:hover .drop-sub-menu-logged {
      background: url(/Content/images/icon_mioibs_2.png) no-repeat top left;
      background-position: left -3px;
      background-size: 28px;
      padding-left: 35px;
      padding-top: 0 !important;
      padding-bottom: 5px;
      margin-top: 5px;
      display: inline-block; }
    .header-link .top-right-links .top-wish {
      float: left;
      /*margin-left: 40px;*/
      padding: 0 7px;
      margin-top: 5px; }
      .header-link .top-right-links .top-wish span.wish-drop {
        background: url("/Content/images/icon_listadesideri.png") no-repeat center 0;
        background-size: 28px;
        display: inline-block;
        padding-top: 30px;
        width: 80px; }
    .header-link .top-right-links .wish-list:hover .wish-drop {
      background: url("/Content/images/icon_listadesideri_2.png") no-repeat center 0;
      background-size: 28px;
      color: #f7cf61; }
    .header-link .top-right-links .top-cart {
      float: left;
      /*margin-left: 40px;*/
      padding: 0 7px;
      margin-top: 5px; }

.sub-header-link {
  padding-right: 0;
  /*
    .premium {
        background: url(/Content/images/marketplaceIco.png) no-repeat 0 center;
        background-size: 22px 22px !important;

        &:hover {
            background-size: 23px 23px !important;
        }
    }

    .app-mobile {
        background: url(/Content/images/app-mobile.png) no-repeat 0 center;
        background-size: 22px 22px !important;

        &:hover {
            background-size: 23px 23px !important;
        }
    }

    .consegne {
        background: url(/Content/images/consegne.png) no-repeat 0 center;
        background-size: 22px 22px !important;

        &:hover {
            background-size: 23px 23px !important;
        }
    }

    .buoni-regalo {
        background: url(/Content/images/buoni-regalo.png) no-repeat 0 center;
        background-size: 22px 22px !important;

        &:hover {
            background-size: 23px 23px !important;
        }
    }
    */
  text-align: right; }
  .sub-header-link a {
    text-align: right;
    display: block;
    color: #fff !important;
    line-height: 41px;
    text-decoration: none !important;
    padding-left: 30px; }
  .sub-header-link a:hover {
    color: #f7cf61 !important; }
  .sub-header-link .marketplace {
    background: url(/Content/images/marketplaceIco.png) no-repeat 0 center;
    background-size: 22px 22px !important; }
    .sub-header-link .marketplace:hover {
      background-size: 23px 23px !important; }

.sub-header-link.sub-header-right-links div {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  text-align: right; }
  .sub-header-link.sub-header-right-links div a {
    display: block; }
  .sub-header-link.sub-header-right-links div a:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 2px;
    background-color: #5d606e;
    -webkit-transition: width .3s ease-out;
    -moz-transition: width .3s ease-out;
    -ms-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out; }
  .sub-header-link.sub-header-right-links div a:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0;
    height: 2px;
    background-color: #5d606e;
    -webkit-transition: width .3s ease-in;
    -moz-transition: width .3s ease-in;
    -ms-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in; }

.sub-header-ctn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 1;
  height: 40px;
  /*.select-category::after {
        content: "";
        background: url(/Content/css/sprites.png) no-repeat;
        background-position: -321px -24px;
        width: 10px;
        height: 6px;
        position: absolute;
        bottom: 4px;
        right: -20px;
    }*/ }
  .sub-header-ctn .select-category {
    position: relative;
    background: url(/Content/images/icoMenuLeft_w.png) no-repeat;
    background-size: 22px 22px;
    height: 22px;
    color: #ffffff !important;
    width: 22px;
    top: 2px;
    left: 16px;
    padding-left: 30px;
    text-decoration: none !important;
    text-transform: uppercase !important;
    cursor: pointer !important; }

.menu-header-category {
  /*margin-top: 8px;*/ }
  .menu-header-category .top-adv-research {
    position: absolute;
    top: 0;
    right: -90px;
    /*a {
            border: 1px solid #6e93aa;
            border-radius: 0 25px 25px 0;
            display: inline-block;
            height: 44px;
            color: #fff;
            padding-left: 54px;
            padding-right: 23px;
            box-sizing: border-box;
            padding-top: 7px;
            padding-bottom: 7px;
            line-height: 14px;
            text-decoration: none !important;
            font-size: 13px;
        }*/ }
  .menu-header-category ul#headerCategoryListItems li a {
    text-decoration: none !important; }

.menu-wrapper {
  display: none;
  background-color: transparent;
  width: 850px;
  height: 288px;
  position: absolute;
  top: 42px;
  left: -7px; }

#desktop-menu {
  display: none;
  position: absolute;
  top: -40px;
  left: 0;
  padding-top: 40px !important;
  z-index: 999999; }
  #desktop-menu nav {
    background: #fff;
    border-right: 1px solid #f1f1f1 !important;
    position: relative;
    z-index: 9999999; }
  #desktop-menu .cat-list {
    padding: 0;
    margin: 0;
    width: 220px;
    background: #fff; }
    #desktop-menu .cat-list li:first-child {
      background: url(/Content/images/taglio_verde_x2.png);
      background-repeat: no-repeat;
      background-position: 35px -1px;
      background-size: 10px; }
    #desktop-menu .cat-list li:hover {
      background-color: #f7f7f7; }
    #desktop-menu .cat-list li {
      border-bottom: 1px solid #f1f1f1;
      padding-top: 1px !important;
      padding-bottom: 1px !important; }
      #desktop-menu .cat-list li a {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 35px;
        padding-left: 30px;
        position: relative;
        z-index: 100;
        color: #292929 !important;
        text-decoration: none !important;
        margin-left: 20px; }
      #desktop-menu .cat-list li a:hover {
        color: #0998a5 !important; }
      #desktop-menu .cat-list li .glyphicon {
        float: right;
        position: relative;
        right: 5px;
        opacity: 0.5;
        top: -20px;
        font-size: 8pt; }
      #desktop-menu .cat-list li .book-ico {
        background: url(/Content/images/icone20x20-LIBRI.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .booken-ico {
        background: url(/Content/images/icone20x20-LIBRI.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .ebook-ico {
        background: url(/Content/images/icone20x20-ebook.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .ebooken-ico {
        background: url(/Content/images/icone20x20-ebook.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .erader-ico {
        background: url(/Content/images/icone20x20-eReader.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .movies-ico {
        background: url(/Content/images/icone20x20-DVD.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .musiccd-ico {
        background: url(/Content/images/icone20x20-CD.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .musicvin-ico {
        background: url(/Content/images/icone20x20-vinili.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .stationary-ico {
        background: url(/Content/images/icone20x20-cartoleria.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .toys-ico {
        background: url(/Content/images/icone20x20-giocattoli.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .gadget-ico {
        background: url(/Content/images/icone20x20-gadget.png) no-repeat 0 center;
        background-size: 20px 20px; }
      #desktop-menu .cat-list li .videogames-ico {
        background: url(/Content/images/icone20x20-GAMES.png) no-repeat 0 center;
        background-size: 20px 20px; }

.genre-list-cat {
  margin: 0px 0px 10px 0px; }

#submenu-ctn {
  display: none;
  position: absolute;
  left: 220px;
  background: #fff;
  z-index: 999;
  width: 660px;
  height: 304px;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important; }
  #submenu-ctn .sub-category-menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
    padding: 15px !important; }
    #submenu-ctn .sub-category-menu .column:first-child {
      padding-left: 0 !important; }
    #submenu-ctn .sub-category-menu .column:last-child {
      border-right: none !important; }
    #submenu-ctn .sub-category-menu .column {
      width: 210px;
      float: left;
      padding-left: 15px !important;
      border-right: 1px solid #f1f1f1; }
    #submenu-ctn .sub-category-menu .title:hover {
      font-weight: 600; }
    #submenu-ctn .sub-category-menu h2.title {
      font-size: 16px;
      line-height: 23px;
      padding: 0 !important;
      margin: 0 !important;
      color: #0998a5 !important;
      font-weight: 600; }
      #submenu-ctn .sub-category-menu h2.title .glyphicon {
        color: #0998a5 !important;
        font-size: 8pt;
        margin-left: 8px;
        position: relative;
        top: -1px; }
    #submenu-ctn .sub-category-menu h3.title {
      font-size: 14px;
      line-height: 23px;
      padding: 0 !important;
      margin: 0 !important;
      color: #0998a5 !important;
      font-weight: 600; }
    #submenu-ctn .sub-category-menu .links {
      margin-bottom: 20px; }
      #submenu-ctn .sub-category-menu .links a {
        font-size: 12px !important;
        line-height: 23px !important;
        color: #292929 !important; }
  #submenu-ctn h5 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin: 0; }
  #submenu-ctn h5::after {
    background-image: url("/Content/images/caret-left.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    content: "";
    display: inline-block;
    height: 22px;
    margin-bottom: 3px;
    margin-left: 10px;
    vertical-align: middle;
    width: 12px; }
  #submenu-ctn h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 0; }
  #submenu-ctn a {
    color: #292929;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none !important; }
  #submenu-ctn a:hover {
    color: #2d7dbd; }
  #submenu-ctn ul {
    margin: 0;
    padding: 0; }
  #submenu-ctn .img-velo-ctn {
    text-align: right; }
    #submenu-ctn .img-velo-ctn img {
      margin-top: 28px; }

.fast-click ul {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  width: 100%;
  overflow: hidden;
  padding: 0; }
  .fast-click ul li {
    display: block;
    float: left;
    width: 25%;
    border-left: 1px solid #eee; }
    .fast-click ul li a {
      color: #292929;
      display: block;
      font-family: "Roboto Slab",serif;
      font-size: 14px;
      text-align: center;
      max-width: 60px;
      margin: 0 auto 14px auto; }
    .fast-click ul li a::before {
      display: block;
      height: 25px;
      margin: 14px auto 0;
      width: 45px; }
    .fast-click ul li a.books-it::before {
      content: url("/Content/images/books_it.png"); }
    .fast-click ul li a.books-en::before {
      content: url("/Content/images/books_it.png"); }
    .fast-click ul li a.ebook-it::before {
      content: url("/Content/images/ebooks.png"); }
    .fast-click ul li a.ebook-en::before {
      content: url("/Content/images/ebooks.png"); }
  .fast-click ul li:first-child {
    border: none; }

ul.submenu {
  float: right;
  margin-right: 35px; }
  ul.submenu li {
    float: left;
    margin-left: 10px; }

/* /Header */
/* footer */
footer {
  margin: 0 !important;
  position: relative;
  top: 20px; }
  footer .top {
    display: none;
    background-color: #044d5b;
    text-align: center;
    margin: 0 !important;
    padding: 10px 0 10px 0;
    color: #ffffff;
    border: none !important; }
  footer .middle {
    overflow: hidden;
    background-color: #014653;
    text-align: center;
    padding: 20px 40px 20px 40px;
    color: #ffffff; }
    footer .middle .links {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 0 130px 0 130px; }
      footer .middle .links .item {
        cursor: pointer;
        width: 120px;
        text-align: center;
        margin: 0 auto; }
        footer .middle .links .item img {
          width: 50px;
          height: 50px; }
        footer .middle .links .item hr {
          width: 80px;
          border-top: 3px solid #f7cf61;
          margin: 10px auto 15px auto; }
        footer .middle .links .item .label {
          color: #ffffff !important;
          font-size: 16px;
          text-align: center;
          font-weight: 400 !important;
          margin: auto !important; }
      footer .middle .links .item:hover .label {
        color: #f7cf61 !important; }
    footer .middle .info {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      margin-top: 30px;
      padding: 20px 50px 20px 50px;
      border-top: 1px solid #0c4e5b;
      border-bottom: 1px solid #0c4e5b;
      color: #c1c3c4;
      font-size: 11px;
      text-align: center; }
      footer .middle .info .item {
        margin: 0 auto 10px auto; }
      footer .middle .info .label {
        color: #c1c3c4;
        font-weight: 600 !important; }
      footer .middle .info .b2b, footer .middle .info .contacts, footer .middle .info .follow {
        padding-top: 3px; }
      footer .middle .info .b2b a, footer .middle .info .contacts a {
        font-size: 13px;
        text-align: center;
        color: #c1c3c4 !important; }
      footer .middle .info .b2b a:hover, footer .middle .info .contacts a:hover {
        color: #f7cf61 !important; }
      footer .middle .info .follow a {
        float: left;
        margin: 0 5px 0 5px; }
      footer .middle .info .follow a.facebook {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("/Content/images/facebook_30x30_x2.png");
        background-size: contain; }
      footer .middle .info .follow a.twitter {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("/Content/images/twitter_30x30_x2.png");
        background-size: contain; }
      footer .middle .info .follow a.googleplus {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("/Content/images/googleplus_30x30_x2.png");
        background-size: contain; }
      footer .middle .info .follow a.facebook:hover {
        background-image: url("/Content/images/facebook_30x30_x2_b.png"); }
      footer .middle .info .follow a.twitter:hover {
        background-image: url("/Content/images/twitter_30x30_x2_b.png"); }
      footer .middle .info .follow a.googleplus:hover {
        background-image: url("/Content/images/googleplus_30x30_x2_b.png"); }
      footer .middle .info .netcom {
        width: 60px;
        height: 60px;
        background-image: url("/Content/images/sigillo_netcomm.jpg");
        background-size: contain; }
      footer .middle .info .payments {
        position: relative;
        top: 10px; }
  footer .bottom {
    background-color: #014653;
    text-align: center;
    color: #437882;
    font-size: 11px;
    line-height: 16px;
    padding: 0 100px 20px 100px;
    margin: 0 !important;
    border: none !important; }
    footer .bottom .links a {
      text-decoration: underline;
      color: #437882; }
    footer .bottom .links a:hover {
      color: #ffffff;
      text-decoration: underline; }
    footer .bottom .copyright {
      color: #437882; }

/* footer XS */
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    left: 0px !important; }
    footer .middle {
      padding-top: 0 !important;
      padding: 10px !important; }
      footer .middle .links {
        flex-direction: column;
        padding: 10px 23px 10px 23px; }
        footer .middle .links .item {
          width: 100%;
          border-bottom: 1px solid #0c4e5b !important;
          padding-top: 8px;
          padding-bottom: 8px;
          text-align: left;
          background-image: url("/Content/images/arrow-right.png");
          background-position: right;
          background-repeat: no-repeat; }
          footer .middle .links .item img {
            float: left;
            width: 35px;
            height: 35px; }
          footer .middle .links .item hr {
            float: left;
            border-top: 1px solid #f7cf61;
            width: 60px;
            position: relative;
            top: 33px;
            left: -45px; }
          footer .middle .links .item .label {
            width: auto;
            float: left;
            font-size: 13px;
            text-align: left;
            padding: 10px 0 0 0 !important;
            position: relative;
            left: -30px;
            font-weight: normal; }
      footer .middle .info {
        flex-wrap: wrap;
        justify-content: space-around;
        border-top: none !important;
        margin-top: 0 !important;
        padding-left: 10px;
        padding-right: 10px; }
        footer .middle .info .b2b {
          order: 1;
          width: 159px; }
        footer .middle .info .contacts {
          order: 2;
          width: 121px; }
        footer .middle .info .netcom {
          width: 91px;
          height: 38px;
          background-image: url("/Content/images/sigillo_netcomm_x2_b.jpg");
          order: 3;
          margin-top: 30px;
          margin-right: 30px;
          margin-left: 40px; }
        footer .middle .info .follow {
          order: 4;
          margin-top: 30px;
          width: 119px; }
          footer .middle .info .follow a {
            margin: 0 3px 0 3px; }
        footer .middle .info .payments {
          order: 5;
          margin-top: 30px;
          position: relative;
          top: -10px; }
          footer .middle .info .payments img {
            width: 95%; }
    footer .bottom {
      padding: 20px !important; }
  .search-submit {
    margin-top: 4px; } }

/* footer SM */
@media (min-width: 481px) and (max-width: 719px) {
  footer {
    position: relative;
    left: -0px !important; }
    footer .middle .links {
      padding: 10px 23px 10px 23px; }
      footer .middle .links .item img {
        width: 40px;
        height: 40px; }
      footer .middle .links .item hr {
        border-top: 1px solid #f7cf61;
        width: 60px; }
      footer .middle .links .item .label {
        font-size: 12px; }
    footer .middle .info {
      flex-wrap: wrap;
      justify-content: space-around;
      border-top: none !important;
      margin-top: 0 !important;
      padding-left: 10px;
      padding-right: 10px; }
      footer .middle .info .b2b {
        order: 1;
        width: 200px !important; }
      footer .middle .info .contacts {
        order: 2;
        width: 200px !important; }
      footer .middle .info .netcom {
        order: 3;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 30px; }
      footer .middle .info .follow {
        order: 4;
        margin-top: 10px;
        position: relative;
        left: -10px; }
      footer .middle .info .payments {
        order: 5;
        margin-top: 30px;
        position: relative;
        top: -10px; }
        footer .middle .info .payments img {
          width: 95%; }
    footer .bottom {
      padding: 20px !important; } }

@media (min-width: 720px) {
  .container-fluid-desktop {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/* footer SM (landscape) */
@media (min-width: 720px) and (max-width: 1024px) {
  .bg-orange {
    position: absolute;
    right: -3px;
    top: 0;
    font-size: 10px;
    z-index: 9; }
  footer .middle .links {
    padding: 0 20px 0 20px !important; }
  footer .middle .info {
    flex-wrap: wrap;
    justify-content: space-around; }
    footer .middle .info .b2b {
      width: 160px;
      margin-left: 10px; }
    footer .middle .info .contacts {
      width: 150px; }
    footer .middle .info .netcom {
      width: 60px;
      height: 60px;
      background-image: url("/Content/images/sigillo_netcomm.jpg");
      background-size: contain; }
    footer .middle .info .payments {
      margin-bottom: 10px; }
  footer .bottom {
    padding: 20px !important; }
  .slick {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 7px; }
    .slick li {
      display: inline-block;
      margin: 0 7px;
      width: 150px;
      vertical-align: top; }
      .slick li .img-ctn {
        overflow: hidden;
        display: block;
        height: 150px !important;
        white-space: normal;
        vertical-align: top; }
        .slick li .img-ctn img {
          max-height: 150px; }
      .slick li figcaption {
        white-space: normal;
        margin: 10px 0; }
        .slick li figcaption .title {
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          margin: 0px;
          margin-top: 14px;
          width: 95%;
          display: inline; }
          .slick li figcaption .title a {
            text-decoration: none !important; }
          .slick li figcaption .title a:hover {
            color: #2d7dbd; }
        .slick li figcaption .author {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          margin-top: 3px;
          margin-bottom: 3px;
          max-width: 130px;
          display: block; } }

/* footer LG */
@media (min-width: 1440px) {
  footer .middle .links {
    padding: 20px 350px 20px 350px !important; }
  footer .middle .info {
    padding: 20px 265px 0 265px !important; }
  footer .bottom {
    padding: 20px 350px 20px 350px !important; } }

/* Main Content */
.main-ctn.container {
  padding: 0 !important; }
  .main-ctn.container .block {
    padding: 0 9px 0 9px; }

.main-ctn {
  /*.row {
        padding: 15px 0 0 0;
        margin: 0;
    }*/ }
  .main-ctn .margin-bottom {
    margin-bottom: 15px; }
  .main-ctn .engage-carousel {
    margin-top: 62px; }

.main-ctn > section > div {
  background: #ffffff; }

.main-ctn > div {
  background: #ffffff; }

/* Menu Mobile */
#menu-mobile-user {
  display: block;
  width: 250px;
  top: 32px;
  background-color: #fff;
  border: 1px solid #e3e6ef;
  border-bottom: none;
  box-sizing: border-box;
  opacity: 0;
  padding: 0 13px;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-out 0.3s, visibility 0.3s ease-out 0.3s;
  width: 205px;
  z-index: 99999;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400; }

.side-menu {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 45px;
  left: 7px;
  z-index: 10000;
  width: 75%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 0;
  display: none;
  background: url("/Content/images/arrow-menu-open.png") no-repeat 12px -1px #fff;
  background-size: 12px 5px; }

.side-menu-user {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 45px;
  right: -216px;
  z-index: 10000;
  width: 75%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 0;
  display: none;
  background: url("/Content/images/arrow-menu-open.png") no-repeat 12px -1px #fff;
  background-size: 12px 5px; }
  .side-menu-user .user-logged-mobile {
    color: #164a73;
    font-weight: bold;
    border-bottom: 1px solid #d9d9da !important; }

.side-menu ul,
.side-menu-user ul {
  padding: 0; }
  .side-menu ul li.opened, .side-menu ul li.opened-last,
  .side-menu-user ul li.opened,
  .side-menu-user ul li.opened-last {
    background-color: #ffffff;
    background-image: url("/Content/images/arrow-bottom-mobile.png");
    background-position: 96% 14px;
    background-repeat: no-repeat;
    background-size: 11px 7px; }
    .side-menu ul li.opened ul, .side-menu ul li.opened-last ul,
    .side-menu-user ul li.opened ul,
    .side-menu-user ul li.opened-last ul {
      padding: 0; }
  .side-menu ul li.go-to-page,
  .side-menu-user ul li.go-to-page {
    background-color: #ffffff;
    background-image: url("/Content/images/arrow-left-mobile.png");
    background-position: 96% 14px;
    background-repeat: no-repeat;
    background-size: 7px 11px; }
  .side-menu ul li.plus,
  .side-menu-user ul li.plus {
    background-color: #ffffff;
    background-image: url("/Content/images/plus-mobile.png") !important;
    background-position: 96% 14px;
    background-repeat: no-repeat;
    background-size: 11px 11px !important; }
  .side-menu ul li.opened > a, .side-menu ul li.opened-last > a,
  .side-menu-user ul li.opened > a,
  .side-menu-user ul li.opened-last > a {
    color: #0998a5;
    font-weight: bold;
    border-bottom-color: #0998a5 !important;
    text-transform: uppercase; }
  .side-menu ul li.plus.opened, .side-menu ul li.plus.opened-last,
  .side-menu-user ul li.plus.opened,
  .side-menu-user ul li.plus.opened-last {
    background-image: url("/Content/images/arrow-bottom-mobile.png") !important;
    background-position: 96% 14px;
    background-repeat: no-repeat;
    background-size: 11px 7px !important; }
    .side-menu ul li.plus.opened > a, .side-menu ul li.plus.opened-last > a,
    .side-menu-user ul li.plus.opened > a,
    .side-menu-user ul li.plus.opened-last > a {
      border-bottom-color: #164a73; }
  .side-menu ul .go-to-page a,
  .side-menu ul .plus a,
  .side-menu-user ul .go-to-page a,
  .side-menu-user ul .plus a {
    padding-left: 0 !important;
    border-bottom: 1px solid transparent; }
  .side-menu ul li.closed,
  .side-menu-user ul li.closed {
    background-color: #ffffff;
    background-image: url("/Content/images/arrow-left-mobile.png");
    background-position: 96% 14px;
    background-repeat: no-repeat;
    background-size: 7px 11px; }
    .side-menu ul li.closed ul,
    .side-menu-user ul li.closed ul {
      display: none; }
  .side-menu ul li.closed-sub-sub ul,
  .side-menu-user ul li.closed-sub-sub ul {
    display: none; }
  .side-menu ul li a,
  .side-menu-user ul li a {
    border-collapse: collapse;
    color: #292929;
    display: block;
    font-size: 15px;
    padding: 8px 0 8px 25px;
    text-decoration: none !important;
    margin: 0 4%; }
  .side-menu ul li .first-level,
  .side-menu-user ul li .first-level {
    text-transform: uppercase; }
  .side-menu ul li .book-ico,
  .side-menu-user ul li .book-ico {
    background: url(/Content/images/icone20x20-LIBRI.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .booken-ico,
  .side-menu-user ul li .booken-ico {
    background: url(/Content/images/icone20x20-LIBRI.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .ebook-ico,
  .side-menu-user ul li .ebook-ico {
    background: url(/Content/images/icone20x20-ebook.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .ebooken-ico,
  .side-menu-user ul li .ebooken-ico {
    background: url(/Content/images/icone20x20-ebook.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .erader-ico,
  .side-menu-user ul li .erader-ico {
    background: url(/Content/images/icone20x20-eReader.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .movies-ico,
  .side-menu-user ul li .movies-ico {
    background: url(/Content/images/icone20x20-DVD.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .musiccd-ico,
  .side-menu-user ul li .musiccd-ico {
    background: url(/Content/images/icone20x20-CD.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .musicvin-ico,
  .side-menu-user ul li .musicvin-ico {
    background: url(/Content/images/icone20x20-vinili.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .stationary-ico,
  .side-menu-user ul li .stationary-ico {
    background: url(/Content/images/icone20x20-cartoleria.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .toys-ico,
  .side-menu-user ul li .toys-ico {
    background: url(/Content/images/icone20x20-giocattoli.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .gadget-ico,
  .side-menu-user ul li .gadget-ico {
    background: url(/Content/images/icone20x20-gadget.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .videogames-ico,
  .side-menu-user ul li .videogames-ico {
    background: url(/Content/images/icone20x20-GAMES.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .app-mobile-ico,
  .side-menu-user ul li .app-mobile-ico {
    background: url(/Content/images/app-mobile.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .buoni-regalo-ico,
  .side-menu-user ul li .buoni-regalo-ico {
    background: url(/Content/images/buoni-regalo.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .login-mobile-ico,
  .side-menu-user ul li .login-mobile-ico {
    background: url(/Content/images/accedi-mobile-ico.png) no-repeat 0 center;
    background-size: 15px 19px; }
  .side-menu ul li .assistenza-mobile-ico,
  .side-menu-user ul li .assistenza-mobile-ico {
    background: url(/Content/images/assistenza_ico.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .faq-mobile-ico,
  .side-menu-user ul li .faq-mobile-ico {
    background: url(/Content/images/faq-ico.png) no-repeat 0 center;
    background-size: 20px 20px; }
  .side-menu ul li .user-logged-mobile,
  .side-menu-user ul li .user-logged-mobile {
    background: url(/Content/images/icon_mioibs_2.png) no-repeat 0 center;
    background-size: 20px 20px;
    padding-left: 25px; }

.side-menu .menu-mobile-ctn,
.side-menu-user .menu-mobile-ctn {
  background: #fff;
  height: 100%; }

.side-menu .menu-head,
.side-menu-user .menu-head {
  background: #092348 none repeat scroll 0 0;
  font-size: 11px;
  padding: 16px 0 17px;
  width: 100%; }
  .side-menu .menu-head .btn-mobile,
  .side-menu-user .menu-head .btn-mobile {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #092348;
    display: block;
    font-size: 11px;
    height: 11px;
    margin: 0 auto 15px auto;
    padding: 11px 0 12px;
    text-align: center;
    width: 145px;
    box-sizing: initial;
    text-decoration: none !important; }
  .side-menu .menu-head p,
  .side-menu-user .menu-head p {
    margin: 0;
    text-align: center;
    width: 100%; }
    .side-menu .menu-head p a,
    .side-menu-user .menu-head p a {
      color: #fff; }

@media (min-width: 720px) and (max-width: 1023px) {
  .side-menu .menu-head,
  .side-menu-user .menu-head {
    font-size: 13px; }
    .side-menu .menu-head .btn-mobile,
    .side-menu-user .menu-head .btn-mobile {
      font-size: 13px; } }

/* MENU MObile */
@media (min-width: 320px) and (max-width: 720px) {
  .breadcrumbs {
    margin-bottom: 0 !important; }
  .slick {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 7px; }
    .slick li {
      display: inline-block;
      margin: 0 7px;
      width: 145px;
      vertical-align: top; }
      .slick li .img-ctn {
        overflow: hidden;
        display: block;
        height: 150px !important;
        white-space: normal;
        vertical-align: top; }
        .slick li .img-ctn img {
          max-height: 145px; }
      .slick li figcaption {
        white-space: normal;
        margin: 10px 0; }
        .slick li figcaption .title {
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          margin: 0px;
          margin-top: 14px;
          width: 95%;
          display: inline; }
          .slick li figcaption .title a {
            text-decoration: none !important; }
          .slick li figcaption .title a:hover {
            color: #2d7dbd; }
        .slick li figcaption .author {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          margin-top: 3px;
          margin-bottom: 3px;
          max-width: 130px;
          display: block; }
  #wrapper-input-search {
    margin-left: 0px; }
  .header-ctn {
    margin-left: -7px !important;
    margin-right: -7px !important; }
  #suggestions {
    width: 93%;
    right: 4%; }
    #suggestions .result {
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .bg-orange {
    position: absolute;
    right: -3px;
    top: 0;
    font-size: 10px;
    z-index: 9; } }

/* WISHLIST */
a.wishlist-link {
  white-space: normal;
  text-decoration: inherit !important; }

a.wishlist-nolink {
  white-space: normal;
  text-decoration: inherit !important; }

a.wishlist-text {
  white-space: normal !important;
  text-decoration: inherit !important;
  font-size: 0.9em; }

span.wishlist-label {
  font-size: 0.9em;
  color: #959aad; }

/* ADDTHIS MOD */
.at-svc-facebook {
  background: none !important; }
  .at-svc-facebook .at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
    background: url("/content/images/adfb.png");
    background-size: 24px 24px !important; }
    .at-svc-facebook .at-icon-wrapper svg {
      display: none; }

.at-svc-email {
  background: none !important; }
  .at-svc-email .at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
    background: url("/content/images/admail.png");
    background-size: 24px 24px !important; }
    .at-svc-email .at-icon-wrapper svg {
      display: none; }

.at-svc-google_plusone_share {
  background: none !important; }
  .at-svc-google_plusone_share .at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
    background: url("/content/images/adgl.png");
    background-size: 24px 24px !important; }
    .at-svc-google_plusone_share .at-icon-wrapper svg {
      display: none; }

.at-svc-twitter {
  background: none !important; }
  .at-svc-twitter .at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
    background: url("/content/images/adtw.png");
    background-size: 24px 24px !important; }
    .at-svc-twitter .at-icon-wrapper svg {
      display: none; }

.at-svc-linkedin {
  background: none !important; }
  .at-svc-linkedin .at-icon-wrapper {
    line-height: 24px !important;
    height: 24px !important;
    width: 24px !important;
    background: url("/content/images/adlk.png");
    background-size: 24px 24px !important; }
    .at-svc-linkedin .at-icon-wrapper svg {
      display: none; }

iframe {
  display: block;
  margin: 0 auto;
  width: 100%; }

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none; }

.rr-recs {
  margin-bottom: 14px; }

.unavailable {
  color: red;
  font-size: 12px; }

.available {
  color: #4DBB02;
  font-size: 12px; }

.top-cart > .badge {
  position: absolute;
  top: -3px;
  right: 25px;
  font-size: 14px;
  font-weight: 700; }

.btn .badge {
  position: relative;
  top: -1px; }

.bg-orange {
  background: #F7cF61 !important;
  color: #292929;
  z-index: 9; }

.category-title {
  font-size: 19px;
  line-height: 22px;
  color: #0998a5;
  margin: 0px 0 14px 0;
  font-weight: 600; }

.breadcrumbs {
  display: block;
  /*margin-top: 9px;*/
  margin-bottom: 9px; }
  .breadcrumbs .levels {
    display: inline-block; }
    .breadcrumbs .levels li {
      display: inline-block;
      line-height: 22px; }
      .breadcrumbs .levels li a {
        color: #5d606e;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 0; }
    .breadcrumbs .levels li.bread-other-elem a {
      font-size: 19px !important;
      line-height: 18px !important;
      color: #292929 !important;
      margin: 0px 0 14px 0 !important;
      font-weight: 400 !important; }
    .breadcrumbs .levels li.bread-last-elem a {
      font-size: 19px;
      line-height: 23px;
      color: #0998a5;
      margin: 0px 0 14px 0;
      font-weight: 400; }
    .breadcrumbs .levels li:last-child::after {
      content: none; }
    .breadcrumbs .levels li:nth-child(1) a, .breadcrumbs .levels li.bread-first-elem a {
      /*font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;*/
      font-size: 19px;
      line-height: 22px;
      color: #0998a5;
      margin: 0px 0 14px 0;
      font-weight: 600; }
    .breadcrumbs .levels li::after {
      content: "-";
      display: inline-block;
      font-weight: 400;
      margin: 0;
      padding: 0 5px; }

.modal {
  z-index: 99999 !important; }

.homepage .ranking .rank-tile {
  display: none !important; }

.homepage .ranking ul {
  margin-top: 5px; }

.homepage .brands .brand-title {
  display: none !important; }

.product-page .ranking .rank-tile {
  display: block !important; }

#login-texts-left .title {
  font-size: 21px;
  text-align: center;
  line-height: 28px;
  display: block;
  margin-top: 0px;
  vertical-align: top;
  color: #0998A5;
  font-weight: 600; }

.divDropDown {
  /*left: -13% !important;*/
  left: -4% !important; }

.teaser.lazyload {
  opacity: 0;
  transform: scale(0.8); }

.teaser.lazyloaded {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms; }

.category-btn-ctn {
  /*width: 150px;*/
  text-align: right; }

#headerButtonSearch span b {
  font-weight: 400;
  background: url(../images/arrow-light2.png) no-repeat 100%;
  padding: 0 14px 0 0; }

.title_section_checkout {
  margin: 10px 0 20px 10px;
  font-weight: 600;
  color: #014653; }

.margin-bottom-3 {
  margin-bottom: 3px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-right-15 {
  margin-right: 15px; }

/***************** REGOLE X IE 9 ***************/
body.ie-9 .drop-header-menu {
  left: 0 !important; }

body.ie-9 .prod-cart-info .qty select, body.ie-9 #prod-cart-info-mobile .qty select {
  background-image: none !important;
  padding-right: 0 !important;
  border-radius: 0px !important;
  border: 1px solid #ccc !important; }

body.ie-9 #prod-fmt .twins-select {
  background-image: none !important;
  padding-right: 0 !important;
  border-radius: 0px !important;
  border: 1px solid #ccc !important; }

body.ie-9 footer {
  text-align: center !important; }
  body.ie-9 footer .middle {
    text-align: center !important; }
    body.ie-9 footer .middle .links {
      display: block !important;
      clear: both;
      margin: 0 auto; }
      body.ie-9 footer .middle .links .item {
        float: left;
        margin: 0 20px 20px 20px; }
    body.ie-9 footer .middle .info {
      display: block !important;
      clear: both;
      float: left;
      margin: 0 auto;
      text-align: center;
      padding-left: 100px; }
      body.ie-9 footer .middle .info .item {
        display: block !important;
        float: left;
        margin: 0 20px 20px 20px; }

/*************** FINE REGOLE X IE 9 ************/

