﻿@media (min-width: 1439px) {
  .basket .vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; } }

@media (min-width: 1024px) and (max-width: 1280px) {
  .hidden-personal-md {
    display: none; }
  .personal-col-md-18 {
    width: 100%; }
  #desktop-menu {
    display: none; }
  .basket .btn-checkout {
    display: none; }
  .internal-page .personal-col-md-18 {
    width: 72% !important; }
  .basket .vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; } }

@media (min-width: 1281px) and (max-width: 1439px) {
  .hidden-personal-lg {
    display: none; }
  .basket .btn-checkout {
    display: none; }
  .personal-col-lg-18 {
    width: 72%; }
  #desktop-menu {
    display: none; }
  .basket .vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; } }

@media (min-width: 1280px) and (max-width: 1440px) {
  .basket .btn-checkout {
    display: none; }
  .basket .vouchers .button {
    margin-top: 14px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; } }

@media (min-width: 720px) and (max-width: 1280px) {
  .basket .btn-checkout {
    display: none; }
  .top-adv-research {
    width: 120px;
    padding-top: 0px !important; }
  .basket .vouchers .button {
    margin-top: 14px;
    width: 130px; }
  .checkout.confirm.vouchers .button {
    margin-top: 14px;
    margin-bottom: 5px; }
  .slick li .merc-type {
    color: #292929;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    height: 20px !important;
    /* width: 100%; */
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; } }

@media (min-width: 768px) and (max-width: 1024px) {
  #menu-mobile.side-menu {
    width: 40% !important; }
  .orizontal-product-list ul.prods-list li {
    margin-right: 10px; }
  .orizontal-product-list ul.prods-list li .merc-type {
    font-size: 13px;
    height: 40px !important; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; } }

@media (min-width: 320px) and (max-width: 720px) {
  .checkout.accordion.confirm .box {
    height: auto !important; }
  .title_section_checkout {
    margin: 0px 0px 10px 0px;
    text-align: center; }
  .dropdown-category {
    padding: 7px 8px 13px 7px; }
  .category-btn-ctn {
    width: 1%; }
  .main-ctn {
    margin-top: 40px; }
  .advanced-main {
    margin-top: 0px; }
  .drop-header-menu {
    top: 45px !important; }
  .side-menu {
    left: 0 !important; }
  .checkout.summary {
    margin: 0 20px; }
  #img-icon {
    display: none; }
  #checkout_process {
    margin-top: 0px; }
  .img-cfe {
    content: url("/Content/images/carrello_fisico_empty_mob.jpg"); }
  .img-cde {
    content: url("/Content/images/carrello_digitale_empty_mob.jpg"); }
  .menu-header-category {
    margin: 12px 0; }
  .basket div.grid.quantity {
    text-align: center !important; }
  .nav-tabs > li > a {
    font-size: 12px; }
  .checkout.breadcrumb > span {
    display: none; }
  .checkout.breadcrumb {
    text-align: center;
    font-size: 15px; }
  .checkout.accordion {
    padding-left: 15px;
    padding-right: 15px; }
  .checkout.accordion .address {
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 15px 10px !important; }
  .checkout.accordion.payment .happycard .insert a.button.add-happy {
    margin-top: 10px !important;
    margin-bottom: 20px !important; }
  .checkout.accordion.confirm .confirm-cart div.price {
    text-align: right !important; }
  .thankyou.content .confirm-cart div.price {
    text-align: left !important; }
  .checkout.confirm.vouchers {
    /*margin-top: 0px !important;*/
    margin-bottom: 25px; }
  .accordion .panel-collapse > .panel-body {
    padding: 10px !important; }
  .checkout.accordion.confirm .confirm-cart {
    margin-right: 0px !important;
    margin-bottom: 20px; }
  .thankyou.content .confirm-cart {
    margin-right: 0px !important;
    margin-bottom: 20px; }
  .checkout.accordion.confirm .confirm-cart div.quantity span {
    margin-top: 5px !important;
    font-style: normal;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 0; }
  #lbl-desc {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px; }
  .thankyou.content .confirm-cart div.quantity span {
    margin-top: 5px !important;
    font-style: normal;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 0; }
  .basket .vouchers .button {
    width: 100%;
    margin-top: 0px !important; }
  .checkout.confirm.vouchers .button {
    width: 100%;
    margin-top: 0px !important; }
  .slick li .merc-type {
    color: #292929;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    height: 20px !important;
    /* width: 100%; */
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .basket > ul.nav.nav-tabs > li {
    width: 50% !important;
    text-align: center; }
  .header-link,
  .sub-header-ctn,
  .cat-list {
    display: none; }
  .logo-link-mobile {
    top: 4px; }
  .logo {
    background: url("/Content/images/ibs-logo-mob.png") no-repeat;
    background-size: 75px 30px;
    width: 75px;
    height: 30px; }
  .basket .image {
    text-align: center; }
  .checkout.accordion.confirm .confirm-cart .product.row .image {
    text-align: center; }
  .basket .data {
    height: 140px; }
  .basket .data p {
    margin-bottom: 7px !important; }
  .basket .data p.title,
  .basket .data p.authors,
  .basket .data p.contributors,
  .basket .data p.directors,
  .basket .data p.publisher,
  .basket .data p.promo-message {
    font-size: 12px; }
  .basket div.grid.price {
    text-align: right !important; }
  .basket .vouchers p.title {
    display: none; }
  .basket .vouchers .button {
    margin-top: 2px; }
  .basket div.grid.quantity {
    float: left; }
  .btn-menu {
    background-image: url("/Content/images/icoMenuLeft_w.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: 7px;
    width: 25px;
    height: 21px;
    position: relative;
    z-index: 8;
    background-size: 25px 21px; }
  .btn-user {
    background: url("/Content/images/icon_mioibs.png") no-repeat center 0;
    background-size: 25px;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    display: block;
    position: relative;
    z-index: 1; }
  .btn-user.logged {
    background: url("/Content/images/icon_mioibs_2.png") no-repeat center 0;
    background-size: 25px; }
  .btn-wishlist {
    background: url("/Content/images/icon_listadesideri.png") no-repeat center center;
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    position: relative;
    z-index: 1; }
  .btn-cart {
    background: url("/Content/images/icon_carrello.png") no-repeat center center;
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    position: relative;
    z-index: 1; }
  .main-search {
    /*border-radius: 4px 0 0 4px !important;*/ }
  /*.link-to-all-wrapper {
        text-align: center;
    }*/
  .homepage .main-ctn .margin-bottom {
    border-radius: 0;
    border-top: 15px solid #f1f1f1; }
  .twitter-icon {
    background-size: 33px 33px;
    width: 33px;
    height: 33px; }
  .fb-icon {
    background-size: 33px 33px;
    width: 33px;
    height: 33px; }
  .g-plus-icon {
    background-size: 33px 33px;
    width: 33px;
    height: 33px; }
  #social-prod-info {
    text-align: center; }
  .access-page .menu-header-category .input-group {
    display: none; }
  .ctn-white-gen {
    margin: 0 !important; }
    .ctn-white-gen .spacer-top {
      margin: 0 !important;
      padding: 0 !important; }
  .category-title {
    font-size: 19px !important;
    line-height: 22px !important; }
  .category-title {
    margin: 0 0 14px 0; }
  .category-title.novita {
    margin-bottom: 22px !important; }
  .mobile-cart.checkout.thankyou.container.main-ctn {
    top: 50px !important; } }

@media (min-width: 720px) and (max-width: 1023px) {
  .main-ctn {
    margin-top: 40px; }
  .menu-header-category {
    margin: 12px 0; }
  .header-link,
  .sub-header-ctn,
  .cat-list {
    display: none; }
  .basket .btn-checkout {
    display: none; }
  .logo-link-mobile {
    top: 0; }
  .logo {
    background: url(/Content/images/ibs-logo-mob.png);
    background-size: 63px 28px;
    width: 63px;
    height: 28px;
    margin-bottom: 15px; }
  .btn-menu {
    background: url("/Content/images/icoMenuLeft_w.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 21px;
    display: block;
    margin-top: 7px;
    width: 25px;
    height: 21px;
    position: relative;
    z-index: 1; }
  .btn-user {
    background: url("/Content/images/icon_mioibs.png") no-repeat center 0;
    background-size: 25px;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    display: block;
    position: relative;
    z-index: 1; }
  .btn-user.logged {
    background: url("/Content/images/icon_mioibs_2.png") no-repeat center 0;
    background-size: 25px; }
  .btn-cart {
    background: url("/Content/images/icon_carrello.png") no-repeat center center;
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    position: relative;
    z-index: 1; }
  .btn-wishlist {
    background: url("/Content/images/icon_listadesideri.png") no-repeat center center;
    background-size: 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    float: right;
    position: relative;
    z-index: 1; }
  .wish-list {
    top: 0; } }

/*@media (min-width: 1281px) {
    .homepage #desktop-menu {
        display: block;
    }
    .homepage .slideshow-ctn, 
    .homepage .promo, 
    .homepage .tab-carousel {
        display:none;
    }

    .basket .btn-checkout {
        display: none;
    }
}*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .close-button {
    background-image: url("/Content/images/close@2x.png");
    background-size: 100% 100%; }
  li.opened {
    background-image: url("/Content/images/nav-arrow-up@2x.png");
    background-size: 100% 100%; }
  li.closed {
    background-image: url("/Content/images/nav-arrow-down@2x.png");
    background-size: 100% 100%; }
  .footer-ctn .collapsable-ctn h5::after {
    background: url("/Content/images/nav-arrow-up@2x.png");
    background-size: 14px 10px; }
  .footer-ctn .collapsable-ctn h5.collapsed::after {
    background: url("/Content/images/nav-arrow-down@2x.png");
    background-size: 14px 10px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .slick-dots {
    display: none !important; } }

