﻿@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
body { font-family:"宋体";text-align:left;color: #3a3a3a; line-height:20px;}
img{border:0;}
ul, li{padding:0; margin:0; list-style:none;}
a {text-decoration: none; color:#3a3a3a; cursor:pointer;}
a:hover {color: #C00;}

#container01{ margin: 0 auto;overflow:auto; color:#3d3d3d;  font-size:14px; line-height:22px;}
#wrapper01{ width:990px; background:#FFF; margin: 0 auto; overflow:auto;}
#header{ height:116px;}

#main01{overflow:auto;margin:10px 0px; }


/*登录*/
.banner{ margin-bottom:1px; height:59px;}
.denglu{ height:31px; border-bottom:1px solid #FFF; background:#e7e3e4;color:#7b797a; }
.denglu a{color:#7b797a; text-decoration:none;}
.denglu a:hover{ color:#C00; text-decoration:underline;}
.denglu .box01{ margin-left:30px; float:left; width:224px; line-height:30px; height:31px;}
.denglu .box02{ width:433px;float:left; color:#000; text-align:right;}
.denglu .box02  input{ border:1px #c5c3c3 solid; height:20px; width:88px; background:#FFF; line-height:20px; margin-top:5px;}
.denglu .box02  .button{ background:url(../images/img01.gif) no-repeat; width:50px; height:21px; border:0; color:#4b4b4b; margin:0 5px; font-size:12px; line-height:20px;}
.denglu .box03{ width: 258px;float:right;line-height:30px; height:31px;}
.denglu .box03 .font1{ margin-left:20px;}
.denglu .box03 .font2{ margin-left:10px; background:url(../images/icon03.jpg) left center no-repeat; padding-left:8px; }
#left{ width:737px; float:left;  }
.line01{ background:#990000; height:3px;overflow: hidden; margin-bottom:8px;}
.line02{ background:#eadbdd; height:2px; overflow:hidden;margin:8px 0px 5px 0px;}
.line03{ background:#d6d6d6;overflow:hidden; height:2px; margin:8px 0px 5px 0px;}
h1 a{ font-family:"微软雅黑"; color:#850f0f; font-size:18px; line-height:30px;}
.lfont{ font-size:13px; margin-bottom:10px; overflow:hidden}

/*导航*/
.logoold{ background: url(../images/logobg.gif) repeat-x left; height:84px; color:#FFF; float:left; width:990px;}
.logoold a{ color:#FFF;font-size:13px; font-family:宋体; line-height:20px;}
.logoold a:hover{color:#FFF ; font-size:13px;text-decoration:underline;}
.logoold .lg{ float:left; width:231px; height:84px;font-size:13px;}
.logoold span{font: normal 13px Arial, Helvetica, Sans-Serif,"宋体";line-height: 160%;}
.logoold .rg{ float:left; width:745px; margin:10px 0; border-bottom:1px solid #bd5354; padding-bottom:5px;font-size:13px;}
.logoold .rg01{ float:left; width:745px; font-size:13px; margin-top:8px;}
.logoold .rg01 .input01{ width:110px; height:20px; background:#FFF; margin-right:5px; border:1px solid #C00; line-height:20px;}
.logoold .rg01 .button01{ background:url(../images/button01.jpg) no-repeat ; width:36px; height:21px; border:0px; color:#FFF; font-size:12px; line-height:20px;}

#right{ width:236px;  float:right; font-size:13px;}
.line{ background:#d6d6d6; height:3px;overflow:hidden;}
.titfont{ font-family:"微软雅黑"; font-size:16px; color:#000; font-weight:bold; line-height:35px; padding-left:5px;}
.titfont01{ font-family:"微软雅黑"; font-size:16px; color:#a31a16; font-weight:bold; line-height:35px;padding-left:5px;}
.titfont02{ font-family:"微软雅黑"; font-size:15px; color:#000; font-weight:bold; line-height:35px; padding-left:5px;}
.more a{ font-family:"微软雅黑";font-size:12px; color:#9a9a9a; font-weight:bold }
.list li{ color:#e1a9b1; line-height:24px;}
.logo{ width:234px;height:62px; border:1px solid #dfdfdf; margin-bottom:10px;}

.bzbox{ background:#f2eaeb; padding:10px; margin-bottom:7px;}
.imgbox{border:1px solid #dfdfdf;}
.bzfont{ color:#960202; font-size:14px; font-weight:bold; line-height:20px;}
.bzfont a{ color:#960202; font-size:14px; font-weight:bold; line-height:20px;}
.bzfont01{ color:#960202; font-size:12px; }
.bzfont02{ color:#960202; font-size:12px;  font-weight:bold;}
.szbox01{ width:23px; height:19px; background:url(../images/fang01.gif); text-align:center; color:#FFF; font-weight:bold; line-height:19px; margin-bottom:5px;}
.szbox02{ width:23px; height:19px; background:url(../images/fang02.gif); text-align:center; color:#676767; font-weight:bold; line-height:19px;margin-bottom:5px;}

/*滚动图片*/
.limgbox{ width:340px; margin:0px 0 0px 0px; }
.limgfont{  height:20px; width:340px; margin:0px 0 0px 0px;line-height:20px; color:#FFF; font-size:12px; background-color:#32292a; background:#32292a; clear:both;}
.limgfont .shuzibox01{ width:20px; height:20px; background-color:#847b7c; border-left:1px solid #d5cccd; line-height:18px; text-align:center; float:left; display:inline; margin-top:0px; cursor:pointer  }
.limgfont .shuzibox02{ width:20px; height:20px; background-color:#feb836; border-left:1px solid #d5cccd; line-height:18px; text-align:center; float:left; display:inline; margin-top:0px; cursor:pointer   }
.limgfontbox{ width:250px; float:left; display:inline; margin-left:5px; font-weight:bold;}
.limgblack{ color:#050505; font-weight:bold; margin-left:10px;  }
.ltfone{ margin: 14px 15px; font-size:12px; text-indent:2em;}
.lred a{ color:#fe2805; text-decoration:underline;}
.rbanner{ width:234px; margin-bottom:10px;_margin-bottom:10px; border:1px solid #dfdfdf; }
.mbanner{  margin-bottom:8px;_margin-bottom:9px;  }
#footer{ background:#8a151d; text-align:center; color:#FFF; line-height:20px; font-size:12px; padding:5px; clear:both} 
#footer a{color:#FFF;}
#footer a:hover{color:#FFF; text-decoration:underline;}
/*二维码*/
.goTop {
position: fixed;
_position: absolute;
left: 50%;
bottom: 180px;
_bottom: -4000px;
margin-left: 520px;
width: 100px;
z-index: 99; font-size:12px;
}
.goTop li {
padding: 10px;
margin-bottom: 1px;
position: relative;
line-height: 1.6;
background: #f6f6f6;
}
.goTop .go-app-q1 {
color: #999;
text-align: center;
margin-bottom: 3px;
}
.goTop .go-app-qr {
width: 80px;
height: 80px;
background: url(../images/weixin.gif) center 0 no-repeat;
background-size: 100%;
}
.goTop .icon-top {
cursor: pointer;
background: #f6f6f6 url(../images/icon_gotop_arrow@2x.png?t=1) center center no-repeat;
background-size: 20px 10px;
visibility: hidden;
}
.goTop .go-wx-qr {
width: 80px;
height: 80px;
background:url(../images/weibo.gif) center 0 no-repeat;
background-size: 100%;
}
