/* This file is used for emergency situations without a build */
body[data-bannerad-type="crown"] .site-header-ad-wrap.loaded {
	display: block;
}
/* comment out pointer-events: none; to enable search moment link on home page without a build */
a.search-moment-video-link {
  pointer-events: none;
}
