/*popup*/

.helper-popup,
.helper-popup * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.helper-popup {
  position: absolute;
  z-index: 700;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  min-width: 978px;
  background: #f4f2f0;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  transition: top 1s ease;
  display: none;
}

.helper-popup.active {
  top: 0;
  display: block;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  transition: top 1s ease;
}

.helper-popup .mobile-helper-content {
  width: 978px;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  font-family: 'officinaserifcregular';
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px 0px;
}

.helper-popup .close-link {
  position: relative;
  float: right;
  right: 11px;
  top: 0;
  cursor: pointer;
  text-indent: 100%;
  overflow: hidden;
  width: 23px;
  height: 23px;
  background: url(help-sprite.png) -18px 0px no-repeat;
}

.helper-top-box {
  padding-top: 14px;
  padding-bottom: 22px;
}

.helper-top-box h2 {
  font-size: 33px;
}

.helper-top-box p {
  font-size: 17px;
  line-height: 1.4;
  color: #313130;
}

.helper-top-box p + p {
  margin-top: 44px;
}

.link-dynamic {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  border: 1px solid #7a7a78;
  font-size: 12px;
  line-height: 14px;
  color: #787878;
  width: 16px;
  height: 16px;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}


/* cards filter*/

.helper-items-filter {
  font-size: 17px;
  color: #616160;
  padding-bottom: 54px;
}

.helper-items-filter_link {
  position: relative;
  padding: 7px 11px;
  z-index: 1;
  display: inline-block;
  margin: 0 4px;
  text-decoration: none;
}

.helper-items-filter_link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: -1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.helper-items-filter_link.active {
  padding-right: 30px;
}

.helper-items-filter_link.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 7px;
  bottom: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  background: url(help-sprite.png) -129px -3px;
}

.helper-items-filter_link.active:after {
  background-color: #f9dda3;
}


/*cards*/

.helper-items-list {
  margin-left: 22px;
  margin-right: 22px;
}

.helper-item {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 0 11px 44px 11px;
  cursor: pointer;
  position: relative;
}

.helper-item_top {
  height: 44px;
  background: #fff;
  font-size: 15px;
  line-height: 1;
  color: #282828;
  padding: 14px;
  text-align: left;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.helper-item_content {
  height: 106px;
  padding: 0 14px;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.helper-item_img {
  position: relative;
  text-align: center;
  height: 106px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.helper-item:hover .helper-item_img {
  color: #fff;
}

.helper-item_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.helper-item_img:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  width: 66px;
  height: 66px;
  background: url(help-sprite.png) -350px 0 no-repeat;
  z-index: 2;
}

.helper-item:hover .helper-item_img:before {
  opacity: 1;
}

.helper-item:hover .helper-item_img img {
  opacity: 0;
}


/*card slider*/

.helper-item-slider-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 14px 9px;
  display: none;
}

.helper-item.active .helper-item-slider-wrap {
  display: block;
}

.helper-item-slider_text {
  font: 12px/1.2 'Arial', Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 38px;
  white-space: nowrap;
}

.helper-item-slider_text > * {
  display: inline-block;
  vertical-align: middle;
}

.helper-item-slider_text span + span {
  max-width: 60px;
  text-align: left;
  margin-left: 4px;
  white-space: normal;
}

.helper-item-slider_amount {
  font-size: 44px;
  line-height: 1;
  font-family: 'officinaserifcregular';
}

.helper-item-slider {
  border: 0;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.helper-item-slider.ui-slider-horizontal {
  height: 1px;
  margin: 14px 4px;
}

.helper-item-slider .ui-slider-range {
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 3px;
  margin-top: -1px;
}

.helper-item-slider .ui-slider-handle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  border: 0;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.helper-item-slider .ui-slider-handle:before,
.helper-item-slider .ui-slider-handle:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}

.helper-item-slider .ui-slider-handle:before {
  background: url(help-sprite.png) -160px 0;
  width: 20px;
  height: 14px;
  z-index: 2;
}

.helper-item-slider .ui-slider-handle:after {
  width: 16px;
  height: 14px;
  z-index: 1;
  background: #febb2e;
}


/* 2nd step, cards colors*/

.second-step .helper-item {
  width: 180px;
  height: 180px;
  background: #fff;
}

.second-step .helper-item .helper-item_top {
    text-align: center;
    padding: 14px 0;
    font-size: 21px;
    position: relative;
}


/*	.second-step .helper-item:hover .helper-item_top {
		background: transparent;
		color: #fff;
	}*/

.second-step .helper-item .helper-item_content {
  height: 136px;
}

.second-step .helper-item .helper-item_top:before {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  bottom: 0;
  background: #c8c8c8;
  width: 160px;
  left: 50%;
  margin-left: -80px;
}

.second-step .helper-item:hover .helper-item_top:before,
.second-step .helper-item .helper-item_img:before,
.second-step .helper-item .helper-item_img:after,
.second-step .helper-item.active .helper-item_top:before {
  display: none;
}

.second-step .helper-item .helper-item_img {
  height: 135px;
}

.second-step .helper-item:hover .helper-item-slider-wrap {
  display: block;
}

.helper-item--blue:hover,
.helper-item--blue.active {
  background: #ffb612;
}

.helper-item .helper-item_close:after,
.helper-item .helper-item-slider .ui-slider-handle:after {
  background-color: #ffb612;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

.helper-item:hover,
.helper-item.active {
  background: #ffb612;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

/* active card */


/*close link*/

.helper-item_close {
  width: 25px;
  height: 25px;
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  position: absolute;
  right: -11px;
  top: -11px;
  overflow: hidden;
  text-indent: 100%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.helper-item_close:before,
.helper-item_close:after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.helper-item_close:before {
  width: 16px;
  height: 16px;
  background: url(help-sprite.png) -144px 0 no-repeat;
  z-index: 2;
}

.helper-item_close:after {
  width: 10px;
  height: 10px;
  background-color: #fab92d;
  z-index: 1;
}

.helper-item.active .helper-item_close {
  display: block;
}


/*close link Ends*/

.helper-item.active {
  color: #fff;
}

.helper-item.active .helper-item_img {
  display: none;
}

.helper-item.active .helper-item_top {
  /*background-color: transparent;*/
}


/*inner popup*/

.helper-inner-popup {
  position: absolute;
  text-align: left;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 64px;
  background: rgba(244, 242, 244, 0.7);
  display: none;
}

.helper-tools_item.active:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: 50%;
  margin-left: -9px;
}

.helper-popup-list {
  display: inline-block;
  vertical-align: top;
  padding: 18px 4px 18px 18px;
  position: relative;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 0;
}

.helper-popup-list_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 14px;
  width: 100px;
  color: #282828;
  font-size: 15px;
  cursor: pointer;
}

.helper-popup-list_img {
  height: 100px;
  width: 100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  /*background: #f8e3b6;*/
  border: 1px solid #9e8569;
  margin-top: 7px;
}

.helper-popup-list_img.grey {
  border-color: #e7e7e7;
}

.helper-popup-list_img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/* fixed pane */

.helper-fixed-pane {
  /*position: fixed;*/
  /*z-index: 110;*/
  /*width: 100%;*/
  /*min-width: 990px;*/
  /*bottom: 0;
	left: 0;
	right: 0;*/
  /*padding: 22px 0 0;*/
  display: none;
}


/*fixed pane slider*/

.helper-slider.ui-slider-horizontal,
.global-slider.ui-slider-horizontal {
  background: #fedd96;
  height: 2px;
  border: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 14px 0;
  position: relative;
}

.helper-slider .ui-slider-range-min {
  height: 5px;
  margin-top: -2px;
  background: #fdbc2e;
}

.helper-slider_amount {
  width: 100%;
  position: relative;
  text-align: justify;
  color: #282828;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 9px 0;
  font-size: 0px;
}

.helper-slider_amount-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font: 11px/1.2 'Arial', Helvetica, sans-serif;
}

.helper-slider_amount-item--left {
  margin-left: -18px;
  text-align: left;
}

.helper-slider_amount-item--right {
  margin-right: -18px;
  text-align: right;
}

.helper-slider_amount:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.helper-slider .ui-slider-handle,
.global-slider .ui-slider-handle {
  width: 36px;
  height: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #fff;
  border: 0;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  margin-left: -18px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.helper-slider .ui-slider-handle:before,
.global-slider .ui-slider-handle:before {
  content: '';
  width: 34px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(help-sprite.png) -54px 0;
}

.helper-slider_wrap {
  margin: 0 88px;
  padding: 4px 0 22px;
}

.helper-slider-bubble {
  font-size: 17px;
  font-family: 'officinaserifcregular', serif;
  color: #282828;
  position: relative;
  margin-top: -22px;
}

.helper-slider-bubble_inner {
  position: relative;
  width: 840px;
  padding: 14px;
  text-align: justify;
}

.helper-slider-bubble_inner:after {
  display: inline-block;
  content: '';
  width: 100%;
}

.helper-slider-bubble_pounter {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #f8e3b6 transparent transparent transparent;
  position: absolute;
  left: 0;
  margin-left: -9px;
  top: 100%;
}

.helper-slider-bubble_item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 11px;
  white-space: normal;
}

.good-products > * {
  display: inline-block;
  vertical-align: middle;
}

.btn-link.btn-link--large {
  font-size: 17px;
  height: 44px;
  line-height: 44px;
  margin-left: 14px;
}


/*helper tools*/

.helper-tools {
  position: relative;
  z-index: 105;
}

.helper-tools_list {
  text-align: left;
  display: table;
  display: none;
}

.helper-tools_item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 42px;
  color: #febb2e;
  font: 17px/36px 'officinaserifcbold';
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  margin-right: 7px;
}

.helper-tools_item.device-item {
  display: none;
}

.helper-tools_item.device-item.show {
  display: inline-block;
}

.helper-tools_item.active {
  background: #f8e3b6;
}

.helper-tools_item a {
  text-decoration: none;
  color: #febb2e;
}

.helper-tools-link-phone,
.helper-tools-link-tablet,
.helper-tools-link-wifi,
.helper-tools-link-gps,
.helper-tools-link-house,
.helper-tools-link-usb,
.helper-tools-link-add {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-indent: 100%;
  height: 100%;
  overflow: hidden;
}

.helper-tools-link-phone:before,
.helper-tools-link-tablet:before,
.helper-tools-link-wifi:before,
.helper-tools-link-gps:before,
.helper-tools-link-house:before,
.helper-tools-link-usb:before,
.helper-tools-link-add:before {
  content: '';
  width: 100%;
  background: url(help-sprite.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 31px;
}

.helper-tools-link-phone {
  width: 19px;
}

.helper-tools-link-tablet {
  width: 44px;
}

.helper-tools-link-add {
  width: 19px;
}

.helper-tools-link-wifi {
  width: 23px;
}

.helper-tools-link-gps {
  width: 30px;
}

.helper-tools-link-house {
  width: 31px;
}

.helper-tools-link-usb {
  width: 62px;
}

.helper-tools-link-phone:before {
  background-position: -54px -18px;
}

.helper-tools-link-tablet:before {
  background-position: -90px -18px;
}

.helper-tools-link-add:before {
  background-position: -144px -18px;
  height: 19px;
}

.helper-tools-link-wifi:before {
  background-position: -180px -18px;
}

.helper-tools-link-gps:before {
  background-position: -216px -18px;
}

.helper-tools-link-house:before {
  background-position: -248px -18px;
}

.helper-tools-link-usb:before {
  background-position: -286px -18px;
  height: 25px;
}

.helper-tools-link-btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 42px 0 18px;
  line-height: 42px;
  height: 42px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #febb2e;
  position: relative;
}

.helper-item_link-btn.showed .helper-tools-link-btn {
  color: #fff;
  background: #febb2e;
}

.helper-item_link-btn {
  padding-left: 35px;
  border-left: 1px solid #febb2e;
  margin: -4px -4px -4px 18px;
  display: none;
}

.helper-item_link-btn span {
  display: inline-block;
  vertical-align: middle;
  line-height: 42px;
  margin-left: 4px;
}

.helper-tools-link-btn:after {
  content: '';
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  width: 16px;
  height: 10px;
  margin: auto;
  background: url(help-sprite.png) -90px -4px no-repeat;
}

.helper-item_link-btn.showed .helper-tools-link-btn:after {
  background-position: -108px -4px;
}


/*bubble*/

.bubble-help,
.popup-fixed,
.popup-fixed *,
.bubble-help * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  width: 100%;
  /*height: 100%;*/
  display: none;
}

.popup-fixed_inner {
  width: 100%;
  /*height: 100%;*/
}

.helper-item .bubble-help {
  position: absolute;
  display: none;
  bottom: 100%;
  margin-bottom: 44px;
  left: 50%;
  margin-left: -180px;
}

.content .sub-nav li .bubble-help {
  background: transparent;
  padding: 0;
  width: auto;
}

.content .sub-nav li .bubble-help .bubble-help_inner {
  padding: 0;
}

.content .sub-nav li .bubble-help .bubble-help_inner:before {
  display: none;
}

.content .sub-nav li .bubble-help .bubble-help_inner a {
  margin: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 4px 22px 5px;
}

.content .sub-nav li .bubble-help .bubble-help_inner a:hover {
  border-color: transparent;
}

.bubble-help {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #282828;
  color: #949494;
  font: 12px/1.5 'Arial', Helvetica, sans-serif;
  /*padding: 14px 11px 14px;*/
  /*display: inline-block;*/
  /*width: 360px;*/
  width: 100%;
  text-align: left;
}

.bubble-help a {
  color: #fff;
}

.bubble-help .bubble-help_link {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
  color: #282828;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font: 15px/1.2 'officinaserifcregular', sans-serif;
  padding: 9px 18px;
  margin: 14px 0;
  vertical-align: middle;
}

.bubble-help .bubble-help_link:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: -6px;
  bottom: 0;
  background: url(help-sprite.png) 0 0 no-repeat;
}

.popup-fixed .bubble-help_inner,
.content > .bubble-help .bubble-help_inner {
  position: relative;
  padding: 0 0 0 36px;
  margin: 0 auto;
  width: 680px;
}

.bubble-help_inner:before {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  background: url(help-sprite.png) -4px -41px no-repeat;
}

.bubble-help_close {
  position: absolute;
  text-indent: 100%;
  overflow: hidden;
  right: 0;
  top: 0;
  background: url(help-sprite.png) -183px -2px no-repeat;
  width: 12px;
  height: 12px;
}


/* upsale cards */

.small-columns {
  text-align: center;
}

.small-columns .column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 22px 18px;
  width: 230px;
}

.small-columns .column .column_content {
  background: #fff;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  padding: 22px 18px;
  min-height: 150px;
  color: #282828;
}

.small-columns .column .column_content > img {
  display: block;
  margin: -22px -18px;
}

.small-columns .column .column_content li {
  font-family: 'Arial';
  margin-bottom: 8px;
}

.helper-tab {
  display: none;
}

.upsale-cards {
  text-align: center;
  white-space: nowrap;
  padding-bottom: 44px;
}

.upsale-card {
  text-align: left;
  color: #282828;
  display: inline-block;
  font: 13px/1.2 'Arial', sans-serif;
  vertical-align: top;
  margin: 22px 18px;
  white-space: normal;
  background: #fff;
  width: 240px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  min-height: 226px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.upsale-card_header {
  padding: 22px 8px;
  position: relative;
}

.upsale-card_content {
  padding: 22px 0;
  position: relative;
  margin: 0 14px 22px;
  text-align: center;
  font-size: 17px;
  font-family: 'officinaserifcregular';
}

.upsale-card_header {
  background: #fff;
  font: 15px/1.2 'officinaserifcregular';
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
}

.tariff-card-link-dynamic {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.tariff-card-link-dynamic span {
  position: absolute;
  display: block;
  text-align: left;
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
  background: #282828;
  color: #fff;
  font-family: 'Arial';
  top: 100%;
  left: 50%;
  margin-left: -100px;
  border-radius: 4px;
  margin-top: 14px;
  display: none;
}

.tariff-card-link-dynamic span:before {
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -9px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #282828 transparent;
}

.upsale-card_header .result-tariff-value {
  font-size: 24px;
  display: block;
  margin-bottom: 8px;
}

.upsale-card_header h4 {
  margin-bottom: 22px;
}

.upsale-card_header-icon {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

.upsale-card_content {
  border-bottom: 1px solid #eeebe6;
}

.upsale-card_content li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.upsale-card_content h3 {
  font-family: 'officinaserifcbold';
  margin-bottom: 14px;
}

.upsale-card_content h3 img {
  margin-left: 4px;
}

.upsale-card_info {
  margin: 18px;
  text-align: center;
}

.upsale-card_info .submit {
  margin-top: 14px;
}

.price-value {
  font: 17px/1.2 'officinaserifcbold';
  font-weight: normal;
}

.mark-value {
  font-size: 15px;
  font-family: 'officinaserifcregular';
  font-weight: normal;
}

.link-note {
  width: 16px;
  height: 16px;
  cursor: pointer;
  font: 13px/16px 'officinaserifcregular';
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #787878;
  color: #787878;
}

.upsale-button {
  margin-top: 22px;
  margin-bottom: 11px;
  text-align: center;
}

.upsale-button .button label,
.upsale-button a.btn-link {
  height: 44px;
  font: 17px/44px 'officinaserifcbold';
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.upsale-card .tariff-feature-label {
  top: 33px;
}

.upsale-card_img {
  padding-bottom: 11px;
}

.item-rate_item {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  background: url(content-elements.png) -118px -436px no-repeat;
  text-indent: 100%;
  overflow: hidden;
}

.item-rate_item.checked {
  background-position: -92px -436px;
}

.upsale-card_param-list {
  padding-top: 4px;
}

.upsale-card_param-list li {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  font-size: 12px;
}

.upsale-card_param-list li:first-child:before {
  display: none;
}

.upsale-card_param-list li:before {
  content: '●';
  margin-left: 1px;
  margin-right: 1px
}

.card-price_value {
  font-size: 17px;
  font-family: 'officinaserifcregular', serif;
}

.card-price_old {
  font-size: 13px;
  position: relative;
  color: #787878;
}

.card-price_old:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #787878;
}


/*upsale cards filter*/

.help-section-links {
  /*font-size: 0px;*/
  padding-top: 22px;
  padding-left: 44px;
}

.help-section-links h2 {
  text-align: right;
  margin-right: 44px;
}

.help-section-links h2,
.help-section-links ul {
  display: inline-block;
  vertical-align: middle;
}

.help-section_item {
  display: inline-block;
  font-size: 13px;
  position: relative;
  padding: 14px 28px 14px 115px;
  text-align: left;
}

.help-section_item .icon-block {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -48px;
  width: 96px;
  height: 96px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.help-section_item .icon-block:before,
.help-section_item .icon-block:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.help-section_item .icon-block:before {
  background: url(helper-section-icon-2.png);
}

.help-section_item:first-child .icon-block:before {
  background: url(helper-section-icon-1.png);
}

.help-section_item .icon-block:after {
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.help-section_item.active .icon-block:after {
  display: none;
}

.help-section_link {
  font: 17px/1.2 'officinaserifcregular', serif;
  text-decoration: none;
  border-width: 0 0 1px;
  border-style: dashed;
}

.help-section_item.active .icon-block {
  background: #f7a700;
  background: -moz-linear-gradient(left, #f7a700 0%, #ffe100 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f7a700), color-stop(100%, #ffe100));
  background: -webkit-linear-gradient(left, #f7a700 0%, #ffe100 100%);
  background: -o-linear-gradient(left, #f7a700 0%, #ffe100 100%);
  background: -ms-linear-gradient(left, #f7a700 0%, #ffe100 100%);
  background: linear-gradient(to right, #f7a700 0%, #ffe100 100%);
}

.help-section_item.active .help-section_link {
  border-width: 0;
  color: #f7a700;
}

.helper-steps .helper-step {
  display: none;
}

.helper-global-slider {
  padding: 18px 44px;
  max-width: 700px;
  display: none;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}


/***********************/

.mobile-benefits {
  margin-bottom: 44px;
}

.entry {
  margin-bottom: 22px;
}

.subline {
  margin-bottom: 14px;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

.fleft + div {
  margin-left: 375px;
}

.fright + div {
  margin-right: 375px;
}

.fast-links span {
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
  background: #fff;
  padding: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.fast-links span.switched {
  cursor: default;
  background: #f8e3b6;
}

.fast-links span a {
  font-family: 'Arial';
  display: none;
  text-decoration: none;
}

.fast-links span.switched a {
  display: inline-block;
}


/*MOBILE-HELPER-POPUP STYLES*/

.helper-popup .mobile-helper-popup-wrap .button.sub label {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.helper-popup .mobile-helper-popup-wrap {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  display: none;
}

.mobile-helper-popup {
  position: absolute;
  background: #FFFFFF;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 101;
  border-radius: 4px;
  padding: 60px 44px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-helper-popup-content h3 {
  font-size: 24px;
}

.mobile-helper-popup-content {
  width: 401px;
  font-size: 15px;
  color: #282828;
  font-family: 'officinaserifcregular';
}

.mobile-helper-popup-content p {
  margin-bottom: 18px;
}

.mobile-helper-popup-list {
  margin-bottom: 8px;
}

.mobile-helper-popup-row {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
}

.mobile-helper-popup-row>div:before {
  position: absolute;
  content: '';
  top: 12px;
  left: 0;
  border-bottom: 1px dotted #282828;
  width: 100%;
}

.mobile-helper-popup-row span {
  position: relative;
  background: #FFFFFF;
  z-index: 102;
  padding-right: 4px;
}

.mobile-helper-popup-row span.helper-popup-col-right {
  float: right;
  padding-left: 4px;
  padding-right: 0;
}

.helper-popup .mobile-helper-popup-content .submit {
  margin-top: 40px;
}

.helper-popup .mobile-helper-popup-content .submit label {
  font-size: 15px;
  font-family: 'officinaserifcregular';
  border-radius: 25px;
  padding: 6px 25px;
}

.helper-item_note {
  position: absolute;
  border-radius: 8px;
  background: #3e3e3e;
  padding: 8px;
  font-family: 'Arial';
  color: #fff;
  width: 195px;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  display: none;
  margin-left: -85px;
  margin-top: -12px;
}

.helper-item_note:before {
  content: "";
  display: block;
  width: 22px;
  height: 7px;
  position: absolute;
  bottom: auto;
  top: 100%;
  left: 50%;
  margin-left: -11px;
  background: url(content-elements.png) -266px -455px no-repeat transparent;
}

.helper_start-again {
  margin: -22px 0 22px;
}

.helper_start-again .dynamic {
  font-size: 15px;
  font-family: 'Arial';
  position: relative;
}

.helper_start-again .dynamic:before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  right: 100%;
  width: 20px;
  height: 13px;
  margin-top: -7px;
  background: url(content-elements.png) -64px -567px no-repeat transparent;
}

.helper_start-again .dynamic:hover {
  color: #ed7703;
  border-color: #ed7703;
}