/*
Theme Name: Upsocl v3
Theme URI: 
Author: Santiago Lira
Author URI: 
Description:
Version: 1.0
License: GNU General Public License
License URI: 
Tags: 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/




/* =Structure
-------------------------------------------------------------- */
#smartbanner {
    position: relative !important;
	z-index: 999999 !important;
}


body {
font-family: 'Roboto', Helvetica, arial, sans-serif; font-size:13px; line-height: 20px; margin:0px;
}
.single-texto a {text-decoration: none; color: #3778D8; }

#ad-iphone-sup {display:none;}

.single-texto h2 {font-size: 1.9em; line-height: 1.5em;}

h1, h2, h3, h4, h5 {font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight:300; }
h1 {font-size:2.0em; line-height:1.5em;}
h2 {font-size: 1.3em; line-height:1.4em;}
h3 {font-size: 1.2em; line-height:1.4em;}
h4 {font-size: 16px; font-weight: 200;   line-height: 24px;}

#main {
	
}


#page {
	display: block;
	width: 1050px;
        padding: 0 20px;
        margin: 0 auto;
	background: white;
}
#primary {
	float: left;
	margin: 0;
	max-width: 65.81196581196582%;
}

#primary ul, #primary ol {font-family: 'Roboto', Helvetica, arial, sans-serif; font-size: 18px;
line-height: 32px; color: #676464; margin: 10px; margin-right: 40px;}

#primary ul li, #primary ol li {padding-bottom: 15px;}

#ad-image {margin-right:auto; margin-left:auto; max-width:580px;}

#primary-full #content {width: 100%; background:#fff; padding-top: 40px; position:relative;}
#primary-full #imagentop img {width: 100%; height: auto;}
#primary-full #imagentop {margin-bottom: -5%; margin-top: -5%;}
.titulo-sobre {position: absolute; bottom:15%; padding: 13px 26px 0; text-align: center;     z-index: 1; width: 80%;     margin: 0 10%;}
.titulo-over { display: inline; background-image: linear-gradient(to bottom,transparent 0,#50E3C2 0); background-repeat: no-repeat; -webkit-box-decoration-break: clone; box-decoration-break: clone; background-size: 100% 1em; background-position: 0 center; line-height: 1.2; padding: 0 13px !important; font-size: 50px;}
#descripcion {width: 100%; float: left; margin: 30px 0 10px; display: block;}

#primary ul, #primary ol {font-family: 'Roboto', Helvetica, arial, sans-serif; font-size: 18px;
line-height: 32px; color: #676464; margin: 10px; margin-right: 40px;}
#primary ul li, #primary ol li {padding-bottom: 15px;}
#ad-image {margin-right:auto; margin-left:auto; max-width:580px;}
#primary-full #content img {width: 100%;}
#contenido-ppal {max-width: 800px; margin: 0 auto;}

#content img {max-width:100%;     
display: block;
    width: auto;
    height: auto;
clear: both }

figure { display: block;
    margin: 0 !important;
}

blockquote { border-left: 3px solid #333; padding-left: 15px; margin-top:20px; margin-bottom:20px;}
blockquote p {margin: 10px 0;}
    @media screen and (max-width:480px){  
blockquote {margin: 0; border-left: none;}
}

.wpb-esh-wrapper {width:100% !important;}

#content {
	margin: 0;
	width: 728px;
}

#content p {
 font-family: 'Roboto', Helvetica, arial, sans-serif;  font-size:16px; line-height: 28px; color:#333; letter-spacing: 0.15px; font-weight:100;
}
#main .widget-area {
	float: right;
	overflow: hidden;
	width: 300px;
	padding-top:10px;
}

.postimage { max-width:100%; max-height:248px;}
.grid-div { position:relative;  margin-bottom: 10px; margin-left:1%; max-width:24%; float:left; }
.titulo-grid {float:left; margin: 0px; margin-top:5px; height:90px; overflow: hidden;} 
.titulo-grid h2 {font-size: 1.0em; text-transform: uppercase; margin: 0px; line-height: 1.4em;}
.titulo-grid a {color: #000000;  text-decoration:none; }
.titulo-grid a:hover {color: #929292;}
.grid-div img {max-width: 100%; display: block; width: auto; height: auto;}
#related-ad {clear:both;}
.single-texto {clear:both;}
#imagentop {position: relative; clear:both;}
#imagentop img {clear:both;}
#credito-img {position:absolute; bottom: 10px; right:5px;}
#credito-img a {text-decoration: none; background: #fff; padding: 5px 10px;}
.entry-content .fb-post {width:100%;}
.vc-ads-wrapper {display:none;}

#colophon {clear: both; display: block; width: 100%;}
#ad-bottom {position:fixed; bottom:0; width:100%; height:50px;}

.rpwe-block h3.rpwe-title {font-size: 14px !important; text-transform: uppercase; margin: 0px; line-height: 20px;}
.rpwe-block a {color: #000000;  text-decoration:none;}
img.rpwe-thumb  {padding:0px !important; margin:10px 0px !important;}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
	margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#instframe iframe {max-width: 100%;}

/* =Menu Responsive
-------------------------------------------------------------- */
.menu-btn { margin-right: 10px; position: absolute; left: 10px; top: 22px; cursor: pointer;}
.menu-btn div{position:absolute;left:100%;top:64%;padding-right:8px;margin-top:-0.50em;line-height:1.2;font-size:18px;font-weight:200;vertical-align:middle;z-index:99;}
.menu-btn span{display:block;width:25px;height:3px;margin:5px 0;background:#505050;z-index:99;}
.responsive-menu{ padding: 0px 10px; color: black !important; display:none;position:absolute;left:0;top:60px;font-size:22px;border-bottom:#EDEDED solid 1px;border-left:#EDEDED solid 1px;-webkit-box-shadow:0px 2px 2px 0px rgba(245,245,245,1);-moz-box-shadow:0px 2px 2px 0px rgba(245,245,245,1);box-shadow:0px 2px 2px 0px rgba(245,245,245,1);border-top:#EDEDED solid 1px;width:320px;box-sizing:border-box;background:#50E3C2; z-index: 9; height: 100vh; }
.responsive-menu .menu-header {display:block; }
.responsive-menu .menu-header ul{position:relative;display:block; list-style-type:none; padding-left: 0px;     margin: 10px 0;     text-align: center;}
.responsive-menu .menu-header li {float:none;line-height:35px;width:100%;    text-align: center;position:relative;padding:0; font-size: 18px; text-transform: uppercase;}
.responsive-menu .menu-header li:last-child {border-bottom:none;}
.expand {display:block!important;}
.responsive-menu .menu-header li .sub-menu {display:none;font-size:16px;}
.responsive-menu .menu-header li .sub-menu li {border-bottom:none;line-height:35px;}
.open-menu-link{display:none;position:absolute;right:15px;top:0;line-height:55px;color:#989DA1;font-size:30px;cursor:pointer;}
.responsive-menu .menu-header li .visible {display:block;}
.responsive-menu .menu-header li a {text-decoration:none; color: black;     font-size: 18px; font-weight: 300;}  
.logos-sociales {float:right;}
.logos-sociales img {height: 25px; width: 25px; margin-right:10px;} 
.responsive-menu .menu-header h3 {color: black !important; border-bottom: #EDEDED solid 1px; padding: 10px; margin: 13px 0 0 0; font-size: 21px; text-align: center; text-transform: uppercase;}
.responsive-menu .menu-header a {text-decoration:none; color: black !important;}

#buscarDiv {float:left; width: 35px; cursor: pointer; margin-top: 2px;}
#buscarDiv img {height: 20px; width: 20px;}
.search-overlay {bottom: 1px; right: 0; width: 10px; background: #fff; position: absolute; padding: 0; vertical-align: top; opacity: 0; z-index: -1; border: 12px solid white; text-align: left; display:none;}
.search-activated { opacity: 1; width: 400px; z-index: 147483648; right: 0; background: #fff; position: absolute; padding: 0; vertical-align: top; border: 3px solid white; text-align: left; width:330px; height: 20px;
}
#searchForm input[type=text], input#s {margin:0;}
#searchForm .searchform {width: 300px;}
#searchClose {position: absolute; top: 1px; left: 105px; cursor: pointer;}
#searchClose img {height: 20px; width:20px;} 
#newsIcon {float:left; width: 20px; margin-top: 7px;}
#newsIcon img {width: 21px; height: auto; margin-left: 5px;}

/* =Facebook ADs
-------------------------------------------------------------- */
    @media screen and (max-width:450px){   
      #ad_root {font-size: 13px; height: 250px; line-height: 16px; position: relative; width: 300px;}
      .thirdPartyMediaClass { height: 157px; width: 300px; clear: both; padding-top:5px; margin-bottom:5px;}
      .thirdPartyTitleClass { font-weight: 600; font-size: 13px; font-family: sans-serif; color: #676767; margin: 0px 0 4px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left; width: 180px;}
      .thirdPartyBodyClass { display: -webkit-box; height: 32px; -webkit-line-clamp: 2; font-family: sans-serif; overflow: hidden; color: #676767; font-size: 11px; }
      .thirdPartyCallToActionClass { color: #232323; font-family: sans-serif; font-weight: 300; margin-top: 0px; float:right; width:60px; font-size: 10px; }
      .thirdPartyIconClass { height: 30px; width:30px; margin-right: 10px; float: left;}
}

    @media screen and (max-width:450px){   
      #ad_root_chico  {font-size: 13px; height: 150px; line-height: 16px; position: relative; max-width: 48%;      float: left;}
      #ad_root_chico2  {font-size: 13px; height: 150px; line-height: 16px; position: relative; max-width: 48%; margin-left: 2%; float: left;}
      .thirdPartyMediaClassChico { height: 75px; width: 144px; clear: both; padding-top:5px; margin-bottom:5px;}
      .thirdPartyTitleClassChico { font-weight: 300; text-transform: uppercase; font-size: 13px; font-family: sans-serif; color: #676767; margin: 0px 0 4px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left; width: 100%;}
      .thirdPartyCallToActionClassChico { color: #232323; font-family: sans-serif; font-weight: 300; margin-top: 0px; float:right; width:60px; font-size: 10px; }
}

/* =Home
-------------------------------------------------------------- */
.home #primary, .category #primary, .tag #primary, .search #primary, .error404 #primary, .author #primary, .archive #primary, .page-id-239969 #primary {max-width:100% !important; width: 100%;}
.home #content, .category #content, .tag #content, .search #content, .error404 #content, .author #content, .archive #content, .page-id-239969 #content {width:100% !important;}
#contHomeleft {width:100%; float: left;}
#contHomeright {width:30.5%; float: right; margin-right: 24px;}
#cont-home {width: 31%; float:left; margin: 20px 10px; }
#cont-home h2 { margin: 10px 0px; line-height: 1.2em; font-size: 1.4em; font-weight:400;}
#cont-home h2 a {}
.homeimage img {width: 100%; height: auto;}
.titulo-home {min-height:90px;}
.autor-home {padding: 10px 0px; border-top: 1px solid #ddd; color:#929292; min-height:20px;}
.autor-home a {text-decoration: none; color: #929292;}
.autor-home .entry-meta {float:left;}
.grid-nav {clear:both;}
.grid-nav a {color: white !important; text-decoration: none;}
#social-pick {position:absolute; top: 10px; right: 0px; display:none;}
#patro-div {position:absolute; top: 0px; left: 0px;}
.grid-home {position: relative;}
.grid-home .autor-home .entry-meta { max-width: 220px; overflow: hidden; max-height: 20px;}
.lista-home {width: 31%; float: left; position: relative; margin: 20px 0px 0px 10px;}
#rel-branded .lista-home {width: 100%;     margin: 20px 0px 0px 0px;}
.listaimage img {max-width: 100%; display: block; width: auto; height: auto;}
.titulo-lista a {color: #fff !important;}
.titulo-lista {position: absolute; bottom: 0px; left: 10px;}
#portada-tit {position: absolute; bottom: 0px; left: 10px;}
.home-first {position: relative;}
.homefst-tit a {color: #fff !important; font-size:25px; line-height: 35px;}
#cont-home-gd {float:left; margin: 20px 10px 0px 10px; }
.alm-btn-wrap {overflow: visible !important;}
.alm-reveal {min-width: 200px;}
.pincategoria {height: 62px !important; width:auto !important;}
.circuloCat {    width: 64px; height: 64px;  margin-left: auto; margin-right: auto; padding-top: 10px; padding-bottom: 10px;}
.catTitle {    font-size: 2.4em;  text-align: center; font-weight: 400;  border-bottom: 2px solid #ddd;}

.barra-home {height: 72px; margin-top:10px; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.barraderecha {width:33%; float:right; margin-left:10px;}
.titulo-barrahome {position: relative; height:72px; overflow:hidden;}
.titulo-barrahome h2 a {font-size: 15px;}
.titulo-barrahome h2 {margin: 0px; height: 72px; overflow: hidden;}
.titimperdible {font-size: 20px; border-bottom: 3px solid #ddd; text-align: center;}
.titleright {display: none;}

#related-head {padding-top: 10px; overflow: auto; margin-right:-10px;}
.lista-populares {width: 320px; float:left; margin-right:10px; margin-bottom: 10px;}
.lista-populares img {max-width: 100%; display: block; width: auto; height: 80px;}
.lista-populares .relhead a {font-size:20px;  line-height: 22px; font-family: 'Roboto', Helvetica, arial, sans-serif;}
.lista-populares a span {display: none; position: absolute; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.6); color: #ddd; width: 300px; padding: 10px; padding-top: 15px; height: 142px; overflow: hidden;}
.lista-populares a:hover span {display: block;}

@media screen and (max-width:900px){
#contHomeleft, #contHomeright {width:100%;}
#contHomeright {float: left; margin:0px;}
.barra-home {width: 46%; float: left; margin: 20px 10px; height: auto;}
.barraderecha {width: auto; margin-left: 0px;}
.titulo-barrahome {clear: both; min-height: 90px;}
.titleright {display: block;}
.contPopulares {display:none;}
.contExtras {display:none;}
}
@media screen and (max-width:480px){
#contHomeright {display:none;}
contHomeright, #contHomeright {float: left; margin:0px;}
.barra-home {width: 46%; float: left; padding: 10px 5px 10px 5px; margin: 0px;}
.barraderecha {width: auto; margin-left: 0px;}
.titulo-barrahome {clear: both; min-height: 90px;}
.titulo-barrahome h2 {margin-top: 10px; text-transform: uppercase; line-height: 14px; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: 600; height: auto;}
.titulo-barrahome h2 a {font-size: 12px !important;}
}

/* =Patrocinado y Aporte
-------------------------------------------------------------- */
#ad-mensaje{
clear:both; color: #0a5675; border-bottom: #ddd 1px dotted;
  font-family: 'Roboto', Helvetica, arial, sans-serif;  line-height: 24px; padding: 10px 0px; clear:both;   margin-top: 10px; font-size: 14px !important;}
#ad-mensaje a {font-size: 14px !important; border-bottom: #ddd 1px dotted;vcolor: #000 !important; margin-right: 0px !important;}
.autor-patrocinado  {font-size: 16px !important; font-family: 'Roboto', Helvetica, arial, sans-serif; padding-top: 17px !important;   width: 100% !important; }
.autor-patrocinado a {font-size: 16px !important;}
#escritorDiv {position: absolute; bottom: 0%; right: 50%; background: #FFB45F; border: 3px solid #fff; width: 150px; margin-right: -75px; margin-bottom:-18px;}
#escritorDiv a {padding: 5px 20px; margin: 0px; color: #fff; font-family: 'Roboto', Helvetica, arial, sans-serif; font-size: 15px; line-height: 28px; text-decoration:none; }
.caja-autor-aporte {width:90% !important; padding: 30px 5%; float: left; border-top: 1px solid #edebeb; background: #F5F5F5;}
.autor-aporte {width:100% !important; border: none !important; font-size: 16px !important; font-family: 'Roboto', Helvetica, arial, sans-serif; padding:0px !important;}
.autor-aporte #ad-mensaje {border: none;}
.autor-aporte a {font-size: 16px !important;}
#credito-img-aporte {position:absolute; top: 10px; right:5px;}
#credito-img-aporte a {text-decoration: none; background: #fff; padding: 5px 10px;}
#comunidadLink {float: right;}
#comunidadLink a { color: #61B4F3 !important; font-size: 14px !important;}
#invLink {    font-size: 16px !important;
    font-family: 'Roboto', Helvetica, arial, sans-serif; padding: 10px 0;}
#invLink a { color: #df7e5c; text-decoration: none;}

@media screen and (max-width:480px){ 
#invLink {padding: 10px; }
#ad-mensaje {padding: 10px;}
}


/* =Relacionados
-------------------------------------------------------------- */

.barra-divisorio {width: 100%; border-bottom: 10px dotted #ddd;}
.titulo-extra {  margin-top: 50px; font-weight: 600; font-size: 2.4em; border-top: 1px solid #ddd; padding-top: 30px;}

#related-head {padding-top: 10px; overflow: auto; margin-right:-10px;}
.yarpp-related a {font-weight: 400 !important;}
.lista-relacionados {width: 122px; float:left; margin-right:10px;}
.lista-relacionados img {max-width: 100%; display: block; width: auto; height: auto;}
.relhead {position: relative; }
.relhead a {font-size:12px; line-height: 15px; font-family: 'Roboto', Helvetica, arial, sans-serif;}

.lista-relacionados a span {display: none; position: absolute; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.6); color: #ddd; width: 105px; padding: 5px; height: 71px; overflow: hidden;
}

.lista-relacionados a:hover span {
  display: block;
}

#FBtop { height: 40px; }
#FBtop .btngral {   background-color: #2d609b; margin-bottom: 10px; font-size: 0.95rem;text-rendering: optimizeLegibility; text-align: center; line-height: 40px; cursor: pointer; height: 40px; width: 100%;  }
#FBtop .btngral a {color: white; text-decoration: none; height: 100%; width: 100%;   display: block;}

.visibleheader {position: fixed; top: 0px; width: 100%; left: 0px; z-index: 10000;}

@media screen and (min-width: 600px) {
 #FBtop { display: none; }
 #ad-bottom { display: none; }
}

/* =Header
-------------------------------------------------------------- */

#site-title {
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}
#site-description {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}

#head-container {
position: relative;
z-index: 99;
margin: 0 auto;
    position: relative;
    z-index: 99;
    margin: 0 auto;
    background: #fff;
    background: url(http://cdn3.upsocl.com/wp-content/themes/upso3/images/arcoiris.png) no-repeat;
    background-size: 100%;
    background-color: #fff;
    background-position: bottom;
}

#branding {
font-family: 'Roboto', Helvetica, arial, sans-serif;
font-weight:400;
font-size:15px;
text-transform: uppercase;
background: #fff;
padding-top:1px;
height:80px;
display: block;
padding: 0;
margin: 0 auto;
background: transparent;
width:260px;
}

#adsuperior {max-width: 970px; margin: 10px auto; clear: both;}
#ad-cont-1 {line-height:0px; margin-bottom: 10px;}
#div-gpt-ad-1455111292971-0_ad_container {height:0;}

#ad-header { width:728px; max-height:90px; padding-bottom:10px; margin-top:20px; margin-left: auto; margin-right: auto; clear: both;}
#ad-header-mob { display:none;}
#ad-topTop {width:320px; margin-left: auto; margin-right: auto; clear:both; margin-bottom: 10px; margin-top:10px;}
@media screen and (min-width:480px) { 
#div-gpt-ad-cm2, #div-gpt-ad-cm { margin-right: 20px; margin-bottom: 20px;}
}

#branding a {color:#000;}
#branding a:hover {color:#dddddd;}

#logodiv {max-width:260px; margin: 0 auto;}
#logodiv .logoportada {max-width: 197px;}
#logodiv .logocategoria {max-width: 62px;}

.barra-like {float:left; padding-top:25px; }
.barra-like h3 {margin:0px; float:left; font-size:13px; text-transform:none;}
#likedbut {float:left; margin-left:10px;}
.ytb-header {float:left; margin-left:10px;}
#fb-siguenos {display:none;}
.socialtop {max-width:790px; min-height:45px;}
#socialbox {float:right; width:55%}
.pin-link, .fb-link, .tw-link {float:left; list-style:none; margin-left:5px;}
#link-pt {float:right; margin-right:35px;}
#link-pt a {font-size:10px; text-transform:none;}
#descripcion p {margin: -10px 0px 10px; font-weight: 400; }

.spu-facebook {margin-right: 10px;}

#author-avatar img { padding: 0px 10px; border-left: 1px solid #edebeb;}
#author-avatar p {display:block; margin: 0px;}
#author-avatar { width:45%; float:left; padding-top:8px; border-top: 1px solid #edebeb;}
#author-avatar a { color: #df7e5c; text-decoration: none; font-size:14px; margin-right:15px;}

#author-top {float:left; width:35%}
#topmenu {float:left;  }
#socialpages { width:150px; float:right; padding:0px; margin:0px; list-style:none; }
#socialdiv {float:right; width:250px;}
.share-buttons a {
vertical-align: middle;
text-decoration: none;
color:#fff;
font-family: 'Roboto', Helvetica, arial, sans-serif;
font-weight: 300;
padding: 10px 40px;
}
.share-creatividad a {padding: 10px 20px !important;}

/* =Shares Btns
-------------------------------------------------------------- */

.share-buttons .btngral {
margin-bottom:10px;
margin-top: 5px;
width: 45%;
float:right;
margin-right: 2px;
color: #fff;
font-size: 0.95rem;
text-rendering: optimizeLegibility;
text-align: center;
line-height: 40px;
position: relative;
display: inline-block;
cursor: pointer;
height: 40px;
}

.share-buttons .twitter {background-color: #00c3f3;}
.share-buttons .facebook {margin-right: 2px; background-color: #2d609b;}
.share-buttons .pinterestbt {background-color: #c42329;}
.share-buttons .mailBtn {background-color: #666666;}

.share-creatividad .btngral {width: 30%;}

.share-bottom .btngral {width: 49.5%; margin-right: 0px;}
.share-bottom .mailBtn {display:none;}
.share-bottom .facebook {margin-right: 1%}
.share-bottom a {padding: 10px 90px;}

@media screen and (max-width:900px){
#socialbox {width:100%;}
.share-buttons .btngral {width: 50%; margin-right: 0px;}
.share-buttons a {padding:0px;}
.socialtop .share-creatividad .btngral {width: 33.3%; margin: 0px;}
#socialbox {width:100%;}
.share-bottom .mailBtn {display:inline;}
.share-bottom .btngral {width: 33.3%; margin-right: 0px;}
}


/* =Menu
-------------------------------------------------------------- */

#responsive-menu li a {font-family: 'Roboto', Helvetica, arial, sans-serif;}

#barraMenu {min-width:1090px; height:50px; background: #F5F5F5; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: 400; font-size: 18px;}
.barra-contanier {display: block; padding: 0 20px; margin: 0 auto; position:absolute; top: 22px; right: 10px;}
div.srchButton {width:20px; float:left;}
#search-container {padding-top:15px; float:right;}

input#searchsubmit {
    background: #000 !important;
    color: #fff;
    border: 0px;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

#header_search {
font-size: 14px;
color: #626262;
font-style: normal;
width: 125px;
line-height: 18px;
margin: 0px 6px 3px 3px;
}

#access {
	display: block;
	float: left;
	height:39px;
}
#access ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	display: block;
	line-height: 30px;
	padding: 10px 1em;
	text-decoration: none;
	color: #000;
	font-weight: 300;
}
#access ul ul {
	display: none;
	float: left;
	position: absolute;
	top: 2em;
	left: 0;
	z-index: 99999;
	background: #ddd;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	line-height: 1em;
	padding: .5em .5em .5em 1em;
	width: 10em;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background:#ffffff;
	color: #626262;
}
#access ul ul a:hover {
	background: #cecece;
}
#access ul li:hover > ul {
	display: block;
}

.sub.menu {z-index:888;}

/* =Content
-------------------------------------------------------------- */

  #ad-dentro {
float: left;
width: 300px;
height: 250px;
margin-right: 10px;
}

.sticky {
}
.entry-meta {
	clear: both;
	display: block;
}
.single-author .entry-meta .byline {
	display: none;
}

.entry-title a {text-decoration: none; color: #000;}
.entry-title a:hover {color: #ddd;}

#content nav {
	display: block;
	overflow: hidden;
}
#content nav .nav-previous {
	float: left;
	width: 50%;
}
#content nav .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content #nav-above {
	display: none;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}


.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.embed-container {
	position: relative;
	padding-top: 30px;
}

.embed-container iframe,  
.embed-container object,  
.embed-container embed {
	top: 0;
	left: 0;
	width: 100%;
}

.wp-embed-footer {display:none}

.fb-container iframe {width: 100% !important; }

#overlay-span {
display:none;
width:200px;
position: absolute; top:50px; 
margin: 0;
padding: 0;
margin-left: 0px;
margin-top: 1em;
z-index: 500;
filter: alpha(opacity=0);
-webkit-transition: opacity .4s, top .25s;
-moz-transition: opacity .4s, top .25s;
-o-transition: opacity .4s, top .25s;
transition: opacity .4s, top .25s;
float: left;}

#post-adicional {background: #000; padding: 40px; margin-top: 20px;}
#post-adicional p, #post-adicional a, #post-adicional h2 {height: 0px; line-height: 0px !important; margin: 0px; color: #000 !important; text-decoration: none;}
#post-adicional .wp-caption, #post-adicional .twitter-tweet {display:none;}
#post-adicional h3 {color: #fff; margin-top: 0px; font-size: 18px;}
#adiconal-titulo {}
#adiconal-titulo p {height: 20px; color: #fff !important;}

.caja-like {width:258px; border: 1px solid #E8E3D8; padding: 20px; text-align: center; max-width: 270px; float: right; margin: 10px 0px 10px 10px; display:none;}
.caja-like .cajaTit {font-size: 14px; display: block; line-height: 18px; padding-bottom: 10px; font-weight:400;}
.caja-like .cajaDesc {font-size: 13px; display: block; line-height: 18px; padding-bottom: 10px;  color: #676767;}

.youtube1 { z-index:1; float: left; margin-bottom:10px;  }

.fb-comments  {width:100% !important;}
.fb-comments  span {width:100% !important;}
.fb-comments  iframe {width:100% !important;}

.paged #content #nav-above,
.single #content #nav-above {
	display: block;
}
#nav-below {
	margin: 1em 0 0;
}
.page-link {
	clear: both;
	margin: 0 0 1em;
}
.page .edit-link {
	clear: both;
	display: block;
}



/* Notices */
.post .notice,
.error404 #searchform {
	background: #fff;
	display: block;
	padding: 1em;
}

/* Image Attachments */
.image-attachment div.entry-meta {
	float: left;
}
.image-attachment nav {
	float: right;
	margin: 0 0 1em 0;
}
.image-attachment .entry-content {
	clear: both;
}
.image-attachment .entry-content .entry-attachment {
	margin: 0 0 1em;
	padding: 0;
	text-align: center;
}
.image-attachment .entry-content .attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* Aside Posts */
.format-aside .entry-header {
	display: none;
}
.single .format-aside .entry-header {
	display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
	padding-top: 1em;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
	padding-top: 0;
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
	float: left;
	margin: 0 1em 0 0;
}

/* Image Posts */
.format-image .entry-header {
	display: none;
}
.single .format-image .entry-header {
	display: block;
}
.format-image .entry-content,
.format-image .entry-summary {
	padding-top: 1em;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 0;
}

.categor{margin-left:10px; margin-top:10px; margin-bottom:10px;}
 
/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
        padding: 0px;
	padding-bottom: .5em !important;
	text-align: center;
}
.wp-caption img {
	margin-bottom: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.wp-caption-text a {font-weight: 100; font-size: 12px;}
.gallery-caption {background: black; color: white; font-size: 24px; position: absolute; top: 10px;  font-family: 'Roboto', Helvetica, arial, sans-serif; padding: 10px 0px; font-weight: 400; width: 100%; }
.gallery img {border: none !important; }
.gallery-caption a {color: white; font-size: 24px; text-decoration: none; padding: 0px 30%;}
.gallery {position: relative;}
.wp-smiley {margin: 0;}


.imgifs {width: 100% !important;}

#image-navigation .previous-image, #image-navigation .next-image {background: #000; float:left;}

#image-navigation .previous-image a, #image-navigation .next-image a {color: white; font-size: 16px; padding: 5px 15px; font-family: 'Roboto', Helvetica, arial, sans-serif;   font-weight: 400; text-decoration: none; line-height: 30px; background: black;}
#image-navigation .previous-image { margin-right: 10px;}


@media screen and (max-width:500px){
#image-navigation {width: 100%; clear:both; margin-top: 20px;}
#image-navigation .previous-image, #image-navigation .next-image {width:49%; }
#image-navigation .previous-image a, #image-navigation .next-image a {padding: 5px 15%; }
#image-navigation .previous-image {margin-right: 2%;}
}



/* =Forms
-------------------------------------------------------------- */

#searchform label {
	display: none;
}
#searchform input#s {
	max-width: 60%;
}
input[type=text],
input#s {
	margin:0;
	max-width: 60%;
}
textarea {
	max-width: 80%;
}

.wpcf7 input {height:30px;}
#form-left input {max-width:280px; width:280px;}
.wpcf7 textarea {width: 100%; max-width:100%;}
.wpcf7 .wpcf7-select {
background:#fff;
width:280px;
height: 30px;
display: inline-block;
color: #404040;
font-size: 16px;
line-height: 31px;
margin-top: 15px;
overflow: hidden;
font: 14px 'Raleway', sans-serif;
-webkit-appearance: none;
-moz-appearance: none;
border-radius: 0px;
}

.newsletter-subscription { padding: 0px 50px; }

input.newsletter-email {
margin: 10px 0px 5px 10px;
width: 95%;
height: 50px;
padding: 0px 0px 0px 10px !important;
line-height: 32px;
float: left;
display: block;
color: rgb(153, 153, 153);
border: 1px solid #c7c7c7;
font-size: 25px;
font-family: 'Roboto', Helvetica, arial, sans-serif;
}

input.newsletter-submit {
font-family: 'Roboto', Helvetica, arial, sans-serif;
width: 90%;
border: medium none;
float: left;
font-size: 25px;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
height: 50px;
box-shadow: 0px 1px 1px 0px rgb(51, 51, 51);
border-radius: 2px;
text-shadow: 0px 0px 1px rgb(51, 51, 51);
margin: 5px 15px 0px 3px;
background-color: #3a3a3c;
background-image: -moz-linear-gradient(center bottom , #364558 15%, #E364558 85%);
}

.widget-area .widget_search input[type="submit"] {
color: #fff;
background-color: #3a3a3c;
border: none;
margin-top: 0px;
}



/* Class for labelling required form items */
.required {
	color: #cc0033;
}

/* =Comments
-------------------------------------------------------------- */

article.comment {
	display: block;
}
#respond input[type=text] {
	display: block;
	width: 60%;
}
#respond textarea {
	display: block;
	margin: 0 0 1em;
	width: 80%;
}
#respond .form-allowed-tags {
	clear: both;
	width: 80%;
}
#respond .form-allowed-tags code {
	display: block;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	display: block;
}
.widget-area .widget_search {
	overflow: hidden;
}
.widget-area .widget_search input {
	float: left;
}

.widget-title {text-transform: uppercase; border-bottom: solid 1px #000; padding-bottom:10px; font-size:22px;}

#footer-ad, #video-ad {clear: both; max-height:90px; max-width:728px;}


#secondary img {max-width: 100%;
display: block;
width: auto;
height: auto;}

#social-links img {padding-top: 10px;}

/* =Footer
-------------------------------------------------------------- */

#colophon {padding: 1em 0 0;}
#footer-nav {max-width: 790px; text-align:center; padding-top: 10px; margin-bottom:10px;}
#footer-nav a {display: inline; margin-left: 15px; font-size:12px; color:#626262; text-decoration: none;}
.home #footer-nav {display:none;}

/* =Sharing
------------------------------------------------------------- */

/* =Popup
-------------------------------------------------------------- */

.spu-powered {display:none !important;}
.invisible {opacity: 0; }
.visible {opacity: 1; }

.invisible1 {display:none; }
.visible1 {display:inline; }

#ctrl-after {position:fixed; width:100%; height: 100%; background: #000; top: 0; left: 0;
z-index: 100; opacity: 0.65;}

#after-pop {position:fixed;  top:15%; right:50%; opacity: 1 !important; z-index: 99999; margin-right:-300px;}
.popup-cont{ width:600px; background: #fff; border: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
border-radius: 4px; -webkit-box-shadow: 0 0 15px #664422; -moz-box-shadow: 0 0 15px #664422; box-shadow: 0 0 15px #664422;}

.spu-content h2 {line-height: 2em; text-align: center; font-size: 42px; color: #000000;}
.spu-box {-webkit-border-radius: 0px !important; border-radius: 0px !important;}

.socialpop {margin-top:5px; min-height: 50px; }
.popupexit {width:300px; background:#df7e5c; color:#fff; border: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 0 15px #664422; -moz-box-shadow: 0 0 15px #664422; box-shadow: 0 0 15px #664422; margin-left:auto; margin-right:auto; cursor: pointer; line-height:40px; margin-top:5px; font-size: 18px; text-align: center;}

.popup-cont #spu-msg {margin: 0px 0px 10px 0px; padding-top: 10px;}

#after-pop #spu-msg-cont {padding:0px;}
#after-pop .newsletter-subscription {padding-left: 30px;}
.popnews {margin-top:30px;}
.popnews input.newsletter-email {width: 300px !important;}

#newsletter-cont {margin-top:10px; margin-left: 10px; padding:20px 0px; max-width:790px; clear:both; border: none;text-align: center; background: #f2f3f4;}
.news-title {text-align: center; font-family: 'Roboto', Helvetica, arial, sans-serif; font-size: 30px; font-weight:400; line-height:50px;}
.news-message {text-align: center; font-family: 'Roboto', Helvetica, arial, sans-serif; font-size: 14px; line-height:30px;}

#welpopup {padding: 20px; font-family: 'Roboto', Helvetica, arial, sans-serif;}
#welpopup h1 {margin-bottom: 20px;}
#welpopup p {font-size: 16px; line-height: 18px; margin-bottom: 20px;}
#welpopup .popfb, #welpopup .poptw {float: left; margin-left: 20px;}
#welpopup .popsoc { width: 80%; margin: 10px auto 30px auto; height: 50px;}
.snp-theme-html { border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}

@media screen and (max-width:700px) { 
.popup-cont{ width:450px;}
#after-pop {margin-right:-225px; }
.spu-content h2 {line-height: 2em; font-size: 1.7em;}
}

@media screen and (max-width:480px) { 
#welpopup h1 {font-size: 20px; margin-bottom: 10px;}
#welpopup p {font-size: 14px; }
#welpopup .popfb {margin-bottom: 10px;}
.popup-cont{ width:300px;}
#after-pop {right:50%; margin-right:-150px; }
.pincategoria {height: 42px !important; width:auto !important;}
.ctrl-bar {display:none;}
#spu-title {padding: 0px;}
.socialpop {display: none;}
}

@media screen and (max-width:300px) { 
#after-pop {display:none;}
}

/* =Media
-------------------------------------------------------------- */
@media screen and (max-width:1200px){

}

@media screen and (max-width:1050px){
.home #content, .category #content, .tag #content, .search #content {max-width:100%; margin-left:auto; margin-right:auto;}
}

@media screen and (max-width:900px){
#page {width: 728px;}
#primary {width: 728px;}
#barraMenu {min-width:768px; display:none;}
#adsuperior {width: 728px;}
.barra-contanier {width: 728px;}
#secondary {display:none;}
#cont-home {width: 46%; float:left; margin: 20px 10px; }
#overlay-span {display:none;}
.lista-home, #cont-home-gd {display:none;}
.barra-like h3 {display:none;}
.barra-like {border-radius: 4px; padding: 5px 10px 10px 10px; border: 1px solid #cdd7ec; background: #f2f4fa; height: 40px;
display: -moz-inline-stack; display: inline-block;vertical-align: top; width:128px;}
#likedbut {width:85px; margin-left:20px;}
#fb-siguenos {display:block; text-transform:none; font-size:12px; margin-bottom:3px;}
.barra-like {margin-top:5px;}
#search-container {display:none;}
#related-head {display:none;}
.ytb-header {display:none;}
}

@media screen and (max-width:760px){
#author-avatar {width:100%; padding-bottom: 10px;}
#adsuperior {display:none;}
#page {width: 93.75%; padding: 0 3.125%;}
#primary {width: 100%;}
#content {width: 100%;}
#link-pt {display:none;}
#access {display:none;}
#footer-ad, #video-ad  {width:300px; max-height: 250px; margin: 10px auto; clear:both; }
.post-article-related-content{display:none}
#primary {max-width:100%}
#author-top {display:none;}
#socialbox {width:100%;}
.post h1 {font-size:2em; line-height: 1.5em;}
.newsletter-subscription {padding:5px;}
.barra-contanier {display:none;}
.ytb-header {display:none;}
#overlay-span {display:none;}
.grid-div {max-width:48%;}
#ad-header-mob, #ad-header { display: block; width:300px; max-height:250px; padding-bottom:10px; margin-top:20px; margin-left: auto; margin-right: auto;}
}

@media screen and (max-width:480px){
#ad-cont-1, #ad-cont-2, #ad-cont-3 {width: 300px; margin-left: auto; margin-right: auto;}
.menu-btn {top:14px; margin-right: 0px;}
#related-ad {display:none;}
.spu-box { left: 10px !important;}
.spu-box h2 {line-height: 1.2em;}
#ad-iphone-sup {display:inline; padding-bottom:10px;}
.titulo-grid {font-size:9px; text-transform: uppercase; line-height: 1.4em, sans-serif; font-weight: 400; overflow: hidden; height: 105px; min-height: 90px;}
.titulo-grid h2 {font-size: 1.4em; font-weight: 600;}
#page {padding: 0px; width:100%}
#cont-home {width: 46%; float: left; padding: 10px 5px 10px 5px; margin: 0;}
.titulo-home {font-size:9px; text-transform: uppercase; line-height: 1.4em;font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: 400; overflow: hidden; height: 100px; min-height: 90px;}
.autor-home {display:none;}
.home .barra-like {display:none;}
.socialtop {overflow:auto; padding-top:10px;}
#author-avatar {padding-left:20px; padding-right:20px; width: 280px;}
.single-branded #author-avatar {padding-left:0px; padding-right:0px;}
.single h1 {font-size: 34px; font-weight: 400; line-height: 38px; margin-top: 0px; padding: 0 20px;}
.news-title {font-size:22px;}
input.newsletter-submit, input.newsletter-email  {font-size:16px;}
#newsletter-cont {margin-left:0px;}
#branding {height: 63px;}
.barra-like { margin: 0px 0px 20px 0px; height:15px; width: 96%; height: 20px; padding: 5px 2%; line-height: 20px;}
#fb-siguenos{display:inline; float:left; width:160px;}
#likedbut {display:inline; width:85px; margin-left:0px; float:left;}
.ytb-header {display:inline; margin-top: 5px;}
#spu-title {font-size: 20px;}
.ytb-header {display:inline;}
#content p {padding: 0 20px; font-size: 16px; line-height: 25px;}
.single-texto h2, .single-texto h1 {padding: 0 20px; font-weight: 100;}
.single #content img {width: 100%;}
.embed-container {padding-left:20px; padding-right:20px;}
.categor {padding-left:10px; padding-right:10px;}
.related-videos {padding-left:10px; padding-right:10px;}
#cont-grid {margin-left: -1%;}
#descripcion p {font-weight:100; font-size: 15px; line-height: 22px;}
.titulo-extra {padding-top: 20px !important;}
.caja-like {float:none; margin: 10px auto; display:inline;}
}


@media screen and (max-width:450px){
#logodiv {width:200px;}
#logodiv img {width:100%;}
#click-menu {top:15px !important;}
}

.spu-button {margin-top: 20px; margin-left:15px; margin-left: 15px; display: inline-table; margin-top: 12px; vertical-align: middle; }

#spu-main {border: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 15px #664422;
-moz-box-shadow: 0 0 15px #664422;
box-shadow: 0 0 15px #664422;
  max-width:600px;
}

#spu-close {margin-top: 5px; text-decoration: none !important; color: #09b691;
font-family:"Lucida Grande",Verdana;
}

#spu-bg {background: #000000;}

.ctrl-bar {
  height:27px;
border-radius: 4px 4px 0 0;
text-align: right;
border-bottom: 1px solid #eaeaea;
background: #F5F5F0;
background-color: #fbf8f4;
background-image: -moz-linear-gradient(top, #fffafa, #f5f5ec);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fffafa), to(#f5f5ec));
background-image: -webkit-linear-gradient(top, #fffafa, #f5f5ec);
background-image: -o-linear-gradient(top, #fffafa, #f5f5ec);
background-image: linear-gradient(to bottom, #fffafa, #f5f5ec);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffafa', endColorstr='#fff5f5ec', GradientType=0);
}
#spu-msg-cont {padding:16px;}
#spu-msg {
	margin:0 0 22px;
    font-family:"Lucida Grande";
  	text-align:center;
}
.step-clear {
	clear:both!important;
}
#cont-bl {
padding-bottom: 10px;}
#cont-ama {
padding: 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
transition: opacity .25s, height .25s;
-webkit-transition: opacity .25s, height .25s;
-moz-transition: opacity .25s, height .25s;
-o-transition: opacity .25s, height .25s;}
#spu-title {
	font-family: 'Muli',"HelveticaNeue-CondensedBold","Helvetica Neue",Arial,sans-serif !important;
	font-size:28px;
	padding:12px 0 9px 10px;
	text-align:center;
  font-weight:bold;
}

@media screen and (max-width: 640px) 
{

  #spu-main {width:80%;}  
}