﻿@charset "utf-8";*{margin:0;padding:0}

body { 
line-height:22px;
list-style-type:none;
margin:0;
font-family:'Hiragino Sans GB','Microsoft YaHei','黑体',sans-serif;font-size:14px;color:#333;background:#fff;

}

body,td,th,input,form {
color:#000;
	 
line-height:170%;vertical-align:baseline;
}

ul li {
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

ul,li,h1,h2,h3,h4,ol,dl,dd {
list-style-type:none;
margin:0px;
padding:0px;
}
h4.boxtitle {  }
h1 {
clear:both;
color:#333;
font-size:20px;
height:50px;
line-height:50px;
margin:0;
padding:0;
text-indent:10px;
font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;}

a {
color:#000;
text-decoration:none;
}

a:hover {
color:#E10000;
text-decoration:underline;
}

input.submit {
background-color:#e10000;
border:0;
color:#fff;
font-weight:700;
height:26px;
width:70px;
}


.indexreg {
background-color:#e10000;
color:#FFF;
display:block;
float:left;
font-size:12px;
font-weight:700;
height:26px;
line-height:26px;
 margin-right:15px;
text-align:center;
width:70px;
}


.textinput {
border:1px solid #ccc;
height:24px;
line-height:24px;
margin:0;
padding:0;
text-indent:3px;
width:90px;
}
 

#indexcat {
border:1px solid #e0e0e0;
display:inline;
float:right;
height:auto;
overflow:hidden;
width:390px;
}

#indexbox {
display:inline;
float:left;
height:auto;
overflow:hidden;
width:550px;
}

.ibox,#indexpcat {
border:1px solid #e0e0e0;
margin-bottom:10px;
}

#indexpcat {
margin-top:10px;
text-indent:0;
}

#indexpcat ul li {
clear:both;
color:#ccc;
display:block;
height:auto;
margin:0 0 10px;
overflow:hidden;
width:670px;
word-break:normal;
word-wrap:break-word;
}

#indexpcat ul li strong a {
border:0;
color:#105599;
display:block;
font-size:14px;
height:28px;
line-height:32px;
}

#indexpcat ul li ol li {
clear:none;
float:left;
margin:0;
padding:0;
text-align:left;
text-indent:0;
width:auto;
}

#indexpcat ul li ol li a {
margin:0 20px 0 0;
padding:0;
}

#indexright {
float:right;
overflow:hidden;
width:266px;
}

#indexright .content ul li {
color:#333;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
width:220px;
word-break:keep-all;
}

#indexright .box {
border:1px solid #e0e0e0;
margin:0 0 10px;
}

.ihotcity {
border:1px solid #e0e0e0;
height:60px;
margin-top:6px;
}

.fl {
float:left;
}

.fr {
float:right;
margin-right:10px;
}

.reg img {
border:0;
margin-top:2px;
}


#indexcity {
border:1px solid #e0e0e0;
clear:both;
display:block;
margin-top:0;
overflow:hidden;
width:680px;
}

.indexbox #newnot li,.indexbox #new li,.indexbox #updated li,.indexweb #new li,.indexweb #hot li,.indexweb #jobs li {
background-position:left bottom;
background-repeat:repeat-x;
height:25px;
line-height:25px;
}

.indexbox #new,.indexweb #jobs {
float:right;
margin:0;
width:311px;
}

.indexbox ul li,.indexweb ul li {
height:26px;
margin-right:8px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

.indexbox ul,.indexweb ul {
margin:3px 3px 10px;
width:100%;
}

.relatedcity {
border:1px solid #e0e0e0;
clear:both;
height:120px;
margin-top:6px;
}

.relatedcity li {
display:block;
float:left;
text-align:center;
width:80px;
}

.indextopproduct {
border:1px solid #e0e0e0;
float:left;
height:184px;
width:276px;
}

.boxtitle .more a {
display:block;
float:right;
padding-right:10px;
text-align:right;
width:36px;
font-family:"宋体";
font-size:12px;
color:#666666;
border-left:2px solid #999;
height:14px;
margin-top:15px;
line-height:14px;
}

#indextop3 img {
width:703px;
}

.indextopproduct .boxtitle strong {
display:block;
float:left;
width:120px;
}

.indextopproduct .boxcontent ul li {
height:23px;
line-height:23px;
margin-left:2px;
padding:0;
text-indent:0;
width:240px;
}

.indextopproduct li a {
background-image:url(../../img/a.png);
background-position:left -272px;
background-repeat:no-repeat;
color:#333;
display:block;
float:left;
height:22px;
margin-left:5px;
overflow:hidden;
text-indent:10px;
text-overflow:ellipsis;
white-space:nowrap;
width:180px;
word-break:keep-all;
}

.indextopproduct .boxcontent ul li span {
color:#999;
display:block;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
height:22px;
overflow:hidden;
text-align:right;
width:50px;
}

.indextopproduct .content {
display:block;
margin:5px;

}

.indexscroll {
height:140px;
overflow:hidden;
}

#indexflash {
float:left;
height:184px;
margin-left:10px;
overflow:hidden;
padding:0;
text-indent:0;
width:414px;
}

#indexloginform {
border:1px solid #e0e0e0;
float:right;
height:179px;
line-height:150%;
overflow:hidden;
width:264px;
}

#indexloginform img {
clear:none;
display:inline;
}

#indexeliteweb {
border:1px solid #e0e0e0;
float:right;
width:288px;
}

#indexeliteweb marquee {
height:140px;
width:100%;
}

#indextop2 {
clear:both;
height:186px;
}

.infobox {
border:1px solid #e0e0e0;
font-weight:700;
margin:6px;
padding:6px;
}

option.sheng {
background-color:#666;
color:#FFF;
font-weight:700;
}

#indexbox .product {
height:500px;
list-style:none;
overflow:hidden;
}

#indexbox .product li {
background-image:none;
float:left;
height:160px;
width:160px;
}

#indexbox .product ul li {
background-image:none;
padding-top:3px;
text-align:center;
}

a.textlink {
display:block;
height:32px;
overflow:hidden;
text-align:center;
width:100px;
}

.t10 {
margin-top:20px;
text-indent:0px;
clear:both;
}


.t5 {
margin-top:20px;
text-indent:0px;
clear:both;
}


#indexcity table td a,#indexcity table td b {
color:#333;
display:block;
float:left;
height:18px;
overflow:hidden;
width:35px;
}

#indexcity strong {
color:#333;
font-weight:400;
}

#indexcity table td b {
color:#85B400;
}

#NT,#nav,#lmain,#indextop,.navtable,#indextop2,#b,.citylinks,.m {
margin:0 auto;
overflow:hidden;
width:1190px;
}

#indexbox ul {
clear:both;
margin:0;
padding:0;
}

.boxcontent {
display:block;
margin-left:auto;
margin-right:auto;
padding-bottom:7px;
padding-top:7px;
text-indent:0;
width:98%;
}

#indexright ul li,#sidebox ul li {

background-image:url('http://cpro.baidustatic.com/cpro/ui/noexpire/img/2.0.0/native_ad.png');
background-position:5px -268px;
background-repeat:no-repeat;
display:block;
height:32px;
line-height:32px;
margin:0;
overflow:hidden;
text-indent:15px;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

#indexcat ul {
margin:0 auto;
padding:0;
width:96%;
}

#indexcat ul li {
background-image:url();
line-height:20px;
}

#indexcat ul li.cat {
border:0 solid #ccc;
display:block;
margin:0;
overflow:hidden;
padding:0;
}

#indexcat li.cat ul li {
text-indent:12px;
}

.bigcattitle a {
text-decoration:none;
}

.bigcattitle {
clear:both;
text-indent:6px;
width:90%;
}

.relatedcity ul {
clear:both;
margin:0;
padding:0;
}

.indexbox {
clear:both;
height:350px;
margin-top:6px;
}

#subarea {
clear:both;
height:30px;
}

#searchbar {
height:32px;
line-height:32px;
}

.encat li {
float:left;
height:20px;
width:50%;
}

.encat {
clear:both;
height:400px;
}

.indexlinks {
border:1px solid #e0e0e0;
margin-top:300px;
}

.indexlinks .linkli {
clear:both;
margin:0;
width:100%;
}

.indexlinks .linkli div {
border-bottom:1px solid #e0e0e0;
clear:none;
color:#ccc;
display:block;
float:left;
height:75px;
text-indent:0;
width:818px;
}

.indexlinks .linkli div a {
margin-left:6px;
margin-right:6px;
}

.indexlinks .linkli div span {
display:block;
margin-left:auto;
margin-right:auto;
margin-top:5px;
width:98%;
}

.linkli dt {
color:#999;
display:block;
float:left;
height:30px;
line-height:30px;
text-indent:10px;
width:100px;
}

.linkli dd {
line-height:30px;
}

.linkli dd a {
color:#666;
margin-right:5px;
}

.indexlinks strong {
display:block;
line-height:30px;
overflow:hidden;
}

.indexlinks .linkli strong {
background-color:#f7f7f7;
border-bottom:1px solid #e0e0e0;
border-right:1px solid #e0e0e0;
color:#333;
float:left;
font-weight:700;
height:75px;
text-align:center;
text-indent:0;
width:135px;
}

.linkintro {
color:#666;
height:30px;
line-height:30px;
text-indent:5px;
}

#cosideshare {
clear:both;
height:30px;
padding-left:20px;
padding-top:10px;
}

#indexcity .boxtitle strong {
color:#333;
font-weight:700;
}
 
.topp .boxcontent ul li {
width:114px;
}

.topp {
border:1px solid #e0e0e0;
clear:both;
height:160px;
margin-bottom:10px;
overflow:hidden;
}

.topp ul li {
color:#666;
float:left;
text-align:center;
width:110px;
}

.topp ul li a img {
border:1px solid #e0e0e0;
height:90px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
width:90px;
}

#hotcatletter {
margin-left:20px;
}

#indextop3 {
height:60px;
margin-bottom:10px;
}

.huangye .content {
color:#85B400;
margin:10px;
}

#indexright .boxcontent {
padding-bottom:10px;
width:90%;
}

.huangye .content strong a {
color:#333;
font-weight:400;
}

#indexleft {
float:left;
width:702px;
}

.box {
border:1px solid #e0e0e0;
clear:both;
display:block;
margin-top:20px;
overflow:hidden;
}


#il .boxcontent {
920px;}

#sidebox .boxcontent {
width:190px;
}

.boxcontent ul li {
overflow:hidden;
}

.b10 {
clear:both;
margin-bottom:10px;
}

#map {
margin-bottom:6px;
overflow:hidden;
}

.ssbox {
margin-left:auto;
margin-right:auto;
text-indent:0;
width:90%;
}

.top {
display:block;
font-size:12px;
height:72px;

overflow:hidden;
text-indent:0;
}

#logo {
float:left;
margin-top:12px;
overflow:hidden;
text-indent:0;
width:700px;
}

#logo div {
width:130px;
}

#logo a {
background-image:url(logos.gif);
background-repeat:no-repeat;
display:block;
float:left;
height:55px;
width:162px;
}

#top {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e0e0e0;
	
		border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e0e0e0;
	
	height:30px;
	line-height:30px;
	color:#666666;
	background-color:#fff;
	font-family:"宋体";
}

#menu {width:412px;float:right;
border-right:1px solid #efefef;
font-size:12px;
height:30px;}
 #menu ul li {
float:left;	position: relative;
width:68px;
text-align:center;clear:none;}
#menu ul li a { color:#666;border-left:1px solid #efefef;

display:block;}
#menu ul li a:hover {background-color:#e10000;
color:#fff;}
#menu ul li ul {   position: absolute; 
   top: 20; 
   left: -0px;
   border:1px solid #efefef;
   display: none;
   background-color:#f7f7f7;}
   #menu ul li:hover ul {display:block;
   overflow:hidden;
   height:120px;
   width:205px;}
   #menu ul li ul li {text-align:center;
   line-height:28px;}

.bottom img {
margin-top:3px;
}

.content {
margin:2px;
}

.subclass,#subl {
background-position:left top;
margin-bottom:3px;
margin-top:3px;
text-indent:6px;
}

.title {
font-weight:700;
margin:0;
padding-bottom:3px;
padding-top:3px;
}

.showmain {
margin-bottom:30px;
margin-left:90px;
margin-top:30px;
padding-bottom:5px;
padding-top:5px;
width:580px;
}

.subclass a,#subl a {
padding-bottom:3px;
padding-top:3px;
width:auto;
}

.input_blur {
height:16px;
width:50px;
}

#list ul,#lmain ul {
margin:0;
padding:0;
width:90%;
}

#coinfo {
clear:both;
display:block;
height:auto;
margin-top:10px;
}

#details span {
display:block;
margin:6px;
}

#sbi {
border:1px solid #D6D6D6;
height:20px;
line-height:20px;
margin:0;
padding:0;
width:200px;
}

#sbb {
border:1px solid #D6D6D6;
height:21px;
line-height:19px;
margin:0 6px 0 0;
padding:0;
text-align:center;
width:50px;
}

#lmain {
margin-left:3px;
margin-top:3px;
}

#topright,#tr {
background-position:left center;
background-repeat:no-repeat;
color:#fff;
float:right;
height:32px;
margin-right:3px;
margin-top:12px;
text-align:right;
width:358px;
}

ifram {
margin-left:6px;
}

.bottom {
margin-top:80px;
}

.ibox {
margin-bottom:6px;
}

.new,.update,.hot,.reviewed {
margin-right:6px;
width:98%;
}

#indexproduct,#partenters {
clear:both;
height:160px;
margin-top:6px;
}

#indexproduct li {
float:left;
height:130px;
padding-top:6px;
text-align:center;
width:160px;
}

#partenters li {
float:left;
height:31px;
padding-top:6px;
text-align:center;
width:100px;
}

.indexbox #newnot,.indexbox #new,.indexbox #updated,.indexweb #new,.indexweb #hot,.indexweb #jobs {
float:left;
width:320px;
}

.indexbox #newnot,.indexweb #jobs {
float:right;
margin:0;
width:312px;
}

.indexbox ul li {
margin-right:8px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

.indexbox #newnot ul,.indexbox #new ul,.indexbox #updated ul {
margin:3px 3px 12px;
width:100%;
}

.indexbox #newnot strong,.indexbox #new strong,.indexbox #updated strong,#indexproduct strong,#partenters strong,.indexweb strong,#indexcat b {
background-repeat:repeat-x;
display:block;
height:25px;
line-height:25px;
}

a.bcat {
display:block;
margin-top:2px;
text-decoration:none;
}

#sidebox .ibox {
margin-bottom:12px;
margin-left:10px;
}

#aboutus {
border:1px solid #e0e0e0;
}

#aboutus p {
margin:0 0 18px;
padding:0;
}

#logosearch {
float:right;
height:35px;
margin-top:12px;
overflow:hidden;
text-align:right;
width:470px;
}

#searchsubmit {
border-color:#e10000;
border-style:solid solid solid none;
border-width:1px;
color:#fff;
background-color:#e10000;
display:block;
float:left;
font-size:14px;
height:34px;
width:106px;
}

#logosearch input#tsb {
border:0;
float:left;
margin:0;
width:auto;
}

#il,#ll {
display:inline;
float:left;
overflow:hidden;
text-indent:0px;
width:960px;
}

#sidebox {
color:#666;
display:inline;
float:right;
overflow:hidden;
text-indent:0px;
width:210px;


}

#sidebox .t10 {padding-top:5px;
padding-bottom:5px;}

#sidebox ul {
padding-bottom:10px;
font-family: "宋体";
font-size:12px;

}
#sidebox ul li a {color:#666;}
#sidebox .content {
margin-bottom:10px;
margin-left:10px;
}

.help {
height:210px;
}

.help a {
clear:both;
display:block;
margin-bottom:6px;
}

.lhelp {
border:1px solid #e0e0e0;
clear:both;
color:#666;
height:auto;
margin-bottom:6px;
margin-top:6px;
}

HTML {
background-color:#FFF;
}

#reviewlist,#reviewform {
border:1px solid #e0e0e0;
margin-top:6px;
width:600px;
}

.lhelp span {
display:block;
margin:3px;
}

#reviewlist strong.gb,#reviewform span {
background-color:#F7FDFF;
display:block;
font-weight:700;
height:25px;
line-height:25px;
}

#reviewlist ul li {
padding-left:6px;
}

#courl img {
margin-right:12px;
}

.indexproduct li {
background-image:none;
float:left;
height:130px;
margin-top:3px;
text-align:center;
width:120px;
}

#sidebox ul li a {
display:block;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
width:95%;
word-break:keep-all;

}

#sidebox .catcitylink .boxcontent ul li a {
clear:none;
float:left;
width:50px;
}
.catcitylink ul li {width:25%;
float:left;}
.rela ul li {
height:18px;
line-height:18px;
}

#b,#main,.bottom,.w,.top,#nav,#lmain,#indextop,.hotcity,.citylink,.cityintro,#mainmenu {
background-color:#fff;
margin:10px auto 0;
overflow:hidden;
width:1190px;
}

#m {
margin-left:auto;
margin-right:auto;
width:1190px;
}

div.catul {
width:100px;
}

div.catul ul.catfl,div.catul ul.catfr {
border:1px solid #ccc;
display:block;
float:left;
overflow:hidden;
width:300px;
}

#main #indexbox .ibox ul {
margin-left:12px;
margin-top:6px;
}

div.catul ul li {
float:left;
width:40px;
}

#nav,#indextop {
background-color:#f5f5f5;
background-image:url(a.gif);
background-position:11px 12px;
background-repeat:no-repeat;
border-color:#E10000 #e0e0e0 #e0e0e0;
border-style:solid;
border-width:2px 0 0;
clear:both;
color:#666;
display:block;
font-size:12px;
height:28px;
line-height:27px;
overflow:hidden;
text-indent:22px;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;font-family: "宋体";
}

#nav a {
color:#666;
margin-left:5px;
margin-right:5px;	

}

#topleft ul li {
background-image:url(a.png);
background-position:left center;
background-repeat:no-repeat;
text-indent:12px;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

#topleft {
background-color:#F1F6FA;
float:left;
height:150px;
overflow:hidden;
width:230px;
}

#login {
background-color:#F1F6FA;
height:150px;
}

#topbanner {
float:left;
height:150px;
width:510px;
}

#toplogin {
color:#666;
float:left;
line-height:31px;
width:400px;
height:24px;
overflow:hidden;
font-size:12px;
}

#icat {
height:1050px;
}

#icat ul,#icats ul {
margin:0;
padding:0;
text-indent:0;
}

#icat li.c2,#icats li.c2 {
border-bottom-color:#e0e0e0;
border-bottom-style:solid;
border-bottom-width:1px;
display:block;
height:50px;
margin-left:auto;
margin-right:auto;
width:98%;
}

#icat li.c2 a.c2,#icats li.c2 a.c2 {
display:block;
height:24px;
line-height:24px;
margin-top:3px;
overflow:hidden;
}

#icat li.c2 a.c2 strong,#icats li strong {
background-image:url(a.png);
background-position:left center;
background-repeat:no-repeat;
display:block;
font-weight:400;
text-indent:12px;
}

#icat li.c2 ul li,#icats li.c2 ul li {
float:left;
margin-right:10px;
overflow:hidden;
text-indent:0;
width:80px;
}

strong.cattitle {
background-color:#F1F6FA;
color:#369;
display:block;
font-weight:700;
height:22px;
line-height:22px;
text-indent:5px;
}

#logoright {
float:right;
height:60px;
width:400px;
}

#toprgg {
float:right;
padding-right:30px;
}

#logostats {
clear:both;
color:#999;
height:22px;
line-height:22px;
overflow:hidden;
text-align:right;
}

#logo img {
float:left;
margin-left:5px;
margin-right:5px;
margin-top:2px;
}

#logo strong {
color:#999;
display:block;
float:left;
font-weight:400;
margin-top:30px;
width:250px;
}

#rsearch #s,#logosearch input {
background-position:left top;
background-repeat:no-repeat;
border:1px solid #e10000;
color:#999;
float:left;
font-size:16px;
height:32px;
line-height:32px;
text-indent:12px;
width:260px;
}

a.en {
color:#666;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}

.bcatnav ul li {
float:left;
height:20px;
width:50px;
}

.bcatnav {
border:1px solid #e0e0e0;
height:100px;
}

table.infotd {
margin-bottom:10px;
margin-top:10px;
width:100%;
}

table.infotd td {
padding:10px;
}

#details {
border-bottom:1px solid #e0e0e0;
clear:both;
margin:0;
padding-bottom:6px;
}

#details b {
display:block;
height:22px;
line-height:22px;
text-indent:5px;
}

#details div {
margin-left:auto;
margin-right:auto;
width:99%;
}

.hotcitylist li {
float:left;
width:25%;
}
.imglist {width:928px;
margin-left:auto;
margin-right:auto;
clear:both;}
ul.pli dd a {color:#666;}
ul.pli dd,ul.pli h3 {
clear:both;
float:left;
height:24px;
margin:0;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
width:190px;
color:#666666;
}
ul.pli h3 {font-weight:normal;height:32px;line-height:32px;}
li span.plistimg {
border:1px solid #e0e0e0;
display:block;

height:150px;
 width:200px;
text-align:center;
overflow:hidden;
margin-left:auto;
margin-right:auto;
text-indent:0px;
padding:0px;
}
.pli li dd,.pli li dt {
  	text-indent:10px;
}
.pli li dl {width:200px;
border:1px solid #e0e0e0;
border-top:0px;
margin-left:auto;
margin-right:auto;
height:110px;
margin-top:0px;} 
 

ul.pli li h3 {
color:#900;
font-size:14px;
margin:0;
padding:0;
}

ul.pli li {
float:left;
width:25%;
height:275px;
margin-top:15px;
overflow:hidden;
}

a.imglink {
padding:0px;margin:0px;}
.pli .imglink img {width:200px;
height:150px;} 

.plistright {
color:#666;
display:block;
 margin:0;
overflow:hidden;
padding:0;
width:90%;
margin-left:auto;
margin-right:auto;
 }

.plistright a.courl {
border-bottom:2px solid #fff;
color:#333;
font-size:12px;
padding-bottom:2px;
text-decoration:underline;
}

.plistright strong {
color:#175588;
font-weight:400;
}

.plimg {
height:120px;
width:150px;
}

.pright .box {
border:0;
font-size:12px;
margin-bottom:10px;
}

#infoa {
border:0 solid #ccc;
display:block;
float:left;
width:339px;
}

#infor {
border:1px solid #e0e0e0;
height:160px;
}


#comenu div {
float:right;
text-align:right;
width:450px;
}

#comenu div a {
background-color:#e10000;
border:1px solid #fff;
color:#fff;
display:block;
float:right;
height:22px;
margin-left:3px;
text-align:center;
width:68px;
}

#comenu div a:hover {
background-color:#85B400;
}

input.loginsubmit {
background-color:#85B400;
border:0;
color:#fff;
font-weight:700;
height:49px;
width:49px;
}

.pright {
float:right;
margin-left:10px;
overflow:hidden;
width:170px;
}

.pright ul li {
overflow:hidden;
width:160px;
}

td.ppic {
border:1px solid #FCE398;
overflow:hidden;
text-align:center;
width:350px;
}

td.ppic img {
border:1px solid #e0e0e0;
clear:both;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:10px;
width:300px;
}

 
 

.pleft {
line-height:200%;
}

.indexlinks .boxcontent {
margin-left:auto;
margin-right:auto;
width:98%;
}

.indexlinks .content {
margin:5px;
width:98%;
}

.indextopproduct ul li {
height:23px;
line-height:23px;
}

#productlist {
margin-left:auto;
margin-right:auto;
}

ul#productlist li {
float:left;
width:20%;
}

ul#cl1list li {
float:left;
height:26px;
overflow:hidden;
width:49%;
}



#dirlist li,#slist li {
border-bottom:1px dashed #ccc;
clear:none;
color:#333;
 
height:auto;
line-height:200%;
margin-top:15px;
padding-bottom:5px;
 
margin-left:5px;
}
#slist li dd {
 clear:none;

overflow:hidden;
 word-break:normal;
 word-wrap:break-word;
 }
 #dirlist dd a,#slist dd a {
	font-size:10px;
	color:#666;
	font-family:  Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
#dirlist li:hover a,#slist li:hover a {
color:#e10000;}
#dirlist dt a,#slist dt a {
color:#103689;
font-size:16px;
 }

#slist strong {
display:block;
}

#dirlist li a b,#slist li a b {
clear:both;
color:dotted;
display:block;
text-decoration:underline;
}

 
div.listtopintro {
border-bottom:1px solid #e0e0e0;
color:#666;
font-size:12px;
height:30px;
line-height:30px;
}

#b {
clear:both;
color:#999;
display:block;
margin-top:10px;
text-align:center;
}

.bottom,#b {
	border-color:#333 #e0e0e0 #e0e0e0;
	border-style:solid;
	border-width:2px 0 0;
	clear:both;
	color:#999;
	font-size:12px;
	
	height:auto;
	margin-top:10px;
	overflow:hidden;
	padding-top:3px;
	text-indent:0;
	font-family: Arial, Helvetica, sans-serif;
		font-family: "宋体";

}

li.yellowbg {
border:1px solid #f93;
}

.itextinput {
height:20px;
width:80px;
}

#mainmenu ul li {
color:#333;
display:block;
float:left;
font-size:14px;
font-weight:700;
height:24px;
line-height:24px;
margin-left:7px;
text-align:center;
width:90px;
}

#mainmenu ul li:hover {
border-color:#e0e0e0;
border-style:solid solid none;
border-width:1px;
}

#mainmenu ul li#ahome {
width:90px;
}

#mainmenu ul li.cur {
background-color:#F7FBFF;
border-color:#e0e0e0;
border-style:solid solid none;
border-width:1px;
width:90px;
}

#mainmenu ul li a {
color:#333;
display:block;
font-size:14px;
}

.data ul li {
height:25px;
line-height:25px;
margin:0;
padding:0;
}

.data ul {
margin:7px 0 0;
width:100%;
}

#indextoplink {
float:left;
height:60px;
widdth:205px;
}

#indextopad {
float:right;
height:60px;
width:468px;
}

.indextop3 {
height:60px;
margin-bottom:10px;
margin-top:10px;
}

#b,#bottomnav {
padding-top:10px;
}

ul#slist,ul#dirlist {
margin-left:10px;
text-indent:0;
}
.text {
padding-top:10px;
padding-bottom:10px;}
.text,.text * {
background-color:#fff;
color:#333;

line-height:166%;
}

#mainmenu ul.ch li {
width:63px;
}

.chcat ul li {
float:left;
height:24px;
width:19%;
}

#nav-cat {
background-color:#FFF;
border:1px solid #333;
float:left;
margin:0;
width:198px;
}

#nav-cat strong {
background-color:#333;
color:#fff;
display:block;
height:26px;
line-height:26px;
text-indent:6px;
}

#nav-cat ul {
margin:0;
padding:0;
width:198px;
}


#nav-cat ul.level2,#nav-cat ul.level3,#nav-cat ul.level4,#nav-cat ul.level5,#nav-cat ul.level6 {
background-color:#fff;
border:1px solid #D3D3D3;
}

#nav-cat li {
background-image:url(ar.gif);
background-position:95% 50%;
background-repeat:no-repeat;
border-bottom-color:#e0e0e0;
border-bottom-style:solid;
border-bottom-width:1px;
list-style:none;
margin:0;
position:relative;
}

#nav-cat li:hover {
z-index:1000;
}

#nav-cat li a:hover {
background-color:#fff;
border-left-color:#83ABC6;
border-left-style:solid;
border-left-width:1px;
color:#191992;
}

#nav-cat li a {
display:block;
height:24px;
line-height:24px;
overflow:hidden;
text-decoration:none;
text-indent:8px;
text-overflow:ellipsis;
white-space:nowrap;
width:170px;
word-break:keep-all;
}

#nav-cat li ul a {
background-image:none;
height:23px;
line-height:23px;
}

#nav-cat ul ul {
display:none;
left:198px;
position:absolute;
top:0;
}

#nav-cat li ul li {
background-image:none;
}

#nav-cat ul.level1 li.submenu:hover ul.level2,#nav-cat ul.level2 li.submenu:hover ul.level3,#nav-cat ul.level3 li.submenu:hover ul.level4,#nav-cat ul.level4 li.submenu:hover ul.level5,#nav-cat ul.level5 li.submenu:hover ul.level6 {
border:1px solid #83ABC6;
display:block;
width:220px;
}

ul.picul li {
color:#999;
float:left;
height:210px;
overflow:hidden;
width:120px;
}

ul.picul li span {
color:#f90;
font-weight:700;
}

.iibox {
background-color:#fff;
border-color:#333 #e0e0e0 #e0e0e0;
border-style:solid;
border-width:2px 1px 1px;
clear:both;
color:#666;
display:block;
line-height:26px;
overflow:hidden;
text-indent:6px;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
}

.citylink {
height:auto;
word-break:normal;
word-wrap:break-word;
}

.ibox strong {
border-bottom:1px solid #ccc;
clear:both;
display:block;
float:none;
width:100%;
}

#bottomnav a {
margin-left:5px;
margin-right:5px;
}

span#cotop {
	clear:both;
	display:block;
	height:auto;
	padding-top:10px;
	padding-left:10px;
	background-image: url(/img/removead.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	height:290px;
}

span#cotop dt {
float:left;
width:350px;
}

span#cotop iframe {
display:block;
float:left;
margin-left:10px;
}
 
.pleft h1 {
 display:block;
font-size:22px;
height:50px;
overflow:hidden;
}

.pleft h2 a {
color:#e10000;
}

.productbox {
clear:none;
float:left;
margin-left:7px;
margin-top:7px;
overflow:hidden;
width:300px;
}

.pages {
height:22px;
margin-top:10px;
overflow:hidden;
padding-bottom:10px;
}

.pages a,.pages span {
border:1px solid #ccc;
display:block;
float:left;
height:20px;
line-height:20px;
margin-left:5px;
padding-left:10px;
padding-right:10px;
width:auto;
}

#indexright .boxtitle strong {
display:block;
float:left;
width:120px;
}

span.more {
background-image:();
display:block;
float:right;
height:20px;
width:40px;
}

#homecat li.bcat {
clear:none;
display:block;
float:left;
height:90px;
margin-left:10px;
text-overflow:none;
white-space:normal;
width:320px;
word-break:none;
word-spacing:3px;
}

#homecat li.bcat:hover {

 }

#homecat li.bcat ol li {
overflow:hidden;
width:40px;
}

#homecat li.catr {
margin-left:10px;
}

#homecat {
height:1100px;
}

.clear {
clear:both;
height:1px;
}

#baidu980 {
margin-left:auto;
margin-right:auto;
width:980px;
}

.sidesubcat ul li {
clear:none;
float:left;
width:20%;
text-indent:5px;
font-size:12px;
height:26px;
line-height:26px;
}

dl#contact dt {
float:left;
width:100px;
 line-height:200%;
font-weight:bold;
font-size:14px;
}

dl#contact dd {
clear:right;
display:block;


line-height:200%;
font-size:14px;
}

dl#pshowdata dt {
float:left;
width:60px;
color:#999;
 font-size:12px;height:26px;
}
dl#pshowdata dd a {font-size:12px;}
dl#pshowdata dd {
float:right;
display:block;
width:420px;
clear:right;
 font-size:12px;
height:26px;
overflow:hidden;
}



.abox {
clear:both;
margin-top:5px;
}

.catleft ul li strong {
border-bottom:1px solid #e0e0e0;
clear:both;
display:block;
height:30px;
line-height:30px;
text-indent:10px;

}
.catleft h3 a {font-size:18px;
font-family:微软雅黑;}

.catleft ul li strong a {
color:#900;
}

.catleft ul li ol li {
clear:none;
float:left;
height:26px;
overflow:hidden;
width:19%;
}

.catleft .bbcat {
border:1px solid #e0e0e0;
 display:block;
margin-top:10px;
height:200px;
 
}
.bli1 {width:49%;float:left;}
.bli0 {width:49%;float:right;}
.bbcat .subcats {
clear:none;
float:left;
margin-top:10px;
width:99%;
}

.bbcat .oll {
display:block;
float:left;
height:150px;
margin-left:10px;
margin-top:10px;
width:100px;
clear:none;

overflow:hidden;
}
.bbcat .oll a {display:block;
color:#999999;width:100px;}
.bbcat .oll img {display:block;border:1px solid #eee;}
.bbcat .olr{
display:block;
float:right;
width:350px;
height:150px;margin-top:5px;
overflow:hidden;
}
.bbcat .olr ol li {width:49%;}
.catleft .hidecat {
display:none;
}
.catleft {margin-top:3px;}
a.keylink {
color:#900;
text-decoration:underline;
}

.newsli {
border-bottom:1px dotted #999;
height:28px;
line-height:28px;
}

.newsli a {
float:left;
margin-left:10px;
overflow:hidden;
width:300px;
}

.newsli span.coname {
float:left;
margin-left:10px;
width:200px;
}

.newsli span.date {
color:#090;
float:right;
font-size:10px;
padding-right:10px;
}

 



.boxtitle {
background-color:#fff;
background-repeat:no-repeat;
border-bottom:1px solid #e0e0e0;
clear:both;
color:#000;
display:block;
height:38px;
line-height:38px;
margin:0;
overflow:hidden;
padding:0 0 0 20px;
text-indent:0;
text-overflow:ellipsis;
white-space:nowrap;
word-break:keep-all;
font-size:18px;
color:#666;
font-weight:normal;
}
h1.boxtitle {
font-size:20px;
background-color:#fff;
height:50px;
line-height:50px;background-image:url();
color:#e10000;
}

#indexbody #logo {
float:left;
margin-top:6px;
overflow:hidden;
text-indent:0;
width:450px;
}

#indexbody #logo strong {
margin-top:42px;
text-indent:10px;
}

#indexbody #logo a {
background-image:url(logo.gif);
height:60px;
width:360px;
}

.subcattable {
clear:both;
margin-left:auto;
margin-right:auto;
}

ul.subcattable li {
background-color:#fff;
float:left;
margin:0;
overflow:hidden;
text-indent:5px;
width:122px;
}

.f_l {
clear:none;
float:left;
}.f_r {
clear:none;
float:right;
}

em {
color:#E10000;
font-style:normal;
font-variant:normal;
}

.indexcitys .boxcontent {
margin-left:auto;
margin-right:auto;
width:97%;
line-height:26px;
}

.indexcitys .boxcontent a {
color:#333;
margin-right:4px;
}

.indexcitys .boxcontent strong a {
color:#E10000;
font-weight:400;
}

.pimg {
border:1px solid #eee;
}

 .pimg img {
border:1px solid #eee;
margin:5px;
MAX-WIDTH: 100%!important;HEIGHT: auto!important;width:expression(this.width > 280 ? "280px" : this.width)!important;

}

.pdata {
margin-left:10px;
width:500px;
float:left;
font-size:12px;

}

.pdata dl dt {
color:#666;
display:block;
float:left;
width:60px;
}

.pdata dl dd {
float:left;
height:21px;
margin:0;
overflow:hidden;
width:300px;
}

.pdata dl dd h2 {
font-size:12px;
margin:0;
padding:0;
}

.relacat .boxcontent a {
margin-right:10px;
}

.rightad {
height:auto;
margin-top:5px;
overflow:hidden;
text-indent:5px;
}

.newgg {
border-bottom:1px solid #e0e0e0;
height:200px;
margin-bottom:10px;
overflow:hidden;
}

span.linksmore {
display:block;
float:right;
width:160px;
}

.buydata dt {
float:left;
width:80px;
}

.scroller {
border:0 solid #ddd;
}

.scroller .block {
overflow:hidden;
}

.scroller .guide p {
color:#fff;
cursor:pointer;
display:inline;
float:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:400;
line-height:16px;
margin:0 0 0 5px;
padding:0 6px;
}

.scroller .guide .now {
background:#e10000;
}

.ad {
font-size:10px;
margin:0 auto;
width:414px;
}

.box ul.datasort li {
clear:none;
float:left;
height:24px;
line-height:24px;
width:220px;
}

.box ul.sort li {
clear:none;
float:left;
height:24px;
line-height:24px;
width:110px;
}

.box ul.datasort {
border:1px solid #F1F6FA;
border-bottom:0;
clear:both;
height:150px;
overflow:hidden;
text-indent:5px;
}

.box ul.sort {
border:1px solid #F1F6FA;
clear:both;
display:block;
height:150px;
overflow:hidden;
text-indent:5px;
}

.citypc div {
clear:both;
height:28px;
line-height:29px;
overflow:hidden;
text-indent:5px;
}

div.bbbb {
background-color:#eee;
}

.citypc div dt {
float:left;
margin:0;
padding:0;
width:100px;
}

.citypc div dd {
float:left;
margin:0;
padding:0;
width:70px;
}

.plides li {
border-bottom:1px dotted #ccc;
color:#999;
height:110px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
width:98%;
}

.plides li dt,.plides li dd {
float:left;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
width:450px;
word-break:keep-all;
}

.plides li dd.plistimg {
clear:none;
float:left;
height:100px;
 width:165px;
}

.tb1 {
border-top:1px dotted #ccc;
clear:both;
}

.tabhead {
background-color:#e10000;
color:#fff;
font-size:16px;
font-weight:700;
height:30px;
line-height:30px;
margin-left:10px;
text-align:center;
width:90px;
}

.productcontent {
border:1px solid #eee;
margin-left:auto;
margin-right:auto;
font-size:14px;
 }

.pindexcat ol {
border:0;
clear:both;
margin:0;
padding:0;
}

.indexcitys {
color:#C00;
margin-bottom:10px;
margin-top:0px;
overflow:hidden;
}

.indexcitys dl dd {
height:26px;
}

.indexcitys dl dt {
float:left;
height:20px;
width:50px;
}

.indexcitys em {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}

ul.companylist li:hover a{color:#e10000;}
ul.companylist li .title {
clear:both;
overflow:hidden;
height:35px; }
ul.companylist li .f_r {width:20%;display:block;
clear:none;}

ul.companylist li .f_l {width:76%;display:block;
overflow:hidden;
clear:none;}

#morecat{display:none;}
ul.companylist li {
margin:0px;
padding:0px;
height:100px;
clear:both;border-top:1px solid #eee;
padding-top:10px;
margin-top:10px;

}
ul.companylist {} 
ul.companylist li em {font-size:10px;color:#666666;}
ul.companylist .title a{color:#E10000;}
ul.companylist li h4  {
color:#1E50A2;
font-size:16px;
height:30px;
line-height:30px;
width:350px;;
overflow:hidden;
font-family:微软雅黑;
clear:none;
}
 
ul.companylist li:hover {background-color:#efefef;
padding-left:10px;}
.alert1 {
background-color:#F9F8E3;
background-image:url(http://www.11467.com/css/alert1.gif);
background-position:left center;
background-repeat:no-repeat;
border:1px solid #EFDE98;
color:#F60;
height:28px;
margin-top:10px;
}
.alert {color:#e10000;font-weight:bold}
.alertbox {color:#990000;
background-color:#fff6ef;
border:1px solid #edd9c8;}

.b_t {
border-top:1px solid #e5e5e5;
}

img,a img,#indexproduct li img {
border:0;
}

.indexform table,#topleft ul {
width:200px;
}

#indexpcat ul li a,#hotcatletter,#hotcatletter a,#top a,#toplogin a,.pright ul li a,#b a,span.linksmore a {
color:#666;
}

#indexpcat ul li ol,form,#main ul,ul.pli,ol,.pcontent table td p {
margin:0;
padding:0;
}

#indexright ul,.scroller .block a,.scroller .flat a {
display:block;
}

.indexbox #updated,.indexweb #new,.indextopproduct ul,#reviewlist ul,#nav-cat li li {
margin:0;
}

a.reg img,.topp ul li a {
clear:both;
display:block;
}

strong img,.bigcattitle img,#subl img,.indexbox #new,.indexweb #hot,.lhelp img,#reviewlist ul li img {
margin-right:6px;
}

.indexweb,#allcat,li.cat,#main,#lmain,#nav,#indextop,#indextop2,#b,#indexsearch,#subl,#reviewform,#icat,#icats,.catleft ol {
clear:both;
}

#indexcity table,.help div,.lhelp div,.citylink div {
margin:5px;
}

#indexright .huangye,.citysidebox .ibox ul li {
height:auto;
}

.title a,#reviewlist ul li span.gbtitle,.indexlinks .content span a:visited,#nav-cat span,ul.picul li a {
font-weight:700;
}

#details img,#details a,.ibox img {
display:inline;
}

#details #intro,#indexloginform .content {
margin:10px;
}

#list ul li,#lmain ul li,ol li {
background-position:left center;
background-repeat:no-repeat;
line-height:27px;
margin-left:3px;
overflow:hidden;
padding-left:0;
text-indent:16px;
}

a#addbuy,#login table td a,.indexlinks .content span a:hover {
color:red;
}

#partenters,#indexbody .top {
height:80px;
}

#il span,#il a,.indexlinks dt,.bdgg {
text-indent:0;
}

.indexlinks div,.indexlinks ul,.chcat {
clear:both;
width:100%;
}

#nav,.t0 {
margin-top:0;
}

.cityindex,dd h2 {
font-size:12px;
}

 

.scroller .guide,.scroller .flat {
position:absolute;
}



.div2{top:0px;z-index:999;position:fixed;_position:absolute;_top:expression(documentElement.scrollTop + 0 + "px");_margin-top:250px;
 float:right;
margin-left:10px;
}
a.cur {color:#e10000;}

.top #logo  h1 {
 float:left;
font-size:24px;
overflow:hidden;
width:500px;
clear:none;
margin-top:5px;
}
.otherproduct ul li {height:150px;float:left;clear:none;width:16%;text-align:center;
margin-top:10px;overflow:hidden;

text-align:center;}
.otherproduct ul li img {border:1px solid #eee;width:140px;height:90px;}
body#indexbody {font-size:12px;
font-family:"宋体";}


#erweima{display:none;position:absolute;text-align:center;line-height:200%;border:1px solid #eee;background-color:#fff;padding:10px;
left:550px;top:30px;}
#erweimadiv a {
	display:block;
	background-image: url(../../shop/images/mobile_phone.png);
	background-repeat: no-repeat;
	background-position: left center;
	display:block;
	float:left;
text-indent:25px;
	margin-top:20px;
 }
#indexloginform .boxcontent{width:90%;
line-height:22px; }
.indextopproduct .boxcontent ul li {height:27px;}