@font-face {
    font-family: 'helveticaneuemedium_2';
    src: url('../fonts/helveticaneuemedium_2.eot');
    src: url('../fonts/helveticaneuemedium_2.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuemedium_2.woff2') format('woff2'),
         url('../fonts/helveticaneuemedium_2.woff') format('woff'),
         url('../fonts/helveticaneuemedium_2.ttf') format('truetype'),
         url('../fonts/helveticaneuemedium_2.svg#helveticaneuemedium_2') format('svg');
}
@font-face {
    font-family: 'helveticaneuelight_2';
    src: url('../fonts/helveticaneuelight_2.eot');
    src: url('../fonts/helveticaneuelight_2.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuelight_2.woff2') format('woff2'),
         url('../fonts/helveticaneuelight_2.woff') format('woff'),
         url('../fonts/helveticaneuelight_2.ttf') format('truetype'),
         url('../fonts/helveticaneuelight_2.svg#helveticaneuelight_2') format('svg');
}
@font-face {
    font-family: 'helveticaneuebold_a';
    src: url('../fonts/helveticaneuebold_a.eot');
    src: url('../fonts/helveticaneuebold_a.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuebold_a.woff2') format('woff2'),
         url('../fonts/helveticaneuebold_a.woff') format('woff'),
         url('../fonts/helveticaneuebold_a.ttf') format('truetype'),
         url('../fonts/helveticaneuebold_a.svg#helveticaneuebold_a') format('svg');
}
@font-face {
    font-family: 'helveticaneue_4';
    src: url('../fonts/helveticaneue_4.eot');
    src: url('../fonts/helveticaneue_4.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue_4.woff2') format('woff2'),
         url('../fonts/helveticaneue_4.woff') format('woff'),
         url('../fonts/helveticaneue_4.ttf') format('truetype'),
         url('../fonts/helveticaneue_4.svg#helveticaneue_4') format('svg');
}
