﻿*{ margin:0; padding:0; }
body{ width:100%; background-color:#fff; color:#444; font:12px/1.5 'Malgun Gothic',Dotum,AppleGothic,sans-serif; }
li{ list-style:none; }
fieldset, img{ border:none; }
address, em{ font-style:normal; }
body, h1, h2, h3, h4, h5, dl, dt, dd, th, td, p, form, fieldset, legend, input, div{ font-size:12px; color:#444; }
input, textarea, select{ font-family:dotum; font-size:1.0em; }
img, input, select, textarea{ vertical-align:middle; }
select{ height:20px; }
hr, legend, dfn { display:none; }
strong{ letter-spacing:-1px; }
a:link, a:visited, a:active { color:#585858; text-decoration:none; }
a:hover { color:#444; text-decoration:underline; }
h2 a:link, h2 a:visited, h2 a:active, h2 a:hover{ color:#444; text-decoration:none; }
h3 a:link, h3 a:visited, h3 a:active, h3 a:hover { color:#fbc257; }

h1{ position:absolute; top:9px; }
h1 a{ display:block; width:129px; height:42px; background:url('/plaync_v2/logo.gif') no-repeat; text-indent:-9999px; overflow:hidden; }
ol.block_navi { position:absolute; z-index:5; }
ol.block_navi li { float:left; display:block; margin:0 1px 0 0; width:14px; height:18px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -286px -572px; text-indent:-10000px; cursor:pointer; } ol.block_navi li.on { background-position:-242px -572px; }
ol.block_navi li.off { background-position:-286px -572px; }
#wrap_content { width:100%; background:url('/plaync_v2/bg_body_v2.gif') repeat-x left top; position:relative; }
#wrap_content .pc { position:relative; width:100%; z-index:59}
#wrap_content .mobile { position:relative; width:986px; margin:0 auto;  -webkit-background-size:2048px auto; }
#wrap_top { height:565px; text-align:left; } /* 2013-06-26 height 수정 */
#wrap_top dl { margin:0; padding:95px 0 0 0;  height:246px; }
#wrap_top dt, #wrap_top dd { margin:0 0 6px 0; padding:0; }
#wrap_top dd.main_title { margin:0 0 10px 0; }
#wrap_top dd img { vertical-align:bottom; }
#wrap_top dd.thumb { position:absolute; left:0; top:238px; }
#wrap_top dd.thumb img { vertical-align:top; }
#wrap_top dd.thumb span { display:block; margin-top:3px; width:72px; text-align:center; font-size:11px; letter-spacing:-1px; }
#wrap_top dd.thumb a { float:left; display:inline; cursor:pointer; text-decoration:none; }
#wrap_top dd.thumb a.gameStart { margin: 0 25px 0 0; }
#wrap_top dd.thumb a.gameStart img { border:0; }
#wrap_top dd.thumb a.startBtn { width: 115px;  height: 41px;  margin-left: 0; }
#wrap_top dd.thumb a.startBtn img { border:0; }
#wrap_top dd.thumb a.homeBtn { width: 104px;  height: 41px;  margin-left: 1px;  background: url('/plaync_v2/btn_theme.png') no-repeat 0 -82px;  text-indent: -99999px;  overflow: hidden; }
#wrap_top dd.thumb a.themeBtn { margin-left: 2px; }
#wrap_top dd.thumb a.ncoin {
	height: 41px;
	margin-left: 2px;
	text-indent: -9999px;
	font-size: 0;
	background-image: url('/plaync_v2/btn_theme.png');
	background-repeat: no-repeat;
}
#wrap_top dd.thumb a.ncoin {
	width: 87px;
	background-position: 0 0;
}
#wrap_top dd.thumb a.media {
	margin-left:7px;
}
#wrap_top dd.thumb a.nshop { margin-left: 2px;}
.homeBtn + .media,
.nshop + .media,
.ncoin + .media {
	margin-left: 14px !important;
}

#wrap_top dd .btn_facebook { margin-left:8px; }
#wrap_top dd.subcopy {  position:relative;  }
#wrap_top dd.subcopy img {  float:left;  }
#wrap_top .sns { position:absolute; display:inline; }
#wrap_top .sns a { vertical-align:bottom; float:left; display:block; width:16px; height:16px; text-indent:-9999px; font-size:0; background:url('/plaync_v2/bg_icon_160707.png') no-repeat left top; }
#wrap_top .sns .facebook { margin:0 2px 0 0; background-position:left top; }
#wrap_top .sns .twitter { background-position: -100px top; }
#wrap_top ul { position:relative; }
#wrap_top ul li { float:left; display:inline; position:relative; padding:0 0 22px 26px; }
#wrap_top ul li.left { padding-left:0; }
#wrap_top ul li.left span.more { position:absolute; right:-7px; top:-6px; display:block; width:21px; height:21px; background:url('/plaync_v2/first_icon.gif') no-repeat left top; }
#wrap_top ul li img { display:block; vertical-align:bottom; }
#wrap_theme { width: 550px; position: relative; }




#expired { position:absolute;  top:300px;  left:677px;  display:none;  width:273px;  height:17px;  color:#fff;  font-size:11px;  padding:1px 0 0 20px;  background:url('/plaync_v2/theme/expired_theme.png') top left no-repeat; }

/* gnb */
#wrap_gnb { position:absolute; left:0; top:0; width:100%; z-index:998; }
#div_gnb { position:relative; margin:0 auto; width:986px; height:50px; }
.main_gnb { position:absolute; right:0; top:0; }
.main_gnb a { position:relative; float:left; display:block; cursor:pointer; text-indent:-9999px; font-size:0; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat left top; }
.main_gnb .left { float:left; display:block; width:8px; height:33px; background:url('/plaync_v2/bg_gnb_left.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb_left.png"); }
.main_gnb .right { float:left; display:block; width:7px; height:33px; background:url('/plaync_v2/bg_gnb_right.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb_right.png"); }
.main_gnb .gnb24hz { width:45px; height:33px; background-position:left top; }
.main_gnb .gnbnctalk { width:45px; height:33px; background-position:-45px top; }
.main_gnb .gnbnshop { width:34px; height:33px; background-position:-90px top; }
.main_gnb .gnbnlounge { width:53px; height:33px; background-position:-124px top; }
.main_gnb .gnbcscenter { width:54px; height:33px; background-position:-177px top; }
.main_gnb .gnbsecurity { width:54px; height:33px; background-position:-231px top; }
.main_gnb .gnbutils { position:relative; float:left; display:block; width:57px; height:33px; text-indent:-9999px; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat -285px top; }
.main_gnb .gnbutils:hover, .main_gnb .open { background-position:-180px -33px; }
.main_gnb #gnbloadwrap2 { float:left; display:block; height:33px; }
.main_gnb .login_on { padding-left:1px; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat -251px -200px; }
.main_gnb #gnbUserName { float:left; display:block; height:22px; padding:11px 15px 0 10px; font:normal 11px/normal dotum; text-indent:0; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat right -100px; }
.main_gnb #gnbUserName strong { }
.main_gnb #gnbUserName .new { padding-left:15px; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat left -250px; }
.main_gnb .gnbjoin { width:50px; height:33px; background-position:-342px top; }
.main_gnb .gnblogin { width:51px; height:33px; background-position:-395px top; }
.main_gnb .gnblogout { width:62px; height:33px; background-position:right top; }
.main_gnb .on { background-position:-251px -233px; }
.main_gnb .on #gnbUserName { background-position:right -133px; }
.main_gnb .on .gnblogout { background-position:right -33px; }
.main_gnb .on .right { background:url('/plaync_v2/bg_gnb_right_on.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb_right_on.png"); }
.main_gnb #div_gnbMorelist { display:none; position:absolute; left:0; top:29px; width:90px; height:99px; }
.main_gnb #div_gnbMorelist div { display:block; padding:11px 0 0 10px; width:86px; height:90px; background:url('/plaync_v2/bg_gnb_box.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb_box.png"); }
.main_gnb #div_gnbMorelist a { clear:both; position:relative; display:block; width:78px; font:normal 11px/16px dotum; color:#444; letter-spacing:-1px; text-indent:0; background:none; }
.main_gnb #div_gnbMorelist a.gnball { margin:4px 0 0 0; }
.main_gnb #div_myLayer { display:none; position:absolute; right:0; top:29px; z-index:100; }
.main_gnb .type1 { width:200px; height:40px; }
.main_gnb .type2 { width:241px; height:106px; }
.main_gnb .type3 { width:291px; height:122px; }
.main_gnb .type4 { width:261px; height:65px; }
.main_gnb .type2 a.btn { position:absolute; left:86px; top:71px; display:block; width:69px; height:16px; font-size:0; text-indent:-9999px; background-image:none; }
.main_gnb .type3 a.btn { position:absolute; left:96px; top:87px; display:block; width:100px; height:16px; font-size:0; text-indent:-9999px; background-image:none; }
.main_gnb .type5 a.btn { position:absolute; left:90px; top:41px; display:block; width:59px; height:16px; font-size:0; text-indent:-9999px; background-image:none; }
.main_gnb #div_myLayer span { float:left; display:block; text-indent:0; font-size:11px; background:none; }
.main_gnb #div_myLayer span a { position:relative; display:block; text-indent:0; font-weight:bold; font-size:11px; color:#444; background:none; }
.main_gnb #div_myLayer span a.on { padding-right:10px; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat right -196px; }
.main_gnb #div_myLayer #m_friend { width:43px; height:25px; margin-top:4px; padding:9px 0 0 13px; }
.main_gnb #div_myLayer #m_message { width:43px; height:25px; margin-top:4px; padding:9px 0 0 11px; }
.main_gnb #div_myLayer #m_ncoin { width:106px; height:26px; margin:5px 5px 0 0; padding:8px 0 0 5px; }
.main_gnb #div_myLayer #m_ncoin a { font-weight:normal; }
.main_gnb #div_myLayer .ncoin { padding-left:25px; color:#666; font-size:12px; font-family:?‹ì?; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat 5px -99px; }
.main_gnb #div_myLayer .ncoin_off { padding-left:20px; color:#938f8d; background:url('/plaync_v2/bg_gnb_v2.gif?201204120216') no-repeat 10px -141px; }
.main_gnb #div_myLayer .btn_ncoin { width:50px; height:16px; margin:13px 0 0 0; font-size:0; text-indent:-9999px; background-image:none; }
.main_gnb #div_myLayer p { clear:both; display:block; padding-top:12px; font:normal 11px/14px '?‹ì?',dotum; letter-spacing:-1px; text-align:center; }
.main_gnb .type1 div { display:block; width:180px; height:40px; background:url('/plaync_v2/bg_gnb_layer_v3.png') no-repeat right top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb_layer_v3.png"); }
.main_gnb .type2 div { display:block; width:241px; height:106px; background:url('/plaync_v2/bg_gnb1.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb1.png"); }
.main_gnb .type3 div { display:block; width:291px; height:122px; background:url('/plaync_v2/bg_gnb2.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb2.png"); }
.main_gnb .type4 div { display:block; width:261px; height:65px; background:url('/plaync_v2/bg_gnb3.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb3.png"); }
.main_gnb .type5 div { display:block; width:241px; height:76px; background:url('/plaync_v2/bg_gnb4.png') no-repeat left top;  _background:none;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="/plaync_v2/bg_gnb4.png"); }
.main_gnb .type5 p { padding-top:20px !important; }

/* Game Chain (#wrap_top > #div_game) */
#div_games {  width:1150px;  height:140px;  position:absolute;  top:359px;  left: 0; }

#games li { float: left;  padding:0px !important; }
#games .box { width: 100px;  height: 125px;  overflow: hidden;  position: relative; }
#games .box .thumb { width: 94px;  position: absolute;  bottom: 0px; }
#games .name { width: 81px;  height: 31px;  background-position: 50% 0%; }
#games .over { background-position: 50% -31px; }
#wrap_top #game_visual { position:absolute; }
#wrap_promotion { position:absolute; right:0; top:354px;  width:274px; height:130px;  z-index:60}
#wrap_promotion div { position:absolute; left:0; top:0; }
#wrap_promotion p.list_promotion { width:274px; height:93px; padding:37px 0 0 0; background:url('/plaync_v2/bg_event_v2.png') no-repeat left top; }
#wrap_promotion p.list_promotion a{ padding-right:96px; letter-spacing:-1px; text-align:right; }
#wrap_promotion a { display:block; font-size:11px; outline:0 none; selector-dummy:expression(this.hideFocus=true); }
#wrap_promotion .open { display:block; }
#wrap_promotion .close { display:none; }
#wrap_promotion .block_navi { right:92px; top:90px; }
#wrap_promotion .block_navi li {  float: left;  display: block;  margin: 0pt 1px 0pt 0pt;  width: 21px;  height: 23px;  background: url('/plaync_v2/ic_navi_promotion_v2.png') no-repeat transparent; _background:none;  text-indent: -10000px;  cursor: pointer;  }
#wrap_promotion .block_navi li.num0 {  background-position: 0 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num1_off.png')}
#wrap_promotion .block_navi li.num1 {  background-position: -22px 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num2_off.png')}
#wrap_promotion .block_navi li.num2 {  background-position: -45px 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num3_off.png')}
#wrap_promotion .block_navi li.num3 {  background-position: -66px 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num4_off.png')}
#wrap_promotion .block_navi li.num4 {  background-position: -88px 0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num5_off.png')}
#wrap_promotion .block_navi li.num0_on {  background-position: 0 -23px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num1_on.png')}
#wrap_promotion .block_navi li.num1_on {  background-position: -22px -23px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num2_on.png')}
#wrap_promotion .block_navi li.num2_on {  background-position: -45px -23px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num3_on.png')}
#wrap_promotion .block_navi li.num3_on {  background-position: -66px -23px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num4_on.png')}
#wrap_promotion .block_navi li.num4_on {  background-position: -88px -23px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=1,sizingMethod=scale,src='/plaync_v2/ic_navi_num5_on.png')}
#wrap_promotion .block_navi li a { display:block; width:21px; height:23px; }
#div_middle { position:relative; width:986px;  margin:0 auto;  overflow:hidden;  clear:both; }
#div_inside { float:left; position:relative; margin:30px 0 0 0; height:100px; }
#div_inside h2{ margin-bottom:13px; }
#div_inside h2 a { display:block; width:100px; height:12px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -100px -50px; }
#div_inside div a { float:left; padding-top:10px; width:349px; letter-spacing:-1px; }
#div_inside img { float:left; margin:-10px 14px 0 0; }
#div_inside .close { display:none; }
#div_inside .open { display:block; }
#div_inside .block_navi { left:129px; top:-1px; }
#div_schedule { float:left;  position:relative; /*margin:33px 41px 0 0; */margin:30px 0 0 0; width:288px; height:120px; overflow:hidden; }
#div_schedule h2 { margin-bottom:13px; width:288px; height:12px; font:normal 11px/14px dotum; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -100px -100px; }
#div_schedule h2 span { float:left; visibility:hidden; }
#div_schedule h2 em { float:right; color:#a3a3a3; }
#div_schedule h3 { width:77px; height:72px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -100px; text-align:center; color:#ecd7c2; }
#div_schedule h3  span { display:block; margin-top:15px; font-size:15px; color:#9a7b67; }
#div_schedule ul { position:absolute; left:87px; top:25px; }
#div_schedule ul li a { padding:1px 0 0 5px; }
#div_schedule ul li.bold { width:201px; height:19px; margin-bottom:1px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat right -270px; }
#div_schedule ul li.bold  a { display:block; color:#6c6057; }
#div_schedule .block_navi a { position:absolute; display:block; width:15px; height:23px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -249px -614px; text-indent:-10000px; cursor:pointer; }
#div_schedule .block_navi a.prev { left:5px; top:57px; }
#div_schedule .block_navi a.next { left:57px; top:57px; background-position:right -614px; }
#div_ncfamily { float:left; position:relative; margin:33px 0 0 0; width:289px; height:100px; overflow:hidden; }
#div_ncfamily h2 { height:18px; background:url('/plaync_v2/bg_ncfamily_v2.gif?v=2') no-repeat 0 0; text-indent:-9999px; }
#div_ncfamily ul { overflow:hidden; margin:0; padding:0; list-style:none; }
#div_ncfamily ul li { float:left; margin:4px 0 0 0; background:url('/plaync_v2/bg_ncfamily_v2.gif?v=2') no-repeat 0 0; }
#div_ncfamily ul li a { display:block; width:100%; height:100%; text-indent:-9999px; }
#div_ncfamily ul li.m1 { background-position:0 -22px; width:141px; height:23px; margin-right:20px; }
#div_ncfamily ul li.m2 { background-position:-161px -22px; width:128px; height:23px; }
#div_ncfamily ul li.m3 { background-position:0 -49px; width:141px; height:23px; margin-right:20px; }
#div_ncfamily ul li.m4 { background-position:-161px -49px; width:128px; height:23px; }
#div_ncfamily ul li.m5 { background-position:0 -76px; width:141px; height:23px; margin-right:20px; }
#div_ncfamily ul li.m6 { background-position:-161px -76px; width:128px; height:23px; }
#div_notic { position:relative; width:986px; height:22px; margin:32px auto 0 auto; padding:5px 0 0 0; background-color:#f1f0ec; }
#div_notic a.pcbang { display:block; position:absolute; right:91px; top:6px; padding:0 10px; font-size:11px; height:18px; line-height:18px; color:#444; text-decoration:none; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -206px -547px; }
#div_notic h2 { float:left; display:inline; margin:0 10px 0 13px; }
#div_notic ul { float:left; }
#div_notic ul li.off { display:none; }
#div_notic h2#service { float:right; display:inline; padding:2px 0 0 0; font-weight:normal; font-size:11px; letter-spacing:-1px; text-decoration:underline; }
#div_notic h2.off { background-position:right -248px !important; }
#div_servicedir { position:relative; overflow:hidden; width:969px; min-height: 280px; margin:0 auto; padding:20px 0 15px 15px; background-color:#fbfbfb; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6; }
#div_servicedir h3 { padding:0 0 4px 0; margin-bottom:7px; color:#444; }
#div_servicedir div { float:left; display:inline; margin:0 28px 0 0; width:136px; letter-spacing:-1px; }
#div_servicedir div ul { margin: 0 0 0 0; }
#div_servicedir div ul li { display:block; height:20px; }
#div_servicedir div ul li img{ margin-left:6px; }
#div_servicedir div ul li.group2 { margin-top:8px; }
#div_servicedir div ul li.servicemap { margin-top:138px; letter-spacing:0; }
#div_servicedir div ul li.servicemap a{ padding-right:15px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat right -145px; }

#div_servicedir div.mmo h3{ border-bottom:1px solid #a9dadc; }
#div_servicedir div.mobilegame h3{ border-bottom:1px solid #ecabb4; }
#div_servicedir div.mypage h3{ border-bottom:1px solid #eacfa9; }
#div_servicedir div.mobileweb h3{ border-bottom:1px solid #c7db97; }
#div_servicedir div.mobileapp { position: absolute;  left: 507px;  top: 158px; }
#div_servicedir div.mobileapp h3{ border-bottom:1px solid #c7db97; }
#div_servicedir div.service h3{ border-bottom:1px solid #d4d4d4; }
#div_servicedir div.cs h3{ border-bottom:1px solid #d4d4d4; }
#div_servicedir div.cs { margin:0; }
#div_servicedir div.casual { position: absolute; left: 15px; top: 200px; }
#div_servicedir div.casual h3{ border-bottom:1px solid #a9dadc; }

#div_servicedir div.webgame h3{ border-bottom:1px solid #e3bb82; }
#div_servicedir div.webgame ul li { margin-bottom:4px; height:100%; }
#div_servicedir div.board h3{ border-bottom:1px solid #afcd66; }

#div_footer { clear:both; position:relative; width:970px; margin:0 auto; z-index:65; padding:28px 0 25px 0; }
#div_footer h2 { display:none; }
#div_footer img { margin-left:47px; }
#div_footer dl { position:absolute; right:0; top:28px; font:normal 11px/15px Dotum; letter-spacing:-1px; }
#div_footer dl dt { padding:2px 0 0 9px; width:132px; height:16px; color:#848484; border:1px solid #ddd; cursor:pointer; background:url('/plaync_v2/bg_icon_160707.png') no-repeat right -393px; }
#div_footer dl dt.up { background-position:right -342px; }
#div_footer dl dd { position:absolute; left:0; top:-238px; display:none; width:141px; border:1px solid #ddd; background-color:#fff; }
#div_footer dl dd ul { display:block; width:125px; margin:0 auto; }
#div_footer dl dd ul li { height:15px; display:block; }
#div_footer dl dd ul li.m_type1 { padding:3px 0 0 0; }
#div_footer dl dd ul li.m_type2 { padding-bottom:6px; }
#div_footer dl dd ul li.first { height:18px; margin:0 0 5px 0; padding:3px 0 3px 0; border-bottom:1px solid #ddd; color:#848484; }
#div_footer dl dd ul li.middle,
#div_footer dl dd ul li.last { padding-top:8px; border-top:1px solid #ddd; }
#div_footer dl dd ul li.middle a { color:#474747; }
#div_footer dl dd ul li a { height:15px; display:block; font:normal 11px/15px dotum; letter-spacing:-1px; color:#848484; }
#div_footer dl dd ul li a:hover{ text-decoration:none; background-color:#f1f1f1; }
/* 2012footer */
.footerWrap { clear:both;  position:relative;  width:986px;  margin:0 auto;  padding:57px 0 55px 0;  color:#444; }
.footerWrap a { color:#444}
.footerWrap a:hover { color:#444;  text-decoration:underline; }
.footerWrap a:visited { color:#444;  text-decoration:none; }
.footerWrap .utilmenu { position:relative;  width:100%;  margin:0 0 13px 0;  padding:0 0 6px 0;  list-style-type:none;  border-bottom:1px solid #f3f3f3; }
.footerWrap .utilmenu li { margin:0;  padding:0 12px 0 8px;  list-style-type:none;  display:inline-block;  background:url("/plaync_v2/ic_footer.gif") no-repeat right 4px;  *:display:inline;  *:padding:0 10px 0 10px; }
.footerWrap .utilmenu li.bizinfo { padding-left:0; }
.footerWrap .utilmenu li.grade { position:relative;  cursor:pointer; }
.footerWrap .utilmenu li.pcbang a { position:absolute;  top:-3px;  right:1px;  padding-right:0;  padding-left:13px;  padding-top:2px;  background:url("/plaync_v2/pcroomhomepagebg.gif") no-repeat;  text-indent:-9999px;  width:78px; }
.footerWrap .utilmenu li.gametime a { position:absolute;  top:-3px;  right:1px;  padding-right:0;  padding-left:110px;  padding-top:2px;  background:url("/plaync_v2/gametimebg.gif") no-repeat;  text-indent:-9999px;  width:78px; }
.footerWrap .utilmenu li.last { background-image:none; }
.footerWrap address { position:relative;  width:100%;  height:136px;  background:url("/plaync_v2/footer_plaync.png") no-repeat;  text-indent:-9999px;  font-size: 0; overflow:hidden; }
.footerWrap address a { display:block;  overflow:hidden; }
.footerWrap address .ncsoft { position:absolute;  top:0;  left:0;  width:124px;  height:41px; }
.footerWrap address .ftc { position:absolute;  top:6px;  left:711px;  width:57px;  height:11px; }
.footerWrap address .email { position:absolute;  top:19px;  left:339px;  width:77px;  height:10px; }
.footerWrap address .ncdinos { position:absolute;  top:105px;  left:144px;  width:70px;  height:29px; }
.footerWrap address .gametree { position:absolute;  top:105px;  left:230px;  width:89px;  height:29px; }
.footerWrap address .facebook { position:absolute;  top:113px;  left:355px;  width:16px;  height:16px; }
.footerWrap address .twitter { position:absolute;  top:113px;  left:373px;  width:16px;  height:16px; }
.footerWrap address .youtube { position:absolute;  top:113px;  left:391px;  width:16px;  height:16px; }
.footerWrap address .blog { position:absolute;  top:113px;  left:411px;  width:16px;  height:16px; }
.footerWrap .global_sites { position:absolute;  right:1px;  top:93px;  margin:0;  padding:0;  font:normal 11px/15px Dotum;  letter-spacing:0px;  z-index:10; }
.footerWrap .global_sites dt { width:136px;  height:17px;  margin:0;  padding:3px 0 0 7px;  color:#433838;  -moz-border-radius:2px;  -webkit-border-radius:2px;  border:2px solid #D2CECE;  cursor:pointer;  background:#F6F5F3 url("/plaync_v2/ic_footer.gif") no-repeat right -63px; }
.footerWrap .global_sites dt.up { background-position:right -93px; }
.footerWrap .global_sites dd { position:absolute;  left:0;  bottom:25px;  display:none;  width:145px;  margin:0;  padding:0;  background-color:#f6f5f3;  border:1px solid #D2CECE; }
.footerWrap .global_sites dd ul { display:block;  width:125px;  margin:0 auto;  padding:0; }
.footerWrap .global_sites dd ul li { display:block;  height:17px;  margin:0;  padding:0;  list-style-type:none; }
.footerWrap .global_sites dd ul li.m_type1 { padding:3px 0 0 0; }
.footerWrap .global_sites dd ul li.m_type2 { padding-bottom:6px; }
.footerWrap .global_sites dd ul li.first { margin:0 0 2px 0;  padding:5px 0 2px 0;  color:#433838;  border-bottom:1px solid #ddd; }
.footerWrap .global_sites dd ul li.middle,
.footerWrap .global_sites dd ul li.last { padding-top:8px;  border-top:1px solid #ddd; }
.footerWrap .global_sites dd ul li.middle a { color:#474747; }
.footerWrap .global_sites dd ul li a { display:block;  height:17px;  font:normal 12px/17px Gulim;  color:#433838; }
.footerWrap .global_sites dd ul li a:hover{ text-decoration:none;  background-color:#e9e9e8; }

#movieLayer { position:absolute; left:20px; top:20px; padding:10px; background-color:#000; z-index:1000; }
#movieLayer .btn_close { position:absolute; right:-34px; top:0; width:28px; height:28px; cursor:pointer; background:url('/plaync_v2/btn_close_off2.png') no-repeat ; text-indent:-9999px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/plaync_v2/btn_close_off.png',sizingMethod='crop'); }
#movieLayer .btn_close_on { position:absolute; right:-34px; top:0; width:28px; height:28px; cursor:pointer; background:url('/plaync_v2/btn_close_on.png') no-repeat ; text-indent:-9999px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/plaync_v2/btn_close_on.png',sizingMethod='crop'); }
#movieLayer .list { position:absolute; right:11px; bottom:12px; }
#movieLayer .list .hd { float:left; display:block; width:68px; height:11px; margin-top:4px; line-height:0; background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -220px; text-indent:-9999px; }
#movieLayer .list .hd:hover { background-position:left -231px; }
#movieLayer .list .comment { float:left; display:block; width:43px; height:11px; margin-top:4px; line-height:0; background:url('/plaync_v2/bg_icon_160707.png') no-repeat -68px -220px; text-indent:-9999px; }
#movieLayer .list .comment:hover { background-position:-68px -231px; }
#movieLayer .list .download { position:relative; float:left; display:none; width:105px; height:22px; margin-left:10px; background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -300px; }
#movieLayer .list .on { height:22px; background-position:left -322px; }
#movieLayer .list .download  ul { display:none; position:absolute; left:0; top:22px; width:105px; padding:7px 0 1px 0; background:url('/plaync_v2/bg_icon_160707.png') no-repeat left bottom; }
#movieLayer .list .download  ul li { display:block; height:20px; }
#movieLayer .list .download  ul li a { display:block; width:92px; height:10px; margin-left:5px; color:#6b6465; text-align:right; text-decoration:none; cursor:pointer; }
#movieLayer .list .download  ul li a:hover { color:#fac35a; }
#movieLayer .list .download  ul li a span { display:inline-block; width:51px; font:normal 9px/10px Verdana; }
#movieLayer .list .download  ul li a.HD { background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -350px; }
#movieLayer .list .download  ul li a.iPhone { background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -360px; }
#movieLayer .list .download  ul li a.Android { background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -370px; }
#movieLayer .list .download  ul li a.iPad { background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -380px; }
#movieLayer .list .download  ul li a.PSP { background:url('/plaync_v2/bg_icon_160707.png') no-repeat left -390px; }
#movieLayer .list .download  ul li a.HD:hover { background-position:left -400px; }
#movieLayer .list .download  ul li a.iPhone:hover { background-position:left -410px; }
#movieLayer .list .download  ul li a.Android:hover { background-position:left -420px; }
#movieLayer .list .download  ul li a.iPad:hover { background-position:left -430px; }
#movieLayer .list .download  ul li a.PSP:hover { background-position:left -440px; }
#movieLayer h3 { margin:17px 0 0 8px; font:bold 14px/20px dotum,'?‹ì?'; }

/* login */
#div_login { display:none; position:absolute; z-index:1000; left:50px; top:50px; width:400px; height:385px; background:url("/plaync_v2/bg_login_160707.png") no-repeat left top; }
#div_login h2 { display:none; }
#div_login .btn_close { display:block; position:absolute; right:-13px; top:-13px; width:28px; height:28px; cursor:pointer; background:url("/plaync_v2/btn_close_off.png") no-repeat ; text-indent:-9999px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/plaync_v2/btn_close_off.png",sizingMethod="crop"); }
#div_login .btn_close_on { display:block; position:absolute; right:-13px; top:-13px; width:28px; height:28px; cursor:pointer; background:url("/plaync_v2/btn_close_on.png") no-repeat; text-indent:-9999px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/plaync_v2/btn_close_on.png",sizingMethod="crop"); }
/* ·Î±×ÀÎ Àü */
.wrap_login fieldset { width:228px;  margin:0 auto;  padding:77px 0 0 0;  border:none; overflow:hidden; }
.wrap_login fieldset legend { display:none; }
.wrap_login fieldset #key_security { position:absolute; top:38px; right:20px; height:22px;  font-size:11px;  letter-spacing:-1px;  text-align:right; }
.wrap_login fieldset #key_security a { display:inline-block;  padding:1px 26px 1px 0;  color:#666;  background:url("/plaync_v2/bg_icon_160707.png") no-repeat right -472px; cursor:pointer; }
.wrap_login fieldset #key_security a.off { background-position:right -472px; }
.wrap_login fieldset #key_security a.on { background-position:right -447px; }
.wrap_login dl{ position:relative; float:left; width:223px; z-index:100; }
.wrap_login dl dt{ display:block; float:left; width:223px; height:26px; padding-left:4px; line-height:2.1; background:url("/plaync_v2/bg_icon_160707.png") no-repeat left -500px; text-decoration:none; cursor:pointer; _cursor:hand; }
.wrap_login dl dd, #div_login span{ display:none; }
.wrap_login ul.account{ position:absolute; top:25px; left:0; width:221px; z-index:100; border:1px solid #ffd000; border-top:none; background-color:#e9e4df; }
.wrap_login ul.account li input{ display:none; }
.wrap_login ul li label{ display:block; /*width:156px;*/ height:20px; padding-left:4px; line-height:1.6; cursor:pointer; _cursor:hand; }
.wrap_login ul li label:hover{ background-color:#d6d1cc; }
*+html .wrap_login input#save{ margin:0 0 0 3px; }
* html .wrap_login input#save{ margin:0 -2px; }
.wrap_login fieldset .seveDiv {text-align: right; margin: 0 6px 5px 0;}
.wrap_login label.account_save{ font-size:0.9em; letter-spacing:-1px; color: #625b5c;}
.wrap_login fieldset .login_input { position:relative;  clear:both; height:100px; }
.wrap_login fieldset .login_input input { width:220px;  height:19px;  padding:3px 0 0 3px; border:0 none; }
.wrap_login fieldset .login_input input#id { position:absolute;  top:5px; left:0; ime-mode:inactive; }
.wrap_login fieldset .login_input .user_id { background:#fff url("/plaync_v2/bg_icon_160707.png") no-repeat -195px -683px; }
.wrap_login fieldset .login_input .user_id_game { background:#fff url("/plaync_v2/bg_icon_160707.png") no-repeat -228px -65px; }
.wrap_login fieldset .login_input input#pwd { position:absolute;  top:31px; left:0; }
.wrap_login fieldset .login_input .user_pw { background:#fff url("/plaync_v2/bg_icon_160707.png") no-repeat -250px -82px; }
.wrap_login fieldset .login_input .id_focus, #div_login input.pw_focus{ background-image:none; }
.wrap_login fieldset .login_input .id_blur, #div_login input.pw_blur{ background-image:none; }
.wrap_login fieldset .login_input .submit { position:absolute;  top:61px;  left:0;  margin:0;  padding:0;  width:223px;  height:34px;  text-indent:-999px;  cursor:pointer;  border:none;  background:url("/plaync_v2/bg_icon_160707.png") no-repeat left -705px; }
.wrap_login .member { text-align: right; width:225px;  margin:0 0 0 82px; font-size:11px; letter-spacing:-1px; }
.wrap_login .member li { display:inline;  margin:0;  padding:0; }
.wrap_login .member li.join { padding: 0px 4px 0 20PX; }
.wrap_login .member li.join a { color:#625b5c;  font-weight:bold; }
.wrap_login .member li.find { padding-left:6px;  color:#666;  background:url("/plaync_v2/bg_icon_160707.png") no-repeat -299px -546px; }
.wrap_login .member li.find a { color:#666; }
.wrap_login .member_change { position:absolute; right:20px; bottom:16px; width:100px; height:16px; text-indent:-9999px; font-size:0; }

.wrap_login .facebook_login,
.wrap_login .google_login { display: block; text-indent: -999px; cursor: pointer; border: none; width: 225px; height: 34px; background-image:url("/plaync_v2/bg_icon_160707.png"); background-repeat: no-repeat;}
.wrap_login .facebook_login { margin: 37px auto 0; background-position:  left -749px; }
.wrap_login .google_login { margin: 10px auto 0; background-position:  left -793px; }

/* domain list */
.wrap_login .domainList { position:absolute;  top:168px;  left:86px;  width:160px;  margin:-39px 0 0;  border:1px solid #6F635B;  background-color:#fff;  z-index:90; }
.wrap_login .domainList ul { margin:7px 0;  padding:0;  list-style:none}
.wrap_login .domainList ul li { margin:0;  padding:6px 10px 5px 9px; }
.wrap_login .domainList ul li:hover,
.wrap_login .domainList ul li.on { background-color:#f5f5f5; }
.wrap_login .domainList ul li a { display:block;  line-height:14px;  text-decoration:none;  color:#444; }
/* login layer */
.ly_help { position:absolute;  left: 54px;  top: 49px;  width:163px;  margin-top:7px;  z-index:160; }
.ly_help .close { position:absolute;  right:7px;  top:7px;  display:block;  width:9px;  height:9px;  font-size:0;  line-height:0;  text-indent:-1000em;  background:url("/login_v2/ly_login_plaync.png") right top no-repeat;  overflow:hidden; }
.ly_help .ic_arrow { position:absolute;  display:block;  margin:0 0 0 5px;  z-index:160;  font-size:0;  line-height:0;  text-indent:-1000em;  background:url("/login_v2/ly_login_plaync.png") left top no-repeat;  overflow:hidden; }
.ly_help .content { z-index:150;  position:relative;  margin:1px 0 0;  padding:9px 11px;  background:#fff;  font:11px/16px dotum,'돋움';  color:#666;  border:1px solid #6F635B;  letter-spacing:-1px;  overflow:hidden; }
.ly_help .content strong { color:#d3674b; }
.ly_help .content em { font-style:normal;  color:#d3674b; }
.ly_help .shadow { z-index:50;  position:absolute;  left:3px;  top:3px;  width:100%;  height:100%;  overflow:visible;  background:#e4e4e4; }

#ly_domainError { left: 85px;  top: 61px;  display:; }
#ly_domainError .close { top:13px; }
#ly_domainError .ic_arrow { left:26px;  bottom:-8px;  width:16px;  height:9px;  background-position:-26px 0; }
#ly_domainError span { display: block; }
#ly_domainError em { text-decoration:underline; }


.mobile_footer { display:none; }
/* 2011 Gstar */
.gstar_mobile { display:none; }

@media only screen and (max-device-width: 480px), only screen and (max-device-width: 800px){ 
  .mobile_footer { 
    display:block; 
    width:928px; 
    height:138px; 
    margin:29px auto; 
    text-align:center; 
    text-decoration:none !important; 
    font:46px helvetica; 
    font-weight:bold; 
    -webkit-text-stroke-width:0.02em; 
    line-height:140px; 
    border:1px solid #fff; 
    letter-spacing:-3px; 
    color:#5e7393 !important; 
    -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); 
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); 
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1); 
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(247,247,247)),
      color-stop(0.5, rgb(240,240,240))
    ); 
    background-image: -moz-linear-gradient(
      center top,
      rgb(247,247,247) 50%,
      rgb(240,240,240) 50%
    ); 
  }
  .mobile_footer span { font-size:30px; font-style:normal; vertical-align:top}
}

/* gnb - 120517 */
.main_gnb_v2 { position:absolute; right:0; top:0; }
.main_gnb_v2 .gnbleft { float:left; width:10px; height:33px; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat 0 -43px; }
.main_gnb_v2 .gnbright { float:left; width:10px; height:33px; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat -10px -43px; }
/*.main_gnb_v2 #div_nctop .gnbContainer{ width:160px; }*/

.main_gnb_v2 .gnbmenu { float:left; overflow:hidden; height:33px; background:url("/plaync_v2/bg_gnb_v3.png") repeat-x 0 0; }
.main_gnb_v2 .gnbmenu li { float:left; height:33px; line-height:33px; font-size:11px; }
.main_gnb_v2 .gnbmenu li.cscenter { padding:0 10px 0 0; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat right -76px; }
.main_gnb_v2 .gnbmenu li.security { padding:0 10px 0 10px; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat right -76px; }
.main_gnb_v2 .gnbmenu li.join { padding:0 10px 0 10px; }
.main_gnb_v2 .gnbmenu li.login a { display:block; width:47px; height:33px; vertical-align:middle; text-indent:-9999px; cursor:pointer; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat -30px -43px; }

.main_gnb_v2 .login_on { float:left; display:block; height:33px; line-height:33px; background:url("/plaync_v2/bg_gnb_v3.png") repeat-x 0 0; }
.main_gnb_v2 .login_on #gnbUserName { float:left; display:block; padding:0 1px 0 0; height:33px; line-height:33px; text-decoration:none; }
.main_gnb_v2 .login_on #gnbUserName .profileImg { display:inline-block; margin:3px 5px 0 0; padding:0; width:27px; height:27px; vertical-align:top; background:#cacaca; }
.main_gnb_v2 .login_on #gnbUserName .profileImg img { margin:0; padding:0; width:27px; height:27px; border:0; }
.main_gnb_v2 .login_on .gnblogout { float:left; display:block; width:47px; height:33px; line-height:33px; vertical-align:middle; text-indent:-9999px; cursor:pointer; background:url("/plaync_v2/bg_gnb_v3.png") no-repeat -87px -43px; }
.main_gnb_v2 .login_on .ic_bar { float:left; display:block; width:21px; height:33px; background:url("/plaync_v2/bg_gnb_v3.png") 11px -76px; }

#wrap_top_bg { position: absolute; left:0; width:100%; height: 344px; background-repeat: no-repeat;  background-position: 50% 0; }


/* (s) 2013-06-26 mobile_service */
#mobile_service { width:auto; height:184px; border-bottom: 1px solid #ececec; overflow: hidden; }

.mobile_thumb { float:right; width:288px; }
.mobile_thumb .mobile_game { height:90px; }
.mobile_thumb .mobile_app  { clear:both; margin: 4px 0 0; padding:0; }
.mobile_thumb strong { display:block; height:12px; margin-top: 12px; margin-bottom:14px; font-size:0; line-height:0; text-indent:-999px; overflow:hidden; }
.mobile_thumb .mobile_game strong { background:url('/plaync_v2/bg_mobile_list_v2.png') no-repeat 0px -132px; }
.mobile_thumb ul { display:inline-block; }
.mobile_thumb ul:after { content:''; display:table; clear:both;}
.mobile_thumb li { float:left; width:50px; height:60px; margin-right:7px; }
.mobile_thumb li a { display:block; width:auto; height:100%; background:url('/plaync_v2/bg_mobile_list_v2.png') no-repeat 0 0; text-indent:-999px; overflow:hidden; }
.mobile_thumb li .g_haste     { background-position:   0   0; }
.mobile_thumb li .g_bm        { background-position: -60px 0; }
.mobile_thumb li .a_aion      { background-position:-120px 0; }
.mobile_thumb li .a_ncmsn     { background-position:-246px 0; }
.mobile_thumb li .a_bns       { background-position:-366px 0; }
.mobile_thumb li .a_l1        { background-position:-486px 0; }
.mobile_thumb li .a_buff      { background-position:-546px 0; }
.mobile_thumb li .g_pb630     { background-position:-606px 0; }
.mobile_thumb li .g_wbs       { background-position:-666px 0; }
.mobile_thumb li .a_assist    { background-position:-726px 0; }
.mobile_thumb li .g_ha        { background-position:-786px 0; }
.mobile_thumb li.on .g_haste  { background-position:   0   -70px; }
.mobile_thumb li.on .g_bm     { background-position: -60px -70px; }
.mobile_thumb li.on .a_aion   { background-position:-120px -70px; }
.mobile_thumb li.on .a_ncmsn  { background-position:-246px -70px; }
.mobile_thumb li.on .a_bns    { background-position:-366px -70px; }
.mobile_thumb li.on .a_l1     { background-position:-486px -70px; }
.mobile_thumb li.on .a_buff   { background-position:-546px -70px; }
.mobile_thumb li.on .g_pb630  { background-position:-606px -70px; }
.mobile_thumb li.on .g_wbs    { background-position:-666px -70px; }
.mobile_thumb li.on .a_assist { background-position:-726px -70px; }
.mobile_thumb li.on .g_ha     { background-position:-786px -70px; }

.mobile_desc { float:left; position: relative; width: 683px; height: 185px; overflow: hidden; }
.mobile_desc .desc { overflow:hidden; position:absolute; top: 185px; left: 0; width:683px; height:184px; background: url('/plaync_v2/bg_mobile_desc.png') no-repeat;}
.mobile_desc .app-ncm        { background-position: 0   -16px; }
.mobile_desc .app-lineage    { background-position: 0  -216px; }
.mobile_desc .app-bns        { background-position: 0  -416px; }
.mobile_desc .app-buff       { background-position: 0  -616px; }
.mobile_desc .game-haste     { background-position: 0  -816px; }
.mobile_desc .game-bm        { background-position: 0 -1016px; }
.mobile_desc .game-3p        { background-position: 0 -1216px; }
.mobile_desc .game-pb630     { background-position: 0 -1416px; }
.mobile_desc .game-wbs       { background-position: 0 -1616px; }
.mobile_desc .app-assist     { background-position: 0 -1816px; }
.mobile_desc .app-aion       { background-position: 0 -2016px; }
.mobile_desc .game-ha        { background-position: 0 -2216px; }
.mobile_desc .desc dt,
.mobile_desc .desc dd.desc  { display:block; font-size:0; line-height:0; text-indent:-999px; overflow:hidden; }
.mobile_desc .desc dd .link { position:absolute; left:0; top:0; display:block; width:90%; height:100%; font-size:0; line-height:0; text-indent:-999px; overflow:hidden;  z-index: 99; opacity: 0.5; }
.mobile_desc .desc .mode       { position:absolute; left:0; top:137px; height:25px; background:url('/plaync_v2/bg_mobile_list_v2.png') no-repeat; }
.mobile_desc .desc .mode.item1 { width:122px; background-position: 0 -230px; }
.mobile_desc .desc .mode.item2 { width:100px; background-position: -123px -230px; }
.mobile_desc .desc .mode.item3 { width:102px; background-position: -224px -230px; }
.mobile_desc .desc .mode.item4 { width:102px; background-position: -327px -230px; }
.mobile_desc .desc .mode a,
.mobile_desc .desc .mode strong { position:absolute; display:block; font-size:0; line-height:0; text-indent:-999px; overflow:hidden;  z-index: 99; }
.mobile_desc .desc .mode.item1 .an  { left:87px; top:2px; width:33px; height:21px; }
.mobile_desc .desc .mode.item1 .ios { left:53px; top:2px; width:33px; height:21px; }
.mobile_desc .desc .mode.item2 .an  { left:53px; top:2px; width:45px; height:21px; }
.mobile_desc .desc .mode.item2 .ios { left:53px; top:2px; width:45px; height:21px; }
.mobile_desc .desc .mode.item3 .ios { left:53px; top:2px; width:45px; height:21px; }
.mobile_desc .desc .mode.item4 .pre { left:0; top:0; width:83px; height:26px;}
.mobile_desc .desc .app_link1 { display:block; position:relative; left:0; top:0; width:90%; height:126px; opacity: 0.5;  z-index: 99;}
.mobile_desc .desc .app_link2 { display:block; position:relative; left:173px; top:0; width:441px; height:56px; opacity: 0.5;  z-index: 99;}

.banner { 
	position: absolute; 
	right: 0; 
	top: 147px;
	width: 147px;
}
.banner img {
	max-width: 147px;
}

.visual-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 986px;
	height: 350px;
}

#welcome_layer { display:none; position:absolute; z-index:1000; left:50px; top:400px; width:400px; height:330px; background:url('/plaync_v2/welcomeBg.png') no-repeat left top; overflow: hidden;}
#welcome_layer .btn_close { 
	width: 13px;
	height: 18px;
	display:block; 
	position:absolute; 
	right:23px; 
	top:22px; 
	cursor:pointer; 
	background:url('/plaync_v2/welcomeClose.png') no-repeat ; 
	text-indent:-9999px; 
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/plaync_v2/btn_close_off.png',sizingMethod='crop'); 
}
#welcome_layer h2 { text-indent: -999px;}
#welcome_layer .subtitle { text-indent: -999px;}

#welcome_layer .btn_confirm {
	width: 115px;
	height: 42px;
	display: inline-block;
	color: #FFF;
	font: 15px "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
	letter-spacing: -0.1em;
	text-align: center;
	cursor: pointer;
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #7b99c1;
	position: absolute;
	top: 210px;
	left: 140px;
}

#welcome_layer2 { display:none; position:absolute; z-index:1000; left:50px; top:400px; width:400px; height:474px; background:url('/plaync_v2/welcomeBg2.png') no-repeat left top; overflow: hidden;}
#welcome_layer2 .btn_close { 
	width: 13px;
	height: 18px;
	display:block; 
	position:absolute; 
	right:23px; 
	top:22px; 
	cursor:pointer; 
	background:url('/plaync_v2/welcomeClose.png') no-repeat ; 
	text-indent:-9999px; 
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/plaync_v2/btn_close_off.png',sizingMethod='crop'); 
}
#welcome_layer2 h2 { text-indent: -999px;}
#welcome_layer2 .subtitle { text-indent: -999px;}

#welcome_layer2 .btn_confirm {
	width: 115px;
	height: 42px;
	display: inline-block;
	color: #FFF;
	font: 15px "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
	letter-spacing: -0.1em;
	text-align: center;
	cursor: pointer;
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #7b99c1;
	position: absolute;
	top: 210px;
	left: 140px;
}
#welcome_layer2 .exist_account {
	width: 330px;
	margin: 270px auto 0 auto;
	background-color: #f5f5f5;
}
#welcome_layer2 .exist_account .account {
	color: #666;
	text-align: center;
}
#welcome_layer2 .exist_account .account strong {
	color: #5b82cb;
}
#welcome_layer2 .exist_account .info {
	margin-top: 18px;
	padding-top: 18px;
	font: 11px "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
	text-align: center;
	color: #999999;
	border-top: 1px solid #e5e5e5;
}
#welcome_layer2 .exist_account .link {
	padding-top: 7px;
	text-align: center;
}
#welcome_layer2 .exist_account .link a {
	font: 11px "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
	color: #676767;
	text-decoration: underline;
}