/**
 * Email Contacts
 */
.selectize-control.contacts .selectize-input [data-value] .email {
  opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
  margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
  content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
  content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
  font-size: 12px;
  display: block;
  opacity: 0.5;
}

/**
 * Rotton Tomatoes Demo
 */
.selectize-control.movies .selectize-dropdown [data-selectable] {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  height: 60px;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 10px 10px 60px;
}
.selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
  border-bottom: 0 none;
}
.selectize-control.movies .selectize-dropdown .by {
  font-size: 11px;
  opacity: 0.8;
}
.selectize-control.movies .selectize-dropdown .by::before {
  content: 'by ';
}
.selectize-control.movies .selectize-dropdown .name {
  font-weight: bold;
  margin-right: 5px;
}
.selectize-control.movies .selectize-dropdown .description {
  font-size: 12px;
  color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors,
.selectize-control.movies .selectize-dropdown .description,
.selectize-control.movies .selectize-dropdown .title {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectize-control.movies .selectize-dropdown .actors {
  font-size: 10px;
  color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors span {
  color: #606060;
}
.selectize-control.movies .selectize-dropdown img {
  height: 60px;
  left: 10px;
  position: absolute;
  border-radius: 3px;
  background: rgba(0,0,0,0.04);
}
.selectize-control.movies .selectize-dropdown .meta {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li span {
  font-weight: bold;
}
.selectize-control.movies::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 50%;
  right: 34px;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 0;
  background: url(../images/loading.gif);
  background-size: 16px 16px;
  opacity: 0;
}
.selectize-control.movies.loading::before {
  opacity: 0.4;
}

/* line 151, ../scss/layout/_components.scss */
.komentar .tag {
  margin: 0 0 15px;
}

/* line 152, ../scss/layout/_components.scss */
.komentar .tag span {
  font: 700 15px/26px "open sans", arial;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 153, ../scss/layout/_components.scss */
.komentar .tag a {
  font: 400 15px/26px "open sans", arial;
  color: #808080;
  margin: 5px 10px 5px 0px;
  display: inline-block;
  padding: 5px 10px;
  background: #f5f5f5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* line 153, ../scss/layout/_components.scss */
.komentar .tag a:hover {
  background: #125ba8;
  color: #fff;
}

/* tanggapan */
/* line 467, ../scss/layout/_components.scss */
.tanggapan {
  padding: 20px 0 10px;
  border-top: 1px solid #ccc;
}
/* line 470, ../scss/layout/_components.scss */
.tanggapan h1.induk-tanggapi {
  font: 15px open sans, arial;
  color: #b8b8b8;
}
/* line 473, ../scss/layout/_components.scss */
.tanggapan h1.induk-tanggapi a {
  color: #125ba8;
}
/* line 477, ../scss/layout/_components.scss */
.tanggapan h2 {
  font: 13px open sans, arial;
  color: #b3b3b3;
}
/* line 480, ../scss/layout/_components.scss */
.tanggapan h2 a {
  color: #151b28;
  text-decoration: underline;
}
/* line 485, ../scss/layout/_components.scss */
.tanggapan .btn-tanggapi {
  width: 107px;
  font: 12px/23px "open sans", arial;
  color: #b3b3b3;
  float: right;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}
/* line 497, ../scss/layout/_components.scss */
.tanggapan .btn-tanggapi span {
  font-size: 22px;
  float: left;
}
/* line 501, ../scss/layout/_components.scss */
.tanggapan .btn-tanggapi:hover {
  color: #125ba8;
  border: 1px solid #125ba8;
}
/* line 506, ../scss/layout/_components.scss */
.tanggapan .trending .list {
  border: none;
}
/* line 508, ../scss/layout/_components.scss */
.tanggapan .trending .list a {
  text-decoration: none;
}
