/**
 *  @Copyright
 *
 *  @package	VCNT for Joomla! 3
 *  @author     Viktor Vogel {@link http://joomla-extensions.kubik-rubik.de/}
 *  @version	3-2 - 2013-12-15
 *  @link       Project Site {@link http://joomla-extensions.kubik-rubik.de/vcnt-visitorcounter}
 *
 *  @license GNU/GPL
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.visitorcounter {
    width: 95%;
    margin: auto;
}

.visitorcounter .floatleft {
    float: left;
}

.visitorcounter .floatright {
    float: right;
}

.visitorcounter .clearboth {
    clear: both;
}

.visitorcounter .center {
    text-align: center;
}

.visitorcounter ul li {
    font-weight: bold;
}

.visitorcounter p {
    clear: both;
    margin-bottom: 6px;
}