@charset "utf-8";

/*YSM_webptt_home_40xres_top*/

#webptt_home_40xres_top_bg {
	width:auto;
	height:40px;
	font-family: Arial,'Microsoft JhengHei';
    font-weight: 900;
	overflow:hidden;
	}
	
#webptt_home_40xres_top_bg a{
	text-decoration:none;
	}	
	
#webptt_home_40xres_top_bg .word1, .word2, .word3, .word4{
	margin:5px 8px 5px 0;
	background:#6FF;
	padding:0 10px;
	font-size:16px;
    font-weight:900;
    line-height:30px;
	float:left;
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;}

#webptt_home_40xres_top_bg .word1{
	background:#e89980;
	color:#FFF;}
	
#webptt_home_40xres_top_bg .word2{
	background:#7fcdb8;
	color:#FFF;}
	
#webptt_home_40xres_top_bg .word3{
	background:#90b0ba;
	color:#FFF;}

#webptt_home_40xres_top_bg .word4{
	background:#e5cb95;
	color:#FFF;}		


/*YSM_webptt_home_40xres_bot*/

#webptt_home_40xres_bot_bg {
	width:90%;
	height:40px;
	font-family: Arial,'Microsoft JhengHei';
    font-weight:900;
	overflow:hidden;
	margin:0 auto;
	}
	
#webptt_home_40xres_bot_bg a{
	text-decoration:none;
	}	
	
#webptt_home_40xres_bot_bg div {
	float:left;
	background:#6FF;
	padding:0 10px;
	margin:5px 8px 5px 0;
	font-size:16px;
    font-weight:900;
    line-height:28px;
	-webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
	background:#e89980;
	color:#FFF;
	border:#f6e5df 1px solid;}
	
	
/* 表格版面:481~768 */
@media (min-width:481px) and (max-width:768px){	
	
#webptt_home_40xres_bot_bg{width:75%;}
	
}

/* 表格版面:769以上 */
@media (min-width:769px) {	
	
#webptt_home_40xres_bot_bg{width:50%;}		
	
}	





		
