body {

	background: url('http://cdn.arenabg.com/share/images/default/black-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

a { color: #f90; }
a:hover { color: #f90; }

/* menu */
.menu > div > a .fa { color: #ff9900 !important; }
.menu > div > a:hover { color: #ff9900 !important; }

/* panels */
.panel-arena { background: #101010 !important; border: 1px solid #202020; -moz-box-shadow: -2px -2px 3px rgba(0,0,0,0.4); -webkit-box-shadow: -2px -2px 3px rgba(0, 0, 0,0.4); box-shadow: -2px -2px 3px rgba(0, 0,0,0.4); }
.panel-arena .panel-heading { color: #eee; padding: 7px 9px !important; font-weight: 600;  letter-spacing: 1px; border-bottom: 1px solid #f90; background: #101010 url('http://cdn.arenabg.com/share/images/default/body-black.png') !important;}
.panel-arena .panel-body { background: #101010 !important; color: #eee; }
.panel-footer { background: #101010 !important; border-color: #202020 !important; }
.panel-arena .panel-footer .pagination { margin: 0px 0px !important; margin-top: 4px !important; }

/* inputs */
input[type=text], input[type=password], input[type=file], input[type=email], textarea, select { background: #303030 !important; border: 1px solid #505050 !important; color: #eee !important; }
input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, input[type=email]:focus, textarea:focus, select:focus { background: #faffbd !important; color: black !important; }

/* tables */
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th { background-color: #050505; }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #090909 !important; }
table { border-color: #202020 !important; }
table td, table th { background: #101010; color: #eee; border-color: #202020 !important; }
table.torrents td.filename u { color: #d9534f; }
table.torrents tbody td.filename a.magnet { color: #d9534f; }
table.torrents tbody td.filename a.download { color: #5cb85c; }
table.torrents td.filename .user-icon a { color: #505050 !important; }

/* rows */
.row .odd { background-color: #202020; border-color: #202020 !important; }
.row .even { background: #101010; color: #eee; border-color: #202020 !important; }

/* pagination */
.pagination>li>a, .pagination>li>span { color: #f90; background-color: #202020; border: 1px solid #303030; }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { background-color: #303030; border-color: #303030; }
.pagination> li > a:hover, .pagination> li > a:focus, .pagination> li > span:hover, .pagination> li > span:focus, .pagination> li.active > a, .pagination> li.active > span { background: #303030; border: 1px solid #303030; color: #f90; }

/* categories */
div.categories span { font-size: 15px; color: #f90; }

/* modals */
.modal-header { border-bottom: 1px solid #f90; background: #202020; color: white; }
.modal-header h4.error { color: #d9534f; }
.modal-body.error { color: #d9534f; }
.modal-body.success { color: #5cb85c; }
.modal-body { background: #303030; color: white; }
.modal-footer { background: #202020; border-color: #f90; }
/* comments */
.comments-item { background: #202020; }
.reply-item { background: #181818; }
.comments-title { border-bottom: 1px solid #303030; }
.form-reply { border-top: 1px solid #404040; }

/* labels */
.label-arena { background: #303030; }

/* dropdowns */
.dropdown-menu {

	background-color: #303030;
	border: 1px solid #505050;
	border: 1px solid rgba(0,0,0,0.15);
	
}

.dropdown-menu>li>a { color: #fff; }

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {

	color: #fff;
	background-color: #202020;
	
}

#overlib {

	background:#000; 
	background:rgba(0, 0, 0, 0.8);
	border: 1px thin #000; 
	
}

.input-group-addon {
  color: #505050;
  text-align: center;
  background-color: #202020;
  border: 1px solid #505050;
  border-right: none !important;
}