@charset "utf-8";

/* summary ------------------
ad
-------------------------- */

@import url("http://www.sankei-digital.co.jp/common/css/SankeiDigitalAd.css");

.GoogleActiveViewClass {
margin:0 0 20px 0;
}

/* adHeader ----------------- */
#Header .adLargebanner {
margin:0 0 10px 0;
text-align:center;
}

#Header .adHeader {
float:left;
width:165px;
margin:17px 0 0 0;
}

/* adTopPRBanner01 ----------------- */
#adTopPRBanner01 {
width:1000px;
margin:0 auto;
padding-bottom:20px;
text-align:center;
background:#FFF;
}


/* adPRtextTop01 ----------------- */
#Contents .adPRtextTop01 {
margin:0;
padding:0;
}
#Contents .adPRtextTop01 p {
margin:0 0 10px 0;
padding:0 0 0 38px;
background:url(images/icon_ad_001.gif) no-repeat left 1px;
}
#Contents .adPRtextTop01 p a {
font-size:1.4em;
line-height:1.3;
}

/* adPRtextTop02 ----------------- */
#Contents .adPRtextTop02 {
margin:0;
padding:0;
}
#Contents .adPRtextTop02 p {
margin:0 0 10px 0;
padding:0 0 0 38px;
background:url(images/icon_ad_002.gif) no-repeat left 1px;
}
#Contents .adPRtextTop02 p a {
font-size:1.4em;
line-height:1.3;
}



/* adPRtext01 ----------------- */
#Contents .adPRtext01 {
margin:0;
padding:20px 0 0 0;
border-top:1px dotted #CCC;
}
#Contents .adPRtext01 p {
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Contents .adPRtext01 p a {
font-size:1.4em;
line-height:1.3;
}

/* adPRtext02 ----------------- */
#Contents .adPRtext02 {
margin:0 0 20px 0;
}
#Contents .adPRtext02 p {
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Contents .adPRtext02 p a {
font-size:1.4em;
line-height:1.3;
}

/* adPRtext03 ----------------- */
#Contents .adPRtext03 {
margin:0 0 25px 0;
padding:20px 0 10px 0;
border-top:1px dotted #CCC;
border-bottom:1px dotted #CCC;
}
#Contents .adPRtext03 p {
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Contents .adPRtext03 p a {
font-size:1.4em;
line-height:1.3;
}




/* adRectangleBox01 */
#Contents .adRectangleBox01 {
margin:0 0 25px 0;
padding:5px;
border:1px solid #E6E6E6;
border-top:none;
}
	#Contents .adRectangleBox01:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents .adRectangleBox01 {
	display: inline-block;
	}
	*+html #Contents .adRectangleBox01 {
	display: inline-block;
	}
#Contents .adRectangleBox01 .banner {
float:left;
width:150px;
margin:0;
}

#Contents .adRectangleBox01 .TextArea {
padding:0 0 0 155px;
}
#Contents .adRectangleBox01 .TextArea p {
margin:0 0 15px 0;
font-size:1.4em;
line-height:1.3;
}
#Contents .adRectangleBox01 .TextArea p.title {
margin:0 0 5px 0;
}
#Contents .adRectangleBox01 .TextArea p.continue {
text-align:right;
margin:0;
}




/* adMegaBanner */
#Contents .adMegaBanner {
margin:0 0 25px 0;
}

/* adBadge */
#Contents .adBadge {
width:100px;
margin:0 0 10px 0;
}
#Contents .adBadge .image {
margin:0 0 5px 0;
}
#Contents .adBadge .text {
font-size:1.2em;
line-height:1.3;
}


/* adgoogle */
#Contents .adgoogle {
margin:0 0 25px 0;
}

#Contents .adgoogle h2 {
margin:0 0 10px 0;
font-size:1.4em;
line-height:1.3;
font-weight:bold;
}

#Contents .adgoogle dl {
margin:0;
}
#Contents .adgoogle dl dt {
margin:0 0 5px 0;
font-size:14px;
line-height:1.3;
}
#Contents .adgoogle dl dt a.url {
margin:0 0 0 10px;
font-size:12px;
line-height:1.3;
}

#Contents .adgoogle dl dd {
margin:0 0 10px 0;
font-size:12px;
line-height:1.3;
}


/* adGoogleExchange */
#Contents .adGoogleExchange {
margin:0 0 25px 0;
}
	#Contents .adGoogleExchange:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents .adGoogleExchange {
	display: inline-block;
	}
	*+html #Contents .adGoogleExchange {
	display: inline-block;

	}
#Contents .adGoogleExchange .banner {
	float:left;
	margin:0 25px 0 0;
}


/* ECmodule */
#Contents .ECmodule {
position:relative;
margin:0 0 25px 0;
background:#F2F2F2;
}
	#Contents .ECmodule:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents .ECmodule {
	display: inline-block;
	}
	*+html #Contents .ECmodule {
	display: inline-block;
	}
#Contents .ECmodule .BannerModule {
float:left;
width:325px;
margin:0;
}
#Contents .ECmodule .TextModule {
padding:5px 5px 0 335px;
}
#Contents .ECmodule .TextModule ul {
margin:0;
}
#Contents .ECmodule .TextModule ul li {
margin:0 0 7px 0;
padding:0 0 0 17px;
background:url(images/arrow_002.gif) no-repeat 4px 5px;
}
#Contents .ECmodule .TextModule ul li img {
margin:3px 0 0 2px;
vertical-align:top;
}
#Contents .ECmodule .TextModule ul li a {
font-size:1.4em;
line-height:1.3;
}
#Contents .ECmodule .TextModule .logo {
position:absolute;
right:5px;
bottom:5px;
}


/* dmmBanner */
#Contents .dmmBanner {
margin:0 0 25px 0;
}


/* KanFun */
#Sidebar .KanFun {
margin:0 0 10px 0;
border:1px solid #E6E6E6;
}
#Sidebar .KanFun .banner {
margin:0 0 10px 0;
}
#Sidebar .KanFun ul {
margin:0 5px;
}
#Sidebar .KanFun ul li {
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Sidebar .KanFun ul li a {
font-size:1.4em;
line-height:1.3;
}





/* adSidebar ----------------- */



/* adRightSmallBanner */
#Sidebar .adRightSmallBanner {
margin:0 0 10px 0;
}

/* adRectangleBanner */
#Sidebar .adRectangleBanner {
margin:0 0 10px 0;
}

#Sidebar .adTopics {
margin:0 0 10px 0;
padding:5px 5px 0 5px;
border:1px solid #E6E6E6;
border-top:none;
}
#Sidebar .adTopics ul li {
padding:0 0 5px 0;
}
	#Sidebar .adTopics ul li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Sidebar .adTopics ul li {
	display: inline-block;
	}
	*+html #Sidebar .adTopics ul li {
	display: inline-block;
	}

#Sidebar .adTopics ul li .image {
float:left;
width:60px;
}
#Sidebar .adTopics ul li .title {
display:block;
margin:0 0 5px 0;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1;
}
#Sidebar .adTopics ul li .text {
display:block;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1.3;
}


#Sidebar .adKikaku {
margin:0 0 10px 0;
padding:5px 5px 0 5px;
border:1px solid #E6E6E6;
border-top:none;
}
#Sidebar .adKikaku ul li {
padding:0 0 5px 0;
}
	#Sidebar .adKikaku ul li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Sidebar .adKikaku ul li {
	display: inline-block;
	}
	*+html #Sidebar .adKikaku ul li {
	display: inline-block;
	}

#Sidebar .adKikaku ul li .image {
float:left;
width:60px;
}
#Sidebar .adKikaku ul li .title {
display:block;
margin:0 0 5px 0;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1;
}
#Sidebar .adKikaku ul li .text {
display:block;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1.3;
}


#Sidebar .adPachinko {
margin:0 0 10px 0;
padding:5px 5px 0 5px;
border:1px solid #E6E6E6;
border-top:none;
}
#Sidebar .adPachinko ul li {
padding:0 0 5px 0;
}
	#Sidebar .adPachinko ul li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Sidebar .adPachinko ul li {
	display: inline-block;
	}
	*+html #Sidebar .adPachinko ul li {
	display: inline-block;
	}

#Sidebar .adPachinko ul li .image {
float:left;
width:60px;
}
#Sidebar .adPachinko ul li .title {
display:block;
margin:0 0 5px 0;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1;
}
#Sidebar .adPachinko ul li .text {
display:block;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1.3;
}

#Sidebar .adSankeiDigitalBanner {
margin:0 0 10px 0;
}

/* ECmodule */
#Sidebar .ECmodule {
margin:0 0 10px 0;
border:1px solid #E6E6E6;
}
#Sidebar .ECmodule .banner {
margin:0 0 10px 0;
}
#Sidebar .ECmodule ul {
margin:0 5px;
}
#Sidebar .ECmodule ul li {
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Sidebar .ECmodule ul li a {
font-size:1.4em;
line-height:1.3;
}
#Sidebar .ECmodule .logo {
margin:0 5px 5px 5px;
text-align:right;
}


/* adRakutenWidget */
#Sidebar .adRakutenWidget {
margin:0 0 10px 0;
}



/* adFooter ----------------- */
/* adSEO */
#Footer .adSEO {
margin:0 0 15px 0;
padding:10px 10px 0 10px;
border:1px solid #E6E6E6;
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
background: #FFF;
font-size:1.2em;
line-height:1;
}
	#Footer .adSEO:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Footer .adSEO {
	display: inline-block;
	}
	*+html #Footer .adSEO {
	display: inline-block;
	}

#Footer .adSEO .title {
float:left;
width:70px;
}
#Footer .adSEO ul  {
width:870px;
margin:0 0 10px 70px;
}
	#Footer .adSEO ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Footer .adSEO ul {
	display: inline-block;
	}
	*+html #Footer .adSEO ul {
	display: inline-block;
	}

#Footer .adSEO ul li {
float:left;
border-right:1px solid #4D4D4D;
margin:0 0 0 5px;
padding:0 5px 0 0;
}



/* adSEO20120702 ----------------- */
#Footer .adSEO20120702 {
margin:0 0 15px 0;
border:1px solid #E6E6E6;
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
background: #FFF;
}

	#Footer .adSEO20120702:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #Footer .adSEO20120702 {
	display: inline-block;
	}

	*+html #Footer .adSEO20120702 {
	display: inline-block;
	}

#Footer .adSEO20120702 .title {
float:left;
margin:0;
padding:5px 7px;
font-size:1.2em;
line-height:1.3;
text-align:center;
}
#Footer .adSEO20120702 .block {
float:left;
width:285px;
padding:5px 7px;
border-left:1px solid #E6E6E6;
}

#Footer .adSEO20120702 .block dl {
margin:0;
}
	#Footer .adSEO20120702 .block dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #Footer .adSEO20120702 .block dl {
	display: inline-block;
	}

	*+html #Footer .adSEO20120702 .block dl {
	display: inline-block;
	}

#Footer .adSEO20120702 .block dl dt {
float:left;
width:50px;
margin:0 ;
text-align:center;
}
#Footer .adSEO20120702 .block dl dd {
margin:0;
padding:0 0 0 55px;
}
#Footer .adSEO20120702 .block dl dd p.subtitle {
margin:0 0 3px 0;
font-size:1.4em;
line-height:1.3;
font-weight:normal;	
}
#Footer .adSEO20120702 .block dl dd ul {
margin:0;
}
	#Footer .adSEO20120702 .block dl dd ul:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #Footer .adSEO20120702 .block dl dd ul {
	display: inline-block;
	}

	*+html #Footer .adSEO20120702 .block dl dd ul {
	display: inline-block;
	}

#Footer .adSEO20120702 .block dl dd ul li {
float:left;
margin:0 3px 3px 0;
padding:0 3px 0 0;
border-right:1px solid #4D4D4D;
font-size:11px;
line-height:1.3;
font-weight:normal;	
}



/* SankeiDigitalServive */
#SankeiDigitalServive {
margin:0 0 25px 0;
padding:0;
border:1px solid #CCC;
}
	#SankeiDigitalServive:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #SankeiDigitalServive {
	display: inline-block;
	}
	*+html #SankeiDigitalServive {
	display: inline-block;
	}

#SankeiDigitalServive h2{
margin:0 0 9px 0;
padding:7px 5px;
border-bottom:1px solid #CCC; 
background:#004080;
font-size:1.4em;
line-height:1;
color:#FFF;
}
#SankeiDigitalServive .block {
float:left;
width:230px;
margin:0 0 9px 9px;
}

#SankeiDigitalServive .block dl {
margin:0;
}
	#SankeiDigitalServive .block dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #SankeiDigitalServive .block dl {
	display: inline-block;
	}

	*+html #SankeiDigitalServive .block dl {
	display: inline-block;
	}

#SankeiDigitalServive .block dl dt {
float:left;
width:70px;
margin:0 ;
text-align:center;
}
#SankeiDigitalServive .block dl dd {
float:right;
width:155px;
margin:0;
}
#SankeiDigitalServive .block dl dd h3 {
margin:0 0 5px 0;
}
#SankeiDigitalServive .block dl dd p {
font-size:1.2em;
line-height:1.3;
font-weight:normal;	
}
#SankeiDigitalServive .block dl dd p a {
color:#4D4D4D;
}
#SankeiDigitalServive .speech{
	position: absolute;
	top: -99999px;
	left: -99999px;
	overflow: hidden;
	font-size: 0;
	height: 0;
	width: 0;
}





/* nottv ----------------- */
.nottv {
color:#FF0080
}
.nottv a {
color:#FF0080
}
