@charset "utf-8";

/* summary ------------------
Contents
-------------------------- */

#Container {
padding:0 15px;
background:#FFF;
}


#Container .category-title-header {
margin:0 0 10px 0;
text-align:center;
}

/* TopicPath  */
#TopicPath {
width:970px;
margin:0 auto;
text-align:left;
}
#TopicPath ol {
margin:0 0 25px 0;
}
#TopicPath ol li {
display:inline-block;
font-size:1.4em;
line-height:1;
}
#TopicPath ol li a:after {
content:" > ";
}
#TopicPath ol li strong {
font-weight:normal;
}

/* layout3column  */
#Contents .layout3column {
margin:0;
}
	#Contents .layout3column:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents .layout3column {
	display: inline-block;
	}
	*+html #Contents .layout3column {
	display: inline-block;
	}

#Contents .layout3column #MainContentsSection {
float:right;
width:550px;
overflow:hidden;
}


/* layout2column  */
#Contents .layout2column {
margin:0;
}
	#Contents .layout2column:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents .layout2column {
	display: inline-block;
	}
	*+html #Contents .layout2column {
	display: inline-block;
	}


#Contents .layout2column #MainContentsSection {
float:right;
width:850px;
overflow:hidden;
}



/* LocalNavigationSection  */
#Contents #LocalNavigationSection {
float:left;
width:100px;
}
#Contents #LocalNavigationSection .GenreTitle {
padding:7px 5px;
-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;/* Safari,Google Chrome */
-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;/* Firefox */
-ms-border-top-right-radius:5px;-ms-border-top-left-radius:5px;/* IE10 */ 
-o-border-top-right-radius:5px;-o-border-top-left-radius:5px;/* Opera */ 
border-top-right-radius:5px;border-top-left-radius:5px;/* CSS3 */
background:#5BA0E3 url(images/bg_title_002.gif) repeat-x left top;
font-size:1.4em;
line-height:1;
color:#FFF;
}

#Contents #LocalNavigationSection .GenreTitle a {
color:#FFF;
}

#Contents #LocalNavigationSection .SubGenreTitle {
padding:7px 5px;
-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;/* Safari,Google Chrome */
-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;/* Firefox */
-ms-border-top-right-radius:5px;-ms-border-top-left-radius:5px;/* IE10 */ 
-o-border-top-right-radius:5px;-o-border-top-left-radius:5px;/* Opera */ 
border-top-right-radius:5px;border-top-left-radius:5px;/* CSS3 */
background: #E5E5E5;
font-size:1.4em;
line-height:1;
}

#Contents #LocalNavigationSection .LocalNavigation01 {
margin:0 0 10px 0;
}
#Contents #LocalNavigationSection .LocalNavigation01 ul.navigation {
border:1px solid #E5E5E5;
border-top:none;
-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;/* Safari,Google Chrome */
-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;/* Firefox */
-ms-border-bottom-right-radius:5px;-ms-border-bottom-left-radius:5px;/* IE10 */ 
-o-border-bottom-right-radius:5px;-o-border-bottom-left-radius:5px;/* Opera */ 
border-bottom-right-radius:5px;border-bottom-left-radius:5px;/* CSS3 */
}
#Contents #LocalNavigationSection .LocalNavigation01 ul.navigation li {
padding:7px 5px;
border-bottom:1px solid #E5E5E5;
font-size:1.4em;
line-height:1;
}
#Contents #LocalNavigationSection .LocalNavigation01 ul.navigation li.borderNone{
border-bottom:none;
}

#Contents #LocalNavigationSection .LocalNavigation02 {
margin:0 0 10px 0;
}
#Contents #LocalNavigationSection .LocalNavigation02 ul.navigation {
border:1px solid #E5E5E5;
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
}
#Contents #LocalNavigationSection .LocalNavigation02 ul.navigation li {
padding:7px 5px;
border-bottom:1px solid #E5E5E5;
font-size:1.2em;
line-height:1;
}
#Contents #LocalNavigationSection .LocalNavigation02 ul.navigation li.borderNone{
border-bottom:none;
}


/* ContentsTitle01 ----------------- */
#Contents .ContentsTitle01 {
position:relative;
margin:0 0 15px 0;
padding:7px 5px;
border:1px solid #E6E6E6; 
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
background:#FFF url(images/bg_title_001.gif) repeat-x left top;
}
#Contents .ContentsTitle01 h1,
#Contents .ContentsTitle01 h2,
#Contents .ContentsTitle01 h3 {
font-size:1.4em;
line-height:1;
}
#Contents .ContentsTitle01 h1.SelectMenu,
#Contents .ContentsTitle01 h2.SelectMenu,
#Contents .ContentsTitle01 h3.SelectMenu {
font-size:1.4em;
line-height:1;
}

#Contents .ContentsTitle01 ul.navigation {
position:absolute;
right:6px;
top:8px;
border-left:1px solid #E5E5E5;
}
#Contents .ContentsTitle01 ul.navigation li.menu {
display:inline;
padding:0 10px;
border-right:1px solid #E5E5E5;
border-left:1px solid #FFF;
font-size:1.2em;
line-height:1;
}
#Contents .ContentsTitle01 ul.navigation li.more {
display:inline;
padding:0 0 0 20px;
background:url(images/arrow_002.gif) no-repeat 10px center;
border-right:none;
border-left:1px solid #FFF;
font-size:1.2em;
line-height:1;
}
#Contents .ContentsTitle01 p.more {
position:absolute;
right:6px;
top:8px;
padding:0 0 0 20px;
background:url(images/arrow_002.gif) no-repeat 10px center;
font-size:1.2em;
line-height:1;
}
#Contents .ContentsTitle01 .tsubuyaki {
position:absolute;
right:6px;
top:4px;
}

#Contents .ContentsTitle01 p.timestamp {
position:absolute;
right:6px;
top:8px;
font-size:1.2em;
line-height:1;
}


/* ContentsTitle02 ----------------- */
#Contents .ContentsTitle02 {
position:relative;
margin:0;
padding:7px 5px;
border:1px solid #E6E6E6; 
-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;/* Safari,Google Chrome */
-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;/* Firefox */
-ms-border-top-right-radius:5px;-ms-border-top-left-radius:5px;/* IE10 */ 
-o-border-top-right-radius:5px;-o-border-top-left-radius:5px;/* Opera */ 
border-top-right-radius:5px;border-top-left-radius:5px;/* CSS3 */
background:#FFF url(images/bg_title_001.gif) repeat-x left top;
}
#Contents .ContentsTitle02 h1,
#Contents .ContentsTitle02 h2,
#Contents .ContentsTitle02 h3 {
font-size:1.4em;
line-height:1;
}


/* ContentsTitle03 ----------------- */
#Contents .ContentsTitle03 {
position:relative;
margin:0 0 10px 0;
padding:4px 0 4px 15px;
background:#FFF url(images/bg_title_003.gif) no-repeat left top;
}
#Contents .ContentsTitle03 h1,
#Contents .ContentsTitle03 h2,
#Contents .ContentsTitle03 h3,
#Contents .ContentsTitle03 h4 {
font-size:1.4em;
line-height:1;
}

#Contents .ContentsTitle03 ul.navigation {
position:absolute;
right:6px;
top:8px;
border-left:1px solid #E5E5E5;
}
#Contents .ContentsTitle03 ul.navigation li.menu {
display:inline;
padding:0 10px;
border-right:1px solid #E5E5E5;
border-left:1px solid #FFF;
font-size:1.2em;
line-height:1;
}
#Contents .ContentsTitle03 ul.navigation li.more {
display:inline;
padding:0 0 0 20px;
background:url(images/arrow_002.gif) no-repeat 10px center;
border-right:none;
border-left:1px solid #FFF;
font-size:1.2em;
line-height:1;
}
#Contents .ContentsTitle03 p.more {
position:absolute;
right:6px;
top:8px;
padding:0 0 0 20px;
background:url(images/arrow_002.gif) no-repeat 10px center;
font-size:1.2em;
line-height:1;
}

#Contents .ContentsTitle03 p.timestamp {
position:absolute;
right:6px;
top:8px;
font-size:1.2em;
line-height:1;
}


/* ContentsTitle03b ----------------- */
#Contents .ContentsTitle03b {
margin:0;
padding:4px 0 4px 15px;
background:#FFF url(images/bg_title_003.gif) no-repeat left top;
}
#Contents .ContentsTitle03b h1,
#Contents .ContentsTitle03b h2,
#Contents .ContentsTitle03b h3,
#Contents .ContentsTitle03b h4 {
font-size:1.4em;
line-height:1;
}


/* tools ----------------- */
#Contents .tools {
margin:0 0 15px 0;
}
#Contents .tools .fb_iframe_widget,
#Contents .tools .fb-like {
	display:inline-block;
	margin: 0 15px;
}


/* other ----------------- */
#FishingNavigation {
margin:0 0 25px 0;
}
#FishingNavigation ul.navigation {
margin:0;
}
	#FishingNavigation ul.navigation:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #FishingNavigation ul.navigation {
	display: inline-block;
	}
	*+html #FishingNavigation ul.navigation {
	display: inline-block;
	}

#FishingNavigation ul.navigation li {
float:left;
width:135px;
margin:0 10px 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#FishingNavigation ul.navigation li a {
font-size:1.4em;
line-height:1.3;
}


/* clearfix ----------------- */
	#Contents .clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents .clearfix {
	display: inline-block;
	}
	*+html #Contents .clearfix {
	display: inline-block;
	}


/* forIEclearfix ----------------- */
#Contents .forIEclearfix {
clear:both;
height:0;
font-size:0;
line-height:0;
}
