@charset "utf-8";

/* summary ------------------
Footer
-------------------------- */

#Footer {
padding:0 15px 10px 15px;
background:#FFF;
}

/* FooterKeyword ----------------- */
#Footer .FooterKeyword {
font-size:1.1em;
line-height:1;
margin:0 0 10px 0;
}

/* NavigationSection01 ----------------- */
#Footer #FooterNavigationSection01 {
margin:0 0 10px 0;
}
	#Footer #FooterNavigationSection01:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Footer #FooterNavigationSection01 {
	display: inline-block;
	}
	*+html #Footer #FooterNavigationSection01 {
	display: inline-block;
	}

/* FooterNavigationSection01 */
#Footer #FooterNavigationSection01 ul.navigation {
float:left;
width:590px;
margin:7px 0 0 0;
}
#Footer #FooterNavigationSection01 ul.navigation li {
display:inline;
margin:0 10px 0 0;
padding:0 0 0 17px;
font-size:1.2em;
line-height:1;
}
#Footer #FooterNavigationSection01 ul.navigation li.menu01 {
background:url(images/footer_icon_001.gif) no-repeat left top;
}
#Footer #FooterNavigationSection01 ul.navigation li.menu02 {
background:url(images/footer_icon_002.gif) no-repeat left top;
}
#Footer #FooterNavigationSection01 ul.navigation li.menu03 {
background:url(images/footer_icon_003.gif) no-repeat left top;
}

/* sankeiDigital */
#Footer #FooterNavigationSection01 ul.sankeiDigital {
float:right;
width:370px;
margin:0;
}
#Footer #FooterNavigationSection01 ul.sankeiDigital li {
display:inline;
margin:0 0 0 10px;
text-align:right;
}


/* NavigationSection02 ----------------- */
#Footer #FooterNavigationSection02 {
margin:0 0 10px 0;
}
/* navigation */
#Footer #FooterNavigationSection02 ul.navigation {
margin:0;
}
#Footer #FooterNavigationSection02 ul.navigation li {
display:inline;
margin:0 6px 0 0;
padding:0 0 0 6px;
border-left:1px solid #4D4D4D;
font-size:1.2em;
line-height:1;
}
#Footer #FooterNavigationSection02 ul.navigation li.first {
padding:0 0 0 0;
border-left:none;
}

/* CopyrightSection ----------------- */
#Footer #CopyrightSection {
padding:6px 6px 2px 6px;
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
background:#5BA0E3 url(images/bg_copyright_001.gif) repeat-x left top;
color:#FFF;
}
	#Footer #CopyrightSection:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Footer #CopyrightSection {
	display: inline-block;
	}
	*+html #Footer #CopyrightSection {
	display: inline-block;
	}

/* copyright */
#Footer #CopyrightSection .copyright {
float:left;
width:800px;
font-size:1.2em;
line-height:1;
}
#Footer #CopyrightSection .copyright img {
margin:0 5px 4px 0;
vertical-align:middle;
}

/* pageTop */
#Footer #CopyrightSection .pageTop {
float:right;
width:110px;
margin:3px 0 0 0;
text-align:right;
}
#Footer #CopyrightSection .pageTop a {
padding:0 0 2px 15px;
background:url(images/arrow_003.gif) no-repeat left center;
font-size:1.2em;
line-height:1;
color:#FFF;
}
