@charset "utf-8";

/* summary ------------------
layout
-------------------------- */


/* layout ----------------- */

body {
width:100%;
text-align:center;
}

#Header {
width:970px;
margin:0 auto;
text-align:left;
}

#Container {
width:970px;
margin:0 auto;
text-align:left;
}
	#Container:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Container {
	display: inline-block;
	}
	*+html #Container {
	display: inline-block;
	}

	#Contents {
	float:left;
	width:660px;
	overflow:hidden;
	margin:0;
	}
		#Contents:after {
		content: ".";
		display: block;
		visibility: hidden;
		height: 0.1px;
		font-size: 0.1em;
		line-height:0;
		clear: both;
		}
		* html #Contents {
		display: inline-block;
		}
		*+html #Contents {
		display: inline-block;
		}
	
	#Sidebar {
	float:right;
	width:300px;
	margin:0;
	}

#Footer {
width:970px;
margin:0 auto;
text-align:left;
}
