@charset "utf-8";

/* summary ------------------
list
-------------------------- */

/* TopNewsSectionPress ----------------- */
#TopNewsSectionPress {
margin:0 0 25px 0;
}
	#TopNewsSectionPress:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #TopNewsSectionPress {
	display: inline-block;
	}
	*+html #TopNewsSectionPress {
	display: inline-block;
	}

#TopNewsSectionPress .timestamp {
margin:10px 0 5px 0;
font-size:1.2em;
line-height:1;
color:#B3B3B3;
}
#TopNewsSectionPress h2 {
margin:0 0 10px 0;
font-size:2.6em;
line-height:1.3;
}
#TopNewsSectionPress .lead {
margin:0 0 15px 0;
font-size:1.4em;
line-height:1.5;
}
#TopNewsSectionPress .photo {
float:right;
width:180px;
margin:0 0 5px 10px;
}
#TopNewsSectionPress .photo a {
display:block;
width:180px;
background:#EBEBEB;
text-align:center;
}


/* NewsListSection01 ----------------- */
#Contents #NewsListSection01 {
margin:0;
}
#Contents #NewsListSection01 ul.NewsList {
margin:0 0 25px 0;
}
#Contents #NewsListSection01 ul.NewsList li {
position:relative;
margin:0 0 10px 0;
padding:0 7.5em 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Contents #NewsListSection01 ul.NewsList li img {
margin:3px 0 0 2px;
vertical-align:top;
}
#Contents #NewsListSection01 ul.NewsList li a {
font-size:1.4em;
line-height:1.3;
}
#Contents #NewsListSection01 ul.NewsList li span.timestamp {
position:absolute;
right:0;
top:3px;
color:#B3B3B3;
font-size:1.2em;
line-height:1;
}

#Contents #NewsListSection01 p.moreNewsList {
margin:0 0 25px 0;
padding:15px 0 0 0;
border-top:1px dotted #CCC;
text-align:right;
}
#Contents #NewsListSection01 p.moreNewsList a {
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px center;
font-size:1.2em;
line-height:1;
}


/* NewsListSection02 ----------------- */
#Contents #NewsListSection02 {
margin:0;
}
#Contents #NewsListSection02 ul.NewsList {
margin:0 0 25px 0;
}
#Contents #NewsListSection02 ul.NewsList li {
position:relative;
margin:0 0 10px 0;
padding:0 7.5em 0 83px;
}
#Contents #NewsListSection02 ul.NewsList li span {
position:absolute;
display:inline-block;
font-size:12px;
width:80px;
top:0px;
left:0px;
margin:0 0 3px 0;
padding:2px 0;
background:#000;
color:#FFF;
text-align:center;
}
#Contents #NewsListSection02 ul.NewsList li span.genre01 {
background:#0282BF;
}
#Contents #NewsListSection02 ul.NewsList li span.genre02 {
background:#FF204D;
}
#Contents #NewsListSection02 ul.NewsList li span.genre03 {
background:#5F9F00;
}
#Contents #NewsListSection02 ul.NewsList li span.genre04 {
background:#01BFA6;
}
#Contents #NewsListSection02 ul.NewsList li span.genre05 {
background:#FF7F00;
}
#Contents #NewsListSection02 ul.NewsList li span.genre06 {
background:#999;
}

#Contents #NewsListSection02 ul.NewsList li img {
margin:3px 0 0 2px;
vertical-align:top;
}
#Contents #NewsListSection02 ul.NewsList li a {
font-size:1.4em;
line-height:1.3;
}
#Contents #NewsListSection02 ul.NewsList li span.timestamp {
position:absolute;
right:0;
top:3px;
color:#B3B3B3;
font-size:1.2em;
line-height:1;
}

#Contents #NewsListSection02 p.moreNewsList {
margin:0 0 25px 0;
padding:15px 0 0 0;
border-top:1px dotted #CCC;
text-align:right;
}
#Contents #NewsListSection02 p.moreNewsList a {
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px center;
font-size:1.2em;
line-height:1;
}

/* NewsListSection03 ----------------- */
#Contents #NewsListSection03 {
margin:0;
}
#Contents #NewsListSection03 ul.NewsList {
margin:0 0 25px 0;
}
	#Contents #NewsListSection03 ul.NewsList:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents #NewsListSection03 ul.NewsList {
	display: inline-block;
	}
	*+html #Contents #NewsListSection03 ul.NewsList {
	display: inline-block;
	}
#Contents #NewsListSection03 ul.NewsList li {
float:left;
width:260px;
margin:0 15px 15px 0;
}
#Contents #NewsListSection03 ul.NewsList li .photo {
float:left;
width:80px;
margin:0;
padding:1px;
border:1px solid #E6E6E6;
}
#Contents #NewsListSection03 ul.NewsList li .title {
margin:0 0 10px 0;
padding:0 0 0 94px;
font-size:1.4em;
line-height:1.3;
}




/* PhotoListSection01 ----------------- */
#Contents #PhotoListSection01 {
margin:0 0 23px 0;
}
#Contents #PhotoListSection01 ul.Photolist {
margin:0 0 2px 0;
}
	#Contents #PhotoListSection01 ul.Photolist:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents #PhotoListSection01 ul.Photolist {
	display: inline-block;
	}
	*+html #Contents #PhotoListSection01 ul.Photolist {
	display: inline-block;
	}
#Contents #PhotoListSection01 ul.Photolist li {
float:left;
margin:0 2px 0 0;
}
#Contents #PhotoListSection01 ul.Photolist li a {
display:block;
width:80px;
height:80px;
background:#EBEBEB;
text-align:center;
}


/* PhotoListSection02 ----------------- */


#Contents #PhotoListSection02 {
overflow:hidden;
width:660px;
margin:0;
}
#Contents #PhotoListSection02 .PhotoTop {
margin:0 0 25px 0;
}
#Contents #PhotoListSection02 .PhotoTop dl {
margin:0;
}
	#Contents #PhotoListSection02 .PhotoTop dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #PhotoListSection02 .PhotoTop dl {
	display: inline-block;
	}

	*+html #Contents #PhotoListSection02 .PhotoTop dl {
	display: inline-block;
	}
#Contents #PhotoListSection02 .PhotoTop dl dt {
float:left;
width:450px;
margin:0;
}
#Contents #PhotoListSection02 .PhotoTop dl dt a {
display:block;
width:450px;
background:#EBEBEB;
text-align:center;
}
#Contents #PhotoListSection02 .PhotoTop dl dd {
float:right;
width:200px;
font-size:2.2em;
line-height:1.3;
}

#Contents #PhotoListSection02 ul.PhotoList {
width:690px;
margin:0;
}
	#Contents #PhotoListSection02 ul.PhotoList:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #PhotoListSection02 ul.PhotoList {
	display: inline-block;
	}

	*+html #Contents #PhotoListSection02 ul.PhotoList {
	display: inline-block;
	}
#Contents #PhotoListSection02 ul.PhotoList li {
float:left;
width:200px;
margin:0 30px 25px 0;
}
#Contents #PhotoListSection02 ul.PhotoList li dl {
margin:0;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dt {
width:200px;
margin:0 0 5px 0;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dt a {
display:block;
width:200px;
height:200px;
background:#EBEBEB;
text-align:center;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dt a img {
width:auto;
height:auto;
max-width:100%;
max-height:100%;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dd {
width:200px;
font-size:1.4em;
line-height:1.3;
}

/* BK20160701
#Contents #PhotoListSection02 ul.PhotoList li {
float:left;
width:320px;
margin:0 20px 25px 0;
}
#Contents #PhotoListSection02 ul.PhotoList li dl {
margin:0;
}
	#Contents #PhotoListSection02 ul.PhotoList li dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #PhotoListSection02 ul.PhotoList li dl {
	display: inline-block;
	}

	*+html #Contents #PhotoListSection02 ul.PhotoList li dl {
	display: inline-block;
	}
#Contents #PhotoListSection02 ul.PhotoList li dl dt {
float:left;
width:80px;
margin:0;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dt a {
display:block;
width:80px;
height:80px;
background:#EBEBEB;
text-align:center;
}
#Contents #PhotoListSection02 ul.PhotoList li dl dd {
float:right;
width:230px;
font-size:1.4em;
line-height:1.3;
}
*/



/* PhotoListSection03 ----------------- */
#Contents #PhotoListSection03 {
overflow:hidden;
width:550px;
margin:0;
}
#Contents #PhotoListSection03 ul.PhotoList {
width:570px;
margin:0;
}
	#Contents #PhotoListSection03 ul.PhotoList:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #PhotoListSection03 ul.PhotoList {
	display: inline-block;
	}
	*+html #Contents #PhotoListSection03 ul.PhotoList {
	display: inline-block;
	}

#Contents #PhotoListSection03 ul.PhotoList li {
float:left;
width:265px;
margin:0 20px 25px 0;
}
#Contents #PhotoListSection03 ul.PhotoList li dl {
margin:0;
}
	#Contents #PhotoListSection03 ul.PhotoList li dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #PhotoListSection03 ul.PhotoList li dl {
	display: inline-block;
	}
	*+html #Contents #PhotoListSection03 ul.PhotoList li dl {
	display: inline-block;
	}
#Contents #PhotoListSection03 ul.PhotoList li dl dt {
float:left;
width:80px;
margin:0;
}
#Contents #PhotoListSection03 ul.PhotoList li dl dt a {
display:block;
width:80px;
height:80px;
background:#EBEBEB;
text-align:center;
}
#Contents #PhotoListSection03 ul.PhotoList li dl dd {
float:right;
width:175px;
font-size:1.4em;
line-height:1.3;
}



/* TopicsListSection01 ----------------- */
#Contents #TopicsListSection01 {
margin:0;
}
#Contents #TopicsListSection01 ul.TopicsList {
margin:0;
}
#Contents #TopicsListSection01 ul.TopicsList li {
margin:0 0 25px 0;
}
	#Contents #TopicsListSection01 ul.TopicsList li:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #TopicsListSection01 ul.TopicsList li {
	display: inline-block;
	}
	*+html #Contents #TopicsListSection01 ul.TopicsList li {
	display: inline-block;
	}
#Contents #TopicsListSection01 ul.TopicsList li .photo {
float:left;
width:80px;
padding:1px;
border:1px solid #E6E6E6;
}
#Contents #TopicsListSection01 ul.TopicsList li .photo a {
display:block;
width:80px;
height:80px;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea {
float:right;
width:566px;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea .title {
margin:0 0 10px 0;
font-size:1.4em;
line-height:1.3;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea ul.NewsList {
margin:0;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea ul.NewsList li {
position:relative;
margin:0 0 10px 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px 5px;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea ul.NewsList li img {
margin:3px 0 0 2px;
vertical-align:top;
}
#Contents #TopicsListSection01 ul.TopicsList li .TextArea ul.NewsList li a {
font-size:1.4em;
line-height:1.3;
}


/* MovieListSection01 ----------------- */
#Contents #MovieListSection01 {
margin:0 0 25px 0;
}
#Contents #MovieListSection01 .wrapper {
margin:0 0 15px 0;
padding:10px 0 6px 6px;
-webkit-border-radius:5px;/* Safari,Google Chrome */
-moz-border-radius:5px;/* Firefox */
-ms-border-radius:5px;/* IE10 */ 
-o-border-radius:5px;/* Opera */ 
border-radius:5px;/* CSS3 */
background:#000;
}
#Contents #MovieListSection01 .wrapper h2 {
margin:0 0 6px 0;
font-size:1.4em;
line-height:1;
color:#FFF;
}
#Contents #MovieListSection01 .wrapper ul {
margin:0;
}
	#Contents #MovieListSection01 .wrapper ul:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height:0;
	clear: both;
	}
	* html #Contents #MovieListSection01 .wrapper ul {
	display: inline-block;
	}
	*+html #Contents #MovieListSection01 .wrapper ul {
	display: inline-block;
	}
#Contents #MovieListSection01 .wrapper ul li {
float:left;
width:158px;
margin:0 5px 0 0;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail {
position:relative;
width:158px;
height:158px;
margin:0 0 5px 0;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail .photo {
position:absolute;
left:0px;
top:0px;
z-index:99;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail .photo img {
max-width:158px;
max-height:158px;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail .button {
position:absolute;
left:0px;
top:0px;
z-index:100;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail .button a {
display:block;
width:158px;
height:158px;
}
#Contents #MovieListSection01 .wrapper ul li .thumbnail .button a img {
margin-left:53px;
margin-top:51px;
}
#Contents #MovieListSection01 .wrapper ul li .title {
font-size:1.4em;
line-height:1.3;
}
#Contents #MovieListSection01 .wrapper ul li .title a {
color:#FFF;
}
#Contents #MovieListSection01 .more {
margin:0 0 25px 0;
text-align:right;
}
#Contents #MovieListSection01 .more a {
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px center;
font-size:1.2em;
line-height:1;
}




/* PageNavi ----------------- */
#Contents #NewsListSection01 .PageNavi,
#Contents #PhotoListSection02 .PageNavi,
#Contents #PhotoListSection03 .PageNavi,
#Contents #TopicsListSection01 .PageNavi {
margin:0 0 25px 0;
text-align:center;
}
#Contents #NewsListSection01 .PageNavi ul,
#Contents #PhotoListSection02 .PageNavi ul,
#Contents #PhotoListSection03 .PageNavi ul,
#Contents #TopicsListSection01 .PageNavi ul {
margin:0;
}
#Contents #NewsListSection01 .PageNavi ul li,
#Contents #PhotoListSection02 .PageNavi ul li,
#Contents #PhotoListSection03 .PageNavi ul li,
#Contents #TopicsListSection01 .PageNavi ul li {
display:inline;
margin:1px 0;
}


#Contents #NewsListSection01 .PageNaviPress {
margin:0 0 25px 0;
font-size:1.4em;
text-align:center;
}