@charset "utf-8";

/* summary ------------------
ranking
-------------------------- */

/* RankingNavigation ----------------- */
#Contents #RankingNavigationSection01 {
margin:0 0 25px 0;
padding:0 0 10px 0;
border-bottom:1px dotted #CCC;
}
	#Contents #RankingNavigationSection01:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents #RankingNavigationSection01 {
	display: inline-block;
	}
	*+html #Contents #RankingNavigationSection01 {
	display: inline-block;
	}

#Contents #RankingNavigationSection01 ul.navigation {
float:left;
width:200px;
}
#Contents #RankingNavigationSection01 ul.navigation li {
display:inline;
margin:0 6px 0 0;
padding:0 0 0 6px;
border-left:1px solid #4D4D4D;
font-size:1.2em;
line-height:1;
}
#Contents #RankingNavigationSection01 ul.navigation li.first {
padding:0 0 0 0;
border-left:none;
}

#Contents #RankingNavigationSection01 p.other {
float:right;
width:200px;
text-align:right;
}
#Contents #RankingNavigationSection01 p.other a {
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px center;
font-size:1.2em;
line-height:1;
}




/* NewsRankingSection01 ----------------- */
#Contents #NewsRankingSection01 {
margin:0;
}
#Contents #NewsRankingSection01 ul.NewsRanking {
margin:0 0 25px 0;
}
#Contents #NewsRankingSection01 ul.NewsRanking li {
margin:0 0 10px 0;
padding:0 0 0 19px;
font-size:1.4em;
line-height:1.3;
}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank01 {background:url(images/icon_ranking_001.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank02 {background:url(images/icon_ranking_002.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank03 {background:url(images/icon_ranking_003.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank04 {background:url(images/icon_ranking_004.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank05 {background:url(images/icon_ranking_005.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank06 {background:url(images/icon_ranking_006.gif) no-repeat left 2px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank07 {background:url(images/icon_ranking_007.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank08 {background:url(images/icon_ranking_008.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank09 {background:url(images/icon_ranking_009.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank10 {background:url(images/icon_ranking_010.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank11 {background:url(images/icon_ranking_011.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank12 {background:url(images/icon_ranking_012.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank13 {background:url(images/icon_ranking_013.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank14 {background:url(images/icon_ranking_014.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank15 {background:url(images/icon_ranking_015.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank16 {background:url(images/icon_ranking_016.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank17 {background:url(images/icon_ranking_017.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank18 {background:url(images/icon_ranking_018.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank19 {background:url(images/icon_ranking_019.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank20 {background:url(images/icon_ranking_020.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank21 {background:url(images/icon_ranking_021.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank22 {background:url(images/icon_ranking_022.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank23 {background:url(images/icon_ranking_023.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank24 {background:url(images/icon_ranking_024.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank25 {background:url(images/icon_ranking_025.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank26 {background:url(images/icon_ranking_026.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank27 {background:url(images/icon_ranking_027.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank28 {background:url(images/icon_ranking_028.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank29 {background:url(images/icon_ranking_029.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li.rank30 {background:url(images/icon_ranking_030.gif) no-repeat left 1px;}
#Contents #NewsRankingSection01 ul.NewsRanking li .rank {
position: absolute;
top: -99999px;
left: -99999px;
overflow: hidden;
font-size: 0;
height: 0;
width: 0;
}


/* PhotoRankingSection01 ----------------- */
#Contents #PhotoRankingSection01 {
overflow:hidden;
width:660px;
margin:0;
}
#Contents #PhotoRankingSection01 ul.PhotoRanking {
width:680px;
margin:0 0 25px 0;
}
	#Contents #PhotoRankingSection01 ul.PhotoRanking:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents #PhotoRankingSection01 ul.PhotoRanking {
	display: inline-block;
	}
	*+html #Contents #PhotoRankingSection01 ul.PhotoRanking {
	display: inline-block;
	}

#Contents #PhotoRankingSection01 ul.PhotoRanking li {
float:left;
width:320px;
margin:0 20px 10px 0;
}

#Contents #PhotoRankingSection01 ul.PhotoRanking li dl {
width:320px;
margin:0;
}
	#Contents #PhotoRankingSection01 ul.PhotoRanking li dl:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Contents #PhotoRankingSection01 ul.PhotoRanking li dl {
	display: inline-block;
	}
	*+html #Contents #PhotoRankingSection01 ul.PhotoRanking li dl {
	display: inline-block;
	}

#Contents #PhotoRankingSection01 ul.PhotoRanking li dl dt {
float:left;
width:80px;
margin:0;
padding:0 0 0 14px;
}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank01 dl dt {background:#5BA0E3 url(images/icon_ranking_001.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank02 dl dt {background:#5BA0E3 url(images/icon_ranking_002.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank03 dl dt {background:#5BA0E3 url(images/icon_ranking_003.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank04 dl dt {background:#5BA0E3 url(images/icon_ranking_004.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank05 dl dt {background:#5BA0E3 url(images/icon_ranking_005.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank06 dl dt {background:#5BA0E3 url(images/icon_ranking_006.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank07 dl dt {background:#5BA0E3 url(images/icon_ranking_007.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank08 dl dt {background:#5BA0E3 url(images/icon_ranking_008.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank09 dl dt {background:#5BA0E3 url(images/icon_ranking_009.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank10 dl dt {background:#5BA0E3 url(images/icon_ranking_010.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank11 dl dt {background:#5BA0E3 url(images/icon_ranking_011.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank12 dl dt {background:#5BA0E3 url(images/icon_ranking_012.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank13 dl dt {background:#5BA0E3 url(images/icon_ranking_013.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank14 dl dt {background:#5BA0E3 url(images/icon_ranking_014.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank15 dl dt {background:#5BA0E3 url(images/icon_ranking_015.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank16 dl dt {background:#5BA0E3 url(images/icon_ranking_016.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank17 dl dt {background:#5BA0E3 url(images/icon_ranking_017.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank18 dl dt {background:#5BA0E3 url(images/icon_ranking_018.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank19 dl dt {background:#5BA0E3 url(images/icon_ranking_019.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank20 dl dt {background:#5BA0E3 url(images/icon_ranking_020.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank21 dl dt {background:#5BA0E3 url(images/icon_ranking_021.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank22 dl dt {background:#5BA0E3 url(images/icon_ranking_022.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank23 dl dt {background:#5BA0E3 url(images/icon_ranking_023.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank24 dl dt {background:#5BA0E3 url(images/icon_ranking_024.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank25 dl dt {background:#5BA0E3 url(images/icon_ranking_025.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank26 dl dt {background:#5BA0E3 url(images/icon_ranking_026.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank27 dl dt {background:#5BA0E3 url(images/icon_ranking_027.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank28 dl dt {background:#5BA0E3 url(images/icon_ranking_028.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank29 dl dt {background:#5BA0E3 url(images/icon_ranking_029.gif) no-repeat left 1px;}
#Contents #PhotoRankingSection01 ul.PhotoRanking li.rank30 dl dt {background:#5BA0E3 url(images/icon_ranking_030.gif) no-repeat left 1px;}

#Contents #PhotoRankingSection01 ul.PhotoRanking li dl dt .rank {
position: absolute;
top: -99999px;
left: -99999px;
overflow: hidden;
font-size: 0;
height: 0;
width: 0;
}
#Contents #PhotoRankingSection01 ul.PhotoRanking li dl dt a {
display:block;
width:80px;
height:80px;
background:#EBEBEB;
text-align:center;
}

#Contents #PhotoRankingSection01 ul.PhotoRanking li dl dd {
float:right;
width:216px;
font-size:1.4em;
line-height:1.3;
}







/* ランキング共通 ----------------- */

.rankingBody {
	overflow: hidden;
	position: relative;
}
.rankingBody div ol li {
	display: block;
	font-size: 1.4em;
	line-height: 1.4;
	margin-bottom: 6px;
}
.rankingBody div ol li span {
	color: rgba(0, 0, 0, 0);
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-bottom: 4px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}
.rankingBody .chartbeatBody .cb-rank-viewport {
	overflow: hidden;
	position: relative;
}
.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-wrapper {
	position: relative;
	height: 100%;
	z-index: 1;
}
.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-wrapper ol {
	position: relative;
	width: 100%;
	height: 100%;
}
.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-wrapper ol.now-loading {
	background-image: url(../../images/20120301/loading.gif);
	background-position: center 20%;
	background-repeat: no-repeat;
}
.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-wrapper ol li.cb-rank-entry {
	background-color: #fff;
	left: 0;
	overflow: hidden;
	position: absolute;
	border: none;
	padding-bottom: 0;
}
.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-wrapper ol.cb-active li.cb-rank-entry {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 350ms linear;
	-moz-transition: all 350ms linear;
	-o-transition: all 350ms linear;
	-ms-transition: all 350ms linear;
	transition: all 350ms linear;
}
.rankingBody ol li span.rank1,
.rankingBody ol li span.rank01 {
	background: url(../../css/20120301/images/icon_ranking_001.gif) center center no-repeat;
}
.rankingBody ol li span.rank2,
.rankingBody ol li span.rank02 {
	background: url(../../css/20120301/images/icon_ranking_002.gif) center center no-repeat;
}
.rankingBody ol li span.rank3,
.rankingBody ol li span.rank03 {
	background: url(../../css/20120301/images/icon_ranking_003.gif) center center no-repeat;
}
.rankingBody ol li span.rank4,
.rankingBody ol li span.rank04 {
	background: url(../../css/20120301/images/icon_ranking_004.gif) center center no-repeat;
}
.rankingBody ol li span.rank5,
.rankingBody ol li span.rank05 {
	background: url(../../css/20120301/images/icon_ranking_005.gif) center center no-repeat;
}
.rankingBody ol li span.rank6,
.rankingBody ol li span.rank06 {
	background: url(../../css/20120301/images/icon_ranking_006.gif) center center no-repeat;
}
.rankingBody ol li span.rank7,
.rankingBody ol li span.rank07 {
	background: url(../../css/20120301/images/icon_ranking_007.gif) center center no-repeat;
}
.rankingBody ol li span.rank8,
.rankingBody ol li span.rank08 {
	background: url(../../css/20120301/images/icon_ranking_008.gif) center center no-repeat;
}
.rankingBody ol li span.rank9,
.rankingBody ol li span.rank09 {
	background: url(../../css/20120301/images/icon_ranking_009.gif) center center no-repeat;
}
.rankingBody ol li span.rank10 {
	background: url(../../css/20120301/images/icon_ranking_010.gif) center center no-repeat;
}
.rankingBody ol li span.rank11 {
	background: url(../../css/20120301/images/icon_ranking_011.gif) center center no-repeat;
}
.rankingBody ol li span.rank12 {
	background: url(../../css/20120301/images/icon_ranking_012.gif) center center no-repeat;
}
.rankingBody ol li span.rank13 {
	background: url(../../css/20120301/images/icon_ranking_013.gif) center center no-repeat;
}
.rankingBody ol li span.rank14 {
	background: url(../../css/20120301/images/icon_ranking_014.gif) center center no-repeat;
}
.rankingBody ol li span.rank15 {
	background: url(../../css/20120301/images/icon_ranking_015.gif) center center no-repeat;
}
.rankingBody ol li span.rank16 {
	background: url(../../css/20120301/images/icon_ranking_016.gif) center center no-repeat;
}
.rankingBody ol li span.rank17 {
	background: url(../../css/20120301/images/icon_ranking_017.gif) center center no-repeat;
}
.rankingBody ol li span.rank18 {
	background: url(../../css/20120301/images/icon_ranking_018.gif) center center no-repeat;
}
.rankingBody ol li span.rank19 {
	background: url(../../css/20120301/images/icon_ranking_019.gif) center center no-repeat;
}
.rankingBody ol li span.rank20 {
	background: url(../../css/20120301/images/icon_ranking_020.gif) center center no-repeat;
}
.rankingBody ol li span.rank21 {
	background: url(../../css/20120301/images/icon_ranking_021.gif) center center no-repeat;
}
.rankingBody ol li span.rank22 {
	background: url(../../css/20120301/images/icon_ranking_022.gif) center center no-repeat;
}
.rankingBody ol li span.rank23 {
	background: url(../../css/20120301/images/icon_ranking_023.gif) center center no-repeat;
}
.rankingBody ol li span.rank24 {
	background: url(../../css/20120301/images/icon_ranking_024.gif) center center no-repeat;
}
.rankingBody ol li span.rank25 {
	background: url(../../css/20120301/images/icon_ranking_025.gif) center center no-repeat;
}
.rankingBody ol li span.rank26 {
	background: url(../../css/20120301/images/icon_ranking_026.gif) center center no-repeat;
}
.rankingBody ol li span.rank27 {
	background: url(../../css/20120301/images/icon_ranking_027.gif) center center no-repeat;
}
.rankingBody ol li span.rank28 {
	background: url(../../css/20120301/images/icon_ranking_028.gif) center center no-repeat;
}
.rankingBody ol li span.rank29 {
	background: url(../../css/20120301/images/icon_ranking_029.gif) center center no-repeat;
}
.rankingBody ol li span.rank30 {
	background: url(../../css/20120301/images/icon_ranking_030.gif) center center no-repeat;
}

.cssgradients .rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-cover {
	opacity: 1;
}

.rankingBody .chartbeatBody .cb-rank-viewport .cb-rank-cover {
	height: 10px;
	opacity: 0.3;
	position: relative;
	width: 100%;
	z-index: 2;
}


/* ランキングウィジェット ----------------- */

/* 本体 */
#rankingWidget .rankingBody .chartbeatBody {
	height: 172px;
}

/* もっと見る */
#rankingWidget .more {
	font-size: 1.4em;
	text-align: right;
	padding: 5px;
	border-top: 1px dotted #b2b2b2;
}


/* ランキングコンテンツ ----------------- */

/* ナビゲーション */
#rankingContents .navigation {
	border-bottom: 1px dotted #ccc;
	margin: 0 0 25px;
	padding: 0 0 10px;
	font-size: 12px;
	font-size: 1.2em;
}
#rankingContents .navigation li {
	border-left: 1px solid #4d4d4d;
	display: inline;
	line-height: 1;
	margin: 0 6px 0 0;
	padding: 0 0 0 6px;
}
#rankingContents .navigation li:first-child {
	border: none;
}

/* 本体 */
#rankingContents .rankingBody > div {
	background: #FFF;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
}
/* 瞬間ランキング */
#rankingContents .rankingBody .chartbeatBody {
	height: 1800px;
}

/* ソーシャルランキング */
#rankingContents .rankingBody .socialcountBody {
	height: 1800px;
}

#rankingContents .rankingBody .socialcountBody ol li dl.status {
	margin:5px 0;
}
#rankingContents .rankingBody .socialcountBody ol li dl.status dd.tw {
	display:inline-block;
	min-width:45px;
	height:18px;
	margin:0 5px 0 0;
	padding:4px 3px 0 27px;
	background:#5cb0f0 url(images/icon_sns_tw.png) 2px 2px no-repeat;
	color:#fff;
	text-align:right;
}
#rankingContents .rankingBody .socialcountBody ol li dl.status dd.fb {
	display:inline-block;
	min-width:45px;
	height:18px;
	padding:4px 3px 0 27px;
	background:#4462a0 url(images/icon_sns_fb.png) 2px 2px no-repeat;
	color:#fff;
	text-align:right;
}




