@charset "utf-8";

/* summary ------------------
SelectBox
-------------------------- */

#Header {
position:relative;
}

/* SelectBox01 ----------------- */

/* GenreSelectOff */
#Header #SelectBox01 {
z-index:99;
position:absolute;
right:15px;
top:28px;
}
#Header #SelectBox01 .GenreSelectOff {
margin:0;
}
#Header #SelectBox01 .GenreSelectOff .SelectButton {
margin:0;
padding:0;
}


/* GenreSelectOn */
#Header #SelectBox01 .GenreSelectOn {
width:800px;
height:95px;
background:#FFF url(images/bg_select_001.gif) no-repeat left bottom;
}

#Header #SelectBox01 .GenreSelectOn .SelectButton {
background:url(images/bg_select_002.gif) no-repeat left top;
margin:0 0 8px 0;
padding:0 0 0 600px;
}
#Header #SelectBox01 .GenreSelectOn .MenuList ul {
margin:0 4px 8px 14px;
}
	#Header #SelectBox01 .GenreSelectOn .MenuList ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Header #SelectBox01 .GenreSelectOn .MenuList ul {
	display: inline-block;
	}
	*+html #Header #SelectBox01 .GenreSelectOn .MenuList ul {
	display: inline-block;
	}
#Header #SelectBox01 .GenreSelectOn .MenuList ul li {
float:left;
width:70px;
margin:0 10px 0 0;
padding:0 0 0 17px;
background:url(images/arrow_001.gif) no-repeat 4px center;
font-size:12px;
line-height:1;
letter-spacing:-1px;
}


#Container {
position:relative;
}
/* SelectBox02,03 ----------------- */
#Container #SelectBox02,
#Container #SelectBox03 {
z-index:99;
position:absolute;
top:0;
overflow:hidden;
width:323px;
background:url(images/bg_select_003.gif) no-repeat left bottom;
border-right:2px solid #E43961;
border-bottom:2px solid #E43961;
}
#Container #SelectBox02 {
left:15px;
}
#Container #SelectBox03 {
left:350px;
}

#Container #SelectBox02 .TitleArea,
#Container #SelectBox03 .TitleArea {
margin:0 0 15px 0;
background:url(images/bg_select_004.gif) no-repeat left top;
}
	#Container #SelectBox02 .TitleArea:after,
	#Container #SelectBox03 .TitleArea:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Container #SelectBox02 .TitleArea,
	* html #Container #SelectBox03 .TitleArea {
	display: inline-block;
	}
	*+html #Container #SelectBox02 .TitleArea,
	*+html #Container #SelectBox03 .TitleArea {
	display: inline-block;
	}
#Container #SelectBox02 .TitleArea .title ,
#Container #SelectBox03 .TitleArea .title {
float:left;
padding:5px 0 5px 10px;
}

#Container #SelectBox02 .TitleArea .CloseButton ,
#Container #SelectBox03 .TitleArea .CloseButton {
float:right;
padding:5px 8px 5px 0;
}

#Container #SelectBox02 label,
#Container #SelectBox03 label {
display:block;
padding:2px;
}
#Container #SelectBox02 label:hover,
#Container #SelectBox03 label:hover {
background-color:#F2F2F2;
}
#Container #SelectBox02 label input,
#Container #SelectBox03 label input {
margin:0;
vertical-align:middle;
}

#Container #SelectBox02 .MenuList p.MenuDefault, 
#Container #SelectBox03 .MenuList p.MenuDefault {
margin:0 19px 15px 20px;
padding:0 0 15px 0;
border-bottom:1px dotted #000;
font-size:12px;
line-height:1;
}
#Container #SelectBox02 .MenuList ul,
#Container #SelectBox03 .MenuList ul {
width:294px;
margin:0 19px 15px 20px;
}
	#Container #SelectBox02 .MenuList ul:after,
	#Container #SelectBox03 .MenuList ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #Container #SelectBox02 .MenuList ul,
	* html #Container #SelectBox03 .MenuList ul {
	display: inline-block;
	}
	*+html #Container #SelectBox02 .MenuList ul,
	*+html #Container #SelectBox03 .MenuList ul {
	display: inline-block;
	}
#Container #SelectBox02 .MenuList ul li,
#Container #SelectBox03 .MenuList ul li {
float:left;
width:95px;
margin:0 2px 0 0;
font-size:12px;
line-height:1;
}
#Container #SelectBox02 .MenuList .SelectButton,
#Container #SelectBox03 .MenuList .SelectButton {
margin:0 0 15px 0;
text-align:center;
}

