@charset "UTF-8";


/*--- デザイン ---*/


/*--- 表示 ---*/

div#chgview {
	width: 970px;
	text-align:center;
	margin:0 auto;

}

div#deviceKit {
	margin:20px 250px;
}

div#deviceKit a{
	background-color: #1964ad;
	font-size: 3em;
	display: block;
	vertical-align: middle;
	text-align: center;
	-webkit-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-moz-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-ms-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-o-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	box-shadow:inset 1px 1px 5px #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	height: 70px;
	line-height: 70px;
	width: 470px;
	overflow: hidden;
	color: #fff;
	-webkit-text-shadow: 0 -1px 1px #eee;
	-moz-text-shadow: 0 -1px 1px #eee;
	-ms-text-shadow: 0 -1px 1px #eee;
	-o-text-shadow: 0 -1px 1px #eee;
	text-shadow: 0 -1px 1px #eee;
}

div#deviceKit a span {
	line-height:70px;
}

/*-- 押され --*/

div#deviceKit a:active {
	background-color: #1964ad;
	color: #fff;
	-webkit-box-shadow: -1px -1px 2px #ccc;
	-moz-box-shadow: -1px -1px 2px #ccc;
	-ms-box-shadow: -1px -1px 2px #ccc;
	-o-box-shadow: -1px -1px 2px #ccc;
	box-shadow: -1px -1px 2px #ccc;
}


/*--- landscapeの場合、全OB_小さめにする ---*/

@media only screen and (orientation : landscape) {
	div#deviceKit a{
		height: 70px;
	}
}

div#deviceKit .speech {
	display:none;
}