/* SLIDER BUTTONS */
.create_account {
    position: absolute;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 0px 0px;
    margin: 0px;
    border: 2px solid #32c75f;
    color: #fff !important;
    width: 176px;
    height: 51px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #32c75f;
}

.create_account:hover {
    border: 2px solid #32c75f;
    background-color: white;
    color: #32c75f !important;
}

.login_account {
    position: absolute;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 0px 0px;
    margin: 0px;
    border: 2px solid #2f2f2f;
    color: #fff !important;
    width: 176px;
    height: 51px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #2f2f2f;
}

.login_account:hover {
    border: 2px solid #2f2f2f;
    background-color: white;
    color: #2f2f2f !important;
}

/* TOP CASHOUT BUTTON */
.button_cashout{
    position: relative;
    display: inline-block;
    cursor:pointer;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 3px 10px 3px 10px;
    border: 1px solid #1fae48;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #32c75f;
}

.button_cashout:hover{
    border: 1px solid #1fae48;
    background-color: white;
    color: #32c75f;
}

/* SITE BUTTONS */
.button_grey_small, .button_grey_big, .button_green_small, .button_green_sans, .button_green_sans2, .button_green_submit, .button_green_big, .button_black_small, .button_black_big {
    text-align: center;
}

.button_grey_small{
    position: relative;
    text-shadow: none;
    cursor:pointer;
    font-size: 18px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d4d4d4;
    color: #2f2f2f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e7e7e7;
}
.button_grey_small:hover{
    border: 1px solid #d4d4d4;
    background-color: #fff;
    color: #2f2f2f;
}

.button_grey_big {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 10px 44px 10px 20px;
    border: 2px solid #32c75f;
    color: #2f2f2f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e7e7e7 url('../images/icons/arrow_green.png') no-repeat right center;
}

.button_grey_big:hover {
    border: 2px solid #32c75f;
    background: #32c75f url('../images/icons/arrow_white.png') no-repeat right center;
    color: white;
}

.button_green_small {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 17px;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 10px 20px 10px 20px;
    border: 2px solid #32c75f;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #32c75f;
}

.button_green_small:hover {
    border: 2px solid #32c75f;
    background-color: white;
    color: #32c75f;
}

.button_green_sans, .button_green_sans2, .button_green_sans3 {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #32c75f;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #32c75f;
    display: inline-block;
}

.button_green_sans:hover, .button_green_sans2:hover, .button_green_sans3:hover {
    border: 2px solid #32c75f;
    background-color: white;
    color: #32c75f;
}

.button_green_sans {
    width: 300px;
    padding: 4px 0px 4px 0px;
    margin: 10px 0 2px 0;
}

.button_green_sans2 {
    padding: 4px 30px 4px 30px;
    margin: 10px 0 2px 0;
}

.button_green_sans3 {
    padding: 4px 20px 4px 20px;
}

.button_green_submit::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button_green_submit, .button_green_submit2 {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #32c75f;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #32c75f;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.button_green_submit:hover, .button_green_submit2:hover {
    border: 2px solid #32c75f;
    background-color: white;
    color: #32c75f;
}

.button_green_submit {
    margin: 10px 0 2px 0;
    padding: 4px 30px 4px 30px;
}

.button_green_submit2 {
    padding: 0 30px 0 30px;
}

.button_grey_submit {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #a1a19a;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #a1a19a;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    margin: 10px 0 2px 0;
    padding: 4px 30px 4px 30px;
}

.button_green_big {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 10px 44px 10px 20px;
    border: 2px solid #32c75f;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #32c75f url('../images/icons/arrow_white.png') no-repeat right center;
}

.button_green_big:hover {
    border: 2px solid #32c75f;
    background: white url('../images/icons/arrow_green.png') no-repeat right center;
    color: #32c75f;
}

.button_black_small {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 17px;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: black;
}

.button_black_small:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.button_black_big {
    position: relative;
    text-shadow: none;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    padding: 10px 44px 10px 20px;
    border: 2px solid black;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: black url('../images/icons/arrow_white.png') no-repeat right center;
}

.button_black_big:hover {
    border: 2px solid black;
    background: white url('../images/icons/arrow_green.png') no-repeat right center;
    color: black;
}

.button_green_submit.suu {
    padding: 3px 30px 3px 30px;
    margin: 6px 0 0 0;
}

.hp_content {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #636363;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-top: 1px dashed #dbdbdb;
    border-bottom: 1px dashed #dbdbdb;
    padding: 40px 80px;
    text-align: left;
}

.hp_content.second {
    background-color: #fff;
    text-align: right;
    border: none;
}

.hp_cont_cell {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: 50%;
}

.hp_image{
    display: table-cell;
    width: 138px;
    height: 138px;
}

.btn_hp_big{
    position: relative;
    display: inline-block;
    cursor:pointer;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 15px 65px 15px 65px;
    border: 1px solid #1fae48;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #32c75f;
}
.btn_hp_big:hover{
    border: 1px solid #1fae48;
    background-color: #1fae48;
    color: white;
}

.btn_bmf_orange{
    position: relative;
    display: inline-block;
    cursor:pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 5px 24px;
    border: 1px solid #e57e17;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f7931e;
}

.btn_bmf_orange:hover{
    border: 1px solid #e57e17;
    background-color: #e57e17;
    color: white;
}