div.session_message {
    border: 1px solid;
    margin: 0 0 10px 0;
    padding: 10px 5px 10px 40px;
    font-size: 125%;
}

div.session_message.info {
    background-color: #BDE5F8;
    border-color: #00529B;
}

div.session_message.success {
    background-color: #DFF2BF;
    border-color: #4F8A10;
}

div.session_message.warning {
    background-color: #FFFABF;
    border-color: #9F6000;
}

div.session_message.error {
    background-color: #FFBABA;
    border-color: #D8000C;
}
