
























/* Helper */
@-webkit-keyframes bubbleup {
  from {
    width: 24px;
    height: 24px;
  }
  to {
    width: 18px;
    height: 18px;
  }
}
@-moz-keyframes bubbleup {
  from {
    width: 24px;
    height: 24px;
  }
  to {
    width: 18px;
    height: 18px;
  }
}
@keyframes bubbleup {
  from {
    width: 24px;
    height: 24px;
  }
  to {
    width: 18px;
    height: 18px;
  }
}
.status-badge.gold .sprite-badge-crown {
  background: url('http://graphics.pop6.com/images/common/svg/gold.svg') no-repeat 0 0;
  background-size: contain;
}
.status-badge.vip .sprite-badge-crown {
  background: url('http://graphics.pop6.com/images/common/svg/vip.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-topfan,
html .sprite-tiny-topfan {
  background: url('http://graphics.pop6.com/images/common/svg/top_fan_2-99.svg') no-repeat 0 0;
  background-size: contain;
}
html .rank1 .sprite-topfan,
html .rank1 .sprite-tiny-topfan {
  background: url('http://graphics.pop6.com/images/common/svg/1_top_fan.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-tiny-gold,
html .icon-gold-crown {
  background: url('http://graphics.pop6.com/images/common/svg/gold.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-tiny-vip,
html .sprite-tiny-vip {
  background: url('http://graphics.pop6.com/images/common/svg/vip.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-verified,
html .sprite-tiny-verified {
  background: url('http://graphics.pop6.com/images/common/svg/verified.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-income-verified,
html .sprite-tiny-income-verified,
html .sprite-badge-job-verified,
html .sprite-tiny-job-verified {
  background: url('http://graphics.pop6.com/images/common/svg/income_verified.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-confirmed,
html .sprite-tiny-confirmed {
  background: url('http://graphics.pop6.com/images/common/svg/confirmed.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-online,
html .sprite-tiny-online {
  background: url('http://graphics.pop6.com/images/common/svg/online.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-imc,
html .sprite-tiny-imc {
  background: url('http://graphics.pop6.com/images/common/svg/im.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-mobile-im,
html .sprite-tiny-mobile-im {
  background: url('http://graphics.pop6.com/images/common/svg/badge-mobileim.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-broadcasting,
html .sprite-tiny-broadcasting {
  background: url('http://graphics.pop6.com/images/common/svg/broadcasting.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-live_action_sound,
html .sprite-tiny-live_action_sound {
  background: url('http://graphics.pop6.com/images/common/svg/live_action_sound.svg') no-repeat 0 0;
  background-size: contain;
}
html .sprite-badge-friends,
html .sprite-tiny-friends {
  background: url('http://graphics.pop6.com/images/common/svg/friends.svg') no-repeat 0 0;
  background-size: contain;
}
html [class^="sprite-tiny-"],
html .status-badge [class^="sprite-tiny-"],
html .icon-gold-crown {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  line-height: normal;
}
html .status-badge {
  display: inline-block;
  background: transparent;
  text-shadow: none;
  border-radius: 0;
  color: #333;
  padding: 1px 0 !important;
  line-height: normal !important;
  height: 16px;
  padding: 0 5px 0 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
}
html .status-badge i {
  height: 18px;
  width: 18px;
  margin: -1px 2px -2px;
  line-height: normal;
}
html .status-badge.rank1,
html .status-badge.rank2,
html .status-badge.rank99 {
  padding: 0;
}
html .status-badge.rank1 i,
html .status-badge.rank2 i,
html .status-badge.rank99 i {
  display: inline-block;
  margin: -1px -1px -2px 2px !important;
}
html .status-badge.gold,
html .status-badge.vip,
html .status-badge.verified,
html .status-badge.confirmed,
html .status-badge.online,
html .status-badge.hotlist,
html .status-badge.imc,
html .status-badge.rank1,
html .status-badge.rank2,
html .status-badge.rank99,
html .status-badge.friends {
  background: transparent;
  text-shadow: none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
html .status-badge.gold {
  color: #DFAF51;
}
html .status-badge.vip {
  color: #434345;
}
html .status-badge.verified {
  color: #006AAC;
}
html .status-badge.confirmed {
  color: #9476B7;
}
html .status-badge.online {
  color: #47B972;
}
html .status-badge.friends {
  color: #006AAC;
}
html .status-badge.imc {
  color: #47B972;
}
html .status-badge.rank1 {
  color: #E95854;
}
html .status-badge.rank2,
html .status-badge.rank99 {
  color: #93BFC5;
}
html td [class^="sprite-tiny-"] {
  margin-top: 0;
}
#self_notification_container [class^="sprite-tiny-"] {
  margin-top: -12px;
}
#profile_top_like.btn i,
#main_video_box_bottom i,
#main_new_likes_viewer i,
.activity_like.btn i,
#likebox-left .btn i,
#likebox-main .btn i {
  display: inline-block !important;
  margin: 0 0;
  width: 18px;
  height: 18px;
}
#profile_top_like.btn .sprite-like,
#main_video_box_bottom .sprite-like,
#main_new_likes_viewer .sprite-like,
.activity_like.btn .sprite-like,
#likebox-left .btn .sprite-like,
#likebox-main .btn .sprite-like {
  background: url('http://graphics.pop6.com/images/common/png/button_icons_sprite.png') no-repeat 0 0;
  background-size: 450px;
  background-position: -230px -29px;
}
#tmpl_profile #profile_top .status-badge {
  margin: 0 3px 0 0;
}
#passport_friends .status-badge,
#profile_top .status-badge {
  margin: 5px 0 0;
}
#passport_friends .status-badge i,
#profile_top .status-badge i {
  margin: -1px 2px 0;
}
#passport_friends .status-badge i:first-child,
#profile_top .status-badge i:first-child {
  margin: -1px 2px -2px 0;
}
#friend_requesta_mini_container .member_cell_info_container .handle {
  max-width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#notification_page_main .member_cell_image_container .stat-badge {
  display: none;
}
#tab_content_container .badge_container .badge,
#page-engine .badge_container .badge {
  margin-right: -3px;
}
html #contentFeed .mini_badge,
html .mag-details-content_read .mini_badge,
html #contentFeed .icon,
html .mag-details-content_read .icon {
  margin-bottom: -3px;
  margin-top: 3px;
}
html #contentFeed .article_buttons .icon,
html .mag-details-content_read .article_buttons .icon {
  margin: 0;
}
html #contentFeed .handle_container {
  margin-top: 4px;
}
html #top_fans_region_rankings .stat-badge.rank1 {
  font-size: 0;
  color: transparent;
  filter: none;
}
html #notification_dropdown .mini-fan-badge.status-badge,
html #notification_dropdown_new .mini-fan-badge.status-badge {
  height: 14px;
}
html #notification_dropdown .member_cell_image_container .sprite-tiny-topfano,
html #notification_dropdown_new .member_cell_image_container .sprite-tiny-topfano,
html #notification_dropdown .member_cell_image_container .sprite-tiny-topfanb,
html #notification_dropdown_new .member_cell_image_container .sprite-tiny-topfanb {
  display: none;
}
html #messenger_container .member_cell_info_container .passport_badges {
  margin-left: -2px;
}
html #message_center_side .sprite-tiny-hotlist {
  background-position: -172px -188px;
}
html #search-results .member_cell_image_container .image_points_overlay_bar {
  width: 43%;
}
html #search-results .member_cell_container .stat-badge {
  left: 21px;
}
html .member_cell_container,
html #message_center_side,
html .top_fan_icon_frame {
  /*.btn-action {
            .sprite-envelope {
                .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/message.svg');
            }

            .sprite-flirt-face {
                .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flirt.svg');
            }

            .sprite-hotlist {
                .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flame.svg');
            }

            .sprite-add-friend {
                .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/friends.svg');
            }

            .btn {
                &:hover {
                    .sprite-envelope {
                        .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/message.svg');
                    }

                    .sprite-flirt-face {
                        .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flirt.svg');
                    }

                    .sprite-hotlist {
                        .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flame.svg');
                    }

                    .sprite-add-friend {
                        .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/friends.svg');
                    }
                }
            }
        }

        &.grid_cell {
            .btn-action {
                .btn {
                    &:hover {
                        .sprite-envelope {
                            .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/message.svg');
                            -webkit-animation: bubbleup 1s;
                            -moz-animation: bubbleup 1s;
                            animation: bubbleup 1s;
                        }

                        .sprite-flirt-face {
                            .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flirt.svg');
                            -webkit-animation: bubbleup 1s linear 0.5s;
                            -moz-animation: bubbleup 1s linear 0.5s;
                            animation: bubbleup 1s linear 0.5s;
                        }

                        .sprite-hotlist {
                            .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/flame.svg');
                            -webkit-animation: bubbleup 1s linear 0.5s;
                            -moz-animation: bubbleup 1s linear 0.5s;
                            animation: bubbleup 1s linear 0.5s;
                        }

                        .sprite-add-friend {
                            .background-mixin('http://graphics.pop6.com/images/common/svg/button_icons/friends.svg');
                            -webkit-animation: bubbleup 1s linear 0.5s;
                            -moz-animation: bubbleup 1s linear 0.5s;
                            animation: bubbleup 1s linear 0.5s;
                        }
                    }
                }
            }
        }

        [class^="sprite-"] {
            background-position: 0 0 !important;
        }*/
}
html .member_cell_container .status-badge i,
html #message_center_side .status-badge i,
html .top_fan_icon_frame .status-badge i {
  margin: -1px 2px;
  display: inline-block;
}
html .member_cell_container.grid_cell [class^="sprite-tiny-"],
html #message_center_side.grid_cell [class^="sprite-tiny-"],
html .top_fan_icon_frame.grid_cell [class^="sprite-tiny-"] {
  margin-top: 0;
}
html .member_cell_container .stat-badge,
html #message_center_side .stat-badge,
html .top_fan_icon_frame .stat-badge {
  bottom: 4px;
  color: #FFF;
  left: 17px;
  width: 14px;
  height: 14px;
  font-size: 12px;
  position: relative;
  line-height: 13px;
  z-index: 101;
}
html .member_cell_container .image_points_overlay_bar,
html #message_center_side .image_points_overlay_bar,
html .top_fan_icon_frame .image_points_overlay_bar {
  width: 43%;
  margin: -22px auto 0 !important;
  border-radius: 10px;
  padding: 1px 1px 2px 48px !important;
  background: #e9e9e9 url('http://graphics.pop6.com/images/common/svg/top_fan_2-99.svg') no-repeat -1px 0 !important;
  background-size: contain !important;
  text-align: right;
  z-index: 100;
}
html .member_cell_container .image_points_overlay_bar.rank1,
html #message_center_side .image_points_overlay_bar.rank1,
html .top_fan_icon_frame .image_points_overlay_bar.rank1 {
  background: #fcefc3 url('http://graphics.pop6.com/images/common/svg/1_top_fan.svg') no-repeat -1px 0 !important;
  background-size: contain !important;
}
html .member_cell_container .image_points_overlay_bar .points,
html #message_center_side .image_points_overlay_bar .points,
html .top_fan_icon_frame .image_points_overlay_bar .points {
  padding-right: 5px;
}
html #search-results .fanof_info .stat-badge,
html .fanof_info .stat-badge {
  background-size: contain;
  height: 18px;
  margin-right: 10px;
  padding: 0 0 0 20px;
  color: #000;
  bottom: 3px !important;
  line-height: normal;
  left: 0 !important;
  width: auto;
}
html #fanlist_page #interested_page_container .stat-badge {
  bottom: 4px;
  color: #93BFC5;
}
html #fanlist_page #interested_page_container .stat-badge.rank1 {
  color: #E95854;
}
html #fanlist_page .fanof_badge .stat-badge {
  bottom: 4px !important;
  bottom: 3px !important\9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
html #topfanpage .member_cell_image_container .filter_box .stat-badge,
html #topfanpage .ranking_details .stat-badge {
  color: #93BFC5;
  line-height: normal;
  left: 24px;
}
html #topfanpage .member_cell_image_container .filter_box .stat-badge.rank1,
html #topfanpage .ranking_details .stat-badge.rank1 {
  color: #E95854;
}
html #topfanpage .member_cell_image_container .filter_box .text,
html #topfanpage .ranking_details .text {
  display: none;
}
html #topfanpage .ranking_details .stat-badge {
  bottom: -3px !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
html #passport_friends .stat-badge {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  bottom: 2px !important;
  text-indent: -999px;
  color: transparent;
  margin: 0 -2px 0 0;
  width: 18px;
  height: 18px;
}
html #search-results .fanof_info .top_fan_icon_frame_img_blank,
html .fanof_info .top_fan_icon_frame_img_blank,
html #passport_friends .top_fan_icon_frame_img_blank,
html #fanlist_page .top_fan_icon_frame_img_blank,
html #topfanpage .top_fan_icon_frame_img_blank,
html #top_fan_bid_lightbox .top_fan_icon_frame_img_blank,
html #top_fan_profile_my_fans_container .top_fan_icon_frame_img_blank,
html #top_fan_profile_fan_of_container .top_fan_icon_frame_img_blank {
  background: #E9E9E9;
}
html #search-results .fanof_info .stat-badge.rank2,
html .fanof_info .stat-badge.rank2,
html #passport_friends .stat-badge.rank2,
html #fanlist_page .stat-badge.rank2,
html #topfanpage .stat-badge.rank2,
html #top_fan_bid_lightbox .stat-badge.rank2,
html #top_fan_profile_my_fans_container .stat-badge.rank2,
html #top_fan_profile_fan_of_container .stat-badge.rank2,
html #search-results .fanof_info .stat-badge.rank99,
html .fanof_info .stat-badge.rank99,
html #passport_friends .stat-badge.rank99,
html #fanlist_page .stat-badge.rank99,
html #topfanpage .stat-badge.rank99,
html #top_fan_bid_lightbox .stat-badge.rank99,
html #top_fan_profile_my_fans_container .stat-badge.rank99,
html #top_fan_profile_fan_of_container .stat-badge.rank99 {
  background: url('http://graphics.pop6.com/images/common/svg/top_fan_2-99.svg') no-repeat 0 0;
  background-size: contain !important;
}
html #search-results .fanof_info .stat-badge.rank1,
html .fanof_info .stat-badge.rank1,
html #passport_friends .stat-badge.rank1,
html #fanlist_page .stat-badge.rank1,
html #topfanpage .stat-badge.rank1,
html #top_fan_bid_lightbox .stat-badge.rank1,
html #top_fan_profile_my_fans_container .stat-badge.rank1,
html #top_fan_profile_fan_of_container .stat-badge.rank1 {
  background: url('http://graphics.pop6.com/images/common/svg/1_top_fan.svg') no-repeat 0 0;
  background-size: contain !important;
}
html #search-results .fanof_info .filter_box .stat-badge,
html .fanof_info .filter_box .stat-badge,
html #passport_friends .filter_box .stat-badge,
html #fanlist_page .filter_box .stat-badge,
html #topfanpage .filter_box .stat-badge,
html #top_fan_bid_lightbox .filter_box .stat-badge,
html #top_fan_profile_my_fans_container .filter_box .stat-badge,
html #top_fan_profile_fan_of_container .filter_box .stat-badge {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  bottom: 2px;
}
@-moz-document url-prefix() {
  #search-results .fanof_info .filter_box .stat-badge,
  .fanof_info .filter_box .stat-badge,
  #fanlist_page #interested_page_container .filter_box .stat-badge,
  #passport_friends .filter_box .stat-badge,
  #topfanpage .filter_box .stat-badge {
    bottom: 4px !important;
  }
}
html #fanlist_page .image_points_overlay_bar,
html [data-name="MyFansMemberListView"] .image_points_overlay_bar {
  height: 17px;
}
html #fanlist_page .filter_box .stat-badge,
html [data-name="MyFansMemberListView"] .filter_box .stat-badge,
html #fanlist_page .filter_box .points,
html [data-name="MyFansMemberListView"] .filter_box .points {
  font-size: 10px;
  line-height: 17px;
  white-space: nowrap;
}
html #top_fan_bid_lightbox .top_fan_icon_frame,
html #top_fan_profile_my_fans_container .top_fan_icon_frame,
html #top_fan_profile_fan_of_container .top_fan_icon_frame {
  background-color: transparent;
  padding: 0;
}
html #top_fan_bid_lightbox .top_fan_icon_frame[data-rank="1"],
html #top_fan_profile_my_fans_container .top_fan_icon_frame[data-rank="1"],
html #top_fan_profile_fan_of_container .top_fan_icon_frame[data-rank="1"] {
  background-color: transparent;
  padding: 0;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .image_points_overlay_bar,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .image_points_overlay_bar,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .image_points_overlay_bar {
  height: 17px;
  width: auto;
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 10px;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .points_spent .points,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .points_spent .points,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .points_spent .points {
  white-space: nowrap;
  line-height: 18px;
  font-size: 10px;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .rank_wrapper .filter_box,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .rank_wrapper .filter_box,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .rank_wrapper .filter_box {
  margin: 0;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .rank_wrapper .filter_box img,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .rank_wrapper .filter_box img,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .rank_wrapper .filter_box img {
  width: 102px;
  height: 102px;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .stat-badge,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .stat-badge,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .stat-badge {
  font-size: 10px;
  color: #93BFC5;
  left: 18px;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .stat-badge.rank1,
html #top_fan_profile_my_fans_container .top_fan_icon_frame .stat-badge.rank1,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .stat-badge.rank1 {
  color: #E95854;
}
html #top_fan_bid_lightbox .points_spent.rank0,
html #top_fan_profile_my_fans_container .points_spent.rank0,
html #top_fan_profile_fan_of_container .points_spent.rank0,
html #top_fan_bid_lightbox .points_spent.placeholder,
html #top_fan_profile_my_fans_container .points_spent.placeholder,
html #top_fan_profile_fan_of_container .points_spent.placeholder {
  display: none;
}
html #top_fan_bid_lightbox .top_fan_icon_frame_img_blank .image_points_overlay_bar,
html #top_fan_profile_my_fans_container .top_fan_icon_frame_img_blank .image_points_overlay_bar,
html #top_fan_profile_fan_of_container .top_fan_icon_frame_img_blank .image_points_overlay_bar {
  display: block;
  color: #999;
  background: #ffffff url('http://graphics.pop6.com/images/common/svg/top_fan_2-99.svg') no-repeat -1px 0 !important;
  background-size: contain !important;
}
html #top_fan_bid_lightbox .top_fan_icon_frame_img_blank {
  width: 102px;
  height: 102px;
}
html #top_fan_bid_lightbox .top_fan_icon_frame .points_spent {
  width: 49px;
  text-align: right;
}
html #top_fan_profile_my_fans_container .filter_box,
html #top_fan_profile_fan_of_container .filter_box {
  height: 96px;
}
html #top_fan_profile_my_fans_container .top_fan_icon_frame .stat-badge,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .stat-badge {
  font-size: 12px;
}
html #top_fan_profile_my_fans_container .top_fan_icon_frame .image_points_overlay_bar,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .image_points_overlay_bar {
  width: 52px;
  white-space: nowrap;
  padding: 1px 1px 2px 39px !important;
  text-align: right;
}
html #top_fan_profile_my_fans_container .top_fan_icon_frame .image_points_overlay_bar .stat-badge,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .image_points_overlay_bar .stat-badge {
  bottom: 0px;
  left: 15px;
  display: inline-block;
}
html #top_fan_profile_my_fans_container .top_fan_icon_frame .image_points_overlay_bar .points,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .image_points_overlay_bar .points {
  padding: 0;
}
html #top_fan_profile_my_fans_container .top_fan_icon_frame .image_points_overlay_bar .text,
html #top_fan_profile_fan_of_container .top_fan_icon_frame .image_points_overlay_bar .text {
  display: none;
}
html .passport_cell.small_view ._badge {
  top: -3px;
}
html .passport_cell.small_view ._actions {
  top: -2px;
}
#tmpl_home {
  /* Commenting out for now as it is causing alignment issues.
    .won_mem_info {
        [class^="sprite-tiny-"] {
            margin: 4px 0 0;
        }
    }*/
}
#tmpl_home .photo_info .status-badge.vip,
#tmpl_home .photo_info .status-badge.gold,
#tmpl_home .photo_info .status-badge.verified,
#tmpl_home .photo_info .status-badge.confirmed,
#tmpl_home .photo_info .status-badge.online,
#tmpl_home .photo_info .status-badge.imc,
#tmpl_home .photo_info .status-badge.verified-memeber {
  color: transparent;
  width: 18px;
  padding: 0;
  padding-right: 3px !important;
  margin-right: -3px;
}
#tmpl_home .photo_info .handle,
#tmpl_home .photo_info .gender {
  margin-top: -5px;
  line-height: 20px;
}
#tmpl_home .photo_info .mini_badge {
  margin: -4px 0 0 -6px;
}
#tmpl_home .photo_info .mini_badge [class^="sprite-tiny-"] {
  margin: 1px 0 0;
}
