body { width:100%; padding:0; margin:0; background:#FFFFFF; min-width:320px; font-size:12px; }
    .header { text-align:center; position:fixed; top:0px; width:100%; z-index:200; min-width:320px; }
    #hamburger, .login_flyout { display:none; }
    .w960 { width:960px; margin:0 auto; position:relative; }
    section .w960 { overflow:hidden; }
    .header .960 { overflow:hidden; }
    .logo_bar { background:#333333; height:60px; position:relative; z-index:20; }
    .logo_bar .logo { padding-top:15px; }
    .logo_tagline { display:block; left:240px; position:absolute; top:30px; color:#FFFFFF; }
    .logo_wrapper { float:left; overflow:hidden; }
    #login_wrapper { float:right; overflow:hidden; }
    .login_input_wrapper { float:left; position:relative; margin-right:10px; margin-top:10px; }
    #login_button { margin-top:9px; }
    #login_pasword_wrapper { margin-right:8px; }
    #login_submit, #login_flyout_button { background:#026AC4; background:-webkit-linear-gradient(top, rgb(40, 144, 242) 00%, rgb(2, 106, 196) 100%); background:-moz-linear-gradient(top, rgb(40, 144, 242) 00%, rgb(2, 106, 196) 100%); background:-o-linear-gradient(top, rgb(40, 144, 242) 00%, rgb(2, 106, 196) 100%); background:-ms-linear-gradient(top, rgb(40, 144, 242) 00%, rgb(2, 106, 196) 100%);  background:-linear-gradient(top, rgb(40, 144, 242) 00%, rgb(2, 106, 196) 100%); }
    #login_submit, #login_flyout_button { border:1px solid #00366D; color:#FFFFFF; font-size:11px; padding:3px 5px; cursor:pointer; }
    #login_submit:hover { background:#036BC5; }
    .flyout_link { color:#FFFFFF; cursor:pointer; display:block; padding:4px 23px; text-transform: uppercase; float:left; font-size:14px; }
    .flyout_link:hover { text-decoration:underline; }
    .fake { color:#999999; left:10px; position:absolute; top:4px; }
    .italics { font-style:italics; }
    a.forgot_password { color:#FFFFFF; display:block; margin-top:5px; text-align:right; text-decoration:none; font-size:11px;  }
    .navbar { position:fixed; z-index:110; top:60px; width:100%; }
    .navbar { background-color:rgb(255, 255, 255); background-color:rgba(255, 255, 255, 0.6); }
    .navbar ul { text-align:left; height:61px; }
    .navbar ul li { float:left; position:relative; white-space:nowrap; }
    .navbar ul li a { color:#333333; padding:23px 26px; display:inline-block; text-decoration:none; font-weight:bold; }
    .navbar ul li.join { }
    .navbar ul li.join a { }
    .navbar ul li.join, .navbar ul li:hover.join { background-color:#FA3934; }
    .navbar ul li:hover {   background-color:rgb(0, 0, 0); background-color:rgba(150, 150, 150, 0.2);  }
    .navbar ul li.join a { color:#FFFFFF; }
    .navbar ul li:hover ul { display:block; }
    .navbar ul li ul li a { color:#FFFFFF; }
    .navbar ul li ul { display:none; height:auto; left:0; position:absolute; top:100%; text-align:left; }
    .navbar ul li ul li { float:none; background:none repeat scroll 0 0 #333333;  }
    .navbar ul li ul li:hover { float:none; background:none repeat scroll 0 0 #444041;  }
    .navbar .login { display:none; }
    .navbar .home { display:none; }
    .navbar .has_secondary, .navbar .has_secondary a { cursor:pointer; }

    /* SOC-8244 - Add AVN Award News to AFF */
    #avn_ticker { background: url("http://graphics.pop6.com/images/ffadult/cover/avn_award/avn_bg.jpg"); background-position: 0 46%; background-size: 100% auto; background-color: #f7f6f6; }    
    #avn_ticker .w960 { text-align: center; padding: 20px; }
    .avn_wrapper { display: inline-block; font-family: 'open sans'; vertical-align: top; padding: 0 30px; }
    .avn_text { display: block; font-size: 40px; color: #ff3023; font-weight: bold; }
    .avn_btn { font-size: 20px; background: #ff3023; border-radius: 3px; border: 1px solid #C40000; color: #fff; font-weight: bold; width: 193px; display: block; text-align: center; padding: 6px 0; }
    .avn_btn:hover { text-decoration: none; color: #fff; }
    .french .avn_text { font-size: 33px; }
    .japanese .avn_text { font-size: 38px; }
    .portuguese .avn_text { font-size: 32px; }
    .dutch .avn_text { font-size: 36px; }

    /* for SOC-7827 ab test, need merge with current css after test */
    .ab_soc7827online .logo_bar { height:81px; }
    .ab_soc7827online .header .stats { color:#fff; float:left; clear:both; padding:10px 0; font-size:10px; }
    .ab_soc7827online .header .stats a { color:#fff; }
    .ab_soc7827online .header.scrolled .stats { display: none; }
    .ab_soc7827online .navbar { top:80px; }
    /* end of  SOC-7827 ab test */

    #outer_wrapper { overflow:hidden; position:relative; width:100%; background:#333333; }

    .preloader { margin:10px 0 0 5px; float:left; width:32px; height:32px; background:transparent url('http://graphics.pop6.com/images/ffadult/39850/loading.gif') no-repeat; }
    #fldID_butAction_1, #fldID_butAction_2 { float:left; }
    #disclaimer_single, #disclaimer_couple { clear:both; }
    .help { clear:both; color:#f00; font-size:0.8em; }
    .reg_form input.error, .recaptcha_theme_white #recaptcha_response_field.error, .reg_form select.error, .reg_form textarea.error { border-color:#f00; }
    .fldNote { font-size:10px; }
    .reg_form .fldRow .fldColumn_1 .fldNote { font-weight:normal; }
    #reg_alert {clear:both;}
    #reg_alert .close {top: -2px;}
    #reg_alert strong {font-weight: bold;}

    label {font-weight: bold}
    label.fld_checkbox, label .optional {font-weight: normal}
    .scrolled .logo_bar .logo { left:0px; top:15px; padding-top:0px; position:absolute; }
    .scrolled .navbar li.join { margin-left:245px; }
    .scrolled .navbar { background:#333333; opacity:1; top:0px; }
    .scrolled .navbar ul li a { color:#FFFFFF; }
    .scrolled .logo_bar { height:auto; }
    .scrolled .navbar ul li a { padding:23px 16px; }
    .scrolled .login { display:none; }
    .scrolled .first { display:none; }
    .scrolled .logo_tagline { display:none; }

    .hide { display:none !important; }
    .reg_form { background:none repeat scroll 0 0 #FFFFFF; display:block; position:absolute; right:10%; text-align:left; }
    .reg_form #regPage_1 { width:350px; }
    .reg_form #regPage_2 { width:385px; }
    .reg_form h2 { background:#FA3934; color:#FFFFFF; font-size:28px; font-weight:normal; padding-top:10px; line-height:25px; }
    .reg_form h3 { background:#FA3934; color:#FFFFFF; font-size:20px; font-weight:normal; padding-bottom:10px; margin-bottom:15px;  }
    .reg_form .fldRow { padding-left:30px; padding-right:30px; margin-bottom:5px; }
    .reg_form select, .reg_form input { border:1px solid #B2B2B2; color: #000000; padding-top:2px; padding-bottom:2px; padding-left:5px; }
    .reg_form .fldRow .fldColumn_1 { font-weight:bold; margin-bottom:2px; }
    .reg_form .red_btn { font-size:14px; cursor:pointer; background:#FF3E3F; background:url('http://graphics.pop6.com/images/ffadult/39850/red_btn_bg2.png'); border-radius:5px 5px 5px 5px; padding:11px 15px; border:1px solid #C40000; color:#FFFFFF; font-weight:bold; margin-bottom:10px; margin-top:10px; }
    .reg_form .fldColumn_2 { float:left; overflow:hidden; }
    .reg_form .reg_input_wrapper { overflow:hidden; }
    .reg_form .fldColInner_2 { float:left; }
    #fldID_country, #fldID_REG_sex, #fldID_looking_for_person_new { width:100%; }
    .fldErr { margin:6px 0 0 0; float:left; width:16px; height:16px; background:transparent url('http://graphics.pop6.com/images/ffadult/39850/icon_error_new_white.png') no-repeat; }
    .redbg { background:#FA3934; color:#FFFFFF; }
    #piclist { background:url('http://graphics.pop6.com/images/ffadult/39850/red_piclist_bg.jpg'); }
    #vid { background:url('http://graphics.pop6.com/images/ffadult/39850/grey_img_bg.jpg') no-repeat scroll center 0 #D9D9D9; }
    #fldRow_captcha { overflow:hidden; }
    #fldID_captcha { float:left; }
    #reg1_errors { margin:12px; padding:12px; background-color:#fcc; border:1px dotted #f00; color:#f00; }
    #tt { position:absolute; display:block; }
    #tttop { margin-left:5px; display:block; height:5px; overflow:hidden; }
    #ttcont { margin-left:5px; padding:2px 12px 3px 7px; display:block; background:#fcc; color:#f00; font:10px Arial,sans-serif; border:1px solid #f00; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:2px 2px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow:2px 2px 5px rgba(50, 50, 50, 0.75); box-shadow:2px 2px 5px rgba(50, 50, 50, 0.75); }
    #ttbot { margin-left:5px; display:block; height:5px; overflow:hidden; }
    .whitebg { background:#FFFFFF; color:#333333; }
    .sec_left { width:48%; float:left; padding-right:10px; }
    .sec_right { width:48%; float:right;  padding-left:10px; }
    section { overflow:hidden; padding-top:40px; padding-bottom:40px; }
    section p a { color:#FFFFFF; }
    section#vid p a,section#activity_feed p a{ color:#5C5C5C; }
    section#vid_seo p a{ color:#000; }
    section img { width:100%; }
    #piclist .stats { font-weight:bold; margin-bottom:40px; font-size:15px; }
    #piclist .stats a { color:#FFFFFF; }
    .blue_btn { font-size:18px; cursor:pointer; background:#5FC4FC; background:url('http://graphics.pop6.com/images/ffadult/39850/blue_btn_bg.png'); border-radius:3px 3px 3px 3px; padding:7px 15px; border:1px solid #5667C1; }
    a.blue_btn { display:inline-block; font-weight:bold; color:#FFFFFF; text-decoration:none; }
    .blue_btn:hover { background:#5FC4FC; }
    .red_btn { font-size:18px; cursor:pointer; background:url('http://graphics.pop6.com/images/ffadult/39850/red_btn_bg2.png'); border-radius:3px 3px 3px 3px; padding:7px 15px; border:1px solid #C40000; }
    a.red_btn { display:inline-block; font-weight:bold; color:#FFFFFF; text-decoration:none; }
    .red_btn:hover { background:#FE4445; }
    .main { background-color: transparent; background-position: center 60px; background-repeat: no-repeat; display: block; margin: 0 auto; text-align: center; z-index:1; }
    .main { max-width:1600px; height:766px; position: relative; }
    .grey_bg { background:#333333; }
    #piclist .sec_left img { width:100%; max-width:406px; height:auto; }
    #piclist_to_move { display:none; }




    h1, #mobile h2, #vid h2, #piclist h2, #vid_seo h2, #activity_feed h2 { margin-top:40px; font-size:24px; font-weight:normal; letter-spacing:-1px; line-height:30px; margin-bottom:40px; }
    h1 .bigger, h2 .bigger { font-size:48px; font-weight:bold; }
    #mobile h2 { line-height:34px; font-size:24px; }
    #mobile h2 .bigger { font-size:62px; letter-spacing:-4px; line-height:58px; }
    #mobile .subtext { font-size:20px; font-weight:bold; margin-bottom:30px; }
    .sec_right p, .sec_left p { font-size:16px; font-weight:bold; margin-bottom:40px; }
    #piclist { color:#FFFFFF; }
    #activity_feed { color:#5C5C5C; }
    .whitebg h2, #vid h2 { color:#FA3934; }
    #vid { color:#5C5C5C; }
    #vid h2 { margin-bottom:10px; font-size:30px; line-height:28px; }
    #vid h2 .bigger { font-size:41px; letter-spacing:-2px; line-height: 38px; }
    #vid .sec_right { margin-bottom:30px; }
    #the_vid { border:8px solid #FFFFFF; border-radius:8px 8px 8px 8px; float:right; margin-right:10px; margin-top:50px; box-shadow:0px 0px 10px #888888; width:440px; height:250px; }
    #feed_wrapper { position:relative; height:500px; overflow:hidden; }
    #feed_wrapper img { position:relative; top:0; left:0; }
    #mobile_pics img { width:99%; margin-top:0px; }
    .hero h1 { text-align:left;color:#FA3934; margin-top:40px; font-size:52px; font-weight:normal; letter-spacing:-3px; line-height:52px; margin-bottom:0px; }
    .main .hero h1 .bigger { font-size: 47px; font-weight:bold; letter-spacing:-3px; line-height: 60px; margin-top: -5px; text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5); color: #fff; }
    .hero_text { top:530px; left:0; position:absolute; text-align:left; }
    .hero_text a { margin-left:50px; margin-top:15px; }
    .hero { width:960px; position:relative; margin:0 auto; }
    section { min-width:960px; }
    #section_cont { background:#FFFFFF; }
    .reg_form { right:0px; top:138px; }
    .has_notice .reg_form { top:179px; }
    .reg_form .fldRow { padding-left:20px; padding-right:20px; }
    .reg_form h2 { padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:2px; }
    .reg_form #regPage_2 h2 { padding-bottom:10px; margin-bottom:5px; }
    .reg_form h3 { padding-left:20px; padding-right:20px; }
    #fldID_butAction_2 { margin-bottom:8px; margin-top:5px; }
    #fldID_butAction_1 { margin-top:5px; margin-bottom:0px; }
    .fld_checkbox { cursor:pointer; }
    .ie .navbar ul { height:60px; }
    .ie .reg_form .fld_checkbox input { border:none; }
    .ie #login_submit, .ie #login_flyout_button { padding:5px 7px 4px 7px; }
    .chrome #login_submit, .chrome #login_flyout_button { padding:4px 7px 5px 7px; }
    #activity_feed h2 { margin-top:15%; line-height:34px; }
    #activity_feed h2 .bigger { font-size:54px; letter-spacing:-3px; line-height:50px; }
    #piclist h2 { margin-top:90px; line-height:36px;  }
    #piclist h2 .bigger { font-size:45px; letter-spacing:-3px; line-height:41px; }
    #vid h2 { margin-top:30px; }
    #vid .sec_left { width:49%; position:relative; }
    #vid_seo { background-color:#FFFFFF; }
    #vid_seo h2 { color:#FA3934; margin-top:0px; line-height:26px; }
    #vid_seo h2 .bigger { font-size:42px; letter-spacing:-2px; line-height:38px; }
    #vid #play_button { cursor:pointer; display:block; left:45%; margin:0 auto; position:absolute; width:74px; top:37%; }
    .done #play_wrapper { display:block; }
    #play_wrapper { height:84%; margin-top:50px; max-width:480px; position:absolute; text-align:center; top:0; width:96%; display:none; }
    #mobile h2 { margin-top:80px; }
    #fldID_title, #fldID_profile { width:305px; }
    .reg_right_wrapper { background:#FFFFFF; padding-bottom: 10px; }
    #piclist .sec_left { text-align:right; overflow:hidden; }
    .my_piclist_cell { float:left; height:200px; width:200px; margin-bottom:5px; margin-right:5px; }
    .piclist_moved { width:200px; height:200px; }
    #piclist_moved2 { margin-bottom:4px; }
    #piclist_left { width:414px; float:right; overflow:hidden; }
    .piclist_cell { position:relative; }
    .piclist_cell a.piclist_image { display:block; }
    a.piclist_profile { width:100%; height:50%; font-size:16px; bottom:0px; color:#FFFFFF; display:block; font-weight:bold; right:0px; position:absolute; text-align:left; text-decoration:none; }
    a.piclist_profile { background:url('http://graphics.pop6.com/images/ffadult/39850/piclist_overlay4.png') no-repeat scroll 0 0 transparent; padding-top:14%; background-size:100%; }
    .piclist_profile .piclist_profile_data {  }
    .piclist_profile .piclist_handle {  bottom:21%; display:block; left:5%; position:absolute; }
    .piclist_profile .piclist_age_gender { bottom:3.5%; left:13%; position:absolute; font-size:14px; }
    .piclist_profile .piclist_separator { display:none; }
    .piclist_profile .piclist_gender { display:none; }
    .piclist_profile .piclist_location { display:none; }
    .piclist_moved a.piclist_profile { display:block; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s; opacity:0; }
    .piclist_moved:hover a.piclist_profile { opacity:1;}
    .mosaicbg { height:956px; max-width:1600px; background-color:#FFFFFF; background-repeat:no-repeat; display:block; margin:0 auto; text-align:center; z-index:1; background-image:url("http://graphics.pop6.com/images/ffadult/39850/mosaic4.jpg");  padding-bottom:0px; }
    a.mosaic_button { cursor:pointer; background:url("http://graphics.pop6.com/images/ffadult/39850/button_bg.png") repeat scroll 0 0 transparent; border:3px solid #7B0002; color:#FFFFFF; display:block; font-size:44px; margin:30px auto 0; padding:44px 0; text-decoration:none; width:600px; }
    #join_marker { margin-top:150px; }
    #join_wrapper { opacity:0; width:100%; max-width:none; z-index:100; text-align:center; position:fixed; top:200px; }
    #join_wrapper img { width:auto; }
    a.floating_reg_anchor { display:block; left:100px; position:absolute; top:210px; }
    .reg_form_head { background:#FA3934; }

    .chinese .hero h1 { line-height:62px; }
    .chinese .hero .bigger { line-height:80px; }
    .chinese #vid h2 .bigger { line-height: 40px; padding:5px 0; }
    .dutch .logo_wrapper { text-align:left; }
    .dutch .logo_bar .logo { padding-top:8px; float:none; }
    .dutch .logo_tagline { position:relative; left:auto; top:auto; }
    .dutch .navbar ul li a { padding: 23px 22px; }
    .dutch .scrolled .logo_bar .logo { padding-top:0px; }
    .dutch .scrolled .navbar ul li a { padding:23px 12px; }
    .french .navbar ul li a { padding:23px 19px; }
    .french .logo_wrapper { text-align:left; }
    .french .logo_bar .logo { padding-top:8px; float:none; }
    .french .logo_tagline { position:relative; left:auto; top:auto; }
    .french .scrolled .logo_bar .logo { padding-top:0px; }
    .french .scrolled .navbar ul li a { padding:23px 8px; }
    .german .reg_form #regPage_1 { width:349px; }
    .german .hero h1 .bigger { font-size:45px; }
    .german .navbar ul li a { padding:23px 22px; }
    .german .scrolled .navbar ul li a { padding:23px 10px; }

    .korean .scrolled .navbar ul li a { padding:23px 14px; }
    .korean .hero h1 { margin-top:10px; }
    .korean .hero h1 .bigger { line-height:82px; }

    .italian #piclist h2 { font-size:23px; }

    .japanese .hero h1 .bigger { font-size:54px; }
    .japanese .hero h1 { line-height:54px; }

    .portuguese .navbar ul li a { padding:23px 19px; }
    .portuguese .logo_wrapper { text-align:left; }
    .portuguese .logo_bar .logo { padding-top:8px; float:none; }
    .portuguese .logo_tagline { position:relative; left:auto; top:auto; }
    .portuguese .scrolled .logo_bar .logo { padding-top:0px; }
    .portuguese .scrolled .navbar ul li a { padding:23px 11px; }

    .spanish .navbar ul li a { padding:23px 20px; }
    .spanish .logo_wrapper { text-align:left; }
    .spanish .logo_bar .logo { padding-top:8px; float:none; }
    .spanish .logo_tagline { position:relative; left:auto; top:auto; }
    .spanish .scrolled .logo_bar .logo { padding-top:0px; }
    .spanish .scrolled .navbar ul li a { padding:23px 11px; }
    .spanish .login_input_wrapper, .spanish #login_password_wrapper { margin-right:4px; }
    .spanish .hero h1 { font-size: 46px; }

    .swedish .navbar ul li a { padding:23px 23px; }
    .swedish .scrolled .navbar ul li a { padding:23px 10px; }

    .numbers { color: #fff; background: #333333; display: inline-block; padding: 4px 2px; font-size: 16px; }
    .numbers .num { font-weight: bold; }
    .broadcasting { padding-top: 10px; }
    .broadcasting a { display: inline-block; color: #fff; border: 2px solid #fff; font-weight: bold; padding: 8px; border-radius: 4px; font-size: 14px; margin: 0; white-space: nowrap; }
    .broadcasting i { width: 24px; height: 24px; }
    .main_hero_text { color: #fff; }
    .hero_text { top: 500px; margin-right: 360px; }
    .bg_gradient { background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2)); width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

    /*===== Footer ========================================================================================================================*/
    #footer { background-color:#FEFEFE; padding:20px 0; position:relative; z-index:300; text-align:left; clear: both;}
    #footer:after { content:''; display:block; clear:both; }
    #footer .wrapper {margin:0 auto; width:960px; }
    #footer, #footer a, footer p { color:#666666; font-size:10px;  }
    #footer ul { float:left; list-style:none; width:31.9149%;/* 300/940 */ }

    #footer ul li {margin-bottom: 4px;}

    #footer a { text-decoration:none; }
    #footer a:hover { text-decoration:underline; }
    /*#footer .disclaimer,*/ #footer #copyright { float:left; margin:2px; color: #cccccc;}

    #footer .disclaimer { color: #cccccc; font-size: 12px;}

    #footer .copy { float:left; padding-left:1%; padding-bottom: 15px; width:47.8723%;/* 450/940 */ }
    #footer #copyright .admin { display:none; }
    #footer .icons { float:right; text-align:left; padding-bottom: 15px;}
    #footer .icons .pb20 { display:none; }
    #footer .icons .godaddy { padding-bottom:10px; }
    #footer .wrapper .seo_wrapper ul { float:none; width:715px; }
    #footer .neticongroup { display:inline; font-size:12px; margin-right:20px; }
    #footer .neticongroup a, #footer .share_story a { font-size:12px; }
    #footer .share_story { font-size:12px; margin:10px 0; }
    /*#footer #twitter_icon { left:4px; position:relative; top:6px; }*/

    #footer .mt10 { color: #cccccc; }
    #footer .admin { font: bold 10px Arial !important; color: red !important;}

    #footer .languages {
        margin-top:35px;
        padding:0px;
    }
    #footer .languages li { position:relative; float:left; }
    #footer .languages li a { display:block; color:#000000; font-size:12px; }
    #footer .languages li a.selected { float:left; padding-right:11px; text-decoration:none; background:url(http://graphics.pop6.com/images/ffadult/sprite_newaff.png) no-repeat right -648px; cursor:pointer; }
    #footer .languages li ul { display:none; position:absolute; bottom:100%; left:-10px; padding:3px 10px; background:#FFFFFF; border:1px solid #CECECE; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow:0 0 1px 1px #CECECE; -webkit-box-shadow:0 0 1px 1px #CECECE; box-shadow:0 0 1px 1px #CECECE; }
    #footer .languages li:hover ul { display:block; }
    #footer .languages li ul li { float:none; text-align:left; }
    #footer ul.languages, #footer .languages li ul { width:auto; }

    @media (max-width:1580px){
      .mosaicbg { background-position:-10px -6px; }
    }

    @media (min-width:1600px){
      .main { background-size: 110%; background-position: 0 0; }
    }

    @media (min-width:981px){
      .main { background-image: url("http://graphics.pop6.com/images/ffadult/39850/AdultFriendFinderSexDatingBig2.jpg"); }
      .chinese .hero_text { top:509px; }
      .german .hero_text { top:520px; }
      .french .hero_text { top:480px; }
      .french .hero h1 .bigger { font-size:45px; }
      .portuguese .hero_text { top:480px; }
      .korean .hero h1 .bigger { line-height:80px; font-size: 52px; } 
    }

    @media (max-width:980px){
      .w960 { width:auto; max-width:960px; }

      /* for SOC-7827 ab test, need merge with current css after test */
      .ab_soc7827online .logo_bar { height:60px; }
      .ab_soc7827online .header .stats { display: none; }
      /* end of  SOC-7827 ab test */

      .navbar { backface-visibility:hidden; left:0; transform:translate3d(-100%, 0px, 0px); width:220px; -webkit-transform:translate3d(-100%, 0, 0); -moz-transform:translate3d(-100%, 0, 0); -ms-transform:translate3d(-100%, 0, 0); -o-transform:translate3d(-100%, 0, 0); -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; }
      .navbar { background:#333333; position:absolute; top:0; }
      .navbar ul { height:auto; margin-top:60px; }
      .navbar ul li { height:57px; overflow:hidden; transition:height 0.5s; - webkit.communities-transition:height 0.5s; border-top:1px solid #2A2A2A; float:none; text-align:left; }
      .open_submenu.communities  .navbar ul li.communities  { height:410px; }
      .open_submenu.adult_dating .navbar ul li.adult_dating { height:524px; }

      .navbar ul li.first { display:none; }
      .navbar ul li a { padding:20px 15px; font-size:14px; color:#FFFFFF; display:block; }
      .navbar ul li ul { display:block; margin-top:3px; position:relative; top:0; width:100%; }
      .navbar ul li ul li { background: url("http://graphics.pop6.com/images/ffadult/40082/dash3.jpg") no-repeat scroll 17px center transparent; }
      .navbar ul li ul li a { padding:20px 30px; display:block; }
      .navbar ul li ul li:hover { float:none; background:url("http://graphics.pop6.com/images/ffadult/40082/dash3.jpg") no-repeat scroll 17px center #444041; }
      .navbar .home { display:block; }
      .navbar .has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/plus.png') no-repeat scroll 190px center transparent; }

      .open_submenu.communities .navbar .communities.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 182px center transparent; }
      .open_submenu.adult_dating .navbar .adult_dating.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 182px center transparent; }

      .open_submenu.communities .navbar .communities.has_secondary ul li a { background:none; }
      .open_submenu.adult_dating .navbar .adult_dating.has_secondary ul li a { background:none; }

      .navbar .has_secondary ul li a { background:none; }
      .open_submenu .navbar .has_secondary ul li a { background:none; }

      .scrolled .navbar { backface-visibility:hidden; left:0; transform:translate3d(-100%, 0px, 0px); width:220px; -webkit-transform:translate3d(-100%, 0, 0); -moz-transform:translate3d(-100%, 0, 0); -ms-transform:translate3d(-100%, 0, 0); -o-transform:translate3d(-100%, 0, 0); -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; }
      .scrolled .navbar { background:#333333; position:absolute; top:0; }
      .scrolled .navbar ul { height:auto; margin-top:60px; }
      .scrolled .navbar ul li { height:57px; overflow:hidden; transition:height 0.5s; - webkit.communities-transition:height 0.5s; border-top:1px solid #2A2A2A; float:none; text-align:left; }
      .open_submenu.scrolled.communities .navbar ul li.communities  { height:410px; }
      .open_submenu.scrolled.adult_dating .navbar ul li.adult_dating { height:524px; }
      .scrolled .navbar ul li.first { display:none; }
      .scrolled .navbar ul li a { padding:20px 15px; font-size:14px; color:#FFFFFF; display:block; }
      .scrolled .navbar ul li ul { display:block; margin-top:3px; position:relative; top:0; width:100%; }
      .scrolled .navbar ul li ul li { background: url("http://graphics.pop6.com/images/ffadult/40082/dash3.jpg") no-repeat scroll 17px center transparent; }
      .scrolled .navbar ul li ul li a { padding:20px 30px; display:block; }
      .scrolled .navbar ul li ul li:hover { float:none; background:url("http://graphics.pop6.com/images/ffadult/40082/dash3.jpg") no-repeat scroll 17px center #444041; }
      .scrolled .navbar .home { display:block; }
      .scrolled .navbar .has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/plus.png') no-repeat scroll 190px center transparent; }
      .scrolled .navbar .has_secondary ul li a { background:none; }
      .open_submenu.scrolled .navbar .has_secondary ul li a { background:none; }
      .scrolled .logo_bar .logo { top:2px; }
      .scrolled .logo_tagline { display:block; }
      .scrolled .logo_bar { height:60px; }
      .scrolled .login { display:block; }
      .scrolled .navbar .login { display:none; }
      .logo_bar .logo { margin-left:10px; display:block; float:none; padding-top:8px; }
      .logo_tagline { margin-left:10px; position:relative; left:auto; top:auto; }
      section { padding-left:10px; padding-right:10px; }
      h1 {font-size: 20px; }
      h1 .bigger, h2 .bigger { font-size: 40px; }
      #the_vid { width:92%; }
      #vid h2 {line-height:24px; }
      #vid h2 .bigger { font-size:32px; }
      .hero { width:auto; position:static; }
      body #footer, #footer .wrapper { width:auto; min-width:200px; }
      section { min-width:0; }
      .my_piclist_cell { width:48%; height:auto; max-width:200px; }
      #piclist_left { width:96%; }
      #piclist .sec_left img { max-width:200px; }
      #piclist h2 { margin-top:8%; }
      #piclist h2 { line-height:30px;  }
      #piclist h2 .bigger { font-size:44px; }
      .main { background-image: url("http://graphics.pop6.com/images/ffadult/39850/AdultFriendFinderSexDatingBig_s.jpg"); }
      .main { background-size:100%; padding-bottom:67%; height:auto; position:relative; }
      .reg_form { right:0; top:59px; }
      .has_notice .reg_form {top:100px; }
      .hero_text { bottom:4%; top:auto; left:10px; margin: 0; }
      .hero h1 { font-size:42px; line-height:46px; }
      .hero h1 .bigger { font-size:66px; }
      #vid #play_button { bottom:35%; top:auto; right:40%; left:auto; }
      .mosaicbg { padding:0; }
      #feed_wrapper { height:auto; }
      #feed_wrapper img { top:0 !important; }
      a.floating_reg_anchor { top:0px; }
      #vid_seo h2 .bigger { font-size:36px; letter-spacing:-1px; }

      .chinese .hero h2 { line-height:52px; }

      .dutch #login_username_input, .dutch #login_password_input { width:116px; }
      .dutch .navbar ul li a { padding:20px 15px; }
      .dutch .navbar ul li ul li a { padding:20px 30px; }
      .dutch .scrolled .navbar ul li a { padding:20px 15px; }
      .dutch .scrolled .logo_bar .logo { padding-top:8px; }
      .dutch .scrolled .navbar ul li ul li a { padding:20px 30px; }

      .french .navbar { width:240px; }
      .french .show_nav #inner_wrapper { -webkit-transform:translate3d(240px, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(240px, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(240px, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(240px, 0, 0) scale3d(1, 1, 1); transform:translate3d(240px, 0, 0) scale3d(1, 1, 1); }
      .french .show_nav #inner_wrapper { left:240px; }
      .french .navbar ul li a { padding:20px 14px; }
      .french .logo_tagline { margin-left:10px; }
      .french .logo_bar .logo { float:none; padding-top:8px; }
      .french .scrolled .logo_bar .logo { padding-top:8px; }
      .french .scrolled .navbar ul li a { padding:20px 13px; }
      .french #login_username_input, .french #login_password_input { width:116px; }
      .french .navbar ul li ul li a { padding:20px 30px; }
      .french .navbar .has_secondary ul li a { background:none repeat scroll 0 0 rgba(0, 0, 0, 0); }
      .french .scrolled .navbar ul li a { padding:20px 14px; }
      .french .scrolled .navbar ul li ul li a { padding:20px 30px; }
      .french .navbar .has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/plus.png') no-repeat scroll 210px center transparent; }
      .french .open_submenu.communities .navbar .communities.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 202px center transparent; }
      .french .open_submenu.adult_dating .navbar .adult_dating.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 202px center transparent; }
      .french .open_submenu.communities .navbar .communities.has_secondary ul li a { background:none; }
      .french .open_submenu.adult_dating .navbar .communities.has_secondary ul li a { background:none; }
      .french .open_submenu.communities .navbar .adult_dating.has_secondary ul li a { background:none; }
      .french .open_submenu.adult_dating .navbar .adult_dating.has_secondary ul li a { background:none; }
      .french .navbar .has_secondary ul li a { background:none; }

      .german .hero h1 .bigger { font-size:58px; }
      .german .navbar ul li a { padding:20px 15px; }
      .german .scrolled .navbar ul li a { padding:20px 15px; }
      .german .navbar ul li ul li a { padding:20px 30px; }
      .german .scrolled .navbar ul li ul li a { padding:20px 30px; }

      .korean .scrolled .navbar ul li a { padding:20px 15px; }
      .korean .scrolled .navbar ul li ul li a { padding:20px 30px; }

      .japanese .hero h1 .bigger { font-size:42px; }
      .japanese .hero h1 { line-height:40px; }

      .portuguese .navbar ul li a { padding:20px 14px; }
      .portuguese .navbar ul li ul li a { padding:20px 30px; }
      .portuguese .scrolled .navbar ul li a { padding:20px 14px; }
      .portuguese .scrolled .navbar ul li ul li a { padding:20px 30px; }

      .portuguese .logo_tagline { margin-left:10px; }
      .portuguese .logo_bar .logo { float:none; padding-top:8px; }
      .portuguese .scrolled .logo_bar .logo { padding-top:8px; }
      .portuguese #login_username_input, .portuguese #login_password_input { width:116px; }

      .spanish .navbar ul li a { padding:20px 10px; }
      .spanish .scrolled .navbar ul li a { padding:20px 1px; }
      .spanish .logo_tagline { margin-left:10px; }
      .spanish .logo_bar .logo { float:none; padding-top:8px; }
      .spanish .scrolled .logo_bar .logo { padding-top:8px; }
      .spanish #login_username_input { width:113px; }
      .spanish #login_password_input { width:106px; }
      .spanish .navbar ul li ul li a { padding:20px 30px; }
      .spanish .login_input_wrapper, .spanish #login_password_wrapper { margin-right:12px; }
      .spanish .show_nav #inner_wrapper { -webkit-transform:translate3d(305px, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(305px, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(305px, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(305px, 0, 0) scale3d(1, 1, 1); transform:translate3d(305px, 0, 0) scale3d(1, 1, 1); }
      .spanish .show_nav #inner_wrapper { left:305px; }
      .spanish .navbar .has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/plus.png') no-repeat scroll 275px center transparent; }
      .spanish .open_submenu.communities .navbar .communities.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 267px center transparent; }
      .spanish .open_submenu.adult_dating .navbar .adult_dating.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 267px center transparent; }
      .spanish .open_submenu.communities .navbar .communities.has_secondary ul li a { background:none; }
      .spanish .open_submenu.adult_dating .navbar .communities.has_secondary ul li a { background:none; }
      .spanish .open_submenu.communities .navbar .adult_dating.has_secondary ul li a { background:none; }
      .spanish .open_submenu.adult_dating .navbar .adult_dating.has_secondary ul li a { background:none; }
      .spanish .navbar .has_secondary ul li a { background:none; }
      .spanish .navbar { width:305px; }

      .swedish .hero h1 .bigger { font-size:62px; }
      .swedish .hero h1 { line-height:40px; }
      .swedish .navbar ul li ul li a { padding:20px 30px; }
      .swedish .navbar ul li a { padding:20px 15px; }
      .swedish .scrolled .navbar ul li ul li a { padding:20px 30px; }
      .swedish .scrolled .navbar ul li a { padding:20px 15px; }

      .italian .navbar .has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/plus.png') no-repeat scroll 220px center transparent; }
      .italian .open_submenu.communities .navbar .communities.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 212px center transparent; }
      .italian .open_submenu.adult_dating .navbar .adult_dating.has_secondary a { background:url('http://graphics.pop6.com/images/ffadult/40082/minus.png') no-repeat scroll 212px center transparent; }
      .italian .open_submenu .navbar .has_secondary ul li a { background:none; }

      .main { background-position:center 60px; }
      .scrolled .logo_bar .logo, .logo_bar .logo { left:auto; padding-top:8px; position:relative; top:auto; }

      #inner_wrapper { left:0 !important; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transition:-webkit-transform 500ms ease; -moz-transition:-moz-transform 500ms ease; -o-transition:-o-transform 500ms ease; transition:transform 500ms ease; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; backface-visibility:hidden; }
      #inner_wrapper { left:0; position:relative; width:100%; }
      .show_nav #inner_wrapper { -webkit-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); }
      .show_nav #inner_wrapper { left:220px; }
      .italian .navbar { backface-visibility:hidden; left:0; transform:translate3d(-100%, 0px, 0px); width:250px; -webkit-transform:translate3d(-100%, 0, 0); -moz-transform:translate3d(-100%, 0, 0); -ms-transform:translate3d(-100%, 0, 0); -o-transform:translate3d(-100%, 0, 0); -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; }
      .italian .show_nav #inner_wrapper { -webkit-transform:translate3d(250px, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(250px, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(250px, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(250px, 0, 0) scale3d(1, 1, 1); transform:translate3d(250px, 0, 0) scale3d(1, 1, 1); }
      .italian .show_nav #inner_wrapper { left:250px; }
      #hamburger { display:block; float:left; cursor:pointer; }
      #hamburger img { padding:7px; }
      #the_vid { height:auto; }
      #activity_feed h2 { line-height:30px; }
      #activity_feed h2 .bigger { font-size:46px; }
      #footer .languages li a { font-size:14px; padding:10px; }
      #footer .languages li a.selected { padding: 0px 11px 0px 0px; }

    }

    @media (min-width: 801px) and (max-width: 900px) {
      .main .hero h1 .bigger { width: 418px; }

      #footer .wrapper > ul {
        padding-left: 1%;
      }
    }

    @media (max-width:800px){
      .navbar ul { margin-top:45px; }
      .scrolled .navbar ul { margin-top:45px; }
      .login_flyout { display:block; float:right; margin-right:10px; margin-top:10px; overflow:hidden; }
      #reg_flyout_link { border-right:1px solid #2A2A2A; }
      .logo_tagline, .scrolled .logo_tagline { display:none; }
      .login, .scrolled .login { display:none; }
      .open_login .login { display:block; background:#333333; padding-left:10px; position:absolute; right:0; top:45px; }
      .open_reg .reg_form { display:block; position:absolute; right:0; top:45px; }
      .sec_left { float:none; width:100%; }
      .sec_right { float:none; width:100%; }
      #piclist .sec_left { text-align:center; position:relative; }
      #activity_feed h2, #mobile h2 { margin-top:0px; }
      #activity_feed img { max-width:480px; margin-top:0px; }
      #activity_feed .sec_right, #mobile .sec_right { text-align:center; }
      #activity_feed .sec_right { padding-left:0px; }
      #the_vid { width:92%; float:none; margin-right:0; margin-top:9px; max-width:480px; }
      #vid .sec_left { text-align:center; width:100%; }
      #mobile_pics img { max-width:481px; }
      #piclist .sec_left { margin:0 auto; }
      #piclist_left { overflow:hidden; width:100%; max-width:615px; float:none; margin:0 auto; }
      .my_piclist_cell { width:32%; margin:3px; }
      #feed_wrapper { margin-top:30px; }
      .reg_form { display:none; }
      .main { padding-bottom:67%; }
      .hero h1 { font-size:38px; line-height:40px; }
      .hero h1 .bigger { font-size:60px; }
      .hero_text { bottom:5%; }
      #play_wrapper { height:96%; margin-top:9px; width:97%; max-width:none; }
      #vid #play_button { bottom:38%; right:44.5%; }
      #join_wrapper img { width:65%; }
      a.mosaic_button { font-size:34px; padding:25px 0; width:400px; }
      .scrolled .navbar li.join { margin-left:0px; }
      #piclist h2 { margin-bottom:470px; margin-top:0; }
      #piclist .sec_left { position:absolute; top:90px; }
      #activity_feed h2 { margin-bottom:780px; margin-top:0; line-height:34px; }
      #activity_feed h2 .bigger { font-size:54px; }
      #activity_feed .sec_right { position:absolute; top:90px; padding-left:0px; }
      #activity_feed img { margin-top:0; width:100%; max-width:480px; }
      #feed_wrapper { margin-top:0px; }
      #vid h2 { margin-bottom:360px; margin-top:0; }
      #vid .sec_left { position:absolute; top:75px; }
      #mobile h2 { margin-bottom:630px; margin-top:0; }
      #mobile .sec_right { position:absolute; top:90px; padding-left:0px; }
      #mobile img { margin-top:0; width:100%; max-width:471px; }
      #seo_nav li { float:none !important; }
      #vid_seo img { margin-top:0; max-width:471px; width:100%; }
      #vid_seo .sec_left { position:absolute; top:75px; padding-right:0px; text-align:center; }
      #vid_seo h2 { margin-bottom:508px; margin-top:0; }
      #footer .wrapper ul, #footer .wrapper .copy, #footer .wrapper .icons { float:none !important; }
      #footer .wrapper .icons { text-align:left; }
      #footer .wrapper .seo_wrapper ul { text-align:center !important; width:auto !important; }
      .sec_right { padding-left:0px; }
      #hamburger img { padding:0; }
      .logo_bar, .scrolled .logo_bar { height:45px; }
      .main { background-position:center 45px; }
      #footer .copy,
      #footer ul,
      #footer .wrapper .icons {
        padding-left:4%;
        padding-right:4%;
        width:91%;
      }
      .reg_form select, .reg_form input { padding:10px 7px; font-size:16px; }
      .reg_form #regPage_1 { width:342px; }
      .fldErr { margin: 15px 0 0 0; }
      .fld_checkbox { display:inline-block; margin-bottom:10px; margin-top:10px; width:140px; }
      .login_input_wrapper input { font-size:16px; padding:8px; }
      .fake { font-size:16px; top:8px; }
      #login_button input { font-size: 18px; padding:8px 10px; }
      a.forgot_password { margin-top:0px; padding:10px 0px; font-size:14px; }

      .chinese .hero h1 { line-height:46px; }
      .chinese #piclist .sec_left { top:120px; }
      .chinese #vid_seo .sec_left { top:105px; }
      .chinese #mobile .sec_right { top:205px; }
      .chinese #mobile h2 .bigger { line-height:58px; }
      .chinese #mobile h2 { line-height:46px; }
      .chinese .fld_checkbox_left { width:95px; }
      .chinese .fld_checkbox_right { width:160px; }

      .french .hero h1 .bigger { font-size:50px; }
      .french .hero h1 { line-height:34px; font-size:34px; }
      .french #login_username_input, .french #login_password_input { width:auto; }
      .french #login_username_wrapper, .french #login_pasword_wrapper { width:35%; }
      .french #vid_seo .sec_left { top:85px; }

      .german #activity_feed .sec_right { top:105px; }

      .italian #mobile .sec_right { top:110px; }

      .portuguese #login_username_input, .portuguese #login_password_input { width:auto; }

      .spanish #login_username_input, .spanish #login_password_input { width:auto; }

      .swedish .hero h1 .bigger { font-size:52px; }
      .swedish .hero h1 { line-height:36px; }
    }

    @media (max-width:600px){
      #piclist h2 { margin-bottom:79%; }
      .hero h1 { font-size:32px; line-height:40px; }
      .hero h1 .bigger { font-size: 50px; }
      .main { padding-bottom:70%; }
      .hero_text { bottom:3%; }
      .my_piclist_cell { margin:2px; }
      #join_wrapper img { min-width:250px; width:65%; }
      a.mosaic_button { font-size:24px; padding:10px 0; width:250px; margin:10px auto 0; }
      #vid #play_button { bottom:36%; right:41%; }
      #activity_feed h2 { line-height:28px; }
      #activity_feed h2 .bigger { font-size:44px; letter-spacing:-2px; }

      .chinese .hero h1 { line-height:42px; }

      .dutch #vid .sec_left { top:100px; }
      .dutch .flyout_link { padding:4px 12px; }

      .french .hero h1 .bigger { font-size:36px; }
      .french .hero h1 { line-height:27px; font-size:26px; }
      .french .flyout_link { padding:4px 16px; }
      .french #piclist .sec_left { top:130px; }
      .french #vid .sec_left { top:105px; }

      .german .hero h1 .bigger { font-size:54px; }
      .german .hero h1 { line-height: 36px; }
      .german .flyout_link { padding:4px 20px; }
      .german #activity_feed .sec_right { top:90px; }

      .japanese .hero h1 .bigger { font-size:36px; }
      .japanese .hero h1 { line-height:32px; font-size:28px; }

      .portuguese #vid .sec_left { top:105px; }

      .spanish .flyout_link { padding:4px 15px; }
      .spanish #vid .sec_left { top:95px; }

      .swedish .hero h1 .bigger { font-size:50px; }
      .swedish .hero h1 { line-height:34px; }
      .swedish .flyout_link { padding:4px 15px; }
    }

    @media (max-width:550px){
      #vid h2 { margin-bottom:75%; }
      #mobile h2 { margin-bottom:120%; }
      #vid_seo h2 { margin-bottom:111%; }
      #mobile img { width:95%; }
      .login_flyout { background:#333333; border-top:1px solid #2A2A2A; border-bottom:1px solid #2A2A2A; position:absolute; top:35px; width:100%; }
      .flyout_link { padding:10px 0px; text-align:center; width:49.8%; margin:5px 0px; }
      .main { background-position:center 92px; padding-bottom:79%; }
      .open_login .login, .open_reg .reg_form { top:91px; }
      #vid #play_button { bottom:36%; right:41%; }
      .navbar ul { margin-top:93px; }
      .main.open_reg { background-image:none; padding-bottom:0;  height:auto; }
      .header.open_reg { position:relative; margin-bottom:47px; }
      .open_reg .reg_form { position:relative; top:0; border-bottom:1px solid #CCCCCC; }
      .open_reg .reg_form #regPage_1, .open_reg .reg_form #regPage_2 { width:auto; }
      .hide_sections { display:none; }
      #login_username_wrapper, #login_pasword_wrapper { width:38%; }
      #login_username_wrapper input, #login_pasword_wrapper input { width:95%; }
      #login_button { width:14%; }
      .reg_form h2, .reg_form h3, .reg_form .fldRow { padding-left:60px; }
      #login_username_wrapper, #login_pasword_wrapper { width:39%; }
      #login_username_wrapper input, #login_pasword_wrapper input { width:89%; }
      #login_button { width:9%; }

      .dutch .flyout_link { padding:10px 0px; }

      .french #login_username_wrapper input, .french #login_pasword_wrapper input { width:89%; }
      .french .flyout_link { padding:10px 0px; }

      .german .flyout_link { padding:10px 0px; }
      .german #vid .sec_left { top:110px; }

      .spanish .flyout_link { padding:10px 0px; }
      .spanish #login_username_wrapper, .spanish #login_pasword_wrapper { width:37%; }
      .spanish #piclist .sec_left { top:120px; }

      .swedish .flyout_link { padding:10px 0px; }
    }

    @media (max-width:500px){
      #activity_feed h2 { margin-bottom:163%; }
      .chinese #mobile .sec_right { top:190px; }
      .spanish #login_username_input, .spanish #login_password_input { width:89%; }
    }

    @media (max-width:480px){
      .my_piclist_cell { width:31.7%; }
      h1 .bigger, h2 .bigger { font-size:28px; }
      .hero h1 { font-size:26px; line-height:32px; letter-spacing: -2px; }
      .main .hero h1 .bigger { font-size:35px; line-height: 50px; }
      .main { padding-bottom:82%; }
      a.piclist_profile { font-size:14px; }
      .piclist_profile .piclist_age_gender { bottom:1.5%; font-size:12px; }
      #activity_feed h2 { line-height:24px; }
      #activity_feed h2 .bigger { font-size:34px; }
      #piclist h2 { line-height:24px;  }
      #piclist h2 .bigger { font-size:35px; letter-spacing:-2px; }
      .chinese .hero h1 { line-height:34px; }
      .chinese #vid_seo .sec_left { top:90px; }
      .german .hero h1 .bigger { font-size:44px; }
      .german .hero h1 { line-height:30px; }
      .german #piclist .sec_left { top:100px; }
      .german #activity_feed .sec_right { top:80px; }
      .navbar ul { margin-top:90px; }
      .swedish .hero h1 .bigger { font-size:42px; }
      .swedish .hero h1 { line-height:28px; }
      .japanese .hero h1 .bigger { font-size:28px; }
      .japanese .hero h1 { line-height:22px; font-size:22px; }
      .blue_btn, .red_btn { text-align:center; width:89%; }
      #vid_seo h2 .bigger { font-size:29px; }
      #vid_seo h2 { line-height:22px; }
      .reg_form h2, .reg_form h3, .reg_form .fldRow { padding-left:40px; }
      #piclist .sec_left, #activity_feed .sec_right { top:75px; }
      #login_username_wrapper, #login_pasword_wrapper { width:38%; }
      .chinese #piclist .sec_left { top:95px; }
      .french .fake { font-size:14px; top:10px; }
      .french a.forgot_password { font-size:13px; }
      .french #login_button input { font-size:14px; padding:10px; }
      .french #piclist .sec_left { top:100px; }
      .french #activity_feed .sec_right { top:80px; }
      .french #vid_seo .sec_left { top:100px; }
      .italian #login_username_wrapper, .italian #login_pasword_wrapper { width:36%; }
      .italian #activity_feed .sec_right { top:80px; }
      .portuguese #login_username_wrapper, .portuguese #login_pasword_wrapper { width:36%; }
      .portuguese #login_username_input, .portuguese #login_password_input { width:89%; }
      .portuguese #piclist .sec_left { top:105px; }
      .spanish .fake { font-size:14px; top:10px; }
      .spanish #piclist .sec_left { top:100px; }
      .spanish #activity_feed .sec_right { top:75px; }

      .swedish #login_username_wrapper, .swedish #login_pasword_wrapper { width:36%; }
      .swedish #vid .sec_left { top:115px; }
      .reg_input_wrapper .red_btn { width:auto; }
    }

    @media (max-width:400px){
      .hero h1 { font-size:24px; line-height:24px; letter-spacing: -2px; }
      .main .hero h1 .bigger { font-size: 32px; line-height: 1.5; }
      .main { padding-bottom:86%; }
      #piclist h2 { font-size:18px; }
      #vid h2 { margin-bottom:80%; }
      #vid h2 .bigger { font-size:28px; }
      #mobile h2 { margin-bottom:130%; }
      a.piclist_profile { font-size:12px; }
      .piclist_profile .piclist_age_gender { font-size:8px; }
      .piclist_profile .piclist_handle { bottom:17%; }
      .chinese .hero h1 { line-height:28px; }
      .german .hero h1 .bigger { font-size:36px; }
      .german .hero h1 { line-height:24px; }
      .swedish .hero h1 .bigger { font-size:32px; }
      .swedish .hero h1 { line-height:22px; }
      .french .hero h1 .bigger { font-size:30px; }
      .french .hero h1 { line-height:20px; font-size:18px; letter-spacing:-1px; }
      .japanese .hero h1 .bigger { font-size:24px; }
      .japanese .hero h1 { font-size:18px; }
      .navbar { backface-visibility:hidden; left:0; transform:translate3d(-100%, 0px, 0px); width:25%; width:220px; -webkit-transform:translate3d(-100%, 0, 0); -moz-transform:translate3d(-100%, 0, 0); -ms-transform:translate3d(-100%, 0, 0); -o-transform:translate3d(-100%, 0, 0); -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; }
      #inner_wrapper { left:0 !important; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transition:-webkit-transform 500ms ease; -moz-transition:-moz-transform 500ms ease; -o-transition:-o-transform 500ms ease; transition:transform 500ms ease; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; backface-visibility:hidden; }
      #inner_wrapper { left:0; position:relative; width:100%; }
      .show_nav #inner_wrapper { -webkit-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -moz-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -ms-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); -o-transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); transform:translate3d(220px, 0, 0) scale3d(1, 1, 1); }
      .show_nav #inner_wrapper { left:220px; }
      .reg_form h2, .reg_form h3, .reg_form .fldRow { padding-left:10px; padding-right:10px; }
      .reg_form select, .reg_form input { padding:10px 3px; }
      .fld_checkbox { width:130px; }
       #mobile h2 { line-height:30px; }
       #mobile h2 .bigger { font-size:52px; letter-spacing:-3px; }
      .french .fake { font-size:12px; top:11px; }
      .french  #login_button input { padding:10px 6px; }
      .french a.forgot_password { font-size:11px; }
      .italian #login_username_wrapper, .italian #login_pasword_wrapper { width:34%; }
      .italian #vid .sec_left { top:105px; }
      .spanish .fake { font-size:12px; top:12px; }
      #fldID_title, #fldID_profile { width:270px; }
    }

    @media (max-width:360px){
      .login_input_wrapper { float:none; }
      #login_wrapper { float:none; width:100%; }
      #login_username_wrapper, #login_pasword_wrapper { width:99%; }
      #login_button { bottom:6px; position:absolute; right:43px;  }
      .fake { left:20px; }
      a.forgot_password { margin-left:10px; margin-top:0px; text-align:left; padding-top:20px; padding-bottom:20px; }
      #login_button input { font-size: 18px; padding:8px 10px; }
      .dutch #login_button { right:70px; }
      .dutch #vid .sec_left { top:120px; }
      .french .fake { font-size:14px; top:10px; }
      .french #login_username_wrapper, .french #login_pasword_wrapper { width:99%; }
      .french #login_button { right:68px; }
      .french #login_button input { font-size:16px; padding:10px 6px; }
      .french a.forgot_password { font-size:14px; }
      .french #vid .sec_left { top:120px; }
      .german #vid .sec_left { top:100px; }
      .italian #login_button { right:68px; }
      .italian #piclist .sec_left{ top:95px; }
      .portuguese #login_button { right:63px; }
      .portuguese #login_username_wrapper, .portuguese #login_pasword_wrapper { width:99%; }
      .portuguese #vid .sec_left { top:120px; }
      .portuguese #vid_seo .sec_left { top:90px; }
      .spanish .fake { font-size:16px; top:8px; }
      .spanish #login_username_wrapper, .spanish #login_pasword_wrapper { width:99%; }
      .spanish #login_button { right:66px; }
      .spanish #activity_feed .sec_right { top:95px; }
      .spanish #vid .sec_left { top:120px; }
      .swedish #login_username_wrapper, .swedish #login_pasword_wrapper { width:99%; }
      .swedish #login_button { right:68px; }
      .swedish #activity_feed .sec_right { top:95px; }
    }

    @media (max-width:320px){
      .main { height:291px; padding-bottom:0; }
      #vid #play_button { bottom:30%; right:38%; }
    }

    header,nav,section,article,aside,footer,hgroup { display: block; }

    /* iPads (portrait) ----------- */
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     #the_vid { height:270px; width:480px; }
   }

   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
     #join_wrapper { top:100px; }
   }

.notice {
    display: none;
}
.has_notice .notice {
    display: block;
    color: #cccccc;
    position: absolute;
    left: 0;
    top: 122px;
    width: 100%;
    z-index: 10;
    background: #333333;
}

.has_notice .notice a {
    color: #ffffff;
}

.notice .text {
    padding: 10px;
    width: 960px;
    margin: 0 auto;
}

@media (max-width:980px) {
    .has_notice .notice {
        top: 60px
    }
    .has_notice .notice .text {
        width: 100%;
    }
}

@media (max-width:800px) {
    .has_notice .notice {
        top: 45px;
    }
}

@media (max-width:550px) {
    .has_notice .notice {
        top: 93px;
    }
}