@font-face {
    font-family: 'Open Sans Light';
    src: url('/images/common/fonts/opensans-light-webfont.eot');
    src: url('/images/common/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-light-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Open Sans Lightitalic';
    src: url('/images/common/fonts/opensans-lightitalic-webfont.eot');
    src: url('/images/common/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-lightitalic-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('/images/common/fonts/opensans-extrabold-webfont.eot');
    src: url('/images/common/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('/images/common/fonts/opensans-bold-webfont.eot');
    src: url('/images/common/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/images/common/fonts/opensans-regular-webfont.eot');
    src: url('/images/common/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('/images/common/fonts/opensans-semibold-webfont.eot');
    src: url('/images/common/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('/images/common/fonts/opensans-italic-webfont.eot');
    src: url('/images/common/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-italic-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans Semibolditalic';
    src: url('/images/common/fonts/opensans-semibolditalic-webfont.eot');
    src: url('/images/common/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('/images/common/fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Tinos';
    src: url('/images/common/fonts/tinos-italic-webfont.eot');
    src: url('/images/common/fonts/tinos-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/tinos-italic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/tinos-italic-webfont.woff') format('woff'),
         url('/images/common/fonts/tinos-italic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/tinos-italic-webfont.svg#tinositalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Tinos';
    src: url('/images/common/fonts/tinos-regular-webfont.eot');
    src: url('/images/common/fonts/tinos-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/tinos-regular-webfont.woff2') format('woff2'),
         url('/images/common/fonts/tinos-regular-webfont.woff') format('woff'),
         url('/images/common/fonts/tinos-regular-webfont.ttf') format('truetype'),
         url('/images/common/fonts/tinos-regular-webfont.svg#tinosregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Tinos';
    src: url('/images/common/fonts/tinos-bolditalic-webfont.eot');
    src: url('/images/common/fonts/tinos-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/tinos-bolditalic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/tinos-bolditalic-webfont.woff') format('woff'),
         url('/images/common/fonts/tinos-bolditalic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/tinos-bolditalic-webfont.svg#tinosbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Tinos';
    src: url('/images/common/fonts/tinos-bold-webfont.eot');
    src: url('/images/common/fonts/tinos-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/tinos-bold-webfont.woff2') format('woff2'),
         url('/images/common/fonts/tinos-bold-webfont.woff') format('woff'),
         url('/images/common/fonts/tinos-bold-webfont.ttf') format('truetype'),
         url('/images/common/fonts/tinos-bold-webfont.svg#tinosbold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Lora';
    src: url('/images/common/fonts/lora-regular-webfont.eot');
    src: url('/images/common/fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/lora-regular-webfont.woff2') format('woff2'),
         url('/images/common/fonts/lora-regular-webfont.woff') format('woff'),
         url('/images/common/fonts/lora-regular-webfont.ttf') format('truetype'),
         url('/images/common/fonts/lora-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/images/common/fonts/lora-italic-webfont.eot');
    src: url('/images/common/fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/lora-italic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/lora-italic-webfont.woff') format('woff'),
         url('/images/common/fonts/lora-italic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/lora-italic-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/images/common/fonts/lora-bold-webfont.eot');
    src: url('/images/common/fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/lora-bold-webfont.woff2') format('woff2'),
         url('/images/common/fonts/lora-bold-webfont.woff') format('woff'),
         url('/images/common/fonts/lora-bold-webfont.ttf') format('truetype'),
         url('/images/common/fonts/lora-bold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/images/common/fonts/lora-bolditalic-webfont.eot');
    src: url('/images/common/fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/common/fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('/images/common/fonts/lora-bolditalic-webfont.woff') format('woff'),
         url('/images/common/fonts/lora-bolditalic-webfont.ttf') format('truetype'),
         url('/images/common/fonts/lora-bolditalic-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: italic;
}