/* Resets */
html,
body {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,
sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  nowhitespace: afterproperty;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  /*line-height: 1;*/
  /*font-family:inherit;*/
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {  list-style: none }
q:before,
q:after,
blockquote:before,
blockquote:after {  content: "" }
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {  outline: thin dotted }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {  display: block }
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {  display: none }
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {  top: -0.5em }
sub {  bottom: -0.25em }
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
input,
button,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {  -webkit-appearance: none }
textarea {
  overflow: auto;
  vertical-align: top;
}
html body,
html td,
html p,
html tr,
html input,
html button,
html select,
html textarea {
    font-family: "open sans", arial, sans-serif, helvetica;
    font-size: 12px;
}
p {
  font-weight: normal;
  margin-bottom: 9px;
}
.muted {  color: #999 }
a {
  color: #36c;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
    text-decoration: underline;
    color: #01437f;
}
a.disabled {
  color: #999;
  cursor: default;
}
a.disabled:hover {  text-decoration: none }
/* Preboot.less */
.clearfix {  zoom: 1 }
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {  clear: both }
.center-block {
  display: block;
  margin: 0 auto;
}
.container {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {  clear: both }

/* Grid Scaffolding */
.grid_row {
  float: left;
  margin-bottom: 10px;
}
.grid_row .span1,
.grid_row .span2,
.grid_row .span3,
.grid_row .span4,
.grid_row .span5,
.grid_row .span6,
.grid_row .span7,
.grid_row .span8,
.grid_row .span9,
.grid_row .span10,
.grid_row .span11,
.grid_row .span12 {
  _display: inline;
  float: left;
  margin: 0 10px;
}
.grid_row .span1 {  width: 60px }
.grid_row .span2 {  width: 140px }
.grid_row .span3 {  width: 220px }
.grid_row .span4 {  width: 300px }
.grid_row .span5 {  width: 380px }
.grid_row .span6 {  width: 460px }
.grid_row .span7 {  width: 540px }
.grid_row .span8 {  width: 620px }
.grid_row .span9 {  width: 700px }
.grid_row .span10 {  width: 780px }
.grid_row .span11 {  width: 860px }
.grid_row .span12 {  width: 940px }
/* Grid >> Nested/Child Rows */
.grid_row_child {
  float: left;
  margin: 0 -10px;
}
.grid_row .alpha {  margin-left: 0 }
.grid_row .omega {  margin-right: 0 }
/* Page headings */
h1,
h2,
h3,
h4,
h5,
h6 {  font-weight: bold }
h1#page_title {
  margin: 0 10px;
  padding: 10px 0 20px;
  color: #000;
  font-size: 28px;
  line-height: 28px;
}
h2.page_section {
  margin: 0 10px;
  padding: 10px 0;
  color: #000;
  font-size: 22px;
  line-height: 22px;
}
h3.page_section {
  margin: 0 10px;
  padding: 5px 0;
  color: #000;
  font-size: 18px;
  line-height: 18px;
}
/* Alerts and Messages */
.close {
  float: right;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  line-height: 14px;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
}
.close:hover {
  color: #000;
  text-decoration: none;
  filter: alpha(opacity=70);
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
}
.alert-notice {
  overflow: auto;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #f2e901;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#fdfc88),to(#f2e901));
  background-image: -moz-linear-gradient(top,#fdfc88,#f2e901);
  background-image: -ms-linear-gradient(top,#fdfc88,#f2e901);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfc88),color-stop(100%,#f2e901));
  background-image: -webkit-linear-gradient(top,#fdfc88,#f2e901);
  background-image: -o-linear-gradient(top,#fdfc88,#f2e901);
  background-image: linear-gradient(top,#fdfc88,#f2e901);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfc88',endColorstr='#fff2e901',GradientType=0 );
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-color: #f2e901;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}
.alert-notice .close {  *margin-top: 3px }
.alert-notice h5 {  line-height: 18px }
.alert-notice p {  margin-bottom: 0 }
.alert-notice div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}
.alert-notice .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: 0 1px 0 rgba(255,255,255,0.25);
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert, .alert h4 { color: #c09853; }
.alert h4, .alert p {  margin: 0px; }
.alert .close { position: relative; right: -21px; line-height: 20px; }

.alert-success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
.alert-success h4 { color: #468847; }

.alert-danger, .alert-error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.alert-danger h4, .alert-error h4 { color: #b94a48; }

.alert-info { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
.alert-info h4 { color: #3a87ad; }

.alert-block > p, .alert-block > ul { margin-bottom: 0; }
.alert-block p + p { margin-top: 5px; }

.alert-message { color:#111; background-color: #f2e901; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#fdfc88), to(#f2e901)); background-image: -moz-linear-gradient(top, #fdfc88, #f2e901); background-image: -ms-linear-gradient(top, #fdfc88, #f2e901); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfc88), color-stop(100%, #f2e901)); background-image: -webkit-linear-gradient(top, #fdfc88, #f2e901); background-image: -o-linear-gradient(top, #fdfc88, #f2e901); background-image: linear-gradient(top, #fdfc88, #f2e901); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfc88', endColorstr='#f2e901', GradientType=0);
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border-color: #f2e901; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border-width: 1px; border-style: solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); }
.alert.alert-message h4, .alert.alert-message a { color:#111; }

.alert-go { color: #000000; border-color: #68cf00; background-color: #95d358; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#cbfe99), to(#95d358)); background-image: -moz-linear-gradient(top, #cbfe99, #95d358); background-image: -ms-linear-gradient(top, #cbfe99, #95d358); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbfe99), color-stop(100%, #95d358)); background-image: -webkit-linear-gradient(top, #cbfe99, #95d358); background-image: -o-linear-gradient(top, #cbfe99, #95d358); background-image: linear-gradient(top, #cbfe99, #95d358); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbfe99', endColorstr='#95d358', GradientType=0); }
.alert.alert-go h4, .alert-go a { color: #000000; }


/*Buttons and Dropdowns*/
.dropdown {  position: relative }
.dropdown-toggle {  *margin-bottom: -3px }
.dropdown-toggle:active,
.open .dropdown-toggle {  outline: 0 }
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu, body .mc_dd > ._menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 5px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
}

.dropdown-menu.dropdown-menu-btn, body .mc_dd > ._menu{
  top: 29px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
  border-color:#DDDDDD
}

.dropdown-menu.dropdown-menu-btn.pull-up {
  bottom: 100%;
  top: auto;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 6px 0px;
}

.dropdown-menu.dropdown-menu-btn > li > a { color:#333333 }
.dropdown-menu.dropdown-menu-btn > li > a:hover,
.dropdown-menu.dropdown-menu-btn > span > li > a:hover { background-color:#E9E9E9; text-decoration:none }

.open {  *z-index: 1000 }
.open > .dropdown-menu {  display: block }
.btnfield { padding-left: 2px; padding-right: 2px; width: 125px; height: 23px; border-radius: 4px; -moz-border-radius:4px; border: 1px solid #EEE; vertical-align: middle; }
.btn-action .btnfield { height:19px }
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0);
}
.btn:active,
.btn.active {  background-color: #ccc }
.btn:first-child {  *margin-left: 0 }
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none !important;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-super { border-radius: 20px; font-size: 48px; padding: 44px 19px; display:block; width:100% }
.btn-super [class^='sprite-'], [class*=' sprite-'] { vertical-align:middle }
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="sprite-"],
.btn-large [class*=" sprite-"] {  margin-top: 4px }
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="sprite-"],
.btn-small [class*=" sprite-"] {  margin-top: 0 }
.btn-tiny [class^="sprite-"],
.btn-tiny [class*=" sprite-"] {  margin-top: -1px }
.btn-tiny {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {  margin-top: 5px }
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {  width: 100% }
.btn.primary.active,
.btn-blue.active,
.btn.member.active,
.btn-yellow.active,
.btn.guest.active,
.btn-red.active,
.btn-green.active,
.btn-inverse.active {  color: rgba(255, 255, 255, 0.75); color:#eee; }
.btn.primary, .btn-blue{
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #006dcc;
  *background-color: #04c;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
}
.btn.primary:hover,
.btn.primary:focus,
.btn.primary.disabled,
.btn.primary[disabled],
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0044cc', endColorstr='#0044cc', GradientType=0);
}
.btn.primary:active,
.btn.primary.active,
.btn-blue:active,
.btn-blue.active {  background-color: #039 }
.btn.guest, .btn-red {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #b40701;
  background-image: -moz-linear-gradient(top, #e10202, #b40701);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e10202), to(#b40701));
  background-image: -webkit-linear-gradient(top, #e10202, #b40701);
  background-image: -o-linear-gradient(top, #e10202, #b40701);
  background-image: linear-gradient(to bottom, #e10202, #b40701);
  background-repeat: repeat-x;
  border-color: #b40701 #b40701 #cc3630;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe10202', endColorstr='#ffb40701', GradientType=0);
}
.btn.guest:hover,
.btn.guest:focus,
.btn.guest.disabled,
.btn.guest[disabled],
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #fff;
  background-color: #b40701;
  *background-color: #b40701;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b40701', endColorstr='#b40701', GradientType=0);
}
.btn.guest:active,
.btn.guest.active,
.btn-red:active,
.btn-red.active {  background-color: #b40701}
.btn.member,.btn-yellow {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f9b601;
  background-image: -moz-linear-gradient(top, #ffef64, #f9b601);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffef64), to(#f9b601));
  background-image: -webkit-linear-gradient(top, #ffef64, #f9b601);
  background-image: -o-linear-gradient(top, #ffef64, #f9b601);
  background-image: linear-gradient(to bottom, #ffef64, #f9b601);
  background-repeat: repeat-x;
  border-color: #f9b601 #f9b601 #e6b93e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.member:hover,
.btn.member:focus,
.btn.member:active,
.btn.member.active,
.btn.member.disabled,
.btn.member[disabled],
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.btn-yellow.disabled,
.btn-yellow[disabled] {
  color: #000;
  background-color: #f9b601;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9b601', endColorstr='#f9b601', GradientType=0);
}
.btn.member:active,
.btn.member.active,
.btn-yellow:active,
.btn-yelow.active {  background-color: #c67605 }
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #363636;
  *background-color: #222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {  background-color: #080808 }
.btn-action.block-wide .btn {
  display: block;
  text-align: left;
}
.btn-action.block-wide a.btn:hover {  text-decoration: none }
.btn-action.block-wide .btn i {  margin-right: 4px }

.btn-toolbar .btn {  padding: 2px 2px 1px 2px }
.btn-action .btn, .btn-action-treatment .btn {
  padding: 2px 2px 1px 2px;
  margin: 0 4px;
}


.btn-action a, .btn-action-treatment a {
  font-weight: bold;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
.btn-action a.disabled,
.btn-action a.disabled:hover,
.btn-action-treatmen a.disabled,
.btn-action-treatmen a.disabled:hover {
  color: #666;
  cursor: default;
  text-decoration: none;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-tiny,
input[type="submit"].btn.btn-tiny {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  color: #36c;
  cursor: pointer;
  border:1px transparent solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}
.btn-group:first-child {  *margin-left: 0 }
.btn-group + .btn-group {  margin-left: 5px }
.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {  margin-left: 5px }
.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn + .btn {  margin-left: -1px }
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {  font-size: 12px }
.btn-group > .btn-tiny {  font-size: 10.5px }
.btn-group > .btn-small {  font-size: 11.9px }
.btn-group > .btn-large {  font-size: 17.5px }
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}
.btn-group > .btn-link{
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  font-size:12px;
  font-weight: normal;
  line-height: 12px;
  padding:2px 10px;
  display:inline-block;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {  z-index: 2 }
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {  outline: 0 }
.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group > .btn-tiny + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}
.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group.open .btn-link{
  background: #fff;
  position:relative;
  border:1px #ccc solid;
  border-bottom:none;
  z-index:1050;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow: none;
}
.btn-group .btn-link:hover{
  text-decoration: none;
  border:1px #ccc solid;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.btn-group.open .btn-link:hover{
  border-bottom:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group .btn-link:focus {
  text-decoration: none;
  outline:none;
}
.btn-group.open .btn.dropdown-toggle {  background-color: #e6e6e6 }
.btn-group.open .btn.primary.dropdown-toggle,
.btn-group.open .btn-blue.dropdown-toggle {  background-color: #0044cc }
.btn-group.open .btn.member.dropdown-toggle,
.btn-group.open .btn-yellow.dropdown-toggle {  background-color: #f89406 }
.btn-group.open .btn.guest.dropdown-toggle,
.btn-group.open .btn-red.dropdown-toggle {  background-color: #bd362f }
.btn-group.open .btn-inverse.dropdown-toggle {  background-color: #222 }
.btn .caret {
  margin-top: 8px;
  margin-left: 4px;
}
.toggle-sprite-grid-row {
   width: 55px;
   height: 26px;
}
.toggle-sprite-grid-row label {
   width: 26px;
   height: 26px;
   display:block;
   float: left;
   cursor: pointer;
}
.toggle-sprite-grid-row input {
  visibility: hidden;
  height:100%;
  width: 100%
}
.toggle-sprite-grid-row span {
  display:none;
}
.toggle-arrow {
    position: relative;
    min-width: 20px;
    min-height: 20px;
}
.collapse .show-hide {
    display:none;
}
.toggle-sprite-arrow-up, .toggle-sprite-arrow-down, .toggle-arrow .top {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.toggle-arrow .top {
    width:100%;
    cursor: pointer;
}
.btn-large .caret {  margin-top: 6px }
.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}
.btn-tiny .caret,
.btn-small .caret {  margin-top: 8px }
.dropup .btn-large .caret {  border-bottom-width: 5px }
.btn.primary .caret,
.btn-blue .caret,
.btn.guest .caret,
.btn-red .caret,
.btn.member .caret,
.btn-yellow .caret,
.btn-inverse .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-link .caret {
  margin-top:4px;
  margin-left:4px;
  border-top-color:#36c;
}
.site-nav li {
  list-style: none;
  font-weight: bold;
}
.site-nav a {  font-weight: bold }
.site-nav a i {  margin-right: 5px }
/*Badges and Sprite Icons*/
.stat-badge {
  display: inline-block;
  padding: 3px 6px;
  background-color: #bfbfbf;
  font-size: 13px;
  height:18px;
  line-height: 18px;
  *line-height: 19px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0px;
  font-weight: bold;
  cursor: default;
  vertical-align: bottom;
}
.stat-badge.rank0,
.status-badge.rank0 {
  background-color:#E9E9E9;
  color:#FBFBFB;
}

.mini-fan-badge.rank1,
.stat-badge.rank1,
.status-badge.rank1 {
  background: rgb(255,204,0); /* Old browsers */ background: -moz-linear-gradient(top, rgba(255,204,0,1) 0%, rgba(255,174,0,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,0,1)), color-stop(100%,rgba(255,174,0,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,204,0,1) 0%,rgba(255,174,0,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,204,0,1) 0%,rgba(255,174,0,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,204,0,1) 0%,rgba(255,174,0,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,204,0,1) 0%,rgba(255,174,0,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ffae00',GradientType=0 ); /* IE6-9 */;
}
.mini-fan-badge.rank2,
.stat-badge.rank2,
.status-badge.rank2 {
  background: rgb(196,216,235); /* Old browsers */ background: -moz-linear-gradient(top, rgba(196,216,235,1) 0%, rgba(121,153,182,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,216,235,1)), color-stop(100%,rgba(121,153,182,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(196,216,235,1) 0%,rgba(121,153,182,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(196,216,235,1) 0%,rgba(121,153,182,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(196,216,235,1) 0%,rgba(121,153,182,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(196,216,235,1) 0%,rgba(121,153,182,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6daec', endColorstr='#7999B6',GradientType=0 ); /* IE6-9 */;
}
.mini-fan-badge.rank99,
.stat-badge.rank99,
.status-badge.rank99 {
  background: rgb(235,235,235); /* Old browsers */ background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(143,143,143,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(143,143,143,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(143,143,143,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(143,143,143,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(143,143,143,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(143,143,143,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEBEB', endColorstr='#8F8F8F',GradientType=0 ); /* IE6-9 */;
}

.status-badge.rank99,
.status-badge.rank1,
.status-badge.rank2  {
  padding:0px 12px 0px 10px;
}

.mini-fan-badge {
  white-space:nowrap;
  display: inline-block;
  height: 12px;
  line-height: 13px;
  margin-top: 0px;
  color:#FFFFFF;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.33);
  cursor: default;
  font-size: 10px;
  padding:0px 5px;
  vertical-align: text-top;
}

.status-badge {
  display: inline-block;
  padding: 0px 5px 0px 2px;
  background-color: #bfbfbf;
  font-size: 11px;
  height:18px;
  line-height: 18px;
  *line-height: 19px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0px;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.33);
  cursor: default;
  vertical-align: bottom;
}
.status-badge:hover {
  color: #fff;
  text-decoration: none;
}
.status-badge.noicon {
  min-width:44px;
  text-align:center;
}
a .status-badge {cursor: pointer;}
:root .status-badge { line-height:19px \0/IE9; }  /* IE9 + IE10pp4 */
.status-badge i {
  margin-right: 2px;
  line-height: 18px;
  height: 18px;
  width:18px;
}
.status-badge i.sprite-badge-online { width: 18px;}
.status-badge.silver{
  background: linear-gradient(to bottom, #E3E3E3 0%, #99999 100%) repeat scroll 0 0 transparent; background: rgb(227,227,227); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(227,227,227,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,227,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(227,227,227,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(227,227,227,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
}
.status-badge.gold {
  background: rgb(247,214,82); /* Old browsers */ background: -moz-linear-gradient(top, rgba(247,214,82,1) 0%, rgba(222,165,31,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,214,82,1)), color-stop(100%,rgba(222,165,31,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(247,214,82,1) 0%,rgba(222,165,31,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(247,214,82,1) 0%,rgba(222,165,31,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(247,214,82,1) 0%,rgba(222,165,31,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(247,214,82,1) 0%,rgba(222,165,31,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d652', endColorstr='#dea51f',GradientType=0 ); /* IE6-9 */ text-shadow: 0.1em 0.1em 0.4em #c8961f !important;
}
.status-badge.vip {
  background: rgb(69,72,77); /* Old browsers */ background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */;
}
.status-badge.verified {
  background: rgb(0,95,206); /* Old browsers */ background: -moz-linear-gradient(top, rgba(0,95,206,1) 0%, rgba(2,65,132,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,95,206,1)), color-stop(100%,rgba(2,65,132,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(0,95,206,1) 0%,rgba(2,65,132,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(0,95,206,1) 0%,rgba(2,65,132,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(0,95,206,1) 0%,rgba(2,65,132,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0,95,206,1) 0%,rgba(2,65,132,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fce', endColorstr='#024184',GradientType=0 ); /* IE6-8 */;
}
.status-badge.online {
  background: rgb(153,204,0); /* Old browsers */ background: -moz-linear-gradient(top, rgba(153,204,0,1) 0%, rgba(102,153,0,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,204,0,1)), color-stop(100%,rgba(102,153,0,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(153,204,0,1) 0%,rgba(102,153,0,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(153,204,0,1) 0%,rgba(102,153,0,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(153,204,0,1) 0%,rgba(102,153,0,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(153,204,0,1) 0%,rgba(102,153,0,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cc00', endColorstr='#669900',GradientType=0 ); /* IE6-9 */;
}
.status-badge.hotlist,
.status-badge.hotlist.first_fan_upsell {
  background: rgb(255,197,153); /* Old browsers */ background: -moz-linear-gradient(top, rgba(255,197,153,1) 0%, rgba(255,124,51,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,153,1)), color-stop(100%,rgba(255,124,51,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(255,197,153,1) 0%,rgba(255,124,51,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(255,197,153,1) 0%,rgba(255,124,51,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(255,197,153,1) 0%,rgba(255,124,51,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(255,197,153,1) 0%,rgba(255,124,51,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc592', endColorstr='#ff7c33',GradientType=0 ); /* IE6-9 */;
}
.status-badge.friends{
  background: rgb(136,214,230); /* Old browsers */ background: -moz-linear-gradient(top, rgba(136,214,230,1) 0%, rgba(32,184,216,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,214,230,1)), color-stop(100%,rgba(32,184,216,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(136,214,230,1) 0%,rgba(32,184,216,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(136,214,230,1) 0%,rgba(32,184,216,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(136,214,230,1) 0%,rgba(32,184,216,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(136,214,230,1) 0%,rgba(32,184,216,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d6e6', endColorstr='#20b8d8',GradientType=0 ); /* IE6-9 */;
}
[class^="sprite-"],
[class*=" sprite-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  *margin-right: .3em;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("http://graphics.pop6.com/images/common/others/fruit2-sprite-16.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    [class^="sprite-"],
    [class*=" sprite-"] {
      background-image: url("http://graphics.pop6.com/images/common/others/fruit2-sprite-11@2x.png");
      background-size: 64px 960px;
    }
}*/

/*Menu and button action icons are #333*/
.sprite-upload {  background-position: 0px 0px }
.sprite-edit {  background-position: 0px -32px }
.sprite-envelope {  background-position: 0px -64px }
.sprite-envelope-alt {  background-position: -82px -64px }
.sprite-envelope-white { background-position: -233px -669px; }
.sprite-eye {  background-position: 0px -96px }
.sprite-eye-white {  background-position: -56px -350px; }
.sprite-x-white {background-position: -140px -256px;}
.sprite-back-arrow {background-position: 0 0; }
.sprite-profile-views {  background-position: 0px -128px }
.sprite-fav-photos {  background-position: 0px -160px }
.sprite-fav-videos {  background-position: 0px -192px }
.sprite-photos {  background-position: 0px -224px }
.sprite-videos {  background-position: 0px -256px }
.sprite-flirt-face {  background-position: 0px -288px }
.sprite-testimonial {  background-position: 0px -320px }
.sprite-coins {  background-position: 0px -352px }
.sprite-coins-white {  background-position: -57px -321px }
.sprite-hotlist {  background-position: 0px -384px }
.sprite-globe {  background-position: 0px -416px }
.sprite-friends {  background-position: 0px -448px }
.sprite-refresh-alt {  background-position: -82px -480px }
.sprite-refresh {  background-position: 0px -480px }
.sprite-add-friend {  background-position: 0px -512px }
.sprite-groups {  background-position: 0px -544px }
.sprite-blogs {  background-position: 0px -576px }
.sprite-verified-photo {  background-position: 0px -608px }
.sprite-abuse {  background-position: 0px -640px }
.sprite-imc {  background-position: 0px -672px }
.sprite-compose {  background-position: 0px -704px }
.sprite-search {  background-position: 0px -736px }
.sprite-tag {  background-position: 0px -768px }
.sprite-config {  background-position: 0px -800px }
.sprite-config-alt {  background-position: -140px -770px}
.sprite-block {  background-position: 0px -832px }
.sprite-trash {  background-position: 0px -864px }
.sprite-apps {  background-position: 0px -896px }
.sprite-credits {  background-position: 0px -928px }
.sprite-smilies {  background-position: -27px -480px }
.sprite-smile {  background-position: -27px -480px }
.sprite-frown {  background-position: -140px -480px }
.sprite-flowers {  background-position: -27px -512px }
.sprite-bling {  background-position: -27px -544px }
.sprite-link {  background-position: -27px -576px }
.sprite-clock {  background-position: -26px -640px }
.sprite-clock-w {  background-position: -26px -609px }
.sprite-webcam {  background-position: -28px -833px }
.sprite-webcam-w {  background-position: -28px -865px }
.sprite-broadcast-audio {  background-position: -28px -767px }
.sprite-broadcast-audio-w {  background-position: -28px -797px }
.sprite-broadcast {  background-position: -28px -894px }
.sprite-broadcast-w {  background-position: -28px -924px }
.sprite-playcircle {  background-position: -58px -157px; }
.sprite-playcircle-w {  background-position: -58px -190px }
.sprite-speech {  background-position: -111px -672px }
.sprite-mute {  background-position: -25px -705px }
.sprite-mute-alt {  background-position: -52px -705px }
.sprite-mute2 {  background-position: -139px -801px }
.sprite-mute2-alt {  background-position: -139px -833px }
.sprite-volume {  background-position: -25px -672px }
.sprite-volume-alt {  background-position: -52px -672px }
.sprite-volume2 {  background-position: -109px -801px }
.sprite-volume2-alt {  background-position: -109px -832px }
.sprite-fullscreen {  background-position: -24px -735px }
.sprite-fullscreen-alt {  background-position: -53px -735px }
.sprite-pause {  background-position: -107px -575px }
.sprite-pause-alt {  background-position: -107px -608px }
.sprite-play {  background-position: -139px -575px }
.sprite-play-alt {  background-position: -139px -608px }
.sprite-gear {  background-position: 0px -800px }
.sprite-gear-alt {  background-position: -83px -800px }
.sprite-mobile { background-position: -110px -416px }
.sprite-mobile-alt { background-position: -139px -352px }
.sprite-reply { background-position: -170px -640px }
.sprite-replied { background-position: -170px -608px }
.sprite-flower-color { background-position: -200px -188px; }
.sprite-topfan-star { background-position: -202px -800px; }
.sprite-topfan-star-alt { background-position: -202px -832px; }
.sprite-interact { background-position: -81px -895px; }
.sprite-check { background-position: -141px -35px; }
.sprite-cart { background-position: -234px -738px }
.sprite-nospam { background-position: -203px -893px; }
.sprite-virtual_gift { background-position: -232px -770px }
.sprite-virtual_gift-alt { background-position: -232px -802px }
.sprite-green-phone{background-position: -232px -864px;}
.sprite-green-phone-alt{background-position: -232px -893px;}
.sprite-secure { background-position: -266px -577px;}
.sprite-secure-alt { background-position: -266px -542px;}
.sprite-delivery-pending { background-position: -273px -641px;}
.sprite-delivered { background-position: -273px -610px;}
.sprite-download {  background-position: -232px -928px }

/*Badge symbols*/
.sprite-badge-crown {  background-position: -32px 0px }
.sprite-badge-verified {  background-position: -32px -32px }
.sprite-badge-online {  background-position: -32px -64px }
.sprite-badge-broadcasting {  background-position: -32px -352px }
.sprite-badge-imc {  background-position: -32px -384px }
.sprite-badge-hotlist {  background-position: -204px -383px }
.sprite-badge-friends {  background-position: -202px -449px }
.sprite-tiny-verified {  background-position: -32px -96px }
.sprite-tiny-gold {  background-position: -32px -128px }
.sprite-tiny-vip {  background-position: -32px -160px }
.sprite-tiny-online {  background-position: -32px -192px }
.sprite-tiny-broadcasting {  background-position: -32px -416px }
.sprite-tiny-imc {  background-position: -32px -448px }
.sprite-tiny-hotlist {  background-position: -175px -190px }
.sprite-tiny-friends {  background-position: -175px -225px }
.sprite-tiny-topfano {  background-position: -208px -643px }
.sprite-tiny-topfanb {  background-position: -208px -673px }
.sprite-tiny-topfans {  background-position: -208px -707px }
.sprite-tiny-confirmed { background: url('http://graphics.pop6.com/images/common/svg/confirmed.svg') no-repeat 0 0; background-size: contain; }

/*Social icons are #666 (the color of the beast)*/
.sprite-views {  background-position: -32px -224px }
.sprite-checkbox {  background-position: -32px -258px }
.sprite-like {  background-position: -32px -289px }
.sprite-comment {  background-position: -32px -321px }
.sprite-tolike {  background-position: -109px -288px }
.sprite-tolike:hover {  background-position: -32px -290px }
.sprite-albums {
  background-position: -229px -577px;
  width: 25px;
  height: 25px
}
.sprite-share-albums {
  background-position: -237px -543px;
  width: 30px;
}
.sprite-unlock {
  background-position: -233px -611px;
  height: 26px;
}
.sprite-ambassador {
    background-position: -267px -668px;
}

.sprite-tiny-verified,
.sprite-tiny-gold,
.sprite-tiny-vip,
.sprite-tiny-online,
.sprite-tiny-broadcasting,
.sprite-tiny-imc,
.sprite-tiny-hotlist,
.sprite-tiny-friends,
.sprite-tiny-topfano,
.sprite-tiny-topfanb,
.sprite-tiny-topfans,
.sprite-tiny-confirmed {
  height: 12px;
  width: 12px;
  line-height: 12px;
  margin-top: 2px;
}

.sprite-empty-circle{background-position: -139px -382px;}
.sprite-half-circle{background-position: -139px -414px;}
.sprite-green-smiley{background-position: -139px -448px;}

/*Sex Academy icons */
.sprite-academy1 { background-position: -233px -94px; }
.sprite-academy2 { background-position: -233px -384px; }
.sprite-academy3 { background-position: -233px -188px; }
.sprite-academy4 { background-position: -233px -126px; }
.sprite-academy5 { background-position: -233px -512px; }
.sprite-academy6 { background-position: -233px -65px; }
.sprite-academy7 { background-position: -233px -223px; }
.sprite-academy8 { background-position: -233px -415px; }
.sprite-academy9 { background-position: -233px -257px; }
.sprite-academy10 { background-position: -233px -479px; }
.sprite-academy11 { background-position: -233px -155px; }
.sprite-academy12 { background-position: -233px -352px; }
.sprite-academy13 { background-position: -233px -449px; }
.sprite-academy1-complete { background-position: -264px -94px; }
.sprite-academy2-complete { background-position: -264px -384px; }
.sprite-academy3-complete { background-position: -264px -188px; }
.sprite-academy4-complete { background-position: -264px -126px; }
.sprite-academy5-complete { background-position: -264px -512px; }
.sprite-academy6-complete { background-position: -264px -65px; }
.sprite-academy7-complete { background-position: -264px -223px; }
.sprite-academy8-complete { background-position: -264px -415px; }
.sprite-academy9-complete { background-position: -264px -257px; }
.sprite-academy10-complete { background-position: -264px -479px; }
.sprite-academy11-complete { background-position: -264px -155px; }
.sprite-academy12-complete { background-position: -264px -352px; }
.sprite-academy13-complete { background-position: -264px -449px; }

/*Other sprite images*/
[class^="toggle-sprite-"],
[class*=" toggle-sprite-"] {
  background:url("http://graphics.pop6.com/images/common/others/fruit2_additional/toggle_btns.png") no-repeat
}

.toggle-sprite-grid-row { background-position: -22px -60px }
.toggle-sprite-grid-row.grid { background-position: -22px -29px }
.toggle-sprite-arrow-up { background-position: -29px -4px }
.toggle-sprite-arrow-down { background-position: -51px -4px }

/*Pagination*/
.pagination {
  text-align: right;
  margin-bottom: 10px;
}
/*.pagination a.btn {
  padding: 2px 4px;
  color: #3366cc;
  line-height: 12px;
  font-size: 11px;
}*/

.pagination a.btn.btn-large {
  padding: 2px 5px;
  line-height: 16px;
  font-size: 14px;
}

.pagination li {
  list-style: none;
  display: inline;
}
.pagination li.active a,
.pagination li a:hover { }
.pagination li::before, /* it would only affect on pagination like this: <ul class="pagination"><li>....</li>(no space or line-wrap)<li>....</li></ul>  */
.pagination li::after {
  display: inline;
  content: ' ';
}
/*Modal*/
.modal .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: relative;
  z-index: 1;
}
.modal .close:hover,
.modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #333;
}
.modal-backdrop.fade {  opacity: 0 }
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  white-space: normal;
}
.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in {  top: 10% }
.modal-header {  padding: 20px 20px 0 20px }
.modal-header .close {
  margin-top: -16px;
  margin-right: -8px;
}
.modal-header .title {
  margin: 0;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
}
.modal-body {
  position: relative;
  max-height: 400px;
  padding: 20px;
  /*overflow-y: auto;*/
}
.modal-form {  margin-bottom: 0 }
.modal-footer {
  padding: 0px 20px 20px 20px;
  margin-bottom: 0;
  text-align: right;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
.modal-footer:after {  clear: both }
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {  margin-left: -1px }
.modal-footer .btn-block + .btn-block {  margin-left: 0 }
/*Tooltip*/
.tooltip {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  width: auto;
}
.tooltip.fade.in { }
.tooltip.above .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #282828;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #282828;
}
.tooltip.below .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #282828;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #282828;
}
.tooltip-inner {
  padding: 3px 8px;
  background-color: #282828;
  color: #fff;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px #333 solid;
  box-shadow: 1px 1px 3px #282828;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
/*Popovers*/
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 320px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.above .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover.above .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}
.popover.below .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.popover.below .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
/*Tabs and Pills*/
.tabs,
.pills {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.tabs:after,
.pills:after {  clear: both }
.tabs > li,
.pills > li {  float: left }
.tabs > li > a,
.pills > li > a {  display: block }
.tabs {
  float: left;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
}
.tabs > li {
  position: relative;
  top: 2px;
}
.tabs > li > a {
  background: #e9e9e9;
  color: #666;
  padding: 0 15px;
  margin-right: 5px;
  line-height: 36px;
  border: 2px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.tabs > li > a:hover, .tabs > li.open > a {
  color: #fff;
  text-decoration: none;
  background: #333;
}
.tabs > li.active > a {
  color: #333;
  background-color: #fff;
  border: 2px solid #e9e9e9;
  border-bottom-color: transparent;
  font-weight: bold;
}
.tabs .menu-dropdown,
.tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
  border-color:#DDDDDD
}
.tabs .dropdown-toggle, .tabs .dropdown-toggle a { cursor:pointer }
.tabs .dropdown-menu > li > a { color:#333333 }
.tabs .dropdown-menu > li > a:hover { background-color:#E9E9E9; text-decoration:none }
.tabs a.menu:after,
.tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}
.tabs li.open.menu .menu,
.tabs .open.dropdown .dropdown-toggle {  border-color: #999 }
.tabs li.open a.menu:after,
.tabs .dropdown.open .dropdown-toggle:after {  border-top-color: #555 }
.tab-content {  clear: both }
.pills a {
  margin: 5px 3px 5px 0;
  padding: 0 10px;
  line-height: 24px;
  font-weight: bold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}
.tabs .caret { vertical-align:middle; margin-left:5px; border-top-color:#333333  }
.tabs li.active a:hover .caret, .tabs > li.active.open > a .caret  { border-top-color:#333333 }
.tabs a:hover .caret, .tabs > li.open > a .caret { border-top-color:#FFFFFF }

.tabbable ul.tabs {
  border-bottom: 2px solid #E4E4E4;
  height: 24px;
}
.tabbable .tabs > li > a {
  width: 99px;
  margin-left: 2px;
  margin-right: 0;
  padding: 0 3px;
  font-weight: normal;
  color: #999999;
  height:20px;
}
.tabbable .tabs li.active a {
  font-weight: bold;
  color: #000000;
  cursor: default;
}
.tabbable .tabs li:first-child > a {
  margin-left: 0px;
}
.tabbable .tab-content {
  border: solid 2px #e9e9e9;
  padding: 5px;
  margin-top: 39px;
  border-top: none;
  position: relative;
  z-index: 100;
  background: white;
}
.tabbable .tab-pane {
  display:none;
}
.tabbable .tab-pane.active {
  display:block;
}

.pills .active a {
  background: #bfbfbf;
  color: #fff;
  font-weight: bold;
}
.tab-content > *,
.pill-content > * {  display: none }
.tab-content > .active,
.pill-content > .active {  display: block }

/* Labels */
.label {
    padding:1px 3px 2px;
    background-color:#bfbfbf;
    font-size:9.75px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.label.important {
    background-color:#c43c35;
}
.label.warning {
    background-color:#f89406;
}
.label.success {
    background-color:#46a546;
}

#self_notification_container .notification_row.success {
    background: #cde7d6;
}

#self_notification_container .notification_row.alert-error {
    background: #fcc3c0;
}

#self_notification_container .notification_row.success .member_cell_info_container,
#self_notification_container .notification_row.alert-error .member_cell_info_container {
    font-size: 19px
}

.label.notice {
    background-color:#BFBFBF;
}

/*Endless elements links*/
.more-link {
  padding: 5px;
  border-top: 1px #ddd solid;
  text-align: center;
  background: #f8f8f8;
  display: block;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
}
.more-link:hover {  background: #eee }
.more-link .more-spinner, .std .more-spinner {
  display: none;
  width: 100%;
  height: 18px;
  line-height: 18px;
  background: url('http://graphics.pop6.com/images/common/loading_3d.gif') top center no-repeat;
}
.std {
  width: 40px;
  border-radius: 4px;
  background: rgba(255,255,255,0.5);
  position: relative;
  z-index: 100
}
.more-page-link {
  display: block;
  width: 50%;
  margin: 0 auto;
}

/* jQuery spinners */
.spinner-png {
  height: 20px;
  width: 72px;
  overflow: hidden;
  border-radius: 3px;
  margin-left: -26px;
  position: absolute;
  left:50%;
  top: 5px;
  padding: 0 3px;
}

.spinner-png .bkg {
  width: 500px;
  height:100px;
  position:absolute;
  background: #666666;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  left: 0;
  top: 0;
  z-index: 1;
}
.spinner-png.sml {
  height:10px;
  width: 70px;
  padding: 0px 3px;
}
.spinner-png img {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
}
.spinner-png.lrg img {
  width: 20px;
  margin: 0 2px;
}
.spinner-png.sml img {
  width: 10px;
}
/* end jQuery spinners */





/******************** spinnercle ************************
 * This section of css rules are generated from LESS source
 * Please check the LESS source file for modification
 ********************************************************/
@-moz-keyframes play {0%{left:0}100%{left:90px}}@-webkit-keyframes play {0%{left:0}100%{left:90px}}@-o-keyframes play {0%{left:0}100%{left:90px}}@-ms-keyframes play {0%{left:0}100%{left:90px}}@keyframes play {0%{left:0}100%{left:90px}}.spinner-dots .spinner-animate{-webkit-animation:play .5s steps(3) infinite;-moz-animation:play .5s steps(3) infinite;-ms-animation:play .5s steps(3) infinite;-o-animation:play .5s steps(3) infinite;animation:play .5s steps(3) infinite}.spinner-dots{display:block;position:relative;margin:auto;text-align:center;width:90px;height:30px;background-image:url('http://graphics.pop6.com/images/common/others/fruit2_additional/loader_dots.png');background-position:0 0;background-repeat:repeat-x;background-size:30px 90px}.spinner-dots .spinner-animate{display:block;position:absolute;width:22.5px;height:22.5px;margin:3.75px;border-radius:50%;background-color:#80bfff}@-moz-keyframes play-slow {0%{left:0}100%{left:180px}}@-webkit-keyframes play-slow {0%{left:0}100%{left:180px}}@-o-keyframes play-slow {0%{left:0}100%{left:180px}}@-ms-keyframes play-slow {0%{left:0}100%{left:180px}}@keyframes play-slow {0%{left:0}100%{left:180px}}.spinner-dots.slow .spinner-animate{-webkit-animation:play-slow 2s steps(6) infinite;-moz-animation:play-slow 2s steps(6) infinite;-ms-animation:play-slow 2s steps(6) infinite;-o-animation:play-slow 2s steps(6) infinite;animation:play-slow 2s steps(6) infinite}.spinner-dots.slow{display:block;position:relative;margin:auto;text-align:center;width:180px;height:30px;background-image:url('http://graphics.pop6.com/images/common/others/fruit2_additional/loader_dots.png');background-position:0 0;background-repeat:repeat-x;background-size:30px 90px}.spinner-dots.slow .spinner-animate{display:block;position:absolute;width:22.5px;height:22.5px;margin:3.75px;border-radius:50%;background-color:#80bfff}@-moz-keyframes play-small {0%{left:0}100%{left:45px}}@-webkit-keyframes play-small {0%{left:0}100%{left:45px}}@-o-keyframes play-small {0%{left:0}100%{left:45px}}@-ms-keyframes play-small {0%{left:0}100%{left:45px}}@keyframes play-small {0%{left:0}100%{left:45px}}.spinner-dots.small .spinner-animate{-webkit-animation:play-small .5s steps(3) infinite;-moz-animation:play-small .5s steps(3) infinite;-ms-animation:play-small .5s steps(3) infinite;-o-animation:play-small .5s steps(3) infinite;animation:play-small .5s steps(3) infinite}.spinner-dots.small{display:block;position:relative;margin:auto;text-align:center;width:45px;height:15px;background-image:url('http://graphics.pop6.com/images/common/others/fruit2_additional/loader_dots.png');background-position:0 0;background-repeat:repeat-x;background-size:15px 45px}.spinner-dots.small .spinner-animate{display:block;position:absolute;width:11.25px;height:11.25px;margin:1.875px;border-radius:50%;background-color:#80bfff}@-moz-keyframes play-small-slow {0%{left:0}100%{left:90px}}@-webkit-keyframes play-small-slow {0%{left:0}100%{left:90px}}@-o-keyframes play-small-slow {0%{left:0}100%{left:90px}}@-ms-keyframes play-small-slow {0%{left:0}100%{left:90px}}@keyframes play-small-slow {0%{left:0}100%{left:90px}}.spinner-dots.small.slow .spinner-animate{-webkit-animation:play-small-slow 2s steps(6) infinite;-moz-animation:play-small-slow 2s steps(6) infinite;-ms-animation:play-small-slow 2s steps(6) infinite;-o-animation:play-small-slow 2s steps(6) infinite;animation:play-small-slow 2s steps(6) infinite}.spinner-dots.small.slow{display:block;position:relative;margin:auto;text-align:center;width:90px;height:15px;background-image:url('http://graphics.pop6.com/images/common/others/fruit2_additional/loader_dots.png');background-position:0 0;background-repeat:repeat-x;background-size:15px 45px}.spinner-dots.small.slow .spinner-animate{display:block;position:absolute;width:11.25px;height:11.25px;margin:1.875px;border-radius:50%;background-color:#80bfff}.spinner-dots>img{min-height:100%;width:auto}
/******************* end spinnercle ************************/

/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
.form-default, .form-stacked, .form-inline {margin-bottom: 18px; }
.form-default fieldset, .form-stacked fieldset, .form-inline fieldset {margin-bottom: 18px; padding-top: 18px; }
.form-default fieldset legend, .form-stacked fieldset legend {display: block; margin-left: 150px; font-size: 20px; line-height: 1; *margin: 0 0 5px 145px; /* IE6-7 */ *line-height: 1.5; /* IE6-7 */ }
form .clearfix {margin:4px 0; padding:4px 0; zoom: 1; }
form .clearfix:before, form .clearfix:after {display: table; content: ""; zoom: 1; *display: inline; }
form .clearfix:after {clear: both; }
label, input, select, textarea {font-size: 13px; font-weight: normal; line-height: normal; }
.form-default label, .form-stacked label, .form-inline label {padding-top: 2px; font-size: 13px; line-height: 18px; float: left; color: #404040; }
.form-default .input, .form-stacked .input {margin:0 0 12px 150px; }
input[type=checkbox], input[type=radio] {cursor: pointer; }
.form-default input, .form-default textarea, .form-default select, .form-stacked input, .form-stacked textarea, .form-stacked select, .form-inline input, .form-inline textarea, .form-inline select, .uneditable-input {display: inline-block; width: 210px; height: 18px; padding: 2px; font-size: 13px; line-height: 18px; color: #333333; border: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.form-default select { width:auto; background-color: #FFF; white-space: pre; text-align: start; zoom: 1; }

/* mini reset for non-html5 file types */
.form-default input[type=checkbox], .form-default input[type=radio], .form-stacked input[type=checkbox], .form-stacked input[type=radio], .form-inline input[type=checkbox], .form-inline input[type=radio] {width: auto; height: auto; padding: 0; margin: 3px 0; *margin-top: 0; /* IE6-7 */ line-height: normal; border: none; }
input[type=file] {background-color: #ffffff; padding: initial; border: initial; line-height: initial; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
input[type=button], input[type=reset], input[type=submit] {width: auto; height: auto; }
.form-default select, .form-default input[type=file], .form-stacked select, .form-stacked input[type=file], .form-inline select, .form-inline input[type=file] {height: 24px; line-height: 24px; *margin-top: 4px; /* For IE7, add top margin to align select with labels */ }
select[multiple] {height: inherit; }
.form-default textarea, .form-stacked textarea {height: auto; }
.uneditable-input {background-color: #ffffff; display: block; border-color: #eee; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); cursor: not-allowed; }
:-moz-placeholder {color: #bfbfbf; }
::-webkit-input-placeholder {color: #bfbfbf; }
.form-default input, .form-default textarea, .form-stacked input, .form-stacked textarea, .form-inline input {-webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -ms-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
.form-default input:focus, .form-default textarea:focus, .form-stacked input:focus, .form-stacked textarea:focus, .form-inline input:focus {outline: 0; border-color: rgba(82, 168, 236, 0.8); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
/* customization on left panel filter */
.form-default #interested_filter_distance_container { float: left; clear: both; width: 100%; line-height: 20px; }
.form-default #interested_filter_distance_container select { height: 24px; line-height: 24px; margin-top: 2px; margin-bottom: 5px; }
.form-default #interested_filter_distance_container  select[name=state], .form-default #interested_filter_distance_container  select[name=country] { width: 100%; }
.form-default #interested_filter_distance_container  .tabbable .tab-content { margin-top: 0; min-height: 106px; /* make 2 tabs the same height */ }

@-moz-document url-prefix() {
  .form-default #interested_filter_distance_container select.search_distance_select_list { width: 110px; }
  .french .form-default #interested_filter_distance_container select.search_distance_select_list { width: 130px; }
  .swedish .form-default #interested_filter_distance_container select.search_distance_select_list { width: 145px; }
}

/* end customization on left panel filter */
input[type=file]:focus, input[type=checkbox]:focus, select:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: 1px dotted #666; }
form div.clearfix.error {background: transparent;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
form div.clearfix.success {background: #66FF99; padding: 2px 0; margin: 2px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
form div.clearfix.error > label, form div.clearfix.error span.help-inline, form div.clearfix.error span.help-block {color: #404040; }
form div.clearfix.error input, form div.clearfix.error textarea, form div.clearfix.error select {border-color: #c87872; -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); box-shadow: 0 0 3px rgba(171, 41, 32, 0.25); }
form div.clearfix.error input:focus, form div.clearfix.error textarea:focus {border-color: #b9554d; -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); box-shadow: 0 0 6px rgba(171, 41, 32, 0.5); }
.input-mini, input.mini, textarea.mini, select.mini {width: 60px; }
.input-small, input.small, textarea.small, select.small {width: 90px; }
.input-medium, input.medium, textarea.medium, select.medium {width: 150px; }
.input-large, input.large, textarea.large, select.large {width: 210px; }
.input-xlarge, input.xlarge, textarea.xlarge, select.xlarge {width: 270px; }
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge {width: 530px; }
textarea.xxlarge {overflow-y: auto; }
input.span1, textarea.span1, select.span1 {display: inline-block; float: none; width: 60px; margin-left: 0; }
input.span2, textarea.span2, select.span2 {display: inline-block; float: none; width: 140px; margin-left: 0; }
input.span3, textarea.span3, select.span3 {display: inline-block; float: none; width: 220px; margin-left: 0; }
input.span4, textarea.span4, select.span4 {display: inline-block; float: none; width: 300px; margin-left: 0; }
input.span5, textarea.span5, select.span5 {display: inline-block; float: none; width: 380px; margin-left: 0; }
input.span6, textarea.span6, select.span6 {display: inline-block; float: none; width: 460px; margin-left: 0; }
input.span7, textarea.span7, select.span7 {display: inline-block; float: none; width: 540px; margin-left: 0; }
input.span8, textarea.span8, select.span8 {display: inline-block; float: none; width: 620px; margin-left: 0; }
input.span9, textarea.span9, select.span9 {display: inline-block; float: none; width: 700px; margin-left: 0; }
input.span10, textarea.span10, select.span10 {display: inline-block; float: none; width: 780px; margin-left: 0; }
input.span11, textarea.span11, select.span11 {display: inline-block; float: none; width: 860px; margin-left: 0; }
input.span12, textarea.span12, select.span12 {display: inline-block; float: none; width: 940px; margin-left: 0; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {background-color: #f5f5f5; border-color: #ddd; cursor: not-allowed; }
.actions {margin-top: 10px; margin-bottom: 10px; padding: 10px 20px 10px 150px; }
.actions .secondary-action {float: right; }
.actions .secondary-action a {line-height: 30px; }
.actions .secondary-action a:hover {text-decoration: underline; }
.help-inline, .help-block {font-size: 11px; line-height: 18px; color: #bfbfbf; }
.error .help-inline, .error .help-block { color: #CC0000; }
.help-inline {padding-left: 5px; *position: relative; /* IE6-7 */ *top: -5px; /* IE6-7 */ }
.help-block {display: block; max-width: 350px; clear: both; height:0 }
.help-block p { font-size:11px; padding:1px 0; }
.inline-inputs {color: #333333; }
.inline-inputs span, .inline-inputs input {display: inline-block; }
.inline-inputs input.mini {width: 60px; }
.inline-inputs input.small {width: 90px; }
.inline-inputs span {padding: 0 2px 0 1px; }
.inline-inputs-list, .inputs-list {margin: 0 0 5px; width: 100%; }
.inputs-list li {display: block; padding: 0; width: 100%; }
.inputs-list li.inline {width: auto; display: inline; float: left; margin-right: 20px; }
.inputs-list label {display: block; float: none; width: auto; padding: 0; line-height: 18px; text-align: left; white-space: normal; }
.inputs-list label strong {color: #333333; }
.inputs-list label small {font-size: 11px; font-weight: normal; }
.inputs-list .inputs-list {margin-left: 25px; margin-bottom: 10px; padding-top: 0; }
.inputs-list:first-child {padding-top: 6px; }
.inputs-list li + li {padding-top: 2px; }
.inputs-list input[type=radio], .inputs-list input[type=checkbox] {margin-bottom: 0; }
.inline-inputs-list label {float: left; }
.form-stacked {padding-left: 20px; }
.form-stacked fieldset {padding-top: 9px; }
.form-stacked fieldset legend {margin-left: 0; }
.form-stacked label {display: block; float: none; width: auto; font-weight: bold; text-align: left; line-height: 20px; padding-top: 0; }
.form-stacked .clearfix {margin-bottom: 9px; }
.form-stacked .clearfix div.input {margin-left: 0; }
.form-stacked .inputs-list {margin-bottom: 0; }
.form-stacked .inputs-list li {padding-top: 0; }
.form-stacked .inputs-list li label {font-weight: normal; padding-top: 0; }
.form-stacked div.clearfix.error {padding-top: 10px; padding-bottom: 10px; padding-left: 10px; margin-top: 0; margin-left: -10px; }
.form-stacked .actions {margin-left: -20px; padding-left: 20px; }
.form-inline .clearfix, .form-inline fieldset {clear: none; float: left; margin: 0; padding: 0; }
.form-inline fieldset {padding-top: 2px; }
.form-inline label {width: auto; margin-right: 5px; }
.form-inline .input {float: left; margin-right: 15px; }
.form-inline .actions {padding: 0; margin: 0; }
.form-inline button {}


/* Bootstrap Helpers */
.centered {  text-align: center }
.pull-right {  float: right }
.pull-left {  float: left }
.hide {  display: none }
.show {  display: block }
.invisible {  visibility: hidden }