/*
Theme Name: دانلود پرس
Theme URI: http://dlroozane.ir
Author: داتک
Author URI:
Description: پوسته دانلود وردپرس طراحی توسط داتک ( ابزار وردپرس )
Version: 1.0.0
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
@font-face{font-family:'wpt';src:url('fonts/BYekan.eot?#') format('eot'),
url('fonts/BYekan.woff') format('woff'),
url('fonts/BYekan.ttf') format('truetype');}
html{background:white;}
body{padding:0 !important;direction:rtl;font-family:wpt,Myriad Pro !important;}
#notfound{text-align:center;line-height:4;padding:40px 0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
@font-face{font-family:'wpt';src:url('fonts/BYekan.eot?#') format('eot'),
url('fonts/BYekan.woff') format('woff'),
url('fonts/BYekan.ttf') format('truetype');}
html{background:white;}
body{padding:0 !important;direction:rtl;font-family:wpt,Myriad Pro !important;background:#e1e1e1 !important;}
#notfound{text-align:center;line-height:4;padding:40px 0;}
textarea#comment{max-width:100%;border:1px solid gainsboro;}
#commentform #submit{font-size:13px;padding:8px 10px;color:white;padding-top:6px;border:0;background:rgb(187, 211, 37);box-shadow:inset 0 -3px rgba(0, 0, 0, 0.11);outline:0 !important;}
.post .postin .content{line-height:2;}
.tags .content{font-size:0;padding-bottom:6px;}
.tags .content a{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;margin-left:3px;}
h3#comments , .more-link{display:none;}
.board{}
.board .title{box-shadow:0 1px gainsboro;padding:15px 0;margin-bottom:15px;}
.board .title h3{color:gray;margin:0;font-size:18px;}
.post .more li{}
.board ul li{display:inline-block;}
.board ul li:hover h3{opacity:1;padding-right:18px;}
.board ul li:hover img{}
.board ul li a{display:block;}
.board ul li img{max-width:100%;margin-bottom:8px;}
.board ul li a h3{position:absolute;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;top:0;line-height:2;right:0px;font-size:17px;color:white;opacity:0;padding:5px 20px;padding-right:0;display:block;text-shadow:0px 0px 9px black;padding-bottom:9px;}
.board2{padding:0;margin-bottom:-10px;}
.board2 .blockin{padding:10px 5px;}
.board2 .blockin li{background:#FCFCFC;padding:4px 8px;border-radius:2px;margin:3px 0;height:32px;overflow:hidden;}
.board2 .blockin h4{font-size:14px;display:inline-table;text-shadow:1px 1px white;margin:0;margin-top:4px;}
.board2 .blockin span i{margin-left:9px;}
.board2 .blockin li:hover span{opacity:1;left:0px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.board2 .blockin span{opacity:0;left:-10px;float:left;font-size:13px;color:white;padding:2px 7px;border-radius:100px;position:relative;padding-bottom:3px;}
.search{float:left !important;}
input.search{border:0;outline:0;margin:0;font-size:11px;font-family:tahoma;color:rgb(67, 92, 114);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;background:transparent;padding:7px;background:white;border:1px solid gainsboro;border-radius:2px;position:relative;top:5px;border-left:0;border-bottom-left-radius:0;border-top-left-radius:0;}
.fix input.search{}
.search fieldset:before{content:"\f002";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);float:left;padding:7px;color:gainsboro;font-size:15px;position:relative;top:5px;background:white;margin-right:0px;border-radius:3px;border:1px solid gainsboro;border-bottom-right-radius:0;border-top-right-radius:0;}
.search i{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;text-align:center;color:rgb(179, 179, 179);float:left;margin:20px 0;font-size:22px;}
.fix .search i{text-align:center;color:rgb(179, 179, 179);float:left;margin:12px 0;font-size:14px;}
.tagcloud a{font-size:12px !important;color:gray !important;}
.tagcloud a:hover{color:white !important;background:rgb(242, 68, 35) !important;}
.tagcloud{}
.download-button{background:#F24423;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;box-shadow:1px 2px 1px rgba(0, 0, 0, 0.1);font-family:wpt;cursor:pointer;font-size:14px;display:inline-block;overflow:hidden;padding:1px;vertical-align:middle;}
.download-button span{border-radius:2px;color:#fff;display:inline-block;padding:6px 12px;padding-top:3px;text-shadow:1px 1px rgba(0, 0, 0, 0.36);}
.download-button:hover{background:#374C5E;text-decoration:none}
.download-button:active{background:#446F2D}
.download-button i{display:inline-block;color:white;text-shadow:1px 1px rgba(0, 0, 0, 0.11);padding:13px;padding-top:11px;background:rgba(0, 0, 0, 0.06);}
.footer{background:#1E2A34;padding:25px 0;box-shadow:inset 0 5px rgb(19, 27, 34);}
.footer .tagcloud a{background:rgba(0, 0, 0, 0.18);border:1px solid rgb(36, 37, 39);margin-left:2px;}
.footer .comments{color:gainsboro;font-size:12px;}
.footer .comments a{color:white;}
.footer .title{border-bottom:1px solid rgba(0, 0, 0, 0.23);margin-bottom:10px;}
.footer .title h4{color:white;font-size:15px;padding:0px 0;padding-bottom:18px;box-shadow:0 2px rgb(234, 86, 57);display:inline-table;margin:0;margin-right:10px;}
.footer .title i{color:rgba(0, 0, 0, 0.35) !important;}
.about{}
.about img{margin-top:25px;margin-bottom:15px;margin-right:10px;}
.about p{font-size:11px;color:gainsboro;font-family:tahoma;line-height:2;width:100%;float:right;padding:5px 10px;}
.footerb{}
.footerb .icons{float:left;padding:10px;}
.footerb .icons i{font-size:20px;display:inline-table;margin-right:9px;color:rgb(15, 21, 26);}
.footerb{background:#18222A;color:gray;box-shadow:0 -1px rgb(41, 56, 68),inset 0 1px rgb(19, 27, 34);}
.footerb .cpr{float:right;padding:10px;font-size:11px;font-family:tahoma;margin-top:2px;}
.footerb .cpr i{margin:0 4px;}
.footerb .cpr a{color:rgb(234, 86, 57);margin-right:2px;}
.ersal{color:white !important;}
.post .single li{}
.rel{}
.rel span{position:absolute;bottom:10px;left:10px;padding:3px 7px;background:rgba(0, 0, 0, 0.24);padding-top:0px;border-radius:2px;opacity:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.rel span i{margin-left:6px;}
.rel li:hover span{opacity:1;}
.rel li:hover h3{opacity:1;z-index:1999;}
.rel li:hover img{opacity:0.6;}
.rel li{display:block;margin-bottom:10px;padding:0 1px;text-align:center;}
.rel a{color:gray;color:white !important;font-size:11px;font-family:tahoma;display:block;background:black;min-height:120px;}
.rel h3{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;opacity:0;font-size:11px;margin:5px 0;position:absolute;color:white;padding:0 10px;line-height:2;}
.rel img{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;width:100%;min-height:124px;}
a:hover, a:focus{color:#2a6496;text-decoration:none !important;}
#header{background:#FFFFFF;}
.theader{background:rgb(248, 248, 248);padding:3px 0;border-bottom:1px solid rgb(226, 226, 227);border-top:3px solid rgb(64, 88, 109);}
.logo{}
.logo img{}
.navbarlinks{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background:#F2F2F2;position:relative;z-index:1000000000000;width:100%;border-top:1px solid rgb(226, 226, 227);border-bottom:1px solid rgb(204, 204, 204);box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);}
.navbarlinks .sub{font-size:12px;color:rgb(30, 42, 52);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;display:block;line-height:2;}
.fix{position:fixed;z-index:10000000000000;width:100%;float:right;top:0;box-shadow:0 2px 3px rgba(13, 13, 13, 0.13);}
.fix .sub{display:none;}
.fix ul li ul{opacity:0;padding:0;position:absolute;padding:5px 0;z-index:1000;top:42px !important;transition:all 0.5s ease 0s;visibility:hidden;background:#FFFFFF;min-width:210px;}
.fix li a{padding:10px 20px;font-size:13px !important;}
.navbarlinks .topnav{width:90%;box-shadow:0 1px #C7C7C7;background:#fafafa;border-bottom:3px solid #e6e6e6;float:right;}
.navbarlinks ul li:hover a,.navbarlinks .current-menu-item a{box-shadow:inset 0 -4px rgba(0, 0, 0, 0.04),inset 0 -62px 0 0 rgba(67, 92, 114, 1);color:rgb(249, 249, 249);background:rgb(67, 92, 114);}
a{}
.navbarlinks ul li a{display:block;float:right;font-size:14px;color:#435C72;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;margin-bottom:0;padding:14px 15px;padding-top:10px;position:relative;z-index:1;text-align:center;}
.navbarlinks > ul > li > a{padding:10px 20px;}
.navbarlinks ul li{margin:0;position:relative;float:right;}
.navbarlinks ul li ul{opacity:0;padding:0;position:absolute;padding:5px 0;z-index:10000000000000000000000;top:51px;transition:all 0.5s ease 0s;visibility:hidden;background:#F2F2F2;min-width:210px;box-shadow:3px 3px 3px rgba(0, 0, 0, 0.06);border-bottom-left-radius:4px;border-bottom-right-radius:4px;border:1px solid gainsboro;}
.navbarlinks ul li:hover > ul{display:block;opacity:1;visibility:visible;top:45px;}
.navbarlinks ul li ul li ul{border-right:1px solid #5D6D7D;right:100%;top:0;z-index:2;}
.navbarlinks ul{list-style:none outside none;margin:0;padding:0;float:right;}
.navbarlinks > ul > li{background:none repeat scroll 0 0 #87CEEB;border-left:1px solid #73BAD7;display:block;float:right;}
.navbarlinks ul li ul li a{float:none;text-align:right;font-size:13px;background:none !important;z-index:2;padding:6px 10px;box-shadow:0 0 !important;-webkit-box-shadow:0 0 !important;padding-right:0;color:rgb(67, 92, 114) !important;}
.navbarlinks ul li ul li a:hover{box-shadow:0 0 0 !important;margin-right:3px;}
.navbarlinks ul li ul li{clear:both;float:none;position:relative;padding:0;z-index:2;background:none;margin-right:31px;display:list-item;color:rgb(45, 48, 55);list-style-type:square;font-size:10px;}
.menu-item-has-children a:after{content:"\f107";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);position:absolute;left:7px;color:rgb(255, 255, 255);top:14px;}
.menu-item-has-children a{}
.menu-item-has-children ul a:after{display:none;}
.menu-item-has-children ul a{padding-left:0 !important;}
.post{margin-bottom:15px;float:right;width:100%;border-radius:1px;background:white;border:1px solid rgb(196, 196, 196);box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.03);border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;}
.post .icon{width:64px;height:64px;background:#F1F1F1;text-align:center;color:white;float:right;margin-right:0px;}
.post .icon i{top:11px;position:relative;font-size:19px;padding:11px 10px;background:rgb(67, 92, 114);border-radius:100%;width:42px;text-align:center;height:42px;}
.post .title{padding-right:60px;margin-bottom:10px;box-shadow:0 1px gainsboro;height:65px;background:#F9F9F9;border-bottom:3px solid rgb(242, 242, 242);}
.post .title h2{font-size:14px;color:#435C72;display:block;padding-top:11px;box-shadow:0 1px rgb(242, 242, 242);padding-bottom:11px;margin:0;margin-bottom:1px;padding-right:14px;}
.post .title h2 a{color:#435C72;font-size:13px;}
.post .title i{color:rgb(242, 68, 35);margin-left:5px;font-size:13px;position:relative;top:2px;margin-left:8px;}
.post .title li{display:inline-block;font-family:tahoma;font-size:10px;margin-right:10px;color:rgb(67, 92, 114);}
.post .title li a{color:rgb(67, 92, 114);}
.post .postin{float:right;width:100%;padding:5px 15px;}
.post .postin .rbox i{}
.post .postin .content{font-family:tahoma;font-size:11px;padding:5px 0;}
.post .aligncenter, img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
.post .content img{max-width:100%;height:auto;}
.post .more{float:right;text-align:left;box-shadow:0 1px gainsboro;width:100%;padding:0;background:#f9f9f9;}
.post .more-a{float:left;direction:ltr;padding:3px 12px;background:rgb(242, 68, 35);color:white;text-shadow:1px 1px rgba(0, 0, 0, 0.33);margin:10px;border-radius:2px;line-height:2;padding-bottom:5px;box-shadow:inset -3px 0 rgb(231, 65, 34),inset 3px 0 rgb(231, 65, 34),0 0 2px 2px rgba(90, 86, 86, 0.09);}
.post .more li{display:inline-block;float:right;position:relative;color:gray;font-family:tahoma;font-size:11px;background:white;padding:10px;box-shadow:0 0 0 1px gainsboro;}
.post .more li i{font-size:14px;margin-left:6px;}
.post .more ul{margin:10px;float:right;border-radius:2px;overflow:hidden;border:1px solid gainsboro;box-shadow:0 0 2px 2px beige;}
.post .more-a i{font-size:14px;color:white;text-align:center;position:relative;border-radius:100%;line-height:1.5;display:inline-block;margin-right:10px;}
.posts ,.rside , .lside{padding:30px 0;}
.block .blockin{margin-bottom:20px;background:white;border:1px solid rgb(210, 210, 210);box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.04);border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;}
.block{}
.block .blockin .title{background:#F9F9F9;border-bottom:1px solid gainsboro;text-shadow:1px 1px white;}
.block .blockin .title i{float:left;font-size:16px;padding:12px;color:rgb(112, 131, 147);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.block .blockin .title h3{padding:10px;display:inline-block;position:relative;color:rgb(67, 92, 114);overflow:hidden;z-index:1;font-size:14px;margin:0;}
.block .blockin li{display:block;font-size:12px;margin:4px 0;}
.block .blockin .categories li:before{content:"\f100";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);font-size:15px;}
.block .blockin ul{padding:5px 10px !important;margin:0;}
.block .blockin a{color:gray;}
.block .blockin .bar{}
.block .blockin:hover .bar{}
.block .blockin:hover .title i{}
.lside .blockin{background:white;margin-bottom:10px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.03);border:1px solid rgb(188, 188, 188);float:right;width:100%;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;}
.lside .blockin .title{background:#F9F9F9;border-bottom:1px solid gainsboro;text-shadow:1px 1px white;}
.lside .blockin .title i{float:left;font-size:16px;padding:12px;color:rgb(112, 131, 147);}
.lside .blockin .title h3{padding:10px;display:inline-block;position:relative;color:rgb(67, 92, 114);overflow:hidden;z-index:1;font-size:14px;margin:0;}
.lside .blockin li{display:block;font-size:12px;}
.lside .blockin ul{padding:10px !important;margin:0;}
.lside .blockin a{}
.lside .blockin .bar{}
.lside .blockin:hover .bar{}
.lside .blockin:hover .title i{}
.categories{font-size:0 !important;}
.categories li{font-size:10px !important;color:rgb(150, 150, 150);padding:0 0px;}
.categories ul{padding:0 !important;}
.categories li a{color:rgb(150, 150, 150) !important;display:inline-block;padding:8px 10px;-webkit-transition:all 0.15s ease-in-out;-moz-transition:all 0.15s ease-in-out;-ms-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;font-family:tahoma;font-weight:bold;font-size:11px;}
.categories li a:hover{}
ol.commentlist{list-style:none;margin:0 0 1em;padding:0;text-indent:0;}
ol.commentlist li{}
ol.commentlist li.alt{}
ol.commentlist li.bypostauthor{}
ol.commentlist li.byuser{}
ol.commentlist li.comment-author-admin{}
ol.commentlist li.comment{}
ol.commentlist li.comment div.comment-author{}
ol.commentlist li.comment div.vcard{font:normal 16px georgia,times,serif;box-shadow:0 1px gainsboro;margin-bottom:7px;}
ol.commentlist li.comment div.vcard cite.fn{font-style:normal;font-family:wpt,Myriad Pro !important;}
ol.commentlist li.comment div.vcard cite.fn a.url{}
ol.commentlist li.comment div.vcard img.avatar{float:right;width:50px;height:50px;background:white;margin-right:-78px;border:1px solid gainsboro;border-radius:100%;box-shadow:0 0 2px 2px rgba(220, 220, 220, 0.16);}
ol.commentlist li.comment div.vcard img.avatar-32{}
ol.commentlist li.comment div.vcard img.photo{}
ol.commentlist li.comment div.vcard span.says{display:none;}
ol.commentlist li.comment div.commentmetadata{}
ol.commentlist li.comment div.comment-meta{font-size:10px;font-family:tahoma;float:left;}
ol.commentlist li.comment div.comment-meta a{color:#ccc;}
ol.commentlist li.comment p{font-size:11px;margin:0 0 1em;font-family:tahoma;}
ol.commentlist li.comment ul{font-size:11px;list-style:square;margin:0 0 1em 2em;}
ol.commentlist li.comment div.reply{font-size:11px;text-align:left;}
ol.commentlist li.comment div.reply a{font-weight:normal;color:gainsboro;box-shadow:0 0 0 1px gainsboro;padding:5px 10px;display:inline-block;padding-top:2px;border-radius:1px;}
ol.commentlist li.comment div.reply a:hover{font-weight:normal;color:#859612;box-shadow:0 0 0 1px #859612;}
ol.commentlist li.comment ul.children{list-style:none;margin:1em 0 0;text-indent:0;}
ol.commentlist li.comment ul.children li{}
ol.commentlist li.comment ul.children li.alt{}
ol.commentlist li.comment ul.children li.bypostauthor{}
ol.commentlist li.comment ul.children li.byuser{}
ol.commentlist li.comment ul.children li.comment{}
ol.commentlist li.comment ul.children li.comment-author-admin{}
ol.commentlist li.comment ul.children li.depth-2{margin:0;margin-right:20px;}
ol.commentlist li.comment ul.children li.depth-3{margin-right:20px;}
ol.commentlist li.comment ul.children li.depth-4{margin-left:20px;}
ol.commentlist li.comment ul.children li.depth-5{margin-left:20px;}
ol.commentlist li.comment ul.children li.odd{}
ol.commentlist li.even{}
ol.commentlist li.odd{}
ol.commentlist li.parent{}
ol.commentlist li.thread-alt{}
ol.commentlist li.thread-even{}
ol.commentlist li.thread-odd{}
.comment-body{padding:10px;border:1px solid gainsboro;margin-right:60px;background:rgba(249, 249, 249, 0.38);box-shadow:0 0 2px 2px rgba(220, 220, 220, 0.16);}
.comment-body:after{width:0;height:0;border-top:9px solid transparent;border-bottom:9px solid transparent;border-left:9px solid #FCFCFC;content:' ';position:absolute;right:67px;border-right:0;bottom:10px;top:12px;}
.comment-body:before{width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #DCDCDC;content:' ';position:absolute;border-right:0;margin-right:-20px;}
.ersal{text-shadow:1px 1px rgba(0, 0, 0, 0.48);-webkit-transition:all 0.15s ease-in-out;-moz-transition:all 0.15s ease-in-out;-ms-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;display:block;padding:10px 15px;font-size:16px;line-height:3;margin-bottom:5px;background:#F24423;height:70px;color:white;overflow:hidden;box-shadow:inset 0 -5px rgba(0, 0, 0, 0.02),0 0 2px 2px rgba(0, 0, 0, 0.03);border-radius:3px;}
.ersal:hover i{}
.ersal:hover{color:white;padding-right:20px;opacity:0.8;}
.ersal i{float:left;margin-top:5px;font-size:39px;color:rgba(204, 49, 20, 1);text-shadow:1px 1px rgba(255, 255, 255, 0.32);margin-left:0;-webkit-transition:all 0.15s ease-in-out;-moz-transition:all 0.15s ease-in-out;-ms-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;}
.posts .ads{float:right;width:100%;padding:20px;text-align:center;margin:1px 0;background:white;margin-bottom:20px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.06);}
.posts .ads a{}
.posts .ads img{max-width:100%;background:white;border:1px solid gainsboro;margin:6px 0;display:inline-block;}
#header .ads{float:left;text-align:left;margin:0;}
#header .ads a{}
#header .ads img{box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.06);}
img.logo{width:auto;padding-top:0;padding-bottom:0;}
.likeThis{color:rgb(53, 165, 50);cursor:pointer;}
.likeThis i{font-size:16px;margin-right:3px;margin-left:0 !important;}
div.pagination{display:inline-block;width:auto;text-align:center;clear:both;margin:0 auto;float:none;padding:5px 2px;background:white;padding-left:0;box-shadow:0 0 3px 3px rgba(0, 0, 0, 0.04);border-radius:3px;overflow:hidden;margin-top: 15px;}
div.pagination a, div.pagination span{border-radius:1px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;color:#A1A1A1;font-weight:normal;padding:6px 10px;background:white;margin-right:-3px;font-family:tahoma;border:1px solid gainsboro;}
div.pagination a:hover{background:#40586D;color:#FFF;}
div.pagination span{background:#435C72;color:#FFFFFF;}
.dots{background:white !important;color:gainsboro !important;}
.date{float:right;padding:7px;padding-top:4px;padding-bottom:10px;text-shadow:1px 1px rgba(0, 0, 0, 0.33);}
.date i{color:#FFFFFF;font-size:14px;margin-left:10px;}
.date a{color:white !important;font-family:tahoma;font-size:11px;}
.social{float:left;}
.social a{display:inline-block;padding:4px;width:28px;text-align:center;background:rgba(0, 0, 0, 0.03);border-radius:100%;margin:2px;}
.social i{color:#435C72;font-size:15px;}
.tags .content a ,.tagcloud a{font-size:13px;color:gray;background:#f5f5f5;display:inline-block;margin-left:3px;margin-bottom:5px;padding:3px 6px;border:1px solid rgb(239, 238, 238);-webkit-transition:all 0.15s ease-in-out;-moz-transition:all 0.15s ease-in-out;-ms-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;}
.tags .content a:hover ,.tagcloud a:hover{}
.board2 .blockin span{background:#159B61;}
.brcode{float:left;margin-left:0px;margin-top:-69px;width:66px;border:4px solid rgb(241, 241, 241);}
.star-rating.flat .ratings_over{width:14px !important;height:14px !important;background-size:14px 14px !important;}
.star-rating.flat .ratings_stars{width:14px !important;height:14px !important;background-size:14px 14px !important;}
.star-rating.flat .total_votes{height:15px !important;line-height:14px !important;margin-left:8px !important;padding:0 0px !important;width:32px !important;font-size:10px !important;}
.board2{overflow:hidden;}
.board2 .container{}
.board2 ul{margin:0;padding:0;float:right;width:100%;background:rgb(67, 92, 114);box-shadow:inset 0 -3px 3px rgba(0, 0, 0, 0.06),0 0 2px 2px rgba(0, 0, 0, 0.07);}
.board2 li{list-style:none;min-height:76px;padding-top:5px;padding-bottom:15px;}
.board2 .inf{float:right;line-height:2;}
.board2 .inf h3{margin:0;line-height:1.5;font-size:18px;margin-top:8px;color:white;}
.board2 .inf h3 a{color:white;text-shadow:1px 1px rgba(0, 0, 0, 0.48);}
.board2 i{float:right;padding:18px;background:rgb(54, 77, 97);color:white;font-size:21px;margin-top:9px;margin-left:15px;border-radius:100%;text-align:center;width:58px;}
.board2 .inf span{color:rgb(24, 36, 47);text-shadow:1px 1px rgba(255, 255, 255, 0.24);}
blockquote{background:#f9f9f9;padding:10px 0px 10px 20px !important;border-right:3px solid gainsboro !important;font-family:tahoma;font-size:11px !important;line-height:2;color:gray;}
blockquote:before{float:right;padding:10px;content:"\f10e" !important;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);font-size:30px;color:gray;}
#mtabs{padding:0;margin:20px 0;background:white;position:relative;z-index:1;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.04);border:1px solid rgb(202, 202, 202);margin-top:30px;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;}
#mtabs .nav{overflow:hidden;margin:0;padding:0;position:relative;z-index:100000000000;background:#f9f9f9;}
#mtabs .nav li{width:33%;padding:0;}
#mtabs .nav li.last{margin-right:0;width:34%;}
#mtabs .nav li a{display:inline-block;background:#F5F5F5;-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-ms-transition:all 0.15s ease;-o-transition:all 0.15s ease;transition:all 0.15s ease;color:rgb(120, 120, 120);font-size:12px;text-align:center;border:0;padding:16px 0;width:100%;}
#mtabs .nav li a:hover{}
#mtabs ul{list-style:none;padding:20px;margin:0;}
#mtabs ul li a{display:block;color:rgb(110, 110, 110);margin:0;}
#mtabs ul li a i{font-size:14px;color:rgb(209, 209, 209);margin-left:5px;position:relative;top:2px;}
#mtabs ul li a:hover, #mtabs ul li a:focus{}
#mtabs ul li:last-child a{border:none;}
#mtabs li.nav-one a.current, ul.featured li a:hover{color:rgb(67, 92, 114);-webkit-box-shadow:inset 0 -3px rgb(67, 92, 114);box-shadow:inset 0 -3px rgb(67, 92, 114);background:#f8f8f8;}
#mtabs li.nav-two a.current, ul.core li a:hover{color:rgb(67, 92, 114);-webkit-box-shadow:inset 0 -3px rgb(67, 92, 114);box-shadow:inset 0 -3px rgb(67, 92, 114);background:#f8f8f8;}
#mtabs li.nav-three a.current, ul.jquerytuts li a:hover{color:rgb(161, 184, 16);-webkit-box-shadow:inset 0 -3px rgb(161, 184, 16);box-shadow:inset 0 -3px rgb(161, 184, 16);background:#f8f8f8;}
#mtabs li.nav-four a.current, ul.classics li a:hover{color:rgb(67, 92, 114);-webkit-box-shadow:inset 0 -3px rgb(67, 92, 114);box-shadow:inset 0 -3px rgb(67, 92, 114);background:#f8f8f8;}
.board .list-wrap{height:auto !important;}
.board .list-wrap ul:first-child{display:block;}
.listea{display:none;padding:4px 10px !important;padding-bottom:4px !important;}
.listea a{font-size:11px;font-family:tahoma;display:block;}
.listea span{font-size:10px;font-family:tahoma;float:left;position:absolute;left:17px;margin-top:-15px;background:rgb(67, 92, 114);color:white;padding:3px 5px;padding-top:2px;border-left:2px solid rgb(45, 63, 80);opacity:0;margin-left:-10px;-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-ms-transition:all 0.15s ease;-o-transition:all 0.15s ease;transition:all 0.15s ease;}
.listea li:hover span{opacity:1;margin-left:0px;}
.listea li{display:block !important;padding:5px;border-bottom:1px dotted rgba(220, 220, 220, 0.34);padding-bottom:10px;}
.board .ads{padding:0;margin:20px 0;background:white;position:relative;z-index:1;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.04);border:1px solid rgb(202, 202, 202);margin-top:30px;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;}
.board .ads .title{padding:10px;margin:0;background:#f9f9f9;}
.board .ads .title i{padding:5px;font-size:12px;margin-left:10px;background:#e1e1e1;border-radius:100%;width:22px;color:#E74F40;text-align:center;text-shadow:1px 1px rgba(255, 255, 255, 0.63);}
.board .ads .title a{font-size:11px;float:left;margin-top:0px;background:#e84a3a;color:white !important;padding:5px;border-right:3px solid #cc4032;border-left:3px solid #cc4032;font-family:tahoma;padding-top:2px;}
.board .ads .title h4{margin:0;font-size:16px;display:inline-block;color:gray;text-shadow:1px 1px white;}
.board .ads .inner{padding:10px 0;text-align:center;}
.board .ads .inner ul{margin:0;padding:0;padding-top:8px;}
.ads .inner li{}
.ads .inner a{}
.ads .inner img{}
.logo .container{padding-top:30px;padding-bottom:30px;background:url(img/map.png) no-repeat right -30px;background-size:400px;}
.lrn{float:right;width:100%;background:rgb(238, 232, 155);margin-top:13px;margin-bottom:13px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.04),inset 0 -3px rgba(0, 0, 0, 0.03);border-radius:1px;}
.lrn h3{font-size:11px;margin:10px;color:rgb(152, 144, 34);margin-bottom:13px;font-family:tahoma;margin-top:13px;}
.lrn p{float:right;width:100%;margin:0;min-height:30px;font-size:13px;padding:20px 10px;padding-left:55px;font-size:11px;font-family:tahoma;color:black;}
.lrn:after{content:"\f058";position:absolute;left:30px;margin-top:-19px;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:33px;color:rgba(0, 0, 0, 0.18);}
.downloadlinks{}
.downloadlinks li{display:inline-table;padding:0;}
.downloadlinks li:nth-child(2) a{background:rgb(66, 186, 225);}
.downloadlinks li:nth-child(3) a{background:rgb(241, 196, 40);font-size:11px;font-family:tahoma;padding:13px;text-align:center;text-shadow:1px 1px rgba(0, 0, 0, 0.26);margin-left:0;}
.downloadlinks span{display:inline-table;}
.downloadlinks a{padding:16px 0;display:block;color:white !important;background:rgb(161, 184, 16);padding-right:10px;padding-bottom:20px;border-right:3px solid rgba(0, 0, 0, 0.08);margin-left:3px;border-left:3px solid rgba(0, 0, 0, 0.08);box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.04);border-radius:2px;}
.downloadlinks i{float:left;padding:10px;margin-top:-5px;margin-left:8px;background:rgba(0, 0, 0, 0.12);border-radius:100%;}
ul.tabs{position:relative;z-index:1000;float:left;margin:0;padding:0;list-style:none;width:100%;text-align:center;background:rgb(249, 249, 249);margin-bottom:2px;}
ul.tabs li{position:relative;cursor:pointer;color:#435C72;overflow:hidden;box-shadow:Inset 0 -1px rgba(226, 226, 226, 1);margin:0;padding:0;padding-bottom:6px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
ul.tabs li a{display:block;padding:8px;padding-top:31px;color:#435C72;outline:none;text-decoration:none;font-size:12px;margin-top:9px;}
.blockintab ul.tabs .active{box-shadow:inset 0 -100px #435C72;}
ul.tabs li:nth-child(1):before{content:"\f006";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);position:absolute;margin:auto;right:43%;top:11px;color:rgb(67, 92, 114);}
ul.tabs li:nth-child(2):before{content:"\f123";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);position:absolute;margin:auto;right:43%;top:11px;color:rgb(67, 92, 114);}
ul.tabs li:nth-child(3):before{content:"\f005";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);position:absolute;margin:auto;right:43%;top:11px;color:rgb(161, 184, 16);}
ul.tabs li:nth-child(3):before{content:"\f005";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);position:absolute;margin:auto;right:43%;top:11px;color:rgb(67, 92, 114);}
ul.tabs .active:before{color:rgb(255, 255, 255) !important;}
.blockintab ul.tabs li.active a:hover{}
.blockintab ul.tabs li.active a:link{color:white;}
.tab_container{position:relative;top:-1px;z-index:999;width:100%;float:left;font-size:11px;}
.tab_content{}
.tab_content ul{margin:0;padding:0;list-style:none;}
.tab_content li{margin:3px;padding:10px;background:#f9f9f9;border:1px solid gainsboro;box-shadow:0 0 2px 2px rgba(220, 220, 220, 0.26);padding-bottom:12px;}
.blockintab{float:right;width:100%;background:white;margin-bottom:10px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.03);border:1px solid rgb(188, 188, 188);border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;margin-top:3px;}
.wpp-list{}
.wpp-list a{color:black !important;font-family:tahoma;font-size:11px;}
.wpp-list span{float:left;padding:3px;margin-left:5px;color:rgb(67, 92, 114);}
.footer .comments ul{}
.footer .comments ul li{display:block;padding:10px;background:rgba(0, 0, 0, 0.21);margin-bottom:3px;font-family:tahoma;font-size:11px;border-radius:3px;}
.footer .comments ul li a{color:rgb(249, 96, 82);margin-left:4px;}
.footer .about ul{}
.footer .about ul li{display:list-item;margin-bottom:5px;font-family:tahoma;font-size:11px;border-radius:3px;margin-right:16px;list-style-type:square;color:rgb(249, 96, 73);}
.footer .about ul li a{color:rgb(242, 242, 242);}
.footer .comments ul li strong{font-weight:normal;}
.menu-item-has-children a:after{display:none;}
.theader{}
.theader .menu ul li a{display:block;color:gray;background:#f1f1f1;padding:7px 10px;font-size:11px;border-radius:3px;overflow:hidden;text-shadow:rgb(231, 231, 231) 1px 1px, rgb(231, 231, 231) 2px 2px, rgb(231, 231, 231) 3px 3px, rgb(231, 231, 231) 4px 4px, rgb(231, 231, 231) 5px 5px, rgb(232, 232, 232) 6px 6px, rgb(233, 233, 233) 7px 7px, rgb(235, 235, 235) 8px 8px, rgb(236, 236, 236) 9px 9px, rgb(238, 238, 238) 10px 10px, rgb(239, 239, 239) 11px 11px, rgb(241, 241, 241) 12px 12px;}
.theader .menu ul li a:hover{color:white;background:#435C72;text-shadow:rgb(60, 83, 103) 1px 1px,
rgb(60, 83, 103) 2px 2px,
rgb(60, 83, 103) 3px 3px,
rgb(60, 83, 103) 4px 4px,
rgb(60, 83, 103) 5px 5px,
rgb(61, 84, 104) 6px 6px,
rgb(62, 85, 106) 7px 7px,
rgb(63, 86, 107) 8px 8px,
rgb(64, 88, 109) 9px 9px,
rgb(65, 89, 110) 10px 10px,
rgb(66, 90, 112) 11px 11px,
rgb(67, 92, 114) 12px 12px;}
.theader .menu ul{width:100%;float:right;margin:0;padding:0;height:30px;position:relative;top:2px;}
.theader .menu{float:right;}
.theader .menu ul li{display:inline-block;margin-left:3px;}
.blockin .recentcomments{padding:10px;background:rgba(241, 241, 241, 0.17);margin-bottom:4px;border-radius:3px;padding-top:8px;}
.blockin .recentcomments span{color:rgb(242, 68, 35);margin-left:3px;font-size:14px;}
.blockin .recentcomments a{color:rgb(67, 92, 114);}
.sts{}
.sts li{margin-bottom:14px !important;}
.sts li:hover span{color:white;background:#F24423;}
.sts span{float:left;background:#f7f7f7;padding:3px 10px;border-radius:2px;font-family:tahoma;font-size:11px;padding-bottom:5px;}
@media only screen and (max-width:768px) {
.container .intocont {
    width: 100% !important;
}
.rside {

}
.lside {

}
}


@media only screen and (max-width:690px) {


.showmobile{
display:block !important;
}

.video-js.vjs-default-skin {
    width: 100% !important;
    min-height: 240px !important;
}

.navmenumo,.adsbox{
display:none;
}


.navmenumobile{
height: 44px;
float: right;
width: 40px;
}


.navmenumobile:hover .mobile-menu{
display: block !important;
}

.navmenumobile:before{
content: "";
font-size: 32px;
float: right;
font-family: FontAwesome;
color: #828486;
}
.navmenumobile ul.mobile-menu{
background: #fff !important;
width: 100%;
position: absolute;
top: 45px;
right: 0px;
}
.navmenumobile ul.mobile-menu li{
background: #fff !important;
width: 100% !important;
}
.navmenumobile ul.mobile-menu li a{
background: #fff !important;
width: 100% !important;
}
ul.mobile-menu li:hover a, ul.mobile-menu .current-menu-item a{
box-shadow: inset 0 -4px rgb(255, 255, 255),inset 0 -62px 0 0 rgb(255, 255, 255) !important;
color: rgb(67, 92, 114) !important;
background: #fff !important;
}
ul.mobile-menu li ul.sub-menu{
opacity: 1;
visibility: visible;
position: initial;
padding: 0px;
border: none;
background: #fff;
width: 100%;
margin: 0px;
}
ul.mobile-menu li ul.sub-menu li{
background: #fff !important;
width: 100% !important;
margin: 0px;
list-style-type: none;
}
ul.mobile-menu li ul.sub-menu li a{
background: #fff !important;
width: 100% !important;
text-align: center;
padding: 12px 0px;
}
ul.mobile-menu li ul.sub-menu li a:hover {
    box-shadow: 0 0 0 !important;
    margin-right: 0px;
}
ul.mobile-menu li ul.sub-menu li:hover a, ul.mobile-menu li ul.sub-menu .current-menu-item a{
box-shadow: inset 0 -4px rgb(255, 255, 255),inset 0 -62px 0 0 rgb(255, 255, 255) !important;
color: rgb(67, 92, 114) !important;
background: #fff !important;
}
}



.navmenumobile .mobile-menu{
display:none;
}

.post .postin .content h2{
font-size: 20px;
font-family: wpt;
text-align: center;
}

.post .postin .content h3{
font-size: 16px;
font-family: wpt;
text-align: center;
}




.container .intocont{
width: 75%;
float: right;
}
.container .intocont .posts{
float: left;
}
.container .intocont .rside{
float: right;
}

.topads img{
max-width: 100%;
height: auto;
}
.slideset a{
	display: inline-block;
	margin: 0 auto;
	width: 200px;
    padding-bottom: 4px;
    padding-left: 4px;
}
.navbarlinks .container{
	min-height: 43px;
}


.showmobile{
display:none;
}

