body {
	margin: 2em;
}

.print {
	display: block;
}

img.print {
	margin: auto;
	width: 250px;
} 

.print-hide,
.masthead .sprites.logo,
#tray, .masthead, #main-content > div, #main-content .row > div,
#share-email-tmpl,
.pager,
.international-links,
.footer .top,
.sl-layout-post > div, .sl-layout-post .post-top .share,
.bottom-share-module, .more-tags, .icon-rss, .cotd, .related-video-container, #see-also-links,
h3.comments, .comments-open form, .admin-comments, #comments, .no-pundit-comments > a,
.show-subscribe-button,
.alert,
.byline .contact, .byline .comments, .byline .pageviews,
.onepage-link, .slideshow-controls,
.slideshow-inner-content .wrapper a.prev, .slideshow-inner-content .wrapper a.next,
.bottom-recommended, .post-sidebar-container, .related-links-container,
.feed-footer-wrapper, .ks-taboola,
.ad, .footer-ad, .text-ad,
.sailthruRecommendation,
.perfect-market-social, .perfect-market.recommended-small, .perfect-market.article-ad-bottom, #pmad-bottom, .perfect-market.article-ad-image, .perfect-market.byline,
.river-video-share, .corner,
.share-container, .vertical-social-buttons,
.liveblog-controls,
.category-wrapper,
.slideshow-content.slide-intro-bottom,
.super-banner-container {
	display: none !important;
}

#main-content .container,
#main-content .siteskin-dropshadow,
#main-content .row .span8,
#main-content .row .span12,
.footer .list-pipes:first-child > ul > li:first-child,
.sl-layout-post > .content {
	display: block !important;
}

#main-content .row.primary-row > .span8 {
	width: 660px;
}

/* flex box */

.flex {
	display: table;
}

.flex-item {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.flex-2 {
	width: 50%;
}

.flex-3 {
	width: 33%;
}

.flex-4 {
	width: 25%;
}

.flex-auto {
	width: auto;
}

.flex img {
	max-width: none;
}

.flex .byline-icon {
	width: 50px;
	padding-right: 10px;
}

/* End flex box */

.list-pipes ul {
	margin: 0;
	padding: 0;
}

.list-pipes li {
	list-style: none;
}

#main-content {
	margin-top: 0px !important;
}

img {
	max-width: 100% !important;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.content.post .image-container.slide-image {
	float: right;
	max-width: 400px;
	margin: 3px 0 17px 20px;
	font-size: 17px;
	line-height: 1.4em;
}

.content.slideshow .slide-image {
	float: right;
	max-width: 400px;
	margin: 7px 0 20px 20px;
	font-size: 17px;
	line-height: 1.4em;
}

.image-container.float_right,
.slideshow-content .float_right {
	float: right;
	margin: 3px 0 30px 30px;
}

.image-container.float_left,
.slideshow-content .float_left {
	float: left;
	margin: 3px 30px 30px 0;
}

.image-container.float_right img,
.image-container.float_left img,
.image-container .image.on-image {
	max-width: 400px !important;
}

.image-container .source,
.slideshow-content  .source {
	margin: 0;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	color: #999;
	background: transparent;
	text-shadow: none;
}

.source,
.source span {
	font-family: Helvetica, Arial, sans-serif;
}

.image-container .caption,
.slideshow-content .on-image,
.slide-image,
.slide-image-large {
	display: block;
	margin: 0 0 17px;
	font-family: FaktConPro-SemiBold, Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #222;
	line-height: 1.4em;
}

.slide-image,
.slide-image-large {
	margin: 0;
}

.image.on-image {
	line-height: 1em;
}

.slideshow-inner-content .wrapper {
	line-height: 0;
}

.slide-ctrl {
	float: right;
	display: inline-block;
	height: 23px;
	margin: 0 0 5px;
}

.slide-ctrl .ctrls.pull-right {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide-ctrl .ctrls li {
	display: inline;
	margin: 0 0 0 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.slide-title {
	page-break-after: avoid;
}

.slide-module {
	page-break-inside: avoid;
}

.one-page .slide-module {
	margin: -1px 0 0 0;
}

a,
.KonaBody a,
.KonaBody a span,
.slideshow-content a {
	color: #196D8D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.siteskin-dropshadow,
.footer,
.footer .container {
	max-width: 512pt !important;
	margin: auto;
}

.footer {
	clear: both;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	background: transparent;
}

.footer ul {
	padding-left: 0;
}

.footer .list-pipes,
.footer .list-pipes a {
	color: #222;
	white-space: normal;
}

.border-top {
	border: none;
}

a[href]:after {
    content: '';
  }

.touts h1 {
	display: block;
	margin: 10px 0;
	font-family: 'headline-semi-bold', Helvetica, Arial, sans-serif;
	font-size: 39px;
	font-weight: normal;
	line-height: 1.2em;
}

.touts h1 a,
.touts h2 a,
.touts h3 a,
.river h2 a,
.river h3 a {
	text-decoration: none;
	color: #222;
}

.touts h3 {
	display: block;
	margin: 10px 0 9px;
	font-family: FaktConPro-SemiBold, Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.2em;
	color: #222;
}

.touts ul {
	list-style: none;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.border-bottom {
	margin-bottom: 30px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 30px;
}

.row-fluid:before,
.row-fluid:after {
	display: table;
	line-height: 0;
	content: "";
}

.row-fluid:after {
	clear: both;
}

.river .span6 {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.river .span4 {
	float: left;
	width: 190px;
	margin-right: 20px;
}

.river .span8 {
	float: left;
	width: 395px;
	margin-right: 20px;
}

.river h2 {
	display: inline;
	font-family: FaktConPro-SemiBold, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 1.2em;
	color: #222;
}

.river h3 {
	display: inline;
	font-family: FaktConPro-SemiBold, Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.2em;
	color: #222;
}

.post h1 {
	margin: .4em 0;
	padding: 0;
	font-family: 'headline-semi-bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 40px;
	line-height: 1.1em;
}

.byline,
.author-byline,
.vertical-name {
	font-family: 'headline-semicon-semi-bold', 'headline-semi-bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4em;
	text-transform: uppercase;
}

.vertical-name-wrapper {
	height: 38.5px;
	margin: 15px 0 30px;
	padding-bottom: 0;
	line-height: 34.5px;
	text-align: right;
}

.vertical-name.underlined {
	float: left;
	display: inline-block;
	height: 38.5px;
	padding-bottom: 0;
	border-bottom: 6px solid #DDD;
	margin-bottom: 15px;
	font-size: 38.5px;
	line-height: 38.5px;
	text-transform: uppercase;
}

.byline .author-photo,
.byline .publication-info {
	display: inline-block;
	margin-right: .3em;
	vertical-align: middle;
}

.byline a {
	text-transform: uppercase;
	color: #222;
}

.byline .date {
	color: #999;
	font-family: 'headline-semi-normal', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.KonaBody,
.KonaBody p,
.KonaBody span {
	font-family: Georgia, Times, sans-serif;
}

.slideshow-inner-content h3 {
	margin-bottom: 10px;
}

.slide-title {
	display: block;
	min-height: 23px;
	margin: 10px 0;
	font-family: 'headline-semi-bold', Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 1.3em;
	font-weight: normal;
	color: #222;
}

.one-page br.clear-both {
	display: none;
}

.one-page .post-content,
.slide-module {
	margin-bottom: 30px;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 30px;
}
