#preload-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url("/images/background.png");
    background-repeat: repeat;
}

.preload-gradient{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.preload-root {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload-root .preload-row {
    width: auto;
    margin-top: -20%;
}

.preload-root .preload-row .preload-logo {
    width: auto;
    margin-bottom: 20px;
}

.preload-root .preload-row .preload-progress {
    border-radius: 25px;
    border: 1px solid #158c10;
    box-shadow: inset 0 0 10px 1px #158c10;
    padding: 2px;
    text-align: left;
    width: 530px;
    height: 40px;
}
