html {
    height: 100%;
}  
.title-soft img {
    margin-bottom: 3px !important;
}
.title-soft {
    display: block;
    overflow: hidden;
}
.soft-img {
    float: left;
    height: 35px;
    padding-right: 10px;
    width: 35px;
}
.paragraf {
    margin-left: 45px;
    margin-top: -15px;
}
.img-soft-box {
    display: block;
    float: left;
    min-height: 32px;
    min-width: 47px;
}
p br {
    line-height: 23px;
}
* {
    outline: 0 none;
}
body {
    background: url("../images/bg33.png") no-repeat scroll 50% top #FFFFFF;
    color: #232323;
    font: 12px/140% arial,helvetica,sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    height: 100%;
}
body.def  {
    background: url("../images/bg33.png") no-repeat scroll 50% top #FFFFFF;    
}
body.blue {
    background: url("../images/bg3.jpg") no-repeat scroll 50% top #FFFFFF;    
}
body.blue2 {
    background: url("../images/bgblue2.png") no-repeat scroll 50% top #FFFFFF;    
}    
body.lightblue {
    background: url("../images/bg-light-blue-short.png") no-repeat scroll center top #FFFFFF;
}
body.lightblue.logo-1 {
    background: url("../images/bg-dark-blue.jpg") no-repeat scroll 50% top #FFFFFF;    
}
body.lightblue.logo-2 {
    background: url("../images/bg-light-blue.jpg") no-repeat scroll 50% top #FFFFFF;    
}
body.green {
    background: url("../images/bg4.jpg") no-repeat scroll 50% top #FFFFFF;    
}   
p {
    margin: 15px 0;
}
a {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    color: #111111;
    text-decoration: underline;
}
img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
#wrapper {
    margin: -3px auto;
    width: 1000px;
    position: relative;
    min-height: 100%;
    height: auto !important;
}
#topbar {
    height: 80px;
    background: url("../images/bg-light-blue-short.png") no-repeat scroll center 3px #0E5173;
}
.logo-1 #topbar a#logo,
.logo-2 #topbar a#logo{
    margin-top: -2px;
    margin-left: 5px;    
}
#topbar a#logo {
    color: #DDDDDD;
    float: left;
    font: 12px/100% arial,helvetica,sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000000;
    text-transform: uppercase;
    width: 350px;
    margin-top: 18px;
}
#topbar a#logo img {
    display: block;
    margin-bottom: 6px;
}
#topbar form {
    float: right;
    margin: 14px 5px 0 0;
    padding: 0;
    position: relative;
    width: 620px;
}
#topbar form input[type="image"]:hover {
    opacity: 0.75;
}
#menubar {
    height: 38px;
}
#menubar #productcount {
    color: #58626B;
    float: right;
    font: italic 12px/100% georgia,times,serif;
    padding: 13px 10px 0 0;
    text-align: right;
    text-shadow: 0 1px 0 #EEEEEE;
    width: 180px;
}
#menubar a#homebutton img {
    background: url("../images/softangosprite.png") no-repeat scroll 11px 7px transparent;
    display: block;
    float: left;
    margin: 5px 10px;
    opacity: 0.8;
    padding: 7px 24px 5px 12px;
}
#menubar a#homebutton:hover img {
}
#menubar ul {
    float: left;
    font: bold 12px/100% arial,helvetica,sans-serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menubar ul li {
     border-color: #A3ACB4;
    border-style: solid;
    border-width: 1px 1px 0;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 1px;
}
#menubar ul li a {
    color: #363D45;
    display: block;
    padding: 13px 0 11px;
    text-decoration: none;
}
#topbanner {
    height: 90px;
    margin-bottom: 15px;
    padding: 14px 0;
    text-align: center;
}
#footer {
    background: url("../images/bgfooter.jpg") no-repeat scroll 50% top #F9F9F9;
    color: #777777;
    margin-top: 0;
    height: 70px;
    padding: 32px 0 18px;
    text-shadow: 0 1px 0 #FFFFFF;
}
#left-footer{
    position: relative;
    top: 12px;    
}
#right-footer{
    
}
#footer .content {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 auto 20px;
    padding: 0 10px 25px;
    width: 960px;
}
#footer a:hover {
    text-decoration: none;
}
.vmenu {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #444444;
    margin: 0 0 15px;
}
.blue .vmenu h3{
    background:#70B3E0;
    color:#fff;   
}
.blue2 .vmenu h3{
    background:#A7B8CA;
    color:#fff;   
}
.lightblue .vmenu h3{
    background: url("../images/lightblue.png") repeat-x scroll 0 -90px transparent;
    color:#fff;   
}
.green .vmenu h3{
    background:url("../images/lightgreen.png") repeat-x scroll 0 -90px transparent;
    color:#fff;   
}
.vmenu h3 {
    background: url("../images/softangosprite.png") repeat-x scroll 0 -90px transparent;
    color: #4A5E73;
    font: 12px/100% 'lucida sans unicode',arial,helvetica,sans-serif;
    height: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.vmenu h3.vmenu-es {
    padding: 10px 2px 0 !important;    
}
.vmenu.drivers-menu h3 {
    font-size: 11px;
}
.vmenu ul {
    border-bottom: 1px solid #E5E5E5;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.vmenu ul li {
    border-bottom: 1px solid #E5E5E5;
}
.vmenu ul li a {
    background: url("../images/softangosprite.png") no-repeat scroll right -47px transparent;
    display: block;
    font-size: 13px;
    line-height: 100%;
    padding: 7px 10px;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-word;
}
table.hotlist td:first-child {
    width: 100px;    
}
.blue .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/softangosprite.png") no-repeat scroll right -47px transparent;
    background-color: #AFCBDB;
    color: #2871A4;
}
.blue .vmenu ul li a:hover {
    background-color: #AFCBDB;
    color:#fff;    
}
.blue2 .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/softangosprite.png") no-repeat scroll right -47px transparent;
    background-color: #C9D6E2;
    color: #5E6F81;      
}
.blue2 .vmenu ul li a:hover{
    background-color: #C9D6E2;
    color:#fff;     
}
.lightblue .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/lightblue.png") no-repeat scroll right -224px transparent;
    background-color: #eaf1f8;
    color: #32546D;      
}
.vmenu ul li:hover ul {
    display: block !important;
}
.lightblue .vmenu ul li a:hover{
    background-color: #4584c6;
    color:#fff;     
}
.green .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/lightgreen.png") no-repeat scroll right -47px transparent;
    background-color: #f3f5f0;
    color: #5B861A;      
}
.green .vmenu ul li a:hover{
    background-color: #5B861A;
    color:#fff;
    background: url("../images/lightgreen.png") no-repeat scroll right -47px #5B861A;      
}
.blue1 .vmenu ul.category li a:hover,.blue .vmenu ul li.active a{
    background-color: #AFCBDB;
    color:#fff;         
}
.blue2 .vmenu ul.category li a:hover,.blue2 .vmenu ul li.active a{
    background-color: #C9D6E2;
    color:#fff;        
}
.lightblue .vmenu ul.category li a:hover,.lightblue .vmenu ul li.active a{
    background-color: #4584c6;
    color:#fff;         
}
.lightblue .vmenu ul li a:hover,.lightblue  .vmenu ul li.active a {
    border-bottom: 1px solid #4584c6;
    border-top: 1px solid #d9ecff;    
}
.green .vmenu ul.category li a:hover,.green .vmenu ul li.active a{
    background-color: #5B861A;
    color:#fff;
    border-bottom: 1px solid #5B861A;
    border-top: 1px solid #5B861A;
    background: url("../images/lightgreen.png") no-repeat scroll right -47px #5B861A;      
}
.vmenu ul li a:hover, .vmenu ul li.active a {
    background: url("../images/vmenu_arrow.png") no-repeat scroll right 50% #C5CED6;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #111111;
    padding: 6px 10px;
}  
.vmenu ul li ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F5F5F5;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 1px;
    box-shadow: 2px 2px 5px #666666;
    display: none;
    margin: -27px 0 0 175px;
    position: absolute;
    width: 150px;
    z-index: 20001;
}
.vmenu ul li ul li a {
    padding: 7px 10px 6px;
    width: 115px; 
    padding-right: 25px;
}
.vmenu ul li ul li a:hover {
    padding: 6px 10px 5px;
}
.lightblue .vmenu ul li ul li a:hover{
    width: 115px; 
    padding-right: 25px;   
}
.lightblue .vmenu ul#categories li a.first-row{
    width: 145px;
    padding-right: 25px;   
}
#searchform div.sech-button {
    cursor: pointer;
    display: inline-block;
    height: 29px;
    width: 35px;
}
.tabs {
    background: url("../images/softangosprite.png") repeat-x scroll 0 -120px transparent;
    color: #444444;
    height: 65px;
    margin: 0;
    padding: 0 10px;
}

.tabs-drivers {
    color: #444444;
    margin: 0;
    padding: 0 10px;
}

.tabs-drivers h3 {
    color: #FFFFFF;
    font: 12px/100% 'lucida sans unicode',arial,helvetica,sans-serif;
    height: 18px;
    letter-spacing: 1px;
    margin: 0 0 8px;
    padding: 10px 1px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.lightblue .tabs-drivers{
    background: url("../images/lightblue.png") repeat-x scroll 0 -120px transparent;   
    height: 30px;
    border-bottom: 1px solid #205895;   
}

.blue .tabs{
    background: #70B3E0;
    height: 64px;
    border-bottom: 1px solid #318DCC;  
}
.blue2 .tabs{
    background: #A7B8CA;
    height: 64px;
    border-bottom: 1px solid #5E6F81;   
}
.lightblue .tabs{
    background: url("../images/lightblue.png") repeat-x scroll 0 -90px transparent;
    /*background: #82A1B5; */
    height: 30px;
    border-bottom: 1px solid #205895;   
}
.green .tabs{
    background: #A5CA6D;
    height: 64px;
    border-bottom: 1px solid #5B861A;
    background: url("../images/lightgreen.png") repeat-x scroll 0 -120px transparent;   
}
.tabs h3 {
    background: url("../images/softangosprite.png") repeat-x scroll 0 bottom transparent;
    color: #4A5E73;
    font: 12px/100% 'lucida sans unicode',arial,helvetica,sans-serif;
    height: 18px;
    letter-spacing: 1px;
    margin: 0 0 8px;
    padding: 10px 1px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.blue .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.blue2 .tabs h3{
    background: none;
    color: #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff;
}
.lightblue .tabs h3{
    background: none;
    color: #fff;
    height: 17px; 
    /*border-bottom: 1px dotted #fff;*/
}
.green .tabs h3{
    background: none;
    color: #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff;
}
.tabs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tabs ul li {
    float: left;
    margin-right: 4px;
}
.tabs ul li a {
    background: none repeat scroll 0 0 #A3ACB4;
    color: #FFFFFF;
    display: block;
    font-weight: 700;
    line-height: 100%;
    margin-top: 1px;
    padding: 9px 15px 7px;
    text-decoration: none;
}
.blue1 .tabs ul li a,.blue .tabs ul li a:hover{
    background:#2871A4;
    color:#fff; 
}
.blue2 .tabs ul li a,.blue2 .tabs ul li a:hover{
    background:#5E6F81;
    color:#fff;  
}
.lightblue .tabs ul li a,.lightblue .tabs ul li a:hover{
    background:#205895;
    color:#fff;  
}
.green .tabs ul li a,.green .tabs ul li a:hover{
    background:#5B861A;
    color:#fff;  
}
.tabs ul li a:hover {
    background: none repeat scroll 0 0 #A3ACB4;
    color: #FFFFFF;
    text-decoration: underline;
}
.blue1 .tabs ul li a.active,.blue .tabs ul li a.active:hover{
    color: #2871A4;    
}
.blue2 .tabs ul li a.active,.blue2 .tabs ul li a.active:hover{
    color: #5E6F81;       
}
.lightblue .tabs ul li a.active,.lightblue .tabs ul li a.active:hover{
    color: #32546D;       
}
.green .tabs ul li a.active,.green .tabs ul li a.active:hover{
    color: #5B861A;       
}
.tabs ul li a.active, .tabs ul li a.active:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B9C2CA #E7E9ED -moz-use-text-color #B9C2CA; 
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #111111;
    cursor: text;
    display: block;
    margin-top: 0;
    text-decoration: none;
}
#left_menus {
    float: left;
    margin: 0 15px 0 10px;
    width: 180px;
}
#home_main {
    float: left;
    margin-right: 15px;
    width: 470px;
}
#home_main.big {
    margin-left: 15px;
    width: 605px;   
}
#right_menus {
    float: right;
    margin: 0 10px 0 0;
    width: 300px;
}
#right_menus.home-right{
    margin-top: 24px;    
}
ol.toplist {
    border-bottom: none;
    color: green;
    list-style: decimal inside none;
    margin: 0 0 15px;
    padding: 0;
}
ol.toplist li.more-list{
    background: none;
    border-bottom: none;
    list-style-type: none;
    text-align: right;
}
ol.toplist li {
    font: 12px/100% arial,helvetica,sans-serif;
    padding: 12px 10px 7px 14px;
    float: left;
    width: 92%;
    border-top: 1px dotted #06C;
}
ol.toplist li a.more-list span{
    color: #000;
    font-size: 17px;
    font-weight: bold;
}

ol.toplist li.more-list a span{
    color: #5B8D17;
    font-size: 17px;
    font-weight: bold;
}
ol.toplist li.more-list a{
    text-decoration: none;
    float: right;
    width: auto;    
}
ol.toplist li.more-list a:hover{
    text-decoration: none;    
}           
ol.toplist li.more-list div{
    display: inline;
}
ol.toplist li.more-list div:hover,
ol.toplist li.more-list a:hover div{
    text-decoration: underline;    
}

ol.toplist li a {
    float: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
    width: 253px;
    margin-top: -4px;
}
ol.toplist li a:hover {
    color: #222222;
    text-decoration: underline;
} 

ol.toplist li.first {
    font-size: 18px;
    padding-top: 12px;
    padding-left: 10px;
    border: none;
}
ol.toplist li.first a {
    margin-top: -1px;
    padding-left: 4px;
    width: 250px;
}
ul.hotlist {
    border-bottom: 1px solid #E5E5E5;
    color: #333333;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.hotlist li {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #ECECEC;
    font: 12px/120% arial,helvetica,sans-serif;
    overflow: hidden;
    padding: 20px 10px 15px;
    position: relative;
}
ul.hotlist li.freeride {
    height: 108px;
    padding: 20px 10px;
    position: relative;
}
ul.hotlist > li.even {
    background: none repeat scroll 0 0 #FFFFFF;
}
ul.hotlist li a {
    color: #555555;
    line-height: 100%;
    text-decoration: none;
}
ul.hotlist li a:hover {
    color: #222222;
    text-decoration: none;
}
ul.hotlist li a strong {
    color: #0066CC;
    display: block;
    font: bold 12px/100% arial,helvetica,sans-serif;
    margin: 0 0 5px;
}
ul.hotlist li a img {
    float: left;
    margin: 0 15px 10px 0;
}
ul.hotlist li .hotlist_starts {
    color: orange;
    float: right;
    font: 11px/100% tahoma,verdana,arial,sans-serif;
    padding: 0;
    text-align: right;
    width: 70px;
}
a.download:hover strong {
    opacity: 0.92;
}
#prodpics a:hover {
    box-shadow: 0 0 5px #666666;
}
.fb_edge_widget_with_comment {
    top: -3px;
}
#hot_featured img, #hot_new img, #hot_staff img {
    max-height: 32px;
    max-width: 32px;   
}
ul.hotlist li .soft-img img{
    height: 32px;
    width: 32px;
    float: left;
    word-wrap: break-word;
    word-break: break-word; 
    overflow: hidden;
    font-size: 7px;
}
    
#hot_featured img.freeride, #hot_new img.freeride, #hot_staff img.freeride {
    max-height: 100px;
    max-width: 100px;
}
#footer a, .small_featured a:hover h3, ul.hotlist li a:hover strong {
    text-decoration: underline;
}
.inherit a, .breadcrums a {
    color: inherit;
}

.inherit {
    /*text-align: center;  */
    width: 700px;
    margin-left: auto;
    margin-right: auto;   
}
#footer a#vk-footer{
    width: 33px;
    height: 33px;
    background: url("../images/social.png") no-repeat scroll -158px 0px;
    float:right;
}
#footer a#vk-footer:hover{
    background: url("../images/social.png") no-repeat scroll -158px -36px;
    cursor: pointer;
}
#footer a#fb-footer{
    width: 33px;
    height: 33px;
    background: url("../images/social.png") no-repeat scroll -78px 0px;
    float:right;
   
}
#footer a#fb-footer:hover{
    background: url("../images/social.png") no-repeat scroll -78px -36px;
    cursor: pointer;    
}
#vk_like{
    display: inline-block;
}
#footer a#tw-footer{
    width: 33px;
    height: 33px;
    background: url("../images/social.png") no-repeat scroll 0px 0px;
    float:right;
    margin-right: 2px;       
}
#footer a#tw-footer:hover{
    background: url("../images/social.png") no-repeat scroll 0px -36px;
    cursor: pointer;   
}
#footer a#g-footer{
    width: 33px;
    height: 33px;
    background: url("../images/social.png") no-repeat scroll -118px -1px;
    float:right;
    margin-right: 2px;       
}
#logo h1{
    font: 12px/100% arial,helvetica,sans-serif;
    padding: 0;
    margin: 0;
}
#bot-footer{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;    
}
#footer a#g-footer:hover{
    background: url("../images/social.png") no-repeat scroll -118px -37px;
    cursor: pointer;    
}
#footer a#yt-footer{
    width: 33px;
    height: 33px;
    background: url("../images/social.png") no-repeat scroll -39px 0px;
    float:right;
    margin-right: 2px;       
}
#footer a#yt-footer:hover{
    background: url("../images/social.png") no-repeat scroll -39px -36px;
    cursor: pointer;    
}
#developer-link{
    padding-left: 5px;
}
#dev-img{
    float:left;
    padding-right: 5px;
   /* padding-bottom: 5px; */
}
#dev-div-top{
    margin-top: 15px;   
}
#dev-div{
    text-align: justify;    
}
#list-soft-li{
    position: relative;    
}
#home_main ul#list-soft-dev li.list-soft-li,
#home_main ul#list-soft-dev li.pagination-dev {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    float: left;
    width: 100%;   
}
#home_main ul#list-soft-dev li.list-soft-li{
    height: 110px;    
}
#home_main ul#list-soft-dev li.pagination-dev{
    height: 34px;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}
#home_main ul#list-soft-dev li.list-soft-li:first-child{
    padding-top: 0px;    
}
#list-soft-dev{
    margin-top: 15px;
    position: relative;
    padding: 0;
}
.tag-cloud{
 
}
.tag-cloud-box{
    margin: 0 0 15px;
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0 0 0 2px;
}
.tag-cloud-box li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}
#list-soft-dev-top{
    background: url("../images/softangosprite.png") repeat-x scroll 0 -90px transparent;
    color: #4A5E73;
    font: 12px/100% 'lucida sans unicode',arial,helvetica,sans-serif;
    height: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 5px;    
}
.lightblue  #list-soft-dev-top{
    background: url("../images/lightblue.png") repeat-x scroll 0 -90px transparent;    
    color: #fff;
}
#list-soft-dev-top span{
    
}
#list-soft-dev.list-soft-dev-top-developer{
margin-top: 0px;
}
#list-soft-dev .download-history{
    bottom: -22px;   
}
/*#topbar form input[type="text"] {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    font: 12px/100% arial,sans-serif;
    outline: 0 none;
    padding: 6px 5px 5px;
    width: 538px;
    position: relative;
    top: -32px;
}    */
#topbar form input[type="text"] {
    /*background: url("http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif") no-repeat scroll 5px center;*/
    border: 0 none;
    float: left;
    font: 12px/100% arial,sans-serif;
    outline: 0 none;
    padding: 6px 5px 5px;
    position: relative;
    top: -19px;
    width: 305px;
}
#topbar form input[type="text"]:focus, #search.withsearch {
    background: none repeat scroll 0 0 !important;
}

#cse-search-results iframe {
    margin-left: -5px;
}

#search {
    border: none !important;
    width: 580px !important;
    height: 20px !important;
}

.searchbeta-banner {
    background: #FFFFFF;
    margin-bottom: -120px!important;
    height:100px!important;
}

.download-small a {
    background-image: url("../images/download-small.png");
    bottom: 5px;
    display: block;
    float: right;
    height: 20px;
    position: absolute;
    right: 0;
    width: 104px;
}
.download-button img {
    float: right !important;
    margin: 30px 0 0 5px !important;
    max-width: 85px !important;
}      
.social-icons2 .fb_edge_widget_with_comment, .social-icons2 .social_icon, .social-icons2 .icon22 {
    margin-right: 13px;
    position: relative;
    top: -1px;
}
.social-icons2 #___plusone_0 {
    width: 75px !important;
}
.social-icons2 .twitter-share-button {
    width: 94px !important;
}
.social-icons2 .social_icon33 {
    margin-right: 0;
    top: 0 !important;
}
.social-icons2 .fb_edge_widget_with_comment {
    top: 0;
}
.social-icons2 a:hover{
    text-decoration: none;
}
/*#ru-social.social-icons2{
    height: 50px;    
}*/
.social-icons2{
    width: 470px;
    min-height: 24px;
    max-height: 50px;
    overflow: visible;    
}
.title-soft img {
    margin-bottom: 3px !important;
}
.title-soft {
    display: block;
    overflow: hidden;
}
.list-text{
    padding-left: 45px;
}
.list-text.driver-list{
    padding-left: 0px;
}
#prodinfo h1{
    text-transform: none;
}
.autocompleter-choicesWrap {
    background:#5D5D5D;
    background: -webkit-linear-gradient(top, #6B6D6E, #5D5D5D);
    background: none repeat scroll 0 0%, -moz-linear-gradient(center top , #6B6D6E 0px, #5D5D5D 100%) repeat scroll 0 0 transparent;
    background: none repeat scroll 0 0%, -ms-linear-gradient(center top , #6B6D6E 0px, #5D5D5D 100%) repeat scroll 0 0 transparent;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    font-size: 0.933em;
    height: auto !important;
    left: 0;
    line-height: 1.2em;
    padding: 0 5px 0;
    position: absolute;
    top: 27px;
    visibility: hidden;
    width: 569px !important;
    z-index: 5700000 !important;
}
.autocompleterHead {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 10px 0;
    text-transform: capitalize;
}
.autocompleter-choices, .autocompleter-searchTarget {
    background-color: #F4F4F4;
    border: 1px solid rgba(86, 87, 88, 0.8);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    margin: 0;
    padding: 15px 5px 20px;
    width: 557px !important;
}
.autocompleterHead ul {
    list-style: none outside none;
}
.autocompleter-choices li, .autocompleter-searchTarget li {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #860000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 532px;
}
.autocompleter-choices li a, .autocompleter-searchTarget li a {
    color: #860000 !important;
    text-decoration: none !important;
}
.autocompleter-choices li input, .autocompleter-searchTarget li input {
    margin: 0 8px 0 0;
    vertical-align: middle;
}
.ac_over {
    background-color: #EEEEEE !important;
}
.img-soft-box {
    display: block;
    float: left;
    min-height: 32px;
    min-width: 47px;
}
#menubar a#homebutton div {
    background: url("../images/softangosprite.png") no-repeat scroll 11px 7px transparent;
    display: block;
    float: left;
    margin: 5px 10px;
    opacity: 0.8;
    padding: 7px 24px 5px 12px;
}
.blue a#homebutton {
    background: url("../images/bgt.png") repeat scroll 0 0/*#70B3E0*/;   
}
.blue a#homebutton:hover{
    background: #2871A4;
    background: url("../images/bgt.png") repeat scroll 0 -43px;    
}
.blue2 a#homebutton {
    background: #A7B8CA;    
}
.blue2 a#homebutton:hover{
    background: #5E6F81;    
}
.lightblue a#homebutton {
    /*background: #82A1B5;*/
    background: url("../images/bgt.png") repeat scroll 0 0;    
}
.lightblue a#homebutton:hover{
   /* background: #32546D; */
    background: url("../images/bgt.png") repeat scroll 0 -43px;        
}
.green a#homebutton {
    /*background: #A5CA6D;*/
    background: url("../images/bgt-green.png") repeat scroll 0 0;    
}
.green a#homebutton:hover{
    /*background: #5B861A;*/
    background: url("../images/bgt-green.png") repeat scroll 0 -43px;    
}
a#homebutton {
    /*border-color: #A3ACB4;
    border-style: solid;
    border-width: 1px 1px 0;*/
    display: block;
    float: left;
    overflow: hidden;
    padding-bottom: 5px;
} 
.user-download .download-button img {
    margin-top: 10px !important;
}
.active-mitem {
    background-color: #F0F4F5;
    color: #000000;
}
.blue .active-mitem{
    background-color: #AFCBDB;
    color: #2871A4 !important;       
}
.blue2 .active-mitem{
    background-color: #C9D6E2;
    color: #5E6F81 !important;       
}
.lightblue .active-mitem{
    background: url("../images/bgt.png") repeat scroll 0 -43px !important;
    color: #fff !important;       
}
.green .active-mitem{
    background: url("../images/bgt-green.png") repeat scroll 0 -43px !important;
    color: #fff !important;       
}

#menubar ul li:hover, #menubar ul li.active {
    background-color: #424E61 !important;
    color: #FFFFFF;
}
#menubar ul li.active a {
    color: #000000;
}
#menubar ul li:hover a {
    color: #FFFFFF;
}
#menubar ul li {
    background-color: #192B3E;
    color: #FFFFFF;
}
#menubar ul#user-menus li#list-user-menu{
    height: 36px;
    margin-right: 1px;
    margin-top: 1px;
} 
 
.blue #menubar ul li:hover{
    background-color: #2871A4;    
}
.blue2 #menubar ul li{
    background-color: #A7B8CA;    
}
.blue2 #menubar ul li:hover{
    background-color: #5E6F81;    
}
.lightblue #menubar ul li{
    background-color: #82A1B5;    
}
.lightblue #menubar ul li:hover{
    background-color: #32546D;    
}
.green #menubar ul li{
    background-color: #A5CA6D;    
}
.green #menubar ul li:hover{
    background-color: #5B861A;    
}
.green #user-menus-nolog li:hover,.green #user-menus li:hover{
    background: #5B861A !important; 
}
.blue .vmenu h3 span a {
    color:#fff;    
}
.blue2 .vmenu h3 span a {
    color:#fff;    
}
.lightblue .vmenu h3 span a {
    color:#fff;    
}
.green .vmenu h3 span a {
    color:#fff;    
}
#menubar ul li a {
    color: #FFFFFF;
    text-align: center;
    width: 115px;
}
#menubar ul#user-menus-nolog li a {
    width: 66px;
    height: 10px;    
}
#menubar ul#user-menus-nolog li{
    margin-right: 1px;
    margin-top: 1px;   
}
#sign-in-text{
    position: relative;
    right: 23px;    
}
#sign-in-text.es-text{
    font-size: 10px;    
    line-height: 10px;    
}
#user-menus-nolog{
    margin-right: 1px;    
}
#sign-in-avatar{
    width:17px;
    height: 20px;
    background: url("../images/a-plus.png");
    float: left;
    position: relative;
    left: 50px;
    bottom: 6px;    
}
.search-panel {
    background: url("../images/panel-bg2.png") no-repeat scroll center top transparent;
    display: none;
    height: 66px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.search-panel:brefore {
    position: fixed;  
    display: block;
    content: '';
    height: 66px;
    top: 0; 
    left: 0;
    background: url("../images/panel-bg2-lightblue.png") no-repeat scroll center top transparent;
    width: 100%; 
}
#wrapper.panel:after {
    position: fixed;  
    display: block;
    content: '';
    height: 66px;
    top: 0; 
    left: 0;
    background: url("../images/panel-bg2-lightblue_min.png") repeat-x scroll center top transparent;
    width: 100%; 
}
.panel-content {
    margin: 0 auto;
    width: 1031px;
}
.search-panel form input[type="text"] {
    background: none repeat scroll 0 0 transparent;
    /*background: url("http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif") no-repeat scroll 5px center;*/
    border: 0 none;
    float: left;
    font: 12px/100% arial,sans-serif;
    margin: 2px auto 0;
    outline: 0 none;
    padding: 7px 7px 8px;
    width: 494px;  
}
.search-panel form input[type="text"]:focus, #search2.withsearch {
    background: none repeat scroll 0 0 !important;    
}
.search-panel form input[type="text"].custom-background{
    /*background: url("http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif") no-repeat scroll 5px center !important;*/  
    padding: 7px 7px 8px !important 
}
.search-panel form {
    height: 31px;
    position: relative;
}
.autocompleter-choicesWrap.s2 {
    top: 31px !important;
    width: 529px !important;
}
.autocompleter-choicesWrap.s2 li, .autocompleter-choicesWrap.s2 .autocompleter-choices li, .autocompleter-choicesWrap.s2 .autocompleter-searchTarget li {
    width: 494px !important;
}
.autocompleter-choicesWrap.s2 .autocompleter-choices, .autocompleter-choicesWrap.s2 .autocompleter-searchTarget {
    width: 517px !important;
}
.top-search {
    background: url("../images/search-bg-new.jpg") no-repeat scroll -5px -4px transparent;
    height: 31px;
    margin: 10px 0 0 25px;
    padding: 0;
    position: relative;
    right: -261px;
    width: 539px;
}
.search-panel #searchform div.sech-button {
    height: 31px;
    width: 31px;
}
.panel-content .logo-panel {
    background: url("../images/panel-logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 26px;
    margin: 9px 10px 0 0;
    position: relative;
    top: -9px;
    width: 186px;
}
.panel-content .logo-panel.driver{
    background: url("../images/dviverssoftangologomini.png") no-repeat scroll 0 0 transparent;    
}
#user-menus {
    cursor: pointer;
    position: relative;
}
#user-menus li:hover .user-menu-profile {
    display: block;
}
#user-name-menu {
    cursor: pointer;
}
.user-menu-profile {
    background-color: #FFFFFF;
    border: 1px solid #A8ABAB;
    box-shadow: 0 1px 4px 0;
    display: none;
    left: 2px;
    position: absolute;
    top: 43px;
    width: 98%;
}
.user-menu-profile a {
    color: #000000;
    display: block;
    height: 20px;
    margin: 2px 0;
    padding-left: 15%;
    padding-top: 7px;
    text-decoration: none;
    width: 85%;
}
#user-name-menu {
    float: left;
    min-width: 115px;
    padding: 13px 5px 11px;
    text-align: center;
    width: auto;
}
#user-menus img {
    float: left;
    margin: 2px 0 0 -5px;
}
.user-menu-profile a:hover {
    background-color: #424E61;
    color: #FFFFFF;
    text-decoration: none;
}
#user-menus-nolog li a, #user-menus li a {
    color: #fff !important;
    padding: 13px 10px !important;
}
#user-menus-nolog{

}
#user-menus-nolog li, #user-menus li {
    /*background: none repeat scroll 0 0 transparent !important; */
    border-width: 0 0 0 1px !important;
    color: #fff !important;
    padding: 0 10px;
}
#user-menus-nolog li:hover, #user-menus li:hover {
    background: none repeat scroll 0 0 #A4AEB8 !important;
}
.blue1 #user-menus-nolog li:hover,.blue #user-menus li:hover{
     background:  none repeat scroll 0 0 #2871A4 !important;   
}
.blue2 #user-menus-nolog li:hover,.blue2 #user-menus li:hover{
     background:  none repeat scroll 0 0 #5E6F81 !important;   
}
.lightblue #user-menus-nolog li:hover,.blue2 #user-menus li:hover{
     background:  none repeat scroll 0 0 #32546D !important;   
}
.green #user-menus-nolog li:hover,.blue2 #user-menus li:hover{
     background:  none repeat scroll 0 0 #5B861A !important;   
}
#user-menus #show-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -7px;
}
#user-menus #show-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -6px;
}
.separator-user {
    border-top: 1px solid #E5E5E5;
    display: block;
    margin: 2px 0;
    width: 100%;
}
.caret {
    border-color: #000000 transparent #FFFFFF;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 2px;
    margin-top: 17px;
    opacity: 0.3;
    position: absolute;
    right: 6px;
    vertical-align: top;
    width: 0;
}
#user-menus .logout-icon {
    background: url("../images/logout.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 17px;
    padding-right: 5px;
    position: relative;
    top: -2px;
    width: 15px;
}
.hotlist li p {
    margin: 5px 0;
}
.hotlist li .download-button {
    display: block;
    margin-top: -18px;
}
h1.congr {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 30px;
    line-height: 36px;
}
#buttonImg{
    background: url('../images/submit.png') repeat-x;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font-size: 13px;
    margin: 0;
    display: inline-block;
    padding: 6px 10px 6px;
    text-decoration: none;
    border-radius: 4px;
}
#buttonImg:hover{
    background-image: none;
    background-color: #E6E6E6;
}
a#buttonImg{
    height: 20px;
}

.download-history {
    float: right;
    margin-top: 0;
    position: absolute;
    width: 260px;
    height: 50px;
    bottom: -15px;
    right: 86px;  
}

.innerfoo{width: 470px;height: 250px;background: green;}
.carousel-wrap div div{ /*display: inline-block;*/ float: left;width: 470px;}
.carousel-previous, .carousel-next{ display: none;}
#google_flash_div{ margin-bottom:10px;}

.invalid_input {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #FF0000!important;
}

div.message_box {
    margin-bottom: 5px;
    margin-right: 15px;
    text-align: right;
    color: #FF0000;
    min-height: 17px;
}
/*.sech-button-my{
    width: 30px;
    height: 30px;
    z-index: 100;
    position: relative;
    top: -3px;
    left:  549px;
}*/
.sech-button-my{
    width: 30px;
    height: 30px;
    z-index: 100;
    position: relative;
    top: 26px;
    left:  965px;
}
.sech-button-my:hover{
    cursor:pointer;
}
.sech-button-page-my{
    width: 30px;
    height: 30px;
    z-index: 100;
    position: relative;
    top: 0px;
    left: 509px;
}
.sech-button-page-my:hover{
    cursor:pointer;
}
.sech-button-page-my-soft{
    width: 30px;
    height: 30px;
    z-index: 100;
    position: relative;
    top: 0px;
    left: 259px;
}
.sech-button-page-my-soft:hover{
    cursor:pointer;
}
#d-list1{
    width:16px;
    height:16px;
    background: url(../images/d-s.png);
    float:  left;;
    margin-right: 5px;
    position: relative;
    top: -2px;    
}
#d-list2{
    width:16px;
    height:16px;
    background: url(../images/p-s.png);  
    float: left;
    margin-right: 5px;
    position: relative;
    top: -2px;    
}
#span-left-download{
    display: inline-block;
    width: 80px;
    color: #797979; 
    font-weight: bold;     
}
#span-right-download{
    display: inline-block;
    width: 70px;
    color: #797979;
    font-weight: bold;     
}
.star-active{
    width:16px;
    height:16px;
    background: url(../images/start-s.png) 0 0;  
    float:  left;
    margin-right: 3px;        
}
.star-notactive{
    width:16px;
    height:16px;
    background: url(../images/start-s.png) 0 16px ;  
    float:  left;
    margin-right: 3px;       
}
.hotlist_starts_my{
    display: inline-block;
}
#content.extension-content{
    margin-top: 0px;    
}
#content{
    /*margin-top: 10px;*/
    padding-top: 30px;
    position: relative;
    background-color: #fff;
    min-height: 100%;
}
.blue #user-menus-nolog li:hover,.blue #user-menus li:hover{
    background: url("../images/bgt.png") repeat scroll 0 -43px !important;
    margin-right: 1px;    
}
.blue #menubar ul:hover{
    background: url("../images/bgt.png") repeat scroll 0 -43px;     
}
.orange1 #user-menus-nolog li:hover,.orange1 #user-menus li:hover{
     background:  none repeat scroll 0 0 #FFB014 !important;   
}
.orange1 .vmenu h3 span a {
    color:#fff;    
}
.orange1 #menubar ul li:hover{
    background-color: #FFB014;    
}
.orange1 a#homebutton:hover{
    background: #FFB014;    
}
.orange1 a#homebutton {
    background: #FFF26B;   
}
.orange1 .tabs ul li a.active,.orange1 .tabs ul li a.active:hover{
    color: #FFDA9B;
    background: #fff;    
}
.orange1 .tabs ul li a,.orange1 .tabs ul li a:hover{
    background:#FFB014;
    color:#fff; 
}
.orange1 .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.orange1 .tabs{
    background: #FFF26B;
    height: 64px;
    border-bottom: 1px solid #FFDA9B;  
}
.orange1 .vmenu ul.category li a:hover,.orange1 .vmenu ul li.active a{
    background-color: #FFDC9B;
    color:#fff;         
}
.orange1 .vmenu ul li a:hover {
    background-color: #FFDC9B;
    color:#fff;    
}
.orange1 .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/softangosprite.png") no-repeat scroll right -47px transparent;
    background-color: #FFDC9B;
    color: #FFB014;
}
.orange1 .vmenu h3{
    background:#FFF26B;
    color:#fff;   
}
.orange1 #menubar ul li {
    background-color:#FFF26B;    
}
.orange1 #menubar ul li:hover{
    background-color: #FFB014;
} 
 .orange1 .active-mitem{
    background-color: #FFDC9B;
    color: #FFB014 !important;       
} 

.red1 #user-menus-nolog li:hover,.red1 #user-menus li:hover{
     background:  none repeat scroll 0 0 #FF4F60 !important;   
}
.red1 .vmenu h3 span a {
    color:#fff;    
}
.red1 #menubar ul li:hover{
    background-color: #FF4F60;    
}
.red1 .active-mitem{
    background-color: #FF6E51;
    color: #FF4F60 !important;       
}
.red1 a#homebutton:hover{
    background: #FF4F60;    
}
.red1 a#homebutton {
    background: #FF1924;   
}
.red1 .tabs ul li a.active,.red1 .tabs ul li a.active:hover{
    color: #FF4F60;
    background: #fff;    
}
.red1 .tabs ul li a,.red1 .tabs ul li a:hover{
    background:#FF4F60;
    color:#fff; 
}
.red1 .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.red1 .tabs{
    background: #FF1924;
    height: 64px;
    border-bottom: 1px solid #680A0F;  
}
.red1 .vmenu ul.category li a:hover,.red1 .vmenu ul li.active a{
    background-color: #FF6E51;
    color:#fff;         
}
.red1 .vmenu ul li a:hover {
    background-color: #FF6E51;
    color:#fff;    
}
.red1 .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/softangosprite.png") no-repeat scroll right -47px transparent;
    background-color: #FF6E51;
    color: #FF4F60;
}
.red1 .vmenu h3{
    background:#FF1924;
    color:#fff;   
}
.red1 #menubar ul li {
    background-color:#FF1924;    
}
.red1 #menubar ul li:hover{
    background-color: #FF4F60;
}


.gray #user-menus-nolog li:hover,.gray #user-menus li:hover{
     background:  none repeat scroll 0 0 #404040 !important;   
}
.gray .vmenu h3 span a {
    color:#fff;    
}
.gray #menubar ul li:hover{
    background-color: #404040;    
}
.gray .active-mitem{
    background: url("../images/bw.png") repeat scroll 0 -43px !important;
    color: #fff !important;       
}
.gray a#homebutton:hover{
    background: url("../images/bw.png") repeat scroll 0 -43px;     
}
.gray a#homebutton {
    background: url("../images/bw.png") repeat scroll 0 0;   
}
.gray .tabs ul li a.active,.gray .tabs ul li a.active:hover{
    color: rgb(0,0,0);
    background: #fff;        
}
.gray .tabs ul li a,.gray .tabs ul li a:hover{
    background:rgb(0,0,0);
    color:#fff; 
}
.gray .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.gray .vmenu ul li a:hover,.gray .vmenu ul li.active a {
    border-bottom: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(0,0,0);
}
.gray .tabs{
    background: url("../images/bw1.png") repeat-x scroll 0 -120px transparent;
    height: 64px;
    border-bottom: 1px solid rgb(0,0,0);  
}
.gray .vmenu ul.category li a:hover,.gray .vmenu ul li.active a{
    background-color: #000;;
    color:#fff;         
}
.gray .vmenu ul li a:hover {
    background-color: rgb(0,0,0);
    color:#fff;    
}
.gray .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/bw1.png") no-repeat scroll right -47px transparent;
    background-color: #C0C0C0;
    color: #404040;
}
.gray .vmenu h3{
     background: url("../images/bw1.png") repeat-x scroll 0 -90px transparent;
    color:#fff;   
}
.gray #menubar ul li {
    background: url("../images/bw.png") repeat scroll 0 0 !important;      
}
.gray #menubar ul li:hover{
    background: url("../images/bw.png") repeat scroll 0 -43px !important;
}

body.gray {
    background: url("../images/bgbw.png") no-repeat scroll 50% top #FFFFFF;    
}

.orange #user-menus-nolog li:hover,.orange #user-menus li:hover{
     background:  none repeat scroll 0 0 #404040 !important;   
}
.orange .vmenu h3 span a {
    color:#fff;    
}
.orange #menubar ul li:hover{
    background-color: #404040;    
}
.orange .active-mitem{
    background: url("../images/oran1.png") repeat scroll 0 -43px;   
    color: #fff !important;       
}
.orange a#homebutton:hover{
    background: url("../images/oran1.png") repeat scroll 0 -43px;     
}
.orange a#homebutton {
    background: url("../images/oran1.png") repeat scroll 0 0;   
}
.orange .tabs ul li a.active,.orange .tabs ul li a.active:hover{
    color: #FF5200;
    background: #fff;        
}
.orange .tabs ul li a,.orange .tabs ul li a:hover{
    background:#FF5200;
    color:#fff; 
}
.orange .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.orange .vmenu ul li a:hover,.orange .vmenu ul li.active a {
    border-bottom: 1px solid #FF5200;
    border-top: 1px solid #FF5200;
}
.orange .tabs{
    background: url("../images/orange1.png") repeat-x scroll 0 -120px transparent;
    height: 64px;
    border-bottom: 1px solid #FF5200;  
}
.orange .vmenu ul.category li a:hover,.orange .vmenu ul li.active a{
    background-color: #FF5200;
    color:#fff;         
}
.orange .vmenu ul li a:hover {
    background-color: #FF5200;
    color:#fff;    
}
.orange .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/orange1.png") no-repeat scroll right -47px transparent;
    background-color: #fffdec;
    color: #982e00;
}
.orange .vmenu h3{
     background: url("../images/orange1.png") repeat-x scroll 0 -90px transparent;
    color:#fff;   
}
.orange #menubar ul li {
    background: url("../images/oran1.png") repeat scroll 0 0 !important;      
}
.orange #menubar ul li:hover{
    background: url("../images/oran1.png") repeat scroll 0 -43px !important;
}

body.orange{
    background: url("../images/orange.png") no-repeat scroll 50% top #FFFFFF;    
}


.rude #user-menus-nolog li:hover,.rude #user-menus li:hover{
     background:  none repeat scroll 0 0 #404040 !important;   
}
.rude .vmenu h3 span a {
    color:#fff;    
}
.rude #menubar ul li:hover{
    background-color: #404040;    
}
.rude .active-mitem{
    background: url("../images/rud.png") repeat scroll 0 -43px !important;
    color: #fff !important;       
}
.rude a#homebutton:hover{
    background: url("../images/rud.png") repeat scroll 0 -43px;     
}
.rude a#homebutton {
    background: url("../images/rud.png") repeat scroll 0 0;   
}
.rude .tabs ul li a.active,.rude .tabs ul li a.active:hover{
    color: #491900;
    background: #fff;        
}
.rude .tabs ul li a,.rude .tabs ul li a:hover{
    background:#491900;
    color:#fff; 
}
.rude .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #491900; 
}
.rude .vmenu ul li a:hover,.rude .vmenu ul li.active a {
    border-bottom: 1px solid #491900;
    border-top: 1px solid #491900;
}
.rude .tabs{
    background: url("../images/rude.png") repeat-x scroll 0 -120px transparent;
    height: 64px;
    border-bottom: 1px solid rgb(0,0,0);  
}
.rude .vmenu ul.category li a:hover,.rude .vmenu ul li.active a{
    background-color: #491900;
    color:#fff;         
}
.rude .vmenu ul li a:hover {
    background-color: #491900;
    color:#fff;    
}
.rude .vmenu ul li a {
    margin-top: 1px;
    background: url("../images/rude.png") no-repeat scroll right -47px transparent;
    background-color: #f5f1ef;
    color: #404040;
}
.rude .vmenu h3{
     background: url("../images/rude.png") repeat-x scroll 0 -90px transparent;
    color:#fff;   
}
.rude #menubar ul li {
    background: url("../images/rud.png") repeat scroll 0 0 !important;      
}
.rude #menubar ul li:hover{
    background: url("../images/rud.png") repeat scroll 0 -43px !important;
}

body.rude {
    background: url("../images/oran.png") no-repeat scroll 50% top #FFFFFF;    
}


#selectss{
    position: fixed;
    top:0;
    left: 0;
}
.breadcrums-catalog{
    font-size: 11px;
    color: #888;
    margin: 0 0 10px;
    margin-left: 15px;    
}
.breadcrums_utility {
    /*float: left; */
}
.breadcrums-catalog a{
    color: #888;   
}
.soft-right2 #rating-form{
    width: 175px;    
}
#rating-form{
    width:205px;
    height: 30px;
    position: relative;
    padding-top: 3px;
    padding-left: 4px;
}
#rate_1,#rate_2,#rate_3,#rate_4,#rate_5{
    background:url("../images/inact1.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    float:left;
    height:23px;
    width:19px
}
#vote_tablo .act{
    background:url("../images/act1.png") no-repeat scroll 0 0 transparent;
}
#cur_rating{
    background:url("../images/act.png") repeat scroll 0 0 transparent;
    height:22px;
    left: 3px;
    position:absolute;
    top:3px;
    width:0px
}
#your_vote_rating {
    font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
    float: right;
    margin-top: 3px;
    font-size: 11px;
}
/*<Красивая пагинация>*/
.preg-pag{
    width: 100%;
    margin: 5px 0px 5px 0px;    
}
.pag{
    text-align: center;
}
.pag-line{
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 20px;
}
#pag-line{
    width: 100%;
    border-bottom: 1px solid #ECECEC;
}
.pag-line-top{
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    margin-top: 5px;    
}
.pagination-normal-left{
    display: inline-block;
    background: url("../images/pagin_left.jpg") no-repeat scroll -1px 1px transparent;
    height: 20px;
    margin: 0;
    min-width: 20px;
    text-align: center;    
}
.pagination-normal-right{
    background: url("../images/pagin_right.jpg") no-repeat scroll right 1px transparent;
    height: 20px;
    min-width: 20px;
}    
.pag .pagination-normal-left .pagination-normal-right a,
.pag .pagination-normal-left .pagination-normal-right span,
.pag .pagination-active-left .pagination-active-right span {
    color:#fff;
    text-decoration: none;
    position: relative;
    top: 2px;
  
}
.pag .pagination-normal-left .pagination-normal-right a:hover,
.pag .pagination-normal-left .pagination-normal-right span:hover,
.pag .pagination-active-left .pagination-active-right span:hover {
    color:#fff;
    text-decoration: none;   
}
.pag a {
    text-decoration: none;
    display: inline-block;    
}
.pagination-active-left,
.pagination-normal-left:hover{
    display: inline-block;
    background: url("../images/pagin_left.jpg") no-repeat scroll -1px -20px transparent;
    height: 20px;
    margin: 0;
    min-width: 20px;
    text-align: center;    
}
.pagination-active-right,
.pagination-normal-right:hover{
    background: url("../images/pagin_right.jpg") no-repeat scroll right -20px transparent;
    height: 20px;
    min-width: 20px;    
}
.pagination-normal-left:hover,
.pagination-normal-right:hover{
    cursor: pointer;    
}
.pagination-point{
    background: url("../images/r.jpg") no-repeat scroll 0px -1px transparent;
    height: 5px;
    width: 4px;
    display: inline-block;
    position: relative;
    margin: 0;
    top: 0px;   
}
.pagination-text-count{
    display: inline-block;
    color: #3CC164;
    padding-left: 2px; 
    position: relative;
    top: 2px;   
}
.pag a.pagination-text-a{
    display: inline-block;
    color: #3CC164;
    font: bold 12px/100% arial,helvetica,sans-serif;
    text-decoration: none;
    position: relative;
    top: 2px;    
}
.pag a.pagination-text-a:hover{
    color: #3CC164;
    text-decoration:underline;    
}
/*</Красивая пагинация>*/
.paginationTop{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: -16px;
    top: -48px;
    left: -60px; */
    height: 16px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 5px;
}
#top-catalog-li, #top-catalog-li1, #top-catalog-li2{
    padding-top: 20px;
}
#paginationTopTag{
    border-top: 1px solid #ECECEC;    
}
#form-report-bug{
    float: left;
    width: 331px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-report-bug{
    float: left;
    width: 310px;
    color: #0066CC;
}
.under-text-report-bug{
    float: left;
    width: 130px;
    font-weight: bold;
    position: relative;
    top: 5px;    
}
.font-text-report-bug{
    float: left;
    width: 130px;
    font-weight: bold;
    position: relative;    
}
#form-report-bug input[type="text"]{
    float: right;
    text-align: center;
    width: 194px;    
}
#form-report-bug textarea{
    float: left;
    width: 325px;
    height: 100px;
    margin-top: 5px;    
}
#form-report-bug input[type="submit"]{
    float: right;
    position: relative;
    right: 125px;
    border: none;
    background: #363d45;
    color: #fff;
    font-weight: bold;
    padding: 4px;   
}
#form-report-bug input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;    
}
#form-report-bug input[type="radio"]{
    float: right;    
}
#form-report-bug div{
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;   
}
#form-report-bug .top-text-form-report-bug{
    text-align: center;
    color: #0066CC;
    font-size: 17px;
}
#form-report-bug .error-form-report-bug{
    color: red;
    font-weight: bold;
    float: left;
    width: 300px;    
}
#soft-video{
    display: none;
    position: fixed;
    top: 40px;
    z-index: 34000;
}
#soft-video-wrapper{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 33000;
    background-color: #000;
    opacity: 0.5;
}
.image-tell-icons{
    width:15px;
    height:15px;
    float:left;
    background: url(../images/icon-tell-a-friend.png);
    position: relative;
    left: 5px;
    margin-right: 10px;    
}
.image-bug-icons{
    width:15px;
    height:15px;
    float:left;
    background: url(../images/report-bug-icon.png);
    position: relative;
    left: 5px;
    margin-right: 10px;
}
.video-soft{
    width: 220px;
    
    margin-top: 20px;  
}
.video-soft .screenshot-video{
    width: 220px;
}
.video-soft .screenshot-video:hover{
    cursor: pointer;
}
.video-soft .head-video{

    background-color: #f0f4f6;
    border-top:2px solid #C2C8D2; 
    margin-bottom: 5px;   
}

.video-soft .head-video span{
    margin-left: 15px;
}
.prev-video{
    position: relative;
}
.video-play{
    position: absolute;
    top: 67px;
    width: 90px;
    height: 32px;
    left: 70px;   
}
.video-play:hover{
    cursor: pointer;
}
.video-play-left{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    background-color: #008C00;

}
.video-play-right{
    display: inline-block;
    width: 51px;
    height: 30px;
    border: 1px solid #C3BAB6;
    position: relative;
    z-index: 200;
}
.global_ru  .video-play {
    width: 124px;
    left: 53px;   
}
.global_ru  .video-play-right {
    width: 86px;    
}
.global_ru .video-play-right-under {
    width: 87px;  
}
#next-video{
    position: absolute;
    width: 15px;
    height: 18px;
    background: url(../images/play-next.png);
    top: 7px;
    left: 10px;    
}
.video-play-right span{
    position: absolute;
    color: #fff;
    top: 7px;
    left: 10px;
    opacity: 0.8;
}
.video-play-right-under{
    background-color: #000;
    opacity: 0.4;
    width: 52px;
    height: 31px;
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 6px;
    
}
.soft-video-info{
    background: #fff;
    margin-top: -3px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000; 
}
.soft-video-under{
      
}
.soft-video-name-top{
    color: #fff;
    padding-bottom: 6px;
    position: relative;
    left: -15px;
    font-size: 18px;
}
#soft-video-exit{
    position: absolute;
    top: 9px;
    font-size: 15px;
    color: #fff;
    background: #000;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    right: -8px;
    border: 1px solid #fff;    
}
#soft-video-exit:hover{
    cursor: pointer;
}
.last-video-box{
    
}
#last-video-box-top-a{
    font-size: 15px;
    font-weight: bold;    
}
.last-video-box-div{
    padding-bottom: 5px;
    padding-top: 5px;   
}
.last-video-box img{
    width: 280px;
    padding-top: 5px;
    padding-left: 10px;
}
.last-video-box a{
    padding-left: 10px;
}
.last-video-box-clear{
    width: 300px;
    /*margin-left: 10px;*/
    border-bottom: 1px solid #E5E5E5;
}
.last-video-box-time{
    float: right;
    margin-right: 10px;
    border: 1px solid #B8C3CC;
}
.top-last-video-box{
    background: url("../images/softangosprite.png") repeat-x scroll 0 -90px transparent;
    color: #4A5E73;
    font: 12px/100% 'lucida sans unicode',arial,helvetica,sans-serif;
    height: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.last-video-box .video-play{
    top: 90px;
    left: 110px;    
} 

.last-video-box .video-play-right span {
    left:6px;    
}
.video-soft-head-text{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -10px;

}
#top-links {
    color: #888;
    float: right;
    position: absolute;
    right: 15px;        
}
.top-links-text{
    font: bold 14px/100% arial,helvetica,sans-serif;
    text-transform: capitalize;
    color: #2b3a4a;
    text-shadow: 0 1px 1px #fff;
    padding-right: 5px;    
}
#top-links a{
    color: #666;
    padding-left: 2px;    
    padding-right: 2px;
    font-weight: bold;    
}
#top-links a:hover{
    color: #666;      
}

.related-soft .social-background{
    margin-top: 0px;
    height: 0px;
    background: none;
    border-bottom: 1px dashed #D5DCE2;
    /*width: 195px;
    margin-left: 10px;*/    
}
.related-soft-top{
    background: #eff4f5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.related-soft{
    background-color: #fff;
    margin-bottom: 10px;
    /*margin-top: 10px;*/
    /*border-top: 2px solid #A1AEB6;*/   
}
.related-soft-img{
    width: 15px;
    float: right;
    margin-right: 10px;
    margin-top: -18px;    
}
.related-soft-top-text{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    float: left;
    height: 23px;
    width: 395px;    
}
.related-soft a{
    padding-bottom: 2px;
    padding-top: 2px;    
}
.related-soft-left-icon{
   background: url('../images/softangosprite.png') left -58px repeat-x;
   width: 10px;
   height:10px;
   float: left;
   position: relative;
   top: 6px;
   margin-left: 5px;    
}
.related-soft-right-count{
    color: #797979;
    font-weight: bold;
    margin-right: 5px;
    width: 50px;
    float: left;
    text-align: left;    
}
.related-soft-right-icon{
    width: 16px;
    height: 16px;
    background: url(../images/d-s.png);
    float: left;
    margin-right: 5px;    
}
.related-soft-right-box{
    float: right;   
}
.related-soft-box{
    padding-top: 5px;
    padding-bottom: 5px;        
}
#rating-form2{
    width:205px;
    height: 30px;
    position: relative;
    padding-top: 3px;
    padding-left: 4px;
    left: 200px;
}
#rate_12,#rate_22,#rate_32,#rate_42,#rate_52{
    background:url("../images/inact1.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    float:left;
    height:22px;
    width:19px
}
#vote_tablo2 .act{
    background:url("../images/act1.png") no-repeat scroll 0 0 transparent;
}
#cur_rating2{
    background:url("../images/act.png") repeat scroll 0 0 transparent;
    height:22px;
    left: 3px;
    position:absolute;
    top:3px;
    width:0px
}
#your_vote_rating2 {
    font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
    float: right;
    margin-top: 3px;
    font-size: 11px;
}
.soft-anchor{
    /*position: relative;
    bottom: 100px;  */
}
.icons-soft-left-menu{
    height:30px;
    width: 164px;
    display: inline-block;   
}
.soft-screenshot{
    background: #eff4f5;
    padding: 12px 10px;
    margin-bottom: 10px;
    width: 965px;    
}
.soft-screenshot-name{
    font: bold 14px/100% arial,helvetica,sans-serif;
    text-transform: capitalize;
    color: #2b3a4a;
    text-shadow: 0 1px 1px #fff;    
}
.tags-soft{
    background: #eff4f5;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;   
}
.tags-soft-right{
    display: inline-block;
    font: bold 14px/100% arial,helvetica,sans-serif;
    text-transform: capitalize;
    color: #2b3a4a;
    text-shadow: 0 1px 1px #fff;
    margin-left: 10px;
}
.tags-soft-left{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;    
}
.tags-tags{
    font-size: 12px;     
}
.tags-tags a{
    color:#0066CC;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;     
}
.tags-tags a:hover{
    color:#0066CC;
    text-decoration: underline;    
}
.tags-tags-next{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;    
}
#content.catalog-tag h1{
    padding-left: 15px;

}
#content.catalog-tag .driver-h1 h1{
    padding-left: 0px;

}
.main-tags#home_main .pagination a{
    padding-left: 2px;
    padding-right: 2px;
}

.purple #user-menus-nolog li:hover,.purple #user-menus li:hover{
     background:  none repeat scroll 0 0 rgb(102,0,153) !important;   
}
.purple .vmenu h3 span a {
    color:#fff;    
}
.purple #menubar ul li:hover{
    background-color: rgb(102,0,153);    
}
.purple .active-mitem{
    background: url("../images/lightviolet.png") repeat scroll 0 -43px;  
    color: #fff !important;       
}
.purple a#homebutton:hover{
    background: url("../images/lightviolet.png") repeat scroll 0 -43px;     
}
.purple a#homebutton {
    background: url("../images/lightviolet.png") repeat scroll 0 0;   
}
.purple .tabs ul li a.active,.purple .tabs ul li a.active:hover{
    color: rgb(102,0,153);
    background: #fff;        
}
.purple .tabs ul li a,.purple .tabs ul li a:hover{
    background:rgb(102,0,153);
    color:#fff; 
}
.purple .tabs h3{
    background: none;
    color:  #fff;
    height: 17px; 
    border-bottom: 1px dotted #fff; 
}
.purple .tabs{
    /*background: rgb(102,51,204) ;*/
    /*background:url(../images/tabs.png)*/
    background: url("../images/light-violet.png") repeat-x scroll 0 -120px transparent;
    height: 64px;
    border-bottom: 1px solid rgb(102,0,153);  
}
.purple .vmenu ul.category li a:hover,.purple .vmenu ul li.active a{
    background-color: rgb(102,0,153);
    color:rgb(255,255,255);         
}
.purple .vmenu ul li a:hover,.purple .vmenu ul li.active a {
    border-bottom: 1px solid rgb(102,0,153);
    border-top: 1px solid rgb(102,0,153);
}
.purple .vmenu ul li a:hover {
    background: url("../images/light-violet.png") no-repeat scroll right -47px transparent;
    background-color: rgb(102,0,153);
    color:rgb(255,255,255);    
}
.purple .vmenu ul li a {
    margin-top: 1px;
    /*background: url("../images/light-violet.png") no-repeat scroll right -47px transparent;*/
    background-color: #f5f2f7;
    color:  rgb(0,0,0) ;
    background: url("../images/light-violet.png") no-repeat scroll right -47px transparent;
}
.purple .vmenu h3{
    /*background:rgb(102,51,204) ;*/
    background: url("../images/light-violet.png") repeat-x scroll 0 -90px transparent;
    color:rgb(255,255,255);   
}
.purple #menubar ul li {
    background: url("../images/lightviolet.png") repeat scroll 0 0px !important;    
}
.purple #menubar ul li:hover{
    background: url("../images/lightviolet.png") repeat scroll 0 -43px !important;
}
.purple #menubar ul li a{
    color: rgb(255,255,255);
}
.purple #menubar ul li a span#sign-in-text{
    color: rgb(255,255,255);
}
.purple #user-menus li a{
    color: rgb(255,255,255);
}
.green1 #user-menus-nolog li:hover,.green1 #user-menus li:hover{
    background: rgb(102,0,153) !important; 
}
body.purple {
    background: url("../images/bg5.jpg") no-repeat scroll 50% top #FFFFFF;    
}
.brand-list {
    float:left;
    margin: 0 0 10px 12px;
}
.brand-list:first-child {
    margin: 0;
}
.title-zone {
    background-color:#e5e5e5;
    margin-bottom: 15px;
    padding-left: 10px;
    margin-top: 15px;
}
.title-zone.driver {
    margin-top: 0px;   
}
.title-zone h3 {
    line-height: 29px;
    margin: 0;
}
.brand {
    border: 1px solid #e5e5e5;
    width: 100px;
    height:100px;    
}
.green .top-last-video-box{
    background:  url("../images/lightgreen.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.green .title-zone{
    background:  url("../images/lightgreen.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.green #menubar ul li{
    background: url("../images/bgt-green.png") repeat scroll 0 0px !important;
}
.green #menubar ul li:hover{
    background: url("../images/bgt-green.png") repeat scroll 0 -43px !important;
}
.green .soft-screenshot,
.green .related-soft-top,
.green h2#comments{
    background: url("../images/bgt-green.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.green .related-soft-top-text,
.green .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.green  .related-soft .social-background {
    border-color: #A5CA6D;
}

.gray .top-last-video-box{
    background:  url("../images/bw1.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.gray .title-zone{
    background:  url("../images/bw1.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.gray #menubar ul li{
    background: url("../images/bw.png") repeat scroll 0 0px !important;
}
.gray #menubar ul li:hover{
    background: url("../images/bw.png") repeat scroll 0 -43px !important;
}  
.gray .soft-screenshot,
.gray .related-soft-top,
.gray h2#comments{
    background: url("../images/bw.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.gray .related-soft-top-text,
.gray .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.gray  .related-soft .social-background {
    border-color: #000;
}

.lightblue .top-last-video-box{
    background:  url("../images/lightblue.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.lightblue .title-zone{
    background:  url("../images/lightblue.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.lightblue #menubar ul li{
    background: url("../images/bgt.png") repeat scroll 0 0px !important;
}
.lightblue #menubar ul li:hover{
    background: url("../images/bgt.png") repeat scroll 0 -43px !important;
}
.lightblue .related-soft-top{
    float: left;
}
.lightblue .soft-screenshot,
.lightblue .related-soft-top,
.lightblue h2#comments{
    background: url("../images/bgt.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.lightblue .related-soft-top-text,
.lightblue .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.lightblue  .related-soft .social-background {
    border-color: #205895;
}
.purple .top-last-video-box{
    background:  url("../images/light-violet.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.purple .title-zone{
    background:  url("../images/light-violet.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.purple #menubar ul li{
    background: url("../images/lightviolet.png") repeat scroll 0 0px !important;
}
.purple #menubar ul li:hover{
    background: url("../images/lightviolet.png") repeat scroll 0 -43px !important;
}
.purple .soft-screenshot,
.purple .related-soft-top,
.purple h2#comments{
    background: url("../images/lightviolet.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.purple .related-soft-top-text,
.purple .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.purple  .related-soft .social-background {
    border-color: rgb(153,51,255);
}

.rude .top-last-video-box{
    background:  url("../images/rude.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.rude .title-zone{
    background:  url("../images/rude.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.rude #menubar ul li{
    background: url("../images/rud.png") repeat scroll 0 0px !important;
}
.rude #menubar ul li:hover{
    background: url("../images/rud.png") repeat scroll 0 -43px !important;
}
.rude .soft-screenshot,
.rude .related-soft-top,
.rude h2#comments{
    background: url("../images/rud.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.rude .related-soft-top-text,
.rude .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.rude  .related-soft .social-background {
    border-color: #491900;
}

.orange .top-last-video-box{
    background:  url("../images/orange1.png")  repeat-x scroll 0 -90px transparent;
    color:#fff;
}
.orange .title-zone{
    background:  url("../images/orange1.png")  repeat-x scroll 0 -92px transparent;
    color:#fff;   
}
.orange #menubar ul li{
    background: url("../images/oran1.png") repeat scroll 0 0px !important;
}
.orange #menubar ul li:hover{
    background: url("../images/oran1.png") repeat scroll 0 -43px !important;
}
.orange .soft-screenshot,
.orange .related-soft-top,
.orange h2#comments{
    background: url("../images/oran1.png") repeat scroll 0 0px !important;
    color:#fff;
    text-shadow:none;     
}
.orange .related-soft-top-text,
.orange .soft-screenshot-name{
     color:#fff;
     text-shadow:none;    
}
.orange  .related-soft .social-background {
    border-color: #FF5200;
}

.developer-icon {
    float: left;
    margin: 0 10px;
}
.green a.download strong{
    background: url('../images/down-button-orange.png') 0 20px no-repeat;
}
.green a.download-top strong{
    background: url('../images/download-o.png') 0 20px no-repeat;
}
.green .panel-content a.download strong {
    background: url('../images/download-o.png') no-repeat scroll 0 20px transparent;    
}
.orange .search-panel,
.rude .search-panel{
    background: url("../images/panel-bg2-orange.png") no-repeat scroll center top transparent;
}
.orange .search-panel2,
.rude .search-panel2{
    background: url('../images/panel-bg-orange.png') center top no-repeat;
}

.purple .search-panel {
    background: url("../images/panel-bg2-violet.png") no-repeat scroll center top transparent;    
}
.purple .search-panel2 {
    background: url('../images/panel-bg-violet.png') center top no-repeat;    
}
.green .search-panel {
    background: url("../images/panel-bg2-green.png") no-repeat scroll center top transparent;    
}
.green .search-panel2 {
    background: url('../images/panel-bg-green.png') center top no-repeat;    
}

.lightblue .search-panel {
    background: url("../images/panel-bg2-lightblue.png") no-repeat scroll center top transparent;    
}
.lightblue .search-panel2 {
    background: url('../images/panel-bg-lightblue.png') center top no-repeat;    
}
.lightblue .search-panel2.no-download {
    background: url('../images/panel-bg2-lightblue.png') center top no-repeat;    
}                                            

.gray .search-panel {
    background: url("../images/panel-bg2-grey.png") no-repeat scroll center top transparent;    
}
.gray .search-panel2 {
    background: url('../images/panel-bg-grey.png') center top no-repeat;    
}

.like-google-box{
    position: relative;
    height: 24px;   
}
.like-google-box.soft-right-google{
    top: 40px;   
}
.like-google-box .left-google-text{
    color: #2b4a67;
    position: absolute;
    top: 4px;
    width: 210px;
    float: left;
    right: 99px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
/*.like-google-box.soft-right-google .left-google-text{
    left: 30px;
}*/
.like-google-box .center-google{
    
}
.like-google-box .right-arr-google{
    background: url('../images/left-green.png') center top no-repeat;
    width:38px;
    height:38px;
    position: absolute;
    right: -33px;
    top: 5px;       
}
.center-google div{
    float: right !important;
    margin-right: 11px !important;
}

.center-google-first{
    width: 100px;
    height: 24px;
    position: absolute;
    top: 0px;
    background: red;
    left: 132px;    
    cursor: pointer;
}
.related-soft-top.driver{
    width: 100%;
    margin-top: 10px;
} 
.tag-size-10 {font-size:10px;}
.tag-size-11 {font-size:11px;}
.tag-size-12 {font-size:12px;}
.tag-size-13 {font-size:13px;}
.tag-size-14 {font-size:14px;}
.tag-size-15 {font-size:15px;}
.tag-size-16 {font-size:16px;}
.tag-size-17 {font-size:17px;}
.tag-size-18 {font-size:18px;}
.tag-size-19 {font-size:19px;}
.tag-size-20 {font-size:20px;}
.tag-size-21 {font-size:21px;}
.tag-size-22 {font-size:22px;}
.tag-size-23 {font-size:23px;}
.tag-size-24 {font-size:24px;}
.tag-size-25 {font-size:25px;}

.custom-background{
    padding: 6px!important;
}

#home_main ul.driver-developer-list {
    margin: 0;
    padding: 0px;
    width: 445px;
    float: left;
    margin-left: 15px;   
}
#home_main ul.driver-developer-list li.driver-developer-list{
    display: block;
    width: 148px;
    float: left;
    margin-top: -10px;
    margin-bottom: 5px;    
}
#home_main ul.driver-developer-list-second{
    padding-left: 0px;     
}
#home_main ul.driver-developer-list-second div.driver-developer-list-second{
    width: auto;
    padding-left: 10px;
    display: inline-block;
}
#home_main ul.driver-developer-list-second .driver-developer-list-second{
   background:  url("../images/lightblue.png")  no-repeat  0px -188px transparent;
    margin: 5px;
    width: 148px;
    text-align: left;
}
.drivers-more a{
    float: right;
    background: url("../images/lightblue.png") no-repeat right -203px transparent;
    padding-right: 15px;
    color: #0066CC;
    font-size: 14px;
}
#home_main ul.driver-developer-list-second .driver-developer-list-second.second-block-drivers{
    margin: 6px 5px 6px 5px;   
}
ul.hotlist.driver-hotlist li.even,
ul.hotlist.driver-hotlist li.odd{
    width: 450px;    
}
.download-history.driver-history{
    left: 11px;    
}
.title-drivers{
    float: left;
    width: 100%;
    margin-bottom: -15px;  
}
#home_main ul.driver-developer-list-second li.driver-developer-list-second a{
    margin-left: 10px;
    color: #0066CC; 
}
#home_main ul.driver-developer-list-second li.driver-developer-list-second a:hover{
    color: #0066CC;
}
.driver-title-zone{
    margin-top: 0px;
    margin-bottom: 15px;    
}
.driver-hotlist{
    float: left;
}
#home_main ul.driver-developer-list li.driver-developer-list.top-drivers {
    width: 103px;
    margin-left: 12px; 
    margin-bottom: 6px; 
}
#home_main ul.driver-developer-list-second li ul{
    padding-left: 0px;
}
#home_main ul.driver-developer-list-second li ul li{
    text-align: center;
}
#home_main ul.driver-developer-list-second div.driver-developer-list-second a{
    color: #0066CC;
}
#home_main ul.driver-developer-list.top-drivers-block{
    margin-bottom: 10px;
    border-bottom: 1px solid #DDE7F1;
    width: 470px;
    margin-left: 0px;
    margin-top: 5px;
}
.fb_iframe_widget{
    float: left;
    margin-right: 4px;
}

/*second custom search*/
.gsc-search-button, .gsc-clear-button {display:none;}
#___gcse_0{position: relative; top: 30px;}
#___gcse_1, #___gcse_2{float:left;width:780px !important;}


.lang-box {
    position: absolute;
    right: 0;
    top: -36px;
    z-index: 105;  
}
.lang-box ul {
    display: block;
    padding: 0; 
    padding: 2px 6px 8px  6px; 
    border: 1px solid rgba(0,0,0,0);   
}
.lang-box ul.lang-active {
    display: none; 
    background: url('../images/hov-bg.jpg');
    padding: 2px 6px 8px  6px;
    border: 1px solid #708BA0;  
}   
.lang-box ul li {
    color:#fff;
    font-weight: bold;
    list-style-type: none;
    padding-left: 20px;  
    background: url('../images/flags.png') no-repeat; 
    height: 12px;
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 13px;
    position: relative;
    width: 59px;
}
.lang-box.ru ul li {
    width: 74px;   
}
.lang-box ul li:hover span{
    text-decoration: underline;
}
.lang-box ul li:first-child{
    margin-top: 3px;    
}
.lang-box ul li:hover{
    cursor: pointer;
}
.lang-box ul li span{
    position: relative;
    bottom: 1px;  
    margin-left: 4px;
}
.lang-box ul li.en {
    background-position: 0px 1px;      
}
.lang-box ul li.ru {
    background-position: 0px -12px;    
}
.lang-box ul li.es {
    background-position: 0px -25px;   
}
.lang-box ul.lang-selected {
    margin-bottom: 0;    
}
@media screen and (min-width: 1020px) and (max-width: 1066px){
    body.lightblue  {
        overflow-x: hidden; 
    }
}     
@media screen and (max-width: 1020px) {
    #wrapper {
        overflow: hidden;    
    }    
}
@media screen and (min-width: 1020px) {
    html {
        overflow-x: hidden; 
    }
    #menubar {
        position: relative;
    }
    #menubar:before {
        content: '';
        display: block;
        width: 1000%;
        position: absolute;
        top: -108px;
        right: 100%;
        height: 146px;
        background: #0E5173;    
    }
    #menubar:after {
        content: '';
        display: block;
        width: 1000%;
        position: absolute;
        top: -108px;
        left: 100%;
        height: 146px;
        background: #0E5173    
    }
}
.related-soft-top.half-soft {
    width: 639px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px;  
}
.related-soft.half-soft {
    float: left;
    width: 659px;
    margin-bottom: 0px;   
}
.half-soft .related-soft-top-text {
    height: auto;
    width: 630px;
    margin: 0;
    padding: 0;   
}
.tags-soft.half-soft {
    margin: 15px 0 0 0;
    padding: 10px;
    width: 639px;  
}
.tags-soft.half-soft  .tags-soft-left {
    width: 553px;
    margin: 0;
    float: right;   
}
.tags-soft.half-soft .tags-soft-right {
    margin: 0;  
}
.no-info {
    width: 415px;
    margin: 0; 
    padding: 0;   
}
.no-info > ul {
    width: 100%;
    display: inline-block; 
}
.no-info > ul > li {
    width: 50%;
    display: inline-block;      
}
.no-info > ul > li > ul {
    width: 100%; 
}
.no-info > ul > li > ul > li {
    display: inline-block;
    color: #5B8D17;
    font-weight: bold;
    font-size: 12px;
}
.no-info > ul > li > ul > li:first-child {
    color: #333;
    font-weight: normal;
    margin-right: 5px;
    background-color: #ECF4EC;
    border: 1px solid #D5EBD5;
    padding: 0 1px;
}
.no-info > ul, 
.no-info > ul > li,
.no-info > ul > li > ul,
.no-info > ul > li > ul > li {
    margin: 0; 
    padding: 0; 
    border: none;
    background: none;
    list-style: none;  
}  
.no-info.first > ul > li > ul > li:first-child {
    background: none;
    border: none;   
}
.no-info.next > ul > li > ul > li:first-child {
    width: 125px;
    text-align: right;  
}

.ac_results, .ac_results2  {
    background-color: #FFFFFF;
    border: 2px solid #CDCDCD;
    display: none;
    margin-top: -2px;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.ac_results ul, .ac_results2 ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li, .ac_results2 li {
    margin: 0px;
    padding: 7px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    /*background: white url('indicator.gif') right center no-repeat;*/
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #E0E0E0;
    color: white;
}
.auto_item{
    text-decoration: none;
    display: block;
    padding: 5px;
}
.auto_item:hover{
    text-decoration: none;
}

div.alphabeth{margin-top:5px;margin-bottom:5px}
div.alphabeth a{margin-right:2px}
.utility-block{width:100%}
.utility-block ul li{width:31%;float:left;text-align:center;height: 190px;margin-bottom:0}
.utility-block ul li:not(:last-child){margin-right:6px}
.utility-block ul{display: inline-block;margin: 0 8px;width: 100%;padding:0}
.utility-block a{font-size:16px;font-weight: bold;vertical-align:middle;line-height:120%}
.utility-block ul li a img{display: block; margin: 0px auto 5px;}
.lightblue .tabs.utility h3{height:12px;padding: 10px 16px 0;margin: 0 0 8px}
.tabs.utility{padding:0}
.tabs.utility ul{width:100%;background-color:#ECF1F7;height:40px}
.tabs.utility ul li{margin: 6px 0px;padding: 0 6px;height:14px;margin:14px 0}
.tabs.utility ul li a{padding: 0 16px 7px}
.tabs.utility ul li:not(:last-child){border-right: 2px solid #666666}
.lightblue .tabs.utility ul li a.active, .lightblue .tabs.utility ul li a:hover{color: #000;margin-top: 1px}
.lightblue .tabs.utility ul li a,.lightblue .tabs.utility ul li a.active,.lightblue .tabs.utility ul li a:hover {background: none;border: none}
.lightblue .tabs.utility ul li a {color: #0066cc;font-weight: bold}
 
