#colorbox, #cboxOverlay, #cboxWrapper {
    overflow: hidden;
    position: fixed;
    z-index: 9999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
.cboxPhoto {
    border: 0 none;
    display: block;
    float: left;
    margin: auto;
}
.cboxIframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#cboxOverlay {
    background: url("../images/overlay.png") repeat scroll 0 0 transparent;
    cursor: default !important;
    top: 0;
}
#colorbox {
}
#cboxTopLeft {
    background: url("../images/controls.png") no-repeat scroll -100px 0 transparent;
    height: 21px;
    width: 21px;
}
#cboxTopRight {
    background: url("../images/controls.png") no-repeat scroll -129px 0 transparent;
    height: 21px;
    width: 21px;
}
#cboxBottomLeft {
    background: url("../images/controls.png") no-repeat scroll -100px -29px transparent;
    height: 21px;
    width: 21px;
}
#cboxBottomRight {
    background: url("../images/controls.png") no-repeat scroll -129px -29px transparent;
    height: 21px;
    width: 21px;
}
#cboxMiddleLeft {
    background: url("../images/controls.png") repeat-y scroll left top transparent;
    width: 21px;
}
#cboxMiddleRight {
    background: url("../images/controls.png") repeat-y scroll right top transparent;
    width: 21px;
}
#cboxTopCenter {
    background: url("../images/border.png") repeat-x scroll 0 0 transparent;
    height: 21px;
}
#cboxBottomCenter {
    background: url("../images/border.png") repeat-x scroll 0 -29px transparent;
    height: 21px;
}
#cboxContent {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
#cboxError {
    border: 1px solid #CCCCCC;
    padding: 50px;
}
#cboxLoadedContent {
    margin-bottom: 28px;
}
#cboxTitle {
    bottom: 4px;
    color: #949494;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#cboxCurrent {
    bottom: 4px;
    color: #949494;
    left: 58px;
    position: absolute;
}
#cboxSlideshow {
    bottom: 4px;
    color: #0092EF;
    position: absolute;
    right: 30px;
}
#cboxPrevious {
    background: url("../images/controls.png") no-repeat scroll -75px 0 transparent;
    bottom: 0;
    height: 25px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}
#cboxPrevious.hover {
    background-position: -75px -25px;
}
#cboxNext {
    background: url("../images/controls.png") no-repeat scroll -50px 0 transparent;
    bottom: 0;
    height: 25px;
    left: 27px;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}
#cboxNext.hover {
    background-position: -50px -25px;
}
#cboxLoadingOverlay {
    background: url("../images/loading_background.png") no-repeat scroll center center transparent;
}
#cboxLoadingGraphic {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
}
#cboxClose {
    background: url("../images/controls.png") no-repeat scroll -25px 0 transparent;
    border: medium none;
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 25px;
}
#cboxClose.hover {
    background-position: -25px -25px;
}
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
}
/*.cboxIE6 #cboxTopLeft {
    background: url("images/ie6/borderTopLeft.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopCenter {
    background: url("images/ie6/borderTopCenter.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopRight {
    background: url("images/ie6/borderTopRight.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomLeft {
    background: url("images/ie6/borderBottomLeft.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomCenter {
    background: url("images/ie6/borderBottomCenter.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxBottomRight {
    background: url("images/ie6/borderBottomRight.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxMiddleLeft {
    background: url("images/ie6/borderMiddleLeft.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxMiddleRight {
    background: url("images/ie6/borderMiddleRight.png") repeat scroll 0 0 transparent;
}
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
} */
.soclogin-totle{
    color: #222222;
    font-size: 18px;
    font-weight: bold; 
    padding-bottom: 10px;
}

.logo-button-block {
    cursor: pointer;
    float: left;
    margin-bottom: 20px;
}

.logo-btn.fb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2668B8;
    border-color: #4D77AA #3D6CA5 #225594;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    margin-left: -1px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.logo-btn {
    background: none repeat-x scroll 0 0 #DADADA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #444444;
    display: inline-block;
    float: left;
    font: 14px Arial,Helvetica,sans-serif;
    height: 40px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    width: 230px;
}
.logo-btn .logo-outer {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    margin-top: 7px;
    padding: 1px 12px;
}

.logo-btn.fb .logo {
    background-position: 0 0;
}
.logo-btn .logo {
    float: left;
    height: 24px;
    width: 24px;
    background: url("../images/social_media_icons.png") no-repeat scroll 0 0 transparent;
}
.logo-btn > span {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: left;
    line-height: 20px;
    margin-top: 7px;
    min-height: 20px;
    padding: 3px 0 3px 11px;
}
.logo-btn.yahoo {
    background-color: #A44CA4;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}