a#homebutton{
    display: block;
    float: left;
    overflow: hidden;
    padding-bottom: 4px;
    border-style: solid;
    border-width: 1px 1px 0;
    border-color: #A3ACB4;
    background-color: #192B3E;
}
a#homebutton:hover{
    background-color: #424E61;
}
#menubar a#homebutton img{background:url('../images/softangosprite.png') 11px 7px no-repeat;float:left;display:block;opacity:.8;margin:5px 10px;padding:7px 24px 5px 12px}
#menubar a#homebutton:hover img{opacity:1px}

#menubar ul{list-style:none;font:bold 12px/100% arial,helvetica,sans-serif;float:left;margin:0;padding:0}
#menubar ul li{
    border-color: #A3ACB4;
    border-style: solid;
    border-width: 1px 1px 0;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 1px;
}

/*#menubar ul li{list-style:none;float:left;margin:0 5px 0 0;padding:0}*/

#menubar ul li a{display:block;color:#363d45;text-decoration:none;-webkit-text-shadow:0 1px 0 #eaeaea;-moz-text-shadow:0 1px 0 #eaeaea;padding: 13px 11px 11px;}
#menubar a#homebutton img{background:url('../images/softangosprite.png') 11px 7px no-repeat;float:left;display:block;opacity:.8;margin:5px 10px;padding:7px 24px 5px 12px}
#menubar a#homebutton:hover img{opacity:1px}

#menubar ul{list-style:none;font:bold 12px/100% arial,helvetica,sans-serif;float:left;margin:0;padding:0}

#menubar ul li a{display:block;color:#363d45;text-decoration:none;-webkit-text-shadow:0 1px 0 #eaeaea;-moz-text-shadow:0 1px 0 #eaeaea;padding: 13px 0px 11px;}

#menubar a#homebutton div {
    background: url("../images/mini-home.png") no-repeat scroll 11px 7px transparent;
    display: block;
    float: left;
    margin: 5px 10px;
    opacity: 0.8;
    padding: 7px 24px 5px 12px;
}
#menubar ul li {
    background-color: #192B3E;
    color: #FFFFFF;
}
.blue #menubar ul li {
    /*background-color:#70B3E0; */
    background: url("../images/bgt.png") repeat scroll 0 0  !important;    
}
.blue #menubar ul li:hover{
   /* background-color: #2871A4;*/
    background: url("../images/bgt.png") repeat scroll 0 -43px  !important;
}
.blue2 #menubar ul li {
    background-color: #A7B8CA;   
}
.blue2 #menubar ul li:hover{
    background-color: #5E6F81;  
}
.lightblue #menubar ul li {
    /*background-color: #82A1B5; */
    background: url("../images/bgt.png") repeat scroll 0 0  !important;       
}
.lightblue #menubar ul li:hover{       
    /*background-color: #32546D;  */
    background: url("../images/bgt.png") repeat scroll 0 -43px !important;      
}
.green #menubar ul li {
    /*background-color: #A5CA6D;*/
    background: url("../images/bgt-green.png") repeat scroll 0 0px !important;;     
}
.green #menubar ul li:hover{
    /*background-color: #5B861A;*/
    background: url("../images/bgt-green.png") repeat scroll 0 -43px !important;;    
}
#menubar ul li a {
    color: #FFFFFF;
    text-align: center;
    width: 115px;
}
#menubar ul li:hover,#menubar ul li.active{
    background-color: #424E61;/*#BCC7CF; */
    color:#FFF;
}
#menubar ul li.active a{
    color:#000;
}
 
#else-content{
    float: left;
    margin-right: 15px;
    width: 470px;
}  
.edit-profile input[type="text"],.edit-profile select{
    width: 210px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.edit-profile select {
    height: 28px;
    line-height: 28px;
    width: 220px;
}
.edit-profile textarea {
    height: 100px;
    line-height: 18px;
    width: 210px;
    max-width: 210px;
    color: #555555;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 0 0 5px;
    border: 1px solid #CCCCCC;
}
.edit-profile input[type="text"]:focus, .edit-profile textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.edit-profile td{
    padding: 5px;
}
 
.edit-profile{
   width: 335px; 
}

.avatar {
    height: 100px;
    width: 100px;
    float: left;
    border: 1px solid grey;
    margin-right: 5px;
    margin-top: 8px;
}
.edit-profile td:first-child{
    text-align: right;
    font-size: 18px;
    padding-bottom: 13px;
}
h1.congr {
    color: #17283A;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 21px;
    line-height: 36px;
    margin: 10px 0;
    padding-bottom: 0;
}
.profile-h1{
    font-size: 25px;
    padding-bottom: 10px;
    margin: 5px 0;
}
.massage-boxes{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.navigation-line{
    font-size: 12px;
    margin-bottom: 5px;
}

.odd, .even {
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
}

.odd {
    background: #FAFAFA;
}

#home_main ul {
    list-style: none;
    /*margin-left: -25px;*/
}

.download-h1 {
    font-size: 25px;
    margin: 5px 0;
    padding-bottom: 10px;
}
a.download-button{
    display: block;
    /* margin: 10px 10px 0 0; */
}
hr{
    background: url("../images/softangosprite.png") repeat-x scroll 0 bottom transparent;
    border: 0 none;
    height: 2px;
}
.resault_block{
    width: 100%;
    margin-top: 12px;
    overflow: hidden;
}
#resault_ul{
    width: 467px;
    border: 1px solid #DDDBDC;
    border-radius: 7px;
    overflow: hidden;
    padding: 0;
}
#resault_ul .item{
    display: block;
    float: left;
    height: auto;
    padding: 5px 15px 5px 10px;
    width: 442px;
    min-height: 30px;
}

#resault_ul .item .name{
    color: #3a3a3a;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    float: left;
}
#resault_ul .item .name:hover{
    color: #2293E4;   
}
#resault_ul .item.em{
    background-color: #FAF8F9;
}
#resault_ul .downloads{
    color: #2293e4; 
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}
#resault_ul .downloads:hover{
    color: #676767;       
}
#resault_ul .icon{
    float: left;
    margin: 0 10px 0 6px;
}
.content h3.h3_too30{
    margin-top: 30px;
}
.content_bottom{
    width: 100%;
    text-align: center;
}
.search_all .hotlist_starts{
    margin-top: 8px;
}
.pagination{
    margin-top: 12px;
    color: #FFA500;
    width: 70%;
}
.pagination a{
    color: #2782DB;
    padding: 0 2px;
}
.pagination a:hover{
    text-decoration: none;
}
.content h3.search_h3{
    float: left;
    margin-bottom: 8px;
}
.search_h3 a{
    color: #0082E0;
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    text-decoration: none;
}
.search_all .item .name.ext{
    width: 100px;
    margin-right: 20px;
}
.search_h3 a:hover{
    color: #676767;
}
.search_all{
    float: left;
    width: 672px;
    overflow: hidden;
}
