form.untility {
    float: left;
    min-width: 428px;
    padding: 20px;
    background: #EAF1F8;
    border-radius: 5px;
    border: 1px solid #D4DBE1;
    font-size: 14px;
    font-family: inherit;
    position: relative;
}
form.untility[name="hash"] {
      width: 563px;
}
.utilities .untility[name="hash"] select {
    width: 225px;
    margin-right: 0;    
}     
.utilities .untility[name="hash"] input[type="text"]:not(#result) {
    width: 240px;   
}
.utilities .untility[name="hash"] textarea#result {
    width: 488px;
    padding: 5px;
    vertical-align: middle;   
}
.exchangerates .info,
.utilities .info {
    width: 100%;
    float: left; 
    margin-bottom: 20px;  
}
.exchangerates  .info .banner,
.utilities .info .banner {
    float: right;
    margin: 0 1px 20px 10px;    
}
.utilities select, .utilities input[type="text"], .utilities textarea {
    font-size: 14px;
    color: #000;
    height: 34px; 
    margin: 0 10px;
    border: 1px solid #D4DBE1; 
    text-align: center; 
    font-family: inherit; 
}
.utilities label {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 50px;
}
.utilities select {
    width: 122px;    
}             
.utilities input[type="text"]:not(#result) {
    width: 198px;
}
.utilities textarea#result {
    margin: 20px 0 0 10px;
    width: 350px;
    background: #FFF;
    color: #4F8BFF;
    font-weight: bold;
}
.utilities input[type="submit"] {
    clear: both;
    width: 202px;
    height: 38px;
    background: #4F8BFF;
    border-radius: 5px;
    border: 1px solid #4F8BFF;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    margin: 20px auto 0;
    display: block;
    font-family: inherit;
    cursor: pointer;
}
.utilities input[type="submit"]:hover {
    background: #669BFF;
}
.utilities .error {
    display: inline-block;
    position: relative;   
}

.utilities input[type="text"]#qr_text,
.utilities input[type="text"]#barcode_text {
    width:260px;
}

.utilities #image .error.summarize,
.utilities #barcode .error.summarize,
.utilities #pdfcreator .error.summarize,
.utilities #qrcode .error.summarize {
    width: 100%;    
}
.utilities .error input[type="text"] {
   border-color: red;  
}
 .error .container {
    position: absolute;
    margin: 0 10px;
    font-size: 13px;
    line-height: 12px;
    color: red;
    bottom: -16px;   
}
.utilities .info > p.body {
    margin-bottom: 15px;
}
.exchangerates form.untility{
    padding: 15px 5px 15px 15px;
    width: 582px;
}
.exchangerates .untility select,
.exchangerates .untility input[type="text"] {
    border: 1px solid #d4dbe1;
    color: #000;
    font-family: inherit;
    font-size: 14px;
    height: 34px;
    margin-right: 10px;
    text-align: left;
    padding-left: 12px;
    
}
.exchangerates .untility select:last-child {
    margin-right: 0;    
}
.exchangerates .untility input[type="text"]:focus {
    border-color: #4f8bff;   
}
.exchangerates .untility select {
    width: 110px;
    height: 38px;
}
.exchangerates .untility input[type="text"] {
    width: 110px;  
    margin-right: 22px; 
}
.exchangerates .untility.percentage input[type="text"] {
    width: 65px;  
    margin: 0 15px;
}

.percentage ul {  
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.percentage ul li {
    margin: 8px 0;
}

.exchangerates .untility.percentage ul li input[name="part"] {
    margin-left: 0;
    margin-right: 29px;
}

.exchangerates .filter_currency {
    clear: both;
    width: 100%;
    text-align: center;
}
.exchangerates .filter_currency button {
    width: 102px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #CBCBCB;
    background: #CBCBCB; 
    display: inline-block;
    margin-top: 10px;
    margin-right: 14px;
    color: #FFF;
    font-size: 22px;
    padding: 0; 
}
.exchangerates .filter_currency button:last-child {
    margin-right: 0;  
}
.exchangerates .filter_currency button.active {
    background: #4f8bff;
    border: 1px solid #4f8bff;    
}
.exchangerates .filter_currency button:hover {
    background: #4f8bff;
    border: 1px solid #4f8bff;
    cursor: pointer;    
}

.exchangerates .untility span.to {
    background: url('../images/b-arrow.png') no-repeat;
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
      margin: 0 20px 0 10px;
}
.exchangerates span.to_white {
    background: url('../images/w-arrow.png') no-repeat;
    display: inline-block;
    width: 16px;
    height: 14px;
    margin: 0 10px;    
}
.physic .section {
    display: inline-block;
    margin-bottom: 15px;
}
.physic .section form {
    position: relative;
}
.utilities .untility[name="images"],
.utilities .untility[name="qrcode"],
.utilities .untility[name="audio"] {
    padding: 0 20px;  
}
.utilities .untility[name="viewer"] {
    padding: 8px;
    width: 612px;   
}
.utilities .untility[name="audio"] label { 
     width: 160px;
     font-weight: bold;
}
.utilities .untility[name="audio"] input[type="text"],
.utilities .untility[name="qrcode"] input[type="text"],
.utilities .untility[name="images"] input[type="text"],
.utilities .untility[name="viewer"] input[type="text"],
.utilities .untility[name="images"] input[type="text"]:not(#result),
.utilities .untility[name="audio"] input[type="text"]:not(#result) {
    width: 226px;
    height: 32px;
    margin-right: 0;
    display: inline-block;
    text-align: left;
    padding: 0 5px 0 23px;
}
.utilities .untility[name="qrcode"] select {
    width: 70px;
    margin-right: 0;
    display: inline-block;
    padding: 0 5px 0 23px;
    text-align: left;    
}
.utilities .untility[name="images"] select,
.utilities .untility[name="audio"] select {
    width: 256px;
    margin-right: 0;
    display: inline-block;
    padding: 0 5px 0 23px;
    text-align: left;
}
.utilities .untility[name="images"] input[type="file"],
.utilities .untility[name="viewer"] input[type="file"],
.utilities .untility[name="audio"] input[type="file"] {
    display: inline-block;
    background: #fff;
    height: 22px;
    line-height: 24px;
    padding: 6px 10px;
    width: 234px;
    margin: 0 0 0 10px;
    font-size: 13px;
    color: #000;
    border: 1px solid #D4DBE1;
    text-align: left;
    font-family: inherit;
}
.utilities .untility[name="images"] > ul,
.utilities .untility[name="qrcode"] > ul,
.utilities .untility[name="viewer"] > ul,
.utilities .untility[name="audio"] > ul {
    list-style: none;
    padding: 0;
    margin: 17px 0 0 0;
}
.utilities .untility[name="images"] > ul > li,
.utilities .untility[name="qrcode"] > ul > li,
.utilities .untility[name="viewer"] > ul > li,
.utilities .untility[name="audio"] > ul > li {
    display: inline-block;  
    width: 100%;
    margin-bottom: 21px;
    text-align: right
}
.utilities .untility[name="images"] > ul > li,
.utilities .untility[name="qrcode"] > ul > li,
.utilities .untility[name="viewer"] > ul > li {
    text-align: left;
}
.utilities .untility[name="images"] input[type="submit"],
.utilities .untility[name="qrcode"] input[type="submit"],
.utilities .untility[name="audio"] input[type="submit"] {
   margin: 0 auto -2px;
}
.utilities .untility[name="qrcode"] label {
    width: 140px;  
    font-weight: bold;    
}
.utilities .untility[name="images"] label,
.utilities .untility[name="viewer"] label {
    width: 90px;  
    font-weight: bold;                         
}
.utilities .untility[name="images"] input[type="text"]#size_width:not(#result),
.utilities .untility[name="images"] input[type="text"]#size_height:not(#result) {
    width: 44px;
    position: absolute;  
    z-index: 2; 
    padding: 0 5px;
    width: 62px;
    text-align: center;
}
.utilities .untility[name="images"] input[type="text"]#size_height:not(#result) {
    top: 50%;
    margin-top: -35px;
    right: -33px;
}
.utilities .untility[name="images"] input[type="text"]#size_width:not(#result) {
    bottom: -15px;
    right: 50%; 
    margin-right: -10px;
}
.utilities .px_right {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -14px;
    right: -48px;
    color: #fff;
    font-size: 11px;
}
.utilities .px_bottom {
    position: absolute;
    z-index: 2;
    bottom: -18px;
    right: 50%;
    margin-right: -25px;
    color: #fff;
    font-size: 11px;
}
.utilities .untility[name="images"] li.image_background {
    background: url('../images/utilities_bg.jpg') repeat #125BA7;  
    overflow: hidden; 
    position: relative;
}
.utilities .untility[name="images"] li.image_background:after {
    content: '';
    display: block;
    background: url('../images/utilities_bg.jpg') repeat #125BA7; 
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 15px;
    z-index: 2;  
}
.utilities .untility[name="images"] li.image_background:before {
    content: '';
    display: block;
    background: url('../images/utilities_bg.jpg') repeat #125BA7;
    left: 0;
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    z-index: 2;
}
.utilities .untility[name="images"] li.image_background #canvas,
.utilities .untility[name="images"] li.image_background img {
    border: 1px solid #fff;
    float: left;
    max-width: 435px;
    min-width: 102px;
    min-height: 65px;
}
.utilities .untility[name="images"] .image_wrapper {
    position: relative;
    float: left;
    padding: 0 53px 35px 0;
    margin: 20px 48px 30px 15px;
}
.utilities .untility[name="images"] ul.checkboxes,
.utilities .untility[name="qrcode"] ul.checkboxes {
    list-style: none;
    padding: 0;
    width: 256px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;   
}

.utilities .untility[name="qrcode"] ul.checkboxes {
    width: 426px;
}
.utilities .untility[name="qrcode"] ul.checkboxes.ecc li,
.utilities .untility[name="qrcode"] ul.checkboxes.barcode_type li,
.utilities .untility[name="qrcode"] ul.checkboxes.barcode_rotation li,
.utilities .untility[name="qrcode"] ul.checkboxes.barcode_format li,
.utilities .untility[name="images"] ul.checkboxes.pageformat li {
    width: 25%;
    margin-top: 0;
}

.utilities .untility[name="images"] ul.checkboxes li,
.utilities .untility[name="qrcode"] ul.checkboxes li {
    display: inline-block;
    width: 50%;
    margin-top: 31px;   
}
.utilities .untility[name="images"] ul.checkboxes li:nth-child(1),
.utilities .untility[name="images"] ul.checkboxes li:nth-child(2),
.utilities .untility[name="qrcode"] ul.checkboxes li:nth-child(1),
.utilities .untility[name="qrcode"] ul.checkboxes li:nth-child(2) {
    margin-top: 0px;   
}
.image_wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #fff;
    width: 100%;
}
.image_wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #fff;
    height: 100%;
}
.image_more:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    width: 100%;
    margin-bottom: 35px;
}                         
.image_more:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #fff;
    height: 100%;
    margin-right: 53px;
}
.image_wrapper .arrow_right {
    position: absolute;
    right: 0;
    top: -35px;
    height: 100%;
    border-right: 1px solid #fff;
    z-index: 1;
}
.image_wrapper .arrow_right:after {
    position: absolute; 
    content: '';
    display: block;
    height: 6px;
    width: 11px;
    background: url(../images/arrows.png) no-repeat -20px -20px;
    top: 36px;
    right: -6px;
}
.image_wrapper .arrow_right:before {
    position: absolute;
    content: '';
    display: block;
    height: 6px;
    width: 11px;
    background: url(../images/arrows.png) no-repeat -8px -20px;
    bottom: 1px;
    right: -6px;
}
.image_wrapper .arrow_bottom {
    position: absolute;
    border-bottom: 1px solid #fff;
    left: -54px;
    bottom: 0;
    width: 100%; 
    z-index: 1;
}
.image_wrapper .arrow_bottom:after {
    position: absolute;
    content: '';
    display: block;
    height: 11px;
    width: 6px;
    background: url(../images/arrows.png) no-repeat 0px 2px;
    bottom: -6px;
    left: 55px;
}
.image_wrapper .arrow_bottom:before {
    position: absolute; 
    content: '';
    display: block;
    height: 11px;
    width: 6px;
    background: url(../images/arrows.png) no-repeat 0px -8px;
    bottom: -6px;
    right: 0px;    
}
.checkboxes .checkbox {
    width: 24px;   
    height: 24px;
    border: 1px solid #D4DBE1;
    background: #fff;
    display: inline-block;   
    float: left;
}
.checkboxes .checkbox.checked {
    background: url(../images/check.png) no-repeat 5px 7px #fff;   
}
.checkboxes .checkbox input[type="checkbox"] {
    display: none;    
}
.checkboxes .radio {
    width: 24px;   
    height: 24px;
    border: 1px solid #D4DBE1;
    background: #fff;
    display: inline-block;
    border-radius: 100%;  
    float: left; 
}
.checkboxes .radio.checked {
    background: url(../images/radio.png) no-repeat 8px 8px #fff;   
}
.checkboxes .radio input[type="radio"] {
    display: none;    
}
.checkboxes .text {
    display: inline-block;
    margin-left: 11px;
    line-height: 26px; 
    color: #000;        
}
.utilities > p, 
.utilities .info > p, 
.exchangerates .info > p,
.exchangerates > p {
    font-size: 14px;
    line-height: 160%;
    color: #333;
    margin: 0 0 15px;
}
.utilities .info > p, 
.exchangerates .info > p {
    margin: 0;
}
p.under-form {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
#content.white {
    background: #fff;
    padding-top: 30px;
    margin: 0;
    min-height: 115px;
}
#untility_h1 {
    width: 100%;   
    margin-top: -10px; 
    float: left;
}
#untility_h1 .image {
    width: 32px;    
}
#untility_h1 .image img {
    margin-left: 15px;
    width: 32px;
}
#untility_h1 h1 {
    font-size: 31px;
    padding-left: 14px;
    margin: 21px 0;
}
.banner_top {
    width: 728px;
    height: 90px;
    margin-bottom: 25px;
    margin: 0 135px 25px;
    float: left;
}
.top_text {
    margin-left: 15px;   
    float: left; 
    width: 100%;
}
.top_text h2 {
    background: url("../images/wash2.png") no-repeat scroll left bottom transparent;
    padding: 3px;
    margin: 5px 0 20px;  
    font: bold 14px/100% arial,helvetica,sans-serif;
    text-shadow: 0 1px 1px #fff;
    font: bold 14px/100% arial,helvetica,sans-serif;
}
#list-compress,
#list-convert,
#list-unzip {
    float: left;
}
#content.catalog-tag h1 {
    width: 100%;
}
.fb_iframe_widget {
    margin-right: 15px;
}
.social_icon {
    margin-right: 15px;
}
.icon22 {
    margin-right: 15px;   
}
.social_half {
    width: 100%;
    float: left;
    height: 10px;
}
.social-icons {
    width: 100%;
    margin-left: 7%;
}
#social {
    margin-bottom: 10px;
}
.video {
    text-align: center;
}
.video iframe{
    position: relative;
    padding: 20px 0;
}
#list-unzip > ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.error_file {
    position: absolute;
    margin: 9px 0 0 9px;
    color: red;
    font-weight: bold; 
    bottom: -16px;
    left: 0;    
}
.relative {
    position: relative;
    display: inherit;
}

.pdfcreator .untility[name="images"] label {
    width: 120px;
}

.utilities.pdfcreator .untility[name="images"] input#margin_topc,
.utilities.pdfcreator .untility[name="images"] input#margin_leftc,
.utilities.pdfcreator .untility[name="images"] input#margin_bottom,
.utilities.pdfcreator .untility[name="images"] input#margin_rightc {
    width: 18px;    
}
.untility label span {
    display:inline-block;
    font-size:12px;
}

.progress-wrapper {
    float: right;
    height: 33px;
    position: relative;
    right: 20px;
    width: 205px;
    display: none;
}

.progress-wrapper .progress {
    position: relative;
    height: 50%;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
} 

.icon-physic {
    background: url('../images/icopack.png');
    display: inline-block;
    background-repeat: no-repeat;
    width: 26px;
    float: left;
}

#home_main .icon-physic{
    height: 26px;
    margin: 0;
}

#home_main.generateimg .icon-physic{
    height: 18px;
    margin: 1px 2px 0 1px;
}

li.lenght, li.weight, li.memory, li.speed {
    width: 82px;
}

li.temperature, li.percentage {
    width: 115px;
} 

li.active.lenght .icon-physic {
    background-position: -25px 2px;
}
li.lenght .icon-physic {
    background-position: 0 2px;    
}

li.active.weight .icon-physic {
    background-position: -25px -24px;    
}
li.weight .icon-physic {
    background-position: 0 -24px;    
}
li.active.temperature .icon-physic {
    background-position: -25px -52px;    
}
li.temperature .icon-physic {
    background-position: 0 -52px;    
}
li.active.memory .icon-physic {
    background-position: -25px -82px;
    margin-top: -3px;    
}
#home_main li.memory .icon-physic {
    background-position: 0 -82px; 
    margin-top: -3px;   
}
li.active.percentage .icon-physic {
    background-position: -25px -118px;    
}
li.percentage .icon-physic {
    background-position: 0 -118px;    
}

li.active.speed .icon-physic {
    background-position: -25px -150px;    
}
li.speed .icon-physic {
    background-position: 0 -150px;    
}

li.active.image .icon-physic {
    background-position: -24px -286px;    
}
li.image .icon-physic {
    background-position: 1px -286px;    
}

li.active.qrcode .icon-physic {
    background-position: -24px -312px;    
}
li.qrcode .icon-physic {
    background-position: 1px -312px;    
}

li.active.barcode .icon-physic {
    background-position: -24px -339px;    
}
li.barcode .icon-physic {
    background-position: 1px -339px;    
}

li.active.compress .icon-physic {
    background-position: -25px -368px;    
}
li.compress .icon-physic {
    background-position: 0 -368px;    
}

li.active.convert .icon-physic {
    background-position: -25px -396px;    
}
li.convert .icon-physic {
    background-position: 0 -396px;    
}

li.active.pdfcreator .icon-physic,
li.active.pdf .icon-physic {
    background-position: -24px -182px;    
}
li.pdfcreator .icon-physic,
li.pdf .icon-physic {
    background-position: 1px -182px;    
}

li.active.doc .icon-physic {
    background-position: -24px -208px;    
}
li.doc .icon-physic {
    background-position: 1px -208px;    
}

li.active.advanced .icon-physic {
    background-position: -25px -236px;    
}
li.advanced .icon-physic {
    background-position: 0 -236px;    
}

li.active.simple .icon-physic {
    background-position: -25px -262px;    
}
li.simple .icon-physic {
    background-position: 0 -262px;    
}

.section .tab-content#percentage select {
    width:172px;
    margin-left:10px;
}
.section .tab-content#percentage span#result {
    font-size: 16px;
    font-weight: bold;
    color:#4F8BFF;
    position: inherit;
    top: 2px;
}

ul.tabs-archive {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 428px;
}
.utilities ul.tabs-archive li {
    display: inline-block;
    width: 200px;
    height: 20px;
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    border-color: #d4dbe1;
    border-style: solid;
    text-align: left;
    cursor: pointer;
    
    background-color: #ededed;
    color: #307FD3;
    position: relative;
    top: 1px;
    
}
ul.tabs-archive li:not(:last-child) {
    margin-right: 2px;
}
ul.tabs-archive li.active {
    background-color: #4f8bff;
    border-color: #4f8bff;
    color: #FFF;
}
p.under-form {
    margin-top: 10px;
    margin-bottom: 0;
}

.physic ul.tabs-archive {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.physic ul.tabs-archive li {
    display: inline-block;
    height: 20px;
    font-size: 14px;
    padding: 6px 2px; 
    vertical-align: middle;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    border-color: #d4dbe1;
    border-style: solid;
    text-align: left;
    cursor: pointer; 
    background-color: #ededed;
    color: #307FD3;
    top: 1px;
    position: relative;
}
ul.tabs-archive li:hover {
    background-color: #d1e9ff;
    border-color: #bfd5e6;    
}
ul.tabs-archive li.active {
    background-color: #EAF1F8;
    border-color: #d4dbe1;
    color: #000;
    z-index: 1;
}
.untility.physic,
.utilities.generateimg form {
    border-radius: 0 0 5px 5px;
}
.utilities.generateimg form,
.utilities.generateimg ul.tabs-archive {
    width: 605px;
}
.utilities.generateimg ul.tabs-archive li {
    width: 128px;
}

.generateimg .icon-physic + b {
    margin-top: 2px;
    display: inline-block;
}

/*div.banner, div.banner_top {
    display: none;
}*/
.music-search{ 
    margin: 0 10px 0 !important;
    display: inline-block !important;
    width: 125px !important;
}
.music-search-block {
    background: #eaf1f9 none repeat scroll 0 0;
    border: 1px solid #d6dbdf;
    border-radius: 5px;
    display: block;
    padding: 0 0 30px 14px;
    float: left;
    margin: 0 0 30px;
}
.music-search-text{
    width: 392px !important;
    text-align: left !important;
    padding: 0 10px;
}
.music-search-description{
    padding: 0 10px;
}
.music-search-list{
    font-size: 14px;
    list-style: outside !important;
}
.music-search-link{
    background: #4f8bff none repeat scroll 0 0;
    border: 1px solid #4f8bff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    width: 111px;
    padding: 11px;
    margin: 0 auto 45px;
}
.music-search-link:hover{
    text-decoration: none;
    color: #fff;
    background: #669bff none repeat scroll 0 0;
}
.games-block-extensions {
    padding: 20px 0;
}
.games-block-img{
    float: left;
    height: 62px;
}
.games-title{
    display: inline-block;
    width: 450px !important;
    margin: 24px 0;
    font-size: 34px;
}
.games-extension-description{
    display: inline-block;
    width: 365px;
    font-size: 14px;
}
.games-search-link{
    margin: 0;
    display: inline;
}