@font-face {
  font-family: 'Noto Sans Symbols';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Symbols'), local('NotoSansSymbols'), url(https://fonts.gstatic.com/s/notosanssymbols/v5/SHJk2CZThnuTXOvq3WlzwCNR8V3NyO0ZnVzsWhZUd50.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans UI';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans UI'), local('NotoSansUI'), url(https://fonts.gstatic.com/s/notosansui/v5/jBRd4okYNxDYMYARrskLO4nF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans UI';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans UI Bold'), local('NotoSansUI-Bold'), url(https://fonts.gstatic.com/s/notosansui/v5/dOQO_yw3RAZ8Oi34Tamht306qf9KHRHwsVx7iw5MXmY.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans UI';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans UI Italic'), local('NotoSansUI-Italic'), url(https://fonts.gstatic.com/s/notosansui/v5/GXJKG-Qic-VDqsmhLCl7oStfYakCkPqOMDce0h_3gD8.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans UI';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans UI Bold Italic'), local('NotoSansUI-BoldItalic'), url(https://fonts.gstatic.com/s/notosansui/v5/Oe2l1be8qegHfPVTNmx0kSxQL91WRy8t8mPvAX_dIgA.ttf) format('truetype');
}
