.side-ad {
    float: left;
    min-width: 300px;
}

@media screen and (min-width: 1200px) {
    .not-side-ad {
        display: none !important;
    }
}

@media screen and (max-width: 1201px) {
    .side-ad {
        display: none !important;
    }
}

@media screen and (max-width: 1801px) and (min-width: 1200px) {
    div.container {
        margin-left: calc(300px + 1rem) !important;
        width: inherit;
    }

    nav {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}