/* xs */
@media screen and (min-width: 0px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

/* sm */
@media screen and (min-width: 576px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.1rem;
  }
}

/* md */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

/* lg */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  .vertical-align-lg {
    display: flex;
    align-items: center;
  }
}

/* xl */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

img.emoji {
  height: 1.05em;
  width: 1.05em;
  margin: 0 0.1em 0 0.1em;
  vertical-align: -0.125em;
}

.ml-h {
  margin-left: 0.5rem !important;
}

.mr-h {
  margin-right: 0.5rem !important;
}

.mt-h {
  margin-top: 0.5rem !important;
}

.mb-h {
  margin-bottom: 0.5rem !important;
}

.mx-h {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-h {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-h {
  margin: 0.5rem !important;
}

.pl-h {
  padding-left: 0.5rem !important;
}

.pr-h {
  padding-right: 0.5rem !important;
}

.pt-h {
  padding-top: 0.5rem !important;
}

.pb-h {
  padding-bottom: 0.5rem !important;
}

.px-h {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-h {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-h {
  padding: 0.5rem !important;
}

.ml-q {
  margin-left: 0.25rem !important;
}

.mr-q {
  margin-right: 0.25rem !important;
}

.mt-q {
  margin-top: 0.25rem !important;
}

.mb-q {
  margin-bottom: 0.25rem !important;
}

.mx-q {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-q {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-q {
  margin: 0.25rem !important;
}

.pl-q {
  padding-left: 0.25rem !important;
}

.pr-q {
  padding-right: 0.25rem !important;
}

.pt-q {
  padding-top: 0.25rem !important;
}

.pb-q {
  padding-bottom: 0.25rem !important;
}

.px-q {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-q {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-q {
  padding: 0.25rem !important;
}

html, body {
  font-family: "Noto Sans UI", "Noto Sans Symbols", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #wrapper {
    display: block;
  }
}

#header {

}

#content {
  flex: 1;
}

#footer {

}

.larger {
  font-size: larger;
}

h1, h2 {
  font-weight: 400;
  font-kerning: normal;
  -webkit-font-kerning: normal;
}

h3, h4, h5, h6 {
  font-weight: bold;
  font-kerning: normal;
  -webkit-font-kerning: normal;
}

.minecraft-name {

}

.uuid {
  font-family: "Consolas", monospace;
}

.shadow {
  filter: drop-shadow(0px 0px 4px #666);
  -webkit-filter: drop-shadow(0px 0px 4px #666);
}

.name-match {
  font-weight: bold;
}

div.ad-container > ins.adsbygoogle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.unit {
  font-size: 75%;
}

.px14 {
  font-size: 14px;
}

.px21 {
  font-size: 21px;
}

.px28 {
  font-size: 28px;
}

.fa-play {
  padding-left: 2px;
}

.copy-button-style {
  background: none;
  border: none;
  padding: 3px;
  display: inline-block;
  vertical-align: baseline;
}

.copy-button-style:hover {
  background: rgba(0, 0, 0, 0.08);
}

.server-copy-button {
  padding: 3px;
  display: inline-block;
  border: white 2px solid;
  background-color: #333;
}

.server-copy-button:hover {
  background-color:#555;
}

li.list-group-item {
  border-left: none;
  border-right: none;
}

li.list-group-item:first-child {
  border-top: none;
}

li.list-group-item:last-child {
  border-bottom: none;
}

div.card-header-alt {
  padding: 0.25rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: bold;
}

div.skin-history {
  padding: 4px;
  text-align: center;
}

div.skin-history-big {
  padding: 6px;
  text-align: center;
}

div.skin-history canvas {
  vertical-align: top;
  margin: 1px;
}

.skin-2d {
  border-radius: 12.5%;
}

.cape-2d {
  border-radius: 10%/6.25%;
}

.skin-2d.skin-2d-inline {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.2em 0 0.2em;
  vertical-align: -0.4em;
}

div.skin-history-big canvas {
  vertical-align: top;
  margin: 2px;
}

canvas.skin-3d {
  vertical-align: top;
}

.card-skin {

}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.py-2px {
  padding-top: 2px;
  padding-bottom: 2px;
}

.list-group-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.twitter-tweet {
  margin: 0 auto !important;
}

a.list-group-item {
  color: #0275d8;
}

a.list-group-item:focus, a.list-group-item:hover {
  color: #014c8c;
}

.flag {
  vertical-align: baseline;
}

.card-block {
  padding: 1rem;
}

table.friend-table {
  width: 100%;
}

table.friend-table td, table.friend-table th {
  padding: 0.25rem 0.5rem;
}

table.friend-table canvas {
  vertical-align: top;
}

table.friend-table button {
  vertical-align: top;
  width: 2.5rem;
  height: 28px;
}

.hover-highlight:hover {
  background-color: #F4F4F4;
}

.tag {
  vertical-align: 0.12em;
}

table.server-table .tag {
  font-size: inherit;
  vertical-align: inherit;
}

table.server-table {
  border-top: 1px solid rgb(236,238,239);
  border-bottom: 1px solid rgb(236,238,239);
}

table.server-table thead {
  border-bottom: 1px solid rgb(236,238,239);
}

table.server-table tbody tr:first-child td {
  padding-top: 0.5rem;
}

table.server-table tbody tr:last-child td {
  padding-bottom: 0.5rem;
}

table.server-table th, table.server-table td {
  vertical-align: middle;
  padding: 0.25rem;
}

div.server-description {
  background-color: #111;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

img.server-icon {
  background-color: black;
  border: 4px black solid;
}

span.fraction {
  display: inline-block;
}

span.fraction span.num, span.fraction span.den {
  display: block;
  text-align: center;
}

span.fraction span.num {
  font-weight: bold;
}

span.fraction span.den {
  border-top: 1px lightgray solid;
  opacity: 0.3;
}

span.fraction span.bar {
  display: none;
}

.small-column {
  width: 1px;
}

.large-column {
  width: 100%;
}

.minecraft-name:hover {

}

#search-box {
  border-color: rgb(217,217,217);
}

#search-box:focus {
  border-color: rgb(102,175,233);
}

.faded {
  opacity: 0.65;
}

.card {
  margin-bottom: 1rem;
}

a.nounderline, a.nounderline:hover, a.nounderline:active, a.nounderline:visited {
  text-decoration: none;
}

#fixed {
  padding-top: 1rem;
}

#fixed.fixed-activated {
  position: fixed;
  top: 0;
}

#fixed > ins.adsbygoogle {
  margin-left: 0;
}

.drop-shadow {
  filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.5));
}