@font-face {
    font-family: 'Proxima';
    src: url('../../../fonts/proxima/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/proxima/proximanova-reg-webfont.woff') format('woff'),
         url('../../../fonts/proxima/proximanova-reg-webfont.ttf') format('truetype'),
         url('../../../fonts/proxima/proximanova-reg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../../../fonts/proxima/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/proxima/proximanova-sbold-webfont.woff') format('woff'),
         url('../../../fonts/proxima/proximanova-sbold-webfont.ttf') format('truetype'),
         url('../../../fonts/proxima/proximanova-sbold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../../../fonts/proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/proxima/proximanova-bold-webfont.woff') format('woff'),
         url('../../../fonts/proxima/proximanova-bold-webfont.ttf') format('truetype'),
         url('../../../fonts/proxima/proximanova-bold-webfont.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('../../../fonts/proxima/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/proxima/proximanova-regit-webfont.woff') format('woff'),
         url('../../../fonts/proxima/proximanova-regit-webfont.ttf') format('truetype'),
         url('../../../fonts/proxima/proximanova-regit-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

body
{
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	background-image: url(../../../img/EurogamerPage/footer.png);	
	min-width: 1260px;
}

#page-wrapper
{
	float: left;
	width: 100%;
	clear: both;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: white;
}

#page
{
	position: relative;
	width: 1260px;
	margin: 0 auto;
	clear: both;
}

#header
{
	position: relative;
	float: left;
	width: 100%;
	height: 119px;
	z-index: 12;
	background-color: #eff1f7;
	background-image: url(../../../img/EurogamerPage/header-bg.png);
	background-position: top center;
	background-repeat: repeat-x;
	box-shadow: .5em 0 1em rgba(0,0,0,.25);
}

#logo img
{
	position: relative;
	display: block;
	width: 330px;
	height: 65px;
}

#header-content
{
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 1260px;
}

/* ---- Navigation ------------------------------- */

#navigation
{
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 5;
	width: auto;
	margin: 0;	
}

#navigation > ul
{
	display: block;
	float: left;
	width: 100%;
}

#navigation > ul > li
{
	margin: 0;
	padding: 0;
	float: left;
}

#navigation > ul > li > a
{
	display: block;
	background-color: #186ffc;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
	color: white;
	text-shadow: 0 -1px 0px #096be9;
	color: white;
	margin: 0;
	padding: 7px 0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
	background: -webkit-gradient(linear, left top, left bottom, from(#308ff5), to(#186ffc));
	background: -moz-linear-gradient(top, #308ff5, #186ffc);
	background: -o-linear-gradient(top, #308ff5, #186ffc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#308ff5', endColorstr='#186ffc');
}

#navigation > ul > li:first-of-type > a
{
	border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0;
}

#navigation > ul > li:last-of-type > a
{
	border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; -moz-border-radius: 0 4px 0 0;
}

#navigation > ul > li > a > span
{
	display: block;
	margin: 0;
	padding: 6px 12px 5px;
	border-left: 1px solid #4094f9;
	border-right: 1px solid #1965d4;
}

#navigation > ul > li > a.on > span,
#navigation > ul > li > a.on:hover > span
{
	border: none;
}

#navigation > ul > li:first-of-type > a > span
{
	border-left: 1px solid transparent;
}

#navigation > ul > li:first-of-type > a.on > span
{
	border-left: none;
}

#navigation > ul > li:last-of-type > a > span
{
	border-right: none;
}

#navigation > ul > li a:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#202020));
	background: -moz-linear-gradient(top,  #404040,  #202020);
	background: -o-linear-gradient(top,  #404040,  #202020);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#202020');
	text-shadow: 0 -1px 0px black;	
}

#navigation > ul > li > a:hover > span
{
	border: 1px solid #303030;
	border-top: none;
	border-bottom: none;
}

#navigation > ul > li > a.on
{
	background-image: none;
	background-color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e1e1e1);
	background: -o-linear-gradient(top,  #fcfcfc,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e1e1e1');
	color: #101010;
	text-shadow: 0 1px 1px white;
}

#content h1
{
	margin: 0 0 0 -345px;
	width: 940px;
	padding: 10px;
	font-size: 20px;
}

.followBar {
	margin: 0 0 0 0;
	width: 960px;
	height: 49px;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background: -moz-linear-gradient(top,  #616775,  #474950);
	background: -o-linear-gradient(top,  #616775,  #474950);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
}
.followBar > strong {
	color: white;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	position: absolute;
	top: 0.8em;
	left: 0.60em;
}
.social > p {
	padding-top: 2px;
	padding-right: 6px;
	font-size: 20px;
}
.social > p > b {
	color: #FFDE15;
}
div.social {
	color: white;
}

#content
{
	position: relative;
	float: left;
	clear: both;
	min-height: 600px;
	width: 960px;
	margin: 0;
	padding: 0;
	background-color: white;	
	background-image: url(../../../img/EurogamerPage/sidebar.png);
	background-repeat: repeat-y;
	z-index: 5;
	overflow: visible;
	box-shadow: 0 0 30px rgba(0,0,0,0.25) !important;
}

div.content
{
	position: relative;
	float: right;
	width: 600px;
	padding: 0 15px 15px;
}

#sidebar
{
	position: relative;
	float: left;
	width: 300px;
	margin: 45px 0 15px 0;
	padding: 0 15px;
	list-style: none;
	font-size: 14px;
}

#sidebar li
{
	clear: both;
	padding: 15px 0 0;
}

#sidebar li.about
{
	padding-top: 10px;
}

#sidebar li.search form input
{
	width: 233px;
	padding: 5px;
	clear: none;
}

#sidebar li.search form input[type=submit]
{
	width: 50px !important;
	margin-left: 5px;
	padding: 5px 10px 6px;
	height: 27px;
}

#leaderboard
{
	position: relative;
	clear: both;
	width: 1260px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
	min-height: 90px;
}

#adleaderboardContainer {
	padding: 0 0 0 116px;
}

#leaderboard .advertContainer {
	width: 100%;
}

body.skin #leaderboard {
	text-align: right;
	padding: 0;
}

body.skin #adleaderboardContainer {
	padding: 0;
}

.leaderboard
{
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

.leaderboard img,
.leaderboard object,
.leaderboard embed
{
	display: block;
	text-align: center;
	margin: 0 auto;
}

#extra-leaderboard.leaderboard {
    margin: 15px auto 0 auto;
    width: 100%;
    float: left;
    text-align: center;
}

#skyscraper
{
	position: relative;
	display: block;
	float: right;
	right: 0px;
	width: 300px;
	min-height: 600px;
	z-index: 5;
}

body.skin #skyscraper {
	margin-top: 0 !important;
}

#adad-breakContainer,
#adskinContainer {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* ---- Search ----------------------------------- */

#search
{
	position: absolute;
	display: block;
	right: 5px;
	top: 88px;
	width: 290px;
	height: 28px;
	z-index: 4;
}

#search input[type=text]
{
	width: 225px;
}

#search input
{
	display: block;
	float: left;
	clear: none;
	padding: 6px 5px;
	margin: 0;
	border: 0;
	box-shadow: inset 0 0 5px #b0b0b0;
	border-radius: 5px 0 0 5px;
	-moz-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

#search input[type=submit]
{
	float: right;
	box-shadow: none;
	border-radius: 0 5px 5px 0;
	-moz-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	width: 55px;
	padding: 7px 0;
}

ul#articles
{
	position: relative;
	margin: 0;
	padding: 0;
	width: 720px;
	list-style: none;
}

/* ---- Promos ----------------------------------- */

ul#promos
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	width: 630px;
}

ul#promos li
{
	position: relative;
	float: left;
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
	color: #b0b0b0;
	width: 209px;
	height: 63px;
	text-align: left;
	border-left: 1px solid #f7f8fb;
	border-right: 1px solid #e6e8ee;

}

ul#promos li:nth-child(1)
{
	border-left: 0;
}

ul#promos li:nth-child(2)
{
	border-right: 0;	
}

ul#promos li > span > a
{
	display: block;
	clear: both;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0px white;
}

ul#promos li > span > span
{
	display: block;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	line-height: 15px;
	margin: 1px 0 0;
	padding: 0;
	color: #404040;
	font-weight: normal;
	text-shadow: 0 1px 0px white;
}

ul#promos li > span
{
	margin-left: 10px;
	margin-right: 10px;
	display: block;
}

ul#promos li#boom-box
{
	float: left;
	width: 206px;
	height: 83px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	background-position: top left;
}

ul#promos li#boom-box div
{
	position: absolute;
	display: block;
	bottom: 7px;
	left: 10px;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
}

ul#promos li#boom-box a
{
	display: block;
	position: absolute;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 4px 0; 
	opacity: 0.9;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}

ul#promos li#boom-box span
{
	display: block;
	float: left;
	background-color: black;
	font-weight: normal;
	margin: 0 4px 0 0;
	padding: 2px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
	line-height: 14px;
	font-size: 14px;
}

ul#promos li#boom-box span span
{
	display: block;
	float: none;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: white;
	opacity: 1;	
}

ul#promos li#boom-box span span.period
{
	font-size: 10px;
	line-height: 10px;
	color: #c0c0c0;
}

/* ---- Login box -------------------------------- */

#account #login,
#account #login *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#account #login
{
	position: absolute;
	background-color: white;
	width: 210px;
	z-index: 6;
	margin: 0;
	padding: .75rem;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	display: none;
	top: 45px;
	right: 90px;
	z-index: 5;
}

#account #login .arrow
{
	position: absolute;
	top: -10px;
	left: 10px;
	background: none;
	border: none;
}

#account form#login fieldset
{
	width: 100%;
	float: left;
	clear: none;
}

#account form#login label,
#account form#login input
{
	display: block;
	float: left;
	width: 100%;
}

#account form#login label
{
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	color: #595b63;
}

#account form#login input
{
	padding: .3rem;
	margin: 0;
	margin-bottom: .5rem;
}

#account form#login div.facebook-login
{
	position: absolute;
	top: 10px;
	right: 10px;
}

#account form#login input[type=submit]
{
	margin: 5px 0 0 0;
	padding: 5px 6px 4px;
	width: 100%;
}

#account form#login a.forgotten
{
	display: block;
	float: left;
	width: 100%;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	margin: 5px 0 0;
	text-align: center;
}

#account div.buttons
{
	margin: 0;
	padding: 0 5px;
	width: 270px;
	text-align: center;
}

#account div.buttons a.tool
{
	padding: 6px;
	margin-top: 13px;
}

#account div.buttons div#fb-login
{
	display: block;
	clear: both;
	float: left;
	margin: 8px 0 0 0;
}

#footer ul
{
	width: 1245px;
	margin: 0 auto;
}

ul#promos li#boom-box div {
	position: relative;
	left: 0;
	top: 0;
}
ul#promos li#boom-box object {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
}
ul#promos li#boom-box a {
	position: static;
	padding: 0;
	opacity: 1;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
ul#promos li#boom-box .advertContainer {
	width: 100%;
}
