#content
{
	background-color: #eff1f7;
}

#content h1
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 .75em -160px;
	width: 960px;
	padding: .6em;
	padding-right: 271px;
}

#content h1 span
{
	color: #202020;
	opacity: 0.5;
	font-weight: bold;
	text-shadow: 0px 1px 1px white;
	padding: 0 .2em;
}

/* ---- Sidebar -------------------------------------------- */

#content div.content
{
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 0 1em 0 160px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
}

#content .sidebar
{
	position: absolute;
	display: block;
	margin: 0;
	padding: 1em;
	width: 160px;
	top: 49px;
	left: 0;
	z-index: 11;
	background-image: none;
}

#content .sidebar,
#content .sidebar *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content .sidebar > .filters,
#content .sidebar > .filters > li
{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
}

#content .sidebar > .filters
{
	border-radius: .2em;
	margin-bottom: .75em;
}

#content .sidebar > .filters > li
{
	padding: .75em 0;
	margin: 0;
	border-top: 1px solid rgba(255,255,255,.9);
	border-bottom: 1px solid rgba(0,0,0,.05);
}

#content .sidebar > .filters > li:first-of-type
{
	padding-top: 0;
	border-top: none;
}

#content .sidebar > .filters > li > strong
{
	display: block;
	font-weight: bold;
	text-shadow: 0 -1px 0px rgba(255,255,255,.2);
	padding: 0 0 .3em;
}

#content .sidebar > .filters > li > ul,
#content .sidebar > .filters > li > ul > li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#content .sidebar > .filters > li > ul > li > a
{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin: 0 0 .5em;
	padding: 0 0 0 1.3em;
	background-image: url(../../img/EurogamerPage/Home/toggle.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-decoration: none;
	font-size: 1em;
	line-height: 1;
}

#content .sidebar > .filters > li > ul > li:last-of-type > a
{
	margin-bottom: 0;
}

#content .sidebar > .filters > li > ul > li > a:hover
{
	background-image: url(../../img/EurogamerPage/Home/toggle-mid.png);
}

#content .sidebar > .filters > li > ul > li > a.on
{
	background-image: url(../../img/EurogamerPage/Home/toggle-on.png);
	font-weight: bold;
}

/* ---- Sidebar: RSS & Facebook ---------------------------- */

#content .sidebar > div
{
	float: left;
	width: 100%;
}

#content .sidebar > div > *
{
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 .75em;
	border-radius: .2em;
}

#content .sidebar > div > .rss
{
	background-color: #ff5e00;
	color: rgba(255,255,255,.75);
	padding: .4em;
	font-size: 12px;
	line-height: 1;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	text-align: center;
}

#content .sidebar > div > .rss > span
{
	color: white;
	font-weight:900;
	font-size: 13px;
}

#content .sidebar a.newsletter-promo
{
	padding-top: 2px;
	padding-bottom: 25px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	overflow: hidden;
}

#content .sidebar a.newsletter-promo img
{
	top: auto;
	left: auto;
	right: -20px;
	bottom: -30px;
	z-index: 1;
}

#content .sidebar a.newsletter-promo span
{
	z-index: 2;
	display: block;
	position: relative;
	margin: 5px 10px;
	font-size: inherit;
	font-family: inherit;
}

#content .sidebar a.newsletter-promo span strong
{
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

#content .sidebar li.advert
{
	border-bottom: none;
}

#content .sidebar li.advert img
{
	margin-left: 10px;
}

/* ---- Headlines ------------------------------------------ */

#content #headlines
{
	float: left;
	clear: none;
	width: 49.6%;
}

#content #headlines,
#content #headlines *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content #headlines ul > li
{
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
	padding: .75em;
	min-height: 8.5em;
	border-top: 1px solid #f2f2f2;
}

#content #headlines ul > li > .cover
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 9em;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-clip: content-box;	
}

#content #headlines ul > li > div
{
	margin: 0;
	padding: 0;
	padding-left: 9em;
	padding-right: 2.5rem;
	color: #595c63;
}

#content #headlines ul > li > div > .rating
{
	position: absolute;
	right: .75rem;
	top: .75rem;
	width: 2rem;
	height: auto;
}

#content #headlines ul > li > div > .title
{
	font-size: 1.25em;
	line-height: 1.1;
}

#content #headlines ul > li > div > .subtitle
{
	font-size: 11px;
	line-height: 1.35;
	margin-top: 2px;
	font-family: Verdana, sans-serif;
	color: #474950;
}

#content #headlines ul > li > .comment-count
{
	position: absolute;
	right: 1em;
	bottom: 1em;	
}

#content #headlines ul#popular-now .empty
{
	min-height: 0;
	padding: 1.5em 1em 1em;
}

#content #headlines ul#popular-now li#article-0
{
	padding-top: 13em;
	border-top: none;
}

#content #headlines ul#popular-now li#article-0 > .cover 
{
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
}

#content #headlines ul#popular-now li#article-0 > .comment-count
{
	right: 2.25em;
	bottom: 1.75em;
	z-index: 3;
}

#content #headlines ul#popular-now li#article-0 > div
{
	position: relative;
	z-index: 2;
	
	float: left;
	width: 100%;
	clear: both;
	background-color: #505660;

	margin: 0;
	padding: 10px;
	color: white;
	border-top: 1px solid #7c8088;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0px 3px 2px rgba(0,0,0,0.25);
	padding-right: 3rem;
}

#content #headlines ul#popular-now li#article-0 > div > .title
{
	font-weight: 900;
	font-size: 1.8em;
	line-height: 1.05;
	text-shadow: 0 1px 0px rgba(0,0,0,.5);
	padding: 0;
}

#content #headlines ul#popular-now li#article-0 > div > .title > a
{
	color: #89D5FF;
}

#content #headlines ul#popular-now li#article-0 > div > .subtitle
{
	color: white;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.25);
}

#content #headlines ul#popular-now li#article-0 > div > .tagsset
{
}

/* ---- MPU ------------------------------------------------ */

#content #headlines ul li.mpu
{
	text-align: center;
	overflow: visible;
}

#content #headlines ul li.advert.mpu > *
{
	float: none;
	width: 300px;
	margin: 10px auto 0;
}

#content #headlines ul li.advert.mpu iframe
{
	width: 300px;
	height: 250px;
}

/* ---- Comments ------------------------------------------- */

#headlines #mpu
{
	float: left;
	clear: both;
	width: 385px;
	padding: 0px;
	margin: 10px;
}

#headlines #mpu div.mpu
{
	width: 300px;
	height: 250px;
	margin: 0 auto;
	padding: 10px 0;
}

/* ---- Topic intro ---------------------------------------- */

#content div.topic
{
	position: relative;
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #e86c26;
	padding: 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	min-height: 90px;
	margin: 0 0 .75em;
	border-radius: .25em;
}

#content div.topic.digital_foundry,
#content div.topic.df-hardware
{
	background-image: url(../../img/EurogamerPage/Home/topics/df-topic-bg.png);
}

#content div.topic.gameover {
   background-image: url(../../img/EurogamerPage/Home/topics/go-topic-bg.png);
}

#content div.topic.psn
{
	background-color: #009edb;
	background-image: url(../../img/EurogamerPage/Home/topics/psn.jpg);
}

#content div.topic img,
#content div.topic p
{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 24px;
	text-align: left;
}

#content div.topic img
{
	left: 28px;
	top: 15px;
}

#content div.topic p
{
	right: 28px;
	left: 416px;
}

/* ---- Promos area ---------------------------------------- */

div#promo-section,
div#promo-section *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#promo-section
{
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	color: white;
	overflow: hidden;
	z-index: 4;
	margin-bottom: 1em;
	overflow: hidden;

	background-color: white;
	border: 1px solid rgba(0,0,0,.14);
	border-radius: .35em;
	-webkit-font-smoothing: antialiased;
}

div#promo-section a
{
	color: #0069ff;
}

div#promo-section a img
{
	position: absolute;
	top: 0;
	float: left;
	width: 50%;
}

div#promo-section a img
{
	max-width: 435px;
}

div#promo-section div
{
	float: right;
	width: 50%;
	padding: 1em 1em 1em 2em;
}

div#promo-section div p
{
	margin: 0;
	padding: 0 0 .5em;
	font-weight: bold;
	font-size: 1.15em;
}

div#promo-section div ul
{
	margin: 0;
	padding: 0;
	list-style: square;
	color: #6c6e7a;
}

div#promo-section div ul > li
{
	margin-left: 1.25em;
}

/* ---- Above & Below ---------------------------- */

#content #above,
#content #below
{
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content #above
{
	float: right;
	width: 382px;
	clear: none;
}

#content #above .headlines > li
{	
	width: 100%;
}

#content #above .headlines > li:first-of-type
{
	border-top: none;
}

#content #above .headlines > .large
{
	min-height: 5.5em;
}

#content #below
{
	width: 100%;
	clear: both;
	padding: 0 0 1.25em;
}

#content #below > .group:last-of-type
{
	margin: 0;
}

.group
{
	float: left;
	width: 100%;
	clear: both;
	background-color: white;
	border: 1px solid rgba(0,0,0,.14);
	border-radius: .35em;
	margin: 0 0 1em;
}

.group > .heading
{
	position: relative;
	display: block;
	clear: both;
	margin: 0;
	padding: .5em .65em 1.1em;
	font-size: 1.2em;
	font-weight: normal;
	clear: both;
	color: #474850;
	background-image: url(../../../img/EurogamerPage/Home/title.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: 2;
	margin-bottom: -1em;
	border-radius: .25em .25em 0 0;
	/*-webkit-font-smoothing: antialiased;*/
}

.group > .headlines
{

}

.group > .headlines > li:last-of-type
{

}

.headlines,
.headlines > li
{
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
}

.headlines,
.headlines *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.headlines
{
	padding: .65em 0 0;
}

.headlines > li
{
	clear: none;
	width: 33.333%;
	padding: .75em;
	border-top: 1px solid rgba(0,0,0,.05);
}

.headlines > .label
{
	width: 100%;
	clear: both;
}

.headlines > li > div
{
	position: relative;
	clear: both;
	padding-right: 2.5rem;
}

.headlines > li > div > .rating
{
	position: absolute;
	right: 0;
	top: 0;
	width: 2rem;
	height: auto;
}

.headlines > li > div > .title
{
	line-height: 1.3;
	padding: 0;
}

.headlines > li > div > .subtitle
{
	font-family: Verdana, sans-serif;
	font-size: .8em;
	color: #474950;
	line-height: 1.45;
	padding-right: 3em;
}

.headlines > li > .comment-count
{
	float: right;
	position: absolute;
	bottom: .6rem;
	right: .75rem;
	color: #96b618;
	font-size: .85em;
	background-image: none;
}

.headlines.large
{
	padding: .5em 0 0;
}

.headlines.count-0
{
	display: none;
}

.headlines.large > li
{
	width: 50%;
	padding: .5em;
	border-top: none;
	min-height: 9.25em;
	padding-left: 10em;
}

.headlines.large > li > .cover
{
	position: absolute;
	top: .75em;
	left: .75em;
	bottom: .75em;
	margin: 0;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-clip: content-box;
	border-radius: .25em;
	width: 8.6em;
	border: 1px solid rgba(0,0,0,.05);
	overflow: hidden;
}

.headlines.large > li > div
{
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	border: none;
	box-shadow: none;
	background-color: transparent;
	padding: .2em 2.5rem 0 0;
}

.headlines.large > li > div > .title
{
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.1;
}

.headlines.large > li > div > .title > a
{
	color: #0069ff;
}

.headlines.large > li > div > .subtitle
{
	font-size: .8em;
}

.headlines.large > li > .comment-count
{
	position: absolute;
}

#below .headlines.medium
{
	padding-top: 0;
}

.headlines.medium > li:only-of-type
{
	width: 100%;
}

.headlines.medium > .large
{
	padding-left: 6.4em;
	min-height: 5.75em;
	width: 50%;
}

.headlines.medium > .large:nth-of-type(odd)
{
	clear: left;
}

.headlines.medium.count-3 > li
{
	width: 33.333%;
	clear: none !important;
}

.headlines.medium > .large > .cover
{
	position: absolute;
	top: .75em;
	left: .75em;
	width: 5em;
	bottom: .7em;
	border-radius: .25em;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: content-box;
	border: 1px solid rgba(0,0,0,.05);
	overflow: hidden;
}

.headlines.medium > .large > div > .title
{
	line-height: 1.2;
	font-weight: bold;	
}

.headlines.small
{

}

.headlines.small > li
{
	width: 33.333%;
}

.headlines.small > li:only-of-type
{
	width: 100%;
	min-height: 0;
}

.headlines.small > li:nth-of-type(3n+4)
{
	clear: left;
}

.headlines.small.count-2 > li
{
	width: 50%;
}

/* ---- To merge --------------------------------- */

#content
{
	position: relative;
	width: 960px;
	padding: 0;
	margin: 0;
	background-image: none;
	z-index: 5;
}


div.low-leaderboard-container
{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 1.25em;
}

div.low-leaderboard
{
	width: 728px;
	height: 90px;
	margin: 0 auto;
}

#hd-mpu
{
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin: 0 0 1em;
	text-align: center;
}

#hd-mpu > div
{
	width: 300px;
	height: 250px;
	margin: 0 auto;
}

#above #hd-mpu
{
	border-top: 1px solid rgba(0,0,0,.05);
	padding-top: 1em;
}

.more-wrapper,
.more-wrapper *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.more-wrapper
{
	float: left;
	width: 100%;
	width: 960px;
	padding: 0;
	margin-left: -160px;
	background-color: white;
}

.more-wrapper > .heading
{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: .5em .65em 1.1em;
	font-size: 1.25em;
	font-weight: normal;
	clear: both;
	color: #474850;
	color: #404040;
	background-color: transparent;
	background-image: url(../../../img/EurogamerPage/Home/title.png);
	background-repeat: repeat-x;
	background-position: 160px bottom;
	border-top: 1px solid rgba(0,0,0,.15);
	z-index: 2;
	padding-left: 160px;
}

.more,
.more > div,
.more > div > ul,
.more > div > ul > li
{
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.more
{
	padding: 1em 1em 0;
	padding-left: 160px;
	background-color: white;
}

.more > div
{
	margin: 0 0 1.75em;
	width: 33.333%;
	padding-right: 1em;
	overflow: hidden;
	clear: none;
	border-left: 1px solid rgba(0,0,0,.15);
}

.more > div:nth-of-type(1),
.more > div:nth-of-type(3n+4)
{
	clear: left;
}

.more > div > .heading
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: .4em .6em .3em;
	background-color: #f4f6fc;
	border-top: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	font-size: 1.1em;
	line-height: 1;
	clear: both;
	color: #3c3d44;
	z-index: 2;
	border-radius: 0 .2em .2em 0;
	text-transform: capitalize;
}

.more > div > .heading > i:before
{
	line-height: 1;
	font-size: .9em;
	opacity: 1;
	color: #474950;
	width: 1.4em;
	text-align: center;
}

.more > div > .heading > a
{
	color: #3c3d44;
}

.more > div > ul
{
	padding: .75em 1em 0;
	height: 100%;
}

.more > div > ul > li
{
	list-style-type: square; 
	float: left;
	width: 100%;
	clear: none;
	margin: 0 0 .5em .9em;
	padding: 0 .75em .5em 0;
	color: #6c6e7a;
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.more > div > ul > li:last-of-type
{
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.more > div > ul > li > h3
{
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.more > div > ul > li > .comment-count
{
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.more > .forum > ul > li > p
{
	font-family: Verdana, sans-serif;
	font-size: 11px;
}

.more > .forum > ul > li > p > a
{
	color: #474950;
}

.load-more
{
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 0 1.25em;
}

.load-more > .button
{
	display: block;
	max-width: 28em;
	margin: 0 auto;
	float: none;
	text-align: center;
	padding: .75em 1em;
	font-weight: bold;
	transition: .2s;
	opacity: 1;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom-color: rgba(0,0,0,.3);
}

.load-more > .button > i:before
{
	margin-right: .35em;
	color: white;
	opacity: .5;
}

.load-more > .button.loading
{
	opacity: .5;
}

/* ---- Tags ------------------------------------- */

.tagset
{
	display: block;
	float: left;
	padding: 0;
	margin: .75em 0 0 0;
}

.tagset > .tag
{
	display: block;
	float: left;
	margin: 0;
	padding: 3px;
	border-left: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.15);
	font-size: 10px;
	font-family: Verdana, sans-serif;
	line-height: 1;	
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	background-color: #e7e9f0;
	color: #808080;
	text-shadow: 0 1px 0px white;
	-webkit-font-smoothing: antialiased;
}

.tagset > .tag:first-of-type
{
	border-radius: .2rem 0 0 .2rem;
}

.tagset > .tag:last-of-type
{
	border-radius: 0 .2rem .2rem 0;
}

.tagset > .tag:only-of-type
{
	border-radius: .2rem;
}

.tagset > .tag.essential,
.tagset > .tag.recommended,
.tagset > .tag.avoid
{
	border-color: rgba(0,0,0,.1);
	font-weight: bold;
	color: white;
	text-shadow: none;
	background-color: #d8ae33;
}

.tagset > .tag.recommended
{
	background-color: #7e7e7e;
}

.tagset > .tag.avoid
{
	background-color: #eb1c24;
}
