/* Login BOX */
#colorbox:focus { outline: 0 !important; }

.loginbox.clearfix:before,
.loginbox.clearfix:after {
    content:"";
    display:table;
}
.loginbox.clearfix:after {
    clear:both;
}

.loginbox { background:white; margin:0 auto; font-family:arial; text-align:left;  -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.1); box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.1);}
.loginbox.wide {width:740px;}
.loginbox.slim {width:620px;}
.loginbox .header { display:block; height:40px; padding:10px 20px 0px 20px; overflow:hidden; border:1px solid white }
.loginbox ul.header li { display:inline-block;}
.loginbox ul.header li.title { float:left; }
.loginbox ul.header li.title h1 { margin:3px 0px 0px 0px; }
.loginbox ul.header li.close { float:right; }
.loginbox ul.header li.close span,.loginbox ul.header li.close span:hover {width:auto; top: 5px; right:20px; text-transform: capitalize; display:block; padding:0px 25px 0px 0px; margin:7px 0px 0px 0px; color:#b9190f; font-size:14px; background:transparent url(/static/cz/shared/img/loginbox/close.png) no-repeat right center; cursor:pointer;}

.loginbox h1        { color:#0b70da; font-size:22px; font-weight: normal; padding:0; margin:0; font-family:NovaticaRegular, Arial; }
.loginbox h2        { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color:black; font-size:14px; font-weight:bold; margin:0 0 0.2em 0; }
.loginbox h2.alert  { color:#b9190f; display:block; background:url(/static/cz/shared/img/loginbox/alert.png) no-repeat left center; padding:15px 0px 15px 50px; }
.loginbox h2.red    { color:#b9190f; }
.loginbox h3        { color:black; font-size:12px; font-weight:bold; margin:0;}
.loginbox p         { color:black; font-size:12px; margin:0px 0px 0.5em 0px;}

.loginbox a         { color:#0071b9; text-decoration:none; }
.loginbox a.large   { margin-top:15px; font-size: 16px; line-height: 35px; vertical-align:bottom; }
.loginbox a.link    { color:#0071b9; background:url(/static/cz/shared/img/loginbox/arrow-right-dark.png) no-repeat right center; padding-right:10px; }
.loginbox a:hover   { color:#0084d8; text-decoration:none; }
.loginbox a:active  { color:#0084d8; }

.loginbox ul {  font-size:12px; list-style:none; padding:0; margin:0; }
.loginbox ul.links { display:block; margin:0px 0px 0px 0px; }
.loginbox ul.links li { display:inline-block;}
.loginbox ul.links li~li { margin-left:20px; }
.loginbox ul.links.pair { display:block; margin:0px 0px 0px 0px; }
.loginbox ul.links.pair li { display:inline-block; margin:0;}
.loginbox ul.links.pair li~li { margin-left:20px; }
.loginbox ul.info  {padding:10px 0px 0px 15px;}
.loginbox ul.info li {padding:3px 0px 3px 0px; margin:0; list-style-type:square; color:#0b70da;}
.loginbox ul.info li span {color:black;}
.loginbox ul.space { display:block; margin:20px 0px 20px 60px; }
.loginbox ul.usernames  {display:block; margin:0px 0px 0px 130px; position:relative;}
.loginbox ul.usernames span.username {position:absolute; top:10px; left:-130px; color:#797979;}
.loginbox ul.errors { display:block; margin:20px 0px 20px 20px;color:#b9190f; width: 200px;}
.loginbox dd ul.errors  {margin:0;}
.loginbox ul.errors li.error { color:#b9190f; list-style-type:square;}
.loginbox ul li { list-style-image: none; }


.split > .error {   color: #CC0606;  font-size: 90%;  position: absolute;  top: -24px;  width: 360px;}

.loginbox .content { padding:20px; width: auto !important; }
.loginbox .content .accbox {border:1px solid #cfcfcf; padding:25px; background:url(/static/cz/shared/img/loginbox/account-bg.png) repeat-x top;}
.loginbox .content #mojeid-box { display:none; }

.loginbox .content ul.accmenu { display:block; margin:-9px 0px -11px 0px; max-height:51px; }
.loginbox .content ul.accmenu li { display:inline-block; height:51px; cursor:pointer; background:url(/static/cz/shared/img/loginbox/accounts.png) no-repeat; text-indent:-10000px; overflow:hidden; }
.loginbox .content ul.accmenu li.acc-novacz { width:175px; background-position:0px 0px; }
.loginbox .content ul.accmenu li.acc-mojeid { width:193px; background-position:-178px -52px; display:none;  }
.loginbox .content ul.accmenu li.acc-facebook {
  width: 117px;
  background: transparent;
  float: right;
}
.loginbox .content ul.accmenu li.acc-facebook .fbLogin {
  width: 117px;
  height: 31px;
  padding: 0;
  margin: 9px 0 0;
  text-align: right;
  font-size: 0;
  color: #e3e8f1;
  display: block;
  cursor: pointer;
  border: 0;
  background: #e3e8f1 url(/static/cz/main/img/backgrounds/bg_header_login.png?r=115888) -893px 5px no-repeat;
}
.loginbox .content ul.accmenu li.acc-novacz.active { width:175px; background-position:0px -52px; }
.loginbox .content ul.accmenu li.acc-mojeid.active { width:193px; background-position:-178px 0px;  }

.loginbox .content .split { margin: 37px 0px 20px 0px; position: relative; }
.loginbox .content .split .splitleft,
.loginbox .content .split .zend_form  { width:360px; float:left; padding-right:23px; }
.loginbox .content .split .splitright { min-height: 200px; width:240px; float:right; padding-left:22px; border-left:1px #bfbfbf solid; }
.loginbox .content .split .splitright p { color:#797979; }

.loginbox .content .splithalf { margin:20px 0px 20px 0px;}
.loginbox .content .splithalf .splitleft  { width:260px; float:left; padding-right:0px; }
.loginbox .content .splithalf .splitright { width:260px; float:right; padding-left:40px; border-left:1px #bfbfbf solid; min-height:60px; }
.loginbox .content .splithalf .splitright p { color:#797979; }

.loginbox .content form { padding:0; margin:0;}
.loginbox .content form label { display:block; margin-bottom:5px; }
.loginbox .content form label span { color:#797979; font-size:14px; display:inline-block; width:130px; text-align:right; /*font-weight:bold;*/ padding-right:5px;}
.loginbox .content form input[type=text],
.loginbox .content form input[type=password] { border:1px solid #5793c7; padding:3px 8px 3px 8px; width:200px; -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1); box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1); -moz-box-sizing: border-box; }
.loginbox .content form .button { background:#0071b9; color:white; border:none; padding:4px 6px 4px 6px; margin:10px 0px 0px 0px; }
.loginbox .content form input[type=submit].button { background:#0071b9 url(/static/cz/shared/img/loginbox/arrow-right-light.png) no-repeat right center; color:white; border:none; border-right:5px solid #0071b9; cursor:pointer; padding:4px 16px 4px 6px; margin:10px 0px 0px 0px; }
.loginbox .content form .button a { color:white; background:url(/static/cz/shared/img/loginbox/arrow-right-light.png) no-repeat right center; padding-right:13px; }

.loginbox .content form .terms{font-size:11px;  margin:0 -25px 0 0;  padding:15px 0 0 140px;}
.loginbox .content form .terms a{text-decoration:underline;}

.loginbox .content form .zend_form { display:block; margin-bottom:5px; }
.loginbox .content form .zend_form dt  { color:#797979; font-size:14px; vertical-align: top; display:inline-block; width:130px; text-align:right; /*font-weight:bold;*/ padding: 3px 5px 0 0; }
.loginbox .content form .zend_form dd {display:inline-block; margin: 0 0 4px 0; }
.loginbox .content form .zend_form input[type=submit] {cursor: pointer; width: 101px; display: inline-block; font-size: 16px; text-align: left; background:#0071b9 url(/static/cz/shared/img/loginbox/arrow-right-light.png) no-repeat 88px center; color:white; border:none; padding:4px 6px 4px 6px; margin:10px 0px 0px 0px; }
.loginbox .content form .zend_form #login-label  {display: none;}
.loginbox .content form .zend_form #login-element  {float:right;}

.loginbox .content form#form-account-select { padding-bottom:30px;}
.loginbox .content form#form-account-select ul li { padding:10px 0px 0px 0px; }
.loginbox .content form#form-account-select ul li.confirm { padding-left:220px; }
.loginbox .content form#form-account-select ul li.confirm p { font-size:10px; padding-top:5px;}
.loginbox .content form#form-account-select label { display:inline-block; }
.loginbox .content form#form-account-select label span.name {width:120px;}
.loginbox .content form#form-account-select label span.pass { color:#797979; font-size:14px; display:inline-block; width:100px; text-align:right; /*font-weight:bold;*/ padding-right:5px;}
.loginbox .content form#form-account-select label.name { cursor:pointer; }
.loginbox .content form#form-account-select label span.name {color:black; text-align:left; padding-left:10px;}

.loginbox .content form#form-account-join  { padding-top:10px; padding-bottom:10px;}
.loginbox .content form#form-account-join ul li { padding:10px 0px 0px 0px; }
.loginbox .content form#form-account-join ul li.confirm { padding-left:220px; }
.loginbox .content form#form-account-join ul li.confirm p { font-size:10px; padding-top:5px;}
.loginbox .content form#form-account-join label { display:inline-block; }
.loginbox .content form#form-account-join label span { color:#797979; font-size:14px; display:inline-block; width:240px; text-align:right; /*font-weight:bold;*/ padding-right:5px;}

.loginbox .content form#form-account-register  { padding-top:10px; padding-bottom:10px;}
.loginbox .content form#form-account-register ul li { padding:10px 0px 0px 0px; }
.loginbox .content form#form-account-register label { display:inline-block; cursor:pointer; margin-bottom: 0.25em; font-size: 14px; }
.loginbox .content form#form-account-register label span { color:#797979; font-size:14px; display:inline-block; width:130px; text-align:right; /*font-weight:bold;*/ padding-right:5px;}
.loginbox .content form#form-account-register label span.name { color:black; text-align:left; padding-left:10px;}
.loginbox .content form#form-account-register label span.jine { width:35px; color:black; text-align:left; padding-left:10px; color:#797979;}
.loginbox .content form#form-account-register label span.rule { width:auto; color:black; text-align:left; padding-left:10px; color:#797979;}
.loginbox .content form#form-account-register #dummy-usernames+.custom { display: inline-block; }

.loginbox .content form#form-account-register button,
.loginbox .content form#form-account-register input[type=submit] 									{ background-color: #0B70DA; color: #fff; border: 0; outline: 0; line-height: 1.25em; padding: 0.25em 0.5em; }
.loginbox .content form#form-account-register .radioBox 													{ display: inline-block; vertical-align: top; margin: -4px 0 0.2em 0; }
.loginbox .content form#form-account-register .radioBox p													{ margin-top: 0.5em; }
.loginbox .content form#form-account-register .radioBox .confirm 									{ display: inline; }
.loginbox .content form#form-account-register .radioBox div~div 									{ margin-top: 0.2em; }
.loginbox .content form#form-account-register .radioBox .passwordSelection+label 	{ width: 88px; }
.loginbox .content form#form-account-register label input 												{ margin-right: 0.25em; vertical-align: middle; }
.loginbox .content form#form-account-register input[type=text],
.loginbox .content form#form-account-register input[type=password] 								{ width: 128px; }
.loginbox .content form#form-account-register .usernames>.optional 								{ display: none; }
.loginbox .content form#form-account-register .passwordSelection 									{ vertical-align: middle; }
.loginbox .content form#form-account-register .usernameBox 												{ margin: 12px 0 22px 100px; }
.loginbox .content form#form-account-register .usernameBox .radioBox 							{ margin-top: 4px; }
.loginbox .content form#form-account-register .usernameBox label.optional         { color: #444; font-weight: bold; }
.loginbox .content form#form-account-register .passwordSelectionGroup             { margin: 0 0 22px 100px; }
.loginbox .content form#form-account-register .passwordSelectionGroup label.required             { color: #444; font-weight: bold; display: block;}
.loginbox .content form#form-account-register div.agree,
.loginbox .content form#form-account-register div.permanent,
.loginbox .content form#form-account-register div.register { margin: 6px 0 0; text-align: right; width: 400px; }

.loginbox #pair-account-input .credential label,
.loginbox #pair-account-input .permanent label,
.loginbox #pair-account-input .identity label { width: 216px; text-align: right; }
.loginbox #pair-account-input form#form-account-join label[for=usernames] { display: block; }
.loginbox #pair-account-input form#form-account-join .usernames label~label { margin-left: 46px; }
.loginbox #pair-account-input form#form-account-join .usernames label input { margin-right: 4px; }

.loginbox .content .forgotten-pass {float: left; margin-top: -32px; }
.loginbox .content .reg_terms {width:250px;    font-size:11px;    padding:0 0 0 140px;}
.loginbox .content .reg_terms a {text-decoration:underline;}

.loginbox .content .button { font-size: 16px; display:inline-block; border:none; background:#0071b9; color:white; padding:4px 6px 4px 6px; margin:10px 0px 0px 0px; }
.loginbox .content .button a { color:white; background:url(/static/cz/shared/img/loginbox/arrow-right-light.png) no-repeat right center; padding-right:13px; }
.loginbox .content .button.pair { display:block; width:224px; height:25px; text-indent:-10000px; overflow:hidden; color:white; background:url(/static/cz/shared/img/loginbox/pair-button.png) no-repeat right center; padding-right:0px; }
.loginbox .content .button.login {
  display:block;
  width:205px;
  height:25px;
  text-indent:-10000px;
  overflow:hidden;
  color:white;
  background:url(/static/cz/main/img/buttons/btn_grey_mojeid.png) no-repeat left center;
  padding-right:0px;
  margin-bottom: 15px;
}

.loginbox img { padding: 0 0 0 4px; vertical-align:middle; margin:0; }
.loginbox .fl {float:left;}
.loginbox .fr {float:right;}
.loginbox .clear { clear:both; }
.loginbox hr { border:none; border-top:1px solid #bfbfbf; }

.loginbox .gradient {
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #e4e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 0%,#e4e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 0%,#e4e4e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 0%,#e4e4e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
.loginbox .inset {
-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.loginbox .username_checker_wrap {
    height: 2.5em;
    font-size: 11px;
    display: inline-block;
    width: 396px;
}
.loginbox .error {
	color: #a00000 !important	;
}
.loginbox input[type=text].error,
.loginbox input[type=password].error {
	border-color: #a00000 !important	;
}
.loginbox .username_checker[data-check-ok=false] { color: #a00000 !important; }
.loginbox .past_user {
    margin-top: 0 !important;
}


/* Lbox style */
#greyout.greyout { width:100%; min-height:100%; background:transparent url(/static/cz/shared/img/loginbox/greyout.png) repeat right center; position:absolute; z-index:999999; }
#greyout.greyout .lbox { max-width:1000px; margin:0 auto; margin-top:200px; }

.loginbox .facebook_login { margin: 10px 10px 0 0; }
.loginbox .facebook_login .fbLogin {
	border-radius: 2px;
	background: rgb(76,105,186);
	background: -moz-linear-gradient(top, rgb(76,105,186) 0%, rgb(59,85,160) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(76,105,186)), color-stop(100%,rgb(59,85,160)));
	background: -webkit-linear-gradient(top, rgb(76,105,186) 0%,rgb(59,85,160) 100%);
	background: -o-linear-gradient(top, rgb(76,105,186) 0%,rgb(59,85,160) 100%);
	background: -ms-linear-gradient(top, rgb(76,105,186) 0%,rgb(59,85,160) 100%);
	background: linear-gradient(to bottom, rgb(76,105,186) 0%,rgb(59,85,160) 100%);
	padding: 4px 6px 4px 4px;
	line-height: 30px;

	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 -1px 0 #354C8C;

	outline: 0;
	border: 0;
}
.loginbox .facebook_login .fbLogin {
	background: rgb(91,123,213);
	background: -moz-linear-gradient(top,  rgb(91,123,213) 0%, rgb(72,100,177) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(91,123,213)), color-stop(100%,rgb(72,100,177)));
	background: -webkit-linear-gradient(top,  rgb(91,123,213) 0%,rgb(72,100,177) 100%);
	background: -o-linear-gradient(top,  rgb(91,123,213) 0%,rgb(72,100,177) 100%);
	background: -ms-linear-gradient(top,  rgb(91,123,213) 0%,rgb(72,100,177) 100%);
	background: linear-gradient(to bottom,  rgb(91,123,213) 0%,rgb(72,100,177) 100%);
}
.loginbox .facebook_login .fbLogin img { vertical-align: top; padding: 0; }

/* COLOR BOX */
html #colorbox,
html #cboxOverlay,
html #cboxWrapper {position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
html #cboxOverlay{position:fixed; width:1000%; height:1000%;}
html #cboxMiddleLeft, #cboxBottomLeft{clear:left;}
html #cboxContent{position:relative;}
html #cboxLoadedContent{overflow:auto;}
html #cboxTitle{margin:0;}
html #cboxLoadingOverlay,
html #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height: 100%; }
html #cboxPrevious, html #cboxNext, html #cboxClose, html #cboxSlideshow{cursor:pointer;}
html .cboxPhoto{float:left; margin:auto; border:0; display:block;}
html .cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
html #cboxOverlay{background:url(/static/cz/shared/img/loginbox/greyout.png) repeat 0 0;}
html #colorbox{}
html     #cboxTopLeft{ display:none; width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -100px 0;}
html     #cboxTopRight{ display:none;width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -129px 0;}
html     #cboxBottomLeft{ display:none;width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -100px -29px;}
html     #cboxBottomRight{ display:none;width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -129px -29px;}
html     #cboxMiddleLeft{ display:none;width:21px; background:url(/static/cz/shared/img/colorbox-controls.png) left top repeat-y;}
html     #cboxMiddleRight{ display:none;width:21px; background:url(/static/cz/shared/img/colorbox-controls.png) right top repeat-y;}
html     #cboxTopCenter{ display:none; height:21px; background:url(/static/cz/shared/img/colorbox-border.png) 0 0 repeat-x;}
html     #cboxBottomCenter{ display:none; height:21px; background:url(/static/cz/shared/img/colorbox-border.png) 0 -29px repeat-x;}
html     #cboxContent{background:#fff; overflow:hidden;}
html         #cboxError{padding:50px; border:1px solid #ccc;}
html         #cboxLoadedContent{margin-top:0px;}
html         #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
html         #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
html         #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
html         #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
html         #cboxPrevious.hover{background-position:-75px -25px;}
html         #cboxNext{position:absolute; bottom:0; left:27px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
html         #cboxNext.hover{background-position:-50px -25px;}
html         #cboxLoadingOverlay{background:url(/static/cz/shared/img/colorbox-loading_background.png) no-repeat center center;}
html         #cboxLoadingGraphic{background:url(/static/cz/shared/img/colorbox-loading.gif) no-repeat center center;}
html         #cboxClose{ position:absolute; width:auto;  height: 23px; /* height:auto; */ text-indent:0px; line-height: 24px; top:5px; right:20px; display:block; padding:0 25px 0 0; margin:7px 0px 0px 0px; text-transform: capitalize; color:#b9190f; font-size:14px; background:transparent url(/static/cz/shared/img/loginbox/close.png) no-repeat right center; cursor:pointer;}
html         #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
html .cboxIE #cboxTopLeft,
html .cboxIE #cboxTopCenter,
html .cboxIE #cboxTopRight,
html .cboxIE #cboxBottomLeft,
html .cboxIE #cboxBottomCenter,
html .cboxIE #cboxBottomRight,
html .cboxIE #cboxMiddleLeft,
html .cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/* END of CSS for jQuery Lightbox plugin */
#registration {
 border:0;
}
#registration .content {
 background: none;
}
#registration .content form {
 box-shadow:  0 0 0 0;
}
#cboxLoadedContent {
 margin:0 !important;
}
#link-notice-off {
 position: relative;
 top:-20px;
}

.mojeid_registration_form > button {
    background: url("/static/cz/shared/img/loginbox/arrow-right-dark.png") no-repeat scroll right center transparent;
    border: none;
    color: #0071B9;
    cursor: pointer;
    font-size: 130%;
    margin: -69px 0 0;
    position: relative;
    top: -12px;
    padding-right: 10px;
}

.splitleft .mojeid_registration_form > button {
    margin: 0;
    top: 0;
    width: 207px;
    height: 25px;
    background: url("/static/cz/main/img/buttons/btn_blue_mojeid.png") no-repeat  0 0 ;
    color: #fff;
    text-indent: -9999px;
}
