/* CSS Document */

body{
     background: #fff;
     color: #0D0D0D;
     font-size: 12px;
     padding: 0;
     margin: 0; 
     padding-top: 60px; 
     
}

h1{
     font-size: 31px;
}

a{
     color: #0D0D0D;
     text-decoration: none;
}

*{
    background: none;
    color: #0D0D0D;
}

.embed,
object,
embed,
.ad_board,
#nova_footer_wrap,
.article_gallery.article_gallery,
#nova_header,
#right,
#comments_form,
ul#menu,
#quizz_form,
#control_box,
#comments,
.ad_hyper,
#article_send_form_id,
.form_body,
.ad_board_wrap,
.galHolder,
#cz_photo_gallery_list_index
{
     display: none;
     background: none;
}

#article_detail .embed {
display: block;
}

#show_prewrap,
#show_prewrap #show_wrapx,
#body_wrap,
#show_prewrap h1,
#show_prewrap h2,
#show_prewrap h3,
#show_prewrap h4,
#show_prewrap h5,
#show_prewrap h6,
#show_prewrap p,
#show_prewrap span,
#show_prewrap strong,
#show_prewrap table,
#show_prewrap div,
#show_prewrap form{
     background: none;
     background: #fff;
     color: #0D0D0D;
     position: static;
     left: 0;
     width: auto;
     float: none;
     height: auto;
     padding-left: 0;
     margin-left: 0; 
     page-break-after: avoid;
     page-break-before: avoid;
     page-break-inside: avoid;
     text-align: left;
     
}

#body_wrap,
#show_prewrap,
#show_wrap,
#show_wrapx,
#show,
.content,
.content_wrapx,
.content_wrap,
.content_prewrap,
#article_detail,
.article,
.article_wrap{
     margin: 0;
     padding: 0;  
     background: #fff;
     color: #0D0D0D;
     width: auto;
     position: static;
     left: 0;
     float: none;
     padding-left: 0;
     margin-left: 0;
     page-break-after: avoid;
     page-break-before: avoid;
     page-break-inside: avoid;
     text-align: left;
}

.ssid_clanek #latest_col,.ssid_clanek #latest_col,.ssid_clanek .article_idx_wrap,.ssid_clanek .article_idx_wrap.latest_col{
     display: none;
}

.sid_14200 #article_detail{
     top: 20px;
}

img#print_logo{
     display: block;
     height: 42px;
     position: absolute;
     top: 0;
     left: 0;
     margin-bottom: 35px;
     page-break-after: avoid;
     page-break-after: avoid;
     page-break-before: avoid;
     page-break-inside: avoid;
}
