/* START: WebSlices
*******************************************************************************/

.videos_list,
#front_articles_scroll.entry-content,
#promoarticles_content.entry-content,
.list_news,
.voting_content,
.videos_body,
.most_readed_slice {
  padding: 10px;
  background: #ffffff;
  color: #000000;
  text-align: left;
}

.videos_list .date{
     display: block;
     margin-bottom: 5px;
}

#promoarticles_content.entry-content .list_cleaner,
.videos_list .label2,
.videos_list .rating{
     display: none;
}

.videos_list{
     /*width: 600px;*/
}

.videos_list .video_description{
     clear: both;
}

.video_box .body,
.videos_list .video_box{
     width: auto;
}

#promoarticles_content.entry-content ul,
.list_news ul,
.voting_content ul,
.videos_body ul,
.most_readed_slice #most_readed_articles_scroll_box {
  margin: 0 0 10px 0;
}

.videos_list .video_box,
#promoarticles_content.entry-content li,
.list_news li,
.voting_content li,
.videos_body li,
.most_readed_slice .most_readed_items {
  padding: 6px 0;
  clear: both;
  border-bottom: 1px solid #e1dfdf;
  list-style-type: none;
}
.voting_content .img span {
  float: left;
  font-size: 16px;
  color: #004694;
}

.video_box .body .video_img_wrap,
#front_articles_scroll.entry-content .body .image,
#promoarticles_content.entry-content .left_image img,
.list_news img,
.voting_content img,
.videos_body img {
  float: left;
  margin: 0 10px 4px 0;
}
.most_readed_slice img {
  margin: 0 0 10px 0;
}

.video_box .video_title,
#front_articles_scroll.entry-content .body h3,
#promoarticles_content.entry-content .article_title,
.list_news .article_title,
.voting_content .article_title a,
.videos_body .video_title,
.most_readed_slice h3 {
  font-size: 16px;
  margin: 0 0 6px 0;
}

.video_box .video_title a,
#front_articles_scroll.entry-content .body .link a,
#front_articles_scroll.entry-content .body h3 a,
#promoarticles_content.entry-content .article_title a,
.list_news .article_title a,
.voting_content .article_title a,
.videos_body .video_title a,
.most_readed_slice h3 a {
  color: #004694;
}

.voting_content .article_title span {
  display: block;
}

#front_articles_scroll.entry-content .body .link,
#promoarticles_content.entry-content .perex,
#promoarticles_content.entry-content .perex p,
.list_news .perex, .list_news .perex p,
.most_readed_slice .perex
 {
	display: inline;
}


#promoarticles_content.entry-content .link_detail,
.list_news .link_detail
 {
	padding: 0 0 0 4px;
	display: inline;
	font-weight: bold;
}

.video_box .label,
.video_box .label a,
#promoarticles_content.entry-content .link_detail a,
.list_news .link_detail a
 {
  color: #004694;
}

#promoarticles_content.entry-content .cleaner,
.list_news .cleaner
 {
  clear: both;
}
.voting_content .more,
.videos_body .more
 {
  color: #004694;
  font-weight: bold;
}
/* reset */
.hslice .videos_list,
.hslice #front_articles_scroll.entry-content,
.hslice #promoarticles_content.entry-content,
.hslice .list_news,
.hslice .voting_content,
.hslice .videos_body,
.hslice .most_readed_slice {
  padding: 0;
  background: transparent;
  color: #000000;
}

.hslice .videos_list,
.hslice .videos_list .video_box,
.hslice .video_box .body{
     width: inherit;
}

.hslice .video_box .label{
     color: #707070;
}

.hslice .videos_list .video_description{
     clear: none;
}

.hslice #promoarticles_content.entry-content ul,
.hslice .list_news ul,
.hslice .voting_content ul,
.hslice .videos_body ul,
.hslice .most_readed_slice #most_readed_articles_scroll_box {
  margin: 0;
}

.hslice .videos_list .video_box,
.hslice #promoarticles_content.entry-content li,
.hslice .list_news li,
.hslice .voting_content li,
.hslice .videos_body li,
.hslice .most_readed_slice .most_readed_items {
  padding: 0;
  clear: none;
  border: 0;
}
.hslice .voting_content .img span {
  float: none;
  font-size: 100%;
  color: #000000;
}

.hslice .video_box .video_img_wrap,
.hslice #front_articles_scroll.entry-content .body .image,
.hslice #promoarticles_content.entry-content img,
.hslice .list_news img,
.hslice .voting_content img,
.hslice .videos_body img {
  float: none;
  margin: 0;
}

.hslice .most_readed_slice img {
  margin: 0;
}

.hslice .video_box .video_title,
.hslice #front_articles_scroll.entry-content .body h3,
.hslice #promoarticles_content.entry-content .article_title,
.hslice .list_news .article_title,
.hslice .voting_content .article_title a,
.hslice .videos_body .video_title,
.hslice .most_readed_slice h3 {
  font-size: 100%;
  margin: 0;
}

.hslice .video_box .video_title a,
.hslice #promoarticles_content.entry-content .article_title a,
.hslice .list_news .article_title a,
.hslice .voting_content .article_title a,
.hslice .videos_body .video_title a,
.hslice .most_readed_slice h3 a {
  color: #000000;
}
.hslice .voting_content .article_title span {
  display: inline;
}

.hslice .list_news .perex,
.hslice .list_news .perex p,
.hslice .most_readed_slice .perex
 {
	display: block;
}
.hslice .list_news .link_detail
 {
	padding: 0;
	display: none;
	font-weight: normal;
}

.hslice #promoarticles_content.entry-content .link_detail a,
.hslice .list_news .link_detail a
 {
  color: #000000;
}

.hslice #promoarticles_content.entry-content .link_detail{
     display: none;
}

.hslice #promoarticles_content.entry-content .cleaner,
.hslice .list_news .cleaner
 {
  clear: none;
}
.hslice .voting_content .more,
.hslice .videos_body .more
 {
  color: #000000;
  font-weight: normal;
}

/* END: WebSlices
*******************************************************************************/

