
@font-face {
    font-family: 'organica_regular';
    src: url('organica_regular-webfont.eot');
    src: url('organica_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('organica_regular-webfont.woff2') format('woff2'),
         url('organica_regular-webfont.woff') format('woff'),
         url('organica_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'organica_medium';
    src: url('organica_medium-webfont.eot');
    src: url('organica_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('organica_medium-webfont.woff2') format('woff2'),
         url('organica_medium-webfont.woff') format('woff'),
         url('organica_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'organica_thin';
    src: url('organica_thin-webfont.eot');
    src: url('organica_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('organica_thin-webfont.woff2') format('woff2'),
         url('organica_thin-webfont.woff') format('woff'),
         url('organica_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
