
@font-face {
    font-family: 'NovaticaLightRegular';
    src: url('/static/cz/microsites/default/font/novatica/novatica_light-webfont.eot');
    src: url('/static/cz/microsites/default/font/novatica/novatica_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/cz/microsites/default/font/novatica/novatica_light-webfont.woff') format('woff'),
         url('/static/cz/microsites/default/font/novatica/novatica_light-webfont.ttf') format('truetype'),
         url('/static/cz/microsites/default/font/novatica/novatica_light-webfont.svg#NovaticaLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovaticaMediumRegular';
    src: url('/static/cz/microsites/default/font/novatica/novatica_medium-webfont.eot');
    src: url('/static/cz/microsites/default/font/novatica/novatica_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/cz/microsites/default/font/novatica/novatica_medium-webfont.woff') format('woff'),
         url('/static/cz/microsites/default/font/novatica/novatica_medium-webfont.ttf') format('truetype'),
         url('/static/cz/microsites/default/font/novatica/novatica_medium-webfont.svg#NovaticaMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovaticaRegular';
    src: url('/static/cz/microsites/default/font/novatica/novatica_regular-webfont.eot');
    src: url('/static/cz/microsites/default/font/novatica/novatica_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/cz/microsites/default/font/novatica/novatica_regular-webfont.woff') format('woff'),
         url('/static/cz/microsites/default/font/novatica/novatica_regular-webfont.ttf') format('truetype'),
         url('/static/cz/microsites/default/font/novatica/novatica_regular-webfont.svg#NovaticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovaticaBold';
    src: url('/static/cz/microsites/default/font/novatica/novatica_bold-webfont.eot');
    src: url('/static/cz/microsites/default/font/novatica/novatica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/cz/microsites/default/font/novatica/novatica_bold-webfont.woff') format('woff'),
         url('/static/cz/microsites/default/font/novatica/novatica_bold-webfont.ttf') format('truetype'),
         url('/static/cz/microsites/default/font/novatica/novatica_bold-webfont.svg#NovaticaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}