h2, h3, h4, h5 {
  margin-top: 0;
  text-transform: none; }

h2 {
  font-size: 1.7rem;
}
@media (min-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

h1, h3,
.hero-sb span a,
.boldMovesBox-link,
.jumpAwayLink a,
.eventDate_day, .event-title a,
.boldMovesBox-story p,
footer .footer-section ul li a,
footer .footer-section p,
.site-nav a {
  font-family: "Effra W01", "Effra W01 Heavy", Helvetica, sans-serif;
  font-weight: 900; }

.event-title a,
footer .footer-section ul li a,
footer .footer-section p,
.boldMovesBox-story p,
.site-nav a {
  font-weight: 700; }

.site-nav a {
  text-transform: uppercase; }

.hero-sb p,
h2, .changingWorld h3,
.footer-address p,
.optionalCallout p,
.eventDate_month,
.hero--interior__content__description {
  font-family: "Museo Slab W01", "Museo Slab", Gerogia, serif;
  font-weight: 300; }

.hero--interior__content__description {
  font-size: 1.5rem; }

.eventDate_month {
  font-weight: 700; }

.wpb_wrapper {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto; }
  @media (min-width: 1161px) {
    .wpb_wrapper {
      width: 100%; } }

.hero-sb {
  position: relative;
  width: 100%;
  min-height: 350px;
  overflow: hidden;; }
  .hero-sb img {;
    position: relative;
    z-index: 10;
    display: block;;
    float: left;;
    height: 430px;;
    width: auto;;
    max-width: 1000px;;
    margin: 0 0 0 -60px;; }
  .hero-sb img.hero-sb--desktop {
    display: none;
  }
  .hero-sb img.hero-sb--mobile {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .hero-sb .hero-sb_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 5% 0;
    z-index: 20;
    background: -moz-linear-gradientt(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    background: -webkit-linear-gradientt(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); }
    .hero-sb .hero-sb_text h1 {
      color: #fff;
      font-size: 38px;
      line-height: 0.85em;
      width: 100%;
      text-shadow: 0 0 10px rgba(0,0,0,.4);
      text-transform: uppercase;
      margin: 20px 0; }
    .hero-sb .hero-sb_text p, .hero-sb .hero-sb_text span a {
      color: #fff; }
    .hero-sb .hero-sb_text p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      line-height: 1.4rem;
      text-shadow: 0 0 10px rgba(0,0,0,.4); }
    .hero-sb .hero-sb_text a {
  font-family: "Effra W01", Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #800000;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.6rem 2rem;
  border: 2px solid #800000;
  display: inline-block;
  margin: 0 16px 16px 0; }
      .hero-sb .hero-sb_text a:hover {
        background: transparent;
        border-color: #fff; }

    .hero-sb .hero-sb_text a .fa {
      display: inline-block;
      margin: 0 0 0 4px
    }

    @media (min-width: 481px) {
      .hero-sb .hero-sb_text {
        padding-top: 1rem;
        width: 75%; }
        .hero-sb .hero-sb_text p {
          font-size: 1.2rem;
        }

      }
    @media (min-width: 641px) {
      .hero-sb .hero-sb_text {
        padding-top: 1.5rem;
        width: 70%; }
        .hero-sb .hero-sb_text h1 {
          font-size: 60px;
          line-height: .78em; }
        .hero-sb .hero-sb_text p {
          font-size: 1.25rem; }
      .hero-sb img.hero-sb--desktop {
        display: block;
      }
      .hero-sb img.hero-sb--mobile {
        display: none;
      }
    }
    @media (min-width: 801px) {
      .hero-sb .hero-sb_text {
        padding-top: 3rem; }
        .hero-sb .hero-sb_text h1 {
          font-size: 80px; }
        .hero-sb .hero-sb_text p {
          font-size: 1.5rem;
          line-height: 1.8rem; } }
    @media (min-width: 941px) {
      .hero-sb .hero-sb_text {
        padding-top: 4rem;
        position: relative;
        padding-bottom: 5rem;
        z-index: 2; }
        .hero-sb .hero-sb_text h1 {
          font-size: 100px; }
        .hero-sb .hero-sb_text p {
          font-size: 1.66rem;
          line-height: 2rem; }
        }

@media (min-width: 1160px) {
  .hero-sb {;
    overflow: hidden;;
    max-height: 680px;; }
    .hero-sb img {
      margin-top: -20%; }
    .hero-sb .hero-sb_text {
      width: 66%;
      padding-top: 2rem;
      min-height: 540px; } }

@media (min-width: 1280px) {
  .hero-sb .hero-sb_text {
    width: 100%;
    padding-top: 2rem;
    min-height: 580px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); }
    .hero-sb .hero-sb_text div {
      width: 1160px;
      margin: 0 auto;
      display: block; }
      .hero-sb .hero-sb_text div h1, .hero-sb .hero-sb_text div p {
        width: 50%;
        display: block;
        clear: both; }
        .hero-sb .hero-sb_text div h1 {
         line-height: .78em;
        }
      }
@media (min-width: 1400px) {
  .hero-sb .hero-sb_text {
      min-height: 750px;
  }
}
@media (min-width: 1540px) {
  .hero-sb .hero-sb_text {
      min-height: 700px;
  }
  .hero-sb {
    max-height: 700px;
  }
}
@media (min-width: 1760px) {
  .hero-sb .hero-sb_text {
      min-height: 760px;
  }
  .hero-sb {
    max-height: 760px;
  }
}
.optionalCallout {
  background: #800000 url(../../img/student-life/students-walking-faded.jpg) repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.optionalCallout p {
  color: #800000;
  background: #fff;
  margin: 0 auto;
  max-width: 760px;
  padding: 1rem;
  z-index: 20;
  position: relative;;;;;; }
  .optionalCallout p strong {
    display: block;
    font-weight: 500; }
  .optionalCallout p a {
    color: #800000;
    text-decoration: none;
    display: block;; }
    .optionalCallout p a:hover {
      color: #000; }
  .optionalCallout p .fa-floatleft {
    display: block;;
    margin-right: 0;
    padding: 0.2rem 0.6rem;
    position: absolute;
    left: -9px;
    top: -1px;; }
   .optionalCallout .optionalCallout_text {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0 0 0 20px;
    position: relative;
   }
  @media (min-width: 400px) {
    .optionalCallout p {
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }
  @media (min-width: 581px) {
    .optionalCallout p {
      width: 91%;
      text-align: center;
      margin-top: -3.5rem;
      top: 1.5rem;
    }
    .optionalCallout p strong {
      display: inline;
    }
    .optionalCallout p .fa-floatleft {;
      display: inline;;
      float: none;;
      position: relative;;
      left: auto;;
      top: auto;
    }
    .optionalCallout .optionalCallout_text {
      float: none;
      text-align: center;
      padding: 0;
    }
      .hero-sb img {
        float: none;
        height: auto;
        max-width: 185%;
        width: 118%;
        margin-left: -9%;
      }
    }
  @media (min-width: 941px) {
    .hero-sb img {
      position: absolute;
      z-index: 1;
      margin-top: 0;
      margin-left: 0;
      right: 0;;
    }
  }
  @media (min-width: 1024px) {
    .hero-sb img {
      margin-top: -10%;
      width: 104%;
    }
    .hero-sb img.align-image-top {
      margin-top: 0%;
    }
  }
  @media (min-width: 1160px) {
    .hero-sb img {
      margin-top: -12%;
      width: 100%;
    }
    .hero-sb img.align-image-top {
      margin-top: 0%;
    }
  }
  @media (min-width: 1400px) {
    .hero-sb img {
      margin-top: -18%;
      width: 100%;
    }
    .hero-sb img.align-image-top {
      margin-top: 0%;
    }
  }
  @media (min-width: 1760px) {
    .hero-sb img {
      margin-top: -18%;
      width: 100%;
    }
    .hero-sb img.align-image-top {
      margin-top: 0%;
    }
  }
  @media (min-width: 901px) {
    .optionalCallout p {
      font-size: 1.25rem; }
    }

.seawolfStrip .wpb_wrapper {
  width: 90%;
  max-width: 1160px;
  margin: 0 auto;
}
.seawolfStrip .wpb_wrapper span {
  width: 100%;
  font-weight: 900;
  margin: 4px 0;
 }
.seawolfStrip .wpb_wrapper span strong {
  font-weight: 900;
  clear: left;
  display: inline-block;
}
@media (min-width: 1160px) {
  .seawolfStrip .wpb_wrapper span {
    display: inline;
    margin: 0;
    float: none;
    width: auto;
    font-weight: 900;
   }
  .seawolfStrip .wpb_wrapper span strong {
    font-weight: 900;
  }
}

.seawolfStrip {
  background: #800000 url(../../img/branding/rays/rays-vertical-1.jpg) repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10% 0;
  margin-bottom: 5rem;
  z-index: 10; }
@media (min-width: 800px) {
  .seawolfStrip {
    background: #800000 url(../../img/home-apr15/redSwooshes.jpg) repeat top center fixed;
  }
}
  .seawolfStrip::after {
    clear: both;
    content: "";
    display: table; }
  .seawolfStrip h2, .seawolfStrip h3 {
    color: #fff; }
  .seawolfStrip h3 {
    font-size: 2.3em;
    line-height: 1; }
    @media (min-width: 500px) {
      .seawolfStrip h3 {
        font-size: 34px;
      }
      .seawolfStrip .wpb_wrapper span {
        margin: 0;
      }
    }
    @media (min-width: 801px) {
      .seawolfStrip h3 {
        width: 100%;
        font-size: 44px;
      }
      .seawolfStrip {
        padding: 5.5rem 0;
      }
    }
    @media (min-width: 1161px) {
      .seawolfStrip h3 {
        font-size: 62px; } }
  .seawolfStrip ul {
    list-style: none;
    max-width: 1160px;
    margin: 15px auto;
    display: block;
    float: left; }
    .seawolfStrip ul li {
      float: left;
      width: 100%; }
      .seawolfStrip ul li a {
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 9px;
        font-size: 3vw;
        font-family: "Effra W01", Helvetica, sans-serif;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background: #000;
        color: #fff;
        font-size: 1.1rem;
        padding: 0.7rem 0;
        border: 2px solid #000;
        }
        .seawolfStrip ul li a:hover,
        .seawolfStrip ul li a.active {
          background: transparent;
          border-color: #fff;
        }

  .seawolfStrip .apply-form {
    display: block;
    clear: both;
    padding: 3rem 0 0;
  }
  .seawolfStrip .apply-form h4 span {
    font-family: "Museo Slab W01", "Museo Slab", Gerogia, serif;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
  }


  .seawolfStrip ul {
    width: 100%; }
    @media (min-width: 801px) {
      .seawolfStrip ul {
        width: 100%; }
        .seawolfStrip ul li {
          width: 50%;
          padding: 0 0.33rem; }
          .seawolfStrip ul li:first-child,
          .seawolfStrip ul li:nth-child(3) {
            padding: 0 0.66rem 0 0;
          }
          .seawolfStrip ul li a {; } }
    @media (min-width: 960px) {
        .seawolfStrip ul li,
        .seawolfStrip ul li:first-child,
        .seawolfStrip ul li:nth-child(3) {
          width: 25%;
          padding: 0 0.66rem;
        }
        .seawolfStrip ul li:first-child {
          padding: 0 0.66rem 0 0;
        }
        .seawolfStrip ul li:last-child {
          padding: 0 0 0 0.66rem;
        }
    }
    @media (min-width: 1161px) {
      .seawolfStrip ul {
        display: block;
        padding: 0; } }
    @media (min-width: 1161px) {
      .seawolfStrip .apply-form ul {
        display: block;
        padding: 0 0 0 0;
      }
    }
    .boldMoves .wpb_wrapper .jumpAwayLink {
  text-align: right; }
    .boldMoves .wpb_wrapper .jumpAwayLink {
  text-align: right; }

@media (max-width: 1160px) {
  .boldMoves .wpb_wrapper {
    width: 90%;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .boldMoves .wpb_wrapper {
    width: 90%;
    max-width: 360px;
    margin: 0 auto; } }

.boldMoves {
  padding-bottom: 2rem; }
  .boldMoves::after {
    clear: both;
    content: "";
    display: table; }
  .boldMoves h2 {
    color: #828282; }
  .boldMoves h2 span {
    clear: left;
    display: inline-block; }

.boldMovesBox {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  float: left;
  clear: right;
  height: 360px;
  background-color: #800000;
  background-image: url("../../img/branding/rays/red-rays-full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 190px rgba(0,0,0,0.2) inset;
  width: 100%;
  cursor: pointer;
}
  .boldMovesBox::after {
    clear: both;
    content: "";
    display: table; }
  .boldMovesBox:first-child {
    clear: both; }
  .boldMovesBox .boldMovesBox-title {
    display: block;
    width: 100%;
    margin: 0 auto 0;
    padding: 3rem 11% 1rem;
    text-align: center;
    text-decoration: none;
    border-bottom: 0 none;
    cursor: pointer;
    height: 100%;
    overflow: visible;
    z-index: 1; }
    .boldMovesBox .boldMovesBox-title h3 {
      display: block;
      color: #fff;
      font-size: 1.8rem;
      text-transform: uppercase;
      max-height: 190px;
      overflow: hidden;;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      text-shadow: 0 0 8px rgba(0,0,0,0.7);
      line-height: 1.1em;
      word-spacing: 0.1em;
      cursor: pointer;
    }
    .boldMovesBox .boldMovesBox-title h3 .fa {
      padding-left: 4px;
      display: inline-block;
      margin-right: -18px;
    }
    .boldMovesBox.engaged .boldMovesBox-title h3 {
      border-bottom: 0 none;
      padding: 0 0 2.2rem;
      display: none;
    }
.close-boldMovesBox {
    display: none;
    text-indent: -9999px;
    padding: 12px;
    opacity: 1;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 55px;
    box-sizing: border-box;
    opacity: .5;
    cursor: pointer;
}

.close-boldMovesBox .close-boldMovesBox-x {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/controls/x.png) no-repeat center center;
    background-size: cover;
}
.close-boldMovesBox:hover {
  opacity: 1;
}
.boldMovesBox.engaged .close-boldMovesBox {
  display: block;
}

@media (min-width: 601px) and (max-width: 900px) {
  .boldMovesBox {
    width: 50%;
    height: 420px; } }
  @media (min-width: 901px) {
    .boldMovesBox {
      width: 33.33%;
      height: 420px;
      transition: all .5s ease; } }

  .boldMovesBox .boldMovesBox-story {
    position: absolute;
    width: 110%;
    height: 100%;
    z-index: 20;
    -webkit-transform: rotate(-8deg) translate(5%, -8%);
    -ms-transform: rotate(-8deg) translate(5%, -8%);
    transform: rotate(-8deg) translate(5%, -8%); }
    .boldMovesBox .boldMovesBox-story p {
      color: #fff;
      font-size: 1.3rem;
      padding: 28px 35px 0 40px;
      line-height: 1.66;
      z-index: 1;
      display: none;
      max-height: 175px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      font-weight: 400;
      overflow: hidden; }
    .boldMovesBox .boldMovesBox-story p a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
    .boldMovesBox.engaged .boldMovesBox-story p {
      display: block;
    }

@media (min-width: 901px) and (max-width: 1200px) {
  .boldMovesBox .boldMovesBox-story p { } }

@media (min-width: 601px) and (max-width: 800px) {
  .boldMovesBox .boldMovesBox-story p {; } }
      @media (max-width: 600px) {
        .boldMovesBox .boldMovesBox-story p {; } }
      @media (max-width: 360px) {
        .boldMovesBox .boldMovesBox-story p { } }
    .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #000;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border: 2px solid #000;
      padding: .4rem .5rem .6rem .6rem;;
      width: 39%;
      display: block;;
      position: absolute;;
      bottom: 120px;
      left: 40px;
      z-index: 32;;; }
      .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory:hover {
        background: transparent;
        border-color: #fff; }



@media (min-width: 1024px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {
    bottom: 160px;
  }
  .boldMovesBox .boldMovesBox-title h3 .fa {
    opacity: 0;
  }
  .boldMovesBox:hover .boldMovesBox-title h3 .fa {
    opacity: 1;
  }
  .boldMovesBox:hover .close-boldMovesBox,
  .close-boldMovesBox {
    display: none;
  }
}
@media (min-width: 1101px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {;
  width: 39%; } }
  @media (min-width: 1200px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {;
  width: 37%; } }
@media (min-width: 901px) and (max-width: 1100px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {;
  width: 50%; } }
@media (min-width: 601px) and (max-width: 740px) {
  .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {;
  width: 54%; } }
      @media (max-width: 600px) {
        .boldMovesBox .boldMovesBox-story .boldMovesBox-fullStory {;
          width: 140px; } }
  .boldMovesBox .boldMovesBox-link {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 30;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
    left: auto;
    text-align: right;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
  }
  .boldMovesBox .boldMovesBox-link:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
    color: #fff;
  }

  .boldMovesBox.engaged .boldMovesBox-link {
    text-align: center;
    color: #F9ADB0;
    font-weight: normal;
  }
  .boldMovesBox.engaged .boldMovesBox-link:hover {
    color: #fff;
  }
    .boldMovesBox .boldMovesBox-link span {
      display: none; }

@media (max-width: 600px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -17%);
    -ms-transform: rotate(-8deg) translate(5%, -17%);
    transform: rotate(-8deg) translate(5%, -17%); } }

@media (min-width: 601px) and (max-width: 700px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -9%);
    -ms-transform: rotate(-8deg) translate(5%, -9%);
    transform: rotate(-8deg) translate(5%, -9%); } }

@media (min-width: 701px) and (max-width: 900px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -9%);
    -ms-transform: rotate(-8deg) translate(5%, -9%);
    transform: rotate(-8deg) translate(5%, -9%); } }

@media (min-width: 901px) and (max-width: 1053px) {
  .boldMovesBox .boldMovesBox-story {
    -webkit-transform: rotate(-8deg) translate(5%, -10%);
    -ms-transform: rotate(-8deg) translate(5%, -10%);
    transform: rotate(-8deg) translate(5%, -10%); } }

@media (min-width: 1054px) {
  .boldMovesBox .boldMovesBox-story {
    -ms-transform: rotate(-8deg) translate(5%, -12%);
    -webkit-transform: rotate(-8deg) translate(5%, -12%);
    transform: rotate(-8deg) translate(5%, -12%);; } }

.boldMovesBox:nth-child(3) {
  clear: both; }

.boldMovesBox {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.boldMovesBox:nth-child(3) .boldMovesBox-story,
.boldMovesBox:nth-child(7) .boldMovesBox-story {
  background: maroon;
  border-top: 12px solid #d52027; }

.boldMovesBox:nth-child(5) .boldMovesBox-story,
.boldMovesBox:nth-child(6) .boldMovesBox-story {
  background: maroon;
  border-top: 6px solid #d52027; }

.boldMovesBox:nth-child(4) .boldMovesBox-story,
.boldMovesBox:nth-child(8) .boldMovesBox-story {
  background: #d52027;
  border-top: 24px solid maroon; }


  .boldMovesBox.engaged .boldMovesBox-title {;
    position: relative;; }

  .boldMovesBox.engaged .boldMovesBox-story {
    -webkit-transform: rotate(0) translate(0, 0);
    -ms-transform: rotate(0) translate(0, 0);
    transform: rotate(0) translate(0, 0);
    top: 0;
    border-top: none;
    background: rgba(213, 32, 39, 0.75);
    left: 0;
    width: 100%;
    right: 0;
    z-index: 2; }

  .boldMovesBox.engaged .boldMovesBox-link span {
    display: inline; }


.whatsComingUp {
  background: #800000 url(../../img/branding/rays/rays-vertical-1.jpg) repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5rem 5px;
}
@media (min-width: 800px) {
  .whatsComingUp {
    background: #800000 url(../../img/home-apr15/redSwooshes.jpg) repeat top center fixed;
  }
}
  .whatsComingUp::after {
    clear: both;
    content: "";
    display: table; }
  .whatsComingUp h2, .whatsComingUp p, .whatsComingUp a, .whatsComingUp ul, .whatsComingUp li {
    color: #FFF; }
  .whatsComingUp h2 {
    margin-bottom: 30px;
  }
  .whatsComingUp ul {
    display: block;
    list-style: none;
    padding: 0;
    float: left;
    width: 100%; }
  .whatsComingUp ul li {
    width: 100%;
    display: inline-block;
    margin: 0 0 30px;
  }
  .whatsComingUp ul li a {
    display: block;
    float: left;
    width: 100%;
    position: relative;;
  }
  .whatsComingUp .jumpAwayLink {
    text-align: right;
    margin-bottom: 0;
  }
  .whatsComingUp .event-title .item {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 700;
    text-decoration: none;
      font-size: 1.025rem;
      line-height: 1em;
      padding-right: 5px;
      display: inline-block;;
      color: #fff;
    }
  .whatsComingUp .eventDate {
    text-transform: uppercase;
    width: 66px;
    height: 64px;
    margin: 0 0 0 0;
    float: left;
    background: #fff;
    color: #900;
    padding: 3px 0 0 0;
      transition: all .3s ease;
  }

  .whatsComingUp a:hover .eventDate {
    /*-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);*/ }
  .whatsComingUp .event-title {
    float: right;
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 7px 0 0 84px;
    right: 0;
    min-height: 67px;
    border-top: 2px solid transparent;
    top: -1px;
  }
  .whatsComingUp a:hover .event-title {
    border-color: #fff;
    background: rgba(0,0,0,0.05);
  }
    .whatsComingUp .eventDate span {
      display: block;
      text-align: center; }
      .whatsComingUp .eventDate span.eventDate_day {
        font-size: 2rem; }

@media (min-width: 601px) {
  .whatsComingUp ul li {
    float: left;
    clear: none;
    width: 50%;
    padding-right: 35px;
  }
  .whatsComingUp ul li:hover .eventDate {
    color: #b00;
  }
  .whatsComingUp ul li a .event-title {
    color: #f4f4f4;
  }
  .whatsComingUp ul li:hover a .event-title {
    color: #fff;
  }
  .boldMoves h2, .whatsComingUp h2 {
    float: left;
    width: 66%; }
  .whatsComingUp h2 {
    margin-bottom: 3rem; }
  .jumpAwayLink {
    float: right;
    width: 33%;
    line-height: 2rem;
    text-align: right;
    margin-top: 0.5rem; }
    .jumpAwayLink a {
      text-decoration: none;
      font-size: 1rem;
      color: #FFBDC0;
    }
      .jumpAwayLink a:hover {
        color: #fff;
        }
      }

@media (min-width: 1160px) {
  .whatsComingUp ul li {
    float: left;
    clear: none;
    width: 25%;
    padding-right: 35px;
  }
}

.boldMoves .jumpAwayLink a {
  color: #900; }
    .boldMoves .jumpAwayLink a:hover {
  color: #d52027; }

.changingWorld {
  background: #ccc url(../../img/home-apr15/photoPetri.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 0; }
.changingWorld .pitch h3 {
  color: #fff;
  margin: 0 0 3rem; 
  font-size: 2rem;
}
.changingWorld img {
  width: 70%;
  margin-bottom: 2rem;
  max-width: 400px; }
.changingWorld .pitch {
  width: 100%;
  clear: left;
}
  @media (max-width: 900px) {
    .changingWorld .wpb_wrapper {
      padding: 7% 5% 9%;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 66%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
      width: 100%;
    }
  }
  .changingWorld::after {
    clear: both;
    content: "";
    display: table; 
  }
  @media (min-width: 901px) {
    .changingWorld img {
      width: 30%;
    }
    .changingWorld img {
      padding-top: 1rem;
      float: left;
      width: 35%;
      display: inline-block;
      clear: none;
    }
    .changingWorld .pitch {
      float: left;
      width: 65%;
      display: inline-block;
      clear: none;
      padding-left: 5%;; 
    }
  }
  

@media (min-width: 641px) and (max-width: 900px) {
  .changingWorld .pitch h3 {
    font-size: 2rem; } }
      @media (min-width: 901px) {
        .changingWorld .pitch h3 {
          font-size: 3rem; } }
      @media (min-width: 1160px) {
        .changingWorld .pitch h3 {
          font-size: 4rem; } }
    .changingWorld .pitch a {
      font-family: "Effra W01", Helvetica, sans-serif;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #800000;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.5rem 0;
      border: 2px solid #800000;
      padding: 0.5rem 3rem; }
      .changingWorld .pitch a:hover {
        background: transparent;
        border-color: #fff; }
  @media (min-width: 901px) {
    .changingWorld {
      padding: 6rem 0; } }
