#exchangeRateContainer{
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size:11px;
    color: #222;
    width:160px;
    line-height: 20px;
    margin-bottom: 10px;
}
#exchangeRateWrapper {
    padding: 5px;
    border: 1px solid #ddd;
    border-top:none;
}
#exchangeRates{
    padding:0;
}
#exchangeRates li{
    list-style: none;
}
#exchangeRates li.odd{
    background-color: #eee;
}
#exchangeRates li span{
    float:left;
}
#exchangeRateContainer .clearfix {
    clear: both;
    content: ".";
    font-size: inherit !important;
    visibility: visible;
    overflow: auto;
}
.flag{
    background-image: url("../images/exchangeRateFlags.gif");
    display: inline-block;
    width:16px;
    height:14px;
    margin: 2px 5px 0 0;
}
#exchangeRateContainer input{
    font:11px/1.2em verdana;
}
#exchangeRateContainer select{
    width:60px;
    font: bold 10px/1.2em verdana;
    padding: 2px;
}
#exchangeRateContainer #amount{width:51px; padding:2px;}
#exchangeRateContainer .exchangeEquals{
    background: url("../images/exchange.png") no-repeat scroll center -73px;
    width:10px;
    display:inline-block;
    height: 14px;
    margin: 5px 5px 0 8px;
}
#exchangeRateContainer .exchangeArrow{
    background: url("../images/exchange.png") no-repeat scroll center -45px;
    width:10px;
    display:inline-block;
    height: 14px;
    margin: 5px 0 0 10px;
}
.toCurrency{float:right}
.CAD{background-position: 0 96px;}
.AUD{background-position: 0 112px;}
.HRK{background-position: 0 32px;}
.CHF{background-position: 0 80px;}
.GBP{background-position: 0 64px;}
.USD{background-position: 0 48px;}
.BAM{background-position: 0 16px;}
#exchangeRates li .right{float:right}
.fixed::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#exchangeRateContainer .exchange_head {
    background: rgba(0, 0, 0, 0) url("../images/exchange.png") no-repeat scroll left top;
    color: #222;
    font: 17px/1.6em Georgia;
    height: 30px;
    padding: 0 5px;
}
.fromCurrency{
    float:left;
}