body {
    font-family: Georgia, Verdana, Arial, sans-serif;
}

#weather-wrapper{
    float: left;
    margin: 0 20px 10px 0;
    overflow: hidden;
    width: 470px;
}

#city-list {
    width: 450px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 10px;
    margin-bottom: 30px;
}

#city-list li {
    display: inline-block;
    width: 120px;
}

#city-list li a{
    color: #222;
    float: left;
    font: 12px/1.6em Arial;
    padding: 3px 0 3px 5px;
    width: 145px;
}

#city-list li a.selected, #city-list li a:hover {
    color: #df0000;
}

#current-info{
    border: 1px solid #ccc;
    clear: both;
    float: none;
    height: 200px;
    width: 468px;
    margin-bottom: 30px;
}

#weather-wrapper .header{
    background-color: #eaeaea;
    border-bottom: 1px solid #ddd;
    color: #222;
    width:100%;
}

#weather-wrapper .header h2{
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

#current-info .left-column{
    border-right: 1px solid #ccc;
    float: left;
    height: 162px;
    width: 35%;
}
#current-info .current-city{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
}
#current-info .current-city-info{
    text-align: center;
}

#current-info .right-column{
    margin: 30px 5px;
    float:left;
}

#current-info .right-column p, .bottom p{
    margin: 0;
    font-size:13px;
    font-weight: bold;
    text-align: left;
}
#current-info .right-column p span, .bottom p span{
    font-weight: normal;
}
.bottom p {
    margin-left: 5px;
}

#forecast-info{
    border: 1px solid #ccc;
    width: 468px;
    height: 826px;
    text-align: center;
}

#forecast-info .forecast-row .column{
    height: 150px;
}

#forecast-info .column{
    float: left;
    width: 110px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#forecast-info .column:last-child{
    width: 246px;
    border-right:none;
}

.forecast-row{
    font-size: 12px;
}

.forecast-row .forecast-low{
    color: #14acd1;
    border-bottom: 2px solid #ccc;
    font: 18px Arial;
    font-weight: bold;
    margin: 55px auto 3px;
    width: 93%;
}
.forecast-row .forecast-high{
    color: #cc3300;
    font: 18px Arial;
    font-weight: bold;
}
.forecast-row .day-name{
    font-weight: bold;
    margin:60px 0 5px;
}
#weather-wrapper #forecast-info .label-row .column{
    font: 15px Arial !important;
    padding: 7px 0;
}
#forecast-info .column .top{
    border-bottom: 1px solid #ccc;
    width: 95%;
    margin: 10px auto 0;
    height: 64px;
}
#forecast-info .forecast-row .top {
    margin-bottom: 10px;
}
.odd .column{
    background-color: #f8f8f8;
}
#current-info .current-city-info p{
    margin: 7px 0;
    font-size: 14px;
}
#current-info .current-city-info span{
    font-size: 16px;
}

#weather-widget-wrapper{
    width: 160px;
    margin-bottom: 10px;
}
#weather-widget-wrapper a{
    color: #222;
    text-decoration: none;
}
#weather-widget-wrapper a:hover{
    color: #df0000;
    text-decoration: underline;
}
#weather-widget-wrapper p{
    margin: 0;
    color: #444;
    font: 12px/1.6em Trebuchet MS;
}
#weather-widget-wrapper .current-temp{
    color: #222;
    font: bold 14px/1.6em Trebuchet MS;
    float:right;
    margin-right: 15px;
}
#weather-widget-wrapper ul{
    list-style: none;
    padding:0;
    margin:0;
    border: 1px solid #ddd;
    border-top:none;
}
#weather-widget-wrapper ul li{
    border-bottom: 1px solid #ececec;
    padding: 5px 0;
    width: 148px;
    margin: 0 auto;
}
#weather-widget-wrapper ul li img{
    float: right;
}
#weather-widget-wrapper .weather-more {
    font: bold 11px/1.6em Trebuchet MS;
}
#weather-wrapper h1 {
    border-bottom: 1px solid #ddd;
    color: #888;
    margin-bottom: 20px;
    font-size:24px;
    font-family: Georgia, Verdana, Arial, sans-serif;
    font-weight: 400;
    line-height:1.6;
}
.fixed::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#exchange_head {
    background: rgba(0, 0, 0, 0) url("../images/exchange.png") no-repeat scroll left top;
    color: #222;
    font: 17px/1.6em Georgia;
    height: 30px;
    padding: 0 5px;
}
