@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Backgrounds */
/* Opacity */
/* Text-colors */
/* Spacings */
/* Lights off color */
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../resources/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../resources/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../resources/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../resources/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../resources/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../resources/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

#blicTv-widget {
  padding: 10px; }

.container::after {
  clear: both;
  content: "";
  display: table; }
@media screen and (min-width: 56.25em) {
  .container {
    max-width: 54.875em;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 75em) {
  .container {
    max-width: 73.125em;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
.container.search {
  min-height: 700px; }

/* extraspacetomobile */
@media screen and (max-width: 29.9375em) {
  .space {
    padding: 10px; } }
@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .space {
    padding: 20px; } }

.left, .right, .left-half, .right-half {
  width: 100%; }

.left {
  margin-top: 2.35765%; }
  @media screen and (min-width: 56.25em) {
    .left {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .left:last-child {
        margin-right: 0; } }

.right {
  margin-top: 2.35765%; }
  @media screen and (min-width: 56.25em) {
    .right {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .right:last-child {
        margin-right: 0; } }

@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .right .col1 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .right .col1 .col-item:last-child {
      margin-right: 0; }
    .right .col1 .col-item:nth-child(2n) {
      margin-right: 0; }
    .right .col1 .col-item:nth-child(2n+1) {
      clear: left; } }

@media screen and (min-width: 56.25em) {
  .left-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .left-half:last-child {
      margin-right: 0; } }

@media screen and (min-width: 56.25em) {
  .right-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    .right-half:last-child {
      margin-right: 0; } }
@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .right-half .col2 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .right-half .col2 .col-item:last-child {
      margin-right: 0; }
    .right-half .col2 .col-item:nth-child(2n) {
      margin-right: 0; }
    .right-half .col2 .col-item:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 56.25em) {
  .right-half .col2 .col-item {
    float: left;
    display: block;
    margin-right: 0.57917%;
    width: 49.71041%;
    margin-bottom: 0.57917%; }
    .right-half .col2 .col-item:last-child {
      margin-right: 0; }
    .right-half .col2 .col-item:nth-child(2n) {
      margin-right: 0; }
    .right-half .col2 .col-item:nth-child(2n+1) {
      clear: left; } }

.col1 .col-item, .col2 .col-item, .col3 .col-item, .col4 .col-item, .col5 .col-item, .col6 .col-item {
  width: 100%;
  margin-bottom: 2.35765%; }
.col1::after, .col2::after, .col3::after, .col4::after, .col5::after, .col6::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (min-width: 56.25em) {
  .col2 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col2 .col-item:last-child {
      margin-right: 0; }
    .col2 .col-item:nth-child(2n) {
      margin-right: 0; }
    .col2 .col-item:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .col3 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col3 .col-item:last-child {
      margin-right: 0; }
    .col3 .col-item:nth-child(2n) {
      margin-right: 0; }
    .col3 .col-item:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 56.25em) {
  .col3 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .col3 .col-item:last-child {
      margin-right: 0; }
    .col3 .col-item:nth-child(3n) {
      margin-right: 0; }
    .col3 .col-item:nth-child(3n+1) {
      clear: left; } }

@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .col4 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col4 .col-item:last-child {
      margin-right: 0; }
    .col4 .col-item:nth-child(2n) {
      margin-right: 0; }
    .col4 .col-item:nth-child(2n+1) {
      clear: left; }
    .col4 .col-item::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 56.25em) {
  .col4 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .col4 .col-item:last-child {
      margin-right: 0; }
    .col4 .col-item:nth-child(4n) {
      margin-right: 0; }
    .col4 .col-item:nth-child(4n+1) {
      clear: left; } }

@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .col5 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%; }
    .col5 .col-item:last-child {
      margin-right: 0; }
    .col5 .col-item:nth-child(5n) {
      margin-right: 0; }
    .col5 .col-item:nth-child(5n+1) {
      clear: left; }
    .col5 .col-item::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 56.25em) {
  .col5 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%; }
    .col5 .col-item:last-child {
      margin-right: 0; }
    .col5 .col-item:nth-child(5n) {
      margin-right: 0; }
    .col5 .col-item:nth-child(5n+1) {
      clear: left; } }

@media screen and (min-width: 30em) and (max-width: 56.1875em) {
  .col6 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col6 .col-item:last-child {
      margin-right: 0; }
    .col6 .col-item:nth-child(2n) {
      margin-right: 0; }
    .col6 .col-item:nth-child(2n+1) {
      clear: left; } }
@media screen and (min-width: 56.25em) {
  .col6 .col-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .col6 .col-item:last-child {
      margin-right: 0; }
    .col6 .col-item:nth-child(6n) {
      margin-right: 0; }
    .col6 .col-item:nth-child(6n+1) {
      clear: left; } }

/*
.news-items {
    .col-item {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        @include media($desktop-up) {
            div {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                color: $link-color;
                background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(173,173,173,0) 0%, rgba(51,51,51,1) 100%);  FF3.6-15 
                background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(173,173,173,0)20%,rgba(51,51,51,1) 100%);  Chrome10-25,Safari5.1-6 
                background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(173,173,173,0) 0%,rgba(51,51,51,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#333333',GradientType=0 );  IE6-9 
            }
        }
        span {
            background: red;
            padding: 5px;
            margin: 10px;
        }
        h3 {
            margin: 10px;
        }
        .fa {
            width: 50px;
            height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            color: #FFF;
            font-size: 62px;
            position: absolute;
        }
    }
}*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
  /* 1em 40px */
  /*  -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;*/ }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Lists
   ========================================================================== */
ul {
  list-style-type: none; }

.clear {
  clear: both; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #343434; }

a {
  color: #43494e; }

.category-title {
  font-size: 22px;
  margin: 0 0 10px 0; }
  @media screen and (min-width: 56.25em) {
    .category-title {
      font-size: 32px;
      margin: 20px 0 -6px 0; } }

button {
  border: none;
  outline: 0; }

/* Social colors */
.comment-number a {
  color: #333; }
.comment-number:hover {
  background: #333; }
  .comment-number:hover a {
    color: #FFF; }

.share .facebook a {
  color: #3c5898; }
.share .facebook:hover {
  background: #3c5898; }
  .share .facebook:hover a {
    color: #FFF; }
.share .twitter a {
  color: #6aadd1; }
.share .twitter:hover {
  background: #6aadd1; }
  .share .twitter:hover a {
    color: #FFF; }
.share .google a {
  color: #cc181e; }
.share .google:hover {
  background: #cc181e; }
  .share .google:hover a {
    color: #FFF; }
.share .embed {
  cursor: pointer; }
  .share .embed a {
    color: #aed583; }
  .share .embed:hover {
    background: #aed583; }
    .share .embed:hover a {
      color: #FFF; }
  @media screen and (max-width: 29.9375em) {
    .share .embed span {
      display: none; } }

.fb a {
  color: #3c5898; }
.fb:hover {
  background: #3c5898; }
  .fb:hover a {
    color: #FFF; }

/* Partners colors */
.partners .blictv a {
  color: #ed1d28; }
.partners .blictv:hover {
  background: #ed1d28; }
  .partners .blictv:hover a {
    color: #FFF; }
.partners .alotv a {
  color: #fbac17; }
.partners .alotv:hover {
  background: #fbac17; }
  .partners .alotv:hover a {
    color: #FFF; }
.partners .dvacetirisatatv a {
  color: #D0CB0E; }
.partners .dvacetirisatatv:hover {
  background: #D0CB0E; }
  .partners .dvacetirisatatv:hover a {
    color: #FFF; }
.partners .taramount a {
  color: #70bf4c; }
.partners .taramount:hover {
  background: #70bf4c; }
  .partners .taramount:hover a {
    color: #FFF; }
.partners .kuhinjica a {
  color: #4293d0; }
.partners .kuhinjica:hover {
  background: #4293d0; }
  .partners .kuhinjica:hover a {
    color: #FFF; }
.partners .cliprs a {
  color: #7152a2; }
.partners .cliprs:hover {
  background: #7152a2; }
  .partners .cliprs:hover a {
    color: #FFF; }
.partners .beoton a {
  color: #d34799; }
.partners .beoton:hover {
  background: #d34799; }
  .partners .beoton:hover a {
    color: #FFF; }
.partners .prva a {
  color: #4E0831; }
.partners .prva:hover {
  background: #4E0831; }
  .partners .prva:hover a {
    color: #FFF; }

.button-more {
  margin-top: 20px;
  display: block;
  text-align: center; }
  .button-more a {
    display: inline-block;
    width: 100%;
    padding: 8px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: #d34799;
    color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*        border: 1px solid #b865b6;
            -moz-box-shadow: 0px 4px 0px 0px #d34799;
    	-webkit-box-shadow: 0px 4px 0px 0px #d34799;
    	box-shadow: 0px 4px 0px 0px #d34799;
            &:hover {
                background: #d34799;
                color: #FFF;
            }*/ }
    @media screen and (min-width: 56.25em) {
      .button-more a {
        width: 31.76157%; } }
    .button-more a:active {
      position: relative;
      top: 1px; }
  .button-more.wide a {
    width: 100%; }
    @media screen and (min-width: 56.25em) {
      .button-more.wide a {
        width: 50%; } }

@media screen and (max-width: 56.1875em) {
  .hide-small {
    display: none !important; } }

@media screen and (min-width: 56.25em) {
  .hide-large {
    display: none !important; } }

.news-block .col-item {
  position: relative; }
  .news-block .col-item img {
    width: 100%;
    height: auto;
    display: block; }
  .news-block .col-item .play {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: border-color 0.4s ease-in;
    -moz-transition: border-color 0.4s ease-in;
    transition: border-color 0.4s ease-in;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
    .news-block .col-item .play i {
      color: #FFF;
      font-size: 12px;
      position: relative;
      left: 1px;
      top: -1px; }
  .news-block .col-item:hover .play {
    border: 2px solid white;
    -webkit-transition: border 0.4s ease-in;
    -moz-transition: border 0.4s ease-in;
    transition: border 0.4s ease-in; }
  .news-block .col-item .meta-wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10; }
    .news-block .col-item .meta-wrapper h2, .news-block .col-item .meta-wrapper h3 {
      font-size: 18px;
      line-height: 20px;
      text-shadow: 1px 1px 0px #222; }
      .news-block .col-item .meta-wrapper h2 a, .news-block .col-item .meta-wrapper h3 a {
        color: #FFF; }
    @media screen and (min-width: 30em) and (max-width: 56.1875em) {
      .news-block .col-item .meta-wrapper h2 {
        font-size: 32px;
        line-height: 32px; }
      .news-block .col-item .meta-wrapper.big {
        left: 20px;
        right: 20px;
        bottom: 20px; } }
    @media screen and (min-width: 56.25em) {
      .news-block .col-item .meta-wrapper h2 {
        font-size: 34px;
        line-height: 38px; }
      .news-block .col-item .meta-wrapper h3 {
        font-size: 20px;
        line-height: 22px;
        margin: 5px; }
      .news-block .col-item .meta-wrapper.big {
        left: 20px;
        right: 20px;
        bottom: 20px; } }
  .news-block .col-item .tag {
    background: #F20D00;
    padding: 1px 4px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block; }
    @media screen and (min-width: 56.25em) {
      .news-block .col-item .tag {
        position: absolute;
        left: 7px;
        bottom: 7px;
        margin-bottom: 0; } }
    .news-block .col-item .tag a {
      color: #FFF;
      display: inline-block; }
.news-block .banner {
  text-align: center;
  margin-bottom: 2.35765%; }
.news-block .left, .news-block .right {
  margin-top: 0; }
.news-block.mb0 {
  margin-bottom: 0; }

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: -moz-linear-gradient(top, transparent 50%, #1f1100 100%);
  background: -o-linear-gradient(top, transparent 50%, #1f1100 120%);
  background: -ms-linear-gradient(top, transparent 50%, #1f1100 120%);
  background: linear-gradient(to bottom, transparent 50%, #1f1100 120%);
  background: -webkit-linear-gradient(top, transparent 50%, #1f1100 120%); }

.main.news-block::after {
  clear: both;
  content: "";
  display: table; }
@media screen and (min-width: 56.25em) {
  .main.news-block.top-space {
    margin-top: 2.35765%; }
  .main.news-block .play {
    width: 80px;
    height: 80px;
    line-height: 80px; }
    .main.news-block .play i {
      font-size: 26px;
      top: 2px; }
  .main.news-block .col-item .meta-wrapper h3 {
    margin: 0; }
  .main.news-block .tag {
    position: relative;
    left: auto;
    bottom: 5px; } }
@media screen and (min-width: 56.25em) and (max-width: 74.9375em) {
  .main.news-block .right .col1 .col-item {
    margin-bottom: 4%; } }
@media screen and (min-width: 75em) {
  .main.news-block .right .col1 .col-item {
    margin-bottom: 4.3%; } }

@media screen and (min-width: 56.25em) {
  .news-block .col6 .col-item .meta-wrapper h3 {
    font-size: 14px;
    line-height: 16px; } }
@media screen and (min-width: 56.25em) {
  .news-block .text-down .col-item .img-wrapper {
    position: relative; }
    .news-block .text-down .col-item .img-wrapper .overlay {
      display: none; } }
@media screen and (min-width: 56.25em) {
  .news-block .text-down .col-item .meta-wrapper {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0; } }
@media screen and (min-width: 56.25em) {
  .news-block .text-down .col-item .meta-wrapper h3 {
    text-shadow: none; }
    .news-block .text-down .col-item .meta-wrapper h3 a {
      color: inherit; } }

.news-block .col-item .tag.tag-752, aside.right .news article .text span.tag-752 {
  background: #ed1d28; }
.news-block .col-item .tag.alotv, aside.right .news article .text span.alotv {
  background: #fbac17; }
.news-block .col-item .tag.dvacetirisatatv, aside.right .news article .text span.dvacetirisatatv {
  background: #D0CB0E; }
.news-block .col-item .tag.taramount, aside.right .news article .text span.taramount {
  background: #70bf4c; }
.news-block .col-item .tag.kuhinjica, aside.right .news article .text span.kuhinjica {
  background: #4293d0; }
.news-block .col-item .tag.cliprs, aside.right .news article .text span.cliprs {
  background: #7152a2; }
.news-block .col-item .tag.beoton, aside.right .news article .text span.beoton {
  background: #d34799; }
.news-block .col-item .tag.prva, aside.right .news article .text span.prva {
  background: #4E0831; }
.news-block .col-item .tag a, aside.right .news article .text span a {
  color: #FFF; }

/* Slider default setting */
.slick-slider {
  /*iOS ifreme fix*/
  width: 1px;
  min-width: 100%;
  /*iOS ifreme fix*/
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Customization */
#slider {
  background: #252525; }
  @media screen and (min-width: 30em) {
    #slider {
      padding: 0 0 15px 0; } }

.video-slider, .video-slider2 {
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 56.25em) {
    .video-slider, .video-slider2 {
      width: 826px;
      padding-top: 10px; } }
  .video-slider.slider, .video-slider2.slider {
    display: none; }
    .video-slider.slider.slick-slider, .video-slider2.slider.slick-slider {
      display: block; }
  .video-slider .slick-list, .video-slider2 .slick-list {
    width: 100%; }
    @media screen and (min-width: 56.25em) {
      .video-slider .slick-list, .video-slider2 .slick-list {
        margin-left: 0;
        width: calc(100% - 1px); } }
  .video-slider .slick-slide, .video-slider2 .slick-slide {
    margin: 0 12px; }
    @media screen and (min-width: 30em) {
      .video-slider .slick-slide, .video-slider2 .slick-slide {
        margin: 0 12px 0 0; } }
    .video-slider .slick-slide div, .video-slider2 .slick-slide div {
      position: relative; }
    .video-slider .slick-slide img, .video-slider2 .slick-slide img {
      width: 100%;
      height: auto;
      opacity: .60;
      -webkit-transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
    .video-slider .slick-slide h3, .video-slider2 .slick-slide h3 {
      color: #9F9F9F;
      margin-top: 5px;
      font-size: 13px;
      font-weight: 400;
      -webkit-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      transition: color 0.4s ease; }
    .video-slider .slick-slide span, .video-slider2 .slick-slide span {
      opacity: .75;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 6px;
      line-height: 22px;
      color: #FFF;
      font-weight: 600;
      font-size: 12px; }
      .video-slider .slick-slide span.playing, .video-slider2 .slick-slide span.playing {
        display: none;
        background: #e30000; }
      .video-slider .slick-slide span.time, .video-slider2 .slick-slide span.time {
        display: inline-block;
        background: rgba(12, 12, 12, 0.3); }
        .video-slider .slick-slide span.time i, .video-slider2 .slick-slide span.time i {
          font-size: 10px;
          font-weight: 400; }
    .video-slider .slick-slide.active h3, .video-slider2 .slick-slide.active h3 {
      color: #FEFEFE; }
    .video-slider .slick-slide.active span.playing, .video-slider2 .slick-slide.active span.playing {
      display: inline-block; }
    .video-slider .slick-slide.active span.time, .video-slider2 .slick-slide.active span.time {
      display: none; }
    .video-slider .slick-slide.active img, .video-slider2 .slick-slide.active img {
      opacity: 1; }
    .video-slider .slick-slide:hover h3, .video-slider2 .slick-slide:hover h3 {
      color: #FEFEFE; }
    .video-slider .slick-slide:hover img, .video-slider2 .slick-slide:hover img {
      opacity: 1; }
  .video-slider .slick-prev, .video-slider .slick-next, .video-slider2 .slick-prev, .video-slider2 .slick-next {
    width: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    color: #FFF;
    font-size: 46px;
    z-index: 100; }
  .video-slider .slick-prev, .video-slider2 .slick-prev {
    left: 0; }
    .video-slider .slick-prev:after, .video-slider2 .slick-prev:after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .video-slider .slick-next, .video-slider2 .slick-next {
    right: 0; }
    .video-slider .slick-next:after, .video-slider2 .slick-next:after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

/* Separate slider */
#slider .container {
  position: relative; }
  #slider .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 29.9375em) {
    #slider .container.space {
      padding: 10px; } }
#slider .video-slider, #slider .video-slider2 {
  position: inherit;
  /*        .slick-slide {
              margin: 0;
              @include media($tablet-up) {
                  margin: 0;
              }
              div {
                  margin: 0 10px;
              }
              h3 {
                  margin: 5px 10px 0;
              }
          }*/ }
  @media screen and (min-width: 56.25em) {
    #slider .video-slider, #slider .video-slider2 {
      width: 100%; } }
  #slider .video-slider h3, #slider .video-slider2 h3 {
    font-size: 14px; }
  #slider .video-slider .slick-list, #slider .video-slider2 .slick-list {
    /*          width: 100%;
                @include media($desktop-up) {
                    margin: 0;
                    width: 100%;
                }*/ }
  #slider .video-slider .slick-prev, #slider .video-slider .slick-next, #slider .video-slider2 .slick-prev, #slider .video-slider2 .slick-next {
    top: -44px;
    height: 32px;
    line-height: 32px;
    font-size: 32px; }
    @media screen and (min-width: 30em) {
      #slider .video-slider .slick-prev, #slider .video-slider .slick-next, #slider .video-slider2 .slick-prev, #slider .video-slider2 .slick-next {
        top: -36px; } }
  #slider .video-slider .slick-next, #slider .video-slider2 .slick-next {
    right: 16px; }
    @media screen and (min-width: 30em) and (max-width: 56.1875em) {
      #slider .video-slider .slick-next, #slider .video-slider2 .slick-next {
        right: 26px; } }
    @media screen and (min-width: 56.25em) {
      #slider .video-slider .slick-next, #slider .video-slider2 .slick-next {
        right: 5px; } }
  #slider .video-slider .slick-prev, #slider .video-slider2 .slick-prev {
    left: auto;
    right: 43px; }
    @media screen and (min-width: 30em) and (max-width: 56.1875em) {
      #slider .video-slider .slick-prev, #slider .video-slider2 .slick-prev {
        right: 53px; } }
    @media screen and (min-width: 56.25em) {
      #slider .video-slider .slick-prev, #slider .video-slider2 .slick-prev {
        right: 32px; } }
#slider .video-slider2 button {
  top: 50px; }

#clip-widget {
  border: 1px solid #eee;
  border-top: 3px solid #eeeeee; }
  #clip-widget header {
    /*background: url("http://www.clip.rs/resources/css/images/rainbow.png") no-repeat right 0 transparent;*/
    padding: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px; }
    #clip-widget header h1 {
      margin: 0;
      font-size: 1.5em;
      font-weight: 600; }
      #clip-widget header h1 a {
        line-height: 30px;
        height: 30px;
        background-color: #fff;
        display: inline-block;
        padding: 0 5px; }
  #clip-widget .widget-outer {
    position: relative; }
    #clip-widget .widget-outer .slick-arrow {
      position: absolute;
      width: 40px;
      height: 53px;
      background: rgba(213, 66, 154, 0.8);
      top: 40%;
      z-index: 1;
      font-size: 20px;
      color: #FFF; }
      #clip-widget .widget-outer .slick-arrow:hover {
        background: #d5429a; }
      #clip-widget .widget-outer .slick-arrow.slick-prev {
        left: 5px; }
      #clip-widget .widget-outer .slick-arrow.slick-next {
        right: 3px; }
  #clip-widget .slick-slide {
    margin: 0 5px; }
    #clip-widget .slick-slide img {
      width: 100%;
      height: auto; }
    #clip-widget .slick-slide .title {
      margin-top: 5px;
      display: block; }
      #clip-widget .slick-slide .title a {
        font-size: 16px;
        /*                @include media($tablet-up) {
                            font: 18px/1.1em Arial;
                        }*/
        padding: 0 0 5px 0;
        color: #222;
        display: block; }
    #clip-widget .slick-slide .img-wrapper {
      position: relative; }
    #clip-widget .slick-slide .play {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      line-height: 36px;
      margin: auto;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.1);
      -webkit-transition: border-color 0.4s ease-in;
      -moz-transition: border-color 0.4s ease-in;
      transition: border-color 0.4s ease-in;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
      @media screen and (min-width: 56.25em) {
        #clip-widget .slick-slide .play {
          width: 60px;
          height: 60px;
          line-height: 64px; } }
      #clip-widget .slick-slide .play i {
        color: #FFF;
        font-size: 12px;
        position: relative;
        left: 1px;
        top: -1px; }
        @media screen and (min-width: 56.25em) {
          #clip-widget .slick-slide .play i {
            font-size: 20px; } }
    #clip-widget .slick-slide:hover .play {
      border: 2px solid white;
      -webkit-transition: border 0.4s ease-in;
      -moz-transition: border 0.4s ease-in;
      transition: border 0.4s ease-in; }

/*# sourceMappingURL=widget.css.map */
