body 
{ 
	background-image:url(/assets/themes/default/images/blue.sky.sun.rays2%20bleached.jpg);
	background-attachment:fixed;
}
.medesbackground
{
	background:#FFFFFF;
}
.medestextshadow{text-shadow: 1px 1px 0px rgba(0, 0, 0, .75);}
.killtextshadow{text-shadow: 1px 1px 0px rgba(0, 0, 0,0.0);}
.panelbodygrad1{background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.0) 47%, rgba(237,237,237,0.5) 100%);}
.panelbodygrad2{background: linear-gradient(to bottom, rgba(206,224,148,0.75) 0%,rgba(210,255,82,0.25) 50%,rgba(206,224,148,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.panelbodygrad3{background: linear-gradient(to bottom, rgba(232,203,132,0.75) 0%,rgba(255,255,255,0.25) 50%,rgba(232,203,132,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.pricetable{background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%);}
.medesshadow{box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.32);}
.medesshadow2{box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);}
.h4fixer
{
	padding-left:10px; padding-right:10px;
}
.roundme
{
	border-radius:10px;
}
.cloudpadding
{
	padding-bottom:20px; 
	padding-top:0px;
	margin-top:40px; 
	margin-bottom:44px;
}
.question
{
	padding:10px;
	background: linear-gradient(to bottom, rgba(40,156,219,1) 0%, rgba(17,108,173,1) 100%);
	border:solid 2px;
	border-color:rgba(17,108,173,1);
}
.bluegrad1
{
	background: linear-gradient(to bottom, rgb(50, 163, 229) 0%, rgb(31, 89, 147) 100%);
}
.greengrad1
{
	background: linear-gradient(to bottom, #9dd53a 0%,#80c217 51%,#7cbc0a 100%);
}
.orangegrad1
{
background: linear-gradient(to bottom, rgba(234,185,45,1) 0%,rgba(224,126,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.blackbutton
{
	background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	border:1px solid #000;
	color:#fff;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
	text-shadow:none;
}
.bluetrans1
{
	background:rgba(0,128,181,0.7);
	background: linear-gradient(to bottom, rgba(0,127,181,.5) 0%, rgba(11,88,156,.5) 51%, rgba(0,127,181,1) 100%);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.32);
}
.bluepanel
{
	
}
.features
{
	color:#FFFFFF;
}
.boards
{
	max-height:320px;
	overflow:hidden;
	color:white;
	text-align:center:
}
.boards a {
	color:white;
}
.boardsimage
{
	background-image:url(/assets/themes/default/images/200px.jpg);
	background-position:center;
	height:200px;
	width:200px;
	background-repeat:no-repeat;
}
.top a {
	color:white;
}
table.top {
	padding:5px;
	width:100%;
}
table.top td {
	padding:5px;
}

.bgsection
{
	background: linear-gradient(to bottom, rgba(255,255,255,1.0) 0%, rgba(255,255,255,0.0) 50%, rgba(255,255,255,1) 100%);
}

.bg-1 
{
	background: url('/assets/themes/default/images/blue.sky.sun.rays2.jpg') repeat-y center center fixed;
	overflow-x:visible;
    background-size:cover;
}
  
.bg-2 
{
	background: url('/assets/themes/default/images/blue.sky.sun.rays2.jpg') repeat-y top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 
{
	background: url('/assets/themes/default/images/blue.sky.sun.rays2.jpg') repeat-y bottom center fixed;
    color:#fff;
    background-size:cover;
}


    @media only screen and (min-width : 320px) {
	#fade-quote-carousel {
		min-height:435px;
	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	#fade-quote-carousel {
		min-height:435px;
	}

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
	#fade-quote-carousel {
		min-height:335px;
	}

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	#fade-quote-carousel {
		min-height:235px;
	}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
	#fade-quote-carousel {
		min-height:255px;
	}

    }
