@charset "utf-8";
html{
    /*zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%*/
}
body,div,hr,p,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0;}
body,button,input,label,select,option,textarea,button,fieldset,legend{font:14px/100% arial,"Hiragino Sans GB","Hiragino Sans GB W3",宋体;}
/*html.ie6,html.ie6 body{background-image:url(about:blank);background-attachment:fixed;}*/
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
ul,ol{list-style:none;}
img::selection{background:transparent;}
img::-moz-selection{background:transparent;}
iframe::selection{background:transparent;}
iframe::-moz-selection{background:transparent;}
a{color:#3d3d3d;text-decoration:none;cursor:pointer;outline:none; vertical-align: middle;}
a:hover, a:focus{text-decoration:underline;color:#ff7939;outline:none;}
fieldset,img{border:0;}
address,cite,dfn,em,var{font-style:normal;}
strong{ font-weight:bold;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
table{border-collapse:collapse;border-spacing:0}
button{cursor:pointer;}
legend{color:#000;}
button,input,select,textarea{font-size:100%;}
:focus{outline:0;outline:none;}
textarea{resize:none}
a.noline:hover{text-decoration:none;}
img{ vertical-align:middle;border:0;}
.block{display:block;overflow:hidden;zoom:1;}

/* 全局*/
.hidden{display:none; overflow:hidden;}
.force-hidden{display:none!important;}
.containerfull{width:100%;}

.container{width:1000px;margin:0 auto 10px;position:relative;z-index:1;}
.row{overflow: hidden;}
.box-warp{background: #fff;border: 1px solid #ddd;}
.float-fix{overflow:hidden;zoom:1;}

.mt1{margin-top:10px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt30{margin-top:30px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb30{margin-bottom:30px}
.pd10{ padding:0 10px}
.pd20{ padding-left:20px}
.pd24{ padding-left:24px; _padding-left:22px}
.col-left{float:left;overflow:hidden;}
.col-auto{width:auto; overflow:hidden;}
.col-right{float:right;overflow:hidden;}

.clear{clear:both;}
.text-center{ text-align:center;}
.ft12{font-size:12px; line-height:30px}
.ft14{font-size:14px; line-height:30px}
.ft15{font-size:15px; line-height:24px}
.ft16{font-size:16px; line-height:24px}
.ft18{font-size:18px; line-height:24px}
.c6{color: #666;}.c9{color:#999}
.fix{position:absolute;}

.noborder{border:none;}
.border{background:#fff;border:1px solid #ddd;}
.border.bottom{border-bottom-color:#33C3FF;border-bottom-width:2px;}
s{text-decoration:none; display:inline-block;}
s a{color:#80c1b9; padding:0 5px}
.clearfix:after {clear: both;content: "";display: block;height: 0;overflow: hidden;visibility: hidden;}
.box-warp .fn14{font-size:14px; line-height:20px}
.bd5{width:auto; height:5px; visibility:visible; clear: both; }
.bd10{width:auto; height:10px; visibility:visible; clear: both; }
.bd20{width:auto; height:20px; visibility:visible; clear: both; }

/* 头部 */
.site-top-nav{ height: 60px; background:#fff; border-bottom: 1px solid #e8e8e8; z-index:1000;position:relative;}

/* 广告 */
.mm{display:block;background-color:#f7f7f7;position:relative;overflow:hidden;}
.mm-force{display:block!important;}
.mm-sm125125{width:125px; height:125px;}
.mm-sm23850{width:238px; height:50px;}
.mm-sm26850{width:268px; height:50px;}
.mm-sm22060{width:220px; height:60px;}
.mm-sm250250{width:250px; height:250px;}
.mm-sm300250{width:300px; height:250px;}
.mm-sm336280{width:336px; height:280px;}


.sogoubottom,sogoutip,.sogou_sugg_feedbackquan{display:none!important;}
/* 主菜单 */
.navs-wrap{background: #fff; border-top: 2px solid #19B2F5; width: 1000px; margin: 0 auto 10px;}
.navs-wrap .container{ position:relative}
.navs{display: block;zoom: 1; position: relative;overflow: hidden;border-bottom: 1px solid #ddd;height: 35px;}

.navs li {zoom: 1;display: block;/* background: url(../images/line.gif) no-repeat right center; */text-align: left;}
.navs li a{color:#333;}
.navs li.curent{}
.navs li.curent a{color:#fff;background:#19B2F5!important;}
.navs li.curent a:hover{color:#fff!important;}
.navs li.last a{border:0}
.navs li:hover {zoom: 1;}

.navs-wrap li{padding:0;}
.navs-wrap li a{padding:0 24px;border-right:1px solid #eee;}
.navs-wrap li a:hover{color:#333;background:#D0F1FF;border-color:#D0F1FF;}

.ie.ie9 .navs li:hover { background: transparent;}
.navs li i.star-icon{ float: left; position: relative; top: 10px; display:none }
.ie6 .navs li i.star-icon{ float: left; position: relative; top: 9px; display:none }

.lte-ie8 .nav_cnt{border-bottom:1px solid #999;}
.lte-ie8 .navs li{border-bottom:1px solid #999;}

ul.navs {position: relative;   overflow: hidden;}
ul.navs li {float: left;height: 100%;line-height: 1;position: relative;}
ul.navs li a {display: block;font-size: 16px;line-height: 35px;text-align: left;width: auto;overflow: hidden;font-family:\5FAE\8F6F\96C5\9ED1;text-decoration: none;}

.weather {line-height: 1;}
.weather iframe {border: none;}
.hot_word {font-size: 12px;height: 30px;line-height: 30px;width: 371px;text-align: left;overflow: hidden;}

ul.right-menu{ position:absolute; top:0; right:0}
ul.right-menu.ft12 a{ font-size: 12px;}
ul.right-menu.ft14 a{ font-size: 14px;}

#header-fixed{display:none;position:fixed;top:0;left:0;width:100%;height:42px;z-index: 99;border-bottom:1px solid #ddd;}
#header-fixed .container{position:relative}
#header-fixed .logo-area{background:url(../images/c-logo.png) no-repeat 0 center; height:42px; width:130px;display:block; float:left; margin-right:10px}
#header-fixed .logo-area.light{background-image:url(../images/r-logo.png);}
#header-fixed .nav-area li{ float:left}
#header-fixed .nav-area li.first{display:none;}
#header-fixed .nav-area li a{padding:0 10px; line-height:42px;display:block; text-decoration:none}
#header-fixed .nav-area li a:hover{background:#d0f1ff; color:inherit}
#header-fixed .nav-area li.curent a{background:#19b2f5;line-height:42px; color:#fff}
#header-fixed .search-area{position:absolute; top:-2px; right:0}
#header-fixed .search-area #search-input{border-width:1px}
#header-fixed .search-area #search-btn{height:35px;}

.br-line{border-bottom: 1px dotted #ddd; margin: 5px 10px;}
.float-fix{overflow:hidden;zoom:1;}
.top-warp{background: #fff;border-bottom: 1px solid #f2f2f2;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float: left;}
.col-xs-2{width:175px;}
.col-xs-3{width:240px;}
.col-xs-6{width:583px;}
.col-xs-9{width:750px;}
.col-xs-12{width:100%;}

/* 背景广告 */
#bgad-box{position:fixed;_position:absolute;top:0;left:0;width:100%;height:1500px;z-index:0;}
#bgad-box .bgad-box-close{
    width:40px;height:40px;position:absolute;top:90px;left:80px;cursor:pointer;
    background:url(../images/bgad_close.gif) no-repeat center center;
}
#bgad-box a{
    width:150px;height:150px;display:block;float:left;cursor:pointer;outline:0;text-decoration:none;
    background:#fff url(../20161212/bgad.png) no-repeat 0 0;
}
#bgad-box a:hover{background-position:0 -150px;text-decoration:none;}
body.useskin #bgad-box{display:none!important;}

/* 图片容器 */
.thumbnail span,
.slideBox .sNext,
.slideBox .sPrev,
.slideBox.arrow-big .sPrev,
.slideBox.arrow-big .sNext,
#search-engine .g-toggle,
#search-btn,
#search-hotword,
#search-hotword span.toggle,
.tips_on .tips-wrap,
.tips_off .tips-wrap,
.tips_image .tips-wrap,
.box-bd-con .list-item .sub-menu .arrow,
.list-desc li,
.box-hd-title .list-item li,
span.dot{background:url(../images/sprite.png?version=20161118) no-repeat;}

span.dot{padding: 0 6px;color:#555;background-position:-534px -4px;zoom:1;}
#layout-content span.dot{position:relative;left:-2px;}

/* 缩略图 */
.thumbnail{
    position:relative;overflow:hidden;display:block;color:#fff;
    text-decoration:none; border: none;border-radius: 0px; padding: 0px;
    background:#f4f4f4 url(../images/defaultpic.gif) no-repeat center center;
}
.thumbnail *{display:block;}
.thumbnail img{width:100%; height:100%; border:0; max-width:none;}
.thumbnail img:hover{opacity:0.9;}
.thumbnail.x img{height:100%;width:auto;}
.thumbnail.y img{width:100%;}
.thumbnail span{
    position:absolute; left:0;bottom:0;line-height:35px;height:30px;width:100%;
    word-break:break-all;font-size:12px;text-align:center;
    background-position: 0 -284px; text-decoration:none; overflow:hidden;
}
a.thumbnail:hover{text-decoration:none;}
.thumbnail:hover{color: #fff;}
.thumbnail span em{margin:0 6px;font-style:normal;}
.thumbnail span,
.thumbnail span em{cursor:pointer;}
.ie6 .thumbnail span{
    white-space:nowrap;zoom:1; background:#000;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    height:15px; padding-top: 3px; overflow: hidden; line-height:1; display: block; bottom: -1px;
}

.thumbnails{overflow: hidden;}
.thumbnails .col-2 .thumbnail{ width: 50%; float: left;margin-bottom:1px; }
.thumbnails .col-2 .odd{left:1px}

/*排行榜(手风琴效果)*/
.rank-list{font-size:12px;}
.rank-list li{position:relative;}
.rank-list li a{display:block;text-decoration:none;position:relative; height: 31px; overflow:hidden}
.rank-list li img{width:100%;height:89px;}
.rank-list li .pic{display:none;}
.rank-list li span{
    width:100%;height:30px;line-height:30px;display:block;
    border-bottom:1px dotted #ddd;
    position:relative;
}
.rank-list li span .num{
    font-style:normal;position:absolute;top:6px;left:0;width:18px;height:18px;line-height:18px;text-align:center;
    background:#33c3ff;color:#fff;
}
.rank-list li span .num.num1{background:#f15c26;}
.rank-list li span .num.num2{background:#f9c21a;}
.rank-list li span .num.num3{background:#83c147;}
.rank-list li span .title{font-style:normal;display:block;white-space:nowrap;text-indent:28px}
.rank-list li span .subtitle{font-style:normal;position:absolute;top:0;right:0;color:#999;text-align:right;}

.rank-list li.on a{height: 89px}
.rank-list li.on span{
    height:26px;line-height:26px;
    position:absolute;bottom:0;left:0;border:0;
    background:rgba(0,0,0,0.6);color:#fff;
}
.lte-ie8 .rank-list li.on span{
    background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.rank-list li.on span .title{}
.rank-list li.on span .num{top:4px;left:4px;}
.rank-list li.on span .subtitle{color:#ccc;right:4px;}
.rank-list li.on a:hover .title,
.rank-list li.on a:hover .subtitle{color:#ff7939;}


/*文字列表*/
.list-item{display: block;}
.list-item li{
    white-space: nowrap; display:block; height: 30px;line-height: 30px;
    vertical-align:middle;  vertical-align: middle;
}
.list-item li a img{margin-top: -3px; position: relative; padding-right: 3px;}

.box-hd-title .list-item li{
    float: left; padding: 0 15px;background-position:-10px -564px; margin-right: -1px;
}
.box-hd-title .list-item li.first{background:none;}
.ie6 .list-item li a img{float: left; top: 8px;}
/*.ie6 .box-hd-title .list-item li{background-position:-10px -564px;}*/

.list-desc li{background-position:-538px -83px;}
.ie .list-desc li{background-position-y:-84px;}
.list-desc li a{padding-left:8px;display:inline-block;white-space:nowrap;}

.box-hd-title{ height: 32px;background: #fff; overflow: hidden; clear: both;}
.box-hd-title .title, .box-bd-con .title{ float: left;  padding-left: 14px; }
.box-hd-title a,
.box-bd-con .title,
.box-bd-con .title a{color: #3caeff; line-height: 30px;}
.box-hd-title a:hover,
.box-bd-con .title a:hover{color:#ff7939;}

.box-bd-con { line-height: 32px;height: 32px; clear: both;}
.box-bd-con .title{width: 50px;}
.box-bd-con .list-item li{width:106px;float:left;zoom:1;position:relative;}
.box-bd-con .list-item li.tips{z-index:2;}
.box-bd-con .more{
    margin-right:14px; color: #999; font-size: 12px;  text-align: right;  overflow: hidden; z-index:999; zoom:1;
}
.box-bd-con .more a{color:#999;}
.box-bd-con .more a:hover{color:#ff7939;}
.box-hd{ border-bottom: 1px solid #ebebeb; height: 32px; line-height: 32px; position: relative;}

.box-bd-con .list-item .sub-menu{position:absolute;top:4px;display:inline-block;cursor:pointer;vertical-align:middle;z-index:2;}
.lte-ie7 .box-bd-con .list-item .sub-menu{margin-left:-8px;}
.box-bd-con .list-item .sub-menu .arrow{background-position:-424px -383px;display:block;width:22px;height:24px;}
.box-bd-con .list-item .sub-menu .arrow.down{background-position:-424px -412px;}
.box-bd-con .list-item .sub-menu .inner{
    cursor:auto;
    position: absolute;top:24px;right: 5px;display: none;
    background: #eff0f0;border: 1px solid #ccc;text-align: right;
    padding:3px 16px;line-height:26px;z-index:2;
}
.box-bd-con .list-item .sub-menu .inner a,
.ie6 #layout-content .list-item li .sub-menu .inner a{display:block;}

/* tag */
.tag-cloud{ text-align:justify;}
.tag-cloud .list-item li{float: left; padding:0px 10px 0 14px;} 
.tag-cloud .list-item li a{ padding: 0; }



/* tab */
.slideTxtBox{ width:auto;}
.slideTxtBox .hd{
    height:30px;line-height:26px; background: #f5f5f5;  position:relative;
    overflow:hidden; border-top:1px solid #87c5f6;
}
.slideTxtBox .hd ul{
    position:absolute;border-bottom:1px solid #ddd;  left:0;right: -2px; top:0px; height:29px;
}
.slideTxtBox .hd ul li{
    float:left;border-right:1px solid #ddd;width:59px;text-align:center;
    height:29px;line-height:29px;cursor:pointer;
}
.slideTxtBox .hd ul li.on{background:#fff;border-bottom:2px solid #fff;font-weight:bold;}
.slideTxtBox .hd ul li a{display:block;width:100%;cursor:pointer; margin-right:-1px;height:29px;line-height:29px;}
.slideTxtBox .hd ul li.on a{color:#3caeff;}

    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .slideTxtBox .arrow{  position:absolute; right:10px; top:0; }
/*    .slideTxtBox .arrow a{
        display:block;  width:5px; height:9px; float:right; margin-right:5px;
        margin-top:10px;  overflow:hidden;cursor:pointer; background:url("../images/arrow.png") 0 0 no-repeat;
    }
    .slideTxtBox .arrow .next{ background-position:0 -50px;  }*/


    /* 焦点图 / 幻灯片*/
    .slideBox{ overflow:hidden; position:relative;}
    .slideBox .bd{ position:relative; height:100%; z-index:0;   }
    .slideBox .bd li{ zoom:1; vertical-align:middle; }
    .slideBox .bd img{ display:block;}

    /* 下面是前/后按钮代码，如果不需要删除即可 */
    .slideBox .sNext,
    .slideBox .sPrev{
        position:absolute; right:0; top:50%; margin-top:-15px; display:none; width:15px; height:30px; 
        background-position:-358px -415px;border-radius: 2px 0 0 2px;
    }
    .slideBox .sPrev{
        right:auto; left:0;background-position:-315px -415px;  border-radius: 0 2px 2px 0;
    }
    .slideBox:hover .sPrev,
    .slideBox:hover .sNext{filter:alpha(opacity=60);opacity:0.6; display: block;}
    
    .slideBox.arrow-big .sPrev,
    .slideBox.arrow-big .sNext{width:35px;height:55px;opacity:1;filter:alpha(opacity=100);}
    .slideBox.arrow-big .sPrev{background-position: -40px -110px;}
    .slideBox.arrow-big .sNext{background-position: 1px -110px;}
    .slideBox.arrow-big .sPrev.hover,
    .slideBox.arrow-big .sPrev:hover{background-position: -40px -55px;}
    .slideBox.arrow-big .sNext.hover,
    .slideBox.arrow-big .sNext:hover{background-position: 1px -55px;}
	
.tab-item { position: relative;}
.tab-item li{ float: left; padding: 0 14px; }
.tab-item li a{color: #000;}
.tab-item li.on { border-top:1px solid #3caeff; margin-top: -1px;}
.tab-item li.on a{color: #3caeff;}
.ie6 .tab-item li.on a{font-weight: bold;}


/*小图标 */
.smallicon{
    width:20px;height:20px;display: inline-block;
    background:url("../images/smallicon.png?v6") no-repeat -13px -7px;
    vertical-align: middle; margin-right: 2px;position: relative; top:-1px; opacity:0.75;left: -1px;
}
.lte-ie7 .smallicon{ background-image:url("../images/smallicon.gif?v6");}
/* .smallicon.i-new,.smallicon.i-toutiao{background-position:-423px -43px;}
.smallicon.i-tv{background-position:-218px -114px;}
.smallicon.i-game{background-position:-95px -147px;}
.smallicon.i-movie{background-position:-259px -147px;}
.smallicon.i-comic{background-position:-464px -43px;}
.smallicon.i-travel{background-position:-54px -7px;}
.smallicon.i-caipiao{background-position:-95px -42px;}
.smallicon.i-xiaohua{background-position:-259px -113px;}
.smallicon.i-tuan{background-position:0 0;}
.smallicon.i-music{background-position:-95px -80px;}
.smallicon.i-edu{background-position:-466px -15px;}
.smallicon.i-mail{background-position:-54px -44px;}
.smallicon.i-tool{background-position:-423px -116px;}
.smallicon.i-life{background-position:-341px -9px;}
.smallicon.i-shop{background-position:-382px -115px;}
.smallicon.i-tianqi{background-position:-384px -83px;}
.smallicon.i-donghua{background-position:-223px -114px;}
.smallicon.i-qiche{background-position:-181px -44px;}
.smallicon.i-money{background-position:-381px -8px;}
.smallicon.i-xingzuo{background-position:-463px -114px;}
.smallicon.i-search{background-position:-258px -7px;} */


.smallicon.i-new,.smallicon.i-toutiao{background-position:-423px -232px;}
.smallicon.i-tv{background-position:-218px -302px;}
.smallicon.i-movie{background-position:-259px -336px;}
.smallicon.i-comic{background-position:-464px -232px;}
.smallicon.i-jipao{background-position:-217px -231px;}
.smallicon.i-travel{background-position:-94px -196px;}
.smallicon.i-air{background-position:-53px -196px;}
.smallicon.i-hotel{background-position:-13px -336px;}
.smallicon.i-caipiao{background-position:-95px -231px;}
.smallicon.i-tuan{background-position:0 0;}
.smallicon.i-music{background-position:-95px -268px;}
.smallicon.i-edu{background-position:-466px -15px;}
.smallicon.i-tool{background-position:-423px -116px;}
.smallicon.i-shop,.smallicon.i-shoping{background-position:-382px -305px;opacity:1;}
.smallicon.i-tianqi{background-position:-384px -83px;}
.smallicon.i-donghua{background-position:-223px -114px;}
.smallicon.i-qiche{background-position:-181px -44px;}
.smallicon.i-money{background-position:-381px -197px;}
.smallicon.i-xingzuo{background-position:-463px -302px;}
.smallicon.i-search{background-position:-258px -7px;}
.smallicon.i-daohang{background-position:-16px -81px;}
.smallicon.i-game{background-position:-96px -337px; opacity:1;}
.smallicon.i-video{background-position:-218px -303px;opacity:1;}
.smallicon.i-life{background-position:-340px -198px;opacity:1;}
.smallicon.i-xiuxian{background-position:-176px -303px;opacity:1;}
.smallicon.i-other{background-position:-175px -271px;opacity:1;}
.smallicon.i-down{background-position:-381px -337px;opacity:1;}
.smallicon.i-up{background-position:-422px -337px;opacity:1;}

.smallicon.i-qiche{background-position:-135px -271px;}
.smallicon.i-zufang{background-position:-54px -302px;}
.smallicon.i-ershou{background-position:-135px -336px;}
.smallicon.i-job{background-position:-299px -305px;}
.smallicon.i-jazheng{background-position:-176px -231px;}
.smallicon.i-chongwu{background-position:-13px -301px;}
.smallicon.i-xiaohua{background-position:-258px -303px;}

.smallicon.xiaohua{background-position:-258px -303px;}
.smallicon.game{background-position:-95px -337px;}
.smallicon.life{background-position:-341px -9px;}
.smallicon.email{background-position:-54px -44px;opacity:1;}
.smallicon.rili{background-position:-10px -45px;opacity:1;left: 3px;}
.smallicon.wide{background-position:-342px -148px;}
.lte-ie7 .smallicon.rili{left:-2px}
.smallicon.member{background-position:-13px -114px;opacity:1; }
.smallicon.down{background-position:-381px -149px;}
.smallicon.up{background-position:-422px -149px;}
.smallicon.skins{background-position:-463px -149px;opacity:1;}
.smallicon.home{background-position:-9px -171px;opacity:1;}
.smallicon.feedback{background-position:-52px -170px;opacity:1;}

/*搜索*/
.search-container{z-index:999;position:relative}
.search-container .box-warp{ border-width:0 ; background: none;}
#search{clear:both;height:97px;position:relative;}
#search .search-hd{height:24px;margin-left:253px;position:relative;width:550px;z-index:2;padding:14px 0 0;}
.ie6 #search .search-hd{height:10px;}
#search .tab li{border-radius:2px;float:left;font-size:14px;line-height:1;margin-right:12px;position:relative;text-align:center;padding:2px 5px 4px; }
.ie6 #search .tab li{padding:4px 5px;}
.ie6 #search .tab li a{line-height: 1;vertical-align:middle; height: 12px; overflow: hidden; display: block; float: left; }
#search .tab li.hover a{text-decoration:none;}
#search .tab li a{font-size:12px}
#search .tab li.on{cursor:default;background:#33c3ff;}
#search .tab li.on a{cursor:default;text-decoration:none; color: #fff;}
#search .tab li.on a:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border: 5px solid #33c3ff;
    border-bottom: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}
#search .tab li.on a.link:hover{cursor:pointer;text-decoration:underline;}
.ie6 #search .tab li.on .radius1,
.ie7 #search .tab li.on .radius1,
.ie8 #search .tab li.on .radius1{display:block;}

#search .search-bd{height:40px;position:relative;}
#search .form-group{height:42px;margin-top:5px;position:relative;}
#search .widget-group{display:none;height:42px;position:relative;}
.search-bg{display:block;height:88px;left:0;position:absolute;top:0;width:998px;}
#search .form-group .shadowtop{border-bottom:1px solid #f4f4f4;border-top:1px solid #dedede;height:0;left:1px;overflow:hidden;position:absolute;top:0;width:99.8%;z-index:1;}
#search .form-group .shadowleft{border-left:1px solid #dedede;border-right:1px solid #f4f4f4;height:39px;left:0;overflow:hidden;position:absolute;top:0;width:0;}
#search-input{background:#fff none repeat scroll 0 0;box-shadow:1px 1px 1px #dedede inset;display:inline;float:left;height:39px;position:relative;width:430px;border-color:#9c9c9c;border-style:solid;border-width:1px;margin:0 5px 0 8px;}
#search-input input{background:rgba(0,0,0,0);border:0 none;font-family:arial;font-size:16px;height:22px;line-height:22px;margin-top:9px;outline:0 none;width:418px;padding:0 6px;}
.ie6 #search-input input{margin-top:8px;}
#search-btn{background-color:#e1e1e1;background-position:-404px -125px;background-repeat:no-repeat;border:0 none;cursor:pointer;float:left;font-size:16px;height:41px;overflow:hidden;text-align:center;width:100px; font-weight: bold;}
.lte-ie7 #search-btn{font-size: 15px;line-height:18px;}
#search-btn:hover{background-position:-404px -207px;}

#search-btn.mousedown{background-position:0 -82px;}

#search-engine{display:inline;float:left;height:30px;position:relative;top:4px;width:97px;margin:0 5px 1px 139px; zoom:1}
.ie6 #search .tab li .radius1,
.ie7 #search .tab li .radius1,
.ie8 #search .tab li .radius1,
.search-fixed-logo,
.search-fixed-bg,
#search .form-group legend{display:none;}

#search-engine #eng-logo{
    background-repeat:no-repeat;height:35px;left:-4px;outline:0 none;overflow:hidden;
    position:absolute;text-indent:-1000px;top:0;width:95px;
    /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); opacity: 0.7;*/
}
/*#search-engine #eng-logo:hover{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity: 1;}*/
#search-engine .eng-list{
    box-shadow: 2px 2px 0 #E8E8E8;
    background:#fff;border-image:none;display:none;position:absolute;left:-5px;top:35px;width:94px;
    border-color:#d2d2d2 #d2d2d2 #cecece #d2d2d2;border-style:solid solid none;border-width:1px 1px medium;
}
#search-engine .eng-list a{
    background-repeat:no-repeat;border-bottom:1px solid #cecece;
    display:block;height:35px;overflow:hidden;text-indent:-1000px;
}
#search-engine .eng-list a:hover{background-color:#f6f6f6;text-decoration:none;}
#search-engine .eng-list .expend{background-position:44px -23px;border:medium none;}

#search-engine .eng-list .jump{
    background:rgba(0,0,0,0) none repeat scroll 0 0;color:#666;font-family:宋体;
    font-size:14px;line-height:35px;text-align:center;text-indent:0;
}
#search-engine .g-toggle{
    height:19px;right:-7px;top:6px;width:13px;
    background-position: -272px -383px;cursor: pointer; overflow: hidden; position: absolute;
}
#search-engine.open .g-toggle{background-position:0 -70px;}
#search-engine.open .eng-list{display:block;}


#search-engine #eng-logo,
#search-engine .eng-list a{background-image:url(../images/sprite_logo.png?v2);}
.ie6 #search-engine #eng-logo,
.ie6 #search-engine .eng-list a{background-image:url(../images/sprite_logo.gif?v2);}
.webpage-baidu{background-position:-4px -11px}
.webpage-sogou{background-position:-4px -48px}
.webpage-socom{background-position:-2px -90px}

.news-baidu{background-position:-4px -141px}
.news-sogou{background-position:-4px -186px}

.video-kuaikan{background-position:-3px -236px}

.image-baidu{background-position:-4px -290px}
.image-sogou{background-position:-4px -332px}
.image-socom{background-position:-2px -375px}

.music-baidu{background-position:-4px -434px}
.music-sogou{background-position:-4px -476px}
.music-socom{background-position:-2px -518px}

.weibo-sina{background-position:-2px -576px}

.map-baidu{background-position:-4px -626px}
.map-sogou{background-position:-2px -662px}
.map-qq{background-position:-2px -702px}
.map-socom{background-position:-2px -742px}

.ask-baidu{background-position:-4px -792px}
.ask-sogou{background-position:-2px -828px}
.ask-socom{background-position:-2px -867px}

.shopping-taobao{background-position:-4px -926px}
.shopping-jd{background-position:-4px -971px}

#search-engine .eng-list .jump-rect,#search-engine.single .eng-list,#search-engine.single .g-toggle{display:none;}

#daily-hotwords{height:40px;line-height:20px;overflow:hidden;position:absolute;right:0;top:0;width:195px;z-index:1;}
#daily-hotwords .daily-hotwords-list{height:100%;overflow:hidden;zoom:1;}
#daily-hotwords .daily-hotwords-list a{color:#888;}
#daily-hotwords .daily-hotwords-list a:hover{color:#ff7939;}
#daily-hotwords .daily-hotwords-list li{float:left;margin-right:10px;white-space:nowrap;}
#daily-hotwords .daily-hotwords-list li.even{clear:left;}
#daily-hotwords .daily-hotwords-list li.odd{margin-right:0;}
#search-hotword{
    display:none;
    cursor:pointer;background-position: -434px -84px;
    height:0;right:2px;top:6px;width:26px; position: absolute; text-align: center; line-height: 26px; color: #fff;
    overflow:hidden;
}
.theme-search-anchor-parent a{font-size:12px}
#search-hotword.attention{background-position:-434px -84px;}
#search-hotword.clicked{background-position:-478px -84px;color:#666;}
#search-hotword span.toggle{
    background-position:-265px -461px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    text-indent: -99999em;
    overflow: hidden;
}

#search .fixed{
    position: fixed; left: 0; right: 0; top: 0; z-index: 999; height: 54px; padding-top: 14px; border-bottom: 1px solid #cdcdcd; 
    background:rgba(250,250,250,0.95);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2ffffff',GradientType=0 ); /* IE6-9 */
}
.ie6 #search .fixed{background:none;position: relative; border: none;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */}

#search .fixed .form-group{width: 1000px; margin:  0 auto;}
#search .fixed  #search-engine #eng-logo{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity: 1;}
#search .fixed #daily-hotwords{display:none;}

#search-input{position:relative;}
#search-tips{position:absolute;top:39px;left:-1px;background:#fff;width:430px;border:1px solid #888;}
#search-tips li{cursor:pointer;line-height:26px;padding:0 6px;overflow:hidden;zoom:1;}
#search-tips li.hover{background-color:#f5f5f5;}
#search-tips.hot li{position:relative;padding-left:26px;}
#search-tips.hot .hot-icon-0,
#search-tips.hot .hot-icon-1,
#search-tips.hot .hot-icon-2,
#search-tips.hot .hot-icon-blue,
#search-tips.hot .hot-icon-dark{
    display: block;
    width: 18px;
    height: 18px;
    overflow:hidden;
    background: #33c3ff;
    color: #fff;
    font-size:12px;
    position: absolute;
    top: 4px;
    left: 3px;
    line-height: 18px;
    text-align: center;
    border-radius:2px;
}
#search-tips.hot .hot-icon-0{background:#f15c26;color:#fff;}
#search-tips.hot .hot-icon-1{background:#f9c21a;color:#fff;}
#search-tips.hot .hot-icon-2{background:#83c147;color:#fff;}
#search-tips.hot .hot-icon-dark{background:#f5f5f5;color:#888;}

/*tips*/
.tips_on,.tips_off,.tips_image{text-decoration:none;position:absolute;z-index:10;}
.tips_on{display:inline-block}

.tips-wrap{display: none;font: 12px/13px simsun;z-index:9;color: #ff6d03;position: absolute;white-space: normal;overflow: hidden; text-decoration:none}
.tips_on .tips-wrap img{ top: 1px; left:-7px;z-index:1;}
.tips_on .tips-wrap,
.tips_off .tips-wrap{
    background-position:-385px -8px;padding:2px 2px 0 6px;
    top:0;text-align:left;width:27px;height:28px;z-index:11;
    margin-left:2px;
    *margin:-8px 0 0 0;
    _margin:0 0 0 0;
}

.tips_off .tips-wrap{left:0;}
.tips_image .tips-wrap{
    background-position:-113px -8px; padding: 7px 0 0 7px; 
    width: 134px;height: 95px; top: 8px;left:16px;z-index:11; text-align:center;
    color:#666;
}
.ie7 .tips_image .tips-wrap{top:0;left:10px;}
.tips_image .tips-wrap img{padding-top:7px;display:block;z-index:1;}

.siteresourcetip{
    z-index:1;display:block;width:18px;height:32px;
    *margin:-8px 0 0 0;
    _margin:-2px 0 0 0;
}
.tips_off .siteresourcetip{background: url(../images/hint_ball.gif) no-repeat center center;}
.tips_image .siteresourcetip{background: url(../images/siteresourcetip.gif) no-repeat center center;}

.tips_on .tips-wrap, .tips_off:hover .tips-wrap,.tips_image:hover .tips-wrap{display:block;}
.tips_off:hover,.tips_image:hover{ background:#fff;}

/*频道头部*/
.channel{ /*background:#f1f1f1;*/}
.channel .site-top-nav{ height: 34px; overflow:hidden}
.channel .site-top-nav .navs{ border: none;}
.channel .site-top-nav .navs li{border: none; width: auto; padding: 0 14px 0 0;}
.channel .site-top-nav li a{font-weight: 400; font-size: 12px; line-height: 34px;}
.channel .site-top-nav .col-right li{ float: left; position: relative; margin-left:12px;}
.channel .site-top-nav ul li a:hover{color: #19b2f5;text-decoration:none;}
.ie6 .channel .site-top-nav .star-icon{ float: left; position: relative; top: 7px;} 
.channel .logo{ top: 5px; position:absolute; left:0; z-index:99;overflow:hidden;zoom:1;}
.channel .logo a{vertical-align:baseline}
.channel .logo span{float:left;display:block;line-height:32px;font-size:26px;font-family:\5FAE\8F6F\96C5\9ED1;}
.channel .logo span{padding-left:10px;}
.channel .navs-wrap{background: #e8f8ff;}
.channel .navs-wrap .navs{height: 40px; line-height: 40px;}
.channel .navs-wrap ul.navs li a{line-height: 40px;}

.channel .search-container{height:50px;}
.channel #search{ height:50px;}
.channel .search-bd{ float:right;width:370px;zoom:1;}

.channel #search-input{height: 34px;border-width:2px; border-right:none}
.channel #search-btn{ background: #19B2F5; height: 38px; width: 68px; color: #fff;}
.channel #search-input{width: 300px; _width: 270px; border-color: #86CCFE; margin: 0;}
.channel #search-form{}
.channel #search-input input{font-size:14px;width:100%;margin-top:6px;float:left;zoom:1;_float:none;  text-indent:25px; _text-indent:15px; padding:0;}
.channel #search-input .smallicon{position:absolute;top:6px;left:2px; opacity:1;  }
.channel #search-tips{top:35px;left:-2px;width:368px;display:none;}

.channel .tips_on .tips-wrap,
.channel .tips_off .tips-wrap{top: 6px;}
.channel .siteresourcetip{height:40px}
.channel .tips_image .tips-wrap{top:12px}
.channel .box-bd-con .list-item li{position:static}

/* 底部 */
.footer{border-top: 1px solid #e8e8e8;width: 100%; position:relative;z-index:1; background: #fff;}
.footer .container{margin:0 auto!important;}
.footer_copyright{
    color:#666;font-size: 12px;margin-top:0px;padding:14px 0;
    overflow: hidden; margin: 0 auto; position: relative;
}
.footer_copyright_inner{overflow: hidden;zoom: 1; position: absolute; top: 14px; right:100px; }
.footer_copyright_inner span{display:block;}
.footer_copyright_inner a{color:#666; vertical-align:text-top}
.footer_copyright_inner a:hover{color:#ff6501;}
.footer_copyright_inner .company-info{color:#ccc;text-align:center;}
.footer_copyright_inner .company-info a{color:#666;padding:0 4px;}
.footer_copyright_inner .company-info a:hover{color:#ff6501;}
.company-copy{border-top: 1px solid #f2f2f2; position: relative;margin-top:10px;padding-top:10px;}

.footer-nav{display: inline;}
.footer-nav ul{display: inline-block;}
.footer-nav li{ padding-right:8px; display: inline;}
.footer-nav a{ color: #666;font-size: 12px;}
.footer-nav .renzheng.gongan{
    background:url(../images/beian_gn.png) no-repeat 0 center;padding:3px 0 3px 22px;
}

.footer .accreditation,
.footer .accreditation img{width:95px;height:34px;}
.footer .accreditation{position:absolute;top:5px;right:0;}
.footer .accreditation img{filter:alpha(opacity=70);opacity: 0.7;}
.footer .accreditation img:hover{filter:alpha(opacity=100);opacity:1;}
body{background:#eff0f0 url(../images/body_bg.png) repeat-x;}

/*重定义*/
.col-xs-3{width:270px;}
.col-xs-6{width:555px;}
.col-xs-9{width:720px;}
.box-bd-con .list-item li{width:102px;}
.slideTxtBox .hd ul li{width:66px;}
.slideTxtBox .hd ul li:last-child{border-right:0;}

.skin-box .select,
.skin-box .sPrev,
.skin-box .sNext,
.tag-item li.more a,
.small-game a i,
.menu-extend.mail .mail-box .menu .selected{background:url(../images/sprite.png?version=20161116) no-repeat;}

/* 节日logo 
.logo-holiday{}
	 .holiday-laodong{}
	 .holiday-qixi{}
	 .holiday-qingming{}
	 .holiday-jiaosi{}
	 .holiday-duanwu{}
	 .holiday-zhongqiu{}
	 .holiday-guoqi{}
	 .holiday-yuandan{}
	 .holiday-qingri{}
	 .holiday-shengdan{}
*/
/*skin*/
#skin-panel{background:#dfe1e2;height:185px;display:none;overflow:hidden;}
#skin-panel .col-left,
#skin-panel .col-right{zoom: 1;}
#skin-panel .container{margin-bottom:0;}

.skin-header{background:#fff;height:30px;line-height:30px;font-size:12px; overflow: hidden;}
.skin-header .nav{display:inline;width:800px;overflow:hidden;zoom:1;}
.lte-ie7 .skin-header .nav{display:block;}
.skin-header .nav li{float:left;padding: 0 12px;cursor:pointer;}
.skin-header .nav li.on{background: #ddd;}
.skin-header .g-ib{margin-left: 5px;}
.skin-header .save{background: #33c3ff;color: #fff; padding: 2px 10px;}
.skin-header .reset{color: #19B2F5;}

.skin-box{width:1000px;padding:18px 0 0;position:relative;}
.skin-box .screens{overflow:hidden;zoom:1;}
.skin-box .item{
    cursor:pointer;display:inline-block;height:122px;position:relative;
    text-decoration:none;vertical-align:middle;width:156px;overflow:hidden;margin:0 5px 10px; float: left;
}
.skin-box .select{
    width:25px; height: 25px;position: absolute; top:6px; right:6px;display: none; z-index: 99;  
    background-position: -391px -85px;
}
.skin-box .item-select .select,.skin-box .item:hover i.mask{display: block;}
.skin-box .tip{color:#666;display:block;text-align:center; height:28px;line-height:26px;}
.skin-box .item .mask{
    background:#000;cursor:pointer;display:none;height:102px;
    left:0;position:absolute;top:0;width:156px;opacity:0.2;filter:alpha(opacity=20);
}
.skin-box .item:hover span.tip{color:#ff7939}

.skin-box .sPrev,.skin-box .sNext{
    background-position: 0 -358px;
    filter:alpha(opacity=100);opacity:1;display:block;
    width:20px;height:35px;
    position:absolute;top:50%;margin-top:-17px;
}
.skin-box .sPrev{left:-28px;}
.skin-box .sNext{background-position:-50px -358px;right:-28px;}

.skin-box .sPrev:hover{background-position:-24px -358px;}
.skin-box .sNext:hover{background-position:-75px -358px;}
.skin-box .img-wrapper{display:block;border:1px solid #CEDFEF;padding:1px;background:#fff;}
.skin-box .img-wrapper img{width: 100%; height: 98px;}

    .useskin .holiday-logo{display:none!important;}

    #skin-bg{
        display:none;position:fixed;_position:absolute;top:0;left:0;width:100%;height:1500px;z-index:-1;
        background-position:top center;background-repeat:no-repeat;
    }
    .ie6 #skin-bg{height:1500px;}
    /* 洋娃娃 */
    .skin-yangwawa{background-color:#fededf;background-image:none;}
    .skin-yangwawa #skin-bg{background-image:url(../images/skin/yangwawa.jpg)}
    .skin-yangwawa .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-yangwawa .site-top-nav{background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-yangwawa .box-warp{border-color:#FFC1C1}
    .skin-yangwawa .hot-site .list-item li a{}
    /* 清新 */
    .skin-qingxin{background-color:#fff;background-image:none;}
    .skin-qingxin #skin-bg{background-image:url(../images/skin/qingxin.jpg)}
    .skin-qingxin .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-qingxin .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-qingxin .box-warp{}
    .skin-qingxin .hot-site .list-item li a{}
    /* tfboy */
    .skin-tfboy{background-color:#fff;background-image:none;}
    .skin-tfboy #skin-bg{background-image:url(../images/skin/tfboy.jpg)}
    .skin-tfboy .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-tfboy .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-tfboy .box-warp{border-color:#ddd}
    .skin-tfboy .hot-site .list-item li a{}
    /* 马里奥 */
    .skin-mario{background-color:#100643;background-image:none;}
    .skin-mario #skin-bg{background-image:url(../images/skin/mario.jpg)}
    .skin-mario .site-top-nav{background:rgba(0,0,0,0.5); border-color:transparent}
    .lte-ie7 .skin-mario .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7F000000', EndColorStr='#7F000000')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-mario .box-warp{border-color:#333}
    .skin-mario .hot-site .list-item li a{color:#BCB4F7!important}
    /* 宋仲基 */
    .skin-songjoongki{background-color:#e5f1ff;background-image:none;}
    .skin-songjoongki #skin-bg{background-image:url(../images/skin/songjoongki.jpg)}
    .skin-songjoongki .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-songjoongki .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-songjoongki .box-warp{}
    .skin-songjoongki .hot-site .list-item li a{}
    /* 风车 */
    .skin-fengche{background-color:#add268;background-image:none;}
    .skin-fengche #skin-bg{background-image:url(../images/skin/fengche.gif)}
    .skin-fengche .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-fengche .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-fengche .box-warp{}
    .skin-fengche .hot-site .list-item li a{}
    /* 花鸟 */
    .skin-huaniao{background-color:#fff;background-image:none;}
    .skin-huaniao #skin-bg{background-image:url(../images/skin/huaniao.jpg)}
    .skin-huaniao .site-top-nav{background:rgba(247, 204, 204, 0.5); border-color:transparent}
    .lte-ie7 .skin-huaniao .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Ff7cccc', EndColorStr='#7Ff7cccc')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-huaniao .box-warp{}
    .skin-huaniao .hot-site .list-item li a{}
    
    /* 生化危机 */
    .skin-resident-evil{background-color:#000;background-image:none;}
    .skin-resident-evil #skin-bg{background-image:url(../images/skin/resident-evil.jpg)}
    .skin-resident-evil .site-top-nav{background:rgba(0,0,0,0.5); border-color:transparent}
    .lte-ie7 .skin-resident-evil .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7F000000', EndColorStr='#7F000000')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-resident-evil .box-warp{}
    .skin-resident-evil .hot-site .list-item li a{color:#ddd!important}
    /* 使命召唤 */
    .skin-call-of-duty{background-color:#fff;background-image:none;}
    .skin-call-of-duty #skin-bg{background-image:url(../images/skin/call-of-duty.jpg)}
    .skin-call-of-duty .site-top-nav{background:rgba(255, 255, 255, 0.5); border-color:transparent}
    .lte-ie7 .skin-call-of-duty .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-call-of-duty .box-warp{}
    .skin-call-of-duty .hot-site .list-item li a{}
    /* 星际争霸 */
    .skin-starcraft{background-color:#000;background-image:none;}
    .skin-starcraft #skin-bg{background-image:url(../images/skin/starcraft.jpg)}
    .skin-starcraft .site-top-nav{background:rgba(43,43,43,0.5); border-color:transparent}
    .lte-ie7 .skin-starcraft .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7F2b2b2b', EndColorStr='#7F2b2b2b')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-starcraft .box-warp{}
    .skin-starcraft .hot-site .list-item li a{color:#ddd!important}
    /* 马天宇 */
    .skin-matianyu{background-color:#ECE8DE;background-image:none;}
    .skin-matianyu #skin-bg{background-image:url(../images/skin/matianyu.jpg)}
    .skin-matianyu .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-matianyu .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-matianyu .box-warp{}
    .skin-matianyu .hot-site .list-item li a{}
    /* 李宇春 */
    .skin-liyuchun{background-color:#F5F5F7;background-image:none;}
    .skin-liyuchun #skin-bg{background-image:url(../images/skin/liyuchun.jpg)}
    .skin-liyuchun .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-liyuchun .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-liyuchun .box-warp{}
    .skin-liyuchun .hot-site .list-item li a{color:#fff!important}
    /* 华晨宇 */
    .skin-huachenyu{background-color:#F8F5EE;background-image:none;}
    .skin-huachenyu #skin-bg{background-image:url(../images/skin/huachenyu.jpg)}
    .skin-huachenyu .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-huachenyu .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-huachenyu .box-warp{}
    .skin-huachenyu .hot-site .list-item li a{}
    /* 杨幂 */
    .skin-yangmi{background-color:#fff;background-image:none;}
    .skin-yangmi #skin-bg{background-image:url(../images/skin/yangmi.jpg)}
    .skin-yangmi .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-yangmi .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-yangmi .box-warp{}
    .skin-yangmi .hot-site .list-item li a{}
    /* 赵丽颖 */
    .skin-zhaoliying{background-color:#ECF0F1;background-image:none;}
    .skin-zhaoliying #skin-bg{background-image:url(../images/skin/zhaoliying.jpg)}
    .skin-zhaoliying .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-zhaoliying .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-zhaoliying .box-warp{}
    .skin-zhaoliying .hot-site .list-item li a{}
    /* 柳岩 */
    .skin-liuyan{background-color:#B39DB4;background-image:none;}
    .skin-liuyan #skin-bg{background-image:url(../images/skin/liuyan.jpg)}
    .skin-liuyan .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-liuyan .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-liuyan .box-warp{}
    .skin-liuyan .hot-site .list-item li a{color:#fff!important}
    /* 海底世界 */
    .skin-haidishijie{background-color:#ebdabc;background-image:none;}
    .skin-haidishijie #skin-bg{background-image:url(../images/skin/haidishijie.jpg)}
    .skin-haidishijie .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-haidishijie .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-haidishijie .box-warp{}
    .skin-haidishijie .hot-site .list-item li a{}
    /* 海滩 */
    .skin-haitan{background-color:#fdf5e0;background-image:none;}
    .skin-haitan #skin-bg{background-image:url(../images/skin/haitan.jpg)}
    .skin-haitan .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-haitan .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-haitan .box-warp{}
    .skin-haitan .hot-site .list-item li a{}
    /* 快乐小鸟 */
    .skin-kuailexiaoniao{background-color:#fff;background-image:none;}
    .skin-kuailexiaoniao #skin-bg{background-image:url(../images/skin/kuailexiaoniao.jpg)}
    .skin-kuailexiaoniao .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-kuailexiaoniao .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-kuailexiaoniao .box-warp{}
    .skin-kuailexiaoniao .hot-site .list-item li a{}
    /* 浪漫 */
    .skin-langman{background-color:#fdfdfd;background-image:none;}
    .skin-langman #skin-bg{background-image:url(../images/skin/langman.jpg)}
    .skin-langman .site-top-nav{background:rgba(255,255,255,0.6); border-color:transparent}
    .lte-ie7 .skin-langman .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#99ffffff', EndColorStr='#99ffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-langman .box-warp{}
    .skin-langman .hot-site .list-item li a{}
    /* 青青少年 */
    .skin-qingqingshaonian{background-color:#fff;background-image:none;}
    .skin-qingqingshaonian #skin-bg{background-image:url(../images/skin/qingqingshaonian.jpg)}
    .skin-qingqingshaonian .site-top-nav{background:rgba(255,255,255,0.8); border-color:transparent}
    .lte-ie7 .skin-qingqingshaonian .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#ccffffff', EndColorStr='#ccffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-qingqingshaonian .box-warp{}
    .skin-qingqingshaonian .hot-site .list-item li a{}
    /* 田园 */
    .skin-tianyuan{background-color:#fff;background-image:none;}
    .skin-tianyuan #skin-bg{background-image:url(../images/skin/tianyuan.jpg)}
    .skin-tianyuan .site-top-nav{background:rgba(87,156,3,0.1); border-color:transparent}
    .lte-ie7 .skin-tianyuan .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#19579c03', EndColorStr='#19579c03')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-tianyuan .box-warp{}
    .skin-tianyuan .hot-site .list-item li a{}
    /* 小黄鸭 */
    .skin-xiaohuangya{background-color:#b8e4ef;background-image:none;}
    .skin-xiaohuangya #skin-bg{background-image:url(../images/skin/xiaohuangya.jpg)}
    .skin-xiaohuangya .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-xiaohuangya .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-xiaohuangya .box-warp{}
    .skin-xiaohuangya .hot-site .list-item li a{}
    /* 小象日记 */
    .skin-xiaoxiangriji{background-color:#f69e54;background-image:none;}
    .skin-xiaoxiangriji #skin-bg{background-image:url(../images/skin/xiaoxiangriji.jpg)}
    .skin-xiaoxiangriji .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-xiaoxiangriji .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-xiaoxiangriji .box-warp{}
    .skin-xiaoxiangriji .hot-site .list-item li a{}
    /* 李易峰 */
    .skin-liyifeng{background-color:#e0dedf;background-image:none;}
    .skin-liyifeng #skin-bg{background-image:url(../images/skin/liyifeng.jpg)}
    .skin-liyifeng .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-liyifeng .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-liyifeng .box-warp{}
    .skin-liyifeng .hot-site .list-item li a{}
    /* 鹿晗 */
    .skin-luhan{background-color:#d5dbd1;background-image:none;}
    .skin-luhan #skin-bg{background-image:url(../images/skin/luhan.jpg)}
    .skin-luhan .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-luhan .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-luhan .box-warp{}
    .skin-luhan .hot-site .list-item li a{}
    /* EXO */
    .skin-exo{background-color:#f8f5ee;background-image:none;}
    .skin-exo #skin-bg{background-image:url(../images/skin/exo.jpg)}
    .skin-exo .site-top-nav{background:rgba(255,255,255,0.5); border-color:transparent}
    .lte-ie7 .skin-exo .site-top-nav{background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#7Fffffff', EndColorStr='#7Fffffff')}
    .ie6 .menu-extend{border-color:#fff;}
    .skin-exo .box-warp{}
    .skin-exo .hot-site .list-item li a{}

.holiday-logo{display:none;position:absolute;width:190px;height:60px;background:#fff;background-position:0 0;background-repeat:no-repeat;top:0;left:0;}
.holiday-logo.zhongqiu{display:block;background-image:url(../images/holiday/zhongqiu.jpg);}

.shop-container .col-xs-3,.game-container .col-xs-3,.life-container .col-xs-3,.video-container .col-xs-3{width:240px; overflow: hidden;}
.shop-container .col-xs-9,.life-container .col-xs-9,.video-container .col-xs-9{padding-left: 14px;width: 716px;}
.ie6 .shop-container .col-xs-9,.ie6 .video-container .col-xs-9{overflow:hidden;}


/* 左边 */
#layout-side{ overflow:hidden}
.lte-ie7 #layout-side .thumbnails li{overflow: hidden; line-height: 1;}
.ie6 #layout-side .thumbnails li{height:88px;}
#layout-side .thumbnails .thumbnail{height:88px;}
#layout-side .slideTxtBox .bd-item .list-item{padding: 14px; padding-top: 0; zoom:1}
#layout-side .slideTxtBox .bd-item .list-item li{height: 26px;line-height: 26px;}
#layout-side .thumbnails{ overflow:hidden; width:268px}
#layout-side .thumbnails li span{font-size:14px;}


/* 右边 */
.ie6 .box-hd-title .list-item li{line-height:39px }
#layout-content{float: right;}
#layout-content .box-warp{margin-bottom: 10px; padding-bottom: 10px;}
#layout-content .box-hd-title .list-item li{background-position:-10px -568px;margin-left: -1px; line-height:32px; height:32px}
.ie6 #layout-content .list-item li a{line-height: 30px; display: inline-block;zoom: 1; }
/*.ie6 #layout-content .box-hd-title .list-item li{background-position:-10px -568px; margin-left: -1px;}*/
.ie6 #layout-content .box-hd-title .list-item li a{line-height:34px}

.star-site .box-bd-con .list-item li{ text-align:center;width: 119px;} 
.rec-site .box-hd-title{border-bottom: 1px solid #f2f2f2;}

.game-container .box-hd,.shop-container .box-hd,.video-container .box-hd,.life-container .box-hd,.xiaohua-container .box-hd,
.game-container .box-hd-title,.shop-container .box-hd-title,.video-container .box-hd-title,.life-container .box-hd-title,.xiaohua-container .box-hd-title{
    height: 39px; line-height: 39px;
}

.xiaohua-container .thumbnails a{display: block; position: relative;float: left;margin-bottom: 20px; margin-left: 19px;margin-right: 12px; text-align: center;}
.ie6 .xiaohua-container .thumbnails a{margin-bottom: 20px; margin-left: 13px;margin-right: 12px; text-align: center;}
.xiaohua-container .thumbnail{ height: 100px; margin-bottom: 6px; }
.xiaohua-container .thumbnails span{ font-size: 12px;display:block;white-space:nowrap;}
.xiaohua-container .thumbnail,
.xiaohua-container .thumbnails span{width: 210px;overflow:hidden;}
.xiaohua-container .box-hd{height: 40px;}
.xiaohua-container .box-hd-title{overflow:visible}
.xiaohua-container .title{ margin-right: 50px;}
.tag-item li{height: 39px; line-height: 39px;}
.ie6 .tag-item li a{line-height:43px}
.tag-item li.more{background:none;}
.tag-item li.more a{
    background-position: -17px -190px;
    display:block;width:16px;text-indent:-9999em;
}
.tag-item li.more a:hover{background-position:-17px -161px;}

.lte-ie7 .game-container .box-hd-title .title,
.lte-ie7 .shop-container .box-hd-title .title,
.lte-ie7 .video-container .box-hd-title .title,
.lte-ie7 .life-container .box-hd-title .title,
.lte-ie7 .xiaohua-container .box-hd-title .title{ padding-top:7px}
.ie6 .game-container .box-hd-title .title,
.ie6 .shop-container .box-hd-title .title,
.ie6 .video-container .box-hd-title .title,
.ie6 .life-container .box-hd-title .title,
.ie6 .xiaohua-container .box-hd-title .title{ padding-top: 12px;}

.ie6 .game-container .box-warp{ height: 267px;}
.ie6 .shop-container .box-warp{ height: 374px;}
.ie6 .video-container .box-warp{ height: 258px;}
.ie7 .video-container .box-warp{ height: 312px;}
.ie6 .life-container .box-warp{ height: 258px;}
.lte-ie7 .xiaohua-container .box-warp{ height: 342px;}

.game-container .box-bd,
.shop-container .box-bd,
.video-container .box-bd,
.life-container .box-bd,
.xiaohua-container .box-bd{padding: 14px 14px 0 14px; overflow: hidden;}

.ie6 .game-container .box-bd,
.ie6 .shop-container .box-bd,
.ie6 .video-container .box-bd,
.ie6 .life-container .box-bd{padding: 14px 0 0 14px; overflow: hidden;}

.game-container .box-hd-title .fix,
.shop-container .box-hd-title .fix,
.video-container .box-hd-title .fix,
.life-container .box-hd-title .fix,
.xiaohua-container .box-hd-title .fix{right: 0;}
.shop, .video-tv{width:744px;padding-left:14px;}
.ie6 .shop{height: 292px;}
.ie6 .video-tv{height: 255px;}

.video-container .slideBox .thumbnails .thumbnail,
.video-container .slideBox .thumbnails .thumbnail img{height:244px;}
.video-tv i.bg,
.video-tv i.player{display:none;width:100%;height:100%;position:absolute;top:0;left:0;}
.video-tv i.player{
    background:url(../images/icon_play.png) no-repeat center center;
    opacity:0.8;z-index:1;
}
.ie6 .video-tv i.player{background-image:url(../images/icon_play8.png);}
.video-tv i.bg{background:#333;opacity:0.6;filter:alpha(opacity=60);}
.video-tv a.thumbnail:hover i.bg,
.video-tv a.thumbnail:hover i.player{display:block;}
.video-tv a.thumbnail:hover span{display:none;}


.live-game{ position: relative; width: 265px;}
.live-game .thumbnail{
    float: left; margin-right: 10px; margin-bottom: 10px;
    background:#f4f4f4 url(../images/defaultpic-small.gif) no-repeat center center;
}
.live-game .thumbnail,
.live-game .thumbnail img{width:115px; height: 79px;}
.shop .thumbnail,.video-tv .thumbnail{width:165px; height: 115px; float: left; margin-right: 14px; margin-bottom: 14px;}
.web-game .thumbnail{height: 79px; margin-bottom: 10px;}
.slideBox .thumbnails .thumbnail{ height: 100px;}


/* 购物 */
.shop-container .col-xs-12 .box-warp{padding-bottom:3px;}
.shop-container .col-xs-9 .tag-cloud{  position: relative;top: -5px;}
.lte-ie7 .shop-container .col-xs-9 .tag-cloud{top: 8px}
.ie6 .shop-container .col-xs-9 .tag-cloud{top: -1px;}
.shop-container .col-xs-9 .tag-cloud .list-item{
    white-space: normal; overflow: hidden;
    width: 600px;
    margin-left: 14px;
    font-size: 12px;
}
.shop-container .col-xs-9 .tag-cloud .list-item li{
    float: left;
    padding: 0;
    line-height: 26px;
    height: 26px;
    *height:27px;
    width: 85px;
    margin-bottom: 5px;
    margin-right: 9px;
    text-align: center;
}
.shop-container .col-xs-9 .tag-cloud .list-item li a{
    background: #fff4f4;
    display: block;
    color: #7d6863;
    text-decoration: none;
    border-bottom: 1px solid #dadada;
}
.shop-container .col-xs-9 .tag-cloud .list-item li a:hover{
    border-color:#fb8318;
}
.shop-container .col-xs-9 .tag-cloud .southeast{
    position: absolute;top: 0;right: 0;
}
.shop-container .col-xs-9 .tag-cloud .southeast,
.shop-container .col-xs-9 .tag-cloud .southeast img{height: 58px;width: 129px;}
.shop-container .shop .thumbnail{height:134px;width:129px;}
.shop-container .col-xs-3 .thumbnails .thumbnail{margin-bottom: 10px;}
.shop-container .col-xs-3 .thumbnails .thumbnail,
.shop-container .col-xs-3 .thumbnails .thumbnail img{height: 80px;}
/*.shop-container .col-xs-3 .thumbnails .thumbnail span{display: none;}*/

.small-game {padding-left: 9px;}
.small-game a{display: block; float: left; width: 64px; height: 89px; margin-left: 11px; position: relative;}
.small-game .thumbnail{width: 56px; height: 56px; margin: 0 auto; background:#f4f4f4 url(../images/defaultpic-small.gif) no-repeat center center;}
.small-game .thumbnail img{border-radius:6px;}
.small-game a i{width: 56px; height: 56px; position: absolute; left: 4px; top: 0; background-position:-302px -14px;}
.ie6 .small-game a i{background:url(../images/sprite.gif) no-repeat -303px -12px; }
.small-game a span{display: block; text-align: center; white-space: nowrap; overflow: hidden; width: 59px; margin:0 auto;}


.life-new{margin-right: -5px; overflow:hidden; padding-left: 14px;}
.life-new .bd-item{width:345px;padding-right: 14px; float: left; padding-bottom: 10px;}
.ie6 .life-new .bd-item.odd{width:340px}

.life-new .odd{ padding-right: 0;}
.ie6 .life-new .odd{ padding-left: 2px;}
.life-new .bd-item .title{border-left: 3px solid #3CAEFF; padding-left:7px;clear:both;}
.life-new .bd-item .list-item{ padding: 0 6px 0 14px;}
.ie6 .life-new .bd-item .list-item{width:153px;}
.ie6 .life-new .bd-item .list-item li{ width:155px; overflow: hidden; display: block;}
.life-new .slideBox{ padding-top: 10px; height: auto; }
.ie6 .life-new .slideBox .thumbnails li{width:155px}
.life-new .slideBox .thumbnails .thumbnail{width:155px; height:105px;}

.life-container .col-4 {width: 240px;}
.life-container .col-4 li{
    width: 40px; float: left; height: 43px; text-align: center;
    border: 1px solid #d7ecff; border-radius: 3px; margin-top: 2px; margin-bottom: 9px; margin-right: 6px; 
    line-height: 1.1; font-size: 12px; 
}
.life-container .col-4 li a{color:#3caeff;}
.life-container .col-4 li a:hover{color:#ff7939;text-decoration:none;}
.life-container .col-4 li i{display: block;margin:4px auto 1px;}

.life-container .col-3{clear:both;}
.life-container .col-3 li{width: 33.33%; float: left; line-height: 34px;height: 34px;}
.ie6 .life-container .col-3 li{width:78px; overflow: hidden; }
.life-container .col-3 li.last{ text-align: right;}
.life-container .left-mixed{margin-top:3px;width:234px;height:160px;overflow:hidden;}
.life-container .left-mixed .list-item{margin-top:-2px;}

/*休闲娱乐*/
.other-slideBox{height: auto; overflow: hidden; margin: 0;padding-top: 15px; padding-left:15px; zoom:1 }
.other-slideBox	.thumbnails li{overflow:hidden; zoom:1}
.other-slideBox .sNext,.other-slideBox .sPrev{filter:alpha(opacity=100);opacity:1; height: 55px; margin-top: -39.5px;}


/* category-site */
/*.footer-container .category-site.last{ right: -15px;}*/
.category-site .box-hd-title{margin-top:6px;}
.ie6 .category-site{ padding-top: 14px;}
.category-site .list-item li{ width: 62px; background: none;}
.ie6 .category-site .box-hd-title,
.ie6 .category-site .box-hd-title .list-item li{line-height: 24px;height: 24px;} 

/* sidenav */
.sidebar-nav{bottom: 80px;left: 50%;margin-left: 510px; margin-top: -114px; position: fixed; z-index: 9999;}
.ie6 .sidebar-nav{position: absolute; }
.sidebar-nav .item{padding-bottom: 4px;}
.sidebar-nav .item.last{padding-bottom:0;}
.sidebar-nav .item a{
    background: #ffffff; color:#888; border: 1px solid #eaeaea;cursor: pointer;
    display: block;height: 32px;line-height: 32px;width:58px; 
    text-decoration:none;padding-left:14px;font-size:12px
}
.sidebar-nav .item a:hover{color:#19B2F5;background:#F7FBFB;}
.sidebar-nav .billing{padding:0;}
.sidebar-nav .billing a{display:block;}
.sidebar-nav .billing img{width:74px;}
.ie6 .sidebar-nav a .smallicon{ position: relative; float: left; top: 4px;}
.sidebar-nav .smallicon{ left:-2px}
.sidebar-nav .bg-line{
    width:50%;height:100%;margin-right:25%;
    border:1px solid #ddd;border-top:0;border-bottom:0;z-index:-1;
    position:absolute;bottom:0;right:0;
}
.ie6 .sidebar-nav .bg-line{display:none;}

/* 酷站 */
#layout-content .cool-site {margin-bottom: 0; overflow:hidden; zoom:1}
.cool-site .box-hd-title { background: #f7f7f7;margin: 5px 0; clear: both;border: 1px solid #eee;border-left:0;border-right:0;}
.cool-site .box-bd-con:hover{background: #e8f8ff;}
.cool-site .first{ margin-top: 0;border-top: 0;}
.cool-site .list-item{float:left;}


/* 详细*/
.category{padding:8px 10px;  position:relative; zoom:1} 
.category .first{border-bottom: 1px dotted #ddd; padding-bottom: 2px;overflow: hidden; display: block;  }
.ie6 .category .first{height:112px; margin-bottom: 8px;}

.col-2{overflow:hidden;zoom:1}
.col-2 li{list-style:none; width: 50%;float: left;overflow: hidden;}


.site-top-nav .container{ position: relative; margin: 0 auto; font-size:12px;}
.site-top-nav .logo{float: left; padding-top: 10px; width:220px; height: 40px;}
.ie6 .site-top-nav .logo{background:url(../images/logo.gif) no-repeat 0 9px;}
.ie6 .site-top-nav .logo img{filter:alpha(opacity=0);}
.site-top-nav .mm-sm22060{ position: absolute; right: 0; top: 0;z-index:99}
.site-top-nav #northeast-flash{position:absolute;top:61px;right:0;}

.hot-site{ top: -10px; margin-bottom: -5px; position: relative; clear:both}
.hot-site .list-item li{width:auto;float: none; display: inline; padding: 0 8px;}
.hot-site .list-item li a{font-size:12px;}
.lte-ie7 .hot-site{ top: -6px;}

.star-site{ padding-top: 10px;zoom:1}
.star-site .box-bd-con{height:123px;}
.game-container{ clear: both;}
.category-container .box-warp{overflow:hidden; zoom: 1;}
.category-container .col-xs-4{width: 33.333%;background: #fff;padding-bottom:10px}
.category-container .box-bd-con,
.category-container .box-bd-con *{line-height:29px!important;height:29px!important;}
.lte-ie7 .category-container .col-xs-4{width: 33.31%;}


.ie6 .menu-extend{width:51px}
.ie6 .menu-extend.calendar{width:76px}
.ie6 #wide-switch.menu-extend{width:62px}

.menu-extend{
    float:right;padding:0 7px;text-align:center; color: #888;
    border:1px solid transparent;border-top:0;border-bottom:0;position:relative;
}
#weather.weather,
.menu-extend.calendar{float:left;}
.menu-extend.dropit-open{border-color:rgb(214, 214, 214);background:rgb(247, 247, 247);}
.menu-extend .toggle{cursor:pointer;line-height:20px;height:20px; padding-top: 20px; padding-bottom:19px}
.menu-extend .toggle:hover{color:#ff7939;}
.menu-extend.dropit-open{color:#3d3d3d;}

#weather.weather{width:210px;padding-top:18px;margin-left:-20px;}
#weather.weather .mask{
    display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;
    background:url(../images/blank.png);
}

.lte-ie7 #weather.weather{padding-top:19px;}
.menu-extend.calendar{left:-20px;}
.menu-extend.skin-btn{margin-right:230px;}
.ie6 .menu-extend.skin-btn{margin-right:110px;}
#wide-switch.menu-extend{padding-left:0;}
.menu-extend.member .toggle{white-space:pre;}
.menu-extend.member .smallicon.member{float:none;}

.menu-extend .subpanel{
    display:none;position:absolute;top:58px;left:-1px;background:rgb(247, 247, 247);
    border:1px solid rgb(214, 214, 214);z-index:-1;padding:12px;display:none;
    box-shadow:2px 2px 0 #E8E8E8;
}
.menu-extend .subpanel.mail-box{width:240px;line-height:30px;}
.menu-extend .subpanel-footer{
    margin-bottom:-12px;
    margin-left: -12px;
    /* width: 100%; */
    margin-right: -12px;
    background: #fff;
    line-height: 28px;
    border-top: 1px solid #d6d6d6;
    margin-top: 10px;
    overflow: hidden;
    zoom: 1;
}
.menu-extend .subpanel-footer .left{float:left;}
.menu-extend .subpanel-footer .right{float:right;}
.menu-extend.calendar .toggle{line-height: 20px;padding-top: 20px;padding-bottom: 19px; font-weight:700; font-family:"宋体"; color:#808080}
.menu-extend.calendar .toggle:hover{color:#ff7939;}
.menu-extend.mail .mail-box .glb{
    position:relative;width:120px;float:left;border: 1px solid #ccc;
    height: 20px;line-height: 20px;margin-right: 5px;vertical-align: top; margin-bottom:5px;
}
.menu-extend.mail .mail-box .glb label{position:absolute;top:0;left:4px;cursor:auto;color:#999;font-size:12px;line-height: 20px;}
.menu-extend.mail .mail-box .menu{position:relative;cursor:pointer; width:106px; z-index:9; }
.ie6 .menu-extend.mail .mail-box .menu{height:21px}
.menu-extend.mail .mail-box .menu .selected{ background-position: -182px -385px;}

.menu-extend.mail .mail-box .menu .list{
    position:absolute;top:20px;left:-1px;display:none;color: #666;display: none;width: 106px;z-index: 999;
    border:1px solid #ccc;box-shadow: 0 0 3px #ccc; background:#fff;
}
.menu-extend.mail .mail-box .menu .list li a{display:block;cursor: pointer;height: 21px;line-height: 21px;text-decoration: none;}
.menu-extend.mail .mail-box .menu .list li.hover{background:#f5f5f5; clear:left}
.menu-extend.mail .mail-box .menu .list li.hover a{text-decoration:none;}
.menu-extend.mail .mail-box .menu .list li.no{color:#999;cursor:no-drop;background-color: #ebebeb;}
.menu-extend.mail .mail-box .password{}
.menu-extend.mail .mail-box .func{width:106px; border:none; z-index:8}
.menu-extend.mail .mail-box .func .login{
    border: 1px solid #ccc;float:left;height: 22px;width: 39px;
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(209,209,209,1) 80%, rgba(219,219,219,1) 86%, rgba(226,226,226,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 80%,rgba(219,219,219,1) 86%,rgba(226,226,226,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 80%,rgba(219,219,219,1) 86%,rgba(226,226,226,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );
    cursor:pointer;
}
.lte-ie7 .calendar-box{width:330px}
.lte-ie7 .calendar-box .subpanel-footer{padding-top:5px;padding-bottom:5px}
.member-card{width:225px}
.lte-ie7 .member-card{width:240px}
.ie6 .member-card{width:200px}
.card-info {text-align: left;overflow:hidden;color:#999}
.card-avatar {display: block;float: left;zoom:1; text-align: center;position:relative;border-radius:100%;overflow:hidden;margin:8px 8px 8px 0;background: #ddd;}

.card-avatar-image{height: 70px;width: 70px; background:#f0f2f5 url(http://my.static.6789.com/member/media/images/avatar_45.jpg) no-repeat center center  }
.card-avatar-image img {height: 70px;width: 70px;background:#fff}
.card-avatar span{background:#888; background:rgba(0,0,0,0.5);  color:#fff; padding:1px 0 4px; position:absolute; bottom:0; width:70px; left:0}
.lte-ie7 .card-avatar span{padding:1px 0;}
.card-data {overflow: hidden;line-height:20px}
.card-data .nickname {color: #000;font-weight:700;font-size: 16px;padding-left:10px;word-wrap:break-word;overflow:auto; font-size:12px}
.card-data .gold {padding-left:10px;  color:#f60 }
.card-data a{color:#3caeff; padding:0 10px;}
.ie6 .card-data a{padding:0;}
.card-data .button{
    border-radius: 2px;display:block;width:50px; text-align:center; line-height: 20px;padding: 0 4px;background: #4d90fe;color: #fff;
    margin-top:5px;margin-left:10px;border:1px solid #3079ed;
}

.subpanel-footer{ padding:2px 10px}
.subpanel-footer a{
    background: #fff; border-radius: 2px;display: inline-block;line-height: 20px;padding: 0 4px;
}

.name label,.password label{ position:absolute; top:0; left:0}
.name input,.password input{
    border-color: #e9e9e9;border-image: none;border-style: solid;border-width: 1px 0 0 1px;
    height: 19px;line-height: 19px;text-indent: 5px;width: 99%;
}
.lte-ie7 .name input,.lte-ie7 .password input{border:none;text-indent:0;width: 100%;}


.sidebar-left{
    width:50px;height:100%;position:fixed;top:0;left:0;
/*    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop));
    _height: expression(eval(document.documentElement.clientHeight));*/
    z-index:1001;
}

.sidebar-left span.icon{display:block;width:50px;height:50px;background-image:url(../images/sidebar-left-icon.gif);background-repeat:no-repeat;}
.sidebar-left span.icon.news{background-position:7px 7px;}
.sidebar-left span.icon.shoping{background-position:7px -73px;}
.sidebar-left span.icon.video{background-position:7px -153px;}
.sidebar-left span.icon.game{background-position:7px -230px;}
.sidebar-left span.icon.xiaohua{background-position:7px -311px;}
.sidebar-left span.icon.arrow{background-position:7px -455px;}
.sidebar-left.extend span.icon.arrow{background-position:7px -383px;}

.sidebar-left .applist{padding-top:80px;height:100%;background:#e6e6e6;position:absolute;top:0;left:-50px;}
.sidebar-left .applist a.applink{
    display:block;text-decoration:none;text-align:center;color:#888;
    border:1px solid #e6e6e6;border-right:0;border-left:0;
    line-height:1;font-size:12px;padding-bottom:8px;z-index:2;
}

.sidebar-left .applist .item{position:relative;margin-bottom:10px;}
.sidebar-left .applist .item .content{
    position:absolute;top:0;right:-221px;width:210px;padding-left:10px;min-height:70px;
    display:none;z-index:1;
    background:#fff;border:1px solid transparent;
}
.sidebar-left .applist .item.hover .content{display:block;}
.sidebar-left .applist .item.hover a.applink{position:relative;}
.sidebar-left .applist .item.hover a.applink,
.sidebar-left .applist .item .content{border-color:#ddd;background:#fff;}

.sidebar-left .bottom{position:absolute;left:0;bottom:50px;display:none;}
.sidebar-left .bottom a{display:block;background-color:#e6e6e6;}
.sidebar-left .bottom a:hover{background-color:#fff;}

.sidebar-left .applist .item .content.simple .group{
    overflow:hidden;zoom:1;height:70px;
}

.sidebar-left .applist .item .content.simple a{display:block;}
.sidebar-left .applist .item .content.simple .group .left{float:left;width:140px;padding:10px 0;line-height:26px;}
.sidebar-left .applist .item .content.simple .group .right{float:right;width:70px;}
.sidebar-left .applist .item .content.simple .group .right img{width:70px;height:70px;}
.sidebar-left .applist .item .content.simple .group h3{font-size:14px;}
.sidebar-left .applist .item .content.simple .group p a{color:#999;font-size:12px;}
.sidebar-left .applist .item .content.simple .group p a:hover{color:#ff7939}

/**
 * 猜你喜欢
 */
#guess-home{position:relative;overflow:hidden;}
#guess-home .mask{
    position:absolute;top:1px;left:30px;height:130px;width:30px;
    background:url(../images/blank.png);
}
#guess-mz{position:relative;overflow:hidden;height:30px;}
#guess-mz iframe{margin:-6px 0 -4px -8px;}
.lte-ie7 #guess-mz iframe{margin:-4px 0 4px -8px;}


/**
 * 宽屏样式
 */
.shidden{display:none!important;visibility:hidden!important;}
.wide-screen .shidden{display:block!important;visibility:visible!important;}
.wide-screen .hot-site .list-item li.shidden{display:inline!important;}
.wide-screen .container,
.wide-screen .navs-wrap{width:1200px;}
.wide-screen .menu-extend{padding:0 10px;}
.wide-screen .skin-box{width:1200px;}
.wide-screen .skin-box .screens{width:1000px;margin:0 auto;}
.wide-screen .skin-box .sPrev{left:40px;}
.wide-screen .skin-box .sNext{right:40px;}
.wide-screen .col-xs-6{width:755px;}
.wide-screen .col-xs-9{width:920px;}
.wide-screen .shop-container .col-xs-9, .wide-screen .life-container .col-xs-9, .wide-screen .video-container .col-xs-9{width:916px;}
.wide-screen .shop, .wide-screen .video-tv{width:944px;}
.wide-screen .shop-container .shop .thumbnail{width:138px;}
.wide-screen .shop-container .col-xs-9 .tag-cloud .southeast,
.wide-screen .shop-container .col-xs-9 .tag-cloud .southeast img{width:138px;}
.wide-screen .shop-container .col-xs-9 .tag-cloud .list-item{width:800px;}
.wide-screen .shop-container .col-xs-9 .tag-cloud .list-item li{width: 88px;margin-right:6px;}
.wide-screen .shop .thumbnail, .wide-screen .video-tv .thumbnail{width:169px;}
.wide-screen .box-bd-con .list-item li{width:116px;}
.wide-screen .category-site .list-item li{width:60px;}
.wide-screen .star-site .box-bd-con .list-item li{width:131px;}
.wide-screen .sidebar-nav{margin-left:610px;}
.wide-screen #search .search-hd{margin-left:353px;}
.wide-screen #search-engine{margin-left:239px;}
.wide-screen .fixed #search-engine{margin-left:170px;}
.wide-screen #daily-hotwords{width:295px;}
.wide-screen #daily-hotwords .daily-hotwords-list li{margin-right:20px;}
.wide-screen .small-game a{margin-left:9px;}
.wide-screen .xiaohua-container .thumbnails a{margin-left:11px;}
.wide-screen .life-new .bd-item{padding-right:30px;}
.wide-screen .life-new .bd-item.odd{position:relative;}
.wide-screen .life-new .bd-item.odd .shidden{position:absolute;top:15px;right:-151px;width:155px;}