@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.home-page-h1, p.subtitle, h2.home-page-h2 {
  font-size: 31px;
  line-height: 45px; }

.home-page-h1 {
  font-weight: 400;
  color: #ffffff; }

p.subtitle {
  font-weight: 300;
  color: #ffffff; }

.container .nav-bar ul li, .container .nav-bar ul li a {
  background-color: transparent !important; }

.cta-button {
  color: #ffffff !important;
  font-size: 26px;
  font-weight: 300;
  line-height: 50px;
  background-color: #08b9e3;
  display: inline-block;
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin: 30px 0 150px; }
  .cta-button:hover {
    background-color: #00b3e3;
    text-decoration: none !important; }

.mobile-only {
  display: none; }

.cta-button.bottom-btn {
  width: 240px;
  margin: 0 auto;
  display: block; }

.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3d4044; }
  .container a {
    color: #00b3e3;
    text-decoration: none; }
    .container a:hover {
      color: #0093d0; }
  .container .mobile-only {
    display: none; }
  .container img {
    max-width: 100%; }
  .container .row {
    max-width: 1230px;
    margin: 0 auto;
    width: 100%; }
  .container .nav-bar {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 10px 0px 10px 10px;
    top: 0;
    margin: 0px;
    box-sizing: border-box;
    webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .container .nav-bar .logo-img-black {
      display: inline; }
    .container .nav-bar .logo-img-white {
      display: none; }
    .container .nav-bar .nav-bar-container {
      margin: 0 auto;
      max-width: 1225px; }
    .container .nav-bar .logo-header {
      float: left;
      margin-left: 5px; }
    .container .nav-bar ul {
      float: right;
      padding-top: 20px;
      padding-right: 4%; }
      .container .nav-bar ul li {
        cursor: pointer;
        display: inline-block;
        margin: 0 0 0 10px; }
        .container .nav-bar ul li a {
          opacity: 0.5;
          color: #ffffff;
          display: block;
          padding: 6px 28px 6px 28px;
          height: 18px;
          -moz-border-radius: 40px;
          -webkit-border-radius: 40px;
          border-radius: 40px;
          -moz-transition: color 0.2s ease-out,background 0.2s ease-in;
          -o-transition: color 0.2s ease-out,background 0.2s ease-in;
          -webkit-transition: color 0.2s ease-out,background 0.2s ease-in;
          transition: color 0.2s ease-out,background 0.2s ease-in;
          text-shadow: 0;
          border: 2px solid transparent; }
          .container .nav-bar ul li a:hover {
            opacity: 1;
            color: #fff;
            background: rgba(10, 10, 18, 0.1);
            -moz-transition: color 0.2s ease-in,background 0.2s ease-out;
            -o-transition: color 0.2s ease-in,background 0.2s ease-out;
            -webkit-transition: color 0.2s ease-in,background 0.2s ease-out;
            transition: color 0.2s ease-in,background 0.2s ease-out; }
          .container .nav-bar ul li a:active {
            color: #fff; }
  .container .privacy {
    position: relative;
    box-sizing: border-box; }
    .container .privacy a {
      color: #3B3C39 !important; }
  .container .sticky {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 1px 3px #D8D8D8;
    z-index: 5; }
    .container .sticky a {
      color: #3B3C39 !important; }
    .container .sticky .logo-img-black {
      display: none; }
    .container .sticky .logo-img-white {
      display: inline; }
  .container header {
    background: url("http://static-content.como.com/comowebsite/2016/03/16161456/Conduit-HP-header-1920X456px-lowres.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding: 90px 0 0; }
    .container header .header-txt {
      box-sizing: border-box;
      padding-top: 2%;
      padding-left: 10px; }
      .container header .header-txt img {
        max-width: 98%; }
    .container header .header-drill-down-wrapper {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 5px; }
    .container header .header-drill-down-bg {
      background-color: #000;
      opacity: 0;
      width: 100%;
      height: 54px;
      display: block;
      position: absolute;
      z-index: 1; }
    .container header .header-drill-down {
      background: url("http://cdn.s3.conduit.com/images/drill-down-ax.png") no-repeat;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-size: 50px;
      display: inline-block;
      z-index: 2;
      position: relative;
      opacity: 0.5; }
      .container header .header-drill-down:hover {
        opacity: 1; }
  .container .main-content {
    margin: 0 auto;
    margin-top: 3.7%; }
    .container .main-content .txt {
      font-size: 19px;
      max-width: 700px;
      margin: 0 auto 50px;
      font-weight: 300;
      line-height: 30px; }
      .container .main-content .txt .fonth2 {
        font-size: 2em; }
      .container .main-content .txt a {
        color: #00b3e3; }
        .container .main-content .txt a:hover {
          color: #0093d0;
          text-decoration: underline; }
      .container .main-content .txt .read_more {
        color: #00b3e3;
        text-align: center;
        font-size: 1.3em;
        cursor: pointer;
        font-weight: 400;
        margin-top: 10px;
        display: none; }
        .container .main-content .txt .read_more:hover {
          text-decoration: underline; }
    .container .main-content .signature {
      text-align: center; }
      .container .main-content .signature img {
        max-width: 232px; }
    .container .main-content .como_btn_container {
      text-align: center;
      margin-top: 30px;
      padding-bottom: 30px; }
      .container .main-content .como_btn_container a {
        border: 2px solid #09b9e4;
        font-size: 1.5em;
        font-weight: 400;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 90px; }
        .container .main-content .como_btn_container a:hover {
          text-decoration: none;
          color: #ffffff;
          background: #09b9e4;
          -moz-transition: color 0.2s ease-in,background 0.5s ease-out;
          -o-transition: color 0.2s ease-in,background 0.5s ease-out;
          -webkit-transition: color 0.2s ease-in,background 0.5s ease-out;
          transition: color 0.2s ease-in,background 0.5s ease-out; }
        .container .main-content .como_btn_container a:active {
          background: #0794b6;
          -moz-transition: background 0.5s ease-out;
          -o-transition: background 0.5s ease-out;
          -webkit-transition: background 0.5s ease-out;
          transition: background 0.5s ease-out; }
  .container .contact-us-content {
    margin: 0 auto;
    margin-top: 80px;
    color: #333333;
    background: url(http://cdn.s3.conduit.com/images/map.jpg);
    background-size: cover; }
    .container .contact-us-content .wrapper {
      max-width: 800px;
      margin: 0 auto;
      padding: 5% 0;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center; }
      .container .contact-us-content .wrapper h3 {
        text-align: center;
        font-size: 2em;
        padding-bottom: 5%;
        font-weight: 300; }
      .container .contact-us-content .wrapper .israel {
        padding-left: 50px; }
      .container .contact-us-content .wrapper .nyc, .container .contact-us-content .wrapper .israel {
        text-align: center;
        font-size: 0.9em;
        height: 140px;
        position: relative;
        display: inline-block;
        min-width: 235px;
        line-height: 20px; }
        .container .contact-us-content .wrapper .nyc h4, .container .contact-us-content .wrapper .israel h4 {
          font-size: 1.5em;
          line-height: 35px;
          font-weight: 300; }
        .container .contact-us-content .wrapper .nyc .link, .container .contact-us-content .wrapper .israel .link {
          text-align: center;
          margin-top: 14%; }
  .container .mobile-only.media.link .icon {
    background-image: url("http://cdn.s3.conduit.com/images/icon_sprite.png");
    width: 90px;
    height: 80px;
    background-position: 0px -84px;
    margin: 0 auto;
    zoom: .5; }
  .container .mobile-only.general.link .icon {
    background-image: url("http://cdn.s3.conduit.com/images/icon_sprite.png");
    width: 81px;
    height: 61px;
    background-position: 86px -104px;
    margin: 0 auto;
    zoom: .5; }
  .container footer.footer_desktop {
    height: 90px;
    background-color: #1d1d1d;
    color: #adb0b3; }
    .container footer.footer_desktop ul {
      max-width: 700px;
      margin: 0 auto;
      padding-top: 35px; }
      .container footer.footer_desktop ul li {
        display: inline-block;
        font-size: 0.8em;
        margin-right: 12.9px; }
        .container footer.footer_desktop ul li a {
          color: #adb0b3; }
      .container footer.footer_desktop ul .copyright {
        color: rgba(187, 187, 187, 0.52); }
  .container footer.footer_mobile {
    display: none; }

@media screen and (max-width: 1500px) {
  .container header {
    background-position: 45% top; } }
@media screen and (max-width: 1200px) {
  .container header {
    background-position: 66% top; }

  p.subtitle {
    max-width: 49%; } }
@media screen and (max-width: 769px) {
  .container header {
    background-position: 57% 50%; }
    .container header .header-txt {
      width: 82%;
      margin: 0; }

  .container header {
    background-image: url("/images/Conduit-HP-Mobile-header-640.png");
    background-position: center top;
    background-size: 100%;
    padding: 73% 0 0 !important; }

  .logo-header {
    display: none; }

  .home-page-h1, p.subtitle, h2.home-page-h2 {
    color: #3d4044;
    font-size: 22px;
    line-height: 1.5;
    text-align: left; }

  .container .mobile-only {
    display: inherit; }

  .desktop-only {
    display: none !important; }

  .container header .header-txt {
    padding-right: 20px;
    padding-left: 20px;
    width: 100% !important; }

  .cta-button {
    width: 100%;
    font-size: 24px;
    margin: 30px 0 10px; }

  .container .main-content .txt {
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px; }

  .container .contact-us-content {
    margin-top: 0; }

  .container .main-content .txt .read_more {
    text-align: left;
    font-size: 16px;
    margin-top: 0 !important; }

  .cta-button.bottom-btn {
    width: 100%; }

  .sub-txt {
    margin-bottom: 30px; }

  .container .contact-us-content .wrapper h3 {
    font-size: 26.4px !important;
    font-weight: bold; }

  .container .nav-bar {
    display: none; } }
@media screen and (max-width: 767px) {
  .container header {
    background-position: 65% 0; }
    .container header .header-txt {
      width: 70%;
      margin: 10px 0px; }
  .container .main-content {
    padding: 3%; }
  .container .contact-us-content .wrapper .israel, .container .contact-us-content .wrapper .nyc {
    margin-left: 5px;
    padding-left: 0px; } }
@media screen and (max-width: 690px) {
  .container .logo-img-black, .container .logo-img-white {
    height: 47px; }
  .container header {
    padding: 90px 0 0; }
    .container header .header-drill-down-wrapper {
      display: none; }
  .container .nav-bar .nav-bar-container .logo-header {
    margin-left: 2px; }
  .container .nav-bar ul {
    display: none; }
  .container footer.footer_desktop {
    display: none; }
  .container footer.footer_mobile {
    display: block;
    height: 90px;
    background-color: #ffffff;
    color: #adb0b3; }
    .container footer.footer_mobile ul.links {
      max-width: 700px;
      margin: 0 auto;
      padding-top: 35px;
      text-align: center; }
      .container footer.footer_mobile ul.links li {
        display: inline-block;
        font-size: 1em;
        margin-right: 35.5px;
        margin-left: 22px;
        margin-bottom: 28px; }
        .container footer.footer_mobile ul.links li a {
          color: #333333;
          text-decoration: underline; }
    .container footer.footer_mobile .copy {
      height: 47px;
      background-color: #1d1d1d;
      color: #adb0b3;
      text-align: center;
      padding-top: 30px;
      font-size: 0.9em; }
  .container .main-content .como_btn_container a {
    font-size: 1.3em;
    padding: 10px 70px; }
  .container .main-content .txt {
    text-align: center; }
    .container .main-content .txt .read_more {
      display: block; }
    .container .main-content .txt .read_more_txt {
      display: none; }
  .container .main-content .signature img {
    width: 75%; }
  .container .contact-us-content {
    background: #fff; }
    .container .contact-us-content .wrapper h3 {
      font-size: 2.8em;
      padding-bottom: 8.5%;
      padding-top: 5%; }
    .container .contact-us-content .wrapper .nyc, .container .contact-us-content .wrapper .israel {
      margin-bottom: 21%;
      font-size: 1.1em; }
    .container .contact-us-content .wrapper .nyc .link, .container .contact-us-content .wrapper .israel .link {
      display: none; }
    .container .contact-us-content .wrapper .israel {
      height: auto;
      width: 100%;
      text-align: center;
      padding-left: 0px;
      margin: 0; }
      .container .contact-us-content .wrapper .israel .icon {
        background-image: url("http://cdn.s3.conduit.com/images/icon_sprite.png");
        width: 150px;
        height: 116px;
        background-position: -92px -46px;
        margin: 15px auto;
        zoom: .5; }
    .container .contact-us-content .wrapper .nyc .icon {
      background-image: url("http://cdn.s3.conduit.com/images/icon_sprite.png");
      width: 98px;
      height: 164px;
      background-position: -244px 0px;
      margin: 15px auto;
      zoom: .5; }
    .container .contact-us-content .wrapper .mobile-only {
      display: block;
      text-align: center;
      margin: 16% 0 12% 0;
      line-height: 1.2em;
      font-size: 1.1em; } }
/*Height Media Queries*/
@media screen and (max-height: 768px) {
  .container header .header-txt {
    padding-top: 1%; }

  .container header .header-txt img {
    width: 100%;
    max-height: 450px;
    max-width: 620px; } }

/*# sourceMappingURL=style.css.map */
