/*.entry-comments a
{
    text-decoration: none;
    border-bottom: dotted 1px #0060b6;
}*/
.entry-comments {
	
}

.entry-comments a.selected {
    display: none;
}

.entry-comments h3
{
    font-weight: 100;
    font-size: 1.5em;
}

.entry-comments ul
{
    margin: 0.1em 0 0 0;
    padding: 0;
    border: none;
    list-style: none;
}

.entry-comments ul .hcomment {
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
}

.entry-comments ul .hcomment .divider {
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
}

.entry-comments ul .hcomment ul {
    margin-left: 2.5em;
}

.entry-comments ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul .hcomment ul
{
    margin-left: 0;
}

.entry-comments ul .hcomment a.answer
{
    padding: 0.2em 0 0 0;
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 1.0em;
    text-decoration: none;
}

.entry-comments .hcomment a.selected span:after
{
    content: " ↘ ";
}

.entry-comments ul .hcomment p .published
{
    margin-left: 0.5em;
    text-decoration: none;
    border: none;
    color: #aaa;
}

.entry-comments ul .hcomment .entry-comment {
    margin: 0.2em 0 0.6em 0;
    padding: 0;
    border: none;
    font-size: 1.0em;
    line-height: 1.4em;
    word-wrap: break-word;
}

.entry-comments .hcomment .entry-author
{
    font-weight: bold;
}

.entry-comments .hcomment .gbusers-avatar {
	float: left;
}

.entry-comments .hcomment .entry-container {
	margin-left: 80px;
}

.entry-comments form dl dd input,
.entry-comments form dl dd textarea {
	width: 100%;
	max-width: 400px;
	margin-bottom: 5px;
}

.entry-comments form dl,
.entry-commentsform dl dt,
.entry-comments form dl dd {
    margin: 0;
	padding: 0;
}

.entry-comments .h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 1.4em;
}

.entry-comments .errors {
	font-weight: bold;
}