@CHARSET "UTF-8";

.gallery-listImages {
	text-align: center;
	vertical-align: top;
}

.gallery-listImages .image {
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px;
	margin: 10px;
	font-size: 0.9em;
	line-height: 1.1em;
}

.gallery-listImages .image .img {
	display: block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;
	padding: 0;
	min-width: 150px;
	min-height: 84px;
	margin-bottom: 3px;
}

.gallery-listImages .image .img img {
	max-width: 150px;
	max-height: 85px;
	vertical-align: middle;
}

.gallery-listImages .image .title {
	font-weight: bold;
	max-width: 150px;
	max-height: 1.1em;
	overflow: hidden;
	white-space: nowrap;
}

