/**
 * Style for content-locker
*/
.mzz-content-locker {
    background: #000;
}

/**
 * Jip-window styles
*/
.mzz-jip-window {
    color: #eee;
    border-color: #2f2f2f;
    box-shadow: 0 0 10px #111111;
    -moz-box-shadow: 0 0 10px #111111;
    -webkit-box-shadow: 0 0 10px #111111;
    -khtml-box-shadow: 0 0 10px #111111;
}

.mzz-jip-window a.mzz-jip-close {
    color: #777777;
    text-shadow:0 1px 0 rgba(250, 250, 250, 0.5);
}

.mzz-jip-window a.mzz-jip-close:hover {
    color: #2C4865;
}

.mzz-jip-wrapper {
    background-color: #2A2A2A;
    border-bottom-color: #111;
}

.mzz-jip-title {
	background: #1A1A1A url('../images/jip/title-bg.png') repeat;
    border-bottom-color: #111;
}

.mzz-jip-title span {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.mzz-jip-footer {
    background: #111111;
    border-top-color: #222;
}

.mzz-jip-footer {
    color: #888888;
}

/**
 * Style for jipWindow forms
*/

.mzz-jip-window .label, .mzz-jip-window .label label {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.mzz-jip-window form .caption {
    color:#888888;

}

.mzz-jip-window form .error label,
.mzz-jip-window form span.error {
    color: #de4444;
}

.mzz-jip-window form .required textarea,
.mzz-jip-window form .required input[type=text] {
    border-color: #f5dc63;
}

.mzz-jip-window form textarea:focus,
.mzz-jip-window form input[type=text]:focus {
    border-color: #eee;
    color: #white;
}

.mzz-jip-window form div.buttons {
    border-top-color: #111;
}
