/* X360 */
.platform_2, .platform_3, .platform_109, .platform_xbox, .platform_xbox360, .platform_x360, .platform_38762 {
	color: #00cc33;
}

/* Nintendo */
.platform_4, .platform_104, .platform_105, .platform_8, .platform_38388 {
	color: #28d6d4;
}

/* PS3 */
.platform_1, .platform_5, .platform_7, .platform_80, .platform_81, .platform_82, .platform_ps3,
.platform_38525, .platform_39070 {
	color: #3399ff;
}

/* PC */
.platform_9, .platform_pc {
	color: white;
}
