* {
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
}

body {
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden !important;
}

img {
    border: none;
}

a {
	text-decoration: none;
	outline: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

b, strong {
	font-weight: bold !important;
}

h1, .h1, h2 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid;
	margin: 15px 0;
	line-height: 1.6em;
}

.commentary {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid;
	margin: 15px 0;
	line-height: 1.6em;
}



.container-new {
	font-size: 2.0em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	border: none;
}

/* h2, .h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0;
} */

h3, .h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: none;
}

p {
	margin: 15px 0;
}

.b {
	font-weight: bold;
}

wbr, .wbr {
	display:-moz-inline-box;
	display:inline-block;
}

.container {
	margin: 0 0 15px 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}

.container-header {
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	padding: 10px 10px;
	font-weight: bold;
	position: relative;
	min-height: 18px;
}


.container-header-main {
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	padding: 10px 10px;
	font-weight: bold;
	position: relative;
	min-height: 18px;
}




.container-header-edit {
	float: right;
	display: block;
}

h4, .h4 {
	float: left;

}

.container-header h1 {
	font-size: 2.0em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	border: none;
}

.container-header-main h1 {
	font-size: 2.0em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	border: none;
}



.title h1 {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	border: none;
}




.container-desc, .container-header h2 {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
	font-size: 0.9em;
}

.container-content {
	padding: 10px;
}

.container-margin {
	margin: 15px 0;
}

.container-margin-bottom {
	margin-bottom: 15px;
}

.container-margin-half {
	margin: 7px 0;
}

.container-normal {
	margin: 0 0 15px 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}

.container-medium {
	margin: 0 0 15px 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}

.container-light {
	margin: 0 0 15px 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}


.container-side .container-content h3 {
	font-size: 12px;
}

.zag h3 {
	font-size: 12px;
	font-weight: bold;
}



.container-side .container-content p {
	margin: 5px 0;
	font-size: 11px;
}

button, .button, input[type="submit"], input[type="reset"], input[type="button"] {
	color: white;
	height: 32px;
	line-height: 1em;
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
	cursor: pointer;
	padding: 5px 10px;
	background: #940000 url("../images/button_bg.gif") repeat-x;
	border: 2px solid #940000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-shadow: -1px -1px 1px #444;
}

button:hover, .button:hover {
	background: #940000 url("../images/button_bg_hover.gif") repeat-x 0 100%;
}

a.button, a.button:hover {
	text-decoration: none;
	color: white;
}

input[type="text"], input[type="password"], input[type="file"], select, textarea {
	border: 1px solid gray;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="text"], input[type="password"] {
	padding: 1px;
}

input:disabled {
	
}

textarea {
	padding: 4px;
}

pre {
	padding: 5px;
	border: 1px dashed white;
	color: white;
	margin: 0px;
	font-size: inherit;
	font-family: "Courier New", monospace;
}

blockquote {
	display: block;
	font-style: italic;
	margin: 15px 0;
}

ul, ol {
	padding-left: 25px;
}

ul li, ol li {
	margin-bottom: 4px;
}

#wrapper, #wrapper2 {
	min-width: 1200px;
    min-height: 100%;
    height: 100%;
}

#wrapper > div,  #wrapper2 > div{
	position: relative;
	min-height: 100%;
}

#wrapper2 {
	min-width: 1200px;
    min-height: 100%;
    height: 100%;
}

#wrapper2 > div {
	position: relative;
	min-height: 100%;
}



#header {
	background: url("../images/header_bg.png") repeat-x;
	position: relative;
	height: 120px;
}

#header-logo {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 206px;
	height: 120px;
	background: url("../images/logo.png") no-repeat;
	border: none;
	margin: 0;
	padding: 0;
}

#header-logo a {
	display: block;
	height: 120px;
	text-indent: -5000px;
}

#header-loginform {
	position: absolute;
	right: 15px;
	top: 6px;
}

#header-skin {
	display: block;
	position: absolute;
	top: 74px;
	right: 15px;
	height: 19px;
	background: url("../images/icons/skin.png") 100% 0 no-repeat;
	padding-right: 52px;
}

#header-gift {
	display: block;
	position: absolute;
	top: 68px;
	right: 175px;
	height: 27px;
	background: url("../images/icons/gift.png") 100% 0 no-repeat;
	padding-right: 30px;
	padding-top: 6px;
}

#header-searchbar {
	position: absolute;
	left: 37%;
	top: 16px;
	width: 20%;
}

#header-searchbar input {
	font-family: "Trebuchet MS", Arial, sans-serif;
	padding: 3px 5px;
	width: 100%;
	font-weight: bold;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: white url("../images/searchbar_bg.gif") 0 50% repeat-x;
}

#header-searchbar input:focus {
	
}

#header-menu {
	position: relative;
	top: 61px;
	margin-left: 213px;
	margin-right: 275px;
	border: 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#header-menu a {
	display: block;
	position: relative;
	float: left;
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	padding: 0px 15px;
}

#header-menu a:first-child {

}

#header-menu a:hover {
	
}

#header-menu .active {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#header-menu ul.main-menu {
	list-style: none outside none;
	display: table;
	box-sizing: border-box;
	float: left;
	width: 100%;
}

#header-menu ul.main-menu li {
	display: table-cell;
}

#content {
	padding: 15px 0px;
	//padding-bottom: 110px;
}

#footer {
	//position: absolute;
	bottom: 0px;
	width: 100%;
	margin-top: 30px;
	min-height: 50px;
}

#footer .c {
	width: 980px;
	margin: auto;
}

#footer .menu {
	padding: 3px 0;
}

#footer .menu a {
	font-weight: bold;
}


/* Columns and content */

.grid-150-100p {
	padding-left: 175px;
}

.grid-150-100p-lc {
	margin-left: -175px;
	width: 160px;
	float: left;
}

.grid-150-100p-rc {
	margin-right: -100%;
	float: left;
	width: 100%;
}


.grid-100p-150 {
	padding-right: 165px;
}

.grid-100p-150-lc {
	margin-left: -100%;
	float: right;
	width: 100%;
}

.grid-100p-150-rc {
	margin-right: -165px;
	width: 150px;
	float: right;
}


.grid-100p-200 {
	padding-right: 215px;
	
}

.grid-100p-200-lc {
	margin-left: -100%;
	float: right;
	width: 100%;
}

.grid-100p-200-rc {
	margin-right: -215px;
	width: 200px;
	float: right;
}


.grid-100p-300 {
	padding-right: 315px;
	
}

.grid-100p-300-lc {
	margin-left: -100%;
	float: right;
	width: 100%;
}

.post-content img, .post-content iframe {
    max-width: 100%;
}

.grid-100p-300-rc {
	margin-right: -315px;
	width: 300px;
	float: right;
}

.grid-100p-301-rc {
	margin-right: -315px;
	width: 300px;
	float: right;
}




.grid-100p-500 {
	padding-right: 515px;
	
}

.grid-100p-500-lc {
	margin-left: -100%;
	float: right;
	width: 100%;
}

.grid-100p-500-rc {
	margin-right: -515px;
	width: 500px;
	float: right;
}

/* Side Menu */
.side-menu {
	padding: 5px 0 10px 0;
}

.side-menu a {
	display: block;
	font-weight: bold;
	padding: 2px 0 2px 10px;
}

.side-menu .active {
	padding-top: 5px;
	padding-bottom: 5px;
}


/* Tabs */

.tab-container {
	padding: 0 5px 0 10px;
}

.tab-container a {
	display: block;
	position: relative;
	font-size: 0.9em;
	float: left;
	margin-right: 5px;
	padding: 2px 12px;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
}

.tab-container a:hover {
	
}

.tab-container a.active {
	
}


/* Panels */

#commit-panel {
	position: fixed;
	bottom: 0;
	background: white;
	width: 100%;
	height: 120px;
	background: url("../images/panel_bg.gif") 0 29px repeat-x;
}

.panel-title {
	color: white;
	background: url("../images/panel_title_bg.gif") repeat-x;
	height: 29px;
	font-weight: bold;
	padding-left: 10px;
	line-height: 26px;
	font-size: 1.2em;
}

.panel-content {
	padding: 15px;
}

#commit-panel textarea {
	color: black;
    border: 1px solid gray;
    background: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 4px;
}


/* table styles */

table.general-info {
	font-size: 0.9em;
	line-height: 1.2em;
	border-spacing: 0;
	border-collapse: collapse;
}

table.general-info td {
	padding: 5px 3px;
}

table.general-info tr td:first-child {
	white-space: nowrap;
	text-align: right;
}

table.items-list {
	text-align: left;
	border-spacing: 0px;
	width: 100%;
}

table.items-list th {
	font-weight: normal;
}

table.items-list th, table.items-list td {
	border-bottom: 1px solid;
	padding: 6px;
}

table.items-list tr:last-child td {
	border-bottom: none;
	border-bottom: 0px transparent; /* Opera */
}

table.items-list td img {
	vertical-align: middle;
	border: 1px solid;
}

table.items-list .sub {
	font-size: 0.85em;
}

table.items-list .sub a {
	
}

table.items-list h3 {
	border: none;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
}

.base-listImages {
	white-space: nowrap;
}

.base-listImages .image {
	display: inline-block;
	width: 32.5%;
	vertical-align: middle;
	position: relative;
}

.base-listImages .image+.image {
	padding-left: 1.25%;
}

.base-listImages .image .img img {
	width: 100%;
	vertical-align: middle;
}

.base-listImages .image .play {
	width: 20%;
	position: absolute;
	left: 40%;
	top: 30%;
	opacity: 0.7;
}

.base-listImages .image .title {
	text-align: center;
	max-height: 1.6em;
	line-height: 1.6em;
	overflow: hidden;
}


/* games */
.games-list .year {
	font-weight: bold;
	font-size: 1.6em;
	border-top: 2px solid;
	border-bottom: none;
}

.games-list .year-column {
	border-right: 4px solid;
	border-bottom: none;
}

.games-lastGames {
	height: 240px;
	padding-left: 1px;
	overflow: hidden;
}

.games-lastGames .item {
	float: left;
	width: 110px;
	height: 100%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.games-lastGames .item .img {
	display: block;
	width: 100%;
	height: 134px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.games-lastGames .item .img img {
	width: 100%;
}

.games-lastGames .item+.item {
	margin-left: 8px;
}

.games-inlineGameRating {
	width: 35px;
	height: 20px;
	margin: 4px auto;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	vertical-align: middle;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.games-inlineGameRating.rated_good {
	background-color: #6c3;
	color: white;
}

.games-inlineGameRating.rated_avg {
	background-color: #fc3;
	color: #333;
}

.games-inlineGameRating.rated_bad {
	background-color: #f00;
	color: white;
}

.games-topEditors td {
	padding: 5px 2px !important;
	overflow: hidden;
	white-space: nowrap;
	max-width: 60px;
}

.games-topEditors .place {
	font-size: 1.4em;
}


/* gbnews */
.gbnews-listShort p {
	margin: 0.5em 0 1em 0;
}

.gbnews-listShort 
h3 {
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 1.3em;
	margin: 0;
}

.gbnews-listShort td {
	padding: 14px 8px !important;
}

.gbnews-listShort .img {
	display: inline-block;
	position: relative;
}

.gbnews-listShort .img .icon {
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 5px;
	border: none;
}

.gbnews-list .container-header {
	
}

.gbnews-list .container-desc {
	padding: 2px 10px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.gbnews-list .content {
	padding: 0 10px;
}

.gbnews-list .content img {
	border: 1px solid;
}

.gbnews-list .content .img {
	padding-right: 6px;
}


/* site */
.site-max-width {
	min-width: 1100px;
	margin: 0 auto;
	position: relative;
}

#basic-content-container {
    /* Fix after branding */
    margin-top: -26px;
}

.site-main {
	width: 980px;
	margin: auto;
}

.site-videos {
	width: 1025px;
	margin: auto;
}

.site-news {
	width: 1010px;
	margin: auto;
}

.site-blogs {
	width: 980px;
	margin: auto;
}

.site-1180 {
	width: 1180px;
	margin: auto;
}

.site-inliner > table,
.site-inliner > div,
.site-inliner > iframe
 {
	display: inline-block;
}

.site-headerView {
	width: 100%;
	height: 225px;
	position: relative;
	overflow: hidden;
}

.site-headerView .roll {
	position: absolute;
	width: 100%;
	height: 100%;
}

.site-headerView .roll .item {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.site-headerView .roll .item .panel {
	height: 100%;
	position: absolute;
	right: 0;
	
	/*width: 360px;
	padding-left: 30px;
	background: rgba(0,0,0,0.4);
	*/
	
	width: 358px;
	padding-left: 106px;
}

.site-headerView .roll .item .panel .links {
	position: absolute;
	bottom: 93px;
}

.site-headerView .roll .item .panel .links a {
	font-weight: bold;
	display: block;
	float: left;
	margin-right: 30px;
}

.site-headerView .roll .item .panel h1 {
	border: none;
	margin-bottom: 5px;
	line-height: 1em;
}

.site-headerView .list {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 10px 8px 0;
}

.site-headerView .list .item {
	position: relative;
	float: left;
	width: 120px;
	height: 70px;
	border: 2px solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-right: 8px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.site-headerView .list .item:hover {
	
}

.site-headerView .list .active {
	
}

.site-headerView .list .item .label {
	display: table;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
	height: 22px;
	overflow: hidden;
	line-height: 1em;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.site-headerView .list .item .label > div {
	display: table-cell;
	vertical-align: middle;
}





/* gbusers */
.gbusers-form {
	width: 600px;
	margin: 10px auto;
}

.gbusers-form table {
	width: 100%;
}

.gbusers-form .title {
	font-size: 1.5em;
	text-align: right;
	white-space: nowrap;
}

.gbusers-form td {
	padding: 5px 5px;
	text-align: center;
	vertical-align: top;
}

.gbusers-form input[type="text"], .gbusers-form input[type="password"] {
	margin: 0 !important;
	padding: 0 !important;
	height: auto !important;
	width: 100% !important;
	font-size: 1.5em !important;
}

.gbusers-form input[type="submit"] {
	width: 80% !important;
	font-size: 1.2em !important;
}

.gbusers-form .error {
	text-align: left;
	color: red;
}

.gbusers-form .desc {
	text-align: left;
}

.gbusers-form img {
	vertical-align: middle;
}


.gbusers-headerPanel {
	border: 1px solid; /* for IE */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 4px 5px;
}

.gbusers-headerPanel .login {
	min-width: 200px;
	line-height: 52px;
	text-align: center;
	display: block;
}

.gbusers-headerPanel .profile .img {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid;
	position: relative;
	background-repeat: no-repeat;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.gbusers-headerPanel .profile .img .notices {
	position: absolute;
	right: -8px;
	top: -10px;
}

.gbusers-headerPanel .profile .info {
	float: left;
	margin-left: 5px;
}

.gbusers-headerPanel .profile .name {
	padding-left: 5px;
	max-width: 185px;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}

.gbusers-headerPanel .profile .name .title {
	display: block;
	max-width: 152px;
	float: left;
}

.gbusers-headerPanel .profile .name .messages {
	display: block;
	padding-top: 3px;
	font-size: 0.85em;
	line-height: 1em;
	float: right;
}

.gbusers-headerPanel .profile .name .messages img {
	height: 12px;
	vertical-align: middle;
	margin-right: 0.3em;
}

.gbusers-headerPanel .profile .sub {
	font-size: 0.85em;
	line-height: 1em;
}

.gbusers-headerPanel .profile .sub img {
	height: 1em;
}

.gbusers-headerPanel .bars {
	margin-top: 3px;
}

.gbusers-headerPanel .bars .title {
	line-height: 1em;
	font-family: "Lucida Console", Arial, sans-serif;
	font-size: 9px;
	float: left;
	width: 31px;
	white-space: nowrap;
	text-align: right;
}

.gbusers-headerPanel .bars .bar {
	margin-left: 34px;
	border: 1px solid;
	height: 5px;
	position: relative;
	top: 0px;
	width: 150px;
}

.gbusers-headerPanel .bars .bar .filler {
	height: 100%;
	background: url('../images/barfiller_bg.png') repeat;
}

.gbusers-headerPanel .bars .mana .filler {
	background-position: 12px 0;
}

.gbusers-login {
	font-weight: bold;
}

.gbusers-avatar {
	width: 70px;
	height: 76px;
	position: relative;
}

.gbusers-avatar img {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 6px;
	top: 6px;
}

.gbusers-avatar .level {
	line-height: 1em;
	font-family: "Lucida Console", Arial, sans-serif;
	font-size: 9px;
	position: absolute;
	width: 50px;
	bottom: 5px;
	left: 6px;
	text-align: center;
}

.gbusers-avatar-big {
	padding: 10px;
	display: inline-block;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.gbusers-avatar-big .level {
	text-align: center;
	font-family: "Lucida Console", Arial, sans-serif;
	font-size: 12px;
	padding-top: 5px;
}

.gbusers-notifications .exp {
	width: 100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
}

.gbusers-achievements {
	width: 110%;
}

.gbusers-achievements .badge {
	width: 64px;
	height: 64px;
	border: none;
	margin: 5px 0;
}

.gbusers-achievements .not-achieved {
	opacity: 0.2;
}

.gbusers-achievements .title {
	font-size: 14px;
	font-weight: bold;
}

.gbusers-achievements .subtitle {
	font-size: 12px;
}

.gbusers-achievements .progress {
	line-height: 20px;
	height: 20px;
	width: 150px;
	border: 1px solid;
	text-align: center;
	position: relative;
}

.gbusers-achievements .progress .filler {
	height: 100%;
	background: url('/images/barfiller_bg.png') repeat;
}

.gbusers-achievements .progress > div {
	width: 100%;
	position: absolute;
}

.banned {
	text-decoration: line-through;
}


/* Videos */
.videos-column {
	line-height: 1.2em;
}

.videos-column .thumb {
	position: relative;
	display: block;
	width: 100px;
	height: 60px;
	background: black 50% 50% no-repeat;
	text-align: center;
	color: white;
	border: 1px solid;
}

.videos-column .thumb .play {
	opacity: 0.6;
	border: none;
	position: relative;
	top: 35%;
}


.videos-column .thumb .icon {
	position: absolute;
	border: none;
	left: 2px;
	top: 2px;
	max-width: 40px;
	max-height: 40px;
}

.videos-listVideos {
	text-align: center;
	vertical-align: top;
}

.videos-listVideos .marked-light, .videos-listVideos .marked {
	margin-right: 6px;
	padding: 2px 10px;
}

.videos-listVideos .video {
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px;
	margin: 10px;
	font-size: 0.7em;
	font-weight: normal;
	line-height: 1.2em;
	max-width: 235px;
}

.videos-listVideos .video .img {
	position: relative;
	display: block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;
	padding: 0;
	margin-bottom: 3px;
	min-width: 230px;
	min-height: 129px;
}

.videos-listVideos .video .img .cover {
	width: 230px;
	height: 129px;
	vertical-align: middle;
}

.videos-listVideos .video .img .icon {
	position: absolute;
	left: 5px;
	top: 5px;
}

.videos-listVideos .video .title {
	font-weight: bold;
}

.videos-listVideos .video .title, .videos-listVideos .video .desc {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	padding: 2px 0;
}

.videos-player {
	display:block;
	float: left;
	border: 5px solid #222;
	width: 640px;
	height: 360px;
	overflow: hidden;
}

.videos-part_video .container-desc {
	padding-left: 10px;
	background-color: #222;
}

#videos-player-code {
	width: 640px;
}

.videos-column .thumb span, .videos-listVideos .video .img span {
	position: absolute;
	right: 3px;
	bottom: 3px;
	color: white;
	font-size: 8px;
	font-family: Verdana, Arial;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0px 3px;
	line-height: 14px;
}

.videos-column .thumb .game, .videos-listVideos .video .game {
	background-color: #a00;
}

.videos-column .thumb .movie, .videos-listVideos .video .movie {
	background-color: #164263;
}


/* Blogs */
.blogs .content img{
	max-width: 100%;
}


/* Reviews */
#review_content img {
	float: left;
	width: 280px;
	margin: 7px 10px 3px 0;
}


/* Stars */

.stars {
	vertical-align: middle;
	display: inline-block;
}

.stars div {
	display: inline-block;
	width: 19px;
	height: 16px;
	background: url('../images/review/star.png') no-repeat;
}

.stars .empty {
	background-position: 0 0px;
}

.stars .full {
	background-position: 0 -32px;
}

.stars .half {
	background-position: 0 -16px;
}

.stars-big {
	vertical-align: middle;
	line-height: 16px;
}

.stars-big div {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin-right: 3px;
	background: url('../images/review/star_big.png');
}

.stars-big .empty {
	background-position: 0 0px;
}

.stars-big .full {
	background-position: 0 29px;
}

.stars-big .half {
	background-position: 0 58px;
}


/* gaAutoComplete styles */

.ac-container {
	
}

.ac-input {
	width: 120px;
}

.ac-popup {
	z-index: 10;
	position: absolute;
	background: white;
	max-height: 300px;
	overflow: auto;
	border: 2px solid #595959;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.ac-popup > div {
	line-height: 1em;
	padding: 5px 10px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	vertical-align: top;
}

.ac-popup div.title {
	margin-left: 36px;
	padding-top: 2px;
}

.ac-popup img {
	float: left;
	width: 30px;
	height: 30px;
}

.ac-popup > div:hover {
	background-color: #ff8;
}

.ac-popup .gray {
	color: #555;
}

.ac-popup .small {
	font-size: 0.85em;
}

.ac-popup .ac_line {
	clear: both;
	border-bottom: 1px solid #e7e7e7;
}


/* Pager */

.pager {
	text-align: right;
	margin: 15px 0;
}

.pager a {
	font-weight: bold;
	padding: 4px 10px;
	margin: 0 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.pager a:hover {
	text-decoration: none;
	text-shadow: 0 0 6px;
}

.pager .active {
	cursor: default;
}

.pager .active:hover {
	text-shadow: none;
}


.comments-bubble,
.views-bubble {
	font-size: 11px;
	padding-left: 17px;
	display: inline-block;
	background: url('../images/icons/comments.png') 0 1px no-repeat;
	text-decoration: none;
	font-weight: normal !important;
}

.views-bubble {
	background: url('../images/icons/views.png') 0 2px no-repeat;
}

.views-bubble + .comments-bubble{
	margin-left: 12px;
}

.notices-bubble {
	display: inline-block;
	min-width: 10px;
	min-height: 8px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	/*background-color: rgba(94,6,4,1);*/
	padding: 0 4px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px #444;
	text-align: center;
	border: 2px solid;
	border-color: rgba(255,255,255,0.7);
	background: url("../images/button_bg.gif") 0 50%;
	box-shadow: 1px 1px 2px #333;
	line-height: 1.5em;
}

/* Top */
.top-avatar img {
	width: 40px;
	height: 40px;
	left: 6px;
	top: 6px;
}

/* JIP restyle */
.mzz-jip-window hr {
	height: 1px;
	border: none;
	background-color: #ccc;
	margin: 10px 0;
}


/* Content fontsizes */
.gbnews-list .content p,
.gbnews-listShort p,
#article_content p,
#review_content p {
	line-height: 1.5em;
}


/* Common styles */

.loader_16 {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: no-repeat;
}

.icon-question {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.bordered {
	border: 1px solid;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.gray {
	color: #555;
}

.gray-light {
	color: #aaa;
line-height: 1.5em;
}

.red {
	color: red;
}

.blue {
	color: #afafff;
}

.marked, .marked-light {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	padding: 0px 10px;
}

small, .small {
	font-size: 0.85em;
}

.nobr {
	white-space: nowrap;
}

ul.images-list {
	padding-left: 15px;
	margin: 5px 0;
}

ul.images-list li {
	list-style-type: none;
}

.adb-dm {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:90000;
  background: rgba(0, 0, 0, 0.30) !important
}

.adb-dm div{
  width:600px;
  margin:180px auto 0 auto;
  padding:50px;  
  background:#000000;
  border-radius:5px;
  box-shadow:0 0 7px #a0afba;   
}
  
.adb-dm img {float:right; border-radius:5px; margin:0 0 0 35px}

#ssdfsd {
    width: 100%; height: 1056px; background: url('http://gamebomb.ru/images/rv.jpg') 50% 0px no-repeat; position: absolute;
}
.dfgdjkfgh {
    width: 100%; height: 1056px; position: absolute;
}
