.all {min-width:925px;}

/** HEAD */
.container__mini{display:none;}
/** END HEAD */

.mainnews_narrow { width: 676px; height: 400px; margin-right: 4px; display: block; }
.mainnews {display: none;}

/** CONTENT */
.container {margin: 0 auto 43px; width: 925px;}

.foot__about-left {font: normal 11px IntroRegular;}
.footerPage{display:none;}
.blockArticlePage2 {
	width: 925px;	
	padding-top: 30px;
}
.blockArticlePage2 .block_article_footer:nth-child(4), .blockArticlePage2 .block_article_footer:nth-child(8), .blockArticlePage2 .new-section.new-section_8 {
	display: none;
} 
.blockArticlePage2 .block_article_footer {
	width: 298px;
}
.blockArticlePage2 .new-section { 
	width: 294px;
}
/** SLIDER */

.mainslide {min-width: 925px;}

/** END SLIDER */

.post__header {width: 925px; margin: 0;}
.post__header-text {width: 619px; padding: 19px 17px 0;}

.foot_menus {width: 900px; padding: 0px;}
.foot_menu {padding: 10px 15px;}
.foot_menu-first {padding: 10px 15px 10px 0;}
.foot_copy {width: 900px;}
.lb-container { padding: 4px !important; }
.adfox_photo_1 { display: none !important; }
