.all {}

/** HEAD */

.head {}
.head__logo {height: 75px; background: #ffffff; }
.head_bottom_line { height: 14px; background: url(/static/img/full__head_down.png) repeat-x;  }
.logo {width: 200px; height: 20px; margin: 27px 33px; position: absolute;}
.logo18 {width: 37px; height: 28px; margin: 3px 0; top: 0; position: absolute; left: 218px; display: none; }
.butmenu {width: 35px; height: 35px; margin: 20px 25px; top: 0; right: 0; background-size: cover; float: right; cursor: pointer; position: absolute; z-index: 5; }
.butmenu.img { background: url(/static/img/full_menu.png) no-repeat; }
.butmenu img.act, .butmenu.active img.inact { display: none; }
.butmenu.active img.act { display: inline; }  
.butmenu.img.active {background: url(/static/img/full_menu.png) no-repeat -35px 0;}

/** END HEAD */



/** TOP MENU*/ 

.head__menu {width: 282px; max-width: 302px; height: 100%; margin: 0px auto; right: 0; position: fixed; background: none;}
.head__menu-columns {height: 100%;}
.head__menu-bg{width: 282px;max-width: 302px; height: 100%; margin: 0 auto; top:0; right: 0;}
.head_but_menu {width:90%;height:50px;position:absolute;}

.menu {margin-right: 10px; margin-top: 78px; }
.menu a {padding: 7px 0 6px 14px;font: normal 17px "IntroBoldCaps";}
.menu a:hover {background: url('/static/img/menu_bull.png') no-repeat left center;}
.menu__item {padding: 6px 10px;}
.menu__item_highlight a {}

/** END TOP MENU */



/** BRIEFS */

.briefs {max-width:400px; margin: 20px 0 20px; float: left;}
.brief__time {font: normal 24px "IntroSemiBold";}
.brief__title {font: normal 24px "IntroSemiBold";}
.briefs__item {padding: 3px 0 15px 0; width: 298px;}

.brief {}
.brief:hover {}
.brief__time {font: normal 16px  "IntroSemiBold";}
.brief__title {font: normal 16px  "IntroSemiBold";}

.briefs .scroll { height: 300px; overflow-y: scroll; overflow-x: hidden; }
.briefs .scroll::-webkit-scrollbar { width: 1em; }
.brief__title {width: 188px; }
/** END BRIEFS */


/** PARTNERS*/

.partners {}
.partner {width: 130px; font: normal 11px "IntroSemiBold";}
.partner img {width: 130px;}

/** END PARTNERS */


/** FOOTER */

.foot {}
.footerPage {margin:0 auto;width: 1250px;}

/** END FOOTER */

/** ADV */
.adv-after6 {display: block; width:97%; margin: -15px 0 7px 0;}
/** ENDADV */


/** CONTENT */
.container {margin: 0 auto 85px; width: 1250px; top: 80px}
.container__mini {width: 300px; float: left;margin:7px 10px 0 0; background: #fff;}
.container__mini-article {width: 300px;}
.container__mini-main {position: relative; }
.container__big {width: 930px; float: left; position: relative; }

.subtitle {}
.subtitle.nl { background: none; }
.subtitle-title {}


/** SLIDER */

.mainslide {min-width: 1235px;}
.mainnews_narrow { display: none;}
.mainnews {width: 676px; height: 400px; margin-right: 4px;}
.mainnews__item {float: left;}
.mainnews__item_1 {width: 300px; height: 400px; margin-right: 10px;}
.mainnews__item_2 {width: 360px; height: 185px; margin-bottom: 10px;}
.mainnews__item_3 {width: 360px; height: 205px;}
.mainnew {width: 328px; max-width: 518px; padding: 50px 25px 25px 25px; position: absolute; z-index: 10; bottom: 0px; background: url(/static/img/full__gradienth.png) repeat-x top; }
.mainnews__item_1 .mainnew{ width: 257px;}
.mainnews__item_2 .mainnew{}
.mainnews__item_3 .mainnew{}
.mainnew__section {font: normal 14px Baron; padding: 0 0 0 32px; display: none; }
.mainnew__title {min-height: 32px; font: normal 18px IntroBoldCaps; text-transform: uppercase;}
.mainnew__author { color: #b0fd46; font: normal 14px IntroSemiBold; }
.mainnews__item .parallax-img:after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.15); }
.banner-240x400 {display:block;}

.banner__second_2 {float:right;width: 240px; height: 400px; margin-bottom: 10px;}

/** END SLIDER */


/** blogger */

.mainblog {min-width: 1235px;}
.blogger {width: 560px; height: 400px;}
.blogger__image {height: 245px;}
.blogger__name-and-description {padding-top: 35px; padding-left: 35px; }
.blogger__name{font: normal 29px 'IntroRegular';}
.blogger__description {width: 335px;}
.blogger__description p {line-height: 20px; font: normal 17px 'IntroRegular';}
.blogger__same a{width: 490px; margin: 6px 0 0; padding:15px 20px 15px 50px; background: #969696 url('/static/img/full__metka-black.png') no-repeat 20px center; font: normal 16px Intro;}
.blogger__same a:hover {background-color: #666;}
.blogger-articles {padding-left:8px;  width: 1235px;}

.blogger-articles__item {width: 304px; height: 303px; margin-right: 22px;}
.blogger-articles__item:nth-child(4n+4) {margin-right: 0;}

.blogger-articles__title {margin-top: 10px;}
.blogger-articles__title span {padding: 3px 13px; font: normal 14px Baron;}
.blogger-articles__background {width: 304px; height: 203px; margin-top: 55px;}
.blogger-articles__text {width: 275px; height: 203px; margin-top: 22px; padding:13px;}
.blogger-articles__text-title {font: normal 19px Intro;}
.blogger-articles__text-anons {font: normal 17px 'IntroRegular';}

/** END blogger */



/** NEWS */

.container__item {min-width: 1235px; margin: 10px 0;}
.new-quartet{padding-left:8px;  width: 1235px;}

.new-section {width: 300px; height: 205px;/**margin-right: 22px;*/}
/**.new-section:hover{opacity: 0.7;}*/
.new-section .backfonLight:after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.15);}
.new-section .backfonLight:after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.15);}
.new-section .backfonDark:after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.15);}
.articlepage__back:after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.15);}
.articlepage__name:hover .articlepage__back:after { display: none; }

.container__mini .new-section  {width:300px; height: 190px; background: #d2fffa;}
.block02 .new-section:hover, .block08 .new-section:hover {opacity: 1; background: #cefff7!important;}
.container__mini .new-section .new-section__title  {color: #d24a43;}

.new-section__title {text-transform: lowercase;margin-top: 10px; /**line-height: 1.2;*/ padding: 3px 0 2px;background:none;}
.new-section__title span {padding: 3px 13px;
    font: normal 14px Baron;}


.new-section__background {width: 304px; height: 203px; margin-top: 55px;}
.new-section__text {width: 275px; height: 203px;margin-top: 22px; padding:16px 16px 13px 18px; }
.new-section__text_adv {width: 300px; height: 250px;}
.new-section__author { color: #6bab13; font: normal 14px IntroSemiBold; margin-top: -18px; }
.block03 .new-section__author { margin: 0px 0px 5px 0px; } 
.new-section__text-title {font: normal 17px IntroBoldCaps;}
.new-section__text-anons {font: normal 16px 'IntroSemiBold'; padding: 6px 0;line-height: 1.3;}

a.new-section{color:#434343;}


.block01 .new-section_1 {background: #e9e9e9!important; float: left; margin: 5px 10px 5px 12px; height: 172px;}
.block01 .new-section_1:hover {opacity: 1; background: #e1e1e1!important;}
.block01 .new-section_1 .new-section__title{color: #d24a43;}
.block01 .new-section_1 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.3;}

.blockArticlePage  .new-section_1 {float: left; height: 205px; width: 918px; border-right: 2px solid #080403;}
.blockArticlePage  .new-section_1 .new-section__title {color: #d24a43;}
.blockArticlePage  .new-section_1 .new-section__text {width: 320px; color: #333; background: url(/static/img/full__gradientv.png) repeat-y right; margin-top: 0px; padding-top: 38px; }
.blockArticlePage  .new-section_1 .parallax {width: 916px;height: 205px;}
.blockArticlePage  .new-section_1 .parallax-img{width: 1000px;height: 225px; margin-left: -15px;}
.blockArticlePage  .new-section_2 {float: left; margin: 0 0 0 5px; padding: 0; border-right: 2px solid #080403; height: 205px; width:307px;}
.blockArticlePage  .new-section_2 .new-section__title {color: #000; display: none; }
.blockArticlePage  .new-section_2 .new-section__text-anons { display: none; }
.blockArticlePage  .new-section_2 .parallax_intro { position: initial; }
.blockArticlePage  .new-section_2 .new-section__text {color: #333; position: absolute; background: url(/static/img/full__gradienth.png) repeat-x top; height: auto; bottom: 0px; z-index: 11; }
.blockArticlePage  .new-section_2 .parallax {width: 300px;height: 205px; }
.blockArticlePage  .new-section_2 .parallax-img{width: 350px;height: 225px; margin-left: -20px;}
.footerPage .blockArticlePage  .new-section__title {color: #d24a43;}

.footerPage .container__partners {width: 100%; padding-top: 10px;float: left;}
.footerPage .container__partner{float:left; margin: 0 10px  20px 0; display: inline-flex; width:300px; clear: none;}
.footerPage .container__partner img{margin-right: 10px;}

.blockPopular  .new-section_1 {background: #e9e9e9!important; float: left; margin: 10px 10px 10px 0px; height: 175px;}
.blockPopular  .new-section_1:hover {opacity: 1; background: #e1e1e1!important;}
.blockPopular  .new-section_1 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockPopular  .new-section_1 .new-section__title{color: #ffffff;}
.blockPopular  .new-section_2 {background: #fff!important; float: left; margin: 10px 0; height: 175px;}
.blockPopular  .new-section_2:hover {opacity: 1; background: #e8e8e8!important;}
.blockPopular  .new-section_2 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockPopular  .new-section_2 .new-section__title{color: #e9e9e9;}
.blockPopular  .new-section_2:hover .new-section__title {color: #fff;}
.blockPopular  .new-section_3 {background: #e9e9e9!important; float: left; margin: 10px 10px 10px; height: 175px;}
.blockPopular  .new-section_3:hover {opacity: 1; background: #e1e1e1!important;}
.blockPopular  .new-section_3 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockPopular  .new-section_3 .new-section__title{color: #ffffff;}

.blockImageDay { margin-bottom: 10px; }
.blockImageDay  .new-section_1 {float: left; height: 205px; width: 916px; }
.blockImageDay  .new-section_1 .new-section__title {background: #d24a43; color: #fff; z-index: 1; }
.blockImageDay  .new-section_1 .new-section__text {width: 320px; color: #333;}
.blockImageDay  .new-section_1 .new-section__text-title {color: #fff;}
.blockImageDay  .new-section_1 .new-section__text { background: url(/static/img/full__gradientv.png) repeat-y right; }
.blockImageDay  .new-section_2 {background: #fff!important; float: left; margin: 0; margin: 10px 0; height: 175px; width: 298px; }
.blockImageDay  .new-section_2:hover {opacity: 1; background: #e8e8e8!important;}
.blockImageDay  .new-section_2 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockImageDay  .new-section_2 .new-section__title{color: #e9e9e9;}
.blockImageDay  .new-section_2:hover  .new-section__title{color: #fff;}
.blockImageDay  .new-section_3 {background: #e9e9e9!important; float: left; margin: 10px 10px 10px; height: 175px; width: 298px; }
.blockImageDay  .new-section_3:hover {opacity: 1; background: #e1e1e1!important;}
.blockImageDay  .new-section_3 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockImageDay  .new-section_3 .new-section__title{color: #ffffff;}
.blockImageDay  .new-section_4 {background: #fff!important; float: left; margin: 10px 0; height: 175px; width: 298px; }
.blockImageDay  .new-section_4:hover {opacity: 1; background: #e8e8e8!important;}
.blockImageDay  .new-section_4 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.blockImageDay  .new-section_4 .new-section__title{color: #e9e9e9;}
.blockImageDay  .new-section_4:hover .new-section__title {color: #fff;}
.blockImageDay  .new-section_5 {float: left; margin: 0; padding: 0; height: 205px; width: 297px; border-right: 1px #000 solid; }
.blockImageDay  .new-section_5 .new-section__title {color: #000; display: none; }
.blockImageDay  .new-section_5 .parallax_intro { position: initial; }
.blockImageDay  .new-section_5 .new-section__text-anons { display: none; }
.blockImageDay  .new-section_5 .new-section__text {color: #333;}
.blockImageDay  .new-section_5 .new-section__text { background: url(/static/img/full__gradienth.png) repeat-x top; height: auto; position: absolute; bottom: 0px; z-index: 11; }
.blockImageDay  .new-section_6, .blockImageDay  .new-section_8 {background: #fff!important; float: left; margin: 0; height: 204px; margin-left: 10px; width: 298px; }
.blockImageDay  .new-section_6:hover, .blockImageDay  .new-section_8:hover {opacity: 1; background: #e8e8e8!important;}
.blockImageDay  .new-section_6 .new-section__text-anons, .blockImageDay  .new-section_8 .new-section__text-anons {height: 70px; overflow: hidden; line-height: 1.2;}
.blockImageDay  .new-section_6 .new-section__title, .blockImageDay  .new-section_8 .new-section__title {color: #e9e9e9;}
.blockImageDay  .new-section_6:hover  .new-section__title, .blockImageDay  .new-section_8:hover  .new-section__title {color: #fff;}
.blockImageDay  .new-section_7 {background: #e9e9e9!important; float: left; margin: 0 0px 0 10px; height: 205px; width: 300px; }
.blockImageDay  .new-section_7:hover {opacity: 1; background: #dddddd!important;}

.blockImageDay  .new-section_7 .new-section__effect-hover{display:none;}
.blockImageDay  .new-section_7 .new-section__title{color: #fff;}

.blockImageDay  .new-section_1 .parallax {width: 916px;height: 205px;}
.blockImageDay  .new-section_1 .parallax-img{width: 1000px;height: 225px; margin-left: -18px; }
.blockImageDay  .new-section_5 .parallax {width: 300px;height: 205px;}
.blockImageDay  .new-section_5 .parallax-img{width: 350px;height: 225px; margin-left: -25px; }

.blockImageDay .new-section__text {padding: 38px 16px 13px 18px; margin-top: 0px;  }
.new-section__title span {padding: 3px 18px;}

.block03 { margin-bottom: 10px; width: 605px; float: left; }
.block03 .new-section_1, .block15 .new-section_1, .block15 .new-section_4 {height: 350px; width: 605px;}
.block15 .new-section_4 { margin-top: 10px; }
.block03 .new-section_1 .new-section__title, .block15 .new-section_1 .new-section__title {background: #d24a43; color: #fff;}
.block03 .new-section_2 .new-section__title, .block15 .new-section_2 .new-section__title {color: #fff;  }
.block03 .new-section_2 .parallax_intro, .block05 .parallax_intro, .block11 .parallax_intro,
.block04 .new-section_3 .parallax_intro,
.block15 .new-section_2 .parallax_intro,
.block12 .new-section_3 .parallax_intro { position: initial; }
.block03 .new-section_2 .new-section__title { display: none; }
.block05 .new-section__title, .block11 .new-section__title { z-index: 100; }
.block03 .new-section_2 .new-section__text-anons, .block05 .new-section__text-anons, .block11 .new-section__text-anons, .block15 .new-section_2 .new-section__text-anons { display: none; }
.block03 .new-section_2 .new-section__text, .block05 .new-section__text, .block11 .new-section__text, 
.block04 .new-section_3 .new-section__text,
.block15 .new-section_2 .new-section__text,
.block12 .new-section_3 .new-section__text {
    background: url(/static/img/full__gradienth.png) repeat-x top;
    height: auto;
    position: absolute;
    bottom: 0px;
    z-index: 11;
}
.block15 { margin-top: 10px; width: 605px; }
.block03  .new-section__effect, .block15  .new-section__effect {width: 601px;}
/*.block03 .new-section_1-text, .block15 { height: 175px; width: 603px; padding:10px 0; color: #333;}*/
.block03 .new-section_1 .new-section__text, .block15 .new-section_1 .new-section__text, .block15 .new-section_4 .new-section__text {margin-top: 0; width: 350px;}
.block03 .new-section_2, .block15 .new-section_2 {float: left; margin: 0; padding: 0; height: 205px; width: 296px; border-right: 1px #000 solid; }
.block03 .new-section_2 .new-section__text, .block15 .new-section_2 .new-section__text{color: #333;}
.block03 .new-section_3, .block15 .new-section_3 {background: #e9e9e9!important; float: left; margin: 0 0 0 10px; height: 205px; width: 298px;}
.block03 .new-section_3:hover, .block15 .new-section_3:hover {opacity: 1; background: #dddddd!important;}
/*
.container__big .block__section_culture .block03  .new-section_3:hover, .container__big .block__section_culture .block15  .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_incidents .new-section_3:hover, .container__big .block15.new-section_incidents .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_sport .new-section_3:hover , .container__big .block15.new-section_sport .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_culture .new-section_3:hover, .container__big .block15.new-section_culture .new-section_3:hover {background: #f00!important;}
.container__big .block03.new-section_showbiz .new-section_3:hover, .container__big .block15.new-section_showbiz .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_society .new-section_3:hover, .container__big .block15.new-section_society .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_photo .new-section_3:hover, .container__big .block15.new-section_photo .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_tech .new-section_3:hover, .container__big .block15.new-section_tech .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_polit .new-section_3:hover, .container__big .block15.new-section_polit .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_realty .new-section_3:hover, .container__big .block15.new-section_realty .new-section_3:hover {background: #e0ffc2!important;}
.container__big .block03.new-section_regions .new-section_3:hover, .container__big .block15.new-section_regions .new-section_3:hover {background: #e0ffc2!important;}
*/

/*.block03 .new-section_3 .new-section__title, .block15 .new-section_3 .new-section__title {color: #d24a43;}*/
.block03 .new-section_1-text .new-section__text, .block15 .new-section_1-text .new-section__text, .block15 .new-section_2-text .new-section__text {width: 420px; height: 118px; margin-top: 0; padding: 16px 16px 13px 18px;}


.block03  .new-section_1 .parallax, .block03  .new-section_2 .parallax, .block15  .new-section_1 .parallax, .block15  .new-section_2 .parallax, .block15  .new-section_4 .parallax {width: 605px;height: 205px;overflow:hidden;}
.block03  .new-section_1 .parallax-img, .block15  .new-section_1 .parallax-img, .block15  .new-section_4 .parallax-img {width: 655px;height: 225px; margin-left: -6px; }
.block03  .new-section_2 .parallax-img { width: 350px; height: 250px; margin-left: -25px; }
.block03.block__section  .new-section_4 .parallax-img, .block03.block__section .new-section_5 .parallax-img { width: 350px;height: 225px; }
.block03.block__section .new-section_5 { margin-left: 10px; }
.block03.block__section .new-section { height: 395px; width: 297px; }
.block03.block__section .new-section.new-section_5 { width: 298px; }
.block03.block__section .new-section__text { margin-top: 225px; }
.block03.block__section .new-section_4 .new-section__text, .block03.block__section .new-section_5.news__section_5 .new-section__text { background-color: #e9e9e9!important; }
.block03.block__section .new-section_4.news__section_4 .new-section__text { background-color: #fff!important; }
.block03.block__section .new-section_4 .new-section__text:hover, .block03.block__section .new-section_5.news__section_5 .new-section__text:hover {opacity: 1; background: #e1e1e1!important;}
.block03.block__section .new-section_5 .new-section__text:hover {opacity: 1; background: #e9e9e9!important;}
.block03.block__section .new-section_4.news__section_4 .new-section__text:hover {opacity: 1; background: #e9e9e9!important;}
.section_leftblock{float:left; width: 300px;}

.block04 .new-section_1,  
.block09 .new-section_1, 
.block10 .new-section_1,
.block12 .new-section_1, 
.block13 .new-section_1, 
.block14 .new-section_1 {float: left; margin: 0; padding: 0; height: 369px; width: 297px;}

.block04 .new-section_1 .new-section__title,  
.block09 .new-section_1 .new-section__title, 
.block10 .new-section_1 .new-section__title,
.block12 .new-section_1 .new-section__title, 
.block13 .new-section_1 .new-section__title, 
.block14 .new-section_1 .new-section__title {background: #d24a43; color: #fff;}

.block04 .new-section_1 .new-section__text, 
.block09 .new-section_1 .new-section__text, 
.block10 .new-section_1 .new-section__text, 
.block12 .new-section_1 .new-section__text, 
.block13 .new-section_1 .new-section__text, 
.block14 .new-section_1 .new-section__text {margin: 0; color: #333;}

.block04 .new-section_1-rubric, 
.block09 .new-section_1-rubric, 
.block10 .new-section_1-rubric, 
.block12 .new-section_1-rubric, 
.block13 .new-section_1-rubric, 
.block14 .new-section_1-rubric {height: 205px; }

.block04 .new-section_3,  
.block09 .new-section_3,
.block10 .new-section_3, 
.block12 .new-section_3, 
.block13 .new-section_3, 
.block14 .new-section_3 {float: left; padding: 0; height: 97px; width: 296px;}

.block04 .new-section_3 .new-section__title,  
.block09 .new-section_3 .new-section__title, 
.block10 .new-section_3 .new-section__title, 
.block12 .new-section_3 .new-section__title, 
.block13 .new-section_3 .new-section__title, 
.block14 .new-section_3 .new-section__title {color: #d24a43;}

.block04 .new-section_3 .new-section__text,  
.block09 .new-section_3 .new-section__text, 
.block10 .new-section_3 .new-section__text, 
.block12 .new-section_3 .new-section__text, 
.block13 .new-section_3 .new-section__text, 
.block14 .new-section_3 .new-section__text {margin-top: 15px;}

.block14{margin-bottom: 5px;}

.block04 .new-section_3 .new-section__title, .block10 .new-section_3 .new-section__title, .block12 .new-section_3 .new-section__title  {background: url('/static/img/menu_bull.png') no-repeat left center;height: 19px; margin-left: 17px;}

.block04 .new-section_3 .new-section__title span, .block10 .new-section_3 .new-section__title span, .block12 .new-section_3 .new-section__title span {font-size: 0;}

.block04 .new-section_3 .new-section__text-title, 
.block10 .new-section_3 .new-section__text-title, 
.block12 .new-section_3 .new-section__text-title {color: #fff; font-size: 16px;}

.block04 .new-section_3 .new-section__text-anons, 
.block10 .new-section_3 .new-section__text-anons, 
.block12 .new-section_3 .new-section__text-anons {display: none;}

.block04 .new-section_2, 
.block04  .new-section_4,  
.block09 .new-section_2, 
.block10 .new-section_2, 
.block10  .new-section_4, 
.block12 .new-section_2, 
.block12  .new-section_4,
.block13 .new-section_2, 
.block14 .new-section_2 {background: #e9e9e9!important; float: left; margin: 0; height: 200px; width: 297px;}
.block04 .new-section_2:hover, 
.block04  .new-section_4:hover,  
.block09 .new-section_2:hover, 
.block10 .new-section_2:hover, 
.block10  .new-section_4:hover, 
.block12 .new-section_2:hover, 
.block12  .new-section_4:hover,
.block13 .new-section_2:hover, 
.block14 .new-section_2:hover {opacity: 1; background: #dddddd!important;}

.block04 .new-section_2 .new-section__title, 
.block04  .new-section_4 .new-section__title, 
.block09 .new-section_2 .new-section__title, 
.block09 .new-section_4 .new-section__title, 
.block10 .new-section_2 .new-section__title, 
.block10  .new-section_4 .new-section__title, 
.block12 .new-section_2 .new-section__title, 
.block12  .new-section_4 .new-section__title, 
.block13 .new-section_2 .new-section__title, 
.block13 .new-section_4 .new-section__title, 
.block14 .new-section_2 .new-section__title, 
.block14 .new-section_4 .new-section__title {color: #d24a43;}


.block04  .new-section_1 .parallax,
.block09  .new-section_1 .parallax,
.block10  .new-section_1 .parallax,
.block12  .new-section_1 .parallax,
.block13 .new-section_1 .parallax,
.block14  .new-section_1 .parallax {width: 296px;height: 205px;overflow:hidden;border-right: 2px solid #080403;}

.block04  .new-section_1 .parallax-img,
.block09  .new-section_1 .parallax-img,
.block10  .new-section_1 .parallax-img,
.block12  .new-section_1 .parallax-img,
.block13 .new-section_1 .parallax-img,
.block14  .new-section_1 .parallax-img, .block15  .new-section_2 .parallax-img {width: 350px;height: 250px; margin-left: -25px;}

.block04  .new-section_3 .parallax,
.block10  .new-section_3 .parallax,
.block12  .new-section_3 .parallax {height: 97px; width: 296px;overflow:hidden;}

.block04  .new-section_3 .parallax-img,
.block10  .new-section_3 .parallax-img,
.block12  .new-section_3 .parallax-img {width: 330px; height: 125px; margin-left: -12px;}


.blockImageDay .new-section_1 .new-section__text,
.blockImageDay .new-section_5 .new-section__text,
.block03 .new-section_2 .new-section__text,
.block05 .new-section__text,
.block11 .new-section__text,
.block15 .new-section_2 .new-section__text,
.blockArticlePage .new-section .new-section__text {color: #ccc;}

.blockImageDay .new-section_1 .new-section__text-title,
.blockImageDay .new-section_5 .new-section__text-title,
.block03 .new-section_2 .new-section__text-title,
.block05 .new-section__text-title,
.block11 .new-section__text-title,
.block15 .new-section_2 .new-section__text-title,
.blockArticlePage .new-section .new-section__text-title  {color: #fff;}

.section_leftblock-margin {height:10px;float: left; width: 296px;}

.section__block01 .new-section_1{height: 392px; width: 682px; border-left: 2px solid #d24a43;margin-right: 5px;}
.section__block01 .new-section_1 .new-section__title {background: #d24a43; color: #fff;}
.section__block01 .new-section_1 .new-section__text-title {padding: 75px 0 0 100px;}
.section__block01 .new-section__effect {width: 673px;}
.section__block01 .new-section_1-text {height: 175px; width: 603px; padding:10px 0; color: #333;}
.section__block01 .new-section_1 .new-section__text {margin-top: 0; width: 650px;}
.section__block01 .new-section__text-anons {width: 550px;float: left; line-height: 1.2;}
.section__block01  .new-section_1 .parallax {width: 676px;height: 205px;overflow:hidden;}
.section__block01  .new-section_1 .parallax-img {width: 729px;height: 225px;}
.section__block01  .new-section_1 .new-section-border{border-right: 2px solid #080403;width: 676px;}

.section__block02 .new-section {height: 315px; width: 613px; border-left: 2px solid #d24a43;margin-right: 5px;}
.section__block02 .new-section .new-section__title {background: #d24a43; color: #fff;}
.section__block02 .new-section .new-section__text-title {padding: 75px 0 0 100px;color: #fff;}
.section__block02 .new-section__effect {width: 603px;}
.section__block02 .new-section-text {height: 90px; width: 603px; padding:10px 0; color: #333;}
.section__block02 .new-section .new-section__text {margin-top: 0; width: 560px; height: 78px; padding: 3px 16px 10px 33px;}
.section__block02 .new-section__text-anons {width: 490px; float: left; line-height: 1.2;}
.section__block02  .new-section .parallax {width: 606px;height: 205px;overflow:hidden;}
.section__block02  .new-section .parallax-img {width: 649px;height: 225px;}
.section__block02  .new-section .new-section-border{border-right: 2px solid #080403;width: 606px;}

.section__block02{margin-top: 10px;}

.block05, .block11 {margin: 0 0 10px 0;}
.block05 .new-section_1, .block11 .new-section_1 {float: left; padding: 0; height: 307px; width: 296px;}
.block05 .new-section_1 .new-section__title, .block11 .new-section_1 .new-section__title {background: #d24a43; color: #fff;}
.block05  .new-section_1 .parallax, .block11  .new-section_1 .parallax {width: 296px;height: 307px;overflow:hidden;border-right: 2px solid #080403;}
.block05  .new-section_1 .parallax-img, .block11 .new-section_1 .parallax-img {width: 350px;height: 350px; margin-left: -25px; }

.block06 .new-section_1, .block07 .new-section_1 {background: #e9e9e9!important; float: left; margin: 5px 0 0; height: 190px;}
.block06 .new-section_1 { height: 173px; }
.block06 .new-section_1:hover, .block07 .new-section_1:hover {opacity: 1; background: #e1e1e1!important;}
.block06 .new-section_1, .block07 .new-section_1 {margin: 0px 0 0;}
.block06 .new-section_1 .new-section__text-anons, .block07 .new-section_1 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.block06 .new-section_1 .new-section__title, .block07 .new-section_1 .new-section__title {color: #d24a43;  }
.block06 .new-section_1, .block06 .new-section_2  { width: 297px; }
.block06 .new-section_2 .new-section__title { display: none; }

.block07 .new-section_1 {margin: 10px 0 10px;}

.block01-article .new-section {margin: 0 0 5px;}
.block01-article .new-section_1 {background: #d2fffa!important; float: left; height: 197px;}
.block01-article .new-section_1:hover {opacity: 1; background: #cefff7!important;}
.block01-article .new-section_1 .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.block01-article .new-section_1 .new-section__title {color: #d24a43;}

.block02-article .new-section {margin: 0 0 5px;}
.block02-article .new-section  {width:300px; height: 198px; background: #e9e9e9;}
.block02-article .new-section:hover {opacity: 1; background: #e1e1e1!important;}

.block03-article .new-section {margin: 0 0 5px;}
.block03-article .new-section  {width:300px; height: 198px; background: #e9e9e9;}
.block03-article .new-section:hover {opacity: 1; background: #e1e1e1!important;}
.block03-article .new-section__title {color: #d24a43;}

.block01-section {width:310px;}
.block01-section .new-section_1{background: #d2fffa!important; float: left; margin: 5px 0 0; height: 190px;width:310px;}
.block01-section .new-section_1:hover {opacity: 1; background: #cefff7!important;}
.block01-section .new-section_2 {background: #e9e9e9!important; float: left; margin: 5px 0 0; height: 190px;width:310px;}
.block01-section .new-section_2:hover {opacity: 1; background: #e1e1e1!important;}
.block01-section .new-section_3{background: #d2fffa!important; float: left; margin: 5px 0 0; height: 190px;width:310px;}
.block01-section .new-section_3:hover {opacity: 1; background: #cefff7!important;}
.block01-section .new-section_4 {background: #e9e9e9!important; float: left; margin: 5px 0 0; height: 190px;width:310px;}
.block01-section .new-section_4:hover {opacity: 1; background: #e1e1e1!important;}
.block01-section .new-section{margin: 0;}
.block01-section .new-section .new-section__text-anons {height: 70px; overflow: hidden;line-height: 1.2;}
.block01-section .new-section .new-section__title {color: #d24a43;}
.block01-section .new-section_2 {margin: 5px 0 10px;}

.main_block-left {width: 610px; float: left; }
.main_block-right {width: 300px; float: left; margin-left: 10px;}
.section_rightblock {float: left; width: 295px; margin-left: 10px;}

.articlepage__name{width:683px; height: 400px; position: relative;}
.articlepage__alt { color: #bababa; line-height: 23px;  font: normal 10px IntroRegular; padding: 5px 0px; }
.articlepage__rubric .articleslide__section {float:left;}
.articlepage__name .articlepage__rubric {position:relative;}
.articlepage__add {float:left; margin: 9px 0 0 5px;}
.articlepage__date {text-transform: uppercase; color: #fff; font-size: 8px;padding: 2px 0 0; font: normal IntroSemiBold;}
.articlepage__look {text-transform: uppercase; color: #fff; font-size: 12px; line-height: 10px; display:none;}
.articlepage__look span{font: normal 12px Baron;}
.articlepage__title {font: normal 24px IntroBoldCaps; color:#fff; background: url('/static/img/full__metka-white.png') no-repeat 20px center; margin: 0px 15px 15px 15px; padding:0;  }
.articlepage__title_bg { background: url(/static/img/full__gradienth.png) repeat-x top; position: absolute; bottom: 0px; padding-top: 30px; width: 100%; }
.article__nophoto.articlepage__title_bg { position: relative; background: none; padding-top: 0px; }
.articlepage__title p {padding-left: 55px; margin: 0; padding-top: 6px; line-height: 1.5;}
.article-like {margin:0; float:left;}
.articlepage__name .article-like {right: 10px; position: absolute; top: 10px;}
.articlepage__name .article-like .btn-like, .articlepage__name .article-like .btn-unlike { display: block; }
.articlepage__name .article-like #comment-btn { background: url(/static/img/comment.png) no-repeat; display: block; height: 49px; padding-left: 55px; font-size: 17px; font-weight: bold; color: #fff; line-height: 49px; font-family: Arial; }
.articlepage__name .article-like .lb-count, .articlepage__name .article-like #comment-btn { text-shadow: -3px 2px 2px rgba(150, 150, 150, 1); }
.article__author { color: #989898; font: normal 14px IntroCondRegular; margin-bottom: 15px; }
.article__author .artilce__time { float: right; }


.article__blogger { margin: 15px 0px; }
.article__blogger { color: #434343; font: normal 15px IntroRegular; }
.article__blogger img { border-radius: 115px; border: 8px #e2e2e2 solid; float: left; margin-right: 15px; }
.article__blogger h1 { text-transform: uppercase; color: #fa4d40; font: normal 17px IntroBoldCaps; }
.article__blogger h1 span { color: #c9c9c9; font: normal 17px IntroRegular; }

.authors__blogger { margin-bottom: 35px; }
.authors__blogger:last-child { margin-bottom: 0px; }
.authors__blogger { color: #808080; font: normal 14px IntroRegular; }
.authors__blogger img { border-radius: 90px; border: 8px #e2e2e2 solid; float: left; margin-right: 15px; width: 75px; height: 75px; }
.authors__blogger h1 a { text-transform: uppercase; color: #454545; font: normal 17px IntroBoldCaps; }
.authors__blogger a { color: #fa4d40;  }
.authors__blogger .blogger__annotation { margin-left: 105px; }
.authors__blogger a.blogger_article { display: block; margin-top: 15px; }

.block_bloggers { background-color: #e9e9e9; padding: 60px 1px 20px 0px; margin-bottom: 10px; float: left; position: relative; }
.block_bloggers .new-section__title { background-color: #6bab13; top: 0px; color: #fff; }
.block__blogger { padding: 0px 15px 0px 15px; float: left; width: 275px; }
.block__blogger:last-child { margin-right: 0px; }
.block__blogger { color: #838383; font: normal 12px IntroRegular; }
.block__blogger img { border-radius: 60px; border: 3px #c7ced1 solid; float: left; margin-right: 15px; width: 60px; height: 60px; }
.block__blogger h1 { text-transform: uppercase; color: #434343; font: normal 12px IntroBoldCaps; }
.block__blogger a h2 { display: block; margin-top: 15px; text-transform: uppercase; color: #434343; font: normal 17px IntroBoldCaps; clear: both; }


.article__person { margin: 15px 0px; position: relative; height: 210px; }
.article__person { color: #434343; font: normal 15px IntroRegular; }
.article__person img { float: left; margin-right: 15px; }
.article__person img.zodiac { float: none; margin-right: 0px; position: relative; top: 2px; }
.article__person h1 { text-transform: uppercase; color: #fa4d40; font: normal 17px IntroBoldCaps; }
.article__person h1 span { color: #c9c9c9; font: normal 17px IntroRegular; display: block; }
.article__person .person_info { list-style: none; position: absolute; bottom: 0px; color: #818181; left: 230px; }
.article__person .person_info span { color: #454545; }
.person .subtitle-title_more { background: url(/static/img/more_person.png) no-repeat top center; text-indent: 0px; margin-top: 20px; }
.article__text .news__popular__person { border: 1px #efefef solid; padding: 10px;  display: block; height: 50px; overflow-y: hidden; }
.article__text .news__popular__person img {float: left; margin-right: 10px; }
.article__text .news__popular__person h2 { font: normal 13px IntroBoldCaps; color: #434343; text-transform: uppercase; display: table-cell; height: 50px; vertical-align: middle; }
.article__text .news__popular__person span { color: #c9c9c9; display: block; height: 19px; overflow: hidden; }
.article__text .zoom { position: relative; }
.article__text .zoom:hover a:after { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: #fff url(/static/img/zoom.png) no-repeat center center; opacity: 0.66; cursor: zoom-in; cursor: -moz-zoom-in; cursor: -webkit-zoom-in; }

.subtitle-title.subtitle-title-person { color: #c9c9c9; }

.container__big .new-section_economy .new-section__title, .articleslide__section-economy {background: #3e94cf; color: #fff;}
/**.container__big .new-section_economy .new-section__title:hover, .articleslide__section-economy:hover {background: #99ccff; color: #fff;}*/
.container__section .new-section_economy, .articlepage__name-economy {border-left: 2px solid #3e94cf;}
.container__big .new-section_incidents .new-section__title, .articleslide__section-incidents {background: #b00000; color: #fff;}
/**.container__big .new-section_incidents .new-section__title:hover, .articleslide__section-incidents:hover {background: #ffcccc; color: #fff;}*/
.container__section .new-section_incidents, .articlepage__name-incidents {border-left: 2px solid #b00000;}
.container__big .new-section_sport .new-section__title , .articleslide__section-sport {background-color: #1d9280; color: #fff;}
/**.container__big .new-section_sport .new-section__title:hover , .articleslide__section-sport:hover {background-color: #99ffcc; color: #fff;}*/
.container__section .new-section_sport, .articlepage__name-sport {border-left: 2px solid #1d9280;}
.container__big .new-section_culture .new-section__title, .articleslide__section-culture {background: #6a5746; color: #fff;}
/**.container__big .new-section_culture .new-section__title:hover, .articleslide__section-culture:hover {background: #cccc99; color: #fff;}*/
.container__section .new-section_culture, .articlepage__name-culture {border-left: 2px solid #6a5746;}
.container__big .new-section_showbiz .new-section__title, .articleslide__section-showbiz {background: #551784; color: #fff;}
/**.container__big .new-section_showbiz .new-section__title:hover, .articleslide__section-showbiz:hover {background: #ccccff; color: #fff;}*/
.container__section .new-section_showbiz, .articlepage__name-showbiz {border-left: 2px solid #551784;}
.container__big .new-section_society .new-section__title, .articleslide__section-society {background: #76a034; color: #fff;}
/**.container__big .new-section_society .new-section__title:hover, .articleslide__section-society:hover {background: #ccff99; color: #fff;}*/
.container__section .new-section_society, .articlepage__name-society {border-left: 2px solid #76a034;}
.container__big .new-section_photo .new-section__title, .articleslide__section-photo {background: #ff6600; color: #fff;}
/**.container__big .new-section_photo .new-section__title:hover, .articleslide__section-photo:hover {background: #ffffcc; color: #fff;}*/
.container__section .new-section_photo, .articlepage__name-photo {border-left: 2px solid #ff6600;}
.container__big .new-section_tech .new-section__title, .articleslide__section-tech {background: #6c6c6c; color: #fff;}
/**.container__big .new-section_tech .new-section__title:hover, .articleslide__section-tech:hover {background: #cccccc; color: #fff;}*/
.container__section .new-section_tech, .articlepage__name-tech {border-left: 2px solid #6c6c6c;}
.container__big .new-section_polit .new-section__title, .articleslide__section-polit {background: #3656a9; color: #fff;}
/**.container__big .new-section_polit .new-section__title:hover, .articleslide__section-polit:hover {background: #99ccff; color: #fff;}*/
.container__section .new-section_polit, .articlepage__name-polit {border-left: 2px solid #3656a9;}
.container__big .new-section_realty .new-section__title, .articleslide__section-realty {background: #fb8f04; color: #fff;}
/**.container__big .new-section_realty .new-section__title:hover, .articleslide__section-realty:hover {background: #ffcc99; color: #fff;}*/
.container__section .new-section_realty, .articlepage__name-realty {border-left: 2px solid #ffcc99;}
.container__big .new-section_regions .new-section__title, .articleslide__section-regions {background: #6EAF20; color: #fff;}
/**.container__big .new-section_regions .new-section__title:hover, .articleslide__section-regions:hover {background: #ccffcc; color: #fff;}*/
.container__section .new-section_regions, .articlepage__name-regions {border-left: 2px solid #6EAF20;}
.container__big .new-section_release .new-section__title, .articleslide__section-release {background: #555555; color: #fff;}
/**.container__big .new-section_release .new-section__title:hover, .articleslide__section-release:hover {background: #ccffcc; color: #fff;}*/
.container__section .new-section_release, .articlepage__name-release {border-left: 2px solid #555555;}
.container__section .new-section_bloggers, .articlepage__name-bloggers {border-left: 2px solid #6bab13;}
.container__big .new-section_bloggers .new-section__title, .articleslide__section-bloggers {background: #6bab13; color: #fff;}
.container__big .new-section_theme .new-section__title, .articleslide__section-theme {background: #59867b; color: #fff;}
.container__section .new-section_theme, .articlepage__name-theme, .new.new-section_theme {border-left: 2px solid #59867b;}
.new.new-section_theme .new__rubric-title { margin-top: 20px; }
.container__big .new-section_horoscope .new-section__title, .articleslide__section-horoscope {background: #6F8bd8; color: #fff;}
.container__section .new-section_horoscope, .articlepage__name-horoscope {border-left: 2px solid #6F8bd8;}
.container__big .new-section_archive .new-section__title, .articleslide__section-archive {background: #58867b; color: #fff;}
.container__section .new-section_archive, .articlepage__name-archive {border-left: 2px solid #58867b;}
.container__big .new-section_auto .new-section__title, .articleslide__section-auto {background: #6F8bd8; color: #fff;}
.container__section .new-section_auto, .articlepage__name-auto {border-left: 2px solid #6F8bd8;}

.article__rubric.release { border-left: 2px solid #555555; width: 550px; }
.article__rubric.release .articleslide__section { background: #555555; }

.block__section_economy{border-left: 3px solid #3e94cf; border-right: 1px solid #3e94cf; float: left;}
.block__section_incidents{border-left: 3px solid #b00000; border-right: 1px solid #b00000; float: left;}
.block__section_sport {border-left: 3px solid #1d9280; border-right: 1px solid #1d9280; float: left;}
.block__section_culture{border-left: 3px solid #6a5746; border-right: 1px solid #6a5746; float: left;}
.block__section_showbiz{border-left: 3px solid #551784; border-right: 1px solid #551784; float: left;}
.block__section_society{border-left: 3px solid #76a034; border-right: 1px solid #76a034; float: left;}
.block__section_photo{border-left: 3px solid #ff6600; border-right: 1px solid #ff6600; float: left;}
.block__section_tech{border-left: 3px solid #6c6c6c; border-right: 1px solid #6c6c6c; float: left;}
.block__section_polit{border-left: 3px solid #3656a9; border-right: 1px solid #3656a9; float: left;}
.block__section_realty{border-left: 3px solid #fb8f04; border-right: 1px solid #fb8f04; float: left;}
.block__section_regions{border-left: 3px solid #6EAF20; border-right: 1px solid #6EAF20; float: left;}
.block__section_auto{border-left: 3px solid #6F8bd8; border-right: 1px solid #6F8bd8; float: left;}
.block__section_bloggers{border-left: 3px solid #6bab13; border-right: 1px solid #6bab13; float: left;}
.block__section_horoscope{border-left: 3px solid #6F8bd8; border-right: 1px solid #6F8bd8; float: left;}


.container__partners {}
.container__partners-line .container__partner{ display: inline-block; margin: 15px;}
.container__partners-1{}
.container__partners-2{margin-left:22px;}
.container__partner {margin: 5px 0; font: normal 12px "IntroSemiBold"; overflow: hidden; line-height: 16px;}
.container__partner img {width: 110px; height: 80px;}
.container__partners-margin{width:100%; display:inline-block;}
.container__mini .container__partner a{text-align: right; display: block;}

.container__mini-article .container__partners {padding-top: 8px;}


.article-reklame .container__partner {width: 100%; height:auto; margin: 10px 0;}
.article-reklame .container__partner img {margin-right: 5px; float: left;}
.container__partner-active img {width: 104px; height: 74px; border: 3px solid #d24a43;}

/** END NEWS */


/** ARTICLE & NEW ONE */

.articleslide {min-width: 1235px; height:401px;}
.articleslide__section {margin-top: 10px; padding:3px 0 2px;}
.articleslide__section span {padding: 3px 13px; font: normal 14px Baron;}
.articleslide_title {margin: 15px 15px 15px 15px; padding: 3px 0; font: normal 24px IntroSemiBold;}

.article {width:625px; margin:0px; margin-top: 7px; float: left; }
.article .line{width: 685px; margin: 0px 0 0 -8px; float: left;}
.article__anons {font: normal 17px IntroCondRegular; line-height: 1.3; color: #454545; text-indent: 30px;margin-top: 10px;}
.article__anons i{font-style: normal;}
.article__anons a, .article__text a { color: #ff8b85; } 
.article__rubric{  float:left; width:500px; margin-top: 3px; }
.article__rubric-add {float:left; margin: 5px 0 0 5px;}
.article__rubric-date {text-transform: uppercase; color: #454545; font: normal 8px IntroCondRegular;padding: 5px 0 0;}
.article__rubric-look {text-transform: uppercase; color: #d24a43; font-size: 12px; line-height: 10px; display:none;}
.article__rubric-look span{font: normal 12px Baron;}
.article__rubric .articleslide__section { float: left; }
.article__rubric .articleslide_title { padding-left: 35px; background: url('/static/img/full__metka-black.png') 4px 6px no-repeat; font: normal 20px IntroBoldCaps; text-transform: uppercase; }

.photoone{width:610px; margin:0px; margin-top: 7px;}
.photolist{width:604px; margin:0px; margin-top: 7px; border-bottom: 1px solid #e8e8e8; float: left;}
.photolist:nth-last-child(2) { border-bottom: 0px none; }

.new {width:625px; margin-top: 7px; float: left; }
.new .line{width: 685px; margin: 0px 0 0 -8px; float: left;}
.new__rubric{margin:0 25px; float:left; width:580px;}
.new__rubric-add {float:left; margin: 22px 0 0 5px;}
.new__rubric-date {text-transform: uppercase; color: #888888; font: normal 16px IntroSemiBold; padding: 2px 0 0;}
.new__rubric-look {text-transform: uppercase; color: #d24a43; font-size: 12px; line-height: 10px; display:none;}
.new__rubric-look span{font: normal 12px Baron;}
.new__rubric-title {margin: 0px 15px 15px 44px; padding: 3px 0; font: normal 20px IntroBoldCaps;}
.new-like {margin:0; float:left;}
.new__text {width: 585px; float: left; padding: 0 10px;}
.new__text .subtitle{width: 597px; margin-top: 10px;}
.new__text .subtitle__line {width: 597px;}
.new__text .line {width: 597px;}
.new__text .line_bottom {margin-top: 9px; margin-bottom: 20px;}
.newlist_add {float:left; margin: 3px 0 0 5px;}
.newlist_add-date {text-transform: uppercase; color: #888888; font: normal 14px IntroSemiBold; /*padding: 2px 0 0;*/}
.newlist_add-look {text-transform: uppercase; color: #d24a43; font-size: 12px; line-height: 10px; display:none;}
.newlist_add-look span{font: normal 12px Baron;}
.newlist__item-title {margin: 0px 15px 15px 44px; padding: 3px 0; font: normal 18px IntroBoldCaps;}

.bloggerlist__item-title { margin: 0px 0px 6px 0px; padding: 0px; font-size: 17px; text-transform: uppercase; }
.bloggerlist__item-anons { text-indent: 0px; margin-bottom: 30px; }
.bloggerlist__item-anons b { color: #fa4d40 }
.bloggerlist_add { margin: 0px; }
.bloggerlist_add .newlist_add-date { font-family: 'IntroRegular'; text-transform: none; }

.sotial {margin: 36px auto; width: 350px; color: #929292; font: normal 12px IntroRegular;}
.sotial-bottom {width: 415px; margin:0 auto; padding: 2px; border-radius: 20px 20px 0 0; height: 120px;}
.sotial-bottom .sotial{margin: 25px 15px 15px;}
.sotial_vk {margin:0 4px 0 10px; padding: 13px 20px; background: url(/static/img/sotial-mini.png) no-repeat 0 -43px;}
.sotial_fb {margin:0 4px; padding: 13px 20px; background: url(/static/img/sotial-mini.png) no-repeat -45px -43px;}
.sotial_tw {margin:0 4px; padding: 13px 20px; background: url(/static/img/sotial-mini.png) no-repeat -90px -43px;}
.sotial_ok {margin:0 0 0 4px; padding: 13px 20px; background: url(/static/img/sotial-mini.png) no-repeat -135px -43px;}
.sotial_vk:hover {background: url(/static/img/sotial-mini.png) no-repeat;}
.sotial_fb:hover {background: url(/static/img/sotial-mini.png) no-repeat -45px 0;}
.sotial_tw:hover {background: url(/static/img/sotial-mini.png) no-repeat -90px 0;}
.sotial_ok:hover {background: url(/static/img/sotial-mini.png) no-repeat -135px 0;}

.article-same{/**width: 610px;*/ margin:-8px 0 5px; background-color: #d24a43;}
.article-same p{padding: 15px 20px 12px 55px; background: url('/static/img/full__metka-white.png') no-repeat 20px center; font: normal 16px IntroBoldCaps;}
.news__popular .article-same p{ background: url('/static/img/full__metka-white.png') no-repeat 20px center;}
.article-same_grey{background: #d6d6d6; color: #434343;}
.article-same_related{ background: #f0f0f0; color: #414141 !important; margin: -13px 0px 0px 0px; }
.container__article .news__popular .article-same.article-same_related p { font-size: 13px; }
.article-same:hover {background-color: #666!important;}

.article-same-section{width: 610px; margin:-8px 0 5px; background-color: #d24a43;}
.article-same-section p{padding: 15px 20px 12px 55px; background: url('/static/img/full__metka-white.png') no-repeat 20px center; font: normal 16px IntroBoldCaps;}
.article-same-section:hover {background-color: #666!important;}
.article-same-section{color: #fff; text-transform: uppercase; display: block;}

.new-same-section{width: 597px; margin:-8px 0 5px; background-color: #d24a43;}
.new-same-section p{padding: 12px 20px 15px 55px; background: url('/static/img/full__metka-white.png') no-repeat 20px center; font: normal 16px IntroBoldCaps;}
.new-same-section:hover {background-color: #666!important;}
.new-same-section{color: #fff; text-transform: uppercase; display: block;}

.container__new .news__popular .article-same p{background: url('/static/img/full__metka-black.png') no-repeat 20px center; padding: 15px 20px 12px 55px; font: normal 16px IntroBoldCaps;}
.container__new .news__popular .article-same p:hover{ background: url('/static/img/full__metka-white.png') no-repeat 20px center; color: #fff;}

.container__article .news__popular .article-same p{background: url('/static/img/full__metka-black.png') no-repeat 20px center;padding: 15px 20px 12px 55px; font: normal 16px IntroBoldCaps;}
.container__article .news__popular .article-same p:hover{ background: url('/static/img/full__metka-white.png') no-repeat 20px center; color: #fff;}

.news__popular_block0 {width: 610px;}
.news__popular_block0 .article-same p{padding: 15px 20px 12px 55px; font: normal 16px IntroBoldCaps;}

.article__text {margin:15px 0; font: normal 17px IntroCondRegular; line-height: 1.4; color: #454545; }

.article__text hr { background-color: #e8e8e8; width: 100%; height: 1px; margin: 0.5em 0px; }

.article__text blockquote,
.article__quote {
    margin:15px 0; 
    padding: 0 0 10px 67px; 
    font: 20px IntroRegular; 
    background: url(/static/img/quote.png) no-repeat top left; 
    line-height: 1.3; color: #454545; clear: left; 
    display: inline-block;
}


.article__text .article__font2 { font: 24px IntroBoldCaps; margin-top: 24px; }
.article__text .article__font1 {  font: 17px IntroBoldCaps; margin-top: 21px; }
.article__text .article__font-1 { font-size: 14px; }
.article__text .article__font-2 { font-size: 12px; }
.article__text .article__greybg { background-color: #eeeeee; }

.article__text .instagram-media {
    width: 100%;
    margin-top: 12px !important;
}


.article__text .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    border: 1px solid #eeeeee;
    border-collapse: collapse;
}

.article__text .table>thead>tr>th {
    vertical-align: bottom;
    padding: 7px 5px;
    font-size: 14px;
}

.article__text .table>thead>tr>th,
.article__text .table>tbody>tr:nth-of-type(even)>td {
    border-left: 1px solid white;
}

.article__text .table>tbody>tr:nth-of-type(odd)>td {
    border-left: 1px solid #eee;
}

.article__text .table>thead>tr>th:first-child,
.article__text .table>tbody>tr:nth-of-type(even)>td:first-child {
    border-left: 1px solid #eee;
}


.article__text .table thead tr {
    background-color: #d4d4d4;
}

.article__text .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #eeeeee;
}

.article__text .table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: 14px;
}

.article__text ul, 
.article__text ol {
	margin-left: 2.5em;
}

.article__text span.articleImageWrapper {
    color: #aaa;
    margin-bottom: 2em;
    font: normal 0.8em IntroCondRegular;
}

.article__text span.articleImageWrapper.floatRight {
    float: right;
    margin-left: 2em;
}
.article__text span.articleImageWrapper.floatLeft {
    float: left;
    margin-right: 2em;
}


.article-reklame{width:300px; margin-left: 5px;}

/** END ARTICLE ONE */


/** ARCHIVE */
.articlepage__name-archive .years {
	margin: 10px;
}
.articlepage__name-archive .years li {
	 display: inline;
	 font: normal 14px IntroCondRegular;	
	 color: #454545;
	 margin-right: 10px;
}
.articlepage__name-archive .years li.current a {
	text-decoration: underline;
}
table.year {
	margin-left: 10px;
	width: 665px;
	font: normal 12px IntroCondRegular;	
	text-transform: uppercase;
}
table.year th.year {
	background-color: #e9e9e9;
	font-size: 17px;
	padding: 10px;
}
table.year table.month {
	margin: 10px 0px;
	width: 102px;
	margin-right: 10px;
}
table.year td:last-child table.month {
	margin-right: 0px;
}
table.month th.month {
	background-color: #e9e9e9;
}
table.year table.month td {
	color: #b5b5b5;
}
table.year table.month td a {
	color: #454545;
}
table.year table.month td.sun {
	color: #f8cec5;
}
table.year table.month td.sun a {
	color: #fb0202;
}
/** END ARCHIVE */

/** PAGE PHOTO */

.photospage {padding: 15px 64px;}
.photospage h1 {font-size: 17px; margin: 5px 0px;}
.photos__text {margin-bottom: 10px;}
.photospage img {}

.photos {width:605px;}
.photos__item {width: 605px; height:200px; margin: 3px 0; display: none;}


.photos__block05 {clear:both;}
.photos__block05 .photos__item_1 {width: 146px; height:200px; margin: 3px 5px 3px 0; display: block;}
.photos__block05-two {float:left;}
.photos__block05 .photos__item_2{width: 147px; height:97px; margin: 3px 0 5px 0; display: block;}
.photos__block05 .photos__item_3{width: 147px; height:98px; margin: 0; clear: both; display: block;}
.photos__block05 .photos__item_4{width: 148px; height:200px; margin: 3px 3px 3px 5px; display: block;}
.photos__block05 .photos__item_5{width: 146px; height:200px; margin: 3px 0; display: block;}

.photos__block04 {clear:both;}
.photos__block04 .photos__item_1 {width: 299px; height:200px; margin: 3px 5px 3px 0; display: block;}
.photos__block04-two {float:left;}
.photos__block04 .photos__item_2{width: 147px; height:97px; margin: 3px 0 5px 0; display: block;}
.photos__block04 .photos__item_3{width: 147px; height:98px; margin: 0; clear: both; display: block;}
.photos__block04 .photos__item_4{width: 146px; height:200px; margin: 3px 0 3px 4px; display: block;}

.photos__block03 {clear:both;}
.photos__block03 .photos__item_3 {width: 299px; height:200px; margin: 3px 0 3px 6px; display: block;}
.photos__block03-two {float:left;}
.photos__block03 .photos__item_1{width: 297px; height:97px; margin: 3px 0 5px 0; display: block;}
.photos__block03 .photos__item_2{width: 297px; height:98px; margin: 0; clear: both; display: block;}

.photos__block02 {clear:both;}
.photos__block02 .photos__item_1 {width: 297px; height:200px; margin: 3px 6px 3px 0; display: block;}
.photos__block02 .photos__item_2{width: 297px; height:200px; margin: 3px 0 3px 0; display: block;}

.photos__block01 {clear:both;}
.photos__block01 .photos__item_1 {width: 600px; height:200px; margin: 3px 6px 3px 0; display: block;}



/**
.photos a:nth-child(5n+1) {}
.photos a:nth-child(5n+2) {width:332px;height:220px;}
.photos a:nth-child(5n+3) {width:332px;height:446px; float: right;}
.photos a:nth-child(5n+4) {width:332px;height:220px;}


.photos .photos__item_last2-2{width:670px!important;height:447px!important; float: left!important;}
.photos .photos__item_last3-2{width:332px!important;height:447px!important; float: left!important;}
.photos .photos__item_last3-3{float: right!important;}
*/
/** END PAGE PHOTO */


/** PAGE ABOUT */

.about__content {}
.about__content h1 {padding: 30px 30px 0; font: normal 18px "IntroRegular";}
.about__list {padding: 30px; font: normal 16px "IntroRegular";}
.about__list p{font: normal 16px/1.5 "IntroRegular";}
.about__content img {margin: 15px auto;}

/** END PAGE ABOUT */



/** END CONTENT */


/** FOOTER */

.footer {width: 100%; overflow: hidden; margin-top: 100px;}
.foot{}
.foot__info{margin: 10px 20px;}
.foot__links {width: 680px; margin: 8px auto; text-align: center;}
.foot__link {padding: 0 0 0 14px; font: normal 20px "IntroRegular"; color: #858585; text-transform: uppercase; background: url('/static/img/menu_bull-gray.png') no-repeat left center; height: 16px; line-height: 0.9; display: inline-block; overflow: hidden;}
.foot__link:hover, .foot__link-active {background: url('/static/img/menu_bull-green.png') no-repeat left center; }
.foot__socials {width: 200px;}
.foot__social-vk {width: 38px; height: 34px; background: url('/static/img/full__footer-social.png') 0 0 no-repeat;}
.foot__social-fb {width: 38px; height: 34px; background: url('/static/img/full__footer-social.png') -39px 0 no-repeat;}
.foot__social-tw {width: 38px; height: 34px; background: url('/static/img/full__footer-social.png') -78px 0 no-repeat;}
.foot__social-ok {width: 38px; height: 34px; background: url('/static/img/full__footer-social.png') -117px 0 no-repeat;}
.foot__social-vk:hover {background: url('/static/img/full__footer-social.png') 0 -34px no-repeat;}
.foot__social-fb:hover {background: url('/static/img/full__footer-social.png') -39px -34px no-repeat;}
.foot__social-tw:hover {background: url('/static/img/full__footer-social.png') -78px -34px no-repeat;}
.foot__social-ok:hover {background: url('/static/img/full__footer-social.png') -117px -34px no-repeat;}
.foot__about {margin: 10px 20px; font: bold 12px IntroRegular; }
.foot__about-left {margin: 6px 10px; font: normal 13px IntroRegular; text-transform: uppercase; color: #858585;}
.foot__about-right {width: 200px; font: normal 13px IntroRegular;}

.foot__line {background: url('/static/img/foot_line.png') repeat-x 0 center;}
.foot__line-center {padding: 5px 10px; background: url('/static/img/foot_line-center.png') no-repeat 0 center;}

/** END FOOTER */

.like {background: url('/static/img/full__like.png') 0 0 no-repeat; padding: 10px 0 12px 46px; color: #3a7ada;    font: normal 14px Baron; cursor: pointer; display:none;}
.unlike {background: url('/static/img/full__like.png') 0 -36px no-repeat; padding: 6px 0 16px 46px; margin-top: 22px; color: #d24a43; font: normal 14px Baron; cursor: pointer; display:none;}


.mainnews__item {}
.clearboth {clear:both;}



/** NEWS */
.newsmain__time{float:left; background: url('/static/img/full__clock.png') left -4px no-repeat; margin-top: 20px; padding: 0 15px 5px 44px; font: bold 20px IntroSemiBold; color: #d24a43;}
.newlist{width:597px; margin-top: 7px;clear:both;border-bottom: 1px solid #e8e8e8; float: left;}
.newlist:nth-last-child(2) { border-bottom: 0px none; }
.newlist__item{margin:0 5px; float:left; width:580px;}
.newlist__item-time{float:left; background: url('/static/img/full__clock.png') left -4px no-repeat; margin-top: 2px; padding: 0 15px 5px 44px; font: bold 14px IntroSemiBold; color: #d24a43; line-height: 20px; }
.newlist__item-time1{color: #d24390;}
.newlist__item-time2{color: #b543d2;}
.newlist__item-time3{color: #6843d2;}
.newlist__item-time4{color: #4365d2;}
.newlist__item-time5{color: #439ad2;}
.newlist__item-time6{color: #43c3d2;}

/** release */
.release .newlist__item { width: 580px; margin: 0 5px; }
.release .newlist__item-time { background: url('/static/img/full__note.png') left 0px no-repeat; font-size: 14px; color: #555555; line-height: 17px; margin-top: 8px; padding-left: 44px; padding-right: 7px; margin-bottom: -19px; height: 34px; }
.release .newlist_add-date { color: #555555; font-size: 14px; font-weight: normal; padding: 4px 0 0; }
.release .newlist__item-title { font-size: 18px !important; margin-left: 0px; padding-left: 44px; margin-bottom: 0px; }
.release .new-section__text-anons { padding-left: 44px; margin-bottom: 10px; }
.release .subtitle { margin-top: 10px; }
.release .line_bottom {
    margin-top: 9px;
    margin-bottom: 10px;
}

/** photo **/
.photo .newlist__item { margin: 0px; }
.photo .newlist__item-time { background: url('/static/img/full_photo.png') left 0px no-repeat; color: #454545; padding-left: 30px; }
.photo .newlist__item-title { margin-left: 30px; }
.photoone .articlepage__rubric { float: left; border-left: 2px solid #ff6600; }
.photoone .articlepage__rubric .articleslide__section { background: #ff6600; float:left;}
.photoone .articleslide_title { background: url('/static/img/full__metka-black.png') no-repeat 0 8px; padding-left: 30px; width: 548px; }
.photolist .articleslide_title { padding-left: 44px; background: url('/static/img/foto_icon.png') left 6px no-repeat; padding-bottom: 6px; margin-bottom: 9px; }
.photolist .new-section__text-anons { padding: 0px 15px 0px 59px; margin-bottom: 10px; }

/** horoscope */
.zodiacs {
    padding: 13px 25px;
    list-style: none;
}
.zodiacs li a {
    float: left;
    padding: 7px 13px;
    color: #aaaaaa;
    font: normal 12px "IntroBoldCaps";
    text-transform: uppercase;
    text-align: center;
}
.zodiacs.main li a {
    padding: 7px 0px 15px 0px;
    color: #474747;
    font-size: 16px;
    width: 185px;
}
.zodiacs.main li span {
    display: block;
    font-size: 12px;
    text-transform: none;
}
.zodiacs li a img {
    margin-bottom: 10px;
}
.zodiacs.main a:hover {
    background: url(/static/img/zodiac/hover.png) no-repeat 33px 17px;
}
.zodiacs.main a img {
    margin: 20px;
}
.horoscope__menu {
	position: absolute;
	top: 40px;
	margin: 20px;
	list-style: none;
}
.horoscope__menu a {
	text-transform: uppercase;
	color: #aaaaaa;
    font: normal 14px "IntroBoldCaps";
}
.horoscope__menu .active {
	list-style-image: url(/static/img/menu_bull.png);
}
.horoscope__menu .active a {
	color: #d4d4d4;
}
.article__rubric.horoscope {
    width: 100%;
    margin-bottom: 15px;
}
.article__rubric.horoscope .articleslide__section {
    background-color: #6F8bd8;
}
.article__rubric.horoscope .articleslide__section span {
     font: normal 14px "Baron";
}
.article__rubric.horoscope .article__rubric-date {
    font: normal 20px "IntroBoldCaps";
    color: #454545;
    padding-top: 4px;
}
.horoscope__rubric img {
    float: right;
    margin-left: 20px;
}
.horoscope__rubric .horoscopeslide_title {
    float: right;
    color: #aaaaaa;
    font: normal 25px "IntroBoldCaps";
    text-transform: uppercase;
    text-align: right;
    margin-top: 50px;
}
.horoscope__rubric .horoscopeslide_title span {
    display: block;
    text-transform: none;
    font-size: 12px;
    color: #454545;
}
/** sonnic */
.article__rubric.sonnic .articleslide__section {
    background-color: #560d86;
}
.alphabet { display: table; width: 605px; margin: 25px 0px 15px 15px; }
.alphabet a { display: table-cell; text-transform: uppercase; font-family: 'IntroBoldCaps'; color: #a5a5a5; font-size: 14px; }
.alphabet a:hover, .alphabet a.selected { color: #d24a43; } 
.sonnic__search, .container__starts .stars__search { margin: 0px 0px 25px 15px; }
.sonnic__search input[type=text], .container__starts .stars__search  input[type=text] { font-family: 'IntroCondRegular'; border: 1px #eeeeee solid; color: #cfcfcf; width: 486px; font-size: 20px; padding: 3px 6px; float: left; }
.sonnic__search input[type=button], .container__starts .stars__search  input[type=button] { font-family: 'IntroBoldCaps'; color: #fff; font-size: 10px; background-color: #ff5451; height: 32px; width: 85px; margin-left: 10px; }
.sonnics__list { margin: 20px 0px 5px 0px; }
.sonnics__list a { color: #454545; font-family: 'IntroCondRegular'; font-size: 17px; margin-bottom: 15px; padding-left: 30px; width: 170px; display: inline-block; float: left; }
.sonnic_alpha { position: relative; margin: 25px 0px 0px 15px; min-height: 100px; }
.sonnic_alpha .sonnics__list { margin-left: -15px; }
.sonnic_alpha .alpha__bg { position: absolute; font-family: 'IntroBoldCaps'; font-size: 180px; color: #e7e7e7; top: -34px; z-index: -1; }
.sonnic_alpha h2 { color: #454545; font-size: 17px; text-transform: uppercase; font-family: 'IntroBoldCaps'; }
.sonnic_alpha h2 span { color: #d24a43; font-family: 'IntroCondRegular';  }

.page__search { margin: 0px 0px 25px 0px; }
.page__search input[type=text] { font-family: 'IntroCondRegular'; border: 1px #eeeeee solid; color: #4a4a4a; width: 486px; font-size: 20px; padding: 3px 6px; float: left; }
.page__search input[type=submit] { font-family: 'IntroBoldCaps'; color: #fff; font-size: 10px; background-color: #ff5451; height: 32px; width: 85px; margin-left: 10px; }
.page__search p { padding-left: 10px; }
.page__search strong { color: #fb0202; }
/** theme */
.article__theme {
    width: 580px;
    margin-bottom: 10px;
}
.article__theme .parallax {
    width: 130px;
    height: 175px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.article__theme .parallax .parallax-img {
    width: 150px;
    height: 192px;
}
.article__theme .newlist_add {
    float: none;
}
.article__theme .newlist_add .newlist_add-date {
    text-transform: none;
}
.floating {
    width: 300px;
    float: left;
}
.fixed2 {
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.floating_left {
    width: 300px;
    float: left;
}
.fixed1 {
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.fixed10 {
    position: fixed;
    top: 49px;
    z-index: 999;
}
.banner {margin-bottom:10px; clear: both;}
.banner__main_1 {width: 100%; margin-top:5px;}

/** FORM POST */

.post__header {background: url('/static/img/full_post_header.png') no-repeat; background-size: cover; height:60px; width: 100%; margin: 0 auto; display: none;}
.container_main .post__header {width: 1224px; margin: 0 10px;}
.post__header-text {width: 819px; float:left; padding: 26px 17px 0; color: #fff; font: 11px IntroRegular;}
.post__header-but {border: 1px solid #fff; border-radius: 5px; width: 115px; height: 11px; float:left; margin-top: 16px; color: #fff; padding: 8px 17px; text-transform: uppercase; font: 10px IntroRegular; cursor: pointer;}
.post__header-close {background: url('/static/img/full_post_close.png') no-repeat; height: 18px; width: 18px; float:right; margin-right: 14px; margin-top: 24px; cursor: pointer;}

.post__form {background: url('/static/img/full_post_form.png') no-repeat; height:382px; width: 448px; padding:26px; font-family: IntroRegular;     margin: 200px auto; display:none; z-index: 999;}
.post__form-close {background: url('/static/img/full_post_close2.png') no-repeat; height: 18px; width: 18px; float:right; margin-right: -8px; margin-top: -8px; cursor: pointer;}
.post__form textarea {height: 150px; width: 412px; border: 0; border-radius: 5px; margin-top: 90px; background-image: linear-gradient(to top, #efefef, #fff); padding: 11px 18px; font: 14px IntroRegular;}
.post__form input {margin-top: 18px; height: 12px; width: 412px; border: 0; border-radius: 5px; background-image: linear-gradient(to top, #efefef, #fff); padding: 11px 18px; font: 14px IntroRegular;}
.post__form button {margin-top: 18px; height: 36px; width: 450px; border: 0; border-radius: 5px; color: #5c65cf; background-image: linear-gradient(to top, #efefef, #fff); padding: 11px 18px; text-transform: uppercase; font-weight: bold; cursor: pointer; font: 16px IntroRegular;}

/** END FORM POST */

.subtitle-title_highlight {cursor: pointer;}

.subtitle-title_more { cursor: pointer; background: url(/static/img/more.png) no-repeat top center; line-height: 40px; color: #fff; display: block; margin-bottom: 20px; }
.subtitle-title_more:hover { background-position: bottom; }

.article__related {
    width: 290px;
    float: right;
    margin: 20px 0px 20px 20px;
}
.article__related .subtitle { background: none; margin-top: 9px; }

.block_all_day {
    margin: 5px 0px;
}
.block_all_day .title, .person__video .title, .person__instagram .title {
    text-align: center;
    margin: 9px 0px;
}
.person__video .line, .person__instagram .line {
	width: 100% !important;
	float: none !important;
}
.block_all_day .block_all_day__item {
    font: normal 16px "IntroSemiBold";
    padding: 10px 10px 10px 45px;
    background: url('/static/img/menu_bull.png') no-repeat 20px 15px;
}
.block_article_footer {
    margin: 10px 5px;
    width: 300px;
    float: left;
}
.block_article_footer .title {
    text-align: center;
    margin: 9px 0px;
    
}
.block_article_footer .title .subtitle-title_highlight {
    color: #cccccc;
}
.block_article_footer .block_article_footer__item {
    font: normal 16px "IntroSemiBold";
    padding: 10px 10px 0px 45px;
    margin-bottom: 10px;
    background: url('/static/img/menu_bull-gray.png') no-repeat 20px 15px;
    height: 63px;
    overflow: hidden;
}
.block_article_footer .block_article_footer__item:hover {
    background: url('/static/img/menu_bull.png') no-repeat 20px 15px;
}
.blockArticlePage2 {
    width: 1250px;
    margin: 0 auto;
}
.blockArticlePage2 .blockImageDay {
    padding: 0px 10px;
}
.footer__stars .new-section { height: 240px; }
.footer__stars .stars__search_form {
	background-color: #e9e9e9;
	margin: 20px 25px 25px 25px;
	width: 250px;
}
.footer__stars .stars__search_form .new-section__text-title {
	color: #fff;
}
.footer__stars .stars__search_form .stars__alphabet {
	width: 245px;
	margin-top: 15px;
}
.footer__stars .stars__search_form .stars__alphabet a {
	width: 14px;
	margin: 0px 10px 10px 0px;
	float: left;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
    font-family: 'IntroBoldCaps';
    color: #a5a5a5;
    font-size: 14px;
}
.footer__stars .stars__search { 
	margin: 30px 0px 25px 0px; 
}
.footer__stars .stars__search input[type=text] { 
	width: 125px; 
	font-family: 'IntroCondRegular';
    border: 1px #eeeeee solid;
    color: #cfcfcf;
    font-size: 20px;
    padding: 3px 6px;
    float: left;	
}
.footer__stars .stars__search input[type=button] {
    font-family: 'IntroBoldCaps';
    color: #fff;
    font-size: 10px;
    background-color: #ff5451;
    height: 32px;
    width: 85px;
    margin-left: 10px;
}
.footer__stars .block_article_footer  {
	padding-top: 50px;
	position: relative;
}
.footer__stars .block_article_footer  h2 {
	position: absolute;
	top: 25px;
	left: 25px;
	color: #e9e9e9;
}
.footer__stars .block_article_footer a, .stars__list a {
	padding: 5px 25px;
	display: block;
	font-family: 'IntroCondRegular';
	font-size: 18px;
	color: #434343;
}
.stars__list a {
	width: 255px;
	float: left;
	display: table-cell;
}
.footer__stars .block_article_footer a span, .sonnics__list a span, .stars__list a span {
	display: block;
	font-size: 14px;
	color: #a5a5a5;
}
.up-page {
    position: fixed;
    bottom: 168px;
    left: 1280px;
    width: 61px;
    height: 61px;
    background: url(/static/img/up.png) no-repeat;
    cursor: pointer;
    z-index: 100000;
    display: none;
}
.subscribe {
	position: relative;
	margin-top: 10px;
	background-color: #eaeaea !important;
	border-left: 2px #ff0c08 solid;
	width: 298px !important;
	height: 160px !important;
}
.subscribe .new-section__text {
	width: 270px;
	margin-top: 0px;
}
.subscribe .new-section__text-anons {
	padding: 10px 0px;
}
.subscribe input {
	height: 40px;
	width: 250px;
	padding: 0px 10px;
}
.subscribe button {
	width: 34px;
	height: 34px;
	background: url(/static/img/send_btn.jpg) no-repeat;
	position: relative;
	float: right;
	margin-top: -37px;
	margin-right: 2px;
	cursor: pointer;
}
.container__article .subscribe {
	width: 593px !important;
	height: 60px !important;
	margin-bottom: 10px;
	margin-top: 0px;
	float: none;
}
.container__article .subscribe .new-section__text {
	width: 560px;
	margin-top: 5px;
}
.container__article .subscribe .new-section__text-title {
	float: left;
	margin-right: 10px;
}
.container__article .subscribe input {
	float: left;
	margin-top: -10px;
	width: 341px;
}
.container__article .subscribe button {
	margin-right: 4px;
}
.headline.hot_news {
	font-size: 24px;
	height: 30px;
}
.headline.hot_news strong {
	color: #ff1206;
}
