@font-face {
    font-family: "IntroRegular";
    src: url("fonts/IntroRegular/Intro_regular.ttf");
    url("fonts/IntroRegular/Intro_regular.ttf") format("truetype");
    font-style: normal;
	font-weight: 100;
    font-weight: normal;
}

@font-face {
    font-family: "Intro";
    src: url('fonts/Intro/intro.woff2') format('woff2'), url('fonts/Intro/intro.woff') format('woff'), url('fonts/Intro/intro.ttf') format('truetype');
    url("fonts/IntroRegular/Intro.otf") format("truetype");
    font-style: normal;
	font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IntroLight";
    src: url('fonts/Intro/intro_light-webfont.woff') format('woff'), url('fonts/Intro/intro_light-webfont.ttf') format('truetype');
    font-style: normal;
	font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IntroBold";
    src: url('fonts/Intro/intro_bold-webfont.woff') format('woff'), url('fonts/Intro/intro_bold-webfont.ttf') format('truetype');
    font-style: normal;
	font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IntroBoldCaps';
    src: url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.eot');
    src: url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.woff2') format('woff2'),
         url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.woff') format('woff'),
         url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.ttf') format('truetype'),
         url('fonts/intro_boldcaps_cyrillic/intro_bold_caps-webfont.svg#introbold_caps') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IntroSemiBold';
    src: url('fonts/intro_regular_cyrillic/intro_semibold-webfont.eot');
    src: url('fonts/intro_regular_cyrillic/intro_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/intro_regular_cyrillic/intro_semibold-webfont.woff2') format('woff2'),
         url('fonts/intro_regular_cyrillic/intro_semibold-webfont.woff') format('woff'),
         url('fonts/intro_regular_cyrillic/intro_semibold-webfont.ttf') format('truetype'),
         url('fonts/intro_regular_cyrillic/intro_semibold-webfont.svg#introsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IntroCondRegular';
    src: url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.eot');
    src: url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.woff2') format('woff2'),
         url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.woff') format('woff'),
         url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.ttf') format('truetype'),
         url('fonts/introcondensed_regular_cyrillic/intro_cond_regular-webfont.svg#intro_cond_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue'), local('BaronNeue'), url('fonts/Baron/baronneue.woff2') format('woff2'), url('fonts/Baron/baronneue.woff') format('woff'), url('fonts/Baron/baronneue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue Italic'), local('BaronNeueItalic'), url('fonts/Baron/baronneueitalic.woff2') format('woff2'), url('fonts/Baron/baronneueitalic.woff') format('woff'), url('fonts/Baron/baronneueitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue Bold'), local('BaronNeueBold'), url('fonts/Baron/baronneuebold.woff2') format('woff2'), url('fonts/Baron/baronneuebold.woff') format('woff'), url('fonts/Baron/baronneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue Bold Italic'), local('BaronNeueBoldItalic'), url('fonts/Baron/baronneuebolditalic.woff2') format('woff2'), url('fonts/Baron/baronneuebolditalic.woff') format('woff'), url('fonts/Baron/baronneuebolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue Black'), local('BaronNeueBlack'), url('fonts/Baron/baronneueblack.woff2') format('woff2'), url('fonts/Baron/baronneueblack.woff') format('woff'), url('fonts/Baron/baronneueblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Baron';
    src: local('Baron Neue Black Italic'), local('BaronNeueBlackItalic'), url('fonts/Baron/baronneueblackitalic.woff2') format('woff2'), url('fonts/Baron/baronneueblackitalic.woff') format('woff'), url('fonts/Baron/baronneueblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
*/
@font-face {
    font-family: 'Baron';
    src: url('fonts/BaronNeue/baron_neue.eot');
    src: url('fonts/BaronNeue/baron_neue.eot?#iefix') format('embedded-opentype'),
         url('fonts/BaronNeue/baron_neue.woff') format('woff'),
         url('fonts/BaronNeue/baron_neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
  vertical-align: baseline; 
  /**font-weight: inherit; 
  font-family: inherit; 
  font-style: inherit; */
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  } 
  
body {
  line-height: 1;
  color: black;
  background: white;
  font-family: Arial,Helvetica,sans-serif;
}
body {
	-webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

a {color: #434343; text-decoration: none; }
a:hover {}
p {margin-top: 12px;}
h1, h2, h3 {font-weight: normal; font-family: "IntroRegular";}

 html, body {height: 100%; margin: 0; padding: 0;}
 
.all {margin: 0px auto; position: relative; overflow: hidden;}


/** HEAD */


.head {width: 100%; top: 0px; position: fixed; z-index:9999;}
.head__logo {padding-top: 1px; background: #e8e8e8; display: flex;}
.logo { display: block;}
.logo18 {background: url(/static/img/full__18.png) no-repeat right bottom; display: block;}
.butmenu {float: right; cursor: pointer;}
.butmenu.active {}

/** END HEAD */


/** TOP MENU */
/**NEWFONT*/
.head__menu-list{float: right; position: absolute; left: 255px; top: 31px; background-color: #fff; z-index: 1; height: 27px; overflow-y: hidden; }
.head__menu-list a{padding: 1px 13px 3px; font: normal 16px "IntroLight"; color: #333333; text-transform: uppercase; height: 20px;line-height: 0.9; display: inline-block; overflow: hidden;}
.head__menu-list.polit a.polit, .head__menu-list.showbiz a.showbiz, .head__menu-list.incidents a.incidents, 
.head__menu-list.sport a.sport, .head__menu-list.economy a.economy, .head__menu-list.society a.society,
.head__menu-list.culture a.culture, .head__menu-list.photo a.photo, .head__menu-list.release a.release,
.head__menu-list.realty a.realty, .head__menu-list.bloggers a.bloggers, .head__menu-list.regions a.regions,
.head__menu-list.horoscope a.horoscope, .head__menu-list.tech a.tech, .head__menu-list.auto a.auto, .head__menu-list.academ a.academ
{ text-decoration: underline; }
/*.head__menu-list a.active{background: url('/static/img/menu_bull-green.png') no-repeat left center;}*/
.head__menu-rates{ position: absolute; top: 28px; right: 145px; }
.head__menu-rates .rate { float: left; font: normal 16px "IntroLight"; color: #000; margin-left: 15px; }
.head__menu-rates .rate .rate-name { color: #9f9f9f; }
.search_panel { position: absolute; top: 21px; right: 80px; height: 35px; background-color: #fff; z-index: 1; overflow: hidden; }
.search_panel.expanded { border: 1px #000 solid; }
.search_panel input { display: none; border: 0px none; border-left: 1px #000 solid; padding-left: 15px; height: 35px; width: 400px; }
.search_panel.expanded input { display: inline; }
.search_panel img { margin: 6px 10px; float: left; cursor: pointer; }
@media (max-width: 999px) {
	.head__menu-rates { display: none; }
}


.head__menu {background: #fff; display: none; z-index: 99996; opacity: 0.97;}
.head__menu-columns {height: 100%; margin: 0 auto; background: #fff;}
.head__menu-bg{width: 100%; display: none; z-index: 99996; opacity: 0.97; position: absolute; display: none;}

.menu {list-style: none;text-align: right;}
.menu a {color: #3c3c3c; text-decoration: none;}
.menu a:hover {}
.menu__item {}
.menu__item_highlight a {border-bottom: 1px solid #f6f6f6;}

/** END TOP MENU */

.headline { font: normal 16px "IntroLight"; color: #000; margin-bottom: 10px; height: 20px; overflow: hidden; }
.headline a { margin-right: 20px; white-space: nowrap; }
.headline a.red { color: #fb0202; }

/** BRIEFS */
/**NEWFONT*/
.briefs {width: 100%;}
.briefs__date {margin-left: 5%; color:#b1b1b1; text-transform: uppercase; font: normal 17px "IntroRegular"; float: left; text-align: right; width: 122px;}
.briefs__title {margin-left: 5%; color:#333; font: normal 17px "IntroRegular"; float: left; background: url('/static/img/menu_bull.png') no-repeat left center;width: 123px; padding-left: 20px; text-transform: uppercase;}
.briefs__item {clear: both; border-right: 2px solid #fff;}

.brief {width: 100%; display: table;}
.brief__time {width: 54px; margin: 0 1px 0 30px; float: left; color: red;}
.brief__title {width: 200px; margin: 0 0 0 10px; float: left; color: #333;}

.briefs__item_1 .brief__time {color:#d24a43;}
.briefs__item_1:hover {border-right: 2px solid #d24a43;}
.briefs__item_2 .brief__time {color:#d24390;}
.briefs__item_2:hover {border-right: 2px solid #d24390;}
.briefs__item_3 .brief__time {color:#b543d2;}
.briefs__item_3:hover {border-right: 2px solid #b543d2;}
.briefs__item_4 .brief__time {color:#6843d2;}
.briefs__item_4:hover {border-right: 2px solid #6843d2;}
.briefs__item_5 .brief__time {color:#436fd2;}
.briefs__item_5:hover {border-right: 2px solid #436fd2;}
.briefs__item_6 .brief__time {color:#43abd2;}
.briefs__item_6:hover {border-right: 2px solid #43abd2;}
.briefs__item_7 .brief__time {color:#43d2bc;}
.briefs__item_7:hover {border-right: 2px solid #43d2bc;}

.briefs {width: 100%;}
.briefs__date {margin-left: 5%; color:#b1b1b1; text-transform: uppercase; font: normal 16px "IntroSemiBold"; float: left; text-align: right; width: 122px;}
.briefs__title {margin-left: 5%; color:#b1b1b1; font: normal 16px "IntroSemiBold"; float: left; background: url('/static/img/menu_bull.png') no-repeat left center;width: 123px; padding-left: 20px; text-transform: uppercase;}
.briefs__item {clear: both; border-right: 2px solid #fff;}

.brief {width: 100%; display: table;}
.brief__time {width: 54px; margin: 0 1px 0 30px; float: left; color: red;}
.brief__title {width: 200px; margin: 0 0 0 10px; float: left; color: #333;}

.briefs__item_1 .brief__time {color:#d24a43;}
.briefs__item_1:hover {border-right: 2px solid #d24a43;}
.briefs__item_2 .brief__time {color:#d24390;}
.briefs__item_2:hover {border-right: 2px solid #d24390;}
.briefs__item_3 .brief__time {color:#b543d2;}
.briefs__item_3:hover {border-right: 2px solid #b543d2;}
.briefs__item_4 .brief__time {color:#6843d2;}
.briefs__item_4:hover {border-right: 2px solid #6843d2;}
.briefs__item_5 .brief__time {color:#436fd2;}
.briefs__item_5:hover {border-right: 2px solid #436fd2;}
.briefs__item_6 .brief__time {color:#43abd2;}
.briefs__item_6:hover {border-right: 2px solid #43abd2;}
.briefs__item_7 .brief__time {color:#43d2bc;}
.briefs__item_7:hover {border-right: 2px solid #43d2bc;}


/** END DRIEFS */

/** PARTNERS*/

.partners {margin: 0 auto;}
.partner {margin: 10px auto; text-transform: uppercase;}
.partner img {opacity: 0.66;}

/** END PARTNERS */

/** FOOTER */

.foot {}

/** END FOOTER */


/** ADV */

.adv-header {width:100%; height: auto; margin: 7px 0px 7px 0px;vertical-align: middle; border: 0px none; text-align: center;}
.adv-after6 {display:none; text-align: center;}
.adv-inarticle {margin-top: 20px; text-align: center;}
.adv-beforesame {width: 100%; float: left; margin-bottom: 5px; text-align: center;}
.adv-after8-mob {display:none; width:100%; float:left; text-align: center;}

/** END ADV */



/** CONTENT */
.container {position: relative; margin-top: 3px;}
.container__mini {}
.container__big {overflow: hidden;}

.subtitle {text-align: center; background: url('/static/img/line_subtitle.png') repeat-x 0 center; clear: both;}
.subtitle-title {padding: 0 10px; background: #fff; text-transform: uppercase; color: #d9d9d9; font: normal 10px 'IntroRegular'; display: inline;}
.subtitle-title_highlight{font-size: 14px; color: #d24a43;}

.subtitle__line {text-align: center; background: url('/static/img/line.png') repeat-x 0 center; clear: both; padding: 10px 0; margin:0;}
.subtitle__line-center {padding: 5px 10px; background: url('/static/img/line-center.png') no-repeat 0 center;}
.subtitle__line-center-gray {padding: 5px 10px; background: url('/static/img/line-center-gray.png') no-repeat 0 center;}


.titlebar{margin: 3px 0; padding: 0 10px 0 20px; background: url('/static/img/menu_bull.png') no-repeat left 3px; text-transform: uppercase; color: #e8e8e8; font: normal 14px 'IntroRegular';}
.new-quartet .titlebar{margin: 3px 0 3px -21px;}
.container__mini .titlebar {float: right;}
.container__big .titlebar {background: url('/static/img/menu_bull.png') no-repeat right 3px; width: 100px; padding: 0;}
.main_block-right .container__partners {margin: 18px 0 18px 0;}
#left_for_fix .container__partners {margin: 0 0 10px 0; padding-top: 10px;}
.container__partners .titlebar {margin-bottom: 13px;}

/** SLIDER */

.mainslide {width: 100%;}
.mainnews, .mainnews_narrow {float: left;}
.mainnews__item {width: 100%; position: relative; background-color: #000; display: block;}
.mainnews__item p:before {content: ""; position: absolute; width: 100%; height: 100%; }
/**.mainnews__item:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);-moz-opacity: 0.55;-khtml-opacity: 0.55;opacity: 0.55;}*/
.mainnew {position: absolute; color: #fff; z-index: 3;}
.mainnew__section {text-transform: lowercase;}
.mainnew__title {}

.banner-240x400 {width: 240px; height: 400px; float: left; display: none; overflow: hidden;}

/** END SLIDER */

/** blogger */

.mainblog {width: 100%;}
.blogger {float: left; position: relative;}
.blogger__image {width: 100%; right: 0; position: absolute;}
.blogger__image:before {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.8);}
.blogger__name-and-description {position: absolute;}
.blogger__name {color: #4c4c4c;}
.blogger__same {bottom: 0; position: absolute;}
.blogger__same a{color: #fff; text-transform: uppercase; display: block;}

.blogger-articles{}

.blogger-articles__item {float: left; position: relative; display: inline-block;}
.blogger-articles__effect {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.9);}
.blogger-articles__item:hover .blogger-articles__effect-hover{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(189,189,189,0.7);}

.blogger-articles__title {background: #6eaf20; color: #fff; text-transform: lowercase; position: absolute;}
.blogger-articles__background {position: absolute;}
.blogger-articles__background-effect {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.7);}
.blogger-articles__item:hover .blogger-articles__background-effect {display:none;}
.blogger-articles__text {position: absolute;} 
.blogger-articles__text-title {text-transform: uppercase;}
.blogger-articles__text-anons {}


/** END blogger */


/** NEWS */

.container__item {width: 100%; overflow: hidden;}
.new-quartet{}

.new-section {float: left; position: relative; display: inline-block; overflow: hidden;}
.new-section__effect {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.55);}
.new-section__effect_adv {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(232,232,232,0.55);}
/**.new-section:hover .new-section__effect-hover{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(189,189,189,0.4); z-index: 99;}*/
.new-section-redbull{background: url(/static/img/menu_bull.png) no-repeat; width: 8px; height: 8px; margin: 2px 3px;}

.new-section__title {color: #000; text-transform: lowercase; position: absolute;}
.new-section__title_adv {}
.new-section__title_polit {background: #d24a43; color:#fff;}
.new-section__title_economy {color: #d24a43;}
.new-section__title_incidents {color: #e8e8e8;}
.new-section__title_sport {background: #1d9280;}
.new-section__title_culture {background: #6a5746;}
.new-section__title_showbiz {background: #551784;}
.new-section__title_tech {background: #6c6c6c;}
.new-section__title_realty {background: #fb8f04;}
.new-section__title_auto {background: #b00026;}
.new-section__background {position: absolute; display: none;}
.new-section__background-effect {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(255,255,255,0.5);}
.new:hover .new-section__background-effect {display:none;}
.new-section__text {position: absolute;}
.new-section__text_adv {margin: 25px 0 0 -11px; width: 300px; height: 250px; overflow: hidden;}
.new-section__text-title {text-transform: uppercase;}
.new-section__text-anons {margin :0;}

.container__item .subtitle_partner{display: none;}

.container__partners {width: 300px; clear: both;}
.container__partners-1{}
.container__partners-2{}
.container__partner {text-transform: uppercase; clear: both;}
.container__partner img {opacity:0.66;}
.container__partners-margin{display:none;}
.container__mini .container__partner img {float:right; margin-left: 10px;}
.container__big .container__partner img {float:left; margin-right: 10px;}
.container__partner:hover img {opacity:1;}
.container__partner-active a {color: #d24a43;}

.read-more-button {text-align: center; margin-top: 20px; clear: both; padding: 20px;}
.read-more-button a{font: 14px Baron;}

/** END NEWS */


/** ARTICLE ONE */

.articleslide {width: 100%; position: relative;}
.articleslide:before {content: ""; position: absolute; width: 100%; height: 100%; background: rgba(70,70,70,0.5);}
.articleslide__section {background: #6eaf20; color: #fff; text-transform: lowercase; display: inline-block;}
.articleslide_title {background: url('/static/img/point.png') no-repeat 0 6px; color: #434343;}

.article {float: left;}
.article__anons {}

.sotial {text-transform: lowercase;}
.sotial-bottom {background: #e8e8e8; display:none;}
.sotial-bottom .sotial{}
.sotial_vk {}
.sotial_fb {}
.sotial_tw {}
.sotial_ok {}

.article-same{color: #fff; text-transform: uppercase; display: block;}

/* .article__text {color: #6c6c6c;} */
.article__text img {max-width: 100%;}
.article__text iframe {max-width: 100%;}
/*.article__text p img, .article__text p iframe {margin-left: -30px;}*/
.article__quote {color: #000;}

.article-reklame{float: left; }
.article-reklame.right { float: right; margin-top: 6px; }
.article-footer-adv {display: none;}

/** END ARTICLE ONE */


/** PAGE PHOTO */

.photospage {background: #f6f6f6;}
.photospage h1 {color: #4b4b4b; text-transform: uppercase; font-weight: bold;}
.photos__text {color: #4b4b4b; font-family: "IntroCondRegular";}
.photospage img {display: block; max-width: 100%;}

.photos {text-align: center;}
.photos__item {float: left;}

/** END PAGE PHOTO */


/** PAGE ABOUT */

.about__content {background: #f6f6f6;}
.about__content h1 {color: #201f1f; text-transform: uppercase;}
.about__list {color: #201f1f;}
.about__list p{color: #201f1f;}
.about__content img {display: block; max-width: 100%;}

/** END PAGE ABOUT */


/** END CONTENT */

/** FOOTER */
.footer {margin: 0 auto;}
.foot {width:100%; background: #868686; border: 0; float:left;}
.foot__info {width: 100%;}
.foot__links {}
.foot__link {color: #616161; font: normal 17px IntroRegular;}
.foot__link:hover, .foot__link-active {color: #fffefe;}
.foot__socials {float: right; margin-top: -35px;}
.foot__social-vk {display: inline-block;}
.foot__social-fb {display: inline-block;}
.foot__social-tw {display: inline-block;}
.foot__social-ok {display: inline-block;}
.foot__about {width: 100%; color: #616161;}
.foot__about-left {float: left;}
.foot__about-right {float: left;}

.foot__line {text-align: center; background: url('/static/img/foot_line.png') repeat-x 0 center; clear: both;}
.foot__line-center {padding: 5px 10px; background: url('/static/img/foot_line-center.png') no-repeat 0 center;}

.foot_menus {max-width: 1200px;margin: 0 auto; padding: 0 15px;}
.foot_menu {float: left; padding: 10px 30px; list-style: none;}
.foot_menu-first {padding: 10px 30px 10px 0;}
.foot_menu-right {float: right;}
.foot_menu a{font: normal 14px 'IntroSemiBold'; color: #fff;}
.foot_menu a.foot_mobile {color:#bffffa; font-style: italic;}
.foot_menu li {padding: 1px 0;}
.foot_copy {max-width: 1200px;color: #fff; clear: both; text-align: right; font: normal 12px 'IntroSemiBold'; margin: 0 auto; border-top: 1px solid #fff; padding: 0 15px;}
.foot_copy a{color: #bffffa;}

.foot_img {float: left; width: 88px; margin: 25px 0 0;}
.footer_18 {background: #fff url('/static/img/jooble.png') no-repeat; width: 88px; height: 56px; margin: 0 auto 10px; display: block; }

.foot_menu-social {padding-left:25px;}
.foot_fb {background: url('/static/img/footer_fb.png') no-repeat left center; padding-left: 24px;}
.foot_tw {background: url('/static/img/footer_tw.png') no-repeat left center; padding-left: 24px;}
.foot_vk {background: url('/static/img/footer_vk.png') no-repeat left center; padding-left: 24px;}
.foot_ok {background: url('/static/img/footer_ok.png') no-repeat left center; padding-left: 24px;}
.foot_rss {background: url('/static/img/footer_rss.png') no-repeat left center; padding-left: 24px;}

/** END FOOTER */



.news__popular{width: 606px; margin: 5px 0; float:left;}
.line {width: 100%; height: 1px; border-top:1px solid #e8e8e8; }


/* FORM STYLES */

section {display: block;}

.mainnews__item .parallax{
  overflow: hidden;
}
.parallax{
  position: relative;
  z-index: 20;
}
.mainnews__item_1 .parallax{
  width: 300px;
  height: 400px;
  position: relative;
}
.mainnews__item_2 .parallax{
  width: 360px;
  height: 185px;
  position: relative;
}
.mainnews__item_3 .parallax{
  width: 360px;
  height: 205px;
  position: relative;
}
.parallax .parallax-img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	    margin: 0;
}
.mainnews__item_1 .parallax p{
	width: 350px;
	height: 450px;
    margin-left: -25px;
}
.mainnews__item_2 .parallax p{
	width: 400px;
    height: 210px;
    margin-left: -15px;
}
.mainnews__item_3 .parallax p{
	width: 400px;
    height: 245px;
    margin-left: -15px;
}
.parallax_intro{
  position: absolute;
  z-index: 10;
}

.fixed {
    position: fixed!important;
    bottom: 0;
    width: 310px;
}
.adfox_photo_1 {width:240px;height:400px;z-index: 99995; position: absolute; right: 0px; top: 30px; display:none;}

.lightboxOverlay { opacity: 0.9 !important; }
.lb-container { padding: 4px 260px !important; }
.lb-outerContainer {    
	background: none!important;
    /*top: 138px!important;*/
}
.lb-dataContainer {
    /*margin-top: 138px!important;*/
}
.lb-image{
	margin: 0px auto;
	border-radius: 0!important;;
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
	margin-top: -30px;
    background: url(/static/img/full__next.png) right top no-repeat!important;
    opacity: 1!important;
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
	margin-top: -30px;
    background: url(/static/img/full__prev.png) left top no-repeat!important;
    opacity: 1!important;
}
.lb-data .lb-close {
	/*margin-left: 690px;
    margin-top: -600px;
	position: absolute!important;*/
	width:82px!important;
	height:18px!important;
    background: url(/static/img/full__close.png) top right no-repeat!important;
}
.lb-number{display:none!important;}

.lb-data .lb-caption {
	font-size: 16px !important;
	font-weight: normal !important;
	line-height: 1.3em !important;
}
.lb-data .lb-caption i {
	color: #666;
}

/** PAGES */
.page__title {padding: 20px 20px 0 50px; text-transform: uppercase; font: 24px IntroBoldCap;}
.page__text {margin: 15px 0; font: normal 17px IntroCondRegular;
 line-height: 1.4; color: #454545;}
/** ENDPAGE*/
