/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sb-search {
	position: absolute;
	margin-top: 10px;
	width: 20%;
	min-width: 60px;
	height: 30px;
	right: 87px;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 30px;
	margin: 0;
	z-index: 10;
	padding: 5px 3px;
	font-family: inherit;
	color: #787878;
}

.sb-search-input::-webkit-input-placeholder {
	color: #D2D2D2;
}

.sb-search-input:-moz-placeholder {
	color: #D2D2D2;
}

.sb-search-input::-moz-placeholder {
	color: #D2D2D2;
}

.sb-search-input:-ms-input-placeholder {
	color: #D2D2D2;
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 0px;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #0496FD;
	z-index: 90;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 30%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #0496FD;
	color: #F58320;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

body div.siteheader {
	    background: url("../images/topHeader_Bg.jpg") no-repeat scroll 0 0 #0d3692 !important;
}

body div.siteheader div.siteMap {
	display: none;
}

body #scrollWrap > a {
	display: none !important;
}

div.siteheader div.siteLogo {
	margin-top: 0 !important;
}


div.legalrights div.container div.col-sm-4 img {
	margin-top:0 !important;
}

div.legalrights div.container div.col-sm-4, div.legalrights > div.container {
	padding-right:0 !important;
}

div.legalrights {
	border-top: none !important;
}

div.CountrySelector {
	background: #00a1e1 !important;
	top: 25px !important;
}  

div.globalsiteLable a:hover {
	color: #fff !important;
}

div.siteheader div.globalsiteLable {
	top: 32px !important;
    right: 621px !important;
}

div.globalsiteLable a {
	font-size: 10px;
}

ul.styleSelector {
	top: 28px !important;
}

body div.legalrights {
	border-top: 1px solid #fff !important;
    background: #f3f3f3 !important;
}

#footer .container > img.pull-right {
	margin-top:-2px;
	margin-bottom: 18px;
}


@media (min-width: 320px) and (max-width: 1024px) {
	div.siteheader div.globalsiteLable {
		display:none !important;	}
}