.std_bnk_steps_container ul {
	list-style-type: none;
}
.std_bnk_steps_container ul li {
	float: left;
	width: 33.3%;
	display: inline-block;
	text-align: center;
	/* line-height: 38px; */
	font-size: 14px;
	float: left;
	position: relative;
	vertical-align: top;
	padding-bottom: 17px;
}
.std_bnk_steps_container ul li span {
	width: 20px;
	height: 20px;
	background-color: #FFF;
	display: block;
	position: absolute;
	top: 25px;
	left: 46%;
	border-radius: 50%;
	border: 3px solid #ddd;
}
.std_bnk_steps_container ul li.step-todo {
	color: silver;
	border-bottom: 3px solid #EEE;
}
.std_bnk_steps_container ul li.step-todo::before {

}
/*current step*/
.std_bnk_steps_container ul li.step-current {
	color: #004795;
	border-bottom: 3px solid #004795;
}
.std_bnk_steps_container ul li.step-current span {
	border: 3px solid #004795;
}
/*completed step*/
.std_bnk_steps_container ul li.completed {
	color: #339F7B;
	border-bottom: 3px solid #339F7B;
}

.std_bnk_steps_container ul li.completed span {
	border: 3px solid #339F7B;
	background-color: #339F7B;
}
/* Error Step*/
.std_bnk_steps_container ul li.credit_check_error {
	color: #A80511;
	border-bottom: 3px solid #A80511;
}
.std_bnk_steps_container ul li.credit_check_error span {
	border: 3px solid #A80511;
	background-color: #A80511;
}

.std_bnk_steps_content_container {
	margin-top: 27px;
}

.std_bnk_step_content.off {
	display: none;
}

.std_bnk_step_content .image {
	width: 96%;
	height: 217px;
	overflow:hidden;
}
.std_bnk_step_content .image img {
	margin-bottom: 0px;
}
.std_bnk_step_content .sbg_row.first h6 {
	font-size: 13px !important;
	color: #000;
	font-weight: bolder;
	margin-top: 0px;
}
.std_bnk_step_content .sbg_row.first .btn_apply {
	margin: 10px 0px;
	display: inline-block;
	padding: 10px 53px 10px 20px;
	text-align: left;
	font-weight: bold;
	color:#fff;
	background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
	width: 240px;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
}
.std_bnk_step_content .sbg_row.first .btn_continue {
	margin: 20px 0px;
	display: inline-block;
	padding: 10px 53px 10px 20px;
	text-align: left;
	font-weight: bold;
	background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
	width: 240px;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	margin-top: 9px;
}
.btn_back_user_details {
	margin: 20px 0px;
	display: inline-block;
	padding: 5px 16px 8px 38px;
	text-align: left;
	font-weight: bold;
	background: url(../images/icon_arrow_white_back.png) no-repeat #0396FD  21% 43%;
	width: 140px;
	text-align: center;
	height: 35px;
	line-height: 24px;
	font-size: 13px;
	color: #fff !important;
	margin-top: 5px;
}
.std_bnk_step_content .sbg_row.first ul {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 8px;
}
.std_bnk_step_content .sbg_row.first ul li {
	margin-bottom: 13px;
	font-size: 13px;
}
.std_bnk_step_content.step-0 .sbg_row.first  ul li {
	list-style-type: disc;
}
.std_bnk_step_content .sbg_row.second h3,
.std_bnk_step_content .sbg_row.third h3,
.std_bnk_step_content .sbg_row.first h3 {
	border-bottom: 1px solid #ddd;
	margin-top: 0px;
	background: none;
}
.std_bnk_step_content .sbg_row.second .col-sm-12 h3 {
	margin-top: 5px;
	background: none;
}
.std_bnk_step_content .sbg_row.second .col-sm-12 p.sbg_intro {
	/* padding: 0px 20px; */
	color: #000000;
	margin: 15px 0px;
	font-weight: bold;
	font-size: 13px !important;
	margin-bottom: 10px;
}
.std_bnk_step_content .sbg_row.first h4 {
	font-size: 13px !important;
	color: #000;
	font-weight: bolder;
}
.sbg_form .sbg_dropdown {
	margin-bottom: 20px;
}
.sbg_form .sbg_dropdown ul {
	width: 68%;
	margin: 0px;
	position: absolute;
	top: 36px;
	left: 0px;
	z-index: 3;
	display: none;
}
.sbg_form .sbg_dropdown ul li {
	list-style-type: none;
}
.sbg_form .sbg_dropdown ul li a {
	background-color: #26428B;
	display: block;
	padding: 5px 14px;
	border-bottom: 1px solid #ccc;
	color: #fff;
	font-size: 13px;
}
.sbg_form .sbg_dropdown ul li a:hover {
	background-color: #E7E7E7;
	color: #26428B;
}
.sbg_form .sbg_dropdown label,
.sbg_form .input label {
	color: #333;
	font-weight: bold;
	margin-top: 9px;
}
.sbg_form .input label.error {
	color: #ff0000;
	font-weight: normal;
	display: block !important;
	margin-top: 5px;
}
.sbg_form .sbg_dropdown span.error {
	display: none;
	color: #ff0000;
	font-weight: normal;
	clear: both;
	padding-top: 5px;
}
.sbg_form .sbg_dropdown span.error.on {
	display: block !important;
}
.sbg_form label span {
	color: red;
}
.sbg_form .sbg_dropdown .sbg_dd {
	border: 1px solid #ccc;
	background-color: #fff;
	width: 93%;
	float: left;
}
.sbg_form .sbg_dropdown .sbg_dd.error {
	border: 1px solid #FF0000;
}
.sbg_form .sbg_dropdown .sbg_dd.ok {
	border: 1px solid green;
}
.sbg_form .input {
	margin-bottom: 20px;
}
.sbg_form .input .input_wrapper {
	width: 73%;
}
.sbg_form .sbg_dropdown .input_wrapper {
	width: 73%;
}
.sbg_form .sbg_dropdown .input_wrapper > img {
	float: right;
	display: inline-block;
	margin: 0px;
	margin-top: 13px;
	display: none;
	width: 10px;
	height: 10px;
}
.sbg_form .sbg_dropdown .input_wrapper > img.on {
	display: block;
}
.sbg_form .sbg_dropdown .input_wrapper > img.off {
	display: none;
}
.sbg_form .input .input_wrapper img {
	float: right;
	margin: 0px;
	margin-top: 13px;
	display: none;
	width: 10px;
	height: 10px;
}
.sbg_form .input input {
	border: 1px solid #ccc;
	background-color: #fff;
	width: 93%;
	height: 35px;
	padding-left: 15px;
	color: #0396FD;
}
.sbg_form .input input.error {
	border: 1px solid red;
	outline: 0;
}
.sbg_form .input input.valid {
	border: 1px solid green;
	outline: 0;
}
.sbg_form .input input.sbg_button_submit {
	margin: 4px 0px;
	display: inline-block;
	padding: 10px 53px 10px 20px;
	text-align: left;
	font-weight: bold;
	color: #fff;
	background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
	width: 93%;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
	border: 0px;
}
.sbg_form .sbg_dropdown .sbg_dd a {
	height: 35px;
	width: 45px;
	float: right;
	display: block;
	border-left: 1px solid #ccc;
	background: url(../images/icon_dropdown_arrow_white.png) no-repeat transparent 20px 15px;
}
.sbg_form .sbg_dropdown .sbg_dd input {
	border: 0px;
	height: 35px;
	width: 80%;
	padding-left: 10px;
	color: #0396FD;
	background-color: #fff;
}
.sbg_form .sbg_dropdown .bit-30,
.sbg_form .input .bit-30  {
	width: 30%;
	float: left;
}
.sbg_form .sbg_dropdown .bit-70,
.sbg_form .input .bit-70 {
	width: 70%;
	float: left;
	position: relative;
}

.sbg_card_options .sbg_row {
	border-bottom: 1px solid #efefef;
	margin-top: 20px;
}
.sbg_card_options .sbg_row .col-sm-3 a {
	margin-bottom: 20px;
	display: block;
	background: url(../images/icon_arrow_light_blue.png) no-repeat transparent 111px 0px;
}
.sbg_card_options .sbg_row .col-sm-9 h6 {
	font-weight: bold;
	font-size: 13px;
}
.sbg_card_options .sbg_row .col-sm-9 .sbg_recommended {
	color: #339F7B;
	display: none;
	margin-bottom: 10px;
	background: url(../images/icon_recommend.png) no-repeat transparent 0px 0px;
	padding: 4px 31px;
	font-weight: bold;

}
.sbg_card_options .sbg_row .col-sm-9 h6  a { color: #333 !important; display: block; }
.sbg_card_options .sbg_row .col-sm-9 h6 a:hover { color: #333 !important; display: block; }

.sbg_card_options .sbg_row .col-sm-9 .sbg_recommended.on {
	display: block;
}
.sbg_card_options .sbg_row {
	display: block;
	margin-bottom: 20px;
}
.sbg_card_options .sbg_row h6 {
	font-size: 15px;
	font-weight: bold;
}

.sbg_row.second.user_details {
	padding-left: 15px;
	display: none;
}

/*STEP 2 */
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7  ul {
	list-style-type: none;
	margin-left: 0px;
}
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7 ul li input {
	margin: 0;
	float: left;
	margin-right: 10px;
}
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7 ul li span {
	float: left;
}
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7 ul li:before {
	display: table;
	content: " ";
}
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7 ul li:after {
	clear: both;
	display: table;
	content: " ";
}
.std_bnk_step_content.off.step-1 .sbg_row.first.clearfix .col-sm-7 ul li a.sbg_tooltip {
	margin-left: 10px;
}
/*STEP 3 */

.std_bnk_step_content.step-2 .panel_failure .panel_success_msg {
	background-color: #A80511;
}
.std_bnk_step_content.step-2 .panel_failure .panel_success_msg img,
.std_bnk_step_content.step-2 .panel_success .panel_success_msg img  {
	margin-bottom: 0px;
}
.std_bnk_step_content.step-2 .panel_failure .panel_success_msg  .msg_icon,
.std_bnk_step_content.step-2 .panel_success .panel_success_msg  .msg_icon {
	float: left;
}
.std_bnk_step_content.step-2 .panel_failure .panel_success_msg  .msg_close,
.std_bnk_step_content.step-2 .panel_success .panel_success_msg  .msg_close {
	float: right;
	margin: 8px 13px;
}
.std_bnk_step_content.step-2 .panel_failure .panel_success_msg span,
.std_bnk_step_content.step-2 .panel_success .panel_success_msg span {
	color: #fff;
	display: block;
	float: left;
	margin: 10px 15px;
	font-size: 12px;
}
.std_bnk_step_content.step-2 .panel_failure h3 {
	color: #A80511;
	margin-bottom: 0px;
}
.std_bnk_step_content.step-2 .panel_failure p {
	color: #A80511;
	font-size: 13px !important;
}
.std_bnk_step_content.step-2 .panel_failure ul {
	margin-left: 40px;
	list-style-type: disc;
}
.std_bnk_step_content.step-2 .panel_failure ul li {
	margin-bottom: 10px;
	color: #A80511;
	width: 234px;
}

.std_bnk_step_content.step-2 .panel_failure ul li a.sbg_tooltip {
	float: right;
}
/*Success*/
.std_bnk_step_content.step-2 .panel_success .panel_success_msg {
	background-color: #026b0c;
}
.std_bnk_step_content.step-2 .panel_success h3 {
	margin-bottom: 0px;
	background: none;
}
.std_bnk_step_content.step-2 .panel_success hr,
.std_bnk_step_content.step-2 .panel_failure hr  {
	position: inherit;
	border: 0;
	border-top: 1px solid #eee;
	height: 0px;
	width: 100%;
	display: block;
	left: 0;
	top: 0;
}

.std_bnk_step_content.step-2 .panel_success p {
	color: #333;
	font-size: 13px !important;
}
/*on off failure/success*/
.std_bnk_step_content.step-2 .panel_failure.off,
.std_bnk_step_content.step-2 .panel_success.off {
	display: none;
}
.std_bnk_step_content.step-2 .panel_failure.on,
.std_bnk_step_content.step-2 .panel_success.on {
	display: block;
}

/*Tooltip*/
.sbg_tooltip {
	background: url(../images/icon_tooltip.png) no-repeat transparent 0px 0px;
	height: 16px;
	width: 16px;
	display: inline-block;
	position: relative;
}
.sbg_tooltip:hover span {
	display: block;
}

.sbg_tooltip span {
	position: relative;
	background-color: #333;
	color: #F7F7F7;
	display: none;
	width: 200px;
	top: -78px;
	left: -14px;
	padding: 10px;
	border-radius: 5px;
	float: none !important;
}
.sbg_tooltip span i {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	position: absolute;
	bottom: -8px;
	left: 11px;
}

.std_bnk_step_content .sbg_row.third .btn_apply.mobile {
	display: none !important;
	margin: 20px 0px;
	display: inline-block;
	padding: 10px 53px 10px 20px;
	text-align: left;
	font-weight: bold;
	color: #fff;
	background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
	width: 100%;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
}



@media only screen and (max-width: 480px) {
	.sbg_form .sbg_dropdown .sbg_dd {
		width: 100%;
	}
	.sbg_form .sbg_dropdown ul {
		width: 100%;
	}
	.sbg_form .sbg_dropdown .bit-30,
	.sbg_form .input .bit-30  {
		width: 100%;
	}
	.sbg_form .sbg_dropdown .bit-70,
	.sbg_form .input .bit-70 {
		width: 100%;
	}
	.std_bnk_step_content .image {
		display: none;
	}
	.sbg_form .sbg_dropdown .input_wrapper {
		width: 100%;
	}
	.sbg_form .sbg_dropdown .sbg_dd {
		width: 83%;
	}
	.sbg_form .sbg_dropdown .sbg_dd input {
		width: 73%;
	}
	.sbg_card_options .sbg_row {
		border-bottom: 1px solid #ccc;
		margin: 0;
	}
	.sbg_card_options .sbg_row img {
		display: none;
	}
	.sbg_card_options .sbg_row .col-sm-3 a {
		display: none;
	}
	.sbg_card_options .sbg_row .col-sm-9 p,
	.sbg_card_options .sbg_row .col-sm-9 ul {
		display: none;
	}
	.sbg_card_options {
		border: 1px solid #ccc;
		border-bottom: 0;
	}
	.sbg_card_options .sbg_row .col-sm-9 h6 {
		font-weight: bold;
		font-size: 13px;
		padding: 17px 0px 17px 20px;
		background: url(../images/icon_arrow_light_blue.png) no-repeat transparent 94% 50%;
		margin: 0px;
	}
	.sbg_card_options .sbg_row .col-sm-9 h6.mobile_on{
		background: url(../images/icon_recommend.png) no-repeat transparent 94% 50%;
	}
	/*	#footer, #bottomNav, #v7LeftNav {
            display: none;
        }*/
	.std_bnk_step_content .sbg_row.first .btn_apply {
		display: none;
	}
	.std_bnk_step_content .sbg_row.third .btn_apply.mobile {
		display: block !important;
		display:none !important;
	}
	.sbg_card_options .sbg_row .col-sm-9 .sbg_recommended.on {
		display: none;
	}
	.sbg_form .input .input_wrapper {
		width: 100%;
	}
	.std_bnk_step_content.step-0 .sbg_row.second.clearfix .sbg_dd,
	.std_bnk_step_content .sbg_row.first .btn_continue {
		width: 100%;
	}
	.sbg_tooltip span {
		left: -165px;
	}
	.sbg_tooltip span i {
		left: 81%;
	}
	div.siteheader div#siteName {
		display: none;
	}
	.navbar-toggle {
		margin-top: 3px;
	}
	.std_bnk_step_content .sbg_row.first ul li:last-child span {
		width: 87%;
	}
	.btn_back_user_details {
		width: 100%;
		height: 42px;
		line-height: 30px;
	}
}

/*
	--------------------------------------------
	SLIDER : PAYMENT CALCULATOR
	--------------------------------------------
*/
.sbg_intro.mobile {
	display: none;
}
.sbg_intro.desktop {
	display: block;
}
.repayment_calculator {
	padding: 0px 20px;
	border-radius: 2px;
	margin-bottom: 50px;
}
.repayment_calculator .payment_slider {
	margin-bottom: 25px;
}
.repayment_calculator .bit-6 {
	width: 6%;
	float: left;
}
.repayment_calculator .btn_apply.mobile {
	display: none;
}
.repayment_calculator .bit-6 .slider_minus {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #0396FD;
	cursor: pointer;
	display: block;
	margin-top: 6px;
	background: url(../images/slider_minus.png) no-repeat #0396FD 0% 0%;
}
.repayment_calculator .bit-6 .slider_plus {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #0396FD;
	cursor: pointer;
	display: block;
	margin-top: 6px;
	float: right;
	background: url(../images/slider_plus.png) no-repeat #0396FD 0% 0%;
}
.repayment_calculator .bit-6 .slider_plus:hover,
.repayment_calculator .bit-6 .slider_minus:hover {
	background-color: #26428b;
}
.repayment_calculator .bit-88 {
	width: 88%;
	float: left;
}
.repayment_calculator .bit-70 {
	width: 70%;
	float: left;
}
.repayment_calculator .bit-70 .sbg_slider {
	margin-bottom: 6px;
}
.repayment_calculator .bit-70 label {
	font-size: 13px;
	color: #26428B;
	font-weight: bold;
}
.repayment_calculator .bit-70 span {
	font-size: 11px;
	color: #0399FB;
}
.repayment_calculator .bit-70 span.left {
	float: left;
}
.repayment_calculator .bit-70 span.right {
	float: right;
}
.repayment_calculator .bit-70 span.right.mobile {
	display: none;
}
.repayment_calculator .bit-70 input {
	height: 30px;
}
.repayment_calculator .bit-30 {
	width: 30%;
	float: left;
}
.repayment_calculator .bit-30 input {
	width: 85%;
	height: 35px;
	float: right;
	border: 1px solid #D1D1D1;
	padding: 0px 20px;
	color: #0396FD;
	font-weight: bold;
	border-radius: 0px;
	margin-top: 18%;
	background-color: #FFFFFF;
	padding-left: 25px;
}
.repayment_calculator .payment_monthly {
	padding: 0px 0px;
}
.repayment_calculator .payment_monthly p a span {
	color: #fff;
	font-size: 12px !important;
	font-weight: normal;
	line-height: 15px;
	margin-bottom: 0;
	top: -105px;
}
.repayment_calculator .payment_monthly p,
.repayment_calculator .payment_monthly span {
	font-size: 15px !important;
	font-weight: bold;
	line-height: 17px;
	margin-bottom: 0;
}
.repayment_calculator .payment_monthly p {
	color: #393939;
	width: 168px;
	line-height: 30px;
	float: left;
	font-size: 14px !important;
	font-weight: bold;
}
.repayment_calculator .payment_monthly p a {
	float: right;
	top: 9px;
}
.repayment_calculator .payment_monthly span#total_loan_payment {
	border: 1px solid #ddd;
	width: 85%;
	display: block;
	padding: 7px 25px;
	margin-left: 31px;
	font-size: 15px !important;
	color: #0396FD;
	background-color: #F3F3F3;
}

.repayment_calculator #txt_loan_amount {
	background: url(../images/bg_rands.png) no-repeat #FFFFFF 7% 40%;
	padding-left: 35px;
}
.repayment_calculator #txt_interest_rate {
	background: url(../images/bg_percentage.png) no-repeat #FFFFFF 7% 40%;
	padding-left: 35px;
}
.repayment_calculator #txt_loan_term {
	background: url(../images/bg_months.png) no-repeat #FFFFFF 7% 40%;
	padding-left: 35px;
}
/* Slider Appearance */

/* Reset Slider */
.repayment_calculator .bit-70 input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Hides the handle so that custom slider can be made */
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; /* Hides the slider so custom styles can be added */
	border-color: transparent;
	color: transparent;
}

/* New Slider Styling */

/*** START SLIDER THUMB ***/

/* special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height:20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	border: 3px solid #004795;
	/* background: url(../images/dot_slide.png) no-repeat #fff 50% 50%; */
}

/* special Styling for Firefox */
input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	border: 3px solid #004795;
	background: url(../images/dot_slide.png) no-repeat #fff 50% 50%;
}
/* special Styling for IE */
input[type=range]::-ms-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	border: 3px solid #004795;
	/* background: url(../images/dot_slide.png) no-repeat #fff 50% 50%; */
}

/*** // END OF SLIDER THUMB ***/


/*** START SLIDER TRACK ***/

/* special styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #ccc;
	border-radius-top-right:1.3px;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #ccc;
	border-radius-bottom-right:1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #004795;
}

input[type=range].on::-webkit-slider-runnable-track {
	background: #004795;
}
input[type=range].off::-webkit-slider-runnable-track {
	background: #ccc;
}

/* Other */
.std_bnk_step_content .sbg_row.second .col-sm-12 h3 a.sbg_tooltip {
	top: 4px;
	left: 12px;
}
.std_bnk_step_content .sbg_row.second .col-sm-12 h3 a.sbg_tooltip span {
	position: absolute;
	top: -134px;
	font-weight: normal;
}

.calculator_validations {
	margin-left: 35px;
	margin-bottom: 10px;
}
.calculator_validations li {
	color: red;
	margin-bottom: 5px;
}
.calculator_validations li.off {
	display: none;
}
.calculator_validations li.on {
	display: block;
}
@media only screen and (max-width: 480px) {
	.sbg_intro.mobile {
		display: block;
	}
	.sbg_intro.desktop {
		display: none;
	}
	.repayment_calculator .bit-30 {
		display: none;
	}
	.repayment_calculator .bit-70 {
		width: 100%;
	}
	.repayment_calculator .bit-30.pay_amount {
		display: block;
		width: 100%;
	}
	.repayment_calculator .bit-6 {
		display: none;
	}
	.repayment_calculator .bit-88 {
		width: 100%;
	}
	.repayment_calculator .bit-88 input {
		width: 100%;

	}
	.payment_monthly .bit-70 {
		width: 100%;
	}
	.payment_monthly .bit-30 {
		width: 40%;
	}
	.repayment_calculator .bit-70 span.left,
	.repayment_calculator .bit-70 span.right {
		display: none;
	}
	.repayment_calculator .bit-70 span.right.mobile {
		display: block;
	}
	.repayment_calculator input[name=slider_loan_amount] {
		background: url(../images/bg_rands.png) no-repeat #FFFFFF 11px 40%;
		padding-left: 35px;
		border: 1px solid #ddd;
	}
	.repayment_calculator input[name=slider_interest_rate] {
		background: url(../images/bg_percentage.png) no-repeat #FFFFFF 11px 40%;
		padding-left: 35px;
		border: 1px solid #ddd;
	}
	.repayment_calculator input[name=slider_loan_term] {
		background: url(../images/bg_months.png) no-repeat #FFFFFF 11px 40%;
		padding-left: 35px;
		border: 1px solid #ddd;
	}

	.repayment_calculator .btn_apply.mobile {
		margin: 25px 0px;
		display: inline-block;
		padding: 10px 53px 10px 20px;
		text-align: left;
		font-weight: bold;
		color: #fff;
		background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
		width: 240px;
		text-align: center;
		height: 46px;
		line-height: 24px;
		font-size: 14px;
		display: block;
		width: 100%;
	}
	.repayment_calculator .payment_monthly p {
		color: #393939;
		width: 100%;
		line-height: 15px;
		float: left;
		font-size: 14px !important;
		font-weight: bold;
		margin-left: 20px;
		padding-right: 10px;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.repayment_calculator .payment_monthly span#total_loan_payment {
		border: 1px solid #ddd;
		width: 100%;
		display: block;
		padding: 7px 25px;
		margin-left: 0px;
		font-size: 15px !important;
		color: #0396FD;
		background-color: #F3F3F3;
	}
	.repayment_calculator .payment_monthly p a {
		float: right;
		top: 0px;
	}
}


/* PHASE 2 Overwites */
.std_bnk_step_content .sbg_row.first .btn_apply img {
	float: left;
	margin-bottom: 0px;
}
.std_bnk_step_content .sbg_row.first .btn_apply {
	padding: 10px 53px 10px 36px;
}
.std_bnk_step_content .sbg_row.first .btn_apply:hover {
	background-color: #26428B;
}

#choice_type .id_type_choice span:first-child {
	background: transparent url("/standimg/South%20Africa/Images/SavingsInvestments/radio_button_inactive.png") scroll no-repeat 0 50%;
	float: left;
	padding-left: 0;
	padding-right: 5px;
	width: auto;
	height: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	text-indent: 23px;
	line-height: 18px;
	text-decoration: none;
	overflow: hidden;
	display: block;
	font-size: 14px;
}

#choice_type .id_type_choice span:first-child {
	color: #333 !important;
}

#choice_type .radio-inline {
	padding-left: 0 !important;
}