
.sbg_row.call_me_back {
	margin-top: 30px;
}
.sbg_row.call_me_back form {
	margin-top: 30px;
}

.sbg_row.call_me_back .sbg_required {
	color: red;
	font-weight: bold;
}
.sbg_form  .input_wrapper.buttons input {
	float: left;
	width: 145px;
	margin-right: 20px;
    padding: 10px 53px 10px 28px !important;
}
.sbg_form .input_wrapper.buttons .btn_cancel.white {
	margin: 4px 0px;
	display: inline-block;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #004795;
	color: #004795;
	background: none;
	margin-right: 24px;
	padding-top: 10px !important;
	float: left;
	width: 136px;
	font-weight: bold;
} 
.sbg_form  .input_wrapper.buttons input.blue:hover {
	background-color: #F58320;
	border: 1px solid #F58320;
}
.sbg_form  .input_wrapper.buttons input.white {
	background-color: #fff;
	border: 1px solid #004795;
	color: #004795;
	background: none;
    margin-right: 24px;
    padding-left: 35px !important;
}
.whatweoffer_content {
	margin-bottom: 20px;
	background-size: 66%;
}
.sbg_row.call_me_back.panel_form.on {
	display: block;
}
.sbg_row.call_me_back.panel_form.off {
	display: none;
}

.sbg_row.call_me_back.panel_success.off {
	display: none;
}
.sbg_row.call_me_back.panel_success.on {
	display: block;
    margin-bottom: 25%;
}

.sbg_row.call_me_back.panel_success .panel_success_msg {
	background-color: #026b0c;
}
.sbg_row.call_me_back.panel_success .panel_success_msg img {
	margin-bottom: 0px;
}
.sbg_row.call_me_back.panel_success .panel_success_msg  .msg_icon {
	float: left;
}
.sbg_row.call_me_back.panel_success .panel_success_msg  .msg_close {
	float: right;
	margin: 8px 13px;
}
.sbg_row.call_me_back.panel_success .panel_success_msg span {
	color: #fff;
	display: block;
	float: left;
	margin: 10px 15px;
	font-size: 12px;
}
.sbg_row.call_me_back .btn_back_to_state {
	margin: 20px 0px;
	display: inline-block;
	padding: 10px 27px 10px 20px;
	text-align: left;
	/* font-weight: bold; */
	background: url(images/icon_arrow_white.png) no-repeat #0396FD 93% 44%;
	width: 208px;
	text-align: left;
	/* height: 39px; */
	line-height: 24px;
	font-size: 13px;
	color: #fff !important;
	margin-top: 5px;
	margin-top: 20px;
}
.col-sm-9.whatweoffer {
	height: auto;
}
.sbg_row.call_me_back .sbg_form .input .input_wrapper {
    width: 85%;
}
.sbg_row.call_me_back .sbg_form .sbg_dropdown .input_wrapper {
    width: 85%;
}
.sbg_row.call_me_back .sbg_form .sbg_dropdown ul {
    width: 79%;
    margin: 0px;
    position: absolute;
    top: 36px;
    left: 0px;
    z-index: 3;
    display: none;
}
@media (max-width: 767px) and (min-width: 480px) {
	.whatweoffer.neutral {
		width: 100% !important;
	}
}
@media only screen and (max-width: 520px) {
	.whatweoffer.neutral {
		width: 100% !important;
	}
	.sbg_row.call_me_back .sbg_form .input_wrapper.buttons input {
		width: 93% !important;
	}
}

@media only screen and (max-width: 480px) {
	.sbg_form .input_wrapper.buttons .btn_cancel.white {
		width: 93%;
	}

	.sbg_row.call_me_back .sbg_form .input .input_wrapper {
		width: 100%
	}

	.sbg_row.call_me_back .sbg_form .sbg_dropdown ul {
		width: 93%;
	}
}
