/*Home loans landing page start*/
.hv_page #tile_style .tiles_container {
    margin-top: 20px;
}

.hv_page #tile_style .ts_product,
.hl_product_page #tile_style .ts_product {
    width: 32%;
}

.hv_page .vaf_app_contact .special_left {
    width: 66% !important;
    padding-right: 0 !important;
    margin-right: 18px;
}

.hv_page #tile_style .page_footer {
    width: 66% !important;
}

.hv_page #tile_style .tiles .middle_product {
    margin-right: 18px;
}

.hv_page #tile_style .tiles .product_body_content {
    padding-bottom: 0;
}

.hv_page #tile_style ul.linkList,
.hv_page #home_loans_calculator ul.linkList,
.hl_product_page #tile_style ul.linkList {
    padding-left: 8px;
    margin-bottom: 0;
}

.hv_page #tile_style .product_body_last_section ul.linkList {
    padding-left: 0;
    padding-right: 0;
    margin-right: -18px;
}

.hv_page #tile_style .col-lg-4 .product_body_last_section ul.linkList,
.hv_page #tile_style .col-md-4 .product_body_last_section ul.linkList {
    margin-right: -8px !important;
}

.hv_page #tile_style ul.linkList li:hover,
.hl_product_page #tile_style ul.linkList li:hover {
    background: #0396FD;
    color: #ffffff !important;
    padding-left: 5px;
}

.hv_page #tile_style .last_section ul.linkList li:hover,
.hv_page #home_loans_calculator .last_section ul.linkList li:hover,
.hl_product_page #tile_style .last_section ul.linkList li:hover {
    background: url(../images/icon_arrow_white.png) no-repeat 98% 50% #0396FD;
}

.hv_page #tile_style ul.linkList li,
.hl_product_page #tile_style ul.linkList li {
    padding-left: 5px;
    margin-right: 10px;
    padding-right: 0;
    background: none;
}

.hv_page #tile_style .last_section ul.linkList li,
.hv_page #home_loans_calculator .last_section ul.linkList li,
.hl_product_page #tile_style .last_section ul.linkList li {
    background: url(../images/icon_arrow_blue.png) no-repeat 98% 50%;
}

#tile_style .last_section ul.linkList li:last-child,
#home_loans_calculator .last_section ul.linkList li:last-child,
#tile_style .tile_image ul.linkList li:last-child {
    border-bottom: 1px solid rgba(155, 155, 155, 0.52);
}

#tile_style .tile_image ul.linkList {
    margin-bottom: 10px;
}

#home_loans_calculator .tiles {
    margin-bottom: 10px !important;
}

#tile_style .tile {
    height: auto;
}

#tile_style .tile_image {
    width: 30%;
    position: absolute;
    top: 34px;
    left: 623px;
    background-color: #f7f7f7;
    z-index: 1;
    height: 253px;
}

.hv_page.ab_test #tile_style .tile_image {
    height: 270px !important;
}

.home-loan-test-page #tile_style .tile_image {
    height: 270px;
}

.hv_page #tile_style .hv_product_content,
.hv_page #tile_style .banner .tile_image,
.hl_product_page #tile_style .banner .tile_image,
.hl_product_page #tile_style .hv_product_content {
    background-color: #fafafa !important;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
}

.hv_page #tile_style .last_section .hv_product_content,
.hl_product_page #tile_style .last_section .hv_product_content {
    box-shadow: none;
    border-radius: 0;
}

.hv_page #tile_style .hv_product_body,
.hl_product_page #tile_style .hv_product_body {
    padding-left: 16px;
}

.hv_page #tile_style .hv_product_body .description,
.hl_product_page #tile_style .hv_product_body .description {
    padding-left: 8px;
    width: 90%;
    height: 105px;
    margin-bottom: 10px;
}

.hv_page #tile_style .tiles .product_header,
.hl_product_page #tile_style .tiles .product_header {
    padding-left: 24px;
    background-color: #f7f7f7;
}

.hv_page #tile_style .what_do_you_want .product_header {
    color: #26428b;
    padding-top: 12px;
}

.hv_page #tile_style .what_do_you_want .tile .hl_separator {
    margin: 0 25px 10px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(155, 155, 155, 0.52);
    padding: 0;
}

.hv_page #tile_style .banner,
.hl_product_page #tile_style .banner {
    position: relative;
}

.hl_product_page .header {
    margin-top: 20px;
}

.hv_page #tile_style .banner .product_header,
.hl_product_page #tile_style .banner .product_header {
    color: #026cb8;
    padding-left: 24px;
    padding-top: 16px;
    font-size: 14px;
}

.hv_page #tile_style .banner .description,
.hl_product_page #tile_style .banner .description {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    height: auto;
}

.hv_page #tile_style .banner .tile_image:not:hover,
.hl_product_page #tile_style .banner .tile_image:not:hover {
    border: 0 #e7e7e7;
    display: block;
    box-shadow: none;
}

.hv_page #tile_style .last_section .tile,
.hv_page #home_loans_calculator .last_section .tile,
.hl_product_page #tile_style .last_section .tile {
    border: none;
    background-color: #ffffff;
    border-radius: 0;
}

.hv_page .ts_call_me .greybbox_c > div,
.hl_product_page .ts_call_me .greybbox_c > div {
    width: 20% !important;
    margin-left: 42px;
}

.hl_product_page .ts_call_me .greybbox_c > div {
    margin-left: 21px;
}

.hv_page #tile_style .last_section,
.hv_page #home_loans_calculator .last_section,
.hl_product_page #tile_style .last_section {
    margin-top: 0;
    height: auto;
}

.hv_page #tile_style .last_section .tile:hover,
.hl_product_page #tile_style .last_section .tile:hover {
    border: none;
    box-shadow: none;
    display: block;
    background-color: #ffffff !important;
}

.hv_page #tile_style .last_section .product_header {
    padding-left: 0;
}

.hv_page #tile_style ul.linkList li,
.hv_page #home_loans_calculator ul.linkList li,
.hl_product_page #tile_style ul.linkList li {
    text-align: left;
}

.hv_page #tile_style .last_section .hv_product_content,
.hv_page #home_loans_calculator .last_section .hv_product_content,
.hl_product_page #tile_style .last_section .hv_product_content {
    background-color: #ffffff !important;
    margin-bottom: 0;
}

.hv_page #tile_style .last_section .hl_tiles_footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hv_page #tile_style .last_section .hl_tiles_footer > a {
    font-size: 14px;
}

#tile_style .support,
#tile_style .last_section .infographic {
    width: 100%;
    background-color: rgba(239, 239, 239, 0.78);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.03), inset 0 0 3px 0 rgba(0, 0, 0, 0.00);
    border-radius: 2px;
}

#tile_style .call_me,
#tile_style .last_section .infographic_icon {
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 15px;
}

#tile_style .phone_number,
#tile_style .download,
#tile_style .call_me,
#tile_style .infographic_icon {
    text-align: left;
}

#tile_style .phone_number > p:first-child,
#tile_style .download > p:first-child {
    font-size: 12px !important;
    color: #9b9b9b;
    line-height: 19px;
    text-shadow: 0 1px 1px #ffffff;
    font-family: "Arial Rounded MT Bold", sans-serif;
    padding-top: 10px;
    margin: 0;
}

#tile_style .phone_number > p:last-child {
    font-size: 18px !important;
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #f5a623;
    line-height: 21px;
    padding-bottom: 10px;
}

#tile_style .download > p:last-child {
    font-size: 18px !important;
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #2570e0;
    line-height: 21px;
    padding-bottom: 10px;
}

.hv_page #tile_style .hv_product_body .sbg_form .input input.sbg_button_submit,
.hl_product_page #tile_style .hv_product_body .sbg_form .input input.sbg_button_submit {
    width: auto;
    margin-left: 9px;
}

.hv_page.vaf #tile_style .hv_product_body .sbg_form .input input.sbg_button_submit {
    width: 88% !important;
}

.hv_page #tile_style input.sbg_button_submit:hover,
.hl_product_page #tile_style input.sbg_button_submit:hover {
    background-color: #26428B !important;
    color: white;
    border-color: #26428B !important;
}

.hv_page #tile_style .hv_product_body .sbg_form {
    margin-bottom: 20px;
}

.hv_page .linkList li,
.hl_product_page .linkList li {
    border-top: 1px solid rgba(155, 155, 155, 0.52);
    border-bottom: none;
}

.hv_page .box h3,
.hl_product_page .box h3,
.hl_product_page h3 {
    color: #26428b;
}

.hv_page #tile_style .header .sub_header {
    font-weight: bolder;
    margin-top: 6px;
    margin-bottom: 30px;
}

.hv_page #tile_style .shop_for_hl .hv_product_body .description,
.hv_page #tile_style .manage_your_hl .hv_product_body .description,
.hv_page #tile_style .more_from_hl .hv_product_body .description {
    height: 65px !important;
}

.hv_page #tile_style #tile_style_form .sbg_form > .input:nth-child(4) {
    margin-top: 8px;
}

.hv_page #tile_style .ts_call_me, .hl_product_page #tile_style .ts_call_me {
    background-color: #f5f5f5 !important;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-top: 10px;
}

.hv_page #tile_style_form .sbg_form .call_to_action {
    padding-left: 0 !important;
}

.hl_product_page #tile_style .steps-area .step-right:first-child {
    margin-top: 190px;
}

.hl_product_page #tile_style .steps-area .step-left:nth-child(2),
.hl_product_page #tile_style .steps-area .step-right:nth-child(2),
.hl_product_page #tile_style .steps-area .step-left:nth-child(3),
.hl_product_page #tile_style .steps-area .step-right:nth-child(3) {
    margin-top: 152px;
}

.hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(2) {
    margin-top: 217px;
}

.hl_product_page.vaf #tile_style .steps-area .step-right:nth-child(2) {
    margin-top: 160px;
}

.hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(3) {
    margin-top: 176px;
}

.hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(4) {
    margin-top: 190px;
}

/*Home loans landing page end*/

/*Special design for first time buyer*/
.hl_product_page .start_here {
    padding: 10px;
    background: #4a4a4a;
    border-radius: 6px;
    display: inline-block;
    width: 30%;
    height: auto;
}

.hl_product_page .start_here p:first-child {
    font-size: 18px !important;
    color: #FFFFFF;
    line-height: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hl_product_page .start_here p:nth-child(2),
.hl_product_page .start_here p:last-child {
    font-family: "Arial MT", sans-serif;
    font-size: 14px !important;
    color: #ffffff;
    line-height: 18px;
}

.hl_product_page .ftb .container {
    padding: 0;
}

.hl_product_page .hl_separator_vertical > .first {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
    width: 3px;
}

.hl_product_page .hl_separator_vertical > .second {
    margin-top: 15px;
    width: 2px !important;
    height: 80px !important;
}

.hl_product_page .hl_separator_vertical > .third,
.hl_product_page .hl_separator_vertical > .four {
    margin-top: 0;
    width: 3px !important;
    height: 25px !important;
    padding-left: 1px;
}

.hl_product_page .hl_separator_vertical > .four {
    height: 140px !important;
}

.hl_product_page .steps-area .step-left,
.hl_product_page .steps-area .step-right {
    background: #f3f3f3;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.20), inset 0 0 0 1px #ffffff;
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.hl_product_page .steps-area .step-left:after,
.hl_product_page .steps-area .step-left:before {
    left: 95%;
    top: 23%;
    border: solid;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hl_product_page .steps-area .step-right:after,
.hl_product_page .steps-area .step-right:before {
    right: 95%;
    top: 23%;
    border: solid;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hl_product_page .steps-area .step-right:last-child:after,
.hl_product_page .steps-area .step-right:last-child:before {
    top: 37% !important;
}

.hl_product_page.vaf .steps-area .step-left:first-child:after,
.hl_product_page.vaf .steps-area .step-left:first-child:before {
    top: 30% !important;
}

.hl_product_page.vaf .steps-area .step-left:last-child:after,
.hl_product_page.vaf .steps-area .step-left:last-child:before {
    top: 33% !important;
}

.hl_product_page .steps-area .step-left:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #f3f3f3;
    border-width: 30px;
    margin-top: -30px;
    z-index: -1;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.20), inset 0 0 0 1px #ffffff;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg);
    left: 329px;
}

.hl_product_page .steps-area .step-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #f3f3f3;
    border-width: 30px;
    margin-top: -30px;
    z-index: -1;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.20), inset 0 0 0 1px #ffffff;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg);
    right: 329px;
}

.hl_product_page .steps-area .step-left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #f3f3f3;
    border-width: 36px;
    margin-top: -36px;
}

.hl_product_page .steps-area .step-right:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #f3f3f3;
    border-width: 36px;
    margin-top: -36px;
}

.hl_product_page .steps-area .step-left span {
    margin-left: 34px;
}

.hl_product_page .steps-area .step-right span {
    margin-left: 52px;
}

.hl_product_page .steps-area .step-left > div:first-child,
.hl_product_page .steps-area .step-right > div:first-child {
    float: left;
    padding-top: 2px;
    padding-right: 5px;
}

.hl_product_page .steps-area .step-right > div:first-child {
    padding-top: 4px !important;
}

.hl_product_page .steps-area .step-left > div:nth-child(2),
.hl_product_page .steps-area .step-right > div:nth-child(2) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 17px;
    color: #0496FD;
}

.hl_product_page .steps-area .step-left > div:nth-child(3),
.hl_product_page .steps-area .step-right > div:nth-child(3) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #1E398F;
    line-height: 21px;
    margin-bottom: 10px;
}

.hl_product_page .steps-area .step-left > div:nth-child(4),
.hl_product_page .steps-area .step-right > div:nth-child(4) {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 12px !important;
    color: #4A4A4A;
    line-height: 18px;
    margin-bottom: 10px;
}

.hl_product_page .steps-area .step-left > div:last-child .input,
.hl_product_page .steps-area .step-right > div:last-child .input {
    margin-bottom: 0 !important;
}

.hl_product_page .steps-area .sbg_button_submit {
    width: auto !important;
}

.hl_product_page .ftb .col-lg-5 {
    padding-left: 0;
}

.hl_product_page #tile_style .tiles {
    margin-left: 0;
}

.hl_product_page .ftb_info {
    font-family: "Arial MT", sans-serif;
    font-size: 14px !important;
    color: #4A4A4A;
    line-height: 19px;
}

.hl_product_page .ftb_info p {
    font-size: 14px !important;
    font-weight: bold;
}

.hl_product_page .header p {
    padding: 0 !important;
}

/*end*/

#home_loans_calculator {
    width: 100%;
    margin-top: 15px;
    padding-left: 0 !important;
}

#home_loans_calculator .col-lg-12 {
    padding-left: 0 !important;
}

#home_loans_calculator .banner > img {
    width: 940px;
}

#home_loans_calculator h3 {
    font-size: 18px !important;
}

#home_loans_calculator .header {
    background-color: #ffffff;
    width: 100%;
}

#home_loans_calculator .title {
    background: none !important;
    margin-top: 10px;
}

#home_loans_calculator .header p {
    padding-top: 25px;
    padding-bottom: 20px;
}

.hv_page #home_loans_calculator .monthly_container {
    border: 1px solid #eee;
    border-radius: 0 2px 2px 2px;
    margin-top: -1px;
    background: #FAFAFA;
    width: 100%;
    display: inline-block;
}

.hv_page #home_loans_calculator .loan_amount_container {
    border: 2px solid #E7E7E7;
    height: 250px;
    background-color: #E7E7E7;
    padding-top: 12px;
    border-radius: 7px;
    width: 48%;
    margin-left: -73px;
}

.hv_page #home_loans_calculator .decreased_container {
    padding-left: 12px;
    padding-top: 24px;
    /*border-radius: 7px;*/
}

.hv_page #home_loans_calculator .calculator_header {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #26428b;
    padding-top: 15px;

}

.hv_page #home_loans_calculator .active_left_menu:hover {
    color: #026CB7 !important;
}

.hv_page #home_loans_calculator .active_right_menu:hover {
    color: #026CB7 !important;
}

.hv_page #home_loans_calculator #left_menu, .hv_page #home_loans_calculator #right_menu {
    cursor: hand;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    z-index: 9;
}

.hv_page #home_loans_calculator #right_menu {
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

.hv_page #home_loans_calculator #left_menu {
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

.hv_page #home_loans_calculator #gross_Income {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 421px;
    height: 60px;
    font-size: 24px;
    color: #999;
    outline: none;
    background-color: #FFF;
    display: block;
}

.hv_page #home_loans_calculator .gross_header .col-md-1 {
    width: 15px;
}

.hv_page #home_loans_calculator #gross_Income > .col-lg-5 {
    padding-left: 5px;
}

.hv_page #home_loans_calculator #deposit_requested > .col-lg-5,
.hv_page #home_loans_calculator #deposit > .col-lg-5 {
    padding-left: 5px;
}

.hv_page #home_loans_calculator .errors {
    color: red;
}

.hv_page #home_loans_calculator .apply {

}

.hv_page #home_loans_calculator .apply:hover {
    background-color: #26428b;;
}

.hv_page #home_loans_calculator #deposit_requested,
.hv_page #home_loans_calculator #deposit {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 60px;
    font-size: 24px;
    color: #999;
    outline: none;
    width: 421px;
    background-color: #ffffff;
}

.hv_page #home_loans_calculator #gross_expenses {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 421px;
    height: 60px;
    font-size: 24px;
    color: #999;
    background: #FFF;
}

.hv_page #home_loans_calculator #gross_expenses > .col-lg-5 {
    padding-left: 5px;
}

.hv_page #home_loans_calculator .pointer_event {
    pointer-events: none;
    cursor: none;
}

.hv_page #home_loans_calculator .div_add_income {
    padding-left: 78px !important;
    width: 50%;
}

.hv_page #home_loans_calculator .monthly_repayment_padding {
    margin-top: 4px;
    margin-bottom: 19px;
}

.hv_page #home_loans_calculator .div_add_expense {
    padding-left: 78px !important;
    width: 50%;
}

.hv_page #home_loans_calculator #gross_amount {
    font-size: 24px;
    color: #999;
    border: 0 solid #cccccc;
    outline: 0;
    pointer-events: visible;
    cursor: pointer;
    background-image: none !important;
    width: 150%;
    padding: 0 !important;
}

/*CJM IE Fix for  gross monthly income */
.ie .hv_page #home_loans_calculator #gross_amount {
    margin-top: 14px;
}

.hv_page #home_loans_calculator #gross_amount:focus {
    outline: none !important;
}

.hv_page #home_loans_calculator #gross_amount:active {
    outline: none !important;
}

.hv_page #home_loans_calculator #deposit_amount,
.hv_page #home_loans_calculator #deposit_accumulated {
    font-size: 24px;
    color: #999;
    border: 0 solid #cccccc;
    outline: none;
    width: 350px;
    background: transparent;
    pointer-events: visible;
    cursor: pointer;
    padding: 0 !important;
}

.hv_page #home_loans_calculator #expense_amount {
    font-size: 24px;
    color: #999;
    border: 0 solid #cccccc;
    outline: none;
    pointer-events: visible;
    cursor: pointer;
    width: 150%;
    padding: 0 !important;
}

.hv_page #home_loans_calculator #expense_amount:focus {
    outline: none !important;
}

.hv_page .home_loans_container {
    padding-left: 0 !important;
    display: block;
}

.hv_page #home_loans_calculator .home_loans_container {
    width: 100%;
}

.hv_page #home_loans_calculator .home_loans_container .col-lg-12,
.hv_page #home_loans_calculator .home_loans_container .col-lg-6 {
    padding-left: 0 !important;
}

.hv_page #home_loans_calculator .home_loans_container .col-lg-1 {
    width: 2%;
}

.hv_page #home_loans_calculator .home_loans_container .col-lg-10 {
    padding-top: 13px;
    padding-left: 0;
}

.hv_page #home_loans_calculator .home_loans_container .col-lg-6:last-child,
.hv_page #home_loans_calculator .home_loans_container .col-lg-6:first-child {
    width: 48%;
}

.hv_page #home_loans_calculator .calculator_img {
    width: 64px;
    object-fit: cover;
    position: absolute;
    right: 0;
    vertical-align: top;
}

.hv_page #home_loans_calculator .calculator_left_img {
    width: 65px;
    padding-top: 20px;
}

.hv_page #home_loans_calculator .bottom_header_content {
    font-size: 12px;
    margin-bottom: 20px;
    color: darkgray;
}

.hv_page #home_loans_calculator .top_header_content {
    width: 93%;
    margin-left: 15px;
    padding-top: 8px !important;
}

.hv_page #home_loans_calculator .right_top_header {
    width: 109%;
    margin-left: 350px;
    margin-top: -72px;
}

.hv_page #home_loans_calculator .loans_panel {
    margin-top: 20px;
    width: 100%;
    padding-right: 0;
}

.hv_page #home_loans_calculator .loans_panel > .gross_header {
    padding-left: 0;
    padding-right: 0;
    width: 58%;
}

.hv_page #home_loans_calculator .gross_label {
    padding-bottom: 6px;
    margin-top: 10px;
    width: 100%;
}

.hv_page #home_loans_calculator .gross_input {
    height: 60px;
    font-size: 24px;
    padding-left: 31px;
}

.hv_page #home_loans_calculator .gross_expense_label {
    padding-bottom: 10px;
    margin-top: 10px;
}

.hv_page #home_loans_calculator .gross_expense_input {
    height: 60px;
    font-size: 24px;
    padding-left: 31px;
}

.hv_page #home_loans_calculator .calculate_link {
    margin-left: 234px;
}

.hv_page #home_loans_calculator .loan_slider_minus {
    width: 19px;
    height: 20px !important;
}

.hv_page #home_loans_calculator .interest_loan_slider {
    margin-left: -1px !important;
}

.hv_page #home_loans_calculator .interest_loan_minus {
    width: 17px !important;
    height: 20px !important;
}

.hv_page #home_loans_calculator .loan_amount_content {
    color: #0396FD;
}

.hv_page #home_loans_calculator .loan_amount_header {
    margin-top: 9px;
}

.hv_page #home_loans_calculator .rand {
    margin-top: 5px;
    font-size: 50px;
    margin-bottom: 7px;
}

.hv_page #home_loans_calculator .rand_content {
    color: #999;
    width: 15px;
    font-size: 24px;
    padding-left: 0;
}

.hv_page #home_loans_calculator .below_loan_amount_hr {
    border-top: 1px solid #ccc;
    width: 342px;
    margin-top: 87px;
}

.hv_page #home_loans_calculator .loan_repayment_label {
    padding-left: 20px;
    margin-top: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
    position: absolute;
}

.hv_page #home_loans_calculator .rand_repayment {
    color: #999;
    font-size: 24px;
}

.hv_page #home_loans_calculator .monthly_rand_repayment {
    color: #999;
    font-size: 24px;
    font-weight: normal;
}

.hv_page #home_loans_calculator .term_period {
    margin-bottom: 30px;
    color: #999;
    position: relative;
}

.hv_page #home_loans_calculator .default_terms {
    margin-top: 13px;
    color: #999;
}

.hv_page #home_loans_calculator .modify_link {
    padding-left: 3px;
    font-size: 12px;
}

.hv_page #home_loans_calculator #reset {
    margin-top: 13px;
    color: #0396FD;
}

.hv_page #home_loans_calculator #reset_link {
    margin-top: 13px;
    color: #0396FD;
}

.hv_page #home_loans_calculator .loan_repayment_content {
    font-size: 24px;
    color: #0396FD;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}

.hv_page #home_loans_calculator .adjust_link {
    color: #0396FD;
}

.hv_page #home_loans_calculator .adjust_anchor {
    margin-top: 15px;
}

.hv_page #home_loans_calculator .loans_hr {
    background-color: #999;
    font-weight: bold
}

.hv_page #home_loans_calculator .loans_gray_box {
    width: 62%;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
}

.hv_page #home_loans_calculator .apply_link {
    padding-left: 14px;
    width: 135px;
    margin-left: -15px;
}

.hv_page #home_loans_calculator .home_loans_call_me_back_link {
    margin-left: 160px;
    margin-top: -46px;
    width: 240px;
    text-align: left;
}

.hv_page #home_loans_calculator .home_loans_apply_online {
    padding: 10px 6px 18px 0;
    width: 141px;
    text-align: center;
    background-image: none;
}

.hv_page #home_loans_calculator .home_loans_apply_online:hover {
    background-color: #26428B !important;
    color: white;
}

.hv_page #home_loans_calculator .home_loans_apply_online:active {
    background-color: #26428B !important;
    color: white;
}

.hv_page #home_loans_calculator .home_loans_call_me_back {
    padding: 10px 6px 18px 0;
    width: 141px;
    text-align: center;
    background-image: none;
    background-color: #FFFFFF !important;
    color: #0396FD;
    font-weight: normal;
    border: 1px solid #0396FD;
}

.hv_page #home_loans_calculator .home_loans_call_me_back:hover {
    background-color: #26428B !important;
    color: white;
    border: 1px solid #26428B;
}

.hv_page #home_loans_calculator .home_loans_call_me_back:active {
    background-color: #FFFFFF !important;
    color: white;
}

.hv_page #home_loans_calculator .home_loans_link {
    color: #0396FD !important;
    border-color: #0396FD !important;
    width: 139px;
    text-align: left;
    padding: 10px 10px 0 0 !important;
    margin-left: -3px;
}

.hv_page #home_loans_calculator .home_loans_link:active {
    color: #d4eeff !important;
    background-color: #0396FD !important;
    border-color: #0396FD !important;
}

.hv_page #home_loans_calculator .home_loans_link:hover {
    background-color: #d4eeff !important;
    color: #0396FD !important;
    border: 1px solid #0396FD !important;
}

.hv_page #home_loans_calculator .home_loans_link {
    color: #0396FD !important;
    border-color: #0396FD !important;
    width: 139px;
    text-align: left;
    padding: 10px 10px 0 0 !important;
    margin-left: -3px;
    margin-top: -46px;
    background-image: none;
}

.hv_page #home_loans_calculator .home_loans_link:active {
    color: #d4eeff !important;
    background-color: #0396FD !important;
    border-color: #0396FD !important;
}

.hv_page #home_loans_calculator .home_loans_link:hover {
    background-color: #d4eeff !important;
    color: #0396FD !important;
    border: 1px solid #0396FD !important;
}

.hv_page #home_loans_calculator .margin_zero {
    margin-top: 0;
}

.hv_page #home_loans_calculator .terms {
    margin-top: 43px;
    margin-left: -211px;
    width: 300px;
}

.hv_page #home_loans_calculator .calculator_terms {
    margin-top: 16px;
    width: 300px;
    margin-bottom: 13px;
    margin-left: -29px;
}

.hv_page #home_loans_calculator .terms_link {
    color: #0396FD;
}

.hv_page #home_loans_calculator .terms_link:hover {
    color: #F58320;
}

.hv_page #home_loans_calculator #add_income:hover {
    color: #F58320;
}

.hv_page #home_loans_calculator #calculate:hover {
    color: #F58320;
}

.hv_page #home_loans_calculator .vertical_line img {
    padding-top: 20px;
    height: 60px;
    width: 3px;
}

.hv_page #home_loans_calculator .home_loans_vertical_pad {
    padding-left: 42px;
}

.hv_page #home_loans_calculator .loanAmount {
    color: #0396FD;
    padding-left: 6px;
    display: block;
    width: 250px;
    word-wrap: break-word;
    font-size: 24px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hv_page #home_loans_calculator .gross_font {
    font-size: 24px;
    color: #999;
}

.hv_page #home_loans_calculator .slider-width {
    margin-left: 2px !important;
    width: 84% !important;
}

.hv_page #home_loans_calculator .home_loans_container .how_much:hover {
    background-color: #eee;
}

.hv_page #home_loans_calculator .home_loans_container .payment_calc:hover {
    background-color: #eee;
}

.hv_page #home_loans_calculator .active {
    background-color: #eee;

}

.hv_page #home_loans_calculator .left_nav {
    padding-left: 22px;
}

.hv_page #home_loans_calculator .right_nav {
    width: 109%;
    margin-top: -85px;
    margin-left: 56px;
}

.hv_page #home_loans_calculator .calculator_mod_container {
    width: 100%;
    height: 70px;
    display: inline-block;
    margin: 10px auto;
    position: relative;
}

.hv_page #home_loans_calculator #gross_image_validator {
    margin-left: 409px;
    margin-top: -41px;
}

.hv_page #home_loans_calculator .home_loans_grey_box {
    background-color: transparent;
}

.hv_page .input-no-spinner::-webkit-outer-spin-button, .input-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hv_page .input::-moz-focus-inner {
    border: 0;
}

.hv_page #home_loans_calculator .home_loan_rand_content {
    color: #999;
    position: relative;
    font-size: 24px;
}

.hv_page #home_loans_calculator .monthly_loan_rand_content, .hv_page #home_loans_calculator .deposit_rand_content {
    color: #999;
    position: relative;
    font-size: 24px;
}

.hv_page #home_loans_calculator .expense_rand_content {
    color: #999;
    position: relative;
}

.hv_page #home_loans_calculator .apply_box_decreased {
    margin-top: -2px !important;
}

.hv_page #home_loans_calculator .cursor {
    cursor: pointer;
    outline: none;
    box-shadow: none;
    pointer-events: visible;
}

.hv_page #home_loans_calculator .incomeInput {
    border: 1px solid red;
}

.hv_page #home_loans_calculator .min_mobile_term {
    display: none;
}

.hv_page #home_loans_calculator .max_mobile_term {
    display: none;
}

.hv_page #home_loans_calculator .min_mobile_rate, .hv_page #home_loans_calculator .max_mobile_rate {
    display: none;
}

.hv_page #home_loans_calculator #total_loan_amount {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 0 0 9px;
    width: 408px;
    height: 60px;
    font-size: 24px;
    color: #999;
    margin-bottom: 29px;
}

.hv_page #home_loans_calculator #loan_amount {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 0 0 9px;
    width: 408px;
    height: 60px;
    font-size: 24px;
    color: #999;
    margin-bottom: 29px;
}

.hv_page .repayment_calculator.loan_repayment_calculator {
    padding-left: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.hv_page .repayment_calculator > .payment_slider {
    margin-bottom: 15px !important;
}

.hv_page #home_loans_calculator #disclaimer {
    margin-bottom: 15px;
    font-size: 11px;
}

.hv_page #home_loans_calculator .slider-plus:hover {
    background-color: #0396FD !important;
}

.hv_page #home_loans_calculator .loan_slider_minus:hover {
    background-color: #0396FD !important;
}

.hv_page #home_loans_calculator .slider_minus:hover {
    background-color: #0396FD !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=range] {
    border: 1px solid transparent !important;
    outline: 2px solid transparent !important;
    outline-offset: -1px !important;
}

input[type=range]::-ms-thumb {
    height: 80px;
    width: 230px;
    margin-top: -16px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #004795;
    background: url(../images/dot_slide.png) no-repeat #fff 50% 50%;
}

.income-tooltip + .tooltip > .tooltip-inner {
    background-color: #cecece;
    min-width: 400px;
    color: #000;
    text-align: left;
    position: relative;
}

.income-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #cecece;
}

.income-tooltip + .tooltip {
    margin-left: -69px;
    margin-top: -10px;
}

.deposit-tooltip + .tooltip > .tooltip-inner {
    background-color: #cecece;
    min-width: 250px;
    color: #000;
    text-align: left;
    position: relative;
}

.deposit-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #cecece;
}

.deposit-tooltip + .tooltip {
    margin-left: -50px;
    margin-top: -10px;
}

.expense-tooltip + .tooltip {
    margin-left: -69px;
    margin-top: -10px;
}

.expense-tooltip + .tooltip > .tooltip-inner {
    background-color: #cecece;
    min-width: 400px;
    color: #000;
    text-align: left;
}

.expense-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #cecece;
}

#apply_online_modal .juristic_button {
    width: 200px;
    background: url(../images/icon_arrow_white.png) no-repeat #0396fd 82% 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 36px;
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    font-size: 14px;
    color: #fff !important;
    font-weight: bold;
}

.hv_page .home_loans_container .how_much,
.hv_page .home_loans_container .payment_calc {
    width: 42%;
    height: 80px;
    background-color: #ffffff;
    float: left;
}

.hv_page .home_loans_container .left_icon {
    padding-top: 7px;
    background: url(/standimg/South%20Africa/Images/HomeLoans/calc-btn2.png) no-repeat #026CB7 50% 50%;
    background-size: 95%;
    margin: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    float: left;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.hv_page .home_loans_container .right_icon {
    padding-top: 7px;
    background: url(/standimg/South%20Africa/Images/HomeLoans/calc-btn.png) no-repeat #4a4a4a 50% 50%;
    background-size: 95%;
    margin: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    float: left;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.hv_page .home_loans_container .how_much > .calculator_call,
.hv_page .home_loans_container .payment_calc > .calculator_call {
    width: 100%;
}

.hv_page .home_loans_container .how_much > .calculator_icon > img,
.hv_page .home_loans_container .payment_calc > .calculator_icon > img {
    /*width: 100%;*/
    /*height: 92px !important;*/
}

.calculator_call {

}

.hv_page .home_loans_container .hl_separator,
.hl_product_page .home_loans_container .hl_separator {
    width: 1%;
    height: 80px;
    background-color: #ffffff;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}

.hv_page .hl_calc_icon, .hl_product_page .hl_calc_icon {
    background: url("/standimg/South%20Africa/Images/HomeLoans/homeloans_icon_calculator.png") no-repeat scroll;
}

.hv_page .hl_calc_icon:hover, .hl_product_page .hl_calc_icon:hover {
    background: url("/standimg/South%20Africa/Images/HomeLoans/homeloans_icon_calculator_white.png") no-repeat scroll;
}

.hv_page a.hl_calc_icon, .hl_product_page a.hl_calc_icon {
    display: block;
    height: 21px;
}

.hv_page .hl_calc_icon > span, .hl_product_page .hl_calc_icon > span {
    display: block;
    padding-left: 20px;
    padding-top: 2px;
}

/*div#incomeModal .modContainer .btn-close {*/
/*margin-right: -14px;*/
/*}*/

.btn-close {
    width: 30px;
    height: 30px;
    background-color: #0396FD;
    color: #fff;
    line-height: 18px;
    border: none;
    border-radius: 0;
    float: right;
}

.close_button_div {
    width: 100%;
    height: auto;
}

.modal#apply_online_modal .modContainer {
    margin: 0 !important;
    width: 100%;
    height: auto;
    padding-left: 10px;
}

.modal#apply_online_modal .modal-body {
    height: 140px !important;
}

.modal#apply_online_modal .modContainer .mod_header {
    padding-top: 10px;
}

.modal#apply_online_modal .modContainer .mod_header span {
    font-size: 18px;
    color: #26428b;
    font-weight: normal;
}

.modal#apply_online_modal .modContainer .post-header p {
    font-weight: normal;
    margin-left: 0;
    width: 100%;
}

.modal#apply_online_modal .modal-body .post-header > .first {
    margin-left: 0;
    width: 230px !important;
    margin-top: 0;
}

.modal#apply_online_modal .modal-body .post-header > .second {
    margin-left: 10px;
    width: 160px !important;
    margin-top: 0;
}

.modal#expenseModal, .modal#incomeModal, .modal#apply_online_modal {
    top: 20px !important;
    height: auto;
    width: 44.7%;
    overflow: hidden;
    margin: 0 auto;
}

.modal#apply_online_modal {
    width: 35.7% !important;
}

.modal#incomeModal {
    width: 31%;
}

#expenseModal .modal-body, #incomeModal .modal-body {
    margin: 0 0 10px 10px;
}

/*!*CJM Submit button margin left*!*/
/*.sbg_form .greybbox_c {*/
/*margin-left: 20px;*/
/*}*/

#incomeModal .modContainer {
    width: 100% !important;
}

#expenseModal .modContainer {
    width: 100%;
}

div#expenseModal .modContainer .form-group {
    clear: both;
    overflow: auto;
    margin-bottom: 8px !important;
}

#add_expenses {
    margin-left: 50%;
}

.modal#expenseModal .modal-content {
    /*height: 605px;
    top: 20px; CJM 03/02/2016*/
    height: auto;
    top: 0;
    display: inline-table;
    width: 100%;
}

.modal#expenseModal .modContainer hr {
    margin: 10px auto;

}

.modal#expenseModal .modContainer {
    height: auto !important;
}

.modal#expenseModal .greybbox_c {
    background-color: #ffffff;
    padding: 5px;
    display: inline-block;
}

.modal#expenseModal .greybbox_c .left {
    width: inherit;
}

.modal#expenseModal .modal_input_div {
    border: 1px solid #cccccc;
    /*border-radius: 4px;*/
    padding: 0 0 0 10px;
    width: 48%;
    height: 37px;
    font-size: 17px;
    color: #999;
    outline: none;
    background-color: #FFF;
    margin-right: 10px;
    float: left;
}

.modal#expenseModal .modal-body {
    height: auto !important;
}

.modal#expenseModal .form-group {
    width: 100%;
}

.modal#expenseModal .modal_input {
    font-size: 17px;
    color: #999;
    border: 0 solid #cccccc;
    outline: none;
    cursor: pointer;
    background-image: none !important;
    height: 30px;
    margin-top: 0;
    padding-top: 3px;
}

.modal#expenseModal .rand_div {
    width: 17px;
    float: left;
    font-weight: normal;
    font-size: 17px;
    padding-top: 3px;
    line-height: 25px;
}

.calculator_headerCont {
    height: 30px;
    line-height: 40px;
}

.modal#expenseModal .calculator_header {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #26428b;
}

.modal#expenseModal .slider_font {
    font-family: arial, serif;
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal !important;
    margin-top: 5px;
    float: left;
}

.modal#expenseModal .modContainer, .modal#incomeModal .modContainer {
    margin: 0 !important;
}

.modal#chido {
    height: auto;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.modal#incomeModal .modal-content {
    height: 250px;
}

.modal#incomeModal .greybbox_c {
    background-color: #ffffff;
    padding: 0;
}

.modal#incomeModal .greybbox_c .left {
    width: inherit;
}

.modal#incomeModal .modal_input_div {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 0 0 31px;
    width: 421px;
    height: 37px;
    font-size: 17px;
    color: #999;
    outline: none;
    background-color: #FFF;
    margin-bottom: 9px;
}

.modal#incomeModal .income_label {
    margin-bottom: 3px;
    margin-top: 3px;
}

.modal#incomeModal .modal_input {
    font-size: 17px;
    color: #999;
    border: 0 solid #cccccc;
    outline: none;
    cursor: pointer;
    background-image: none !important;
    height: 30px;
    margin-top: 0;
}

.modal#incomeModal .rand_div {
    width: 23px;
    float: left;
    font-size: 17px;
    line-height: 30px;
    margin-left: -24px;
}

.modal#incomeModal .calculator_header {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #26428b;
    padding-top: 10px;
}

.modal#incomeModal .slider_font {
    font-family: arial, serif;
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal !important;
    margin-top: 5px;
}

.modal#incomeModal .rand_content {
    color: #999;
    font-size: 20px;
}

.modal#incomeModal .existing_income {
    color: #0396FD;
    font-size: 20px;
}

.hv_page #home_loans_calculator .slider_font {
    font-family: arial, serif;
    font-size: 14px !important;
    color: #000 !important;
    font-weight: normal !important;
}

.hv_page #home_loans_calculator .minus-slider {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    line-height: 17px;
    margin-left: -1px;
    margin-top: 0;
}

.hv_page .warning {
    color: red;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari and Chrome */
    /*.hv_page #home_loans_calculator .minus-slider {*/
    /*margin-top: 8px;*/
    /*}*/
    /*.hv_page #home_loans_calculator .bit-6 {*/
    /*margin-top: -2px;*/
    /*}*/
}

.hv_page #home_loans_calculator .monthly_minus-slider {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    padding-left: 7px;

}

.hv_page #home_loans_calculator .interest_rate_minus-slider {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    margin-left: 6px;
    line-height: 18px;
    padding-left: 2px;
}

.hv_page #home_loans_calculator .interest_minus-slider {
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    margin-left: 6px;
    line-height: 20px;
}

.hv_page #home_loans_calculator .mobile_slider_input {
    background-color: transparent !important;
    cursor: pointer !important;
}

.hv_page #home_loans_calculator .sliderCompatibility {
    width: 232px;
    border-left: 0 solid transparent !important;
}

.hv_page #home_loans_calculator #term_period {
    color: #0396FD;
}

/*Browser tweaks*/
input:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input {
    outline: none !important;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important; /* Hides the handle so that custom slider can be made */
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. */
}

input[type=range]::-ms-track {
    width: 100% !important;
    cursor: pointer !important;
    background: #ccc !important; /* Hides the slider so custom styles can be added */
    border-color: #ccc !important;
    border-left: 1px solid #0396FD !important;
    height: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: -13px;
}

/* New Slider Styling */

/*** START SLIDER THUMB ***/

/* special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    margin-top: -8px !important; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    border: 3px solid #004795 !important;
    background: url(../images/dot_slide.png) no-repeat #fff 50% 50%;
}

/* special Styling for Firefox */
input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #004795;
    background: url(../images/dot_slide.png) no-repeat #fff 50% 50%;
}

/* special Styling for IE */
input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #004795;
    background: url(../images/dot_slide.png) no-repeat #fff 50% 50%;
}

.hv_page #home_loans_calculator .cal_links {
    color: #0396FD;
}

.hv_page #home_loans_calculator .cal_links:hover {
    color: #F58320;
}

.hv_page #home_loans_calculator .cal_links:active {
    color: #F58320;
}

.hv_page #home_loans_calculator #txt_loan_term {
    padding-left: 25px !important;
}

.hv_page #home_loans_calculator #monthly_txt_loan_term {
    padding-left: 25px !important;
    background: url(../images/bg_months.png) no-repeat #FFFFFF 7% 40%;
}

.hv_page #home_loans_calculator #txt_interest_rate {
    padding-left: 25px !important;
}

.hv_page .banner .tile_image .sbg_form .input .input_wrapper,
.hl_product_page .banner .tile_image .sbg_form .input .input_wrapper {
    width: 100%;
}

.hv_page #home_loans_calculator #monthly_txt_interest_rate {
    padding-left: 25px !important;
    background: url(../images/bg_percentage.png) no-repeat #FFFFFF 7% 40%;
}

.hv_page #affordabilityCalculator {
    height: inherit;
}

div.morebtn {
    position: relative;
}

button.morebtn {
    background: url(../../images/icon_arrow_white.png) no-repeat #0396fd 82% 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 36px;
    position: relative;
    width: 110px;
    margin-top: 20px;
    bottom: 0;
    font-size: 14px;
}

.modal-header {
    border-bottom: none;
}

.help-tip {
    text-align: center;
    background-color: #BCDBEA;
    font-size: 14px;
    line-height: 26px;
    float: right;
    cursor: default;
    width: 20px;
    height: 24px;
    margin-top: -7px;
}

.gross_amount_help_tip {
    margin-right: 212px;
}

.gross_amount_help_tip p {
    margin-right: -70px;
    margin-top: -90px;
}

.monthly_expense_help_tip {
    margin-right: 250px;
}

.monthly_expense_help_tip p {
    margin-right: -10px;
    margin-top: -80px;
}

.help-tip {
    text-align: center;
    background-color: #026CB7;
    font-size: 14px;
    line-height: 26px;
    float: right;
    cursor: default;
    width: 24px;
    height: 24px;
    border-radius: 17px;
}

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p {
    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #fff;
    padding: 12px;
    width: 600px;
    height: 50px;
    position: absolute;
    border-radius: 3px;
    right: 17px;
    color: #666;
    font-size: 13px;
    line-height: 1.4;
    border: 1px solid #eee;
}

.monthly_expense_help_tip p {
    width: 450px !important;
    height: 50px !important;
}

.help-tip p:before {
    /* The pointer of the tooltip */
    position: static;
    content: '';
}

.help-tip p:after {
    /* Prevents the tooltip from being hidden */
    content: '';
    position: absolute;
    left: 0;
}

/*VAF css rules start*/

.vaf #tile_style .hv_product_body .description {
    height: auto;
}

.vaf #tile_style ul.linkList li {
    margin-right: 23px;
}

.vaf #tile_style ul.linkList {
    margin-bottom: 5px;
}

.vaf #tile_style .ts_product .tile {
    height: 250px;
}

.vaf .col-lg-8 img {
    width: 100%;
}

.vaf .vaf_app_contact .contact {
    background-color: rgba(239, 239, 239, 0.78);
}

.vaf .vaf_app_contact .contact > .tile {
    background-color: rgba(239, 239, 239, 0.78);
    height: auto !important;
    box-shadow: none;
}

.vaf .vaf_app_contact .contact > .tile img {
    z-index: 1;
    position: relative;
}

.vaf .last_section .ts_product .tile {
    height: auto !important;
}

.vaf #tile_style .tile:hover {
    border: 2px solid #f7f7f7;
    -moz-box-shadow: 3px 3px 4px #eaeaea;
    -webkit-box-shadow: 1px 1px 1px #eaeaea;
    box-shadow: none;
    display: block;
}

.vaf .img_text > p,
.vaf .img_text a {
    font-size: 14px !important;
}

.vaf .img_text > p:first-child {
    color: #26428b;
    font-weight: bold;
    font-size: 14px !important;
}

.vaf .img_text {
    position: absolute;
    width: 50%;
    top: 17%;
    left: 48%;
    z-index: 2;
    text-align: left;
}

/*The negatives are used here for backward text on the banner*/
.vaf .img_text .first {
    margin-left: -14px;
}

.vaf .img_text .second {
    margin-left: -28px;
}

.vaf .img_text .last {
    margin-left: -42px;
}

/*VAF css rules end*/

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.hv_page .call_me_back_body {
    width: 100% !important;
    margin: 0 0 0 0;
    background-color: #e7e7e7;
    height: 270px;
}

.hv_page .call_to_actions {
    margin-left: 21px;
    margin-top: 1px;
}

/*New home loan css*/

.hv_page a.tiles-link {
    color: #5c5c5c;
}

.hv_page #tile_style .hv_product_body .description, .hl_product_page #tile_style .hv_product_body .description {
    font-size: 14px;
}

.hv_page .sub-box h3 {
    color: #0094db;
    font-size: 18px;
}

@media only screen and (min-device-width: 500px) {
    #expenseModal label {
        width: 50%;
        clear: both;
    }
}

@media only screen and (min-device-width: 768px) {

    .modal#expenseModal {
        width: 55%;

    }

    #expenseModal.modal .greybbox_c {
        background-color: #ffffff;
        padding: 5px;
        display: inline-block;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape), screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape), screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape), screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

    div.container {
        width: 100% !important;
    }

    .hv_page, .hl_product_page {
        width: 100% !important;
    }

    .hv_page #tile_style .tile_image,
    .hl_product_page #tile_style .tile_image {
        left: 465px;
        width: 35%;
        top: 15px;
    }

    .hv_page #tile_style .tiles .middle_product {
        margin-right: 10px;
    }

    .hv_page #tile_style .tile,
    .hl_product_page #tile_style .tile {
        height: auto;
    }

    .hv_page #tile_style .tile_image, .hl_product_page #tile_style .tile_image {
        height: auto;
    }

    .hv_page #tile_style .ts_product, .hl_product_page #tile_style .ts_product {
        height: auto;
    }

    .hv_page #tile_style .what_do_you_want .tile .hl_separator,
    .hl_product_page #tile_style .what_do_you_want .tile .hl_separator {
        margin: 0 10px 10px;
    }

    .hv_page .hl_calc_icon, .hl_product_page .hl_calc_icon {
        background: url("/standimg/South%20Africa/Images/HomeLoans/homeloans_icon_calculator.png") no-repeat scroll;
    }

    .hv_page #tile_style .tiles .product_header, .hl_product_page #tile_style .tiles .product_header {
        padding-left: 10px;
    }

    .hv_page #tile_style .tiles .product_body {
        padding-left: 0;
    }

    .hv_page #tile_style .hv_product_body, .hl_product_page #tile_style .hv_product_body {
        padding-left: 5px;
    }

    .hv_page #tile_style .hv_product_body .description,
    .hl_product_page #tile_style .hv_product_body .description {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .hv_page #tile_style .last_section .download > p:last-child {
        font-size: 16px !important;
    }

    .hv_page #tile_style .banner .hv_product_body .description {
        margin-top: 0;
        width: 95%;
        padding-left: 20px;
        height: 78px;
    }

    .hv_page #tile_style .what_do_you_want .product_header {
        padding-top: 10px;
    }

    .hv_page .ts_product {
        margin-bottom: 18px;
    }

    .hl_product_page .ftb .container {
        padding-left: 0 !important;
    }

    .hl_product_page .ftb .col-lg-12 {
        padding-left: 0 !important;
    }

    .hl_product_page .steps-area .step-left:after {
        left: 244px;
    }

    .hl_product_page .steps-area .step-right:after {
        right: 244px;
    }

    .hl_product_page #tile_style .steps-area .step-left:nth-child(2) {
        margin-top: 94px;
    }

    .hl_product_page #tile_style .steps-area .step-left:nth-child(3) {
        margin-top: 126px;
    }

    .hl_product_page #tile_style .steps-area .step-right:nth-child(2) {
        margin-top: 126px;
    }

    .hl_product_page #tile_style .steps-area .step-right:nth-child(3) {
        margin-top: 112px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(2) {
        margin-top: 211px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(3) {
        margin-top: 156px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-right:nth-child(2) {
        margin-top: 180px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-right:nth-child(3) {
        margin-top: 145px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(4) {
        margin-top: 163px;
    }
}

@media only screen and (max-width: 480px), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait), screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait), screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait), screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait), screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

    .hv_page {
        width: 100%;
    }

    .hv_page #tile_style .tiles {
        padding-top: 0;
    }

    #home_loans_calculator {
        width: 100%;
    }

    .calculator_mobile_width {
        width: 100%;
    }

    .hv_page #home_loans_calculator .top_header_content {
        width: 14%;
        margin-left: -6px;
        font-size: small;
    }

    .hv_page #home_loans_calculator .loan_repayment {
        font-size: 16px;
        /*margin-left: 0;*/
        margin-bottom: 0;
        font-weight: normal;
    }

    .hv_page #home_loans_calculator .bottom_header_content {
        display: none;
    }

    .hv_page #home_loans_calculator .calculator_header {
        font-weight: normal;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
    }

    .hv_page #home_loans_calculator .home_loans_vertical_pad {
        display: none;
    }

    .hv_page #home_loans_calculator .mobile_calculator {
        display: none;
    }

    .hv_page #home_loans_calculator .right_nav {
        width: 30%;
        margin-top: 12px;
        margin-left: -323px;
    }

    .hv_page #home_loans_calculator .cost_div {
        display: none;
    }

    .hv_page #home_loans_calculator .monthly_container {
        margin-top: 96px;
        width: 100%;
        height: 747px !important;
    }

    .hv_page #home_loans_calculator .gross_header {
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        margin-top: -15px;
    }

    .hv_page #home_loans_calculator #gross_Income {
        width: 258px;
    }

    .hv_page #home_loans_calculator #total_loan_amount {
        width: 250px;
    }

    .hv_page #home_loans_calculator .home_loan_rand_content {
        color: #999;
        margin-left: 0;
        position: relative;
        top: 11px;
        font-size: 24px;
    }

    .hv_page #home_loans_calculator #gross_Income > .col-lg-5 {
        margin-left: 20px;
        padding-left: 0;
    }

    .hv_page #home_loans_calculator #gross_amount {
        margin-top: -23px;
        width: 194px;
    }

    .hv_page #home_loans_calculator .div_add_income {
        display: none;
    }

    .hv_page #home_loans_calculator #expense_amount {
        width: 194px;
        margin-top: -23px;
    }

    .hv_page #home_loans_calculator #gross_expenses {
        width: 258px;
    }

    .hv_page #home_loans_calculator #deposit {
        width: 250px;
    }

    .hv_page #home_loans_calculator .div_add_expense {
        display: none;
    }

    .hv_page #home_loans_calculator .expense_rand_content {
        margin-left: 0;
        top: 11px;
    }

    .hv_page #home_loans_calculator #gross_expenses > .col-lg-5 {
        padding-left: 0;
        margin-left: 20px;
    }

    .hv_page #home_loans_calculator .home_loans_slider {
        width: 100%;
        margin-top: 7px;
    }

    .hv_page #home_loans_calculator #slider_loan_term {
        box-sizing: initial;
    }

    .hv_page #home_loans_calculator #slider_interest_rate {
        box-sizing: initial;
    }

    .hv_page .repayment_calculator {
        padding-right: 0 !important;
    }

    .hv_page #home_loans_calculator .min_mobile_term {
        display: block;
        margin-left: 25px;
        float: left;
    }

    .hv_page #home_loans_calculator .calculator_mobile_width {
        padding-right: 0 !important;
        width: 100%;
    }

    .hv_page #home_loans_calculator .min_mobile_rate {
        display: block;
        margin-left: 10px;
        float: left;
    }

    .hv_page #home_loans_calculator .max_mobile_rate {
        display: block;
        float: right;
        margin-right: 6px;
    }

    .hv_page #home_loans_calculator .max_mobile_term {
        display: block;
        float: right;
        margin-right: 13px;
    }

    .hv_page #home_loans_calculator .loan_small_input {
        display: block;
        margin-left: 174px;
    }

    .hv_page #home_loans_calculator .mobile_slide_minus {
        display: block;
        float: left;
        padding-left: 17px;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

    .hv_page #home_loans_calculator .mobile_slide_plus {
        display: block;
        margin-left: -5px;
    }

    .hv_page #home_loans_calculator .slider-width {
        display: block;
        box-sizing: border-box;
        float: left;
    }

    .hv_page #home_loans_calculator .slider {
        background: url(/standardbank/Personal/Banking//South%20Africa/Images/HomeLoans/images/bg_months.png) no-repeat #FFFFFF 11px 40%;
        padding-left: 35px;
        border: 1px solid #ddd;
    }

    .hv_page #home_loans_calculator .mobile_slider_input {
        border: 0;
        -webkit-appearance: none;
        padding-left: 0;
        margin-left: 18px;
        width: 88%;
        background-color: transparent;
    }

    .hv_page #home_loans_calculator .small_input_box {
        display: block;
        width: 100%;
    }

    .hv_page #home_loans_calculator .small_input_box > input {
        margin-top: 0 !important;
        width: 100%;
        text-align: center;
    }

    .hv_page #home_loans_calculator .loan_amount_container {
        background-color: transparent;
        bottom: 28px;
        width: 100%;
        margin-left: -66px;
        padding-left: 0 !important;
        padding-top: 0;
        border-radius: 7px;
        border: 2px solid transparent;
        margin-top: 42px
    }

    .hv_page #home_loans_calculator .adjust_anchor {
        display: none;
    }

    .hv_page #home_loans_calculator .apply_link {
        width: 135px;
        margin-left: -73px;
    }

    .hv_page #home_loans_calculator .home_loans_call_me_back {
        padding-left: 0;
        margin-top: -56px;
        width: 111px;
    }

    .hv_page #home_loans_calculator .home_loans_apply_online {
        width: 111px;
        margin-left: 98px;
    }

    .hv_page #home_loans_calculator .below_loan_amount_hr {
        width: 250px;
        margin-top: 17px;
    }

    .hv_page #home_loans_calculator .home_loans_link {
        width: 263px;
        margin-left: -8px;
    }

    .hv_page #home_loans_calculator .mobile_terms_links {
        margin-left: -5px;
    }

    .hv_page #home_loans_calculator .rand_repayment {
        color: #999;
        font-size: 24px;
        margin: 9px 0 32px -35px;
    }

    .hv_page .home_loans_container {
        padding-left: 0 !important;
        width: 50%;
    }

    .hv_page #home_loans_calculator .below_loan_amount_hr {
        display: none;
    }

    .hv_page #home_loans_calculator #deposit_requested {
        width: 100%;
    }

    .hv_page #home_loans_calculator #deposit_requested > .col-lg-5,
    .hv_page #home_loans_calculator #deposit > .col-lg-5 {
        padding-left: 0;
        margin-left: 20px;
    }

    .hv_page #home_loans_calculator #deposit_requested > .col-lg-1 {
        top: 11px;
    }

    .hv_page #home_loans_calculator #deposit {
        width: 100%;
    }

    .hv_page #home_loans_calculator #deposit > .col-lg-1 {
        top: 11px;
    }

    .hv_page #home_loans_calculator #deposit_accumulated,
    .hv_page #home_loans_calculator #deposit_amount {
        margin-top: -23px;
    }

    .hv_page #home_loans_calculator #deposit_accumulated {
        width: 188px;
    }

    .hv_page #home_loans_calculator .monthly_rand_repayment {
        color: #999;
        font-size: 24px;
        font-weight: normal;
    }

    .hv_page #home_loans_calculator .term_period {
        margin-top: -5px;
        margin-bottom: 30px;
        color: #999;
    }

    .hv_page #tile_style .page_footer {
        width: 100% !important;
        background-color: #ffffff !important;
    }

    .hv_page #tile_style ul.linkList li {
        margin-right: 5px !important;
    }

    .hv_page #tile_style .tile_image {
        width: 100%;
        top: 0;
        left: 0;
        background-color: #f7f7f7;
        z-index: 1;
        box-shadow: 0 0 3px 3px #e7e7e7 !important;
        height: 250px !important;
    }

    .hv_page #tile_style .tiles.special_tile {
        height: 280px;
    }

    .hv_page #tile_style .hv_product_body .description {
        width: 100%;
        padding-right: 6px;
        height: auto;
    }

    .hv_page #tile_style .hv_product_body .description {
        height: 70px;
    }

    .hv_page .hl_calc_icon {
        background: url("/standimg/South%20Africa/Images/HomeLoans/homeloans_icon_calculator.png") no-repeat scroll;
        text-align: left;
    }

    .hv_page #tile_style .hv_product_body .sbg_form .input input.sbg_button_submit {
        width: 90%;
        margin-left: 9px;
    }

    .hv_page #tile_style ul.linkList {
        margin-right: 24px;
    }

    .hv_page #tile_style .tile {
        height: auto;
        padding-bottom: 0;
    }

    .hv_page #tile_style .ts_call_me .body, .hl_product_page #tile_style .ts_call_me .body {
        display: block;
    }

    .hv_page #tile_style .greybbox_c {
        margin: 0 !important;
    }

    .hv_page #tile_style .tiles_container {
        margin-top: 0;
    }

    .hv_page #home_loans_calculator .home_loans_buttons {
        margin-top: 12px;
    }

    .hv_page #home_loans_calculator .monthly_repayment_padding {
        margin-top: 4px;
        margin-bottom: 19px;
        margin-left: 36px;
    }

    .hv_page #home_loans_calculator .calculator_terms {
        margin-top: 16px;
        margin-left: 63px
    }

    .hv_page #home_loans_calculator .loan_amount_container {
        width: 100%;
        margin-left: 6px;
    }

    .hv_page #home_loans_calculator .loans_gray_box {
        margin-left: 42px;
    }

    .hv_page #home_loans_calculator .loans_panel > .gross_header {
        padding-left: 0;
        padding-right: 0;
        margin-left: -8px;
        width: 100%;
    }

    .hv_page #home_loans_calculator .loans_panel {
        padding-left: 0;
    }

    .hv_page .gross_amount_help_tip {
        margin-right: 66px;
    }

    .hv_page #home_loans_calculator .loanAmount {
        padding-left: 28px;
        margin-top: -33px;
    }

    .hv_page .home_loans_container .how_much,
    .hv_page .home_loans_container .payment_calc {
        width: 50%;
        height: 95%;
    }

    .hv_page #home_loans_calculator .monthly_container {
        margin-top: 17px;
        height: inherit !important;
    }

    .hv_page .call_me_back_body {
        height: 430px;
    }

    .hv_page #home_loans_calculator .home_loans_call_me_back {
        margin-left: 164px;
        margin-top: -46px;
    }

    .hv_page .help-tip {
        display: none;
        width: 0;
    }

    .hv_page #home_loans_calculator .home_loans_call_me_back_link {
        margin-left: 0;
        margin-top: -46px;
    }

    .hv_page #home_loans_calculator .loan_repayment_content {
        margin-left: 10px;
    }

    .hv_page #home_loans_calculator #right_menu {
        width: 50%;
        height: 100px;
    }

    .hv_page #home_loans_calculator #left_menu {
        width: 50%;
        height: 100px;
    }

    .hv_page .ts_call_me .greybbox_c > div, .hl_product_page .ts_call_me .greybbox_c > div {
        width: 100% !important;
        margin-left: 0;
    }

    .hv_page #home_loans_calculator #calculator_form .col-lg-10,
    .hv_page #home_loans_calculator #calculator_form .col-md-10,
    .hv_page #home_loans_calculator #calculator_form .col-sm-10 {
        padding-right: 0;
    }

    .hl_product_page .steps-area .step-left:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: transparent;
        border-width: 0;
        margin-top: 0;
    }

    .hl_product_page .steps-area .step-right:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: transparent;
        border-width: 0;
        margin-top: 0;
    }

    .hl_product_page .steps-area .step-left:after,
    .hl_product_page .steps-area .step-left:before {
        left: 0;
        top: 0;
        border: none;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .hl_product_page .steps-area .step-right:after,
    .hl_product_page .steps-area .step-right:before {
        right: 0;
        top: 0;
        border: none;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .hl_product_page .start_here {
        width: 100%;
        margin-bottom: 20px;
    }

    .hl_product_page .col-sm-12 {
        padding-right: 0 !important;
    }

    .hl_product_page #tile_style .steps-area .step-right,
    .hl_product_page #tile_style .steps-area .step-left {
        margin-top: 20px;
    }

    .hl_product_page #tile_style .steps-area .step-right:nth-child(2),
    .hl_product_page #tile_style .steps-area .step-left:nth-child(3) {
        margin-top: 20px;
    }

    .hl_product_page.vaf #tile_style .steps-area .step-right:nth-child(2),
    .hl_product_page.vaf #tile_style .steps-area .step-left:nth-child(3) {
        margin-top: 20px;
    }

    #home_loans_calculator .repayment_calculator input[name=slider_loan_term],
    #home_loans_calculator .repayment_calculator input[name=slider_interest_rate] {
        background: none !important;
    }

    .hl_product_page .ftb .header > h1 {
        height: 60px;
    }
}

@media (min-width: 768px) {

    .hv_page #home_loans_calculator #gross_Income, .hv_page #home_loans_calculator #gross_expenses, .hv_page #home_loans_calculator #deposit_requested, .hv_page #home_loans_calculator #deposit {
        width: 100%;
        padding-top: 10px;
    }

    .hv_page #home_loans_calculator .loans_gray_box {
        width: 100%;
    }

    div.searchTopwrapper {
        top: 0px !important;
        right: -4px !important;
    }

}