.holder {
	margin: 15px 0;
	/*border-top:2px solid #787878;*/
	position: absolute;
	top: 0;
	right: 7.5%;
}

.holder a {
	font-size: 1.25em;
	cursor: pointer;
	margin: 0px;
	color: #888888;
	padding:4px 10px;
	text-decoration:none;
	background:url(../images/slider_disabled_page.png) no-repeat 10% 50%;
}

.holder a:hover {
	background:url(../images/slider_current_page.png) no-repeat 10% 50%;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #FFFFFF;
	font-weight: bold;
	background-color:#787878;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background:url(../images/slider_current_page.png) no-repeat 10% 50%;
}

.holder span { margin: 0 5px; }