  #event-content {
    right: 2px;
    margin-right: 0px;
    position: absolute;
    display: inline-block !important;
    width: 391px !important;
    height: 209px !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.24) !important;
   

  }
  .slide-in {
    right: -500px;
      position: fixed !important;
      height: 196px !important;
      width: 348px !important;
      z-index: 100;
      top: 50%;
  }
  body {
    overflow-x: hidden;
  }
  #event-contentsssss {
    
        position: absolute !important;
      right: 9px !important;
      /* margin-top: 454px !important; */
      bottom: 0;
      position: relative;
      height: 209px;
      background: #E0EBEF;
      width: 319px;
      /* margin-left: 900.5px; */
      margin-top: 285.5px;
  }
  #event-content .closeBtn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    background: #E0EBEF;
    color: #8ea1a4;
    cursor: pointer;
  }
  #event-content .closeBtn:hover {
    background: #000;
    color: #fff;
  }

  /* ------ Fade in & scale ------ */
  .fade-in-scale.mfp-bg {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  /* overlay animate in */
  .fade-in-scale.mfp-bg.mfp-ready {
    opacity: 0.6;
    -khtml-opacity: 0.6;

  }

  /* overlay animate out */
  .fade-in-scale.mfp-bg.mfp-removing {
    opacity: 0;
  }

  /* content at start */
  .fade-in-scale.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  /* content animate it */
  .fade-in-scale.mfp-wrap.mfp-ready .mfp-content {

    opacity: 1 !important;  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }


  /* content animate out */
  .fade-in-scale.mfp-wrap.mfp-removing .mfp-content {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }

  /* ------ Slide in (top) ------ */
  .slide-in-top.mfp-bg {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  /* overlay animate in */
  .slide-in-top.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  /* overlay animate out */
  .slide-in-top.mfp-bg.mfp-removing {
    opacity: 0;
  }

  /* content at start */
  .slide-in-top.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  /* content animate it */
  .slide-in-top.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  /* content animate out */
  .slide-in-top.mfp-wrap.mfp-removing .mfp-content {
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
  }

  /* ------ 3D Flip (horizontal) ------ */
  .flip-h-3d.mfp-bg {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  /* overlay animate in */
  .flip-h-3d.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  /* overlay animate out */
  .flip-h-3d.mfp-bg.mfp-removing {
    opacity: 0;
  }

  .flip-h-3d .mfp-container {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
  }

  /* content at start */
  .flip-h-3d.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
  }

  /* content animate it */
  .flip-h-3d.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* content animate out */
  .flip-h-3d.mfp-wrap.mfp-removing .mfp-content {
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }

  /* ------ Rotate Carouse (left) ------ */
  .rotate-carouse-left.mfp-bg {
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

  /* overlay animate in */
  .rotate-carouse-left.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  /* overlay animate out */
  .rotate-carouse-left.mfp-bg.mfp-removing {
    opacity: 0;
  }

  /* content at start */
  .rotate-carouse-left.mfp-wrap .mfp-content {
    opacity: 0;
  }

  /* content animate it */
  .rotate-carouse-left.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-animation: rotateCarouselLeftIn .8s both ease;
    -moz-animation: rotateCarouselLeftIn .8s both ease;
    animation: rotateCarouselLeftIn .8s both ease;
  }

  /* content animate out */
  .rotate-carouse-left.mfp-wrap.mfp-removing .mfp-content {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: rotateCarouselLeftOut .8s both ease;
    -moz-animation: rotateCarouselLeftOut .8s both ease;
    animation: rotateCarouselLeftOut .8s both ease;
    opacity: 0;
  }

  @-webkit-keyframes rotateCarouselLeftOut {
    to {
      opacity: .3;
      -webkit-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
    }
  }
  @-moz-keyframes rotateCarouselLeftOut {
    to {
      opacity: .3;
      -moz-transform: translateX(-150%) scale(0.4) rotateY(-65deg);
    }
  }
  @keyframes rotateCarouselLeftOut {
    to {
      opacity: .3;
      transform: translateX(-150%) scale(0.4) rotateY(-65deg);
    }
  }
  @-webkit-keyframes rotateCarouselLeftIn {
    from {
      opacity: .3;
      -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @-moz-keyframes rotateCarouselLeftIn {
    from {
      opacity: .3;
      -moz-transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @keyframes rotateCarouselLeftIn {
    from {
      opacity: .3;
      transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @-webkit-keyframes rotateCarouselRightOut {
    to {
      opacity: .3;
      -webkit-transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @-moz-keyframes rotateCarouselRightOut {
    to {
      opacity: .3;
      -moz-transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @keyframes rotateCarouselRightOut {
    to {
      opacity: .3;
      transform: translateX(200%) scale(0.4) rotateY(65deg);
    }
  }
  @-webkit-keyframes rotateCarouselRightIn {
    from {
      opacity: .3;
      -webkit-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
    }
  }
  @-moz-keyframes rotateCarouselRightIn {
    from {
      opacity: .3;
      -moz-transform: translateX(-200%) scale(0.4) rotateY(-65deg);
    }
  }
  @keyframes rotateCarouselRightIn {
    from {
      opacity: .3;
      transform: translateX(-200%) scale(0.4) rotateY(-65deg);
    }
  }
  ul#menu li {
      display:inline !important;
      padding-left: 0px; 
  }

  .emotion #menu input[type="radio"].Q1 + .test  {
      background: url("/vgn-ext-templating/overrides/standardbank/CustomerSurvey/img/agree.png") !important;
      height: 29px;
      width: 29px;
      display: inline-block;
  }

  .emotion #menu input[type="radio"].Q1{
      position: absolute;
      height: 29px;
      width: 29px;
      margin-top: 0px;
      opacity: 0.0;
  }

  .emotion #menu input[type="radio"].Q2 + .test  {
      background: url("/vgn-ext-templating/overrides/standardbank/CustomerSurvey/img/neutral.png") !important;
      height: 29px;
      width: 29px;
      display: inline-block;
      margin-left:10px; 
  }

  .emotion #menu input[type="radio"].Q2{
      margin: -2px 11px 0px !important;
      position: absolute;
      height: 29px;
      width: 29px;
      margin-top: 0px;
      opacity: 0.0;
  }
  .emotion #menu input[type="radio"].Q3 + .test  {
      background: url("/vgn-ext-templating/overrides/standardbank/CustomerSurvey/img/disagree.png") !important;
      height: 29px;
      width: 29px;
      display: inline-block;
      margin-left: 15px; 
  }

  .emotion #menu input[type="radio"].Q3{
      margin: -2px 15px 0px !important;
      position: absolute;
      height: 29px;
      width: 29px;
      margin-top: 0px;
      opacity: 0.0;
  }


  .emotion #menu input[type="radio"]:checked + .test {
      background: url("/vgn-ext-templating/overrides/standardbank/CustomerSurvey/img/selected.png") !important;
      height: 29px;
      width: 29px;
      display: inline-block;
  }

  .talk-to-us {
    padding-top: 0px;
    float: left;
      height: 209px;
      width: 50%;
      padding: 10px;
      margin-top: 0px;
      background-color: #E6F2F2;
      border-radius: 4px;
    
  }

  .talk-to-us_buttons {
   float: right;
   width: 50%;
   padding-top: 35px;
   padding-left: 45px;
   background-color: white;
   margin-top: 0px;
   height: 209px;
   box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
   border-radius: 4px;
   border-bottom-width: 0px;
   border-right-width: 0px;
   border-top-width: 0px;
   border-left-width: 0px;

  }
  .lets-talk{
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      border-left-width: 0px;
      width: 119px;
      height: 39px;
      border-radius: 3px;
      background-color: #ffffff;
      margin-bottom: 10px;
      color: #0033aa;
      border-radius: 3px;
      border:solid 1px #0033aa;
  }
  .lets-talk:hover {
    
    background:#0033aa;
    color: #fff;
  }

  .submitClass{

    width: 150px;
    height: 39px;
    border-radius: 3px;
    background-color: #cccccc;
    float: right;
    
    color: #f7f7f7 !important;
    padding-left: 25px;
    margin-left: 0px;
    padding-right: 25px;
    margin-right: 25px;
    padding-bottom: 4px;
    padding-top: 7px;
    
    
    margin-top: -40px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;

  }

  .submitClassStart{

     float: right;
      padding-left: 25px;
      margin-left: 0px;
      padding-right: 25px;
      margin-right: 35px;
      padding-bottom: 4px;
      padding-top: 7px;
          height: 35px;
      width: 110px;
          margin-top: -40px;
          border-radius: 3px ;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      border-left-width: 0px;


  }
   .pStyleAgree{

    width: 30px !important;
    height: 12px !important;

    font-size: 10px !important;
    color: #0033aa !important;

       margin-top: 0px !important;
      margin-left: 0px !important;

  }
  .pStyleNeutral{
     width: 30px !important;
    height: 12px !important;

    font-size: 10px !important;
    color: #0033aa !important;
  margin-top: 0px !important;
          margin-left: 47px !important;

  }
  .pStyleDisagree{
     width: 30px !important;
    height: 12px !important;

    font-size: 10px !important;
    color: #0033aa !important;
  margin-top: 0px !important;
      margin-left: 95px !important;
  }

  .emotion ul li {
    padding: 0 5px;
  }

  .emotion ul li:last-child {
    padding-right: 0 !important;
  }

  .emotion ul li:first-child {
    padding-left: 0 !important;
  }
  #slide {
        text-align: center !important;
      right: 0 !important;
      position: fixed !important;
      bottom: 40% !important;
      z-index: 4 !important;

  }
  #slide h1 {
      padding:2em 0;
  }
  .menuStyle{
    padding-left: 0px !important;
    margin-left: -167px !important;
  }

  html {
    margin-right: 0 !important;
    overflow: inherit !important;
  }



  .fade-in-scale.mfp-bg.mfp-ready.survey-active {
    background: url(/vgn-ext-templating/overrides/standardbank/CustomerSurvey/img/transparent-bg.png);
    height: 100% !important;
    display: inline-block;
    z-index: 10;
    top: 0;

  }

  .active-btn {
    background:#0396fd;
  }

  .round-corners {
    border-radius: 1px ;
  }

  .button {
    border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      border-left-width: 0px;
    background: #0033aa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .giveUs{
        font-size: 15px !important;
      line-height: 1.4;
      letter-spacing: -0.3px;
      color: #333333;
      padding-left: 7px !important;
      padding-right: 11px !important;
      padding-top: 3px;
      margin-bottom: 0px !important;
      text-align: center !important;
  }
  .headIng{
    padding-left: 30px !important;
  }

  #yes_lets_talk{
    color: white;
      border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      border-left-width: 0px;
     background-color: #0033aa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }

  #SurveyButton{
    margin-top: -73px !important;
    font-size: 18px !important;
  }
  .goodBye{
    font-size: 15px !important;
    color: #666666 !important;
    text-align: center !important;
    padding-left: 91px !important;
    padding-right: 90px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;

  }
  #centering{
        padding-top: 15px !important;
  }
  .surveyText{
    font-size: 12px !important;;
    padding-left: 29px !important;;
    padding-right: 167px !important;;
    padding-top: 25px !important;;
    font-style: italic !important;
  }
