.current_accounts .sbg_main_banner {
	height: 300px;
	background: url('../images/banner.jpg') #ccc 0px 0px no-repeat;
	border-radius: 2px;
	border: 1px solid #CBCBCB;
}
.current_accounts h3 {
	margin: 15px 0px 20px 0px;
	border-bottom: 1px solid #E7E7E7;
	font-size: 25px;
	color: #06C;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}
.current_accounts h5 {
	color: #33333F;
	/* margin: 15px 0px; */
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 13px;
	margin-top: 40px;
}
.current_accounts .sbg_main_banner .sbg_text {
	padding: 9px 42px;
	width: 55%;
	/* display: none; */
}
.current_accounts .sbg_main_banner .sbg_text h4 {
	color: #353535;
	font-size: 28px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 5px;
}
.current_accounts .sbg_main_banner .sbg_text ul {
	margin-top: 0px;
	padding-left: 17px;
}
.current_accounts .sbg_main_banner .sbg_text ul li { 
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 1px;
	color: #353535;
}
.current_accounts .sbg_main_banner .txt_left {
	float: right;
	margin-top: 18px;
	text-align: left;
	margin-right: 29px;
}
.current_accounts .sbg_main_banner .apply_online {
	width: 495px;
	float: left;
	margin-left: 18px;
}

.current_accounts .sbg_main_banner .apply_online span {
	display: block;
	color: #4B4140;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}
.current_accounts .sbg_main_banner .apply_online a {
	margin: 0px;
	display: inline-block;
	padding: 10px 29px 10px 14px;
	text-align: left;
	font-weight: bold;
	color: #fff;
	background: url(../images/icon_arrow_white.png) no-repeat #0597FE 92% 50%;
	width: 156px;
	text-align: center;
	height: 45px;
	line-height: 24px;
	font-size: 13px;
	float: left;
	margin-right: 0px;
	margin-top: 11px;
	margin-left: 22px;
}
.current_accounts .sbg_main_banner .apply_online a img { 
	margin-right: 7px;
}
.current_accounts .sbg_main_banner .apply_online a:hover {
	background-color: #000B87;
}
.current_accounts .col-sm-12,
.current_accounts .col-sm-4 {
	padding: 0px;
}
.current_accounts .col-sm-4 h6 {
	font-size: 16px;
	font-weight: bold;
	color: #06C;
}
.current_accounts .col-sm-4 a {
	background: url('../images/cas_arrow.png') transparent 0px 1px no-repeat;
	display: block;
	padding-left: 17px;
	color: #000B87;
	font-weight: bold;
}
.current_accounts .col-sm-12 {
	margin-bottom: 30px;
	
}
.current_accounts .col-sm-12.bdb_on {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}
.current_accounts .col-sm-12 .col-sm-4:nth-child(2),
.current_accounts .col-sm-12 .col-sm-4:nth-child(3) {
	border-left: 1px solid #ccc;
	padding-left: 36px;
}
.current_accounts .col-sm-12 .call_to_actions {
	width: 420px;
	float: left;
	margin-right: 36px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.current_accounts .col-sm-12 .call_to_actions a.left {
	margin: 10px;
	display: inline-block;
	padding: 10px 42px 10px 20px;
	text-align: left;
	font-weight: bold;
	color: #fff;
	background: url(../images/icon_arrow_white.png) no-repeat #0396FD 89% 50%;
	width: 190px;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
	float: left;
	border: 1px solid transparent;
}
.current_accounts .col-sm-12 .call_to_actions a.left img { 
	margin-right: 8px;
}
.current_accounts .col-sm-12 .call_to_actions a.right {
	margin: 10px;
	display: inline-block;
	padding: 10px 53px 10px 20px;
	text-align: left;
	font-weight: bold;
	color: #000B87;
	background: url(../images/icon_arrow_blue.png) no-repeat transparent 89% 50%;
	width: 190px;
	text-align: center;
	height: 46px;
	line-height: 24px;
	font-size: 14px;
	float: right;
	border: 1px solid #000B87;
	position: relative;
}
.current_accounts .col-sm-12 .call_to_actions a.right span {
	position: absolute;
	top: 59px;
	font-size: 10px;
	width: 139px;
	line-height: 12px;
	color: #26428B;
	left: 26px;
}
.current_accounts .col-sm-12 .call_to_actions a.left:hover { 
	background-color: #26428B;
}
.current_accounts .col-sm-12 .call_to_actions a.right:hover {
	background-color: #26428B;
	background: url(../images/icon_arrow_white.png) no-repeat #26428B 89% 50%;
	color: #fff;
}

@media only screen and (max-width: 767px) { 
	.current_accounts {
		margin: 0px 5px;
	}
	.current_accounts .col-sm-12 .col-sm-4:nth-child(2), .current_accounts .col-sm-12 .col-sm-4:nth-child(3) {
	  border-left: 0px solid #ccc;
	  padding-left: 0px;
	}
	.current_accounts .col-sm-4 {
	  padding: 0px;
	  margin-bottom: 35px;
	}
	.current_accounts .col-sm-12.bdb_on {
	  border-bottom: 0px solid #ccc;
	  padding-bottom: 0px;
	}
	.current_accounts .col-sm-12 .call_to_actions {
	  width: 60%;
	    float: left;
	}
	.current_accounts .col-sm-12 .call_to_actions a.right {
		float: left;
	}
}

@media only screen and (max-width: 630px) { 
	.current_accounts .sbg_main_banner .txt_left {
		display: none;
	}
	.current_accounts .sbg_main_banner .sbg_text {
		width: 100%;
	}
	.current_accounts .sbg_main_banner .apply_online a {
		float: left;
		margin: 0px 20px;
	}
}
@media only screen and (max-width: 605px) { 
	.current_accounts .sbg_main_banner .apply_online {
		width: 100%;
	}
	.current_accounts .sbg_main_banner .sbg_text h4 {
		font-size: 25px;
	}
}
@media only screen and (max-width: 605px) { 
	.current_accounts .sbg_main_banner .sbg_text h4 {
		font-size: 23px;
	}
}


/* -- V2 -- */

.sbg_current_account > h3 {
	background: transparent url("../img/ca_gradient_blue.jpg") no-repeat scroll left bottom;
}
.sbg_current_account .sbg_intro h4 {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sbg_current_account .sbg_options .col-sm-4 {
	padding: 0px;
	margin-bottom: 0px !important;
	height: auto !important;
}
.sbg_current_account .sbg_options .sbg_option {
	height: 215px;
	background-color: #FDFDFD;
	padding-top: 40px;
	border: 1px solid #F5F5F5;
	border-right: 1px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
}
.sbg_current_account .sbg_options .sbg_option:hover {
	background-color: #F5F5F5;
	border: 1px solid #E9E9E9;
	cursor: pointer;
}
.sbg_current_account .sbg_options .sbg_option .icon_current_account {
	
}
.sbg_current_account .sbg_options .sbg_option span.ca_caption {
	display: block;
	width: 140px;
	margin: auto;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	color: #525252;
}

.sbg_current_account .sbg_ca_links .sbg_ca_image {
	
}
.sbg_current_account .sbg_ca_links .sbg_ca_image img {
	margin-bottom: 0px;
}
.sbg_current_account .sbg_ca_links ul {
	list-style-type: none;
	margin-top: 10px;
}
.sbg_current_account .sbg_ca_links ul li {
	border-bottom: 1px solid #c9c8bf;
}
.sbg_current_account .sbg_ca_links ul li a {
	display: block;
	padding: 7px 6px;
	background: url("../img/icon_arrow_blue.png") no-repeat 98% 50%;
}
.sbg_current_account .sbg_ca_links ul li a:hover {
	background-color: #26428B !important;
	color: #fff;
	background: url("../img/icon_arrow_white.png") no-repeat 98% 50%;
}
.sbg_ca_links h3 {
	background: transparent url("../img/ca_gradient_blue_small.jpg") no-repeat scroll left bottom;
}
.sbg_current_account span[class*="icon_"] {
	background: url('../img/current_account_sprite.png') no-repeat;
	display: block;
	width: 103px;
	height: 103px;
	margin: auto;
}

.icon_current_account {
	background-position: 0px 0px !important; 
}
.icon_credit_cards {
	background-position: -339px -115px !important;
}
.icon_personal_loans {
	background-position: -339px 0px !important; 
}
.icon_vehicle_asset_finance {
	background-position: 0px -228px !important; 
}
.icon_home_loans {
	background-position: -113px -115px !important; 
}
.icon_savings_investment {
	background-position: -226px -115px !important; 
}
.icon_share_trading {
	background-position: -226px 0px !important; 
}
.icon_mobile_deals {
	background-position: 0px -115px !important; 
}
.icon_business_banking {
	background-position: -114px 0px !important; 
}

body div.siteheader div.globalsiteLable {
	    right: 150px !important;
}

.row.siteheader > .container {
	position: relative;
}


@media (max-width: 320px) { 

body div.siteheader div.globalsiteLable {
	right: 67px !important;
	top:60px !important;
	display:;
}
.linkList li a {
	    display: block;
    width: 115%;
}
}