body {
	background-color: lightgray;
	FONT-FAMILY: arial,sans-serif;
	font-size: medium;
}
a:link {
	color: #039;
}
a:hover {
	color: #0353a5;
}
#HideSmall{
	display: none;
}
.WholePage {
	background-color: white;
	padding: 5px;
    width: 99%;
}
#Head {
	width: 100%;
}
#Head img {
    margin: 4px;
}
#PageName{
	padding-left: 5px;
    padding-right: 5px;
	padding-top: 2px;
    padding-bottom: 2px;
	background-color: #F1F1F1;
	margin-bottom: 15px;
}
#PageName h4 {
	color: black;
    margin: 5px;
}
#NavLeft {

}
#NavLinks, #NavDics {
	margin-left: 8px;
	margin-right: 6px;
}
.NavLinksSeparator {
	color: #08729C;
	margin-left: -4px;

	font-weight: bold;
}
#NavLinksSeparator {
	color: #08729C;
	margin-left: -4px;
	margin-bottom: 4px;
	font-weight: bold;
}
#NavLinks a:link, #NavLinks a:visited  {
	display: block;
	margin-bottom: 6px;
}
.NavLang {
	margin-bottom: 6px;
}
.NavLang#current {
	margin-left: -3px;
    padding-left: 3px;
    padding-top: 0px;
	font-weight: bold;
}
.NavLangDics{
	margin-left: 15px;
}
.NavLangDic {
	margin-bottom: 6px;
}
.NavLangDic#current {
	margin-left: -3px;
    padding-left: 3px;
    padding-top: 2px;
    background-color: #FFCC66;
	font-weight: bold;
}
.NavOtherLangs {
	margin-bottom: 6px;
    margin-top: 6px;
}



#ContactInfo {
	margin-left: 6px;
	margin-top: 26px;
	margin-right: 6px;
	background-color: #FFFFCC;
	padding: 5px;
	border-top: 1px solid #CC6600;
	border-bottom: 1px solid #CC6600;
}
#ContactInfo h4 {
	color: #039;
}
#GoogleAds {
	margin-left: 6px;
	margin-top: 36px;
	margin-right: 6px;
}
.GoogleSearch {
	background-color: #FFFFCC;
	font-size: small;
	padding: 10px;
	margin-bottom: 40px;	
}
#AdvertInNav { 
	margin-left: 6px;
	margin-top: 26px;
	margin-right: 6px;
	padding: 3px;
}
#NavRight {

}
#QuoteOfTheDay {
	margin: 3px;
	font-style: italic;
}
.SideBlockRight, .SideBlockLeft  {
	width: 95%;
	border: 1px solid #cedeed;
	padding: 2px;
	margin-bottom: 10px;
}
.SideBlockRightAd, .SideBlockLeftAd{
	width: 95%;
	margin-bottom: 10px;
}
.SideBlockRight p, .SideBlockLeft p{
	font-style: italic;
}



#Content {



	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;

}
.AdContent {
	width: 100%;
}
.AdTop {
	width: 100%;
    margin-top: 4px;	
    margin-bottom: 4px;	
}

#Content dl{
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#Content dt{
	color: #039;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}
#Content dd{
	margin-top: 5px;
	margin-bottom: 10px;
}
#ContentCatalog {
	height: auto;
	border-left: 1px solid #cedeed;
	border-right: 1px solid #cedeed;
	margin-left: 161px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
	float: none;
}
#SiteInfoBottom {
	padding: 3px;
	background-color: #F1F1F1;

}
#BottomLinks {
	font-size: xx-small;
}
#SiteMap {
	margin-top: 10px;
	margin-left: 28px;
}
#SiteMap a:link, #SiteMap a:visited  {
	display: list-item;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-rigt: 25px;
}
#News {
	background-color: #F5F8FD;
	padding: 3px;
}
.Blue {
	background-color: #F5F8FD;
}
.GreenBackground {
	background-color: #E1FCD1;
}
.DicContentsBlue {
	background-color: #F5F8FD;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 90%;
}
.DicContentsYellow {
	background-color: #FFFFCC;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 90%;
}
.DicContentsGreen {
	background-color: #F0FFF0;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 90%;
}
.SayingsTableTR {
	background-color: #F5F8FD;
    font-size: small;
}
.OzonCatTable {
	border-top: 1px solid #cedeed;
	border-bottom: 1px solid #cedeed;
	margin-top: 10px;
	margin-bottom: 10px;
}
.Warning {
	background-color: white;
	font-size: small;
	padding: 0px;
	margin-bottom: 10px;	
}
#SiteInfo2 {
	margin-left: 6px;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 16px;
	background-color: #FFFFCC;
	padding: 5px;
	font-size: x-small;
}
div.des {
	margin-left: 8px;
	margin-top: 3px;
	margin-right: 6px;
}
p.par1 {
	text-indent: 5px;
}
p.par2 {
	text-indent: 10px;
}
p.par3 {
	text-indent: 15px;
}
p.par4 {
	text-indent: 20px;
}
p.par5 {
	text-indent: 25px;
}
p.acc  {
	color: green;
}
span.ref {
	color: blue;
}
span.trs {
	color: brown;
	font-weight: bold;
}
span.hint {
	color: #3D81EE;
}
span.hint:hover {
	text-decoration: underline;
	cursor: help;
	color: Gray;
}
#SiteInfo2 h4 {
	color: #039;
}

.DicCell {
    background-color: #F2F2F2;
	border: 1px solid #cedeed;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 9px;
}
.DicCell#DicName{
    color: black;
}
.DicCellLetters {
    font-size: x-large;
    letter-spacing: 5px;
}
.DicCellSearch {
    margin-bottom: 15px;
}
.DicCellSearch input {
    width: 99%;
    height: 20px;
    font-size: medium;
}
.DicCellSearch em {
    font-size: small;       
}
.DicCellTerm {
	background-color: #FBFBFB;
    padding: 5px;
}
.SharedItems {
    background-color: #F2F2F2;
	border: 1px solid #cedeed;
	width: 99%;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.SharedItems a:link, .SharedItems a:visited  {
	display: block;
	margin-bottom: 8px;
}
.DicCellParent {
    margin: 5px;
}
.DicCellParent span.LinkOtherDic {
	color: #039;
    cursor: pointer;
    text-decoration: underline;
}
.DicCellOther {
    background-color: #F9F9F9;
	border: 1px solid #cedeed;
	display: none;
	padding: 7px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.ItemNotFoundTitle {
	color: red;
}
.adtable {
	border: 1px solid #cedeed;
	width: 95%;
	padding: 5px;
    font-size: small;
}
.adcaption {
	background-color: #cedeed;
}
.adcell {
	background-color: #F5F8FD;
}
.IndexLangDics {
	margin-top: 5px;
	margin-bottom: 15px;
}
.IndexLangDic {
	margin-left: 3px;
	margin-bottom: 7px;
}