
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:right;
	margin: 1.6% 0 1% 1%;
}

.col:first-child { margin-right: 0; } /* all browsers except IE6 and lower */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

.span_2_of_3_large {
	width: 72.6%; 
}

.span_1_of_3_large {
	width: 48.39%; 
}

.span_1_of_3_small {
	width: 24.20%; 
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */


@media only screen and (max-width: 768px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
    .span_2_of_3_large {
	    width: 100%; 
    }
	.span_1_of_3_large {
		width: 100%;
	}
	.span_1_of_3_small {
		width: 100%;
	}
}


@media (min-width: 769px) and (max-width: 1000px) {
    .WholePage {
        width: 99%;
    }
}