body {color: black; background: white; margin: 0; padding: 0;}

.footer, .footer a {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background: #9a9ace;
	padding-top: 0px;
	margin-top: 0px;
}

#categorie, #categorie a {
	text-align: center;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330066;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

.small, .small a {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330066;
} 

table {
	width: 100%;
	font-size: 12px;
	background-color: #E0DFE7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330066;


}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;}

		a.twitter  {
			color: #330066;
			text-decoration: none;
			font-weight: normal;
		}
		a.twitter:hover {
			color: #330066;
			text-decoration: underline;
			font-weight: normal;
		}

a {
	color: #330066;
	background-color: transparent;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bolder;



}
a:hover {
	color: #CC66CC;
	font-weight: bolder;

}

b {	color:#9d2302;}

a b {
	text-decoration: underline;
}



h1, h1 a {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        color: #330066;
        background-color: transparent;
        font-size: 18px;
        text-decoration: none;
}

h2, h2 a {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        color: #330066;
        background-color: transparent;
        font-size: 16px;
        text-decoration: none;
}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #330066}

input.formButton {}

.item {border: 1px solid #cccccc;}
.itemHead {
	padding: 3px;
	background-color: #FFFFFF;
	color: #330066;
	border-top-width: 3px;
	border-top-style: inset;
	border-top-color: #6B6BB6;




}
.itemInfo {text-align: right; padding: 3px; background-color: #9A9ACE}
.itemTitle , .itemTitle a {
	font-weight: bold;
	color: #330066;
	background-color: transparent;
	font-size: 14px;
	text-decoration: none;


}
.itemPoster {
	font-size: 90%;
	font-style:italic;
	background-color: #EEEEEE;
}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {
	padding-left: 5px;
}
.itemText {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #330066;

}


.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

th {
	background-color: #FFFFFF;
	color: #330066;
	padding : 2px;
	vertical-align : middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td#headerbanner {width: 100%; background-color: #BEBCC9; vertical-align: middle; text-align:center;}
td#headerbar {border-bottom: 1px solid #dddddd; background-image: url(//static.koreus.com/images/hbar.gif);}

td#leftcolumn {
	width: 170px;
	border-right: 1px solid #cccccc;
	font-size:12px;
	color: #330066;
	background-color: #E0DFE7;

}
td#leftcolumn th {background-color: #9A9ACE; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {
	padding: 3px;
	background-color: #dfe4ee;
	color: #330066;
	font-weight: bold;
	background-image: url(//static.koreus.com/images/newshead_bg_orange2.gif);
	font-size: 12px;
	text-align: center;

}
td#leftcolumn div.blockContent {
	padding: 3px;
	line-height: 120%;
	line-height: 120%;
	background-color: #E0DFE7;
}


td#centercolumn {font-size: 12px;}

td#centercolumn th {background-color: #9A9ACE; color: #FFFFFF; vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px; color: #330066; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #dddddd;
	padding: 3px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	line-height: 120%;
	color: #000000;
}

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px; color: #330066; font-weight: bold; margin-top: 0px;}
td#centerLcolumn div.blockContent {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #dddddd;
	padding: 3px;
	margin-left: 3px;
	margin-right: 2px;
	margin-bottom: 2px;
	line-height: 120%;
	font-size: 12px;

}

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: #330066; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #dddddd; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}

div#content {text-align: left; padding: 8px;}

td#rightcolumn {
	width: 170px;
	border-left: 1px solid #cccccc;
	font-size:12px;
	background-color: #E0DFE7;
}
td#rightcolumn th {background-color: #9A9ACE; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {
	padding: 3px;
	color: #330066;
	font-weight: bold;
	background-image: url(//static.koreus.com/images/newshead_bg_orange2.gif);
	text-align: center;

}
td#rightcolumn div.blockContent {
	padding: 3px;
	line-height: 120%;
	background-color: #E0DFE7;
}

tr#footerbar {



}

/* Dynamic menu */
td#mainmenu {margin-left : -5px; padding-bottom : 5px;}
td#mainmenu a {
	display: block;
	margin: 0;
	padding: 0px;
} 
td#mainmenu a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
}
td#mainmenu a.menuMain {padding-left: 3px; text-decoration: none; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
td#mainmenu a.menuSub {
	padding-left: 5px;
	text-decoration: none;
	border-right: 1px solid #E0DFE7;
	border-bottom: 1px solid #E0DFE7;
	border-left: 5px solid #000066;

}

td#usermenu {
	padding-bottom : 5px;
}
td#usermenu a {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 3px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;

}
td#usermenu a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
}
td#usermenu a.menuTop {text-decoration: none;}
td#usermenu a.highlight {
	text-decoration: none;
	font-weight: bold;
	color: #CC66CC;
	background-color: #FFFFFF;

}

.outer {
	border: 1px solid silver;
}

.head {background-color: #9A9ACE; padding: 5px; font-weight: bold;}
.even {background-color: #D4D0F2; padding: 5px;}
.odd {background-color: #FFFFFF; padding: 5px;}
.foot {background-color: #CDC8F0; padding: 5px; font-weight: bold;}
tr.even td {background-color: #D4D0F2; padding: 5px;}
tr.odd td {background-color: #CDC8F0; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode {
	background: #FFFFFF;
	border: 1px inset #000080;
	font-family: "Courier New", Courier, monospace;
	padding: 0px 6px 6px 6px;
	font-size: 10px;
}
div.xoopsQuote {
	background: #FFFFFF;
	border: 1px inset #000080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 6px 6px 6px;
	font-size: 12px;
}

div.xoopsSpoiler {
	background: #FFFFFF;
	color:#FFFFFF;
	border: 1px inset #000080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 6px 6px 6px;
	font-size: 12px;
}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {
padding: 2px;
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
-o-hyphens: auto;
hyphens: auto;
}
.comUserStat {font-size: 10px; color: #330066; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #330066; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}

span.copyright  {
	background-color: #FFFFFF;
	color: #330066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;


}


/* color -- dropdown menu for Forum */
#dropdown a{
	color:#FFFFFF;
	}

#dropdown .menubar, #dropdown .menu, #dropdown .item, #dropdown .separator{
	background-color: #99B5CC;
	color:#FFFFFF;
	}

#dropdown .separator{
	border: 1px inset #e0e0e0;
	}

#dropdown .menu a:hover{
	color: #333;
	}
/* color - end */ 

.fb_iframe_widget {
/* display: inline-block; */
position: relative;
display: block;
float: left;
}
