body
{
	padding:0;
	margin:0;
	font:normal 13px/24px 'Titillium Web', sans-serif;
	color:#6c6c6c;
	background:#fff;
}


table.waffle{
width:100% !important;
}
/*body, span, a, p, strong, h1, h2, h3, h4, h5, h6{ 
	font-family:"Helvetica Neue";
	}*/
#wrapper a{ text-decoration:none;}
#wrapper h2
{
	font:bold 30px/45px "OCR A Std";
	color:#000;
	text-transform:capitalize;
}
td {
    font-size: 16px;
}
ul{padding:0; margin:0; list-style:none;}

h1,h2,h3,h4,h5,h6,p{margin:0;}

.clearfix:after
{
	content:"";
	clear:both;
	display:block;
}
li{ float:left;list-style:none;}

 * ------------*/
 .news-wrap {
  margin-top: -60px;
}

/* HEADER
================*/
.header-top{
	background:#02384d;
	}
.top-info{
	padding:20px 0; 
	}
.top-info li{
	padding-right:16px;
	}	
.top-info li:last-child{
	padding-right:0px;
	}	
.top-info li a span{
	width:28px;
	float:left;
	border-right:1px solid #AF8E1D;
	padding-right:10px;
	height:25px;
	}
.top-info li a span img{
	height: 22px;
  padding-top: 2px;
	}
.top-info li, .span-text:hover{
	color:#fb723b;
	}	
.span-text{
	float:left;
	color: #fff;
	  line-height: 13px;
	  font-size: 14px;
	  padding-left: 8px;
	}		






/* NAVIGATION
---------------*/

.menu-wrap {
  padding-top: 15px;
  border-bottom: 1px solid #ededec;
}
.nav { }

.nav li{float:left;}

.nav li a
{
	background:#ededec;
	margin-right:3px;
	border-radius:4px 4px 0 0;
	padding:19px 24px;
	color:#002533;
	font-weight:bolder;
	display:inline-block;
	text-transform:capitalize;
	 transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
}
.nav li a:hover
{
	background:#fb723b;
	color:#fff;
}
.nav li a.active{
	background:#fb723b;
	color:#fff;
}
/* pay online */


/*show wraper*/


.show-wrap {
    background: #FB723B none repeat scroll 0% 0%;
	padding: 42px 0px;
	position: absolute;
	width: 100%;
	display: none;
	z-index: 999999;
}

.wight{
	background:#fff;
	padding:50px 0;
	}
.cros {
  position: absolute;
  color: #fff;
  right: 12px;
  top: 10px;
  font-size: 17px;
  cursor:pointer;
}
/* new*/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
/* */

div.err-msg {
  color: red;
}

/*  BANNER WRAP*/

.banner-wrap{
	background:url("img/self/back-banner.jpg") no-repeat;
	background-size:100% 100%;
	  margin-top: -1px;
	}
.slider-main{
	padding:145px 0 71px;
	}	
.rela{
	position:relative;
	height:60px;
	padding:0;
	}
.neww{ padding:0;}	
.orng{
	top:0;
	background:#fb723b;
	left:0;
	opacity:0.5;
	height:60px;
	width:100%;
	color:#fff;
	position:absolute;
	}		
.brekig {
	font-weight:bold;
	  position: absolute;
	  width: 100%;
	  color: #FFFFFF;
	  height: 100%;
	  text-align: center;
	  line-height: 60px;
	  font-size: 16px;
	}
.blue{
	background:#052537;
	left:0;
	opacity:0.8;
	height:60px;
	width:100%;
	color:#fff;
	position:absolute;
	}	
.lunch {
	  position: absolute;
	  width: 100%;
	  color: #FFFFFF;
	  height: 100%;
	  text-align: center;
	  line-height: 60px;
	  font-size: 16px;
	  padding: 0 20px;
	  text-transform:uppercase;	
	}	
.lunch img{
	float:left;
	margin-top: 17px;
	cursor:pointer;

	}	
.lunch img:last-child{
	float:right;
	}	
.noti-wrap{
	background:#ebeaea;
	height:120px;
	}
.noti-cen{
	  padding: 22px 20px;
	border-left:1px solid #fff;
	}	
.noti-cen:last-child{
	border-right:1px solid #fff;
	}		
.noti-cen img {
    display: inline;
    width: 45px;
	margin-right: 5px;
    margin-top: -5px;
}
.noti-cen a{
	padding:18px 0;
	width: 100%;
  	display: block;
  	text-align: center;
	}	
.noti-cen span{
	  font-size: 18px;
	  color: #8e8a8a;
	  text-transform: uppercase;
	}
	

/* TABS CSS*/
ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
			border-bottom:3px solid #f5f4f4;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 23px;
			text-transform:uppercase;
			cursor: pointer;
		}

		ul.tabs li.current{
			border-bottom: 3px solid #fb723b;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #fff;
			padding: 50px 0 0 0;
		}

		.tab-content.current{
			display: inherit;
		}
	

.container.neww.ex-man {
  padding: 60px 0 40px 0;
}
.search-box {
  float: right;
  width: 25%;
}
.fa-size{
	  border: 2px solid #f5f4f4;
	  padding:7px 6px;
	  border-radius: 0 4px 4px 0;
	  border-left: 0;
	}	
input.serc {
  border: 2px solid #f5f4f4;
  width: 88%;
  height: 38px;
  float: left;
  border-radius: 4px 0 0 4px;
}	

.grey-1 {
  background-color: #f3f3f2;
  text-align: center;
  border-radius:5px;
  padding:18px 18px 35px 18px;
  height: 352px;
  
}
.wight-1{
	padding:0 8px;
	margin-bottom:15px;
	}
	
.bob {
  background-color: #fff;
  padding: 41px;
  border-radius: 100%;
  width: 170px;
  margin: auto;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grey-1 h5{
	font-weight:bold;
	color:#18445e;
	}
.grey-1 p {
  margin: 5px 0 16px 0;
  line-height: 14px;
  min-height: 30px;
}
.bob img {
	height:100%;
  	width: 100%;
}

.box1{
		padding-left: 5px;
	}
.box1_2{
		padding-right: 5px;
	}	
.grey-1 a{
	  background-color: #d7d8d8;
	  padding: 10px 22px;
	  font-size: 12px;
	  color: #898080;
	  border-radius: 3px;
	}	
	
.brow{
	margin: auto;
  border: 2px solid #8a8a8a;
  background: #fff;
  border-radius: 5px;
  color:#8a8a8a;
  padding: 19px 88px;
	}
	
.people{
	background:#00bbd3;
	margin:30px 0;
	padding-top:60px;
	}		
.wol h1{
	color:#fff;
	text-transform:uppercase;
	font-weight:bolder;
	padding-top:30px;
	border-bottom:3px solid #fff;
	padding-bottom:15px;
	margin-bottom:20px;
	}/*	
.wol > h1:after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 0px;
  left: 2.6%;
  background-color: #fff;
  border: 3px solid;
  width: 79%;
}*/


table.waffle {
    width: 100%;
}
.wol p{
	color:#fff;
	}
.wol ul{
	padding-top:15px;
	margin-bottom: 30px;
	}
.wol ul li img{
	padding-right:10px;
	margin-top: -4px;
	}
	
.wol ul li{
	float:none;
	display:block;
	color:#fff;
	}
.wol a{
	background:#84edfa;
	padding:18px 70px;
	color:#047f8f;
	border-radius:4px;
	}	
	
.online{
	background:#fff;
	padding-top:25px;
	}
	
.one h1{
	color:#424444;
	text-transform:uppercase;
	font-weight:bolder;
	padding-top:30px;
	border-bottom:3px solid #424444;
	padding-bottom:15px;
	margin-bottom:20px;
	}/*	
.wol > h1:after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 0px;
  left: 2.6%;
  background-color: #fff;
  border: 3px solid;
  width: 79%;
}*/
.one p{
	color:#858585;
	}
.one ul{
	padding-top:15px;
	margin-bottom: 30px;
	}
.one ul li img{
	padding-right:10px;
	margin-top: -4px;
	}
	
.one ul li{
	float:none;
	display:block;
	color:#858585;
	}
.one a{
	background:#424444;
	padding:18px 70px;
	color:#fff;
	line-height: 53px;
	border-radius:4px;
	}		
.on-img img{
	float:right;
	}
	
	
.cus-wrap{
	background:#eaeae6;
	padding:50px;
	}		
.cus-cen{
	text-align:center;
	}	
		
.place{
	  width: 29%;
	  border: 2px solid #424444;
	  border-radius: 3px;
	  height: 62px;
	  font-size: 13px;
	  padding: 2px 7px;
	}	
.contact-me{
	  background: #424444;
	  color: #fff;
	  width: 29%;
	  height: 55px;
	  text-align: center;
	  border-radius: 5px;
	  display: block;
	  margin: 32px auto;
	  line-height: 55px;
	  text-transform: uppercase;
	}	
.p-text{
	  width: 29%;
	  border: 2px solid #424444;
	  border-radius: 3px;
	  height: 40px;
	  font-size: 13px;
	  padding: 2px 7px;
	  margin-top:25px;

	}	
.select_wraper{
	width:29%;
	margin:auto;
	margin-top:25px;
	}	
.sel{
	width: 53px;
  background: #fff;
  float: left;
  height: 35px;
  border-radius: 5px 0 0 5px !important;
  border: 2px solid #424444; 
	}	
.plus{
	float: right;
  width: 82%;
  height: 35px;
  border-radius: 3px;
  border: 2px solid #424444;
	}
.p-all h3 {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  color: #fff;
  line-height: 82px;
  font-size: 18px;
  text-transform: uppercase;
}
.p-all img {
  width: 100%;
  position: relative;
}	


.container.neww.back-color {
    background: #18445e none repeat scroll 0 0;
}
.r-tes > img {
    width: 100%;
	height:330px;
}
.r-tes {
    padding: 0;
}
.r-tes-1 {
    padding: 70px 35px;
}
.ggg{ color:#fff !important;}
.r-tes-1, h2, p, strong{margin:10px 0;}
.r-tes-1 strong {
    background: #327094 none repeat scroll 0 0;
    border-radius: 2px;
    padding: 7px 14px;
    box-shadow: 0px 0px 2px #5695CC;
}
.gfgf p{
	color:#fff;}




.tes-wrap{
	padding:100px 0;
	}
.testimonial{
	/*background:url(images/testi-banner.jpg) no-repeat;*/
	background:#18445e;
	background-size:100% 100%;
	text-align:center;
	padding:30px 0;
	}
#testi{
	color:#fff;
	}
	
.img-wrap img {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  border: 3px solid #8d8c8b;
  margin-bottom: 20px;
}

.img-wrap p {
  width: 47%;
  font-family:"Helvetica Neue";
  color: #fff;
  margin: auto;
}
.doted {
  margin: 19px 0;
}	
	
.footer{
	background:#245978;
	padding:50px 0 0 0;
	}
.footer-back{
	background-size: 100% 100%;
	font-size:
	}

.footer-back h5 {
	border-bottom: 1px solid #3A7DA2;
    padding: 7px 0;
    color: #BCDBF7;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 17px 0;
    box-shadow: 0 1px 0px #0A3C5A;
    text-shadow: 0 2px 1px #0C181F;
    letter-spacing: 2px;
}
.app-row {
    background-color: #eaeae6;
    padding: 5px 0;
}
input.sms-ts {
    width: 45%;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 4px;
    color: #fff !important;
    background-color: #1CC1FF;
}
input.sms-btn {
    background-color: #212120;
    border: 0;
    padding: 7px 17px;
    border-radius: 4px;
    color: #1CC1FF;
}
.app-b-w{
    margin-bottom: 25px;
}
.app-b-w, .col-xs-12.sms-2 {
    padding: 0;
}
.col-sm-7.col-xs-12.app-s > p {
    font-size: 18px;
    margin: 35px 0;
}
.app-b-w img {
    border: 3px solid #BFEDFF;
    border-radius: 11px;
    width: 30%;
    float: left;
    margin-right: 15px;
}
.col-sm-7.col-xs-12.app-s > h1 {
    color: #fff;
	padding-top: 75px;
    text-transform: uppercase;
}

.footer-back li {
  list-style: none;
  float: none;
  line-height: 20px;
  color: #92B2CE;
   font-size: 14px;
}
h5#con-link {
    border-bottom: 0;
    box-shadow: 0 0 0;
}
.footer-back li a {
	color: #92B2CE;
    text-transform: uppercase;
    font-size: 13px;
}


}
.footer-back li a:hover{
	text-decoration:underline !important;
	} 	

.footer-copy {
    background: #18445e none repeat scroll 0 0;
    margin-bottom: 15px;
    margin-top: 50px;
    padding: 17px 0;
}
.copy{
	text-align:center;
	color:#fff;
	}	
	
.sho-me, .menu-sow{
	display:none;
	}

.sho-me {
    float: left;
    color: #fff;
    border: 1px solid #fff;
    padding: 0px 8px;
    border-radius: 4px;
    margin: 7px 0;
	cursor:pointer;
    font-size: 11px;
}
.add{
	color:424444; font-size:26px; font-weight:bold; text-transform:uppercase;margin-bottom: 20px;
	}

.mask{
	background:#000;
	opacity:0.7;
	display:none;
	position:absolute;
	top:41px;
	left:0;
	width:100%;
	z-index:9;
	height:100%;
	}
.form-o{
	display:none;
	}	


/*fresh batches-css*/

.frsh-batch tr:hover{
	background:#fff !important;
}
.frsh-batch td:hover{
	background-color:#fde4d9;
}

/*end fresh-batch css*/

/*courses page cs*/

.headin-box {
  background: url(images/back-banner.jpg) no-repeat;
  background-size: 100%;
  height: 65px;
  margin: 50px 0;
}

h3.hed-left {
  float: left;
  color: #fff;
  padding: 18px 23px;
}
.hed-right {
    background: transparent url("images/img-on.png") no-repeat scroll 0% 0% / 100% 100%;
    float: right;
    text-align: center;
    padding: 21px 27px 17px 46px;
}
h3.hed-right a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0 3px 6px #303030;
}	
.con-img {
  float: right;
  background-color: #fff;
  padding: 23px;
  border: 2px solid #E2E2E2;
  margin-left: 15px;
  width: 25%;

}
.slide-left1 a img {
    width: 30px;
}

/* 127px */ 
.con-img img{ width:100%; height: auto;}
.content.clearfix {
  background-color: #ededec;
  padding: 34px;
  border-radius: 6px;
  margin: 30px 0;
}
.text-w {
  float: left;
  width: 70%;
}
.content h3:after {
  content: "";
  border-top-color: #fb723b;
  position: absolute;
  border: 2px solid #fb723b;
  bottom: 0;
  left: 0;
  width: 35%;
}
.content h3 {
  color: #fb723b;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 17px;
  margin-bottom: 7px;
  position: relative;
  font-weight: bold;
}
.o-btn {
  background-color: #fb723b;
  width: 250px;
  padding: 15px 10px;
  margin: 21px auto;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border:0;
  border-radius: 5px;
}
.t-c{ text-align:center;}
.pa-t-b{ padding:0 0 50px 0}

/*courses page cs end*/


/*ibps syllabus table start here*/

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
	background:#FFFFFF;
}
.table-wrap:after {
  display: block;
  content: "";
  clear: both;
}
.bordered {
	margin-top: 15px;
    border: solid #ccc 1px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fde4d9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 2px 7px;
  text-align: left;
  font-size: 11px;
}

.bordered th {
    background-color: #676767;
    border-top: none;
	color:#fff;
}



.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}
.hed-right {
    min-height: 65px;
    min-width: 200px;
}
h3.t-nor {
  text-transform: inherit;
}

.tble-m{ padding-left:0;}
.tble-m{ padding-right:0;}

/*-------- ibps syllabus table end here--------------*/


/******* visdion css start *******/

.content ul li{
	background-image:url(images/f-arrey.png);
	background-repeat:no-repeat;
	background-position: left;
	float: inherit;
    padding: 1px 23px;
	}

table.waffle {
    width: 100% !important;
}
/******* vision css end ******/




/*--------Sub navigation Start---------*/


.nav-b{
  display: block;
  color: #545250;
  font-weight: bold; 		
  background-color: #F7F7F7;
  padding: 13px;
  border: 1px solid #F2F2F2;
  margin-bottom: 20px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.nav-b:hover{
	background:#1F4D69;
	color:#fff;
	}
.nav-b img {
  /*width: 50px;
  height:50px;*/
  border-radius: 3px;
  margin-right: 14px;
}

/*
.neww {
  padding: 20px 0px;
}*/
.container.sub-h4 h4 {
 border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
  float: left;
  width: 97.4%;
  position: relative
}

.neww > .container.sub-h4 h4 {
 border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
  float: left;
  width: 47.4%;
  position: relative
}

/*--------Sub navigation End---------*/
.sho-1, sho-2, sho-3{ 
	display:none;
	}

/*--------------------- start popular post css-----------*/

.slide-left {
    background-color: #df6e46;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    width: 52px;
}
.box-icon{
		position: fixed;
		right: 0;
		top: 26%;
		width: auto;
		z-index:9999;
	}
.box{	
		 float:left;
    }
 .pop-post{
		background: #aad27f none repeat scroll 0 0 !important;
	    color: #fff;
		padding: 9px;
       
	 }  
.pop-post td:hover {
  background-color: #DF6E46;
  border-left: 5px solid #AAD27F;
}	 
.pop-post td, th {
	border-left: 5px solid #DF6E46;
    border-bottom: 1px solid #cce7b0 !important;
    padding: 8px 15px;
}
.pop-post td a{
	color:#fff;
	text-decoration:none;
	}

/*------end------------*/
 
/*---------start sos-icone-----------*/

.slide-left1 {
    background-color: #df6e46;
    border: 1px solid #df6e46;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-bottom: 2px;
    padding: 8px 12px 8px 8px;
}



.s-div-right{
	position: fixed;
	right: 0;
	top: 35%;
	width: auto;
	z-index: 999;
}



/*-----------end---------*/
/*New riz 20 jul*/ 
.slide-left1:hover {
	border: 1px solid #ddd;
    background: #fff none repeat scroll 0 0;
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    padding-right: 50px;
}
.slide-left1 {
    transition: all 0.3s ease-in-out 0s;
}
.c-b {
  padding: 0 92px 50px 0;
}
.pa-t-b {
  padding:0 35px;
}
/* end */
 
.con-form-email > p {
    float: left;
    margin-bottom: 17px;
    width: 33%;
}
.msg-abhi {
    width: 99% !important;
}
.msg-abhi > textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 124px;
    width: 98%;
}
.btn-abhi > input {
    background: #245978 none repeat scroll 0 0;
    height: 52px !important;
    padding: 15px 0;
	color:#fff;
}
.con-form-email input {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px;
    width: 94%;
}
 
 div#sl_div div#map {
    height: 380px !important;
    width: 640px;
}
.show a {
	font-weight:bolder;
    color: #fff;
    left: 44px;
    position: absolute;
    top: 0;
    width: 85%;
} 
 .xyz {
    line-height: 17px;
    width: 100% !important;
	font-size:12px;
	}
.top-team{ 
	background:url(img/tem1.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	bottom: 2px;
    left: 15px;
    padding: 46px 0;
    position: absolute;
    width: 89.5%;
}
.tem2{
	background:url(img/tem2.png);
	background-size:100% 100%;
	}
.tem3{
	background:url(img/tem3.png);
	background-size:100% 100%;
	}
.tem4{
	background:url(img/tem4.png);
	background-size:100% 100%;
	}	

.sub-footer-2 {
    background: #428bca;
    color: #fff;
    text-align: center;
}
.container.subfo {
    padding: 0;
}

.sub-footer i {
    font-size: 17px;
    margin-right: 5px;
}
.sub-footer-3  a{ color:#fff;}
.sub-footer-3 {
    background: #e3623b none repeat scroll 0 0;
    text-align: center;
}
.col-sm-7.col-xs-6.sub-footer-2 > a{
	color:#fff;
	}
.sub-footer {
	line-height:40px;
	color: #fff;
    font-size: 17px;
}
.sub-footer-row {
	z-index:9999;
    background: #18445e none repeat scroll 0 0;
	}
.re-calll span{
	font-size:18px;
	}
.re-calll a{
	padding-left:10px;
	font-size:18px;
	}	
.re-calll{
	text-align:center;
}	
.sub-footer > a:hover, .re-calll > a:hover {
    color: #e3623b;
}
.sub-footer-row {
    background: #143D56 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.new-linn {
	color:#000 !important;
    padding: 0 0 35px;
    text-align: center;
}
.attachment-menu-36x36 {
/*    width: 30px;*/
}
.app-s2 img {
    float: right;
    height: 385px;
    width: 57%;
}
.pagination {
    bottom: 14%;
    left: 3%;
    position: absolute;
}

.container.neww.back-color > div {
    position: relative;
}
		#slideshow { 
				position: relative; 
			}
		#slideshow > a { 
				position: absolute; 
				top: 3px; 
				left: 10px; 
				right: 10px; 
				bottom: 10px; 
				color:#ffffff
			}
			.slides_control {
			   min-height: 330px;
			}
			ul.pagination a {
			  font-size: 1px;
			  background: none;
			  width: 10px;
			  height: 10px;
			  border-radius: 55%;
			  padding: 8px;
			  margin: 0 3px;
			}
			.pagination>li:last-child>a, .pagination>li:last-child>span {
			  border-top-right-radius: 50% !important;
			  border-bottom-right-radius: 50% !important;
			}
			.pagination>li:first-child>a, .pagination>li:first-child>span {
			  margin-left: 0;
			  border-top-left-radius: 50% !important;
			  border-bottom-left-radius: 50% !important;
			}
			.pagination>li>a, .pagination>li>span {
			  border: 4px solid #fff !important;
			}
			.pagination li.current a{
			  background:#FB723B;
			}
		.active{
		background:#FB723B !important;
			}
	.n-lineee{
    background: #fff none repeat scroll 0 0;
    display: block;
    font-size: 16px;
    padding: 0 0 7px;
    text-align: center;
	text-decoration:none;
    width: 100%;
}			
.logo a img {
    width: 90%;
}
.app-s > p {
    color: #fff;
}



 /*------------------------------------ Media CSS start Here----------------------------------------------*/

@media only screen and (min-device-width : 320px)and (max-device-width : 768px) {
	
	.con-img.rad-img {
    margin-top: 32px;
	}
	img.team-picture.circle {
    border-radius: 50% !important;
	}
	.rad-img {
    border-radius: 50% !important;
	}
	.nav-b {
    margin-bottom: 10px;
    padding: 5px 13px;
	}
	.nav-b img {
    height: 30px;
    width: 30px;
	}
	
	.sub-nav {
    max-height: 215px;
    overflow: auto;
	}
	.show a {
		font-weight:bolder;
    left: 45px;
    line-height: initial;
    margin: auto;
    padding-top: 21px;
    position: absolute;
    width: 85%;
	}
	/*--------ibps syllabus table end start--------------*/	

/*-------- ibps syllabus table end end--------------*/




	/*courses page cs*/
	
	.text-w, .con-img {
    width: 100%;
	margin-top:15px;

	}
	
/* start showing popular posts css */

.slide-left {
  float: left;
  background-color: #DF6E46;
  color: #fff;
  border: 0;
  cursor:pointer;
  padding: 4px 12px;
}
.box-icon{
		position: fixed;
		right: 0;
		top: 24%;
		width: auto;
		z-index:9999;
	}
.box{	
		 float:left;
    }
 .pop-post{
		background: #aad27f none repeat scroll 0 0 !important;
	    color: #fff;
		padding: 9px;
       
	 }  
.pop-post td:hover {
  background-color: #DF6E46;
  border-left: 5px solid #AAD27F;
}	 
.pop-post td, th {
	border-left: 5px solid #DF6E46;
    border-bottom: 1px solid #cce7b0 !important;
    padding: 8px 15px;
}
.pop-post td a{
	color:#fff;
	text-decoration:none;
	}

/* end*/
/*courses page cs end*/
	
	
	.top-info li {
    border-bottom: 1px solid #062833;
	padding: 5px 0px;
	width: 100%;
	box-shadow: 0 1px 0px #204C71;
	}
	.top-info li:last-child {
		border:0px;
		box-shadow: 0 0px 0px #204C71;
		}
	.sho-me, .menu-sow{
		display:block;
	}
	.sho-me{
		float:left;
	}
	.top-info {
    position: absolute;
    display: none;
    background: #02384d;
    top: 40px;
    z-index: 9;
    padding: 0px 10px;
	}
	.menu-sow{
		float:right;
	}
	.menu-sow img {
    width: 31px;
	padding: 6px 0px 0px;
	cursor: pointer;
	margin-right: -15px;
	}
	.nav li{
		width:100%;	
		}
	.nav li a{
		display:block;
		padding: 5px 23px;
		font-weight:normal;
		font-size:12px;
		border-radius:0px;
		border-bottom: 1px solid #fff;
		}	
	.nav {
    margin: 5px 0px 15px;
	display: none;
	position: absolute;
	z-index: 9;
	top: -70px;
	}
	
	
	
	
	}
	


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.p-all h3 {
    font-size: 12px;
    line-height: 43px;
	}
	
	
	.p-all img {
		height: 170px;
		position: relative;
		width: 100%;
	}

	}
	
	
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.n-lineee{ font-size:13px}
	.re-calll {
    font-size: 10px;
	}
	.noti-cen img{
		display:block;
		float:left;
		width:38px;
		margin-top: -10px;
		}
	.noti-cen span{
		font-size:14px;
		}	
	.pagination{
		left:7%;}
	
	.col-sm-7.col-xs-12.app-s > h1{
		padding-top:55px;}
	.app-s2 img{ height:auto;}
	.wol h1{
		font-size:16px;
		}
	.one a {
    padding: 12px 36px;
	}
	.one ul {
    margin-bottom: 8px;
    padding-top: 0;
	}
	.col-sm-7.col-xs-12.app-s > p {
    font-size: 15px;
    margin: 15px 0;
	}
	.app-row {
    background-color: #1cc1ff;
    padding: 40px 15px;
	}
	.app-s > h1 {
    font-size: 20px;
    padding: 0;	
	}
	
	
	.r-tes-1 {
    padding: 25px 35px;
	}
	.r-tes > img {
    height: 247px;
    padding-top: 41px;
	}

	.slide-wrasp-box {
    padding: 15px;
	}
	.sub-footer-2, .sub-footer-3 {
    
	}
	.re-calll span, .re-calll a{
		font-size:11px;
		}
	.sub-footer-2, .sub-footer-3 {
    font-size: 12px;
	line-height: 40px;
	}
	.sub-footer-2{ padding:0;}
	h3.hed-right a {
	font-size: 16px !important;
	}
	h3.hed-left {
    font-size: 18px !important;
    padding: 22px 23px !important;
	}
	.text-w, .con-img {
    width: 100% !important;
	}
	.p-all h3 {
    font-size: 12px;
	line-height: 41px;
	}
	.footer-back {
    height: 217px;
    min-height: auto;
    padding: 17px 4px;
	}
	.footer-back li{
		font-size:10px;
		}
	.text-w, .con-img {
    float: left;
	}
	.top-team {
    padding: 25px 0;
    width: 83.2% !important;
	}	
	.show a{
		font-size:12px;
		}
	#searchForm #addy_in_address {
     width: 49% !important;
	}
	.headin-box {
     margin: 12px 0;
	}
	#map_sidebar {
    top: 10.3% !important;
	}
	.col-sm-9.col-xs-12.showw {
    width: 100%;
	}
	.col-sm-3.col-xs-12.hidee {
    display: none;
	}
	.pa-t-b {
    padding: 0 15px;
	}

	


	
	.con-img {
    width: 50%;
	float:left;
	margin-left:0;
	}
	
/*courses page cs end*/
	

	.top-info li {
    border-bottom: 1px solid #062833;
	padding: 5px 0px;
	width: 100%;
	box-shadow: 0 1px 0px #204C71;
	}
	.top-info li:last-child {
		border:0px;
		box-shadow: 0 0px 0px #204C71;
		}
	.sho-me, .menu-sow{
		display:block;
	}
	.sho-me{
		float:left;
	}
	.top-info {
    position: absolute;
    display: none;
    background: #02384d;
    top: 40px;
    z-index: 9;
    padding: 0px 10px;
	}
	.menu-sow{
		float:right;
	}
	.menu-sow img {
    width: 31px;
	padding: 6px 0px 0px;
	cursor: pointer;
	margin-right: -15px;
	}
	.nav li{
		width:100%;	
		}
	.nav li a{
		display:block;
		padding: 5px 23px;
		font-weight:normal;
		font-size:12px;
		border-radius:0px;
		border-bottom: 1px solid #fff;
		}	
	.nav {
    margin: 5px 0px 15px;
	display: none;
	position: absolute;
	z-index: 9;
	top: -70px;
	}
	
	.bob {
    width: 135px;
    height: 135px;
	}
	.noti-cen img{
		width:50px;
	}
	.noti-cen img {
    width: 38px;
	}
	
	.noti-cen {
    padding: 22px 10px;
	}
	.noti-cen span {
    font-size: 14px;
	}
	.noti-wrap{
		height:auto;
	}
	.search-box {
    width: 45%;
	}
	.wol h1 {
    padding-top: 1px;
    padding-bottom: 7px;
    margin-bottom: 5px;
    font-size: 22px;
	}
	.one h1 {
    padding-top: 30px;
    padding-bottom: 6px;
    margin-bottom: 5px;
    font-size: 22px;
	}
	.place, .p-text, .select_wraper, .contact-me, .img-wrap p{
		width:44%;
	}
	
	.img-wrap p{
		width:80%;
		}
	.footer-back {
    padding: 35px 4px;
	}	
	.footer-back li a{
		font-size:10px;
		text-transform:inherit;
	}
	.footer-back li {
    line-height: 17px;
	}
	.banner-wrap {
    background: transparent url("img/self/back-banner.jpg") no-repeat scroll 0% 0% / 100% auto;
    -moz-animation: ;
	}
	.slider-main {
    padding: 60px 34px 0;
	}	
	/*.show-wrap {
    top: 23.3%;
	}*/
	.nav{
		top:-20px;
		}
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 640px) and (max-device-width: 360px){
	
}
/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
	.noti-cen a {
    display: block;
    padding: 0;
    width: 100%;
	text-align:left;
	}
	.re-calll {
	line-height:1px;	
    font-size: 9px;
	}
	
	.pagination{ padding-left:20px;}
	.slides_control{
	min-height: 576px !important;	
		}
	.r-tes > img {
    height: 200px;
    margin: auto;
    width: 75%;
	}
	.r-tes{ text-align:left;}
	.app-s2 img{ width:100%;}
	.col-sm-7.col-xs-12.app-s > p {
    font-size: 13px;
    margin: 8px 0;
	}
	.app-row {
    background-color: #1cc1ff;
    padding: 28px 15px;
	}
	.app-s > h1 {
    font-size: 20px;
    padding: 0;	
	}
	
	.r-tes {
    padding: 15px 35px;
	}
	.r-tes-1 {
    padding: 14px 33px;
	}	

	.tes-wrap{
		 padding: 20px 0;
		}
	
	.col-sm-4.col-xs-6.sub-footer > a {
    font-size: 10px;
	}

	.sub-footer{ 
	line-height:35px;
	}
	
	
	
	.sub-footer-2 {
    font-size: 10px;
	}
	.re-calll span, .re-calll a {
    font-size: 9px;
    line-height: 30px;
	}
	.con-img.rad-img {
    float: left;
	}	
	
	div#sl_div {
    height: 625px ;
	}
	.xyz {
    line-height: 17px;
    width: 100% !important;
	font-size:12px;
	}
	
	.show a {
    width: 76%;
	}
	.show-wrap {
    left: 30px;
    position: fixed;
    top: 14.5%;
    width: 87%;
	}
.wight {
    padding: 10px 0;
	}
.content.clearfix {
     padding: 15px;
	}
div#sl_div div#slp_tagline{
	width:auto !important;
	opacity:0.;
	}
div#sl_div {
    height: auto !important;
}
#sl_div > div {
	margin-bottom: 15px;
	width:100%;
	height:auto;
    position: relative;
}
.pa-t-b {
    padding: 0 15px;
}

.container.c-loc {
    padding: 0;
}
h3.hed-left {
    padding: 17px 23px;
}

.hed-left {
    font-size: 16px;
    line-height: 6px;
}
.headin-box.clearfix {
    margin: 10px 0;
}
.headin-box{
	height:40px;
	}
h3.hed-right a{
	font-size:14px;
	}
.bordered td, .bordered th {
    font-size: 10px;
    line-height: 13px;
    padding: 0;
	}		
.hed-right {
	 min-height: 40px;
    min-width: 80px;
    background-size: 100% 100%;
	padding: 6px 10px 7px 17px;
}
.results_wrapper {
    border-bottom: 1px solid #7C7C7C;
}
#searchForm #addy_in_address {
     width: 96% !important;
}
#searchForm INPUT {
    border-radius: 2px;
     width: 62% !important;
}

.search_item > div {
    margin-top: 10px;
}
#searchForm INPUT[type="submit"]{
	width:min-width: 8em;
	}
 div#sl_div div#map {
    height: 182px !important;
    width: 100% !important;
}
#map_sidebar {
    height: 200px !important;
    position: relative;
    width: 100% !important;
}

/*------end--------*/


.slider-main {
    padding: 47px 34px 0 35px;
	}
/*.show-wrap{
	top: 69.5%;
	}*/
.search-box {
    float: right;
    width: 50%;
	}
.grey-1 {
    margin-bottom: 15px;
	}
.people {
    padding-bottom: 50px;
    padding-top: 40px;
	}
.place, .p-text, .select_wraper, .contact-me, .img-wrap p {
    width: 52%;
	}		
.p-all img {
	height:250px;
	margin-top:15px;
	}
.top-team{
	padding:36px 0;
	}	
.p-all h3{
	line-height:56px;
	}	
.on-img img {
    float: left;
}	

.noti-wrap {
    height: auto;
}
.noti-cen {
    padding: 15px 20px;
    border-bottom: 1px solid #FFF;
}






				
}

@media only screen and (min-device-width : 320px)and (max-device-width : 480px) {
	
	
	.banner-wrap {
    background: transparent url("img/self/back-banner.jpg") no-repeat scroll 0% 0% / 100% 100%;
    -moz-animation: ;
	}
	
	.orng, .blue{
		opacity:1;
	}
	.lunch{
		font-size:10px;
	}	
	.lunch img {
    float: left;
    margin-top: 18px;
    cursor: pointer;
    width: 17px;
	}
	.brekig{
		font-size:12px;
	}
	.noti-wrap{
		height:auto;
	}
	.noti-cen {
    padding: 15px 20px;
    border-bottom: 1px solid #FFF;
	}
	.search-box {
    width: 100%;
	}
	.container.neww.ex-man {
    padding: 60px 15px;
	}
	.grey-1{
		margin-bottom:15px;
		}
	.brow{
		padding: 19px 80px;
	}
	.tab-content {
    padding: 20px 0px;
	}
	.people{
	padding-bottom:50px;
	padding-top: 40px;
	}
	.wol h1, .one h1 {
    padding-top: 22px;
    padding-bottom: 5px;
    margin-bottom: 9px;
    font-size: 19px;
	}	
	.add {
    font-size: 20px;
	}
	.place, .p-text, .select_wraper, .contact-me, .img-wrap p{
		width:80%;
	}
	.plus{
		width:75%;
		}
	.sel {border-radius: 5px !important;}
	
}



/* Desktops and laptops ----------- */
@media (min-width: 768px) and (max-width: 1199px) {
.bob{ width:auto; height:auto;}	
input.serc{ width:80% ; }	
div#sticky_navigation{
	padding:5px 0 1px 0;
	}	
.noti-cen img {
    width: 40px;
}
.noti-cen span {
	font-size:13px;}
.show a{
	font-size:12px;
	}
.noti-wrap{
	height:auto;
	}
.nav li a{
	font-size:12px;
	padding:3px 6px !important;}	
.nav li a{ margin-top:0px !important; }	
	
}

/*-----------accordion css--------*/
/* Accordion Styles */
.accordion {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
.accordion-title {
    border-top: 1px solid #dbdbdb;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
}
.accordion-title:hover {}
.accordion-title:first-child {border: none;}
.accordion-title.open {cursor: default;}
.accordion-content {padding-bottom: 20px;}