.clear{
	clear:both;
}

body
{
    font-family: Arial,sans-serif;
}

/* Header */

#header nav
{
    background: #ffffff;
    border-top: 3px solid #E64B3A;
    border-bottom: 1px solid #ebebeb;
}

#header .navbar-brand
{
    height: 40px;
    position: relative;
    margin-top: -10px;
    padding-right: 0px;
}

/* Content */

#content a
{
    color: #E64B3A;
}

#content h1
{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#content h2
{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}

#content h4
{
    font-size: 13px;
}

#content .page-header
{
    margin-top: 5px;
    margin-bottom: 15px;
}

#content .page-header h3
{
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #E64B3A;
    display: inline;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#content .page-header small
{
    margin-top: 5px;
}

#content .thumbnail
{
    margin-bottom: 10px;
}

#content .thumbnail:hover
{
    border-color: #E64B3A;
}

#content .desc{
    color: #777;
    margin-bottom: 20px;
    margin-top: 10px;
}
#content .desc p{
    margin: 0px;
}
#content #player .pull-right
{
    margin-left: 5px;
}
#content #player .embed-responsive
{
    margin-bottom: 10px;
    margin-top: 10px;
}
#content .share
{
    margin-bottom: 10px;
    display: block;
}
#content .share a
{
	color: #777;
}
#content .share .collapse {
	margin-top: 10px;
	text-align: right;
	color: #777;
}
#content .media-body .media-info
{
    font-size: 13px;
    color: #777;
}
#content .alert-info {
    background-color: #f5f5f5;
    border:1px solid #eee;
}

#content .row table tbody td
{
    font-size: 12px;
    border-top: none;
    border-bottom: 1px dashed #ebebeb;
    padding-left: 10px;
}

#content .row table tbody td a
{
    color: #777;
}

#content .icon
{
    width: 70px;
}

#content .row table tbody td .label-sub
{
    background-color: #E64B3A;
    padding-top: 4px;
}

#content .row table tbody td .label-default
{
    padding-top: 4px;
}
#content .pagination .disabled a{
	color: #777;
}
#content .pagination .active a{
	color: #777;
	background:#E64B3A;
}
.embed-responsive
{
    background-color: #111111;
}
.addthis_native_toolbox{
    margin-top: 5px;
}
/* Sidebar */

#sidebar .av-right
{
    margin-bottom: 10px;
    text-align: center;
}

#sidebar .av-right .bn-right
{
    padding: 1px 0px;
    display: inline-block;
}

@media (min-width:1200px)
{
    #sidebar
    {
        width: 310px;
    }
    #footer .av-footer{
        padding-right: 50px;
    }
}

/* Footer */

#footer
{
    border-top: 1px solid #eee;
    border-bottom: 3px solid #E64B3A;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}
#footer ul
{
    padding-left: 10px;
}
#footer a
{
    font-size: 13px;
    color: #777;
}
#mediaplayer,#jwplayer{
	z-index:1000000005;
}
#myModal{
	z-index:1000000010;
}
#shadow {background:#000; position:absolute; left:0; top:0; width:100%; z-index:1000000002;filter:alpha(opacity: 90);opacity: 0.9;}
/*********************/
/** jRating CSS **/
/*********************/

/**Div containing the color of the stars */
.jRatingAverage {
	background-color:#f62929;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	background-color:#f4c239; /* bgcolor of the stars*/
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	position:relative;
	left:0;
	z-index:3;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:9999;
	background:#000000 url(images/icons/bg_jRatingInfos.png) no-repeat;
	color:			#FFF;
	display:		none;
	width:			91px;
	height:			29px;	
	font-size:16px;
	text-align:center;
	padding-top:5px;
}
	p.jRatingInfos span.maxRate {
		color:#c9c9c9;
		font-size:14px;
	}
.basic{
	float:left;
    margin-bottom: 15px;
}
.basicresult{
	float:left;
	width:268px;
	margin-left:5px;
    padding-top: 3px;
}
.col-md-3 .col-xs-6 .col-sm-3{
	position: relative;
}
.info-overlay{
	position: absolute;
	top: 7px;
	right: 22px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 2px;
	font-weight: 700;
	color:#fff;
	text-transform: uppercase;
	padding:2px;
	display: inline-block;
	border-radius: 2px;
}
#hideads{
    position: absolute;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#000;
    text-align:center;
    
}
#hideads .in_player_close{
    display: inline-block;
    background: rgb(204, 204, 204) none repeat scroll 0% 0%;
    color: black;
    width: 300px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
#main .player {
				font-size:0px;
				margin-bottom:9px;
				padding-right: 5px;
				text-align: center;
				position: relative;
			}