@charset "UTF-8";

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
font-family: sans-serif;

    -ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
display: block;
}

audio,
canvas,
progress,
video {
display: inline-block;
}

audio:not([controls]) {
display: none;
height: 0;
}

progress {
vertical-align: baseline;
}

template,
[hidden] {
display: none;
}

a {
background-color: transparent;

-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
outline-width: 0;
}

abbr[title] {
text-decoration: underline;
text-decoration: underline dotted;
border-bottom: none;
}

b,
strong {
font-weight: inherit;
}

b,
strong {
font-weight: bolder;
}

dfn {
font-style: italic;
}

h1 {
font-size: 2em;
margin: .67em 0;
}

mark {
color: #000;
background-color: #ff0;
}

small {
font-size: 80%;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -.25em;
}

sup {
top: -.5em;
}

img {
border-style: none;
}

svg:not(:root) {
overflow: hidden;
}

code,
kbd,
pre,
samp {
font-family: monospace, monospace;
font-size: 1em;
}

figure {
margin: 1em 40px;
}

hr {
overflow: visible;
box-sizing: content-box;
height: 0;
}

button,
input,
select,
textarea {
font: inherit;
margin: 0;
}

optgroup {
font-weight: bold;
}

button,
input {
overflow: visible;
}

button,
select {
text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
padding: 0;
border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

fieldset {
margin: 0 2px;
padding: .35em .625em .75em;
border: 1px solid #c0c0c0;
}

legend {
display: table;
box-sizing: border-box;
max-width: 100%;
padding: 0;
white-space: normal;
color: inherit;
}

textarea {
overflow: auto;
}

[type="checkbox"],
[type="radio"] {
box-sizing: border-box;
padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

[type="search"] {
outline-offset: -2px;

-webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

::-webkit-input-placeholder {
opacity: .54;
color: inherit;
}

::-webkit-file-upload-button {
font: inherit;

-webkit-appearance: button;
}

/* =================================================
    base style
   ================================================= */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
dl,
dt,
dd {
margin: 0;
padding: 0;
}

em {
font-style: normal;
}

ul,
ol {
list-style-type: none;
}

html,
body {
min-width: 950px;
}

html {
font-size: 62.5%;
}

body {
font-family: "メイリオ",meiryo,"ＭＳ Ｐゴシック",MS PGothic,Verdana, Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", Osaka, sans-serif;
font-size: 14px;
font-size: 1.4rem;
line-height: 1.71429;
color: #223;
background-color: #fff;
}

a {
text-decoration: none;
color: #314da5;
}

a:visited {
text-decoration: underline;
color: #314da5;
}

a:hover {
text-decoration: underline;
color: #0074bd;
}

a:active {
text-decoration: underline;
color: #0074bd;
}

img {
vertical-align: top;
}

/* =================================================
    extention
   ================================================= */

header > .header-group > .inner,
header > .header-main > .inner,
main > .contents > .inner,
footer > .footer > .inner,
nav > .nav-global > .inner {
max-width: 950px;
margin: 0 auto;
}

.header-main > .inner:before,
main > .contents > .inner:before,
.nav-global > .inner > .panel:before,
.nav-global > .inner > .panel > .box.col2:before,
.nav-global > .inner > .panel > .box.col3:before,
.list-index:before,
.list-index-2:before,
.list-index-2 > li > a:before,
.list-words:before,
.list-game:before,
.link-poricy:before,
.link-list.col3:before,
.link-list.col2:before,
.link-banner.col2:before,
.link-list-2:before,
.link-sns:before,
.box-ad:before,
.cmp-information:before,
.header-main > .inner:after,
main > .contents > .inner:after,
.nav-global > .inner > .panel:after,
.nav-global > .inner > .panel > .box.col2:after,
.nav-global > .inner > .panel > .box.col3:after,
.list-index:after,
.list-index-2:after,
.list-index-2 > li > a:after,
.list-words:after,
.list-game:after,
.link-poricy:after,
.link-list.col3:after,
.link-list.col2:after,
.link-banner.col2:after,
.link-list-2:after,
.link-sns:after,
.box-ad:after,
.cmp-information:after {
display: table;
content: "";
}

.header-main > .inner:after,
main > .contents > .inner:after,
.nav-global > .inner > .panel:after,
.nav-global > .inner > .panel > .box.col2:after,
.nav-global > .inner > .panel > .box.col3:after,
.list-index:after,
.list-index-2:after,
.list-index-2 > li > a:after,
.list-words:after,
.list-game:after,
.link-poricy:after,
.link-list.col3:after,
.link-list.col2:after,
.link-banner.col2:after,
.link-list-2:after,
.link-sns:after,
.box-ad:after,
.cmp-information:after {
clear: both;
}

.header-group .logo > img,
.list-index > li img,
.list-index-2 > li > a img {
max-width: 100%;
height: auto;
}

/* =================================================
    headerLayout
   ================================================= */

.header-group {
height: 36px;
background-color: #000;
}

.header-group > .inner {
position: relative;
}

.header-group .logo {
position: absolute;
top: 12px;
right: 15px;
width: 70px;
height: 12px;
}

.header-main > .inner {
position: relative;
box-sizing: border-box;
padding-top: 36px;
padding-right: 224px;
padding-bottom: 20px;
}

.header-main > .inner > * {
float: left;
}

.header-main > .inner > .logo-20th {
margin-top: 20px;
}

.header-main > .inner > .logo {
margin-top: 13px;
margin-left: 13px;
}

.header-main > .inner > .logo + .cmp-search {
margin-left: 55px;
}

.header-main > .inner .input-search {
height: 30px;
}

.header-main > .inner .box-search {
margin-top: 0;
}

.header-main > .inner .box-search + * {
margin-top: 5px;
}

.header-main > .inner .box-login {
position: absolute;
top: 36px;
right: 0;
margin-top: 0;
}

.header-main > .inner .cmp-information {
position: absolute;
top: 6px;
right: 0;
margin-top: 0;
}

/* =================================================
    contentsLayout
   ================================================= */

main > .contents > .inner {
padding-top: 15px;
padding-bottom: 15px;
}

main > .contents > .inner > .primary,
main > .contents > .inner > .secondary {
float: left;
box-sizing: border-box;
}

main > .contents > .inner > .primary {
width: 580px;
}

main > .contents > .inner > * + .primary + .secondary {
margin-top: 20px;
}

main > .contents > .inner .primary + .secondary + * {
clear: both;
}

main > .contents > .inner > .secondary {
width: 370px;
padding-left: 20px;
}

* + .wrap-module {
margin-top: 20px;
}

.wrap-module + * {
margin-top: 20px;
}

.wrap-module + .list-index {
margin-top: 10px;
}

.switching {
clear: both;
padding-top: 20px;
text-align: center;
}

.switching span {
display: inline-block;
width: 70px;
padding: 8px 0;
text-align: center;
color: #c3c3c3 !important;
border: 1px solid #d9d9d9;
border-right: none;
background: #f6f6f6;
}

.switching a {
display: inline-block;
width: 70px;
padding: 8px 0;
text-align: center;
color: #223;
border: 1px solid #c3c3c3;
background: #eee;
background: -webkit-linear-gradient(top, #fbfbfb 0%, #eee 100%);
background:         linear-gradient(to bottom, #fbfbfb 0%, #eee 100%);
}

.switching a:hover {
text-decoration: none;
background: #eee;
background: -webkit-linear-gradient(top, #d6d6d6 0%, #fbfbfb 100%);
background:         linear-gradient(to bottom, #d6d6d6 0%, #fbfbfb 100%);
}

#sns_simple_gig_containerParent {
position: static !important;
margin-bottom: 15px;
}

.gate {
position: relative;
z-index: 100000;
width: 1024px;
margin: 0 auto;
}

.gate .gate-l {
position: absolute;
top: 0;
left: -180px;
}

.gate .gate-r {
position: absolute;
top: 0;
right: -180px;
}

/* =================================================
    footerLayout
   ================================================= */

footer > .footer > .inner {
position: relative;
padding-top: 20px;
padding-bottom: 30px;
}

footer > .footer > .inner .link-poricy {
position: absolute;
top: 20px;
right: 0;
}

footer > .footer {
border-top: 1px solid #e2e2e2;
}

footer > .footer .link-list-2 + .link-list-2 {
margin-top: 4px;
}

footer > .footer .link-list-2 > li {
padding-bottom: 0;
}

footer > .contentFooter {
position: relative;
padding-top: 35px;
}

footer > .contentFooter .box-search {
width: 594px;
}

footer > .contentFooter .input-search {
min-height: 40px;
padding-right: 120px;
}

footer > .contentFooter .input-search .search-form {
font-size: 16px;
font-size: 1.6rem;
width: 440px;
padding: 7px 30px 6px 10px;
}

footer > .contentFooter .input-search .word-clear-area {
right: 120px;
}

footer > .contentFooter .btn-search {
padding: 13px 30px;
}

footer > .contentFooter .link-top {
position: absolute;
right: 0;
bottom: -15px;
}

.link-menu {
display: table;
width: 100%;
border-right: 1px solid #e2e2e2;
}

.link-menu > li {
line-height: 1.2;
display: table-cell;
box-sizing: border-box;
min-width: 120px;
padding: 0 0 0 1px;
table-layout: fixed;
vertical-align: middle;
border-left: 1px solid #e2e2e2;
}

.link-menu > li > a {
font-size: 11px;
font-size: 1.1rem;
position: relative;
display: block;
padding: 15px 20px 14px;
text-align: center;
}

.link-menu > li > a:hover {
color: #fff;
background-color: #555;
}

.link-menu > li > a:hover::before {
background-color: #555 !important;
}

.link-menu > li > a::before {
position: absolute;
z-index: 1;
top: 9px;
right: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
margin: 0 auto;
content: "";
background-color: #f5f5f5;
}

.link-menu > li.access > a:before {
width: 131px;
height: 24px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px -86px;
background-size: 400px 342px;
}

.link-menu > li.access > a:hover::before {
background-position: -243px -115px;
}

.link-menu > li.smartphone > a:before {
width: 109px;
height: 23px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -246px -223px;
background-size: 400px 342px;
}

.link-menu > li.smartphone > a:hover::before {
background-position: -206px -252px;
}

.link-menu > li.point > a:before {
width: 127px;
height: 24px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px -173px;
background-size: 400px 342px;
}

.link-menu > li.point > a:hover::before {
background-position: 0 -223px;
}

.link-menu > li.option > a:before {
width: 145px;
height: 23px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px -30px;
background-size: 400px 342px;
}

.link-menu > li.option > a:hover::before {
background-position: -243px -58px;
}

.link-menu > li.support > a:before {
width: 63px;
height: 23px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -165px -192px;
background-size: 400px 342px;
}

.link-menu > li.support > a:hover::before {
background-position: -320px -252px;
}

.link-menu > li.mypage > a:before {
width: 98px;
height: 27px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -252px;
background-size: 400px 342px;
}

.link-menu > li.mypage > a:hover::before {
background-position: -103px -252px;
}

.nav-global {
position: relative;
border-bottom: 1px solid #e2e2e2;
background-color: #fff;
box-shadow: 0 2px 2px rgba(51, 51, 51, .1);
}

.nav-global > .inner > .panel {
position: absolute;
z-index: 4;
top: 47px;
right: 0;
left: 0;
display: none;
box-sizing: border-box;
width: 100%;
max-width: 948px;
margin: 0 auto;
border-top: 5px solid #555;
border-radius: 0 0 4px 4px;
border-radius: 0 0 8px 8px;
background-color: #fff;
box-shadow: 0 1px 1.4px .6px rgba(51, 51, 51, .3);
}

.nav-global > .inner > .panel.active {
z-index: 4;
display: inherit;
}

.nav-global > .inner > .panel > * {
display: table-cell;
padding-right: 20px;
vertical-align: top;
background-color: #fff;
}

.nav-global > .inner > .panel > .title {
font-size: 11px;
font-size: 1.1rem;
position: relative;
padding-right: 20px;
padding-left: 0;
}

.nav-global > .inner > .panel > .title + * {
width: 696px;
padding-top: 20px;
padding-bottom: 20px;
}

.nav-global > .inner > .panel > .title > a {
position: relative;
display: table-cell;
box-sizing: border-box;
width: 214px;
padding: 25px 0;
text-align: center;
vertical-align: middle;
background-color: #f5f5f5;
}

.nav-global > .inner > .panel > .title > a:focus,
.nav-global > .inner > .panel > .title > a:hover {
background-color: #eee;
}

.nav-global > .inner > .panel > .title > a:focus > span::before,
.nav-global > .inner > .panel > .title > a:hover > span::before {
background-color: #eee;
}

.nav-global > .inner > .panel > .title > a > span {
position: relative;
display: inline-block;
width: 100%;
padding-top: 91px;
}

.nav-global > .inner > .panel > .title > a > span::before,
.nav-global > .inner > .panel > .title > a > span::after {
position: absolute;
display: block;
content: "";
}

.nav-global > .inner > .panel > .title > a > span::before {
right: 0;
bottom: 0;
left: 0;
margin: auto;
background-color: #f5f5f5;
}

.nav-global > .inner > .panel > .title > a > span::after {
top: 0;
right: 0;
left: 0;
margin: auto;
}

.nav-global > .inner > .panel.access > .title > a > span:before {
width: 157px;
height: 25px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px 0;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.access > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -81px 0;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.smartphone > .title > a > span:before {
width: 131px;
height: 24px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px -144px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.smartphone > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -81px -81px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.point > .title > a > span:before {
width: 160px;
height: 26px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -192px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.point > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -162px 0;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.option > .title > a > span:before {
width: 181px;
height: 25px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -162px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.option > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 0;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.support > .title > a > span:before {
width: 82px;
height: 25px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -104px -284px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.support > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -81px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.mypage > .title > a > span:before {
width: 99px;
height: 25px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -284px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel.mypage > .title > a > span:after {
width: 76px;
height: 76px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -162px -81px;
background-size: 400px 342px;
}

.nav-global > .inner > .panel > .box.col2 > * {
float: left;
box-sizing: border-box;
width: 50%;
}

.nav-global > .inner > .panel > .box.col3 > * {
float: left;
box-sizing: border-box;
width: 33.33333%;
}

.nav-global .link-list > li {
font-size: 14px;
font-size: 1.4rem;
font-weight: bold;
position: relative;
padding-left: 15px;
}

.nav-global .link-list > li + li {
margin-top: 15px;
}

.nav-global .link-list > li::before {
position: absolute;
top: 5px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 4px 6px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.nav-global .link-list > li > .list {
margin-top: 10px;
}

.nav-global .link-list > li > .list > li {
font-size: 12px;
font-size: 1.2rem;
font-weight: normal;
}

.nav-global .link-list > li > .list > li + li {
margin-top: 7px;
}

.nav-global .link-menu {
border-right: none;
}

.nav-global .link-menu > li {
border-left: none;
}

.nav-global .link-menu > li > a::before {
top: 13px;
}

.nav-global .link-menu > li > a::after {
position: absolute;
z-index: 1;
top: 10px;
left: -1px;
display: block;
width: 1px;
height: 32px;
content: "";
background-color: #e2e2e2;
}

.nav-global .link-menu > li.mypage {
width: 158px;
padding-top: 4px;
padding-left: 0;
}

.nav-global .link-menu > li.mypage::before {
content: none;
}

.nav-global .link-menu > li.mypage > a {
padding: 19px 20px 15px;
border: 1px solid #e2e2e2;
border-bottom: none;
border-radius: 3px 3px 0 0;
}

.nav-global .link-menu > li.mypage > a:hover {
border-color: #555;
}

.nav-global .link-menu > li.mypage > a:hover::after {
border-right-color: #555;
border-left-color: #555;
background-color: #555;
}

.nav-global .link-menu > li.mypage > a::before {
top: 9px;
}

.nav-global .link-menu > li.mypage > a::after {
position: absolute;
z-index: 1;
top: auto;
bottom: 0;
left: -1px;
display: block;
width: 100%;
height: 6px;
content: "";
border-right: 1px solid #fff;
border-left: 1px solid #fff;
background-color: #fff;
}

.nav-global .link-menu > li.mypage.active > a {
border-color: #555;
background-color: #555;
}

.nav-global .link-menu > li.mypage.active > a::after {
content: none;
}

.nav-global .link-menu > li > a {
padding: 18px 20px 20px;
}

.nav-global .link-menu > li > a::before {
background-color: #fff;
}

.nav-global .link-menu > li.active > a {
color: #fff;
background-color: #555;
}

.nav-global .link-menu > li.active > a::before {
background-color: #555 !important;
}

.nav-global .link-menu > li.active.access > a::before {
background-position: -243px -115px;
}

.nav-global .link-menu > li.active.smartphone > a::before {
background-position: -206px -252px;
}

.nav-global .link-menu > li.active.point > a::before {
background-position: 0 -223px;
}

.nav-global .link-menu > li.active.option > a::before {
background-position: -243px -58px;
}

.nav-global .link-menu > li.active.support > a::before {
background-position: -320px -252px;
}

.nav-global .link-menu > li.active.mypage > a::before {
background-position: -103px -252px;
}

/* =================================================
    noscript
   ================================================= */

.state-javascript {
display: block;
padding: 16px 0;
text-align: center;
background: #f2f2f2;
}

.state-javascript .js-off-red {
color: #c00;
}

/* =================================================
    icon
   ================================================= */

.icon {
font-weight: normal;
line-height: 1;
display: inline-block;
box-sizing: border-box;
padding: 4px 10px 2px;
white-space: nowrap;
}

a > .icon {
text-decoration: none;
}

.icon {
font-size: 12px;
font-size: 1.2rem;
}

.icon.default {
padding: 5px 11px 3px;
color: #fff;
border-radius: 3px;
background-color: #666;
}

.icon.recommend {
font-size: 10px;
font-size: 1rem;
position: relative;
top: -1px;
margin-right: 4px;
padding: 3px 3px 1px;
color: #fff;
background-color: #ee862f;
}

.icon.emphasis {
min-width: 55px;
padding: 4px 6px 2px;
text-align: center;
color: #223;
border-radius: inherit;
}

.icon.seismic4 {
background: #ffff4c;
}

.icon.seismic5 {
background: #ffd84c;
}

.icon.seismic6 {
background: #ffb54c;
}

.icon.seismic7 {
background: #ff924c;
}

.icon.seismic8 {
background: #f26969;
}

.icon.seismic9 {
background: #ff5db5;
}

.copyright {
text-align: center;
}

* + .copyright {
margin-top: 20px;
}

.copyright + * {
margin-top: 20px;
}

.copyright small {
font-size: 14px;
font-size: 1.4rem;
}

.txt-parenthesis {
position: relative;
display: inline-block;
padding: 0 5px;
}

.txt-parenthesis::before,
.txt-parenthesis::after {
position: absolute;
top: 0;
bottom: 0;
display: block;
margin: auto 0;
content: "";
}

.txt-parenthesis::before {
left: 0;
width: 4px;
height: 14px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -393px -58px;
background-size: 400px 342px;
}

.txt-parenthesis::after {
right: 0;
width: 4px;
height: 14px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -393px -30px;
background-size: 400px 342px;
}

.txt-notice {
font-size: 12px;
font-size: 1.2rem;
font-weight: normal;
position: relative;
text-align: center;
}

* + .txt-notice {
margin-top: 10px;
}

.txt-notice + * {
margin-top: 10px;
}

.txt-notice strong {
font-weight: normal !important;
}

.txt-notice > * {
position: relative;
display: inline-block;
padding-left: 25px;
}

.txt-notice > *::before {
position: absolute;
top: 0;
bottom: 0;
left: 0;
display: block;
width: 18px;
height: 18px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -108px -314px;
background-size: 400px 342px;
}

/* =================================================
    heading
   ================================================= */

.hdg-lv2 {
position: relative;
}

* + .hdg-lv2 {
margin-top: 20px;
}

.hdg-lv2 + * {
margin-top: 5px;
}

.hdg-lv2 .title {
font-size: 22px;
font-size: 2.2rem;
font-weight: normal;
line-height: 1.18182;
padding: 8px 7px 5px;
}

.hdg-lv2 > a {
display: table;
}

.hdg-lv2 > a > * {
display: table-cell;
}

.hdg-lv2::before {
top: 0;
left: 0;
display: block;
width: 100%;
height: 5px;
content: "";
background-color: #e2e2e2;
}

.hdg-lv3 {
position: relative;
}

.hdg-lv3 + .link-list {
margin-right: 10px;
margin-left: 10px;
}

* + .hdg-lv3 {
margin-top: 20px;
}

.hdg-lv3 + * {
margin-top: 10px;
}

.hdg-lv3 .title {
font-size: 16px;
font-size: 1.6rem;
line-height: 1.5;
padding: 5px 10px 3px 43px;
}

.hdg-lv3 .link {
font-size: 12px;
font-size: 1.2rem;
line-height: 2;
padding-right: 10px;
color: #314da5;
}

.hdg-lv3::before,
.hdg-lv3::after {
position: absolute;
display: block;
content: "";
}

.hdg-lv3.note::after {
top: 4px;
left: 10px;
width: 20px;
height: 20px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -248px -284px;
background-size: 400px 342px;
}

.hdg-lv3.glass::after {
top: 6px;
left: 11px;
width: 21px;
height: 20px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -379px -115px;
background-size: 400px 342px;
}

.hdg-lv3.house::after {
top: 5px;
left: 10px;
width: 26px;
height: 20px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -191px -284px;
background-size: 400px 342px;
}

.hdg-lv3.cart::after {
top: 6px;
left: 10px;
width: 21px;
height: 20px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -222px -284px;
background-size: 400px 342px;
}

.hdg-lv3.tool::after {
top: 5px;
left: 12px;
width: 21px;
height: 20px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -379px -144px;
background-size: 400px 342px;
}

.hdg-lv3.company::after {
top: 5px;
left: 13px;
width: 17px;
height: 21px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -64px -314px;
background-size: 400px 342px;
}

.hdg-lv3::before {
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background-color: #e2e2e2;
}

.hdg-lv3 > a {
display: table;
color: #223;
}

.hdg-lv3 > a:hover {
text-decoration: none;
}

.hdg-lv3 > a:hover .link {
text-decoration: underline;
color: #0074bd;
}

.hdg-lv3 > a > * {
display: table-cell;
box-sizing: border-box;
}

.hdg-lv3 > a > .title {
width: 100%;
}

.hdg-lv3 > a > .link {
white-space: nowrap;
}

.hdg-lv3 + .link-list > li > a {
display: block;
}

/* =================================================
    List
   ================================================= */

.list-index > * {
float: left;
box-sizing: border-box;
width: 32.18391%;
margin-left: 10px;
}

.list-index > *:nth-of-type(3n+1) {
margin-left: 0;
}

* + .list-index {
margin-top: 5px;
}

.list-index + * {
margin-top: 15px;
}

.list-index > li {
border: 1px solid #e2e2e2;
background-color: #fff;
}

.list-index > li:first-child + * {
margin-top: 0;
}

.list-index > li:first-child + * + * {
margin-top: 0;
}

.list-index > li + li {
margin-top: 10px;
}

.list-index > li > a {
display: block;
text-decoration: none;
}

.list-index > li > a:hover .image {
opacity: .7;
}

.list-index > li > a:hover .text {
text-decoration: underline;
}

.list-index > li > a .text {
font-size: 12px;
font-size: 1.2rem;
line-height: 1.5;
padding: 6px 7px;
}

.list-index > li > a > * {
display: block;
}

.list-index > li > a > * + * {
border-top: 1px solid #e2e2e2;
}

.list-index-2 {
border-top: 1px solid #e2e2e2;
border-left: 1px solid #e2e2e2;
}

.list-index-2 > * {
float: left;
box-sizing: border-box;
width: 50%;
}

.list-index-2 > li {
border-right: 1px solid #e2e2e2;
border-bottom: 1px solid #e2e2e2;
}

.list-index-2 > li > a {
display: block;
padding: 12px 12px 10px;
}

.list-index-2 > li > a:hover .image {
opacity: .7;
}

.list-index-2 > li > a:hover .text {
text-decoration: underline;
}

.list-index-2 > li > a > * {
display: block;
vertical-align: top;
}

.list-index-2 > li > a .text {
font-size: 12px;
font-size: 1.2rem;
line-height: 1.5;
float: left;
width: 176px;
}

.list-index-2 > li > a .text > em {
font-size: 14px;
font-size: 1.4rem;
display: block;
}

.list-index-2 > li > a .image {
float: right;
overflow: hidden;
width: 78px;
height: 56px;
text-align: center;
border: 1px solid #e2e2e2;
}

.list-index-2 > li > a .image > img {
max-width: 78px;
}

* + .list-anounce {
margin-top: 10px;
}

.list-anounce + * {
margin-top: 10px;
}

.list-anounce > li {
background-color: #fff;
}

.list-anounce > li > a {
display: block;
}

.list-anounce > li > a:hover {
text-decoration: none;
}

.list-anounce > li > a:hover .text {
text-decoration: underline;
}

.list-anounce > li .date {
line-height: 1.16667;
display: block;
padding: 6px 10px 0;
color: #223;
}

.list-anounce > li .text {
display: table;
padding: 4px 8px;
table-layout: fixed;
}

.list-anounce > li .text > * {
display: table-cell;
}

.list-anounce > li .text > * + * {
padding-left: 5px;
}

.list-anounce > li + li {
margin-top: 13px;
}

.list-words {
font-size: 12px;
font-size: 1.2rem;
}

* + .list-words {
margin-top: 5px;
}

.list-words + * {
margin-top: 10px;
}

.list-words > * {
float: left;
}

.list-words > * + * {
margin-left: 18px;
}

.list-words > dd {
position: relative;
padding-left: 10px;
}

.list-words > dd::before {
position: absolute;
top: 5px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 4px 6px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.list-status {
font-size: 12px;
font-size: 1.2rem;
line-height: 1.16667;
}

.list-status > li {
position: relative;
display: inline-block;
box-sizing: border-box;
max-width: 49%;
text-align: left;
vertical-align: top;
white-space: nowrap;
}

.list-status > li > a {
padding-bottom: 1px;
text-decoration: none;
}

.list-status > li > a span {
display: inline-block;
}

.list-status > li > a .over::before {
position: absolute;
top: 0;
bottom: 0;
left: -2px;
display: block;
width: 8px;
height: 7px;
margin-top: auto;
margin-bottom: auto;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -375px -202px;
background-size: 400px 342px;
}

.list-status > li > a:hover {
padding-bottom: 0;
}

.list-status > li > a:hover::after {
bottom: 3px;
display: block;
width: 100%;
height: 1px;
content: "";
background-color: #0074bd;
}

.list-status > li > a:hover .over::before {
background-position: -362px -202px;
}

.list-status > li + li > * {
padding-left: 33px;
}

.list-status > li + li > *::before {
left: 10px;
}

.list-status > li + li.error > *,
.list-status > li.error + li > *,
.list-status > li.error + .error > * {
padding-left: 23px;
}

.list-status > li + li.error > *::before,
.list-status > li.error + li > *::before,
.list-status > li.error + .error > *::before {
left: 3px;
}

.list-status > li .count {
font-weight: bold;
}

.list-status > li .over {
position: relative;
top: -1px;
}

.list-status > li .over > img {
margin-right: -2px;
margin-left: -2px;
}

.list-status > li em {
font-weight: bold;
}

.list-status > li img {
vertical-align: middle;
}

.list-status > li > * {
display: block;
padding-left: 23px;
}

.list-status > li > *::before {
position: absolute;
top: 0;
left: 0;
display: block;
content: "";
}

.list-status > li.mail > *::before {
width: 18px;
height: 13px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -301px -202px;
background-size: 400px 342px;
}

.list-status > li.point > *::before {
top: -3px;
width: 18px;
height: 18px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -131px -314px;
background-size: 400px 342px;
}

.list-status > li.error {
font-size: 11px;
font-size: 1.1rem;
white-space: normal;
letter-spacing: -1px;
}

.list-game > * {
float: left;
box-sizing: border-box;
width: 50%;
}

.list-game > li {
position: relative;
margin-top: 5px;
padding-left: 20px;
}

.list-game > li.full {
width: 100%;
}

.list-game > li.sugoroku::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 16px;
height: 16px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -299px -284px;
background-size: 400px 342px;
}

.list-game > li.mallet::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 16px;
height: 16px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -320px -284px;
background-size: 400px 342px;
}

.list-game > li.point::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 14px;
height: 18px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -223px -162px;
background-size: 400px 342px;
}

.list-game > li.key::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 14px;
height: 13px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -380px -284px;
background-size: 400px 342px;
}

.list-game > li.present::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 13px;
height: 15px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -154px -314px;
background-size: 400px 342px;
}

.list-game > li.vote::before {
position: absolute;
top: 4px;
left: 0;
display: block;
width: 15px;
height: 15px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -341px -284px;
background-size: 400px 342px;
}

/* =================================================
    Link
   ================================================= */

.linkIcon {
margin: 0 10px;
vertical-align: middle;
}

.link-poricy > li {
float: left;
}

.link-poricy > li + li {
padding-left: 10px;
}

.link-poricy > li > a {
display: inline-block;
}

.link-default + .link-default {
margin-top: 2px;
}

.link-default > a {
line-height: 1.42857;
position: relative;
padding-left: 10px;
}

.link-default > a::before {
position: absolute;
top: 5px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 4px 6px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.link-default.align-r {
text-align: right;
}

.link-default.align-r > a {
display: inline-block;
}

.link-list > li {
line-height: 1.42857;
position: relative;
padding-left: 10px;
}

.link-list > li + li {
margin-top: 7px;
}

.link-list > li::before {
position: absolute;
top: 6px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 3px 5px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.link-list.col3 > li:first-child + * {
margin-top: 0;
}

.link-list.col3 > li:first-child + * + * {
margin-top: 0;
}

.link-list.col3 > * {
float: left;
box-sizing: border-box;
width: 33.33333%;
}

.link-list.col2 > li:first-child + * {
margin-top: 0;
}

.link-list.col2 > li:first-child + * + * {
margin-top: 0;
}

.link-list.col2 > * {
float: left;
box-sizing: border-box;
width: 50%;
}

.link-list.align-r {
text-align: right;
}

.link-list.align-r > li {
padding-left: 0;
}

.link-list.align-r > li::before {
position: static;
display: inline-block;
}

.link-banner > li {
margin-top: 20px;
}

.link-banner > li:first-child {
margin-top: 0;
}

.link-banner > li > a {
display: inline-block;
}

.link-banner > li > a:hover,
.link-banner > li > a:active {
opacity: .8;
}

.link-banner.col2 > * {
float: left;
box-sizing: border-box;
width: 46.9697%;
margin-left: 20px;
}

.link-banner.col2 > *:nth-of-type(2n+1) {
margin-left: 0;
}

.link-banner.col2 > *:first-child + * {
margin-top: 0;
}

.link-banner.col2 > * img {
max-width: 100%;
height: auto;
}

.link-banner.pr {
position: relative;
padding-top: 25px;
border-top: 1px solid #757475;
}

.link-banner.pr::before {
position: absolute;
top: 0;
right: 0;
display: block;
width: 22px;
height: 16px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -243px -202px;
background-size: 400px 342px;
}

.link-list-2 > li {
font-size: 12px;
font-size: 1.2rem;
position: relative;
float: left;
padding-bottom: 3px;
}

.link-list-2 > li + li::before {
position: absolute;
top: 5px;
left: -1px;
display: block;
width: .1em;
height: 1em;
margin: auto 0;
content: "";
background-color: #e2e2e2;
}

.link-list-2 > li.current a {
position: relative;
color: #223;
}

.link-list-2 > li.current a::before {
position: absolute;
right: 0;
bottom: -5px;
left: 0;
display: block;
width: 0;
height: 0;
margin: 0 auto;
content: "";
border-style: solid;
border-color: #0a68c2 transparent transparent transparent;
}

.link-list-2 > li > a {
padding: 0 8px;
}

.link-sns > * {
float: left;
box-sizing: border-box;
width: 31.83908%;
margin-left: 13px;
}

.link-sns > *:nth-of-type(3n+1) {
margin-left: 0;
}

.link-sns > li {
position: relative;
}

.link-sns > li::before {
position: absolute;
top: 8px;
left: 10px;
display: block;
content: "";
}

.link-sns > li.facebook::before {
width: 28px;
height: 28px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: 0 -314px;
background-size: 400px 342px;
}

.link-sns > li.twitter::before {
width: 28px;
height: 23px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -360px -223px;
background-size: 400px 342px;
}

.link-sns > li.youtube::before {
width: 32px;
height: 22px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -186px -162px;
background-size: 400px 342px;
}

.link-sns > li > a {
font-size: 12px;
font-size: 1.2rem;
line-height: 1.91667;
display: block;
padding: 10px 0 10px 51px;
}

.link-wiget {
display: table;
box-sizing: border-box;
width: 100%;
table-layout: auto;
}

.link-wiget > li {
font-size: 11px;
font-size: 1.1rem;
display: table-cell;
height: 32px;
text-align: center;
vertical-align: middle;
}

.link-wiget > li > a {
display: table;
width: 100%;
height: 100%;
table-layout: auto;
}

.link-wiget > li > a > span {
line-height: 1;
display: table-cell;
box-sizing: border-box;
padding: 4px 6px;
vertical-align: middle;
color: #223 !important;
}

.link-wiget > li > a:hover {
text-decoration: none;
opacity: .7;
}

.link-wiget > li + li {
border-left: 1px solid #e2e2e2;
}

.link-wiget > li.weather > *,
.link-wiget > li.fortune > * {
direction: rtl;
}

.link-wiget > li.weather > * > *,
.link-wiget > li.fortune > * > * {
padding-right: 3px;
padding-left: 3px;

direction: ltr;
}

.link-wiget > li.weather > * .image,
.link-wiget > li.fortune > * .image {
position: relative;
white-space: nowrap;
}

.link-wiget > li.weather > * .image .alarm,
.link-wiget > li.fortune > * .image .alarm {
position: absolute;
top: 4px;
right: -4px;
}

.link-wiget > li.weather > * .image .imgWeather,
.link-wiget > li.fortune > * .image .imgWeather {
width: auto;
height: 14px;
}

.link-wiget > li.weather > * .detail,
.link-wiget > li.fortune > * .detail {
white-space: nowrap;
}

.link-wiget > li.weather > * .detail + .image,
.link-wiget > li.fortune > * .detail + .image {
padding-right: 0;
}

.link-wiget > li.weather > * .detail > .area,
.link-wiget > li.fortune > * .detail > .area {
display: block;
margin-bottom: 1px;
}

.link-wiget > li.weather > * .detail > .temperatureRow,
.link-wiget > li.fortune > * .detail > .temperatureRow {
font-weight: bold;
color: #0a68c2;
}

.link-wiget > li.weather > * .detail > .points,
.link-wiget > li.fortune > * .detail > .points {
font-weight: bold;
}

.link-wiget > li.weather > * .detail > .constellation,
.link-wiget > li.fortune > * .detail > .constellation {
display: block;
margin-bottom: 1px;
}

.link-wiget > li.weather > * .detail > .temperatureHigh,
.link-wiget > li.fortune > * .detail > .temperatureHigh {
font-weight: bold;
color: #c00;
}

.link-wiget > li.weather > * .detail > .temperatureHigh + .temperatureRow,
.link-wiget > li.fortune > * .detail > .temperatureHigh + .temperatureRow {
position: relative;
padding-left: 3px;
}

.link-wiget > li.weather > * .detail > .temperatureHigh + .temperatureRow::before,
.link-wiget > li.fortune > * .detail > .temperatureHigh + .temperatureRow::before {
position: absolute;
top: 0;
bottom: 0;
left: -1px;
display: block;
width: 3px;
height: 5px;
margin-top: auto;
margin-bottom: auto;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -117px -96px;
background-size: 200px 171px;
}

.link-top {
text-align: right;
}

.link-top > a {
font-size: 11px;
font-size: 1.1rem;
line-height: 1;
position: relative;
display: inline-block;
width: 64px;
height: 64px;
}

.link-top > a::before {
position: absolute;
top: 0;
left: 0;
display: block;
width: 64px;
height: 64px;
content: "";
content: "";
background: #707070 url(/portal/2016123faaef57/img/icon-linkTop.jpg);
}

.link-more > a {
font-size: 12px;
font-size: 1.2rem;
display: inline-block;
padding: 2px 9px 1px;
text-decoration: none;
color: #223;
border: 1px solid #e2e2e2;
border-radius: 3px;
background-color: #fff;
}

.link-more > a:hover {
color: #fff;
background-color: #0a68c2;
}

/* =================================================
    box
   ================================================= */

.box-default {
border: 1px solid #e2e2e2;
}

* + .box-default {
margin-top: 20px;
}

.box-default + * {
margin-top: 20px;
}

.box-default .link-list > li > a {
display: block;
}

.box-default .title {
position: relative;
background-color: #f5f5f5;
}

.box-default .title::before {
position: absolute;
top: 11px;
left: 16px;
display: block;
content: "";
}

.box-default .title.web::before {
width: 21px;
height: 21px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -379px -86px;
background-size: 400px 342px;
}

.box-default .title.smartphone::before {
width: 22px;
height: 22px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -375px -173px;
background-size: 400px 342px;
}

.box-default .title.support::before {
top: 14px;
width: 21px;
height: 17px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -273px -284px;
background-size: 400px 342px;
}

.box-default .title.company::before {
width: 17px;
height: 21px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -86px -314px;
background-size: 400px 342px;
}

.box-default .title a {
display: table;
color: #223;
}

.box-default .title a > * {
display: table-cell;
}

.box-default .title a .text {
font-size: 18px;
font-size: 1.8rem;
font-weight: normal;
width: 100%;
padding: 7px 14px 3px 43px;
}

.box-default .title a .link {
position: relative;
top: 1px;
padding-right: 9px;
vertical-align: middle;
white-space: nowrap;
}

.box-default .title a .link > span {
font-size: 12px;
font-size: 1.2rem;
display: inline-block;
padding: 2px 9px 1px;
border: 1px solid #e2e2e2;
border-radius: 3px;
background-color: #fff;
}

.box-default .title a:hover {
text-decoration: none;
background-color: #f0f8ff;
}

.box-default .title a:hover .link > span {
color: #fff;
background-color: #0a68c2;
}

.box-default .contents {
padding: 10px 15px;
}

.box-default > * + * {
border-top: 1px solid #e2e2e2;
}

.box-default-2 {
position: relative;
padding: 20px 17px 17px;
background-color: #f5f5f5;
}

.box-default-2 .link-more {
position: absolute;
top: 16px;
right: 11px;
}

.box-default-2 .link-list > li > a {
display: block;
}

* + .box-default-2 {
margin-top: 20px;
}

.box-default-2 + * {
margin-top: 20px;
}

.box-default-2 .title {
font-size: 18px;
font-size: 1.8rem;
font-weight: normal;
line-height: 1.0625;
margin-bottom: 15px;
text-align: center;
}

.box-default-2 .title > span {
position: relative;
padding-left: 20px;
}

.box-default-2 .title > span::before {
position: absolute;
top: 4px;
left: -6px;
display: block;
width: 18px;
height: 18px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -108px -314px;
background-size: 400px 342px;
}

.box-important {
display: table;
box-sizing: border-box;
width: 100%;
max-width: 950px;
margin-right: auto;
margin-bottom: 15px;
margin-left: auto;
border: 1px solid #e2e2e2;
}

.box-important > * {
display: table-cell;
box-sizing: border-box;
}

.box-important .txt-parenthesis {
margin: 0 10px;
}

.box-important.emargency > .title {
color: #fff;
background-color: #f00;
}

.box-important > .title {
padding: 10px 13px;
white-space: nowrap;
background-color: #f5f5f5;
}

.box-important > a.contents:hover .txt-parenthesis {
text-decoration: underline;
}

.box-important > a.contents:hover .link {
text-decoration: underline;
}

.box-important > .contents {
position: relative;
width: 100%;
padding: 11px 12px 10px;
}

.box-important > .contents > .text {
padding-right: 66px;
}

.box-important > .contents .icon.emphasis {
margin-right: 10px;
}

.box-important > .contents > .link {
position: absolute;
top: 0;
right: 1px;
padding: 11px 25px 11px 5px;
padding-left: 10px;
color: #314da5;
}

.box-important > .contents > .link::before {
position: absolute;
top: 18px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 4px 6px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.box-ad {
text-align: center;
}

* + .box-ad {
margin-top: 20px;
}

.box-ad + * {
margin-top: 20px;
}

.box-ad > .primary {
float: left;
width: 300px;
}

.box-ad > .secondary {
float: right;
width: 270px;
}

.box-ad div {
margin-right: auto;
margin-left: auto;
}

.box-login {
font-size: 12px;
font-size: 1.2rem;
box-sizing: border-box;
width: 214px;
border: 2px solid #e2e2e2;
border-radius: 3px;
background-color: #fff;
}

* + .box-login {
margin-top: 20px;
}

.box-login + * {
margin-top: 20px;
}

.box-login .username {
display: inline-block;
}

.box-login > .name {
display: table;
box-sizing: border-box;
width: 100%;
padding: 6px 7px 5px;
background-color: #f5f5f5;
}

.box-login > .name > * {
display: table-cell;
box-sizing: border-box;
vertical-align: middle;
}

.box-login > .name > *:first-child {
width: 100%;
}

.box-login > .name > .btn {
white-space: nowrap;
}

.box-login > .name > .btn > [class*="btn"] {
position: relative;
top: -2px;
}

.box-login > .contents {
padding: 13px 7px 11px;
text-align: center;
vertical-align: middle;
}

.box-news {
margin: 10px 0 9px;
background-position: right bottom;
}

.box-news .tab {
z-index: 100;
overflow: hidden;
}

.box-news .tab li {
line-height: 1.2em;
float: left;
padding-right: 7px;
}

.box-news .tab li a {
display: block;
width: 73px;
padding: 8px 0;
text-align: center;
border: 1px solid #e2e2e2;
border-bottom: none;
background: #f5f5f5;
}

.box-news .tab li.active a {
background: #fff;
}

.box-news .newsArea {
margin-top: -1px;
padding: 15px;
border: 1px solid #e2e2e2;
background: #fff;
}

.box-news .newsArea .date {
font-size: .9em;
line-height: 1;
z-index: 1;
padding: 0;
text-align: right;
}

.box-news .newsArea .date a {
float: left;
}

.box-news .newsArea .date .update {
font-size: .9em;
}

.box-news .newsArea .feed {
overflow: hidden;
padding: 0;
}

.box-news .newsArea .feed .topics {
float: right;
width: 226px;
}

.box-news .newsArea .feed .topics .btn-utility {
font-size: 12px;
font-size: 1.2rem;
position: relative;
padding: 6px 15px 4px 6px;
text-decoration: none;
color: #223 !important;
border-radius: 15px;
background: #efefef;
}

.box-news .newsArea .feed .topics .btn-utility::before {
position: absolute;
top: 50%;
right: 4px;
display: block;
width: 7px;
height: 12px;
margin-top: -6px;
content: "";
background: url(/portal/2016123faaef57/img/icon-arrow.png) center center no-repeat;
}

.box-news .newsArea .feed .topics .btn-utility:hover {
text-decoration: underline;
background: #f4f4f4;
}

.box-news .newsArea .feed .topics .inner {
float: right;
width: 224px;
margin: 7px 0 0;
text-align: center;
border: 1px solid #e2e2e2;
background: #fafafa;
}

.box-news .newsArea .feed .topics .inner a {
display: block;
padding: 15px 15px 10px 15px;
}

.box-news .newsArea .feed .topics .inner a:hover {
background-color: #f4f8f3;
}

.box-news .newsArea .feed .topics .inner a:hover img {
opacity: .7;
}

.box-news .newsArea .feed .topics .inner img {
max-height: 115px;
}

.box-news .newsArea .feed .topics .inner span {
font-size: .86em;
line-height: 1.4em;
display: block;
padding-top: 10px;
text-align: left;
}

.box-news .newsArea .feed ul {
float: left;
width: 302px;
}

.box-news .newsArea .feed .link-list > li > a {
display: block;
}

.box-news .newsArea .feed .link-list > li + li {
margin-top: 10px;
}

.box-news .newsArea .feed .icon {
position: relative;
overflow: hidden;
width: 14px;
height: 14px;
margin-left: 5px;
padding: 0;
text-indent: 100%;
}

.box-news .newsArea .feed .photo {
width: 14px;
height: 14px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -361px -284px;
background-size: 400px 342px;
}

.box-news .newsArea .feed .movie {
width: 14px;
height: 13px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -172px -314px;
background-size: 400px 342px;
}

.box-news .newsArea .feed .new {
width: 26px;
height: 13px;
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -270px -202px;
background-size: 400px 342px;
}

.box-news .newly-sonet {
padding-top: 10px;
}

.box-news .newly-sonet ul {
overflow: hidden;
width: 568px;
}

.box-news .newly-sonet li {
float: left;
width: 265px;
border: 1px solid #e2e2e2;
background: #fff;
}

.box-news .newly-sonet li.momo {
margin-left: 14px;
}

.box-news .newly-sonet li a {
display: block;
overflow: hidden;
padding-left: 10px;
}

.box-news .newly-sonet li a:hover {
background: #f0f8ff;
}

.box-news .newly-sonet li a:hover span {
color: #c00;
}

.box-news .newly-sonet li img {
float: right;
margin-left: 10px;
border-left: 1px solid #e2e2e2;
}

.box-news .newly-sonet li .title {
font-weight: normal;
display: block;
padding-top: 3px;
color: #000;
}

.box-news .newly-sonet li .text {
font-size: .86em;
line-height: 1.5em;
display: block;
}

.yads_ad_title,
.yads_ad_adv,
.yads_ad_info {
display: none !important;
}

.yads_ad > * {
line-height: 1.42857;
position: relative;
display: list-item;
margin-top: 10px;
padding-left: 10px;
list-style-type: none;
}

.yads_ad > *::before {
position: absolute;
top: 6px;
left: 0;
display: block;
width: 0;
height: 0;
content: "";
border-width: 3px 5px;
border-style: solid;
border-color: transparent transparent transparent #555;
}

.yads_ad_desc a {
position: relative;
display: block;
}

.yads_ad_desc a::after {
display: inline-block;
width: 18px;
height: 11px;
margin-left: 7px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -324px -202px;
background-size: 400px 342px;
}

.box-search {
position: relative;
width: 460px;
margin-right: auto;
margin-left: auto;
}

* + .box-search {
margin-top: 20px;
}

.box-search + * {
margin-top: 20px;
}

.box-search input::-ms-clear {
display: none;
}

.box-search .keyword-area {
position: absolute;
z-index: 999;
top: 35px;
left: 0;
display: none;
width: 375px;
height: auto;
border: 1px solid #a5a5a5;
border-top: none;
background: #fff;
}

.box-search .keyword-area #noApiResult {
display: block;
padding: 5px 10px;
}

.box-search .keyword-area #noApiResult:hover {
background: none;
}

.box-search .keyword-area ul li {
border-bottom: 1px solid #e2e2e2;
}

.box-search .keyword-area ul li.on {
background: #f0f8ff;
}

.box-search .keyword-area ul li:hover {
background: #f0f8ff;
}

.box-search .keyword-area ul li a {
display: block;
padding: 5px 10px;
}

.box-search .keyword-area .keyword-swich {
overflow: hidden;
padding-left: 10px;
text-align: right;
background: #f5f5f5;
}

.box-search .keyword-area .keyword-swich strong {
font-size: .86em;
display: inline-block;
float: left;
margin-left: 135px;
padding-top: 7px;
}

.box-search .keyword-area .keyword-swich ul {
float: right;
width: 105px;
margin: 3px 5px 3px 10px;
border-left: 1px solid #e2e2e2;
}

.box-search .keyword-area .keyword-swich ul li {
font-weight: bold;
float: left;
width: 50px;
cursor: pointer;
text-align: center;
color: #314da5;
border-right: 1px solid #e2e2e2;
}

.box-search .keyword-area .keyword-swich ul li:hover {
background: #f5f5f5;
}

.box-search .keyword-area .keyword-swich ul li.active {
cursor: default;
color: #000;
background: #d7d7d7;
}

.box-search .default-word {
position: absolute;
top: 12px;
left: 12px;
display: block;
width: 355px;
height: 16px;
cursor: text;
text-indent: -9999px;
background-position: 0 -241px;
}

.box-search .default-word.cursor-on {
background: none;
}

.box-mypanel {
position: relative;
z-index: 2;
box-sizing: border-box;
width: 100%;
padding: 20px 40px;
text-align: right;
border: 1px solid #e2e2e2;
background: -webkit-linear-gradient(top, #eee 0%, #fbfbfb 100%);
background:         linear-gradient(to bottom, #eee 0%, #fbfbfb 100%);
background-color: #eee;
}

.box-mypanel img {
width: 24px;
}

.box-mypanel dt {
float: left;
clear: both;
}

.box-mypanel dd {
margin-bottom: 10px;
padding-left: 180px;
}

.box-mypanel dd select {
width: 100%;
}

.box-mypanel * + .btn-wrapper {
margin-top: 5px;
}

.box-mypanel .btn-closed {
font-size: 10px;
line-height: 1;
position: absolute;
top: 0;
right: 0;
width: 26px;
height: 26px;
padding: 0;
border: 0;
}

.box-mypanel .btn-closed::before {
position: absolute;
top: 0;
left: 0;
display: block;
width: 26px;
height: 26px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -33px -314px;
background-size: 400px 342px;
}

.box-mypanel .btn-default {
cursor: pointer;

-webkit-appearance: appearance;
}

/* =================================================
    button
   ================================================= */

.btn-default,
.btn-search,
.btn-utility,
.btn-conversion {
line-height: 1.2;
display: inline-block;
box-sizing: border-box;
text-align: center;

-webkit-appearance: none;
}

.btn-default:hover,
.btn-search:hover,
.btn-utility:hover,
.btn-conversion:hover {
text-decoration: none;
}

* + .btn-wrapper {
margin-top: 20px;
}

.btn-wrapper + * {
margin-top: 30px;
}

.btn-wrapper.align-r {
text-align: right;
}

.btn-wrapper.align-l {
text-align: left;
}

.btn-wrapper.align-c {
text-align: center;
}

.btn-default {
font-size: 14px;
font-size: 1.4rem;
position: relative;
text-align: center;
color: #223;
border: 1px solid #ccc;
border-radius: 20px;
background: #eee;
}

.btn-default:before {
position: absolute;
top: 50%;
right: 21px;
display: block;
width: 7px;
height: 12px;
margin-top: -6px;
content: "";
background: url(/portal/2016123faaef57/img/icon-arrow.png) center center no-repeat;
}

.btn-default:hover {
text-decoration: underline;
color: #223;
background: #f4f4f4;
}

.btn-default:visited,
.btn-default:hover,
.btn-default:active {
color: #223;
}

.btn-default.fixed {
min-width: 310px;
}

.btn-default.full {
width: 100%;
}

.btn-default.size1 {
width: 150px;
}

.btn-default.size2 {
width: 230px;
}

.btn-default.size3 {
width: 310px;
}

.btn-default.size4 {
width: 390px;
}

.btn-default.size5 {
width: 470px;
}

.btn-default.small {
font-size: 13px;
font-size: 1.3rem;
line-height: 30px;
height: 30px;
border-radius: 15px;
}

.btn-default.normal {
font-size: 14px;
font-size: 1.4rem;
line-height: 38px;
height: 38px;
border-radius: 20px;
}

.btn-default.big {
font-size: 18px;
font-size: 1.8rem;
line-height: 54px;
height: 54px;
border-radius: 25px;
}

.btn-search {
padding: 8px 16px;
vertical-align: top;
border-radius: 0;
background: -webkit-linear-gradient(top, #0a68c2 0%, #0856a0 100%);
background:         linear-gradient(to bottom, #0a68c2 0%, #0856a0 100%);
background-color: #0a68c2;
}

.btn-search:active,
.btn-search:hover {
background: -webkit-linear-gradient(top, #0856a0 0%, #0a68c2 100%);
background:         linear-gradient(to bottom, #0856a0 0%, #0a68c2 100%);
background-color: #0856a0;
}

.btn-utility {
font-size: 12px;
font-size: 1.2rem;
line-height: 1.11111;
padding: 4px 5px 3px;
color: #314da5 !important;
border: 1px solid #e2e2e2;
border-radius: 3px;
background: -webkit-linear-gradient(top, #fff 0%, #efefef 100%);
background:         linear-gradient(to bottom, #fff 0%, #efefef 100%);
background-color: #efefef;
}

.btn-utility:hover {
background: -webkit-linear-gradient(top, #efefef 0%, #fff 100%);
background:         linear-gradient(to bottom, #efefef 0%, #fff 100%);
background-color: #efefef;
}

.btn-utility.small {
font-size: 10px;
font-size: 1rem;
}

.btn-conversion {
font-size: 12px;
font-size: 1.2rem;
padding: 7px 9px 6px;
color: #223 !important;
background-color: #fcdb00;
box-shadow: 0 2px 4px rgba(199, 199, 199, .6);
}

.btn-conversion:hover {
text-decoration: underline;
background-color: #fee63c;
}

/* =================================================
    input
   ================================================= */

.input-search {
position: relative;
min-height: 30px;
padding-right: 82px;
border: 2px solid #0856a0;
background-color: #f0f8ff;
}

.input-search .word-clear-area {
position: absolute;
top: 2px;
right: 92px;
bottom: 0;
width: 10px;
height: 10px;
margin: auto 0;
padding: 0;
}

.input-search .word-clear-area .word-clear {
display: block;
width: 10px;
height: 10px;
cursor: pointer;
white-space: nowrap;
text-indent: -9999px;
}

.input-search .word-clear-area .word-clear::before {
position: absolute;
top: 0;
left: 0;
display: block;
width: 10px;
height: 10px;
content: "";
background-image: url("/portal/2016123faaef57/img/img-iconSprite.png?20161214");
background-position: -347px -202px;
background-size: 400px 342px;
}

.input-search .btn-search {
position: absolute;
top: 0;
right: 0;
}

.input-search .search-form {
width: 340px;
padding: 4px 30px 3px 10px;
vertical-align: top;
border: none;
background-color: transparent;
}

.input-search .search-form:focus {
outline: 0;
}

/* =================================================
    component
   ================================================= */

.cmp-information > * {
float: left;
}

.cmp-information > * + * {
padding-left: 13px;
}

.cmp-information .network a {
display: block;
}

.cmp-information .network a > img {
width: 83px;
height: auto;
}

.cmp-wiget {
position: relative;
}

.cmp-wiget .box-mypanel.js-toggle {
display: none;
}

.cmp-wiget > .btn-wrapper {
position: absolute;
top: 5px;
right: 0;
display: none;
margin-top: 0;
}

.cmp-wiget > .btn-wrapper + * {
margin-top: 0;
}

.cmp-wiget > .btn-wrapper .btn-utility {
font-size: 11px;
font-size: 1.1rem;
}

.jsEnabled .cmp-wiget .box-mypanel.js-toggle {
position: absolute;
z-index: 1;
top: 0;
left: 0;
}

.jsEnabled .cmp-wiget .link-wiget {
padding-right: 35px;
}

.jsEnabled .cmp-wiget .btn-wrapper {
display: block;
}

/* =================================================
    JavaScript modules
   ================================================= */

.jsEnabled .tglContent {
display: none;
}

.jsEnabled .tglContent[area-hidden="false"] {
display: block;
}

.jsEnabled .tglContent[area-hidden="true"] {
display: none;
}

/* =================================================
    adjust
   ================================================= */

.mt0 {
margin-top: 0 !important;
}

.mr0 {
margin-right: 0 !important;
}

.mb0 {
margin-bottom: 0 !important;
}

.ml0 {
margin-left: 0 !important;
}

.mv0 {
margin-top: 0 !important;
margin-bottom: 0 !important;
}

.mh0 {
margin-right: 0 !important;
margin-left: 0 !important;
}

.ma0 {
margin: 0 !important;
}

.pt0 {
padding-top: 0 !important;
}

.pr0 {
padding-right: 0 !important;
}

.pb0 {
padding-bottom: 0 !important;
}

.pl0 {
padding-left: 0 !important;
}

.pv0 {
padding-top: 0 !important;
padding-bottom: 0 !important;
}

.ph0 {
padding-right: 0 !important;
padding-left: 0 !important;
}

.pa0 {
padding: 0 !important;
}

.mt5 {
margin-top: 5px !important;
}

.mr5 {
margin-right: 5px !important;
}

.mb5 {
margin-bottom: 5px !important;
}

.ml5 {
margin-left: 5px !important;
}

.mv5 {
margin-top: 5px !important;
margin-bottom: 5px !important;
}

.mh5 {
margin-right: 5px !important;
margin-left: 5px !important;
}

.ma5 {
margin: 5px !important;
}

.pt5 {
padding-top: 5px !important;
}

.pr5 {
padding-right: 5px !important;
}

.pb5 {
padding-bottom: 5px !important;
}

.pl5 {
padding-left: 5px !important;
}

.pv5 {
padding-top: 5px !important;
padding-bottom: 5px !important;
}

.ph5 {
padding-right: 5px !important;
padding-left: 5px !important;
}

.pa5 {
padding: 5px !important;
}

.mt10 {
margin-top: 10px !important;
}

.mr10 {
margin-right: 10px !important;
}

.mb10 {
margin-bottom: 10px !important;
}

.ml10 {
margin-left: 10px !important;
}

.mv10 {
margin-top: 10px !important;
margin-bottom: 10px !important;
}

.mh10 {
margin-right: 10px !important;
margin-left: 10px !important;
}

.ma10 {
margin: 10px !important;
}

.pt10 {
padding-top: 10px !important;
}

.pr10 {
padding-right: 10px !important;
}

.pb10 {
padding-bottom: 10px !important;
}

.pl10 {
padding-left: 10px !important;
}

.pv10 {
padding-top: 10px !important;
padding-bottom: 10px !important;
}

.ph10 {
padding-right: 10px !important;
padding-left: 10px !important;
}

.pa10 {
padding: 10px !important;
}

.mt15 {
margin-top: 15px !important;
}

.mr15 {
margin-right: 15px !important;
}

.mb15 {
margin-bottom: 15px !important;
}

.ml15 {
margin-left: 15px !important;
}

.mv15 {
margin-top: 15px !important;
margin-bottom: 15px !important;
}

.mh15 {
margin-right: 15px !important;
margin-left: 15px !important;
}

.ma15 {
margin: 15px !important;
}

.pt15 {
padding-top: 15px !important;
}

.pr15 {
padding-right: 15px !important;
}

.pb15 {
padding-bottom: 15px !important;
}

.pl15 {
padding-left: 15px !important;
}

.pv15 {
padding-top: 15px !important;
padding-bottom: 15px !important;
}

.ph15 {
padding-right: 15px !important;
padding-left: 15px !important;
}

.pa15 {
padding: 15px !important;
}

.mt20 {
margin-top: 20px !important;
}

.mr20 {
margin-right: 20px !important;
}

.mb20 {
margin-bottom: 20px !important;
}

.ml20 {
margin-left: 20px !important;
}

.mv20 {
margin-top: 20px !important;
margin-bottom: 20px !important;
}

.mh20 {
margin-right: 20px !important;
margin-left: 20px !important;
}

.ma20 {
margin: 20px !important;
}

.pt20 {
padding-top: 20px !important;
}

.pr20 {
padding-right: 20px !important;
}

.pb20 {
padding-bottom: 20px !important;
}

.pl20 {
padding-left: 20px !important;
}

.pv20 {
padding-top: 20px !important;
padding-bottom: 20px !important;
}

.ph20 {
padding-right: 20px !important;
padding-left: 20px !important;
}

.pa20 {
padding: 20px !important;
}

.mt25 {
margin-top: 25px !important;
}

.mr25 {
margin-right: 25px !important;
}

.mb25 {
margin-bottom: 25px !important;
}

.ml25 {
margin-left: 25px !important;
}

.mv25 {
margin-top: 25px !important;
margin-bottom: 25px !important;
}

.mh25 {
margin-right: 25px !important;
margin-left: 25px !important;
}

.ma25 {
margin: 25px !important;
}

.pt25 {
padding-top: 25px !important;
}

.pr25 {
padding-right: 25px !important;
}

.pb25 {
padding-bottom: 25px !important;
}

.pl25 {
padding-left: 25px !important;
}

.pv25 {
padding-top: 25px !important;
padding-bottom: 25px !important;
}

.ph25 {
padding-right: 25px !important;
padding-left: 25px !important;
}

.pa25 {
padding: 25px !important;
}

.mt30 {
margin-top: 30px !important;
}

.mr30 {
margin-right: 30px !important;
}

.mb30 {
margin-bottom: 30px !important;
}

.ml30 {
margin-left: 30px !important;
}

.mv30 {
margin-top: 30px !important;
margin-bottom: 30px !important;
}

.mh30 {
margin-right: 30px !important;
margin-left: 30px !important;
}

.ma30 {
margin: 30px !important;
}

.pt30 {
padding-top: 30px !important;
}

.pr30 {
padding-right: 30px !important;
}

.pb30 {
padding-bottom: 30px !important;
}

.pl30 {
padding-left: 30px !important;
}

.pv30 {
padding-top: 30px !important;
padding-bottom: 30px !important;
}

.ph30 {
padding-right: 30px !important;
padding-left: 30px !important;
}

.pa30 {
padding: 30px !important;
}

.mt35 {
margin-top: 35px !important;
}

.mr35 {
margin-right: 35px !important;
}

.mb35 {
margin-bottom: 35px !important;
}

.ml35 {
margin-left: 35px !important;
}

.mv35 {
margin-top: 35px !important;
margin-bottom: 35px !important;
}

.mh35 {
margin-right: 35px !important;
margin-left: 35px !important;
}

.ma35 {
margin: 35px !important;
}

.pt35 {
padding-top: 35px !important;
}

.pr35 {
padding-right: 35px !important;
}

.pb35 {
padding-bottom: 35px !important;
}

.pl35 {
padding-left: 35px !important;
}

.pv35 {
padding-top: 35px !important;
padding-bottom: 35px !important;
}

.ph35 {
padding-right: 35px !important;
padding-left: 35px !important;
}

.pa35 {
padding: 35px !important;
}

.mt40 {
margin-top: 40px !important;
}

.mr40 {
margin-right: 40px !important;
}

.mb40 {
margin-bottom: 40px !important;
}

.ml40 {
margin-left: 40px !important;
}

.mv40 {
margin-top: 40px !important;
margin-bottom: 40px !important;
}

.mh40 {
margin-right: 40px !important;
margin-left: 40px !important;
}

.ma40 {
margin: 40px !important;
}

.pt40 {
padding-top: 40px !important;
}

.pr40 {
padding-right: 40px !important;
}

.pb40 {
padding-bottom: 40px !important;
}

.pl40 {
padding-left: 40px !important;
}

.pv40 {
padding-top: 40px !important;
padding-bottom: 40px !important;
}

.ph40 {
padding-right: 40px !important;
padding-left: 40px !important;
}

.pa40 {
padding: 40px !important;
}

.mt45 {
margin-top: 45px !important;
}

.mr45 {
margin-right: 45px !important;
}

.mb45 {
margin-bottom: 45px !important;
}

.ml45 {
margin-left: 45px !important;
}

.mv45 {
margin-top: 45px !important;
margin-bottom: 45px !important;
}

.mh45 {
margin-right: 45px !important;
margin-left: 45px !important;
}

.ma45 {
margin: 45px !important;
}

.pt45 {
padding-top: 45px !important;
}

.pr45 {
padding-right: 45px !important;
}

.pb45 {
padding-bottom: 45px !important;
}

.pl45 {
padding-left: 45px !important;
}

.pv45 {
padding-top: 45px !important;
padding-bottom: 45px !important;
}

.ph45 {
padding-right: 45px !important;
padding-left: 45px !important;
}

.pa45 {
padding: 45px !important;
}

.mt50 {
margin-top: 50px !important;
}

.mr50 {
margin-right: 50px !important;
}

.mb50 {
margin-bottom: 50px !important;
}

.ml50 {
margin-left: 50px !important;
}

.mv50 {
margin-top: 50px !important;
margin-bottom: 50px !important;
}

.mh50 {
margin-right: 50px !important;
margin-left: 50px !important;
}

.ma50 {
margin: 50px !important;
}

.pt50 {
padding-top: 50px !important;
}

.pr50 {
padding-right: 50px !important;
}

.pb50 {
padding-bottom: 50px !important;
}

.pl50 {
padding-left: 50px !important;
}

.pv50 {
padding-top: 50px !important;
padding-bottom: 50px !important;
}

.ph50 {
padding-right: 50px !important;
padding-left: 50px !important;
}

.pa50 {
padding: 50px !important;
}
